[2022-01-19 07:52] yuxinyuan opened #71470 "torch.jit.script failed to compile nn.MultiheadAttention when specifying the kdim and vdim parameters."
### 🐛 Describe the bug

nn.MultiheadAttention cannot be correctly compiled by torch.jit.script when kdim and vdim are specified. Minimum code to reproduce the behavior:

[code]

Full error stack:

[code]

### Versions

PyTorch version: 1.9.0
Is debug build: False
CUDA used to build PyTorch: 10.2
ROCM used to build PyTorch: N/A

OS: Ubuntu 18.04.5 LTS (x86_64)
GCC version: (Ubuntu 7.5.0-3ubuntu1~18

[2022-01-19 08:36] Lezcano commented on #70122
Even then, it'd be good to know which matrix is this failing on, because it might be a matrix with 1e-8 as a singular value, and different algorithms may behave differently for such a matrix. Could you save the matrix you are using in the solver so that we can have a look at it?

[2022-01-19 08:48] Lezcano commented on #71385
It might be the case that this other issue is related https://github.com/pytorch/pytorch/issues/71384

[2022-01-19 08:53] Lezcano commented on #71204
We should either make both error out if `offset` is not in the range `[-n, n)`, or always return an empty tensor. I think erroring out would be a better behaviour, as this is what we do for most operations when `dim` is not in this range. wdyt @mruberry ?

[2022-01-19 09:08] Tengxu-Sun commented on #27212
Yeah, CPU is too slow.

[2022-01-19 09:09] Tengxu-Sun commented on #27212
Yeah, CPU is too slow.

[2022-01-19 09:17] fatbringer opened #71471 "libprotobuf build error when building pytorch1.5.0 from source"
### 🐛 Describe the bug

What i ran
[code]
using  https://codeleading.com/article/66694568504/ this as a guide.

Errros are as follows
[code]
and also

[code]

Other system information
[code]

deviceQuery output
[code]

Output from ```nvcc –version```
[code]

CUDA version
[code]

Output from uname -a
[code]

Output from “head -n 1 /etc/nv_tegra_release”
[code]

Understand that i am using a very rar

[2022-01-19 09:20] Lezcano commented on #28341
@tvercaut
Although this is not a solution for the general problem, and at risk fo stating the obvious, if you want to solve `(P @ P.T + S) X = B` you can do this by means of the Woodbury matrix identity as
`(A+PP^T)^{-1}B = A^{-1}(I - P(I + P^TA^{-1}P)^{-1} P^T A^{-1})B`.
If `P` is of size `n x k`, the formula above may me implemented associating the operations as (not tested!):
[code]
Note that t

[2022-01-19 09:28] TestSomething22 opened #71472 "`torch.nanmean` only expects input to have floating point"
### 🐛 Describe the bug

Based on the documentation of `torch.nanmean`, it is identical to `torch.mean()` when there are no NaN values in the input tensor. However, it only expects input to have floating point and complex tensor can have NaN.

[code]

[code]

### Versions

pytorch: 1.10.1

[2022-01-19 10:11] vadimkantorov commented on #71465
Related: https://github.com/pytorch/pytorch/issues/51455

[2022-01-19 10:17] jhoareau commented on #68407
@rohan-varma Do you have an update on this?

[2022-01-19 11:26] yuxinyuan commented on #71470
I think the issue comes from the following annotation in torch.nn.functional.multi_head_attention_forward
https://github.com/pytorch/pytorch/blob/b56ba296b1cb5d65a3fe2e33cc1d910481baa644/torch/nn/functional.py#L5084

When specifying kdim & vdim,  `use_separate_proj_weight` becomes true, and `in_proj_weight` becomes None. Changing `in_proj_weight: Tensor` to `in_proj_weight: Optional[Tensor]`, and

[2022-01-19 11:50] tvercaut commented on #28341
Thanks @Lezcano, that's indeed an option for the particular use case I mentioned. I think it would nonetheless be convenient to have generic linear operators with an iterative linear system solver as it may not always be easy or obvious to rewrite the system in such a way. Also, it would be interesting to compare the performance of the two paths as the iterative approaches only requires a single s

[2022-01-19 12:09] tvercaut commented on #69538
Thanks @Lezcano. Indeed, the decomposition may not be sparse but my understanding was that cuSOLVER and similar direct sparse solver maintained an implicit memory-efficient representation of the decomposition suitable for solving purposes which thus make them often useful in practice.

[2022-01-19 12:48] albertz commented on #18182
Why do you suggest `init.kaiming_normal_(layer.weight, mode='fan_out')` for `Linear` and `Conv*`? The standard Kaiming He init would use `fan_in`. You write:

But the `Linear` weight matrix is of shape (out_features, in_features), and fan_in = tensor.size(1) = in_features, fan_out = tensor.size(0) = out_features.

The `Conv{1,2,3}d` weight matrix is also not transposed and of shape (out_channels,

[2022-01-19 13:35] nebiyebulan opened #71473 "pytorch installation error with cuda!!"
### 🐛 Describe the bug

I installed torch and torchvision for jetson nano from this link. https://forums.developer.nvidia.com/t/pytorch-for-jetson-version-1-10-now-available/72048. With this command 'pip install torch==1.8.1+cu102 torchvision==0.9.1+cu102 torchaudio==0.8.1 -f https://download.pytorch.org/whl/torch_stable.html'
Looking in links: https://download.pytorch.org/whl/torch_stable.html'I

[2022-01-19 13:54] cpoptic commented on #67669
Looks like in the last 29 days maintainers updated the PyTorch website to exclude Python 3.10:

[2022-01-19 13:56] mikel-brostrom commented on #71402
Thank you for your time @davidberard98,

So, when I run:

`cmake -DCMAKE_PREFIX_PATH=/home/mikel.brostrom/Documents/libtorch ..`

linking to the CPU LibTorch version (https://download.pytorch.org/libtorch/cpu/libtorch-shared-with-deps-1.10.1%2Bcpu.zip)
I still get the error in my first post when running the app with `./example-app ../model.torchscript`. But when I run:

`cmake -DCMAKE_PREFIX_PATH=

[2022-01-19 14:35] TestSomething22 opened #71475 "The signature of `torch.nanmedian` in the doc is wrong"
### 📚 The doc issue

The signature of `torch.nanmedian` in the doc is wrong: `torch.nanmedian(input, dim=- 1, keepdim=False, *, out=None)` since `dim` is not optional

[code]

### Suggest a potential alternative/fix

`torch.nanmedian(input, dim, keepdim=False, *, out=None)`

[2022-01-19 14:46] mikel-brostrom commented on #71402
I found out what the issue was.

In my model I had one line of code that was causing the error:

    if torch.cuda.is_available():
        weight = weight.cuda()

If you have a look at the official documentation for trace (https://pytorch.org/docs/stable/generated/torch.jit.trace.html) you will see that

So, as I traced the model on a machine with GPU this operation was recorded and make it imposs

[2022-01-19 14:52] TestSomething22 opened #71476 "The signature of `Tensor.tile` in the doc is wrong"
### 📚 The doc issue

The signature of `Tensor.tile` in the doc is wrong: `Tensor.tile(*reps)`. But it should be `Tensor.tile(dims)` based on `torch.tile(input, dims)`

### Suggest a potential alternative/fix

`Tensor.tile(dims)`

cc @brianjo @mruberry

[2022-01-19 15:03] mikel-brostrom commented on #71402
One question is still unresolved. Why do I get this error:

[code]

When running:

`cmake -DCMAKE_PREFIX_PATH=/home/mikel.brostrom/Documents/libtorch_cuda ..`

where `/home/mikel.brostrom/Documents/libtorch_cuda` is the path to the CUDA LibTorch version (https://download.pytorch.org/libtorch/cu113/libtorch-shared-with-deps-1.10.1%2Bcu113.zip). Shouldnät CUDNN be included in the extracted LibTorch

[2022-01-19 15:51] TestSomething22 opened #71477 "`torch.cum{min,max}, torch.sort, argsort` do not check the `dim` when the input is 0-d tensor"
### 🐛 Describe the bug

`torch.cummin`, `torch.cummax`, `torch.sort` and `torch.argsort` do not check the `dim` when the input is 0-d tensor

[code]

[code]

### Versions

pytorch: 1.10.1

[2022-01-19 16:30] janeyx99 opened #71478 "DISABLED test_pointwise_op_fastpath__foreach_addcmul_cuda_int16 (__main__.TestForeachCUDA)"
Platforms: linux

This test was disabled because it is failing on master ([recent examples](http://torch-ci.com/failure/test_pointwise_op_fastpath__foreach_addcmul_cuda_int16%2C%20TestForeachCUDA)).

cc @ezyang @gchanan @zou3519 @bdhirsh @crcrpar @mcarilli @ngimel

[2022-01-19 16:37] vadimkantorov opened #71479 "[numpy compat] torch.stack doesn't support nested list+tensors (NumPy does support)"
### 🐛 Describe the bug

[code]
A simple alternative would involve two additional calls of `torch.stack` leading to memory overhead. A more contrived alternative is a single stack + reshape, but one should think to make sure that the tensors are provided in the flat list in the order consistent with reshape.

### Versions

1.9.1

cc @mruberry @rgommers

[2022-01-19 17:02] #71313 closed

[2022-01-19 17:03] davidberard98 commented on #71402
I'm not really sure whether cuDNN is expected to be packaged with pytorch.

Some options here would be:
1. Get cuDNN
2. Build pytorch from source (based on this error message "Your installed Caffe2 version uses cuDNN but I cannot find cuDNN", I'm guessing that if pytorch is built from source it will not expect cuDNN when you build your c++ binary)
3. Stop using cuda

Another option (in case you're

[2022-01-19 17:20] #6741 closed

[2022-01-19 17:21] #40267 closed

[2022-01-19 17:41] malfet commented on #62540
Sub-tasks : number of stale repos should be archived rather than renamed default branch
Candidates:
- dr-ci
- cppdocs
- ...

[2022-01-19 18:29] marziyemahmoudifar commented on #15645
I have a similar problem. But I could not use this solution. Can you help me?

[2022-01-19 18:35] cbalioglu commented on #64744
Considering that some CC backends have certain optimization paths for coalesced operations (e.g. for NCCL #62140), should we re-evaluate this proposal? Maybe offering the approach described here as a fallback API only for backends that don't have a special treatment for coalesced ops?

[2022-01-19 18:39] anjali411 commented on #71446
@Hanrui-Wang thanks for filing the issue! What are some of the operations or features that you would like to see supported for complex numbers in addition to the ones we already support?

[2022-01-19 18:41] anjali411 commented on #71446
Also I was browsing through the repo, and stumbled upon this: https://github.com/mit-han-lab/torchquantum/blob/05cf000d689307f6b1fe02d12744ad455685935b/torchquantum/utils.py#L34-L45 you can get rid of this function since the latest release of PyTorch has autograd support for `torch.diag`. Generally, if there's a missing functionality like this one, please file an issue on PyTorch repo and let us k

[2022-01-19 18:56] anjali411 commented on #71446
also a quick FYI: PyTorch has a `Timer` class for benchmarking which might be of interest for you since I saw you have your own `Timer` class defined here: https://github.com/mit-han-lab/torchquantum/blob/05cf000d689307f6b1fe02d12744ad455685935b/torchquantum/utils.py#L48-L66 Here's a tutorial on how to use the `PyTorch Timer` API: https://pytorch.org/tutorials/recipes/recipes/timer_quick_start.htm

[2022-01-19 18:57] #65394 closed

[2022-01-19 19:01] navahgar commented on #67646
I looked into for a while last month, but couldn't repro it in any of my runs of the fuser tests.

It is not even clear if this is related to the fuser tests. I got a SIGIOT error in one of my PRs yesterday (https://github.com/pytorch/pytorch/runs/4862692255?check_suite_focus=true) and that happened in `test_linalg`.

[2022-01-19 19:08] suo commented on #67646
@navahgar I think the large number of test failures specific to `test_jit_fuser_te` is heavily suggestive of a fuser issue. There may be other issues (e.g. with `test_linalg`) which we can deal with separately.

What did you try for reproing? Is there someone else we should bring in to help? This issue has been ongoing for several months and I would like to get it resolved.

[2022-01-19 19:11] #71208 closed

[2022-01-19 19:21] navahgar commented on #67646
I have tried running these tests on my local machines, devservers, as well as some of the CI machines where the error was reported. I have also gone back to look at some of the "potential" PRs that landed around the time this issue started (including the ones suggested above) and tried with and without them.

@eellison @Krovatkin @ZolotukhinM any other suggestions to track this down?

[2022-01-19 19:24] suo commented on #67646
Can we try stress running the tests (like 100x), or installing a sigiot handler in the CI machines to print more information? We really need to get to the bottom of this, both for CI reliability and to ascertain whether there is an issue with the fuser itself.

[2022-01-19 19:35] suo commented on #67646
Another option is to try to save coredumps from sigiot terminated processes. @malfet, is there any existing way to get coredumps from the CI?

[2022-01-19 20:06] ZolotukhinM commented on #67646
Do we have a setup to run asan/tsan/ubsan on the CI machines where the failures happened?

[2022-01-19 20:19] suo commented on #67646
hmmm, not beyond doing it manually with ssh. The issue is that asan requires a rebuild, so we can't really do it preemptively

[2022-01-19 20:41] Masterchef365 commented on #70882
@davidberard98 I'm afraid I couldn't get that to work; I made a branch `python3-libs` in [my repo](https://github.com/Masterchef365/pytorch_issue_repro/tree/python3-libs) to try out that solution. I also tried with specifically the `libpython3.7-dev` package to no avail. Are there other libraries I need to link?

[2022-01-19 20:43] albanD commented on #71362
AFAIK, anything that isn't symmetric zero padding always does pad+op (where op is conv/pooling etc).
So it is actually doing the padding in most cases.

It would be a significant amount of work to have kernels that handle all these special padding. I don't think we have anyone on the core side working on that.

[2022-01-19 20:50] anjali411 commented on #71108
@v0dro that sounds like a good plan! I guess the idea is to compute convolutions using four real convolutions `Wx+b = (W1 + W2j) * (x1 +x2j) = (W1 * x1 -W2*x2) + (W1*x2 + W2*x1)j + (b1+b2)j` Two convolutions with non-zero bias and two with zero bias?

[2022-01-19 20:54] anjali411 commented on #70495
We disabled `real` and `imag` for real tensors back when we were initially adding support for complex with the thought that we can always enable it if there's a real need which there seems to be as @Lezcano mentioned. Is anyone working on creating a PR for it? If not, I can go ahead and create one.

[2022-01-19 21:06] seyeeet commented on #71272
Hi
The code is quite large, I will try to provide some example, but it needs more time on my side to clear things out.
My observation is that so far it happens randomly, like if I change the seed that may or may not happen.
Cannot wrap my head if it is pytorch or cudatoolkit or cuda issues TBH

[2022-01-19 21:08] eellison commented on #54612
cc @gmagogsfm - this came up here https://app.slack.com/client/T2077MDKQ/CDZD1FANA/thread/CDZD1FANA-1642035441.003700. Would it be possible to either give recommended workaround or direct steps for a fix if we don't have the bandwidth ourselves ? cc @anjali-chadha

[2022-01-19 21:30] Lezcano commented on #70495
I don't think anyone is working on this afaik

[2022-01-19 21:36] albanD commented on #71108
I think that is a good first step: a composite op that uses view_as_real and real convolution.
If we want to be extra fancy, for W = Wr +i Wi etc:
`conv(W, x, b) = conv(Wr, xr, br) - conv(Wi, xi, 0) + i(conv(Wi, xr, bi) + conv(Wr, xi, 0))`
But also with gauss trick:
`a = conv(Wr, xr, br)`, `b = conv(Wi, xi, 0)` and `c = conv(Wr + Wi, xr + xi, bi - br)` we can have `conv(W, x, b) = a - b + i(c -a -

[2022-01-19 21:36] trzy opened #71495 "Memory Leak in PyTorch 1.10.1"
### 🐛 Describe the bug

PyTorch is leaking CUDA memory. I have a model (Faster R-CNN) that produces a tensor called 'proposals' that is computed from the output of a model stage and then detached from the graph before being used as input into another stage. Both of these stages have trainable weights but the key is that 'proposals' should be treated as a constant.

I've created a gist: https://gis

[2022-01-19 21:48] janeyx99 opened #71496 "DISABLED test_auto_wrap_smoke_test_fsdp_init_mode_FSDPInitMode_CUDA_BEFORE_cpu_offload_CPUOffload(offload_params=False) (__main__.TestAutoWrap)"
Platforms: linux

This test was disabled because it is failing on master ([recent examples](http://torch-ci.com/failure/test_auto_wrap_smoke_test_fsdp_init_mode_FSDPInitMode_CUDA_BEFORE_cpu_offload_CPUOffload(offload_params%3DFalse)%2C%20TestAutoWrap)).

@rohan-varma similar to the other distributed tests that have become flaky lately?

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera

[2022-01-19 21:48] janeyx99 commented on #71496
@rohan-varma  also is it intended for the test names to be this long?

[2022-01-19 22:02] davidberard98 commented on #70882
Is it the same error as before?

[2022-01-19 22:12] ejguan commented on #1551
Thanks for posting the script. I can reproduce such issue. This can be related to worker process (data queue) is closed before `pin_memory_thread`. I will take a deeper look tomorrow.

[2022-01-19 22:17] bdhirsh commented on #70160
It looks like this only happens on cuda. I ran `build/bin/op_registration_test` with a cuda build and I'm seeing that failure now.

Which is strange, because the kernel registrations in the cpp file and cuda file look really similar (https://github.com/pytorch/pytorch/blob/f45e217c0158c247772f6491a18662cc972c29cd/torch/csrc/distributed/c10d/quantization/quantization_gpu.cu#L151)

[2022-01-19 22:30] Masterchef365 commented on #70882
Yep, here's a log including the container used, the packages installed on it (`libpython3.7-dev`) and with `set( CMAKE_VERBOSE_MAKEFILE on )` so the linker args are shown on line 427. I'm very surprised your suggestion did not work, it seemed to be the right way to go.
[log.txt](https://github.com/pytorch/pytorch/files/7900944/log.txt)

[2022-01-19 22:49] davidberard98 commented on #70882
Possibly an issue with linker order? Try running the target_link_libraries in different orders. e.g. if `$TORCH_LIBRARIES` depends on python, it should appear before `$PYTHON_LIBRARIES`

[2022-01-19 22:52] Masterchef365 commented on #70882
I swapped the order from `target_link_libraries(test_op "${PYTHON_LIBRARIES}" "${TORCH_LIBRARIES}")` to
`target_link_libraries(test_op "${TORCH_LIBRARIES}" "${PYTHON_LIBRARIES}")` with no effect

[2022-01-19 23:02] davidberard98 commented on #70882
can you also try changing the order relative to `target_link_libraries(test_op add_one)` ?

looking at the most logs, we can see that `-ltorch_python` is linked with `add_one`, and then `-lpython3.7m` appears before `-ladd_one`. I'm thinking that if you can get `-ladd_one` to appear before `-lpython3.7m`, the issue will be solved

[2022-01-19 23:11] Masterchef365 commented on #70882
I've changed the CMakeLists.txt to reflect this, same error:
`target_link_libraries(test_op add_one "${TORCH_LIBRARIES}" "${PYTHON_LIBRARIES}")`.
Resulting linker command:
[code]
TL;DR  -ladd_one -lpython3.7m -l\<various torch libs\>

I also tried
`target_link_libraries(test_op add_one "${TORCH_LIBRARIES}" "${PYTHON_LIBRARIES}")` on the offchance that it works the other way around.

[2022-01-19 23:23] malfet commented on #67646
@ZolotukhinM we have ASAN tests, but it never hits ASAN for some reason.

[2022-01-19 23:25] #67626 closed

[2022-01-19 23:39] smhooten commented on #71149
@fritzo I called your `debug_memory()` function at the end of each iteration in the following way:

[code]

Output is shown below. None of the counts appear to be increasing.
[code]

[2022-01-20 00:05] davidberard98 commented on #70882
sorry, not able to repro this on my side right now and don't have many other ideas here

I'd suggest looking into why the linker is still unable to find all those references. You can use `ldd` to find out which libraries/binaries are expecting other libraries, and you can use `nm -DC` to see if the symbols exist in the libraries where they are expected to be found.

[2022-01-20 00:18] smhooten commented on #71149
@fritzo I found a lead with the issue. It is rather surprising because it is related to merely the order in which I import numpy in my python script relative to pytorch...

Here are two new minimum examples where I no longer make use of any numpy functions (I just import numpy at the top of my script). In the first one, I import numpy before torch, and we see memory growth. In the second, I import

[2022-01-20 01:05] Xia-Weiwen commented on #65320
Kernel size is determined by input not fixed as 1x1 in model **DPN68**. This model cannot be quantized by FX with this issue.

[2022-01-20 01:13] ArturB opened #71518 "Build from source on Fedora 35 with CUDA 11.6: <<parameter packs not expanded with ‘...’>>"
### 🐛 Describe the bug

## Problem description
Compilation of PyTorch from source on Fedora 35 (with CUDA 11.6 support) results in following error:
[code]
The same happens, when compiling any CUDA extension on precompiled PyTorch, as installed from Anaconda pytorch channel.

## Steps to reproduce
1. Clone this repo.
2. Create conda environment, using following environment file:
[code]
3. Activate

[2022-01-20 01:32] OverLordGoldDragon commented on #71362
I haven't benched, but if that's the case, fair enough. Unless required for backprop, it could really benefit performance to "pad without padding" where possible.

[2022-01-20 01:32] #71362 closed

[2022-01-20 01:38] Xia-Weiwen commented on #68581
Close this issue since it's been solved by https://github.com/pytorch/pytorch/pull/68852

[2022-01-20 01:38] #68581 closed

[2022-01-20 01:49] rohan-varma commented on #71496
Looking into it - though the test name is long because of the @parametrize decorator which autogenerates tests: https://github.com/pytorch/pytorch/blob/master/test/distributed/fsdp/test_wrap.py#L318

[2022-01-20 02:17] #66444 closed

[2022-01-20 02:28] abhamedewar commented on #69444
Hi is the issue still open? I want to contribute!!!

[2022-01-20 02:30] abhamedewar commented on #58122
Hey @ansley, I am new to open source contribution and would like to contribute. Will you be able to guide me?
Is this issue still needs to be worked on?

[2022-01-20 03:01] wukong1992 commented on #59905
I would like take some time to implementing this. I have a doubt, how to check the parent-child releationship of two nodes, I didn't find any present code for this. Now only exist prev() and after(). When use this batchmm, the first return result cann't be the input node for the second addmm func. @eellison

[2022-01-20 03:27] fatbringer commented on #30664
Hi may i know what is the command for non-conda versiosn of python ?
With regards to
[code]

Is it simply
pip install torch+cu90 torchvision+cu90
for cuda 9.0 ?

[2022-01-20 03:51] bibhabasumohapatra commented on #71272
@seyeeet can you check that . . . in train are you updating with optimizer.step() . . . I think you might have missed that.     `zero_grad()` and `.step() `   are easy to miss

[2022-01-20 04:28] fatbringer commented on #30664
@mzhadigerov i think if you dont have a GPU, you wont be able to use CUDA at all. Since CUDA is something that comes with NVIDIA GPUs

[2022-01-20 05:13] the-praxs commented on #30664
Yes,  youu need to have a NVIDIA GPU to be able to use CUDA. PyTorch-CPU will work fine.

[2022-01-20 05:17] the-praxs commented on #30664
Please refer to PyTorch installation page for the command of the appropriate PyTorch version.

[2022-01-20 06:23] TestSomething22 opened #71541 "`torch.sub` behaves differently with `add`, `mul`, `div`"
### 🐛 Describe the bug

`torch.sub` behaves differently with `add`, `mul`, `div`. For example,

[code]

I think `div` should be consistent with other 3 operations.

### Versions

pytorch: 1.10.1

[2022-01-20 06:24] collinmccarthy commented on #34951
This feature would be awesome for many different sparsity-based algorithms. Thanks for your work on this!

[2022-01-20 06:32] jiayisuse commented on #70654
Thanks for coming up with this RFC.

1. Which version of torch-ucc are we going to use? I remember we will use https://github.com/openucx/torch-ucc?
2. UCC could call into NCCL and UCX. Could you describe the usage of UCC->NCCL TL in PG NCCL use case? UCC will just handle non-GPU case or will handle GPU as well?
3.

USE_NCCL_WITH_UCC will default to ON
If USE_NCCL_WITH_UCC is OFF, `uccLib_` would

[2022-01-20 06:36] jonahclarsen commented on #71391
@jbschlosser

On 1.6.0-debug+cpu, the error I see:
![image](https://user-images.githubusercontent.com/97376233/150285259-9ce3611f-d91b-4055-acae-60e59592828c.png)

And the stack trace:
 	[External Code]
 	vcruntime140d.dll!00007ff8a5b1b460()	Unknown
 	torch_cpu.dll!at::native::view(const at::Tensor & self, c10::ArrayRef<__int64> size) Line 1569	C++
 	torch_cpu.dll!at::CPUType::view(const at::Tenso

[2022-01-20 06:45] TestSomething22 commented on #71477
`torch.sort` also does not check `dim` when the input is 0-d tensor.

[2022-01-20 06:50] #62029 closed

[2022-01-20 07:15] cowwoc opened #71543 "Initialize DataLoader workers in parallel"
### 🚀 The feature, motivation and pitch

Currently, DataLoader workers seems to get initialized sequentially. I'm looking at `persistent_workers` but I suspect the same applies for for the non-persistent kind.

Some DataLoaders are expensive to initialize (e.g. establish a database connection or fire an expensive query).

Consider initializing all workers in parallel so expensive initialization co

[2022-01-20 07:53] mikel-brostrom commented on #71402
Both the CPU and CUDA version of LibTorch seem to contain some cudnn related stuff

[code]

[code]

1. I downloaded cudnn here: https://developer.nvidia.com/rdp/cudnn-download and installed it. However, when I run `which nvcc` to check whether CUDNN was installed correctly or not I get `nvcc not found`
2. Will try this in case that nothing else works
3. I don't have any CUDA related stuff in my C+

[2022-01-20 07:57] Puranjay-del-Mishra commented on #71479
Hello.
I feel the error is obvious, as the torch.stack concatenates a sequence of tensors into a pytorch tensor. It received a list of lists which is why it throws this error.

[2022-01-20 08:34] aaronzs opened #71544 "Typo in torch.optim.lr_scheduler.LinearLR example"
### 📚 The doc issue

Line 6 in the example of the LinearLR scheduler, the `lr` should be `0.05` rather than `0.005`.

https://pytorch.org/docs/stable/generated/torch.optim.lr_scheduler.LinearLR.html#torch.optim.lr_scheduler.LinearLR

[code]

### Suggest a potential alternative/fix

`lr = 0.005` -> `lr = 0.05`

cc @brianjo @mruberry @vincentqb @jbschlosser @albanD

[2022-01-20 08:58] urbste opened #71545 "pip installation SSLError [SSL: CERTIFICATE_VERIFY_FAILED]"
### 🐛 Describe the bug

I currently can not install pytorch via pip. I am getting a SSLError.
I found a related closed issue: https://github.com/pytorch/pytorch/issues/33292

Using https://s3.amazonaws.com/pytorch/whl/torch_stable.html instead of https://download.pytorch.org/whl/torch_stable.html works, so I am guessing that the certificate expired again for latter URL?

Looking in links: https://

[2022-01-20 09:29] rgommers commented on #71479
I'm pretty sure this is a wontfix, PyTorch functions should not be accepting lists as input.

There are multiple alternatives, like `torch.tile(a, (2, 4, 1))`.

[2022-01-20 09:29] #71479 closed

[2022-01-20 09:43] vadimkantorov commented on #69524
It seems that torch.clamp now supports both scalar and vector min/max arguments and supports broadcasting. I'm not sure if it supports differentiating through min/max arguments.

Could torch.maximum / torch.minimum just redirect to torch.clamp? (and maybe all of them should support differentiation through min/max although that could be forward compat breaking)

[2022-01-20 09:45] zgplvyou opened #71547 "An #define error in THC"
### 🐛 Describe the bug

I try to understand c++ extension of torch.FloatStorage and torch.FloatTensor class, I found

In aten/src/THC/THCGenerateFloatType.h  line 10 : #define CReal Cuda. while in other file:
In aten/src/THC/THCGenerateCharType.h  line 10 : #define CReal CudaChar；
In aten/src/THC/THCGenerateIntType.h  line 10 : #define CReal CudaInt；
In aten/src/THC/THCGenerateDoubleType.h  line 1

[2022-01-20 09:52] vadimkantorov commented on #71479
This is a straw suggestion. In practice all the tensor sub-arguments are different (otherwise tile is of course the right solution). I found this issue by upgrading to torch a real-world use-case: https://github.com/open-mmlab/mmdetection/blob/a32d7d40bfe2277f255bf71911a27a76ff871eb2/mmdet/datasets/pipelines/auto_augment.py#L433

Not sure what you mean. torch.stack is already accepting lists as in

[2022-01-20 10:14] jnulzl commented on #40961
Hi @CaichaoGitHub and all others

# Linux libtorch 1.4.0 ~ 1.10.1 gpu version url

- cxx11 ABI

[code]

- Pre-cxx11 ABI

[code]

# Win libtorch 1.4.0 ~ 1.10.1 gpu version url

**Win libtorch url is similar to Linux's *Pre-cxx11 ABI* , such as libtorch 1.10.1:**

- Linux libtorch 1.10.1(Pre-cxx11 ABI)

CUDA 10.2 : https://download.pytorch.org/libtorch/cu102/libtorch-shared-with-deps-1.10.1%2Bcu102.

[2022-01-20 10:44] to-mi commented on #71415
Indeed I only worked on the 2D case. Probably it would be possible to do similar fix for 3D, but I haven't look at the code for those.

If this is the case, I wonder how easy it would be to have a special case for input not requiring gradient (which is the case I'm interested in)
Why would the input require gradient for this operation ? The operation is not in place so the input is not modified th

[2022-01-20 10:57] coolteemf commented on #71415
I have partially implemented this workaround already (bounding box of max displacements) but still the backward pass remains too long.
Anyways, thank you for your answer, I'll try to fix the 3D case.

[2022-01-20 11:12] mszhanyi commented on #71079
@long-senpai
any progress?
It looks not a JIT issue.
I'll close it next week.

[2022-01-20 12:39] vadimkantorov commented on #69359
Maybe `nan*` versions could be overturned for the purpose of general masked operators!

[2022-01-20 12:54] janvainer opened #71548 "Support freezing of models containing ModuleContainerIndex"
### 🚀 The feature, motivation and pitch

Architectures such as normalizing flows require reverse iterations over `nn.ModuleList` and non-literal indexing. Torchscript does not support non-literal indexing, but there is a trick - by using  the `torch.jit.interface` decorator for the problematic modules, the network can be torchscripted eg as follows:

[code]

But freezing the torchscripted model ra

[2022-01-20 13:19] kentanabe opened #71549 "ONNX: Wrong output shape for ceil_mode Pooling"
### 🐛 Describe the bug

Output shape in the ONNX file exported for the following dummy model using with ceil_mode AvgPooling2d is wrong size.

[code]

### Output

[code]

Output shape of ONNX file is bigger than PyTorch model.

### Remarks

It happens only ONNX opset version larger equal than 10.

### Versions

Collecting environment information...
PyTorch version: 1.10.1+cu102
Is debug build: Fal

[2022-01-20 14:29] tz579 commented on #71518
Exactly the same problem here.

[2022-01-20 14:37] utkusaglamlinarit commented on #17023
I also tried this.The phone solved my issue

[2022-01-20 14:38] utkusaglm commented on #17023
I also tried phone and it solved my issue

[2022-01-20 14:42] vvalouch commented on #68598
I am testing conversion to torch script and I am getting the same exception. PyTorch 1.10, Transformer 4.15.0
[code]

It seems to be related to https://github.com/huggingface/transformers/blob/f00f22a3e290fd377b979124dcf9800b3d73eb11/src/transformers/models/layoutlmv2/modeling_layoutlmv2.py#L861 . Is it really intended to update original input_shape?

[2022-01-20 14:49] tmarkovich opened #71550 "Assert Tripped in cross entropy when using expanded tensor"
### 🐛 Describe the bug

[code]

This code block throws the following errors
[code]

This code runs fine on PyTorch 1.9 but throws the above errors on 1.10.

### Versions

[code]

cc @ezyang @gchanan @zou3519 @bdhirsh

[2022-01-20 14:49] tmarkovich commented on #71550
<img width="1088" alt="Screen Shot 2022-01-20 at 9 34 47 AM" src="https://user-images.githubusercontent.com/339699/150361799-6d55f019-9ae2-4d64-867d-6aed80f119b7.png">

[2022-01-20 14:56] mostmand commented on #71518
I have the same problem. The only difference is that my CUDA toolkit version is 11.5.1.

[2022-01-20 15:06] vadimkantorov opened #71552 "[docs] Tensor.uniform_ supports generator argument, but it is not documented"
### 🐛 Describe the bug

https://pytorch.org/docs/stable/generated/torch.Tensor.uniform_.html?highlight=uniform_#torch.Tensor.uniform_

It may also be nice if torch.rand was extended to allow for from-to arguments (i.e. to have a more convenient uniform random tensor factory function)

I've searched issues for this, but couldn't found an existing issue quickly. Please feel free to close if duplicat

[2022-01-20 15:11] CaoHoangTung commented on #21819
I'm having a same issue in a multi-gpu cluster (8xA100). My script ran fine on cuda:0, but encountered an error when using another card id
`RuntimeError: CUDA error: an illegal memory access was encountered`

[2022-01-20 15:13] dongZheX commented on #21819
I just update my cuda version to 11.3 and pytorch version to 1.10. this problem is fixed.

| |
董喆
|
|
***@***.***
|
签名由网易邮箱大师定制
On 1/20/2022 ***@***.***> wrote：

I'm having a same issue in a multi-gpu cluster (8xA100). My script ran fine on cuda:0, but encountered an error when using another card id
RuntimeError: CUDA error: an illegal memory access was encountered

—
Reply to this email directly,

[2022-01-20 16:02] janeyx99 opened #71553 "DISABLED test_interval_stat (__main__.TestMonitor)"
Platforms: win

This test was disabled because it is failing on master ([recent examples](http://torch-ci.com/failure/test_interval_stat%2C%20TestMonitor)).

@d4l3k since you added these tests a week ago! (r u a dr. who fan btw?)

cc @ezyang @gchanan @zou3519 @bdhirsh

[2022-01-20 16:18] cbalioglu commented on #70667
See #68226 as well.

[2022-01-20 16:25] ejguan commented on #1551
I believe the issue is only triggered for the case that both `persistent_workers` and `pin_memory` are turned on and iteration is terminated at the time that worker is sending data to queue.
First, persistent worker would keep iterator with workers running without proper cleaning up (using `__del__` in `_MultiProcessingDataLoaderIter`. And, if any background worker (daemon process) is terminated w

[2022-01-20 16:33] seyeeet commented on #71272
@bibhabasumohapatra thanks for double checking. `zero_grad` and `.step` are being used in the correct version and there were no missing on them

[2022-01-20 16:41] ipostr08 commented on #18631
I've benchmarked deepernewbie's solution but unfortunately it seems to be a little slower than the default group convolution implementation for me. I don't think a Python solution can work here. The optimization would have to be through an efficient CUDA kernel.

[2022-01-20 16:50] seemethere commented on #69730
The "no module named 'torch'" error is usually a red herring, the actual error for @mruberry's instance is an issue with downloading miniconda3:

[code]
https://github.com/pytorch/pytorch/runs/4830164531?check_suite_focus=true#step:10:145

[2022-01-20 16:51] janeyx99 commented on #69730
Ah, let me add a dumb retry for `curl` for now with the intention of replacing with a better retry system

[2022-01-20 17:01] d4l3k commented on #71553
Taking a look

[2022-01-20 17:07] mruberry commented on #68739
Update from meeting offline: let's fix this and manually verify the fix, but we don't have a good idea for automated testing of this property at this time.

In the future we might be able to create a debug mode that verifies the GIL is not held when calling CUDA kernels, but that's a separate issue.

[2022-01-20 17:17] zou3519 commented on #71547
The files you've referred to no longer exist: https://github.com/pytorch/pytorch/tree/master/aten/src/THC so we've fixed this issue

[2022-01-20 17:19] zou3519 commented on #71545
What command are you using to install pytorch?

[2022-01-20 17:25] malfet commented on #69948
I believe issue should be resolved now by number of PR ending in https://github.com/pytorch/pytorch/pull/71390

[2022-01-20 17:25] #69948 closed

[2022-01-20 17:26] zou3519 commented on #71477
This seems like a bug; we'd accept a PR fixing it.

[2022-01-20 17:28] zou3519 commented on #71471
What version of PyTorch are you trying to build?

[2022-01-20 17:29] zou3519 commented on #71541
This seems intentional, if you want to use the bool `b` as a integer you can cast it with `int(b)`

[2022-01-20 17:53] janeyx99 opened #71563 "GHA: Use retryable steps"
### 🚀 The feature, motivation and pitch

Today we have a lot of retries that we just tack onto certain flaky calls, and we are forever whack-a-moling additional flaky commands with these "dumb" retries.

We should investigate the idea of a retryable GHA step (like here https://github.com/marketplace/actions/retry-step) and have a bigger retry framework.

For example: https://github.com/pytorch/pyt

[2022-01-20 17:53] zasdfgbnm commented on #70654
Re @jiayisuse

I believe we have to use the master branch of `torch-ucc`. Because I don't think the `torch-ucc` today will just work for all unit tests. For example, I am seeing failures in `_torch_profiler` and `_autograd_profiler` tests when I try to enable them. I expect that in the process of enabling tests, I will need to fix `torch-ucc` many times, and every time the fixed `torch-ucc` needs

[2022-01-20 18:00] UlrichFreitag commented on #68425
Is there any news on this issue? :smiley:

[2022-01-20 18:06] nikitaved commented on #68425
Can we just modify the forward to mask out relevant parts?

[2022-01-20 18:11] d4l3k commented on #71553
[code]

test seems to be flaky on windows, potentially due to looser timings. currently using a 1ms window and sleeping for 2 ms.

https://stackoverflow.com/questions/1133857/how-accurate-is-pythons-time-sleep per this windows consistently undershoots the target sleep length

[2022-01-20 18:26] nikitaved commented on #68425
@cpuhrsch , yes! But, apparently, this does not work either...

[2022-01-20 18:27] cpuhrsch commented on #68425
@nikitaved The reason this doesn't work is because nan's [propagate through multiplication](https://en.wikipedia.org/wiki/NaN#Operations_generating_NaN).

[2022-01-20 18:28] tmarkovich commented on #71550
It seems to have worked in pytorch 1.9. Looking at the git-blame for Loss.cu, it appears that there was a relatively large rewrite to it a few months back -- perhaps that's the issue?

[2022-01-20 18:37] mruberry commented on #71476
Thanks for reporting this issue, @TestSomething22. We would accept a PR fixing this.

[2022-01-20 18:38] mruberry commented on #71552
Thanks for reporting this issue, @vadimkantorov. We would accept an update improving the documentation.

[2022-01-20 18:44] nikitaved commented on #68425
@cpuhrsch , I still do not understand where nans creep from in this particular case unless autograd is generating empty/nan parts.
[code]

[2022-01-20 18:55] navahgar commented on #67646
I have run stress tests as well as asan / tsan on these tests on my devserver.. not been able to repro this so far.

[2022-01-20 19:03] cpuhrsch commented on #68425
In this case ```mask * torch.exp(a)``` will have a NaN. And yes, look at the derivatives for each operation as well to gain a sense for what's going on here.

[2022-01-20 19:11] maxwell-aladago opened #71572 "Can't except IndexError when indexing a CUDA Tensor with a Tensor"
### 🐛 Describe the bug

Unlike the the normal behavior of throwing an `IndexError` when the index is out-of-bounds, a highly uninformative device-side assert is triggered when data `tensor` is in `CUDA` and the indexing variable is a `Tensor`.  This makes it impossible to catch the error by excepting `IndexError`.

**Reproducing Error**

[code]
Instead of an `IndexError`, the program returns the f

[2022-01-20 19:17] Lezcano commented on #68425
I always thought that the backward for `torch.where(mask, x, y)` could be implemented by doing:
`torch.masked_scatter(grad_y, torch.masked_select(grad_x, mask))`
And it may be even faster?

[2022-01-20 19:23] nikitaved commented on #68425
Or that. I still believe we can solve this issues with the tools we have at our hands.

[2022-01-20 19:52] mruberry opened #71574 "Better Engineering: Create test_dlpack"
Currently dlpack tests are in test_torch.py, a catch-all for core PyTorch components. It would be organizationally useful to separate them to their own test suite.

cc @mruberry

[2022-01-20 19:54] mruberry opened #71575 "Better Engineering: test_..._mem_overlap in test_torch.py should be ported to ErrorInputs"
These tests, like `test_shift_mem_overlap`, are ideal candidates to be converted to ErrorInputs. This would also let other systems verify they handle these operations properly.

[2022-01-20 20:05] maxwell-aladago commented on #71572
When the tensors are big, it kills `cuda` without reporting it until an attempt is made to access the device. For example,

[code]

[2022-01-20 20:48] cpuhrsch commented on #68425
@Lezcano @nikitaved - but maintaining an additional mask, until it's not required anymore, seems more efficient than these scatter and select operations. The gradient that's coming in torch.where also becomes a lot simpler. We don't even need to call where anymore and fill the places with zeros that weren't used in the forward. We just keep the mask.

Sure we need additional memory (one bit per el

[2022-01-20 21:08] philipturner commented on #47702
I’m adding support for subclassing Python objects to PythonKit. This is a game-changer, because you can use the full PyTorch API from Swift.

Also, it means you can call Swift code from Python. And that means you can call into MPSGraph without modifying PyTorch’s code. You have to learn to use PyTorch from a Swift script, not a Python script, though.

Once I’m finished with support for subclassing

[2022-01-20 21:21] philipturner commented on #47702
Also, could someone look into the parallels between Swift for TensorFlow and PyTorch? If we can make a reasonably performant wrapper around PyTorch that uses Swift's automatic differentiation, I could use Torch's future Metal acceleration as a testing ground for S4TF.

[2022-01-20 21:23] ngimel commented on #68425
@cpuhrsch why are you doing `exp(mask*a)`? shouldn't it be `exp(a) * mask`? If I'm doing `exp(a)* mask` I'm getting a nan gradient, as expected.

[2022-01-20 21:27] Lezcano commented on #68425
My comment didn't make much sense, sorry. And yes, I don't see how this could be mitigated with what we currently have.

[2022-01-20 21:42] jbschlosser commented on #65018
Dynamically generating a Parameter subclass per custom tensor type has at least one problem: such classes cannot be pickled because they are not defined at the top level. See [here](https://docs.python.org/3/library/pickle.html#what-can-be-pickled-and-unpickled) for restrictions on what can be pickled and [here](https://stackoverflow.com/a/15247892) for a terrible hacky way to inject the generated

[2022-01-20 21:44] nikitaved commented on #68425
@cpuhrsch , unfortunately, this approach will not work for non-linear functions of which exp is the example. But even with masking there is still a question of propagating through `inf * 0`.

[2022-01-20 21:44] ngimel commented on #71550
This is fixed in 1.10.1. nightlies and master, please reopen if you still see the issue after updating.

[2022-01-20 21:44] #71550 closed

[2022-01-20 21:57] mruberry commented on #70454
Thank you for reporting this issue, @lithuak. We would accept a PR fixing the local docs build or the instructions for how to build the docs locally.

[2022-01-20 21:59] #64902 closed

[2022-01-20 22:05] mruberry commented on #71210
We should solve this while/by fixing https://github.com/pytorch/pytorch/issues/61585.

[2022-01-20 22:06] mruberry commented on #71209
Our reduction signatures are frequently a mess and it would be great to fix them. We would definitely accept a PR fixing this, but we need to be careful it's not accidentally BC-breaking.

[2022-01-20 22:11] #48904 closed

[2022-01-20 22:13] #45446 closed

[2022-01-20 22:13] #41568 closed

[2022-01-20 22:29] suo opened #71592 "Merge to master currently blocked"
## Current Status
ongoing

## Error looks like
Merges through fbcode are currently not getting propagated to master

## Incident timeline (all times pacific)

- 1/20 1:05p https://github.com/pytorch/pytorch/commit/5ed8d0dfae6dcf8bacaf6e4229e7b40b5c2b2446 fbsync merge to master fails

## User impact
Can't merge to master.

## Root cause
*What was the root cause of this issue?*

## Mitigation
@seeme

[2022-01-20 22:31] #71553 closed

[2022-01-20 22:39] rohan-varma opened #71595 "Optimizer Overlap: Follow up features"
### 🚀 The feature, motivation and pitch

A process to overlap optimizer + allreduce in DDP is being implemented as described in https://github.com/pytorch/pytorch/issues/67570, although as a prototype feature there is limited support for some use cases. This issue exists to maintain a list of currently missing features and track demand for them:

- [ ] Supporting registering of multiple optimizers

[2022-01-20 22:41] markisus commented on #28478
Haven't tried the new pytorch version myself, but I'll close this out since people are reporting it fixed. Thanks pytorch team!

[2022-01-20 22:41] #28478 closed

[2022-01-20 22:53] mrshenli commented on #71303
I guess the approach might depend on the scope. If you only care about DDP stragglers, having a custom comm hook totally makes sense. If you would like to cover all collective-based features (DDP/ZeRO/FSDP), having a context manager might be more generic. It can be sth like below, where `sd.summary()` can tell how much time is wasted due to straggler on each process.

[code]

[2022-01-20 22:57] rgommers commented on #24507
The last open checkboxes were all done already. 280/280 ported, let's declare victory here 🎉

[2022-01-20 22:57] #24507 closed

[2022-01-20 22:59] malfet commented on #71592
Filed CI ticket: https://support.github.com/ticket/personal/0/1470467

[2022-01-20 23:41] fritzo commented on #71149
Since the number of `Tensor`s reported by `debug_memory()` remains constant despite memory increase, my guess is that this is a lower-level C++ memory leak issue exercised by one of the numeric ops in `MultivariateNormal`, probably one of the linear algebra obs.

Can anyone with more C++ / aten familiarity comment?

[2022-01-20 23:49] malfet commented on #71592
Seems mitigated, see https://github.com/pytorch/pytorch/actions/workflows/syncbranches.yml

[2022-01-20 23:49] #71592 closed

[2022-01-21 00:25] TestSomething22 opened #71610 "`torch.linalg.solve` INTERNAL ASSERT FAILED"
### 🐛 Describe the bug

`torch.linalg.solve` can trigger INTERNAL ASSERT FAILED randomly. For example,

[code]
You should run the code a few times to trigger the internal fail.

### Versions

pytorch: 1.10.1

cc @jianyuh @nikitaved @pearu @mruberry @walterddr @IvanYashchuk @xwang233 @Lezcano

[2022-01-21 00:35] cpuhrsch commented on #68425
```exp(mask * a)``` will map masked-out elements to 1 and apply exp to those less than or equal to 0.
```exp(mask * a) * mask``` further replaces those ones (masked-out elements) with zero.
Then you add ```~mask * (1 + a)``` which will replace those zeros (or masked out values) with ```1 + a```.

So in the end you apply exp to those values of ```a``` less than or equal to 0 and + 1 to those greate

[2022-01-21 00:40] Omarnabk commented on #67680
I was stuck on this problem for several hours. I had a machine with 5GPUs, each with 24G of RAM, and whatever I run it gives out of memory. I found that there was a process running on one GPU machine while the default behaviour is to distribute the same batch size across all the machines --> it gives OOM error.

To solve it, I had to tell pytorch which GPU to use exactly. In this case, I can avoid

[2022-01-21 00:45] malfet commented on #71610
That's a nice one: should probably throw an exception when ether of the tensors is empty

[2022-01-21 00:47] nikitaved commented on #68425
Ah, good! Yes, it will work with exp. But if we replace it with log, then this solution will not work as well.

[2022-01-21 00:48] cpuhrsch commented on #68425
@nikitaved - yes, but the point is that the user can get it done, if they really want to. Otherwise we should use MaskedTensor.

[2022-01-21 00:53] nikitaved commented on #68425
I see, then what shall we do with `where`? I think we can fix it, given how popular it is, albeit the solution could get more involved with, say, a custom kernel that is doing the mul(tensor, bool) without any explicit multiplications.

[2022-01-21 00:55] cpuhrsch commented on #68425
@nikitaved - it'll stay like it is and nans propagate. That's it. We shouldn't make things like ```inf * 0 == 0```. It breaks IEEE754 simply because we don't have the metadata available to track invalid elements. If a user really needs to filter the creation of nans they'll have to do so earlier on. For your log example consider

```torch.log(a.masked_fill(~mask, 1)) * mask + (~mask) * (1 + a)```

[2022-01-21 00:58] nikitaved commented on #68425
I do not think we break the standard here, as `where` is not meant to do any explicit multiplications, it just chooses an element based on a condition,

[2022-01-21 00:59] JALB-epsilon opened #71613 "NCCL Backend does not support ComplexFloat data type"
### 🐛 Describe the bug

I am using Torch 1.10. This is not the code I am working on, but this reproduce the error.

[code]
**Output**
```RuntimeError: Input tensor data type is not supported for NCCL process group: ComplexFloat```

NCCL backend should support the Complex datatype as in the backpropagation algorithm.

### Versions

PyTorch version: 1.10.1
Is debug build: False
CUDA used to build Py

[2022-01-21 01:02] jonahgluck opened #71614 "Complex GRU does not work"
### 🐛 Describe the bug

Observed results:
The dtypes don't match even though the tensor is cast to a ComplexFloat.

[code]

Possibly related to [#43477](https://github.com/pytorch/pytorch/issues/43477)

### Versions

Collecting environment information...
PyTorch version: 1.10.1
Is debug build: False
CUDA used to build PyTorch: None
ROCM used to build PyTorch: N/A

OS: macOS 12.1 (x86_64)
GCC versi

[2022-01-21 01:17] malfet commented on #71396
Filed support ticket against CircleCI: https://support.circleci.com/hc/en-us/requests/103154

[2022-01-21 01:27] seemethere commented on #66278
I don't believe we experience this anymore, can we close?

[2022-01-21 01:29] wenzhe-nrv commented on #65640
@Krovatkin just check if you had a chance to run with ASAN. Any update?
I still see out of memory issue when running hf_Bert with lazy_bench on cpu recently.

[2022-01-21 01:59] malfet commented on #71545
@urbste can you share some information about the system you are running this from?
If you are on Linux, do you mind running something like `curl -v https://download.pytorch.org/` and sharing the output here?

This is what I see on my system:
[code]
And perhaps also `echo | openssl s_client -showcerts  -servername download.pytorch.org -connect download.pytorch.org:443 2>/dev/null | openssl x509 -in

[2022-01-21 02:05] nelhage opened #71616 "Effective memory leak due to head-of-line blocking in CUDACachingAllocator `process_events`."
### 🐛 Describe the bug

We have a large training job which makes heavy use of overlapping NCCL communications and local computation by queueing ops on separate streams.

We are seeing intermittent OOMs on some of our large jobs. These are surprising because they are just executing an identical train step repeatedly, which should have identical behavior on each step, and we normally see rock-solid

[2022-01-21 02:07] malfet opened #71617 "iOS tests were dropped from CI during CircleCI->GHA migration"
### 🐛 Describe the bug

I.e. this step
https://github.com/pytorch/pytorch/blob/9f0227a0ebde20eb50ff2ddc7e224a3a28a40ad2/.circleci/verbatim-sources/job-specs/job-specs-custom.yml#L523-L530
Could not be found anywhere in
https://github.com/pytorch/pytorch/blob/9f0227a0ebde20eb50ff2ddc7e224a3a28a40ad2/.github/templates/ios_ci_workflow.yml.j2#L84-L88

### Versions

N/A

cc @ezyang @gchanan @zou3519 @b

[2022-01-21 02:12] ngimel commented on #68425
@nikitaved backward for `where` is not a problem here, it sends `0` gradient to `torch.exp(a)` (self) and `1` gradient to 1+a (other) (or, in your example with inverted mask, `1` gradient to `torch.exp(a)` and `0` gradient to `1+a`. When those gradients are further backpropagated to `a`, 1*inf multiplication happens that results in `nan`, but `where` backward is not to blame.

[2022-01-21 02:15] nikitaved commented on #68425
But `1 * inf` should not be nan, it is `inf`, and the first example in my previous post is doing it right.

[2022-01-21 02:17] ngimel commented on #68425
Sorry, `0*inf` leads to `nan`, when `exp(a)` element is selected, then it's `1*inf` and it's `inf`

[2022-01-21 02:20] nikitaved commented on #68425
@ngimel , do we agree that we can eliminate any explicit multiplications `0 * inf` and instead do a "logical" multiplication in this case? Or rather, that it is a problem and we could fix that?

[2022-01-21 02:21] ezyang commented on #71616
cc @colesbury @ngimel @mcarilli

[2022-01-21 02:22] ngimel commented on #68425
How can we eliminate `0*inf` multiplication in the backward of `exp(a)`? It requires an actual (and not logical) multiplication

[2022-01-21 02:25] nikitaved commented on #68425
In `where(exp, exp)` only one branch gets the gradient, the other one gets a zero tensor with entries selected from the inverted mask, which is all zeros, so no elements are going to get selected and the grad propagated to exp is will be zero.

[2022-01-21 02:27] ngimel commented on #68425
Exactly, the grad propagated to `exp` is 0 (and `where` does that), but then when `grad` is propagated from `exp(a)` back to `a) (because we cannot reason that the backpropagation should stop at that point) `0 * inf` multiplication happens. If there's an `inf` input to `where`, everything is fine (it gets 0 grad):
[code]

[2022-01-21 02:33] nikitaved commented on #68425
I see your point, but what if an un-defined gradients gets propagated to `exp(a)`? In such a case `zeros_like(a)` get propagated back to `a`.

[2022-01-21 02:34] ngimel commented on #68425
But we don't have a concept of "undefined grad"

[2022-01-21 02:36] #71089 closed

[2022-01-21 02:39] ngimel commented on #68425
That's for multi-output functions that sometimes get gradients only for one of the outputs. In this simple case it may seem that if only we said that `exp(a)` received undefined gradient, everything would be fine, but if `a` was a multi-element tensor, it should receive a gradient where some elements are non-zero (they were selected) and some elements are 0 because they are masked out, and there's

[2022-01-21 02:51] nikitaved commented on #68425
I see your point, @ngimel . Thanks for this great discussion, @cpuhrsch and @ngimel , that was quite illuminating!

[2022-01-21 02:56] #67432 closed

[2022-01-21 05:22] mruberry commented on #71187
Another failure: https://github.com/pytorch/pytorch/runs/4892110531?check_suite_focus=true

[code]

[2022-01-21 06:27] cjang105 commented on #1552
It will lose gradients and the model will be not differentiable anymore, which is most likely not desired

[2022-01-21 06:37] TestSomething22 opened #71629 "`torch.{max,min}` have strange error message when `input.numel()==0`"
### 🐛 Describe the bug

`torch.{max,min}` have strange error message when `input.numel()==0`. It says "Expected reduction dim to be specified for input.numel() == 0. Specify the reduction dim with the 'dim' argument". However, it is meaningless to specify the `dim` for an empty tensor. By contrast, `torch.median` will return `tensor(nan)` when the input is empty

[code]

### Versions

pytorch: 1.1

[2022-01-21 07:12] dash-myelin opened #71630 "More than 4 Dimensions for Channel Last Memory Format"
### 🚀 The feature, motivation and pitch

While deploying a Pytorch model with ```nn.PixelShuffle``` on Qualcomm edge devices, the SNPE converter from Qualcomm gives an error that only 4D tensor operations are allowed. This is because internally, ```nn.PixelShuffle``` uses 6 Dimensions to permute the tensor.

Please add support for more than 4D in the channel last memory format or ```torch.jit.trac

[2022-01-21 07:16] urbste commented on #71545
@zou3519: I tried again this morning. Get the same error.
`pip3 install torch==1.8.2+cpu torchvision==0.9.2+cpu torchaudio==0.8.2 -f https://download.pytorch.org/whl/lts/1.8/torch_lts.html`

@malfet: curl -v https://download.pytorch.org/.
[code]
And echo | openssl s_client -showcerts -servername download.pytorch.org -connect download.pytorch.org:443 2>/dev/null | openssl x509 -inform pem -noout -t

[2022-01-21 07:48] gilshm opened #71631 "Wrapping make_graphed_callables with autocast issue"
### 🐛 Describe the bug

A model with PyTorch AMP produces different results when used in conjunction with CUDA graphs.
Specifically, it seems conducting the graph capture while wrapped with `autocast` causes the issue.

Please find the following example to reproduce the issue. Modify `CUDA_GRAPHS` from `False` to `True` between runs.

[code]

My results for `CUDA_GRAPHS = False`:
[code]

My result

[2022-01-21 07:56] 1R053 commented on #47702
Wouldn't it be a worthy investment, to provide an hardware agnostic device abstraction layer for pytorch? There will hopefully some competition for ML acceleration in hardware in the future. If every hardware provider or the dev community would be given the opportunity to develop their own support, if not done by the core pytorch team, this could help solve the issue. Maybe looking at the API Tens

[2022-01-21 09:16] #69270 closed

[2022-01-21 09:55] ilovepytorch commented on #70486
@mruberry @albanD Hi, I find that there are many APIs that will trigger the INTERNAL ASSERT FAILER when the inputs have different types.

[code]

A case to trigger:
[code]

I am still finding more such APIs. Hope this can help you!

[2022-01-21 10:38] ntimeu opened #71632 "[Pytorch 1.10.1] fail to install using pip and python 3.10.1"
### 🐛 Describe the bug

Hello,

I am trying to install Pytorch stable(1.10.1) using the pip package manager.

My config is :

- archlinux (latest update)
- archlinux python (version 3.10.1)
- pip version 21.3.1

I am trying to install the version provided by the get-started page on Pytorch's website, using pip and with a cpu setup (no GPU), and I get the following error :

[code]

However, when se

[2022-01-21 11:23] philipturner commented on #47702
That model is exactly what I’m going to do with Swift for TensorFlow. With Swift, there is a unique opportunity to cut directly through to stuff like MPSGraph and DirectML. And, it will be lightweight with a small binary size. That opportunity doesn’t exist with current frameworks such as CTensorFlow and Torch.

Sent from my iPhone

[2022-01-21 11:30] phu54321 commented on #47702
Sorry to offend you, but I don't think this particular issue is an appropriate place to discuss S4TF. This issue is about M1 GPU support on Apple Silicon, and although I may be interested in S4TF I don't want to be emailed about that project by this issue. A project page or general deep learning forum would be more appropriate.

[2022-01-21 11:40] philipturner commented on #47702
You can turn off notifications for this forum in the panel to the right on GitHub. And this is relevant to M1 GPU acceleration because I’m discussing ideas for a Metal backend. In the previous comment, I said how S4TF provides a unique opportunity for making such a backend more feasible. I was also considering collaborating with Torch on giving both frameworks backends. Before that comment, I was

[2022-01-21 11:52] fatbringer commented on #71471
@zou3519 i am trying to build pytorch 1.50 because my nvidia tx2 has CUDA 9.0.
It is packaged by DJI (a drone manufacturer) into a DJI Manifold 2G. But i am unable to upgrade it.
The support staff at DJI had confirmed they dont have an upgrade for it also.

[2022-01-21 12:24] CerebralSeed opened #71633 "Negative Exponents of Ints treated as 0"
### 🐛 Describe the bug

Here is an example:

[code]

### Versions

Version 1.9.0+cu111
Windows 10, 64 bit
Python 3.7

[2022-01-21 12:30] philipturner commented on #47702
I'd like to discuss that with you, but it seems like people on this forums won't be happy about that. Sorry!

[2022-01-21 12:33] 1R053 commented on #47702
I think, from the previous posts the relevance of your posts were not obvious to everyone. Don't be distracted by that. If your contribution moves this topic forward, it is important.

[2022-01-21 12:46] philipturner commented on #47702
Okay! If you don't like this, then unsubscribe!

The biggest benefit of S4TF was being imperative and idiomatic. Swift autodiff worked well with the Swift language. For Torch, there's a benefit in that the backend is feature-complete and the Python API strives for a similar form. S4TF is currently broken by compiler crashers with autodiff, meaning I can't use it for months until I fix the compiler

[2022-01-21 12:55] thomasjo commented on #47702
@philipturner That's because this is an issue tracker for PyTorch, not a discussion forum. I suggest moving further discussions to the [official PyTorch forums](https://discuss.pytorch.org/) or somewhere else (that might be better or more suitable.)

PS. Thanks for trying to resurrect S4TF :grinning: :+1:

[2022-01-21 12:59] philipturner commented on #47702
I'd still like to get input from people on this forum. If I periodically make hyperlinks to the associated forum thread when responding to questions people ask here, would that suffice?

[2022-01-21 13:17] krikru commented on #488
What is the status of this question now, is there currently any supported way to use PyTorch on an AMD or Intel GPU? @soumith Do you know if there has been some progress with GPUOpen or or MKLDNN that makes it possible to use PyTorch with those libraries (when it comes to HIP, this seems like this converts CUDA into C++ code, which runs on the CPU, not the GPU)?

One major advantage with supportin

[2022-01-21 13:26] phu54321 commented on #47702
- This is an issue tracker. It's for people having issues, or people requesting features. This issue #47702 is dedicated to discussions about M1 GPU acceleration, as the issue title says.
- Things like Accelerate framework or AMP coprocessors is relevant as this issue can be extended to any kind of hardware-level accelerations supported on M1 (I think?).
- I like the idea of integrating Swift with

[2022-01-21 13:29] philipturner commented on #47702
Those are multiple topics, and they all stem from discussion in this forum. Also, I'm not sure posting issues on S4TF is a good idea at the moment. Thus, I think they make sense in a PyTorch forum dedicated to any ideas that stem from discussion here. @phu54321 do you agree?

[2022-01-21 14:03] ilovepytorch opened #71635 "`torch.nn.functional.{instance, batch}_norm` trigger INTERNAL ASSERT FAILED when input is empty tensor with `complex32`"
### 🐛 Describe the bug

`torch.nn.functional.{instance, batch}_norm` trigger INTERNAL ASSERT FAILED when input is empty tensor with `complex32`

[code]

### Versions

pytorch: 1.10.1

[2022-01-21 14:09] TestSomething22 opened #71636 "`torch.median` will return -2147483648 when input is an empty tensor"
### 🐛 Describe the bug

`torch.median` will return -2147483648 when input is an empty tensor with `int32`. By contrast, `torch.min` will raise an error, which I think is a better behavior.

[code]

### Versions

pytorch: 1.10.1

[2022-01-21 14:16] TestSomething22 commented on #71541
I am curious that why `div` does not cast the bool like the other three APIs.

[2022-01-21 14:18] mszhanyi commented on #65679
Libtorch doesn't support windows 32 bit

[2022-01-21 14:32] okpatil4u commented on #47702
Sorry Phillip, even though it’s great to see the ideas being presented at
S4TF, I don’t think that everyone here, including me, need to be updated
about its progress.

It would be unfair to ask anyone who doesn’t want S4TF on their mailing
list to unsubscribe.

On Fri, 21 Jan 2022 at 6:59 PM, Philip Turner ***@***.***>
wrote:

[2022-01-21 15:15] vadimkantorov commented on #69491
Yeah, in https://github.com/pytorch/pytorch/issues/58036#issuecomment-839656590 I mainly argue for `torch.as_tensor` to be able to consume various tensor-like objects: torch tensors (not sure what to do with tensor subclasses, but at least regular tensors should be supported), numpy arrays, PIL images, HDF5 datasets, DLPack capsules. Normally, it just means that torch.as_tensor should consume __ar

[2022-01-21 16:33] soumith commented on #47702
Hey @philipturner , looks like enough people have spoken -- this is a high-traffic issue where they are looking for updates on the PyTorch M1 GPU updates from the core team.
If you could move the S4TF and the Swift-integration of M1 support (for TF or PyTorch) into either the forums (feel free to create a thread in S4TF github, https://discuss.pytorch.org/ or a new issue on this repo titled "Swift

[2022-01-21 16:40] Lezcano commented on #71610
The problem here is that they are not broadcastable, right?
I think the sizes should be checked, and then in the main function, if the tensors are empty there's nothing to do, so you can return early.

[2022-01-21 16:44] vadimkantorov opened #71638 "[feature request] Upstream to core PyTorch antialiased interpolation"
### 🚀 The feature, motivation and pitch

It was implemented for some cases in torchvision in https://github.com/pytorch/vision/pull/3761, but was not upstreamed as far as I can see, so other users of F.interpolate and not of torchvision.transforms.functional.resize can't take advantage of it

### Alternatives

_No response_

### Additional context

_No response_

[2022-01-21 16:51] philipturner commented on #47702
Over the last few weeks, I didn't realize I was doing something so disruptive, and I apologize for that.

I plan to make a post on https://discuss.pytorch.org/, but I was waiting to hear back from @phu54321 on a private email. He seemed to be concerned with some stuff I said, and I wanted to keep my conversation off the forum. If he doesn't email me back soon, I'll start a forum thread and hyperli

[2022-01-21 17:00] gchanan commented on #71572
For the not being reported case, the error message describes why this is and how to address it:
[code]

[2022-01-21 17:03] gchanan commented on #71632
I don't believe python 3.10 is supported in a release yet.

[2022-01-21 17:05] ngimel commented on #71572
Device asserts invalidate existing cuda context and program execution can't continue, so there's no point in trying to catch this error. The assertion error message indicates that your index is out of range. This is expected behavior.

[2022-01-21 17:05] #71572 closed

[2022-01-21 17:10] gchanan commented on #71633
I reproduced this on 1.10.1 linux.

[2022-01-21 17:16] Lezcano commented on #71614
You are missing to cast the module to the type you're using:
[code]

[2022-01-21 17:17] seemethere commented on #71632
Yup we have no plan to retroactively support python 3.10 for 1.10.X

Python 3.10 binaries will be available for 1.11

[2022-01-21 17:17] #71632 closed

[2022-01-21 17:37] #71614 closed

[2022-01-21 17:41] vadimkantorov commented on #71638
Probably antialiasing could be useful in audio domain as well for simple resampling...

[2022-01-21 17:51] jonahgluck commented on #71614
Thank you. Is this functionality cpu only at the moment?

[2022-01-21 18:07] cpuhrsch commented on #68425
@nikitaved - To conclude the conversation, do you want to give [MaskedTensor](https://github.com/cpuhrsch/maskedtensor) a shot?

[2022-01-21 18:13] seemethere commented on #71617
Assigning this to myself

[2022-01-21 18:27] navahgar commented on #52286
This slowdown goes away completely with the dynamic shape fusion that landed recently. In fact, with this feature, the fused version is significantly faster than the unfused version.

For the original test reported at the start of the issue (excluding warmup runs from timing):
[code]

Note that the dynamic shape fusion is not turned on by default yet. Here is the flag to control it: https://github

[2022-01-21 18:36] de-gozaru commented on #71222
Hi @mruberry

Did you fail to reproduce the example I provided above?

[2022-01-21 19:22] peterbell10 opened #71645 "INTERNAL ASSERT in svd_cpu"
### 🐛 Describe the bug

`test_svd_errors_and_warnings` is failing in master CI:
[code]
https://github.com/pytorch/pytorch/runs/4898981904?check_suite_focus=true#step:17:16119

To reproduce you need to rebuild with the latest dependencies on conda with `conda upgrade --all` after which both `test_norm_extreme_values` and `test_svd_errors_and_warnings` in `test_linalg.py` fail.

### Versions

[code]

[2022-01-21 19:35] ejguan commented on #71063
Closing the Issue as PR has landed

[2022-01-21 19:35] #71063 closed

[2022-01-21 19:36] ejguan commented on #67831
Closing this Issue as the corresponding PR has landed,

[2022-01-21 19:36] #67831 closed

[2022-01-21 19:41] #66322 closed

[2022-01-21 19:49] artyom-beilis commented on #488
I'm working on open-source backend for pytorch implementing in terms of out of tree backend:

https://github.com/artyom-beilis/pytorch_dlprim

It is based on OpenCL implementation of deep learning operations in OpenCL https://github.com/artyom-beilis/dlprimitives the project I work on it as well.

PyTorch status is work in progress, but I managed to

- run and validate training and inference on al

[2022-01-21 20:10] davidberard98 commented on #70572
@wpalfi, thanks for the report.

This is a known issue. In script/trace mode, pytorch will do some warmup/profiling runs to improve future performance. In the case of eq + bitwise-and, it is able to fuse the operators together and compile a new function that runs both ops together.  You can read about it here https://dev-discuss.pytorch.org/t/nnc-walkthrough-how-pytorch-ops-get-fused/125. In the c

[2022-01-21 20:31] #1551 closed

[2022-01-21 20:45] Linux-cpp-lisp commented on #68621
Hi @cpuhrsch,

I can also run the snippet from the original post using a 1.11 nightly. However, with my model, I get this error:
[code]

[2022-01-21 20:54] Linux-cpp-lisp opened #71652 "Sparse CSR tensors crash `state_dict()` (1.11 nightly)"
### 🐛 Describe the bug

This code works:
[code]
producing:
[code]
but modifying
[code]
to
[code]
gives
[code]

### Versions

PyTorch version 1.11.0.dev20220119
CUDA available
Ubuntu Linux 21.10

cc @nikitaved @pearu @cpuhrsch

[2022-01-21 20:57] AlexTitovWork commented on #47908
the same issue on Ampere RTX 3090. Downgrade speed in tensor loading in 2 times whith CUDA 11.3 + libtorch_cu113, instead CUDA10.2.+libtorch cu102.
There is a problem yet. is there solution ?

[2022-01-21 20:59] #71496 closed

[2022-01-21 20:59] Linux-cpp-lisp commented on #63987
It appears that freezing and JIT serialization works now with COO/CSR sparse tensors--- thanks! I'll fill more issues as they come up.

[2022-01-21 21:00] malfet commented on #70667
GLOG was disabled by https://github.com/pytorch/pytorch/pull/16789 , you can probably ask @soumith for the reason why, but my guess is that it introduces lots of runtime dependencies (both glog, gflags and protobuf are notoriously hard to integrate so that they would not conflict with other installations of the libraries in the system.
Also, it feels a bit as an overkill, as https://github.com/pyt

[2022-01-21 21:00] nikitaved commented on #68425
@cpuhrsch , most certainly!

[2022-01-21 21:03] navahgar commented on #52286
Actually, we already have a python API for this: https://github.com/pytorch/pytorch/blob/master/torch/csrc/jit/python/init.cpp#L832

[2022-01-21 21:22] Linux-cpp-lisp commented on #68621
Minimal example (note the `.T` making it not contiguous):
[code]
gives
[code]
Oddly,
[code]
runs without error.

[2022-01-21 22:02] #67549 closed

[2022-01-21 22:04] ptrblck commented on #47908
@AlexTitovWork could you describe a bit more what "speed in tensor loading" means?
Are you measuring the time to transfer the tensor from CPU to the GPU and are seeing a slowdown?

[2022-01-21 22:07] antoniojkim commented on #69033
@wconstab Would it be possible to get an update on the status on when vendors will be able to start implementing custom backends for LTC? I'm seeing that a lot (most) of the recent activity on the `lazy_tensor_staging` branch is regarding the torchscript backend. Looking for a rough timeline estimate. Even for a beta that I would be more than happy to test out and provide any feedback on.

[2022-01-21 22:30] dipidoo opened #71657 "libtorch cannot be consumed by C++20 project"
### 🐛 Describe the bug

Somewhat related to #69290, `std::result_of` is removed from C++20 and instead of resulting in warning, it results in error.

For example:
https://github.com/pytorch/pytorch/blob/085e2f7bddc45f859fcdb786926d60d709b2daa0/c10/util/C%2B%2B17.h#L167

My plan to fix is, for example:
[code]
because `std::invoke_result` is introduced in C++17, the fallback enables consumption by C

[2022-01-21 22:44] #69773 closed

[2022-01-21 23:09] rohan-varma opened #71660 "Build release binaries with USE_GLOG=ON by default"
### 🚀 The feature, motivation and pitch

It looks like USE_GLOG is set to off by default: https://github.com/pytorch/pytorch/blob/master/CMakeLists.txt#L217, but as a result this limits the usefulness of debug logging that users can observe in their application. At least two use cases would benefit from a configurable GLOG level:

1. TORCH_DISTRIBUTED_DEBUG, where users cannot see debug logs in pr

[2022-01-21 23:45] malfet commented on #71660
Adding to triage review to discuss

[2022-01-21 23:53] albanD commented on #71544
Hi!
This is already fixed in the latest doc: https://pytorch.org/docs/master/generated/torch.optim.lr_scheduler.LinearLR.html?highlight=linearlr#torch.optim.lr_scheduler.LinearLR and will be included in the next release.
Thanks for the report!

[2022-01-21 23:53] #71544 closed

[2022-01-22 01:19] wconstab commented on #69033
We're aiming to get all of the existing code landed this quarter, and working with @JackCaoG to migrate pytorch/xla code over to using lazy-tensor APIs.  The backend APIs are already landed in a form that you could take a look at, but they aren't guaranteed stable and may not be even through this half.  I don't actually know of any planned backend API changes, but it may depend on anything we disc

[2022-01-22 01:29] nelhage commented on #71616
One quick update:

The attached reproducer used an `allgather` and has a comment about how the bug doesn't work with `isend` or `irecv`; I realized while thinking harder and looking at our model code that you can stumble on this just as well if you have multiple `isend` or `irecv`s; [the gist now has a second version](https://gist.github.com/nelhage/c5f9b2831014963a4b35d2e0311f93c7#file-torch_leak

[2022-01-22 01:32] antoniojkim commented on #69033
I've taken a look at the backend APIs and I've mocked up a light skeleton. But I'm running into [this issue](https://github.com/pytorch/pytorch/issues/69047) where even if I don't init the TorchScript backend, its fallback backend  seems to be affecting other backends as well. Any chance that can be looked at soon-ish? It would probably unblock my experimentation (for now at least).

[2022-01-22 01:38] Masterchef365 commented on #70882
I've figured out a solution, which is to compile the custom ops using CMake instead of setuptools. An example can be found in the [cmake_custom_op](https://github.com/Masterchef365/pytorch_issue_repro/tree/cmake_custom_op)  branch of my issue repo. Cheers!

[2022-01-22 01:38] #70882 closed

[2022-01-22 01:49] davidberard98 commented on #70882
Great, thanks for the update!

[2022-01-22 01:55] ngimel commented on #70916
For a special case of 0d indexing tensor, we don't warn and silently convert it to long index before sending to `index` function https://github.com/pytorch/pytorch/blob/9950f3b7e645803f3f25a6f53c1b88e376ff2c1d/aten/src/ATen/TensorIndexing.h#L414. It's not particularly efficient, and it fails to trigger a warning that other uint8 indexing invocations trigger.

[2022-01-22 02:03] Dayro-9 commented on #71405
Thank you very much, my problem is solved.

[2022-01-22 02:03] #71405 closed

[2022-01-22 02:53] ke1337 commented on #69033
@wconstab does LTC have an example of tracing training graph? The examples seem to only have the forward, not backward graph. #71020 seems to indicate that LTC works for training, but when I try:
[code]
I hit issue of:
[code]
What we are looking for, is a way to get the training computation graph via LTC. I understood that LTC is currently unstable, and would like to explore and/or contribute to m

[2022-01-22 03:30] Ammexm commented on #13038
Want RTX 3090ti Support too!!! RuntimeError: cublas runtime error : the GPU program failed to execute at /opt/conda/conda-bld/pytorch_1565272271120/work/aten/src/THC/THCBlas.cu:331!!!

[2022-01-22 04:28] wusize commented on #50273
The equivalence can be made by adding a third dimenson of zeros to the input tensors, e.g. [[1, 2, 0]], [[2, 1, 0]] and taking the last (3rd) dimension of the output (e.g. [[0, 0, -3]]).

[2022-01-22 06:13] ilovepytorch opened #71671 "Many APIs `INTERNAL ASSERT FAILED` when promoting `complex32` dtype"
### 🐛 Describe the bug

I create a new issue to log the APIs that trigger `INTERNAL ASSERT FAILED` when promoting `complex32` dtype based on [my reply](https://github.com/pytorch/pytorch/issues/70486#issuecomment-1018351914).

Buggy APIs:
[code]

A code snippet to reproduce:

[code]

### Versions

pytorch: 1.10.1

[2022-01-22 09:25] OverLordGoldDragon opened #71672 "PAGE_FAULT_IN_NONPAGED_AREA"
### 🐛 Describe the bug

The BSOD follows the opening of a VRAM-intensive application while training runs on the GPU. I've opened such applications regularly in the past without problems, with even bigger models, and the applications would utilize shared memory if they didn't have enough (which training _cannot_ do) - no clue what's different now.

Training runs in `__main__` under `try-except`, an

[2022-01-22 09:38] IvanYashchuk commented on #67693
The same error started to appear in the MKL build https://github.com/pytorch/pytorch/runs/4899014335?check_suite_focus=true#step:17:15487
Maybe the latest MKL 2022.0.1 uses the latest reference LAPACK.

[2022-01-22 11:22] DrDryg opened #71673 "Fancy indexing bug when combining masks with indexes"
### 🐛 Describe the bug

When combining a mask and an index torch give an error but equivalent code works fine in numpy:
[code]

I get the following error: IndexError: The shape of the mask [5, 5] at index 1 does not match the shape of the indexed tensor [5, 2] at index 1

### Versions

PyTorch version: 1.9.0+cu111
Is debug build: False
CUDA used to build PyTorch: 11.1
ROCM used to build PyTorch: N

[2022-01-22 14:27] TestSomething22 opened #71674 "`torch.set_default_dtype` will crash with `complex` dtype"
### 🐛 Describe the bug

`torch.set_default_dtype` will crash with `complex` dtype

[code]

### Versions

pytorch: 1.10.1

cc @ezyang @gchanan @zou3519 @bdhirsh @anjali411 @dylanbespalko @mruberry @Lezcano @nikitaved

[2022-01-22 16:59] ajcost commented on #71385
Hello,

Long time user of Pytorch but first time contributor. Not sure if anybody is working on this, but happy to try to resolve both this (#71385) and #71384 . Let me know!

[2022-01-22 17:14] IvanYashchuk commented on #71385
Hey @ajcost, thanks for offering help with this one! Documentation for the linear algebra module can be found in [`torch/linalg/__init__.py`](https://github.com/pytorch/pytorch/blob/master/torch/linalg/__init__.py). Once you open a pull request a bot would create a preview webpage. You can also check how your changes render using [the instructions from the CONTRIBUTING file](https://github.com/pyt

[2022-01-22 18:54] Krovatkin commented on #65640
@wenzhe-nrv We fixed a few issues related to OOM, but we believe there's something else lurking in the depth of LTC.  Could you try the latest LT w/ your example and use case. Note, we will be using very small amount memory caching but after 20 iterations, the memory usage should stabilize. I believe I was able to get the stable numbers for this example.

[2022-01-22 19:33] malfet commented on #71657
Thank you for proposing to fix the issue. Solution sounds reasonable, i would gladly review the PR.
A small suggestion - perhaps `#if defined(__cpp_lib_is_invocable) ` then `c10:guts::invoke` can simply be aliased to `std::invoke`, similar to
https://github.com/pytorch/pytorch/blob/f269f990f232233738176a6e406390d8b3392348/c10/util/C%2B%2B17.h#L50-L53

[2022-01-22 20:36] Tagar opened #71676 "Caffe(PyTorch)-on-Spark?"
### 🚀 The feature, motivation and pitch

Newbie question - What happened with Caffe-on-Spark project
https://github.com/yahoo/CaffeOnSpark
after the Caffe2 project got merged into PyTorch?

Is this still possible to use(or build) something like Caffe(PyTorch)-on-Spark?

Thanks!

### Alternatives

_No response_

### Additional context

_No response_

[2022-01-22 21:19] mruberry commented on #71187
Another failure to open a shared memory object: https://github.com/pytorch/pytorch/runs/4905695066?check_suite_focus=true

[code]

[2022-01-22 22:13] collinmccarthy opened #71678 "torch.bmm backward with sparse input"
### 🐛 Describe the bug

Based on the torch.sparse documentation it sounds like `torch.bmm` supports forward and backward for sparse tensors. During the backward pass I'm getting the error shown below. Is this expected (in which case this is a feature request) or is this a bug?

[code]

gives

[code]

Thank you for your help!

### Versions

[code]

[2022-01-22 22:15] collinmccarthy commented on #71678
Btw, I tested PyTorch 1.10.1 w/ CUDA 11.3 and 1.9.1 w/ CUDA 11.1 (the version shown above) and I get the same results.

[2022-01-22 22:48] collinmccarthy commented on #71678
My mistake, I misread the docs. It says

[code]

So it doesn't mean the gradient w.r.t. the sparse tensor is dense, it means it is not supported at all. Can we change this to a feature request then, to support gradients w.r.t the sparse tensor?

[2022-01-23 00:03] ngimel opened #71680 "ComplexHalf support"
Currently our ComplexHalf support is in a bad state. Users file issues complaining that ops on ComplexHalf issues trigger internal asserts (#71671, #71635) and that shouldn't happen even if particular op is not supported for ComplexHalf, the error message should state that datatype is not supported. We have 2 options going forward: disable ComplexHalf completely (#70606) or support it for real.
Di

[2022-01-23 00:43] dzhulgakov commented on #70654
I think it's useful to try to plan for the preferable medium-term future state.

What's proposed in this issue makes sense if we're planning to make UCC fallback shippable by default in PyTorch package. But in that case, it probably makes more sense to add UCC as a thirdparty library and link statically in the same package than asking the user to build a separate lib.

If we're not sure yet on ena

[2022-01-23 06:13] guoyejun opened #71682 "_GLIBCXX_USE_CXX11_ABI does not work when building from source code"
### 🐛 Describe the bug

On my system with gcc version 9.3.0 (Ubuntu 9.3.0-17ubuntu1~20.04), the abi-check automatically checks the system and enables _GLIBCXX_USE_CXX11_ABI.   While this flag is False with 'pip install torch==1.10', I want to build pytorch on my system from source code with _GLIBCXX_USE_CXX11_ABI disabled to match the same behavior of pytorch official binary release.

Here are the

[2022-01-23 07:00] jiayisuse commented on #70654
Agree with @dzhulgakov

Starting with PyTorch standard extension is always preferred with low risk and more flexibility to experiment and explore. we can probably pitch the extension with particular users first and get users' feedback. When the extension gets stabilized with certain user adoption, we can try to make it available out of the box by static linking as the preferred builtin state (I re

[2022-01-23 09:30] wpalfi commented on #70572
@davidberard98 thanks, now its clear. Would be great to have some hints about all of that in the docs. I will try dynamic shapes, exciting news:-).

[2022-01-23 09:30] #70572 closed

[2022-01-23 10:06] vadimkantorov opened #71683 "Fused foreach lerp"
### 🚀 The feature, motivation and pitch

I'd like to simplify the exponential moving average optimization update for teacher-student model:
[code]

I was looking for a foreach version of lerp used in https://github.com/pytorch/pytorch/blob/acb340de75367985164a67234be7ee7ddf4b546e/torch/optim/_multi_tensor/_functional.py and found only :

[code]

Not sure if this is indeed lerp, but if it is, it wo

[2022-01-23 10:36] vadimkantorov commented on #71683
It may also be a good idea to introduce an EMA "optimizer" (at least the functional version), to make sure parameters match between teacher and student model, it may be a good idea to force users to provide  `param_names` list inside the param group

[2022-01-23 20:47] Dbhasin1 opened #71686 "Support the `bitwise_invert` alias to 'bitwise_not`"
### 🚀 The feature, motivation and pitch

Python Array API proposes the use of `bitwise_invert` among other Element-wise Functions. Currently, PyTorch supports the same functionality with `torch.bitwise_not`. As listed in #58742, to make it compliant with the Array API this issue proposes to add the `bitwise_invert` alias to `bitwise_not`

### Additional context

- [Python Array API bitwise_invert]

[2022-01-23 20:57] geyang commented on #15301
`torch.meshgrid` makes more sense when you extend `meshgrid` to higher dimensions. We recently ran into this problem from two directions, in one case `numpy` ordering was preferrable, and later when we realized the value of the `torch.meshgrid` ordering.

[2022-01-23 21:29] jvictor42 commented on #42078
I have the same problem. Tried to use torchvision==0.4.0, torchvision==0.7.0, torchvision==0.8.1 and torchvision==0.11.0. None of the versions solve the problem. I use python 3.8.

[2022-01-24 00:07] wayi1 commented on #71303
Thanks for the suggestion @mrshenli!

Currently my end will only need to target DDP scope.

Personally I probably will prefer an alternate approach, which can be a separate module to run some offline analysis over traces collected by torch profiler. A few reasons:

1. In practice, users may want to run profiling first instead of directly running straggler detection, so it would be nice if we can i

[2022-01-24 02:45] SystemErrorWang commented on #71394
some update:
I used cleanup function from ONNX GraphSurgeon in tensor RT toolkit to remove the unused graph inputs and output. before cleanup, the onnx runtime can generate outputs exactly the same as pytorch. However, after cleanup, the onnx runtime generates different output.

[2022-01-24 02:59] #65679 closed

[2022-01-24 04:26] revorg7 opened #71690 "Use of Python round() inbuilt function inside Functional.CenterCrop() NonDeterministic"
### 🐛 Describe the bug

Barring the padding process, CenterCrop is implemented with these lines:
crop_top = int(round((image_height - crop_height) / 2.0))
crop_left = int(round((image_width - crop_width) / 2.0))
return crop(img, crop_top, crop_left, crop_height, crop_width)

Note that round(11/2)=6 and round(9/2)=4, i.e., python round() selects floor() sometimes, and sometimes ceil(). This causes

[2022-01-24 06:08] Jureong commented on #16417
it worked! Thanks

[2022-01-24 07:03] skottmckay opened #71695 "torch.onnx.export creates model with TopK node that may be invalid"
### 🐛 Describe the bug

The ONNX model exported from torchvision.models.detection.ssdlite320_mobilenet_v3_large may fail due to an invalid TopK node. This appears to be dependent on the input. Possibly the TopK export needs something to limit the 'K' value based on the input size as the ONNX spec requires that to be less than or equal to the number of inputs.

The below repro will convert the mode

[2022-01-24 07:24] mikel-brostrom commented on #34127
Any news on this??

[2022-01-24 08:19] long-senpai commented on #71079
@mszhanyi It maybe I got error when install libtorch on windows
- I download this libtorch version https://download.pytorch.org/libtorch/cu113/libtorch-win-shared-with-deps-1.10.1%2Bcu113.zip for CUDA 11.3 installed on my PC.
- But when I check by `torch::cuda::is_available()` returned result  was `false`.
- Do you know what I am missing when install libtorch on Windows

[2022-01-24 08:53] francois-rozet commented on #68978
An alternative is to make the `step` function of `_LRScheduler` absorb and ignore all arguments (with `*args, **kwargs` in the signature) which allows to propagate the arguments of  `SequentialLR.step` without worry. The children of `_LRScheduler` would be responsible for using or not these arguments. There are several ways to do that.

For instance, we could add a method (say `get_get_lr`) in `_L

[2022-01-24 09:01] lubian64 opened #71697 "Libtorch dlls delayed loading"
### 🐛 Describe the bug

Pytorch Release ver. 1.10.0
Microsoft Visual Studio Community 2019
The c++ application we are developing has to load the pytorch dlls in a delayed way so that the end user is not forced to install them if he does not need them.
The problem is that we can’t link the pytorch dlls in a delayed way (/DELAYLOAD).
There are two different problems:

1) **linker error**
If I add th

[2022-01-24 09:57] Mirocos opened #71698 "[libtorch]can not save a vector<int> to AutogradContex->saved_data."
### 🐛 Describe the bug

I want to save a `std::vector<int>` variable in cpp autograd forward.
So I write the code like this:
[code]
but Exception throws at `jit_type.h` in `line 1592` `TORCH_CHECK.

So how to save a `vector<int>` variable in libtorch autograd?

### Versions

I download libtorch from this url:
https://download.pytorch.org/libtorch/nightly/cu115/libtorch-win-shared-with-deps-debug-l

[2022-01-24 10:44] mszhanyi commented on #71079
Generally python version works, the C++ version(libtorch) should work too.

1. If python version doesn't work, please check if there's gpu card or cuda issue.
2. If python version works, please check the difference between your downloads libtorch and the C++ binaries in pytorch.
    `python -c 'import torch;print(torch.utils.cmake_prefix_path)'`

[2022-01-24 12:01] vadimkantorov opened #71701 "[feature request] [discussion] torch.lerp: optimize exact 0.0, exact 1.0 weight to force exact copy"
### 🚀 The feature, motivation and pitch

It may make sense for having exact copy behaviour for exact zero or one weights. Probably it's not a big issue for typical usecases of lerp, but sometimes it might bite some correctness. (although there may be performance repercussions if more checks are done...)

I looked at the CPU code: https://github.com/pytorch/pytorch/blob/af49805a73fb0a4b0459f2551159

[2022-01-24 14:23] vvalouch commented on #68598
I was looking into a bit more and I found out that the reason why the torchscript conversion is crashing is:
 - torch.jit._trace.py ->line 958 module._c._create_method_from_trace is unsqueezing the inputs thus instead of passing original e.g. attention_mask input as {Tensor:(1,241)} it is passing {Tensor:(tensor(1),tensor(241)}

I also rise the issue on HuggingFace repo -> https://github.com/huggi

[2022-01-24 15:14] jinfagang opened #71704 "M1 Pro Apple Silicon chip support."
### 🚀 The feature, motivation and pitch

[W NNPACK.cpp:79] Could not initialize NNPACK! Reason: Unsupported hardware.

M1 Pro Apple Silicon chip support.

### Alternatives

[W NNPACK.cpp:79] Could not initialize NNPACK! Reason: Unsupported hardware.

M1 Pro Apple Silicon chip support.

### Additional context

[W NNPACK.cpp:79] Could not initialize NNPACK! Reason: Unsupported hardware.

M1 Pro Appl

[2022-01-24 16:04] ejguan commented on #71396
Can I ask for an update on this? It seems that only the wheels for macos and windows system are affected.

[2022-01-24 16:09] mruberry commented on #28179
Closing due to age and this no longer occurring.

[2022-01-24 16:09] #28179 closed

[2022-01-24 16:10] mruberry commented on #28252
Closing due to age and because this no longer appears to be occurring.

[2022-01-24 16:10] #28252 closed

[2022-01-24 16:10] mruberry commented on #29168
Closing due to age.

[2022-01-24 16:10] #29168 closed

[2022-01-24 16:11] mruberry commented on #29380
Closing because this is no longer occurring.

[2022-01-24 16:11] #29380 closed

[2022-01-24 16:11] mruberry commented on #29464
Closing because this is no longer occurring.

[2022-01-24 16:11] #29464 closed

[2022-01-24 16:11] mruberry commented on #29515
Closing because this is no longer occurring.

[2022-01-24 16:11] #29515 closed

[2022-01-24 16:12] mruberry commented on #23989
Closing due to age.

[2022-01-24 16:14] mruberry commented on #38349
Closing this issue. We've added the great majority of missing NumPy functions, and future requests can be handled as individual issues.

@vadimkantorov We have `torch.add()`, but would you like to file an issue requesting `torch.delete()`? `delete` is a tough name to reuse, however.

[2022-01-24 16:14] #38349 closed

[2022-01-24 16:16] mruberry commented on #29842
Closing because this no longer seems to be happening.

[2022-01-24 16:16] mruberry commented on #49641
Closing because this is no longer occurring.

[2022-01-24 16:16] #49641 closed

[2022-01-24 16:17] mruberry commented on #49468
Closing because we have added a lot of out= tests that substantively address this issue.

[2022-01-24 16:17] #49468 closed

[2022-01-24 16:20] vadimkantorov commented on #38349
Oh, I think mistyped, I meant append / delete. Yeah, I'll create a separate issues for discussing these

[2022-01-24 16:20] mruberry commented on #55601
This was addressed by the new `test_dtypes`:

https://github.com/pytorch/pytorch/blob/b372be4211d40be92ffbb025cac0038ee3445141/test/test_ops.py#L71

[2022-01-24 16:21] mruberry commented on #65250
This has been fixed.

[2022-01-24 16:21] #65250 closed

[2022-01-24 17:12] promach commented on #71361
@samdow I am not using `nn.sequential()` which might be the reason that there are no named nodes ?

[2022-01-24 17:18] IvanYashchuk commented on #68621
Thanks! The situation with errors is quite bad for Sparse CSR, it's difficult to track the source of the problems. I tracked this error and it appears due to `mm(dense, sparse)` not being implemented.
[code]

[2022-01-24 17:46] ngam opened #71712 "BLAS options: OpenBLAS vs Accelerate"
### 🚀 The feature, motivation and pitch

Are there any benchmarks or preference among developers here? Assuming that Intel MacOS users should use MKL; MKL isn't available for Apple Silicon --- is there any benefit from using OpenBLAS vis-a-vis Accelerate? Any documentation or benchmarks? Thanks!

### Alternatives

_No response_

### Additional context

_No response_

cc @VitalyFedyunin @ngimel

[2022-01-24 17:51] Hang14 commented on #36035
same problem.

[2022-01-24 18:06] vadimkantorov commented on #71712
also, BLIS might be an option... https://github.com/flame/blis/pull/492

[2022-01-24 18:14] malfet commented on #71712
OpenBLAS and Accelerate should have the same API, but I'm not aware of any good benchmark of one vs another. But one should be able to recompile with different BLAS frameworks

[2022-01-24 18:15] seemethere commented on #71187
We really need to add documentation on how to add separate configurations for GHA

[2022-01-24 18:16] Linux-cpp-lisp commented on #68621
Aha I see @IvanYashchuk — any idea for a workaround in real code, or is this something that will have to be fixed at a lower level first.

[2022-01-24 18:18] ngimel commented on #70122
At this point there's not much actionable things for us, please ping when there's a repro

[2022-01-24 18:29] ngam commented on #71712
Yes, I can confirm this. For what is worth, the default mechanism (i.e. no user preference in BLAS flag) in cmake seems to go something like this: it looks for MKL first, then BLIS, and then Accelerate, and I think finally OpenBLAS. I do understand the importance of setting MKL first (it seems to outperform everything else in this context). However, I am slightly confused about Accelerate vis-a-vi

[2022-01-24 18:30] malfet commented on #71660
Based on the review, we should have a more in-depth discussion on logging facilities in PyTorch and whether those should be unified around glog or something else.
Points to consider:
 - binary size implications
 - Integration with Python `logging` module (which I believe we already have, see `TORCH_WARN` implementation for example)

[2022-01-24 18:30] wenzhe-nrv commented on #65640
@Krovatkin just to check before running with the latest - I'm using this commit `d059c4f` from Jan 11 2022, which shows the OOM issue when running hf_Bert on Xeon. Does this commit contain the fixes you mention? If not, I will tested with the latest.

[2022-01-24 18:32] ngimel commented on #71660
There are issues asking about different logging systems that exist in the codebase, #57118. Distributed is using GLOG, jit is using its own logging system. We should unify logging and have documentation on how to use it. I don't think we should enable GLOG until there's a consensus on what our longer term plans are in this area.

[2022-01-24 18:35] ngam commented on #71712
Yes, thanks @vadimkantorov. The default mechanism appears to favor BLIS more than Accelerate as shown above.

[2022-01-24 18:44] jfix71 opened #71715 "[FX] Support call_method in NormalizeArgs"
### 🚀 The feature, motivation and pitch

Currently NormalizeArgs only supports normalizing `call_function`s and `call_module`s. Ideally it would support `call_method`s as well. Example code:

[code]
Output shows flatten args for `call_method` and `call_function` not normalized with standard FX tracing (all kwargs usage or default values), as expected:
[code]

Now when we normalize we see that the

[2022-01-24 18:46] IvanYashchuk commented on #71712
Here's the [FindBLAS.cmake](https://github.com/pytorch/pytorch/blob/master/cmake/Modules/FindBLAS.cmake) and [FindLAPACK.cmake](https://github.com/pytorch/pytorch/blob/master/cmake/Modules/FindLAPACK.cmake) files that PyTorch uses. There's no way to specify the BLAS variant and CMake tries to find it in a specific order (specified in FindBLAS.cmake), but it's possible to compile PyTorch with Accel

[2022-01-24 18:47] ngimel commented on #71712
cc @robieta

[2022-01-24 18:48] suo opened #71716 "Nightlies not building since 1/21/22"
## Current Status
closed

## Error looks like
Nightlies not getting built

## Incident timeline (all times pacific)

- 1/20 pytorch/probot transitioned over to pytorch/test-infra, along with all of the bot actions (including the one that is responsible for triggering circleci workflows)
- 1/21 First nightly does not build
- 1/24 Nightlies not building detected (manually?) by @malfet
- 1/24 Fix pus

[2022-01-24 18:48] #71716 closed

[2022-01-24 18:49] SS-JIA commented on #71264
Ah yes, unfortunately it's a limitation of the Vulkan backend right now. We currently do not have a way to represent tensors that are 5 dimensional or more. This is something we plan to address in the future.

Just curious, what kind of models are you trying to run with the Vulkan backend?

[2022-01-24 18:50] ngam commented on #71712
No! There is (which is actually good, so thank you for the flexibility!) You can specify `BLAS=OpenBLAS` and you will force it to compile with OpenBLAS.

See more here: https://github.com/conda-forge/pytorch-cpu-feedstock/pull/84#issuecomment-1019802668

[2022-01-24 18:57] LiuXiaoxuanPKU commented on #64729
Hi question about the hook trigger order

layer1 --> layer 2
   |                |
pack1         pack2

[2022-01-24 19:03] jbschlosser commented on #71188
Looks to be expected behavior from a fix in #61166. Previously, the value of `align_corners` did not matter for this scenario, and now it does. This was apparently done to match the behavior of OpenCV / PIL.

[2022-01-24 19:03] ngam commented on #71712
Also, I am happy to run some benchmarks and tests if you can point me to some meaningful ones for this particular case. I already have both OpenBLAS-based and Accelerate-based PyTorch ready (and reproducible; I can also add BLIS and/or other BLAS libraries to test). I also am happy to help if there is an interest in clarifying this further :)

Note: I believe this whole thing is meaningless outsid

[2022-01-24 19:08] IvanYashchuk commented on #71712
Great it was fixed, if I recall correctly previously it was only affecting Caffe2 and not ATen (for example https://github.com/pytorch/pytorch/issues/60328).

[Reference LAPACK](https://github.com/Reference-LAPACK/lapack) requires BLAS and if LAPACK is built from source against BLAS from Accelerate then I guess there shouldn't be any problems.

[2022-01-24 19:10] thiagocrepaldi commented on #8054
It’s been over 2 months, so closing this. Feel free to open another one.

[2022-01-24 19:10] #8054 closed

[2022-01-24 19:12] thiagocrepaldi commented on #10942
It’s been over 2 months, so closing this. Feel free to open another one.

[2022-01-24 19:12] #10942 closed

[2022-01-24 19:14] thiagocrepaldi commented on #16025
It’s been over 2 months, so closing this. Feel free to open another one.

[2022-01-24 19:14] #16025 closed

[2022-01-24 19:14] thiagocrepaldi commented on #11296
It’s been over 2 months, so closing this. Feel free to open another one.

[2022-01-24 19:14] #11296 closed

[2022-01-24 19:14] thiagocrepaldi commented on #22568
It’s been over 2 months, so closing this. Feel free to open another one.

[2022-01-24 19:14] #22568 closed

[2022-01-24 19:15] thiagocrepaldi commented on #66935
It’s been over 2 months, so closing this. Feel free to open another one.

[2022-01-24 19:15] #66935 closed

[2022-01-24 19:15] thiagocrepaldi commented on #65614
It’s been over 2 months, so closing this. Feel free to open another one.

[2022-01-24 19:15] #65614 closed

[2022-01-24 19:15] thiagocrepaldi commented on #59640
It’s been over 2 months, so closing this. Feel free to open another one.

[2022-01-24 19:15] #59640 closed

[2022-01-24 19:15] thiagocrepaldi commented on #64769
It’s been over 2 months, so closing this. Feel free to open another one.

[2022-01-24 19:15] #64769 closed

[2022-01-24 19:24] suo commented on #71187
Alright @VitalyFedyunin, @ejguan, what do we want to do here? I would like to make forward progress on this, so we should decide:
- Split it out into separate job?
- Fix the shm ooms and name collisions?
- both?

[2022-01-24 19:33] AlexTitovWork commented on #47908
Hello @ptrblck ! I use simple test for upload data in to GPU tensor!
[code]
I use same test for two GPU platform
Allocationg + data transfering:
1. on RTX 2080 Ti under:
CUDA Driver version/ Runtime version 11.2/ 10.2
CUDA Capability Major/Minor version number 7.5
Takes ~3 sec.
2. on RTX 3090 under:
CUDA Driver version/ Runtime version 11.4/ 11.3
CUDA Capability Major/Minor version number 8.6
Take

[2022-01-24 19:38] ejguan commented on #71187
I will look into it next week to see how to achieve so.

My PR may only solve part of the problem (unfortunately reverted). But, fixing the name collisions is extremely hard to me as I have never been able to reproduce it.

@seemethere Do you have any suggestion on it since (IIUC) you suggested parallel execution of tests in GHA may cause this issue more flaky?

[2022-01-24 19:58] supriyar commented on #69307
Can we close this given that https://github.com/pytorch/pytorch/pull/70958 has landed?
cc @jerryzh168, @terrychenism

[2022-01-24 20:06] #68195 closed

[2022-01-24 20:12] jbschlosser commented on #55549
I agree with your assessment that throwing an error for non-monotonically-increasing offsets is the right way to go.

[2022-01-24 20:13] jbschlosser commented on #52851
I can't think of a reason why the user would want this. It's easy enough to keep offset constant to get a 0-size bag.

[2022-01-24 20:35] jbschlosser opened #71720 "Old warnings from F.interpolate docs should be cleaned up"
## Issue description

The [`F.interpolate()` docs](https://pytorch.org/docs/master/generated/torch.nn.functional.interpolate.html) include a couple of old warnings regarding the behavior of `align_corners` and `recompute_scale_factor` referencing PyTorch v0.3.1 and v1.6.0, respectively. These should be removed as no longer relevant. Also, somewhat related: the docstring for `recompute_scale_factor

[2022-01-24 20:44] suo commented on #64124
Recently we shipped some improvements to how CIFlow triggers jobs, with the goal of simplifying the UX and improving signal-noise ratio. Here is how your workflow has changed:
- **You do not need to issue CIFlow commands anymore, simply adding a ciflow/ label is sufficient to trigger the additional workloads.** We will have the bot reply to any CIFlow commands to remind people of this, but the com

[2022-01-24 20:58] HDCharles commented on #68540
closed by https://github.com/pytorch/pytorch/pull/68907

[2022-01-24 20:58] #68540 closed

[2022-01-24 21:10] HDCharles opened #71721 "Improve performance of index for quantized ops"
### 🚀 The feature, motivation and pitch

currently the quantized_index op has really poor performance

i.e.

[code]
![Screen Shot 2022-01-24 at 4 08 37 PM](https://user-images.githubusercontent.com/39544797/150865157-3131a49e-0c35-4a0e-a350-34d0094b8859.png)

This also affects ops that utilize index like index_select

### Alternatives

letting things be slow

### Additional context

this is noted

[2022-01-24 21:48] zou3519 opened #71725 "When someone calls detach() on a __torch_dispatch__ object, detach() gets called twice"
### 🐛 Describe the bug

See https://gist.github.com/zou3519/6a673f7b624ca2365361e45ce7843439 .
[code]
prints:
[code]
on PyTorch 1.10 and PyTorch master

### Versions

1.10 and master

cc @albanD @zou3519

[2022-01-24 21:53] akashsharma02 commented on #27837
@JeanKaddour Were you able to get to the bottom of it. I seem to be observing similar issues with Pytorch `1.10.1` as well.

[2022-01-24 22:07] zou3519 commented on #71725
cc @albanD @soulitzer since we were discussing this earlier today.

I figured out why detach() prints twice: it's because shallow_copy_and_detach is being called twice!
- shallow_copy_and_detach gets called once [here ](https://github.com/pytorch/pytorch/blob/f75e92a936f32303b3fa570a6fab144aa0acec44/torch/csrc/autograd/VariableTypeManual.cpp#L320)
- Inside [as_view](https://github.com/pytorch/pyto

[2022-01-24 22:46] albanD commented on #71725
Feels like we have some overdue work with removal of make_variable...

[2022-01-24 23:03] jerryzh168 commented on #69307
yes I think so, closing

[2022-01-24 23:03] #69307 closed

[2022-01-24 23:07] jeffdaily commented on #69925
Is this related to #70027?  I've been trying to debug it and it seems perhaps ZeroTensor is involved.

[2022-01-24 23:12] jeffdaily commented on #70027
These tests are marked as expected failure for cuda.  But rocm produces a mem access fault instead of raising the error about finding more than one device.

[2022-01-24 23:27] mikaylagawarecki commented on #71674
seems like `torch.set_default_dtype` accepts either torch.float32 or torch.float64 as input https://pytorch.org/docs/stable/generated/torch.set_default_dtype.html

[2022-01-24 23:30] VitalyFedyunin commented on #71187
we would prefer to do both, @seemethere do we have any sort of examples to make (configs separation) happen?
meanwhile we are going to look at collisions and ooms

[2022-01-24 23:40] malfet commented on #71396
@ejguan yes, because those are the only two not migrated to GHA. We are actively working on migrating those

[2022-01-24 23:41] mikaylagawarecki commented on #71671
Labelling as high priority because of INTERNAL ASSERT FAILURE triggered

[2022-01-24 23:50] soulitzer commented on #69925
@anjali411 maybe https://github.com/pytorch/pytorch/issues/71160 is related?

[2022-01-25 00:10] malfet opened #71732 "XLA tests are failing"
## Current Status
*ongoing* Please ignore any XLA test failures

## Error looks like
`test_ptxla` crashes:
[code]
## Incident timeline (all times pacific)
<details>
<summary> Click for example </summary>

e.g.
- 1/24 10:40a incident began
- 1/24 4:00p detected by looking at [HUD](https://hud.pytorch.org/ci/pytorch/pytorch/master?name_filter=xla,)

</details>

## User impact
*How does this affect u

[2022-01-25 00:26] HDCharles opened #71736 "tensors with more elements than the int32 max val don't quantize correctly"
### 🐛 Describe the bug

if you have more elements than the int32 max val, then a quantize_per_tensor operation returns all 0's. Depending on number of dimensions it seems like it can vary, also looks like per_channel doesn't have this issue.

[code]

total bigger than int32 False
quantized tensor([[0.8078, 0.9804, 0.1176, 0.0471, 0.1804],
        [0.9647, 0.3843, 0.6980, 0.1882, 0.2588],
        [

[2022-01-25 00:34] vadimkantorov commented on #32021
This is partially done for SGD it seems, it now checks that lr is set within param groups. The only issue is that the error message is confusing when a list of parameters is passed in without an lr.

[2022-01-25 00:39] wenzhe-nrv commented on #65640
@Krovatkin I tried the latest LTC (`97888c4`) and I was still able to observe the constant memory increase with a simple MLP model running 10k iterations. I don't think it stabilized after 20 iteration. What would you recommend to debug on my side?

How did you build both pytorch and LTC with ASAN?

[2022-01-25 01:25] malfet commented on #71704
`NNPACK` usage in PyTorch should be limited to caffe2 operators (which has been deprecated for a while) Can you please share a repro code that runs into this issue?

[2022-01-25 01:34] 54724531 commented on #37664
I still am running into this problem, and  torch.cuda.empty_cache() is not clearing memory.  any suggestions?

[2022-01-25 01:35] cbalioglu commented on #71660
Hey @malfet, @ngimel, do you mind reviewing #71746? It uses a much simpler way to fulfill the requirements mentioned in this issue and does not require GLOG.

[2022-01-25 01:42] orena1 commented on #37664
Hi @54724531, it is currenlty, not possible to clear all the memory from the GPU once data was sent from the pytorch to the GPU.

[2022-01-25 02:07] dinhkt commented on #71264
Thank you for your support!
The error I post above is when I use yolov5, I also want to run my custom pose estimation model.

[2022-01-25 02:15] digantamisra98 commented on #67864
[code]

Getting the same error in random times. Torch - 1.10.1

[2022-01-25 02:21] HDCharles commented on #68634
example of functionality: https://github.com/pytorch/pytorch/blob/9d47652bee39ffd0001fc6088ae949be08674710/test/quantization/eager/test_numeric_suite_eager.py#L475

[2022-01-25 02:21] #68634 closed

[2022-01-25 02:49] eosayamen commented on #9446
I have an error trying to use a github python script. Is there a way anyone can help me? I was trying to use a script that allows you to make an obj model from a photograph. Here is the link: GitHub - shunsukesaito/PIFu: This repository contains the code for the paper "PIFu: Pixel-Aligned Implicit Function for High-Resolution Clothed Human Digitization". I was able to install it using google colla

[2022-01-25 03:11] jinfagang commented on #71704
@malfet let me have a deep investigate, I forget which repo I run into this issue.

[2022-01-25 03:14] malfet commented on #70667
It looks like easiest solution for `TORCH_DISTRIBUTED_DEBUG` environment variable is to add call to `c10::showLogInfoToStderr()` defined here
https://github.com/pytorch/pytorch/blob/9d47652bee39ffd0001fc6088ae949be08674710/c10/util/Logging.h#L127

to say here
https://github.com/pytorch/pytorch/blob/9d47652bee39ffd0001fc6088ae949be08674710/torch/csrc/distributed/c10d/logger.cpp#L380-L382

[2022-01-25 03:33] cicirori commented on #71660
In fact, I have reservations about solving this problem by setting GLOG=ON.
I have tried to compile PyTorch with GLOG=ON, and it was a bit of a struggle, but I eventually succeeded and saw the desired log output. However, I was also using torch xla at the same time, and it seemed that the tensorflow included in torchxla conflicted with pytorch's glog and caused the compilation to fail. I spent ver

[2022-01-25 04:29] ngimel commented on #71187
Users also report a similar error re: exising file, which may or may not be related the errors we are seeing in CI https://github.com/pytorch/pytorch/issues/67864#issuecomment-1020741011. Note, the error message reported in the issue is different, but it's because we changed it after 1.10 to report better information.

[2022-01-25 04:29] soulitzer commented on #64729
Neither. Saved tensor hooks operate at the tensor level. They trigger when a tensor is saved for backward. Tensors are saved for backward during the forward pass of an op in the autograd kernel. So, the computation of layer1 subsumes that of pack1, and likewise for layer2/pack2. It wouldn't make sense to say whether pack1 runs before or after layer1/layer2 etc.

[2022-01-25 04:31] cpuhrsch commented on #71678
@collinmccarthy - could you try this again with a recent nightly please?

[2022-01-25 04:35] Varal7 commented on #64729
To expand on soulitzer's answer, it means that if `pack1` is ever called, it will be called during the forward pass of layer1, i.e before you "enter" layer2.

[2022-01-25 05:01] mruberry commented on #71673
Thanks for reporting this issue, @DrDryg -- that is really interesting.

[2022-01-25 05:16] mruberry commented on #71674
It's true we don't support this but we shouldn't crash when any dtype (or object) is provided. The documentation can also be updated to better reflect what we actually support (and don't support).

[2022-01-25 05:53] mruberry commented on #71222
@de-gozaru not me, but see @IvanYashchuk's comment above

[2022-01-25 05:56] mruberry commented on #71204
@Lezcano Erroring out makes sense to me. The documentation for `torch.diag` only describes two cases: `input` is a 1D vector or a 2D tensor. This would improve it to say if `input` has three or more dimensions an error is thrown. The "See Also" block of the torch.diag documentation could also be updated to better reflect other options.

[2022-01-25 05:59] happyjin opened #71753 "Bug of pytorch 1.10 for NVIDIA RTX a6000"
### 🐛 Describe the bug

Hi there,

I ran my code below on a6000 with 2 GPUs or 4 GPUs. However, the CE loss becomes nan after just a few iterations. Then I check, it because the learnable parameters become nan after almost the first backpropagation. Then I test my code on other GPUs such as TITAN RTX, TITAN V, and Tesla V100 (32G). They work well on other GPUs except for RTX a6000. I am wondering

[2022-01-25 05:59] mruberry commented on #71392
Fixing the signature (and verifying the updated signature works as expected) would be great.

[2022-01-25 06:01] mruberry commented on #71386
I don't think we'd take a KNN implementation in PyTorch itself at this time, but it seems like something libraries built on PyTorch could offer.

[2022-01-25 06:06] mruberry commented on #71384
@Lezcano would you take a look at this? This may just be a docs issue. The docs for linalg.tensorinv also have some formatting issues we may want to correct.

[2022-01-25 06:08] mruberry commented on #65908
We expect the associated PR will be merged soon.

[2022-01-25 06:11] mruberry commented on #70657
Anyone is welcome to address any issue that the community has decided to solve.

[2022-01-25 06:13] mruberry commented on #70925
Looks like the error message is from named tensor support. We would accept a PR updating this behavior to be consistent with the Python Array API (and NumPy). We should add a SampleInput for it, too, and ensure the `concat` sample input references `np.concatenate`.

[2022-01-25 06:15] mruberry commented on #70924
Thanks for the explanation, @pmeier. We would accept a PR for the first part.

I don't think we'd accept a PR for the second part. We would still be consistent with the Array API on valid inputs to `squeeze`, after all.

[2022-01-25 06:16] mruberry commented on #71389
This makes sense and I appreciate why this little refinement would be neat, but we try to keep PyTorch simple and promote one best way to accomplish a task. The pattern of not saving to a directory unless it already exists is pretty standard, too.

Neat idea, though @take2rohit.

[2022-01-25 06:23] wanchaol commented on #71458
@kumpera if i understand correctly, `TORCH_CHECK` throws only if the jit_future has error, are you referring that usage of `RRefContext::handleException` does not expect itself to throw, and runs more error handling code after that? Do we have a example usage where it does more handling after the call of `RRefContext::handleException`?

[2022-01-25 06:47] feifeiwei opened #71754 "PyTorch convert function for op 'deform_conv2d' not implemented."
Hi, How can i convert a deform_conv2d op from pytorch to coreml.

[2022-01-25 07:06] #70607 closed

[2022-01-25 07:24] inamahamed commented on #30664
yah its work coz it dose not use GPU hahhaah

[2022-01-25 07:27] mzhadigerov commented on #30664
That's weird, because I used to do

torch.device("cpu")

before and it didn't work, but now it works

[2022-01-25 08:58] xwang233 commented on #71297
Update: With pytorch cuda caching allocator disabled, the test seems passed. It probably indicates some kind of race conditions in memory usages in pytorch sparse code.

[code]

[2022-01-25 09:48] dkgaraujo commented on #68982
Apparently it is solved in condo, but not in pypi. Might I ask what is the status there? Many thanks in advance.

[2022-01-25 10:20] aojue1109 commented on #16417
这个对我有用

[2022-01-25 11:40] Anselmoo opened #71760 "Adapting the citation style according to off"
### 📚 The doc issue

Currently, the [citation](https://github.com/pytorch/pytorch/blob/master/CITATION) is only linked to the `bibtex` file.

Consequently, the citation cannot be quickly exported to the APA style, which might be useful for mardkowns or PPTs.

[https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-citation-files](h

[2022-01-25 12:18] SystemErrorWang commented on #49226
Is there any method to turn the BatchNorm node in training mode to inference mode in an onnx file? Or if there is any method to export BatchNorm nodes with dynamic input in inference mode? (refer to adain implementaiton in this repo: https://github.com/NVlabs/MUNIT/blob/master/networks.py)

[2022-01-25 12:58] nkaretnikov commented on #70238
a preliminary version is available here for now:
https://github.com/nkaretnikov/pytorch/commit/b729ea372318259fdeb122c1f475cab0c46f55b2

despite the discussion above, i went ahead and added borrowing and non-borrowing variants for 3- and 4-argument versions. otherwise, the api looks ad-hoc.

will submit with the margin_ranking_loss pr when that's fully ready

[2022-01-25 13:03] #71686 closed

[2022-01-25 13:20] Lezcano commented on #70238
As discussed, it is possible to disallow r-values from the API via universal references + SFINAE. Now, we all know how errors look when using SFINAE, but the implementation would be straightforward. What do you think @ngimel

p.s. I just looked it up and it should indeed  be possible to do this:
https://stackoverflow.com/questions/33256589/specialized-template-function-with-deleted-general-case-fa

[2022-01-25 15:26] jbschlosser commented on #71386
I have to agree that this would be useful. Note that this is distinct from e.g. sklearn's [`KNeighborsClassifier`](https://scikit-learn.org/stable/modules/generated/sklearn.neighbors.KNeighborsClassifier.html), as that is a classification algorithm and the KNN under discussion would be more of a query for the top-k closest embeddings. While I agree with @mruberry that we don't want to provide the

[2022-01-25 15:29] #38032 closed

[2022-01-25 16:17] kingder commented on #58861
@eqy HI, does the cudnn conv with bfloat16 works now?
I built a custom binary with your PR #60755,  testing conv with bfloat16, but a runtime error with 'CUDNN_STATUS_BAD_PARAM' was raised. any thoughts?

I built with cuda11.3 and cudnn 8.2; testing on A100 with CUDNN_V8_API_ENABLED=1;

[2022-01-25 17:19] ajcost commented on #71385
I drafted a PR at #71769, let me know if this is the right direction

[2022-01-25 17:32] rohan-varma opened #71770 "DISABLED test_data_parallel_module_cuda_float16 (__main__.TestDataParallelDeviceTypeCUDA)"
platforms: rocm

https://ci.pytorch.org/jenkins/job/pytorch-builds/job/pytorch-linux-bionic-rocm4.5-py3.7-test-distributed/3045/console

[code]

cc @jeffdaily @sunway513 @jithunnair-amd @ROCmSupport @KyleCZH

[2022-01-25 17:42] janeyx99 commented on #65980
Closing as it appears to have been resolved already.

[2022-01-25 17:42] #65980 closed

[2022-01-25 17:51] agemagician opened #71772 "[ONNX] Support aten::bilinear"
### 🚀 The feature, motivation and pitch

I am trying to export a model with bilinear to onnx and it doesn't work.

Currently exporting a model with bilinear layer is not yet supported. It will be great if you can support it soon.

Here is a small example to reproduce my problem:

[code]

Error:

[code]

### Alternatives

_No response_

### Additional context

_No response_

[2022-01-25 17:54] jeffdaily commented on #69925
Why do we have `add_zerotensor` and `mul_zerotensor`, but no `div_zerotensor`?  I added it, and it seems to fix the rocm tests.  No more mem access fault.

[2022-01-25 18:00] alealv commented on #42861
Hi, I'm having the same issue and it isn't clear for me how to solve it.
Also the issue it's quite old but #20140 seems to be resolved

### How to reproduce
In a freshly new virtual env
[code]

[code]

[2022-01-25 18:06] eqy commented on #58861
Thanks for the feedback; this is unexpected as we've been testing `bfloat16` with cuDNN v8 and things seemed to be working. Could  you please share an executable script that reproduces this issue (preferably just a single convolution if it can be isolated down to one). Thanks!

[2022-01-25 18:11] davidberard98 opened #71774 "matmul returns uninitialized memory for int64 tensors with inner dimension of zero"
### 🐛 Describe the bug

This was found in opinfo tests. Observed in {windows CI test} and {internal @mode/opt}. Only seen on `dtype=torch.long`, not with ints.

Similar bugs are found in:
* `__rmatmul__`, int64
* `addmm_decomposed`, float16
* `linalg_multi_dot`, int64

Repro:
[code]

Output:
[code]

### Versions

fbcode, non-gpu machine, `@mode/opt -c python.package_style=inline`

[2022-01-25 18:29] janeyx99 commented on #66903
Pretty much done with #67819

[2022-01-25 18:29] #66903 closed

[2022-01-25 18:43] anjali411 commented on #69925
yeah #71160 will fix this issue. This issue is being caused because the CUDA dispatch key is not correctly set on EZTs creating with cuda device

[2022-01-25 18:46] anjali411 commented on #69925
@jeffdaily yeah we could certainly add a fastpath for div as well. Here is a complete list of ops that can benefit from the fastpath in the JVP computation: https://github.com/pytorch/pytorch/issues/69687

[2022-01-25 18:51] malfet commented on #69691
https://anaconda.org/nvidia/cudatoolkit/files?version=11.5.0 linux-64 depends on "__glibc >=2.17,<3.0.a0, libgcc-ng >=9.4.0, libstdcxx-ng >=9.4.0"
And max version of [libstdcxx-ng](https://anaconda.org/anaconda/libstdcxx-ng) published by anaconda is 9.3.0

[2022-01-25 19:27] albanD commented on #71698
Hi,

What is the error message?
Also does it work if you pass in a `std::vector<int64_t>` ?

[2022-01-25 19:37] albanD commented on #71465
Note that for no batch dim support, we most likely don't want to add any case that would make the existence or not of a batch dim ambiguous.

[2022-01-25 19:39] BowenBao commented on #71695
Thanks for reporting. This is a common issue for topk in torchvision. `rpn` had this issue before and was resolved. I will submit a PR to torchvision.

Tracked internally by Microsoft at https://msdata.visualstudio.com/Vienna/_workitems/edit/1596859

[2022-01-25 19:55] awgu commented on #71347
Fixing this issue will fix this other one as well: https://github.com/pytorch/pytorch/issues/59973

[2022-01-25 20:02] anjali411 commented on #71754
Hi @feifeiwei we use https://discuss.pytorch.org/ for questions.

[2022-01-25 20:20] ngimel commented on #71753
Can you check that V100 produces correct results with pytorch version 1.10? Also, can you try running on A6000 disabling tf32? https://pytorch.org/docs/stable/notes/cuda.html#tf32-on-ampere

[2022-01-25 20:30] bdhirsh commented on #71732
It looks like CI is green again now that the offending commit was reverted? https://github.com/pytorch/xla/commit/ff079bb48744e5aa6696201ccf34057f15fc7cac

[2022-01-25 21:01] seemethere commented on #66178
# 1/18-1/25
## No PR signal
* https://github.com/pytorch/pytorch/pull/71579
  * Windows CUDA build / test
* https://github.com/pytorch/pytorch/pull/69501
  * PR signal outdated

## Ignored Signal

## Land races

## Weird
* https://github.com/pytorch/pytorch/commits/11d8fe59fdad19c7e482161b12b4e399ab008d21
  * Merged directly to master (@malfet)

[2022-01-25 21:11] seemethere commented on #71592
Error message looks like: `failed: fatal commit_refs`

[2022-01-25 21:12] seemethere commented on #71592
AI: Add retry to syncbranches push (maybe with a delay / backoff)

[2022-01-25 21:21] seemethere commented on #71716
Alarms should be for consecutive failures for nightlies, AI to determine the length of consecutive failures (5 days?)

[2022-01-25 21:29] #67919 closed

[2022-01-25 21:48] ElpadoCan commented on #37733
I am getting a similar error with pytorch 1.10.1. I am using conda. I tried `conda remove pytorch` and then `conda install -c pytorch pytorch=1.9` and 1.9.1 got installed, but I get the same error. What could be the issue?

[2022-01-25 21:55] antoniojkim commented on #69047
I found the cause of this issue. It was an issue with the rpaths that was causing `_LAZYC.___.so` to be loaded twice.

[2022-01-25 21:55] #69047 closed

[2022-01-25 22:12] #71754 closed

[2022-01-25 22:13] mruberry commented on #71645
Another example with relevant snippet https://github.com/pytorch/pytorch/runs/4899725416?check_suite_focus=true:

[code]

This might be the #1 CI reliability issue currently. There may be other flaky linear algebra tests, too, however. @IvanYashchuk just saw an lstsq failure that may or may not be related to a PR he's working on.

[2022-01-25 22:19] ngimel commented on #71774
Happens with fbgemm only

[2022-01-25 22:21] davidberard98 opened #71784 "[JIT] addmm differs from eager mode"
### 🐛 Describe the bug

This was found in opinfo tests.

Repro:
[code]

Output:
[code]

### Versions

(non-gpu devserver)

[code]

[2022-01-25 22:30] #68739 closed

[2022-01-25 22:37] mszuyx opened #71786 "ONNX export for sparse_coo_tensor"
### 🚀 The feature, motivation and pitch

We developed a CNN model in pytorch that largely relying **torch.sparse.FloatTensor** as well as functions like: **torch.sparse.sum** and **torch.sparse.mm**. The use of spare tensors greatly enhance the runtime performance of our model and requires much much less GPU memory.

We had a great experience developing the model, and now we are looking forward to

[2022-01-25 22:40] mruberry commented on #71633
I think this is by design, although our docs could be improved.

There are a few ways this behavior could be implemented:

- `pow` could always return a floating point value to deal with negative exponents properly. This would be consistent with the behavior of other operations, like `sin`, where integer inputs return floating point results because the codomain of the integers includes non-integer

[2022-01-25 23:20] jbschlosser commented on #71638
Hey @vadimkantorov, I believe anti-aliasing on CPU was added for bilinear interpolation in #65142 and bicubic interpolation in #68819. A CUDA implementation is still under review in #70930. Is there anything missing once that merges?

[2022-01-25 23:55] zasdfgbnm commented on #70654
Thanks, @dzhulgakov, and @jiayisuse, for the suggestion! I agree that starting with an extension is a good idea. But torch_ucc itself is already an extension. For our purposes, this torch_ucc extension already provides all the good sides you have mentioned. For example, we can experiment with this extension without invasive changes to PyTorch core. I don’t think we need another extension for this

[2022-01-26 00:28] vadimkantorov commented on #71638
oh, then I guess torchvision should migrate to pytorch core :) was there anything special done for resampling in torchaudio?

[2022-01-26 00:54] ptrblck commented on #69691
A workaround using the `cuda` conda package might be:
[code]
This should install:
[code]
For 11.5.0 I get an `UnsatisfiableError`.

[2022-01-26 01:50] happyjin commented on #71753
Thanks for your reply.

1. I do not have V100 device anymore.
2. I disable tf32. But the nan problem still exists.

[2022-01-26 01:54] wconstab commented on #69047
Oh- I actually had a partly typed reply!  I was going to say that you can only have one backend registered to a given key.  I wanted to make sure you were creating a full backend (with its own registrations) in your plugin, and not relying partially on the TS backend.  Sounds like you figured it out.

[2022-01-26 01:56] wconstab commented on #69033
Could you try the same command but the `hf_Albert` or `hf_Bert` model?

[2022-01-26 01:59] Hanrui-Wang commented on #71446
Thank you Mostafa and anjali411 for the suggestions! I will change the implementations in TorchQuantum accordingly. I will post future questions on complex number support of operations in this thread too.

[2022-01-26 02:11] rwightman commented on #70954
Since this overlaps with an issue I've observed that's impacting more and more nets I've been working with. I have been trying to get it improved for a year now, some colab notebooks based on some benchmark runs I've done just recenlty.

NCHW vs NHWC train throughput for a lot of networks:
https://colab.research.google.com/drive/1q2nVSceSxWOW3raCksjusiJEupflFrZu

Sweeping group size for an NFNet a

[2022-01-26 02:12] ngimel commented on #71753
I don't think that's A6000 bug, a lot has changed between pytorch 1.6 and pytorch 1.10.
cc @xwang233

[2022-01-26 02:28] ke1337 commented on #69033
Both worked fine, thanks!

[2022-01-26 02:32] happyjin commented on #71753
Thanks for your advice. Since I only have access to one node of the cluster, I asked one of my colleagues to test my code on other nodes. The code works, I believe that the node I used has problems instead of a bug of PyTorch. I will re-check the system of this node to solve this node's problem. I close this issue now in the meantime.

[2022-01-26 02:32] #71753 closed

[2022-01-26 02:41] sdreamforchen commented on #67538
Hello， what method work， down to torch 1.8？？？

[2022-01-26 02:47] Dignity-ghost commented on #67538
nohup may terminate pytorch program when close the terminal, but tmux really worked.

[2022-01-26 02:58] kingder commented on #58861
I thought any conv can reproduce this issue (check below screenshot). I was wondering whether it's related to how I built torch or the GPU driver? the binary was built with dynamic linking cuda13/cudnn8.2, but the gpu driver is 460.32 with cuda11.2, is there anything wrong? or do you have a working binary with linux_x64 / py36 / cuda11+ / cudnn8.2. Could you share it to me if you do?

![image](htt

[2022-01-26 03:02] skpig commented on #67172
@cbalioglu I've also encountered the same error.
1. environment
    Python: 3.6
    Pytorch: 1.10.1
2. Script
[code]

[2022-01-26 03:24] janeyx99 opened #71806 "Migrate master to main: https://github.com/pytorch/pytorch"

[2022-01-26 03:25] #71096 closed

[2022-01-26 03:33] sdreamforchen commented on #67538
Even use '&' after the GPU device number, nohup also may terminate pytorch program?  such as the arg of train: --device 1,2&.

[2022-01-26 03:53] janeyx99 opened #71808 "DISABLED test_fn_grad_linalg_det_singular_cuda_float64 (__main__.TestGradientsCUDA)"
Platforms: linux, win

This test was disabled because it is failing on master ([recent examples](http://torch-ci.com/failure/test_fn_grad_linalg_det_singular_cuda_float64%2C%20TestGradientsCUDA)).

Pretty certain the culprit is #71168, but since @anjali411's fix was to disable some tests, I am thinking the intention was to disable and fix soon. Tagging @terrychenism

Update: disabled again because

[2022-01-26 03:57] AfrinaVT commented on #67172
I was having this issue with pytorch 1.10 . so I downgraded to pytorch 1.8 and the error went away.

[2022-01-26 03:59] janeyx99 opened #71809 "DISABLED test_fn_fwgrad_bwgrad_gradient (__main__.TestGradients)"
### 🐛 Describe the bug

Platforms: linux

Culprit seems to be #71791, tagging @anjali411

Example failure (now they show up as unexpected successes):
https://github.com/pytorch/pytorch/runs/4945515438?check_suite_focus=true

More failures: https://hud2.pytorch.org/minihud?name_filter=linux-xenial-cuda11.3-py3.7-gcc7%20/%20test%20(default,%201,%202,%20linux.4xlarge.nvidia.gpu)

### Versions

In CI

[2022-01-26 04:00] janeyx99 commented on #71809
Also testing the code I recently commited in https://github.com/pytorch/pytorch/pull/71499

[2022-01-26 04:17] janeyx99 opened #71810 "Migrate master to main: https://github.com/pytorch/labeler-github-action"
Please look at the parent issue for instructions.(https://github.com/pytorch/pytorch/issues/62540)

[2022-01-26 04:18] janeyx99 opened #71811 "Migrate master to main: https://github.com/pytorch/dr-ci"
Please look at the parent issue for instructions.(https://github.com/pytorch/pytorch/issues/62540)

[2022-01-26 04:18] janeyx99 opened #71812 "Migrate master to main: https://github.com/pytorch/pytorch-ci-dockerfiles"
Please look at the parent issue for instructions.(https://github.com/pytorch/pytorch/issues/62540)

[2022-01-26 04:18] janeyx99 opened #71813 "Migrate master to main: https://github.com/pytorch/pytorch-integration-testing"
Please look at the parent issue for instructions.(https://github.com/pytorch/pytorch/issues/62540)

[2022-01-26 04:18] janeyx99 opened #71814 "Migrate master to main: https://github.com/pytorch/ossci-job-dsl"
Please look at the parent issue for instructions.(https://github.com/pytorch/pytorch/issues/62540)

[2022-01-26 04:18] janeyx99 opened #71815 "Migrate master to main: https://github.com/pytorch/add-annotations-github-action"
Please look at the parent issue for instructions.(https://github.com/pytorch/pytorch/issues/62540)

[2022-01-26 04:18] janeyx99 opened #71816 "Migrate master to main: https://github.com/pytorch/rfcs"
Please look at the parent issue for instructions.(https://github.com/pytorch/pytorch/issues/62540)

[2022-01-26 04:18] janeyx99 opened #71817 "Migrate master to main: https://github.com/pytorch/pytorch_sphinx_theme"
Please look at the parent issue for instructions.(https://github.com/pytorch/pytorch/issues/62540)

[2022-01-26 04:18] janeyx99 opened #71818 "Migrate master to main: https://github.com/pytorch/csprng"
Please look at the parent issue for instructions.(https://github.com/pytorch/pytorch/issues/62540)

[2022-01-26 04:18] janeyx99 opened #71819 "Migrate master to main: https://github.com/pytorch/java-demo"
Please look at the parent issue for instructions.(https://github.com/pytorch/pytorch/issues/62540)

[2022-01-26 04:18] janeyx99 opened #71820 "Migrate master to main: https://github.com/pytorch/extension-script"
Please look at the parent issue for instructions.(https://github.com/pytorch/pytorch/issues/62540)

[2022-01-26 04:18] janeyx99 opened #71821 "Migrate master to main: https://github.com/pytorch/workshops"
Please look at the parent issue for instructions.(https://github.com/pytorch/pytorch/issues/62540)

[2022-01-26 04:18] janeyx99 opened #71822 "Migrate master to main: https://github.com/pytorch/cppdocs"
Please look at the parent issue for instructions.(https://github.com/pytorch/pytorch/issues/62540)

[2022-01-26 04:18] janeyx99 opened #71823 "Migrate master to main: https://github.com/pytorch/nestedtensor"
Please look at the parent issue for instructions.(https://github.com/pytorch/pytorch/issues/62540)

[2022-01-26 04:18] janeyx99 opened #71824 "Migrate master to main: https://github.com/pytorch/extension-ffi"
Please look at the parent issue for instructions.(https://github.com/pytorch/pytorch/issues/62540)

[2022-01-26 04:19] janeyx99 opened #71825 "Migrate master to main: https://github.com/pytorch/accimage"
Please look at the parent issue for instructions.(https://github.com/pytorch/pytorch/issues/62540)

[2022-01-26 04:19] janeyx99 opened #71826 "Migrate master to main: https://github.com/pytorch/ios-demo-app"
Please look at the parent issue for instructions.(https://github.com/pytorch/pytorch/issues/62540)

[2022-01-26 04:19] janeyx99 opened #71827 "Migrate master to main: https://github.com/pytorch/contrib"
Please look at the parent issue for instructions.(https://github.com/pytorch/pytorch/issues/62540)

[2022-01-26 04:19] janeyx99 opened #71828 "Migrate master to main: https://github.com/pytorch/tvm"
Please look at the parent issue for instructions.(https://github.com/pytorch/pytorch/issues/62540)

[2022-01-26 04:19] janeyx99 opened #71829 "Migrate master to main: https://github.com/pytorch/cpuinfo"
Please look at the parent issue for instructions.(https://github.com/pytorch/pytorch/issues/62540)

[2022-01-26 04:19] janeyx99 opened #71830 "Migrate master to main: https://github.com/pytorch/elastic"
Please look at the parent issue for instructions.(https://github.com/pytorch/pytorch/issues/62540)

[2022-01-26 04:19] janeyx99 opened #71831 "Migrate master to main: https://github.com/pytorch/translate"
Please look at the parent issue for instructions.(https://github.com/pytorch/pytorch/issues/62540)

[2022-01-26 04:19] janeyx99 opened #71832 "Migrate master to main: https://github.com/pytorch/android-demo-app"
Please look at the parent issue for instructions.(https://github.com/pytorch/pytorch/issues/62540)

[2022-01-26 04:19] janeyx99 opened #71833 "Migrate master to main: https://github.com/pytorch/extension-cpp"
Please look at the parent issue for instructions.(https://github.com/pytorch/pytorch/issues/62540)

[2022-01-26 04:19] janeyx99 opened #71834 "Migrate master to main: https://github.com/pytorch/hub"
Please look at the parent issue for instructions.(https://github.com/pytorch/pytorch/issues/62540)

[2022-01-26 04:19] janeyx99 opened #71835 "Migrate master to main: https://github.com/pytorch/tnt"
Please look at the parent issue for instructions.(https://github.com/pytorch/pytorch/issues/62540)

[2022-01-26 04:19] janeyx99 opened #71836 "Migrate master to main: https://github.com/pytorch/QNNPACK"
Please look at the parent issue for instructions.(https://github.com/pytorch/pytorch/issues/62540)

[2022-01-26 04:19] janeyx99 opened #71837 "Migrate master to main: https://github.com/pytorch/xla"
Please look at the parent issue for instructions.(https://github.com/pytorch/pytorch/issues/62540)

[2022-01-26 04:19] janeyx99 opened #71838 "Migrate master to main: https://github.com/pytorch/serve"
Please look at the parent issue for instructions.(https://github.com/pytorch/pytorch/issues/62540)

[2022-01-26 04:19] janeyx99 opened #71839 "Migrate master to main: https://github.com/pytorch/glow"
Please look at the parent issue for instructions.(https://github.com/pytorch/pytorch/issues/62540)

[2022-01-26 04:19] janeyx99 opened #71840 "Migrate master to main: https://github.com/pytorch/captum"
Please look at the parent issue for instructions.(https://github.com/pytorch/pytorch/issues/62540)

[2022-01-26 04:19] janeyx99 opened #71841 "Migrate master to main: https://github.com/pytorch/ELF"
Please look at the parent issue for instructions.(https://github.com/pytorch/pytorch/issues/62540)

[2022-01-26 04:19] janeyx99 opened #71842 "Migrate master to main: https://github.com/pytorch/ignite"
Please look at the parent issue for instructions.(https://github.com/pytorch/pytorch/issues/62540)

[2022-01-26 04:19] janeyx99 opened #71843 "Migrate master to main: https://github.com/pytorch/tutorials"
Please look at the parent issue for instructions.(https://github.com/pytorch/pytorch/issues/62540)

[2022-01-26 04:21] mruberry commented on #71808
Thanks for disabling this test. The PR cited looks like it's about quantization, which seems unlikely to be related to the gradient of `linalg.det`?

[2022-01-26 04:21] janeyx99 opened #71844 "Migrate master to main: https://github.com/pytorch/examples"
Please look at the parent issue for instructions.(https://github.com/pytorch/pytorch/issues/62540)

[2022-01-26 04:21] mruberry commented on #71808
@Lezcano, @nikitaved, are one of you available to look into this?

[2022-01-26 05:15] ngimel commented on #71784
script has a pass that splits `addmm` into `add` and `mm`, script results match `torch.mm(a,b)+add`

[2022-01-26 05:32] mruberry commented on #71155
That's true; other ops typically have to add their own custom sample inputs to test this.

[2022-01-26 05:32] mruberry commented on #71155
Thank you for filing this issue, @RyannDaGreat. That behavior certainly is unexpected! We'll have to investigate what's going on.

[2022-01-26 06:22] kshitij12345 opened #71848 "Incorrect usage of `TORCH_INTERNAL_ASSERT` and `TORCH_CHECK`"
### 🐛 Describe the bug

The first argument to these macros should be a condition for trigger but passing a `const char*` works as pointers are treated as  bool (and treated as true if they are not null or 0). Hence they are never triggered.

https://github.com/pytorch/pytorch/blob/530e7f619507e1d06e75e9afb6b5ace42da6f0b2/torch/csrc/jit/codegen/cuda/lower_alias_memory.cpp#L959-L961

https://github.

[2022-01-26 06:23] mruberry commented on #64502
Note we now have `torch.argwhere`: https://pytorch.org/docs/master/generated/torch.argwhere.html?highlight=argwhere#torch.argwhere.

[2022-01-26 06:24] mruberry commented on #71848
cc @wconstab

[2022-01-26 07:00] davidberard98 opened #71849 "addcmul, addcdiv fail test_nnc_correctness opinfo tests under ASAN"
### 🐛 Describe the bug

addcdiv (appears to be non-NNC failure):
[code]

addcmul (appears to be NNC-related):
[code]

### Versions

ASAN CI builds
https://github.com/pytorch/pytorch/runs/4945454087?check_suite_focus=true
https://github.com/pytorch/pytorch/runs/4901392578?check_suite_focus=true

[2022-01-26 08:08] #62813 closed

[2022-01-26 09:33] nkaretnikov commented on #71674
i'm putting this in the pipeline of issues i'll be working on.

[2022-01-26 09:34] nkaretnikov commented on #71673
i'm putting this in the pipeline of issues i'll be working on.

[2022-01-26 09:34] nkaretnikov commented on #70486
i'm putting this in the pipeline of issues i'll be working on.

[2022-01-26 09:35] nkaretnikov commented on #71671
i'm putting this in the pipeline of issues i'll be working on.

[2022-01-26 10:55] Lezcano commented on #71808
This OpInfo is the flakiest OpInfo we have. My take on it is that we should just completely disable it / remove it until we have a second go at computing the second derivative of `det`.

[2022-01-26 11:42] fatcat-z commented on #69889
@mikel-brostrom , I tried your file and met the error below:

Traceback (most recent call last):
  File "repro.py", line 4, in <module>
    from tanet_arch.tanet import TANet
  File "/home/jay/work/pytorch/69889_repro/tanet_arch/tanet.py", line 4, in <module>
    from scd.architectures.tanet_arch.util import upsample
ModuleNotFoundError: No module named 'scd.architectures'

Even after I called 'pi

[2022-01-26 12:57] mvsjober opened #71855 "Regression in multi-node training speed with Transformers + PyTorch"
### 🐛 Describe the bug

We have seen a regression in multi-node training speed with the [Huggingface Transformers CLM test case](https://github.com/huggingface/transformers/blob/master/examples/pytorch/language-modeling/run_clm.py) happening at PyTorch commit [38ac9e6](https://github.com/pytorch/pytorch/commit/38ac9e6) which reverts commit [3957ed4](https://github.com/pytorch/pytorch/commit/3957ed

[2022-01-26 13:36] #60585 closed

[2022-01-26 13:36] #70226 closed

[2022-01-26 13:40] de-gozaru commented on #71222
Hi @IvanYashchuk

Sorry, I somehow skipped you message about using `export OMP_NUM_THREADS=1 MKL_NUM_THREADS=1`.

Can you tell how to do that, you mean run this command in a notebook cell before running my code?

Thank you in advance!

[2022-01-26 14:24] mikel-brostrom commented on #69889
Sorry, my bad. Code was updated and requirments.txt added

[repro.zip](https://github.com/pytorch/pytorch/files/7942462/repro.zip)

[2022-01-26 14:41] nsriniva03 commented on #59363
Do you have to use a swa scheduler ? Let's say you have a lr_scheduler that decays over time; can you just average out the models over the last few epochs/iterations using AverageModel. Every iteration the learning rate decreases by a small value.

[2022-01-26 15:25] fatcat-z commented on #70497
No, it's not caused by torch.randn. Please share the code of your model so I can take a local debug. Thanks.

[2022-01-26 15:37] anjali411 commented on #71674
@TestSomething22 thanks for filing the issue! We don't support this because in practice this is not a behavior user would actually want because it's not as composable. With that said, we should still not crash and instead error out (`TORCH_CHECK(false, ...)`)

[2022-01-26 15:42] janeyx99 opened #71857 "DISABLED test_neg_view_linalg_det_singular (__main__.TestMathBits)"
Platforms: linux

This test was disabled because it is failing on master ([recent examples](http://torch-ci.com/failure/test_neg_view_linalg_det_singular_cuda_float64%2C%20TestMathBitsCUDA)).

Seems mighty connected to https://github.com/pytorch/pytorch/issues/71808#issuecomment-1022086911

Disabling this test until we have a fix PR as the seeming culprit does not seem related to det.

cc @ezyang

[2022-01-26 15:50] jbschlosser commented on #71638
Not sure about that, but you could check with the torchaudio team. cc @mthrok

[2022-01-26 15:58] vadimkantorov commented on #71638
Otherwise, this could probably be closed :) It was just strange to me that torchvision was still using antialias special cases in F.resize ~9 months after they were implemented

[2022-01-26 16:02] cbalioglu commented on #67172
@AfrinaVT @skpig the problem in both use cases lie in the port number. `TCPStore` internally uses a 16-bit integer for representing the port. In both examples the specified port number (92345 for @AfrinaVT and 123456 for @skpig) is higher than the maximum 16-bit integer value (65536). I agree that the error description is not clear enough though. This is an area where we actively work on.

[2022-01-26 16:15] #71638 closed

[2022-01-26 16:17] skpig commented on #67172
@cbalioglu Thank you, it works! BTW, the port number (123456) worked fine when I used torch 1.8 before. Maybe there is something different between the two versions.

[2022-01-26 16:26] janeyx99 commented on #71857
Agreed--I wasn't sure what the culprit was and used this as an immediate alleviation

[2022-01-26 16:33] jeffdaily commented on #69925
I added `div_zerotensor` in PR #71862.  Waiting for CI to finish.  It did resolve the rocm failures.

[2022-01-26 16:36] vfdev-5 commented on #70559
@DavidHarrison can you tell what output would you expect to see.

For example, doing the same resize with opencv and scikit-image we get:

<details>
<summary>
Code
</summary>

[code]

</details>

Output
[code]

Comparision with scikit-image is not exact as they rescale as if `recompute_scale_factor=True`.

I think this issue is related to https://github.com/pytorch/pytorch/issues/62396 where pytor

[2022-01-26 16:37] cbalioglu commented on #67172
Most likely it was a bug and we were simply overflowing your port number, meaning 123456 was becoming 57920 (123456 - 65536). Technically there is no way to move beyond 65536 since this is a limit set by the operating system.

[2022-01-26 16:39] #67172 closed

[2022-01-26 16:43] H-Huang commented on #67172
Added a small pr to provide a better error message https://github.com/pytorch/pytorch/pull/71863

[2022-01-26 16:56] IvanYashchuk commented on #71222
@de-gozaru, based on [the documentation](https://ipython.readthedocs.io/en/stable/interactive/magics.html#magic-env) it should be possible to use `%env` "magic" command. Add the following in the first cell of the notebook:
[code]

To verify that the environment variable has been set correctly, you can use the following code:
[code]

[2022-01-26 17:13] janeyx99 commented on #71857
Closing as revert should fix https://github.com/pytorch/pytorch/pull/71611#issuecomment-1022399970

[2022-01-26 17:13] #71857 closed

[2022-01-26 17:14] janeyx99 commented on #71809
Closing as revert should fix https://github.com/pytorch/pytorch/pull/71611#issuecomment-1022399970

[2022-01-26 17:14] #71809 closed

[2022-01-26 17:14] janeyx99 commented on #71808
Closing as revert should fix https://github.com/pytorch/pytorch/pull/71611#issuecomment-1022399970

[2022-01-26 17:34] #65908 closed

[2022-01-26 18:33] AlexTitovWork commented on #47908
It seems to be a problem with the docker I'm using.

[2022-01-26 18:56] cowwoc commented on #65216
I found an example of the right way to do this: https://discuss.pytorch.org/t/force-dataloader-to-fetch-batched-index-from-custom-batch-sampler/86656

Counter-intuitively, you actually want to pass a `BatchSampler` into `DataLoader.sampler`.

[code]

[2022-01-26 19:06] cowwoc opened #71872 "Clarify the behavior of DataLoader sampler and batch_sampler parameters"
### 📚 The doc issue

Documentation to be updated: https://pytorch.org/docs/stable/data.html

Problem: Looking at https://discuss.pytorch.org/t/force-dataloader-to-fetch-batched-index-from-custom-batch-sampler/86656/3 some users (myself included) find the documentation to be confusing.

The documentation implies that `sampler` is expected to return one index at a time while `batch_sampler` is meant

[2022-01-26 19:09] cowwoc commented on #71872
https://discuss.pytorch.org/t/force-dataloader-to-fetch-batched-index-from-custom-batch-sampler/86656/6 should probably get addressed at the same time, but documenting it or changing the implementation to set `DataLoader.batch_size` to `None` when `batch_sampler` is set.

[2022-01-26 19:26] eqy commented on #58861
I can't seem to reproduce this issue on A6000 + a source build with this branch:
[code]
The mismatch between the driver + CUDA version and the CUDA version it was built with shouldn't be a problem, though I'm not sure if dynamic linking cuDNN could cause issues here. If it's possible, I would recommend trying a source build in a recent NGC container e.g., 21.12:
https://catalog.ngc.nvidia.com/orgs

[2022-01-26 19:53] deepsworld commented on #68407
Facing similar issue with DDP training and `register_buffer` with pytorch:1.10 , python:3.9 in the conda envirnment. Workaround suggested by @jhoareau  seems to work for us.

[2022-01-26 19:54] anjali411 commented on #68459
should we keep this issue open?

[2022-01-26 20:08] jenkspt opened #71877 "Add `output_size` argument to `Upsample` forward method (just like for `ConvTranspose` Modules)"
### 🚀 The feature, motivation and pitch

Motivated by the same reasons ConvTranspose modules have an `output_size` argument.

The problem is that multiple tensor sizes will downsample to the same size
For example:
[code]
[code]

When reversing this operation with an upsampling interpolation operation, an `output_size` argument is required to reconstruct the original input size. The desired functio

[2022-01-26 20:45] malfet opened #71878 "docker builds are broken after AMI update"
### 🐛 Describe the bug

From https://github.com/pytorch/pytorch/actions/workflows/generated-docker-builds.yml
https://github.com/pytorch/pytorch/runs/4897296466?check_suite_focus=true - postnightly on Jan 20th
https://github.com/pytorch/pytorch/runs/4906803285?check_suite_focus=true - postnightly on Jan 21st

Failure signature:
[code]

### Versions

NA

cc @ezyang @gchanan @zou3519 @bdhirsh @seeme

[2022-01-26 21:11] malfet commented on #71878
Last ami where docker builds worked were [ami-096198a0bccc6bad4](https://console.aws.amazon.com/ec2/v2/home?region=us-east-1#ImageDetails:imageId=ami-096198a0bccc6bad4)

[2022-01-26 22:06] #66686 closed

[2022-01-26 22:07] prabhat00155 commented on #66686
Fixed by https://github.com/pytorch/pytorch/pull/71763.

[2022-01-26 22:31] PurnaChandraMansingh commented on #71392
Hi @samdow, I am really interested to contribute to my favorite library Pytorch, could you please suggest a good first issue to start with. Thanks

[2022-01-26 22:54] mirjunaid26 commented on #2091
Worked for me. Thanks, Soumith.

[2022-01-26 23:00] jerryzh168 opened #71889 "Make scale/zero_point accessible from TorchScript traced module for QFlaotFunctional modules"
### 🐛 Describe the bug

Current QFloatFunctional modules (https://github.com/pytorch/pytorch/blob/master/torch/nn/quantized/modules/functional_modules.py) stores scale and zero_point as float/int (normal attributes) but not buffers, this means after tracing the quantized module, user won't be able to retrieve the quantization parameters through attributes, since these parameters will become consta

[2022-01-26 23:10] #71878 closed

[2022-01-27 00:24] ppwwyyxx commented on #55893
An easy workaround that I think torch.distributed could implement is to just use allgather (which NCCL supports) to implement gather, even though that's slower.

[2022-01-27 00:31] #71124 closed

[2022-01-27 01:58] daemon opened #71896 "CUDA Graph API Improvement"
### 🚀 The feature, motivation and pitch

I wish to start some dialogue on reducing the boilerplate for the current CUDA graph API -- specifically, for mixing dynamic and static routines in an eager-ish way. I propose something like this:

[code]

### Alternatives

_No response_

### Additional context

_No response_

[2022-01-27 02:10] malfet commented on #71280
@hauntsaninja this sounds good to me, please do not hesitate to propose a fix like that and I will gladly review it

[2022-01-27 03:03] long-senpai commented on #71079
@mszhanyi pytorch in python I installed with anaconda, that version still return `True` when i run `torch.cuda.is_available()`.
[code]

- I have not ever run pytorch from libtorch i downloaded, and I think my python doesn't have any link to C++ binaries in libtorch downloaded
.

[2022-01-27 04:11] collinmccarthy commented on #71678
@cpuhrsch Same result, I think this is expected though, it looks like I mis-read the docs before. But maybe I'm wrong.

[code]

Output:
[code]

[2022-01-27 05:07] kshitij12345 commented on #71848
Closing as #71879 was merged.

[2022-01-27 05:07] #71848 closed

[2022-01-27 05:31] mszhanyi commented on #71079
Could you please checkout https://pytorch.org/cppdocs/installing.html

[code]
check the result if  `/absolute/path/to/libtorch ` is `torch.utils.cmake_prefix_path` or your downloads path

[2022-01-27 07:14] RaulPPelaez commented on #71518
I believe this is a bug in gcc. Compiling any CUDA code results in the same error.
I can compile CUDA codes by downgrading gcc:
[code]

[2022-01-27 07:29] tz579 commented on #71518
It's so helpful! Thanks!
Is your GCC version 11.2 before downgrading?

[2022-01-27 07:31] RaulPPelaez commented on #71518
I get:
[code]

[2022-01-27 08:59] fatcat-z commented on #69889
This is being tracked internally by Microsoft at https://msdata.visualstudio.com/Vienna/_workitems/edit/1599535.

[2022-01-27 10:00] mengtingchen0222 commented on #71889
I think this idea is good. We can export the encodings of QAT including scales and zero_point for a better deployment if the change of them is traceable.

[2022-01-27 11:25] delonleo opened #71910 "untimeError: cuDNN filters (a.k.a. weights) must be contiguous in desired memory_format"
### 🐛 Describe the bug

Was running this example https://github.com/SABER-labs/Drogon-torch-serve

Do you have any idea how to resolve the following issue ? Thanks.

[code]

### Versions

[code]

[2022-01-27 12:28] IvanYashchuk commented on #71645
The source of the problem is Reference LAPACK changing its behavior for matrices with non-finite values (see https://github.com/pytorch/pytorch/issues/67693#issuecomment-958057993).

OpenBLAS was first to update to the latest LAPACK and the problem was reported in https://github.com/pytorch/pytorch/issues/67693
Now with the new year, MKL has released its new version which also uses the latest LAPA

[2022-01-27 12:55] IvanYashchuk opened #71911 "Functions depending on SVD are broken for inputs with non-finite values with MKL 2022+ and OpenBLAS 0.3.15+"
### 🐛 Describe the bug

Last year LAPACK decided to change the behavior of computation of SVD for matrices with non-finite values. This comment https://github.com/numpy/numpy/issues/18914#issuecomment-839941847 contains the summary of the changes in Reference-LAPACK.
This change was picked up by OpenBLAS 0.3.15 and tests started to fail (see https://github.com/pytorch/pytorch/issues/67693).
Later

[2022-01-27 13:12] vadimkantorov commented on #71683
Related vision issues:

* https://github.com/pytorch/vision/issues/5284
* https://github.com/pytorch/vision/blob/c8e3b2a5925e7b7ed21662e86a7e9553170a5633/references/classification/utils.py#L175-L184

[2022-01-27 13:46] senarvi opened #71912 "`torch._sources.normalize_source_lines()` and consequently `torch.jit.script` fail with lambda functions"
### 🐛 Describe the bug

[`normalize_source_lines()`](https://github.com/pytorch/pytorch/blob/master/torch/_sources.py#L50) crashes if there are no lines that start with "def". This happens with lambda functions.

If a function that is scripted using `torch.jit.script` calls a lambda function, [`parse_def()` calls `normalize_source_lines()`](https://github.com/pytorch/pytorch/blob/master/torch/_sou

[2022-01-27 13:58] samdow commented on #71392
Hi @PurnaChandraMansingh, if you're looking for a docs issue to start with, this would be a great one. We would especially accept a patch, like @mruberry said, if you're also able to verify the updated signature works.

If you're looking for more technical fixes, the [good first issue label](https://github.com/pytorch/pytorch/labels/good%20first%20issue) may have some good issues to sink your teet

[2022-01-27 14:47] alealv opened #71914 "RuntimeError: Caffe2 -The tensor has a non-zero number of elements, but its data is not allocated yet"
### 🐛 Describe the bug

## Description
When training the model, I'm getting this error on the second run of the **Validation set**.

[code]

I'm using PytorchLightning and before the first Epoch I go through the whole validation set once with `num_sanity_val_steps=-1`
Then after successfully going through the first Epoch, the second time the validation set is executed I run into this error.

I rea

[2022-01-27 15:02] cpuhrsch commented on #71678
@collinmccarthy - it's admittedly a bit hidden, but at the end of the [section on supported linalg operators](https://pytorch.org/docs/master/sparse.html#supported-linear-algebra-operations) the documentation states that gradients are support with respect to dense inputs, but it doesn't say that they're *not* support with respect to sparse inputs (which in fact they aren't). We're however actively

[2022-01-27 15:54] antoniojkim commented on #69033
@wconstab Is there any reason that the native functions yaml is named `ts_native_functions.yaml` and the autogenerated code lives under `lazy_tensor_core/lazy_tensor_core/csrc/ts_backend`? It seems to me those functions and autogenerated code is not specific to the torchscript backend (Unless I'm mistaken and they are torchscript specific?). Why not name it more generically as `native_functions.ya

[2022-01-27 16:01] vadimkantorov opened #71918 "Support mixed types for torch.clamp's min/max args"
### 🚀 The feature, motivation and pitch

Currently it allows only (python scalar, python scalar) or (Tensor, Tensor). It would be nice if it allowed mixed types: (python scalar, Tensor). This is useful for `boxes.clamp(min = 0, max = torch.tensor([w, h, w, h]))` kind of box clipping in vision. Currently the workaround is to replace `min = 0` with `min = torch.tensor(0)`. But it would be nice if to

[2022-01-27 16:47] wconstab commented on #69033
The yaml file actually _is_ specific to the TS backend, since each backend can choose which ops to support.  Sometimes there are subtle conflicts (e.g. one backend wants to directly support hardtanh, another wants it to get decomposed into smaller primitives).  See [xla_native_functions.yaml](https://github.com/pytorch/xla/blob/master/xla_native_functions.yaml) for the example of another backend c

[2022-01-27 17:27] malfet commented on #71732
Offending commit was reverted, XLA tests re-enabled, closing

[2022-01-27 17:28] malfet commented on #71878
Fixed by pinning the AMI version, here as an example of passing build: https://github.com/pytorch/pytorch/actions/runs/1756583630

[2022-01-27 17:37] garymm commented on #71695
Actually tracked by <https://msdata.visualstudio.com/Vienna/_workitems/edit/1594284>

[2022-01-27 19:04] Leo-LiHao opened #71929 "[JIT] Results are different when saving in TorchScript Format through train/eval mode"
### 🐛 Describe the bug

Seems like the dropout layer is not disabled when saving a `Module` in `train` mode through `jit`.
# Reproduce

[code]

# Output
[code]
# Expected Output
The results of saved jit scripts should be the same.

### Versions

Collecting environment information...
PyTorch version: 1.10.0+cu102
Is debug build: False
CUDA used to build PyTorch: 10.2
ROCM used to build PyTorch: N/A

[2022-01-27 21:32] Chillee commented on #71896
@daemon have you seen the `torch.cuda.make_graphed_callables` API? https://pytorch.org/docs/stable/generated/torch.cuda.make_graphed_callables.html

[2022-01-27 21:49] silvasean commented on #69033
Hi, on the Torch-MLIR side, we have been waiting for a more clear path to integrate with the current LTC code build-system wise. For the current community, there isn't enough pull to set up the necessary custom builds of PyTorch and whatever else is required to hook into the LTC codebase (I'm still a little foggy about the details, perhaps they have changed since I last checked 1-2 months ago when

[2022-01-27 22:07] tz579 commented on #71518
Oh I forgot to ask: what is the gcc version after your downgrading?

[2022-01-27 22:17] janeyx99 opened #71946 "Remove Python 3.6 references from the codebase"
### 🚀 The feature, motivation and pitch

Following https://github.com/pytorch/pytorch/issues/66462, we should also remove python 3.6 references from the codebase.

Some notable folders to do so include:
- [ ] .circleci (where a lot of old CI config lives]
- [ ] torch (where many exceptions live)

### Alternatives

_No response_

### Additional context

_No response_

cc @malfet @seemethere

[2022-01-27 23:14] jaketae commented on #68978
Hey @francois-rozet, thanks for the reply and suggestion! It definitely makes sense. I'm personally in support of any solution that prioritizes implementation simplicity and BC.

Gently pinging @albanD to see if there are any updates from the internal PyTorch team on this!

[2022-01-27 23:42] npbaskerville opened #71951 "Multivariate normal defined by eigendecomposition"
### 🚀 The feature, motivation and pitch

I've been doing some work where I've had to construct covariance matrices from eigendecompositions e.g. I have a matrix that is _almost_ the covariance matrix I want, but it is has some bad eigenvalues (negative, too big etc). I regularise the spectrum by some process, and then I have the eigenvectors and eigenvalues of the final covariance matrix.

I appre

[2022-01-27 23:46] garymm commented on #27212
Tracked internally at Microsoft by <https://msdata.visualstudio.com/Vienna/_workitems/edit/1516412>
We hope to support this in torch.onnx.export after ONNX Runtime supports the op, which should hopefully happen in 1.11.

[2022-01-28 00:02] garymm commented on #30139
This issue is not actionable without reproduction instructions, and it's quite old, so closing.
If you are still having problems:
1. Please try on the latest nightly PyTorch
2. If it's not fixed there, please open a new issue with full reproduction instructions, ideally in a colab notebook

Thanks!

[2022-01-28 00:02] #30139 closed

[2022-01-28 00:08] garymm commented on #30393
Just tried this with PyTorch 1.10.0 and there is no Cast node in the graph:
![image](https://user-images.githubusercontent.com/421339/151464006-4772d1d5-2bd0-4b54-9ca3-5604bfd122b5.png)

[2022-01-28 00:08] #30393 closed

[2022-01-28 00:17] garymm commented on #29647
With latest version of PyTorch built from `onnx_ms_1`, the exported graph seems to replace `input_2d_tensor` with constants, and then the exported graph only has 1 input rather than 2.

TorchScript graph:
[code]

ONNX graph (from export(verbose=True)):
[code]

Tracked internally at Microsoft by <https://msdata.visualstudio.com/Vienna/_workitems/edit/1600858>

[2022-01-28 00:25] garymm commented on #30517
This seems fixed on PyTorch 1.10.0. The code from OP prints:
[code]

[2022-01-28 00:25] #30517 closed

[2022-01-28 00:33] xsacha commented on #71697
We use this method in production and have never had issues with it.
In one instance, we have a container DLL that is delay loaded and links to torch.
In another instance, we delay load the DLL we use, such as:
if (WIN32)
    target_link_libraries(xxcuda PRIVATE c10_cuda)
    set_target_properties(xxcuda PROPERTIES LINK_FLAGS "/DELAYLOAD:c10_cuda.dll")
endif()

But I have also tried just delay load

[2022-01-28 00:34] #66946 closed

[2022-01-28 00:34] daemon commented on #71896
Yes, I have. I think it helps to separate capturability from its context, which, especially in the case of third-party library development (say, HF's Transformers), should be up to the end user to specify. If there's no context, then we don't perform capturing at all, but if the user supplies some context, then we write the graph to that context. Then, if they use the context again and the same sh

[2022-01-28 00:35] garymm commented on #30563
Tracked internally at Microsoft by <https://msdata.visualstudio.com/Vienna/_workitems/edit/1600925>

[2022-01-28 01:41] CerebralSeed commented on #71633
An easy work around is to just throw on a .float on the end. Anyways, figured it might be worth pointing out.

[2022-01-28 02:06] cpuhrsch commented on #71652
I'd just like to add that I can reproduce this error on my end and am looking into it.

[2022-01-28 02:07] malfet opened #71964 "XLA broken on master after https://github.com/pytorch/pytorch/commit/84f168539725292d0b824c30d1d872fb30811803"
### 🐛 Describe the bug

See https://hud.pytorch.org/ci/pytorch/pytorch/master?name_filter=xla
Starting after https://github.com/pytorch/pytorch/commit/84f168539725292d0b824c30d1d872fb30811803 CI runs fail with
[code]

That tests an API call which does not seem to be documented anywhere, but `torch.norm` has been deprecated for a while: https://pytorch.org/docs/stable/generated/torch.norm.html

###

[2022-01-28 02:08] malfet commented on #71964
cc: @Lezcano @JackCaoG

[2022-01-28 02:14] JackCaoG commented on #71964
@malfet Most likely something changed `NuclearNorm` on pytorch end and now it fallback to CPU. Let me quickly disable the test and I will work on a fix.

[2022-01-28 02:35] stas00 commented on #55267
could we please revive this discussion?

HF Transformers started getting models with custom CUDA kernels https://github.com/huggingface/transformers/pull/15091

and so the strict minor version check is a problem, since pytorch is fixed to 11.3 but cuda-11.6 is out already and in my experience I'm yet to see an incompatibility of minor versions, albeit of course my experience is limited to apex, Me

[2022-01-28 02:52] xsacha opened #71967 "Windows: Support Jiterator Cache"
### 🚀 The feature, motivation and pitch

Jiterator Cache is a useful feature that is currently restricted to POSIX compliant systems.
The only reason is that the POSIX APIs access, mkdir and getpid are called.

I understand there is a TODO for c++17 support (for std::filesystem). However, as a temporary measure, we can simply use _access, _mkdir and _getpid for Windows.

### Alternatives

[code]

[2022-01-28 03:58] fatcat-z commented on #71772
This is being tracked internally by Microsoft at https://msdata.visualstudio.com/Vienna/_workitems/edit/1601116.

[2022-01-28 04:39] suo opened #71969 "[REBASE ON MASTER] CI broken for forked pull requests"
## Current Status
mitigated, rebase on latest master to fix

## Error looks like
Lots build failures at the checkout stage, e.g. https://github.com/pytorch/pytorch/runs/4974706483?check_suite_focus=true

## Incident timeline (all times pacific)
- 1/27 2:59p Bad code change landed
- 1/27 7:44p Manually notified of PRs failing
- Revert lands shortly afterward
- Stuck in fbsync

## User impact
Most C

[2022-01-28 05:27] mruberry opened #71973 "[UBN!] Not all tests are being run"
https://github.com/pytorch/pytorch/pull/71611 was recently reverted because it broke several jobs on HUD CI. A review with @ngimel seems to show, however, that https://github.com/pytorch/pytorch/pull/71611 somehow triggered all the tests in TestGradientsCUDA to run correctly, and that when it was reverted these tests stopped running! On recent HUD CI logs TestGradientsCUDA stops abruptly like this

[2022-01-28 05:29] ke1337 commented on #69033
Thanks @silvasean and @wconstab. Below is a simple script we are trying:
[code]
We ran above script with latest `lazy_tensor_staging` branch and `torch-mlir`. In the first part of tracing, LTC seems working fine and captured both forward and backward graph:
[code]
This torch graph looks a bit strange with those NoneType, and when torch-mlir tries to build_module, there are several issues in parsin

[2022-01-28 05:37] suo commented on #71973
Do you have the relevant jobs for those log snippets handy?

[2022-01-28 05:38] #71969 closed

[2022-01-28 05:44] mruberry opened #71975 "PyTorch/XLA jobs are not being run on PR CI, even with ciflow/all"
This caused PyTorch/XLA to break and skip a broken test: https://github.com/pytorch/xla/pull/3319. The PR that likely caused this test was https://github.com/pytorch/pytorch/pull/69827, but despite the ciflow/all label the PyTorch/XLA job was not run on it, preventing it from understanding its impact on PyTorch/XLA.

Either we should let PR authors run the PyTorch/XLA job (and document how) or we

[2022-01-28 05:48] janeyx99 commented on #71975
I can confirm tomorrow but could this be because XLA was disabled on trunk at the time the PR was getting tested?

[2022-01-28 06:00] mruberry commented on #71973
This first appears on CI HUD here: https://github.com/pytorch/pytorch/pull/69740.

[2022-01-28 06:18] xsacha opened #71978 "from_blob / make_tensor support MemoryFormat"
### 🚀 The feature, motivation and pitch

Currently, making a tensor from external memory always assumes contiguous NCHW memory, regardless of the memory format set in options.
This means that the incoming memory must be rearranged from an existing memory format (eg. channels last) to channels first and potentially rearranged again to whatever the model input takes.
This design prevents optimisatio

[2022-01-28 06:29] #67693 closed

[2022-01-28 06:29] #71645 closed

[2022-01-28 06:50] rohan-varma commented on #65248
@zhaojuanmao is this one done with backward prefetch now?

[2022-01-28 06:57] RaulPPelaez commented on #71518
Oops, I misread your question, that was the version **after** downgrade.
This is after downgrade
[code]
I edited the previous answer to contain the one before downgrade.

[2022-01-28 07:18] mikel-brostrom commented on #69889
I have no access for obvious reasons. How can we know when this gets fixed?

[2022-01-28 08:01] Kaminyou opened #71980 "Torch.tensor.sum() has severe precision issue even with a small amount of numbers with FP64"
### 🐛 Describe the bug

### Bug
The `sum()` function is not precise when it summarizes a small amount of numbers that have a decimal even with `torch.float64`.

### To Reproduce
[code]
The result is `tensor(False)` but `tensor(True)` is expected.

### Versions

PyTorch version: 1.7.0a0
Python 3.8.6

[2022-01-28 09:31] #71980 closed

[2022-01-28 09:46] long-senpai commented on #71079
mkdir build
cd build
cmake -DCMAKE_PREFIX_PATH=/absolute/path/to/libtorch ..
cmake --build . --config Release

[2022-01-28 10:10] long-senpai commented on #71079
I create small C++ script with below content:
[code]

- `CmakeLists.txt`

[code]

- And then I run cmake command (I copied downdoaded libtorch folder to `C:\Program Files (x86)\Torch`)
[code]

 but I got error, and I don't know why Cmake ask `D:\gitlab\NVTX/include` directory:

[code]

[2022-01-28 10:48] Lezcano commented on #71964
Could this come from: https://github.com/pytorch/pytorch/pull/69827?
There's relevant discussion here as well: https://github.com/pytorch/pytorch/pull/69827#discussion_r792838941 that links to how to implement `svd` and `svdvals` in XLA, and also https://github.com/pytorch/xla/issues/2755
Long story short, what would it be better not to have `svd` and `svdvals` as a composite kernels that depend o

[2022-01-28 12:20] mszhanyi commented on #71079
[code]
from https://github.com/pytorch/pytorch/blob/master/README.md

[2022-01-28 14:37] albanD commented on #71964
Do you mean `_svd_helper` instead of `_linalg_svd` above?
If so, then I think the current solution is good: both `svd` and `svdvals` are composite and call into `_svd_helper`. This `_svd_helper` function is the only one a backend implementer needs to worry about and it has the explicit flag `compute_uv` that should make it clear what the backend implementation should do.

[2022-01-28 14:39] Lezcano commented on #71964
So the thing is that I naively changed the name of `_svd_helper` to `_linalg_svd`, as I thought that it was just a private function and that was fine. Clearly I was wrong, and that's why this is breaking, sorry for that :(

[2022-01-28 14:49] albanD commented on #71119
This is done right @soulitzer ?

[2022-01-28 14:51] albanD opened #71987 "Improve autograd codegened automatic inplace formulas"
We have a lot of formulas for forward that are `self_t.foo(...)`. We should be able to codegen a better inplace version for this than `self_t.copy_(self_t.foo(...))`, namely `self_t.foo_()`.
This will allow us to remove duplicate formulas for `index_add()` and recover perf for the other `index_*` functions.

cc @VitalyFedyunin @ngimel @ezyang @albanD @zou3519 @gqchen @pearu @nikitaved @soulitzer @

[2022-01-28 14:52] IvanYashchuk commented on #71964
`_svd_helper` is not used in pytorch/xla. It uses just `svd`.

The failure comes from https://github.com/pytorch/pytorch/pull/70253 specifically it changes the implementation of `norm` function to use `at::linalg_svdvals` (which is not covered by pyotrch/xla) instead of `at::svd` (which is covered by pytorch/xla).

[2022-01-28 15:26] atalman opened #71988 "multiple PRs on pytorch are closed by push to unrelated branches such as pytorch-canary"
### 🐛 Describe the bug

Reported via Pytorch OSS CI/ Tree Huggers Oncall
There are occurrences of multiple PRs on pytorch are closed by push to unrelated branches such as pytorch-canary.

Examples:
PR: https://github.com/pytorch/pytorch/issues/69432
Closed by: https://github.com/atalman/pytorch-canary/commit/852df1765869d6f4de4ae496fb12495bd99e17ba

PR: https://github.com/pytorch/pytorch/pull/7161

[2022-01-28 15:45] malfet commented on #71988
Regarding https://github.com/pytorch/pytorch-canary/commit/76952f86276f6d99853fcb45de384361a78f3830: it's a legitimate cherry pick of https://github.com/pytorch/pytorch-canary/commit/57ded85433e7f186dce9925618826900798dedde, which were reverted at some point.

And cross-repo issue/PR closing is a github feature, see https://github.blog/2013-05-14-closing-issues-via-pull-requests/

[2022-01-28 16:03] danielbellhv opened #71991 "How to make LSTMClassifier Bidirectional?"
### 🐛 Describe the bug

Goal: make LSTM `self.classifier()` learn from bidirectional layers.

`# !` = code lines of interest

**Question:**
What changes to `LSTMClassifier` do I need to make, in order to have this LSTM work bidirectionally?

---

I *think* the problem is in `forward()`. It learns from the **last state** of LSTM neural network, by slicing:
[code]

However, bidirectional changes the

[2022-01-28 16:09] malfet commented on #71975
XLA were disabled at ghstack head, see https://github.com/pytorch/pytorch/blob/gh/Lezcano/40/head/.github/scripts/generate_ci_workflows.py#L631

Please note that XLA builds/tests are enabled by default.

[2022-01-28 16:09] #71975 closed

[2022-01-28 16:19] wconstab commented on #69033
If I understand correctly, you're observing
  %8 : NoneType = prim::Constant()
In the torchscript IR you parsed from a string-dump of the LTC IR?

In general, LTC IR wasn't designed to be parse-compatible with TS IR.  There is a lowering infrastructure that converts LT IR into TS IR.  Have you tried running your simple model using the TS backend and dumping the TS IR that LT lowers?  I would be cu

[2022-01-28 16:24] francois-rozet commented on #7795
I found another solution to enable cudaification for distributions: make them subclasses of `nn.Module` and overwrite the `apply_` method to a `deepapply` function that reclusively finds all tensors referenced in an object. Making `Distribution` a subclass of `nn.Module` is a bit ugly without making a PR (see below), but overwriting `apply_` is very easy.

[code]

After that, `.cuda()`, `.cpu()` a

[2022-01-28 16:25] mrshenli commented on #70654
One benefit of starting as an extension is that, we can ask internal/external teams to dogfood this before replacing the code in the critical path for many production apps. I am not confident that distributed unit test would cover all internal/external use cases.

Would I be correct that, if we go with the current proposal, the deployment experiences will be sth like: land in PyTorch -> break some

[2022-01-28 16:33] peterbell10 opened #71994 "TorchScript doesn't support `input` keyword argument"
### 🐛 Describe the bug

TorchScript doesn't understand that the `self` argument in function schemas is renamed to `input` for the functional variant. So will fail when `input` is passed as a keyword argument. For example:

[code]

Which returns the following error:
[code]

### Versions

[code]

cc @ezyang @gchanan @zou3519

[2022-01-28 16:44] andfoy commented on #55267
@stas00, the PR https://github.com/pytorch/pytorch/pull/63230 that added the CUDA version check got stalled due to a lack of additional review, if you could ping there it would be helpful

[2022-01-28 16:55] stas00 commented on #55267
done, might be a good idea to rebase the PR as it hasn't been updated in a long time.

[2022-01-28 16:56] andfoy commented on #55267
Thanks!

[2022-01-28 17:06] vadimkantorov commented on #39853
@stas00 so maybe not huggingface could drop its own reimpl of gelu for gpt-2 results compat :)

[2022-01-28 17:08] #39853 closed

[2022-01-28 17:29] stas00 commented on #39853
This thread hasn't been using hashed links to code and since files have changed I'm having a hard time to follow what's proposed here.

Vadim, I understand you're suggesting to replace `gelu_new`:

https://github.com/huggingface/transformers/blob/6df29ba5e6d98d4cb661d00b569fd6f61e7286b0/src/transformers/activations.py#L37-L42

which is used by https://huggingface.co/gpt2/blob/main/config.json#L2

[2022-01-28 17:40] malfet commented on #71973
It would be great to have links to the appropriate CI runs, as https://hud.pytorch.org/commit/pytorch/pytorch/5dd6cd55ba0ec758617f648439796cbd3a8f88bd is does not have any CI

[2022-01-28 17:42] ngimel commented on #71964
The failing test doesn't call `norm`, it calls `nuclear_norm` directly that, as far as I could see, still calls `svd`.

[2022-01-28 17:45] ngimel commented on #71991
Please ask questions on discuss.pytorch.org

[2022-01-28 17:45] #71991 closed

[2022-01-28 17:45] vadimkantorov commented on #39853
The PR implementing some approximate versions has just been merged into mainline of PyTorch: https://github.com/pytorch/pytorch/pull/61439

[2022-01-28 17:46] janeyx99 commented on #71973
Confirming that the tests are also skipped locally on commit 0fdb90da5e1e7ec8f6becbdeecb84a3d855268ad when running `python test/test_ops.py -v  -k TestGradientsCUDA`, so it's not bound to CI.

[2022-01-28 17:46] mruberry commented on #71973
Just look at any recent HUD log for linux-xenial-cuda11.3-py3.7-gcc7, like this one: https://github.com/pytorch/pytorch/runs/4982315772?check_suite_focus=true.

[2022-01-28 17:48] mruberry commented on #71973
Note that this issue may not affect just TestGradientsCUDA. @soulitzer is looking at getting all of TestGradientsCUDA running again, but we need to understand how our CI can silently quit (and fix that!) and that may reveal other test classes skipping tests.

[2022-01-28 17:48] #71118 closed

[2022-01-28 17:54] stas00 commented on #39853
That's loud and clear now, thank you, Vadim.

[2022-01-28 18:02] mruberry commented on #71973
The logs for @soulitzer's PR to get TestGradientsCUDA running again show more tests being run (correctly) once `test_fn_fwgrad_bwgrad_gradient_cuda_complex128` is skipped: https://github.com/pytorch/pytorch/pull/71998

[2022-01-28 18:23] ngimel commented on #71973
With xfail removed and CUDA_LAUNCH_BLOCKING=1, I get
[code]
....
[code]
which kills the subsequent tests (by design).
So, this is a common danger of xfails, you run the tests that are failing, and in good cases you can catch the error, in bad cases (like this) not only your test is in trouble, you wreck the whole testsuite.

[2022-01-28 18:34] malfet commented on #71973
Ok, I've found the code that makes CI abort remaining tests:
https://github.com/pytorch/pytorch/blob/0c3bc426a87bd2f4b1d019df00e1c38b009c2d9f/torch/testing/_internal/common_device_type.py#L379

[2022-01-28 18:35] seemethere commented on #71973
Potentially related to this unittest issue?

https://bugs.python.org/issue29211

Basic idea being that if an exception is created in a generator and re-raised in a generator then `unittest.TestCase.assertRaises` will actually raise a StopIteration on the next time you try to access an item from the generator due to `unittests` usage of `traceback.clear_frames()`

[2022-01-28 18:37] ngimel commented on #71973
Yeah, and it should be more loud when it's doing that.

[2022-01-28 18:37] tz579 commented on #71518
Thanks so much for that.
Now we may either rollback to the 20210728 version or wait for a newer version landing into the repo.

[2022-01-28 18:39] malfet commented on #71973
I've commented on the same line 3 min ago :)
I think it's doing the right thing, but yeah, we should somehow detect if test is decorated as known failure

[2022-01-28 18:41] ngimel commented on #71973
Even if test is not decorated with xfail, the fact that the rest of the testsuite is stopped deserves a menetion when `_should_stop_test_suite` is triggered.

[2022-01-28 18:43] henrytwo commented on #69033
@wconstab Just to clarify, are you referring to the output of `ltc._LAZYC._get_ltc_tensors_backend` as the "LT IR"? Could you point us to the recommended approach to lowering to TS IR? Our current approach is based on this: https://github.com/llvm/torch-mlir/blob/main/examples/lazytensor_tanh.py#L45-L48

[2022-01-28 18:43] malfet commented on #71973
Working on PR to address both issues...

[2022-01-28 18:54] wconstab commented on #69033
The lowering code for TorchScript is here:
https://github.com/pytorch/pytorch/blob/lazy_tensor_staging/lazy_tensor_core/lazy_tensor_core/csrc/ts_backend/ts_node_lowering.cpp#L43

And it gets called automatically when running lazy tracing with the TorchScript backend.  It gets called whenever a .to(cpu) or print(your_lazytensor) or something else forces the graph to be compiled/materialized, and th

[2022-01-28 18:55] dongfangyixi commented on #47908
Yes, very slow while loading the model parameter and memory allodation for cuda 11.5 and torch 1.3.1. Testing on cuda 10.1, I hope it will work.

[2022-01-28 19:05] ankurvdev opened #72012 "Compiler warning with GCC11 (torch/csrc/jit/frontend/ir_emitter.cpp)"
### 🐛 Describe the bug

A compiler warnings around nullptr access on the torch/csrc/jit/frontend/ir_emitter.cpp: 1678
The offending line is in a `if` block that applies if `candidate` is `null` and then proceeds to call the function `repr_str()` on the nullptr
The following snippet fixes that

[code]

### Versions

Github commit e9327ed2cee458229dc3425fc38525dc81219e20

[2022-01-28 19:18] shubhambhokare1 commented on #71695
Added PR in torchvision repo https://github.com/pytorch/vision/pull/5310 for the fix.

@skottmckay This change worked with the repro you provided. Could you let me know if this worked on your end.

[2022-01-28 19:30] silvasean commented on #69033
Just leaving a high-level comment here: I expect that the TS -> Torch-MLIR part of this should "just work". As @wconstab alluded to, the real work item on the Torch-MLIR side is plugging in at the C++-level to hook into buffer management, compilation callbacks, etc. to avoid needing to parse the IR string and manually pass in the buffers.

I'll be out of office for the next two weeks, but happy to

[2022-01-28 19:47] jiayisuse commented on #70654
I agree that the dispatch logic is simple. However, there may be a couple of things beyond as a full integrtion:
* Seems we would have more dependencies in the stack. For example, torch-ucc looks like is diverging into oss and non-oss in the same repo https://github.com/facebookresearch/torch_ucc/blob/main/setup.py#L43. Such complexity may expose higher risk for breakage.
* I may wonder if the UCC

[2022-01-28 20:08] #31828 closed

[2022-01-28 20:16] anjali411 commented on #71973
Btw all the tests now correctly run in this job: https://github.com/pytorch/pytorch/runs/4984313238?check_suite_focus=true from #71611 (since it fixes all the illegal memory access issues and removes the skips as a result)

[2022-01-28 20:18] malfet commented on #71973
Removing `ci: sev` label as behavior is not new and kind of known.

[2022-01-28 20:25] awgu commented on #63210
I think this can be closed by https://github.com/pytorch/pytorch/pull/63768. The follow up to https://github.com/pytorch/pytorch/pull/63164 is also no longer needed.

[2022-01-28 20:25] #63210 closed

[2022-01-28 20:31] csarofeen commented on #70654
I don't see how we can accurately do this within an extension without modifying core. The closest thing we could do is replicate/imitate NCCL PG in an extension to then modify its dispatch.

This is for the torch-ucc team to address

Torch UCC would be an insulation to this, as would carefully updating UCC in any installation which is still completely optional, so I don't see real exposure here. I

[2022-01-28 20:54] HDCharles commented on #71736
fairly sure the issue is due to     int len,

[2022-01-28 20:58] ngimel commented on #69913
All issues causing IMAs should be hi priority and should be fixed ASAP.
I know with the zero tensor PR these tests start passing, that doesn't solve the problem of some combination of inputs (with real, not zero tensors) causing IMAs.

[2022-01-28 21:29] soulitzer commented on #69913
Good point. These tests do cover non-zero tensor inputs as well, so as long as the tests pass we can close this issue.

[2022-01-28 21:54] awgu commented on #71347
Here is a rough outline of what to do to fix this issue. I can take on this fix if/when I get access to a multi-GPU machine if no one objects. This serves mostly as a self-documentation in case I do end up taking this on.

### Testing Changes
- Modify the single-rank test `test_constructor()` so that `iterable`s of `dict` do not raise a `TypeError` (see [here](https://github.com/pytorch/pytorch/bl

[2022-01-28 21:58] rohan-varma commented on #71347
Thanks for the details @awgu! I'll assign you for now, feel free to unassign if you don't end up working on it

[2022-01-28 22:01] SpinOneHalf commented on #68982
I ran into this issue today. It looks like only the 3.10 arm wheel was upload for version 1.10.2. CI adjustment?

[2022-01-28 22:05] JackCaoG commented on #71964
I guess the fix is for pytorch/xla to also lower the `svd_helper`?

[2022-01-28 22:47] jbschlosser commented on #65018
For posterity, I wanted to post some rationale that caused us to move away from the initial direction proposed in #62787 (having Parameter be a wrapping tensor) and towards the design discussed above:
* For vanilla tensors, the extra overhead involved with Parameter being a wrapping tensor is unacceptable. Potentially, this could be special-cased to avoid the overhead.
* For custom tensors, having

[2022-01-28 22:51] csarofeen commented on #70654
We had a meeting on this topic, wanted to post some items from it on this RFC to keep folks that aren't there involved:

We discussed the points already mentioned on this PR. An option we considered is having compile time flags protecting the integration, to provide confidence changes will not impact current functionality.

This appears to us to be the best option to maintain incremental developme

[2022-01-28 22:59] fduwjj opened #72022 "[PT-D] To make the ShardedTensor Reshard more generic"
### 🚀 The feature, motivation and pitch

We enabled the reshard for sharded tensor and added the partial tensor in https://github.com/pytorch/pytorch/pull/70079.
Below are several features we want to add:
1. To make `_reshard_output` API more generic and can handle the case when the output is Tuple.
2. To add padding for the case when there is uneven size of local tensor during the reshard of part

[2022-01-28 23:03] pritamdamania87 commented on #70654
I was looking through this PR and had a general question about dispatch to UCC. In the PR above the dispatch is done to UCC instead of NCCL unconditionally and I was wondering if this is the long term plan in terms of how to dispatch between NCCL vs UCC? There could be sensible defaults we have in terms of where to dispatch what, but I believe we need to have some way to override this behavior as

[2022-01-28 23:17] wanchaol opened #72025 "[c10d] destruction of Store objects"
### 🚀 The feature, motivation and pitch

From forum post https://discuss.pytorch.org/t/destroy-tcpstore/142223/2

We should allow destructions of Store objects like TCPStore (i.e. add destructors for those Store objects), so that user can bind/unbind ports manually and release those resources.

### Alternatives

_No response_

### Additional context

_No response_

[2022-01-28 23:41] dzhulgakov commented on #70654
Do you changes land only into NCCLProcessGroup? Or are there other parts that you'd modify directly?

If it's only NCCLProcessGroup, you could create out-of-tree extension (maybe the same one as torch-ucc) that reverse opens `libtorch.so` and gets `createProcessGroupNCCL` (`dlsym(NULL)` is sufficient) out of it (see my code sample above). Basically the same trick you've done in these PRs but in re

[2022-01-29 00:03] mcarilli commented on #71616
That's a good question. I'm a little concerned my approach in https://github.com/pytorch/pytorch/pull/65365 for freeing memory used in multiple streams arrives at the same head-of-line blocking behavior by a completely different route.

The PR is WIP and could fail on your workload for god knows what other reasons, but I'm steadily ironing out bugs and as of https://github.com/pytorch/pytorch/pull

[2022-01-29 00:07] atalman opened #72026 "Test fail on windows with cudnn v8.3.2.44 and cuda 11.5"
### 🐛 Describe the bug

Following test have failed on windows :
periodic-win-vs2019-cuda11.5-py3 periodic-win-vs2019-cuda11.5-py3
After upgrading to cuddn8.3.2.44

[GHA](Ref:https://github.com/pytorch/pytorch-canary/runs/4985534200?check_suite_focus=true)

Looks like both Test1 and Test2 are failed with same error:
RuntimeError: Error building extension 'torch_test_cudnn_extension'

Here is an err

[2022-01-29 00:41] 2blackbar commented on #31285
Hey, can someone upload compiled torch with old compute 3.5 support  somewhere? So many answers and its stil not solved, my gtx has a lot of cuda cores and yet its not supported anymore, weird, at least one version per half year would be great, suddenly cutting off users with older cards is a strange decision.At least one , one release with latest pytorch would be appreciated a lot.

[2022-01-29 00:48] kandouss opened #72029 "JIT function crashing or failing (depending on profiling)"
### 🐛 Describe the bug

This is the relatively simple function:
[code]

And this is the first error. The second time the function is evaluated (with the same inputs), the result is `NaN` (rather than 1, which it should be).
[code]

I can fix this by disabling profiling mode at the top of the script, e.g.
[code]

But if I set those flags, then the `jit_function` will fail when provided with large i

[2022-01-29 01:51] peiyingxin opened #72034 "Bug about distributed launch"
### 🐛 Describe the bug

Traceback (most recent call last):

  File "/opt/conda/lib/python3.8/runpy.py", line 194, in _run_module_as_main

    return _run_code(code, main_globals, None,

  File "/opt/conda/lib/python3.8/runpy.py", line 87, in _run_code

    exec(code, run_globals)

  File "/opt/conda/lib/python3.8/site-packages/torch/distributed/launch.py", line 260, in <module>

    main()

  File

[2022-01-29 05:36] ngimel commented on #71967
We'll accept a PR implementing this, however, as we don't have access to windows development environment, it'll be hard for us to do it ourselves.

[2022-01-29 05:58] khushi-411 commented on #50345
Hi,
I'm planning to pick up `logerfc` and `logerfcx` for the next. I want to work on special functions this time.🤪

May I go for it? Please let me know if anyone else is working on the same. I'd pick another one :) Also, I would love to get your guidance. (currently, I'm walking through previously mentioned PR's and Wiki).

Thanks!

cc: @mruberry @kshitij12345

[2022-01-29 06:57] stas00 commented on #55267
Actually, I have just run a CUDA build `torch.utils.cpp_extension.load`  with pytorch-1.10 / cuda-1.13 and system-wide cuda-11.5 and it built the cuda kernel w/o a single complaint.

So have I missed the change and pytorch is already not checking minor version matches?

you can clearly see `/usr/local/cuda-11.5/bin/nvcc` and `py38_cu113` play well together:

[code]

[2022-01-29 07:18] mychina75 commented on #41423
any updates about this issue? thank you...

[2022-01-29 10:13] sublee commented on #56126
I met a similar issue on PyTorch 1.8.1. [A comment](https://github.com/pytorch/pytorch/issues/24834#issuecomment-534595871) in #24834 was helpful for me. This issue seems duplicate.

[2022-01-29 12:07] Lezcano commented on #71964
@ngimel It does not call `svd` but `svdvals`, as pointed out by @IvanYashchuk See
https://github.com/pytorch/pytorch/blob/aa7ce25f3491363bdd1aa5c840e40f4ade017b67/aten/src/ATen/native/LinearAlgebra.cpp#L2346-L2353

And yes, the fix would be to lower `svd_helper` (now called `_linalg_svd`) and everything should work.

[2022-01-29 12:33] Saafke commented on #27837
I also have this issue. Pytorch 1.9.0 + CUDA10.2 + Python3.7 + Ubuntu 18.04

[2022-01-29 16:37] fatcat-z commented on #71549
This is being tracked internally by Microsoft at https://msdata.visualstudio.com/Vienna/_workitems/edit/1603986.

[2022-01-29 19:25] geogeo28 opened #72041 "RuntimeError: Trying to backward through the graph a second time (or directly access saved tensors after they have already been freed). Saved intermediate values of the graph are freed when you call .backward() or autograd.grad(). Specify retain_graph=True if you need to backward through the graph a second time or if you need to access saved tensors after calling backward"
### 🐛 Describe the bug

I am reopening the issue https://github.com/pytorch/pytorch/issues/71062 with the following additional informations:
When training a network which contains parametrization in DP (Distributed Parallel) and the caching mode (torch.nn.utils.parametrize.cached), a race condition occurs at a random point in the training causing the error:

RuntimeError: Trying to backward throug

[2022-01-30 05:43] rosrad commented on #71408
I have met this similar issue as well. The onnx export output wrong dynamic axes which should be fixed.

[2022-01-30 11:01] amitport commented on #71552
@mruberry also note that the documentation is not clear on whether or not the top range is included.

[2022-01-30 11:04] nonconvexopt commented on #71382
This links explains way to calculate cholesky decomposition by SVD (or eigen decomposition) [https://en.m.wikipedia.org/wiki/Cholesky_decomposition](https://en.m.wikipedia.org/wiki/Cholesky_decomposition)
In PyTorch, `torch.linalg.eig` is applicable to positive-semidefinite matrix.
After calculating PDP^T by `torch.linalg.eig` and calculate the QR factorization of PD^1/2 will attain cholesky for p

[2022-01-30 12:27] nikitaved commented on #71382
This will compute the result, but you will not be able to backprop through if the input matrix is not full-rand because of limitations of the svd's backward. Have a look at the documentation of `torch.linag.svd` for more information about that. There is a effort to bring a rank-revealing SVD that will be stable for singular inputs as long as they have distinct non-zero singular values.

[2022-01-30 14:32] Lezcano commented on #71382
Note that Cholesky / LDL both expect the input to be full-rank if you want to backprop through them (this is very much expected.

Now, if you want to get Cholesky / LDL right now, before that PR mentioned above is merged, simply use `linalg.lu_factor`. If you want to unpack it, feed its output to `torch.lu_unpack`, otherwise use it with `torch.lu_solve`. We'll soon also have `linalg.lu` (https://g

[2022-01-30 14:42] pmeier opened #72045 "`pip==22.0` breaks installation process"
### 🐛 Describe the bug

With `pip==22.0`, which was released about 2 hours ago, the installation commands for installing any non-PyPI binary no longer works:

[code]

[code]

Following the tip gives

[code]

[code]

Given that the `torch` requirement is totally unconstrained and I'm running Python 3.7, I'm guessing this is related.

### Versions

Not applicable.

cc @ezyang @gchanan @zou3519 @seem

[2022-01-30 16:01] EnricoMi commented on #72045
I can confirm this issue with `pip==22.0.0`. A workaround is `pip install pip~=21.0.0`.

[2022-01-30 16:18] VarIr commented on #72045
Following the discussion here https://github.com/pypa/pip/issues/10825 this is due to `pip` switching their html parser and the new one requiring valid html.

There seem to be a few html errors in the relevant PyTorch download pages:
https://validator.w3.org/nu/?doc=https%3A%2F%2Fdownload.pytorch.org%2Fwhl%2Fcpu%2Ftorch_stable.html

One of them is the missing `<!DOCTYPE html>`. Adding this tag mig