[2020-01-09 19:27] anjali411 commented on #32001
However, when the input tensor is a cuda tensor and out tensors are cpu tensors, then there's a RunTime error with proper error message:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
RuntimeError: Expected object of device type cuda but got device type cpu for argument #0 'max' in call to _th_max_out

[2020-01-09 19:40] anjali411 opened #32002 "Documentation for `mode` and `median` incorrectly states that it takes values and indices instead of a tuple out=(values, indices)"
## 📚 Documentation

In the torch documentation torch mode documentation is defined as:
torch.mode(input, dim=-1, keepdim=False, values=None, indices=None) -> (Tensor, LongTensor)

However the function call actually accepts a tuple out=(values, indices) and so the definition should be:

torch.mode(input, dim=-1, keepdim=False, out=None) -> (Tensor, LongTensor)

Similarly for torch.median:
torch.med

[2020-01-09 20:18] ezyang commented on #31611
This appears to be Windows specific because following the instructions in https://pytorch.org/tutorials/advanced/cpp_frontend.html I get output of "1" (correct)

[2020-01-09 20:24] ezyang opened #32004 "Tutorials should be run in CI"
I was attempting to run https://pytorch.org/tutorials/advanced/cpp_frontend.html on master but it didn't work, because the cmake is out of date: it needed to be `CXX_STANDARD 14` now that we are C++14.

This should have been caught in CI for the change that made us C++14. The problem is that we are not running the tutorial examples in CI. We should do so.

cc @ezyang @gchanan @zou3519

[2020-01-09 20:24] ezyang commented on #12645
I filed an issue for peterjc123's suggestion at https://github.com/pytorch/pytorch/issues/32004

[2020-01-09 20:27] ezyang commented on #31693
This will be fixed as soon as the fixed mac nightly builds finish building

[2020-01-09 20:38] prolearner opened #32005 "gradients inside gradient checkpoint"
## 🚀 Feature
allowing the use of `torch.autorgrad.grad` and `loss.backward` inside `torch.utils.checkpoint.checkpoint`

## Motivation
Enclosing the entire training steps inside a checkpoint could improve significantly the memory cost for the  gradient computation in large scale hyperparameter optimization (HO) and meta-learning algorithms (ML) based on unrolled differentiation. Here you have to ba

[2020-01-09 20:47] ezyang commented on #30886
@EscapeZero Do you think you could also post the Buck commands, in case an FB employee wants to reproduce this from inside FB?

[2020-01-09 20:52] z-a-f opened #32006 "Parallelization of the fbgemm::quantized/dequantize"
#30153 introduces `parallel_for`. @dsckhudia sugegested an alternative. Adding this as a feature request.

### Context:

@z-a-f This PR looks fine as is. Anothe alternative is to make fbgemm::Quantize/fbgemm::Dequantize take thread_id/num_threads argument and parallelize.

_Originally posted by @dskhudia in https://github.com/pytorch/pytorch/pull/30153#issuecomment-572735036_

cc @jerryzh168 @jian

[2020-01-09 21:09] ezyang commented on #30886
@peterjc123 If we wanted to run this version of MSVC in CI, do you have an idea of how we'd go about doing it? I guess we can add another version of `.circleci/scripts/vs_install.ps1` with the appropriate version?

[2020-01-09 21:10] smitheric95 commented on #21270
I was able to solve this problem on 0.4.1 by reinstalling NVIDIA drivers.

[2020-01-09 21:16] EscapeZero commented on #30886
@ezyang have not landed the new targets that fail. Will hopefully get to that early next week.

[2020-01-09 21:16] #31021 closed

[2020-01-09 21:19] kostmo commented on #31102
Here's a list of all occurrences since mid-December, including dozens from the past week: https://dr.pytorch.org/pattern-details.html?pattern_id=137

[2020-01-09 21:21] driazati commented on #31877
Going through the current versions down to 0.3, it looks like we haven't been that great about versioning. The eager format has been very stable as the multi-pickle file (no changes since 0.3, the `.tar` format is 3 years old and I couldn't even get torch<0.3 to install correctly), and the protocol version / magic numbers we encode in thusly the eager serialization haven't changed (1001 and 0x1950

[2020-01-09 21:26] #31906 closed

[2020-01-09 21:28] smessmer commented on #30886
I haven't tried to reproduce this, but there's a PR https://github.com/pytorch/pytorch/pull/31092 that rewrites part of this logic. It's possible that the compiler bug isn't triggered anymore after that.

[2020-01-09 21:53] MichaelLutter opened #32008 "Memory Leak & Performance Decrease on AMD CPU with PyTorch >1.3"
## 🐛 Bug

It seems there is a memory leak and performance decrease within torch.matmul on AMD processors and PyTorch >1.3. When I multiply two 'big' zero matrices 100000 times, the computation time is four times as long as for PyTorch >1.3 and the computation leaks around 600 MB. Interestingly, I can only observe this behaviour on AMD Processors running PyTorch greater 1.4. When running PyTorch 1.

[2020-01-09 22:14] EscapeZero commented on #30886
I will try to reproduce with the PR next chance I get.

[2020-01-09 22:22] smessmer commented on #30886
@EscapeZero I'm not sure what the state of the PR is, it might not work yet.

[2020-01-09 22:48] ezyang commented on #32001
There need to be tests in the CUDA kernels that all inputs are CUDA.

[2020-01-09 22:52] ezyang commented on #31907
https://github.com/pytorch/pytorch/issues/30903 might be related

[2020-01-09 22:52] ezyang commented on #31907
If you could post your full build log in a gist that would be helpful

[2020-01-09 22:54] ezyang commented on #29378
Oh, I stand corrected. (I misread your snippet initially as `b = f(a)`)

[2020-01-09 22:54] pritamdamania87 commented on #24906
Based on this comment: https://github.com/NVIDIA/nccl/issues/279#issuecomment-572717781, it looks like this behavior is expected from NCCL and it would only report network errors across hosts.

@pietern @mrshenli What do you feel is the best course of action here? My feeling is that we already have a timeout when we enable `NCCL_BLOCKING_WAIT`, so even if `ncclCommGetAsyncError` doesn't report an

[2020-01-09 23:37] smessmer commented on #30138
I think this check should be `AliasAnalysisKind::INTERNAL_SPECIAL_CASE`, not `AliasAnalysisKind::CONSERVATIVE`.

[2020-01-09 23:41] smessmer commented on #30138
Let's see if #32012 fixes this

[2020-01-09 23:54] vadimkantorov opened #32014 "[docs] Missing docs for torch.no_grad, instead there are docs for torch.autograd.no_grad"
https://pytorch.org/docs/master/search.html?q=torch.no_grad&check_keywords=yes&area=default

https://pytorch.org/docs/master/autograd.html?highlight=torch%20no_grad#torch.autograd.no_grad

The docs describe the usage of `torch.no_grad()` to create the context manager but they are filed under class `torch.autograd.no_grad`

It would be nice to have docs for `torch.no_grad` as well. User may well wa

[2020-01-10 00:01] tensorbuffer commented on #29724
@lara-hdr any update?

[2020-01-10 00:14] jerryzh168 commented on #29724
cc @supriyar

[2020-01-10 00:17] jithunnair-amd opened #32018 "DistributedDataParallel non-floating point dtype parameter with requires_grad=False"
## 🐛 Bug

1. Using DistributedDataParallel
2. on a model that has at-least one non-floating point dtype parameter with requires_grad=False
3. with a WORLD_SIZE <= nGPUs/2 on the machine

results in an error "Only Tensors of floating point dtype can require gradients".

## To Reproduce

Steps to reproduce the behavior:

1. Use a machine which has at least 4 GPUs
2. Build pytorch from source for pyt

[2020-01-10 00:19] jithunnair-amd commented on #32018
I was able to get the test to pass with the following change. I can file a PR if this looks right:
[code]

[2020-01-10 00:29] rohan-varma opened #32019 "test_handle_send_exceptions is flaky"
## 🐛 Bug

This test is flaky in `test_rpc_spawn.py`:
https://app.circleci.com/jobs/github/pytorch/pytorch/4194509

cc @ezyang @gchanan @zou3519 @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @gqchen @aazzolini @rohan-varma @xush6528 @jjlilley

[2020-01-10 00:45] vadimkantorov opened #32021 "[discussion] Relax optimizer constructor constraints for simplicity"
`lr` is required. However if we do call `load_state_dict` after optimizer construction, the passed state overwrites the `lr` value just passed to the constructor (and we have no convenience method for updating the `lr` of all `param_groups` if we want to use a new `lr` even after restoring optimizer state and momentum buffers).
[code]

#### Less pertinent:
Passing an empty param list is impossible

[2020-01-10 00:46] tgebhart commented on #29026
For what it's worth, I am able to reproduce this error if my sparse tensor is not on the correct device.

For example, using pytorch version 1.3.1:
[code]

[2020-01-10 01:16] HardLaugh commented on #31985
@zou3519 If the system environment changes, which only install mkl and cuda,  however, executable file cannot run because it need the shared libs--libcaffe2_nvrtc.so
[code]

[2020-01-10 01:34] oelgendy commented on #26948
In my code, I only do the first inference, then obtain network output from the exe file. Is there a way to make the first inference faster if I run the exe file multiple times?

[2020-01-10 01:36] davtjon opened #32023 "Inaccurate batched GRU results on CPU"
## 🐛 Bug

On the CPU, running a GRU (same applies to LSTM & RNN) in batches rather than a single batch produces slightly different results for some of the inputs. However, when run on a GPU, the results are identical as expected. The differences are small, but still they should be exactly zero on both CPU and GPU.

## To Reproduce

The following code snippet shows the problem - the output tensor s

[2020-01-10 01:55] rohan-varma commented on #29537
@mrshenli is currently working on this - https://github.com/pytorch/tutorials/pull/807/files

[2020-01-10 02:05] yaroslavvb commented on #31906
Thanks for the quick fix! Was able to run it longer than ever before so looks promising, put the wheel below

[code]

[2020-01-10 02:47] PistonY commented on #29889
Try Python 3.6.

[2020-01-10 02:52] peterjc123 commented on #30886
@smessmer The PR doesn't seem to work. See https://github.com/pytorch/pytorch/issues/30886#issuecomment-568595921.
@ezyang No need to install vs2017 because it is already installed in the circleci images. Just replace https://github.com/pytorch/pytorch/blob/master/.jenkins/pytorch/win-test-helpers/build_pytorch.bat#L48 and https://github.com/pytorch/pytorch/blob/master/.jenkins/pytorch/win-test-he

[2020-01-10 03:09] zhangguanheng66 commented on #30678
@erikhuck Please take a look at the fix https://github.com/pytorch/pytorch/pull/31996

[2020-01-10 03:25] lutzroeder commented on #31877
@driazati thank you for sharing the files.

I'm trying to get more specific on how different formats can be uniquely named. For example, instead of "this file is in .tar format", would it be correct to say "this file is in PyTorch 0.3 format"?

For example, assume a tool needs to tell a user which format a `.pth` file is in:
[code]

**Question 1**: What should those specific `XXXXX` format names b

[2020-01-10 03:26] Enealor commented on #31991
It looks like this is caused by the two using different dispatch commands. Both `linspace_cpu_out` and `logspace_cpu_out` use `AT_DISPATCH_FLOATING_AND_COMPLEX_TYPES` (see [here](https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/RangeFactories.cpp#L11)), while `linspace_cuda_out` and `logspace_cuda_out` use `AT_DISPATCH_ALL_TYPES_AND` (see [here](https://github.com/pytorch/pytorc

[2020-01-10 03:34] Erissonleo opened #32028 "libtorch function API problem"
I am trying to make my project using c++ with libtorch1.3.1 with cuda10.1. In my Python project, I used a function in pytorch and the funciton is torch.autograd.grad(). However I can't find the same funcion in libtorch. Is there a similar fucntion in libtorch ? Thanks!

My computer config is:
OS : win10
libtorch: 1.3.1 with cuda10.1
Ananconda: python3.7 with pytorch1.31

[2020-01-10 04:12] xmyqsh commented on #31748
@One-sixth over

[2020-01-10 04:59] lutzroeder commented on #31877
686e8d32e261a93570a03be88ae16f635fdc2b62 introduced `.tar` on 2016-08-22 which would match v0.1.1.
e71cf20192a79435805d906279ec3f7f92ba1767 introduced `0x1950A86A20F9469CFC6C` on 2017-02-22 which would match v0.1.10.

[2020-01-10 05:00] TortoiseHam commented on #29325
I had this same issue with python 3.7, macOS 10.15, Pytorch 1.3.1. Manually issuing the command `pip install https://github.com/matthew-brett/delocate/archive/master.zip` as suggested in the link from Soumith fixed it.

[2020-01-10 05:43] mathpopo commented on #31941
@zou3519 hi , could you give me a tool to help me get this script?sorry , i just have the whole program

[model.txt](https://github.com/pytorch/pytorch/files/4044136/model.txt)

[func.txt](https://github.com/pytorch/pytorch/files/4044141/func.txt)

[2020-01-10 06:16] Steve-Tod commented on #31828
Thank you for your response!
But I'm curious why remove this `epoch` parameter. It is convenient if I want to resume from a checkpoint and continue using the same milestones.

[2020-01-10 06:34] vadimkantorov opened #32030 "Dockerfile for people to quick-start contributing"
It could be nice to have a Dockerfile with ccache and other things mentioned in CONTRIBUTING.md pre-configured and tweaked.

Also, the [README.md](https://raw.githubusercontent.com/pytorch/pytorch/master/README.md) forgets to mention CONTRIBUTING.md even in Contributing section (though this is not a big deal).

[2020-01-10 07:36] TheArheus commented on #31705
I tried your code, but have this errors:
[code]

[2020-01-10 07:48] peter9711 opened #32032 "[Doc] torch.triu doc mistakenly said that elements on and BELOW the main diagonal are retained."
## 📚 Documentation
https://pytorch.org/docs/stable/torch.html#torch.triu
![image](https://user-images.githubusercontent.com/33718979/72134835-ef9c7600-33bf-11ea-99ba-7b2599dc3a39.png)

It seems that the highlighted "below" should be "upper“.

[2020-01-10 08:01] lilei461536135 commented on #29889
I come up with the same died with <Signals.SIGSEGV: 11>
Test Content: NVIDIA NGC BERT for Pytorch Squad fine-tuning
The docker image built based on nvcr.io/nvidia/pytorch-19.09-py3

1.2.0a0+afb7a16

[2020-01-10 08:18] luocheng610 commented on #15757
Directly download the libtorch of the windows version 1.3.1 from the official website
It seems that it is not possible to directly build the project with vs. the compilation error, and did not go to the link step, some syntax errors were reported during the compilation process, and it was a large number. It seems that only the cmake method provided by the official website can be used to build the

[2020-01-10 09:31] ludwigwinkler commented on #31986
Yeah, I can submit a doc fix. Thanks a lot for the clarification.

[2020-01-10 10:06] liqi198786 opened #32033 "run detectron test test_spatial_narrow_as_op.py fails"
i wonder whether caffe2 support CUDA10.2 and cudnn10.2. i compile pytorch on win10 and installed successfully.
i could run small regression task successfully. however when run the test_spatial_narrow_as_op.py test, it always fails with the log:
"
[E ..\caffe2\core\init_intrinsics_check.cc:43] CPU feature avx is present on your machine, but the Caffe2 binary is not compiled with it. It means you ma

[2020-01-10 10:07] FerranPares commented on #22127
I just tried to reproduce the error with the same code that @jsyx1994 posted and I don't see that memory increases in 1000 steps. I have another code similar to this one and increases the memory a lot per step but guess this may be caused by another reason. I'm going to create a different issue for it then.

[2020-01-10 10:15] ATriantafyllopoulos opened #32034 "Extend `ConcatDataset` to return dataset index"
## 🚀 Feature
This feature would extend  `torch.utils.data.ConcatDataset` to return the data set index from which a sample originated.

## Motivation

This would be useful when the user wants to keep track of which data set each sample comes from.

The use case I have in mind is multi-task learning when using data sets that contain mutually exclusive labels (e.g. dataset A contains labels for Task

[2020-01-10 10:44] fmassa commented on #32034
Thanks for opening the issue!

I think it would be more valuable, instead of adding a new constructor argument to the dataset, to instead add an extra method that computes the `dataset_idx` and the `sample_idx`, which is used by `__getitem__`. Something in [the lines of what I did in `maskrcnn-benchmark`](https://github.com/facebookresearch/maskrcnn-benchmark/blob/master/maskrcnn_benchmark/data/da

[2020-01-10 10:48] julioasotodv commented on #29647
@BowenBao sure! Let me try it and see what happens...

[2020-01-10 10:54] julioasotodv commented on #25251
@bpstark thank you for the detailed answer!

[2020-01-10 11:07] julioasotodv commented on #29647
@BowenBao now there is no error; when this line runs:

[code]

The Python process segfaults... I don't know if this error is due to my environment (I just updated pytorch to 1.3.1 from conda channel and onnx 1.6.0 from pip), or if the exception now turned to a segmentation fault.

[2020-01-10 11:18] ATriantafyllopoulos commented on #32034
I cannot find any reference of that method outside the class. The way I intend to use this feature is something like:

[code]

By adopting your proposal, I can't see how I would be able to use a `DataLoader` to access the `dataset_idx`. Do you have any thoughts on this?

[2020-01-10 11:19] xmyqsh commented on #31748
@One-sixth
`swap(x2, y)` is necessary.
Do you know Dirty Paper Coding?

[2020-01-10 11:19] MaratZakirov commented on #20967
May I use bn.eval() & bn.momentum = 0 as workaround?

[2020-01-10 11:39] msinclair-hf opened #32035 "Conv3d fails with large input volume in certain scenarios"
## 🐛 Bug

I have encountered the following error in the backward pass of a simple 2 convolution layer model using nn.Conv3d.

[code]

## To Reproduce

This error is encountered when executing the following code for a simple 2 layer 3D convolutional neural network. An input tensor of size [1, 1, 256, 256, 256] is passed into the network. The first layer performs a 3D convolution with a 3x3x3 filter

[2020-01-10 11:42] msinclair-hf commented on #22496
@ngimel sure, I have opened issue #32035 and have elaborated further on the problem there.

[2020-01-10 11:50] mjjimenez commented on #31591
Hi, I just wanted to confirm since I've been getting this error as well. By "having a relationship to the input" do you mean that the output tensor should be in the same computational graph as the input?

[2020-01-10 12:06] tomhosking opened #32036 "Internal assert failed using multiple GPUs with DataParallel"
## 🐛 Bug

I'm getting a runtime error with a "please report a bug" message, as below:

[code]

The model trains without a problem on a single GPU, but fails when using `DataParallel` on multiple GPUs. Wrapping the model with `DataParallel` when only one GPU is available still works OK.

## To Reproduce

This happens when using DataParallel with a pre-built complex model. I'm not sure how to create

[2020-01-10 12:10] FerranPares opened #32037 "MKLDNN convolution leaks memory when input sizes vary"
## 🐛 Bug

Cpu memory leak when using the `collate_fn` of the DataLoader class.

## To Reproduce

Run the following code to reproduce the memory leak:
[code]

The output of this code produces a constant increase of memory until the process gets killed:

## Expected behavior

I expected the code above to have constant usage of memory from step to step computation.

## Environment

PyTorch version: 1

[2020-01-10 12:27] Wheest commented on #21455
I've encountered a relatively similar issue, and could perhaps bring some clarity (though no solution).

Possibly a mistake on my part, but here goes:

I think the model in question is InceptionV3: https://github.com/pytorch/vision/blob/master/torchvision/models/inception.py

I've been exporting the PyTorch Onnx model to a third party framework.  Between frameworks, the output of every layer until

[2020-01-10 12:27] fmassa commented on #32034
Yes, you can do something like:

[code]
which is trivially done if such a method is available. Plus, it lets you easily configure how / what to return, which is not possible with your method.

[2020-01-10 13:09] One-sixth commented on #31748
@xmyqsh Yes, when I don't swap them, the model performance seems to drop a lot. I was thinking from the perspective of restoring input, and no exchange would have no effect on restoring input.
I don't know that paper. But i'll read it later. Thanks for your hint.

[2020-01-10 13:15] ATriantafyllopoulos commented on #32034
Ah, you meant implementing it in such a way that the user would still need to override `ConcatDataset` to get the intended behavior. I was thinking along the lines of adding that behavior to the base class itself.

I definitely see the merits of restructuring the function in the way you propose, as it will be very useful in any case.

Adding the extra argument I recommended on top might make the c

[2020-01-10 13:18] tanguycdls commented on #31940
The script hanged at the join, i cannot check where the parallel processes that freezes actually hang..

I found the solution: the network interface chosen by GLOO was not the correct one. I fixed it using:
``GLOO_SOCKET_IFNAME="lo"``

I dont understand why eth0 was used instead of loop the master addr was localhost so it should be set automatically.

Thanks

[2020-01-10 13:21] zhjw0927 opened #32038 "libtorch 1.3.1 c4146"
Previously, my desktop was using libtorch 1.2.0 release and everything worked.
After generating the exe, I wanted to take the notebook for on-site deployment. I installed libtorch on the notebook. At that time, it had been updated to 1.3.1 but reported the C4146 error. Even if I commented out everything in the main function, the error was still reported.
In the end, I had to re-download 1.2.0 on m

[2020-01-10 13:32] peterjc123 commented on #32038
Duplicate of #29654

[2020-01-10 13:32] #32038 closed

[2020-01-10 13:34] sjf18 opened #32039 "LOADING A TORCHSCRIPT MODEL IN C++ bug: c10::Error: isTensor() INTERNAL ASSERT FAILED"
## 🐛 Bug

when i'm loading a torchscript model in c++,  bug:

libc++abi.dylib: terminating with uncaught exception of type c10::Error: isTensor() INTERNAL ASSERT FAILED at /Users/sjf/libtorch/include/ATen/core/ivalue_inl.h:86, please report a bug to PyTorch. Expected Tensor but got Tuple (toTensor at /Users/sjf/libtorch/include/ATen/core/ivalue_inl.h:86)
frame #0: c10::Error::Error(c10::SourceLoca

[2020-01-10 13:40] mjjimenez opened #32040 "Libtorch iOS Build can't be used in unit test target"
## 🐛 Bug

The current build for libtorch for iOS installed using cocoapods can't be included in a unit test target.

I've filed a cocoapods issue on this and they discovered that `libnnpack.a` is not a universal library,
causing the build error.

https://github.com/CocoaPods/CocoaPods/issues/9473

## To Reproduce

Steps to reproduce the behavior:

I just cloned your demo app here https://github.co

[2020-01-10 14:22] MaratZakirov commented on #20967
I had pytorch with version 1.1.0 and consider following simple example of BatchNorm2d
[code]
The output of which is complete nonsense for me
[code]
According to this output running_mean keeps its initial value ONLY in case of model.eval() AND running_stats = True. But the most strange thing is that running_mean has ZERO influence on the output elements difference is always ZERO in all 4 cases.

Wh

[2020-01-10 14:37] stoneyang opened #32041 "How to export L2-normalization to onnx"
## 🚀 Feature
Support export for LpNormalization from PyTorch to ONNX, thus it could be used in TensorRT model.

cc @houseroad @spandantiwari @lara-hdr @BowenBao @neginraoof

[2020-01-10 14:42] albanD commented on #22127
Tentatively closing this as we cannot reproduce. Please re-open if you still see actual OOM errors.

[2020-01-10 14:42] #22127 closed

[2020-01-10 14:48] ezyang commented on #28313
Acccording to @ljk53 this was only fixed in Python 3 and not Python 2.

[2020-01-10 15:03] cossio commented on #5349
Any news on this after almost two years?

[2020-01-10 15:31] albanD commented on #5349
Hi,

This is not really high priority as there are easy ways to do the same thing with the current api.
As mentioned above, you can implement this in 3 lines with `autograd.grad()` and filling the `.grad` fields on the inputs manually.

But we would be happy to accept PR if you want to add an "inputs" argument to `autograd.backward()`.

[2020-01-10 15:40] ezyang commented on #31852
I think I'm seeing something similar attempting to compile on our Windows environment.

![image](https://user-images.githubusercontent.com/13564/72165485-961f5180-3395-11ea-869c-a22603815515.png)

[2020-01-10 15:42] #31926 closed

[2020-01-10 16:14] jheinecke commented on #31944
Thanks for taking care of this. Same problem for
[code]

I had a look at the `pytorch-transformers` and `pytorch_fairseq_master` which is downloaded and compiled when you `run torch.hub.load()` the first time. Both import from `torch.hub`

[code]

but ignore the `global hub_dir` set by `set_dir()` (in `torch/hub.py`), whereas the environment variable `TORCH_HOME` is read in ` _get_torch_home()`

[2020-01-10 16:15] #29712 closed

[2020-01-10 16:34] Enealor commented on #32035
I tried the code above and had the same runtime error. On a suspicion from a prior issue, I tried it with `torch.backends.cudnn.deterministic = True` after the imports, and then it worked. Does this resolve it for you as well?

[2020-01-10 16:45] mathisgerdes opened #32045 "Calling tensor.backward() from within a C++ extension hangs"
A C++ extension calling backward() on a tensor hangs when called from python.

I've posted this same issue with some back tracing [in the forum](https://discuss.pytorch.org/t/tensor-backward-called-within-c-extension-hangs/65473).

## To Reproduce
Here is the basic extension, following the tutorial on C++/CUDA extensions. I get the same issue if I install the extension via `load_inline`.

1. Sourc

[2020-01-10 16:46] RylanSchaeffer opened #32046 "torch.save causes TypeError: can't pickle SwigPyObject objects"
## 🐛 Bug

I create a simple class that inherits from `nn.Module`. When I try to save an instance of this class, I receive the following error:

`TypeError: can't pickle SwigPyObject objects`

## To Reproduce

1. Create the model class:

[code]

2. Create the model and try to save it:

[code]

I receive the following error trace:

[code]

## Environment

Please copy and paste the output from our
[e

[2020-01-10 16:47] RylanSchaeffer commented on #32046
I don't know if this is a bug, so I also created this discussion post in case that's more appropriate:

https://discuss.pytorch.org/t/how-to-debug-saving-model-typeerror-cant-pickle-swigpyobject-objects/66304

[2020-01-10 16:50] msinclair-hf commented on #32035
Thanks @Enealor, that has resolved the error. Is there a link to the prior issue you mentioned?

[2020-01-10 17:00] RylanSchaeffer commented on #32046
I tried updating to Pytorch 1.3, but the error remained.

[2020-01-10 17:05] ngimel commented on #32035
The previous issue is #31336, and looks like root cause here is similar, cudnn heuristics is returning an algo that cannot be run. I'm closing this as a dupe of #31336, as workaround and root cause seem to be the same, @msinclair-hf, if you feel that this is not a dupe, feel free to reopen.

[2020-01-10 17:06] #32035 closed

[2020-01-10 17:06] fjhickernell opened #32047 "Sobol point implementation"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

The first point in an unscrambled Sobol sequence should be the vector 0

All coordinates of (scrambled) Sobol points should be less than 1

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_en

[2020-01-10 17:09] ngimel commented on #31336
So this (or similar) issue has been reported at least twice recently, and many times over the years. @csarofeen @ptrblck does cudnn have a timeline for the fix? If not, it may make sense to do a workaround inside pytorch for a case when algo is selected via cudnnGet - if CUDNN_STATUS_NOT_SUPPORTED is returned by actual call, retry with default algo (the one that is selected with benchmark=False de

[2020-01-10 17:25] charleshofer commented on #31915
I'm with IBM Power. If you guys suggest something we can look at to try and get this fixed, we're happy to look at it.

[2020-01-10 17:25] twoertwein opened #32048 "logdet on GPU is slower than on CPU and uses a lot of CPU-time"
## 🐛 Bug

logdet on a GPU matrix is much slower than on a CPU-matrix. The GPU-version also uses a lot of CPU-time (even more CPU-time than the CPU-version?!).

## To Reproduce

[code]

## Expected behavior
logdet shouldn't use much CPU-time at all (and should be faster than the CPU version).

## Environment

[code]

cc @VitalyFedyunin @ngimel @mruberry

[2020-01-10 17:32] abaisero opened #32049 "nll_loss does not check for negative indices"
## 🐛 Bug

F.nll_loss does not check for negative indices, and returns garbage when negative indices are used (with the exception of the ignore_index parameter, which works as expected).

## To Reproduce

Steps to reproduce the behavior:

[code]

## env info

I've tested this with both torch 1.2 and 1.3.

Collecting environment information...
PyTorch version: 1.3.1
Is debug build: No
CUDA used to b

[2020-01-10 17:45] ngimel commented on #31991
@enealor your analysis is correct, do you mind sending a PR?

[2020-01-10 17:58] bpstark commented on #31705
@TheArheus It appears that meshgrid is a rather new addition to the opset registry, I am not yet sure as to what release it will be a part of let me investigate further.

[2020-01-10 18:10] lanpa commented on #31855
Issue solved.

[2020-01-10 18:10] #31855 closed

[2020-01-10 18:25] ezyang commented on #30886
Nikita thinks that this is related to `C10_HOST_CONSTEXPR` and `C10_DEVICE_CONSTEXPR` and an inconsistency between the two

[2020-01-10 18:27] lanpa commented on #32046
When creating SummaryWriter(), it generates a file handle, which is usually unable to serialize.

[2020-01-10 18:33] EscapeZero commented on #30886
Thanks for the work on this everyone!

[2020-01-10 18:34] RylanSchaeffer commented on #32046
Ah, thank you!

[2020-01-10 18:34] #32046 closed

[2020-01-10 18:38] supriyar commented on #31821
The regular pytorch -> onnx -> caffe2 conversion should work if the operators are supported. For example -

[code]

List of supported operators are present in https://github.com/pytorch/pytorch/blob/master/torch/onnx/symbolic_caffe2.py

[2020-01-10 18:44] lanpa commented on #31758
Looks like you have multiple pytorch versions installed in the environment. Can you confirm that?

[2020-01-10 18:48] Enealor commented on #31991
@ngimel Sure. I can start working on this later today.

[2020-01-10 18:52] #24512 closed

[2020-01-10 19:04] #31549 closed

[2020-01-10 19:10] driazati commented on #32039
From the error message `Expected Tensor but got Tuple` it sounds like your model returns a tuple. So instead of `.toTensor()` you should be doing `.toTuple()`. You can read more about the `torch::IValue` returned from `forward()` [here](https://pytorch.org/cppdocs/api/structc10_1_1_i_value.html#_CPPv4N3c106IValueE)

[2020-01-10 19:15] zou3519 opened #32058 "pytorch_linux_xenial_cuda9_cudnn7_py3_build shouldn't build documentation"
## 🐛 Bug

pytorch_linux_xenial_cuda9_cudnn7_py3_build appears to build the pytorch docs. See [this log](https://app.circleci.com/jobs/github/pytorch/pytorch/4169907).

It probably shouldn't build the docs; that's what the `python_doc_push` CI job is for.

cc @ezyang @zou3519

[2020-01-10 19:17] bpstark commented on #31705
@TheArheus support for meshgrid was added into V1.4 of pytorch so you can upgrade to that and you should be able to export the model.

[2020-01-10 19:20] driazati commented on #31877
Can you give some more context on the background for this issue? An easy way to get everything into 1 format would be to load and re-save in the latest version of PyTorch. Since we're fully backwards compatible down to 0.1, we can load any objects (in the eager case) or TorchScript models and save them with the latest format.

1. I think a reasonable naming scheme would be something like `(Eager|T

[2020-01-10 19:27] lanpa commented on #31305
@as754770178 @orionr  This issue should already have been solved before 1.4.0a0+65f6e44 (a month ago)

And here is the result of this version. Would you like to try to build from master or use pytorch-nightly again?
![image](https://user-images.githubusercontent.com/2005323/72180231-ac72ef00-3421-11ea-9882-7593725d8a0c.png)

[2020-01-10 19:34] vincentqb commented on #31828
Not all schedulers support that parameter in the first place. Moreover, we made schedulers chainable, and the epoch parameter doesn't extend nicely.

For this, you can simply either run the the scheduler over a loop, or you can save the state and load.

[2020-01-10 19:47] raghuramank100 opened #32064 "Missing documentation for is_quantized"
## 📚 Documentation
There is no documentation for the tensor attribute is_quantized that specifies if a tensor is a qtensor or not. This needs to be added to:https://pytorch.org/docs/stable/tensors.html#torch-tensor similar to is_cuda attribute

cc @jerryzh168 @jianyuh @dzhulgakov @raghuramank100 @jamesr66a

[2020-01-10 20:05] seemethere commented on #31693
I believe this should now be resolved for `macOS`:

[code]

Not entirely sure about where we are on windows nightly builds though, cc @peterjc123

[2020-01-10 20:09] SplitInfinity commented on #24697
I'd like to work on this. How do I assign it to myself?

[2020-01-10 20:20] vishwakftw commented on #32048
Hi @twoertwein, thank you for opening the issue. This is related to #23940.

I did some benchmarking on Colab, and this is what I got:

| n | best gpu (in seconds) | best cpu (in seconds) |
| - | ----- | ----- |
| 100 | 0.0014519537639999954 | 0.0001178999996000016 |
| 200 | 0.002751796090000198 | 0.00029353885099999387 |
| 500 | 0.0035182207200000447 | 0.0022295741199991424 |
| 1000 | 0.005821415

[2020-01-10 20:20] xush6528 opened #32066 "Build Link Error, libgomp.so: undefined reference to `clock_getres@GLIBC_2.2.5'"
## ❓ Questions and Help

My command to reproduce this error

[code]

gcc version is
[code]

Error

[code]

[2020-01-10 20:29] vishwakftw commented on #32032
Hi, thank you for bringing this up. I'll send in a patch to fix it.

[2020-01-10 20:35] VitalyFedyunin commented on #24697
There is menu for in in the top-right of the issue

On Fri, Jan 10, 2020 at 3:09 PM SplitInfinity <notifications@github.com>
wrote:

[2020-01-10 20:57] michaelklachko commented on #22496
Ok, makes sense. Do you know how Tensorflow handles this case?

[2020-01-10 21:00] twoertwein commented on #32048
@vishwakftw Thanks for confirming the performance issue.

Could it be that `logdet` is already using your proposed solution ("Implicitly offload computation to CPU, and move the result to GPU.")? That could explain why it uses so many CPU resources. It would be nice to have an option to force GPU-operations to be able to compare a pure GPU-logdet, a pure-CPU logdet, and your mixed approach.

[2020-01-10 21:03] kostmo commented on #31846
Hi @mrshenli, I have just added some instructions [on the internal wiki](https://our.internmc.facebook.com/intern/wiki/Dr._CI/Operation/Creating_a_new_pattern_for_the_log_scanner/).

[2020-01-10 21:14] vishwakftw commented on #32048
In MAGMA, for small matrix sizes, the `getrf` routine for computing the LU decomposition automatically dispatches to LAPACK on the CPU. This along with CPU-GPU transfer could _perhaps_ explain the increased CPU usage.

[2020-01-10 21:31] ngimel commented on #22496
No I don't, sorry, but if they are calling into cudnn, they are most likely doing the same thing, because it is a cudnn limitation. Even though technically you can use different streams and run smaller convolutions "concurrently", in reality they will still be serialized because all the device resources will be used by a single call.

[2020-01-10 21:52] #31693 closed

[2020-01-10 22:51] cossio commented on #5349
The initial post in this thread illustrates the issue with GAN training. I am beginning to read the PyTorch tutorial (https://pytorch.org/tutorials/beginner/dcgan_faces_tutorial.html) and was wondering if the unnecessary gradient computation issue is relevant in that documentation page?

[2020-01-10 23:15] ezyang opened #32078 "Reduce degrees of freedom in strides so that they unambiguously specify layout permutation"
In the memory layout work in https://github.com/pytorch/pytorch/issues/19092 we have a problem where strides undetermine the layout of a tensor when size = 1 or 0. In particular, if I have a tensor with size `(1, 1, 1, 1)`, it is impossible to tell (from the strides) if it is an NHWC or NCHW tensor (or indeed, any other permutation of the layout). This is because when size = 1 or 0, strides are un

[2020-01-10 23:50] #19076 closed

[2020-01-10 23:53] v0dro commented on #19420
Can this issue be considered closed?

[2020-01-11 00:28] SsnL opened #32079 "torch.device parsing does not do enough checks"
[code]

[2020-01-11 00:50] jjsjann123 commented on #32078
Nice write up!

Two question here:
  1. I'm curious on what this new requirement would impact APIs, as directly setting size/stride would be dangerous now?
  2. `permutation_of(strides)` will be called A LOT for memory format propagation. I can see we ended up caching it somewhere (like `is_contiguous_`). But in this case we are dealing with a permutation, hence we probably will ended up storing a

[2020-01-11 01:54] ZisIsNotZis commented on #31913
@zou3519

I think `a.gather_op_(index, dim, b)` is generally:
[code]

While this feature request is more about `a.index_op_(index, dim, b)`:
[code]
where `op` is `add` (i.e. `+`)

So I fell this is for `index_add_`, which don't support multidimensional index currently. The `gather_add_` is perfect for now

[2020-01-11 02:44] lanpa commented on #30651
Seem related to https://github.com/lanpa/tensorboardX/issues/178
Would you list all installed pip packages?

[2020-01-11 02:59] as754770178 commented on #31305
@lanpa Thanks. The effect is very good.

[2020-01-11 02:59] as754770178 commented on #31305
@lanpa Thanks. The effect is very good.

[2020-01-11 02:59] as754770178 commented on #31305
@lanpa Thanks. The effect is very good.

[2020-01-11 03:09] bhaeffele commented on #21819
I'm having a potentially related issue as well.  On a machine with 8 RTX 2080 Ti GPUs, one specific GPU (4) gives the CUDA illegal memory access issue when trying to copy from the GPU to the CPU:

[code]

Identical code runs fine on the other 7 GPUs but gives an error on this particular GPU after a random number of iterations.

[code]

I haven't done too much playing around, but this happens fairl

[2020-01-11 04:06] ptrblck commented on #21819
@sicklife @bhaeffele Are you seeing this error using the code snippet from the first post on your setup?

[2020-01-11 04:11] lutzroeder commented on #31877
Context is which format [Netron](https://github.com/lutzroeder/netron) should show to users for diagnosing issues or discussing the changes PyTorch is going through.

<img width="1136" alt="screenshot" src="https://user-images.githubusercontent.com/438516/72198592-9e52ad80-33e4-11ea-861b-d34ebb144237.png">

Would this be a correct representation of what we discussed so far?
[code]

It is still unc

[2020-01-11 04:37] xsacha opened #32081 "Occassionally get illegal memory access in Cuda copy"
## 🐛 Bug

While inferencing, I occassionally get the following exception in my forward call:
CUDA error: an illegal memory access was encountered (copy_kernel_cuda at C:/w/1/s/windows/pytorch/aten/src/ATen/native/cuda/Copy.cu:187)
(no backtrace available)

It appears to refer to this line of code:
https://github.com/pytorch/pytorch/blob/v1.3.1/aten/src/ATen/native/cuda/Copy.cu#L187

## To Reproduc

[2020-01-11 04:44] lanpa commented on #30987
@albanD I just checked that the only `.data` used in tensorboard is the following, which is guarded by a type check.

[code]

[2020-01-11 04:47] peterjc123 commented on #32081
It may be some corner cases that are hard to reproduce. Recently I resolved a similar issue that is related to the `pow` op with CUDA in https://github.com/pytorch/pytorch/issues/31108.

[2020-01-11 04:52] peterjc123 commented on #32081
It will be helpful for us if you could get the exact crash site with the help of setting `CUDA_LAUNCH_BLOCKING =1`.

[2020-01-11 06:54] jingbanghu commented on #31914
it seem that i should not do inverse op at predict parse,should do it at C++ code

[2020-01-11 06:54] #31914 closed

[2020-01-11 07:05] tandelDipak commented on #30387
I want to reverse ToTensor transformation, Can someone add documentation for from_buffer().

[2020-01-11 07:28] fanxinping commented on #30651
Below is the output when Segmentation fault occurs
[code]
And there are all installed pip packages
[code]

[2020-01-11 08:05] imskr commented on #32064
I want to work on this issue!

[2020-01-11 08:52] elbaro commented on #24139
I am in the same situation. My model has a parameter of dynamic tensor shape and rank, which cannot be determined at the initialization phase.

But `load_state_dict(strict=False)` shouldn't do this silently.
For example, if a model has a rank A and the state_dict has a rank B, A!=B, then `load_state_dict` does not know if it should overwrite A with B or convert B to A.

For example, `load_state_di

[2020-01-11 08:52] alex1ai commented on #30968
For a large sample size, I also encountered this problem with the Normal distribution with PyTorch 1.2 on CUDA.
[code]
slow_sample is 50-100x slower than the other variant.

[2020-01-11 09:57] robotcator opened #32082 "QAT Multi-GPU support"
## 🐛 Bug
`_broadcast_coalesced` raise `incompatible function arguments` errors when tensors argument contains class 'NoneType'.
1. If I fill [the state_dicts' none element in the list](https://github.com/pytorch/pytorch/blob/v1.3.1/torch/nn/parallel/distributed.py#L294), the error disappears.
2. The `Nonetype` elements in the buffers exist in [there](https://github.com/pytorch/pytorch/blob/v1.3.1/

[2020-01-11 11:24] dongxiao92 opened #32083 "build pytorch from source fauled: undefined reference to `cusparseGetErrorString(cusparseStatus_t)'"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:
follow the instruction from [](https://github.com/pytorch/pytorch)

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out the checklist below manually).

You can get the script and run it with:
[code]
build

[2020-01-11 12:21] xsacha commented on #32081
It takes a while to hit but I'll run with this set for now.
Thanks.

[2020-01-11 12:43] xsacha commented on #32039
Perhaps needs a better assert message. You can also check if it is a Tuple before converting, for code that handles multiple models.

[2020-01-11 12:46] FerranPares commented on #32037
I could avoid the memory leak when substituting the `padding_fn` with a code that returns random tensors (completely ignoring the argument `batch`):
[code]
I'm not familiar with MKLDNN but hope this information helps to find the source of the memory leak.

PD: Sorry for the misleading title.

[2020-01-11 13:12] agadetsky commented on #26411
@pandeykartikey hi! do you have any progress?

[2020-01-11 13:54] lanpa commented on #30651
@fanxinping Can you open up a new conda environment and build your pytorch inside there? I have tried to reproduce your environment and I can't reproduce the error. Also, you have used matplotlib in the script, but there is no matplotlib in the pip list, which version of matplotlib are you using?

[2020-01-11 15:11] yc-zc commented on #31758
Yes, we have tried different versions of pytorch to see if it has been fixed.

[2020-01-11 16:28] jotaf98 commented on #7313
Any reason why modules with nn.Parameter attributes (e.g. nn.Conv2d) can't just accept nn.Module in their place? That way, weight_norm can be just a Module that wraps a Parameter, and implements the normalization as its forward method.

This seems to me like a more transparent (dare I say pythonic?) way than adding abstractions that users need to learn. I was surprised to find that this wasn't sup

[2020-01-11 16:36] TheArheus commented on #31705
@bpstark Ok, I used another environment with torch nightly. And now I have a problem with `nn.Upsample()` function while creating `Sequential`:
F:\Env\Anaconda\lib\site-packages\torch\nn\modules\upsampling.py:129: UserWarning: nn.Upsample is deprecated. Use nn.functional.interpolate instead.
  warnings.warn("nn.{} is deprecated. Use nn.functional.interpolate instead.".format(self.name))
Traceback

[2020-01-11 16:51] erikhuck commented on #30678
@zhangguanheng66 That looks great to me. Thank you very much.

[2020-01-11 20:07] suo commented on #26948
Unfortunately that's not possible today, as we perform various optimizations based on the input during the first inference. We are looking to improve first inference speed by doing the specialization/optimization off-thread, but that isn't yet available.

[2020-01-11 20:10] suo commented on #32039
Agreed on the assert message, we're looking to clean up and better document the TorchScript C++ API in the very near future!

[2020-01-11 20:30] suo commented on #31591
Yeah, basically the tracer is detecting that—based on its understanding—the input doesn't affect the output at all. So changing the input would not lead to a change in output.

Since that is rarely actually the case (because there's not much use for a function that does not depend on its inputs), we consider it a red flag that the tracer messed up in some way.

[2020-01-11 22:23] SsnL commented on #32037
no worries. a more minimal repro is

[code]

[2020-01-11 22:47] darolt commented on #27738
just to register here: got the same error on a fresh install of pytorch 1.3 and cuda 10.1. Both had the same cuda version given by conda list. For me, updating the driver was not an option because my card (Tesla k40) has as suggested driver (NVIDIA drivers page) 418.xx. Downgrading to pytorch 1.3.0 solved the problem for me.

[2020-01-12 00:17] yaroslavvb commented on #31753
also possibily related, `cuda.manual_seed_all` is missing in pyi

[2020-01-12 00:28] peasant98 opened #32085 "Support for torch.onnx.symbolic_opset11._new_empty_tensor_op"
## ❓ Questions and Help
Hi, is there support yet for torch.onnx.symbolic_opset11._new_empty_tensor_op? It seems to cause the failure in the ONNX export for MaskRCNN from torchvision's models.

[2020-01-12 01:06] NotNANtoN commented on #31423
Thank you for the comment. I followed your advice and made a TorchScript version of what I was looking for. In my project, the standard Cudnn LSTM needed 3.3 seconds, the TorchScript version around 10 seconds and using the LstmCell needed around 30 seconds. This is already great, a speedup of 3x!

Unfortunately, TorchScript seems to be incompatible with Apex Mixed-Precision training. I already com

[2020-01-12 02:23] kangcp commented on #31771
Thank you, I have call that.

[2020-01-12 04:00] Enealor commented on #31136
I'm not certain, but it looks like we can pin the installed versions in the [python install script](https://github.com/pytorch/pytorch-ci-dockerfiles/blob/master/common/install_travis_python.sh#L73) in the [pytorch-ci-dockerfiles] repository. If this sounds right, I can bring it up there.

[2020-01-12 04:06] Enealor opened #32087 "Out-of-date link to pytorch ci dockerfiles in jenkins readme"
The Jenkins [readme.md](https://github.com/pytorch/pytorch/blob/master/.jenkins/pytorch/README.md) contains the broken link `https://github.com/pietern/pytorch-dockerfiles/blob/master/build.sh`. This repository has been moved on 11/11/2019, and it looks like the link should be replaced with `https://github.com/pytorch/pytorch-ci-dockerfiles/blob/master/build.sh`.

[2020-01-12 06:56] lanpa commented on #30525
@bsun0802 Have you tried to select projectors from the drop-down list on the top right?

[2020-01-12 07:19] rlaPHOENiX commented on #29090
Any update on this? A LOT of software on Arch Linux Repository are rebuilt specifically for 3.8 so it's a tad bit annoying setting up an environment just for torch.

[2020-01-12 07:37] lanpa commented on #31758
@yc-zc Please use a clean env so that only one version of pytorch is installed.

[2020-01-12 10:45] leosh64 commented on #990
This works in general, but the mirror seems to be outdated. E.g. when trying to install scipy this way, the mirror distributes version 1.2.x, while the "official" pypi mirror distributes version. 1.4.x

[2020-01-12 13:45] zbh2047 opened #32088 "Batch convolutional layer with 5d weight tensor that is not contiguous"
## 🚀 Feature
Given a batch of images, having a shape (b, c, h, w)
Given a weight tensor of shape (b, out_features, in_features, kernel_height, kernel_width) which is not contiguous (can not view as (b * out_features, in_features, kernel_height, kernel_width) without copying)
Perform a convolution that uses each 4d weight tensor to convolve the corresponding 3d image.

## Motivation
For example, if

[2020-01-12 17:30] LexGrishin commented on #20643
I've got the same issue with torch.nn.LogSoftmax(dim=1).

[2020-01-12 21:09] Linus4world opened #32089 "torch.mean keepdim is not working correctly"
## 🐛 Bug

_torch.mean()_ removes the first dimension of a tensor, if it is of size 1. Even if keepdim=True
## To Reproduce

Steps to reproduce the behavior:
[code]

## Expected behavior
[code]

## Environment

PyTorch version: 1.3.0
Is debug build: No
CUDA used to build PyTorch: 10.1

Python version: 3.7

Versions of relevant libraries:
[pip3] numpy==1.16.4
[pip3] torch==1.3.0
[pip3] torchvision==

[2020-01-12 23:05] SimZhou commented on #28321
Hey guys, I just got this issue solved as well, however by:

`pip install torch==1.3.1+cu92 torchvision==0.4.2+cu92 -f https://download.pytorch.org/whl/torch_stable.html`

**My environment** is:
Windows 10
Geforce MX150
display driver 441.66
nvidia cuda toolkit 10.1 (manually installed before installing pytorch)

while I got cuda.is_available() False with pytorch+cuda10.1

[2020-01-12 23:07] vadimkantorov commented on #32089
I think it's `[0]` that removes the first dimension

[2020-01-13 00:55] daggertye opened #32091 "Torch.autograd optimization is not working correctly when defined in Torch.autograd.function static method"
## 🐛 Bug

When performing a task such as optimization within a Torch.autograd.function forward pass, no gradient functions are generated for intermittent non-leaf variables and hence optimization fails.

## To Reproduce

Steps to reproduce the behavior:

Write out a custom torch.autograd.Function and attempt to perform some sort of optimization with a generated Parameter. Define any loss function

[2020-01-13 01:32] silence401 commented on #30525
Aight, thanks.

[2020-01-13 01:54] dongxiao92 commented on #32083
guys, any idea?

[2020-01-13 02:02] ezyang commented on #32078
1. I think probably APIs that set strides would have to automatically canonicalize, under this proposal
2. You may very well be right; I haven't done enough reading of the existing format propagation code yet--I was under the impression that most of the time you wanted to test if you matched NCHW/NHWC. If we actually need to frequently pull out the permutation, we should design a good representati

[2020-01-13 02:32] robotcator commented on #32082
cc @jerryzh168 Do you have any idea?

[2020-01-13 04:35] justanhduc commented on #11214
FYI, in my case, there was a linker error related to autograd symbol. I solved it by adding `torch_python.lib` to the project.

[2020-01-13 05:24] ironjr opened #32094 "logical_not for Boolean tensor has peculiar behavior"
## 🐛 Bug

`torch.logical_not` operation or '~' for `torch.BoolTensor` does not apply correctly.

## To Reproduce

Simple code to reproduce the behavior.
[code]

## Expected behavior

When you apply a proper logical NOT operation ('~' in python), you should get all original Trues to be Falses and vice versa. Therefore, in the above code, you should get `tensor([[ False, True ]])` instead of `tensor

[2020-01-13 05:29] tarungog opened #32095 "deterministic sampling"
## ❓ Questions and Help
When we are training RL algorithms such as A2C, it is common to utilize random sampling at train time and deterministic (highest probability) sampling at test time. Is there a way to make torch distribution act deterministically and output the highest probability action?

If not, I would like to request this feature.

[2020-01-13 05:45] ethanjyx commented on #16574
now that Python 2 has gone away, shall we start to prioritize this? :) we would highly benefit from this

[2020-01-13 06:12] ironjr commented on #32094
\+ Some additional information
If you cast the above BoolTensor to ByteTensor, you see this:
[code]
The value of 44 changes every time you run the code.

However, if you cast ByteTensor to BoolTensor, the internal representation seems to change correctly (True -> 1, False -> 0). The main problem I found was two-fold:

1. Initialization of Boolean tensor by torch.BoolTensor does not reset the inter

[2020-01-13 06:32] TheArheus commented on #31705
Ok, I just reworked it a little bit and It's finaly exported well. Thank you very much

[2020-01-13 06:50] fuzic opened #32097 "logsumexp with subtraction"
## 🚀 Feature
scikit's implementation of logsumexp accepts a supplemental array of scaling factors that allow for subtraction instead of just addition.
https://docs.scipy.org/doc/scipy-0.19.0/reference/generated/scipy.misc.logsumexp.html

## Motivation

I'm doing work with log probabilities and need to subtract some likelihoods from each other. Currently I have to move to linear probabilities first

[2020-01-13 07:16] ngimel commented on #32089
As @vadimkantorov says, behavior is as expected, dimension is preserved.

[2020-01-13 07:16] #32089 closed

[2020-01-13 08:26] zihaozhang9 opened #32098 "torch.gt ge lt le"
## 🐛 Bug

The output of  `torch.gt` looks wrong！
`sum(torch.gt(0.12)) < sum(torch.gt(0.14)) `
Does the torch.gt (thr) function get elements in the tensor that are larger than thr?

![image](https://user-images.githubusercontent.com/21007783/72240967-84051380-3620-11ea-950f-c1ac15b6d9e5.png)
I saved this [tensor](https://drive.google.com/open?id=1OcsUP32vMHJUVCVcs9gmeEufYohOCZSx)
 - PyTorch Version

[2020-01-13 09:00] dhKwang commented on #16417
I found out that when my computer use too much CPU RAM, this problem usually comes up. So when we want a bigger batch size, we can try to reduce the usage of CPU RAM.

[2020-01-13 09:48] FerranPares commented on #32037
I just tried to avoid the memory leak by disabling MKLDNN:
[code]
Unfortunately, I'm not able to avoid it, neither using the original code that I posted, neither using the latest reproduction code you posted. How did you exactly disabled MKLDNN? Am I doing something wrong?

[2020-01-13 10:37] dvolgyes commented on #29090
The more worrying part for me that i don't see progress for nightly testing of python3.8.
I mean no wheel for 1.4dev or 1.5dev (https://download.pytorch.org/whl/nightly/cu101/torch_nightly.html), and i don't see that e.g. someone would update the
setup.py in https://github.com/pytorch/pytorch/blob/master/setup.py to have 3.8 included, etc.

Is there any issue which tracks the requirements for a py

[2020-01-13 12:05] barrh commented on #19742
@soumith @BonShillings  I manage to reproduce this issue _consistently_ on my machine, with pytorch 1.3.1.

[code]
but: `pickle.dumps(torch.Tensor([1])) == pickle.dumps(torch.Tensor([1]).data)` is True.

Similarly, this issue reflects on Python's LRU cache.
Example code:
[code]

[2020-01-13 12:35] fmassa commented on #32034
Yes, I think restructuring the `ConcatDataset` to add a method similar to [`get_idxs`](https://github.com/facebookresearch/maskrcnn-benchmark/blob/57eec25b75144d9fb1a6857f32553e1574177daf/maskrcnn_benchmark/data/datasets/concat_dataset.py#L13-L19) would be a great addition! Can you send a PR?

[2020-01-13 13:37] rmcavoy commented on #15849
Does this code still work taking into account the change to generators in 3.7 i.e. they convert a stop iteration exception into an error? If someone has a version working in python 3.7 and/or PyTorch 1.3 it would be much appreciated if they could post it even if it still has the restrictions discussed above.

[2020-01-13 14:16] TheArheus opened #32099 "Issue in converting PyTorch model to Keras"
Hello, I'm trying to convert my pytorch model to keras and I have ready onnx file for It. But when I started to converting onnx to keras, I've got next error:
[code]

There is my code:
[code]
And here is my onnx file to reproduce my errors:
https://drive.google.com/file/d/1NjYMbidm5WOB4SeeBw22dGzn-jZIrU2-/view?usp=sharing

Thank you.

cc @houseroad @spandantiwari @lara-hdr @BowenBao @neginraoof

[2020-01-13 14:48] albanD commented on #30987
@lanpa thanks for looking into this !
Given that `torch.autograd.Variable` do not exist anymore (it's litteratlly an empty class [here](https://github.com/pytorch/pytorch/blob/14593f077f9cb248cca85fd18b598d14c47d5d4e/torch/autograd/variable.py#L10)) this check is a bit out-dated.
But if you send a PR (add me as a reviewer) to replace it with `x = x.detach().cpu().numpy()`, that will work.

[2020-01-13 14:50] ezyang commented on #30987
Is it really necessary to detach in the code above?

[2020-01-13 14:50] ezyang commented on #15849
@rmcavoy please post a new issue for your problem

[2020-01-13 14:52] ezyang commented on #16574
Yes, though this is blocked on killing some FB internal users of Python 2 before we can move this repository onwards.

[2020-01-13 14:55] tychovdo commented on #24870
@riccardosamperna, be careful here. As @bnehoran mentioned the conversion between absolute coordinates and normalized coordinates can be tricky and is prone to user error. I believe both of these options are such errors, since the grid and displacement field are not added in world coordinate space. It's probably best to first transform/create a grid in world coordinates (opposed to [-1, 1] space),

[2020-01-13 14:56] ezyang commented on #31136
Yep; however, pytorch-ci-dockerfiles is defunct (I just fixed this with a README) you should edit `.circleci/docker` now

[2020-01-13 14:56] ezyang commented on #31753
If someone wants to open a PR for this, tag me as reviewer.

[2020-01-13 14:57] albanD commented on #30987
If a Tensor that requires gradient is passed to this function, the call to `.numpy()` will fail.
Given the original code, I guessed a Tensor that requires gradient can be passed. If it is never the case, then you can ignore the detach() and simply remove the `if` statement indeed.

[2020-01-13 14:59] #19420 closed

[2020-01-13 15:01] epignatelli opened #32100 "np.mean breaks when called on a list of cuda tensors"
## 🐛 Bug

When using `np.mean` on a list of `torch.tensor`s, whose device is different from `torch.device(type='cpu')`, an error is thrown.

The rationale for considering this a bug is that,if pytorch supports `np.mean` somehow, that should be supported fully.

Copying the tensors back to the cpu removes the error.

## To Reproduce

Steps to reproduce the behavior:

[code]
Out:
[code]
## Expected

[2020-01-13 15:06] vadimkantorov opened #32101 "Improve cuda OOM message"
This is based on https://github.com/pytorch/pytorch/issues/31497 (after the last messages with @albanD and @ezyang)

Condensed, I had a script there that printed:
[code]
in a model eval loop. And at some point it got an OOM:
[code]

Some things:
1. `torch.cuda.memory_allocated()` of 11Gb is not reported in OOM message

2. Terminology discrepancy: `torch.cuda.memory_cached` seems to be equivalent t

[2020-01-13 15:11] zou3519 commented on #31423
I don't know much about Apex so I am going to call for help.

cc @eellison @suo -- do you folks know anything about Apex support with TorchScript?

[2020-01-13 15:21] #32032 closed

[2020-01-13 15:33] vadimkantorov commented on #27522
In https://github.com/pytorch/pytorch/issues/32100 it seems that NumPy actually supports lists of tensors as reduction functions input instead of a stacked tensor

[2020-01-13 15:37] vadimkantorov commented on #29523
it seems that caffe2 python codebase chose to have weight_init/bias_init, caffe2 people then may have some feedback about this design choice

[2020-01-13 15:59] vadimkantorov commented on #22169
Nested tensor would also be useful for parallel reductions of a list of tensor without resorting to torch.stack first: https://github.com/pytorch/pytorch/issues/27522 which would save on memory, sometimes intermediate copmutations, and we could also separately track parallelization performance for 2/3-sized inputs (logadd is a frequent example)

[2020-01-13 16:15] rameshjesswani commented on #18475
I am also facing same issue, any update on this ? Thanks.

[2020-01-13 16:28] ngimel opened #32103 "cudnn convolutions should be using `benchmark=False; determimistic=True` by default"
## 🚀 Feature
cudnn convolutions should be using `torch.backends.cudnn.benchmark=False; torch.backends.cudnn.deterministic=True` by default, currently both are set to `False`
## Motivation
When `benchmark` and `deterministic` are set to `False`, cudnn heuristics is used. It is useless at best, and is leading to slowdowns/crashes at worst (https://discuss.pytorch.org/t/deterministic-cudnn-flag-resul

[2020-01-13 16:30] vadimkantorov commented on #22169
A wild idea: `torch.cat` / `torch.stack` may be transformed to be NestedTensor constructors (if only tensor lists are considered) if some new argument is set.

[2020-01-13 16:54] hartb opened #32105 "TensorRT: CheckDims() need adjustment for EXPLICIT_BATCH?"
## 🐛 Bug

I'm trying to get TensorRT v7 to work with PyTorch 1.3.1.

Starting with the 1.3.1 release branch, I:

- cherry-picked https://github.com/pytorch/pytorch/commit/1e2049c56676646932473456bfb6db547648e9a6 for TRT v6 support
- brought the onnx-tensorrt submodule forward to https://github.com/onnx/onnx-tensorrt/commit/84b5be1d6fc03564f2c0dba85a2ee75bad242c2e for TRT v7 support

With those cha

[2020-01-13 16:57] Wheest commented on #30560
Also having a similar issue

A simple single layer network is not exported properly to Onnx 1.6.  I could get it working with 1.5.0, though had to install `protobuf-compiler` from my distribution's pacakge manager to get the `pip` package working.

## To Reproduce

I have a simple case, where I have a single layer network defined thusly:

[code]

When I export the model to Onnx, in the usual way w

[2020-01-13 17:22] ptrblck commented on #31708
I can reproduce it with `1.5.0.dev20200113` and `cudatoolkit=10.1`, but cannot reproduce it in our PyTorch container build 19.12.
I'll open a cublas bug with the code and cublas call and try to narrow down the issue.

[2020-01-13 17:33] rmcavoy commented on #15849
Why? I am talking about the code posted above is this issue alone. As far as I am aware, the only place that infinite generator code exists is in the comments of this issue.

[2020-01-13 18:10] cpuhrsch commented on #16737
High priority to double check and document torch.save behavior

[2020-01-13 18:13] cpuhrsch commented on #15738
It looks like referenced PRs resolved this issue. @trdavidson - if this is not the case please feel encouraged to reopen this issue.

[2020-01-13 18:22] #32002 closed

[2020-01-13 18:24] cpuhrsch commented on #31875
We'll add documentation to warn of this.

[2020-01-13 18:29] mrshenli commented on #32019
https://app.circleci.com/jobs/github/pytorch/pytorch/4219403

[2020-01-13 18:29] bhosmer commented on #20923
Fixed by #20932

[2020-01-13 18:29] #20923 closed

[2020-01-13 18:35] nadyawilliams commented on #31910
This error is fixed. The problem was in an empty "-I' flag followed by the '-fPIC":
" -I -fPIC" in the compilation line. The empty -I came from the environment variables set for the
location of include files.
Turns out, this combination " -I -fPIC" invalidates -fPIC (position independent code) and while the
*.o file is generated, the output *so file does not include defined objects from this file.

[2020-01-13 18:35] #31910 closed

[2020-01-13 18:36] driazati commented on #31877
Looks mostly good (pinging @ezyang for any thoughts), a couple notes:
* instead of `has_code_folder` checking for the presence of `constants.pkl` is probably safer, this is what we do in our [deserialization code](https://github.com/pytorch/pytorch/blob/master/torch/serialization.py#L848) to differentiate between the two
* Instead of things like `PyTorch Script v1.0` it should be `TorchScript v1.0

[2020-01-13 18:37] tayo commented on #27807
I am seeing behavior similar to this.  This is in a new python3 venv with packages installed using pip on 2020 Jan-13, so binaries should be fresh.

My program spends upward of 60 minutes (and counting) for my model:

@soumith @ptrblck -- Is it possible there is another system interaction which triggers this?

My environment:
torch==1.3.1
NVIDIA-SMI 418.116.00   Driver Version: 418.116.00   CUDA V

[2020-01-13 18:45] narfanar commented on #30029
Disruption to NVidia's hold on the ML market can't come fast enough :D

[2020-01-13 18:50] vpirogov commented on #32037
@XiaobingSuper, @gujinghui could you please help investigate?

[2020-01-13 18:57] kaishian opened #32110 "F.interpolate() cannot be successfully converted to ONNX/TensorRT"
pytorch : 1.4.0a0 + 46f32e1
onnx    : 1.6.0
onnx2trt: 7.0
tensorrt: 7.0.0.11

![image](https://user-images.githubusercontent.com/22209240/72283263-5ef0bf00-3679-11ea-8e54-f7023f09fc09.png)

![image](https://user-images.githubusercontent.com/22209240/72283323-78920680-3679-11ea-8d6c-c5132ed12f4a.png)

Any suggestions on this issue?

cc @houseroad @spandantiwari @lara-hdr @BowenBao @neginraoof

[2020-01-13 19:12] #31268 closed

[2020-01-13 19:19] albanD commented on #31938
The issue is that the formula for the gradient (at least in the cpu kernel [here](https://github.com/pytorch/pytorch/blob/99b3f9cac47ba18d24a446d366f63796e18899eb/aten/src/ATen/native/cpu/Activation.cpp#L363-L371)) expects that the sign of the result is the same as the one from the input. Because the slop from the leaky relu is usually positive I guess (not negative as in this case).

The check fo

[2020-01-13 19:22] ptrblck commented on #31421
@shapovalov This issue should have been fixed in cublas shipping with CUDA10.1.
Could you please install the latest PyTorch with CUDA10.1 and retry your script?

[2020-01-13 19:24] nadyawilliams opened #32113 "Inconsistent linking flags result in error when building lib/libc10_cuda.so"
## 🐛 Bug

Relevant portion of the output from "python setup.py build":

[346/2990] Linking CXX shared library lib/libc10_cuda.so
FAILED: lib/libc10_cuda.so
: && /opt/apps/gcc/8.3.0/bin/g++ -fPIC -Wno-deprecated -fvisibility-inlines-hidden -fopenmp -DUSE_FBGEMM -DUSE_QNNPACK -DUSE_PYTORCH_QNNPACK -O2 -fPIC -Wno-narrowing -Wall -Wextra -Wno-missing-field-initializers -Wno-type-limits -Wno-array-boun

[2020-01-13 19:24] jerryzh168 commented on #32082
Looks like `self.scale` is None, did you run the fake_quant? and did you enable observer?
Also cc @raghuramank100

[2020-01-13 19:35] SsnL commented on #32098
probably uint8 overflow

[2020-01-13 19:37] SsnL commented on #32095
IIUC, you are asking for `distn.mode`, right?

[2020-01-13 20:02] #29995 closed

[2020-01-13 20:07] osalpekar opened #32119 "Ensuring RPC Reliability for Internal Messages [Umbrella Issue]"
## 🚀 Feature
Ensure at-least-once semantics for RRef Control Messages and certain Distributed Autograd internal messages using the RPC framework. Currently there are no guarantees around RPC for internal messages which could lead to inconsistent behavior.

## Motivation
Internal control messages for the RRef protocol and Distributed Autograd can fail due to network or other issues. This may lead t

[2020-01-13 20:09] charleshofer commented on #30488
I am seeing these two failures on `ppc64le` as well

[2020-01-13 20:10] soumith commented on #27807
@tayo what GPU? also please open a new issue. the original problem wrt this issue was resolved.

[2020-01-13 20:12] jjsjann123 commented on #32078
1. Automatically canonicalize meaning that initialization would check strides and reset if necessary?
So if I create tensor with size 1 dimension as `x = torch.empty_strided((4, 1, 2, 2), (4, X, 2, 1))` would X be discarded unless it has the `10` tag (because it's size 1)?

2. You understanding is indeed accurate. Mostly we want to check if our input/weight matched NCHW/NHWC, hence we could create

[2020-01-13 20:26] tarungog commented on #32095
A Categorical distribution doesn't seem to have a mode property or method. What is `distn` in this case? @SsnL

[2020-01-13 20:36] ezyang opened #32120 "std::string constructor for OperatorName results in a lot of code goop at all call sites"
I was trying to understand why there is like 2x the amount of assembly I expected to see in a simple call to `at::abs`. Like seriously, what is all this?

[code]

It looks like the problem is this line:

[code]

`findSchema` takes an OperatorName, which itself takes `const std::string&` at its second argument, so we have to construct std::string (inline!) before we can actually call the constructo

[2020-01-13 20:41] ezyang commented on #32120
It seems like this was exacerbated by #25187

[2020-01-13 20:42] ezyang commented on #32120
cc @iseeyuan

[2020-01-13 20:56] ezyang commented on #32101
This seems quite doable to hack something up to look at this, but the question is what exactly to hack up...

[2020-01-13 20:57] ezyang commented on #32103
OK, SGTM.

[2020-01-13 21:08] iseeyuan commented on #32120
My bad. I changed name to move() but forgot overload_name. Will submit the fix soon.

[2020-01-13 21:10] ezyang commented on #32120
I also have a PR in progress which bypasses this constructor entirely

[2020-01-13 21:13] iseeyuan commented on #32120
@ezyang Could you send me the PR? Probably you could also change the constructor too to avoid this happen in future?

[2020-01-13 21:16] vadimkantorov commented on #32101
@ezyang assuming you're talking about the vis: A view over all device (despite other processes can use it) memory with all allocated tensors + storages. One way it could be some long ribbon, possibly wrapped over several lines, allocated tensors could use odd/even highlighting to discriminate between different tensors allocated next to each other (+ maybe another color for unused but allocated ten

[2020-01-13 21:19] vadimkantorov commented on #32101
A measure of fragmentation could be some relation like amount of uncommitted memory versus maximum number bytes than can be allocated contiguously

[2020-01-13 21:24] osalpekar opened #32124 "Retry Queue for RPC Reliability"
Create separate thread in `rpc_agent.cpp` that retries RPC's stored in a queue sorted by timeout. The thread sleeps for the appropriate time between the consecutive retries.

Parent Issue: #32119

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @gqchen @aazzolini @rohan-varma @xush6528 @jjlilley @osalpekar

[2020-01-13 21:25] SsnL commented on #32037
@FerranPares Try
[code]

[2020-01-13 21:28] osalpekar opened #32126 "Efficient Sleeping Implementation for RPC Retries"
Implement general-purpose timer-wheel utility or use condition variable-based waiting to sleep in the RPC retry thread. Replace the simple `std::this_thread::sleep_for` implementation with this new solution.

Parent Issue: #32119

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @gqchen @aazzolini @rohan-varma @xush6528 @jjlilley @osalpekar

[2020-01-13 21:33] osalpekar opened #32129 "RPC Retry Algorithm Policy Tuning"
Address the following details for the RPC Retry functionality:
* exponential backoff policy
* strict mode for `MAX_RETRIES`
* logging support
* timeout duration for RRef messages vs. Distributed Autograd

Parent Issue: #32119

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @gqchen @aazzolini @rohan-varma @xush6528 @jjlilley @osalpekar

[2020-01-13 21:36] osalpekar opened #32130 "Idempotency Keys for RPC Retry"
[TBD - this may not be required]
Implement Idempotency Keys to ensure we can safely retry RPC's with functions that aren't idempotent. Alternately, update existing RRef control functions to idempotent.

Parent Issue: #32119

[2020-01-13 21:36] gchanan commented on #16737
I checked and it does overwrite and I agree we should document the behavior.

That being said, the functionality you want ("fail if overwrite") is already supported by using a file object with the "x" flag.  I think we can just document that usage clearly rather than creating another API.

[2020-01-13 21:41] ezyang commented on #15849
Oops, my bad! I thought you were referring to a different generator problem

[2020-01-13 21:57] charleshofer opened #32132 "Accuracy is slight out of tolerance on ppc64le for `test_mv` and `test_cholesky_solve_batched_cuda_float64`"
## 🐛 Bug

Seeing these two failures when running `test/test_torch.py`

[code]

## To Reproduce

Steps to reproduce the behavior:

1. Build from source on ppc64le
2. Run `test/test_torch.py`

## Expected behavior

The tests should pass

## Environment

Please copy and paste the output from our

PyTorch version: N/A
Is debug build: N/A
CUDA used to build PyTorch: N/A

OS: Ubuntu 18.04.2 LTS
GCC vers

[2020-01-13 22:01] hartb commented on #32105
Maybe `TensorRTOp::RunOnDevice()`'s idea of the max_batch_size also needs to be adjusted so the batching code there will respect the explicit batch size from the ONNX import, rather than assuming `max_batch_size_` will work. (Or maybe `max_batch_size_` itself could/should be adjusted when the engine is created?)

[2020-01-13 22:22] J0Nreynolds commented on #31305
Hi @as754770178. Did the suggestion from @lanpa fix your issue?

[2020-01-13 22:23] z-a-f commented on #29538
I can still repro

[code]

[2020-01-13 22:23] dashesy opened #32135 "nightly nvcc fatal : Value 'c++14' is not defined for option 'std'"
## 🐛 Bug

When compiling custom extensions in nightly I get an error

[code]

These are some of the options passed to nvcc

[code]

## To Reproduce

Same code was fine in `1.3` and previous nightly version, so is this a breaking change, to require `c++14`? my current nvcc is for CUDA8

[code]

## Expected behavior

If not intentional, continue supporting older nvcc

## Environment

Collecting envi

[2020-01-13 22:24] dashesy opened #32136 "cpp extension in nightly is broken"
## 🐛 Bug

nightly Pytorch cannot compile cpp extension

## To Reproduce

Extension [here](https://pytorch.org/tutorials/advanced/cpp_extension.html#writing-a-mixed-c-cuda-extension) defines:

[code]

results in deprecation:

[code]

but there is no `is_cuda` in `options` struct.
The fix was to call `x.is_cuda()` directly, which is nicer.

[code]

## Expected behavior

Examples to be tested

## Env

[2020-01-13 22:26] rmrao opened #32137 "torch.nn.functional.normalize epsilon too small for half precision"
`torch.nn.functional.normalize` uses an epsilon of 1e-12. This value is too small for half precision and gets evaluated as zero (`torch.HalfTensor([1e-12]) == 0`). This causes nans in half precision when the norm is evaluated as zero. This should be fixable by increasing the epsilon to 1e-6.

[2020-01-13 22:30] z-a-f commented on #26645
Can this be closed now?

[2020-01-13 22:44] arvrmd opened #32139 "python error UnboundLocalError in jit/frontend.py"
## 🐛 Bug

One of the error cases in the function ```build_param_list``` uses ```ctx_range``` without defining it, in the following context:
[code]
## To Reproduce

Steps to reproduce the behavior:

I was using ```torch.jit.script()``` on a large module, and since it's the error reporting that's failing I don't have a line reference. By inspection, however, I believe the unsupported feature was the

[2020-01-13 23:01] tayo commented on #27807
@soumith

16 x Tesla V100-SXM3-32GB (dgx2).

Okay, I will open a new issue.  Regards.

[2020-01-13 23:02] rmrao commented on #30569
I'm curious if there is any progress / possibility of solving this. Equivalent tensorflow operations seem to provide reasonable outputs (e.g. `tf.embedding_lookup` with an out-of-bounds index provides all zeros, indexing a cuda tensor with an out-of-bounds index provides an IndexError with traceback). Could the CUDA device assert be replaced with an error flag?

It's a little odd to have such a dr

[2020-01-13 23:20] vadimkantorov commented on #32021
It would be nice to have an optimizer utility for resetting all param_groups to some values. One way:
`optimizer.load_state_dict(state_dict, reset_to_defaults = True)`, another way: `optimizer.reset_to_defaults()`.

This situation occurs when needed to load_state_dict optimizer state to load Adam-like optimizer buffers, but when one wants to reset lr to a new value. The naive way of creating an op

[2020-01-13 23:21] mranzinger commented on #15849
Based on @Masseeh 's recommendation, this is what I'm using in Py 3.7, Torch 1.3:
[code]
Using it just like the vanilla loader. My life is 2x happier now, though YMMV. Hope this helps.

[2020-01-13 23:36] gchanan opened #32141 "We should change DeprecationWarnings to UserWarnings in 27361"
See https://github.com/pytorch/pytorch/pull/27361

This uses DeprecationWarnings, but we usually use UserWarnings because many python versions filter DeprecationWarnings by default, making them pretty much useless.

[2020-01-13 23:37] suo commented on #32139
cc @driazati can you take a look?

[2020-01-13 23:54] gchanan commented on #32141
actually, @suo used `FutureWarning` in a similar case.  That apparently has the correct semantics post python 3.7, but not the correct semantics pre-python 3.7...

[2020-01-14 00:00] vadimkantorov commented on #32137
(One idea is to leverage: torch.finfo(x.dtype).eps or sth like that inside the impl, or provide an eps argument and do this only if it's unset by the user)

[2020-01-14 00:12] mcarilli commented on #30526
I think it's still broken as of this afternoon, although now it's a new error message (link time rather than parse time).  My native_functions.yaml declaration is
[code]
My function signature (as manually written in aten/native/cuda/AmpKernels.cu) is
[code]
The error I see is in the final linking phase:
[code]
In the autogenerated build/aten/src/ATen/Functions.h, I see
[code]
The codegen is making

[2020-01-14 00:32] XiaobingSuper commented on #32037
@SsnL @FerranPares , it seems a same problem said in https://github.com/pytorch/pytorch/issues/27971 which IDEEP have primitive cache for the performance, you can set  **LRU_CACHE_CAPACITY** to a smaller number(the default number is 1024, you can set it to 1) to reduce the memory use. Thanks!

[2020-01-14 01:00] as754770178 commented on #31305
my torch version is 1.4.0a0+2c51e06, the result still like before that is different with @lanpa

[2020-01-14 01:02] as754770178 commented on #31305
tensorboard version is 1.14.0

[2020-01-14 01:33] kdexd opened #32150 "pin_memory may change the type of instance returned by collate_fn."
## 🐛 Bug

Setting `pin_memory=True` to dataloader sometimes converts custom classes to native python types.

## To Reproduce

I have a class representing batched data, which I inherit from `dict` as follows:

[code]

Hence `collate_fn` simply looks like this:
[code]

### Main issue:

I set `pin_memory=True` to the dataloader, and here is what I get:
[code]

## Expected behaviour

[code]

## Bug:

[2020-01-14 01:43] pritamdamania87 commented on #31937
Was this feature requested by someone internally/externally? Would be nice to have that context in the description of the issue.

[2020-01-14 01:57] azuryl opened #32151 "RuntimeError: CUDA error: no kernel image is available for execution on the device"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1.conda install pytorch torchvision cudatoolkit=10.0 -c pytorch
test
            import torch
            import torchvision
            print(torch.cuda.is_available())
            True
            a=torch.Tensor(5,3)
            a=a.cuda()
            print(a)
            tensor([[7.0374e+22, 5.7886e+22, 6.7120e+22],
            [6.733

[2020-01-14 01:59] azuryl commented on #32151
sample
https://github.com/facebookresearch/detectron2/blob/master/INSTALL.md

    what you observed (including the full logs):

return _C.nms(boxes, scores, iou_threshold)
RuntimeError: CUDA error: no kernel image is available for execution on the device (nms_cuda at /tmp/pip-req-build-9d9zypi6/torchvision/csrc/cuda/nms_cuda.cu:127)
frame #0: c10::Error::Error(c10::SourceLocation, std::__cxx11::ba

[2020-01-14 02:00] azuryl commented on #32151
the issue is in https://github.com/facebookresearch/detectron2/issues/693
but the owner said it is Pytorch 's issue

[2020-01-14 03:30] lutzroeder commented on #31877
Is `TorchScript v1.3` intuitive enough? The docs never mention that `TorchScript v1.3` would be  related to requiring `PyTorch v1.3` vs. calling it `PyTorch TorchScript v1.3` or `PyTorch v1.3 TorchScript` making this more explicit?

Is there a way for tools to derive the PyTorch version needed for a given TorchScript file? If `/version` isn't changing would it make sense to add another field or fi

[2020-01-14 03:37] SystemErrorWang commented on #8976
I met the same problem, even if i set num_workers=0, the training was ended unexpectedly with only information "Killed". would like to know if it's because of dataloader or memory problem or something else

[2020-01-14 03:40] akhti opened #32157 "libtorch.so breaks google test"
## 🐛 Bug

Compiling with googletest and  libtorch.so results in weird linking errors:

[code]

## To Reproduce

I've created a [minimal repo](https://github.com/akhti/torch_googletest_bug). It contains a no-op test and CMakeLists to build it. To reproduce:

[code]

## Expected behavior
[CMakeLists.txt](https://github.com/akhti/torch_googletest_bug/blob/master/CMakeLists.txt) contains two targets:

[2020-01-14 03:44] Suyash458 commented on #25883
@yf225 Where should the tests for the utility functions like `pad_sequence` reside?

[2020-01-14 03:45] #27569 closed

[2020-01-14 04:30] TatsuyaShirakawa commented on #30754
I encounter the same issue when I tried to apply torch.quantization. The minimum code is here.
[code]

[2020-01-14 04:34] TatsuyaShirakawa commented on #30754
I encountered the same issue when I tried to apply torch.quantization. The minimum code is here.
[code]
And I found a way to prevent the error by putting "with torch.no_grad()".
[code]

This solution(?) also works for `deep.copy` as well.

[2020-01-14 04:36] akhti commented on #32157
Seems that it's related to c++11 ABI, as pre-built libtorch with newer ABI compiles.

However, it doesn't solve the issue. In real application I have to use python distribution of pytorch as I use models in both python and c++. Are there any pytorch builds with c++11 ABI?

[2020-01-14 04:59] PetrochukM commented on #4578
When applying weight normalization to an LSTM, shouldn't we be applying it to each weight vector separately? The current approach makes that difficult.

[2020-01-14 05:18] ptrblck commented on #32151
Did you get any error message while installing detectron2?
It seems the `nms_cuda` method is throwing this error, which might e.g. point to a CUDA extension compiled for the wrong architecture.

[2020-01-14 05:30] PetrochukM commented on #4578
Never mind, the basic use case looks like it has bugs:
[code]

[2020-01-14 05:46] robotcator commented on #32082
Yes, I run the fake quantization mode. [Here](https://github.com/pytorch/vision/blob/master/references/classification/train_quantization.py#L58)
is the preparation of fake quantization.

FYI, the default value of `observer_enabled` is true and the `scale and zero_point` can be calculated in the [forward phase](https://github.com/pytorch/pytorch/blob/master/torch/quantization/fake_quantize.py#L81).

[2020-01-14 05:54] ptrblck commented on #32083
@zasdfgbnm Could this error be raised due to the usage of `cusparseGetErrorString` [here](https://github.com/pytorch/pytorch/blob/62b1a5f8466991b3e042345e1c786d520c3b9d91/aten/src/ATen/cuda/Exceptions.h#L38) without [this guard and definition](https://github.com/pytorch/pytorch/blob/62b1a5f8466991b3e042345e1c786d520c3b9d91/aten/src/ATen/native/sparse/cuda/SparseCUDABlas.cu#L11-L49) for cusparse>10

[2020-01-14 06:09] PetrochukM commented on #2343
This is my workaround for right now:

[code]

This applies weight norm to an rnn module and overrides the `flatten_parameters` function.

[2020-01-14 07:00] zealerww commented on #28705
Any plan to support that?

[2020-01-14 07:26] suo commented on #25860
Going to close this out as there hasn't been much activity. @simonhollis feel free to reopen if you're still seeing this behavior.

[2020-01-14 07:26] #25860 closed

[2020-01-14 07:39] zasdfgbnm commented on #32083
@ptrblck It's hard to say whether it's due to this exact guard, but the message sounds weird.

@dongxiao92 Could you try a full cleanup before rebuild? I personally use:

[code]

Most of the time when I see a linker error, clean before rebuild would resolve the issue.

[2020-01-14 07:42] AceEviliano commented on #24157
Thank you all, I think everything is settled with PyTorch including visualization being top to down instead of left to right. This is my specs

Ubuntu 18.04.3 LTS
torch 1.5.0.dev20200113
tensorboard 2.0.1
Python 3.7

[2020-01-14 07:51] AceEviliano commented on #30966
Has anyone got the solution yet I still have the problem
torch 1.5.0.dev2020011
tensorboard 2.0.0
tensorflow 2.0.0

[2020-01-14 08:10] hyeonjames opened #32162 "using Tensor.to(device) after distributed all_reduce intermittently causes deadlock with NCCL"
## 🐛 Bug

## To Reproduce
Hello, I'm a beginner of pyTorch, and learning it with [pytorch tutorials](https://pytorch.org/tutorials/)

and at [Writing Distributed Applications with PyTorch](https://pytorch.org/tutorials/intermediate/dist_tuto.html), I am trying to train Resnet-50 with CIFAR-10 Datasets and 4 GPUs (Tesla P40).

However, when I used NCCL backend, it causes deadlock intermittently. (

[2020-01-14 08:17] hyeonjames commented on #32162
The entire code is [here](https://github.com/hyeonjames/torch-ddp)

[2020-01-14 09:54] williamlzw opened #32164 "libtorch RUN ERROR"
Please improve the error prompt for libtorch.
0x00007FFF9026A839 处(位于 ConsoleApplication1.exe 中)引发的异常: Microsoft C++ 异常: c10::Error，位于内存位置 0x0000002C2A9AF7F0 处。
0x00007FFF9026A839 处(位于 ConsoleApplication1.exe 中)有未经处理的异常: Microsoft C++ 异常: c10::Error，位于内存位置 0x0000002C2A9AF7F0 处。
-----------------------------------------------------------
win10 x64,libtorch 1.3.1 version release no gpu, 2020.01.13
-

[2020-01-14 10:17] barrh opened #32165 "Serialization inconsistency with pickling tensors breaks caching"
## 🐛 Bug
Serializing tensors with pickle yields inconsistent result.
**Expected:** IFF `tensorA == tensorB` then `serialize(tensorA) == serialize(tensorB)`

Additionally, I suspect this behavior breaks caching solutions: functools.lru_cache (see example below), redis (https://github.com/pytorch/pytorch/issues/19742).

## Environment

 - PyTorch Version (e.g., 1.0): v1.3.1
 - OS (e.g., Linux): Ubun

[2020-01-14 10:42] meganset opened #32166 "C++ randint returns float32, python returns int64"
## 🐛 Bug

This has come up before, issue #14079 and pr #11040

It looks like the python side was fixed to return longs (but documentation still has: "_dtype (torch.dtype, optional) – the desired data type of returned tensor. Default: if None, uses a global default_")

## To Reproduce

[code]
[code]

## Expected behavior

Both behaviours are reasonable, but I guess I would expect the c++ implementa

[2020-01-14 11:44] TheArheus commented on #31705
Hi @bpstark, sorry for interrupting you, but after exporting my model to onnx I got new error while importing it to keras. Here is my error:
[code]
Thank you

[2020-01-14 12:01] peterjc123 commented on #32164
Could you please elaborate a little bit? How did you build/compile the project?

[2020-01-14 12:50] lerks opened #32167 "Support in-place pinning of memory"
## 🚀 Feature
Provide a `pin_memory_` method on tensors (note the trailing underscore) which operates in-place.

## Motivation
Pinning memory using the current `pin_memory` method creates a copy of the memory. This is problematic when the data that needs to be pinned is too large to hold two copies of it at once. Also, this doesn't allow to pin shared memory, because the "sharedness" of the memory

[2020-01-14 13:45] rmcavoy commented on #15849
Thanks! Apparently the actual problem was I had gotten the syntax for setting the batch sampler wrong so the iterator was finishing which is why it gave the stop iteration error was even being raised.

[2020-01-14 14:57] albanD commented on #32157
@akhti
You can check the [get-started](https://pytorch.org/get-started/locally/) page on the website. We now provide both builds for linux.

[2020-01-14 15:04] ezyang commented on #32120
https://github.com/pytorch/pytorch/pull/32121

[2020-01-14 15:28] vadimkantorov commented on #22169
Here is another in-the-wild case where a nested tensor could avoid torch.stack materialization: https://github.com/pytorch/pytorch/pull/32020/files

[2020-01-14 15:30] akhti commented on #32157
Thanks! As far as I can see there is only libtorch version, but not conda or pip packages for c++11.

I'm working on RL-like application. So I have training loop in python that though pybind orchestrates a bunch of c++ actors that sometimes get new models from the main python loop. So I need python and c++ versions of the pytorch to match. Is there any way I can get it without building pytorch mys

[2020-01-14 15:52] ezyang commented on #22745
We are still not compiling open source with NDEBUG. However, in fbcode we are compiling with NDEBUG. Raising priority as we saw this saw some asserts that are commented out with NDEBUG are a major performance problem for small models internally

[2020-01-14 15:59] ezyang commented on #32078
I think I definitely am leaning towards explicitly recording the permutation now, for exactly the reason you say, if we can generically propagate the format, we need to know the permutation.

It's to do with size constraints in TensorImpl. Here's a fun comment from the codebase:

[code]

[2020-01-14 16:00] ezyang commented on #32078
We can efficiently store a permutation on 16 elements pretty easily in 64-bit, since you only need 4-bits for each element, so you can pack them altogether.

Since Natalia informs me that y'all at NVIDIA found a workaround for the specific problem you were seeing last week, I think it'll be best to wait till Vitaly gets back and see what he thinks.

[2020-01-14 16:24] albanD commented on #32157
No I don't think we do so for python binaries.
I'm not sure about how the build system handles it :/

[2020-01-14 16:31] AlexTS1980 commented on #1917
In case you need

If you have a `dataset` object that inherits `data.Dataset` from pytorch, it must override `__getitem__` method, which uses idx as an argument. Therefore you can access it directly:
[code]

or

[code]

[2020-01-14 16:43] #26645 closed

[2020-01-14 16:44] hameerabbasi commented on #28361
So, for the faulty case, we would replace it with the following code:

[code]

What happens is the following:

1. We would have a default implementation for each class for `__torch_function__`.
2. Code would dispatch to an implementation if available otherwise the default.
3. So code would go through `SubclassB.__torch_function__`
4. Transformations would take the form of `t.as_subclass(SubclassA)

[2020-01-14 16:51] ezyang commented on #31877
@driazati I have little to say about the exact details of how we are version testing, or what the variants of the versions should be named (aligning them with PyTorch releases sounds reasonable). What I don't see in this discussion is whether or not the team is going to commit to accurately reporting versions on the file format going forward, and if so, what mechanisms we can put in place to make

[2020-01-14 16:57] ezyang commented on #32167
Thanks @lerks. Pasting in some follow up discussion:

From @colesbury:

This is unlikely to be fixed easily -- at least not in a way that's efficient. The cudaHostRegister function is as slow or slower than copying a tensor and cudaHostUnregister synchronizes like cudaFree.
That's one of the reasons for the pinned memory caching allocator. It's a lot faster to do Tensor.pin_memory() than to use cu

[2020-01-14 17:14] gchanan commented on #32047
CC @vishwakftw

[2020-01-14 17:14] SsnL commented on #32150
It is more about https://github.com/pytorch/pytorch/blob/8d472bab6b29877dd316807aee7fb006700d8c8f/torch/utils/data/_utils/pin_memory.py#L51 should use `type(data)`, right?

[2020-01-14 17:16] gchanan commented on #32028
Please use the forum for questions, thanks!

Forum: https://discuss.pytorch.org/

[2020-01-14 17:16] #32028 closed

[2020-01-14 17:22] ppwwyyxx commented on #32151
Note: I did not say it is Pytorch's issue, and user already fixed this by himself somehow (likely with a reinstallation). This can be closed.

[2020-01-14 17:22] SsnL commented on #32095
Yes, it does not exist. I was just wondering if this is a feature request for `distribution.mode`.

[2020-01-14 17:40] #31427 closed

[2020-01-14 17:40] volpato30 commented on #6570
It seems the current Java API only supports CPU mode. Is there any plan to add CUDA support in the near future?

[2020-01-14 18:31] yf225 commented on #32157
According to https://stackoverflow.com/a/53995379, we might be able to build googletest with `-D_GLIBCXX_USE_CXX11_ABI=0` to force it to use old ABI.

[2020-01-14 18:32] kdexd commented on #32150
Correct, I ended up to pointing to a possible solution rather than the actual bug. I think either way is fine. I vote to have `hasattr` first because it removes the first condition (`torch.Tensor`) too.

[2020-01-14 18:35] kdexd commented on #32150
@SsnL your solution assumes that all keys in the `Mapping` are tensors. I may choose to have some boolean flags, or generally native Python types which I use within the model aside of tensor operations.

I can open a PR for the fix once we converge on what to implement here.

[2020-01-14 19:21] agolynski commented on #27134
I am taking on this issue. Discussed offline with Alban re: edge cases.

We decided that it might be better to define d(a^b)/db at a = 0 and b < 0 to be -inf. This is due to d(a^b)/db -> -inf for a fixed b as a -> +0
Currently, tensorflow defines d(a^b)/db = nan for a = 0 and b < 0, so we are in a slight disagreement here.

We can define d(a^b)/db = 0 for a = 0 and b = 0 by continuity as a^b = 0 a

[2020-01-14 19:22] agolynski commented on #27134
Closing issue for now. Let me know if you need further changes.

[2020-01-14 19:22] #27134 closed

[2020-01-14 19:32] hongzimao commented on #5672
Bump. Just to check in to see if this feature is available somewhere? We are working on a research project and are keen to work with any nightly built code for this feature (i.e., bmm(sparse, dense) = dense). @kurtamohler is something available from your local repo?

[2020-01-14 19:39] bhosmer commented on #30526
Hi @mcarilli - thanks for flagging this. Per @eellison the root cause is some old assumptions being made in the codegen pipeline - should be fixable without tearing up a bunch of sidewalk, though not trivial - might take a week or two for it to land. Hopefully your workaround will tide you over until then?

[2020-01-14 19:42] #32151 closed

[2020-01-14 19:52] kurtamohler commented on #5672
@hongzimao , my most recent changes are here: https://github.com/kurtamohler/pytorch/tree/bmm-sparse-dense-5672

But shown in my comments above, my implementation is still slower than the workaround, so you're better off using the workaround for now.

[2020-01-14 20:05] zhangguanheng66 commented on #32004
Agree. After the release of 1.3, the tutorial for transformer was broken. Batter to catch those errors before the release.

[2020-01-14 20:13] CoderHam commented on #27902
Has there been any progress on this?

[2020-01-14 20:13] zhangguanheng66 commented on #32100
Reproduce the error. It works with cpu tensors, though.

[2020-01-14 20:34] ezyang commented on #28361
I feel there is a step missing before

I called `x.__add__()` where `x` is a `SubclassB`. By normal Python resolution rules I'll hit `SubclassA.__add__` when this happens. Are you saying the dispatch decorator will pass control to to `SubclassB.__torch_function__`? I'm still not sure how this would work.

[2020-01-14 20:52] mcarilli commented on #30526
@bhosmer Understood, thanks!  My workaround is in a PR that's not yet merged, and some other aspects are still under review, so if the build fix takes a week to land that's not a huge problem.

[2020-01-14 21:11] zou3519 commented on #32058
We can delete this: https://github.com/pytorch/pytorch/blob/4a26bb9b18d8c2cac7d23b6a2b021e9628701e99/.jenkins/pytorch/build.sh#L208-L216

The blame doesn't tell me when we added it. My guess is that before we had a CI docs build job, we relied on the above lines to test that the docs build correctly. Since we now have a separate CI docs build job, we can separate the two.

[2020-01-14 21:22] driazati commented on #31960
Something is broken in our nightly build, this works fine on master but is reproduces in the nightly libtorch.

[2020-01-14 22:09] jjsjann123 commented on #32078
This makes sense, thanks a lot for sharing the insight and glad that we are on the same page now.
We can move forward with the temporary fix for now. We can wait to have Vitaly back and discuss/decide our strategy then.

[2020-01-14 22:13] eellison commented on #31863
Hi @narfanar, thank you for the succinct repro. I tried this on master and I didn't get an error. If you try on master and still see an error, please re-open this issue, thanks.

[2020-01-14 22:13] #31863 closed

[2020-01-14 22:14] zou3519 opened #32186 "Can't import torch on latest master"
## 🐛 Bug

[code]

## To Reproduce

Steps to reproduce the behavior:

1. check out pytorch at 4a26bb9b18
1. build pytorch
1. import torch

## Additional context

Deleting libmpichcxx.so from `miniconda3/lib/` and rebuilding pytorch seems to solve the problem, but I don't know where libmpichcxx.so came from at all

[2020-01-14 22:15] eellison commented on #31866
This looks like a fuser issue, since we do chunk optimizations. cc @mruberry

[2020-01-14 22:18] tarungog opened #32188 "creating tensors and moving them to cuda in subprocess fails / hangs forever"
## 🐛 Bug

I am trying to create tensors in subprocesses and move them to cuda for an automated testing environment. There is no communication between these subprocesses so they're not trying to access the same tensors or anything. As soon as each subprocess tries to move the model it has created to CUDA (via `model.to(torch.device('cuda'))`)  the process freezes and execution hangs. NVIDIA-SMI sho

[2020-01-14 22:21] z-a-f opened #32189 "Need unittests for the quantization save_state/load_state"
Need to make sure the loading/saving the states is checked for `rnn.py`, `linear.py`, `conv.py`, etc.

TODO: Write unittests for quantized save/load state

cc @jerryzh168 @jianyuh @dzhulgakov @raghuramank100 @jamesr66a

[2020-01-14 22:46] ProKil commented on #30525
I can reproduce this issue on Safari, but not on Chrome. On Safari, the error message says "path /data/index.js not found, sending 404". If you encounter the same problem, you can try different browsers.

[2020-01-14 22:50] tayo opened #32192 "Very Slow moving model to device with model.to(device)"
This is in a new python3 venv with packages installed using pip on 2020 Jan-13, so binaries should be fresh.

My program spends upward of 60 minutes (and counting) for my model:

The model is large and there are 16 GPUs, but the latency still seems incorrect.

My environment:
PyTorch version: 1.0.0
Is debug build: No
CUDA used to build PyTorch: 9.0.176

OS: Ubuntu 18.04.3 LTS
GCC version: (Ubuntu

[2020-01-14 23:02] ngimel opened #32193 "Size checks in recurrent cells should be moved from python to c++ implementations"
According to @slayton58 commenting out size checks here https://github.com/pytorch/pytorch/blob/ecc349717261185c61110c38c83dff00edceaade/torch/nn/modules/rnn.py#L935-L940 saves ~20 us, hopefully moving them to c++ should result in approximately the same savings.

cc @VitalyFedyunin @ngimel @mruberry

[2020-01-14 23:08] albanD commented on #32005
Hi,

I think there are few different things in your question:

## Support autograd.grad with checkpoint.
This is not actually possible. When running `autograd.grad`, we need to know where the inputs are. But we don't know which inputs where used in the checkpoint (in particular for the inputs that are implicitly captured by your function). So we cannot do this discovery.
`autograd.backward()` is a

[2020-01-14 23:13] AmrMKayid commented on #32192
Did you check `torch.cuda.is_available()` in your code?
Also, did you try `my_model.cuda()` ?

[2020-01-14 23:18] #32139 closed

[2020-01-14 23:37] EphraimBane commented on #31686
I am actually having these problems as well, and these solutions are not working for me. Any suggestions? (Also, sorry for necropost.)

[2020-01-14 23:43] zou3519 opened #32196 "pytorch_linux_xenial_cuda10_1_cudnn7_py3_slow_test triggered on all PRs"
## 🐛 Bug

Slow tests should not be triggered on PRs

## To Reproduce

Steps to reproduce the behavior:

Open a new PR. Or see sample PR https://github.com/pytorch/pytorch/pull/32187

cc @ezyang @gchanan @zou3519

[2020-01-14 23:46] zou3519 commented on #32196
I think this is high-pri because it slows down developers who wait for builds to finish. Not sure how easy a fix is.

[2020-01-14 23:53] eellison commented on #31935
fuser error, cc @mruberry @jamesr66a

[2020-01-14 23:54] eellison commented on #31864
@driazati this is probably a dupe of another issue we had about named tuples across files. Resolving annotations by value will fix this.

[2020-01-14 23:57] peterjc123 commented on #31686
Would you please open a new issue with all the detailed information?

[2020-01-15 00:18] AbhishekShah212 opened #32199 "Torchscript fails to run after successful compilation"
## 🐛 Bug

The Torchscript engine in Pytorch compiles the model, but fails to run it due to a library error.

## To Reproduce

Steps to reproduce the behavior:

1. Run the below file
[code]
2. You will then get the following error:
[code]

## Expected behavior

I expect the model before compilation and after compilation via torchscript to output the same result (`tensor(1., grad_fn=<SubBackward0>)`

[2020-01-15 00:34] eellison commented on #32199
Hi @AbhishekShah212, thank you for opening a succinct repro. I tried your example on master and I didn't have any issues:

[code]

Could you try updating to a more recent version of pytorch ? I see that you're on `1.2` currently.

[2020-01-15 00:42] #28360 closed

[2020-01-15 01:37] finnyang commented on #20643
I get the same issue with torch.nn.Softmax(dim=1) too!

[2020-01-15 02:00] dongxiao92 commented on #32083
@ptrblck I tried to [guard](https://github.com/pytorch/pytorch/blob/62b1a5f8466991b3e042345e1c786d520c3b9d91/aten/src/ATen/native/sparse/cuda/SparseCUDABlas.cu#L11-L49) the declaration here(https://github.com/pytorch/pytorch/blob/62b1a5f8466991b3e042345e1c786d520c3b9d91/aten/src/ATen/cuda/Exceptions.h#L38) but still got the same error.
@zasdfgbnm Currently I'm working with pytorch installed via co

[2020-01-15 03:28] ghltshubh commented on #18536
@ezyang How do you get the algo from autograd profiler? I tried it doesn't print the algorithm used.

[2020-01-15 04:30] akhti commented on #32157
That works, thanks a lot!

[2020-01-15 04:30] #32157 closed

[2020-01-15 05:15] AbhishekShah212 commented on #32199
I upgraded and this resolved the issue, thanks for the quick reply!

[2020-01-15 05:15] #32199 closed

[2020-01-15 05:25] standbyme commented on #16123
#29236 May be helpful.

[2020-01-15 05:42] stgzr commented on #7359
By the way, I wonder if there is a way to change indices at each iteration? Because I want to change samples' weights during training, so each iteration the sample weights is different. Does `batch_sampler` help?

[2020-01-15 06:02] ngimel commented on #31935
Can you please provide a script that would reproduce this error?

[2020-01-15 07:28] praveen-14 opened #32210 "dist.send/recv "IndexError: map::at" error when bool tensors are used with mpi backend"
## 🐛 Bug

I am building a model parallel MLP network and as a method to accelerate it, I am trying to minimize communication between nodes as much as possible. So I have the need to communicate a bool (instead of torch.int8 which works fine) tensor between nodes. For this I am using pytorch with ompi (with ucx and gdrcopy). But I get "IndexError: map::at" error when bool tensors are used. However

[2020-01-15 07:33] Jianhui-Li commented on #23509
Let me summarize what we plan to enhance the accumulation support for BF16 Vec256. We found that Resnet-50 didn’t converge to SOTA accuracy with BF16. We rooted cause the problem to SoftMax OP. Softmax does a sum of a large number of BF16 values, and the sum can deviate from the truth value by a lot. Due to BF16 only has 7bit mantissa, when the big value is 2**7 bigger than the small value, the sm

[2020-01-15 07:56] lasagnaphil commented on #28478
I had a similar issue, and figured out what went wrong.

The method Module::get_parameters() does not return every parameter in the module recursively, it only returns the parameters that the module directly owns. So if module A (with parameter P1) contains module B (with parameter P2), then `A.get_parameters()` returns `{P1}` instead of `{P1, P2}`. (Note that this isn't an issue in the Python fro

[2020-01-15 08:03] destinyzs commented on #18993
The same problem

[2020-01-15 08:12] pranavpandey2511 opened #32211 "PyTorch android not working with Progaurd and minified enabled in release mode android."
## 🐛 Bug

I trained a model on my desktop and then traced it and converted it using torch.jit.trace() function to use it on mobile phone(android). It is working fine when the app is in debug mode on android. But when I use Proguard and enable minified and create apk in release mode it is not working (means apk is not successfully made) and I get an error

## To Reproduce

Steps to reproduce the be

[2020-01-15 08:22] pranavpandey2511 opened #32212 "PyTorch android not working with Progaurd and minified enabled in release mode android."
##  Question/Help

I trained a model on my desktop and then traced it and converted it using torch.jit.trace() function to use it on mobile phone(android). It is working fine when the app is in debug mode on android. But when I use Proguard and enable minified and create apk in release mode it is not working (means apk is not successfully made) and I get an error

## To Reproduce

Steps to reprodu

[2020-01-15 08:36] enjoykcc456 opened #32214 "Pytorch compilation error"
Hi,

I tried to build a docker container with the following Dockerfile. But the compilation of pytorch failed with the following error. I succeed building the container with python 2.7. But, when i changed the Dockerfile content to using python 3.5, the error occurs. Does anyone know why this happen and what can i do to solve? Thanks in advance.

[code]

[code]

[2020-01-15 09:21] ATriantafyllopoulos commented on #32034
I now implemented the change and tried to send a PR. I don't have the rights to push to this repo though.

I was also wondering about the recommended policy for contributions. Should I push a change from an own fork, or directly push my branch to this repo? I couldn't find anything in the contribution guide here, and I'm a bit of a newbie in open-source contributing so I don't know what's standard

[2020-01-15 09:26] JayMThakkar commented on #707
Install by pytorch.org
Not use pipy website for install
Surely it will done

[2020-01-15 10:55] pietern commented on #32162
Can you tell where it hangs specifically? Also, when you run `nvidia-smi` do you see any of the GPUs sitting at 100% GPU utilization? This type of hang is always hard to debug, since these allreduce calls execute asynchronously. If there is a mismatch between sizes across processes for a single NCCL call, this likely causes a hang or other undefined behavior. For a simple ResNet50, this should be

[2020-01-15 10:57] pietern commented on #32018
Thanks for filing the issue. The fix looks sane to me. What do you think, @mrshenli @agolynski?

[2020-01-15 11:03] Nagael opened #32219 "[Feature proposal] improved algorithms for checkpointing"
## Feature

We would like to propose a replacement for `torch/utils/checkpointing.py` which provides more efficient checkpointing strategies. We already have a working prototype called `rotor`, and available [on our gitlab](https://gitlab.inria.fr/hiepacs/rotor). We are opening an issue to discuss the opportunity to include `rotor` into `torch/utils`, as well as the possible changes to the code th

[2020-01-15 11:04] pietern commented on #32019
It's likely flaky because the error handling for the libuv transport in Gloo is not as good as the tcp one.

[2020-01-15 11:07] zhonhel commented on #19106
So why the c++ api is slower than python api?
Can compile pytorch source code help?

Is here anyone can tell me briefly?
Thank you very much!

[2020-01-15 12:18] peterjc123 commented on #19106
So is the original issue solved? Is there a workground there? cc @ezyang

[2020-01-15 12:25] peterjc123 commented on #19106
In Python, when we initialize torch module we explicitly call `at::init_num_threads()` to initialize OMP/MKL. Could you add the same call in your C++ binary at the beginning and report results?

_Originally posted by @ilia-cher in https://github.com/pytorch/pytorch/issues/20156#issuecomment-490227743_

Would you please try this one first?

[2020-01-15 13:54] leela93 opened #32220 "Problem in KL Divergence"
Hallo Soumith, I am using KLDivLoss in Pytorch, as per the documentation of KLDivLoss. My 'x' value is prediction from network where the last layer is Sigmoid. And my 'y' value is a distribution, where value will be '1' or '0' .
 Now my doubt is should i sent direct 'x' or log'x' to KLDivLoss in pytorch, to obtain the correct value.

[2020-01-15 14:06] michielkallenberg opened #32221 "WeightedRandomSampler with replacement=False incredibly slow"
## 🐛 Bug

WeightedRandomSampler with replacement=False incredibly slow

## To Reproduce

Steps to reproduce the behavior:
``
import torch,torchvision
list(torch.utils.data.WeightedRandomSampler([0.1, 0.9, 0.4, 0.7, 3.0, 0.6]*10000000, 500, replacement=False))
``
## Expected behavior

Above code takes very long to run, whereas with replacement=True this is more or less instantaneous. Is this a know

[2020-01-15 14:15] xiang1107 commented on #23999
got the same error too

[2020-01-15 15:03] ezyang commented on #32196
Actually, this is intentional, because slow test isn't actually isn't that slow, compared to the rest of the test suite :) But it's easy to fix; just change the XImportant designation on slow to be just X.

[2020-01-15 15:08] ezyang commented on #19106
To my knowledge, neither of these issues have been fixed. The workaround is to manually enable OMP in your C++ program, similar to how we do it in Python.

[2020-01-15 15:26] zou3519 commented on #32196
Oh, I didn't realize this was intentional. (downgrading the priority...). I was confused because I haven't seen slow tests run on PRs previously

[2020-01-15 15:49] #32058 closed

[2020-01-15 16:09] hameerabbasi commented on #28361
So, think of `SubclassA.__add__`... It will follow the `__torch_function__` protocol. When it realises that there are classes other than superclasses of `SubclassA` and itself present in the list of arguments, it'll try `self.__torch_function__` and then `other.__torch_function_`. Since you mentioned `self` is `SubclassB`, it'll hit `SubclassB.__torch_function__`.

[2020-01-15 16:17] ezyang commented on #29548
@zdevito and I discussed an alternative model for fallthrough, that goes as follows. Imagine dispatch as a giant table, where one axis is "dispatch keys" and the other axis is "operators." Registration about dispatch involves "programming" this table. Per-operator dispatch specifies a single cell, while backend dispatch specifies behavior for an entire column (Zach thinks of registration as mutati

[2020-01-15 16:18] devadarsann opened #32227 "0 INTERNAL ASSERT FAILED at /pytorch/c10/util/intrusive_ptr.h:348, please report a bug to PyTorch."
I had tried to run below code but it throws below error

## Code example

#Import modules
import torch
#from scipy.io.wavfile import write

#set torchhub cache directory

torch.hub.set_dir('/home/lmdi/torchhub_cache/')
waveglow = torch.hub.load('nvidia/DeepLearningExamples:torchhub', 'nvidia_waveglow')

## System Info
PyTorch version: 1.3.1
Is debug build: No
CUDA used to build PyTorch: 10.1.243

[2020-01-15 16:41] izdeby commented on #32227
@devadarsann, can you, please, provide a code example that reproduces the issue?

[2020-01-15 16:41] vincentqb commented on #32005
Yes, it's on the wish list :)

[2020-01-15 16:45] izdeby commented on #32220
Please, use out the [forum](https://discuss.pytorch.org/) for questions as github issues are monitored for issues and feature requests only.

[2020-01-15 16:45] #32220 closed

[2020-01-15 16:51] izdeby commented on #32211
closing as a [duplicate](https://github.com/pytorch/pytorch/issues/32212).

[2020-01-15 16:51] #32211 closed

[2020-01-15 16:53] devadarsann commented on #32227
this is the code i had run.
`#Import modules
import torch
#from scipy.io.wavfile import write

#set torchhub cache directory

torch.hub.set_dir('/home/lmdi/torchhub_cache/')
waveglow = torch.hub.load('nvidia/DeepLearningExamples:torchhub', 'nvidia_waveglow')`

[2020-01-15 17:11] zhaojuanmao commented on #31413
#32226 is new PR for the fix

[2020-01-15 17:20] izdeby commented on #32045
FYI, @albanD as a forum responser.

[2020-01-15 17:23] izdeby commented on #32081
@xsacha, can you provide some repro code, please?

[2020-01-15 17:23] izdeby commented on #32085
Please, use out the [forum](https://discuss.pytorch.org/) for questions as github issues are monitored for issues and feature requests only.

[2020-01-15 17:23] #32085 closed

[2020-01-15 17:25] izdeby commented on #32036
@tomhosking, can you, please, provide code that reproduces the issue?

[2020-01-15 17:42] charleshofer commented on #32132
This isn't just a ppc64le thing with `test_mv`. I'm going to go check this on the cholesky test too. I can get this to fail on x86 as well with different settings on `torch.manual_seed`. The state of the random number generator might just be different on power. Here's what I did to test it out:

Modify the test case to run the test with a few different seeds:
[code]
Then I run just that test case

[2020-01-15 18:16] lanpa commented on #30459
@yangsenius I think the problem is the `None` in https://github.com/HRNet/Higher-HRNet-Human-Pose-Estimation/blob/e4b52e078b0e5a7470e023ca79c429686ba40cf8/lib/models/pose_higher_hrnet.py#L410 This breaks the JIT.

[2020-01-15 18:22] HolyB opened #32230 "Why my code runs well on CPU and loss keeps decreasing however the loss doesn't change when run on GPU"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

[2020-01-15 18:42] charleshofer commented on #32132
Just confirmed that `test_cholesky_solve_batched_cuda_float64` also fails on x86 if I set the seed with `torch.manual_seed`

[2020-01-15 18:46] xta0 commented on #32040
@mjjimenez  As discussed in the forum,  this is a known issue, as NNPACK doesn’t support the iOS simulator architecture - https://github.com/Maratyszcza/NNPACK. We've actively working on enabling XNNPACK which will replace NNPACK in the future.

[2020-01-15 18:52] dylanbespalko commented on #26691
Hello,

Xilinx recently released Vitis High Level Synthesis which supports FPGA programming using C++ and Verilog. I have added a proof-of-concept with relevant links [here](https://gitlab.com/pytorch-complex/vitis_kernels).

I am hoping to work with both:
1. PyTorch to enable OpenCL, FPGA support.
2. Xilinx [Vitis Libraries](https://github.com/Xilinx/Vitis_Libraries/) to enable complex number sup

[2020-01-15 19:01] joabim commented on #27551
Same as @secretsh - I'm experiencing this when using `torch.onnx.export` on 1.3.1.

[2020-01-15 19:04] zhaojuanmao opened #32231 "Abort all nccl communicators explicitly when destroy process group"
right now, process group holds a vector of share_ptrs of nccl communicators, when process group is destroyed, the nccl communicators may be still held by pending/stuck processGroup::work.

Ideally all nccl communicators should be aborted explicitly when process group is destroyed, otherwise pending nccl kernels may block any CUDA op to run even after destroying process group, this is not good for

[2020-01-15 19:16] spandantiwari commented on #32110
@kaishian - I am not able to make much out of the TensorRT assertion. Do you see anything wrong with the exported model?

[2020-01-15 19:21] spandantiwari commented on #32099
@TheArheus - do you see anything wrong with the ONNX model? I ask because this seems to be more of an issue for onnx2keras tool, so I would suggest you open this issue there. If there's indeed an issue with the ONNX model, please feel free to re-open this issue.

[2020-01-15 19:21] #32099 closed

[2020-01-15 19:25] mrshenli commented on #31743
It should be fine I think. Because `rref.remote()` would return a special object X, which only has an overridden  `__getattr__` method. So when the app calls `X.call_remote_value(...)`, `X.__getattr__` will take the function name `"call_remote_value"` and pass it our own `call_remote_value` function as an arg. On the remote side, our own `call_remote_value` would invoke the user function on RRef b

[2020-01-15 19:34] supriyar commented on #32212
@IvanKobzarev can you help take a look at this?

[2020-01-15 19:35] kaishian commented on #32110
@spandantiwari Thank you for your attention!

This is the only warning I got when calling torch.onnx.export()
![image](https://user-images.githubusercontent.com/22209240/72464473-4bc42780-3810-11ea-9918-bb6255a5b515.png)

Here are the details when exporting the model to onnx:
[log file](https://drive.google.com/open?id=106S6UvX7pC2PZvtU07RZd7pY2rlxVqBt)

This is the onnx model file:
[model file](h

[2020-01-15 19:39] spandantiwari commented on #32110
That warning is mostly benign. Could you try exporting the model to latest Opset 11. You can do that by adding an argument in the export API call as follows:
`torch.onnx.export(......., opset_version=11)`

[2020-01-15 19:43] lara-hdr commented on #32110
@kaishian , there are other similar open issues.
It seems like it is a problem with Resize in tensorrt.
https://github.com/onnx/onnx/issues/2524#issuecomment-572832327
https://github.com/NVIDIA/TensorRT/issues/284#issuecomment-573301643

[2020-01-15 19:43] yf225 opened #32233 "Passing a float variable to torch::tensor constructor doesn't produce a tensor with default dtype"
## 🐛 Bug

In Python, we have the following behavior:
[code]

## To Reproduce

Steps to reproduce the behavior:

1.
1.
1.

## Expected behavior

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out the checklist below manually).

You can get the script and run it wi

[2020-01-15 19:44] #32233 closed

[2020-01-15 19:45] yf225 opened #32234 "Passing a float variable to torch::tensor constructor doesn't produce a tensor with default dtype"
## 🐛 Bug

In Python, we have the following behavior:
[code]

However, currently in C++, we have the following behavior:
[code]

We should fix the C++ API behavior (by returning a double tensor instead of a float tensor in the above case), to match the Python API.

cc @yf225

[2020-01-15 19:48] #31287 closed

[2020-01-15 20:13] yf225 opened #32237 "PyTorch C++ API docs only tracks master branch"
## 📚 Documentation

Currently, PyTorch C++ API docs (https://pytorch.org/cppdocs/) only tracks the master branch. Ideally we should add PyTorch version selector into it, similar to the Python API docs (https://pytorch.org/docs/stable/index.html).

[2020-01-15 20:35] soumith commented on #32192
this seems like a PTX to SASS compilation at startup (if you run `perf top` on your machine while those 60 mins are being spent, you'll see some nv* functions pop-up)

@ptrblck @csarofeen can you please confirm that these Tesla V100-SXM3-32GB GPUs are arch 7.0 or arch 7.5 compatible? I cant think of any other reason why this slowdown would occur

[2020-01-15 20:43] seemethere opened #32240 "Nightly install broken on MacOS, Python 3.8"
## 🐛 Bug

Installation is currently broken for MacOS for users on Python 3.8

## To Reproduce

Steps to reproduce the behavior:

On MacOS:
[code]

Issue persists for the nightly channel as well:
[code]

## Expected behavior

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)

[2020-01-15 20:49] MarisaKirisame commented on #18626
Is anyone working on this? I dont think it is very hard, one can add a line in CUDACachingAllocator's malloc, saying after the allocation is done, if it exceed the memory, immediately free it and error, or something like that.

[2020-01-15 20:50] albanD commented on #32045
After more investigation, the problem is that you are in a python world and initialize the autograd engine using the cpp api while holding the GIL.
Possible workaround are:
- initialize the engine from python beforehand by running `x.sum().backward()` for example **before** you use your cpp version
- release the gil in your function before calling the backward function with `pybind11::gil_scoped_r

[2020-01-15 20:58] #32120 closed

[2020-01-15 21:00] iseeyuan commented on #32120
With #32170 and #32121 this issue should be resolved.

[2020-01-15 21:03] smessmer commented on #29548
side note: the code you posted is unrelated to your argument, boxed vs unboxed in this case just means boxed vs unboxed, the boxed here does not mean "boxed fallback".

[2020-01-15 21:30] xsacha commented on #32081
Seems to happen while generating multiple models at the same time. Some race condition. Not sure how to give a simple or fast repro.

[2020-01-15 21:40] vadimkantorov commented on #31829
One intermediate (but practical) way could be implementing a hack like `F.zero_nan_grad(x)` that will inplace zero out nan gradients that are coming from x (while proper fix is being deliberated). E.g. torch.where/indexing used to have this problem when implementing cross-entropy or entropy (it would have nan gradient).

[2020-01-15 21:47] jatentaki opened #32245 "`torch.isfinite` not supported in TorchScript"
## 🐛 Bug

I am not sure if this is already tracked somewhere but `torch.isfinite` doesn't seem to have properly annotated output for TorchScript and fails when used along with `torch.all`.

## To Reproduce
The following fails
[code]
with
[code]

whereas a very similar
[code]
succeeds.

## Expected behavior

Correct JIT compilation.
## Environment

PyTorch version: 1.3.1
Is debug build: No
CUDA use

[2020-01-15 21:48] msieb1 commented on #31935
I was able to track the error down to torch.multinomial not support torch.float16 for PyTorch 1.1.0. Running float16 through torch.multinomial via torch.jit.trace produced the misaligned error.

[2020-01-15 21:49] ezyang commented on #29548
Proposed amendment to the plan above: **fallthrough never disables the dispatch key that was fallen through**.

Reasoning: I was thinking carefully about what I wanted to happen for compound operators (which are the first use case of fallthrough) and also how I would go about implementing fallthrough efficiently, and there are two reasons why you shouldn't disable keys:

1. You DON'T actually want

[2020-01-15 22:07] ptrblck commented on #32192
The Tesla V100-SXM3-32GB is arch 7.0.

@tayo I assume the `model.to('cuda:0')` is the first CUDA call in your script?
I try to grab a similar machine and try to reproduce this startup issue.

Also, do you need to use an older PyTorch version (`1.3.1` is the current stable release, while you seem to use `1.0.0`)?

[2020-01-15 22:13] jatentaki opened #32246 "`tensor[index_tensor] = value` fails in TorchScript"
## 🐛 Bug

When assigning like `tensor[index_tensor] = value` (where value is a Python scalar) in TorchScript the call fails as below.

## To Reproduce
[code]

which fails with

[code]

I believe that the reason is that the call gets incorrectly desugared to `tensor.index_put_(index_tensor, value)` instead of `tensor.index_put_((index_tensor, ), torch.tensor(value))`, resulting in confusing error m

[2020-01-15 22:33] zasdfgbnm commented on #32083
@dongxiao92 It's better to uninstall it via conda. But usually, if you don't do so, it still works.

[2020-01-15 23:03] driazati commented on #32246
Closing since this is a dupe of #27493, but you should be able to work around it in your code by wrapping `-1` in a tensor:

[code]

[2020-01-15 23:03] #32246 closed

[2020-01-15 23:12] driazati commented on #32245
This should be fixed on master (your repro runs fine for me) with #28918, could you try the nightly version of PyTorch or wait a bit and try 1.4 when it comes out? If it still doesn't work, feel free to re-open this issue.

We're aware of a few ops that have problems like this, #30786 has the whole list

[2020-01-15 23:12] #32245 closed

[2020-01-15 23:23] tayo commented on #32192
Thanks for taking a look @ptrblck .

The 1.0.0 is an artifact -- that was just the last version I tried.  I tried all versions in {1.3.1, 1.3.0, 1.2.0, 1.1.0, 1.0.0}.  All seem to exhibit this behavior.

It's not quite the first cuda call.  Here is more skeleton of my structure:

[2020-01-16 00:17] xush6528 commented on #31325
#31893 is there.

But the shutdown sequence is

`_wait_all_workers()` to clear all applicaiton level RPCs
`_delete_all_user_rrefs()` to send system delete all user rrefs messages.
`rpc.join()` to clear all system signal messages.

[2020-01-16 00:25] cndn opened #32253 "[TorchScript] Device comparison implemented in eq but not ne"
## 🐛 Bug

In a scripted module "a.device != b.device" doesn't work because of no matching signatures, while "not a.device == b.device" works.

## To Reproduce

Minimal example:
`

import torch
from torch import nn
class MyModel(nn.Module):
    def __init__(self):
        super().__init__()
    def forward(self):
        a = torch.zeros(1)
        if not a.device != a.device:
            return tor

[2020-01-16 00:40] yf225 opened #32255 "[PLEASE IGNORE] torch::tensor dtype change from 1.3 to 1.4"
| Example | 1.3 dtype | 1.4 dtype |
| - | - | - |
| {1.0, 2.0} | double     | default |
| {1.0f, 2.0f} | float  | float (this is a bug, should've been `default`) |
| {1, 2}          | int         | long |
| {1.0, 2.0, 3.0}, TensorOptions | default | default |
| {1.0f, 2.0f, 3.0f}, TensorOptions | default | float (this is a bug, should've been `default`) |
| {1, 2, 3}, TensorOptions | default | lon

[2020-01-16 01:12] agadetsky commented on #26411
@pandeykartikey cummax is merged now (https://github.com/pytorch/pytorch/pull/30881), is it possible to implement logcumsumexp for you using cummax?

[2020-01-16 01:12] ptrblck commented on #32192
Thanks for the information!
I've tried to following dummy code:
[code]

with the following binaries:

| pytorch | cudatoolkit |
| ---------- | -------------- |
| 1.1.0 | 9.0 |
| 1.3.1 | 9.2 |
| 1.4.0 | 9.2 |
| 1.4.0 | 10.1|

On a server with 16x Tesla V100-SXM3 32GB as well as 8x Tesla V100-SXM2 32GB and cannot reproduce the issue.

Are you using some custom extensions, which might miss the arch f

[2020-01-16 01:33] zhaojuanmao commented on #28923
it was done in #29579

[2020-01-16 01:33] #28923 closed

[2020-01-16 01:36] zhonhel commented on #19106
I yesterday converted a model using `torch.jit.trace`  function.
The inference speed with Pytorch CPU python on Linux **is almost the same as** the speed with Pytorch CPU C++ on Windows.
My environment is pytorch==1.3.1 (py3.7_cuda10.1.243_cudnn7.6.3_0) on Linux, libtorch-win-shared-with-deps-1.3.1.zip on Windows

[2020-01-16 02:05] hyeonjames commented on #32162
@pietern Yes, all of GPUs sat at 100% GPU utilization.
all processes stopped at `inputs = inputs.to(device)` at the second iteration.

[2020-01-16 02:13] orz-orz-orz-orz commented on #32036
I encounter the same error with the nn.Embedding  wrapped in nn.DataParallel when I set max_norm=1.0. Maybe the weight norm is broken.

[2020-01-16 02:16] jerryzh168 opened #32262 "models after prepare/prepare_qat contains `qconfig` which prevents pickling"
We should remove qconfig after module swapping

[2020-01-16 02:56] chinhmt commented on #32214
I got error that occurred in build_caffe2, but that's only.
Anyone can help me get more details to debug in these cases?
`|
| [286/2234] Building CXX object third_party/gloo/gloo/CMakeFiles/gloo.dir/transport/tcp/pair.cc.o
| [287/2234] Generating src/x86_64-fma/2d-fourier-16x16.py.o
| ninja: build stopped: subcommand failed.
|
| [287/2234] Generating src/x86_64-fma/2d-fourier-16x16.py.o
| ninja: b

[2020-01-16 03:01] chinhmt commented on #32214
I got a similar error that occurred in build_caffe2, but that's only.
Anyone can help me get more details to debug in these cases?

Thank you in advance,

[2020-01-16 03:18] Coldog2333 opened #32264 "torch.nn.functional.threshold not work with LongTensor"
## 🐛 Bug

**torch.nn.functional.threshold** and **torch.nn.Threshold** can work on **Tensor** but not work correctly for **LongTensor** variables.

## To Reproduce

Steps to reproduce the behavior:

Follow the following steps or just run the code below.
1. apply `F.threshold` on **LongTensor**
2. apply `F.threshold` on **Tensor**
3. Compare the results of them
[code]

## Expected behavior
I want t

[2020-01-16 03:22] cyy5358 opened #32265 "Segmentation fault (core dumped) with gradient updating."
## 🐛 Bug
When I updating gradient using
[code]
A segmentation fault arises randomly. A input causing this crash last time may not causing crash this time.
And after the program exits, gpu memory aren't freed as usual.
I debugged it with gdb, it seems that pytorch is to blame.

## To Reproduce

Actually, I run code from [nvidia/step](https://github.com/NVlabs/STEP) getting this bugs. You may want t

[2020-01-16 03:40] #31132 closed

[2020-01-16 03:54] mathpopo commented on #31941
@zou3519 what i give is the "self-contained script" ?if not ,could you give me some directions?

[2020-01-16 03:57] xush6528 commented on #32066
I resolved this by getting installing a new linux image. I guess it's because I used to install compiler tool chain in a different and corrupt some search paths.

[2020-01-16 03:57] #32066 closed

[2020-01-16 04:07] schyun9212 opened #32267 "the results when using opset10 and when using opset11 are different."
## 🐛 Bug

I am trying to export maskrcnn-benmark model to onnx. While I was debugging as my model failed to load with ShapeInferenceError, changing the opset version to get rid of following warning had different results.(10 -> 11).

[code]

## To Reproduce
[code]
I tried using demo image in maskrcnn-benchmark. The results are
[code]

## Environment

PyTorch version: 1.3.1
Is debug build: No
CUDA u

[2020-01-16 04:42] cyy5358 commented on #32265
I find pytorch1.4 released.
Let me have a try.

[2020-01-16 04:45] mohitranawat opened #32268 "Numpy array functionality in torchscript."
I am quantizing one of my model in Linux Machine.
I am using jit to trace and save the model.
One of my my funxtion forward path look like this -
`
 def forward(self, image):
        image_shape = image.shape[2:]
        image_shape = np.array(image_shape)
        image_shapes = [(image_shape + 2 ** x - 1) // (2 ** x) for x in self.pyramid_levels]

        return image_shapes`

I am saving my mode

[2020-01-16 05:02] hyeonjames commented on #32162
Hi @pietern, Yes, All of GPUs are sitting at 100% GPU utilization and all of processes stopped at `labels = labels.to(device)` or `inputs = inputs.to(device)`.

[2020-01-16 05:11] neuzxy opened #32269 "Support strategy to train large model that exceeds GPU mem and DRAM mem"
## 🚀 Feature
Support strategy to train large model that exceeds GPU mem and DRAM mem.

## Motivation
Models [e.g. **Factorization Machines**(1) or **DeepFM**(2)] in **recommendation task**s are usually very large , **billions of features**(including user id and product id) are used.

Training data in recommendation task is very sparse and the large embedding table consumes large memory, the model

[2020-01-16 05:15] david-alexander-white opened #32270 "'cannot initialize type "WorkerId"' crashing pytest in 1.4.0"
## 🐛 Bug

After the release today, my tests (pytest with pytest-cov enabled) are now failing with

[code]

on linux. I’m not using any kind of RPC, and the failure occurs before I actually run any tests. i switched back to 1.3.1 and the problem went away.

was requested to submit an issue at https://discuss.pytorch.org/t/cannot-initialize-type-workerid-in-1-4-0/66805, don't have time right now to

[2020-01-16 06:05] gengyanlei opened #32273 "pytorch sets the usage of one graphics card to 60% and the usage of the other graphics card to 40%."
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

[2020-01-16 06:05] gengyanlei commented on #32273
Excuse me, how does it work?

[2020-01-16 06:08] dongxiao92 commented on #32083
@zasdfgbnm Hi, I tried uninstall pytorch via conda and re-build pytorch, but still got the same error.

[2020-01-16 06:43] kaishian commented on #32110
@spandantiwari The ONNX model I created last time is under opset 11 and the problem seems to exist.

@lara-hdr Thank you for your reminder, I will take a closely look.

[2020-01-16 07:32] svenstaro opened #32277 "pytorch 1.4.0 doesn't compile"
## 🐛 Bug

pytorch 1.4.0 doesn't compile. During compiling, tons of errors like

[code]
appear.

Full log: [build.txt.zip](https://github.com/pytorch/pytorch/files/4069839/build.txt.zip)

## To Reproduce

Steps to reproduce the behavior:

1. Get release 1.4.0
1. cd into the extracted dir
1. git submodule update --init --recursive
1. Set these:
[code]
5. python setup.py build

## Expected behavior

[2020-01-16 08:06] rexxarM commented on #29893
70.27 MB      79.9%	13628	 	                       torch::jit::script::Module::forward(std::__1::vector<c10::IValue, std::__1::allocator<c10::IValue> >)
  70.27 MB      79.9%	13628	 	                        torch::jit::script::Method::operator()(std::__1::vector<c10::IValue, std::__1::allocator<c10::IValue> >, std::__1::unordered_map<std::__1::basic_string<char, std::__1::char_traits<char>, std::_

[2020-01-16 08:56] ThyrixYang opened #32278 "kl_div formula in documentation"
## 📚 Documentation

I found that neither https://pytorch.org/docs/master/nn.functional.html#torch.nn.functional.kl_div

nor https://pytorch.org/docs/master/nn.html#torch.nn.KLDivLoss provide a formula of kl divergence to indicate what is the relationship of input, target and P, Q in wikipedia reference.

The kl_div(input, target) is actually D(target, input) as mentioned in https://discuss.pytorch

[2020-01-16 08:56] alohali commented on #29724
hi  @Merical have not solved it.. waiting for update

[2020-01-16 08:58] alohali commented on #29724
hi @lara-hdr , are you still woking on it? Have you figure out some way to solve it ?or in plan ?
@supriyar

[2020-01-16 09:39] abdjava opened #32279 "Hi i found a typo in the Documentation"
## 📚 Documentation

Hi so i was looking at the pytorch Documentation for torchvision.transforms at https://pytorch.org/docs/stable/torchvision/transforms.html
I found this typo .
![image](https://user-images.githubusercontent.com/44923912/72512376-e1c57580-3843-11ea-897c-bd64eb7b5998.png)

Looking at the highlighted part of the test it states
input[channel] = (input[channel] - mean[channel]) / std

[2020-01-16 09:57] yoks opened #32280 "ONNX Convert failed for types with scalar > 7"
## 🐛 Bug

https://github.com/pytorch/pytorch/blob/da7468853ae322252270bbb58032668bd21b7457/c10/core/ScalarType.h

Relevant line https://github.com/pytorch/pytorch/blob/da7468853ae322252270bbb58032668bd21b7457/c10/core/ScalarType.h#L15

It seems what
https://github.com/pytorch/pytorch/blob/7df5dc2775e8baea4c64efafcc9efbece1e79ecc/torch/onnx/symbolic_helper.py#L508

Has ComplexHalf omitted, which in

[2020-01-16 09:59] yoks commented on #32280
Related issue
https://github.com/pytorch/pytorch/issues/25838

[2020-01-16 10:53] rtrobin opened #32282 "How to convert layer_norm layer to ONNX?"
I’m trying to convert my model to ONNX format for further deployment in TensorRT. Here is a sample code to illustrate my problem in layer_norm here.

[code]

It could only work when the parameter of layer_norm is constant number. If not, the following error will occur.

[code]

I have few code blocks in my model have layer_norm op. It would turn into some ugly code if I explicitly mark all paramet

[2020-01-16 11:09] yoks commented on #32280
Well, technically it will not fail for types up to 10, but it will get wrong type from list because in accessed by index.

[2020-01-16 11:27] chessychev commented on #15609
i do not have 'remote libraries' under my environment and am not sure which other folder to map.
could you please give another hint as to which folder to map and to where exactly?

i managed to find one that might be related:
/Applications/PyCharm with Anaconda plugin .app/Contents/plugins/python/helpers/typeshed
is that it? even if so, i'm not sure where to map it to, because there server's folde

[2020-01-16 11:36] Coderx7 opened #32283 "Enable MKLDNN support on Windows packages by default as well"
## 🚀 Feature
The MKLDNN is enabled by default for linux based packages (both pip and conda). However, on windows it is disabled by default and we are instructed to compile it from source code.
Is there any technical reason behind  this, that made it disabled by default under windows and not linux? or is it just an unintentional bug?

## Motivation

MKLDNN has a profound affect on performance speci

[2020-01-16 11:36] m-bula opened #32284 "Memory leak in MaxPool2d"
## 🐛 Bug

It seems like there is very small memory leak during forward and backward propagation through network that can lead to memory overflow after many hours of training.

I stumbled upon this bug during A3C reinforcement training with multiple agents(processes) and reproduced it in a simple case in code underneath.

## To Reproduce

1.Run code below and observe memory consumption of process.

[2020-01-16 12:06] ahmed915 opened #32285 "BUG::::: SARIMAX Forecasting for Univariate Time Series !!! ValueError: Invalid value for design matrix. Requires a 2- or 3-dimensional array, got 1 dimensions"
Dear,
I am new to ARIMA model time series forecast, when I implement SARIMA model to forecast I received an error message

[code]

The code that i implement is:

[code]

[2020-01-16 12:09] sergicastellasape commented on #16542
Hi! I see this issue is still open, is there any update on it? I see that the new 1.4.0 update still contains the same 'problematic' line of code and I've encountered this same bug recently and the only workaround I could manage to make work was the hotfix @ptrblck posted on the PyTorch forum; the fix here didn't work for me!

Thanks

[2020-01-16 12:37] h6197627 opened #32286 "Use system NCCL library in PyTorch"
## 🐛 Bug

In **setup.py** in **Environment variables for feature toggles:** section

however, in reality building PyTorch master without providing **USE_SYSTEM_NCCL** flag will build bundled version. To use system NCCL user should explicitly provide **USE_SYSTEM_NCCL=1**.
It might be a bug in configuration process which is unable to set system NCCL properly without **USE_SYSTEM_NCCL** flag or misl

[2020-01-16 13:21] peterjc123 commented on #32283
Duplicate of #31355.

[2020-01-16 13:21] #32283 closed

[2020-01-16 13:24] peterjc123 opened #32287 "Python 3.8 Windows JIT test failure"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

Error text:
[code]
See https://app.circleci.com/jobs/github/pytorch/pytorch/4269821.

## Expected behavior

Test pass

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out the checklist below manually).

[2020-01-16 13:26] peterjc123 commented on #32287
Since it doesn't affect correctness, I'll skip this test for Windows and Python 3.8.

[2020-01-16 13:41] cossio opened #32288 "Allow range in dim argument of reducing operations such as sum"
I am trying to sum a tensor over its first n axes, where n is a parameter I don’t know in advance. Why something like the following doesn’t work?

[code]

This gives an error:

[code]

However if I instantiate the range:

[code]

Then it works. But this seems inefficient for large `n`.

So please allow `range` arguments to `dim` parameter of reducing operations such as `sum`.

[2020-01-16 14:31] zif520 commented on #28705
Any plan to support that?

[2020-01-16 14:51] peterjc123 opened #32289 "Python 3.8 serialization error"
## 🐛 Bug

Error text:
[code]

## To Reproduce

Steps to reproduce the behavior:

1. python test_torch.py

## Expected behavior

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out the checklist below manually).

You can get the script and run it with:
[code]

 - P

[2020-01-16 14:56] ezyang commented on #28361
One presentational note, we should probably call the code that `torch_function_dispatch` something distinct from `__torch_function__`, since it is not the same code at all. I'll call this the "Python dispatcher" for now.

Let me see if I understand what you're saying correctly. Your proposal says:

1. Whenever a user calls a method on a Tensor class, we always transfer control to the Python dispat

[2020-01-16 15:11] peterjc123 commented on #32289
I've skipped them in https://github.com/pytorch/pytorch/pull/32215.

[2020-01-16 15:13] #30831 closed

[2020-01-16 15:16] jeongukjae opened #32291 "PyTorch-1.4.0 doesn't encode numpy dependency"
## 🐛 Bug

[code]

## To Reproduce

Steps to reproduce the behavior:

1. Install torch-1.4.0
1. Run below code snippet

[code]

## Expected behavior

That code should print logs like below.

[code]

## Environment

 - PyTorch Version (e.g., 1.0): 1.4.0
 - OS (e.g., Linux): Mac OSX 10.15.2
 - How you installed PyTorch (`conda`, `pip`, source): pip
 - Build command you used (if compiling from source)

[2020-01-16 15:25] cossio commented on #2129
I think this issue should be reopened, since the PR was not merged in the end and the truncated normal is still not available in PyTorch. @soumith

[2020-01-16 15:39] cossio opened #32293 "Truncated normal distribution"
## 🚀 Feature

Implement sampler for truncated normal distribution.

## Motivation

A truncated normal distribution is useful as initializer of weights or when sampling from ReLU potentials. This has been requested before (https://github.com/pytorch/pytorch/issues/2129, https://discuss.pytorch.org/t/implementing-truncated-normal-initializer/4778/15, etc.).

Many packages have this: [scipy](https://

[2020-01-16 16:39] soumith commented on #32277
cc: @smessmer @ezyang

[2020-01-16 16:43] vainaijr opened #32296 "floating precision chaining lr_schedulers"
I get 0.0000000000000000001 added for no reason

![Screenshot (225)](https://user-images.githubusercontent.com/43755000/72544319-7b376a80-38ca-11ea-8ab2-e7773f66c46d.png)

[2020-01-16 16:43] #32296 closed

[2020-01-16 16:55] SsnL commented on #32278
<img width="799" alt="Screenshot 2020-01-16 11 54 33" src="https://user-images.githubusercontent.com/5674597/72545407-f9f2c000-3856-11ea-8dd2-121ed1869631.png">
The link you refer to does have a formula. Maybe it is not clear enough. How would you suggest improving it?

[2020-01-16 16:59] ParticularlyPythonicBS commented on #16542
Hi! Yeah the issue still doesn't seem to have a complete fix.
The most seemless way I found to fix the problem is to trap the packing code with cpu as default like so:
[code]

[2020-01-16 17:00] ezyang commented on #32277
Does it get fixed if you cherry-pick https://github.com/pytorch/pytorch/pull/30333 ? (I'm not sure but you might also need https://github.com/pytorch/pytorch/pull/30332 , not sure.) I verified the patch applies cleanly but haven't tried compiling with it.

[2020-01-16 17:01] ZachNew commented on #11612
I too support this request. Is there any news on when it might be addressed?

[2020-01-16 17:19] mberr commented on #28119
As it is a sum of power, what about `powersum`? cf. also e.g. http://mathworld.wolfram.com/PowerSum.html

[2020-01-16 17:22] rtaori opened #32299 "Pytorch 1.4.0 deadlock in multiprocessing"
## 🐛 Bug

PyTorch 1.4.0 deadlocks when using queues and events with multiprocessing.

## To Reproduce
Minimal example:
[code]
Output:
[code]
And then it hangs

## Expected behavior
Using python multiprocessing API does not have this bug
[code]
Output:
[code]
## Environment
PyTorch version: 1.4.0
Is debug build: No
CUDA used to build PyTorch: 10.1

OS: Ubuntu 18.04.3 LTS
GCC version: (Ubuntu 7.4.0-

[2020-01-16 17:35] mruberry commented on #31935
Can you produce a small, self-contained python snippet that we can run to observe the same error you're seeing?

[2020-01-16 17:38] SamPruden opened #32300 "[jit] Various problems calling `@staticmethod`s in 1.4.0"
## 🐛 Bug

Calling `@staticmethod` on a plain class from a `@torch.jit.script` annotated function fails to compile. I suspect that I'm seeing two separate bugs, so I could split this report up and file two issues if that's better.

## To Reproduce

[code]

Fails to compile, giving:

[code]

Splitting this up over two classes gives the same result:

[code]

[code]

My hypothesis in the second exampl

[2020-01-16 17:51] tayo commented on #32192
Good idea @ptrblck .  The problem persists for me with your example.

I've annotated your example with timing instrumentation.  Here is the code:

`import torch
import torch.nn as nn
import timeit

print("Beginning..")

t0 = timeit.default_timer()
if torch.cuda.is_available():
    torch.cuda.manual_seed(2809)
    torch.backends.cudnn.deterministic = True
    device = torch.device('cuda:0')
    ngp

[2020-01-16 17:55] mruberry commented on #32221
Thanks for reporting this issue! I'm not sure if it was previously known, although it is not especially surprising since replacement=False is a stronger requirement than replacement=True, and it could be challenging to parallelize. If you're interested in improving the replacement=False algorithm it would be interesting to review a PR!

If you're depending on replacement=False to be faster, then m

[2020-01-16 17:57] mathisgerdes opened #32304 "Second derivative fails if first derivative happens to be constant"
The derivative of a linear function is constant, and so the second derivative is zero.
Trying to replicate these derivatives in pytorch fails, because the first gradient does not get a `grad_fn`.

This will make a straight forward implementation of the second derivative fail for linear functions, while working fine for non-linear functions.

## To Reproduce

Here is a basic implementation of the s

[2020-01-16 17:58] tayo commented on #32192
No custom extensions are used.  My setup is essentially:
[code]

[2020-01-16 18:14] SsnL opened #32305 "histc should (optionally) return a long tensor"
It always returns integral values. Similar op `bincount` also returns a long tensor (when no `weights` is given).

[2020-01-16 18:15] SsnL opened #32306 "[FR] bincount along arbitrary dimension"
It currently only accepts a 1D tensor. We should make it work along any dimension.

[2020-01-16 18:17] ngimel commented on #32192
Ok, so @ptrblck's example runs reasonably fast, which indicates that there is something special about your model, @tayo. Can you please provide a minimum example actually demonstrating slow-down? Also, as @soumith  was asking, what is the output of `perf top` during the slow `to` call?

[2020-01-16 18:27] SsnL commented on #32306
here is my workaround for now, in case it is helpful to others
[code]

[2020-01-16 18:33] SplitInfinity commented on #24697
Maybe I don't have the necessary permissions or something but the link to assign to myself is not there for me. Could someone assign this to me please?

[2020-01-16 18:49] supriyar commented on #29724
We currently have a flow to convert quantized operators from PyTorch to Caffe2 through ONNX. However this uses a caffe2 specific representation in ONNX as defined in https://github.com/pytorch/pytorch/blob/master/torch/onnx/symbolic_caffe2.py

The regular pytorch -> onnx -> caffe2 conversion should work if the operators are supported. You will need to use `operator_export_type=torch.onnx.OperatorE

[2020-01-16 18:50] smessmer commented on #32277
if you patch #30333 you do also need #30332 or PyTorch could run into race conditions.

[2020-01-16 18:55] tayo commented on #32192
@ngimel  -- 5 seconds is a surprising amount of time to PCIe-transfer the model in @ptrblck 's example.  It is a small model.  My model is much bigger, so I assume the overheads accumulate.

As a reference, I've just run the same example on my local workstation (single Quadro P1000, torch 1.3.1, cuda 10.1):

[code]
I assume this demonstrates the slowdown, so I was interested in seeing @ptrblck 's

[2020-01-16 18:55] xuhdev commented on #23795
Just to confirm: New code on the master branch won't support Python 2 anymore, right?

[2020-01-16 18:57] mrshenli commented on #32299
Have you tried using `SimpleQueue ` and `spawn` mode as suggested in the [doc](https://pytorch.org/docs/stable/notes/multiprocessing.html)?

[2020-01-16 19:03] rtaori commented on #32299
Yes, I had initially started with those, but none of those changes help. I provided this example here since it is exactly comparable to the python version (which works).

[2020-01-16 19:06] tayo commented on #32192
Samples of output after running ```perf top```:

First few seconds:
[code]

After about five minutes:
[code]

[2020-01-16 19:08] h6197627 commented on #32286
Another problem is that while building with
`USE_SYSTEM_NCCL=1 python3 setup.py build`
Gloo is emiting warning about not able to find NCCL and disabling its support for it.

[2020-01-16 19:08] mrshenli commented on #32291
@soumith given the new title you added, are we going make changes in the pip wheel to automatically pull numpy when install v1.4?

[2020-01-16 19:18] mrshenli commented on #32286
This means by default it uses the bundled NCCL in submodules, and that seems like the correct action to me. Because all tests will be run with the bundled version, which helps to make sure they are compatible. If users would like to use the system NCCL, that needs to be explicit I think.

@h6197627 Are you suggesting to use system NCCL by default? Or will adding more clarification comments in `set

[2020-01-16 19:18] mrshenli commented on #32286
Gloo is emiting warning about not able to find NCCL and disabling its support for it.

This is indeed a problem we need to fix.

[2020-01-16 19:20] ngimel commented on #32192
It's not PCIe transfer, it's initializing cuda context. Your previous cuda-related calls don't initialize context. If you want to time just the transfer, initialize the context before with `torch.randn(1, device="cuda")`. It's not surprising that initialization on 16-GPU server takes longer than on your local workstation.

[2020-01-16 19:24] mruberry commented on #31866
Thank you for reporting this issue! I'll take a look.

[2020-01-16 19:28] mrshenli commented on #32285
This question should be posted to https://github.com/statsmodels/statsmodels repo I think.

cc @ahmed915 Could you please move the question there. I am closing this issue for now. Please feel free to reopen to it if you think the fix needs to be done in PyTorch.

[2020-01-16 19:28] #32285 closed

[2020-01-16 19:44] fritzo commented on #32293
@alicanb your implementation was good, IIRC the only numerical issues were with very off-center truncation. Why don't we add that and include a check in the `.__init__()` method?
[code]

[2020-01-16 19:45] Lalaland commented on #31875
One option that might be worth considering is using https://docs.python.org/3/library/pickle.html#restricting-globals to try to make the unpickling more safe. (With perhaps an additional flag to remove those protections).

[2020-01-16 19:48] dncliss opened #32314 "Retire python 2.7 daily build status for ppc64le platform"
## 🐛 Bug
Not so much a "bug" per se.  We are stopping the regular execution of daily builds using Python 2.7 on the Power (ppc64le) platform, for both CPU and GPU builds.
As such, we wish to remove the build status for these two scenarios from the build table shown
in the main README.md file.  That is the only change here.

Worth noting:  We'll still have the capability to run a py27 build on requ

[2020-01-16 19:49] yaroslavvb commented on #30632
1. I'm wondering if it makes sense to allow arbitrary Hessians (not just scalar valued)? It's not much harder to implement -- can be a for loop over "single-output Hessian" and would be in line with wider convention (ie Jax does not restrict itself to scalar output Hessians). Rank of the Hessian would be the rank of output dimension + rank of input dimension + rank of input dimension. So for scala

[2020-01-16 19:58] Enealor commented on #32293
@fritzo Did alicanb implement the distribution class? I ask because I wrote a truncated normal initializer based on the [TensorFlow](https://github.com/tensorflow/tensorflow/blob/b1a6b315a63bb29b4593bfb98095da4397d8cd5a/tensorflow/compiler/tf2xla/lib/random.cc#L42) (which is based on [this article](https://people.sc.fsu.edu/~jburkardt/presentations/truncated_normal.pdf)). I can make a PR if the wo

[2020-01-16 20:05] alicanb commented on #32293
I did, give me few hours I'll send in the PR and tag you, we can discuss
there.

On Thu, Jan 16, 2020, 2:58 PM Eleanor Dwight Holland <
notifications@github.com> wrote:

[2020-01-16 20:09] denfromufa commented on #12918
@soumith the build_pytorch_libs.sh is now build_pytorch_libs.py and has lots of warnings about cmake. So how do we add cmake arguments now?

[2020-01-16 20:10] denfromufa commented on #31438
@ezyang this may seem obvious to you, but how do I pass to cmake -j1 via setup.py?

[2020-01-16 20:31] agolynski commented on #32018
I've talked to @mrshenli offline and he mentioned that seems like there is some mixing of data parallel and distributed data parallel going on here. if so, we do not recommend this for clients, maybe just use distributed data parallel only?

For purely data parallel models, Shen drew a autograd dependency picture where replicated operators would depend on the original one for their derivatives (pa

[2020-01-16 20:34] bpstark commented on #31705
@TheArheus I tried to run the session via ORT, and I was able to run successfully. This seems like an issue with the Keras layer then.

[2020-01-16 20:39] hartb commented on #31438
If I may... Haven't tried, but looks like setting `MAX_JOBS` in the env will do it:

https://github.com/pytorch/pytorch/blob/master/setup.py#L11

[2020-01-16 21:16] vadimkantorov commented on #32305
(also discussed with @ngimel in https://github.com/pytorch/pytorch/issues/31475#issuecomment-567606676 )

[2020-01-16 21:16] jamesr66a commented on #23980
It actually is autograd-specific in that the profiling hooks are in the VariableType wrappers. Other types of operators, such as `prim::` operators, are not recorded because they do not participate in autograd. I think it's more accurate to rephrase this as actually making the profiler more general beyond autograd ops

[2020-01-16 21:38] mrshenli commented on #32284
Hi @m-bula does the memory consumption also increases if you drop the backward pass the optimizer step pass (and what if only drop the optimizer step pass)? That would help to narrow down the memory leak.

[2020-01-16 21:42] mrshenli commented on #32279
Hey @abdjava, thanks for the catch! Your suggestion looks correct to me. Would you like to submit a PR to fix that?

[2020-01-16 21:45] dreiss commented on #6570
No immediate plans to add CUDA to the API, but it should be possible to use CUDA by adding a method to your TorchScript model that takes the input as a CPU tensor, sends it to CUDA, runs the rest of the model, the brings the result back to the CPU before returning to Java.  Feel free to give it a try and let me know how it goes!

[2020-01-16 21:45] kostmo commented on #30764
5 more instances so far this week in `master` of this segfault:
* https://circleci.com/gh/pytorch/pytorch/4221427
* https://circleci.com/gh/pytorch/pytorch/4260838
* https://circleci.com/gh/pytorch/pytorch/4225451
* https://circleci.com/gh/pytorch/pytorch/4264005
* https://circleci.com/gh/pytorch/pytorch/4277295

[2020-01-16 21:47] svenstaro commented on #32277
The patches do appear to work.

[2020-01-16 21:50] soumith commented on #32277
@svenstaro shall I create a branch (and eventually a tag) called v1.4.0.1 for your purposes? or do you prefer to use the two patches directly?

[2020-01-16 21:50] h6197627 commented on #32286
I think some clarification in setup.py will be helpful. It can be changed like other flags that require explicit user setting for enabling some additional functionality (for example USE_IBVERBS or USE_OPENCV)
Something like:
[code]

Considering Gloo, somehow it is failing to find nccl.h header (I don't know why - cmake scripts looks correct). However, I tried to checkout and configure standalone G

[2020-01-16 21:55] rtaori opened #32322 "PyTorch 1.4.0 deadlock when using mp.spawn multiprocessing"
## 🐛 Bug

PyTorch 1.4.0 deadlocks when using queues and events with mp.spawn.

## To Reproduce
Minimal example:
[code]
Output:
[code]
And then it hangs

## Expected behavior
Using `Process` instead of `spawn` works fine:
[code]
Output:
[code]
## Environment

PyTorch version: 1.4.0
Is debug build: No
CUDA used to build PyTorch: 10.1

OS: Ubuntu 18.04.3 LTS
GCC version: (Ubuntu 7.4.0-1ubuntu1~18.04.

[2020-01-16 21:58] rtaori commented on #32299
Upon revisiting the issue, the problem is actually with `mp.spawn`. I'm closing this issue and have created a new one at #32322

[2020-01-16 21:58] #32299 closed

[2020-01-16 22:16] mrshenli commented on #32270
Hey @david-alexander-white

I installed v1.4 locally using conda, and tried RPC, but didn't see that error. Could you please add some more context to this issue? Which environment are you on? and what test are you trying to run?

[2020-01-16 22:18] mrshenli commented on #32270
Just adding some background here. `WorkerId` is a type we used to have in 1.3.1, but got removed in 1.4.0. So based in the error message below, it seems that `rpc/__init__.py` tries to call into `torch._C._rpc_init()` from 1.3.1?

[code]

[2020-01-16 22:24] pritamdamania87 commented on #11324
@mrshenli I was wondering if you have some context on DistributedSampler? Looking at the implementation, it looks like @vfdev-5's suggestion makes sense. In addition to that we should probably also document `set_epoch`.

[2020-01-16 22:27] denfromufa commented on #31438
@hartb i think you are right and now I have to wait for ages!

![image](https://user-images.githubusercontent.com/7870949/72568126-0984ff80-387d-11ea-8192-9d90244ec7e6.png)

[2020-01-16 22:29] mrshenli commented on #32322
@rtaori Could you please help to confirm that this deadlock issue didn't exist in v1.3.1?

[2020-01-16 22:30] #31192 closed

[2020-01-16 22:31] z-a-f commented on #29644
![image](https://user-images.githubusercontent.com/4216323/72568386-dfc3dc80-386c-11ea-93cb-22966a5bc115.png)

[2020-01-16 22:31] svenstaro commented on #32277
Making a new release would be nice for everyone. :)

[2020-01-16 22:33] rtaori commented on #32322
Just ran it with torch==1.3.1, and the bug with `spawn` still exists (and using `Process` still works as expected)

[2020-01-16 22:34] mrshenli commented on #32273
Hey @gengyanlei, if this is a question, please submit to [PyTorch Forum](https://discuss.pytorch.org/). To report a bug, please add more context and some instructions to reproduce.

I am closing this issue now. Please feel free to create new ones when you have more context. Thanks!

[2020-01-16 22:34] #32273 closed

[2020-01-16 22:37] mrshenli commented on #32269
Hey @neuzxy Starting from v1.4.0, PyTorch offers the `torch.distributed.rpc` package, which is built for this use case. Please refer to the [doc page](https://pytorch.org/docs/master/rpc.html) and [tutorial](https://pytorch.org/tutorials/intermediate/rpc_tutorial.html) for more details. Let us know if anything is missing there, will be happy to extend.

[2020-01-16 22:43] mrshenli commented on #32322
Thanks for checking! In that case, I will drop 1.4.0 from the title to help people better locate the bug.

[2020-01-16 23:04] #32230 closed

[2020-01-16 23:15] rohan-varma commented on #32019
Also per @mrshenli's comment (for the py3.5 failure) https://github.com/pytorch/pytorch/pull/30063#issuecomment-574398233 - " if something crashed and prevents us from running _cleanup_python_rpc_handler() it will crash and only crash in PY35"

[2020-01-16 23:50] ziyuv opened #32329 "LibTorch nightly build is not available on https://pytorch.org/"
## 🐛 Bug

For example, https://download.pytorch.org/libtorch/nightly/cu101/libtorch-cxx11-abi-shared-with-deps-latest.zip is pointing to 1.4.0 instead of actual nightly build as of submitting this bug report.

## To Reproduce

N/A

## Expected behavior

Expect nightly build of LibTorch.

## Environment

N/A

## Additional context

N/A

cc @ezyang @gchanan @zou3519

[2020-01-17 00:26] XiaobingSuper commented on #29893
@rexxarM, your reported issue is another problem,  **LRU_CACHE_CAPACITY** only works for MKLDNN path, but MKLDNN not support in IOS now.

[2020-01-17 00:52] david-alexander-white commented on #32270
thank you, that helped me figure it out. I think it's basically my fault.

what was going on was I was basically using pip to install something which had pytorch as a dependency, then using conda to install pytorch, and I think I ended up with a weird mishmash of both versions.

I think all that's happening is that conda hasn't updated their version to 1.4 yet. I'm pretty happy to close this if yo

[2020-01-17 00:58] tarungog opened #32332 "CUDA MPS system"
## 🚀 Feature

Enable PyTorch to work with MPS in multiple processes. Currently program just crashes if you start a second one.

## Motivation
Certain shared clusters have CUDA exclusive mode turned on and must use MPS for full system utilization. If there is an easy way to make PyTorch work with MPS, would be great.

## Pitch
https://docs.nvidia.com/deploy/pdf/CUDA_Multi_Process_Service_Overview.p

[2020-01-17 02:13] denfromufa commented on #31438
Ok, I'm at [2384/2887] so the issue above is resolved!

[2020-01-17 02:13] #31438 closed

[2020-01-17 02:17] neuzxy commented on #32269
Thanks for your reply @mrshenli .

I noticed the `torch.distributed.rpc` before posting the issue, but not read it carefully.

I see these points are very helpful.

- > `The driver can create an embedding table on the parameter server and then share the reference to the embedding table with the trainer, but itself will never use the embedding table locally. ` in the [doc page](https://pytorch.org/

[2020-01-17 02:41] lujq96 opened #32337 "Save LocalResponceNorm as a single aten node when convert a pytorch model to jit model"
## 🚀 Feature
Suppose we have a model using LRN layer. When using torch.jit.trace(model, input) to convert it to jit model, I see it will be translated to a lot of subtle operations like,
[code]
I hope this can be combined into a single operation like other normalization operation, e.g. aten::batch_norm2d

## Motivation

1. We loss the information of LRN layer when we translate our model into jit m

[2020-01-17 03:06] mrshenli commented on #32270
@david-alexander-white thanks for the clarification. Closing now :)

[2020-01-17 03:06] #32270 closed

[2020-01-17 03:13] mrshenli commented on #32269
Hi @neuzxy, looks like your use case and our roadmap aligned very well. :)

@zzzwen is working on adding `ShardedEmbedding` and `RemoteModule`, which should be very helpful here.

We also plan to add one more tutorial to show how to build systems like dlrm on top of `torch.distributed.rpc`.

Will keep you posted on the progress and we can discuss what else are missing when we have more concrete th

[2020-01-17 03:34] mathpopo commented on #31941
@zou3519  i modify by meself ,just torch::flip and torch.linspace, i just translate numpy api to list (from tensor) to re-build it ,can onnx it.

[2020-01-17 03:59] mrshenli commented on #32018
I see, this is for our own tests. @agolynski @pietern you are right, and my previous comments were wrong.

@jithunnair-amd thanks for catching this error and proposing the fix! Would you like to submit a PR for it? Will be very glad to help land it.

@yf225 is it possible to get a 4-gpu container from CircleCI? It will help to expose this issue. I submitted a request ticket to CircleCI around last

[2020-01-17 04:26] peterjc123 commented on #30331
Fix dll load logic for Python 3.8 on Windows: #32339

[2020-01-17 06:14] TheArheus commented on #31705
@bpstark I tried only standart method:
[code]

So, this is should be better way?:
[code]

[2020-01-17 06:48] darthbhyrava commented on #28321
@SimZhou you have used `cu92` as a flag, which is for CUDA 9.2.
For CUDA 10.1, as instructed on the official page, simple use `$ pip install torch torchvision` without any flags.

[2020-01-17 07:12] jinfagang opened #32341 "GroupNorm not well traced when export to onnx"
## 🐛 Bug

First the problem is:

GroupNorm will traced to InstanceNorm when export to ONNX, and the graph generated is really complicated:

![image](https://user-images.githubusercontent.com/21303438/72591583-7c54b000-393b-11ea-91ed-ff717466cb85.png)

As you maybe notice, this is a simply layer of:

[code]

generated onnx.

Full code to generate this graph is :

[code]

**the issue is that, group

[2020-01-17 07:16] ptrblck commented on #32192
@tayo Could you post the model definition, which takes 60 minutes to finish, so that I could rerun it on your machines, please?

[2020-01-17 07:54] ChaiBapchya opened #32342 "NCCL_ROOT_DIR in Cmake FindNCCL"
## 🐛 Bug

1. NCCL_ROOT_DIR is deprecated according to https://cmake.org/cmake/help/latest/policy/CMP0074.html

But still why is it being "marked as advanced"
https://github.com/pytorch/pytorch/blob/ef5ae4823a00923342c82e08dd06adf579f5bc26/cmake/Modules/FindNCCL.cmake#L88

2. In this file - https://github.com/pytorch/pytorch/blob/master/cmake/Modules/FindNCCL.cmake

Why aren't we checking if nccl.h

[2020-01-17 08:14] chenzhekl opened #32343 "Inconsistent behaviour of `argmax` between `PyTorch` and `NumPy`"
## 🐛 Bug

In the case of multiple occurrences of the maximum values, [numpy.argmax](https://docs.scipy.org/doc/numpy/reference/generated/numpy.argmax.html) returns the indices corresponding to the first occurrence. Though not specified in the documentation, [torch.argmax](https://pytorch.org/docs/stable/torch.html#torch.argmax) returns the last occurrence instead.

## To Reproduce

Steps to reprod

[2020-01-17 08:23] m-bula commented on #32284
Hi @mrshenli
If I drop the optimizer step memory still keeps increasing:
![memoryLeakTest-withenv_no_optimzer_step_cropped](https://user-images.githubusercontent.com/59955198/72594916-ee5fd180-3908-11ea-93c8-22adfeb73b8d.png)

And if I put only forward pass in a loop the leak still happens as shown below:
![memoryLeakTest-withenv_onlyforward_cropped](https://user-images.githubusercontent.com/59955

[2020-01-17 08:30] DBordo opened #32344 "missing LAPACK"
## Issue description

after installing pytorch on Jetson xavier agx
with this steps:
1) wget https://nvidia.box.com/shared/static/phqe92v26cbhqjohwtvxorrwnmrnfx1o.whl -O torch-1.3.0-cp36-cp36m-linux_aarch64.whl
2) pip3 install numpy torch-1.3.0-cp36-cp36m-linux_aarch64.whl

3) sudo apt-get install libjpeg-dev zlib1g-dev
4) git clone --branch v0.4.2 https://github.com/pytorch/vision torchvision
5)

[2020-01-17 08:36] mathpopo commented on #31941
torch::flip and torch.linspace   cannot onnx

[2020-01-17 09:24] nikitaved commented on #31913
I am currently working on porting scatter/gather family of functions. Once it is done, I will take care of this one.

[2020-01-17 10:08] narfanar commented on #31866
I was looking for type conversions that may have been causing this. Since the OoR index is 64bit `-1` interpreted as unsigned.

[2020-01-17 10:24] ddkalamk opened #32345 "Add alltoall collective communication support to torch.distributed module"
## 🚀 Feature

I would request to add an Alltoall / alltoallv communication primitive to `torch.distributed` module and corresponding implementations to MPI, GLOO and other distributed backends.

## Motivation
When using both data and model parallelism in modern workloads (such as [DLRM](https://github.com/facebookresearch/dlrm/)), communication pattern required for switching from one type of paral

[2020-01-17 10:29] ddkalamk commented on #32345
A prototype was done for required changes  this commit
https://github.com/ddkalamk/pytorch/commit/5b616536b10e063d13eefbe8b3de7eb96098af2c

[2020-01-17 10:34] rilesdg3 commented on #32135
yes this is a breaking change to require c++14

here is a [link](https://discuss.pytorch.org/t/you-need-c-14-to-compile-pytorch/63185) that expaling a bit more

[2020-01-17 10:40] realiti4 opened #32346 "Pytorch 1.4.0 weight drop - 'LSTM' object has no attribute 'weight_hh_l0'"
Hi,

awd-lstm implementation doesn't work after upgrading to 1.4.0. Here is how weight drop class looks like:

[code]

what model's init looks like:

[code]

What should I do to update my code? I can't figure it out myself, thanks.

**edit:**
To reproduce, the code below is enough and I discovered it only happens when using .to(device), .cpu() or .cuda()

    encoder = RNNModel(5, 128, 120, 2, 1).

[2020-01-17 10:40] Meehai opened #32347 "Scheduler warning when not needed"
## 🐛 Bug

Hello, my high level NN library on top of PyTorch has a bunch of tests. Upon updating to 1.4.0 I wanted to see if my tests still run before diving deeper in potential changes. I have a test that saves and loads a model with scheduler.

More specifically, I get this output:

[code]

The code that is being run is https://gitlab.com/mihaicristianpirvu/neural-wrappers/blob/master/test/pytorc

[2020-01-17 10:50] GeorgeFedoseev commented on #28829
+1

[2020-01-17 11:24] ThyrixYang commented on #32278
Hi, @SsnL ,

The kl_div loss seems the only loss that gives a reference link, which indicates it's relatively complex.  But when we go to wikipedia it's not clear at the first glance what is the relationship of P, Q, x, y, input , target... in all these formulae. The formula in the doc is not kl_div, neither mean nor sum reduction do the right "kl_div". The "correct KL divergence" "batchmean"  is

[2020-01-17 11:33] denfromufa commented on #31438
ok, build failed eventually due to this unresolved build error:

https://github.com/pytorch/pytorch/issues/32083

[2020-01-17 11:51] ludkinm commented on #7857
Sorry to comment on an old and closed FR but I can't work out how to get this working in pyro.
I ran this snippet:
[code]
which is ok, but later in a model i get the error `TransformedDistribution' object is not callable`.
Do I need to make a `Logistic` class which inherits from `TransformedDistribution`?
Or is there some torch to pyro magic to do this?

[2020-01-17 11:56] f0k commented on #31195
@XiaobingSuper: Thank you for looking into this! Could you use further input? I also got hit by the assertion, trying to convolve a 512x512 image with a 41x41 kernel and 20x20 padding. If it's hard to select a better algorithm, at least a Python exception would be great!

[2020-01-17 11:57] chinhmt opened #32348 "[Cross Compile] Syntax error: word unexpected (expecting ")")"
Hello,
I am trying to cross compile pytorch with yocto on ubuntu host (run in docker).
There may be a problem with protobuf as shown below logs.
I can not figure it out myself. Can you help me?

[code]

[2020-01-17 12:01] tmctgr opened #32349 "Broken wheel, 1.4.0"
## 🐛 Bug

At least one of the published PyTorch 1.4.0 wheels is not a valid zip file.

## To Reproduce

Steps to reproduce the behavior:

1. Download https://download.pytorch.org/whl/cpu/torch-1.4.0%2Bcpu-cp36-cp36m-win_amd64.whl
1. Try to `pip install --no-index` the local wheel file
1. Witness something along the lines of:
[code]

Renaming the wheel as a `.zip` and attempting to open in Windows

[2020-01-17 12:14] ludkinm commented on #7857
In case anyone else arrives from google, I was importing from torch, not pyro which caused the errors:

Based on @fritzo's transformations
[code]
Usage inside a model: `x = pyro.sample('x', Logistic(torch.ones(1), torch.ones(1)))`

[2020-01-17 12:23] XiaobingSuper commented on #31195
@f0k, we have a patch to solved it internaly, and preparing to upgrade MKLDNN to 1.2 soon.  You can first apply the following patch to MKLDNN(cd third_party/ideep/mkl-dnn/ and than apply the patch)to solve this problem:
[code]

[2020-01-17 12:44] peterjc123 commented on #32349
I cannot reproduce the issue. You can verify the MD5 of the file you downloaded, which should be `4d81fa573afbafea7052c485948c5d89` by entering `certutil -hashfile .\torch-1.4.0+cpu-cp36-cp36m-win_amd64.whl MD5`.

Again, I apologize for not doing this carefully. It doesn't necessarily mean we don't love Windows. Once an issue is marked related to Windows, I'll look into it. But sometimes, I may ha

[2020-01-17 12:44] #32349 closed

[2020-01-17 13:19] tmctgr commented on #32349
Hi Peter, thanks very much for getting back to me quickly.

Apologies, I should have attempted the download more than once - my MD5 does not match so I strongly suspect that my download has been corrupted somehow. I'll test the new one now, but it feels rather likely that this will resolve my problems.

I appreciate your detailed comments about Windows - we're very much aware that we're going agai

[2020-01-17 13:32] denfromufa commented on #32083
I have the same error with this setup here:

https://github.com/pytorch/pytorch/issues/31438

[2020-01-17 13:52] hartb commented on #31438
With CUDA 10.1, you may need to make sure your tree has: https://github.com/pytorch/pytorch/commit/83cf9473dc60d9c02f249875eb96fa38734ab163

[2020-01-17 14:01] rmcavoy commented on #32284
I tried to par down the example code. The memory leak appears to come from MaxPool2d. I tried same example with relu+conv2d+linear with no maxpooling and there was no leak. I am on PyTorch 1.3.1, Ubuntu 18.04, Python3.7

[code]

[2020-01-17 14:12] cyy5358 commented on #32265
I'm back again. I've tried with PyTorch1.1.

1.1 is fine. Crash do not happen.

[2020-01-17 14:28] peterbell10 commented on #31895
In `THTensor_(maskedSelectBool)`, the output tensor is unconditionally resized to a 1d array of size `mask.sum()`:
https://github.com/pytorch/pytorch/blob/904ab092c286a750a270b4fd66ffd3a8baf39302/aten/src/TH/generic/THTensorEvenMoreMath.cpp#L111

So, the expected behaviour is impossible since it expects the output to be a 2d tensor. However, even if output was a 1d tensor, the strides would still

[2020-01-17 14:32] fmassa opened #32351 "Problem with multiprocessing, custom __getstate__ with Tensors and forkserver"
## 🐛 Bug

**TL;DR**: multiprocessing forkserver / spawn + custom class with `__getstate__` returning tensors give
[code]

### Context

Suppose the user created a custom class which holds a (large) list of torch tensors inside.
In order to handle the large list of tensors as a single tensor (in order to overcome the limit on the number of file descriptors in the system), the user implemented a cust

[2020-01-17 14:43] jungomi opened #32352 "TorchScript name collision of function with module of same name"
## 🐛 Bug

Exporting a function with the same name as a module while also importing anything from that module (not the module as a whole but `from module import X`) causes a name collision in the exported TorchScript.

It is rather unusual to use the same name as the module, but in case of combining the individual steps into one, it can be reasonable. While this can easily be avoided, it is perfect

[2020-01-17 15:52] Vic2901 commented on #27053
Hi, do you fix this problem now?

[2020-01-17 15:54] mrshenli commented on #32342
Not sure why we mark them as advanced variables here, maybe @pietern can help explain.

I guess this is because by default we use the bundled NCCL in submodules, and only use system NCCL when `USE_SYSTEM_NCCL` is set to 1. This guarantees that the default compile procedure will use compatible NCCL and torch.distributed versions.

[2020-01-17 15:57] mrshenli commented on #32286
@pietern does Gloo have dependency on NCCL?

[2020-01-17 16:08] mrshenli commented on #32343
Verified that the behavior is the same for CPU and GPU in PyTorch:

[code]

cc @peterbell10 and @pbelevich as I saw you authored the current CPU and GPU versions of `argmax_kernel_impl` :)

[2020-01-17 16:15] mrshenli commented on #32344
@DBordo does the problem persist if you switch to 1.3.1 or 1.4.0?

Hey @orionr, I saw you authored the lines below. If LAPACK is not available in the env, wouldn't we set `USE_LAPACK` to 0 and skip them in build?

https://github.com/pytorch/pytorch/blob/1f1ce53e8e93c80b3f88b9e6c84013a037e9c074/cmake/Dependencies.cmake#L1363-L1366

[2020-01-17 16:29] mrshenli commented on #32345
Hey @ddkalamk, thanks for the pitch and implementation! I think this is a great addition to c10d.
Would you like to create a PR to upstream https://github.com/ddkalamk/pytorch/commit/5b616536b10e063d13eefbe8b3de7eb96098af2c to PyTorch? We can continue discussions and reviews based on that code.

BTW, how much perf gain did you see when using allToAll instead of multiple scatter-gather?

Loop in mo

[2020-01-17 16:31] DBordo commented on #32344
Nvidia released the wheel for 1.4.0 today
But the link is corrupt and we waiting for new link.

Can i install 1.4.0 without using wheel on Jetson platform?

[2020-01-17 16:38] jithunnair-amd commented on #32018
@mrshenli Done. #32356

[2020-01-17 16:43] jithunnair-amd commented on #29760
The failures with test_DistributedDataParallel were not a result of flakiness, but some very specific conditions as detailed in https://github.com/pytorch/pytorch/issues/32018.

[2020-01-17 16:47] mrshenli commented on #32346
Hey @realiti4 what was the previous PyTorch version you were using before you switch to 1.4.0?

@zou3519, has anything changed recently? The LSTM doc does mention there is a `weight_hh_l[k]` attribute.

[code]

[2020-01-17 16:57] AbhishekShah212 opened #32357 "Pytorch JIT Compilation Does Not Finish (Infinite Loop?) for Deeper Models"
## 🐛 Bug
The Torchscript JIT compilation does not finish for a deep model (~4K layers). Is this a fundamental limitation? If so, what are alternative techniques to optimize the performance of PyTorch with deep models (hundreds of thousands of layers)?

## To Reproduce

Steps to reproduce the behavior:

1. Run the below minimal file that reproduces the behavior.
[code]
2. If you press `Ctrl-C` afte

[2020-01-17 17:05] mrshenli commented on #32284
Thanks @m-bula  @rmcavoy for helping locate the memory leak.

Hey @bddppq @z-a-f @goldsborough, do you see any suspicious in [`max_pool2d`](https://github.com/pytorch/pytorch/blame/master/aten/src/ATen/native/Pooling.cpp#L120) ?

[2020-01-17 17:08] realiti4 commented on #32346
Hi @mrshenli I was using 1.3.1

[2020-01-17 17:15] vincentqb opened #32358 "torch.bartlett_window not jitable"
## 🐛 Bug

[code]

## Environment

PyTorch version: 1.4.0
Is debug build: No
CUDA used to build PyTorch: None

OS: Mac OSX 10.14.6
GCC version: Could not collect
CMake version: version 3.15.2

Python version: 3.7
Is CUDA available: No
CUDA runtime version: No CUDA
GPU models and configuration: No CUDA
Nvidia driver version: No CUDA
cuDNN version: No CUDA

Versions of relevant libraries:
[pip3] nump

[2020-01-17 17:37] soumith commented on #23795
correct

[2020-01-17 18:05] yf225 commented on #32018
My guess is that we still don't have 4-gpu container yet. @ezyang @kostmo Would it be something we can ask CircleCI again for?

[2020-01-17 18:05] ddkalamk commented on #32345
Hi @mrshenli, Thanks for the quick reply. I will submit a PR from my commit shortly.
Perf gain depends on backend used. However, a single call allows backend such as MPI to pick more efficient algorithm to perform communication.
I am not sure why these changes would conflict with #28068. I believe they are orthogonal modulo changes required in test to add new api.

BTW, just saw this #31892 . By s

[2020-01-17 18:05] dmudiger commented on #32345
Thanks @ddkalamk for putting this out and also the implementation.

We've been also testing the alltoall prototype implementation with DLRM at our end and have detailed perf analysis (@srinivas212 - has the details and can elaborate).

@dzhulgakov @manojkris - fyi from our previous conversation on this.

[2020-01-17 18:09] yf225 commented on #30931
The tutorial and its corresponding example are fixed in https://github.com/pytorch/tutorials/pull/827 and https://github.com/pytorch/examples/pull/697.

[2020-01-17 18:09] #30931 closed

[2020-01-17 18:16] ngimel commented on #32343
Removing cuda label as this issue is not specific to cuda. Adding docs label as this is a documentation issue. This is expected behavior, due to parallelization we don't make any guarantees on which element is returned, so it's not even guaranteed to be the last. See also #30708

[2020-01-17 18:18] mrshenli commented on #32345
Yes, if we do the same thing as #31892, it wouldn't create conflict with #28068. (#28068 is defining what APIs a new backend should implement) But the current solution in #31892 in a temporary fix, and ultimately will move that API to `comm.cpp`.

@agolynski @pietern  please correct me if I am wrong on the plan

[2020-01-17 18:23] bpstark commented on #32267
@schyun9212 I am trying to reproduce this issue, and am unable to use the code provided, can you please explain where "coco_demo.model.backbone(image_list.tensors)" is coming from? I do not see any import that would bring in coco_demo, and thus cannot even run your code.

[2020-01-17 18:32] rohan-varma opened #32362 "Make test test_process_group_debug_info in rpc_test backend agnostic."
## Make test_process_group_debug_info in `rpc_test` backend agnostic.
We currently have a test `test_process_group_debug_info` in `rpc_test.py` that is specific to ProcessGroup agent, but we should test these metrics for all our backend RPC agents. We should make this test backend agnostic and fix the issues needed to test all RPC backends.

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @sat

[2020-01-17 18:39] ChaiBapchya commented on #32342
@mrshenli I checked pytorch codebase to see where USE_SYSTEM_NCCL case is being handled under cmake I couldn't find one. Would be great to see it pointed out if that's not too much to ask.
Thanks again!

[2020-01-17 18:43] driazati commented on #32300
Like you suspected the compiler is trying to immediately resolve all the values to end up with a static graph by the time compilation is finished (which happens as soon as the function with `@torch.jit.script` is defined). So it is unlikely that will be fixed, but deferred case where you got the `TypeError` could probably be fixed or at least have a better error message, could you make that into a

[2020-01-17 18:50] rohan-varma opened #32363 "Possible ProcessGroup::Work::abort correctness issue"
## 🐛 Bug

https://github.com/pytorch/pytorch/pull/29928 added an abort API to `ProcessGroup::SendWork` and `ProcessGroup::RecvWork` that is designed to support the following functionality:

[code]

Semantically what happens above is that the user is able to abort blocking for a send to complete (the same functionality exists for `recvWork`, this is useful to be able to recover gracefully from erro

[2020-01-17 19:04] yf225 commented on #25883
@Suyash458 It would be awesome to put them in test/cpp/api/nn_utils.cpp. Thanks so much for your help!

[2020-01-17 19:08] yf225 commented on #25883
We are going through some internal planning at the moment, and I will update on its availability at the earliest possible :D

[2020-01-17 19:10] SamPruden opened #32365 "[jit] Calling `torch.jit.script` on `@staticmethod`s which in turn call other `@staticmethod`s results in a `TypeError`"
## 🐛 Bug

Calling `torch.jit.script` on `@staticmethod`s that in turn call other `@staticmethod`s results in an internal error.

## To Reproduce

[code]

Results in `TypeError: <module '__main__'> is a built-in class`.

## Environment

Google Colab with a fresh GPU runtime on which `!pip install -q torch==1.4.0` has been run.

This is a spin off of #32300 at @driazati's request.

[2020-01-17 19:11] mrshenli commented on #32342
Hey @ChaiBapchya, git grep gives me the following output:

[code]

Looks like this is how it gets into cmake:

https://github.com/pytorch/pytorch/blob/9a4219eb39ca02b759b8bb0790fcd4c66695ab6e/setup.py#L401-L403

[2020-01-17 19:14] dashesy commented on #32135
@rilesdg3 thanks. I assume this is in PyTorch 1.5 requirement? In that case I will need to update nvcc/cuda

[2020-01-17 19:21] colesbury commented on #32347
You call `step(epoch)` here:

https://gitlab.com/mihaicristianpirvu/neural-wrappers/blob/master/neural_wrappers/schedulers.py#L15-16:

[code]

Please re-open if I'm missing something.

[2020-01-17 19:21] #32347 closed

[2020-01-17 19:22] SamPruden commented on #32300
Done. #32365

Would there be any value in providing deferred script decorators? The decorator could schedule the compilation but not do it immediately, then the user could manually call `torch.script.compile_everything_we_deferred()` when they know that all of their class and function definitions are complete.

I'm not sure how much more useful or convenient that is compared to manually calling `t

[2020-01-17 19:25] smessmer opened #32366 "Gaps for making template-unboxing work for all operators"
This is a follow-up task to https://github.com/pytorch/pytorch/issues/24132

Background
-------
About 25% of our operators are currently using the new templated mechanism for unboxing operators when they're called from a boxed world like JIT or Mobile. The other 75% still use the old mechanism where we run a Python codegen script to generate the C++ code doing the unboxing. We want to use the temp

[2020-01-17 19:26] smessmer commented on #24132
All ops are on the c10 dispatcher now. What's missing is making all ops use the templated boxing logic. See new issue for tracking that: https://github.com/pytorch/pytorch/issues/32366

[2020-01-17 19:26] #24132 closed

[2020-01-17 19:31] colesbury commented on #32348
Sorry -- I can't figure it out from that portion of the build log. Since the error is for `caffe2/proto/torch.pb.cc`, maybe look for `torch.pb` higher up in the logs?

[2020-01-17 19:37] #32255 closed

[2020-01-17 19:43] colesbury commented on #2133
It's been ~2.5 years so I don't think we're likely to expose this at this point.

[`torch.autograd.gradcheck`](https://pytorch.org/docs/stable/autograd.html#torch.autograd.gradcheck) is a good tool for testing autograd functions. I don't remember if that existed at the time this issue was filed.

[2020-01-17 19:43] #2133 closed

[2020-01-17 19:44] colesbury commented on #27053
@Vic2901 if you need LAPACK on GPU make sure you install magma:

See the line about magma here:
https://github.com/pytorch/pytorch#install-dependencies

[2020-01-17 19:53] alicanb commented on #32293
Yikes, I think this will take a bit more than few hours. https://github.com/probtorch/pytorch/pull/121 the files got overwritten at some point I think. In the mean time @Enealor I was using Robert's algorithm, are you doing inverse-cdf or rejection sampling?

[2020-01-17 20:03] jerryzh168 opened #32368 "Constants disappears after clone in ScriptModule"
In test/test_jit.py 'TestJit.test_foldbn_trivial', if we copy the script module and then run fold_convbn:
`scripted = torch.jit.script(eager).copy()`, the test will fail.
Reason is we don't copy constants right now.

cc @jerryzh168 @jianyuh @dzhulgakov @raghuramank100 @jamesr66a @suo

[2020-01-17 20:15] joacorapela opened #32369 "Anaconda installation CUDA requested, cpuonly obtained"
## 🐛 Bug

Yesterday I successfuly used Anaconda3 to install pytorch with CUDA on env1 and it worked fine. Today I installed it on a new environment, env2, requested Pytorch Stable 1.4.0 with CUDA 10.1 but obtained Pytorch with cpuonly (which is not GPU enabled). I run collect_env.py on both environments (see below).

Note that in the working environment (env1):

. the installed pytoch (1.3.1) incl

[2020-01-17 20:23] SamPruden opened #32370 "Backward `Functional.conv3d` is slow when cuDNN is enabled"
## 🐛 Bug

Profiling shows that my backward pass through `conv3d` is between 7 and 15 times slower than forward. Setting `torch.backends.cudnn.enabled = False` brings it down to parity with forward.

## To Reproduce

[code]

[code]

Setting `torch.backends.cudnn.enabled = False` gives this instead:

[code]

## Expected behavior

Leaving `torch.backends.cudnn.enabled = True` as per the default shoul

[2020-01-17 20:28] SasCezar commented on #23999
Hi,

I get the same error when using the Tensorboard add_graph(). My model is an encoder-decoder with attention. Here is the log:

`Traceback (most recent call last):
  File "/home/sasce/PycharmProjects/NeuralCodeFix/ncf/main.py", line 87, in <module>
    writer.add_graph(model, [src, src_len, trg])
  File "/home/sasce/miniconda3/envs/PyTorch37/lib/python3.7/site-packages/torch/utils/tensorboard/w

[2020-01-17 20:33] albanD commented on #32265
Hi,

This is most likely the same as https://github.com/pytorch/pytorch/issues/31906
Can you check with the nightly version if it still crashes?? (1.4 branch does not contain this fix)

[2020-01-17 20:37] fmassa commented on #32351
@SsnL sorry about adding the `module: dataloader` tag, it was just that there seemed to be no-one responsible for both `multiprocessing` and `serialization` modules :-)

[2020-01-17 20:41] SamPruden commented on #32370
I'm having a little play around with `conv2d` to see if it has the same behaviour. I'm finding that the backward pass runs at about the same speed with or without cuDNN enabled, but that enabling it allows the forward pass to run about 4X faster than the backward pass.

That's the opposite behaviour to what I'm seeing in the `conv3d` case, but it still seems strange that the backward is ever 4X sl

[2020-01-17 20:55] spandantiwari commented on #32341
@jinfagang - not all ops in PyTorch have an exact equivalent in ONNX. Therefore, such operators (e.g. GroupNorm) are exported using a subgraph of ops that are in ONNX. Such graphs are perfectly legal ONNX graphs and all frameworks that adhere to ONNX spec should be able to work with them.

Since you have opened this as a bug, I want to clarify that the graph that is exported for GroupNorm should b

[2020-01-17 21:01] SsnL commented on #32351
@fmassa no worries at all :) thanks for explaining!

[2020-01-17 21:24] zhaojuanmao opened #32372 "Migrate processGroup::async_work to use Future"
Now we have generic Future in pyTorch codebase, see PR #29579.

We can consider to migrate processGroup::async_work to use Future as well, so that we have generic handling for async work processing, and benefit from all the future improvement of the generic Future like timer and error handling and etc.

[2020-01-17 22:05] fritzo commented on #7857
That's right, Pyro distributions also inherit from Pyro's [TorchDistributionMixin](http://docs.pyro.ai/en/stable/distributions.html#pyro.distributions.torch_distribution.TorchDistributionMixin) class which adds Pyro-specific functionality such as a `.__call__()` method and `.score_parts()` method for ELBO computations. When you import `TransformedDistribution` from Pyro you get a class that derive

[2020-01-17 22:16] Vic2901 commented on #27053
@colesbury Hi bro, I am not familiar with the LAPACK, could you tell me what it is? The error occurred in the training of my model, I use a inverse function to op a torch GPU tensor which is a 3d tensor and it equivalently contains a batch of square matrix. If I handle it by copying to CPU, it is fine, but a same error comes up in the next operation which is about a multivariate Gaussian distribut

[2020-01-17 22:34] zhaojuanmao opened #32375 "Make _rpc_sync_torchscript and _rpc_async_torchscript work with autograd profiler"
This is to follow up PR #32197, we should make the torch script call work with auto grad profiler.

cc @suo

[2020-01-17 22:39] germanjke commented on #2341
have some problem on Windows10. dunno why but i think problem is dataloader (num_workers to 0 doesn't help) and multiprocessing

[2020-01-17 23:27] SsnL commented on #18027
Some newer timings using the same setting as @samuelbroscheit, after warming up,

[code]

[code]

[2020-01-17 23:27] alicanb commented on #32293
Here we go https://github.com/pytorch/pytorch/pull/32377

[2020-01-17 23:28] soumith commented on #32344
@dusty-nv the wheels are not linking to any LAPACK. Looks like a packaging problem. What BLAS are you linking to on ARM?

[2020-01-17 23:31] soumith commented on #32329
@yf225 has been working on fixing this

[2020-01-17 23:33] zdevito commented on #32366
ScalarType, Device, Layout, Dimname, Generator, and MemoryFormat can be added as types to JIT, and values to IValue. I think Generator may actually already be an unused type.
Storage and ConstQuantizerPtr warrant more discussion. ConstQuantizerPtr is weirdly named, might be fine if it were called Quantizer.

[2020-01-17 23:33] soumith commented on #32192
@tayo I suspect you are running into an OpenMP deadlock, you are likely using fork in your code, and OpenMP doesn't like fork.

Can you please run your program with the following env varible:

[code]

[2020-01-17 23:39] cjolivier01 commented on #23554
I followed readme, used conda, et. Still get this error. The libs it's looking for are in build/lib but for some reason, it can;t find them when it links. Done so many clean builds, all day.

[2020-01-17 23:47] soumith commented on #12918
@xuhdev would know

[2020-01-17 23:54] xuhdev commented on #12918
@denfromufa Which CMake options are you trying to add? For those starting with `CMAKE_`, `BUILD_`, or `USE_`, you can simply pass them as environmental variables. See the comments:

https://github.com/pytorch/pytorch/blob/c8ca70e39d0efc9dd008b78fdd5ca089ab965746/tools/setup_helpers/cmake.py#L251-L255

[2020-01-18 00:16] denfromufa commented on #12918
All I needed was this option j1, which we already found:

https://github.com/pytorch/pytorch/issues/31438#issuecomment-575336231

But thank you for this note in case I need to work with cmake again.

BTW, j1 is an argument to cmake, not sure if it is possible to pass it via
env. variable.

On Fri, Jan 17, 2020 at 5:54 PM Hong Xu <notifications@github.com> wrote:

[2020-01-18 00:45] yf225 commented on #32329
https://github.com/pytorch/builder/pull/394 is merged which should fix it. I will check and make sure that the nightly build tonight is up to date.

[2020-01-18 00:50] ziyuv commented on #32329
Appreciate it. I'll check, too. Thanks!

[2020-01-18 00:54] ngimel commented on #32346
What's the minimum script to reproduce the error? Forwarding through the model defined above? `RNNModel` does not have a forward method defined, would forwarding through `WeightDrop` be enough?

[2020-01-18 01:02] emfomenk commented on #32008
Hi @MichaelLutter,

I tried to reproduce the behavior on different systems, but don't see an memory leaks.
Could you please run your reproducer with `MKL_VERBOSE=1` to check what version is used?
(**Caution**: the verbose output will be huge, so you may want to cut the number of iterations to 1)

Also, out of curiosity, could you please run it with `MKL_DISABLE_FAST_MM=1` to disable memory caching

[2020-01-18 01:19] chinhmt commented on #32348
@colesbury Thank you for your response,
The error occurs from command that compile torch.proto:

`
/home/imx8/imx-yocto-bsp/build/tmp/work/aarch64-poky-linux/pytorch/1.3.0-r0/build/build/bin/protoc -I/home/imx8/imx-yocto-bsp/build/tmp/work/aarch64-poky-linux/pytorch/1.3.0-r0/git --cpp_out=dllexport_decl=CAFFE2_API:/home/imx8/imx-yocto-bsp/build/tmp/work/aarch64-poky-linux/pytorch/1.3.0-r0/build/bu

[2020-01-18 01:25] BrambleXu commented on #24157
Update to pytorch 1.4 and tensorboard 2.1.0 with python 3.6, works well.

[2020-01-18 01:37] tayo commented on #32192
Apologies for the delay everyone.

@ptrblck -- I am running a slightly modified version of [https://github.com/facebookresearch/dlrm].
--arch-sparse-feature-size=128 --arch-mlp-bot="13-512-256-128" --arch-mlp-top="1024-1024-512-256-1" --data-generation=dataset --mini-batch-size=2048

You probably don't want to do all the data downloading and preprocessing, but hopefully that gives you a sense of t

[2020-01-18 02:23] schyun9212 commented on #32267
Sorry @bpstark  I missed some code while editing the issue. I updated reproduce code.
Thank you.

[2020-01-18 04:21] jingxil commented on #24237
Hi @pietern, I am facing a similar problem. The memory usage is keeping going up when I do the inference in separate threads. And without the mkl lib, the memory usage is stable.  I tried to set the env variable MKL_DISABLE_FAST_MM=1. But it did not work out.

[2020-01-18 04:59] knagrecha commented on #21819
Same problem here, happens when I try and call .to(device). CUDA 9.2, torch 0.4.0, torchvision 0.2.1.