[2020-08-28 07:45] ilia-cher commented on #19213
@ecolss do you have a reproducible version for 1.6 that shows the issue?

[2020-08-28 09:21] shaoming20798 opened #43759 "Ubuntu18.04 build from source error"
Hi, I build pytorch from source using anaconda. And I got some errors as follows. Could you give me a help?
`
export CMAKE_PREFIX_PATH=${CONDA_PREFIX:-"$(dirname $(which conda))/../"} && python setup.py install
`

-- NCCL_MAJOR_VERSION: 2
-- Found NCCL (include: /usr/include, library: /usr/lib/x86_64-linux-gnu/libnccl.so)
-- Performing Test UV_LINT_W4
-- Performing Test UV_LINT_W4 - Failed
-- Perf

[2020-08-28 09:30] sarasarab opened #43760 "Error : lib/libstdc++.so.6: version `CXXABI_1.3.11 not found"
## ❓ Questions and Help
I am using centos7, gcc version is 4.8.5 and list is till up to CXXABI_1.3.10. I don't have admin control, i am just a local user.
I used to conda to install it. Pytorch is in the library, but when program is run this is the error i get.
### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on

[2020-08-28 09:31] vfdev-5 commented on #43708
@GuoQuanhao this may be a bug. Let me investigate it more... Thanks for reporting !

[2020-08-28 10:37] Lezcano opened #43761 "nightly.py error"
When I executed `./tools/nightly.py pull -n my_env` after cloning PyTorch and on a new conda environment I got:
[code]
The script `torch/utils/collect_env.py` returns
[code]
and `conda list` returns

<details>

[code]

</details>

cc: @rgommers

cc @malfet

[2020-08-28 10:40] mattip commented on #43669
Not sure. I think somehow this is triggered by the automethod/autoclass directives in [`storage.rst`](https://github.com/pytorch/pytorch/blame/master/docs/source/storage.rst#L10) and [`tensors.rst`](https://github.com/pytorch/pytorch/blame/master/docs/source/tensors.rst#L230), (why does github make linking to a line in an rst file so hard) but in both cases `bool()` is a method, not an instance. I

[2020-08-28 11:03] rgommers commented on #43761
Thanks for the report @Lezcano!

From a search on the error message, this seems to have to do with hard-linking across partitions. @scopatz could you look into this?

Also adding the log file for this you shared on Slack:
[code]
@scopatz should that have contained `stdout` output?

[2020-08-28 11:20] CoinCheung commented on #38122
Hi,

I met same problem and setting `TORCH_USE_RTLD_GLOBAL=YES` does not solve my problem. I am using pytorch1.6 from conda and libtorch downloaded from official download page. Any suggestions please ?

[2020-08-28 11:22] CoinCheung commented on #38122
My error message is: `ImportError: /root/repo/play/build/play.cpython-36m-x86_64-linux-gnu.so: undefined symbol: _ZN3c105ErrorC1ENS_14SourceLocationENSt7__cxx1112basic_stringIcSt11char_traitsIcESaIcEEE`

[2020-08-28 11:58] CoinCheung commented on #38122
Solved, I recompiled my pytorch and ues the libtorch in the `torch/` directory of the compiled source path. And use the `TORCH_USE_RTLD_GLOBAL=YES` method will work. It seems that  pytorch and libtorch should be compiled under same circumstance.

[2020-08-28 12:06] #43691 closed

[2020-08-28 12:08] WaterKnight1998 opened #43763 "[ERROR] PyTorch dependency on Windows Python Package not working"
## 🐛 Bug

## To Reproduce

I have created a Python package with PyTorch and torchvision as dependencies:

requirements.txt
[code]

setup.py
[code]

The problem is that when I install my package on Windows no PyTorch and torchvision gets downloaded. In Linux it works perfectly.

## Expected behavior
It should work as in Linux done

cc @peterjc123 @maxluk @nbcsm @guyang3532 @gunandrose4u @smartcat20

[2020-08-28 13:00] WangDeyao commented on #33855
Hi!

Following the previous discussion, I also spot a potential problem.

When calculating the "CUDA time total" in the end, it seems that conv2d, convolution, _convolution has all been added up. This makes the "CUDA time total" too big. A conv2d will essentially been added 3 times (4 times?). Other operations might also been counted multiple times according to how the functions are wrapped. What'

[2020-08-28 13:02] vadimkantorov opened #43765 "JIT fails sanity checks during tracing torch.randn_like"
[code]

[code]

[2020-08-28 13:09] feiyangsuo opened #43766 "RuntimeError("{} is a zip archive (did you mean to use torch.jit.load()?)".format(f.name)) when loading model weights"
I'm using pytorch 1.5. There's a weight file "best.pt" which is trained within pytorch 1.6. When I try to load the weights the error raises as ```RuntimeError: best.pt is a zip archive (did you mean to use torch.jit.load()?)```.

The file can be naomally loaded in pytorch 1.6 using torch.load().

It doesn't work if I use torch.jit.load() to load the file. In this circumstance there's another error

[2020-08-28 13:12] vadimkantorov opened #43767 "JIT tracing records device wrongly for torch.randn_like"
[code]
[code]

cc @gmagogsfm

[2020-08-28 13:42] 0tist commented on #41443
Hi, a quick question, as I am new to open-sourcing, for now, I can just pick any of the files that are labeled 'open' and submit a PR as per the guidelines mentioned above for the same?

[2020-08-28 13:44] #22853 closed

[2020-08-28 13:47] faaip commented on #23233
@radimspetlik I get the error that these wheels are not supported on the platform (rpi4). I installed it using

`
pip3 install https://github.com/radimspetlik/pytorch_rpi_builds/blob/master/torch-1.6.0a0%2B9d7a79a-cp37-cp37m-linux_armv7l.whl
`

Should this be working? Thanks!

[2020-08-28 13:55] 0tist commented on #41764
Hi, I wish to contribute to this issue, Is someone working on this?

[2020-08-28 13:58] DomainFlag opened #43768 "Multinomial distribution of empty tensor crashes when sampling with replacement on CUDA"
## 🐛 Bug

Multinomial distribution of empty tensor weights crashes when sampling with replacement on CUDA. However, on CPU it works as expected. For the context, I use a mask to filter unnecessary rows and sometimes it covers the whole tensor thus I have to deal with empty tensors.

## To Reproduce

Reproduce the behavior (downscaled snippet):

[code]

## Environment

Tested on PyTorch both 1.6.0

[2020-08-28 14:47] hameerabbasi commented on #42942
I looked into this, it seems it hits `Variable._execution_engine.run_backward` (and, in general, some `Variable._execution_engine` methods). It seems those aren't covered by `__torch_function__`. So we have a decision to make here: Either cover them or follow my original suggestion in https://github.com/pytorch/pytorch/issues/42942#issuecomment-673347857.

[2020-08-28 14:51] #43414 closed

[2020-08-28 14:57] scopatz commented on #43761
Thanks for reporting @Lezcano - Just to clarify, your pytorch repo and your temp directory (`/tmp`) are on different devices or partitions? I can add some robustness protections around that.

@rgommers - I didn't add stdout to the logs because I wasn't sure it was worth the effort.  Happy to do so if you would like.

[2020-08-28 14:58] Lezcano commented on #43761
Yes they are. This is a box that I'm sshing into, and my `/home` directory is separate from the actual hdd of the box.

[2020-08-28 14:59] scopatz commented on #43761
Great - thanks @Lezcano

[2020-08-28 15:04] HongdaChen commented on #43691
if I set USE_CUDA=0,than it will build successfully.So I guess I lost this step : install Compiler compatible with CUDA.
But in ubuntu16.04 LST ,I have no idea how to do it!

[2020-08-28 15:16] akihironitta opened #43770 "Fix exception chaining all over the codebase"
I would like to suggest a small fix in the way that Python 3's exception chaining is used.

As described in detail in [this article](https://blog.ram.rachum.com/post/621791438475296768/improving-python-exception-chaining-with), exception chaining ([PEP 3134](https://www.python.org/dev/peps/pep-3134/)) can be used to make exceptions more user-friendly, and in that case, the syntax `raise new_except

[2020-08-28 15:23] mrshenli commented on #43621
Sure. Since ProcessGroup and RPC will have their own rendezvous stores, they will need to use different master port. Here is an example: https://pytorch.org/tutorials/advanced/rpc_ddp_tutorial.html.  Search for 29500 and 29501.

Could you please point me to the doc? I will update those.

[2020-08-28 15:27] scopatz commented on #43761
@Lezcano @rgommers - a fix is in at https://github.com/pytorch/pytorch/pull/43771

[2020-08-28 15:30] mrshenli commented on #43621
Looking at your code snippet again, if you are not using collective communication APIs (e.g., `all_gather`, `all_reduce`), you don't need to call `init_process_group` to initialize `ProcessGroup` instances. If you only want to get the rank of the current RPC process, you can use `rpc.get_worker_info().id`. See the following API doc:

https://pytorch.org/docs/master/rpc.html#torch.distributed.rpc.g

[2020-08-28 15:52] Lezcano commented on #43761
Using this new script, as I run it, I get the following error:

[code]
Is there any cache I need to clean or something like that?

[2020-08-28 16:08] scopatz commented on #43761
Sorry there was a stupid copy-paste error in there.  I fixed it. Can you try it now, please?

[2020-08-28 16:12] Lezcano commented on #43761
All good now! Thanks!

[2020-08-28 16:35] mcarilli commented on #43556
First you should check if your network fits any advanced use case in the [examples](https://pytorch.org/docs/stable/notes/amp_examples.html).

If you suspect the loss (or any other region) is the pain point, you can force the loss computation (or other region) to execute in FP32 following the last code sample in the [autocast docstring](https://pytorch.org/docs/stable/amp.html#torch.cuda.amp.autoc

[2020-08-28 16:39] vkuzo opened #43774 "investigate reported issues with quantized BatchNorm2d"
## 🐛 Bug

In https://discuss.pytorch.org/t/incorrect-results-after-loading-saved-quantized-model/93844, there is a report of incorrect behavior of unfused quantized BatchNorm2d.  We should verify that it works correctly.

## To Reproduce

Steps to reproduce the behavior:

1.
1.
1.

## Expected behavior

## Environment

Please copy and paste the output from our
[environment collection script](https

[2020-08-28 16:45] ecolss commented on #19213
I posted here: https://discuss.pytorch.org/t/pytorch-seems-very-slow-on-cpu/94360/6

[2020-08-28 17:11] glaringlee commented on #43760
@sarasarab
I think you need a newer version of gcc. gcc 5.x works for you. cc @malfet

[2020-08-28 17:25] spandantiwari commented on #43665
Thanks for clarifying.
That message is a generic error message to bubble up any missing ops that are used in models commonly. So thanks for reporting. If you are unblocked, that's great.

[2020-08-28 17:29] spandantiwari commented on #43736
@rohit497 - Please check that the export_type is the default ONNX in your export API call, and not ATEN_FALLBACK. Also, please try the latest PyTorch 1.6 as all aten ops have been removed from the ONNX export (not ATEN_FALLBACK). If you still see this problem, please reopen this issue.

[2020-08-28 17:29] #43736 closed

[2020-08-28 17:33] VinodSKumar commented on #43759
Latest master version seems to be compiling fine.
OS: Ubuntu 18.04.5 LTS (x86_64)
GCC version: (Ubuntu 8.4.0-1ubuntu1~18.04) 8.4.0
Clang version: Could not collect
CMake version: version 3.10.2

Python version: 3.7 (64-bit runtime)
Is CUDA available: N/A
CUDA runtime version: Could not collect
GPU models and configuration: Could not collect
Nvidia driver version: Could not collect
cuDNN version: C

[2020-08-28 17:33] mcarilli commented on #42996
This is expected type-promotion behavior if `self.bias_ih` is fp32.

Try replacing `torch.mm(input, self.weight_ih.t()) + self.bias_ih` with `torch.addmm` or `torch.nn.functional.linear`.  [`linear`'s source](https://pytorch.org/docs/stable/_modules/torch/nn/functional.html#linear) uses `addmm` in a way that looks equivalent to yours, and `addmm` should receive autocasting as a unified chunk, so t

[2020-08-28 17:59] #43514 closed

[2020-08-28 18:03] mruberry opened #43787 "PyTorch's div, which performs true division, cannot be exported to ONNX with consistent semantics"
In PyTorch we're changing our division behavior to perform "true" division like Python3 and NumPy. This means that 5 / 2 = 2.5, for example.

Exporting true division to ONNX is tricky because ONNX's division (1) does not perform true division and (2) mimicking true division using ONNX's division requires manipulating the dtypes of the inputs, and we don't have a mechanism to interrogate or set dty

[2020-08-28 18:16] malfet commented on #43759
@shaoming20798 can you please command you've used to checkout PyTorch?
Have you synced the submodule?
I.e., please run:
[code]

[2020-08-28 18:21] malfet commented on #43758
anuuzsoni please provide more details on what version of pytorch you are trying to run and what Linux flavor are you using
Can you please download and run https://github.com/pytorch/pytorch/blob/master/torch/utils/collect_env.py script and post its output here.

[2020-08-28 18:24] malfet commented on #43763
@wat3rBro can you please provide more details, like version of Windows OS, version of Python you are tried it with and so on.
Also, sharing the actual failure logs would help a lot.

[2020-08-28 18:57] neginraoof commented on #42995
Thanks @chaorensx
PR for supporting ROIAlign export has been merged: https://github.com/pytorch/vision/pull/2613
You should be able to use this op with latest nightly build.

If you have a new model with unsupported ops (like DCN), would you please send us the complete repro model and export script?

[2020-08-28 19:00] glaringlee commented on #43611
@Coderx7
Thanks for your suggestion.
We currently separated the entire build package by build version already on pytorch.org, people can choose Release or Debug to download and setup their path/env correctly. We never have user complained about this before, probably because user normally need only one version.
To add a set of lib names for Debug version only, there will be a not trivial change to

[2020-08-28 19:42] #43732 closed

[2020-08-28 19:44] mruberry commented on #43732
Fix has landed, @meganset. You should now have to import fft.h in C++, just like you have to import fft in Python, to access the new fft-namespace functions. The current fft function should work as expected. Let me know if you're still seeing an issue.

[2020-08-28 19:48] dashesy opened #43795 "[ONNX] shape node constant folded tensor with dynamic shape"
## 🐛 Bug

Reported [here](https://github.com/microsoft/onnxruntime/issues/4898) first reported as issue #43283

## To Reproduce

We export a model with dynamic shape `bbs` passed input. The shape node constant folded what is a dynamic shape (coming from bbs) tensor.

[code]

## Expected behavior

Same behavior as PyTorch

## Environment

Collecting environment information...
PyTorch version: 1.6.0

[2020-08-28 20:00] ilia-cher commented on #19213
there's was a limitation (no multithreading with openmp) in mac binaries https://github.com/pytorch/pytorch/issues/43036

[2020-08-28 21:07] malfet commented on #43770
Thank you for suggestion @akihironitta !
Please feel free to write a PR and I will be happy to review it.
Also consider eliminating all calls to that macro with direct `raise .. from ..` calls:
https://github.com/pytorch/pytorch/blob/20abfc21e41dfe0bd2500295f7482edbeb6b6c05/torch/_six.py#L56-L60

Although not all instances require exception chaining, for example implicit chaining is totally fine i

[2020-08-28 21:32] rmchurch commented on #1750
I have some working code now in #43720, but I had to abandon the `ctypes` implementation, as I couldn't figure out how to interface `ctypes` with `pybind11` bindings. I also had to update the `pybind11` submodule for a bug fix to work with unions. The below still isn't quite working (note the text isn't there), but the color comes out.
Here is the result from a simple test:
[code]
![image](https:/

[2020-08-28 22:33] kundanapillari commented on #41304
@KsenijaS Thanks for the solution. I am able to convert the model into onnx format with making the changes stated above,, however, the ort_outs and torch_outs both produced inaudible audio output. I think this is because my original pytorch model took the input text_positions as ```text_positions = torch.arange(1, sequence.size(-1) + 1).unsqueeze(0).long().to(device)``` for which I got the right a

[2020-08-28 23:02] KsenijaS commented on #41304
@kundanapillari how exactly do you run this model in pytorch, because I get the same Assertion error when trying to run model in PyTorch and converting to ONNX, using the text_positions input that you sent me:
assert inputs.size(-1) == self.in_dim * self.r
AssertionError

[2020-08-28 23:09] kundanapillari commented on #41304
@KsenijaS I used this [notebook](https://colab.research.google.com/github/r9y9/Colaboratory/blob/master/DeepVoice3_single_speaker_TTS_en_demo.ipynb#scrollTo=GR1XRy-ykbz_) (fixed few import errors) to run the model and produce the audio.

[2020-08-28 23:12] VitalyFedyunin commented on #43502
Reserved for DataLoader bootcampers

[2020-08-28 23:17] VitalyFedyunin commented on #26596
I will bump priority on it as it seems not only docs issue, and many people hitting it.

[2020-08-28 23:20] VitalyFedyunin commented on #5096
I also recommend porting TH functions to Aten instead of wasting time to maintain old code.

[2020-08-28 23:24] KsenijaS commented on #41304
@kundanapillari can you share your script?

[2020-08-28 23:32] jamesr66a opened #43812 "[FX] Symbolic trace shouldn't put the original Module on `root` attribute"
We should copy over attributes that appear in the traced forward() invocation, also see https://github.com/pytorch/pytorch/pull/43666#discussion_r478775019

[2020-08-28 23:34] jamesr66a commented on #43511
Don't think this is an FX issue, passing over to JIT

[2020-08-28 23:36] jamesr66a opened #43813 "[FX] Write up an example of splitting up an FX graph into smaller subgraphs"
Given a Module that's been traced with symbolic tracing, we want to demonstrate what it would look like to write a pass that splits up the nodes into a set of N partitions and reassembles the graph into something coherent (this is up to definition :) ).

[code]

[2020-08-28 23:54] spandantiwari commented on #41007
@TommasoBendinelli - I took a look at this issue and here's the finding. You are seeing the change in weight names because the original weights are going through constant folding optimization. This optimization is turned on by default in the export API and can be turned off by explicitly setting `do_constant_folding=False` in the export API call.
If you turn is off you get a graph like:

[code]
As

[2020-08-28 23:57] rgommers commented on #42942
It's unclear to me how it gets there, can you share the test code you're using @hameerabbasi?

Covering private machinery like that with `__torch_function__` cannot be the right way of doing things; it's only public API that should be dispatching. It's possible something is missing, but it's not `_execution_engine`.

[2020-08-29 00:03] asanakoy commented on #35735
I agree. It Would be more consistent to have `nn.Buffer` along with `nn.Parameter`

[2020-08-29 00:04] malfet commented on #43760
@sarasarab can you please clarify, are you trying to build the PyTorch or run release/nightly binary releases?

[2020-08-29 00:06] VitalyFedyunin commented on #43502
Related #33296

[2020-08-29 00:14] asanakoy opened #43815 "Buffers are moved to another device by copy and not in-place"
## 🐛 Bug

Hi guys. The issue was noticed in `pytorch 1.5.1` (it is likely also present in `1.6.0`).
I'm not sure is it's a bug or a feature.
I have  my own nn.Module where I register some parameters and buffers (call `register_buffer()` on some torch.Tensor-s).
When I move the module to another device using `m.to(device)`  or `m.cuda()` then the Parameters are moved in-place (so all references to

[2020-08-29 00:16] pbelevich opened #43816 "Move randperm() to DistributionTemplates"
To [support randperm](https://github.com/pytorch/csprng/issues/71) in [csprng](https://github.com/pytorch/csprng) it's required to templatize with RNG and move randperm implementation to DistributionTemplates.h, cpu/DistributionTemplates.h and cuda/DistributionTemplates.h

Add a test in cpu_rng_test.cpp

See:
https://github.com/pytorch/pytorch/issues/37368
https://github.com/pytorch/pytorch/issues

[2020-08-29 00:29] VitalyFedyunin commented on #42311
@gerwin3 There is no NDWHC support so far
@xsacha CUDNN does support both memory formats, the problem is to find best suitable for the model, and as PyTorch (yet) can't do it automatically, we rely on the user to convert module/inputs to the desired format.

[2020-08-29 00:30] malfet commented on #43760
Can not reproduce using CentOS-7 docker image:
[code]
@sarasarab can you please try running the same command on your system and share its result here

[2020-08-29 00:44] kundanapillari commented on #41304
@KsenijaS This is my script
[code]

[2020-08-29 00:47] VitalyFedyunin commented on #40790
This seems to be a common pattern and we would gladly accept PR implementing this `dim` kwarg.

[2020-08-29 00:54] ppwwyyxx commented on #40790
Note that it's not precise to call the dimension "channel dimension" as in the issue title. Within the context of this function, it is just "the dimension with one-hot encoding". Whether to interpret it as a "channel" dimension or not is up to the caller/user of this function.

[2020-08-29 00:57] xsacha commented on #42311
How do we convert to the memory format?
If we do it on the input, it will stay as that format for the duration of the model?

[2020-08-29 01:15] mariosasko commented on #43815
From looking at the [source](https://github.com/pytorch/pytorch/blob/7d517cf96f6d53bbe472cf1404e12b9b75230bb6/torch/nn/modules/module.py#L357), it seems like the model parameters are not getting copied but changed in-place because it would introduce backward-compatibility issues. The current behavior should change in the future so both parameters and buffers will get copied (at the moment, it's co

[2020-08-29 02:22] jwelch1324 opened #43821 "no matching function for call to at::TensorIterator::binary_op"
## 🐛 Bug

When trying to compile pytorch from source I get the following error in BinaryOps.cpp
`../aten/src/ATen/native/BinaryOps.cpp: In function ‘at::Tensor& at::native::heaviside_out(at::Tensor&, const at::Tensor&, const at::Tensor&)’:
../aten/src/ATen/native/BinaryOps.cpp:941:89: error: no matching function for call to ‘at::TensorIterator::binary_op(at::Tensor&, const at::Tensor&, const at::T

[2020-08-29 02:47] hadypranoto commented on #27837
Exception has occurred: RuntimeError
cuDNN error: CUDNN_STATUS_MAPPING_ERROR (getCudnnHandle at ..\aten\src\ATen\cudnn\Handle.cpp:45)
(no backtrace available)

[2020-08-29 03:13] hadypranoto commented on #27837
Exception has occurred: RuntimeError
CUDA error: CUBLAS_STATUS_EXECUTION_FAILED when calling `cublasSgemm( handle, opa, opb, m, n, k, &alpha, a, lda, b, ldb, &beta, c, ldc)` (gemm at ..\aten\src\ATen\cuda\CUDABlas.cpp:165)
(no backtrace available)

[2020-08-29 03:55] peterjc123 commented on #43763
Well, the underlying problem is that the Windows packages are not hosted on PYPI. So instead of `pip install -r requirements.txt`, you may need to use `pip install -r requirements.txt -f https://download.pytorch.org/whl/torch_stable.html`.

[2020-08-29 03:58] peterjc123 commented on #43763
I'm going to close this issue as a duplicate to https://github.com/pytorch/pytorch/issues/8098.  Please feel free to reopen it when you disagree.

[2020-08-29 03:58] #43763 closed

[2020-08-29 04:09] peterjc123 commented on #35803
@girishnjha Have you installed `intel-openmp`? You may do that by doing `pip install intel-openmp`.

[2020-08-29 05:17] xw285cornell commented on #43690
Agreed :)

[2020-08-29 06:07] asanakoy commented on #43815
Yes, I see, one can set `torch.__future__.get_overwrite_module_params_on_conversion(True)`.
As far as I understood this behaviour is needed to enable moving to XLA devices, right?

[2020-08-29 06:25] zasdfgbnm opened #43829 "Poor support of torch.pow(out) for complex tensor"
[code]

cc @ezyang @anjali411 @dylanbespalko

[2020-08-29 06:26] zasdfgbnm commented on #35284
c10::complex is done

[2020-08-29 06:26] #35284 closed

[2020-08-29 07:33] hameerabbasi commented on #42942
Here's the procedure I followed: I replaced `isinstance(..., Tensor)` with `isinstance(..., Tensor) or hasattr(..., "__torch_function__")` every time I hit a snag, until I hit this case, which happens to be defined in C++.

I then got this traceback:

[code]

The current version of my code can be found here: https://github.com/hameerabbasi/pytorch/tree/gradcheck-override

[2020-08-29 08:33] akihironitta commented on #43770
Thank you for your quick response.

Sure, I'll remove `raise_from()` and use `raise .. from ..` instead all over the codebase.

I agree that not all instances require exception chaining. However, I think we should not use implicit chaining in the above case because its error message `During handling of the above exception, another exception occurred` is confusing.

For example, if we run the scrip

[2020-08-29 08:52] zasdfgbnm opened #43833 "torch.tensor does not support list of complex tensor"
[code]

cc @ezyang @anjali411 @dylanbespalko

[2020-08-29 09:06] ppwwyyxx opened #43834 "segfault together with "import cv2""
## 🐛 Bug

To reproduce:

[code]

A lower-level repro (to replace a.py above):
[code]
logs for this one:
[code]

cc @ezyang @gchanan @zou3519 @malfet @seemethere @walterddr

[2020-08-29 09:30] akihironitta commented on #43770
As there seems a lot of places (over 100 places in this repo) to check, it may be a good idea to label this issue as `good first issue` for people who are interested in contributing. It can also make each PR relatively small. What do you think? (I can work on this issue by myself, but it might take some time...)

[2020-08-29 10:48] mariosasko commented on #43815
Yes, this [PR](https://github.com/pytorch/pytorch/pull/21613) explains it.

[2020-08-29 13:32] Coderx7 commented on #43611
@glaringlee Thanks a lot its really appreciated. its specially a bliss for for projects involving other vision libraries that may have extremely slow debug builds, and for development you have to constantly switch between the two to get by!

[2020-08-29 15:19] fatvlady opened #43837 "MultivariateNormal backprop performance issue related to broadcasting"
## 🐛 Bug

Currently multivariate normal broadcasts `loc` and `covariance_matrix` tensors together, effectively creating `loc_` tensor of shape `(*batch_dims, n, n)` and slicing from it after instead of creating tensor of shape `(*batch_dims, n)`. Although there's not much performance difference during forward pass, it creates massive `fill_` operation during backward pass which just zeroes gradien

[2020-08-29 15:34] WaterKnight1998 commented on #43763
The problem with that approach is that you need to add the following code to setup.py of a package that depends on PyTorch:
[code]

[2020-08-29 15:35] gerwin3 commented on #42311
Does this mean that there's no Tensor Core support for models with 3D convolutions? (because that would require them to be NDWHC format)

[2020-08-29 16:51] rgommers commented on #43787
A `FutureWarning` seems needed for a change like this I'd think, documentation alone is too easy to miss.

[2020-08-29 17:06] QuantScientist commented on #33343
Same here.

[2020-08-29 17:23] Feliren88 commented on #12728
Hey, I am keen to work on this as first timer in open source.

[2020-08-29 17:36] girishnjha commented on #35803
i installed intel-openmp. Still getting the same error

[2020-08-29 18:08] mostafahadian opened #43840 "CrossEntropyLoss does not raise target out of bounds error on gpu"
## 🐛 Bug

CrossEntropyLoss does not raise target out of bounds error on gpu. When I test it on cpu it works perfectly. But on gpu, it does not raise any errors.

## To Reproduce

Steps to reproduce the behavior:

1. Install pytorch 1.5.0 on ubuntu 18.04
2. Run `torch.nn.CrossEntropyLoss()(torch.tensor([[2.5, 0, 0], [0, 0, 2.5]]).to("cuda"), torch.tensor([0, 1000]).to("cuda"))`
This is supposed to

[2020-08-29 18:27] aayn commented on #42223
Thanks! I think `parallel_for` might work. But I think these parallel utilities work only if the input is padded, right?. That is, only if the dimension along which we are packing is a multiple of 8. Do you think it is worth the tradeoff to pad (with zeros) the input first and then do the packing? This would probably take up some extra memory, but could potentially be faster and easier to implemen

[2020-08-29 19:50] mruberry commented on #43787
Some additional context:

- division in PyTorch currently runtime errors when trying to perform integer division, so integer division cannot be exported at the moment
- there are probably other operators with the same issue that their semantics cannot be correctly exported to ONNX

[2020-08-29 19:52] zasdfgbnm commented on #43833
I think the root cause is because tensor objects do not have `__complex__`:
[code]

[2020-08-29 21:41] LazyTrader opened #43845 "Unable to import pytorch"
## 🐛 Bug

Upon importing pytorch, I get "OsError: [WinError 126] The specified module could not be found. Error loading "C:\ProgramData\Anaconda3\envs\DeepLearning\lib\site-packages\torch\lib\asmjit.dll" or one of its dependencies."

## To Reproduce

Steps to reproduce the behavior:

1. Try to import pytorch using "import torch"

## Expected behavior

Pytorch should be able to be imported without

[2020-08-29 23:09] mruberry commented on #42223
In general these functions do work on unpadded inputs (`torch.sum` uses them, for example) but it's likely you'd have to create modified versions of them to do what you'd like (that is, do something along the lines of creating helpers for windowing functions).

To recap our earlier discussion, I think there are still four ways to go:

- develop generic helpers for "windowing functions" like packbi

[2020-08-29 23:45] rgommers commented on #42942
Okay I can reproduce that. So it's failing inside `torch.autograd.grad`, because that function assumes that if it doesn't get a `Tensor`, it's a list of tensors:
[code]

`autograd.grad` does seem like something that could be considered for putting a dispatcher on. The next line, `get_numerical_jacobian`, will fail too though, with
[code]

`gradcheck` does do a few too many things that rely on priv

[2020-08-30 00:10] rohan-varma commented on #43690
@pritamdamania87 @xw285cornell The argument can simply be `List[nn.Parameter]` as well, although  I proposed being able to accept nn.Module as well to make it a bit easier for the user, if we only accept parameters, the user will have to manually go through their modules and add all the parameters into a single list. With `module.parameters()` this is probably easy enough for the user, though.

[2020-08-30 03:17] qizzzh opened #43851 "nn.functional.linear output mismatch between eager and scripting mode"
## 🐛 Bug

nn.functional.linear output mismatch between eager and scripting mode

## To Reproduce

[code]

## Expected behavior

Expected both return True. However the first comparison returns False.

cc @gmagogsfm

[2020-08-30 03:48] peterjc123 commented on #35803
@girishnjha Could you please provide the log using Process Monitor or the Debugging Tools for Windows?

[2020-08-30 04:34] mruberry opened #43852 "CUDA complex acos fails gradcheck on Windows"
acos fails gradcheck with complex CUDA inputs on Windows. It passes on other platforms. Example failure:

[code]

cc @ezyang @SsnL @albanD @zou3519 @gqchen @anjali411 @dylanbespalko @ngimel @peterjc123 @maxluk @nbcsm @guyang3532 @gunandrose4u @smartcat2010 @mszhanyi

[2020-08-30 04:44] qizzzh commented on #43851
I'm experimenting with the change below and checking unit tests

[code]

[2020-08-30 04:50] ezyang commented on #10223
Your PRs prompted me to do a more careful read of the proposal. I have some more high level comments.

Although this is convenient from an implementation perspective, I don't think it's appropriate to place the forward mode AD code in the same location as the backwards mode AD code. Here is why: in the past, a lot of code has been implemented by shoveling them into VariableType definitions. Howeve

[2020-08-30 05:27] ezyang commented on #10223
I don't agree. But the reasons I don't agree go into a more complicated API design problem which I suppose I should lay out in more detail now.

JAX provides a purely high level API for forward mode AD: given a function, JAX can give you a higher order combinator jvp to compute the product. Internally, this is implemented using something like dual numbers, but this fact is never exposed to users (

[2020-08-30 09:13] Karol-G opened #43856 "Code changes are getting applied during runtime when using 'spawn'"
## 🐛 Bug
Setting multiprocessing start method to 'spawn' and using num_workers > 1 in the dataloader has as consequence that every change of code made in the dataset class will be reflected during runtime once a new epoch starts.

## To Reproduce
Here is a minimal example to reproduce the bug:
[code]
Change the print statement during runtime. The change will be visible with the start of the next e

[2020-08-30 11:54] SeanRBurton commented on #41006
Does anyone think this is worth doing?

[2020-08-30 13:41] #20143 closed

[2020-08-30 14:46] HawkRong opened #43859 "Multi-machine multi-gpu training won't start on CNGrid"
## 🐛 Bug

I tried to train an object detector network using MMDetection 1.0 codebase based on pytorch 1.4, over a cluster (CNGrid) managed with slurm. I used the script provied by the codebase to launch multi-node-multi-gpu training. However, the process stuck at the begining where it tried to load pretrained backbone network weights. When I looked into the nodes allocated to me, I discovered a st

[2020-08-30 15:29] Flock1 commented on #14200
@zou3519, I am installing PyTorch on Rasp Pi 4 and I have set the environment variable as 1. I am still getting the error. What should I do?

[2020-08-30 16:44] akihironitta commented on #43770
@malfet Thanks for your response the other day. As I checked and fixed all the files under `torch/` directory, could you have a look at #43836?

[2020-08-30 17:23] girishnjha commented on #35803
[Logfile.zip](https://github.com/pytorch/pytorch/files/5147188/Logfile.zip)

[2020-08-30 18:20] malfet commented on #43770
@akihironitta left a few comments on the PR, but overall looks good!

[2020-08-30 18:36] zasdfgbnm commented on #43669
[code]
does not produce link
![image](https://user-images.githubusercontent.com/1032377/91666839-0e698d00-eab5-11ea-8397-66f554b949a2.png)

[2020-08-30 18:39] prokotg commented on #5261
I would also appreciate the feature. Using Sobolev Training :)

[2020-08-30 18:51] mattip commented on #43669
I think it is OK that `bool` is not a link.

[2020-08-30 18:54] dashesy commented on #43283
@BowenBao looks like this is exporter issue after all. Created new issue.

[2020-08-30 21:15] SsnL commented on #43856
This is expected from spawn, because well it is literally spawning a new python process which then reads and runs the script.

[2020-08-30 21:43] rohan-varma commented on #24137
Hi @sajadn, this was landed ~1 month ago so it should be part of the next release, PT 1.7. Until then, you can try out the nightly build (see instructions at https://pytorch.org/) where this is fixed.

[2020-08-30 21:47] dichotomies opened #43864 "Missing `IndexError` when accessing elements outside of shape of CUDA tensor"
## 🐛 Bug

A CUDA tensor can be used to access elements outside of its own memory scope (i.e. with indices that are invalid for its shape).

## To Reproduce

[code]

Results in output:
[code]

## Expected behavior

The indices that can be used to access the elements of a tensor should be limited by the tensors shape. This works as expected if the tensor is initialized on CPU, but no `IndexError` is

[2020-08-30 22:08] rgommers commented on #37722
I'll assume this is fixed in master, closing.

[2020-08-30 22:08] #37722 closed

[2020-08-30 22:30] kdexd opened #43865 "Allow custom kwargs for forward method of nn.TransformerEncoderLayer, nn.TransformerDecoderLayer."
## 🚀 Feature

A simple feature to allow passing custom keyword arguments for `nn.TransformerEncoderLayer` and `nn.TransformerDecoderLayer`. Ideally, users should be able to flexibly use `custom_encoder` and `custom_decoder` arguments of `nn.Transformer` which can accept arguments of any arbitrary name.

## Motivation

Currently, the `forward method of any custom encoders and decoders require to fo

[2020-08-30 23:49] interesaaat opened #43867 "torch.bincount beyond 1d array"
## 🚀 Feature
Currently `torch.bincount` only works over 1d arrays. It would be good to have it working also on tensors of arbitrary shape. This feature for example is available in Tensorflow, where you can specify the dimension on which to apply `bincount`.

## Motivation

In [Hummingbird](https://github.com/microsoft/hummingbird/) we are using `torch.mode` for multiclass SVM. However (1) `torch.m

[2020-08-31 00:03] huanzhang12 commented on #38412
I did a test on three AMD Zen based systems (Zen 1, Zen+ and Zen 2) and I can confirm that:

1. The `MKL_DEBUG_CPU_TYPE` flag is removed in latest MKL (I tested 2020.2)
2. On AMD systems, the behavior on MKL 2020.2 is different than MKL 2020.0 (and earlier versions), however **it is still very slow**.

Nevertheless, **we should not rely on MKL's unpredictable behavior on AMD systems**. AMD CPUs ar

[2020-08-31 01:54] rohan-varma opened #43868 "In profiler, recorded block's total time can be less than the operators within the block"
## 🐛 Bug

In the following code:

[code]

it is possible that the CPU time for `record_function` (which is supposed to start before and end after all the user-invoked operators in this code) is greater than the sum of the rest of the events. This doesn't seem like a great user experience since we would like record_function to only profile operators invoked by the user within the scope, but looking

[2020-08-31 02:21] rohan-varma opened #43869 "In profiler, calling `key_averages()` unexpectedly changes CPU time returned for profiled events"
## 🐛 Bug

When using the profiler, many users typically call `event.self_cpu_time_total` to determine the CPU time for an individual operator. However, the result of this can counterintuitively change if the user calls `key_averages()` on the profiler object in between successive calls, which can lead to confusion over the true expected result. It is also not clear from the documentation that call

[2020-08-31 03:27] Coderx7 commented on #43611
I rechecked the libs and headers for debug and they refer to the debug builds 100%. I also removed the libs folder from PATH and tried again and this still returns false for debug build.
What should I do more to get you more information concerning this?

[2020-08-31 03:32] shihlun1208 commented on #43687
@malfet I'm using pytorch 1.4.0 torchvision 0.5.0 cuda 10
Thanks for the suggestion. It seems like vs2019 is not supported with cuda 10.
So I downgraded my build tools from 2019 to 2017, it did not occur the error again.

[2020-08-31 04:52] gmagogsfm commented on #43511
Did some initial triaging, I think this is simply because our `aten::slice` doesn't match Python's slice argument type. Python slice allows `None` value while `aten::slice` doesn't.

Jerry, I can't see your original code, thus can't recommend a work-around. Do you mind sharing a bit more about the use case to help us determine work-around and priority of the bug?

[2020-08-31 04:56] gmagogsfm commented on #43766
Hi feiyangsuo,

You are right that it is indeed a zip file. See [PyTorch 1.6 release notes](https://github.com/pytorch/pytorch/releases/tag/v1.6.0) about the change (search for "zip" in the linked webpage). I would suggest upgrading to 1.6 and the issue should be gone. If that's not the case, please update the bug and we will investigate. Or if you have reasons to not upgrade to 1.6, let us know a

[2020-08-31 05:00] feiyangsuo commented on #43766
@ gmagogsfm
Thanks, that's the case. :)

[2020-08-31 05:03] #43658 closed

[2020-08-31 06:21] Karol-G commented on #43856
I am using another model on the gpu during preprocessing in an online learning setting and are therefore forced to use 'spawn'. I am also still optimizing/improving my code/settings in the dataset class and train many instances of my real model (the one that uses the dataset class, not the preprocessing one). But whenever I change something in the dataset class all of my current train instances be

[2020-08-31 06:30] atiorh commented on #5672
Finding out about this awesome sparse `torch.bmm` support in torch is non-trivial. I believe that this should be exported/aliased under the `torch.sparse` namespace so that folks can learn about it in a central landing doc page.  Would you agree @kurtamohler ?

[2020-08-31 07:11] speedcell4 opened #43873 "PackedSequence objects that are created within jit.script are not PackedSequence"
## 🐛 Bug

`PackedSequence` objects that are created within `jit.script` are not `PackedSequence`

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

[code]

## Environment

[code]

[2020-08-31 07:41] jackm321 opened #43874 "floor_divide truncates instead of flooring"
## 🐛 Bug

PyTorch's floor_divide (//) operator doesn't match Python's behavior on negative numbers. Python floors (rounds down) while PyTorch truncates (rounds towards zero).

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

Expect PyTorch's floor_divide to match Python // operator by flooring division results instead of truncating them.

## Environment
[code]

cc @

[2020-08-31 07:44] jackm321 commented on #43874
cc @mruberry

[2020-08-31 07:46] mruberry commented on #43874
Thanks for reporting this issue, @jackm321. Let me know if you need a fix super urgently, otherwise it'll probably take a few days.

[2020-08-31 08:07] jackm321 commented on #43874
Thanks for looking into it @mruberry! Fix isn't needed urgently

[2020-08-31 08:34] fatvlady commented on #43837
@ezyang @gchanan @fritzo

[2020-08-31 08:48] 949081642 opened #43875 "add_module function in libtorch ?"
## ❓ add_module function in libtorch ?c++API

### Is there this api in libtorch?
thank you

[2020-08-31 08:49] FrancescoSaverioZuppichini opened #43876 "Insert at specific index/key in nn.Sequential"
## 🚀 Feature
It would be great if we can insert a module in a specific position inside a `nn.Sequential`. This allows for more customization. For example. Assuming somebody provides me this `block`

[code]
#proposed api
block.insert(name='bn', module=nn.Batchnorm2d(64), after='conv1')
[code]

[2020-08-31 09:19] hameerabbasi commented on #42942
I've got this "sort of" working with an ugly hack: https://github.com/hameerabbasi/pytorch/blob/489f24b909621a7cf2156299c9fe37eaea9e1401/torch/autograd/gradcheck.py#L25

The issue @rgommers was seeing was due to `Wrapper` (the test class) having a `data` attribute, which I renamed to `_data`. Mostly, it was adding operators and the "ugly hack" after that.

[2020-08-31 09:24] akihironitta commented on #43770
@malfet Thank you for reviewing the changes! I've just fixed them reflecting your code.

[2020-08-31 09:42] hameerabbasi commented on #42942
Here's the set of methods/functions one needs to have defined in `__torch_function__` for this to work:

<details><summary>Defined Attributes</summary>

[code]
</details>

<details><summary>Attributes that are set</summary>

[code]
</details>

<details><summary>Functions/methods passed into `__torch_function__`</summary>

[code]
</details>

[2020-08-31 10:23] djordjemiladinovic commented on #42996
Hi @mcarilli

I finally tested what you proposed i.e. using "addmm" instead of "mm" and "add" separately and it seems like it works, I get both memory and speed improvements. In this mini example, I get HalfTensor where I expect. Your suggestion helped, thanks ! I too think it would be a valuable tip for practitioners.

I am aware of LSTM and LSTMCell APIs, however in fact I am using a really cust

[2020-08-31 10:23] #42996 closed

[2020-08-31 10:38] sthabinod commented on #27693
Still not working!

[2020-08-31 10:39] sthabinod commented on #27693
I am having this kind of problem in django!
Can anybody could solve this or have similar kind of problem.
Error:
    self._handle = _dlopen(self._name, mode)
OSError: [WinError 193] %1 is not a valid Win32 application

[2020-08-31 12:04] vadimkantorov commented on #42959
This fused multiplication + conversion should be a good test case for fuser / fx / or whatever the latest pytorch compiler technology is called :)

[2020-08-31 12:33] socome commented on #4073
how can i use 1st solution in python ?? I don't

[2020-08-31 13:08] jramapuram commented on #35600
I'm seeing something similar in a nested function call to a `torch.jit.script` function:

[code]

This used to work fine in pytorch 1.2; in pytorch 1.6 I see a constant increase in RAM usage. Commenting out `@torch.jit.script` makes everything work correctly. I also moved the inner `_looped_cross_entropy` function outside, but it still OOM-d.

[2020-08-31 13:16] mariosasko commented on #43876
I would advise you to store modules inside `nn.ModuleList`, which supports insertion, and layer names in a separate dict/list. Then you can easily insert new modules at a specific position and iterate over them in the forward pass.

[2020-08-31 13:28] dbsxdbsx opened #43878 "Normal and Categorical distribution have inconsistent behaviors with log_prob()"
- PyTorch Version  1.6
 - OS (e.g., Linux): win10
 - Python version: 3.7.6
 - CUDA/cuDNN version: 10.2, 7.6

Here I am referring to the inconsistent output shapes when using log_prob() with Normal and Categorical distributions.
Code for reference:
[code]
Though it could be worked around, I treat it as a bug, as this gives users weird feeling on dealing with the same interface.
And I also found som

[2020-08-31 13:47] YoucanBaby commented on #39067
UserWarning: You are trying to export the model with onnx:Upsample for ONNX opset version 9. This operator might cause results to not match the expected results by PyTorch.
ONNX's Upsample/Resize operator did not match Pytorch's Interpolation until opset 11. Attributes to determine how to transform the input were added in onnx:Resize in opset 11 to support Pytorch's behavior (like coordinate_trans

[2020-08-31 14:10] puthurr commented on #36941
Hi All

Have the same issue with **torchtext** though (torch alone is fine)

Python 3.7.7 (v3.7.7:d7c567b08f, Mar 10 2020, 02:56:16)
[Clang 6.0 (clang-600.0.57)] on darwin
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/Users/nicolas/projects/PyTorch/venv/lib/python3.7/site-packages/torchtext/

[2020-08-31 14:28] anjali411 commented on #43829
@zasdfgbnm thanks for filing the issue!
For the case with scalar base and tensor exp, it looks like we need to update [this](https://github.com/pytorch/pytorch/blob/a860be898ee0fbafac14bf68e920187a76ded70d/aten/src/ATen/native/Pow.cpp#L45) `pow_out` method to check for complex like here: https://github.com/pytorch/pytorch/blob/a860be898ee0fbafac14bf68e920187a76ded70d/aten/src/ATen/native/Pow.cpp#L

[2020-08-31 14:29] glaringlee commented on #43611
@Coderx7 If this is not related to lib mismatch, this might related to the way DEBUG Mode works.
Can you print out the result of each step of your code? just use cout, and please print out `c10::IntArrayRef{ 3,3 }` as well.

@peterjc123 Can you help to reproduce this on windows and if this is reproduce-able, can you help investigate a bit?

[2020-08-31 14:33] albanD commented on #43851
Hi,

It is possible that they're not bit-wise equal, but the difference is just due to floating point inaccuracy (because they do op in a different order) right?

[2020-08-31 14:36] ruathudo commented on #40497
What is your optimizer, how many epochs you ran so far to be "fine"? I'm using Adam and not sure if I set a small value like yours it will work.

[2020-08-31 14:37] albanD commented on #43492
I am not sure to see the benefit of this feature (given that it adds more complexity to the API).
You could create the Tensor directly on the GPU or do the expand  after moving it.
Do you have a particular use case where these wouldn't be possible?

[2020-08-31 14:48] fritzo commented on #43837
It seems like a good solution would be to implement a fast jittable helper like [np.broadcast(...).shape](https://numpy.org/devdocs/reference/generated/numpy.broadcast.html) or Pyro's [broadcast_shape(...)](https://github.com/pyro-ppl/pyro/blob/7c2c22c10dffda8a33ffbd593cc8d58819959e40/pyro/distributions/util.py#L151). In Pyro we use `broadcast_shape()` extensively for multivariate distribution res

[2020-08-31 15:23] #43405 closed

[2020-08-31 15:25] hanwinbi commented on #40497
@ruathudo My optimizer is also Adam, My datasets is large, but the result is not very well, so I stop it until 300 epochs.

[2020-08-31 15:30] VitalyFedyunin commented on #43492
Basically they want opposite =) to be able copy (or move) tensor with all it's strides preserved and with similarly sized storage. This is actually not the first time I'm seeing such request. Maybe we should submit feature request and let users vote on it.

[2020-08-31 15:47] fehiepsi commented on #43837
Yes, I agree that the `expand` logic here can be expensive.

@fritzo I think it is better to do `self.scale_tril = scale_tril.expand(shape + (-1,))` and leave `scale_tril` as-is (because it is stored in `unbroadcasted_scale_tril`).

[2020-08-31 15:48] albanD commented on #43492
I mean do `a = torch.randn(n, device="cuda").expand(n, n)`. So that it is clear what you want to do.
Is this really much more complex? Or are there cases where you cannot do that?
All the ops that work on size/stride/offset have the same runtime if the Tensor is on CPU or GPU anyways.

[2020-08-31 15:51] VitalyFedyunin commented on #43492
Alternative option is:

[code]

[2020-08-31 15:55] malfet commented on #36941
@puthurr what versions of PyTorch and TorchText are you trying to install?

[2020-08-31 16:12] fatvlady commented on #43837
@fehiepsi Is there any particular reason why broadcasted `self.scale_tril` and company are stored inside the distribution object? I mean, if we really want to store it so user can see the property, why it should be broadcasted at all? I see usages only within `expand` method, and it only expands covariances to match new batch shape.

[2020-08-31 16:28] fehiepsi commented on #43837
I am not sure but I think it comes from the original design decision: all parameters should have correct batch_shape.

[2020-08-31 16:37] fatvlady opened #43882 "JIT breaks down addmm into add and mm"
## 🐛 Bug

JIT tracing/scripting breaks down `addmm` into `add` and `mm` ops.

## To Reproduce
[code]
Output:
[code]

## Expected behavior

Both Python and traced versions should call `addmm` fused operation. Not only it is breaking correctness, it also slows down traced function.

## Environment

[code]

@t-vi

cc @gmagogsfm

[2020-08-31 16:54] mszhanyi commented on #43480
So, it should be closed

[2020-08-31 17:18] mszhanyi commented on #43845
@LazyTrader , did you use `conda install pytorch cudatoolkit=10.2 -c pytorch` to install pytorch

[2020-08-31 17:20] jerryzh168 commented on #43511
should be reproducible by symbolic trace a googlenet and then script it I think. got the error in this test: https://github.com/pytorch/pytorch/blob/master/test/quantization/test_quantize_fx.py#L916

you can set model_list to googlenet in L920(https://github.com/pytorch/pytorch/blob/master/test/quantization/test_quantize_fx.py#L920):
[code]
and remove https://github.com/pytorch/pytorch/blob/master

[2020-08-31 17:21] spandantiwari commented on #33343
As @albanD mentioned above, there's no immediate plan to support this.

[2020-08-31 17:24] spandantiwari commented on #39067
We can put this on the backlog, but we do not have immediate plans for adding support for this. Please consider sending a PR for adding support.

[2020-08-31 18:05] ezyang commented on #10223
conj shouldn't be necessary, as there is no transpose (hermitian) involved in Jvp.

[2020-08-31 18:06] FrancescoSaverioZuppichini commented on #43876
Hi @mariosasko. It is not the same thing and the scope is different. First, you have to write a `forward` and you cannot use it directly. Second, imagine that you want to extend a model written by another person. Been able to insert modules in a `nn.Sequential` should be the way to go in my opinion. It allows more extensibility and I cannot see why this can hurt :)

[2020-08-31 18:11] qizzzh commented on #43851
Hi @albanD, yeah I think that's the case. However we have some testing infra asserting that the outputs from eager and scripting mode are the same. It'd be better if we can fix it. Do you think the code snippet above could be a correct fix? I hit some unit test failures asserting certain nodes appear in the graph (e.g. add, mm, addmm) and checking if something's really broken or just the tests nee

[2020-08-31 18:14] ezyang commented on #42942
Just a meta comment: it is likely that you should implement `gradcheck` differently if you can't assume that what is passed in is a Tensor; you are more likely to try to reduce the set of function you are actually using in this case.

[2020-08-31 18:18] vadimkantorov commented on #43882
Potentially related: https://github.com/pytorch/pytorch/issues/39661

[2020-08-31 18:18] kienerj commented on #38412
@huanzhang12

Agree that a intel independent build ready to go is a good thing. I can't repeat your tests as in I'm getting same performance in all cases on my 3900x. Maybe Intel are limiting core-scaling which doesn't affect my 3900x but does your 64-core epyc? No idea. I score at 30s for this test (windows 10!!!)

But it seems we both are right. See [this issue](https://github.com/pytorch/builde

[2020-08-31 18:21] albanD commented on #43851
IIRC the jit is doing optimization like constant propagation or peephole optimization. So you can't guarantee bit-perfect equality in general no?

I don't know about the jit testing :/
I think one of the reason this was not merged is that some jit passes are looking for this collection of ops to merge them with things that are around.  But you'll need to ask someone more familiar with the jit I'm

[2020-08-31 18:22] puthurr commented on #36941
Just installing the latest available
torch in ./venv/lib/python3.7/site-packages (from -r requirements.txt (line 1)) (1.6.0)
torchvision in ./venv/lib/python3.7/site-packages (from -r requirements.txt (line 2)) (0.7.0)
torchtext in ./venv/lib/python3.7/site-packages (from -r requirements.txt (line 3)) (0.7.0)

[2020-08-31 18:26] LazyTrader commented on #43845
@mszhanyi

I used conda install -c pytorch pytorch and the cuda version that I have was shipped together

[2020-08-31 18:27] gchanan commented on #43492
Allow `preserve` memory format to actually preserve?!

[2020-08-31 18:36] ngimel commented on #43492
numpy `astype` with the default `K` option (which means "as close to the order the array elements appear in memory as possible") does not preserve zero strides and produces memory-dense non-overlapping arrays.
If an original tensor is a slice, "preserve" can reasonably be taken to mean "preserve permutation of my tensor, but make it memory dense" (which is more or less what we and numpy do, with c

[2020-08-31 18:40] neginraoof commented on #43787
@mruberry
I saw you have implemented the aten::true_divide symbolic using ONNX's division operator, and the symbolic is mimicking true division: https://github.com/pytorch/pytorch/commit/3671036ef326ec63039127b3831bcdd34e72d1b3
The logic is to check input dtype and apply casting if one of inputs is not floating point or its dtype is unknown. Is this existing logic not sufficient for supporting the

[2020-08-31 18:41] #43833 closed

[2020-08-31 18:58] #43768 closed

[2020-08-31 19:06] malfet opened #43897 "Enable Python code coverage on Windows"
Add new config or modify existing one to run and report python code coverage on Windows

cc @ezyang @seemethere @malfet @walterddr @peterjc123 @maxluk @nbcsm @guyang3532 @gunandrose4u @smartcat2010 @mszhanyi

[2020-08-31 19:11] ezyang commented on #43837
cc @ngimel @albanD

[2020-08-31 19:16] ezyang commented on #43837
It seems to me that broadcasting tensors together and then slicing them after is a bad idea and you should avoid doing it. If there are ways we can make it easier to do the right thing in the API, those might be worth adding.

[2020-08-31 19:24] jshi31 commented on #3415
Do not write `h5py.File(file_path, 'r')` in `__init__` function, write it in `__get_item__`, and judge if you have read it. For example:
[code]
In this case, you will not read one h5 file multiple times in multi-processing

[2020-08-31 19:30] mruberry commented on #43787
I think the challenge is that we don't know at export time what the dtypes of the inputs will be when the ONNX graph is run?

[2020-08-31 19:34] msbaines commented on #32424
The sample app still generates a GPU0 context for the process running on GPU1. I was able to avoid the extra context by adding `torch.cuda.set_device(self.device)` at the very beginning of Trainer.run.

[2020-08-31 20:11] rkaplan commented on #38412
This article came out today with useful information on how to patch MKL 2020.2 to maintain the old `MKL_DEBUG_CPU_TYPE=5` speedup even though that trick no longer works: https://danieldk.eu/Posts/2020-08-31-MKL-Zen.html

tl;dr Compile a shared library that overrides `mkl_serv_intel_cpu_true`.

[2020-08-31 20:15] kurtamohler opened #43904 "Documentation and `torch.sparse` alias for `torch.bmm` sparse-dense"
## 📚 Documentation

As shown in issue comments [here](https://github.com/pytorch/pytorch/issues/5672#issuecomment-680792208), the documentation for `torch.bmm` does not mention that it supports sparse-dense inputs, so users will have trouble finding and using this feature. Also, there is currently not an alias for the sparse-dense functionality in the `torch.sparse` module.

[2020-08-31 20:16] kurtamohler commented on #43904
I would be happy to make these changes, just please let me know if I'm cleared to work on it.

[2020-08-31 20:16] kurtamohler commented on #5672
@atiorh, yes I think that would be a great idea. I've opened an issue.

[2020-08-31 20:22] spandantiwari commented on #41007
Thanks @TommasoBendinelli. I will close this issue now. Feel free to reopen if you see any issue related to this.

[2020-08-31 20:22] #41007 closed

[2020-08-31 20:29] #38174 closed

[2020-08-31 20:33] rohan-varma commented on #33148
Done by (#42577)

[2020-08-31 20:33] #33148 closed

[2020-08-31 20:44] kurtamohler commented on #24802
I'm opening this back up because there are a few more features that I need to add, which we decided should be separate from the main PR #42749:

- Add `dtype` arg support to nuclear and frobenius norm
- Add named tensor support in matrix norm
- Simplify frobenius and nuclear norm implementations by making the non-out variants call the out variant.
- Use out variants of functions called from `linal

[2020-08-31 20:55] fritzo commented on #43837
Would anyone be able to help me create a `torch.broadcast_shape()` helper compatible with Pyro's, which could then be used to broadcast without slicing? I would be happy to write the unit tests, docstring and C++ implementation, but I have not touched PyTorch C++ internals in a long time and I would need a lot of help with function registration and which-files-to-touch. Alternatively I could revie

[2020-08-31 21:03] fritzo commented on #43138
@ngimel I do agree we should disallow integer probs and more generally integer inputs to many real parameters. I'll try to submit a PR this week.

[2020-08-31 21:03] qizzzh commented on #43851
Yeah I don't know what kind of expectation we should have. Personally I think at each nn.functional function level it should match however I agree for such comparison torch.allclose is probably the one to use.

[2020-08-31 21:04] mruberry commented on #24802
Do we not get this for free from the arg parser?

[2020-08-31 21:08] kurtamohler commented on #24802
Oh you're right! I thought I had tried that out before and it didn't work, but evidently I was wrong:
[code]

[2020-08-31 21:20] ailzhang opened #43908 "Fallback kernel for Autograd dispatch key."
Currently we register `fallthrough` as fallback kernel for `Autograd` key. Per discussion on VC, it should be replaced by a kernel that "redispatches without Autograd keys".

The main use case for it is:
for backend extenders, when they register a kernel to PrivateUse1 that can handle autograd, they get autograd support without explicitly registering to `AutogradPrivateUse1` key.

cc: @bhosmer @ez

[2020-08-31 21:20] kurtamohler commented on #29137
I can pick this back up now since PR #43262 added support for `int[n]?`

[2020-08-31 21:35] erip opened #43909 "*NNPACK are required to build Java bindings"
## 🐛 Bug

*NNPACK are optional when building libtorch, but are [required when building Java bindings](https://github.com/pytorch/pytorch/blob/master/android/pytorch_android/CMakeLists.txt#L131-L133) (which link libtorch).

## To Reproduce

Steps to reproduce the behavior:

1. `git clone https://github.com/pytorch/pytorch`
1. `cd pytorch`
1. `USE_NNPACK=OFF USE_XNNPACK=OFF USE_PYTORCH_QNNPACK=OFF B

[2020-08-31 21:53] albanD commented on #43837
@fatvlady do we only need to update the `MultivariateNormal` implementation to avoid doing this expand that is not useful?
Also I am quite confused by the `MultivariateNormal.expand()` function that doesn't seem to be used in the file.
Is there any downside of this?
If it's only the extra call to expand, would the `broadcast_shape()` proposed above solve this?

@fritzo you can just add that functi

[2020-08-31 21:59] Lilyjjo commented on #43388
cc @dreiss

[2020-08-31 22:01] neginraoof commented on #43787
Yeah we deal with this issue in symbolics in different ways. The current logic for true_divide inserts an onnx::Cast to ```torch.get_default_dtype()``` node in cases where there's no input with known floating point dtype.

Just a note: we have recently implemented an experimental feature for type/shape inference during ONNX export at symbolic-level. Though this is the first step towards having com

[2020-08-31 22:03] eellison commented on #43851
@qizzzh we do have automated testing that eager & script return equivalent results. I think  maybe https://github.com/pytorch/pytorch/issues/20734 is the blocker for changing the linear implementation ? I'm not fully sure.

As @albanD mentioned, we don't guarantee bitwise equality so in internal testing we recommend using assert_all_close. Closing, feel free to reopen if there is more to discuss.

[2020-08-31 22:07] Lilyjjo commented on #43766
good to hear! :)

[2020-08-31 22:07] #43766 closed

[2020-08-31 22:14] Lilyjjo commented on #42914
cc @spandantiwari

[2020-08-31 22:16] SplitInfinity commented on #42981
I'm working on this in the few minutes I have here and there: #43862. It's not ready yet but should be after a week or two.

[2020-08-31 22:22] fatvlady commented on #43837
@albanD Original proposal was just to fix unnecessary `loc` expand in MultivariateNormal, but it seems that it requires some changes on C++ side so that broadcast_shapes can be seamlessly used within JIT tracer.

[2020-08-31 22:22] eellison commented on #43767
Will be fixed by https://github.com/pytorch/pytorch/pull/43363

[2020-08-31 22:22] mruberry commented on #43787
I wrote the true divide ONNX export and I think it's too fragile to continue using, however. I tried updating div to be the same, for example, and it broke multiple tests. Also, while true divide was making a "best effort" attempt at preserving semantics, it also couldn't actually preserve semantics since it's transforms were based on previously observed values.

Hence why I think we should warn t

[2020-08-31 22:24] zcain117 opened #43918 "Breakage caused by #42629"
## 🐛 Bug

[this line](https://github.com/pytorch/pytorch/blob/master/tools/codegen/model.py#L3) is causing a crash when we try to build pytorch.

Crash looks like this:
[code]

(all times in US/West)
Our 7AM, 8AM builds and earlier were all fine but 9AM, 10AM, 11AM builds all crashed with that same traceback.

The new import was added in https://github.com/pytorch/pytorch/pull/42629/files which I

[2020-08-31 22:39] zcain117 commented on #43918
maybe easier to read for build command used:

`cmake -DBUILD_PYTHON=True -DBUILD_TEST=True -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=/pytorch/torch -DCMAKE_PREFIX_PATH=/../ -DNUMPY_INCLUDE_DIR=/root/anaconda3/envs/pytorch/lib/python3.6/site-packages/numpy/core/include -DPYTHON_EXECUTABLE=/root/anaconda3/envs/pytorch/bin/python -DPYTHON_INCLUDE_DIR=/root/anaconda3/envs/pytorch/include/pytho

[2020-08-31 22:40] ailzhang commented on #43918
@zcain117 please try `conda install dataclasses` in the CircleCi environment?

[2020-08-31 22:48] ngimel commented on #43840
Fixed in 1.5.1, 1.6 and master. Closing, please reopen if issue persists.

[2020-08-31 22:48] #43840 closed

[2020-08-31 22:53] ailzhang commented on #43815
Hmmm I'll take another look at the original PR and see whether it's still needed.

[2020-08-31 22:54] ailzhang commented on #43821
Looks like rebasing on top of master should fix? Please feel free to reopen if it doesn't

[2020-08-31 22:54] #43821 closed

[2020-08-31 22:55] ailzhang commented on #43875
Our cpp API are listed https://pytorch.org/cppdocs/api/library_root.html. Please reopen if it doesn't answer your question.

[2020-08-31 22:55] #43875 closed

[2020-08-31 22:59] ailzhang commented on #43757
Please reopen the issue using our issue template (and steps to reproduce the failure.) Thanks!

[2020-08-31 22:59] #43757 closed

[2020-08-31 23:51] #43918 closed

[2020-09-01 00:06] ailzhang commented on #43864
I agree that the CUDA one should indeed raise...
On the CPU error message part, it's actually "makes sense" that you're essentially doing zz[0][2] where `2` is the size of dimension 0. If you call `zz[0, 2]` it'll correctly report the dimension. We could probably live the current error message for now but the CUDA issue might be a high pri.

[2020-09-01 00:22] pbelevich commented on #43480
@mszhanyi I think it should be fixed

[2020-09-01 00:45] malfet commented on #38412
@huanzhang12 can you also please benchmark the performance of MKL 2020.3, which claims to have fixed the perf regressions introduced in MKL 2020.2

[2020-09-01 00:58] bhosmer commented on #43908
The big dependency here is full boxed fallback support, i.e. 100% boxing and unboxing coverage (boxing to call the boxed fallback from an unboxed context, unboxing to call the backend kernel for the forward pass).

This boxing/unboxing work is tracked in https://github.com/pytorch/pytorch/issues/32366. cc @smessmer in case we need to refresh status there.

BTW one key detail - the fallback we want

[2020-09-01 01:36] peterjc123 commented on #43845
Could you please post some logs using Process Monitor or the Debugging Tools for Windows?

[2020-09-01 01:38] peterjc123 commented on #27693
@sthabinod Well, it means that at least one dependency in the DLL load chain is not a valid one. You may get some better idea if you debug with Process Monitor or the Debugging Tools for Windows.

[2020-09-01 01:46] SplitInfinity commented on #42981
I don't see an existing stubs file for `torch._VF`. Can someone point me to an example of how I can create one?

[2020-09-01 01:55] peterjc123 commented on #35803
@girishnjha `VCOMP140.dll` is missing. Maybe you'll need to install VS Redist.

[2020-09-01 01:55] SplitInfinity commented on #42981
Also, `TestTypeHints.test_run_mypy_strict` already passes on master with `[mypy-torch.jit.*]` deleted from `mypy.ini`. Did you mean `TestTypeHints.test_run_mypy`? That one fails.

[2020-09-01 03:25] cobie8a opened #43934 "FAILED: lib/libtorch_global_deps.so"
## Compiling PyTorch v1.5.1 (and v1.6.0) fails due to "CUDA_cublas_LIBRARY-NOTFOUND" even as library is present

## Specific compile failure is below (and see attached build log output):

## System Info

## PyTorch:
- How you installed PyTorch: conda, source
- Build command you used (if compiling from source):

## Attachments:
[PYTORCH--BUILD--02_36_54--.log](https://github.com/pytorch/pytorch/fil

[2020-09-01 03:28] #43770 closed

[2020-09-01 03:40] lucasxlu commented on #32584
Having the same issue with PyTorch 1.6.0 (cuda 10.1). It runs formally on single GPU, while reports segmentation fault on 2 or more GPUs.

[2020-09-01 03:52] mruberry commented on #43876
Thank you for the feature suggestion, @FrancescoSaverioZuppichini. I think you can implement this functionality for yourself using a little Python even if PyTorch doesn't offer it. A Sequential object is a Module, and the Sequential constructor inserts the given Modules into the Module's _module OrderedDict. So I think you could acquire this OrderedDict from the object and rearrange the modules in

[2020-09-01 03:57] fritzo commented on #43837
@albanD @fatvlady are you ok with the proposed fix in #43935?

@albanD the `.expand()` method is a user-facing helper that is heavily used in Pyro to implement plates in graphical models.

[2020-09-01 05:13] aayn commented on #42223
I really wanted to do something tricky/challenging, but my schoolwork has been too demanding for the last few weeks. I think I'll take a break for now, and come back when things are more under control. Thank you so much, and sorry for taking up so much of your time for naught! Feel free to close this issue/reassign it so that anyone who's interested.
@mruberry

[2020-09-01 05:41] qizzzh commented on #43851
@eellison I think it's only triggered in some cases, e.g. the example above. I just found another internal case where torch.allclose with default rtol and atol would fail and I had to lower atol to 1e-07. I'm worried that the difference would propagate through layers and amplified in some cases and cause larger discrepancies.

[2020-09-01 05:43] idanh opened #43939 "cannot import name 'USE_RTLD_GLOBAL_WITH_LIBTORCH' on when importing torch"
## 🐛 Bug

Error `cannot import name 'USE_RTLD_GLOBAL_WITH_LIBTORCH'` after doing `import torch` on a fresh pip install.

## To Reproduce

Using AWS SageMaker Notebook with Jupyter Lab, running:

`!pip install torch torchvision`

And after installation is completed successfully, the following error appeared in my notebook:
[code]

## Expected behavior

Ability to import and use pytourch

## Environ

[2020-09-01 06:36] chenbohua3 opened #43942 "[jit] return type Any does not work for ternary operators"
## To Reproduce

this module can be exported to torchscript:
[code]

this module can not:
[code]
and we will get `if-expression's true branch has type str but false branch has type Dict[str, Tensor]:`

## Environment

 - PyTorch Version (e.g., 1.0): commit 8a41fa47187c5533a639b34478c10a44641a4db9
 - OS (e.g., Linux): Linux
 - How you installed PyTorch (`conda`, `pip`, source): source
 - Build comm

[2020-09-01 06:37] chenbohua3 commented on #43942
@SplitInfinity

[2020-09-01 06:59] neginraoof commented on #43787
Another point is that for arithmetic ops, jit_onnx_scalay_type_analysis is post-pass (https://github.com/pytorch/pytorch/blob/master/torch/csrc/jit/passes/onnx/scalar_type_analysis.cpp) that handles dtype castings.

During tracing, traced graph usually propagate input dtypes (in most cases), and the symbolic uses the same info. We can extend the scalar type analysis pass to handle the cases where

[2020-09-01 07:40] FrancescoSaverioZuppichini commented on #43876
Hi, @mruberry. Thank you for your reply,  yes I was thinking about something like that but I think could be a nice addition to the PyTorch ecosystem.

[2020-09-01 07:48] chenbohua3 opened #43943 "[jit] Support slicing multiple dimensions with sequences"
## 🚀 Feature
Support slicing multiple dimensions with sequences.

## Motivation
Currently slicing multiple dimensions with sequences is not supported by torchscript.
[code]
A workaround may be:
[code]
But this is not intuitive and user-friendly.

cc @gmagogsfm

[2020-09-01 08:15] bhosmer opened #43944 "String defaults aren't handled well in native_functions.yaml"
A signature containing a string-typed argument with a literal default will get emitted to C++ without escaping the double quotes, i.e.
[code]
will emit
[code]
with the ensuing hilarity. Escaping the schema strings is easy, not sure what other issues might need to be dealt with around the initializers themselves. OTOH if we want to explicitly disallow string defaults[1], we should error at codegen

[2020-09-01 08:19] shaoming20798 commented on #43759
I tried it again following your reply, and now it seems to work! Thank you!

[2020-09-01 08:19] #43759 closed

[2020-09-01 08:48] bhosmer opened #43945 "caffe2/aten bridge doesn't handle overloads with ambiguous defaulting"
The bridge infra generated by [gen_op.py](https://github.com/pytorch/pytorch/blob/master/caffe2/contrib/aten/gen_op.py) isn't designed to handle calls to multiple op overloads whose defaulting may produce ambiguous calls. For example, the two overloads
[code]
will produce (among others) a binding that contains the C++ call `ambig(self)`, resulting in a C++ compiler error.

This can prevent intuiti

[2020-09-01 08:52] rgommers commented on #42981
Since `_VF.py` is a hack to access the functions in `_C._VariableFunctions`, what should work is to copy the generated stub file for the latter. If you add the copy below
[code]
in `tools/pyi/gen_pyi.py`, it may be a one-liner fix.

If that doesn't work (but it really should), it's probably not worth doing more work to add a new stub file - then you can just add `# type: ignore` to the `_VF.xxx` c

[2020-09-01 09:16] kenjewu commented on #41661
After I upgraded to 1.6.0, I also encountered the same problem. I have checked that libgcc_s.so.1 exists. My GCC is also 7.5.

[2020-09-01 09:21] rgommers commented on #41661
@kenjewu thanks for the report. Could you please add the output of `python torch/utils/collect_env.py`? And how you installed GCC?

[2020-09-01 09:29] devilztt opened #43946 "How to use torch.nn.SyncBatchNorm and torch.uitls.checkpoint together"
When I use  net = torch.nn.SyncBatchNorm.convert_sync_batchnorm(net) to convert model,and  use torch.uitls.checkpoint in model ,loss backward, It seems to be stuck in process communication

[2020-09-01 09:47] #43946 closed

[2020-09-01 10:20] Richie-yan opened #43947 "torch.cuda.synchronize Influence distributed training"
PyTorch :1.5.0
model：resnet50

Background : I ran distributed training of pytorch resnet50 in the same environment (using DataParallel to run a single machine with 4 cards), and ran two experiments respectively. The only difference between the two experiments was that `torch.cuda.synchronize()` was called after `loss.backward()`  , the other one is not called

Phenomenon: The training speed of cal

[2020-09-01 10:45] j-paulus opened #43948 "TorchScript and freezing of module attributes broken, _C._jit_pass_lower_graph failing"
## 🐛 Bug

Problem appearing when scripting a model containing BatchNorm and then trying to use the scripted version for ONNX or CoreML export.

If `forward()` modifies an attribute of the model, something in the combination of scripting the model and then trying to convert it to ONNX / CoreML triggers an error in `torch._C._jit_pass_lower_graph(model.forward.graph, model._c)` resulting into the me

[2020-09-01 10:49] vadimkantorov opened #43949 "bytes(byte_tensor) gives strange error"
`TypeError: only integer tensors of a single element can be converted to an index`
1. what index is referred to?
2. we can see that single-dim tensors even of multiple elements are ok

[code]

[2020-09-01 11:50] wujushan commented on #18626
++

[2020-09-01 13:15] mattip commented on #3428
Those pages have `<link rel="canonical" href="https://pytorch.org/docs/stable/_modules/torch/jit.html"/>` in the header. I wonder what else can be done?

[2020-09-01 13:17] amatsukawa commented on #43492
The use case is purely out of convenience. I don't only use pytorch. Not taking the view in numpy means I have to reimplement this logic in each of the ML frameworks.

But I just need a way to do it, I'm totally happy to use the snippet provided by @VitalyFedyunin (thanks!). It doesn't make any difference to me whether it's in the API or not, as long as I can accomplish the task.

Thanks for your

[2020-09-01 13:20] vadimkantorov commented on #3428
I think:
1) they should be allowed under robots.txt
2) they should use noindex
for some time

After they disappear from google search, one could use robots.txt to block them from search entirely

[2020-09-01 13:30] mattip commented on #3428
So in (too much) detail:
- add a `<meta name="robots" content="noindex, nofollow, nosnippet">` line to the headers of each of the older (non-master, non-stable) pages under [docs](https://github.com/pytorch/pytorch.github.io/tree/site/docs)
- delete [this file](https://github.com/pytorch/pytorch.github.io/blob/site/robots.txt) or reduce it to have no content

[2020-09-01 13:48] vadimkantorov commented on #3428
1. master should also have these tags, since the only thing we want to have indexed is "stable". This should also apply to tutorials and everything else
2. About robots.txt - yes, I think it's not effective with Google, since if a documents leaks into Google index, then robots.txt is not helpful, but more harmful.

But I'm just a random person, have no skin in the pytorch.org game.

[2020-09-01 13:53] cobie8a commented on #43934
never mind, this link talks about cublas not being included with cuda-toolkit after cuda v10.1
https://forums.developer.nvidia.com/t/cublas-for-10-1-is-missing/71015

[2020-09-01 13:53] #43934 closed

[2020-09-01 13:56] mruberry commented on #42223
Of course. But please don't think you wasted anyone's time or it's been for nothing. If we only picked projects that were easy we would never learn or develop, and I've appreciated our conversations about packbits. Eventually we will implement this function, and this issue will be helpful in that process.

[2020-09-01 14:16] nehasoni3 opened #43950 "ESPNet ASR model - seeing error in loading from state dictionary"
Hi

I am trying to convert ESRNet model to ONNX for deployment.
But not succeded yet.
Thanks and do needful.

cc @houseroad @spandantiwari @lara-hdr @BowenBao @neginraoof

[2020-09-01 14:29] anjali411 commented on #43852
@mruberry does it happen just on windows? `acos` is using `torch.sqrt()` in its definition , so if this just happens on windows, `torch.sqrt()` might be diverging as well.

[2020-09-01 14:31] mruberry commented on #43852
Just Windows as best I can tell.

[2020-09-01 14:48] peterbell10 commented on #43945
Also, in the case of #42190 it's would be possible to avoid ambiguity if the schema allowed default arguments to the left of non-defaulted arguments. e.g.
[code]

Any call that doesn't pass `b` should unambiguously call overload `1`. But the schema won't allow `a` to have a default. `a`'s default wouldn't make sense in C++, but with python named arguments it's entirely possible to specify `b` but

[2020-09-01 14:58] albanD commented on #43492
Tentatively closing as the proposed solution is satisfying and we most likely don't want to make the `.to()` API even more complex than it currently is.
Feel free to re-open if you want to discuss this further.

[2020-09-01 14:58] #43492 closed

[2020-09-01 15:13] zcain117 commented on #43918
`conda install dataclasses` in our build script seems to have fixed this.

Thanks @ailzhang !

[2020-09-01 15:21] peterjc123 commented on #43852
@anjali411 Where is the implementation of `acos`?

[2020-09-01 15:40] SsnL commented on #43856
No it is not possible. This is how python `spawn` multiprocessing works. PyTorch has no control over that, nor should PyTorch deviate from python.

[2020-09-01 15:56] zhangguanheng66 commented on #43865
I agree this is a good idea. For now, we want to stabilize our APIs for transformer/MHA. We might make the changes if we see consistent requests for this. Thanks @kdexd

[2020-09-01 16:01] albanD commented on #43851
@qizzzh we actually have quite a few functions that exhibit such precision limitations. We even have some that are non-deterministic and running them twice in a row will give such difference. I don't think you should rely on bit-wise equality in general I'm afraid.

[2020-09-01 16:37] ezyang commented on #43878
Speculatively updated priority based on other reports

[2020-09-01 16:39] ezyang commented on #43939
This looks like some sort of botched installation situation. If you `pip uninstall torch` twice and then try reinstalling what happens? CAn you post the full install log for `pip install torch torchvision`?

[2020-09-01 16:41] ezyang commented on #43947
I don't know, this seems pretty mysterious. One possibility is you are selecting a different cudnn algorithm between the two runs; what if you set cudnn deterministic?

[2020-09-01 16:43] zhiqiangzhongddu opened #43955 "RuntimeError: Function 'MmBackward' returned nan values in its 1th output."
## 🐛 Bug

``torch.nn.NLLLoss()'' got NAN results during training;
and with the help of setting ``torch.autograd.set_detect_anomaly(True)'', I got detailed information as following:
![image](https://user-images.githubusercontent.com/17181332/91881795-58ec3480-ec82-11ea-8695-7e673c058a65.png)
Besides, I have checked there is no NAN in ``pred'', Min -15.9585218, Max -0.0000008.

## Environment

Pleas

[2020-09-01 17:12] SplitInfinity commented on #41443
Yes, but only submit a PR if there are no existing PRs. Any issue that doesn't have a check mark beside it is not done yet.

[2020-09-01 17:12] rohan-varma opened #43960 "In DDP's Reducer, directly use work.result() to retrieve allreduced tensor."
## Refactor `forwardPassWorkHandle` to use `work.result()` in DDP's `Reducer`
We currently have a hack to retrieve an allreduced tensor from Python in C++ in `reducer.cpp`, where we store the resulting tensor in a struct: https://github.com/pytorch/pytorch/blob/master/torch/csrc/distributed/c10d/reducer.cpp#L434

Now since https://github.com/pytorch/pytorch/pull/43386 is landed, we should refactor

[2020-09-01 17:23] ezyang commented on #43955
If you could provide us some sort of reproduction that would be very helpful for diagnosing the problem.

[2020-09-01 17:24] ezyang commented on #5397
I'm going to guess that this has been fixed on master.

[2020-09-01 17:24] #5397 closed

[2020-09-01 17:26] #43185 closed

[2020-09-01 17:30] #5412 closed

[2020-09-01 17:31] ezyang commented on #5410
I think we fixed this in master!

[code]

[2020-09-01 17:31] #5410 closed

[2020-09-01 17:35] ezyang commented on #5460
This is obsolete. Also decorator overhead is actually kind of expensive, as we discovered in torch function

[2020-09-01 17:35] #5460 closed

[2020-09-01 17:36] ezyang commented on #5463
guessing this was either fixed or not relevant anymore

[2020-09-01 17:36] #5463 closed

[2020-09-01 17:36] ezyang commented on #5480
obsoleted by th/thc port to aten.

[2020-09-01 17:36] #5480 closed

[2020-09-01 17:37] ezyang commented on #5436
On master

[code]

Mission accomplished, let's go home.

[2020-09-01 17:37] #5436 closed

[2020-09-01 17:39] ezyang commented on #5491
guessing we fixed it

[2020-09-01 17:39] #5491 closed

[2020-09-01 17:39] ezyang commented on #5514
python 2 is dead, this issue is obsolete

[2020-09-01 17:39] #5514 closed

[2020-09-01 17:40] ezyang commented on #5522
asan ci isn't ooming anymore

[2020-09-01 17:40] #5522 closed

[2020-09-01 17:40] ezyang commented on #5524
This is, amazingly, still relevant!

[2020-09-01 17:42] BowenBao commented on #43795
hi @dashesy - could you try with flag `do_constant_folding=False` in export?

[2020-09-01 17:42] ezyang opened #43964 "Make it so that leading underscore operators are truly private and can be changed without worry for BC"
Classically, the leading underscore was an indication that an API is private, and that it can refactored without worrying about backwards compatibility. Functions with leading underscore in `native_functions.yaml` don't have this property, as they may show up in traces and serialized format, making it bc breaking to refactor them.

It would be nice to figure out some way (or figure out some "even

[2020-09-01 17:42] zhiqiangzhongddu commented on #43955
I'm trying to generate a demo program but seems not convenient.
Another may be useful information: the same code runs fluently on Windows 10 but appears this problem on Linux, with the same environment.

[2020-09-01 17:45] vadimkantorov commented on #5436
@ezyang A question: when the last dimension is small, does it do comparison with triplets of numbers in one go in a vectorized fashion? In theory it could even load the rhs in a vector register once, since broadcasting is dummy

[2020-09-01 17:51] SplitInfinity commented on #42981
[code]
 already exists in `tools/pyi/gen_pyi.py`. Did you meant to write
[code]

[2020-09-01 17:55] rgommers commented on #42981
Yes, that's what I meant.

[2020-09-01 18:09] AWSNB commented on #43265
@kimishpatel a patch from sebpop to address the [missing intrinsics in GCC7 has been posted by @sebpop](https://github.com/pytorch/pytorch/pull/43683)

[2020-09-01 18:19] anjali411 commented on #43852
sorry I mean backward definition of `acos` is using `torch.rsqrt()` ... `acos` just uses the standard library function.

[2020-09-01 18:23] malfet commented on #42967
@xuzhao9 can you please have a look at this one?

[2020-09-01 18:26] dashesy commented on #43795
Looks like same result with `do_constant_folding=False`:

![image](https://user-images.githubusercontent.com/873905/91891323-b3b36b00-ec45-11ea-9e59-fb36b6c37e4e.png)

---
P.S. Would be great to have a context to tell exporter to not fold any constants for shape, and let it be optimized if needed by ORT.

[code]

[2020-09-01 18:43] y0ast commented on #26996
I just hit this today and was looking at the magma issues, it doesn't seem to be reported there yet, is that correct?

I also found this to be significantly worse in pytorch 1.6.0 vs 1.5.1, is that possible? I could manage many more calls to `torch.cholesky` until I hit the memory error before the update.

It's a fairly painful bug that only shows up under odd circumstances (decreasing batch size

[2020-09-01 18:48] mruberry commented on #26996
Thanks for this update @y0ast. I've bumped this issue's priority.

[2020-09-01 18:49] SplitInfinity commented on #42981
Cool, seems to work, thanks.

[2020-09-01 18:49] bhosmer commented on #43945
Hi @peterbell10 - the problem with this is that it makes the defaulting unusable in a positional call - that's why we follow Python in only allowing out of order defaulting in keyword-only args:

[code]
Anyway though, I think the big picture is that you shouldn't have to be playing games with defaulting just to avoid ambiguity in generated code (if it can be avoided) :)

[2020-09-01 18:54] peterbell10 commented on #43945
When you consider the overload set as a whole, `b` does have a default value though. The python equivalent would be `b: Union[int, str] = 0`.

[2020-09-01 19:01] spandantiwari commented on #42914
There's significant room for improvements in handling the ScriptModule export due to legacy reasons. We are working on some projects to improve that code path right now.
In the meantime, if at all possible, I would recommend passing in the nn.Module to the export API and script only parts of the code that require scripting to get past any blocking issues.

[2020-09-01 19:02] spandantiwari commented on #43950
What error are you seeing? Can you share a small repro?

[2020-09-01 19:16] vadimkantorov commented on #42914
That’s what we ended up doing... I hope some examples in this issue will be useful as potential tests

[2020-09-01 19:29] vadimkantorov commented on #43949
related: https://github.com/pytorch/pytorch/issues/33041

[2020-09-01 19:29] BowenBao commented on #43795
@dashesy - There is no constant folding happening at the exporter level. The `Shape` node itself is a proof that the shape is computed dynamically. If exporter constant folds any shape, you will see a `Constant` node instead.

The issue in this repro is that `dynamic_axes` was not set for model outputs. Since `input_width` is part of model outputs, and I'm assuming it should have dynamic size.

[2020-09-01 19:56] albanD commented on #43955
Are you sure that all the inputs you give to embedding are valid? no nan in there or in the weights?

[2020-09-01 20:14] mrshenli commented on #37323
Self-assigned to reserve this for bootcamp

[2020-09-01 20:15] mrshenli commented on #41839
Self-assigned to reserve this for bootcamp.

[2020-09-01 20:36] albanD commented on #43837
Thanks for the detail on the expand!

The PR looks like the right way for me yes.

[2020-09-01 20:56] qizzzh commented on #43851
@albanD  I see. Our internal testing infra tests all modules commonly used internally and so far functional linear is the only one that has this issue. I'm not sure how much model quality issue it may cause thus opened this issue. I'm fine closing it for now.

[2020-09-01 20:56] #43851 closed

[2020-09-01 21:03] dashesy commented on #43795
This is just for repro. In the actual model that shows the issue `input_width`, `input_height` are not model outputs but rather used in further part of the model. There is no mechanism like `dynamic_size` to declare them to be dynamic.
Based on dynamic inputs, the shape node should be dynamic. The shape depends on the input shape.

[2020-09-01 21:06] #41617 closed

[2020-09-01 21:17] rohan-varma commented on #43178
Reopening since the PR was reverted.

[2020-09-01 21:24] rohan-varma commented on #43859
Hi, it appears that the scripts you've attached are the shell commands to launch the job on the cluster, although the actual training script using PyTorch distributed would be very useful in order to debug the issue (and to determine if it's a PT specific issue or an issue with the cluster). Could you provide this if possible?

Also, in general it would be very useful to help debug if we could hav

[2020-09-01 21:27] #41966 closed

[2020-09-01 21:31] mrshenli commented on #16357
Looks like there is no progress on this one for a while. I self-assigned to reserve for bootcamp. Please let me know if anyone already has a PR for this.

[2020-09-01 21:43] mrshenli commented on #35954
It has been a while since the last update on this issue. I self-assigned to grab this for bootcamp. Let me know if anyone already has a PR for this.

[2020-09-01 21:46] mruberry commented on #35954
I think we fixed this in https://github.com/pytorch/pytorch/pull/40488 and failed to close the issue.

[2020-09-01 21:52] #35954 closed

[2020-09-01 22:04] mruberry commented on #37323
This still occurs with `torch.linalg.norm`.

[2020-09-01 22:17] Lilyjjo commented on #41773
Is it also valid to mix strided dimensions with un-sized dimensions? For example, would `Float(10:10, *)` be valid?

[2020-09-01 22:18] LazyTrader commented on #43845
@peterjc123 How do I do that? I'm not quite sure on how to do that and I haven't been able to find instructions on how to do it.

[2020-09-01 22:19] BowenBao commented on #43787
@mruberry - I added a PR #43991 to enable exporting scripted true divide with onnx shape inference mentioned earlier above. We will continue to improve on that end to have better support for scripting export.

On the topic of changing division behavior to true divide. Is this a backward breaking change? From the look it would affect a lot of existing models both in values and in semantics.

[2020-09-01 22:23] mruberry commented on #43787
It was BC-breaking, which is why we throw a runtime error if a user tries to use div to perform integer division in 1.6. So it is no longer BC-breaking (BC has been broken).

I appreciate your fixing the true divide export, @BowenBao but I'm still concerned it's fragile. If we think that's the best plan for handling these issues then we can try it.

[2020-09-01 22:28] rwightman opened #43992 "NHWC AdaptiveAvgPool2d w/ AMP produces NaN output in certain cases"
## 🐛 Bug

A number of models I mantain that utilize Squeeze-and-Excitation layers containing AdaptiveAvgPool2d produce NaNs during validation when using `memory_format=torch.channels_last` with either APEX or native Torch AMP. The behaviour is not present in FP32 with either memory format or in mixed-prec w/ default memory_format.

[code]

The problem is solved by replacing the avg pool with `x.me

[2020-09-01 22:31] ngimel commented on #43992
Should be fixed by #43986

[2020-09-01 22:54] mingzhe09088 opened #43995 "[RFC] Batch point-to-point communication"
PyTorch distributed package currently supports sync and async point-to-point communications, such as send/recv, isend/irecv, in the GLOO and MPI backends. [NCCL send/recv API](https://github.com/NVIDIA/nccl/pull/316#issue-395921232) was introduced in v2.7 and we wanted to support it in NCCL process group to match with other backends. However, existing PyTorch distributed point-to-point front end c

[2020-09-01 23:11] ZolotukhinM commented on #41773
I think it is possible in theory, but my guess is that it never happens in practice. So, probably not a big deal if we don't support this case.

[2020-09-01 23:25] jeffdaily opened #43998 "new stride propagation logic in TensorIterator (#42922) broke examples/imagenet"
## 🐛 Bug

The following commit has broken the examples/imagenet trainer.

commit c8bc298d6c7850a1b33416eea56e4fc365d6af9a
Author: Natalia Gimelshein <ngimel@fb.com>
Date:   Thu Aug 20 10:48:26 2020 -0700

streamline stride propagation logic in TensorIterator (#42922)

## To Reproduce

Steps to reproduce the behavior:

1. git clone https://github.com/pytorch/examples.git
2. Download imagenet datase

[2020-09-02 00:22] ngimel commented on #43998
Is it happening with distributed only, or with regular training too?

[2020-09-02 00:31] ngimel commented on #43998
The repro is easy
[code]
I'll send the fix to imagenet example, it should be calling `reshape` instead of view.

[2020-09-02 00:40] ngimel commented on #43998
https://github.com/pytorch/examples/pull/820

[2020-09-02 01:37] carmocca opened #44009 "collections.namedtuple getting lost with DistributedDataParallel"
## 🐛 Bug

When `DistributedDataParallel` is used, if the batch contains a `namedtuple`, it gets converted to a `Tuple`

Keeping the `namedtuple`s is necessary in my case because it is the object generated by my custom `collate_fn`

## To Reproduce

The culprit seems to be `torch.nn.parallel.scatter_gather.scatter`:

[code]

## Expected behavior

`scatter` should reconstruct the `namedtuple`s

## E

[2020-09-02 01:55] sharvil commented on #42885
It's often the case that we have modules that decorate other modules with additional behavior (as above). Inheritance is preferred so we don't have parameters with silly serialized names like `transformed_conv.padded_conv.conv`. It's much easier to iterate on a project when serialized names are more controllable.

I know there are workarounds like remapping after loading a checkpoint or using tool

[2020-09-02 02:01] LESSuseLESS commented on #33415
The root cause is,

1. at::cuda::detail::CUDAHooks.cpp uses a static initializer "REGISTER_CUDA_HOOKS(CUDAHooks);" to register the critical CUDAHooks class. Without this class correctly registered, default class will report a hard-coded device count of 0.
2. torch::cuda::device_count() goes through the hook as in at::detail::getCUDAHooks().getNumGPUs(), hence getting 0.
3. at::cuda::getNumGPUs() d

[2020-09-02 02:05] peterjc123 commented on #43845
Download process monitor from https://docs.microsoft.com/en-us/sysinternals/downloads/procmon and open it. And then you just do the normal `import torch` in CMD. Finally, just stop monitoring, save it and post the saved file here.

[2020-09-02 02:12] LESSuseLESS commented on #33435
The root cause is,

1. at::cuda::detail::CUDAHooks.cpp uses a static initializer "REGISTER_CUDA_HOOKS(CUDAHooks);" to register the critical CUDAHooks class. Without this class correctly registered, default class will report a hard-coded device count of 0.
2. Unfortunately, this static initializer is in torch_cuda.lib ( I assume ), which doesn't appear to have any symbols needed to bring in, thus i

[2020-09-02 03:15] pomelyu opened #44010 "Ambiguous description of torch.finfo.tiny"
## 📚 Documentation
Hi

`torch.finfo.tiny` has the description

It's ambiguous, and not the actual smallest positive number. For example, `torch.finfo("torch.float16").tiny` get **6.10e-5**, but the smallest positive representable number in FP16 should be **2^-24** or **5.96e-8**. `numpy.finfo.tiny` also has this problem.

I check the code in [`TypeInfo.cpp`](https://github.com/pytorch/pytorch/blob

[2020-09-02 03:29] jinfagang opened #44012 "Model can foward but onnx export throw a bug"
My model can get forward using GPU, but onnx export got a bug:

[code]

this is not my model logic error since the model using pytorch can forward, it that a bug in onnx export? It says I need GPU in a node but I have every single node in GPU, how could that possible? Besides, my model can forward using pytorch, if that happen, the pyotorch model forward can catach it.

cc @houseroad @spandantiwar

[2020-09-02 03:40] mszhanyi commented on #43210
close it since the main thread is in the https://discuss.pytorch.org/t/i-cannot-use-the-pytorch-that-was-built-successfully-from-source-dll-initialization-routine-failed-error-loading-caffe2-detectron-ops-gpu-dll/93243.

[2020-09-02 03:40] #43210 closed

[2020-09-02 03:44] Coderx7 commented on #43611
@glaringlee I couldnt replicate this issue in a new project. even the very same project that exibits this issue, doesnt behave incorrectly when copied and executed from another location in the same system. This makes me to come to the conclusion  that this might be very well a Visual Studio 2019 issue of some kind! Despite my attempts, I couldnt find out the cause so I close this issue and will re

[2020-09-02 03:44] #43611 closed

[2020-09-02 04:04] emailweixu opened #44013 "python value of type 'float' cannot be used as a value in with @torch.jit.script"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

[code]

Got the following error:
[code]

## Expected behavior

There should be no error

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out the checklist below manually).

You can get the script and run

[2020-09-02 04:09] LazyTrader commented on #43845
After running "import torch" in CMD, I found out that the latest Microsoft Visual C++ 2015-2019 Redistributable was not installed on my system. After installing it, I am now able to use pytorch normally. I'll be closing this issue.

[2020-09-02 04:09] #43845 closed

[2020-09-02 04:10] gmagogsfm commented on #44013
This is because TorchScript doesn't allow capturing global variables. You can use one of the following work-around:

1. Pass value as an argument to function
2. Use a literal constant

[2020-09-02 04:17] aayn commented on #42223
Wow, thanks again!

[2020-09-02 04:21] #43265 closed

[2020-09-02 04:33] #44013 closed

[2020-09-02 04:46] peterjc123 commented on #43845
@LazyTrader So which environment / IDE are you using previously?

[2020-09-02 04:54] SplitInfinity commented on #42981
I just tried strict mode like you suggested and I see a lot of failures in non-JIT code, probably due to mypy following imports. Do those need to be fixed too? I'm most familiar with JIT code, so I am not the right person to address those.

[2020-09-02 05:05] SplitInfinity commented on #42981
In any case, I enabled standard typechecks during CI for JIT in #43862 and it seems to be working.

[2020-09-02 05:26] nehasoni3 commented on #43950
Thanks for replying.
Error is -
`RuntimeError Traceback (most recent call last)
in ()
8 trained_model = Net()
9
---> 10 trained_model.load_state_dict(torch.load('espnet.pth', map_location=DEVICE))

/usr/local/lib/python3.6/dist-packages/torch/nn/modules/module.py in load_state_dict(self, state_dict, strict)
1043 if len(error_msgs) > 0:
1044 raise RuntimeError('Error(s) in loading state_dict for {}

[2020-09-02 06:06] pavelexpertov opened #44019 "A tiny spelling error in a wiki page within the github repository"
## 📚 Documentation
I was reading [this](https://github.com/pytorch/pytorch/wiki/Autograd-and-Fork) wiki page to solve multiprocess issue and I noticed that `Autograd engine relays on threads pool, `, which is the first sentence, probably has a spelling error.

I think it's supposed to be 'relies' rather than 'relays' because the latter is something to do with sending signals or such and the former

[2020-09-02 06:10] LazyTrader commented on #43845
I was using Spyder and Spyder failed to mention anything about the lack of Microsoft Visual C++ 2015-2019 Redistributable other than displaying the aforementioned OsError

[2020-09-02 06:51] imjiangjun commented on #39674
I think it's a very good proposal.
I have been confused by the flags in BN layer for a long time, especially in the situation mentioned in #37823. It's really strange that the `running_mean` and `running_var` still change even `track_running_stats` has been set to False.
As discussed above, there are three kinds of behavior to control:

1. Whether the **affine parameters** (`weight` and `bias`) sh

[2020-09-02 07:10] rudraksh97 opened #44022 "TypeError: cannot assign 'torch.FloatTensor' as parameter 'layer_weights' (torch.nn.Parameter or None expected)"
#43835  Issue description
Traceback (most recent call last):
  File "run_techqa_layer.py", line 605, in <module>
    main()
  File "run_techqa_layer.py", line 599, in main
    model = train(args, train_dataset, model, optimizer, tokenizer, model_evaluator)
  File "run_techqa_layer.py", line 211, in train
    outputs = model(**inputs)
  File "C:\Users\Rudraksh\Anaconda3\envs\bert_pre\lib\site-packa

[2020-09-02 07:13] rudraksh97 commented on #44022
def forward(self, input_ids=None, attention_mask=None, token_type_ids=None,start_positions=None,end_positions=None):
		outputs = self.bert(
			input_ids,
			attention_mask=attention_mask,
			token_type_ids=token_type_ids,
		)

		hidden_states = outputs[2]
		stacked_hidden_states = torch.stack(hidden_states)

		self.layer_weights = F.softmax(self.layer_weights,dim=0)

[2020-09-02 07:13] curehabit opened #44023 "RuntimeError: Can't call numpy() on Tensor that requires grad. Use tensor.detach().numpy() instead."
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. follow the  mnist tutorial (https://pytorch-lightning.readthedocs.io/en/stable/new-project.html)
1. use Trainer(tpu_cores=1)
1. run

[code]
## Expected behavior

## Environment

Environment
CUDA:
- GPU:
- available: False
- version: None
Packages:
- numpy: 1.19.0
- pyTorch_debug: False
- pyTorch_version: 1.6.0.dev20200622
- pytorch-li

[2020-09-02 07:15] mojiayuan commented on #39522
Do you have a solution for the second type? I have encountered that memory will increase rapidly as the model predicts multiple images at once

[2020-09-02 07:36] Karol-G commented on #43856
Hmm, ok I understand. Closing this then.

[2020-09-02 07:36] #43856 closed

[2020-09-02 07:57] idanh commented on #43939
Hi @ezyang
Maybe that was the case, as I started the same notebook this morning (no touch installation):

<img width="1208" alt="Screen Shot 2020-09-02 at 10 55 29" src="https://user-images.githubusercontent.com/614496/91954710-d9567800-ed0a-11ea-97e9-f3dcc4d470f3.png">

For some background I tried uninstalling and re-installing yesterday the same way you suggested, to no eval.
Am not exactly sure

[2020-09-02 07:57] #43939 closed

[2020-09-02 08:23] GitHubChrischen commented on #35534
I have the same problem, I load the model ok in debug version,but failed in release version.

[2020-09-02 08:31] zhiqiangzhongddu commented on #43955
Thanks for your reminder! I just checked NAN in pred but ignored embedding vectors.
I found there exists NAN in generated embedding. The max --> inf or the min --> nan. So what's the possible solution in your opinion, add a normalize layer in the NN?

[2020-09-02 09:13] hande6688 opened #44024 "When the pytorch training data reaches a certain epoch, the memory remains unchanged?"
Pytorch 1.4 + cuda10.1, GPU is 2080ti, video memory is 11g, training data, when epoch = 130, the training stops, the memory usage of the video card remains unchanged, and the utilization rate is always below 5%. What's the matter?

[2020-09-02 09:34] zhiqiangzhongddu commented on #43955
I solved this problem by deleting torch.empty() in code (inside of NN).
I guess it might because of byte overflow.

Thanks for your kindly answers.

[2020-09-02 09:34] #43955 closed

[2020-09-02 09:35] david-macleod opened #44025 "torch.cat is over 300x slower than torch.index_copy / numpy.concatenate on CPU"
## 🐛 Bug

When running `torch.cat` on CPU tensors the execution time is over 300x longer than iterating over the tensors and calling `torch.index_copy_` to copy into slices of a pre-existing tensor. This may be due to the overhead of allocating new memory in the case of `torch.cat`, but passing a pre-existing tensor to the `out` argument in `torch.cat` produces the same slow behavior. Also running

[2020-09-02 09:42] GitHubChrischen commented on #35534
I found the solution. the reason is that I trace at pytorch-cuda10.2, but run at libtorch-cuda10.1, when the cuda version is the same, it works.

[2020-09-02 12:34] kshitij12345 commented on #44022
[code]

This line is  the cause.
Is that necessary?
Also I believe https://discuss.pytorch.org/ would be the place where you would get better response for this question

[2020-09-02 12:38] rudraksh97 commented on #44022
I have to take the softmax.

[2020-09-02 12:43] kshitij12345 commented on #44022
That should be part of the `__init__` right? Does it need to be `forward`

[code]
Should do the trick

[2020-09-02 12:45] rudraksh97 commented on #44022
Oh, let my try. This might solve the issue.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: kshitij12345 <notifications@github.com>
Sent: Wednesday, September 2, 2020 6:13:26 PM
To: pytorch/pytorch <pytorch@noreply.github.com>
Cc: Rudraksh Agarwal <rudrakshiitd@outlook.com>; Author <author@noreply.github.com>
Subject: Re: [pytorch/pytorch] TypeError: cannot

[2020-09-02 14:02] kimishpatel commented on #43265
Thats awesome.

[2020-09-02 14:03] ReinforcedMan commented on #27837
Same error on windows, training an LSTM on a GTX 2080 TI. Happens with both Pytorch 1.5 and 1.6.
Very annoying as it seems random, and the training is completely broken when it happens.

[2020-09-02 14:11] rasmusbergpalm opened #44026 "Einsum like ShapeGuard"
## 🚀 Feature
ShapeGuard allows you to very succinctly express the expected shapes of tensors in a dynamic, einsum inspired style.

## Motivation

It’s easy to make bugs in pytorch (ml in general). One particular rich source of bugs is unintended broadcasting and the flexibility of the operators: a*b works whether a and b are vectors, scalar vector, vector vector, etc, although it might not do what

[2020-09-02 14:13] glaringlee commented on #39522
@mojiayuan
Correct me if I am wrong. Memory will go up when you do multiple images at once, but the memory should go down when those heavy load work finished. Do you mean your memory never go down even after those heavy load multiple images predicts finished? (I mean the process is still there, but heavy load work is done).

Can you provide simple code to reproduce? So we can take a look at. thx

[2020-09-02 15:15] vincentqb commented on #41839
Good idea! One question to think about from [comment](https://github.com/pytorch/pytorch/issues/2830#issuecomment-336183179), if the model isn't on cuda device, and the optimizer is moved, would the optimizer silently not update the parameter? I have not tested this :)

[2020-09-02 15:18] ezyang opened #44027 "Immutable (read-only) tensors"
Previously: https://github.com/pytorch/pytorch/issues/30458

An immutable tensor is a tensor which cannot be mutated, e.g., via inplace operations or `out=` operations. Due to the reduced API surface of immutable tensors, they can be implemented in several different ways without an observable difference in user behavior:

1. As an out-of-place new tensor
2. As a view on an existing tensor
3. As a

[2020-09-02 15:34] vfdev-5 commented on #43699
I propose to change the order of `TORCH_CHECK` and `if (options.layout() == kSparse && self.is_sparse())` :

[code]

[2020-09-02 15:35] vincentqb commented on #39279
Following offline discussion with @seba-1511. An alternative to [comment](https://github.com/pytorch/pytorch/issues/39279#issuecomment-636238638),
- [ ] Instead of a differentiable `load_state_dict`, a new functional optimizer would (1) avoid creating a new optimizer instance in the inner loop, and (2) allow sharing parameters across tasks (e.g. [Reptile](https://openai.com/blog/reptile/)).
- [ ]

[2020-09-02 16:01] #42747 closed

[2020-09-02 16:03] kbthornton commented on #17869
I also define and train my NNs in PyTorch C++. I need to do inference with Onnx. Rather cumbersome to (1) export parameters from C++ into custom binary file (cannot use torch::save because not compatible with Python torch.load), (2) define the same NN in PyTorch Python, (3) In Python, read parameters and set into NN, (3) Export model from PyTorch Python to Onnx.

[2020-09-02 16:16] ezyang commented on #4906
This is still happening

[2020-09-02 16:53] SsnL commented on #44027
I disagree. What about something like
[code]

[2020-09-02 17:10] SplitInfinity commented on #42646
Does #42259 address this?

[2020-09-02 17:18] rgommers commented on #43699
Seems reasonable to me, I would just open a PR @vfdev-5.

[2020-09-02 17:23] rgommers commented on #42981
I'm not quite sure, hard to say without seeing the failures. Maybe put up a WIP PR? Maybe I can help by just pushing a fix to your branch, or if there's too much to fix in strict mode we can just merge the regular mode first - that'd be a good step forward already.

[2020-09-02 17:24] rgommers commented on #42981
Oh never mind, you have gh-43862 up already. I'll try that with strict mode.

[2020-09-02 17:24] edqwerty10 opened #44038 "[JIT] Implement a hash function for a tuple of ints"
## 🚀 Feature
Implement hash(Tuple[int]) to be available in Torch Script

## Motivation
Convert a DPER3 module to Torch Script

## Pitch
Compute a hash value for Tuple[int]

## Alternatives
Planning to convert Tuple[int] to a string containing the ints separated by a comma.

## Additional context
Here is a code snippet to reproduce the unsupported hash function error
[code]

Error Output:
[code]

c

[2020-09-02 17:25] SplitInfinity commented on #42981
Yeah, that PR has regular mode passing. Documentation tests are mysteriously failing and I've contacted the contributors most familiar with them in order to investigate but the rest of the tests look okay.

[2020-09-02 17:44] glaringlee opened #44040 "Move all the boolean flags within TensorImpl into a 8bytes bitfield"
There are 9 boolean flags within TensorImpl.cpp which exceeds 8bytes already.
This made the size of TensorImpl 1 word bigger than before which is not necessary. (introduced in #33033).

The purpose of this  issue is to move all the boolean flags into a 8bytes uint as bitfields, so the size of TensorImpl reduced 1 word.
And we will also enhence the note of TensorImpl, making it more clear on the pr

[2020-09-02 18:06] adrianosantospb commented on #18626
Support +1

[2020-09-02 18:09] yf225 commented on #42646
Yes it does, thanks a lot for helping with this @SplitInfinity !

[2020-09-02 18:09] #42646 closed

[2020-09-02 18:22] vadimkantorov commented on #44026
Related: https://github.com/pytorch/pytorch/issues/40373

[2020-09-02 18:24] malfet commented on #43709
@adamryczkowski, can you please clarify, what Termux submodules are installed on your device?

[2020-09-02 18:31] neginraoof commented on #43787
@mruberry Is this work on torch div operator in progress? Can you possibly point us to the PR if it's open?
Thanks

[2020-09-02 18:33] neginraoof commented on #42995
@chaorensx Would you please provide us the full script you use for model conversion?
Thanks!

[2020-09-02 18:35] mruberry commented on #43787
Sure thing: draft is here.

[2020-09-02 18:41] suo commented on #43948
cc @spandantiwari, I believe the ONNX exporter does not support setting of attributes inside scripted modules. Tracing is the canonical workaround in cases like this.

[2020-09-02 18:43] gmagogsfm commented on #43661
The issue is that `traced_module.training` should print false instead of true.

[2020-09-02 18:48] gmagogsfm commented on #43661
Potential change: add a warning when trace module attr is changed due to mode change

[2020-09-02 18:50] gmagogsfm commented on #43620
@bzinodev This sounds like something in your area of expertise, could you help take a look?

[2020-09-02 18:53] gmagogsfm commented on #43619
Thanks for reporting, I will take a look at it.

[2020-09-02 19:11] jamesr66a opened #44049 "[FX] Can't symbolically trace callsites to ScriptFunction"
People are using ScriptFunctions to have code blocks that work correctly under TorchScript tracing. However, when these blocks are encountered in symbolic tracing, tracing fails.

[code]

[code]

Possible solutions:
1) Make ScriptFunction symbolically traceable. This is likely not tractable and is a special case of the TorchScript->FX lifting conversion path we want to avoid
2) Figure out if these

[2020-09-02 19:15] jamesr66a commented on #44049
`@torch.jit._script_if_tracing` seems to be a viable solution to this

[2020-09-02 19:17] SplitInfinity commented on #42859
I think #41509 added code that prevents a segfault in this case but the error message it shows still not helpful. However, it did not make it into 1.6, and that's probably why @hal-314 is seeing a segfault while @malfet is not. I fixed a similar issue in #38130 where there was a segfault if the type annotation was `List`, so I'll take a look at this and post a PR later today.

[2020-09-02 19:40] zou3519 commented on #3428
@vadimkantorov your opinions are greatly valued!

I agree with your points that 1) only stable should be indexed and 2) robots.txt doesn't work so we should just get rid of it. Someone from the docs team (@jlin27, @brianjo) can confirm the first point.

[2020-09-02 19:51] malfet commented on #43709
I have a repro of the problem, cmake needs to return a better error message.

[2020-09-02 20:00] vadimkantorov commented on #3428
google search gets very much spammed by copy-paste sites (and their bert used for retrieval isn't helpful as well) these days, especially for technical queries. so making it better on pytorch side, should make it better for many :)

[2020-09-02 20:06] spandantiwari commented on #39762
Should be addressed by https://github.com/pytorch/pytorch/pull/41872.

[2020-09-02 20:06] #39762 closed

[2020-09-02 20:08] fritzo commented on #43878
Hi @dbsxdbsx , `Categorical` and `Normal` behave as intended. For more details see Pyro's [shapes tutorial](https://pyro.ai/examples/tensor_shapes.html), the original [torch.distributions design doc](https://docs.google.com/document/d/1wnABg0cdyaVMr-Xqz_brHBwnPJuzTeSk3Oqko2HHSfE/edit?usp=sharing), or the [tensorflow probability distributions](https://www.tensorflow.org/probability/examples/Underst

[2020-09-02 20:08] #43878 closed

[2020-09-02 20:11] spandantiwari commented on #43950
@nehasoni3  - this does not seem like a ONNX export issue, but an issue with loading the model from state dictionary. Could you please add proper repro steps.

@ezyang - could you please assign appropriately.

[2020-09-02 20:12] ailzhang commented on #43622
This was considered a lower pri in our plan - we'd be happy to take a PR implementing this functionality.

[2020-09-02 20:15] ezyang commented on #44027
Point taken. So if an input to contiguous is itself a temporary, we don't care if contiguous produces a new tensor or not, since in either case it is fine, and we didn't care about the old data.

Although I don't really understand the second point: `contiguous()` would always return a read-only tensor, so it wouldn't matter if the input was contiguous or not.

[2020-09-02 20:18] SsnL commented on #44027
Re 2nd point: Oh I see. I thought the proposal was to make the `.contiguous()` output read-only only if the input is contiguous.

[2020-09-02 20:25] jamesr66a commented on #43513
@jerryzh168 let me know if this is still an issue

[2020-09-02 20:25] #43513 closed

[2020-09-02 20:25] #43512 closed

[2020-09-02 20:36] ruathudo commented on #40497
@hanwinbi what model you are using? I see some others facing the same issue with multihead attention layers.

[2020-09-02 20:38] brianjo commented on #3428
I'll dig into this a bit. I'll update robots.txt to exclude some of the older builds. I'll see if I can come up with something better. https://github.com/pytorch/pytorch.github.io/pull/472

[2020-09-02 20:42] zou3519 commented on #3428
@brianjo adding new entries to robots.txt isn't the google recommended way of removing something from their search index. Adding `<meta name="robots" content="noindex">` tags to the html is preferred, according to https://support.google.com/webmasters/answer/93710

[2020-09-02 20:57] brianjo commented on #3428
I would prefer not to have to touch all those old files again if possible. I'll look into other options as well.

[2020-09-02 21:01] anjali411 opened #44061 "Segmentation Fault: torch.view_as_complex fails with segfault for a zero dimensional tensor"
`torch.view_as_complex` should throw an error for zero dimensional tensors.
[code]

cc @ezyang @anjali411 @dylanbespalko

[2020-09-02 21:23] smessmer commented on #44022
please reopen if the issue still persists

[2020-09-02 21:23] #44022 closed

[2020-09-02 21:24] smessmer commented on #44024
Hi, thanks for reporting. Can you please send us some more information? What is the model you're running? How can we try to reproduce what you're seeing?

[2020-09-02 21:25] zou3519 commented on #3428
It's not the worst thing in the world to touch all the old files. For best practices, we should do a pull request per version so that if something goes wrong, we know which PR to revert.

https://github.com/pytorch/pytorch.github.io/pull/323 is an example of adding the robots tag to a large number of files. I used a sed to do all the work (the sed attempts to insert the meta robots tag directly af

[2020-09-02 21:36] mrshenli commented on #41614
self-assigned to reserve for bootcamp.

[2020-09-02 21:42] mruberry commented on #37323
I was mistaken! @mrshenli pointed out this issue does appear to be fixed with torch.linalg.norm. I must have failed to save my updated version of the script. Here's the script I'm using:

[code]

And the result:

[code]

Since we'll soon be deprecating torch.norm in favor of torch.linalg.norm, I think we can close this issue.

[2020-09-02 21:43] houseroad commented on #44049
yeah, this should address the problem which doesn't contain the control flow inside ScriptFunction, but if we have control flow, seems still blocks us. Do we have a way to mark a function as leaf node?

[2020-09-02 21:45] #37323 closed

[2020-09-02 21:48] vadimkantorov commented on #37323
@mruberry Were the code paths for single/multi-dim cases merged into the one?

[2020-09-02 21:50] mruberry commented on #37323
Check out the PR: https://github.com/pytorch/pytorch/pull/42749.

[2020-09-02 21:50] vadimkantorov commented on #43548
Also, what is 9223372036854775807 constant? Is it equivalent of None?

[2020-09-02 21:54] mrshenli commented on #41854
self-assigned to reserve for bootcamp

[2020-09-02 22:04] meganset opened #44069 "C++ torch::min_values, torch::max_values no longer found in current libtorch"
_min_values()_  & _max_values()_ no longer found in the torch namespace
(they are there in libtorch 1.6)

e.g. errors like:

`fatal error: no member named 'max_values' in namespace 'torch'`

Possible due to the recent commit: #42004 ,
or is there a new name or workaround?

Thanks

[2020-09-02 22:13] rgommers commented on #42981
That's an awful lot of failures (10000+) if I add one JIT file to the `files=` list in `mypy-strict.ini`. I'd say it's not worth bothering with those now, let's merge the PR in its current form and call it good.

Only once all of PyTorch has type annotations does it make sense to try and enable strict mode for the files in `torch/jit/` it seems.

[2020-09-02 22:42] brianjo commented on #3428
OK sounds good. We can plan on proceeding this way. I'll close my PR.

[2020-09-02 23:30] wanchaol opened #44077 "Better type refinement for class attributes which are container types"
Reported internally but seen this several times, our type refinement works for container types, but not for class attributes, this is pretty UX disruptive as the user need to assign it to local variable and then do the type refinement

[code]
This doesn't work, because torch script cannot work on optional class members. We have to do:
[code]

[2020-09-02 23:37] eellison commented on #44077
Dup of https://github.com/pytorch/pytorch/issues/221551

[2020-09-02 23:37] ngimel commented on #44025
cc @peterbell10, @ilia-cher - does it look like some threading issues you guys have dealt with? fwiw, we can't repro in single-threaded setting w/o multiprocessing.

[2020-09-02 23:53] alexantoinefortin opened #44080 "Documentation mention parameters `verbose` for torch.optim.lr_scheduler but it does not exist"
## 📚 Documentation

At https://pytorch.org/docs/stable/optim.html, we see that the function `torch.optim.lr_scheduler.MultiStepLR` has a parameter called `verbose` that `If True, prints a message to stdout for each update. Default: False`.

Using `torch.__version__==1.6.0`,
this minimum example returns an error:

[code]

Error:
[code]

From the [source code](https://pytorch.org/docs/stable/_module

[2020-09-02 23:59] wanchaol commented on #44077
Copied from the chat:

to solve this, we have to invalidate all refinements anytime we emit setAttr or a function call / method call, and there a ton of callsites that do this, we also have to invalidate refinements with any write to the environment, e.g.:
[code]

[2020-09-03 00:20] mrshenli commented on #41854
Some more details about this task. To add tests:

1. Go through [this DDP tutorial](https://pytorch.org/tutorials/intermediate/ddp_tutorial.html#save-and-load-checkpoints), especially the "Save and Load Checkpoints" section. For more information about DDP, please refer to [this doc](https://pytorch.org/tutorials/beginner/dist_overview.html#torch-nn-parallel-distributeddataparallel)

2. Add two tes

[2020-09-03 00:51] hande6688 commented on #44024
The model I'm running is  https://github.com/zju3dv/snake

[2020-09-03 01:00] mrshenli opened #44084 "[RFC] Manage CUDA Stream in TensorPipe RPC Agent"
with @lw @beauby

## API

There is no new API, but has a new behavior for sending/receiving CUDA tensors. The TensorPipe RPC agent will maintain a stream pool, and grab streams from the pool to 1) send tensors 2) receive tensors 3) run user functions.

The guarantees we offer are:

1. RPC user functions are launched when all comm ops are enqueued to the current stream for all involved devices, but

[2020-09-03 01:11] szan1435 commented on #29973
Hi @ngimel , I am sorry that the profiling result is wrong. There is no much difference between the tensor indexing and tensor indexing after correction.

[2020-09-03 01:40] davidatbu commented on #37334
I have this exact request.

Tensorboard is indispensable for debugging models. But the restriction that tracing is possible for modules whose inputs are tensors (or data structures of tensors) sometimes really gets in the way of quick model development.

For example, I'm currently working with neural networks whose inputs are text tokenized into words, further tokenized into sub-words, but with wo

[2020-09-03 02:24] hanwinbi commented on #40497
@ruathudo  I am using 3D U-Net, at beginning the NaN showed casually at some case, then more and more NaN showed, I am not sure what caused this. Obviously, decrease learning-rate is not final solution.

[2020-09-03 02:36] xwzheng1020 commented on #21819
In the python interpreter，I can reproduce one of the scenarios:

[code]
now everything is ok.
[code]
now everything is ok.
[code]
because the x is on device:cpu, so it will report something error
[code]
But after this, if I want to convert tensor's or module's device to gpu/cpu, it will raise errors:
[code]

Everything will be ok if I restart the python interpreter.

[2020-09-03 02:39] xiaofeng-fan commented on #21819
Somehow I downgraded pytorch to 1.4 and the error is gone.

[2020-09-03 02:47] ezyang commented on #5436
Not sure. But eq is going to be used with TensorIterator and it's going to coalesce contiguous dimensions, so my guess is that something reasonable will happen.

[2020-09-03 03:13] ezyang commented on #43950
The expected and actual weights do not seem to correspond at all. This is probably some sort of user error, hard to say without full repro.

[2020-09-03 03:17] ezyang commented on #44026
cc @zou3519

[2020-09-03 03:21] ezyang commented on #44026
Thanks for writing this in. This is a pretty elegant hack, and the einsum notation seems like it would help avoid some wordiness that we have noticed with named tensors. Not sure how to make it interop with the rest of PyTorch in a seamless enough way to merit inclusion in core; in particular, having to reset every forwards, while expedient, seems like it would be hard to explain to people in gene

[2020-09-03 04:37] nehasoni3 commented on #43950
@spandantiwari This same script file working with other vision models trained on PyTorch but fails with Speech models.

[2020-09-03 04:57] HawkRong commented on #43859
[mmdetection-1.0rc0.zip](https://github.com/pytorch/pytorch/files/5166225/mmdetection-1.0rc0.zip)
@rohan-varma Here is the code. The 'tools/slurm_train.sh' calls 'dist_train.sh' which executes 'python -m torch.distributed.launch ... tools/train.py ...'. Therefore, the python script 'tools/train.py' is the first one we should look into, and I eventually traced to 'mmdet/apis/env.py' where 'torch.di

[2020-09-03 05:29] rohan-varma commented on #44009
Related issues: https://github.com/pytorch/pytorch/issues/41327, https://github.com/pytorch/vision/issues/1048. Both have to do with lack of support for NamedTuples/dataclasses in scatter_gather APIs.

[2020-09-03 05:37] mattip commented on #3428
If we could commit the script to the repo, it would be one step closer to automating the process when a new version is released.

[2020-09-03 05:43] peterjc123 opened #44096 "Unify OMP usage in Caffe2 and PyTorch for Windows"
## 🐛 Bug

Build log:
[code]
More:
https://app.circleci.com/pipelines/github/pytorch/pytorch/209402/workflows/d117fcd3-2beb-4c55-87fe-def2d578056b/jobs/7203339

As can be seen in the build log that caffe2 uses `VCOMP` while PyTorch uses `Intel OpenMP`. We should make sure only one variant of OpenMP is used during runtime.

cc @peterjc123 @maxluk @nbcsm @guyang3532 @gunandrose4u @smartcat2010 @mszha

[2020-09-03 06:01] jinfagang commented on #39428
@vadimkantorov This is confusing, while i saevd fp16 model in pth, when exporting it to onnx, it return a bug to me

[2020-09-03 06:27] bhosmer commented on #43945
Ah sure, you're right of course. But I don't think we want this sort of emergent property as part of the rules for legal overload signatures - nonlocal effects and so on, not to mention the complexity of validation. (Plus, the behavior would need to map onto C++ API in a reasonable way.)

In general I think there's a lot of simplicity benefit to defining validity as a context-free property of an o

[2020-09-03 06:49] kongroo commented on #39690
Is there any way to *restore* the shapes/types in the IR after torch.jit.load? Maybe something like tracing the loaded ScriptModule again?

[2020-09-03 07:02] NeverGiveU commented on #16034
well, in my case, `pytorch=1.1.0, python=3.5.4, gcc=5.4, 2080ti, and cuda=10.0`, and the problem is caused by the use of  `torch.nn.utils.spectral_norm` in the discriminator. Now i can just remove the normalization.

[2020-09-03 07:38] HaoYang0123 opened #44099 "Prediction time of resnet50 in different linux machines are very different."
I use this following code in different CPU linux machines:

torch==1.2.0
torchvision==0.4.0

import torch
import sys
from torch import nn
from torchvision import models
import time
import torch.backends.cudnn as cudnn
cudnn.benchmark = False

resnet50 = models.resnet50(pretrained=True)
resnetModel = nn.Sequential(*list(resnet50.children())[:-1])
resnetModel.eval()
start = time.time()
with torch.no

[2020-09-03 07:40] rasmusbergpalm commented on #44026
Hi @ezyang

Thanks! My initial thought was to simply add `sg` to `t.Tensor` and explain in the docs how to use it. Probably a page in the online docs as well. `ShapeGuard` could be somewhere in `t.util` or somewhere. I'd keep it completely voluntary whether you wanted to use it.

Alternatively you could put the whole thing in `t.util.shape_guard` or something, so when it was imported then the `sg`

[2020-09-03 07:54] mojiayuan commented on #39522
I just didn't understand that adding an image adds a lot of memory.Now I see. I added torch::NoGradGuard no_grad and the memory didn't increase as much as before.thx

[2020-09-03 07:57] Richie-yan commented on #43947
I set torch.backends.cudnn.enabled = False
There is no speed difference between the two. It seems that torch.cuda.synchronize does affect some performance of cudnn. I need to look at this in detail.

[2020-09-03 08:15] DLT10010 commented on #16034
2070也出现这种错误了，环境是torch1.01，Python3.6怎么解决呢，谢谢

[2020-09-03 08:28] Richie-yan opened #44103 "Item seems to affect the backward process of DataParallel"
PyTorch :1.5.0
model : resnet50

Background:
I currently have two test environments, one is a physical machine with 8 gpus, and the other is a 4 gpus Docker on this physical machine.
Run the 4 gpus resnet50 model (using DataParallel) in these two environments. The code of the train part is as follows:
[code]

It is found that the training speed of running 4 gpus on a physical machine is 0.33 s/ste

[2020-09-03 09:01] VinodSKumar commented on #44069
In the latest version, the following equivalents are available torch::amin and torch::amax.

[2020-09-03 09:05] zhongqingyang commented on #30158
hi,Can you tell me your solution

[2020-09-03 09:05] HaoYang0123 commented on #44099
I have solved this problem. I use docker machine, which has only 1 CPU. If I set 16 CPUs, the time will reduce from 20s to 0.3s.

[2020-09-03 09:06] #44099 closed

[2020-09-03 09:09] louweijia opened #44104 "disable instruction set when build libtorch"
## ❓ Questions and Help

My work host have all instruction sets, but service hosts are not support service host, such as 'AVX' and 'SSE4', so i want to disable the instruction set before build libtorch. How can I do it?

cc @malfet @seemethere @walterddr @yf225 @glaringlee @jlin27

[2020-09-03 09:36] AlexanderSerbul commented on #27212
+1

[2020-09-03 09:47] meganset commented on #44069
ah.
amin/amax.

thanks a lot.

[2020-09-03 09:47] #44069 closed

[2020-09-03 10:36] ptrblck commented on #43947
Thank for reporting the issue @Richie-yan.
I'm can reproduce the performance increase with an additional synchronization using this code snippet:
[code]
Could you please check it, if it would reflect your use case?

The results using `cudnn8.0.3.33`:
* no sync: 9.71555 +/- 0.05693
* with sync: 9.87690 +/- 0.11212

Since `cudnnFind` is profiling the kernels, the benchmarks seem to be affected negat

[2020-09-03 11:19] taoari commented on #9922
For those who are still interested. One of the possible solutions:

[code]

Really hope that there is an official way to trace back module and output shape info from grad_fn, e.g. `grad_fn.module` to retrieve all the module information.

[2020-09-03 11:22] peterbell10 commented on #39639
After gh-43423, the `masked_fill_` call now gives a deprecation warning. Most `TensorIterator` operators now check for memory overlap as well.

[2020-09-03 11:22] #39639 closed

[2020-09-03 11:38] oleg-kachan commented on #41292
What is the current status of NVIDIA DirectStorage/RTX IO direct data loading into GPU support by PyTorch?

[2020-09-03 11:38] Richie-yan commented on #43947
Hi, @ptrblck
Yes, your test can reflect my case.
I have another issue, which is also a weird phenomenon. Can you help us to take a look?
https://github.com/pytorch/pytorch/issues/44103

[2020-09-03 12:30] mariosasko commented on #44080
Verbose param was added very recently to the schedulers (last month). It should be there in the nightly release (link to the [source](https://github.com/pytorch/pytorch/blob/master/torch/optim/lr_scheduler.py)). I guess the docs (for version 1.6.0) are not synced properly with the source, but it should be fixed in next stable release.

[2020-09-03 12:47] #43480 closed

[2020-09-03 12:59] gemfield commented on #22259
Env:
- Ubuntu 18.04
- Pytorch 1.6.0
- CUDA 10.1

Actually, I am using Docker image gemfield/pytorch:1.6.0-devel which stated in https://github.com/DeepVAC/deepvac (same with above env), and use PyTorch DDP (by use the class DeepvacDDP in https://github.com/DeepVAC/deepvac/blob/master/deepvac/syszux_deepvac.py) to train my model, which the code worked perfect yesterday. But today when I launch the

[2020-09-03 13:00] gemfield commented on #20630
Env:
- Ubuntu 18.04
- Pytorch 1.6.0
- CUDA 10.1

Actually, I am using Docker image gemfield/pytorch:1.6.0-devel which stated in https://github.com/DeepVAC/deepvac (same with above env), and use PyTorch DDP (by use the class DeepvacDDP in https://github.com/DeepVAC/deepvac/blob/master/deepvac/syszux_deepvac.py) to train my model, which the code worked perfect yesterday. But today when I launch the

[2020-09-03 13:01] gemfield commented on #22834
Env:
- Ubuntu 18.04
- Pytorch 1.6.0
- CUDA 10.1

Actually, I am using Docker image gemfield/pytorch:1.6.0-devel which stated in https://github.com/DeepVAC/deepvac (same with above env), and use PyTorch DDP (by use the class DeepvacDDP in https://github.com/DeepVAC/deepvac/blob/master/deepvac/syszux_deepvac.py) to train my model, which the code worked perfect yesterday. But today when I launch the

[2020-09-03 13:10] acivgin1 opened #44107 "TorchScript number type is cast to an integer during assignment inside jit.trace"
## 🐛 Bug

The TorchScript `number` type gets cast to an integer type during value assignment inside jit.trace

## To Reproduce

This is the minimal code example that produces this bug.

[code]

Output:

[code]

This happens with `float16` and `float64` data types, as well as with `cpu` and `cuda` tensors .

## Expected behavior

The internal number type being cast to the proper type of the tensor

[2020-09-03 13:11] cheind opened #44108 "Incorrect batch-size when using IterableDataset + `num_workers > 0`"
## 🐛 Bug

Edgecase issue: when using IterableDataset whose total length is `BATCH_SIZE` and `num_workers > 0` is set in DataLoader, tensors with incorrect batch sizes are returned.

## To Reproduce

[code]
run the above script to reproduce issue.

## Expected behavior

[code]
Clearly only happens when dataset length matches batch size. While this might be an edge case, small dataset sizes are freq

[2020-09-03 13:50] alievrusik opened #44109 "Integer overflow when doing 1x1 convolution on very large tensor"
## 🐛 Bug

Integer overflow when doing 1x1 convolution on very large tensor

## To Reproduce

This is the minimal code example that produces this bug.

[code]

Output:
[code]
## Expected behavior

No RunTimeError, out_tensor is float16 tensor of shape 1x3x4096x4096.

## Environment

PyTorch version: 1.6.0+cu101
Is debug build: False
CUDA used to build PyTorch: 10.1

OS: Ubuntu 18.04.3 LTS (x86_64)

[2020-09-03 14:20] zou3519 commented on #44109
Not actually sure if it is a 64-bit problem, but there isn't a label for "integer overflow". Marking this as high pri because of the incorrect behavior

[2020-09-03 14:22] zou3519 commented on #44108
Marking this as high-pri for what sounds like a correctness issue

[2020-09-03 14:25] SsnL commented on #44108
This is expected. You are sharding a size-4 dataset into two equal shards
each of size 2. Your workers (each working on a shard) just are returning
the last incomplete batch in each shard.  DataLoader does not merge data
from different shards.

On Thu, Sep 3, 2020 at 10:22 Richard Zou <notifications@github.com> wrote:

[2020-09-03 14:31] zou3519 commented on #44103
The item() function causes a device-to-host sync that may be impacting performance. To learn more, one can run a cuda profiler through your code (something like nvprof).

What exactly is the behavior you are seeing here?

[2020-09-03 14:34] zou3519 commented on #5502
I don't know if we've fixed this already, @cpuhrsch @VitalyFedyunin @ngimel do you know?

[2020-09-03 14:42] malfet commented on #44104
PyTorch should not have an AVX instruction in the default codepath, so compiling in the host that supports AVX is fine. But if you want to avoid compiling the code that contains AVX/AVX2 instruction, you can try to build with DISABLE_AVX/DISABLE_AVX2/C_AVX_FOUND/C_AVX2_FOUND set to OFF

[2020-09-03 14:42] #44104 closed

[2020-09-03 14:47] VitalyFedyunin commented on #5502
We rewrote copy in 2019. Should at least not slower than adding 0 =)

[2020-09-03 14:47] #5502 closed

[2020-09-03 14:48] cheind commented on #44108
Aha! I must have missed this in the [documentation](https://pytorch.org/docs/stable/data.html#multi-process-data-loading). IMHO its not mentioned there. Only bit that hints into that direction is

[2020-09-03 14:49] VinodSKumar commented on #43864
Looks like this issue is already fixed in the latest version.  Could you please check once in the latest version.

**Output in latest version**
tensor([[1., 1., 1.]], device='cuda:0')
tensor([[1., 1., 1.]])
tensor([[1., 1., 1.]], device='cuda:0')
tensor([[1., 1., 1.]])
/home/vinod/forks/pytorch/aten/src/ATen/native/cuda/IndexKernel.cu:84: operator(): block: [0,0,0], thread: [0,0,0] Assertion `inde

[2020-09-03 14:51] kurtamohler commented on #42582
Unassigning myself since Mike asked me to stop working on this (https://github.com/pytorch/pytorch/pull/43755#discussion_r482528352)

[2020-09-03 15:18] Lilyjjo commented on #41773
Is it possible to have a type where there are no sizes specified? For example, would `Float(requires_grad=true)` or `Float()` be valid?

[2020-09-03 15:40] vkuzo opened #44111 "fx: unable to symbolically trace simple nn.Sequential model"
## 🐛 Bug

Seeing errors when trying to trace simple models based on `nn.Sequential`:

[code]

Note: doesn't repro on real models using `nn.Sequential`, I have only seen it on toy examples.

## To Reproduce

Steps to reproduce the behavior:

1. run this script: https://gist.github.com/vkuzo/c37d42607a11770ab9f2a976bb0b98dc
2. see this error: https://gist.github.com/vkuzo/70e3eca34211864f6c7be4c4bbf

[2020-09-03 15:41] vkuzo commented on #44111
@jamesr66a , could someone from the JIT team take a look?

[2020-09-03 16:00] apple2373 commented on #38622
I just had this issue with a negative loss value. Thanks for pointing this out. This issue helped me a lot, and I agree that pytorch should document it or shows the warning when negative loss is passed.

[2020-09-03 16:01] vadimkantorov commented on #43949
In practice I'm using the working variant `bytes(single_dim_byte_tensor)` in https://gist.github.com/vadimkantorov/86c3a46bf25bed3ad45d043ae86fff57 for packing/unpacking strings into a ByteTensor

[2020-09-03 16:02] vadimkantorov commented on #43949
Not clear why bytes representation of a tensor is related to advanced indexing...

[2020-09-03 16:14] #43607 closed

[2020-09-03 16:23] malfet commented on #43300
@gchanan I have a small patch against qemu which should allow us to test for this particular regression.

[2020-09-03 16:29] ZolotukhinM commented on #41773
Yes, it is possible to have the rank unspecified. In this case, the tensor type would appear as `FloatTensor`, while `Float()` actually corresponds to 0-dim tensor.

You could experiment with various tensor types by manually creating and printing them out (like https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/core/jit_type.h#L591-L613). The TensorType constructors are defined here: htt

[2020-09-03 16:41] AlexandreFoley commented on #28929
As far as i can tell, those constructor currently don't exist at all in the c++ api.

[2020-09-03 16:42] Lilyjjo commented on #41773
Oh, awesome, I was wondering how to test the code :)
I'll add some test cases there are verify that my code changes still work. I made an initial pull req, but I think I need to update it to treat the empty case correctly, so maybe hold off from looking at it

[2020-09-03 17:14] neginraoof opened #44120 "Code coverage tool not capturing ONNX tests"
## 🐛 Bug

Looks like the code coverage tool for CI is producing false alarm. The tool shows most parts of the source code related to ONNX and exporter are not covered by tests. But we have confirmed manually that these code lines (or a majority of them) are covered by tests.

See the screenshots below showing code that's not tested in red, for file torch/onnx/symbolic_opset9.py

![image](https://u

[2020-09-03 17:52] xuzhao9 commented on #42967
cc @seemethere

[2020-09-03 17:53] SsnL commented on #44108
Yeah, I agree with you that the documentation should be improved!

[2020-09-03 17:54] rohan-varma commented on #44084
For the first version where we will use a fixed-number of streams, what happens when there is no stream available, such as when the caller tries to retrieve them when sending an RPC? Would we block in this case for a stream to be returned to the pool or pick a stream that's already being used by some other operation? If we do the latter, could it cause some unintended synchronization?

[2020-09-03 18:01] BowenBao commented on #43795
Why do you think this "shape" is constant? The node returns the shape of `input_width`, which as mentioned above, shows `[2]` only because it's part of model output. Thus the value returned from "shape" totally depends on the shape of `input_width` produced at runtime.

I agree with everything else above that you have mentioned, that dynamic shape should be preserved, and that is exactly what `Sha

[2020-09-03 18:05] ljk53 commented on #43464
@luanjianbing where did you get the libtorch.so from? I don't think we have officially released libtorch for Raspberry Pi, so if you are using a version built for other platform then it won't work as expected.

[2020-09-03 18:09] spandantiwari commented on #44012
The recommended way is to set the device to cpu (and also to eval mode) before export. Can you try that?

[2020-09-03 18:11] spandantiwari commented on #43950
@nehasoni3 - as @ezyang also mentioned, please provide a repro.

[2020-09-03 18:15] dashesy commented on #43795
The length of the data in shape is constant `2`, it should be a numbered data without shape specified.
I will have to create a smaller repro that shows the issue even when `input_width` is not an output but in the middle of a larger network, everything computed.

[2020-09-03 18:25] kurtamohler commented on #42582
To whomever might pick this issue up in the future, @willwray shared with me a few possible approaches for overflow detection. GCC intrinsics seem like a possible solution, as long as they don't impact performance too much: https://gcc.gnu.org/onlinedocs/gcc/Integer-Overflow-Builtins.html

This benchmark application could be modified to test out the performance of the intrinsics, or any other prop

[2020-09-03 18:48] albanD commented on #10223
Following up on Ed's comment above, here is a full description of the final API we plan to provide.

### Intro

The way we build forward mode AD is using the concept of dual numbers.
In particular, we consider a dual number whose primal is the value of the tensor and the dual is the forward derivative (also called perturbation in the literature).

The basic Tensor object will be used to represent

[2020-09-03 18:53] mcarilli commented on #42605
My intention is to have a PR up by next Friday.  Will ping this issue.

[2020-09-03 18:56] #42859 closed

[2020-09-03 19:00] tianleiwu commented on #32968
Another workaround for triu for ONNX export is like:
[code]

[2020-09-03 19:13] guilhermeleobas opened #44135 "Enable torch.utils.data.* typechecks during CI"
`TestTypeHints.test_run_mypy` should pass with `[mypy-torch.utils.data.*]` deleted from mypy.ini

cc @ezyang @seemethere @malfet @walterddr @rgommers @xuzhao9 @gramster

[2020-09-03 19:28] vadimkantorov commented on #5436
Small dimension ops (widh size = 2/3/4) may get more used with rise of point cloud processing in PyTorch. I think it makes sense to add more tests about these sizes.

[2020-09-03 19:52] duaisha commented on #33933
What is the solution to this memory leak bug in torch.save? I am facing same, can someone explain me this?

[2020-09-03 19:59] dlrac commented on #42605
@mcarilli Thanks for the response (and future PR ofc)!

[2020-09-03 20:13] VinACE opened #44141 "RuntimeError: Gather got an input of invalid size: got [1, 230], but expected [1, 231] when running with 2 or more gpus"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

getting a invalid size error, only when I have multiple GPUs two  or more

File "mai

[2020-09-03 20:35] vukovicnikola opened #44143 "Xcode 12 Build Error: LibTorch/install/lib/libpytorch_qnnpack.a , building for iOS, but linking in object file built for macOS"
## 🐛 Bug

When building Pytorch's official iOS project (with Enable Bitcode set to No), Xcode 12 gives the linking error copied below.

## To Reproduce

I'm following the iOS guide on this page: https://pytorch.org/mobile/ios/

Error:
[code]

## Expected behavior

Expecting the build to complete like in the official documentation.

## Environment

PyTorch version: 1.7.0a0+297c938
Is debug build: F

[2020-09-03 21:22] mruberry commented on #42582
Thank you, @kurtamohler.

Marking this for retriage. This example seems very adversarial and a fix is nontrivial. I suggest it's not high priority.

One option @gchanan suggests is putting this fix only in debug builds.

[2020-09-03 22:14] #31705 closed

[2020-09-03 22:17] spandantiwari commented on #43051
Any parameter names should be exported to the ONNX graph, unless that parameter is folded by constant folding. Input and output names can be set through export arguments. Is that sufficient?

[2020-09-03 22:18] spandantiwari commented on #42785
@srohit0 - could you please provide some more info/repro?

[2020-09-03 22:18] spandantiwari commented on #42798
Please reopen with repro if you like.

[2020-09-03 22:18] #42798 closed

[2020-09-03 22:21] SplitInfinity commented on #42981
My PR to enable basic type annotations has landed. Let's pause on enabling strict mode until more of the codebase has type annotations.

[2020-09-03 22:25] spandantiwari commented on #41774
@zhujiangang - can you check if there's anything obviously wrong in your exported ONNX model. Please make sure that the model export is semantically correct by using scripting wherever there is input-dependent control flow. See this page for details: https://pytorch.org/docs/stable/onnx.html

If there's an export issue, please add sufficient repro steps here. If the export is fine, this could be a

[2020-09-03 22:27] rajcscw opened #44156 "CUDA memory leak in multi-processing"
## 🐛 CUDA memory leak in multi-processing

I'm working on parallelizing my training tasks (that are independent) in a multi-GPU setting. For this, I have created several workers (processes) that take a list of tasks and work parallelly to finish them. Each task is assigned with a device and any process that executes it will use the assigned device.

**The problem I observe is**: once a process fin

[2020-09-03 22:27] spandantiwari commented on #43417
@mattfreed - could there be a workaround using masked_select and add ops separately (or something similar)?

[2020-09-03 22:31] spandantiwari commented on #42911
@Joevaen - as asked before, could you please add the exact repro steps that lead to the graph on the right.

[2020-09-03 22:32] spandantiwari commented on #40387
Please reopen this issue with repro steps.

[2020-09-03 22:32] #40387 closed

[2020-09-03 22:39] rgommers commented on #42981
Makes sense. I think we can close this issue. Having one that's not actionable for a few months isn't too useful; once we're at the "kind of complete" stage, we can reconsider what should have strict mode. For now with `--follow-imports` the `test_run_mypy_strict` doesn't make sense except for codegen scripts that don't import anything else.

[2020-09-03 22:39] #42981 closed

[2020-09-03 22:46] xwang233 opened #44159 "[Feature Request] Add an option to run GPU tests only, and skip all CPU tests"
## 🚀 Feature

Add an option to run GPU tests only, and skip all CPU tests

For example, we can have an environment variable `PYTORCH_TEST_GPU_ONLY=1`.

## Motivation

Usually, when people only want to test GPU functionalities, they can skip CPU tests to save plenty of times.

## Pitch

For example, some pytorch tests look like (assuming pytorch built with GPU)
[code]
At runtime, two tests `test_so

[2020-09-03 23:02] angel-ayala commented on #18631
I was testing your code @samson-wang and it seems to round the output size in a different way than the nn.Conv2d, I also tried the one by @HansPinckaers and same thing, could you point which lines of cuda code do this? I know programing but I never tried with cuda.
Also any of you know where is the cuda code in the pytorch repo that handles the convolution operation? I was looking to get an idea h

[2020-09-03 23:33] spandantiwari commented on #41072
Yes, this could be related to the known issue with ScriptModules where the lack of type information does not allow us to export the correctly. There's some work related to type inference underway and we can test this scenario when that lands.

[2020-09-03 23:37] spandantiwari commented on #39323
Please reopen if you are still seeing this issue.

[2020-09-03 23:37] #39323 closed

[2020-09-03 23:38] #38991 closed

[2020-09-03 23:44] spandantiwari commented on #35743
@vincentqb - can you provide env details. Also, please provide complete repro including all variable that are used for export API call (such as `spec`).
Also, please use the `torch.onnx.export` API instead of `_export` and if possible, retry with the latest version of PyTorch.

[2020-09-03 23:48] spandantiwari commented on #35287
@briliantnugraha - can you try this in latest PyTorch 1.6. Many new ops and features have been added since 1.3. Also, please use the `torch.onnx.export` API instead of `_export` API. Finally there are some caveats for ONNX export related to tensor indexing. You can read about them on the ONNX doc page. https://pytorch.org/docs/stable/onnx.html. Please make sure that you are using supported indexin

[2020-09-03 23:49] spandantiwari commented on #34658
@eellison - do you think we can close this issue?

[2020-09-03 23:50] #34488 closed

[2020-09-03 23:51] #34290 closed

[2020-09-04 00:22] SsnL commented on #44156
You mean `empty_cache` after `task.run()` in `Worker.run` doesn't work?

[2020-09-04 00:47] ngimel commented on #44109
Closing as a duplicate of #43476, I'll reprioritize that one.

[2020-09-04 00:47] #44109 closed

[2020-09-04 00:59] Jgoldfeder commented on #27837
Switching  from 1.6 to 1.5 and downgrading my Nvidia driver to 431.86  fixed the error for me.

[2020-09-04 01:04] dbsxdbsx commented on #43878
@fritzo, does that mean It is impossible to get same shape by log_prob between normal and categorical, unless modify the shape of input `action`  respectively?

[2020-09-04 01:19] srohit0 commented on #42785
Thanks for being patient @spandantiwari. Below is more info:

**opset_version=10 fails**
[code]
Since ONNX version 1.5.0 only support opset_version 8, 9 & 10, **fix in versions 11, 12 and beyond aren't helpful.**

I tried those versions anyhow to give you more info. Here are the results:

**opset_version=11 fails**
[code]
**opset_version=12 fails**
[code]

**opset_version=13 not available**
[code]

[2020-09-04 02:10] Richie-yan commented on #44103
Hi, @zou3519
thank you for your reply
1. item has a synchronous effect, but what I don’t understand is why the effect of this function is very different in my two cases
2. The phenomenon I saw using nvprof is:
When the item function is called, the ncclReduceRingLLKernel call of the physical machine with 8 gpus accounts for a very high 17% of about 2ms, but the ncclReduceRingLLKernel call of Docker

[2020-09-04 02:23] pritamdamania87 opened #44169 "Deadlock with RPC and dist.barrier() for TensorPipeAgent and NCCL."
## 🐛 Bug

I ran into an interesting issue when using TensorPipe GPU tensors with dist.barrier() (backend being NCCL). Something simple like the following, would hang occasionally due to a deadlock (each worker executes the following):

[code]

The reason is as follows:

1. On worker1, the rpc_sync completes faster and it is waiting on dist.barrier() to completed.
2. worker0 now performs an RPC usi

[2020-09-04 02:27] pritamdamania87 opened #44170 "TensorPipeRpcAgent "set_device_map" should implicitly use the same order for the backward pass."
## 🚀 Feature

TensorPipeRpcAgent should implicitly use the reverse device mapping specified in "set_device_map" for the backward pass.

## Motivation

In the current implementation, user's need to specify the forward and backward pass mapping themselves as follows to run the backward pass appropriately:

[code]

This isn't a good user experience since it would be hard for users to predict which al

[2020-09-04 02:31] mszhanyi commented on #43852
@anjali411 , could you please provide a reproducible script?

[2020-09-04 02:39] emcastillo commented on #40702
Sorry for the late reply,
I think  you can implement gather/scatter yourself using nccl as it is described in

https://docs.nvidia.com/deeplearning/nccl/user-guide/docs/usage/p2p.html

[2020-09-04 03:04] mruberry commented on #43852
You can just call gradcheck on acos with complex input, or you can run the test by

(1) removing the request to skip the test:

https://github.com/pytorch/pytorch/blob/b60ffcdfdd32fcc2fb794cc6ae9ea0bf20027cc2/torch/testing/_internal/common_methods_invocations.py#L214

(2) running the acos test, which is generated from:

https://github.com/pytorch/pytorch/blob/b60ffcdfdd32fcc2fb794cc6ae9ea0bf20027c

[2020-09-04 03:07] gemfield opened #44171 "Pytorch DDP trainning will get stuck at loss.backward() after nvidia driver get updated."
## 🐛 Bug

After Ubuntu host got an automatical update of linux-modules-nvidia-440-5.4.0-45-generic:amd64 driver, the Pytorch DDP trainning in docker container will get stuck at loss.backward(), with cpu 100% and GPU 100% usage.

## To Reproduce

Steps to reproduce the behavior:

1. Launch Docker container with pytorch/pytorch:1.6.0-cuda10.1-cudnn7-devel
1. Train a model with Pytorch DDP.
1. Will g

[2020-09-04 03:12] wxywb opened #44172 "build from"
## 🐛 Bug

build from source(commit:4bb5d33076ca79836a780df9473fdc96cad21a45) failed，and I commented the line 212 in anaconda3/include/python3.8/pyport.h，then made the compilation completed.
## To Reproduce

Steps to reproduce the behavior:
1、python setup.py install

Here is CMake error stack.
[ 97%] Building CXX object caffe2/torch/CMakeFiles/torch_python.dir/csrc/jit/python/script_init.cpp.o
In f

[2020-09-04 03:32] #43464 closed

[2020-09-04 03:39] luanjianbing commented on #43464
yes，I find that. I download the libtorch.so from pytorch.org which is not supported for arm64. so if i want to use libtorch in arm64, i need to remake source code?

[2020-09-04 03:42] cheind commented on #44108
Should I close this issue and reopen a doc-improvement one?

[2020-09-04 04:22] kshitij12345 commented on #42896
Probably related #43874

[2020-09-04 04:25] ZackPashkin commented on #25214
I've had the same ussie, until I put the model on **CPU** then save . I torch.load works in this case
It seems the issue was in **tensor.cuda** and **tensor**

[2020-09-04 04:32] srohit0 commented on #42785
I added the Sequence() model along with other details to produce the crash in-house.  I hope, this helps.

[2020-09-04 04:42] henryiii commented on #11004
I believe this was fixed in pybind11 some time ago?

[2020-09-04 06:19] ez4lionky commented on #28457
I also met the error with pytorch==1.1.0, but it's normal in 1.4.0, any idea?

[2020-09-04 06:32] t-vi commented on #28457
Yeah, in 1.1.0, type hints weren't as complete as they are now.

[2020-09-04 06:36] kshitij12345 commented on #42515
Will be picking up `torch.exp2`. Will send a PR soon.

[2020-09-04 06:54] ez4lionky commented on #28457
I also think it should be a version issue. :)

[2020-09-04 07:04] qiangqing commented on #43687
I have the same questions.But my VS is 2015,i want to know,Do I need to upgrade the VS2015 to 2017?

[2020-09-04 07:33] Demirrr opened #44179 "REINFORCEMENT LEARNING (DQN) TUTORIAL is not working anymore due to matplotlib.pyplot.imshow()"
## 📚 Documentation

Dear @apaszke,

I would like to kindly remind you of an matplotlib NameError exception due to matplotlib.pyplot.imshow(). To reproduce this error, you may run [reinforcement_q_learning.ipynb in google colab](https://colab.research.google.com/github/pytorch/tutorials/blob/gh-pages/_downloads/2b3f06b04b5e96e4772746c20fcb4dcc/reinforcement_q_learning.ipynb).

Cheers

[2020-09-04 07:55] boeddeker opened #44182 "Support keep stride for neg with requires_grad=False"
## 🚀 Feature

Support that the output stride is identical to the input stride for `__neg__`, at least, when `requires_grad=False`.
Advantage: Less memory consumption and fewer computations.

The code
[code]
produces
[code]
while I want
[code]

## Motivation

I have a small tensor, but for the mathematical operation I have to use a large view of the tensor.
The mathematical operations, that I use,

[2020-09-04 08:33] CorentinJ commented on #35180
Getting the same issue, but not with a DataParallel model... It's a sequence to sequence model, and there's a tensor that always produce this error whatever is the operation I do to it.

[2020-09-04 08:46] garaud opened #44185 "caffe2: Python 3 deprecation warnings about inspect.getargspec"
## 🐛 Bug

I work with a legacy code which uses caffe2. I've recently switched the code from Python 2 to Python 3. When I run *pytest*, it catches several deprecation warnings about `inspect.getargspec`. This function is not compatible with Python 3.

## To Reproduce

Steps to reproduce the behavior:

* This is the class `HelperWrapper` which is used.
* The legacy code is inspired from an old versi

[2020-09-04 08:53] rgommers opened #44187 "Please stop the codecov bot from posting comments"
Recently the `codecov` bot has started posting comments on PRs like:

<img width="936" alt="image" src="https://user-images.githubusercontent.com/98330/92220575-801e4e00-ee9c-11ea-9fdd-a0b7301d1b3a.png">

This is very spammy and provides zero extra information, it's already one click away in the CI integration:

<img width="936" alt="image" src="https://user-images.githubusercontent.com/98330/9222

[2020-09-04 09:06] le1nux commented on #44156
I came across the same issue when using the multiprocessing pool. Similar to @rajcscw 's example, I assigned a list of tasks to GPUs and then ran them across a pool of processes. This resulted in GPU memory overflows as well.

One workaround is to recreate the process after each job completion, as shown by this snippet:
[code]

We initialize a pool that recreates the process after each **task**, s

[2020-09-04 09:23] ak-source commented on #43484
Probably related to https://github.com/pybind/pybind11/issues/1568. Applying https://github.com/pybind/pybind11/pull/1592 fixed crashes with that message for me.

In my case, JIT recursive compliation of a particular complex module subtree was crashing. I'd guess that either some forms of module dependencies or use of @jit.interface can cause this.

[2020-09-04 09:58] adamryczkowski commented on #43709
OK. I've bought a fresh phone for testing. The precise steps to reproduce are:

1. Reset the phone to factory settings
2. Install F-droid (from f-droid.org)
3. Using F-droid install Termux
4. Inside Termux:
    1. `pkg update`
    2. `pkg install python`
    3. `pkg install git`
    4. `pkg install cmake`
    5. `pip install wheel`
    6. `pip install pyyaml`
    5. `git clone --depth 1 --recursiv

[2020-09-04 10:04] zhangyingbit opened #44188 "do libtorch support torch.nn.functional.interpolate?"
I have trained a instance segmentation model **Yolact** in python (linux) , then I want to deploy it to c++ (windows platform).
First I convert the .pth to .pt file. Then in the c++, I met some errors , so I spend some time to figure out what is wrong.

The backbone(resnet101) and fpn work fine in c++.
But in the mask prototypes branch, there is a upsampling step
[code]
which InterpolateModule is

[2020-09-04 10:06] mfkasim1 opened #44189 "Option to set grads of unused inputs to zeros instead of None"
## 🚀 Feature
An option to set gradients of unused inputs to zeros instead of `None` in `torch.autograd.grad`.
Probably something like: `torch.autograd.grad(outputs, inputs, ..., zero_grad_unused=False)` where `zero_grad_unused` will be ignored if `allow_unused=False`.
If `allow_unused=True` and `zero_grad_unused=True`, then the returned gradients for unused inputs are zeros with the same shapes as

[2020-09-04 11:02] wang-ps opened #44191 "Can not link the function at::cuda::blas::gemm in libtorch_cuda.so"
## 🐛 Bug

## To Reproduce

I follow the official [tutorial](https://pytorch.org/tutorials/advanced/cpp_extension.html) to build custom CUDA extensions. And I would like to use the function `at::cuda::blas::gemm<float>()` to do the matrix product, which is defined in  `#include <ATen/cuda/CUDABlas.h>`

Steps to reproduce the behavior with a toy example:

1. The cpp file `pytorch_gemm_gpu.cpp`:
[cod

[2020-09-04 11:28] mangdian opened #44194 "Get different outputs after changing inplace option to False in pretrained models in ReLU"
I am trying to load a pretrained model and finetuning it. the original ReLU layer has a “inplace=True” option. Since this inplace option is causing some problems in autograd, I change the option to “inplace=False”, and load the pretrained weights. What confuses me is that the output of the network is totally different with these two different inplace options. Since ReLU has no trainable parameters

[2020-09-04 11:39] hrw commented on #43265
Was something missed or am I doing something wrong?

[code]

[code]

[code]

[2020-09-04 12:04] avivrosenberg commented on #28457
Perhaps it worked in `1.4.0`, I haven't tested. But as I mentioned, I see this now constantly with with `pytorch==1.6.0` and `mypy==0.782`.

[2020-09-04 12:18] t-vi commented on #28457
Yeah well, apparently some things were lost when the .pyi was reorganized. It was then reported as #40658 and fixed in July, but likely after 1.6 was cut.

[2020-09-04 12:27] shihlun1208 commented on #43687
@qiangqing Hi, I suggest you give it a try with  VS2017 or VS2019.
Following the VS Build Tool tutorials below FYR.
https://github.com/benfred/implicit/issues/76#issuecomment-414875242

[2020-09-04 12:39] kshitij12345 commented on #44159
@xwang233
How about
[code]
Should do the same thing

[2020-09-04 12:44] kshitij12345 opened #44195 "Remove torch.max/min warning"
## 📚 Documentation

https://github.com/pytorch/pytorch/blob/f8f35fddd4b2bd788953d6d6ccfadf690b73a3e8/torch/_torch_docs.py#L4273-L4286

The following warning can be removed given that https://github.com/pytorch/pytorch/pull/42004 is in.

cc: @mruberry

cc @jlin27 @mruberry @VitalyFedyunin

[2020-09-04 14:05] kshitij12345 commented on #44191
What is the output of
[code]

[2020-09-04 15:00] AWSNB commented on #43265
@hrw  the ...x2 intrinsics are missing from the gcc lib in the RH/GCC version u using

is @sebpop patch (https://github.com/sebpop/pytorch/commit/5b465263c0f3672ebcaa7d87a3177353ed2f5c8c) included in the source code you compiling from ?

[2020-09-04 15:02] hrw commented on #43265
Yes, his patch is in. I have hacky fix which need to clean up before submitting. Will open new issue.

[2020-09-04 15:03] kimishpatel commented on #43265
I thought that @sebpop's patch should have resolved this.

[2020-09-04 15:06] AWSNB commented on #43265
Could be new issue in RH8.c/gcc8

We tested spop fix on RH7.x/gcc7

Sent from my iPhone

On Sep 4, 2020, at 8:04 AM, Kimish Patel <notifications@github.com> wrote:

﻿

I thought that @sebpop<https://github.com/sebpop>'s patch should have resolved this.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/pytorch/pytorch/issues/432

[2020-09-04 15:06] hrw opened #44198 "error: ‘vst1q_f32_x2’ was not declared in this scope"
## 🐛 Bug

Some intrinsic (vst1q_f32_x2) is missing under CentOS 8 on AArch64 architecture

## To Reproduce

Steps to reproduce the behavior:

1. docker run centos:8
1. clone pytouch master branch
1. build

[code]

[code]

## Expected behavior

Pytorch builds.

## Environment

[code]

Issue is similar to #43265 one. I have simple fix but need to polish it to something worth submitting.

cc @malfet

[2020-09-04 15:07] hrw commented on #43265
Looks like his patch checks for intrinsic which is covered.

[2020-09-04 15:19] hrw commented on #44198
This output from CMake looks weird:

[code]

[2020-09-04 17:04] #41756 closed

[2020-09-04 17:21] sinannasir opened #44203 "[NCCL] Record FutureNCCL callback stream on CUDA caching allocator"
@pritamdamania87 noticed that we need to record FutureNCCL's callback stream on cuda caching allocator similar to: https://github.com/pytorch/pytorch/blob/master/torch/lib/c10d/ProcessGroupNCCL.cpp#L838.

cc @ngimel @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @rohan-varma @gqchen @aazzolini @xush6528 @osalpekar @jiayisuse @agolynski

[2020-09-04 17:25] sinannasir commented on #39272
Closing this issue again. We re-implemented get_future API using `FutureNCCL` #42335.

Some DDP Communication hook examples were also landed in #43310

[2020-09-04 17:25] #39272 closed

[2020-09-04 17:46] osalpekar opened #44205 "Generalized Helper for Parsing Environment Variables from Process Group"
## 🚀 Feature

We are introducing a new flag to guard the behavior of NCCL Async Error Handling. Users can set the environment variable NCCL_ASYNC_ERROR_HANDLING to control this feature (set to 1 if NCCL should crash instead of hanging due to timeouts/errors). A generalized helper function to parse environment variables and set the appropriate flags in `ProcessGroupNCCL` would help make the code mo

[2020-09-04 17:51] #28410 closed

[2020-09-04 17:52] rohan-varma commented on #23849
@xush6528 Do we still need to address this?

[2020-09-04 17:55] prokotg commented on #5261
@t-vi how does it work exactly? Does it run on GPU? What does it mean for RNNs to be JIT fused>

[2020-09-04 17:56] mmarcinkiewicz opened #44206 "Upsample with a trilinear interpolation works at least 10x slower using Mixed Precision than with FP32."
## 🐛 Bug

Upsample with a trilinear interpolation works at least 10x slower using Mixed Precision than with FP32.

## To Reproduce

Steps to reproduce the behavior:

1. Run python debug.py --input_shape 8 4 4 4 --batch_size 4 --iterations 100
2. Run python debug.py --input_shape 8 4 4 4 --batch_size 4 --iterations 100 --amp
3. Compare results

## Expected behavior

Upsample with a trilinear interp

[2020-09-04 17:56] rohan-varma commented on #28309
We have these tests internally now.

[2020-09-04 17:56] #28309 closed

[2020-09-04 18:36] rajcscw commented on #44156
Sure? Could you please check with the example I provided for **Device on task**? If you check the memory usage and compare with the example for **Device on worker**, you would clearly see that the total memory usage (summed up across all GPUs) is higher indicating there is a memory leak, although both use the same number of workers and they are supposed to use the same amount of memory at any poin

[2020-09-04 18:38] SsnL commented on #44156
@rajcscw Yeah I was using your device on task example, not my code. Adding `empty_cache` shows no "leak" really, other than the cuda contexts.

[2020-09-04 19:09] Maghoumi commented on #5261
@prokotg Look at the repo I linked above. Yes runs on GPU. For more info about JIT look at this blog post: https://pytorch.org/blog/optimizing-cuda-rnn-with-torchscript/

[2020-09-04 19:10] pritamdamania87 commented on #31036
Closing this out since these were intended to be private methods for now.

[2020-09-04 19:13] pritamdamania87 commented on #32636
https://github.com/pytorch/pytorch/pull/43684 should resolve this issue.

[2020-09-04 19:13] #32636 closed

[2020-09-04 19:14] #27020 closed

[2020-09-04 19:18] guilhermeleobas opened #44215 "Enable torch.utils.(tensorboard/show_pickle/hypify) typechecks during CI"
`TestTypeHints.test_run_mypy_strict` should pass with `[mypy-torch.utils.tensorboard]/[mypy-torch.utils.show_pickle]/[mypy-torch.utils.hypify]` deleted from mypy.ini

cc @ezyang @seemethere @malfet @walterddr @rgommers @xuzhao9 @gramster

[2020-09-04 19:34] eellison commented on #34658
Yea, this works now.

[2020-09-04 19:34] #34658 closed

[2020-09-04 19:54] david-macleod commented on #44025
Just to clarify, I see these issues regardless of the number of threads (`torch.set_num_threads`), but increasing the number of processes through `mp.spawn` exacerbates the slowdown.

[2020-09-04 20:07] robieta opened #44219 "Adaptive timing method on torch Timer"
## 🚀 Feature
Method on `torch.utils._benchmark.Timer` to run until a stable measurement is achieved.

## Motivation

When benchmarking a change, it is good form to test on a wide variety of cases. The appropriate number of trials varies based on the stability of the operation being benchmarked. `Timer.blocked_autorange` runs for a (roughly) fixed amount of time, but this may be surplus to requirem

[2020-09-04 20:13] le1nux commented on #44156
@SsnL This is interesting. Did you run it on multiple GPUs?

In the mulitprocessing pool, I have basically the following setup:
[code]
 What I saw was that `process 1` would allocate some memory on `GPU 1` to execute `job 1`. After `job 1`  finishes, even calling `empty_cache` would leave a high amount of memory allocated on `GPU 1`. Thus, in the next round `process 4` would allocate even more mem

[2020-09-04 20:16] SsnL commented on #44156
@le1nux I just ran @rajcscw 's 1st script with `empty_cache` on a 4 GPU machine. Each context is usually of size 300~800MB. Generally you should make sure to clean up any references to GPU tensors (including indirect ones e.g., a tensor backed by a computation graph which contain many intermediate buffers) before calling that.

[2020-09-04 22:02] yingsiqin opened #44228 "Exporting the Sigmoid operator svd to ONNX opset version 9 is not supported"
## Issue description

I tried to convert a PyTorch model that has a sigmoid operation to ONNX but it was not supported.
I'm using PyTorch version 1.6.0. Please help!

## Code to reproduce the bug

In the model file model.py:

import torch.nn as nn
class Model(nn.Module):
    def __init__(self):
        super(Model, self).__init__()
        ...
    def forward(x):
        x = nn.Sigmoid(x)

[2020-09-04 22:10] Zacchaeus14 commented on #18631
Any update on this?

[2020-09-04 22:20] leopd opened #44229 "Segfault in pytorch 1.6 importing common libraries"
## 🐛 Bug

This minimal program fails to complete:

[code]

The output is:

[code]

## To Reproduce

This happened to me when I upgraded to pytorch 1.6 from 1.5.  It seems likely that there's some version incompatibility with the libraries, so I'm attaching a conda environment file that defines the environment.  (Github made me rename it .txt instead of `conda.yaml`)
[conda-yaml.txt](https://github

[2020-09-04 22:41] pritamdamania87 commented on #42560
Resolved in https://github.com/pytorch/pytorch/pull/43684

[2020-09-04 22:52] PkuRainBow commented on #27212
+1

[2020-09-05 00:14] pritamdamania87 commented on #38513
@mrshenli Did you intend to have a `.backward` call in your example above? I wrote a simple unit test locally and couldn't repro any hang even after running the test 100 times:

[code]

[2020-09-05 00:55] wang-ps commented on #44191
Thanks for your reply! @kshitij12345
I tried the command  `ldd pytorch_gemm_gpu.cpython-37m-x86_64-linux-gnu.so`, and the output is as follows:

[code]

Then I use the following command to add the shared libraries provided by pytorch to `LD_LIBRARY_PATH`
[code]

However, when I run the script `python -c "import torch; import pytorch_gemm_gpu"`, the error still persists:
[code]

This time,  after r

[2020-09-05 02:58] Richie-yan commented on #44103
@zou3519 @ptrblck
Can you help answer this question?

[2020-09-05 03:01] hande6688 commented on #44024
Training on Kins
python train_net.py --cfg_file configs/kins_snake.yaml model kins_snake

https://github.com/zju3dv/snake/issues/88

[2020-09-05 03:50] mszhanyi commented on #43687
@qiangqing, please install 16.6.5 in [vs2019 earlier release](https://docs.microsoft.com/en-us/visualstudio/releases/2019/history).
And It'd better to disable the upgrade because the latest VS 2019 has some issues.

[2020-09-05 06:39] jasmeetkaur642 opened #44244 "Loading a trained torch script model saved from python notebook on google colab on local machine"
Trying to load a torch script model saved from running the script on google colab in C++ on local machine gives me the following error:
     `terminate called after throwing an instance of 'c10::Error'
  what():  open file failed, file path: /home/jasmeet/sbpl/build/model_a.pt
Exception raised from FileAdapter at /pytorch/caffe2/serialize/file_adapter.cc:11 (most recent call first):
frame #0: c10:

[2020-09-05 07:13] jiangxiluning commented on #27551
I have the same issue with 1.5.1 and 1.6.0 when I used torch.onnx.export. And I also found the element of torch.Size will be changed in the method of  torch._C._create_graph_by_tracing. You can refer to https://github.com/pytorch/pytorch/blob/3c31d73c875d9a4a6ea8a843b9a0d1b19fbe36f3/torch/jit/__init__.py#L357.

Normally, the  list(tensor.size()) will return list of int, this function did changes t

[2020-09-05 08:46] techity opened #44245 "torch.mv with sparse matrix gives internal assert on cuda"
## 🐛 Bug

torch.mv with sparse matrix gives internal assert on cuda, but works on cpu

## To Reproduce

device = "cuda"
tensor = torch.rand(2, 2).to_sparse().to(device=device)
vector = torch.tensor([0.1, 0.2], device=device)
result = torch.mv(tensor, vector)
print("result", result)

Traceback (most recent call last):
  File "C:/py/malte/nn-torch-bug-report.py", line 22, in <module>
    y = torch.m

[2020-09-05 09:09] wenqinglim commented on #36941
@puthurr I ran the solution suggested above ` cp /usr/lib/libc++.1.dylib venv/lib/python3.7/site-packages/torch/lib ` and also still faced the same issue as you described. My Pytorch was also working, but TorchText was not. I was using:
[code]

I managed to resolve it by upgrading to `torch==1.6.0`.
I see above that you're already on Torch 1.6.0, but you might want to do a double check on your oth

[2020-09-05 09:11] greaber opened #44246 "random crashing in asyncio with AMP and DistributedDataParallel using cuDNN GRUs"
## 🐛 Bug

I'm experiencing my training crashing when using the new cuDNN RNN support from AMP added by @mcarilli together with DistributedDataParallel.  Unfortunately, this crashing is random and usually doesn't happen until my training has been running for several hours, so it is hard for me even to come up with a small example to reproduce it.  All I see is an endless loop of the following stack

[2020-09-05 09:46] ibmua opened #44248 "Additional clutter memory allocated on GPU 0 when training on GPU 1+"
## 🐛 Bug

Might be related to https://discuss.pytorch.org/t/model-always-allocate-some-memories-on-gpu-0/58340/8

I get similar issue forking via multiprocessing and processing on seperate gpus in separate processes. Additional memory clutter is being allocated on GPU 0 (233mb in my case, seemingly independent of the model depth or breadth) during first training-mode (but not testing-mode) model f

[2020-09-05 11:15] Rubix982 commented on #41706
@SplitInfinity please check out the pull requests. Thanks!

[2020-09-05 11:21] Rubix982 commented on #41708
There is no file called `fakefp16_transform.cc` in `caffe2/opt/custom/`? Below image is the view that I see.

![image](https://user-images.githubusercontent.com/41635766/92304023-c904fe00-ef93-11ea-9f53-4e84fb69b296.png)

[2020-09-05 11:40] Rubix982 commented on #44205
Hi, @osalpekar . This is very interesting. I would to like to follow up with you starting from today for the next few couple of days.

I went through the pull requests that you made, and out of the checks that failed, `Facebook Internal - Builds & Tests Action required after 38m — 323 passed, 1 advice, 221 warning` is one of them that is common to all PRs. Do you have some idea about this? I think

[2020-09-05 12:25] Rubix982 commented on #41706
Simply replacing the names does not help. Assistance is needed.

[2020-09-05 14:42] mariosasko commented on #44023
The error is pretty self-explanatory. You can't call `.numpy()` on a tensor if that tensor is part of the computation graph. You first have to detach it from the graph and this will return a new tensor that shares the same underlying storage but doesn't track gradients (`requires_grad` is `False`). Then you can call `.numpy()` safely. So just replace `tensor.numpy()` with `tensor.detach().numpy()`

[2020-09-05 16:32] peterbell10 commented on #44025
How are you using `torch.set_num_threads` and how many CPU cores do you have? With all 10 processes operating single threaded on a 24-core CPU, I get `cat`, `index_copy` and `np.concatenate` all taking around 1-4 ms. With your original script I see `cat` on some processes taking only 1-2 ms but also sometimes taking much longer; as high as 50 ms or even 100 ms. I presume you've cherry picked the f

[2020-09-05 17:07] zkbutt opened #44253 "新版本能不能支持下 tesla k40m的显卡"
新版本能不能支持下 tesla k40m的显卡

[2020-09-05 18:55] SplitInfinity commented on #41706
There already an open PR for this with tests passing.

[2020-09-05 19:51] KsenijaS commented on #41304
@kundanapillari The exception: assert inputs.size(-1) == self.in_dim * self.r is caused because pytorch model is called with keyword argument text_position (model(sequences, text_position=text_position)) while onnx model is not.
If you look at the order of arguments in MultiSpeakerTTSModel forward function (self, text_sequences, mel_targets=None, speaker_ids=None, text_positions=None, frame_positi

[2020-09-05 22:15] ashwinvaswani commented on #43546
@mrshenli Sure, sorry for the delay, here is a link to the codebase: [https://github.com/ashwinvaswani/lesion_detection](https://github.com/ashwinvaswani/lesion_detection)

To make it simpler for you to look, I feel the most relevant files for you would be:
1. [Config file](https://github.com/ashwinvaswani/lesion_detection/blob/master/deeplesion/mconfigs/densenet_acs.py)
2. [Detector file](https:/

[2020-09-05 23:25] #23220 closed

[2020-09-06 00:13] svenstaro opened #44255 "Allow to use system zstd"
## 🚀 Feature
I want to be able to use my system's zstd lib instead of the static library built by pytorch.

## Motivation

It would allow for nicer integration into Linux distributions. Same reason for why there are so many use `USE_SYSTEM_` directives already.

[2020-09-06 03:47] arch-yamasaki opened #44258 "A Tensorboard problem about generating a graph of deeplab-v3 in Torchvision."
## ❓ Questions and Help

I want to generate  deeplab-v3 graph on Tensorboard so I tried the below code refering the pytorch documentation.
(https://pytorch.org/tutorials/intermediate/tensorboard_tutorial.html)

[code]

And I get next error.

[code]

When I tried it with vgg16, I could generate the model grap.
So I guess I have to do some adjusting code for torchvision or complicated model but I do

[2020-09-06 03:59] SsnL commented on #44248
You are using some operation that initializes the CUDA context without specifying a device, which initialized the context on device 0. This is not really a pytorch bug, but you could figure out which line does that.

[2020-09-06 03:59] SsnL commented on #44253
compute capability 3.5 is not supported in the binaries anymore. you may still build from source, and obtain a version that works for your card.

[2020-09-06 06:09] zkbutt commented on #44253
@SsnL  请问下如何构建 有相关的教程吗?

[2020-09-06 06:23] dvirginz opened #44260 "Was gesv differentiable? and if so, why torch.solve is not?"
In a project I'm currently working on I need to solve a set of linear equations as part of the pipeline. Although TensorFlow offers it from 2017, I cannot see any workaround in PyTorch.

Reading
https://github.com/weiyangfb/pytorch/commit/207b5d6b7588b1873ae354f4712c2160965ddc11
https://discuss.pytorch.org/t/differentiable-linear-solver/12852

It seems that `torch.solve` replaced `torch.gesv`, but

[2020-09-06 08:40] puthurr commented on #36941
@malfet @wenqinglim
I solved it by changing the rpath in the library _torchtext.so using the following command (Mac OS X)
**install_name_tool -change @rpath/libc++.1.dylib /usr/lib/libc++.1.dylib _torchtext.so**
Now the path is absolute.
**otool -L _torchtext.so**
_torchtext.so:
	@rpath/libc10.dylib (compatibility version 0.0.0, current version 0.0.0)
	@rpath/libtorch.dylib (compatibility version

[2020-09-06 09:17] Coderx7 commented on #44253
@zkbutt Check this : https://github.com/pytorch/pytorch/issues/30532#issuecomment-669714101
somebody built 1.6 with compute capability 3.5. there is also notes on how to get it compiled without much of a hassle!

[2020-09-06 10:55] pifparfait commented on #39
Hi world,
I got this error after declaring and call the following variables:
# randomly initialize parameters from a normal distribution
params = np.random.normal(0, np.pi, (nr_qubits, nr_layers, 3))
params = Variable(torch.tensor(params), requires_grad=True)

The error is:
---------------------------------------------------------------------------
TypeError                                 Traceba

[2020-09-06 11:28] pifparfait commented on #39
SOLVED!

[2020-09-06 11:39] david-macleod commented on #44025
Thanks for your reply, this definitely seems to fix my issue! The problem was that I had `torch.set_num_threads(1)` set in the main process but not the (spawned) child processes, not realising this setting wouldn't propagate.

If I want to define single threading in the parent process, and then have it true for all subprocesses, would setting `os.environ["MKL_NUM_THREADS"] = "1" ; os.environ["OMP_

[2020-09-06 13:37] cqray1990 opened #44262 "op not support bug"
when i try to convert pytorch model to onnx it rasied the error as follows:

RuntimeError: ONNX export failed: Couldn't export operator aten::threshold

and thwarings is :
UserWarning: ONNX export failed on threshold because non-zero threshold not supported
  warnings.warn("ONNX export failed on " + op + " because " + msg + " not supported")

can you help me ,thank you so much

[2020-09-06 13:55] greaber commented on #44246
I can't reproduce this now, probably it is not a real bug, closing.

[2020-09-06 13:55] #44246 closed

[2020-09-06 16:50] peterbell10 commented on #44025
That explains it then. Unlike forking, `spawn` won't propagate global state values over to the child process. Either calling `torch.set_num_threads` in the child process or setting the environment variables should work fine. `set_num_threads` also works when pytorch isn't built with OpenMP so should be more portable.

[2020-09-06 17:09] vadimkantorov commented on #44025
I think all these issues ask for some clear guidance in docs to bring attention to these considerations: thread state inheritance, oversubscription etc

[2020-09-06 17:36] SsnL commented on #44253
Closing as duplicate of https://github.com/pytorch/pytorch/issues/30532. In addition, this github repo normally only support issues in English, for the purpose of searching and cross referencing by general users.

[2020-09-06 17:36] #44253 closed

[2020-09-06 18:15] vadimkantorov commented on #38349
One more vote for `divmod`, given that the scalar version is already implemented in JIT as part of https://github.com/pytorch/pytorch/issues/18627#issue-427135521

[2020-09-06 19:15] ekdnam commented on #35803
This worked for me. Thanks a lot!

[2020-09-06 20:11] slerman12 opened #44265 "How to run a simple benchmark test on a custom RNN?"
Say I have a custom LSTM cell... how can I use this repository to run a simple benchmark test on that?

[2020-09-06 23:59] #31877 closed

[2020-09-07 00:00] alonhzn opened #44267 "Using DataLoader with num_workers>0 causes re-run of script"
## 🐛 Bug

When iterating on a DataLoader object with num_workers>0 the python script itself re-runs causing a crash.

## To Reproduce

[code]

## Expected behavior

Expected: a print to terminal "running this script"
instead, the entire script re-runs so the print happens twice and then the script crashes.

## Environment
PyTorch version: 1.6.0
Is debug build: False
CUDA used to build PyTorch: 10.

[2020-09-07 00:59] SsnL commented on #44267
This is expected. Windows uses `spawn` by default (because of Python), which literally reruns the script, which is why you should wrap actual executing code in `if __name__ == '__main__':`. https://pytorch.org/docs/stable/notes/windows.html#multiprocessing-error-without-if-clause-protection

[2020-09-07 00:59] #44267 closed

[2020-09-07 02:43] lsd1994 opened #44269 "libtorch model load and inference slow when running first time"
When I load and inference a model, it runs slow at first time, but  returns to normal speed after first time.
Is it normal for libtorch or I miss something basic?
I use win10+libtorch1.5+cuda10.1+vs2017

code:
void f()
{
	clock_t t1, t2, t3;
	t1 = clock();
	torch::jit::script::Module model = torch::jit::load("E:/python/pytorch/model.pt");;
	model.eval();
	model.to(torch::kCUDA);
	t2 = clock();
	pr

[2020-09-07 05:25] kshitij12345 commented on #44269
I think it has to do with initialising CUDA related stuff.

To mitigate, you can mostly push a dummy input once so that you can have inference at the usual speed.

[2020-09-07 05:35] lsd1994 commented on #44269
@kshitij12345 Thank for your reply. I will try this.

[2020-09-07 05:57] chrismaliszewski opened #44272 ""exp_cuda" not implemented for 'ComplexDouble'"
## 🐛 Bug
There is a bug during calculating exp on CUDA.

## To Reproduce
Steps to reproduce the behavior:
[code]

## Expected behaviour
Calculate exp with a complex part

## Environment
PyTorch version: 1.6.0
Is debug build: False
CUDA used to build PyTorch: 10.2

OS: Microsoft Windows 10 Enterprise
GCC version: Could not collect
Clang version: Could not collect
CMake version: Could not collect

P

[2020-09-07 06:26] svenstaro commented on #20206
Apparently this works now in pytorch 1.6.0 with protobuf 3.12.4 and gcc 10 so perhaps we can consider this issue closed.

[2020-09-07 06:48] carlsummer commented on #42391
RuntimeError: Only tuples, lists and Variables supported as JIT inputs/outputs. Dictionaries and strings are also accepted but their usage is not recommended. But got unsupported type Yolact

[2020-09-07 06:53] endeavormoquan commented on #35736
Hi, I think this is a workaround for this problem.
[code]
Just a simple CUDA related function called before initializing a tensor will let everything OK, even though the tensor does not need CUDA support.
Without `torch::cuda::is_available()`, I will get the error:
[code]
I am using LibTorch 1.6.0 with cuda10.1. The LibTorch was downloaded from https://download.pytorch.org/libtorch/cu101/libtorch-

[2020-09-07 07:00] carlsummer commented on #42391
As of March 10, 2019, Pytorch DataParallel still doesn't support JIT Script Modules

[2020-09-07 07:30] tgsmdww opened #44273 "mean with repeated dim gives inconsistent results for cpu and cuda"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

[code]
Result is
[code]

When transfer a same dim like 0 twice, CUDA and CPU return different result. It seems like CPU calculates mean twice and CUDA not.

cc @ezyang @gchanan @zou3519

[2020-09-07 07:33] Speakingwardrobe opened #44274 "Slower speeds when using half()."
I've written some code to test the speed of resnet50：

[code]

but it seems that fp32 perform even better than fp16：

|input size|fp32(fps)|fp16(fps)|
|:---:|:---:|:---:|
|(3×112×112)|191|176|
|(3×224×224)|180|153|
|(3×320×320)|153|164|

And I wonder know why this happens？Thanks for your help！

[2020-09-07 09:21] padmasreenagarajan commented on #34743
i tried the same and the error got resolved..but could u please explain me why this happens in brief..
also.im facing the tracer warning in the following line... **size_array = [int(s) for s in x.size()[2:]]**

@winself

[2020-09-07 10:52] Coderx7 commented on #41640
@vkuzo : Thanks a lot really appreciate your time and kind help. I followed your suggestion and  tried graph mode quantization and it actually worked. however, the rate is not significant! the model size shrunk to 47MB from 87MB and speed wise, is it only converting to fp32? or is this in int8? becasue for int8 its a bit too large I guess. also the speed up is about ~1.3x i.e. around 25% boost whi

[2020-09-07 10:55] qinjian623 opened #44279 "How to use CUDA Dynamic Parallelism in PyTorch CPP extension?"
I found discussions at discuss.pytorch.org .  But there is still no solution now.

Here is the error message:
[code]
and
[code]

Thanks.

[2020-09-07 11:25] emilwallner commented on #40968
Any update on this? Does it work on previous Pytorch versions?

[2020-09-07 11:29] phongnhhn92 commented on #42218
@mcarilli I still have this issue with Pytorch 1.6. Is there any way to fix this ?

[2020-09-07 11:33] alessandroscoppio commented on #31906
May not be related, but I faced the same error on a different pytorch model.
Commenting all wandb related code (init, watch and save) solved my segmentation fault error...

[2020-09-07 12:02] danieledema commented on #42218
Hi all, I have the exact same issue. any idea if there is a workaround waiting for the fix?

[2020-09-07 12:23] #44108 closed

[2020-09-07 13:05] lw commented on #44084
After some more offline discussion, we've refined the proposal. Let me try to recap what we said.

![RPC CUDA diagram](https://user-images.githubusercontent.com/120810/92390663-9c7bee00-f11b-11ea-8c60-979347282fce.png)

Main new ideas:
- We thought we had to work with the standard PyTorch Future class, which is not CUDA-aware, but we realized that we can subclass it to add the functionality we nee

[2020-09-07 13:09] dichotomies commented on #43864
I am not sure if this issue is fixed in the latest version (I'm using `1.7.0.dev20200907`), because this command now results in a runtime error instead of an index error.

For example, running:
[code]

results in `RuntimeError: copy_if failed to synchronize: cudaErrorAssert: device-side assert triggered`. This error makes this tensor now inaccessible. For example, if you try to access another elem

[2020-09-07 13:50] vadimkantorov commented on #38550
Another usecase is some fused padding + chunk + returned tensor. For situations where some reduction is done next.

[2020-09-07 14:01] lw commented on #44170
Interesting issue... Just to clarify: if the forward pass goes from A to B, then the backward pass consists in an RPC request initiated by B towards A, right?

We (actually, @mrshenli) did implement the logic that makes responses use the reverse map of the request, but we didn't think that there may be new requests that we want to behave like responses.

One quick fix we could imagine for 1.7 is t

[2020-09-07 14:05] ag14774 commented on #44248
Could be pin_memory in your data loader. Does it happen if pin_memory is False?

[2020-09-07 14:06] lw commented on #43368
Weird, a segfault, may be something serious. This is a flake though, right? It wasn't happening consistently?

It's a shame we have so little information to go on when we get these flakes. It may be a good investment to add some mechanism to automatically print some extra info when a test fails. In this case, the backtrace of when the segfault occurred would have been invaluable.

It seems there e

[2020-09-07 14:14] pourya-farzi commented on #3587
To put cyxtj into action you should use this piece of code to reach the last output in Bi_RNNs
        outputB_Forward=outputB[-1,:,:self.hidden_sizeB]
        outputB_backward=outputB[0,:,self.hidden_sizeB:]

[2020-09-07 15:38] fteicht opened #44282 "PyTorch wheel's own OpenMP library clashing with system-wide OpenMP library at runtime"
## 🐛 Bug

On MacOS Catalina with PyTorch installed with pip, when the same Python script imports both PyTorch and another package using also OpenMP, the Python interpreter crashes with the following message:

`OMP: Error #15: Initializing libiomp5.dylib, but found libiomp5.dylib already initialized.
OMP: Hint This means that multiple copies of the OpenMP runtime have been linked into the program.

[2020-09-07 16:10] taufique74 commented on #17313
@zhangguanheng66  @albanD
Should I start working on a PR?

[2020-09-07 16:14] kshitij12345 commented on #44272
It is fixed. Works on latest master.
[code]

[2020-09-07 16:30] kshitij12345 commented on #44273
It is the same case with `torch.sum`
[code]

[2020-09-07 17:54] stakemura opened #44283 "Enable XNNPACK on Windows Libtorch binaries"
## 🚀 Feature
Enable XNNPACK on Windows Libtorch binaries

## Motivation
I've confirmed XNNPACK is supported on macOS Libtorch binaries.
However, XNNPACK is not supported on Windows Libtorch binaries including nightly build.
It seems that XNNPack is disabled on build as the `TorchConfig.cmake` in [ibtorch-win-shared-with-deps-latest.zip](https://pytorch.org/get-started/locally/) shows.

[code]

cc

[2020-09-07 18:46] ngimel commented on #44274
What GPU are you using? cc @ptrblck

[2020-09-07 18:48] robieta commented on #44269
Indeed, lazy CUDA init is expected. @kshitij12345's suggestion of a warmup is the recommended solution.

[2020-09-07 18:48] #44269 closed

[2020-09-07 18:50] kurtamohler commented on #31758
For anyone who tries to run the repro script, you'll have to install pysot from its github repo, here: https://github.com/STVIR/pysot
However, the script depends on a `config.yaml` file that I don't have:
[code]

@zyc-ai, could you please post that `config.yaml` file so we can run the script?

[2020-09-07 19:07] ibmua commented on #44248
No, I turned that one off a while ago and transferred my dataset directly to GPU, feeding it through a custom class. As far as I remember, pin_memory was only making things load longer vs not using it, btw. 🤷

Can't think of where that would happen outside of stock pytorch code. I don't have any custom code there that inits torch tensors on model->forward. And this happens during train-time model-

[2020-09-07 19:17] ngimel opened #44284 "Current behavior of `as_tuple` argument is inconsistent in `nonzero`"
After `nonzero` started warning that `as_tuple` is a required argument (1.6) a few unfortunate things has happened:
1) the examples in docs started issuing a warning #43425
2) there's no way to pass `out` and `as_tuple` arguments together
[code]
The rationale behind making `as_tuple` argument required is going through deprecation cycle to change the default value of `as_tuple` so that `torch.nonze

[2020-09-07 19:26] stas00 commented on #44284
I totally agree, @ngimel!

there was another discussion of this subject matter that led nowhere here: https://github.com/pytorch/pytorch/pull/43434

[2020-09-07 20:04] zhangguanheng66 commented on #17313
@taufique74 Since the idea is similar to `AdaptiveLogSoftmaxWithLoss`, we can put it next to `torch.nn.modules.adaptive`. Ideally, we should put those future modules to `torchtext.modules`, if they are more relevant to the text domain, because torchtext is the extension of pytorch for NLP applications.

[2020-09-07 20:21] zhangguanheng66 commented on #44273
inconsistent results for `torch.mean` operator on cpu and cuda.

[2020-09-07 20:24] zhangguanheng66 commented on #44282
@seemethere this might need your attention.

[2020-09-07 21:19] beeqwe opened #44285 "Image to Tensor data"
Library: **pytorch_java_only-1.6.0**

I want to convert BufferedImage/File to Tensor data, is there some method or library for this?

Python solution:

`
image = Image.open(image_path)
image = image.convert('RGB')
transform = Compose([ToTensor()])
image = transform(image)
image = image.view(1, 3, 64, 64).cuda()
output = my_model(image)
output = output.view(-1, self.quantity)
output = nn.functional

[2020-09-07 21:21] zhangguanheng66 commented on #44285
Have you taken a look at `torchvision`, a pytorch extension library for image application.

[2020-09-07 21:55] chrismaliszewski commented on #44272
I'll need to wait for a working build for Windows then. If I'm correct the current one is failing and I shouldn't download it, correct?

[2020-09-07 22:26] beeqwe commented on #44285
**pytorch_android_torchvision** do you mean this library? Could you explain please, can i use it in a non-android application?

[2020-09-07 23:25] mruberry commented on #44195
That's true, we should also test that #42004 validates the behavior for min and max as well as argmin and argmax by ensuring consistency across them. We would definitely accept a PR fixing this.

[2020-09-08 00:03] SsnL commented on #42405
It is possible, in two ways:
1. You can just set `batch_size=None` and make `sampler` yield batched indices, and do batched `__getitem__` with vectorized transforms. This is what I was initially suggesting.
2. You can do batched transforms in `collate_fn`.

[2020-09-08 00:59] gakadam opened #44287 "Low Validation Score on Pretrained Alexnet from Pytorch models for ImageNet 2012 dataset"
If you have a question or would like help and support, please ask at our
[forums](https://discuss.pytorch.org/).

If you are submitting a feature request, please preface the title with [feature request].
If you are submitting a bug report, please fill in the following details.

## Issue description

Low validation score on Pretrained Alexnet and Imagenet 2012 data set.
I am using pretrained networ