[2021-08-16 21:42] seemethere commented on #56396
We should consider updating docs first and then develop a solution for being able to execute from the root directory

[2021-08-16 21:44] seemethere commented on #57967
From triage meeting: solution should be a warning when mypy versions do not match

[2021-08-16 21:47] seemethere commented on #62590
Removing high priority and adding to the 1.10 milestone

[2021-08-16 21:50] seemethere commented on #59303
Needs documentation on how to generate dummy node manually

[2021-08-16 21:51] samestep commented on #57967
@seemethere that sounds like a different issue from what this thread is about?

[2021-08-16 21:52] seemethere commented on #56745
Perhaps this would be a feature request on either Dr. CI or hud.pytorch.org?

[2021-08-16 21:54] seemethere commented on #59724
Closing because we already disabled these tests

[2021-08-16 21:54] #59724 closed

[2021-08-16 21:58] seemethere commented on #61563
Should be fixed, closing

[2021-08-16 21:58] #61563 closed

[2021-08-16 21:58] astaff commented on #63323
Duplicates https://github.com/pytorch/pytorch/issues/63322.

[2021-08-16 21:58] #63323 closed

[2021-08-16 21:59] seemethere commented on #61460
Not needed for 1.10, but we should get this done ASAP

[2021-08-16 22:01] zou3519 commented on #62354
Reopening this for a related feature request. The existing expected failure mechanism is great, but we cannot use it in functorch because it is out-of-tree. We would like to be able to modify the SkipInfo of an operator to include a test that we've defined out of tree. For example, [here](https://github.com/facebookresearch/functorch/blob/cdba85ddd7159640211924f0b512625d945c0f0e/test/test_ops.py#L

[2021-08-16 22:01] seemethere commented on #61151
This might be solved already, but we should do a spot check to see if it is resolved

[2021-08-16 22:05] seemethere commented on #60746
Might not be very useful since we're moving away from CircleCI

[2021-08-16 22:05] robieta commented on #63326
Chatted offline with @HDCharles, the conclusion was that if the factory holds a weakref all of these lifetime issues go away.

[2021-08-16 22:08] seemethere commented on #62265
Removing from the Pytorch Dev Infra project since this is unrelated to CI

[2021-08-16 22:27] seemethere commented on #63304
Feel free to continue the conversation here but going to close this issue since this is more of a question than something that's broken

[2021-08-16 22:27] #63304 closed

[2021-08-16 22:28] seemethere commented on #57967
We've concluded that the original issue stems from a mismatch of `mypy` versions, which is why a suggestion to warn when mypy versions do not match

[2021-08-16 22:37] malfet commented on #62590
First step towards the goal: move install commands to a .json file in https://github.com/pytorch/pytorch.github.io and autogenerate .js and previon_installs from that json file

[2021-08-16 22:37] soulitzer commented on #62032
Making a status update on the progress of this after prototyping in #62450 and offline discussion with @albanD and @ezyang -

Prototyping and benchmarking helped us answer the following questions concerning some implementations details independent of the API design (a next step):

**Question 1: Do we want to have both boxed and templated kernel, or both?**
For boxed kernel:
 - slightly better UX

[2021-08-16 22:38] malfet commented on #63335
After the fix have landed, `viable/strict` moved to https://github.com/pytorch/pytorch/commit/d1cbee7b2b1da94ff1a0fa880bd0173de27fb89f

[2021-08-16 22:42] zou3519 opened #63363 "common_device_type.expectedFailure should report as expected failure"
## 🚀 Feature
`torch.testing._internal.common_device_type.expectedFailure` should report as expected failure while being run with python unittest or with pytest.

Using unittest.expectedFailure, a test reports as "expected failure", which is a different status than "success":
![image](https://user-images.githubusercontent.com/5652049/129637747-8fccd4b4-cbc2-4647-96c7-b3c85407b88c.png)
![image](http

[2021-08-16 22:44] seemethere commented on #59478
Talked it over in our sync up this morning, we should probably create translation scripts to translate environment variables from any CI platform to a set of common environment variables we can absolutely depend on

[2021-08-16 22:50] malfet opened #63366 "codecoverage reporting does not work in GHA"
After https://github.com/pytorch/pytorch/pull/61050 was merged, coverage reporting logic defined in
https://github.com/pytorch/pytorch/blob/b2069e7d01814d776c417042e28133c6b0e5082f/.circleci/verbatim-sources/job-specs/pytorch-job-specs.yml#L197-L201
ceased to work

cc @ezyang @gchanan @zou3519 @bdhirsh @jbschlosser @anjali411 @seemethere @malfet @walterddr @pytorch/pytorch-dev-infra

[2021-08-16 23:00] neginraoof commented on #61766
Hi @emanuelgollob
Thanks for reporting this. We can always extend the exporter to support a new op.
What is the source repo for this model? Could you maybe replace this operator in model code?

[2021-08-16 23:10] seemethere commented on #63366
oh is this because it actually needs a token now?

I believe the only reason CircleCI didn't need a token before was because it has some sort of partnership with codecov

[2021-08-16 23:15] neginraoof commented on #61754
Thanks for reporting this issue. I'll look into this.
Meanwhile, could you maybe try a workaround and use y = torch.zeros((0, )) instead?
Would it work for you?

[2021-08-16 23:18] chijames commented on #41663
I also encounter this problem in a separate project. It turns out that this still happens in version 1.9.0, specifically, the sampled value from exponential_() can still be 0. I don't know how this is fixed...

[2021-08-16 23:21] seemethere commented on #63335
Awesome, with `viable/strict` being updated and an internal fix (D30348055) already submitted I'm going to close this issue.

[2021-08-16 23:21] #63335 closed

[2021-08-16 23:23] mszhanyi commented on #63344
I think it's duplicated with #63139

[2021-08-16 23:53] vors commented on #63000
This is resolved by https://github.com/pytorch/pytorch/pull/63031 -- the code referred to was in the THC part.

[2021-08-16 23:53] #63000 closed

[2021-08-16 23:53] ezyang commented on #62032
okey dokey

[2021-08-17 00:06] seemethere commented on #63344
Closing in favor of #63139

[2021-08-17 00:06] #63344 closed

[2021-08-17 00:07] seemethere commented on #63139
Marking this as high priority as this is starting to creep into our nightly builds

[2021-08-17 00:35] shz0116 opened #63377 "Running PyTorch program on RISCV Architecture"
## ❓ Questions and Help

### Hi, I have a a model developed with PyTorch on intel platform.
I want to port it to a RISCV architecture (run with riscv simulator now).
I am wondering how I can do it.
Do I have to first cross-compile python and PyTorch for RISCV ?
Any help or suggestions will be appreciated.

- [Discussion Forum](https://discuss.pytorch.org/)

[2021-08-17 00:38] developer0hye commented on #42653
You should consider `torchvision.transforms.functional.resize` function if you quickly need to solve this problem. I could succeed in converting pytorch model to onnx model instead of using `adaptive avg pool`.

[2021-08-17 00:39] neginraoof commented on #61813
@piotrm-nvidia I don't think the exporter supports the autograd functions out of the box. But you can define an export subgraph using a "symbolic" function and it'll be used by the exporter.
Can you check if this doc would help? https://pytorch.org/docs/master/onnx.html#torch-autograd-functions

[2021-08-17 01:16] mingfeima commented on #63224
WIP!

[2021-08-17 01:43] rohan-varma commented on #59338
reserving for intern rampup

[2021-08-17 02:07] peterjc123 commented on #63139
Let's export the logs first as we have done [here](https://github.com/pytorch/pytorch/blob/master/.circleci/scripts/windows_cuda_install.sh#L41).

[2021-08-17 02:38] gaocegege commented on #63223
I am working on https://github.com/kubeflow/pytorch-operator to support pytorch 1.9.0 elastic feature. It does not block me. Just confuse me when debugging it.

[2021-08-17 02:40] gaocegege commented on #63223
It does not work. We did not set handlers for the root logger.

[2021-08-17 03:42] ROCmSupport commented on #53738
Hi @styler00dollar
We are not supporting gfx8 devices anymore.
Request you to check for the supported hardware @ [https://github.com/RadeonOpenCompute/ROCm#hardware-and-software-support](url)
So we can not work on this for now. Thanks for understanding.
This ticket can be closed.

[2021-08-17 03:43] #63366 closed

[2021-08-17 03:52] FateScript commented on #63311
Thx for replying. "Worse performance" means I got worse evaluation result. I will try nightly build later.
BTW, could you tell me why "spawn" is recommanded than "fork" ? especially for dataloader (In my opinion dataloader has nothing to do with CUDA runtime, so it really confuses me).

[2021-08-17 04:10] ProHuper commented on #37359
@mrshenli Hi, did you solve the problem? I met the same problem here, can you give me an example of gradient reduction in sum mode? thx.

[2021-08-17 04:15] FateScript commented on #63311
I will try my best to give you a minimal code to reproduce.  Thanks.

[2021-08-17 05:13] #63152 closed

[2021-08-17 05:23] skamal16 commented on #63305
How could one go about encrypting an archive?

[2021-08-17 05:34] bhosmer commented on #63271
@Guitaricet hi Vlad - would you be able to give me the example inputs you're using to repro the difference between pre- and post-https://github.com/pytorch/pytorch/commit/90f05c005ddbd6eeda6cb387124afc07e4b46636 behavior? I've tried a few obvious examples and they all show the nans you're describing, but they happen *both* before and after that commit - I haven't found a repro that shows a change.

[2021-08-17 07:02] piotrm-nvidia commented on #61813
It is obvious that one can just do TRIVIAL thing inside class Net directly and don't use CheckpointFunction at all. It is not the point here.

What is the issue here is that this trivial scenario is not handled by export and requires redesign of a model to just satisfy limitations of ONNX exporter. It renders export very impractical for any complex model like GPT3 in Megatron from NVIDIA repositor

[2021-08-17 07:07] emanuelgollob commented on #61766
Hi @neginraoof
The model source repo is https://github.com/NVlabs/stylegan2-ada-pytorch
Yes, one way could be to replace this operator in model code. Still thinking ahead it could be great to have ONNX to support this operator as well. How difficult is it to add a new op?

[2021-08-17 07:11] GuardSkill commented on #41423
hello, when can we export nn.Fold() ?

[2021-08-17 07:22] anubane opened #63391 "[feature request] Including NADAM optimizer in torch.optim"
## Issue description

`torch.optim` has most of the useful optimizers, but for some reason, NADAM is missing. This ticket is a request to include the NADAM optimizer. I have included an implementation that is based on the ADAM optimizer already present. Kindly verify and add if feasible. Created this ticket because I do not see the NADAM optimizer on the page: https://pytorch.org/docs/stable/optim

[2021-08-17 07:29] anubane commented on #63391
The proposed implementation is better than the one suggested in issue [https://github.com/pytorch/pytorch/pull/59009](#59009)

[2021-08-17 07:38] nateanl commented on #62255
Thanks for the proposal @asi1024! I think adding dim1 and dim2 could let users decide which two axes they want to compute the trace. The default value for dim1 and dim2 could be "-1" and "-2", usually the diagonal axes are the last two ones, which makes it more intuitive for usage.

[2021-08-17 07:45] mingfeima commented on #63224
Update the memory format dispatch logic at #63392 to match 1.9 behavior.

The issue is brought up due to the given input has some sort of ambiguous, the strides are {6, 1, 2, 1}. So it is considered to be CL-contiguous but it has a `suggest_memory_format` of `MemoryFormat::Contiguous`.

1.9 dispatch logic is like:
* input.is_contigous() - go NCHW path
* input.is_contigous(MemoryFormat::ChannelsLas

[2021-08-17 08:32] mruberry commented on #62955
Yep, an approach like that and/or preferring new versions of the operators, like torch.linalg.diagonal and torch.linalg.transpose.

[2021-08-17 08:55] vadimkantorov commented on #12728
What will it do for quantized types? Is there 4bit or 2bit quantised dtypes?

I propose to also add some property specifying item width in bits (for future support of low-width types such as 1-bit https://github.com/pytorch/pytorch/issues/32867). As far as I know it does not exist in NumPy, but would be useful for these low-width cases.

Should I create a separate issue for this discussion?

[2021-08-17 08:58] vadimkantorov commented on #41625
Yep, seems aten::slice exists, but isn't exposed...

[2021-08-17 10:03] Yasin40 commented on #31960
I have same problem, but not worked with last nightly version.
https://github.com/pytorch/vision/issues/4271

[2021-08-17 11:05] #62719 closed

[2021-08-17 11:20] jsrdcht opened #63394 "torch.utils.checkpoint should not only allow variables"
## 🚀 Feature
Modify CheckpointFunction.forward,the line "ctx.save_for_backward(*args)".The args should be devides into two pieces,becacuse some args needn't to save.
## Motivation
when i write `x = checkpoint(block,x,drop_connect_rate,preserve_rng_state=True)`,drop_connect_rate is a arg needed to be inputed to block.
It caused the error

This leads to that i can't used the parameter that i need

#

[2021-08-17 11:23] erksch commented on #63305
tar + gzip? but there are plenty of options. But I think this question is not suitable for PyTorch Issues

[2021-08-17 11:30] doem97 commented on #31460
Hey may I know how you 'change' it? You mean control by CUDA_VISIBLE_DEVICES or control inside the torch?

[2021-08-17 11:34] doem97 commented on #31460
Meet with the same issue. The torch.Module.forward can not handle kwargs when parallel mode.

E.g.
[code]

[2021-08-17 11:38] samestep commented on #57967
oh I see; but I thought [we already did that](https://github.com/pytorch/pytorch/blob/cae5ddc4274cac0fed0d14dd4bbd2c213a42659e/mypy_plugins/check_mypy_version.py)?

https://github.com/pytorch/pytorch/blob/cae5ddc4274cac0fed0d14dd4bbd2c213a42659e/mypy.ini#L5

https://github.com/pytorch/pytorch/blob/cae5ddc4274cac0fed0d14dd4bbd2c213a42659e/mypy-strict.ini#L10

[2021-08-17 12:42] aiskhak opened #63395 "How to efficiently (without looping) get data from tensor predicted by a torchscript in C++?"
I am calling a torchscript (neural network serialized from Python) from a C++ program:

[code]

Usually, to get data from the outputs, the following (element-wise) operation is performed:

[code]

However, such looping using .item is highly inefficient (in the actual code I will have millions of points predicted at each time step). I want to get data from outputs directly (without looping over ele

[2021-08-17 12:53] gccollect commented on #48888
Thanks @ezyang, adding the code below fixes the issue:
`os.environment["TORCH_AUTOGRAD_SHUTDOWN_WAIT_LIMIT"] = "0"`

[2021-08-17 13:21] dywe666 commented on #21819
the gpu don't work if set   `torch.cuda.set_device(1)`

[2021-08-17 13:29] buenos-dan commented on #20356
container has no member of get_attribute? why?

[2021-08-17 13:30] FateScript commented on #63311
Here is my minimal  code to reproduce @astaff , Now I work around this problem by set random state in `worker_init_fn`. considering what "fork" does in operate system,  the phenomena I observer make sense.

Unlike #56488, this problem could be reporduced on torch version 1.9.0.

Here is the code:

[code]

[2021-08-17 13:35] Yasin40 commented on #31960
I have same problem, but not worked with last nightly version.
https://github.com/pytorch/vision/issues/4271

[2021-08-17 13:42] ejguan commented on #63311
Why dataloader has impact on model performance?

For perspective of CUDA, if you have cudaTensor within Dataset, you have to use `spawn` since CUDA context doesn't support fork.
Compared with fork, spawn is safer. Fork would do copy-on-write, IIRC, this creates problem when you use functions from other libraries within Dataset like opencv. (We don't want to fork thread pointer for opencv). In this

[2021-08-17 13:55] zou3519 opened #63397 "__torch_function__ overload resolution between subclasses doesn't work like in the RFC"
## 🐛 Bug

[The RFC](https://github.com/pytorch/rfcs/blob/master/RFC-0001-torch-function-for-methods.md#process-followed-during-a-functionmethod-call) states that "A collection of types that implement __torch_function__ is created, with no guaranteed order other than that subclasses come before superclasses.".

I tried to see what happens with subclasses by creating [this test case](https://gist.gi

[2021-08-17 13:57] styler00dollar commented on #53738
Closing since the official support is dropped.

[2021-08-17 13:57] #53738 closed

[2021-08-17 13:59] FateScript commented on #63311
If data augmention on different rank shares the same state, then distributed model might be influenced. However, this impact might be tiny sometimes. The code I share might help to explain.

[2021-08-17 14:25] cbalioglu commented on #62780
@pbelevich you marked this issue as high priority and apparently it still persists. Should we assign it to someone? @rohan-varma @osalpekar any volunteer?

[2021-08-17 14:36] desertfire commented on #62619
@jjsjann123 Can you elaborate more on `opaque operators with implicit shape`?

[2021-08-17 14:37] YuantianGao commented on #62325
@ansley  Dear ansely, can you help me? Do you know why my model can not be received by the script function?

[2021-08-17 14:44] FlyinTeller commented on #25888
@glaringlee @yf225  Is there any plan to finish this functionality in the near future? I would much like to use spectral normalization from the C++ API, but this is depending on `register_forward_pre_hook` to be available

[2021-08-17 14:47] dagitses commented on #63085
In your case, one of your main motivations is how long the test takes to run. In which case, splitting it up and registering new files to run_tests seems like the best bet.

[2021-08-17 14:51] quasiben commented on #43144
It's been awhile since this has been updated and I'm curious if there is still motivation from PyTorch devs to work on this.  Additionally, are there things RAPIDS folks can help with here ?

[2021-08-17 15:07] walterddr commented on #60756
reproduction found --> previously the reason why we cant reproduce is because this error specifically happens when @samestep migrate the job from circle to GHA without shard test enable.

Now that shard test is enabled, it no longer runs the else branch in https://github.com/pytorch/pytorch/blob/daba5519220b0143b825b31b8f10786a6d111255/.jenkins/pytorch/test.sh#L519-L529, thus we were not able to r

[2021-08-17 15:32] hameerabbasi commented on #63397
That behaviour is only guaranteed for the default version of `__torch_function__`, which I can see you have overridden in this case for both classes.

[2021-08-17 15:42] zou3519 commented on #63397
@ezyang pointed out that I didn't subclass from torch.Tensor and that subclassing fixes the problem: https://gist.github.com/zou3519/07d2559844bd3e772dc9111244729c3e

@hameerabbasi what is the "default version of `__torch_function__`"? (Are there docs on this somewhere?)

[2021-08-17 15:44] hameerabbasi commented on #63397
By that I meant exactly what you speak of: The version of `__torch_function__` on `torch.Tensor`.

[2021-08-17 15:51] zou3519 commented on #63397
Makes sense. Closing this issue due to user error, thanks for the replies @hameerabbasi.

[2021-08-17 15:51] #63397 closed

[2021-08-17 15:52] ejguan commented on #63311
You should be able to control randomness via `worker_init_fn` for each process.

[2021-08-17 15:54] ejguan commented on #63311
If you use `fork`, the random state for torch or numpy will be referenced across process. When spawn, the random state for torch will be re-initialized by a random value.

[2021-08-17 16:13] #63326 closed

[2021-08-17 16:28] rohan-varma opened #63403 "Consolidate distributed benchmark folders"
It looks like we have OSS benchmarks in benchmarks/distributed/ as well as torch/distributed/benchmarks folders. It would be good to merge these into a single top-level directory so that all open-sourced benchmarks for DDP, RPC etc can be found in a common folder.

[2021-08-17 16:54] ezyang commented on #44409
@heitorschueroff and I discussed this and our new plan is to define an OptionalArrayRef<T> that int[]? desugars to, with constructors to prevent the lifetime extension problem

[2021-08-17 17:07] eellison opened #63405 "torch.arange has issue tracing with bool input"
## 🐛 Bug
[code]

[2021-08-17 17:43] #60560 closed

[2021-08-17 17:50] #17153 closed

[2021-08-17 17:50] dhivyadharshin commented on #63265
Can I solve this issue?

[2021-08-17 17:52] #17098 closed

[2021-08-17 17:53] #17063 closed

[2021-08-17 17:53] #17060 closed

[2021-08-17 17:54] ngimel commented on #16912
Closing due to age, please reopen if bug is still present

[2021-08-17 17:54] #16912 closed

[2021-08-17 17:56] ngimel commented on #16963
Closing, warning is no longer present

[2021-08-17 17:56] #16963 closed

[2021-08-17 17:56] #16981 closed

[2021-08-17 17:57] ngimel commented on #16992
Closing due to age and lack of repro instructions

[2021-08-17 17:57] #16992 closed

[2021-08-17 17:57] ngimel commented on #16934
Closing due to age and lack of repro script

[2021-08-17 17:57] #16934 closed

[2021-08-17 17:58] ngimel commented on #16933
Closing due to age

[2021-08-17 17:58] #16933 closed

[2021-08-17 17:59] ngimel commented on #16896
1d inputs are still accepted, marked it as a doc issue to update the docs

[2021-08-17 18:00] ngimel commented on #16895
Closing due to age

[2021-08-17 18:00] #16895 closed

[2021-08-17 18:01] ngimel commented on #63394
cc @alband for the new checkpointing functionality

[2021-08-17 18:05] ngimel commented on #63322
Please provide self contained reproduction script

[2021-08-17 18:06] #63377 closed

[2021-08-17 18:28] HDCharles commented on #63234
this is a symptom of the dtype not being carried from python to c++ correctly. issue here: https://github.com/pytorch/pytorch/issues/63356

[2021-08-17 18:28] #63234 closed

[2021-08-17 18:55] shubhambhokare1 commented on #61430
Hi @ravi9, can you try using the latest version of pytorch nightly, there have been a few updates when using running_mean and running_var in case of InstanceNorm

[2021-08-17 19:22] mrshenli commented on #63290
It might be safe if the OOM DDP process hasn't launch any collective communications yet. However, applications cannot safely detect this, because DDP might schedule control comms besides allreducing buckets.

The suggestion is to use [TorchElastic](https://pytorch.org/docs/stable/distributed.elastic.html), which is design for this problem. :)

[2021-08-17 19:24] rohan-varma commented on #63290
Sure, that sounds good. I definitely think we can do a better job of documenting functions, variables etc as we land new features, which will also help ensure future changes have previous design patterns front and center before the code is modified.

[2021-08-17 19:29] snadampal commented on #62788
Hi @pinzhenx ,
As discussed in this OneDNN [issue](https://github.com/oneapi-src/oneDNN/issues/991), the recommendation from oneDNN forum is to make use of forward_inference prop kinds for inference and even for constant weight scenarios.

[2021-08-17 20:27] jithunnair-amd commented on #63188
Re: gfx803 support, please refer https://github.com/pytorch/pytorch/issues/53738#issuecomment-899970052

[2021-08-17 20:45] #63352 closed

[2021-08-17 20:47] JohnNesbit commented on #12728
It will follow whatever tensor.element_size() returns. Itemsize will specify item width in bits. I will change my pull to make these properties instead of functions.

[2021-08-17 20:53] Column01 commented on #63188
still need the build guide fixed

[2021-08-17 20:56] supriyar commented on #62804
Thanks for reporting. @dskhudia do we have any prior insights as to why these shapes may perform worse on FBGEMM? Any workarounds?

[2021-08-17 21:03] vadimkantorov commented on #12728
In NumPy itemsize specifies item width in bytes: [`ndarray.itemsize: Length of one array element in bytes.`](https://numpy.org/doc/stable/reference/generated/numpy.ndarray.itemsize.html), so the bits-property should have a different name...

[2021-08-17 21:11] ngimel commented on #63314
Can't repro on master, this was likely fixed by mkldnn update.

[2021-08-17 21:13] ymwangg opened #63427 "Weird behavior of cuda::cub::sort_pairs"
## 🐛 Bug

I saw a dramatic increase of memory requirement after https://github.com/pytorch/pytorch/pull/62495.
The maximum batch_size of the following script can tolerate decreases from 13 to 6 after this PR on Nvidia T4 GPU.
[code]
If batch_size > 6, I got the following error:
[code]

After some investigation, it looks like the `cuda::cub::sort_pairs` in `embedding_dense_backward_cuda` here https

[2021-08-17 21:13] mrshenli commented on #63403
Self-assigned to reserve for bootcamp

[2021-08-17 21:31] zou3519 opened #63430 "scatter's backward formula should call scatter instead of scatter_"
## 🚀 Feature
Replace scatter_ in scatter's backward formula with scatter.

## Motivation

functorch has a hard time with in-place operations and I don't see a good reason why scatter_ gets used here (please correct me if I'm wrong!). cc @albanD @soulitzer for sanity check - please let me know if I missed something here

https://github.com/pytorch/pytorch/blob/495e7e4815d3f9a4000a6671022fd2608440db

[2021-08-17 21:37] neginraoof commented on #61813
Again, you can use the CheckpointFunction class and you can export it if you define a symbolic to that class.
You can find the documentation on exporting autograd functions here : https://pytorch.org/docs/master/onnx.html#torch-autograd-functions. Please try the example for exporting autograd functions and let us know if any other questions.

[2021-08-17 21:39] neginraoof commented on #61766
Thanks, yeah we should be able to add the symbolic easily.
I'll send a PR today.

[2021-08-17 21:45] Di-Ma-S21 commented on #63331
To be more clearer, I would post all the codes:

`from os.path import join, exists
import argparse
from torch.utils.data import DataLoader, ConcatDataset, random_split
import random
import json

from dataset import Dictionary, VQAFeatureDataset, VisualGenomeFeatureDataset
from dataset import tfidf_from_questions
from dataset_cp_v2 import VQA_cp_Dataset, Image_Feature_Loader
from model.regat import

[2021-08-17 21:49] #52919 closed

[2021-08-17 21:51] vadimkantorov commented on #23756
Relevant project: revlib, https://github.com/ClashLuke/revlib, https://twitter.com/_clashluke/status/1427746673942540288

[2021-08-17 22:06] soulitzer commented on #63430
Could it be because of this?
https://github.com/pytorch/pytorch/issues/56975

[2021-08-17 22:52] samdow opened #63435 "Norm functions don't call __torch_function__ for weights or bias"
## 🐛 Bug

Norm functions like GroupNorm only call `__torch_function__` for the inputs, not any weights passed in

## To Reproduce
To demonstrate with print statements, this uses this toy tensor class:
[code]

Case 1:
[code]
prints out group_norm and True, so `__torch_function__` is being called with `F.group_norm`

Case 2:
[code]
will instead print out group_norm and False. weight's `__torch_funct

[2021-08-17 23:19] bigfootjon commented on #56745
I'd rather not stick this in Dr. CI. We don't retain logs for non-failed jobs due to scaling constraints, which is where I imagine the ENV variable would be set. We can look into this if necessary, but this is a very custom thing and it might be better to stick it in hud.pytorch.org or probot

[2021-08-17 23:19] MZSHAN opened #63441 "OpenCV causes backpropagation to get stuck"
## 🐛 Bug

I am trying to run the mnist script (https://github.com/pytorch/examples/blob/master/mnist/main.py) on a cpu.
Importing OpenCV in the script causes the script to get stuck indefinitely on loss.backward()
This happens even if opencv is not used anywhere in the script, importing it is causing this problem.

On stepping through the code using gdb, the stack trace is not visible. Instead of

[2021-08-17 23:49] JohnNesbit commented on #12728
There is no such thing as a 2-bit quantized tensor dtype in pytorch in the stable release https://pytorch.org/docs/stable/tensors.html. I am not aware of a pytorch tensor dtype of less than one byte in information, so Itemsize returns 1 for a 4bit quantized. I misspoke when I said it returns item width in bits, it returns item byte width.

[2021-08-17 23:51] malfet opened #63444 "test_variant_consistency intermittently fails on Windows"
Just looking at the HUD failures for "win-vs2019-cuda11.1-py3 / test":

https://github.com/pytorch/pytorch/runs/3354615096
<details>
<summary>  test_variant_consistency_eager_nn_functional_conv_transpose2d_cuda_float32</summary>

[code]
</details>

https://github.com/pytorch/pytorch/runs/3354798475
<details>
<summary> test_variant_consistency_eager_nn_functional_conv_transpose2d_cuda_float32 (__ma

[2021-08-18 00:01] ngimel commented on #63427
cc @zasdfgbnm

[2021-08-18 00:23] pbelevich opened #63445 "getNcclVersion() in NCCLUtils.cpp handles "2.10.3" incorrectly"
https://github.com/pytorch/pytorch/blob/dcf90b797c42ab237ca68d0e816c0d76122ee931/torch/csrc/distributed/c10d/NCCLUtils.cpp#L9-L30 returns "21.0.3" instead of "2.10.3"

It must be consistent with https://github.com/NVIDIA/nccl/blob/7e515921295adaab72adf56ea71a0fafb0ecb5f3/src/nccl.h.in#L22

[2021-08-18 00:34] Micket commented on #12851
Is this test still known to be flaky? I'm getting currently getting bit by
[code]
So, a bit over the tolerances.

[2021-08-18 01:06] rustrust commented on #62166
I am having problems with svd in addition to matrix rank. svd is also giving trouble here in that it is trying to hand me back a U which is 1025 by 1025 when I hand it a matrix of dimension 1024 by 1024. At the moment it's unclear to me whether this is an issue with pytorch or with tch-rs.

In tch-rs this line gives the problem:

[code]

Please see further discussion here:

https://github.com/Laur

[2021-08-18 01:16] peterjc123 commented on #63331
Hey, I want to say something about this issue.
First, the PyTorch you are using is pretty old. Would you please try a newer version like 1.8 or 1.9?
Second, the code you provided is incomplete and verbose. Could you please send a minimal reproducible code example?

[2021-08-18 01:29] harisgulzar1 commented on #61755
Worked for me, for MobileNetV2

[2021-08-18 02:34] FateScript commented on #63311
Yes, I solve my problem through this function.

I will close this issue. Thx a lot @ejguan

[2021-08-18 02:34] #63311 closed

[2021-08-18 02:45] JIAOJIAYUASD opened #63455 "distributed_error"
## 🐛 Bug
main()
File "main.py", line 472, in main
args.local_rank
File "/opt/conda/lib/python3.6/site-packages/torch/nn/parallel/distributed.py", line 410, in __init__
self._sync_params_and_buffers(authoritative_rank=0)
File "/opt/conda/lib/python3.6/site-packages/torch/nn/parallel/distributed.py", line 420, in _sync_params_and_buffers
authoritative_rank)
File "/opt/conda/lib/python3.6/site-packag

[2021-08-18 02:58] JIAOJIAYUASD commented on #63455
NCCL 2.7.8

[2021-08-18 02:58] ngimel opened #63456 "Perf regression for 1D cuda sort"
A big perf regression for 1d cuda sort (not only 1D, any sort with a small batch dimension) was introduced in #56821. We switched to SegmentedRadixSort, but it launches 1 block per batch element, so for small batch sizes the device is underutilized. For the following script
[code]
results are
[code]
after #56821 and
[code]
pre-#56821

cc @VitalyFedyunin @ngimel @heitorschueroff
cc @zasdfgbnm, @eqy

[2021-08-18 03:39] ezyang commented on #23756
This might be more easily doable with functorch!

[2021-08-18 04:05] ngimel commented on #63430
#56975 should not affect this, as we can specify the argument with `value`, not `src`. @zou3519 yes, we can use `scatter` instead of `scatter_`, and avoid `clone` in this case, because it will be done in the `scatter` itself.

[2021-08-18 05:49] dskhudia commented on #62804
I tried it on a benchmark machine with turbo-off and the following are the results I see.

----- FBGEMM int8 qlinear -----
---------------------------------  ------------  ------------  ------------  ------------  ------------  ------------
                             Name    Self CPU %      Self CPU   CPU total %     CPU total  CPU time avg    # of Calls
---------------------------------  ------

[2021-08-18 06:23] Xia-Weiwen commented on #62804
Thank you.
`lscpu` on my machine gives this:
[code]
May I know your CPU specifications?
And could you try `M, N, K = 156800, 16, 36` ? It's larger and int8 is also slower on my machine.

[2021-08-18 06:38] IvanYashchuk commented on #62166
I'm sorry for the confusion that you see the following error.

The error message is just wrong. The "U" in the error message has nothing to do with the "U-firtst_returned_tensor_of_svd". It should say that the algorithm didn't converge. It will be fixed when https://github.com/pytorch/pytorch/issues/63220 is resolved.

PyTorch uses a faster divide and conquer based algorithm for SVD (gesdd in LAPA

[2021-08-18 06:53] hwangdeyu commented on #61430
Hi @ravi9, `InstanceNormalization` op in [ONNX standard](https://github.com/onnx/onnx/blob/master/docs/Changelog.md#InstanceNormalization-6) is not support `mean` and `var` inputs.

Just as @shubhambhokare1 said, we have [a PR](https://github.com/pytorch/pytorch/pull/60538) to support this situation by combining other ops such as `BatchNormalization'. This PR should fix your issue.

[2021-08-18 07:11] dskhudia commented on #62804
Architecture:        x86_64
CPU op-mode(s):      32-bit, 64-bit
Byte Order:          Little Endian
CPU(s):              36
On-line CPU(s) list: 0-35
Thread(s) per core:  2
Core(s) per socket:  18
Socket(s):           1
NUMA node(s):        1
Vendor ID:           GenuineIntel
CPU family:          6
Model:               85
Model name:          Intel(R) Xeon(R) CPU @ 1.60GHz
Stepping:            4
CP

[2021-08-18 07:11] mszhanyi commented on #63139
Update:
cuda setup failed log is output in
https://circleci.com/api/v1.1/project/github/pytorch/pytorch/15432889/output/104/0?file=true&allocation-id=611ca3478e509f260e3a0dc2-0-build%2F73673B1D
![image](https://user-images.githubusercontent.com/16190118/129854026-ffb71822-d7d3-4caa-9cf7-bd41360eb5ba.png)

Need more investigation

[2021-08-18 07:13] dskhudia commented on #62804
This is for M, N, K = 156800, 16, 36

----- fp32 linear -----
--------------------  ------------  ------------  ------------  ------------  ------------  ------------
                Name    Self CPU %      Self CPU   CPU total %     CPU total  CPU time avg    # of Calls
--------------------  ------------  ------------  ------------  ------------  ------------  ------------
        aten::linear

[2021-08-18 07:16] dskhudia commented on #62804
Since your machine is a two socket machine, you may want to try something like the following:

OMP_NUM_THREADS=1 MKL_NUM_THREADS=1 numactl -m 0 -C 3 <command>

Also make sure you have a release build and turn turbo-off to reduce variations due to turbo kicking in.

[2021-08-18 07:21] vadimkantorov commented on #12728
About 4-bit dtype: https://github.com/pytorch/pytorch/pull/44574

[2021-08-18 07:30] mszhanyi commented on #63139
@zasdfgbnm
do you know what does it mean? the below outputs are  different from from a successful installation.
[code]

[2021-08-18 07:31] mszhanyi commented on #63139
[LOG.RunDll32.EXE.log](https://github.com/pytorch/pytorch/files/7005396/LOG.RunDll32.EXE.log)
[LOG.setup.exe.log](https://github.com/pytorch/pytorch/files/7005397/LOG.setup.exe.log)
They are the logs of one successful installation

[2021-08-18 07:33] henrykironde opened #63466 "Add a GitHub actions workflow for Macos"
## 🚀 Feature
Would be nice to have tests runs on Macos in GitHub actions

cc @ezyang @seemethere @malfet @walterddr @pytorch/pytorch-dev-infra

[2021-08-18 08:05] skyline75489 commented on #63139
The installer seemed to failed with the following message:

[code]

[2021-08-18 08:06] fmassa commented on #22462
If this issue is still present due to operator overhead, why not re-implementing `stack` as `cat` + `reshape` instead, as proposed by OP?
[code]

On the same benchmark from OP in my laptop, I got
[code]
which is a 3.5x improvement.

[2021-08-18 08:37] gaojingqian opened #63470 "Multi-gpu training got an unbanlanced memory and redundant processes!!!"
## 🐛 Bug

I take advantages of "torch.nn.parallel.DistributedDataParallel" to train models in multi-GPUs(4 gpus here) behavior. But once I tried to load pretrained model, the nvidia-smi shown that another 4 redundant processes(8 processes in total) occupied the GPU 0, while not loading pretrained model those processes disappeared(4 process in total). Those redundant processes increase along with t

[2021-08-18 09:21] adrian2504 commented on #63265
Would like to work on this

[2021-08-18 10:49] lpuglia commented on #35710
Note to my future self (and whoever may needs it) here is the full procedure:

if you get the following error using cuda in pytorch:

[code]

try to compile and run one of the samples in:

[code]

[code]

Note: `nvcc` is going to be located in `/usr/local/cuda/bin`

if you get:

[code]

it means that the Data Center GPU manager is not installed. What you want to do is to install the nvidia DCGM, f

[2021-08-18 10:50] vadimkantorov commented on #23756
Especially, for video models these memory savings would be useful

[2021-08-18 11:27] krclint opened #63472 "Help"
## 📚 Documentation

[2021-08-18 12:00] mabdullahrafique commented on #63305
Actually the i

Issue is the model is shipped in android assets folder for production. We can encrypt the .pth file and on runtime decrypt it. But the current pytorch lite api allows loading the model from path. That means we have to save the model every time we decrypt it, which gives us almost 300-600 ms overhead.

We request if you guys can do something like the way tensorflow lite models are b

[2021-08-18 12:01] andyjpaddle opened #63474 "[op backward] torch.linalg.pinv"
hi, I'm learning the op `torch.linalg.pinv`,  I read the source code of forward of the op `torch.linalg.pinv`  in `LinearAlgebra.cpp`. But I didn't find the backward of this op? Can you tell me the procedure of detail backward computation?

[2021-08-18 12:08] Yasin40 opened #63475 "C++ Inference error causes Identity Module"
I have th[is error and problem](https://github.com/pytorch/vision/issues/4271) by Using `mobilenetv3` defined model in torchvision and someone guided me that this erorr related to Pytorch core.

[2021-08-18 12:29] mabdullahrafique opened #63476 "Error loading Pytorch lite model in Android"
## 🐛 Bug

I have created pytorch lite model in .ptl format. But when I load the model in Android using LiteModuleLoader it gives following error.

## To Reproduce

Steps to reproduce the behavior:

Following dependencies are being used.

    implementation 'org.pytorch:pytorch_android_lite:1.9.0'
    implementation 'org.pytorch:pytorch_android_torchvision:1.9.0'

1. Create .ptl format of model
2.

[2021-08-18 12:32] Darshcg opened #63477 "Supporting Pytorch for Custom Compiler Backend"
Hi Pytorch Team,

We have Custom Deep Learning hardware and a Compiler for the Hardware. For now, we have only Caffe framework support.

Having said that, we want to work on adding support for the Pytorch framework.

Is there any reference for the same?

Thanks,
Darshan C G

[2021-08-18 12:41] PerrySchool opened #63479 "Cannot include extension.h under Windows - linker error THPVariable_Wrap"
## 🐛 Bug

I want to build C++ app with Torch that can call Python (via pybind) and pass `torch::Tensor` to it. However, when I include `#include <torch/extension.h>` I got linker error:

`error LNK2019: unresolved external symbol "__declspec(dllimport) struct _object * __cdecl THPVariable_Wrap(class at::Tensor)" (__imp_?THPVariable_Wrap@@YAPEAU_object@@VTensor@at@@@Z) referenced in function "publi

[2021-08-18 12:51] StevanCakic commented on #62802
It was a problem with the Slurm file.
So, I solved it by attaching this code in Slurm file:

[code]

[2021-08-18 12:51] #62802 closed

[2021-08-18 13:27] ejguan commented on #63472
Closing the issue because the description is completely empty. Feel free to re-open it when you update the issue.

[2021-08-18 13:27] #63472 closed

[2021-08-18 13:48] ejguan commented on #63474
Hi,

We use github issues only for bugs or feature requests.
Please use the forum to ask questions: https://discuss.pytorch.org/

IIUC, `torch.linalg.pinv` is a composite function. We are combining the derivatives from the simple functions to compose the derivative of `torch.linalg.pinv`

[2021-08-18 13:48] #63474 closed

[2021-08-18 13:52] heitorschueroff commented on #62354
@zou3519 The decorators get applied here https://github.com/pytorch/pytorch/blob/4a390a56c4a345a917f5a4d8ee6cd47818fa7e84/torch/testing/_internal/common_device_type.py#L768

I see the following options:

1. You could add a SkipInfo(...) to the operators in op_db of common_methods_invocations.py to target your test, in this case, `SkipInfo('TestOperators', 'test_vmapvjp')`. The decorator only gets

[2021-08-18 13:54] lelecanfora opened #63480 "(ROC) ImportError: libtinfo.so.5: cannot open shared object file: No such file or directory"
## 🐛 Bug

`ImportError: libtinfo.so.5: cannot open shared object file: No such file or directory`
when loading torch ROC

## To Reproduce

Steps to reproduce the behavior:

1. `pip3 install torch -f https://download.pytorch.org/whl/rocm4.2/torch_stable.html`
2. `pip3 install torchvision==0.10.0 -f https://download.pytorch.org/whl/rocm4.2/torch_stable.html`
3. `from sentence_transformers import Sen

[2021-08-18 13:55] ezyang commented on #23149
This works now

[code]

[2021-08-18 13:55] #23149 closed

[2021-08-18 13:58] Varal7 commented on #47117
I believe that *unconditionally* is not technically true here?
The check is whether the tensor to save is a leaf or *not an output*  (meaning not the output of the Node that saves it, here the custom function)
https://github.com/pytorch/pytorch/blob/4a390a56c4a345a917f5a4d8ee6cd47818fa7e84/torch/csrc/autograd/saved_variable.cpp#L69-L73
But with custom functions, that can never be the case (I think

[2021-08-18 13:59] Varal7 commented on #47117
Maybe we should close this issue and open one that more accurately describes the feature we want to have?

[2021-08-18 14:05] ezyang opened #63482 "Half division on low precision scalar doesn't work on CPU"
Follow up to https://github.com/pytorch/pytorch/pull/41446

[code]

Note that @crcrpar also applied this logic to add/sub in https://github.com/pytorch/pytorch/pull/60454 and likely those must get fixed too.

For practical purposes, this is not so important because there is not currently any silicon for doing half precision operations on CPU (yet) so no one would actually do this for something rea

[2021-08-18 14:07] ezyang commented on #63482
cc @ngimel

[2021-08-18 14:10] heitorschueroff commented on #63363
I sent a PR here https://github.com/pytorch/pytorch/pull/63481. Changing the expectedFailure of common_device_type to an XFAIL is not possible because the decision of whether to expect a failure is delayed until the test is called.

[2021-08-18 14:12] zou3519 commented on #62354
The downside to doing this is that in order to skip a test in functorch, we have to land a PR to pytorch/pytorch.

I think the question here is, how common do you think out-of-tree projects will use OpInfos? If the answer is "more than just functorch", then it's worth having an API to do this because it is a potentially useful operation to be able to skip tests and mark them as expected failure.

[2021-08-18 14:32] zou3519 commented on #63363
Fair enough. Does anyone actually use common_device_type.expectedFailure?

[2021-08-18 14:38] #53739 closed

[2021-08-18 14:55] peterjc123 commented on #63479
But LibTorch is PyTorch without Python. How do we pack those libs when we are actually compiling without Python? So, I don't think this is a valid issue. I'm going to close it. If you disagree, please feel free to reopen it.

[2021-08-18 14:58] peterjc123 commented on #63479
You will need to copy the dlls alongside with your binary I guess.

[2021-08-18 15:03] peterjc123 commented on #63139
The following message seems to the fatal one.
[code]

[2021-08-18 15:06] adamjstewart opened #63483 "DataLoader should accept Sampler[Any]"
## 🚀 Feature

According to the type hints, the `sampler` argument of `DataLoader` must be `Sampler[int]`. However, I would like to be able to pass a sampler that indexes a `Dataset` with a non-integer index.

## Motivation

I'm working with satellite imagery, where each "image" may be 10K x 10K or larger, and images overlap each other to form a map. For this kind of dataset, "length" and integer i

[2021-08-18 15:13] heitorschueroff commented on #62354
I agree with you that the third option is the best. However, I'm not entirely sure we can have multiple decorators as of now. One way it might work is to have `@opsSkip` custom decorator store its arguments into the function being decorated and then have `@ops` read the stored attributes in the `__call__` method. But I'm not seeing how this is more flexible then passing a function to `@ops` that a

[2021-08-18 15:15] heitorschueroff commented on #63363
Searching for expectedFailure shows people are mostly using unittest.expectedFailure instead of common_device_type.expectedFailure but there are still a few use cases.

[2021-08-18 15:21] peterjc123 commented on #63139
Don't know why `Display,Driver` get selected here.

[2021-08-18 15:27] Varal7 opened #63485 "Preserve tensor subclasses when unpacking a SavedTensor"
## 🚀 Feature

Preserve tensor subclasses when unpacking a SavedTensor

## Motivation

This is motivated by #47117

## Pitch

Currently, a new tensor object is created when we unpack a saved variable.
This loses any subclass information during the backward.

Using the saved tensor hooks, we should be able to preserve that, if we also:

- Add the optimization of https://github.com/pytorch/pytorch/bl

[2021-08-18 15:42] ejguan commented on #63483
I think there are two issues in your case.
- Type hint for Sampler
IIUC, you make sampler run some random operation to generate a tuple to index a data. Can you delegate this functionality to the code inside Dataset?
Just want to check which one are you using, `IterableDataset` or `Dataset`?
- `num_worker > 0`
I don't have your code to figure out the issue. But, I guess this is probably the proble

[2021-08-18 15:50] #63095 closed

[2021-08-18 15:52] adamjstewart commented on #63483
I could, but that kind of defeats the purpose of Sampler. I need several different sampling techniques (random sampling, grid sampler, contrastive sampling, etc.) and I would rather not duplicate the Dataset logic for each one. I was hoping to use Sampler to handle this.

Dataset

Let me see if I can make my index pickleable, thanks for the hint!

[2021-08-18 15:53] tvogels opened #63486 "Distributed / MPI / CUDA: Incorrect messages received from isend/irecv in PyTorch 1.8"
## 🐛 Bug

When two workers send each other a number of asynchronous messages with `isend`/`irecv`, the received messages are often incorrect. Workers may receive the message they sent themselves, receive the wrong message, or receive nothing at all.

## To Reproduce

Setting:

- Pytorch 1.9.0. The bug *does not* exist in 1.8.
- CUDA. The bug *does not* exist on CPU
- MPI (OpenMPI 4.0.4)
- Two proc

[2021-08-18 15:55] albanD commented on #23756
Note that the newly introduced SavedVariable hooks might be able to help here as well.
We should be able to do a similar trick to the one done for vanilla checkpointing in this POC: https://github.com/pytorch/pytorch/pull/62964

cc @Varal7

[2021-08-18 16:00] tvogels commented on #38642
I just tried this code snippet again with PyTorch 1.9.0a0+gitd69c22d and OpenMPI 4.0.4, and two processes on the same physical GPU. The problem seems to have disappeared. Any idea what fixed it? Maybe you can close this now.

[2021-08-18 16:00] vadimkantorov commented on #23756
Are they needed for a simple InvertibleSequential usecase?

Btw I was thinking whether it's possible to have something like pseudo-inverse of functions for cases where number of outputs changes

[2021-08-18 16:05] ngimel commented on #63482
Technically,  not a bug? We don't promise that intermediate accumulation type will be higher precision, we opportunistically apply it to some places we deem important. But we probably can fix it without too much trouble.

[2021-08-18 16:05] albanD commented on #23756
The custom function version that was linked above would work for a simple sequential case.
The benefit of this other approach is that we don't use custom Functions and so it will work better with systems that don't support them well.

[2021-08-18 16:07] jjsjann123 commented on #62619
sorry for the lack of context.

The problem shows up in `gelu` where its lowering utilizes static shape. https://github.com/pytorch/pytorch/blob/lazy_tensor_staging/lazy_tensor_core/lazy_tensor_core/csrc/ops/ops.cpp#L385

We observed recompilation with dynamic shape in those cases. Our short term work-around is to make these operation an opaque aten op. Alex was kind enough to give me a fix here:

[2021-08-18 16:07] #62531 closed

[2021-08-18 16:09] peterjc123 commented on #63139
I found this when comparing the differences.
[code]

[2021-08-18 16:14] vadimkantorov commented on #23756
For practical cases, I think a debuggable/simple custom function/container is a good fit (for training) and should exist in core, (even if a more generic approach is possible)

[2021-08-18 16:15] jeffdaily commented on #63480
Thank you for bringing this to our attention.  Hopefully you can find a quick work-around with `apt install libtinfo5` ?

I believe I have traced the libtinfo.so.5 dependency to the libamd_comgr lib.  This dep is missing from the list of libraries to bundle into the wheel.  But should it be bundled, or should we expect users to install it?

[2021-08-18 16:19] albanD commented on #63394
Hi,

This has been fixed on master.

A simple workaround if you don't have latest pytorch is to use a lambda that only takes the Tensor inputs and capture the other inputs:
[code]

[2021-08-18 16:19] #63394 closed

[2021-08-18 16:27] peterjc123 commented on #63139
@mszhanyi Could you please test whether stopping the Windows Update service before installing CUDA helps?
[code]

[2021-08-18 16:29] ejguan commented on #63483
BTW, you are right about the type hint for sampler in DataLoader. Feel free to submit a PR to improve it.
IMO, `BatchSampler` also needs to change the type hint to support various types.

[2021-08-18 16:29] floboc commented on #61277
Hello, I am encountering the same issue with PyTorch 1.9.0.
Here is a code sample to reproduce this issue:

[code]

[2021-08-18 16:31] adamjstewart commented on #63483
Is Any correct? Pickleable doesn't seem to be a type.

[2021-08-18 16:32] ejguan commented on #63483
Let's use a TypeVar for now.

[2021-08-18 16:32] FloCF opened #63488 "MultiStepLR with different gammas for each parameter group"
## 🚀 Feature
MultiStepLR with different gammas for each parameter group

## Motivation

I recently wanted to use different gammas for different parameter groups and was surprised that this is not possible yet. We can then eliminate multi-step LR for only one group by setting the corresponding gamma = 1, too.

## Pitch

The implementation is quite easy. I directly created a pull request but then sa

[2021-08-18 16:46] pinzhenx commented on #62788
Your second link gives a great example of when `forward_trainig` and `forward_inference` do have a difference. In the integration of onednn maxpool in pytorch [here](https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/mkldnn/Pooling.cpp#L256), it literally dispatches to `forward_inference` if grad is not needed by the input.

As @mgouicem mentioned in the discussion:

From the pers

[2021-08-18 17:02] #43563 closed

[2021-08-18 17:08] anjali411 commented on #63138
Real tensors also have a similar behavior. See the output differentiability defined here: https://github.com/pytorch/pytorch/blob/e2ddaec5cf6608b8e06667d4873505609ff1d674/tools/autograd/derivatives.yaml#L1237-L1243

[code]

output:
[code]

[2021-08-18 17:27] jeffdaily commented on #63480
I surveyed the various ubuntu versions using their standard docker images.

- ubuntu:16.04 -- libtinfo5 installed by default, located in /lib/x86_64-linux-gnu/libtinfo.so.5
- ubuntu:18.04 -- libtinfo5 installed by default, located in /lib/x86_64-linux-gnu/libtinfo.so.5
- ubuntu:20.04 -- libtinfo6 installed by default, must install libtinfo5 package, then located in /usr/lib/x86_64-linux-gnu/libtin

[2021-08-18 17:34] jithunnair-amd commented on #63188
Just to make sure we're using the same source, can you post the link to the guide you're referring to? Thanks!

[2021-08-18 17:38] seemethere commented on #63466
I've tried to experiment with the possibility of using mac1.metal instances to do this, since the default actions runners are too underpowered, but haven't had much success.

I know @driazati had previously worked on this. see https://github.com/pytorch/pytorch/pull/57474

[2021-08-18 17:44] jamesr66a opened #63490 "[FX] Data type of target should be validated on Node construction and lint"
The `Node` class (https://github.com/pytorch/pytorch/blob/7df2324120513c387524db604f8bcc7281aaf95f/torch/fx/node.py#L88) has a `target` field that must be a specific type depending on the `op` value of the `Node`. In particular, `target` must be a `Callable` if `op='call_function'` and a string otherwise (https://github.com/pytorch/pytorch/blob/7df2324120513c387524db604f8bcc7281aaf95f/torch/fx/nod

[2021-08-18 17:49] mruberry commented on #62354
Our recommendation for third parties using OpInfos is generally to implement skipping by looking up the opinfo when the test starts and skipping it then or by prefiltering with an allow list like like PyTorch/XLA does:

https://github.com/pytorch/xla/blob/59739f2e298dd40e8a33cecc08d4ec42c91f66fe/test/test_ops.py#L14

Their opt-in approach means their test doesn't break when new OpInfos are added,

[2021-08-18 17:54] Column01 commented on #63188
https://github.com/pytorch/pytorch#from-source

The guide in general is pretty terrible for someone who's never built code before (not my case). It's written in a way to minimize duplicating the parts of the guide that would be repeated for each, but in the process, it's also extremely hard to follow. The main issue with it though is the install dependencies section, it only covers adding the ones

[2021-08-18 17:58] seemethere commented on #63188
We'd appreciate any contributions you or others have to make it better / less confusing

Also if this this is better served in a separate file rather than in the main README.md I'm all for that as well

[2021-08-18 18:11] Column01 commented on #63188
Well I'd love to help update the guide, I wasn't even able to build it on my machine so not sure how I'd be able to help.

It would be ideal if the guide were in a separate file though

[2021-08-18 18:27] heitorschueroff opened #63494 "Extend @ops decorator with kwarg to apply dynamic decorators"
What we could do is extend `@ops` with a kwarg like `dynamic_decorators` that would point to a function. The signature of this function could be:

[code]

and it would have to return a sequence of decorators that could wrap the test. So then this decorator could be called when the test template is instantiated and its additional decorators applied to the test.

We'd have to very carefully document

[2021-08-18 18:28] PerrySchool commented on #63479
I have copied DLLs alongside my binary. Program starts, but crashes immediately. No line of main is processed (I have put console output as the "first" command, but is is not executed).

I dont see the problem to add it for this type of use cases (call pytorch from C++ and pass the tensor). If someone dont want to use this, it is not needed. Its strange to have part of the library that cannot be c

[2021-08-18 18:37] #63363 closed

[2021-08-18 18:50] adamjstewart commented on #63483
The index is already pickleable, it's just a subclass of tuple:
[code]
Will keep investigating to see if I can figure out where that error is coming from.

[2021-08-18 18:51] #62844 closed

[2021-08-18 18:52] seemethere commented on #63139
Doing work to streamline this CUDA install into our base windows AMIs for GHA here: https://github.com/pytorch/test-infra/pull/103

This won't resolve our CircleCI issues but it should help the interment failures we're seeing like this on GHA

[2021-08-18 18:58] adamjstewart commented on #63483
I stand corrected, I think I've managed to reproduce the issue now:
[code]
I should be able to figure things out from here, thanks!

[2021-08-18 18:58] jshen commented on #58055
This issue has been fixed @dbalchev

[2021-08-18 18:58] #58055 closed

[2021-08-18 19:07] ejguan commented on #63483
It's an interesting use case. I guess when pickling, python serialize `bb` as tuple, which returns a serialized list (single instance). When deserializing, your `__new__` function takes more argument rather than single. As shown in the bt, `__new__` missing from `maxx` that is the second argument.

Just guess this is not the best way to implement typed tuple.

[2021-08-18 19:21] adamjstewart commented on #63483
Yeah, I'm not sure of a better way to do things. NamedTuple doesn't allow me to add checks on the input values.

[2021-08-18 19:31] adamjstewart commented on #63483
Update: just had to implement `__getnewargs__` and pickling seem to work now!

[2021-08-18 19:49] vadimkantorov commented on #62162
What would happen if a bool tensor is coalesced? E.g. imagine having two True values for a given element? Will the output result be True? Or (overflown) False?

[2021-08-18 19:49] ejguan commented on #63483
Note: `__reduce__` may also work.

[2021-08-18 19:51] adamjstewart commented on #63483
Seems like `__getnewargs__` is preferred: https://docs.python.org/3/library/pickle.html#pickling-class-instances

[2021-08-18 19:54] ejguan commented on #63483
Wow. Thanks for pointing it out

[2021-08-18 20:29] Guitaricet commented on #63271
I am getting confused too.

For the attention mask

[code]

and padding mask

[code]

and some input of shape `[5, 3, hidden]`

Multihead attention gives a nan-free output (for both 1.8 and 1.9).

Then I noticed that I forgot to transpose the attention mask, because multihead attention expects the order `[batch * heads, target, soruce]`.

After transposition I get nans for both 1.8 and 1.9.

Now I

[2021-08-18 20:40] #51961 closed

[2021-08-18 20:46] #44010 closed

[2021-08-18 21:01] sharvil commented on #59526
@dagitses, thanks for updating the docs for `torch.finfo.tiny`. There's still an issue with the documentation for `torch.finfo.eps` which I described in my comment above. Can you please reopen this issue?

[2021-08-18 21:48] kshitij12345 opened #63518 "[nn] conv2d : different dtype support when dilation argument is passed"
[code]

Output:
[code]

stumbled while working on #63517

[2021-08-18 22:43] BowenBao commented on #62951
@liym27 for your initial example, you can avoid pruning by returning `out2` from `out2 = self.line2(y)` as output for the forward method as well.

[2021-08-18 22:48] BowenBao commented on #61543
@momstouch please also try pytorch nightly. If it does not resolve the above issue, please share a sample repro script.

[2021-08-18 22:51] BowenBao commented on #61517
@david-macleod thank you for the proposal. Do you have a model example demonstrating the importance of statefulness even for inference only?

[2021-08-18 23:02] BowenBao commented on #61512
@SeungjunNah I noticed you are exporting with `operator_export_type=torch.onnx.OperatorExportTypes.ONNX_ATEN_FALLBACK`, thus the quantization ops you get in the graph is in fact not onnx namespaced, but caffe2 namespaced. For example: `%7 : Tensor = _caffe2::Int8Transpose[Y_scale=1., Y_zero_point=0, axes=[0, 3, 1, 2]](%Xq)`. Is this intended and are you sure TensorRT is able to load this model?

[2021-08-18 23:06] BowenBao commented on #61445
looks like there is also an ongoing update to `torch.cross` #63285, we will wait till that gets finalized in master to start the exporter support.

[2021-08-18 23:11] #63281 closed

[2021-08-18 23:39] cxhernandez commented on #18106
Has there been any update on this? We've also been hitting a this issue in multi-GPU training of serialized models.

[2021-08-18 23:54] desertfire commented on #62616
@jjsjann123 , does it make sense if we provide a Python API to wrap around custom kernel invocation? Under the hood, the wrapper would call .to for all the tensor inputs and then call the actual custom kernel.

[2021-08-19 00:17] cccclai commented on #63476
Does the non-lite version model work? The model is generated by `torch.jit.save()` api and the 1.8 runtime is the non-lite version:
[code]

@kimishpatel any idea about this error message?

[2021-08-19 01:36] rodrigo-castellon opened #63541 "nn.LayerNorm breaks gradient flow under specific situations"
## 🐛 Bug

If you do some computations followed by an nn.LayerNorm followed by .sum().backward(), all gradients become zeroed out, but if you add an additional step before .sum().backward(), such as multiplying by the scalar 0.99, all of the gradients flow perfectly fine. Note that this is a symptom. There are many other bizarre behaviors that stem from the same underlying bug, and I'm not sure wha

[2021-08-19 02:57] MohitAnand-Hub commented on #63265
You are looking to index on different dimensions at the same time. I had a look around in the documentation, torch.index_add will only receive a vector as index. My hopes were on torch.scatter but it doesn't to fit well to this problem. As it turns out you can achieve this pretty easily with a little work, the most difficult parts are the setup and teardown.

[2021-08-19 03:08] eliphatfs opened #63544 "Deprecation notice at torch.autograd.grad - only_inputs argument"
## 📚 Documentation
The argument is now ignored in new versions of pytorch, but the documentation has not been updated accordingly.

cc @brianjo @mruberry @ezyang @albanD @zou3519 @gqchen @pearu @nikitaved @soulitzer @Lezcano @Varal7

[2021-08-19 03:09] dhivyadharshin commented on #63265
Awesome, thanks!

On Thu, 19 Aug 2021, 8:27 am MohitAnand-Hub, ***@***.***>
wrote:

[2021-08-19 03:16] Xia-Weiwen commented on #62804
Thanks. That was helpful. But as you can see int8 linear is still slower. Shouldn't we expect this to be faster? I understand that the implementation of int8 op will introduce extra overhead somewhere. Chrome tracing showed that overhead of preparation was big. Is it possible to reduce it?
![image](https://user-images.githubusercontent.com/12522207/130001883-34090f32-df80-4093-a17f-dfb3aba32d28.pn

[2021-08-19 04:02] deahhh opened #63546 "loss not descent, while tensorflow do! Do I code in wrong way? Help!"
## ❓ Questions and Help

I code a small model in pytorch 1.7.1+cu110, python 3.8.10, ubuntu 20.04, native, as follows:

def test_torch():
    import torch
    import torch.nn as nn
    from torch.utils import data
    from torch.utils.data import dataloader

    data = torch.randn(100000, 2)
    y = torch.sin(data[:, 0]*data[:, 1]).unsqueeze(1)
    print(y.shape)
    data = torch.cat([data, y], di

[2021-08-19 04:14] dskhudia commented on #62804
@supriyar back to you regarding some of the fixed overhead introduced in qlinear op

[2021-08-19 04:15] dskhudia commented on #62804
int8 is faster in my benchmarking. See above. The order of fp32 and int8 is reversed.

[2021-08-19 04:56] soulitzer opened #63549 "sparse _values returns a new TensorImpl in some situations"
When a function is called in a boxed manner, `_values` on a sparse tensor returns a new TensorImpl. Some functions like sparse floor division assume that calling `resize_` on `_values` will affect the original Tensor, but that would fail.

For jitted extensions such as in the snippet below, the dynamically loaded op is called in a boxed manner.
[code]

cc @nikitaved @pearu @cpuhrsch @IvanYashchuk

[2021-08-19 05:09] Xia-Weiwen commented on #62804
Sorry for that. I reproduced your result.
Anyway it would be great if the overhead of preparation could be further reduced.
For example, I saw overhead of `Tensor::q_scale` and `Tensor::q_zero_point` was somewhat high considering they are just getters. There was also a time gap between them, but they are actually two consecutive sentences.

[2021-08-19 05:35] peterjc123 commented on #63139
Looks like the CUDA installation isn't a problem with the patch. But now they are failing probably because the no-action timeout may be too short.

[2021-08-19 05:57] peterjc123 commented on #63479
@PerrySchool

The problem is how to achieve this. `torch_pytorch.dll` is dependent on the python libs. There is only job for LibTorch now and it will become 4 jobs (for Python 3.6 3.7 3.8 3.9) if we do this.

Yes, better document sounds reasonable. Let's reopen the issue.

Well, it is a separate issue. Could you please attach a debugger and share more details?

[2021-08-19 06:13] timiil commented on #27212
+1 very need here :)

[2021-08-19 06:36] IvanYashchuk commented on #63549
Another example:
[code]

[2021-08-19 06:57] mszhanyi commented on #63139
That patch looks not working.
https://circleci.com/api/v1.1/project/github/pytorch/pytorch/15462858/output/104/0?file=true&allocation-id=611dfba8958375412939d13b-0-build%2F54936121

[2021-08-19 07:01] lelecanfora commented on #63480
@jeffdaily I confirm that that was the missing library, after ```apt install libtinfo5``` the build works correctly.

[2021-08-19 07:06] LZCai commented on #40769
1、首先确定是否修改了网络的结构和参数；
2、如果网路没有变化，应该就是__init__()方法中网络层的定义顺序发生变化，从而导致optimizer中id相同的层参数发生变化（即：对应了网络中的不同层）。
3、将model直接print出来对比一下就好。

[2021-08-19 07:33] pearu commented on #63549
What follows is not a solution to this issue (`get_sparse_impl` is an internal utility) but a workaround:
[code]

[2021-08-19 07:37] pearu commented on #63549
Re:
[code]
Users should not reference `_values()`, it is a private method. In fact, if the above would work, that would be a big bug: resizing values or indices in-place will break COO layout invariants.

[2021-08-19 07:38] Hao-Yan opened #63555 "pytorch 1.8.1+cu111 used much more CPU RAM than pytorch 1.8.1 after run `import torch`"
## 🐛 Bug

pytorch 1.8.1+cu111 used 1G CPU RAM when only run `import torch`

## To Reproduce

Steps to reproduce the behavior:

1. Run `pip install torch==1.8.1+cu111 -f https://download.pytorch.org/whl/lts/1.8/torch_lts.html` to install pytorch 1.8.1 + cu111
2. Run `python`
3. Run `import torch`
4. Run `ps aux | grep python` to check the CPU RAM usage of that python process

## Expected behavior

[2021-08-19 07:39] liangan1 opened #63556 "[RFC] A Launch script with Best Recipe of Deep Learning on Intel Xeon CPU"
## Problem statement

To accelerate training and inference of deep learning on Intel Xeon CPU, we generally need to enable a set of optimized configurations and best practices which include Non-Uniform Memory Access (NUMA) aware controls, memory allocator and OpenMP thread runtime configurations. A user should know a lot of details about hardware architecture and software features and write a spec

[2021-08-19 07:52] mszhanyi commented on #63139
Disable it is more reliable than stop it.
`sc config wuauserv start= disabled`
https://app.circleci.com/pipelines/github/pytorch/pytorch/366489/workflows/4960978b-8295-42d9-98b4-68bb5b38a51a/jobs/15464015

[2021-08-19 08:00] NaYrA-IaR commented on #63265
Hello, I am a beginner and I would like to contribute to this project. Can you please help me with how to get started ?

[2021-08-19 08:04] goelm08 commented on #63265
Hello, I am a beginner and I want to contribute to this project. Can you please help me to get started?

[2021-08-19 08:04] goelm08 commented on #62501
Hello, I am a beginner and I want to contribute to this project. Can you please help me to get started?

[2021-08-19 08:11] pearu commented on #63549
Here is a solution to the problem stated above:
[code]
It still uses the internal function `get_sparse_impl` but at least COO invariants remain valid.

[2021-08-19 08:16] jgong5 commented on #63556
cc @VitalyFedyunin

[2021-08-19 08:24] divideconcept opened #63558 "universal binaries for libtorch on mac (x86_64+arm)"
## 🚀 Feature
Universal binaries (x86_64+arm) made available on pytorch.org for the libtorch library on mac.

## Motivation

C++ applications requires libtorch to run PyTorch models saved as torchscript models.
All new Apple computers are now using Apple Silicon/M1 processors instead of Intel processors, and thus there is an increasing demand for native M1 support for mac applications.
As the devel

[2021-08-19 08:51] pmeier commented on #61906
Another argument to move in this direction is that the behavior of the testing functions for complex `NaN`s diverge from `torch.isnan`: While `torch.isnan` considers a complex value `NaN` if any component is `NaN` (this is in line with `cmath` and `numpy`),

[code]

would fail. To succeed `equal_nan="relaxed"` would need to be used.

[2021-08-19 08:57] dbalchev commented on #58055
@jshen thanks for fixing it and following up (:

[2021-08-19 09:04] hwangdeyu opened #63559 "Functional grid_sample: example of padding_mode="reflection" description error"
## 📚 Documentation

## Issue description
[torch.nn.functional.grid_sample](https://pytorch.org/docs/master/generated/torch.nn.functional.grid_sample.html#torch.nn.functional.grid_sample
)
Pick from the function description:

## Expected description
x = **-0.5** should be x = **0.5**

[2021-08-19 09:23] prrw commented on #17054
Hello, can someone tell how to solve this error ? I tried different versions Stable(1.9.0) and Nightly and it did not work for both.

[2021-08-19 09:44] hwangdeyu commented on #61277
@floboc  @lawpdas  This issue is fixed in PyTorch 1.10. You can try to use PyTorch nightly versions 1.10.

[2021-08-19 09:52] shoutOutYangJie opened #63560 "Why is the sequence dimension before batch size dimension for " nn.MultiheadAttention""
![image](https://user-images.githubusercontent.com/46734514/130048003-4c7db50a-3cec-4a72-af4f-6a429396498b.png)

[2021-08-19 09:54] rgommers commented on #45731
Let's close this, it has been complete for a while (1.7.1 has wheels and conda packages for Python 3.9).

[2021-08-19 09:54] #45731 closed

[2021-08-19 10:01] urimerhav commented on #1137
Not sure why this thread was closed. Being able to not have your entire training run shut down over a single bad samples is a common use case. I'd add also that a timeout functionality would be useful. If a worker fails to deliver a sample in x seconds, we might want to drop it and move on to the next one.

In real life applications scanning over every single example and validating it is often inf

[2021-08-19 10:23] ankit332000 commented on #63265
Hello , I wanna do my first pull request can you help me with that by allowing me to contribute?

[2021-08-19 10:28] SeungjunNah commented on #61512
@BowenBao
I just followed an example in this PyTorch forum [thread](https://discuss.pytorch.org/t/onnx-export-of-quantized-model/76884/8) in the last trial and indeed, making caffe2 specific format is not my ultimate goal.

Meanwhile, we (@jihun-k) managed to export a quantized model for TensorRT via [pytorch-quantization](https://github.com/NVIDIA/TensorRT/tree/master/tools/pytorch-quantization),

[2021-08-19 11:26] dhivyadharshin commented on #63265
Yes, I can help you.

On Thu, 19 Aug 2021, 3:53 pm ankit332000, ***@***.***> wrote:

[2021-08-19 11:35] PerrySchool commented on #63479
Stack trace of the crash in the debug mode:

[code]

Library added via
`#pragma comment(lib, "torch_python.lib")`

The version of python torch and downloaded libtorch are the same - 1.9

However, I have also encountered another problem. Even if I don't use `extension.h` and just try to import dummy python script with
`import torch;`
pybind crashes during script initialization. So maybe torch-relat

[2021-08-19 11:38] xwang233 opened #63565 "Replace `self.assertTrue(torch.allclose ...` with `self.assertEqual ...` in the test suite"
## 🚀 Feature

Replace `self.assertTrue(torch.allclose ...` with `self.assertEqual ...` in the test suite

## Motivation

`self.assertEqual` usually gives a much more informative error message, like

`With rtol=0.1 and atol=0.1, found 1 element(s) (out of 384) whose difference(s) exceeded the margin of error (including 0 nan comparisons). The greatest difference was 0.18716629735652646 (0.552842140

[2021-08-19 11:49] Charlyo commented on #55945
@z-a-f Any news on this??

[2021-08-19 11:49] subhacom commented on #57273
This is still present in the nightly-build, even after `pip uninstall torch` followed by installing the nightly build using pip.

[2021-08-19 12:20] ayush714 opened #63566 "IndexError: Caught IndexError in DataLoader worker process 0. Original Traceback (most recent call last):"
## ❓ Questions and Help
IndexError: Caught IndexError in DataLoader worker process 0.
Original Traceback (most recent call last):

I am getting this error
[code]

and code can be found here:- https://gist.github.com/ayush714/7d0a6e6fc3d0b26e312b10d837b81653

cc @SsnL @VitalyFedyunin @ejguan

[2021-08-19 12:20] vadimkantorov commented on #32867
Probably detectron2 would also make use of this in BitMasks (https://detectron2.readthedocs.io/en/latest/modules/structures.html#detectron2.structures.BitMasks)

[2021-08-19 13:25] ejguan commented on #57273
@Bernd1969 @subhacom
Can you use https://github.com/pytorch/pytorch/blob/master/torch/utils/collect_env.py to verify your environment?

[2021-08-19 13:31] PerrySchool commented on #63479
Well, I have solved the issue. If I want to use Torch with Python, I have to include and link all libraries from Python version.  Downside is, that debug symbols are not available for this, only release version of the Torch library.
This way, I can have torch in C++ and call Python with `import torch` and pass tensors forth and back.

If I dont want to use python at all, I can use libraries downlo

[2021-08-19 13:32] ezyang commented on #63485
@Varal7 hmm, can you give some argument why this strategy will work? I'm not sure why this would be correct

[2021-08-19 13:44] lukasfolle commented on #63546
Please post your request here https://discuss.pytorch.org/.

[2021-08-19 13:52] #61446 closed

[2021-08-19 14:23] chsasank commented on #62661
I've started to write some functions based on triton's tutorials here: https://github.com/chsasank/triton-torch. My ops doesn't support autograd yet. [Is this the recommended way](https://pytorch.org/docs/stable/notes/extending.html#extending-torch-autograd) to get autograd support for my ops? I suppose I'll have to write kernels for backward of softmax. Any code reference in pytorch code base I c

[2021-08-19 14:29] Lezcano commented on #45734
Even better, `linalg.triangular_solve` does all this automatically just looking at the strides of the input tensor and it gets rid of this annoying parameter.

[2021-08-19 14:38] yufeng66 opened #63573 "tensordot behavior change?"
## 🐛 Bug

tensordot behavior changed between 1.7.1 and 1.9
Looks like tensordot dims=0 doesn't work anymore with 1.9.0 on colab

## To Reproduce

[code]

On my local machine with pytorch 1.71, I got
[code]
This is expected. However on google colab  with pytorch 1.9.0 I got
[code]
I didn't find any document to support this is an intended change.

[2021-08-19 14:51] Varal7 commented on #63485
Sorry, added more context to the issue.

The user can do something like

[code]

Then, provided the correct modification to
https://github.com/pytorch/pytorch/blob/4a390a56c4a345a917f5a4d8ee6cd47818fa7e84/torch/csrc/autograd/saved_variable.cpp#L176-L186

The call to `make_variable` from line 183 above would only be attaching autograd meta to the unpacked tensor, instead of performing a shallow cop

[2021-08-19 14:52] ezyang commented on #62661
Nice stuff. With the shallow integration that you're doing in your repository, unfortunately the only way to get autograd going is define custom functions (as you see in the docs you linked.) So for example:

[code]

With the deeper integration (actually overriding the behavior of torch.add) we can hook into the preexisting autograd functions defined in PyTorch, but torch.autograd.Function is a go

[2021-08-19 14:54] Varal7 commented on #63485
Currently, I am thinking that simply changing `data` to `std::move(data)` is not correct because if no hooks are registered, we do not want to modifying `data_`.

[2021-08-19 15:00] yufeng66 commented on #63573
Already solved by https://github.com/pytorch/pytorch/issues/61096

[2021-08-19 15:00] #63573 closed

[2021-08-19 15:16] hwangdeyu commented on #61172
@JackCaster  I can't reproduce using `adaptive_max_pool1d` op. Could you share the samll repro code?

[2021-08-19 15:18] cbalioglu commented on #63470
Hi @gaojingqian, do you mind trying to reproduce your problem with PyTorch v1.9?

[2021-08-19 15:23] chsasank commented on #62661
Thanks. I'm intimidated by pytorch code base. Can you please help me find my way around for softmax backward kernel? I have gone through [this](http://blog.ezyang.com/2019/05/pytorch-internals/) but still confused :(.

[2021-08-19 15:27] ezyang opened #63574 "compile_commands.json doesn't contain nvcc invocations"
Steps to reproduce:
1. Build with CUDA enabled
2. Look for a CUDA file (e.g., Activations.cu) in `compile_commands.json`

[2021-08-19 15:31] #53485 closed

[2021-08-19 15:34] jjsjann123 commented on #62616
So this is transparent to user and there would be no code change for them to switch their models to lazy tensor?

[2021-08-19 15:44] ezyang commented on #62661
You're going to have to write the softmax backward kernel, unfortunately. The preexisting softmax backward CUDA implementation lives at aten/src/ATen/native/cuda/SoftMax.cu but it's pretty involved...  Maybe https://eli.thegreenplace.net/2016/the-softmax-function-and-its-derivative/ is helpful

[2021-08-19 15:55] ptillet commented on #62661
@chsasank softmax backward is pretty easy to write in Triton. see https://github.com/openai/triton/blob/master/python/triton/ops/blocksparse/softmax.py#L109-L114 specifically

[2021-08-19 16:18] jxtps opened #63581 "Java NVIDIA GPU Inference Support"
## 🚀 Feature
The [Java Demo](https://github.com/pytorch/java-demo) now supports Linux, Mac, and Windows. That's great. However, looking at [Device.java](https://github.com/pytorch/pytorch/blob/master/android/pytorch_android/src/main/java/org/pytorch/Device.java) in the underlying [pytorch_android library](https://github.com/pytorch/pytorch/tree/master/android/pytorch_android), it appears to only s

[2021-08-19 16:27] jamesr66a commented on #50178
Duplicate of https://github.com/pytorch/pytorch/issues/45685

[2021-08-19 16:27] #50178 closed

[2021-08-19 16:29] cpuhrsch opened #63583 "Add (at least a daily) DEBUG=1 tests on a common platform"
## 🚀 Feature
All of our CI tests currently run with DEBUG=0 for performance reasons. However, there is code that relies on begin run in DEBUG mode to detect errors. We could say that this is not allowed, but it seems very convenient to set asserts at specific locations in the code and raise errors with an exact location in the code base.

## Motivation

This issue is motivated by https://github.co

[2021-08-19 16:31] ravi9 commented on #61430
Thank you @shubhambhokare1 and @hwangdeyu. I will test with the latest version of PyTorch nightly.

[2021-08-19 16:35] janeyx99 commented on #62585
Should `ciflow/scheduled` and other ciflow/blah labels be documented in this same note or should there be a different place for those as they don't currently work with Circle (to my understanding)

[2021-08-19 16:37] driazati commented on #63583
A periodic job sounds pretty reasonable, especially since a lot of devs use DEBUG=1 locally.

cc @pytorch/pytorch-dev-infra

[2021-08-19 16:43] walterddr commented on #63583
we might want to be very careful on what to test when debug flag is on. since it is going to be slow.

[2021-08-19 16:45] ngimel commented on #62661
@ptillet would the softmax as written in those examples work for large softmax axis, when values can no longer be held in registers/shared memory? If not, how would one go about picking between that implementation, and less efficient one where reductions are done separately, followed by pointwise transformation?

[2021-08-19 16:55] sun-jiao opened #63584 "Cannot specify character encoding in cpp_extension.py for C++ compiler info"
## 🐛 Bug

Cannot specify character encoding in cpp_extension.py for C++ compiler info and error message.
UnicodeDecodeError will be raised in Chinese environment.
I think it's a good idea to add a parameter for it.

![Snipaste_2021-08-20_00-40-33](https://user-images.githubusercontent.com/14086980/130109658-b346c02e-611f-4170-b25c-9ffe4d162c9a.jpg)

## To Reproduce

Steps to reproduce the behavior

[2021-08-19 16:57] ptillet commented on #62661
@ngimel You are right, it wouldn't work. Using too much registers is less of an issue since the program will still run -- albeit slower -- since the compiler can just spill. Using too much shared memory will result in an error though. There are two possible solutions:

- Check whether `num_cols * bytes_per_elt < max_shared_mem`. Works but not great since it explicitly depends on details (e.g., amo

[2021-08-19 17:01] ptillet commented on #62661
Edit: probably better to not use a flag in the second case, and just catch the exception all the time.

[2021-08-19 17:51] rustrust commented on #62166
I added the below lines which allocate an identity matrix of 1024 by 1024 above the match on svd statement for what I describe as mnist_conv_svdbug.rs and was not able to ever observe a failure of svd across several trials.

[code]

[2021-08-19 17:51] pritamdamania87 commented on #63041
I think my proposal was to have the user control reduction for all buffers or none. So when the user registers a `custom_buffers_hook` they are responsible for reducing all the buffers. This is similar to the ddp comm hook where the user controls all grad reductions.

In the use case we are targeting, if the user only cares about a few parameters. We could have a helper function which takes rest o

[2021-08-19 17:55] subhacom commented on #57273
My apologies for a false alarm. Upon running the script I realized that torch was still at version 1.9.0. Earlier I ran:

    pip uninstall torch
    pip install --pre torch torchvision torchaudio -f https://download.pytorch.org/whl/nightly/cu102/torch_nightly.html

And the installation messages look like this:

So it appears that uninstalling just `torch` leaves `torchaudio` and` torchvision` in

[2021-08-19 18:09] desertfire commented on #62616
In this case, user needs to change their model code. The maybe_data/maybe_storage solution that Alex suggested would not work for all the cases. I don't know if there is a clean solution here that automatically does everything under the hood.

[2021-08-19 18:10] mattip commented on #41499
There is now a doctest CI run. Most of the examples are being skipped currently because there is a `doctest_test_doctest_blocks` configuration parameter. If that parameter is removed, all of the examples (with `>>>` prompts) will be run. But that would probably cause test failures, or at least significantly slow down the test run.

We can activate sample code one-at-a-time by adding a [`.. doctest

[2021-08-19 18:13] cpuhrsch opened #63591 "Split up test/test_nn.py"
## 🚀 Feature
test/test_nn.py is our largest test file.

[code]

18214 lines makes it difficult to edit (read / write), difficult to land (land time merge conflicts), difficult to lint (linters take a long time to process this many lines) and difficult to understand (torch.nn spans a lot of code, so we likely have a lot of repeat code in there).

It seems impactful to break it up into smaller files

[2021-08-19 18:17] malfet commented on #63583
Well, DEBUG=ON does not mean code needs to be compiled without optimization, does it? It just adds some extra checks which are unreasonable to do in production code

[2021-08-19 18:18] jjsjann123 commented on #62616
So the change is only to decorate custom kernels so we can have the `to` method automatically wrapped on inputs/outputs of custom kernel?
This sounds reasonable to me for the short term. This is not a show blocker that we have to solve it properly right now. We can just use the wrapper as WAR until this becomes a real problem later.

[2021-08-19 18:23] DruvPai opened #63592 "Using FFT on Apple/M1"
## 🐛 Bug

Calling `torch.fft.fft` or its variants on Apple with M1 chip, gives error indicating lack of MKL support.

## To Reproduce

Steps to reproduce the behavior:

1. Install the latest version of Pytorch from `conda` (currently my version is `cpu_py39he8fdc14_2`.
2. Open a file/Python shell and `import torch`.
3. Give any vector of floats, i.e., `x = torch.randn((3, ))`.
4. Write `torch.fft.

[2021-08-19 19:01] cowwoc commented on #19003
@gchanan Please reopen this issue. It is not fixed.

[2021-08-19 19:22] #58659 closed

[2021-08-19 19:50] #39329 closed

[2021-08-19 20:11] cpuhrsch commented on #63583
@malfet - Yes, I don't think there is a reason why you would not want to pass some mild optimization flags, but I can imagine that the debug code enabled could hurt certain optimizations. So then even if you compile it with all optimizations enabled the extra code could void their efficacy.

[2021-08-19 20:15] ngimel commented on #63427
Reopening, to investigate the cause, as we still need that cub migration.

[2021-08-19 20:36] anjali411 commented on #61906
SGTM!

[2021-08-19 20:41] wconstab commented on #62616
It seems to me that a 'custom extension' is too flexible, that it can never be compatible with a 'general compiler backend', because the compiler can never reason about what might happen inside it.

For the short term I think it's ok to update the custom extension to call .to on the appropriate device.  But the bottom line is, any user code that uses a custom extension is going to be less general

[2021-08-19 20:47] neginraoof commented on #61766
@emanuelgollob I can confirm that square has been added to the exporter about 7 months back: https://github.com/pytorch/pytorch/commit/aeefe2ce31cac554d48de1372eb426dcf4a3a301

Which version of torch are you using? Can you use the latest stable build?

[2021-08-19 20:47] #61766 closed

[2021-08-19 20:48] thomashirtz commented on #19003
Does someone know/can explain me how to fix it ? I can try to make a PR

[2021-08-19 20:57] walterddr opened #63603 "with-ssh doesn't work when job is triggered by probot"
This is specifically for the FB-EMPLOYEE ONLY "with-ssh" label.

It doesn't attach the proper ssh key when trigger by probot, it will show this message:
[code]

It would be super helpful if it knows how to attach the actual user's github key instead of the probot's

cc @ezyang @seemethere @malfet @walterddr @pytorch/pytorch-dev-infra

[2021-08-19 21:20] emanuelgollob commented on #61766
@neginraoof I was using PyTorch 1.7.1 as the Stylegan2-ada-pytorch demands PyTorch 1.7.1
But in that case, I will try to load and export the trained model in PyTorch 1.9.0
Thank you so much for looking into it!

[2021-08-19 21:33] gchanan opened #63608 "torch.trapezoid broadcasting behavior is incorrect"
## 🐛 Bug

PyTorch version: 1.10.0.dev20210819+cu102

I'm not 100% sure, but I think there are both documentation and functional bugs here.  The order I'll describe here is a little strange, but I think it shows the progression most clearly:

## Documentation

I think these two sentences are saying the same thing?  In both cases, the shape has to match up (post broadcast).

## Functional

In this c

[2021-08-19 21:35] ejguan opened #63609 "Sampler should be seeded lazily"
## 🐛 Bug

After #63026 is landed, the generator for Sampler is attached to the instance, which helps to serialize the state of Sampler. But, it brings a problem that it will prevent Sampler's generator being seeded before each epoch.

## To Reproduce

Check https://github.com/pytorch/pytorch/pull/63026#issuecomment-902234490

[2021-08-19 21:36] mruberry commented on #63592
cc @nikitaved @albanD

[2021-08-19 21:37] mruberry commented on #63608
cc @NivekT to take a first look

[2021-08-19 21:41] mruberry commented on #63584
I am not sure how this is related to PyTorch, the deep learning framework. Can you clarify how this is a PyTorch issue and include a sample program we can run to replicate the issue?

[2021-08-19 21:43] rgommers commented on #62255
Note that that was resolved, the axis1/axis2 keywords are gone.

[2021-08-19 21:44] mruberry commented on #63546
As @lukasfolle notes, this question is more appropriate for the PyTorch forums (at least to start).

[2021-08-19 21:44] #63546 closed

[2021-08-19 21:45] alanwaketan opened #63610 "Enable some amount of CI tests on lazy_tensor_staging branch"
Tests to consider adding are:
1) test_ptltc, C++ unit tests.
2) example.py (https://github.com/pytorch/pytorch/blob/lazy_tensor_staging/lazy_tensor_core/example.py). Needed to cover some python scripts.
3) test_ops.py (https://github.com/pytorch/xla/blob/master/test/test_ops.py). Needs to change the device to lazy and run it with the TS backend.
4) other tests in the above folder could be useful t

[2021-08-19 21:48] mruberry commented on #63566
Try asking this question on the forums (https://discuss.pytorch.org/) with a self-contained program that demonstrates the issue, @ayush714. The github issues are more appropriate for bug reports.

[2021-08-19 21:48] #63566 closed

[2021-08-19 21:49] mruberry commented on #63565
For 3rd parties we also recommend using `torch.testing.assert_close` now, which has an error message like `assertEqual` does. See https://pytorch.org/docs/master/testing.html?highlight=assert_close#torch.testing.assert_close

[2021-08-19 21:49] mruberry commented on #63565
cc @pmeier

[2021-08-19 21:51] neginraoof commented on #61754
Tracked internally: https://msdata.visualstudio.com/Vienna/_workitems/edit/1323465

[2021-08-19 21:52] mruberry commented on #63559
Thanks for reporting this issue, @hwangdeyu

[2021-08-19 21:57] #63483 closed

[2021-08-19 22:02] walterddr opened #63613 "GHA CI failure intermittently with "local git repository checkout dirty""
happens to both build and test job
https://github.com/pytorch/pytorch/runs/3375672063?check_suite_focus=true
https://github.com/pytorch/pytorch/pull/63261/checks?check_run_id=3359560436

[code]

unlike the previous failure I reported #58867, this time the dirty third_party checkout is an "Untracked change":
[code]
where as previously it was a modified (or upstream updated commit) on #58867
[code]

[2021-08-19 22:02] malfet commented on #63592
This should already be available in [pytorch/conda nightlies](https://anaconda.org/pytorch-nightly/pytorch), please try `conda install pytorch -c pytorch-nightly`
I.e. this is a duplicate of https://github.com/pytorch/pytorch/issues/41592

[2021-08-19 22:56] soulitzer commented on #63541
It is expected that the gradients are zero since normalization makes it so that the average value of the elements is zero (which makes the `.sum()` always zero as well). The gradient you are seeing when you have a scalar multiple is probably due to numerical precision issues (try different values of hidden_dim and use `torch.double`).

[2021-08-19 23:03] meganset opened #63618 "C++ torch::cuda::synchronize speeds up trading"
## 🐛 Bug

There are cases where calling _torch::cuda::synchronize()_ appears to speed up training.
There have been some other issues on this (#43947  and #44103 )
I've noticed the counter-intuitive slow downs from the c++ side when replacing _tensor.item<float>_ calls with non-synchronizing accumulation and seeing slower training speeds.

## To Reproduce

[code]

Using the above LSTM module, runni

[2021-08-19 23:04] soulitzer commented on #63544
Thanks for the report, we would accept a PR fixing this.

[2021-08-19 23:57] malfet commented on #62629
Can you please elaborate, what is not working for you?

[2021-08-20 00:30] seemethere commented on #63613
Could this be a leftover from previous runs in the same node?

[2021-08-20 00:31] alanwaketan commented on #62629
For `ln -s ../../tools/git-pre-commit .git/hooks/pre-commit`, it doesn't seem to state where the current directory should be. '../../' is very confused.

[2021-08-20 00:32] seemethere commented on #63603
This is true, currently the action that adds ssh keys to the node relies on the `github.actor` value which makes sense why it defers to probot when it's triggered by probot

[2021-08-20 01:09] mszhanyi opened #63622 "Error in git clone pytorch wiki"
## 🐛 Bug

There're errors in `git clone https://github.com/pytorch/pytorch.wiki.git`.

## To Reproduce

Steps to reproduce the behavior:

1. `git clone https://github.com/pytorch/pytorch.wiki.git`

![image](https://user-images.githubusercontent.com/16190118/130163237-89ccc569-66e4-4e0a-9822-3d271b09a305.png)

## Expected behavior

No error in `git clone https://github.com/pytorch/pytorch.wiki.git`

[2021-08-20 01:46] gaojingqian commented on #63470
@cbalioglu OK，with PyTorch v1.9.0, the phenomenon is all the same. By the way, the distributed code comes from https://github.com/Tencent/TFace

[2021-08-20 01:57] Varal7 opened #63623 "Expose a SavedTensorsHooks nn.Module for users to register saved tensors hooks"
## 🚀 Feature
In addition to the current context manager `torch.autograd.graph.saved_tensors_hooks`, expose a class `SavedTensorsHooks`  which inherits from `nn.Module` that users can use to wrap their models in to register hooks.

## Motivation

The saved tensors hooks are thread local, which makes them compatible with DataParellel, but only if called in a specific fashion.

The following code wor

[2021-08-20 02:09] ezyang commented on #32867
I'm working on a feature that would make it easier for people to develop new dtypes out of tree.

[2021-08-20 02:23] ezyang commented on #63583
We need an "optimized but with DEBUG" flag, I don't think we have one right now. DEBUG is "unoptimized with DEBUG" and REL_WITH_DEB_INFO is "optimized with debug info but not DEBUG"

[2021-08-20 02:27] ezyang commented on #63555
curious if 1.7 had this behavior

[2021-08-20 02:40] Varal7 opened #63624 "Raw saved tensors can survive the deletion of the underlying SavedVariable object"
## 🐛 Bug

The stack starting at #60551 exposes a `SavedTensor` Python object that users can assess through `output.grad_fn._raw_saved_tensors` for custom functions or with `output.grad_fn._raw_saved_[something]`.
The purpose is to allow them to register a pair of pack/unpack on that specific saved tensor.

However, the discussion in #60551 exposes a problem with the current implementation.

A bug

[2021-08-20 03:30] deahhh opened #63626 "Simple model training failure: loss does not descent."
## 🐛 Bug

Simple model training failure. I am sure the normal loss should be less than 0.01, but here never descent to 0.3 or less.

## To Reproduce

Steps to reproduce the behavior:

1. make env of python3.8.10 in ubuntu 20.04. Env as follows:
[code]
2. run following code, you will get loss never descent to 0.3 or less.
[code]

[2021-08-20 03:36] Naaru-01 commented on #63626
Hello there, I would like to work on this Issue. Could you help to understand it better so that I can Solve it asap ?

[2021-08-20 04:20] 842974287 commented on #63076
Hi @gyenesvi, we have a pretty similar design I think under `torch/fx/experimental/fx_acc`. It called acc tracer and has some more features than what you need probably, but it traces into functional level. The reason that you can't trace resnet18 with changes on `is_leaf_module()` is that `nn.BatchNorm` checks input shape in `forward()` which is consider as a dynamic control flow. In acc tracer, i

[2021-08-20 04:26] hwangdeyu commented on #53887
Thank you @icyhearts.
This issue can be fixed by this PR. https://github.com/pytorch/pytorch/pull/60538
So I closed it.

[2021-08-20 04:26] #53887 closed

[2021-08-20 04:58] jfix71 commented on #63076
To be a little more specific, we AST rewrite the forward of BatchNorm, so that instead of the input shape check being part of forward directly, it's hidden inside a call into another module called a `ConditionalExceptionWrapper`. Then when we symbolically trace with the acc_tracer, we treat `ConditionalExceptionWrapper` as a leaf module so we don't encounter this tracing issue. By default the acc_

[2021-08-20 05:24] AnirudhDagar commented on #62813
@rgommers this is now unblocked by the fix in data-apis/array-api#241 which removes `axis1` and `axis2` altogether from the signature. Right?

[2021-08-20 05:27] pmeier commented on #63565
@xwang233

`_compare_tensors_internal` will be removed when #58981 lands without deprecation since it is an internal functionality (note the leading underscore as well as "internal" in the name). Since `torch==1.9.0` we have [`torch.testing.assert_close`](https://pytorch.org/docs/stable/testing.html#torch.testing.assert_close), which provides a superset and is fully documented.

[2021-08-20 06:45] #62569 closed

[2021-08-20 06:45] #54134 closed

[2021-08-20 07:25] bhosmer commented on #63271
Actually I think the attention mask in your example is already in the right form. Each row represents attention from a target (query) to the sequence of sources, so the lower triangular mask makes sense in terms of causality: the top row (first target) can only attend to the first column (first source), the second target to the first and second sources, and so on down to a completely unmasked fina

[2021-08-20 07:40] Hao-Yan commented on #63555
@ezyang , 1.7 is similar.

For cuda10.2 one installed by `pip install torch==1.7.1`, it used about 165M after run `import torch`
For cuda11.0 one installed by `pip install torch==1.7.1+cu110 -f https://download.pytorch.org/whl/torch_stable.html`, it used about 976M after run `import torch`.

[2021-08-20 07:57] fmassa commented on #60854
Hi,

This is great!

One thing I would consider is if we should use `torch.sparse.masked_matmul` as a name, or instead name it `torch.sparse.sddmm` (as it is known in the literature). I'm not sure how common / clear `masked_matmul` is, and maybe `sampled_matmul` or `sampled_dense_dense_matmul` would be more appropriate as names

[2021-08-20 08:06] nlgranger commented on #22329
@ngimel can you please comment on why this is not a feature you plan to support? Is JIT developpment only targeting inference and not training?

[2021-08-20 08:44] pearu commented on #60854
I would wait for a little with naming functions with `masked_` prefix because according to the Masked reductions proposal (TBA, @cpuhrsch), `masked_op` takes a pair(s) `(tensor, mask)` as input(s) and returns similar pair(s) as outputs, and it would be good to settle down this convention before implementing other possible masked-tensor-input-output conventions.

[2021-08-20 09:00] YZP17121579 commented on #56663
Is there anyone can tell me this is a bug or not?

[2021-08-20 10:15] rgommers commented on #62813
The signature there is `linalg.diagonal(x, /, *, offset=0)`, and the spec says the diagonal is taken over the last two axes and batching is supported.

The current `torch.diagonal` has signature:
[code]
and has a note:
[code]
So it looks to me like that's still not great, and adding a `torch.linalg.diagonal` sounds like the way to go. This could either be identical to the signature of the array AP

[2021-08-20 10:37] yogeshchandrasekharuni commented on #63626
can you explain how you're sure that the loss should reach 0.01 and that this is not the expected behavior?

[2021-08-20 11:12] IvanYashchuk commented on #60854
All three options (`sddmm`, `sampled_matmul`, `sampled_dense_dense_matmul`) sound good to me. Maybe the latter two are better as there is a tendency in PyTorch to use more descriptive names than accronyms.

[2021-08-20 11:34] ShaswatPanda commented on #25883
Hi, I'd like to work on Module(Containers) and implement the APIs that are missing in C++, e.g. register_forward_hook / register_forward_pre_hook

[2021-08-20 11:49] Lezcano commented on #45063
I'm going to add an `def adjoint(dim0=-2, dim1=-1)` operator to mean `.transpose(-2, -1).conj()`.

The next interesting point is that we'd like to have a property similar to `T` that computes `H`. Now, `T` is completely broken for multidimensional tensors, which is annoying. This opens a number of possibilities:
- Add `H` to mean `tensor.T.conj()`. In this case we would be deliberately adding anot

[2021-08-20 12:00] turing-yfqiu commented on #40427
Hi @brucemuller ,

Is there any update about this? I am working on the same issue here. Would the automatic mixed-precision setting for PyTorch help?

Thanks

[2021-08-20 12:09] Di-Ma-S21 commented on #63331
@peterjc123 Hi Peter, thanks for your suggestions. I have upgraded the PyTorch to a latest version-but it still could not work. Yeah, I am going to provide a minimal reproducible code example.

[2021-08-20 12:36] MengeTM opened #63644 "LeakyReLU and Elu need too much VRAM"
## 🚀 Feature

Both LeakyReLU and Elu need about twice the VRAM for storing tensors for the backward-passes.

This is a result from the out-of-place versions storing the input-tensor `self` for the gradient calculation with autograd, where saving the output-tensor `result` would be valid as well. However, the output-tensors are often already saved by the following layer, so that only one instead of

[2021-08-20 12:56] Kamalesh3112 commented on #63265
I would like to solve this issue , can I anyone help me solve this issue?

[2021-08-20 13:14] heitorschueroff opened #63645 "Create a new OptionalArrayRef template class to replace Optional<ArrayRef>"
see https://github.com/pytorch/pytorch/issues/44409#issuecomment-900465132 for motivating discussion.

## Problem
Consider the following snippet of code

[code]

The above snippet works because the following __converting__ constructor takes a single element by const reference which allows C++ to extend the lifetime of the temporary int literal `2` throughout the expression `print(2)` and `int` can

[2021-08-20 13:16] MengeTM commented on #63027
I opened a new issue #63644 for improving the needed VRAM of LeakyReLU and Elu, which need an improvement of the autograd generation.

[2021-08-20 13:29] ezyang commented on #45063
This seems reasonable to me. Since H doesn't exist today it is not a big deal to have it only work on 2D tensors.

[2021-08-20 13:33] hwangdeyu commented on #61263
Will take a look and dive into which part is duplicated the use of RAM resources.

[2021-08-20 13:38] Lezcano commented on #45063
Sorry, by "right behaviour of tensor.H I meant for it to be equivalent to `tensor.transpose(-2, -1).conj()` i.e. treat tensor as a batch of matrices.

I corrected that in the previous message.

[2021-08-20 14:30] ejguan commented on #63626
Hi,
We use github issues only for bugs or feature requests.
Please use the forum to ask questions:  https://discuss.pytorch.org/

Have you ever tried Adam as the optimizer?

[2021-08-20 14:30] #63626 closed

[2021-08-20 14:58] ejguan commented on #63622
Can't reproduce on Linux. I think the problem is the file name `Maintainer-notes-for-"@pytorchbot-merge-this-please"-(Archived).md` is not allowed on Windows.

[2021-08-20 15:02] ejguan commented on #63622
Maybe change the name of md file should be a solution.

[2021-08-20 15:07] JustasB commented on #42653
@ayhokuyan PyTorch implementations of ResNets use `adaptive_avg_pool2d`.

From: https://pytorch.org/hub/pytorch_vision_resnet/
[code]

Shows:
[code]

[2021-08-20 15:26] zou3519 commented on #63444
Should be fixed by https://github.com/pytorch/pytorch/pull/63389

[2021-08-20 16:18] ngimel commented on #40427
fp16 doesn't provide adequate accuracy for linear algebra functions, and thus libraries (magma and cusolver) don't implement linear algebra functions for fp16 datatype. Thus, if we wanted to support this, we'd need to convert inputs to fp32 and outputs back to fp16, which users can also do and have better control of the computation.
We could consider adding linalg functions to "always fp32" list i

[2021-08-20 17:02] eellison opened #63648 "[JIT] Typing on math.ceil is inaccurate for Scalar input"
## 🐛 Bug

math.ceil always returns an integer.

However, the typing in JIT makes it return a Scalar when there is a Scalar input, even though it will never be a float. Additionally, it correctly returns an int when the input is either an int or a float.

@torch.jit.script
def foo(x):
	y = x.item()
	return ceil(y)
print(foo.graph)

  %y.1 : Scalar = aten::item(%x.1) # /private/home/eellison/pytorch

[2021-08-20 17:05] eellison commented on #63405
I'm not sure this is worth fixing until there is a user report but logging here for posterity..

[2021-08-20 17:48] xwang233 opened #63653 "../torch/csrc/distributed/c10d/ProcessGroupMPI.cpp:131:10: error: ‘cerr’ is not a member of ‘std’"
## 🐛 Bug

Can't build pytorch from last night. Got error message

[code]

Guess https://github.com/pytorch/pytorch/pull/61500 is likely related.

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

no fail

## Environment

[code]

## Additional context

N/A

cc. @swolchok @ngimel @malfet @ptrblck

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @rohan-varm

[2021-08-20 18:19] Varal7 commented on #28997
Closing this as it is now possible using saved tensor hooks!

See: https://github.com/pytorch/pytorch/pull/62362
And: https://github.com/pytorch/tutorials/pull/1655

[2021-08-20 18:19] #28997 closed

[2021-08-20 18:40] ejguan opened #63657 "DISABLED test_ind_worker_queue (__main__.TestIndividualWorkerQueue)"
https://app.circleci.com/pipelines/github/pytorch/pytorch/367226/workflows/e734b996-f8a8-466e-83b4-24973aff8a75/jobs/15494643

It seems worker freezing.
Potential solution is to set range based on CPU counts. https://github.com/pytorch/pytorch/blob/b9fc656cf26d60127bd695e4e5a7d27622f2563d/test/test_dataloader.py#L2280

cc @SsnL @VitalyFedyunin @ejguan

[2021-08-20 18:46] soulitzer commented on #63549
Thanks for the workaround

From discussion offline with @albanD there are potentially two different issues:
 - somewhere in the dispatcher a TensorImpl is created
 - a TensorImpl might be being created in the python binding code (no idea if this is case, but can't rule it out either)
I looked into it a bit more here https://github.com/pytorch/pytorch/pull/63459#discussion_r693124314.

cc @ezyang

[2021-08-20 19:03] pritamdamania87 commented on #63470
@gaojingqian `torch.nn.parallel.DistributedDataParallel` doesn't start its own processes, typically the user starts N processes themselves and runs `torch.nn.parallel.DistributedDataParallel` in each one of them. Are you using some sort of launcher script to launch `torch.nn.parallel.DistributedDataParallel`? If so, that script might be creating extra processes.

[2021-08-20 19:25] ppwwyyxx opened #63662 "SyncBatchNorm should behave like BatchNorm when running on single GPU."
## 🚀 Feature
SyncBatchNorm should fall back and behave like BatchNorm when running on single GPU. However, currently it throws an error like:
[code]

## Motivation

This is useful to test-run models (with SyncBatchNorm) on a single GPU during development or debugging.
Currently, we had to if-else and select BatchNorm or SyncBatchNorm based on #GPUs.

cc @pietern @mrshenli @pritamdamania87 @zhaojua

[2021-08-20 19:47] #27723 closed

[2021-08-20 20:02] ain-soph commented on #49171
Any new progress on this issue? @zou3519

[2021-08-20 20:17] #63653 closed

[2021-08-20 20:29] ziyuang commented on #26542
This happens for libtorch 1.8.2 LTS: https://download.pytorch.org/libtorch/cu111/libtorch-win-shared-with-deps-1.8.2%2Bcu111.zip

[2021-08-20 22:19] zhouzhuojie opened #63695 "[Meta][WIP][Do-Not-Remove] HUD CI SEV Issues"
This is a meta-issue to document important notifications related to trunk health, CI infra status, and other important notifications. If you have the write permission to pytorch/pytorch, please go ahead and edit this issue. The content between `Current SEV Start` and `Current SEV End` will be shown on the homepage of https://hud.pytorch.org/ (WIP HUD feature).

SEV Template:
[code]

# Current SEV

[2021-08-20 22:50] #63544 closed

[2021-08-20 23:13] ptrblck commented on #63618
I've tried to reproduce the issue on the Python side using this code:
[code]
which uses a wrong timing pattern, but could potentially reproduce your issue.
However, I'm unable to see the speedup using the synchronizations on a P100 using the `1.9.0` wheels.
Could you check, if you are seeing the same issue using my code (this could point to a device/architecture-specific issue) or could you post t

[2021-08-21 00:16] rodrigo-castellon commented on #63541
Got it, that makes sense.

[2021-08-21 00:16] #63541 closed

[2021-08-21 00:29] YuShen1116 opened #63719 "FP16 with forward only and FP32 in backward"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

Hi Pyotrch team,

I'm trying to do an experiment with FP16 forwarding and FP32 loss

[2021-08-21 00:47] another-pjohnson opened #63720 "Torch.save with zip serialization causes memory bloat"
## 🐛 Bug

When using torch.save with zip serialization turned on, I've noticed that the entire pickle file is loaded into memory before anything is written to disk. Only after the entire object has been pickled will torch.save actually start writing to disk. This very inefficient memory usage can cause problems when saving large objects/models on memory constrained systems.

When not using the zip

[2021-08-21 00:56] Dinkarkumar commented on #10756
Is the issue resolved ?

[2021-08-21 01:30] #24644 closed

[2021-08-21 01:30] #24645 closed

[2021-08-21 04:48] ankit332000 commented on #63265
Hi,
How to start can you help me out?

On Thu, Aug 19, 2021 at 4:56 PM DHIVYADHARSHINI SELVARAJ <
***@***.***> wrote:

[2021-08-21 04:58] ppwwyyxx commented on #60548
Our code is also producing this warning with no clue how to fix.

[2021-08-21 05:45] muskan117 commented on #63265
i would like to work on this

[2021-08-21 06:05] peterjc123 commented on #63584
@sun-jiao

    message += f": {error.output.decode()}"  # type: ignore[union-attr]

Does it help if you change this line to the following one?
[code]

[2021-08-21 07:51] dreamer121121 commented on #32611
i also faced the same problem ,have u fixed it ?

[2021-08-21 09:48] sun-jiao commented on #63584
I changed it to ' gbk' (space cannot be ommited) (gbk is China's national standard for character encoding) in yesterday and it worked. But obviously it will not work in every language.

Does 'oem' works for all languages? I'll try it and tell you whether it works.

[2021-08-21 09:49] OIliverSmith commented on #25164
Worked for me thanks

[2021-08-21 10:40] aswinmurali-io opened #63723 "Missing type annotation for `fork_rng`"
Noticed that all the functions in the `random.py` module were given their respective return type annotations except for `fork_rng`.

[2021-08-21 11:57] MasanoriYamada opened #63725 "[Feature Request] add graph to hparams for tensorboard"
## 🚀 Feature

We request that adding graphs of add_scalar to the hparams in tensorbaord.
The image below shows what I want

![image](https://user-images.githubusercontent.com/8328986/130320507-36b8ad25-0428-4d5c-9b9d-5b31705cc87e.png)
![image](https://user-images.githubusercontent.com/8328986/130320511-ece42194-b9ea-41a8-8abc-490b1ae8a17b.png)

These images were cited from [here](https://discuss.p

[2021-08-21 13:29] meganset commented on #63618
Thanks for looking at this.

I also don't see the speedup running your python code.
i.e. adding the _synchronize()_ call slows down the second loop by about 10%

output from your python code:
[code]

putting the C++ code into a file:

[code]
compiling & linking:

[code]

Running:
[code]

Un-commenting the _synchronize()_ call and rebuilding, then running again,
i see the counter-intuitive improvem

[2021-08-21 13:34] LQY404 opened #63726 "a problem happened in torch.randperm"
## 🐛 Bug

cuda: 11.2
python: 3.7
pytorch: 1.8.1

when i use the function  _**torch.randperm**_ in my deep leanring program, the result of torch.randperm function overflows, like this:
[code]

but noticed, this function can work well when the version of pytorch is 1.5.0

[2021-08-21 16:20] vadimkantorov commented on #62352
maybe a kwarg-only `dim` argument could be added  to `expand`, and that would limit its application to provided dim (or even multidim). Also a question of whether it should do unsqueeze or not

[2021-08-21 18:44] meaneych commented on #50345
Basically, the second order modified Bessel function (scipy.special.kv()) function appears in a number of these log density functions, which specify the loss/objective for these count regression models. For example, see PIG density of SICHEL density functions defined on pages 196-198 of the following manual (I am trying to port these codes to PyTorch):
http://www.gamlss.com/wp-content/uploads/2013

[2021-08-21 20:20] Stevenjin8 opened #63728 "Minor documentation improvements."
## 📚 Documentation

Hello!

I think the docs for the [Word Embeddings](https://pytorch.org/tutorials/beginner/nlp/word_embeddings_tutorial.html) could be improved. Mainly, `CONTEXT_SIZE` is defined in the last two code examples, but isn't used to preprocess the data.

Also, I think it might be a good idea to get rid of the punctuation/lowercase the raw training data in the last two code examples (

[2021-08-21 20:50] srohit0 commented on #50551
Here is the discussion of microcontrollers on pytorch forum to guide you how is it done.

https://discuss.pytorch.org/t/pytorch-on-microcontrollers/64662

[2021-08-21 23:50] torridgristle commented on #61182
No, it's not an issue of the output being misaligned, it's an issue of having to delete the `align_corners` argument from the function if you want to change the mode to 'nearest'.

[2021-08-22 01:05] SsnL commented on #61232
This is such a small issue with a huge user experience improvement. Can we bump this?

[2021-08-22 01:35] rafidka commented on #59263
Not sure whether this the right issue to add to or I should create a new one, but I am experiencing a similar issue on Fedora 34 and NVidia driver 470.63.01.

[code]

[2021-08-22 05:14] hweekuan commented on #7343
I am facing the same problem. even with del and autograd.grad, create_graph=True gives memory leak. I distill the code here

    torch.manual_seed(2332)
    dim = 10
    winit = torch.randn([dim])
    w1 = torch.randn([dim+1],requires_grad=True)
    w2 = w1[dim:]
    torch.autograd.set_detect_anomaly(True)

    for e in range(1000):
        param0 = winit.clone().detach().requires_grad_()

[2021-08-22 05:38] rafidka commented on #59263
OK, I did manage to solve the issue on my Fedora machine. For improved security, I sign my NVidia Linux modules. I, however, wasn't signing the `nvidia_peermem` and `nvidia_uvm` modules. Once I signed them, CUDA started working for me. So, it looks like one of them is needed by CUDA (most probably the `nvidia_uvm`).

[2021-08-22 07:30] LeZhengThu commented on #46974
I'm facing the same problem. The training is good without any error. But when I try to predict and x.to(device) throws out `RuntimeError: CUDA error: an illegal memory access was encountered`. And when I try to save the model, it gives more details about the error `THCudaCheck FAIL file=/pytorch/torch/csrc/generic/serialization.cpp line=31 error=700 : an illegal memory access was encountered`. It

[2021-08-22 07:47] seorim0 commented on #60434
Sorry for the late reply.
Yes, I solved it. I changed the version of CUDA 11.0 to 11.1 and the version of pytorch from 1.8.0 to 1.9.0. Then I can get a reasonable training time with A100.

[2021-08-22 08:49] KarthikRaja2k1 commented on #63648
Can I look into this issue?

[2021-08-22 10:39] #62470 closed

[2021-08-22 13:03] #57964 closed

[2021-08-22 13:38] Cc-Hy opened #63733 "Error when using amp: expected scalar type float but found c10::Half"
## 🐛 Bug
when using amp, the program failed with ERROR
"Exception has occurred: RuntimeError,
expected scalar type float but found c10::Half"

## To Reproduce
HERE IS THE CODE:
1. in train.py
`

        model = MONO_MERGE()
        model.model_2d = build_network(model_cfg=cfg.MODEL2D, num_class=len(cfg.CLASS_NAMES), dataset=train_set)
        model.model_3d = build_network(model_cfg=cfg.MODEL3D, n

[2021-08-22 14:31] heitorschueroff commented on #46974
Marking for triage review to investigate recent activity

[2021-08-22 15:28] q671383789 commented on #61341
Have solve this already ? I have met this too.

[2021-08-22 15:31] sevagh opened #63734 "Torch.onnx.export is very slow for my neural network - 8 hours for a 39M file"
## 🐛 Bug

I tried to export a PyTorch model in the `.pth` format to `.onnx`, according to this tutorial (https://pytorch.org/tutorials/advanced/super_resolution_with_onnxruntime.html).

My model has ~6.7 million parameters and is 28MB on disk - that's not so big. torchinfo output:
[code]

However, it took 8 hours to export to a 39M ONNX file:
[code]

 Here's my original bug report: https://discuss

[2021-08-22 15:48] q671383789 commented on #61341
Collecting environment information...
PyTorch version: N/A
Is debug build: N/A
CUDA used to build PyTorch: N/A
ROCM used to build PyTorch: N/A

OS: Ubuntu 16.04.7 LTS (x86_64)
GCC version: (GCC) 7.5.0
Clang version: Could not collect
CMake version: version 3.9.1
Libc version: glibc-2.23

Python version: 3.8.3 (default, May 19 2020, 18:47:26)  [GCC 7.3.0] (64-bit runtime)
Python platform: Linux-5.2

[2021-08-22 15:56] q671383789 opened #63735 "‘DeviceType’ is ambiguous"
libtorch/include/ATen/core/DeprecatedTypeProperties.h:41:1: error: reference to ‘DeviceType’ is ambiguous DeviceType device_type() const.
really needs some help.
Ubuntu 16.04 cuda10.2 cudnn7.6.5

[2021-08-22 17:32] ClashLuke commented on #23756
I gave RevNet with SavedVariable hooks a stab over at [RevLib](https://github.com/ClashLuke/revlib/tree/torch1.10). It seems substantially more limited as it prohibits branching and requires purely sequential architectures. My current implementation also uses ~25% more memory than the one based on autograd Functions, so I'm not sure if it's worth enabling for every user.\
Let me know if there's a

[2021-08-22 17:36] edgarriba commented on #23756
As for clean API I vote for this one

[2021-08-22 18:58] Gateway2745 commented on #28950
@hukkai Were you able to find a solution to the crash?

[2021-08-22 19:14] aluo-x commented on #35633
I feel like as of now, a better approach is to utilize [fairscale](https://github.com/facebookresearch/fairscale). It is semi-officially from the many of the same authors of pytorch, and it supports CPU offloading of activations (using `checkpoint`) and CPU offloading of weights (using `OffloadModel`).

Currently fairscale is still very actively developed.
@stanleyshly @markdjwilliams @sandias42

[2021-08-22 19:40] saireddythfc commented on #63265
I would like to resolve this issue. Can you help me start with this?

[2021-08-23 00:08] devzhk opened #63740 "DDP Gradient reduction is not triggered after calling autograd.backward()"
## 🐛 Bug
Hi everyone,  I found that autograd.backward() doesn’t trigger reduction under certain circumstance when using DDP.

## To Reproduce
Here is a minimal code to reproduce. I initialized two linear networks with constant so that everything is deterministic here.

[code]
Below is the output, which shows that gradient reduction is not triggered in this situation.

[code]

## Expected behavior

[2021-08-23 00:22] damtharvey opened #63741 "Slicing with : from a collection"
## 🚀 Feature
Be able to put `:` in a collection to use in an index.

## Motivation

Be able to slice a `Tensor` using varying numbers of `:`.

## Pitch

I would like a function `f` to do this.
[code]
I think this is ugly and I would like to say
[code]

## Alternatives

Building a string and using `eval()`. If there is a better way, please inform me.

[2021-08-23 00:22] devzhk commented on #63740
Note that autograd.grad() will not trigger gradient reduction and DDP only sees one backward() so autograd.backward() is supposed to be able to trigger gradient reduction here. Actually if I autograd.backward w.r.t. G network in the repro code, it turns out to reduce the gradient as expected. The code below shows the circumstance where autograd.backward works as expected.

[code]

The output in th

[2021-08-23 00:45] LeZhengThu commented on #46974
When I re-run the code, the error just disappears. It's very strange. I can't repeat the error any more. Don't know what happened.

[2021-08-23 02:05] deahhh commented on #63626
@yogeshchandrasekharuni
I've tried it in tensorflow version.

[2021-08-23 02:12] deahhh commented on #63626
@ejguan
It is actually almost a bug except you device pytorch to convergence better by sacrificing some correctness.

[2021-08-23 03:28] learning-chip opened #63744 "`torch.sparse.mm` fails to take gradient if both inputs are sparse"
## 🐛 Bug

`torch.sparse.mm` fails to take gradient if both inputs are sparse tensors with layout `torch.sparse_coo` .
Related: #2389

## To Reproduce

[code]

Error message:
[code]

## Expected behavior

`backward()` should work for `torch.sparse.mm` with two sparse inputs.

## Environment

[code]

cc @nikitaved @pearu @cpuhrsch @IvanYashchuk

[2021-08-23 05:50] Gateway2745 commented on #28950
@hukkai Hi. I am also getting the same error output as you with `pin_memory=False`. Were you able to find the cause/fix? Thanks.

[2021-08-23 05:59] mabdullahrafique commented on #63305
Any updates ?

[2021-08-23 07:42] ptrblck commented on #7343
@hweekuan you are using anomaly detection via `torch.autograd.set_detect_anomaly(True)`, which is a debug tool and was causing an increasing memory usage in the past.
Could you disable it, once you've debugged your code (this mode would also slow down your code so should only be used while debugging)?

[2021-08-23 08:24] cccntu opened #63747 "torch.nn.MultiMarginLoss does not have doc for shape"
## 📚 Documentation

This is the doc with missing documentation for input/output shape:
https://pytorch.org/docs/stable/generated/torch.nn.MultiMarginLoss.html

This is another similar class, which has documentation for input/output shape:
https://pytorch.org/docs/stable/generated/torch.nn.MultiLabelMarginLoss.html

[2021-08-23 09:09] baskwaadgras opened #63749 "Segmentation fault when using C++/pybind11 module without also importing torch"
## 🐛 Bug

Related forum topic: `https://discuss.pytorch.org/t/pybind-pytorch-segfault/90910`

If you create a simple C++ pybind11 module and a python script that uses said module but which does not import torch, you will receive a Segmentation Fault.

## To Reproduce

Steps to reproduce the behavior:

1. Create any C++ pybind11 module that uses torch (e.g. `torch::Tensor` or `at::Tensor`), compile

[2021-08-23 11:01] AdityaDas-IITM commented on #54743
I'd Like to work on this. This would be my first PR, could you please help me get started?

[2021-08-23 12:22] heitorschueroff commented on #46974
@LeZhengThu Thank you for letting us know. I'm closing this issue now because it's become too broad. If anyone is still having issues with illegal memory access on CUDA please open a new issue with detailed stack traces and code snippets.

[2021-08-23 12:22] #46974 closed

[2021-08-23 12:35] gudiandian opened #63752 "CUDA memory leak problem"
## ❓ Questions and Help

I am encountering a  CUDA memory leak problem with torch.distributed, I have posted [a post](https://discuss.pytorch.org/t/cuda-memory-not-released-by-torch-cuda-empty-cache/129913) in the forum to describe the symptom.

I wish to train multiple models in turn in one python script. After the training of one model, I will run this to release memory, so that there will be en

[2021-08-23 13:02] NicolasHug opened #63753 "Make torchhub more robust regarding the master -> main renaming in other repos"
Note: just to clarify, we'll probably have to udpate the https://github.com/pytorch/hub repo to use `main` instead of `master` soon, but this issue isn't about this.

----

A lot of repos are moving away from the `master` branch name in favour of the `main` branch (torchaudio, torchvision, etc.)

Currently, torhhub assumes that the default branch of a repo is the `master` branch:

https://github.c

[2021-08-23 13:20] gyenesvi commented on #63076
@842974287 and @jfix71 thanks for the replies, it does indeed look like something I need and proposed. However, am I right, that this is very recent development and it has not made it's way to any release yet? I have version 1.9 installed, and can't seem to import the `trace` function from `torch.fx.experimental.fx_acc.acc_tracer`, and from the code I suspect that it has only recently been moved t

[2021-08-23 13:52] peterjc123 commented on #63584
@sun-jiao I tried this locally and this should work. Fix is on the way.

[2021-08-23 13:55] zou3519 commented on #62849
@albanD would you be fine if we added `slice_embed` and `select_embed` and made `{select_embed, slice_embed, diag_embed}` all primitives w.r.t. autograd and then performed the code generation for the rest later? The code generation is more applicable for the `_copy` and the "_scatter" (inverse?) variants.

Another question is, should these be in Python and should we have documentation for them? I'

[2021-08-23 14:24] ejguan commented on #63626
I don't think it's a bug. Your loss is calculated incorrectly. Please check the shape `pred` and `d[:, 2]`.

[2021-08-23 14:53] pearu commented on #62162
Currently, we have:
[code]
When implemented, I think, coalesce should follow boolean arithmetics where `+` is `logical_or`, and `*` is `locical_and`.
This would be in compliance with boolean tensors:
[code]

[2021-08-23 15:05] zou3519 opened #63766 "Negative OpInfo tests"
## 🚀 Feature
We should extend OpInfo tests to check that error cases correctly raise an error instead of crashing or returning something silently wrong.

## Motivation

Decompositions. Let's say we want to define decompositions for operators. Then we need a mechanism to test that the decomposition is correct. In addition to the existing OpInfo machinery, which will test that correct inputs produce

[2021-08-23 15:07] pearu commented on #63744
[code]
works.

One should not use the private method `_values()` for anything else but to explore the internal state of a sparse tensor.

[2021-08-23 15:10] cpuhrsch commented on #63591
Closing since it is a duplicate of https://github.com/pytorch/pytorch/issues/63085

[2021-08-23 15:10] #63591 closed

[2021-08-23 15:16] zou3519 opened #63767 "`__torch_function__` docs should use @classmethod"
## 📚 Documentation

https://pytorch.org/docs/master/notes/extending.html?highlight=extending

@ezyang told me that non-classmethod uses of `__torch_function__` should be considered legacy. Some of the examples still use the method `__torch_function__` and should be updated to encourage new users to use the classmethod variant.

[2021-08-23 15:39] CPA872 opened #63769 "Cannot reproduce Pytorch quantized conv2d using own code"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

For my research, I would like to understand how a quantized conv2d operates in Pytor

[2021-08-23 15:50] malfet commented on #63749
I remember I've added those checks in the past, perhaps missed one here

[2021-08-23 15:53] albanD commented on #23756
More limited than what?
Also how do you usually handle branching? How do you choose which branch will re-generate the value?

[2021-08-23 15:56] albanD commented on #62849
If these are the only two ones you need for now sure.
But if we get more, I think it will be just faster to do the codegen :p

[2021-08-23 15:59] malfet opened #63771 "GHA Windows builds were failing for a short period of time"
Have a look at https://github.com/pytorch/pytorch/runs/3396094904 and https://github.com/pytorch/pytorch/runs/3396094884

Failure signature is suspiciously similar to one we had in the past when old WinSDK image was installed:
[code]

cc @ezyang @gchanan @zou3519 @bdhirsh @jbschlosser @anjali411 @peterjc123 @mszhanyi @skyline75489 @nbcsm @seemethere @malfet @walterddr @lg20987 @pytorch/pytorch-dev

[2021-08-23 16:00] malfet commented on #63771
Can we perhaps print a base AMI version?

[2021-08-23 16:01] albanD commented on #7343
Which version of pytorch are you using?
Running your script on colab doesn't show any leak:
[code]

It is possible that your malloc library is caching some memory and not returning it to the OS as there is no memory pressure.

[2021-08-23 16:42] Bernd1969 commented on #57273
Correct.  Subhacom's uninstall and reinstall also worked for me.
I had to use cu113 for my environment though.
And I now get another warning for every worker thread, but this seems to be a valid one that I can actually fix in my code :)

[2021-08-23 16:43] seemethere commented on #51080
Yup I believe this can be closed

[2021-08-23 16:43] #51080 closed

[2021-08-23 16:45] seemethere commented on #63771
This is mostly related to the AMI deploy we had last night related to https://github.com/pytorch/test-infra/pull/91

Still investigating what exactly happened but it's related to Windows SDK issues

[2021-08-23 16:47] #60756 closed

[2021-08-23 16:49] ezyang opened #63777 "build-publish-docker is failing"
Example: https://github.com/pytorch/pytorch/runs/3400551784

It appears to be failing on

[code]

causing a solver failure:

[code]

It looks like requests doesn't support python 3.7

[code]

cc @ezyang @seemethere @malfet @walterddr @lg20987 @pytorch/pytorch-dev-infra

[2021-08-23 17:02] bdhirsh commented on #63726
Are you able to reproduce your min-repro on the nightly (and can you confirm that you repro the issue with the 1-liner code snippet you gave?)

I tried running the following on both 1.8.1 and latest master, and couldn't reproduce:

[code]

[2021-08-23 17:13] seemethere commented on #63777
Duplicate of https://github.com/pytorch/pytorch/issues/63342

[2021-08-23 17:13] cpuhrsch opened #63780 "scatter_reduce"
## 🚀 Feature

This feature requests defines scatter_reduce, its signatures and the steps to implement it as discussed in https://github.com/pytorch/pytorch/issues/22378. scatter_reduce is meant to satisfy the feature requests in https://github.com/pytorch/pytorch/issues/22378  under light of a recent [resurgence of demand](https://github.com/pytorch/pytorch/issues/22378#issuecomment-862705586).

#

[2021-08-23 17:13] #63777 closed

[2021-08-23 17:14] seemethere commented on #63342
I don't actually have the bandwidth to look into this right now so I'm unassigning myself

[2021-08-23 17:14] ezyang commented on #60548
As a workaround, I think something like in https://stackoverflow.com/questions/22373927/get-traceback-of-warnings should help

[2021-08-23 17:19] driazati opened #63781 "[rfc] Hardcoded Target Determination"
Target determination is very difficult to do correctly. Internally, FB relies on a graph of Buck dependencies which has been built over time to extract information on how to schedule tests for a particular diff. In OSS PyTorch, we don’t have this information on a meaningful scale. We have a Bazel build that is structured very similarly, but the targets that it defines are not granular enough to ge

[2021-08-23 17:20] ejguan commented on #60548
@albanD : How does cpp warning understand the stack level of python call?

@ezyang : Suggest hardcode int stack level for each op

@malfet : suggests this issue should be high-pri for solving floor_divide. A new issue should be filed for general cases

[2021-08-23 17:30] seemethere commented on #63771
Testing with https://github.com/pytorch/test-infra/pull/105 to see if that resolves

[2021-08-23 17:36] seemethere commented on #63342
Perhaps we should just remove torchtext from the nightly docker image / official docker image altogether, thoughts @mthrok

[2021-08-23 17:57] jfix71 commented on #63076
@gyenesvi Correct, it was very recently open sourced in https://github.com/pytorch/pytorch/pull/63101 and is not yet in a release. You would need to locally download/install from a pretty recent master after https://github.com/pytorch/pytorch/pull/63101 landed to try it out.

[2021-08-23 18:05] andwgu commented on #62481
https://github.com/pytorch/pytorch/pull/62522

[2021-08-23 18:05] #62481 closed

[2021-08-23 18:08] cpuhrsch commented on #60854
I am in favor of adding functions named based on consensus across the vendor libraries we're doing to bind or as specified by already existing popular libraries. Consistency across frameworks I think makes it easier for users to work on them and find more information in other contexts than a more verbose or "clear" name within our framework.

[2021-08-23 18:14] seemethere commented on #63771
Turns out these issues were actually resolved in our own internal packer build scripts but had not been propagated to our new open source home, submitted https://github.com/pytorch/test-infra/pull/106 to resolve and am building new AMIs now to test with

[2021-08-23 18:20] ClashLuke commented on #23756
Usually, you don't have to handle branching in as you return the two inputs, pretend they're gradients, and let autograd take care of the rest. If you branch out, you have to divide the tensors by the number of branches.\
However, with the new `torch.autograd.graph.saved_tensors_hooks`, recovering the intermediate inputs is more difficult unless you wrap the entire model. I solved it by adding a t

[2021-08-23 18:54] IpekUyguner opened #63796 "Exporting the operator tile to ONNX is not supported."
## 🚀 Feature
torch.tile() is not supported in ONNX. Is it possible to add it or any workaround?

cc @BowenBao @neginraoof

[2021-08-23 19:11] #63271 closed

[2021-08-23 19:15] janeyx99 commented on #62359
Closing this issue now that #62851 is merged. This functionality is now available for GHA through using the PR body!

[2021-08-23 19:15] #62359 closed

[2021-08-23 19:16] mrshenli commented on #63445
self-assigned to reserve for bootcamp

[2021-08-23 19:19] janeyx99 commented on #57837
The manylinux jobs should now use ninja after https://github.com/pytorch/builder/pull/767

[2021-08-23 19:19] #57837 closed

[2021-08-23 19:20] janeyx99 commented on #57782
This issue will be superceded by https://github.com/pytorch/pytorch/issues/62298, so closing for now

[2021-08-23 19:20] #57782 closed

[2021-08-23 19:22] bdhirsh commented on #63719
Hi Yu!

I think your question would be better suited for the PyTorch forum. Do you mind re-posting your question there? I'm going to close the issue.

Forum link: https://discuss.pytorch.org/

[2021-08-23 19:22] #63719 closed

[2021-08-23 19:24] mrshenli commented on #63445
This is also relevant to #62916

[2021-08-23 19:41] vadimkantorov commented on #23756
I think there are two slightly separate questions:

1) being able to compute inverses of arbitrary graphs (and then maybe you do want to be able to select which exactly path you use for inverse computation for numerical reasons)

2) invertible nets that do backprop together with inverse computations to save memory (by also using inplace actively)

[2021-08-23 20:17] ricardofunke opened #63801 "Does a docker container need to use the exact same libcuda version of the host server?"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

I'm trying to run an application that uses torch and tensorflow inside a docker cont

[2021-08-23 20:22] zasdfgbnm commented on #63427
Minimum repro:
[code]
will submit a PR

[2021-08-23 20:43] janeyx99 commented on #55173
@walterddr Does your recent PR address this?

[2021-08-23 20:45] walterddr commented on #55173
See #62896. but there are some other dependencies I need to fix/land first. it is on the way

[2021-08-23 20:46] kiukchung opened #63802 "[torch.distributed.launch|run] Hangs on SIGINT when using a TCPStore backed rdzv_backend"
## 🐛 Bug

`torch.distributed.launch` and `torch.distributed.run` will not process SIGINT (CTRL+C from CLI) and hang indefinitely without returning control back to the shell when trying to CTRL+C out of the launcher while it is waiting for other nodes to show up (aka during rendezvous)

## To Reproduce

1. (install torch 1.9.0+, issue exists in torch-1.10 nightly as well)
2. Force an incomplete ran

[2021-08-23 20:46] kiukchung commented on #63802
cc) @aivanou (who is investigating the symptom further) to provide his findings.

[2021-08-23 20:58] aivanou commented on #63802
This happens because pytorch distributed utils deliberately ignore SIGINT: https://github.com/pytorch/pytorch/blob/master/torch/csrc/distributed/c10d/Utils.hpp#L503 .

[2021-08-23 21:14] bdhirsh commented on #63735
Hi,

Please repost your question in the PyTorch forum for help. Thanks!

[2021-08-23 21:14] #63735 closed

[2021-08-23 21:43] carlosgmartin opened #63812 "Calling backward with create_graph on the output of a DistributedDataParallel throws error"
## 🐛 Bug

Calling [`backward`](https://pytorch.org/docs/stable/generated/torch.Tensor.backward.html) with `create_graph=True` on the output of a [`DistributedDataParallel`](https://pytorch.org/docs/stable/generated/torch.nn.parallel.DistributedDataParallel.html) throws a `RuntimeError`.

## To Reproduce

[code]

[code]

## Expected behavior

No error.

## Environment

[code]

cc @pietern @mrshenli

[2021-08-23 22:06] mrshenli commented on #63740
I confirm that I can reproduce the error.

@albanD for the following code snippet, will the `autograd.backward` trigger re-entrant backwards?

[code]

[2021-08-23 22:32] bdhirsh commented on #63801
Hi! This sounds like a question better suited for the PyTorch discussion forum. Please repost your question there! https://discuss.pytorch.org/

[2021-08-23 22:32] #63801 closed

[2021-08-23 22:39] #60111 closed

[2021-08-23 22:41] soulitzer commented on #63549
Update:
It should've been obvious to me earlier but the new TensorImpl was created because  _values is view, which means by default as_view creates a new TensorImpl in the InplaceOrView kernel. The situations  where _values/_indices does not return a new TensorImpl is when we have a ADInplaceOrView guard.

[2021-08-23 22:41] #63549 closed

[2021-08-23 22:56] jamesr66a opened #63815 "[FX] Documentation for Graph.flatten_inps and Graph.unflatten_outs"
These functions don't have documentation:

https://github.com/pytorch/pytorch/blob/55f8f95ad4b36d201b63bd4b53984d378cf3d672/torch/fx/graph.py#L413

https://github.com/pytorch/pytorch/blob/55f8f95ad4b36d201b63bd4b53984d378cf3d672/torch/fx/graph.py#L417

[2021-08-23 23:15] hweekuan commented on #7343
@albanD thank you, my versions: Python 3.7.6, >>> torch.__version__ '1.7.1'

@ptrblck you are right, removed this line and no more memory leak
#torch.autograd.set_detect_anomaly(True)

thank you so much. I will post the answer in the other group to help others.

[2021-08-23 23:25] jiafatom commented on #63146
@ZJG0 can you make the model as small as possible? It really takes a long time to convert the model.

[2021-08-24 00:05] jiafatom commented on #63734
When this pytorch model is converted to torchScript, it has more than 6300 inputs or initializers. Many are from 2652 `bucketed_unmixes_vocals`, 280 `aten::wait` and 560 `prim::fork_` in OpenUnmix. Is it possible to make it simpler?

[2021-08-24 01:18] ZJG0 commented on #63146
[pytorch2onnx-repro.zip](https://github.com/pytorch/pytorch/files/7035731/pytorch2onnx-repro.zip)
Model structure cannot be changed, I reduced the number of hidden layers and reduced the size of the model.

[2021-08-24 01:43] sevagh commented on #63734
If it's a result of poor design in my model, that's OK. I only opened the GitHub issue because I was suggested it on the PyTorch forum, that it might be a potential library issue.

[2021-08-24 01:47] LQY404 commented on #63726
The code that caused the bug is from  [https://github.com/LQY404/detectron2/blob/8999946492ae6930a4b312dbbea952e326a9f1df/detectron2/modeling/sampling.py](url).
when we run it in the above environment, the result is overflow.
after finding that, we tested this function in many cases, find:
1) we also tested the function torch.randperm in CMD, the result is normal as you tested.
2) if the value of

[2021-08-24 01:48] LQY404 commented on #63726
Hello,

The code that caused the bug is from&nbsp; [https://github.com/LQY404/detectron2/blob/8999946492ae6930a4b312dbbea952e326a9f1df/detectron2/modeling/sampling.py](url).&nbsp;
when we run it&nbsp;in the above environment, the result is overflow.
after finding that, we tested this function in many cases, find:
1) we also tested the function torch.randperm in CMD, the result is normal as you tes

[2021-08-24 01:48] mrshenli commented on #63752
Hey @gudiandian, a few questions:

1. Could you please share a repro?
2. Do you still see memory leak when doing local training without using DistributedDataParallel?
3. Which version of PyTorch are you using?

BTW, the process group should be destroyed after deleting DDP model, but I don't think that is relevant to the memory leak.

[2021-08-24 02:11] lucify123 commented on #62588
I also meet the bug using V1.9.By the code below,I solve it.You can try it~
# Check out repo and sub modules
git clone --recursive https://github.com/pytorch/kineto.git
# Build libkineto with cmake
cd kineto/libkineto
mkdir build && cd build
cmake ..
make

[2021-08-24 02:31] mrshenli commented on #63486
Hey @tvogels It might be because either the send didn't wait for the pending CUDA ops or the receiver's handle returned too early (likely caused by 2b6c09c11ed49ae358293529ef7ee678d8980ad5). Could you please help try the following two separately?

1. adding additional wait times and `torch.cuda.synchronize(rank)` before printing the results?
2. adding `torch.cuda.current_stream().synchronize()` be

[2021-08-24 02:49] mszhanyi commented on #63622
Thanks @ejguan , I use one Linux to complete my work.
@zou3519 @zhouzhuojie , could you rename these 2 posts.
![image](https://user-images.githubusercontent.com/16190118/130547919-72597a87-96d2-4d3c-aa17-ebb4eda4c999.png)

[2021-08-24 03:00] monajalal commented on #61755
using the suggestion by @malfet led to

[code]

[2021-08-24 03:18] byronyi commented on #61880
[code]

Does this support dynamic loss scaling optimizer? We observe a similar problem on torch-xla side which uses graph capture as well: https://github.com/pytorch/xla/issues/3043#issuecomment-890285855

[2021-08-24 03:34] alanwaketan commented on #62431
Also, we might still want `threshold_backward_out`. (#626129)

[2021-08-24 03:35] alanwaketan commented on #62431
It should be zero_ according to #62619.

[2021-08-24 03:59] mszhanyi commented on #63479
C++ debug/release ABI are different on Windows.
If you want to link debug libraries from Python version, theoretically the Python you used should be built with debug as well.

[2021-08-24 04:12] rohan-varma commented on #63812
Verified I can repro the issue. The error is coming from at::mul_out here: https://github.com/pytorch/pytorch/blob/master/torch/csrc/distributed/c10d/reducer.cpp#L382. It doesn't occur if `create_graph=False` which is the default.

@albanD do you have any suggestions for what `create_graph` changes to result in this error in `at::mul_out`? My thought is that it is because `grad` ends up requiring

[2021-08-24 04:43] sohamtiwari3120 commented on #60531
Hi! I am a beginner and would love to try my hand at this issue! I have gone through the contribution guidelines as well, can I have a go at this?

[2021-08-24 04:48] kiukchung opened #63832 "[RFC] Add `torch.distributed.run` as a console script in pytorch's setup.py"
## 🚀 Feature
`torch.distributed.run` is a CLI that lets users run pytorch training scripts with torchelastic. The proposal is to make this CLI available from the $torch_package_install_dir/bin directory just like any other CLI that is included with a python package. This is as simple as adding:

[code]

in the `setup.py#setup` (https://github.com/pytorch/pytorch/blob/master/setup.py#L905). Then on

[2021-08-24 04:48] kiukchung commented on #63832
cc) @cbalioglu , @mrshenli , @pritamdamania

[2021-08-24 05:37] krshrimali opened #63837 "`torch.scatter` doesn't fail correctly on CUDA (memory overlap)"
## 🐛 Bug

While working on https://github.com/pytorch/pytorch/pull/63312 with @ysiraichi, we realized that `torch.scatter` doesn't fail for CUDA devices when passed with the same tensor as that of the index, but of a size where resizing is necessary.

An error like:

[code]

is expected, but is not raised with CUDA tensors on `scatter` op. This is most probably the case with other ops as well, whi

[2021-08-24 05:41] gudiandian commented on #63752
Thanks for your reply!
1. I am really sorry that I cannot share the repo because it is not allowed to share the codes outside of the company.
2. I just tried to replace the DDP model with the original model, and I still see this memory leak. However, in my code I need to build up some sub-process groups with `dist.new_group` API because there can be multiple training tasks on different GPUs at the

[2021-08-24 05:52] Prashant723 commented on #63265
I would like to contribute to this as my first open source contribution. Can you help me out to start with this?

[2021-08-24 06:11] krshrimali commented on #63837
I added a few labels from my understanding. Apologies if they aren't appropriate, if someone can add/modify relevant labels, that will be great. Thanks!

Note: added `module: testing` label since this also points to missing memory overlap tests for `scatter` in `test/test_torch.py`.

[2021-08-24 07:03] Ayush331 commented on #63265
I am new to opensource ,I would like to resolve this and contribute to this ?Can I

[2021-08-24 07:07] vadimkantorov opened #63845 "Improve F.interpolate error message"
Very incomprehensible: `Input is 1D, size is 2`

[code]

[2021-08-24 07:09] IvanYashchuk commented on #54743
Hey @AdityaDas-IITM, the changes for implementing this functionality are required on the C++ and CUDA side. Do you have experience building PyTorch from the source code? I'd advise you to start with that, this file would be helpful https://github.com/pytorch/pytorch/blob/master/CONTRIBUTING.md#c-development-tips.
Once you have successfully built PyTorch from source you'd need to modify `apply_diag

[2021-08-24 07:11] vadimkantorov commented on #5580
@fmassa Interpolate on uint8 seems supported now?

[2021-08-24 07:14] vadimkantorov commented on #5580
[code]

torch.uint8
Traceback (most recent call last):
  File "/home/gamir/lab/vadim/mask2cad_pytorch/bug.py", line 8, in <module>
    print(F.interpolate(x.unsqueeze(0).to(torch.int32), (320, 240)).dtype)
  File "/home/gamir/lab/vadim/prefix/miniconda/lib/python3.9/site-packages/torch/nn/functional.py", line 3690, in interpolate
    return torch._C._nn.upsample_nearest2d(input, output_size, scale

[2021-08-24 07:14] JackCaster commented on #61172
This is a minimal example:
[code]

if `_layer_size = 23` I will get the error:
[code]
instead, if `_layer_size = 25` (25 is a factor of the layer input size 100) then it works.

I understand there are some limitations on how to perform `AdaptiveMaxPool1d` for some input/output size. I opened this issue as suggested by the error message nonetheless. Do you think this limitation will be addressed in

[2021-08-24 07:30] gaocegege opened #63846 "[torch.distributed] Make dynamic_rendezvous log handler configurable"
## 🚀 Feature

Make dynamic_rendezvous log handler configurable

## Motivation

It is hard to debug the program. We need to update the code manually.

## Pitch

Users can configure if the dynamic_rendezvous log should be written to STDOUT.

 Now dynamic_rendezvous log handler is hard-coded to nullhandler.

[code]

## Additional context

[2021-08-24 07:44] vadimkantorov commented on #5580
Also, it could have better error message for unsupported dtypes for now. A typical one:
[code]

[2021-08-24 07:46] vadimkantorov commented on #5580
Bool one should be easily supported since uint8 is already supported. But it would also require saturated cast (so that it never goes above 1 even in bicubic case).

[2021-08-24 08:19] Abednego97 commented on #12436
I think you forgot to add a return at the end of the forward

[2021-08-24 08:24] Lezcano commented on #45063
There was a recent discussion at the array API consortium. It is summarised here: https://github.com/data-apis/array-api/issues/228#issuecomment-904009162
They decided to go for `T` / `H` for matrices (i.e. we could deprecate their behaviour for tensors) and then `mT` and `mH` to do `transpose(-2, -1)` and `transpose(-2, -1).conj()`.

[2021-08-24 08:46] fengxiaoxu96 opened #63847 "RuntimError:CUDA error: an illegal memory access was encountered when copying data to CUDA"
## RuntimError:CUDA error: an illegal memory access was encountered when copying data to CUDA

Hello, everyone!

I wrote a fully-connected NN model and wanted to train it. In the train function, I wanted to copy the input and target data to `DEVICE=cuda`. But it returned an error like below:

    File "Generator.py", line 165, in train
    inputs, targets = data[0].to(DEVICE).float(), data[1].to(D

[2021-08-24 09:08] ZhongYFeng opened #63849 "Installed successfully the torch-1.9 and torch_xla-1.9. RuntimeError requested XLA_GPU:0，but available devices are [CPU:0, XLA_CPU:0 ]"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. running in the docker
2.pip install torch==1.9
3.pip install https://storage.googleapis.com/tpu-pytorch/wheels/torch_xla-1.9-cp36-cp36m-linux_x86_64.whl
4. Run the XLA test case: python /xla/test/test_train_mp_mnist.py

## Expected behavior
Expected  no stack exceptions. but i got the error:
Traceback (most recent call last):
  File "

[2021-08-24 09:10] YangWenhao3906 opened #63850 "get Error about install pytorch-mpi when doing environment configuration in a essay"
I'm tring to run the code in an essay but get Error about install pytorch-mpi when doing environment configuration.

My Ubuntu is 16.04.

I ran the Docker file the essay provided to do environment configuration.

This is the source code <https://github.com/epfml/federated-learning-public-code>

I tried two times but got the same result.

[code]

I paste pytorch-mpi Dockerfile below.
[code]

I past

[2021-08-24 09:11] YangWenhao3906 opened #63851 "get Error about install pytorch-mpi when doing environment configuration in a essay"
I'm tring to run the code in an essay but get Error about install pytorch-mpi when doing environment configuration.

My Ubuntu is 16.04.

I ran the Docker file the essay provided to do environment configuration.

This is the source code <https://github.com/epfml/federated-learning-public-code>

I tried two times but got the same result.

[code]

I paste pytorch-mpi Dockerfile below.
[code]

I past

[2021-08-24 09:25] seizeMx commented on #50363
I have same problem, did you find solution to close this? @Toudsour

[2021-08-24 09:42] sleepfin opened #63853 "When the weight of nn.Linear is a very small float, the performance is severely degraded"
## 🐛 Bug

nn.Linear is very slow when linear.weight has very small float ( 10e-37 ~ 10e-46 ), only in CPU.

But not slow when linear.weight larger than 10e-37 or smaller than 10e-46
Also not slow in GPU

## To Reproduce

[code]

Output:

[code]

## Expected behavior

## Environment

My CPU info:
[code]

Please copy and paste the output from our
[environment collection script](https://raw.githubuse

[2021-08-24 09:57] kernfel commented on #63726
Had a similar issue with 1.8.1+cu111, but it seems to be resolved in 1.9.0. Try updating to 1.9 and see if that fixes the issue?

[2021-08-24 10:49] ozancaglayan commented on #63747
I came to open this issue as well, thanks for doing this. There's also a minor typo in the latex equation for the weighted loss:
`\text{loss}(x, y) = \frac{\sum_i \max(0, w[y] * (\text{margin} - x[y] + x[i]))^p)}{\text{x.size}(0)}`

essentially, the last `)` after `^p` seems to be an extra parenthesis.

[2021-08-24 10:54] vadimkantorov commented on #63853
Please check if it's good old flush denorm issue: https://github.com/pytorch/pytorch/issues/10140

[2021-08-24 11:03] fatcat-z commented on #63796
Could you please try to use torch.repeat() to replace torch.tile() function? They are similar and torch.repeat() is supported by exporter now.

[2021-08-24 11:12] vadimkantorov opened #63855 "Include tensor shape in its default print formatting"
Very often one would print a tensor during debugging instead of checking its shape. It would be useful to have shape information in default tensor print formatting, e.g. at the end after grad_fn or just before grad_fn (so that shape is on the screen if a huge tensor was printed)

[2021-08-24 11:15] sleepfin commented on #63853
@vadimkantorov  Thx, I add one line code at the very beginning and Problem solved

[code]

[2021-08-24 11:15] #63853 closed

[2021-08-24 11:48] fatcat-z commented on #63796
This is being tracked internally by Microsoft at https://msdata.visualstudio.com/Vienna/_workitems/edit/1335018.

[2021-08-24 11:51] yash-gupta01 commented on #38475
is this issue still relevant? I would like to work on this.

[2021-08-24 12:04] #63851 closed

[2021-08-24 12:21] fatcat-z commented on #61034
This is being tracked internally by Microsoft at https://msdata.visualstudio.com/Vienna/_workitems/edit/1335043.

[2021-08-24 12:28] zhenyuzhouiu commented on #41593
However I meet the question again on my ubuntu (21.04) with CUDA version 11.2 and cudnn 8.1.1. Below is the error:

`-- Found CUDNN: /usr/lib/x86_64-linux-gnu
CMake Error at /usr/local/libtorch1.8/share/cmake/Caffe2/public/cuda.cmake:152 (file):
  file failed to open for reading (No such file or directory):

    /usr/include/x86_64-linux-gnu/cudnn.h
Call Stack (most recent call first):
  /usr/loca

[2021-08-24 13:25] heitorschueroff commented on #38475
@yash-gupta01 This issue is relevant but I believe the solution needs some more design because `quantile`, `median`, `kthvalue` and `topk` all use the same subroutines. In theory, these operations should be implemented with a [quickselect](https://en.wikipedia.org/wiki/Quickselect) subroutine (which some of them are on CPU at least). I don't know how feasible it is to have a quickselect implementa

[2021-08-24 13:43] vadimkantorov commented on #20117
Also nn.Sequential() + nn.Sequential() would be nice to have to concat two sequentials

[2021-08-24 13:43] sbelharbi commented on #59692
@ptrblck  i didnt think of the cpu/gpu speed. is there another way to launch the streams faster regardless of the workload for each stream?
i noticed that all my streams run sequentially... which defeats the whole purpose of using them... i would get the same results using the default stream.

in my case, i created a list of streams:
[code]
to check the workload suggestion, i added `time.sleep(10.

[2021-08-24 14:02] ezyang commented on #45063
OK, that seems reasonable.

[2021-08-24 14:16] malfet commented on #62840
It did, closing.

[2021-08-24 14:16] #62840 closed

[2021-08-24 14:18] deahhh commented on #63626
@ejguan
Thanks!
Unbelievable that such a short piece of code has such an obvious error in it!
Unfortunately, the fix still doesn't yield convergence.

[2021-08-24 14:19] malfet commented on #63771
Everything looks good, closing

[2021-08-24 14:19] #63771 closed

[2021-08-24 14:21] malfet commented on #62629
Well, this is how symlinks work. If you are in `pytorch` repo root directory, to create a symlink in `.git/hooks/pre-commit`, pointing to `tools/git-pre-commit`, it should be prefixed with `../..`

[2021-08-24 14:27] deahhh commented on #63626
Should I delete it, #63626?
And how?

[2021-08-24 14:29] ejguan commented on #63626
It's fine as long as it's closed.

[2021-08-24 14:34] JonathanLeban opened #63861 "onnx svd support"
Hi,
I have designed a neural network in which I perform the svd decomposition at some point. When I try to export my model to ONNX format I have the following error:

`RuntimeError: Exporting the operator svd to ONNX opset version 9 is not supported. Please feel free to request support or submit a pull request on PyTorch GitHub.`

It will be awesome if ONNX could support `svd` operator.

Thank you

[2021-08-24 14:35] sbelharbi commented on #59692
@ptrblck i run your code with `time.sleep()` and streams are running sequentially.
am i missing something?
thanks

your code:
[code]

results:

[code]

[2021-08-24 14:39] albanD commented on #63812
Yes, the `out` variants are never differentiable. So if you try to use create_graph=True (which differentiates through the backward), that will fail.

[2021-08-24 14:46] ezyang commented on #63777
@seemethere For the future, add the exact name of the CI job (build-publish-docker) to the issue so that it shows up in search :)

[2021-08-24 14:47] VRehnberg opened #63862 "Cannot import torch.utils.tensorboard"
## 🐛 Bug

Importing `torch.utils.tensorboard` fails with
[code]

## To Reproduce

Steps to reproduce the behavior:

Install PyTorch v.1.8.1 run:
[code]

Stack trace
[code]

## Environment
[code]
## Additional context
Initially I experienced the same issue in PyTorch 1.7.1 when I wanted to import `SummaryWriter`.

[2021-08-24 14:52] sbelharbi commented on #48279
any updates on this? having similar and unexpected issue with streams [here](https://github.com/pytorch/pytorch/issues/59692#issuecomment-904655262). streams are running sequentially.

[2021-08-24 15:26] mrshenli commented on #63846
cc @cbalioglu

[2021-08-24 15:36] #17243 closed

[2021-08-24 15:43] AnirudhDagar commented on #58740
This can be closed (or remove the `module: python array api` label) because the Array API spec doesn't really mention the support for scalar booleans (`True`, `False`). See [`logical_and`](https://data-apis.org/array-api/latest/API_specification/elementwise_functions.html#logical-and-x1-x2), [`logical_not`](https://data-apis.org/array-api/latest/API_specification/elementwise_functions.html?highlig

[2021-08-24 15:53] heitorschueroff commented on #63847
Could you please share a code snippet triggering this problem if you have one?

[2021-08-24 15:55] tvogels commented on #63486
Hi @mrshenli, I already got rid of the environment used to run these experiments. I can try, but I'd have to recompile PyTorch 1.9 again.

I did try putting `torch.cuda.synchronize()` statements everywhere (inspired on [this bug report](https://github.com/pytorch/pytorch/issues/38642)), but it didn't help.

I feel it might be something deeper. The most curious thing is that messages from one proce

[2021-08-24 16:09] twoertwein opened #63865 "Rare segfault probably related to JIT and multiprocessing"
## 🐛 Bug

I'm sorry, I do currently not have a reproducible example of the following issue. I use a custom dask computation graph (created with `dask.delayed`) to run a gridsearch in parallel, in the current case one a single compute node using `dask.distributed.LocalCluster`. Each task instantiates a `torch.nn.Module `and JITs it with `torch.jit.script` . Very infrequently, I get the following st

[2021-08-24 16:15] zou3519 commented on #63622
To clarify: is the problem the special characters?

[2021-08-24 16:20] tvogels commented on #63486
@mrshenli , sorry, I'm not completely sure anymore.

[2021-08-24 16:25] zhouzhuojie commented on #63622
Updated

https://github.com/pytorch/pytorch/wiki/Maintainer-notes-for-_pytorchbot-merge-this-please_-(Archived)
https://github.com/pytorch/pytorch/wiki/Where-or-how-should-I-add-documentation

[2021-08-24 16:30] rajb245 commented on #40671
I once got this when I had nvidia driver 460 on the machine, and was running cuda 11.3 inside a docker. When the host outside the docker is running a driver that doesn't support the cuda version inside the container, you can see this message if you don't have a datacenter/Tesla GPU.

[2021-08-24 16:31] #63427 closed

[2021-08-24 16:54] zhouzhuojie commented on #61684
A new one from https://github.com/pytorch/pytorch/runs/3412767517

[code]

[code]

[2021-08-24 16:56] ezyang commented on #63435
[code]

the error is `has_torch_function_unary` need to pass the other tensors too

[2021-08-24 17:00] garymm commented on #59179
@hwangdeyu in the future please don't close issues until the fix is merged into master.

[2021-08-24 17:37] malfet commented on #63849
Removed "module: build" label as it looks like only binary distributions were used.

[2021-08-24 17:43] mdabbah commented on #11201
@schuhschuh did your solution require you to change the `setup()` function (I'm assuming you are doing distributed training/inference)

my current setup function looks like this
[code]

does the solution of using `file_system` sharing strategy means that I must change
`dist.init_process_group("nccl", rank=rank, world_size=world_size)` to something like
`dist.init_process_group("nccl",  init_method

[2021-08-24 17:47] #63584 closed

[2021-08-24 17:56] peterbell10 commented on #63435
This seems to be a general problem that `Optional[Tensor]` arguments aren't being checked.

[2021-08-24 18:17] eqy opened #63869 "`min`/`max` require a huge allocation on GPU"
## 🐛 Bug

`torch.max` and `torch.min` use a large amount of memory due to `static constexpr bool can_accumulate_in_output = std::is_convertible<arg_t, out_scalar_t>::value;` being `false` in `Reduce.cuh` and requiring a huge allocation for `sizeof(thrust::pair<scalar_t, int64_t>)` times the number of elements. The result is that a tensor that uses ~1/8 of GPU memory will result in an OOM if we try

[2021-08-24 18:18] soulitzer commented on #62032
Step 3 of the above plan is blocked on the creation of a InplaceOrView kernel, which we need if we allow users to implement view and in-place custom ops. We proceed with landing InplaceOrView kernel in two steps:

1. Just like the autograd not implemented fallback, the InplaceOrView kernel could either be boxed or unboxed. Ideally this InplaceOrView kernel will be boxed because in the templated (u

[2021-08-24 18:21] Ivan-Dimitrov opened #63870 "torch median / nanmedian w/ nans speed"
Hello, I am trying to calculate the median for a NxM array (N ~ 100 and M ~ 25,000). The normal median function is fast enough, but I need to mask out some values for each row. I use nanmedian; however, I see it is a magnitude slower (.5 ms vs .05 ms).

I am running the following code
[code]
If I comment out, `x[x == 0] = float("nan")`, I can recover the faster performance but of course that's the

[2021-08-24 18:29] nikithamalgifb commented on #63865
@ twoertwein: Without a reproducer it's very difficult to understand what's going wrong. If you could provide us with a small reproducer, it would help us to. help you faster. For now, I will go ahead and close this issue. Please feel free to reopen this issue when you have a reproducer.

[2021-08-24 18:29] #63865 closed

[2021-08-24 18:31] ngimel commented on #63869
cc @jjsjann123, looks like allocated owned_buf_ptr is significantly bigger than it needs to be

[2021-08-24 18:32] nikithamalgifb commented on #63648
@KarthikRaja2k1 : Sure thank you for offering to help. I have assigned this issue. Please let us know if you need any help.
cc: @gmagogsfm @eellison

[2021-08-24 18:36] seemethere commented on #63342
This is now resolved, https://github.com/pytorch/pytorch/runs/3411300066

[2021-08-24 18:36] #63342 closed

[2021-08-24 18:44] mrshenli commented on #63812
closing this issue since this is expected behavior.

[2021-08-24 18:47] navahgar commented on #58870
This was done in https://github.com/pytorch/pytorch/pull/63246

[2021-08-24 18:47] #58870 closed

[2021-08-24 18:48] navahgar commented on #56157
More related fixes:
https://github.com/pytorch/pytorch/pull/63531
https://github.com/pytorch/pytorch/pull/63532

[2021-08-24 18:48] #56157 closed

[2021-08-24 18:48] seemethere commented on #63603
I've submitted https://github.com/seemethere/add-github-ssh-key/pull/45 as a potential fix for this issue

[2021-08-24 18:51] kiukchung opened #63874 "[torch.distributed.run] Assert (and fail fast w/ message) init_method=="env://" on the trainer"
## 🐛 Bug

Per launch-utility [documentation](https://pytorch.org/docs/stable/distributed.html#launch-utility) `init_method` other than `env://` used for `dist.init_process_group(init_method)` is incompatible with `torch.distributed.launch` and `torch.distributed.run`.

![image](https://user-images.githubusercontent.com/43595115/130670330-b55d0e26-fbd4-4dad-bb2a-60bb35e55b0a.png)

this technically

[2021-08-24 18:53] carlosgmartin commented on #63812
@mrshenli What do you mean "this is expected behavior"? What's the solution?

[2021-08-24 18:53] mrshenli commented on #63470
It might be because other processes (35531-35533) accidentally used `cuda:0`, and created CUDA context there.

@gaojingqian could you please try setting `CUDA_VISIBLE_DEVICES ` such that each process only sees a single CUDA device?

[2021-08-24 19:04] stas00 commented on #63874
Right! I thought that we would need to update the upstream repo, which is https://github.com/NVIDIA/Megatron-LM, but I see that it relies on the default `init_method`:

https://github.com/NVIDIA/Megatron-LM/blob/68797d90935354cf8510dd84711ab6ef5db095f1/megatron/initialize.py#L178-L181

So we only need the fix in https://github.com/microsoft/Megatron-DeepSpeed and then I will sync its downstream fo

[2021-08-24 19:04] sbelharbi commented on #59692
according to pytorch doc `A CUDA stream is a linear sequence of execution that belongs to a specific device, independent from other streams.`. it seems that the set of instructions within the stream context manager have to belong to the same device, and have be linear (? probably no control statements?).

so i removed all cpu instructions and left only gpu instructions that are long enough to star

[2021-08-24 19:23] mrshenli commented on #63812
I was referring to DDP does not work with higher-order derivatives is an expected behavior today.

Re-opening this issue in case the intention was not calculating higher-order derivatives. Could you please share a bit more on the motivation for setting `create_graph=True`? Are you going to calculate grad on grads?

[2021-08-24 19:30] ptrblck commented on #59692
@sbelharbi I don't quite understand the use case, since `time.sleep()` would let the CPU thread sleep and would thus delay the kernel launch.

As previously mentioned, I would create a profile and check the timeline to see if and where kernels are overlapping.

[2021-08-24 19:42] sbelharbi commented on #59692
yes, i realized that using `time.sleep()` is a bad idea.
also, using cpu with gpu instructions in stream context maybe another bad idea. they say, instructions are set for a specific device.

is the time computed here good enough to see if there is any gain in speed?
`$ CUDA_LAUNCH_BLOCKING=1 python faststreams.py

time linear: 17615.537109375ms

time concurrent: 17621.470703125ms
`
i didnt instal

[2021-08-24 19:44] albanD commented on #63740
There is no re-entrant involved here no.
Is the problem with: https://github.com/pytorch/pytorch/issues/35802 ?
Also this is also a double backward case, so DDP might not be happy about it because of that?

[2021-08-24 19:47] ngimel commented on #59692
If operations on a single stream are big enough to saturate the gpu (as they are in your case), using multiple streams is not expected to help. The situations where multi-stream execution actually helps are pretty limited - you want kernels that don't utilize all the gpu resources (e.g. don't launch many threadblocks), and also you want kernels that run long enough so that overhead of launching an

[2021-08-24 19:48] #24592 closed

[2021-08-24 19:52] mrshenli commented on #63740
IIUC, the `.grad()` won't trigger DDP autograd hooks, as it won't call the `accumulateGrad` function where DDP's hooks live in. So the first `autograd.grad()` won't change DDP's comm states. Later, when calling `autograd.backward()` on `gradvec_d`, it would trigger DDP hooks. So I would assume this should work, and the bucket comm on G indeed fires.

[2021-08-24 19:52] carlosgmartin commented on #63812
@mrshenli The motivation was indeed to calculate higher-order derivatives. If DDP doesn't support that, a more informative error message would be helpful.

What would it take for DDP to support higher-order derivatives?

[2021-08-24 19:53] fritzo commented on #7795
This seems like something PyTorch should provide for general Python data structures, not something that should be baked in to every class hierarchy. Why don't we separate concerns, avoid interface bloat, and provide in a single `torch.deep_to()` function that recreates arbitrary Python objects while calling `.to()` on `Tensors` and `Modules` in those objects?

Here's an implementation that works f

[2021-08-24 19:54] fritzo commented on #17234
see proposed [alternative](https://github.com/pytorch/pytorch/issues/7795#issuecomment-904929831)

[2021-08-24 20:09] mrshenli commented on #63812
Today's DDP expects interleaving forward-backward passes. For higher-order derivatives, I assume you need to calculate the loss based on the grads and call a 2nd backward? If so, this would mess up DDP's internal states. We probably need to disable DDP's autograd hooks in the first backward, and enable that in the 2nd backward invocation. `DistributedDataParallel.no_sync()` won't work here, as it

[2021-08-24 20:11] jamesr66a opened #63883 "[FX] Explicit GraphModule.__new__ call adds another GraphModuleImpl class to the inheritance hierarchy"
Repro:

[code]

The root cause for this is in the implementation of `GraphModule.__new__`:

https://github.com/pytorch/pytorch/blob/4a0776100e347c887378b676f3deabd14b88d7b2/torch/fx/graph_module.py#L236

This custom `__new__` implementation makes it so that we create a new class for each instance of `GraphModule` so that we can install an auto-generated `forward` method on the class type, without

[2021-08-24 20:16] schuhschuh commented on #11201
@mdabbah No, I think the two settings (`init_method` and `sharing_strategy`) are not related.

I am using Ignite's launcher to start the distributed processes, so am not calling `dist.init_process_group()` myself directly. But I had not changed the code that launches the distributed processes, and the sharing strategy is being set later on in the main function of each process.

[2021-08-24 20:24] rohan-varma commented on #63812
We are fixing the crash in #63831 since it is not ideal to crash here, but will also add a warning indicating that DDP doesn't currently support higher order gradients.

[2021-08-24 20:48] seemethere opened #63889 "[RFC] Using `with-ssh` for Github Actions CI (Feedback / Meta issue)"
# [pytorch/pytorch] Using `with-ssh` for Github Actions

## Context

`with-ssh` is a feature for Github Actions that was created to replicate the features set of CircleCI’s [*Re-run with SSH*](https://circleci.com/docs/2.0/ssh-access-jobs/) feature that a lot of the development team is used to.

## Comparisons to CircleCI’s Re-run with SSH

### Similarities

* 2 hour time limit after job has finis

[2021-08-24 20:50] seemethere commented on #63889
I created this issue since Github doesn't actually allow you to upload images when creating wiki pages

Also this issue will serve as a meta issue / feedback forum for the overall `with-ssh` feature

[2021-08-24 21:07] mcarilli commented on #63812
I think it IS ideal to crash here. In current code, DDP-filled leaf grads with a differentiable history are a false, nonsensical promise.

[2021-08-24 21:08] carlosgmartin commented on #63812
@mrshenli Two examples are:

- Equilibrium-finding: https://arxiv.org/pdf/1905.12103.pdf#page=7

- Variance reduction with control variates: https://arxiv.org/pdf/1711.00123.pdf#page=3

[2021-08-24 21:11] carlosgmartin commented on #63812
@mcarilli Crashing without an informative error message is definitely not ideal.

[2021-08-24 21:12] sbelharbi commented on #59692
thanks for all this details.
i understand now why streams are not well promoted in the pytorch doc.
from pytorch doc, and cuda nvidia doc, i got the impression that this is a powerful tool that can easily solve multi-tasking on gpu, but i was wrong.

i think i would be helpful to add your comments to the pytorch doc about streams.. so not to raise readers hope then get them hit by this limitation.

[2021-08-24 21:28] mcarilli commented on #63812
@carlosgmartin informative error message would be good.

Even if allreduces were included in the autograd history, such that double-backwarding from allreduced grads did the right math, it's unclear if the use case makes sense, because at the end of the second backward pass you'd end up with grad values that got allreduced twice.

Right now, the "least bad practice" for interoperating double-backw

[2021-08-24 22:50] crutcher opened #63897 "Scalar construction in C++: `torch.tensor(7)` !~= `at::tensor(7)`"
## 🐛 Bug

The documented way to construct a scalar in python `torch` is `torch.tensor(X)` for scalar values of X; which produces a Rank-0 (sizes == []) Tensor with one 0-dim value `X`.

a10 doesn't really ... have documentation; it seems to largely leverage familiarity with the python semantics.

The equivalent interface in a10 is `at::tensor(X)` for scalar values of X; which produces ... a Rank-1

[2021-08-24 23:05] seemethere commented on #63603
This should be resolved now with https://github.com/seemethere/add-github-ssh-key/pull/45, going to close, if you see this again we can re-open the issue

[2021-08-24 23:05] #63603 closed

[2021-08-24 23:07] mszhanyi commented on #63622
Awesome, it works now.

[2021-08-24 23:07] #63622 closed

[2021-08-24 23:27] garymm commented on #9587
I can't reproduce with latest pytorch nightly version. I'm guessing this got fixed at some point. @ksemianov please check with latest nightly version and close if not reproducible.

[2021-08-24 23:30] garymm commented on #9822
This seems to have been fixed at some point.

The same model being exported now shows negative indices being preserved:
[code]

Please re-open if this is still an issue on pytorch latest nightly.

[2021-08-24 23:30] #9822 closed

[2021-08-25 00:37] garymm commented on #10050
Seems this is not reproducible in torch 1.9.0. Must have been fixed at some point. Please open another issue if this is still happening.

[2021-08-25 00:37] #10050 closed

[2021-08-25 00:41] garymm commented on #10062
Seems this issue is with the caffe2 runtime, not with the torch.onnx module, so removing `module: onnx` label.

[2021-08-25 00:43] garymm commented on #10667
Seems like the issue is with Caffe2 running the model, not torch.onnx.export, so removing `module: onnx` label.

[2021-08-25 00:47] garymm commented on #11776
@thlinh could you please elaborate on the role of ONNX in this issue?
The code you provided just uses numpy and torch. There's no call to torch.onnx.export.

[2021-08-25 00:48] offendo opened #63911 "Add efficient symmetric tensor representations"
## 🚀 Feature

Hello! It would be nice to have an memory and compute efficient way to represent symmetric (and partially symmetric) tensors.

## Motivation
I am working on a project in which I do lots of calculations with big symmetric tensors, which is the limiting factor in my batch size (among other things). A space-efficient symmetric tensor would only need to use ~1/2 the space, and thus would

[2021-08-25 00:48] kiukchung commented on #63874
@stas00 I managed to make torchelastic backwards compatible with init_method=tcp:// (so we don't have to make any changes to megatron - for now). Once my PR (https://github.com/pytorch/pytorch/pull/63910) lands I'll still go ahead and do these two followups (will tag you on both for visibility):

1. file a github issue with megatron-deepspeed so that they can switch over to env:// at some point (w

[2021-08-25 00:50] garymm commented on #12084
I believe this was fixed by https://github.com/pytorch/pytorch/pull/22310

If not please open a new issue with code that can be used to reproduce.

[2021-08-25 00:50] #12084 closed

[2021-08-25 00:50] johnnyleeRH commented on #61034
Thanks for your reply

[2021-08-25 00:51] garymm commented on #12702
The issue here is not with `torch.onnx`, so removing `module: onnx` label.

[2021-08-25 00:54] garymm commented on #13127
Should be fixed by #43430 or maybe even earlier.

[2021-08-25 00:54] #13127 closed

[2021-08-25 00:56] garymm commented on #13156
@wangyunxiaa can you reproduce with latest nightly pytorch?
If so, please provide source code.

[2021-08-25 00:57] garymm commented on #14315
I believe so: #27071

If not please open a new issue with code showing the problem.

[2021-08-25 00:57] #14315 closed

[2021-08-25 01:00] garymm commented on #14395
Should be fixed for many cases by https://github.com/pytorch/pytorch/pull/17412.

If you have a case that's not supported, please open a new issue with code to repro the problem.

[2021-08-25 01:00] #14395 closed

[2021-08-25 01:49] stas00 commented on #63874
Fantastic work, @kiukchung! Thank you!

Since pt-1.9.0's launcher still won't be compatible, as there is no 1.9.1. planned as I understand, therefore the change in Megatron and its forks should be done sooner than later.

[2021-08-25 02:06] #62094 closed

[2021-08-25 02:09] rohan-varma opened #63916 "Issues when using buffers with DDP"
https://gist.github.com/rohan-varma/5d599284b632f4abdcf633e720aae9d7 illustrates a possible issue with how DDP synchronizes buffers. The output of the script indicates that module buffers across the 2 ranks are not actually synchronized (i.e. they do not take on rank 0's value as expected) before the forward pass.

It appears that the reason for this is due to the model code which reassigns the bu

[2021-08-25 02:11] rohan-varma opened #63917 "Add tests for DDP broadcast_buffers=True"
This is not really well tested in our codebase currently, i.e. if we completely remove DDP's broadcast_buffers feature, the only test failures are related to timeout etc and the tests don't raise an actual correctness issue with DDP. This is true for at least the tests in `distributed_test.py` and `test_c10d_nccl.py`.

We should fix this by adding tests that ensure module buffer sync works as expe

[2021-08-25 02:17] mszhanyi commented on #63847
How many GPUs in your machine?
You could specify the program to run another card to check if there's hardware issue on your current card.

[2021-08-25 02:40] #63869 closed

[2021-08-25 02:52] suo opened #63919 "quicklint mypy step fails with assertion"
This is happening on https://github.com/pytorch/pytorch/pull/63918, I am running `make quicklint -j 20`

[code]

[2021-08-25 02:54] suo opened #63920 "quicklint clang-tidy step fails with many unrelated errors"
I am on https://github.com/pytorch/pytorch/pull/63918, running `make quicklint -j 20`. The clang-tidy step gives me a slew of errors: https://gist.github.com/suo/b4d22c90fcec4754906c0025622e2deb, which is different than the result in CI.

[2021-08-25 03:10] ezyang opened #63921 "More efficient colon backwards in advanced indexing"
@nelhage reports: x[:] does an alloc/zero/copy on the backwards pass … and x[:, h, :, :] does four

Wondering if there's any way to improve this. @anjali411 maybe zero tensors help?

[2021-08-25 03:36] nmanhong opened #63922 "Some problems with pytorch cpuinfo library"
I read the introduction of cpuinfo and said that there is performance optimization, but I did not find any performance optimization when I turned it on and off. Could you tell me what aspects are optimized by cpuinfo?

[2021-08-25 03:36] robieta opened #63923 "[TensorExpr] torch.jit.freeze causes CUDA compilation error"
## 🐛 Bug

This failure was detected in TorchBench: https://github.com/pytorch/benchmark/tree/master/torchbenchmark/models/timm_efficientnet

I've distilled the failure into a pretty minimal repro (apologies for using a third party lib, but hopefully timm is established enough that you'll forgive it.) This is almost certainly from https://github.com/pytorch/pytorch/blob/master/torch/csrc/jit/tensor

[2021-08-25 03:42] nmanhong commented on #63922
@Yangqing

[2021-08-25 04:00] ZolotukhinM commented on #63923
Thanks for the report, I'll take a look!

[2021-08-25 04:25] ZolotukhinM commented on #63923
@robieta, if you have a reproducer handy, could you please run the test with the following env variables?
[code]

[2021-08-25 04:50] danpovey commented on #31571
I have spent quite a long time trying to debug this issue.  It happens for me when using a DataLoader with num_workers >= 1, when the dataset contains objects from our project k2 (specifically: our type k2.RaggedInt, which is actually _k2.RaggedInt from a pybind11-wrapped C++ library).  It only happens when using `torch.multiprocessing.set_start_method('spawn')`.  (We have to spawn, for other reas

[2021-08-25 05:00] alanwaketan commented on #62629
Oops, my bad. I got used to the absolute path convention, and therefore I was confused about this relative path usage.

[2021-08-25 05:00] #62629 closed

[2021-08-25 05:24] ksemianov commented on #9587
I checked with stable 1.9.0 and it doesn't reproduce anymore

[2021-08-25 05:24] #9587 closed

[2021-08-25 05:27] pmeier commented on #58740
@AnirudhDagar @rgommers IIRC, I got this from [here](https://data-apis.org/array-api/latest/API_specification/type_promotion.html?highlight=scalar#mixing-arrays-with-python-scalars):

Plus, I think the array API test suite tests this, which is how I discovered it.

[2021-08-25 05:55] AdityaDas-IITM commented on #54743
Thanks a lot, will have a look

[2021-08-25 05:56] rohan-varma opened #63929 "[Poll] Support higher-order gradient computation in DDP"
## 🚀 Feature
Computing higher-order gradients has several use cases, i.e. applying a local gradient penalty before running the backwards pass. However, DDP doesn't have great support for higher-order gradients as evidenced by https://github.com/pytorch/pytorch/issues/63812. A couple of issues:
1. `.grad` field of the gradient is not synchronized across processes
2. Calling `.backward()` twice is n

[2021-08-25 05:56] rohan-varma commented on #63812
Created a tracking issue for support for this feature: https://github.com/pytorch/pytorch/issues/63929. Gauging how frequently this feature is asked for will help the team prioritize it appropriately.

[2021-08-25 06:05] nmanhong commented on #63922
@ZolotukhinM

[2021-08-25 06:15] KinWaiCheuk commented on #21819
Hi ptrblck, I am facing a similar problem when using PyTorch 1.9 with CUDA 11.1. I have a minimal code that can reproduce the error.

[code]

But the exact timing for this error to occur is quite random. Sometimes I encountered it at epoch=2 already, sometimes it takes 500 epoch for this error to appear.

[2021-08-25 06:22] hwangdeyu commented on #59179
Sure, get it in duty rotation doc.

[2021-08-25 06:54] JiahangXu commented on #32976
Hi, I got a similar issue as this issue, #51835, and the discuss https://discuss.pytorch.org/t/no-graph-attribute-when-use-torch-jit-overload-method/76128. I cannot get the attr `.graph` for overloaded method, which is, however, necessary in my purpose. I wonder if @eellison has add the api like `model.forwards.graphs` (acutally the overloaded model does not have the attribute `forward` yet), or `

[2021-08-25 07:12] LQY404 commented on #63726
thank you for your advise, i'll try. and i'll update soon...thanks.

[2021-08-25 07:29] linbinyu opened #63933 "DISABLED test_argminmax_large_axis_cuda (__main__.TestReductionsCUDA)"
Disable this slow test according to oncall runbook
Other pytorch_linux_xenial_cuda10_2_cudnn7_py3_gcc7 can pass.

https://app.circleci.com/pipelines/github/pytorch/pytorch/369938/workflows/a4903602-9784-4e3e-8554-21965f9c693c/jobs/15607719

cc @mruberry

[2021-08-25 07:44] luvwinnie commented on #8978
does the F.affine_grid is going to support in ONNX?

[2021-08-25 07:44] luvwinnie commented on #38222
any news on this?

[2021-08-25 07:50] Krovatkin commented on #61092
@jgong5 if I understand correctly we just want Constant Propagation to not fold Quant and Dequant nodes, so your custom pass can apply the transformation above?

[2021-08-25 07:52] rgommers commented on #58740
`<op>` in that section is a Python builtin operator. There's normally an operator, a dunder method and a regular function in the API that all match (e.g., `+`, `__add__`, `add`).

For `logical_and` there's `&` and `__and__` - but those are not the exact same I believe. For example, `&` on integer arrays does a bitwise thing while `logical_and` is only defined for boolean dtypes (may be coerced, or

[2021-08-25 08:01] gyenesvi commented on #63076
Thanks, will try that. Is there any predicted schedule for a next release?

[2021-08-25 08:08] lucmos opened #63934 "Missing NumPy dependency on python 3.7"
## 🐛 Bug

No module named NumPy error on a fresh installation of torch

## To Reproduce

Steps to reproduce the behavior:

1. Create the following conda environment:
[code]
2. `conda activate torch-error`
3. `python -c 'import torch'`
[code]

## Environment

[code]

[2021-08-25 08:09] DrDryg opened #63935 "Inconsistent behaviour of index put when assigning from other type"
## 🐛 Bug

When assigning to a tensor data from another type. E.g. to a float tensor from a double tensor the bahaviour differs depending on how the tensor is indexed.

## To Reproduce
import torch
x = torch.zeros((3,3,3), dtype=torch.float32)
y = torch.tensor(5, dtype=torch.float64)

# This is ok
x[:,:,1] = y

# This is not
x[[0,1,2],:,1]=y

# In the second case one has to convert y to float32, so

[2021-08-25 08:20] Yasin40 commented on #63475
Anyone can help me?

[2021-08-25 08:44] s974534426 opened #63936 "DistributedDataParallel has no improvement when using one more machines."
I am using DistributedDataParallel to train my deep learning model. I have two machines. And each of them has four gpus. When I changed to single machine multi-gpu from single machine single gpu, I got a great performance improvement. So I think the code is correct. However, if I changed to two machines multi-gpu from single machine multi-gpu, I got no imporvement.

What are the possible problems?

[2021-08-25 08:51] jgong5 commented on #61092
@Krovatkin Just not folding Dequant is enough. Folding Quant op should be fine.

[2021-08-25 09:28] lucastepper opened #63943 "Recovering input data fails for rff -> irfft"
## 🐛 Bug

Recovering input data fails for rff -> irfft for a 1-dim array of uneven length.

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

Input array should be recovered when concatenating an inverse realFFT and a realFFT.

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/m

[2021-08-25 10:01] AnirudhDagar commented on #58740
This is from the NumPy docs [here](https://numpy.org/devdocs/user/numpy-for-matlab-users.html#numpy-for-matlab-users-notes) stating the difference between the two.

Also, I tried to confirm and compare the behaviour for the recently merged array API PR into NumPy main branch.

[code]

In conclusion

* NumPy and Array API are divergent for `logical_ops`, since scalar inputs to Array API raise in th

[2021-08-25 10:05] 5466a opened #63945 "AttributeError: 'PlanarFlow' object has no attribute 'domain'"
Do not know whether the version of the problem, how to solve?

[2021-08-25 10:17] yinghuang commented on #52432
for yolov5-half-gpu-onnx export,  check [https://github.com/ultralytics/yolov5/issues/3631#issuecomment-905368078](this)

[2021-08-25 10:17] yinghuang commented on #52432
for yolov5-half-gpu-onnx export, check [this](https://github.com/ultralytics/yolov5/issues/3631#issuecomment-905368078)

[2021-08-25 12:27] arman-yekkehkhani commented on #33521
@albanD I face the same issue when trying to build PyTorch from source on Ubuntu 20.4. However the error is slightly different.
[code]

[2021-08-25 12:42] arman-yekkehkhani commented on #33521
In my case, the problem was solved by installing the ```libopenmpi-dev``` package. One can look [here](https://gitlab.kitware.com/cmake/cmake/-/issues/18196) for a detailed explanation.

[2021-08-25 12:51] hardyjoshi17 commented on #63265
Hello, I am new to opensource and want to contribute to opensource. Can someone help me with it?

[2021-08-25 13:56] PranavDuggal commented on #63934
I looked into your problem and I tried to install torch but it is not giving me any errors.

[2021-08-25 14:02] vadimkantorov commented on #51455
@ezyang Could you please reopen this issue?

The standing items:
- add pseudocode
- add a realistic vision example or remove the BCHW example (with fixed image size)

[2021-08-25 14:11] mruberry commented on #60585
This looks like it was accidentally closed?

[2021-08-25 14:17] mruberry commented on #63720
Thanks for reporting this issue, @another-pjohnson. @suo, was there someone on the PyTorch Compiler side who was thinking of working on serialization?

[2021-08-25 14:23] mruberry commented on #50345
Take a look at https://github.com/pytorch/pytorch/pull/43132, @meaneych, although porting a special function might be a tricky first PR and it might be easier to start elsewhere.

There's an additional wrinkle, too. These special functions typically increase PyTorch's build time and CUDA context size. We're looking at some approaches to mitigate those issues, but until they're resolved we should o

[2021-08-25 14:30] Randl opened #63951 "Apparent different between `.to(dtype=torch.float32)` and `.float()` for TF32"
## 🐛 Bug

For some reason, if we convert tensor to float32 with `.float()`, calculations are performed with FP32 rather than TF32, even if the latter is enabled.
## To Reproduce

Run the following code, based on [guide for TF32](https://pytorch.org/docs/stable/notes/cuda.html#tf32-on-ampere):
[code]
Both times are equal or almost equal (approx. 110ms on A6000).

If we replace
[code]
with
[code]
we

[2021-08-25 14:52] jbschlosser commented on #63728
Hey @Stevenjin8, thanks for the report! We'd accept a PR addressing this.

[2021-08-25 15:20] albanD commented on #33521
Thanks for the info.
Closing this for now. Feel free to re-open if you have more issues.

[2021-08-25 15:22] robieta commented on #63923
@ZolotukhinM Certainly: https://gist.github.com/robieta/38b6306d47f4c77e3b70dd010c11f787

[2021-08-25 15:50] sneaxiy opened #63958 "torch.gather with sparse_grad=True does not work with SGD optimizer with momentum; gives bad error message"
## 🐛 Bug

`torch.gather` with `sparse_grad=True` does not work with SGD optimizer with momentum.

The following example does output the batch 0 data, but cannot run when batch id > 1.

## To Reproduce

[code]

Error output:
[code]

## Expected behavior

Should work both when `SPARSE_GRAD=True` and `SPARSE_GRAD=False`.

## Environment

PyTorch version: 1.9.0+cpu
Is debug build: False
CUDA used to b

[2021-08-25 15:52] janeyx99 commented on #62298
A recent run of our internal query returned ~15 likely smoke test candidates once again, **signifying that there _are_ still potential Windows smoke tests!**

I will be adding these new finds to our current windows smoke test list. To my dismay, I also suspect my previous runs of the query showed only partial results amidst our GHA migration, as we renamed our build jobs from `blah-windows-blah` t

[2021-08-25 16:43] suo commented on #63720
Sadly no, they have since moved on to other things :(

[2021-08-25 16:53] waytobehigh commented on #48573
I was able to reproduce the exactly same error. My setup:

torch.mean/torch.sum
pytorch==1.7.1
NVIDIA V100 GPU
Cuda 10.2

[code]

torch.max/torch.min/... work fine

[2021-08-25 16:55] mcarilli commented on #61880
@byronyi You're absolutely right. The recommended approach is simple: don't capture scaler.step(optimizer). I included an example in the PR: https://github.com/pytorch/pytorch/pull/63269/files#diff-4840823ff4b0cd7fe61b9ada2a1746f6936c944bfbcc4d1bdb8b3dc1561d4401R773-R816

[2021-08-25 16:56] dhivyasreedhar commented on #63265
Hi, can I work on this? I'm new so, can someone guide me?

[2021-08-25 16:58] dhivyasreedhar commented on #20704
Hi, can I work on this? I'm new so can someone guide me?

[2021-08-25 21:52] eellison opened #63987 "[JIT] Serialization of Sparse Tensors doesnt work"
## 🐛 Bug
[code]

## Additional context

Ran into this when fixing a freezing / sparsity bug which was requested internally.

cc @nikitaved @pearu @cpuhrsch @IvanYashchuk

[2021-08-25 22:11] jithunnair-amd opened #63989 "PyTorch 1.9 and older release branches incompatible with ROCm4.3+"
## 🐛 Bug

The [release/1.9](https://github.com/pytorch/pytorch/tree/release/1.9) branch will not build successfully with ROCm4.3+ due to a backward-incompatible change to the [semantic versioning of HIP_VERSION in ROCm4.3](https://rocmdocs.amd.com/en/latest/Current_Release_Notes/Current-Release-Notes.html?highlight=HIP_VERSION#hip-versioning-update). This bug has been fixed in master branch in htt

[2021-08-26 04:12] ngimel opened #64000 "Softmax/logsoftmax use more memory for backward than needed"
## 🚀 Feature
Backward formulas for softmax/logsoftmax reference `self`, even though `self` is not required for computation, e.g.
[code]
Therefore, we retain reference to `self` and use more memory than needed. We should try to avoid that.
Related: #63027 (more memory than needed used for ReLU), with the same pitch and motivation.

The explanation for adding `self` to backward/double backward formu

[2021-08-26 07:06] Chillee opened #64008 "aminmax increases dimension from 0-dim to 1-dim when given scalar inputs and keepdim."
[code]

We should probably make this consistent.

`torch.aminmax` is increasing the dimension from a 0-dim tensor to a 1-dim tensor.

cc @heitorschueroff

[2021-08-26 10:38] IvanYashchuk opened #64014 "check_errors argument does nothing in torch._lu_with_info"
## 🐛 Bug

`check_errors` argument for `torch._lu_with_info` does nothing since https://github.com/pytorch/pytorch/pull/28608 is merged. See https://github.com/pytorch/pytorch/pull/28608/files#r339365219. This function is used in `torch.lu` and `torch.linalg.det` implementations.

Since `check_errors` doesn't do anything, it should be removed.

## To Reproduce

[code]

cc @jianyuh @nikitaved @pearu

[2021-08-26 12:48] Freey0 opened #64017 "tools/nightly.py raises: TypeError: 'type' object is not subscriptable"
## 🐛 Bug

./tools/nightly.py checkout -b my-nightly-branch
does not work
[code]
## To Reproduce

Steps to reproduce the behavior:

1. Follow the CONTRIBUTING.md documentation 'Nightly Checkout & Pull' operation
1. ./tools/nightly.py checkout -b my-nightly-branch

## Expected behavior

No error reported
## Environment

Collecting environment information...
PyTorch version: 1.10.0a0+gita40659a
Is de

[2021-08-26 13:34] Freey0 opened #64018 "test_binary_ufuncs.test_inplace_comparison_ops_require_inputs_have_same_dtype May have been damaged"
## 🐛 Bug

In file test_binary_ufuncs.py, This test expects every operation to throw a runtime error, but in fact only logical_xor_, logical_and_, logical_or_ throws a runtime error
[code]

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior
I've recently been trying to port logical_xor to structured, and logical_xor doesn't throw runtime errors either, I'm not sure what

[2021-08-26 16:18] malfet opened #64026 "Migrate `gcc5` and `xla` CircleCI workflows to GHA"
## Context

Those jobs utilize optional rebase-on-latest-trunk optional logic, which is executed after docker hash selection, which causes hard to debug failures, like this one: https://app.circleci.com/pipelines/github/pytorch/pytorch/370441/workflows/a846ca71-bf8c-47b2-821e-4f3cf97b5527/jobs/15628095

For more details about how its currently done for the job, see
https://github.com/pytorch/pytor

[2021-08-26 18:32] david-macleod opened #64039 "SyncBatchNorm + BatchNorm2d produces incorrect gradients"
## 🐛 Bug

Under certain conditions using `SyncBatchNorm` + `BatchNorm2d` produces incorrect gradients, this is a regression on torch 1.9.1 where the behavior is correct.

## To Reproduce

[code]
Produces the following output
![image](https://user-images.githubusercontent.com/17232877/131016670-44e65859-34d5-42ff-aab3-6f6413d81fe2.png)

and raises an error from gradcheck
![image](https://user-image

[2021-08-26 21:04] adhikarirsr opened #64056 "RuntimeError: CUDA error: CUBLAS_STATUS_INTERNAL_ERROR when calling `cublasCreate(handle)`"
Here's  my setup, where I can train a model without any problem:

[code]
Here's  my setup, where I get an error:  `RuntimeError: CUDA error: CUBLAS_STATUS_INTERNAL_ERROR when calling cublasCreate(handle)`
[code]
I am trying to do this on HPC and I can only load one of these cuda: cuda/9.0    cuda/10.0    cuda/10.1    cuda/10.2    cuda/11.2 . Hence, I cannot try cuda/11.1 (as suggested [here](https

[2021-08-26 21:51] o-alexandre-felipe opened #64058 "Some linalg operations are not taking advantage from batched computation"
## 🚀 Feature

The non linear matrix functions, in special the ones implemented in linalg should take advantage of the batch parallelism when possible.

## Motivation

Matrix are the representations for linear operations by excelence, matrix algebra is widely known so it makes easier to communicate, modelling and manipulations. When I talk use the seemingly paradoxical term nonlinear linear algebra

[2021-08-26 23:13] SsnL opened #64062 "[CUDA fuser] fails to run basic InceptionV3"
## 🐛 Bug

In PyTorch 1.9, the CUDA fuser addition makes it impossible to run (part of) the NVIDIA's InceptionV3 TorchScript model ([ckpt url](https://nvlabs-fi-cdn.nvidia.com/stylegan2-ada-pytorch/pretrained/metrics/inception-2015-12-05.pt)). After loading, the model works fine when running directly on an image (calling `model(x)`), but using a submodule (calling `model.layers(x)` fails
+ on PyTor