[2019-03-05 14:04] emankov commented on #17657
The reported `CalledProcessError` the first, and the only error occurred while compiling `THCTensorIndex.cu`.
[code]

[2019-03-05 15:34] peterjc123 commented on #17657
https://pytorch.org/docs/stable/notes/windows.html#package-not-found-in-win-32-channel

[2019-03-05 15:36] peterjc123 commented on #17657
please do this first. https://stackoverflow.com/a/8775884

[2019-03-05 15:37] sidazhang opened #17683 "[JIT] Allow CPP frontend to access config attributes from the .pt"
## 🚀 Feature
Allow CPP frontend to access config attributes from the .pt
Something that looks like this:

[code]

## Motivation

The configurations related to the model right now needs to be kept in 2 places. Once in the model, and then once in the inference code. Since the inference code is driven by the model anyway, it would be much cleaner if the model itself can carry the configurations.

In

[2019-03-05 15:42] peterjc123 commented on #17682
Please keep consistent. It is not a bug, just a requirement of MSVC. When you build the debug version of libtorch, then you can only build programs or libraries with the debug configuration. So if you want to use release, then you'll need the release binaries.

[2019-03-05 15:47] carlosferrazza commented on #17682
I see. My understanding was that setting the flag DEBUG=1 would result in building the debug binaries, in addition to the release ones. Then this is clearly not the case, thanks for clarifying.

[2019-03-05 16:00] #17682 closed

[2019-03-05 16:04] emankov commented on #17657
Ok, ["PyTorch doesn’t work on 32-bit system. Please use Windows and **Python 64-bit version**."](https://pytorch.org/docs/stable/notes/windows.html#package-not-found-in-win-32-channel) So, don't you think that similar words should be in [README.md](https://github.com/pytorch/pytorch/blob/master/README.md)?

[2019-03-05 16:33] peterjc123 commented on #17657
Would you please do that? Actually this problem is not Windows only. As you can see, only x64 binaries are provided.

[2019-03-05 16:56] soumith commented on #17677
We are not lawyers and we dont know :) (I didn't open that patent link and I am not going to, fyi)

[2019-03-05 16:56] #17677 closed

[2019-03-05 17:36] emankov commented on #17657
Better to obtain the whole log by redirecting it to file. Moreover, it is bigger than 32K lines.
Well, it looks like I missed an actual linking error, occurred much earlier.

Something tells me that the last single warning **"library machine type 'x86' conflicts with target machine type 'x64'"** is more important than all 132 linking errors with unresolved externals.

So, I think that there is no

[2019-03-05 17:53] luisa-uber commented on #17106
Hi, is there an update on this issue? I also ran into this error. Here's my code snippet
[code]
Changing `scale_factor=2` to `scale_factor=float(2)` fixes the issue.

[2019-03-05 18:17] laughmetal opened #17688 "Improve save() method in torch.jit.ScriptModule"
## 🚀 Feature
save() method in torch.jit.ScriptModule should support save_to_buffer as well.

## Motivation
Right now, to save a torch.jit.ScriptModule to buffer, I have to call function torch.jit.save().
It would be more convenient and consistent if torch.jit.ScriptModule.save() can perform the same job.

## Pitch
I can work on this feature.

[2019-03-05 19:46] wanchaol commented on #17669
It turned out this related to #17523, @ailzhang is working on a fix

[2019-03-05 19:47] shawnjhenry commented on #10324
The issue with implementation is that the straightforward version as in the previous comment is not numerically stable.  It would be good to have a numerically stable implementation available.

[2019-03-05 21:37] slaweku commented on #17566
I have just tried it on Mac, same result - backward() is serialized.

[2019-03-05 21:59] drnikolaev opened #17697 "ONNX graph exporter: Gather operator on Axis 0"
## 🐛 Bug

See also #16908
After fixing INT64 issue we moved forward and stumbled upon the following:
[code]
This is Gather on Axis 0. Seems like it has to be another axis. Please check it out.

[2019-03-05 22:37] #15508 closed

[2019-03-05 23:20] slaweku commented on #17566
Do you think it worth trying to run my program-level multithreading with Intel TBB instead of OpenMP?

[2019-03-05 23:35] sailordiary commented on #4930
Hi @erikvdplas -- any updates on this?

[2019-03-06 00:00] akurniawan opened #17699 "nn.Embedding broken for half"
## 🐛 Bug

Using the following script will break with error `_th_index_select is not implemented for type torch.HalfTensor`

[code]

## To Reproduce

Steps to reproduce the behavior:

1. Run the script above

## Expected behavior

No error

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/c

[2019-03-06 00:23] vadimkantorov commented on #17657
A suggestion: CMake / setup.py to error out if Python 32-bit version is used

[2019-03-06 00:30] ngimel commented on #17699
There is very limited support for half datatype on CPU. The script above will work for both nn.Embedding and input on cuda device.

[2019-03-06 00:30] #17699 closed

[2019-03-06 02:01] VCBE123 opened #17701 "Make html in the docs got KeyError 'CELU'"
## 📚 Documentation

[code]

[2019-03-06 03:24] RizhaoCai commented on #14946
Yes. Seems using opset 8 or 9 to export ONNX model that will occur errors if we want to further import the model using TensorRT (please refer to https://devtalk.nvidia.com/default/topic/1047625/running-a-pytorch-network-converted-to-onnx-with-tensorrt-on-the-tx2/)

[2019-03-06 03:25] boxwh1 opened #17703 "Training hangs when using DistributedDataParallel in two pod on nodes"
Training hangs when using DistributedDataParallel in two pod on nodes.
The problem **occasionally** happens  and can not be reproduced each time.
The pods were started by k8s using flannel network. The physical nodes are connected by 10Ge ethernet.

Training started normally, but hanged in the middle of training process.
![image](https://user-images.githubusercontent.com/41627739/53853400-4860ec80

[2019-03-06 03:43] njtuzzy opened #17704 "a little bit slow in backward when using multiple nodes training model！"
Hi,
I followed the guideline to use the 4 nodes (1 titan XP in each node), and using 'gloo' to do the backward communication. It turns that the backward time is a little bit slow from 0.08 (single GPU） to 43s(4 nodes). did i do something wrong? thanks

## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resour

[2019-03-06 04:52] #17669 closed

[2019-03-06 05:09] arash-ashtari commented on #11756
I have the same problem!!!I think it is not a hardware problem.

[2019-03-06 05:15] peterjc123 commented on #17566
cc @yf225

[2019-03-06 05:39] #12206 closed

[2019-03-06 06:46] SongyiGao opened #17709 "The function of torch.max?"
[code]

Input:
`a = torch.randn(2,1,3,3)
print(a)`

Output:
[code]

Input:
`print(fun_test(a))`

Output:
[code]
I think the output of the function should be all-zero tensors,because I did not modify the "output" variable inside the function, but intest, I find  it changed after the execution of torch.max() .I want to know the logic.

[2019-03-06 08:02] ldrmcml commented on #17703
Tracking this issue.

[2019-03-06 08:24] BarMazal opened #17711 "Building TorchLib on windows from source"
Hi all,
 I'm trying to work with the LibTorch C++ library.
I develop under windows 10 and visual studio 2017.

I've issues both using the pre-built library and building the library from sources.
Here I'd like to ask about building the library from source.
So I cloned the latest master and there is a script called "build_windows.bat". The scripts works but it does not produce the LibTorch.lib or To

[2019-03-06 09:00] Dobatymo commented on #14753
I use v1.0.1 which should include above fix, but I also get this error.

[code]

[2019-03-06 10:46] enoonIT commented on #17680
I run some tests and it seems the issue only happens in Jupyter notebooks, when run as a standalone everything works correctly:

[code]

[2019-03-06 10:46] tlepley-cadence opened #17712 "Can we to build Caffe2 custom ops independently from a Caffe2 build ?"
I'm trying to create a custom op for Caffe2, but separately a Caffe2 build and Caffe2 source code.

Looking at this example (https://github.com/caffe2/caffe2_bhtsne), I could managed to build a custom op shared lib. But I had to hack a bit to have Caffe2 accepting to load my custom op shared lib without the following error `undefined symbol: _ZN6google8protobuf8internal10LogMessageC1ENS0_8LogLevel

[2019-03-06 11:34] engmubarak48 commented on #7579
your solution is perfect thanks

[2019-03-06 12:34] r3krut opened #17713 "How to perform quantization of a model in PyTorch?"
## How to perform quantization of a model in PyTorch?

Hello everyone!

I have trained the model 'MobileNetV2' in PyTorch from 'https://github.com/qfgaohao/pytorch-ssd/blob/master/vision/nn/mobilenet_v2.py'. Now, I want use it in Raspberry Pi3.

I converted '.pth' model to Caffe2 model through `ONNX` representation and I got two files: init_net.pb and predict_net.pb for Caffe2 framework.

As far a

[2019-03-06 12:38] PuYuQian commented on #5560
I have added the Sigmoid to be my output layer ,but this error was still shown.

[2019-03-06 13:10] Venka97 commented on #1355
I also get the same error. I have set `pin_memory=True` and `num_workers=0`. Although one thing that I noticed that when I use a small portion of the dataset, this error doesn't occur. Only using the entire dataset causes this error.

[2019-03-06 13:38] danFromTelAviv commented on #509
https://medium.com/hardware-interfacing/how-to-install-pytorch-v4-0-on-raspberry-pi-3b-odroids-and-other-arm-based-devices-91d62f2933c7
for people who want more specific intructions

[2019-03-06 13:46] danFromTelAviv opened #17714 "NNPack support for arm ( linux )"
## 🚀 Feature
allow nnpack to install gracefully with pytorch on linux arm devices

## Motivation

pytorch+NNPack should be one of the fastest options for arm.

## Pitch
pytorch is already pretty easy to install on arm. Together with nnpack pytorch will be posed very well in the competition of iot deep learning. The delta is relatively small 👍 The spoils are large.
Bullet format:
1) NNpack easily i

[2019-03-06 14:26] razvanc92 commented on #5262
Any news on this feature?

[2019-03-06 14:54] xmnlab commented on #10482
We are working on this issue and we split this into 2 parts:

1) move from TH to ATen and
2) combine functions that will work for N dimensions.

Initially we are working on an internal branch (https://github.com/Quansight/pytorch/pull/2) before the creation of an official PR.

for step  1) we split that into CPU and GPU. it seems the main structure for CPU is almost done, the building step worked

[2019-03-06 15:06] rubenvereecken opened #17716 "collate_fn returns subclass of torch.Tensor, but DataLoader transforms back to torch.Tensor"
## 🐛 Bug / Unexpected Behaviour

I have a custom subclass of `torch.Tensor`: `PackedSequences`, which is meant to pack together sequences of variable length. I supply my `DataLoader` with a custom `collate_fn` which returns `PackedSequences` objects just fine. When I sample a batch, I find my `PackedSequences` objects have been converted to `torch.Tensor`, losing the elementary extra data in `Pack

[2019-03-06 15:12] emankov commented on #17657
I don't mind, but it should be mentioned in readme anyway: https://github.com/pytorch/pytorch/pull/17689 .

[2019-03-06 15:56] SsnL commented on #17716
You should make a container rather than a subclass, btw.

[2019-03-06 15:57] SsnL commented on #17709
`max_temp` is a view. You asked to insert the value back into the view.

[2019-03-06 15:57] #17709 closed

[2019-03-06 16:33] erikvdplas commented on #4930
Yes @sailordiary! Sorry for not following-up on this thread. My implementation [here](https://github.com/erikvdplas/binding-site-predictor/blob/master/model.py) (with the gist of it being in line 50-53) seemed to work as desired. I think the code is pretty straightforward. Let me know if something's not clear.

[2019-03-06 16:40] eellison commented on #17683
Thanks for the feature request! We will talk about it and get back to you. @driazati does this relate to what you're working on with attributes ?

[2019-03-06 16:59] eellison commented on #17688
Thanks for the feature request! We will discuss this and get back to you

[2019-03-06 17:07] salmonmeister commented on #17716
@SsnL could you elaborate a tiny bit more? Do you mean [this](https://pytorch.org/docs/stable/_modules/torch/nn/modules/container.html)? Because that subclasses `nn.Module`, whereas I'm looking to have a `torch.Tensor` with extra data attached to it.

[2019-03-06 17:10] rubenvereecken commented on #17716
@SsnL so a standalone class that contains an instance of `torch.Tensor`? I was hoping to have something that behaves exactly like `torch.Tensor`, just with extra data added to it. I do think I almost pulled it off, too. But I can do that...

[2019-03-06 17:11] peturhelgi commented on #6041
I did the same as @tiagoft and it worked. However, I had some problems after logging in as I just got to a blank screen. After reading [this thread](https://askubuntu.com/questions/41681/blank-screen-after-installing-nvidia-restricted-driver) I resolved the problem.

[2019-03-06 17:31] vishwakftw commented on #17704
Could you please provide the environment information using [this script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)?

Please provide a script to replicate this behavior.

[2019-03-06 17:53] pjh5 commented on #17621
@loretoparisi I don't think we're planning on special binaries for 'advanced' use cases like this for python distros for a while (GCC ABI of 1 also falls into this category) because of the potential confusion it will cause. To work this into pip or conda we'd need a different name like pytorch-nightly-latestcuda, but then once the latest architecture changes that will be out of date. We don't want

[2019-03-06 18:35] #17161 closed

[2019-03-06 18:36] pjh5 commented on #17415
This looks similar to https://github.com/pytorch/pytorch/issues/14727 . For some context, no libraries are copied into any macos binaries at the moment, so the logic would have to be copied from https://github.com/pytorch/builder/blob/master/manywheel/build_common.sh#L233-L269 to https://github.com/pytorch/builder/blob/master/wheel/build_wheel.sh#L171 . This doesn't sound that hard but @kostmo and

[2019-03-06 18:41] loretoparisi commented on #17621
@pjh5 @kostmo I see, it makes sense. I'm curious why latest TF (1.13) is more than 200MB smaller.

[2019-03-06 18:47] fmassa commented on #10482
Thanks for the update @xmnlab !

[2019-03-06 18:50] #17657 closed

[2019-03-06 19:15] bhushan23 commented on #17713
Follow instructions here: https://github.com/pytorch/QNNPACK#raspberry-pi-2-or-3
Questions should rather be asked at https://discuss.pytorch.org/
please close the issue as well.

[2019-03-06 19:19] bhushan23 commented on #17680
@enoonIT can you verify python version being using in Jupyter notebook?

[2019-03-06 19:22] gchanan commented on #13638
@apaszke that sounds correct to me, thanks!

[2019-03-06 19:24] zou3519 commented on #12908
The julia docs suggests that the difference between `potrf` and `pstrf` is that `pstrf` does pivoted cholesky decomposition. If I am understanding this correctly, "pivoting" is a different strategy for computing the decomposition, but it sounds like `pstrf` in PyTorch just doesn't work?

[2019-03-06 19:25] zou3519 commented on #16181
@hikjik yes, please go ahead

[2019-03-06 19:33] SsnL commented on #17701
Make sure that you have the same source build and no other pytorch installs. I just did a `make html` this morning and it works fine.

[2019-03-06 19:33] #17713 closed

[2019-03-06 19:38] soumith commented on #17701
yes this is because the installed pytorch is different from the folder you are building docs in

[2019-03-06 19:38] #17701 closed

[2019-03-06 19:44] #17656 closed

[2019-03-06 19:51] houseroad commented on #14013
https://github.com/pytorch/pytorch/pull/17382 will fix the problem.

[2019-03-06 20:22] boru-roylu commented on #17543
I have the same problem. My python version: 3.7.2, PyTorch version: 1.0.1.post2, and CUDA is 10.0.130.

[2019-03-06 20:33] eellison commented on #17650
Hi - this has been fixed in #17687 so I'm closing. There is a separate issue which is that we need better Documentation / API for converting c++ vectors -> ivalue -> back again. Note in my PR we use std::vector<int64_t> instead of generic list for int lists. You can follow that issue here https://github.com/pytorch/pytorch/issues/17165

[2019-03-06 20:33] #17650 closed

[2019-03-06 20:59] spfohl commented on #12308
Should this now work with the changes to the Sparse API made in v1.0.0? From some prototyping, that appears to be the case, but I still run in to issues if a transpose operation is used.

[2019-03-06 21:02] bhushan23 commented on #17663
No buggy as such but incomplete.
set_data will copy data and type information
can rename to 'Sets metadata (data and type) of the Variable'

[2019-03-06 22:07] danpovey commented on #17663
and I assume it sets the shape but not necessarily the strides of the source Variable (e.g. if it had been transposed), and put it on the same device?

[2019-03-06 23:03] driazati commented on #17683
Yeah this will be added in with attributes. They will work like `Parameter`s, but allow for non-Tensor types. #17309 adds this with `Module:: find_attribute(std::string& name)` which gives back the a struct containing the type and `IValue`, so for the example you'd do something like

[code]

[2019-03-06 23:06] bhushan23 commented on #17000
as per https://docs.python.org/3/library/collections.abc.html
index and count also needs to be implemented
btw, @sytelus index and count are not implemented in ndarray as well

Also, we were supporting very different index that is expected which was removed #7639
I think we should go ahead with __contains__ and __reversed__ as of now
and put index and count aside and add later if required

__conta

[2019-03-06 23:23] soumith commented on #17169
@varenick not at the moment. it's in the long list of things todo.

[2019-03-06 23:44] soulslicer commented on #17493
I tried to run my code with and without the CUDAStreamGuard commented out and the runtime is the same:

[code]

What am I doing wrong

[2019-03-07 01:03] njtuzzy commented on #17704
the os env i used is unbuntu 16.04
pytorch 1.0 cuda 9

and the training code for distrubuted computing  is almost the same with the example provided by pytorch.org

python train.py --batch-size 6 --world-size 4 -- rank 0 --dist-url tcp://192.168.20.77:2222 --dist-backend gloo -- gpu 0

is this what you want?

Thanks

[2019-03-07 01:10] soumith commented on #17493
is `measuretime()` synchronizing on the host? For `measuretime()` to be correct, you need a `cudaDeviceSynchronize()`

Depending on the occupancy of the kernels, stream overlap might not achieve better timings, because the GPU might be occupied by the first MM fully with no blocks free for the second MM to run concurrently.

[2019-03-07 01:20] soulslicer commented on #17493
Yes it has it. I just used that syntax as placeholder. Ok if that's the case that's fine, I just wanted to make sure the syntax was right. Thanks again

[2019-03-07 02:03] ngimel commented on #16831
Thank you for your investigation and repro @FabianIsensee. It's a cudnn bug present at least in cudnn 7.4 and 7.5. I'm trying to get information on workarounds. The failing call is most likely for decoder 4 convolution weight gradient (input size 1,30,224,224,224, output features = 3, filter size =1) - I'm certain on sizes and it being weight gradient, not exactly sure if it's decoder 4 or not.

[2019-03-07 02:30] hwijeen opened #17738 "Inconsistent results of torch.argmax with tensors that have duplicated values"
## 🐛 Bug
Inconsistent results of torch.argmax with tensors that have duplicated values

## To Reproduce

[code]

When I did the same on another machine(pytorch 0.4.1, CUDA 9.0)
[code]

## Expected behavior
torch.argmax returns the same value for tensors that have same data in it, regardless of devices(or other factors).

## Environment

PyTorch version: 0.4.1.post2
Is debug build: No
CUDA used to

[2019-03-07 02:57] xi-mao commented on #7082
can i ask how to change matlab env PATH？

[2019-03-07 02:59] xi-mao commented on #7082
did you solved the problem?

[2019-03-07 03:05] xi-mao commented on #7082
anyone  solved the problem？

[2019-03-07 03:17] vishwakftw commented on #17738
This is related to https://github.com/pytorch/pytorch/issues/14147. Perhaps we should add [this comment](https://github.com/pytorch/pytorch/issues/14147#issuecomment-439631144) in the docs..

[2019-03-07 03:24] #16550 closed

[2019-03-07 03:30] CrawlingD commented on #10446
I tried to convert a trained model from pytorch to tensorflow.
If I set `align_corners=True `, there would be small bias between the outputs of pytorch and tensorflow, but if I set `align_corners=False `, the output would be much more biased. And it seemed that onnx-tf didn't store the `align_corners` param.

[code]

[2019-03-07 03:45] vishwakftw commented on #16498
Fixed by #17443.

[2019-03-07 03:45] #16498 closed

[2019-03-07 04:53] chenwc07 commented on #11756
In my case, it is a hardware problem. I have changed the broken GPU and the problem was solved.

[2019-03-07 05:18] bhushan23 commented on #17663
goal of the set_data method is to copy date from `new_data` and set to itself (more like a copy constructor but only restricted to data field)

By type, earlier comment was suggesting that type and type id is being copied. Now, we are changing that with copying metadata (data and type) which should be good enough to give high level idea of what this method is doing. (of course, these two are Varia

[2019-03-07 05:29] bhushan23 commented on #17738
@vishwakftw @soumith
I agree with the [comment](https://github.com/pytorch/pytorch/issues/14147#issuecomment-439631144) but, consistent behavior across devices is also important.

another point is, consistency with NumPy- we are always pushed to have NumPy-like behavior for portability, in such case, returning first occurence is preferable.
[NumPy's argmax](https://docs.scipy.org/doc/numpy/referen

[2019-03-07 06:01] SsnL commented on #17738
There is no easy way to guarantee consistency across device, especially with parallelism-heavy device like GPUs, and many GPUs requiring different launching configs.

[2019-03-07 06:34] zhuyangda commented on #17113
Me too, everything seems all right with the log has stoped.
It is difficult to determine what is the cause of the error.

[2019-03-07 07:12] vishwakftw commented on #12908
Yes, pivoting is a different strategy of obtaining the decomposition. We don’t provide the pivot information anyways, so the API is just the same as potrf - as far as PyTorch is concerned and is buggy too.

[2019-03-07 07:16] FabianIsensee commented on #16831
Thank you @ngimel for investigating this! If there is anything I can do to help, I'd be happy to do so. This bug is hindering some experiments and it would also be in my interest to get it solved relatively quickly

[2019-03-07 09:12] ArutyunovG commented on #15630
Now some time is over after successfull build with CUDA 10.1, so I can finalize and write the test results here.
At my workplace we tested our caffe2-based solutions with CUDA 10.1 on GTX and RTX, they worked.

Build environment we used

Windows 10
MSVC 19.10.25017.0
CUDA 10.1
cudnn 7.5.0
Python 3.5.2

Plese note, that we added CMake option

`-DTORCH_CUDA_ARCH_LIST="6.1 7.5"`

As a result, compila

[2019-03-07 09:32] enoonIT commented on #17680
Sure, it's 3.5.2

(running:)
[code]

[2019-03-07 09:39] hwijeen commented on #17738
Thank you for the reference and discussions!

How about inconsistency across different machines? In the above example, the argmax results for two cpu tensors are different.
I also report that the results(argmax with same cpu tensor on different machine)were the same for most tensors and I could not find any regularity in the tensors that results in the inconsistency.

Is there randomness involved

[2019-03-07 10:19] Miladiouss commented on #9536
sudo rmmod nvidia_uvm
sudo rmmod nvidia
sudo modprobe nvidia
sudo modprobe nvidia_uvm

[2019-03-07 10:23] peterjc123 commented on #17711
[code]

[2019-03-07 10:27] peterjc123 commented on #17711
Precompiled version (Release only) :
[code]

[2019-03-07 10:34] frizk123 commented on #10205
I am trying. But ...

[2019-03-07 13:33] t-vi commented on #17714
PyTorch master should have NNPack support all right and uses it for convolutions (this was https://github.com/pytorch/pytorch/pull/15924).
Could you be more specific in what you find lacking, I'd be glad to improve things.

[2019-03-07 13:34] youkaichao commented on #14870
I have run into the same problem. But the GPUs are all empty, except that 11MB memory is used (no process running).

The code is easy to reproduce:
[code]

After printing
[code]
it hangs.

But it works fine with `gloo`.

[2019-03-07 13:37] youkaichao opened #17745 "distributed data parallel, gloo backend works, but nccl deadlock"
I have run into the same problem as #14870 .  Because I cannot reopen the issue, I opened a new issue. But the GPUs are all empty, except that 11MB memory is used (no process running).

The code is easy to reproduce:
[code]

After printing
[code]
it hangs.

But it works fine with `gloo`.

[2019-03-07 13:51] stefanonardo opened #17746 "Assigning a slice of the same tensor is not consistent on GPU"
## 🐛 Bug

I apologize for the title but I do not know how to briefly describe this kind of situation, the code will speak for itself.

## To Reproduce
[code]

## Expected behavior

We expect that the function `new_tensor` will produce always the same new tensor. Every time I run the script there are thousands of different elements between the two tensors and the output is not even consistent betwe

[2019-03-07 13:58] charles-bu commented on #9536
hi,

thank you so much for your support.

however, I may still not be able to use your command, as my system is WIN10.

meanwhile, I spent last 2 days to get the problem solved.

The problem may be caused by my updating the Nvidia driver last month. Since it could bring more trouble to roll back to the older version, I kept updating the Nvidia these days. Once the March 6 version has been updated,

[2019-03-07 14:43] USTClj opened #17749 "Cuda10 corresponds which version of cudnn on ubuntu 16.04 equipped with RTX2080Ti?"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

[2019-03-07 14:44] USTClj commented on #17749
I want to use pytorch 1.0, could someone give some advice? Thank you!

[2019-03-07 14:49] #17749 closed

[2019-03-07 15:04] surgan12 opened #17750 "torch.max and torch.min inconsistent on cpu/gpu for tensors with zero elements."
###
On cpu:
`g = torch.rand(0,4)`
`torch.max(g)`
###
Behaviour:
`RuntimeError: invalid argument 1: tensor must have one dimension at /pytorch/aten/src/TH/generic/THTensorEvenMoreMath.cpp:59`

On  Gpu:
`g = torch.rand(0,4).cuda()`
`torch.max(g)`
###
Behaviour:
`tensor(-inf, device='cuda:0')`

Expected Behaviour on GPU:
Some error or an empty tensor as i feel the max/min of a set should belong in th

[2019-03-07 15:13] denistarasov commented on #13728
I solved similar problem by adding `.cuda()` after `nn.LSTM` initialization.

[2019-03-07 15:50] wranai opened #17751 "Integers to negative integer powers are handled incorrectly (both CPU and CUDA)"
[code]

NumPy handles it nicely:

[code]

PyTorch on CUDA freaks out irrecoverably:

[code]

PyTorch on CPU crashes with a C++ runtime error:

[code]

[2019-03-07 17:50] danpovey commented on #17663
In a big public project such as PyTorch, it's not enough to have
"note-to-oneself" types of documentation, such as a developer would write
as a note to their future self to disambiguate something.  It needs to be
documentation that can be understood by someone who is reading that class
header for the first time and trying to understand how things work.

Even your response to me, that the "type and

[2019-03-07 18:31] HapeMask commented on #17229
I also ran into this issue when I was explicitly passing dim=-1 expecting cross() to use the last axis. It was using the last axis except when my batch size (which changes each iteration) was exactly 3 in which case it would take the cross product over the first axis and give the wrong result.

[2019-03-07 18:41] pietern opened #17757 "Device agnostic gradient reduction"
There are separate implementations for the distributed data parallelism for CUDA and CPU tensors.

The CUDA one has evolved quite a bit and includes:
* Dynamic bucketing of gradient tensors to reduce the number of reduction calls
* Start reduction when a bucket is full (i.e. all gradients participating have been computed)
* Handling of fp32 and fp16 gradients
* Handling of multiple model copies ac

[2019-03-07 18:47] bhushan23 commented on #17663
Please feel free to send a PR

[2019-03-07 18:55] soumith commented on #17663
@danpovey the person who responded (bhushan23) was also probably just digging into the code, on your behalf and trying to clarify things. He contributes to PyTorch for fun.

me and my team mates deserve the blame.
PyTorch's internals are in a heavy state of flux, as we merge many parts of Caffe2, ATen and PyTorch csrc.
The structure `Variable` itself is being eliminated in a few refactor PRs, and

[2019-03-07 19:02] borisfom commented on #17697
See also https://github.com/pytorch/pytorch/issues/17606

[2019-03-07 19:13] danpovey commented on #17663
Oh OK, thanks.
I did make a PR here
https://github.com/pytorch/pytorch/pull/17761
just to clarify that and something else that was unclear to me from reading
the code.

I did like the fact that at::Tensor was distinct from
torch::autograd::Variable-- it's nice to have a simple object that you feel
you can understand, that is separate from the autograd machinery.

On Thu, Mar 7, 2019 at 1:55 PM Sou

[2019-03-07 19:28] eskjorg opened #17765 "Default forward method for ModuleList and ModuleDict"
## 🚀 Feature
Add default `forward()` methods for `nn.ModuleList` and `nn.ModuleDict` that returns list/dict of item-wise forward.

## Motivation

At several places in my projects, I have code like the following:

[code]

or like

[code]

The classes `NetworkHeads` and `TaskHeads` are necessary since ModuleList and ModuleDict doesn't come with their own forward methods. Although being only 3 lines

[2019-03-07 20:52] zhangyu2ustc opened #17773 "how to make dataloader return multiple tensors each time"
## 🚀 Feature

I am working on medical image analysis, in which for data sample (i.e. medial image) it contains multiple samples (data + label) for training. How can I write my own dataset and dataloader to extract all the tensors from one image?

## Motivation
Here is my definition of the dataset:
class HCP_taskfmri_datasets(Dataset):
    ##build a new class for own dataset

    def __init__(self,

[2019-03-07 20:53] Strideradu opened #17774 "RuntimeError: cuDNN error: CUDNN_STATUS_EXECUTION_FAILED when batch size is too large"
## 🐛 Bug

Got the RuntimeError: cuDNN error: CUDNN_STATUS_EXECUTION_FAILED when execute a CNN model. It only appears when I have multiple GPU and the batch size is too large ( for my task it is ok for 128 but not 256).

And the GPU memory still has some space

[code]

## To Reproduce

[code]

## Expected behavior

## Environment

Please copy and paste the output from our
[environment collection sc

[2019-03-07 20:56] gchanan commented on #17663
Two things I'd add:

1.
[code]

This is indeed a bad comment; if you look through the history you'll see it replaced a function that was actually changing the `type` (`Type`) of a Tensor/Variable.

2.

[code]

Hopefully this entry on the wiki explains what is going on here:
https://github.com/pytorch/pytorch/wiki/Writing-Python-in-cpp-(a-manifesto)

[2019-03-07 21:11] SsnL commented on #17773
#14705 will support something like your proposed snippet.

However, in your case, your `__len__` should really be `len(self.fmri_files) * 170` as your have `170* num_files` samples. But that will cause you to read the same file 170 times, which is not quite efficient. So I would suggest just use a inner loop to loop over the `170` samples fetched each time.

[2019-03-07 22:10] fritzo commented on #7733
Gosh I find `Tensor.__hash__()` quite convenient. While `Tensor.__hash__()` is incorrect for dicts with arbitrary keys (in which case `id(tensor)` can be used instead), it is perfectly correct for dicts with only tensors as keys (proof: `__eq__` is only called on hash collision, but `Tensor.__hash__()` hashes by id, hence there will never be a hash collision).

It seems reasonable to me to support

[2019-03-07 22:43] xzhu1900 commented on #17609
After successfully build pytorch in windows, I can repro this issue locally. The fix is currently in PR (https://github.com/pytorch/pytorch/pull/17778) for code review.
Thanks!

[2019-03-07 23:43] mcarilli commented on #17757
stashing random thought for visibility:  On paper, the logic to discover/establish a bucket structure is totally orthogonal to the logic that then uses that bucket structure to kick off allreduces.

[2019-03-08 00:50] bhushan23 commented on #17000
@colesbury @gchanan while going over PR @vishwakftw pointed out regarding checking if row exists in a matrix ([here](https://github.com/pytorch/pytorch/pull/17733#discussion_r263627816)). Certainly, this feature is nice to have, but differs from NumPy's behavior which checks if any one element exists or not.

One option is to support both the operation.
default: Numpy like (any one element present

[2019-03-08 01:44] SimLeek commented on #17231
Yeah. Sorry it took so long. I'll be submitting a PR soon.

[2019-03-08 02:08] vishwakftw commented on #17207
This has been merged with master.

[2019-03-08 02:08] #17207 closed

[2019-03-08 02:13] peterjc123 commented on #17609
@xzhu1900 Thank you so much. I'll try to let it go through all the tests.

[2019-03-08 03:49] VCBE123 opened #17793 "RuntimeError wen model.eval()"
## ❓ Questions and Help

when I  evaluate the model after trained one epoch. I got this essue.

[code]

[2019-03-08 04:26] ezyang commented on #17712
@smessmer @bwasti All the constructor refactoring we're doing means that many operators don't have a protobuf dependency anymore, right?

[2019-03-08 04:39] sidazhang commented on #16717
Update: my particular issue was due to denormal floats

1. torch.set_flush_denormal(True)
https://github.com/pytorch/pytorch/pull/5294

And by adding exports
2. `export KMP_AFFINITY=granularity=fine,compact,1,0`, `export KMP_BLOCKTIME=1`

[2019-03-08 04:43] sidazhang commented on #14033
I don't think it is just denormal floats here. Flushing denormal floats apply to CPP frontend equally as the python frontend

@XiaobingSuper Can you use the autograd profiler in both python and CPP?

Python autograd profiler
https://pytorch.org/docs/stable/autograd.html#torch.autograd.profiler.profile

Here is the example of the CPP profiler
https://github.com/pytorch/pytorch/pull/16580

[2019-03-08 04:45] DHZS commented on #15054
I found a workaround for multi-scale training. Just use `torch.backends.cudnn.benchmark = True` and `torch.backends.cudnn.benchmark = False` to wrap your dilated conv operation. Like this:
[code]

[2019-03-08 05:35] leemgs opened #17794 "[CI] Is approval of reviewers reasonable while one of CI facilities is failure?"
I wonder about the review and merging process of the Pytorch repository. What is a review sequence between the CI facility(robot) and the reviewers (developer)?

For example,
1. Submitting PR --> CI bot inspects the PRs --> Reviewer try to review the code of the PR --> Then, Reject or Accepted --> Merging or Abandoned
1. Submitting PR --> CI bot inspects the PRs --> Reviewer try to review the code

[2019-03-08 06:52] cpuhrsch commented on #16717
@sidazhang - can we consider the regression as resolved for your purposes?

[2019-03-08 07:50] lopuhin commented on #16717
FWIW steps outlined by @sidazhang in
https://github.com/pytorch/pytorch/issues/16717#issuecomment-470802536 do not affect the timings for me posted in the first comment. Also only the issue with OMP_NUM_THREADS=1 is relevant for 1.0.1, performance when using all threads is fixed in 1.0.1, thanks! I updated the top comment to reflect this (but it was mostly about OMP_NUM_THREADS=1 in any case).

[2019-03-08 08:37] MENGHAH commented on #1214
I use the command like :

`conda install pytorch-cpu torchvision-cpu -c pytorch`

but produce the same error like:

`CondaHTTPError: HTTP 000 CONNECTION FAILED for url <https://conda.anaconda.org/pytorch/linux-64/pytorch-cpu-1.0.1-py3.6_cpu_2.tar.bz2>
Elapsed: -

An HTTP error occurred when trying to retrieve this URL.
HTTP errors are often intermittent, and a simple retry will get you on your way

[2019-03-08 08:39] Fangyh09 opened #17796 "[Caffe2] install error"
I try `python setup.py install`, but encountered, what are the possible problems?
[code]

Build info
[code]

[2019-03-08 08:48] tippisum opened #17797 "Non-coherent result for C++ with multithreading and GPU"
## 🐛 Bug

When a script module is loaded in C++ and used in a multithread environment, the result of GPU forwarding is non-deterministic, even if one assigns each thread a seperate module instance.
This behavior does not appear when running in single thread environment, or with Module::forward() call locked, or with CPU backend.

## To Reproduce

Steps to reproduce the behavior:

1. Taking a pretr

[2019-03-08 08:50] HobbitLong commented on #4115
Is there anyone still working on this thread?

[2019-03-08 09:15] tchaton commented on #4311
Interested by that two.

[2019-03-08 12:47] Ricocotam commented on #711
Hi, any update on this ?

Does anyone have a link to extend RNNCells ?

If needed, I'd happy to help recoding what's been proposed

[2019-03-08 13:50] peterjc123 commented on #16898
It is because you are using 32 bit Python. Closing.

[2019-03-08 13:50] #16898 closed

[2019-03-08 13:52] peterjc123 commented on #16757
It is now fixed in master.

[2019-03-08 13:52] #16757 closed

[2019-03-08 13:52] stefbraun opened #17798 "torch.nn.CTCLoss not reproducible on GPU"
Updated again.

The inclusion of the CTC loss function in pytorch is great. However, the loss may be deterministic or non-deterministic under some conditions. In typical speech training scenarios, it could actually happen that for some batches the CDUNN algorithm is used (which can be set to deterministic or non-deterministic modes), and for some batches the CUDA algorithm is used (which is always

[2019-03-08 13:57] stefbraun commented on #17798
Correct code:

import torch
import torch.nn as nn

torch.backends.cudnn.deterministic = True
torch.backends.cudnn.benchmark = False

all_devices = ['cpu', 'cuda']

for device in all_devices:
    torch.manual_seed(0)
    log_probs = torch.randn(50, 16, 20, device=device).log_softmax(2).detach().requires_grad_()
    targets = torch.randint(1, 20, (16, 30), dtype=torch.long)
    input_lengths = torch

[2019-03-08 14:28] wjp0408 opened #17800 "[Caffe2] cudnn mismatch"
## ❓ Questions and Help
### Hi,  Everyone.
This is my system config:
### cuda: 8.0    cudnn: 6.0.21
### Environment :  A   virtual environment,   with
###                     python2.7 in Anaconda2,     cudatoolkit: 8.0,     cudnn: 7.1.3

###  When I install caffe2 from **source code**, and run codes based on it, **i met following issue:**
![image](https://user-images.githubusercontent.com/3402493

[2019-03-08 14:43] tomahawk810 opened #17801 "torch.nn.CrossEntropyLoss (and related losses): misleading regarding ignore_index"
## 📚 Documentation

I find the sentence:

misleading.

An exception should be mentionned for the value of `ignore_index`. If my understanding is correct, any value is allowed for `ignore_index`, which will then be allowed as a value in `target`.

[2019-03-08 14:54] peterjc123 commented on #17800
I guess that you'll need cudatoolkit-dev for building PyTorch.

[2019-03-08 15:10] wjp0408 commented on #17800
Thanks for your quick reply !
And I'm sorry about that I'm new here ... I don't know how to use cudatoolkit-dev when  building PyTorch... Do I need to change some options when Cmake? Can you tell me more about it...?  Thanks...

[2019-03-08 15:15] huangbiubiu commented on #3858
A more general version inspired by @harpone To apply padding on a 3-d image (not padding on the channel dimension):

[code]

Performance: similar to original implementation, expectedly.

[code]

[2019-03-08 15:29] sklipnoty commented on #15762
I seem to have the same problem.

(veenv) $ python2 detectron/tests/test_spatial_narrow_as_op.py
WARNING:root:This caffe2 python run does not have GPU support. Will run in CPU only mode.
CRITICAL:root:Cannot load caffe2.python. Error: dlopen(DensePose/DensePose/veenv/lib/python2.7/site-packages/caffe2/python/caffe2_pybind11_state.so, 10): Library not loaded: /usr/local/opt/libomp/lib/libomp.dylib

[2019-03-08 15:49] peterjc123 commented on #17800
conda install -c conda-forge cudatoolkit-dev

[2019-03-08 18:37] xzhu1900 commented on #17609
Thanks @peterjc123 for verifying this 😃

[2019-03-08 18:38] #15319 closed

[2019-03-08 19:19] martinruenz commented on #17492
I would like to add that it would be nice to document the usage of `-D_GLIBCXX_USE_CXX11_ABI` here: https://pytorch.org/cppdocs/installing.html

Currently the usage of `find_package(Torch REQUIRED)` is likely to break the linking process to other third party libraries and the resulting error messages can be misleading, hard to debug and ultimately developers can spend a lot of time to understand w

[2019-03-08 19:34] suo commented on #17652
Thanks for the report! We'll look into this and get back to you

[2019-03-08 19:35] suo commented on #17655
Just to confirm, you tried this on master?

[2019-03-08 19:36] suo commented on #17662
thanks, we'll look into this!

[2019-03-08 20:07] ezyang commented on #17794
Hi @leemgs, in general, it's OK for people to approve PRs even though CI is not passing; since (1) CI is flaky so often the failures are spurious, and (2) it is generally the responsibility of the patch author (and the person who merges it) to ensure that there are no real failures.

We also have a designation "merge this please" which means "this is passing everything, please merge it now." You'r

[2019-03-08 20:07] #17794 closed

[2019-03-08 20:43] suo commented on #17211
Going to close this as we don't have enough reproduction information to investigate. Feel free to reopen as you see fit!

[2019-03-08 20:43] #17211 closed

[2019-03-08 20:43] suo commented on #17212
Going to close this as we don't have sufficient reproduction information. Feel free to reopen!

[2019-03-08 20:43] #17212 closed

[2019-03-08 20:48] #16097 closed

[2019-03-08 20:50] suo commented on #16672
@zou3519 did you ever get a chance to look at this? Should we reassign

[2019-03-08 21:19] fritzo commented on #4115
@neerajprad said this was already available in aten and that it might not be much work to start using that version in `torch.distributions.Categorical`.

[2019-03-08 21:27] musikisomorphie commented on #16594
I did some further investigation this week.  torch.cuda.synchronize( ) is a simple wrapper of cudaStreamSynchronize(), which triggers the gemmSN_TN_kernel. The reason why it triggers this kernel is beyond the scope of my cuda understanding, I can barely find any clue online. But as long as we don't use synchronize( ), this rare inefficient case can be avoided.

[2019-03-08 21:37] suo commented on #17688
This would be decently easy, since it's already in the c++ module type. @laughmetal if you'd like to work on it, we would be happy to review a PR! 😄

[2019-03-08 21:40] suo commented on #17534
@houseroad do you mind taking a look at this?

[2019-03-08 22:02] JackWindows opened #17819 "Dilated Convolution 2D runs a lot slower in C++ TorchScript"
## 🐛 Bug

If a model contains dilated convolution and uses JIT trace to export to TorchScript Module, the exported module will run slower in C++ inference than in Python on CPU.
For an internal model the slow down is significant, where Python inference takes ~10s with `OMP_NUM_THREADS=2`, and C++ inference takes ~31s.

## To Reproduce

Steps to reproduce the behavior:

1. Use the following code to

[2019-03-08 22:03] zou3519 commented on #17819
Maybe MKLDNN is not being used in libtorch but is being used in pytorch?

[2019-03-08 22:08] HobbitLong commented on #4115
Thanks. I found torch.distributions.categorical.Categorical, but seems there isn't a flag to turn on the AliasMethod option. Besides, how does this relates with aten?

[2019-03-08 22:23] JackWindows commented on #17819
Do you mean for the `thnn_conv_dilated2d_forward` operation?
If you zoom in the tracing, you can actually see the `mkldnn_convolution` operation afterwards, so I assume both python and C++ are using mkldnn?
Actually the C++ mkldnn operations are faster than Ptyhon's.

![image](https://user-images.githubusercontent.com/1560135/54059346-cb33a400-41c6-11e9-93f2-9f9b3aa45d16.png)

[2019-03-08 22:23] zou3519 commented on #12908
Yes, let's go for it (removing pstrf) because it doesn't work and potrf provides the functionality. We should still keep some bits of pstrf aroudn and add a runtime error just in case there are users who use it (our hypothesis is that there are none) so they know to switch to `potrf` and can complain to us if they have opinions

[2019-03-08 22:32] sidazhang commented on #17819
The offending op (thnn_dilated2d_forward) is a torch op. Seems like somehow it is slower in CPP frontend.

So neither python nor CPP are using MKL for this op

[2019-03-08 22:34] neerajprad commented on #4115
The class in `distributions.categorical` is only a Python wrapper that calls `torch.multinomial` when asked to sample. Currently, `torch.multinomial` would delegate to the c++ implementation in aten's [THTensorRandom.cpp](https://github.com/pytorch/pytorch/blob/5737c5259c6d6b3e74c002c584149c718c0fc823/aten/src/TH/generic/THTensorRandom.cpp#L247), but there are also [multinomialAliasSetup](https://

[2019-03-08 22:53] zou3519 commented on #17793
Please provide some more context.

[2019-03-08 23:12] patrickgrad opened #17825 "Sparse MM not working right"
I am trying to do a sparse * dense matrix multiply in the following way, "c = a.mm(b)" (where a is sparse, b is dense) and c is coming out as sparse. So then I try to convert it to dense using .to_dense() but it says that's not implemented for CUDA. So I transfer to the cpu using .cpu(). But then it says its not a sparse tensor, so I think great, I transfer it back but CUDA is yelling at me again

[2019-03-08 23:23] martinruenz commented on #14955
I am having the same issue using the C++ API at the moment. I also used `USE_OPENCV=1` when compiling and I suspect that this might cause the problem. I'll recompile without the flag and see if it helps.

[2019-03-08 23:31] #17106 closed

[2019-03-08 23:40] KeremTurgutlu commented on #13836
Yes you may follow exactly the same steps for alexnet conversion from pytorch to caffe2. Which gives the same outputs as expected both in pytorch and caffe2 backend. Here is the link: https://pytorch.org/docs/stable/onnx.html. This issue with superres might be due to some ops like pixel_shuffle.

[2019-03-09 01:35] bhushan23 commented on #17466
My above comment is invalid now.
We are indeed copying the dataset and storing indices as a list instead of tensor to ensure index indexing as opposed to tensor based indexing. Note that samplers already returns indices as a list and hence have no issues.

[2019-03-09 01:47] wjp0408 commented on #17800
Thanks for explaining that....
But I got this error when I use this command...
![image](https://user-images.githubusercontent.com/34024933/54064547-3bd2d300-4250-11e9-98d4-a1a90ef2d086.png)
![image](https://user-images.githubusercontent.com/34024933/54064552-48efc200-4250-11e9-920a-7c9c6137e357.png)

[2019-03-09 01:59] laughmetal commented on #17688
You are right. It's probably just a [binding](https://github.com/pytorch/pytorch/blob/a2381fa346a08dd9be3ef7942efb048d789cbee1/torch/csrc/jit/script/init.cpp#L689) decision. Should we change the binging, or should we add a new session to the doc after [this](https://pytorch.org/docs/stable/jit.html#torch.jit.ScriptModule.save)?

[2019-03-09 02:04] HobbitLong commented on #4115
Nice, thanks for your explanation. Already got this idea, but not sure how to get it actually work. If there is an example, that would be tremendously helpful.

[2019-03-09 02:23] cnoco1at3 opened #17832 "Exported Upsample breaks ONNX shape inference"
Hi, in onnx/onnx#1320 upsample was supported for upsample. However, the function explicitly require attribute 'scales', while in latest PyTorch this scales attribute is treated as an initializer with a random name. This breaks the ONNX's shape inference. Any idea?

[2019-03-09 02:33] cnoco1at3 commented on #17832
Sorry this seems to be fixed by onnx/onnx#1467 already, upgrading to the latest onnx fixes the problem.

[2019-03-09 02:33] #17832 closed

[2019-03-09 03:38] keunwoochoi commented on #16885
@apaszke I made a PR, but I think it'd be nicer if there's a link for the code where people can see what kinds of attributes `DataParallel` adds so that they can avoid using the same name.

[2019-03-09 05:42] peterjc123 commented on #17800
Sorry, it was late yesterday so I didn't have too much time to explain it clearly.
This error occured because you have system-level cuda and cudnn installed, and then you want to override that with one cudnn in the virtual environment. While the right cudnn library got chosen, it may not choose the right header for cudnn. To resolve this problem quickly, I suggested you use the cuda in the virtual

[2019-03-09 05:57] vishwakftw commented on #12908
I'll send in a PR with a deprecated warning for `pstrf` and wait for the next release. After that, we'll remove it.

If you think we should just remove it, and just keep a hollow `pstrf` function which basically raises a `RuntimeError` when used, that's fine by me too.

[2019-03-09 07:40] Sierkinhane opened #17834 "cuda error"
terminate called after throwing an instance of 'c10::Error'
  what():  CUDA error: unknown error (malloc at /home/hane/下载/pytorch/c10/cuda/CUDACachingAllocator.cpp:249)
frame #0: c10::Error::Error(c10::SourceLocation, std::__cxx11::basic_string<char, std::char_traits<char>, std::allocator<char> > const&) + 0x6a (0x7f59cf75415a in /home/hane/下载/pytorch/torch/lib/libc10.so)
frame #1: <unknown functi

[2019-03-09 07:41] Sierkinhane commented on #17834
and torch::cuda::is_available is True, I

[2019-03-09 07:43] Sierkinhane commented on #17834
int main() {
  torch::Device device("cpu");
  if (torch::cuda::is_available()){
  	cout << torch::cuda::is_available() << endl;
    device = torch::Device("cuda:0");
  }

  torch::Tensor t = torch::rand({2, 3, 224, 224}).to(device);
  ResNet<BottleNeck> resnet = resnet101();
  resnet.to(device);

  t = resnet.forward(t);
  std::cout << t.sizes() << std::endl;
}

it was ok in cpu, but error in cuda

[2019-03-09 08:01] wjp0408 commented on #17800
Thanks for your patience and help !
 I follow your suggests (delete the system-level cudnn files) and solved it.
Have a nice day.：）

[2019-03-09 08:30] lopuhin opened #17835 "PyPy support"
## 🚀 Feature
Support pytorch from PyPy -- a fast, compliant alternative implementation of the Python language (http://pypy.org)

## Motivation

While pytorch itself probably won't benefit much from PyPy JIT, but often pytorch is used as a part of larger application, where using PyPy can have speed benefits, e.g. for evaluation, data generation, or other activities.

## Pitch

(A clear and concise

[2019-03-09 09:48] ys0823 commented on #15476
I have the same problem with you, could you share with me the solving methods?

[2019-03-09 11:24] Sierkinhane commented on #14270
i met the same problem, have you solved it?@IcewineChen

[2019-03-09 11:26] Sierkinhane commented on #17834
Environment

    PyTorch Version (e.g., 1.0): 1.0
    OS (e.g., Linux): ubuntu 16.04
    How you installed PyTorch (conda, pip, source): conda
    Build command you used (if compiling from source): following the guide on official page
    Python version:3.5
    CUDA/cuDNN version: cuda 9.0 + cudnn7.0
    GPU models and configuration:
    Any other relevant information:

[2019-03-09 12:40] VCBE123 commented on #17793
I use 4 gpus with torch.nn.DataParallel, and set the batch size to 10. I  get the same error.
Sorry to that.

[2019-03-09 12:41] #17793 closed

[2019-03-09 12:51] VCBE123 commented on #17793
But It was strange when I set the batch size to 40 with 4 GPUs,I got the same error in evalue, my test set have 2410 images.  So the program crashed :
[code]
the tensors have different shaoe:   [3,] [3, ] [3,] [1,]

[2019-03-09 14:40] JiqiangLiu opened #17839 "nn.parallel.DistributedDataParallel"
Hi, how to work for nn.parallel.DistributedDataParallel when we training using multi-gpus? Could I get the grads from different gpus respectively before reduction? How to delay the reduction? My pytorch version is 0.4. Thanks

[2019-03-09 15:04] soumith opened #17840 "Windows code with hooks getting stuck in v1.0.1"
## 🐛 Bug

@jph00 reports that fast.ai lesson code gets stuck in Windows with v1.0.1

- full thread is here: https://forums.fast.ai/t/lesson-1-notebook-stuck-in-create-cnn/37486

[code]

cc: @peterjc123 can you look / replicate / debug

cc @ezyang @gchanan @peterjc123

[2019-03-09 15:35] xiaocc612 commented on #17233
I'm running pytorch on Windows 10 with cudatoolkit version cuda_10.1.105_418.96_win10. I have Nvidia CUDA 10 toolkit and the latest display driver installed. When I do:

import torch
torch.cuda.is_available()

And it returns no error.How to solve this?

[2019-03-09 16:09] peterjc123 commented on #17233
@xiaocc What do mean by saying "it returns no error"?

[2019-03-09 16:37] pgromano opened #17842 "[feature request] Make distribution sample consistent with rand"
## 🚀 Feature
Change `sample_shape` argument in `sample` (`torch/distributions/distributions.py`) to `*sizes` for consistency with `torch.rand`.

## Motivation

Within `distributions`, the `sample` attribute takes `sample_shape` as a tuple. Whereas in `torch.rand` and `torch.randn` samples are generated by passing `*sizes` is passed as variable length arguments. This creates inconsistency and seems

[2019-03-09 17:03] ezyang commented on #17834
Can you report the output of `nvidia-smi` on your machine?

[2019-03-09 17:32] Driesssens opened #17843 "Binomial.log_prob returns -inf when actual probability is 1 if logit is large"
## 🐛 Bug

When a `Binomial` instance is initialized with a large logit, effectively setting the distribution mean to 1, `log_prob(1)` returns `-inf` whereas it should return `0`.

This is likely to occur when a neural net outputs the logit and tries to push for a probability of 1.

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior
Expected behavior should be as is its

[2019-03-09 18:24] martinruenz commented on #17834
This might be useful:
https://github.com/pytorch/pytorch/issues/13541

[2019-03-09 19:26] SsnL commented on #17843
wait, how are you able to only specify one parameter of a binomial? both n and p are required.

[2019-03-09 19:54] cyzanfar commented on #11201
Hey!
I am still getting the same error `too many open files`.
Running on CPU on my Mac OSX.

traceback:
[code]

I did include the proper configurations:
[code]

thanks

[2019-03-09 20:22] Driesssens commented on #17843
n=1 by default.

[2019-03-09 20:23] SsnL commented on #17843
but n is the first argument.

[2019-03-09 21:00] Driesssens commented on #17843
My bad - adapted the example code to use the named `logits` arguments.

[2019-03-09 22:09] Suraj2794 commented on #4101
I started having this issue when i removed gpu form my machine.
Did sudo apt-get purge nvidia* to get pytorch working.

[2019-03-09 23:42] sausax opened #17845 "Build option -DBUILD_SHARED_LIBS=OFF not generating libtorch.a"
I am not able to generate static library libtorch.a by using -DBUILD_SHARED_LIBS=OFF cmake option. Is there some other cmake option that needs to be enabled for it ?

[2019-03-10 01:24] neerajprad commented on #4115
@HobbitLong - I don't have a ready example, and this is my best guess as to what changes might be needed. You could probably grep for `multinomial` and see what plumbing will be required to set this up. I'll take another look at this tonight, and throw something up or let you know if I run into any roadblocks.

[2019-03-10 01:53] peterjc123 commented on #17845
Please try -DTORCH_STATIC=ON

[2019-03-10 02:55] soumith commented on #17845
closed via peterjc123's comment

[2019-03-10 02:55] #17845 closed

[2019-03-10 03:06] soumith commented on #17839
please use https://discuss.pytorch.org for questions

[2019-03-10 03:06] #17839 closed

[2019-03-10 03:08] sausax commented on #17845
Tried `cmake -DTORCH_STATIC=ON` and `cmake  -DBUILD_SHARED_LIBS=OFF -DTORCH_STATIC=ON`. Still not getting libtorch.a.

[2019-03-10 03:09] soumith commented on #17845
it's pretty much how we build it: https://github.com/pytorch/builder/blob/master/manywheel/build_common.sh#L125-L135
See the rest of invocations in that shell script as well.

[2019-03-10 04:31] michaelyyq opened #17848 "torch.distributed.launch receives `RuntimeError: ProcessGroupNCCL does not support barrier`"
## 🐛 Bug

### Environment:
- pytorch 1.0.0.dev20181009
- cuda 9.0
- cudnn 7.1
- python 3.6.5
- TITAN V

### Description:
When I run the following, `RuntimeError: ProcessGroupNCCL does not support barrier` occurs.
`python -m torch.distributed.launch train_net.py`
[code]

[2019-03-10 09:10] hitlk commented on #16559
same issue in pytorch 1.0.1 and cuda 10

[2019-03-10 10:17] Tom2718 commented on #5013
Came across [this library](https://github.com/Lyken17/pytorch-OpCounter) which also counts number of parameters and FLOPs used by a model given an input.

[2019-03-10 11:21] serhii-havrylov opened #17849 "Passing tensor to c++ extension function changes its options"
## 🐛 Bug ?

Hello,

I have very simple c++ function:
[code]
which I use via JIT compiling extensions functionality:
[code]
And here is the output:

[code]

Is this expected behaviour? Why does passing tensor to the c++ function change its options (requires_grad in particular)?

 - PyTorch Version is 1.0.1

[2019-03-10 11:35] Driesssens commented on #17843
By the way, this also happens at the other end of the spectrum:
[code]
The problematic value lies somewhere between 88 and 89:
[code]

[2019-03-10 12:06] danFromTelAviv commented on #17796
seconds...
I tried to install pybind11 [manually](https://pybind11.readthedocs.io/en/stable/basics.html) and export the path to pybind11_DIR but it didn't help...

[2019-03-10 15:47] apaszke commented on #17765
I'm a bit ambivalent. I can't see why parallel composition would be the right choice when you have e.g. an option of composing those modules sequentially. It's ambiguous, so I don't think we should implement it. As you've noticed you only need 3 lines to implement this in any project that needs this.

[2019-03-10 16:04] t-vi commented on #17849
Yes, this is expected behaviour. It's not the passing to C++ that does it, but rather the definition of `Tensor::options()`, which only reflects selected parts of the options. You need to consult `Tensor::requires_grad()` if you want to determine whether it requires grad or not.
This is on purpose: The intended use for `Tensor::options()` is to create new tensors compatible with existing ones (sam

[2019-03-10 16:17] antoleb commented on #17655
Yes, commit hash was 6a297b86754324d850d1595947c5e5559b51acc2

[2019-03-10 16:18] danFromTelAviv commented on #17714
[code]
on arm linux fails.
( this is also true of qnnpack - which would also be nice to have ).

There is a caffe2 build .sh file but it also has other issues.

[2019-03-10 16:26] #17466 closed

[2019-03-10 16:45] serhii-havrylov commented on #17849
Hi @t-vi!
Thank you for clarification. Don't you think that this behaviour can be somewhat misleading sometimes? For example:

[code]
this code will produce the output:

[code]

It looks like `requires_grad` changed its value between two calls (.options() and requires_grad()).
Is there a method that returns "real" option values?

[2019-03-10 16:50] sadatnfs opened #17850 "Build fails for caffe2/CMakeFiles/caffe2.dir/__/aten/src/ATen/native/mkldnn/Conv.cpp.o; possibly MKL-DNN issue"
## 🐛 Bug

PyTorch fails to build with an issue related to MKL-DNN. I previously built MKL-DNN by `cmake`ing from their GitHub repo.

Error trace is below:

[code]

## Build command
[code]

## Environment

 - PyTorch Version (e.g., 1.0): Master branch
 - OS (e.g., Linux): Debian:Stretch
 - How you installed PyTorch (`conda`, `pip`, source): source
 - Build command you used (if compiling from source

[2019-03-10 17:34] ezyang commented on #17849
The behavior here looks wrong; if we have a TensorOptions that requires grad, we should get a requires tensor out.. So that looks like a legit bug.

I'm also pretty unhappy with `x.options()`. It's very unclear what intended semantics (does it include requires grad or not) are.

[2019-03-10 17:52] ankur6ue opened #17852 "Build error on windows"
Trying to build pytorch master on my x64 Windows machine with Python 3.7 64 bit from Anaconda and getting the following build errors:

C:\Telesens\dev\ML\PyTorch\pytorch>call "C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\VC\Auxiliary\Build\vcvarsall.bat" x64 -vcvars_ver=14.11
**********************************************************************
** Visual Studio 2017 Developer Com

[2019-03-10 18:58] t-vi commented on #17849
First: sorry, for prematurely closing this!

Of course, Edward is much more knowledgeable than me here. That said, I'm not sure what you see as the use case.

When I do `b = zeros_like(a)`, I get a non-grad-requiring tensor, and I think that `torch::zeros(a.sizes(), a.options())` is and should be the C++-equivalent.
The semantics as I always understood them were just that: *`t.options()` gives you

[2019-03-10 19:00] t-vi commented on #17714
I don't have an arm development environment other than Android, so I can't comment. Would you share the error message?

[2019-03-10 19:05] serhii-havrylov commented on #17849
I guess I just was lucky enough to work on the case that belongs to that 1% and I wrongly assumed that `options()` would return precisely the option values that tensor contains without any modifications.

[2019-03-10 20:18] t-vi commented on #17849
Out of curiosity, what is the use case?

[2019-03-10 21:06] serhii-havrylov commented on #17849
I use the c++ extensions functionality to implement some custom autograd.Function. In the code of the forward pass I allocate a tensor which later is going to be filled in by some cuda kernel. It would be convenient if the `requires_grad` variable depends on the `requires_grad` value of the input tensor. Now, I can do that with
[code]
but it looks somewhat ugly, tbh.

[2019-03-10 21:29] t-vi commented on #17849
I'm slow to understand things today, but if you are wrapping it in an `autograd.Function`, would you have to set `requires_grad` yourself? A (nonsense) example:
[code]
will give
[code]
So the requires_grad is set by the autograd function, not the creation of the tensor, which - maybe just because that's how I've worked with it - is what I would expect (it also means that you cannot easily output t

[2019-03-10 21:35] zou3519 commented on #12908
Yes, the deprecated warning sounds fine to me, thank you @vishwakftw !

[2019-03-10 21:37] zou3519 commented on #17825
Definitely sounds like there's a bug somewhere... could you provide a code snippet @patrickgrad ?

[2019-03-10 21:43] serhii-havrylov commented on #17849
You are right, `autograd.Function` looks after all those `require_grad`, my bad. For some reason, I assumed that I have to do that manually.

I believe you can, e.g.:

[code]
To my surprise, I found out that `dz` is a zero tensor. I expected None, hmm 🤔.

[2019-03-10 21:47] t-vi commented on #17849
Ah right. :)

[2019-03-10 21:48] soumith commented on #17714
@danFromTelAviv it works for me, so there must be something weird about your setup. Please paste full build log.

[2019-03-10 21:54] SsnL commented on #17849
@serhii-havrylov Yes that is a bug. See https://github.com/pytorch/pytorch/issues/12631

[2019-03-10 22:09] soumith commented on #17765
the exact `forward` methods to be specified will get controversial, because the most natural usage of ModuleList or ModuleDict are not obvious.

However, the biggest danger is that people will use the `forward` expecting it to do something smart wrt memory (or worse, do what people want which is again not obvious), but it'll default-compute all outputs.

For example, viewing a `forward` for `Modul

[2019-03-10 22:28] #17262 closed

[2019-03-10 22:43] soumith commented on #16559
this sounds like a race condition of some sort. @ezyang any ideas?

[2019-03-10 22:45] soumith commented on #17848
we've fixed this on v1.0.1 and later, I believe. Update your pytorch to a newer version, preferably from 2019.
Reopen the issue if you continue seeing the problem

[2019-03-10 22:45] #17848 closed

[2019-03-10 23:03] soumith commented on #17000
@bhushan23 seems reasonable to add default to be numpy-like and then `exact_match=True` to be checking sequence + order

[2019-03-10 23:22] soumith commented on #711
@Ricocotam see my comment here: https://github.com/pytorch/pytorch/issues/711#issuecomment-429072413

[2019-03-10 23:26] soumith commented on #17797
cc: @yf225

[2019-03-10 23:39] soumith commented on #17738
the only determinism we aim to have is hashed on device, and for CPU, single-threaded.
Even across different kinds of GPUs, all bets are off.

We cannot guarantee cross-device, cross-CPU-type determinism due to severe performance cliffs that'll result from such a constraint.

[2019-03-10 23:39] #17738 closed

[2019-03-10 23:50] soumith commented on #17746
[code]

In such an operation, there are significant data races as you are copying overlapping sets of elements. While one Tensor location is modified, another might read from it, and the ordering here will not be consistent, it'll depend on which block on the GPU gets free at what nanosecond.

We dont aim to have such an operation be ordered. There is no specified notion of correctness in this ope

[2019-03-10 23:50] #17746 closed

[2019-03-10 23:54] peterjc123 commented on #17852
Your environment is messed up. It was picking the win64 winsdk library and the x86 toolchain. Please check your PATH and your actvation script to see if there is an error there.

[2019-03-11 02:21] pf-zheng opened #17853 "Caffe2 building failure when turning off USE_OPENMP"
I modified CMakelist.txt to turn off USE_OPENMP. I change option(USE_OPENMP "Use OpenMP for parallel code" ON) into (USE_OPENMP "Use OpenMP for parallel code" OFF).  Then I got compilation error as below.

I need to to run caffe2 without using openmp for stack trace analysis. Any help on this?

[2077/2480] Linking CXX executable bin/timer_test
FAILED: : && /usr/bin/c++   -fvisibility-inlines-hidde

[2019-03-11 03:02] ezyang commented on #17849
By the way, the problem with TensorOptions is that the class was originally designed as a C++ idiomatic class to pass keyword arguments like `device` and `requires_grad` to our factory functions, but someone (quite reasonably) added `x.options()` and then we couldn't agree if this meant "exactly the set of options that would have been used to construct this tensor" or "the device, layout and dtype

[2019-03-11 03:45] luhc15 opened #17854 ".cuda() cost much more time"
when  I warp a  Tensors :
fy, fx = torch.meshgrid(torch.arrange(0, h), torch.arrange(0, w)

when running operation:
new_fx = torch.add(fx.float().cuda(), flow(0)]
new_fy = torch.add(fy.float().cuda(), flow(1)]

b is a gpu Tensor, while fx is a cpu tenor,  so I transform a into a gpu Tensor to add them. while i found .cuda() op takes a lot of time first.  why it takes too many time when a cpu tenso

[2019-03-11 03:47] luhc15 commented on #17854
also i found  A[c1, :,:,:] takes much more time than A[c1:c1+1, :,:,:,]

[2019-03-11 04:07] suo commented on #17688
I think it would be reasonable to make ScriptModule.save() and torch.jit.save() consistent. So ScriptModule.save() would either save to a buffer or a file depending on the passed argument.

[2019-03-11 04:25] Fiona522 opened #17857 "不能下载torch"
## 🐛 Bug

Try to run this command from the system terminal. Make sure that you use the correct version of 'pip' installed for your Python interpreter located at 'F:\RNN-Time-series-Anomaly-Detection-master\venv\Scripts\python.exe'.

## To Reproduce

Steps to reproduce the behavior:

1.Collecting torch
  Using cached https://files.pythonhosted.org/packages/5f/e9/bac4204fe9cb1a002ec6140b47f51affda16

[2019-03-11 04:31] ajaysg opened #17858 "RuntimeError: Only tuples, lists and Variables supported as JIT inputs, but got NoneType"
My code is

a=torch.randn(1,80,100,requires_grad=True)
torch.onnx.export(waveglow,a, "waveglow.onnx")

I am trying to export a PyTorch model to ONNX format so i can use it in TensorRT. while testing my model in PyTorch the input tensor dimension is (1,80,x) where x varies depending on the input text length(the model i am using is TTS model named waveglow)

when i try to run the above code for expo

[2019-03-11 04:34] #4250 closed

[2019-03-11 04:36] suo commented on #7717
this has been removed

[2019-03-11 04:36] #7717 closed

[2019-03-11 04:36] neerajprad commented on #4115
I tried adding the function metadata to `Declarations.cwrap` and `LegacyDefinitions.cpp`, but I haven't been able to successfully compile it. I have been having issues with trying to designate the 2nd and 3rd arguments of `multinomialAliasSetup` as return args, but the generated source is different. I am very likely doing something wrong, and will need help from someone who is more intimately fami

[2019-03-11 04:41] vishwakftw commented on #4115
I'll look into this, and get back to you by next morning if that works for you.

[2019-03-11 04:52] suo commented on #7958
This has been fixed (repros no longer fail). #17859 adds some tests confirming.

[2019-03-11 04:52] #7958 closed

[2019-03-11 04:53] suo commented on #8764
We do this now!

[2019-03-11 04:53] #8764 closed

[2019-03-11 05:04] suo commented on #12907
Closing to consolidate with #16293

[2019-03-11 05:04] #12907 closed

[2019-03-11 05:06] suo commented on #14299
Closing as the issue has been found and docs have been updated to reflect that release/debug are not ABI-compatible.

[2019-03-11 05:06] #14299 closed

[2019-03-11 05:07] #15952 closed

[2019-03-11 05:15] lianghouhao commented on #4827
Hello, I can import torch both in jupyter and console. But when i try running a python file, it failed. Do you have some suggestions? Thanks
![image](https://user-images.githubusercontent.com/41767952/54101649-bd327e80-4392-11e9-9f3d-e665340dbcae.png)

[2019-03-11 05:16] lianghouhao commented on #4827
Have you figured out this issue? I guess i met the same problem as yours

[2019-03-11 05:29] peterjc123 commented on #17857
You cannot just do `pip install torch`. Please enter the commands using the wizard in https://pytorch.org.

[2019-03-11 05:29] #17857 closed

[2019-03-11 05:54] Sierkinhane commented on #17834
thank you, I reinstalled cuda support then it worked!

[2019-03-11 05:55] #17834 closed

[2019-03-11 07:23] danFromTelAviv commented on #17714
It may be worth mentioning that I'm working on a tinkerboard ( very similar to a raspberry pi but better performance  -mfpu=neon-vfpv4 -mtune=cortex-a17 -march=armv7ve -mfloat-abi=hard) and ubuntu 18.04 - not raspbian ( although both are debian based ).
@soumith  - I saw in blogs online that people with raspberry pi ( which I assume worked for you ) could not install pytorch with nnpack and qnnpac

[2019-03-11 07:30] srasool opened #17861 "could not convert ‘Double’ from ‘c10::ScalarType’ to ‘<type error>’"
Getting few errors while building latest from source;

=======================================
`site-packages/torch/include/ATen/Dispatch.h:15:17:`` error: switch quantity not an integer
     switch (TYPE) {                                                          \
                 ^
/maskrcnn_benchmark/csrc/cpu/ROIAlign_cpu.cpp:242:3: note: in expansion of macro ‘AT_DISPATCH_FLOATING_TYPES’
   A

[2019-03-11 07:48] ftian1 commented on #8021
hello, @soumith
now Intel is starting support bfloat16 on new generation h/w. https://software.intel.com/en-us/download/bfloat16-hardware-numerics-definition

we are considering adding such support to pytorch. do you have any insight to share with us?

[2019-03-11 08:32] danFromTelAviv commented on #17714
while its running this is the procedure i'm running:

`
sudo apt update && sudo apt upgrade
`
`
sudo apt install libopenblas-dev libblas-dev m4 cmake cython python3-dev python3-yaml python3-setuptools
`
`cd ~`
`mkdir pytorch_install && cd pytorch_install`
`git clone --recursive https://github.com/pytorch/pytorch`
`cd pytorch`

`export MAX_JOBS=2`
`export NO_CUDA=1`
`export NO_DISTRIBUTED=1`
`expor

[2019-03-11 09:14] danFromTelAviv commented on #17714
so a twist in the plot :

[code]

[2019-03-11 09:32] danFromTelAviv commented on #17714
it begins:

[2019-03-11 09:34] danFromTelAviv commented on #17714
I see now that I get the same issue of no pybind that I get when i build caffe2 directly. This may have been the issue before.

[2019-03-11 09:47] danFromTelAviv commented on #17714
Scanning dependencies of target nnpack
[ 39%] Building C object confu-deps/NNPACK/CMakeFiles/nnpack.dir/src/init.c.o
[ 39%] Building C object confu-deps/NNPACK/CMakeFiles/nnpack.dir/src/convolution-inference.c.o
In file included from /root/pytorch_install/pytorch/third_party/NNPACK/include/nnpack/activations.h:25:0,
                 from /root/pytorch_install/pytorch/third_party/NNPACK/src/convolu

[2019-03-11 09:49] danFromTelAviv commented on #17714
[building pytorch arm.txt](https://github.com/pytorch/pytorch/files/2951578/building.pytorch.arm.txt)

[2019-03-11 10:03] t-vi commented on #17714
So I'm not an ARM expert (following this bug, I bought a Raspberry Pi, though, to improve) but:
[code]
looks like your arm CPU / compiler does not have neon intrinsics (enabled)?
As far as I know NNPack requires those.

[2019-03-11 10:40] 994374821 commented on #14303
How to use RePr with pytorch? Thanks

[2019-03-11 10:54] danFromTelAviv commented on #17714
:clap: Thank you.

To the best of my memory all armv7 and 64 bit arm have neon actually. specifically the tinkerboard has -mfpu=neon-vfpv4.
I'll try to remove the cflags and see if it helps maybe.

[2019-03-11 11:10] t-vi commented on #17714
Maybe the NNPACK instructions can also help: https://github.com/Maratyszcza/NNPACK

[2019-03-11 11:17] danFromTelAviv commented on #17714
looks like that was the issue. Once again - Keep it simple stupid wins. when I don't add special flags it works. I wonder if it takes full advantage of the architecture though?

Scanning dependencies of target nnpack
[ 38%] Building C object confu-deps/NNPACK/CMakeFiles/nnpack.dir/src/init.c.o
[ 38%] Building C object confu-deps/NNPACK/CMakeFiles/nnpack.dir/src/convolution-inference.c.o
[ 38%] Bui

[2019-03-11 11:18] danFromTelAviv commented on #17714
When it finishes i'll test it for run-time and see if it really comparable to nnpack-darknet / faster than the install without nnpack.

[2019-03-11 11:21] danFromTelAviv commented on #17714
qnnpack looks a bit suspicious :
[ 43%] Linking CXX executable ../../../bin/protoc
[ 43%] Built target protoc
Scanning dependencies of target qnnpack
Skipping _th_multinomial Because of Arg: Generator * (Generator*)
Skipping _th_normal Because of Arg: Generator * (Generator*)
Skipping _th_normal Because of Arg: Generator * (Generator*)
Skipping _th_normal Because of Arg: Generator * (Generator*)
S

[2019-03-11 11:34] t-vi commented on #17714
So on android/arm, the "not-mobile optimized example style transfer network" went from ridiculous (5 min) to 5 sec or something like that.
The skipping messages are from another thread, probably. - That's about JIT code generation for functions or somesuch.
I don't know anything about QNNPack / PyTorch, unfortunately, that would have been part of my Android effort I had managed to raise commercial

[2019-03-11 11:48] danFromTelAviv commented on #17714
wow ! yeah - from my calculations it should allow tiny yolo v3 to run at around 2 fps. before nnpack it ran a network about 30x smaller at 2 fps. crossing my fingers.

Thanks again for the unbelievably good support.

[2019-03-11 13:11] ocean1992 commented on #2314
you can try install pytorch0.4 by pip, I try and it works. please see my [dockerfile](https://github.com/ocean1992/pytorch_docker/tree/master)

[2019-03-11 14:33] danFromTelAviv commented on #17714
:// it finished installing - everything seemed to go fine. It's not any faster . I am not sure what I did wrong. I did a pip3 uninstall torch before I installed the new version. Is there any way to check if the pytorch I have installed is using nnpack?

[2019-03-11 14:50] danFromTelAviv commented on #17714
is [this ](https://heartbeat.fritz.ai/neural-style-transfer-with-pytorch-49e7c1fe3bea) what you were talking about? I want see how fast it runs on my board. Maybe it did really successfully install and is really that slow... who knows

[2019-03-11 15:23] blackccpie opened #17869 "[C++ Frontend] ONNX export"
## 🚀 Feature

Having torch onnx feature available through the C++ API.

## Motivation

I have some C++ frontend trained models, and I want to export them in onnx format in order to use them in external inference engines.

## Pitch

Same API as the python's `torch.onnx.export` would be enough.

## Alternatives

An alternative would be to have easy C++ frontend model import in the python side, but I

[2019-03-11 15:46] vishwakftw commented on #17861
This pertains to https://github.com/facebookresearch/maskrcnn-benchmark, please open it there.

[2019-03-11 15:51] soumith commented on #17209
The delay is most definitely CUcontext init. cc: @ezyang who wrote the lazy init stuff, he might have an opinion on whether to add CUcontext init in `torch.cuda.init()`

[2019-03-11 16:03] #17000 closed

[2019-03-11 16:06] #17861 closed

[2019-03-11 16:15] morawi opened #17871 "Dataloader halts when used with Keras TensorFlow Backend code"
## 🐛 Bug
I was using one of the packages written with Keras TensorFlow backend.
I wrote a `Dataset` class, which invokes a function from the package via `__getitem__` and it worked fine, by testing the `Dataset` and / or the dataloader outside the model. Clearly, to reduce the memory that the `Dataset` needs, I am implementing the function provided via Keras TF-Backend in `__getitem__` in a class

[2019-03-11 16:18] vishwakftw commented on #13545
Closed via https://github.com/pytorch/pytorch/commit/8045b3eb143ed70ab1873e148d266d56e0e1481f.

[2019-03-11 16:18] #13545 closed

[2019-03-11 16:21] vishwakftw commented on #17577
Does https://github.com/pytorch/pytorch/pull/17300 resolve this issue?

[2019-03-11 16:25] Krovatkin commented on #17662
I'll look into it.

[2019-03-11 16:46] KathySwe commented on #11989
Previously , I also cuda runtime error, unknown error but after I lunch the anaconda as administrator, it solve the error.

[2019-03-11 16:48] PengfeiZheng opened #17872 "Linking Caffe2 with sequential MKL but still calling multi-threaded mkl"
I turned off the openmp feature when building caffe2 and link caffe2 with the sequential version of mkl (libmkl_sequential.so). ldd caffe2.so also displays that caffe2 is linked with the sequential mkl (see first attached picture) .
![1](https://user-images.githubusercontent.com/10581411/54141016-3a91d980-43fb-11e9-889a-0513214c8ed0.PNG)

But when I run caffe2 inference, it still calls the multi-t

[2019-03-11 16:49] KathySwe commented on #17108
Previously , I also had cuda runtime error, not 30 -mine is unknown error but after I lunch the anaconda as administrator, it solved the error.

[2019-03-11 17:10] vishwakftw commented on #4115
@neerajprad I have a patch that compiles, and works something like this:
[code]

Is this what you are expecting?

[2019-03-11 17:21] ezyang commented on #17854
The `cuda()` operation has to transmit a tensor from CPU memory to CUDA memory. The larger your tensor is, the longer this transfer will take. There isn't really a way around it. If possible, try to keep your operations in CUDA memory, so that you don't have to do data transfer.

[2019-03-11 17:21] #17854 closed

[2019-03-11 17:23] ezyang commented on #17854
Also, the first time you call cuda(), we must initialize the cuda runtime, which takes some time. If you have a lot of GPUs and you are not using all of them, you can reduce this cost by setting `CUDA_VISIBLE_DEVICES` only to the GPUs you want to use.

[2019-03-11 17:25] houseroad commented on #17519
Now, there is no `Sort` operator in ONNX. @bethebunny feel free to open an issue to request `Sort` operator in ONNX github repo.

[2019-03-11 17:28] #17852 closed

[2019-03-11 17:33] fmassa commented on #17765
I second @apaszke and @soumith here. There is no single well-defined semantics for `ModuleList` and `ModuleDict`.

Historically, `ModuleList` and `ModuleDict` are only `nn.Module` wrappers to make using `dict` / `list` easier to handle inside `nn.Module`. In an ideal world, I think we wouldn't have those abstractions and would use just `dict` / `list` instead, but that complicates other things dow

[2019-03-11 17:36] ezyang commented on #12562
I just now updated this ticket with all the refactorings that have been carried out, based eyeballing Declarations.yaml. So we're in pretty good shape. The biggest one is expunging C++ from `type` and co. cc @cpuhrsch is that happening at some point?

[2019-03-11 17:49] neerajprad commented on #4115
That's awesome, thanks for helping out with this! Could you push a PR with the patch? I think we can get that merged first, and then @HobbitLong or I could integrate that into our categorical sampler with some additional tests and benchmarking. You have already done the important bit here! 😄

[2019-03-11 17:50] neerajprad commented on #4115
Just one question on the patch:

[code]

What does 3 here indicate? Is that the number of samples, in which case I am guessing it can be any positive integer?

[2019-03-11 17:55] pietern commented on #17757
Thanks @mcarilli, you're right. We can have a first version of this that uses the order in which the parameters are defined and bolt on the reordering. Then we could have a separate mechanism that discovers the ordering by either:

1) Installing a separate set of autograd hooks, which then propagate to the reducer after 1 iteration (and like you did in Apex it would need all workers to agree on th

[2019-03-11 17:55] ezyang commented on #17209
`torch.cuda.init()` initializes *our* internal data structures, but not CUDA itself; that initialization happens automatically when you try to actually use the device. @ngimel, short of a kernel call, is there a way of forcing the actual CUDA initialization to occur?

In any case, I'm not sure it even makes sense to "fix" this, because if you're benchmarking, you should be running a few warmup loo

[2019-03-11 17:58] pietern commented on #17757
@mrshenli We can also use this to be explicit about the multi-device awareness in the forward pass for model parallelism, if it's not already taken care of today.

[2019-03-11 17:59] jbohnslav opened #17874 "error: ‘float* cblas_sgemm_alloc(CBLAS_IDENTIFIER, int, int, int)’ is deprecated caused by outdated MKL"
## 🐛 Bug

Building from source fails with Nvidia driver 418.43, CUDA 10.1, on Ubuntu 18.04.

## To Reproduce

Steps to reproduce the behavior:

1. Uninstall all CUDA versions, Nvidia drivers
2. Reinstall CUDA 10.1, CuDNN 7.5.0, NCCL 2.4.2
3. Make a fresh conda environment
4. `git clone --recursive https://github.com/pytorch/pytorch`
5. `python setup.py install`

End of the error message is as foll

[2019-03-11 18:01] gchanan commented on #12562
@ezyang that's not planned to happen.  The latest view of this (based on discussions between myself and @zdevito) is that the cost/benefit of doing that kind of conversion is too high.  Instead, we should view `Declarations.yaml` as being what drives generation of `VariableType` and everything else should ideally be driven by schemas.

[2019-03-11 18:06] ezyang commented on #16559
The registration in question appears to be GIL protected, so I don't think it's a race.

@olyaromanyuk @hitlk could you paste the output of pip list in the environment with this problem? I want to know if you have multiple copies of PyTorch installed.

[2019-03-11 18:18] mrshenli commented on #17757
@pietern could you please elaborate on how this could help the forward pass for model parallelism. Do you mean users no long need to manually move intermediate outputs across devices?

[2019-03-11 18:27] gchanan commented on #17000
@bhushan23 that's not what I see from NumPy, which seems to conform to @vishwakftw version.
 Maybe your version of NumPy is different:

[code]

[2019-03-11 18:29] gchanan commented on #17000
If you want the "all" behavior, you could implement https://docs.scipy.org/doc/numpy/reference/generated/numpy.isin.html.

[2019-03-11 18:42] pietern commented on #17757
Not for the forward pass, but the backwards pass needs to be aware that gradients may be produced on different devices. I meant the mode of execution where you use multiple devices in the forward pass, as something to be aware of when hooking into the backwards pass. I.e. we keep a list of gradients per device, assuming that we see the same gradient on every device. This is not the case when doing

[2019-03-11 18:43] zasdfgbnm commented on #16813
@ezyang I think we need to reopen this

[2019-03-11 18:53] soumith commented on #17874
it's kinda weird, but the error is:

[code]

It looks like your compiler is doing a `-Werror` for deprecated declarations, which isn't normal.

You can workaround the compile with `NO_MKLDNN=1 python setup.py install`

[2019-03-11 18:54] #17209 closed

[2019-03-11 19:01] suo commented on #17858
Thanks for the report! Can you provide a script that we can run to reproduce the error you are seeing? That would help us investigate.

[2019-03-11 19:02] suo commented on #17571
Hi, could you explain a little bit more about your use case? For example, would it be possible as a workaround to inline the hook into the `forward()` of your model?

[2019-03-11 19:15] soumith commented on #7129
@danFromTelAviv the way to reproduce illegal memory access is highly dependent on the value of `inds`, because `inds` might be referring to an out of bounds value.
In such a case, we do want to give you a device assert, rather than "illegal memory access". Can you provide example snippets of code to construct the `x` and `inds` and reproduce the error?

[2019-03-11 19:25] gchanan commented on #17849
I think putting `requires_grad` on TensorOptions was a mistake -- as @ezyang points out, the meaning is ambiguous, and it's trivial to just set it after the fact if you want it with `torch::factory_fn(...).requires_grad_()`.  This wasn't possible at some point in the past, because we had too strict checking (that the version counter of a SavedVariable was 0 in some places), and the above gives you

[2019-03-11 19:28] gchanan commented on #12631
ya, we changed this at some point because backwards functions were too difficult to write.  We should update the comment.

[2019-03-11 19:34] jsmith8888 commented on #17108
I was able to get the below torch methods to return without any errors a few times when I launched a jupyter notebook from a administrative command prompt within the "c:/users/system32" folder:

import torch
torch.cuda.is_available()
torch.backends.cudnn.enabled
torch.cuda.current_device()
torch.cuda.device(0)
torch.cuda.device_count()
torch.cuda.get_device_name(0)

However I haven't been able to

[2019-03-11 19:41] jbohnslav commented on #17874
Thanks so much @soumith, this works! I'm not sure why my compilation is different from anyone else's. Will operations on CPU be significantly slower due to the lack of MKLDNN?

[2019-03-11 20:15] yf225 opened #17879 "C++ nn::Sequential push_back() copies module if the module is concrete type"
## 🐛 Bug

In https://github.com/pytorch/pytorch/blob/3f1d0ee5d5f48bb0fbef433a61cef0be9ad40a76/test/cpp/api/sequential.cpp#L37-L48, if we delete the copy constructor of `M` by adding `M(const M&) = delete;`, this test will fail to compile, because in https://github.com/pytorch/pytorch/blob/3f1d0ee5d5f48bb0fbef433a61cef0be9ad40a76/torch/csrc/api/include/torch/nn/modules/sequential.h#L197-L203 the `p

[2019-03-11 20:18] ezyang opened #17880 "ROCm CI cannot deal with commit messages with unicode characters in them"
Failure looks like:

[code]

on #17847; the problem is there was Unicode character in commit message / PR name.

[2019-03-11 20:21] eskjorg commented on #17765
Those are good points. Thanks for your input.

I am doing fine with 3-liners so long.

[2019-03-11 20:21] #17765 closed

[2019-03-11 20:24] pietern commented on #17369
For distributed, I think the best place to do this is in `ProcessGroup::reduce` and/or `ProcessGroup::allreduce`. It can detect if all input tensors are sparse, and if so, execute a non-standard algorithm. It will have to use send/recv to do the proper merge/reduce needed for sparse tensor reduction, so it would only work for the Gloo and MPI backends. This seems like a good fit for butterfly mixi

[2019-03-11 20:24] suo commented on #16453
Merging with #16847

[2019-03-11 20:24] #16453 closed

[2019-03-11 20:25] suo commented on #16662
Assigning @Krovatkin as he has been driving this from our side

[2019-03-11 20:25] suo commented on #15809
Closing this out as #16055 added an `@ignore` annotation  that should resolve this.

[2019-03-11 20:25] #15809 closed

[2019-03-11 20:26] PengfeiZheng commented on #11760
@gchanan Hi, I also encountered this issue. Could you clarify your solution? What do you mean by version mismatch? How did you solve it?

[2019-03-11 20:30] pietern commented on #17113
@huihuifan Just to confirm, this happens when using the NCCL backend for torch.distributed?

[2019-03-11 20:33] driazati opened #17881 "Weak Script functions/modules are not compiled in tracing"
When a weak script module is traced, there's no hook to compile it into a `ScriptModule`, so the code in the module gets traced instead of compiled and inlined.

Example
[code]
Outputs
[code]

[2019-03-11 20:36] pietern opened #17882 "ProcessGroupNCCL error/timeout handling"
As of NCCL 2.4 there are functions to detect I/O errors and abort running kernels. This is required to implement timeouts and force workers to raise an error or terminate when other workers fail.

See https://docs.nvidia.com/deeplearning/sdk/nccl-developer-guide/docs/api/comms.html and `ncclCommAbort` and `ncclCommGetAsyncError` and https://devblogs.nvidia.com/massively-scale-deep-learning-trainin

[2019-03-11 20:36] pietern commented on #17113
If so, #17882 should solve it.

[2019-03-11 21:31] PengfeiZheng opened #17887 "Caffe2 building failure"
If I uninstall mkl-include in anaconda, this issue will disappear. But if caffe2 is compiled with mkl-include, it gives error as below. Error: "regexex" is not declared in this scope.

![image](https://user-images.githubusercontent.com/10581411/54159463-688b1400-4423-11e9-8cbf-5a8582f621bf.png)

[2019-03-11 21:36] hongyx11 opened #17888 "LMDB ERROR caffe2"
read database error.
I just use the standard steps to install pytorch and caffe2.

$conda create -n newenv python=3.6
$conda install pytorch-nightly-cpu -c pytorch

run the lmdb test code https://caffe2.ai/doxygen-python/html/lmdb__create__example_8py_source.html
it asks me to install lmdd
$conda install lmdb

Then the error

WARNING:root:[====DEPRECATE WARNING====]: you are creating an object fro

[2019-03-11 21:42] gchanan commented on #11760
@PengfeiZheng I was using conda.  `conda list | grep intel` gave me a huge number of results.  I just created a new conda environment to fix it.

[2019-03-11 21:54] driazati commented on #16815
Fixed in #17167

[2019-03-11 21:54] #16815 closed

[2019-03-11 22:13] ngimel commented on #17774
Can you please collect cudnn log for your script? https://docs.nvidia.com/deeplearning/sdk/cudnn-developer-guide/index.html#api-logging
It looks like OOM, when memory is close to the limit some allocations for internal structures may fail and errors would manifest as CUDNN_EXECUTION_FAILED, where in fact it is just and out of memory error in disguise. If you don't see this error while running the

[2019-03-11 22:19] driazati commented on #16741
This issue appears to be fixed on master, I'm able to load the model from the link with no issues:
[code]

Feel free to re-open if you're still getting the issue on master/nightly.

[2019-03-11 22:19] #16741 closed

[2019-03-11 22:28] zplizzi opened #17893 "Check that outputs and grad_outputs have same shape in torch.autograd.grad()"
## 🚀 Feature
If I'm understanding things right, for every item in `outputs`, the corresponding item in `grad_outputs` should have the same shape in the function `torch.autograd.grad()`. If this is the case, there should be a check that the shapes are identical.

## Motivation

I accidentally passed a tensor (of ones) with the wrong shape as `grad_outputs`, and silently got really weird results. To

[2019-03-11 22:35] bhushan23 commented on #17000
@gchanan example you shown is default version I am talking about.
@vishwakftw is suggesting row in a matrix version which will return True only if complete row is present in the matrix which is different from isin as well.
Simplest version could be to use isin and then sum over rows and return True if sum equals to size of row.

[2019-03-11 22:45] yf225 commented on #17819
I tested on the nightly builds with `OMP_NUM_THREADS=1` and didn't reproduce the slowdown. @JackWindows @sidazhang Do you mind trying the nightlies?

[2019-03-11 22:52] heiner opened #17896 "Creating a ScriptModule in another thread deadlocks"
## 🐛 Bug

Creating a TorchScript ScriptModule class deadlocks when done in a separate thread.

## To Reproduce

Run this script
[code]

Steps to reproduce the behavior:

1. Run the above script.
2. Observe deadlock.

lldb backtrace at: https://gist.github.com/heiner/1f455205faeb8ceff151c6283442487a points at a GIL acquisition issue.

## Expected behavior

No deadlock.

Running the above script wit

[2019-03-11 23:00] driazati commented on #17896
This runs fine for me on master, there was a GIL re-acquisition issue in pybind11 that they've since fixed and we updated to in #17143

[2019-03-11 23:14] eellison commented on #10709
This is fixed on master

[2019-03-11 23:14] #10709 closed

[2019-03-11 23:17] sidazhang commented on #16367
@driazati @eellison @suo Additional feature request:

Is it possible to make serialization part of the torchscript and compilable. Use case looks like this:

[code]

This way it allows me to conveniently debug the model inside a production workflow

[code]

[2019-03-11 23:17] suo commented on #17896
Closing as this issue has been fixed.

[2019-03-11 23:17] #17896 closed

[2019-03-11 23:18] driazati commented on #8778
This is supported now as long as the Python Op has annotations

[2019-03-11 23:18] #8778 closed

[2019-03-11 23:37] colesbury opened #17897 "CUDA large matrix-vector product causes illegal memory access"
## 🐛 Bug

`torch.mv` causes an "illegal memory access" when multiplying a matrix with more than 2^31-1 elements. Note that each dim of the first matrix can fit in an `int`.

This is likely a bug in cuBLAS. Either cuBLAS should be fixed or PyTorch should issue multiple calls to `cublasSgemv`.

## To Reproduce

Note: you need ~10 GB on your GPU to run this example

[code]

## Environment

PyTorch ma

[2019-03-11 23:45] colesbury opened #17898 "CUDA torch.randn silently fails when the output has more than 2^31-1 elements"
## 🐛 Bug

`torch.randn` silently fails when the output has more than 2^31-1 elements. The output remains uninitialized (often all zeros).

## To Reproduce

Note: you need >8 GB on your GPU to run this example

[code]

## Environment

PyTorch master 066d1584 (Mar 11, 2019)
CUDA 9.2.88

[2019-03-11 23:50] dylanbespalko commented on #17249
@gchanan
I have completed a python version of Tensor.__array_ufunc__ and Tensor.__tensor_ufunc__. This implementation requires __tensor_ufunc__ calls to be injected into every method, therefore I would like to create a C++ implementation of Tensor.__array_ufunc__ and Tensor.__tensor_ufunc__ and add it to native_functions.yaml. The injection would be performed in gen.py.

**Are the instructions in

[2019-03-12 00:51] eellison commented on #17583
@zdevito @apaszke  @jamesr66a

I'm not that familiar with tracer - do you think this should be supported behavior or that a better error msg should be provided here ?

[2019-03-12 01:07] martinruenz commented on #13541
@goldsborough
Similar to @sky-fun I would like to set `-D_GLIBCXX_USE_CXX11_ABI=1`. However, when I compile pytorch myself (`-D_GLIBCXX_USE_CXX11_ABI=1` is default on my platform) I keep running into a typical ABI related error:

On one of the platforms I tested the error appeared at runtime, on another platform at compile-time. (Which is also kind of weird)

Is there a flag that I am missing? It

[2019-03-12 02:17] vishwakftw commented on #4115
Sorry about the delay, it got late back here then. I'll send in a PR by morning.

Regarding the number in `multinomial_alias_draw`, 3 indicates the number of samples which can be any positive integer.

[2019-03-12 02:23] glample commented on #17369
Hi, I had a look at the embedding of sparse embedding layers, and it basically look like this:

[code]
[code]

Is the idea here to use `ProcessGroup::allreduce` to stack the indices / values coming from each worker, just before densifying them and perform the update on each machine?

[2019-03-12 02:57] LokeZhou opened #17900 "torch.distributed.is_available() return False"
I try at win7 and mac ,but when i
    print(torch.distributed.is_available()),
    all return False

my Configure the environment ：
win7:.VC++14.0+python3.7+anaconda3+cuda9.0+cudnn7.1+pytorch1.0.0(64 bit)
mac:pyton3.7+anaconda7+pytorch1.0.0

at win7,when i print(torch.cuda.is_available()),return true.i also can use single gpu to run my network。but when i try to use torch.distributed ,return False.

[2019-03-12 03:36] peterjc123 opened #17901 "should disable AVX on 32bit x86 / refine AVX availability tests"
On desktop systems like Windows and some Linux distributions (e.g. Ubuntu), the PyTorch / Caffe2 library doesn't work under 32-bit systems, mainly for the reason that some AVX functions for 64 bit are lost, like `_mm256_extract_epi64`. According to @t-vi, the disabling of AVX enables the 32-bit build on ARM(Android). So the problem is that should we disable AVX on 32bit x86 platform, or we should

[2019-03-12 03:42] sbarratt opened #17902 "Conjugate gradient method"
## 🚀 Feature

I want to add batch preconditioned conjugate gradient (including its gradient) to the torch api.

## Motivation

This feature exists in as scipy, as scipy.linalg.cg. I'd like a torch equivalent that can handle batches.

## Pitch

Add a torch function cg(A, B) that returns X^(-1) B by running CG in parallel across the columns of B.

## Alternatives

N/A

## Additional context

I've im

[2019-03-12 03:49] ajaysg commented on #17858
Yes of course
The link to the pretrained model is

https://drive.google.com/file/d/1cjKPHbtAMh_4HTHmuIGNkbOkPBD9qwhj/view?usp=sharing

waveglow=torch.load(model_path)

a=torch.randn(1,80,100,requires_grad=True)

torch.onnx.export(waveglow,a, "waveglow.onnx")

[2019-03-12 03:56] jalenmorgan commented on #17893
This looks like a good idea, as it will help narrow down the problem in the case of unmatched shapes.  The documentation for _torch.autograd.grad_ says,

So, you're right, they should be the same shape (Except when grad_outputs = None). I'd be happy to work on implementing this feature.

[2019-03-12 04:46] xiaoheizi123 opened #17903 "undefined reference to `vmdLog2',`cblas_gemm_s8u8s32'"
**issue deacription**

[code]

some one suggest  conda install mkl & conda install mkl-include for 'undefined reference to `vmdLog2'', and export CONDA_PREFIX=${CONDA_PREFIX:-"$(dirname $(which conda))/../"} for 'undefined reference 'tocblas_gemm_s8u8s32'', but it doesn't work here.
can anyone help me?

[2019-03-12 04:52] zhuyangda commented on #804
I have 126G shm, but it seems not enough, how can I reduce shm the program will use?

[2019-03-12 05:03] zdevito commented on #17583
Error message should be better but it should probably stay an error.

[2019-03-12 05:09] SsnL commented on #17583
@zdevito may I ask why? Tracing a Module already supports similar semantics, and sometimes it's nice to not have all leaves in function inputs, and not have the graph represented as a module. E.g., consider I have a deep net as a Module, and have a method that computes the singular values of the conv weights, what should I do if I want to trace that method?

[2019-03-12 05:54] hitlk commented on #16559
@ezyang

This is my environment:

and the model is forwarded in multi thread.

[2019-03-12 08:03] LJXLJXLJX opened #17906 "Fail to install PyTorch from source"
OS ：Windows10 64bit

I am trying to build libtorch for C++, I followed the official instructions

But I failed and got some error.

[2019-03-12 08:18] deepali-c opened #17907 "resnet_trainer example fails with MNIST dataset, when parameter num_channels=1 is provided"
## 🐛 Bug
The resnet_50 trainer fails when parameter num_channels 1 is provided:
[code]

## To Reproduce
Execute the following command with MNIST dataset:
`python resnet50_trainer.py --train_data ~/mnist_train_lmdb --num_gpus 4 --batch_size 64 --num_channels 1`

## Expected behavior
The training is expected to complete without any errors.

## Environment

[code]

[2019-03-12 08:19] danFromTelAviv commented on #7129
@soumith thanks. I actually got it to work eventually. To be frank I have been jugelling a few things this week and i cant remember how i got it to work... i'll try to reproduce it with some git magic for tye benefit of others.
in my case inds were calculated with nonzeros on a tensor of the same shape as x... so it would have to explicitly be within range.

[2019-03-12 08:33] soumith commented on #17893
seems reasonable. thanks for working on it @jalenmorgan !

[2019-03-12 08:34] linxiaoby commented on #4468
I am having the same issue with the PyTorch 0.4.0， call for help!

[2019-03-12 08:37] soumith commented on #17874
@jbohnslav yes CPU convolutions will be slower by 10x. All other CPU operations will be unaffected.

[2019-03-12 09:36] olyaromanyuk commented on #16559
@ezyang I was not training a lot with pytorch lately, so the last time I encountered the issue was around the date of the post, so the version info might be outdated, but CUDA and driver were definitely the same as @hitlk .
Card were different, I work with 4 GTX 1080 ti.
I had pytorch installed for my user on Ubuntu, another user on the same machine had his own installation

[2019-03-12 09:50] LJXLJXLJX commented on #17711
@peterjc123

Hello , some error occurred after entered

How to solve it?

[2019-03-12 09:55] LJXLJXLJX commented on #17906
Sorry , I have made some mistakes myself.

[2019-03-12 09:55] #17906 closed

[2019-03-12 10:58] t-vi commented on #17901
So I looked into this some more:
`_mm256_extract_epi64` is used when AVX2 is found, but it is only available on AVX2 platforms with 64 bit.
So the right way to go seems to be to amend `cmake/MiscCheck.cmake` and `cmake/Modules/FindAVX.cmake` for that (I'll send a PR).

The other thing for linux ix86 is to update sleef. When merging @zdevito 's master branch into the checkout in thirdparty, the sle

[2019-03-12 11:20] apaszke commented on #17583
@SsnL because when you trace a module we add all parameters as graph inputs, so they can potentially change between calls. If we were to allow closing over tensors that require grad it means that they would get embedded into the graph as constants, which is almost certainly not what you want (you can't e.g. move them to a different device). Constants are generally quite flawed and I would even be

[2019-03-12 11:24] LJXLJXLJX opened #17908 "How to generate the head files?"
I have built pytorch from the source on windows 10.
I need to use the lib files, but I noticed there is no 'include' directory.
How can I generate those head files ?

[2019-03-12 11:33] cy69855522 opened #17909 "custome collate function cannot get _use_shared_memory"
Thx a lot for such a wonderful package~
But when I wrote a custom function for the Dataloader's collate_fn, I found I cannot get the value of variable - “_use_shared_memory” in torch.utils.data._utils.collate.py
`ModuleNotFoundError: No module named 'torch.utils.data._utils'`
I was thinking if you could give me some suggestions. I don't want to change the original code of pytorch locally.

[2019-03-12 11:35] Sierkinhane commented on #13374
How can i convert ‘at::Tensor’ to ‘const float*’ in libtorch? (Not convert to const char*)

[2019-03-12 11:35] Sierkinhane commented on #13374
@zou3519

[2019-03-12 11:37] Sierkinhane opened #17910 "How can i convert ‘at::Tensor’ to ‘const float*’ in libtorch?"

[2019-03-12 12:09] Sierkinhane commented on #13374
like ->cpu_data() in caffe
Blob<float>* net_output_blob = net_->blob_by_name("net_output").get();
const float* net_output_data_begin = net_output_blob->cpu_data();

[2019-03-12 12:09] Sierkinhane commented on #17910
like ->cpu_data() in caffe
Blob* net_output_blob = net_->blob_by_name("net_output").get();
const float* net_output_data_begin = net_output_blob->cpu_data();

[2019-03-12 12:09] hfengzhi opened #17911 "isTensorList() ASSERT FAILED"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1.After run the forward with c++，i try to turn the tuple to  a TensorList.
1.it report a c10:Errpr
1.

## Expected behavior

  auto oList=module->forward({tensor_img});//return a tuple
    cout<<oList.toTensorList()<<endl;

## Environment

 - PyTorch Version ( 1.0.0 preview):
 - OS (ubuntu 18.04):
 - How you installed PyTorch (TorchLib f

[2019-03-12 12:10] mrluin commented on #13966
Hi, have you solved the problem? I met the same problem.
It occurs when I use DataLoader with num_workers > 0.

[2019-03-12 12:17] frizk123 commented on #10203
How did you do that?

[2019-03-12 12:21] wulidongdong opened #17912 "Embedding Sparse"
## 🐛 Can not use sparse tensor to initial Embedding layer

 I want to create a sparse embedding layer, but I find out that it is not able to  use a sparse tensor to initial it.

![image](https://user-images.githubusercontent.com/15437641/54199132-1faa8c80-4503-11e9-9a71-559c401d4a8e.png)

it is not ok as well:
![image](https://user-images.githubusercontent.com/15437641/54199232-613b3780-4503-11e9-

[2019-03-12 12:56] ptrblck opened #17913 "Bug in CosineAnnealingLR (division by zero)"
## 🐛 Bug

The `CosineAnnealingLR` throws a `ZeroDivisionError` after being applied for more than one epoch.
Also, the learning rates returned by the `CosineAnnealingLR` do not match the internal learning rates of the passed `optimizer`.

## To Reproduce
[code]

## Expected behavior

Using the legacy implementation, no exception is raised and the learning rates of the scheduler and optimizer are eq

[2019-03-12 12:56] adrianovieira commented on #16417
I'm also got this message:

`RuntimeError: CUDA out of memory. Tried to allocate 32.75 MiB (GPU 0; 4.93 GiB total capacity; 3.85 GiB already allocated; 29.69 MiB free; 332.48 MiB cached)`

I was when trying to run the **Fast.ai lesson1 Pets** https://course.fast.ai/ (cell 31)

[2019-03-12 13:07] Sierkinhane commented on #17910
how to serializa a tensor?

[2019-03-12 13:07] Sierkinhane commented on #17910
how to serialize a tensor?

[2019-03-12 13:08] ezyang commented on #16559
Can either of you please paste the output of `pip list`?

[2019-03-12 13:10] ezyang commented on #13374
`x.data<float>()` and note this only works if it's contiguous

[2019-03-12 13:11] SsnL commented on #17583
@apaszke I understand all these. So what do you suggest one do in the scenario I described?

[2019-03-12 13:36] t-vi commented on #17901
So for NNPACK: NNPACK relies on CMAKE_SYSTEM_PROCESSOR to detect x86_64, but this goes wrong on x86 32bit systems. I submitted https://github.com/Maratyszcza/NNPACK/pull/161 .

The alternative/workaround in PyTorch could be to set NNPACK_BACKEND manually in those cases.

[2019-03-12 13:37] #17101 closed

[2019-03-12 13:57] t-vi commented on #17901
FBGEMM seems to produce x86_64 binaries on x86 32bit, too, indeed it adds "-m64" to its AVX2 compilation flags. This cannot be turned off because then the compiler will stumble of the lack of registers.
PyTorch always tries to build with USE_FBGEMM=1 by default, in some cases it will be turned off by cmake:
https://github.com/pytorch/pytorch/blob/master/cmake/Dependencies.cmake#L361
We could eithe

[2019-03-12 14:01] Markus-Goetz opened #17914 "Incorrect behaviour of min() and argmin()"
## 🐛 Bug

PyTorch's implementation of the argmin() function returns incorrect (maybe rather unexpected results) when using the argmin() and the min() function on tensors with dimensions where the minimal value appears multiple times. PyTorch picks the last(!) index with said value, whereas one would assume that the very first occurrence is reported. This is inconsistent with numpy's, Eigen's, C++

[2019-03-12 14:06] mrshenli commented on #17369
@glample if I understand it correctly, the idea is to create a set of communication collectives for sparse tensors, and automatically call them when necessary. We will try not to densify them as there could be super large and super sparse tensors. Instead, we probably will use butterfly mixing to collect indices and values to every worker, and merge them.

[2019-03-12 14:07] BramVanroy commented on #2341
I found that the issue is still present, but only when I use a custom `collate_fn`.

[2019-03-12 14:20] duhaijun commented on #13214
@jeffquach l got the same problem and l solved it. The problem may be you do not make all inputs to gpu!!!
For example, if G(image, caption, length), the inputs of image ,caption and length all need to gpu.
hope it can help you

[2019-03-12 14:28] sidazhang commented on #17910
Do you mean tensor.data<float>()?

https://pytorch.org/tutorials/advanced/cpp_extension.html

[2019-03-12 14:58] cpuhrsch commented on #17662
@Krovatkin, the PR actually does not add support for this. We merely add syntactic sugar on our way towards schema unification. That means we apply a reverse splat that leads to the same argument (e.g. TensorOptions options) as before. There are many more components we need to get rid off before this works.

Until then, you can apply the following patch after my PR lands

[code]

This will then yi

[2019-03-12 15:01] Pfaeff opened #17918 "Allow ONNX export of Softmax with dim != -1 (including Softmax2d)"
## 🚀 Feature

Right now, it is not possible to export a softmax function that doesn't use `dim=-1`. It should be possible to use softmax with arbitrary dimensions without the use of hacky workarounds by the user.

## Motivation

There are lots of applications that require pixel-level predictions, such as segmentation and detection.
I personally use the ONNX export function all the time, because ON

[2019-03-12 15:06] cpuhrsch commented on #17662
Ignore my previous comment (deleted). cc @gchanan for a more detailed insight.

[2019-03-12 15:07] SsnL commented on #17914
This isn't guaranteed

The assumption isn't reasonable. No where did pytorch ever make promise about which one it returns. It computes the correct argmin/max according to mathematical definition after all.

[2019-03-12 15:09] SsnL commented on #17912
What does a sparse embedding matrix even mean? By definition, you have a vector for each word, then it ought to be dense. `sparse=True` in `nn.Embedding` makes the gradient sparse, not the weight matrix.

[2019-03-12 15:09] SsnL commented on #17910
.data<float>()

[2019-03-12 15:10] #17910 closed

[2019-03-12 15:21] Ashok93 commented on #15956
Even I struggled to find the documentation of the same. Strange that it did not show up in Google.

[2019-03-12 15:24] Markus-Goetz commented on #17914
PyTorch does indeed not make any promise about this behaviour and it is indeed mathematically correct as it works now.

However, I am arguing it should behave as suggested. Several frameworks implement it in the way described and therefore users may silently assume that Torch also does.

[2019-03-12 15:25] glample opened #17919 "bug with nn.Embedding sparse gradients"
I'm observing some weird behaviors with the sparse mode of nn.Embedding (both in PyTorch 0.4 and 1.0). For instance, with the following code:

[code]

I'll get
[code]
as expected. But if I repeat the fwd/bwd line twice:

[code]
I get random outputs, such as:
[code]

I guess this is not expected?

Also I noticed that if the input is different, it behaves very differently:

[code]
Returns:
[code]

[2019-03-12 15:32] hitlk commented on #16559
[code]

[2019-03-12 16:08] bobqywei opened #17920 "Build compact libtorch from source with cmake"
Hi. I am currently working with the PyTorch C++ API and I'm really enjoying the flexibility so far. However, for my use case, I would like the libraries to be as small as possible.

When building libtorch from source (using build_libtorch.py), what can be done to minimize the final package size? I have searched around but there does not seem to be any info related to this (other than cmake compile

[2019-03-12 16:18] ElonMax commented on #4827
same problem here. I installed pytorch but when i try to run it on any ide or text editor i get the "no module named torch". However, it does work in jupyter notebook and ipython (from cmd). Any possible solution?

[2019-03-12 16:43] Akella17 opened #17923 "Neural network learns a constant function"
Please find the ipython notebook in this link: https://drive.google.com/file/d/13Wtpd-Ur7tUO3mGpXQU2H08rNNyyqUyf/view?usp=sharing

The input to the model is 4D and output is 1D (regression problem). The code that I have shared is a simplification of the actual network while capturing the bug I am encountering.

[2019-03-12 17:19] vishwakftw commented on #17923
Could you please provide a small snippet or elaborate the issue you are facing so that the devs don't have to download and open?

If you think this is not a bug in the functioning of PyTorch, and is rather related to the usage, please consider posting to [the forums](https://discuss.pytorch.org).

[2019-03-12 17:22] vishwakftw commented on #17914
@SsnL maybe we should consider adding a note to the docs about this non-determinism to clear any ambiguity.

[2019-03-12 17:37] t-vi commented on #17901
So I don't really have an idea regarding gloo/algorithm.h yet.

[2019-03-12 17:40] xzhu1900 commented on #17609
The fix is merged into master.

[2019-03-12 17:52] AlexeyAB commented on #3867
@soumith It would be nice to have a padding mode SAME in the pytorch.

[2019-03-12 17:54] #17652 closed

[2019-03-12 18:02] #17609 closed

[2019-03-12 18:03] gchanan commented on #17662
@suo I don't think this is really a JIT issue.  The issue is that the dtype inference is done at the PyTorch eager layer, not in ATen.  So independent of binding considerations, there's no way for the JIT to access this functionality and to get equivalent behavior it would have to reimplement the inference, which seems pointless.

Instead we should just move the logic to ATen -- this wasn't possib

[2019-03-12 18:10] piyush-jaiswal opened #17928 "Error converting upsample operator from pytorch to tensorflow."
## 🐛 Bug
Converting the ```Upsample``` operator from ```pytorch``` to ```tensorflow``` using [torch.onnx](https://pytorch.org/docs/stable/onnx.html) and [onnx-tensorflow](https://github.com/onnx/onnx-tensorflow) throws an error

## To Reproduce

Steps to reproduce the behavior:
[code]

Error:
```RuntimeError: Upsample without nearest or bilinear is not supported in Tensorflow.```

## Expected beha

[2019-03-12 18:17] Akella17 commented on #17923
I haven't been able to isolate the reason for this behavior so I sent the entire code. The model learns to output a constant value (yes, it actually learns the constant value that minimizes the loss, i.e. mean of training outputs) for all the inputs (regression problem).

Intuitively, it feels like the weights are set to zero and the network is only learning biases. However, in practice, I have al

[2019-03-12 18:19] laggui commented on #16559
Hi,
I am having the same issue as OP trying to run the same object detection task (on different inputs) in two worker threads, with only one GPU.

Currently working with pytorch 1.0.1 and cuda 9.0.

[2019-03-12 18:25] yf225 commented on #17797
This might be related to how the JIT ScriptModule handles multithread environment. Sending to the JIT triage.

[2019-03-12 18:31] ZolotukhinM opened #17929 "[autodiff] Fix owning model used in `differentiate`"
Currently `differentiate` takes in a pointer to a graph, then steals it and stores inside a Gradient object it returns ("steals" means that the original object holding the graph is emptied while the graph itself is moved to another graph object stored inside Gradient). The moved graph is then mutated according to the differentiate logic.

A cleaner contract here would be to either
1) Create a copy

[2019-03-12 18:32] vishwakftw commented on #17923
I think this would be better attended to in the forums, please open a post there. GitHub issues are primarily used for bug-tracking and feature requests.

[2019-03-12 18:35] paland3 opened #17930 "Conv3d fail after curtain batch size"
## Issue description
The same conv3D does work on batch size = 24 (outputs filled tensor), but not on batch size = 25 (illegal memory access, not filled tensor).

## Code example
Minimal working example:
Copy these lines in a py file, and run it, the second print does not work on 2 computers we have.
[code]

## System Info

- PyTorch or Caffe2: Pytorch
- How you installed PyTorch (conda, pip, sour

[2019-03-12 18:37] Akella17 commented on #17923
Sure thing. I have posted it there. Hope it gets resolved soon :)
Thanks for the quick response.

[2019-03-12 18:38] #17923 closed

[2019-03-12 19:08] zou3519 commented on #1382
Completed by #15842, it will be in the next release

[2019-03-12 19:08] #1382 closed

[2019-03-12 19:10] zou3519 commented on #16672
Would be good if you could reassign this, thank you!

[2019-03-12 19:11] zou3519 commented on #11455
I don't remember the context behind this anymore, but cc @wanchaol

[2019-03-12 19:11] zou3519 commented on #10419
This has been since resolved

[2019-03-12 19:11] #10419 closed

[2019-03-12 19:15] BowenBao opened #17932 "JIT torch.ones_like with dtype starts failing on master"
## 🐛 Bug

Similar symptom to #15478, when using `torch.jit.script`, calling `torch.ones_like()` with dtype starts to give errors while previously it works.

## To Reproduce

[code]
Run with `PYTORCH_JIT=0 python ones_like_test.py` works fine. `PYTORCH_JIT=1 python ones_like_test.py` gives error
[code]
## Expected behavior

Should not throw error.

## Environment

Collecting environment information

[2019-03-12 19:15] suo commented on #16672
thanks! @wanchaol can you take a look?

[2019-03-12 19:16] Albert65 opened #17933 "In-place operations fail on GPU"
## 🐛 Bug

In-place operation cause GPU related memory problem:
**Traceback (most recent call last):
  File "ae5.py", line 389, in <module>
    Main(args)
  File "ae5.py", line 332, in Main
    loss.backward()
  File "/projects/py37torch/lib/python3.7/site-packages/torch/tensor.py", line 102, in backward
    torch.autograd.backward(self, gradient, retain_graph, create_graph)
  File "/projects/py37t

[2019-03-12 19:32] zou3519 opened #17935 "Disallow operations if the result tensor has internal memory overlap"
See #17185 and #957 for some motivation.

## Motivation
When we do an operation, such as `cos_`, where the output tensor has internal overlap, then the result is usually wrong. For example:

[code]
For `cos_`, the output and input tensors are the same. What ends up happening is that the code will read from the tensor and write to it for each element, resulting in an incorrect computation `(cos(cos

[2019-03-12 19:33] zou3519 commented on #17185
I'm closing this because it is a duplicate. I'll track my progress in #17935, which more clearly explains the plan of action.

[2019-03-12 19:33] #17185 closed

[2019-03-12 19:34] zou3519 commented on #12286
I haven't seen a failure for this before, but please let me know if it shows up again.

[2019-03-12 20:16] YiruS commented on #15797
I have the same issue. RTX2080, for CUDA 10.0 and pytorch 1.0.0. Anyone has solved the same problem please provide the information of the solution. It would help a lot of people. Thanks!

[2019-03-12 20:28] ezyang commented on #15797
Hi @RifleZhang , someone suggested installing a specific wheel. Did that resolve your problem?

Also, all of you, please try compiling PyTorch master from source and seeing if that resolves the issue.

[2019-03-12 20:28] YiruS commented on #15797
Okay I have solve the problem. You cannot directly install pytorch, instead “pip3 install -U https://download.pytorch.org/whl/cu100/torch-1.0.0-cp36-cp36m-linux_x86_64.whl” work for me.

[2019-03-12 20:36] zou3519 commented on #17920
I think we don't support this at the moment. @yf225 can tell you more.

If it is not too much trouble, could you let us know what your use case is so we can motivate the problem better?

[2019-03-12 20:42] yf225 commented on #17920
@bobqywei Are you building the CUDA version of libtorch or CPU version? Would love to know more about your use case so that we can make better suggestions.

[2019-03-12 20:45] musikisomorphie commented on #10503
@zou3519, though this task is non-trivial for me, I would like to try it, is it okay?

[2019-03-12 20:52] rjknight opened #17936 "[caffe2] resize_op_test.py::TestResize::test_nearest FAILED"
## 🐛 Bug
resize_op_test.py::TestResize::test_nearest FAILED

## To Reproduce

Steps to reproduce the behavior:
Decorate the function test_nearest in resize_op_test.py with:
[code]
[code]

the gradient data calculated apears to be the same on both x86 and ppc
log of test failure from x86 system
[results.txt](https://github.com/pytorch/pytorch/files/2958366/results.txt)
log of test failure from ppc6

[2019-03-12 21:00] jermainewang commented on #14057
Hi, here is another example:
[code]
It raised error:
[code]

My environment:
[code]

[2019-03-12 21:08] kostmo opened #17937 "update ccache instructions"
A couple of setup steps from `CONTRIBUTING.md` need to be tweaked in order to use `ccache`.

[2019-03-12 21:10] danFromTelAviv commented on #14401
+1 the cpu trick got the network to train more than a few k batches without going to nan.
In my case I am using loss accumulation:
[code]
The divisions may have something to do with some numeric instability?

[2019-03-12 21:16] bhushan23 commented on #17902
If you want to replicate your implementation you can introduce method in torch functional, here-
https://github.com/pytorch/pytorch/blob/master/torch/functional.py

[2019-03-12 21:34] yf225 opened #17941 "Bug with the sparse mode of nn.Embedding"
(Reported by internal user)

## 🐛 Bug

I'm observing some weird behaviors with the sparse mode of nn.Embedding. For instance, with the following code:
[code]
I'll get
[code]
as expected. But if I repeat the fwd/bwd line twice:
[code]
I get random outputs, such as:
[code]
I guess this is not expected?
Also I noticed that if the input is different, it behaves very differently:
[code]
Returns:
[code]

[2019-03-12 21:38] Krovatkin commented on #17929
tagging @zdevito @suo

[2019-03-12 21:40] suo commented on #17929
cc @ailzhang this is another example of the autodiff graph shenanigans causing headaches

[2019-03-12 21:49] t-vi commented on #14401
@IB1387 I can't load the `net.pt` because it wants to reference a module `models`.
@danFromTelAviv If you had a reproducing example, I would be most grateful.

If you don't want to post your code here, you could also email me.

Note that the most common source of NaNs was feeding targets (+repeats) longer than inputs, and there is a new option to zero these. You need master / 1.1 to get it though

[2019-03-12 22:02] Krovatkin commented on #17929
copy-pasting from the original task:

I don't understand much yet, but I really like 1) since autodiff mutates an original graph (e.g. adds outputs for intermediate values, fuses, optimizes)
If you guys are okay with 1) I could change the current logic

[code]

to

[code]

or

[code]

and ofc clean up extra copies callers are already creating.
we may slow down the case where a caller doesn't actua

[2019-03-12 22:11] bobqywei commented on #17920
@yf225 @zou3519 I am building the CUDA version of libtorch right now. As for my use case, I am hoping to use libtorch as part of a large project (some restrictions on external library size).

Currently I have tried changing some of the options in the CMakeLists, one interesting option is BUILD_ATEN_ONLY. But, when I set this to ON, I get this error:

`Makefile:140: recipe for target 'all' failed
m

[2019-03-12 22:27] SsnL commented on #17941
duplicate of https://github.com/pytorch/pytorch/issues/17919.

[2019-03-12 22:27] #17941 closed

[2019-03-12 22:29] yf225 commented on #17919
This bug reproduces on the nightly builds.

[2019-03-12 23:08] bhushan23 commented on #17751
We need to catch the exception and raise Runtime error

[2019-03-12 23:15] zou3519 opened #17950 "Incorrect sparse add when tensor has non-contiguous values"
Repro:
[code]

embedding_backward gives a sparse tensor with non-contiguous values so this can lead to problems when using `nn.Embedding`.

[2019-03-13 00:12] ailzhang commented on #17911
I doubt we automatically convert a tuple to TensorList object...

[2019-03-13 01:06] huagl commented on #16935
I got exactly the same problem too! And I tried to roll back the version of pytorch to 0.4.1, then it works well.

[2019-03-13 01:07] hfengzhi commented on #17911
i hope so,but it's a c10::ivalue::tag::tuple,not a list even not  at::Tensor.

[2019-03-13 01:10] BarclayII commented on #14057
The example above seems to fail in all pickle protocols except 4 in Python 3.

[2019-03-13 01:17] mrluin commented on #13966
I have solved the problem by updating Python3.5 to Python3.7

[2019-03-13 02:35] AjinkyaPrabhu opened #17953 "'SAME' and 'VALID' padding support for Conv2d and related ops"
## 🚀 Feature
Support for Same and valid convolutions in the Conv2d and related operations

## Motivation

I just started using pytorch (was using tensorflow before) and really like the pythonic API, only problem I encounter is when creating a model , I have recalculate the parameters for all the layers.

## Pitch

adding padding='same' and padding='valid' in the Conv2d constructor,and to be used i

[2019-03-13 03:07] ailzhang commented on #14057
Actually torch dtype object is already serializable. Closing....
[code]

[2019-03-13 03:13] bhushan23 commented on #17751
this is weird ,`THPVariable_pow` does have try - catch

pasting backtrace for reference

[code]

[2019-03-13 03:18] RicCu commented on #17953
Hi,
This feature has been proposed for the 1.1 milestone. You can find the discussion at #3867

[2019-03-13 03:20] wanyu2018umac commented on #14365
Hi there, I encounter with the same issue.

Although I can call a norm function written by my own after calling backward at the end of every training step, I think it would be more efficient if this could be solved at the level of source code😆.

Thanks for your concern.

[2019-03-13 03:33] ailzhang commented on #14057
Hmmm I will leave this open as the example script is failing for python 2.7.
[code]

[2019-03-13 03:53] ezyang commented on #17920
`BUILD_CAFFE2_OPS=0` might help. But we don't have a good story for cutting out operators you don't need. It's something we're thinking about how to support for other use cases, like libtorch mobile.

[2019-03-13 03:53] erikbrinkman commented on #9406
Generally what you'd do is`pairwise_dist(X[:, :, None], Y[:, None], axis=3)`. The documentation doesn't list the ability to add a dimension to pairwise dist. If that's actually up to date then you should be able to do
[code]
This will do some "unnecessary" memory copies, but should work.

[2019-03-13 03:58] lamnguyen95 commented on #4827
I'm having the same issue.

It's slightly different in my case, since I was installing pytorch with anaconda without internet connection. Here's my script:

[code]

Any ideas?

[2019-03-13 04:26] AjinkyaPrabhu commented on #3867
@soumith How about using a compile type interface ?
[code]

[2019-03-13 04:46] SsnL commented on #17950
Do we really need 3 issues about the same thing? See also #17919 and https://github.com/pytorch/pytorch/issues/17941. I'm closing the other two as this has more debug info. But, please please search before posting an issue next time. Thank you :)

[2019-03-13 04:46] SsnL commented on #17919
close in favor of https://github.com/pytorch/pytorch/issues/17950

[2019-03-13 04:47] SsnL commented on #17950
fwiw, I reproduced this on a recent master build

[2019-03-13 04:47] #17919 closed

[2019-03-13 04:50] #17937 closed

[2019-03-13 04:50] vadimkantorov commented on #14864
If `*.pt` is reserved for zipballs from saved JIT'ted models, it may be needed to recommend a different extension for raw saved tensors (preferably not `*.pth` or fake `*.tar`)

[2019-03-13 05:41] Sierkinhane commented on #17910
const float* net_output_begin = output.data<float>()
But when *(net_output_begin) , Segmentation fault (core dumped) happned!(Ubuntu 16.04)
@SsnL @sidazhang

[2019-03-13 05:41] Sierkinhane commented on #17910
const float* net_output_begin = output.data()
But when *(net_output_begin) , Segmentation fault (core dumped) happend!(Ubuntu 16.04)
@SsnL @sidazhang

[2019-03-13 05:46] csyang6052 opened #17960 "CMake Error when running ./build_raspbian.sh on Paspberry Pi 3 model b"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. git clone --recursive https://github.com/pytorch/pytorch.git
2. cd pytorch
3. git submodule update --init
4. chmod +x ./scripts/build_raspbian.sh
5. ./scripts/build_raspbian.sh

## Expected behavior - configure and make successfully
## Environment

 - PyTorch Version : git clone on Mar/12/2019
 - OS (e.g., Linux): Raspbian, stretch, M

[2019-03-13 05:47] Sierkinhane commented on #17910
float *list = new float(57*8*8);
memcpy(list, net_output_data_begin, 57*8*8 * sizeof(float));

Segmentation fault (core dumped) happend!

[2019-03-13 06:06] Sierkinhane commented on #17910
float list = new float[57*8*8];
memcpy(list, net_output_data_begin, 57*8*8 * sizeof(float));

Segmentation fault (core dumped) happend!

[2019-03-13 06:14] skyoung commented on #16559
same problem when running multi-threads with each thread only one GPU. I am using pytorch0.4.1 and cuda9

[2019-03-13 06:16] Sierkinhane commented on #17910
It seems that I can't get the elements

[2019-03-13 06:46] dylanbespalko commented on #17249
Hi @gchanan,

I have shifted towards the C++ code and python bindings and I have figured out a lot. I can add methods to torch._C._TensorBase by modifying the code in torch/csrc/autograd/python_variable(.h/.cpp).

This should give me the low level access I need to:
   - define a python specific __array_ufunc__ for numpy compatibility
   - define a python specific __tensor_ufunc__ at the C++ level

[2019-03-13 06:47] suo commented on #16367
@sidazhang That's not something that's easy to do in the near future unfortunately. If you'd like you can file a separate issue for that and we can track it there.

[2019-03-13 07:02] suo commented on #17858
When I try to load the model, I get the following error:
[code]

Could you try to create a more minimal script that would reproduce the problem? It shouldn't have external dependencies

[2019-03-13 07:02] YashSinha1996 opened #17962 "[JIT] state[input] != State::Unknown ASSERT FAILED at /pytorch/torch/csrc/jit/passes/specialize_autogradzero.cpp:57"
## 🐛 Bug
[code]
Assert failing when trying to train a pytorch model where only a part of the model is JIT traced.
Forward works without a hitch, backward gives this error
## To Reproduce

Refer: https://github.com/huggingface/pytorch-pretrained-BERT
Install: `pip install pytorch-pretrained-bert`

[code]

Training:
[code]

## Expected behavior
Training on this kind of model would be nice

## Enviro

[2019-03-13 07:13] 670373064 commented on #16996
torch.cuda（）、torch.utils is also missing in in 1.0.1, related to Pycharm

[2019-03-13 07:34] lee-junjie commented on #17920
My scenario:
I am going to build a model serving with GRPC.
However, both GPRC and Torch(mainly for Caffe?) libraries depend on protobuf. I am not familiar with CMake, and it's very painful for me to make the CMakeList.txt work well.

[2019-03-13 07:56] IB1387 commented on #14401
Dear @t-vi,
sorry for the inconvinience, I've uploaded the "models.py" into the onedrive folder (https://1drv.ms/f/s!Aquxp4nbo_4hgdwCMQqKHoq6LCB_fw). The "modified source" warning can be ignored as I just removed some old comments before uploading it.

The reason for my problems can't be targets + repeats > inputs, as the input to the rnn in this case is 55 wide and the target would require length

[2019-03-13 08:09] ZyuZyuZyu commented on #10942
Exactly the same issue. Any update here?

[2019-03-13 08:10] johann-petrak opened #17966 "torch.cuda.is_available() returns misleading value"
Using pytorch version 1.0.0 on python 3.6.8 on a machine with a NVIDIA GF108 GeForce GT630 GPU.

On this machine torch.cuda.is_available() returns True, but then a warning is shown ("PyTorch no longer supports this GPU because it is too old.") and eventually the attempt to use it generates an exception:

[code]
It seems useless for the function to report that CUDA can be used whan in fact, it cann

[2019-03-13 08:25] kg1980 commented on #15849
Hi, any updates regarding this Issue?

[2019-03-13 08:41] ChopinSharp commented on #15801
He/She asked here because there isn't a single answer in the forums ...

[2019-03-13 08:55] soumith commented on #17953
closing as duplicate of #3867

[2019-03-13 08:55] #17953 closed

[2019-03-13 09:07] soumith commented on #17910
if `output` is a GPU Tensor, then yes it will segfault. You first have to convert `output` to CPU Tensor and then get the data.

[2019-03-13 09:12] soumith commented on #10503
@musikisomorphie go for it

[2019-03-13 09:15] ChopinSharp opened #17968 "About the C++ frontend API"
## 📚 Documentation

The C++ frontend API is not very readable.

First the webpage elements kind of overlap with each other. Like the following example https://pytorch.org/cppdocs/api/classtorch_1_1data_1_1datasets_1_1_dataset.html#exhale-class-classtorch-1-1data-1-1datasets-1-1-dataset.

Second, I can't found the prototype of the class constructor? Maybe because my C++ albility is poor ...

Third,

[2019-03-13 09:16] soumith commented on #17933
The problem is that you run out of memory:

[code]

See that there's only 67.12 MiB free and it tried to allocate 198 MiB.
I suggest reducing your batch size or doing something similar.

[2019-03-13 09:16] #17933 closed

[2019-03-13 09:21] soumith commented on #17914
@Markus-Goetz repasting my comment from https://github.com/pytorch/pytorch/issues/17738#issuecomment-471365962

the only determinism we aim to have is hashed on device, and for CPU, single-threaded.
Even across different kinds of GPUs, all bets are off.

We cannot guarantee cross-device, cross-CPU-type determinism due to severe performance cliffs that'll result from such a constraint.

For example

[2019-03-13 09:21] #17914 closed

[2019-03-13 09:25] soumith commented on #17909
cc: @ssnl

[2019-03-13 09:42] ajaysg commented on #17858
Yes sure....I will do it

On Wed, Mar 13, 2019, 12:32 PM Michael Suo <notifications@github.com> wrote:

[2019-03-13 09:52] Markus-Goetz commented on #17914
Okay I can understand the reasoning behind this. Would it still be possible to maybe document the above assumption in the docstrings as @vishwakftw suggested?

[2019-03-13 10:28] soumith commented on #17914
yes, documenting in the docstrings as a Note sounds okay.

[2019-03-13 10:56] Albert65 commented on #17933
It runs out of memory with in-place operations, which supposed to save memory. This is strange.

[2019-03-13 11:00] Sierkinhane commented on #17910
thank you. I forgot to receive the return of tenosr.to(device)

[2019-03-13 11:00] Sierkinhane commented on #17910
thank you. I forgot to receive the return of tensor.to(device)

[2019-03-13 11:03] jackroos commented on #14057
@ailzhang please see this example gived by @jermainewang: https://github.com/dmlc/dgl/issues/438#issuecomment-472177987 .
Actually, when some library like 'networkx' is imported, torch.dtype will failed to be pickled.

[2019-03-13 11:11] lorenwel opened #17970 "Binary not operator causes crash when Jit module is executed on different device"
## 🐛 Bug

When the binary not operator `~` is used in a module, which is then Jit traced, it causes a crash when the resulting Jit module is moved to and executed on a different device type (e.g. CPU -> GPU).
This crash only occurs in the Jit module, but not in eager mode.
Using `1-tensor` to negate the ByteTensor does not show the same issue in Jit.

## To Reproduce

[code]

## Expected behavior

[2019-03-13 12:15] josauder commented on #9406
Thanks for your answer. However, this seems to be both an order of magnitude slower and also more memory intensive than looping over the batch. I have created a gist that allows for a quick test:

https://gist.github.com/josauder/183ff70e570674102d71709bda491936

Is there no better way to do this?

[2019-03-13 12:18] aimhabo opened #17971 "CuDNN error: CUDNN_STATUS_EXECUTION_FAILED"
## 🐛 Bug
![2019-03-13 20-11-29](https://user-images.githubusercontent.com/12708080/54278734-2d791400-45ce-11e9-8926-64ffb9c5c2ed.png)
![2019-03-13 20-12-06](https://user-images.githubusercontent.com/12708080/54278743-34078b80-45ce-11e9-90ef-f2291ef9b95e.png)

## To Reproduce

Steps to reproduce the behavior:
Implementing such a network like this (or change from https://github.com/DrSleep/light-wei

[2019-03-13 12:37] bakhtyarkf opened #17972 "problem with the wheel file"
The RECORD in the wheel file, does not contain a record for caffe2 folder and this causes pants (https://github.com/pantsbuild) to fail when I include torch to be added to a project, and this is the error I get:

`Exception caught: (wheel.install.BadWheelFile) (backtrace omitted)
Exception message: No expected hash for file 'caffe2/python/caffe2_pybind11_state_gpu.cpython-36m-x86_64-linux-gnu.so'`

[2019-03-13 12:37] yxchng commented on #15231
Same problem here. Reclone does not work.

[2019-03-13 13:34] ustctf commented on #15563
Met the same issue. May we know whether it has been fixed yet? @soumith

[2019-03-13 13:42] #14242 closed

[2019-03-13 13:59] bobqywei commented on #17920
@ezyang I see, i'll give that a shot and see how it goes

[2019-03-13 14:07] vadimkantorov commented on #17966
https://github.com/pytorch/pytorch/issues/13207 related?

[2019-03-13 14:16] SsnL commented on #17909
Let’s expose that!

[2019-03-13 14:33] zou3519 commented on #17950
Sorry, I was relying on the github search that pops up when you're typing an issue to identify duplicate issues... I'll do a more thorough search next time

[2019-03-13 14:38] Ricocotam commented on #17568
Any update on this ?
As we can't tell if it's PyTorch issue or an issue of your env, I'd suggest you close it and reopen if you have an update

[2019-03-13 14:45] AnShuai666 opened #17976 "CUDA TEST ERROR"
It seems like I've got everything right:
build$ sudo make install
[  0%] Built target nccl_external
[  3%] Built target libprotobuf
[  7%] Built target libprotoc
[  7%] Built target protoc
[  8%] Built target libprotobuf-lite
[  8%] Built target clog
[  9%] Built target cpuinfo
[ 11%] Built target qnnpack
[ 12%] Built target cpuinfo_internals
[ 12%] Built target pthreadpool
[ 13%] Built target nnp

[2019-03-13 15:13] soumith commented on #17568
the "Killed" sounds like you ran out of CPU RAM, probably because of DataLoader, maybe?

[2019-03-13 15:18] soumith commented on #17933
it doesn't run out of memory at that particular in-place line.

Because CUDA calls are asynchronous in nature, you get a stack-trace that has the location of the error misplaced.

See this answer for a way to get a better stack-trace: https://discuss.pytorch.org/t/whats-the-meaning-of-this-error-how-can-i-debug-when-i-use-gpu/8052/2?u=smth

[2019-03-13 15:27] cy69855522 commented on #17909
Thx a lot~

[2019-03-13 15:30] ezyang opened #17981 "librosa tests on Windows don't work"
llvmlite fails with:

[code]

This didn't use to fail prior to Mar 12 but I couldn't find any package upgrades in the interim which would have caused the problem (librosa, numba, llvmlite and pip didn't have updates on Mar 12).

I could probably fix this by installing LLVM but this seems a bit overkill, and I'm not sure we actually care about this test.

CC @SsnL who added the librosa stuff initia

[2019-03-13 15:33] peterjc123 commented on #17981
I'm now fixing it with `conda install numba`, which will also install llvmlite.

[2019-03-13 15:37] SsnL commented on #17981
This is intriguing. I'm fine with skipping on Windows, but if conda install numba is a simple fix, we can go for it.

[2019-03-13 15:37] SsnL commented on #17981
Thanks @peterjc123 !

[2019-03-13 15:51] peterjc123 commented on #17981
https://github.com/pytorch/pytorch/pull/17954

[2019-03-13 16:01] vargonis commented on #17568
Who knows, I don't think so though, because I have 16 gigas of RAM and this
is the only model that has this problem so far. Sorry for delaying this, as
I said I was trying a different approach. Now I can take a break from it;
I'll do some more experimentation and report back soon.

Il mer 13 mar 2019, 16:13 Soumith Chintala <notifications@github.com> ha
scritto:

[2019-03-13 16:03] vadimkantorov commented on #17935
For elementwise ops (like cos_) for the zero-stride case (with contiguous underlying storage), would applying the operation to the underlying contiguous tensor and re-striding back be semantically correct?

[2019-03-13 16:04] theFool32 opened #17982 "`torch.nn.functional.relu` gives incorrect result"
## 🐛 Bug
`torch.nn.functional.relu` gives incorrect result.
It outputs value less than 0 sometimes as seen below.
I'm confused by the result. Hope I don't make mistakes.

## To Reproduce
[code]
![图片](https://user-images.githubusercontent.com/3063690/54294174-2103b400-45ec-11e9-96b7-af1cdaf777b4.png)

## Expected behavior
Output values greater than 0.

## Environment
PyTorch version: 1.0.0
Is debug

[2019-03-13 16:19] musikisomorphie commented on #10503
@soumith, I will keep you informed if I make progress.

[2019-03-13 16:28] yf225 commented on #17920
Specifying `TORCH_CUDA_ARCH_LIST` to be targeting only your CUDA architecture will also make the package smaller (e.g. `TORCH_CUDA_ARCH_LIST=5.2` for Tesla M60).

[2019-03-13 16:34] peterjc123 commented on #17981
landed into master. closing.

[2019-03-13 16:34] #17981 closed

[2019-03-13 16:41] soumith commented on #17982
this is a bug that affected Integer valued Tensors (i.e. not Floating point Tensors.

For example, if you did `a = a.float()` and then did a ReLU, you wouldn't see the issue.

This is fixed on the latest release of PyTorch, i.e. v1.0.1

[2019-03-13 16:41] #17982 closed

[2019-03-13 17:09] vargonis commented on #17568
OK, I'm not being able to reproduce anymore, so I'm closing this. I had to reinstall everything because installing Tensor Comprehensions forced my PyTorch to go back to version 0.3, and then for some reason I could not rollback to the previous revision using conda. So I guess there was some funny problem with my installation.

[2019-03-13 17:10] soumith commented on #15563
@ustctf the patch was landed 8 days ago, and is part of the pytorch nightly builds. give it a try.

Reference: https://github.com/pytorch/pytorch/pull/17120

[2019-03-13 17:10] #15563 closed

[2019-03-13 17:13] AntreasAntoniou opened #17983 "Batch Convolutional Layers - Similar to torch.bmm but for convolutional operators"
## 🚀 Feature
Enable PyTorch to compute convolutional features given:
- A collection of batches of images of shape (b_i, b_j, c, h, w)
- A batch of kernel weights of shape (b_i, out_features, in_features, kernel_height, kernel_width)

Each batch in a collection is convolved *only* with its respective parameters. This can be currently achieved with the existing PyTorch operations but is rather slow

[2019-03-13 17:34] sausax opened #17984 ""unknown builtin op" error with static library"
Getting error while running libtorch example from https://pytorch.org/tutorials/advanced/cpp_export.html . Getting error only with static library. Shared library works fine.

[code]

Command used to compile libtorch_test
LIBTORCH = /pytorch/torch/lib/tmp_install

g++ -I"$LIBTORCH/include" -I"$LIBTORCH/include/torch/csrc/api/include" -D_GLIBCXX_USE_CXX11_ABI=0 -std=gnu++11 libtorch_test.cpp -o libt

[2019-03-13 17:36] ailzhang commented on #14057
@jackroos I tried the example script with networkx in python3.6 and it worked without an issue. There might be some env difference here causing the problem.

[2019-03-13 17:40] zou3519 commented on #17935
Yes, that should be semantically correct. We have to be a little careful, though -- if we sliced a tensor, then we don't want to apply the operation to the entire underlying tensor, just the sliced part

[2019-03-13 18:13] pietern commented on #14486
@ezyang NCCL is used both in distributed and for single machine collectives (`torch.cuda.nccl`).

[2019-03-13 18:23] bobqywei commented on #17920
@yf225 hmm, yea targeting specific CUDA architecture seems promising, will def try it. Thanks everyone for the suggestions so far.

Also, this is a bit unrelated, but on the latest Pytorch build (no modifications), libtorch is not being compiled correctly and the resulting target executable produces this:`error while loading shared libraries: libiomp5.so: cannot open shared object file: No such fi

[2019-03-13 18:27] suo commented on #17911
Thanks for the report! It seems you a trying to cast a tuple to a list of tensors—the `toX` interface on IValue is not for casting, it's for retrieving the tagged C++ type from the ivalue.

`oList.toTuple()->elements()` will give you a vector of tensors. If you want, you can pass the result to the `IValue` constructor to get an IValue containing a TensorList.

[2019-03-13 18:28] suo commented on #17962
@ailzhang would you have any insight here?

[2019-03-13 18:31] yf225 commented on #17920
@bobqywei Do you mind opening a new issue for this problem, including the reproduction steps?

[2019-03-13 18:35] ailzhang commented on #17962
This might be related to the undef -> autogradzero, cc @wanchaol do you have any idea what could be happening?

[2019-03-13 18:42] vaeksare opened #17988 "Windows test failures if compiled without MAGMA"
With the changes made by commit #14964 some of the btri tests that run by default now fail on Windows if PyTorch is compiled without MAGMA:

RuntimeError: btrifact: MAGMA library not found in compilation. Please rebuild with MAGMA.

These tests should be disabled if MAGMA is not found.

[2019-03-13 18:49] glample commented on #4068
Hi, any updates on this? Being able to provide weights (on top of the indices) would be really useful.

[2019-03-13 19:13] wanchaol opened #17990 "[jit] support general buffer mutation"
## 🚀 Feature
In TorchScript, we cannot generally mutate buffer in script module:

So if i do:
[code]
then after in forward if i want to:
[code]
it will throw error:
[code]

We could somehow use augment assign to mutate the buffer currently, but we really want to support the general case. The following rewrite can unblock it:
[code]

[2019-03-13 19:27] vargonis commented on #17568
I was finally able to reproduce and worked out a small (but probably not minimal) example. The issue is not related to the GPU nor the model size. As @soumith suggested, it's a RAM memory leak, but unrelated to the data loader. Consider the following script:

    import torch
    import numpy as np

    model = torch.nn.Conv2d(3, 8, (3,3)) #.cuda()

    optimizer = torch.optim.SGD(model.parameters

[2019-03-13 19:32] jermainewang commented on #14057
Yeah, it's also weird that not all the import causes this problem. For example, `import numpy` has no problem. Do you know how could we debug into this? so maybe we could provide more accurate reason.

[2019-03-13 19:44] ailzhang commented on #14057
Yea I spent more time on this and it might be related to the difference between import semantics in python2 and 3. (at least for the python2.7 failure that I can repro locally).
What's happening now is python2 fails to find out `torch.float32` is in module `torch`. Basically it's trying to look for `torch.float32` as a string in module `__main__`, which what it should do is looking for `float32` i

[2019-03-13 19:47] bobqywei opened #17992 "libtorch C++ library does not compile properly"
## 🐛 Bug

After building libtorch from source using build_libtorch.py (latest master as of 1e42720), I am not able to compile my project correctly. Here is my project's CMakeLists.txt:

I built the project using `cmake -DCMAKE_PREFIX_PATH=~/pytorch/torch/share/cmake/ ..` followed by `make` and everything seems to work fine. However, when I try to run the executable, I get this error:

Note that li

[2019-03-13 20:03] soumith commented on #17568
it's not a leak. the line `running_loss += loss` will keep the backward graph (loss.grad_fn) perpetually over the for loop. the backward graph holds onto all the gradient buffers it needs.

What you meant to do / want to do is `running_loss += loss.item()` -- here `loss.item()` returns a Python number.

[2019-03-13 20:03] #17568 closed

[2019-03-13 20:03] danFromTelAviv commented on #14401
I sent you an email with the minimal code.

[2019-03-13 20:40] JurijsNazarovs opened #17994 "randn error with tensorboardX"
Hello,

I am using pytorch and tensorboardX to create a graph of my network. When I try to create a graph of network, which involves torch.randn(), by .add_graph() I get following error:

[code]

As I understand, message says that problem is with onnx not able to process ```torch.randn```. However, onnx told that they do not have issue with randn, and the issue with pytorch.

Issue with tensorboar

[2019-03-13 20:43] vargonis commented on #17568
Fair enough, but that doesn't explain why using `frames = torch.rand((2,3,1080,1920))` instead of `torch.stack` results in bounded memory use. I'm right now running that, been doing so for several minutes, and monitoring memory usage gives approximately constant use of 3.5 gigas. Moreover, if I run the original script for, say, 10 loops and then try `running_loss.backwards()`, then I get

Thus, it

[2019-03-13 20:54] wanchaol commented on #17962
that undef -> autogradzero is just a rename that it should not affect any semantics before/after. @YashSinha1996 can you provide a fully reproduciable script? I tried the above thing and it does not work because of missing inputs (like input_ids, attention_mask, etc.)

[2019-03-13 21:00] fermat97 commented on #7815
Did you figure it out how to implement the modified Bessel of any order on Cuda. I need it to compute the KL-divergence of two von Mises-Fisher distribution. Right now I think I can do it with `scipy` but it is not on GPU.

[2019-03-13 21:00] soumith commented on #17568
it's very likely something dumb -- such as `torch.rand` is actually an integer type, so the graph probably doesn't even carry / define gradient for it. You'd have to inspect `grad_fn` to see why the `frames = torch.rand` case is running bounded memory, but my explanation still holds.

[2019-03-13 21:05] vargonis commented on #17568
OK. Although it is not fully consistent to hold the graph and claim that it's been released, I'm fine with it. Should always just use `.item()`.

[2019-03-13 21:08] soumith commented on #17568
the graph is not always held. It's held when PyTorch determines it needs to be held. In fact, only parts of the graph are held that PyTorch needs for backward.

[2019-03-13 21:13] vargonis commented on #17568
As far as I'm concerned, if I can't call backward, then the graph needs not be held. But maybe one day I'll attain higher understanding of autograd mechanics and be able to agree with you.

[2019-03-13 21:35] vadimkantorov commented on #17935
@zou3519 so e.g. to support an easy case we need to determine if re-strided tensor is a contiguous chunk of memory and determine begin+end storage offsets?

I proposed a similar thing for non in-place ops (e.g. an expanded tensor times a constant should not produce a giant expanded materialized tensor), but @soumith said it was too of a breaking change back then: https://github.com/pytorch/pytorch

[2019-03-13 21:56] mthrok opened #17998 "[feature request] Support bidirectional RNNs in C++ API"
## 🐛 Bug

C++ API `torch::nn::GRU` fails when `bidirectional=true`. (It works fine when `false`).

Error occurs [here](https://github.com/pytorch/pytorch/blob/42acae5406a024a7eca67bb119bab09222fd2fe6/aten/src/ATen/native/RNN.cpp#L135)

I tried with different options; the changing the number of layers from 1 to 2 and switching `batch_first` parameter, but it yielded the same outcome.

## To Reprodu

[2019-03-13 22:36] rohithkrn opened #18000 "Unsupported type of tensor c10::half when running resnet50_trainer.py in Caffe2"
## 🐛 Bug

Unsupported type of tensor c10::half error in SpatialBN operator when running resnet50_trainer with float16 type on V100, cuda10, cudnn7

 ## To Reproduce

Steps to reproduce the behavior:

1. docker pull pytorch/pytorch:nightly-runtime-cuda10.0-cudnn7
2. pip install future networkx protobuf
3. python /opt/conda/lib/python3.6/site-packages/caffe2/python/examples/resnet50_trainer.py --tra

[2019-03-13 22:51] JackWindows commented on #17819
@yf225 Thanks for your testing.
To update the issue, we have tested again using PyTorch's official cmake tutorial and cannot reproduce the slowdown.
We dug into our internal build system deeper and found we have an offending link time library `libblas`. We use `clang` and `bazel` to build our C++ inference code, and if we remove `libblas` from the link time library, the slow down goes away.
Strang

[2019-03-13 22:57] #17819 closed

[2019-03-13 22:58] soumith commented on #17819
the order of `-l` options matters because in one case `libblas` is taking precedent / loaded first, and in the other case mkl is being loaded first.

[2019-03-13 23:00] JackWindows commented on #17819
Can you explain a bit on how `mkl` comes into play?
I thought the slow operation is `thnn_conv_dilated2d_forward`, and there are `mkldnn` convolutions which run fine in C++ inference code.

[2019-03-13 23:03] soumith commented on #17819
`thnn_conv_dilated2d_forward` uses gemm

[2019-03-13 23:27] brimb opened #18002 "Undefined variable from import:log, Undefined variable from import:add"
## 🐛 Bug

undefined variable from import:log

## To Reproduce
1. install anaconda and eclipse
2. install pytorch using conda install pytorch-cpu torchvision-cpu -c pytorch
3. copy and paste code on eclipse IDE

import torch
import numpy as np
a = torch.Tensor(np.array([1]))
test_torch = torch.log(a) + torch.add(a,a)

Error: Undefined variable from import:log

## Expected behavior

I expected to be

[2019-03-13 23:35] yf225 commented on #13638
`is_variable()` in `getType(TensorOptions)` is actually not always false. For example:
[code]
This function can be called with `options` coming from a Variable, and we expect it to dispatch to `VariableType::empty(...)`. If we let `getType(TensorOptions)` always return the "non-variable" version, it will dispatch to the wrong path:

Before:
[code]

If we let `getType(TensorOptions)` always return

[2019-03-13 23:54] eellison commented on #17970
Thanks for the report! we are looking into this

[2019-03-14 00:12] soumith commented on #18002
what is `torch` is a local file in your current working directory call `torch.py` or a folder in your current working directory called `torch`, and not the actual `torch` that was installed into site-packages.

[2019-03-14 00:47] sidazhang opened #18003 "[JIT] Allow Serialization to be exportable for debugging"
## 🚀 Feature

Make serialization part of the torchscript and compilable. Use case looks like this:
[code]
This way it allows me to conveniently debug the model inside a production workflow
[code]
## Motivation

A common way of debugging neural networks is to visualize the intermediate feature maps. This is super easy to do in Python. However, if you wanted to debug on the production side. There is

[2019-03-14 00:51] hfengzhi commented on #17911
ok！it works well. thank you .

[2019-03-14 00:53] shashankNREL opened #18004 "C++ model forward error"
I traced the script from python pytorch implementation. But when I am trying to perform a model inference on the C++ code, I keep getting the following error.

Here is my code
[code]
And the error message is
[code]
The output of the code shows that I am passing the input (which should be an array with 4 floats) as floats.
[code]
Can you help me understand this error message and why I am doing wron

[2019-03-14 01:05] suo commented on #17911
Cool, I'm going to close this out then.

[2019-03-14 01:05] #17911 closed

[2019-03-14 01:32] bhushan23 commented on #17751
for CPU,
Issue is due to OMP Parallel
https://github.com/pytorch/pytorch/blob/a5e7b1d03268cc2afbce4109206dcf6a57b0f4fd/aten/src/TH/generic/THTensorMath.cpp#L271
Disabling OMP Parallel fixes the unhandleded exception

Haven't looked into cuda issue yet.

[2019-03-14 01:42] pritamdamania87 opened #18005 "Support 'bytes' type in torchscript"
## 🚀 Feature

Need support for 'bytes' type in torchscript

## Motivation

While dealing with image data, we have use cases where we download a blob from a blobstore and need to pass it to a torchscript module for further processing (ex: torchvision.transforms).

Currently, there is no clean way to do this since pybind enforces that python strings be utf-8 encoded and as a result we can't pass in

[2019-03-14 01:47] pritamdamania87 commented on #18005
@dzhulgakov

[2019-03-14 03:46] leemgs commented on #17794
@ezyang , Got it. BTW, What is a key reason that CI is sometimes broken (or slow speed suddenly)? Can not we maintain the CI operation more faster and more stably to help reviewers that participate in the code review voluntarily? Does the existing CI infrastructure of the Pytorch repository uses CircleCI & TravisCI?

[2019-03-14 03:57] ezyang commented on #17794
There are a few reasons:

1. CircleCI randomly craps out on a small percentage of runs, before we even run any code. We've told CircleCI about this but a fix has been very slow coming
2. We have a few flaky tests. It takes a bit of time to diagnose and disable them, so a few of them stick around and intermittently terrorize diffs. Search for "flaky" to see some standing issues on them. They need s

[2019-03-14 03:59] ezyang commented on #18000
This sounds like one of the Caffe2 operators doesn't support half, which I don't find terribly surprising.

[2019-03-14 05:14] vishwakftw commented on #18004
Please open this in the [forums](https://discuss.pytorch.org), if you feel this is not a bug in PyTorch.

[2019-03-14 07:02] bhushan23 commented on #17751
This is a wider issue affecting all the tensor operations with OpenMP

[2019-03-14 07:16] Ricocotam commented on #17568
Just to get it right, when you use `torch.rand` it crashes but not with `torch.stack(numpy)` ?
What about `torch.stack(torch.rand)` ?
Rand draw uniformly between 0 and 1 so there's not "int" problem and even if it was integers drawn, they do not appear in the graph.

Is `running_loss.backward()` fails it's because you did `loss.backward()` and `optimizer.step()`. You can't backward through the sam

[2019-03-14 07:39] LCAR979 commented on #7082
Same problem here.

- Ubuntu 16.04
- Matlab R2017a
- PyTorch 0.4.1 (conda env)
- anconda2
Any progress on this issue?

[2019-03-14 07:58] xi-mao commented on #7082
I have solved the problem. you should down grade your pytorch version to 0.3, and  use python2. The issue will be solved. Besides I didn't use conda env. I didn't suggest use conda environment。

[2019-03-14 08:06] LCAR979 commented on #7082
@xi-mao. Thanks, but downgrading is not an option for me since I strongly need the fft module in 0.4.

[2019-03-14 08:23] vargonis commented on #17568
That's almost right: the other way around (crashes with `torch.stack(numpy)`.

That runs without problem.

Indeed. The three options above are mathematically equivalent, so this is at least exposing an inconsistency in PyTorch's internals.

That's exactly why I'd expect the code to run without problem and see this as a memory leak. Somewhat related: already having `running_loss += loss` turn `runn

[2019-03-14 09:14] xiaoheizi123 opened #18011 "caffe2 Segmentation fault (core dumped)"
I compile caffe2 from source(pytorch) by anaconda3.

operations:
In the pytorch directory,I
 mkdir build && cd build
cmake -DCMAKE_PREFIX_PATH=/home/zhengr/.conda/envs/caffe2-source -DCMAKE_INSTALL_PREFIX=/home/zhengr/.conda/envs/caffe2-source ..
sudo make install -j8

there is no error by then.

[100%] Built target caffe2_detectron_ops_gpu
Install the project...
-- Install configuration: "Release

[2019-03-14 10:22] YashSinha1996 commented on #17962
@wanchaol Sure. Using
https://github.com/huggingface/pytorch-pretrained-BERT/blob/master/examples/run_lm_finetuning.py as base, replace the the line

[2019-03-14 10:24] noahzn opened #18012 "Using torch.cuda.synchronize causes 6 times slower."
Hello, I want to test the speed of my model, but I find that the speed varies huge depends on whether I use **torch.cuda.synchronize** or not.

[code]
If I run the code without **torch.cuda.synchronize()**, the FPS is about 180, while if I run with **torch.cuda.synchronize()**, FPS is only 30. I also tested other models, but the difference was only 5~10fps. I want to know if the speed difference i

[2019-03-14 10:27] soumith commented on #18012
this post gives the answer: https://discuss.pytorch.org/t/doing-qr-decomposition-on-gpu-is-much-slower-than-on-cpu/21213/6

[2019-03-14 10:27] #18012 closed

[2019-03-14 10:28] IB1387 commented on #14401
I reworked my model architecture a bit and now the CRNN seems to be able to learn without nan gradients. I've not tried to go back to integer tensors yet, but I suppose my problems were related to the "incorrect" layer order. The ordering I use now is ((Dropout ->) Conv -> Batchnorm -> Activation (-> Pooling)) per convolutional block.

[2019-03-14 10:38] brimb commented on #18002
Thank you for your response Soumith. I have double checked and I do not have a local file named torch.py in my working directory.

[2019-03-14 10:46] NegatioN opened #18013 "[Caffe2] model execution time depending on number of underlying logical CPUs while enforcing single thread"
## 🐛 Bug
Caffe2 inference through python bindings has huge slowdown when put in docker , depending on how many "logical" CPUs are exposed by the host, even if execution threads are set to one via `OMP_NUM_THREADS=1` and `MKL_NUM_THREADS=1`.

## To Reproduce

Steps to reproduce the behavior:

1. Install docker
2. run `./test_difference.sh` in https://github.com/NegatioN/Caffe2Struggles

## Expected

[2019-03-14 10:58] miguelvr commented on #17415
is there a workaround for this? the only way I got it to work was inside a docker container with the linux version

[2019-03-14 11:19] yangchengtest opened #18014 "nn.CrossEntropyLoss() Assertion `t >= 0 && t < n_classes` failed"
System:Ubuntu 16.04
Version:1.0.1.post2
python version:3.5

my code:
criterion = nn.CrossEntropyLoss().cuda(gpu)
print (pre_yaw.data)
print (pre_yaw.size())
print (label_yaw.size())
print (label_yaw.data)
loss_yaw = criterion(pre_yaw, label_yaw)

## this line error:
print(loss_yaw.data)

//pre_yaw size
torch.Size([16, 66])
//label_yaw size
torch.Size([16])
//label_yaw
tensor([ 5, 26, 45, 37,  5, 5

[2019-03-14 12:23] AaronWXIN opened #18015 "arguments are located on different GPUs on LayerNorm"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

[2019-03-14 12:24] #18015 closed

[2019-03-14 12:37] tangxiangru commented on #17009
I have the same problem. Is the issue solved?

[2019-03-14 13:14] treble-maker123 commented on #16417
I too am running into similar errors. My model was working earlier with the exact setup, but now it's giving this error after I modified some seemingly unrelated code.

RuntimeError: CUDA out of memory. Tried to allocate 1.34 GiB (GPU 0; 22.41 GiB total capacity; 11.42 GiB already allocated; 59.19 MiB free; 912.00 KiB cached)

[2019-03-14 13:16] NegatioN commented on #18013
From what I can see, caffe2 seems to always use a defaultThreadPool, which is always generated with the same number of threads as the number of cpus available from the OS.
https://github.com/pytorch/pytorch/blob/v1.0.1/caffe2/utils/threadpool/ThreadPool.cc#L26

Does this seem correct?

If so, is this something you would consider exposing as an option in the `workspace` or doing something which sol

[2019-03-14 13:37] #17247 closed

[2019-03-14 13:42] black-puppydog commented on #2118
[Searching for "class Flatten" "import torch.nn"](https://github.com/search?q=%22class+Flatten%22+%22import+torch.nn%22&type=Code) yields over 4000 results, most of which seem to be variations of @fmassa's [example](https://discuss.pytorch.org/t/flatten-layer-of-pytorch-build-by-sequential-container/5983/2) from the forums.

[code]

Which makes sense, since as @JulesGM points out, it is a *super*

[2019-03-14 13:59] #18004 closed

[2019-03-14 14:19] SsnL commented on #17583
@apaszke @zdevito If there is not a good solution for the scenario I described, alternatively, can we support tracing a function with a module as an input?

[2019-03-14 14:22] treble-maker123 commented on #16417
I don't know if my scenario is relatable to the original issue, but I resolved my problem (the OOM error in the previous message went away) by breaking up the nn.Sequential layers in my model, e.g.

[code]

to

[code]

My model has a lot more of these (5 more to be exact). Am I using nn.Sequential right? Or is this a bug? @yf225 @fmassa

[2019-03-14 14:24] #17988 closed

[2019-03-14 14:35] Diego999 commented on #11030
Any news on this ?

[2019-03-14 14:38] Diego999 commented on #15773
Any news on this ?

[2019-03-14 14:57] zou3519 commented on #17249
@dylanbespalko I'm still confused by your use case. Could you demonstrate an example of what you'd like to accomplish with this functionality? It would be really helpful if you described what one of the custom tensors you'd like to use does (SurfaceTensor, etc)

[2019-03-14 15:15] SsnL commented on #16608
There seem to be two types of errors:
1. on `pytorch_linux_trusty_py3_6_gcc7_test`:
  the error described in the issue.
2. on `pytorch_linux_trusty_py2_7_test`:
[code]

[2019-03-14 15:54] conormdurkan commented on #7284
@aliutkus Great work, thanks! Is it possible for this solution to be integrated into PyTorch?

[2019-03-14 16:03] rohithkrn commented on #18000
It errors out in SpatialBN operator which supports half. Same script runs on ROCm.

[2019-03-14 17:12] #13465 closed

[2019-03-14 17:25] Krovatkin commented on #17970
@eellison i'll take a look!

[2019-03-14 17:59] jsmith8888 commented on #17108
Does anyone have any ideas on how I should move forward with troubleshooting why "torch._C._cuda_init()" errors out with "RuntimeError: CUDA error: unknown error"?

My setup is:

Nvidia GTX 1050Ti
Windows 10 Pro
Conda 4.6.7
Python 3.7.1
CUDA V10.0.130
Pytorch 1.0.0.dev20190310

[2019-03-14 18:13] sidazhang opened #18027 "Support Batch Dot Product"
## 🚀 Feature
Support batch dot product

## Motivation
Commonly used operation

## Alternatives

Currently, we can do this with bmm. But I think it makes sense to just support batch dot product since it is very commonly used

[2019-03-14 18:37] yf225 commented on #13638
Update: Based on the offline discussion, we will want to check `!at::NonVariableTypeMode::is_enabled()` in `getType(TensorOptions)`, similar to our implementation of `getType(TensorImpl)`.

[2019-03-14 18:55] ezyang commented on #10322
Another one: https://circleci.com/gh/pytorch/pytorch/967713?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2019-03-14 19:08] ezyang commented on #17716
I think that you want https://github.com/pytorch/pytorch/issues/17249

[2019-03-14 19:09] ezyang commented on #17249
I think this is unlikely to be what you actually want. Unlike in Python, you can't extend Tensor in the "obvious" way and expect it to work. I think it is probably better to keep this entirely in Python land to start.

[2019-03-14 19:13] SsnL commented on #17983
Can't this be done efficiently using group conv?

[2019-03-14 19:18] sidazhang commented on #18027
@suo  I can implement this if you can point me to where this code should go

[2019-03-14 19:30] AntreasAntoniou commented on #17983
Can you elaborate? With standard convolutions, simply appending more filter parameters wouldn't work because the whole batch given would be convolved with all filters. So in detail:
Let's assume that I have:

A collection of batches of images of shape (b_i, b_j, c, h, w)
A batch of kernel weights of shape (b_i, out_features, in_features, kernel_height, kernel_width)
A stride of 1, kernel size of 3

[2019-03-14 19:37] soumith commented on #18027
isn't that just a matrix multiply?

[2019-03-14 19:41] SsnL commented on #17983
with slight reordering,

(b_j, b_i, c_in, h, w) -> (b_j, b_i * c_in, h, w)
(b_i, c_out, c_in, kh, kw) -> (b_i * c_out, c_in, kh, kw)

then do group=2b_i conv.

[2019-03-14 19:41] SsnL commented on #18027
@soumith it's the diagonal of a mm

[2019-03-14 19:54] yf225 opened #18032 "CUDNN_STATUS_EXECUTION_FAILED when calling torch.cudnn_affine_grid_generator"
## 🐛 Bug

For the following code block
[code]

With CUDA 8.0.61 and CUDNN 7.2.1 it gives the following error:
[code]

With CUDA 9.0.176 and CUDNN 7.4.2 it works fine.

## Expected behavior

The same code worked on nightly builds before Jan 27, 2019, but is broken after Feb 8, 2019, which suggests that there is a regression commit in between.

[2019-03-14 20:06] AlliedToasters commented on #12308
@weiyangfb  If you are looking for a use case for linear with dense input vector, sparse weights matrix, please look at our [Sparse Evolutionary Training project](https://github.com/alliedtoasters/synapses).
We are currently using third-party libraries to fill these feature gaps but official support would be awesome. Plus, it can be faster I'm sure!

[2019-03-14 20:40] aanno opened #18041 "Question: [rocm]: MIOpen(HIP): Warning [FindRecordUnsafe] File is unreadable: /opt/rocm/miopen/share/miopen/db/gfx803_32.cd.pdb.txt"
I'm using the ROCM port of pytorch:

[code]
However, when I try to use this port on a ANN, I get the following warning:

[code]

*After this warning, any calculation (ANN training) is stalled.*

There is indeed no such file:

[code]

[2019-03-14 20:44] Ricocotam commented on #17568
I might be wrong but here is my guess :

When you compute `running_loss += loss` you build a new computational graph since `loss` is the output of a nn.Module, `running_loss` is a tensor that requires grad iif it was required previously. Thus you keep extending the graph and it gets too big.

But the fact you don't have this problem when you do a stack on tensors is really strange

[2019-03-14 21:20] yagamimisa commented on #15612
This works for me. Thank you.

[2019-03-14 21:30] ezyang commented on #7284
I'll commit to reviewing a PR that adds this functionality to PyTorch. However, I would like to know what to do about the identical functionality in one_hot_ops

[2019-03-14 22:08] Shappenny commented on #7019
For anyone facing this or a similar issue and who landed on this page, check out [this solution](https://github.com/pytorch/pytorch/issues/1637#issuecomment-338268158) on a similar issue.
Tl;dr, disable IOMMU by changing/adding the line `GRUB_CMDLINE_LINUX="iommu=soft"` to `/etc/default/grub` and rebooting. This solved an issue with NCCL that presented the same symptoms for me after upgrading to d

[2019-03-14 22:14] siddheshmhatre commented on #14352
@cindycia Hi. I am trying to compile my ROS workspace along with libtorch and I face linking errors with ros when I add find_package(Torch REQUIRED) in my CMakeLists.txt . Did you face similar problems?

[2019-03-14 22:15] ezyang commented on #17249
@dylanbespalko would it be possible for you to post your WIP patch, or at least a general description of your C++ implementation strategy? There are likely to be performance considerations and I'd prefer to give you feedback about them earlier rather than later.

[2019-03-14 22:17] dylanbespalko commented on #17249
@ezyang,

Working on isolating my python-based WIP right now. I will post it in an hour or so.

[2019-03-14 22:20] ezyang commented on #17976
Please ask for support about this on the forums. https://discuss.pytorch.org/ When you repost there, please also include the output from `nvidia-smi`

[2019-03-14 22:20] #17976 closed

[2019-03-14 23:01] ailzhang commented on #14057
@jackroos @jermainewang Would you mind trying out the fix above and see if it fixes your issue? It's mainly for fixing python2.7 one that I reproed locally, but if you could get me a repro for the `networkx` with python3, happy to look into that as well.

[2019-03-14 23:27] peterjc123 commented on #17108
@jsmith8888 Try updating your gpu driver.

[2019-03-14 23:36] aliutkus commented on #7284
I would be glad if it gets integrated. I don't know how to proceed and got no time for the heavy unit testing it probably takes though

cheers

[2019-03-14 23:57] #17558 closed

[2019-03-15 00:11] AntreasAntoniou commented on #17983
@SsnL You are correct. This is a very efficient way of doing this. I wasn't very aware of the details behind pytorch's groups argument. I knew what group convs were, mathematically and intuitively. However, I've never actually made use of them in Pytorch. Thanks for your help with this. I will implement BatchConv2D and BatchConv1D using the group convs, and then BatchLinearLayer using torch.bmm. I

[2019-03-15 00:21] SsnL commented on #17983
@AntreasAntoniou Awesome. Yeah the `2*` factor was a typo. Glad that you figured it out. :)

[2019-03-15 00:27] omry opened #18048 "Excessive call to cudaGetDevice and cudaSetDevice"
## 🐛 Bug

While profiling my code, I noticed millions of calls to cudaGetDevice which were slowing down my
code significantly (it's an RL use case and the model I am using is small).
I have a minimal repro that demonstrate that a single forward call on nn.Linear() is triggering 11 cudaGetDevice() calls and 3 cudaSetDevice() calls.

## To Reproduce
See attached code snippet.

Steps to reproduce the

[2019-03-15 00:30] omry commented on #18048
Uploading with a .txt extension, thanks github!

[cudagetdevice.py.txt](https://github.com/pytorch/pytorch/files/2968954/cudagetdevice.py.txt)

[2019-03-15 00:55] sidazhang commented on #18027
Yeah it is just a matrix multiply. But it is annoying to write everytime. It is so commonly used I think we should just have a batch dot method.

[code]

[2019-03-15 01:01] sidazhang commented on #17990
Does this work for attributes too?

[2019-03-15 01:04] teng-li commented on #18048
@ezyang @ngimel

Any plan on getting this fixed? 11 calls per op is a lot

[2019-03-15 01:10] omry commented on #18048
for context, this is what it's  doing in my real benchmark:
Note that cudaGetDevice accounts to 25% of the time, and cudaSetDevice is another 7.6%.

[code]

[2019-03-15 01:11] dylanbespalko commented on #17249
@ezyang, @zou3519

Ok guys, the WIP can be found  in #18046.

There are 3 files of interest:
1. tests/test_subclass.py: Contains `class A(Tensor)`, `class B(Tensor)`, and `class C(Tensor)` and different unit tests for different numbers of input args (In), output args(Out), and output keywords (InOut).
2. tests/test_torch.py:  I needed to avoid a few cases where `self.assertIs()` is used in a test

[2019-03-15 01:27] AntreasAntoniou commented on #17983
[code]

[2019-03-15 01:28] AntreasAntoniou commented on #17983
I've just finished implementing the batch operator layers, along with a short usage script found below:
[code]

[2019-03-15 01:31] AntreasAntoniou commented on #17983
I'll now measure the speed of the parallel variant vs the sequential variant, on both high and low b_i.

[2019-03-15 02:09] nilsjohanbjorck opened #18049 "Clarify precedence for ternary tensor operators in documentation"
## 📚 Documentation

The documentation in https://pytorch.org/docs/stable/torch.html#torch.addcmul seem to suggest that the precedence for the operators are as follows

out = tensor + value * (tensor1 * tensor2)

Is that correct? In general, since floating point operators do not commute, could the precedence for addcmul and addcdiv be clarified? Such information is important for numerical troublesh

[2019-03-15 04:06] ezyang commented on #18048
@zou3519 was the last one to investigate this in https://github.com/pytorch/pytorch/issues/13049 and what we discovered was that simply just deleting all of the cudaGetDevice/cudaSetDevice calls didn't actually speed things up much--i.e., the costs from nvprof are hugely distorted and not representative. What *was* expensive is if we were virtual dispatching to the cudaGetDevice/cudaSetDevice call

[2019-03-15 05:01] peterjc123 commented on #14299
@Gr4ph1c Now we start to distribute the debug build for CPU, CUDA 9.0 and CUDA 10.0. Please have a try.

[2019-03-15 05:02] peterjc123 commented on #17711
Precompiled version (Debug only) :
[code]

[2019-03-15 05:02] #17711 closed

[2019-03-15 05:02] peterjc123 commented on #17711
Please reopen this issue when you have problem.

[2019-03-15 05:05] #16841 closed

[2019-03-15 05:09] ngimel commented on #18048
Our experiments also indicate that cudaGet/SetDevice calls do not affect real time too much, however, disabling them requires more than just editing CUDAGuardImpl. E.g., caching allocator (which typically would be called for each output) calls cudaGetDevice https://github.com/pytorch/pytorch/blob/master/c10/cuda/CUDACachingAllocator.cpp#L192, or getCurrentCUDAStream that is called for every kernel

[2019-03-15 05:10] #14193 closed

[2019-03-15 05:10] peterjc123 commented on #13808
Duplicate of https://github.com/pytorch/pytorch/issues/15630.

[2019-03-15 05:10] #13808 closed

[2019-03-15 05:15] peterjc123 commented on #15757
Guys, we are now providing the debug version of libtorch in the nightlies.

[2019-03-15 05:17] peterjc123 commented on #5520
Closing this, as it is not supported anymore.

[2019-03-15 05:17] #5520 closed

[2019-03-15 05:20] peterjc123 commented on #9490
It is now compiled with /MD.

[2019-03-15 05:20] #9490 closed

[2019-03-15 05:26] peterjc123 commented on #11203
Duplicate to https://github.com/pytorch/pytorch/issues/15630.

[2019-03-15 05:26] #11203 closed

[2019-03-15 05:30] #9263 closed

[2019-03-15 06:05] suruoxi commented on #1274
Great feature for debugging. any updates?

[2019-03-15 07:48] xzntek commented on #16741
I have same problem with version 1.0.0.dev20190312. This problem is not fixed

[2019-03-15 08:16] xzntek commented on #16741
This bug still is there. I have tried lots of different models. All of them will give same error.

For example i get here same problem.
git code - https://github.com/Ugness/PiCANet-Implementation
models -  https://drive.google.com/drive/folders/1s4M-_SnCPMj_2rsMkSy3pLnLQcgRakAe

[2019-03-15 08:21] jaechanglim commented on #17009
@tangxiangru I installed a lower version of cudnn and it worked in my case
try conda install cudnn=7.1.2

[2019-03-15 08:29] vargonis commented on #17568
Yes it is. Looks like if a reference count for the numpy arrays is being incorrectly managed.

[2019-03-15 08:56] vlasenkov opened #18053 "cuDNN error when using interpolations"
## 🐛 Bug

The following script: https://gist.github.com/vlasenkov/b3aa7c12570fe0056fca3421453470ca crashes with the following traceback:
[code]

## To Reproduce

Run the code above on single GPU.

## Expected behavior

The script just successfully finishes.

## Environment
[code]

[2019-03-15 10:00] rami3e commented on #17571
Sure. It is similar to U-net style skip connections but I also pass these features through another conv layer. It is actually in the `forward()` currently. ie.
[code]

[2019-03-15 11:07] yangchengtest commented on #18014
I have same data out of range.
The print function maybe delay...

[2019-03-15 11:07] #18014 closed

[2019-03-15 11:32] f0k opened #18056 "Non-persistent Module buffers"
## 🚀 Feature

`nn.Module.register_buffer()` should get a keyword argument `persistent=True`. If set to `False`, the buffer will not be included in the output of `state_dict()`, and not loaded in `_load_state_dict()`.

## Motivation

I repeatedly come across cases where I want to precompute a tensor at construction time that is then used in every `forward()` call. Let's take a Discrete Cosine Trans

[2019-03-15 12:03] albanD commented on #17568
Hi,

Few points here:
- You don't see a problem of calling backward twice on the same graph because you call backward on the newly computed loss and this does not share anything with the previous graphs. This call to backward will free out all the buffers. After that, when you do `running_loss += loss`, you attach this "empty" graph to the one associated with `running_loss`. To check this, you can

[2019-03-15 12:44] serbulent opened #18057 "cosine_similarity function produces results more than 1.0"
## 🐛 Bug

Cosine similarity function should not calculate a result over 1.0 but it does if vector size is over 84 and more.

## To Reproduce

[code]

## Environment

Collecting environment information...
PyTorch version: 1.0.1.post2
Is debug build: No
CUDA used to build PyTorch: 10.0.130

OS: Ubuntu 16.04.6 LTS
GCC version: (Ubuntu 5.4.0-6ubuntu1~16.04.11) 5.4.0 20160609
CMake version: Could not c

[2019-03-15 12:49] vargonis commented on #17568
Don't get your point. All I was trying to prove with calling `.backward()` on `running_loss` (which I did, getting and reporting above the error you say) is that the buffers had been released and therefore it seems to me that we are confronting a leak, not an error in my code (even if the leak is obviously prevented by using `loss.item()`, as we already know well).

Here I do notice it, and it can

[2019-03-15 13:29] jsmith8888 commented on #17108
**Resolved the issue:**

I was able to resolve the problem - although I don't know why the change I made avoided the error.

As I mentioned previously to test that the GPU was working I would run the below test one command at a time:

import torch
torch.cuda.is_available()
torch.backends.cudnn.enabled
torch.cuda.current_device()
torch.cuda.device(0)
torch.cuda.device_count()
torch.cuda.get_device_

[2019-03-15 13:32] albanD commented on #17568
Sorry I think I misunderstood your point above then, I though you were still seeing a problem even when `.item()` is used.
In that case it is (unfortunately) the expected behavior here.

It is easy to free any buffers encountered during the backward pass and raise a proper error if the user try to use them again.
But it is much harder to delete the graph structure itself while we're traversing it

[2019-03-15 13:36] peterjc123 commented on #17108
cc @ezyang

[2019-03-15 13:39] peterjc123 commented on #17108
@jsmith8888 What about my suggestion? Does it help?

[2019-03-15 13:42] vargonis commented on #17568
The distinction that you are introducing between buffers and graph makes sense and might be relevant, but I must say that it does not help explain (at least not to me) why no unbounded memory use is observed when one uses `stack(numpy)`, as opposed to `stack(torch)`. By the way, I have not explored it, but maybe `torch.stack` has actually nothing to do with this.

[2019-03-15 13:48] jsmith8888 commented on #17108
I already had the latest Nvidia GPU driver so that was not a factor in the solution. I have been trying to resolve this issue for a few weeks now and as part of the troubleshooting process I always make sure that I have the latest GPU driver.

[2019-03-15 13:51] sgugger commented on #17840
I investigated a bit more this bug and it seems to come from the interaction of `torch.set_num_threads` and forward hooks (new with 1.0.1 AFAICT).

Here is a minimal reproducible example in pure PyTorch:
[code]
the last line hangs forever (on Windows only).

`torch.set_num_threads(1)` solves the problem, and also the code only gets stuck if we register more than one hook, aka
[code]
works.

[2019-03-15 13:56] AndersonZhangyq commented on #17108
I found something similar with what  @jsmith8888 mentioned.
I tried to run `torch.backends.cudnn.enabled`, `torch.cuda.current_device()`, `torch.cuda.device(0)`,
`torch.cuda.device_count()`, `torch.cuda.get_device_name(0)` before `torch.cuda.is_available()` one by one. It turns out that if either `torch.cuda.current_device()` or `torch.cuda.get_device_name(0)` was executed before `torch.cuda.is_av

[2019-03-15 14:07] albanD commented on #17568
This is worrying.
Can you check the slight modification of your code I made below and see if the memory usage is different for the different cases please?

[code]

[2019-03-15 14:16] vargonis commented on #17568
Sure. Right now I'm running a model, in a few hours I should be able to
report back to you.

On Fri, Mar 15, 2019 at 3:08 PM albanD <notifications@github.com> wrote:

--
"Io sono giunto a credere che il mondo intero è un enigma, un enigma
innocuo che è reso terribile dalla nostra pessima idea di interpretarlo
come se avesse una verità fondamentale."
-Umberto Eco

[2019-03-15 14:24] peterjc123 commented on #17840
Thanks. I'll dig into it when I have time.

[2019-03-15 14:26] peterjc123 commented on #17108
what about the code modification？

[2019-03-15 14:46] AndersonZhangyq commented on #17108
Well, since the code ran well now, I didn't try to modify the source code.

[2019-03-15 14:47] jsmith8888 commented on #17108
I tried the code modification you mentioned previously, namely:

_Does commenting out the clause https://github.com/pytorch/pytorch/blame/master/torch/cuda/__init__.py#L188 help? Does the error occur when you do cuda init for the first time?_

I commented out #L188 but that did not correct the error. Also the error did occur when I would call "torch._C._cuda_init()" by itself.

With it working suc

[2019-03-15 14:50] peterjc123 commented on #17108
@jsmith8888 ok, got that. Thanks for your report.

[2019-03-15 14:58] zou3519 commented on #17935
I think it's a little more complicated than that. In the following example,
[code]
the three elements of `x` that we would need to modify if we do `y.cos_()` (for example) are not next to each other in memory, they're 3 elements away from each other

[2019-03-15 15:00] zou3519 commented on #17935
I haven't thought very hard about whether or not it would be semantically correct in this case. Perhaps it would be better to just ignore this case completely and error out. An argument for why applying the operation to parts of the underlying tensor and restriding should happen is that numpy appears to do this

[2019-03-15 15:04] zou3519 commented on #17249
@dylanbespalko, if I'm understanding this correctly, in your use case you want to annotate a tensor as representing "Voltage" or "Current". I had a few more clarifying questions:
- Do your tensors have one element, or are they arrays of voltages / arrays of currents?
- Do the tensors behave normally? (do you need to overload any methods/functions on Tensor for Voltage / Current) ?

[2019-03-15 15:14] vadimkantorov commented on #17935
In other words, the condition for safe in-place seems to be "if after restriding the tensor's underlying memory is a collection of contiguous chunks of memory" (with possibly some additional zero strides)?

A compromise could be an operation that returns a view on tensor that is a collection of contiguous chunks of memory, and also gives back an additional stride vector, so that restriding back is

[2019-03-15 15:17] zou3519 commented on #18027
@sidazhang what are the sizes of `a` and `b`? (B, S) and (B, S), and the output is of size (B,) ?

[2019-03-15 15:27] SsnL commented on #18027
So, afaik, neither bmm nor einsum is efficient for this case. But maybe that has changed from when I heard about this.

[2019-03-15 15:28] lianghouhao commented on #4827
You need to configure the environment path for the anaconda python, then I think you can run in IDE. But I haven't found how to fun in command prompt yet.

[2019-03-15 15:29] SsnL commented on #18027
@sidazhang what I would suggest is to benchmark for your usecase
1. bmm
2. einsum
3. mul+sum

and just write a helper function using the best one. It's simple enough that I don't know if we should provide in core. Numpy doesn't have a bdot method as well.

[2019-03-15 16:29] skrah commented on #14227
This is being addressed in the following PRs:

CPU (done): #17049 and #17114

GPU (much more complex, open): #16960

[2019-03-15 16:37] wentaoveggiebird opened #18062 "[build error] error related to nccl when building from source"
## Issue description
I got an error when trying to build pytorch from source. It looks like the error is related to nccl. The system info and complete log is provided below.

## System Info
Collecting environment information...
PyTorch version: N/A
Is debug build: N/A
CUDA used to build PyTorch: N/A

OS: Red Hat Enterprise Linux Server release 6.9 (Santiago)
GCC version: (GCC) 6.4.0
CMake version:

[2019-03-15 16:46] ezyang opened #18064 "Port adaptive_max_pool1d, adaptive_max_pool2d and adaptive_max_pool3d to ATen"
adaptive_max_pool{1,2,3}d are neural network functions that are currently implemented in our legacy THNN (CPU) / THCUNN (CUDA) libraries.  It is generally better if these live in our new library ATen, since it is more feature complete and reduces cognitive overhead.

Info about how to port https://github.com/pytorch/pytorch/wiki/TH-to-ATen-porting-guide

[2019-03-15 17:01] ezyang opened #18065 "Port adaptive_avg_pool3d to ATen"
adaptive_avg_pool3d is a neural network function that is currently implemented in our legacy THNN (CPU) / THCUNN (CUDA) libraries. It is generally better if these live in our new library ATen, since it is more feature complete and reduces cognitive overhead.

Info about how to port https://github.com/pytorch/pytorch/wiki/TH-to-ATen-porting-guide

Note that adaptive_avg_pool2d was ported in #14714

[2019-03-15 17:10] ezyang opened #18066 "Port SpatialAveragePooling and VolumetricAveragePooling to ATen"
See https://github.com/pytorch/pytorch/wiki/TH-to-ATen-porting-guide

[2019-03-15 17:12] ezyang opened #18067 "Port SpatialDilatedMaxPooling and VolumetricDilatedMaxPooling to ATen"
https://github.com/pytorch/pytorch/wiki/TH-to-ATen-porting-guide

[2019-03-15 17:19] pjh5 commented on #15762
@sklipnoty you have a different problem. Can you open a new issue?

[2019-03-15 17:20] pjh5 commented on #17800
cc @kostmo

[2019-03-15 17:28] pjh5 commented on #17415
A workaround is to install mkl yourself, though I cannot find where our MKL libraries are installed from on our binary macs. Installing mkl from conda /might/ work.

[2019-03-15 17:29] ezyang commented on #17992
cc @JerryShih since it's libiomp related.

Triage request: could someone attempt to replicate this problem inside of an Ubuntu 18.04 Docker image with a set of repeatable instructions; that would help us greatly in debugging the problem. It shouldn't be necessary to build with CUDA to cause this problem.

@bobqywei Can you run `locate libiomp5.so` and see if this shared object exists on your syste

[2019-03-15 18:00] vargonis commented on #17568
Memory usage is about the same in all three cases: 141.1MB, 141.2MB and 141.0MB, respectively.

By the way, I must have made a mistake when testing the case with `torch.stack(torch)` before: it behaves just as `torch.stack(numpy)`, namely requires unbounded memory. It is only the case without `torch.stack` that runs on bounded memory (all of this without `.item()`, of course).

For the sake of com

[2019-03-15 18:31] bobqywei commented on #17992
@ezyang yea it does exist, I get the following when I run it
`/home/bobw/pytorch/torch/lib/libiomp5.so`
`/home/bobw/pytorch/third_party/ideep/mkl-dnn/external/mklml_lnx_2019.0.1.20180928/lib/libiomp5.so`

[2019-03-15 18:55] dylanbespalko commented on #17249
@zou3519

Yes, I am using this to annotate a tensor so that another process knows how to interpret the contents of that data. All of the metadata for limiting or displaying that voltage is stored in the GUI, not in the tensor itself. If you take a look at the following image:
![](https://cdn.sparkfun.com/assets/e/5/1/2/6/52f29ce3ce395f8c1b8b4569.png)

The sinusoidal signal is a voltage array (tens

[2019-03-15 18:56] samuelbroscheit commented on #18027
import torch
B = 1024
S = 128
​
x = torch.randn(B, S)
y = torch.randn(B, S)

%%timeit
​out = torch.einsum('bs,bs->b', x, y)
57.2 µs ± 4.43 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

%%timeit
out = torch.bmm(x.view(B, 1, S), y.view(B, S, 1)).reshape(-1)
41.8 µs ± 1.41 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

%%timeit
out = (x*y).sum(-1)
30.4 µs ± 440 ns per loop

[2019-03-15 19:02] dylanbespalko commented on #17249
@ezyang, @zou3519

I'm not working today but I will give a quick update:
1. A python version of torch.Tensor.__array_ufunc__() is implemented [here](https://github.com/dylanbespalko/pytorch).
2. A C/C++ version of torch._C._TensorBase.__array_ufunc_()__ is about 50% complete. This version will not add any complexity to the python front-end.

I'm slowly getting there.

[2019-03-15 19:28] vadimkantorov commented on #16562
Maybe a similar issue:
[code]

[2019-03-15 19:34] soulslicer opened #18074 "Torch Inverse C++ - Error in magma_getdevice_arch: MAGMA not initialized"
## 🐛 Bug

I compiled Magma 2.3.0 from source successfully, and compiled Pytorch 1.1 from source successfully where it used Magma.

When I run my code with the Python API, torch.pinverse(Tensor) seems to work, but when I run it with the C++ Pytorch API torch::inverse(Tensor). it fails with

`Error in magma_getdevice_arch: MAGMA not initialized (call magma_init() first) or bad device`

## To Reprodu

[2019-03-15 20:01] SsnL opened #18078 "PackedSequence should have custom pin_memory for data loading"
see https://discuss.pytorch.org/t/batch-changes-when-dataloaders-pin-memory-true/39966

[2019-03-15 20:04] zou3519 commented on #18027
You need to add a synchronise when using timeit with cuda functions. Something like:

[code]

[2019-03-15 20:08] samuelbroscheit commented on #18027
Thanks, I updated the timings.

[2019-03-15 21:33] oroojlooy opened #18083 "A common class in Linear, Conv, LSTM, ..."
Hi,

Is there any class that all `torch::nn::Linear, torch::nn::Conv1d, torch::nn::Conv2d, ... torch::nn::GRU, ....` inherit from that?
I want to create a general `class model`, which has `std::vector<the common class> layers`, so that later I can fill `layers` with any type of layer that I want, e.g., `Linear, Conv2d, etc.` Is there such a capability in the current API? This can be done easily in

[2019-03-15 22:20] Athospd opened #18086 "mask_scatter_ changes object in-place even after error"
## 🐛 Bug

`masked_scatter_` alters the object even after an error. Is this expected?

## To Reproduce

[code]

## Expected behavior

The tensor `y` should remain the same as before the error. `y.equal(y_clone)` should be `True`.

## Environment

[code]

[2019-03-15 22:51] wanchaol commented on #17990
@sidazhang yes I think if attributes mutation works, currently only inplace mutation supported for attributes though. buffer should behave similar

[2019-03-15 23:35] KR256 commented on #17108
My issue was resolved by doing the suggested above, which you can also force explicitly eg:
target = target.type('torch.cuda.FloatTensor').
Where before I was naively using:
target = target.float()

Also don't forget to cast data,target and model to cuda:
device = torch.device("cuda:0" if use_cuda else "cpu")
model = model.to(device)
data = data.to(device)
target = target.to(device)

[2019-03-16 00:26] AshwinAKannan commented on #14995
I still encounter this [problem](https://github.com/pytorch/pytorch/issues/14995#issuecomment-446413669)

[code]

I don't have a conda install of mkldnn. Here's the partial output of `conda list`

l```
zo                       2.10                 h49e0be7_2
markupsafe                1.0              py36hd9260cd_1
matplotlib                2.2.2                    pypi_0    pypi
mccabe

[2019-03-16 00:40] zhipingx opened #18094 "[JIT Script] Need support on distributions.Categorical."
## 🚀 Feature
Need jit script module to support `torch.distributions.Categorical`.

## Motivation

Our generative model need a sample layer during inference. Currently we are missing sampling support for script model.

## Alternatives

Categorical is a simple method to implement, we can implement a less performant workaround as below:

E.g:
We wish to have:

    sample = torch.distributions.Categor

[2019-03-16 01:22] aimran-adroll commented on #15272
Hi @suo. Would you kindly elaborate on this please:

More importantly, is that something you can do with `script_method`?

I was expecting at minimum for the following to work:

[code]

[2019-03-16 02:15] omry commented on #18048
I wanted to try but fortunately I was not able to build pytorch.
build error: http://paste.ubuntu.com/p/zX3BSmCDWG/
any idea?

[2019-03-16 02:19] vadimkantorov opened #18095 "Rename argument dims of torch.flip to dim"
Functions like `torch.sum` and `torch.mean` support multi-dim through argument `dim` accepting a tuple or a list.

`torch.flip` instead asks for an argument named `dims`. Yes, it doesn't do reduction, but still it processes multiple dimensions, for the sake of consistency, I propose it supports `dim` as well (and maybe `dims` may be deprecated).

https://pytorch.org/docs/master/torch.html#torch.fl