[2019-09-05 14:46] ezyang commented on #24859
Nice! So that means we can use CircleCI for binary builds? (Also, did you see their message that they have beta GPU support on Windows now)

[2019-09-05 14:50] peterjc123 commented on #24859
@ezyang Yes, we could use WS 2019 for building binaries. BTW, could you please apply https://github.com/pytorch/audio/pull/219 to `pytorch/vision` so that I can learn how to use CircleCI on Windows quickly?

[2019-09-05 15:02] ZolotukhinM commented on #23657
FWIW, I think "freezing" feature is valuable independently on whether we use it for MKLDNN or not. I just think that the conversion might be implemented without it and it would be better aligned with how quantization, another model transformation, is planned to be implemented.

[2019-09-05 15:06] cy69855522 opened #25710 "RuntimeError: CUDA error: device-side assert triggered"
## 🐛 Bug

RuntimeError: CUDA error: device-side assert triggered
The problem is strange and accidental. Looks like my index tensor has been modified.

## To Reproduce

Steps to reproduce the behavior:

[code]
[code]
[code]

## Expected behavior

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/u

[2019-09-05 15:13] VitaMusic commented on #25699
are they generated with intel compilers ?
if you had the compilation instructions and tests I'd like to rebuild with Intel from the source.

[2019-09-05 15:16] soumith commented on #25699
not with intel compiler.

The documentation is a bit sparse, but to build libtorch static libs this is what we do: https://github.com/pytorch/builder/blob/master/manywheel/build_common.sh#L131-L143

[2019-09-05 15:17] VitaMusic commented on #25699
under windows did you do VS project maybe ?

[2019-09-05 15:21] soumith commented on #25699
we do have windows build scripts: https://github.com/pytorch/builder/tree/master/windows

However, I dont think we have built static libs on Windows. cc: @peterjc123 to confirm.

[2019-09-05 15:23] soumith commented on #25690
No it is not in our plans. We take RNG from CUDA API, and CUDA has made the decision of not giving same random sequences across GPUs.

[2019-09-05 15:23] peterjc123 commented on #25699
No static libs for Windows.

[2019-09-05 15:23] VitaMusic commented on #25698
I tried the  the both debug and release libs, no changes for multi-threaded
debug dll runtime of VS.

the comment code I did on 287 line would it influence on other code ? or it
is ok ?

dynamically
will this problem be fixed soon ?

ok

[2019-09-05 15:26] VitaMusic commented on #25699
you did not do, or it is not possible to do with this scripts ?

On Thu, Sep 5, 2019 at 5:24 PM peterjc123 <notifications@github.com> wrote:

[2019-09-05 15:32] peterjc123 commented on #25698
Would you please upload your VS project? According to experience, this error is 99% a configuration error.

It's okay but it doesn't solve the problem perfectly. You'd better figure out how something like `[[deprecate]]` work on ICC.

I'm afraid I could not fix it for you. Because it cannot be reproduced in CI. But I'll tell you how to fix. Just open `c10\util\intrusive_ptr.h`, move all the functi

[2019-09-05 15:38] yf225 commented on #25460
@jinfagang The official libtorch build uses the same steps to change the rpath. I am curious can you try the following steps:
1. Run `patchelf --set-rpath '$ORIGIN:$ORIGIN/lib' libc10_cuda.so` as-is, without changing the rpath string in the command.
2. Run `export LD_LIBRARY_PATH=/usr/local/cuda/lib64:/usr/lib/openmpi/lib:/usr/local/lib:$LD_LIBRARY_PATH`

[2019-09-05 15:43] nmilosev commented on #16806
Hey, could I try working on this one? Seems simple enough to get started. :)

[2019-09-05 15:55] VitaMusic commented on #25698
[pytorch_2.zip](https://github.com/pytorch/pytorch/files/3580126/pytorch_2.zip)
please find the project

[2019-09-05 16:03] VitaMusic commented on #25698
Please find the project in attachment

On Thu, Sep 5, 2019 at 5:33 PM peterjc123 <notifications@github.com> wrote:

[2019-09-05 16:48] ezyang opened #25714 "Backtrace prints many <unknown function>"
Our backtrace code frequently prints out frames with `<unknown function>`, indicating that `backtrace_symbols` was unable to retrieve the symbol for the backtrace. For example:

[code]

This occurs even when the library is built with debugging symbols. The reason this occurs is the symbols in question live in an *anonymous* namespace, and thus don't actually have symbols for `backtrace_symbols` to

[2019-09-05 17:49] ezyang opened #25716 "Flag to turn on C++ backtraces for TORCH_CHECK errors"
This diff will turn on C++ backtraces for `TORCH_CHECK` errors

[code]

Sometimes, you want a C++ backtrace without having to recompile PyTorch. It would be nice if there were some runtime flag or environment variable to toggle this.

cc @ezyang @gchanan @zou3519 @malfet

[2019-09-05 17:57] ezyang commented on #16806
@nmilosev yes go for it! Add me as reviewer when you do it

[2019-09-05 18:06] jlin27 commented on #25644
Corrected errors in TorchModule version: https://github.com/pytorch/tutorials/pull/645

[2019-09-05 18:09] carlosgmartin commented on #23156
What's the best way to compute the entropy of a vector, i.e. `-(p*p.log()).sum(-1)`, when some of the `p`s are occasionally 0, in such a way that one doesn't get `nan` gradients? Because of this issue, `-torch.where(p > 0, p*p.log(), torch.zeros(p.shape)).sum(-1)` doesn't work since it can work in the forward pass but return `nan`s in the backward pass.

[2019-09-05 18:50] xuhdev commented on #19172
I think it might worth the effort for the sake of the C++ interface (there is no reliable ways to determine the existence of a PI constant in C++, according to [this](https://stackoverflow.com/a/49778493/1150462), especially for float64 types). Plus, a git grep on PyTorch codebase reveals that multiple `PI`s are defined within the codebase, so at least a struct that stores common constants is desi

[2019-09-05 19:49] stiv-yakovenko commented on #20356
Any news?

[2019-09-05 19:54] yaroslavvb opened #25723 "backward_hook triggered despite RemovableHandle.remove()"
[code]

This prints `hook called`.

cc @ezyang @SsnL @albanD @zou3519

[2019-09-05 20:13] driazati commented on #20356
#25109 will fix this (though the API may change), #25502 needs to land first though

[2019-09-05 20:40] sadikneipp commented on #7455
I believe this is similar to what the new Snorkel lib implemented:
https://snorkel.readthedocs.io/en/master/packages/_autosummary/classification/snorkel.classification.cross_entropy_with_probs.html

Just some extra info on how people are going around the issue

[2019-09-05 21:27] vadimkantorov commented on #25691
I’m not doing anything super-special. Just launching sox per example. It would be nice if the data-loader crashed in this case

[2019-09-05 22:22] brian8128 commented on #14318
Has anyone got a working example yet?

[2019-09-05 23:15] yaroslavvb opened #25736 "backward(retain_graph=) kwarg is missing __init__.pyi"
My IDE gets confused on `output.backward(retain_graph=True)`
Because `torch/__init__.pyi` (PyTorch 1.2) has the following, `retain_graph` kwarg is missing

[code]

cc @ezyang @albanD @zou3519 @gqchen @pearu @nikitaved @soulitzer @jlin27 @mruberry

[2019-09-05 23:15] hughkf commented on #16417
Is this fixed? I have decreased size and batch size both to 1. I don't see any other solutions here, but this ticket is closed. I am having the same problem with Cuda 10.1 Windows 10, Pytorch 1.2.0

[2019-09-05 23:21] aidoshacks commented on #16417
@hughkf Where in the code do you change batch_size?

[2019-09-05 23:26] hughkf commented on #16417
It depends on your code. But here is one example. This is one of the notebooks that reliably causes this issue on my machine: https://github.com/fastai/course-v3/blob/master/nbs/dl1/lesson3-camvid-tiramisu.ipynb. I change the following line,

`bs,size = 8,src_size//2` to `bs,size = 1,1` but still I get this out of memory problem.

[2019-09-05 23:34] yaroslavvb commented on #7786
@soumith thanks, unfold indeed did the trick
I added per-example gradient computation to https://github.com/cybertronai/autograd-hacks

[2019-09-06 00:11] chrisvdweth opened #25743 "Custom sampler for Seq2Seq models to avoid padding"
## 🚀 Feature

As proposed in this [PyTorch forum post](https://discuss.pytorch.org/t/using-batches-for-seq2seq-models/55205): Custom sampler for Sequence-to-Sequence models (but also for sequence classification, sequence tagging, autoencoders, etc.) that forms homogeneous batches, i.e., in the same batch all input sequences have the same length, and all target sequences have the same length. For e

[2019-09-06 00:54] kaczorrrro opened #25747 "Int32 overflow in bincount indexing"
## 🐛 Bug

In `aten/src/ATen/native/cuda/SummaryOps.cu`, there is a snippet:
[code]

When data type is int32, for big enough value of bVal and big number of nbins, multiplication causes int overflow that can result in negative bin index returned. This can cause memory corruption.

## To Reproduce

Steps to reproduce the behavior:

1. Run bincount with minval=0, nbins=65536, and value 36830 inside.

[2019-09-06 00:55] kaniblu commented on #23156
@carlosgmartin For now, the best way is to apply the mask before the subjecting the operand to the operations that results in NaNs. So for your case,

[code]

this should do the trick.

[2019-09-06 01:01] as754770178 commented on #24904
[code]
When `summary_config.input_size` is (3, 224, 224), the graph don't save. I change to (8, 3, 224, 224), the graph save.

[2019-09-06 01:21] soumith commented on #25743
cc: @cpuhrsch @zhangguanheng66

[2019-09-06 01:38] cy69855522 commented on #25710
index

[2019-09-06 01:38] #25710 closed

[2019-09-06 01:43] peterjc123 commented on #25699
@VitaMusic I didn't do it because of the time limit for the nightly builds.

[2019-09-06 01:50] soumith commented on #25009
@XSeanLiu the reason could be many things under the sun, especially because there are CUDA version, CuDNN version etc. that are involved. Try running under nvprof or similar utilities to get insights as to what is going on.
If as you mention data preprocess time is costing much more in pytorch than in caffe, then maybe you can switch to a different underlying library for preprocessing (caffe uses

[2019-09-06 01:50] #25009 closed

[2019-09-06 01:53] soumith commented on #25242
@Jianhui-Li okay that's great. will this be in the next submodule update?

[2019-09-06 02:05] eellison commented on #25637
That should still work since you're invoking it as a normal method. Closed with https://github.com/pytorch/pytorch/pull/25664

[2019-09-06 02:05] #25637 closed

[2019-09-06 02:06] #20028 closed

[2019-09-06 02:08] XiaobingSuper commented on #25242
@soumith , yes, we will update ideep soon.

[2019-09-06 02:49] #24550 closed

[2019-09-06 02:49] #24612 closed

[2019-09-06 03:30] litianqi715 opened #25752 "torch.cuda.empty_cache() write data to gpu0"
## 🐛 Bug

I have 2 gpus, when I clear data on gpu1, empty_cache() always write ~500M data to gpu0.

I observe this in torch 1.0.1.post2 and 1.1.0.

## To Reproduce

The following code will reproduce the behavior:

After torch.cuda.empty_cache(), ~567M gpu memory will be filled on gpu0.

[code]

## Expected behavior

If torch.cuda.set_device(1) is used, then the everything will be good. The followi

[2019-09-06 05:31] jinfagang commented on #25460
Run with libtorch:

[code]

While I am ldd with official downloaded libtorch.so:

[code]

Be attention to this one `libc10_cuda.so (0x00007efd59563000)`, it's relative with same directory as `libtorch.so`, but mine is not. I already set-rpath.

And link error as:

[code]

[2019-09-06 05:34] jinfagang commented on #25460
Even I set `link_directories($ENV{HOME}/libtorch/lib)` , not work on my program.  (I placed all libtorch under HOME)

[2019-09-06 05:52] jinfagang commented on #12918
Same question here, how to set ONNX python support in setup.py?

[2019-09-06 06:36] zhjw0927 opened #25756 "pytorch version is 1.3?????"
Today, I suddenly found torch version is 1.3.
I build torch 1.2 from source, but don't know how to auto update.

![image](https://user-images.githubusercontent.com/42128459/64406141-a22b9780-d0b3-11e9-8456-60a1d7111d3e.png)
Who can explain it ?
Thank you very much!

[2019-09-06 06:41] fmassa commented on #25743
What you are asking for can probably be achieved with GroupedBatchSampler from https://github.com/pytorch/vision/blob/master/references/detection/group_by_aspect_ratio.py
Where you pass as groups the lengths of your sentences.

[2019-09-06 06:55] peterjc123 commented on #25756
Well, since the master branch is newer than the v1.2.0 branch, it's fine to assign the version as 1.3.0. As for your second question, there's no way to do automatical update, but you can try out the nightlies.

[2019-09-06 06:55] #25756 closed

[2019-09-06 07:37] peterjc123 commented on #25698
That's what I did to produce the executable without this issue.
1. Extract `pytorch_2.zip` and save `Source.cpp` to `C:\pytorch_cpp\`.
2. Download LibTorch 1.2.0 Debug version and extract to `C:\libtorch\`
[code]
3. Create the CMake build script `CMakeLists.txt` in `C:\pytorch_cpp\`.
[code]
4. Configure and make
[code]
5. Run
[code]

[2019-09-06 07:47] zhjw0927 commented on #25756
Thank you to explain for me. I seem to understand something, but don’t understand a little.
If build from source, master update and my  torch will also update?
What do you mean by not automatically updating?
And last question: what's nightlies?
Thanks again!

[2019-09-06 07:54] peterjc123 commented on #25756
If you do `python setup.py install`, then it will override your old version. But I'd suggest you remove the old one first. Nightlies are binaries generated every night, you can download them through https://pytorch.org/ by selecting `Preview` instead of `Stable`. Auto-update is mentioned by you first, in my context, it means it will prompt up something when you import torch, telling you that we ha

[2019-09-06 07:56] Godricly opened #25758 "[jit] Implement `in` for list and tuple"
## 🐛 Bug
The *in* operator is bond to Dict when I tried to use it on List or Tuple typle.  I can bypass this with a for loop. But I think this one still should be reported.

## To Reproduce
uncomment to see the bug
[code]
## Expected behavior
[code]
## Environment
Collecting environment information...
PyTorch version: 1.3.0.dev20190905
Is debug build: No
CUDA used to build PyTorch: 10.0.130

OS: U

[2019-09-06 08:17] XiaobingSuper commented on #23825
@jamesr66a  we upgrade MKLDNN to v0.20.5 in #25757, which can solve this problem. Thanks!

[2019-09-06 08:19] lr91-089 commented on #25537
Thanks a lot for  the help. I will try to trace the error in october, when I have more time.
Hopefully I can resolve it then :)

[2019-09-06 08:36] XiaobingSuper commented on #25242
@branfosj, we solve this problem in #25757,  thanks!

[2019-09-06 08:46] jinfagang opened #25760 "/pytorch/third_party/ideep/include/ideep/utils.hpp:15:21: fatal error: mkl_vsl.h: No such file or directory"
I already runs:

[code]

But still got this error....

[code]

cc @gujinghui @PenghuiCheng @XiaobingSuper @jianyuh

[2019-09-06 09:01] litianqi715 commented on #25752
I tried a 4-gpu machine, confirmed that the extra memory allocation only occur on gpu0. gpu2 and gpu3 is clear.

[2019-09-06 09:18] crystalwan opened #25761 "Can't load the tensor image to the GPU devices."
## ❓ Questions and Help

the code is :

- image=cv::imread("test.jpg");
- tensor_image = torch::from_blob(image.data,{1,height, width,3},torch::kFloat32);
- tensor_image.to(at::kCUDA);
-  cout<<tensor_image<<endl;

But the tensor_image is still in CPU,why?

[2019-09-06 09:32] pietern commented on #25570
@soumyadipghosh Interesting idea. I agree this could be useful.

Do you have more concrete thoughts around, for example:
* Tensor registration (on the "receiver" side)
* Tensor discovery (on the "sender" side)
* Notification of operations happening

[2019-09-06 09:32] VanDavv commented on #8115
@alchemi5t unfortunatelly not, I'm not using pytorch currently so I left this issue unresolved on my side

[2019-09-06 09:37] #25550 closed

[2019-09-06 09:37] peterjc123 commented on #25760
Please try this one.
[code]

[2019-09-06 10:44] Nikronic commented on #25761
I do not about C++, but `.to` function is not inplace which means you have to assign it to the referenced variable, like this :
[code]

[2019-09-06 11:15] madieraRRC commented on #25761
tensor-image/.io-patch-1

[2019-09-06 11:30] Nikronic commented on #25706
Hi,
Only this file needs to be changed, right?
https://github.com/pytorch/pytorch/blob/master/docs/source/sparse.rst

@ezyang

[2019-09-06 11:45] peterjc123 opened #25763 "Nightly build failure on Windows (`convert_to_int_of_same_size` related)"
[code]
This error will not occur every time in the build.

cc @ezyang @gchanan @zou3519 @peterjc123

[2019-09-06 11:52] peterjc123 commented on #25393
Looks like an NVCC bug. The workground is protecting eigen headers with `#ifndef __CUDACC__.`  Can we extract some basic code example and compile it against NVCC?

[2019-09-06 11:56] peterjc123 commented on #25389
Again I'm suspecting it is an NVCC bug, especially in CUDA 10.1.

[2019-09-06 12:01] peterjc123 commented on #25763
cc @ezyang

[2019-09-06 12:29] jinfagang commented on #25760
Just wonder why `--cmake`?

BTW, if I want enable onnx python what else can I do except I change CMakeLists.txt inside `thirdparty/onnx`?

[2019-09-06 12:40] peterjc123 commented on #25760
If you don't specify `--cmake`, the configuration step will be skipped. So `USE_MKLDNN` will keep its previous value.

There is no way. We don't use ONNX python during the build.

[2019-09-06 12:46] jinfagang commented on #25760
Then why pytorch installed from pip can `from torch import onnx`? How did u guys build?

I previously deleted `build` dir, and try `export USE_MKLDNN=0`, and then build again. Still got this MKL error

[2019-09-06 12:52] peterjc123 commented on #25760
What does `torch.onnx` has to do with ONNX python? We could just use ONNX C++.

Full log during configuration, please.

[2019-09-06 12:56] SrivastavaKshitij opened #25764 "[NGC Container]Runtime Error - Nvidia Nsight System"
## 🐛 Bug

I am getting the following error when I am trying to profile my pytorch code using `nv-nsight-cu-cli` command.

[code]

## To Reproduce

I can only use containers on my machine. Nvidia ngc container for pytorch doesnt have nsight installed. So, I used tensorflow ngc container (19.06_py3), installed pytorch inside the container (`pip3 install torch torchvision`) and took a snapshot of tha

[2019-09-06 12:56] JianhuanZhuo commented on #24157
Stuck by the same issue, any news?

[2019-09-06 13:27] ezyang commented on #25723
Note: if you remove the handle before invoking the model all is fine:

[code]

[2019-09-06 13:27] ezyang commented on #25723
cc @apaszke

[2019-09-06 13:28] ezyang commented on #25694
@eduidl Thank you. Do you mind opening a PR with that diff? Tag me as reviewer.

[2019-09-06 13:28] qianlinjun opened #25765 "pow"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

[2019-09-06 13:28] #25765 closed

[2019-09-06 13:32] zhjw0927 commented on #25756
Thank you explain it for me again.
I know it, and  also know what is nightlies .
This is the first time I heard it.
Thank you very much!

[2019-09-06 13:33] qianlinjun opened #25766 "how to get cube-root of a negative?"
hello, I want to know how to get cube-root of a negative？
for example (-8)^(1/3) = -2
however, torch.pow(-8, 1/3) get Nan.

[2019-09-06 13:37] ezyang commented on #25706
@Nikronic Yes, that would be a good start! Further follow up would be to figure out why doc building isn't failing us for referring to a non-existent method.

[2019-09-06 13:38] ezyang commented on #25763
Yes, I've seen this one before too. Seemingly related #25393 and #25389

[2019-09-06 13:40] CrazyRundong opened #25767 "Model parallel with DDP get `Socket Timeout` error when using NCCL, while GLOO works fine"
## 🐛 Bug

When training models in multi-machine multi-GPU setting on SLURM cluster, if `dist.init_process_group` with `NCCL` backend, and wrapping my multi-gpu model with `DistributedDataParallel` as [the official tutorial](https://pytorch.org/tutorials/intermediate/ddp_tutorial.html#combine-ddp-with-model-parallelism), a `Socket Timeout` runtime error will raise after the `timeout` (30s in my set

[2019-09-06 13:47] peterjc123 commented on #25766
(-8)^(1/3) apparently doesn't equal to -2, but - 8^(1/3) does. Our behavior is consistent with other libraries like NumPy.
[code]

[2019-09-06 13:47] #25766 closed

[2019-09-06 13:49] jinfagang commented on #25760
Oh, the full story is that I build pytorch from source and I can not call something like:
[code]

it says does not have a symbolic_helper in torch.onnx, then I realize that I can not even have torch.onnx when build from source. This is happened when I try maskrcnn-benchmark.

[code]

[2019-09-06 13:50] zhangguanheng66 commented on #25743
The `BucketIterator` sampler in `torchtext` is able to sort the sentences by lengths. As Francisco mentioned, it should be achievable with `GroupedBatchSampler`. @fmassa Do you think we should move it to `torch.data.utils` for all the domains? I guess it may be useful for some audio data @vincentqb .

[2019-09-06 13:54] soumith commented on #25764
cc: @ptrblck

[2019-09-06 13:55] #25761 closed

[2019-09-06 13:56] banderlog commented on #11348
As far as I was able to understand while I was wondering in crossreferences: there is no implemented working solution but it is under priority development.

#18318 points to https://github.com/pytorch/pytorch/wiki/torch_quantization_design_proposal

Also #18318 mentioned in different project issues https://github.com/williamFalcon/pytorch-lightning/issues/76, from where I was able to get to #24076

[2019-09-06 13:58] fmassa commented on #25743
I think it can be useful in general, yes, so it might make sense to move it (or an improved version of it) to `torch.utils.data`.

[2019-09-06 14:00] soumith commented on #25752
the ~500MB is the initial device context. So it is initializing GPU0 when you run `torch.cuda.empty_cache()`

Can you try:

[code]

[2019-09-06 14:15] pietern opened #25769 "Fix potential infinite loop in TCP store connect function"
## 🐛 Bug

The `connect` function in c10d (used by the TCP store) may end up retrying infinitely if in every connection attempt it gets either a ECONNREFUSED or ECONNRESET.

See https://github.com/pytorch/pytorch/pull/25707#discussion_r321751249

## Expected behavior

It should never run longer than the timeout argument that is already passed.

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @s

[2019-09-06 14:41] orionr commented on #24157
It seems like some graphs cause this issue. A potential fix is at https://github.com/pytorch/pytorch/pull/25599/ but we're still confirming. If you're willing to apply those changes locally and confirm it fixes your issue that would be great.

[2019-09-06 14:54] ezyang commented on #4906
I'm coming back to say, yes, this is exactly what is happening.

[2019-09-06 14:56] mrshenli commented on #23110
That's true, and this error will be printed when some one calls `to_here` on that `UserRRef`. Similar invalid value problem will always exist for `RRef`s. Say we created an RRef whose value take 30s to compute. The remote call should return immediately without waiting for that, i.e., holding an RRef does not mean the value is or will be valid, but this is all fine until someone wants to use it.

T

[2019-09-06 15:00] lbc3402785 opened #25774 "why the torch::cat crashed"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

    torch::Tensor t1=torch::rand({2,2});
    torch::Tensor t2=torch::rand({2,2});

    std::cout<<torch::cat({t1,t2},1);<<std::endl;

## Expected behavior

## Environment

Please copy and paste the output from our
[win10 libtorch1.0](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out the che

[2019-09-06 15:02] sherif7810 commented on #25091
There is [PyTorch Rust binding](https://github.com/LaurentMazare/tch-rs). It can be a good starting point.

[2019-09-06 15:11] SsnL opened #25775 "mean/sum(dtype) arg matching gives bad error message with positional dtype arg"
## 🐛 Bug

`t.sum(torch.float)` is broken yet `t.sum(dtype=dtype)` works. The error message is confusing as well.

![Screenshot 2019-09-06 11 11 08](https://user-images.githubusercontent.com/5674597/64439027-1efc4880-d097-11e9-8c00-eb420962d78e.png)

[2019-09-06 15:23] huzecong commented on #25605
PR #25776 submitted to resolve this issue. Note that this only included the fix for cyclic references.

It's actually quite complicated to solve other related issues. For instance, code for issuing the warning is in `step()` method of the base class, while certain subclasses (`ReduceLROnPlateau` and `CosineAnnealingWarmRestarts`) override `step()` without calling `super()`.

I propose we change th

[2019-09-06 16:04] ezyang commented on #25605
^-- @vincentqb

[2019-09-06 16:05] vincentqb commented on #25605
in the middle of typing ;) thanks for the ping :)

[2019-09-06 16:17] peterjc123 commented on #25774
Please ensure the DLLs are copied to the path of the generated executable.

[2019-09-06 16:17] peterjc123 commented on #25774
https://github.com/pytorch/pytorch/issues/25457#issuecomment-527177504

[2019-09-06 16:18] #25774 closed

[2019-09-06 16:28] #25694 closed

[2019-09-06 16:31] maximiliense commented on #24157
Hi @orionr, I can confirm that tensorboard does show the graph now! thanks!

[2019-09-06 16:32] jspisak commented on #5411
cc @rmunro - see the workaround from @zou3519. This is an expected bahavior..

another workaround, as @rmunro found was to just cast to a float.

[2019-09-06 16:49] vincentqb commented on #25605
Thanks for the work on the PR and the feedback! And thanks for catching the garbage collection issue!

Your proposal raises interesting points. :) Can you elaborate on how the proposal to change the interface relates to fixing the garbage collection? or catching when the scheduler is not called at the right time? Do you think your interface suggestion simplifies the scheduler code independently of

[2019-09-06 16:51] ptrblck commented on #25764
Hi @SrivastavaKshitij,

I just tested our `nvcr.io/nvidia/pytorch:19.06-py3` container and was able to use `nv-nsight-cu-cli` inside to profile a dummy script:
[code]
[code]

Could you recheck the container again?

[2019-09-06 17:06] ulisesbussi commented on #24157
Me too! thanks!

[2019-09-06 17:13] ezyang commented on #16559
I'm able to repro the issue with @senhuiguo's example. Debugging.

[2019-09-06 17:15] SrivastavaKshitij commented on #25764
@ptrblck : Thanks. `nvcr.io/nvidia/pytorch:19.06-py3` does have nsight, however, it's not mentioned in the [release notes](https://docs.nvidia.com/deeplearning/frameworks/pytorch-release-notes/rel_19-06.html#rel_19-06)

I also checked latest pytorch ngc container  `nvcr.io/nvidia/pytorch:19.08-py3` and it does not contain nsight it.

Do we know if all the future releases will have `nsight` in them

[2019-09-06 17:19] ezyang commented on #16559
OK, it is indeed a race. This diff, for example, "fixes" it:
[code]

If you look at the relevant segment:

[code]

The problem is that `_cuda_init` release the GIL at some point, which means that another Python thread can come in and trigger the same initialization (we aren't protected against the lock until we set `_initialized = True`.

[2019-09-06 17:21] orionr commented on #24157
In that case, landing the changes so they'll be in `pytorch-nightly`. We'll then add more robust testing around these cases. Thank you!

[2019-09-06 17:36] iffsid opened #25783 "Detaching a distribution's `log_prob` to block gradients only w.r.t its parameters"
## 🚀 Feature
It would be quite useful to have the general ability, to compute a 'detached' `log_prob` for any distribution; i.e. blocking all gradient computation w.r.t that distribution's parameters (but not the value), _without_ resorting to the alternative of constructing an instance of that distribution with explicitly detached parameters.

cc: @fritzo (a late request following our conversatio

[2019-09-06 17:36] ptrblck commented on #25764
You are right. I just tested a few containers and it seems to be missing in `19.08`.
Let me ask our build team, what happened.

[2019-09-06 17:47] fmassa commented on #12013
@bhushan23 any updates on this issue? did you managed to make some progress on it?

[2019-09-06 17:48] suo commented on #20500
@driazati @eellison can we prioritize this? I have seen 4 user reports now that seem to stem from this.

[2019-09-06 17:50] yaroslavvb opened #25785 "[Feature request] modified Cholesky decomposition"
It would be useful to have a modified Cholesky decomposition implemented in PyTorch.

My covariance matrices are singular and `torch.cholesky` fails with RunTimeException
My work-around is to add a small diagonal matrix, but that adds an extra hyper-parameter.

I found one implementation here:
http://faculty.washington.edu/mforbes/doc/pymmf/_build/_generated/api/mmf.math.linalg.cholesky.cholesky_.

[2019-09-06 17:53] huzecong commented on #25605
@vincentqb Thanks for the comments! My proposal here is not directly related to cyclic references. It's trying to address the issue that subclasses that override `step()` would have to copy-paste the logic for detecting "scheduler-called-before-optimizer" that's defined in `_LRScheduler.step()`. I agree that this might hurt readability, and it might be better (and simpler) to just extract the dete

[2019-09-06 17:57] bhushan23 commented on #12013
@fmassa no. I will work on it over the weekend.

[2019-09-06 19:19] jchaykow commented on #1204
I had .ipynb_checkpoints/ as a class name lol. Hope this helps someone.

[2019-09-06 19:21] nmilosev commented on #16806
@ezyang this seems to be fixed already.

[code]

Probably close this issue then, I will find something else suitable, or you can point me to it. I've got the whole env ready :)

[2019-09-06 19:53] vincentqb commented on #25605
By the way, [this](https://github.com/pytorch/pytorch/issues/17630#issuecomment-525928944) in #17630 and [this](https://github.com/pytorch/pytorch/issues/9942#issuecomment-520638174) in #9942 seems related to this PR. Thoughts?

[2019-09-06 19:57] ezyang commented on #16806
Thanks. Maybe take a look at this one: https://github.com/pytorch/pytorch/issues/14959 (there's a few parts, but one easy bit is putting the device guards in torch namespace, somewhere).

[2019-09-06 19:57] #16806 closed

[2019-09-06 20:03] dashesy opened #25794 "[ONNX] aten::sub or aten::size exception in jit_pass_dce when exporting ONNX and a jit.script with while loop"
## 🐛 Bug

[code]

## To Reproduce

This code crashes:

[code]

But this code passes and is exported

[code]

So the issue is with `while` loop, even though it is a single pass anyways

## Expected behavior

The error to show a line or more information about what is wrong

## Environment

PyTorch version: 1.2.0
Is debug build: No
CUDA used to build PyTorch: 10.0.130

OS: Ubuntu 16.04.6 LTS
GCC vers

[2019-09-06 20:05] ptrblck commented on #25764
It looks like it's still installed, but a different location was used in `19.08`, sorry for the confusion :confused:
We'll fix it for `19.10`.

Meanwhile you can use `/opt/nvidia/nsight-compute/2019.4.0/nv-nsight-cu-cli` in `19.08`.

[2019-09-06 20:06] vincentqb commented on #25743
I don't immediately have an example for torchaudio, but if the two of you already have use cases, it makes sense to me to move a version of `GroupedBatchSampler` into `torch.utils.data`.

[2019-09-06 20:10] zhangguanheng66 commented on #25743
It's quite common for the text sequences. For some NLP tasks, we would like to batch those sequences with similar lengths to avoid unnecessary padding.

[2019-09-06 20:16] SrivastavaKshitij commented on #25764
No problem. thanks for the clarification. :-) May I suggest updating release notes to include nsight systems. Initially I looked at the release notes and assumed nsight is not a part of pytorch ngc containers.

[2019-09-06 20:16] #25764 closed

[2019-09-06 20:24] driazati commented on #25758
Thanks for the report! `in` isn't implemented for all types. A complete solution is complicated since we don't have a way to check the equality of all value types yet, but #25796 adds support for `in` on basic types of lists.

Also to clarify, `List[int]` refers to a list that contains any number of elements, all of which are type `int`. Tuples in TorchScript are fixed size and can have different

[2019-09-06 20:39] rfejgin commented on #24157
Works here too, thanks for the fix.

[2019-09-06 21:08] driazati opened #25801 "[jit] Missing source highlight error"
[code]

cc @suo

[2019-09-06 21:16] driazati opened #25803 "[jit] `random` module support"
This is used in MaskRCNN (specifically `random.choice`), we could implement the subset of `random` that's not covered in `torch` already

cc @suo

[2019-09-06 21:32] jerryzh168 commented on #25386
should be fixed now, how can we confirm?

[2019-09-06 21:38] simonepri commented on #15253
@zhixuanli You can find a batch version here:
https://github.com/simonepri/PyTorch-BigGraph/blob/b3b1a845e0cc91c750822284a0cadd086dab9413/torchbiggraph/model.py#L601-L610

[2019-09-06 21:41] driazati opened #25804 "[jit] String default args get printed as ascii values"
e.g. passing the wrong types to `interpolate`
[code]
[code]

cc @suo

[2019-09-06 21:41] orionr commented on #24157
Fix landed. Please confirm fixed in pytorch-nightly after the build tonight, but closing.

[2019-09-06 21:44] simonepri commented on #15253
@zhixuanli You can find a batch version here:
https://github.com/simonepri/PyTorch-BigGraph/blob/b3b1a845e0cc91c750822284a0cadd086dab9413/torchbiggraph/model.py#L601-L610

Ref: facebookresearch/PyTorch-BigGraph#67
cc: @lerks

[2019-09-06 21:56] colesbury commented on #25693
Is this related to the issue described in https://github.com/pytorch/pytorch/pull/25553?

[2019-09-06 22:21] dashesy opened #25805 "[ONNX] Support exporting bitwise_not from PyTorch"
## 🐛 Bug

`bitwise_not` not supported for bool tensors

## To Reproduce

[code]

## Expected behavior

Support bitwise not operation same as other ops

## Environment

PyTorch version: 1.2.0
Is debug build: No
CUDA used to build PyTorch: 10.0.130

OS: Ubuntu 16.04.6 LTS
GCC version: (Ubuntu 5.4.0-6ubuntu1~16.04.11) 5.4.0 20160609
CMake version: version 3.14.0

Python version: 2.7
Is CUDA available

[2019-09-06 22:32] dashesy opened #25806 "[ONNX] Export .round()"
## 🐛 Bug

Support exporting `round`

## To Reproduce

[code]

## Expected behavior

[onnx has round](https://github.com/onnx/onnx/blob/master/docs/Operators.md#Round), please export it

## Environment

PyTorch version: 1.2.0
Is debug build: No
CUDA used to build PyTorch: 10.0.130

OS: Ubuntu 16.04.6 LTS
GCC version: (Ubuntu 5.4.0-6ubuntu1~16.04.11) 5.4.0 20160609
CMake version: version 3.14.0

Pyt

[2019-09-06 22:34] daniel-ziegler commented on #23110
Is this API intended to support accumulating gradients from multiple `backward` calls? That seems like important functionality.

I guess it could work pretty naturally with a context manager (as proposed [here](https://github.com/pytorch/pytorch/issues/23110#issuecomment-518804994)).

[code]

The gradients will be freed when the context manager exits. Notably, the backward calls would still need a

[2019-09-06 22:57] dashesy opened #25807 "[ONNX] Export interpolate from inside a jit.script"
## 🐛 Bug

Interpolate with bilinear results in

[code]

## To Reproduce

Steps to reproduce the behavior:

[code]

or

[code]

## Expected behavior

Export bilinear interpolation, also print the string in the error message by changing to

[code]

## Environment

PyTorch version: 1.2.0
Is debug build: No
CUDA used to build PyTorch: 10.0.130

OS: Ubuntu 16.04.6 LTS
GCC version: (Ubuntu 5.4.0-6ubuntu

[2019-09-06 23:02] ptrblck commented on #25764
Sure, that's another good idea!
Thanks :)

[2019-09-06 23:06] dashesy commented on #25807
This happens for `bilinear` as well as `nearest` which is the default

[code]

[2019-09-06 23:35] vadimkantorov commented on #25783
api idea: maybe intro a method `detach()` on distributions and call it `dist.detach().rsample(...)`. or is it too ambiguous?

[2019-09-06 23:38] dashesy commented on #25807
[this](https://github.com/pytorch/pytorch/issues/22906) is a similar issue, but I am calling interpolate from inside a jit script

[2019-09-07 00:11] dashesy commented on #25794
I think the issue is that in that example return was inside the while loop! maybe dce tries to remove the loop

[code]

Has issue, but moving `return` to outside the while loop, and inplace assignment to idices inside the while loop exports the onnx.

But exporting seems to generate an onnx file with a loop node that does not seem correct.

[2019-09-07 00:46] crystalwan commented on #25548
is this file : using the command "make > cmakelog_print.log"  with the makefile in the root directory
[cmakelog_print.log](https://github.com/pytorch/pytorch/files/3586087/cmakelog_print.log)

[2019-09-07 01:51] SsnL opened #25810 "linspace with negative steps throws bad error message"
[code]

[2019-09-07 01:52] crystalwan commented on #25761
df

it works as this , thanks

[2019-09-07 01:54] Godricly commented on #25758
Oops， my mistake for the tuple case. But that one is still strange when trying to handle it as a dict.

[2019-09-07 05:11] Anikily opened #25811 "c++ compliler"
/home/yulu/anaconda3/envs/fastfcn/lib/python3.5/site-packages/torch/utils/cpp_extension.py:166: UserWarning:

                               !! WARNING !!

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Your compiler (c++) is not compatible with the compiler Pytorch was
built with for this platform, which is g++ on linux. Please
use g++ to to compile your extension

[2019-09-07 06:42] ssdyue opened #25814 "(PyTorch1.1 and 1.2) RuntimeError: Can't detach views in-place. Use detach() instead"
In my code, run `optimizer.zero_grad()`, there is an error here:

[code]
Should I modify `detach_()` to `detach()` here?

[2019-09-07 11:07] LittlePea13 commented on #24157
Works on the last pytorch-nightly. Thanks!

[2019-09-07 11:28] kohtala commented on #25639
Thanks for compliments :-)
I am not familiar with torch release process enough to know where to go making changes. It'd need the build and release as well as some documentation changes. Maybe set it up at https://download.pytorch.org/simple/ (à la https://pypi.org/simple/) instead of https://download.pytorch.org/whl/ so it can be tested there first and update documentation when it works.
If it is

[2019-09-07 12:45] manoharvhr commented on #12644
Hi @jstran97, I believe what you are looking for can now be found [here](https://github.com/manoharvhr/PYNQ-Torch).

Goodluck!

[2019-09-07 13:15] nanguoshun commented on #2629
is there any plan for adding pair wised ranking loss in pytorch? Thanks a lot!

[2019-09-07 13:39] XiagenFeng opened #25820 "Pytorch master can not build with computer capability 3.0 under Mac OS X 10.13.16 with Nvidia GT 750m"
## 🐛 Bug

Building pytorch master HEAD under Mac OS X 10.13.16 with CC3.0 Nvidia GT 750M CUDA 10.0 and cuDNN 7.4.2 failed with error: identifier "__ldg" is undefined because __ldg is only support with CC 3.5 and above

## To Reproduce

Steps to reproduce the behavior:

1.MacOSX 10.13.16(17G8030) with Nvidia GT 750M (CC 3.0)
2.CUDA Web Driver 410.130
3.GPU Driver Version 387.10.10.10.40.130
4.CUDA

[2019-09-07 15:53] tuxzz opened #25821 "Conv2D ~2x slower than Tensorflow when channel count is small"
## 🐛 Bug

When I run my benchmark code with `channel_count = 64`  on both TensorFlow and PyTorch with, the PyTorch version shows ~2x slower than TensorFlow version.
But when I set `channel_count = 256`, Tensorflow and PyTorch get the same speed.
Is it a 🐛?

Tested on CPU(Ryzen 3700X), Tesla K80, Tesla T4, RTX 2080 Super.

## To Reproduce
Run these benchmark code with Python 3

### Tensorflow versi

[2019-09-07 16:31] HenryJia commented on #21574
As of c89301a6250ca17c568f11e52f715f939c08d7ce
This issue seems to have been resolved.
I'm going to close this for now.
If it shows up again I'll reopen it

[2019-09-07 16:31] #21574 closed

[2019-09-07 16:50] SsnL commented on #25821
These synchronize
[code]

Try directly generate data on gpu.

[2019-09-07 17:02] tuxzz commented on #25821
I moved data generate out of loop, but it even more slower:
Before: `1000 3.5989763736724854`
After: `1000 4.77442193031311`

Code:
[code]

[2019-09-07 23:55] soumyadipghosh commented on #25570
@pietern I use one-sided communication routines, mostly MPI_Put from the mpich and mvapich libraries in my work. I know the concepts of MPI one-sided but I am not sure how these routines are implemented internally.  Also I am a beginner to pytorch, so no concrete ideas about how to do it in pytorch either. But I would like to be involved in this effort!

[2019-09-08 00:11] pbelevich commented on #25573
Already fixed in master and throws this as expected:
`RuntimeError: unsupported operation: some elements of the input tensor and the written-to tensor refer to a single memory location. Please clone() the tensor before performing the operation`

[2019-09-08 00:11] #25573 closed

[2019-09-08 04:30] caizexin opened #25829 "Floating point exception when dividing pytorch.tensor() on a float"
## 🐛 Bug

Core dump when dividing the tensor with a float value obtain from time.time().
`Floating point exception (core dumped)`
## To Reproduce
just type torch.tensor(540) / 0.30365729331970215
Steps to reproduce the behavior:

1. import torch
2. torch.tensor(540) / 0.30365729331970215

## Expected behavior
it works fine when we code 540/ 0.30365729331970215, or torch.tensor(540).data.numpy(). /

[2019-09-08 04:31] emergencyd commented on #1249
I thought the dice loss could be used directly, like **loss = - dice(output, target)** rather than **loss = ce(output, target) - dice(output, target)**.

I am quite curious about it... which one is right? @rogertrullo

[2019-09-08 06:37] rogertrullo commented on #1249
@emergencyd -dice... should be fine, that was just a test trying to combine the regular cross entropy with the dice loss

[2019-09-08 08:53] Tanmay-Jaiswal commented on #24892
I haven't contributed to pytorch before but I have been using it for almost year.  I'd like to take up this issue if possible. Do you think this issue is doable for a first-timer?

[2019-09-08 11:02] npuichigo opened #25831 "Add c++ api support for new_zeros and new_empty."
Something like torch::Tensor::new_zeros is useful when using with libtorch's c++ frontend.

But now there's only an api for python.
[code]

cc @yf225

[2019-09-08 12:53] Nikronic commented on #25829
The problem is when you do not specify the `dtype`. If you set `dtype=torch.float32` or `dtype=torch.float64`, it won't throw an error on both `CPU` and `GPU`.
By the way, when I tried to use `dtype=torch.float16`, I got this error:
[code]
My env:

[code]

[2019-09-08 13:19] Wizaron opened #25833 "CUDNN implementation of CTCLoss does not handle gradients from subsequent operations"
## 🐛 Bug

CUDNN implementation of CTCLoss does not handle gradients from subsequent operations.

## To Reproduce

[code]

## Expected behavior

We expect the gradients to be zeroed out when we multiply the loss by zero, which is not the case for cudnn implementation of ctcloss.

We can see that, from the following output, gradients are not affected by `mul` when we are using cudnn implementation.

[2019-09-08 13:34] Nikronic opened #25834 "Possible misreference to torch.t() in torch instead of highlighting attribute 't'"
## 📚 Documentation

Hi,

In the [source doc of torch.set_default_tensor_type(t)](https://pytorch.org/docs/stable/_modules/torch.html#set_default_tensor_type), the argument `t` defined using `:attr:` tag but in the [compiled doc of torch.set_default_tensor_type(t)](https://pytorch.org/docs/stable/torch.html#torch.set_default_tensor_type), the `t` argument in the description, refers to [torch.t()](h

[2019-09-08 15:24] albanD commented on #25723
Hi,

I think this is expected behavior I think. You cannot change the nn.Module's hooks after the graph has been created.

[2019-09-08 15:46] chenzhekl commented on #25831
There are equivalent functions in the C++ frontend already: [`torch::zeros`](https://pytorch.org/cppdocs/api/function_namespacetorch_1a746e0424e2489c4fbc21d090855f3114.html#exhale-function-namespacetorch-1a746e0424e2489c4fbc21d090855f3114). Similar functions like `torch::empty` and `torch::ones` are also available.

[2019-09-08 16:35] yaroslavvb commented on #25723
Unfortunately hooks on Tensors don't give the values needed to implement
https://github.com/pytorch/pytorch/issues/7786

You you need backward and forward values for each layer.

This feels like module-specific concept rather than tensor-specific because there's shared computation for different parameters in a layer. For instance, computing Hessian for weight and bias parameters in a layer need [t

[2019-09-08 17:17] f2013519 commented on #25829
Notice that the crash doesn't occur if you write something like

torch.Tensor(540.1)/0.3.

What seems to be happening is torch.Tensor(540) is inferred to be an integer type and not a floating point type.  So integer division is performed which causes denominator to be rounded to zero, causing F.P exception.

Doc states that: "torch.Tensor is an alias for the default tensor type (torch.FloatTensor)

[2019-09-08 17:45] LcDog commented on #16793
The `running_mean` and `running_var` are still updating, though `track_running_stats = False`. Am I right? (But `running_mean` and `running_var` will not be used in inference.) https://github.com/pytorch/pytorch/blob/d7a1152ee9948e21f337264460c5f6d12e4ed67f/torch/onnx/symbolic_opset9.py#L900-L907

[2019-09-08 17:51] caizexin commented on #25829
Thanks a lot! I see. However, it did not crash when I tried torch.Tensor(540) / 0.3 or torch.Tensor(540) / 0.337362. So I think the precision of the float number (denominator) causes the exception. As you said, when the precision is too high (like 64bit), it would be rounded to zero.

[2019-09-08 18:01] f2013519 commented on #25829
What the "expected" result depends on the semantics of integer division by zero.

 In MATLAB for example, if you try to divide a non-zero integer by a zero integer, the result is the largest integer of that data type.

returns 32767.

Python on the other hand returns ZeroDivisionError: division by zero.

I think it wouldn't be too much to ask Pytorch to do the same thing as python, i.e throw a run

[2019-09-08 18:41] fritzo commented on #25783
That's right, there is no generic way to access all parameters of a distribution object. The crucial blocker here is the early design decision to allow multiple different parametrizations in a single class, e.g. `Categorical` and `Bernoulli` can accept either `probs` or `logits`; `MultivariateNormal` can accept either `covariance_matrix`, `precision_matrix`, or `scale_tril`. One possible way forwa

[2019-09-08 18:45] ailzhang opened #25836 "CPU scatter* result doesn't match GPU"
[code]
Code above works for GPU but errors in CPU. Fix incoming.
Thanks @dlibenzi for reporting the issue!

cc @ezyang @gchanan @zou3519

[2019-09-08 19:05] laohur opened #25838 "pytorch1.2 KeyError: 'triu'"
## 🐛 Bug

device="cuda:0"
`_#1`` pytorch1.2     subsequent_mask = torch.triu(  torch.ones((len_s, len_s), device=seq.device, dtype=torch.uint8), diagonal=1)

KeyError: 'triu'
_#pytorch1.2     subsequent_mask = torch.triu(  torch.ones((len_s, len_s), device=seq.device, dtype=torch.bool), diagonal=1)
RuntimeError: name not implemented for 'Bool'
RuntimeError: ONNX export failed: Could not export a b

[2019-09-08 20:18] vishwakftw commented on #25838
`tril` and `triu` have been made available for `torch.bool` in the nightly versions, please install a nightly version.

[2019-09-08 21:20] albanD commented on #25723
I agree that a module backward hook would looks better for your use case, but at the moment we recommend not to use them.
It's not as clean, but you can use a forward hook on the module to do two things: get the forward values and add a Tensor hook on the output.

[2019-09-08 22:09] yaroslavvb commented on #25723
Thanks, indeed this seems to do the trick

[code]

[2019-09-08 22:17] #25723 closed

[2019-09-09 01:04] LucaMoschella commented on #24345
I also have this issue.

[code]

[2019-09-09 01:51] jfc4050 commented on #25427
sorry for the late response,
it doesn't seem like the unicode messages should have flaky behavior to me either. I'm not too familiar with how python2 handles unicode but I'll look around a little and see if I can come up with an answer

[2019-09-09 02:23] jimages opened #25845 "[cppdocs] the docs of class Tensor is missing"
## 📚 Documentation

After the 1.2 version of pytorch release, the torch::Tensor docs(original url:https://pytorch.org/cppdocs/api/classat_1_1_tensor.html) is missing. it does provide much helpful information about class torch::Tensor.

It was there. (https://github.com/pytorch/cppdocs/blob/59620f68901b1e5f6bc2fa30c9ecbe8d0d86a1c4/api/classat_1_1_tensor.html) but in the latest commit, the file is a

[2019-09-09 02:35] jinfagang opened #25846 "master branch build gloo error"
[code]

Command:

[code]

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera

[2019-09-09 02:35] npuichigo commented on #25831
@chenzhekl It seems that with new_zeros, it's feasible to create a new tensor with layout and device same as another tensor.

Or maybe you mean that we can simply do like this?
[code]

[2019-09-09 02:42] chenzhekl commented on #25831
@npuichigo Oh, sorry, I misunderstood your needs. Probably [`torch::zeros_like`](https://pytorch.org/cppdocs/api/function_namespacetorch_1a29ac146b0f7a266c7a29ea3bca27334d.html#exhale-function-namespacetorch-1a29ac146b0f7a266c7a29ea3bca27334d) is what you need. The documentation for the C++ entry point is empty, though. According to the [Python doc](https://pytorch.org/cppdocs/api/function_namespa

[2019-09-09 03:09] soumith commented on #25845
cc: @yf225

[2019-09-09 04:04] litianqi715 commented on #25752
This works, no memory allocation occurs on gpu0.

I am wondering that if there is clearly no data on gpu0, then it may not be initiated, while gpu0 is the primary gpu on my machine. Perhaps we can establish some mechanism to detect empty gpu device?

[2019-09-09 04:45] f2013519 commented on #25829
It looks like this isn't that straightforward and that all libraries which have integer division may need to be updated to maintain consistency. This is same as issue #8079 and marked as "wontfix". This is not ideal, but it looks like that is the current situation.

[2019-09-09 05:15] mijosch commented on #25210
Any news?

[2019-09-09 05:53] jinfagang opened #25849 "USE_MKLDNN=0 has no effect and causes ideep build error"
[code]

error:

[code]

Abviously, I don't use mkldnn, but it keep try using mkldnn and can not found a dependencies.

cc @gujinghui @PenghuiCheng @XiaobingSuper @jianyuh

[2019-09-09 06:01] npuichigo commented on #25831
@chenzhekl Thanks for your reply. Sometimes we want to create a new tensor only with the same device and layout but with different shape, like tensor.new_zeros in [python doc](https://pytorch.org/docs/stable/tensors.html?highlight=new_zeros#torch.Tensor.new_zeros).

Does it suitable to create the tensor like what I described above? Namely, pass the options to the factory method of creating the new

[2019-09-09 06:21] chenzhekl commented on #25831
@npuichigo My bad... I think your code works.

Though I have never used `new_zeros` in my code, I agree that aligning the C++ interface with the Python one is desirable.

[2019-09-09 07:49] weixingsun opened #25851 "Build Error : gloo::transport::tcp has not been declared"
## Issue description
I followed the instruction of Readme, but error keep poping up on latest master git
../torch/lib/c10d/ProcessGroupGloo.cpp:340:29: error: ‘gloo::transport::tcp’ has not been declared
   return ::gloo::transport::tcp::CreateDevice(attr);
                             ^~~
../torch/lib/c10d/ProcessGroupGloo.cpp:308:29: error: ‘gloo::transport::tcp’ has not been declared
   return

[2019-09-09 07:52] zhjw0927 opened #25852 "windows libtorch socket"
My current state is under windoes, use libtorch and use network programming-socket.
But, I find that <WINSOCK2.H> conflicts with <torch/script.h>.
I am helpless now, who has good advice?
Thanks!

cc @yf225 @peterjc123

[2019-09-09 07:57] jinfagang commented on #21551
@xuhdev  Why `export USE_MKLDNN=0` not work but `USE_MKLDNN=0 python setup.py install --cmake` can work??

I am totally confused by them..... shouldn't them be same?

[2019-09-09 08:38] zakarianamikaz opened #25853 "RuntimeError the size of the tensor don"t match"
rand_embedding_tensor[word_dict[line[0]]] = torch.FloatTensor(vector)
RuntimeError: The expanded size of the tensor (300) must match the existing size (100) at non-singleton dimension 0.  Target sizes: [300].  Tensor sizes: [100]

[2019-09-09 09:09] Godricly commented on #16453
[code]
Dict output is still not working.

[2019-09-09 09:21] pietern commented on #25852
What is the conflict? Can you elaborate?

[2019-09-09 09:22] jinfagang commented on #21551
OK, this not work:

[code]

[2019-09-09 09:22] pietern commented on #25851
Thanks for the report. Did you build from scratch or re-ran a build with an existing build directory?

It is possible that left-over cached CMake variables from a previous build tainted the new one.

[2019-09-09 09:24] pietern commented on #25846
Can you provide more details as listed in the template?

For example, what OS, platform, PyTorch commit, etc, etc.

Thanks.

[2019-09-09 09:28] pietern commented on #25846
Also, did you check out a fresh copy of the repository or are you using an existing checkout?

If it's an existing checkout, can you confirm that the submodules have been updated?

[2019-09-09 09:30] jinfagang commented on #25846
I am totally confused now.

I am running this command:

[code]

It throws out mkl not found error which I am already disabled it, and this gloo errro which I also disable.

It seems that, these variables does not have any effect????

[2019-09-09 09:35] pietern commented on #25846
I don't know about the MKL error (I suppose you filed #25849 for this).

The flag `USE_C10D_GLOO` is an internal one and you don't need to use it. If you don't want to build with distributed, setting `USE_DISTRIBUTED=0` is enough. If you are re-using a build directory from a previous commit, it is possible that the cached CMake variables are causing issues. Try removing the `build/` directory in t

[2019-09-09 09:36] Strasser-Pablo opened #25854 "[CAPI] lbfgs doesn't work on gpu."
## 🐛 Bug

LBFGS doesn't work on loss function returning value on GPU.

Using the gpu give the following stack trace:

For testing I changed line 118 of lbfgs.cpp from
`t = torch::tensor(options.learning_rate_, torch::kFloat32);`
to
`t = torch::tensor(options.learning_rate_, at::kCUDA);`

And this solve the issue.

cc @yf225 @vincentqb

[2019-09-09 09:50] pietern commented on #25417
This is somewhat overlapping with the idea of having a process group that does this type of debugging, as a wrapper over the standard functionality (see #22071 for the issue). Then each collective will first allgather the metadata of the arguments that were passed, so that all processes can confirm they are valid, before running the collective. If one or more processes use the wrong args (e.g. wro

[2019-09-09 10:45] liyunfei1994 opened #25855 "RuntimeError: Tensor for argument #2 'weight' is on CPU, but expected it to be on GPU (while checking arguments for cudnn_batch_norm)"
Hi! I've only been practicing using PyTorch for a while. Recently I've been practicing using GPU training models. However, I met a problem which is so confused. The error message is shown below:

RuntimeError: Tensor for argument #2 'weight' is on CPU, but expected it to be on GPU
[code]
I don't know how to fix this error.
I'd appreciate it if you could give me some good advice.
Thank you!!!!!

[2019-09-09 10:50] XiaobingSuper commented on #25849
@jinfagang, I can't reproduce it, can you post your full build log? thanks!

[2019-09-09 10:52] pietern commented on #25767
What do you set the environment variables to?

Thinking out loud, a socket timeout might indicate a subset of the processes cannot reach the process with rank 0 (which hosts the initialization server on the specified IP and port). However, that doesn't explain why it does work for the Gloo backend.

Do you observe a large time difference between the different processes starting up? If this differe

[2019-09-09 10:55] zhjw0927 commented on #25852
Simply to say, error occurred in OperatorOptions.h.
vs smart reminder:
Grammatical errors:"="                 OperatorOptions.h
constexpr function"c10::tostring" do not generate constant expressions

[2019-09-09 10:59] zhjw0927 commented on #25852
Cpp only has the following statement：
#include<torch/script.h>
#include<WINSOCK2.H>
#pragma comment(lib,"WS2_32.lib")
int main()
{
    return 0;
}
Error occurred.
Hope to receive your reply， thank you!

[2019-09-09 11:05] pietern commented on #25852
I'm not a Windows dev, so we'll have to wait for @yf225 or @peterjc123 to chime in :)

[2019-09-09 11:11] Godricly opened #25856 "Conflict description of JIT in master"
## 📚 Documentation
The demo code in [Attribute](https://pytorch.org/docs/master/jit.html#attributes) and [FAQ](https://pytorch.org/docs/master/jit.html#frequently-asked-questions) question No. 2.
[code]
Both defines a int variable as int type. The FAQ one claims it as a compiling error.

cc @suo

[2019-09-09 11:13] zhjw0927 commented on #25852
Yes，Thank you for attention！

[2019-09-09 11:14] zhjw0927 commented on #25852
Where can download previous version of libtorch?

[2019-09-09 11:17] liyunfei1994 commented on #15826
Hi! I've recently started using PyTorch. I met the same problem.  The error message is shown below:
RuntimeError: Tensor for argument #2 'weight' is on CPU, but expected it to be on GPU (while checking arguments for cudnn_batch_norm)
How to solve this problem?
I would appreciate it if you could give me some valuable advice.
Thank you!!

[2019-09-09 11:33] CrazyRundong commented on #25767
Hi @pietern

Thank you for your response. For your questions:
1. The only environment variable I set (other than `MASTER_PORT`, `MASTER_ADDR` etc.) is `NCCL_SOCKET_IFNAME` (for NCCL experiments) or `GLOO_SOCKET_IFNAME` (for GLOO). I set it to `ib0`, which is the name of IfinityBand interface on each of the worker nodes, and I have checked each of the worker nodes can ping others `ib0`;
2. No, I di

[2019-09-09 11:39] pietern commented on #20200
@Usama-Zafar Thanks for updating, nonetheless! Looks like there is progress on the issue you linked.

[2019-09-09 11:46] pietern commented on #22095
@makslevental Did you also have the additional call to forward in between?

If not, please open an issue and we can figure out what's up.

[2019-09-09 11:51] pietern commented on #17159
The speedup you can expect is a function of:
* The model size; the more weights you have, the more gradients need to be summed
* The connectivity between GPUs in a machine (NVLink, PCIe, or does everything go through the host)
* The connectivity between machines (1Gbit Ethernet or 4x100Gbit InfiniBand makes a big difference)
* The computational complexity of gradient computation; the longer it tak

[2019-09-09 12:15] jinfagang commented on #25849
[code]

My command history:

[code]

I tried both set `USE_MKLDNN=0` or export it, but all has no effect.....

[2019-09-09 12:16] jinfagang commented on #25849
Also, I have `rm -r build` before every build, so that it should not be cache issue.

I have tried this several times, always gives me this error...... No matter how I export the variable or set it before command like above./

[2019-09-09 12:17] pietern commented on #25767
Point 2 is expected. For the NCCL backend we have to delay NCCL specific initialization until the first collective call (since it depends on which devices are used, which we won't know until we get the first call with one or more CUDA tensors). Therefore the `init_process_group` call will always complete quickly and do so without calling into NCCL at all.

It's interesting that a different device

[2019-09-09 12:20] jinfagang commented on #25846
@pietern  Thanks for reply.

I have done rm -r build before every build.

[code]

It keeps give me mkl not found error. I am very confusing... Does there related file to this? I donn't really know how `setup.py` work. It seems every time I run `python3 setup.py install` it will build from scratch rather than resume building. It's very slow and cost a lot of time to test there commands.

However I

[2019-09-09 12:28] peterjc123 commented on #25852
I cannot reproduce this issue with the steps in https://github.com/pytorch/pytorch/issues/25698#issuecomment-528747700. Maybe you need some add some macro definitions, like `NOMINMAX`.

[2019-09-09 12:30] XiaobingSuper commented on #25849
@jinfagang, the build log which I want see is like:
[code]
or

[code]
I can know whether works for your setting  if you posted log have those information. You can see my build log: USE_MKLDNN=**OFF** if I set USE_MKLDNN=0 in install command.

[2019-09-09 13:00] MJITG commented on #23138
Works for me! Thanks!

[2019-09-09 13:19] ezyang commented on #25386
If you tested your diff locally, let's close this and reopen if we see more flakiness.

[2019-09-09 13:19] #25386 closed

[2019-09-09 13:21] iffsid commented on #25783
Do you mean like in the **Alternatives**? If so, would that not be an issue for usage, where the issue becomes needing two copies of every distribution instance---one to sample from, and one to score in?

[2019-09-09 13:23] liyunfei1994 commented on #25855
@svenstaro @eklitzke @dreiss @huitseeker

[2019-09-09 13:23] ezyang commented on #25548
Relevant config:

[code]

So we're compiling PTX for 75. What's your GPU? (e.g., what is the output of `nvidia-smi`?)

[2019-09-09 13:26] makslevental commented on #22095
@pietern i'm sorry in between what and what?

[2019-09-09 13:42] svenstaro commented on #25855
Stop highlighting me.

[2019-09-09 13:44] #25855 closed

[2019-09-09 13:45] soumith commented on #25855
@liyunfei1994 dont use github issue for questions. Dont tag people. Use https://discuss.pytorch.org

[2019-09-09 13:56] soumith commented on #25853
please use https://discuss.pytorch.org for questions

[2019-09-09 13:56] #25853 closed

[2019-09-09 13:57] Chillee commented on #25856
This is left over from the recursive scripting API change. @driazati

[2019-09-09 14:08] ezyang commented on #6962
Recording an in-person conversation with @colesbury: it's probably going to be hard to test if we've actually gotten this right or not.

[2019-09-09 14:34] laohur commented on #25838
graph = torch._C._jit_pass_onnx(graph, operator_export_type)
  File "D:\ProgramData\Anaconda3\lib\site-packages\torch\onnx\__init__.py", line 170, in _run_symbolic_function
    return utils._run_symbolic_function(*args, **kwargs)
  File "D:\ProgramData\Anaconda3\lib\site-packages\torch\onnx\utils.py", line 576, in _run_symbolic_function
    return op_fn(g, *inputs, **attrs)
  File "D:\ProgramData\

[2019-09-09 14:35] mrshenli commented on #23110
Hi @daniel-ziegler, thanks for highlight this use case.

In fast mode, we assume **all send (for non-leaf or requires_grad tensors) will receive grad in the backward pass**, and this assumption needs to hold for both backward calls, which is likely false if `model()` and `model.aux_loss()` use a different set of `rpc`/`remote` calls.

Smart mode should support this use case naturally even if `mode

[2019-09-09 14:42] ezyang opened #25859 "TORCH_WARN must not take out GIL (should buffer warnings)"
At the moment, we have an attractively named `TORCH_WARN` macro which you can use to report warnings from C++. What if I told you... that using this function could cause your code to take out a lock and all sorts of performance nastiness like that? Well, that's exactly what this macro does, because it calls a custom warning handler that, in the case of our Python extension, calls into Python code

[2019-09-09 14:54] #25399 closed

[2019-09-09 15:14] wizardk opened #25860 "[jit] RuntimeError : Wrong type for attribute assignment. Expected Tensor but got Tensor."
## 🐛 Bug

Causing runtime error in code of reassigning a member tensor when calling torch.jit.script

## To Reproduce

[code]

## Expected behavior

No error.

## Environment

 - PyTorch Version : 1.2.0
 - OS : Windows
 - How you installed PyTorch : conda
 - Python version: 3.6.6

cc @suo

[2019-09-09 15:39] fritzo commented on #25783
Yes, it's easiest to keep two copies around.

BTW I'm curious: in practice I never see this pattern, but I mostly focus on variational inference. What kinds of models do you see where this pattern comes up?

[2019-09-09 15:58] colesbury commented on #25859
I'm pretty ambivalent about this proposed change. I'm concerned that this will make the warnings less useful: if something fails in between the TORCH_WARN and the "normal" return, the warning won't be printed.

The potential performance pitfalls can be handled with a std::call_once, like we do [here](https://github.com/pytorch/pytorch/blob/d1496183f59b59928ac7003503591560716f21c5/aten/src/THC/THCB

[2019-09-09 16:22] iffsid commented on #25783
This comes up particularly for variational inference :slightly_smiling_face: when you want a better tight estimator ([2] in the main post) than the standard IWAE estimator---because there are issues with SNR with increasing numbers of samples from the proposal/guide distribution [3].

I'm not sure why people don't extensively use this, because the difference can be quite stark!
For simple latent v

[2019-09-09 16:46] sjeaugey commented on #25767
Thanks for the heads up. @CrazyRundong indeed having the output with `NCCL_DEBUG=INFO` for both cases would be helpful. Also feel free to post the traces in an new issue on the NCCL project (http://github.com/nvidia/nccl).

[2019-09-09 16:47] daniel-ziegler commented on #23110
Yes, that makes sense. It's not clear to me how the smart mode API as currently proposed would let you accumulate gradients, though. Imagine we write:
[code]
Now we have two autograd context IDs -- how do we sum their gradients and do a single `optimizer.step()` call? Also, we never actually want to materialize both sets of gradients separately since that wastes GPU RAM.

[2019-09-09 16:50] weixingsun commented on #25851
Thanks for looking into it, I just use following and:
git pull
rm -rf build
python setup.py build

[2019-09-09 16:52] pietern commented on #25846
@jinfagang So you're no longer seeing the Gloo build error? If so, we can close this issue and use #25849 for figuring out what's up with the MKL detection, to keep the issues properly separated.

[2019-09-09 16:56] pietern commented on #25851
Are your submodules up to date?

To check, you can run `git status`. To update, you can run `git submodule update --init --recursive`.

[2019-09-09 16:57] fritzo commented on #25783
cc @martinjankowiak @eb8680 @neerajprad

[2019-09-09 17:06] fmassa commented on #12013
Hey @bhushan23 did you managed to make progress on this issue?

It would be good to have it implemented soon, as it is important to a few people like @raghuramank100 and @ppwwyyxx

[2019-09-09 17:08] ezyang commented on #22259
@pietern points out that if Flask is multithreaded, that could be causing the problem. The spinlock here might be related to a race we've had in NCCL, where if you call cudaFree on one GPU and cudaMalloc on another (or run a thread to completion, or with dependency on another device), cudaFree calls an hflush of mapped pages for CUDA driver (doing something on the devices). If you do that where th

[2019-09-09 17:09] ezyang commented on #15864
Resolution: we will take this code, it will either live in pytorch or vision.

[2019-09-09 17:11] pietern commented on #22095
@makslevental A call to the model that will mutate the buffers, like `mod(z2)` in the example above.

[2019-09-09 17:13] ezyang commented on #22294
Closing under the assumption it is fixed. Please reopen if you still have this issue on master.

[2019-09-09 17:13] #22294 closed

[2019-09-09 17:14] ezyang commented on #25097
Optimistically closing as fixed thanks to @jerryzh168

[2019-09-09 17:14] #25097 closed

[2019-09-09 17:15] ezyang commented on #1489
cc @vincentqb

[2019-09-09 17:17] ezyang commented on #7313
(@gchanan says there might be a dupe issue filed by @SsnL)

[2019-09-09 17:19] ezyang commented on #24016
This is probably the same thing as #22078

[2019-09-09 17:25] ezyang commented on #17920
Downgraded priority (I think I marked this as high priority in relation to what we are doing to reduce binary size in mobbile, bbut the ask here is for something else)

[2019-09-09 17:45] xuhdev commented on #21551
@jinfagang Have you tried `python setup.py clean` first?

[2019-09-09 18:01] raghuramank100 commented on #12013
Hi @bhushan23 , this is a feature that we need fairly soon, so please let us know if you are able to work on it/need it reviewed etc.

[2019-09-09 18:08] jpellman commented on #24081
I'm encountering the same issue as well- not even SIGKILL will work to stop a script using PyTorch.  Honestly, if SIGKILL isn't working, I doubt that this issue is specific to PyTorch.  I'd be more inclined to believe that the NVIDIA driver / tainted Linux kernel is at fault- anything outside the kernel space really shouldn't be able to mess up SIGKILL.  Similar issues have occurred in the past wi

[2019-09-09 18:13] iffsid commented on #25783
Just for completeness, here's a simple repo showing off the use of the DReG estimator for MNIST: [iffsid/DReG-PyTorch](https://github.com/iffsid/DReG-PyTorch}. It employs an explicit `detach` on the parameters of the guide for the scoring, as in **Alternatives**.

The only operative differences from the parent repo ([lxuechen/DReG-PyTorch](https://github.com/lxuechen/DReG-PyTorch)) are:
 * a fix f

[2019-09-09 18:13] makslevental commented on #22095
@pietern no i have no unused calls like this in my code. i'll open the issue soon.

[2019-09-09 18:15] Lyken17 commented on #17159
@pietern I understand there are too many factors affect the final scalability. But still, it is important to have comparisons with other frameworks

For example, horovod, they benchmark on standard model VGG / Inception / ResNet on 128 servers with 4 Pascal GPUs each connected by RoCE-capable 25 Gbit/s network

![](https://user-images.githubusercontent.com/16640218/38965607-bf5c46ca-4332-11e8-895a

[2019-09-09 18:17] dashesy commented on #25807
Even outside a `jit.script` I get this error:

[code]

I tried `opset_version=10` but same error

[2019-09-09 18:32] ailzhang opened #25865 "a few hub improvements"
- create a dummy repo and migrate `pytorch/pytorch` CI to use it instead of `pytorch/vision`.
- allow zipped checkpoint.
cc: @fmassa @soumith

cc @ailzhang

[2019-09-09 18:36] jpellman commented on #24081
For quick reference, here's a set of tallies for some of the relevant software/version number pairings:

## *NVIDIA Driver Summary Count:*

|Version|Count|
|-------|-------|
|410.79|1|
|418.67|1|
|418.87|1|

## *CUDA Summary Count:*

|Version|Count|
|-------|-------|
|10.0.130|3|

## *cudNN Summary Count:*

|Version|Count|
|-------|-------|
|7.4.2|1|
|7.6.0|1|
|7.6.1|1|

## *PyTorch Summary Count:

[2019-09-09 18:46] bhushan23 commented on #12013
@fmassa I am little confused regarding handling the backward pass and looking into it
forward pass will simply be returning a tensor of expected output shape here https://github.com/pytorch/pytorch/blob/13292ec3c7f47228b93dbef1ca750b66b4b8e0af/aten/src/ATen/native/Convolution.cpp#L512
@raghuramank100 will let you know if I want to pass this on to someone by end of day
@gchanan do you have any idea

[2019-09-09 19:53] mrshenli commented on #23110
@daniel-ziegler, do you mean `model` and `model.aux_loss()` overlap in some but not all params/grads. For the overlapped ones, they should just keep the latest grads (the one from `backward(model.aux_loss())`) and override the previous one? If so, it seems necessary to introduce `with autograd.context as ctx_id:` for smart mode as well.

[2019-09-09 19:58] suo opened #25871 "[jit] Possible to create dependency cycle using _Const* ScriptModule"
By dependency cycle, I mean: in our serialized model, "A.py depends on B.py depends on A.py"

In our serialization format, dependency cycles are blocked by the fact that we lay out the files like Python does, so cycles can't be made by construction. `_ConstSequential` and friends violate this by being dynamically created in `torch/jit.py`, so it is possible to architect a cycle.

Simple repro:
[co

[2019-09-09 20:01] suo commented on #25860
Hi, this is probably because we are refining the type of the attribute `v` (since it's a statically known attribute) but we are not refining the type in `update_v()`

Either way: can you try on master? We have made changes to Tensor typing that should fix this issue

[2019-09-09 20:02] suo commented on #25856
Thanks for the report! @Chillee is right, the docs should be updated. Passing to @driazati

[2019-09-09 20:42] guochengqian opened #25873 "cuda_empty_cache() cause device-side assert triggered error"
## 🐛 Bug

## To Reproduce
[code]
show error:
[code]

## Environment
PyTorch version: 1.1.0
Is debug build: No
CUDA used to build PyTorch: 9.0.176

OS: Ubuntu 18.04.2 LTS
GCC version: (Ubuntu 7.4.0-1ubuntu1~18.04) 7.4.0
CMake version: Could not collect

Python version: 3.7
Is CUDA available: Yes
CUDA runtime version: 9.1.85
GPU models and configuration:
GPU 0: TITAN V
GPU 1: TITAN Xp

Nvidia driver

[2019-09-09 20:44] ezyang commented on #25859
My thinking is that exception handling code that translates exceptions between C++ and Python would always flush warnings, even if there is an error. But it's true that if we segfault all warnings will be lost.

I could also be convinced that the warn macro should be warn once by default everyone in C++.

[2019-09-09 20:45] yf225 opened #25874 "Python/C++ API Parity: tensor autograd API"
## 🚀 Feature
We would like to implement the following autograd APIs for C++ tensors, with appropriate tests:
(left: Python API, right: C++ API)

- [x] `torch.Tensor.detach` -> `at::Tensor::detach` (https://github.com/pytorch/pytorch/pull/26251)
- [x] `torch.Tensor.detach_` -> `at::Tensor::detach_` (https://github.com/pytorch/pytorch/pull/26251)
- [x] `torch.Tensor.backward` -> `at::Tensor::backwar

[2019-09-09 20:46] yf225 commented on #25874
cc. @pbelevich

[2019-09-09 20:49] soumith commented on #25873
this is because a previous device-side assert was triggered, and empty_cache is just synchronizing.
If you want exact location of the device assert, you can run with the environment variable `CUDA_LAUNCH_BLOCKING=1` set

[2019-09-09 20:49] #25873 closed

[2019-09-09 20:50] ezyang commented on #25413
@jerryzh168 There still seems to be some problems with this test: https://circleci.com/gh/pytorch/pytorch/2713616?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[code]

The build in question is rebased past your derandomize fix.

[2019-09-09 21:12] ezyang commented on #8115
This will be difficult for us to work on until someone on our side can repro it.

[2019-09-09 21:12] daniel-ziegler commented on #23110
Oh, I meant a slightly different thing: The current design as I understand it must keep a separate set of gradient tensors in memory for each active `autograd_context_id`, since different callers should be isolated from one another. But in my example we want the gradients for all overlapping params to just get added up as soon as they are computed (the same way Pytorch normally accumulates gradien

[2019-09-09 21:17] ezyang commented on #25760
What is the contents of `pip list` and `conda list`

[2019-09-09 21:19] ezyang commented on #25775
I think that we intentionally don't support positional dtype, similar to our factory functions:

[code]

Though it would certainly be good to improve the error message.

[2019-09-09 21:22] ezyang commented on #25811
You've let us know that there is a warning, but you haven't told us what the problem is. Please reopen with a more detailed description.

[2019-09-09 21:22] #25811 closed

[2019-09-09 21:23] ezyang commented on #25814
cc @yf225

[2019-09-09 21:24] ezyang commented on #25814
Somehow the gradient on a function is a view. I don't think any of our code permits this to happen. Can you share more about your program in question?

[2019-09-09 21:27] ezyang commented on #25820
Unfortunately, since this is out of our support window, we are unlikely to get around to fixing it. If there is a simple fix that doesn't involve ifdef'ing for the version, I'd be happy to merge it, but a big reason we sunset CUDA versions is to avoid having to have an infinitely growing list of ifdefs.

[2019-09-09 21:28] ezyang commented on #25821
This may be related to https://github.com/pytorch/pytorch/issues/18631

[2019-09-09 21:30] rsokl opened #25878 "Model weights fail to load when model is on different gpu than when it was saved"
## 🐛 Bug

`model.load_state_dict` silently fails when the model is saved and loaded on different gpu-devices. As a result, the model remains in its randomly-initialized state.

This does not occur in PyTorch 1.1 but does occur in PyTorch 1.2.

## To Reproduce

Steps to reproduce the behavior:

The following code demonstrates this bug:

1. Define functions for creating a simple model. For loading t

[2019-09-09 21:41] SsnL commented on #25814
@ezyang It could happen, e.g., when one does
[code]
Then the gradient for `leaf` is `torch.ones_like(big_tensor)[1:2]`, which is a view.

[2019-09-09 21:44] ezyang commented on #25833
cc @t-vi

If cudnn is trashing some buffers I'm not sure if there's much we can do about this :(

[2019-09-09 21:45] ezyang commented on #25834
According to https://stackoverflow.com/questions/11168178/how-do-i-reference-a-documented-python-function-parameter-using-sphinx-markup there is no way to reference an argument and we should just use \`\`t\`\` Happy to review a patch if you want to put one up.

[2019-09-09 21:48] ezyang commented on #25831
I've fixed a few of these, and the rest should just be mechanical. Previous fix PRs: https://github.com/pytorch/pytorch/pull/25475 https://github.com/pytorch/pytorch/pull/25583

It might be a little time before I get around to doing the rest: if someone wants to pick them up, go for it!

[2019-09-09 21:49] yf225 commented on #22298
Discussed with @ShahriarSS offline, and the resolution is:

If you need to use `nn::Sequential`s inside each other you can subclass `nn::Sequential` and write a non-templatized forward function for it. You can checkout https://github.com/pytorch/vision/blob/2f46070f3cb1ea894d82578f3dc5677f82f34958/torchvision/csrc/models/mnasnet.cpp#L59 for an example on how to do this.

Docs for this resolution i

[2019-09-09 21:49] #22298 closed

[2019-09-09 21:51] ezyang commented on #25829
Yes, I think this should be resolved in the same way.

[2019-09-09 21:51] ezyang commented on #25829
Actually, @nairbv, does type promotion save us here?

[2019-09-09 21:56] ezyang commented on #25814
argh. Upgrading priority, in that case

[2019-09-09 21:59] Nikronic commented on #25834
Yes, of course.

[2019-09-09 22:09] dharma135 opened #25880 "Incorrect lable read with ImageInput Op of Caffe2"
## 🐛 Bug
Incorrect label data on reading mnist lmdb with image_input operator. I see the same behavior with both C++ and python interface. mnist db read works as expected if I use TensorProtosDBInput operator.
## To Reproduce

Steps to reproduce the behavior:

1. Please run the script below to reproduce. You will need to add full path to data_folder variable for mnist db

import os, sys
import shu

[2019-09-09 22:09] fps7806 commented on #22577
I'm running into the same issue as Michael with the following code:
[code]

The slowdown in my case is closer to 30x of what I would expect. And it seems like the 2nd order gradient is computed with some weird kernels, this is what I get from using nvprof:
[code]

Interestingly enough, if I take my code and use `.to(torch.float64)` the problem goes away, so it seems like only the float32 version h

[2019-09-09 22:11] fps7806 commented on #22577
Note: the problem goes away if I change the shape of the input or stride of the convolution

[2019-09-09 22:14] yf225 commented on #25831
@npuichigo Would you be interested in adding `new_zeros` to C++ API, following https://github.com/pytorch/pytorch/pull/25475 and https://github.com/pytorch/pytorch/pull/25583 ? Thanks!

[2019-09-09 22:35] yf225 opened #25883 "[Contributors Welcome] Python/C++ API Parity: torch.nn modules"
As part of the Python/C++ API parity work, we would like to have the following `torch::nn` modules and utilities in C++ API:

## Containers
- [ ] Module (**TODO**: some APIs are missing in C++, e.g. `register_forward_hook`)
- [x] Sequential (@ShahriarSS)
- [x] ModuleList (@ShahriarSS)
- [ ] ModuleDict
- [ ] ParameterList
- [ ] ParameterDict

## Convolution layers
- [ ] Conv1d (@krshrimali for chec

[2019-09-09 23:33] jamesr66a opened #25886 "[JIT] Compiler segfaults if module has __setstate__ but not __getstate__"
cc @suo

[2019-09-10 00:09] fps7806 commented on #22577
Sorry for spamming the thread, but I found out that setting `torch.backends.cudnn.deterministic = True` significantly improved the performance of my script. @MichaelArbel can you try it in your script?

[2019-09-10 00:31] neerajprad commented on #25783
@fritzo - It might be possible to use `Distribution.arg_constraints` to provide a generic method that keeps the lazy params intact, similar to what we use for constraints checking, though I may be missing some corner cases. This relies on whether all params used by distributions populate `arg_constraints`. We should probably provide a `requires_grad` method instead which sets the `requires_grad` a

[2019-09-10 00:31] yf225 opened #25888 "Forward/backward hooks for C++ torch::nn modules"
## 🚀 Feature
As part of the Python/C++ API parity work, we would like to provide forward/backward hooks for C++ `torch::nn` modules:
(left: Python API, right: C++ API)
- `torch.nn.Module.register_forward_pre_hook` -> `torch::nn::Module::register_forward_pre_hook`
- `torch.nn.Module.register_forward_hook` -> `torch::nn::Module::register_forward_hook`
- `torch.nn.Module.register_backward_hook` -> `t

[2019-09-10 00:32] yf225 commented on #25888
cc. @pbelevich

[2019-09-10 01:30] ssdyue commented on #25814
This problem occurs under the following conditions：

[code]

I have done a few tests below：

[code]

but the following code can run:

`t_reshape.detach()`

or

[code]

[2019-09-10 01:39] pritamdamania87 commented on #23110
@daniel-ziegler In the current design if you have multiple backwards passes with the same autograd_context_id, the gradients would get accumulated under the same `autograd_context_id` and it would be similar to calling backwards() multiple times today.

[2019-09-10 01:52] XiagenFeng commented on #25820
Hi, Edward,

Got it. Thanks for reply:)

Best regards

Xiagen Feng

Edward Z. Yang <notifications@github.com> 于 2019年9月10日周二 上午5:28写道：

[2019-09-10 02:02] #25239 closed

[2019-09-10 02:04] zhjw0927 commented on #25852
Thank you for solution very much.
Success is because that  before cmake, <torch/script.h> and <WINSOCK2.H> were written  on cpp, right?

My previous practice was to specify the path of libtorch only in cmake, first complete the part of libtorch, and then add network programming, so it caused an error.

[2019-09-10 02:19] raghuramank100 opened #25890 "x.view() does not work after pooling on quantized tensors"
x.view() does not work for quantized tensors after pooling, likely due to layout optimizations in pooling for NHWC:
Repro code:
[code]
[code]

[code]
[code]

[2019-09-10 02:21] #25834 closed

[2019-09-10 02:23] #25172 closed

[2019-09-10 02:33] jamesr66a commented on #25890
I'd actually say this is now working as intended and not actually related to MaxPool2d. NHWC layouts throughout quantized networks is a choice we're explicitly making, and this is perhaps the best-case scenario for error reporting: the mismatch is explicit, the user has to option to opt-in to more data movement if needed, and the error states explicitly what the solution would be.

Closing for now

[2019-09-10 02:33] #25890 closed

[2019-09-10 02:34] jamesr66a commented on #25890
It should go without saying: we should communicate in the documentation that quantized Conv2d uses a different data layout, and that users may encounter scenarios like this

[2019-09-10 02:39] jinfagang commented on #25846
@pietern  No..... it first got mkl error then gloo..... now I got mkl, this step can not pass and I can not move further to the gloo error......

[2019-09-10 02:44] sclarkson opened #25891 "UnicodeDecodeError: 'ascii' codec can't decode byte 0xe2 in position 1199: ordinal not in range(128)"
## 🐛 Bug

CPP extension ompilation with LANG set to a UTF-8 encoding will cause an ASCII decoding error in Python 2.7

[code]

Probably the subprocess should set LC_ALL=C

## To Reproduce

Steps to reproduce the behavior:

1. Install torch 1.2.0 from PyPI for Python 2.7
2. Run the following snippet with LANG=en_US.UTF-8
[code]

## Environment

 - PyTorch Version (e.g., 1.0): 1.2.0
 - OS (e.g., Lin

[2019-09-10 02:47] williamFalcon opened #25892 "load_state_dict on CPU first"
## 🚀 Feature
When calling load_state_dict on model and optimizer, we should load to CPU first then copy to GPU

## Motivation
load_state_dict currently has a call to deepcopy which doubles the RAM for those weights. Thus when a model is already pushing the limit of RAM it cannot be loaded back in memory.

## Pitch
If we load on CPU first, the deepcopy can happen on CPU memory before going to GPU

[2019-09-10 02:49] jinfagang commented on #25849
I actually got MKLDNN issue:

[code]

I can not see USE+MKLDNN off....

[2019-09-10 02:51] jinfagang commented on #25849
[code]

[2019-09-10 02:59] albanD commented on #25888
Hi,

You might want to wait for the `backward_hook`s for the python version to be fixed and then only implement the equivalent of the fixed version in cpp?

[2019-09-10 03:06] #25852 closed

[2019-09-10 03:17] peterjc123 commented on #25852
I don't think it has anything to do with the source file. I guess that you created the project manually by specifying include dirs and libs, but without using find_package(Torch), that's why some macros are not defined, which caused the conflict.

[2019-09-10 03:23] jinfagang commented on #21551
I runed, and I remove `build`. But somehow I alway hit this ghost:

[code]

How could this be?? I totally can not found MKLDNN and I have not it installed at all......  Anyway this will throw an error of `mkl_vsl.h` not found error in the end....

[2019-09-10 03:25] jinfagang commented on #25760
[code]

[2019-09-10 04:13] XiaobingSuper commented on #25760
@jinfagang, Can you try build the latest source [code](https://github.com/pytorch/pytorch/blob/master) (latest code is verison 1.3), I rember there has a build bug when disable MKLDNN build for old pytorch version.

[2019-09-10 04:24] yf225 commented on #25888
@albanD That sounds great. Do you know if there is a tracking issue for fixing the backward hooks for the Python version?

[2019-09-10 04:39] gvskalyan commented on #20119
@jamesr66a Are you able to export models trained in onnx to fairseq . If so is it from https://github.com/bddppq/onnx-fairseq. Is it such an old version of fairseq?
Thanks.

[2019-09-10 04:44] t-vi commented on #25833
Well, last time we talked about removing cudnn ctc, people got very upset, even when the intention was to do that after fixing the non-determinism in the backward. I still think that that is likely the best way to proceed.

[2019-09-10 05:05] weixingsun commented on #25851
@pietern thanks for your advices, I re-git the whole repo and it solved my problem, looks like there is something old files making this problem.

[2019-09-10 05:05] #25851 closed

[2019-09-10 06:11] wizardk commented on #25860
Hi @suo , sorry, I didn't test on master or nightly version yet.
Currently I'm using copy_ to reassign member tensor.

I'll test this case when I'm free and I'll let you know the result.
Thanks for your help.

[2019-09-10 06:41] pietern commented on #25851
@weihuangxu Thanks for the update! Glad you got it sorted out.

[2019-09-10 06:58] TomHeaven commented on #25693
I've re-built pytorch 1.2.0 with pull quest https://github.com/pytorch/pytorch/pull/25553, it solved the issue. We should consider merge that pull.

[2019-09-10 07:10] bhushan23 commented on #12013
@fmassa @gchanan @raghuramank100 @soumith I don't have enough bandwidth to finish this sooner. I would like someone else to take over.

I tried a small change with [mkldnn](https://github.com/bhushan23/pytorch/commit/ebff27f61ac00036d79ad2dbd062d98773714439)
Basically, If any one of dimension is 0 then, pass it as it is (we don't need to compute the shape): computing shape is incorrect representat

[2019-09-10 07:17] dajidali010 opened #25900 "Bug?slow when i run several same code"
I use libtorch.
when I run my code many times at the same time, every one is very slow.
But when I run one, it's fast.
why? thanks

[2019-09-10 07:29] jinfagang commented on #21551
I have noting to say:

[code]

[2019-09-10 07:30] jinfagang commented on #21551
I have runned clean and remove build folder, can anyone indicates me why this command has no effect???????

[2019-09-10 07:31] jinfagang commented on #25760
this torch is my previous installed from pip, now I have 1.3 already... this is the master branch for now:

[code]

[2019-09-10 07:39] jinfagang opened #25901 "mkl and gloo not able to disable"
[code]

Output:

[code]

I have no idea what is the right way to disable them.....................................

[2019-09-10 07:45] xuhdev commented on #21551
It may be caused by the use of `sudo` here, because some configuration of sudo would drop or only keep some current environment variables. Normally you shouldn't run the build command with `sudo`; but if you have to do so, you can try `sudo -E` to force `sudo` to preserve environment variables.

[2019-09-10 07:48] jinfagang opened #25903 "unable to set cmake flags"
[code]

Why still `DUSE_DISTRIBUTED=True` even I set env..................................
**what's exactly way to set cmake flags? there were no docs about it............. and all issue were not properlly solved or outdated ....**

[2019-09-10 07:50] GanjinZero opened #25904 "Python hang after using torch.exp()"
## 🐛 Bug

Using function torch.exp() makes python hang. I test some other functions like torch.sum(), torch.abs(), these functions can return right results.

## To Reproduce

Steps to reproduce the behavior:

[code]
Python just hang, python cannot be closed by using CTRL+C under Ubuntu 16.04.

## Expected behavior

Out[2]: Tensor([1, 2])

## Environment

Collecting environment information...
PyTor

[2019-09-10 08:00] hufangjian commented on #24904
I get the same issue.

torch.__version__ =1.1.0
code:
#-*-coding:utf-8-*-
import torch
import torchvision
from torch.autograd import Variable
from tensorboardX import SummaryWriter

# 模拟输入数据
input_data = Variable(torch.rand(16, 3, 224, 224))

# 从torchvision中导入已有模型
net = torchvision.models.resnet18()

# 声明writer对象，保存的文件夹，异己名称
writer = SummaryWriter(log_dir='.log/', comment='resnet18')
with writer:

[2019-09-10 08:38] zengchang94622 opened #25907 "While tracing my model, an exception is raised "Cannot encode RHS of the node, op not supported""
## 🐛 Bug

I want to deploy my model using libtorch. But when I used `torch.jit.trace` method to save my model, I found some problems as following.

1. If I run `model.eval()` before `torch.jit.trace(model, example)`, an exception will be raised. And the detail traceback information is shown as following.
[code]
2. However, if I run `model.train()`, there is no problem and I can run `torch.jit.trac

[2019-09-10 08:46] jinfagang commented on #21551
@xuhdev  You seems saved my life!!!

But without sudo, I can not install the built pytorch python package, does it generates wheels so that I can install after build? (I tried several times, it broken says permission denied without sudo)

[2019-09-10 10:04] Nikronic commented on #25706
PR #25832 approved.
@ezyang should we create a new issue as you said that why doc building did not fail or track within this one?
Thank you

[2019-09-10 10:09] alchemi5t commented on #8115
I installed and used nvidia apex(apex.parallel.multiproc) to fix this issue.

[2019-09-10 10:44] XiaobingSuper commented on #25849
@jinfagang , there has another summary log behind your given in the build step, perhaps you can paste your full log into [gist](https://gist.github.com/) which we can fully find the reasons for this failure(also paste conda list or pip list). by the way, I also asked my colleague to reproduce it, he also couldn't get the expected failure. Thanks!

[2019-09-10 11:15] pietern commented on #25846
Can you try running against a fresh checkout?

A similar issue was reported in #25851 and that was resolved with a clean checkout.

[2019-09-10 12:22] RichardHWD opened #25910 "How to use batch norm when there has padding?"
I am doing a NLP task and input various-length sentences into model, so I add some padding to keep every sentence to the longest length in one batch. However, padding length can affect batch norm obviously. And I cannot find a module with a parameter of mask? Can you help me ?

[2019-09-10 12:23] urandu commented on #25803
I would like to tackle this issue as my first contribution, is that okay? @driazati

[2019-09-10 12:25] #25846 closed

[2019-09-10 12:26] jinfagang commented on #25846
The problem is `sudo` incase anyone got this issue, pls using `sudo -E`

[2019-09-10 12:26] #25849 closed

[2019-09-10 12:26] jinfagang commented on #25849
the problem is `sudo`, in case anyone else caguht this, pls using `sudo -E`

[2019-09-10 12:31] urandu commented on #25891
Please assign me this issue.

[2019-09-10 12:55] pietern commented on #8115
It is likely the original issue posted when we were still using THD and a lot has changed in the mean time.

If you're experiencing the same issue, please feel free to open a new issue and include as many details about your environment you can share.

[2019-09-10 12:55] #8115 closed

[2019-09-10 13:25] rsokl commented on #25904
I am unable to reproduce this on PyTorch 1.2.

![image](https://user-images.githubusercontent.com/29104956/64617682-e0bf9b80-d3ac-11e9-80bf-3a653a2cec42.png)

[2019-09-10 13:53] mrshenli opened #25912 "test_invalid_names is flaky"
passed: https://circleci.com/gh/pytorch/pytorch/2714822?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

failed: https://circleci.com/gh/pytorch/pytorch/2721901?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[code]

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera

[2019-09-10 14:04] CrazyRundong commented on #25767
@pietern @sjeaugey  Thanks for your suggestions~ Following outputs are from `NCCL_DEBUG=INFO`, hope this can help.

### 4 tasks, first GPU with adjacent rank, works properly
[code]

### 8 tasks on 2 worker nodes, first GPU with adjacent rank, socket timeout
[code]

### 4 tasks, first GPU with non-adjacent rank, socket timeout
[code]

[2019-09-10 14:07] ezyang commented on #25888
Note that @malvika2147 implemented hooks on variables.

[2019-09-10 14:09] albanD commented on #25888
@yf225 I would say https://github.com/pytorch/pytorch/issues/598 is the base issue for backward hooks on nn.Modules.

[2019-09-10 14:12] cyfwry opened #25915 "Real-time performance issue about tensor.cpu()"
I have encountered difficulties in implementing a project that requires real-time performance. The entire network (composed of pre-processing (CPU) and post-processing (CPU) and model (GPU)) is not fast enough. After checking, I found:

1. The tensor.cpu() in post-processing consumes a lot of time (for the same tensor, the tensor.cuda() in the pre-processing uses 1ms, and the tensor.cpu() in the p

[2019-09-10 14:21] ezyang commented on #25760
You've got a stale copy of torch in your environment. `pip uninstall torch` and try building again...

[2019-09-10 14:21] ezyang commented on #25706
@Nikronic new issue please! thanks!

[2019-09-10 14:21] #25706 closed

[2019-09-10 14:42] fritzo commented on #25783
@iffsid @neerajprad as a near term solution we could exploit the `.expand()` method as proposed in https://github.com/probtorch/pytorch/pull/152

@neerajprad a fully generic `.detach()` method is tricky because some distributions cache intermediate tensors, e.g. the `._unbroadcasted_scale_tril` of `MultivariateNormal`.

[2019-09-10 14:50] BynaryCobweb commented on #25644
Almost right... but there is no 5th convolution layer:
[code]

[2019-09-10 15:10] dhpollack opened #25917 "Docker build failure due to Pillow"
## 🐛 Bug

The docker build fails to build torchvision and thus fails to complete

## To Reproduce

Steps to reproduce the behavior:

1.  `git clone --recursive https://github.com/pytorch/pytorch.git && cd pytorch`
2.  `git fetch --tags && git checkout v1.2.0`
3.  `docker build -t pytorch_src -f docker/pytorch/Dockerfile .`

[code]

## Expected behavior

docker should finish building

## Environmen

[2019-09-10 15:32] colesbury commented on #25859
Oh, that makes sense. That makes me feel much better about the approach.

[2019-09-10 15:41] fcoclavero commented on #21114
@xjdeng thanks for the fix! How did you figure it out though?

[2019-09-10 15:42] t2ac32 commented on #17773
Could you elaborate a bit more on what has to be done to achieve this behavior?
I currently have N ids in my data set and i want to return 15 samples per id:
So.. _len_(self) = len(dataset)*15

But i cant manage to make my _getitem_ to return 15 samples.

This is currently my _getitem_ function:
`
  def __getitem__(self, idx):

        img_id = self.ids[idx]

        images, target = get_imgs_and_

[2019-09-10 15:59] daniel-ziegler commented on #23110
That makes sense, but how do you accomplish that? It seems like you get a fresh `autograd_context_id` returned from `backward` every time.

[2019-09-10 16:06] fmassa commented on #23232
Another example of where `all_gather` is used with arbitrary Python objects is in [`maskrcnn_benchmark`](https://github.com/facebookresearch/maskrcnn-benchmark/blob/24c8c90efdb7cc51381af5ce0205b23567c3cd21/maskrcnn_benchmark/utils/comm.py#L48-L88)

[2019-09-10 16:06] sjeaugey commented on #25767
It seems in the timeout case, NCCL init actually completes (see `Init COMPLETE` lines). But the NCCL communicator is using GPUs 0, 1, 2 and 3 ... shouldn't it be 0, 2, 4 and 6 (the first GPU of each process) ?

In fact in a model parallel case, I would expect two NCCL communicators to be created (one with 0, 2, 4, and 6 and one with 1, 3, 5, and 7). @pietern even in the case that works above, how

[2019-09-10 16:14] heiner commented on #24912
Hey, thanks for taking a look! And Sorry for the delay, I was on holiday.

Here's the nvprof output:
[nvprof.output.txt](https://github.com/pytorch/pytorch/files/3596639/nvprof.output.txt) (also in https://gist.github.com/heiner/25a4bd8e38fb33fbefc4c59e069ea475).

The issue I'm trying to reproduce here is showing up in an RL-related problem where the embedding is embedding different symbols in my

[2019-09-10 16:18] pietern commented on #25767
@sjeaugey The communicators are created on demand if a call is made with a set of devices that hasn't been used before, so that will work out of the box.

@CrazyRundong After the runtime error, does rank 0 also exit? Or do you only see the error on non-zero ranks?

[2019-09-10 16:19] #19268 closed

[2019-09-10 16:19] soumith commented on #25910
please use https://discuss.pytorch.org for questions

[2019-09-10 16:19] #25910 closed

[2019-09-10 16:21] soumith commented on #25903
cc: @xuhdev

[2019-09-10 16:22] #25900 closed

[2019-09-10 16:49] SsnL commented on #25915
CUDA ops are generally async, i.e., each op you do gets pushed on to a queue that the GPU sequentially execute. So the time measurements could be misleading. And `.cpu()` is a synchronization point, i.e., it blocks until that queue is cleared.

[2019-09-10 16:53] MarcoCBA opened #25925 "Keyword argument of function torch.load() 'map_location' is ignored."
Im currently working with FasterRCNN.
I trained the model inside an instance with GPU.
Then serialized it with:

`state_dict = pickle.dumps(model.state_dict())`

When I try to load it on a instance without a GPU device by using:

`device = torch.device('cuda') if torch.cuda.is_available() else torch.device('cpu')`
`st = torch.load(path, map_location=device)`

The following error pops up:

This is

[2019-09-10 17:05] jpellman commented on #24081
I was able to replicate this issue using an environment identical to my earlier one except for the CUDA version, which was 9.2.88.

[2019-09-10 17:16] jpellman commented on #24081
As another data point, the version of fastai exhibiting a similar issue that I linked to in my earlier comment would have also used CUDA 9.2 (based off a contemporary copy of the README [here|https://github.com/fastai/fastai/tree/ca55d51980719b524ba7a22d7cadbe53bdf6cfef]).

[2019-09-10 17:32] ifedan commented on #24497
Fixed in https://github.com/pytorch/pytorch/pull/25402

[2019-09-10 17:32] #24497 closed

[2019-09-10 17:33] ifedan commented on #21730
Fixed https://github.com/pytorch/pytorch/pull/25221

[2019-09-10 17:33] #21730 closed

[2019-09-10 17:33] ezyang opened #25927 "Native function returning argument autograd hazard"
For benchmarking purposes, sometimes we make little native functions which don't do any tensor allocations:

[code]

This results in the following Variable code being generated:

[code]

The hazard is that if `grad_fn` is the same Tensor as `self`, we will mutate the input argument (bad bad).

User-defined autograd functions have an explicit check for when output aliases with input, but for native

[2019-09-10 17:38] xuhdev commented on #25903
Does https://github.com/pytorch/pytorch/issues/21551#issuecomment-529815562 answer your question?

[2019-09-10 18:13] fritzo opened #25932 "Tensor.expand does not respect torch.no_grad()"
## 🐛 Bug

`Tensor.expand` does not detach when called inside `torch.no_grad()`.

## To Reproduce

[code]

## Expected behavior

Like all other torch operations, `.expand()` should respect `torch.no_grad()`.

## Environment

[code]

cc @ezyang @SsnL @albanD @zou3519

[2019-09-10 18:13] fritzo commented on #25932
cc @neerajprad @iffsid

[2019-09-10 18:16] #25925 closed

[2019-09-10 18:28] fritzo commented on #25783
@neerajprad what do you think of this solution. If this is too hacky for PyTorch we could add it to Pyro instead.
[code]

[2019-09-10 18:33] jerryzh168 commented on #25413
@ezyang seems the indentation is wrong...here is the fix: https://github.com/pytorch/pytorch/pull/25934

[2019-09-10 18:41] #25836 closed

[2019-09-10 19:19] soumith commented on #23657
Yes, previously it came up in the context of CuDNN / RNN, because CuDNN wanted the weights to be pre-packed in a certain way.

I think as long as we have an `undo` / `unlock` mechanism, something like `model.freeze()` might be worth adding.

[2019-09-10 19:29] neerajprad commented on #25783
It seems that `new` will not contain any distribution parameters, but I think we can use something like below? This still seems a bit hacky, e.g. if users have their own distribution implementations where they are storing parameters in some collection type, this won't work. We'll also need separate wrappers for TransformedDistribution like above. It might be something we can put into Pyro first, a

[2019-09-10 19:35] SsnL commented on #25932
Duplicate of https://github.com/pytorch/pytorch/issues/11390

[2019-09-10 20:05] pietern opened #25941 "TestAutograd.test_deep_reentrant fails with SIGBUS on macOS"
## 🐛 Bug

TestAutograd.test_deep_reentrant fails with SIGBUS on macOS.

## To Reproduce

Steps to reproduce the behavior: run autograd tests on macOS.

## Environment

Found this while working on #25930.

cc @ezyang @SsnL @albanD @zou3519

[2019-09-10 20:09] albanD commented on #23592
Hi,

Unfortunately this is because the backward hooks on nn.Modules are not working as expected at the moment.
This is tracked in #598
Feel free to re-open this issue when the one above will be fixed if you still see problems.
The recommanded workaround is to use `register_hook()` on each Tensor for which you want the gradients.

[2019-09-10 20:09] #23592 closed

[2019-09-10 20:10] driazati commented on #25803
Yeah sure, I would start by just implementing `random.choice` (and adding a test).

Some relevant code pointers:

* https://github.com/pytorch/pytorch/blob/ee312b134ca6772099ecfff1ebab068cc53261e4/torch/jit/__init__.py#L2005
* the file `torch/csrc/jit/register_prim_ops.cpp`

[2019-09-10 20:19] eellison commented on #25803
I think we want to be careful about implementing random. We won't be using the same RNG as `random` is, so we will be silently changing the reproducibility of the model.

[2019-09-10 20:28] lmaskedpiratel opened #25946 ""bernoulli_scalar_cpu_" not implemented for 'Half'"
## ❓ Questions and Help

I have following Runtime Error when trying to fit_one_cycle() with fastai.

`---------------------------------------------------------------------------
RuntimeError                              Traceback (most recent call last)
<ipython-input-19-413969571254> in <module>
      1 learn.unfreeze()
----> 2 learn.fit_one_cycle(10, lr, moms=(0.8,0.7))

~/miniconda3/envs/fastai

[2019-09-10 20:30] albanD commented on #24400
Hi,

Unfortunately we don't plan on supporting this feature for the following reason. If the field is a leaf Tensor, then you can do what you want after the end of the `.backward()` by inspecting your model and the different `.grad` fields (potentially modifying them if you want to). If the field is not a leaf Tensor, then you are doing quite complex stateful nn.Module and you can simply use `regi

[2019-09-10 20:30] #24400 closed

[2019-09-10 20:34] alok commented on #19129
I think this can be closed after https://github.com/pytorch/pytorch/commit/05f1fed693fe20d66730e593aa9efd70c7571fa5?

[2019-09-10 20:46] #24613 closed

[2019-09-10 20:59] vishwakftw commented on #25946
cc: @SsnL I believe you deferred implementation `bernoulli_` for half in https://github.com/pytorch/pytorch/pull/25076.

[2019-09-10 21:13] urandu commented on #25803
@eellison which approach do you suggest?

[2019-09-10 21:40] pritamdamania87 opened #25953 "Use globally unique id consistently across distributed model parallel code."
In https://github.com/pytorch/pytorch/pull/25169, we added `GloballyUniqueId` to encapsulate ids. We use something similar in `DistAutogradContainer` as well. We should consolidate these two and use a single GloballyUniqueId across the codebase.

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera

[2019-09-10 21:53] eellison commented on #25803
@urandu I'm not sure. I don't think we should add it for now, especially without an actual user asking for it (@driazati is a pytorch dev).

Maybe try https://github.com/pytorch/pytorch/issues/25804 or another `good-first-issue` instead?

[2019-09-10 22:48] ptrblck commented on #25901
Cross post from forum: https://discuss.pytorch.org/t/pytorch-build-from-source-help/55600/2?u=ptrblck

@albanD's answer:

In general, you don’t want to use sudo when you install pytorch. If you use linux, you can setup your rights to be in the staff group to be able to do global install without sudo. Or you can do a per-user install by adding a --user to the install command.

[2019-09-10 22:52] vincentqb commented on #1489
Thanks for the example @lemairecarl. When applying set to the parameters, `model.parameters()` is changed, and all information about which values belong to which parameters is lost. Thus, it should not be expected to give the same answer or work. This is documented [here](https://github.com/pytorch/pytorch/blob/master/torch/optim/optimizer.py#L20).

On one hand, I do agree that the original issue,

[2019-09-10 23:23] supriyar opened #25962 "Error when using `quantized_linear_per_channel` inside `aten/src/Aten/native/quantized/cpu`"
## 🐛 Bug

Calling the `quantize_linear_per_channel` function results in the following error -
[code]
## To Reproduce

Steps to reproduce the behavior:

1. Replace `quantized_linear_per_channel_cpu` with `quantized_linear_per_channel` in qconv.cpp. https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/quantized/cpu/qconv.cpp#L145
2. Run `python test/test_quantized_nn_mods.py test_conv

[2019-09-10 23:47] ailzhang commented on #23781
Hi @willprice, sorry for the late reply! The issue was indeed documented here https://github.com/pytorch/pytorch/blob/master/torch/hub.py#L235, and I left it there since python error message is clear enough that user need to install that module as dependency.
As you said in the suggested fix, it has some tricky part even if we try to handle it. I might prefer to leave it as it is as usually import

[2019-09-10 23:47] #23781 closed

[2019-09-11 00:25] sergii-bond commented on #25917
same here, `Running setup.py install for torchvision: finished with status 'error'`.
And I had to comment out `RUN git submodule update --init --recursive` in the Dockerfile and run `git submodule update --init --recursive` before `docker build`.

[2019-09-11 00:47] jaydeepthik commented on #18627
@ailzhang I really want to contribute to the built in functions what are the next steps ? thanks

[2019-09-11 00:55] ailzhang commented on #18627
Hi is there any particular builtin functions that you would like to contribute? Or are you looking for issues to start contributing to Pytorch JIT? Thanks!

[2019-09-11 01:08] jaydeepthik commented on #18627
I would like to contribute to max and min for a start

[2019-09-11 01:28] xush6528 opened #25971 "Outdated exception message, "Call init_rpc(name) first.""
## 🐛 Bug

## To Reproduce

Call
[code]

got
[code]

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera

[2019-09-11 01:47] jerryzh168 commented on #7313
In quantization(quantization aware training), we just have different qat modules for the modules that we need to fake quantize.

[2019-09-11 01:51] yaroslavvb opened #25972 "torch.symeig produces negative eigenvalues for symmetric matrix"
Same value produced on MacOS PyTorch 1.2 and Linux PyTorch 1.1
[code]

This was causing NaN's when computing symmetric square root using solution from https://github.com/pytorch/pytorch/issues/25481

[2019-09-11 02:02] xjdeng commented on #21114
I can't remember exactly..  though I might have pruned through several solutions proposed on Github and Stackoverflow until I stumbled on this one which worked.

[2019-09-11 03:05] cyfwry commented on #25915
I also found that the CPU is used up in the test. Does this mean that there is no other way to achieve real-time performance besides improving the performance of the CPU by add an another CPU?

In addition, I found an interesting phenomenon. When I import threading class to enable two threads to process two images at the same time, it is about 10% faster than continuously processing two images wit

[2019-09-11 03:05] cyfwry commented on #25915
I also found that the CPU is used up in the test. Does this mean that there is no other way to achieve real-time performance besides improving the performance of the CPU by add an another CPU?

In addition, I found an interesting phenomenon. When I import threading class to enable two threads to process two images at the same time, it is about 10% faster than continuously processing two images wit

[2019-09-11 03:41] jinfagang commented on #25901
Problem solved. Big god found the root reason by a glimpse

[2019-09-11 03:41] #25901 closed

[2019-09-11 03:42] #25903 closed

[2019-09-11 03:42] #25760 closed

[2019-09-11 04:42] #25854 closed

[2019-09-11 05:04] yaroslavvb opened #25978 "Provide a way to select SVD algorithm in PyTorch?"
PyTorch seems to use `gesdd` for singular value decomposition. Alternative `gesvd` is slower, but more accurate/robust. PyTorch could follow scipy syntax and provide a way to choose between them using `lapack_driver` kwarg

Some background on gesvd vs gesdd
https://epubs.siam.org/doi/10.1137/17M1117732
https://savannah.gnu.org/bugs/?55564

[code]

[2019-09-11 05:09] jstran97 commented on #12644
@manoharvhr Thank you so much for keeping us up to date with your project and its release! We're so glad that you decided to contact us upon doing so! We're also greatly in your debt!

[2019-09-11 05:13] chenzhekl opened #25979 "[C++] `Module::pretty_print` is broken"
## 🐛 Bug

As stated in the documentation, `Module::pretty_print` prints the name of the current module and prints its submodules recursively.

However, `pretty_print` function merely prints the name of the current module in reality. `pretty_print_recursive` will print its submodules recursively, but it's not virtual meaning it's not inherited by subclasses. Classes like `Sequence` even don't have

[2019-09-11 05:39] SsnL commented on #25946
@vishwakftw No, CPU half should not have any arithmetic ops. In generally no one should use CPU half other than preparing for GPU half training.

[2019-09-11 05:39] #25946 closed

[2019-09-11 06:33] tanmay1618 commented on #25801
I would like to work on this issue. Can someone give me some context or let me know how to start?

[2019-09-11 06:56] mruberry commented on #7601
#8354 has been merged and backward no longer exclusively uses default streams.

[2019-09-11 06:56] #7601 closed

[2019-09-11 06:58] urandu commented on #25803
Thanks @eellison  I will try out #25804  instead.

[2019-09-11 07:06] yaroslavvb commented on #25978
On second thought, this problem can also be fixed by manually regularizing the matrix. The specialized case of needing accurate estimates of small eigenvalues is going to be quite slow either way, and can be done through scipy
@vishwakftw

[2019-09-11 07:06] #25978 closed

[2019-09-11 07:12] yaroslavvb commented on #25972
This answer seems to be correct, the problem was numerical precision in estimating this covariance matrix

[2019-09-11 07:12] #25972 closed

[2019-09-11 07:18] artemru commented on #10661
The benchmark on bigger arrays is less optimistic, I've got x50 factor with pytoch=1.2.0, CPU only, 4 cores:
[code]
Should not we reopen this issue ?

[2019-09-11 07:24] sachinruk opened #25983 "Slicing behaviour in torch"
## 🐛 Slicing Behaviour in PyTorch

## To Reproduce

Steps to reproduce the behavior:

[code]
outputs:
[code]
Whereas if I do
[code]
outputs:
[code]
To summarise, in the first block, first is being reassigned the first column of x when we subtract `first` from `x`. However, in the second example, a copy is being created, hence the mean is exactly the same.

## Expected behaviour
I would have though

[2019-09-11 07:38] Sunsunsun87 commented on #23233
You're brilliant, man

[2019-09-11 08:35] SebastienEske opened #25986 "Training and learning rate finder utilities"
## 🚀 Feature
A function
[code]
that allows the user to easily train a model with a dataset without the hassle of coding himself the training loop. It contains the possibility to spread the batch size over several iterations `iter_size`, the possibility to schedule per epoch or per iteration `schedule_on_iter`, the possibility ot train for a set number of iterations or epochs and the possibility to

[2019-09-11 08:52] Daulbaev commented on #18300
@deepakn94 Hi! Is there any progress?
I also need point-to-point communication between GPUs in PyTorch and want to emulate this feature using broadcast with groups.

[2019-09-11 10:45] tamerlansb opened #25990 "How to reproduce a Cross Entropy Loss without losing numerical accuracy?"
## 🐛 Bug

I get a discrepancy between the values of the losses obtained by the torch. CrossEntropyLoss and CustomeCrossEntropyLoss.

## To Reproduce

    import torch
    import torch.nn.modules.loss as L

    class CustomCrossEntropyLoss(L._Loss):
        def __init__(self, reduction=True):
            super(CustomCrossEntropyLoss, self).__init__()
            self.reduction = reduction

[2019-09-11 10:59] dhpollack commented on #25917
I didn't get this error when I build off of master so it probably has something to do with the submodules.  I guess the solution is:

[code]

[2019-09-11 12:26] ezyang commented on #25941
Skipping SGTM for now, thanks!

[2019-09-11 12:39] Nikronic opened #25991 "Why doc building isn't failing us for referring to a non-existent method?"
## 📚 Documentation

Based on #25706, [toDense](https://pytorch.org/docs/stable/sparse.html#torch.sparse.FloatTensor.toDense) was a typo for [to_dense](https://github.com/pytorch/pytorch/blob/5d3267cd303817e0097a833bbd3f59be35295441/aten/src/ATen/core/TensorBody.h#L702) method but the doc building did not fail.

cc: @ezyang

[2019-09-11 12:58] fmassa opened #25992 "[jit] builtin max doesn't handle lists of numbers"
## 🐛 Bug

Built-in `max` in Python doesn't work with lists (or tuples) of numbers (both `int` and `float`).

## To Reproduce

[code]

Gives
[code]

Funnily, using `min` works without a problem.

## Environment
PyTorch nightly from today.

[code]

cc @suo

[2019-09-11 14:09] pbloem opened #25994 "Segfault in backward for model with grouped convolution (on CPU)"
## 🐛 Bug

When training a particular model (see below) on CPU, a segfault is thrown when ```loss.backward()``` is called.

## To Reproduce
Here's the smallest example I could manage:

[code]
## Expected behavior
No segfault.

## Environment
[code]

## Additional context

The model "trains" for a few batches before the segfault (two batches in the example above). A certain amount of model complexit

[2019-09-11 14:13] PhoenixZhao commented on #14931
@vishwakftw  thanks, it worked for me.

[2019-09-11 14:16] pietern commented on #25865
In #25930 I added a line to install pillow to make a hub test pass that imports torchvision.

Making a note here to remove that once these fixes land and the hub tests supposedly no longer transitively take a dependency on the `PIL` module.

https://github.com/pytorch/pytorch/pull/25930/files#diff-f50e65de2e1df486abf5cf0fc13f345dR23

[2019-09-11 15:18] nairbv commented on #25829
was this reported against 1.2 not master right? I'm not able to repro on current master:

[code]

[2019-09-11 15:22] antrec opened #26003 "When using `tensor._put` with out-of-range index, the GPU becomes frozen and the error message is cryptic."
## 🐛 Bug

When using `.put_` on a CUDA tensor with out-of-range index, the error message is unclear and further calls to CUDA tensors will raise RuntimeError.

## To Reproduce

Steps to reproduce the behavior:
In an IPython notebook:
[code]

## Expected traceback from line `t2.put_(torch.tensor([1, 30], device='cuda'), torch.tensor([9., 10.], device='cuda'))`

[code]

## Environment
PyTorch versio

[2019-09-11 15:25] yaroslavvb commented on #3002
Ran into the same issue. This seems to be a feature of underlying algorithm (GESDD) and can be fixed by improving condition number to be better than 8000. GESVD seems to not have this problem, so if you care about tiny singular values, a workaround is to use scipy with lapack_driver `gesvd`
https://github.com/pytorch/pytorch/issues/25978

[2019-09-11 15:36] vpirogov commented on #25994
@pbloem,

Thank you for the report. There are a few known issues in Pytorch 1.2 addressed in #25757. Could you please collect the log with `MKLDNN_VERBOSE=1` to capture convolution shapes?

[2019-09-11 15:54] anands-repo opened #26009 ""Unexpected bus error" with 100s of GB of /dev/shm space available"
I am using pytorch 1.1.0 in a docker container with --ipc=host, so I have /dev/shm space of 254GB. My training script runs for two epochs (went through the complete set of training and validation data twice) and at the start of the third epoch, crashed with the error "ERROR: Unexpected bus error encountered in worker. This might be caused by insufficient shared memory (shm)." I also had a shell sc

[2019-09-11 15:55] chenzhekl opened #26010 "[C++] Projects fail to build with LibTorch Nightly + CUDA 10.1"
## 🐛 Bug

Can't build projects with LibTorch + CUDA 10.1 on Windows. It seems that `C:/Program Files/NVIDIA GPU Computing Toolkit/CUDA/v10.0/lib/x64/cudart_static.lib` was hard-coded into the `Caffe2Targets.cmake` file somehow.

## To Reproduce

## Expected behavior

## Environment

 - PyTorch Version (e.g., 1.0): Nightly
 - OS (e.g., Linux): Windows
 - How you installed PyTorch (`conda`, `pip`, s

[2019-09-11 16:21] mruberry commented on #24851
See #25967, the PR to address this.

[2019-09-11 16:29] mruberry commented on #21589
See #25989, which runs the CI with the flag enabled in test_cuda.py and test_distributions.py. The failing tests appear unrelated.

[2019-09-11 16:30] sergii-bond commented on #25917
@dhpollack yeah, I was building v1.2.0, and my issue was as in #3542. So the easiest thing to do for me was to comment out one line in Dockerfile and run in way similar to what you posted above.
The blocker right now is the failure of torchvision installation.

[2019-09-11 16:32] mrgloom commented on #18631
@SsnL
BTW which command do you use for this nice system env output?

[2019-09-11 16:43] fmassa commented on #25829
The original issue has been fixed in master, but there is still an issue dividing an integer tensor by 0, as discussed in https://github.com/pytorch/pytorch/issues/327
The question is if we want to add checks asserting that the divisor is non zero for integer tensors

[2019-09-11 17:44] anands-repo opened #26013 "Checkpoints and random seeds"
**What I want to do:** I would like to read the current random generator state in pytorch. I know how to set the random generator state through manual_seed, but not how to read it. (assuming that this random generator state is the same as that which is initialized through torch.manual_seed). Could someone point me to this? I found out about torch.Generator, and can save the Generator's internal st

[2019-09-11 17:47] ShoufaChen commented on #2341
I met this same error.  And when I try to find method to solve this problem, the program continues to run automatically   (wait about 10 minutes )  amazing :confused:

[2019-09-11 17:57] driazati commented on #25801
RIght now the output is like
[code]

[2019-09-11 18:34] pietern opened #26032 "test_utils.TestHub broken on macOS"
## 🐛 Bug

The hub tests are broken on macOS.

I'm seeing SSL certificate related errors when trying to hit GitHub.

[code]

## To Reproduce

Run the macOS tests on CI with TestHub enabled.

## Additional context

I tried installing the latest version of `certifi` from conda-forge (which pulled in `ca-certificates-2019.6.16`) but this didn't fix the issue.

cc @ailzhang

[2019-09-11 18:44] dashesy opened #26034 "[ONNX] support masked_select masked_fill and masked_scatter"
## 🐛 Bug

torch.masked_* operations are not exported

## To Reproduce

I could not used boolean indexing and tried masked_select but got this error

[code]

## Expected behavior

Export masked ops

## Environment
PyTorch version: 1.2.0
Is debug build: No
CUDA used to build PyTorch: 10.0.130

OS: Ubuntu 16.04.6 LTS
GCC version: (Ubuntu 5.4.0-6ubuntu1~16.04.11) 5.4.0 20160609
CMake version: version

[2019-09-11 18:50] dashesy opened #26035 "[ONNX] Attach a random name to nodes"
## 🐛 Bug

Please set a random name to all the nodes, for debugging, when opening in netron

## To Reproduce

Get an error like

## Expected behavior

To have a pointer to see which node has issue

## Environment

PyTorch version: 1.2.0
Is debug build: No
CUDA used to build PyTorch: 10.0.130

OS: Ubuntu 16.04.6 LTS
GCC version: (Ubuntu 5.4.0-6ubuntu1~16.04.11) 5.4.0 20160609
CMake version: version

[2019-09-11 18:52] driazati opened #26036 "[jit] Bool list isn't being created in python -> script conversion"
We should probably just delete `BoolList` entirely since it's not used

[code]

[code]

cc @suo

[2019-09-11 18:55] bwang-delft opened #26038 "Torch.nonzero() leads to crash in PyTorch 1.2"
The code snippet works fine in 1.1 but causes an error in 1.2:

I get the error message below:

I had to remove the usage of nonzero() like below to make the code work:

I have two questions:
(1) Why does the runtime error happen in 1.2 but not in 1.1?
(2) By not using nonzero to prevent division by zero I have numeric instability in theory. However, in really the number that comes out from a soft

[2019-09-11 18:58] ezyang commented on #25829
No, for integer-integer division, this is WONTFIX.

[2019-09-11 18:58] #25829 closed

[2019-09-11 19:05] jerryzh168 commented on #25413
should be fixed now

[2019-09-11 19:39] soumith commented on #26013
look for get_rng_state and set_rng_state in our docs: https://pytorch.org/docs/stable/search.html?q=get_rng_state&check_keywords=yes&area=default#

[2019-09-11 19:39] #26013 closed

[2019-09-11 19:47] soumith commented on #26003
this is very much expected, it is a limitation of CUDA API, and this is the best-effort error message we can produce. The alternative is to synchronize after every kernel launch which is a non-trivial amount of performance degradation.

[2019-09-11 19:47] #26003 closed

[2019-09-11 19:51] soumith commented on #25990
please use https://discuss.pytorch.org for questions

[2019-09-11 19:51] #25990 closed

[2019-09-11 20:00] Nikronic commented on #25991
I want to work on this issue myself, so I'd be thrilled if let me know about the procedure.

[2019-09-11 20:10] fmassa commented on #327
I'm re-opening this issue because it has appeared plenty of times in the past (see linked issues, plus many others that haven't been linked).

From discussion in https://github.com/pytorch/pytorch/issues/8079, both TensorFlow and numpy handles the 0 / 0 division gracefully, so the performance hit of adding an extra check (for integer tensors) wouldn't be that bad in comparison.

With the current i

[2019-09-11 20:33] pietern opened #26049 "Bind to localhost if all else fails on macOS"
## 🚀 Feature

Using torch.distributed on macOS is very likely to be local only. For smoke tests or trying some stuff out. If the machine's hostname doesn't resolve to an address we currently crash. If we're running on macOS, we can make it fallback to localhost, since the typical use case is fine with that.

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera

[2019-09-11 21:00] mcarilli commented on #6962
Would the cudnn handle pool approach also work for cublas handles?  The handle pool returns handles on demand as threads request them.  If all existing handles in the pool are in use, it creates a new one.  As threads terminate, they release handles back into the pool.  In this way, the handle pool never creates more handles than the high-water mark of active threads, so it's efficient with DataPa

[2019-09-11 21:01] mruberry opened #26052 "Run test_cuda.py under cuda_memcheck in CI"
## 🚀 Feature

At least one CI build should do (the equivalent of) cuda-memcheck python test_cuda.py.

## Motivation

This will ensure that existing and new CUDA features do not leak memory or write to invalid memory locations.

## Pitch

Unfortunately the current CUDA test suite cannot pass cuda-memcheck, at least on my machine. Before enabling this in the CI we need to get the existing suite to p

[2019-09-11 21:07] mcarilli commented on #6962
My original PR included [a test](https://github.com/pytorch/pytorch/pull/15668/files#diff-d89baec73022f5f511c5beb5ce6498dfR3839-R3887) that robustly showed (or at least provided strong evidence) that we got it right.  The test failed consistently prior to https://github.com/pytorch/pytorch/pull/15668 and passed consistently after https://github.com/pytorch/pytorch/pull/15668.

On my local machine,

[2019-09-11 21:10] mruberry commented on #6962
@mcarilli I think an approach like that would work. Let's discuss offline.

[2019-09-11 21:21] abonnet opened #26054 "Crash using PyTorch built with TBB support and multiple DataLoader instance with pin_memory=True"
## 🐛 Bug

Cannot use PyTorch built with TBB and multiple DataLoader instance with pin_memory=True, the first instance of DataLoader is raising a TBB warning and the second one will make the program cras

## To Reproduce

Steps to reproduce the behavior:

1. Build Pytorch from source with `USE_TBB=1` and `ATEN_THREADING=TBB`
2. Repro script
[code]

3 Error:
[code]

## Expected behavior

Run correct

[2019-09-11 22:06] dncliss opened #26058 "sccache stats can cause whole build to fail"
## 🐛 Bug

A recent PR (#24506) added an incidental "sccache --show-stats" command in the pytorch
jenkins build script.  Fine, but this command isn't universally present and this new stat
command can cause the whole build to unnecessarily fail, for example on a
recent ppc64le platform build.

## To Reproduce

Step to reproduce the behavior:

1. run the .jenkins/pytorch/build.sh script on ppc64le pl

[2019-09-11 22:26] egrefen commented on #25315
Any updates? Was it solvable on one transatlantic flight, @soumith? 😄

[2019-09-11 23:11] vincentqb commented on #21965
Schedulers are not currently chainable #13022, and so switching from one to another overrides the past. This should be considered for #24352.

[2019-09-11 23:37] dzhulgakov opened #26067 "TorchScript doesn't handle submodule being None"
## 🐛 Bug

If one of the submodules is None, TorchScript doesn't recognize it as an attribute, unless explicitly specified in `__constants__` lists.

Obviously, if it's just a plain attribute, it might be necessary to additionally annotate it. But it doesn't work even if explicit `add_module` call is made.

## To Reproduce

[code]
Error:
[code]

## Expected behavior

## Additional context

It's a p

[2019-09-11 23:37] dzhulgakov commented on #26067
Looks like it's a known issue actually - https://github.com/pytorch/vision/pull/1270 cc @eellison

[2019-09-11 23:40] driazati commented on #18720
I can't repro this on master, feel free to re-open if it's still an issue

[2019-09-11 23:40] #18720 closed

[2019-09-11 23:41] driazati commented on #18617
Closing since we couldn't get a repro working, if this is still an issue on master/nightly feel free to re-open

[2019-09-11 23:41] #18617 closed

[2019-09-11 23:41] #25413 closed

[2019-09-11 23:43] ezyang commented on #25991
So, the first place to start is to build docs. Once you have a build of PyTorch, you can build the docs by installing the `docs/requirements.txt` and running `make html` in `docs`.  Then I would figure out what's going on when you refer to a method that doesn't actually exist.

[2019-09-12 00:04] rohan-varma opened #26071 "Remove use of Variable wrapper in test files?"
## Issue description

Tensors and Variables have been the same thing since PyTorch 0.4, but I came across many test files that wrap `Tensors` in `Variable`s. One such example is the code in `test/test_nn.py`. It seems like it would be useful to get rid of these calls so that the old patterns aren't followed when writing new tests, and the tests can stay up to date. At the very least the tests woul

[2019-09-12 00:15] MicaelCarvalho opened #26072 "DataLoader workers fail to die"
## 🐛 Bug

_Disclaimer: This bug is hard to reproduce; I am running experiments in a cluster which is, at the moment, experiencing heavy usage [it uses slurm for job management], and I need to run multiple experiments in parallel for this to happen once or twice. It started happening randomly without any upgrade in the libraries or Python version._

The main symptom of this is that `for i, batch in

[2019-09-12 00:16] dashesy opened #26073 "[ONNX] Support tensor in-place indexed assignment"
## 🐛 Bug

It is mentioned in the [limitations](https://pytorch.org/docs/stable/onnx.html#limitations) that we need to use scatter as workaround. But scatter is not ideal with tensors with more than 2 dimensions.

## To Reproduce

[code]

## Expected behavior

Support inplace assignment

## Environment

PyTorch version: 1.2.0
Is debug build: No
CUDA used to build PyTorch: 10.0.130

OS: Ubuntu 16.04

[2019-09-12 00:21] ezyang commented on #6962
This sounds good to me!

[2019-09-12 00:22] soumith commented on #26071
go for it!

[2019-09-12 01:26] Balandat opened #26076 "cdist gradient computation is broken"
## 🐛 Bug

Gradient computation of `torch.cdist` results in non-deterministic behavior in some simple cases. It appears there is some kind of overflow or similar going on.

## To Reproduce

Steps to reproduce the behavior:

[code]

This produces the following (depending on the setting (pytorch, OS) this happens from almost every time to only occasionally).
[code]

## Expected behavior

This should

[2019-09-12 01:29] Balandat commented on #26076
@jacobrgardner, @gpleiss

[2019-09-12 01:43] crystalwan commented on #25548
root@aff8887da2c7:/work# nvidia-smi
Thu Sep 12 01:41:30 2019
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 418.56       Driver Version: 418.56       CUDA Version: 10.1     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf

[2019-09-12 02:00] XiaobingSuper commented on #25994
@pbloem , I can't reproduce your problem in my side, I find your environment have three different torch: 0.4.1, 1.2.0 and 0.4.0, that is very confused. Can you create a new environment by conda and reinstall PyTorch? Please tell me if you still have this problem, thanks!

[2019-09-12 02:23] mruberry commented on #21589
#25989 is landed and test_cuda.py and test_distrubtions.py now run on the non-default stream. Let's see how stable those tests are over the next few days.

[2019-09-12 02:46] ganleiboy commented on #23585
I meet a similar problem. When I import torchvision, it returns an error.
`from torchvision import _C`
`ImportError: DLL load faild.`

My environment is PyTorch1.2+torchvision0.3, so I reinstall a lower vision of torchvision.
`pip uninstall torchvision`
`pip install torchvision==0.2.2`

And then, `import torchvision` returns no error.

[2019-09-12 03:28] xsacha opened #26081 "RNN fails to compile due to USE_FBGEMM=OFF"
## 🐛 Bug

Compiling libtorch without FBGEMM causes a compile error in RNN.

The struct exists in aten/src/ATen/native/quantized/cpu/fbgemm_utils.h

## To Reproduce

Steps to reproduce the behavior:

1. cmake -DUSE_FBGEMM=OFF ..
2. Compile error

## Expected behavior

Compiles

## Environment

 - PyTorch Version (e.g., 1.0): master
 - OS (e.g., Linux): Linux x64
 - How you installed PyTorch (`conda

[2019-09-12 03:47] Marchbruno09 commented on #14335
Or try to reduce learning rate to 0.001

[2019-09-12 04:01] ngimel commented on #25983
In both cases `first` is a view into `x` tensor and thus shares data with `x`. However, in the second case you reassign `x` in `x=x-first`, thus original `x` is never modified, and first retains the data that was in  `x` originally. If you did this operation by modifying x inplace (e.g. `x.sub_(first)` or, as in the first case, `x[...,:1] = x[...,:1] - first`), the result would also be 0. Does thi

[2019-09-12 05:03] peterjc123 commented on #23585
@ganleiboy If you use PyTorch 1.2, then you need torchvision 0.4.0. You cannot use torchvision 0.3.0 as it relies on the C++ API of PyTorch 1.1.

[2019-09-12 05:52] dzhulgakov commented on #26067
Thanks! We should update torchvision once this lands (cc @raghuramank100 )

[2019-09-12 06:43] DerHaddy opened #26086 "Any possibility to export a C++ learned Net ?"
Hey,

does anyone know about a possibility of exporting and importing a learned model in C++?

I found the solution to use:

[code]

But the outcome is a zip file with a .json header and just the weight and bias tensors as a file. When open with Netron, it just shows me the saved tensors without any connection. I tried to import the C++ exported model to Python to use there the ONNX export. But un

[2019-09-12 07:01] zengchang94622 commented on #25907
I have solved it and I will close this issue. Thanks.

[2019-09-12 07:01] #25907 closed

[2019-09-12 07:58] CrazyRundong commented on #25767
@pietern sorry for late reply. I just tried to catch DDP intialization error and print with rank. Indeed only rank {1, 2, 3} reported Socket Timeout error, then rank 0 get killed by SLURM task manager. If this is acutally caused by mismatch between logical GPU and actual GPU, how can I fix it?

Following logs are with 4 tasks, first GPU with non-adacent rank:
[code]

[2019-09-12 15:13] Mrpatekful opened #26098 "multi_head_attention_forward produces NaN"
## 🐛 Bug

I am feeding a `key_padding_mask` tensor to the `multi_head_attention_forward` function, which works fine without the mask, but otherwise it produces several NaN values in the output.

## To Reproduce

[code]

The problem is in the `multi_head_attention_forward` in line 3257, where `float('inf')` is used for filling the values before softmax, which makes the function unstable in my opini

[2019-09-12 15:43] banshee1 opened #26100 "error while installing pytorch from source code"
I am trying to install pytroch from source code and I met an error while compiling:
[code]

here are the commands I ran:
[code]

Is there anyone who know how to fix this error?
Please help me !

[2019-09-12 17:07] dashesy opened #26103 "[ONNX] Export boolean indexing using where instead of Gather"
## 🐛 Bug

Boolean indexing is not supported in ONNX and the [exported models are invalid](https://github.com/microsoft/onnxruntime/issues/1807), as suggested by ONNX instead of Gather [use where to export to onnx](https://github.com/onnx/onnx/issues/2302)

## To Reproduce

Steps to reproduce the behavior:

[code]

## Environment

PyTorch version: 1.2.0
Is debug build: No
CUDA used to build PyTorch

[2019-09-12 18:08] ailzhang opened #26107 "lstm module with None in input on CUDA segfaults."
This segfaults but works in CPU.

[code]
This is a testcase from our test suite but only ran on CPU, it's similar to https://github.com/pytorch/xla/issues/927 but I've confirmed they fail for different reasons. In CUDA it's segfaulting in `_cudnn_rnn`.
cc: @gchanan

cc @ezyang @gchanan @zou3519

[2019-09-12 19:17] MatthieuBizien opened #26112 "nn.ConvTranspose2d use 49x more memory on a V100 than on a 2080Ti"
## 🐛 Bug

When computing the forward pass of ConvTranspose2d with many input and output channels, the memory used by Pytorch with a V100 skyrocket.

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

- On a GTX 2080 Ti, the script above use 96.002MiB of GPU RAM
- On a V100, the script above use **4.676GiB** of GPU RAM

## Environment

[code]

## Additional context

If

[2019-09-12 20:12] mrshenli opened #26116 "Make Internal RRef messages idempotent"
#25499 does not provide fault tolerance yet. Any failure in internal RRef messages would mess up RRef reference counting. We should make internal RRef messages idempotent and retry on failures.

cc @ezyang @gchanan @zou3519 @jerryzh168 @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @rohan-varma @gqchen @aazzolini @xush6528

[2019-09-12 20:46] mrshenli opened #26122 "Add callbacks to RRef and fire them when the value is ready"
When receiving a fetch (`to_here()`) message, #25499 blocks on the owner side (consumes one RPC thread) until the value becomes ready. This should be asynchronous, which can be done by adding callbacks to RRef and fire them when the value is ready.

cc @ezyang @gchanan @zou3519 @jerryzh168 @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @rohan-varma @gqchen @aazzolini @xush6528

[2019-09-12 20:54] ezyang opened #26123 "Exclude generated source docs from Google"
Googling for `pytorch "adaptive_max_pool2d"` (quotes are important) gives https://pytorch.org/docs/stable/_modules/torch/nn/modules/pooling.html as the first result. The source code module results are not useful and we should exclude them from search results.

cc @ezyang

[2019-09-12 20:59] ezyang opened #26124 "PyTorch stable documentation has "master" in its title"
See https://pytorch.org/docs/stable/index.html needs to be fixed.

[2019-09-12 21:40] dashesy opened #26127 "[ONNX] export with dynamic_axes should generate Shape node for intermediate tensor .shape calls even without jit.script"
## 🐛 Bug

Even though `dynamic_axes` was used, the [intermediate tensor shape was used like a constant](https://github.com/microsoft/onnxruntime/issues/1811) when using `torch.arange(width)`

## To Reproduce

[code]

## Expected behavior

`.shape` should always create a `Shape` node when dynamic axes are set

## Environment

PyTorch version: 1.2.0
Is debug build: No
CUDA used to build PyTorch: 10.

[2019-09-12 23:00] dashesy opened #26138 "[ONNX] support index_fill"
## 🐛 Bug

The [docs](https://pytorch.org/docs/stable/onnx.html#supported-operators) mention `index_fill` support but I get error

## To Reproduce

[code]

## Expected behavior

Support `index_fill`

## Environment

PyTorch version: 1.2.0
Is debug build: No
CUDA used to build PyTorch: 10.0.130

OS: Ubuntu 16.04.6 LTS
GCC version: (Ubuntu 5.4.0-6ubuntu1~16.04.11) 5.4.0 20160609
CMake version: versio

[2019-09-12 23:07] eellison opened #26139 "c10 List API hard to use"
There isn't any way to access the values of Generic List except as a reference. When writing ops this makes you do:
[code]

instead of:
[code]
If you try to do the latter:
[code]
then you get the following error:

This makes it difficult to use GenericList as a value instead of a reference.

[2019-09-13 03:23] kyleengel opened #26151 "Ambiguous docstring in NegativeBinomial distribution"
## 📚 Documentation

The [documentation for the negative binomial distribution](https://pytorch.org/docs/stable/_modules/torch/distributions/negative_binomial.html) is ambiguous.

The wording implies that PyTorch's negative binomial distribution describes the total number of trials before a set number of failures occurs. Really, it describes the total number of *successful* trials before a set numb

[2019-09-13 07:21] deepakn94 commented on #18300
Sorry, I've been busy with a deadline next week. Hopefully will be able to put something reproducible after that.

[2019-09-13 07:45] pietern opened #26157 "Tests for pytorch_macos_10_13_cuda9_2_cudnn7_py3_build fail"
Making these tests work means we can use just a single macOS build and test job to get a proper macOS test signal for pull requests, instead of having to run both a CPU and a CUDA build, and testing only the CPU build. See #26096 for discussion.

The test phase `test_custom_script_ops` fails with the below output.

It is likely fixable by also setting the CUDA_TOOLKIT variables in `macos-test.sh`,

[2019-09-13 08:09] DerHaddy commented on #26086
Thanks for you reply,

if i see that right and to make it clear, there is no possibility to convert a normal PyTorch C++ net to TorchScript in C++ API? Because for me it is relevant to export a C++ trained model and to save it and open it in an extern C++ project where I need to be able to use the forward pass. And there are no different solutions to it?

That would be pretty sad, because the C++

[2019-09-13 08:54] HongyanJiao opened #26158 "torch.from_numpy"
when I convert a numpy(type: numpy.float16) to torch
I meet
can't convert np.ndarray of type numpy.object_. The only supported types are: double, float, float16, int64, int32, and uint8.

[2019-09-13 09:35] #26158 closed

[2019-09-13 09:46] rubenvereecken opened #26161 "Unexpected gradient of sums does not match sum of gradients"
## 🐛 Bug

To preface, this started as [a post on the forum](https://discuss.pytorch.org/t/unexpected-gradient-of-sum-doesnt-match-sum-of-gradients/55790). However, I now think it's a bug or unexpected behaviour and merits a discussion here.

My problem is straightforward: I have a gradient of a sum that turns out 0 while I think it shouldn’t be, and it doesn’t match the sum of the gradients separa

[2019-09-13 10:00] fmassa commented on #25904
@GanjinZero can you get us a stack trace from gdb when the process hang?
Something like
[code]
and give back the results?

[2019-09-13 10:09] fmassa commented on #25932
Closing following @SsnL comment, let's keep this discussion in #11390 , and @albanD is assigned to work on it.

[2019-09-13 10:09] #25932 closed

[2019-09-13 10:22] fmassa commented on #25979
@chenzhekl can you give an example code that illustrates the issue?
From https://github.com/pytorch/pytorch/pull/15326 (the original PR adding support for it) and the test cases that have been added (https://github.com/pytorch/pytorch/blob/c8083e029270b73a3166af5aaf53176003ff28af/test/cpp/api/sequential.cpp#L389-L407 for example), it seems that the pretty-print actually recursively prints the modu

[2019-09-13 10:23] fmassa commented on #25941
Fixed in https://github.com/pytorch/pytorch/pull/25942

[2019-09-13 10:24] fmassa commented on #25941
Actually, I'll keep this open because the aforementioned PR only disables the test on OSX

[2019-09-13 10:27] fmassa commented on #25978
If we add support for selecting the underlying algorithm, I think having `lapack_driver` for the argument could be misleading as a name, given that we only use lapack for the CPU backend.

[2019-09-13 10:30] ptrblck commented on #25241
@felix-schneider Thanks for the code snippet to reproduce this issue.
I cannot reproduce it in CUBLAS 10.2.1.243 and this issue might be related to [this one](https://github.com/pytorch/pytorch/issues/24018#issuecomment-528004576). I try to narrow down the potential version, which fixed it.

[2019-09-13 10:32] fmassa commented on #25917
TorchVision now requires PyTorch nightly to build (since https://github.com/pytorch/vision/pull/1262), so you'll need to pin torchvision to 0.4 if you want to use PyTorch 1.2.

So I'd say this is expected behavior, and thus I'm closing the issue. Let me know if you think otherwise.

[2019-09-13 10:32] #25917 closed

[2019-09-13 10:34] fmassa commented on #26010
@peterjc123 is this expected?

[2019-09-13 10:36] fmassa commented on #26038
@bwang-delft can you write a self-contained example (with dummy input tensors) that reproduce the behavior?
Without it it is very hard to trace back where the problem comes from.

[2019-09-13 10:41] fmassa commented on #26009
I have had this problem recently as well, but it was not deterministic and re-running the training worked fine the next time.

Maybe @SsnL has better ideas of what might have happened

[2019-09-13 10:42] peterjc123 commented on #26010
Have you tried to rebuild PyTorch with CUDA 10.1? If not, then it's expected.

[2019-09-13 10:46] fmassa commented on #26054
Just to double-check, the error happens when the second dataloader starts iterating, is that right?

[2019-09-13 11:04] fmassa commented on #25983
Closing as comment from @ngimel , as this is expected behavior.

[2019-09-13 11:04] #25983 closed

[2019-09-13 11:11] fmassa commented on #26098
@zhangguanheng66 can you have a look?

[2019-09-13 11:20] fmassa commented on #26100
I see that you are patching caffe2 before the build, can you try compiling PyTorch from a clean clone, without modifying anything?

[2019-09-13 11:23] rubenvereecken commented on #26161
Alright I believe I better understand the big picture.

The sum of the gradients doesn't match, because I didn't actually look at all the gradients. Instead I looked at the gradients summed over outputs. If I had instead looked at the Jacobian of the summands along the way, I would see that the sum of those Jacobians would match the final Jacobian. This final Jacobian, when summed along the output

[2019-09-13 11:23] #26161 closed

[2019-09-13 11:24] fmassa commented on #26112
This is probably related to CUDNN picking a different algorithm on the V100, which is much more memory hungry.

@csarofeen is this expected?

[2019-09-13 11:28] fmassa commented on #25915
If you are measuring CUDA times, you need to add `torch.cuda.synchronize()` before the timing to more accurately measure the times, as pointed out by @SsnL.

We use GitHub issues to track bugs and feature requests.
Questions like this are more suited to the discussion forums http://discuss.pytorch.org

[2019-09-13 11:28] #25915 closed

[2019-09-13 11:41] dhpollack commented on #25917
@fmassa so the default behavior is that your Dockerfile will fail if you use one of the tags in this repo?  That seems extremely user unfriendly.  Why don't you change the `docker/pytorch/Dockerfile` at each tag (or at least 1.2.0 because it's the latest release) to work with the a tagged version of torchvision?  Or at least allow one to use a docker --build-args to specify a tag of torchvision.

[2019-09-13 12:12] clefourrier commented on #24157
Not working for me. I have the following message in Chrome

[code]

- tb-nightly (1.15.0a20190911),
- torch-nightly (1.3.0.dev20190913)

[2019-09-13 12:52] simunovic-antonio opened #26165 "Memory leak in multithreading environment when loading checkpoint"
## 🐛 Bug

I have a problem when loading saved checkpoint for pytorch model in seperate thread. CPU memory keeps increasing and is never released.

Multi-threading version of script increases RAM usage with each iteration and ends with 978 RESV memory (htop output).
Single-threading version holds with 374 RESV memory (htop output).
When I randomly initialize model (without state_dict loading) both

[2019-09-13 13:43] ezyang commented on #26124
You're right! Duped.

[2019-09-13 13:43] #26124 closed

[2019-09-13 13:45] zhangguanheng66 commented on #26098
I have seen similar issue related to `softmax` before and unfortunately that's what mathematically should be. https://github.com/pytorch/pytorch/issues/25110.

Your proposed could be a solution (BTW, you mean '-1e+20' not `-1e-20'). If you would like to submit a PR, we are happy to review and accept. We have a bunch of deterministic tests to cover the mathematical correctness. As long as the PR pa

[2019-09-13 13:46] ezyang commented on #25831
@v0dro reassigned to you! This is definitely a good starter bug. Assign me as reviewer on your diffs.

[2019-09-13 13:47] zhangguanheng66 commented on #26098
you can also try something like this and see if it works.
[code]

[2019-09-13 13:52] ezyang commented on #26157
If the test is being run on another step in the workflow, there might also literally be no CUDA installation (since I think we have to install it ourselves at build time). The right thing is to not split jobs here...

[2019-09-13 14:05] ezyang commented on #17354
It segfaults on not rocm as well https://circleci.com/gh/pytorch/pytorch/2766048?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[code]

[2019-09-13 14:06] ezyang commented on #25912
It's still flaky

https://circleci.com/gh/pytorch/pytorch/2766842?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2019-09-13 14:07] #21965 closed

[2019-09-13 14:15] mrshenli commented on #25912
@ezyang this test should have been disabled on master, e.g.:

https://circleci.com/gh/pytorch/pytorch/2773025?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2019-09-13 14:39] vincentqb commented on #20527
#24352

[2019-09-13 14:39] vincentqb commented on #22107
#24352

[2019-09-13 14:39] vincentqb commented on #13022
#24352

[2019-09-13 15:23] ywu36 commented on #14937
The problem is now closed since no one seems reply to it.

[2019-09-13 15:24] ywu36 commented on #14937
Any follow up on this? Thanks.

[2019-09-13 15:26] zou3519 commented on #26165
I'm not sure that we support `threading`, but we should try to repro this.

[2019-09-13 15:29] zou3519 commented on #26054
Do we support TBB? cc @VitalyFedyunin @ilia-cher

[2019-09-13 15:32] VitalyFedyunin commented on #26054
Yes, we support TBB. @ilia-cher should be able to help.

[2019-09-13 15:33] zou3519 commented on #25986
I'm not sure that this one single API (`train_model` and `train_model_multigpu` can work for all use cases). I remember there were discussions in the past about not simplifying the training loop for users because there was no one-size-fits-all solution (cc @soumith) but that was a while back and maybe we can revisit the question.

[2019-09-13 15:46] abonnet commented on #26054
Yes, the error is happening when the second DataLoader starts iterating

[2019-09-13 15:55] zou3519 commented on #14937
cc @houseroad @bddppq might be able to help.

[2019-09-13 16:00] zou3519 commented on #984
If we do this, we need to take care that it's not BC-Breaking.

In general I don't think we should do this because "channels" only make context in the vision domain. Linear is pretty general, so we shouldn't tell, say, NLP users, to use "channels".

One thing we could do is to add extra keyword args that behave the same, but that complicates the API.

[2019-09-13 16:02] ezyang opened #26171 "c10 dispatcher data composition diagram is hard to understand"
For a while I had been having problems finding where things live in the c10 dispatcher. So I decided to sit down and trace out the data composition diagram to understand the data model of the dispatcher. Here's what I got, when reading the state of the tree after #23668.

[code]

I have a number of questions:

* The naming is terrible. What does a "KernelTable" contain? DispatchTableEntries, of co

[2019-09-13 16:07] vadimkantorov commented on #23756
@ezyang @fmassa  A minimal change to existing batchnorm would be supporting `out=` argument. Probably calling it with `out=input` would already work. Should I file a separate issue about this?

[2019-09-13 16:14] nlgranger commented on #24235
I encounter the same error with my model, but I do have a backtrace in my case.

[2019-09-13 17:05] neginraoof commented on #20942
This is supported. We can close the issue.

[2019-09-13 17:19] yaroslavvb commented on #25978
Maybe `driver`? But also, `gesdd` is a lapack naming convention, so `lapack_driver` keyword implies that argument has to correspond to a name of lapack driver routine
https://icl.cs.utk.edu/projectsfiles/magma/doxygen/routines.html#driver

JAX scipy wrapper accepts that keyword (but ignores it) https://jax.readthedocs.io/en/latest/_modules/jax/scipy/linalg.html

[2019-09-13 17:20] neginraoof commented on #26138
This is the PR to address this: https://github.com/pytorch/pytorch/pull/23052

[2019-09-13 17:25] zou3519 commented on #24112
Fixed in https://github.com/pytorch/pytorch/pull/24156 thanks to @tczhangzhi

[2019-09-13 17:25] #24112 closed

[2019-09-13 17:25] vadimkantorov commented on #26123
Excluding results already in google index is not easy unfortunately: https://github.com/pytorch/pytorch/issues/3428#issuecomment-480573073

Probably adding the meta noindex tag for some time is best (so that google can revisit these pages), and then after some time modify the robots.txt appropriately.

[2019-09-13 17:27] vadimkantorov commented on #26123
Also, should "master" docs be searchable in Google? Currently they are.

[2019-09-13 17:31] vadimkantorov commented on #26123
After searching the example in the issue I found this:
[code]
pytorch.cn is a super strange site btw: since it considers 0.4.1 as the latest stable version

Anyway even if not for this strange site, https://pytorch.org/robots.txt does not seem to have master docs disallowed

Also, should something be done to ensure version docs are added to robots.txt automatically when a new version is out? e.g.

[2019-09-13 18:18] driazati opened #26177 "[jit] Inheritance in TorchScript classes gives incorrect results"
This should at least throw an error, but it silently uses the code compiled from `MyFunc.caller`

[code]

cc @suo

[2019-09-13 18:46] sujankh commented on #24891
@ptrblck I am seeing the similar issue in 2019.4 . The binary runs well when not profiled with `nv-nsight-cu-cli`

[code]

[2019-09-13 18:52] #20942 closed

[2019-09-13 18:57] ezyang commented on #26123
Yes, there should be a bit of improvement in workflow here...

[2019-09-13 19:14] dashesy opened #26184 "[ONNX] exported zero-dim constant type is wrong"
## 🐛 Bug

[code]

Should be exported as float32 but is exported as float64, which throws off this error in ORT:

## To Reproduce

[code]

![Capture](https://user-images.githubusercontent.com/873905/64888453-ebce3200-d61f-11e9-8214-89e03d72e67f.JPG)

Div's constant should be `float32`

## Expected behavior

Export correct type for zero-dim constant

## Environment

PyTorch version: 1.2.0
Is debug b

[2019-09-13 19:48] dashesy commented on #25805
[code]

will export but is wrong onnx because onnx cannot compare 0 to boolean.

This is the workaround

[code]

Perhaps exporter should do this?

[2019-09-13 19:59] zou3519 commented on #15799
tl;dr After investigation I determined that the reinforcement learning tutorial doesn't leak memory on pytorch 1.2. However, we are committed to making sure there are no more memory leaks so please create new issues with individual new examples of memory leaks and we will investigate with high priority.

I tried to repro this on my mac. I don't have a linux box with a monitor (which is a requireme

[2019-09-13 19:59] #15799 closed

[2019-09-13 20:00] KiddoZhu opened #26188 "GPU memory leakage in try-except statement"
## 🐛 Bug

GPU memory can't be released when using a try-except statement for CUDA out of memory.

## To Reproduce

[code]

## Expected behavior

When `MyModel` is a single layer like `torch.nn.Linear`, the code releases most GPU memory and results in about 900MB in nvidia-smi.

When `MyModel` is a custom model like the above module list, no GPU memory is released and it results in about 10GB in nv

[2019-09-13 20:01] vishwakftw commented on #4669
The derivative of `cholesky_solve` is available here : https://github.com/pytorch/pytorch/pull/26185/

[2019-09-13 20:03] dashesy opened #26189 "[ONNX] bool comparison with 0,1 should export False,True constants"
## 🐛 Bug

Should be able to compare boolean to 0,1 and exporter maybe should then use Fale,True as constants. But [comparing bool to 0 results in error](https://github.com/pytorch/pytorch/issues/25805)

## To Reproduce

[code]

## Expected behavior

export 0 as False constant to be valid ONNX

## Environment

PyTorch version: 1.2.0
Is debug build: No
CUDA used to build PyTorch: 10.0.130

OS: Ubunt

[2019-09-13 20:06] smessmer commented on #26171
Let's rename things

`OperatorEntry::kernels_` is the source of truth and contains all registered kernels for that operator. You can have multiple kernels for the same dispatch key in there, for example when you're in a Jupyter Notebook and re-execute a cell or when you're loading a library that wants to overwrite some of the CPU kernels, say for better performance. There's a quite long comment in

[2019-09-13 20:09] dashesy opened #26191 "[ONNX] scatter support for broadcast"
## 🐛 Bug

Scatter `src` is not broadcasted

## To Reproduce

[code]

## Expected behavior

scatter `src` should be broadcasted

## Environment

PyTorch version: 1.2.0
Is debug build: No
CUDA used to build PyTorch: 10.0.130

OS: Ubuntu 16.04.6 LTS
GCC version: (Ubuntu 5.4.0-6ubuntu1~16.04.11) 5.4.0 20160609
CMake version: version 3.14.0

Python version: 2.7
Is CUDA available: Yes
CUDA runtime versi

[2019-09-13 20:29] driazati commented on #26086
Right, today there's no way to serialize the code of a C++ frontend-created model. The external project will have to have the library containing the model linked in so it can instantiate it itself (then you can load in the parameters).

[2019-09-13 20:46] pritamdamania87 commented on #25532
We shouldn't use `dist.remote` for this, we should just have another API which creates an OwnerRRef locally which the node can share with others.

[2019-09-13 20:48] DerHaddy commented on #26086
Is there a plan to implement a feature which supports this? Because in my opinion it is a pretty important feature but anyways, a big thanks for providing this information.

According to that a ONNX import or export would be great as well, but thats another thing.

[2019-09-13 21:15] yaroslavvb opened #26199 "type hint missing for torch.cuda.get_rng_state"

[2019-09-13 21:45] zou3519 commented on #5040
I can trigger the error message via the following:

1. Save the following code into `mwe.py`:
[code]

2. Run `python mwe.py --num-workers=4`

3. Find `python mwe.py` using `ps aux | grep "python mwe.py"`.

4. Send sigbus via `kill -s SIGBUS <process_id>`

The resulting error message is:
[code]

Although we already have a signal handler that has the error message, it is nice for it to be the last t

[2019-09-13 21:48] gchanan opened #26206 "legacyTypeId is clobbering checked_tensor_unwrap checks"
I was investigating the comment chain over in https://github.com/pytorch/pytorch/pull/25595#discussion_r322455893, and ran into a bug.

To reproduce, you need to get rid of multiple dispatch for multinomial and call it, e.g.:
[code]

You'll get an error like:
[code]

what's happening here is we are trying to pass a variable to a method that only accepts tensors, and this is already checked with a

[2019-09-13 21:50] gchanan opened #26207 "Dispatch Tracing/Debugging"
Dispatch is already complicated, and (depending on your perspective) becoming more complicated with multiple dispatch.

When I was debugging https://github.com/pytorch/pytorch/issues/26206, I really wanted something I could just trace through that said:
"I'm executing dispatch key X because parameter A has type_set AA, parameter B has type_set BB..."

etc.

[2019-09-13 22:24] anands-repo commented on #26009
Agreed. It is not deterministic. Also this error was not encountered with version pytorch 0.4.1.

[2019-09-13 22:27] neerajprad opened #26212 "[torchscript] Support requires_grad_ op in TorchScript"
## 🚀 Feature
The ability to set the `requires_grad` attribute a tensor in TorchScript.

## Motivation

We are looking to use TorchScript to JIT compile a large algorithm. A part of the algorithm requires computing the gradient of  a certain callable w.r.t. parameters computed within the function being scripted. It is not possible or desirable to set `requires_grad_` at the outset because we only n

[2019-09-13 22:48] eellison opened #26215 "[JIT] Recursive compilation of nn.Sequential doesn't add to compilation stack"
## 🐛 Bug

Compilation stack incorrect when recursively compiling `nn.Sequential`:

## Expected behavior

All of the calls in https://github.com/pytorch/pytorch/blob/8f7020bbdbb5537bf1954cd252523cb17ab879b1/torch/jit/_recursive.py#L220 should add to compilation stack

cc @suo

[2019-09-13 22:48] simonhollis commented on #25860
Hi @suo, has there been any more progress on this issue. I'm seeing a similar case where calling `torch.jit.script()` seems to be refining a binary member variable to a `Tensor` instance, causing an `if` statement to crash out. Might the issues be related?

[2019-09-13 23:02] williamFalcon opened #26218 "Default adam epsilon to 1e-7 when on fp16"
## 🚀 Feature
If you use 1e-8 as default and you use 16 bit, it will round to zero, and thus you get no stability gains.

[2019-09-13 23:15] driazati commented on #25860
This issue should be fixed with #24284, can you post a repro of your error @simonhollis?

[2019-09-14 02:33] zegzag opened #26228 "Higher dimension support for `MultiLableSoftMarginLoss`"
## 🚀 Feature
In the current version, input and target shape of `MultiLableSoftMarginLoss` is (N, C), which only support  one dimension tensor for batch data. I wonder if this can support high dimension as shape of input and target can be (N, C, d1, d2, ...),  just like the `CrossEntropyLoss`.

## Motivation
Motivation comes from the sequence tagging task in NLP.   In traditional cases, if we get p

[2019-09-14 06:14] rgommers commented on #18996
I was looking at a similar issue for SciPy, and decided to have a look whether [delocate](https://github.com/matthew-brett/delocate/) works for a `torch` wheel. It all looks right to me, when only replacing `conda install nomkl` with `conda install mkl mkl-include` in `build_wheel.sh` and running delocate over the produced wheel.

Running `build_wheel.sh` and checking linked libs:
[code]

Output o

[2019-09-14 06:42] ngimel commented on #26076
This happens when `x1` has a size `1xn`. Then the result and the incoming gradient have the size `1xm` (where m is the number of vectors in x2), `grad.t()` is reported as contiguous, but it's last stride is still `m`, and computing offsets based on the last stride here becomes incorrect https://github.com/pytorch/pytorch/blob/fbf991d06279ea6828ec133b186dbef3bc16522b/aten/src/ATen/native/cpu/Distan

[2019-09-14 08:58] agadetsky commented on #20240
@pdlive215 do you have any progress?

[2019-09-14 09:15] banshee1 commented on #26100
I have tried to install an official pytorch version, but without modifying the caffe2/video and then compiling I cannot run my codes.

[2019-09-14 09:51] banshee1 commented on #26100
If I installed an official version, it will raise an error saying that ' *** is not an registered operator'. Does this means that I must compile the operators when I install caffe2 ?

[2019-09-14 10:13] raviv commented on #18475
@qjchen1972 Did you find a solution to convert your L2Norm to be onnx-compatible?

[2019-09-14 12:27] #5040 closed

[2019-09-14 12:59] SsnL commented on #26188
This is not memory leakage. When a method of an object raises, the python stack trace contains a reference to the object, rendering your `del model` useless.

[code]

If you move the `del`, `gc.collect` and `empty_cache` outside the except clause, you are fine.

[2019-09-14 14:16] Wulfsta commented on #25210
I have everything building with the latest version of ROCm 2.6 from the repository [here](http://repo.radeon.com/rocm/apt/2.6/). I'm not closing this yet since I still cannot get PyTorch to build with the latest ROCm 2.7 or above.

[2019-09-14 16:32] MatthieuBizien commented on #26112
It looks like that. With CudNN logging:
- On 2080 Ti: http://paste.ubuntu.com/p/YsQhsfkKP7/
- On V100: http://paste.ubuntu.com/p/498CZTKzg9/

Main difference:
- Line 151 on 2080 Ti: `i!     algo: type=cudnnConvolutionBwdDataAlgo_t; val=CUDNN_CONVOLUTION_BWD_DATA_ALGO_0 (0);`
- Line 151 on V100: `i!     algo: type=cudnnConvolutionBwdDataAlgo_t; val=CUDNN_CONVOLUTION_BWD_DATA_ALGO_FFT_TILING (3);`

[2019-09-14 16:41] marcoippolito commented on #25015
@ifedan  on 23rd of August I also asked for help in discuss pytorch: https://discuss.pytorch.org/t/building-cxx-object-third-party-ideep-mkl-dnn-src-cmakefiles-mkldnn-dir-cpu-cpu-barrier-cpp-o-ninja-build-stopped-subcommand-failed/54112 but got no answer

[2019-09-14 17:47] XinliYu opened #26234 "Does PyTorch 1.2 support autograd for multiplication of a sparse tensor by a dense tensor?"
Just simple question, does PyTorch 1.2 support autograd on sparse multiplication or not yet, like sparse times dense? I see there are some open issues tracking the support for sparse tensors, like

https://github.com/pytorch/pytorch/issues/2389
https://github.com/pytorch/pytorch/issues/3158
https://github.com/pytorch/pytorch/issues/8853

But I get lost after reading all these.

[2019-09-14 18:26] dennymarcels opened #26235 "DataLoader messing up transformed data"
I am testing the MNIST dataset in Pytorch, and after I apply a transformation to the X data, it seems the DataLoader puts all values out of the original order, potentially messing up the training step.

My transformation is to divide all values by 255. One should notice that the transformation itself does not change positions, as shown by the first scatterplots. But after the data is passed to the

[2019-09-14 18:59] SsnL commented on #26235
It's unrelated to data loader. You are messing with an attribute of the particular dataset object, however, the actual `__getitem__` of that object does much more: https://github.com/pytorch/vision/blob/6de158c473b83cf43344a0651d7c01128c7850e6/torchvision/datasets/mnist.py#L92

In particular this line (`mode='L'`) assumes `uint8` input. Since you replaced it with float, it is wrong.

[2019-09-14 18:59] #26235 closed

[2019-09-14 20:46] pearu commented on #19088
I did some simple benchmarking on torch unary math operators. The following operators were considered:
[code]
The aim was to compare the timings of these functions against the timing of the `exp` function on different devices (AMD CPUs, Intel CPUs, NVIDIA GPUs) and then decide which of these functions are most worthy to make faster.

The benchmark script is available [here](https://github.com/Quan

[2019-09-14 20:54] dennymarcels commented on #26235
How could I make this exact transformation then? I am quite a beginner with Pytorch.

[2019-09-14 20:56] SsnL commented on #26235
Write your own dataset class, e.g., by subclassing `datasets.MNIST`

[2019-09-14 22:47] nmilosev commented on #21745
Hello, I started working on this and on #21743.

To clarify, for this issue, the docstring should not be saved at all? And for #21743 since you commented on that one as well, just need to handle the error and point the user to the docs? Although if we fix this, the other error should go away in the future, just not for older pickled files.

Thanks!

[2019-09-14 23:34] pdlive215 commented on #20240
@agadetsky I hadn't worked on it since I wasn't sure if this should be implemented in `TH` or `ATen`. However, after consulting [Issue 24507](https://github.com/pytorch/pytorch/issues/24507) I'm pretty sure we'd want to implement `cummax` natively. I can start working on this in the next day or two, though I'm happy to let you take it.

[2019-09-14 23:36] dennymarcels commented on #26235
I actually found out I could apply a Lambda transformation, is that correct? Either way, it seems `transforms.ToTensor` does already divide the values by 255 by default, in case they are images (which it infers if dtype is `uint8`). I could not access the transformed values from my `train` object, but after retrieving a batch, they are indeed transformed to the range [0, 1].

[2019-09-15 00:09] xjcl commented on #16654
I seem to run into this problem with PyTorch 1.2.0 (8 August 2019).

I'm sharing a PyTorch neural network model between a main thread which `trains` the model and a number of worker threads which `eval` the model to generate training samples (à la AlphaGo).

My main thread gets stuck (deadlocked) on `loss.backward()` or `model.parameters()` on just the 3rd iteration. However my worker threads run

[2019-09-15 00:15] v0dro commented on #25831
Sure thank you very much. I'll get started and let you know.

[2019-09-15 02:29] #26199 closed

[2019-09-15 03:04] ashish010 commented on #4518
I installed Python version 3.6.8 and it solved my problem

[2019-09-15 04:01] XiXiRuPan opened #26245 "why training with small data is ok but big data shut down"
## 🐛 Bug
when I use my own data to train a BAM(bottleneck attention model source code : https://github.com/Jongchan/attention-module) , I wrote custom dataset in following:

`class TorchDataset(Dataset):
    def __init__(self, utt2member, feats_scp, resize_height=256, resize_width=300, repeat=1):

        #image_label_list:: 1020 ('BAC009S0002W0122', [0])
        self.image_label_list = self.read_

[2019-09-15 05:02] smessmer commented on #12117
Seems fixed in CUDA 9.2 too, a PR causing this error failed on CUDA 9.0 and 9.1 but built correctly with 9.2.

[2019-09-15 05:36] fatalfeel commented on #9122
namespace {
namespace test_is_hashable {
    static_assert(is_hashable<int>::value, "");
    static_assert(is_hashable<Hashable>::value, "");
    //static_assert(!is_hashable<NotHashable>::value, "");   //mark this line and build ok
}

NotHashable not include in vs2015

[2019-09-15 05:45] peterjc123 commented on #9122
@fatalfeel Do it at your risk. And we don't provide support for VS 2015 anymore.

[2019-09-15 06:32] smessmer commented on #26139
This is a limitation that we have because we store some `List<T>` as `vector<T>` (e.g. `List<int64_t>` is stored this way) and some as `vector<IValue>` (e.g. `List<string>` is stored that way) but we want the `List<T>` API to be the same for both.

The thing that breaks your code example is the `auto` in the for loop. If you specify the concrete type in the for loop, it would work fine.

I don't k

[2019-09-15 06:43] anands-repo commented on #26009
Update: My current understanding is that this has nothing to do with pytorch. I noticed that the volume mounted in the docker container (containing the training data) becomes unavailable for a few seconds, and the files in the directory give a "stale file handle" error during that interval. This leads to bus error in the workers. Closing the issue.

[2019-09-15 06:43] #26009 closed

[2019-09-15 08:39] shirui-japina commented on #5560
I got the same error and I tried to use `nn.BCELoss()` like:

[code]

_loop epoch train part:_

[code]

Then I solved the problem. Thank you for your comment!
(But I don't know why optim.Adam() can't work well. It still errors: CUDA out of memory.)

[2019-09-15 08:48] agadetsky commented on #20240
@pdlive215 Oh, I can't do it, but need it. Will be waiting PR from you!

[2019-09-15 08:59] XiXiRuPan commented on #11327
I troubled by the same question in Version pytorch 1.1  .  I want to kown which version is ok?

[2019-09-15 09:14] mruberry commented on #26234
Do you mean like this?

https://pytorch.org/docs/stable/sparse.html#torch.sparse.mm

[2019-09-15 09:15] mruberry commented on #26218
@mcarilli @csarofeen, who work on mixed precision.

[2019-09-15 09:45] raxxerwan commented on #17349
Just set NCCL_SOCKET_IFNAME=ib0 and NCCL_IB_DISABLE=1 before your python script is OK.
For example, if yr script is run.py, please use
[code]
instead of using
[code]
alone.

Plus, in my case, I use NCCL_SOCKET_IFNAME=ib0 because my ip interface is ib0. To find out your own ip interface, you can use
[code]
or
[code]
In most cases, it would be eth0 or ib0.

[2019-09-15 09:50] raxxerwan commented on #17349
I actually don't know the details, but it's probably a bug only with pytorch 1.1 and NCCL 2.4.2. I didn't dig in much because NCCL is written in C, so it's nearly a black box to me. Sorry about that.

[2019-09-15 10:05] sshish opened #26247 "Please implement where_cpu and where_cuda for BoolTensors"
## 🚀 Feature

`mycudabooltensor.where(...)`
returns:
`RuntimeError: "where_cuda" not implemented for 'Bool'`

## Motivation

In order to do masked operations on bool tensors, I have to cast those to byte tensors first, which looks unelegant.

cc @izdeby

[2019-09-15 10:36] #26100 closed

[2019-09-15 17:16] mcarilli commented on #26218
I'm a little wary of this.  When @puririshi98 was running some experiments training networks with fp16 parameter values + stochastic rounding, at one point we ran into numerical instabilities and one of the things we tried was increasing the value of epsilon.  The numerical instabilities turned out to be caused by something completely unrelated to epsilon, but I recall that increasing epsilon in s

[2019-09-15 17:21] williamFalcon commented on #26218
i could see that. Using 1e-7 has made a huge different for my training on fp16 - especially with NCE loss. The 1e-8 WILL become 0 on fp16 (you can run a quick test by converting that value into .half() to verify).

i’m worried that a lot of people using fp16 abandon projects because of stability issues likely caused by a default no one messes with.

so, if 1e-8 = 0 when using half, it’s basically

[2019-09-15 19:09] shawank commented on #26098
@zhangguanheng66  Thank you for the reply. I tried your solution. The error still persists. Please let us know if you have any other solution in mind.

[2019-09-15 20:38] vishwakftw commented on #26245
Questions like this are better catered to at the [forums](https://discuss.pytorch.org), please consider posting this there.

[2019-09-15 22:12] mratsim opened #26258 ""git describe" shows incorrect version 1.0 instead of 1.2"
## 🐛 Bug

After cloning

`git describe --tags` shows version 1.0 instead of 1.2. This impacts packaging from git source.

## To Reproduce

`git describe --tags`

results in:

`v1.0rc0-7015-g31139b5f9a`

## Expected behavior

`v1.2.0-7015-g31139b5f9a`

## Environment

## Additional context

[2019-09-15 22:23] mratsim commented on #26258
Looking more into it, it might be that the PR #12232 broke `git describe` logic as it's a reverting PR:

[code]
[code]

[2019-09-15 23:27] canbakiskan commented on #18275
When torch.norm is used with `dim=(2,3)` and `p='nuc'` the gradient cannot be computed because U and V  in SVD are not computed.

Full error:

Setup:
Pytorch version: 1.3.0.dev20190914 (nightly)
OS (e.g., Linux): Ubuntu 18.04
How you installed PyTorch (conda, pip, source): conda
Python version: 3.6.8
CUDA/cuDNN version: 10.1.243 / 7.6

Code:
[code]

In aten/src/ATen/native/LinearAlgebra.cpp functi

[2019-09-16 02:34] XiaobingSuper commented on #25994
@pbloem, thank for your report, I can reproduce it now on macos for the machine with only supoort avx2, but it can be passed on maxos for the machine which cpu supports avx512. For linux environment, the test case can be passed for avx2 machine and avx512 machine, let me check the details reasons, and I will tell you when we solve it. Thanks!

[2019-09-16 02:41] ElegantLin commented on #17349
It's OK. I am sorry that I forgot to give a response. I upgraded to the latest Pytorch and I solved the problem. Thanks a lot.

[2019-09-16 04:05] GanjinZero commented on #25904
I have no knowledge about gdb, so I only copy the result from it.
[code]

[2019-09-16 04:30] soumith commented on #26218
this seems like a reasonable default for fp16, especially if someone does the updates in fp16 (rather naively).

@williamFalcon will accept a PR to fix this.

[2019-09-16 06:12] jithinjk commented on #4827
Did you restart the Jupyter notebook?

[2019-09-16 07:16] jithinjk commented on #4827
In the environment, which you created, install **Jupyter Notebook** application. You can do this through **Anaconda Navigator** if you have that installed. Please refer attached screenshot.

![jup](https://user-images.githubusercontent.com/1090114/64939804-cb9cae00-d87f-11e9-9648-a98a43352b53.PNG)

[2019-09-16 07:33] XiaobingSuper commented on #25994
@pbloem , I test the test case using pytorch-nightly, it can be passed. Can you help verify it again? For your macos environment, you can install pytorch nightly version by:
`conda install pytorch torchvision -c pytorch-nightly` or `pip install numpy && pip install --pre torch torchvision -f https://download.pytorch.org/whl/nightly/cpu/torch_nightly.html`

[2019-09-16 07:40] SebastienEske commented on #25986
Well, it obviously can't fit all cases because there are so many of them. Maybe highlighting the limits of the API could help:

- the dataset needs to be of constant type for `torch.utils.data.distributed.DistributedSampler`
- since in the distributed case, we need a specific sampler (and we wanted to handle that automatically), and we wanted to keep the same function signature, the user cannot pr

[2019-09-16 07:41] ilia-cher commented on #26054
The error is expected in this case and is thrown because set_num_threads is called twice - we should revisit this choice and relax this to allow more use cases such as shown here

[2019-09-16 08:12] janfreyberg commented on #21965
thanks, that looks like it'll fix things. Looking forward to a new release!

[2019-09-16 08:32] Santosh-Gupta commented on #1285
@Kaixhin

Sparse RMSprop is feasible with a library I just released, through RMSProp in particular is a tricky to use, since it can't be fully initialized until a step with gradients has occurred.

https://github.com/Santosh-Gupta/SpeedTorch

[2019-09-16 08:33] daikiclimate commented on #25925
@MarcoCBA
Hi. I have same issue.
How did you solve it?
Thanks

[2019-09-16 08:58] JensenHJS opened #26274 "pytorch inference fp16 or int8"
A layer is a tensor of type fp32.  I try to use .half() to change it to fp16. It works. But when I use layer=layer.type(torch.int8) , it raise an error "runtimeError: getCudnnDataType() not supported for Char" .  And I search this error in the internet. It denotes "The Module.forward () method was called and this error occurred while calculating Conv2d. The input to the network must be of type Flo

[2019-09-16 09:52] boyob opened #26275 "torch::Tensor img_tensor_const = torch::autograd::make_variable(img_tensor, false);"
this line arouse this issure:
--------------------------------------------------------------------
terminate called after throwing an instance of 'c10::Error'
  what():  Must not create a new variable from a variable, use its .tensor_data() (make_variable at /usr/lib/libtorch/include/torch/csrc/autograd/variable.h:526)
frame #0: c10::Error::Error(c10::SourceLocation, std::__cxx11::basic_string<cha

[2019-09-16 09:53] mantues opened #26276 "Trouble installing the pytorch"
I had trouble installing the pytorch from the command line.
`pip install torch torchvision`
The error message below occurs after processing. I would appreciate your assistance.

Collecting torch
Downloading https://files.pythonhosted.org/packages/f8/02/880b468bd382dc79896eaecbeb8ce95e9c4b99a24902874a2cef0b562cea/torch-0.1.2.post2.tar.gz (128kB)
100% |████████████████████████████████| 133kB 1.7MB/s

[2019-09-16 11:06] Mrpatekful commented on #26098
It turns out there was an error in my padding mask, as I marked the padded locations with 0s and the non-padded locations with 1s. This resulted in totally masked rows, which caused the softmax to output NaNs as explained in #25110.

[2019-09-16 11:10] #26098 closed

[2019-09-16 14:10] abidmalikwaterloo opened #26278 "ImportError: cannot import name ‘Dataloader’"
## 📚 Documentation

Hello:
I was following the instructions on

https://pytorch.org/tutorials/beginner/ptcheat.html#

There is a typo. “Dataloader” should be “DataLoader”.

[2019-09-16 14:11] mostafaelhoushi commented on #24892
I am not 100% sure but I think it is doable. I see the repo from Liyuan simply creates RAdam by extending PyTorch's Optimizer's class:
https://github.com/LiyuanLucasLiu/RAdam/blob/master/radam.py

I think placing this file in the correct place in the PyTorch repo and running test cases will be enough.

[2019-09-16 14:18] ezyang opened #26279 "There's something wrong with the quantization hypothesis tests (ASAN induced)"
In the past few days, we've had seemingly "unrelated" pull requests persistently induce test failures in Hypothesis on the ASAN configuration:

- https://github.com/pytorch/pytorch/pull/23959
- https://github.com/pytorch/pytorch/pull/23668

The failures look like:

[code]

or

[code]

Unlike #25248, these failures happen deterministically (thanks @jerryzh168!) However, it seems that the tests are

[2019-09-16 14:25] ezyang commented on #26206
I'll look into this.

[2019-09-16 14:31] ezyang commented on #18996
TIL about delocate :) But I think @soumith would be the best person to respond here.

[2019-09-16 14:39] ezyang commented on #21745
@nmilosev I'm actually not sure how to go about solving this particular issue (is pickle supposed to serialize docstrings? I'm not too familiar with pickling, so I don't know...). #21743 is simpler, just catch the error and then give some better information in this case.

[2019-09-16 14:42] naiveHobo commented on #20240
Can I have a go at this one?

[2019-09-16 14:43] ezyang commented on #11327
Based on the timing here, 1.2 should be ok

[2019-09-16 14:51] f2013519 commented on #26218
@williamFalcon  Why 1e-7 in particular? For some loss methods, even this is not sufficient: https://github.com/keras-team/keras/issues/11860. Maybe 1e-4 instead?

Also will this be the default for both "pure" fp16 training and the training which uses mixed precision techniques (like master copy in fp32)?

It might impact accuracy for the latter case and since the general recommendation is to do tr

[2019-09-16 14:55] mbalayil commented on #25347
I would like to work on this issue.

[2019-09-16 15:06] mcarilli commented on #26218
For parameters that are fp16, i guess it makes sense to increase epsilon to a value that's > 0 in fp16. But imo it doesn't make sense to train with pure fp16 parameters at all, at least not without stochastic rounding or some other fancy tricks that Pytorch optimizers don't currently implement.

My main recommendation is that when acting on fp32 params, we don't increase epsilon above its current

[2019-09-16 15:14] ezyang commented on #23756
Yes please!

[2019-09-16 15:19] f2013519 commented on #26218
If the change is for fp16 params only, it should be fine. The only question is what should be the exact value , 1e-7, 1e-4, something else?

[2019-09-16 15:21] gchanan commented on #24016
I don't think this is high priority; the linked issue shows that newer versions of PyTorch will warn if you are running under the conditions which trigger the bug.  If you want to argue we should warn _and_ use a slower path I could buy that.

[2019-09-16 15:22] gchanan commented on #22078
As I remarked in the linked issue, I don't think this is high priority; the linked issue shows that newer versions of PyTorch will warn if you are running under the conditions which trigger the bug. If you want to argue we should warn and use a slower path I could buy that.

[2019-09-16 15:32] williamFalcon commented on #26218
i chose 1e-7 because it is the smallest value which won’t become zero. I’m hesitant to use a larger value because it might bias gradients too much. My intuition here is to use the minimum value that won’t become zero.

[2019-09-16 15:38] agadetsky commented on #20240
@naiveHobo everyone will be happy if you will do it. Also we can create associated PR with `logcumsumexp` function, it needs `cummax`.

[2019-09-16 15:41] branfosj opened #26287 "problem with mkldnn and march=native on Intel Sandybridge processors"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. Build PyTorch with -march=native on an Intel Sandybridge processor
1. Run the test case below. This test case is a simplification of https://github.com/pytorch/pytorch/blob/v1.2.0/test/test_mkldnn.py#L336

Code of:
[code]

Produces error:
[code]

## Expected behavior

That it should not fail.

## Environment

PyTorch version: 1.2.0
Is

[2019-09-16 15:46] vadimkantorov opened #26288 "Inplace and out arguments for BatchNorm"
Following the discussion in https://github.com/pytorch/pytorch/issues/23756, a simple way to enable users implementing inplace-activated batchnorm:
1) provide inplace mode for BatchNorm and batch_norm
2) expose backward methods of BatchNorm so that the user can hook or provide their own recomputed input (actually the user can do their own affine transformation fused with activation, so even just(1

[2019-09-16 15:57] neginraoof commented on #26127
This is not because of size. The problem is with arange op which is exported as a constant. This is fixed in this PR:

[2019-09-16 16:00] neginraoof commented on #26127
@dashesy Please try this fix and close this if possbile

[2019-09-16 16:02] ezyang commented on #26207
A UI question: how exactly should we let people turn on this tracing? How will people know "Oh, dispatch is acting weirdly, but I can use this trace flag to turn on tracing"

[2019-09-16 16:13] neginraoof commented on #26184
I'm unable to reproduce this problem. I tested your model with:
two = torch.tensor(2.0, dtype=torch.float32)
half = torch.tensor(0.5, dtype=torch.float32)
And didn't see any issues. Please give it a try.

[2019-09-16 16:17] abonnet commented on #26054
@ilia-cher yes, I understand why it is failing. I am not sure what would be the implication of relaxing this constraint but maybe we can document it in the DataLoader class documentation for now?

[2019-09-16 16:25] user147258 opened #26291 "Instantiation of a ConcatDataset with a generator fails"
## 🐛 Bug

Instantiation a `ConcatDataset` with a generator fails, because `len()` is not available in a generator.

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

The dataset is correctly instanced.

## Environment
 - PyTorch Version (e.g., 1.0): 1.1.0 (also present in master)
 - OS (e.g., Linux): Linux
 - How you installed PyTorch (`conda`, `pip`, source): pip
 -

[2019-09-16 16:38] neginraoof commented on #26189
PR for fix: https://github.com/pytorch/pytorch/pull/26292

[2019-09-16 16:43] SsnL commented on #26054
Do we have an idea where the 1st and 2nd calls happen?

On Mon, Sep 16, 2019 at 12:18 Arnaud Bonnet <notifications@github.com>
wrote:

[2019-09-16 16:43] eellison commented on #26139
Thanks for the explanation!

[2019-09-16 16:44] ezyang commented on #26171
Thanks for the responses! In particular, thank you for reminding about Jupyter notebook load/unloading.

Thank you, I went and read the comment. I think the reason this all feels over-engineered to me is that Python (our primary use case for loading/unloading modules) doesn't really know how to unload modules (https://bugs.python.org/issue34309). So it seems extremely premature to design a system

[2019-09-16 16:54] #24617 closed

[2019-09-16 17:06] ezyang commented on #26054
We talked about this at triage meeting, and it is totally a *supported* operation to have multiple DataLoaders in your program. So this really should work (and thus high priority).

[2019-09-16 17:08] zou3519 commented on #25994
High pri to repro this on master.

[2019-09-16 17:15] dashesy commented on #26184
It reproduces for me

I export in Python2, could that be the difference? lmk I can debug

[2019-09-16 17:17] jerryzh168 commented on #26279
we do have no_deadline decorator: https://github.com/pytorch/pytorch/blob/master/test/hypothesis_utils.py#L258
I remember @zafartahirov mentioned before it's because the old version of hypothesis is counting the time of generating examples into the runtime of tests.

[2019-09-16 17:19] zou3519 commented on #26165
@pietern says: this might be related to TLS.

[2019-09-16 17:21] nmilosev commented on #21745
Thank you for the clarification. I will start with #21743 as it is easier to begin with.

For this issue what about explictly removing docstrings or adding a parameter to `save`?

Docstring should be stored to dunder doc so a simple:

[code]
should be enough.

It's a bit "hacky" but we can try it like that? What do you think?

[2019-09-16 17:40] nmilosev commented on #21743
@ezyang does this look OK to you?

[code]

I have suppressed the original `UnicodeDecodeError` as we are explaining it better here, although maybe the position of the character is important for the user? Let me know what you think.

[2019-09-16 17:56] smessmer commented on #26279
Added @no_deadline to test_qadd_scalar_relu in an attempt to fix master, but now it fails on master due to floating point accuracy, saying -3e-5 is not close enough to zero.

[2019-09-16 18:05] bwang-delft commented on #26038
Below is a self-contained example:

    import torch
    import torch.nn as nn
    import torch.nn.functional as F

    def loss_func(p, y, ignore_index=255, num_classes=19):
         p = F.softmax(x, dim=1)
         m = y != ignore_index
         t = F.one_hot((y * m.byte()).long(), num_classes=num_classes).byte().permute(0,3,1,2)
         i = (p * (t * m.unsqueeze(1).byte()).float()).sum((0,2,3)

[2019-09-16 18:24] ezyang commented on #21745
It won't work. Pickle operates recursively and the code you wrote above would only strip `__doc__` from the top level object.

[2019-09-16 18:27] MarcoCBA commented on #25925
I was serializing the model with pickle directly instead of saving the model with "torch.save(state_dict)"

[2019-09-16 18:37] nmilosev commented on #21745
Wow you're right, didn't think about that, sorry.

Another idea: per pickle doc if [`__getstate__`](https://docs.python.org/3/library/pickle.html#object.__getstate__) is present we can override default whole dict serialization. So if we add it to `nn.Module` perhaps, we should at least remove some of the docstrings from pickled files?

[2019-09-16 18:41] azcohen14 opened #26302 "Gradient for embedding vector at padding_idx is not zero when on GPU"
## 🐛 Bug
Backward passes generate nonzero gradients for the embedding vector at the `padding_idx` index. Only occurs on the GPU, and didn't occur as of version 1.0.1.post2.

## To Reproduce

[code]
which outputs: `tensor([505., 505., 505., 505., 505.], device='cuda:0')`

## Expected behavior
`tensor([0., 0., 0., 0., 0.], device='cuda:0')`

Running on the CPU provides the expected behavior:

[code]

[2019-09-16 18:55] pbloem commented on #25994
@XiaobingSuper Just checked nightly and the problem is gone there. Thanks!

[2019-09-16 18:58] dashesy commented on #25498
Yes this seems to be fixed in nightly, I close this and re-open if needed

[2019-09-16 18:58] #25498 closed

[2019-09-16 19:00] #26049 closed

[2019-09-16 19:12] pietern commented on #20380
@yaroslavvb This is now available in the nightlies. It is full blown support, so you should be able to run DDP on a big stack of MacBooks, if you wanted to... :D

[2019-09-16 19:12] #20380 closed

[2019-09-16 19:17] SsnL commented on #26278
fixed in https://github.com/pytorch/tutorials/issues/381

[2019-09-16 19:17] #26278 closed

[2019-09-16 19:26] jspisak commented on #20380
Great work Pieter!!

[2019-09-16 19:44] Ownmarc commented on #20380
@pietern is this going to support Windows too ?

[2019-09-16 19:46] ezyang opened #26304 "When CUDA is enabled, recompiling after editing aten/src/ATen/core/dispatch/DispatchTable.h doesn't result in all necessary files getting recompiled"
Other files may also be susceptible, but the issue reproduces 100% on `aten/src/ATen/core/dispatch/DispatchTable.h`

Steps to reproduce:
1. Build PyTorch `python setup.py develop`
2. Edit the "Didn't find kernel to dispatch to" error message to insert some string. Example diff:

[code]

3. Rebuild PyTorch `python setup.py develop`
4. Run `python -c "import torch; torch.cat([], dim=1)`

Expected re

[2019-09-16 19:48] pietern commented on #20380
@Ownmarc It could, because the implementation is based on [libuv](https://libuv.org/). Is this something you'd be interested in contributing? I think the majority of time spent will be in 1) getting the Gloo build to work, 2) getting the PyTorch build to work (there are only 2 ifdef'ed pieces of code in `ProcessGroupGloo.cpp`, and 3) getting CI for torch.distributed to work well on Windows.

[2019-09-16 20:06] Ownmarc commented on #20380
@pietern , I just took a look at ProcessGroupGloo.cpp and was kinda lost. Unfortunatly, I do not know much other then Python, I am still in my early days of programming and just recently switched from tensorflow to pytorch!

[2019-09-16 20:18] gottbrath opened #26305 "minor doc issue on fuse_modules"
## 🐛 Bug

Looking at a preview of the sphinx generated documentation and the list of modules that can be fused is not clear. Perhaps some list notation or other punctuation would help.

Fuses only the following sequence of modules: conv, bn conv, bn, relu All other sequences are left unchanged.

Missing some kind of separator between the first sequence and the second sequence. I think it is missin

[2019-09-16 20:30] yaroslavvb commented on #20380
Time to put all my 4-cores of macbook pro to good work!

Seriously though, this is great for code consistency, time to finally banish nn.DataParallel from my code :)

[2019-09-16 20:34] gottbrath opened #26308 "navigation for PyTorch Quantization"
Here is how I was thinking we would organize the quantization documentation .. primarily so that the quantization stuff all ends up together but is navigable from places like "nn" where some of the functions end up.

First, here is what the early preview looks like .. as a baseline
![what it looks like now](https://user-images.githubusercontent.com/45861273/64991361-96478e80-d886-11e9-9b36-ee5ecd0

[2019-09-16 20:35] ezyang commented on #26304
Update: The problem goes away when I build with `USE_CUDA=0`, so it must indeed be some sort of weak symbol situation.

[2019-09-16 20:38] ezyang commented on #26304
A sampling of some files which fail to recompile:

[code]

[2019-09-16 20:52] driazati commented on #25462
Duplicate of #20388, please follow along there for updates

[2019-09-16 20:52] #25462 closed

[2019-09-16 21:10] dollysapra opened #26310 "caffe2 cyclical learning rate"
I recently moticed cyclical learning rate implementation and did some experiments.
My network does not learn anything with cyclical policy (It was doing okay with other policies such as step, exp.
What is the correct way of using it?

I am initializing it like this  -
optimizer.build_sgd(train_model,base_learning_rate= 0.002,
                policy="cyclical",stepsize=500, max_lr=0.05, decay=0.99,

[2019-09-16 21:12] JamesTrick commented on #26276
@mantues - Just as a general troubleshooting step, can you try update your setuptools? Running`pip install --upgrade setuptool` will do this for you. Then try re-install.

[2019-09-16 21:15] nmerrill67 commented on #25883
ReLU6 is of particular interest I think in the C++ API since it is useful for embedded platforms. As of now I cannot find a way to access the functional form relu6 either.

[2019-09-16 21:31] neginraoof commented on #26103
Another workaround is to use: c = torch.masked_select(d, b.gt(0.5))
This is the PR for masked_select: https://github.com/pytorch/pytorch/pull/25949/files

[2019-09-16 21:38] pritamdamania87 opened #26317 "Use camelCase naming convention in distributed model parallel code."
Based on our C++ coding conventions we should use `camelCase` instead of `lower_case` for functions, local variables, member variables etc.

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @gqchen @aazzolini @rohan-varma @xush6528

[2019-09-16 21:39] ezyang commented on #17658
It's possible that this is just an ABI compatibility problem (the fact that there's a lot of reports from CentOS 7 is a clue.)

[2019-09-16 21:47] yaroslavvb commented on #10454
This is also needed to implement lstsq for rank-deficient problems. IE, TensorFlow supports it using complete orthogonal decomposition which can be implementing using qr with pivoting: https://www.tensorflow.org/api_docs/python/tf/linalg/lstsq

[2019-09-16 22:56] soumith commented on #25994
thanks for letting us know @pbloem and thanks for the bug report

[2019-09-16 22:56] #25994 closed

[2019-09-16 23:01] soumith commented on #26287
cc: @XiaobingSuper and team

[2019-09-16 23:04] soumith commented on #26274
we dont support int8 inference in GPU (or CPU)