[2020-09-24 08:48] vadimkantorov commented on #45242
My wish: they should still have a memory-economic mode somehow (via inplace or otherwise)

[2020-09-24 09:01] PiedFalconet commented on #45196
It didn't work, still the same error information. Are there other way to solve, thanks for answering!

[2020-09-24 09:10] vadimkantorov commented on #45124
Maybe related: https://github.com/pytorch/pytorch/issues/33298

[2020-09-24 09:20] Stick-To opened #45266 "how to register hook on +, - ,*, / or how to get the input of them?"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)
how to register hook on +, - ,*, /  or how to get the input of them ?

[2020-09-24 09:33] Parskatt commented on #45124
Seems like a similar idea. However, -1 in this case would be bad since it already means flattening for view/reshape. But perhaps ellipsis could be used for the expansion ;)

[2020-09-24 11:08] PiedFalconet commented on #45196
There is a new problem, when I export the interface of the server, the client program appears unable to find address of the interface. Thanks for answering!

[2020-09-24 11:49] brando90 commented on #21254
Yes, they do here (https://public.dhe.ibm.com/ibmdl/export/pub/software/server/ibm-ai/conda/#/) but I just can't conda to install the right version though for some reason. There is a longer discussion here that might be useful for peeps in the future: https://github.com/IBM/powerai/issues/268#issuecomment-698291320

[2020-09-24 11:57] antocuni commented on #42666
picking up `torch.linalg.svd`

[2020-09-24 12:28] AinzWoolGoun commented on #45022
oooh! I think that I misunderstand the workflow of cuda. When we call a function like .cuda() in python, it seems instant but actually it just add a operation to the cuda queue. So the operation that really cost time maybe the forward or backward of the net in GPU. Am i right?

[2020-09-24 12:28] srivathsa729 commented on #41736
Hi there, I would like to work on this file.
My only task is to replace blacklist/whitelist with blocklist/allowlist right..?

[2020-09-24 12:29] brando90 commented on #45228
https://github.com/IBM/powerai/issues/268

[2020-09-24 12:33] harpone opened #45268 "Trying to implement LARS/LAMB optimizers"
## 🐛 Bug

I'm trying to get the LAMB and LARS optimizers to work on TPUs, but I'm getting huge slowdowns at the first call of the `.step()` method. Basically something like 1-5 seconds for each `p` in `group['params']`.

See here for a [gist.](https://gist.github.com/harpone/ad7adbb7562d7cf111527ce457c4a6d6).

I tweaked it a bit to get rid of deprecation warnings for `add_` and brought it more in

[2020-09-24 12:36] harpone commented on #45268
uhh actually meant to post this in pytorch-xla... oops :blush:

(anyway, here it is https://github.com/pytorch/xla/issues/2511)

[2020-09-24 12:36] #45268 closed

[2020-09-24 13:20] navyTensor opened #45269 "torch.svd has a RuntimeError "copy_" not implemented for 'ComplexDouble' when the size of input matrix is larger than 60"
## 🐛 Bug in pytorch.1.7.0+dc67b47

torch.svd has a RuntimeError "copy_" not implemented for 'ComplexDouble' when the size of input matrix is larger than 60

cc @ezyang @gchanan @zou3519 @anjali411 @dylanbespalko

[2020-09-24 13:23] jce2090 commented on #25088
same problem

[2020-09-24 13:50] makslevental commented on #35215
@ezyang

I'm quite late to this party but I'm wondering what this means specifically - is there really a symbolic differentiation engine somewhere inside PyTorch? In particular, I'm curious about this comment on your internals blog post

<mind blown>

Is there a doc on how this works? I guess at minimum can you give me a code pointer?

[2020-09-24 14:01] izdeby commented on #26247
I have to fix this. Will do in next few days. sorry for the delay.

[2020-09-24 14:10] ezyang commented on #35215
Yes. Code lives at torch/csrc/jit/runtime/autodiff.cpp

[2020-09-24 14:18] khdlr commented on #45040
I've run into the same problem with exactly the same usecase. Here's a minimal example reproducing this behaviour for me:
[code]

[2020-09-24 14:26] albanD commented on #45242
@vadimkantorov the plan here is just code refactor. There must be no change on how the existing API behaves.

[2020-09-24 14:29] antocuni opened #45271 "test_linalg.py not run in CI"
## 🐛 Bug

I think that `test/test_linalg.py` is never run by any CI build.
It is *not* listed inside `test.run_tests.TESTS`.

## To Reproduce

I noticed because it fails on my machine:
[code]

cc @mruberry @VitalyFedyunin

[2020-09-24 14:35] jce2090 commented on #41833
hi, Did you solve this problem

[2020-09-24 14:37] ezyang commented on #45022
Well, host-to-device transfer also costs. But you wont' be able to directly observe it from Python function calls unless you are doing synchronizes.

If you have more questions about how CUDA owrks, I suggest asking in the forums about it.

[2020-09-24 14:37] #45022 closed

[2020-09-24 14:37] vadimkantorov commented on #18853
@ezyang We're also experiencing this issue (DDP doesn't sync well once a OOM recovery has happened). Should we do sth similar as in https://github.com/facebookresearch/ParlAI/blob/e9b95d8be32c7b08f487423441de68d05709a615/parlai/core/torch_generator_agent.py ? That re-passes dummy patch to trigger backward sync

[2020-09-24 14:42] NikoOinonen commented on #27655
Any update on this? It would be really great to also have 3D reflective padding. I arrived here after trying to use reflective padding with a Conv3D layer and getting a ```NotImplementedError```, because the documentation for Conv3D incorrectly lists ```'reflect'``` as a valid padding mode.

[2020-09-24 14:51] Vishal487 commented on #41754
@SplitInfinity my all checks are passed.
see it here [https://github.com/pytorch/pytorch/pull/45260](url)

[2020-09-24 14:56] stephenroller commented on #18853
Not sure, haven't dug into the guts of DDP enough to know if there's a way to sync using manually set gradients. The "standard" way is it hooks into backward(), which makes that difficult

[2020-09-24 15:01] stephenroller commented on #18853
It looks like DDP.join might serve the purpose? Please ping on this thread if you try that and it works.

[2020-09-24 15:03] vincentqb commented on #45242
Yes, added emphasis in the description.

[2020-09-24 15:04] stephenroller commented on #18853
Or maybe DDP._match_all_reduce_for_bwd_pass

[2020-09-24 15:26] #42983 closed

[2020-09-24 15:33] vibe007 opened #45273 "Training fast with small dataset, slow with large dataset"
## 🐛 Bug

I'm training a GAN drawing samples from LMDBs. When the number of samples is small - say less than 20K, training speeds are great and consistent. When I increase the number of samples, as high as 65K, I notice much slower training - 5x-10x slower on average per iteration.

## To Reproduce

Steps to reproduce the behavior:

-This is on a custom dataset/codebase, but I will work with the P

[2020-09-24 15:39] walterddr opened #45274 "test_nn.py returns inconsistent result in different test setup"
## 🐛 Bug

This was discovered when adding tests in #45224. when invoking conv3d with 1x1x1 kernel. (size 2 kernel is Fine)

## To Reproduce

[code]

## Expected behavior

results in both run (CPU, CUDA) should be the same, however the result in cpu is wrong.

## Environment

 - PyTorch Version (e.g., 1.0): master(f93ead6d37b476576b50a2f550c5898415a1fe35)
 - OS (e.g., Linux): Linux
 - How you insta

[2020-09-24 15:57] mruberry commented on #45271
Thanks for reporting this issue, @antocuni. I think you're right. I'll fix it.

[2020-09-24 16:05] ngimel commented on #44943
Channels last are expected to improve performance only for fp16 inputs on V100/Turing/Ampere. If you have an example where channels last is slower for those, please share a minimum runnable script to reproduce the problem.
We'll add a warning to convolution to warn for channels last for fp32 inputs/older architecture.

[2020-09-24 16:09] vkuzo commented on #45185
Two important things to consider would be to (1) make sure the calibration data represents your true population and (2) the evaluation data represents your true population.

For the toy dataset, both (1) and (2) would be challenging as the dataset is tiny and it not supposed to be a real dataset.

For a real dataset, I'd recommend increasing the size of both your calibration and evaluation slices

[2020-09-24 16:12] ruichernob opened #45276 "On device inference of traced model failed: "java.lang.IllegalStateException: Expected IValue type 2, actual type 7""
## 🐛 Bug

Unable to perform inference on traced DistilBert model.

## To Reproduce

Steps to reproduce the behavior:

1. Trace DistilBert model:
[code]
2. In Android studio load module and attempt to perform inference:
[code]
3. Alternatively I've tried to re-implement DistBertModel class with only single tensor argument in the whole chain of 'forward()' calls (attention mask consists from 1s, all

[2020-09-24 16:13] vkuzo commented on #44782
yes, it will work by inspecting the graph, for all quantization modes

definitely more than a month, likely a couple of months although we definitely do not have an actual release date yet.  Please feel free to check out https://github.com/pytorch/pytorch/blob/master/test/quantization/test_quantize_fx.py, although the codebase is in flux and there are no docs or stability guarantees yet.

[2020-09-24 16:29] elmirador commented on #45028
So `sm_86` basically is a new arch that even CUDA itself hasn't supported it yet. The nightly built PyTorch used '8.0+PTX' in the flags for forward-compatibility.

I'm a little bit confused since I thought CUDA itself **IS** forward-compatible without PTX?
For example, PyTorch 0.4.1 is compiled under CUDA 9.0 (sm_70) and the binary could directly run under CUDA 10.1 (sm_75) installation?

[2020-09-24 16:32] Sleepwalking commented on #45028
@elmirador
Binary forward-compatibility is only guaranteed across minor versions, but not major upgrades. According to NVIDIA documentation,

https://docs.nvidia.com/cuda/ampere-compatibility-guide/index.html

[2020-09-24 16:33] AlexeyAB commented on #44782
@vkuzo Thanks!

I added some fixes to the EfficientNet models: https://github.com/rwightman/gen-efficientnet-pytorch/pull/49
But there is still an issue with `nn.ZeroPad2d` : https://colab.research.google.com/gist/AlexeyAB/820648ce1e6a8ae25ea5bdb49a0c7a81/pytorch_quant_pad_same.ipynb#scrollTo=rHA6VFU0-xMH

In this part of code: https://github.com/AlexeyAB/gen-efficientnet-pytorch/blob/c71e15ed5432

[2020-09-24 17:09] #45172 closed

[2020-09-24 17:09] seemethere commented on #14694
This should be resolved now since we do now build libtorch variants with `-D_GLIBCXX_USE_CXX11_ABI=1`

[2020-09-24 17:09] #14694 closed

[2020-09-24 17:43] tartakovsky commented on #45112
Actually, there is probably no advantage in having RMSE as a loss function. It's more computationally expensive than MSE and I don't see how it can be helpful to compensate for that. What I actually wanted is ready-made RMSE metric, not a loss function. Not sure if having a library of metrics is in score for pytorch, so feel free to close this if the issue is not useful.

[2020-09-24 17:49] robieta commented on #44943
For an older GPU (K80) I see that NCHW and NHWC are basically identical in 1.3.1. (Also there's an overall 2x regression from 1.3.1 to 1.6, so NCHW is 2x slower and NHWC is 4x slower.) This is running the modified script in https://github.com/pytorch/pytorch/issues/44943#issuecomment-698151050.

More concerning, however, is when I run on a V100 (again, 1.3.1 vs. 1.6, CUDA 10.1).
1.3 NCHW: 1.68 sec

[2020-09-24 18:39] gmagogsfm commented on #45108
Thanks for reporting this issue. I think we can improve this bad user experience but it is tricky to match exact Python behavior.

As you mentioned, Python relies on a callstack and `stack_level` to identify unique instances of `warnings.warn`. In TorchScript, we don't have the same callstack as Python's since calls may be [inlined](https://github.com/pytorch/pytorch/blob/c79d493096abdb1c87586e41e

[2020-09-24 18:42] realiti4 commented on #45060
I found what causing the problem, and wanted to inform you since it might be useful. `BUILD_TEST=0` variable is causing this problem at linking stage. If that not being set it builds successfully.

[2020-09-24 18:57] suo commented on #41355
This was previously blocked on support for `with`-statements in TorchScript, but that is available now. @SplitInfinity, do you have any thoughts on timeline here? Could be a good ramp up task for someone

[2020-09-24 19:51] eaedk opened #45295 "Adaptive usage of memory during training inference"
## 🚀 Feature

Better management of GPU and RAM memory to train CNN models with larger image size.

## Motivation

Find a way to train the model (CNN) with better frame size (720 * 720) on GPUs like the Nvidia K80 by splitting the inference process.

## Pitch

- Save a part, or some parameters of the models on the RAM in order to allow more data to be passed to CNNs.
- Or infer on a batch by cuttin

[2020-09-24 19:53] eaedk commented on #45295
You can ask questions if you don't fully understand my issue

[2020-09-24 20:27] gmagogsfm commented on #45199
Another workaround is to add type annotation to a
[code]

This should work as well.

[2020-09-24 20:38] patrick-kidger opened #45301 "Slicing in `torch.no_grad()`: erroneously requires gradient (without accumulator)"
## 🐛 Bug/Reproduce:

Slicing only sort-of-respects `no_grad()`. The resulting tensor does not have a history, but does require gradient. However using it does not then materialise a gradient accumulator.

[code]
For context, this came up during a custom `autograd.Function.forward` where there's an implicit `no_grad()`.

## Expected behavior

For `y` not to require gradient.

## Environment

 - PyT

[2020-09-24 21:10] monajalal opened #45303 "File "/home/mona/anaconda3/lib/python3.7/site-packages/torch/nn/modules/module.py", line 772, in __getattr__ type(self).__name__, name)) torch.nn.modules.module.ModuleAttributeError: 'Renderer' object has no attribute 'render_points'"
How can I fix this? The code was apparently written with an older version of PyTorch. I need to make it work with PyTorch 1.6

[code]

[code]

https://github.com/benjiebob/SMALViewer/issues/4

Here's the code that is throwing error (not my code):

[code]

[2020-09-24 21:22] spandantiwari commented on #41833
As @neginraoof mentioned, this op is not supported. If you can consider contributing a PR for this, that will be great.

[2020-09-24 21:32] jerryzh168 commented on #35634
not sure why do we have this argument, we should probably remove that

[2020-09-24 21:38] IvanYashchuk opened #45308 "Blocked version of Cholesky backward"
## 🚀 Feature

Update the `cholesky_backward` function to use the blocked algorithm from https://arxiv.org/abs/1602.07527 (function `chol_blocked_rev` in the paper).

## Motivation

For large matrices, the proposed algorithm is faster than the currently implemented symbolic approach.

[2020-09-24 21:44] 13952522076 opened #45309 "F.cosine_similarity returns negative values"
## 🐛 Bug

While the defination of cosine similarity indicates the output should be in the range of [0, 1], the F.cosine_similarity may return negative values.

## To Reproduce

Steps to reproduce the behavior:
import torch
import torch.nn.functional as F
centroids = torch.tensor([[1.0761,  0.5506,  0.1808, -0.1537,  0.6544, -0.1115,  0.3097, -1.0536,
         -0.9395, -0.5482]])
features = torch.t

[2020-09-24 21:49] #45309 closed

[2020-09-24 21:49] 13952522076 commented on #45309
range[-1,1]

[2020-09-24 21:53] pritamdamania87 opened #45310 "[ProcessGroupNCCL] Update the store with the rank of the node that aborted communicators."
In ProcessGroupNCCL when we discover an error on the communicator we abort the communicator and write its ID to the store: https://github.com/pytorch/pytorch/blob/master/torch/lib/c10d/ProcessGroupNCCL.cpp#L359.

Other ranks then read from the store and abort their appropriate communicators accordingly. Although, without looking through the logs of all nodes it is hard to figure out which node ori

[2020-09-24 22:12] dzhulgakov commented on #45108
Yes, that's what I figured too and suggested in the description: we can pretend that `stack_level` is always `0` (or is it 1?) and just log once per the instruction (e.g. by keeping a flag in `Code` object for each `warn` instruction)

[2020-09-24 22:15] eellison commented on #45108
SGTM. In practice, we inline everything so every unique stack trace will have its own warning node. I briefly marked this as. high priority because this both annoying to the user and can measurably slow down models (see: https://github.com/pytorch/vision/pull/2314)

[2020-09-24 22:27] mariosasko commented on #45040
This is a normal python behavior.

This code reproduces it:
[code]

You can check the source code of the [Dataset](https://github.com/pytorch/pytorch/blob/master/torch/utils/data/dataset.py) class. It has a fairly simple definition and doesn't provide anything to disable this behavior (iteration that never stops) when being subclassed.

Usually, you pass a Dataset instance to DataLoader. Dataloade

[2020-09-24 22:35] rohan-varma commented on #45160
cc @ilia-cher in case you have any thoughts

[2020-09-24 22:42] ThomDumont commented on #22676
VOCE É UM MONSTRO, UM DEUS O MAIS FODA DE TODOS DENTRO DOS OS PROGRAMADORES

[2020-09-24 22:42] ThomDumont commented on #22676
VOCE É UM MONSTRO, UM DEUS O MAIS FODA DE TODOS DENTRO DOS OS PROGRAMADORES

[2020-09-24 23:29] #44107 closed

[2020-09-25 00:30] spandantiwari commented on #43051
@tompfeil - Closing this issue assuming that it is clarified. Please feel free to reopen if there's still an issue.

[2020-09-25 00:39] vkuzo commented on #41534
removing v1.7 since the request was for static quantization, which works if the model is in eval mode.

[2020-09-25 01:08] lakshaykc opened #45321 "Memory leak when using share_memory_ on cuda device"
## 🐛 Bug

I'd like multiple processes use the same tensor in a read-only operation using multiprocessing. When I set `share_memory_()` for a tensor and pass that to a child process, the memory scales linearly with the number of child process if cuda device is used. If I only use cpu for this example, the memory consumption is constant.

## To Reproduce

Steps to reproduce the behavior:

In the fol

[2020-09-25 01:09] gmagogsfm commented on #45108
Thanks for the confirmation. I will take action to implement this.

[2020-09-25 01:11] patrick-kidger commented on #23475
Relatedly, any hope for a batch-vjp? Better autodiff is a big reason I've been looking at moving to JAX.

[2020-09-25 01:30] #42978 closed

[2020-09-25 02:11] JBlaschke opened #45323 "Blank value for _GLIBCXX_USE_CXX11_ABI when compiling with Homebrew's GCC (on macOS)"
## 🐛 Bug

Compiling against the C++ API on macOS using GCC-9.3, and cmake seems to use a bad flag:
`... -fopenmp -D_GLIBCXX_USE_CXX11_ABI= -std=c++14 ...` -- note how it "blanks out" the `_GLIBCXX_USE_CXX11_ABI` variable. This causes the compiler to fail in the stdlib:
[code]

What's probably going on here is that `-D_GLIBCXX_USE_CXX11_ABI=` (instead of `-D_GLIBCXX_USE_CXX11_ABI=0` or `-D_GLIBCXX_

[2020-09-25 02:19] glaringlee commented on #44040
This is going to be resolved in #45263. Close this issue now.

[2020-09-25 02:19] #44040 closed

[2020-09-25 02:46] agemor opened #45324 "DistributedSampler internal asserts if len(dataset) * 2 < number of GPUs"
## 🐛 Bug

DistributedSampler crash has been reported in some threads (links below),  while its cause has not been identified.

- [https://github.com/open-mmlab/mmdetection/issues/1223](https://github.com/open-mmlab/mmdetection/issues/1223)
- [https://discuss.pytorch.org/t/error-when-using-distributedsampler/32987](https://discuss.pytorch.org/t/error-when-using-distributedsampler/32987)

The crash

[2020-09-25 02:54] mrshenli commented on #42095
@frank-dong-ms

Not in v1.7. We will try to add RPC support in v1.8.

[2020-09-25 03:29] v0dro commented on #22378
Thank you for your feedback. So here's my thoughts on the future course of action:

1. Write a benchmarking suite in the benchmarks/ folder comparing various scatter modes from pytorch and pytorch-scatter. Reuse tests from @rusty1s 's comment above. Make this a separate issue.
2. Expand current scatter reduction with support for min, max and mean for both CPU and CUDA. Incorporate this into the be

[2020-09-25 03:41] wytcsuch opened #45325 "Error using DDP for parameters that do not need to update gradients"
I use DDP to train with multi GPU.
`self.netF = networks.define_F(opt, use_bn=False).to(self.device)‘
’print('num_gpu',opt['num_gpu'])‘
’if opt['dist']:‘
     ’self.netF = DistributedDataParallel(self.netF,device_ids=[torch.cuda.current_device()],find_unused_parameters = True)‘
’ else:‘
     ’self.netF = DataParallel(self.netF)`

[2020-09-25 03:47] vitansoz commented on #44698
The problem has been solved.
train the .pt file in linux, load the .pt file in c++ API.

it's just xcode link options setting wrong,I fix it.I close this issues.
![1311266293](https://user-images.githubusercontent.com/45025677/94224389-ca876d80-ff24-11ea-8d74-01a279a6d481.jpg)

[2020-09-25 03:48] #44698 closed

[2020-09-25 03:48] wytcsuch opened #45326 "Error using DDP for parameters that do not need to update gradients"
I use DDP to train with multi GPU.I only need the feature map of one layer from VGG model, and do not need to update its parameters.However, the following errors occur：
AssertionError: DistributedDataParallel is not needed when a module doesn't have any parameter that requires a gradient.

My code：
[code]

pytorch：1.4
cuda：10.0

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @rohan-v

[2020-09-25 04:01] #45325 closed

[2020-09-25 04:07] xiaoqiangsheng2016 commented on #44143
I have the same issue

[2020-09-25 05:08] agemor commented on #45324
A simple workaround is to set `drop_last=True` for such case. Yet we still need more preventive measures.

[2020-09-25 05:20] #35634 closed

[2020-09-25 05:30] SamNPowers opened #45327 "Tensorboard summary_iterator"
## 🚀 Feature
Pytorch has integrated most of tensorflow's tensorboard functionality, but it seems like the summary_iterator, allowing one to iterate through the event files generated, hasn't been ported into torch.utils.tensorboard? It would be nice if we didn't have to install and import tensorflow just to use this one feature of tensorboard.

## Alternatives

The alternative is to install tensorf

[2020-09-25 05:43] prabhuomkar commented on #34862
@soumyadipghosh use this https://github.com/prabhuomkar/pytorch-cpp/issues/73 to track?

[2020-09-25 05:55] GregXu247 opened #45328 "How long would it takes for pytorch cuda version to support RTX30 series?"
## 🚀 Feature
As the title. When would pytorch cuda version support RTX30 series?

[2020-09-25 06:06] ArtyZe commented on #41833
Yes, Pytorch/onnx with verion 1.1.0 support "MaxUnpool", same as onnx. But kernel_shape for onnx/MaxUnpool is an attribute, which is input for Pytorch/onnx, so you need to convert onnx model exported by Pytorch/onnx to match onnx.

[2020-09-25 06:14] #45271 closed

[2020-09-25 06:33] xwang233 commented on #45328
The nightly build with cuda 11 already supports that. See https://github.com/pytorch/pytorch/issues/45021 and https://github.com/pytorch/pytorch/issues/45028. Please post your issue there. Thanks.

[2020-09-25 06:34] GregXu247 commented on #45328
ok，thanks a lot

[2020-09-25 06:34] #45328 closed

[2020-09-25 06:37] liym27 opened #45331 "How to print C++ log like GRAPH_DEBUG?"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

[2020-09-25 07:23] elmirador commented on #45028
@Sleepwalking
Got it! Thanks for the clarification!

[2020-09-25 07:49] khdlr commented on #45040
This confirms my worst fears, python allows for pathologic iterables that have a length but never end... The fact that the `reversed` trick works is even weirder from a logical point of view: Reversing an infinite iterable results in a finite iterable... :woozy_face:

After digging a bit through the [python reference](https://docs.python.org/3/reference/datamodel.html#object.__getitem__), the inte

[2020-09-25 08:34] mszhanyi commented on #41308
@n-gao , could your try install the nightly build? I tested in windows and the issue doesn't exist

[2020-09-25 08:42] lihaoxiang1989 commented on #18626
I support this as well. We got multiple models to run which reserved less 10G GPU memory, but it was going to 20G when split into 5 processes

[2020-09-25 08:47] #40922 closed

[2020-09-25 08:53] prameth commented on #21819
The Issue exists in the latest release (PyTorch 1.6.0, CUDA 10.1), it works perfectly fine with PyTorch 1.4.0 CUDA 10.1
Anyone from Google Colab, use this
[code]

[2020-09-25 09:15] n-gao commented on #41308
I can confirm that PyTorch 1.6 fixes this on Windows and Linux! Thanks for the notice.

[2020-09-25 09:15] #41308 closed

[2020-09-25 09:33] IvanYashchuk commented on #42666
Picking up `kron`, `eigh`, `cond`, `tensorinv`.

[2020-09-25 10:11] mszhanyi commented on #40892
@laizewei try as the below image
![image](https://user-images.githubusercontent.com/16190118/94255240-82833d80-ff5a-11ea-924f-9244b9a776c8.png)

[2020-09-25 10:38] #45112 closed

[2020-09-25 11:37] jkonieczny9 opened #45333 "ONNX export fails for BatchNormalization with track_running_stats=False"
## ONNX export fails for BatchNormalization with track_running_stats=False

Setting track_running_stats=False of BatchNormalization layer causes ONNX export to fail.

## To Reproduce

* Example code:

`    class Model(nn.Module):

        def __init__(self):
            super(Model, self).__init__()
            self.cov1=nn.Conv2d(3, 32, 3)
            self.bn1=nn.BatchNorm2d(32, track_running_sta

[2020-09-25 11:49] neeraj-j commented on #45185
@vkzo, It will be helpful if you read my responses.

I am working on this issue for 2 months now and I have tried all the things that you are suggesting.

Can you share any object detection quantized model trained on "large data".

[2020-09-25 12:13] philokey commented on #41661
@ruotianluo Did you solve this problem，I also encounter this problem when I use pytorch1.6.

[2020-09-25 13:18] chienpingtsung opened #45334 "CPU memory leak when using torch.no_grad()"
## 🐛 Bug

If use `torch.no_grad()` block, the cpu memory will continually increase untill OOM kill happens.
But once remove the `no_grad`, everything would be all right.
I tried del loss or put the validation step into a function, but the memory leak still happens.
Is my code wrong? or a BUG?

## To Reproduce

Steps to reproduce the behavior:

1. Validation step using `torch.no_grad()`.
2. Using `

[2020-09-25 13:48] albanD commented on #23475
Yes computing Jacobians in batch is done with batch-vjp. So yes this is in progress as well.

[2020-09-25 14:20] soumyadipghosh commented on #34862
Ok

[2020-09-25 14:31] zou3519 commented on #23475
@patrick-kidger, what exactly do you mean by batch-vjp? Are you looking for something that:
- computes vjp but can take in a "batch" of v's (so we effectively get a matrix-jacobian product)
- or do you have a batch of examples and want to compute the vjp for each example?

[2020-09-25 14:32] ezyang commented on #37160
With the proposal at https://fb.quip.com/o4JUAuefYVP3 we can do error reporting context as part of code generation inside kernels, rather than at the dispatch call site

[2020-09-25 14:35] zou3519 commented on #45334
hi-pri because memory leak seems serious. I have not attempted to repro this yet.

[2020-09-25 14:36] zou3519 commented on #45331
Please ask questions on the PyTorch forum: discuss.pytorch.org

[2020-09-25 14:36] #45331 closed

[2020-09-25 14:38] zou3519 commented on #45324
Hi-pri for crash

[2020-09-25 14:39] zou3519 commented on #45326
Maybe we can improve the error message around this? It seems reasonable to be able to want your model to work with DistributedDataParallel even if you're not doing any training

[2020-09-25 14:40] zou3519 commented on #45323
I'm not sure we support building with gcc on mac os, we generally recommend using clang on mac.

[2020-09-25 14:43] zou3519 commented on #45303
Do you have the source code for the nr.Renderer class? This seems like user error; maybe the nr.Renderer class has no render_points method (that's what the error message is suggesting)

[2020-09-25 14:44] zou3519 commented on #45301
I'm closing this issue as a duplicate. @patrick-kidger you should feel free to voice your support in the other thread (#11390)

[2020-09-25 14:44] #45301 closed

[2020-09-25 14:48] patrick-kidger commented on #23475
@zou3519 In my case, the latter, i.e. to align the batch dimensions of both vector and Jacobian.

[2020-09-25 14:49] ruotianluo commented on #41661
This problem disappear after I reinstall 1.6

[2020-09-25 14:50] albanD commented on #45334
Cross post from the forum: https://discuss.pytorch.org/t/memory-leak-if-use-torch-no-grad/97484

We can continue the discussion to pinpoint the cause on the forum and re-open this if it actually is a bug on pytorch side.

[2020-09-25 14:50] #45334 closed

[2020-09-25 14:51] zou3519 commented on #45273
5-10x slower is pretty significant. @vibe007 do you have a minimal script that can reproduce this?

[2020-09-25 14:54] malfet opened #45336 "Enable torch.cuda.nccl typecheck during CI"
cc @ezyang @malfet @rgommers @xuzhao9 @gramster

[2020-09-25 14:54] zou3519 commented on #45269
Repro:
[code]

[2020-09-25 14:55] #45201 closed

[2020-09-25 14:56] zou3519 commented on #45228
The torchvision issue tracker might be a better place for this: https://github.com/pytorch/vision/issues

[2020-09-25 15:00] realiti4 commented on #45028
Cuda 11.1 is released with compute capability 8.6 support. Does the current master compatible?

[2020-09-25 15:03] zou3519 commented on #23475
The latter is more https://github.com/pytorch/pytorch/issues/7786 I think. I'm curious about your use case, though. Do you have an example of the quantity that you'd like to compute or a reference/paper/code somewhere that we could take a look at?

[2020-09-25 15:07] zou3519 opened #45337 "Can't get anchor link to torch.Tensor.register_hook"
## 📚 Documentation

On https://pytorch.org/docs/stable/tensors.html, hovering the mouse to the right of `register_hook(hook)`, I can't find the anchor link. For the other documentation entries, the anchor link appears in the analogous space.

![image](https://user-images.githubusercontent.com/5652049/94283618-3c5cb880-ff1f-11ea-8229-7a348b8ea23d.png)

cc @jlin27

[2020-09-25 15:08] zou3519 commented on #45266
I'm confused as to what you're asking for. hooks can only be registered [on modules](https://pytorch.org/tutorials/beginner/former_torchies/nnft_tutorial.html#forward-and-backward-function-hooks) or [on tensors](https://pytorch.org/docs/stable/tensors.html).

At any rate, please ask questions on our forums: discuss.pytorch.org. We like to keep the issue tracker filled with real issues and/or featu

[2020-09-25 15:08] #45266 closed

[2020-09-25 15:12] #43592 closed

[2020-09-25 15:17] DN6 opened #45338 "Error when running distributed rpc parameter server example"
## 🐛 Bug

Hello. I'm trying to run the distributed RPC [example](https://github.com/pytorch/examples/blob/master/distributed/rpc/parameter_server/rpc_parameter_server.py) using two EC2 instances running Amazon's Deep Learning AMI. I'm encountering the following issue.

Traceback on Master Node
[code]
Traceback on Worker Node
[code]
## To Reproduce

Steps to reproduce the behavior:

1. Create two i

[2020-09-25 15:20] antocuni commented on #42666
I have a design question about `torch.linalg.svd`, but I think it's general enough that it's good to discuss it here.
`numpy.lingalg.svd` differs from `torch.svd` in two major ways:
1. the numpy version has a parameter called `full_matrices`, while `torch.svd` has one called `some` which is basically the opposite, so it's easy to adapt

2. the numpy signature is irregular, and the return type chan

[2020-09-25 15:32] mariosasko commented on #45040
Yes, this [post](https://stackoverflow.com/questions/20551042/whats-the-difference-between-iter-and-getitem) by Raymond Hettinger explains it nicely how to make an finite iterable using `__getitem__` .

[2020-09-25 15:52] vkuzo commented on #45185
When you see this behavior in experiments non-toy datasets, what is the size of your evaluation slice, calibration slice, total dataset?

[2020-09-25 15:55] #16614 closed

[2020-09-25 16:57] IvanYashchuk commented on #42666
I'm in favor of this solution:

I have done the same for ChainerX [here](https://github.com/IvanYashchuk/chainer/blob/a326597e8b731d8cfbf27d44f0981b9ae62e5161/chainerx_cc/chainerx/python/routines.cc#L359-L362).

[2020-09-25 17:33] vkuzo commented on #44111
thanks for the fix!

[2020-09-25 17:35] vkuzo commented on #44802
this was originally added to user code as a workaround to conv/interpolate/bn ops not handling empty batch correctly.  This has been fixed in PyTorch and the workaround is no longer needed.

[2020-09-25 17:35] #44802 closed

[2020-09-25 17:53] mthrok commented on #38122
@gemfield 's workaround worked for me, yet this addition will be nice  @malfet :)

[2020-09-25 18:07] rgommers commented on #42666
It seems to me that (1) is a little less work, but would be much less appealing if `torch.svd` gets deprecated in the future. That's not decided, but seems fairly likely to happen at some point. So (2) is probably preferred. @mruberry does that make sense to you?

[2020-09-25 18:40] zasdfgbnm commented on #45028
@realiti4 Yes, CUDA 11.1 supports 8.6, according to https://docs.nvidia.com/cuda/cuda-toolkit-release-notes/index.html#cuda-general-new-features

[2020-09-25 19:09] msbaines opened #45352 "torch.nn.functional.one_hot should gracefully skip negative and out-of-range indices"
## 🚀 Feature

There are useful algorithms that benefit for one_hot skipping negative and out-of-range indices. tensorflow does not crash in these scenarios and instead emits a 0 vector.

[code]

[code]

## Motivation

Be able to simply represent some algorithms.

## Pitch

Be able to simply represent some algorithms. Easy to copy code/algorithms to/from tf and torch.

## Alternatives

Explicitly c

[2020-09-25 19:23] soumith commented on #45352
the errors should be the default, but let's say `F.one_hot(..., relaxed=True)` or something can do the more relaxed behavior

[2020-09-25 19:36] albanD commented on #45352
Also having negative indices being nothing and not the last element looks very un-intuitive to me given the rest of the code base (and python in general)!

[2020-09-25 19:40] pritamdamania87 commented on #42048
Some of the gloo support is being added in https://github.com/pytorch/pytorch/pull/44436.

[2020-09-25 19:45] msbaines commented on #45352
The tensorflow behavior is to set to zero so I would recommend that for consistency. (It actuals feels more intuitive to me to zero but I see your point about pythonic -1 indexing)

[2020-09-25 20:06] dongreenberg commented on #45072
This will expand the API surface, adding risk, and force the user to decide for themselves whether they need to run that preparation line every time they script a module. For submodules with preparation logic (e.g. inside of an nn.Sequential) this would mean traversing the module tree. If a library developer wants to implement a custom module for deployment with specific execution considerations (

[2020-09-25 20:07] SsnL commented on #45352
maybe let's just have options like `out_of_bounds='strict'/'relaxed'/'wrapping'`

[2020-09-25 20:24] #39971 closed

[2020-09-25 20:25] ngimel commented on #45352
Should we have same options for indexing? For scatter/gather? For embedding?

[2020-09-25 20:41] knottb opened #45357 "Bug in max_pool2d with ceil_mode under certain conditions"
## 🐛 Bug

In `torch.nn.functional.max_pool2d` with `ceil_mode=True`, there are cases where maximum can be taken for a fully out-of-bounds kernel. See repro.

## To Reproduce
[code]
## Expected behavior

I would expect for these parameters (`kernel_size=1, stride=(2, 2), ceil_mode=True`), we would get an output of size (3, 4) since the 4th kernel on dimension 2 would start at index 6 which is out-o

[2020-09-25 20:49] AvivWn commented on #39250
I am experiencing this exact bug. Any news about that?
It is quite annoying to start a new logging folder whenever adding a new parameter.

[2020-09-25 21:11] patrick-kidger commented on #23475
Hmm, yeah that does look similar. Not sure it provides any solutions, though.

This is something that has come up as part of our development of [`torchsde`](https://github.com/google-research/torchsde). Certain derivatives are needed during stepping for SDE solvers. Moreover there shouldn't be any interaction between batch elements as the current autograd mandates.

For the purposes of this discus

[2020-09-25 21:15] edqwerty10 commented on #37516
Hi pytorch team, just a question, are there plans to also implement a similar check with `list`, ie. `isinstance(foo, list)`.
Currently, the following code breaks in script mode:
**Code Snippet:**
[code]
**Output**
[code]

[2020-09-25 21:53] rajb245 commented on #10043
Speed-optimized conv1d and conv2d with sparse kernels and dense input data would be useful for running inference after pruning a network by masking. For example, unstructured pruning/masking would leave a lot of the kernel parameters with zero values, so it would be optimal to express the kernels in sparse format and have conv1d and conv2d routines that didn't perform the superfluous `accum = accu

[2020-09-25 21:56] jeremiahschung commented on #33354
Hi @nairbv, this issue still persists in the latest build. Is there an ETA on a fix? This will eventually come up more as we have more TorchServe deployments. cc @chauhang

[2020-09-25 22:19] gchanan commented on #45352
if we were going to follow PyTorch patterns, wouldn't having an `ignore_index` a-la NLLLoss be more consistent?

[2020-09-25 22:49] #40434 closed

[2020-09-25 23:18] florensacc opened #45367 "Inconsistent as_tensor converts device when given a dtype"
## 🐛 Bug

When calling `torch.as_tensor` on a tensor `data` that is on the GPU it stays there, but if we specify `dtype=data.dtype` it's copied to the CPU!!

Might be related to https://github.com/pytorch/pytorch/issues/14996

## To Reproduce

[code]

prints:
[code]

## Expected behavior

Both should be `cuda:0`.

## Environment

PyTorch version: 1.5.0
Is debug build: False
CUDA used to build PyTo

[2020-09-25 23:26] mrshenli commented on #45118
closed by #45181

[2020-09-25 23:26] #45118 closed

[2020-09-25 23:26] mrshenli commented on #45116
closed by #45181

[2020-09-25 23:26] #45116 closed

[2020-09-25 23:26] mrshenli commented on #45117
closed by #45181

[2020-09-25 23:26] #45117 closed

[2020-09-25 23:26] mrshenli commented on #45105
closed by #45181

[2020-09-25 23:26] #45105 closed

[2020-09-25 23:27] mrshenli commented on #40378
closed by #45181

[2020-09-25 23:27] #40378 closed

[2020-09-25 23:28] mrshenli commented on #45067
closed by #45162

[2020-09-25 23:29] mrshenli commented on #45145
closed by #45162

[2020-09-25 23:54] #43016 closed

[2020-09-26 00:07] #45336 closed

[2020-09-26 01:50] Superhzf commented on #1362
Any progress on the PR?

[2020-09-26 01:56] #44849 closed

[2020-09-26 04:00] nog642 commented on #20518
This is preventing us from installing PyTorch conveniently on an ARM machine.

Should be fixed.

[2020-09-26 04:54] neeraj-j commented on #45185
I have already mentioned above that I am using COCO dataset. It has more that 125,000 calibration slice and 30,000 eval slice.

I have also mentioned that as I increase calibration slice the accuracy keep on decreasing till it settles at 79%(quantized) from 91.6%(float model).

[2020-09-26 06:23] Gitgigabyte commented on #5301
Is there any other solutions? set num_workers = 0 is just too slow

[2020-09-26 08:00] konioyxgq opened #45372 "about aten/src/ATen/native/cudnn/Conv.cpp issue"
On line [678](https://github.com/pytorch/pytorch/blob/cf808bed738632dba15531337ceb9fa5f148d7b4/aten/src/ATen/native/cudnn/Conv.cpp#L678) in the conv.cpp  I think it’s better to change it to “if(cache.find(args.params, &algoPerf))”. Because I think no matter whether only_use_default is true or false, “cache.insert” will be executed below. Maybe I understood it wrong and hope to guide.

cc @albanD @

[2020-09-26 08:58] stadlerb commented on #31570
`AttributeError: module 'torch.cuda' has no attribute '_host_allocator'`

Doesn't this look more like a problem with the python environment or the module search path? Probably should be closed.

[2020-09-26 10:21] MRzNone commented on #45021
Will 3090 support memory pooling in pytorch?

[2020-09-26 10:30] AnshuTrivedi commented on #45357
@knottb  I think it's not bug .For reference [see here](https://discuss.pytorch.org/t/ceil-mode-in-pooling/54646/2).
In the case of ceil mode, additional columns and rows are added at the right as well as at the down. (Not top and not left). **It does not need to be one extra column.** It depends on the stride value as well.

[2020-09-26 10:45] mahmoodn opened #45373 "Found dtype Long but expected Float"
I had a python code which was fine with python2.7 and older pytorch versions. However, as I cloned the latest pytorch version today and installed that via `python3 setup.py install --user`, I now get this error

[code]

The code looks like
[code]

Any idea to fix that in new version?

[2020-09-26 10:51] mahmoodn commented on #45373
That is part of the dcgan code in the tutorial.
@inkawhich do you have any idea?

[2020-09-26 10:59] sans-23 commented on #41718
I would like to work on this issue. Can I ?

[2020-09-26 12:40] #45373 closed

[2020-09-26 14:47] mahmoodn commented on #45373
The fix is [here](https://github.com/pytorch/tutorials/blob/master/beginner_source/dcgan_faces_tutorial.py#L594)
[code]

[2020-09-26 15:40] tamireiny commented on #12559
I also would like to install pytorch 0.4.0, for windows 10, 64 bit, python 2.7, cuda 10.1
Any solution?

[2020-09-26 16:05] vkuzo commented on #45185
hi @neeraj-j , thanks for the additional information.  91.6% fp accuracy to 79% static quantization accuracy indeed sounds like a large drop.  There are two separate things which could be useful to debug:

1. Regardless of whether the model is sensitive to quantization or not (if the drop from fp to quant accuracy is large or not), cycling between representative calibration datasets shouldn't impa

[2020-09-26 16:14] #45064 closed

[2020-09-26 16:38] navneethc commented on #43845
Just adding a comment that this was not an IDE-related issue at all. I too faced the issue when updating to and installing afresh 1.6.0 but with plain old Powershell. And I got the error message despite the fact that the 2017 redistributable was already installed in my computer. Of course, now that I installed 2015-2019 version, things seem to be working normally. If this is a separate requirement

[2020-09-26 17:06] bmanga commented on #37488
It still happens for me when `Linking CXX executable ../bin/utility_ops_gpu_test`

[2020-09-26 17:37] SplitInfinity commented on #41718
There is already an approved open pull request that is in the process of being merged. This issue does not need further contribution.

[2020-09-26 18:10] EricLe-dev commented on #45021
I got the 3090 today. Cuda 11.1 + latest official Torch version does not work. I got "no kernel image is available for execution on the device" error.

[2020-09-26 18:14] EricLe-dev commented on #45021
Maybe the nightly build will work but I nuked the system entirely. Anyway, I will get the next 3090 in a few days and test if parallel training (multiple GPUs) work on this nightly version.

[2020-09-26 20:29] #39969 closed

[2020-09-26 22:50] rohan-varma commented on #40303
Another instance: https://app.circleci.com/pipelines/github/pytorch/pytorch/219927/workflows/99f97810-bcee-480a-9fd4-ff71b21ed680/jobs/7804436/tests

[2020-09-27 00:17] Maghoumi commented on #45028
Hey @Sleepwalking, long time no see! :)

What RTX 3080 card do you have? Founder's edition or something from other manufacturers? Just wondering if the freezing problem you're observing is [related to this issue](https://www.guru3d.com/news-story/geforce-rtx-3080-users-report-crashes-while-gaming.html). People have been reporting this issue with cards from other manufacturers.

Also, it may not be

[2020-09-27 00:26] jbmaxwell commented on #30139
I'm seeing this error when running a traced model with LibTorch on iOS.

[2020-09-27 00:27] ppwwyyxx commented on #38718
related: https://github.com/pytorch/pytorch/issues/44284

[2020-09-27 00:30] AqibHasnain opened #45385 "torch.pinverse for complex tensors and general complex tensor support"
## 🚀 Feature
The SVD based torch.pinverse which works with complex tensors would be great.

## Motivation

For low-rank matrices, this is an absolute must. And of course we can use the torch.svd functionality and then write the pseudoinverse ourselves, however this would make life a bit simpler.

## Edit

One overarching more issue I've come across is the lack of functionality in PyTorch for compl

[2020-09-27 02:08] wangxiang2713 opened #45386 "How to convert pytorch model to Nvidia faster transformer?"
Hi, i want to detect Bert model structure in pytorch model and convert the structure by Nvidia faster transformer op automatically.
Is there any existing project? If not, i want to develop one, so should i develop on origin pytorch or TorchScript? Should i develop a pass to detect Bert in TorchScript IR and replace it by faster transformer op?
Thankyou very much!

[2020-09-27 02:50] BLING-1994 commented on #1355
Maybe set **ulimit -n** is a right way, With the increase of the model, the deadlock becomes more and more frequent, I also test `cv2.setNumThreads(0)` , But it doesn't work.

[2020-09-27 03:09] haoren3696 opened #45387 "How to build from a release tar package ?"
Hi, I download newest release tar package and find it can not build pytorch, Can anyone help meo build this release version from source?

[code]

output:
fatal: not a git repository (or any parent up to mount point /)
Stopping at filesystem boundary (GIT_DISCOVERY_ACROSS_FILESYSTEM not set).
Building wheel torch-1.6.0a0
-- Building version 1.6.0a0
Could not find /home/xzpeng/pytorch/pytorch-1.6.0/

[2020-09-27 03:13] Sleepwalking commented on #45028
Hello @Maghoumi !
It's a bit of unfortunate that I got a Zotac Trinity, but it survives running gpu-burn for an hour (`gpu_burn -tc 3600`).
I also recompiled (yet again) PyTorch 1.6.0 on the latest CUDA 11.1 and upgraded the driver to 455.23.05. Freezing is still observed.

[2020-09-27 03:14] WangWenhao0716 commented on #45028
I think you should not use 1.6.0；1.7 is suitable

发自我的iPhone

------------------ Original ------------------
From: Kanru Hua <notifications@github.com&gt;
Date: Sun,Sep 27,2020 11:13 AM
To: pytorch/pytorch <pytorch@noreply.github.com&gt;
Cc: WenhaoWang <2609667791@qq.com&gt;, Mention <mention@noreply.github.com&gt;
Subject: Re: [pytorch/pytorch] GeForce RTX 3080 with CUDA capability sm_86 is not c

[2020-09-27 03:45] thezealousfool commented on #44143
But we cannot use xcode 11 for iOS 14 app development. Right?

[2020-09-27 03:51] xiaoqiangsheng2016 commented on #44143
YES, iOS14 need Xcode12.

[2020-09-27 05:50] devil-cyber commented on #45387
hey @haoren3696  Just type git init into your command line and press enter. Then run your command again, you probably were running git remote add origin [your-repository].

[2020-09-27 06:17] taral1313 commented on #2731
Thanks, I tried uninstalling and installing anaconda, cuda, pytorch 2, 3 times and finally these small solution solved my problem.

[2020-09-27 06:25] gemfield commented on #25699
@soumith With pytorch1.6, though I download with static library url: https://download.pytorch.org/libtorch/cu102/libtorch-cxx11-abi-static-with-deps-1.6.0.zip, the libtorch file name is still libtorch.so and libtorch_cuda.so, didn't see libtorch.a or any similar stuff.

[2020-09-27 06:57] vishsangale commented on #45387
@haoren3696 Follow [these](https://github.com/pytorch/pytorch#from-source) instructions to build from scratch. You may not be able to build from source using tar package, since it doesn't seem to have third party packages from git sub-modules.
Basically you may want to run below command in root directory if you want to build Release version 1.6.0 from source after installing dependencies see earli

[2020-09-27 07:22] haoren3696 commented on #45387
Hi @vishsangale, yes，you are right. What I am confused about is if the tar package cannot be used to build pytorch, what is it for? Maybe the third party should be included when releasing a tar package. Is there a community maintainer who can answer this question?

[2020-09-27 07:42] wytcsuch commented on #45326
thanks.I thought that many people might encounter this problem, but I found that no one raised it.

[2020-09-27 08:26] pavlonadolynskyi commented on #44143
managed to compile entire library via xcode 12 and problem gone, but faced another issue I can't fix:

`Undefined symbols for architecture arm64:
  "c10::impl::ExcludeDispatchKeyGuard::ExcludeDispatchKeyGuard(c10::DispatchKey)", referenced from:`

[2020-09-27 10:19] gemfield commented on #21737
@b93901190 update your repo and try again:
[code]

[2020-09-27 10:49] #41534 closed

[2020-09-27 11:41] SeaOfOcean commented on #28950
reproduce in 1.6.0+cu101

[2020-09-27 12:13] nusherjk commented on #5434
Fixed it with a garbage collector.
add ` import gc`
and add `gc.collect()` after each end of epoch or wherever you please

[2020-09-27 13:22] cocokale opened #45394 "How can I read the .pt file with pickle instead of torch.load()?"
Due to prerequisites limitations, I am not able to install torch. Is it possible to load the pt file with python library pickle (or other libraries) instead of torch.load()?

[2020-09-27 13:45] DengNaichen opened #45395 "Can't sign up for Pytorch forums"
I want to create a new account of Pytorch forums, but the web always says: " something goes wrong, please try forget passwords link..."

[2020-09-27 14:04] #45394 closed

[2020-09-27 14:36] elSomewhere commented on #45133
Hi @fritzo

Thanks for the Pyro HMM pointer - it actually appears to be reasonably close to the tensorflow setup, except the way transition and initialization distributions are defined (they are strictly categorical in tensorflow - it's nice to have all parameters inherit the same class, but in my view nothing game changing).

However, would it not still make sense to have a dedicated native HMM c

[2020-09-27 16:23] AlexTS1980 commented on #4144
It is certainly related to the mismatch between labels tensor size and the model's architecture (not necessarily at the output stage).

I was first training Mask R-CNN with 2 positive classes and then 3, but forgot to change the number of classes in each module:

[code]

[2020-09-27 17:04] fritzo commented on #45133
@elSomewhere note you can `import pyro.distributions as dist` and use `dist.DiscreteHMM` in pure PyTorch code without adopting any of Pyro's Bayesian methodology

[2020-09-27 18:39] Filco306 commented on #10657
Is it possible to use one NVIDIA and one AMD graphics card together? Has anybody done this, or does anybody know of any resources showing how to do this?

[2020-09-27 19:27] t-vi commented on #10657
@Filco306 You can have them in the same machine, but not in the same PyTorch. The reason is mainly the technical decision of having the HIP version patch the CUDA bits into HIP bits. For many, (most?) things, this goes into new .hip files, so these would likely be OK, but the headers for the CUDA bookkeeping itself are replacing CUDA with HIP versions (e.g. the CUDAContext) . If this were abstract

[2020-09-27 19:30] nihuo76 commented on #30525
same issue on windows 10

torch: 1.4.0
tensorboard: 2.2.1

[2020-09-27 19:32] liulai opened #45398 "build_android.sh"
## 🐛 Bug

[code]

## Environment

OS:Ubuntu
cmake version:3.16.3
computer: ThinkPad

## Additional context

[CMakeError.log](https://github.com/pytorch/pytorch/files/5288904/CMakeError.log)
[CMakeOutput.log](https://github.com/pytorch/pytorch/files/5288907/CMakeOutput.log)

[2020-09-27 19:46] macster110 opened #45399 "Load ExtraFilesMap with Java library"
##  Feature

When saving a trained model, extra information can be added in Python or C++ using an ExtraFilesMap object. In Python this extra metadata can be extracted from a saved model e.g. via

extra_files = torch._C.ExtraFilesMap()
model = torch.jit.load(filepath_model, _extra_files=extra_files)
dataOptsStr = extra_files['dataOpts']

In Java a trained model can be loaded using...

Module mod =

[2020-09-27 20:33] Filco306 commented on #10657
Thank you @t-vi for your reply! Well, basically, I have an AMD graphics card built into my MacBook Pro. However, I will through my work have an additional GPU attachable to run for smaller experiments. This will be a way better one than my AMD, but if I would be able to use both would of course be beneficial.

[2020-09-27 22:59] mruberry commented on #43874
This will need to be deprecated, as libraries like CrypTen are relying on the current behavior.

[2020-09-28 00:21] mruberry opened #45403 "test_torch.py/test_inverse_cuda causes illegal memory access on some platforms"
Run the test -> illegal memory access on CUDA (on some platforms).

This is indicative of the operation illegally accessing memory.

Likely (almost definitely) caused by https://github.com/pytorch/pytorch/pull/42403.

## Environment

PyTorch version: 1.7.0a0+db4690c
Is debug build: True
CUDA used to build PyTorch: 10.1
ROCM used to build PyTorch: N/A

OS: Ubuntu 18.04.3 LTS (x86_64)
GCC version: (

[2020-09-28 00:46] AlexeyAB commented on #44782
@vkuzo

Have you ever seen something like this? I use the same model in several cases with the same Pytorch 1.6.0 / LibTorch 1.6.0:
* **non-quantized** model - OnePlus8 Snapdragon 865 - the **accuracy is bad and fast inference**
* **quantized** model - OnePlus8 Snapdragon 865 - the **accuracy is medium and 3x slower inference**

Currently I can not post these results as they are private.

Why does

[2020-09-28 01:11] lovecoffeeandmilk opened #45405 "why the following autograd.grad() return None?"
class func(torch.autograd.Function):

    '''
    The size of time slots is 1 bigger than the depth
    '''
    @staticmethod
    def forward(ctx, x0, w):
        out = torch.sum(x0 * w)
        ctx.save_for_backward(w, x0)
        return out

    @staticmethod
    def backward(ctx, grad_output):
        w, x0 = ctx.saved_tensors
        out = torch.sum(x0 * w)
        out.requires_grad = True

[2020-09-28 01:24] mruberry commented on #42896
Floordiv incorrectly truncates its quotient instead of flooring it currently. Let's track the issue in one place at: https://github.com/pytorch/pytorch/issues/43874.

[2020-09-28 01:24] #42896 closed

[2020-09-28 01:28] mruberry commented on #45403
When running the test in isolation I get:

[code]

[2020-09-28 01:33] genbei commented on #26247
Have you solved it now? I have also encountered this problem

[2020-09-28 02:22] xwang233 commented on #45403
The test at line 6091 of test_torch.py is equivalent to this

[code]

Since this is a batch 2 matrix, it's handled by cusolver after the PR. Before the PR, it was MAGMA. I tried this with CUDA 11.0 on RTX 2070 Super and there was no error.

For batch size = 2 matrix, after the PR, cusolver matrix inverse kernels are executed in parallel using different CUDA streams. This can greatly improve the pe

[2020-09-28 04:12] gemfield opened #45412 "Autocast but there are no kernels registered for this dispatch key. The operator is p�8ߎU Aborted (core dumped)"
## 🐛 Bug

After build my program with libtorch1.6 static library, there has coredump when running program:
[code]

## To Reproduce
1, build pytorch1.6 static library with: https://github.com/pytorch/pytorch/blob/master/docs/libtorch.rst
2, build executable program and link with:
[code]
3, run program:
[code]

## Environment
With Official pytorch/pytorch:1.6.0-cuda10.1-cudnn7-devel docker image and

[2020-09-28 04:15] PetrochukM opened #45414 "Module __call__ typing"
## 🚀 Feature

Python typings for `self.forward` are not propagated through `self.__call__`. This makes typing PyTorch modules pointless.

## Motivation

For complex PyTorch models, it's helpful to incorporate types for development.

## Pitch

Add typing generics to `torch.nn.Module`.

[2020-09-28 05:00] soumith commented on #25699
@seemethere can you check on this, maybe we've regressed?

[2020-09-28 07:46] jiujiangluck opened #45417 "Wrong Description about torch.logspace"
## 📚 Documentation

https://pytorch.org/docs/master/generated/torch.logspace.html

There is something wrong in this documention.

![image](https://user-images.githubusercontent.com/16516223/94403471-1134cc00-01a0-11eb-922a-cc9273658812.png)

I think it should follow the followings:

![m](https://latex.codecogs.com/gif.latex?base%5E%7B%28end%20-%20start%29%20%5Cover%20%28step%20-%201%29%7D) ( steps

[2020-09-28 07:49] lw commented on #40303
Did this start reappearing after some recent change? I remember @mrshenli mentioning something about this test in one discussion about adding barriers to init_rpc or init_process_group...

[2020-09-28 08:13] dbalchev opened #45418 "QNNPACK doesn't respect torch.set_num_threads"
## 🐛 Bug

QNNPACK ops (in particular convolution) uses all CPUs even with `torch.set_num_threads(1)` and `torch.set_num_interop_threads(1)`
## To Reproduce

Steps to reproduce the behavior:

1. Run the following script
[code]
1. Look at the system monitor, `htop` or another util for viewing CPU load

## Expected behavior
The script should use 1 CPU, but it uses all available CPUs. If I use the `fb

[2020-09-28 08:15] mruberry commented on #45295
Thank you for filing this issue. This request has come up before (we may have an existing issue for it, actually). I would be interested to see a prototype of this behavior as well as its impact on performance. How complicated would a system like this have to be before it would outperform only running part of the network on CUDA?

[2020-09-28 08:20] Flamefire opened #45419 "Invalid cast to PyCFunction for function taking only 1 argument instead of 2"
## 🐛 Bug

The function _c10d_init takes only 1 argument: https://github.com/pytorch/pytorch/blob/95a97e51b5cb16ad0067c4458ef1f1a59d94ab6f/torch/csrc/distributed/c10d/init.cpp#L130

However it is defined as `METH_NOARGS` (defined at https://docs.python.org/3/c-api/structures.html#METH_NOARGS) which takes 2 arguments.

This leads to the Python runtime passing 2 arguments where only 1 is expected whi

[2020-09-28 08:34] RichardcLee opened #45420 "Why doesn't amp improve training speed？"
## 🐛 Bug

When I use amp, CUDA memory does save a lot, but the training speed is **much** lower!

## To Reproduce

Steps to reproduce the behavior:

1. My code:

            `self.optimizer.zero_grad()
            with amp.autocast(enabled=self.opt.amp):
                # if deep sup: get multiple output(a tuple), else: get a batch(Tensor)
                output = self.model(src_img)    # forward

[2020-09-28 08:37] ximplia-marco-bagnaresi commented on #43300
Is this problem solved? Is it possible to use pytorch-1.6 without AVX support? Please let me know.

[2020-09-28 08:43] t-vi commented on #10657
@Filco306 So quite likely, switching between PyTorch installations would work then. However, note that ROCm supports only [selected AMD graphics cards](https://github.com/RadeonOpenCompute/ROCm#supported-gpus) and is for Linux (but the implications are strictly offtopic here and there are issues over at [the ROCm github project](https://github.com/RadeonOpenCompute/ROCm/issues) discussing them).

[2020-09-28 08:52] Enolerobotti commented on #34054
@spandantiwari,  unfortunately this does not work for me.
[code]

`onnxruntime.InferenceSession('dummy.pt')`

[2020-09-28 09:16] eaedk commented on #45295
I don’t really have answers. I never went deeper in the source code of PyTorch. What I want is a way to avoid memory error in three cases :
1 - when models are too large for gpu’s memory;
2 - when we want to pass big images;
3 - when gpu’s memory was use before by another models.

[2020-09-28 09:24] eaedk commented on #45295
Hypothesis for the three points :
1 - Use RAM to save some model’s parameters or intermediate computing results ;
2 - An auto gradient accumulator which compute the number of images that could feed the model;
3 - A gpu’s memory cleaner.

[2020-09-28 09:27] ivkireev86 opened #45422 "`matmul` output depends on batch_size"
## 🐛 Bug

I need `torch.matmul(A, B)` results. Due to some reasons I split A by rows into batches. Final output should not depend on the size of the batch, but it does. Difference is small, but for repeated multiplications, for example for of recurent network, it become bigger.

## To Reproduce

Steps to reproduce the behavior:

1. Run the code:
[code]

## Expected behavior

I expect the same resu

[2020-09-28 09:41] mbengterry opened #45423 "Cannot create new account in Pytorch forum"
## ❓ Questions and Help
I have been trying to create an account in order to post something I need help with, but each time I enter all the information and click on "Create New Account", I get the error **Something went wrong, perhaps this email is already registered, try the forgot password link**. I don't have any pytorch forum account. How can that be fixed? I really have a burning issue which I

[2020-09-28 10:09] vadimkantorov commented on #17113
@mrshenli It would be good to have a controlled way to terminate all the processes, in case one of processes hits some critical error. A frequent example is OOM which is notoriously difficult to recover from in DDP setting

[2020-09-28 11:04] Filco306 commented on #10657
@t-vi yes, that seems like the approach. And yes, I do know that I need Linux, so will probably partition my disk and install Ubuntu as well. Thanks!

[2020-09-28 11:12] mbengterry opened #45425 "RuntimeError: given groups=1, weight of size [512, 1024, 1, 1], expected input[4, 512, 188, 188] to have 1024 channels, but got 512 channels instead."
## ❓ Questions and Help
I am trying to reproduce this method for satellite image segmentation i found on a blog post but I keep getting the above error.
How can I modify the network or manipulate the input to fit the required dimensions?

Here is the network

`
class ConvRelu(nn.Module):

    def __init__(self, in_depth, out_depth):
        super(ConvRelu, self).__init__()
        self.conv = torc

[2020-09-28 11:24] LuckyDC commented on #42300
+1， same warning when conduct point-wise operation between 2 4-d tensors

[2020-09-28 11:37] tengerye commented on #28418
Hi, by any chance, has the issue been solved yet please?

[2020-09-28 11:45] MSKazemi commented on #44473
with the following line of codes, it starts to work.
torch.backends.cudnn.enabled = False

[2020-09-28 11:45] areebsyed commented on #16417
I am getting this error while predicting a video file of about 180MB and it gives out this error. And I didnt resize the frame size too. Could it be this issue? How should I tune it?

[2020-09-28 12:10] YuxianMeng opened #45427 "Memory Consumption of DistributedSampler too large when deal with huge datasets"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. create a dataset with large __len__
1. use DistributedSampler as its sampler
1. it could be find that `.tolist()` operation would cause many times of memory than original torch.Tensor object

## Expected behavior

We can delete `to_list` operation and write a simply iterator to prevent huge memory consumption:

## Environment

Please

[2020-09-28 12:17] xiaoMrzhang opened #45428 "Use libtorch for online inference: an illegal memory access was encountered"
## ❓ Questions and Help
We have trained a detection model and save as torchscript object, but when we do online inference by libtorch library, there are some strange error with cuda. The error is:"context_gpu.h:195 Check failed: error == cudaSuccess (700 vs. 0) an illegal memory access was encountered ". And the error does not appear every time, even with the same data
pytorch:1.5.1
CUDA Version 1

[2020-09-28 12:26] raymon-tian commented on #33296
At the beginning of the program, first import cv2,  and then import torch.
[code]
It works for me.

My torch version is 1.6.9a+c790476.

@YuechengLi @daixiangzi @weidezhang

[2020-09-28 12:58] pere-gb commented on #45423
Been having the same problem

[2020-09-28 13:35] EricCousineau-TRI commented on #23156
FWIW I'm guessing that I ran into this too here:
https://gist.github.com/EricCousineau-TRI/4d9ec78adf4b566b6d1ce7ab4b643670#file-torch_mask_gradient_nonfinite-py-L98-L108

In a simplified case, I am doing an element-wise multiplication of two vectors, where the constant vector may have an entry of `inf` (for depth images). Basically:
[code]

I think I understand all of this behavior except for the

[2020-09-28 14:26] n-v-k opened #45431 "[caffe2] SliceOp negative start axis indexing issue"
## 🐛 Bug

Caffe2 Slice operator produces wrong outputs if negative values passed for start index.
This sample with second dimension slice start index passed as negative value:
[code]
produces output:

[code]
However, according to documentation:

I think it should return:
[code]
Also, according to the code, it is possible to omit dimensions after the sliced one when providing start and end indices

[2020-09-28 14:47] itssimon commented on #30517
Still not supported :-(

`RuntimeError: Exporting the operator broadcast_tensors to ONNX opset version 11 is not supported. Please open a bug to request ONNX export support for the missing operator.`

Anything we can do to expedite the implementation of this operator?

[2020-09-28 15:03] seemethere commented on #25699
Interestingly enough, it appears as though we haven't regressed, we just never had a `libtorch.a` in our `static` zip archives:

Script used to test:
[code]

Results:
[code]

[2020-09-28 15:08] nikitaved commented on #38948
A PR that implements support for the symmetric case with `B=I` has been merged. After a short break I plan to implement the remaining two cases cases, that is
1. Grad wrt A for arbitrary B when `B.requires_grad == False` and
2. Grad wrt A and B when both require grads.

[2020-09-28 15:28] gchanan commented on #6040
this looks old enough that I'm going to close -- we've fixed a number of these issues too.

[2020-09-28 15:28] #6040 closed

[2020-09-28 15:29] gchanan commented on #6094
I believe this is fixed.

[2020-09-28 15:29] #6094 closed

[2020-09-28 15:31] #6066 closed

[2020-09-28 15:31] #6067 closed

[2020-09-28 15:37] albanD commented on #45295
Hi,

We already have solutions for a lot of these:
- You can use `utils.checkpoint` to recompute the temporary buffers instead of saving them.
- You can split up your batch to reduce overall memory without changing the behavior (see [this](https://discuss.pytorch.org/t/why-do-we-need-to-set-the-gradients-manually-to-zero-in-pytorch/4903/20) forum post for details).
- The GPU memory is available fo

[2020-09-28 15:54] gchanan commented on #45303
this doesn't appear to be a pytorch bug.  Please post on the forum https://discuss.pytorch.org/ instead.

[2020-09-28 15:54] #45303 closed

[2020-09-28 15:55] malfet opened #45436 "Enable torch.cuda.amp typechecking during CI"
TestTypeHints.test_run_mypy_strict should pass with [mypy-torch.cuda.amp.*] deleted from mypy.ini

cc @ezyang @malfet @rgommers @xuzhao9 @gramster

[2020-09-28 15:56] gchanan commented on #45386
Please ask questions on the forum (https://discuss.pytorch.org/).

[2020-09-28 15:56] #45386 closed

[2020-09-28 15:59] radekosmulski opened #45437 "passing hidden state to an LSTM removes the first dimension and causes an error"
## 🐛 Bug

As in the tile. I am submitting the code needed to reproduce the issue and including a screenshot of the output.

## To Reproduce

Steps to reproduce the behavior:

![image](https://user-images.githubusercontent.com/2444926/94455803-a42b3180-01b3-11eb-9603-fa61037c6d16.png)

[code]
## Expected behavior

A single layer LSTM can have hidden state passed into it.

## Environment

[code]

[2020-09-28 15:59] gchanan commented on #45395
I was able to reproduce this, I got this when clicking "Create New Account".

[2020-09-28 16:01] gchanan commented on #45423
Confirmed, using this issue as the tracker: https://github.com/pytorch/pytorch/issues/45395

[2020-09-28 16:01] #45423 closed

[2020-09-28 16:02] seemethere commented on #6117
I see this issue is more than 2 years old, @aisri if you're still having this issue feel free to re-open

[2020-09-28 16:02] #6117 closed

[2020-09-28 16:03] gchanan commented on #45422
Please ask questions on the discussion forum: https://discuss.pytorch.org/.

[2020-09-28 16:03] #45422 closed

[2020-09-28 16:03] shubhambhokare1 commented on #34054
I have made some changes to the functionality that gets rid of this error, will update ASAP.

[2020-09-28 16:03] radekosmulski commented on #45437
Just tested with 2 layers - getting same results. Seems passing the hidden state doesn't work regardless of number of layers.

![image](https://user-images.githubusercontent.com/2444926/94457522-f587f080-01b4-11eb-9b69-2f0d5e4fbfb2.png)

[2020-09-28 16:04] gchanan commented on #45428
can you provide the model or try 1.6.0?  It's going to be extremely difficult to debug with this information.

[2020-09-28 16:11] ngimel commented on #44473
@MSKazemi can you please collect cudnn logs for your model? https://docs.nvidia.com/deeplearning/cudnn/developer-guide/index.html#api-logging

[2020-09-28 16:11] radekosmulski commented on #45437
I misread the error message... sorry

[2020-09-28 16:11] #45437 closed

[2020-09-28 16:12] yeoserene commented on #31985
I am having the same problem as @wahlberg82. Running my executable with CPU only doesn't spawn any problems, but trying to run it with GPU after compilation gives: "Error in dlopen or dlsym: libcaffe2_nvrtc.so: cannot open shared object file: No such file or directory". I also need this as a standalone that can run perfectly by itself.

[2020-09-28 16:14] gchanan commented on #45405
please ask questions on the forum: https://discuss.pytorch.org/.

[2020-09-28 16:14] #45405 closed

[2020-09-28 16:34] adam-ce opened #45444 "Using operator[] in GenericPackedTensorAccessor impossible in cpu code in .cu files (tensor on cpu)"
## 🐛 Bug
I want to use the same `__host__ __device__` function for computation on the cpu and gpu, therefore i put it into a ".cu" file. It accesses data using the accessor objects retrieved via `tensor.packed_accessor32<...>(...)`. I later I create a `__host__ __device__` lambda and dispatch it to either the cpu or the gpu, depending on the tensor's device. This way I can use the host debugger an

[2020-09-28 16:41] seemethere commented on #45387
The tar source archives are automatically created by GitHub whenever a release / tag is created.

These are not official ways to build pytorch from source and we would recommend checking out the tag and building from there.

Do note that building pytorch also requires its sub modules so those will need to be initialized as well

[2020-09-28 16:52] gchanan commented on #45357
A quick reading of the docs and napkin math suggests it should be `(3,4)` so either the code or the docs are wrong.

[2020-09-28 16:59] ngimel commented on #45274
Does not reproduce on linux/P100/cuda10.1

[2020-09-28 17:05] Xparx commented on #21819
I have the same issue.
It arose after I added pytorch tensorboard to my pipeline.
The reason it seems to have happened is i forgot to push my data to the gpu before writing the graph with data to tensorboard.

Here is a small "similar" example. It actually errors for some reason which my training did not. But after running it the `model.wieght` is inaccessible.

[code]
now try to access `model.wei

[2020-09-28 17:05] ngimel commented on #45403
It does not repro with cuda 10.1.243, we should disable cusolver for 10.1.105. @xwang233 is there a way to distinguish between patch releases in ifdefs?

[2020-09-28 17:07] gchanan commented on #45324
not a crash.

[2020-09-28 17:08] walterddr commented on #45274
I did a little digging on the issue. seems like the exceptional numbers are actually produced from the cpu side instead of the cuda side (that's why cudnn-enable flag doesn't actually affects the test results)

also I cant reproduce using single python script. I guess something is wrong with the test setup itself.

[2020-09-28 17:10] gchanan commented on #45136
Is this due to the format?  I.e. if you use `_use_new_zipfile_serialization=False` does it work?

[2020-09-28 17:12] mruberry commented on #45113
Part 1 of fixing this is probably to document sspaddmm. Part 2 may be to rewrite it using other ops.

[2020-09-28 17:12] ngimel commented on #21819
@xparx please file a separate issue

[2020-09-28 17:14] gchanan commented on #45136
ya, it works if you pass that flag, i.e.:

[code]

[2020-09-28 17:16] zou3519 commented on #45338
cc @mrshenli @pritamdamania -- marked this as hi-pri because it's a tutorial example. Could you take a look please?

[2020-09-28 17:19] malfet commented on #45269
Hmm, and if tensor size is 50x50, then it crashes with double free:
[code]

[2020-09-28 17:20] soumith commented on #45395
cc: @ptrblck

[2020-09-28 17:21] zou3519 commented on #45324
As @gchanan mentioned, this isn't a crash. It's an internal assertion error that's being shown to users. We should generally not assert to the user and instead raise nice error messages if possible, so I'm leaving this at hi pri

[2020-09-28 17:25] zou3519 commented on #45198
@malfet and @mruberry note: Potential import order problem. We agree this should be hi-pri for repro

[2020-09-28 17:26] soumith commented on #45395
can you see if it works now. we fixed it.
please reopen if it doesn't work

[2020-09-28 17:26] #45395 closed

[2020-09-28 17:26] zou3519 commented on #45136
cc @jamesr66a for the new zipfile serialization -- do you know what is up or who is maintaining the zipfile serialization?

[2020-09-28 17:30] DengNaichen commented on #45395
hello,
it works now, thank you for your help!

On Mon, Sep 28, 2020 at 1:26 PM Soumith Chintala <notifications@github.com>
wrote:

[2020-09-28 17:38] TheKinginTheNorth-BrandonLuo commented on #42078
That's worked for me, thanks!

[2020-09-28 17:39] xwang233 commented on #45403
I think they have different CUDA_VERSION macros. I'll check that.

[2020-09-28 17:40] malfet commented on #45198
Can't reproduce using torch-1.7.0a0+fa6b34b

[2020-09-28 17:47] gchanan commented on #45269
a real crash!

[2020-09-28 17:49] ngimel opened #45446 "torch.var_mean and torch.std_mean does not have `out` variant"
Almost all torch functions allow users to specify `out` kwarg, var_mean and std_mean should not be different.

[2020-09-28 18:06] neginraoof commented on #35516
Thanks for reporting this.
The difference between opset 10 and 11 export is because the spec of this operator has been updated in ONNX opset 11, and some op attributes have become op inputs. This updated has enabled export of pad operator with dynamic input shape in opset 11. You can export the model with pad op with an input tensor of certain shape and run it with another input of different shape

[2020-09-28 18:10] eellison commented on #33354
Hi, I worked on improving compilation times for the 1.7 release. I was looking at Densenet in particular and got the compilation times for the first run down from 56s -> ~1s. If you're still experiencing bad compilation issues on the latest master could you please comment with a repro ?

[2020-09-28 18:19] ngimel opened #45447 "Retire usages of CUDA_tensor_apply helpers in ATen"
CUDA_tensor_apply helpers were historically created to mimic THC_PointwiseApply, but since then this functionality has been better reimplemented with TensorIterator. Most usages since then have been ported to TensorIterator. Remaining usage is CUDA_tensor_apply2 in Distributions.cu, and it is a pointwise kernel that should be handled by TensorIterator.

[2020-09-28 18:36] mrshenli commented on #45338
Hey @DN6, looks like you are using PyTorch v1.4 where RPC is a beta feature. Since v1.5, the `dist_autograd.backward()` API added a `context_id` field as the first argument to make it functional. Upgrading to the latest version should fix this error.

[2020-09-28 18:41] gchanan commented on #45446
doesn't `std_mean` not have an out variant either?

[2020-09-28 18:41] gchanan commented on #45446
I'm also not sure we want to support this -- does anyone actually want these functions?

[2020-09-28 18:50] KsenijaS opened #45448 "CuDNN version not found"
When compiling the latest pytorch, I get this error:
-- Caffe2: CUDA detected: 10.2
-- Caffe2: CUDA nvcc is: /usr/local/cuda/bin/nvcc
-- Caffe2: CUDA toolkit directory: /usr/local/cuda
-- Caffe2: Header version is: 10.2
-- Found cuDNN: v?  (include: /usr/local/cuda/include, library: /usr/local/cuda/lib64/libcudnn.so)
CMake Error at cmake/public/cuda.cmake:174 (message):
  PyTorch requires cuDNN 7

[2020-09-28 18:52] suo commented on #45100
@lizezheng Thanks for the report! However, without a script or something we can run to reproduce the issue directly, it is hard for us to investigate and debug this assertion. Are you able to share the code that you are running, or a simplified snippet to reproduce the issue?

[2020-09-28 18:54] gchanan commented on #45367
looks like this got fixed on master:

[code]

I confirmed this is an issue on 1.6.0.

[2020-09-28 18:54] xwang233 commented on #45403
Here are the cusolver header files on my machine
[code]

To only enable cusolver for cuda >= 10.1.243, we can change the guard to
[code]

The first `CUDART_VERSION` is used to guard ROCm.

[2020-09-28 18:54] #45367 closed

[2020-09-28 19:00] gchanan commented on #14996
The behavior in both cases is correct according to the clause in the docs: "If the data is already a Tensor with the same dtype and device, no copy will be performed."  But the documentation for the `device` property doesn't specify that.

[2020-09-28 19:14] jamesr66a opened #45449 "[FX] Write an AST rewriter"
https://github.com/pytorch/pytorch/pull/45188#issuecomment-698644988

[2020-09-28 19:18] gchanan commented on #45425
please ask questions on the forum: https://discuss.pytorch.org/.

[2020-09-28 19:18] #45425 closed

[2020-09-28 19:37] ngimel commented on #45367
Fixed in #41984 and the fix is bc-breaking.

[2020-09-28 19:40] bertmaher commented on #44881
I think the error here is that:
[code]
should be
[code]

I've made that mistake as well and it seems confusing to have `emit_nvtx` in the `autograd.profiler` package, but enable its use via the `cuda.profiler` package.

[2020-09-28 19:43] lematt1991 commented on #44881
Ah you're right, I totally missed that!  Thanks for pointing this out, it works using `torch.cuda.profiler.profile()`.  I'll close the issue.

[2020-09-28 19:43] #44881 closed

[2020-09-28 19:43] brando90 commented on #43766
@gmagogsfm

I cannot update due to hardware reasons (using ibm ppc64le architecture).

What is the solution?

[2020-09-28 19:49] ngimel commented on #45446
Yes, std_mean doesn't have out variant either. What is our rule for supporting/not supporting `out` variants? It can't be "someone wants to use them" because we have many functions with `out` variants that are never used.

[2020-09-28 19:51] anjali411 commented on #45385
Hi @AqibHasnain thanks for the feature request! Complex Number Support is definitely on the radar and is being worked upon. you can track the progress for various ongoing tasks here: https://github.com/pytorch/pytorch/issues/33152.  From what I know, a lot of linear algebra functions (for complex input) surface in audio applications, so the community will certainly benefit from the extended suppor

[2020-09-28 19:56] ngimel commented on #45403
Cool, can you please submit a PR?

[2020-09-28 19:58] xwang233 commented on #45403
Sure, thanks!

[2020-09-28 20:16] MSKazemi commented on #44473
please find the attached file.
[cudnn_debug.log](https://github.com/pytorch/pytorch/files/5294842/cudnn_debug.log)

[2020-09-28 20:19] MSKazemi commented on #44473
please find in the attached file.
[cudnn_debug.log](https://github.com/pytorch/pytorch/files/5294853/cudnn_debug.log)

[2020-09-28 20:24] pearu commented on #43347
Notice that the memory issue of the gradient of sparse tensor being a full sparse tensor (containing non-zeros but all equal) would be resolved by introducing fill value to sparse tensors as in https://github.com/pytorch/rfcs/pull/8 because then we would have:
[code]

Re "we need to decide what the semantics of dense+sparse operation is.": both `index_add` and regular addition can be supported whe

[2020-09-28 20:29] ngimel commented on #43347
In the general case, the memory issue of the gradient won't be solved. In this particular case the gradOutput that sum operation received is all ones, but that's because this is synthetic case. In general, gradOutput will be a dense tensor with all different values.

[2020-09-28 20:37] pearu opened #45459 "Backward for sparse tensor item select does not work"
## 🐛 Bug

Computing a backward of sparse tensor item selection fails.

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

Backward for a strided tensor item selection works:
[code]

Hence, for a sparse tensor, this should happen:
[code]

## Environment

 - PyTorch Version: 1.7.0 (current master)

[2020-09-28 20:45] zou3519 opened #45460 "CrossEntropyLoss hyperlinks don't work"
## 📚 Documentation

CrossEntropyLoss mentions nn.LogSoftmax and nn.NLLLoss. It would be nice if those linked back to the relevant modules.

![image](https://user-images.githubusercontent.com/5652049/94484166-f9fadc00-01a9-11eb-9e51-162463caa518.png)

cc @albanD @mruberry

[2020-09-28 21:15] wgale commented on #44945
I think this would be a better way of addressing #42323 as that is trying to analyze where softmax will fail and then correct for it, whereas this tries to avoid it altogether.

I've found that fusing them gave a similar performance improvement in python/pytorch (following a similar implementation to torchtext). It also makes it easier to handle #42323.

[2020-09-28 21:22] yf225 commented on #37516
This is important for avoiding code duplication in PyPer models. Consider the following use case:
[code]
One theoretically plausible workaround which doesn't work:
[code]
So to avoid code duplication, we need `isinstance(foo, dict)` and `isinstance(foo, list)` to work. :)

[2020-09-28 21:31] mtikekar commented on #14996
In the example I gave, the device of the input tensor is cpu and the expected device of output tensor is cuda, so the clause you have quoted does not apply and copying from cpu to cuda is the expected behaviour.

[2020-09-28 21:42] walterddr commented on #45274
closing this since it is a very inconsistent reproduction. I will create another one if it can be consistently reproduced

[2020-09-28 21:42] iseeyuan opened #45465 "torchscript model size increases when loading and saving it again"
## 🐛 Bug

For the same jit model file, if I load and save it again, the size increases from 1.8 MB to 3.1 MB.

## To Reproduce

Steps to reproduce the behavior:

1. Please note that the model link provided below is an internal link
`cp /mnt/vol/gfsai-oregon/aml/mobile-vision/body_tracking/ts_f179073222_300_10_3_opt_09162020/detectandtrack.jit ~/models/.
`
2. Python
[code]

## Expected behavior

de

[2020-09-28 21:43] vadimkantorov commented on #45446
@gchanan I used them as a simple implementation of InstanceNorm. Specifying dimensions explicitly is a clear way to express what dimensions are aggregated out. But it would be good if there wasy a unifying API for existing Batch/Layer/Instance-normalization modules. For other normalization needs, it is often that we need severla moments together, and this saves a pass over data. My two other issue

[2020-09-28 22:48] guilhermesurek commented on #16417
@areebsyed Check the ram memory, I had this issue when set many workers in parallel.

[2020-09-28 22:53] jacobaustin123 commented on #45028
I also ran into an issue building cpp extensions, which warned that the 8_6 gencode wasn't supported. Just adding it directly to the list of supported gen codes in `torch/utils/cpp_extension.py` worked. Note that this was in 1.7 nightly, which I otherwise had no issues with on a 3080.

[2020-09-28 23:14] AqibHasnain commented on #45385
@anjali411 thanks! If I get a bit of time, I will certainly let you know about contributing to the complex numbers support.

Thanks for the clarification on complex autograd. The warning that autograd gave had me worried that the complex parameters would be an issue.

[2020-09-28 23:16] neeraj-j commented on #45185
Thanks @vkzo this looks like a good pointer. I will look into it in couple of days.
In the mean while, I am wondering, if you have any quantization demo on Object detection, keypoints, image segmentation.  else I will create it on large data set and share it.

[2020-09-29 00:02] mtikekar commented on #45367
Hi @ngimel, I believe this is a wrong fix (or at least, inconsistent with the documentation) According to: https://pytorch.org/docs/master/generated/torch.as_tensor.html#torch.as_tensor

In both the cases above, `device` is `None`, which means it should use the cpu device as that is the default tensor type (unless someone explicitly runs something like `torch.set_default_tensor_type(torch.cuda.Flo

[2020-09-29 00:11] mtikekar commented on #14996
@gchanan I pointed this out on #45367 but I'm repeating it here as that issue was already closed before I commented. The behavior is not consistent with the documentation. One way to make it consistent would be to fix the documentation. It should read:

(edits in bold)

The other way would be to fix the code. I would prefer that because it simplifies the behavior but it is breaks backward compatib

[2020-09-29 00:19] #41432 closed

[2020-09-29 01:30] #43829 closed

[2020-09-29 01:35] ezyang commented on #45414
@PetrochukM you might consider trying the workaround in https://github.com/pytorch/pytorch/issues/44605 You can also do it less magically by simply redefining `__call__` but having it call super; this should preserve hooks working.

We cannot make Module Generic in the desired way as we need variadic generics to support typing the arguments of the inputs, but mypy doesn't currently support variadi

[2020-09-29 03:04] athn-nik commented on #8069
Here is another quick workout which got me through this:
[code]

[2020-09-29 03:33] Xparx opened #45481 "Combining add_scalar with add_hparams with different frequencey"
## ❓ Questions and Help
How do I combine add_scalar done for each epoch and add_hparams with performance values computed after all training is done?

Currently adding the hparams removes the training curves with loss values and either replace them with single values (if contained in hparams) or just removes them if not provided in hparams.

[2020-09-29 04:25] Kulbear opened #45483 "Extra arguments included in the doc where they are not actually presented in the source code"
## 📚 Documentation

In the doc, it says multiple LR schedulers have an argument `verbose` for the __init__ method, but they actually don't have it.

For example, check here https://pytorch.org/docs/stable/_modules/torch/optim/lr_scheduler.html#MultiStepLR
![image](https://user-images.githubusercontent.com/14886380/94512520-70630280-01d9-11eb-9559-f66d423408d5.png)

But if you look at the documenta

[2020-09-29 05:09] dzhulgakov commented on #45072
So is the proposal to make sure that `script()` always does shallow copy in its implementation? Because JIT today doesn't do it for the duration of scripting.

Well, `module.apply` actually works recursively for all submodules. But the overall point is taken.

I wonder whether this method should be called with name like `__torchscript__` to signify it's magical and is not supposed to be called by

[2020-09-29 05:34] malfet commented on #45269
Actually, there are two separate issue: incorrect invocation of LAPACK's `zgesdd` for `std::complex<double>` and indeed a missing dispatch for special copy op for transposed tensors

[2020-09-29 07:09] xwang233 opened #45490 "torch.autograd.profiler.load_nvprof() crash"
## 🐛 Bug

torch.autograd.profiler.load_nvprof() crash because
[code]

## To Reproduce

Steps to reproduce the behavior:

Get a nvprof trace file, then
[code]

## Expected behavior

No crash

## Environment

1.7.0a0+ 208df1a
cuda 11.0

## Additional context

constructor call

https://github.com/pytorch/pytorch/blob/50b91103a90ac87c7836a330d692f5db3949f1ee/torch/autograd/profiler.py#L1041-L1045

con

[2020-09-29 07:15] saimazansari commented on #12711
Thank you. It worked for me

[2020-09-29 07:30] #41754 closed

[2020-09-29 07:43] ruichernob commented on #45276
The failure caused by attempt to perform casting of the model output to tensor.
[code]

The following instruction works well:
[code]

[2020-09-29 07:43] #45276 closed

[2020-09-29 07:54] gmagogsfm commented on #37516
I am pretty sure I am missing something, but would it be enough to encapsulate the logic into functions to avoid duplication?

To be clear, even with all code in a function, this is still inconvenient and we should improve the situation, just wanted to get more clarity. Thanks.

[2020-09-29 07:57] gmagogsfm commented on #45225
Hi @supriyar, could you give a code example to reproduce the issue? We are happy to investigate further and a repro would help a ton. Thanks!

[2020-09-29 08:15] jmlemercier commented on #33152
Great, thanks for the notice

[2020-09-29 08:34] fmassa commented on #45242
@albanD can you expand how we can perform in-place parameter updates with autograd support? Or are we going to be having two implementations, one inplace and the other out-of-place?

From @vincentqb comment in https://github.com/pytorch/pytorch/issues/39279#issuecomment-685817319 it looks like that might be the case, via a `differentiable` flag.
The approach proposed in that comment (which I paste

[2020-09-29 08:57] MarouaneMaatouk opened #45493 "Build LibTorch for cpu using static OpenBLAS"
Hi,
I want to build libtorch using a static OpenBLAS, here's what i did so far:
[code]
Also i've had to change remove a path to **libopenblas.a** in the **INTERFACE_LINK_LIBRARIES** file: ```Caffe2Targets.cmake```
[code]
I've did try to use static MKL which works perfectly fine, thus I am not sure if this is the right way to do it,
training is fine but i am having an error in inference (building m

[2020-09-29 09:14] volcacius opened #45494 "Wrong signature for torch.max_pool(1d, 2d, 3d) in get_testing_overrides()"
## 🐛 Bug

torch.max_pool(1d, 2d, 3d) doesn't take return_indices as an argument, as seen in torch/\_\_init\_\_.pyi (while torch.nn.functional.max_pool(1d, 2d, 3d,) and torch._max_pool(1d, 2d, 3d) do) .
However, the signature reported in torch/overrides.py/get_testing_overrides() includes return_indices as an argument.

## To Reproduce

Compare the two files mentioned above.

## Expected behavior

[2020-09-29 09:22] vadimkantorov commented on #45446
For std_mean/var_mean maybe two out arguments would be needed

[2020-09-29 09:39] t-vi commented on #39690
There is `torch._C._jit_pass_complete_shape_analysis(graph, inputs, with_grad:Bool)` which works, but is internal.

[2020-09-29 09:42] Mabinogiysk opened #45496 "Compile Error for .cu files when using libtorch"
## 🐛 Bug
I know this is a repeated question, however it has not been resolved. I am working on a project and only this problem left. I desperately want a solution.
`.cu` files cannot be compiled when using libtorch due to this error:
[code]
I wonder is there any way to solve it by editing `CMakeLists.txt`？

Discuss in detail: https://github.com/pytorch/pytorch/issues/31283
1. Switching to cuda10.2

[2020-09-29 10:10] Vozf opened #45497 "torch.Module typing __init__ no return value"
__init__ return value should be specified as None. Now it doesn't have any
https://github.com/pytorch/pytorch/blob/master/torch/nn/modules/module.py#L223

https://www.python.org/dev/peps/pep-0484/#the-meaning-of-annotations

cc @albanD @mruberry @ezyang @malfet @rgommers @xuzhao9 @gramster

[2020-09-29 10:33] davidbau commented on #44010
It is good that pytorch matches numpy's implmentation of "tiny" (as it currently does).

While numpy documentation calls it "The smallest positive usable number" it would be more technically precise to describe `tiny` is the "smallest positive normal number".

If what's needed is the smallest spacing between numbers, maybe it would be useful to implement `numpy.spacing`.

[code]

[2020-09-29 10:36] vfdev-5 opened #45498 "Torch jit script. "Could not export Python function call 'type'" on save method"
## 🐛 Bug

The following error
[code]
is raised only on `save` and in a specific case. See below.

## To Reproduce

[code]
and output
[code]

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out the checklist below manually).

You can get the script and run it with:

[2020-09-29 10:45] mruberry opened #45499 "torch.nonzero(t, as_tuple=...) does not work with the JIT because the as_tuple signatures are not exposed properly"
[code]

This is because of the Python arg parsing done to handle the "as_tuple" kwarg. Note that tracing works fine.

[2020-09-29 10:58] JadeSure commented on #22676
same problem

[2020-09-29 11:15] mruberry commented on #45372
@zasdfgbnm, who wrote the relevant lines.

Looks OK to me but he's the expert.

[2020-09-29 11:58] icyhearts commented on #39690
I also need this utility.

[2020-09-29 13:24] mruberry commented on #14996
I created a PR to clarify the docs. Separately, I think we should deprecate `torch.set_default_tensor_type`. I'll create a separate issue to discuss that, however, after the 1.7 branch cut.

[2020-09-29 13:25] meganset opened #45502 "C++ TransformerEncoder constructor missing compared to decoder"
## 🐛 Bug

minor anomaly in the contructors of Encoder/Decoder, not sure if this is by design.

The decoder has 2 constructors:
via an options structure,
or via the decoder layer module itself and a number of layers to repeat.

The encoder only allows construction via an options structure.

from nn/modules/transformercoder.h:

[code]
vs
[code]

cc @yf225 @glaringlee

[2020-09-29 13:27] jbojar commented on #35191
I think this warning about forward and backward hooks in `DistributedDataParallel` is valid only if model is replicated by `DistributedDataParallel.replicate` method. And this can happen probably only when using multiple GPUs in single process.

In single-gpu-per-process mode whole model is created from scratch on every node and forward and backward hooks work just fine (we didn't experienced any

[2020-09-29 13:39] realiti4 commented on #21819
I also got this error with Pytorch 1.6.0, Cuda 10.2 and Cudnn 7.6.5

[code]

[2020-09-29 14:40] #45184 closed

[2020-09-29 14:55] prameth commented on #21819
https://github.com/pytorch/pytorch/issues/21819#issuecomment-698809496

[2020-09-29 14:56] imjiangjun opened #45503 "Tensorboard makes logger handlers (except the 1st one) DISAPPEAR !"
## 🐛 Bug

I want to record some information into log-file and print it in console at the same time. **So I use two logger handlers.**
I also want to plot some figures so I use Tensorboard to make it.

However, I found that **after initializing the SummaryWriter, the 2nd handler always disappeared** and all log messages couldn't be displayed in console!
## To Reproduce

Steps to reproduce the behav

[2020-09-29 15:32] mruberry commented on #45352
I recommend wrapping the PyTorch function to get the functionality you want.

I'm leery of cluttering the UX with lots of flags, and I worry that users might be confused the other way ("I accidentally put in a negative index and it didn't error!") if we change the default behavior.

[2020-09-29 15:33] albanD commented on #45242
There are two things:
- The original Parameter (leafs) cannot be modified inplace as we need to use them to perform the outter optimization. The intermediary ones can be modified inplace if their value is not needed for backward (unfortunately they usually are as weights for conv/linear etc are always required).
- The other ops within the optimizer implementation might not be able to be done inpla

[2020-09-29 15:48] glaringlee opened #45505 "Preserve layout permutation for non-dense-non-overlapping tensor in *_like functions."
Currently, all the like functions will preserve the tensor permutation for dense-non-overlapping tensor. But for non-dense-non-overlapping tensors, it basically just allocate a new contiguous tensor, so we lose layout permutation.

eg.
[code]

For non-dense-non-overlapping tensor (strided), its layout permutation should be preserved.

cc @ezyang @gchanan @VitalyFedyunin @jamesr66a @ppwwyyxx

[2020-09-29 15:53] albanD commented on #45372
Hi,

I am not sure you want to do that. In particular, the deterministic flag can change from one run to the next and so you don't want to use cache that was created with `deterministic=false` when you now have `deterministic=true`.
But maybe I misread the code?

[2020-09-29 16:34] #45436 closed

[2020-09-29 17:09] supriyar commented on #45225
Sure, here is a repro.
[code]

Throws the following error
[code]

Note, the error thrown is due to not calling the custom `load_from_state_dict` that resizes the attributes based on the input size - https://github.com/pytorch/pytorch/blob/master/torch/quantization/observer.py#L638. I've currently implemented a workaround for this by defining a function to load observer stats separately here - http

[2020-09-29 17:10] SsnL commented on #45505
I'm not sure that `rand_like(embmat[3])` should allocate a tensor as large as `embmat`.

[2020-09-29 17:12] SplitInfinity commented on #45208
What about writing your code like this:
[code]

[2020-09-29 17:24] ngimel commented on #45446
They won't be the first functions requiring tuple `out`.

[2020-09-29 17:27] twoertwein commented on #37718
Wouldn't `torch.jit.fork` and `torch.jit.wait` would be a perfect way to implement that?

For ModuleList
[code]
For ModuleDict
[code]

[2020-09-29 17:43] ngimel commented on #21819
https://github.com/pytorch/pytorch/issues/21819#issuecomment-638493770

[2020-09-29 17:49] VinodSKumar commented on #45502
@glaringlee Please help to check the update for constructor

[2020-09-29 17:57] glaringlee commented on #45505
@SsnL
If I understand correctly, the new tensor size need to be calculated, it won't necessarily be the same size as input.  In your example, the new tensor size should be 1/3 of previous tensor size, the extra memory that no longer needed should be compressed. Just need to preserve the previous tensor's memory layout, not size.

[2020-09-29 18:03] glaringlee commented on #45502
@VinodSKumar Sure, will land it today if no issues.

[2020-09-29 18:04] VinodSKumar commented on #45502
Thanks

[2020-09-29 18:13] zasdfgbnm commented on #45372
From https://github.com/pytorch/pytorch/blob/cf808bed738632dba15531337ceb9fa5f148d7b4/aten/src/ATen/native/cudnn/Conv.cpp#L207-L221 we see that `deterministic` is part of the hash key, but `benchmark` is not. So if the `deterministic` flag is changed, it will not use the previous cache. But if the `benchmark` is changed, then the previously cache is still valid.

The line [678](https://github.com/

[2020-09-29 18:38] vukovicnikola commented on #44143
Any updates on this? This is a breaking bug for anyone using iOS 14 i.e. anyone working on MacOS Big Sur

[2020-09-29 18:42] realiti4 commented on #21819
@ngimel sorry this error was on me, I was able to fix it.

[2020-09-29 18:59] kevinstephano opened #45519 "[JIT] Profiling executor is not fusing Dropout while legacy executor does"
## 🐛 Bug

For a simple fusion of RELU + Dropout, the profiling executor does not make the fusion and breaks the operation into its elemental operations.  You can see this from the kernels profiled below.

[code]
With the legacy executor the following fusion occurs:

[code]

## To Reproduce

The script to reproduce is as follows.  Not the `--bad-jit` option turns on the profiling executor.

[code]

[2020-09-29 19:00] #44810 closed

[2020-09-29 19:11] #45387 closed

[2020-09-29 19:27] kevinstephano opened #45524 "[JIT] JIT Autograd is saving more results than are necessary for intermediate Tensors like the result of RELU"
## 🐛 Bug
For the operations of RELU + DROPOUT, the intermediate result of the RELU is not needed but it is saved off none-the-less which is an unnecessary performance hit when the goal of fusion is to remove extra reads and writes to global memory.

Here is the Pytorch IR for RELU + Dropout:

For `FusionGroup_0`, the result `%16` does not need to be saved in this instance.

[code]

## To Reproduce

[2020-09-29 19:44] pritamdamania87 commented on #45326
This error message was added as part of https://github.com/pytorch/pytorch/issues/25552. I guess the reasoning was that if you don't need to train anything there is no reason to use DDP and you should use your model as is. The benefit of keeping the assertion is that it can actually catch errors where the user did want to train the model but didn't set trainable params accordingly.

@wytcsuch Coul

[2020-09-29 20:02] IvanYashchuk opened #45525 "Tensors with complex dtypes fail to be cloned contiguously"
## 🐛 Bug

PyTorch fails to clone a tensor with complex dtype.

## To Reproduce
[code]

## Expected behavior

It should be possible to clone a complex tensor in the contiguous format.

## Environment

PyTorch version: 1.7.0a0+87f98a5
Is debug build: True
CUDA used to build PyTorch: 10.1
ROCM used to build PyTorch: N/A

OS: Ubuntu 18.04.4 LTS (x86_64)
GCC version: (crosstool-NG 1.24.0.131_87df0e6_di

[2020-09-29 20:09] IvanYashchuk commented on #45525
Being fixed in #45487.

[2020-09-29 20:09] #45525 closed

[2020-09-29 20:26] zhangguanheng66 commented on #45494
Is this behavior expected?

[2020-09-29 20:50] #4320 closed

[2020-09-29 21:40] jamesr66a opened #45534 "[FX] Make symbolic_trace return a Graph, not a GraphModule"
Some people may want to use a custom sublclass of GraphModule to do some extra configuration/special stuff, or they may just want to consume a whole graph and return something else. We should make symbolic_trace return a `Graph`, then people can just construct a GraphModule after that

[2020-09-29 21:45] seemethere commented on #45493
What is the issue here? Not entirely sure I understand.

[2020-09-29 22:14] walterddr commented on #45496
I think this problem is resolved in later pytorch version. (possibly through #40399). were you still seeing this issue in latest pytorch versions?

[2020-09-29 22:35] eellison commented on #45499
currently it's hard to support this op because the return type depends on the value of `as_tuple`. I think this would not be that hard to support by adding `Literal[True]` and `Literal[False]` and then making the argument rule that we only accept constants for literal arguments. Integration with native_functions.yaml would be a little trickier, or we could just register it as a prim op & separatel

[2020-09-29 22:40] mruberry commented on #45499
Or maybe we should remove the kwarg and deprecate functions that return different types of objects based on their input values.

[2020-09-29 22:40] f0k commented on #7313
Fun hack :)

The more general concept is the [descriptor protocol](https://docs.python.org/3/howto/descriptor.html). We could have a `ComputedParameter` implement the descriptor protocol and assign it as an attribute instead of changing `nn.Module`'s `__getattr__()`. If we also don't want to change `__setattr__()`, then `ComputedParameter` must subclass `Parameter` (otherwise we cannot replace exi

[2020-09-29 22:45] mruberry commented on #45497
Thanks for filing this issue, @Vozf. Your reference does make this seem straightforward. I'll let our typing experts weigh-in.

[2020-09-29 23:05] eellison commented on #45499
That also sounds good to me! I don't know whether nonzero was on the path to deprecation, or what would be the eager concerns around deprecating it outside of the JIT. I know that numpy has quite a large number of functions that have an output type dependent on the input type.

The mechanism to return a different type dependent on input type is implemented for python, just not for builtins : https

[2020-09-29 23:27] fostiropoulos opened #45540 "Why does NLLLoss and CrossEntropyLoss require type long?"
## 🚀 Feature

Flexible data type of input tensor to NLLLoss and CrossEntropyLoss. As long as it is of type int, the precision is specific to the problem.

## Motivation

Building a model and defining loss for a multi-class prediction such as for semantic segmentation or reconstruction, if the resolution of the output tensor / image the amount of memory required is absurd. Thus it leads to a signif

[2020-09-30 00:03] volcacius commented on #45494
According to the current [docs](https://pytorch.org/docs/stable/notes/extending.html) "torch._overrides.get_testing_overrides function returns a dictionary mapping overridable functions in the PyTorch API to dummy lambda functions that have the same signature as the original function but unconditionally return -1. "

[2020-09-30 00:56] mruberry commented on #44692
Closing this for the moment because we decided to deprecate torch.floor_divide's behavior, mooting this for 1.7.

[2020-09-30 00:56] #44692 closed

[2020-09-30 01:08] #42939 closed

[2020-09-30 01:14] #44135 closed

[2020-09-30 01:14] #44215 closed

[2020-09-30 01:14] #43029 closed

[2020-09-30 01:56] pritamdamania87 opened #45549 "Can't initialize NCCL/GLOO process group if default process group is MPI"
## 🐛 Bug

Can't initialize NCCL/GLOO process group if default process group is MPI. When we initialize the default process group as MPI, the `default_store` is not initialized. As a result, calls to `new_group` use a Store of None and result in failures.

## To Reproduce

[code]

Run it using: `mpirun -np 8 python bug1.py`

## Expected behavior

It would be nice to provide a way for users to use m

[2020-09-30 02:05] Mabinogiysk commented on #45496
Many thanks! Libtorch1.6.0 works and those warnings in cmake disappear.

[2020-09-30 02:07] mrshenli commented on #38937
closed by #39119

[2020-09-30 02:07] #38937 closed

[2020-09-30 02:10] zyXu1996 commented on #45042
Sorry for bothering you, I don't apply PyTorch-1.6.0, but tried others' setting, it works well:
`    torch.manual_seed(args.seed)
    torch.cuda.manual_seed(args.seed)
    random.seed(args.seed)
    np.random.seed(args.seed)
    torch.backends.cudnn.enabled = True
    torch.backends.cudnn.benchmark = True`
In my code, I don't fix random seed，the setting is:
`    cudnn.benchmark = True
    cudnn.de

[2020-09-30 02:15] mrshenli commented on #26317
Closing as I believe this is already so in master

[2020-09-30 02:15] #26317 closed

[2020-09-30 02:16] mrshenli commented on #27229
closing as this is has been addressed

[2020-09-30 02:16] #27229 closed

[2020-09-30 02:21] mrshenli commented on #37908
self-assigned to reserve for new team member on-boarding

[2020-09-30 02:24] #45269 closed

[2020-09-30 02:31] mrshenli opened #45552 "Add `add_done_callback(fn)` to torch.futures.Future"
This was originally requested by @jjlilley in #37908, which is also in parity with [Python's Future](https://docs.python.org/3/library/concurrent.futures.html#concurrent.futures.Future.add_done_callback)

To implement the feature, we need the following:

1. In `torch/csrc/jit/python/pybind_utils.h`, add  a function to expose `ivalue::Future`'s `addCallback` API.
2. In `torch/csrc/jit/python/init.c

[2020-09-30 02:31] mrshenli commented on #37908
created a dedicated issue (#45552) for the followup `add_done_callback` API. closing this one

[2020-09-30 02:31] #37908 closed

[2020-09-30 02:55] guibronzatti commented on #23233
@radimspetlik by any chance, do you have torchvision 0.6 build for python 3.7 for armv7?

[2020-09-30 03:11] ezyang commented on #45497
Yes. We're not on strict type checking yet so mypy isn't reporting failures on errors like this, but we are happy to take patches that fix it.

[2020-09-30 03:30] neerajprad commented on #11578
@ezyang - Adding pytest will make it really easy for us to port tests from Pyro, and should involve no changes in CI in the way tests are invoked (as you pointed out) except that we will need to configure the CI scripts to install pytest. Based on the discussion above, am I right in assuming that we are in principle fine with adding a dependency (test time) on pytest, since we will need to do that

[2020-09-30 03:40] pingguokiller commented on #2830
The problem can be concluded that the optimizer's state will be loaded to the device as same as the model. You must load the model to GPU at first, and then load the optimizer's state. So that both the model and the optimizer's state are loaded in GPU.

[2020-09-30 05:11] xionghuaidong opened #45558 "[JIT] TorchScript runtime Expected Tensor but got None"
## 🐛 Bug

Recently, we are testing PyTorch 1.7 as we need the with-statement support, so that our algorithm which contains a custom module using ``torch.no_grad`` can be deployed to the production environment.

During the testing, we encountered the following assertion failure:

[code]

## To Reproduce

Steps to reproduce the behavior:

1. Use the following Python code to create a serialized PyTor

[2020-09-30 05:50] JavaAiNiU commented on #35881
same problem issue

[2020-09-30 07:06] radimspetlik commented on #23233
@guibronzatti Unfortunately, I don't. However, you are welcome to contribute...

[2020-09-30 07:11] Zheng-Tianyu commented on #42078
In my case , I was used pip install torchvision==0.4.0 instead of torvision==0.7.0 to solve the error.

[2020-09-30 07:14] ElteHupkes commented on #45398
I ran into the same problem, it's because the [Building PyTorch Android From Source instructions](https://pytorch.org/mobile/android/#building-pytorch-android-from-source) on the PyTorch website are incomplete - I think these particular errors are caused by the missing git submodules. More accurate instructions can be found in the [GitHub README](https://github.com/pytorch/pytorch/tree/master/andr

[2020-09-30 07:26] jeremiahschung commented on #33354
@eellison Thanks for the comment! I misspoke when I said the latest build in my comment above. The result before was with the stable release I believe.

I just retested with PT1.7 with the latest commit after building from source. (commit b4ba66a)
Running a slightly modified version of @harshbafna 's script above, the issue has resolved. Initial load time decreased from 181 seconds -> 1.5 on my la

[2020-09-30 07:34] ElteHupkes opened #45560 "Android: allow preallocation of output buffers"
## 🚀 Feature
I would like to be able to pass an array to be filled with the Tensor data to the `Tensor.getDataAs***Array()` methods. Access to the actual Tensor's underlying data structure wouldn't be bad either (i.e. make [`getRawDataBuffer()`](https://github.com/pytorch/pytorch/blob/master/android/pytorch_android/src/main/java/org/pytorch/Tensor.java#L605) public), though I can understand how th

[2020-09-30 07:47] amek-aymen opened #45561 "Unable to convert onnx model to tensorrt"
Has anyone tried converting this network to tensorrt?
https://github.com/fabro66/GAST-Net-3DPoseEstimation

I wanted to convert the pretrained network (27_frame_model.bin) to tensorrt through onnx.
The conversion from pytorch to onnx seems to be OK using the following code:
`
    x = torch.randn(2,102 , 17, 2)
    torch.onnx.export(model, x, "GASTNet3_onnx.onnx", verbose=True, opset_version=11)`

[2020-09-30 08:20] daniel347x commented on #40457
@wmmxk Thanks for this heads up!

I can confirm this is a bug and your fix (as well as an additional fix, noted below) resolves the issue.

Two changes I made:

In transformers/generation_utils.py, change `device=next(self.parameters()).device,` to `device=input_ids.device,`
In transformers/modeling_gpt2.py, change `attention_mask = attention_mask.to(dtype=next(self.parameters()).dtype)` to `atten

[2020-09-30 08:45] Vozf commented on #45497
Mypy reports this error with `disallow_untyped_calls = True` in `mypy.ini`
This forces me to do type: ignore for any subclass of nn.Module
[code]
Is something else expected from PR beyond adding `-> None`? If it's the only thing, I can create a PR

[2020-09-30 08:49] f0k commented on #28213
Thanks @zasdfgbnm for implementing it! :tada: A second set of functions that does not return indices was a good way out. Closing this as #43092 is already merged.

[2020-09-30 08:49] #28213 closed

[2020-09-30 08:50] MarouaneMaatouk commented on #45493
Sorry, the issue is when this build is distributed on another computer, it raises the following error:
make[2]: *** No rule to make target `/storage/mmaatouk/openblas_lib/lib/libopenblas.so', needed by `libstate.so'. Stop.

[2020-09-30 09:08] wangguanan commented on #19916
when computing running_var, we need unbiased var estimated.\
like this

[code]

[2020-09-30 09:24] PiedFalconet commented on #45196
Different Server using different network interface

[2020-09-30 09:24] #45196 closed

[2020-09-30 09:39] #22531 closed

[2020-09-30 09:39] f0k commented on #31042
@SpaceMeerkat: #43092 has been merged, so I think this can be closed (unless you also want indices).

[2020-09-30 09:47] SpaceMeerkat commented on #31042
@zasdfgbnm and @f0k, apologies for not seeing this _issue_ raised in #28213 (pretty new to using the _issue_ functionality here). Looks like it's all sorted now (like @f0k, I also don't require indices), thanks both!

[2020-09-30 09:47] #31042 closed

[2020-09-30 10:01] antocuni commented on #42666
I opened PR #45562 to discuss this more concretely. I'll wait for some feedback on it before continuing

[2020-09-30 10:48] hameerabbasi opened #45565 "Detecting C++-level overload from within __torch_function__"
## 🚀 Feature
This issue proposes the introduction of a `get_overload_name` function in the `torch.overrides` namespace. This function will return the overload name of the last-called function for use within `__torch_function__`.

## Motivation
The motivation comes from the `torch.fx` project which will add parallel implementations of the `torch` namespace. These parallel implementations may need t

[2020-09-30 12:56] Mut1nyJD commented on #38963
Any reason why this has been closed?

I am still seeing the problem when using len(nn.moduleList) in forward function and trying to JIT this using PyTorch1.6?

[2020-09-30 13:18] dianlujitao opened #45567 "CUDA crash when backproping through a reference to a transposed matrix"
## 🐛 Bug

I'm trying to implement a tied autoencoder where the weights of the decoder are simply the transpose of the encoder. However, I got a CUDA crash when invoking `.backward()`, but it works fine on CPU. An MWE and workaround are provided below.

## To Reproduce

The MWE is as follows:

[code]

Steps to reproduce the behavior:

1. Run the code above

Notice my comments in code, if the transp

[2020-09-30 13:22] anisha98 commented on #41728
I would like to work on this issue.

[2020-09-30 13:53] kkelchte opened #45568 "Nan value after tensor multiplication and log"
## 🐛 Bug

Tensor multiplication with log tensor returns non values despite log tensor values in 0 - 1 range.

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior
Should pass as inputs are in correct range.

## Environment
 - PyTorch Version                  1.5.0
 - OSx and Fedora
 - How you installed PyTorch pip
 - Python version: 3.8
 - CUDA/cuDNN version: CPU

[2020-09-30 14:06] yrf1 opened #45569 "Distutils Error in torch.hub Load()"
I tried to run:
torch.hub.load('pytorch/fairseq', 'transformer.wmt19.de-en.single_model', tokenizer='moses', bpe='fastbpe', force_reload=True)

But got the following error:
[code]

[2020-09-30 14:11] kshitij12345 commented on #45568
[code]

I think the behaviour is correct.

[2020-09-30 14:22] kkelchte commented on #45568
I don't understand what you are doing. Could you please add some explanation?
Why are you indexing on your input or targets?

[2020-09-30 14:24] #45568 closed

[2020-09-30 15:00] dseddah commented on #17023
Same here from a Renater network where my speedtest gives me 840MB/S.
Downloading 25% of the 537MB of pytorch took more than 20mn.

[2020-09-30 15:42] izdeby commented on #45569
@yrf1, can you, please, provide whole repro? also whats your setup? torch version?

[2020-09-30 15:57] NAEE09 opened #45573 "Build Failed Ubuntu Cuda. CUDAHooks.cpp:97:15: error: ‘struct cudaPointerAttributes’ has no member named ‘type’ return attr.type == cudaMemoryTypeHost;"
## 🐛 Bug

I'm trying to build Pytorch c++ API, I did it without GPU, but now  at 97% appears this problem and I can't find a solution. If somebody knows what I can make to fix this issue, thank you.

## To Reproduce

Steps to reproduce the behavior:

git clone https://github.com/pytorch/pytorch
cd pytorch
git submodule sync
git submodule update --init --recursive
git checkout v1.6.0
mkdir build &

[2020-09-30 15:58] yrf1 commented on #45569
I am running on python 3.6.9, torch 1.6.0 inside a lab server.

[2020-09-30 16:11] acturner commented on #26527
@santient Is this implemented? If so, could you post a link to your implementation or PR?

[2020-09-30 16:14] msminhas93 commented on #44533
I am also facing the same issue. The documentation page doesn't have any info just the warning.
![image](https://user-images.githubusercontent.com/6465972/94711663-6692e980-0316-11eb-86b6-cf01dae528f0.png)

[2020-09-30 16:16] VitalyFedyunin commented on #26596
Both options make sense, but the first variant is much easier, especially taking into account that where is CPP version of nn, and we would need to keep in sync both as well as take perf impacts.

[2020-09-30 16:53] AyanKumarBhunia opened #45578 "Why is RTX3080 slower than RTX2020-Ti?"
Time per batch iteration on the same experiment (Siamese network) setup.

RTX2080Ti - 0.5 sec.
TitanX - 0.69 sec.
RTX3080 - 0.72 sec.
RTX 2070-Super -- 0.77 Sec

Is it because Pytorch/CUDA etc are not optimized with respect to RTX3080?

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion F

[2020-09-30 17:15] mfkasim1 opened #45579 "Internal assert failed on searchsorted"
## 🐛 Bug

I got this message when using `searchsorted` function

    E       RuntimeError: isDifferentiableType(variable.scalar_type()) INTERNAL ASSERT FAILED at "/opt/conda/conda-bld/pytorch_1595629427478/work/torch/csrc/autograd/functions/utils.h":59, please report a bug to PyTorch.

The inputs are

    xq = torch.tensor([0.0000, 0.3333, 0.6667, 1.0000], device='cuda:0', dtype=torch.float64, req

[2020-09-30 17:21] ngimel commented on #45567
cc @ptrblck, @xwang233

[2020-09-30 17:29] blacksailer opened #45581 "Windows, dataloader, MapViewFile, incorrect parameters"
## 🐛 Bug

Trying to train model with dataloader on Windows Server 2012 R2 and if num_workers > 0 , it fails with next output:
[code]

As I found out that 87 error on windows is invalid parameter, I've [edited](https://github.com/pytorch/pytorch/blob/96540e918c4ca3f0a03866b9d281c34c65bd76a4/torch/multiprocessing/reductions.py#L294) to print size variable.
[code]

But can't find what generates negat

[2020-09-30 17:53] xwang233 commented on #45578
Please share your environment with `python -m torch.utils.collect_env`. What's the pytorch version and cuda version you are using?

[2020-09-30 18:05] neginraoof commented on #35516
@rmccorm4 But again, as Spandan mentioned, please let us know if this issue is about model correctness or optimization.

[2020-09-30 18:10] rmccorm4 commented on #35516
Hi @neginraoof ,

I believe the model is functionally correct, so I'd say optimization. But I'm not sure if the flags being used in torch.onnx.export are "correct" in handling this model since they don't seem to be doing as much as they could/should.

Thanks,
Ryan

[2020-09-30 18:39] seemethere opened #45592 "[v1.7.0] Release Tracker"
We cut a [release branch](https://github.com/pytorch/pytorch/tree/release/1.7) for the 1.7.0 release.

Our plan from this point is roughly:

* **Phase 1 (until 10/13)**: work on finalizing the release branch
* **Phase 2 (after 10/13)**: perform extended integration/stability/performance testing based on Release Candidate builds.

This issue is for tracking cherry-picks to the release branch.

## C

[2020-09-30 18:40] yangfh2004 commented on #27212
+1

[2020-09-30 18:53] shubhambhokare1 commented on #34054
@Enolerobotti see if you can test this patch and if it resolves the issue you are facing

[2020-09-30 18:58] raghuramank100 opened #45593 "[quantization]: Add support for quantization aware training for Leaky Relu and Sigmoid"
Currently,  pytorch supports quantized implementations of leaky relu and sigmoid. For the case of sigmoid, the outputs of the quantized module are quantized over the range [0,1]. For the leaky_relu, the scale and zero-point of the input is used to define the range for the output.  This is not modeled during quantization aware training.
A possible solution is to define:
1.  nn.qat.sigmoid module: t

[2020-09-30 19:00] Krovatkin commented on #45592
This change was slated for 1.7 but we narrowly missed the deadline.

https://github.com/pytorch/pytorch/pull/45591

[2020-09-30 19:16] zou3519 commented on #45592
_Link to landed master PR (not necessary if release-specific change):_ n/a, release-specific change
_Link to release branch PR (create this yourself):_ https://github.com/pytorch/pytorch/pull/45571
_Criteria Category:_ Release branch specific changes: remove/hide features that aren’t ready for release

[2020-09-30 19:29] jerryzh168 commented on #45593
I think for sigmoid we don't need a qat, I'm have WIP PRs starting from https://github.com/pytorch/pytorch/pull/45538

[2020-09-30 19:31] Krovatkin commented on #45592
master:
**release branch:**

Link to landed master PR (if applicable): https://github.com/pytorch/pytorch/pull/45546
Link to release branch PR: https://github.com/pytorch/pytorch/pull/45591
Criteria Category: n/a

[2020-09-30 19:35] ngimel commented on #45274
Here's a reliable reproduction
[code]
The issue is on cpu, not on cuda.

[2020-09-30 20:05] suo opened #45600 "BUILD_CAFFE2=0 causes build failure in some configurations"
Here is my build command, which basically turns all extra stuff off for the fastest build:
[code]
I didn't look into it too closely, but it seems `BUILD_CAFFE2=0` is dropping compiling the pthreadpool dependency which we need. This seems to be covered up by the fact that NNPack and family are adding back the threadpool dependency, but if you turn those off as well (and thus `DISABLE_NN_PACK_AND_FA

[2020-09-30 20:06] suo commented on #45600
cc @malfet  @walterddr

[2020-09-30 20:23] anjali411 commented on #45592
Link to landed master PR:
Link to release branch PR: https://github.com/pytorch/pytorch/pull/45602
Criteria Category: silent correctness. Before this branch, the functions unaudited for complex backward returned incorrect result. After this PR, a `RuntimeError` is thrown in forward clearly stating that complex backward is not supported for the operator yet.

[2020-09-30 20:30] wahlberg82 opened #45603 "Statically linking to libtorch but also needing the shared library “libcaffe2_nvrtc.so”?"
## 🐛 Bug

Hi,
I started by posting a question in the forums here: https://discuss.pytorch.org/t/statically-linking-to-libtorch-but-also-needing-the-shared-library-libcaffe2-nvrtc-so/97166/2
But was asked to also post it here as well, so that why I'm writing this now.

I’m building a plugin for a commercial software application that is internally using libtorch. This plugin, which is in the form of

[2020-09-30 20:43] walterddr commented on #45496
closing. please reopen if any additional follow up is needed.

[2020-09-30 20:43] #45496 closed

[2020-09-30 20:47] lqf96 commented on #9407
Note that [`tf.gather`](https://www.tensorflow.org/api_docs/python/tf/gather) and [`tf.gather_nd`](https://www.tensorflow.org/api_docs/python/tf/gather_nd) both support it and it will make indexing much easier in certain cases.

[2020-09-30 20:51] tomlifu opened #45604 "Fused kernel produced by JIT runs much slower than un-fused version in NHWC (channels-last) memory format"
## 🐛 Bug

We are running a network in PyTorch native NHWC (channels-last) memory format while using JIT in order to use fused kernel to fuse a number of elementwise operations("\_\_add__", "\_\_mul__", "\_\_rsqrt__"). However, the fused kernel runs much slower than the un-fused kernels.

## To Reproduce

Steps to reproduce the behavior:

script name: native_nhwc_jit_fusion.py (see code below)

how

[2020-09-30 21:02] olibd opened #45605 "[Pytorch 1.6.0] torch.atan2 of negative zeros returns invalid result"
## 🐛 Bug

Performing the element wise arctan of a Tensor with an element of 0.0 (or -0.0) and a second Tensor with an element of -0.0 at the same location will return a value of 3.1416 (or -3.1416) at that position. The error only happens when it is the second Tensor that contains a -0.0 value.

## To Reproduce

Steps to reproduce the behavior:

1. `output = torch.atan2(torch.Tensor([0.0]), torch.

[2020-09-30 21:06] mrshenli commented on #24422
Made the following changes to setup boundary between main triage oncall and subteams' triage oncall:

`jit` -> `oncall: jit`
`module: distributed` -> `oncall: distributed`
`transformer/mha` -> `oncall: transformer/mha`

[2020-09-30 21:10] mrshenli opened #45606 "[Please Ignore] Testing JIT labeling bot"
testing

cc @gmagogsfm

[2020-09-30 21:15] #45606 closed

[2020-09-30 21:28] ptrblck commented on #45567
@dianlujitao Could you check, if `ae.dec_w` was properly pushed to the device as well?
In `1.7.0.dev20200830` I get a proper error message claiming:
[code]
which is raised, because the tensor assignment in `self.dec_w = self.enc_w.T` doesn't register this tensor as a parameter as can also be seen here:
[code]
The error message you are seeing shouldn't be raised, but it seems the nightlies after 1.

[2020-09-30 21:34] mrshenli opened #45607 "[Please Ignore] Testing distributed auto-tagging bot"
testing

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @rohan-varma @gqchen @aazzolini @xush6528 @osalpekar @jiayisuse @agolynski

[2020-09-30 21:35] ngimel commented on #45567
Thanks for looking into this @ptrblck. `self.dec_w = self.enc_w.T` won't register dec_w as a parameter (because self.dec_w is not a leaf in this case). The error is cause because `self.dec_w` is not a parameter and thus is not moved to device. Using `self.enc_w.T` is the right approach that preserves sharing semantics.
Closing, as the error message raised now is correct.

[2020-09-30 21:37] #45607 closed

[2020-09-30 21:42] nikithamalgifb commented on #45465
@ iseeyuan: Hi, I am working on this issue. Can you please help me with reproducing the issue? I wanted to understand how I could get a hold of the above model?

[2020-09-30 21:43] jerryzh168 commented on #45593
for ops that inherits input quantization parameters (fx graph mode only): https://github.com/pytorch/pytorch/pull/45473
for ops that has fixed quantization parameters: https://github.com/pytorch/pytorch/pull/45538 and https://github.com/pytorch/pytorch/pull/45539

[2020-09-30 21:46] spandantiwari commented on #45255
@tbennun - what exactly do mean by metadata. Could you maybe show an example where the metadata info is available in the torch graph and not showing up in the translated ONNX graph?

[2020-09-30 21:46] mrshenli opened #45609 "[Please Ignore] Testing RPC auto-tagging bot"
testing

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @rohan-varma @gqchen @aazzolini @xush6528 @osalpekar @jiayisuse @agolynski

[2020-09-30 21:47] #45609 closed

[2020-09-30 21:47] mruberry commented on #44295
Thank you for filing this issue, @Coderx7. I've updated its classification to better track it.

Can you elaborate on how, exactly, you're saving?

[2020-09-30 21:50] spandantiwari commented on #45333
@jkonieczny9 - just to confirm, you see this error during the ONNX export step, or after you have exported the model and maybe when you run this against the ONNX checker or in some backend?

[2020-09-30 21:54] suo commented on #45600
should be fixed by https://github.com/pytorch/pytorch/pull/45610

[2020-09-30 22:18] AyanKumarBhunia commented on #45578
Collecting environment information...
PyTorch version: 1.7.0.dev20200929
Is debug build: True
CUDA used to build PyTorch: 11.0
ROCM used to build PyTorch: N/A

OS: Ubuntu 18.04.3 LTS (x86_64)
GCC version: (Ubuntu 7.5.0-3ubuntu1~18.04) 7.5.0
Clang version: Could not collect
CMake version: Could not collect

Python version: 3.7 (64-bit runtime)
Is CUDA available: True
CUDA runtime version: Could not

[2020-09-30 22:24] kevinstephano commented on #24032
I am still seeing this as an issue. It seems like this might have not been resolved?

[2020-09-30 22:24] tbennun commented on #45255
@spandantiwari
By metadata I mean the `sourceRange` and `scope` fields (the name is taken from the ONNX exporter C++ method called `copyMetadata`). Basically anything that ends up in the docstring of the ONNX node.

In the example above, the code with latest master shows up as (graph printout when calling `torch.onnx.export(..., verbose=True`):
[code]

With #45256, it shows up correctly as:
[code]

[2020-09-30 22:25] xwang233 commented on #45578
Thanks for sharing. This is a very interesting result. The latest pytorch nightly build with CUDA 11 should already support 3080 well.

Can you also provide the script you used for timing?

[2020-09-30 22:37] newkozlukov commented on #22402
Hi, do I understand it right, that `__torch_function__` hasn't been merged yet? I'm seeing it in the `1.6.0/stable` docs as a supported way to [extend `torch.Tensor`](https://pytorch.org/docs/stable/notes/extending.html#extending-torch-with-a-tensor-like-type). However, actually checking it with `1.6.0` from conda, `__torch_function__` doesn't seem to be ever invoked

[2020-09-30 22:39] eellison commented on #33354
@jeremiahschung as of yesterday,  the default on master was the simple executor, not the profiling executor. This has since been updated on master & profiling will be the default for 1.7.

To get a more accurate repro you can either set :
[code]
and rerun the repro, or you can update to the latest master.

[2020-09-30 22:41] izdeby commented on #45581
@blacksailer, can you, please, provide a repro?

[2020-09-30 22:49] rgommers commented on #22402
@newkozlukov it has been merged. It gets invoked when a custom `Tensor`-like object or subclass has a `__torch_function__` method, see e.g. https://github.com/pytorch/nestedtensor/blob/master/nestedtensor/nested/nested.py#L283

[2020-09-30 22:50] rgommers commented on #22402
This makes sense, I'll work on splitting this in two and updating the `__array_function__` part. That's not in the works and it is still unclear if that will happen, but with all the progress on matching PyTorch and NumPy APIs where possible, it is becoming feasible at least.

[2020-09-30 23:12] malfet commented on #45573
@NAEE09 can you please share the full error message.

[2020-09-30 23:17] izdeby commented on #45603
Im not sure how to triage this.

[2020-09-30 23:33] acxz opened #45623 "[Build] [CMake] [ROCm] CMake variables not found (ROCm 3.7+)"
## 🐛 Bug

When compiling pytorch with ROCm, pytorch fails since it cannot find certain cmake variables. This is due to the fact that ROCm 3.7+ has removed hcc.

[code]

## To Reproduce

Steps to reproduce the behavior:

1. git clone
1. python tools/amd_build/build_amd.py
1. python setup.py build

Technically I am using the following PKGBUILD script [here](https://github.com/rocm-arch/python-pytorc

[2020-09-30 23:36] bba9 opened #45627 "Dict.update() is not Torchscript compatible - fails silently for multiple udpate() calls"
## 🐛 Bug

If a python dictionary is used in a torchscripted function, calls to dict.update() will fail silently after the first call.

## To Reproduce

Steps to reproduce the behavior:

[code]

cc @gmagogsfm

[2020-09-30 23:40] suo commented on #45592
Link to release branch PR: https://github.com/pytorch/pytorch/pull/45628
Criteria category: Release branch specific changes: remove/hide features that aren't ready for release.

[2020-09-30 23:42] xta0 commented on #44143
The issue was in CMake's version. Obviously, 3.14 doesn't work well with XCode 12. We just tried 3.18, it works fine. Anyway, the solution would be

1. upload a bug fix version to cocoapods -  1.6.1
2. If you guys can't wait,  you can build the static libs from source. Make sure you're using the latest CMake (3.18).

[2020-09-30 23:44] fritzo commented on #45115
Keep in mind that the design goals of `torch.distributions` differ quite a bit from the low-level helpers like `torch.normal` and `torch.Tensor.normal_`.

For details you could read the [original design doc](https://docs.google.com/document/d/1wnABg0cdyaVMr-Xqz_brHBwnPJuzTeSk3Oqko2HHSfE/edit), but I would summarize the design goal of `torch.distributions` as to provide a collection of high-level d

[2020-09-30 23:45] ilia-cher opened #45629 "High-level Event Tracing"
## 🚀 High-level Event Tracing

Over time we've received requests from community to provide additional information in profiler traces, including:
- High-level events like 'start of a new epoch' or 'another mini-batch iteration'
- Data loader activity, e.g. denoting data loader related time ranges (e.g. reading/processing new minibatch)
- Tracing activity of optimizers

This feature proposal is prim

[2020-10-01 00:01] pepper-jk commented on #45115
Yes, if the distribution interface in `torch.distributions` would allow a `generator` and `device` to be passed in `.__init__()` that would be sufficient to solve pytorch/opacus/issues/59.

Not having the `generator` would be the only reason why the in-place functions like `torch.normal` would be needed, as they could utilize a `urandom`-based `generator`.

And having an explicit `device` paramete

[2020-10-01 00:01] fritzo commented on #45133
I think adding some sort of HMM distribution is a good idea, and serves as good motivation for some of the testing cleanup that @neeraj and I are planning to do. In particular because this distribution has unusually many inputs, it is helpful to test against a wide array of input shapes (e.g. Pyro's `DiscreteHMM` has [hundreds of tests](https://github.com/pyro-ppl/pyro/blob/7768099c444485d7404f656

[2020-10-01 00:07] fritzo commented on #45115
@pepper-jk it sounds like a workable solution might be to pass `device` into `.__init__()` and pass `generator` into `.sample`. What I like about this second solution is that it is a little closer to JAX distributions which also input an `rng_key` (similar to `generator`). @fehiepsi @neerajprad do you have an opinion on how to pass `generator` into distributions, maybe in a way that minimizes diff

[2020-10-01 00:12] ezyang commented on #45505
Yeah, so you'll end up with dense, but layout preserving. This seems fine to me.

[2020-10-01 00:14] jamesr66a commented on #45592
https://github.com/pytorch/pytorch/pull/45631

[2020-10-01 00:17] ezyang commented on #11578
Yes, if you can figure out how to do this without breaking all of the external-to-Python fixtures (besides needing to install pytest), you have my blessing. You don't need to even skip, we can just force people to install pytest. And even if you can't get it to work, please holler, we probably can figure something out.

[2020-10-01 00:18] ezyang commented on #45497
Nope, that's good enough. Of course if you want to fix this entirely, or get our mypy to globally enforce `disallow_untyped_calls`, that would be even better, but those patches will be A LOT more work, so feel free to focus on just fixing cases that are affecting you personally.

[2020-10-01 00:23] ezyang commented on #45579
cc @glaringlee

[2020-10-01 00:29] jerryzh168 opened #45635 "fx graph mode quantization tutorials"
This is to track progress of fx graph mode quantization tutorials:
[ ] post training static quantization
[ ] post training dynamic quantization
[ ] quantization aware training

[2020-10-01 00:43] jerryzh168 commented on #45635
this is also a test for the quantization triage bot, looks like it works :)

[2020-10-01 00:48] jeremiahschung commented on #33354
@eellison Thanks for the response. I've rerun the tests and verified that both cases are performant.

FYI - I did note that when the simple executor was run, the first run was ~2.5s with subsequent runs > 0.2s whereas with the profiling executor, the first two runs clocked about 1.5s, 1.0s and it dropped to >0.2s starting with the third run.

Simple executor
[code]
[code]
Profiling executor
[code]

[2020-10-01 00:57] robieta commented on #45592
Link to landed master PR: https://github.com/pytorch/pytorch/pull/45586
Link to release branch PR: https://github.com/pytorch/pytorch/pull/45601
Criteria Category: special dispensation : Callgrind collection is an important aspect of the benchmarking utils beta launch. (CC @ngimel @ezyang @dzhulgakov) Original PR narrowly missed the cut, and had to be reverted and re-landed today due to a test bre

[2020-10-01 01:40] AyanKumarBhunia commented on #45578
[code]

I am not sure if this the correct way to evaluate time performance.

[2020-10-01 01:49] AyanKumarBhunia commented on #45578
I came across this blog. This claims some different results using Tensorflow. Is it a problem with PyTorch?

[2020-10-01 01:59] SsnL commented on #45605
The current behavior is correct per IEEE 754

![image](https://user-images.githubusercontent.com/5674597/94757444-396f2700-0368-11eb-803f-14dd6611d5c7.png)

[2020-10-01 02:11] olibd commented on #45605
Good to know, I wasn't aware of IEEE 754. Is there anyway to document this in Pytorch doc's? I understand IEEE 754 is standard, but from a regular user's perspective who isn't familiar with all the nitty gritty implementation details of floating-point arithmetic, this behavior is quite confusing.

[2020-10-01 02:39] neerajprad commented on #45115
The [generator](https://pytorch.org/docs/stable/generated/torch.Generator.html#torch.Generator) object that @pepper-jk mentioned is stateful, and I think it would be reasonable to pass that in `__init__` and use it internally when we call `sample`. JAX, in contrast, has a functional random number generator, so the onus of splitting keys and passing in a rng key (which is just an integer) has to be

[2020-10-01 02:39] mthrok commented on #11578
I think that we can start from turning `assertEqual` method of `torch.testing._internal.common_utils.TestCase` into a plain function. (Not sure if it's already done.) The existing method can just pass the arguments to functional form.
This is actually enough for domain libraries to convert the tests into functional style and fully adopt pytest, because that's the only test method we use and we hea

[2020-10-01 03:01] neerajprad commented on #11578
My suggestion would be to have something like [np.testing.assert_allclose](https://numpy.org/doc/stable/reference/generated/numpy.testing.assert_allclose.html) which lets us specify absolute vs relative precision and gives very nice error messages (see below) that can be shared by all test runners:

[code]

Even the standard python assert statement gives good error messages and stack trace in pyte

[2020-10-01 03:07] fritzo commented on #45115
Re: passing `generator` to `.__init__()` vs `.sample()`. @pepper-jk would a single `generator` instance be shared among multiple distributions, or would distributions own their `generator`?

One design concern is that most `Distribution` methods consume no randomness, so passing `generator` to `.sample()` rather than `.__init__()` might help clarify which methods consume randomness. Another advant

[2020-10-01 03:16] ngimel commented on #45603
Looks like a dupe of #31985

[2020-10-01 03:24] stephenllh commented on #45028
same. I am not even mad. I am flattered.

[2020-10-01 03:24] #45567 closed

[2020-10-01 03:27] acxz commented on #45623
Solved by https://github.com/pytorch/pytorch/commit/51526332583ceaebdeef697322a9a8b2b20427f3

[2020-10-01 03:27] #45623 closed

[2020-10-01 03:41] ngimel commented on #45499
@eellison what did you do for `unique`? It also returns either tensor or tuple of tensors depending on the value of kwargs (and btw `unique` has the same behavior in numpy)

[2020-10-01 03:50] fehiepsi commented on #45115
I would prefer passing `generator` to `sample` method. I think that it will also lead to fewer changes in the interface than passing to `__init__`.

[2020-10-01 04:02] realiti4 opened #45647 "info C5002: Omp simd loop not vectorized due to reason '1200' warning on Windows"
Hi, I see these warnings during building Pytorch master with VS2019. Are these expected and normal? Is this mean I can't get the max performance from my build? The last time I built Pytorch was 1.6.0 stable with VS2017, and I didn't see 'loop not vectorized' warnings. I tried using VS2019 to build 1.6.0, and also got the same warnings. Thank you for your help.

[code]

 - PyTorch Version (e.g., 1.

[2020-10-01 04:44] neerajprad commented on #45115
I agree about the boilerplate in `.expand`. My initial thought was that adding this to `__init__` makes it clear that the distribution uses its own local source of randomness for sampling rather than relying on some global source, and does not require passing in an additional generator argument with `sample` which will be internally mutated. However, this was based on my impression of how the `gen

[2020-10-01 05:06] ppwwyyxx commented on #45499
Same issue as https://github.com/pytorch/pytorch/issues/38718

[2020-10-01 06:07] PaleNeutron commented on #25164
If any one face `Memory Error` in installation and the stacktrace mentioned **decompress**, try to add swap space.

For ubuntu users, follow: https://help.ubuntu.com/community/SwapFaq

[2020-10-01 07:02] data-RanDan opened #45650 "Visualizing Models, Data, and Training with TensorBoard - colab ipynb"
## 📚 Documentation

Hi guys.
I saw that a colab ipynb  version of this tutorial was missing,
so i made one.  Not sure where to add it.

https://pytorch.org/tutorials/intermediate/tensorboard_tutorial.html

[2020-10-01 07:21] NAEE09 commented on #45573
@malfet here is the full error message:
`
/usr/local/cuda/include/host_defines.h:54:2: warning: #warning "host_defines.h is an internal header file and must not be used directly.  This file will be removed in a future CUDA release.  Please use cuda_runtime_api.h or cuda_runtime.h instead." [-Wcpp]
 #warning "host_defines.h is an internal header file and must not be used directly.  This file will b

[2020-10-01 07:43] Nitya05 opened #45653 "LSTM model conversion from Pytorch to ONNX"
## 🐛 Bug

I am trying to convert a very simple LSTM model from Pytorch to ONNX. Even after using a batch size of 1 and specifying h0, c0 inputs (as specified in the Pytorch docs), I am getting the following warning:

**UserWarning: Exporting a model to ONNX with a batch_size other than 1, with a variable length with LSTM can cause an error when running the ONNX model with a different batch size. M

[2020-10-01 09:31] Vozf commented on #45497
Also I got a question about typing in nn.functional.
Type hints exits in nn.functional.py but they also exist in stub nn.functional.pyi. And in pyi file they contain errors. Let's take `interpolate`
In nn.functional.py
https://github.com/pytorch/pytorch/blob/master/torch/nn/functional.py#L2975-L2976
Python2 style but correct in general.
In pyi
https://github.com/pytorch/pytorch/blob/master/torch/n

[2020-10-01 09:54] mruberry commented on #42666
@antocuni Sorry for the delay, working through a backlog now that the 1.7 branch is cut. I'll get to this ASAP (definitely before Monday).

[2020-10-01 10:07] pepper-jk commented on #45115
For me either would work fine. I'm not opposed to the idea of passing the `generator` to `.sample`. In the code it would replace the generator is also passed to the (in-place) sample function function and is a global member of the `privacy_engine` class. So for the sake of fixing pytorch/opacus/issues/59 this would be fine as far as I understand it.

What does the pytorch/opacus team say, @karthik

[2020-10-01 10:36] Rachnas commented on #42300
@fhamborg , I am also getting the same problem when trying to train xlnet for MNLI task. Do you have any update on this.
Thanks

[2020-10-01 11:00] mszhanyi opened #45657 "No dllexport before template specification function of caffe2-op"
## 🐛 Bug

Some ops aren't exported for windows build
In these ops, C10_EXPORT_CAFFE2_OP_TO_C10_CUDA or C10_EXPORT_CAFFE2_OP_TO_C10_CPU is defined but there's no dllexport before the template specification function.

## To Reproduce

The root cause is same to the issue https://github.com/pytorch/pytorch/issues/41896

## Expected behavior

Those ops should be used in windows too.

cc @peterjc123 @ma

[2020-10-01 11:54] mariosasko commented on #45650
Create a PR in the [pytorch/tutorials](https://github.com/pytorch/tutorials) repo.

[2020-10-01 12:21] xkszltl commented on #42115
Close since ideep has been updated.

[2020-10-01 13:01] data-RanDan commented on #45650
Thank you!

[2020-10-01 13:01] #45650 closed

[2020-10-01 13:26] paklau99988 commented on #31985
Is have same problem. Hoe make static link libtorch?

[2020-10-01 14:00] Enolerobotti commented on #34054
Thank you @shubhambhokare1! It works!

[2020-10-01 14:00] #34054 closed

[2020-10-01 14:13] zou3519 commented on #45337
NB: retain_grad, backward both have this problem as well

[2020-10-01 14:15] zou3519 commented on #45337
Upon further investigation, this isn't actually an issue: The reason why Tensor.retain_grad doesn't have an anchor link in the tensor documentation page is because the anchor link actually points to https://pytorch.org/docs/stable/autograd.html#tensor-autograd-functions

[2020-10-01 14:15] #45337 closed

[2020-10-01 14:23] zou3519 opened #45663 "The reproducibility note in `scatter_add_` documentation is misleading"
## 📚 Documentation

The note erroneously suggests that scatter_add_ on CUDA is implemented via the cudnn backend and suggests setting a flag to make it non-deterministic. However, scatter_add_ is actually implemented natively and setting backends.cudnn.deterministic does not affect it at all.

![image](https://user-images.githubusercontent.com/5652049/94821724-ea5cdc80-03cf-11eb-80e8-a52316eacfdc.

[2020-10-01 14:31] qysnn opened #45664 "What would happen if torch.clamp() has min greater than max?"
It seems the current implementation will cut the tensor to min or max according to their values, which might be a problem when debugging logical errors or typos. Maybe it would be better to just throw an exception? Also it would be nice to note that in the [documentation](https://pytorch.org/docs/stable/generated/torch.clamp.html).
[code]

cc @jlin27 @mruberry

[2020-10-01 14:36] kurtamohler opened #45669 "Update implementation of `linalg.norm` to use out variants of functions, where possible"
When I added `linalg.norm`, I used a resize-and-copy approach to support the `out` argument. However, some of `linalg.norm`'s code paths could avoid the copy by using out variants of the functions that are called.

Followup to issue #24802

cc @vincentqb @vishwakftw @jianyuh @nikitaved @pearu @mruberry @VitalyFedyunin @ngimel

[2020-10-01 14:38] glaringlee commented on #45579
This is why, searchsorted is not autograd required.
https://github.com/pytorch/pytorch/blob/master/torch/csrc/autograd/functions/utils.h#L63
I will fix this soon.

[2020-10-01 14:56] ezyang commented on #45565
Some quick thoughts:
* I'd prefer "current" nomenclature over "last" nomenclature, as last implies that the overload name will persist past the `__torch_function__` which seems weird and unnecessarily leaky to me
* Directly exposing the overload name will make us harder to rename overload names; right now overload names don't show up in serialization format and only mobile uses them in a real capa

[2020-10-01 15:15] pearu commented on #44635
@vadimkantorov , see the table in https://github.com/pytorch/pytorch/blob/d0cff74c74e6b6d7e722cd63dc74cb70d588d172/docs/source/sparse.rst#linear-algebra-operations
that illustrates the differences of various matmul operations. HTH.

[2020-10-01 15:17] stephenllh commented on #45028
Hi. How do I install with whl file?

[2020-10-01 15:18] vadimkantorov commented on #44635
Could you also add a generic torch.matmul there?

[2020-10-01 15:19] vadimkantorov commented on #44635
Also, when it mentions "sparse_grad", it always means the sparse grad wrt to the sparse argument, right?

[2020-10-01 15:43] pearu commented on #44635
yes

Yes, many of these functions support gradients against `strided` inputs while not for `sparse_coo` inputs.
This info is not present in the current table.

[2020-10-01 15:51] zou3519 commented on #45663
NB: This might not be the only one. I see that `Tensor.index_add_` also mentions CuDNN, but iirc the cuda version isn't implemented via CuDNN.

[2020-10-01 15:59] #45061 closed

[2020-10-01 16:48] jhagege opened #45676 "Exporting pointrend to ONNX"
Hi I don't succeed to export PointRend project from Detectron2 to ONNX.
See original issue there: https://github.com/facebookresearch/detectron2/issues/2086

Any recommendation to troubleshoot ?

cc @houseroad @spandantiwari @lara-hdr @BowenBao @neginraoof

[2020-10-01 17:12] vadimkantorov commented on #44635
Also it was not obvious that these functions are not necessarily symmetric under switching argument order and transposing

[2020-10-01 17:24] mmarcinkiewicz commented on #44206
@mcarilli is there any progress in this issue? I see some commits got referenced but the issue is still present, right?

[2020-10-01 17:43] jkonieczny9 commented on #45333
Hi @spandantiwari , thank you for your reply! Yes, I see the error exactly when ONNX export is executed: torch.onnx.export(...).

[2020-10-01 17:44] jamesr66a opened #45680 "[FX] Build out mutable graph APIs for FX"
https://github.com/pytorch/pytorch/pull/45227

TODO: fill out more details

cc @ezyang

[2020-10-01 17:50] jamesr66a opened #45681 "[FX] Handling of asserts is unergonomic"
To address https://github.com/pytorch/pytorch/issues/44849, https://github.com/pytorch/pytorch/pull/45188 added torch.Assert, which is a traceable op that can be used in place of assert. However, this requires users to explicitly replace `assert` python statements with a callsite to that op. This is not very ergonomic and ideally we would be able to handle assert statements programmatically.

Sugg

[2020-10-01 17:53] jamesr66a opened #45682 "[FX] Allow customization of the behavior of Proxy"
Some values are not `Tensor`-typed, but still would conceptually be traceable (e.g. dict with known structure). Build infrastructure to inform FX of this structure so it can use it in recording the program representation

[2020-10-01 18:00] ezyang commented on #30774
@robieta noticed that `is_complex` should get fastpathed in this way too.

[2020-10-01 18:08] eellison commented on #45499
@ngimel it uses the dispatching method we have implemented in
python https://github.com/pytorch/pytorch/blob/master/torch/functional.py#L803. Since `torch.nonzero` already dispatches to two difference aten ops (`nonzero`, and `nonzero_numpy`), maybe we could move nonzero C++ pybind binding to pytorch and support it without a lot of trouble ?

[2020-10-01 18:22] jamesr66a opened #45683 "[FX] Configurability of nested module representation"
Currently, the configuration of module behavior is defined via `is_leaf_module`. For values of this, we do one of two things:

- `True` - For a Module call, don't trace into the Module but emit a `call_module` node in the FX graph
- `False` - Trace through the module. All evidence of the original module callsite is erased, i.e. the implementation of the module is inlined

https://github.com/pytorc

[2020-10-01 18:32] gmagogsfm commented on #35116
Since we no longer officially supports Python 2, this is a viable task.

[2020-10-01 18:42] jerryzh168 opened #45685 "[fx] symbolic trace "is None" and "is not None" checks"
there are many is None or is not None in
https://github.com/huggingface/transformers/blob/master/src/transformers/modeling_bert.py, for example:
https://github.com/huggingface/transformers/blob/master/src/transformers/modeling_bert.py#L193

[code]

What is the best way to workaround these?

[2020-10-01 18:57] #42855 closed

[2020-10-01 19:11] Coderx7 commented on #44295
I'm saving the model normally that is saving it's state-dict, but it seems torch.save behavior has changed since 1.6. apart from that, looking at the changes in each version, when saving the models, embedding some meta data concerning the specific Pytorch (such as its version) by which it was created would greatly help you be aware of changes right away and take the necessary steps accordingly.

[2020-10-01 19:14] ys-koshelev opened #45687 "nn.InstanceNorm behavior is not consistent with batch size for corner case of inputs with spatial dimension = 1"
## 🐛 Bug
Instance norm computes statistics and normalizes tensor along its spatial dimensions. If tensor has just 1 element in spatial dimension, then the mean value is this element itself and variance computed by InstanceNorm layer is 0. In PyTorch realization, the value of normalized tensor will be silently computed as 0, since a small eps value is added to variance before division.

The bug is

[2020-10-01 19:16] kurtamohler commented on #17935
@zou3519 , is the idea to call `at::assert_no_internal_overlap` in every out-variant operation on strided tensors, or only a subset?

If it needs to be all of them, it seems like it would be ideal to have codegen add those calls, right?

[2020-10-01 19:16] suo commented on #45685
This is data-dependent control flow and thus not supported by symbolic tracing. The recommendation is to change the model code to not have data-dependent control flow, or to treat this module as a leaf module in the tracer so we don't trace through it.

[2020-10-01 19:20] #45460 closed

[2020-10-01 20:00] kurtamohler opened #45690 "Complex and real results do not agree when computing reciprocal or pow(-1) of 0"
## 🐛 Bug

When using a float or double input, the reciprocal or `pow(-1)` of 0 is infinity. However, when the input is complex, the result is NaN. Perhaps this is intended, but it seems wrong to me.

## To Reproduce

[code]

## Expected behavior

I assume the reciprocal of 0 should always be the same, regardless of whether the type is real or complex.

[2020-10-01 20:36] kurtamohler commented on #36493
I'll start working on this

[2020-10-01 20:48] namanshah01 commented on #41443
There are still a few prs that are open from more than a month ago, are these issues active? Can I work on them?

[2020-10-01 21:11] jacobaustin123 commented on #45028
Have you tried `pip install torch-1.7.0.dev20200923%2Bcu110-cp38-cp38-win_amd64.whl`?

[2020-10-01 21:16] SplitInfinity commented on #42449
I made a PR for this (#45693) but I strongly feel that it would be better to change the code to match the docs in order to match `numpy/scipy`.

[2020-10-01 21:47] mrshenli commented on #45664
Throwing an exception makes sense to me. @gchanan please correct me if I am wrong.

[2020-10-01 21:56] santient commented on #26527
@acturner Forgot about this issue but I just wrote up a quick implementation [here](https://github.com/santient/pytorch-multilinear). I found no need to use einsum. Lmk if you notice a mistake or any bugs!

[2020-10-01 21:56] mrshenli commented on #45687
Does the suggested change look OK to you? @SsnL @gchanan

[2020-10-01 21:59] mrshenli commented on #8032
Closing as this is tracked by #41485

[2020-10-01 21:59] #8032 closed

[2020-10-01 22:01] mrshenli commented on #11170
Closing due to lack of activity. Please feel free to open a new issue if the problem persists with latest release.

[2020-10-01 22:01] #11170 closed

[2020-10-01 22:03] mrshenli commented on #13865
cc @osalpekar is this still relevant?

[2020-10-01 22:04] mrshenli commented on #14108
Closing due to lack of activity. Please feel free to open a new issue if this is still relevant.

[2020-10-01 22:04] #14108 closed

[2020-10-01 22:06] rohan-varma commented on #36663
Done by https://github.com/pytorch/pytorch/pull/41769

[2020-10-01 22:06] #36663 closed

[2020-10-01 22:06] mrshenli commented on #14371
Closing this issue as this is already landed in master.

cc @osalpekar please correct me if I am wrong.

[2020-10-01 22:06] #14371 closed

[2020-10-01 22:08] rohan-varma commented on #35510
No longer relevant given current needs.

[2020-10-01 22:08] #35510 closed

[2020-10-01 22:08] mrshenli commented on #14433
Closing due to lack of activity.

[2020-10-01 22:08] #14433 closed

[2020-10-01 22:09] mrshenli commented on #14438
Closing this one and track it using #41485

[2020-10-01 22:09] #14438 closed

[2020-10-01 22:10] mrshenli commented on #14559
Closing as we have these tests now.

[2020-10-01 22:10] #14559 closed

[2020-10-01 22:11] mrshenli commented on #14589
closing due to lack of activity

[2020-10-01 22:11] #14589 closed

[2020-10-01 22:11] mrshenli commented on #15002
closing due to lack of activity

[2020-10-01 22:11] #15002 closed

[2020-10-01 22:15] mrshenli commented on #15051
closing due to lack of activity and also sharing device across collective communication processes is not an expected use case.

[2020-10-01 22:15] #15051 closed

[2020-10-01 22:17] mrshenli commented on #17305
closing due to lack of activity.

[2020-10-01 22:17] #17305 closed

[2020-10-01 22:19] mrshenli commented on #17704
Please use [forum](https://discuss.pytorch.org/) for questions. I am closing this issue. Please feel free to open a new issue if this turns out to be a bug report or feature request.

[2020-10-01 22:19] #17704 closed

[2020-10-01 22:20] mrshenli commented on #18175
Closing due to lack of activity

[2020-10-01 22:20] #18175 closed

[2020-10-01 22:31] osalpekar commented on #14371
Right, support for wok-level timeouts in NCCL was added by https://github.com/pytorch/pytorch/pull/40946

[2020-10-01 22:43] osalpekar commented on #13865
I haven't come across this issue yet - I can try to repro and look into any locking changes needed for the FileStore

[2020-10-01 23:15] fritzo commented on #42449
@SplitInfinity I agree that it would be better to fix the code to match numpy/scipy/tensorflow. WDYT of the following interface change plan, which aims to minimize downstream breakage by including a deprecation release? (I've omitted docs changes, because they are straightforward)

1. In a first PR and released in PyTorch 1.7: widen the interface to include four optional parameters, `(success|fail

[2020-10-01 23:41] ZolotukhinM opened #45703 "[TensorExpr] Convert tensorexpr tests to gtests"
For historical reasons tensorexpr component doesn't directly use gtest, but it really should.

JIT tests recently have been converted (see e.g. #45264), and tensorexpr tests should follow.

The tests we need to convert are located in `test/cpp/tensorexpr/`.

cc @gmagogsfm

[2020-10-01 23:44] #44470 closed

[2020-10-01 23:55] ZolotukhinM opened #45705 "[TensorExpr] Make `Placeholder` objects memory-managed"
Memory management for tensor expressions is currently done with memory arenas. That is, whenever an object is created it registers itself in an arena and the object is kept alive as long as the arena is alive. When the arena gets destructed, it deletes all objects registered in it.

For a class to use this memory management mechanism it need to be derived from `KernelScopedObject`. Most of our cla

[2020-10-02 00:24] ad12 commented on #42300
Also reproducing this error when loading `state_dict` into a model (`model2`) when it is not on the same device as the model the `state_dict` originated from (`model1`).

**Script**:
[code]

[code]

This may be the case with huggingface transformer?

**Workaround**:
[code]

[2020-10-02 00:31] ajason08 commented on #1633
In my case it was due to intensive uses of CPUs (Im using a cluster), probably that's why resetting Colab works.

[2020-10-02 00:55] sidazhang commented on #41355
@suo hey, ahh that would be pretty awesome.

I think this would get a lot of use! Do you guys have a better sense of if someone might be able to work on this?

[2020-10-02 01:19] anjali411 commented on #45690
hmm I agree that one would probably expect to get `inf` whether the input is 0 or 0 + 0j. Currently, numpy and torch have the same behavior for reciprocaly of `0+0j`, i.e., both return `(nan+nanj)`.
[code]

cc. @mruberry

[2020-10-02 01:23] SplitInfinity commented on #42449
Sounds like a plan! We can land my docs PR for now since the current docs are incorrect and update the docs as we go through the two steps.

[2020-10-02 01:44] newkozlukov commented on #22402
Sorry, my fault. It works.
Except for `torch.cat`*
I expected it to work for `cat` too because of:

Also, thanks for responding

---

*Meaning:

[code]

Outputs

[code]

[2020-10-02 02:28] #43458 closed

[2020-10-02 02:47] kurtamohler opened #45717 "Better documentation of vec256 API"
## 📚 Documentation

The vec256 API (aten/src/ATen/cpu/vec256/vec256.h) doesn't seem to have much documentation, which makes it pretty difficult to figure out how to use it. It took me a significant amount of time just to learn how to write one line of code.

[2020-10-02 03:29] lkct opened #45721 "kthvalue incorrect with strided GPU tensor"
## 🐛 Bug

When input tensor is on GPU and is strided, `kthvalue` will give wrong values and indices.

## To Reproduce

[code]

## Expected behavior

The behavior on CPU as below is expected:
[code]
It seems that `kthvalue` is performed on `[0, -1, 1]`, the tensor with the same start address and size as `a` but stride 1.
A workaround is to use `a.contiguous().kthvalue(2)`, but this is not the expec

[2020-10-02 03:33] ezyang commented on #45497
Our general goal is to eliminate all of the pyi files. So it would also be super helpful if you can merge the pyi comments in to the py using Python 3 style.

[2020-10-02 04:04] anjali411 commented on #30237
closing this issue as it has been fixed. `conj()` no longer returns a copy for real tensors as documented here: https://pytorch.org/docs/1.7.0/generated/torch.conj.html?highlight=conj#torch.conj
[code]

[2020-10-02 04:04] #30237 closed

[2020-10-02 04:07] bbfrog opened #45724 "torch.matmul output contains some nan value for large size fp16 tensors in V100 GPU"
## Issue description

Please see the simple code below: If running in Nvidia V100 GPU and with the randomly generated fp16 tensors with size [13269, 8, 22, 64] as input, the torch.matmul output contains some nan value which are not expected.

- This problem can not be reproed if running in P100 or 1080Ti, seems it is related with the fp16 computation kernel in V100 (both 16GB and 32GB V100 can rep

[2020-10-02 04:52] mkolod commented on #41355
There are some details to consider here. An obvious one is whether the export to the backend runs not just on separate CUDA streams, but separate CPU threads scheduling on those streams as well.

Separate streams will only allow for using up more CUDA cores if some kernels running on a different stream have too small a grid setting to take up the whole GPU. In that case, launching on a parallel st

[2020-10-02 06:25] #42449 closed

[2020-10-02 06:40] dzhulgakov commented on #45629
I feel the biggest value for profiling tools would come from semi standardized labels that can be semantically parsed (e.g. how data loading, trainer iteration, eval, etc are called). We can just call them out in the docs, or add some enum in PyTorch. Then all training loop implementations (like Lightning, Ignite or specific model implementation) can opt in to use those labels and work with profil

[2020-10-02 07:26] depshad opened #45728 "Low shared memory"
I’m unable to use num_workers>0 in Pytorch Dataloader. The reason is the low shared memory available (64M).
Can we re-direct or override the path used internally **(/dev/shm)** by Pytorch?

Example : %env JOBLIB_TEMP_FOLDER=/tmp for Sklearn
Reference for sklearn :  https://stackoverflow.com/questions/40115043/no-space-left-on-device-error-while-fitting-sklearn-model

Please suggest.

[2020-10-02 07:30] #45274 closed

[2020-10-02 07:32] t-vi commented on #45063
I'll weep if you call it transjugate :cry:, it seems to be completely made up (i.e. somebody put it in wikipedia and everyone copied it from there because it reeks remotely witty): Googling "transjugate" gives about 1.480 entries, "adjoint operator" (with quotation marks) about 482000 (and for operators we can pretty much exclude that it means adjungated).

It is a bit unfortunate that the the adj

[2020-10-02 07:41] kshitij12345 commented on #45690
Interestingly,
[code]

[2020-10-02 08:32] boeddeker commented on #45063
My favorite is `hermitian` and `.H`.
 - `.H` is often used in formulas and would be the counterpart to `.T`.
 - `hermitian` starts with the same letter as `.H`. To it is easy to see the connection.
 - `transjugate` (Beside @t-vi comment): The name is to close to transpose.
 - `adjoint` sound very similar to adjungate.

[2020-10-02 09:25] macster110 commented on #32516
I am a developer for a predominately Java program for detecting and classifying whale and dolphin sounds which is used widely in industry academia but almost always on Windows machines. It's just the default operating system for most people, including researchers, academics and industry. The java library is great- allowing us to integrate deep learning directly into the the program, however, limit

[2020-10-02 09:37] JaireYu commented on #34573
Hi, everyone. I have a stupid question when I read the multi_head_attention_forward function.
[code]
why cat the bias to the sequence, not to add on the sequence. What is it used for? It there a reference paper clarifying this?

[2020-10-02 09:52] IvanYashchuk commented on #45063
In Julia, the conjugate transposition operation is called [adjoint](https://docs.julialang.org/en/v1/stdlib/LinearAlgebra/#Base.adjoint) and it's not specific for square matrices.

[2020-10-02 10:14] nikitaved commented on #45063
If `Hermitian` is adopted, then what do you do with other methods, like `symeig`? It does support Hermitian input as of now, but it is not obvious given its name.

[2020-10-02 10:20] t-vi commented on #45063
@nikitaved numpy uses numpy.linalg.eigh

[2020-10-02 10:26] nikitaved commented on #45063
Exactly, I would not expect `symeig` work for complex inputs, unless they are self-adjoint. But if `symeig` stays for Hermitian inputs, then why not make `transpose` support conjugation? ;)

[2020-10-02 10:34] michael-k opened #45731 "Add wheels for Python 3.9"
## 🚀 Feature

Run tests against Python 3.9, add the trove classifier and provide wheels.

## Motivation

Python 3.9.0 final is expected on Monday, 2020-10-05, see https://www.python.org/dev/peps/pep-0596/#schedule

## Pitch

I want everybody who's switching to Python 3.9 be able to install torch via a wheel from PyPI or https://download.pytorch.org/whl/torch_stable.html.

## Alternatives

Building

[2020-10-02 10:35] boeddeker commented on #45063
I think support would be ok, but not by default.
So when translating `conjugate transpose` to code as `.transpose(..., conj=True)`, it is obvious, what it does (but maybe not really better than `.transpose(...).conj()`)

[2020-10-02 10:49] nikitaved commented on #45063
`conj` is no-op for non-complex input, so, probably, it is fine to just use `conj` and be happy with it.

[2020-10-02 10:59] hameerabbasi commented on #42942
It looks like the issue I can't seem to fix here originates in #43451, where the `check_undefined_grad` argument was added to `gradcheck` with a default of `True`. Here's the description of that kwarg from the docstring:

[code]

`gradcheck` now uses public API not covered by `__torch_function__` directly, (the exact function is `torch._C._functions.UndefinedGrad`): https://github.com/pytorch/pyto

[2020-10-02 11:03] t-vi commented on #45063
I think .adjunct() is much more concise than .transpose(conj=True). Also boolean flags are a bit of  a liability if you think of the C++ API ("boolean blindness" is the keyword.)
Having a single command one saves tensor creation. Although it's just a view, the overhead can be significant. People do lectures in which they claim Python is 1000x to slow after they measure tensor creation overhead.

[2020-10-02 11:16] theanshm commented on #45664
What should be the expected behaviour here? I would like to give this issue a shot if it is open to work on.

[2020-10-02 11:22] hameerabbasi commented on #45565
Edited.

Edited.

So does returning the default `kwarg`s as a `dict` sound good?

[2020-10-02 11:34] pearu commented on #44635
@vadimkantorov thanks for the feedback. I have added a note regarding unsupported `dense @ sparse` and the transpose based workaround.

Btw, https://github.com/pytorch/pytorch/pull/39526 implements `sparse @ sparse`. When merged, the docs should be updated for layout `M[sparse_coo] @ M[sparse_coo]`.

[2020-10-02 11:36] rgommers commented on #22402
Yes, that was a bug, see gh-34294. You can grab a nightly or 1.7.0rc1 if you need `cat` to work.

[2020-10-02 11:53] ptrblck commented on #42517
It seems the hang is introduced by the way NCCL is built into PyTorch.

Rebuild from master and enabling NCCL all2all via `#define ENABLE_NCCL_A2A 1` creates the hang in `test_broadcast_double_backwards_gpu`, if the submodule is used, while using the system NCCL works.

Setups used to narrow down the issue:
* 4x M60 + CUDA11.1 + NCCL2.7.8 (system install and submodule)
* 8X V100 + CUDA11.1 + NCCL2

[2020-10-02 12:17] IvanYashchuk opened #45734 "Request for conjugate transposed triangular solve"
## 🚀 Feature
`torch.triangular_solve` should have an option to solve A^H x = b, where "^H" is the conjugate transpose operation.

## Motivation

Now that PyTorch is expanding the complex number support, linear algebra methods that have transposed variants usually also have conjugate transpose variants for complex inputs. That should be supported as well.

## Additional context

[SciPy's triangular

[2020-10-02 12:39] mruberry commented on #45664
We actually have a PR to update this behavior to be consistent with NumPy, see https://github.com/pytorch/pytorch/pull/43288. Throwing an error message when min > max seems OK when min and max are scalars on the CPU. In the future we may support min and max as device tensors, and we typically don't test the values of device tensors since it would cause a device->cpu synchronization.

[2020-10-02 12:45] rakesh4real opened #45735 "Worst accuracy `0.02` compared to keras"
Hi, I came across this kernel where Pytorch loss is worse than Keras. Can anyone let me know why?

Link to kernel: [click here](https://www.kaggle.com/daishu/answer-why-is-keras-better-than-pytorch)

[2020-10-02 13:50] zhangguanheng66 commented on #34573
It is used when key/value are statics, and the function attaches one more token on each iteration to key/value.

[2020-10-02 14:01] albanD commented on #42942
Hi,

But that custom Function should accept any Tensor like object I think? It is a no-op in the forward.

[2020-10-02 14:14] colesbury commented on #45721
Thanks for the bug report. I can reproduce this in 1.7.0a0+c44b1de.

[2020-10-02 14:18] pearu commented on #45063
From a general perspective, `.transpose(..., conj=True)` indicates that a matrix operation (`transpose` in this case) can be attributed with an element-wise unary operation (`conjugate` in this case).
Using the same pattern, one could have `.transpose(.., negate=True)`, etc.
I wonder if people would be willing to accept and extend this pattern?

While `transjugate` is not widely used in terms of g

[2020-10-02 14:19] hameerabbasi commented on #42942
It accepts `Tensor`s but not Tensor-likes, apparently.

[code]

[2020-10-02 14:25] albanD commented on #42942
I'm not very familiar with the difference between the two but this is defined in [here](https://github.com/pytorch/pytorch/blob/c703602e17da94fa7349cbc3e8841bee77409139/torch/csrc/autograd/functions/basic_ops.h#L51-L66). What can we do to make such c++ implemented Function support Tensor-like objects?

[2020-10-02 14:26] colesbury commented on #45735
The link you provided suggests an answer: the loss functions are different.

[2020-10-02 14:26] #45735 closed

[2020-10-02 14:29] colesbury commented on #45731
@seemethere are we targeting Python 3.9 for PyTorch 1.7 (or subsequent PyTorch releases)?

[2020-10-02 14:32] SsnL commented on #45728
Shared memory is not the same as a temp folder. It is not something that you can just substitute with a new path.

[2020-10-02 14:34] colesbury commented on #45728
No, there's no equivalent. Sklearn uses /dev/shm simply for fast temporary storage. The PyTorch data loader needs shared memory for inter-process communication.

You can try switching to the "file system" method [`torch.multiprocessing.set_sharing_strategy('file_system')`](https://pytorch.org/docs/stable/multiprocessing.html#torch.multiprocessing.set_sharing_strategy). My guess is that it won't ma

[2020-10-02 14:43] malfet commented on #45731
@colesbury for subsequent yes, but not for 1.7

[2020-10-02 14:55] JuriAbramov commented on #31460
Me too, good it was posted. For me, it was optional an tensor where passing None caused the troubles.

[2020-10-02 14:56] mrshenli commented on #45592
Link to landed master PR: #45553
Link to release branch PR: #45738
Criteria Category: Documentation improvements: Advise users to use a more widely-adopted conda channel and pin the libuv version to the one that we have tested (1.39).

[2020-10-02 14:57] mrshenli commented on #45592
Link to landed master PR: #45554
Link to release branch PR: #45739
Criteria Category: Fixes to new features being introduced in this release: Make sure that users don't have to install libuv if they don't need the distributed package.

[2020-10-02 15:02] colesbury commented on #45724
This is strange... I can reproduce the issue on V100 with PyTorch 1.6. Is FP16 batched matrix multiply buggy for large batch sizes?

[2020-10-02 15:22] mrshenli commented on #43081
self-assigned to reserve for bootcamp

[2020-10-02 15:44] t-vi commented on #45063
Just for some stats: There are about 35 articles in google scholar from about 10 distinct author's that call it transjugate. About 8 of them will have gotten the term off Wikipedia because it's outside their language or field. One dates from the 1960s so we can be assured that it was indeed a uniquely unique term until 16 December 2007.  In google books there are about 23 hits for transjugate, but

[2020-10-02 16:07] mruberry commented on #45721
Not a regression. Reproduces in 1.6.0+cu101 on Colab.

[2020-10-02 16:16] hameerabbasi commented on #45063
I like `hermitian`, `.H` implies an `O(1)` operation as it is a property, which this isn't. For this reason, I don't like it.

[2020-10-02 16:21] QueensGambit commented on #45592
Link to release branch PR: #45736
Criteria Category: Compilation fixes or ifdefs required for different versions of the compilers or third-party libraries

[2020-10-02 16:29] kurtamohler commented on #45690
Thanks for pointing that out @kshitij12345 . Perhaps this is a case where numpy shouldn't necessarily be followed? I submitted a numpy issue to see what they think: https://github.com/numpy/numpy/issues/17425

[2020-10-02 16:38] bbfrog commented on #45724
Thanks @colesbury. Add some more information: if change inputs to be created in CUDA with fp16 types as below, about 38% of torch.matmul output are 0 which are not expected. And seems the problem became even worser.
query_layer = torch.rand(13269, 8, 22, 64, dtype=torch.float16, device='cuda')
key_layer = torch.rand(13269, 8, 22, 64, dtype=torch.float16, device='cuda')

The whole updated repro cod

[2020-10-02 16:51] hameerabbasi commented on #42942
For reference, `Tensor` is an object for which the type is a subclass of `Tensor`. A Tensor-like is any object that implements `__torch_function__`, including `Tensor`. I don't think exposing this function to `__torch_function__` is the way to go here, as it's private API.

[2020-10-02 16:59] Quentin-Anthony opened #45745 "Native CUDA-Aware MPI support for MVAPICH2 and other MPI libraries"
## 🚀 Feature
Adding native support for the CUDA-Aware MVAPICH2 backend, and a build flag which enables torch.distributed to build with CUDA-Aware support.

## Motivation

Given the introduction of deepspeed and an increasing shift to PyTorch, the [MVAPICH ](http://mvapich.cse.ohio-state.edu/) project has received an increasing number of requests for CUDA-Aware MVAPICH2 support for PyTorch. Buildin

[2020-10-02 17:02] albanD commented on #42942
Ho right.
Well this test is quite niche (it checks that empty gradients are properly handled by the backward pass). So it might be fine to enforce that flag to be False if you use a Tensor-like object?

[2020-10-02 17:04] kkoehncke opened #45746 "MKLDNN Segmentation Fault on backward pass on CPU with Conv1D layer"
## 🐛 Bug

A segmentation fault and / or indefinite hanging occurs when using the Conv1D layer with varying kernel sizes. Based on my investigation, this occurs during the backward pass and is related to the MKLDNN back-end used for optimizing CPU operations.

## To Reproduce

The below code snippet shows this behavior:
[code]

## Expected behavior

I expect that this code would execute without err

[2020-10-02 17:39] ngimel commented on #45724
This looks like cublas bug, can you please output your cuda version obtained with
[code]

[2020-10-02 17:44] bbfrog commented on #45724
CUDA name: Tesla V100-SXM2-16GB
PyTorch built with:
  - GCC 5.3
  - C++ Version: 201402
  - Intel(R) Math Kernel Library Version 2019.0.1 Product Build 20180928 for Intel(R) 64 architecture applications
  - Intel(R) MKL-DNN v0.21.1 (Git Hash 7d2fd500bc78936d1d648ca713b901012f470dbc)
  - OpenMP 201307 (a.k.a. OpenMP 4.0)
  - NNPACK is enabled
  - CPU capability usage: AVX2
  - CUDA Runtime 10.1
  -

[2020-10-02 17:47] bbfrog commented on #45724
Add more info:

1. If the input size is increased,  the problem items ratio is also increased.
2. If change the third dimension to 8N, like 24/32, seems the problem is disappeared. (may have other problems which i don't check)

- No problem for input size [4096, 8, 22, 64]
- Problem item ratio is 0.00152587890625% for [8192, 8, 22, 64]
- Problem item ratio is 38.26305674881302% for [13269, 8, 22,

[2020-10-02 17:57] spandantiwari commented on #45676
We have not explicitly tried it. It may be worth checking with the Detectron2 team.
If you hit any specific issue, please open an issue with a repro.
BTW, we have tested the object detection/segmentation models in torchvision repo (FasterRCNN, MaskRCNN, KeypointRCNN) and they should be exportable to ONNX. May be they can be useful to you.

[2020-10-02 18:01] ngimel commented on #21819
I'm closing this issue. All users who see "illegal memory access" please open a new issue with reproduction script. "illegal memory access was encountered" is a generic error that can be caused by many different reasons. Unless your report is accompanied by a minimum runnable and reproducible example triggering this error, it is not actionable.

[2020-10-02 18:01] #21819 closed

[2020-10-02 18:05] depshad commented on #45728
Unfortunately, in my case increasing shared memory space is not possible. I will look into the 'file system' method suggested.

[2020-10-02 18:12] BowenBao commented on #45592
Link to landed master PR: #44920
Link to release branch PR: #45755
Criteria Category: Fixes to new features being introduced in this release: Fix dim_param support for ONNX export with shape inference, along with fixes to shape propagation bugs in other code that are discovered. This PR is crucial for ONNX export in 1.7, unfortunately it missed the cut by a few hours.

[2020-10-02 18:36] neginraoof commented on #45592
Link to landed master PR: https://github.com/pytorch/pytorch/pull/44693
Link to release branch PR: https://github.com/pytorch/pytorch/pull/45756
Criteria Category: Fixes ONNX export of embedding bag operator with dynamically provided arguments: offsets and weights. Enables ONNX export of DLRM model. This PR is crucial for ONNX export in 1.7.

[2020-10-02 18:41] dizcza commented on #2228
While numpy-equivalent functions are gradually resolved in the pull requests, could someone point to a third-party package, if any, that allows users to select the backend (either numpy or pytorch) for numpy-like API?
Thank you.

[2020-10-02 18:48] ptrblck commented on #45724
@bbfrog Thanks for reporting this issue.
We've reproduced the invalid outpus on a V100 using cublas10.2.2.89, while cublas11.1.0.024 is creating valid outputs.
We have also forwarded this issue to our cublas team to find out the root cause for the issue in 10.2.

As a workaround, could you try to install the nightly binaries with CUDA11?

[2020-10-02 18:50] osalpekar commented on #45592
Link to landed master PR: #45543
Link to release branch PR: https://github.com/pytorch/pytorch/pull/45758
Criteria Categrory: Documentation - PyTorch Distributed exposes a Python API for a distributed key-value store, but there were no public docs for this. This PR adds those public docs.

[2020-10-02 18:53] rgommers commented on #45063
This is also the rationale for why numpy never added `.H`.

I'd go with `.hermitian()` or `.adjoint()`, both seem like sensible names.

[2020-10-02 18:56] mcarilli commented on #45724
[THCudaBlas_HgemmStridedBatched](https://github.com/pytorch/pytorch/blob/6acd7b686c73a1ad3f7e67883ddcdd1fbc4ee043/aten/src/THC/THCBlas.cu#L175) correctly sets [computeType](https://docs.nvidia.com/cuda/cublas/index.html#cublas-GemmStridedBatchedEx) to `CUDA_R_32F` so I think this is a cublas bug, not a pytorch bug.
disclaimer:  I did not confirm the particular failing case routes to `THCudaBlas_Hg

[2020-10-02 18:57] anjali411 opened #45760 "Complex Number support for distributed"
## 🚀 Feature
As per title, complex numbers should be supported in `torch.distributed`.

## Motivation

Distribute computing support for complex numbers came up in conversations with people at Argonne National Laboratory and Flatiron Institute. Currently, some of them use Uber's Horovod library for distributed computing. The operations that they commonly use are all_reduce and broadcasting operatio

[2020-10-02 18:59] bbfrog commented on #45724
Thanks @ptrblck very much! I will try out cublas11.1.0.024 in dev machine and update the results. But in our production training environment, it may takes a long time to upgrade to cublas11.1.0.024 (I will try to push hard:)), so any other workaround is also appreciated. Thanks!

[2020-10-02 19:01] ezyang opened #45761 "DISABLED test_functional_no_debug (quantization.test_quantize_fx.TestQuantizeFx)"
https://app.circleci.com/pipelines/github/pytorch/pytorch/222704/workflows/18db8ff8-9ef9-4bc0-8f54-ef62c17f93f0/jobs/7969992/steps

cc @ezyang @gchanan @zou3519

[2020-10-02 19:03] bdhirsh commented on #45592
Link to landed master PR (if applicable): #45587 and #45588
Link to release branch PR: #45759
Criteria Category: Fixed some incorrect changes to the documentation of `smooth_l1_loss`. Also preventing a new input (`beta`) in the backwards function from being defaulted, which is how we handle all other backwards function inputs and would otherwise require deprecating.

[2020-10-02 19:09] mrshenli commented on #45760
Thanks @anjali411 for creating this issue! The [table here](https://pytorch.org/docs/stable/distributed.html#backends) shows a list of operators in c10d. We can add complex tensor support for each of them independently, starting from `all_reduce` and `all_gather`.

- [ ] `all_reduce`
- [ ] `all_gather`
- [ ] `broadcast`
- [ ] `reduce`
- [ ] `gather`
- [ ] `scatter`
- [ ] `reduce_scatter`
- [ ] `al

[2020-10-02 19:11] nikitaved commented on #45063
Hermitian could be confusing as it has the meaning akin symmetry for real matrices, in my opinion.

[2020-10-02 19:15] SplitInfinity commented on #43197
I think documentation is correct, but maybe could be clearer. The reduction with `dim=0` is logically applied to each *bag*, not to the output tensor from the `Embedding` that `EmbeddingBag` implicitly computes:

Each bag is reduced with `dim=0`. What is considered to be a bag depends on the inputs to `EmbeddingBag`:

[code]

[code]

[2020-10-02 19:33] ishanaj commented on #34680
@ninjakx  I am getting the same error. How to resolve that?

[2020-10-02 19:35] ezyang commented on #30774
I think that `resize_` can also be fast-pathed (similar to @ngimel's PR to how `empty` got unified)

[2020-10-02 19:51] ezyang opened #45764 "resize_(0) is very expensive"
Internal only link: https://fb.workplace.com/groups/pytorch.dev/permalink/754045421840607/

@bwasti and the static runtime team observed that `resize_(0)` slows down static runtime 12% when you do it. This is almost definitely due to dispatcher overhead. There are probably ways to reduce this overhead, for example, when no reallocation is necessary, resize can be done without a dynamic dispatch. T

[2020-10-02 19:51] ezyang commented on #45764
cc @ngimel

[2020-10-02 19:52] Lilyjjo commented on #45604
cc @Krovatkin  Hi, would this be an issue for the Improve Profiling Executor performance board?

[2020-10-02 20:07] Lilyjjo commented on #45524
@ZolotukhinM would this be in the scope of PE/NNC?

[2020-10-02 20:08] Lilyjjo commented on #45519
@Krovatkin is this in the scope of PE/NNC?

[2020-10-02 20:15] versatran01 commented on #2228
@dizcza Not exactly what you are asking for but take a look at https://eagerpy.jonasrauber.de/

[2020-10-02 20:17] ansleyadelaide opened #45767 "`defineMethodsInModule` no longer exists"
## 📚 Documentation

This [section](https://github.com/pytorch/pytorch/blob/master/torch/csrc/jit/OVERVIEW.md#ir-emitter) in `OVERVIEW.md` states that the main entrypoint to IREmitter is `defineMethodsInModule`. However, this method does not exist anymore (tested with `grep -Rl "defineMethodsInModule" .`). Update the documentation to reflect the current structure of IREmitter.

[2020-10-02 20:25] stefan-it commented on #45578
CUDA 11.1 should fully support the 30** series - I just received my 3090 today and I'm going to build a PyTorch version from source with CUDA 11.1 😅

[2020-10-02 20:30] timothybrooks opened #45769 "F.conv2d() causes RuntimeError: cuDNN error: CUDNN_STATUS_INTERNAL_ERROR"
## 🐛 Bug

I am receiving a RuntimeError: cuDNN error: CUDNN_STATUS_INTERNAL_ERROR when calling F.conv2d().

Shapes and devices of inputs:
[code]

## To Reproduce

[code]

## Expected behavior

## Environment

I receive the same issue on the stable build and nightly build, and both environments are below.

[code]

[code]

[2020-10-02 20:31] Krovatkin commented on #45519
Yes, we will tackle this in 1.8.

[2020-10-02 20:33] #44009 closed

[2020-10-02 20:37] Flamefire commented on #45419
Thanks @pritamdamania87 for taking on this. May I suggest to do a full search&replace on `(PyCFunction)` and simply remove it, then see where it breaks? Not using such C-Style casts can avoid problems like this in the future. Also enabling the warning mentioned above an promoting it to an error could help to. For another project I implemented a function which safely casts function pointers to Pyth

[2020-10-02 20:38] xwang233 commented on #45769
https://github.com/pytorch/pytorch/issues/36333 might be related, quadro 8000 + cuda 10.2 + cudnn 7.6.5

[2020-10-02 20:41] #41510 closed

[2020-10-02 20:44] sjeaugey commented on #42517
When we enable alltoall, it seems we link NCCL statically in libtorch_python.so. So far, NCCL was only in libtorch_cuda.so.

So now ncclCommInitRank, ncclGroupStart, ncclSend and ncclRecv will come from libtorch_python.so while ncclBroadcast and other collectives will come from libtorch_cuda.so. I would have thought those two libraries would operate as silos, but in fact not. When libtorch_cuda.so

[2020-10-02 20:47] xwang233 commented on #45592
Link to landed master PR (if applicable): https://github.com/pytorch/pytorch/pull/45729
Link to release branch PR: https://github.com/pytorch/pytorch/pull/45770
Criteria Category: Fixes to new features being introduced in this release.

A user just reported seeing this https://github.com/pytorch/pytorch/issues/45769. It would be nice that we have this minor information printing bug be fixed in the

[2020-10-02 20:49] ZolotukhinM commented on #38856
This issue seemed to fall through the crack. @malfet, is it still relevant? What builds are affected by it? @bertmaher, would you be interested in taking a look at this?

[2020-10-02 20:49] ngimel commented on #42517
cc @malfet, splitting nccl between libtorch_python and libtorch_cuda is indeed bad. Should we fix #42514 in a way that would avoid that?

[2020-10-02 20:55] malfet commented on #38856
@ZolotukhinM I already have a workaround for that (since we are building with gcc-9.3)

[2020-10-02 20:56] ZolotukhinM commented on #45524
Yes, thanks for reporting!

Looks like some issue with how we generate autodiff graphs. @Krovatkin, @eellison, do you by any chance happen to know what's happening here?

[2020-10-02 20:59] guilhermeleobas opened #45771 "Enable torch.nn.modules.* typechecks during CI"
`TestTypeHints.test_run_mypy` should pass with `[mypy-torch.nn.modules.(batchnorm/instancenorm/linear/sparse)]` deleted from mypy.ini

cc @mruberry @VitalyFedyunin @ezyang @malfet @rgommers @xuzhao9 @gramster

[2020-10-02 21:00] ZolotukhinM commented on #38856
Should we close it then?

[2020-10-02 21:01] gmagogsfm commented on #45498
This is a duplicate of #42145.

[2020-10-02 21:01] malfet commented on #42517
torch_python should never be directly linked with nccl, but rather relies on the function exported from torch_cuda (we already have some wrappers that re-rexport C nccl API as C++ nccl::send nccl::recv and so on...

[2020-10-02 21:09] ilia-cher commented on #44484
https://github.com/pytorch/pytorch/pull/44970 addresses the issue with TLS accesses from RecordFunction

[2020-10-02 21:12] eellison commented on #45524
Well, currently we don't have too many outputs of the dropout fusion group because we aren't fusing it 😛 see: https://github.com/pytorch/pytorch/issues/45519

I think that's probably first order of business before fixing this.

[2020-10-02 21:13] kevinstephano commented on #45519
Just to motivate the problem, in case you don't have the context, the dropout operator is heavily used in Transformer/Bert NLP networks and being able to fuse to dropout is an important perf opportunity in those networks.

[2020-10-02 21:18] #45498 closed

[2020-10-02 21:26] kevinstephano commented on #45524
It is true that this error was found with the Legacy Executor and not the Profiling Executor.

[2020-10-02 22:00] #45108 closed

[2020-10-02 22:06] SplitInfinity commented on #41355
Those who use their own operators will have more control over this, but I worry that those who rely mainly on PyTorch's operator implementations might be stuck with block and grid sizes that they cannot control (well, other than forking PyTorch) and that this might make it hard to increase hardware utilization.

Once this feature is added, I think users can exert control over that if they wish by

[2020-10-02 22:11] mkolod commented on #41355
@SplitInfinity These are legitimate concerns. However, short of rebuilding PyTorch to change block/grid configurations or changing custom ops, one can just observe what the launch config was using nvprof / NSight Systems / CUPTI. If it's clear that the config is suboptimal, a person tuning the code can still use streams to their advantage.

Re fork for the small kernels with big launch latencies s

[2020-10-02 22:25] timothybrooks commented on #45769
Indeed, borrowed an RTX 6000 and did not have the issue, so it is possible that it was specific to the RTX 8000, or some other difference between that and our cluster. Is there any workaround? Our cluster is made of RTX 8000s, and it would be great to be able to use them with Pytorch. I tried downgrading to v1.5.1 but the issue persisted, and I cannot use a lower version for my research.

[2020-10-02 22:27] REX51 commented on #41714
working on this issue

[2020-10-02 22:32] timothybrooks commented on #45769
I should also clarify that I am not positive it was the call to F.conv2d() that caused this, it was just the most recently called operation in the stack trace.

[2020-10-02 22:34] xwang233 commented on #45769
You can try `CUDA_LAUNCH_BLOCKING=1 python script.py` to isolate the problem.

This might be a problem of cudnn 7.6.5, not pytorch related. Can you try if cuda 11 + cudnn 8 solves the problem? If it's hard to change the system environment, and you do have nvidia driver version > 450, you can try latest nvidia pytorch container with cuda 11 + cudnn 8 https://ngc.nvidia.com/catalog/containers/nvidia

[2020-10-02 22:55] timothybrooks commented on #45769
Thanks for the help. Using CUDA_LAUNCH_BLOCKING=1, I get an extra error message that might be informative: `RuntimeError: Unable to find a valid cuDNN algorithm to run convolution`. I will try different combinations of cudnn context as you recommend, and a container if needed.

[2020-10-02 23:22] raziel opened #45784 "Proposal for stricter backward compatibility in function checks"
Proposal for stricter backward compatibility in function schema checks

Currently, there is a backwards compatibility check for the python API which follows python rules. This can be an issue for the C++ API, since the python rules are too permissive for C++ backward compatibility, where only positional arguments (no named args) are available.

This proposal is for going from the more permissive P

[2020-10-02 23:25] dzhulgakov commented on #45784
cc @suo @mruberry @houseroad

[2020-10-02 23:30] yrf1 opened #45786 "Missing hydra-core dependencies when trying to load fairseq from torch hub"
Got this error when trying to run a simple command:
`torch.hub.load('pytorch/fairseq', 'transformer.wmt19.en-de.single_model', tokenizer='moses', bpe='fastbpe')`
[code]

Here are all my package versions and dependencies for reproducibility:
[code]

Help please! Thank you!

cc @ailzhang

[2020-10-02 23:56] vkuzo commented on #45185
hi @neeraj-j , check out https://github.com/pytorch/vision/blob/master/references/classification/train_quantization.py for MobileNetV2 quantization reference code.  For detection and keypoints, what people often do is quantize the trunk and leave RPN and heads in floating point, although quantizing the heads would be possible as well.  I don't believe we have a tutorial on these nor on segmentatio

[2020-10-03 01:47] REX51 commented on #41752
@SplitInfinity is it okay if I change the 'whitelisted' word to 'allowlisted' ?

[2020-10-03 01:48] SplitInfinity commented on #41752
Sure. The author of the existing PR does not seem to be working on it anymore.

[2020-10-03 01:48] REX51 commented on #41752
Okay cool.

[2020-10-03 01:50] ezyang commented on #45761
Earliest occurrence appears to be https://app.circleci.com/pipelines/github/pytorch/pytorch/222489/workflows/8823f781-c8c6-4344-b78b-ca6a534966d1/jobs/7957047

Culprit commit is likely https://github.com/pytorch/pytorch/pull/45292

cc @jerryzh168

[2020-10-03 02:49] densechen opened #45797 "How to set a correct random seed?"
Hi, I am using pytorch==1.3/1.1 with 4/2 GPUs to training network.
I use the following code to set random seed at the beginning of program:
`
def seed_torch(seed=1029):
    random.seed(seed)
    os.environ['PYTHONHASHSEED'] = str(seed)
    np.random.seed(seed)
    torch.manual_seed(seed)
    torch.cuda.manual_seed(seed)
    torch.cuda.manual_seed_all(seed)  # if you are using multi-GPU.
    torch.

[2020-10-03 03:45] mengyingzhou commented on #21819
@xiaofeng-fan 's way works for me.
I downgraded pytorch to 1.4 and the error is gone.

[2020-10-03 05:34] hmrishavbandy commented on #2001
@zamnius , here are the complete list of imports:

[code]
@ShuvenduBikash , this is probably what you figured out:
The lines 15-22 should be like this as all layers dont have bias.

[code]

[2020-10-03 06:48] SplitInfinity commented on #41718
Fixed by #45512.

[2020-10-03 06:48] #41718 closed

[2020-10-03 06:52] SplitInfinity commented on #41728
Fixed by #42046.

[2020-10-03 06:52] #41728 closed

[2020-10-03 07:02] SplitInfinity commented on #41730
Closed by #41701.

[2020-10-03 07:02] #41730 closed

[2020-10-03 07:03] SplitInfinity commented on #41731
Closed by #44249.

[2020-10-03 07:03] #41731 closed

[2020-10-03 07:05] SplitInfinity commented on #41762
Closed by #41756.

[2020-10-03 07:05] #41762 closed

[2020-10-03 07:07] SplitInfinity commented on #41763
Closed by #41756.

[2020-10-03 07:07] #41763 closed

[2020-10-03 07:08] SplitInfinity commented on #41764
Closed by #41756.

[2020-10-03 07:08] #41764 closed

[2020-10-03 10:38] AyanKumarBhunia commented on #45578
Please let me know what is your experience with 3090?

[2020-10-03 13:45] Rocknz commented on #21819
This issue still exists on me. Even I use pytorch 1.4 and CUDA 10.1.
I used 2080ti.

[2020-10-03 14:27] prameth commented on #21819
https://github.com/pytorch/pytorch/issues/21819#issuecomment-702877382

On Sat, Oct 3, 2020 at 7:15 PM Chung Rakjoon <notifications@github.com>
wrote:

[2020-10-03 17:10] NLPJCL opened #45805 "Handling singular matrices when backprop"
Hey guys!

I am currently running into the following problem:
after  loss.backward()
I’ll get the
RuntimeError: inverse_cuda: For batch 25: U(16,16) is zero, singular U.
I used the determinant of the matrix to compute the loss function.I think it might have something to do with it

[2020-10-03 18:01] JaireYu commented on #34573
Thank  you for your reply. But  I know on which condition it  is needed. I don't know why we  need to attach the additional token.

[2020-10-03 18:15] gmagogsfm commented on #37516
How do we solve the type covariance problem if we treat `isinstance(foo, Dict)` as `isinstance(foo, Dict[Any, Any])`? Without changing covariance rules, this would never evaluate to `True`. Therefore, it is really not a viable solution.

Creating `torch.jit.isinstance` is suboptimal as it requires users to change their code, but it does sidestep this problem. Thoughts?