[2020-04-10 22:07] ngimel commented on #36408
Please put up a PR, it's easier to have a discussion there.

[2020-04-10 22:16] wanchaol commented on #36038
@JianpingChen066, I spent sometime on reproducing the regression, but so far what I get is not a regression but rather a minor perf improvement, also I don't see `zero_` time is increasing. see this result https://gist.github.com/wanchaol/6e0c52720313047f67789dc447f53ed0

Can you retry your benchmark locally? or can you share what additional set up you might have on your setup? Thanks!

[2020-04-10 22:19] wanchaol commented on #32930
seems like there's so easy way to preserve the ordering when fix up the trace scope blocks. I am going to close this as it's not a bug. @alondj feel free to reopen it if you like to discuss more.

[2020-04-10 22:19] #32930 closed

[2020-04-10 23:12] aayn commented on #36029
Thank you all for the inputs. Seems like #35871 has been merged. I'll pull the latest stuff, update my local build and send a PR with a solution shortly.

[2020-04-11 01:36] imskr commented on #36327
@anjali411 Can you please tell me which file I have to make changes?

[2020-04-11 01:51] mcarilli commented on #36408
I think this is a compiler bug (https://github.com/pytorch/pytorch/pull/36416#issuecomment-612294692).

[2020-04-11 02:41] mashuai191 commented on #36068
waiting for some who knows some workaroud to bypass this issue...

[2020-04-11 02:42] universewill opened #36423 "Is there any loss that can count number of distinct values in tensor?"
I want to calculate number of distinct values in a tensor as loss for image generation.
The target gray image should contain only several gray values in range of (0, 255). Large number of distinct values should get high loss.

How can i achieve this loss with torch?

[2020-04-11 03:10] n-west commented on #36374
Hi, this is because the minimum and maximum definition in vec256_complex_{double,float}.h are using the abs (really the square abs) to find the minimum and maximum. Numpy uses "The sort order for complex numbers is lexicographic. If both the real and imaginary parts are non-nan then the order is determined by the real parts except when they are equal, in which case the order is determined by the i

[2020-04-11 03:18] alejandrodemiquel opened #36424 "nn.Conv2d doesn't handle well padding in the borders of matrix"
## 🐛 Bug

I'm training a simple model with just one convolution with a kernel of size 3. I want the output to have the same shape as the input, so I add padding of 1 with value 0. You can see the model I use below.
I have 3 channels, and I use one-hot-encoding, so I only have ones and zeros in the input.
After training the model, when executing the forward, I find that some of the values in the bo

[2020-04-11 03:24] muzi2045 opened #36425 "[AdaptiveMaxPool3d] operator export to onnx error"
## 🐛 Bug

export the torch.nn.AdaptiveMaxPool3d to onnx error

## To Reproduce

[code]
![image](https://user-images.githubusercontent.com/12984898/79034127-48112880-7be6-11ea-9d63-62b074d439ce.png)

When you using torch.nn.Adaptivepool3d(1)
it can be export just as maxpool
![image](https://user-images.githubusercontent.com/12984898/79034153-8d355a80-7be6-11ea-9065-9230178f9b2e.png)

## Expected be

[2020-04-11 03:37] dylanbespalko commented on #36374
@n-west

Thanks for helping. I wrote the initial code that you are referring to in the vec256 files. At the time, the maximum and minimum functions were not callable by the old TH library. Therefore, I don't think there is any downstream code yet, atleast not for complex numbers.

#33568 addresses a related issue with `torch.clamp` vs. `numpy.clip`. Using `abs()` to select the highest value is the

[2020-04-11 03:38] peterjc123 commented on #36381
Well, looks like that is still not enough. Maybe we should transform all the paths to relative path (can be specified using a environment variable) while calculating hashes.

[2020-04-11 03:42] mruberry commented on #36374
Hi @n-west, thanks for your interest! And thanks for your comment, too, @dylanbespalko.

I'd like to think about this some more, but I actually wonder if PyTorch should allow comparisons between complex numbers at all?

On one hand, the complex numbers aren't part of any totally ordered field, and neither Python nor C++ support direct comparisons between complex numbers. This approach also gives u

[2020-04-11 03:48] n-west commented on #36374
I agree with using abs() or equivalently L2-norm is the logical thing (at least in the applications I work with... I'm not sure when I'd ever want to sort the numpy way). As you both mentioned C++ and most other languages don't define these comparisons at all because there's not necessarily a mathematical definition I know of for the comparison.

For what it's worth I'm coming from complex baseban

[2020-04-11 04:01] mruberry commented on #36374
Thanks for that context, @n-west! And glad to hear you're excited. We are, too!

Did you know I recently updated torch.abs() to return a float tensor when given a complex input? Would a combination of torch.abs(), argsort, and index_select work to implement sorting by absolute value? We could also think of implementing a function like "sort_absolute" that sorted any array using absolute value to c

[2020-04-11 04:12] YingleiZhang commented on #36298
The network bandwidth is indeed the bottleneck when synchronizing large models.  NCCL folks provide some numbers in the other thread. Basically, the bandwidth for all reduce operation on intra-gpu communication would be much higher than that of inter-node communication. (NCCl folks mentioned 120 GB/s vs 10 GB/s, https://github.com/NVIDIA/nccl/issues/318).

Thanks for the help. I am closing this is

[2020-04-11 04:12] #36298 closed

[2020-04-11 04:20] n-west commented on #36374
Yes, those would be useful. I don't necessarily care about sorting most of the time, but I do care about min and max. Currently I do the following:
[code]

I believe the existing `torch::norm` can replace the slice and multiplies, probably more efficiently. Having a proper complex number is mostly icing on the cake.

One thing that may be useful context is there's a growing world of people running

[2020-04-11 04:40] aluo-x commented on #26555
Also encountering this error. Bumping for visibility.

[2020-04-11 04:44] aluo-x commented on #26597
Also encountering this error, [see here](https://github.com/pytorch/pytorch/issues/34431#issuecomment-596145998).

[2020-04-11 04:49] aluo-x commented on #26597
Tagging @suo.

[2020-04-11 04:59] swang-sjtu opened #36426 "Any reference to LPPool2d"
## 📚 Documentation

Hi all,
      I found the LPPool2d & LPPool1d in the pytorch implementation, but there is no reference provided in the documents. And I didn't find the related paper explaining why it works. Any related paper would be helpful, thanks!

[2020-04-11 05:11] aluo-x commented on #34431
@Baranowski
I am no longer encountering this issue after an update to GCC 8.4.0 from 8.3.0.
I did still encounter #26555 , which I bypassed using the suggested solution in the thread.
#26597 may or may not still apply. I did not risk it as I built with tests.

Closing this bug now since the problem auto-magically resolved itself.

[2020-04-11 05:20] n-west commented on #33568
Just my $.02, but I currently use torch::clamp on "complex" tensors of shape [samples, 2] to simulate clipping on a pair of independent ADCs such as in quadrature sampling. In this application I would expect that a float min or max would be applied to the real and imag channels independently.

[2020-04-11 05:39] alejandrodemiquel commented on #36424
See the attached file for complete repro steps.

[reproSteps.txt](https://github.com/pytorch/pytorch/files/4464111/reproSteps.txt)

[2020-04-11 06:41] choidongyeon commented on #36368
I would like to take a look into this.

[2020-04-11 07:24] Shubhammishra-21 commented on #35954
hello mam i'm facing the problem to getting error while doing the SBI Life insurance Datasets in Jupyter notebook ,By using Algorithm Logistic Regression,I'm unable to use Libaries Properly for SBI Life Insurance,Please help me out for this Problem.

[2020-04-11 07:52] wenhui-prudencemed opened #36428 "AMP autocast error in cnn-lstm forward"
## 🐛 Bug

get cuDNN error: CUDNN_STATUS_BAD_PARAM in cnn-lstm network forward method

## To Reproduce

[code]

## Environment
torch==1.6.0 nightly (2020-04-10)

@mcarilli

cc @csarofeen @ptrblck

[2020-04-11 12:28] TengFeiHan0 opened #36429 "return multiple tensors when inferencing on a torch script"
## 🐛 Bug

I need to return multiple tensors when inferencing on a torchscript [model](https://drive.google.com/file/d/1kZ0H_dWjjv07TvmgbENdhPnkuKQEXt9g/view), but it seems that PyTorch c++ API currently doesn't support for return more tensors when using `forward（）`

## To Reproduce

Steps to reproduce the behavior:

1. download the `model.pt `（click previous link）
2. copy my cmakelists.txt
[code]

[2020-04-11 14:06] erip opened #36432 "TorchScript doesn't parse floats that are not inf-y."
## 🐛 Bug

TorchScript should permit non-inf strings to be parsed as floats, but this is currently not permitted.

## To Reproduce

Steps to reproduce the behavior:

1. `conda install -c pytorch pytorch -y`
1. `python test.py`

##### `test.py`

[code]

##### Stack Trace

[code]

## Expected behavior

The above snippet should print `0.0` to the console.

## Environment

[code]

cc @suo

[2020-04-11 14:15] riven314 commented on #18631
would pytorch plan to optimize depthwise convolution / depthwise separable convolution in the future?

[2020-04-11 14:28] arshad171 opened #36433 "Difference in performance after loading a trained custom LSTM module (torch 1.4.0)"
I have a custom LSTM module that I'm training on a dataset and then saving it, after I have attained a good accuracy on it (~ 80%).

But when I reload the model for making predictions or for continuing the training, I'm getting very different and incorrect results.
I followed the [fficial doc for saving/loading the model (https://pytorch.org/tutorials/beginner/saving_loading_models.html). None of

[2020-04-11 14:33] #36221 closed

[2020-04-11 14:49] ezyang opened #36434 "Intermittent hang in BuildLivenessSets after test_svd_cuda_float64 on CUDA 10.1 configurations"
In CI, our CUDA jobs with no AVX configurations intermittently hang.

[code]

It happens on `pytorch_linux_xenial_cuda10_1_cudnn7_py3_NO_AVX2_test` and `pytorch_linux_xenial_cuda10_1_cudnn7_py3_NO_AVX_NO_AVX2_test` but not `pytorch_linux_xenial_cuda9_cudnn7_py3_test` nor `pytorch_linux_xenial_cuda10_1_cudnn7_py3_gcc7_test` (I confirmed the test is run in all these configurations)

Here are the bac

[2020-04-11 14:55] ezyang commented on #36434
Thread 1 is not hung; it actually appears to be making progress.

[2020-04-11 15:05] ezyang commented on #36434
It appears to be an infinite loop here:

[code]

[2020-04-11 15:20] ezyang commented on #36434
cc @eellison, we think these hangs began around  Tue Apr 7, and seeing that the infinite loop is in JIT code, #35562 looks suspicious.

[2020-04-11 15:44] minaremeli opened #36436 "After `create_graph=True`, calculating `backward()` on sparse Tensor fails"
## 🐛 Bug

After retaining the calculation graph of the gradients ( `create_graph=True`), `backward()` fails on sparse Tensor.

The following error occurs:
`RuntimeError: calculating the gradient of a sparse Tensor argument to mm is not supported.`

## To Reproduce
[code]

## Expected behavior

After `L.backward()`, dL/dX and dL/dy should be calculated based on the gradient's calculation graph.

##

[2020-04-11 16:20] LaurentMazare opened #36437 "Issue when linking C++ code with libtorch_cpu: cuda not detected"
## 🐛 Bug

(not sure how much of a bug this is, maybe it's expected)
I'm currently working on adapting some [rust bindings](https://github.com/LaurentMazare/tch-rs) for PyTorch and in the process came across the following issue for which I don't have a good solution. The issue can be show on C++ code.
- When linking the final binary with `-ltorch -ltorch_cpu -lc10`, `torch::cuda::is_available()` re

[2020-04-11 16:27] erip commented on #36432
It seems this is fixed in nightly, actually.

[2020-04-11 18:56] rckitson commented on #36120
@pritamdamania87 is this closed based on #36292 ?

[2020-04-11 19:20] liulixinkerry opened #36441 "Numerous Warnings and Errors occurs when compiling if including <torch/torch.h> in .cu files"
Numerous Warnings and Errors occur when including LibTorch in .cu files. I think maybe some compiling settings are wrong...

One of error is as following.
[code]
Most of errors are similar as this one.

## To Reproduce

Easily to reproduce, just set all things as following and compile the cmake project

files
[code]

test.cu
[code]

CMakeLists.txt
[code]
make command
[code]

## Expected behavior
<

[2020-04-11 19:23] mruberry commented on #36368
Hi @choidongyeon! Thanks for your interest. You should ask @suo, I'm not sure what his thinking on this issue is.

[2020-04-11 23:23] JiechaoGuan opened #36443 "For margin-type loss used in multiclass classification problem, why torch.nn.functional only has MultiMarginLoss instead of the more important margin loss? Is it because the latter are more difficult to optimize? Why?"
If you have a question or would like help and support, please ask at our
[forums](https://discuss.pytorch.org/).

If you are submitting a feature request, please preface the title with [feature request].
If you are submitting a bug report, please fill in the following details.

## Issue description

Provide a short description.

## Code example

Please try to provide a minimal example to repro the

[2020-04-11 23:46] aayn commented on #36029
@dylanbespalko @ngimel @anjali411

I have a few questions. Testing the current (hardware accelerated) exp function with `rtol=0` and `atol=0` doesn't work. There is almost always some small error between the backend computation and the torch computation. What would be the right tolerances to set here? I isolated this to our exp implementation: if you change the [this function](https://github.com/p

[2020-04-11 23:59] dylanbespalko commented on #36029
@aayn,

Floating-point tolerances are currently define for non-complex dtypes. I simply borrowed these numbers as follows:

[code]
assert_allclose is from numpy.test

Also for hw acceleration, SLEEF defines the tolerances for each function [here](https://sleef.org/x86.xhtml). I've noticed that some functions have different tolerances.

[2020-04-12 00:00] dylanbespalko commented on #36029
Related #35954

[2020-04-12 00:12] anjali411 opened #36444 "Comparison ops for Complex Tensors"
Options:

1. Follow numpy behavior
    1.1 compare real components if the complex numbers in consideration are not pure imaginary numbers else compare their imaginary components
2. compare abs values
    2.1 follow up question: what do we do for these cases:
        a.  (r, θ1), (r, θ2) should we consider them as equal what about 4 +0j (4, 0) and -4 + 0j (4, pi)?
        b. what about -4 + 0j and

[2020-04-12 01:03] aayn commented on #36029
@dylanbespalko It actually works with zero tolerance too. I was making a stupid mistake.

@dylanbespalko @ngimel @anjali411 I'm submitting a preliminary PR. Let me know if my solution is acceptable, and please suggest changes if not.

[2020-04-12 01:33] aaron387 commented on #16417
Make sure your using your GPU at slot 0 with --device_ids 0

I know im butchering the terminology but it worked. I guess it assumes you want to use the CPU instead of GPU if you don't select an id.

[2020-04-12 02:02] mruberry commented on #36374
Let's move this discussion to the more general discussion in https://github.com/pytorch/pytorch/issues/36444.

[2020-04-12 02:02] mruberry commented on #33568
Let's move this discussion to https://github.com/pytorch/pytorch/issues/36444.

[2020-04-12 02:13] mruberry commented on #36323
"Yes, and..." to @rgommers.

If we're divergent from NumPy we should error. Wikipedia defines two sign functions for complex numbers: `x / |x|`, as @rgommers mentions, and `csgn`, which is what NumPy uses. If we don't think users have a natural expectation of one vs the other we could also implement both as something like `sign_complex` and `csgn` and error when a user tries to use `sign` alone on

[2020-04-12 03:40] prajjwal1 commented on #36309
@zasdfgbnm Can I work on this ? If that's okay, could you also provide few hints on tackling this. Thanks!

[2020-04-12 03:43] zasdfgbnm commented on #36309
It would be nice if you want to work on this, and I am happy to help. But before doing anything, we need someone on Facebook to confirm if we want to add this feature. Maybe @gchanan ?

[2020-04-12 04:07] MokkeMeguru opened #36448 "nn.utils.rnn.pack_padded_sequence is broken"
## 🐛 Bug
batch_size its function calculates is wrong

## To Reproduce

[code]
## Expected behavior

batch size:  tensor([3])

## Environment

PyTorch version: 1.4.0
Is debug build: No
CUDA used to build PyTorch: 10.1

OS: Ubuntu 16.04.2 LTS
GCC version: (Ubuntu 5.4.0-6ubuntu1~16.04.4) 5.4.0 20160609
CMake version: version 3.5.1

Python version: 3.6
Is CUDA available: Yes
CUDA runtime version: 8.0.

[2020-04-12 04:16] prajjwal1 commented on #36133
I think you can go with AdamW. The author of the paper used SGD. SGD requires a lot of tuning (in terms of hyperparameters) to work well as compared to Adam counterparts. You can have a look at this [article](https://www.fast.ai/2018/07/02/adam-weight-decay/) for more details. When you use a high learning rate (if trying to acheive superconvergence) be careful with regularization as the author poi

[2020-04-12 04:21] prajjwal1 commented on #36125
I'm also facing a similar problem. It's stuck at this line
[code]
The build is also not passing at the moment. Not sure what the problem is.

[2020-04-12 05:52] mruberry commented on #33048
allclose is implemented with isclose, so isclose suffers from the same issue.

[2020-04-12 06:22] mruberry opened #36451 "torch.isclose is not implemented for cpu half tensors"
[code]

results in

[code]

[2020-04-12 07:32] VivekPanyam commented on #36408
Thanks for the taking a look! I posted a comment with details and counterexamples showing that this likely isn't a compiler bug (https://github.com/pytorch/pytorch/pull/36416#issuecomment-612575419)

Thanks again for getting to this so quickly!

[2020-04-12 07:54] liulixinkerry commented on #36441
Duplicate of #33659
After setting the CMakeLists as https://github.com/pytorch/pytorch/issues/33659#issuecomment-589968454 , the code can be compiled and run now.
Hoping for providing the new CUDA source support of CMake soon. Such an excellent features will make CMakeLists more readable. Thanks a lot! :) 😁

[2020-04-12 07:54] #36441 closed

[2020-04-12 08:45] gzygzy9211 opened #36452 "Curreent SyncBatchNorm (a synchronized implementation) slow down DDP training"
## 🚀 Feature

An asynchronized implementation w.r.t to the host thread

## Motivation

Current implementation of ``SyncBatchNorm`` is not only synchronized with other workers but also block the host thread, so the host cannot continue issue computing task to the GPU like it does with ``Module`` without ``SyncBatchNorm``. So the GPU cannot be saturated during training.

After I do some research on

[2020-04-12 09:43] pfeatherstone commented on #36133
Thank you for the answer. With regards to regularisation, how do you suggest we adapt weight decay when attempting super convergence?

[2020-04-12 09:49] prajjwal1 commented on #36133
When your LR is high (let's say in cyclical LR, max bound is on a higher side), then you'd want to to experiment a bit (running for few epochs on a sample mini dataset) to see how it adapts. There should be a right balance between regularization and right LR in the first half when trying for superconvergence. I'd experiment a few times with `weight_decay` parameter to learn how much regularization

[2020-04-12 09:51] wayne391 commented on #28478
In my case, it worked too!
love PyTorch.

[2020-04-12 09:54] pfeatherstone commented on #36133
Do you thing the weight decay can be alo scheduled in OneCycleLr? A bit like momentum, weight decay could decrease when LR is increasing, and increase when LR is decreasing?

[2020-04-12 09:59] prajjwal1 commented on #36133
1CycleLR is a learning rate scheduler. AdamW is an optimizer. So weight decay is incorporated in AdamW not 1CycleLR. Learning rate and momentum increase and decrease at a similar rate simultaneously. We want our optimizer to find a good flat area and during our initial discovery, we want to give more weight to initial gradients. See the figure from this blog [post](https://sgugger.github.io/the-1c

[2020-04-12 10:04] longzeyilang commented on #15216
How to modify the value of input_example for object detection such as Faster-RCNN? Because the input not only include image shape, but also include object information? such as x,y,w,h. and so on

[2020-04-12 10:04] rgommers commented on #36323
That does feel like namespace pollution for something that won't be used a lot and is not difficult to implement by hand for a user in the way they want. I'm starting to lean more to just erroring out and leaving it at that.

[2020-04-12 10:07] pfeatherstone commented on #36133
My point is, the scheduler schedules two hyper parameters of the optimiser, namely: LR and momentum. Why not also schedule a 3rd hyper parameter of the optimiser, namely : the weight decay

[2020-04-12 10:07] rgommers commented on #36444
this is the most compelling argument for me

[2020-04-12 10:10] Snuffy4 commented on #36315
Help me please

[2020-04-12 10:16] pfeatherstone commented on #36133
I'm just feeding off what you mentioned above. It seems that weight_decay could benefit from being adapted too.

[2020-04-12 10:54] prajjwal1 commented on #36133
When weight_decay is already present in the [optimizer](https://pytorch.org/docs/stable/optim.html#torch.optim.AdamW), why would you want that in a learning rate scheduler ? This topic is better suited for forums.

[2020-04-12 10:54] vadimkantorov commented on #36451
is it same reason as https://github.com/pytorch/pytorch/issues/36318 ? almost no operations are supported for half on cpu, right? (except fakefp16 support is implemented into pytorch, not just in caffe2?)

[2020-04-12 10:55] mruberry commented on #36451
Looks like the same underlying reason, yep.

[2020-04-12 11:03] arshad171 commented on #36433
There were random states involved in the model, once I used a seed or saved the state and loaded it back when evaluating, I did not see the issue.

Sorry for the invalid bug.

[2020-04-12 11:03] #36433 closed

[2020-04-12 11:08] fcqfcq opened #36454 "TracerWarning: Converting a tensor to a Python number might cause the trace to be incorrect. We can't record the data flow of Python values, so this value will be treated as a constant in the future. This means that the trace might not generalize to other inputs!"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

[2020-04-12 11:10] fcqfcq commented on #36454
/input/.py:210: TracerWarning: Converting a tensor to a Python integer might cause the trace to be incorrect. We can't record the data flow of Python values, so this value will be treated as a constant in the future. This means that the trace might not generalize to other inputs!
  padding=self.padding, stride=self.stride, groups=N).contiguous().view(N,oC,H,W)
/input/.py:168: TracerWarning: Conver

[2020-04-12 11:15] bobiblazeski opened #36455 "torch.Tensor.new_full ignores requires grad"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. Create tensor
2. Create new_full with requires_grad=True
3. New full tensor should require gradient as per [documentation](https://pytorch.org/docs/stable/tensors.html#torch.Tensor.new_full)

[code]

## Expected behavior

## Environment
Collecting environment information...
PyTorch version: 1.4.0
Is debug build: No
CUDA used to build

[2020-04-12 11:26] pfeatherstone commented on #36133
Then why would you want the momentum or the beta1 value of the optimizer to be adapted by the scheduler?

[2020-04-12 11:28] pfeatherstone commented on #36133
According to the docs, the OneCycleLr cycles the momentum between base_momentum and max_momentum

[2020-04-12 11:29] pfeatherstone commented on #36133
So it's not just a learning rate scheduler, but a hyper-parameter scheduler

[2020-04-12 11:46] prajjwal1 commented on #36133
Yes, it's more than a learning rate scheduler (it's a common terminology), there are other hyper parameters you can adjust with schedulers. I suggest you read the paper. That'll give you more perspective. Optimizer is called on every iteration whereas scheduler is called per epoch. You don't change the learning rate after very forward pass. You learn the heuristics (moving average, warmup etc.) on

[2020-04-12 12:06] pfeatherstone commented on #36133
The OneCycleLr is called after every batch, not epoch

[2020-04-12 12:07] pfeatherstone commented on #36133
I think we are going round in circles. I know how and when optimizers and schedulers should be used. My original question has been answered: all optimizers can be used with OneCycleLr in theory. Practically use SGD or AdamW. With AdamW, be careful to use an adequate weight_decay value.

[2020-04-12 12:08] pfeatherstone commented on #36133
The remainder of the discussion about adapting other hyper parameters in schedulers, I will post on the discuss.pytorch forum at some point.

[2020-04-12 12:32] mattip commented on #18757
PR gh-17783 removed the `BUILD_TORCH` and `TORCH_STATIC` options. In order to reproduce I tried

[code]

and it all worked fine (no error). @blacksailer, @xsacha could you confirm that your code still fails?

<details><summary> Create the test files </summary>

[code]
At a python prompt with a functioning torch install:
[code]

[2020-04-12 13:52] mattip commented on #32284
I could confirm the leak on that exact version (v1.3.1 with numpy 1.17.4, no cuda, python3.6). By only changing the pytorch version to v1.4.0, the leak no longer occurs. Should I bisect it further to figure out exactly where the change occurred?

[2020-04-12 15:12] Shankaramurthi commented on #4827
Thanks, it worked for me

[2020-04-12 15:53] taomo commented on #11422
I have the same issue,
ubuntu 18
python 3.6
cuda 9.2
pytorch 1.4
If I use cpu ,NO ERROR.
If I use gpu:
RuntimeError: Cowardly refusing to serialize non-leaf tensor which requires_grad, since autograd does not support crossing process boundaries.  If you just want to transfer the data, call detach() on the tensor before serializing (e.g., putting it on the queue).
anyone can help me. Thank you very

[2020-04-12 16:04] taomo opened #36457 "RuntimeError: Cowardly refusing to serialize non-leaf tensor which requires_grad, since autograd does not support crossing process boundaries"
## ❓ Questions and Help
Reinforcement learning on  multiprocessing Queue.
If I use cpu ,NO ERROR.
If I use gpu:
RuntimeError: Cowardly refusing to serialize non-leaf tensor which requires_grad, since autograd does not support crossing process boundaries. If you just want to transfer the data, call detach() on the tensor before serializing (e.g., putting it on the queue).
anyone can help me. Thank

[2020-04-12 16:14] mattip commented on #32284
While v1.4.0 does not leak, current master (d83509e) does.

[2020-04-12 16:43] seyeeet commented on #31828
This bug still exists:
Im using pytorch 1.4

[code]

[2020-04-12 17:30] ezyang commented on #36381
My personal preference is to just force the build to always happen at the same location, so then you don't have to transform anything. Is there a reason we can't conveniently do that here?

[2020-04-12 17:31] ezyang commented on #36374
also cc @rgommers

[2020-04-12 17:42] peterjc123 commented on #36381
@ezyang Conda-build doesn't provide an option to pin the build directory. See https://github.com/conda/conda-build/blob/97d35e337419c08945acf29605791dc9e8d4eb81/conda_build/config.py#L551 for more details.

[2020-04-12 18:07] ezyang commented on #36408
cc @malfet

[2020-04-12 18:48] lanpa commented on #34954
Thanks @amoshyc

[2020-04-12 19:08] lanpa commented on #33226
@RylanSchaeffer Hi, Just happened to see this post and I have reproduced the issue. Have you solved the problem already?

[2020-04-12 19:13] RylanSchaeffer commented on #33226
Nope. And I haven't haerd from @zhangguanheng66 . To be honest, I'm unsure he understood the problem.

[2020-04-12 19:37] guillermo-jimenez opened #36459 "nn.Parallel similar to nn.Sequential"
## 🚀 Feature

For convenience, a module torch.nn.Parallel could exist for applying a list of operations parallely to a tensor instead of sequentially.

## Motivation

When models branch (imagine a variational autoencoder model with reconstruction in one branch and classification with another), nn.Parallel could be really useful for simplifying the definition of these types of models.

## Pitch

Th

[2020-04-12 20:02] Snuffy4 opened #36460 "Help me PLEASE!!!!! OSError: [WinError 127]"
PyTorch has compiled for CUDA 8.0, run the script, and now this problem! How many already can be, I several days try to just put your package, and you normally can not help
[code]

[2020-04-12 20:29] theycallmefm opened #36461 "Pretrained model in libtorch gives different results each time"
Hi, I want to use my pretrained model(which is trained on pytorch) in my C++ project. I have saved my network in Python and loaded in C++ using jit.

[code]

I am passing CUDAFloatTensor as an input. I am supposed to have three outputs from my model.

[code]
I realized forward pass doesn’t always give correct results. Sometimes it gives answer below.(which is the right answer I checked on pytorch

[2020-04-12 20:43] #36322 closed

[2020-04-12 21:23] vadimkantorov commented on #36461
I don't know if you must put your model in eval mode after you load it in C++ (it would adjust dropout and batchnorm operation), but if it's the case, it could explain your results (https://github.com/pytorch/pytorch/issues/35644)

[2020-04-12 21:29] theycallmefm commented on #36461
@vadimkantorov I also tried eval mode but it didn't work unfortunately.

[2020-04-12 22:17] tellihichem commented on #9983
:red_circle: I am very disappointed on ~~_pytorch_~~ :confused:  for not implementing matrix log (logm in matlab), which is a very essential tool in machine learning and tensor manipulation. I am thinking to switch back to matlab.

[2020-04-12 22:21] mruberry opened #36462 "torch.isclose for complex tensors"
Issue https://github.com/pytorch/pytorch/issues/36029 requests several functions be implemented for complex tensors, including torch.isclose. This issue separates the isclose discussion since it's nuanced and we have a choice of behaviors to implement.

@ngimel and I think there are two candidates for torch.isclose behavior.

The first is to be like NumPy's [isclose](https://numpy.org/doc/1.18/ref

[2020-04-12 22:38] mruberry commented on #36460
Hey @Snuffy4, sorry to hear you're having a problem! This issue looks more appropriate for our forums, here: https://discuss.pytorch.org/.

Also, as a sidenote, PyTorch only supports CUDA 9.2+ now.

[2020-04-12 22:38] #36460 closed

[2020-04-12 22:44] KeAWang opened #36463 "Autograd.grad not making higher order graph for scaling functions"
## 🐛 Bug

`torch.autograd.grad` seems to not create graph if the function being differentiated has a second derivative of 0. This causes unexpected issues when we try to take a higher-order gradient.

The following example will make this more clear

## To Reproduce
We would like to do something like
[code]
This fails because `dydx` doesn't have a `grad_fn` even though `create_graph=True`. This see

[2020-04-12 23:27] Ge0rges commented on #16954
So what would be the correct usage here? I see the issue s still open but it's been over a year so I'm wondering if this is still up for debate or there is accepted solution. Is it as simple as doing `from torch.multiprocessing import Pool` in python 3.7 and torch 1.3.1 for example?

[2020-04-12 23:30] TimingSpace opened #36464 "How do pytorch calculate image gradient"
## How do pytorch calculate image gradient `dI(u,v)/d(u,v)`
### `I(u,v)` is the intensity of a pixel in location `(u,v)`, how do pytorch autograd function calculate it automatically?

If I calculate by myself, I will do it by `dI(u,v)/d(u)=dI(u+1,v)-dl(u,v)` or similar approach.

I want to know do you pytorch implements it in the package of autograd.

As when I learn optical flow or ego-motion, I

[2020-04-12 23:55] kleinhenz commented on #25045
I also see the same issue if the dimension is larger than about 1450.

[2020-04-13 00:21] jpcenteno80 opened #36466 "torch.cuda.amp.GradScaler: RuntimeError"
## 🐛 Bug

@mcarilli:
Getting the following error at random while training a 3d segmentation network using `amp.autocast()` and `amp.GradScaler()`.
`RuntimeError: graph_task->future_result_->completed() INTERNAL ASSERT FAILED at /pytorch/torch/csrc/autograd/engine.cpp:926, please report a bug to PyTorch.`

The Traceback is as follows:
[code]

## To Reproduce

Steps to reproduce the behavior:

Modif

[2020-04-13 00:50] Tann10 commented on #16417
I am getting the same error:
RuntimeError: CUDA out of memory. Tried to allocate 4.84 GiB (GPU 0; 7.44 GiB total capacity; 5.22 GiB already allocated; 1.75 GiB free; 18.51 MiB cached)

When I restart the cluster or change the batch size, it works. But I don't like this solution. I even tried torch.cude.empty_cache() , this doesn't work for me. Is there any other efficient way to solve this?

[2020-04-13 01:47] JianpingChen066 commented on #36038
@wanchaol which kind of machine you used for profiling, looks like it more slower than the performance on CLX8280 28-core (add_ performance is ~1561s on CLX8280 with 28-core while the add_ in your report is about 2241s, is that for 1000 iterations ) ? Is this check-in may introduce some uncertainty ? something like lock conflict, when it's not happen then perform is OK while when conflict happen,

[2020-04-13 01:54] ngimel opened #36469 "Wrong results for multiplication of non-finite complex numbers with real numbers"
## 🐛 Bug
## To Reproduce
[code]

## Expected behavior
expected answer is inf+0j

This is caused by pytorch first promoting 1. to 1.+0j, causing the unexpected multiplication result. Note, this behavior is consistent with python and numpy, but inconsistent with c++ std::complex (which would produce inf+0j for this computation).

[2020-04-13 01:58] mruberry commented on #36469
Quick offline follow-up with @ngimel: gcc and clang implement this when both arguments are complex:

[code]

prints `(inf,-nan)`.

[2020-04-13 02:25] mruberry commented on #36462
I'd like to propose the following implementation, following cmath and NumPy:

To determine if a number `a` is "close" to a number `b` apply the first case which applies:

- If both numbers are finite (neither is -inf, inf, or NaN or, if complex, has -inf, inf, or NaN as its real or imaginary part), then `a` is "close" to `b` if `abs(a - b) <= (atol + rtol * abs(b))`
- If equal_nan=False and a numb

[2020-04-13 02:31] mruberry commented on #35471
See https://github.com/pytorch/pytorch/issues/36462, which discusses a possible implementation of torch.isclose.

[2020-04-13 02:50] woaipichuli opened #36470 "one of the variables needed for gradient computation has been modified by an inplace operation"
I found pytorch returns error report when running codes below. I attempted to realize calculation which can be formulated as f(n) = Sigmoid(f(n-1)*x).

[code]

    As can be seen, results of f(n) will not be modified after the corresponding calcualtion. I considered we may not reuse the tensor for  intermediate results. Thus, I rewrite the code and it work. I wonder whether it is necessary as this

[2020-04-13 03:03] HamsterHuey opened #36471 "[Tensorboard] Incorrect (stale) docs for `add_scalars()` method in `torch.utils.tensorboard.SummaryWriter` class"
## 📚 Documentation

The documentation for the `add_scalars()` method for a `SummaryWriter` instance states the following note:

Ref: https://pytorch.org/docs/stable/tensorboard.html#torch.utils.tensorboard.writer.SummaryWriter.add_scalars

I believe that this is incorrect. This **is** an issue with the original tensorboardX implementation that adds scalars to a `self.scalar_dict` instance variable

[2020-04-13 03:13] JianpingChen066 commented on #36038
@wanchaol Is there an option to disable the graph level thread parallelism on CPU ? Thanks

[2020-04-13 03:49] samuelsunarjo96 opened #36472 "LBFGS Optimizer is non-deterministic?"
LBFGS Optimizer:
https://github.com/pytorch/pytorch/blob/6be85603757a810be3d18b70279b104c0653e9b3/torch/optim/lbfgs.py#L183

I was wondering if this optimizer is supposed to produce non-deterministic results? Given that these results were produced under the same parameter initialization and optimization setting. Simply running the program multiple times without any changes would produce different

[2020-04-13 04:12] izdeby commented on #36423
Please, use our [forum](https://discuss.pytorch.org/) for questions. Thank you

[2020-04-13 04:12] #36423 closed

[2020-04-13 04:13] #36429 closed

[2020-04-13 04:14] #36367 closed

[2020-04-13 04:19] izdeby commented on #36385
Please, use our [forum](https://discuss.pytorch.org/) for questions. Thank you

[2020-04-13 04:19] #36385 closed

[2020-04-13 04:19] izdeby commented on #36384
Please, use our [forum](https://discuss.pytorch.org/) for questions. Thank you

[2020-04-13 04:19] #36384 closed

[2020-04-13 04:24] izdeby commented on #36361
@daixiangzi, can you, please, provide more details on the issue and how to reproduce it? Thank you

[2020-04-13 04:24] #36361 closed

[2020-04-13 04:25] izdeby commented on #36359
Please, use our [forum](https://discuss.pytorch.org/) for questions. Thank you

[2020-04-13 04:25] #36359 closed

[2020-04-13 04:26] izdeby commented on #36472
Please, use our [forum](https://discuss.pytorch.org/) for questions. Thank you

[2020-04-13 04:26] #36472 closed

[2020-04-13 04:27] izdeby commented on #36470
Please, use our [forum](https://discuss.pytorch.org/) for questions. Thank you

[2020-04-13 04:27] #36470 closed

[2020-04-13 04:30] izdeby commented on #36464
Please, use our [forum](https://discuss.pytorch.org/) for questions. Thank you

[2020-04-13 04:30] #36464 closed

[2020-04-13 04:37] izdeby commented on #36457
@taomo, can you, please, provide more info or code on how to reproduce this issue?

[2020-04-13 04:42] #36454 closed

[2020-04-13 04:49] izdeby commented on #36443
Please, use our [forum](https://discuss.pytorch.org/) for questions. Thank you

[2020-04-13 05:10] xta0 commented on #35864
@linjiapro the APIs under nn namespace are being used to support eager mode in Python. Since we’re using torchscript on mobile, we didn’t compile that part of code in our binary. However, I think you can manually enable it by changing the `NO_API` value to OFF in the root `CMakeLists.txt` and rebuild the libraries. However, I personally haven’t tried, so not sure if they’ll work or not.

[2020-04-13 05:13] dylanbespalko commented on #36444
We need to develop kernels that
1. Perform a intuitive function and
2. Can benefit from fast hw acceleration.
3. Are compatible with Numpy. I don't think anybody uses `np.clip()` for complex numbers.

@n-west had some really good ideas about making min/max different from clamp for complex numbers.

### Clamp
- Re-interpret the complex number as a float[2] and clamp the real/image components separa

[2020-04-13 05:18] gnaggnoyil commented on #31264
So any progress on this bug that Snappy dependency isn't being handled properly? Given that RocksDB dependeny has already been imported first by config mode as targets and if it fails then by module mode as variables, I just feels it confusing that dependencies like Snappy are only imported in module mode as variables, which breaks RocksDB's dependencies itself.

[2020-04-13 05:23] JianpingChen066 commented on #36038
@wanchaol Could you try the following way to see whether this can be reproduced ?
1) wget https://github.com/pytorch/pytorch/pull/23057.diff (This is try to improve add_out_dense_sparse performance for non-coalesced hybrid sparse tensor)
2) Apply this diff to the commit version Mar26-618104185 and Mar26-9b8c9d6c respectively
3) Compare these two performance and profiling data

When I apply this to

[2020-04-13 05:33] ngimel commented on #36457
Please use forums (discuss.pytorch.org) for questions. Please provide reproduction code when asking a question there.

[2020-04-13 05:33] #36457 closed

[2020-04-13 06:37] #29706 closed

[2020-04-13 07:08] IlyaOvodov commented on #34002
@suo, @spandantiwari
Brief repro for it:
[code]
->
[code]
torch version: both 1.5.0a0+2dc2933 and 1.4.0

Attribute is changed inside forward() at least in nn.BatchNorm2d (and I suppose not only in BatchNorm2d), so almost  any net can't be converted to ONNX using TorchScript.

[2020-04-13 07:51] blueardour commented on #18113
@nieyan  I met similar problem, do you have any progress on it?

[2020-04-13 08:18] blueardour commented on #27176
Hi, I successfully convert the upsample with the scale param, however, I failed to pass the result test.

I refer https://github.com/pytorch/pytorch/issues/18113 for a simple test code:

`import torch.nn as nn
import torch
import torch.nn.functional as F
import numpy as np

import onnx
import onnxruntime
import caffe2.python.onnx.backend as backend

class Test(nn.Module):
    def __init__(self):

[2020-04-13 08:24] blueardour commented on #27176
Hi, I successfully convert the mode, however didn't pass the result test. Someone also report the issue.

https://github.com/pytorch/pytorch/issues/18113#issuecomment-608318113

Is there any advise on testing?

[2020-04-13 08:24] nieyan commented on #18113
I think convert to onnx opset version 11 can get correct result . But I do need onnx file with opset version 9 for next step, which is convert to embedding device's special model format.

[2020-04-13 08:34] theycallmefm commented on #36461
I realized my input also changes after I use the forward function. Sometimes I get same input, but most of times it is wrong like outputs. Same as before, I get exception when I try to use my input after forward function.
`first three elements of input before forward: 0.3747 0.3584 0.0090`
`first three elements of input after forward: 3.2892e+08 -nan 4.2039e-45`

[2020-04-13 09:13] grady1006 commented on #35881
same problem issue

[2020-04-13 09:26] blueardour commented on #18113
hi, @nieyan

Thanks for the pointing out.
After I add `opset_version=11` in the torch.onnx._export function of your above sample code, I met the following error. Could you share how to get the test passed?
My pytorch: 1.4.0  onnx:1.6.0

  File "onnx-test.py", line 40, in <module>
    ort_session = onnxruntime.InferenceSession("test.onnx")
  File "/home/linux/.pyenv/versions/3.6.8/lib/python3.6/sit

[2020-04-13 09:39] theycallmefm commented on #36461
So this is my code below. I tested this on stable version(1.4) and it works without a problem for now.
[code]
However I need advanced tensor indexing in my code like these examples below and I believe it is on nightly version only. Is there a equivalent function for these indexing? I might switch to stable version if that is the case.
[code]

[2020-04-13 09:46] ptrblck commented on #36428
Hi @wenhui-prudencemed,
thanks for reporting the issue.

The issue might be related to [this post](https://discuss.pytorch.org/t/mixed-precision-autocast-error-for-a-simple-network/75580/2?u=ptrblck) and @mcarilli is looking into it.

[2020-04-13 10:59] IlyaOvodov opened #36478 "JIT ONNX: List indexing fails when converting ScriptModule to ONNX"
## 🐛 Bug
[code]
->
[code]
## Environment
pytorch version 1.5.0a0+2dc2933

cc @suo @houseroad @spandantiwari @lara-hdr @BowenBao @neginraoof

[2020-04-13 11:14] mattip commented on #32284
I think this is due to a quirk in `omp_in_parallel()` and the use of nested `parallel for`s  in [`max_pool2d_with_indices_out_frame`](https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/DilatedMaxPool2d.cpp#L105). According to [this discussion](https://software.intel.com/en-us/forums/intel-moderncode-for-parallel-architectures/topic/282426), `omp_in_parallel()` will only be true if

[2020-04-13 11:16] lanpa commented on #33226
@RylanSchaeffer The dimension of the video tensor should be (N,T,C,H,W) whereas your comment says (B,C,T,H,W).

The working fix:
[code]

[2020-04-13 12:10] anjali411 commented on #36323
hmm. I remember @mmuckley mentioned that `x / |x|` is a commonly used and useful operation and it would make sense to have a method for it that gives a numerically stable version of it.

[2020-04-13 12:42] #36327 closed

[2020-04-13 12:43] #36410 closed

[2020-04-13 12:54] mjjimenez commented on #36387
Solution was provided here: https://discuss.pytorch.org/t/cant-use-ios-libtorch-as-a-dependency-for-a-library-using-cocoapods/75544 which was to add the header search paths again on your own podspec.

[2020-04-13 12:54] #36387 closed

[2020-04-13 13:14] imskr commented on #36327
This is closed, i was working? @anjali411

[2020-04-13 13:16] kuynzereb opened #36482 "torch.argmax() returns wrong indices for very big GPU tensors"
## 🐛 Bug

`torch.argmax()` returns wrong indices for very big GPU tensors. It looks like it happens when the total size of the tensor is greater than 2^31 bytes. At the same indices from `torch.max()` are correct.
## To Reproduce

[code]
When I run the above code I obtain the following output:
[code]
## Expected behavior

Correct argmax indices after `torch.argmax()`.

## Environment

PyTorch vers

[2020-04-13 13:29] vkkhare opened #36484 "Reduce functions don't work with Android Java Wrapper"
## 🐛 Bug

I seem to struggle with `reduce` functions in torchscript (ex: when I am using `mean()` or `sum()`). I am able to run these functions when the torchscript is run on python but when the same script is loaded into java wrapper I get **shape must not be empty** exactly at that location.

## To Reproduce

Steps to reproduce the behaviour in Kotlin:
1. [This](https://github.com/OpenMined/PySy

[2020-04-13 13:32] saareliad commented on #2823
This issue is still relevant and should be re-opened:
The only way MPI can be initialized is with with mpiexec/mpirun.
This does not allow to use combination of multiprocessing (for cuda-IPC) and MPI,
because for multiprocessing we need to spawn and for MPI we need to call mpiexec.

[2020-04-13 13:45] ak-source commented on #36448
not an error:

~PackedSequence.batch_sizes (Tensor) – Tensor of integers holding information about the batch size at each sequence step

[2020-04-13 14:25] nikitaved commented on #17501
All right, it seems like we have `floor((size - 1) / step)` overlaps. Hence it is easy to tell whether a CUDA index might have a potential overlap with any other index in any slice of size `size`, call it a "problematic" index if there is an overlap. My plan of attack is to leave everything to operate over 1D tensors, as it is right now, but replace `index_add` with a kernel which performs a simpl

[2020-04-13 14:25] mrshenli commented on #36443
As @izdeby mentioned, please use [forum](https://discuss.pytorch.org/) for questions.

I am closing this issue. If the question turns into a concrete feature request, please feel free to create another issue to track. Thanks!

[2020-04-13 14:25] #36443 closed

[2020-04-13 14:27] albanD commented on #32284
cc @VitalyFedyunin do you have an idea why this could happen?

[2020-04-13 14:30] Ashutosh-Adhikari commented on #32322
@hypernicon thanks for the reply. Doesn't work for me. Can you tell me the reason why it would avoid the deadlocks?

[2020-04-13 14:32] vadimkantorov commented on #36482
Could you please try with a nightly build? A similar bug was fixed in https://github.com/pytorch/pytorch/issues/32863

[2020-04-13 14:37] ezyang commented on #36381
RIP

[2020-04-13 14:39] vincentqb commented on #32898
@rsk2327 -- have you tried with the latest code on master? (in particular, after #32997)

[2020-04-13 14:39] vincentqb commented on #36313
What version do you have? Have you tried with the latest code on master? (in particular, after #32997)

[2020-04-13 14:48] ezyang commented on #36466
cc @ilia-cher for Future related

[2020-04-13 14:50] ezyang commented on #36455
This really should work, upgrading priority

[2020-04-13 14:59] ezyang commented on #32284
@mattip  that seems like a pretty reasonable diagnosis. Does this mean we have to manually keep track of nested OMP ourselves?

[2020-04-13 14:59] vincentqb commented on #36133
Since this discussion is more suited for [the forum](https://discuss.pytorch.org/), I will close this issue. Please feel free to provide the link to it here, and continue the discussion there.

[2020-04-13 14:59] #36133 closed

[2020-04-13 15:04] mattip commented on #32561
On master, the file `torch/csrc/onnx/onnx.h` has a `static const char* PRODUCER_VERSION`. No such constant exists on the v1.4.0 branch. On [PyPI](https://pypi.org/project/pytorch/#files) the last available version is 1.0.2. The issue description specifically states `pip install`. @rmccorm4 could you clarify where you got that version?

[2020-04-13 15:06] joelrich commented on #19911
For anyone else having this issue, you can simply disable cudnn before the batch norm and enable it after the batch norm again. For example:

[code]

[2020-04-13 15:10] gchanan commented on #36444
This problem seems similar to how nans are compared in floating point, i.e. there are some reasonable choices but no perfect definition.

@rgommers (or others who are familiar with NumPy) -- I wonder why NumPy decided to make the different choices here different functions as opposed to an optional argument, i.e. why define both [amax](https://docs.scipy.org/doc/numpy/reference/generated/numpy.amax

[2020-04-13 15:10] kuynzereb commented on #36482
@vadimkantorov Indeed, it works correctly with a nightly build. I will close this issue then.

[2020-04-13 15:10] #36482 closed

[2020-04-13 15:18] albanD commented on #36466
cc @wanchaol that introduced this logic recently.

[2020-04-13 15:37] mattip commented on #32284
PR gh-36479 proposes a solution without any manual tracking.

[2020-04-13 15:47] peterjc123 commented on #36381
Let's open an issue on conda-build first.

[2020-04-13 16:11] peterjc123 commented on #36315
I didn't see any error related to `caffe2_gpu`. Would you please delete the cache, build again and provide the full log?

[2020-04-13 16:18] RylanSchaeffer commented on #33226
Beautiful! Thank you for catching my mistake :)

[2020-04-13 16:18] #33226 closed

[2020-04-13 16:20] gchanan commented on #35446
@ZolotukhinM @Krovatkin as @seemethere mentioned, this is failing the release build.  If this is a serious issue, we need to fix it for the release.  If it's not a serious issue, it's okay to disable the tests.  Please advise as to the severity.

[2020-04-13 16:25] prajjwal1 commented on #36455
@ezyang Can I work on this issue ? Also, t would be great if you could provide a starting point. Thanks!

[2020-04-13 16:49] lanpa commented on #33140
ported from https://github.com/lanpa/tensorboardX/commit/9d267066a6d67991ad8263c3a4f4a8c570367c53

[2020-04-13 16:54] prajjwal1 commented on #36407
I'm on latest master. I'm getting this
[code]

[2020-04-13 16:56] mruberry commented on #36434
pytorch_linux_xenial_cuda10_1_cudnn7_py3_gcc7_test now:

https://app.circleci.com/pipelines/github/pytorch/pytorch/154001/workflows/f85e6365-b82e-4ea1-9a05-0733ff11e7c6/jobs/5122812

[2020-04-13 16:56] eellison commented on #36434
cc @Krovatkin @zdevito infinite loop in build liveness sets

[2020-04-13 16:58] mcarilli commented on #36466
@jpcenteno80 The autocast state is thread local, and `DataParallel` spawns side threads internally.  See if the [recommended DataParallel usage](https://pytorch.org/docs/master/notes/amp_examples.html#dataparallel-in-a-single-process) fixes your script.

Also, for general convenience, use `autocast` and `GradScaler`'s `enabled=True|False` arguments so you don't have to litter your code with if sta

[2020-04-13 17:01] choidongyeon commented on #33494
@anjali411 Close this issue? :)

[2020-04-13 17:06] #31932 closed

[2020-04-13 17:06] gchanan commented on #36152
marked for triage review because I'm not sure if we have written guidance for these kinds of problems.  We used to have more problems with this before the RTD_GLOBALS(?) fix.  Do we have updated guidance?

[2020-04-13 17:07] gchanan commented on #36191
I see a lot of similar-looking multiprocessing issues.  Do we think they are related?  Do we have canonical guidance?

[2020-04-13 17:07] deepseek commented on #35049
@louisabraham did you succeed?

[2020-04-13 17:08] ezyang commented on #36437
Unfortunately the whole archive is necessary, as we use static initializers to initialize a bunch of stuff and without whole archive they will be dropped. But this should only apply if you're linking against the *static* library; is that's what's going on here?

And yes, `torch_cuda` depends on `torch_cpu`. You're gonna have a bad time if you are statically linking though...

[2020-04-13 17:10] ezyang commented on #36437
Oops, sorry, I mixed up whole archive and as needed. To force `_cuda`, just reference any symbol from `torch_cuda` and that should be enough.

[2020-04-13 17:13] ezyang commented on #36455
@prajjwal1 Sure. However it may be a bug deep in internals making it difficult to track down. I would probably start by looking at the Python bindings for this function; they live in `torch/csrc/autograd/generated/python_variable_methods.cpp` after you do a build (nb this is a generate file) and then walk down the call stack until you find where requires grad is being clobbered.

[2020-04-13 17:13] gchanan commented on #36461
this could be serious, but it's going to be pretty difficult to track down unless you upload the model and put the C++ indexing code in context -- it's not obvious where that is supposed to go.

[2020-04-13 17:13] ezyang commented on #36455
Alt, the bug might be that we are not ever hitting the VariableType bindings for new_full

[2020-04-13 17:15] zwacke opened #36493 "torch.cdist gradients are NAN for p<1 and very small differences in a given dimension (0<delta<~e-45)"
## 🐛 Bug

When using fractional norm distances between a set of feature vectors (BS x Dim) and a set of class-centers (K x Dim) via torch.cdist(feat-vecs, class-vecs, p<1) as training objective, NANs occur in gradients when the difference between a value in dim D in a feature vector and a class vector is extremely small. There seem to be mysterious underflow issues in the backward pass for fractio

[2020-04-13 17:16] ezyang commented on #36461
@theycallmefm just to confirm, the code you posted in https://github.com/pytorch/pytorch/issues/36461#issuecomment-612830025 ; does this code work on 1.4, and fail on nightly?

It sounds like you are trying to report multiple issues here, and if you could give individual reproductions for the specific problems that would be helpful!

[2020-04-13 17:22] gchanan commented on #36152
ok I checked that the fix I was describing (https://github.com/pytorch/pytorch/issues/3059) didn't make it into pytorch 1.4.  You can either try the nightlies or wait for the 1.5 release, which will be out soon and hopefully it's fixed.

[2020-04-13 17:22] Baranowski commented on #27542
Following up on https://github.com/pytorch/pytorch/issues/27542#issuecomment-542833006:

Should the `high priority` label be removed?

I was thinking about asking Lalaland whether I may take over but I would do that only if this issue is considered high-pri.

[2020-04-13 17:23] Krovatkin commented on #35446
@gchanan we decided to enable the profiling executor for 1.5, so the legacy executor won't be the default jit mode anymore. We should probably be okay to disable the test. I'll take a look at what exactly the issue is with this test either today or tomorrow.

[2020-04-13 17:23] jpujari-ctx commented on #36152
Thanks

[2020-04-13 17:24] ezyang commented on #36268
We should check if 1.5 is affected by this too

[2020-04-13 17:26] prajjwal1 commented on #36455
Thanks @ezyang. I'll try to look into this and will share my findings (hopefully send a PR).

[2020-04-13 17:27] mrshenli commented on #36268
cc @osalpekar

[2020-04-13 17:29] meixitu commented on #36268
Actually, I tried an 1.5 nightly build, I forget this version. But DistributedDataParallel does not work

[2020-04-13 17:31] ezyang commented on #36434
I feel like an easy thing to do is add some sort of bail out counter to build liveness sets and then raise an error if it's crossed over, and then maybe that would give us more info.

@eellison how would you feel about speculatively reverting your suspicious PR? We could get some signal on master if it was the problem or not that way.

[2020-04-13 17:32] albanD commented on #27542
Triage review to answer the question above.

[2020-04-13 17:42] seemethere commented on #36268
@meixitu Can you try to reproduce with the latest `v1.5.0-rc3`?

You can install this with `conda` using:
[code]

Or with `pip` using:
[code]

[2020-04-13 17:43] Krovatkin commented on #36434
@ezyang I'll start investigating but I don't know if I can get you guys a fix quick enough. we implement pretty much a textbook liveness, so in the worst case scenario, all values will just be live.

[2020-04-13 17:44] eellison commented on #36434
okay sure. i'll note that the build liveness sets isn't called in the code that I introduced so the bug is probably elsewhere. cc @suo benchmarking fyi that we're reverting optimize on inlining again..

[2020-04-13 17:49] Lalaland commented on #27542
Sorry, I haven't had a decent chance to look at this as other things have come up (and I don't know when I will get an opportunity). My apologies. Feel free to unassign me.

[2020-04-13 17:56] peterjc123 commented on #36381
@ezyang I managed to pin the build directory with a few tricks. BTW, what you think of a new bucket for Windows nightly builds with CircleCI exclusively?

[2020-04-13 17:56] mattip commented on #31095
@mrshenli does gh-31261 replace this? Are you still working on it?

[2020-04-13 18:03] meixitu commented on #36268
@seemethere
    I got the same error.
![image](https://user-images.githubusercontent.com/32910309/79145879-39f21200-7d76-11ea-82e6-a3d8ed8183ee.png)

![image](https://user-images.githubusercontent.com/32910309/79145991-7291eb80-7d76-11ea-9752-342815c59f99.png)

Thanks
Meixitu

[2020-04-13 18:05] jerryzh168 commented on #33910
fixed by: https://github.com/pytorch/pytorch/pull/35077

[2020-04-13 18:05] #33910 closed

[2020-04-13 18:19] rmccorm4 commented on #32561
Hi @mattip , you linked the pip package `pytorch`, when it should actually just be `torch`. See here: https://pypi.org/project/torch/

[2020-04-13 18:30] zou3519 opened #36499 "`F.logsigmoid(input, out=blah)` crashes"
## 🐛 Bug

On master,
[code]

The crash does not occur on CUDA on master.

However, in v1.4.0, the above snippet does not crash on CPU or CUDA.

## Expected behavior

Either:
- No crash
- F.logsigmoid should not take an `out` argument.  The docs imply there is no out argument: https://pytorch.org/docs/stable/nn.functional.html#torch.nn.functional.logsigmoid
## Environment

[2020-04-13 18:52] kurtamohler opened #36500 "torch.blkdiag for sparse tensors"
## 🚀 Feature
Add sparse tensor support for torch.blkdiag.

## Motivation

Dense matrix support was implemented for issue #31932, but we need sparse as well.

## Pitch

See #31932

## Alternatives

See #31932

cc @vincentqb

[2020-04-13 18:53] kurtamohler commented on #31932
I created a new issue #36500 to implement sparse support for block_diag.

[2020-04-13 18:56] kurtamohler commented on #31932
Oh woops, didn't realize that #31942 already existed for sparse support. Closing the new ticket.

[2020-04-13 18:56] kurtamohler commented on #36500
Duplicate of #31942

[2020-04-13 18:56] #36500 closed

[2020-04-13 19:13] #33494 closed

[2020-04-13 19:15] mpariente commented on #33140
Thanks @lanpa, I commented on the PR as well.
In the future, should I open an issue here or in tensorboardX?

[2020-04-13 19:25] erip commented on #36432
I have confirmed this does _not_ working in `v1.5.0-rc3`. Is there any chance of a backport into 1.5.0?

[2020-04-13 19:44] jpcenteno80 commented on #36466
Thanks @mcarilli. I've restructured the forward call of the model as follows:
[code]
While keeping the following in the forward pass:
[code]
Everything works fine on single GPU. I am waiting on training to complete on another GPU before I can re-test `nn.DataParallel` again. I will report back so that I can close the issue. Thanks!

[2020-04-13 20:02] louisabraham commented on #35049
No, I didn't try after that

[2020-04-13 20:23] modjtabaf opened #36506 "INTERNAL ASSERT FAILED at mmdet/ops/nms/src/nms_cpu.cpp:7"
## 🐛 Bug

I am trying to run the single GPU test on MMDetection toolbox ax explained [here](https://github.com/open-mmlab/mmdetection/blob/master/docs/GETTING_STARTED.md).

## To Reproduce

I ran the first example provided by issuing the following command:

[code]

## Expected behavior

I expect not to see any errors!

## Environment

Here is the output of the environment collection script:

[code

[2020-04-13 20:31] ezyang opened #36508 "Quantized _out functions don't follow same conventions as other out functions in the codebase"
Currently they're defined like:

[code]

However, a standard out function looks like this:

[code]

cc @kevinbchen (who added the alias analysis annotations to these functions) and @z-a-f (who appears to have originally added these out variants at https://github.com/pytorch/pytorch/pull/23971 )

[2020-04-13 20:33] mmuckley commented on #36323
Numpy has its own history discussing the matter:

https://github.com/numpy/numpy/issues/3621

https://github.com/numpy/numpy/issues/13179

As mentioned in the threads, most software packages other than Numpy uses x/|x|, but the implementation in Numpy is a "valid analytic continuation of the real sign function." In MRI we never use this mathematical property, but we use x/|x| all the time. I can't

[2020-04-13 20:37] ezyang opened #36510 "Meaning of _quantized namespace isn't documented"
cc @jerryzh168 @jianyuh @dzhulgakov @raghuramank100 @jamesr66a @iseeyuan

They were added in https://github.com/pytorch/pytorch/pull/33294 and the PR says "The "_" prefix registration will be removed when the operators are all migrated to mobile." This should be reflected in the code somewhere.

[2020-04-13 20:44] kshitij12345 commented on #36499
Apparently there is a signature of log_sigmoid which takes out argument in the `native_functions.yaml` thus the keyword argument is allowed. However, not sure if that variant is used anywhere else.
https://github.com/pytorch/pytorch/blob/765bf8f03ddcf74fcaf299ea3f8577a2e254e1a7/aten/src/ATen/native/native_functions.yaml#L5799-L5805

[2020-04-13 20:47] vadimkantorov commented on #36499
(about naming: at some point in the past I suggested that `log_softmax` and `log_sigmoid` used underscores consistently)

[2020-04-13 20:47] ezyang opened #36511 "quantized::conv2d and variants don't have explicit schema"
[code]

While omitting the schema is a reasonable thing that can be done for user-defined operators, all operators in core PyTorch should have explicit schema.

cc @jerryzh168 @jianyuh @dzhulgakov @raghuramank100 @jamesr66a

[2020-04-13 20:51] ezyang commented on #36511
cc @dskhudia

[2020-04-13 20:55] ezyang commented on #36511
I can submit a PR to add these operators but I need to know what names the arguments should have, the quantized naming convention seems to be quite different from standard PyTorch naming convention

[2020-04-13 20:56] mcarilli commented on #36466
To be clear, the additional `autocast` embedded in `model.forward` is only necessary for `DataParallel`, not single-GPU, because on single-GPU `forward` runs on the main thread (unless you manually fork off new threads).

[2020-04-13 21:04] ezyang commented on #36511
Same with conv_prepack

[2020-04-13 21:07] ksanjeevan commented on #34256
@VitalyFedyunin , @suo, wondering if this is reproducible or is the API not expected to move JIT models across devices? Thanks.

[2020-04-13 21:11] zou3519 commented on #36499
@kshitij12345 If we ultimately decide to remove the out variant due to it not being in the documentation, we should probably still restore the behavior and perform a deprecation cycle (deprecate the out keyword arg in a release, then remove it entirely in the next release).

[2020-04-13 21:14] anjali411 commented on #36462
Sounds good to me except that I think in the case where complex, has -inf or inf as its real or imaginary part, the finite value(real/element shouldn't necessarily have to be same for them to be close). for eg isclose should return true for (1, inf) and (1 + eps, inf) such that eps is within the specified bound

[2020-04-13 21:15] mcarilli commented on #35009
https://github.com/pytorch/pytorch/pull/36514 minor change to fix formatting errors in the warnings  added by https://github.com/pytorch/pytorch/pull/35745.

[2020-04-13 21:15] seemethere opened #36515 "Multiprocessing on Python 3.8 fails with cannot pickle '_io.TextIOWrapper'"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

On macOS with a python 3.8 environment

Install `v1.5.0-rc3` from our test repositories
[code]

Run the test suite for distributed:

[code]

## Expected behavior

The tests pass
## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/co

[2020-04-13 21:16] ezyang commented on #36510
I guess I'll fix this when I reorg the operator registrations

[2020-04-13 21:17] kshitij12345 commented on #36499
I am confused as to what the deprecation warning or note will be for the undocumented argument? :thinking:

[2020-04-13 21:23] zou3519 commented on #36499
I'm looking at the problem from an overly conservative perspective, but to answer your question, something like "We've deprecated the out argument for logsigmoid" should be sufficient. Only people who use it will stumble upon it.

[2020-04-13 21:27] ksanjeevan commented on #34256
solved it with https://github.com/pytorch/pytorch/issues/15272. Was confused since the torchscript doc didn't call out RNNs specifically causing this issue.

[2020-04-13 21:27] #34256 closed

[2020-04-13 21:30] mrshenli opened #36516 "DDP should divide bucket contents by the number of global replicas instead of world size"
Currently, DDP divides the bucket content by world size before doing allreduce:

https://github.com/pytorch/pytorch/blob/ddf5755ff832b3115af3c57d0203d49c9c2308aa/torch/csrc/distributed/c10d/reducer.cpp#L368-L375

However, the reducer launched the allreduce on all model replicas.

https://github.com/pytorch/pytorch/blob/ddf5755ff832b3115af3c57d0203d49c9c2308aa/torch/csrc/distributed/c10d/reducer.cp

[2020-04-13 21:30] ezyang opened #36517 "XNNPACK operators are not actually registered under xnnpack namespace"
Here's the registration line:

[code]

Doesn't look like xnnpack namespace to me.

cc @kimishpatel

[2020-04-13 21:31] ezyang commented on #36517
The comment above implies that it should be registered in xnnpack namespace:

[code]

[2020-04-13 21:33] mrshenli opened #36519 "Restructure test_c10d.py and test_distributed.py"
Collective communication and DDP tests live in both `test_c10d.py` and `test_distributed.py`, making it confusing which file we should add a new test into. We should restructure them into `test_c10d.py` only for collective communications and `test_ddp.py` only for `DistributedDataParallel`.

[2020-04-13 21:34] mrshenli commented on #36515
cc @osalpekar

[2020-04-13 21:36] kimishpatel commented on #36517
My bad. Comment is outdated. I will remove.

[2020-04-13 21:49] vadimkantorov commented on #36499
(there's also a possibility of supporting it properly at some point in future. if we say "deprecated", it suggests that it won't come back. maybe better sth like "is not supported for now"?)

[2020-04-13 21:50] mruberry commented on #36462
@anjali411 and I had a chance to discuss this early and I agree it's a reasonable way to handle complex numbers with nonfinite parts. But until we have an example of where we need this kind of behavior, is it worth diverging from cmath/NumPy? It would also increase the code complexity and decrease the performance of isclose for complex tensors. If we later implemented quaternions, for example, it

[2020-04-13 21:53] kshitij12345 commented on #36499
@vadimkantorov I don't think the one exposed in functional should have `out`.

[2020-04-13 21:56] osalpekar commented on #36515
This test is supposed to be skipped if CUDA isn't available, and this environment doesn't seem to have CUDA. Will look into why this test wasn't skipped.

[2020-04-13 21:58] seemethere commented on #36515
@osalpekar This includes all tests that run under `distributed/test_distributed`

I just chose that one since it was last in the list

Related issue (from ansible):
https://github.com/ansible/ansible/issues/63973#issuecomment-546995228

[2020-04-13 22:02] supriyar commented on #36253
We're currently in the process of implementing a fix for this. Stay tuned!

[2020-04-13 22:07] supriyar commented on #36129
@allwu looks like a fix has been landed for this. I'm closing the issue. Feel free to re-open if that is not the case.

[2020-04-13 22:07] #36129 closed

[2020-04-13 22:17] z-a-f commented on #36304
Are you printing the weights? It might be that you are seeing the packed weights.

[2020-04-13 22:17] vadimkantorov commented on #36499
Well, it may be nice to have `out`-variants even for fused functions like `log_sigmoid`. If I understand well, originally `nn.functional` existed to make sure that functions there worked with variables and were differentiable. But now that variables and tensors are merged, for many functions this distinction/mention doesn't make sense anymore IMO. PyTorch is now used in a more general scientific c

[2020-04-13 22:19] z-a-f commented on #36127
I'll take a look

[2020-04-13 22:21] vadimkantorov opened #36524 "[docs] F.softmax _stacklevel in argspec, but not described in Parameters section"
https://pytorch.org/docs/master/nn.functional.html?highlight=softmax#torch.nn.functional.softmax

[2020-04-13 22:22] z-a-f commented on #35465
Can you, please, post a minimum example to reproduce the error. Are you following a specific example on the hub?

[2020-04-13 22:24] mrshenli commented on #36268
@meixitu

Thanks for reporting. #36523 should fix the crash for this use case. But I want to mention that this is not a recommended use case for DDP. We plan to retire this single-process-multiple-device (SPMD) DDP mode in future releases, and suggest to use one DDP instance per device.

1. This SPMD mode is known to be slower then having one DDP instance per device due to GIL contention across th

[2020-04-13 22:25] z-a-f commented on #35595
Are you using the model from `torchvision.models` or from `torchvision.models.quantization`? The "quantizable" models are located here: https://github.com/pytorch/vision/tree/master/torchvision/models/quantization

[2020-04-13 22:28] z-a-f commented on #34583
@guanxiang You need to make sure your inputs are quantized.

[2020-04-13 22:29] z-a-f commented on #34219
Should this still have a `quantization` label?

[2020-04-13 22:31] z-a-f commented on #36253
Because this is the same issue, and the other issue has an assigned person, I am going to close this one as a duplicate. Please, feel free to reopen it if it is not the same.

[2020-04-13 22:31] #36253 closed

[2020-04-13 22:35] meixitu commented on #36268
@mrshenli ,
    Thanks for your fix.
    **I only have one machine, which have several CPUS and GPUS.**
    I have no idea about how to use one DDP instance per device, I just searched how to use DDP by website.
    Do you have recommended example code for my setting(one DDP instance per device due to GIL )? I am glad to try it.
Thanks
Meixitu

[2020-04-13 22:37] vadimkantorov commented on #36169
Thanks for your answer! It makes sense!

Maybe in future a better place for `GradScaler` is `torch.nn` or `torch.optim`...

[2020-04-13 22:37] #36169 closed

[2020-04-13 22:38] mrshenli commented on #36268
Yes, please check out this [starter example](https://pytorch.org/docs/master/notes/ddp.html#example). You can spawn multiple processes either using command line or using multi-processing.

[2020-04-13 22:42] ppwwyyxx opened #36530 "Empty batch support for SyncBatchNorm"
## 🚀 Feature

Support empty batches in SyncBatchNorm.

## Motivation

#36382 has fixed SyncBatchNorm for cases where different workers have different batch sizes. But when some worker or all workers have zero batch size, the behavior is still unexpected.

Similar to how BatchNorm supports empty batch sizes now (in https://github.com/pytorch/pytorch/issues/12013#issuecomment-569876108), the expecte

[2020-04-13 22:54] choidongyeon commented on #9886
@SsnL where does one find torch.default_generator in the code? I understand that it returns the default CPU torch.Generator, but I can't seem to actually locate where to add the documentations, just a lot of ```from torch._C import default_generator```.

[2020-04-13 22:56] eellison commented on #36432
@erip you could try resubmitting https://github.com/pytorch/pytorch/pull/35352 to the release branch, I think it's about closed / soon to close though. cc @ailzhang who submitted the PR.

If it doesnt get in you can register your own operator that implements this as a workaround, although i know that's kind of annoying.

I'm going to close this issue bc as u stated it is fixed on master.

[2020-04-13 22:56] #36432 closed

[2020-04-13 23:03] ezyang opened #36532 "quantized::batch_norm2d should exist"
Currently it is only referencible as quantized::batch_norm (which is asymmetric with how the 3d naming works)

cc @jerryzh168 @jianyuh @dzhulgakov @raghuramank100 @jamesr66a

[2020-04-13 23:06] erip commented on #36432
Cheers, @eellison. Hopefully it makes it in!

[2020-04-13 23:23] ezyang commented on #36381
Sure. sccache shouldn't clobber in any case, but if you want to bump up the cache size this would be a reasonable call.

[2020-04-13 23:44] rohan-varma commented on #36515
@seemethere @osalpekar Haven't looked too deeply, but this is likely because of a spawn vs fork multiprocessing issue. In py3.8, spawn is now default instead of fork. We use a bunch of tempfiles in these tests, and spawn method can't pickle those:

https://gist.github.com/rohan-varma/1fe828948e0b48bb6c9be38465c51647

[2020-04-13 23:55] mruberry commented on #36374
Following discussion in #36444, it seems we have consensus on disabling min and max for now.

[2020-04-13 23:55] #36374 closed

[2020-04-13 23:59] mruberry commented on #36444
It seems like we have consensus on disabling complex comparison ops (and the ops which logically rely on them) for now.

@dylanbespalko Your idea for a complex clamp is interesting, but maybe we can find a new name for it?

[2020-04-14 00:00] suo commented on #36478
cc @spandantiwari

[2020-04-14 00:01] suo commented on #36484
@dreiss Do you mind taking a look? Related to the Java pytorch bindings.

[2020-04-14 00:04] ailzhang opened #36541 "pytorch-linux-xenial-py3-clang5-android-ndk-r19c docker build job is flaky"
Reran 4 times on https://github.com/pytorch/pytorch/pull/36187/files and finally got android ndk downloaded successfully.
Problematic line is `curl -Os --retry 3 https://dl.google.com/android/repository/android-ndk-r19c-linux-x86_64.zip`.
We might want to consider hosting the files ourselves if it happens again in the future.

cc @ezyang @gchanan @zou3519 @seemethere

[2020-04-14 00:05] mruberry commented on #33568
Per discussion on this issue and #36444, it seems there's a consensus on disabling complex clamp (clip) in PyTorch. Disabling lets us choose an implementation later, if we like, and avoid user confusion. The multiple valid complex clamp implementations suggest that users will be unable to anticipate what clamp does. Helpful behaviors, like those @n-west mentions, can also be implemented with new,

[2020-04-14 00:05] MokkeMeguru commented on #36448
Thanks, I understand it. It's means
[code]

[2020-04-14 00:05] #36448 closed

[2020-04-14 00:07] mruberry commented on #36323
Since there are two valid implementations I think we have consensus to disable complex torch.sign for now to avoid user confusion. Thanks for your input, everyone!

[2020-04-14 00:25] dzhulgakov commented on #28280
It's not related to buffers behavior but instead general issue with the wrong `self` instance being passed in (the original non-scripted module on cpu in your example).

Methods marked with @torch.jit.ignore stay as python methods when TorchScripted and get copied to the RecursiveScriptModule instance. However, it looks like they retain `self` pointing to the original instance of the non-scripted

[2020-04-14 00:39] eellison commented on #36369
Is there a reason why `scalar_to_tensor` doesn't use the current default dtype? That would fix this issue.

[2020-04-14 00:45] #33140 closed

[2020-04-14 00:50] jjsjann123 commented on #36530
Took a brief look at the python implementation.
Basically we wanted a branch in the syncBN kernel kernel to return empty stats and count (similar things for backward as well, and remember to forward grad_output to grad_input).

@ptrblck @csarofeen to prioritize.

[2020-04-14 00:50] #36471 closed

[2020-04-14 01:20] HumberMe commented on #36304
Yes, i do print the packed weights, and my issue is how to get the weights(in int8 format) from the quantized model, after all, the only weights of quantized model i can see is the packed weights.
I print the packed weights in the pycharm debugger,  the code fragment is something like "print(quantized_,model.conv1._packed_params)"
By the way, what do packed params stand for?

[2020-04-14 01:33] choidongyeon commented on #36307
I can fix this, but I have a clarification - shouldn't it be x_1^T A x_2? @vadimkantorov

[2020-04-14 01:41] erip commented on #35009
Any possibility of sneaking #35352 into 1.5.0?

[2020-04-14 02:06] twoertwein opened #36553 "Typecasting issue in MSELoss"
## 🐛 Bug

Cannot backprop through MSELoss when it is provided with different dtypes.

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

MSELoss either throws an error or it should be able to deal with mixed dtypes.

## Environment

[code]

[2020-04-14 02:14] Edwardmark opened #36554 "How to save sth in python-api pytorch, but load it in libtorch?"
How can I save some tensor in python, but load it in libtorch:

I save tensor named piror using python, using the code:
[code]
And I load the tensor in libtorch using C++, by the following code:
[code]
But I got the error:
terminate called after throwing an instance of 'c10::Error'
  what():  `torch::jit::load()` received a file from `torch.save()`, but `torch::jit::load()` can only load files pro

[2020-04-14 02:16] n-west commented on #36444
The proposed API from @dylanbespalko would work great for my applications!

[2020-04-14 02:28] yongen9696 commented on #17023
Same here from Malaysia, just want to download pretrained ResNet. Monitored the speed downloading, not even 10kb.

[2020-04-14 02:29] Godricly commented on #33412
This one is still not fixed in 20200412build. But I can use sort instead. Should I close this?

[2020-04-14 02:40] deepseek commented on #35049
https://nmilosev.svbtle.com/compling-arm-stuff-without-an-arm-board-build-pytorch-for-the-raspberry-pi

[2020-04-14 02:53] chengjunlu opened #36556 "Move the record_stream to Aten operation"
## 🚀 Feature
Decouple the Stream and Event with the CUDA.

## Motivation
While the stream based synchronization mechanism are widely used and generalized in the c10, c10 stream to cuda stream, the python code still coupled with cuda stream, only torch.cuda.stream and torch.cuda.event are available.

Need to decouple the python stream and event to support more hardware other than the cuda devices.

[2020-04-14 03:39] dreiss commented on #36484
This was fixed in https://github.com/pytorch/pytorch/commit/6d1fa8296b847bb63185573d391bdb2cd3630b24 .  Please switch to the nightly build or the 1.5.0 release candidate.

As a workaround, the problem isn't related to reduction functions.  It's that the Java bindings in 1.4 cannot represent tensors with an empty shape.  So if you want to return such a tensor from your model, first call reshape.

[

[2020-04-14 03:52] rohan-varma commented on #29537
We've added tutorials at https://github.com/pytorch/tutorials/blob/master/intermediate_source/rpc_tutorial.rst and https://github.com/pytorch/tutorials/blob/master/intermediate_source/rpc_param_server_tutorial.rst

[2020-04-14 03:52] #29537 closed

[2020-04-14 03:53] peterjc123 commented on #36381
With the help of a few tricks, I managed to fix this issue. The following is the report of the sccache with the fix.
[code]

[2020-04-14 03:54] peterjc123 commented on #36381
Would you please do this?

[2020-04-14 04:17] vkkhare commented on #36484
Thanks I will try this out!

[2020-04-14 05:03] jni opened #36560 "Allow `__array__` to automatically detach and move to CPU"
## 🚀 Feature

I would like `__array__` to always implicitly detach and transfer to CPU before returning a numpy array, so that `np.asarray(mytensor)` is guaranteed to work.

## Motivation

For good reasons detailed in [this Discourse thread](https://discuss.pytorch.org/t/should-it-really-be-necessary-to-do-var-detach-cpu-numpy/35489), a `torch.Tensor` with gradients needs to be `.detach()`ed befor

[2020-04-14 05:04] jni commented on #36560
If people are ok with this I'd love to submit a PR. The only question I have is whether we should warn when detaching/CPUing — I would favour yes.

[2020-04-14 05:38] emcastillo commented on #36560
I agree that a warning should be explicitly shown in such a case.
Users might be breaking the computation graph without realizing.

[2020-04-14 05:57] prajjwal1 commented on #36455
@ezyang, I also looked at `torch.Tensor.new_empty()`:
[code]
Is this behaviour also intended ? As per the documentation, it should have the same bool value for `requires_grad` as the source tensor.

[2020-04-14 06:13] prajjwal1 commented on #36455
I am new to autograd C++ code. Are changes to be made here ?
[code]

[2020-04-14 07:16] jeongukjae commented on #32291
@gchanan Thank you! :)

[2020-04-14 07:16] #32291 closed

[2020-04-14 07:25] pranv12 commented on #22786
I tried the above code with little changes (converting max_len to tensor).
But got this error.

`---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-58-b25defeeab14> in <module>()
     23 output_lengths = torch.randn(64, device='cpu')
     24 dummy_input = (text_inputs, text_legths, m

[2020-04-14 07:51] mapleam opened #36567 "Fail to calculate gradients of gradients ."
## 🐛 Bug

Network S, Network T.

We first use cross entropy loss between S and T to update T from S.

Meanwhile we retain the graph(retain_graph=True), then calculate loss L2 of updated S.

We aim to backward L2 to get gradients of S. However, gradients of S is None.

## To Reproduce

[code]

## Expected behavior

weight_tea.grad is Not None, but some real values.

## Environment

[pip3] numpy==1.

[2020-04-14 07:54] Edwardmark commented on #20356
https://github.com/pytorch/pytorch/issues/36554
@yaatehr @oplatek @veryluckyxyz

[2020-04-14 08:04] Edwardmark opened #36568 "Load pytorch tensor created by torch.save(tensor_name, tensor_path) in c++ libtorch failed."
## 🐛 Bug

Load pytorch tensor created by torch.save(tensor_name, tensor_path) in c++ libtorch failed.
How can I save some tensor in python, but load it in libtorch?
## To Reproduce

using the following code:

I save tensor named piror using python, using the code:
[code]
And I load the tensor in libtorch using C++, by the following code:
[code]

## Expected behavior
load the tensor successfully.
A

[2020-04-14 08:29] boscotsang opened #36569 "Orthogonal Init Cost Large Memory"
## Issue description
Using orthogonal init cost large memory than other init method. As code example blow, I create a two layer fully connected neural network.  Using xavier_normal_ cost about 180M memory while using orthogonal_ cost mort than 360M memory.

## Code example

[code]

## System Info
PyTorch version: 1.4.0
Is debug build: No
CUDA used to build PyTorch: 10.1

OS: Ubuntu 16.04.6 LTS
GCC

[2020-04-14 08:45] ptrblck commented on #36333
Thanks for the code! I cannot reproduce this error using your lib versions and PyTorch commit and will try to grab a Quadro 8000 next.

[2020-04-14 08:54] gnaggnoyil opened #36570 "Libtorch build error when setting both `USE_GLOO` and `USE_SYSTEM_NCCL` to `ON`"
## 🐛 Bug

Currently when setting `USE_GLOO` cmake option to `ON`, target `gloo_cuda` requires a dependency called `nccl_external`; however, this target is avaliable if and only if `USE_SYSTEM_NCCL` is `OFF`. Thus if both `USE_GLOO` and `USE_SYSTEM_NCCL` is set to `ON` cmake would report error during configuration phase.

https://github.com/pytorch/pytorch/blob/master/cmake/Dependencies.cmake#L1149

[2020-04-14 09:15] xml94 commented on #16417
It seems that I also solve the similar error but converserly with you.
I change all

to

[2020-04-14 09:16] mruberry opened #36571 "Type promotion for unary "universal functions (ufuncs)""
NumPy has the concept of a "[universal function](https://docs.scipy.org/doc/numpy/reference/ufuncs.html) (ufunc)", a class of element-wise functions. This post is concerned with PyTorch's implementation of type promotion for unary universal functions like `torch.sin` and `torch.abs`. It describes PyTorch's and NumPy's current unary ufunc type promotion behavior and makes three proposals for how Py

[2020-04-14 09:20] boscotsang commented on #36569
It seems that the memory of variable q,r returned by torch.qr(tensor) was not released correctly.

[2020-04-14 09:44] hchong-ml commented on #27959
Any updates on this? Facing the same issue.

[2020-04-14 09:45] tuxmaster5000 opened #36572 "[1.4.1] cmake3 not found"
On CentOS7 the cmake 3 binary is called cmake3, but at the build for pytorch only an call to cmake is done. But cmake is not installed,
'which cmake3' will find the path to it.
As I see in the source code of pytorch, there is some code to find cmake3, but it looks like it will nor work.
[code]

[2020-04-14 09:50] tuxmaster5000 commented on #36572
It looks like the part is buggy.
[code]
When cmak3 was found and no cmake command is found, then cmake_command will stay at cmake instant of  cmake3.

[2020-04-14 09:51] FenixFly opened #36573 "Need example of symbolic function using tensors"
I'm tryig to make onnx realization of simple pytorch block. I made custom block with custom forward function.

[code]

But when I run export to onnx, I get an error that weight tensor is wrong tensor.

[code]

I found that my input tensor is a good onnx tensor, and 'conv.weight' is pytorch tensor, not onnx tensor.

[code]
How can I send weights to onnx _convolution operation?

Thank you for your h

[2020-04-14 09:54] avanilkumar opened #36574 "how to remove ios dependency"
I have written pytorch c++ app.
I clone pytorch code and build it as per guidelines in pytorch mobile
when i compile the app for x86_64 i am getting ios dependencies as below.
please help me avoid these ios errors. I want to run app in x86 linux pc.

-- The C compiler identification is GNU 6.5.0
-- The CXX compiler identification is GNU 6.5.0
-- Check for working C compiler: /usr/bin/cc
-- Check f

[2020-04-14 10:13] BulNik commented on #574
Hello everyone!
I have the same problem but solutions do not fit
I user Raspberry pi  3 model B. Exiting the directory does not give a result.
![image](https://user-images.githubusercontent.com/51359344/79213209-73e41680-7e51-11ea-86fc-b2916d31be79.png)

[2020-04-14 10:39] FenixFly commented on #36573
Full code for sample execution

[code]

[2020-04-14 11:01] LaurentMazare commented on #36437
Thanks @ezyang, I can indeed refer to some at::cuda::* symbol and this results in linking the torch_cuda library. This will end up being a bit hacky as I would want to also support the cpu only case so I guess I'll check whether libtorch_cuda.so exists, and if so I'll link this cuda dependency, otherwise I'll link some dummy dependency instead.

[2020-04-14 11:12] rgommers commented on #36444
NumPy added `nanmax` and co in 2002 (https://github.com/numpy/numpy/commit/cf5c05a45d571). At that point there really wasn't much thought about API design. I can't remember a discussion on changing this.

[2020-04-14 11:25] kwgqjj opened #36575 "One confusion about the CompilationUnit destructuring process in torch/jit/__init__.py"
hi,  my friends

  I have one confusion about the destructuring process of the CompilationUnit object in torch/jit/__init__.py file:
       _python_cu = torch._C.CompilationUnit()
  As i know, many shared_ptr pointers has pointed this CompilationUnit object in pytorch jit. When no shared_ptr pointers have pointed it, this CompilationUnit object will be destructured. I have developed a c++ extensio

[2020-04-14 11:52] JesperLindberg opened #36577 "Add load_state_dict and state_dict() in C++"
## 🚀 Feature
I would be able to clone a model into another model. Such as being done in the [Reinforcement Learning (DQN) Tutorial](https://pytorch.org/tutorials/intermediate/reinforcement_q_learning.html) at **Training**.

The requested functions that do exist in python but not C++ are:
[code]

## Motivation
It would be neat to be able to follow the pytorch example listed above. However the C++ l

[2020-04-14 12:03] Suji04 commented on #17023
I'm (from India) using this command :
conda install pytorch==0.4.1 -c pytorch
After 2 hrs it's only 62% finished!

[2020-04-14 12:16] tuxmaster5000 opened #36578 "Build fails with gcc 9.1 + CUDA-10.2"
At the aten/src/ATen/core/dispatch/Dispatcher.h part it fails with:
[code]
I have added the whole build file.
[build.log.zip](https://github.com/pytorch/pytorch/files/4475157/build.log.zip)

cc @ezyang @gchanan @zou3519

[2020-04-14 12:40] nikitaved commented on #36314
It also makes sense to investigation of overestimation on the Lipschitz constant. There is a suspicion that the current implementation might actually underestimate it.
@vadimkantorov, would be interested in helping with the experiments involving GANs?

[2020-04-14 12:44] CosimoRulli opened #36579 "Micro-kernel parameters in gemm"
I am using oneDNN to perform floating point matrix multiplications with the _dnnl_sgemm_ function. I assume that this function exploits  the [layered approach](https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&uact=8&ved=2ahUKEwiI8Pf_kOXoAhX0oFwKHVxBDDYQFjAAegQIAhAB&url=https%3A%2F%2Fwww.cs.utexas.edu%2F~flame%2Fpubs%2FGotoTOMS_revision.pdf&usg=AOvVaw1SEXS0vxdHfJByKKzl_MLM) u

[2020-04-14 13:08] lanpa commented on #33140
Maybe new feature suggestion in tensorboardX; and bug reports here :)

[2020-04-14 13:29] pinzhenx commented on #36579
@vpirogov, @emfomenk, @uyongw, @jgong5

[2020-04-14 13:52] pinzhenx commented on #36579
May I ask in which operation do you run into the dnnl_sgemm?

[2020-04-14 13:57] CosimoRulli commented on #36579
I am sorry, I was not supposed to be written here

[2020-04-14 13:57] #36579 closed

[2020-04-14 13:58] ezyang commented on #36381
OK new bucket is called ossci-compiler-cache-windows

[2020-04-14 13:59] jinfagang opened #36581 "AT_CHECK is deprecated in torch 1.5"
All codes using AT_CHECK were down.
Any altenatives of this?

[2020-04-14 14:06] zou3519 commented on #35216
Fixed by #36319 and #36347

[2020-04-14 14:06] #35216 closed

[2020-04-14 14:12] mrshenli commented on #36506
@modjtabaf

Looks like this bug needs to be reported to https://github.com/open-mmlab/mmdetection instead. The error message says `please report a bug to PyTorch` because the code in that repo is using assert macro from PyTorch [here](https://github.com/open-mmlab/mmdetection/blob/ef58bc62d3b5ee992b37e9277a7aa7701d8c1757/mmdet/ops/nms/src/nms_cpu.cpp#L7).

I am closing this issue, but please feel

[2020-04-14 14:12] #36506 closed

[2020-04-14 14:12] #973 closed

[2020-04-14 14:20] mrshenli commented on #36553
cc @nairbv

[2020-04-14 14:24] mrshenli commented on #36554
cc @glaringlee

[2020-04-14 14:26] KaiHoo opened #36582 "The mean method results in different outputs"
## 🐛 Bug

The results of mean method of torch.Tensor instance would be wrong when the tensor is big.

## To Reproduce

[code]
## Expected behavior
If torch is compiled without GPU, the results of ```b.mean((0,1,2))[0]```, ```b[:,:,:,0].mean()``` and ```b.permute(0,3,1,2).mean((0,2,3))[0]``` are the same, but they are different from the result of ```b.permute(0,3,1,2).contiguous().mean((0,2,3))[0]`

[2020-04-14 14:27] mrshenli commented on #36560
cc @gchanan @ezyang

[2020-04-14 14:31] mrshenli commented on #36554
This is duplicated with #36568, closing this one as the other one is better formatted.

[2020-04-14 14:31] #36554 closed

[2020-04-14 14:31] mrshenli commented on #36568
cc @glaringlee

[2020-04-14 14:31] jinfagang commented on #35009
AT_CHECK is gone, what's alternative?

[2020-04-14 14:51] colesbury commented on #36581
TORCH_CHECK

[2020-04-14 15:01] vpirogov commented on #36579
Here's the question on oneDNN Github: https://github.com/oneapi-src/oneDNN/issues/700

[2020-04-14 15:07] colesbury commented on #36569
Yes, computing the QR decomposition takes more memory than generating random variables. That should be expected. There's no issue with tensor memory not being released correctly.

[2020-04-14 15:07] #36569 closed

[2020-04-14 15:10] colesbury commented on #36572
Uh, yeah that looks buggy. A PR fixing it would be welcome.

[2020-04-14 15:19] colesbury commented on #36574
That's not an iOS (the Apple operating system) dependency. That's the standard C++ header file https://en.cppreference.com/w/cpp/io/ios_base.

If you want to run on x86 linux pc why are you building for android?

It looks like you have errors in your build file that are not part of PyTorch. I don't think we're going to be able to help you with that. Check out https://stackoverflow.com/questions/10

[2020-04-14 15:19] #36574 closed

[2020-04-14 15:22] colesbury commented on #36581
Please re-open if that doesn't answer your question

[2020-04-14 15:22] #36581 closed

[2020-04-14 15:22] colesbury commented on #36577
@yf225 can you comment on this?

[2020-04-14 15:24] modjtabaf commented on #36506
Thanks, @mrshenli. I will do what you suggested.

[2020-04-14 15:28] colesbury commented on #36578
Lots of error messages relating to PyTorch 1.4.1 Dispatcher.

@ezyang @gchanan can we make sure that PyTorch 1.5 builds with GCC 9.1 before release?

[code]

[2020-04-14 15:28] kimishpatel commented on #34913
https://github.com/pytorch/pytorch/pull/35010, solves this.

[2020-04-14 15:28] #34913 closed

[2020-04-14 15:30] peterbell10 commented on #36408
Looks like this was fixed in #36416

[2020-04-14 15:30] #36408 closed

[2020-04-14 15:41] Baranowski commented on #26304
I can no longer reproduce this. The `TORCH_CHECK` that ezyang mentioned in the original report has been moved to a different `.cpp` file, and the modified version shows up with `torch.cat([], dim=1)`. I have modified another method in `DispatchTable.h` and again, the modification was reflected when running `torch.cat([], dim=1)`

To be clear, I'm not claiming that the problem no longer exists, onl

[2020-04-14 15:43] chenhao1umbc commented on #28293
I am using this, since it is not solved
[code]

[2020-04-14 15:43] lidazhang commented on #36035
Same problem here using nn.Parameter() with DataParallel

[2020-04-14 15:48] supriyar commented on #31868
@reuvenperetz most of the quantized operators expect the input type to be quint8. So you will run into issues at the op level when you try with qint8.
At this point we don't have plans to support operators with qint8 activations. Feel free to open a feature request if this is something you need and we will look into it. Thanks!

[2020-04-14 15:48] #31868 closed

[2020-04-14 16:02] supriyar commented on #29724
@neelakanth at this point we have not tested this approach with many models and its usage is only limited to converting the model for caffe2 (though onnx).
We're in the process of discussing the plan to support converting quantized pytorch operators to ONNX, but it is a much wider effort as currently ONNX runtime does not have full support for quantized operators. Once we have a plan this thread w

[2020-04-14 16:03] colesbury commented on #36582
Your tensor is too large to accurately compute the mean or sum using float32. I notice that NumPy also gives inaccurate results for many of the same computations:

[code]

Use double precision if you need to compute the mean over large tensors, e.g.:

[code]

The GPU has a high degree of parallelism, which leads to a lot of partial pairwise summation and consequentially more accurate results.

[2020-04-14 16:11] KaiHoo commented on #36582
Thanks for your response! I found that even a tensor of shape (256, 224, 224, 3) would lead to 1.6% relative error. This shape should be common for vision tasks, and the mean operation is also common (for batchnorm). It would be helpful if this problem could be solved.

BTW, why does contiguous method help in this case?

[2020-04-14 16:14] dylanbespalko commented on #36444
If there was ever a way to reinterpret the complex tensor as a float[2] tensor from python, the clamp method I mentioned above would be implicitly covered by the `float` tensor clamp. I think someone was trying to overhaul the Tensor Storage Types to allow this.

[code]
Numpy allows us to set the dtype of an array to "reinterpret_cast" from complex to float. I've heard that this is currently very

[2020-04-14 16:26] colesbury commented on #36582
I haven't looked closely, but my guess is that it forces multiple smaller sums. The 4th and 1st means get implemented as the same thing basically b.reshape(1024*224*224, 3).sum(0)/N. The 3rd gets implemented as tmp.sum(0).sum((2,3)) / N.

If you need batch normalization, use the built-in batch normalization function. Otherwise, use double precision as I suggested above. I don't think this is going

[2020-04-14 16:27] supriyar commented on #27380
@jerryzh168 is this still a valid issue? I think most observers are scriptable now and can be used in graph mode.

[2020-04-14 16:28] Baranowski commented on #6313
AFAICT zou3517 has implemented 2. and 3. from https://github.com/pytorch/pytorch/issues/6313#issuecomment-568041169 in the merged PR https://github.com/pytorch/pytorch/pull/31473. Should this issue be closed, or is there still something left to do?

[2020-04-14 16:31] zackziegler95 commented on #36333
Yeah this feels a bit hardware dependent. Is there anything I can do to help debug, with the hardware?

[2020-04-14 16:58] jerryzh168 opened #36585 "torch.save does not use zipfile serialization"
In my PR that changes the serialization of quantized modules to use TorchBind class: https://github.com/pytorch/pytorch/pull/35923, `torch.save` doesn't work(failed with corrupted memory) if I have a torchbind object in the `state_dict`, but with `_use_new_zipfile_serialization=True` it works. to reproduce the error,
1). change _use_new_zipfile_serialization option:
`torch.save(model_dict, bytes_i

[2020-04-14 17:14] peterjc123 commented on #36381
@ezyang Which AWS key should be used? I tried `CIRCLECI_AWS_ACCESS_KEY_FOR_SCCACHE_S3_BUCKET_V4` and `CIRCLECI_AWS_SECRET_KEY_FOR_SCCACHE_S3_BUCKET_V4` but the cache hits are zero after rebuild.

[2020-04-14 17:16] anjali411 commented on #36323
synced with @mmuckley offline, and we think that adding a method that returns `x / abs|x|` is crucial for complex users. It can possibly be implemented under a different name like `torch.sgn` which btw numpy is also planning to add in future in addition to its existing `torch.sign`.  A classic case for the use of `x / abs|x|` would be the iterative shrinkage algorithm for compressed sensing (Equat

[2020-04-14 17:36] eellison commented on #36368
@choidongyeon probably the first step here is just to throw an error when we encounter a complex value - that can probably be done in frontend.py but I could be wrong.

[2020-04-14 17:38] jpcenteno80 commented on #36466
Thanks for the clarification @mcarilli. I fixed the code by adding a "parallel" boolean argument to the model instantiation that will toggle `autocast()` on or off.
However, I am still running into the issue mentioned at the top of this thread when running the model in `nn.DataParallel` mode. When I was first testing this architecture, I noticed that clearing the cuda cache after each iteration he

[2020-04-14 17:41] jamesr66a commented on #36585
Context: Original discovery of this issue was in https://github.com/pytorch/pytorch/issues/24045. In current serialization, classes are deserialized (i.e. `__setstate__` is called) before Tensors. This doesn't work for quantization with explicit prepacking in `__setstate__`, since the Tensor data is necessary to properly construct the packed tensor.

First attempt to fix was https://github.com/pyt

[2020-04-14 17:43] #36582 closed

[2020-04-14 18:08] mrshenli commented on #34359
Hey @hhwode which version of PyTorch are you using. If it is v1.4, could you please try master or the nightly? We fixed some leaks after v1.4, e.g.,  #31030.

[2020-04-14 18:10] fmellomascarenhas opened #36591 "Multi channel linear layer"
## 🚀 Feature
Possibility to add channels to linear layer --> nn.Linear(Input_size, output_size, n_channels). If possible, extend that to RNNs.

## Motivation
Many architectures, specially those related to multi task learning, can have multiple branches. Instead of processing each branch sequentially, they could be computed in parallel.

## Pitch
Parallel processing will leverage GPU efficiency. Wi

[2020-04-14 18:10] liuxingbaoyu opened #36592 "Exception in find_cuda_windows_lib"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1.run nn.Module.cuda()

[code]

## Expected behavior

success

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out the checklist below manually).

You can get the script and run it with:
[code]

 - PyTor

[2020-04-14 18:13] rohan-varma commented on #34359
We don't and performance wise, I'm not sure if we would want it, as there is a new dist autograd that needs to be created + cleared for every iteration. For a blocking wait for deletion, we'd have to pause during every training iteration which would significantly hurt the performance

[2020-04-14 18:14] jjlilley commented on #34359
fwiw: there is a known memory leak in nightly/master, for which a fix is pending review. (#36502 )

[2020-04-14 18:31] Mmdixon opened #36594 "from_dlpack multiprocess CUDA error"
## 🐛 Bug

Calling `from_dlpack` in another process before `cuda.is_initialized()` on an CUDA IPC handle results in `RuntimeError: CUDA error: invalid argument` (seems to be coming from `at::fromDLPack`). Note that allocating a dummy cuda tensor (e.g. `torch.ones`) first to start lazy initialization makes `from_dlpack` work.

## To Reproduce

Here is a code snippet to reproduce the result. I tried

[2020-04-14 18:34] choidongyeon commented on #36323
@anjali411 I would like to work on ```torch.sgn``` if it's still up for grabs.

[2020-04-14 18:44] ezyang opened #36595 "pytorch_bazel_test doesn't report test failures in console"
Example: https://app.circleci.com/pipelines/github/pytorch/pytorch/154632/workflows/d292c250-eb0e-493d-b3f9-44f89adaacec/jobs/5134201

There are failures, but the failure logs are not reported anywhere.

cc @ezyang @seemethere @werkt @malfet

[2020-04-14 18:49] neginraoof opened #36596 "Jit traces interpolate scale_factor as constant"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. Check the inlined IR graph for the following model

[code]

The graph is:
[code]

## Expected behavior

The scale_factor is not traced dynamically in this graph. Node %15 contains the scale_factor as a fixed constant.
However, if I remove float() cast for the scale_factor in the model:
[code]
Then the scale_factor is not constant anym

[2020-04-14 19:01] ezyang commented on #36175
Maybe ComplexBFloat16 is what the doctor ordered

[2020-04-14 19:04] eellison commented on #36596
I believe this is expected behavior. If you call `float()` on a Tensor it becomes a scalar, which can no longer be tracked. Also, the `float` call is in user-code, so there's no actionable change within pytorch.

[2020-04-14 19:07] ezyang commented on #36455
Yes, probably all the `new_` functions are broken all the same way.

I don't think the ArgParser is the problem: `bool requires_grad=False` just says that if the argument isn't available, default it to False (which does seem to be working correctly).

[2020-04-14 19:08] osalpekar commented on #34754
Linking Pritam's suggestion: https://github.com/pytorch/pytorch/pull/33636#discussion_r391345509

[2020-04-14 19:21] neginraoof commented on #36596
@eellison So the problem is that when scripting model with interpolate without float() call, it throws this exception:
 Expected a value of type 'Optional[List[float]]' for argument 'scale_factor' but instead found type 'Tensor'.
interpolate(Tensor input, int[]? size=None, float[]? scale_factor=None, str mode="nearest", bool? align_corners=None, bool? recompute_scale_factor=None) -> (Tensor)

Does

[2020-04-14 19:25] neginraoof commented on #36596
@eellison For the reference, I'm trying to export interpolate dynamically for torchvision models in this PR:
https://github.com/pytorch/vision/pull/2087
And I'm seeing the above exception on CI.

[2020-04-14 19:31] forresti commented on #36568
I'm no expert, but here's a thing that I've done to save tensors from Python and load them in C++.

python:
[code]

C++:
[code]

I don't know if the TensorContainer is necessary, or of there is a more elegant solution. I made the TensorContainer because I wanted to save multiple tensors (e.g. input data *and* ground-truth) to one file.

related: https://discuss.pytorch.org/t/load-tensors-saved-in-

[2020-04-14 19:34] HamsterHuey commented on #32651
@GeorgKohl - I am assuming you are living with the current limitation that if you use `add_custom_scalars()`, that all the colors for all lines in the plot will have the same color since Tensorboard only assigns a single color per run? For me, this makes it impossible to use `add_custom_scalars()` since the lines are all identically colored, and the markers for datapoints are so small in compariso

[2020-04-14 19:46] dylanbespalko commented on #36323
@anjali411,

`x / abs|x|` sounds like a really good idea to return a result that is on the unit circle. Great idea.

[2020-04-14 19:50] eellison commented on #36596
I'm not really sure what the solution is there. Closing since this isn't a pytorch issue.

[2020-04-14 19:54] neginraoof commented on #36596
But I'm not clean on the solution. Why is the behavior with float() is that to output a scalar?

[2020-04-14 19:57] mcarilli commented on #36428
This is likely a known issue (casts aren't reflattening weights for cudnn rnns) and a high priority for me to fix.

[2020-04-14 19:59] pranav-prakash commented on #29724
It's worth noting that onnxruntime has support for `contrib_ops` where the community can add operators that aren't officially part of the onnx spec yet. For instance, it appears `QLinearAdd` and some other arithmetic on quantized types is already defined (although the implementation for these seem to be missing). This might be one approach to at least get started and hopefully solve the chicken/eg

[2020-04-14 19:59] aman-tiwari opened #36603 "TorchScript Support for Named Tensors"
## 🚀 Feature
Currently, the JIT doesn't seem to support named tensors. When tracing or scripting a module, an error is thrown about TorchScript not supporting named tensors.

Currently, trying to script a module using `align_to` gives:
[code]

## Motivation
It would be useful to be able use named tensors in scripted modules. It would enable easier interoperatability between modules.

## Pitch
As a

[2020-04-14 20:00] eellison commented on #36596
`float()` casts a tensor to a python float value. once it is no longer a tensor it can't be traced, so it has to be inserted as a constant.

[code]

[2020-04-14 20:16] mcarilli commented on #36466
Do you mean without the `empty_cache()` call, DataParallel + native Amp runs without errors?

[2020-04-14 20:19] supriyar commented on #36532
Fixed in #36494

[2020-04-14 20:19] #36532 closed

[2020-04-14 20:30] jpcenteno80 commented on #36466
Yes, so far no errors without the `empty_cache()` call, DataParallel + native Amp. However, I will keep monitoring it as the model takes several days to train and the error seems to have appeared at random times during training. Just wanted to give an update of the actions taken with my previous post.

[2020-04-14 20:31] ailzhang opened #36608 "Autograd view CreationMeta are not properly propagated when chaining views"
[code]
Note that while `v1` is correctly banned, `v2` (which is an inplace update on view) still successfully backward through output of `unbind`

cc @ezyang @gchanan @zou3519 @SsnL @albanD @gqchen

[2020-04-14 20:40] yf225 commented on #36568
This is likely a duplicate of https://github.com/pytorch/pytorch/issues/20356, and we can try the solution @driazati suggested: https://github.com/pytorch/pytorch/issues/20356#issuecomment-567663701

[2020-04-14 20:40] #36568 closed

[2020-04-14 21:07] rohan-varma opened #36613 "Document that DDP will replicate rank 0's model parameters to other processes"
## 📚 Documentation

It appears that DDP replicates rank 0's parameters to all other devices during DDP model initialization, hence there is no need to set a seed and ensure each process initializes a local model with the same initial parameters, DDP will take care of this. However, this does not appear to de documented anywhere and it appears that https://pytorch.org/tutorials/intermediate/ddp_tut

[2020-04-14 21:07] codeislife99 commented on #28619
Hi, Which pytorch version will this update be a part of ?

[2020-04-14 21:08] vadimkantorov commented on #36608
I think, related: https://github.com/pytorch/pytorch/issues/31819

[2020-04-14 21:10] nikitaved commented on #17501
@Coolnesss , could you please share your benchmarking scripts for my own testing? Thank you!

[2020-04-14 21:22] glaringlee commented on #36568
FYI - C++ frontend api currently only supports loading jit saved tensor file.
Please use jit save from python side at this point.

[2020-04-14 21:28] t-vi commented on #17501
@nikitaved A long time ago (see the discussion above) my impression was that it'd be preferable to just parallelize over the `grad_in`, i.e. the have one thread process each backward kernel output (or several outputs in a for loop). That way you'd have many reads (hopefully hitting caching), but the minimal number of writes and no need for atomicAdd at all.

[2020-04-14 21:45] nikitaved commented on #17501
@t-vi , thank you for your comment! I agree with your approach and I will give it a try.
I would also like to see some generic use cases for this function, just to see what kind of overlap patters are expected.

[2020-04-14 21:48] nairbv commented on #36571
A few comments/thoughts:

* I see a plan to support python3-like division where `int_tensor / int_tensor => floating_tensor`, so when we make changes to how we think about type preserving vs floating ufuncs, we should think about how that applies beyond just the unary ones.

* Proposal1: nit: technically there are (or will be) cases where a function can be either a "Type preserving unary ufunc" or

[2020-04-14 21:48] rohan-varma commented on #30819
Should be fixed with https://github.com/pytorch/pytorch/pull/31023, https://github.com/pytorch/pytorch/pull/34413

[2020-04-14 21:48] #30819 closed

[2020-04-14 21:49] rohan-varma commented on #30509
Closing due to inactivity

[2020-04-14 21:49] #30509 closed

[2020-04-14 21:50] rohan-varma commented on #30164
Done in https://github.com/pytorch/pytorch/pull/33926

[2020-04-14 21:50] #30164 closed

[2020-04-14 21:51] kurtamohler commented on #33950
@ezyang, I'd like to share a summary of what I've done so far to make sure it aligns with what needs to be done, and I also have a few questions. Just to clarify, I'm currently working on the first goal of replacing all element counts with byte sizes.

Changes made to `c10::StorageImpl`:
* Replace `numel_` data member with `size_bytes_`
* Replace any `numel` method arguments with `size_bytes`
* Re

[2020-04-14 22:19] markdjwilliams commented on #31943
I'm also experiencing this issue, and I'm using the same workaround - although I would ultimately like to build with support for distributed training.

[2020-04-14 22:33] ifeherva opened #36625 "Add TracedModule attribute for the constants table"
## 🚀 Feature

TracedModuel currently returns the compiled code via the .code() member function. This code can possible contain constants (e.g. CONSTANTS.c0), however the value of these are not accessible from python at the moment. It would really useful to surface the constant mapping to python so libraries that interpret the module can get the full picture.

## Motivation

I am currently writing

[2020-04-14 22:45] rmccorm4 commented on #32983
Seeing an issue probably related to this one when importing torch with other GPU-accelerated packages as mentioned above: https://github.com/NVIDIA/TensorRT/issues/317#issuecomment-613716637

[2020-04-14 22:55] netw0rkf10w commented on #22439
Very nice! This is exactly what should be done!

[2020-04-14 22:59] mruberry commented on #36571
Hey @naibv! Thanks for taking a look. Let me respond to each part of your thoughtful comment:

Yep! So there are a few floating binary ufuncs, like div, and in 1.7 we do want to change torch.div to torch.true_divide.

You're right that torch.abs has additional type behavior that falls outside it just being a floating unary ufunc. For simplicity I'm trying to limit the description of floating unary

[2020-04-14 23:15] #36515 closed

[2020-04-14 23:18] osalpekar opened #36629 "ProcessGroupAgent handling listenLoop Errors"
Currently, if `ProcessGroupAgent` catches an exception in its `listenLoop`, it prevents any further sends/receives from the agent, but it also doesn't shutdown. This leaves the agent in somewhat of a "zombie" state - it can do nothing and must wait for its `shutdown` function to be called.

One possible exception PGA may encounter is the "connection closed by peer" error seen when another agent sh

[2020-04-14 23:33] supriyar commented on #36304
@HumberMe quantization backends like FBGEMM and QNNPACK pre-pack the weights one time into a format that is based on the backend and makes the actual computation faster.
If you want to access the original weight you can call the `weight` method on the quantized module.
https://github.com/pytorch/pytorch/blob/67e0bf14b734f9dfc312d811922b4c04709e4672/torch/nn/quantized/modules/conv.py#L329

Please u

[2020-04-15 00:12] supriyar commented on #36510
Hey @ezyang  assigning this to you based on your comment. We can take this up if you can't get to it. Thanks!

[2020-04-15 00:13] supriyar commented on #36508
cc @vkuzo

[2020-04-15 00:20] supriyar commented on #36326
Dupe of #35999

[2020-04-15 00:20] #36326 closed

[2020-04-15 00:25] #36304 closed

[2020-04-15 00:25] #35865 closed

[2020-04-15 00:32] supriyar commented on #34074
Static quantization support for conv1D is done.
cc @dskhudia to check the feasibility of implementing server side kernel for dynamic quant for this op.

[2020-04-15 00:35] boscotsang commented on #36569
Should the memory be released after the weight had been initialized since the intermediate variable q, r was no longer useful?

[2020-04-15 00:38] supriyar commented on #32775
There doesn't seem to be a use-case for this op. Currently no plan to implement it. Can revisit if there is a need.
cc @raghuramank100

[2020-04-15 00:38] #32775 closed

[2020-04-15 00:48] colesbury commented on #36569
It depends on what you mean by "released". The process's resident set size (rss) may not decrease because the memory may not be returned to the os, but still available for reuse within the process. Calling torch.qr the first time may also initialize a library, map in code pages, and initialize static data structures.

If the memory keeps increasing with subsequent `torch.qr` or `nn.init.orthogonal

[2020-04-15 00:48] rohan-varma commented on #36629
Curious about how 1. Shutdown the Agent can be implemented

We can't take the solution of just calling `this->shutdown()` because then we'll have the issue of a thread trying to join itself indirectly. It seems like we can only do this from `send()`?

[2020-04-15 00:48] #23986 closed

[2020-04-15 00:51] supriyar commented on #28346
quantize_dynamic is now supported on mobile, so this should work now.

[2020-04-15 00:51] #28346 closed

[2020-04-15 01:02] #28771 closed

[2020-04-15 01:03] #34613 closed

[2020-04-15 01:04] supriyar commented on #34583
please use https://discuss.pytorch.org/c/quantization/17 for questions. Closing this issue.

[2020-04-15 01:04] #34583 closed

[2020-04-15 01:17] colesbury commented on #36591
We typically only add modules to the core PyTorch if they're widely applicable and described in a significant research paper. I don't think this reaches that bar yet. You are welcome to distribute it in your own package.

I'd recommend using a torch.bmm instead of `*` and `sum`. You'll likely get better performance and lower memory usage over a wide range of sizes. For example, set up your tensor

[2020-04-15 01:38] ezyang commented on #33950
At least short term, it's better not to, so as to avoid confusion, and I would probably just blacklist the name `size()` forever. However if capacity refers to something involving bytes, I tend to like names with bytes in the name, such as `nbytes`

If we're calling it capacity, then `set_capacity` is better.

I'd suggest just deleting these functions entirely, and directly calling `storage.capaci

[2020-04-15 02:04] kurtamohler commented on #33950
Alright, all makes sense, thanks!

[2020-04-15 02:26] #34954 closed

[2020-04-15 02:31] joshzhung commented on #35881
same problem issue too.
I test model of mobilenet is fine, but crash by testing fcn model.
maybe there are some bugs about two-stage FCN?

[2020-04-15 02:50] peterjc123 commented on #36592
You'll have to modify the functions https://github.com/pytorch/pytorch/blob/v1.4.0/torch/cuda/__init__.py#L33-L61 and https://github.com/pytorch/pytorch/blob/v1.4.0/torch/backends/cudnn/__init__.py#L21-L46.

[code]

[code]

[2020-04-15 02:50] #36592 closed

[2020-04-15 02:57] pyotr777 opened #36638 "Poor elmenetwise_kernel performance becomes critical on small mini-batch sizes"
I am experiencing a huge slowdown of a CNN training on small mini-batch sizes caused by elementwise_kernels. These kernels are called on optimizer updates: optimizer.zero_grad() and optimizer.step(). I suppose they are responsible for the model weight updates.

I have tested with Pytorch 1.4.0 and with 1.6.0a0+1e22717.

The plots below show the aggregated time of CUDA kernels of one epoch of the C

[2020-04-15 02:57] pyotr777 commented on #31975
Created a new issue: #36638 .

[2020-04-15 03:12] peterjc123 commented on #36381
@ezyang Which AWS key should be used? I tried `CIRCLECI_AWS_ACCESS_KEY_FOR_SCCACHE_S3_BUCKET_V4` and `CIRCLECI_AWS_SECRET_KEY_FOR_SCCACHE_S3_BUCKET_V4` but the cache hits are zero after rebuild.

[2020-04-15 03:35] zasdfgbnm commented on #36638
Thanks for reporting! I assume the y-axis is the total time for one epoch?

The shape of the plot looks very much like a `y=1/x` curve. So, one explanation of this behavior I can think of could be: When the problem size is small, GPU is not saturated, so the throughput is proportional to the size of the tensor, which is proportional to batch size. Then the total time for one epoch will be inversel

[2020-04-15 04:08] emcastillo commented on #36594
I would like to work on this issue

[2020-04-15 04:21] prajjwal1 commented on #36455
Thanks for replying.
1.  I noticed that all new functions are returned by
[code]
while some functions like apply, size are returned by
[code]
I'm not sure of the difference between these two wrap functions.
Did you mean this when you said ?

2. This seems like a generated file (csrc/autograd/generated), where should I make the change so that generated file contains the reflected changes ?

[2020-04-15 04:53] tuxmaster5000 commented on #36578
Using GCC 7.3.1 will work.

[2020-04-15 06:04] tnavadiya opened #36644 "I had build pytourch from source. But how to install after making a build?"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

Can anybody let me know how to install after build from source?

[2020-04-15 06:11] SamNPowers commented on #20532
This seems like an enormous issue. I'm trying to run my network (using shared memory) on many environments in parallel, but I'm bottlenecked by the fact that each process is allocating vastly more gpu space than it needs.

Could there be basically a simple interface to [cuCtxSetLimit](https://docs.nvidia.com/cuda/cuda-driver-api/group__CUDA__CTX.html#group__CUDA__CTX_1g0651954dfb9788173e60a9af7201

[2020-04-15 06:13] KnightYao opened #36645 "CUDA quantization is not currently supported in pytorch1.4?"
CUDA quantization is not currently supported in pytorch1.4?

cc @jerryzh168 @jianyuh @dzhulgakov @raghuramank100 @jamesr66a

[2020-04-15 06:39] #35203 closed

[2020-04-15 06:41] r-zenine commented on #35203
Hi,

I cannot manage to put time aside to work on the issue for the moment. My schedule got crazy.
Sorry for the inconvenience.

Thanks.

[2020-04-15 06:47] andyljones commented on #20532
I suspect that calling `cuCtxSetLimit` with a value below 800MB would just make PyTorch crash with an OOM exception the moment it's initialized.

After running into this back in Oct, I experimented with other libraries but found that for the architecture I had in mind, neither the 5-odd processes PyTorch can reasonably fit into memory nor the 25-odd processes that Tensorflow can were enough to sat

[2020-04-15 06:57] ptrblck commented on #36333
Not at the moment, thanks.
We are trying to create a node with the GPU, which might take ~another day.

[2020-04-15 07:00] ptrblck commented on #36644
`python setup.py install` (or `python setup.py develop`) will automatically install `torch` in your current environment.
You could check it via `conda list | grep torch` or `pip list | grep torch`.

[2020-04-15 07:04] wanchaol commented on #36038
@JianpingChen066 My machine is with Intel(R) Xeon(R) CPU E5-2698 v4 @ 2.20GHz, 80 cores, and the benchmark is also with 28 cores, the perf on my side is pretty bad though, with either revision, I got something like:
[code]
I am applying the patch you had to see if there's a difference, but from the patch content I guess there's not too much difference. I will update here once I get the numbers.

[2020-04-15 07:20] hktxt commented on #27588
solved, thx

[2020-04-15 07:25] XiaobingSuper commented on #33410
@VitalyFedyunin , I re-open it because I can reproduce it in Fbgemm side, PyTorch also has the same issue,  the details can be found in  https://github.com/pytorch/FBGEMM/issues/299, it seems a GCC issue when build AVX512 code.

[2020-04-15 07:46] ptrblck commented on #36424
I'm not sure I understand the use case completely.
Given an input of:
[code]
the output at `out[0, :, 1, 1]` should have the values `model.conv.weight.sum([2, 3])[:, 0]`, if we disable the bias, which is the case in your example.
Note that each filter uses all input channels to create the activation map.

Also, I think the [forum](https://discuss.pytorch.org/) is a better place for these kind of q

[2020-04-15 07:46] SamNPowers commented on #20532
Thanks for the quick reply! ~5 processes sounds consistent with what I'm doing as well, so it's good to know that about 5x is what I could expect from tensorflow.

I'm thinking through solutions similar to what you suggested. It will be tricky, indeed.

[2020-04-15 07:59] kaszperro commented on #22439
So now we have everything ready to start?
As I understand, the steps:
1. Implement as many metrics as possible in torch.nn.functional
2. Implement metrics using Ingite's API in torch.nn?

@Darktex proposed to put metrics in torch.nn:
But shouldn't metrics be separated from torch.nn, ex: torch.nn.metrics or torch.metrics?
They could be subclass of torch.nn.Module, but if they were put directly into

[2020-04-15 07:59] Coolnesss commented on #17501
Hey guys, sorry for leaving this thing, I haven't had time to work on it for a while.

@nikitaved here's the repository I made when I worked on this (https://github.com/Coolnesss/unfold-backward) there's a few benchmarks and some code as well. Hope it helps.

[2020-04-15 07:59] cherepanovic opened #36647 "THCUNN/BCECriterion.cu:42: Assertion `input >= 0. && input <= 1.` failed."
## 🐛 Bug

I got the following exception caused by BCE objective even though the last operation on the output ist the sigmoid function.

`/opt/conda/conda-bld/pytorch_1579022060824/work/aten/src/THCUNN/BCECriterion.cu:42: Acctype bce_functor<Dtype, Acctype>::operator()(Tuple) [with Tuple = thrust::detail::tuple_of_iterator_references<thrust::device_reference<float>, thrust::device_reference<float>,

[2020-04-15 08:04] Baranowski commented on #21819
In a seemingly unrelated PR (https://github.com/pytorch/pytorch/pull/35286) I have encountered the same error in PyTorch CI: https://circleci.com/gh/pytorch/pytorch/5072898

[2020-04-15 08:12] david-macleod commented on #35901
That was really helpful thanks, I have identified the CUDA allocated segment containing the large tensor which causes the OOM. On the first training iteration it is created and deleted successfully as shown above, leaving this segment which contains a single inactive block (equal to the size of the large tensor), which is a releasable allocation.
[code]

However when the large tensor attempts to b

[2020-04-15 08:54] AWehenkel commented on #17774
Hi,

I am experiencing the same issue with pytorch 1.4 and cuda 10.1.
My code is running well when I use 1 GPU but once I go for two GPUs with data parallel it crashes with:
`File "/home/awehenkel/miniconda3/envs/UMNN/lib/python3.6/site-packages/torch/nn/modules/conv.py", line 345, in forward
    return self.conv2d_forward(input, self.weight)
  File "/home/awehenkel/miniconda3/envs/UMNN/lib/python

[2020-04-15 09:04] ptrblck commented on #21819
@SebastianGrans which command are you using to train the model?
All three training cmds yield:
[code]

Also, are you installing all dependencies from the `environment.yml`?
If so, could you comment out the `torch` and `torchvision` packages, as they are quite old by now?

[2020-04-15 09:22] IlyaOvodov commented on #36040
See useful discussion [here](https://github.com/pytorch/pytorch/pull/36345#issuecomment-612789481) , about miraculous cheat code
[code]
etc.

[2020-04-15 09:24] ptrblck commented on #17774
@AWehenkel Could you monitor the memory usage via `nvidia-smi` and make sure you are not running our of memory?
If you have enough memory left, could you update to the latest nightly and rerun the code?
Also, could you post a code snippet to reproduce this issue?

[2020-04-15 09:25] maihefande opened #36649 "RuntimeError: Expected cuda::check_device({sparse_, r_, t, dense}) to be true, but got false."
I try to use  DataParallel to model ,and i get this.I don't know why and how to fix it ，is there any suggestion?
I use DataParallel  like this:
if cmd_args.mode == 'gpu':
        classifier = classifier.cuda()
        classifier = nn.DataParallel(classifier)

Exception has occurred: RuntimeError
Caught RuntimeError in replica 1 on device 1.
Original Traceback (most recent call last):
  File "/home

[2020-04-15 09:40] HumberMe commented on #35874
By changing a little bit pytorch code, I added a function of generating A8W4 quantized model(by using int8 weights to simulate int4), can I push it?

[2020-04-15 09:41] odedgolden commented on #32300
Any updates on this?

I am also trying to `@torch.jit.ignore` a `@staticmethod`.
Is this generally a bad practice?

[2020-04-15 09:59] tnavadiya commented on #36644
Ok thanks. It was installed.

I am getting this error: AssertionError: Torch not compiled with CUDA enabled

But when I build it from source I enabled USE_CUDA=1 in setup.py. Is there anything else required to build with CUDA?

[2020-04-15 10:02] liuxingbaoyu commented on #36592
Thank you! Why is this not fixed in the master?

[2020-04-15 10:35] gingsi commented on #8976
Increasing CPU memory and decreasing workers to 10 instead of 20 worked for me. Might also be related to using multiple GPUs with nn.DataParallel. I have only seen this when training big models that need 2-4 GPUs.

[2020-04-15 10:59] nikitaved commented on #17501
@Coolnesss, thank you! Just a quick question. From your repro script it follows that your use case assumes heavy overlap, right maybe just a couple entries shift)?

[2020-04-15 11:07] peterjc123 commented on #36592
These functions are alreadly removed in master.

[2020-04-15 11:22] visionscaper opened #36650 "`state_dict` and `load_state_dict` for `DataLoader` and `Sampler` to continue training at specific epoch and batch"
## 🚀 Feature
Based on training checkpoint data, allow training to restart at the epoch and **precise** batch, after the last batch trained on when the training checkpoint data was saved.

`state_dict` and `load_state_dict`

## Motivation

I'm training (relatively) large sequence to sequence models (> 100M parameters) with a (relatively large) dataset (1M conversations), using limited training hard

[2020-04-15 11:26] fumihwh commented on #25088
Currently, I think support max_unpool2d is not easy...
kernel shape is a problem....aten::max_unpool2d not need it(is used to compute output shape only)..but is required in onnx.

[2020-04-15 11:26] Snuffy4 opened #36651 "Get .whl by compilation"
How to compile PyTorch of the required version in Linux and get the file .whl to install PyTorch in Anaconda 3 Windows?

[2020-04-15 11:37] mruberry commented on #1485
Both of the shapes mentioned now appear to function properly. Please reopen if you're still seeing this issue.

[2020-04-15 11:37] #1485 closed

[2020-04-15 11:51] peterjc123 commented on #36651
Sorry, cross compiling is not supported.

[2020-04-15 12:04] visionscaper commented on #36650
^ Added an `Additional thoughts` section in the feature request description.

[2020-04-15 12:08] peterjc123 commented on #36315
Previously I have packages compiled for Kepler cards but they got expired. I have removed VS 2015 and CUDA 8 so it will be complicated for me to install them back to get a single package. BTW, even if the package can be generated, I don't think it will be too useful because 1. cudnn is not supported on your card. 2. According to the specs, your card can only host lightweight workloads, in which cp

[2020-04-15 12:12] pyotr777 commented on #36638
@zasdfgbnm You are right about `y=1/x` curve, the elementwise_kernel time is proportional to the number of iterations or `1/mini-batch size`.

What seems unnatural here, is how large is the portion of the epoch time taken by the elementwise_kernel. For reference, I attach a similar graph for the same CNN in Tensorflow on the same machine.

<img width="748" alt="logs_kernels_epochtime" src="https:/

[2020-04-15 12:18] Snuffy4 commented on #36651
How do I compile it on one device and install it on another?

[2020-04-15 12:23] #36651 closed

[2020-04-15 12:38] hhwode commented on #34359
I'm using PyTorch 1.4.0 and I'll try other versions.

[2020-04-15 13:42] nairbv commented on #36571
I meant that your proposal is consistent with C++, not our behavior. I also get the 0.3333333432674408 result on my compiler, and I agree that consistency is preferable.

I just meant that (I believe) in those three specific examples we'll have a way to get behavior identical to the original.

yup, just something to watch out. There are probably tests, but I think the current impl might be relying

[2020-04-15 13:53] ezyang commented on #36437
If you want to support the CPU only case, you're going to have to do some sort of dlopen thing, since if you do actually link in the `torch_cuda` library then you're gonna have a dynamic dependency on `libtorch_cuda.so`, and so an end user of the application will be obligated to have CUDA anyway.

Arguably, this dlopen functionality should be a part of PyTorch core, but no one over here has time t

[2020-04-15 13:54] ezyang commented on #36493
This seems like a nasty numerical bug, upgrading priority

[2020-04-15 13:57] ezyang commented on #36567
Usually in a situation like this, `loss2` is not actually connected to `weight_tea`. My guess is that is has to do with `weight_tea.grad.zero_()`. If you want to functionally compute the gradient of `weight_tea` without accumulating it into the `grad` member, I'd recommend just using `torch.autograd.grad` instead.

[2020-04-15 14:00] ezyang commented on #36560
Related #13568, #1100

Our previous stance has been that we will NOT silently convert tensors from cuda to cpu under any circumstances, because this can lead to silent and hard to debug performance problems. That being said, I am sympathetic to your desire to not have PyTorch specific code in your codebase.

cc @mruberry

[2020-04-15 14:03] ezyang commented on #26304
Thanks for the note @Baranowski. Could you post what diffs you attempted?

[2020-04-15 14:15] ezyang commented on #36455
VariableType is generated in tools/autograd/gen_variable_type.py

[2020-04-15 14:16] ezyang commented on #36578
cc @smessmer

[2020-04-15 14:20] ezyang commented on #35901
Yes, that is very unfortunate. Unfortunately, the memory allocator cannot predict the future, and so it has to make a call about when it's OK to start chopping up the large block or not, in case it is never used again. One heuristic that might help here is if we added a notion of "large allocations", and refused to ever chop those up (instead preferring to release them back to CUDA and get a small

[2020-04-15 14:25] ezyang commented on #36381
Yes it looks like I need to issue a new access key

[2020-04-15 14:28] ezyang commented on #36381
OK, I think I added access to the new bucket from `CIRCLECI_AWS_ACCESS_KEY_FOR_SCCACHE_S3_BUCKET_V4`

[2020-04-15 14:31] peterjc123 commented on #36381
Let me try again.

[2020-04-15 14:31] anjali411 opened #36655 "Add torch.sgn to return complex sign"
Following discussion in https://github.com/pytorch/pytorch/issues/36323
Add `torch.sgn` to return `z/abs(z)`
cc @ezyang @anjali411 @dylanbespalko

[2020-04-15 14:47] albanD commented on #36608
I guess the one way to fix this would be to properly propagate the CreationMeta based on the input to the view op. Not sure how to properly do that. Maybe we should change the CreationMeta into a bitfield so that it can have multiple states at a time?

[2020-04-15 14:51] prajjwal1 commented on #36455
Thanks for the reply. I'm seeing `new_` functions being present inside `torch/csrc/autograd/generated`. I searched all of the tools directory. This `aten/src/ATen/native/TensorFactories.cpp` contains the definition. Where are they defined outside `generated` so that I can make the changes which would be reflected in `generated` after build?

[2020-04-15 14:52] anjali411 commented on #36340
@nuka137 please test torch.gather in test_torch where this function is tested for other dtypes

[2020-04-15 15:06] gzygzy9211 commented on #36452
After some further research, I found that

is not true according to [this](https://github.com/pytorch/pytorch/blob/master/torch/lib/c10d/ProcessGroupNCCL.hpp#L48-L50
). That is ``wait()`` for NCCLProcessGroup actually enqueue an operation to current stream that wait for operations in NCCL communication stream, and will not block host thread.

Hence the **ONLY REASON** that host thread is blocked i

[2020-04-15 15:06] mapleam commented on #36567
Hi, Thanks very much for you reply!

We aim to backward gradients through ```loss2``` to ```weight_tea```. Because in our opnion, ```loss2``` is calculated by ```weight_original + weight_original.grad``` and ```weight_original.grad``` is calculated by ```weight_tea```.

Then we tried codes below using only ```torch.autograd.grad``. However, ``weight_tea.grad``` is still None.
[code]

[2020-04-15 15:09] albanD commented on #36455
As you can see in `generated/python_variable_methods.cpp`, the kwargs of python are properly collected and packed into a `TensorOption`.
This is then calling into the one in `generated/VariableType_4.cpp` that simply transfers the call as is to ATen.
This is handled in `TensorFactories.cpp` that root it to `at::empty()`.
This one you can check in `native_functions.yaml` that it is routed to differ

[2020-04-15 15:19] albanD commented on #36567
Hi,

We use github issues only for bugs or feature requests.
Please use the forum to ask questions: https://discuss.pytorch.org/
We will be happy to answer to you on the forum if you have follow up questions.

[2020-04-15 15:19] #36567 closed

[2020-04-15 15:33] peterjc123 commented on #36381
@ezyang They seem to be working.

[2020-04-15 15:58] GeorgKohl commented on #32651
Yes, I also noticed this issues with the same color in `add_custom_scalars`, especially with a larger number of lines in one plot. This means having more than 2-4 lines in a single plot is not possible in a way that is visually clear. I found it sometimes useful that they have the same color when comparing a multi-line plot across different runs though. But for me, using `add_scalars` instead is s

[2020-04-15 16:02] ngimel commented on #35901
We already have 2 kinds of allocations, large and small, that don't mix. So we can either add the third tier, "giant", or change the maximum size of our "small" one. Since all these decisions are heuristics-based, for any strategy it is possible to come up with an adversarial example where the chosen caching strategy performs poorly.

[2020-04-15 16:03] mruberry commented on #36434
Adding "flaky tests" label. This is triggering a significant number of build failures.

[2020-04-15 16:20] HamsterHuey commented on #32651
Thanks for the reply. Yes, I just migrated our internal training framework codebase to Tensorboard from visdom and while there is a lot to like about Tensorboard in comparison to visdom, it is extremely restrictive and has some really problematic issues like this one from 2017 (https://github.com/tensorflow/tensorboard/issues/170) that still hasn't been addressed.

I'm not entirely sure if giving

[2020-04-15 16:31] ailzhang commented on #36608
@albanD Yea a similar idea would be we say `CreationMeta::MULTI_OUTPUT_NODES` has higher pri, so once it appears in the view chain, the final view should carry this instead of its own `CreationMeta`.
So it could be we check `base_var`'s `CreationMeta` before going down to root base, and potentially passing that down to `make_variable_differentiable_view`.

[2020-04-15 16:37] mruberry commented on #36571
Aha! My mistake. Yep, you are correct, correct, correct, and correct.

[2020-04-15 16:52] albanD commented on #36608
Yes.
But what should be the priority compared to https://github.com/pytorch/pytorch/blob/9cac2b83d9e6838de796e0cecfbacaa6a64dc6a8/torch/csrc/autograd/custom_function.cpp#L118-L126 for example?
It feels like we need a slightly more general framework here to make sure we can easily handle all of these and raise the proper error when needed.

[2020-04-15 16:54] ezyang commented on #35901
Yeah, basically, if an allocation is sufficiently big, I don't think we should ever split it.

[2020-04-15 16:54] cherepanovic commented on #36647
I discovered advice from @ptrblck

`torch.autograd.set_detect_anomaly(True)`

then I git this error

[code]

[2020-04-15 16:58] cherepanovic commented on #5560
are there some changes regarding this issue?

[2020-04-15 17:04] netw0rkf10w commented on #22439
I don't think the metrics should be separated from `nn`.

In `tf.keras` they have `tf.keras.metrics`, similar to `tf.keras.losses` or `tf.keras.optimizers`, but note that in PyTorch there's no `torch.nn.losses`.

Everything is inside `nn` (`nn.CrossEntropyLoss` is a loss, `nn.Conv2d` is a layer), so in my opinion, it makes more sense (and is less confusing) to do `nn.MeanIoU()` instead of `torch.m

[2020-04-15 17:08] lanpa commented on #32651
"the markers for datapoints are so small in comparison to the line thickness"
@HamsterHuey Adding two sliders for the line thickness and marker size seems helpful. What do you think?

[2020-04-15 17:12] z-a-f commented on #28434
I think this is resolved, we forgot to close it back in the time. I will reopen it if it reemerges

[2020-04-15 17:12] #28434 closed

[2020-04-15 17:19] Krovatkin commented on #36434
Working on a repro both in CI and locally. Just running a test in a loop won't trigger a hang since this particular test doesn't seem to be even running jit. There's a bunch of tests in `test_torch.py` that do use jit.

[2020-04-15 17:22] rohan-varma opened #36663 "Make test_distributed use MultiProcessingTestCase and enable spawn mode"
## 🚀 Feature
The tests in `test_distributed.py` currently have their own setup for multiprocessing and that has already resulted in some unforseen issues such as https://github.com/pytorch/pytorch/pull/36542. The rest of our distributed and RPC tests use the methods defined in `common_distributed.py`, so we should move test_distributed to do this too.

We should then use this tooling to enable spa

[2020-04-15 17:23] Krovatkin commented on #36434
Okay, this is probably a hanging test : `jitted = torch.jit.script(torch.svd_lowrank)`. `python.unittest` probably doesn't print out the test it's running until after the test either passed or failed. I'm going to kick off another job with just this test.

[2020-04-15 17:35] xkszltl commented on #32994
Also having this issue for a while.

@jerryzh168
Seems this is not a logging issue, but due to bad function signature:
https://github.com/pytorch/pytorch/blob/c9a1fc2b31ded472c63b227ad24859bc14131f42/tools/autograd/templates/python_torch_functions.cpp#L567
`as_tuple` has default value `False` but not listed here, causing parser to treat is as `out=None`.

[2020-04-15 17:52] z-a-f commented on #36508
The quantized ops live under `torch.quantized.ops.XXX` and are not expected to be used by the end-user in Python.  However the `native_functions` exposes the functions in python (mostly). Do we really need to have identical apis for the two? Also, I am not sure if dispatcher schema supports `*`?

[2020-04-15 18:27] Baranowski commented on #26304
IIRC, I tried the following:

[code]

and

[code]

Each of those changes was manifested when running
[code]

[2020-04-15 18:34] peterjc123 commented on #36381
I don't know why but the cache hit rate is still 0%. The failed cache write count is nearly zero. So maybe you forget to enable the read access for the token?

[2020-04-15 18:35] albanD opened #36670 "/test/cpp/api:autograd - CustomAutogradTest.DeepReentrant is failing in tsan environment"
Running this test with configuration (architecture: x86_64, buildmode: dev-tsan, buildsystem: buck, compiler: clang, sanitizer: tsan) fails with the log below.
Bisect seems to point to https://github.com/pytorch/pytorch/pull/33157

[code]

Facebook employes can get more information [here](https://our.internmc.facebook.com/intern/test/844424945560680?ref_report_id=0)

cc @ezyang @gchanan @zou3519 @

[2020-04-15 18:53] anjali411 opened #36671 "Incorrect div output for complex tensors"
tensor([(0.3333+0.0000j)], dtype=torch.complex64)

[2020-04-15 19:12] leimao commented on #30139
Got similar problems using PyTorch '1.5.0a0+8f84ded'

[2020-04-15 19:14] thevooght commented on #30139
I'm not sure, but I think I solved this error by rerunning the code.
I used a Google Compute Engine and sometimes it gave an error.
If this does not work, maybe upgrade the memory you're using or use more gpu's.

[2020-04-15 19:18] leimao commented on #30139
This is peculiar. My model is extremely small (10MB), and I was using V100 GPU. In principle, it should not be a GPU problem.

[2020-04-15 19:34] Oktai15 commented on #30139
This thread maybe helps you: https://github.com/pytorch/pytorch/issues/35293

[2020-04-15 19:52] mrshenli commented on #35009
#36537, port of #36656

Add a warning for Single-Process Multi-GPU DDP

[2020-04-15 19:53] mrshenli commented on #35009
@jinfagang TORCH_CHECK is the alternative.

[2020-04-15 20:02] ailzhang opened #36676 "Pytorch build from source with clang9"
Followup of https://github.com/pytorch/pytorch/pull/36618.
I'm getting segfault when building pytorch from source with clang 9.0.0.
Stack dump is available at https://gist.github.com/ailzhang/f69b11f338997d375d3f69ae22bd1aec
It asks me to submit a but report to llvm, I'm also searching around to see if there're any workarounds.

[2020-04-15 20:11] thevooght commented on #30139
Indeed @leimao . That cannot be the problem in that case. Hope the comment above helps you further.

[2020-04-15 20:27] HamsterHuey commented on #32651
@lanpa Most certainly! Not sure if line-style customization is possible. That would also be another nice way around the limitation of a single color per run. I am assuming these would need to be client-side changes made on the Tensorboard app side of things?

[2020-04-15 20:47] gchanan commented on #35009
No, this is a feature.

[2020-04-15 20:53] cherepanovic commented on #36647
(btw) I tried the same execution with smaller learning rates 1e-4/1e-5/1e-6 over 150 iterations and didn't get any errors.

Still waiting for help regarding this issue.

[2020-04-15 21:04] ezyang commented on #26304
OK. I guess we will have to find some other repro for this problem

[2020-04-15 21:07] ezyang commented on #36381
Can you post a log? It looks like read access is allowed (but I might be looking at the IAM wrong). If reads aren't working, then there should be some stats from sccache saying that we can't find anything.

[2020-04-15 21:19] supriyar commented on #32691
@Coderx7 is this still a valid issue? The tutorial at https://github.com/pytorch/vision/blob/master/references/classification/train_quantization.py outlines steps that need to be performed for QAT. Please follow these steps and if there is still an issue then please provide a minimal repro example and we will look into it. Thanks!

[2020-04-15 21:31] suo commented on #36040
A similar RAII-style resource guard is available in C++:
[code]
Good point about documentation, I'll find some time to add it. (alternatively, I would accept a PR that did so 😛 )

[2020-04-15 21:52] pritamdamania87 commented on #36294
@MonicaGu Is eth0 the right interface to reach the `47.xxx.xxx.xx` address? If not, you might have to configure NCCL/GLOO to use the right interface: https://pytorch.org/docs/stable/distributed.html#choosing-the-network-interface-to-use.

[2020-04-15 22:30] alejandrodemiquel commented on #36424
Ah probably I had a misunderstanding about how biases are handled then. Sorry about that, next time I'll ask  these kind of questions in the forum. Thanks for the help!

[2020-04-15 22:30] #36424 closed

[2020-04-15 23:20] pritamdamania87 commented on #36120
Yes.

[2020-04-15 23:21] #36120 closed

[2020-04-15 23:27] nuka137 commented on #36340
@anjali411

Thanks for your instruction. I'll tackle them.

[2020-04-15 23:44] mruberry commented on #36560
I share @ezyang's thinking.

This sounds like a significant and scary change for PyTorch to make. While I appreciate the desire to keep your code base as elegant as possible, would it really be so bad to tell users to transfer their tensors to CPU or NumPy first? That way the device synchronization would be explicit.

[2020-04-15 23:55] lkhphuc commented on #16045
Just wondering is there any reason this warning is not implemented for other (or all) losses?
I just spend an awful lot of time on this for the L1Loss.

[2020-04-16 00:13] osh commented on #28440
Great issue -- Definitely frustrating to see optimizers supported in python api and not the c++ api -- diverging APIs for the two languages is a bit painful, would love to see these unsupported optimizers migrated back to cpp land.

[2020-04-16 00:16] yf225 commented on #33284
Fixed by https://github.com/pytorch/pytorch/pull/34564.

[2020-04-16 00:16] #33284 closed

[2020-04-16 00:18] yf225 commented on #28440
@glaringlee It could be useful to prioritize this work :)

[2020-04-16 00:18] #36591 closed

[2020-04-16 00:39] #28280 closed

[2020-04-16 00:41] jerryzh168 commented on #23986
@supriyar is this supported?

[2020-04-16 00:50] MonicaGu commented on #36294
Thanks for your help! I found that this problem is caused by the network connection problem. I will close this issue.

[2020-04-16 00:50] #36294 closed

[2020-04-16 00:56] supriyar commented on #23986
Looks like we are checking this in the test now
https://github.com/pytorch/pytorch/blob/master/test/quantization/test_quantized_nn_mods.py#L322.
And I believe `copy_kernel` is supported for qint types.

[2020-04-16 00:57] XiaobingSuper commented on #33410
gcc >= 5.4 is required when build Fbgemm in Pytorch side.

[2020-04-16 01:06] peterjc123 commented on #36381
@yf225 Do you have idea on how to produce a log for sccache with S3?

[2020-04-16 01:22] glaringlee commented on #28440
Assign this to myself, will prioritize this later.

[2020-04-16 01:24] duzx16 opened #36702 "parameter requires_grad of new_zeros doesn't work"
## 🐛 Bug

The parameter `requires_grad` of `new_zeros` method of tensors can't set the `requires_grad` attribute of the created tensor correctly.

## To Reproduce

[code]

## Expected behavior

The output of both print statements should be `True`. However, while the first is `True`, the second is `False`.

## Environment

 - PyTorch Version (e.g., 1.0): 1.4.0
 - OS (e.g., Linux): Ubuntu 18.04.2 LT

[2020-04-16 01:27] ptrblck commented on #36647
As you are not normalizing the data, you are passing the target with values in `[0, 255]` to `F.binary_cross_entropy`, while the model output is using a `sigmoid` and thus can take values in `[0, 1]`, which will create an offset in the loss.

Also, passing unnormalized data to your model returns output tensors with a large range, which will blow up the (KLD) loss, and thus creates NaN outputs afte

[2020-04-16 01:29] jerryzh168 opened #36703 "Need to fix nn.quantized.Linear API"
Right now it is possible to initialize a `nn.quantized.Lienar` module with `dtype=torch.float16`: https://github.com/pytorch/pytorch/blob/master/torch/nn/quantized/modules/linear.py#L116, but that is invalid, we should fix this API to disallow this.

`nn.quantized.Linear` should be renamed to a `nn.quantized._Linear` module and both `nn.quantized.Linear` and `nn.quantized.dynamic.Linear` should in

[2020-04-16 02:17] JianpingChen066 commented on #36038
@wanchaol For Intel(R) Xeon(R) CPU E5-2698 v4 , is that machine 20 core-per-slot ? if so, you may try tor compare the performance with 20 cores to avoid the numa issue (28 core will cross the slot and have numa performance issue). By the way, do you have done "conda install mkl mkl-inlcude numpy -c intel " for that ? Thanks

[2020-04-16 02:17] #33410 closed

[2020-04-16 02:41] zasdfgbnm opened #36706 "Reduction for `torch.int8` is super slow on CUDA"
## 🐛 Bug

Reduction for `torch.int8` is super slow on CUDA

## To Reproduce

[code]

gets

[code]

## Environment

[code]

[2020-04-16 02:44] zasdfgbnm commented on #36706
This is commit 2f5b523cd0aa0443b2cc34e580a87846aedd776d, before my recent change to reduction kernel https://github.com/pytorch/pytorch/pull/35997. With my recent change, it is not improved.

[2020-04-16 03:12] fumihwh opened #36710 "MaxUnpool is incorrect"
## 🐛 Bug

MaxUnpool is incorrect.

## To Reproduce

Steps to reproduce the behavior:
[code]
[code]
---
Expect:
pad right and bottom
[code]
or pad right and top
[code]
or pad left and top
[code]
or pad left and bottom
[code]

We also should decide how to pad when `output_shape[i]` greater than `kernel[i] + (spacial_shape[i] * strides[i])`.

## Environment
[code]

[2020-04-16 03:25] peterjc123 commented on #36381
@ezyang Here is the debug log provided by sccache.
[code]

[2020-04-16 03:29] ngimel commented on #36706
This is likely because of type promotion. int8 tensors are promoted to long (probably explicitly, I did not check), and then the summation is done in long (check dtype of result). So it's a double whammy of a wide datatype and slow int64 arithmetic. Try passing `out=` with the int8 dtype to avoid this.

[2020-04-16 03:32] pinzhenx commented on #32507
Fixed by #32422

[2020-04-16 03:32] #32507 closed

[2020-04-16 03:50] peterjc123 commented on #36381
@ezyang It seems that the cache is not read using AWS credentials so you must set the acl of the bucket to public-read.

[2020-04-16 03:55] zasdfgbnm commented on #36706
@ngimel Yes, it makes more sense now. And yes, you are right, I find `self.to(dtype)` in the implementation. Should we keep this open? Because 20.4 ms still sounds bad, I would expect similar perf as double.

[2020-04-16 04:31] ngimel commented on #36706
I would expect ~2x slower than double, because first you need to write out that long tensor, no? So it's not outrageous.

[2020-04-16 04:32] fuzic opened #36713 "variable name N_ conflicts with an internationalization macro in glib"
## Issue description

Several libraries (incliding glib and wxWidgets) use `N_` as a macro related to internationalization for gettext.

Libtorch unfortunately uses this as a variable name here:
https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/core/function_schema.h#L34

The macro definition from wxwidgets or glib replaces `N_` causing libtorch to fail to compile.

It would be great if

[2020-04-16 04:38] zasdfgbnm commented on #36706
@ngimel You are right if writing out a long tensor. But that shouldn't be the correct behavior. The correct behavior should be casting inside the kernel after every load.

[2020-04-16 05:11] prajjwal1 commented on #36455
I had a hard look at your suggestion.
I looked at `native_functions.yaml`. I saw function which requires a grad flag like randn. They're defined in a similar manner as `new_` ones (only difference being variants is set as a method). Not every function calls `at::empty()`. For instance, `Tensor new_full` calls `at::full()`, `Tensor new_zeros` calls `at::zeros()`. I compared both the implementations

[2020-04-16 06:00] ckang244 commented on #36386
Will start looking into fixing this missing documentation.

[2020-04-16 06:13] Coderx7 commented on #32691
@supriyar Hi and thank you for your response.
I followed all the steps described in the only tutorial for quantization at the time (this is a 4 month old issue) and this is what I get in a detection scenario.
I provided a minimal example in the question itself.
Has anything changed compared to what was posted in the official docs 4 months ago?
Please kindly have a look at the provided example in t

[2020-04-16 06:37] jiayisuse opened #36715 "[TensorPipe] Set handshake IP address properly"
In tensorpipe rpc agent, we currently hardcoded localhost as pipes handshake IP address. Ideally tensorpipe could provide a helper to get IP address for given device interface or host names, or return the IP address of the default host name. More specifically like Gloo https://github.com/facebookincubator/gloo/blob/master/gloo/transport/tcp/device.cc#L142. As this is not supported in tensorpipe ri

[2020-04-16 06:54] Baranowski commented on #21819
It would be great if one of the users here can check out https://github.com/pytorch/pytorch/pull/36668, build it, run `pytest -sv test/test_autograd.py -x`, and confirm whether they experience the same error. If so, we will finally have a way to reliably reproduce this error in the CI.

[2020-04-16 07:38] v0dro commented on #12013
I'll prepare a list of NN modules that still don't support 0-size batches.

[2020-04-16 08:10] tcwalther opened #36718 "Support alpha channel in tensorboard.add_figure"
## 🐛 Bug

When logging images to Tensorboard via `tensorboard.add_figure`, I got really bad text rendering. See below for an example of expected and actual images:

![image](https://user-images.githubusercontent.com/2840901/79429844-60a78700-7fc8-11ea-9efa-f8b2baffdf63.png) ![image](https://user-images.githubusercontent.com/2840901/79429884-69985880-7fc8-11ea-9293-14bfa3a137d1.png)

After some deb

[2020-04-16 08:15] cherepanovic commented on #36647
I don't see any point where the data in original code (https://github.com/pytorch/examples/blob/master/vae/main.py) will be normalized, why does it work there without any problems?

[2020-04-16 08:19] ptrblck commented on #36647
The [`__getitem__`](https://github.com/pytorch/vision/blob/1b9f25111415dee8772e7b2e9c1962b7fa7349b1/torchvision/datasets/mnist.py#L94-L97) of `datasets.MNIST` will create a `PIL.Image` for each sample and apply the passed transformation on it.
The original implementation uses [`ToTensor()`](https://github.com/pytorch/examples/blob/391be73bbd191a08776c9ba05d29ef1e05c0c83b/vae/main.py#L32) as the tr

[2020-04-16 08:20] ptrblck commented on #21819
@Baranowski Illegal memory accesses can be created in various ways. I doubt your PR is related to the original question, which uses a 1D CNN.

[2020-04-16 08:28] cherepanovic commented on #36647
why this

`dataset =  datasets.MNIST(root='./mnist_data/', transform=transforms.ToTensor())`

does not transform the data in my case?

[2020-04-16 08:35] ptrblck commented on #36647
Because you are creating a new `TensorDataset` by grabbing the underlying `.data` attributes.

[2020-04-16 08:42] GanjinZero commented on #33096
Same issue with you.
I notice my 2080Ti is 1.5x slower than 1080Ti.
2080Ti is on Cuda 10.1.243 + CuDNN 7.6.5 + PyTorch 1.2.0 + Nvidia Driver 440.82
1080Ti is on Cuda 9.0.176 + CuDNN 7.4.2 + PyTorch 1.2.0 + Nvidia Driver 410.93

[2020-04-16 09:02] peterjc123 commented on #36381
sccache from the upstream doesn't have this problem, so I tried to update the sccache with https://github.com/yf225/sccache/pull/2. However, there are currently some bugs including
1. NVCC undetected on Windows (easy to fix)
2. Some arguments starting with `/` is uncacheable.

[2020-04-16 09:52] meganset opened #36720 "C++ make NamedAnyModule(name, any) public"
similar to issue #33192

if we start with AnyModule a, there is no good way to add a name,
to create a NamedAnyModule
i.e. in  _nn/modules/container/named_any.h_

[code]
I can create the pr to move this method to public if it makes sense.
(similar to pr #34208)

cc @yf225

[2020-04-16 10:00] mattip commented on #32561
Thanks, indeed the correct name for the package is `torch`. @soumith do you have any insights?

[2020-04-16 10:16] cherepanovic commented on #36647
thank a lot!

is there any fast method provided by pytorch for that case?

[2020-04-16 10:22] ptrblck commented on #36647
You could scale the inputs via:
[code]
in your training loop.
However, the better approach would be to create a `CustomMNIST` dataset by deriving from `datasets.MNIST` and add your label manipulation in its `__init__` method.
This would also allow you to use image transformations other than the scaling such as `RandomCrop` etc.

[2020-04-16 10:28] rgommers commented on #32561
Isn't this a matter of checking out the 1.4.0 branch and following the trail back from `onnx_model.producer_version`? There's no `PRODUCER_VERSION` in that branch, so where does it come from?

Also, is it fixed in master? `PRODUCER_VERSION` seems to be a hardcoded string, which may break again.

[2020-04-16 10:38] #36647 closed

[2020-04-16 12:08] lanpa commented on #32651
Yes, this feature request should be opened in tensorflow/tensorboard.

[2020-04-16 12:11] tuxmaster5000 opened #36721 "[1.4.1] Cuda build fails"
Using:
Cuda 10.2
GCC:  7.3.1
Without cuda  the build will be done.
[code]
[build.log.zip](https://github.com/pytorch/pytorch/files/4486925/build.log.zip)

[2020-04-16 12:42] peterjc123 commented on #36381
New binary fixed this issue and is verified in https://github.com/pytorch/pytorch/pull/36719.

[2020-04-16 13:16] peterjc123 commented on #36381
However, it seems that the hash calculation logic is changed so it leads to high cache miss time.
[code]
@ezyang Would you please purge the cache in the bucket `ossci-compiler-cache-windows` and `ossci-compiler-cache`?

[2020-04-16 13:52] Baranowski commented on #26304
I've managed to reproduce the issue in quite a roundabout way:
[code]

The test results in a RuntimeError, as expected:
[code]

Then when I modify the string:
[code]

The error message is expected to change but it remains the same:
[code]

@ezyang, since you are assigned to this issue, do you mind if I dig in and try to fix it?

[2020-04-16 13:54] Baranowski commented on #21819
I see, thanks for clarifying.

[2020-04-16 14:18] Baranowski opened #36722 "Error in CI: RuntimeError: CUDA error: an illegal memory access was encountered"
## 🐛 Bug

When writing a new PR, CI reported `RuntimeError: CUDA error: an illegal memory access was encountered` for a test I added and all the subsequent tests in configuration `pytorch_linux_xenial_cuda10_2_cudnn7_py3_gcc7_test`.

## To Reproduce

Steps to reproduce the behavior:

1. (Re-)trigger a CI run for https://github.com/pytorch/pytorch/pull/36864

## Expected behavior

No error, or a mo

[2020-04-16 14:37] albanD commented on #36455
The `requires_grad` arg is part of the `option`. It is added in there in `generated/python_variable_methods.cpp`.
The problem I think is that the core functions in aten don't handle it. But no other function above in the stack does either.

@ezyang do you have an idea where this arg should be handled in the stack? It feels wrong to have to handle that in every single kernel in aten native.

[2020-04-16 14:46] peterjc123 commented on #36381
Sorry for the noise. There's no need to purge the cache.

[2020-04-16 14:46] #36381 closed

[2020-04-16 14:49] prajjwal1 commented on #36455
I guessed that the `requires_grad` is bundled in the options, but I'm not seeing the source where it is being handled from the source. I grepped the `ATen/native` and `tools/autograd` for `requires_grad` for `new_` functions, didn't find the source.

[2020-04-16 14:51] peterjc123 commented on #35009
#36658  Migrate release CI jobs to CircleCI for Windows (v1.5 Release)

[2020-04-16 14:56] rgommers commented on #32561
@mattip maybe the part you were missing is how releases get built? See https://github.com/pytorch/builder for build scripts for wheels, conda packages, etc. It has `PYTORCH_BUILD_VERSION` which should set the version.

[2020-04-16 14:57] mattip commented on #32561
Yes that is helpful, thanks

[2020-04-16 15:32] albanD commented on #36455
Yes that's the issue. It is never handled :D

[2020-04-16 15:34] DogeWatch opened #36723 "A word's embedding from nn.TransformerEncoder is same in different sentences"
case like this:
![image](https://user-images.githubusercontent.com/13670813/79475812-c46a9800-803a-11ea-9abb-fcbdd3f0b951.png)
is my usage wrong? pytorch version is 1.4.0

[2020-04-16 15:44] prajjwal1 commented on #36455
Can it be added in `native_functions.yaml`? From there it will be passed on to `TensorFactories.cpp`. I guess that's how passing of arguments is being handled here.

[2020-04-16 15:55] albanD commented on #36455
If you want to handle it in `TensorFactories.cpp`, you can simply extract it from the option that are already there and handle it properly.
The problems with this are:
- aten should be fairly autograd agnostic. So it is weird to have autograd specific code in there.
- You will need to add this code for every single function that should handle that: It's going to be a lot of copy pasting...

Anothe

[2020-04-16 16:12] prajjwal1 commented on #36455
I think the latter option would be better. Could you please provide some pointers about how to go about that? By VariableType, do you mean when the function is wrapped into `wrap` or `THPVariable_wrap`?

[2020-04-16 16:46] ezyang commented on #36455
I think this may require a bit of refactoring to resolve "properly".

----

First, let me resolve the confusion about where `requires_grad` "should" be handled. The best way to answer this question is to first understand how `torch.empty`, which DOES handle `requires_grad` correctly, respects `requires_grad`. My intuition for where it should happen is that when you call `torch.empty` it eventually

[2020-04-16 16:46] kleinhenz commented on #25045
@SsnL can this be reopened? I can confirm that this is still a problem in 1.4.0.

The following code reliable reproduces the issue. The exact size threshold is 1449. The naive version works fine so it is not a resource issue.

[code]

output:

[code]

[2020-04-16 16:50] ezyang commented on #36381
@peterjc123 You're right, thank you for debugging this. I've made the bucket have public read access too now. I'll go ahead and purge the cache too.

[2020-04-16 16:52] ezyang commented on #24982
I'm bumping priority so we don't miss this. In https://github.com/pytorch/pytorch/issues/36381 @peterjc123  has updated sccache to master in a PR and deployed it to Windows, so we have a lot of the stuff we need already done.

[2020-04-16 16:54] ezyang commented on #24982
@peterjc123: @yf225 is transitioning to another team in FB, so we should probably also transfer the repository to somewhere shared. I guess we can maintain a fork of sccache in the pytorch org, assuming we can't just upstream all of our relevant patches. @soumith what do you think?

[2020-04-16 16:55] ezyang commented on #24982
peterjc123's pr is https://github.com/yf225/sccache/pull/2

[2020-04-16 16:55] ezyang commented on #26304
Please have at it!

[2020-04-16 17:06] gchanan commented on #36499
works properly on cuda.

[2020-04-16 17:40] ngimel commented on #25045
cc @ptrblck @emcastillo. Probably a thing similar to #31167 should be done here. As it stands, it is a resource issue, because likely pdist backward on cuda is very inefficiently implemented.

[2020-04-16 17:43] SsnL commented on #27209
seems fixed by https://github.com/pytorch/pytorch/pull/31167. please let me know if i judged incorrectly.

[2020-04-16 17:43] #27209 closed

[2020-04-16 17:47] kurtamohler commented on #33950
Currently, a Tensor's offset variable is a typed element count. Should we change it to track bytes instead? Would there be any situation where we'd want the offset to be a non-multiple of the tensor's datatype?

[2020-04-16 17:50] anjali411 opened #36730 "torch.pow generates incorrect result for a vectorized op for complex dtype"
[code]

cc @ezyang @anjali411 @dylanbespalko

[2020-04-16 18:08] ezyang commented on #33950
Good question. I think I would opt for the choice that involves the least amount of arithmetic operations on CPU to compute the base address. Does that answer the question?

[2020-04-16 18:12] yf225 commented on #36577
We don't have `load_state_dict` / `state_dict` functions in C++ API at the moment and we should add them. Meanwhile, we can use following to achieve the same purpose:
[code]

[2020-04-16 18:17] ptrblck commented on #25045
#31593 relaxed the condition for the forward and backward passes for `pdist`.
@kleinhenz could you try the nightly binary, please?

@ngimel I agree that the performance could be improved, but we should track in in a separate bug.

[2020-04-16 18:18] mrshenli commented on #35009
#36732, port of #36675

Doc-only change to make sure existing URLs to RPC docs are still valid.

[2020-04-16 18:19] jerryzh168 commented on #23986
check_trace is still False here: https://github.com/pytorch/pytorch/blob/master/torch/testing/_internal/common_quantization.py#L139

[2020-04-16 18:26] yf225 commented on #36577
cc. @glaringlee

[2020-04-16 18:35] smessmer opened #36733 "Custom Generators don't work in JIT"
[Unboxed dispatch handles Generator](https://github.com/pytorch/pytorch/blob/e29348f8283ffa6be5915abb46f280fce5d64ce4/aten/src/ATen/core/dispatch/DispatchKeyExtractor.h#L67-L76), i.e. it looks at Generator arguments to make the dispatch decision, but [boxed dispatch does not](https://github.com/pytorch/pytorch/blob/e29348f8283ffa6be5915abb46f280fce5d64ce4/aten/src/ATen/core/dispatch/DispatchKeyExt

[2020-04-16 18:36] rmhofer opened #36734 "torch.triangular_solver doesn't work on batched inputs"
## 🐛 Bug

The output of torch.triangular_solver is different for two batch elements that are identical but works fine on unbatched inputs.

## To Reproduce

Steps to reproduce the behavior:

Download and unzip to get inputs A and input_ (below):
[A and input.zip](https://github.com/pytorch/pytorch/files/4489133/A.%2B.input.zip)

[code]

Output:
[code]

## Expected behavior

solution[0] should be i

[2020-04-16 18:38] kleinhenz commented on #25045
@ptrblck yes, it does work on nightly. thanks! Probably should have checked that first. Performance does still leave something to be desired compared to the naive solution.

[code]

[2020-04-16 18:48] occam-ra-zor opened #36735 "Explicitly Define Gradient for Certain Computation"
## 🚀 Feature
Say there is function F . which cannot be computed exactly but it’s gradient can be perfectly defined can I define function s.t I tell the autograd , how gradient should be computed instead of autograd figuring about by computation graph. So my requirement is as following,

[code]

[code]

so instead of gradient computed based on computational graph of F. I want to explicitly say use

[2020-04-16 19:16] mcarilli commented on #36466
That's good to know.  I'm not sure what the pathologic interaction with `empty_cache` might be, that can have complex consequences.  In any case `empty_cache` is a heavyweight call that synchronizes and does a lot of deep memory movement, so calling it each iteration isn't great for performance.  Hopefully autocast itself (without empty_cache) provides enough memory savings to get you where you ne

[2020-04-16 19:16] ezyang opened #36739 "Custom class type name is very wordy"
Right now, I have to write:

[code]

(taken from `test_custom_class`.). This is pretty wordy. It would be better if it was shorter.

cc @smessmer @jamesr66a

[2020-04-16 19:20] supriyar commented on #23986
Enabled it here - https://github.com/pytorch/pytorch/pull/36740

[2020-04-16 19:35] anjali411 opened #36744 "Implement torch.pow on cuda for complex dtypes"
RuntimeError: "pow_cuda" not implemented for 'ComplexFloat'

cc @ezyang @anjali411 @dylanbespalko

[2020-04-16 19:37] kurtamohler commented on #33950
Yeah that's a good answer.

Another question. I like the idea of removing the THStorage sizing methods and just calling the c10::Storage methods directly because it will remove complexity. That was simple to do for the `capacity` function (which I renamed to `nbytes`). But for the resizing functions, THStorage and THCStorage use some slightly different logic since one has to do a cuda memcopy. I'm

[2020-04-16 20:00] jamesr66a commented on #36739
We've tried fixing this, but it's not very straightforward because of how the file structure is laid out in TorchScript serialization. It might be possible to to pattern match `torch.classes.x.y` in the schema type parser and prepend `__torch__` to the front, but i don't know how safe that will be

[2020-04-16 20:07] tuananhle7 opened #36748 "return_index option for torch.unique"
## 🚀 Feature
`return_index` option for [torch.unique](https://pytorch.org/docs/stable/torch.html#torch.unique) which behaves like [numpy.unique](https://docs.scipy.org/doc/numpy/reference/generated/numpy.unique.html).

I have tensor `a = [10, 20, 10, 30]` and tensor `b = [100, 200, 100, 300]`.
I want to take the unique elements of `a` (`[10, 20, 30]`), but also get the corresponding elements of `b

[2020-04-16 20:14] ezyang commented on #33950
Ah yes, this is going to be a bit tricky.

A lot of the "stuff" you need is available (Allocator in particular lets you reallocate using the same allocator that originally allocated some data), but resizing also involves a copy to preserve the old data, and we don't have this abstracted right now. So in this case I wouldn't try to remove the resize functions, as we really do need two different ver

[2020-04-16 21:18] twoertwein opened #36752 "Documentation of LU Decomposition"
## 📚 Documentation

The LU decomposition returns a tuple containing the 'factorization' and the pivoting order. It would be great to have a mathematical expression how the input relates to these two outputs, especially since the naive assumption (that L is the lower part of the 'factorization' and U is the upper part of the 'factorization') is not true.

[code]

[2020-04-16 21:35] kshitij12345 commented on #36735
@occam-ra-zor
I guess this tutorial might be useful. You can implement your Function/Operator the way `MyRelu` is defined.
https://pytorch.org/tutorials/beginner/examples_autograd/two_layer_net_custom_function.html

[2020-04-16 21:42] vadimkantorov commented on #36752
maybe related: https://discuss.pytorch.org/t/torch-lu-pivots-are-not-permutations-sometimes/53825

[2020-04-16 21:57] ezyang opened #36753 "When you try to register a kernel that make boxed from unboxed functor doesn't support you get a horrible error message"
Here's what you get if you try to register a `aten::resize_` kernel without unboxed only

[code]

This issue is probably not quite mooted if we support everything, because there still might be cases where a user will pass in an argument we don't understand.

cc @smessmer

[2020-04-16 22:04] ezyang commented on #36517
@kimishpatel in that case, I have an inverse question: the torchbind classes LinearOpContext and Conv2dOpContext are still in the xnnpack namespace. Should they be in the prepack namespace now?

[2020-04-16 22:14] ezyang opened #36754 "Clearer guidance on when to define an operator as a method on torchbind'ed class versus standalone function"
I noticed in the xnnpack binding code that there was a bunch of stuff like this:

[code]

then the implementation of LinearClampRun is

[code]

To me, this screams like `run` should have been a method on `LinearOpContext`.  It is not, per the torchbind:

[code]

Should it be a method? Is there some reason it was written as a function here?

cc @jamesr66a @kimishpatel

[2020-04-16 22:17] mrshenli opened #36755 "Make RPC internal messages/callbacks work with single-threaded agent"
@lw and @jiayisuse brought up a great point that RPC system should work correctly even if the agent only uses a single thread to process all internal messages. Otherwise, the correctness of RPC will depend on the thread number configuration, which is not ideal. Currently, RPC does not work that way, as there are still multiple places that block and require a different thread to unblock. Creating t

[2020-04-16 22:33] kimishpatel commented on #36517
@ezyang, yes. The state of code at this point is stuck somewhere in the middle. Discussing with @dzhulgakov, @dreiss and @AshkanAliabadi we decided that we did not want op registered under xnnpack namespace since these particular ops can capture a generic behavior of the stateful ops that are not backend specific. So it can be xnnpack or mobile_gpu for example. However the actual namespace and dir

[2020-04-16 22:39] raghuramank100 commented on #35595
From the logs, it looks like you are not using functionalmodules for add, please see this code for info on how to use it:
https://github.com/pytorch/vision/blob/master/torchvision/models/quantization/resnet.py#L41

Also, since question is better answered in the pytorch forums, so closing this issue.

[2020-04-16 22:39] #35595 closed

[2020-04-16 22:42] kimishpatel commented on #36754
@ezyang, do you mean that `run` should also be defined as a method on the `LinearOpContext`'s equivalent torchbind'ed class?
I honestly did not want `run` to be defined even on the cpp `LinearOpContext` class since as per me `LinearOpContext` just captures the context but does not define how to operate on that context. Thats how it was before. But it was decided against it.
Now we can be consisten

[2020-04-17 00:55] gchanan opened #36773 "Deprecated function messages give incorrect suggestions"
## 🐛 Bug

Consider the following:
[code]

A reasonable reading of this message is that the order of the parameters should be reversed, but this isn't equivalent:

[code]

The problem is that the second signature has a keyword-only argument but it's printed.  It also doesn't include defaults and such, but that's probably secondary.  In this case the problem is at least flagged, but it's not clear t

[2020-04-17 01:22] powerlic commented on #19969
for me, the fault is caused from the cmake file dependencies.  I complied the opencv with cuda-on option and add this to my project.
following cmake code cause error:
set(DEP_LIBS ${CUDA_LIBRARIES}  ${TORCH_LIBRARIES} ${OpenCV_LIBS})
changed this to:
set(DEP_LIBS ${TORCH_LIBRARIES}  ${CUDA_LIBRARIES} ${OpenCV_LIBS})
is ok.
may this help you!

[2020-04-17 01:48] wanchaol commented on #27743
@thuyen this feature is now supported in master under a `strict` flag in tracer. Closing

[2020-04-17 01:48] #27743 closed

[2020-04-17 01:55] H1R0Y4 opened #36784 "device=torch.device('cuda') will work, but device=torch.device('cuda') will not."
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. run 'Steps to use:' at https://github.com/akanimax/pro_gan_pytorch

[code]
## Expected behavior

On the CPU, it worked like this, so it should work similarly on the GPU.

[code]

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/util

[2020-04-17 03:25] #36784 closed

[2020-04-17 03:51] #36434 closed

[2020-04-17 03:56] jni commented on #36560
Thanks all for your fast responses!

If there were only PyTorch arrays and NumPy arrays, it would not be a big deal to add code or a note in the docs about how to deal with them. But there are also all the arrays mentioned above, plus Jax, CuPy, tensorflow, chainer, mxnet, pint Quantities, PyOpenCL, unyt, ... And more to come, I'm sure! In all these cases, converting to NumPy results in informatio

[2020-04-17 04:33] shoyer commented on #36560
The problem is that there's way too much code out in the wild (e.g., in SciPy or Scikit-Learn) that starts by casting inputs with `np.asarray()`. This has become the standard way to coerce generic inputs like Python lists or memoryview objects into NumPy arrays, but I agree that it may not be appropriate when such conversions are expensive.

It would indeed be nice to have a standard way to "hard

[2020-04-17 04:40] prajjwal1 commented on #36455
All of these files are generated. Where do we need to add VariableType for `new_` so that it's reflected? I'm new to code generation workflow. As a result, I didn't get some bits clearly, could you please provide some pointers on how do I add this functionality and test it.
Also, same problem exists for `new_empty` as `new_full` but `new_empty` calls `at::empty`. I highlighted it [here](https://gi

[2020-04-17 05:18] mruberry opened #36788 "Flakiness in TestAutogradDeviceTypeCUDA"
Updates: see below for more up to date analysis.

Multiple builds are sporadically failing with the same error but on different tests in TestAutogradDeviceTypeCUDA.

The first occurrence of this issue I can find is on https://github.com/pytorch/pytorch/commit/63e5058c885309f577a3871d18603eb5580b7996.

Where it produced:

[code]

in the pytorch_windows_vs2019_py36_cuda10.1_test2 build.

cc @ezyang

[2020-04-17 05:24] mruberry commented on #36788
Another example from pytorch_linux_xenial_cuda9_2_cudnn7_py3_gcc7_test

[code]

[2020-04-17 05:30] dataf3l commented on #25164
@elenzil can you explain how to "Manually install the wheel" please?

[2020-04-17 05:31] dataf3l commented on #25164
ok never mind I found this: https://stackoverflow.com/questions/27885397/how-do-i-install-a-python-package-with-a-whl-file

[2020-04-17 05:58] mruberry commented on #36788
build pytorch_linux_xenial_cuda9_cudnn7_py3_test on PR #35613

[code]

[2020-04-17 06:03] mruberry commented on #36788
First occurrence seems to be here https://github.com/pytorch/pytorch/pull/36675 (log below). This is shortly after https://github.com/pytorch/pytorch/pull/36640 went in.

Apr 16 16:28:41
--
5407 | Apr 16 16:28:41 ======================================================================
5408 | Apr 16 16:28:41 ERROR [0.120s]: test_view_cuda (__main__.TestAutogradDeviceTypeCUDA)
5409 | Apr 16 16:28:41 -

[2020-04-17 06:05] emcastillo commented on #36744
I will be working on this :)

[2020-04-17 06:11] ptrblck commented on #33096
@GanjinZero Could you post your code snippet you've used to profile the code please?

[2020-04-17 06:21] mruberry commented on #36788
These lines looks very suspicious to me:

[code]

I'm not going to revert #36640 since it claims to be fixing another race, it's almost a day old, and this flaky failure is sporadic so we won't know immediately if the unland worked, but please look at this failure carefully ASAP.

@pritamdamania @jjlilley

[2020-04-17 06:35] dzhulgakov commented on #36508
Only kwarg arguments should work for custom op registration api too. Switching to it is probably not BC-compatible in practice but if jit serializes explicit kwargs properly it might be fine

[2020-04-17 07:14] SebastianGrans commented on #21819
@ptrblck: I might have had that issue as well. Here's a repo of my current "working" code: [repo](https://github.com/SebastianGrans/prnet).

Just to make sure everything was still working, I did a fresh clone and setup the virtual environment with pip's default torch and torchvision. Surprisingly, this works when running on both GPUs. (At least until it crashed due to issues with the svd solver, a

[2020-04-17 07:15] tuxmaster5000 opened #36792 "[1.4.1] Intel MPI libs not found."
When try to build using the Intel MKL and MPI libs, only the MKL part is found and used.
[log.zip](https://github.com/pytorch/pytorch/files/4491496/log.zip)

Here the build logs.

[2020-04-17 07:52] #21583 closed

[2020-04-17 07:57] SebastianGrans commented on #28293
@chenhao1umbc Thanks for that snippet!

Is there a particular reason why you multiply with `L.mean()`?

[2020-04-17 08:21] GanjinZero commented on #33096
[code]

[2020-04-17 08:37] ptrblck commented on #36333
@zackziegler95 Thanks again for the code!
I got an RTX 8000 and could reproduce this illegal memory access.
I've forwarded the bug to our cudnn team and will update you here.

[2020-04-17 10:34] coquelin77 opened #36794 "Implementation of xLARFG / calling of LAPACK functions"
## 🚀 Feature

I would like to be able to use a xLARFG function, or alternatively it would be great to be able to have a small extension for calling an arbitrary LAPACK function.

## Motivation

I want to generate transformation vectors using xLARFG and I do not want to do it in pure python. Even with JITing i believe that this will be significantly slower than the LAPACKs implementation. It would

[2020-04-17 11:25] vadimkantorov opened #36796 "Export to ONNX of nop-squeeze errors out in ONNXRT"
Squeeze of dimension 1 is a no-op, since it's not squeezable. However when exported to ONNX it produces an ONNXRT error. Maybe it's a problem in nop `squeeze(1)` export, maybe in ONNXRT.

[code]

produces
[code]
For [Netron](https://lutzroeder.github.io/netron/): [model_bug.onnx.gz](https://github.com/pytorch/pytorch/files/4492580/model_bug.onnx.gz)

With `bug = False`, it produces:
[code]
(last m

[2020-04-17 11:39] chenhao1umbc commented on #28293
Yes, the main idea is that convergence issue can be solved by adding some turbulence. But the scale of L is unknown, which means L could be at 1e4 scale or 1e-4 scale. This means we cannot simple adding a "small" random number, but a relatively small number.

[2020-04-17 13:38] kshitij12345 commented on #36655
@choidongyeon Are you working on it? Otherwise I would like to take this up.

[2020-04-17 13:49] zou3519 opened #36798 "`Tensor.exponential_(0)` incorrectly gives a Tensor full of 0's"
## 🐛 Bug

It should give a Tensor full of Inf.

## To Reproduce

In 1.4.0:
[code]

In 1.5.0 and master, on both CPU and CUDA
[code]

## Expected behavior

This should return a tensor full of Inf https://pytorch.org/docs/stable/tensors.html#torch.Tensor.exponential_ the documentation says the argument `lambd` is the rate parameter.

Looking at the [wikipedia definition](https://en.wikipedia.org/wik

[2020-04-17 14:04] ezyang commented on #36754
I don't have a particular preference one way or the other. I'm just observing that one might naively expect the C++ API (with run as a method on LinearOpContext) ought to match the torchbinded API (have run as a method on LinearOpContext). You could resolve the inconsistency the other way: DON'T define run on LinearOpContext in C++ and have it be a free standing function! Or you could tell me that

[2020-04-17 14:06] ezyang opened #36801 "unittest should print test immediately when it starts running"
When tests timeout we usually only say the immediately preceeding test in the output. It would be better if we could see the actual test that was running at the time of timeout.

Ex. https://github.com/pytorch/pytorch/issues/36434#issuecomment-614171554

[2020-04-17 14:08] ezyang commented on #36754
And, BTW, I *don't* think these are interchangeable: if I understand correctly, plain functions will participate in dynamic dispatch, but torchbinded methods will not. I don't think it's observable in this case, but it could become relevant later!

[2020-04-17 14:11] ezyang commented on #36508
That is a great question! This isn't really related to this issue, but I don't know why quantization also registers their operators under the `quantized` namespace. Does anyone else know? (@jerryzh168 ?)

[2020-04-17 14:17] pythorghst opened #36802 "Error with CUDA for quantization aware training"
## 🐛 Bug

I'm following this tutorial : https://pytorch.org/tutorials/advanced/static_quantization_tutorial.html
This tutorial uses a CPU, it works fine with a CPU, but to speed it up I want to move it to the GPU and I get an error. It works with Pytorch version 1.4 but not with Pytorch nightly (1.5.0.dev20200413).

## To Reproduce

Steps to reproduce the behavior:

1.Follow the following tutorial

[2020-04-17 14:32] #36773 closed

[2020-04-17 14:39] albanD commented on #36455
All these files are generated from the scripts in `tools/autograd/*`.
It is based on `derivatives.yaml` for the autograd part and the processed version of `native_functions.yaml` (in `aten/src/ATen/Declarations.yaml` IIRC).

[2020-04-17 15:04] gchanan commented on #35009
https://github.com/pytorch/pytorch/pull/36782, port of https://github.com/pytorch/pytorch/pull/36780.

[2020-04-17 15:05] gchanan commented on #35009
https://github.com/pytorch/pytorch/pull/36762, port of https://github.com/pytorch/pytorch/pull/36760.

[2020-04-17 15:05] iedmrc commented on #17614
Hi,
I exactly need the same workflow. What is the current situation of the issue? Is there any tutorial, example, reference or document for that?
Thanks!

[2020-04-17 15:14] IlyaOvodov commented on #36040
@suo, It seems to be very questionable optimization that takes 40 minutes (OK, 10 minutes after your enhancements) on application launce to get 3-4% performance boosting running. Why not to set in off by default?

I've made some tests (sorry for do it without your boosting, but I don't expect it changes opnimized/not optimazed ratio). Columns: Pure - pure python inference (time), NoOpt  - inferenc

[2020-04-17 15:26] dreiss opened #36803 "Scripted module with interpolate call is printed improperly"
## 🐛 Bug

When scripting a module that calls interpolate, the code is printed improperly.  It still runs and saves fine, though.

## To Reproduce

Steps to reproduce the behavior:

[code]

[code]

## Expected behavior

Printed code should look like it's calling `interpolate` or `torch.nn.functional.interpolate` or something like that.

## Environment

[code]

## Additional context

Human readable

[2020-04-17 15:28] jpcenteno80 commented on #36466
Thanks for the tip on the `empty_cache()` call. I got rid of it and the model trained for almost two days in `nn.DataParallel` mode, with native AMP, but it just died again with the same error as above. Could the error be related to this: `torch.backends.cudnn.benchmark = True`?

[2020-04-17 15:29] #36499 closed

[2020-04-17 15:45] seberg commented on #36560
I agree with @shoyer plotting libraries are indeed a nice point where something like a "forced cast" is a reasonable thing to do (since e.g. you do not have a return value that might have the same type as the input).

I wouldn't mind exploring what happens if you do things like implement `__array_function__`, but always error out (until you do something sensible). If you reject `__array__` you cur

[2020-04-17 15:49] GregTD42 opened #36804 "c++: error: unrecognized command line option '-Wthread-safety'"
## 🐛 Bug

Attempting to build pytorch on RHEL7 using gcc 9.2.0  Get error
Run Build Command(s):/foo/miniconda3/bin/ninja cmTC_d3507
[1/2] Building CXX object CMakeFiles/cmTC_d3507.dir/src.cxx.o
FAILED: CMakeFiles/cmTC_d3507.dir/src.cxx.o
/foo/gcc/9.2.0/bin/c++    -Wno-deprecated -fvisibility-inlines-hidden  -std=c++11  -Wall  -Wextra  -Wshadow  -pedantic  -pedantic-errors  -Wfloat-equal  -fstrict-

[2020-04-17 16:20] gchanan commented on #35009
https://github.com/pytorch/pytorch/pull/36761, port of https://github.com/pytorch/pytorch/pull/36736.

[2020-04-17 16:21] gchanan commented on #36798
Just repeating my comment from https://github.com/pytorch/pytorch/pull/32501:

I think both scale and the result should be `inf`, i.e.:

[code]

[2020-04-17 16:33] mcarilli commented on #36466
The error message you observe is not a consequence of Amp that I've seen before, so I don't know.  Can you also print `scaler.get_scale()` every iteration?  A very small scale value indicates the scaling logic is causing too many infs/nans.  A value > 1 usually means training is numerically healthy at that point.

[2020-04-17 16:44] ashishfarmer commented on #34615
Resolved in #36772

[2020-04-17 16:44] #34615 closed

[2020-04-17 17:18] choidongyeon commented on #36655
@kshitij12345 Hi, yes I am working on it.

[2020-04-17 17:20] jjlilley commented on #36788
I believe we simply can s/setErrorIfNeeded/setError/, since the setErrorIfNeeded() logic isn't needed anymore.

#36640 does fix an observed error from #35101 that I made to address an inter-task locking issue.

[2020-04-17 17:21] GregTD42 commented on #30896
Did you ever get a fix?  I'm running into the exact same error

[2020-04-17 17:22] ShaoTengLiu commented on #22095
I have the same problem, thank you so much. I want to know will the parameters of nn.BatchNorm2d still update after setting broadcast_buffers=False in DDP.

[2020-04-17 17:26] pritamdamania87 commented on #36788
@mruberry Thanks for flagging, I'll try to find a fix for this today.

[2020-04-17 17:37] ShaoTengLiu commented on #22095
Hi, what can I do if I want to both **update the Batchnorm stats** and **call Batchnorm twice**.

[2020-04-17 17:44] jessebrizzi opened #36807 "Regression with explicit type conversion from float to uint8 on gpu devices."
## 🐛 Bug

Looks like there is a regression/bug in master branch that I noticed while working on a different PR. The issue seems to be with explicit type conversion from float to uint8 on gpus.

## To Reproduce

Steps to reproduce the behavior:

built from master
[code]

notice this result is wrong

1.4.0 on google colab
<img width="822" alt="Screen Shot 2020-04-17 at 1 39 53 PM" src="https://user-

[2020-04-17 18:20] #30943 closed

[2020-04-17 18:34] jpcenteno80 commented on #36466
Thanks, I'll give that a try (forcing the loss to be at FP32). I also printed out`scaler.get_scale()` at each iteration and it is still at the default value of 2^16 when it fails with the same error. The error also appears to come up much faster when I resume training from a long trained checkpoint. For example, in this latest try, I loaded the checkpoint that trained for over 5000 iterations, res

[2020-04-17 19:36] Krovatkin commented on #35009
@gchanan

https://github.com/pytorch/pytorch/pull/36824

Given that we keep running into the issue of incredibly long compilation times, we decided to switch to the simple executor which skips fusion-related passes and analyses. It might affect some users that rely on fusion on GPU to achieve their performance. profile. We will make a note in our release notes for such users to enable the profilin

[2020-04-17 20:07] GregTD42 commented on #30896
I have a fix.  The problem I had was that my LD_LIBRARY_PATH did not include the gcc compiler libraries.  My second problem was that cuda doesn't work with gcc 9+.  So
export LD_LIBRARY_PATH=/path/gcc/8.3.0/lib:/path/gcc/8.3.0/lib64:$LD_LIBRARY_PATH

fixed the problem for me

[2020-04-17 20:31] suo commented on #36575
The `python_cu` is a special CompilationUnit that owns all TorchScript code defined in Python, and is intended to have the same lifetime as the interpreter itself. Other CompilationUnits (ones constructed manually by users, or ones constructed when you `torch::jit::load` a model) have "normal" `shared_ptr` ownership and lifetime semantics.

Not sure if that answered your question; feel free to ask

[2020-04-17 20:35] vadimkantorov commented on #32030
Just checked, today still:
- no link to CONTRIBUTING.md from README.md
- almost no mention of Docker in CONTRIBUTING.md
- no clear guidance about fast builds / caching (ninja and ccache options are described with complex steps for ccache

Basically my setup is: I have working good and well conda-install of pytorch. I'd like to work on a PyTorch feature on the side with fast C++ builds. Is there a

[2020-04-17 20:39] suo commented on #36040
@IlyaOvodov, we are totally in agreement that the current compilation time is too slow. I am working on further improvements currently.

As for why not turn it off by default: your model is tripping some bad behavior in our compiler, but in most cases compile time is not as long. In those cases (where the warm up time is ~less than a minute). We are disabling this bad behavior in the next release,

[2020-04-17 20:47] zdevito commented on #36625
You can extract the constants by looking at the graph, for instance:
[code]

[code]

[2020-04-17 21:07] #36369 closed

[2020-04-17 21:30] aphedges opened #36831 "Nondeterministic output from Optimizer.state_dict()"
## 🐛 Bug

[`Optimizer.state_dict()`](https://pytorch.org/docs/stable/optim.html#torch.optim.Optimizer.state_dict) uses the built-in [`id()`](https://docs.python.org/3.7/library/functions.html#id) function, which has nondeterministic output between runs. This prevents easy testing for consistent training, even though the actual values are identical.

## To Reproduce

Steps to reproduce the behavior

[2020-04-17 21:41] anjali411 opened #36834 "Incorrect complex inference"
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
TypeError: can't convert complex to float

the code [here](https://github.com/pytorch/pytorch/blob/54a1e8509c9e88200139a37a7dd3a86660849591/torch/csrc/utils/tensor_new.cpp#L200-L203) will early exit if it sees a float64, but it could see a complex64

cc @ezyang @anjali411 @dylanbespalko

[2020-04-17 21:44] nikitaved commented on #17501
I have implemented the kernel for CUDA. It is still a bit raw and needs some polishing/optimization, but I can already benchmark. @Coolnesss , @paplhjak , could you please your use cases scripts?

[2020-04-17 22:26] Roshrini commented on #35009
@mrshenli  Is this issue getting tracked for release? https://github.com/pytorch/pytorch/issues/36268
PR https://github.com/pytorch/pytorch/pull/36523

[2020-04-17 22:32] mruberry commented on #35009
https://github.com/pytorch/pytorch/pull/36839, which fixes https://github.com/pytorch/pytorch/issues/36798.

[2020-04-17 22:47] #36510 closed

[2020-04-17 22:47] #36511 closed

[2020-04-18 00:27] ppwwyyxx opened #36853 "torch.assert operator / async assertion for cuda tensors"
## 🚀 Feature

Launch a non-blocking "assert" op for cpu/cuda tensors.

## Motivation
It's common to use assertion to check pre-conditions or unexpected inputs in code, as a form of defensive programming. For example, sometimes we want to assert that all elements of a tensor is all positive, or finite.

However, doing assert in python has the following problems in pytorch:
* when dealing with cuda

[2020-04-18 00:47] mruberry commented on #36788
Now observable in other tests. From build pytorch_linux_xenial_cuda10_1_cudnn7_py3_gcc7_test:

[code]

[2020-04-18 01:54] jjlilley commented on #36788
Oh, interesting -`mark_graph_task_completed()` effectively no longer guarantees that the future is completed before exiting - it's possible to exit when it's only in the process of being completed. Which isn't good enough for the assert that is being quoted above.

(This is basically the `pthread_once()` problem underneath the hood)

What I think might solve is simply a 1-line addition of a future

[2020-04-18 02:02] pritamdamania87 commented on #36788
@jjlilley Thats a great observation, I think that explains the flakiness we are seeing here!

[2020-04-18 02:07] malfet commented on #36595
Fixed

[2020-04-18 02:07] #36595 closed

[2020-04-18 03:13] waterljwant commented on #30798
Hi, I got the same problem. I try to use "Tenror.unfold()" to implement the function, however, it consumes a lot of memory.
k = kernel_size
s = step
d = dilation
f= x.unfold(2, k, s).unfold(3, k, s).unfold(4, k, s)
f= f[:, :, ::d, ::d, ::d, :, :, :]

[2020-04-18 03:25] peterjc123 commented on #36802
Yes, I could reproduce this issue. The workground is to do `qat_model.to(device='cuda')` again before the loop. Maybe some tensors are not transferred to GPU after calling `torch.quantization.prepare_qat`.

[2020-04-18 04:18] mruberry commented on #3121
Closing due to age. @robertoalotufo, if this is still an issue, would you please file a new issue?

[2020-04-18 04:18] #3121 closed

[2020-04-18 04:18] mruberry commented on #3089
Closing due to age. @M-Eng if you still experience this issue, would you please open a new issue?

[2020-04-18 04:19] mruberry commented on #3078
Closing due to age. @ramybaly, I hope you're not still having trouble installing PyTorch ;) But if you are, please file a new issue!