[2018-02-20 19:20] ezyang commented on #4750
Fixed now by @goldsborough

[2018-02-20 19:20] #4750 closed

[2018-02-20 19:22] ezyang commented on #4121
nnpack is installed from killeent conda channel with common/install_conda.sh

[2018-02-20 19:22] #4121 closed

[2018-02-20 19:23] #1080 closed

[2018-02-20 19:25] soumith commented on #1433
scalars are merged into master by @gchanan . This can be closed.

[2018-02-20 19:25] #1433 closed

[2018-02-20 19:25] soumith commented on #5014
scalars were introduced into pytorch by @gchanan, so closing this.

[2018-02-20 19:47] goldsborough commented on #5285
Can you run [valgrind](http://valgrind.org/) on your code and see if it reports anything suspicious?
@ezyang maybe has thoughts

[2018-02-20 20:25] zou3519 commented on #5285
I'm suspecting an integer overflow somewhere. @EKami, when I try to run your code, I get the following:
[code]
How do I install kaggle_data?

[2018-02-20 20:29] EKami commented on #5285
Forgot about this one, sorry @zou3519 . [Here is the dependency](https://github.com/EKami/kaggle-data-downloader). Or just `pip install -U git+https://github.com/EKami/kaggle-data-downloader.git`

[2018-02-20 20:34] zou3519 commented on #5285
Hitting the following now:
[code]

In your code,
[code]
What is the output of `block_x2.size()`? I'm thinking of just making a random input and sending it into a convolution and seeing if that causes an OOM.

[2018-02-20 20:51] EKami commented on #5285
@zou3519 You can either remove `TensorboardVisualizerCallback` from the import and on [this line](https://github.com/EKami/Torchlight/blob/showcase/memory-leak/examples/srgan.py#L110) to fix your issue or the size of `block_x2` is `[16, 64, 224, 224]`

[2018-02-20 21:04] soumith commented on #1311
stochastic nodes  no longer exist, so this can be closed.

[2018-02-20 21:04] #1311 closed

[2018-02-20 21:41] fmassa commented on #5014
@soumith this is not actually entirely addressed.
We do support scalars, but not tensors / variables having zero in their dimension.
For example
[code]

This actually makes a difference in many cases. Up until recently, concatenation with tensors with no dimensions was an error (but now is specially handled).

I've faced other cases that pytorch code doesn't work but numpy does.
The following work

[2018-02-20 21:46] #5302 closed

[2018-02-20 21:47] W4ngatang commented on #5302
Ended up working itself out...probably a hardware issue

[2018-02-20 21:48] colesbury commented on #5302
CUDA JIT compiles all the kernels in the shared library when it's initialized. This can take a few minutes the first time. It caches the results (usually in `~/.nv/ComputeCache/`) so subsequent sessions should be much quicker.

[2018-02-20 21:56] #5151 closed

[2018-02-20 21:59] soumith commented on #5302
@colesbury our binary and source builds dont make CUDA JIT-compile anything. We ship SASS for all supported GPU architectures.

@W4ngatang I'm so glad it worked itself out, we couldn't think of what was going wrong

[2018-02-20 21:59] zou3519 commented on #5285
@EKami
Does the following code OOM for you?
[code]

I removed the two pieces you suggested (while trying to run your code) and am still getting a similar error. I've never worked with tensorboard before so I'm not sure what the error is saying.

[2018-02-20 22:05] juliohm commented on #4291
I was having similar error. Make sure your layer has values that make sense to the BCELoss. If you for example output negative values and pass them to the logarithm, the training will fail.

In my case I was missing the last sigmoid activation to shrink the numbers between 0 and 1.

[2018-02-20 22:11] asoltysik opened #5319 "[feature request] Make weights of nn.Embedding a parameter"
Currently to load pretrained tensor into an Embedding I am running:
[code]
This first initializes a tensor of  size `length x dim` which can be quite large and then throws all of that away. When creating the embedding there are two big tensors in memory which fill up my RAM, while there could be only one if there was a possibility to initialize weights from a parameter.

[2018-02-20 22:13] colesbury commented on #5302
If you encounter the issue again, run the CUDA initialization under strace:

[code]

or to log to a file

[code]

[2018-02-20 22:24] EKami commented on #5285
@zou3519 The code run from start to end without crashing but it takes like 15gb of RAM to run which isn't normal imo.

[2018-02-20 23:00] apaszke commented on #5319
Duplicate of #4801.

[2018-02-20 23:00] #5319 closed

[2018-02-20 23:24] gchanan commented on #5014
One quibble with the above (@fmassa).

We do support variables having zero in their dimension, but only size (0,) (everything else gets reduced to that shape).
[code]

[2018-02-21 02:07] isaykatsman commented on #634
@amnezzia Any updates?

[2018-02-21 03:29] ezyang opened #5325 "TestMultiprocessing.test_fs/test_fs_is_shared/test_fs_sharing alloc-dealloc-mismatch detected by ASAN"
[code]

----

Another instance:

[code]

----

One more:

[code]

[2018-02-21 04:21] csrhddlam commented on #5219
I tried five more times at commit 5eefe87d4eab296c0eb28394f9daf4659d03d890, but the exact same error happened every time. The backtrace is updated in the comment, though it's pretty much the same.

[2018-02-21 05:29] ezyang opened #5326 "TestMultiprocessing.test_fd_sharing hangs with ASAN"
Sample build https://ci.pytorch.org/jenkins/job/pytorch-builds/job/pytorch-linux-xenial-cuda9-cudnn7-py3-test/3486/console

[2018-02-21 06:56] ahmed-shariff commented on #5210
I see. Thank you for the response mate.

[2018-02-21 10:04] aviolov commented on #4518
I don't think this is a CUDA related issue. It sounds more like the `pip install` command messes up the torch folders 'somehow',  as the other comments above suggest, although i experienced the problem not just when running python in the same folder in which I ran the pip comand.  (pydev, spyder, ipython in another folder)

Also I did try
conda install pytorch
conda uninstall pytorch
pip instal py

[2018-02-21 13:39] chughtapan opened #5330 "Incorrect Traced Graph for Softmax"
Hi,
Consider the following example -
[code]
On tracing, the graph generated is

[code]
The correct inputs for `%9`  should be `%7,%5,%6`

Thanks

[2018-02-21 14:04] apaszke commented on #5330
Please use the issue format when submitting them. It includes information that is crucial to fix the problems. We can't do anything until we know e.g. what PyTorch version are you running

[2018-02-21 14:51] chughtapan commented on #5330
My apologies.
PyTorch version (https://github.com/pytorch/pytorch/commit/06408168e6d2c071f8d3e14f143118267205f5d0f)

Code to trace the model
[code]

[2018-02-21 14:53] maartjeth commented on #5211
I just had to freshly install PyTorch and I get exactly this error now. Same details, but on Ubuntu 17.10 and while using nn.LSTM.

[2018-02-21 14:57] zou3519 commented on #5211
@maartjeth what version of pytorch are you using? `python -c "import torch; print(torch.__version__)"`. This issue should have been fixed on master.

[2018-02-21 15:10] maartjeth commented on #5211
@zou3519 0.3.1

[2018-02-21 15:21] avmgithub opened #5331 "[ppc64le] FAIL: test_set_flush_denormal (__main__.TestTorch)"
hi,  I just saw this error in the last few days.  both for GPU and CPU only environment.
Is the test precision assertion correct ?

[code]

[2018-02-21 15:31] peterjc123 commented on #4518
@aviolov Can you check that `_nvrtc.cp..` lies in the Anaconda dir?

[2018-02-21 15:43] baldassarreFe opened #5332 "torch.cat behaves weirdly with empty variables"
## Context

I'm experimenting with dense blocks like the ones from DenseNet, where the input of a layer in a dense block is the concatenation of the input and the output of the previous layer, except of course for the very first layer, where only the block input is available.

Ideally, I would write the forward method of a dense block like this, taking advantage of the fact that the first time `ca

[2018-02-21 15:58] liyangliu commented on #821
@yjxiong Thanks for your post. I am facing a similar problem. I wonder whether it is OK to save a submodule instead of a function as follows:

import torch

class MySubModule(torch.nn.Module):
	def forward(self, input):
		self.shape = input.size()
		return input.mean(dim=1)

class MyModule(torch.nn.Module):
	def __init__(self):
		self.op = MySubModule()

	def forward(self, input):
		return self.op

[2018-02-21 18:11] zou3519 opened #5336 "[pls ignore] testing something"
PyTorch GitHub Issues Guidelines
--------------------------------

We like to limit our issues to bug reports and feature requests. If you have a question or would like help and support, please visit our forums: https://discuss.pytorch.org/

If you are submitting a feature request, please preface the title with [feature request].

When submitting a bug report, please include the following informat

[2018-02-21 18:27] #5336 closed

[2018-02-21 19:37] jef5ez opened #5338 "Hang after running hogwild models in sequence"
- OS: Ubuntu 16.04
- PyTorch version: 0.3.1
- How you installed PyTorch (conda, pip, source): conda
- Python version: 3.6.2
Not using gpu the moment.

I was trying to run some models multiple time to get runtime and performance metrics and reproduced my issue on the mnist-hogwild example: https://github.com/pytorch/examples/blob/master/mnist_hogwild/main.py
I basically wrapped the main function he

[2018-02-21 21:00] neerajprad opened #5339 "Scalar variable's .data attribute returns a non-scalar"
- OS: Mac OSX
- PyTorch version: master
- How you installed PyTorch (conda, pip, source): source
- Python version: 2.7
- CUDA/cuDNN version: CPU version
- GCC version (if compiling from source): clang

When we access the `.data` attribute of a scalar variable, the returned tensor is up-cast to have dimension 1. Is this expected?

[code]

cc. @gchanan

[2018-02-21 21:05] gchanan commented on #5339
Yes, we don't have scalar tensors.  But we are merging Variable and Tensor soon and .data will essentially be a no-op.

[2018-02-21 21:07] neerajprad commented on #5339
I see. Thanks for clarifying!

[2018-02-21 21:07] #5339 closed

[2018-02-21 21:38] Twittadrock commented on #5302
I have the same issue. It seems as if pytorch is looping the whole memory.
I attached the strace of:
strace python -c "import torch; torch.cuda.FloatTensor(1)" 2>&1 | tee strace.log
Anyway, the issue seems to be fixed with 0.3.0.post4, but might be helpful in case of a regression.

Affected Version:
------------------
Python: (3, 6, 4)
CuDNN: 7005
CUDA: 8.0.61
Torch: 0.3.0
Numpy: 1.14.0

[strace.z

[2018-02-21 22:15] zou3519 opened #5342 "[pls ignore] testing soemthing"
PyTorch GitHub Issues Guidelines
--------------------------------

We like to limit our issues to bug reports and feature requests. If you have a question or would like help and support, please visit our forums: https://discuss.pytorch.org/

If you are submitting a feature request, please preface the title with [feature request].

When submitting a bug report, please include the following informat

[2018-02-21 22:36] zou3519 commented on #5342
Testing comment:

Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,

[2018-02-21 23:04] mxlei01 commented on #5301
Alright, I think I got it fixed.

Basically somehow inside Jupyter Notebooks the errors for the loaders aren't appearing.

But If I download the notebooks as a .py file and execute it, then it will tell you what errors were happening.

[2018-02-21 23:04] #5301 closed

[2018-02-22 01:09] soumith commented on #5331
On PPC64 it looks like denormal flags aren't being set correctly. This PR https://github.com/pytorch/pytorch/pull/5294 from 2 days ago added denormals support, but likely assumed only AMD64 / x86

[2018-02-22 02:04] andrei-pokrovsky commented on #4622
FWIW i hit the same issue :) Slightly confusing to say the least.

[2018-02-22 03:51] #3251 closed

[2018-02-22 03:51] #4860 closed

[2018-02-22 04:03] SsnL commented on #5342
yay!! labels!!!

[2018-02-22 05:40] littleom commented on #4518
I was trying to execute sample code from fast.ai course and I get similar error. I am new and just walking foot-steps to setup my jupyter notebook.
[code]
Below is my conda info

[code]

[2018-02-22 07:44] aviolov commented on #4518
@peterjc123, I think it does:
pwd
Out[11]: 'C:\\Users\\alexandre\\Anaconda3'

glob.glob(r'./**/_nvrtc.cp*', recursive=True)
Out[10]:
['.\\Lib\\site-packages\\torch\\_nvrtc.cp36-win_amd64.pyd',
 '.\\pkgs\\pytorch-0.3.0-py36_0.3.0cu80\\Lib\\site-packages\\torch\\_nvrtc.cp36-win_amd64.pyd']

This is when I after uninstalling the .whl file and installing via `conda install -c ... `

[2018-02-22 08:39] varunagrawal commented on #4946
@fmassa are you still working on this? I can try to take a crack at this hopefully this weekend.

[2018-02-22 09:24] netheril96 opened #5349 "Determining `requires_grad` automatically"
- OS: Ubuntu 16.04
- PyTorch version: 0.3.1
- How you installed PyTorch (conda, pip, source): pip
- Python version: Python 3.5.2
- CUDA/cuDNN version: 9.0/7.0
- GPU models and configuration:
- GCC version (if compiling from source):

Suppose we are training a GAN, with a very simple generator G(z) = tanh(W₁z + b₁) and discriminator D(x) = W₂x + b₂. The loss is a function of D(G(z)), and when calli

[2018-02-22 12:57] apaszke commented on #5349
TensorFlow assumes that it has much more knowledge (basically full knowledge) about the user code than we do. There's no way for us to determine automatically which Variables should be compute or not (unless you take care of annotating them for us), because we don't know which optimizer will you call next/in some time. Thanks for the proposal but I don't think this is feasible. If you have any con

[2018-02-22 13:44] netheril96 commented on #5349
It is actually feasible for PyTorch. By the time the user wants to compute the gradients, the dynamic graph has already been constructed, at which time the dependency information can be inferred from the graph. PyTorch cannot automatically infer what tensors not to compute during forward pass, but it certainly can during backward pass.

[2018-02-22 13:59] apaszke commented on #5349
Not really. Remember that optimizers aren't the only consumers of gradients. One can even roll out their own optimization methods manually.

[2018-02-22 14:38] Twittadrock opened #5351 "Wrong automatic gradient for Linear-Layer (Autograd/gradcheck)"
Minimal Example:
[code]
Output:
[code]
My Environment:
[code]

[2018-02-22 14:52] matherm commented on #5351
Are we overseeing something essential or is there really a bug in the current release? Sorry for the brevity, I forwarded the issue from a colleague via mobile.

Beste wishes,
Matthias

[2018-02-22 15:04] z3ppj1g5aw commented on #4698
Sorry to reopen this @apaszke but I'm having the same problem and I was wondering if this bug has been fixed.
I'm able to save and load models using `torch.save(model, model_file)` and `model = torch.load(model_file)` while working on a Jupyter notebook but if I run the same from a Python file, I'm getting this error.
`TypeError: <module '__main__'> is a built-in class`

[2018-02-22 15:09] apaszke commented on #5351
You're running grad checks with single precision. If you add `.double()` calls it will pass.

[2018-02-22 15:09] #5351 closed

[2018-02-22 15:50] zou3519 commented on #5332
Thanks for the detailed bug report, @baldassarreFe. I am confirming that the problem exists on master as well. Here's a quick script to copy/paste for my records.
[code]

[2018-02-22 16:07] zou3519 commented on #5342
testing

[2018-02-22 16:08] fmassa commented on #4946
@varunagrawal yes, I have it working, both for `ROIPooling` and `ROIAlign`. I was planning on not integrating it to pytorch core, but instead to use the new JIT extensions added in https://github.com/pytorch/pytorch/pull/4842, and to showcase how one can extend PyTorch with C/CUDA without having to modify PyTorch code or writing messy build files.

[2018-02-22 16:14] zou3519 commented on #5342
asdf

[2018-02-22 16:15] zou3519 commented on #5342
asdf

[2018-02-22 16:17] zou3519 commented on #5342
testing

[2018-02-22 16:18] varunagrawal commented on #4946
That seems really cool. I wasn't aware till now that PyTorch supported JIT compilation of C++ extensions.

The C backend already seems to have support for CUDA enabled ROI pooling. Would your extension basically do a C++ to C++ function call, exposed in Python? I'm still wrapping my head around the JIT features and the new ATen library. 😅

[2018-02-22 16:23] zou3519 commented on #5342
testing a comment

[2018-02-22 17:03] Kaixhin commented on #1959
Closed by https://github.com/pytorch/pytorch/pull/4922 - thanks @SsnL!

[2018-02-22 17:03] #1959 closed

[2018-02-22 17:28] colinfang commented on #5260
I found it weird to have

[code]

[2018-02-22 18:35] LUKELIEM opened #5353 "Bugs encountered with Score Function approach in PONG"
I adapted the reinforce and actor-critic code for Cartpole to PONG. The original codes are located in:

https://github.com/pytorch/examples/blob/master/reinforcement_learning/reinforce.py

In the Cartpole example, the state is a list of only 4 numbers. In PONG, the input is a downsampled image vector of 1600 (40x40) or 6400 (80x80). When using the reinforce.py as the guideline and using the score

[2018-02-22 19:10] Jerrybonheur commented on #4827
I've the same error"ModuleNotFoundError: No module named 'torch'" when debugging my code.
How to handle it?
Thanks

[2018-02-22 19:15] Taha-Bahadori opened #5354 "[feature request] Batch linear algebra operations"
Linear algebra operations such as `svd()` and `symeig()` only support a single matrix input (e.g.,  a matrix of size `M x N`).   I request to extend these functions to support running these operations on batches in parallel on a single GPU machine.  That is, the input will take the form of `B x M x N` sized tensors and the function will calculate `B` operations in parallel on a GPU.

**Simpler fea

[2018-02-22 19:32] ezyang commented on #5306
Hi @DavidNemeskey, I have a few questions about the script you uploaded.

1. The TensorFlow script does not appear to be deterministic.

[code]

Do you know what is causing this nondeterminism? This is on TensorFlow 1.4 with GPU support. The PyTorch script, though divergent, is deterministic.

[code]

2. As you can see above, when I run the PyTorch script, I get perplexities that are far greater t

[2018-02-22 19:52] mmderakhshani commented on #3081
Hi there,
I have got the same error when forwarding a batch of input to my module. Here is the output of my gdb:

Is this error related to my cuda and cudnn?

[2018-02-22 19:54] kindlychung commented on #701
mypy seems to be able to pick up these members.

[2018-02-22 20:11] DavidNemeskey commented on #5306
@ezyang I'll try to answer them. :)

1. I have no idea why this is the case. I am wondering if it has to do with the random seed not working somehow (or maybe the code also needs `np.random.seed`) -- even though I load the parameters from file, so there shouldn't be anything random left in it... But I can confirm that the phenomenon exists. Maybe ask on the TensorFlow forums (do they have one?).

[2018-02-22 20:16] fmassa commented on #4946
@varunagrawal The current ROI pooling that is present in pytorch is broken. The extension is written in C++ using ATen, and uses pybind11 to expose it to python automatically.
So, it looks like
[code]

and on the python side, we have
[code]

[2018-02-22 20:46] stsievert opened #5355 "DataLoader.__del__ bug with mpi4py"
I'm creating a `torch.utils.data.DataLoader` in my script ([train.py]), and I get an error when this script is close to ending. I am using MPI through mpi4py, not the MPI PyTorch distributed backend. This error only happens when under `mpirun python train.py`, not under `python train.py` (which completes successfully).

Nothing in the traceback reveals this is an issue with my code, and I haven't

[2018-02-22 20:54] stsievert commented on #5355
I do not see this bug with Pytorch 0.3.0.post4`

[2018-02-22 21:06] ezyang commented on #5306
@DavidNemeskey Oops, I missed your message and kept editing the comment above. There are three more questions, if you don't mind ;)

Re 2: Well, in the experiments I ran there, the weights are being initialized randomly, differently, which easily explains the difference in perplexity. But this is *far far* more difference than what you reported in your experiments. And when the initial loss is thi

[2018-02-22 21:16] the-new-sky commented on #5211
I have the same issue on PyTorch 0.3.1 using an LSTM. Tried to reinstall it from PyPI but no change, should I compile it from source to get it work ?

[2018-02-22 21:18] zou3519 commented on #5211
Could one of you create a minimal script that reproduces the error?

[2018-02-22 21:32] DavidNemeskey commented on #5306
@ezyang The formula is correct -- it returns the same loss as TF (at least for the first few iterations...). The difference between it and the loss used in `word_language_model` is that normally, BPTT loss is summed along time steps (like in TF / my `SequenceLoss`), while the latter averages along both axes. So basically, `SequenceLoss == CrossEntropyLoss * num_steps`. I checked. :)

As for not be

[2018-02-22 21:33] the-new-sky commented on #5211
After a few attempts, it turns out that, at least in my case, the error occurs when the dimension 2 of the input is not correct.
[code]

[2018-02-22 22:04] zou3519 commented on #5342
comment

[2018-02-22 22:15] ezyang commented on #5306
OK, looking at `-T 1` logs it looks like the decoder weights (PyTorch) / softmax weights (TensorFlow) diverge immediately on the first iteration. At least, I'm pretty sure that's the correspondence (that's the `einsum` in TensorFlow.) Do you see that as well?

[2018-02-22 22:19] zou3519 commented on #5211
@the-new-sky that particular bug (`fn` not being defined) was fixed on master, so yes, building from source will make that throw a better error message :)

[2018-02-22 22:26] DavidNemeskey commented on #5306
@ezyang Thanks for catching the error in the gradient clipping code in the Pytorch version -- turns out that was the culprit. Seems like I should have gone to the forums first...

On the other hand, this is very good news, because I can switch to Pytorch without concerns.

[2018-02-22 22:26] #5306 closed

[2018-02-23 00:31] ailzhang commented on #5001
#5122 is merged. Good to close this issue? @colesbury  @soumith

[2018-02-23 01:17] #5001 closed

[2018-02-23 01:17] soumith commented on #5001
thanks Ailing! :)

[2018-02-23 01:54] meder411 opened #5363 "`Interrupted system call` error appearing after updating install today"
I updated my PyTorch installation this afternoon in order to use LayerNorm, and now code that worked fine before is giving me data loader errors after 2 epochs of training. Training is all on one GPU currently.

[code]
The only difference in my code from before and after the install is the addition of 3 LayerNorm layers. Perhaps something got buggy in the update?

I'm currently checking if the sam

[2018-02-23 02:14] SsnL commented on #5363
EINTR happens when a syscall is interrupted. It's application's responsibility to catch this and retry. The application here is Python as it happens (and we use) python's multiprocessing.Queue implementation.

So this is a python bug. Before 3.5, EINTR'ed syscalls are not automatically retried. We don't really have much that we can do from our side.

Therefore, it's unlikely that this error happen

[2018-02-23 02:25] meder411 commented on #5363
Fair enough. For what it's worth, I did try the Google/SO/Forums first. It did seem odd, though, that this never appeared for me before the recent update and immediately after occurred on two consecutive runs. It's also not occurring now after I've commented out my LayerNorm layers. Again though, I looked through that (your?) code for that layer and there seems to be no relationship to the error--

[2018-02-23 02:25] #5363 closed

[2018-02-23 04:30] paddyhoran commented on #494
@peterjc123 I actually got PyTorch master building and thought that all was ok.  Recently I am getting the following linker error.  I'm really at a loss....  any thoughts?

C:\Program Files (x86)\Microsoft Visual Studio\2017\BuildTools\VC\Tools\MSVC\14.11.25503\bin\HostX64\x64\link.exe /nologo /INCREMENTAL:NO /LTCG /nodefaultlib:libucrt.lib ucrt.lib /DLL /MANIFEST:EMBED,ID=2 /MANIFESTUAC:NO /LIBPA

[2018-02-23 04:32] peterjc123 commented on #494
@paddyhoran #5365 is on this.

[2018-02-23 06:01] kingxueyuf commented on #958
jekbradbury told me adding volatile=True to x = V(th.from_numpy(x).float(), volatile=True).cuda() would help. I tried and it works

[2018-02-23 06:03] kingxueyuf commented on #958
I tried `volatile=True` and it works for me. Thanks for teaching me this @jekbradbury

[2018-02-23 06:10] SsnL commented on #5363
Let me know if it happens consistently. Sometimes reboot also solves it.

[2018-02-23 06:28] xiaonengmiao commented on #4827
@Jerrybonheur
If you have conda, try installing pytorch using conda (on mac for example):

$conda install pytorch torchvision -c pytorch

If this still dose not work, then try:

$conda update conda
$conda install mkl=2018

[2018-02-23 07:14] hao522 commented on #1893
@zhanghang1989 can't install Pytorch-Encoding when running python setup.py install. the error is:
100 errors detected in the compilation of "/tmp/tmpxft_000007ca_00000000-7_thc_encoding.cpp1.ii".
Compilation terminated.

[2018-02-23 09:55] apaszke commented on #5164
Tensor.new doesn't break the contract. It's a class unrelated to Variable, so its contract is that it returns a Tensor :wink:

Parameters are really just ways of requiring the users to explicitly say which Variables do they want auto-saved by modules. They are never meant to be returned as a result of any operation, and this will not change.

I think you can resize them if you're in the no-grad mo

[2018-02-23 10:11] ignacio-rocco commented on #4946
Hi,

I'm playing a bit with this. I downloaded the RoiPooling CPU version from [here](https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/RoiPooling.cpp
), and wrote this little wrapper:

[code]
which I compile and load with:
[code]
However, when I try to call the function by passing [FloatTensor,FloatTensor,int,int,float] I get the following error:

    1. (arg0: at::Tensor, arg1:

[2018-02-23 10:13] ztwe opened #5369 "RuntimeError: cuDNN version mismatch: PyTorch was compiled against 6021 but linked against 5110"
Traceback (most recent call last):
  File "demo.py", line 3, in <module>
    import model
  File "/home/abc/github/chinese-ocr/model.py", line 5, in <module>
    from crnn.crnn import crnnOcr
  File "/home/abc/github/chinese-ocr/crnn/crnn.py", line 72, in <module>
    model,converter = crnnSource()
  File "/home/abc/github/chinese-ocr/crnn/crnn.py", line 64, in crnnSource
    model = crnn.CRNN(32,

[2018-02-23 11:21] baldassarreFe commented on #5332
Can you point me at the various parts of the codebase that are involved, like the C and CUDA backend?
I can try and see if I can open a pull request with a fix ;)

[2018-02-23 13:05] vadimkantorov commented on #5164
Ok, just maybe need an idiomatic way to load weights preserving the device and `requires_grad` :)

I did around:
`selfe.weight = nn.Parameter(weight.type_as(self.weight), requires_grad = self.weight.requires_grad)`

[2018-02-23 13:12] ignacio-rocco commented on #4946
Ok, I figured it out, the wrapper was wrong (should not import pybind11 but torch headers).

Correct example:
[code]

[2018-02-23 14:34] paddyhoran opened #5372 "Windows CPU Build Fails on Link Step"
**Overview**

I know windows is not officially supported, I can move to #494 if you would prefer...

Until recently I was able to build pytorch from source with the steps below.  I am now getting a linker error.  @peterjc123 thought that #5365 would fix it but the issue remains.

**General Information**

- OS: Windows 10
- PyTorch version: master (cc9d3b2)
- How you installed PyTorch (conda, pip,

[2018-02-23 14:41] peterjc123 commented on #5372
@paddyhoran Don't worry. #5368 should resolve this.

[2018-02-23 14:54] apaszke commented on #5164
Can't you just assign to `.data`?

[2018-02-23 15:12] soumith commented on #5369
could you pull the latest master branch and recompile. I pushed a change yesterday that fixes this: https://github.com/pytorch/pytorch/pull/5345

[2018-02-23 15:13] soumith commented on #3742
fixed via https://github.com/pytorch/pytorch/pull/5371

[2018-02-23 15:13] #3742 closed

[2018-02-23 15:13] soumith commented on #3527
fixed via https://github.com/pytorch/pytorch/pull/5371

[2018-02-23 15:13] #3527 closed

[2018-02-23 15:50] zou3519 commented on #5332
Sure thing. The tensor and Variable code path will both end up at https://github.com/pytorch/pytorch/blob/master/aten/src/TH/generic/THTensorMath.c#L3500-L3592 at some point.

This place is likely not the problem, because this code is shared between Variable and tensor, but I haven't looked too much into this yet. One thing that could help in understanding the problem is to GDB and see where the e

[2018-02-23 16:27] avmgithub commented on #5331
currently the set_flush_denormal call will always return False if on ppc64le.
The unittest has a skipIf  as below.   I believe the intention is to skip this
test if not running on x86.  But since set_flush_denormal returns a False on
ppc64le , then it actually runs the test and not run on x86

    @unittest.skipIf(torch.set_flush_denormal(False),
                     "flush_denormal not supported"

[2018-02-23 16:28] keipertk opened #5373 "Warned about presence of old GPU which is disabled"
I have a Quadro K620 and K80. Even though I hide the Quadro by excluding it from NVIDIA_VISIBLE_DEVICES, I get a UserWarning when executing Pytorch:

/opt/anaconda/lib/python3.6/site-packages/torch/cuda/__init__.py:97: UserWarning:
    Found GPU1 Quadro K620 which is of cuda capability 5.0.
    PyTorch no longer supports this GPU because it is too old.

This is reproducible using the main-gpu.py c

[2018-02-23 16:36] lanpa commented on #5373
why don't you set CUDA_VISIBLE_DEVICES ?

[2018-02-23 16:37] soumith commented on #5373
`CUDA_VISIBLE_DEVICES` is the correct usage. I am not sure if `NVIDIA_VISIBLE_DEVICES` is even valid.

[2018-02-23 16:37] #5373 closed

[2018-02-23 16:39] samuelbroscheit opened #5374 "Batchnorm1d with affine=False slower than affine=True"
- OS: Linux 3.16.0-4-amd64 #1 SMP Debian 3.16.43-2+deb8u5 (2017-09-19) x86_64 GNU/Linux
- PyTorch version: 3.0
- How you installed PyTorch (conda, pip, source): pip
- Python version: 3.6
- CUDA/cuDNN version: '8.0.61'
- GPU models and configuration: GeForce GTX 1080Ti
- GCC version (if compiling from source): -

[code]
%timeit train()

GPU affine=False 1.98 s ± 860 µs per loop (mean ± std. dev. of

[2018-02-23 16:41] keipertk commented on #5373
Ah it is NVIDIA_VISIBLE_DEVICES in nvidia-docker.

[2018-02-23 16:45] soumith commented on #5373
even in `nvidia-docker`, I can confirm that you can use `CUDA_VISIBLE_DEVICES` safely.

[2018-02-23 17:20] SsnL commented on #5374
Yes, it is expected. With affine, the cudnn path is used. Without, we use the thnn path.

[2018-02-23 17:33] samuelbroscheit commented on #5374
I see, thanks !

[2018-02-23 17:36] SsnL commented on #5374
By the way, cuda kernels are run asynchronously. So, when benchmarking cuda code, you should use `torch.cuda.synchronize()` to get the correct timings. e.g.,
[code]

[2018-02-23 18:03] ezyang opened #5379 "Equivalent of Type::toScalarType for Python-side dtype"
I have a dtype, I want the byte-ified version of it (if it was a CPU float dtype, I want CPU byte dtype; if it was GPU float dtype, I want GPU byte dtype). In ATen I can use toScalarType. The new Python-side dtype doesn't have this.

A generalized version of this ticket is to ensure API parity between ATen Type, and PyTorch dtype. (Maybe we should rename ATen type so that the names line up too.)

[2018-02-23 18:21] ezyang opened #5381 "torch.byte/torch.cuda.byte doesn't exist"
I'd really like them to exist pretty please

[2018-02-23 18:33] #5374 closed

[2018-02-23 19:03] apaszke commented on #5331
Doing calls that have side effects in skipIf is a bad idea. We should write a context manager that always resets the previous state + skips the test if the call returned False

[2018-02-23 19:45] avmgithub commented on #5331
@apaszke what can we do in the meantime to skip over the denormal test, which is invalid,  on ppc64 ?

[2018-02-23 20:18] gchanan opened #5385 "Handle python_arg_parser dtype constants better"
The default is a dtype name, but we fine the default via the Type; we should use dtypes because this won't work if the Types aren't compiled.

[2018-02-23 20:25] apaszke commented on #5331
Skip this test everywhere. These checks will affect all tests and we don’t want that

[2018-02-23 21:28] colesbury opened #5388 "Perf regression: indexing 1-d tensor"
After the Tensor/Variable merge we have a perf regression with indexing a 1-d tensor:

As of 6a2afe3

[code]

As of Tensor/Variable merge:

[code]

Note that indexing a Python list is even faster:

[code]

This affects things like:
https://github.com/pytorch/examples/blob/4ef2d4d0c8524372d0047e050065edcac665ce1a/word_language_model/data.py#L39-L46

[2018-02-23 21:36] soumith commented on #5331
closed via https://github.com/pytorch/pytorch/pull/5387

[2018-02-23 21:36] #5331 closed

[2018-02-23 21:51] achainan commented on #4969
@SsnL I upgraded to python 3.6 from 2.7. Seems to have worked. Thanks.

[2018-02-23 23:54] #5372 closed

[2018-02-24 01:06] nbansal90 commented on #958
@TommeyChang @tabibusairam I am hitting same error, but on different case. I am adding a new regularization term in my model, through this function:
[code]
What i observe is even if I change my batch size from 128 to 8, The Error comes after just the 1st epoch, and If I simply change the regularization and return a l2 regularization. I don't get this error.
Any suggestions/comment would be really

[2018-02-24 01:13] mingfeima commented on #4186
@andrei-pokrovsky, just coming back from Chinese New Year leave. We have a [repo](https://github.com/intel/pytorch) with MKL convolution optimization integrated and functionally verified. This repo is based pytorch v0.2 and we have been shifting to latest code base in our internal branch. This repo serves as a prototype design with CPU perf. optimization, more work is still WIP. We will propose PR

[2018-02-24 01:22] zhanghang1989 commented on #1893
If only using ModelParallel and Criterion Parallel, you don't have to compile it. See the source code http://hangzh.com/PyTorch-Encoding/_modules/encoding/parallel.html#ModelDataParallel

[2018-02-24 01:36] MlWoo commented on #4703
@nyxjemk I am sorry that it is really hard to identify the root because we do not have the virtual env like yours.  LSTM mainly involves with BLAS which is usually accelerated by MKL or openBLAS. I just identify a severe bug #5047 of BLAS usage in the recent version. Could you provide the commit id of the source?  And I will try to reproduce your problem and identify the root cause.

[2018-02-24 02:19] ezyang commented on #5349
@apaszke Given that `no_grad` is coming, wouldn't it be feasible to also extend this with `only_grad(list of variables)` which has the same effect as setting `requires_grad=True` for the listed variables, and False for everything else? Then an optimizer can, in fact, "just take care of it" for you.

[2018-02-24 06:00] veugene commented on #5219
I've been hitting the same issue with modified code, using pytorch at commit 9193dfd185ac526d0d71c6fd100a52b0b2e10e58 and a slightly older version.

However, I haven't been hitting this issue (yet?) in code that doesn't use CIFAR 10 or the pytorch DataLoader or Dataset classes. I'll repost if this changes.

The modified code is just cleaned up to allow any arbitrary stack of modules in a block, so

[2018-02-24 06:31] wandering007 commented on #1959
Are the implementations of Layer Normalization and [Instance Normalization](http://pytorch.org/docs/0.3.1/nn.html#torch.nn.InstanceNorm1d) identical?

[2018-02-24 06:49] SsnL commented on #1959
@wandering007 They are very similar, but have some subtle differences. IN is applied on each channel of channeled data like images, but LN is usually applied on entire sample and often in NLP tasks. Also LN applies elementwise affine transform, while IN usually don't apply affine transform. PyTorch does support IN with a scalar affine transform applied to each channel, but that's mostly coming fro

[2018-02-24 06:56] wandering007 commented on #1959
@SsnL Thanks for your patient explanation. So if I want to use LN in the context of channeled data like images, I should use IN instead? e.g. ops are convolution instead of linear.

[2018-02-24 07:00] SsnL commented on #1959
You can use both on images. They just work differently. Depending on your design and purpose of the work, I can see either (and with either affine on or off) work.

[2018-02-24 07:29] wandering007 commented on #1959
@SsnL Thanks, I want to use normalization to improve ConvLSTM performance for video classification. Is IN with affine on more suitable?

[2018-02-24 07:43] ztwe commented on #5369
@soumith  It still fails.

/usr/local/lib/python2.7/dist-packages/keras/models.py:251: UserWarning: No training configuration found in save file: the model was *not* compiled. Compile it manually.
  warnings.warn('No training configuration found in save file: '
Traceback (most recent call last):
  File "demo.py", line 3, in <module>
    import model
  File "/home/qianbb/github/chinese-ocr/model.py

[2018-02-24 09:11] apaszke commented on #5349
How is that different than `torch.autograd.grad(out, just_those_vars)`?

[2018-02-24 11:48] ezyang commented on #5349
You would get to avoid building graph for `just_those_vars`. It would probably also make it simpler to design a new context-manager API to optimizer which takes care fo this for you.

[2018-02-24 12:05] apaszke commented on #5349
I'm just not sure what the exact semantics are, and how would you implement that. An example corner case: what if part of the graph involving other variables has already been built, and is used in the block?

[2018-02-24 12:43] apaszke opened #5396 "variable.data returns a variable, but doesn't share version counters"
It just unwraps and re-wraps the `.data()` in C++, but does nothing about the version counter.

[2018-02-24 12:43] apaszke commented on #5396
cc: @colesbury

[2018-02-24 14:18] sampathweb opened #5397 "Dockerfile - Error on Build"
Docker Version: Docker version 17.06.2-ce, build cec0b72
Host: Ubuntu 16.04

I am trying to run the Docker container - `docker build . --file Dockerfile --tag dl:pytorch`

I have the following Errors:

1. Looks like Conda no longer add conda executable to the env it creates.
[code]
Had to modify the second line there to -
`RUN /opt/conda/bin/conda install --name pytorch-py$PYTHON_VERSION -c soumit

[2018-02-24 14:31] abhaikollara opened #5398 "DataLoader returning non-CUDA tensors"
I created a simple dataset that has two CUDA tensors, one of shape `(1000, 5)` and the other `(1000,)` but when I load them using a `DataLoader` only the first one is returned as CUDA tensor. I think this may have something to do with the default `collate_fn` of the DataLoader. A simple hack is to reshape the 1D tensor into `(1000, 1)` while feeding to DataLoader. But loss functions like `CrossEnt

[2018-02-24 15:29] sampathweb commented on #5398
@abhaikollara - Interesting.  Possibly because when you do `self.y[idx]`, you get a Scalar value of type int and not an torch.cuda tensor.
[code]
Alternatively, during the training loop, you might want to put X and y in cuda while wrapping it in a variable like most pyTorch code examples.  Hope this is useful

[2018-02-24 16:04] abhaikollara commented on #5398
@sampathweb Yeah, the issue is that the default collate function of the DataLoader selects individual scalar values and combines them.

And as far as the wrapping it in cuda during training loop, I'm not sure how efficient that is compared to a single move of the entire data to GPU

[2018-02-24 16:58] colesbury commented on #5396
This was mainly to keep backwards compatibility, but I'm not sure what behavior we want long term. I think `.data` with version counters would be identical `.detach()`.

[2018-02-24 18:18] solomatov commented on #497
Are there any updates on pip install with pytorch. I want to have pytorch in requirements.txt and not to bother with creating special .sh files for installing it depending on a platform which I have.

[2018-02-24 18:19] soumith commented on #5369
@ztwe I found the issue, I fixed it in https://github.com/pytorch/pytorch/pull/5399 which we will merge shortly.

[2018-02-24 18:32] #5355 closed

[2018-02-24 18:40] SsnL commented on #5398
If you `pin_memory`, it will be pretty fast. This will be fixed with what we have recently done with scalar and merging Variable and Tensor.

[2018-02-24 18:54] abhaikollara commented on #5398
@SsnL Could you clarify the usage of `pin_memory` I'm not sure I understand how it works.

[2018-02-24 19:11] SsnL commented on #5398
@abhaikollara It reserves an area in CPU memory so pulling tensors in that area to GPU is fast. See http://pytorch.org/docs/master/notes/cuda.html#use-pinned-memory-buffers

[2018-02-24 19:59] meder411 commented on #5363
Just a heads up that this is happening consistently. I've tried wrapping it in a try/except with a continue in the except block (as per a few SO answers), but then my program just hangs. Why doesn't PyTorch handle this error itself, rather than relying folks using the library to catch this?

[2018-02-24 20:03] SsnL commented on #5363
@meder411 Well then I assume that you didn't read the comments in the PR I linked above. By the time this happens, the data transmitting queue is already corrupted and if we try-catch, the next fetch will crash/hang anyways. This is because Python doesn't do this retry. So we can't do much.

[2018-02-24 20:05] SsnL commented on #5363
@meder411 That said, I'm curious how this is happening consistently for you. Does it work if you do `num_workers=0`?

[2018-02-24 20:15] meder411 commented on #5363
I actually did read the comments, but they're a little beyond my depth of understanding I suppose. I don't often work with system calls, signals, etc.

I will check `num_workers=0` now.

[2018-02-24 20:54] jatentaki opened #5400 "Invalid free in binaries on error message"
- OS: Xubuntu 16.04 4.13.0-32-generic
- PyTorch version: 0.3.0.post4
- How you installed PyTorch (conda, pip, source): pip
- Python version: Python 3.5.2
- CUDA/cuDNN version: running on CPU

To reproduce, clone [this](https://github.com/jatentaki/torch_bug) repo and execute `python3 run_cnn.py`. On my machine it results in the following [stack trace](https://gist.github.com/jatentaki/99f3cae3a79d

[2018-02-25 00:37] #5369 closed

[2018-02-25 03:40] ezyang commented on #5219
OK, sounds like these are new memory problems which we will definitely look into. We recently got ASAN running on our CPU builds; I know it's a long shot, but do any of these issues repro on CPU? If not, I guess it's time to get ASAN working on CUDA, and then see if we can nail the issue this way.

[2018-02-25 04:22] B1azingB1ade opened #5402 "torch.cat behaves differently on Tensor vs Variable (also a backward compatibility issue)"
- OS: Ubuntu 16.04.3 LTS
- PyTorch version: 0.3.1
- How you installed PyTorch (conda, pip, source): pip
- Python version: 2.7
- CUDA/cuDNN version: 9.1

I wanted to concatenate a single variable along a given dimension. I was able to do it for PyTorch 0.2, but 0.3 would give me the error:

However, I'd like to be able to concatenate a Variable along a dimension instead of creating a tuple of Varia

[2018-02-25 05:41] peterjc123 commented on #494
The package for 0.3.1 is uploaded. Please refer to my [repo](https://github.com/peterjc123/pytorch-scripts) for updating.

[2018-02-25 11:02] ankitvad opened #5403 "How to Detach specific components in the loss?"
I'm a little confused how to detach certain model from the loss computation graph.
If I have 3 models that generate an output: `A`,  `B` and `C`, given an input.
And, 3  optimizers for those 3 models: `Oa`, `Ob` and `Oc`, for A, B and C resp.
Let's assume I have an initial input `x`.
I also have 3 losses `L1`, `L2` and `L3`.

Let's assume a scenario where the system does `L2` that calculates `B(A(

[2018-02-25 13:12] tunz commented on #5311
repro:
[code]

This issue came from the sliced data of Storage. The problem is that multiple storage objects can share the same data pointer without reference counting or maybe listing of the other storage objects sharing the same data.

data ptr is freed at the following code. `storage` is swapped with the `new_storage`, and the old `storage` gets freed when it goes to out of block scope. But, st

[2018-02-25 13:59] sampathweb commented on #5397
I opened an issue with Conda team and looks the issue of `conda` command not found in Env is introduced in 4.4 version and should be fixed in 4.5 (Next version).  Until then we may need to link it directly or fully reference it as `/opt/conda/bin/conda` in the RUN Command.  Alternatively, we could specify the Conda version as 4.3 that may not have this problem.

https://github.com/conda/conda/issu

[2018-02-25 14:31] apaszke commented on #5398
This is already fixed in master. Thanks for the report!

[2018-02-25 14:31] #5398 closed

[2018-02-25 16:24] apaszke commented on #5403
This is not enough information to tell. In general you might need to backprop from different losses separately, to avoid having the graphs mixed up.

Note that we're using GitHub issues for bug reports only, and all questions should be posted on [our forums](discuss.pytorch.org).

[2018-02-25 16:24] #5403 closed

[2018-02-25 23:09] vadimkantorov opened #5405 "scatter_add_ doesn't support scalar source"
I was looking to use `scatter_add_` to do `bincount`.
[code]
at `0.4.0a0+1fdb392`

[2018-02-26 01:38] yuandong-tian opened #5406 "BatchNorm behaves different in train() and eval()"
[code]

Sample output:
[code]
Also in master:
[code]

[2018-02-26 02:13] meder411 commented on #5363
`num_workers=0` resolved it. It definitely seems to be that dataloader error, but it didn't add too much to my running time so we're set for now. Thanks for the help!

[2018-02-26 03:16] kyunghyuncho commented on #5406
https://github.com/zdevito/ATen/blob/master/src/THNN/generic/BatchNormalization.c#L29-L62

these lines may answer the discrepancy?

[2018-02-26 03:39] SsnL commented on #5406
This is expected. In eval(), BN uses tracked running stats, rather than data stats.

[2018-02-26 04:03] soumith commented on #5406
this is standard expected behavior. In `eval()` mode, BatchNorm does not rely on batch statistics but uses the `running_mean` and `running_std` estimates that it computed during it's training phase.

This is documented as well:
<img width="690" alt="screen shot 2018-02-25 at 11 02 13 pm" src="https://user-images.githubusercontent.com/1310570/36652947-0ab16f8c-1a80-11e8-9541-935b837b7d27.png">

[2018-02-26 04:03] #5406 closed

[2018-02-26 05:03] ezyang commented on #5349
So... maybe the thing we're missing is a `torch.autograd.backward` variant that takes both inputs and outputs (like `torch.autograd.grad`) but accumulates gradients imperatively in `grad`. Then this would be a drop-in replacement at any point you want to call `loss.backward()` but train only certain parameters. The context manager is just icing on the API cake (for conveniently transforming `loss.

[2018-02-26 05:55] #5039 closed

[2018-02-26 06:26] kshitij12345 commented on #1750
@souravsingh Are you still working on it?? or may I take it up??

[2018-02-26 08:10] souravsingh commented on #1750
@kshitij12345 I am working on it

[2018-02-26 14:00] szrlee commented on #4702
same issue on '0.3.1.post2'

[2018-02-26 15:16] wielandbrendel opened #5410 "Numeric instability in batch_norm for constant inputs"
If each channel is constant (along mini-batch and spatial dimensions) then nn.functional.batch_norm should yield zero (with weight = None and bias = None). Instead, however, it often produces non-zero values which saturate to -1 and 1 if the input values to batch_norm are large enough (> 1e7). Here is a minimal working example:

[code]

An example output is (each row shows the relative number of o

[2018-02-26 16:52] vadimkantorov commented on #5405
`index_add_` also doesn't currently support scalar source, also doesn't broadcast (but at least produces an error).

[2018-02-26 16:57] mdraw opened #5411 "Integer division behavior is different from Python and NumPy"
- PyTorch version: current master (10fd27)
- How you installed PyTorch (conda, pip, source): from source
- Python version: 3.6

When dividing two ints in pure Python, the result is always a float, e.g.

    1.6666666666666667

    <class 'float'>

NumPy shares this behavior:

    [1.66666667]

    float64

PyTorch uses floor division if both operands have integer types:

    1
    [torch.LongTenso

[2018-02-26 17:02] apaszke commented on #5349
Well this makes the semantics of `requires_grad` yet more complicated than they are now, because there's an extra way you can affect them at a distance, and it's much more complicated than a `no_grad` mode - it's not only checking a global flag, but if a Variable is a leaf or not, and if it is a leaf, then if it is in the "want grad" set. I don't think it's worth the complexity.

[2018-02-26 17:16] yaroslavvb opened #5412 "PyTorch memory allocation could be better"
I'm seeing 30-50% difference on adding two floating point arrays on XeonV4 (p3.16xlarge) depending on whether the memory was allocated by PyTorch or TensorFlow (TensorFlow allocated memory is faster)

https://github.com/diux-dev/cluster/blob/b4284685a6d23ba06fcb32daeeaa9195683eb014/yuxin_numpy/tf_numpy_benchmark.py

[code]

@soumith suggested to look in the flags used for posix_memalign

[2018-02-26 19:59] colesbury commented on #5412
What version of PyTorch are you running? I'm not seeing any difference on master. I can't think of a allocation mechanism since PyTorch allocates with 64-byte alignment on Linux/Mac for anything >=5KB.

[2018-02-26 20:26] zou3519 commented on #5402
@ailzhang

[2018-02-26 20:27] SsnL commented on #5410
I can work on this. Probably needs to use more robust mean/var algorithm.

[2018-02-26 20:29] zou3519 commented on #5405
Thanks for the report, I'm taking a look

[2018-02-26 20:33] zou3519 commented on #5411
@li-roy is taking a lookj.

[2018-02-26 20:34] zou3519 commented on #5400
@li-roy, can you take a look at this?

[2018-02-26 20:39] SsnL commented on #5381
I'll do this.

[2018-02-26 20:51] nbansal90 commented on #4702
I think If you simply update the Pytorch with the latest version. The issue should not be seen

[2018-02-26 21:09] gchanan commented on #5381
I don't think we should add this, np.byte is and int8, but for us it's an uint8, which seems confusing.  Also, byte in pytorch sometimes really means bool.  So I'd say ask for what you want: if you want a uint8, use that, if you want a bool, use that (we need to implement bool tensors though).

[2018-02-26 21:35] yaroslavvb commented on #5412
Which speed are you seeing? I've tested on p3.16 instance which has 64 cores, maybe that's a factor?

Using Pytorch 0.3.0.post4

How to reproduce:
Allocate p3.16xlarge  on AWS with Deep Learning AMI (I used v3.0 ubuntu conda version), ssh into it, then

[code]

[2018-02-26 22:18] yaroslavvb commented on #5412
I'll try it on newer version if someone points me to a Python 3.6 Linux wheel

[2018-02-26 22:19] apaszke commented on #5412
Maybe it's some NUMA artifact?

[2018-02-26 22:34] Apogentus opened #5421 "with nn.DataParallel program runs slower"
Hello,
I ran classification tutorial from pytorch, and I noticed that using nn.DataParallel wrapper around the model forces forward&backward passes to run much slower. How can I take advantage of 2 GPUs?

I use Ubuntu 16.04 LTS, python 3.6, pytorch 0.3.1.post2, cuDNN 7005, 2 GPUs GeForce 1080.

Code:
[code]
1st timeit gives 2 ms, second - 6ms, though second utilizes 2 GPUs.

[2018-02-26 23:52] yaroslavvb commented on #5412
Good guess...pinning to single socket makes TF-allocated version slower and PyTorch-allocated faster so that they are same speed

Using [get_cores_per_socket.py](https://github.com/diux-dev/cluster/blob/master/yuxin_numpy/get_cores_per_socket.py) to get core ids

[code]

[2018-02-27 00:32] Kaixhin commented on #5421
Your network looks relatively small, and I would assume that the overhead of moving data into two separate GPUs and then merging them back again is more than the gain you'd get from using two GPUs in parallel.

[2018-02-27 00:36] soumith commented on #5397
i think we can simplify the Dockerfile to just make it install pytorch in the default environment. If @ngimel has no objections, I'll simplify the dockerfile that way.

[2018-02-27 00:37] soumith commented on #5397
@jekbradbury I think `ENV PATH /opt/conda/envs/pytorch-py$PYTHON_VERSION/bin:/opt/conda/bin/:$PATH` is wrong. Exposing the `bin` folder of the root env will lead to weird side-effects such as binaries in root env being exposed in pytorch env.

[2018-02-27 00:55] kwierman commented on #5136
Just to be clear, @hsed, where those lines added to /usr/include/x86_64-linux-gnu/c++/4.8/bits/c++config.h ?

[2018-02-27 02:17] ztwe commented on #5369
@soumith Thanks！Does it have been merged?

[2018-02-27 02:48] hsed commented on #5136
Yes, and I used the same version (4.8) of GCC to compile.

[2018-02-27 02:50] ezyang commented on #5349
Well, how about `torch.autograd.backward` with support for specifying which inputs you actually want to compute gradients for? I think it's pretty easy to polyfill this functionality (take each of the returned grads from `torch.autograd.grad` and manually add them to the `x.grad` of each input `x`) but it seems like a glaring omission from the current API.

[2018-02-27 04:49] SsnL opened #5424 "Functional data_parallel missing from docs"

[2018-02-27 04:49] ezyang commented on #5381
A few thoughts, then.

- By the same reasoning, `ByteTensor` is a confusing to users (because it's `uint8`) and we're going to deprecate this name, right? (BTW, I use ByteTensor all the time without any confusion because all I really need is some opaque blob of data whose size is counted in bytes, because I'm passing it on to cuDNN or something; in this case the signedness of the bytes themselves

[2018-02-27 05:14] kwierman commented on #5136
@hsed Thanks. That seemed to fix one problem, and then I ran into issue #3786. One of these days I'll dig my way out of this rabbithole.

[2018-02-27 05:35] ayushidalmia commented on #2083
Do we have any resolution for this yet:
I am using pip install (have to use /usr/bin/python) method to install torch.

[2018-02-27 05:49] kshitij12345 commented on #1750
Oh sure

[2018-02-27 05:50] yaroslavvb opened #5426 "torch.from_numpy is slow for mmap'ped numpy arrays"
I'm looking at feasibility of using Ray as parameter server combined with single-machine NN implementation.

The bottleneck for using it with PyTorch is that result of Ray calls come as numpy array created on top of [mmaped memory](https://groups.google.com/forum/#!msg/ray-dev/pNsxWI-iSyI/vhWnjgAfAwAJ), and PyTorch `from_numpy` on these arrays is slow, working at about 2.5 GB/sec, which is the spe

[2018-02-27 07:12] PhanDuc commented on #494
@peterjc123  Is it possible to install Torchvision on Windows?

[2018-02-27 07:37] szrlee commented on #4702
the latest binary is 0.3.1.post2. are you installing from github source?

[2018-02-27 07:50] apaszke commented on #5421
Also, it’s not the right way to benchmark CUDA code. You should at least have a torch.cuda.synchronize() call at the end of the time it block, and do a small warmup first (a few passes to allocate memory etc)

[2018-02-27 07:50] #5421 closed

[2018-02-27 08:42] SRTjiawei opened #5430 "RuntimeError: _update_worker_pids should be called only once for each DataLoader"
Environment:
- OS: Ubuntu 16.04
- PyTorch version: 0.3.1
- How you installed PyTorch (conda, pip, source): conda
- Python version: 3.6
- CUDA/cuDNN version: 9.1
- GPU models and configuration: Nvidia GTX 1080
- GCC version (if compiling from source): 4.8.5

- A script to reproduce the bug. Please try to provide as minimal of a test case as possible.
Since it's dataset related, I can provide the co

[2018-02-27 08:58] wouterkool commented on #4858
I did not know this issue was open and also created a case [here](https://discuss.pytorch.org/t/bad-behavior-of-multinomial-function/10232/3). If it is any help, I found that it depends on the range of the values as well, if I change logits_range in the script below to 1 or 100 it does not happen.

[code]

[2018-02-27 09:43] Apogentus commented on #5421
Yes, increasing network depth and adding torch.cuda.synchronize()  gave a speed 1.5 improvement. Thank you.

[2018-02-27 10:27] apaszke commented on #5430
cc: @SsnL

[2018-02-27 10:28] apaszke commented on #5430
This looks like a bug in PyTorch, it's not your fault.

[2018-02-27 10:33] apaszke commented on #5426
I can't see any reason why this would happen, and I would suspect it might be caused by ray somehow. What's `f.remote()`? There's no memcpy we're doing when creating PyTorch tensors from numpy ([here's the full source](https://github.com/pytorch/pytorch/blob/master/torch/csrc/utils/tensor_numpy.cpp#L91-L124), it's just 30 lines).

[2018-02-27 11:00] asoltysik commented on #1362
@Stonesjtu are there any plans to integrate your work into PyTorch?

[2018-02-27 11:30] Stonesjtu commented on #1362
I struggled a lot with the choice of API. Currently I found two implementations on `Tensorflow` and `dpnn`. Do you have any suggestions.

Ref:
NCE on tensorflow: https://www.tensorflow.org/api_docs/python/tf/nn/nce_loss
NCE on dpnn: https://github.com/Element-Research/dpnn#nn.NCEModule

[2018-02-27 11:36] peterjc123 commented on #494
@PhanDuc Execute `pip install torchvision` after you install pytorch.

[2018-02-27 11:40] asoltysik commented on #1362
Not really, I am not experienced enough. However, I would recommend making a PR, as I looked through your repo and it seems to be mostly functional? I guess it would be easier to discuss the API and review the PR when submitted.

[2018-02-27 12:35] ZhiqingXiao opened #5431 "Docs Error: Incorrect Output of torch.gels() Example"
(edited according to @SsnL  's comment) **Output of torch.gels() example is incorrect.**

I try to reprise the example in http://pytorch.org/docs/0.3.1/torch.html#torch.gels, which uses a 5x2 Tensor and a 5x3 Tensor to generate a 3x2 Tensor. However, my running generates a 5x2 Tensor. The output of example is incorrect.

- OS: Windows 10 x64
- PyTorch version: 0.3.0b0+591e73e
- How you installed P

[2018-02-27 13:27] vishwakftw opened #5432 "[docs] Improve existing documentation"
There are some minor typographical errors in the documentation page for math operations. http://pytorch.org/docs/master/torch.html#math-operations

I have listed them down below (tentative list):
+ Add formulae for `erf` and `erfinv`
+ Maintain consistent doc for `exp` and `expm1` (like `log` and `log1p`)
+ Modify mathematical symbols in `ge`, `le`, `ne`.
+ Math display fixes for `addbmm`, `geqrf`

[2018-02-27 13:49] apaszke commented on #5432
Yes, please send the PR!

[2018-02-27 13:51] vishwakftw commented on #5432
Great, thanks. I will send in some time. I have also realized that there are some problems in other places as well, I think I could add that too here.

[2018-02-27 13:52] apaszke commented on #5349
There's even a simpler way to implement this, using the logic that extracts the subgraph necessary to compute `torch.autograd.grad`. I think I'm ok with adding it, no strong preferences really. But I don't think we should have any context managers for this.

[2018-02-27 14:25] Ahmed-YehiaGPEL commented on #494
@peterjc123  Whenever I try to install via the command

It starts to install then it stops at a certain point, then it retries again and it's ongoing for endless times.
I'm sure that my connection is good.

I'm installing on windows 8.1 with Cuda 9 installed, any help would be appreciated.

![image](https://user-images.githubusercontent.com/10068638/36733933-c3db60ca-1bda-11e8-9deb-30f484f73385.pn

[2018-02-27 15:03] SsnL commented on #5430
That seems weird. I will try to reproduce it.

[2018-02-27 15:06] SsnL commented on #5431
I believe that the example in doc needs to be updated. The doc says

[2018-02-27 15:16] ponomarevsy opened #5434 "RuntimeError: $ Torch: not enough memory: you tried to allocate 72GB. Buy new RAM!"
- OS:

Red Hat Enterprise Linux Server release 7.2 (Maipo)

- PyTorch version:

pytorch                   0.3.1           py35_cuda8.0.61_cudnn7.0.5_2    pytorch
torchvision               0.2.0            py35heaa392f_1    pytorch

- How you installed PyTorch (conda, pip, source):

$ module load anaconda3/4.3.1
$ source activate pytorchenv
$ conda install pytorch torchvision -c pytorch

- Python v

[2018-02-27 15:23] apaszke commented on #5434
72GB is a lot, it might be the OS that rejects such a request. We don't have any allocation limits, this error is raised when `malloc` fails to claim more memory.

[2018-02-27 15:31] SRTjiawei commented on #5430
@apaszke thanks for your reply, looking forward to a bug fix then.

[2018-02-27 15:43] SRTjiawei commented on #5430
@SsnL Cheers! I simply used it for loading image data with torchvision.datasets.ImageFolder, it should be easy to reproduce.

[2018-02-27 15:49] apaszke commented on #5430
@SsnL my guess would be that we're not cleaning up after dead data loaders properly, and because `id(self)` is just the memory pointer to the `PyObject` of `self`, then another loader can accidentally get allocated in the same place. No idea what can cause it otherwise (except for `__init__` being called twice, but that's unlikely)

[2018-02-27 15:55] zou3519 commented on #5285
I agree, I've seen around the same memory usage. Am looking into it.

[2018-02-27 16:00] pajotarthur opened #5435 "Gaussian Sampling"
In the release phase of the code of our article : Deep Learning for Physical Processes: Incorporating Prior Scientific Knowledge ( https://openreview.net/pdf?id=By4HsfWAZ ) we have implemented a Gaussian grid sampling scheme :
https://github.com/pajotarthur/pytorch/blob/master/aten/src/THNN/generic/SpatialGridSamplerGaussian.c
https://github.com/pajotarthur/pytorch/blob/master/aten/src/THCUNN/Spat

[2018-02-27 16:10] zou3519 commented on #5434
@ponomarevsy do you think your code should be allocating 72GB?

I'm currently investigating large memory usage with convolutions on the CPU: https://github.com/pytorch/pytorch/issues/5285, if you're using any convolutions in your model this could be related.

[2018-02-27 16:14] SsnL commented on #5430
@apaszke Yeah, that sounds a possible cause.

@SRTjiawei Are there any other error messages before this one? Perhaps in `DataLoaderIter.__del__`?

[2018-02-27 16:34] fmassa commented on #5285
The 15GB of RAM for this input size wouldn't surprise me, because we use the (memory consuming) unfolding of the image to perform the convolution.
In your example, the unfolded image has size of roughly `16 * 64 * 9 * 9 * 224 * 224 * 4` which is roughly 15GB ([exact code here](https://github.com/pytorch/pytorch/blob/master/aten/src/THNN/generic/SpatialConvolutionMM.c#L192)).

The dimensions of the

[2018-02-27 16:37] peterjc123 commented on #494
@Ahmed-YehiaGPEL Actually, the package structure has been changed. So direct updating may not work. You may try to uninstall the existing package first and then install again. Now I just wonder that does the original pytorch 0.3.0 with cuda90 works on Win 8.1?

[2018-02-27 16:38] gchanan commented on #5381
I'm not against that, but it's at least _less_ confusing than `torch.byte` because there is no np.ByteArray equivalent.

I've always found this usage a little weird, it reminds me a bit of using CharStorages for strings in TH, i.e. just because something can hold something doesn't mean it should  (what is the cumprod of your blob?).  Why isn't this just some python byte blob object (I don't know t

[2018-02-27 16:51] MarvinTeichmann commented on #1280
For people coming from google, looking for a **fix/workaround**:

If you want to do a forward pass on devices=[1, 3], you need to manually move your model to device `1`. You can do that by calling `mymodel.cuda(1)'.

Also note, that pytorch *loves* to move parameters back to device 0. So if the error persists, double check that the relevant model parameters are still on device 0 at execution time.

[2018-02-27 16:57] nicospbr commented on #4827
I have tried the three  steps given by @xiaonengmiao, still "ModuleNotFoundError: No module named 'pytorch'"

Any ideas?

[2018-02-27 17:09] apaszke commented on #1280
@MarvinTeichmann that's a bug, it should be possible to do this. Can you please create a new issue and post a small script we could use to reproduce the problem (e.g. use a simplified network with dummy data)?

[2018-02-27 17:12] ponomarevsy commented on #5434
Thank you for your feedback, @apaszke and @zou3519. @apaszke, are you sure this is not a memory leakage issue similar to @zou3519? Also, I see no reason why wouldn't PyTorch allocate more than 72G (if needed), knowing that there is 124G available on the node. Still this sounds like too much RAM to me. I remember having similar issues using DIGITS (with Caffe). Do these training sets require that m

[2018-02-27 17:19] vadimkantorov opened #5436 "Slower performance of eq and fill_ compared to numpy"
[code]

[code]

`torch.__version__ = '0.4.0a0+1fdb392'`
`numpy.__version__ = '1.14.0'`

[2018-02-27 17:36] yaroslavvb commented on #5426
I'm not measuring the time it takes to do `f.remote`, the slowness is in `torch.from_numpy` call

[code]
This takes 462 milliseconds on a 1GB numpy array.

Here's the full [benchmark](https://raw.githubusercontent.com/diux-dev/cluster/master/yuxin_numpy/pytorch_slow_numpy_bug.py).

[code]

Here's [cpu profile](https://www.dropbox.com/s/5zk9qn6oasfkzve/pytorch.svg?dl=1) of the benchmark (from googl

[2018-02-27 17:39] yaroslavvb commented on #5426
Oh....it looks like `arr` is not a numpy array....and there's some extra stuff going on on Ray side `__array__?`, will reopen if I can isolate this to PyTorch

[2018-02-27 17:44] colesbury commented on #5434
You probably don't have 124 GB available at the point where you try to allocate 72GB. It looks like the triggering call is `torch.stack`. Unless you have repeated inputs, there's a good chance that the inputs use up 72 GB as well.

[2018-02-27 17:46] apaszke commented on #5426
Yeah, once you have a numpy array the conversion should be pretty much immediate irrespectively of its size (it doesn't depend on it). Last time I measured it a few months ago, it cost around 3us.

[2018-02-27 17:55] yaroslavvb commented on #5426
So `from_numpy` is slow if I do

`torch.from_numpy(arr)`

But `from_numpy` is fast if I do
[code]

Running this under cProfile shows that the time is spent under `torch._C.from_numpy`

![screenshot 2018-02-27 09 54 08](https://user-images.githubusercontent.com/23068/36745383-2d4cb482-1ba4-11e8-8e09-ca95c8d2600a.png)

[2018-02-27 18:06] robertnishihara commented on #5426
@yaroslavvb, Ray creates a read-only numpy array (since it is backed by shared memory), so

[code]

We can try turning off the read-only flag and see if that fully gets rid of the issue or if there are any remaining slowdowns.

[2018-02-27 18:06] apaszke commented on #5426
`from_numpy` does *nothing* to the tensor data (as can be seen in the linked source). It's possible that the NumPy API we're using to implement the conversion is doing something very expensive under the hood, which would explain why the second case is fast. This is caused by the package implementing `arr`. Let me know if you can think of any improvements, but I don't think there's anything we can

[2018-02-27 18:09] #5426 closed

[2018-02-27 18:24] MattKleinsmith opened #5438 "torch.cat mismatched Tensor types --> Wrong error message"
**Claim:**
When I cat a FloatTensor with a LongTensor, PyTorch says it got a list, but it should say it got a LongTensor. The same is true for any mismatched Tensor types.

**Code:**
[code]

**Error message:**

[code]

**Expected error message:**

[code]

**Environment:**
- OS: Ubuntu 16.04 on Docker and host
- PyTorch version: 0.3.0.post4
- How you installed PyTorch: conda
- Python version: 3.6.3

[2018-02-27 18:24] yaroslavvb commented on #5426
BTW, I think `arr` is just regular numpy ndarray in the slow case. IE

(Pdb) arr.__class__
<class 'numpy.ndarray'>

However, the result of torch.from_numpy(arr) is mutable, whereas the arr's backing memory is marked as read-only, so something must be triggering a copy

[2018-02-27 18:26] apaszke commented on #5426
Hmm I think it's possible that we're just not respecting the flags in the current implementation. I'm pretty sure we did check that before, but I can't see any conditionals that would depend on this anywhere

[2018-02-27 18:36] yaroslavvb commented on #5426
https://github.com/diux-dev/cluster/blob/master/yuxin_numpy/pytorch_modify_test.py

[code]

[2018-02-27 19:04] colesbury commented on #5438
This is fixed in `master`:

[code]

[2018-02-27 19:04] #5438 closed

[2018-02-27 19:25] SsnL commented on #5432
I'm also preparing a PR that touches the doc. It will mainly be about the example section, but will also change `gels` quite a bit. I'll avoid touching the items you listed above :)

[2018-02-27 21:26] apaszke opened #5442 "torch.from_numpy doesn't respect read-only arrays"
See discussion at the bottom of #5426.

[2018-02-27 21:27] apaszke commented on #5426
I've opened another issue to track this

[2018-02-27 22:46] yaroslavvb commented on #5442
Here's an example, `from_numpy` takes 757 ms on my machine for 1GB numpy array. It seems there's a copy happening somewhere although I'm confused where since I don't see any calls to memcpy in https://github.com/pytorch/pytorch/blob/master/torch/csrc/utils/tensor_numpy.cpp#L91-L124

[code]

[2018-02-28 00:12] soumith commented on #5435
we would like to have it in the main pytorch repo. can you please send a Pull Request

[2018-02-28 00:40] colesbury commented on #1419
This is fixed in master now

[2018-02-28 00:40] #1419 closed

[2018-02-28 00:40] li-roy commented on #5400
@jatentaki I couldn't reproduce this. Were you using different numbers initially?

[code]

[2018-02-28 00:40] colesbury commented on #2633
This is done. (Still some clean-up to do)

[2018-02-28 00:40] #2633 closed

[2018-02-28 01:23] SRTjiawei commented on #5430
@SsnL nope, this is all of it. I think @apaszke is probably right, id(self) is pointing to the same object.

[2018-02-28 01:52] SsnL commented on #5430
@SRTjiawei Are you looking at the `id` of iterator?

I've been running a similar script that loads imagenet all day and still can't reproduce it. There is very likely something else is going on other than running dataloder with imagefolder (if dataloder is this broken whenever used with imagefolder, we would see plenty of bug reports already haha). If possible, could you post the full script so I

[2018-02-28 02:04] ruotianluo opened #5448 "[Feature request] device_as"
Can we can we a function behave like this:

[code]

I'm currently doing `a.type_as(b).long()`

[2018-02-28 02:24] SRTjiawei commented on #5430
@SsnL yes, id of iterator,  this error is raised from the C code, right? But I tried printing out the id of iter, it's not the same. Surprisingly, this time there is no error, still running well, only added one line of code to print. So, maybe it is about multiprocessing?

Sure, I will paste my full script for training. Note that I used a customized dataloader for eval, but it is not this customiz

[2018-02-28 02:35] SRTjiawei commented on #5430
Sometimes it occurs at epoch 2, sometimes it is after epoch 10, randomly. Last time I almost think it's gone, but then occurs again, could it be hardware related? like limited memory?

[2018-02-28 03:59] jatentaki commented on #5400
No, re-cloning the repo reproduces the bug for me. Also, I've just upgraded 3.0post4 to 3.1 and it also reproduces. Aren't you using a source-build master?

Also, if this runtime check is the go-to solution, it leads me to ask: if I have the RGB axis of an image, and I want to maxpool like
[code]
how should I go about it with this argument check? That was actually my intent with this code (along w

[2018-02-28 05:14] ezyang commented on #5326
Also `test_fs_sharing`

[2018-02-28 05:20] Mabinogiysk opened #5452 "Strange behavior in nn.NLLLoss2d() function"
- OS: win10
- PyTorch version: 0.3.0
- How you installed PyTorch (conda, pip, source): source
- Python version: 3.6
- CUDA/cuDNN version: 8.0
- GPU models and configuration: GTX1080
- GCC version (if compiling from source): VS2015

I am doing some image classification and I have  a model which uses nn.NLLLoss2d as loss function.
The size of images are 1024\*512.
**I can run this model** on GPU whe

[2018-02-28 06:28] Mabinogiysk commented on #5452
I find the problem, when I resize the mask, some objects overlap with another and the values of mask have changed. But there is no bug report on GPU. It takes me a whole day to find the problem.

[2018-02-28 06:49] SsnL commented on #5452
@Mabinogiysk In general, you don't want to `resize` a noncontiguous tensor.

[2018-02-28 08:36] zyoohv commented on #4906
hello, I face the same trouble, could you tell me how to solve it ?

[2018-02-28 08:55] bordingj opened #5454 "Expose at::Tensor in python"
Now that Variable and torch.Tensor is merged, how do I create an at::Tensor from python and how do I reach the underlying at::Tensor of a Variable from python and from c++?
I have used torch and aten in c++ and python alot as an alternative to numpy, where I didnt care about the autograd part. Now I can only use autograd.Variable from python, which makes me pretty sad.

[2018-02-28 09:05] apaszke commented on #5454
We don't plan to keep maintaining the `at::Tensor` bindings for non-Variable types. If you get a Python object in C++, you can call the `.data()` to retrieve the `at::Tensor`.

[2018-02-28 09:05] #5454 closed

[2018-02-28 09:08] gturri opened #5455 "Segfault in _int_free () from /lib64/libc.so.6 when returning"
OS: CentOS Linux release 7.3.1611 (also reproduced on Ubuntu 16.04)
PyTorch version: 0.3.1
How you installed PyTorch (conda, pip, source): conda
Python version: Python 3.6.4 :: Anaconda, Inc.
CUDA/cuDNN version: I'm not using Cuda
GPU models and configuration: I'm not using GPU

Hi,
I am trying to implement a seq2seq model, and when I run it, it consistently leads me to this segfault:

[code]

Thi

[2018-02-28 10:10] EKami commented on #5285
@fmassa Ok so I ran a little benchmark on both the GPU and the CPU of the following script:
[code]

Here are the results:
On GPU:
[code]

On CPU:
[code]
But once the program reaches the `signal.pause()` the memory get freed up after a while.
Do you really think this is still normal?
Even if it's not a memory leak is there an alternative for me to run the code on CPU without it taking 17gb but 1.5g

[2018-02-28 11:20] fmassa commented on #5285
The convolutions on the GPU uses cudnn, which does not use the same `unfold` technique so uses much less memory.

For the moment, I'd say that the only way of reducing memory usage would be to either go through the `NNPack` binding, which in the master branch [is enabled in the following cases](https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/Convolution.cpp#L133-L139), or reduc

[2018-02-28 11:31] EKami commented on #5285
Thanks a lot for these informations @fmassa !
Well it's very limited =/ . At a hight level that means I only have to use the `.cpu()` directive if I want to use nnpack? (considering my neural network is compatible). That's sad because I wanted to run inference on the cpu on aws lambda for my algorithm (with lambda being limited to 3gb of RAM usage) but now that this issue exist I'll have to look a

[2018-02-28 12:42] ZhiqingXiao commented on #5431
@SsnL Thank you for your helpful information! That really helps. I will edit the my original post accordingly.

[2018-02-28 12:52] fmassa commented on #5285
There is some work being done to use MKLDNN in PyTorch https://github.com/pytorch/pytorch/issues/4186 , but I'm not sure about the status of it. They seem to have a branch linked in that thread. Another possibility would be to make the `im2col` only operate in single elements of the batch (instead of the whole batch), that would reduce the memory requirements by a factor of 16 in your case, but wo

[2018-02-28 14:36] EKami commented on #5285
Yes, when I run inference I only process 1 batch at a time but my resulting image can be even bigger than 1800x1800 (depending on the input image size). [Here is the code](https://github.com/EKami/Torchlite/blob/master/torchlite/eval/eval.py#L11) which does that. It seems that there isn't much hope for CPU inference for me for now considering the upscaling factor will take even more memory I belie

[2018-02-28 15:52] ayushidalmia commented on #2575
Any update on this?

[2018-02-28 16:40] ezyang opened #5460 "Rework how symbolic override works"
Motivation: we want to write all of our traces like this:

[code]

How it improves over the current situation:

- We want to STOP inlining the "is-tracing" test.  This is
  implementation details and we don't want it splattered all over
  userspace.
- We want to be able to wrap functions which take non-Variable
  arguments (such that you aren't induced to do refactors
  like in https://github.com/

[2018-02-28 16:46] gchanan opened #5461 "Verify device / dtype are consistent"
See https://github.com/pytorch/pytorch/pull/5384 for more details.

Examples (there are probably more):
[code]

[2018-02-28 17:00] SsnL opened #5462 "Doc for new kwargs in tensor constructors"
Things like `torch.randn(2, dtype=torch.float64, requires_grad=True)` are not documented. Given the ongoing changes on `torch.*` docs (#5443 , #5450 ), I will do this after those two PRs are merged.

[2018-02-28 17:04] ezyang opened #5463 "ONNX export protobufs leak file paths from file system"
This is bad for build reproducibility, since file paths may change between systems. The file paths come from SourceLocation which we started exporting in c7cb6a795e550ef2373d8127e120744db16b61cf

CC @jamesr66a

[2018-02-28 17:06] ezyang commented on #5101
@Dnekhaev I took a look, and actually, it's just a spurious warning, the model seems to export successfully into `IndexLayer.pb`

[2018-02-28 17:50] apaszke commented on #5460
If the decorator is supposed to return that checks the `_tracing` flag before it goes on to check inputs, and then dispatches to the main implementation then the overhead should be negligible (especially compared to the improvement in readability). I don't think we're using non-standard data structures a lot

[2018-02-28 18:36] AlJohri commented on #4793
I think this was fixed by: https://github.com/pytorch/pytorch/issues/4768

[2018-02-28 18:42] AlJohri commented on #4793
Other relevant issues for those tracking:

- https://github.com/pytorch/pytorch/issues/497
- https://github.com/pytorch/pytorch/issues/566
- https://github.com/pypa/packaging-problems/issues/120

Thanks for your work on this @soumith!

[2018-02-28 19:34] Enamex opened #5470 "Error in python: free(): invalid pointer"
OS: ubuntu 14
- PyTorch version: 0.3.0
- How you installed PyTorch: conda
- Python version: 3.6.4
- CUDA/cuDNN version:  9.0.176
- GPU models: Titan X

the following code crashes after  self.lstm1(embed_atten,  (output1, state1))

[code]

[2018-02-28 19:59] zou3519 commented on #5470
Could you please provide sample inputs for `video_feat, video_mask, captions, caption_mask` (or just their sizes?)

[2018-02-28 20:36] ngimel commented on #5442
FWIW, with a relatively recent pytorch build and numpy 1.14.1 I'm seeing no copy, and pytorch not respecting read only flag.
[code]

[code]

[2018-02-28 20:50] karimhasebou commented on #5470
@zou3519 Video_feat is 4x80x500, video_mask is 4x80, captions 4x1x80, caption mask 4x1x80

[2018-02-28 21:16] shagunsodhani opened #5472 "Issue when using padding token as input to the network"
I have a straightforward use case. Given a token (or word), lookup the embedding of the word, pass that through a linear layer and perform L2 regression. If the token corresponds to the `padding_idx` of the embedding layer, `loss.backward()` throws an error saying `RuntimeError: invalid argument 3: Index is supposed to be a vector at /Users/soumith/code/builder/wheel/pytorch-src/torch/lib/TH/gener

[2018-02-28 22:10] ngimel commented on #5442
Binary release (pytorch-0.3.1-py36_cuda8.0.61_cudnn7.0.5_2) indeed does a copy
[code]

[2018-02-28 22:16] yaroslavvb commented on #5442
Oh interesting! May be useful to figure out what change was responsible for removing a copy, in case there's a regression in the future

[2018-02-28 22:16] apaszke commented on #5442
It's probably because `torch.from_numpy` used to return a tensor, but returns a variable now (since tensors are no longer visible in Python). It's a regression

[2018-02-28 22:17] apaszke commented on #5442
Still, the fix will require us to make a copy, so the problem will persist. We don't have a read-only flag in PyTorch right now and adding it would require some effort.

[2018-02-28 22:20] colesbury commented on #5442
We never enforced read-only. We previously erroneously made copies because np.longlong vs np.int64 issues.

[2018-02-28 22:21] colesbury commented on #5442
We also should not ever make a copy in `torch.from_numpy`

[2018-02-28 22:22] ngimel commented on #5442
3.1 did have a path where numpy array would get copied, that does not seem to exist in master:
https://github.com/pytorch/pytorch/blob/v0.3.1/torch/csrc/generic/Tensor.cpp#L194-L219

[2018-02-28 22:25] zou3519 opened #5477 "Some combination of add, mul, and sum causes a segfault"
[code]
segfaults on master. It doesn't happen when the loop only runs once, so I'm suspecting some memory corruption.

This code runs without error on pytorch 0.3.0, so there is a regression somewhere.

[2018-02-28 22:25] colesbury commented on #5442
@ngimel, yes I think that was there because of some code sharing via the `torch.Tensor(ndarray)` constructor which was intended to copy if the types didn't match.

https://github.com/pytorch/pytorch/blob/v0.3.1/torch/csrc/generic/Tensor.cpp#L308-L316

We've promised the `torch.from_numpy` shares memory in the documentation and repeatedly in forum posts:
http://pytorch.org/docs/0.3.1/torch.html#tor

[2018-02-28 22:28] zou3519 commented on #5477
nvm, the stack overflowed

[2018-02-28 23:25] seerdecker opened #5479 "torch.autograd.grad output variable has no grad_fn"
See the code below. I would expect d.grad_fn not to be None.
[code]

Testing on Linux, Pytorch 0.3.1, Python 3.6.

[2018-02-28 23:48] colesbury commented on #5479
`dC/dB` is constant, so there's no second derivative

[2018-03-01 00:08] soumith commented on #5400
So, the invalid free is a bit of a side-effect of the wheel binaries that we have.
Your original issue is what @li-roy reported, i.e.
[code]
He couldn't reproduce it probably because of using conda binaries or source installs.

the rabbit-hole is deep, but the happens roughly because of this:
- we statically link stdc++ with binaries (because old OSes usually dont have  a sufficiently recent stdc+

[2018-03-01 00:19] rasbt commented on #1768
Yes, you would initialize the weights via a normal distribution with mean 0 and std_dev=1/sqrt(num_inputs).

For example,

    self.conv_layer.weight.data.normal_(0.0, np.sqrt(1/(kernel_width*kernel_height)))

[2018-03-01 00:52] soumith commented on #5470
@Enamex @karimhasebou this is an error message issue that we have in binary wheel builds. Can you install pytorch from `conda` and rerun your script (or alternatively, can you build [pytorch from source](https://github.com/pytorch/pytorch#from-source) and rerun your script)

[2018-03-01 00:58] goldsborough opened #5480 "Canonicalize TH/THC headers"
Files in TH/THC and related folders currently include headers without proper paths, such that we have to add include flags to our builds (e.g. `-I torch/lib/include/THC`). We should canonicalize the includes and simplify the flags we use in builds.
@zdevito

[2018-03-01 01:16] ailzhang commented on #5402
I can repro this. Working on a fix.

[2018-03-01 02:21] ngimel commented on #5397
I've submitted PR to install pytorch into default conda env. As for git error, I'm not getting it on Docker version 17.09.0-ce, build afdb6d4, so not quite sure how to fix. Is .git copied along with the context?

[2018-03-01 03:59] zdevito opened #5484 "Changes to function_wrapper.py broke the CI for the ATen standalone repo"
@ezyang @zou3519

See:

https://travis-ci.org/zdevito/ATen/builds

[2018-03-01 06:31] vadimkantorov opened #5486 "Tensors don't gracefully compare to NoneType"
[code]
at `0.4.0a0+1fdb392`

[2018-03-01 07:54] XavierCHEN34 commented on #872
what if i changed the names of some begin layers and removed the last several fc layers?
use" load_state_dict( ) with strict = False"  will this load those begin layers in order?

[2018-03-01 08:02] karimhasebou commented on #5470
@soumith  i used conda to install pytorch. I have tried upgrading anaconda and reinstalling pytorch but that didn't fix it

[2018-03-01 09:23] apaszke commented on #872
It won't. We can't automagically figure out the correspondence between parameters if the names don't match

[2018-03-01 09:37] bnsh opened #5489 "torch.jit.trace(network, data) fails if data is an OrderedDict"
My network takes a bunch of inputs, and I was keeping them in an ordereddict so that I could keep track of what they were. When I tried to run TensorboardX on my network, it fails with:

`Traceback (most recent call last):
  File "tensorboard.py", line 63, in <module>
    main()
  File "tensorboard.py", line 60, in main
    writer.add_graph(network, data)
  File "/usr/local/lib/python2.7/dist-pack

[2018-03-01 09:38] XavierCHEN34 commented on #872
so if i changed some layer names  or for example i want to split the sequential in pretrained VGG and load the pretrained parameters, what shoud i do?
in version 0.2 i cant assign the value of state_dict according to index if the order of layer isnt change.
but in version0.3 you use odict which cant be assigned as before...

[2018-03-01 09:48] apaszke commented on #872
You can manually patch the state dict by updating the parameters names in the way you changed the network structure

[2018-03-01 09:52] XavierCHEN34 commented on #872
fine, thank you for your quick response

[2018-03-01 10:01] XavierCHEN34 commented on #872
i failed...could you give some hint for  updating the parameters names?

[2018-03-01 12:12] #5479 closed

[2018-03-01 12:13] apaszke commented on #5479
`d` is not even a leaf variable (not created manually using the constructor), so it won't get grad saved by default. If you want to get it call `.retain_grad()`

[2018-03-01 14:11] seerdecker commented on #5479
`dC/dB` exists but is zero.

Note that this code doesn't throw even though the gradient is zero
`(torch.autograd.Variable(torch.FloatTensor([[1, 2, 3], [4, 5, 6]]), requires_grad=1)*0).sum().backward()`

I'll argue that the current semantics are not very helpful to the user when debugging. If you change the loss and cause the gradient to become zero, the code throws. It's kind of like having to wr

[2018-03-01 14:36] ezyang opened #5490 "doc-push is broken"
[code]

CC @apaszke who was asking me about doc generation yesterday. Full log https://ci.pytorch.org/jenkins/job/pytorch-builds/job/doc-push/3092//console

And CC @pmitros

[2018-03-01 14:39] ezyang opened #5491 "Intermittent native_tests matmul/bmm assert failure"
[code]

Full log: https://ci.pytorch.org/jenkins/job/pytorch-builds/job/pytorch-linux-xenial-py3-clang5-asan-build/379//console

The test didn't fail on the subsequent CI run. Are we seeding the RNG correctly?

[2018-03-01 15:12] zou3519 commented on #5484
Sorry about that! I'm taking a look.

[2018-03-01 15:25] mttk commented on #5490
You probably know why this is happening, but just in case:
`matplotlib.use('Agg')` fixes this. (as per: https://stackoverflow.com/questions/37604289/tkinter-tclerror-no-display-name-and-no-display-environment-variable)

Matplotlib is trying to open a display window on what I assume is a screen-less server.

[2018-03-01 16:20] zou3519 commented on #5470
@karimhasebou could you try building from source? You can check out the v0.3.1 branch if master is too much of a change at the moment. I believe soumith is referring to [this issue](https://github.com/pytorch/pytorch/issues/5400) which I think happens on both conda installs and the whls.

[2018-03-01 16:37] #5490 closed

[2018-03-01 16:40] ezyang opened #5495 "__not__ is not an ATen method"
No one seems to have complained from the Python side, but TorchScript is currently emitting `__not__` operations, which are not going to be runnable.

CC @apaszke

[2018-03-01 16:43] apaszke commented on #5495
It's just the value that's hardcoded in the compiler, we can change it to any other function by modifying a single line. Do we have a universal op for not?

[2018-03-01 16:51] ezyang opened #5496 "JIT dispatcher does not support no Tensor arg functions (ones, zeros)"
CC @apaszke

[2018-03-01 17:09] #5101 closed

[2018-03-01 17:55] edunov opened #5497 "tensor.topk doesn't accept out parameter anymore"
Hi,

The latest version of pytorch doesn't seem to accept "out" parameter in the tensor.topk:

[code]

It seems to work with torch.topk though:
[code]

Pytorch installed from source ('0.3.0b0+af3964a')

Is it expected?

[2018-03-01 19:00] youssef-osaro commented on #4946
@fmassa are the implementations of ROI pool and align you have available somewhere?

[2018-03-01 19:03] fmassa commented on #4946
@youssef-osaro not yet, and they require the master branch. If you are looking for an implementation now, you can have a look at https://github.com/jwyang/faster-rcnn.pytorch/tree/master/lib/model/roi_align (they have ROIAlign and ROIPool)

[2018-03-01 19:23] youssef-osaro commented on #4946
Thanks for the link @fmassa. There are also kernels available in caffe2 (https://github.com/caffe2/caffe2/blob/master/caffe2/operators/roi_align_op.cu). Is it possible to use those in pytorch using the method you described above?

[2018-03-01 19:28] ezyang commented on #5283
Merged!

[2018-03-01 19:28] #5283 closed

[2018-03-01 19:33] yaroslavvb opened #5502 "pytorch clone could be faster"
On a multicore system (dual socket XeonV4 of p3.16xlarge) it seems 10x faster to clone an array by adding 0 to it, than by calling clone

https://github.com/diux-dev/cluster/blob/master/yuxin_numpy/tf_numpy_benchmark.py

[code]

pytorch version: '0.3.0.post4'

cc @VitalyFedyunin @ngimel

[2018-03-01 19:45] ignacio-rocco commented on #4946
@youssef-osaro Yes, it's possible, but you need to adapt it a bit.

I ported caffe2/operators/roi_align_op.cu and it's working. I'll upload this soon.

[2018-03-01 19:55] varunagrawal commented on #4946
@fmassa if you need any help, please let me know.

[2018-03-01 20:00] fmassa commented on #4946
@varunagrawal thanks! I've finished wrapping those layers already, I'll release them as soon as I can.

[2018-03-01 20:19] youssef-osaro commented on #4946
@ignacio-rocco that would be great!

[2018-03-01 20:28] colesbury commented on #5438
@MattKleinsmith, thanks for reporting the bug. We don't expect people to test everything in master before reporting bugs. We tend to mark issues as closed as soon as they're fixed in the master branch, even if we haven't released new binary builds with the fix.

[2018-03-01 20:44] wscullin opened #5504 "Disabling ibverbs fails"
I think pytorch#5264 may not go far enough. In environments like the Cray XC40/XC50, Intel OmniPath clusters, some Cisco usNIC clusters, there is an IB fabric in places to carry file I/O traffic, but not MPI/IP/other IPC traffic. This means we want to be able to fully disable the use of IB verbs in these environments. We tried:

[code]
and still wound up with:

`-DWITH_GLOO_IBVERBS=1` and `-DUSE_I

[2018-03-01 21:14] Muizers commented on #494
@peterjc123 Thank you so much! I am on CUDA compute capability 3.0, for which support has been dropped from Pytorch 19 days ago, so I kindly request you if you could keep older versions of your Pytorch compilations on Anaconda, just in case a new version of Pytorch breaks with my hardware. Thanks again!

[2018-03-01 21:58] fang150 opened #5506 "Distributed Gather does not work properly?"
Environment:
- OS: Linux 4.4.0-83-generic x86_64
- PyTorch version: 0.3.1
- How you installed PyTorch (conda, pip, source): pip
- Python version:2.7.10

Code:

import os
import torch
import torch.distributed as dist
import sys
rank= int(sys.argv[1])
def run(rank, size):
    if(rank==0):
        group = dist.new_group(range(size))
        g_list=[torch.DoubleTensor([1.0])]*size
        alphak=torch

[2018-03-01 22:04] ailzhang commented on #5402
Hey @B1azingB1ade, actually after the Tensor/Variable merge they both throw this error in pytorch master. Discussed with @colesbury and we would like to keep it requiring tuple of Tensors since that's closer to the definition of 'concatenate'.
The cat on single Tensor can easily be done by view/reshape. Or if you would like to use torch.cat, torch.cat(list(x), dim=1) also works.

[2018-03-01 22:26] dzhulgakov commented on #5460
So `torch.onnx.symbolic_override` does exactly that. Decorator overhead is tiny (except for rnn case because of the factory). And yep, untying circular dependencies would be awesome.

[2018-03-01 22:35] zou3519 commented on #5506
Maybe @teng-li can help?

[2018-03-01 23:51] tom-programming opened #5510 "atan2 with cuda.DoubleTensor"
It seems that the operation "atan2" is not supported by PyTorch on cuda.DoubleTensor tensors.

There is a CUDA version of atan2 [even for doubles](http://docs.nvidia.com/cuda/cuda-math-api/group__CUDA__MATH__DOUBLE.html#group__CUDA__MATH__DOUBLE)

version `0.3.0.post4`

MWE:

[code]
gives
[code]

[2018-03-02 00:10] colesbury commented on #5510
This is fixed in master:

[code]

[2018-03-02 01:08] soumith commented on #5502
@varoslavvb it depends on the underlying memcpy implementation. If the memcpy on the system is Numa-aware, multithreaded and uses full simd, it should be the same or faster than the Add codepath

[2018-03-02 01:27] ailzhang commented on #5506
I'll look into this.

[2018-03-02 01:30] yaroslavvb commented on #5502
Any tips how to upgrade to multithreaded memcpy on Ubuntu?

I'm getting this slow speed with Amazon Deep Learning AMI v5.0
https://aws.amazon.com/marketplace/pp/B077GCH38C

(cc @b0noI who makes Deep Learning AMIs)

[2018-03-02 02:11] dmitry-xnor commented on #1637
On a Threadripper quad-GPU box with 1080ti's turning off IOMMU replaces a hang with a particularly brutal and immediate crash, and GPU fans spin up to 100% and stay there. That's progress, but not quite all the way to where I need to be.

[2018-03-02 02:33] SRTjiawei commented on #5430
@SsnL sorry for the late response, I modified the dataloader source code in site-packages, which is allocated in conda envs folder, since I installed it with conda.
[conda]/envs/dl/lib/python3.6/site-packages/torch/utils/data/dataloader.py
![image](https://user-images.githubusercontent.com/17583521/36880698-1126a5d4-1e05-11e8-94d7-03f0dba37975.png)

[2018-03-02 03:18] CharlesJQuarra opened #5514 "[feature request] Dockerfile for python 2.7"
The current Dockerfile only covers python 3.6. I tried updating it to work with python 2.7, but I haven't been able to get it to work (conda throws some InstallationErrors)

Here is the preliminar `Dockerfile`:

[code]

[2018-03-02 04:37] 50417 opened #5515 "[feature request] PreComputation of a layer's output"
Just like Tensor.detach_() function prevents from backward propagation and weight update of the layer. A function that would precompute the layer's output when it has been detached making the neural net smaller for testing would be beneficial for research work even if it will blow up memory when tensor are huge.

[2018-03-02 05:10] SsnL commented on #5515
Could you clarify what you mean by precomputing a layer's output?

[2018-03-02 05:25] 50417 commented on #5515
Lets say I am training a CNN model

While training the model, if early layer of the net converges, so i detach it from backprop. Since any input through that detached layer is essentially produce same output no matter the number of future epochs, its redundant.  I am requesting for a feature such that such layer's output is precomputed and fed directly to the consecutive layers rather than computi

[2018-03-02 05:35] B1azingB1ade commented on #5402
list(x) works. I've tested that the trained model yielded expected results, too. Thanks!

[2018-03-02 05:35] #5402 closed

[2018-03-02 05:58] tstandley commented on #1708
I'm not sure I buy the "bandwidth bound" explanation either. If you increase the kernal size from 3x3 to say 5x5, your operation needs the same amount of non-cache memory, but takes way longer.

I don't know how to program cuda, but here's how I see the operation working:
Let's say we run a Conv2d(1024, 1024, kernel_size=3, groups=1024) on a shape 20x20x1024 tensor:

Read a single channel from a s

[2018-03-02 06:09] zhangpiu commented on #2083
Similar issue when I import torch in Julia using PyCall.
![image](https://user-images.githubusercontent.com/992199/36885651-411f7194-1e23-11e8-85bb-2446c8c2dc16.png)

[2018-03-02 06:35] ztwe commented on #5369
@soumith
It seems the fix doesn't work. The log is shown as following

Traceback (most recent call last):
  File "demo.py", line 3, in <module>
    import model
  File "/home/qianbb/github/chinese-ocr/model.py", line 5, in <module>
    from crnn.crnn import crnnOcr
  File "/home/qianbb/github/chinese-ocr/crnn/crnn.py", line 72, in <module>
    model,converter = crnnSource()
  File "/home/qianbb/gi

[2018-03-02 07:13] zhangpiu commented on #2575
@rth
Same issue. Import torch in a python REPL doesn't raise any errors.
Python 2.7.6 (default, Nov 23 2017, 15:49:48)
[GCC 4.8.4] on linux2
Type "help", "copyright", "credits" or "license" for more information.
`>>>` import torch
`>>>` torch.Tensor(3,4)

-6.1904e+00  4.5800e-41 -6.1904e+00  4.5800e-41
 2.6874e+09  4.5439e+30  7.1843e+22  7.3880e+31
 7.2714e+31  1.8892e+31  5.0826e+31  7.5338e+28

[2018-03-02 07:31] SsnL commented on #5430
It’s excellent you did that. Could you also print id(self) in
_shutdown_workers before the _remove_worker_pids calls? Sorry for asking
you to do this. I can’t really reproduce on my side...

On Thu, Mar 1, 2018 at 21:33 Jeven Zhang <notifications@github.com> wrote:

[2018-03-02 08:02] apaszke commented on #5515
While certainly possible such output caching wouldn't provide a lot of speedup, and would consume a ton of disk space. It's likely that reading the data from disk would be slower than recomputing it. Thanks for the proposal, but I don't think we'll be adding this feature.

[2018-03-02 08:02] #5515 closed

[2018-03-02 08:08] apaszke commented on #5502
I don't think memcpy is multithreaded in any of the common libc's. We should call it from multiple threads ourselves

[2018-03-02 08:19] trivialfis opened #5519 "Building aten failed with master."
OS: Fedora 27 x86_64
PyTorch version: Master at  commit a5e1b4efc90f8c0d195184de9060dc0295802402
Python version: Python 3.6.4
CUDA/cuDNN version: CUDA 9.0, cuDNN 7.0.5.15
GPU: GTX 960M
GCC: 6.4

The complete build log is attached.

[build_log.txt](https://github.com/pytorch/pytorch/files/1774198/build_log.txt)

[2018-03-02 09:08] #5510 closed

[2018-03-02 09:41] marcomiccheli commented on #1668
If I run your code on a machine with pytorch and Cuda installed i receive this error:

"AttributeError: 'module' object has no attribute 'zeros'"

I think that
[code]

is the only way to achieve it. Am i wrong?

[2018-03-02 10:11] soumith commented on #5502
oh i see. I know memcpy is SIMD-enabled, but I guess it's not multithreaded.

[2018-03-02 10:22] soumith commented on #5369
@ztwe that is weird. Can I see the full log of `python setup.py install` in pytorch directory. Can you make sure you have latest commits with `git pull`.

[2018-03-02 10:38] apaszke commented on #4946
BTW don't we want to put ROI pooling in vision? Is it used for anything else?

[2018-03-02 10:47] apaszke commented on #5502
Thanks for the reports @yaroslavvb, they're super helpful!

[2018-03-02 10:49] apaszke commented on #1668
In master there's something that lets you do it without conditionals. Here's an example:
[code]

[2018-03-02 11:07] lautjy commented on #2575
This is more like an infrastructure issue. It depends on the system where you are building & running things. For me, starting with Amazon's DeepLearning AMI, installing Python libs via conda leads to this TLS problem. But Fast.ai's community AMI does not have this TLS problem, even though I have the same libs there (due to being built with different glibc switch, having different glibc build, etc.

[2018-03-02 11:19] marcomiccheli commented on #1668
I think that the right tensor type for cuda is:
`torch.cuda.FloatTensor`
and
`torch.zeros()`
has not argument "dtype"

[2018-03-02 11:44] Qinka opened #5520 "Error LNK2001, for symbol state in C extension."
- OS: Windows 10
- PyTorch version: master( '0.4.0a0+0de5443')
- How you installed PyTorch (conda, pip, source): source
- Python version: Python 3.6.3 |Anaconda custom (64-bit)| (default, Oct 15 2017, 03:27:45) [MSC v.1900 64 bit (AMD64)] on win32
- CUDA/cuDNN version: CUDA-9.0
- GPU models and configuration:
- VS 2015(v140 toolset)
When trying to compile C extension, linked with ATen, I got an er

[2018-03-02 11:50] soumith commented on #1668
@marcomiccheli as adam said `dtype` argument is available in pytorch master branch, not the binary releases yet.

[2018-03-02 12:08] marcomiccheli commented on #1668
@soumith you're right, sorry. Could anyone explain how to get master branch of pytorch? My current version is 0.3.0.post4

Thank you all

[2018-03-02 12:52] soumith commented on #1668
@marcomiccheli https://github.com/pytorch/pytorch#from-source

[2018-03-02 12:59] cjsg opened #5521 "Correct description of weight-dimensions in conv and conv_transpose docs"
In the documentation of torch.nn.functional.conv{1,2,3}d, the weight dimensions should be:
out_channels x in_channels/**groups** x kH x kW

and for torch.nn.functional.conv_transpose{1,2,3}d, they should be:
in_channels x out_channels/**groups** x kH x kW.

Right now, the division by 'groups' is only included in the docs of torch.nn.functional.conv2d.
Of course, it's a detail, but I think that
(a)

[2018-03-02 13:02] 50417 commented on #5515
Practical application with huge data set might be limited. Since, a lot of researcher use pytorch who might have vast amount of resources at their disposal, such feature might be handy assuming everything is stored in GPU memory.

[2018-03-02 13:06] apaszke commented on #5521
Good catch, can you please submit a PR?

[2018-03-02 13:12] fmassa commented on #4946
We might want to push them to vision, they seem to have become quite standard for object detection that it might be worth it. I'm thinking about it.

[2018-03-02 13:20] cjsg commented on #5521
Ok. I will do so this week-end.

[2018-03-02 13:33] apaszke commented on #5496
And how do you even get to call them? I don’t think we support torch.* calls in script yet

[2018-03-02 14:55] ezyang opened #5522 "test_nn.py CPU tests require up to 250M of memory to run (and usage increases monotonically)"
I noticed this because our ASAN CI occasionally OOMs. Example run: https://ci.pytorch.org/jenkins/job/pytorch-builds/job/pytorch-linux-xenial-py3-clang5-asan-test/420//consoleFull

Full process map:

[code]

It is not that surprising that ASAN fails but the regular build does not, because ASAN uses more memory; however, I ran some quick tests with vanilla `test_nn.py` and noted that it also contin

[2018-03-02 15:00] #5138 closed

[2018-03-02 15:05] ezyang opened #5524 "Redo torch.nn.functional docstring strategy"
Now that we are stuffing all of our ATen bindings in `torch.` namespace, docstrings for these functions shouldn't live in `torch.nn.functional` anymore, because then you won't get docs unless you import `torch.nn.functional` first.

CC @gchanan

[2018-03-02 15:21] milani commented on #1355
I am using python 3.6, pytorch 0.3.0, cuda 8.0 and ubuntu 17.04 on a system with two 1080Ti and 32GB RAM.

When I use 8 workers for my own dataset, I frequently see the deadlock (it happens in the first epoch). When I reduce the workers to 4, it disappears (I ran 80 epochs).

When deadlock happens, I still have 10GB free on RAM.

[2018-03-02 15:56] ezyang commented on #5522
I made a chart of the resident memory usage

![chart](https://user-images.githubusercontent.com/13564/36908068-3dec8bb2-1e08-11e8-965b-2a6e698967dc.png)

So... actually we might not be leaking, there just might be a very large allocation going on in the tests.

[2018-03-02 16:03] milani commented on #1355
Here you can see the log after terminating the script: https://gist.github.com/milani/42f50c023cdca407115b309237d29c70

[2018-03-02 17:04] ezyang commented on #5522
It's the data parallel tests:

[code]

[2018-03-02 17:08] ezyang opened #5528 "TestNN.test_data_parallel takes 10G of memory"
Apply the following patch (with `pip install psutil`) to get resident memory information:

[code]

Then run the test:

[code]

That's 10G!!! This is on an eight GPU box.

CC @apaszke

[2018-03-02 17:17] ezyang commented on #5149
Still affecting HEAD.

[2018-03-02 17:17] zou3519 commented on #5497
@edunov we don't support the `out` keyword on tensor.* methods, only on torch.* methods.

[2018-03-02 17:57] edunov commented on #5497
@zou3519  but you used to until recently
e.g it works in version 0.4.0a0+6c587e9 and in 0.3.0b0+af3964a
or was it an undocumented feature?

[2018-03-02 18:32] zou3519 commented on #5497
It was a bug, the `out` keyword should not have worked on the tensor.* methods.

[2018-03-02 18:42] edunov commented on #5497
Thank you for your response!

[2018-03-02 18:42] #5497 closed

[2018-03-02 19:56] ezyang commented on #5522
CPU only.

![chart 1](https://user-images.githubusercontent.com/13564/36919021-d024eb16-1e29-11e8-948b-f8411de72662.png)

This is a little inaccurate because it is only counting RES of the main thread, not children threads. I'm rerunning the experiment with more accurate instrumentation.

[2018-03-02 20:11] Evpok opened #5532 "Add `padding_value` to `pad_sequence`"
It would be nice if [`torch.nn.utils.rnn.pad_sequence`](http://pytorch.org/docs/master/nn.html#torch.nn.utils.rnn.pad_sequence) had a `padding_value` similar to [`torch.nn.utils.rnn.pad_packed_sequence`](http://pytorch.org/docs/master/nn.html#torch.nn.utils.rnn.pad_packed_sequence) one.

This should be relatively easy and I already have a PR ready, but I am unsure of the policy for that kind of ne

[2018-03-02 21:10] #5477 closed

[2018-03-02 21:11] zou3519 commented on #5477
Closing in favor of a new one.

[2018-03-02 21:15] zou3519 opened #5534 "Freeing a deep computation graph causes a stack overflow"
The code below will segfault due to a stack overflow. If the computation graph is very linear, like the below, such that freeing a Function leads to the immediate free of another Function, a stack overflow can occur.

This stack overflow occurs some ~16% earlier on master than on v0.3.1.
[code]

I'm looking into fixing it.

[2018-03-02 21:35] ezyang commented on #5522
OK, here's the accurate chart, which looks basically the same.

![chart 2](https://user-images.githubusercontent.com/13564/36922938-9bcc215a-1e37-11e8-848d-a135c45f8929.png)

[2018-03-02 21:41] ezyang commented on #5534
To iterate is human, to recurse divine

:)

[2018-03-02 22:09] ahkarami commented on #3335
Dear @ezyang & @x10000year,
Suppose I have a pre-trained classic CNN model (_e.g._, ResNet which is trained on a dataset) in PyTorch. Now, I want to convert this model to C++ (fro some reasons like better performance). What is the best, fastest, and easiest way for doing this task?
Is the PyTorch ATen (A TENsor library) solution of this work?
What is your opinion about [**Pytorch C++ Library**](ht

[2018-03-02 22:17] varunagrawal commented on #5514
Python 2 is nearing its end-of-life in 2020. As such, I don't think it is worthwhile to support Python2.7 containers.

[2018-03-03 01:17] dmitry-xnor commented on #1637
In case this helps anybody else: our crashing issue seems to have been power-related. NVIDIA GPUs will actually happily "overshoot" their claimed power limit, sometimes by a lot, and when they do that simultaneously against a power supply that's too close to its specified max, a brownout can occur and the system can crash.

The "temporary" fix (or a hypothesis test, at least) for this is to add:
[

[2018-03-03 02:13] jamesr66a opened #5536 "ONNX export for `.int()` and `.long()` is messed up"
OS: MacOS, CentOS
Pytorch version: 0.4.0a0+c1d277c (idk if this is helpful)
How you installed PyTorch (conda, pip, source): source
Python version: 3.6.3
CUDA/cuDNN version: N/A
GPU models and configuration: N/A
GCC version (if compiling from source): clang 9

Minimal example: https://gist.github.com/jamesr66a/a8e4584ced2ef9563bda9bfc7d6fb67e

Tracing and exporting `int()` on Linux seemed to emit a

[2018-03-03 02:47] fang150 commented on #5506
Hey!

When I changed from "g_list=[torch.DoubleTensor([1.0])]*size" to

"        g_list=[]
        for i in range(size):
            g_list.append(torch.DoubleTensor([1.0]))
"

Then problem solved.

What I am guessing is the elements in the list share the same memory location such that as the master received the tensors from workers , it is actually doing multiple write on the same location of mem

[2018-03-03 03:37] peterjc123 commented on #5520
Changes the source code from C to C++. An example is listed below.

[code]

[2018-03-03 04:10] teng-li commented on #5506
@fang150  cool, feel free to close the issue

[2018-03-03 07:48] apaszke commented on #5532
If you have the code already then PRs are welcome :) Thanks!

[2018-03-03 08:40] xinsirBUPT2016 opened #5539 "problem encountered when installing pytorch from source on ubuntu 16.04.3"
PyTorch GitHub Issues Guidelines
-------------------------------
- OS ubuntu16.04:
- PyTorch version: I use the command git clone --recursive https://github.com/pytorch/pytorch to get the
                              source code
- I have installed  conda, cuda, and cudnn
- Python version: python 3.6
- CUDA/cuDNN version: CUDA 8.0 and cuDNN 7.1
- GPU models and configuration: GeForce GTX950M(Noteb

[2018-03-03 09:39] Qinka opened #5542 "The path of *.pyd or *.so (created by cffi) is changed."
(old title) When build C extension, the error: FileNotFoundError was got.

- OS: Windows 10 pro
- PyTorch version: 0.4.0a0+0de5443
- How you installed PyTorch (conda, pip, source): source
- Python version: 3.6.4
- CUDA/cuDNN version: CUDA 9.0
- GCC version (if compiling from source): msvc 14/15 (then compiling with CUDA I use VS2015, but when build extension, the program automatically use vs2017)

[2018-03-03 09:43] Qinka commented on #5520
@peterjc123 I found  `ATen_CLASS` is undefined, and codes can be compiled after removing it.

[2018-03-03 09:45] Qinka commented on #5520
So how to control the build type of MSVS. When building extension, what should I do if I what to build it in Debug mode.

[2018-03-03 09:52] ShigekiKarita commented on #3608
@Kuzphi  @zou3519 @soumith I think he might see this page http://pytorch.org/docs/master/nn.html#torch.nn.functional.binary_cross_entropy , it is not BCELoss page. As you mentioned, the documentation is wrong.

[2018-03-03 10:05] peterjc123 commented on #5520
@Qinka According to this [post](https://stackoverflow.com/questions/4659754/the-gs-g-option-equivalent-to-vs2010-cl-compiler), you should add `/ZI` flag for debug version.

[2018-03-03 10:49] soumith commented on #5521
closed via #5543

[2018-03-03 10:49] #5521 closed

[2018-03-03 13:37] Qinka commented on #5542
In torch/utils/ffi/__init__.py `_build_extension()`,  `shutil.copy` copy the  linked file from `os.path.join(tmpdir,, libname)`, for example `C:\Users\qinka\AppData\Local\Temp\tmpwp84qchn\dot_power._ext.dow_power._dow_power.pyd`, but
in my Windows, and a Linux work station, the linked one is in:
[code]
,for example `C:\Users\qinka\AppData\Local\Temp\tmpwp84qchn\dot_power\_ext\dow_power\dot_power._

[2018-03-03 14:33] Evpok commented on #3665
@SsnL is there a public tracker for that issue on the CuDNN side ?

[2018-03-03 14:34] SsnL commented on #3665
I’m not sure. Maybe @ngimel can answer this question better.

On Sat, Mar 3, 2018 at 09:33 Evpok <notifications@github.com> wrote:

[2018-03-03 16:26] lanpa commented on #5539
googled and found this: https://github.com/cocodataset/cocoapi/issues/94

[2018-03-03 17:12] freud14 opened #5544 ".size() vs .shape, which one should be used?"
Hi,

This is not an issue per se, but more of a question of best practices. I notice that there a shape attribute and a size function that both return the size/shape of a tensor. I also notice that .shape is not documented, but according to various release notes, Pytorch tries to be as close as possible to numpy. So, knowing this, is .shape really supported or just an undocumented functionality th

[2018-03-03 17:44] fmassa commented on #5544
Hi,
`.shape` is an alias for `.size()`, and was added to more closely match numpy, see https://github.com/pytorch/pytorch/pull/1983

[2018-03-03 19:21] ezyang commented on #5522
![chart 3](https://user-images.githubusercontent.com/13564/36938333-077492f0-1eee-11e8-9493-6a34ce395776.png)

Here is the chart if I run the test suite three times in the same process.

[2018-03-03 19:48] apaszke commented on #5544
Yes, `.shape` is going to remain supported. Both ways are fine

[2018-03-03 19:48] #5544 closed

[2018-03-03 19:52] #5506 closed

[2018-03-03 20:19] Serhiy-Shekhovtsov commented on #2486
And what is the point of this encourage? To help users improve their typing skills?

[2018-03-03 21:13] freud14 commented on #5544
Thank you.

[2018-03-04 02:44] SRTjiawei commented on #5430
@SsnL Thanks for your response! yeah I will try it, sorry for the late reply.

[2018-03-04 05:37] ezyang commented on #5539
Try making a fresh conda environment from scratch and then running again. You want to be using your system linker and `compiler_compat` is in the way.

[2018-03-04 05:37] #5539 closed

[2018-03-04 05:39] ezyang commented on #5542
CC @peterjc123 who enabled extension build for Windows on 02317d9336f544cce3a924169acb2ece5b9cb21d

[2018-03-04 05:41] ezyang commented on #3335
For a classic CNN, your language choice doesn't really matter at all, they will all perform basically the same. The more important factor is what environment you need to integrate the model in.

[2018-03-04 05:44] ciphurus commented on #4518
Is there any resolution for this? Facing the same error

[2018-03-04 05:45] peterjc123 commented on #5542
@Qinka Is this change documented in somewhere like Python SDK?

[2018-03-04 05:47] peterjc123 commented on #4518
@ciphurus Which package are you installing? If you are using conda ones, you can try updating vc packages. `conda install -c peterjc123 vc`

[2018-03-04 07:03] #5542 closed

[2018-03-04 08:24] ahkarami commented on #3335
Dear @ezyang,
Thank you for your answer. I agree with you about classic models. However, suppose one must convert some pre-trained models (_e.g.,_ detection based models, 3D ConvNets, etc.) from PyTorch into C++ (_e.g.,_ for production & deployment in a large and commercial project).
To the best of my knowledge, In this cases, the PyTorch team offers ONNX to convert models into Caffe2. But, In my

[2018-03-04 08:40] ahkarami opened #5551 "[feature request] ATen Documentation and Tutorial"
Thank the PyTorch team for releasing the ATen library. However, I think its current documentation is not complete. Has the team any plan to add doc for ATen in the [**PyTorch documentation**](http://pytorch.org/docs/0.3.1/) or offers any tutorial in [PyTorch Tutorials](http://pytorch.org/tutorials/) section?

[2018-03-04 11:31] soumith commented on #2486
@Serhiy-Shekhovtsov improving users' typing skills was not the motivation

[2018-03-04 11:43] Serhiy-Shekhovtsov commented on #2486
Honestly, the motivation is not clear to me. Making transformation in `forward` function will break the model into pieces and will make code little bit more messy.
On the other hand, having it as a step or a layer will make the whole model look linear, straightforward and elegant. So, anyone who wants to keep his code clean and beautiful will spend some time to google and to copy\paste something s

[2018-03-04 12:05] liu-nlper opened #5552 "RuntimeError: dimension specified as 0 but tensor has no dimensions"
My code run well under torch 0.2, however, the following error occurs when I use torch 0.3.1, why?

Traceback (most recent call last):
  File "../train.py", line 149, in <module>
    loss.backward()
  File "/home/jxliu/.local/lib/python3.6/site-packages/torch/autograd/variable.py", line 167, in backward
    torch.autograd.backward(self, gradient, retain_graph, create_graph, retain_variables)
  Fil

[2018-03-04 12:18] Logbetz commented on #2714
Getting:
Illegal instruction (core dumped)

When running:
import tensorflow as tf. The same as i'm running my python script.

I'm using Ubuntu 16.04 LTS in Oracle Virtual Machine. My Laptop is Acer Aspire E 15 with Intel Celeron Processor N2840.

How can i solve it?
![1](https://user-images.githubusercontent.com/36687439/36945433-17d9b264-1fe9-11e8-810d-7647c5257e72.JPG)

[2018-03-04 15:59] VladislavZavadskyy opened #5553 "NCCL Error 1 when using torch.nn.DataParallel"
I have ran into this error on the parameter broadcast step of torch.nn.parallel.replicate.
It sounds like this, to be precise: "NCCL Error 1: unhandled cuda error".

[2018-03-04 15:59] VladislavZavadskyy commented on #5553
Steps I took to fix this issue:

0.  Determine if CUDA version you've installed is compatible with your GPU compute capability ([e.g. here](https://stackoverflow.com/questions/28932864/cuda-compute-capability-requirements))
1.  Build NCCL from [source](https://github.com/NVIDIA/nccl) by running `NVCC_GENCODE="-gencode=arch=compute_<compute_v>,code=sm_<compute_v> make CUDA_HOME=<cuda_path> test"` f

[2018-03-04 15:59] VladislavZavadskyy commented on #5553
close

[2018-03-04 15:59] #5553 closed

[2018-03-04 16:02] VladislavZavadskyy commented on #2332
If you've ran into the same issue, you may want to follow steps described [here](https://github.com/pytorch/pytorch/issues/5553).

[2018-03-04 16:54] pskanade opened #5554 "dimension out of range (expected to be in range of [-1, 0], but got 1)"
[code]

The output that I'm getting is =>
[code]

This is correct as far as the documentation is concern, but still getting following error
```dimension out of range (expected to be in range of [-1, 0], but got 1)```

[2018-03-04 17:55] gchanan commented on #5552
Is this easily reproducible?  It's likely because we changed the shape of reduction operations (and indexing a 1-dimensional tensor) to be 0-dimensional (with a value) instead of 1-dimensional.

[2018-03-04 19:52] apaszke commented on #3335
@ahkarami We are thinking of adding PyTorch-like C++ interfaces, but it's not a top priority for us at the moment. ATen is still evolving, and as @ezyang there will be some breaking changes along the way. Think of it as an alpha version.

[2018-03-04 20:07] BKHMSI commented on #5470
@karimhasebou and I figured out the problem, the size mismatch between `embed_atten` and `output1, state1` in the LSTMCell caused this behavior.

[2018-03-04 20:18] ciphurus commented on #4518
Yes, I am using conda install -c peterjc123 pytorch on Windows 7. I also tried conda install -c peterjc123 pytorch_legacy and that too gave the same error.
Also tried what you suggested conda install -c peterjc123 vc but still getting the same error
 from torch._C import *
  File "C:\Users\Admin\.p2\pool\plugins\org.python.pydev_5.9.2.201708151115\pysrc\_pydev_bundle\pydev_import_hook.py", line 20

[2018-03-04 20:30] apaszke commented on #5534
Meh, that's just how `shared_ptr`s work. We could do something like Python (basically limit the recursion depth, and accumulate remaining objects in a list once you hit the limit), but we'll need to be extra careful to construct all our pointers with the custom deleter. Shouldn't be too bad for perf if we use thread-local to-delete queues and recursion counters.

[2018-03-04 20:42] pandorana commented on #1898
@minghuatang He has put his solution in [this issue](https://github.com/pyinstaller/pyinstaller/issues/2666).

[2018-03-04 22:01] vadimkantorov opened #5556 "arange(0.1, 0.5, 0.05) returns wrong results"
[code]

0.45 is missing from PyTorch output, which seems strange, 0.45 is clearly less than 0.50, even considering floating point errror.

on `0.4.0a0+1fdb392`

I guess the cause is that `arange` computes number of elements by `floor((end - start) / step)` and float error impacts this calculation, but the departure from NumPy behavior in simple cases like this (not even https://github.com/pytorch/

[2018-03-04 23:56] peterjc123 commented on #4518
@ciphurus Hey! Your error seems not to be on the PyTorch side, since this error is not thrown from the torch package. Would you please run `import torch` test from command prompt to confirm this?

[2018-03-04 23:56] sshahpouri commented on #4518
@peterjc123 Same issue here:
- Anaconda on Windows 7
- Updated VC already
- Tried both Torch and Torch_Legacy using `Conda install -c peterjc123 pytorch cuda80`
Same error on line 74 of __init__.py (torch._C import *)
- already tried uninstalling/installing again, different users, different directories, no difference.

I am new to python so I may have missed something here. Please let me know if y

[2018-03-05 00:03] peterjc123 commented on #4518
@sshahpouri Would you please try this command?  `conda install -c peterjc123 vc msvc2017_runtime`

[2018-03-05 00:04] ciphurus commented on #4518
No, I tried on anaconda command prompt and get the same error
(base) C:\Users\Admin>python
Python 3.6.4 |Anaconda custom (64-bit)| (default, Jan 16 2018, 10:22:32) [MSC v.
1900 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ModuleNotFoundError: No module named 'pytorch'

Trace

[2018-03-05 00:06] peterjc123 commented on #4518
@ciphurus Please try the same command above and see whether it works.

[2018-03-05 00:06] sshahpouri commented on #4518
@peterjc123

tried `conda install -c peterjc123 vc msvc2017_runtime`

Solving environment: failed

PackagesNotFoundError: The following packages are not available from current channels:

  - msvc2017_runtime

Current channels:

  - https://conda.anaconda.org/peterjc123/win-64
  - https://conda.anaconda.org/peterjc123/noarch
  - https://repo.continuum.io/pkgs/main/win-64
  - https://repo.continuum.

[2018-03-05 00:09] peterjc123 commented on #4518
@sshahpouri @ciphurus Sorry for typo. It should be `conda install vc vs2017_runtime`.

[2018-03-05 00:17] ciphurus commented on #4518
@peterjc123 When I tried the command, I get the following python.exe - System Error:
The program can't start because
api-ms-win-core-rtlsupport-l1-2-0.dll is missing from your computer. Try reinstalling the program to fix this probmel

[2018-03-05 00:20] sshahpouri commented on #4518
@peterjc123 I installed it with VS2017runtime, installation successful, installing pytorch successful, but importing torch raises the same error. (line 74)

As a side note, installing VS2017Runtime downgrades VC from 14.1 to 14. I guess this is intentional. Isn't it?

[2018-03-05 00:38] sshahpouri commented on #4518
Another note: I just watched a video someone successfully installing PyTorch 0.2.1.
@peterjc123  do you have a link to 0.2.1 so that I can give that one a try?

[2018-03-05 00:52] peterjc123 commented on #4518
@sshahpouri See the `Easy Installation` section of my [repo](https://github.com/peterjc123/pytorch-scripts).

[2018-03-05 00:55] peterjc123 commented on #4518
@ciphurus Would you please download `win-64/vs2017_runtime-15.4.27004.2010-1.tar.bz2` from [here]( https://anaconda.org/peterjc123/vs2017_runtime/files) and  install it?

[2018-03-05 01:33] tejaskhot opened #5559 "Incorrect error message for advanced indexing cuda tensor"
[code]
In the latest pytorch versions `0.4.0a0+f8439c2` and `0.4.0a0+66547ca` the error message for last line is:
[code]
which is exactly the opposite of what's supposed to work. Also, it is showing the wrong `type` for `z` in the message there.
This was not a problem in pytorch version `0.2.0_3` where the error message is:
[code]

[2018-03-05 01:38] angusturner opened #5560 ""Reduce Failed to Synchronise" in F.binary_cross_entropy"
Since upgrading PyTorch to the master branch, I am occasionally receiving the following error:

[code]

In this trace, `time_loss` is the output of a linear network with `nn.Sigmoid()` on the output, and `time_hist` is from a binary dataset, which I am confident is correct (because I can complete multiple epoch before it fails).

I haven't checked if `F.binary_cross_entropy_with_logits` fixes the

[2018-03-05 02:09] angusturner opened #5561 "Device-side Assert in `THCReduceAll.cuh:339`"
Since upgrading to master, I am receiving the following error while trying to compute token-wise accuracy in a language model:

[code]

`one_hot` and `n_hot` are both `(batch, num_classes, length)` of type `Variable(torch.FloatTensor)`. This error has cropped up in an otherwise stable code-base after upgrading from PyTorch v0.3.0.

System details:
OS: Ubuntu 16.0.4
PyTorch version: 0.4.0a0+55c64e5

[2018-03-05 03:20] SRTjiawei commented on #5430
@SsnL I tried to print id(self) in _shutdown_workers, then I found my customized eval dataloader does not shutdown properly, so that at next training epoch the train dataloader will get the same object used in previous epoch for evaluation. The id printed right before "Correct pred: 189" is the id of eval dataloader, which does not shutdown.
![image](https://user-images.githubusercontent.com/17583

[2018-03-05 04:52] curiosityredef opened #5562 "Pytorch code import error"
PyTorch GitHub Issues Guidelines
--------------------------------

We like to limit our issues to bug reports and feature requests. If you have a question or would like help and support, please visit our forums: https://discuss.pytorch.org/

If you are submitting a feature request, please preface the title with [feature request].

When submitting a bug report, please include the following informat

[2018-03-05 04:53] #5562 closed

[2018-03-05 05:05] ciphurus commented on #4518
I reinstalled anaconda and was able to run
conda install -c peterjc123 vc vs2017_runtime
But still facing the same error when import torch

Any suggestions on how to resolve this?

[2018-03-05 05:15] curiosityredef opened #5563 "Import Error : no module named torch"
PyTorch GitHub Issues Guidelines
--------------------------------

We like to limit our issues to bug reports and feature requests. If you have a question or would like help and support, please visit our forums: https://discuss.pytorch.org/

If you are submitting a feature request, please preface the title with [feature request].

When submitting a bug report, please include the following informat

[2018-03-05 05:52] peterjc123 commented on #4518
@ciphurus Can you please use [Dependency](https://github.com/lucasg/Dependencies) to debug what's wrong there? Just use it to open `[Anaconda dir]\Lib\site-packages\torch\_C.pyd` and send me the screenshot.

[2018-03-05 06:19] Woolseyyy opened #5564 "Data changed when construct LongTensor from np.long"
- OS:  Linux version 4.4.0-81-generic (buildd@lgw01-11) (gcc version 4.8.4 (Ubuntu 4.8.4-2ubuntu1~14.04.3) )
- PyTorch version:  0.3.1
- How you installed PyTorch (conda, pip, source): pip
- Python version: 2.7

This is a python script:
When using np.long to construct a LongTensor:
[code]
However, this script can produce correct result in another machine and it can be fixed when using np.int64 ins

[2018-03-05 06:33] ztwe commented on #5369
@soumith

I am sure the code is up-to-date.
First I uninstall the code using the command pip unisntall torch.
Then I remove the old code using the command rm -r pytorch and git clone again.

The log of install is

[pytorch-install-log.txt](https://github.com/pytorch/pytorch/files/1779720/pytorch-install-log.txt)

[2018-03-05 06:57] sshahpouri commented on #4518
@peterjc123 kind of good news!
I downloaded torch version 0.2.1 and installed it offline and it works! yes, finally I have a working torch.
pytorch_legacy-0.2.1-py36_0.2.1cu80.tar.bz2

[2018-03-05 07:00] vishwakftw commented on #5563
You have installed `torch` with Python3, where script uses Python2 (`python` defaults to `python2`). Change it, and it should work.

[2018-03-05 08:44] alasin opened #5565 "[feature request] Different interpolation algos for 'grid_sample' function"
The 2D grid interpolator function 'grid_sample' only does bilinear sampling from the source image at the moment. It would be useful to have 'nearest' and other samplings available. The function call does take 'mode' as a parameter but only bilinear sampling seems to have been implemented. It would especially be useful if we have to use 'grid_sample' for class label maps for segmentation, and the g

[2018-03-05 08:58] cycleuser opened #5566 "[CUDA 9.1/cuDNN7.05] libATen compile fails with ld: symbol(s) not found for architecture x86_64 on macos 10.13"
I have already checked [3461](https://github.com/pytorch/pytorch/issues/3461) and [5042](https://github.com/pytorch/pytorch/issues/5042)
But none of the solutions work on my Mac.

--------------------------------
- OS: macOS High Sierra 10.13.3
- PyTorch version:latest master 2018-03-05 16:53:43
- How you installed PyTorch (conda, pip, source): source
- Python version: 3.6.4 (anaconda3-5.0.1)
- CU

[2018-03-05 09:27] Diego999 opened #5567 "torch.from_numpy or torch.XXXtensor doesn't create a tensor anymore but a Variable"
Hi everyone,

I'm using the function torch.narrow, which was perfectly working in this configuration https://github.com/pytorch/pytorch/issues/5213 but now I obtained the following error:

[code]

[code]

Where nb_sentences_per_doc_start_length is a tensor built from torch.from_numpy(np.array([[0, 22], [22, 13]])). This seems to be always the cas, even with ```torch.FloatTensor([1,2,3])``` leads t

[2018-03-05 09:32] apaszke commented on #5567
It is expected. Tensors are merged with Variables in master. If you want to extract a scalar from a variable you can call `.item()` or `int(var)` to cast it explicitly.

Also @colesbury @gchanan, it would make sense to me if we started accepting scalar tensors as valid for `int` arguments. Do you have any objections/were already planning to do something like it?

[2018-03-05 09:59] apaszke commented on #5564
Seems to work just fine in master. We have probably fixed the bug in the meantime

[2018-03-05 09:59] #5564 closed

[2018-03-05 10:00] Diego999 commented on #5567
Thank you for your answer. I didn't know but using explicit cast works perfectly.

[2018-03-05 10:01] apaszke commented on #5561
You have out-of-bound indices when you create the one-hot vector. The error will be raised on the responsible line if you use `CUDA_LAUNCH_BLOCKING=1`

[2018-03-05 10:01] #5561 closed

[2018-03-05 10:07] mangdian commented on #2150
@jiapei100  I have run into the same problem. How did you fix this?

[2018-03-05 10:11] #5563 closed

[2018-03-05 10:13] apaszke commented on #5560
Can you try adding `assert (time_pred >= 0. & time_pred <= 1.).all()` and the same for `time_hist` before this line, and seeing if this assert is ever triggered?

[2018-03-05 10:27] curiosityredef commented on #5563
I ran the command with python3 also and all python files in repository are in python3. You can check DIV2K_jpeg.py file in repository its in python3 for sure and same for other files.

[2018-03-05 12:27] kellymarchisio commented on #4053
FYI, I got the same segfault running a python interpreter following this [tutorial].(https://hsaghir.github.io/data_science/pytorch_starter/) . The tutorial suggests we call `.creator`, which has been [replaced](https://github.com/pytorch/tutorials/pull/91/files) with `.grad_fn` .  I called `.grad_fn()` out of curiousity, and -> segfault.

[2018-03-05 13:34] cs181-ai commented on #2155
I have the same issue here. However I can reproduce this on CentOS server but not on my Ubuntu 16.04 pc.

I use Anaconda and package versions are listed below:
pytorch 0.3.1 py36_cuda8.0.61_cudnn7.0.5_2
matplotlib 2.1.2

[2018-03-05 13:37] bheinzerling commented on #5556
Looks like your guess is right:

https://github.com/pytorch/pytorch/blob/502aaf39cf4a878f9e4f849e5f409573aa598aa9/aten/src/THC/generic/THCTensorMath.cu#L475

(((xmax - xmin) / step) + 1) ends up as (0.45 - 0.1) / 0.05 + 1 == 7.99999

[2018-03-05 13:44] soumith commented on #2714
@Logbetz the comment above that I wrote helps you too.

[2018-03-05 13:47] eriche2016 opened #5568 "torch.backends.cudnn.version() function returns None"
Hi, i installed from source, however, torch.backends.cudnn.version() returns None, is it a bug?

[2018-03-05 14:34] eriche2016 commented on #5568
my fault, i foget to add the `path to cudnn/include`  to my .bashrc file

[2018-03-05 14:34] #5568 closed

[2018-03-05 14:49] #5567 closed

[2018-03-05 14:54] ezyang commented on #5566
Judging from the leading underscore on your symbol names, it sounds like there is some sort of problem with OS X name mangling versus the cuDNN library distribution. I'll see if I can repro.

[2018-03-05 15:21] shekhovt commented on #494
@peterjc123 Thanks a lot for the windows build! Everything works fine with cuda! But it is leaking memory like hell :(
I am speaking about pytorch-0.3.1.
When I run the training, each epoch eats up memory until the virtual memory is over (pagefile size). Then it throws the error:

Traceback (most recent call last):
  File "<string>", line 1, in <module>
  File "C:\ProgramData\Anaconda3\lib\multipr

[2018-03-05 15:32] zou3519 commented on #5554
From the docs:
![image](https://user-images.githubusercontent.com/5652049/36983425-587c89be-2060-11e8-9991-4929b33e58fb.png)
I'm assuming your C = 2 and N = 2. Then target should be a tensor of size (2,) while output should be a tensor of size (2, 2).

[2018-03-05 15:37] zou3519 commented on #5559
On the current master, this is the error message:
![image](https://user-images.githubusercontent.com/5652049/36983577-b2f89482-2060-11e8-94ea-4f2d0b9d33e3.png).
So the types are fixed (Variables and tensors are now the same thing).

The error message is definitely misleading, thank you for reporting it @tejaskhot.

[2018-03-05 16:14] FangMath commented on #3883
I encountered the same error with version 0.3.0.post4. What was the proper fix here?

[2018-03-05 16:14] gchanan commented on #5567
@apaszke seems fine if they don't have requires_grad and are an integral type.

[2018-03-05 16:23] zou3519 commented on #3883
@FangMath upgrade to version 0.3.1 or newer.

[2018-03-05 16:39] btgraham opened #5569 "torch.autograd.Function memory leak"
I get a memory leak running the code below.
The code is a contrived, for example the weight parameter seemingly does nothing, and I know I could use ctx.save_for_backward to save the input_features. Nonetheless, it may be unexpected behavior.

[PyTorch master 66547ca06171812a65afbd82473372aa739a8b2a / Linux / Python Miniconda 3.6.1 ]
[code]

P.S. Thanks to @fmassa for helping to localize this.

[2018-03-05 16:50] ezyang opened #5570 "CUDA 9.1 CI"
We are not running CI for CUDA 9.1 and we should. Linux builds are obvious, but we may also need to also run the tests on OS X (which would have caught #5566). A big question is whether or not to simultaneously test CUDA 9.0 and CUDA 9.1. CC @ngimel @yf225

[2018-03-05 16:59] zou3519 commented on #5569
Does this only happen on cuda()?

[2018-03-05 17:28] apaszke commented on #5554
@zou3519 is right, but let’s keep this issue open until we fix the error message

[2018-03-05 17:30] apaszke commented on #5569
It’s not that you can use `save_for_backward`, you should use it for inputs and outputs, or you will face leaks like in this issue. It’s expected.

[2018-03-05 17:30] #5569 closed

[2018-03-05 17:34] ezyang commented on #5566
I couldn't reproduce this particular error with the following config:

OS: macOS High Sierra 10.13.3
PyTorch version: c7e69e9015716ab11607665ccfa43b1de5bf8260
How you installed PyTorch (conda, pip, source): source
Python version: 3.6.2
CUDA 9.1, no cuDNN
GPU models and configuration: no GPU
GCC version (if compiling from source):Apple LLVM version 9.0.0 (clang-900.0.39.2)

I get to:

[code]

which

[2018-03-05 17:39] ngimel commented on #5570
My vote is for running them simultaneously - many people won't be updating to 9.1 and will remain on 9.0. In conda download stats 8.0 is the most popular version, followed by 9, and 9.1 has 3 times less downloads than 9.

[2018-03-05 17:52] yf225 commented on #5570
Same feeling that we probably should run both. There could be failures that only happen on CUDA 9.0 but not 9.1.

[2018-03-05 17:54] zou3519 opened #5571 "Missing torch.* docs"
- [x] http://pytorch.org/docs/master/torch.html#torch.stack
- [x] http://pytorch.org/docs/master/torch.html#torch.where
- [x] http://pytorch.org/docs/master/torch.html#torch.set_default_tensor_type
- [x] http://pytorch.org/docs/master/torch.html#torch.chunk
^all the above done via https://github.com/pytorch/pytorch/pull/5443

- [ ] http://pytorch.org/docs/master/torch.html#torch.default_generator

[2018-03-05 18:04] vishwakftw commented on #5571
You may be interested in https://github.com/pytorch/pytorch/pull/5443

[2018-03-05 18:25] vadimkantorov commented on #5571
no_grad, set_grad_enabled, is_grad_enabled (https://github.com/pytorch/pytorch/issues/4474)

[2018-03-05 18:28] ezyang commented on #5566
I successfully built OS X with CUDA 9.1 and cuDNN 7.0.5 on OS X with the following commands:

[code]

I don't have access to an OS X box with NVIDIA GPUs so I can't test if it actually runs, but it certainly got further.

Here is what I would suggest you do:

1. Reinstall CUDA and cuDNN. Preferably from scratch but rerunning the installer dmgs may be sufficient. Make sure you don't have other vers

[2018-03-05 18:36] ezyang commented on #5570
Sounds good. I'm refactoring our Docker images to use the NVIDIA base images, and then I'll add 9.1 support.

[2018-03-05 18:38] kevinzakka opened #5572 "Add Scale Factor To SGD"
Was wondering if it would be possible to add a `weight` or `scale` argument to SGD. This is useful for methods using importance sampling where we would like to scale the `gradient*learning_rate` by the likelihood ratio. In the default setting, `scale=1`.

I can submit a PR if this get a green light.

[2018-03-05 18:40] apaszke commented on #5572
Wouldn't doing this before calling the optimizer work?
[code]

[2018-03-05 18:47] #5572 closed

[2018-03-05 18:55] ruotianluo commented on #5572
If so, why was weight decay added? You can achieve weight decay in this way too.

[2018-03-05 19:00] yngtodd commented on #4884
Any updates on this? I am currently running into the

[code]

when training a VGG like network.

[2018-03-05 19:04] apaszke commented on #5572
1. because it's so much more common than rescaling gradients by a constant that doesn't depend on the iteration
2. it needs to be performed on weights and not gradients, and this requires an extra `no_grad` block
3. ideally it wouldn't be part of the optimizer, but we're stuck with it for now because of backward compatibility

[2018-03-05 20:20] yf225 commented on #5519
Could you try with GCC 6.2.1? According to http://docs.nvidia.com/cuda/cuda-installation-guide-linux/index.html#system-requirements 6.2.1 is the latest version tested with Fedora 25, so it might be worth trying out.

[2018-03-05 20:24] jadore801120 commented on #4702
Same issue. Any update?

[2018-03-05 20:43] fmassa commented on #5569
@apaszke what if you want to hold a data structure that is not a torch tensor (via CFFI for example), and for which we can't cast to a tensor? I believe this was the original use-case of @btgraham

[2018-03-05 20:44] fmassa commented on #5569
ah, wait, the leaks only happen if we store inputs / outputs ? So that should be fine then, as they should be torch tensors.

[2018-03-05 20:45] apaszke commented on #5569
Yes. The leaks happen only if you hold on to outputs via a different mechanism

[2018-03-05 21:16] yf225 commented on #5519
Probably related: https://devtalk.nvidia.com/default/topic/1028112/cuda-setup-and-installation/nvcc-bug-related-to-gcc-6-lt-tuple-gt-header-/

[2018-03-05 21:19] zou3519 commented on #5452
At @Mabinogiysk could you provide us with an example of how you're resizing a mask please? It would be great if there was an error message for something that could turn perilous like it sounds like in your case.

[2018-03-05 21:21] alexholdenmiller opened #5577 "[bug] Expected GLOO_USE_IBVERBS to be defined"
Device info:
[code]

Command:
[code]

Stack Trace
[code]

[2018-03-05 21:27] ezyang commented on #5556
@li-roy will look into this

[2018-03-05 21:27] apaszke commented on #5577
cc: @teng-li @ailzhang

[2018-03-05 21:28] ezyang commented on #5486
@li-roy will look into this

[2018-03-05 21:33] ahkarami commented on #3335
Dear @apaszke,
Thank you for your time and response. I hope that the PyTorch-like C++ interface will release as soon as possible.

[2018-03-05 21:34] vadimkantorov commented on #5486
[code]
a special case for None will be useful, but can it be handled in general?

[2018-03-05 22:28] #5484 closed

[2018-03-05 22:43] colesbury commented on #5486
Note that this doesn't work with NumPy either. The `==` operator does element-wise comparisons for PyTorch and NumPy. I'm not sure changing it just for None is a good idea.

[2018-03-05 23:03] teng-li commented on #5577
@alexholdenmiller This shouldn't happen since we will alway set GLOO's IBVERB build flag. Could try python setup.py clean to start from fresh?

[2018-03-05 23:17] vadimkantorov commented on #5486
Agree. A mid-ground may be returning False for all non-admissible types, but it won't cover the general scenario fully, and probably won't be discoverable/intuitive.

[2018-03-05 23:30] vadimkantorov opened #5580 "[feature request] Upsample improvements"
1. Bilinear upsampling on integer types like ByteTensor
2. Nearest upsampling with different when target size isn't divisible by input size

[2018-03-05 23:42] #5486 closed

[2018-03-06 01:20] csrhddlam commented on #5219
I ran the code on CPUs for several days and I haven't observed this issue until now. Note that since training on CPUs is extremely slow, I have only trained for 20 epochs, so it may be too early to draw a conclusion with a high confidence, but it seems less likely that this issue repros on CPUs.

[2018-03-06 01:21] SsnL commented on #5571
#5443 addresses all but `torch.default_generator`. :)

[2018-03-06 01:42] peterjc123 commented on #494
@shekhovt Yes, I've noticed this and has started to fix this memory leak. The temporary workground is to turn off multiprocessing by setting `num_worker` to zero. By the way, could you please create a new thread for us to track this issue?

[2018-03-06 06:46] ruotianluo opened #5586 "load_nvprof error"
I got the following error when I load_nvprof.

pytorch version:
0.4.0a0+b69b885

The function works properly on 0.3.1.

[2018-03-06 07:07] zengxianyu commented on #4507
I meet the same problem using the newest pytorch:

Traceback (most recent call last):
  File "train_cls.py", line 70, in <module>
    for ib, (data, lbl) in enumerate(train_loader):
  File "/home/crow/anaconda2/lib/python2.7/site-packages/torch/utils/data/dataloader.py", line 259, in __next__
    return self._process_next_batch(batch)
  File "/home/crow/anaconda2/lib/python2.7/site-packages/torch/

[2018-03-06 07:26] piaozhx opened #5587 "[bug] assert len(modules) == len(inputs) when use torch.distributed to compute last batch"
PyTorch GitHub Issues Guidelines
--------------------------------
- OS: CentOS 7.2.1511
- PyTorch version: 0.3.1 post2
- How you installed PyTorch (conda, pip, source): pip
- Python version:3.6.3
- CUDA/cuDNN version: cuda8
- GPU models and configuration: Tesla P40

Recently, I use torch.distributed to run my model on multi node(each node have 4 P40), sometime(e.g. use 3 processes on corresponding

[2018-03-06 09:16] nikhilraghava opened #5588 "AttributeError: 'NoneType' object has no attribute 'size'"
I was running the following code on FlyodHub using this command: `floyd run --gpu --env pytorch-0.3 'python artist.py'`.

[code]
However I get the following error:

[code]
How do I overcome this error?

[2018-03-06 10:02] gliese581gg opened #5589 "Multiprocessing start method error when model_zoo is imported"
When I ran following code,

[code]

I got 'RuntimeError: context has already been set'

Is it normal? How can I use both 'spawn' start method and model_zoo?

[2018-03-06 10:08] shekhovt opened #5590 "Memory leak in the windows build (development version)"
Related to windows support issue #494

- OS: Windows 10/ x64
- PyTorch version:  pytorch-0.3.1. from repo https://github.com/peterjc123/pytorch-scripts
- How you installed PyTorch (conda, pip, source): conda
- Python version: 3.6.1 (64-bit)
- CUDA/cuDNN version: CUDA 8.0.60, cuDNN: 6.0.21, driver version: 382.05
- GPU models and configuration: GTX1080

During training, each epoch eats up memory un

[2018-03-06 10:21] apaszke commented on #5588
We're using GitHub issues for bug reports only, and all questions should be posted on [our forums](discuss.pytorch.org).

[2018-03-06 10:21] #5588 closed

[2018-03-06 10:24] apaszke commented on #5587
As a quick fix you can pass `drop_last=True` when creating the data loader, but it's a bug that we'll need to fix

[2018-03-06 10:26] apaszke commented on #5589
This works just fine for me. Use the issue template to provide us additional information about your system config.

[2018-03-06 10:35] shekhovt commented on #5590
The workaround num_workers=0 works for me, so we know it is the problem of data loader

[2018-03-06 12:14] Noirai commented on #5566
Same problem here, occurred in different environments:
Python 3.6,
OS: 10.12.x / 10.13.3 with Apple LLVM 9.0.0 / 8.0.0
Geforce GTX 1080
CUDA 9.1 + cnDNN 7.0.5

[2018-03-06 12:15] jithinjk commented on #4827
Faced similar issue in Windows 10 with Anaconda installed. Installed **pytorch** package using conda install command which I found here: [http://pytorch.org/](http://pytorch.org/)

The usual import from command-line worked for my environment(_torch_):
[code]

But, when I tried to import this package from Jupyter notebook, I got following error message:

`ModuleNotFoundError: No module named 'torch

[2018-03-06 12:43] cycleuser commented on #5566
Thanks to @ezyang !
Though the same problem happened again on a brand new iMac, and I am pretty sure that all three points mentioned by you above are checked.
I hope there would be some solution when there are newer version cuDNN available for macOS.

@Noirai  The good news is that we can still use CUDA on Ubuntu, and I am trying to install Ubuntu.

Thank you guys for your amazing work!

[2018-03-06 12:43] #5566 closed

[2018-03-06 12:57] mttk commented on #3963
CUDA 9.0, gcc 6.3.0, Ubuntu 16.10, same problem

[2018-03-06 13:59] iamtodor commented on #1898
@minghuatang please take a look at my [detailed solution](https://github.com/pyinstaller/pyinstaller/issues/2666#issuecomment-370789381)

[2018-03-06 14:11] SsnL commented on #4507
You should look at the first error. It clearly says division by zero.

[2018-03-06 15:08] zou3519 commented on #5571
Awesome!!

[2018-03-06 17:46] kkorovesis commented on #3879
`weight = torch.randn(2).cuda()`
Don't forget to cuda() your weights

[2018-03-06 19:52] bgenchel opened #5592 "pytorch dockerimage doesn't have torch installed for python and doesn't have pip"
PyTorch GitHub Issues Guidelines
--------------------------------

We like to limit our issues to bug reports and feature requests. If you have a question or would like help and support, please visit our forums: https://discuss.pytorch.org/

If you are submitting a feature request, please preface the title with [feature request].

When submitting a bug report, please include the following informat

[2018-03-06 20:51] #5592 closed

[2018-03-06 22:07] martinarjovsky opened #5598 "Type() and type_as() are missing documentation"
As can be seen in http://pytorch.org/docs/master/tensors.html

Best :)

[2018-03-06 22:10] atiyo opened #5599 "Tensors stuck as variables"
OS: macOS 10.12
PyTorch version: 0.4.0a0+15eae95 installed from source
Python Version: 3.6.3

New tensors defined seem to come through as variables. Trying to access the tensor from the variable also does not seem to work.

A minimal repro:

[code]

returns `torch.autograd.variable.Variable`.

Similarly:

[code]
also returns `torch.autograd.variable.Variable`.

Thanks for looking into this, and ap

[2018-03-06 22:13] colesbury commented on #5598
Note that we had docs for these functions in PyTorch 0.3. Most likely, I accidentally deleted them in the tensor & variable merge.

[2018-03-06 22:24] atiyo commented on #5599
Nevermind. Just saw that tensors and variables have now been merged!

[2018-03-06 22:24] #5599 closed

[2018-03-07 00:54] xiongzhp opened #5601 "I think Bilinear() should support 3D tensor like Linear() does"
When I execute following code, it is gonna get

`import torch.nn as nn`
`m = nn.Bilinear(2, 3, 4)`
`input1 = Variable(torch.randn(5, 3, 2))`
`input2 = Variable(torch.randn(5, 3, 3))`
`output = m(input1, input2)`
`print(output.size())`
---------------------------------------------------------------------------
RuntimeError                              Traceback (most recent call last)
<ipython-inpu

[2018-03-07 01:47] CynthiaLu1119 opened #5602 "[bug?] Problem with load_state_dict after installing latest pytorch by source"
- OS: MacOS Sierra
- PyTorch version: 0.4.0a0+7588893
- How you installed PyTorch (conda, pip, source):  source
- Python version: Python 2.7.14 |Anaconda, Inc.|
- CUDA/cuDNN version: No Cuda
- GPU models and configuration: No GPU models
- GCC version (if compiling from source): GCC 4.2.1 Compatible Clang 4.0.1

In order to use onnx on nn.InstanceNorm2d layers, I installed the latest pytorch by sou

[2018-03-07 01:50] CynthiaLu1119 opened #5603 "[bug?] Problem with torch.onnx.export"
- OS: MacOS Sierra
- PyTorch version: 0.4.0a0+7588893
- How you installed PyTorch (conda, pip, source):  source
- Python version: Python 2.7.14 |Anaconda, Inc.|
- CUDA/cuDNN version: No Cuda
- GPU models and configuration: No GPU models
- GCC version (if compiling from source): GCC 4.2.1 Compatible Clang 4.0.1

I installed the latest Pytorch from source and was trying to use torch.onnx.export to e

[2018-03-07 01:50] kamo-naoyuki opened #5604 "An error happends when using torch.backends.cudnn.CuDNNError before calling torch.backends.cudnn._libcudnn"
- OS: CentOS7
- PyTorch version:  0.3.1.post2
- How you installed PyTorch (conda, pip, source): conda
- Python version:  3.6
- CUDA/cuDNN version: 9.1/7
- GPU models and configuration:
- GCC version (if compiling from source): 4.8.5

I'd like to use pytorch with multiprocessing, however, I met an error by the following code.

[code]
[code]

This error is caused by instantiating CuDNNError before i

[2018-03-07 03:12] SsnL commented on #5430
Okay, the problem is that
1. worker processes are initialized at `super(CustomDataLoaderIter, self).__init__(loader)`, so are the bookkeeping data structure in c++ side.
2. then you set `self.num_workers = 0`.
3. so in `__del__` (https://github.com/pytorch/pytorch/blob/master/torch/utils/data/dataloader.py#L339-L342), when it checks `self.num_workers != 0` before removing the bookkeeping c++ data

[2018-03-07 03:13] SsnL commented on #5430
@apaszke Should we rename `DataLoaderIter` to `_DataLoaderIter` to discourage subclassing?

[2018-03-07 03:16] SsnL commented on #5602
The `running_*` are disabled by default for InstanceNorm* layers after #4922 . You can add `track_running_stats=True` to the InstanceNorm* layer constructors.

[2018-03-07 05:55] CynthiaLu1119 commented on #5602
that works. Thank you.

[2018-03-07 07:30] PiotrCzapla commented on #5136
downgrading to `4.8` didn't work for me on Ubuntu 17.10  and cuda9 this issue #3807 says it is possible to compile using `gcc-6`

[2018-03-07 07:36] #5602 closed

[2018-03-07 07:38] BroadDong opened #5606 "when pytorch should add Windows support."
Now it is true that the pytorch would add Windows support. And could you tell me when it is?

[2018-03-07 08:09] apaszke commented on #5606
Starting from the next release. Should be out within weeks

[2018-03-07 08:09] #5606 closed

[2018-03-07 09:03] ProGamerGov opened #5607 "*** Error in `python': free(): invalid pointer: 0x00007f51b9c8d780 ***"
- OS: Ubuntu 16.04
- PyTorch version: The latest PIP version -` torch-0.3.1-cp27-cp27`
- How you installed PyTorch (conda, pip, source): pip
- Python version: Python2.7
- CUDA/cuDNN version: Cuda 9.0 & cuDNN v7
- GPU models and configuration: Tesla K80 ([nvidia-smi output](https://gist.github.com/ProGamerGov/b5c115f2785d22bb3e19d3879ea85aaa))
- GCC version (if compiling from source): N/A

In addit

[2018-03-07 09:12] ProGamerGov commented on #5607
This issue could be related to:

https://github.com/pytorch/pytorch/issues/2507

https://github.com/pytorch/pytorch/issues/5470

https://github.com/pytorch/pytorch/issues/2339

https://github.com/pytorch/pytorch/issues/5400

[2018-03-07 11:19] fedor-chervinskii commented on #5397
@sampathweb probably you downloaded source as .tar.gz (as I did and got the same error). In this case it turned out that you can't build Docker image with existing Dockerfile, you need to clone repo and checkout to the desired branch/commit

[2018-03-07 13:22] adaitche opened #5609 "In IPython torch.dot always returns 0"
When the code

[code]

is run by IPython, it returns `0.0`, which is obviously wrong. However it gives the correct result (i.e `7.0`) when run by the normal python interpreter.

Some information about the system used for the test:
- OS: OSX 10.13.3
- PyTorch version: 0.3.1.post2
- PyTorch was installed via `conda install pytorch torchvision -c pytorch`
- Python version: 3.6.3
- IPython version: 6.

[2018-03-07 14:10] ciphurus commented on #4518
@peterjc123 attached is a screenshot, the file I could find in the directory was_C.cp36-win_amd64.pyd
![torch_error](https://user-images.githubusercontent.com/11493293/37096673-5e02f7be-21e7-11e8-83ab-85463fca0b5a.png)
Let me know if this helps to identify what might be missing

[2018-03-07 15:27] SsnL commented on #5609
It could be related to #1822 . It would be easier to debug if we have a way to easily print out the blas we link to...

[2018-03-07 15:35] zou3519 commented on #5607
@ProGamerGov what happens if you do `content_image_caffe.data cuda.()` and `net = net.cuda()` somewhere?

[2018-03-07 15:41] zou3519 commented on #5559
This has been fixed in #5583. Now one can index tensors with both CPU and CUDA tensors so this particular error message doesn't apply anymore :)

[2018-03-07 15:51] dmarnerides opened #5611 "Memory leak using matmul() and permute() on GPU"
I've come accross a weird memory leak when using matmul() and permute() on GPU tensors:

[code]

This only happens when both l and n are set to 1 and only on the GPU. Other dimensionalities work ok, and other permutations too. I couldn't figure out if this is due to something from matmul or from permute.

---

- OS: Ubuntu 16.04.4
- PyTorch version: '0.4.0a0+abd8501'
- How you installed PyTorch (c

[2018-03-07 15:53] vadimkantorov opened #5612 "Samplers require only integers in example indices after Tensor+Variable merge"
[This line](https://github.com/pytorch/pytorch/blob/master/torch/utils/data/sampler.py#L120) used to read `batch.append(idx)` before the merge, and now reads `batch.append(int(idx))`

It breaks custom samplers that embed additional transformation parameters in the sampled "example index". In my case, an "example index" was a tuple containing a true example index, rescaling, flip parameters, object

[2018-03-07 16:11] fmassa commented on #5612
One of the things that we can do is to add a `.tolist()` in [here](https://github.com/pytorch/pytorch/blob/master/torch/utils/data/sampler.py#L90). There might be other places where we might need a similar change though.

[2018-03-07 16:15] vadimkantorov commented on #5612
Could you expand? If I understand right, `tolist()` wouldn't cure the "example index" tuples not convertible to int.

[2018-03-07 16:18] #5504 closed

[2018-03-07 16:28] ezyang commented on #5607
Would be nice to run this under ASAN. Note this is 0.3.1 which does have some known memory problems.

[2018-03-07 16:29] ezyang commented on #5604
I think this might be moot in HEAD, because all of our cuDNN bindings have moved into C++, so CuDNNErroris no longer used by any of our code. But will have to try reproducing.

[2018-03-07 16:48] fmassa commented on #5612
I was thinking that the `int(idx)` was added because, with tensors and variables being merged, indexing a 1d tensor now gives a 0d tensor (as done in the place I mentioned) and not a python number anymore.

And I have the impression that the `int(idx)` was added to fix a failing test somewhere. But now given that scalars that don't require grad can be automatically cast to `int`, maybe that cast i

[2018-03-07 16:50] #5559 closed

[2018-03-07 17:28] ignacio-rocco commented on #4946
@youssef-osaro @varunagrawal I released a version of RoIAlign here https://github.com/ignacio-rocco/detectorch .

[2018-03-07 18:19] shekhovt opened #5613 "Feature request: named dimensions"
Feature:
Make all Tensors have an optional list of dimension names like ['B','C','H','W']
Then the broadcasting in binary operations like
a + b
can be done according to the names (if they both have named dimensions). For example, if Tensor a has a list ['B','C','H','W'] and b has list ['C'] , then the expected result is efficiently equivalent to
a + b.view([1,-1,1,1])

This will make the broadcast

[2018-03-07 18:50] colesbury commented on #5612
@fmassa, yes it was to fix a performance issue: Tensors (including 0d) are sent across processes differently from Python numbers. Python numbers are simply encode and written to the Queue/Pipe, which is very quick. For tensors, we `mmap` a shared memory page, copy the data to the shared memory, and then encode a handle to the Queue/Pipe. This has much higher overhead than the Python number encodin

[2018-03-07 18:51] colesbury commented on #5612
@vadimkantorov I guess we can remove the `int()` call. We need to make sure that Sampler's iterators return Python numbers and not 0d tensors

[2018-03-07 18:53] apaszke commented on #5612
@colesbury can't we do this conditionally for tensors, and otherwise return the objects as they are?

[2018-03-07 19:20] apaszke commented on #5430
@SsnL yea, let's do it

[2018-03-07 19:20] #5430 closed

[2018-03-07 20:15] ProGamerGov commented on #5607
@zou3519

[code]

Results in:

[code]

[2018-03-07 20:52] ProGamerGov commented on #5607
@ezyang How would I setup PyTorch and my code to run with ASAN?

[2018-03-07 21:23] zou3519 commented on #3258
https://github.com/pytorch/pytorch/pull/5361 fixes this. I've verified that the error goes away on master.

[2018-03-07 21:28] zou3519 commented on #3642
I've verified this has been fixed on master after the Tensor/Variable merge.

[2018-03-07 21:29] zou3519 commented on #3785
No longer a problem after the Variable/Tensor merge:
![image](https://user-images.githubusercontent.com/5652049/37119232-c3a2f230-2224-11e8-994e-47b7c00bf427.png)

[2018-03-07 21:32] zou3519 commented on #3784
Does it make sense to have `tensor.max(other)`? It's hard to tell that what this does is take pairwise max over `tensor` and `other`.

[2018-03-07 21:34] SsnL commented on #3784
Maybe we should just disable that.

[2018-03-07 21:43] vadimkantorov opened #5616 "[feature request] torch.argmax / torch.argmin"
To save indexing into output of torch.max / torch.min and make code more readable. NumPy / TensorFlow also has it.

[2018-03-07 22:07] ProGamerGov commented on #5607
So I installed PyTorch and Torchvision with `git clone --recursive` and `sudo python setup.py install`, and the error message appears to have gone away:

[code]

[2018-03-07 22:39] #3785 closed

[2018-03-07 22:47] #3258 closed

[2018-03-07 23:17] #2031 closed

[2018-03-07 23:26] li-roy commented on #5556
Numpy actually has this same issue:

[code]

#5600 will make it so we are consistent with numpy's results.

[2018-03-08 01:16] SsnL commented on #5611
Also reproducible in #5443 branch, so the ATen `matmul` is also affected.

[2018-03-08 02:05] bado-lee opened #5625 "Pytorch 0.4.0 documentation typo for batchnorm's momentum parameter"
Hi, I found a typo in the pytorch 0.4.0's Batchnorm documentation.
http://pytorch.org/docs/master/nn.html?highlight=batchnorm2d#torch.nn.BatchNorm2d

Different from 0.3.x below equation explanation is added

![image](https://user-images.githubusercontent.com/26222919/37128888-88de89d4-22bf-11e8-9153-1fbec0f6be0c.png)

but, below term should be

![image](https://user-images.githubusercontent.com/26

[2018-03-08 02:52] jyzhang-bjtu opened #5627 "Can not restart the training to obtain the same results"
PyTorch version : 0.3.0

I use adam or sgd with the default parameters to training my network. But I found some interesing results during the training restart. Loss function is torch.nn.mse.

Algorithm sgd  :
 First I training it with 110 batches, and save the model with torch.save(model.state_dict(), self.fn) at 100-th batch.

If I training continuously with all 110 batches, the loss I got will b

[2018-03-08 03:35] ProGamerGov opened #5628 "AttributeError: 'Variable' object has no attribute 'MM'"
- OS: Ubuntu: Ubuntu 16.04.3 LTS (GNU/Linux 4.4.0-1038-aws x86_64)
- PyTorch version: 0.4.0a0+9ebfece
- How you installed PyTorch (conda, pip, source): Source
- Python version: Python 2.7
- CUDA/cuDNN version: Cuda 9, cuDNN v7
- GPU models and configuration: Tesla K80
- GCC version (if compiling from source): gcc version 5.4.0 20160609 (Ubuntu 5.4.0-6ubuntu1~16.04.5)

A test script for reproducing

[2018-03-08 04:23] peterjc123 commented on #4518
@ciphurus It's all right in this picture. Could you please expand the items a little bit and see if there're more items missing?

[2018-03-08 04:49] SsnL commented on #5628
Why should variable has `MM`?

[2018-03-08 04:57] ProGamerGov commented on #5628
I think I may have confused the uppercase `MM` with the lowercase `mm`.

[2018-03-08 04:57] #5628 closed

[2018-03-08 05:01] ProGamerGov commented on #5628
@SsnL I think I was confusing the uppercase `MM` with the lowercase `mm`.

I was trying to replicate this code which works in Lua with Torch7:

` self.output:mm(x_flat, x_flat:t())`

But it seems that I get an error message:

`self.output = self.output.mm(x_flat, x_flat.t())
`
[code]

[2018-03-08 05:03] SsnL commented on #5628
What does `self.output:mm(x_flat, x_flat:t())` do? `mm` should just to matrix multiplication between two matrices..

[2018-03-08 05:09] BroadDong commented on #5606
OK，thanks！Look forward to it

[2018-03-08 05:13] ProGamerGov commented on #5628
@SsnL

https://github.com/torch/torch7/blob/master/doc/maths.md#res-torchmmres-mat1-mat2

Both `torch.mm(M, x, y)`, and `M:mm(x, y)`, put the result in M.

So I guess that: `self.output = torch.mm(x_flat, x_flat.t())` will work the same way?

[2018-03-08 05:14] SsnL commented on #5628
or use out= http://pytorch.org/docs/master/torch.html#torch.mm

[2018-03-08 08:15] ashishlal opened #5631 "../libATen.so.1: undefined reference to `cublasGemmStridedBatchedEx'"
Ubuntu 16.04
Intel Python 3.6.3
cuda 9.1
cudnn 7.0.5
pytorch downloaded today

commit c2721ab5039466ced3af077fae14d8ee578ff484
Author: theweiho <theweiho@users.noreply.github.com>
Date:   Wed Mar 7 15:16:51 2018 -0800
    Add per-element unique op for CPU (#5503)

    Questions/possible future works:
    ......
    ......

Also tried with git checkout 4afd62db099f8e967a30aea66c1f345b5cbc99e2  but

[2018-03-08 08:49] SRTjiawei commented on #5430
@SsnL I see, thanks very much! I actually tried applying transformations (in torchvision.transforms module), but I failed to realize that a Tensor can be convert back to PIL image and then apply those transforms at that time, so I tried to subclass the dataloader iter.  Anyway, thank you guys for your time! @apaszke 👍

[2018-03-08 08:52] LMescheder commented on #1776
What is the status of this issue? Is it supposed to work under PyTorch 0.3? I have a similar use case and in the beginning, it seems to work fine using `autograd.grad` inside `backward`, but after a while I get various C++ errors, e.g.
[code]
or just `Segmentation Fault`.
As far as I can tell, this only happens in cuda-mode, cpu-mode appear to be fine.  Also, the time until these errors occur appe

[2018-03-08 08:57] jyzhang-bjtu commented on #5627
Then I tried to use  different dataloader and dataset, it always has the same problem.
It seems that the reloading optimizer and loss function can change the results. However, these results is different to that of continuous training.

[2018-03-08 08:59] #3642 closed

[2018-03-08 09:01] apaszke commented on #5627
Just setting the random seed to the same value won’t let you resume the training deterministically. It’s true that the numbers generated will be the same in both runs, but you don’t start from scratch anymore, so you should skip a long prefix. A correct solution is to save RNG states.

[2018-03-08 09:07] ShuhuaGao commented on #4518
As with my case, one possible reason is that there are no CUDA related DLLs installed. If you don't have an  NVIDIA GPU for deep learning, the following CPU version should be installed:
`conda install -c peterjc123 pytorch-cpu`
instead of
`conda install -c peterjc123 pytorch` (this one is for CUDA 8.)

[2018-03-08 09:08] jyzhang-bjtu commented on #5627
I use shelve to pickle the random number generator. When restart the training, I do not use seed to recover rng and use shelve to load the rng object directly.
Then I can got the same results each time I restart the training. The script is like this.

with shelve.open('debug', r) as f0
   rng = f0['dataloader.rng']

da0 = dataloader.generate_data(rng)
model(da0)
blabla....

[2018-03-08 09:16] apaszke commented on #5627
But is data loading the only place where randomness is used? Does your model contain eg dropout?

[2018-03-08 09:23] apaszke commented on #1776
@LMescheder I'm not sure about 0.3, but this should definitely work in master

[2018-03-08 09:27] jyzhang-bjtu commented on #5627
Yes, data loading is the only place. My model is self-defined without use any cnn and dropout, and only contains basic math operations, such as add, min, indexing, and so on.

[2018-03-08 09:37] apaszke commented on #4965
It needs to be removed from the `test/build_all.sh` script

[2018-03-08 09:39] ashishlal commented on #5631
Works fine when I install pytorch in a vritual environment using Anaconda python. So looks like this problem shows up when using intel python only

[2018-03-08 09:48] apaszke commented on #5627
Is the data you're generating exactly the same? Maybe it's not the fault of your model. In general it's hard to figure out what's wrong with such issues unless we get a small repro, but it often is some deeply hidden mistake in the user code.

[2018-03-08 09:52] peterjc123 commented on #4518
@ShuhuaGao Yes, you are right. But since @ciphurus has nvcuda.dll in his PATH, I think he must have a Nvidia GPU.

[2018-03-08 09:54] jyzhang-bjtu commented on #5627
I found that if I use algorithm-sgd without moment the results can be exact same in the first 10 epochs and will change slightly after 10 epochs.
If I can compile my model into some binary forms, I can provide my model to you for debugging.

[2018-03-08 10:04] alvin38 commented on #4965
Thank you so much adam, I have solved it

Sent from Mail for Windows 10

From: Adam Paszke
Sent: 08 March 2018 16:46
To: pytorch/pytorch
Cc: alvin38; Comment
Subject: Re: [pytorch/pytorch] mpi tests don't work? (#4965)

It needs to be removed from the test/build_all.sh script
—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-03-08 10:09] peterjc123 commented on #4092
@yf225 I think we can try to revert #5591 and #5322 once #5590 is merged. Since these memory leaks are limited to Windows, and the CUDA Tensors are not shared across processes, I think the leak may be related to this PR.

[2018-03-08 10:21] peterjc123 commented on #4092
@yf225 We can try to revert #5591 and #5322, because the memory leak in the CPU side could also cause CUDA errors.

[2018-03-08 11:15] #4497 closed

[2018-03-08 11:19] soumith commented on #1197
closed via https://github.com/pytorch/pytorch/pull/5328#pullrequestreview-102142689

[2018-03-08 11:19] #1197 closed

[2018-03-08 13:05] seelam opened #5633 "Client and Server fail on mixed endian machines"
We are trying to use use Pytorch master on a big endian machine and the workers on a little endian machines. When both master and workers are on the same platform, the below program works fine but it fails when they are on different platforms. We think there is a bug in the `dataChannel-->init()` method.

Below is a sample master and worker program to reproduce the problem.

master.py

[code]

wor

[2018-03-08 13:50] ciphurus commented on #4518
@peterjc123 Can you please elaborate a little bit. Should I be looking for something specific while expanding the items? What will a missing dependency show like?

[2018-03-08 16:00] teng-li commented on #5577
I am able to reproduce and is working on it.

[2018-03-08 16:15] teng-li commented on #5577
Looks like the reproduced failure was due to a staled gloo library.  After starting everything from fresh, everything works fine. So as I said, @alexholdenmiller, could you try build from fresh.
Or if you don't want to clone a new pytorch, at least, make sure torch/lib/gloo folder's git status is clean.  Also in Pytorch folder, please do git submodule update to get gloo lib updated.

If this works

[2018-03-08 17:56] Inoryy commented on #1355
Also experiencing this issue, Ubuntu 17.10, Python 3.6, Pytorch 0.3.1, CUDA 8.0. There's plenty of RAM left when the deadlock occurs and time seems to be inconsistent - can happen after 1-st epoch, or after 200-th.

Combination of `kernel.shmmni=8192` and `cv2.setNumThreads(0)` seems to have remedied it, whereas they didn't work individually.

[2018-03-08 18:21] soumith commented on #5625
closed via https://github.com/pytorch/pytorch/pull/5450/

[2018-03-08 18:21] #5625 closed

[2018-03-08 18:21] soumith commented on #5432
closed via https://github.com/pytorch/pytorch/pull/5450/

[2018-03-08 18:21] #5432 closed

[2018-03-08 18:23] apaszke opened #5636 "nn.Module.__call__ shouldn't have import statements inside"
It's called all the time, and import statements are quite expensive.

[2018-03-08 18:31] soumith opened #5637 "[docs] documentation missing for torch.where"
Documentation for torch.where is missing

[2018-03-08 18:43] LMescheder commented on #1776
@apaszke Thanks for your answer. However, when I try @magzHL's  code snippet using the master branch  I get
[code]
It seems that the `grad_fn` attribute is not set when calling functions inside `.backward()`?
As I said, it works for me under 0.3.1 using CPU mode, but not when using CUDA.

[2018-03-08 19:10] SsnL commented on #5637
Fixed in #5443 ... need someone to review that PR though.

This issue should be closed in favor of the more comprehensive tracking issue #5571

[2018-03-08 19:22] zou3519 commented on #5571
I think we're also missing tensor.index_put_

[2018-03-08 19:24] SsnL commented on #5571
Yeah. It seems we didn't even document that in 0.3.1 :P

[2018-03-08 19:50] gchanan opened #5641 "Tensor Factory Improvements List"
- [x] Include equivalents of `np.empty` / `np.full` (PR: https://github.com/pytorch/pytorch/pull/5668)
- [x] Include size-based `new` factory methods (with the eventual goal of deprecating `Variable.new`).  These are: `Variable.new_empty`, `Variable.new_ones`, `Variable.new_zeros`, `Variable.new_full`
(PR: https://github.com/pytorch/pytorch/pull/5668)
- [x] `torch.tensor` and `Variable.new_tensor`

[2018-03-08 20:09] vadimkantorov commented on #5571
no_grad, set_grad_enabled, is_grad_enabled are still not in.

Also there are non-copying versions https://github.com/pytorch/pytorch/issues/1885. Are these kept around after the tensor/variable merge? They are also not documented.

[2018-03-08 20:45] apaszke commented on #5571
@vadimkantorov those are being added by @t-vi in #5555

[2018-03-08 21:04] lantiga opened #5648 "[feature request] Add C++ test framework for pure C++ autograd+jit tests"
Now that #5356 has been merged, it's probably a good time to consider taking tests in https://github.com/pytorch/pytorch/blob/master/torch/csrc/jit/test_jit.cpp and moving them under a proper C++ testing umbrella.

I have a branch where I ported tests in test_jit to Catch2 (https://github.com/catchorg/Catch2), but @goldsborough and @ezyang raised concerns about adding this dependency.

I'll be hap

[2018-03-08 21:04] SinghGauravKumar commented on #5040
@miraclewkf @apaszke Same issue. Did you guys find any solution?

[2018-03-08 21:04] #4499 closed

[2018-03-08 21:23] vadimkantorov commented on #4474
to be fixed in https://github.com/pytorch/pytorch/pull/5555

[2018-03-08 22:02] apaszke commented on #5648
I'm quite ok with Catch2. @goldsborough @ezyang what were your concerns?

[2018-03-08 22:05] fmassa commented on #5040
@SinghGauravKumar you probably need to increase the amount of shared memory, as your DataLoader might be requiring more than what you have available for you specific task.

[2018-03-08 22:07] goldsborough commented on #5648
We're good. Ed and I had just discussed that Catch2 would be the way to go

[2018-03-08 22:08] apaszke commented on #5648
(NB I haven't done any research on the topic, I only haven't realized any problems with Catch so far)

[2018-03-08 22:10] goldsborough commented on #5648
I know the guy who wrote it from the C++ community and he's a pretty good developer. Catch2 is also officially supported by Jetbrains for their IDEs so it's pretty solid I think!

Also, a nice thing about Catch is that they crazy magic to make assertions with binary operators work, i.e. you can `assert(x == y)` where in GTest you'd have to write `ASSERT_EQ(x, y)`

[2018-03-08 22:12] ProGamerGov commented on #5628
@SsnL

Trying to replicate:

`  self.gradInput:resize(C, H * W):mm(gradOutput, x_flat)`

With:

[code]

Or:

[code]

Results in either:

[code]

Or:

[code]

The latter of which I can't seem to figure out how to solve.

[2018-03-08 22:14] lantiga commented on #5648
Ok great! Should we add Catch2 as a submodule? In this case I'll probably need you to do it - not sure I can add submodules from a PR.

[2018-03-08 22:17] SsnL commented on #5628
Either your `gradOutput` or your `x_flat` isn't a 2D matrix.

[2018-03-08 22:18] apaszke commented on #5648
While we're at it, there are also tests in ATen and adding it as a submodule in `torch/lib` wouldn't let us use it. It would be good to figure out a strategy to have Catch work both for ATen (including the standalone repo) and for PyTorch.

[2018-03-08 22:21] goldsborough commented on #5648
Yes agreed, ATen absolutely should use this. Its handrolled tests look a bit bare right now

[2018-03-08 22:23] goldsborough commented on #5648
@gchanan Here is a situation where moving autograd/ under the root pytorch folder might be beneficial: sharing dependencies

In general, maybe we should create a general `lib` folder under `pytorch`?

[2018-03-08 22:24] lantiga commented on #5648
The Catch2 devs recommend to just vendor Catch2 in repositories
https://github.com/catchorg/Catch2/blob/master/docs/build-systems.md#cmake

The alternative, also mentioned in that page, is to use CMake's ability to git clone dependencies using the ExternalProject machinery, but I honestly wouldn't go there.

[2018-03-08 22:25] lantiga commented on #5648
Just vendoring Catch2 under ATen would let us use it from autograd.

[2018-03-08 22:28] apaszke commented on #5633
No, our distributed modules assume fixed endianness in all machines. I don't think we'll be fixing that any time soon.

[2018-03-08 22:33] trivialfis commented on #5519
Sorry for the late reply. It seems to be a bug in CUDA according to the link to CUDA form. Currently I don't plan to reinstall the system for this(it's quite messy) and I am ok with running Pytorch on CPU for now.
You can close the issue if the officially supported platforms don't have this bug.
:) Thanks.

[2018-03-08 22:58] ProGamerGov commented on #5628
@SsnL I followed my `gradOutput` variable though all it's changes, and I discovered that I had made a typo/wrote the wrong variable name in one my steps. I then added a correction step to compensate for the mistaken variable, and that correction step caused `gradOutput` to change to a 3D matrix.

[2018-03-08 23:15] zou3519 commented on #5607
@ProGamerGov cool, it sounds like the master branch now has some error checking that wasn't in the release you were on, which caused your code on the release to segfault.

[2018-03-08 23:40] monajalal opened #5650 "Handle None gradients in nn.utils.clip_grad_norm"
I get this error:

[code]
for train.py file in https://github.com/vanzytay/pytorch_sentiment_rnn I have followed all the steps in the readme up to here. What do you think should be fixed?

When submitting a bug report, please include the following information (where relevant):
- OS: CentOS Linux release 7.4.1708 (Core)
- PyTorch version: 0.3.1.post2
- How you installed PyTorch (conda, pip, source)

[2018-03-08 23:41] windweller opened #5651 "When will the "reduce" argument in Loss function be released?"
- OS: MacOS
- PyTorch version: torch-0.3.1
- How you installed PyTorch (conda, pip, source): pip
- Python version: 2.7
- CUDA/cuDNN version: None
- GPU models and configuration: None
- GCC version (if compiling from source): NA

It's not really a bug. I just notice that in the actual code in the repository, there is an additional argument `reduce` for the loss function. For example with `BCELossWi

[2018-03-08 23:41] monajalal commented on #5650
https://github.com/vanzytay/pytorch_sentiment_rnn/issues/6

[2018-03-08 23:46] ProGamerGov commented on #5628
@SsnL Another quick question, it seems that I am having issues with the legacy lbfgs function and my feval function.

Lua:    ` return loss, grad:view(grad:nElement())`

Python: `return loss, grad.view(grad.nelement())`

My Python translation results in this error:

[code]

Even just running,  `grad = grad.view(grad.nelement()` will get the error:

[code]

Is there some difference between Torch7 a

[2018-03-08 23:56] zou3519 commented on #5651
The change in BCELossWithLogits will be available on the next release. We're (by we I mean mostly @li-roy) have been working on adding the reduce keyword to losses and all of them should be done by the next release. Please refer to #264.

[2018-03-08 23:56] windweller commented on #5651
Cool, thanks!!

[2018-03-08 23:56] #5651 closed

[2018-03-08 23:59] zou3519 commented on #5650
What this says is `p.grad` is None. It's possible that `p` (whatever it is) wasn't used in the gradient computation, or there was no backwards pass applied.

[2018-03-09 00:01] monajalal commented on #5650
Well, I understand that however, this seems like a problem with PyTorch as the people who have used the repo following the commands provided didn't have this error. Possibly a recent problem with PyTorch actually.

[2018-03-09 01:02] nerdcha commented on #2575
We have also run into this issue on Kaggle Kernels (https://github.com/Kaggle/docker-python/issues/157 and https://github.com/Kaggle/docker-python/issues/166).

[2018-03-09 02:10] pzz2011 opened #5656 "cannot inference on multi GPU?"
pytorch version 0.3.1
OS CenOS
CUDA Version 9.0.176
CUDNN 7
GPU:8  V100 16GB

THCudaCheck FAIL file=/pytorch/torch/lib/THC/generic/THCStorage.cu line=58 error=2 : out of memory
*** Error in `python': free(): invalid pointer: 0x00007f161ccfe780 ***

I wonder that why I cannot inference on multi-GPU....

opt = parser.parse_args()
cuda = opt.cuda

if cuda and not torch.cuda.is_available():
    raise

[2018-03-09 02:19] zou3519 commented on #5650
The last commit on the page is from Jan 24, 2017. Pytorch definitely has changed a lot since then. If you have specific questions about how to use pytorch, please ask on our forums: https://discuss.pytorch.org/

[2018-03-09 02:41] andrei-pokrovsky commented on #2702
Another possibility to keep in mind is one of custom ops is not respecting your default stream - every custom op should be properly implemented to respect pytorch stream.

[2018-03-09 02:45] warmspringwinds commented on #5013
If someone still needs this, we wrote a small script to do that:

https://github.com/warmspringwinds/pytorch-segmentation-detection/blob/master/pytorch_segmentation_detection/utils/flops_benchmark.py

Example of usage:

https://github.com/warmspringwinds/pytorch-segmentation-detection/blob/d5df5e066fe9c6078d38b26527d93436bf869b1c/pytorch_segmentation_detection/recipes/pascal_voc/segmentation/flops

[2018-03-09 02:56] soumith commented on #5650
closed via @zou3519 's comment.

[2018-03-09 02:58] soumith commented on #5656
you are running out of memory in your script.
Without specifics we cannot treat this as a bug. Post more details at https://discuss.pytorch.org and we can try help you figure out why you are running out of memory.

[2018-03-09 02:58] #5656 closed

[2018-03-09 03:17] soumith commented on #5628
@ProGamerGov pytorch has numpy-style broadcasting, while Lua doesn't. Maybe that's the issue you are running into.

[2018-03-09 03:18] #3648 closed

[2018-03-09 03:19] #5519 closed

[2018-03-09 03:31] soumith commented on #5637
closed in favor of #5571

[2018-03-09 03:31] #5637 closed

[2018-03-09 03:49] CynthiaLu1119 commented on #5603
Any idea how to solve this problem?

[2018-03-09 03:57] TommeyChang commented on #958
@nbansal90 I think the problem is the l2_reg computation process.
As you add the parameters directly, the whole computation graph with the parameters will be kept in the memory which is used in BP phase, as the data type of the parameters is Variable. This process is equivalent to upload another model to the memory.
From my understanding you just need the value of the l2_reg, so the computation gr

[2018-03-09 04:04] yf225 commented on #4092
@peterjc123 Are they fixed by https://github.com/pytorch/pytorch/pull/5585? I think we can revert them after we merge the PR.

[2018-03-09 04:09] peterjc123 commented on #4092
@yf225 I think this may be related. Since once the memory of the CPU side is low, the `cudaMalloc` will fail with `cuda error(2): out of memory` too.

[2018-03-09 04:12] yf225 commented on #4092
@peterjc123 I think it could be. For what's worth, when I tried to inspect the CUDA OOM error, `nvidia-smi` showed no process that was taking memory, but running CUDA tests on the machine would still fail.

[2018-03-09 07:19] #3256 closed

[2018-03-09 07:40] 111qqz commented on #1745
same problem here ...

[2018-03-09 08:13] jishan900 opened #5658 "Installation Problem"
jishan@jishan-B85M-HD3:~$ pip install http://download.pytorch.org/whl/cu80/torch-0.3.1-cp27-cp27mu-linux_x86_64.whl
Collecting torch==0.3.1 from http://download.pytorch.org/whl/cu80/torch-0.3.1-cp27-cp27mu-linux_x86_64.whl
  Downloading http://download.pytorch.org/whl/cu80/torch-0.3.1-cp27-cp27mu-linux_x86_64.whl (496.9MB)
    100% |████████████████████████████████| 496.9MB 1.4MB/s
Requirement alr

[2018-03-09 08:25] lautjy commented on #2575
Can you @nerdcha pinpoint what the offending libraries are?
Reading through the threads, it seems that self building pytorch is fine (especially if adding these compile flags `-fPIC -ftls-model=global-dynamic` into `setup.py`, though it seems they were not needed ). The main problem are the binary installations. They bring in something that is compiled without `-fPIC` (or somehow they end us using

[2018-03-09 08:47] Alok commented on #229
Any updates for this?

[2018-03-09 09:06] apaszke commented on #958
@TommeyChang you usually want to differentiate the regularization term (after all it is there to affect the value of the gradient) so pu probably don’t want to do it like you suggested

[2018-03-09 09:29] apaszke commented on #5658
You can’t install python packages into the system wide install of python without root privileges. Use `virtualenv` or `conda` to create a local environment

[2018-03-09 09:29] #5658 closed

[2018-03-09 10:01] soumith commented on #2575
@lautjy it's the OpenMP that we ship with in the binaries. It's not compiled with fPIC

[2018-03-09 10:15] xiamengzhou commented on #4518
Faced with the same issue. I have installed pytorch with
"**conda install -c pteterjc123 pytorch cuda80**"
and vs with
"**conda install -c peterjc123 vc vs2017_runtime**".
But still when I import torch in python, error popped up the same like
from torch._C import *
ImportError: DLL load failed: 找不到指定的模块。

I am currently using Win10, anaconda 4.4.10 and python 3.6.4. Could you please help me with t

[2018-03-09 11:24] lautjy commented on #2575
Interesting!  Is there a reason for no fPIC? (can't find a good reason with quick googling)
Would it be possible to fix that?

[2018-03-09 11:24] soumith commented on #5609
this is likely happening because compiled symbols and running symbols are different.

The linked BLAS should be MKL (because conda install...)

[2018-03-09 11:26] soumith commented on #2575
I dont think there's any good reason, as far as I could see. The only possible fix is to recompile gcc, setting particular makefiles so that OpenMP has fPIC flag. I've attempted it a couple of months ago, but couldn't make progress.

[2018-03-09 12:11] velikodniy opened #5660 "BCELoss with weights for labels (like weighted_cross_entropy_with_logits in TF)"
I've implemented an analog of [weighted_cross_entropy_with_logits](https://www.tensorflow.org/api_docs/python/tf/nn/weighted_cross_entropy_with_logits) in my current project. It's useful for working with imbalanced datasets. I want to add it to PyTorch but I'm in doubt if it is really needed for others.

For example, my implementation:
[code]

(Of course, tests and WeightedBCELoss should be writte

[2018-03-09 12:47] velikodniy commented on #5660
Another way is to add `pos_weight` argument to BCELoss and BCEWithLogits loss.

[2018-03-09 13:22] navid-rekabsaz opened #5661 "Tiny bug in the documentation of the LSTM formula"
Hi,

Looking at the formulas of LSTM in [documentation](http://pytorch.org/docs/master/nn.html#torch.nn.LSTM), in the third equation (g_t), the suffix of the second W should be changed from W_{hc} to W_{hg}. The correct formula:

g_t=tanh(W_{ig}x_t+b_{ig}+W{h**g**}h_{(t−1)}+b_{hg})

Cheers,
Navid

[2018-03-09 16:24] adamlerer opened #5663 "torch.Size doesn't accept pytorch scalar"
[code]

Also did the tensor/variable merger mean everything is called 'Variable' now? I would think everything would be called 'Tensor'.

[2018-03-09 16:35] VladislavZavadskyy opened #5664 "DataParallel can't gather if scatter dimension is not zero and batch_size%num_devices!=0"
This happened to me on branch 0.3.1, built from source with system NCCL 1.3.5, CUDA 9.1 and cuDNN 7.1. Tried on 3 GPUs with compute capability 3.0.
Error looks like this:
[code]
Here's the [stack trace](https://gist.github.com/VladislavZavadskyy/9e4fae4f14950b71316204ffb54a193e).

[2018-03-09 16:39] fmassa commented on #5664
Did you try modifying the `dim` [argument of `DataParallel` to be the dimension that you want to split](https://github.com/pytorch/pytorch/blob/master/torch/nn/parallel/data_parallel.py#L71)?

[2018-03-09 16:42] VladislavZavadskyy commented on #5664
@fmassa That's exactly how I've got this issue, it works fine with the default dim. It's simple to work around in my case (by transposing for example), but it's still a bug.

[2018-03-09 16:44] fmassa commented on #5664
Maybe you could provide a minimum reproducible example (I believe it can be done in a few lines) to facilitate the identification of the problem?

[2018-03-09 16:58] vadimkantorov commented on #5571
torch.repeat missing: http://pytorch.org/docs/master/tensors.html#torch.Tensor.repeat

[2018-03-09 17:05] zeneofa opened #5665 "pytorch.version"
When trying run a binary build, the setup cannot find tools/pytorch.version . This file is in previous version but not in master.

[2018-03-09 17:10] VladislavZavadskyy commented on #5664
@fmassa Here you go:
[code]
Works fine, but
[code]
throws above mentioned error.

I was going to go with:
[code]
but it [deserves](https://gist.github.com/VladislavZavadskyy/b223c1a704f067ea00f4397e308756a9) an issue of it's own (my guess it's due to cuDNN backend, fails even without DataParallel).

[2018-03-09 17:15] VladislavZavadskyy opened #5667 "AssertionError when running nn.GRU or nn.LSTM on CUDA."
Got it on compute 3.0 GPU, on branch 0.3.1, built from source with system NCCL 1.3.5, CUDA 9.1 and cuDNN 7.1.
This is enough to get it, on my configuration:
[code]
[Stack trace](https://gist.github.com/VladislavZavadskyy/b223c1a704f067ea00f4397e308756a9)

[2018-03-09 17:15] zou3519 commented on #5665
Could you please copy and paste the exact error message you're getting?

[2018-03-09 17:23] zou3519 commented on #5663
@adamlerer everything should be called 'Tensor' now and nothing should be called 'Variable', so that should be fixed as well

[2018-03-09 17:24] zou3519 commented on #5667
I'm running CUDA 9.0, cuDNN 7, 0.3.1post2 (from conda), and have not been able to reproduce.
Have also tried the same configuration above on the master branch, but I'll try more machines.

[2018-03-09 18:48] adamlerer opened #5670 "torch.distributed: Don't require receive buffers"
Why can't the receiver construct receive buffers automatically if one is not provided? That's what we do for all other torch ops.

The sender should send the type and size anyway, so the receiver should be able to automatically create Tensors of the right size if none are provided.

I could implement this on top of the current torch.distributed, but then it would require two roundtrips instead of

[2018-03-09 18:48] adamlerer commented on #5663
Thanks @zou3519 , yes I've got it running with the workaround, just wanted to report this so it can be fixed.

[2018-03-09 19:02] zou3519 opened #5671 "torch.norm(x-y, 2, 1) is significantly slower than torch.sqrt((x - y).pow(2).sum(1))"
I've tested a few other norms as well:
[code]
Reported [here on the forums](https://discuss.pytorch.org/t/torch-norm-3-6x-slower-than-manually-calculating-sum-of-squares/14684)

[2018-03-09 20:23] juniorrojas opened #5672 "[feature request] sparse x dense bmm"
I'm working on a model that requires computing what's currently implemented in `torch.bmm`, with the difference that the first argument is a batch of sparse matrices rather than dense matrices. Since `torch.bmm` has nice autodiff and gpu support, it's the closest operation I found in pytorch that fits my current needs and I'm converting my sparse tensors to dense tensors to use it, but it's not op

[2018-03-09 20:27] ezyang opened #5673 "0.4 issues tracking"
#### Core checklist

- [x] `torch.sum(dtype=)` (make it take an optional dtype and have a sensible default dtype for integer stuff; e.g., to avoid overflow) (PR: https://github.com/pytorch/pytorch/pull/6573)
- [x] Bind integer scalars as `int64_t` in PyTorch-ATen conversion, also allow integer scalars as members in IntList? (https://github.com/pytorch/pytorch/pull/6637)
- [x] Make concrete type of

[2018-03-09 20:58] apaszke commented on #5673
We also need to fix the scalar issues, see e.g. #5647

[2018-03-09 21:03] #5661 closed

[2018-03-09 22:17] SsnL opened #5677 "Activation doc image broken"
e.g. http://pytorch.org/docs/master/nn.html#torch.nn.ELU

@pmitros

[2018-03-09 22:19] SsnL commented on #5673
We should also fix indexing perf regression, right? https://github.com/pytorch/pytorch/issues/5388

[2018-03-09 23:29] pmitros commented on #5677
Hmmm... It works fine locally. I have time to debug or help out over this weekend, but I'm not quite sure how. I don't really understand (or likely have access to) the deployment infrastructure which builds to pytorch.org. If you have any pointers, or know of a way I can do to help out, please let me know.

[2018-03-09 23:48] vadimkantorov commented on #5677
also issues with http://pytorch.org/docs/master/nn.html?highlight=shrink#torch.nn.functional.tanhshrink and http://pytorch.org/docs/master/nn.html?highlight=shrink#torch.nn.Softshrink https://github.com/pytorch/pytorch/issues/4819

[2018-03-10 03:23] peterjc123 commented on #4518
@xiamengzhou Do you have CUDA 8.0 installed or in other words, do you have a capable Nvidia graphics card?

[2018-03-10 04:43] #5556 closed

[2018-03-10 04:46] #3213 closed

[2018-03-10 04:49] #4060 closed

[2018-03-10 04:52] #4814 closed

[2018-03-10 06:56] xiamengzhou commented on #4518
Thanks for your response @peterjc123 . I don't have a Nvidia graphics card on my computer. Is that a must for using pytorch just with CPU?

[2018-03-10 07:29] ShuhuaGao commented on #4518
@xiamengzhou See my comment above.  In a word, you should (1) first uninstall the pytorch you have now (2) run the following command to install the CPU-only version
`conda install -c peterjc123 pytorch-cpu`

[2018-03-10 08:50] peterjc123 commented on #4518
@ciphurus Can you try cpu version first(see comment above)? If cpu version can be successfully imported, then it may be related to VC2017, otherwise your CUDA setup may be corrupted.

[2018-03-10 09:15] xiamengzhou commented on #4518
@ShuhuaGao Works like a charm! Thanks a lot!

[2018-03-10 11:24] LaiPiXiong opened #5686 "When load model, it seems doesn't work right."
I used to test model after training, it's test accuracy is about 0.68. Then i write a 'test.py' code, and i test the mode on the same test data, but the accuracy is about 0.12.
I load the model as follows:
`featureModel = torch.load('model/ImageModel.pkl)
featureModel.eval()
captionmodel = torch.load('model/CaptionModel.pkl)
captionmodel.eval()`
What's wrong may it be?

[2018-03-10 11:33] apaszke commented on #5686
We're using GitHub issues for bug reports only, and all questions should be posted on [our forums](discuss.pytorch.org).

[2018-03-10 11:33] #5686 closed

[2018-03-10 11:34] apaszke commented on #5686
It sometimes happens with BatchNorm modules, if the statistics on the training set don't match those in test set (e.g. because they haven't been trained for long enough)

[2018-03-10 11:40] sonack opened #5687 "ReLU(inplace=True) seems something wrong internal"
With ReLU(inplace=True), my model can not be trained, and its loss goes to hundreds of thousands after a few iterations. However, when I replace with ReLU(inplace=False), all trouble disappear and my loss can be converge gradually.
Pytorch didn't complain any about my inplace ReLU usage before, everything seemed peace, except the larger and large training loss. I have heard someone said "When pyto

[2018-03-10 11:50] oiwio opened #5688 "Installation error from source"
- OS: ubuntu 16.04
- PyTorch version: latest commit [54aa28d](https://github.com/pytorch/pytorch/commit/54aa28da7340b2b2c6b0071ed4b54cd270394fbd)
- How you installed PyTorch (conda, pip, source): source
- Python version: anaconda env python 3.6.2
- CUDA/cuDNN version: CUDA9.1 cudnn7
- GCC version (if compiling from source): gcc5.4, gcc4.9, gcc4.8

../libATen.so.1：对‘std::runtime_error::runtime_erro

[2018-03-10 11:53] LaiPiXiong commented on #5686
@apaszke But I test on the same data( these two ways test on the same data with different results). I guess I do not load model in the right way. Any problem in my code?

[2018-03-10 12:00] LaiPiXiong commented on #5686
@apaszke I use same test data in two different test ways, which leads to different results. So i think the model is stable enough. I guess maybe i do not load model in right way.

[2018-03-10 12:05] LaiPiXiong commented on #5686
@apaszke The Link you give is "Not Found". Any other Links?

[2018-03-10 12:06] apaszke commented on #5650
I think the error is still legitimate. We should handle None `.grad` attributes correctly in `clip_grad_norm` (by assuming the norm is 0). Right now we fail like in the posted stack trace.

[2018-03-10 12:07] apaszke commented on #5686
Sorry, should be ok now

[2018-03-10 13:29] LaiPiXiong opened #5690 "Forum cannot open."
Forum http://discuss.pytorch.org/ shows NOT FOUND. Any other Links?

[2018-03-10 15:44] fmassa commented on #5687
What's you pytorch version? `print(torch.__version__)` from the interpreter should tell you.

[2018-03-10 16:09] sonack commented on #5687
@fmassa 0.3.0.post4

[2018-03-10 16:12] sonack commented on #5690
@LaiPiXiong  I can open it

[2018-03-10 17:53] bionick87 commented on #488
Hi guys,

Anyone could be help me to convert pytorch nn.Conv2d in OpenCL for FPGA/No-CUDA applications?

We need to build a group of work, anyone interested in participating?

PS: for more complex idea I want to use the output of pytorch model and pass it in a compiler for automatic translation of OpenCL language.

Best,

Nico

[2018-03-11 00:13] ciphurus commented on #4518
@peterjc123 Yes, the cpu version worked. Right now I want to use it just to get familiar with the syntax and a few cases so this is very useful. Thanks for your help with this.

[2018-03-11 00:54] vadimkantorov opened #5694 "Crash when dividing Variable(LongTensor) by a float"
[code]
at `0.4.0a0+b608ea9`;  related to https://github.com/pytorch/pytorch/issues/327 and maybe https://github.com/pytorch/pytorch/issues/5411

Probably the cause is that in the variable case, it casts the divisor as Long and it triggers integer division by zero. But why only in the variable case?

Didn't test it after the tensor+variable merge, since don't want to migrate to vNext before ECCV de