[2019-08-20 10:26] ameliamlz commented on #7548
RuntimeError: cublas runtime error : the GPU program failed to execute at /pytorch/aten/src/THC/THCBlas.cu:411

[2019-08-20 11:04] Mathieu-Seurin opened #24901 "Indexing numpy with torch.tensor (uint8) don't behave as expected"
## 🐛 Bug

When trying to index a numpy array with a tensor (uint8), sometimes the result can be very from what is expected.

## To Reproduce

Steps to reproduce the behavior:
[code]

## Expected behavior

Indexing a numpy with a tensor should act the same way as indexing a numpy array with another array. Maybe i'm missing something.

## Environment

Machine 1 :

PyTorch version: 1.1.0
Is debug bui

[2019-08-20 11:15] ahmed-fau commented on #24174
@XiaobingSuper  Hi,

I tried what you have described and the build process seems to work until it got stuck in building caffe due to a `permission denied` issue. Could you please let me know how to build for only my user id on Linux? I am also searching how to do that but still didn't get a possible answer. (i.e. run `setup.py` for building on my userspace only).

Best

[2019-08-20 11:36] Statham-stone opened #24902 "My tensor defined in forward function can not be transformed in to cuda variable autonomously"
See the question here:

https://stackoverflow.com/questions/57570793/why-my-tensor-defined-in-forward-function-can-not-be-transformed-in-to-cuda-vari

[2019-08-20 12:41] as754770178 opened #24903 "less optimizer: Adagrad,AdamW"
my torch is `1.2.0`, but in `torch.optim` only have `SGD` and `Adam`.

[2019-08-20 12:49] #24902 closed

[2019-08-20 13:01] as754770178 opened #24904 "tensorboard add_graph error"
I update torch to `1.2.0` and use `torch.utils.tensorboard import SummaryWriter` save the graph, report error:
[code]
When I use torch 1.1.0 + cuda9.0  don't report error.

[2019-08-20 13:01] abreheret commented on #15757
To add another solution to this problem:
I also had windows crash with VS2017 and with the [MNIST example](https://github.com/goldsborough/examples/tree/cpp/cpp/mnist). I had put everything in release mode, and the only solution is to have the correct version MSVC Toolset "v141 in VS; version 14.11" (VS2017, version 15.3 & 15.4). And not the latest version (VS2017, version 15.9.15) or a other vers

[2019-08-20 13:18] XSeanLiu opened #24905 "libtorch free(): invalid pointer"
use pytorch 1.2
libtorch 1.2
cuda10

I have met this error when I run c++ bin file

*** Error in `./main': free(): invalid pointer: 0x00007ff95efac970 ***
======= Backtrace: =========
/lib64/libc.so.6(+0x81489)[0x7ff8ef7ec489]
./main(_ZN9__gnu_cxx13new_allocatorIPNSt8__detail15_Hash_node_baseEE10deallocateEPS3_m+0x20)[0x408d58]
./main(_ZNSt10_HashtableISsSt4pairIKSsSsESaIS2_ENSt8__detail10_Select1

[2019-08-20 13:30] zhangguanheng66 commented on #24869
@soumith since the dictionary with hashing trick could also be applied for audio script, I think torchaudio could also use it. But if only text people want it, I will file it in `pytorch/text`.

[2019-08-20 13:34] XiaobingSuper commented on #24174
@ahmed-fau , you can also use pip to install pytorch:
`USE_NINJA=1 CFLAGS="-O0 -g" CXXFLAGS="-O0 -g"  pip install --user -v -e .`, if it is not work, can you post you build log which I can see the build failed reason? Thanks. please note I make some change in https://github.com/pytorch/pytorch/issues/24174#issuecomment-522643170

[2019-08-20 13:36] tribbloid commented on #16453
absolutely :)

https://github.com/pytorch/pytorch/issues/23258

[2019-08-20 13:50] ahmed-fau commented on #24174
Thanks. The solution was to use `python setup.py build` before `python setup.py install`. Now pytorch 1.2.0 is being installed. I will check `import mkl; print(mkl.__version__)` to verify version `0.20.2` is what has been installed. The remaining thing now is to install a `cudatoolkit` of version `10.0` as I use an RTX GPU. Will report you asap.

[2019-08-20 14:09] mrshenli opened #24906 "Detect and handle NCCL errors appropriately in single-server use cases"
#22907 addressed NCCL error detection for multi-server use cases. However, for some unknown reason, the current solution does not work for single-server multi-process use cases. There are indeed many scenarios where applications spawn one process per gpu on a multi-gpu server. So we do need the error detection work for single-server use cases.

[2019-08-20 14:09] dusty-nv commented on #8103
@GerardMaggiolino those wheels work on my Nano, both for Python 2.7 and 3.6.

It is possible that PyTorch 1.2.0 fixes this particular `SpatialUpSamplingBilinear` function with launch_bounds, however my patch that above aims to fix a wider group of functions is not included in 1.2.0.  So I will re-patch and re-build wheels for 1.2.0.

[2019-08-20 14:29] ezyang commented on #23656
@alsrgv Use `pip install torch==1.2.0 -f https://download.pytorch.org/whl/cu100/torch_stable.html`

[code]

Actually, I thought your command is supposed to work, because https://www.python.org/dev/peps/pep-0440/#version-matching implies that local versions are supposed to be excluded, but I confirmed on pip 19.1.1 it does not. That is quite strange.

[2019-08-20 14:50] ahmed-fau commented on #24174
@XiaobingSuper the build process continued until:
```[ 58%] Building CXX object caffe2/CMakeFiles/torch.dir/__/aten/src/ATen/native/mkldnn/MKLDNNConversions.cpp.o```

then it has thrown the following error log:

[code]

[2019-08-20 15:13] malmaud commented on #24353
Also it would be a good idea for people to upvote https://github.com/microsoft/python-language-server/issues/1301 to show the Microsoft team that there is interest in having this resolved upstream.

[2019-08-20 15:16] bpinaya commented on #24316
Hi @BowenBao , sorry for the delay I was a bit busy at work, using the link you provided https://lutzroeder.github.io/netron/ I see the same as you:
![image](https://user-images.githubusercontent.com/2473733/63359532-346e3480-c36d-11e9-8d1b-71ee17b568be.png)

If I just print the network I get:
[code]
And when exporting with verbose enabled I can see the exported network as:
[code]
So you see those

[2019-08-20 15:18] andrewssobral commented on #21318
+1
Same issue on my Mac, this is what I did:
[code]
Result:
[code]

[2019-08-20 15:19] liyz15 commented on #24901
Try 1.2.0, comparison operations return torch.bool now.

[2019-08-20 15:31] andrewssobral commented on #17415
@gheaeckkseqrz same for me

[2019-08-20 15:44] peterjc123 commented on #15757
@abreheret Yeah, your post reminds me of this post: https://devblogs.microsoft.com/cppblog/c17-progress-in-vs-2017-15-5-and-15-6/. It says that "Mixing an older STL with a newer compiler is untested and unsupported, but will typically work. However, mixing a newer STL with an older compiler is a recipe for doom." So we should actually pin the VS toolset version during the whole development process

[2019-08-20 15:46] soumith commented on #23656
local version identifiers are excluded.

If one does `pip install torch==1.2.0+cpu` then it will pick that wheel.
What is not supported (and pypi devs were clear about it) is that `torch==1.2.0 -f` wont magically use the `-f` server, it actually prefers the stable upstream pypi server.

It was the origin of the issue https://github.com/pytorch/pytorch/issues/19990 which I filed based on what I fou

[2019-08-20 15:49] Mathieu-Seurin commented on #24901
Indeed, it works on 1.2.0.
Thanks !

[2019-08-20 15:49] #24901 closed

[2019-08-20 16:03] al093 commented on #24292
@VitalyFedyunin I dont think your quote from the CUDA docs is relevant for my scenario. Or if you could explain it more, with respect to my usecase, I would understand better, because maybe I missed your point.

In short, again my idea is to have a separate cuda context for every worker process forked by the Dataloader. This would allow to compute some operation in CUDA in every worker, but not sh

[2019-08-20 16:11] humzaiqbal commented on #24894
Apologies, in my actual codebase I do have an `app.route` in my actual code which is how the model is actually being run, I didn't include that in the above snippet as I didn't think it was needed to diagnose the issue. My actual code looks more like

[code]
The bottom line is still the same though, when `num_processes` is 1 then my code works fine but anything more than that causes problems. Apol

[2019-08-20 16:37] heiner opened #24912 "Embedding backward pass taking 1300x longer than forward pass"
## 🐛 Bug

Taking a simple model with an nn.Embedding layer (`nn.Embedding(6000, 16)`) on the GPU, the forward pass takes ~32us while the backward pass takes ~42ms (42000us), which is over 1300 times slower.

I am aware there's a sparse backward version, but it's not compatible with the optimizers I want to use. Also this seems too slow for a dense backward pass regardless.

Perfetto trace: https:/

[2019-08-20 16:47] yf225 commented on #24120
@junjihashimoto Quantizer is not released as part of 1.2, as it still needs improvement.

[2019-08-20 16:47] jotterbach commented on #24005
@mrshenli I complied torchvision now from source and the versions seem compatible then.
Happy to report that the fix works on the minimal example provided above and on the larger/messier code I work with. Thank you a lot!

[2019-08-20 16:49] vishwakftw commented on #24881
Closing since the fix has been merged.

[2019-08-20 16:49] #24881 closed

[2019-08-20 16:53] mrshenli commented on #24005
@jotterbach Awesome! Thanks for trying it out!!

[2019-08-20 17:22] vincentqb opened #24915 "Dataset Functionality"
## 🚀 Feature

The Domain APIs all have separate interface to acquire data. We are discussing having:
- [ ] all datasets moved from Domain APIs to PyTorch
- [ ] a core download feature, within PyTorch
- [ ] a core raw data loading (e.g. ByteTensor iterator), within PyTorch
- [ ] domain-specific pre-processing in each Domain APIs
- [ ] tutorials on how to build data pipeline

## Motivation

* The Do

[2019-08-20 17:27] AlbertZhangHIT commented on #24398
Hi, I also found that torch 1.2 is slower than torch 1.0.
I compared the runing performace of DCGAN-like (for 64x64 images) net on torch 1.2 and 1.0, for 100 iters torch 1.2 took about 90 seconds while torch 1.0 took 36 seconds.
I use ```top```  command in linux finding that torch 1.2 uses CPU exceeding 1000% while torch 1.0 only uses 100%.
There should be a bug with the CPU and GPU utility in tor

[2019-08-20 17:28] pkohli2405 commented on #20453
hey, any updates on this issue.  is this resolved?

[2019-08-20 17:30] PetrochukM commented on #23662
I used the above approach to train, I think it is a good approach. I had no issues with it. I don't think the above feature request is necessary anymore.

[2019-08-20 17:30] #23662 closed

[2019-08-20 17:31] PetrochukM commented on #15849
I ran the above code for a multiday training session and it worked well! I had a 5% - 10% improvement in speed across two separate models.

[2019-08-20 17:39] salexspb commented on #23980
Regarding python vs c++ analysis of traces - it is not really blocking inference. Inference benchmarks runs are scheduled from python while the executor is in c++. I agree that there could be a scenario though when c++ only runtime is needed. For example, many models running in parallel at inference time and someone willing to do an analysis of what is going on there. Though, in my cases, this can

[2019-08-20 17:50] Masseeh commented on #15849
By replacing `self.iterator = super().__iter__()` with `self.iterator = None`  in the constructor and initializing `self.iterator` in the `__iter__` function for the first time and then reusing it, we can reduce the memory footprint a little bit further.

[2019-08-20 17:51] vadimkantorov commented on #24915
An additional wish: unify transforms interface. One idea: make them regular autograd functions / modules. This enables writing them more shared between domains (imagine various forms of cutout / warps), moving them from cpu to gpu, performing them at other parts of the model, etc

[2019-08-20 17:51] izdeby opened #24918 "A lot of deprecation warnings in tests"
Several test suites, for example test_indexing, throw deprecation warnings like this:
`UserWarning: indexing with dtype torch.uint8 is now deprecated, please use a dtype torch.bool instead.`

[2019-08-20 17:55] ptrblck commented on #24891
Thanks for reporting this issue @sublee!
I was able to reproduce it and this bug should be fixed in Nsight systems 2019.4.

Please let me know, if you still encounter this issue using 2019.4.

[2019-08-20 18:02] #22975 closed

[2019-08-20 18:03] izdeby commented on #22975
`>>> torch.ones(5, dtype=torch.bool) ^ torch.ones(5, dtype=torch.bool)`
tensor([False, False, False, False, False])

 `>>> torch.ones(5, dtype=torch.bool) - torch.ones(5, dtype=torch.bool)`
RuntimeError: Subtraction, the `-` operator, with two bool tensors is not supported. Use the `^` or `logical_xor()` operator instead.

PyTorch v.1.2

[2019-08-20 18:30] BowenBao commented on #24316
Hi @bpinaya, thank you for your detailed response.

The graph with `unsqueeze` and `concat` is in fact expected. Note that the value of `x.size()[2:]` could be dynamic. So the exported ONNX graph has no choice but to construct this `shape`, `concat` routine.

[2019-08-20 18:31] vincentqb commented on #24865
For reference: #24915

[2019-08-20 18:38] gchanan commented on #22975
I don't think that's v1.2 -- we didn't get the logical operators in AFAIR.

[2019-08-20 19:03] mrshenli opened #24920 "[RPC] Support tensor shared_memory between processes on the same server"
As pointed out by @zzzwen, current `distributed.rpc` implementation always serializes a tensor into bytes and creates a new tensor (and storage) during deserialization. For processes on the same server, it will be much more efficient if we can enable shared memory across processes. The basic idea is to do something similar to [`sharedFd`](https://github.com/pytorch/pytorch/blob/master/torch/csrc/g

[2019-08-20 19:57] spandantiwari commented on #23724
@ajaysg - The PR has been submitted. https://github.com/pytorch/pytorch/pull/24378

[2019-08-20 20:02] VitalyFedyunin commented on #24292
Thought you want two different instances of CUDA context in one tread. But if just want lazy cuda initialization, it is already done this way:

[code]

[2019-08-20 20:20] VitalyFedyunin commented on #24851
Just curious, what are we trying to archive with comparison tests? By my experience it is better (and sufficient) to write proper correctness test and to allow execution by any device.

[2019-08-20 20:55] ezyang commented on #23756
That sounds like a much more compelling reason :)

[2019-08-20 20:56] sidazhang opened #24927 "When use pin_memory, dataloader can get stuck inside pin_memory"
## 🐛 Bug

Gets stuck here, after a few hours of training
[code]

So initially guesses:

- It seems that it has something to do with having more than 1 dataloader iterator alive at the same time
- we have a train iterator, a val iterator
- So up to 2 live iterator
- And it seems to happen when we destruct / construct a new iterator instance
- It seems to happen between the switch between train and

[2019-08-20 21:05] #24382 closed

[2019-08-20 21:12] jeremyasapp opened #24930 "Successive Layer Normalization in nn.Transformer"
In the nn.transformer.py module, the Transformer*Layer objects always have a layer norm at the very end of their forward method. However, the main Transformer object passes additional layer norms to both the TransformerEncoder and TransformerDecoder, effectively computing layer norm twice after the encoder, and after the decoder.

This seems wrong, I'm not sure there is a need for the extra layer

[2019-08-20 21:13] soumith commented on #24927
@SsnL would you have any guesses?

[2019-08-20 21:13] ifedan commented on #23815
https://github.com/pytorch/pytorch/pull/24872

[2019-08-20 21:14] #24806 closed

[2019-08-20 21:15] zou3519 opened #24931 "Consider not checking in autogenerated core/{Tensor.h,TensorMethods.h}"
ATen/core/Tensor.h, ATen/core/TensorMethods.h are autogenerated and checked in. However, checking in autogenerated files is a recipe for merge conflicts; I've ran into 3 in the past two weeks. I think this is because git thinks it can merge two of these files from different branches together but they get merged together in a way that isn't consistent with how they get autogenerated.

Potential sol

[2019-08-20 21:20] mruberry commented on #24851
I was thinking of functions like https://github.com/pytorch/pytorch/blob/012526dd6bf677fd029e9c27ecb49e401b210d2f/test/test_cuda.py#L627 where we use the CPU as a gold standard for CUDA.

[2019-08-20 21:29] VasLem opened #24933 "BCELossWithLogits(input) != BCELoss(Sigmoid(input))"
## 🐛 Bug

I updated today to pytorch 1.2 and tried to train a neural network. While I was getting fine BCELossWithLogits (~1) during training step, the loss would become >1e4 during validation. I went on and tried BCELoss instead, after applying sigmoid to the input.  The loss on the same input and target became much, much smaller . I include the pickle file, as gotten from the following code:

[c

[2019-08-20 21:34] VitalyFedyunin commented on #24851
As soon as we declare this approach as precision testing only, I'm fine with it. But it never should be the single way we test per device operators.

[2019-08-20 21:44] mruberry commented on #24851
I agree with you completely.

[2019-08-20 22:10] ezyang commented on #23656
@soumith This is not what I observed empirically though:

[code]

[2019-08-20 22:13] gchanan commented on #24931
This may be possible now because we don't actually need the Tensor class for the mobile build (we thought we did and we didn't build codegen for xplat).  But I'm not sure if that's the long-term plan.  Probably @ljk53 would know better.

[2019-08-20 22:16] gchanan commented on #24930
@jeremyasapp when you say "wrong" do you mean non-performant, or that it would cause a problem?

@zhangguanheng66 any thoughts?

[2019-08-20 22:19] sidazhang commented on #24927
Alternatively, are there suggestions for mitigation? For example, are there good ways to chunk the iterator such that we create a new train iterator every `val_iter`

For reference,

Roughly
- 1 million examples.
- 32 examples per batch
- run validation every 2500 iterations

So we will need to make sure that each train loader is 32 * 2500 long. So that it can exit and then go to val. (This way we

[2019-08-20 22:27] gchanan commented on #24905
The tutorial is about JIT, but I'm not sure if it's a JIT specific issue or not.  Maybe @yf225 knows.

[2019-08-20 22:28] gchanan commented on #24904
CC @orionr

[2019-08-20 22:29] gchanan commented on #24903
please follow the issue template (or ask on the forums).

[2019-08-20 22:29] #24903 closed

[2019-08-20 22:29] zhangguanheng66 commented on #24930
There's some debate about whether to have the layer norm and the order. Overall, there are quite a few variations for the transformer model.

[2019-08-20 22:30] gchanan commented on #24898
Please use https://discuss.pytorch.org (https://discuss.pytorch.org/) for questions. Please kindly feel encouraged to reopen this issue, if this does not apply.

[2019-08-20 22:30] #24898 closed

[2019-08-20 22:35] yf225 commented on #24905
@XSeanLiu Does the error show if the program is run on CPU?

[2019-08-20 22:36] gchanan commented on #24880
I cannot find this line of code (perhaps it is from an old version of pytorch).  If you are so included, please reopen this issue and link the line of code on github.

[2019-08-20 22:36] #24880 closed

[2019-08-20 22:36] SsnL commented on #24927
This is too vague. The trace shows the memory pinning thread is waiting for data, but it is hard to know what exactly is making data fetching slow, or whether it is due to a pytorch bug or a hang in worker dataset code.

[2019-08-20 22:48] gchanan commented on #24851
By backends, do you mean devices?  Backend has so many meanings I struggle to understand what it means.

Absolutely agree, I believe @ailzhang, @VitalyFedyunin and maybe others are already working on these?

I'm not sure, can you explain how this would work?  Why can't they just invoke the tests they want to run?

I'm not really sure why backends can't use our existing mechanisms (once you can eas

[2019-08-20 22:49] orionr commented on #24904
@as754770178 do you have a sample bit of code that reproduces the failure?

cc @sanekmelnikov @lanpa @natalialunova

[2019-08-20 22:49] jeremyasapp commented on #24930
@gchanan sorry wrong was a terrible choice of word. I meant that I don't think it's consistent with the original description of the model in the "Attention is all you need" paper. I also suspect it could make the gradient computation unnecessarily more complicated?

@zhangguanheng66 I'm not quite sure I understand what you mean. Let L be the layernom function. Right now the TransformerEncoderLayer

[2019-08-20 22:52] gchanan commented on #24900
I wasn't able to reproduce either on master (without GPU support) or v1.2.0 (with GPU support) on a linux box.

[2019-08-20 22:53] SsnL commented on #24927
Can you come up with a self-contained script that can reproduce the issue? It's okay even if it isn't reliable.

[2019-08-20 22:56] gchanan commented on #24869
I feel like this issue is missing a bunch of context -- what's the "hashing trick" and how would the vocab-class be a general purpose solution or just something for torchaudio and torchtext to share?

[2019-08-20 23:17] orionr commented on #24904
Also cc @suo

[2019-08-20 23:27] zhangguanheng66 commented on #24930
The default norm at the very end of the TransformerEncoder forward function is None. https://github.com/pytorch/pytorch/blob/8ca6220509a54a93833df81635d4f662fc4a994c/torch/nn/modules/transformer.py#L146

[2019-08-20 23:29] jeremyasapp commented on #24930
It is None in the TransformerEncoder object, but if you look at the Transformer object at the very top it passes an extra LayerNorm to both the TransformerEncoder and the TransformerDecoder, so it is effectively not None

[2019-08-21 00:00] mruberry commented on #24851
@ailzhang Points out that we probably mean "PyTorch device," but not a "physical device."

I meant "backend" as software implementing PyTorch's interface on one or more devices.

@ailzhang was planning to shepherd this issue but we thought it'd be a good way for me to help with Pytorch+XLA.

Letting backends invoke the tests they want would work, too, it's just an opt-in vs opt-out model. We could

[2019-08-21 00:08] andreaskoepf commented on #24861
The problem occurs because the division result is stored with float32 precision.
You can check with an online [float converter tool](https://www.h-schmidt.net/FloatConverter/IEEE754.html) that `76380067.555556` (result of 2749682432 / 36) cannot be accurately represented by a float32 and will instead be stored as `76380064` (with an absolute error >3!).

Intermediate widening to float64 (double) c

[2019-08-21 00:15] kwanUm commented on #22969
+1, happened to me as well.

[2019-08-21 00:41] al093 commented on #24292
So i did a quick test, I ensure that cuda is not initialized in my main process, and only initialized in the worker process, when get_item() is called:
`def __getitem__(self, index):
        print('From Worker, CUDA initilized: ', torch.cuda._initialized)
        torch.cuda.init()
        print('From Worker, CUDA initilized after Init: ', torch.cuda._initialized)
        ...
`
But the error I get

[2019-08-21 01:01] sublee commented on #24891
I've experienced segmentation fault in NVIDIA Nsight Systems 2019.4 constantly. So I couldn't try it. I should also report this fault to NVIDIA.

I guessed it's a bug at PyTorch instead of NVIDIA Nsight Systems. Because it happens only in PyTorch 1.2.

| PyTorch | NVIDIA Nsight Systems | result |
| -------- | -------------------------- | ------ |
| 1.1 | 2019.2 | ok |
| 1.1 | 2019.3 | ok |
| 1.1 |

[2019-08-21 01:12] as754770178 commented on #24904
error info:
[code]

[2019-08-21 01:14] XSeanLiu commented on #24905
@gchanan @yf225

[2019-08-21 01:20] XSeanLiu commented on #24905
@gchanan @yf225
Hi, I did not run this program, just loaded the model. The codes are as follows:

python code which get the scriptmodule file

[code]

and load the file using C++

[code]

[2019-08-21 01:24] as754770178 commented on #24904
I try. Now I can provide some information.
(1) model: I run yolo model accoding to `https://github.com/eriklindernoren/PyTorch-YOLOv3.git`.
(2) dataset: my dataset return string, such as the image path and the json path, but don't use in forward.
[code]

[2019-08-21 01:32] XSeanLiu commented on #24905
I also get core dumped with libtorch-cpu version

so any environment variable should I pay more attention?

[2019-08-21 02:33] mrshenli opened #24946 "[RPC] Make ProcessGroupAgent send task non-blocking"
@xush6528 pointed out in #23968 that we should make send task non-blocking in `ProcessGroupAgent`. It currently [waits](https://github.com/pytorch/pytorch/blob/0bf63f483a9cf4fbb63c680cb9b71e2dd09a110a/torch/csrc/distributed/rpc/process_group_agent.cpp#L181) until both preamble and payload send finishes. We could use a separate send GC thread that captures the `preamble`, `payload` and `ProcessGrou

[2019-08-21 02:40] pdlive215 commented on #9886
Are there standards or templates for documentation? I'd like to submit a PR for `nn.functional.bilinear`, but existing documentation is inconsistent. Most `nn.functional` functions have parameters labeled as `Args`, but for `nn.functional.linear` the parameters are labeled as `Shape`.

Also, some of the documentation in `nn.functional` is simply a reference to `nn`. Do we want to replace these ref

[2019-08-21 02:45] shenyingying commented on #16847
@suo  it solved,just cat the output

[2019-08-21 02:46] shenyingying commented on #16453
@tribbloid
 just concat output

[2019-08-21 02:47] xush6528 commented on #24946
Ref: https://eklitzke.org/notes-on-std-shared-ptr-and-std-weak-ptr

[2019-08-21 02:49] xush6528 commented on #24946
I believe we can make shared_ptr to these two tensors too.

[2019-08-21 02:52] hadeson commented on #16799
I got the same error when `weight.type().sizes()` is called:
[code]
Using Pytorch 1.2.0, CUDA 10, Ubuntu 16.04.

[2019-08-21 02:53] xush6528 commented on #24946
We don't need a new GC thread.
Just capture all `shared_ptr`s by value in lambdas.

The task/closure (lambda function pointer together with copied shared_ptr s) will be keeped in the queue of the ThreadPool.

After the task is finished, the `shared_ptr<vector<Tensor>>`s associted to the closure will be desturcuted. Ref count to the `vector<Tensor>` will drop to 0.

[2019-08-21 03:03] dusty-nv commented on #8103
OK, the new PyTorch v1.2.0 wheels for Jetson are built and are posted [here](https://devtalk.nvidia.com/default/topic/1049071/jetson-nano/pytorch-for-jetson-nano-with-new-torch2trt-converter/).

They have the resources patch from above applied.

I also found out what went wrong  on external systems with the previously-posted patched v1.1.0 wheel for Python 3.6, so I am re-building that too.

[2019-08-21 03:25] tharindu-mathew opened #24948 "No way to install torchvision with pytorch-nightly - CUDA 10.0/Windows 10"
I encountered this when trying to setup maskrcnn. But, this is a blocker for Windows 10 in getting pytorch-nightly working.

https://github.com/facebookresearch/maskrcnn-benchmark/issues/1054

cc @peterjc123

[2019-08-21 03:39] mrshenli commented on #24946
@xush6528 Does the task need to wait for the send then? If not, the task could be destructed before the `ProcessGroup::Work` finishes, no?

[2019-08-21 03:46] liangt commented on #24899
I find another operation also has the same problem, everything is fine when I run on CPU, but it fails when I run GPU.

Error from operator:
input: "1836" input: "1891" output: "1892" name: "" type: "Add" device_option { device_type: 1 device_id: 0 }

I also test it with onnxruntime, everything goes well. So, I think there may be some problems needed to be located and fixed in caffe2 working with

[2019-08-21 03:47] nullptr-leo opened #24950 "Different time cost with different weights on the same model"
We found different time cost with different weights on the same mobilenetv3 model.

We use the following code to measure time:
[code]

We doubt if it is caused by the zero weights in the model. And we count the zero params in the different weights. But the pretrained weights have less zero parameters.

**Pretrained:**
Time: 8ms
Zero-params number (eps=1e-6): 541
Zero-params number (eps=1e-2): 1140

[2019-08-21 04:43] gujinghui commented on #18398
@lutzroeder Fixed in #22910  . pls have try.

[2019-08-21 05:01] rgommers commented on #18398
@gujinghui could you summarize the approach you took in gh-22910?

It's a bit hard to tel, but the `SET(MKLDNN_USE_MKL "NONE")` line seems to indicate you're keeping the downloading of MKL-small?

[2019-08-21 05:38] gujinghui commented on #18398
No. MKLDNN_USE_MKL = NONE says the MKL-small is abandoned in this build.
MKLDNN does not depends on MKL anymore, therefore, no iomp depends as well.

[2019-08-21 06:25] xush6528 commented on #24252
When implementing other RpcAgent sub class, I found message.type is not used. Because other serialization framework has its own way of specifying. And don't need to go through the heavy torch.serialize/deserialize utility.

[2019-08-21 06:34] sdimantsd opened #24953 "Jetson: cuda runtime error (7) : too many resources requested for launch"
## 🐛 Bug

Im using jetson TX2 and jetson nano (this problem happend in both of them)

$ python3 eval.py --trained_model=weights/yolact_im700_54_800000.pth --score_threshold=0.3 --top_k=10 --image=data/yolact_example_0.png:asd.jpg
Config not specified. Parsed yolact_im700_config from the file name.

Loading model... Done.
THCudaCheck FAIL file=/media/nvidia/WD_BLUE_2.5_1TB/pytorch-v1.1.0/aten/src/T

[2019-08-21 06:47] Santosh-Gupta commented on #1489
Is there an update to this? I would love to have optimizers map to the variable name, or least be able to figure out which variable in the model it's 'sum' etc is corresponding to.

[2019-08-21 06:50] peterjc123 commented on #24948
Not a problem at the pytorch side.

[2019-08-21 06:50] #24948 closed

[2019-08-21 06:51] XiaobingSuper commented on #22294
https://github.com/pytorch/pytorch/pull/22910 can solve this problem, which will not link iomp when not install MKL full package. Thanks!

[2019-08-21 06:55] peterjc123 commented on #24894
I'm still confused. What do you mean that it didn't work? What just doesn't work? Any error messages does it throw?

[2019-08-21 06:57] hzxie commented on #13254
+1
PyTorch 1.2.0 + CUDA 9.0 (Build from Source)

[2019-08-21 07:04] xush6528 opened #24956 "[RPC] Fix logging initialization"
## 🐛 Bug

On existing of RpcAgent process, the log lines shows that the logger was not initialized.

[code]

## Fix

In Caffe2, logger is initialized by calling
[code]

[2019-08-21 07:04] billamiable commented on #22440
I also encountered the error when converting to tensor having two tensors as output. It took me almost 2 days to solve that... Really recommend to mark this situation in the tutorial of libtorch, which can save others time in the future.. @soumith

[2019-08-21 07:17] ehsanzare opened #24957 "change Mask_RCNN backbone"
Do we have a guide/example of changing the backbone of provided mask_rcnn in pytorch (e.g. Mask R-CNN ResNet-50 FPN) with other standard classification backbones (e.g. MobineNet, etc)?

cc @SsnL

[2019-08-21 07:23] zhuj06 commented on #17796
any progress yet? I got the similar problem as well.

[2019-08-21 07:31] RyanHuangNLP commented on #13110
@wyessen Does pytorch 1.2.0 not fix this issue?

[2019-08-21 07:34] Santosh-Gupta opened #24958 "In Sparse Adam, initialize state['exp_avg'] and state['exp_avg_sq'] during optimizer initialization, not after step"
## 🚀 Feature
In the Sparse Adam optimizer, [ https://github.com/pytorch/pytorch/blob/master/torch/optim/sparse_adam.py ]

The 'exp_avg' and 'exp_avg_sq' are only initialized after the first step is taken. And then after each step, there is a check of if the state hasn't been initialized. Compare this to adagrad https://github.com/pytorch/pytorch/blob/master/torch/optim/adagrad.py ], where 'sum' is

[2019-08-21 07:37] xush6528 opened #24959 "Merge python RemoteException with C++ MessageType::EXCEPTION"
## 🚀 Feature

As discussed in https://github.com/pytorch/pytorch/pull/24138#issuecomment-522776197, currently RemoteException only shows Python callee side stack trace.

We would like to have caller side Python stack trace as well.

## Solution

In order to know the caller side stack trace,
I think one solution is, on invoking an RPC, the caller side saves the stack trace of itself together with t

[2019-08-21 07:43] XiaobingSuper commented on #24174
@ahmed-fau , I am so sorry, there some mistake in https://github.com/pytorch/pytorch/issues/24174#issuecomment-522643170, I update it. Thanks!

[2019-08-21 07:49] bpinaya commented on #24316
Well that makes sense, I guess I'll just keep the sizes static since those nodes are not exporting in tensorrt. Thanks for your input!

[2019-08-21 07:49] #24316 closed

[2019-08-21 08:34] andreaskoepf commented on #24950
On which kind of device are you evaluating?Just to make sure the effect is not due to [denormalized floats](
https://en.wikipedia.org/wiki/Denormal_number) (see [also](https://stackoverflow.com/questions/36781881/why-denormalized-floats-are-so-much-slower-than-other-floats-from-hardware-arch)): Could you try to set all parameters close to zero to exactly zero, (e.g. `param[param.abs() < 1e-10] = 0

[2019-08-21 08:39] andreaskoepf commented on #24957
Please consider using [discuss.pytorch.org](https://discuss.pytorch.org/) for such questions.

[2019-08-21 08:42] junjihashimoto commented on #24120
It is OK. Thx!

[2019-08-21 09:19] ezyang commented on #2575
Trusty Python 3.5 master on CI is persistently broken with this problem (pytorch_linux_trusty_py3_5_test) https://circleci.com/gh/pytorch/pytorch/2528478?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link/console

[code]

[2019-08-21 09:20] takatosp1 commented on #24927
We found the same issue:
Following the common practice we have a loop for training and validation:

While True:
fetch data from train loader (deadlock)
checkpoint
fetch data from validation loader

When training with multi-machine, we found more than gpu will not get the data.

[2019-08-21 09:28] takatosp1 commented on #24927
![image](https://user-images.githubusercontent.com/3500423/63420357-5c848480-c3bb-11e9-8dfe-ba2dfa09199c.png)

[2019-08-21 09:29] ezyang commented on #23656
Apparently, I (and others) have misread the spec here: https://github.com/pypa/pip/issues/4632

[2019-08-21 09:31] nullptr-leo commented on #24950
On CPU, exactly Intel Core i5 4460.

The paramters smaller than 1e-10 number:
**Pretrained:**
Zero-params number (eps=1e-10): 0
**After 100 epoch based on Pretrained:**
Zero-params number (eps=1e-10): 887824

When I set all parameters close to zero to exactly zero, the time cost are almost the same.
[code]

[2019-08-21 09:32] ezyang commented on #23656
Per https://github.com/pypa/pip/issues/6333 you can get the correct wheel if you use three equals signs:

[code]

[2019-08-21 09:39] ezyang commented on #13254
@Google1234 @hzxie could you please file a new issue and describe in more detail what compiler / cuda version you're building with

[2019-08-21 09:42] ezyang commented on #2575
By the way, the way I computed this list was by using Mikko's instructions from https://bugzilla.redhat.com/show_bug.cgi?id=1124987#c12

[2019-08-21 09:45] zhuj06 commented on #17796
before installation, you should write the PATH of your CUDA into the cmake path list, otherwise the cmake will not able to detect the direction of your CUDA and cause the problem shown above. thus you could use the code below to rewrite it. And it solved my crash, hope it could help you as well.
`cmake -D CUDA_TOOLKIT_ROOT_DIR=/usr/local/cuda-9.0`

[2019-08-21 09:52] YehudaItkin commented on #4207
Hi. That is the problem of your firewall. Just add --insecure flag, like that
`conda install --insecure  pytorch torchvision cudatoolkit=9.2 -c pytorch`

[2019-08-21 09:57] ezyang commented on #24450
cc @smessmer

[2019-08-21 09:58] ezyang commented on #24450
Can you check if #24464 solves your problem? (Will land master soon.)

[2019-08-21 09:58] andreaskoepf commented on #24950
Or better use `torch.set_flush_denormal(True)`, see [docs](https://pytorch.org/docs/stable/torch.html#torch.set_flush_denormal).

[2019-08-21 10:00] ezyang commented on #24859
Nightlies are already being generated for torchvision and torchaudio. For example, see https://anaconda.org/pytorch-nightly/torchvision/files

[2019-08-21 10:02] nullptr-leo commented on #24950
Yeah, the time cost almost the same too in this way.
It should be caused by the denormalized floats. Thanks.

[2019-08-21 10:02] ezyang commented on #15849
Tentatively bumping up priority due to activity

[2019-08-21 10:04] ezyang commented on #24933
Upgrading priority for some initial investigation. But based on your description, this might just be because `BCELoss(Sigmoid(x))` is just less numerically stable than `BCELossWithlogits`; this is a pretty common thing to happen with some fused operations. Did this work on 1.1 and stop working on 1.2?

[2019-08-21 10:04] ezyang commented on #24931
Yes let's stop checking it in. We'll need to macro our way to victory but it seems far preferable.

[2019-08-21 10:17] jaak-s opened #24961 "Require user to explicitly detach() when doing "a += b""
## 🚀 Feature
For a person not knowing the internals of Pytorch, the semantics of `a += b` are not fully obvious when both `a` and `b` require gradients. The proposal is to:
1. Raise an error when `a += b` is executed when both require gradients.
2. The error message should recommend to choose between `a += b.detach()` and `a = a + b`.

Thus, the idea is to require users to **explicitly** detach `b

[2019-08-21 10:24] ZaydH commented on #24326
FWIW, I also get this error on the code provided by @njellinas.  Below is a screen shot:

![image](https://user-images.githubusercontent.com/6292018/63424358-192e1400-c3c3-11e9-9e96-99b9b591e647.png)

[2019-08-21 10:35] ZaydH commented on #24326
I believe this issue may be related to PyCharm and not `torch` however.  I get the same linter warnings on even the `Module`'s base methods.  I added the line `dnn.forward(torch.rand((10,10)))` to your example and still get the warning.  See below.

![image](https://user-images.githubusercontent.com/6292018/63425135-bccbf400-c3c4-11e9-94bc-15a34856d3ab.png)

I will file a bug with JetBrains and se

[2019-08-21 10:36] heiner commented on #24912
Sorry Perfetto link seems to have broken? Here's another one: https://ui.perfetto.dev/#!/?s=f3afa3daddbcce6d695d8674cbdafe990c48515379d3aaea99826fb3bd1645

Here's a screenshot:
![image](https://user-images.githubusercontent.com/69371/63425006-82377b00-c407-11e9-8b5b-c56e07a954b3.png)

Here's a trace file for Perfetto / chrome://tracing https://gist.github.com/heiner/c812a38a338878f5c02f6193511afc6

[2019-08-21 11:06] njellinas commented on #24326
In pytorch version 1.0.1 it does not show this however.

[2019-08-21 11:12] ZaydH commented on #24326
@njellinas Good point.  I only saw these errors after upgrading to `torch` 1.2.0.  I submitted a [JetBrains case](https://youtrack.jetbrains.com/issue/PY-37601).  We'll see if they bounce  it back here.

[2019-08-21 11:34] ZaydH commented on #24326
@njellinas Another weird issue with `torch` ver. 1.2 in PyCharm is around the `Module`'s `cuda` method.  In versions of `torch` before 1.2, the `device` field could be empty, i.e.,  call `self.cuda()`. Now in `torch` 1.2, it reports the warning:

`Parameter 'device' unfilled`

This may or may not be related.  Depending on feedback, I may open another case for that.

[2019-08-21 11:49] andreaskoepf commented on #24846
If you pass `log_std` through the function `torch.exp()` a new tensor (btw no `Parameter` object) is created to store the result. This object is passed to the ctor of the `Normal` class and assigned to the `scale` member.

Changing the original `log_std` tensor has no effect on the result that was returned by `torch.exp()`. You could use the inplace version `torch.exp_()` (with underscore) but the

[2019-08-21 11:57] ZaydH opened #24962 "cuda() Method Warning in PyCharm"
## 🐛 Bug

## To Reproduce

Problem only happens with `torch` ver. 1.2.0.  It did not happened before that build.

Simple code snippet:

[code]

On the line `x.cuda()`, PyCharm returns the linter warning: `Parameter 'device' unfilled'.  See screenshot below.

![image](https://user-images.githubusercontent.com/6292018/63429862-1980dc00-c3d0-11e9-9008-e470b32316be.png)

## Expected behavior

No linte

[2019-08-21 11:58] ZaydH commented on #24962
If surrounding the type in `Optional` is acceptable to you as a solution, I can submit a PR.

[2019-08-21 12:26] ptrblck commented on #24891
Could you rerun the profiling via
[code]
and check if this would work?

[2019-08-21 13:06] VasLem commented on #24933
I have not tested it on 1.1, but I will if needed. If what you describe is the case, then shouldnt' `BCELossWithLogits` give out lower magnitude values that `BCELoss(Sigmoid(x))`, as it is more numerically stable? Even so, is it not weird that this behavior is not displayed during training, only during validation, where the context manager `with torch.no_grad()` is active?
I will test it on 1.1 la

[2019-08-21 13:41] saurav4098 commented on #23474
@BowenBao
 I was facing the same problem with avg_pool2d. I replaced it with Flatten.
But I am getting the below error while implementing the Flatten from symbol_opset9.py

Below is the method:
`def flatten(g, input, start_dim, end_dim):
    dim = input.type().dim()
    if end_dim < 0 :
        end_dim = dim + end_dim
    # use ONNX's Flatten operator for cases where the output shape is 2D
    if

[2019-08-21 13:41] zhangguanheng66 commented on #24930
In that case, the norm ops passed to the transformer_encoder is effectively none because L(L(x)) is equal to L(x) when L is is nn.LayerNorm.

Depending on the design of the TransformerEncoderLayer and TransformerDecoderLayer, a norm ops in the end could still be helpful.

[2019-08-21 13:43] zhangguanheng66 commented on #24859
Can we also have the nightlies for torchtext? :)

[2019-08-21 13:44] ahmed-fau commented on #24174
@XiaobingSuper  now it works :)
The library has been installed successfully and also the bug is gone, thanks so much for this great effort.

Before I close the issue, could you please let me know how to install cudatoolkit version 10? because pytorch is installed without cuda. I tried to export the environment variable `USE_CUDN=1` to `python setup.py install` but it didn't work. Also, for your in

[2019-08-21 14:25] XiaobingSuper commented on #24174
@ahmed-fau ,  you can try this command: `conda install cudatoolkit=10 -c pytorch`,  USE_CUDA and USE_MKLDNN  are falgs which can control whether cuda and mkldnn  be built in setup step, if you want to disable MKLDNN, you can use `USE_MKLDNN=0 python setup.py install`. Thanks!

[2019-08-21 14:33] ahmed-fau commented on #24174
Isn't applying this command will lead to installing pytorch with the old mkl which is buggy?

[2019-08-21 14:39] XiaobingSuper commented on #24174
Do you run this command before setup: `conda install -c pytorch magma-cuda90 # or [magma-cuda92 | magma-cuda100 ] depending on your cuda version`

[2019-08-21 14:47] ahmed-fau commented on #24174
I tried it before setup. Now I have the toolkit installed but it seems that torch still not enabled with cuda as `torch.cuda.is_available()` returns `False`

[2019-08-21 14:58] heiner opened #24963 "torch.cuda.synchronize blocks CUDA execution on other threads using other devices."
## 🐛 Bug

In a situation in which different Python threads execute CUDA operations on different devices, calling torch.cuda.synchronize blocks CUDA executions on all threads, including those on other CUDA devices.

## To Reproduce

1. `git clone https://gist.github.com/c812a38a338878f5c02f6193511afc6a.git cudasync`
2. `cd cudasync/`
3. `python cudasync.py` (produces trace file)

## Expected behavi

[2019-08-21 15:05] eellison commented on #24140
@wanchaol any luck ?

[2019-08-21 15:07] gchanan commented on #24931
I'm not sure why we need to macro our way to victory.

[2019-08-21 15:11] #24380 closed

[2019-08-21 15:16] jeremyasapp commented on #24930
I see your point, you're right that L(L(x)) is effectively L(x) but in practice it's still some extra computation in the forward and backward pass? That being said, I do understand that the motivation is that it adds flexibility for Transformer to pass down a layer norm in case a custom TransformerEncoderLayer does not have a layer norm at the end. I guess I would still argue that that the default

[2019-08-21 15:17] tharindu-mathew commented on #24948
So, torchvision then?

On Wed, Aug 21, 2019, 2:52 AM peterjc123 <notifications@github.com> wrote:

[2019-08-21 15:18] zhangguanheng66 commented on #16799
@hadeson Can you copy/paste your script so we can reproduce the error?
@houseroad @bddppq

[2019-08-21 15:19] zhangguanheng66 commented on #24953
@VitalyFedyunin

[2019-08-21 15:19] rsokl commented on #24961
PyTorch does not silently drop the gradient for `b` on in-place operations.

[code]
see that `b` does indeed have the appropriate gradient, even though it was introduced to the computational graph via augmented update.

[2019-08-21 15:26] zhangguanheng66 commented on #24958
@SsnL How do you feel the proposed?

[2019-08-21 15:27] peterjc123 commented on #24948
See my reply in https://github.com/facebookresearch/maskrcnn-benchmark/issues/1054

[2019-08-21 15:31] anshulpaigwar commented on #24918
I am facing a similar issue after I upgraded to pytorch 1.2.0

[2019-08-21 15:32] zhangguanheng66 commented on #24962
@VitalyFedyunin Will you accept the fix?

[2019-08-21 15:33] zhangguanheng66 commented on #24963
@VitalyFedyunin

[2019-08-21 15:37] jaak-s commented on #24961
You are right!
I stumbled on the comments in bug #9634 that give an opposite explanation. I'll close this bug for now.

[2019-08-21 15:37] #24961 closed

[2019-08-21 15:54] andreaskoepf commented on #24826
Could you elaborate what you are missing regarding `LayerNorm` as default normalization?
[TransformerEncoderLayer](
https://github.com/pytorch/pytorch/blob/c6fe864db3e17830bf12957a64e6fd579ddeffad/torch/nn/modules/transformer.py#L223) and [TransformerDecoderLayer](https://github.com/pytorch/pytorch/blob/c6fe864db3e17830bf12957a64e6fd579ddeffad/torch/nn/modules/transformer.py#L302) both use `LayerN

[2019-08-21 16:16] ezyang commented on #2575
https://gcc.gcc.gnu.narkive.com/vOXMQqLA/failure-to-dlopen-libgomp-due-to-static-tls-data has a very nice test program which you can use to check if your glibc is affected by this problem. I am able to see that in Trusty this program fails (pytorch-linux-trusty-py3.6-gcc5.4) but in Bionic (the host distro on my test machine) it does not.

[2019-08-21 16:16] izdeby commented on #24918
@anshulpaigwar, just FYI, this is intentional. You should update your code and get rid of these warnings as in the next release they will turn into errors once we drop support for uint8 masks and related.

[2019-08-21 16:43] SsnL commented on #24958
This is BC breaking in the way that currently you can construct the optimizer before moving the optimized tensors returned by the iterable (e.g., `net.parameters()` and `net.to('cuda')`), and the patch breaks it.

I know that we explicitly mentioned in doc that optimizers should always be constructed after moving parameters to different device/dtype. But I don't think that we should introduce BC b

[2019-08-21 16:45] pearu commented on #7416
Heads up: PR #24937 implements `select` (that `getitem` is using) and `index_select` for sparse tensors.

[2019-08-21 16:59] andreaskoepf commented on #24930
I think @jeremyasapp is right that passing a `LayerNorm` together with a `TransformerEncoderLayer` to the `TransformerEncoder` ctor is adding a redundant norm pass.

Since this is the code that specifically runs when no custom encoder or decoder is provided I think the `encoder_norm` and `decoder_norm` variables should be removed.

https://github.com/pytorch/pytorch/blob/c6fe864db3e17830bf12957a64

[2019-08-21 17:14] gchanan commented on #24851
right, "PyTorch device" or "PyTorch device type" seems like the right thing.

right, I'm just pointing out that when someone says "PyTorch backend" I don't know what they mean.

I don't really know the workflow that's being proposed.  I think it would help if there was a high-level proposal like:
[code]
or something like that.

[2019-08-21 17:29] mrshenli opened #24965 "Make queue_callback() work properly with reentrant backward"
Currently, `final_callbacks_` of an autograd engine is a vector shared by all backward passes on this engine.  The autograd engine [clears](https://github.com/pytorch/pytorch/blob/936632b120aafd2d12233c1096d9000fe9554b77/torch/csrc/autograd/engine.cpp#L666) final callbacks at the beginning of the backward call. With reentrant backward calls, the final callback enqueued by the original backward cal

[2019-08-21 17:29] mruberry commented on #24851
Right. I'll post a proposed solution to the issue tomorrow.

[2019-08-21 17:33] orionr commented on #24904
@as754770178, if you can paste in your complete code that would help us debug. Ultimately, though, based on the error, I think you are returning something non-standard from your `forward` method. You can only return tensors and tuples of tensors. I took a quick look at https://github.com/eriklindernoren/PyTorch-YOLOv3 and nothing obvious jumped out at me there.

[2019-08-21 17:34] TrentBrick commented on #24826
Re LayerNorm: Huh, sorry that I missed that. I guess I got confused by the fact that there is an option for further normalization in the "TransformerEncoder" and Decoder.

![image](https://user-images.githubusercontent.com/12433427/63453782-6dfb7a00-c417-11e9-927d-514777fdab61.png)

I don't think anything more needs to be implemented just better documentation on what people are and aren't getting.

[2019-08-21 17:36] mrshenli commented on #24005
Hey @jotterbach

Unfortunately, although the training does not crash anymore with #24800, it does not guarantee the numerical correctness, because the final callback I used to sync gradients does not work properly with reentrant backwards (backward in backward, as `checkpoint_sequential` does). We might need some change to the autograd engine to make it work. I created #24965 to track it, and will

[2019-08-21 17:39] JackWindows commented on #24927
@SsnL The stuck happens when we switch from train to eval and instantiating a new eval data loader iterator. If we disable `pin_memory`, then the issue goes away but we suffer from the following performance issue:

We have also observed that `pin_memory=False` leads to very slow data loading in the pytorch main process.
After examining code, I found a possible explanation:
a) `worker_result_queue.

[2019-08-21 17:59] dashesy commented on #2486
Also asked [here](https://github.com/pytorch/vision/issues/720).
I wanted to take some `torchvision.models` and break them into featurizer + extra layers, but because there is a reshape required before FC layer I will have to know that for example this is [torchvision.models.resnet34](https://github.com/pytorch/vision/blob/master/torchvision/models/resnet.py#L207) that does a reshape in its forwar

[2019-08-21 18:06] #24958 closed

[2019-08-21 18:07] Santosh-Gupta commented on #24958
@SsnL should it be the adagrad optimizer's code that should be changed then?

[2019-08-21 18:09] BowenBao commented on #23474
Hi @saurav4098, is your model the same one(HRNet) in this issue?
In your case it seems the shape information for `input` is unknown, try substitute `flatten` with `reshape` to provide the shape info.

[2019-08-21 18:21] raghuramank100 opened #24966 "torch.qscheme should be pickle-able"
Attempting to save a model with torch.save(), without using a state_dict leads to the following error:

5 torch.save(myModel,'/data/users/raghuraman/logs/quantized_resnext.pt')
      6
      7 # Script and serialize Does not work with mode@opt

/mnt/xarfuse/uid-172846/aaeaca24-ns-4026531840/torch/serialization.py in save(obj, f, pickle_module, pickle_protocol)
    222         >>> torch.save(x, buf

[2019-08-21 18:25] aazzolini commented on #24920
I believe this is pretty much what the pytorch custom storage reducer is currently doing in the ForkingPickler. Depending on the type of shared_memory it will do either what you described or filename if that method has been chosen.

[2019-08-21 18:31] SsnL commented on #24927
The slowdown is indeed undesirable. Could you open a new issue for that? We can probably implement something to speed that up.

You can already do that though.

[code]

[2019-08-21 18:31] mrshenli commented on #24005
@jotterbach Before #24965 and #24800 are addressed, you could try the following temporary solution (instead of using DDP) to get unblocked:

1. Each process run forward locally.
2. Each process run backward locally.
3. All processes use [c10d `all_reduce`](https://github.com/pytorch/pytorch/blob/da10614c3b654beea1106415ad9e3efc541f4d48/torch/distributed/distributed_c10d.py#L868) to collectively re

[2019-08-21 18:32] SsnL commented on #24966
`torch.qscheme` should probably be pickle-able. But please save the state_dict instead.

[2019-08-21 18:33] yaroslavvb commented on #6305
Related https://github.com/pytorch/pytorch/issues/12760

[2019-08-21 18:40] SsnL commented on #9634
The above explanation is misleading. One should be able to backprop through inplace ops. The following script works correctly on a master build:
[code]

[2019-08-21 18:42] OscarSoto6 commented on #8103
Thanks, finally it works for me on a Jetson tx2 using ESPNet V.2 for semantic segmentation

[2019-08-21 18:44] wanchaol commented on #24140
https://github.com/pytorch/pytorch/pull/24967 should fix this

[2019-08-21 18:51] hartb opened #24968 "test failures in test_numba_integration"
## Issue description

With PyTorch 1.2.0 I'm seeing a couple of the test_numba_integration tests fail:

- `test_from_cuda_array_interface_lifetime` fails at the first assert:

[code]

- `test_from_cuda_array_interface_active_device` fails at the equivalent assert, but would otherwise fail at a following assert when an expected RuntimeError is _not_ raised:

[code]

One of these failures in `test_f

[2019-08-21 18:53] #24865 closed

[2019-08-21 19:35] zhangguanheng66 commented on #24968
@madsbk do you think you could take a look?

[2019-08-21 19:40] yf225 opened #24982 "sccache version in OSS CI is too old"
The `sccache` used in OSS CI is based on https://github.com/yf225/sccache, which is outdated (circa. mid-2018) and missing some important fixes on upstream (e.g. https://github.com/mozilla/sccache/issues/248). The correct steps to fix this would involve:

- [ ] Pull upstream changes into https://github.com/yf225/sccache, and build our own copy.
- [ ] Upstream our patch for NVCC support to official

[2019-08-21 19:45] Magnetar99 opened #24983 "Segmentation Fault on the latest pytorch with cuda 10.1"
Thread 1 "python" received signal SIGSEGV, Segmentation fault.
0x00007fffc36857d8 in ?? () from /usr/local/cuda/lib64/libcudart.so.10.1
(gdb) where
#0  0x00007fffc36857d8 in ?? () from /usr/local/cuda/lib64/libcudart.so.10.1
#1  0x00007fffc368bb01 in ?? () from /usr/local/cuda/lib64/libcudart.so.10.1
#2  0x00007fffc367e98e in ?? () from /usr/local/cuda/lib64/libcudart.so.10.1
#3  0x00007fffc367f00

[2019-08-21 20:10] JackWindows opened #24984 "DataLoader slow down when `pin_memory=False`"
## 🐛 Bug

We have also observed that `pin_memory=False` leads to very slow data loading in the pytorch main process.
After examining code, I found a possible explanation:
a) `worker_result_queue.get()`(type `torch.multiprocessing.Queue`)  is much slower (40~100ms) compared to `data_queue.get()` (type `torch._six.queue`, takes <5ms).
b) When `pin_memory=True`, there is a back ground thread moving d

[2019-08-21 20:11] JackWindows commented on #24927
@SsnL I have opened #24984 for the `pin_memory=False` slow down issue.

For your suggestion about transferring tensors to GPU in worker process, I don't think it will solve the slow down issue, as the pickle/unpickle is still conducted when moving data in multiprocessing queues.

[2019-08-21 20:30] zhangguanheng66 commented on #24984
@fmassa any thought?

[2019-08-21 20:31] zhangguanheng66 commented on #24983
Can you send us some scripts to reproduce the error?

[2019-08-21 20:33] JackWindows opened #24985 "Data worker should fetch a sample instead of a batch."
## 🚀 Feature

In multiprocess data loader, each data worker should fetch a sample instead of fetching a batch. (for `MapDataset` type)

## Motivation

1. Data workers will focus more on front part of the data queue, making the immediate needed batch faster to return. For example, when instantiating a new data loader iterator with batch size 2 and sampling sequence `[[1, 2], [3, 4]]`, there will be

[2019-08-21 20:39] ezyang commented on #24982
We should build our own copy with our patches in the meantime while waiting for the patches to upstream

[2019-08-21 20:48] ezyang commented on #24965
Yes, this sounds wrong to me. A fix would be appreciated.

[2019-08-21 20:50] ezyang commented on #24931
My idea is that mobile would have a copy of Tensor.h but it just wouldn't have any methods on it.

[2019-08-21 20:51] ezyang commented on #24859
Sure, just copy paste the code accordingly ;)

[2019-08-21 20:51] ezyang commented on #24933
I am not familiar with these operations so you may very well be right.

[2019-08-21 21:12] eellison opened #24987 "[JIT] "cannot instantiate class object" error does not print out stacktrace"
## 🐛 Bug

"Cannot instantiate class object" error does not print out the stacktrace or the location of the error. This occurs when attempting to use `OrderedDict`, among other things.

## To Reproduce

[code]

  File "test/test_jit.py", line 14478, in test_ignore_class
    t = torch.jit.script(TestModule())
  File "/home/eellison/local/miniconda/envs/ninja/lib/python3.7/site-packages/torch/jit/__i

[2019-08-21 21:18] suo commented on #2575
Summarizing what I've learned so far. I may be wrong about any of these things, so please correct/take with a grain of salt.

glibc has a table called the DTV. There is a slot for every `dlopen`'d library.  Its use is not important for this discussion.

The DTV is resizable. However, in older versions of glibc, adding a library with static TLS will *not* resize the DTV, but do a conservative check

[2019-08-21 21:24] ezyang commented on #2575
@suo You're very close. I too have been looking into the issue. Let me give some corrections:

It's not "14 libraries of any kind". You can observe this empirically by dlopen'ing a bunch of libraries and then querying their DTV number using `dlinfo(handle, RTLD_DI_TLS_MODID, &modid)`. What you will find is that you only get a DTV entry *if you contain thread local state*. Libraries with zero threa

[2019-08-21 21:30] ezyang commented on #2575
A few takeaways from this:

1. As long as PyTorch has a dependency on `libgomp.so` with static TLS, there is *literally nothing we can do* if some of our users decide to import a bunch of third-party libraries that have dynamic TLS, without importing libgomp. They'll gobble up all of the DTV space and libgomp will fail. Note that we exacerbate the problem by depending on libraries ourselves which

[2019-08-21 21:31] eellison commented on #24369
Closed with https://github.com/pytorch/pytorch/pull/24412

[2019-08-21 21:31] #24369 closed

[2019-08-21 21:36] sidazhang opened #24988 "Missing libfoxi"
## 🐛 Bug

[code]
Is libfoxi perhaps moved somewhere else?

## To Reproduce
I built from this diff on Pytorch master:

1efdf57aa7bc9f085c8d7ae569e0463d9463c8d5

[2019-08-21 21:37] suo commented on #24988
@houseroad, if you have a sec, can you take a look?

[2019-08-21 21:39] sidazhang commented on #24988
After I built, it seems like libfoxi is not there in torch/lib

[code]

[2019-08-21 22:06] suo commented on #2575
One additional takeaway: this issue was fixed by a 2014 [glibc patch](https://sourceware.org/git/?p=glibc.git;a=commit;h=f8aeae347377f3dfa8cbadde057adf1827fb1d44). This patch is in the glibc distributed with Xenial.

Trusty is considered unsupported by Ubuntu (the LTS commitment expired in April of this year). We are also removing trusty from our CI (cc @jamesr66a). So if you want this problem to

[2019-08-21 22:10] rgommers commented on #18398
Thanks @gujinghui. I've tested your branch and that all looks good. Builds with `USE_EIGEN_FOR_BLAS=ON, USE_MKL=OFF, USE_MKLDNN=ON, USE_OPENMP=ON`, and
[code]
are both gone indeed.

[2019-08-21 22:48] hadaev8 opened #24991 "[Feature request] Add support for selu activation to calculate_gain function."
## 🚀 Feature

Add support for selu activation to calculate_gain function.

https://pytorch.org/docs/stable/_modules/torch/nn/init.html#calculate_gain

cc @albanD @mruberry @SsnL

[2019-08-21 22:52] ElegantLin commented on #23720
I also met this problem. The same warning message and finally it ended with
[code]

I also used `NCCL_INFO`. It looked normal before.

[2019-08-21 23:42] pdlive215 commented on #24504
The implementation of circular padding is already a bit of a workaround. It's implemented in Python rather than in `torch/csrc`, and it's not defined in `nn.modules.padding`. I have submitted a PR to fix this specific issue, but I think it would make sense going forward to add a proper C++ implementation of circular padding defined in `nn.modules.padding` (and then to remove the workaround Python

[2019-08-22 00:03] ljk53 commented on #24931
@gchanan @ezyang - just FYI I've already updated xplat/caffe2/BUCK to build aten & torch with all the codegen stuff. If the original concern to check in Tensor.h was due to codegen then it's not the case any more :)

[2019-08-22 00:18] wwoods commented on #20124
Like @apaszke, I'm wondering why this change happened?  It is a rather busy-body change that does not improve user-facing pytorch code in any way, as far as I can tell.  Furthermore, this complains about perfectly fine code which called `step(epoch)` explicitly, rather than relying on `last_epoch` in the `_LRScheduler` code.  It now issues a warning incorrectly: `step(0)` being called prior to the

[2019-08-22 00:32] jiapei100 opened #25002 "Build pytorch from source: third_party package ERRORs..."
Hi, all:

Trying to build Pytorch via cmake, but failed with the following ERROR messages:

[code]

However, I do have

[code]

Any suggestions please?

[2019-08-22 00:39] jiapei100 opened #25003 "How to use manually installed third_party libraries, instead of recursive third_party?"
Some of the packages **have been manually installed** on the system. How to build **everything** based on existing packages, instead of the **recursively checked out** third_party libraries?

For instance: **pybind11** ???

[2019-08-22 00:47] jasjuang opened #25004 "[C++] Call find_package(Torch REQUIRED) more than one time in downstream project causes CMake configuration error"
## 🐛 Bug

Please see below minimal code to reproduce the problem

CMakeLists.txt
[code]

main.cpp
[code]

## Expected behavior

After

[code]
CMake Error at /usr/share/cmake/Caffe2/public/mkl.cmake:3 (add_library):
  add_library cannot create imported target "caffe2::mkl" because another
  target with the same name already exists.
Call Stack (most recent call first):
  /usr/share/cmake/Caffe2/Caff

[2019-08-22 01:14] vishwakftw commented on #2500
Closing as this is outdated.

[2019-08-22 01:14] #2500 closed

[2019-08-22 01:15] peterjc123 commented on #25002
Please try `git submodule update --init --recursive`.

[2019-08-22 01:16] vishwakftw commented on #3205
Closed by #23460

[2019-08-22 01:16] #3205 closed

[2019-08-22 01:16] peterjc123 commented on #24982
@yf225 Any plan to rebuild the sccache?

[2019-08-22 01:18] yf225 commented on #24982
@peterjc123 Yes I am planning to rebuild it. Is there anything I should watch out for regarding Windows build?

[2019-08-22 01:19] vishwakftw commented on #3910
I believe we support `.contiguous()` for half Tensors now, closing in view of this.

[2019-08-22 01:19] #3910 closed

[2019-08-22 01:23] peterjc123 commented on #24982
@yf225 Nope, I guess the build [guide](https://github.com/mozilla/sccache#windows) in the official repo should be enough.

[2019-08-22 01:41] peterjc123 commented on #24859
@ezyang Isn't torchtext a Python-only package?

[2019-08-22 02:05] peterjc123 commented on #24862
If `UNICODE` isn't introduced by `Windows.h`, then I don't think it is a general issue. And as you said, `#undef UNICODE` solves the issue and that's it.

[2019-08-22 02:05] #24862 closed

[2019-08-22 02:14] HapeMask commented on #24862
@peterjc123 I apologize for making things muddy by including the UNICODE example but please see the linked gist. Those compile errors are entirely unrelated to UNICODE and occur simply by trying to compile the example code I gave.

The UNICODE issue can be worked around on our end so in that sense it’s fine to leave this closed I suppose, but I just wanted to make it clear that there are real comp

[2019-08-22 02:22] hadeson commented on #16799
I was trying to convert this  [Pytorch implementation](https://github.com/lernapparat/lernapparat/blob/master/style_gan/pytorch_style_gan.ipynb) of StyleGAN. Below is the conversion code:
[code]
Note that I also had another conversion error with this line in NoiseLayer:
`noise = torch.randn(x.size(0), 1, x.size(2), x.size(3), device=x.device, dtype=x.dtype)`
which I bypassed by replacing with zero

[2019-08-22 02:23] iuhiyuh commented on #24905
I have the same problem.
`#include <torch/script.h> // One-stop header.

#include <iostream>
#include <memory>

int main(int argc, const char* argv[]) {
  if (argc != 2) {
    std::cerr << "usage: example-app <path-to-exported-script-module>\n";
    return -1;
  }

  // Deserialize the ScriptModule from a file using torch::jit::load().
  torch::jit::script::Module module;
  try{
    module = torch

[2019-08-22 02:24] iuhiyuh commented on #24905
I have the same problem.
[code]

[2019-08-22 02:26] iuhiyuh commented on #24905
I have the same problem.
[code]

[2019-08-22 02:41] iuhiyuh commented on #24905
update gcc version from 4.8 to 4.9.

[2019-08-22 02:41] iuhiyuh commented on #24905
update gcc version from 4.8 to 4.9.  solved it.

[2019-08-22 02:49] peterjc123 commented on #24862
I tried and this issue occurred, but it can be easily resolved if you define `NOMINMAX` before including `Windows.h`.

[2019-08-22 02:52] XSeanLiu commented on #24905
@iuhiyuh  fine, thanks
solved it with gcc 6.5

[2019-08-22 02:52] #24905 closed

[2019-08-22 02:54] MrWwei commented on #15426
@jinfagang How did you finally solve the problem? I have the same problem.

[2019-08-22 02:55] SsnL commented on #24985
This came up before. `collate_fn` often copies the most of the data, so it requires major consideration if we consider having it run in main process. If you are willing to take the performance hit, why wouldn't you just use a wrapper around the dataloader? It could be the iterable dataset hack you used, or something much simpler:
[code]

[2019-08-22 03:49] xingchensong commented on #12166
hi, i  meet the same issue, my solution is :
try
`ps aux|grep python`
and then
`kill -9 PID`
be sure that kill process **in order**

[2019-08-22 04:18] #24821 closed

[2019-08-22 04:36] XSeanLiu opened #25009 "why libtorch is slower than caffe"
## When I run libtorch on server , it is slower than caffe which convert from pytorch

### 33ms libtorch vs. 19ms caffe
### gpu memory: 1079M libtorch vs. 581M caffe

so I want to know anyone has the same situation?

is my libtorch configure wrong?
any suggestion to run libtorch correctly?

my gcc version is gcc 6.5

[2019-08-22 04:40] sublee commented on #24891
@ptrblck It has done without `RuntimeError` on PyTorch 1.2.0 and NVIDIA Nsight Systems version 2019.3.6.30-e2e891f.

[2019-08-22 04:41] rwightman opened #25010 "Very high CPU utilization with pin_memory=True and num_workers > 0"
## 🐛 Bug
There seems to be an issue with CPU utilization when using a DataLoader with pin_memory=True and num_workers > 0.

I revisited some old code that had `pin_memory=True` and two workers that weren't doing all that much. It pinned all of my CPU cores at or near 100%, with 40-50% of the usage in the kernel.  I've had performance issues with pinned memory in the past, but never to this level.

[2019-08-22 04:51] rwightman commented on #25010
I ran quick kernel trace and observed very different behaviours when pin_memory=True vs False with 1 worker in both cases.

For the `pin_memory=True` case, the Python processes spend a lot of time rapidly repeating a pattern where they get scheduled then quickly yield, they do this across all of the CPU cores, see below. In the case where `pin_memory=False` each PID gets a much longer slice of tim

[2019-08-22 05:41] XSeanLiu commented on #19563
@xiaoLiuxiaoLiuxiaoLiu  maybe you did not get a right config
I have tested the libtorch and pytorch-python, they are almost the same, but much slower than caffe

[2019-08-22 05:52] MrWwei commented on #15426
@goldsborough Follow your advice. I deleted 'auto img_var = torch::autograd::make_variable(img_tensor, false);' It works.
@jinfagang 但是我的标签输出总是不变，如下（测试图片是披萨）：
(python3.6) em@B-WEIWENTAO:/data1/C/torchlib_learn/build$ ./example-app ../traced_resnet_model.pt ../pizza.png ../synset_words.txt
libpng warning: iCCP: known incorrect sRGB profile
ok
-0.7298 -0.0988  0.2737  0.5717  0.8904  0.5974  0.4898

[2019-08-22 05:55] #15426 closed

[2019-08-22 06:24] ZacBi opened #25013 "wrong results of torch.argsort()"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior
torch.argsort(a) sholud be:
[code]

## Environment

PyTorch version: 1.2.0
Is debug build: No
CUDA used to build PyTorch: 10.0.130

OS: Ubuntu 18.04.3 LTS
GCC version: (Ubuntu 7.4.0-1ubuntu1~18.04.1) 7.4.0
CMake version: Could not collect

Python version: 3.6
Is CUDA available: Yes
CUDA runtime version: Could

[2019-08-22 06:58] bnehoran opened #25014 "Benchmark cuDNN affine_grid_generator vs native"
Similarly to https://github.com/pytorch/pytorch/issues/24470, the cuDNN `affine_grid_generator` should be benchmarked against the native CUDA version.

The dispatch to cuDNN for `affine_grid` was disabled in https://github.com/pytorch/pytorch/pull/24929, but it's good to verify that performance hasn't notably regressed.

I wouldn't advocate for re-enabling the dispatch to cuDNN for `affine_grid` i

[2019-08-22 07:52] marcoippolito opened #25015 "Cannot generate a safe runtime search path for target torch because files in some directories may conflict with libraries in implicit directories"
In Ubuntu 18.04.02 Desktop I'm trying to install pytorch from source:

    marco@marco-U36SG:~$ git clone --recursive https://github.com/pytorch/pytorch
    Cloning into 'pytorch'...
    remote: Enumerating objects: 35, done.
    remote: Counting objects: 100% (35/35), done.

    marco@marco-U36SG:~/pytorch$ git submodule sync
    marco@marco-U36SG:~/pytorch$ git submodule sync
    Synchronizing s

[2019-08-22 08:05] pearu commented on #24931
I was hit by the same issue in PR #24937 .
For debugging it, here's an implementation of showing the diff of nonmatching files:
https://github.com/pytorch/pytorch/pull/24937/files#diff-76aa8cb3d0fad99c5f761d08cbcb4d19R372

[2019-08-22 08:15] danielcrane opened #25016 "torch.max() inconsistent behaviour with NaNs"
## 🐛 Bug

When using `torch.max()` between two tensors where one tensor contains nans, the result varies depending upon the order of input into `torch.max()`.

## To Reproduce

[code]
Returns:
[code]

## Expected behavior

I'd expect the output to be consistent in both cases.
i.e. `torch.max(x, y) = torch.max(y, x)` in all cases.

My personal preference would be as in the above case of `torch.max(

[2019-08-22 08:22] andreaskoepf commented on #25013
The argsort output seems to be correct.

Please check the docs of [argsort](https://pytorch.org/docs/stable/torch.html?highlight=argsort#torch.argsort): "Returns the indices that sort a tensor along a given dimension in ascending order by value"

[code]

[2019-08-22 08:32] peterjc123 commented on #24859
I tried to trigger a nightly job for torchvision on Windows. The conda jobs passed, while the wheels jobs are currently blocked by https://github.com/pytorch/pytorch.github.io/pull/244/files#r316548499. However, the biggest question is that on which machines are we going to build the binaries with. Are we going to rely on the hosted agents of the online CI or our own agents? The latter way is curr

[2019-08-22 08:45] MikhailPxl commented on #24237
I found a way to not use std::thread in my application, so this is not a problem for me anymore.

[2019-08-22 09:14] andreaskoepf commented on #25013
Maybe there is a simpler way, but to get order of elements you could scatter the column-indices, something like:

[code]

[code]

[2019-08-22 09:47] andreaskoepf commented on #25016
The problem is that all comparisons with `nan` always return `False` - `even float('nan') == float('nan')`. For `max` the `nan` case is not specially handled. It is simply does `a < b ? b : a` (or in Python `b if a < b else a`).

btw this behavior seems to be consistent with standard Python:

[code]

[2019-08-22 10:19] andreaskoepf commented on #25009
dupe of #19563 ? If you want to report a bug please use the issue template (e.g. it is unclear what model you use, how to reproduce the problem, pytorch, cuda version and hardware you have on your server. Do you run the benchmarks on the same machine etc.).

[2019-08-22 10:35] saurav4098 commented on #23474
Hi @BowenBao, thanks for the quick reply.

No, I am working with  resnet-101 model.
I used "View" inplace of flatten and this time I am not getting any error. But I am not getting desired result with:
`np.testing.assert_almost_equal(pred,orig,decimal=3)` . Onnx shows **View**  got replaced by **onnx::Constant** .

Again I tried using avg_poo2d with custom class:
[code]
Now I am getting:
 **Runtime

[2019-08-22 11:12] ZaydH commented on #24962
@VitalyFedyunin I issued a PR for this.  If you are disagree, feel free to reject or propose an alternative

[2019-08-22 11:25] andreaskoepf commented on #25016
Behavior of other libs:

[numpy.maximum()](https://docs.scipy.org/doc/numpy/reference/generated/numpy.maximum.html): "If one of the elements being compared is a NaN, then that element is returned. (..) The net effect is that NaNs are propagated."

[cuda fmax()](https://docs.nvidia.com/cuda/cuda-math-api/group__CUDA__MATH__SINGLE.html#group__CUDA__MATH__SINGLE_1g6e7516db46be25c33fb26e203287f2a3): "

[2019-08-22 11:47] andreaskoepf commented on #25016
For tensors itself NaNs are already propagated, see
https://github.com/pytorch/pytorch/blob/789f4ad87b0f57c94798e228fa48dd664dcddadf/aten/src/TH/generic/THTensorMoreMath.cpp#L164-L170

[code]

[code]
The element-wise functions should replicate this.

[2019-08-22 12:30] andreaskoepf commented on #25016
Source refs to relvant element-wise functions:

CPU: https://github.com/pytorch/pytorch/blob/789f4ad87b0f57c94798e228fa48dd664dcddadf/aten/src/TH/generic/THTensorMoreMath.cpp#L305-L327

CUDA: https://github.com/pytorch/pytorch/blob/789f4ad87b0f57c94798e228fa48dd664dcddadf/aten/src/THC/generic/THCTensorMathPointwise.cu#L111-L177

and:
https://github.com/pytorch/pytorch/blob/789f4ad87b0f57c94798e228

[2019-08-22 12:52] XiaobingSuper commented on #24174
@ahmed-fau , Can you use `whereis cuda` see which cuda is used, and also see the cuda version whether correspond with your command used in setup: `conda install -c pytorch magma-cuda90 # or [magma-cuda92 | magma-cuda100 ] depending on your cuda version`?

[2019-08-22 13:00] ahmed-fau commented on #24174
@XiaobingSuper  from `conda list`, I can see `cudatoolkit               10.1.168                      0    anaconda` to be installed. The only thing is to make the torch library aware of this. Shall I apply `python setup.py build` to rebuild in the presence of cuda?

[2019-08-22 13:04] Penn000 opened #25019 "cuda runtime error (60)"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

hi, when I change gpu ids from [0, 1] to [0, 1, 2, 3] to run my program, it arises `

[2019-08-22 13:09] ZacBi commented on #25013
Sorry I misunderstand the doc of torch.argsort(), I thought the element of tensor returned should be its order along the given dimension.

[2019-08-22 13:09] #25013 closed

[2019-08-22 13:13] XiaobingSuper commented on #24174
I also test using conda install cudatoolkit 10, but the build step always find the system cuda(9.0), so we should find a method to make pytorch build using the cuda installed by conda.

[2019-08-22 13:19] aalhaimi commented on #21402
@kingaza, I'm using `torch 1.2` at the moment.. This problem is fixed if you export the model using the tracing method `torch.jit.trace(model, example_input)`. Just make sure you set your model to `model.eval()` mode before tracing.

However, I'm still seeing the same issue when using the annotation method of exporting models `torch.jit.script(model)`. Trying to figure out how to set `eval()` mode

[2019-08-22 13:22] ahmed-fau commented on #24174
OK, I think the best then is to use two virtual environments: one with pytorch installed by conda with cudatoolkit (then the mkl bug will exist), and another one with pytorch installed from the source without cuda enabled. Will keep this temporary solution until installing torch by conda includes also the mkl bugfix.

Thanks again for this complete support. I will close the issue now.

Best regard

[2019-08-22 13:22] #24174 closed

[2019-08-22 13:23] aalhaimi commented on #21402
nvm, got it to work in annotation method as well.. Just had to add `model.eval();` after loading the model in C++.

[2019-08-22 13:24] XiaobingSuper commented on #24174
@ahmed-fau , thanks, we are now have a PR https://github.com/pytorch/pytorch/pull/22910 to sovle this problem.
`

[2019-08-22 13:32] XiaobingSuper commented on #23763
We have PR https://github.com/pytorch/pytorch/pull/22910 to upgrade MKLDNN, which can solve this problem. Thanks!

[2019-08-22 13:33] XSeanLiu commented on #25009
@andreaskoepf  thanks very much, I have found this issue #19563 , but I think may be difference.

we have designed a nn with the backbone of senet.

the system is centos 7.4, with gcc 6.5 and cuda 10.0 with cudnn 7.5.1, and the pytorch is 1.2.0

I think you can train a pytorch with the backbone of senet, and then find an caffe prototxt of senet, and then convert this pytorch model file to caffemod

[2019-08-22 13:35] danielcrane commented on #25016
I totally agree with the sentiment that they should be symmetric, from a mathematical perspective it feels really odd for a max function to be asymmetric, and in this specific case it could cause indeterminism in parallel code where processing order isn't guaranteed.

[2019-08-22 13:37] andreaskoepf commented on #24991
@hadaev8 Do you know what the correct value has to be?

@t-vi reported last year a gain-value of 0.75 for selu was stable for him, see forums: https://discuss.pytorch.org/t/calculate-gain-tanh/20854/7

If I just look empirically at the std-gain I get the following numbers:

[code]

If somebody is familiar with the relevant theory it would be great if he or she gave a hint how the numbers in `calcu

[2019-08-22 13:41] hadaev8 commented on #24991
@andreaskoepf sorry, have no idea how this values work.

[2019-08-22 13:52] SsnL commented on #25010
I propose to `torch.set_num_threads(1)` in memory pinning thread, just like what we do for the workers.

[2019-08-22 14:04] mrshenli commented on #24252
Hey @xush6528 can you sync with @zhaojuanmao on the plan for this issue? We might need to postpone this work until we have a working version of distributed autograd.

[2019-08-22 14:09] zhangguanheng66 commented on #24859
@peterjc123 torchtext is a python-only package now. However, there is a PR for C++ extension (basic_english_normalize function), and we plan to have a C++ dictionary this half (depending on the results of sentencepiece binding)

[2019-08-22 14:38] #23218 closed

[2019-08-22 14:43] gchanan commented on #24931
@ljk53 that's great!  Let me try throwing up a patch that gets rid of the src checkin.

[2019-08-22 14:50] hartb commented on #24968
Confirming that https://github.com/pytorch/pytorch/pull/25017 fixes the problem for me. Thank you!

[2019-08-22 15:00] pbelevich commented on #15513
Tested #18631 with cuDNN 7.6.0 - no difference

[2019-08-22 15:04] zhangguanheng66 commented on #24968
Thanks. I will close the issue. Feel free to re-open it if you still have any questions.

[2019-08-22 15:04] #24968 closed

[2019-08-22 15:19] andreaskoepf commented on #24991
I can confirm the results reported by user jpeg729 and Thomas in the forums: https://discuss.pytorch.org/t/calculate-gain-tanh/20854/4 Their gain test-script is really nice and shows that the gradient can behave very differently from the layer activations .

Output of the test-script (100 layer deep net):

[code]

Regarding my code: 0 should be taken as the reference of the variance calculation si

[2019-08-22 15:19] #22970 closed

[2019-08-22 15:28] ifedan commented on #25003
Please use https://discuss.pytorch.org (https://discuss.pytorch.org/) for questions. Please kindly feel encouraged to reopen this issue, if this does not apply.

[2019-08-22 15:28] #25003 closed

[2019-08-22 15:29] andreaskoepf commented on #25019
How many GPUs are you using? You might want to google for "CUDA_ERROR_TOO_MANY_PEERS".

From the [nvidia forum](https://devtalk.nvidia.com/default/topic/970010/cuda-programming-and-performance/cuda-peer-resources-error-when-running-on-more-than-8-k80s-aws-p2-16xlarge-/post/4994583/#4994583):

"The CUDA peer-to-peer system can use a maximum of 8 GPUs in a peer-to-peer (P2P) ensemble.

Since K80 con

[2019-08-22 15:31] ifedan commented on #25002
Try the solution preposed by @peterjc123. For now, I will close this issue, but feel encouraged to reopen this issue, if this does not apply.

[2019-08-22 15:31] HamsterHuey commented on #2260
Can this issue be re-opened as a Feature Request in the issue tracker? It would be nice to have a reference implementation in Pytorch that installs correctly and portably rather than relying on 3rd party libs that each have different build requirements. Deformable convs definitely seem to provide a decent boost in performance in various computer vision tasks and it would be nice to be able to util

[2019-08-22 15:32] ifedan commented on #24985
Try the solution preposed by @SsnL . For now, I will close this issue, but feel encouraged to reopen this issue, if this does not apply.

[2019-08-22 15:35] lanpa commented on #24904
`RuntimeError: Only tensors or tuples of tensors can be output from traced functions `
@as754770178 Can you cut the model in half and see if the graph can be traced without error? With binary search, you can help us locate the exact location of the operator easily.

[2019-08-22 15:37] yaysummeriscoming commented on #15513
@pbelevich, I was able to reproduce the speedup on depthwise convolution, but only saw ~10% on MobileNet V2.  Did you use FP16 and a Volta or Turing card?

Here is the PR where this feature was implemented.  It includes some test code you can use for benchmarking:
https://github.com/pytorch/pytorch/pull/22302

[2019-08-22 15:38] ifedan commented on #25015
Please try git submodule update --init --recursive.

[2019-08-22 15:39] ifedan commented on #25015
Please use https://discuss.pytorch.org (https://discuss.pytorch.org/) for questions. Please kindly feel encouraged to reopen this issue, if this does not apply.

[2019-08-22 15:39] #25015 closed

[2019-08-22 15:40] ifedan commented on #25019
Please use https://discuss.pytorch.org (https://discuss.pytorch.org/) for questions. Please kindly feel encouraged to reopen this issue, if this does not apply.

[2019-08-22 15:40] #25019 closed

[2019-08-22 15:42] hjalmarlucius opened #25028 "torch.nn.ReLU forced inplace=True"
## 🐛 Bug

`torch.nn.ReLU.__init__` rejects `inplace=True/False` parameter.

## To Reproduce

`act = torch.nn.ReLU(10, inplace=False)`

yields:
`TypeError: __init__() got multiple values for argument 'inplace'`

## Environment

Running pytorch 1.2.0 on Ubuntu Linux 18.04 and CUDA 10, installed via conda.

cc @SsnL

[2019-08-22 15:53] #25002 closed

[2019-08-22 15:54] broukema commented on #9310
The claim at #9204 is that updating `cmake` to version 3.14 solves the problem. I haven't tested
this because I'm on `Debian/stretch` and cmake-3.14 is [not yet in debian](https://tracker.debian.org/cmake) as of 2019-08-22.

My problem is not with pytorch - this seems to be a cmake bug, but the person who said that 3.14 solves the bug didn't point to the cmake bug report to make it easy for people

[2019-08-22 15:55] SneachChea opened #25030 "torch.multinomial samples same elements multiple times when replacement=False"
## 🐛 Bug

Sometimes a sampled index is drawn multiple time in a row even if replacement=False on `torch.multinomial`. This happens when an element of `input` is very small but not zero.

## To Reproduce

Steps to reproduce the behavior:
Here is a minimal working example:
[code]
.

## Expected behavior

Raise an error because one element of `input` is almost zero.

## Environment

PyTorch version:

[2019-08-22 15:58] ifedan commented on #25028
Based on docs https://pytorch.org/docs/stable/nn.html?highlight=relu#torch.nn.ReLU it supports only one argument 'inplace'.

[2019-08-22 15:58] #25028 closed

[2019-08-22 16:01] yf225 commented on #24120
@jerry73204 Links on pytorch.org are fixed as well.

[2019-08-22 16:01] #24120 closed

[2019-08-22 16:03] ThibaultGROUEIX commented on #19739
A quick fix that worked for me : `pip install open3d-python==0.5.0.0`

[2019-08-22 16:28] kikiloverafa commented on #24853
I am going to switch back to Pytorch 1.1.0 for now. Would you please let us know when this issue is fixed?

[2019-08-22 16:52] rrkarim commented on #24081
Is this one relatable: #1637? The solution: https://github.com/pytorch/pytorch/issues/1637#issuecomment-338268158

[2019-08-22 17:00] rwightman commented on #25010
@ssnl The workers are separate processes, pin_memory a thread. Doesn't set_num_threads impact the whole process?  To not impact the parallalization threads of the rest of the process you'd have to restrict the pin memory loop to non parallalized ops no?

[2019-08-22 17:00] ThibaultGROUEIX commented on #19739
By the way, i tried to compile open3d with `make CFLAGS='-D_GLIBCXX_USE_CXX11_ABI=0' ` and it gave the same error.

[2019-08-22 17:11] cpuhrsch opened #25032 "[FYI] NestedTensor Project Progress"
## Purpose of this issue
This issue tracks RFCs and PRs related to the design and implementation of NestedTensors. It reflects the current state of the project. It is however *not* to discuss details of the projects, but solely for information purposes.

## RFCs

- [x] [0.0.1](https://github.com/pytorch/pytorch/issues/22169) - Introduction, tensor-wise operations, implementation considerations.

-

[2019-08-22 17:14] sidazhang opened #25033 "Chunkable Dataloader"
## 🚀 Feature

Allow dataloader to be chunkable. Meaning, we can break each epoch into N chunks.

## Motivation

for users who have large training set, the pattern often looks like this

[code]

This allows the user the evaluate many times per epoch. However, this means that there will be 2 active dataloader at a time.

A more ideal set up would be, to allow the user to specify the length of each c

[2019-08-22 17:15] SsnL commented on #25010
The setting is thread local.

[2019-08-22 17:16] VitalyFedyunin commented on #24698
Merged

[2019-08-22 17:16] #24698 closed

[2019-08-22 17:26] rwightman commented on #25010
Cool, I tried the change locally on two envs, setting the num_threads at the beginning of _pin_memory_loop. It fixed the massive CPU use in both cases. I haven't tried it with any more meaningful workloads besides the MNIST demo yet.

[2019-08-22 17:30] Coderx7 opened #25034 "make add_module accept tuples as well or change containers(ModuleList, Sequential, etc) to allow this"
## 🚀 Feature

## Motivation
The API is not consistent with the way architectures are made. That is you can do some actions using a set of methods, but cant do the same actions using a slightly different version of the same methods. To be more clear for example, currently if you want to alter/use a part of an existing architecture you may use `model.children()`  like this :
1. method 1 :
[code]
2.

[2019-08-22 17:45] mruberry commented on #24851
(Written with @ailzhang)

"High-level" proposal (additional details forthcoming), is to let the following be a maximally expressive command:

`pytorch/test: python test_nn.py cuda -base cpu`

This command:

- Runs the tests specified in test_nn.py with the "cuda backend"
- It excludes tests that the "cuda backend" has stop listed
- It excludes comparison/precision tests that the cpu has stop liste

[2019-08-22 17:52] alibabadoufu commented on #18626
I am supporting as well.

[2019-08-22 18:23] mfuntowicz commented on #24771
I'll take this one

[2019-08-22 18:23] mfuntowicz commented on #24782
I'll take this one too as I would be working on std (#24782), var should be straightforward

[2019-08-22 18:24] iyah4888 commented on #15994
I had the same when I output Numbers as auxiliary outputs.
I had to transfer those numbers to each device manually without Number support.
Number support would make the transfer from the single-gpu training to the multi-gpu training much easier.

[2019-08-22 18:31] andreaskoepf commented on #25030
I can confirm the bug for CPU tensors. The Cuda version seems to be more robust with the values above but has a related problem (see below).
Relevant code for the CPU version starts [here](https://github.com/pytorch/pytorch/blob/ae342fd0760d66ca870484553bce805cc466a4bc/aten/src/TH/generic/THTensorRandom.cpp#L431).

Refs for x-check with cuda version:
- [THCTensor_(multinomial)](https://github.com/

[2019-08-22 18:33] ifedan commented on #25033
I think this is a duplicate of https://github.com/pytorch/pytorch/pull/21232. Please kindly feel encouraged to reopen this issue, if this does not apply.

[2019-08-22 18:33] #25033 closed

[2019-08-22 18:50] sidazhang commented on #25033
@ifedan But #21232 did not land. IT seems like that the PR was closed because the implementation was not pythonic

[2019-08-22 18:56] bnehoran opened #25039 "Add new interpolation modes to `grid_sample`"
## 🚀 Feature

Currently, `torch.nn.functional.grid_sample()` supports two interpolation modes: `bilinear` and `nearest`.

Other interpolation modes that could be added:

- [ ] [`bicubic`](https://en.wikipedia.org/wiki/Bicubic_interpolation): This is already implemented for `torch.nn.functional.interpolate()` [here](https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/UpSampleBicubic

[2019-08-22 18:58] lara-hdr commented on #12580
I am running through the same problem and noticed that by setting traceable=true in the arg parser, the issue is solved.
Is there a reason traceable is set to false? what are the consequences of switching it to true?

[2019-08-22 19:40] yf225 commented on #19453
@SixerWang @beyondpie @Sakurawy @kevin-steiner I tested the program on PyTorch v1.2.0 + Ubuntu 16.04 + CUDA 9.0 + CUDNN 7.6.2 and wasn't able to reproduce the problem. I suggest testing your program on v1.2.0, and please report back if it solves the core dump problem. Thanks!

[2019-08-22 19:44] ezyang commented on #24859
Well, in Linux, we rely on hosted CircleCI for the binaries, and this is probably going to continue to be the case. I'm not too sure about Windows though; I think we should whatever you, @peterjc123, thinks makes the most sense.

[2019-08-22 19:58] ezyang commented on #24851
@mruberry @ailzhang A few quick thoughts:

1. You seem to be advocating for a non-standard command line interface to the Python test script. However, in Python, a test is not just a command that you can run; tests are arranged in a conventional way so that other test runners can use them; e.g., if a Python test suite is written in the normal way, I can run `pytest` and that will run all my tests.

[2019-08-22 20:01] broukema commented on #9310
As found by people (Matthias Urlichs, Sapiens) at https://stackoverflow.com/questions/31948521/building-error-using-cmake-cannot-find-lpthreads, fixing `cmake` will not solve your real `pytorch` bug, instead it will give you a more useful error message about a missing package. In my case (Debian/stretch), after I did `aptitude install libtbb-dev`, I no longer get the apparent error of `cannot find

[2019-08-22 20:03] mruberry commented on #24851
@ezyang You're right and we want to enable that functionality while enabling the following two scenarios:

1. You can run all the tests related to a backend. (You can test CUDA, XLA, MKLDNN,...)
2. You can run all tests related to a topic area on every applicable backend. (You can test jit functionality on CPU, HIP, ...)

I think we can have our cake and eat it, too, and I agree the next step is l

[2019-08-22 20:03] yxjiang commented on #24988
@houseroad, thanks for taking a look!

[2019-08-22 20:09] jamesr66a opened #25043 "[JIT] Source code dedent doesn't ignore comments like Python"
This can cause issues when you have comments at a lower indentation than the rest of the code:

[code]

[code]

cc @suo

[2019-08-22 20:26] gchanan commented on #15799
@zou3519 is going to try to reproduce this.

[2019-08-22 20:28] gchanan commented on #17840
@peterjc123 did you get a chance to look into this?

[2019-08-22 20:30] gchanan commented on #18805
assuming @ezyang meant to remove high priority based on the "removed" description above.

[2019-08-22 20:31] gchanan commented on #16717
@VitalyFedyunin is going to take a look.

[2019-08-22 20:33] gchanan commented on #13448
@colesbury can you link the Sleef github issue?

[2019-08-22 20:33] gchanan commented on #16762
@VitalyFedyunin to check if this is fixed.

[2019-08-22 20:34] gchanan commented on #598
added @albanD to assignee list based on the above conversation.

[2019-08-22 20:35] gchanan commented on #13412
@mruberry did anything come out of the investigation?

[2019-08-22 20:37] gchanan commented on #18110
@nairbv to check if turning off a nondeterministic algorithm fixed this.

[2019-08-22 20:38] mruberry commented on #13412
@gchanan Not as of when I was last at NVIDIA. @csarofeen should have the latest status.

[2019-08-22 20:39] gchanan commented on #12309
@ifedan to investigate.

[2019-08-22 20:41] colesbury commented on #13448
@gchanan https://github.com/shibatch/sleef/issues/230

[2019-08-22 20:42] IINemo commented on #18439
Finally, we managed to do some tests with updated drivers and torch. We did not have any problems with 430 nvidia driver and torch 1.2.

[2019-08-22 20:42] freewym commented on #18110
FYI, I tried that but the problem persists

On Thu, Aug 22, 2019 at 4:38 PM gchanan <notifications@github.com> wrote:

--
Sent from my iPhone

[2019-08-22 20:43] gchanan commented on #16944
@nairbv to check if this was fixed.

[2019-08-22 20:45] gchanan commented on #16608
If this hasn't been fixed, I'll turn it off.

[2019-08-22 20:46] gchanan commented on #22338
removing high priority until we see a case outside of qemu or get a reproduction.

[2019-08-22 20:49] SsnL commented on #16608
@gchanan the flaky parts of it were already turned off.

[2019-08-22 20:50] gchanan commented on #18300
@mrshenli any update on this?

[2019-08-22 20:52] gchanan commented on #5040
@pbelevich to look at adding a better error message.

[2019-08-22 20:53] suo commented on #24243
@smessmer any progress on this? It repros for me

[2019-08-22 20:59] mrshenli commented on #18300
Hey @deepakn94, does @pietern's suggestion work for you?

[2019-08-22 20:59] gchanan commented on #6962
@ezyang do we have a c10/internal mechanism we could use for this?

[2019-08-22 21:11] zudi-lin opened #25045 "[Distance functions] F.pdist backward CUDA invalid configuration"
## 🐛 Bug

After passing the input through a `torch.nn.functional.pdist` function, the gradient *w.r.t.* to the input can not be correctly calculated on a cuda device.

## To Reproduce
[code]
Steps to reproduce the behavior:

3. When increasing the tensor size and running
[code]
the error message is:
[code]

## Expected behavior

## Environment

Please copy and paste the output from our
[environmen

[2019-08-22 21:19] zhangguanheng66 commented on #21876
The TransformerBag plus MultiheadAttentionBag will add more flexibility for the input sequences. For the sequences with different lengths, no padding is required, and mask/offsets are used for the attention mechanism. Though it’s a pleasant to have such kind of capability, it requires some fundamental changes on the current modules (both nn.MultiheadAttention and nn.Transformer ). We have to re-de

[2019-08-22 21:27] albanD commented on #14365
To answer @zou3519 questions above:

Yes, otherwise the computed gradients could be wrong and that should never be possible.

No, the way all the inplace stuff is inplemented only supports single output Functions. It would be a large change to support Functions with more outputs

I would agree that the few asserts at this place should be proper errors. The user can actually make this happen.

[2019-08-22 21:27] wanchaol opened #25047 "ScriptModule and nn.Module parameter ordering difference"
[code]

 =============================

[code]

[2019-08-22 21:29] deepakn94 commented on #18300
It worked on that simple use case, but I'm running into issues on a more complex use case. Will try to come up with a minimal working example that you can play with.

[2019-08-22 21:29] vincentqb commented on #15778
Closing since duplicate of #3775

[2019-08-22 21:29] #15778 closed

[2019-08-22 21:39] driazati commented on #24150
Closing since this is probably just a version issue. Please re-open if you're still getting errors on PyTorch 1.2 (your repro works fine for me on master).

[2019-08-22 21:39] #24150 closed

[2019-08-22 21:56] gchanan commented on #16608
@SsnL ok, should we get rid of the high priority label then?

[2019-08-22 22:07] HapeMask commented on #8069
Since this is currently the top google result for "pytorch acos nan grad" I figured I'd share a temporary workaround / hack to unblock people:

[code]

If #16329 is resolved, it would become much shorter:

[code]

[2019-08-22 22:08] colesbury commented on #25010
@SsnL so is this because the pinned memory copy is parallelized in 1.2 (and wasn't prior?)

[2019-08-22 22:13] GerardMaggiolino commented on #8103
@dusty-nv Thank you! I've tried v1.2.0 on the Jetson Nano and can confirm these patched wheels work on my side as well. Much appreciated!

[2019-08-22 22:16] gchanan commented on #24851
Ok, if we don't refer to it as a backend :).  If this proposal isn't about testing different device types, I'd **really** want to define what it covers.

How would this look in practice?  I was imagining this command would just run all the tests we have annotated with the per-device runner with cuda.  If "stopListed" is an annotation or the test just raises SkipTest if the device is cuda, that see

[2019-08-22 22:44] SsnL commented on #25010
@colesbury I think this is because of the `copy_` indeed. But I am not sure if it was not parallelized before 1.2.

[2019-08-22 22:45] SsnL commented on #25045
A leaf node that collects gradient: `x = torch.rand(dim, 4, requires_grad=True)`

An intermediate result that does not collect gradient: `x = torch.rand(dim, 4, requires_grad=True).to('cuda')`

Use `x = torch.rand(dim, 4, requires_grad=True, device=device)` instead.

[2019-08-22 22:48] rwightman commented on #25010
@colesbury @SsnL I flipped through my environments and ran the MNIST example in each. I repro'd in 1.1 and 1.2, could not repro in 1.0.x or 0.4 as mentioned.

[2019-08-22 22:48] AlbertHuyb commented on #25045
Another solution can be found [here](https://discuss.pytorch.org/t/grad-is-none-even-when-requires-grad-true/29826):
If you want to retain those gradients, call `w.retain_grad()` before calling `backward()`.
The result is as follows:

[2019-08-22 23:06] SsnL commented on #16608
Removing hi-priority label since the flaky parts were turned off in https://github.com/pytorch/pytorch/pull/22208

[2019-08-22 23:29] mruberry commented on #24851
Let's just call them "device types."

Our proposal is that tests are never annotated with device-type-specific information. That is, all the tests in a file like "nn_common.py" will have no notion of any device type. Otherwise if someone writes a new device type, like TVM:GPU, they would have to modify "nn_common.py." This is equivalent effort (for them) as updating a list of tests to exclude in t

[2019-08-22 23:33] bedk opened #25057 "ctc_loss computes different losses and gradients on batched utterances vs. individual utterances"
## 🐛 Bug

`ctc_loss` computes different loss values and different gradients when run on a batch of utterances than when it is run on each utterance individually. In batch mode, some of the computed gradients are -inf

## To Reproduce

Steps to reproduce the behavior:

1. Unpack the attached archive, `CTC-bug.zip`
1. `cd CTC-bug`
1. `python bug.py`

## Expected behavior

I expect to get the same (o

[2019-08-23 00:05] andreaskoepf commented on #25039
Lanczos generates a less blurry image than bicubic but can introduce ringing artifacts at sharp edges, see for example [Image Reconstruction](http://www.pbr-book.org/3ed-2018/Sampling_and_Reconstruction/Image_Reconstruction.html#x1-WindowedSincFilter) in the pbr book.

![image](https://user-images.githubusercontent.com/9976399/63556641-eeb89400-c545-11e9-8f90-58e1c0eb0840.png)
(extracted from the

[2019-08-23 00:39] SsnL opened #25066 "[FR][jit] torch.jit.script as a class decorator"
If my module is supposed to be scripted, then it is natural to have the script wrapper close to the class definition, similar to scripting a function. Having to call `torch.jit.script` after instance creation is unintuitive, and often breaks abstraction.

So, I think `torch.jit.script` should also work as a class decorator, returning a wrapped module class that always gives the scripted module.

S

[2019-08-23 00:41] SsnL opened #25067 "[FR][jit] improve empty list type inference error message for py3"
https://github.com/pytorch/pytorch/blob/498276631bed8b27964bb3ef6fb4ab4f724078bd/torch/csrc/jit/script/schema_matching.cpp#L169-L171

should use the py3 type annotation syntax for python 3.

cc @suo

[2019-08-23 00:47] suo commented on #23946
https://github.com/pytorch/pytorch/issues/23946 should fix the issue where clang-tidy is showing errors for things that weren't touched by you

[2019-08-23 00:52] jerryzh168 commented on #24966
fixed by https://github.com/pytorch/pytorch/pull/24969

[2019-08-23 00:52] #24966 closed

[2019-08-23 00:53] jerryzh168 commented on #24304
fixed

[2019-08-23 00:53] #24304 closed

[2019-08-23 00:53] jerryzh168 commented on #24017
fixed

[2019-08-23 00:53] #24017 closed

[2019-08-23 01:17] SsnL opened #25070 "[FR] torch.Generator.seed allows specifying the seed value"
Currently, the `g.manual_seed(seed)` seeds the generator to a specific value; `g.seed()` seeds it from `std::random_device` or the current time.

It is a bit inconsistent with other random libs where the usual `.seed(seed=None)` method seeds to specific value if `seed` is specified, and some random value otherwise.

Can we merge the two methods into a single `.seed(seed=None)`?

[2019-08-23 01:19] peterjc123 commented on #17840
Sorry, I forgot to do it and will take a look later.

[2019-08-23 01:24] SsnL opened #25071 "Generator objects always use the same seed"
I don't think that this is the intended behavior. The initial seed doesn't seem to come from the current RNG either. It breaks reproducibility, and is most of the times what you don't want when you have multiple generators.

[code]

[code]

Compared to numpy. where each RNG state has a different seed:
[code]

[2019-08-23 01:27] peterjc123 commented on #24859
@ezyang Could we have some tests that trying to build binaries on WS 2016 and use it on Win7 or WS 2012 R2? If it works, then we can start to build window containers instead of configuring environments before every build. also cc @yf225

[2019-08-23 01:31] SsnL opened #25072 "[FR] implement bernoulli_ for Bool tensor"
[code]

[2019-08-23 01:32] vishwakftw commented on #25071
A related use-case that had to be fixed by seeding the Generator instance: https://github.com/pytorch/pytorch/issues/24881.

[2019-08-23 01:38] as754770178 commented on #24904
Thanks, I will try it next week

[2019-08-23 02:07] SsnL commented on #20939
The docs still have a lot of examples with inheritance from `ScriptModule`. Is the plan to eliminate those? :)

[2019-08-23 02:10] driazati commented on #20939
They’re all gone in the master docs, we still need to do a once over those to make sure everything is up to date, then we’ll push them to stable.

[2019-08-23 02:11] danindiana commented on #16417
Getting this error:
RuntimeError: CUDA out of memory. Tried to allocate 2.00 MiB (GPU 0; 7.94 GiB total capacity; 7.33 GiB already allocated; 1.12 MiB free; 40.48 MiB cached)

nvidia-smi
Thu Aug 22 21:05:52 2019
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 430.40       Driver Version: 430.40       CUDA Version: 10.1     |
|---------------------------

[2019-08-23 02:13] SsnL commented on #20939
@driazati Great! The master doc indeed has a lot less such examples (only 3) than stable doc.

[2019-08-23 02:20] zudi-lin commented on #25045
Thanks @SsnL @AlbertHuyb, the first problem that there is no gradient for the input tensor on GPU has been solved. However, I met another problem in the backward pass. When running:
[code]
the `loss.backward()` works properly and produce:
[code]
However, when changing the `dim` to 2048, the result is:
[code]
Could you please help check this? Thanks again.

[2019-08-23 03:10] danilo-augusto commented on #24807
It's actually shadowing: there is a file named `tensor.py` at the same level of `__init__.py`.

By renaming the file from 'tensor.py' to `_tensor.py` (following the convention adopted for the other modules) and changing the import inside `__init__.py` everything should go back to normal. A small PR and targeted PR should fix this. :)

[2019-08-23 03:21] bigbrother33 commented on #2293
thank ! I use this to fix bn in training:
`def fix_bn(m):
    classname = m.__class__.__name__
    if classname.find('BatchNorm') != -1:
        m.eval()`

[2019-08-23 03:30] soumith commented on #24983
please reopen the issue once you have a way for us to reproduce the issue

[2019-08-23 03:30] #24983 closed

[2019-08-23 03:31] soumith commented on #24984
cc: @SsnL

[2019-08-23 03:31] soumith commented on #24984
cc: @VitalyFedyunin

[2019-08-23 03:33] soumith commented on #24963
as far as I know, these are expected CUDA semantics. It synchronizes the entire device context in the process, at a driver level.

[2019-08-23 03:35] #24957 closed

[2019-08-23 03:39] soumith commented on #24915
all datasets are not moving to core pytorch. If you want, create a `torchdata` for it and make domain APIs depend on `torchdata`.

[2019-08-23 03:41] soumith commented on #24398
cc: @gchanan for scheduling

[2019-08-23 03:44] #9099 closed

[2019-08-23 03:50] mcarilli opened #25081 "Automatic mixed precision for Pytorch"
# 🚀 Feature

We would like Pytorch to support the automatic mixed precision training recipe:  auto-casting of Cuda operations to FP16 or FP32 based on a whitelist-blacklist model of what precision is best for each operation, as well as gradient scaling to avoid underflow during the backward pass.

# Work in progress

* [PR #33366](https://github.com/pytorch/pytorch/pull/33366) for the gradient sca

[2019-08-23 03:55] soumith commented on #25014
I wholehartedly support the case for killing the cudnn dispatch

[2019-08-23 04:49] yarcowang commented on #7318
![untitled2____Documents_python_untitled2__-_____main_py](https://user-images.githubusercontent.com/1576504/63567478-71703c00-c5a4-11e9-80b6-f4a75efb06b9.png)
I'm not quite sure about this one? (Is this fixed?)

[2019-08-23 05:32] obravo7 commented on #20313
Hello, I get the same error. I am following this guide https://pytorch.org/tutorials/beginner/aws_distributed_training_tutorial.html#running-the-code , but when I run the four terminal windows, the first window for node0 give the error: RuntimeError: Address already in use. While the other three windows give the error message: RuntimeError: NCCL error in: /pytorch/torch/lib/c10d/ProcessGroupNCCL.c

[2019-08-23 05:42] JackWindows commented on #24927
@SsnL
Today I implemented a queue that moves data from `worker_result_queue` to a `Queue.Queue` in a back ground thread in main process to solve #24984. And I hit the same stuck issue as in this issue. So it seems this issue is related to the `data_queue` in data loader iterator when `pin_memory=True`.

I also have a remote debugging feature enabled in this run ([from this post](http://code.active

[2019-08-23 05:50] zdevito opened #25086 "JIT local type annotations are broken"
[code]
[code]

[2019-08-23 06:07] jianlong-yuan opened #25087 "RuntimeError: cudaGetLastError() == cudaSuccess INTERNAL ASSERT FAILED at /pytorch/aten/src/ATen/native/cuda/SummaryOps.cu:251, please report a bug to PyTorch. kernelHistogram1D failed"
pytorch 1.2
cuda 10.0

Traceback (most recent call last):
  File "train.py", line 244, in <module>
    main()
  File "train.py", line 161, in train
    intersection, union, _ = intersectionAndUnion(pred, target, args.classes, args.ignore_label)
  File "/data/research/NAS/Darts_SEG4/utils.py", line 244, in intersectionAndUnion
    area_intersection = torch.histc(intersection, bins=K, min=0, max=K -

[2019-08-23 06:19] un-knight commented on #20313
@obravo7 This maybe your MASTER_PORT had being used by other processes,  you can change the MASTER_PORT and try again.

[2019-08-23 06:58] marcoippolito commented on #25015
Thanks Igor @ifedan for the suggestion.
Unfortunately after applying git submodule update --init --recursive the problem remains:
I attach the file with the full-log:
[pytorchInstallationIssueUbuntu18.04DesktopFullLog.txt](https://github.com/pytorch/pytorch/files/3533166/pytorchInstallationIssueUbuntu18.04DesktopFullLog.txt)

Looking forward to your kind help.
Marco

[2019-08-23 07:07] habib-19 opened #25088 "ONNX export of MaxUnpool2d is not supported"
## 🐛 Bug

Unable to convert [ENet ](https://github.com/davidtvs/PyTorch-ENet)to ONNX because of missing max_unpool2d error?

ONNX export failed on ATen operator max_unpool2d because torch.onnx.symbolic_opset9.max_unpool2d does not exist

ONNX  [issue](https://github.com/onnx/onnx/issues/2251#event-2578618961) told me to report in torch
## To Reproduce

Steps to reproduce the behavior:

1.download

[2019-08-23 07:32] JackWindows commented on #24985
@SsnL

I think even if it copies most to the data, it isn't necessary slow. Also I guess the slowness may come from memory copy, thus making it an I/O wait. If we do the `collate_fn` in a background thread, the cost can be offset by computation cycles from elsewhere in the main process.

How about making this an option in `DataLoader`, maybe something like `per_sample_fetching=False`. The default

[2019-08-23 08:02] obravo7 commented on #20313
@un-knight When you set the MASTER_ADDR, did you set it to be the same across both nodes? As in both nodes have the same MASTER_ADDR? I tried changing the MASTER_PORT for node one to an available port but I still got the same error messages.

[2019-08-23 08:15] andreaskoepf commented on #25087
@jianlong-yuan Please provide a minimal code sample to reproduce the problem. Otherwise it will not be possible to effectively track down the bug. Please in general use the issue template to report a bug.

Source ref: The assert comes from a [macro](https://github.com/pytorch/pytorch/blob/5254b12002caf44a4df0ec56f6aea83877dd82f7/aten/src/ATen/native/cuda/SummaryOps.cu#L147) that is expanded in [CU

[2019-08-23 08:45] dengshanseation opened #25090 "Could PyTorch edit the elements of the neural network layer?"
Hi, could PyTorch construct a network that is all artificial? That is, it's not the invoking nn.linear() and so on, may be the network with the layers are all artificial? (may define the layers with a Class)
I've searched the documents of PyTorch, but I've not gotten an idea.
Looking forward for your help. Thanks.

[2019-08-23 09:31] un-knight commented on #20313
All nodes need to be set with same MASTER_ADDR and MASTER_PORT.

Best Regards,

Junxian Ye

University of Electronic Science and Technology of China (UESTC)

Eric Narciso-Molina <notifications@github.com> 于2019年8月23日周五 下午4:04写道：

[2019-08-23 10:07] heiner commented on #24963
Block execution on a _different device_?

[2019-08-23 10:07] keyvan-m-sadeghi opened #25091 "JavaScript (Web Assembly) target for trained models"
## 🚀 Feature
A compiler that converts the trained model to a [WASM](https://developer.mozilla.org/en-US/docs/WebAssembly) where they could be accessed as a JavaScript function.

## Motivation

I hope to deploy models in web browsers.

## Pitch

Be able to compile a trained model to WASM.

## Alternatives

[ONNX.js](https://github.com/microsoft/onnxjs), though development seems stalled and last tim

[2019-08-23 10:30] bartwojcik opened #25092 "No way to correctly reset weights of a model with spectral norm"
I didn't find any similar issue (with spectral norm), so excuse me if I file a duplicate.

## 🐛 Bug
There is no way to fully reset the weights (buffers?) of a model with spectral norm. When I reuse my model I get good looking samples almost instantly on any full MNIST 30-epoch training run other than the first, which I presume is caused by how the spectral norm is implemented. There is no reset_pa

[2019-08-23 10:37] IPSE-TEAM commented on #13038
cublas runtime error : the GPU program failed to execute at /root/torch/extra/cutorch/lib/THC/THCBlas.cu:246
stack traceback:
	[C]: in function 'v'
	/root/torch/install/share/lua/5.1/nn/THNN.lua:110: in function 'SpatialConvolutionMM_updateOutput'
	/root/torch/install/share/lua/5.1/nn/SpatialConvolution.lua:79: in function </root/torch/install/share/lua/5.1/nn/SpatialConvolution.lua:76>
	[C]: in f

[2019-08-23 12:18] Microsheep commented on #24807
Thanks for @danilo-augusto pointing the problem and solution out.
I did not notice this previously. I have submitted a pull request to fix it.

[2019-08-23 12:44] danilo-augusto commented on #24807
No problem @Microsheep 😁

[2019-08-23 13:11] supitalp commented on #17165
Hi,
I am also trying to run a model with a tuple of two tensors as an input.
I tried using the code suggested above to build such a tuple: `torch::jit::Tuple::create(tuple)`,  however I get the following compilation error:

[code]

I am using libtorch 1.2.0, and it seems that the Tuple object has been removed there. Any idea how to fix this? Any help would be much appreciated.

[2019-08-23 13:29] 7starsea opened #25095 "[feature req. for torch.inverse] optional return for indicating that whether input is not invertable or not."
## 🚀 Feature

[code]
output is the inverse of input, and indicator indicate whether the input is invertable or not.
If (some of) the input is not invertable, do not incur a RuntimeError.

## Motivation
torch.inverse will incur a RuntimeError when (some of) input is not invertable. If we want to invert a batch of matrices, a single singular matrix will ruin the whole inverting task.

## Pitch

## A

[2019-08-23 13:47] saurav4098 commented on #23474
hi @BowenBao,
The View worked fine . The root cause was the problem with the Pixelshuffle.
The below post  helped me out and the problem in resolved.
[](url)
(https://github.com/pytorch/pytorch/commit/f87d5cc191b54a9d9667421d39f54aa002e4fe8e)
Thanks

[2019-08-23 13:49] zhangguanheng66 commented on #24915
One of the plans is to keep the raw data links and utils in pytorch/data and have the preprocessing func and associated ops in each domain.

[2019-08-23 14:02] SsnL opened #25096 "CI warnings for quantization tests"
A lot of warnings like the following are triggered by the quantization tests:
[code]

It makes the log too long and difficult to nagivate.

E.g. log: https://circleci.com/gh/pytorch/pytorch/2554740?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

cc @jerryzh168 @jianyuh @dzhulgakov

[2019-08-23 14:03] SsnL opened #25097 "TestQuantizedOps.test_adaptive_avg_pool2d is flaky"
Due to #25096 , I can only find the following error trace.

[code]

e.g. log: https://circleci.com/gh/pytorch/pytorch/2554740?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

cc @ezyang @gchanan @jerryzh168 @jianyuh @dzhulgakov

[2019-08-23 15:02] soumith commented on #25090
please use https://discuss.pytorch.org for questions

[2019-08-23 15:02] #25090 closed

[2019-08-23 15:04] soumith commented on #24985
reopened, letting the discussion continue. cc: @ssnl

[2019-08-23 15:15] SsnL commented on #17773
Fixed via https://github.com/pytorch/pytorch/pull/19228

[2019-08-23 15:15] #17773 closed

[2019-08-23 15:21] SsnL commented on #24809
Probably same as #25010

[2019-08-23 15:22] SsnL commented on #22535
Actually this could also be due to #25010 !

[2019-08-23 15:25] SsnL commented on #9086
It's been a while since I saw this. Closing it for now. Reopen if it happens again.

[2019-08-23 15:25] #9086 closed

[2019-08-23 15:30] SsnL commented on #24985
`collate_fn` has to be run in a separate process, not a thread due to GIL. I think it is okay to have each worker deal with a sample, and design some logic to have a worker collate them. But in general one should not want to collate in the main process when using workers.

Such a change would require careful benchmarking. A couple related issue/PR on having each worker fetching a sample are: https

[2019-08-23 15:54] d5555 opened #25100 "MultiheadAttention / transformer with batch first"
Is it possible to add option batch_first = True for MultiheadAttention and  transformer modules like it is done for RNN  ?
Batch  x Sequence x Embedding
I find it more understandable and intuitive when batch_first is true

[2019-08-23 15:58] ailzhang opened #25101 "MKLDNN produce wrong gradient for conv in some edge cases"
To repro, build with `USE_MKLDNN=1`.
[code]
When built with `USE_MKLDNN=0`, we have the correct result(also matches cuda).

cc @gujinghui @PenghuiCheng @XiaobingSuper @jianyuh

[2019-08-23 16:00] soumith commented on #25101
cc: @Jianhui-Li @gujinghui

[2019-08-23 16:32] andrewssobral opened #25103 "Data transfer between LibTorch C++ and Eigen"
## Data transfer between LibTorch C++ and Eigen (Questions and Help)

Hello all,
I'm developing a Data Transfer Tools for C++ Linear Algebra Libraries, as you can see here:
https://github.com/andrewssobral/dtt
(considering bi-dimensional arrays or matrices)
and I'm wondering if you can help me on the following code for data transfer between LibTorch and Eigen:
[code]
This is the output of the code

[2019-08-23 16:36] SsnL opened #25104 "[FR] Dropout modules/functions should take in generator="
To be consistent with all other random functions.

[2019-08-23 16:48] soumith commented on #25103
please use https://discuss.pytorch.org for questions, usually @yf225 is active there and responds

[2019-08-23 16:48] #25103 closed

[2019-08-23 16:49] soumith commented on #24963
I misread that. that sounds suspicious, cc: @csarofeen @ptrblck any ideas what's up?

[2019-08-23 17:18] csarofeen commented on #24963
Does sound suspicious, we'll have to take a look.

[2019-08-23 17:27] Jianhui-Li commented on #25101
@ailzhang  Thanks for the report. Could you please share on which platform (OS, CPU) you observed the difference and the results with and without MKL-DNN?

@emfomenk

[2019-08-23 17:56] andreaskoepf commented on #25030
If the exponents of the probabilities in one row have significantly differing values (e.g. half < 1e-15 and others > 1e+15) the optimized local cumulative sum update of the CPU impl does not work as expected. The mantissa information of smaller values that come after large values in the tensor is lost during the summation and those small entries may effectively get the same value as their predeces

[2019-08-23 18:04] emfomenk commented on #25101
Thanks for report!
Seems like a bug on our side.
I submitted intel/mkl-dnn#542.

[2019-08-23 18:24] zhangguanheng66 commented on #24816
This is not an issue related to `nn.Transformer` or `nn.MultiheadAttention`.

After the key_padding_mask filter layer, `attn_output_weights` is passed to `softmax` and here is the problem. In your case, you are fully padding the last two batches (see `y`). This results in two vectors fully filled with `-inf` in `attn_output_weights`. If a tensor fully filled with `-inf` is passed to softmax, softm

[2019-08-23 18:40] zhangguanheng66 opened #25110 "Pass a tensor of `-inf` to `nn.Softmax` and return a tensor of `nan`"
# Issue description

Just to check. When passing a tensor of `-inf` to `nn.Softmax`, it returns a tensor of `nan`. I know it's a very rare case but do we expect this result? Should we add a warning there?
Relevant issue https://github.com/pytorch/pytorch/issues/24816

## Code example

Please try to provide a minimal example to repro the bug.

[code]

[2019-08-23 18:43] SsnL commented on #25110
0/0 is NaN. I feel this is expected.

[2019-08-23 18:44] ailzhang commented on #25101
I'm on
[code]
with
[code]

[2019-08-23 18:49] zhangguanheng66 commented on #25110
Thanks @SsnL . It would be great if there is a warning in this case.

[2019-08-23 18:52] cpuhrsch opened #25112 "[RFC] NestedTensor - 0.0.2"
This issue tracks discussion around [NestedTensor RFC 0.0.2](https://docs.google.com/document/d/1hrIV14FvQajiUbkF43Cor8fii51XY6fMkEw5Q4tMOak/edit).

The linked document is a view-only Google doc. Please leave your comments here.

[2019-08-23 19:04] JackWindows commented on #24985
It seems #2622 already has a decent analysis on the issue and proposed a solution. I wonder that's keeping it from being implemented.

Yes this is a good suggestion, we can have a `worker_result_queue` and a `collate_queue`, where the collate process re-order the `worker_result_queue` and redistribute them to 0~n collate workers to run `collate_fn`. As a first step we can just use one process for

[2019-08-23 19:08] driazati commented on #17165
This issue is still a problem, so the API isn't great and may change, but you can do this in v1.2.0:

[code]

[2019-08-23 19:13] izdeby commented on #25110
Not a bug. Closing the issue. @zhangguanheng66, feel free to reopen it if you think that warning should be present.

[2019-08-23 19:13] #25110 closed

[2019-08-23 19:23] ezyang commented on #25030
If the TH/THC fix is short, I won't hold a fix like that hostage to porting the kernel. If it is big / necessitates a rewrite, better to do the port in that case.

[2019-08-23 19:27] izdeby commented on #25100
Please use https://discuss.pytorch.org (https://discuss.pytorch.org/) for questions. Please kindly feel encouraged to reopen this issue, if this does not apply.

[2019-08-23 19:30] ezyang commented on #25030
(@andreaskoepf I am not familiar enough with this part to say if your fix is along the right lines; maybe some of the distributions folks could help. I've cc'ed them on)

[2019-08-23 19:32] ezyang commented on #24422
@fritzo @neerajprad @alicanb @vishwakftw I tentatively added all of you to the "module: distributions" tag, which means you'll get cc'ed all issues with this label. Please, please feel free to remove yourselves if this is too much spam.

[2019-08-23 19:41] ezyang commented on #7318
@yarcowang We've been steadily adding more and more namespaces. This should work quite well on 1.2.0. If there are still missing things please file bugs.

[2019-08-23 19:42] #25010 closed

[2019-08-23 19:44] ezyang commented on #24859
Yes that SGTM. Is there something specific you would like me to do to try to make this happen? One thing that seems possible is to resurrect the WS 2016 Windows AMI and try to shift the CI over to it (since we now know that switching to ninja fixes the build failures.)

[2019-08-23 19:46] ezyang commented on #24851
(For the record: I didn't read any of the convo above. Waiting for the example code :)

[2019-08-23 19:48] ranahanocka opened #25117 "Nvidia driver & cudatoolkit installed properly but check_driver fails"
I have successfully installed NVIDIA driver & cudatoolkit via conda. However, I am not able to use cuda in pytorch (even though it installed successfully).

Previously, I was using Pytorch with CUDA 8.0, and wanted to upgrade. I removed / purge all CUDA through:

[code]

Then I updated my Nvidia drivers to 4.10 via PPA (Ubuntu 16.04):

[code]

Everything worked smoothly. The output of `nvidia-smi`

[2019-08-23 19:51] ezyang commented on #15799
Note that there are some outstanding known memory leaks in autograd.  #24368 is the one that pops immediately into mind.

[2019-08-23 19:54] ezyang commented on #25092
I agree, this sounds like a bug. Removing and then readding the spectral norm should work.

[2019-08-23 19:59] gchanan commented on #25081
Thanks for the very thorough writeup, @mcarilli!

I need to take a couple more passes at this, but one thing I would want to avoid is even further complication of our dispatch mechanisms.  Realistically, do we need to codegen this into all of our ops or can a much smaller subset of ops just be written to handle this?

[2019-08-23 19:59] ezyang commented on #25004
Oof. We probably should guard the relevant lines of code in `cmake/public/mkl.cmake` so that it doesn't create it the second time. @jasjuang do you think you could cook up a patch? Add me as reviewer.

Also cc @xuhdev if you happen to know what the idiomatic way to solve a problem like this is.

[2019-08-23 20:09] ezyang commented on #6962
(clearing myself since I know I won't be getting around to working on this for at least the next few weeks).

@corsix Caching cublas per stream may indeed be a good way to go about doing this. It seems to work around @colesbury's original concerns. Would you be interested in trying to make this happen? You can add me as reviewer if you do.

[2019-08-23 20:15] ezyang commented on #6962
Oh oops, I think I was assigned this as high priority issue fixing work assignment. Reassigning.

[2019-08-23 20:17] supriyar opened #25120 "[RFC] Add new python modules in `torch.nn.quantized` for mobile."
## 🚀 Feature
Request to add python modules for executing quantized models on mobile.
@ljk53 @dreiss

## Motivation
Currently we don't have a way to execute quantized pytorch models on mobile. Mobile has different operator backends for quantized ops (QNNPACK) compared to server side (FBGEMM). This proposal outlines an approach similar to FBGEMM to add support for new mobile specific modules in `tor

[2019-08-23 20:25] bartwojcik commented on #25092
I would argue that reset_parameters() in init should cover that, as it always will be unintuitive for new users if we try to "reset" the model and something stays the same. Removing and adding the spectral norm looks like a workaround for me, but I admit I might not get the whole picture how SN should be implemented. Note that BN has reset_parameters implemented and it resets the running mean esti

[2019-08-23 20:28] ezyang commented on #16717
@mingfeima I forgot to respond to you here, but we have `module: cpu`, `module: mkl` and `module: mkldnn`. So these are all hopefully good tags for y'all to monitor :)

[2019-08-23 20:32] driazati commented on #25066
There's a PR for this in #22328, but still needed some more discussion before merging

[2019-08-23 21:02] lutzroeder commented on #18398
@gujinghui

This script:
[code]

produces this error: [log.txt](https://github.com/pytorch/pytorch/files/3536183/log.txt)

[2019-08-23 21:10] rgommers commented on #18398
that ends with
[code]

That can have several root causes, but is usually fixed with `git submodule sync`.

or here, by cloning the main repo and then `git remote add gujinghui https://github.com/gujinghui/pytorch.git && git fetch gujinghui`

[2019-08-23 21:25] malmaud commented on #15786
I'm seeing the same error with PyTorch 1.2 (installed via `pip`) on OS X 10.14.5.

[2019-08-23 21:33] jasjuang commented on #25004
@ezyang The current patch I have locally is adding an additional if condition in `mkl.cmake`

[code]

It solves the problem but I am not sure whether that's the right way to do it. If you think this is okay, let me know and I will submit a PR.

[2019-08-23 21:38] vishwakftw commented on #25095
In CPU, this should be possible since we execute getrf / getri sequentially.

I'm not sure about CUDA, because both getrf and getri call batched kernels.

[2019-08-23 21:45] malmaud commented on #22374
Looks like this can be closed now?

[2019-08-23 21:47] mfuntowicz commented on #24782
Seems already done: https://github.com/pytorch/pytorch/issues/24782

[2019-08-23 21:48] malmaud commented on #25100
@izdeby This seems like a reasonable feature request to me, and AFAIK feature requests are fair game for github issues.

[2019-08-23 21:54] malmaud opened #25129 "Transformer failing with batch size of 1"
In PyTorch 1.2:

Using a mask with a transformer fails for a batch size of 1 but works for larger batch sizes.

Here is the error with a batch size of 1:

[code]

[code]

But working with a batch size of 2:

[code]

[2019-08-23 21:55] mcarilli commented on #25081
@gchanan That's a good point, but there are several dozen such whitelist/blacklist ops currently in Apex that we've found through experience ([examples on the Torch namespace](https://github.com/NVIDIA/apex/blob/master/apex/amp/lists/torch_overrides.py)).  I'd rather not handwrite casting snippets into all of these in at::native (not because i'm lazy, or not JUST because i'm lazy, but because that

[2019-08-23 22:07] #25129 closed

[2019-08-23 22:08] malmaud commented on #25129
NVM, problem is that the mask and input have different conventions for which dimension is the batch dimension.

[2019-08-23 22:12] malmaud opened #25132 "Feature request: Fix dimension convention for masks in transformer"
In PyTorch 1.2,

For `nn.Transformer`, the `src` dimensions correspond to `S, N, E` (sequence position, batch index, embedding feature), but the `src_key_padding_mask` dimensions correspond to `N, S`. That is, the batch is the second dimension of `src` but the first dimension of `src_key_padding_mask` (and other masks). I find this pretty confusing and inconsistent: either all parameters should be

[2019-08-23 22:14] jianyuh commented on #25097
@zafartahirov : Could you take a look at this timeout issue for the quantized avg_pool2d? Maybe reduce the number of tests or the problem sizes?

[2019-08-23 22:16] hartb commented on #24968
Just a note for anyone who comes across this... The fix in #25017 updates the `__cuda_array_interface__` `version` to 1, and so requires at least numba `0.45` (older numbas only supported version 0)

[2019-08-23 22:48] #24140 closed

[2019-08-23 23:28] andreaskoepf commented on #25117
Probably this question would be better asked at [discuss.pytorch.org](https://discuss.pytorch.org/).

Why is `nvidia-smi` showing `CUDA Version: N/A`? Did you run `sudo apt-get install nvidia-cuda-toolkit`? Are you sure you have cuda toolkit 10.0 installed?

[2019-08-23 23:35] xuhdev commented on #25004
This is a bit weird because, it seems to me, that `find_package(Torch)` (TorchConfig.cmake) should be pretty minimum and shouldn't trigger the scripts for the build process of PyTorch itself (`find_package(Torch)` should find a PyTorch installation, which might not be in a source code form). Are you aware of any reason that `mkl.cmake` is conjured in the first place?

[2019-08-24 00:05] SsnL commented on #25092
Could you give a script of how you remove and readd the spectral norm hook? It seems to work for me:
[code]

[2019-08-24 00:16] panfeng-hover commented on #23138
Hi @qchenclaire, I met the similar issue, could you share your solution? Thanks!

[2019-08-24 00:24] andreaskoepf commented on #25117
You could try to install nvidida-driver-418 (or 415) from ppa. If that does not work you could try install using the deb or runfile installers from the nvidia website.

[2019-08-24 00:51] jerry73204 commented on #24120
Thanks!

[2019-08-24 00:57] Chillee opened #25135 "Negative step in index gives confusing error in JIT"
For
[code]
it gives `IndexError: vector::_M_range_check: __n (which is 18446744073709551615) >= this->size() (which is 3)`

@suo

cc @ezyang @gchanan @zou3519 @bdhirsh @gmagogsfm @suo

[2019-08-24 00:58] srush commented on #9701
Any progress or suggestions for getting around this issue?

My backward pass is being dominated by a bunch of SliceBackwards.

SliceBackward                                13.90%        120.106ms           34.89%        301.530ms        108.347us           24.19%        327.914ms        117.827us             2783
zeros                                        11.02%         95.243ms           24.42%

[2019-08-24 01:02] peterjc123 commented on #24859
I guess I will need two EC2 machines, one with WS 2012 and one with WS2016/2019.

[2019-08-24 01:20] bnehoran commented on #23925
This has a real effect on training, since any grid points that are supposed to end up at the border of the image are instead sent off with a wild gradient in some undesired direction.

Here's an example result from a convnet trained to do image registration. It predicts a dense displacement field, and passes that to `grid_sample` to warp one input image to another. Here it predicts no displacement

[2019-08-24 01:25] raghuramank100 opened #25137 "Serialization does not work for quantized modules"
## 🐛torch.load() followed by torch.save() does not work for quantized modules as super class state is not preserved.

Problem is related to quantized modules directly implementing __setstate() and __getstate() functions
without calling parent class (nn.Module) __setstate() function. Module expects state to be a dict:
https://github.com/pytorch/pytorch/blob/master/torch/nn/modules/module.py#L568
##

[2019-08-24 02:17] yarcowang commented on #7318
@ezyang OK. I see. It seems a long-term bug.

[2019-08-24 02:49] xkszltl commented on #24219
Tried again yesterday without any error, so not sure what's the root cause of previous races.
Feel free to close it no further discussion is going on.

Thanks for the help!

[2019-08-24 02:53] JunhyunB commented on #24816
Yes, that's exactly right.
I just wonder there are another solutions rather than just erase my input.

[2019-08-24 03:21] #24219 closed

[2019-08-24 04:24] zirid opened #25142 "C++ FrontEnd model.forward() crash when loading model with torch::jit::script::Module model = read_model(model_path);"
## 🐛 Bug

auto outputs = model.forward(inputs).toTensor(); crashes  when loading  the model with  torch::jit::script::Module model = read_model(model_path);

Checked versions : Prebuilt Libtorch C++ stable 1.2 & nightly both CPU and cuda versions.

## To Reproduce

Steps to reproduce the behavior:

1. Build simple  cnn using torch::nn::SequentialImpl  ( at this point  model.forward (sometensor) wo

[2019-08-24 04:24] soumith commented on #25117
closing in favor of forums

[2019-08-24 04:24] #25117 closed

[2019-08-24 04:27] #22374 closed

[2019-08-24 04:27] soumith commented on #25132
cc: @zhangguanheng66 @myleott

[2019-08-24 04:32] soumith commented on #25110
Generally not possible without a full pass through the data, which is perf overhead

[2019-08-24 05:41] hugh102575 commented on #3022
I have tried nvidia-smi power limit and disable turbo boot, which both don't work for me.
Finally, I solve this problem by just reduce training data by about halve(56% -> 35% of total memory).
Hope this may help you.

[2019-08-24 06:01] panfeng-hover commented on #23138
I solved it, for my case, if you load the model state dict before apply ddp to model, you need to specify the `checkpoint = torch.load(checkpoint_path, map_location='cuda:{}'.format(opts.local_rank))`.

[2019-08-24 06:45] peterjc123 commented on #23656
@ezyang Looks like this is still not fixed for Windows.

[2019-08-24 07:30] alessiosavi commented on #13385
You can download the **_NCCL_** library from here https://developer.nvidia.com/nccl

You have to be registered on developer.nvidia.com

[2019-08-24 08:51] hankchuan commented on #13224
try to change "'feed_blob'" to "feed" methods like this:
ws.create_blob(external_input).feed(dummy_input)

[2019-08-24 08:58] Ali2500 commented on #18853
Would it be possible for you to write a basic code snippet on how to implement such a routine?

[2019-08-24 11:43] ShahriarSS commented on #25142
I don't think that ```torch::jit``` should be involved here. Saving and loading a network is as simple as ```torch::save(network, "<path>");``` and ```torch::load(network, "<path>");```

[2019-08-24 11:52] Sunsunsun87 commented on #23233
Teffific work! But where is the .whl file for armv8 =) ? Would armv7l version work with it?

[2019-08-24 11:59] Sunsunsun87 commented on #23233
Only asking in fear of incompatibility in rpi 4b =).

[2019-08-24 12:13] vadimkantorov opened #25147 "free(): invalid pointer"
I'm experiencing various memory ussues: `free(): invalid pointer`, `double free or corruption (!prev)`
getting printed seemingly from DataLoader, causing training crash. I'm using multithreaded data-loading with [torchaudio sox pipeline](https://github.com/pytorch/audio/issues/255) on AWS p3.8xlarge machine.

If I run the training script under gdb, the crash produces "no stack". However by setting

[2019-08-24 12:18] vadimkantorov commented on #25147
I've tried running under valgrind memcheck, but it seems not crashing then.

[2019-08-24 12:53] vadimkantorov commented on #25147
Maybe there is some data race between data loader threads for de-allocating some tensor

[2019-08-24 13:43] andreaskoepf commented on #24870
Regarding `grid_sample` and `interpolate`: How is down sampling currently implemented in `interpolate`? As far as I know downsampling of an image requires low-pass filtering the source image prior sampling. All frequencies that cannot be represented at the target sampling-resolution would ideally have to be removed.

AFAIK `grid_sample` only looks at the direct neighborhood of the source image. Th

[2019-08-24 14:05] dengshanseation commented on #25090
Thanks.

[2019-08-24 14:50] 7starsea commented on #25095
Thanks for your response. I then guess we need to dive into the cuda kernel of getrf and getri.

[2019-08-24 16:06] Chillee commented on #25086
These type annotations don't work in comments either.

[2019-08-24 16:19] dzhulgakov commented on #25120
It seems that the only discrepancy is that fbgemm packs weights separately from biases while qnnpack packs them in one buffer (https://github.com/pytorch/QNNPACK/blob/16fa9b2969f81fa49d1c47454b64a697e467b002/src/qnnpack/pack.h#L27).

Ideally, we'd get to identical API for fbgemm and qnnpack and just have "quantized" APIs ready. One way to do it is to just pack bias inside the same datastructure in

[2019-08-24 17:46] bnehoran commented on #24870
@andreaskoepf would you be interested in helping to implement some of these sampling filters?
We have an issue open at #21457 specifically for discussing how to allow `grid_sample` to better simulate downsampling. Part of the challenge there is exactly what you mention, that `grid_sample` currently only interpolates from the immediate nearest neighborhood, and in order to get it to downsample prop

[2019-08-24 18:00] bnehoran commented on #21457
If I understand correctly, @andreaskoepf is suggesting at https://github.com/pytorch/pytorch/issues/24870#issuecomment-524551305 that a better downsampling `grid_sample` result could be achieved by filtering the image in different ways before sampling.

This could be one way to tackle the problem. Depending on the filtering method, it won't necessarily be equivalent to average pooling (the `area`

[2019-08-24 18:05] wmmxk commented on #8637
So I should put all operations of a model in one method, which is the forward method, to make it work on multiple gpus using Dataparallel. Is it right?

[2019-08-24 18:55] bnehoran commented on #21457
If I may slightly rephrase the point of this issue, I think what we want to achieve is to add a mode to `grid_sample` (or possibly more than one) that incorporates a wider receptive field / window whenever the grid that's passed in is either smaller than the sampled image, or similarly when the sampled grid points just occur much farther apart, such that there are several image pixels between neig

[2019-08-24 19:19] BioFreak95 opened #25150 "Problems with install python from source"
## 🐛 Bug

For Pytorch 1.3.0 a from source installation is necessary, if one only have cuda 9.0. I cant update the version, because I do not have root access.

## To Reproduce
I have done everything what they say in the tutorial. The result is the following output of CMakerError:
[code]

## Expected behavior

## Environment

PyTorch version: From Source
Is debug build: N/A
CUDA used to build PyTorc

[2019-08-24 19:40] JackWindows commented on #24927
Today I have anther reproduction, and I dug further into the multiprocessing queue:
[code]
So the queue is using fd 247 for communication, which is supposed to be a pipe. However, when I find the fd 247 in the OS, I find it points to multiple different places:
[code]
So for some unknown reason, the fd is overwritten and pointed to some other places (socket and shm).
I also checked a normal `torch.

[2019-08-24 19:56] bnehoran commented on #21457
###### Method Proposal: Expanding the definition of average pooling to irregular grids

One way to address this when only downsampling is needed (and no warping), is of course by average pooling (the `area` mode of `interpolate`).
When warp-downsampling, however, this is complicated by the irregularness of the grids that can be passed into `grid_sample`, so one question is whether we can expand th

[2019-08-24 19:58] JackWindows commented on #24927
Had another reproduction with cleaner OS fd map:
[code]
[code]
So it seems the shared memory trick can have collided file descriptor. In the above output, pid `96xxx`-`97xxx` are data worker processes of pid 158. While pid 151, 152, 153, 162, 165, 171 are other pytorch main processes (I'm running distributed multi GPU training with `horovod`).

For visibility, cc @alsrgv . Is there any reason you

[2019-08-24 20:33] SsnL commented on #24927
@JackWindows IIRC, fds are local to the process. It shouldn’t be a problem if multiple process have the same fd number pointing to different things, right?

[2019-08-24 21:30] ezyang commented on #24859
Assigning myself for Windows EC2 machines. Do you need GPUs on these too?

[2019-08-24 21:32] ezyang commented on #25004
`mkl.cmake` came along for the ride when we merged in Caffe2's cmake scripts. I *think* it's to solve situations where downstream apps also have to link against mkl (e.g., if you're linking statically); in that case, the Torch cmake config has to know something about mkl to get people to link against it.

[2019-08-24 21:36] ezyang commented on #15786
Thanks for the repros. This issue would be best resolved by following the suggested resolution from colesbury above. If you want to try fixing this, you can CC me as reviewer.

[2019-08-24 21:43] JackWindows commented on #24927
@Ssnl Yes I think you are right, the issue should be something else.
I also checked the number of alive workers, it's 16, so no worker should have terminated.
I'm not sure why the pipe in the queue broke.

[2019-08-24 21:48] raghuramank100 opened #25154 "Cannot script modules with conditional module arguments"
## Modules with conditional modules  are not scriptable.

When modules are created with arguments that allow for optional modules, i.e a particular module can either exist or be None based on the arguments, scripting does not work when the submodule is None. This is a pattern that is used in torchvision to create resnet models.

The problem is that currently torchscript supports optional Tensor ty

[2019-08-24 23:37] jamesr66a commented on #25154
This is getting fixed in torchvision once francisco gets back

[2019-08-24 23:37] #25154 closed

[2019-08-24 23:49] SsnL commented on #25147
Somethings to try:
1. running without multiprocessing data loading
2. executing the dataset code in a manually created process (via `mp.Process`), try different start methods.

[2019-08-25 01:37] harishkool commented on #19739
@ThibaultGROUEIX  `pip install open3d-python==0.5.0.0` worked for me. Thanks

[2019-08-25 02:37] peterjc123 opened #25155 "Custom Op tests fail on Windows"
https://ci.pytorch.org/jenkins/job/pytorch-builds/job/pytorch-win-ws2016-cuda9-cudnn7-py3-test2/44264/console
[code]

cc @peterjc123

[2019-08-25 02:46] peterjc123 commented on #24859
@ezyang Yes, I just want to tests the CUDA binary compatibility between these OSes.

[2019-08-25 04:20] xsacha commented on #25142
Sounds like you saved the model as pickle and then try to load as jit. It should throw C10::Error complaining about being unable find zip archive as JIT models are saved as a zip file.

[2019-08-25 04:34] xuhdev commented on #25004
@ezyang If this is case, I would say the best way (and probably the most reliable and idiomatic way) is to store information about the MKL with which PyTorch was linked somewhere (e.g., `version.py`) and let `find_package(Torch)` return that information. For this particular case though, I'm not sure what to do; seems to me that guarding TorchConfig.cmake might be the best temporary (although hacky

[2019-08-25 04:35] xuhdev commented on #25004
Or we just leave it as it is and let the user to guard if they truly have the need to call `find_package(Torch)` twice.

[2019-08-25 05:55] JackWindows commented on #24927
I dug more into another reproduction today, and I think I have figured out the issue completely.
So in the pytorch main process, I noticed the write lock on the multiprocessing queue is held by another process:
[code]
So I started to enumerate all worker process to figure out where the lock is held. And found it in one of the workers:
[code]
And the `QueueFeederThread` stacktrace it stuck in `free

[2019-08-25 05:57] vainaijr opened #25156 "euclidean distance between two tensors"
## 🚀 Feature

euclidean distance as used in prototypical networks, included in standard PyTorch library.

## Motivation

code from prototypical networks

`def euclidean_dist( x, y):
    # x: N x D
    # y: M x D
    n = x.size(0)
    m = y.size(0)
    d = x.size(1)
    assert d == y.size(1)

    x = x.unsqueeze(1).expand(n, m, d)
    y = y.unsqueeze(0).expand(n, m, d)

    return torch.pow(x - y,

[2019-08-25 06:08] Gsunshine commented on #23475
@apaszke It is a greatly desirable feature. We are very appreciate if you can help.

Is it possible that we can hack a faster implementation than a naive for-loop, if is might not be too complicated?

[2019-08-25 06:16] jasjuang commented on #25004
Here's a real-world scenario where `find_package(Torch)` would need to be called twice. Library A links to Torch and has a `find_dependency(Torch)` in its config file. Another Library B also links to Torch and has a `find_dependency(Torch)` in its config file. Now my project depends on both Library A and B. In my CMakeLists there's `find_package(LibraryA)` and `find_package(LibraryB)`, when I run

[2019-08-25 06:21] spandantiwari commented on #24817
Yes, the root issue is that `roiAlign` is an op in TorchVision and not in PyTorch. There is ongoing work to enable export of the TorchVision ops in PyTorch-ONNX exporter.
cc: @fmassa for visibility.

[2019-08-25 06:26] spandantiwari commented on #24808
@iiSeymour - thanks for reporting this. torch.log1p export support seems to be missing. I will try and add it soon.

[2019-08-25 06:35] spandantiwari commented on #23529
@chtsao8 - Is this issue resolved? Also note that there are standard ONNX models in onnx/models zoo for reference.

[2019-08-25 06:36] spandantiwari commented on #23107
@shawzhan - can you confirm that your issue is resolved?

[2019-08-25 06:39] spandantiwari commented on #22870
@iiSeymour - Full support for exporting torch.unbind to ONNX needs a list style datatype support in ONNX. A PR for that is under review and after that we need to get some list based operator support in ONNX. That is ongoing work. Once that is in place in ONNX, we will add support for torch.unbind.

[2019-08-25 07:03] SsnL commented on #24927
@JackWindows This is interesting. But `fork` does not inherit threads. The lock must have been held by some other thread in the worker process. Could you check which is doing that? Your 2nd trace seems to be that of the main process.

[2019-08-25 07:27] JackWindows commented on #24927
@SsnL I already killed the stuck job, need to wait for another reproduction to check.
The 2nd trace is not main process (I didn't post the full stacktrace because some customized code). The thread name for the 2nd trace is not `MainThread` (in python the main thread has the thread name `MainThread`.

While `fork` does not inherit threads, but I think it "copies" the entire variables from the paren

[2019-08-25 07:38] vadimkantorov commented on #25147
1. I tried running without multiprocessing (with num_workers = 0). Things seem to work but are painfully slow. I will try this with a smaller batch size.

Is there any way to enable debug tracing, e.g. to debugprint some information about the tensor that it can't deallocate (to make sure it's connected to soxeffects)?

[2019-08-25 07:47] SsnL commented on #24927
@JackWindows The second trace is running the data loader, which should not happen in a data loader worker process, unless your dataset code fetches from another pytorch data loader.

`fork` does inherit lock states. That could indeed be problematic...

[2019-08-25 08:02] vadimkantorov commented on #25156
I think this is `torch.cdist`. For now cdist lacks documentation: https://github.com/pytorch/pytorch/issues/23675

[2019-08-25 08:32] JackWindows commented on #24927
hmm this is really weird, I have no idea why the background thread in main process got into the worker process.
I implemented a similar background thread to `pin_memory_loop` to solve #24984:
[code]
Only this line `sample = copy.deepcopy(sample)` should trigger the clean up of the shared memory object, so it's really weird why this thread got into the worker process.

[2019-08-25 08:48] iiSeymour commented on #22870
Thanks @spandantiwari. The uses of `unbind` in my model of interest seem to be for performance reasons only, so the whole tensor doesn’t get evaluated unnecessarily in the call to `backwards`. A method to prune the `prim::ListUnpack` from the graph would help.

[2019-08-25 10:24] JackWindows commented on #24927
I did another reproduction with `pin_memory=True`, and can confirm that:
1. There is no fork-inherited `pin_memory_loop` process, I was wrong in previous analysis.
2. One of the data worker processes stuck at the same place in `free_dead_references`.

I think the copied lock status is the issue.

[2019-08-25 11:52] JackWindows commented on #24927
In another reproduction, I observed some different behavior in the stuck worker process.
The main thread in the worker shows the worker holds the `_wlock` of the multiprocessing queue.
[code]
The queue's feeder thread has the following stack trace:
[code]
The buffer in the feeder thread is empty:
[code]
But the buffer in the main thread multiprocessing queue has an item in it:
[code]
And the id of

[2019-08-25 12:19] menghuu commented on #2830
@apaszke
Hi, as you say that: every time moving model to other device, we should build optimizer, but, if we move the model to other device and move back, should we build the optimizer again?
here is an example code:
[code]
does optimizer run as expected?

also, if doing `model.to(model.device)`, should we rebuild optimizer ?

[2019-08-25 13:12] JackWindows commented on #24927
This is the stack trace of all alive threads in the worker process
[code]
I'm not sure why there is a `Thread Thread-15` with the same stack trace as the `QueueFeederThread`. I checked the `buffer` and it still doesn't match the `data_queue._buffer`.

[2019-08-25 13:43] awarebayes commented on #16897
Any progress?

[2019-08-25 13:43] khrlimam opened #25159 "libonnx.a not found"
I'm trying to build pytorch for android. When I do follow all the steps written here https://github.com/cedrickchee/pytorch-android, it successfully compiled then I copy all the jnis and cpps libs. When I run `./gradlew assembleDebug` to actually run the project I got an error that saying I have no libcaffe2.a but I red that libcaffe2.a has ben replaced with libtorch.a then I replace the libcaffe2

[2019-08-25 13:59] yangsenius opened #25160 "model.train() will make Class DistributedDataParallel into NoneType"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. `print(model.__class__.__name__) # DistributedDataParallel`
2. `model = model.train()`
3. `print(model.__class__.__name__) # NoneType`

## Expected behavior

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or

[2019-08-25 14:40] peterjc123 opened #25161 "Some LibTorch tests fail on Windows"
https://ci.pytorch.org/jenkins/job/pytorch-builds/job/pytorch-win-ws2016-cuda9-cudnn7-py3-test2/44313/console
https://ci.pytorch.org/jenkins/job/pytorch-builds/job/pytorch-win-ws2016-cuda9-cudnn7-py3-test2/44309/console
[code]

cc @peterjc123

[2019-08-25 16:45] SaltedFishLZ opened #25162 "Incorrect Validation Accuracy Due to Distributed Sampler"
## 🐛 Bug

The new `DistributedSampler` pads the number of samples to make it divisible by the number of processes, which is a bit similar to `drop_last` in `DataLoader` while here `DsitributedSampler` duplicates the last few samples instead of dropping them.

This will definitely cause incorrect validation accuracy when you want to use distributed validation.

[code]

## Environment
 - PyTorch Ver

[2019-08-25 19:03] elistevens opened #25163 "Undeclared dependency on python-futurize in caffe2"
## 🐛 Bug

It seems like there's an undeclared dependency on https://python-future.org/index.html in the caffe2 library that causes import errors.

## To Reproduce

On Ubuntu, install the following packages:
- python3
- python3-venv

Create a virtual environment by running:
- `python3 -m venv .venv`
- `.venv/bin/pip install torch tensorboard`

[code]
Running `.venv/bin/pip install future` fixes the

[2019-08-25 19:44] hhuuggoo opened #25164 "Memory Error in pip install of torch 1.2.0 on Linux"
## 🐛 Bug

Attempting to install torch 1.2.0 on linux results in a MemoryError

[code]

## To Reproduce

Steps to reproduce the behavior:

1. pip install torch==1.2.0 (on linux)

## Expected behavior

Installation, without MemoryError

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collec

[2019-08-25 19:58] rumschuettel commented on #8049
@zhangguanheng66 did you have a chance to have a look at this? It would be extremely interesting to have it supported in torch directly, instead of taking the full svd and tossing away almost all of the vectors.

Thanks so much!

[2019-08-25 19:58] marcown commented on #24817
@fmassa , @spandantiwari :

is there a way to link to tell pytorch during onnx export to replace the unknown roialign with the one in the onnx exporter without touching the source code?

[2019-08-25 20:05] soumith commented on #25120
to second what Dmytro said, we shouldn't be adding a new `Module` per backend. At runtime, for a particular module, one needs to be able to switch which backend we use.

For example, We dont have nn.Conv2d and nn.CuDNNConv2d, we only have nn.Conv2d, which at runtime will switch to CuDNN or MKLDNN or ATen depending on where things are run.

[2019-08-25 20:36] spandantiwari commented on #22069
@arijit17 - It is hard to say where exactly the issue is without looking at your model and export code. Could you please share the repro?
FYI - if your model has input-dependent control flow, then ideally you will have to convert those modules to `ScriptModule` and decorate those modules' `forward()` method with with `@torch.jit.script` to enable correct JIT compilation. But once you do that the e

[2019-08-25 20:42] spandantiwari commented on #20516
Closing this issue as it seems to be resolved.

[2019-08-25 20:42] #20516 closed

[2019-08-25 21:57] linko994 opened #25165 "RuntimeError: cublas runtime error : the GPU program failed to execute at C:/w/1/s/tmp_conda_3.6_041836/conda/conda-bld/pytorch_1556684464974/work/aten/src/THC/THCBlas.cu:259"
## 🐛 Bug
I get this error when trying to use my network with cuda.

Full traceback:
Traceback (most recent call last):
  File "F:/Bachelorarbeit/Unity Projekt/ml-agents-master/ml-agents/mlagents/trainers/dqn/dqn.py", line 136, in <module>
    chosen_action = choose_action(state=state, epsilon=epsilon)
  File "F:/Bachelorarbeit/Unity Projekt/ml-agents-master/ml-agents/mlagents/trainers/dqn/dqn.py",

[2019-08-25 22:10] lara-hdr commented on #20075
This gets fixed by setting traceable=true in arange's arg parser as explained in my comment in https://github.com/pytorch/pytorch/issues/12580.
I am trying to figure out if there is a reason traceable is set to false, and if there are any unwanted consequences of switching it to true.
@houseroad, do you know who can help answering this?
Thanks!

[2019-08-25 23:33] peterjc123 commented on #25165
Maybe related to #7548.

[2019-08-25 23:38] DeeDive opened #25166 "ignore_index does not have expected behavior"
Recently I've encountered a problem and find that ignore_index  in CrossEntropyLoss does not have expected behavior. I want to completely ignore samples with a particular label when calculating loss.

my problem is as follows:
I have a mixture of Labelled Sample Group and Unlabeled Sample Group. For some special reason, I have to mix those samples in a same mini-batch to train a classification net

[2019-08-25 23:55] yxlao commented on #19739
@harishkool another quick fix is to import open3d first
[code]

[2019-08-26 01:15] ezyang commented on #25004
Yes, let's accept the hack for now. Or if someone wants to redo how we do TorchConfig.cmake packaging, I'd also be down too :)

[2019-08-26 01:25] jasjuang commented on #25004
@ezyang please see the PR #25167

[2019-08-26 01:44] SsnL commented on #25097
It happened again:
[code]

https://circleci.com/gh/pytorch/pytorch/2572825?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2019-08-26 02:11] zirid commented on #25142
Hi , @ShahriarSS @xsacha
Thank you for your quick reply.
I ended up using  torch::save/torch::load without using jit as you mentioned.

[2019-08-26 02:11] #25142 closed

[2019-08-26 02:27] yf225 commented on #17492
Libtorch with cxx11 ABI are now available for download:

**v1.2.0:**

CPU:
https://download.pytorch.org/libtorch/cpu/libtorch-cxx11-abi-shared-with-deps-1.2.0.zip
https://download.pytorch.org/libtorch/cpu/libtorch-cxx11-abi-shared-without-deps-1.2.0.zip
https://download.pytorch.org/libtorch/cpu/libtorch-cxx11-abi-static-with-deps-1.2.0.zip
https://download.pytorch.org/libtorch/cpu/libtorch-cxx11-a

[2019-08-26 02:27] #17492 closed

[2019-08-26 02:30] yf225 commented on #14620
We just release libtorch binaries with cxx11 ABI: https://github.com/pytorch/pytorch/issues/17492#issuecomment-524692441. Please try it out and let us know if you experience any issues.

[2019-08-26 02:30] #14620 closed

[2019-08-26 02:31] yf225 commented on #18128
We just release libtorch binaries with cxx11 ABI: https://github.com/pytorch/pytorch/issues/17492#issuecomment-524692441. Please try it out and let us know if you experience any issues.

[2019-08-26 02:32] obravo7 commented on #17041
@acdifran
Hey, I am also having this problem. I am wondering if you ever figured it out?

[2019-08-26 03:03] NeilWangziyu commented on #17492
@yf225 Hi, it's great to receive that information.

May I ask, is the **debug** version provided? In above, I only see the release versions of libtorch provided

[2019-08-26 04:47] dzhulgakov commented on #24225
Use case for it is "meta-programming", i.e. when there's some mid-level framework built on top of PyTorch that stitches together several modules based on declarative config. Simplest example would be multiple heads stitching in CV models, but I'd imagine such situation won't be uncommon in prod-oriented bigger frameworks.

Now, there are several ways of implementing such "metaprogramming". Simpler

[2019-08-26 05:18] jiseongg opened #25171 "Relation between AVX and TH?"
Hi, I'm studying PyTorch internals, especially trying to find AVX implementation. (not AVX2.)

I built PyTorch from source with
[code]
What I've figured out is the AVX intrinsic function that is called for simple tensor addition.

[code]
I debugged with gdb, and set some breakpoints and succeeded it. Below is the result of `bt` at gdb.

[code]
The AVX intrinsic `_mm256_add_pd(a, b)` is called at #

[2019-08-26 06:49] supitalp commented on #17165
Thank you, this works!

[2019-08-26 06:55] Wangweilai1 commented on #19453
I have met the same problem with on Pytorch v1.2.0 + Unbutu16.04 + CUDA10.0 + cudnn7.6

[2019-08-26 07:36] ugurkanates commented on #15012
This is still active issue , i got same problem and its not same library/dataset

[2019-08-26 07:49] shaswot-utokyo commented on #24398
My code also seems much slower in pytorch 1.2 as compared to pytorch 0.4.
I ran the code on nvidia-docker containers.
Code implements the most basic DQN on Open AI Cartpole-v0 env.

Seems like CUDA version might have something to do with it. Will try to run the code on a pytorch 1.2, CUDA 9.2 container

Container 1:
torch version: 1.2.0.dev20190709
Cuda compilation tools, release 10.0, V10.0.130
R

[2019-08-26 08:07] xuhdev commented on #25004
Can we make the hack simply guard TorchConfig.cmake itself? As this seems to be a "cleaner" guard hacking :)

[2019-08-26 08:14] branfosj opened #25172 "test_det_logdet_slogdet_batched (in test_cuda.py) fails on ppc64le"
## 🐛 Bug

[code]

https://github.com/pytorch/pytorch/blob/v1.2.0/test/test_cuda.py#L2224 fails for me on ppc64le.

On following the test through to https://github.com/pytorch/pytorch/blob/v1.2.0/test/test_torch.py#L6558 and then testing all the different possible combinations, the failures are seen for all combinations of `matsize` and `batchdims` in both `run_test(matsize, batchdims, mat_chars=['

[2019-08-26 08:47] nmilosev commented on #23233
The aarch64 is the armv8 version. Sadly there is some confusion, because not all Linux distributions use the same name for this architecture (some use arm64). ARM v7 should also work.

For everyone else, I am in the process of building 1.2.0 now, shouldn't be long.

[2019-08-26 08:52] luanyunteng opened #25173 "ImportError: libcudart.so.9.0: cannot open shared object file: No such file or directory"
##  import torchvision error

I install by `pip3 install torch torchvision` in a virtualenv,
and the system is ubuntu 16.04
CUDA version is 10.0
GPU is 2080Ti

I could import torch successfully, however, when I run `import torchvision`:

  File "<stdin>", line 1, in <module>
  File "/home/lyt/venv_pytorch/lib/python3.5/site-packages/torchvision/__init__.py", line 1, in <module>
    from torchvisio

[2019-08-26 09:00] linko994 commented on #7548
I'm getting this error as well on RTX 2070 SUPER. When I delete the .float() I don't get the Cublas error, but I get another one.

[2019-08-26 09:05] Holmeyoung commented on #10910
[code]

When i updated pytorch, i met the same error, and i solved this by
[code]
I have cuda10, but i install the cuda9 version, so the error appear.
Find the right install command here
https://pytorch.org/get-started/locally/

If you reinstall torch in `a terminal` but run python script in `b terminal`, the torch version may not change, so do all in one terminal or start a new one.

[2019-08-26 09:32] Nerdyvedi commented on #25088
I am facing the same error. Looks like, ONNX does not support max_unpool2d .

[2019-08-26 09:44] julioasotodv commented on #21282
Indeed, it does work now.

Thanks!

[2019-08-26 09:56] habib-19 commented on #25088
onnx people says [issue](https://github.com/onnx/onnx/issues/2251#event-2578618961) it is torch bug.

[2019-08-26 09:59] peterjc123 commented on #25173
Please use the install commands on https://pytorch.org.

[2019-08-26 10:06] peterjc123 commented on #25173
Sorry, I didn't see the post carefully. Would you please try whether the following command solves your problem? `pip3 install torch===1.2.0 torchvision===0.4.0 -f https://download.pytorch.org/whl/torch_stable.html`

[2019-08-26 10:27] skrah commented on #25147
There's a small chance that this is the same as #24464, which had a similar stack trace (invalid access in `release_resources()`.

[2019-08-26 10:42] vadimkantorov commented on #25147
I guess I’ll try installing from source for a test if it’s fixed in that PR

[2019-08-26 10:49] platisd commented on #17492
These links do not appear to be working (I get a "forbidden" error). Can you please have a look? :+1:

[2019-08-26 11:00] linko994 commented on #25165
Can you maybe elaborate on that? I couldn't fix this issue so far.

[2019-08-26 11:18] ameliamlz commented on #7548
I already solved this problem.I installed gcc5.4 and pytorch 1.1.0 . It can adapt my computer environment(RTX2070,python3.6,cuda10.0)

[2019-08-26 11:25] pietern commented on #25162
Good point. Is this something you're willing to contribute?

[2019-08-26 11:26] platisd commented on #17492
All the `v.1.2.0` links do not seem work unfortunately. Same on the website. The `latest` ones are fine.

[2019-08-26 11:29] pietern commented on #25160
Nice catch, this is indeed not what is supposed to happen.

It won't return a new instance though. Like `nn.Module` it will just return `self`.

[2019-08-26 11:47] pietern commented on #24946
I believe what @xush6528 implies is to call `wait` from the task. Then when it's done, everything is destructed automatically (the task is destructed, which contains a lambda, which contains the `shared_ptr`'s of the work that you wait on, etc).

Beware that this leads to unbound growth of pending sends. While the behavior today is blocking, it cannot cause an OOM, whereas the proposed implementat

[2019-08-26 11:57] phillies opened #25174 "BCEWithLogitsLoss expects wrong shape of weight (#classes instead of batch size)"
## 🐛 Bug

BCEWithLogitsLoss and binary_cross_entropy_with_logits used with weights parameter throw a RuntimeError stating that the weight has wrong shape. According to the documentation

the weight should have `nbatch `entries but expects a vector of size `#classes`.

## To Reproduce
[code]
Leads to
[code]

Same when calling `F.binary_cross_entropy_with_logits` directlt

## Expected behavior
Retur

[2019-08-26 12:05] pietern commented on #24946
@xush6528 Nice article you referenced, btw.

[2019-08-26 12:06] pietern commented on #24237
While this still might be an issue by itself, I'll close the issue since you found a workaround.

[2019-08-26 12:06] #24237 closed

[2019-08-26 12:07] #22615 closed

[2019-08-26 12:14] jcarius opened #25175 "Access denied when dowloading LibTorch C++ without Cuda from Website"
## 🐛 Bug

The download link on the [start locally](https://pytorch.org/get-started/locally/) website for the C++ LibTorch library (C++ 11 ABI) without CUDA is broken: When accessing https://download.pytorch.org/libtorch/cpu/libtorch-cxx11-abi-shared-with-deps-1.2.0.zip, a tab opens and shows
![image](https://user-images.githubusercontent.com/7710306/63689988-d11c5080-c80b-11e9-90a1-47daba9ec159.pn

[2019-08-26 12:32] andreaskoepf commented on #25166
Could you please explain what you mean by: "(...) if the prediction of an unlabeled data have large values on other indexes, it still generate large loss."?

If `ignore_index` is supplied `CrossEntropyLoss` will ignore all batch-entries having a target-class equal to `ignore_index`, e.g. a simple test:

[code]
shows `tensor(0.)`.

Could you show a minimal example script that shows this would not b

[2019-08-26 12:56] yaolugithub commented on #13219
@shiyinw
Hi, my CUDA version is 8.0 and other information is  RTX 2080TI ,pytorch 0.4.0.
It also occurred this problem. What about your CUDA version?

[2019-08-26 13:02] yangsenius commented on #25160
Yes.  `model.train()` will be ok.
`model = model.train()`  was my "pytorch habit".

[2019-08-26 13:06] Stannislav opened #25176 "Tensor slicing with boolean numpy mask wrong"
## 🐛 Bug
Numpy arrays of dtype `np.bool` should be interpreted as masks when slicing torch arrays, just like tensors of dtype `torch.bool` are. Insead, such arrays are interpreted as indices.

## To Reproduce
Steps to reproduce the behavior:

[code]
Output
[code]
## Expected behavior
The expected behaviour is that the result is the same as for slicing with torch tensors with the same dtype, where

[2019-08-26 13:16] Infinitestudy commented on #25166
Hi @andreaskoepf ,
Sorry for the wrong description, actually I mean if labeled data was misclassified to the ignored label.
For example,
[code]
here, the second sample is misclassified to label 0, which lead to the final loss 1.2845.
So, the label specified by variable ignore_index still contributes to the computation of softmax.

I personally think ignore_index should completely remove any effect

[2019-08-26 13:16] vadimkantorov commented on #25147
Also, for some reason I'm not getting any internal assertion error, but a direct segfault from glibc.

[2019-08-26 13:21] zhangguanheng66 commented on #8049
@rumschuettel I'm currently busy with other stuffs. If anyone are interested in the task, please feel free to take it.

[2019-08-26 13:29] fmassa commented on #24870
Hi @bnehoran

Great issue !

One more thing I'd like to add to the `interpolate` / `grid_sample` similarities. For `interpolate` (and probably `grid_sample` as well), we could probably factor out the kernel implementations so that they are separable, meaning that the temporal / spatial / volumetric versions all dispatch to the same kernel, greatly simplifying the code.

While making it separable i

[2019-08-26 13:36] zhangguanheng66 commented on #24816
As @soumith said, it would add some perf overhead for a full pass to check the `nan` values. https://github.com/pytorch/pytorch/issues/25110#issuecomment-524519087

[2019-08-26 13:36] #24816 closed

[2019-08-26 13:36] zhangguanheng66 commented on #24816
Feel free to re-open the issue if you still have questions.

[2019-08-26 13:52] zhangguanheng66 commented on #25132
Thanks @malmaud

Within the MultiheadAttention module, `key_padding_mask` is applied before the `softmax` layer. At this point, `attn_output_weights` has the `bsz` dim before the `src_len` dim. IMO, it makes sense to have `key_padding_mask` in the shape of (`bsz src_len`), without the extra `transpose` ops.

[2019-08-26 13:56] mrshenli commented on #24946
Isn't this already what we are doing now?

https://github.com/pytorch/pytorch/blob/0bf63f483a9cf4fbb63c680cb9b71e2dd09a110a/torch/csrc/distributed/rpc/process_group_agent.cpp#L159-L182

[2019-08-26 14:10] pietern commented on #24946
You're right, this is already the case.

[2019-08-26 14:23] skrah commented on #25147
For #24464 I meant the Valgrind stack trace, which showed up as an invalid access error or a segfault.

[2019-08-26 14:44] andreaskoepf commented on #25166
@Infinitestudy thanks for clarifying the problem.

A quick-fix would be to write `-inf` into the first column, e.g. `x[:,0] = float('-inf')`.

But I think you could better specify  an `ignore_index` that lies outside the class range for the outputs you want to ignore.

You net should only have output values for real classes.

[code]

[2019-08-26 15:22] ahmed-fau opened #25180 "How to filter with a transfer function in Pytorch??"
Hello,
I am trying to implement a 1D convolution operation with `F.conv1d`. The current usage of this function is to provide the weights of the filter directly in the time domain. However, for some DSP purposes, it is more effective to apply the filtering process in terms of the transfer function of the filter. In other words, to provide the coefficients of numerator and denominator of the transfe

[2019-08-26 15:34] eepaul commented on #16445
I have this same issue with pytorch-1.2.0

[2019-08-26 15:38] blackccpie commented on #17869
@bhilburn : no solution for this issue yet :-(
One possible idea could be to try to export the model using the C++ frontend JIT API, and then convert from JIT to ONNX using python API, but that's quite cumbersome!

[2019-08-26 15:49] eepaul commented on #16445
here is the code. memory usage is increasing and ends up being killed by OOM killer.
my environment is Ubuntu 18.04, pytorch-1.2.0
[code]

[2019-08-26 15:51] platisd commented on #17492
That's awesome, thanks!

[2019-08-26 16:00] lutzroeder commented on #18398
@gujinghui @rgommers

This script completes without errors:
[code]

[2019-08-26 16:19] vadimkantorov commented on #25156
I hope cdist also does not materialize it, does it? But keops is magical for sure :)

[2019-08-26 17:02] andreaskoepf commented on #25174
In the [current impl](https://github.com/pytorch/pytorch/blob/1bf1970fe240f19ce8a7f6a26ec2c4358451069d/aten/src/ATen/native/Loss.cpp#L108) the weight multiplication is a point-wise multiplication with loss, e.g. the `weight` parameter could be 2D:

[code]

[2019-08-26 17:07] ezyang opened #25186 "Add torch.backends.mkldnn.enabled"
It should be possible to disable mkldnn at runtime using this flag, in analogy to torch.backends.cudnn.enabled.

cc @gujinghui @PenghuiCheng @XiaobingSuper @jianyuh

[2019-08-26 17:40] #16838 closed

[2019-08-26 21:59] BioFreak95 commented on #25150
Hey. The tutorial on pytorch.org for a "From source" installation. And yes, the master branch.

[2019-08-27 00:13] Wulfsta opened #25210 "Trouble building for ROCm"
## 🐛 Bug

I'm trying to build on a system with a Radeon VII and Ryzen 3800x running Ubuntu 19.04 with ROCm installed from AMD's repository as described [here](https://rocm.github.io/ROCmInstall.html) (without dkms, just using the upstream kernel and udev rules as outlined). I see the following when I try to build:
[code]
I'm not sure if this belongs here or the ROCm fork of this repository, but I

[2019-08-27 00:44] mysafesky opened #25214 "torch.load issue on loading file created by torch.save"
## 🐛 Bug

For some particular data, `torch.load()` can not properly load a file dumped by `torch.save()`.

Root cause:
The file was mistakenly identified as a zip file by `zipfile.is_zipfile()` at line 557 of `torch\serialization.py`, due to the collision of magic number.

## To Reproduce

Steps to reproduce the behavior:

1. Use any dumped tensor from https://github.com/nozomifans/reccell/tree/ma

[2019-08-27 01:30] peterjc123 commented on #25165
Would you please do `network.float()` first before passing in the input?

[2019-08-27 01:40] NeilWangziyu commented on #17492
@yf225 @platisd Thanks a lot!

[2019-08-27 02:53] gujinghui commented on #25186
@ezyang
Sure. We're following.

[2019-08-27 03:29] chen1399 commented on #3775
I have question when I try Pytorch for C++.
Tensor stft( ) missing the first output point and the last output point.
For example:
The output's shape is (161,153) when I use torch_stft (python).
The output's shape is (161,151) when I use Tensor stft( ) (C++).
audio length is 24320
lenEnc is audio length
`
#python from torch_stft import STFT
stft = STFT(
    filter_length=320,
    hop_length=160,

[2019-08-27 03:43] vainaijr opened #25225 "Making more video tutorials available"
## 🚀 Feature

5-10 minute long simulations before beginning of every tutorial in PyTorch docs.

## Motivation

just like this simulation
https://www.youtube.com/watch?v=u7x8RXwLKcA
and
https://www.youtube.com/watch?v=auRPXMMHJzc
more simulations before tutorials

## Pitch

## Alternatives

## Additional context

[2019-08-27 03:49] vainaijr commented on #25156
@mrshenli, it gives different output than euclidean distance, what is it doing?
how do I have a look at its code?
it shows builtin_function_or_method, and ?, ?? gives no useful docs in colab.
how do I find its code from colab?

[2019-08-27 05:00] XiaobingSuper commented on #23825
This problem is fixed in MKLNDN [v0.20.4](https://github.com/intel/mkl-dnn/releases/tag/v0.20.4) and will upgrade it after full validation. Thanks!

[2019-08-27 05:15] jiseongg commented on #25171
@mrshenli,

[2019-08-27 05:26] #24465 closed

[2019-08-27 05:33] mijosch commented on #25210
hip-thrust is not include in rocm since version 2.6, that seems to be the issue.
I have the same problem, actualy im trying to build it in the 2.5 docker image

[2019-08-27 05:36] jiseongg commented on #25171
@mrshenli,

I'm not sure that tutorial code calls it. Functions in `THTensorConv.cpp` don't exist at all in my call stack. But I will do more research about it.

It seems you're right. I found symbols of source files at `TH` directory. Thank you. But I think my codes don't reach there, as I mentioned above.

@colesbury,

Thank you, I set a breakpoint at that function and it succeeded. I've never k

[2019-08-27 05:39] alqbib commented on #24157
me too.
my enviroment information:
windows 10
python3.6
pytorch 1.2 Is CUDA available: No
tensorboard 1.14 or tb-nightly 1.14.0a20190614 or tb-nightly 1.15.0a20190826
tensorflow 1.14
tensorboardX 1.8
numpy 1.17.0
![blank](https://user-images.githubusercontent.com/29174690/63743812-07230880-c8d0-11e9-9c09-1c3c89a0f6f2.jpg)

[2019-08-27 05:47] mijosch opened #25232 "Working build script for actual rocm version"
## 🚀 Feature
i want to have a build script that works with rocm2.7 on a fresh installed ubuntu, the newer the version the better

## Motivation
at the moment i havent found no way to get pytorch compiled even inside the official docker container. I want to have an easy way to use pytorch with radeon cards. Best would be if the script installs all dependencys needed, also the right rocm version for

[2019-08-27 06:07] atinesh-s opened #25234 "Trouble installing PyTorch for CUDA 9.0"
I am trying to install `PyTorch` for `CUDA 9.0` (Ubuntu 18.04 LTS). I followed instructions as per [official documentation](https://pytorch.org/get-started/previous-versions/), which says

Download the `whl` file with the desired version from the following html page:
https://download.pytorch.org/whl/cu90/torch_stable.html

$ pip install [downloaded file]

But above link is broken, I am unable to o

[2019-08-27 06:37] khrlimam commented on #25159
Great to hear that @ljk53!

I will try as you suggested. Thanks

[2019-08-27 06:50] jcarius commented on #25175
it works now, thanks a lot!

[2019-08-27 06:50] #25175 closed

[2019-08-27 07:15] as754770178 commented on #24904
[code]
So return List, I change to tuple(featuremaps), the program not report error. But the content in `Graph` is empty.
note: It is not showing `No graph definition files were found.`, but the page is blank.
I download the Graph, when I open it showing:
[code]

[2019-08-27 07:22] njellinas commented on #24326
I have not used VSCode in a while. But as for the cuda issue that you mentioned, I guess it is because you shouldn't use this method anymore, but instead the `.to(device)`

[2019-08-27 07:33] NeilWangziyu opened #25237 "Items in the saved script model's attribute.pkl"
## ❓ Questions and Help
According to the Jit mod, when I save a TorchScript, all the information will be saved in the .pt file.

according to the JIT document, the .pt file contains a pickle file named attributes.pkl, which contains the all module properties.

Meanwhile, there is another file called model.json, contains all module properties that are not parameters or constants, like the type of i

[2019-08-27 08:06] branfosj commented on #25172
@hartb The problem I am seeing is in `_test_det_logdet_slogdet_batched` not `_test_det_logdet_slogdet`.

I have extracted out the one test and set `TEST_NUMPY = False` and `TEST_SCIPY = False` in `common_utils.py`. Then I print the tensors rather than use the `assertEqual` (as that function has a `numpy.bool_` check in it that fails once `TEST_NUMPY = False` has been set). Then I can run without a

[2019-08-27 08:12] faroit commented on #18996
indeed, I can verify this.

@soumith can you reopen this issue?

[2019-08-27 08:32] khrlimam commented on #25159
Unfortunately I got given error after building android with `-DBUILD_SHARED_LIBS=ON` options

[code]

[2019-08-27 08:44] sakuranew opened #25239 "looking forward 1.2.0 docker image coming soon......."
1.1.0 docker image  upgrade torch to 1.2 but the image size increase 2GB....

[2019-08-27 10:01] felix-schneider opened #25241 "torch.bmm produces incorrect results for GPU fp16 tensors with batch size > 65535"
## 🐛 Bug

When using `torch.bmm` to multiply GPU matrices in FP16 with a batch size > 65535, the results are only correct for the first 65535 batch entries, after that is garbage.

## To Reproduce

Minimal example:

[code]

In my case, the output is:
[code]

Note that the incorrect entries were not always zero in all my tests.

## Expected behavior

The output tensors should be the same (to within

[2019-08-27 10:02] xiaoguai0992 commented on #23938
Hi, it seems that pytorch 1.2.0 is not compatible with cuda9.0，so that I cannot test this issue under cuda9.0.  But cuda 10 is ok.

However, updating pytorch to 1.2.0, this problem still exists.

[2019-08-27 10:13] BioFreak95 commented on #25150
updating do not help -> Same Errors

[2019-08-27 10:19] BioFreak95 commented on #25150
Updating does not help. Get the same Error.

[2019-08-27 11:00] branfosj opened #25242 "problem with mkldnn and march=native"
## 🐛 Bug

The mkldnn multiplication goes wrong when compiled with `-march=native` and the tensors are sufficiently large (>=1024 items) on both Haswell and Cascadelake architecture CPUs.

## To Reproduce

Steps to reproduce the behavior:

1. Build PyTorch with `-march=native`
1. Run the test case below. This test case is a simplification of https://github.com/pytorch/pytorch/blob/v1.2.0/test/test_

[2019-08-27 11:38] ehion opened #25243 "load pretrained model(trained in torch0.4) and got nan loss in torch1.2"
Is it possible to cause Nan loss in pytorch1.2 when i load pretrained model trained in pytorch0.4?
Because pytorch1.2 support sync-bn while pytorch0.4 does not.
I have tested just random init and did not load pretrained model and the nan loss did not appear

[2019-08-27 12:17] JoyHuYY1412 commented on #14536
Can I use all_gather to gather the output tensor without discarding its grad_fn? Currently my gathered result's grad_fn is None. I hope to do something like broadcasting the gathered output to each gpu for further training, which needs to use the gathered tensor. It looks like what sync bn does.

[2019-08-27 12:19] BioFreak95 commented on #25150
make 2>&1 |tee log.1 does not show any missing package. Additionally I could not find any entry with "lpthread". Not in the CMakeError.log nor in the additionally created log or in the CMakeOutput.log.
Are you sure, that this is the problem?

Nevertheless. Additionally I have in conda cmake 3.14 and locally I have installed cmake 3.15.2 -> also does not help.

`aptitude install libtbb-dev` does no

[2019-08-27 12:30] 2120160383 opened #25244 "pytorch bn issue"
output of bn  calculated by pytorch is different from  calculated by mine

[code]
[code]

[code]
[code]

[2019-08-27 12:30] LeviViana commented on #16897
The PR is currently being reviewed.

[2019-08-27 12:31] zuoxingdong opened #25245 "F.dropout crashes with LongTensor"
It seems `F.dropout` crashes with the input tensor has dtype LongTensor instead of raising an Exception

e.g.
[code]

[code]

[2019-08-27 12:31] #25243 closed

[2019-08-27 12:35] XiaobingSuper commented on #16445
We will also try to reproduce it and follow it. Thanks!

[2019-08-27 12:54] dpappas commented on #3166
This will not work for any model.

for example:

`
class MLP(nn.Module):
    def __init__(self, input_dim=None, sizes=None, activation_functions=None):
        super(MLP, self).__init__()
        ################################
        sizes               = [input_dim]+ sizes
        self.activations    = activation_functions
        self.linears        = []
        for i in range(len(sizes)-1):

[2019-08-27 12:57] XiaobingSuper commented on #25101
@emankov , I test the case in PyTorch side using MKLDNN v0.20.4, it can solve this problem. Thanks!

[2019-08-27 13:00] heiner commented on #24912
Please not that it should be rather easy to reproduce given the above steps. If this looks different for you, please let me know.

[2019-08-27 13:05] OscarVanL commented on #10443
I had this issue today.

[2019-08-27 13:07] heiner commented on #18128
Can you add some context on how I'd use the C++ libtorch in a context like the one of this bug? Does it include the pybind11 code for at::Tensors <-> Python torch.Tensor conversations?

Also I believe @soumith mentioned to me that the actual error in this bug isn't related to ABI versions but to a symbol visibility issue. Quote from @soumith's communication:

So (1) how would I use the new libtorc

[2019-08-27 13:14] vainaijr opened #25247 "where is the link to this NOTE?"
## 📚 Documentation

in IterableDataset.

# No `def __len__(self)` default?
 # See NOTE [ Lack of Default `__len__` in Python Abstract Base Classes ]

[2019-08-27 13:25] BioFreak95 commented on #25150
`make 2>&1 |tee log.1` does not show any missing package.

Nevertheless. Additionally I have in conda cmake 3.14 and locally I have installed cmake 3.15.2 -> also does not help.

`aptitude install libtbb-dev` does not work, because I do not have root access.

[2019-08-27 13:27] #25244 closed

[2019-08-27 13:40] ezyang opened #25248 "Hypothesis tests are not deterministic"
I suspect that Hypothesis tests in the form

[code]

are not deterministic. This is because #25097 is flaky; it should deterministically fail if we are seeding properly. We need to make sure that we actually run our tests deterministically; and furthermore, they must be stable with respect to other changes in the file.

cc @jerryzh168 @jianyuh @dzhulgakov @raghuramank100 @jamesr66a @vkuzo

[2019-08-27 13:49] linko994 commented on #25165
Thanks for the suggestion. Now I don't get that error at choose_action anymore, but the same error at a different point in my code:

File "F:/Bachelorarbeit/Unity Projekt/ml-agents-master/ml-agents/mlagents/trainers/dqn/dqn.py", line 94, in train
    q_values = network(states).gather(1, actions)

This is how I sample my State from Replay Buffer
state = torch.tensor([state], dtype=torch.float, devi

[2019-08-27 13:52] andreaskoepf commented on #25245
This bug can be reproduced (without dropout) by dividing a LongTensor by a floating scalar with absolute value `< 1.0`:

[code]
-> Floating point exception (core dumped)

[2019-08-27 13:56] andreaskoepf commented on #25245
With a cuda tensor this does not crash but has also strange results:

[code]

[2019-08-27 14:09] vadimkantorov commented on #25147
@skrah it seems that https://github.com/pytorch/pytorch/pull/24464 fixed the problem for me. I'll also verify later today how it works out on AWS.

[2019-08-27 14:17] soumith commented on #3166
@dpappas that's because `model.parameters()` in your case will return an incomplete set of parameters. Do `self.linears        = nn.ModuleList()` instead of `[]`

[2019-08-27 14:27] vainaijr commented on #25225
I see YouTube channel for tensorflow, google has channels for every kind of developer, same thing for Python, we have PyCon, PyData, conferences, for cpp, we have CppCon, so I think more videos to PyTorch official channel related to tutorials, tricks, hacks, apps would be good.

[2019-08-27 14:31] soumith commented on #25225
Thanks for the feedback. We have just started a PyTorch youtube channel, and we are also adding more videos directly into tutorials, headed by @jlin27 @SethHWeidman and others.

[2019-08-27 14:31] #25225 closed

[2019-08-27 14:31] vadimkantorov commented on #25147
@skrah false alert :( it still breaks

[2019-08-27 14:35] julioasotodv opened #25251 "[ONNX] [jit] ONNX export for ScriptModule including for loop and mixed types cannot be loaded in onnxruntime"
## 🐛 Bug

It looks like if we want to export a ScriptModule to onnx and the module includes both:

1. A for loop
2. More than one tensor data type (eg. float and long)

The exported ONNX file cannot be loaded with the ONNX runtime.

## To Reproduce

[code]

The last line fails with:
[code]

It turns out that this only occurs if the module uses more than one tensor data type. For instance: if every

[2019-08-27 15:25] julioasotodv commented on #24824
Ok I just realized that if we trace the dropout layer in the __init__() call it seems to work.

[2019-08-27 15:50] maaft commented on #24817
This will enable the export for RoiAlign until the torchvision devs add the symbolic function.

[code]

[2019-08-27 16:33] atinesh-s commented on #25234
This link is unreachable https://download.pytorch.org/whl/cu90/torch_stable.html

[2019-08-27 17:08] gujinghui commented on #25242
Thanks for report. We're following this.

[2019-08-27 18:23] julioasotodv commented on #25251
@sidazhang It does: the `onnx::Loop` operation exists. Take a look at https://pytorch.org/docs/stable/onnx.html#tracing-vs-scripting; the example listed there shows the usage.

[2019-08-27 18:30] yz-cnsdqz opened #25264 "torch.symeig() returns negative eigenvalues for positive definite matrix"
## 🐛 Bug

as the title

## To Reproduce

Steps to reproduce the behavior:

1. a = torch.randn(100,10)
2. C = torch.matmul(a, a.permute(1,0))
3. eigvals, _ = torch.symeig(C)

## Expected behavior
all eigenvalues should be non-negative.

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/colle

[2019-08-27 19:29] vadimkantorov commented on #25147
If you could suggest how to run it properly under valgrind (just using memcheck kind of concealed the crash), I can do it and upload results

[2019-08-27 21:34] JamesTrick commented on #21553
I too am finding a use-case for this. I'm happy to start work on this.

[2019-08-28 01:54] khrlimam commented on #25159
@ljk53 I got the error when I run `pytorch/scripts/build_android.sh -DBUILD_SHARED_LIBS=ON`. I red that issue and tried to export those variables, but unfortunately the error still exists.

[2019-08-28 02:00] JoyHuYY1412 opened #25284 "How to preserve backward grad_fn after distributed 'all_gather' operations"
I am trying to implement model parallelism in a distributed data parallel setting.

Let’s say I have a tensor output in each process and a number of operations have been performed on it (in each process independently). The tensor has a .grad_fn attached to it. Now I want to perform an all_gather to create a list [tensor_1, tensor_2...tensor_n]. But all the tensors in the list will lose the grad_fn

[2019-08-28 03:08] beichen2012 opened #25288 "Adam Optimizer has CUDA memory leaks in libtorch1.2 ?"
Adam Optimizer has CUDA memory leaks in libtorch1.2 ?

[2019-08-28 03:37] 1224wxwx commented on #25173
I got the same error and the command didn't solve my problem.

[2019-08-28 04:04] memoiry commented on #15864
+1,  There is a lot of new works based on deformable convolution.

[2019-08-28 04:57] XiaobingSuper commented on #25242
We solved it and will pull a request to it. Thanks!

[2019-08-28 05:30] XiaobingSuper commented on #25101
@ailzhang, yes, I test it on skx-6148, the new MKLDNN v0.20.4 can solve it, the log details is:
[code]

[2019-08-28 05:34] atinesh-s commented on #25234
1. Open the link [https://download.pytorch.org/whl/cu90/torch_stable.html](https://download.pytorch.org/whl/cu90/torch_stable.html) in a browser
2. Go into the source
3. Download the appropriate version. For `PyTorch v1.1.0`, `CUDA 9.0` and `Python 3.6` I have downloaded `torch-1.1.0-cp36-cp36m-linux_x86_64.whl`, If you have other requirements then download appropriate `.whl` file
4. Install via `

[2019-08-28 05:52] chenzhekl opened #25293 "[C++] `modulelist.h` include is missing in `modules.h`"
## 🐛 Bug

## To Reproduce

`modulelist.h` include is missing in `modules.h`, which makes `ModuleList` inaccessible through `torch/torch.h`

## Expected behavior

## Environment

 - PyTorch Version (e.g., 1.0): Nightly
 - OS (e.g., Linux): Linux
 - How you installed PyTorch (`conda`, `pip`, source):
 - Build command you used (if compiling from source):
 - Python version:
 - CUDA/cuDNN version:
 - G

[2019-08-28 06:12] dedoogong opened #25294 "What is the purpose of fp16 training? faster training? or better accuracy?"
I think for fp16 inference, just train a model on FP32 and then just model.half() will work.
But this forceful type casting would lead worse accuracy.

I'm not sure which is better between
1. FP32 training then model.half() -> fp16 inference VS
2. FP16 training using apex then inference FP16 with the same setting.

if 1 and 2 has not that big accuracy gap, case 1 would be used just for faster/memo

[2019-08-28 06:23] beichen2012 commented on #25288
also occurs in RMSProp

[2019-08-28 08:02] suvojit-0x55aa commented on #25294
From some experiments I've run on MNIST with LeNet for 20 epochs, the 1st method will lead to some loss in accuracy of the model
[code]
Although the accuracy gap is not much for dataset like MNIST using method (1) it should be more for real world dataset. Training on FP16 adapts the weight for FP16 inference so it should be able to match the accuracy with sufficient training.

Training on FP32 and

[2019-08-28 08:37] vadimkantorov opened #25297 "torch.as_tensor(bytearray(...)) seems to leak memory"
In my multi-threaded data loader I'm calling `sox` to do some data augmentation (because torchaudio SoxEffectsChain [seems to corrupt memory](https://github.com/pytorch/pytorch/issues/25147)). Somehow I get GPU memory leak. Both these lines do not use any GPU, so it's very strange.

[code]

[2019-08-28 08:44] vadimkantorov commented on #25147
Here is my pipeline:
[code]

I'm doing this for every audio within `__getitem__` of my dataset within a multi-threaded DataLoader.

Unfortunately, I don't have resources for now to prepare a stand-alone repro, but I can run this under tracing if you can advise me how to do that (e.g. have tensor deallocate print some tensor shape).

[2019-08-28 09:04] andyljones commented on #24159
NVIDIA have fixed this in the 10.1.243 CUDA release.

[2019-08-28 09:04] #24159 closed

[2019-08-28 09:14] cisprague commented on #19739
This fixed my problems

[2019-08-28 09:23] DerHaddy opened #25298 "C++ API - Can't copy tensor or model to GPU"
Hi all,

i recently built PyTorch in Visual Studio 2017 C++. I have installed CUDA 10.0 and cudNN v7.6.2. At the building process there were no problem. Now i am defining my device type:

[code]
This works and my device_type is set to torch::kCUDA.

Now i want to copy a Tensor to the device:

[code]

Then I get following Error:

Unhandled exception at 0x00007FF854E3A388 in AlexNet.exe: Microsoft C

[2019-08-28 09:25] Navhkrin commented on #24157
Getting the same problem as @alqbib and @rfejgin , im running the tutorial code located at https://pytorch.org/tutorials/intermediate/tensorboard_tutorial.html

[2019-08-28 09:28] sukuya commented on #24256
Is there any way to mimic  `hasattr` in TorchScript ?

[2019-08-28 09:31] as754770178 opened #25299 "torch.distributed.launch issue"
When I use `-m torch.distributed.launch --nproc_per_node=2` to launch, report error:
[code]

my commant is `CUDA_VISIBLE_DEVICES=2,3 python3 -m torch.distributed.launch --nproc_per_node=2 train.py --trained_weights log/model_15250.pth  --isai `

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera

[2019-08-28 10:01] soumith commented on #25297
@vadimkantorov i suspect fork issues. can you create a subprocess using spawn?

[2019-08-28 10:03] belgraviton commented on #25088
[Here](https://github.com/pytorch/pytorch/blob/master/torch/onnx/symbolic_opset8.py) and [here](https://github.com/onnx/onnx/releases) were mentioned that 'MaxUnpool' onnx operator was added to opset 9 of ONNX.

Unfortunately I don't found any 'max_unpool2d' support in opsets (9, 10, 11) in torch ([link](https://github.com/pytorch/pytorch/tree/master/torch/onnx)).

Is there any guidance in way of

[2019-08-28 10:04] andyljones opened #25301 "CUDA IPC garbage collection hangs when disposing of LSTMs"
## 🐛 Bug

Copying a LSTM's state dict to another process via a torch Queue will hang when the source process tries to dispose of the underlying tensors.

## To Reproduce
Below we have two processes. The learner process passes an LSTM's state dict to the actor process via a Queue.
[code]
When run, the actor and learner will each loop a few times an then the learner process will hang. The output wil

[2019-08-28 10:05] soumith commented on #25294
please use https://discuss.pytorch.org for questions

[2019-08-28 10:05] #25294 closed

[2019-08-28 10:07] soumith commented on #25288
@beichen2012 please follow our issue template (bug report template), we have no understanding of what you mean.

Please open a new issue with the details.

[2019-08-28 10:07] #25288 closed

[2019-08-28 10:08] belgraviton commented on #25088
[Fail to export the model in PyTorch. Tutorial: PyTorch -> ONNX](https://github.com/onnx/tutorials/blob/master/tutorials/PytorchAddExportSupport.md)

[2019-08-28 10:09] soumith commented on #25293
cc: @yf225

[2019-08-28 10:13] soumith commented on #25284
please use https://discuss.pytorch.org for questions

[2019-08-28 10:13] #25284 closed

[2019-08-28 10:15] vadimkantorov commented on #25297
I’ll try, spawn unfortunately leaks semaphores, which is also suspicious (but hopefully danger-less)

[2019-08-28 10:17] vadimkantorov commented on #25297
And it’s also strange that from_numpy works fine, so I think spawn is not the issue