[2019-05-28 08:47] #20264 closed

[2019-05-28 08:55] bddppq commented on #20364
All CI servers have been upgraded

[2019-05-28 08:55] #20364 closed

[2019-05-28 08:56] bddppq commented on #18477
Same as #20364 20364

[2019-05-28 08:56] #18477 closed

[2019-05-28 08:57] bddppq commented on #18329
Softmax Nan bug should have been fixed now.

[2019-05-28 08:57] #18329 closed

[2019-05-28 09:03] qingchenwuhou commented on #3742
Thanks, also need to correct the cuda path in ~/.bashrc:
export LD_LIBRARY_PATH="/usr/local/cuda-9.0/lib64::$LD_LIBRARY_PATH"
export PATH="/usr/local/cuda-9.0/bin:$PATH"

[2019-05-28 09:24] nk0307 opened #21014 "_assert_no_grad"
## 📚 what we can do to substitute the assert no grad function?

https://pytorch.org/docs/0.3.1/_modules/torch/nn/modules/loss.html

[2019-05-28 10:01] arp2600 commented on #20583
Hi @mingfeima. I installed PyTorch using pip. Below I've included the `pip install` and `pip show` outputs. I notice the two machines you tried to reproduce the issue on both support avx2. The machine I am getting the error on only has support for avx, not avx2.
[code]

[2019-05-28 10:17] Haydnspass commented on #17415
Plus the libraries: libmklml.dylib and libiomp5.dylib are missing in v1.1.0 which were present in 1.0.. Copying them works.

[2019-05-28 10:23] zakizhou commented on #20676
@suo just for curiosity, no special use cases. So the dependencies of jit modules should be a tree not a DAG, is it right?

[2019-05-28 10:31] Jonas1312 commented on #20635
@peterjc123
[code]

I'm gonna try to build pytorch again but this time with #15807 reverted

[2019-05-28 11:17] HenryJia commented on #13061
@sth1997 @ZhihuiYangCS

OK. I think you can solve that one by setting MAX_JOBS=4. I think the issue is that if you let it use the default MAX_JOBS it may run more than 4,  causing the job which generates macros.h to be complete after the jobs which need it

Still getting this error though

[code]

[2019-05-28 11:41] sth1997 opened #21015 "How to use Infiniband for cpu-cluster with backend gloo?"
Now I'm trying to build pytorch from source for my cpu-cluster with backend gloo.
After installing pytorch, I got this information from install summay:
[code]
In my cluster, the network interface "eno1" represents Ethernet, and "ib0" represents Infiniband.
I set the environment variable `GLOO_SOCKET_IFNAME=eno1`, and distributed pytorch works fine. But when I set `GLOO_SOCKET_IFNAME=ib0`, it will

[2019-05-28 11:49] peterjc123 commented on #20635
@Jonas1312 What about calling `torch._C._cuda_isDriverSufficient()` and `torch.cuda.init()`?

[2019-05-28 11:50] Jonas1312 commented on #20635
@peterjc123
[code]

[2019-05-28 11:53] Jonas1312 commented on #20635
@peterjc123
[code]

[2019-05-28 11:55] dendisuhubdy commented on #13061
@HenryJia interesting, I didn't think build threads were the problem

[2019-05-28 11:56] peterjc123 commented on #20635
@ezyang May I know where is `at::cuda::device_count()` implemented?

[2019-05-28 12:00] Jonas1312 commented on #20635
[code]

[2019-05-28 12:12] HenryJia commented on #13061
@dendisuhubdy I went and read the macros.h file, it did mention that it was a placeholder for something generated by CMake.

I also noticed that compilation carried on for a bit even after the error triggered, which suggested maybe it was an issue of threads/jobs not being correctly synced. I also went through the Jenkins builds and noticed the automated builds had an export MAX_JOBS=4 line in the

[2019-05-28 12:16] peterjc123 commented on #20635
@Jonas1312 These two functions are actually doing the same thing but through different code paths. The code is listed below:
[code]
I guess we can replace `at::cuda::device_count` here with a raw `cudaGetDeviceCount` call, but it will be better to know why it is causing this problem.

[2019-05-28 12:33] veritas9872 commented on #6934
@musikisomorphie There is already an implementation using Pytorch code [here](https://github.com/jorge-pessoa/pytorch-msssim). I think it implements both SSIM and MS-SSIM.
However, there are no tests to verify it is correct. Comparing results with skimage might be helpful.
Also, pylint gave me a lot of errors when I downloaded it.

[2019-05-28 12:33] peterjc123 commented on #20635
What about replacing `torch.cuda.init()` with `torch._C._cuda_init()`?

[2019-05-28 12:35] Jonas1312 commented on #20635
@peterjc123
[code]

[2019-05-28 12:47] musikisomorphie commented on #6934
@veritas9872, thank you for mentioning that repo. Actually, my implementation is inspired by it, together with some changes so that the code can reproduce the results from the original matlab code.
I run some tests myself for both ssim and ms-ssim, the results produced by my code shows 1-2% difference compared to the matlab code. I will open a PR soon.

[2019-05-28 13:00] sakaia opened #21016 "[utils.bottleneck] throws initialization error for cuda profiling"
## 🐛 Bug
When I execute example/mnist/main.py on Colab/Local Machine with cuda,
it throws initialization error.
If I add --no-cuda flag, it works fine

[code]
## To Reproduce

Steps to reproduce the behavior:
On Google Colab, execute as follows,

[code]

## Expected behavior

Profiling works, not throws initialization error.

## Environment
[code]

## Additional context

[2019-05-28 13:03] veritas9872 commented on #6934
@musikisomorphie Thank you for your work on the project. I am greatly looking forward to using SSIM on Pytorch for my projects, which mostly involve image reconstruction for now.

Although I did mention this in my previous comment, I would like to ask for all the parameters in SSIM and MS-SSIM to be made tunable by the programmers, with most of the usual values set as defaults.

In the paper that

[2019-05-28 13:25] zou3519 opened #21017 "Stop using "AAA" prefix for builds"
I've been seeing build names like "AAA_pytorch_linux_trusty_py3_5_build". A dig through the source code indicates that the "AAA" prefix just means that the build is "important".

Could we change "AAA" to "important" so that not everyone needs to dig through the source code to understand what this test is?  cc @kostmo

[2019-05-28 13:30] janacht commented on #21004
For me this issue occured with CUDA 10.0 and installing PyTorch from pip. Installing PyTorch 1.1 and Torchvision according to the instructions on https://pytorch.org/ (for Linux, CUDA 10.0, Python 3.6 and pip):
[code]
solved it for me.

[2019-05-28 14:15] Jonas1312 commented on #20635
@peterjc123 Reverting #15807 doesn't fix the issue

[2019-05-28 14:18] kratosaba27 opened #21018 "free(): invalid pointer Aborted (core dumped)"
## 🐛 Bug
I'm trying to run a simple network however, I run the program and it I get right a way the error:
free(): invalid pointer
Aborted (core dumped)
it doen't tells me where exactly is the problem.

## To Reproduce
You have to download to library from the git repository of fwilliams (https://github.com/fwilliams)  fml and point_cloud_utils. And run the following code:
main.py :
`import argpars

[2019-05-28 16:02] wollschl commented on #19258
How did you solve the problem? Getting the exact same message

[2019-05-28 16:08] ngimel commented on #18536
Looks good, but keep in mind that now both algo and math type (tensor cores/no tensor cores) is required to fully specify what to run. Existing caching mechanisms are correctly dealing with it now, APIs you proposed have to be slightly changed to accomodate it.

[2019-05-28 16:15] luccitan commented on #20403
Hello, do you have any good news regarding this issue ?

About the Mac situation, you need to install `libomp` via `brew install libomp` (see [this issue](https://github.com/pytorch/pytorch/issues/20030))

I am facing the original issue on Amazon DL instances (as you may too, since you're using  `pytorch_p36` ;) )

[2019-05-28 16:15] suo commented on #20676
Yes. Possibly we could fix serialization to more accurately track submodule identity, but absent a use case I think we'll put it on the back burner for now. Anyone feel free to comment if they need this functionality!

[2019-05-28 16:20] yaroslavvb commented on #20403
My workaround was to build PyTorch from source and install it that way.
But also, DLAMI 23 has PyTorch 1.1 installed by default now

[2019-05-28 16:25] pjh5 commented on #7233
@buaacarzp we don't test against CUDA 8.0 anymore. You might have to make changes to get it to work for CUDA 8.0

[2019-05-28 16:26] colesbury commented on #21017
It's the old Yellow Pages trick to make them show up first alphabetically...

(FWIW, I like that the important builds show up on top)

[2019-05-28 16:28] suo commented on #20939
@sidazhang: (I'm assuming you are making a ScriptModule). `forward()` is always compiled, so `training_only_param` will need to be annotated. If there is no equivalent TorchScript type, then you can't use it.

We don't currently have a way of specifying function arguments as ignored, but it would be possible to add. I'm thinking we could compile it to a type like `MustBeNone` or something, which w

[2019-05-28 16:30] colesbury commented on #20986
Or maybe your PyTorch checkout? I think THCHalf.cu was removed sometime between v0.4.1 and v1.0.0.

[2019-05-28 17:00] kostmo commented on #21017
+@suo

[2019-05-28 17:03] suo commented on #21017
Someone mentioned that `_IMPT` works just as well for putting things first, maybe we can change it to that

[2019-05-28 17:24] ngimel commented on #21004
This is a cuda initialization error in disguise, not really JIT compilation error, so making sure driver + pytorch cuda version + torch vision cuda version match usually solves it. It would be great to have a more helpful error message, but so far we are unable to repro.

[2019-05-28 17:49] Menee opened #21023 "Minimal Working Example for Caffe2 Predictor(C++ Interface)"
I cannot find any official or third-party demos which is compliable with caffe2 in pytorch v1.1.0.

[2019-05-28 18:09] soumith opened #21026 "Improve Windows build from source instructions"
Right now, the Windows build from source instructions can be improved in a few ways.

- Specify whether VS2017 is the only supported one, or if VS2019 is also supported.
  - The language says: "At least Visual Studio 2017 Update 3 ", but @aijayadams reported that the builds dont actually work with VS2019. Maybe we say "Visual Studio 2017 (atleast Update 3)?"
- `FORCE_PY27_BUILD` line doesn't make

[2019-05-28 18:09] soumith commented on #21026
@peterjc123 can you make these improvements

[2019-05-28 18:31] jcjohnson commented on #18536
I don't think a global cuDNN algorithm setting makes sense; most models would probably want to use different algorithms for different layers.

Using global getters / setters for algorithms would work. For the getter / setter it might be convenient to have the option to pass an `nn.Conv2d` object and a prototype tensor input rather than all the keyword args? Something like this:

[code]

This would

[2019-05-28 18:42] colesbury opened #21028 "Zero-dim Tensors (scalars) should be printed at full precision"
## 🚀 Feature
The string representation of zero-dimensional Tensors should be sufficient to exactly reconstruct their value.

Ideally it should also print using the minimal number of digits. For example, we should avoid printing 1.0/10.0 as `0.100000001`.

## Motivation
We've had a number of bug reports where some value looks like 1.0 but is actually larger than 1. Many people don't know that you n

[2019-05-28 18:52] MinHyung-Kang commented on #21004
Thank you for taking a look! It seems like I cannot install the wheels on my current google cloud instance. I can try to create a new image with new installations and will report back if that solves it

[2019-05-28 18:57] pjh5 commented on #20271
So it looks like we've been messy in how we're building libtorch. I propose we fix https://github.com/pytorch/pytorch/blob/master/docs/libtorch.rst to follow Thomas's instructions, with the extra information that
- Make an extra directory and call build_libtorch.py within that to avoid polluting the source directories, and since our cmake might not support in-place builds in all circumstances base

[2019-05-28 19:15] #16229 closed

[2019-05-28 19:30] #20495 closed

[2019-05-28 19:32] Akaori opened #21036 "Predicting next 60 days using pytorch (LSTM)"
## ❓ Questions and Help
I am trying to use pytorch to make predictions on time-series dataset.

1- First I splited the dataset into training and test.

[![Dataset][1]][1]

2- Then I created the model

    import torch.nn as nn
    import torch.nn.functional as F

    class Model(nn.Module):
        def __init__(self):
            super(Model, self).__init__()

            self.rnn = nn.LSTM(input_

[2019-05-28 19:36] #20947 closed

[2019-05-28 19:38] colesbury commented on #21036
Please use the discussion forum (https://discuss.pytorch.org/) for questions.

[2019-05-28 19:38] #21036 closed

[2019-05-28 19:44] umanwizard commented on #21018
I can reproduce a segfault:

[code]

[2019-05-28 19:45] umanwizard commented on #21018
I am getting a segfault in `PyInit_open3d` when running this code. Not sure whether it's the same issue that the reporter is seeing, or if somehow I just installed open3d wrong...

[2019-05-28 19:48] MinHyung-Kang commented on #21004
I was able to run it successfully after install using correct conda commands. Thank you for the help!

[2019-05-28 19:48] #21004 closed

[2019-05-28 19:55] umanwizard commented on #21018
When I remove any calls to `open3d`, I don't get a segfault when running this anymore. Instead, I get some normal python errors (like forgetting to import `random` in `common.py`)

@kratosaba27 Please see if you can reproduce this issue without calling open3d. If not, it seems like it is an issue with open3d, and not with PyTorch.

[2019-05-28 20:01] pjh5 commented on #14573
This was never completed; it fell into the backlog behind the library unification. @kostmo is this on your roadmap?

[2019-05-28 20:01] umanwizard commented on #21028
Good idea

[2019-05-28 20:06] aluo-x commented on #18626
Wanted to support this feature request as well.

For context, this could be used with the work done by Alibaba for kubernetes (See [Kubernetes #52757](https://github.com/kubernetes/kubernetes/issues/52757#issuecomment-464645334)). While there is probably a significant speed/latency penalty, it may still be beneficial for certain tasks.

[2019-05-28 20:29] mrshenli commented on #21015
CC @pietern

[2019-05-28 20:48] muhammadnasif commented on #4207
Try using anaconda prompt ... it solved my problem

[2019-05-28 21:07] sidazhang opened #21040 "JIT Array Attribute is broken"
## 🐛 Bug

Cannot append

## To Reproduce
[code]

[code]

## Version

'1.1.0a0+72e171d'

[2019-05-28 21:48] driazati commented on #21040
This is happening since `forward` isn't a `@script_method` and it's grabbing the empty list attribute from the C++ `ScriptModule`, converting it to a Python list, appending to that, then throwing it away.

There's no easy fix for this since it's all happening in the Python interpreter, but the attribute changes in #20939 should fix this.

[2019-05-28 22:12] wanchaol commented on #21009
thanks for raising this issue, there's some bug currently on mixing tracing and scripting for not properly inline the constants for non tensor types, we will look into it.

[2019-05-28 22:19] shalijiang opened #21043 "is there an equivalent of `tf.nn.embedding_lookup` in Caffe2 Python API?"
## ❓ Questions and Help

I'm trying to find an equivalent of tf.nn.embedding_lookup` in Caffe2.
Seems there is a C++ interface, but couldn't find the python interface.

BTW, does this link (https://caffe2.ai/doxygen-python/html/annotated.html) contain all python APIs for Caffe2? Seems I couldn't find the documentation of certain functions, e.g., `core.C.create_db`

[2019-05-28 22:22] sidazhang commented on #21040
So I just need to add a script_method annotation and that’s it?

[2019-05-28 22:54] soumith commented on #21043
please use https://discuss.pytorch.org for questions

[2019-05-28 22:54] #21043 closed

[2019-05-28 22:55] mdlockyer opened #21044 "Visual noise being introduced by Bicubic interpolation"
## 🐛 Bug

It seems that the new Bicubic interpolation is introducing some noise/artifacts into images.

## To Reproduce

[gist](https://gist.github.com/mdlockyer/100194e984e0a44c0fdd51fa74ef03fe) that demonstrates the issue.

## Expected behavior

The image should look great! Bicubic interp rocks. Obviously there are plenty of examples out there(e.g., OpenCV, Pillow,...).

## Environment

PyTorch

[2019-05-28 23:06] soumith commented on #21023
we are not really focused on Caffe2 frontend at the moment, so we likely wont fix this

[2019-05-28 23:06] #21023 closed

[2019-05-28 23:46] soumith commented on #20271
@pjh5 this sounds good to me.

[2019-05-29 00:08] soumith commented on #21014
please use https://discuss.pytorch.org for questions

[2019-05-29 00:08] #21014 closed

[2019-05-29 01:49] xiaoLiuxiaoLiuxiaoLiu opened #21050 "can't find "file_adapter.cc" error when release and output values not same"
## Issue description

Hello，an error exist when I Release the project. However, Debug is OK in this project.
Here the error is:
Can't find file_adapter.cc
There is a file called "file_adapter.h" in "caffe2/serialize/". Is that some relationships between "file_adapter.cc" and "file_adapter.cc" in this error?
Another question, when I debug this project, input same images and output different values

[2019-05-29 02:04] daemon commented on #5790
Thanks for your input.

Those solutions are reasonable for parameterless pruning.

For most problems, it's true that @apaszke's and @fmassa's solutions work, e.g., either implementing the logic in a forward hook or a module with `functional` calls. The main problem is elegance and modularity. The issue with @apaszke's suggestion is that the weights need to be explicitly set. Using forward hooks do

[2019-05-29 02:15] vishwakftw commented on #10538
Closed by #20689

[2019-05-29 02:15] #10538 closed

[2019-05-29 03:37] li-ren commented on #19969
The same problem. QAQ
Does anyone have a solution?

[2019-05-29 03:41] zakizhou commented on #20676
Thanks!

[2019-05-29 03:41] #20676 closed

[2019-05-29 04:07] soumith commented on #5790
the above sample does look tempting.
One problem that affects hooks -- but especially affects this style of code (because it's doing considerable non-trivial work) is that hooks aren't serializable -- storing so much state about the mechanism of the model in something like this seems laden with side-effects (esp. across serialization-deserialization).
But I think you are building a case for hooks

[2019-05-29 04:36] rezasugiarto commented on #4518
Same found problem on Windows 10 ( _ImportError: DLL load failed: The specified module could not be found._ )
 im installing with this  `conda install pytorch-cpu torchvision-cpu -c pytorch`
actually forget about my previous version of python ( around 3.6.X) , but im updated my python to 3.6.8 and it solve the problem.

[2019-05-29 05:05] GauravKrRoy opened #21055 "subprocess.CalledProcessError: Command '['make', '-j', '4', 'install']' returned non-zero exit status 2"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1.
1.
1.

      make[1]: Leaving directory '/media/gauravroy/pytorch/build'
Makefile:143: recipe for target 'all' failed
make: *** [all] Error 2
Traceback (most recent call last):
  File "setup.py", line 744, in <module>
    build_deps()
  File "setup.py", line 309, in build_deps
    build_dir='build')
  File "/media/gauravroy/pytorch/to

[2019-05-29 05:08] GauravKrRoy opened #21056 "subprocess.CalledProcessError: Command '['make', '-j', '4', 'install']' returned non-zero exit status 2"
## ❓ Questions and Help

make[1]: Leaving directory '/media/gauravroy/pytorch/build'
Makefile:143: recipe for target 'all' failed
make: *** [all] Error 2
Traceback (most recent call last):
  File "setup.py", line 744, in <module>
    build_deps()
  File "setup.py", line 309, in build_deps
    build_dir='build')
  File "/media/gauravroy/pytorch/tools/build_pytorch_libs.py", line 309, in build_caffe

[2019-05-29 05:37] peterjc123 commented on #21026
@soumith

Visual Studio 2019 is also supported but it will not be auto-selected if `ninja` is not used. Because we hardcode the generator in cmake to `Visual Studio 15 2017`. In https://github.com/pytorch/pytorch/issues/20706#issuecomment-494329983, I have some suggestion for fixing this. But nobody responds to it. I am strongly against changing the default value to VS 2019 because for now, for CU

[2019-05-29 06:10] sublee commented on #19260
I just deprecated the multiple or no inputs to `checkpoint_sequential` at https://github.com/pytorch/pytorch/commit/ffdce79078438c8722eccc87d9d68396559b97e4.

@soumith Thanks to pulling it. I'll send a new pull request to completely deprecate it when you're releasing PyTorch 1.3.0.

[2019-05-29 06:10] #19260 closed

[2019-05-29 06:49] xiaoLiuxiaoLiuxiaoLiu commented on #19563
Got a similar problem! Libtorch is much slower than Pytorch.

[2019-05-29 07:57] Silas606 commented on #20686
I believe both libtorch and pytorch have `BUILD_SHARED_LIB=OFF` and out-source build as default so I think it is good idea to align caffe2 with them by default if there is no other specific reasons.

[2019-05-29 08:47] xiaoyige99 commented on #10654
When I use the t dataset, I get the following error, how do you do it? thank you !
NotImplementedError: Got 5D input, but bilinear mode needs 4D input

[2019-05-29 08:53] peterjc123 commented on #20635
So the problem is not on the python side. Actually, I find a similar issue in a different repo https://github.com/xmrig/xmrig-nvidia/pull/255/files#diff-511952111c831a641699c2f24cb59767R550, which tries to do `cudaDeviceReset` before `cudaGetDeviceProperties`. However, I believe this should not be the first thing we should try. I reviewed the code differences between v1.0.0 and v1.0.1 again and sa

[2019-05-29 10:01] kratosaba27 commented on #21018
It seems it is the import of open3d that gives the error, but I belive that is something to do with the interaction of open3d and pytorch.

[2019-05-29 10:07] reignianor commented on #19349
Encountering exactly the same warning and result, shape[2] seems different with others. Are there any updated of this issue? Thanks.

[2019-05-29 10:16] kratosaba27 commented on #21018
I did a work around and created a new script that handles only the open3d calls and called it to main.py and it seems that the error is gone.

[2019-05-29 10:17] mikonapoli commented on #3022
It turned out that the main problem for me was not the PSU, but the lack of cables. Apparently connecting a GPU which has 2 PCIe sockets to a single socket in the PSU draws too much power from the single PSU socket and the overvoltage protection turns everything off.

Upgrading the PSU in my case seemed to worsen the problem, as the PSU was not turning on at all. Reason being that the new (and bet

[2019-05-29 11:22] myproject24 commented on #20524
Hi, @ezyang @apaszke @neoinmtv @soumith what is the Mac machine requirements to install caffe2?

I have Mac mini with 500GB storage, 4GB RAM, and Intel Core i5 processor. is it possible to install caffe2 on my Mac mini?

[2019-05-29 11:24] myproject24 opened #21060 "What is Mac system requirement to install caffe2?"
Hi, @ezyang @apaszke @neoinmtv @soumith what is the Mac machine requirements to install caffe2?

I have Mac mini with 500GB storage, 4GB RAM, and Intel Core i5 processor. is it possible to install caffe2 on my Mac mini?

[2019-05-29 11:57] myproject24 commented on #16955
Hi, @hameerabbasi @ezyang @xmnlab @rgommers @ericnakagawa  what is the Mac machine requirements to install caffe2?

I have Mac mini with 500GB storage, 4GB RAM, and Intel Core i5 processor. is it possible to install caffe2 on my Mac mini?

OS: MacOS Mojave 10.14.2
Processor: Intel Core i5 2.5 GHz
Graphics: Intel HD Graphics 4000 1536 MB
RAM: 4GB DDR3
Storage: 500GB SATA

[2019-05-29 12:02] chia-an commented on #8741
I had the same problem with optimizers: I was using `Adam` optimizer and I wanted to continue my training on a different device. The simple work around I use is to get the `state_dict` and reload it, i.e.
[code]

This works because in `load_state_dict()`, there is a [`cast()`](https://github.com/pytorch/pytorch/blob/master/torch/optim/optimizer.py#L124) function that set the state to a proper devi

[2019-05-29 12:03] myproject24 commented on #18279
Hi, @ezyang  what is the Mac machine requirements to install caffe2?

I have Mac mini with 500GB storage, 4GB RAM, and Intel Core i5 processor. is it possible to install caffe2 on my Mac mini?

OS: MacOS Mojave 10.14.2
Processor: Intel Core i5 2.5 GHz
Graphics: Intel HD Graphics 4000 1536 MB
RAM: 4GB DDR3
Storage: 500GB SATA

[2019-05-29 12:11] askliar opened #21061 "Misleading Error when doing Large Batch Matrix Multiplication"
## 🐛 Bug

When doing Batch Matrix Multiplication in Pytorch 1.1.0, when too much memory is needed, instead of throwing a meaningful error (the way it was in previous versions e.g. Buy new RAM!),
`Pytorch RuntimeError: [enforce fail at CPUAllocator.cpp:56] posix_memalign(&data, gAlignment, nbytes) == 0. 12 vs 0` error is thrown as also mentioned [here](https://discuss.pytorch.org/t/pytorch-runtimee

[2019-05-29 12:15] #20522 closed

[2019-05-29 12:28] Jonas1312 commented on #20635
@peterjc123 Thank you!
[code]

[2019-05-29 12:49] rgommers commented on #16955
@myproject24 this sounds like a regular install question. See https://caffe2.ai/docs/getting-started.html?platform=mac&configuration=prebuilt.  With only 4 GB of RAM and an i5 processor, I would not recommend trying to build from source.

[2019-05-29 12:56] peterjc123 commented on #20635
@Jonas1312 Great! I finally did it. But the question is why it is the cause?

[2019-05-29 13:27] peterjc123 commented on #20635
@Jonas1312 Anyway, I made the PR @21062 first.

[2019-05-29 13:39] ruivapps commented on #20030
the issue should be fixed from PyTorch by looking libraries form system instead of only checking /usr/local/opt/

[2019-05-29 13:41] peterjc123 commented on #17108
Guys, I seem to find the root cause of this issue with the help of @Jonas1312 in https://github.com/pytorch/pytorch/issues/20635, it is caused by the fact that we changed the way we link against our libraries against `cudart`. I have made the PR  https://github.com/pytorch/pytorch/pull/21062. You can try whether it fixes your problem.

[2019-05-29 13:55] sth1997 commented on #21015
@pietern
Could you please give me some help?
Thanks.

[2019-05-29 13:58] n-west opened #21063 "Segfault on multiple threads calling `select` and `to` on different tensors"
## 🐛 Bug

Memory corruption between two threads: one calling select and another moving a tensor to `kCUDA`.

## To Reproduce

Build the attached file and execute it. I've included a small CMakeLists.txt that can be used for an easy build

Steps to reproduce the behavior:

1. Save the following as test_threading_safety.cpp

[code]
2. Save the following as CMakeLists.txt
[code]
3. `mkdir build && cd

[2019-05-29 14:44] pedromorais17 commented on #20011
Dear @xsacha, how can I directly convert a tensor to a gpumat. I'm using the following code:

[code]

I'm having problem when accessing my gMat variable.  Do you have any suggestion?

[2019-05-29 14:49] umanwizard commented on #21018
Aha, apparently this issue is known: #19739

You can work around it by importing open3d before torch.

[2019-05-29 14:56] skrah commented on #18067
Done in #20691 and #20933.  Thanks for the review!

[2019-05-29 14:56] #18067 closed

[2019-05-29 15:01] umanwizard commented on #21018
Actually I just tried that myself and it is segfaulting no matter which order I import them in. So this issue might be a bit worse than what is known in #19739 . But do try it and see if it works for you.

[2019-05-29 15:04] fmassa opened #21064 "[JIT] Expose subgraph execution for intermediate output extraction"
## 🚀 Feature

## Motivation

Let's suppose we have a model (e.g., `torchvision.models.resnet18()`. The user wants to extract a set of intermediate activations of this model (e.g., to get the output of `layer2` and `layer3`).
The current recommended way of extracting those intermediate outputs of a model generally involves having to rewrite the model so that it returns those outputs.

This is annoy

[2019-05-29 15:04] umanwizard commented on #19739
This seems to be causing issues rather often: ([this](https://stackoverflow.com/questions/56346569) was raised a few days ago and eventually opened on the issue tracker as #21018).

I just tried and the workaround of changing the import order doesn't work for me. Importing both torch and open3d reliably segfaults.

I will try looking into it if nobody else has any ideas what could be going on.

[2019-05-29 15:38] jeremycochoy commented on #20984
Let's be honest. More than 5s for a documentation, this is a serious issue.

[2019-05-29 15:51] ezyang commented on #20271
Yes please!

Excerpts from Soumith Chintala's message of 2019-05-28 16:47:16 -0700:

[2019-05-29 16:13] soumith commented on #19739
@umanwizard i know the reason for this. it's CXX ABI. PyTorch is using `-D_GLIBCXX_USE_CXX11_ABI=0`, Open3D is likely using `-D_GLIBCXX_USE_CXX11_ABI=1`.

If one compiles PyTorch and Open3D from source, you wont have the issue -- as a workaround.

[2019-05-29 16:16] soumith commented on #19739
the likely segfault location you would see is in a signature that calls `std::string`, or a static initializer that has a std::once or std::shared_ptr or something...

[2019-05-29 16:32] umanwizard commented on #19739
Got it. What is the rationale for using / not using that flag?

[2019-05-29 16:40] soumith commented on #19739
packages are compiled in the python ecosystem either with or without that flag. more commonly they are compiled with `_GLIBCXX_USE_CXX11_ABI=0`. whether you set `0` or `1` also starts playing to whether these packages can interoperate.

[2019-05-29 17:00] edgarriba commented on #20939
is there any expected time frame to have this implement ?

[2019-05-29 17:10] SsnL commented on #2968
This has been fixed on master.

[2019-05-29 17:10] #2968 closed

[2019-05-29 17:19] suo commented on #20939
We expect to release this in the next release (1.2), which will be in a few months. If you're working off the nightly/building from source, #20724 has most of the functionality.

[2019-05-29 17:41] hriebl commented on #20804
I have the same issue. My guess is that it has nothing to do with CUDA, because I'm using the CPU-only build. Here is my environment:

[code]

As mentioned in #20408, I was able to work around this bug by downgrading to PyTorch 1.0.1. I'd prefer 1.1 however... :-p

[2019-05-29 18:41] artidoro commented on #14165
I am running in the same issue.
Is there a reason why the libtorch package cannot include `libmklml.dylib`?
Could there be extra documentation on using libtorch on mac in the meantime?

[2019-05-29 18:52] jerryzh168 commented on #20804
cc @smessmer do you know what is the reason for this error

[2019-05-29 19:03] SsnL opened #21076 "tensor.pin_memory always copies even when it is already pinned"
## 🐛 Bug
Doc says that it copies if the data is not in pinned memory, but...

[code]

[2019-05-29 19:34] #18440 closed

[2019-05-29 19:35] colesbury commented on #21063
@n-west thanks for the self contained repro. Have you tried this on PyTorch 1.1.0? I wasn't able to reproduce the issue on master even after increasing the number of threads

[2019-05-29 19:38] SsnL opened #21081 "[discussion][cuda] pin_memory() asks for ctx on current device"
`tensor.pin_memory()` always asks for a context on the current device. This means that even if you use `torch.device('cuda:1')` everywhere in the program, a simple `DataLoader(..., pin_memory=True)` will create a context on GPU 0.

A little dig into [`cudaHostAlloc`](https://docs.nvidia.com/cuda/cuda-runtime-api/group__CUDART__MEMORY.html#group__CUDART__MEMORY_1gb65da58f444e7230d3322b6126bb4902) a

[2019-05-29 19:53] driazati opened #21082 "Recursive Script Follow-ups"
For #20708,

* don't cache `WeakScriptModuleProxy`s anymore
* delete `WeakScriptModuleProxy`
* add decorators to docs
* improve recursive script errors

[2019-05-29 19:58] gui11aume commented on #11030
@jramapuram and @rohitrango, I believe this issue is relatively easy to fix because everything is already available. Sampling the Dirichlet distribution is done using the Gamma distribution (see [Wikipedia](https://en.wikipedia.org/wiki/Dirichlet_distribution#Gamma_distribution)). So in practice one can already use the following workaround:

    import torch
    g = torch.distributions.Gamma(torch

[2019-05-29 20:04] colesbury commented on #21081
I actually can't think of any other functions that aren't device-specific. (I keep thinking cudaEventCreate is independent of device, but I think you can only record an event on the same device that it was created on)

[2019-05-29 20:18] colesbury commented on #21081
Is there a way to do this?

[2019-05-29 20:38] neherh opened #21089 "Tensorboard add_scalar function also appends into self.scalar_dict"
## 🚀 Feature
Append scalar using add_scalar into self.scalar_dict in SummaryWriter class.

## Motivation

Appending a scalar value in the scalar_dict allows the user to export the data into a json file. Exporting scalar data, however, is only featured by calling the add_scalars (multiple together) function. It seems to me that the scalar_dict should hold all scalar data and not data reserved only

[2019-05-29 20:52] #18408 closed

[2019-05-29 20:54] SsnL commented on #21081
One way is to use `cuDevicePrimaryCtxGetState`, but maybe just looking at the caching allocator is enough.

[2019-05-29 20:58] #20978 closed

[2019-05-29 21:16] yifuwang opened #21090 "Build failing with: `error: identifier "SparseTensorRef" is undefined`"
## 🐛 Bug

[code]

## To Reproduce

Steps to reproduce the behavior:

1. `python setup.py develop --cmake` on master.

## Expected behavior

Things to build.

## Environment

PyTorch version: N/A
Is debug build: N/A
CUDA used to build PyTorch: N/A

OS: CentOS Linux 7 (Core)
GCC version: (GCC) 7.3.1 20180303 (Red Hat 7.3.1-5)
CMake version: version 3.14.2

Python version: 2.7
Is CUDA available: N/A

[2019-05-29 21:17] #20124 closed

[2019-05-29 21:32] xsacha commented on #20011
To be honest, I haven't needed that yet. My outputs are always vectors that I want on CPU.

[2019-05-29 21:36] #20635 closed

[2019-05-29 21:44] Hananel-Hazan opened #21092 "RuntimeError: CUDA error: initialization error"
## 🐛 Bug

Trying to make the default tensor location to cuda, `torch.utils.data.DataLoader` produce `RuntimeError: CUDA error: initialization error`

## To Reproduce

1. copy MNIST example [link](https://github.com/pytorch/examples/blob/master/mnist/main.py).
2. add the lines:
device_id = 0
if use_cuda:
        torch.cuda.set_device(torch.device("cuda:" + str(device_id) if torch.cuda.is_available(

[2019-05-29 22:00] codexetreme commented on #21076
Can I fix this issue if it turns out to be a bug?

[2019-05-29 22:09] borisfom commented on #14869
@dzhulgakov : any chance for this to get fixed ?

[2019-05-29 22:31] driazati commented on #21040
Right, that should fix it

[2019-05-29 22:43] ailzhang commented on #21076
@codexetreme Go ahead! Feel free to ping us on this thread if you have questions/need help!

[2019-05-29 22:52] ailzhang commented on #21092
cc: @SsnL  is this a valid use case for dataloader?

[2019-05-29 22:54] ailzhang commented on #21090
@yifuwang  Could you retry on master?

[2019-05-29 22:54] SsnL commented on #21092
use spawn start method. see docs.
https://pytorch.org/docs/master/notes/multiprocessing.html#cuda-in-multiprocessing

[2019-05-29 22:54] #21092 closed

[2019-05-29 22:56] Hananel-Hazan commented on #21092
@SsnL Thanks for the answer.
Can you elaborate more about your answer?

[2019-05-29 23:02] ailzhang commented on #21060
Hi please reopen the question in pytorch forum. Thanks!

[2019-05-29 23:02] #21060 closed

[2019-05-29 23:07] ailzhang commented on #21056
@GauravKrRoy  This trace doesn't include the relevant error message that failed the build. Please reopen with the error message or ask in the disccusion forum instead. Thanks!

[2019-05-29 23:07] #21056 closed

[2019-05-29 23:08] ailzhang commented on #21055
duplicate of #21056

[2019-05-29 23:08] #21055 closed

[2019-05-29 23:10] ailzhang commented on #21044
@MichaelDylan77 For bicubic we tried to match opencv implementation. Would you mind give that a try and see if the result matches?

[2019-05-29 23:17] ailzhang commented on #21016
This is running fine on my build. Would you mind try with pytorch master and reopen if the issue is still there? Thanks!

[2019-05-29 23:19] ailzhang commented on #20999
Closing this so that we can keep the discussion in #20551. Please track the progress and comment there.

[2019-05-29 23:19] #20999 closed

[2019-05-29 23:23] ailzhang commented on #20993
I remember fixing a similar issue for cosine #18250, since you are on 0.3.1, could you please try 1.1.0 and see if the issue still persists?
Please feel free to reopen if it's still there! Thanks!

[2019-05-29 23:23] #20993 closed

[2019-05-29 23:26] ailzhang commented on #1706
We'll be happy to accept a PR from community if someone wants to take it.

[2019-05-29 23:34] ailzhang commented on #20966
@xhuvom  would you mind double check your pytorch install? The latest one you can get from conda should be 1.1.0, it sounds like there's some discrepancy in the environment.
Please feel free to reopen this issue you you can consistently repro the behavior with the latest pytorch release.

[2019-05-29 23:34] #20966 closed

[2019-05-29 23:36] ailzhang commented on #2539
@zzz123xyz @GaiYu0 would you mind providing a minimal repro script for this on pytorch 1.1.0 or pytorch master? We will be willing to fix it if it still persists. Thanks!

[2019-05-29 23:37] ailzhang commented on #20967
I think this is fixed by #20985 , thanks for contributing @sublee !

[2019-05-30 00:01] yifuwang commented on #21090
@ailzhang It's still happening for me.

[2019-05-30 00:14] apsdehal opened #21108 "[DataParallel] flatten_parameters doesn't work under torch.no_grad"
## 🐛 Bug

When the model is using `DataParallel` and we call `flatten_parameters` inside the model under `torch.no_grad` it throws this error:

works fine otherwise. This behavior only happens on 1.1.0 and was working fine on 1.0.1.post2

## To Reproduce

Run the code below on 1.1.0 to reproduce the behavior:

[code]

## Expected behavior

`flatten_parameters` should work as it does without DataPa

[2019-05-30 00:17] #16361 closed

[2019-05-30 00:41] SsnL commented on #21092
@Hananel-Hazan Please see the link I posted above.

[2019-05-30 00:46] yifuwang commented on #21090
@ailzhang Oops I did `make clean` instead of `python setup.py clean`, which left some stale generated code lying around.

Everything's good now! Thanks for looking into the issue and sorry for the inconvenience!

[2019-05-30 00:46] #21090 closed

[2019-05-30 01:09] sakaia commented on #21016
Still reproduce on collab.
[code]

[2019-05-30 01:14] sakaia opened #21112 "[reopen][utils.bottleneck] throws initialization error for cuda profiling"
## 🐛 Bug
Reopen following issue
Problem still keeps
[utils.bottleneck] throws initialization error for cuda profiling #21016
https://github.com/pytorch/pytorch/issues/21016

## To Reproduce

See above

## Expected behavior

See above

## Environment

See above

## Additional context

See above

[2019-05-30 01:16] sakaia commented on #21112
This issue reproduce just two line on Colab
[code]

[2019-05-30 01:21] sakaia commented on #21112
If this issue is not reproduced, Please write your environment before close this issue.

[2019-05-30 01:38] Hananel-Hazan commented on #21092
@SsnL Thank you very much for the link. The explanation was very illuminating, useful and helpful.

[2019-05-30 01:43] MichaelDylan77 commented on #21044
@ailzhang OpenCV does not produce the noise. The results look identical everywhere else though. I've updated the [gist](https://gist.github.com/MichaelDylan77/100194e984e0a44c0fdd51fa74ef03fe) to show results from both.

[2019-05-30 02:18] guifaChild opened #21114 "torch._C._cuda_init() RuntimeError: CUDA error: unknown error"
I installed pytorch, and my cuda version is upto date. But when I run my command, I get the following error:
My system:

Windows 10
NVIDIA GeForce GTX 960M
Python 3.6(Anaconda)
PyTorch 1.1.0
CUDA 10
`import torch
import torch.nn as nn
from data_util import config
use_cuda = config.use_gpu and torch.cuda.is_available()
def init_lstm_wt(lstm):
    for names in lstm._all_weights:
        for name in

[2019-05-30 02:43] A-n-o-r-a-k commented on #20681
success! Pull the latest version of Caffe2 then followed the install page procedure. ran the build_windows.bat script after being sure the BUILD_SHARED_LIBS ws set to off.

[2019-05-30 02:43] #20681 closed

[2019-05-30 02:50] Chillee commented on #19026
Since the priorities on these ops were promoted, I'm gonna take all of the "higher-pri" ones, and potentially the "lower-pri" ones as well.

[2019-05-30 03:07] lhendre commented on #19026
I would just check the open PRs to see what the status are on them before you start, I know I have some of the lower ones under review for example

[2019-05-30 03:32] daohu527 opened #21117 "How to open "USE_LMDB" by install from source code"
## 📚 Documentation
linux : ubuntu 16.04

I follow the [doc](https://github.com/pytorch/pytorch#from-source) to install pytorch form source code. But I don't know how to change the install config, I want to open the "USE_LMDB".
I run this cmd:
[code]
then I found the log  "USE_LMDB: OFF", I try to modify the CMakeLists.txt, and also try
[code]
the log is also show "USE_LMDB: OFF", how can I modify

[2019-05-30 03:38] ailzhang commented on #21044
Thanks for reporting! @MichaelDylan77 I will put this in my queue for now and get to it maybe early next week.

[2019-05-30 03:57] codexetreme commented on #21076
Cool, I am going to try and fix it :)

[2019-05-30 03:58] EthanGuan commented on #13918
Yes, it is a bug, I think. I met the same problem, 200x faster in my code after I call a list of np.ndarray to np.ndarray.

[2019-05-30 04:09] peterjc123 commented on #21114
Duplicate of https://github.com/pytorch/pytorch/issues/20990.

[2019-05-30 04:09] #21114 closed

[2019-05-30 04:49] ailzhang commented on #18627
Hey all, we have promoted priority of this task and will try finish the unchecked ones in todo section. If you have wip PRs that would like to commit, it would be great if you send them in the next a few days or let us know. Thanks a lot!

[2019-05-30 04:52] yelu opened #21119 "One libtorch FindTorch.cmake module to support multi-configs(both debug and release)"
## 🐛 Bug

Libtorch is excellent to provide cmake for multiple configs on windows.

  * Download here (Release version):
    https://download.pytorch.org/libtorch/cu90/libtorch-win-shared-with-deps-latest.zip
  * Download here (Debug version):
    https://download.pytorch.org/libtorch/cu90/libtorch-win-shared-with-deps-debug-latest.zip

However, it is quite inconvenient. Usually, I need to copy dif

[2019-05-30 05:07] ailzhang commented on #18627
I've seen
`* all
* sum
* any
* long
* bin
* enumerate
* reversed
* divmod
` have been claimed, please let us know if you are still working on them. Thanks!

[2019-05-30 05:08] Jianhui-Li opened #21120 "[RFC] Adding MKL-DNN Int8 functions to PyTorch/Aten/JIT backend"
Migrate the Caffe2/MKL-DNN int8 operation to support Aten/JIT backend and align with Qint8 direction in Pytorch/Aten

Motivation

With Cascadelake/VNNI, MKL-DNN int8 functions can speedup DL models can up to 4x. With this proposal, we plan to make IA's int8 function available to broader Pytorch community through integrating to the Pytorch/Aten/JIT backend following the Qint8 tensor design.  The MK

[2019-05-30 05:22] pandeykartikey commented on #18627
@ailzhang I have submitted a PR #20979  for `divmod` it's under review.

[2019-05-30 05:23] michaelarg commented on #18627
Hey @ailzhang all was completed and merged earlier, see #20521.
I have just submitted my pull request for sum, see #21121.

[2019-05-30 06:19] Chillee commented on #19026
The internal macros have changed a lot over the last week, and since the priorities on these ops were promoted, I'm going to submit PR's for all the ops (except `fsum`, `trunc`, and `isclose`) in order to avoid churn and finish off this module.

Thanks to @lhendre (for the ops and ideas on how to implement a generalized test framework) and to @kalpanki for his implementations of `fmod, modf, remai

[2019-05-30 06:34] peterjc123 commented on #20686
PyTorch uses `BUILD_SHARED_LIB=ON` and out-source build currently, and Caffe2 does the opposite. I'm okay with out-source build. However, for `BUILD_SHARED_LIB=OFF`, if we don't test them through CI, then they will possibly break in the future.

[2019-05-30 07:00] memahesh commented on #19003
This bug is still present. Is anyone working to fix this ? If not, maybe I can work on it.

[2019-05-30 07:16] changdq12 commented on #4107
@csarofeen Hi, I meet a similar problem if I set the batch_size to be bigger than 65535 in calling a batch normalization layer with mxnet. Have you fixed this problem? Will it help to update the version of cudnn?

[2019-05-30 07:32] qzhong0605 opened #21135 "[cmake build] can't build pytorch with install mkl library"
### pytorch can't be built with  installed mkl library
 - PyTorch version : master branch
 - OS : CentOS-7.5

I had installed intel `mkl`. So when I built `pytorch` from the scratch, the build system couldn't find the installed `mkl` libraries.

I found  the mkl-related module, which was `cmake/Modules/FindMKL.cmake` . `MKL`-related enviroments  were set to default path as the following:
[code]
In

[2019-05-30 07:36] MichaelDylan77 commented on #21044
Thanks! I’m really excited to have bicubic in pytorch. I’ve been hoping for this for a while. Also the addition of “area” as well. I’ve testing the new implementation and it’s great. Awesome results for down sampling

[2019-05-30 07:38] peterjc123 commented on #21117
Please try `USE_LMDB=ON python setup.py install --cmake`.

[2019-05-30 07:47] Wong-Charles commented on #20516
Have you solved this problem? I also encountered the same problem.

[2019-05-30 08:15] codexetreme commented on #21076
Ok, so from what I understand, the code goes from `storage.py`'s `pin_memory(self)` to `copy_()`. But I found many implementations of the copy_ function, so could you tell me where is it located?

One potential location I found was in `Memory.cpp`  and `Copy.cpp` (both in ATen/Native) , is this the right place to look?

[2019-05-30 08:39] c553094942 opened #21136 "RuntimeError: CUDA error: device-side assert triggered/opt/conda/conda-bld/pytorch_1556653114079/work/aten/src/ATen/native/cuda/IndexKernel.cu:53: lambda [](int)->auto::operator()(int)->auto: block: [0,0,0], thread: [32,0,0] Assertion `index >= -sizes[i] && index < sizes[i] && "index out of bounds"` failed."
Hi, when I trained Yolov3 with Caltech Pedestrian dataset, I encounter a problem:

[code]

Is there any solution?

[2019-05-30 08:43] pandeykartikey commented on #20769
Hey @eellison Would like to work on the `count()` function here? Is it up for grab?

[2019-05-30 09:19] Whisht opened #21137 "Will pytorch support *Restricted boltzmann machine* basic layer in the future?"
## 🚀 Feature

RBM basic layer as `nn.Linear` suppoorted.
## Motivation

Boltzmann machine is another fundamental generative model in deep learning, But becuase it's object function is computation complicated because of integral of all possible state. So one cannot perform  parameters update through `loss.backward()` and `criterion.step()` as other basic layer in  pytorch. Finally the reconsitution

[2019-05-30 09:23] #21137 closed

[2019-05-30 09:27] Whisht commented on #21137
In my opinion, for that pytorch is a library for neural network. RBM as a **Graphical Models** probably should not be supported by pytorch.

[2019-05-30 09:33] johann-petrak opened #21138 "Pytorch should not emit unexpected messages to stdout or stderr"
## 🐛 Bug

Pytorch emits the following unexpected message to stderr:
[code]

A backend library should never write to stderr unless a logger is set up accordingly or an error situation occurs. We use stdout/stderr for interprocess communication, so unexpected messages from a backend library will mess up that communication.

## Expected behavior

The message should not be shown or there should be a d

[2019-05-30 10:00] haiyang-tju commented on #9204
update your cmake version will solve this problem.
conda install cmake==3.14

[2019-05-30 10:12] daohu527 commented on #21117
@peterjc123  still doesn't work.
[code]

[2019-05-30 10:27] peterjc123 commented on #21117
What is the cmake command line with arguments?

[2019-05-30 10:31] InnerPeaceStudios opened #21139 "RuntimeError: ONNX export failed: Couldn't export operator aten::var"
I want to export a model in the repo below to onnx (and export to coreml later on):

https://github.com/Yijunmaverick/CartoonGAN-Test-Pytorch-Torch

and produced the error, I am using latest version of pytorch.

I am really new to pytorch and deep learning, it took me days to get to this far, any help is appreciated.

[2019-05-30 11:41] HenryJia commented on #20005
Also getting this issue with compile from source. Any updates?

[2019-05-30 12:51] kratosaba27 opened #21143 "After loss.backwards() the model frozes"
## 🐛 Bug

I'm trying to run a simple model, from an example from the pytorch [website](https://pytorch.org/tutorials/beginner/pytorch_with_examples.html). However I encounter a really strange bug, when I run it the program stops. I added some line prints to see where exactly stops and is in the loss.backwards(). I have the same issue with a model that I created.

## To Reproduce

Steps to reproduc

[2019-05-30 13:42] soumith commented on #20706
i think we should start with (3)

[2019-05-30 13:47] soumith commented on #20686
if for Windows you have the limit of `BUILD_SHARED_LIB=OFF` going above size limit, i think it's fine on Windows to default it to `ON`. And as you suggested, we should check this with CI, so add a CI entry to test that.

[2019-05-30 13:49] soumith commented on #21026
responded in #20706 and #20686  , sorry for the delay. I think we should allow env variable config with cmake, and document that in README.

[code]

[2019-05-30 14:23] ShijianXu commented on #20966
@xhuvom Hi, have you solved this problem? I also meet with the same problem when testing cycleGAN. My PyTorch version is: 1.0.1.post2.

I will try to check the latest version later if the problem can not be solved. Thanks.

[2019-05-30 14:56] soumith commented on #21119
no, we explicitly dont aim to cover that. The binary files are already pretty large.

[2019-05-30 14:56] #21119 closed

[2019-05-30 15:09] mrshenli opened #21144 "Data Parallel Implementation Improvements"
After #20910, data parallel implementation still needs the following improvements:

- [ ] Fix C++ data parallel for BN
- [ ] Make sure C++ data parallel work for double backward
- [ ] Move `reduce_add` and `reduce_add_coalesced` in `torch/cuda/comm.py` to C++.
- [ ] Move `Broadcast` and `ReduceAddCoalesced` from `torch/nn/parallel/_functions.py` to C++.
- [ ] Make C++ data parallel use `ReduceAddC

[2019-05-30 16:07] lhendre commented on #19026
@Chillee Could you try to take a look at the existing ones?  Mine appears to be close to done and it may make more sense to work on what is already implemented of stealing the ops and ideas.

[2019-05-30 16:10] eellison commented on #20769
@bwasti just submitted a PR for `count` and a bunch others here https://github.com/pytorch/pytorch/pull/21059

[2019-05-30 16:20] pjh5 commented on #14165
MKL is a linear algebra library that is needed for decent performance on MacOS. Many Windows and Linux users that care about performance use GPUs or other linear algebra libraries for cpu. Since we don't set MKL as the default on these systems, we don't build the binaries against MKL so that users don't need to install MKL as a hard dependency

[2019-05-30 16:28] julioasotodv commented on #3946
@soumith indeed, but only looping over range() or a tuple; not over a tensor

[2019-05-30 16:32] pjh5 commented on #17415
@Haydnspass I'm confused what your issue is. I just checked the v1.1.0 conda package and it's omp and mkl dependency looks correct to me. The rpath is set up to look in the conda env and dependencies are taken from the mkl conda package. What exactly is your problem? What's missing from what and what are you expecting? What is the install command that you're using?

[2019-05-30 16:46] julioasotodv commented on #16664
@houseroad just to confirm: you get an error similar to this, right?

[code]

[2019-05-30 16:56] zhuker opened #21154 "THCudaCheck FAIL file=/pytorch/aten/src/THC/THCGeneral.cpp line=383 error=11 : invalid argument"
## 🐛 Bug

[code]

## To Reproduce

Steps to reproduce the behavior:

1. `git clone https://github.com/junyanz/pytorch-CycleGAN-and-pix2pix.git`
2. `python3 train.py --dataroot datasets/horse2zebra/`

## Expected behavior

## Environment

PyTorch version: 1.1.0
Is debug build: No
CUDA used to build PyTorch: 10.0.130

OS: Ubuntu 18.04.2 LTS
GCC version: (Ubuntu 7.4.0-1ubuntu1~18.04) 7.4.0
CMake vers

[2019-05-30 17:13] Oktai15 commented on #20113
It's still actual problem

[2019-05-30 17:15] Haydnspass commented on #17415
@pjh5 I mean when I link against the libraries from https://download.pytorch.org/libtorch/cpu/libtorch-macos-latest.zip no conda involved.

[2019-05-30 17:51] soumith commented on #3946
@julioasotodv we do support looping over a Tensor's size.

[code]

You can also loop on the value of a Tensor:

[code]

[2019-05-30 18:12] vishwakftw commented on #15773
I’ve sent in a PR that fixes the issue.

[2019-05-30 18:54] soumith commented on #21138
i'm 100% sure that PyTorch does not do this.
[Apex](https://github.com/NVIDIA/apex/) is probably sideloading some code that does it.

What exactly are you running, it's also quite likely that the code that you are running is emitting this suggestion.

cc: @mcarilli

[2019-05-30 18:54] #21138 closed

[2019-05-30 19:17] VitalyFedyunin commented on #21076
The goal is to avoid copy, so you need to update aten/src/ATen/native/Memory.cpp . And instead of creating new storage, you can get storage of `self` and use it to construct new tensor.

[2019-05-30 19:42] suo commented on #20113
Thanks for the report! I'll look into this

[2019-05-30 19:52] #20271 closed

[2019-05-30 20:16] soulslicer opened #21165 "Getting Access to Blob/Tensor reference in jit::script::Module"
## 🚀 Feature

In Caffe, one would be able to set a reference to the blob by doing the following:

`myClass->blob = upCaffeNet->blob_by_name(upImpl->mLastBlobName);`

In Pytorch we have

`std::shared_ptr<torch::jit::script::Module> upTorchNet`

Is there a function I can use for something similar? Right now, there only seems to be the forward pass function in the documentation. Anyway to access or g

[2019-05-30 20:52] daemon commented on #5790
Hmm, I guess `model.(named_)parameters()` would additionally have to return the parameters of the weight hooks. I think the same holds for forward hooks as well. I also see your point about deserialization. If I'm unmistaken, the user must provide the correct "namespace" with the appropriate classes at deserialization, which already happens in some of the code I see in practice.

I suppose if user

[2019-05-30 20:57] ezyang commented on #20926
@colesbury Doesn't look like it was sufficient. #21048 got:

[code]
full log https://circleci.com/gh/pytorch/pytorch/1856126?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2019-05-30 21:03] mgupta1410 commented on #10043
For specifying relationship through binary masks between multiple contiguous sequences of tokens, sparse block diagonal matrices are of interest to me.

They could be implemented using [BSR](https://docs.nvidia.com/cuda/cusparse/index.html#block-compressed-sparse-row-format-bsr) format of cuSparse.

[2019-05-30 21:10] umanwizard opened #21167 "sccache not being used on Windows"
## 🐛 Bug

In [Windows builds](https://ci.pytorch.org/jenkins/job/pytorch-builds/job/pytorch-win-ws2016-cuda9-cudnn7-py3-build/55141/) the number of compile requests to sccache seems unusually low.

[2019-05-30 21:11] umanwizard commented on #21167
cc @yf225 , @kostmo  , @peterjc123

[2019-05-30 21:15] umanwizard commented on #21167
@kostmo , Will suggested I assign this to you, let me know if someone else is a better person to look at it.

[2019-05-30 21:16] Genius1237 commented on #21143
I've tried to reproduce this with python from ubuntu repos and python from conda. I am not able to. Can you provide more details (finer details) about which versions of `python`, `torch` and where you've installed it from

[2019-05-30 21:29] zasdfgbnm commented on #20926
Is it possible to download the `/opt/conda/lib/python3.6/site-packages/torch/lib/libtorch_python.so` generated in that CI?

[2019-05-30 21:49] colesbury commented on #20926
@ezyang that PR is based on an older commit. It doesn't include my fix:

https://github.com/pytorch/pytorch/blob/d8b177f7ceb9e9b923ce99a4c58f5befb3daa477/torch/csrc/utils/structseq.cpp

[2019-05-30 22:19] driazati opened #21173 "[jit] Modifying a list while iterating doesn't work"
[code]

throws

[code]

[2019-05-30 22:28] umanwizard opened #21176 "Investigate `test_inplace_view_saved_output` failures on Windows"
## 🐛 Bug

Please see details in the description of #21175

## To Reproduce

1. After #21175 lands, uncomment the line `@unittest.skipIf(IS_WINDOWS, "This test is flaky on Windows")` on `test_inplace_view_saved_output` in `test_autograd.py`
1. Run the test on Windows and observe that it fails. Adding `gc.collect()` does not help.

[2019-05-30 22:38] houseroad commented on #20941
Yeah, this is known issue, one workaround for now it's using tensor factories such as torch.ones(..., dtype=...) to create the right type.

[2019-05-30 23:20] VertexC opened #21179 "Failed to install pytorch from source on ubuntu."
## 🐛 Bug

I followed the steps provided to install the pytorch from source. But it ended with error.

## To Reproduce

Exactly the same as https://github.com/pytorch/pytorch#from-source. And I have my anaconda3 installed.
`$ which conda
/local-scratch/bowenc/anaconda3/bin/conda`

## Expected behavior

Pytorch should be installed without error.

## Environment

[pip] numpy==1.16.2
[pip] numpydoc==0

[2019-05-31 00:32] ngimel commented on #21136
This means that you are sending out of bounds indices to your indexing operation. Likely b,g,or gi tensors contain wrong data.

[2019-05-31 00:41] daohu527 commented on #21117
@peterjc123  Thx for you reply!
The cmake command line is True, the log:
[code]

but the below is still OFF, I don't know so much about that, I tried to look at this log:
[code]

[2019-05-31 01:16] Balandat commented on #15671
I'm seeing a similar issue as @xvdp, where, unlike in numpy leading dimensions of the first operator are not properly broadcasted. E.g:

[code]

[code]

Here is a hacky fix that dynamically generates an formula with as many explicit leading letters as necessary:
[code]

[2019-05-31 01:27] daohu527 commented on #21117
I reinstall the lmdb, and seems the problem is sloved.
[code]
Then check the log:
[code]

But when I run the MNIST.ipynb it still tell me can't find "lmdb". I will check this problem. Thx @peterjc123

[2019-05-31 01:38] fracting commented on #18218
Retested on a Xeon machine with both pytorch-1.0.1 and pytorch-1.1.0 from official conda binary packages, confirming fixed in pytorch-1.1.0.

[code]

Closing the issue, thank you for all the great work!

[2019-05-31 01:38] #18218 closed

[2019-05-31 02:17] driazati opened #21183 "[jit] Save source maps for imported code error reporting"
We should copy JavaScript and optionally save source maps along with the serialized model so that errors on imported code don't show their highlight on the Python-printed code

[code]

prints

[code]

but should print

[code]

[2019-05-31 02:19] #21117 closed

[2019-05-31 02:39] qizhuli commented on #20981
I also believe there is a bug with the circular padding; currently, directly replacing zero-padded convs with circular-padded convs leads to output of different spatial dimensions (if `kernel_size`>1). I don't think this should be the intended effect. See demo below:
[code]
outputs:
[code]
With `padding`=1 and `kernel_size`=3, the conv should preserve the input spatial dimension. The output from c

[2019-05-31 02:39] S-aiueo32 commented on #21044
I have the same one.
It seems to be caused by over/undershooting.

[2019-05-31 04:05] suo commented on #21173
can you add this to the lockdown repo

[2019-05-31 04:05] suo commented on #21183
can you add this to the lockdown repo

[2019-05-31 04:42] n-west commented on #21063
I just got around to building v1.1.0 (previous was v1.0.1) and I'm not seeing the segfault anymore in the example code. I'll check v1.1.0 with the larger application tomorrow and close if that appears OK. Thanks!

[2019-05-31 06:16] peterjc123 commented on #20706
Closed as it's included in #21026.

[2019-05-31 06:16] #20706 closed

[2019-05-31 06:45] gongenbo commented on #20030
It work!

[2019-05-31 07:42] SsnL commented on #21076
I think it should just return the original tensor in this case, like what
.contiguous does

On Thu, May 30, 2019 at 15:18 Vitaly Fedyunin <notifications@github.com>
wrote:

[2019-05-31 07:58] li-roy commented on #21139
Can you provide a minimal repro for your issue?

[2019-05-31 09:17] NagabhushanSN95 commented on #3622
`pip install torch` worked for me
[see here](https://stackoverflow.com/a/53481440/3337089)

[2019-05-31 09:35] kratosaba27 commented on #21143
I installed it from the command line in Ubuntu, you can check the version above. using anaconda

[2019-05-31 10:18] c553094942 commented on #21136
yeah,you are right. I found the error data.
Thank you!

[2019-05-31 10:18] #21136 closed

[2019-05-31 13:40] mfuntowicz opened #21193 "ScriptModule using pack_padded_sequence prototype seems false"
Trying to use pack_padded_sequence through a torch.jit.ScriptModule reports the following prototype which seems false ? pack_padded_sequence's prototype is (Tensor, Tensor, bool, bool).

[code]

When trying to use the following module:

[code]

[2019-05-31 14:58] codexetreme commented on #21076
I have a doubt, If we return the original tensor directly , it won't be copied into the pinned memory right?, Because we haven't set the storage to do anything with the pinned memory

[2019-05-31 15:04] ezyang commented on #21143
Can you run your program under gdb? When it hangs, C-c it and send us the backtraces of as many threads as you can.

[2019-05-31 15:07] ezyang commented on #21143
I ran the script a few times on a source build of e161360b62e39e3a22175a2b08b0a4a20b3aee77 on Ubuntu 18.04 but could not reproduce. Another thing you could try is installing a different distribution (e.g., pip) or compiling from source.

[2019-05-31 15:09] VitalyFedyunin commented on #21076
I'm comfortable with both options (reusing storage or returning same tensor).

@codexetreme You need to check if it already pinned, and if it is, return self. Otherwise follow old behavior.

[2019-05-31 15:09] ezyang commented on #21139
Or at the very least, what the error message is, and the script you're using to do the export.

[2019-05-31 15:10] ezyang commented on #21179
I need more logs, you haven't given the lines that actually report the error. Could you post the entire cmake log?

[2019-05-31 15:12] ezyang commented on #21167
For posterity, the report here is:

[code]

[2019-05-31 15:14] Genius1237 commented on #21143
To add to this, I have tested this with version `1.1.0` cpu from pip with `python 3.6` on 18.04 and version `0.4.1post2` cuda from conda with `python 3.6` on 18.04 and cannot reproduce it.

[2019-05-31 15:24] ezyang commented on #21154
Using the stock conda install instructions for the repositroy (I had to downgrade scipy to not use the conda-forge and downloaded the horse2zebra dataset), I successfully ran training for 300 iterations without seeing a failure:

[code]

This was on a pair of Quadro GP100s. @zhuker, how long does it take before the error manifests?

Something that would be helpful: could you edit torch/nn/modules/

[2019-05-31 15:33] qchenclaire commented on #14333
Does that work? I came across the same problem

[2019-05-31 15:34] ezyang commented on #20695
This sounds totally reasonable. Can you send in a patch? A test for multiple interpreters in PyTorch would also be helpful in that patch.

[2019-05-31 15:38] ezyang commented on #20926
:+1:

[2019-05-31 15:38] ezyang commented on #20926
Closing this as fixed for now.

[2019-05-31 15:38] #20926 closed

[2019-05-31 15:46] kratosaba27 commented on #21143
Ok tried to install it with pip, can you guys tell me how to do it from source?

[2019-05-31 15:53] Genius1237 commented on #21143
Does the problem persist with the installation from `pip`?

Have you ever tried installing any other package from source before? The instructions are there here https://github.com/pytorch/pytorch#from-source. It'll take a while to compile, it should eventually be done.

[2019-05-31 16:00] kratosaba27 commented on #21143
Yeah the problem persist with pip.

I just remember that I have an extra library https://github.com/fwilliams/fml. Maybe this might help to reproduce the problem.

If you don't seem to reproduce it I'll try to install from souce.

[2019-05-31 16:13] Genius1237 commented on #21143
In the code sample you provided, the `fml` library isn't imported. I installed the library from `conda-forge`, I imported it and ran your code sample, and it runs properly.

If you feel that some library is the problem, try uninstalling it and running your sample code.

Have you also tried creating a new `conda` environment, installing only pytorch's necessary packages and running this sample?

[2019-05-31 16:21] kratosaba27 commented on #21143
Ok, I'll try to create a new enviorment and installing everything there.

[2019-05-31 16:24] umanwizard commented on #21167
Btw, I could not get sccache to work on our internal Windows machine either. No amount of setting CC, CXX, CMAKE_C_COMPILER, or CMAKE_CXX_COMPILER changed the default compiler being picked. Not sure if that's related to this issue, or just caused by me doing something wrong due to inexperience with Windows. But maybe our setup.py is just not reading those environment variables on Windows anymore f

[2019-05-31 16:26] kratosaba27 commented on #21143
Ok I tried to do that and it didn't help. Just to be sure that I'm uninstalling pytorrch correctly. I'm using this command:

conda uninstall pytorch torchvision cuda80 -c soumith.

[2019-05-31 16:31] Genius1237 commented on #21143
Create a new environment using
`conda create -n yourenvname python=3.6 anaconda`
Then switch to that env via
`conda activate yourenvname`
Then install pytorch
`conda install pytorch torchvision cudatoolkit=9.0 -c pytorch`

[2019-05-31 17:28] YubinXie opened #21212 "Handling of infinity inputs in gradient descent"
## ❓ Questions and Help

Hi, I recently met an issue that my gradient becomes nan. I checked the codes and I found becomes some of my inputs contain infinity. On the one hand, I think in theory this makes sense. However, for practice, the existence of infinity usually serves a purpose: for example, in my case, I just want to get 0 from my gaussian kernel by inputing infinity to x. The reason I did

[2019-05-31 17:41] kostmo commented on #21167
Reassigning to @peterjc123 for Windows-specific investigation.

[2019-05-31 18:41] SsnL commented on #21212
See https://pytorch.org/docs/stable/autograd.html#anomaly-detection

[2019-05-31 19:03] hriebl commented on #20804
For me, the problem occurs when using Sphinx Autodoc. It seems that the module import fails when running Sphinx, but it works in plain Python...

In case anybody else encounters this issue with Sphinx, setting `autodoc_mock_imports = ['torch']` in the conf.py file is another way to work around this problem.

[2019-05-31 19:31] ezyang commented on #20804
If someone has reproduction instructions from a fresh Docker image, that would be very helpful. (I haven't tried OP's instructions yet, but mostly because I don't have a working libtorch install)

[2019-05-31 19:51] Jonas1312 commented on #20804
Have you tried to apply this fix #20490 but with the preprocessor directive removed?

i.e. replace:
[code]

by:
[code]
and build from source

[2019-05-31 20:01] ezyang commented on #14333
@qchenclaire This is a pretty old bug. If you have a problem, I suggest filing a new bug.

@cindycia, I'm going to close this under the assumption that you got it to work; reopen if that's not true.

[2019-05-31 20:01] #14333 closed

[2019-05-31 20:37] kratosaba27 commented on #21143
I did just that and it didn't work again :/. I don't know what I'm doing wrong D:

[2019-05-31 20:54] n-west commented on #21063
@colesbury after upgrading to libtorch 1.1 all of the segfaults I saw in the larger application and minimal repro seem to go away. closing the issue. Thanks for all the great work on pytorch! :-)

[2019-05-31 20:54] #21063 closed

[2019-05-31 21:08] hriebl commented on #20804
Sorry, I have no experience with Docker, so I can't help with an image.

Recompiling as proposed by @Jonas1312 doesn't work on my system. The compilation error:
[code]

Maybe it helps to think about how the module import in Sphinx differs from
[code]
?

[2019-05-31 21:31] qchenclaire commented on #13294
I built Pytorch 1.1 with commit 142c973 from source. And then when I typed python -m tools.build_libtorch I got the same error. I'm using ubuntu 18.04 with cuda 10.1

[2019-06-01 00:09] #21139 closed

[2019-06-01 06:19] yqwangustc commented on #14401
I did some debugging in the last few days. I have summarized my observation in https://github.com/pytorch/pytorch/pull/21244 1 and provide a stopgap solution.

Also, from my observation, NaN only happens at large batches/seq length (see the condition at https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/cuda/LossCTC.cu#L552). In my case, my input length is around 1K (ASR). If I di

[2019-06-01 06:24] songziqin opened #21246 "C++ runs slower than python version"
I have a requestion, the C++ code belows:
auto start = std::chrono::system_clock::now();
//sparse_segment_forward(input_batch, values, indices);
auto a = torch::randn({10000, 100});
auto b = torch::randn({1000,10000});
auto ret = b.mm(a);
auto end = std::chrono::system_clock::now();
std::chrono::duration elapsed_seconds = end - start;
std::cout << "sparse embedding elapsed time: " << elapsed_secon

[2019-06-01 08:23] peterjc123 commented on #21167
After PR #21248, for CPU build
[code]

[2019-06-01 08:25] t-vi commented on #14401
Thank you for looking into thus, it's awesome!

I wonder if the  recently fixed bug when you have 2d targets but no target of maximal length was part of it? Can you test with current master, please, if you use 2d targets?
Would it be possible to keep the inputs to CTC loss around when it happens and show them?
To me it would seem that if there is a bug in the algorithm, it will likely produce wron

[2019-06-01 08:43] egurapha commented on #19024
I also see this occurring for pytorch 1.0.1  on python 3.7.3, with cuda10.0.130, cudnn7.4.

[2019-06-01 09:09] hosjiu1702 commented on #566
@Man1029, you can get latest **torch** or **torchvision** package through command:
`conda install pytorch-cpu torchvision-cpu -c pytorch` **(cpu only)**
Basically, it uses conda package at [Anaconda cloud]https://anaconda.org/pytorch/repo?type=conda&label=main)

[2019-06-01 10:19] peterjc123 commented on #21167
And for CUDA builds:
[code]

[2019-06-01 11:22] fortitude94deng opened #21249 "The code is incomplete and the data set is missing"
Hello, have you ever encountered the pytorch official website fine-tuning Maskrcnn, less code, and the data set mask in pedestrian detection is all black，In references/detection/, we have a number of helper functions to simplify training and evaluating detection models. Here, we will use references/detection/engine.py, references/detection/utils.py and references/detection/transforms.py. Just copy

[2019-06-01 12:42] qvks commented on #13304
I am experiencing the same issue during inference time, have not trained the same model with any other configuration, and there is nothing in OUTPUT_DIR (made a new one). Does anyone know how to solve this?

[2019-06-01 15:07] balcilar commented on #16417
It is because of mini-batch of data does not fit on to GPU memory. Just decrease the batch size. When I set batch size = 256 for cifar10 dataset I got the same error; Then I set the batch size = 128, it is solved.

[2019-06-01 16:25] soumith commented on #21249
be more descriptive and reopen issue in https://github.com/pytorch/vision

[2019-06-01 16:25] #21249 closed

[2019-06-01 16:50] #21167 closed

[2019-06-01 16:51] #21212 closed

[2019-06-01 17:40] #21108 closed

[2019-06-01 18:01] frgfm opened #21251 "[Spectral Normalization] KeyError on load_state_dict"
Hi there,

As I couldn't find a SpectralNorm class to add it in a `nn.Sequential` juste like `nn.BatchNorm2d`, I used the `nn.utils.spectral_norm` function and applied it to my conv layers.

When I load a state_dict in a modified version of a `nn.Module`, I always pass `strict=False`. However, here, I received a `KeyError` when loading the weights of the layer that got `spectral_norm` applied to i

[2019-06-01 18:19] memahesh commented on #19003
@soumith and @Youssefares
Can any of you tell me if its fixed or not ?

[2019-06-01 19:21] n-west commented on #21246
I'm not with the pytorch org at all, but I think there's a few problems that might help this get addressed if there is a problem:

Some pointers from a friendly neighbor and general fan of torch:

1) Put code in code blocks so it's easier to read, you get syntax highlighting, and it's easier to copy paste
2) The C++ code would be a little bit nicer to reproduce if it was a fully-compilable short p

[2019-06-01 19:56] #21246 closed

[2019-06-01 19:58] Luiz-HSSD opened #21254 "'package not found error',while installing pytorch on anaconda python 3.7"
## 🐛 Bug

Collecting package metadata: done
Solving environment: failed

PackagesNotFoundError: The following packages are not available from current channels:

  - pytorch-cpu
  - torchvision-cpu -> pytorch-cpu[version='>=1.0.0']

Current channels:

  - https://conda.anaconda.org/pytorch/win-32
  - https://conda.anaconda.org/pytorch/noarch
  - https://repo.anaconda.com/pkgs/main/win-32
  - https:

[2019-06-01 20:46] qvks opened #21255 "IsType<T>() ASSERT FAILED [Detectron e2e_mask_rcnn_R-50-C4_1x.yaml]"
## 🐛 Bug

Assertion error when running inference with model successfully trained using the e2e_mask_rcnn_R-50-C4_1x.yaml Detectron config. No such error encountered during training.

## To Reproduce

Steps to reproduce the behavior:
In the Detectron dir:
1. python tools/test_net.py \
--cfg configs/12_2017_baselines/e2e_mask_rcnn_R-50-C4_1x.yaml \
TEST.WEIGHTS tmp/model_final.pkl \
NUM_GPUS 1 \
OUT

[2019-06-01 21:03] soumith commented on #21254
we dont support 32-bit operating systems with binaries.

[2019-06-01 21:03] #21254 closed

[2019-06-01 21:15] Luiz-HSSD commented on #21254
the system is 64 bit

[2019-06-01 22:46] LeviViana opened #21257 "Weird sampling from multinomial_alias_draw"
## 🐛 Bug

Which distribution is `torch._multinomial_alias_draw` sampling from?
Related to #4115 and #18906.

## To Reproduce

Sampling 1 element at a time, hence, here we ignore whether it is sampling with or without replacement. In this case, the distribution to draw samples from equals the normalized weights.

[code]
Results found:

- [ALIAS] p-values < 0.001 and kl_div > 0.3
- [NO ALIAS] p-valu

[2019-06-02 05:14] soumith commented on #21254
@Luiz-HSSD according to the message you posted above, you have anaconda python 32-bit installed

[2019-06-02 05:18] fortitude94deng commented on #21249
thanks

On 06/02/2019 00:26, Soumith Chintala wrote:

Closed #21249.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-06-02 10:41] vishwakftw commented on #21257
cc: @neerajprad

[2019-06-02 10:59] wujushan commented on #19666
Hi @FCInter, thank for your reply. As you said, incomplete installation of the CUDA causes it. So I have fixed it by reinstalling the CUDA toolkit.

[2019-06-02 12:19] slaweks17 commented on #18333
Hi,
May I ask if there is any progress?

[2019-06-02 15:52] antran89 opened #21259 "pytorch image does not have cuda"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. nvidia-docker run --rm -ti --ipc=host pytorch/pytorch:latest
1. python
1. import torch
1. torch.cuda.is_available()

It returns False because CUDA is not existing.

## Expected behavior

The docker of PyTorch should have CUDA to run training efficiently.

## Environment

Please copy and paste the output from our
[environment collectio

[2019-06-02 15:52] allegroai opened #21260 "Add torchvision to pip index page"
## 🚀 Feature
`torchvision` links should be added to `https://download.pytorch.org/whl/cuX/stable` pages.
## Motivation
`torchvision` packages are now parametrized by cuda version. For example, in the "Getting Started" table, for parameters stable/linux/pip/python3.6/cuda10, the wheel URL is `https://download.pytorch.org/whl/cu100/torchvision-0.3.0-cp36-cp36m-linux_x86_64.whl`. Not having these in

[2019-06-02 16:18] sdraper-CS opened #21261 "Use of Tensor.contiguous() unconditionally results in Mypy linting errors"
## 🐛 Bug

In `tools/pyi/gen_pyi.py` there is no type hint provided for `Tensor.contiguous()` (`Tensor.is_contiguous()` is there however).  As a result uses of `.contiguous()` cause Mypy linting errors.

In the case I had the line (the context and details of the tensors doesn't matter):

[code]

gives the linting error:

[code]

## To Reproduce

Any use of `Tensor.contiguous` will produce this when

[2019-06-02 17:52] nshervt commented on #4518
Had the same issue on mac after upgrading. `conda install pytorch=1.0.0 -c pytorch` fixed the issue for me.

[2019-06-02 20:09] erickim555 commented on #14131
caffe2 does support serializing/deserializing float16 Blobs, eg the following functions in blob_serialization.cc:
# serialize
https://github.com/pytorch/pytorch/blob/83cf9473dc60d9c02f249875eb96fa38734ab163/caffe2/core/blob_serialization.cc#L299
# deserialize
https://github.com/pytorch/pytorch/blob/83cf9473dc60d9c02f249875eb96fa38734ab163/caffe2/core/blob_serialization.cc#L587

However, loading fl

[2019-06-02 21:13] soumith commented on #21260
fixed

[2019-06-02 21:13] #21260 closed

[2019-06-02 21:14] soumith commented on #21259
the problem isn't that. the problem is likely  that it didn't find a CUDA GPU on your machine.

[2019-06-02 21:14] #21259 closed

[2019-06-02 21:36] riyu94 opened #21263 "Retrain new data to a pretrained model"
Hi I am training data on a lstm model using pytorch
The model works fine when tested.
But i want to improve accuracy if new sequences are detected in data.
I am trying to load this pretrained model and train the model again with new data.
But it doesn't seem to detect the sequences from the pretrained model (it overwrites the pretrained model)
What steps can I follow to use pretrained model as wel

[2019-06-02 23:08] soumith commented on #21263
please use https://discuss.pytorch.org for questions

[2019-06-02 23:08] #21263 closed

[2019-06-03 00:04] soumith commented on #21112
reopened the other issue

[2019-06-03 00:04] #21112 closed

[2019-06-03 00:05] soumith commented on #21016
i reproduced this on Google Colab, but I cant think of a simple reason why this is happening.

[2019-06-03 00:06] soumith commented on #1706
before we see a PR, I'd want to see what the proposed API is. Wouldn't want to go all the way to making a PR and then iterating on the API a lot.

[2019-06-03 01:01] ryan112358 opened #21266 "SparseTensor multiplication with 1D vector"
## 🐛 Bug

Not sure if this should be a bug or a feature, but sparse tensors can only be multiplied with a 2D dense tensors, not 1D ones.  This is inconsistent with the the ordinary tensor multiplication, as well as numpy and scipy multiplication.

## To Reproduce

                          [2, 0, 2]])

## Expected behavior

For a m x n sparse tensor A and a n-length dense tensor x, A @ x should gi

[2019-06-03 01:32] darolt commented on #20031
@houseroad I found the same issue yesterday.
I was using pytorch 1.0 and onnx 1.5 and everything was fine. After updating to 1.1, the conversion to .onnx results in this error:
RuntimeError: Failed to export an ONNX attribute, since it's not constant, please try to make things (e.g., kernel size) static if possible

[2019-06-03 02:36] syed-ahmed opened #21269 "test_array_adaptor and test_from_cuda_array_interface_active_device fails with numba version 0.44.0"
## 🐛 Bug
test_array_adaptor and test_from_cuda_array_interface_active_device fails with numba version 0.44.0

## To Reproduce

Steps to reproduce the behavior:
 - Run test_numba_integration with numba 0.44.0
[code]
## Expected behavior

Tests in question pass

## Environment
[code]

## Additional context
Test passes with numba version 0.43.1. Also looks like 0.44.0 was added in conda couple days a

[2019-06-03 02:53] darolt commented on #6780
Hi,

I'm using pytorch 1.1 and this issue is still present. @ahirner workaround seems to work. Otherwise this error is raised:
RuntimeError: Failed to export an ONNX attribute, since it's not constant, please try to make things (e.g., kernel size) static if possible

[2019-06-03 03:26] encichou opened #21270 "cuda-runtime error(4) on PyTorch 0.4.1"
hello every one ,recently i have a bug ,when i train a resnet18 ,after 9000 iterator times ,some problem occured.could you help me ?

[code]

[ Expected behavior ]:
my network is a multi-classification work. after this bug occured，i try to run my code again。now，my code is running correctly，but this prollem not be dealed。

[ environment ]
pytorch 0.4.1
torchvision 0.2.2.post3
python 2.7
cuda 8.0
Ub

[2019-06-03 03:40] frizk123 commented on #20516
look into the mobilenet.py in torchvision, change the forward function:
    def forward(self, x):
        x = self.features(x)
        # x = x.mean([2, 3])   this line will result in bug
        x = x.mean(2).mean(3)
        x = self.classifier(x)
        return x

[2019-06-03 04:11] daquexian opened #21271 "[ONNX] The shape of PReLU weight is wrong"
## 🐛 Bug

The shape of PReLU weight is incompatible with ONNX document.

The shape of weight should be [channels, 1, 1] according to [ONNX document](https://github.com/onnx/onnx/blob/master/docs/Operators.md#PRelu), however, the actual shape is [channels] instead.

It causes the exported ONNX model illegal. Related issue: https://github.com/daquexian/onnx-simplifier/issues/7

## To Reproduce

Code

[2019-06-03 04:33] houseroad commented on #20031
@darolt it's fixed in pytorch's master. If possible, could you try nightly build?

[2019-06-03 05:57] alexdonchuk commented on #6780
If build from sources its ok.

пн, 3 июн. 2019 г., 5:54 darolt <notifications@github.com>:

[2019-06-03 07:23] kingaza opened #21275 "weight_norm is not supported in TorchScript"
## 🐛 Bug

weight_norm(conv) will arise an error

  File "C:\ProgramData\Anaconda3\lib\site-packages\torch\nn\utils\weight_norm.py", line 97, in weight_norm
    WeightNorm.apply(module, name, dim)
  File "C:\ProgramData\Anaconda3\lib\site-packages\torch\nn\utils\weight_norm.py", line 35, in apply
    del module._parameters[name]
  File "C:\ProgramData\Anaconda3\lib\site-packages\torch\jit\__init__.

[2019-06-03 07:28] vishwakftw commented on #21270
Please provide more details.

[2019-06-03 07:30] encichou opened #21276 "cuda runtime"
hallo every one ,recently  i have a  bug ,when i  train a resnet18 ,after 9000 iterator times ,some problem occured.could you help me ?

THCudaCheck FAIL file=/pytorch/aten/src/THC/THCCachingHostAllocator.cpp line=271 error=4 : unspecified launch failure       x
THCudaCheck FAIL file=/pytorch/aten/src/THC/THCCachingHostAllocator.cpp line=271 error=4 : unspecified launch failure       x
Traceback (

[2019-06-03 07:33] encichou commented on #21270
thank you for you response， i have provided my bug detials

[2019-06-03 07:36] vishwakftw commented on #21270
Can you provide information as asked in the issue template? A reproduction script would also help reproduce the error.

[2019-06-03 07:37] vishwakftw commented on #21276
Closing this and keeping #21270 .

[2019-06-03 07:37] #21276 closed

[2019-06-03 09:57] SeungjunNah commented on #1708
@ibmua According to [cudnn v7.3.0](https://docs.nvidia.com/deeplearning/sdk/cudnn-release-notes/rel_730.html#rel_730) and [cudnn v7.6.0](https://docs.nvidia.com/deeplearning/sdk/cudnn-release-notes/rel_760.html#rel_760) release notes, NVIDIA doesn't seem to be working on NCHW format.
Looks like it will take some time until cudnn group/depthwise convolution gets faster in PyTorch.

[2019-06-03 10:15] hexiaoting opened #21277 "[caffe2] check Range Operator inputs with bug"
## 🐛 Bug
caffe2 process RangeOperator would check input dimension first, There is a bug
[code]

## Environment

 - PyTorch Version (1.2)

[2019-06-03 11:16] encichou opened #21278 "cuda runtime"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

[2019-06-03 11:16] #21278 closed

[2019-06-03 12:05] Wong-Charles commented on #20516
Thank you for you answer, it works for me.

[2019-06-03 12:13] Kaixhin commented on #1706
Might make sense to do `nn.Conv2dLSTMCell` first (functional wrapper) and then `nn.Conv2dLSTM`. Going by Keras (linked above) and [Sonnet](https://github.com/deepmind/sonnet/blob/master/sonnet/python/modules/gated_rnn.py#L1225-L1241), they just assume the same convolution hyperparameters (e.g. kernel size) for both the input and hidden state, so doing this would mean the same API as `nn.Conv2d` (t

[2019-06-03 12:22] rishavjaiswal opened #21279 "i am getting The command '/bin/sh -c yum install -y wget java-1.8.0-openjdk && cd /tmp && wget -q $KAFKA_BIN && export K_TAR=/tmp/$(ls kafka* | head -1) && mkdir -p /opt/apache/kafka/ && tar -zxf $K_TAR -C /opt/apache/kafka/ && cd /opt/apache/kafka && ln -s $(ls) current && rm -rf $K_TAR' returned a non-zero code: 8"
**SendSending build context to Docker daemon   2.56kB
Step 1/10 : FROM centos:7
7: Pulling from library/centos
8ba884070f61: Already exists
Digest: sha256:b5e66c4651870a1ad435cd75922fe2cb943c9e973a9673822d1414824a1d0475
Status: Downloaded newer image for centos:7
 ---> 9f38484d220f
Step 2/10 : MAINTAINER rishavlucky1998@gmail.com
 ---> Running in 7bf477917d0b
Removing intermediate container 7bf477

[2019-06-03 13:27] #21279 closed

[2019-06-03 13:28] ezyang commented on #21016
cc @SsnL if you have any ideas

[2019-06-03 13:28] ezyang commented on #21016
When multiple processes are involved, things get a bit fiddly, but it would very useful if we could get a gdb backtrace of the thing that raised `std::exception`

[2019-06-03 13:29] ezyang commented on #21271
I can help review a patch that fixes this.

[2019-06-03 13:32] ezyang commented on #21261
`contiguous` is marked `SKIP_PYTHON_BINDINGS` so it needs to get a handwritten declaration in `unsorted_function_hints.update`. @sdraper-CS do you think you could submit a patch? Add me as reviewer.

[2019-06-03 13:34] ezyang commented on #21266
Should be simple enough to fix. I'll be happy enough to review a patch that does so. Don't forget to add tests.

[2019-06-03 13:35] daquexian commented on #21271
@ezyang Thanks! Could you provide the right way to fix it? The weight [here](https://github.com/pytorch/pytorch/blob/master/torch/onnx/symbolic_opset9.py#L396) has the type `prim::Param`. I haven't found a way to modify it.

[2019-06-03 13:36] ezyang commented on #21251
@SsnL I think you added this hook, do you think you could take a look?

[2019-06-03 13:38] ezyang commented on #21269
@madsbk do you think you could take a look?

Not sure if this is an upstream problem or not; would have to read the release notes for 0.44.0.

[2019-06-03 13:40] ezyang commented on #21257
@amartya18x do you remember? (I know you wrote this code a long time ago haha)

[2019-06-03 13:56] ezyang commented on #21270
This bug report is for a pretty old version of PyTorch. Could you try upgrading at least to 1.1 and see if the problem persists?

[2019-06-03 14:20] julioasotodv opened #21282 "TorchScript support for torch.nn.utils.rnn.pack_padded_sequence() and torch.nn.utils.rnn.pad_packed_sequence()"
## 🚀 Feature
Add TorchScript support for `torch.nn.utils.rnn.pack_padded_sequence()` and `torch.nn.utils.rnn.pad_packed_sequence()`.

## Motivation

Motivated by https://discuss.pytorch.org/t/torch-jit-script-for-torch-nn-utils-rnn-pack-padded-sequence/30668, this appears to be a desired feature given that tracing is usually not an option when these functions are used (for variable length sequence

[2019-06-03 14:22] mrshenli commented on #20421
@qijianan777 can you share a minimum repro for this problem. I tried the following, but cannot reproduce the error.

[code]

[2019-06-03 14:26] ezyang commented on #4518
@nshervt This issue is tracking a Windows specific issue. If you have trouble installing PyTorch 1.1 from binary distributions on OS X, please file a new bug. Thanks!

[2019-06-03 14:32] goncamateus commented on #19106
Having same issue here predicting using C++ API. The prediction is taking 7~8x slower.

[2019-06-03 14:55] madsbk commented on #21269
Sure, I can take a look

[2019-06-03 16:06] vishwakftw commented on #21257
I think I've figured out the bug.

[2019-06-03 16:11] banderlog opened #21286 "Floating inference time on NVIDIA Jetson Nano"
## 🐛 Bug

We have custom network which is based on yolov3-tiny model implemented in `pytorch`. We run it on Jetson Nano, without any problems, except that we had jumping FPS -- from 7 to 30 in some kind of cycle. It was suspicious, thus I tested it inference speed in `ipython3` using `%timeit` and got pretty strange results which corresponds to what we have seen on video processing:

[code]

This

[2019-06-03 16:11] vishwakftw commented on #21257
With the local changes, this is the output from the reproduction script:
[code]

Without the local changes, this is the output from the reproduction script:
[code]

[2019-06-03 16:50] soumith commented on #21286
what you need to timeit is:
[code]

otherwise you just get wrong timings all over the place because of CUDA API's asynchronous nature.

[2019-06-03 16:51] antran89 commented on #21259
Thank @soumith

[2019-06-03 16:59] umanwizard opened #21290 "Title of docs page includes "PyTorch master documentation" even for non-master branches."
E.g. go to https://pytorch.org/docs/stable/ and look at the title of the page in your browser.

[2019-06-03 17:19] #21261 closed

[2019-06-03 17:20] banderlog commented on #21286
@soumith many thanks, it solved `%timeit` floating, may I conclude that it is a proper way to measure theoretical maximum of network inference speed?

But I still unable to understand why I have so different behavior on Jetson Nano and GeForce 1080ti, they are both have same API, are they?

[2019-06-03 18:06] neerajprad commented on #21257
@LeviViana - Thanks for such a clear bug report. @vishwakftw - Could you put up a PR, or point me to your branch?

[2019-06-03 18:12] mrshenli commented on #18175
@sth1997 You may use PyTorch `DistributedDataParallel`. See [docs](https://github.com/pytorch/pytorch/blob/master/torch/nn/parallel/distributed.py#L174).

[2019-06-03 18:20] jafermarq commented on #20527
is there a quick fix for this?

[2019-06-03 18:41] #20457 closed

[2019-06-03 18:42] mruberry commented on #20634
I think this is by design, and you have to manually add a conversion from fp16 to fp32 before the batchnorm and then from fp32 to fp16 afterwards.

I also encourage you to take a look at NVIDIA's Automatic Mixed Precision (AMP) tool, which can automatically convert your network to a mix of fp16 and fp32 operators. AMP is part of the APEX Github here: https://github.com/NVIDIA/apex.

[2019-06-03 18:53] mrshenli commented on #16654
Hi @tuyaao @ustctf could you please share a minimum repro of this problem?

[2019-06-03 19:04] mrshenli commented on #14616
@glample PyTorch 1.1 added control flow support in DDP see #18953, and what you proposed in the above comments should work. I am closing this issue, but please feel free to reopen if necessary.

[2019-06-03 19:04] #14616 closed

[2019-06-03 19:07] mrshenli commented on #14496
Fixed by #17337. See #14805

[2019-06-03 19:07] #14496 closed

[2019-06-03 19:14] zxhr2793 commented on #1355
This solution works for me, thanks

[2019-06-03 19:50] ezyang commented on #14335
I believe #21244 will bandaid fix this problem.

[2019-06-03 20:02] #17531 closed

[2019-06-03 21:00] suo commented on #21082
@driazati Can you merge this into #20939 so users have a single place to track progress on this feature?

[2019-06-03 21:49] sdraper-CS commented on #21261
@ezyang  I would, but it seems someone beat me to it!  Next time I'll construct a pull request directly if the fix is obvious.  Thanks for the prompt update though

[2019-06-03 22:09] driazati commented on #21193
This is happening because `pack_padded_sequence` is not directly supported, so the TorchScript compiler is seeing it as an un-annotated Python function and assuming all the arguments are Tensors. We currently use a workaround in `nn.LSTM` to produce a tuple that is laid out the same as a `PackedSequence` (see `utils.rnn. get_packed_sequence`).

TorchScript named tuples are still a work in progress

[2019-06-03 22:09] #21193 closed

[2019-06-03 22:15] #21082 closed

[2019-06-03 23:16] mruberry commented on #17930
Good news, looks like this is fixed in cuDNN 7.6. I was able to reproduce using an older cuDNN and the script ran successfully for me after upgrading to cuDNN 7.6.

Please try it and let me know what you find.

[2019-06-04 00:07] jamesr66a opened #21318 "Linker failure on Mac"
I get the following linker failure attempting to build on Mac:

https://gist.github.com/jamesr66a/e146aecdd596fb79d0af21f10ae48877

I've been told BUILD_BINARY=0 BUILD_TEST=0 gets around it. Trying that now, but seems like there's a root cause here to be diagnosed

[2019-06-04 00:25] Roffild commented on #20695
I do not understand why switch GIL constantly. This is a very slow operation. It is necessary to refuse at all from GIL in Pytorch and dependent libraries.

TensorFlow does not use the GIL switch. I adapted the code for Pytorch under TensorFlow. In real-time, returning a result for one query from TensorFlow is faster in 3x-5x than from Pytorch.

Libraries for Python should not use GIL, because ini

[2019-06-04 00:49] ryan112358 commented on #21266
I'd be happy to give it a shot, but am a bit new to PyTorch and am actually having trouble finding the implementation of __matmul__ for sparse tensors in the source... would it require writing C++ code?

[2019-06-04 01:16] vishwakftw commented on #21257
The bug fix is present here: https://github.com/vishwakftw/pytorch/commit/55ae5db05421eb9f7dc18858e0bd5937f7546a3f

[2019-06-04 01:34] stephenroller commented on #18853
Any updates?

[2019-06-04 02:06] kingaza commented on #21275
more detailed error:

  File "C:\ProgramData\Anaconda3\lib\site-packages\torch\jit\__init__.py", line 1238, in __setattr__
    value = _make_strong(value)
  File "C:\ProgramData\Anaconda3\lib\site-packages\torch\jit\__init__.py", line 1410, in _make_strong
    proxy = WeakScriptModuleProxy(mod, stubs)
  File "C:\ProgramData\Anaconda3\lib\site-packages\torch\jit\__init__.py", line 1046, in init_the

[2019-06-04 02:33] SunDoge commented on #20477
tb-nightly           1.14.0a20190603
Still fail to update automatically.

[2019-06-04 04:28] BowenBao commented on #21271
You can try inserting ```onnx::unsqueeze``` for the weight
[code]
If the weight is ```prim::Param``` or Constant, this unsqueeze will be optimized away if ```do_constant_folding``` is turned on while exporting.

[2019-06-04 04:29] in4ight opened #21329 "Source build failed. In "qlinear_unpack.cpp", a class has no member "unpack""
I downloaded pytorch source to build libtorch from github. Using following command:

`git clone [pytorch git] --recursive`

Then run
`
python setup.py build`

Then get following error msgs:

[2019-06-04 05:22] daquexian commented on #21271
@ezyang @BowenBao Thanks! I have proposed the PR: #21330

[2019-06-04 06:27] encichou commented on #21270
thanks for your  advice , i haved not upgraded  my pytorch,  I will try your idea,

[2019-06-04 07:05] kerry-Cho opened #21332 "torch :: nn :: conv2d output feature differs from python Model."
Hi. All

I'm implementing mask rcnn in c ++

I found something strange.
It is output differently from the Python model when visualizing the convolution output value

I do not know why.
This seems to be a bug.

Please Check.
The visualization code was used as below.

C++

<code>
void SaveFeatureHeatmap(torch::Tensor x, std::string savename)
{

	auto heatmap = torch::mean(x, { 1 }, true).squeeze();

[2019-06-04 07:09] songziqin opened #21333 "torch::nn::Linear can not access weight"
## ❓ Questions and Help

I have a question, I want to set and get the Tensor of torch::nn::Linear  object, and I read the document https://pytorch.org/cppdocs/api/classtorch_1_1nn_1_1_linear_impl.html#classtorch_1_1nn_1_1_linear_impl, it says the Tensor weight is the public member.but when i compiler my code ,the compiler gives me an error as follows:
 error: 'class torch::nn::Linear' has no membe

[2019-06-04 07:10] #21333 closed

[2019-06-04 08:27] odysseus0 commented on #20477
Same problem here. Any prospect on a future fix?

[2019-06-04 08:45] odysseus0 commented on #20477
Guys, downgrading TensorBoard to 1.13.1 works for me.

[2019-06-04 09:17] kratosaba27 commented on #21143
Finally I had to re install ubuntu and re install pytorch, it seems that I had a bigger problem with ubuntus installations. Thank you for your help

[2019-06-04 10:01] fmassa commented on #21332
This is probably a visualization issue.

I'd recommend you check that the values are the same instead of plotting them.

Also, questions are better suited to our discussion forums https://discuss.pytorch.org

[2019-06-04 10:01] #21332 closed

[2019-06-04 10:32] sidhantnagpal commented on #16421
This seems to have gotten fixed in the docs.

[2019-06-04 10:32] #16421 closed

[2019-06-04 10:40] xkszltl opened #21338 "qlinear_unpack.cpp: class as no member named 'unpack'"
## Bug

Compile error when building from source.
This is a very recent regression.

[code]

## Environment

 - PyTorch Version (e.g., 1.0): master
 - OS (e.g., Linux): Ubuntu 18.04
 - How you installed PyTorch (`conda`, `pip`, source): source
 - Build command you used (if compiling from source): cmake+ninja, more details in https://github.com/xkszltl/Roaster/blob/00f18b14974f4b5d01b4215f7b342a65a8

[2019-06-04 10:40] xkszltl commented on #21329
Get the same issue when compiling from source: https://github.com/pytorch/pytorch/issues/21338

[2019-06-04 11:50] Squadrick commented on #10459
Can I work on this issue?

[2019-06-04 11:56] mttk commented on #10459
I believe it is somewhat resolved:
MHA -- https://github.com/pytorch/pytorch/blob/master/torch/nn/modules/activation.py#L682
Transformer -- https://github.com/pytorch/pytorch/pull/20170/files

[2019-06-04 13:20] Simpatech-app commented on #8318
I have the same problem, any one fine the solution?
mportError: /lib64/libstdc++.so.6: version `CXXABI_1.3.8' not found (required by /home/m/.conda/envs/torch41/lib/python3.6/site-packages/torch/lib/libtorch_python.so)

[2019-06-04 13:42] posix4e commented on #17703
This is fully reproducible to me

[2019-06-04 13:48] ptrblck commented on #21154
I tried to reproduce this issue on an TITAN RTX and TITAN V using CUDA10 and the code runs fine.

However, if I install the PyTorch nightly binaries with CUDA10 first, then `torchvision`, PyTorch will be downgraded to `1.1.0` with CUDA9, which triggers this error on Turing GPUs.

To reproduce:
[code]
@ezyang What would be the recommended way to install `torchvision` for PyTorch nightly build with

[2019-06-04 13:49] ezyang commented on #20984
An bandaid is to start splitting up nn into multiple pages. But I think people like being able to full text search on all nn modules. So someone would need to figure out why it takes so long to render (is it math equations). Maybe a stopgap is to make another version of the docs with very little CSS / layout formatting. Another stopgap might be to revert to the old docs style, which apparently wer

[2019-06-04 13:52] ezyang commented on #20529
Reproduced on 5fcd37bd8fcd0d392e2fcacf4ab11dd43bb0d108, this should be fixed.

[2019-06-04 13:54] #20486 closed

[2019-06-04 13:56] ezyang commented on #20322
Reproduced on 5fcd37bd8fcd0d392e2fcacf4ab11dd43bb0d108

[2019-06-04 13:56] ezyang commented on #20208
Fixed.

[2019-06-04 13:56] #20208 closed

[2019-06-04 13:57] mrshenli commented on #19896
@denru01 I am closing this issue, but please feel free to reopen if #19897 does not fix the problem.

[2019-06-04 13:57] #19896 closed

[2019-06-04 13:57] ezyang commented on #20156
@ilia-cher We have some other options, right? For example, `at::parallel_for` could check if it is being run from a thread which has never been initialized (using TLS) and then propagate initialization from some global setting, if that is the desired semantics.

[2019-06-04 13:58] ezyang commented on #20048
@Amir-Arsalan I'm going to close this issue for now. Please feel free to reopen when you do have a reproducer.

[2019-06-04 13:58] #20048 closed

[2019-06-04 14:05] Amir-Arsalan commented on #20048
@ezyang Sorry I forgot to work on the example as I got very busy with my stuff. I definitely know that this is an issue and will try to give you an example as soon as possible.

[2019-06-04 14:05] ezyang commented on #20527
@jafermarq I'm going to put up a PR that reverts the breaking commit to start. I'm also planning on making a fix, though that might take longer.

[2019-06-04 14:30] YannDubs commented on #7172
@apaszke  I agree that "you might want a smoother alternative" (btw it would be nice if we could choose the delta parameter in `SmoothL1Loss`. But the fact that it is in torch.nn documented  as "Loss" makes probably every user believe that the subgradient is 0 (even more so when we know that the torch.abs at 0 is 0) . I think the subgradients should either be modified or at least documented (or wa

[2019-06-04 14:41] Oktai15 commented on #229
@soumith torch.flip change the order of dims in tensor, but doesn't change the order in concrete axis like torch.tensor([1,2,3]) -> torch.tensor([3,2,1]). Why did you close this issue?

[2019-06-04 14:43] #21143 closed

[2019-06-04 14:46] willprice commented on #229
[code]
What is it that you expect flip to do? Flip reverses the order of elements along a dimension. Do you want to reverse the order of dimensions, e.g. THWC -> CWHT ?

[2019-06-04 14:53] dmarnerides commented on #229
@Oktai15 I think the function that changes the order of the dimensions is [torch.permute](https://pytorch.org/docs/stable/tensors.html#torch.Tensor.permute) and not [torch.flip](https://pytorch.org/docs/stable/torch.html?highlight=flip#torch.flip).

[2019-06-04 15:03] qvks commented on #21255
Hi could someone please advise on this? I am unable to run any inference on models that I have tested for days for my research project.

[2019-06-04 15:22] EKELE-NNOROM commented on #16417
Yeah @balcilar is right, I reduced the batch size and now it works

[2019-06-04 15:49] zou3519 commented on #21266
`__matmul__` calls https://github.com/pytorch/pytorch/blob/87690d2b77d7f61e0939f074ca9b128e97a3c23e/aten/src/ATen/native/LinearAlgebra.cpp#L338 which then should call a sparse-specific matrix multiply function somewhere down the line. yes, there is c++ code involved.

[2019-06-04 16:07] Oktai15 commented on #229
@dmarnerides @willprice yes, you are right, sorry, misunderstanding.

[2019-06-04 16:27] ezyang commented on #440
@tyleretchart Hey Tyler! Did you ever get a chance to attempt adding backwards for qr?

[2019-06-04 16:30] ezyang commented on #8049
@Roger-luo, when he came and visited Facebook, said this would be very useful for tensor networks!

[2019-06-04 16:52] umanwizard commented on #21176
Removing the assignment, and the "triaged" tag, since we understand this better now and no longer think it's because of Sam's test.

[2019-06-04 16:52] suo commented on #21275
Thanks for the report. @driazati, I believe you were looking into this?

[2019-06-04 16:57] suo commented on #21165
Hi! It depends, what are you trying to reference? If they are parameters (e.g. weights), the `find_parameter` will get you a reference to that tensor. If you are trying to get a submodule, then use `find_module`, a method, then use `find_method`, and so on.

[2019-06-04 17:01] suo commented on #21064
I wonder if it might be easier to support hooks in the JIT? Since we already have a canonical way of doing this in eager

[2019-06-04 17:12] fmassa commented on #21064
@suo note that using hooks has the downside that the whole model should be forwarded, so this is potentially wasteful in resources.
Because of the above limitation, I'm not sure I'd say that using hooks is the canonical way of doing intermediate feature extraction.

[2019-06-04 17:47] mrshenli opened #21344 "Make DDP failure recoverable"
@kuttas @pietern and I had a discussion on how to make DDP failure recoverable. The process involves the following steps:

[code]

This does not work in today's DDP. Currently, to get better performance, DDP assigns the [original module](https://github.com/pytorch/pytorch/blob/fa4ca4e70e98fbe944d1435929ea4fd17c7bed7d/torch/nn/parallel/distributed.py#L316) to the first module replica instead of cre

[2019-06-04 18:00] jerryzh168 commented on #21176
@umanwizard is this resolved?

[2019-06-04 18:06] jerryzh168 commented on #21329
cc @jianyuh @bddppq is this fix now?

[2019-06-04 18:09] jerryzh168 commented on #21329
can you try again? I think https://github.com/pytorch/pytorch/pull/21328 fixes the problem

[2019-06-04 18:09] jerryzh168 commented on #21338
can you try again? I think https://github.com/pytorch/pytorch/pull/21328 fixes the problem

[2019-06-04 18:12] ptrblck commented on #21154
@zhuker
Additionally to the version printing, could you post the install command you were using and the complete output of these commands (tip from @mcarilli):
[code]

[2019-06-04 18:17] jerryzh168 commented on #21318
cc @smessmer @ezyang looks like it is in c10.

[2019-06-04 18:18] jvesely opened #21363 "pytorch 1.1.0 fails to load on windows (python3.6, 3.7)"
## 🐛 Bug

`import torch` fails on windows using pytorch-1.1.0

## To Reproduce

Steps to reproduce the behavior:

1. import torch
[code]

## Expected behavior

successfull import

## Environment
appveyor python3.6 and 3.7
pytorch installed via:
`pip install --user http://download.pytorch.org/whl/cpu/torch-1.1.0-cp37-cp37m-win_amd64.whl`

[2019-06-04 18:19] orionr commented on #20477
@nfelt any chance you'd have thoughts here too? We'll investigate - thank you for the details.

[2019-06-04 18:21] jerryzh168 commented on #13728
@ZhengDeQuan can you confirm whether this is resolved?

[2019-06-04 18:21] soulslicer commented on #21165
No, I am trying to get a pointer to the output. If I do model->forward(), I get a torch::Tensor. I would like to a permanent address/memory location of the output

[2019-06-04 18:22] syed-ahmed commented on #8913
Hi @davidenitti . I don't know the root cause for this bug other than that it's flaky and is closely coupled with the machine it's running on. In our CI, we run this test with `time.sleep(0.5)` in this line: https://github.com/pytorch/pytorch/blob/master/test/test_multiprocessing.py#L344.

[2019-06-04 18:31] jerryzh168 commented on #21290
The suggestion looks reasonable. We would accept a patch that fixes this.

[2019-06-04 18:54] kalyc commented on #20031
Is this expected to be fixed in Pytorch 1.2?

[2019-06-04 18:55] umanwizard commented on #21176
@jerryzh168 No.

[2019-06-04 18:56] nfelt commented on #20477
If killing TensorBoard and restarting fixes this, it's probably because the event file being written to is not the most recent one in the log directory, and TensorBoard currently reads new data only from the last event file in each directory (it reads each one all the way during the first pass, but then reads only from the last file on subsequent passes).

You can avoid this by only using one Summ

[2019-06-04 18:59] jvesely commented on #21363
pytorch 1.0.1 imports OK

[2019-06-04 19:57] smessmer commented on #20804
Can you test if https://github.com/pytorch/pytorch/pull/21369 fixes it?

[2019-06-04 21:22] ezyang commented on #20527
Totally untested revert PR at #21375. Waiting for tests.

[2019-06-04 21:33] soumith commented on #20527
ummm yea this is a wtfbug, sorry about that! Thanks @ezyang for reverting it

[2019-06-04 22:15] jerryzh168 commented on #21176
what should we do now? why do you remove "triaged" tag?

[2019-06-04 22:18] umanwizard commented on #21176
We can add it back, I suppose, since we know the module is "windows".

[2019-06-04 23:07] xkszltl commented on #21338
I don't think the PR you mention is the correct one but yes I've verified the current master is good, probably fixed by https://github.com/pytorch/pytorch/commit/fecd5fa1712b77c842933b2bcf48cb038353e500

[2019-06-04 23:07] #21338 closed

[2019-06-04 23:51] hriebl commented on #20804
I can confirm that this issue is fixed for me with PR #21369 by @smessmer. Thank you!

[2019-06-05 03:04] wanchaol commented on #21009
This should already been fixed now :)

[2019-06-05 03:04] #21009 closed

[2019-06-05 03:56] reckdk commented on #20845
I remove `nervanagpu` by doing this:
[code]

[2019-06-05 04:53] HugoFeng opened #21399 "collect_env ignores conda environment"
Hi,
https://github.com/pytorch/pytorch/blob/95eb9339c10ffc4d74312f35ac15fffa61596de1/torch/utils/collect_env.py#L114
I find this function `get_running_cuda_version` ignores the existence of cudatoolkit in conda env, instead it uses `nvcc --version` installed system wide CUDA as a reference to get the cuda version.
This may be confusing if someone has cudatoolkit with a different cuda version insta

[2019-06-05 05:27] titi1109 opened #21401 "when "group" !=1 in Conv2D Converting convolution ..."
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1.
1.
1.

## Expected behavior

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out the checklist below manually).

You can get the script and run it with:
[code]

 - PyTorch Version (e.g., 1.0):
 - OS (

[2019-06-05 05:32] #21401 closed

[2019-06-05 05:56] kingaza opened #21402 "Why module->eval() doesn't work in C++"
## ❓ Questions and Help
There are dropout and batchnormalization layers in my module, therefore I use this in my cpp souce code:
[code]
And `module->is_training()` shows now it is in eval mode.
However, the followed `module->forward(inputs)` returns different output for every time.

Does I miss something else?
thanks a lot.

ps, I even add these, although I don't think they are necessary
[code]

b

[2019-06-05 06:10] nickyongzhang commented on #16655
Hi @fmassa
I am also using the V100 and also facing the OOM error in second batch. Setting `cudnn.benchmark=True` and `cudnn.deterministic = True` does not help, except only affecting the cached memory. Do you think this is an error due to cuda version?

### Environment Info
[code]

### Error Msg
[code]

### Mem usage Log

[code]

`cudnn.benchmark=True`
[code]

`cudnn.benchmark=True` and `cudnn.de

[2019-06-05 08:32] xuleyoung commented on #16257
Hi，I also encouter this problem.
when I
`python setup.py install`
It seems that .cu file have problem.
cc1plus: warning: command line option ‘-Wstrict-prototypes’ is valid for C/ObjC but not for C++
/usr/local/cuda/bin/nvcc -I/media/data2/xly/anaconda3/lib/python3.7/site-packages/torch/lib/include -I/media/data2/xly/anaconda3/lib/python3.7/site-packages/torch/lib/include/torch/csrc/api/include -I/

[2019-06-05 09:49] xiaoranchenwai opened #21405 "how libtorch can work with tensor data as same as pytorch"
I have a question about data manipulation with the C++ in libtorch.
For example, in pytorch I could deal with tensor like this:
img[:, :10, :] = 0
but with libtorch I don't know how to do as same as pytorch,if I use for circle,then it will be very slow,I want to know if there is any function with libtorch can do this,thank you very much.

[2019-06-05 09:59] nict-wisdom opened #21406 "matmul in a ScriptModule requires much memory"
## 🐛 Bug

matmul in a ScriptModule requires much more memory than in a regular (non-JIT) module.

## To Reproduce

Steps to reproduce the behavior: Run the following script.

[code]
I checked the GPU memory usage at the end of the script (by inserting input()).
nvidia-smi said
[code]

The non-JIT version
[code]
requires much less.
nvidia-smi showed
[code]

The memory usage increases during backwar

[2019-06-05 10:14] nict-wisdom opened #21408 "Type mismatch of aten::mul backward"
## 🐛 Bug

``aten::mul`` accepts ``Double`` as the second argument, but always returns ``Float`` when backwarding.

## To Reproduce

The following reproduces the problem.

[code]

This gives you an error:
[code]

The graph of the traced module was:
[code]

## Expected behavior

I think aten::mul should return a Double value while running backward if the second argument of forward is Double.

## Env

[2019-06-05 10:56] peterjc123 commented on #21363
@ezyang Do you know where the type `TensorProtoDataType` is initialized?

[2019-06-05 11:08] fmassa commented on #16655
@nickyongzhang without a code snippet that reproduces the problem, it's difficult to assess if this is the same issue as reported before or not.

Can you share a minimum reproducible example?

[2019-06-05 11:46] TTMRonald opened #21409 "[onnx] convert pytorch to onnx. (pytorch nightly 1.1.0)"
## ❓ Questions and Help

I want to convert pytorch to onnx in pytorch nightly 1.1.0. The input type is ImageList. The outputput type is BoxList.
The convert code is
`
dummy_input = torch.autograd.Variable(torch.randn(1, 3, 640, 800).cuda())
torch.onnx.export(self.model, dummy_input, "convert_models/onnx_model.onnx")
`
But I meet an error.

Thanks.

[2019-06-05 12:34] flankechen commented on #14493
I have the same error, how did you fixed this? update to date web and code comes with the same error. [#13836](https://github.com/pytorch/pytorch/issues/13836) points out that some operations might be different from torch and caffe?

[2019-06-05 13:12] sairaamVenkatraman opened #21411 "Implementation of Group equivariant convolutions"
## 🚀 Feature
An implementation of group-equivariant convolutions defined by Cohen et. al in the paper 'Group equivariant convolutions' - in ICML 2016.
Specifically, an implementation of the group-convolution over the group of translations and rotations of multiples of 90 degrees at any centre, and the same group extended by reflections.

## Motivation
Group-equivariant convolutions (g-cnns) extend

[2019-06-05 13:17] adrienchaton commented on #20030
when trying to upgrade pytorch from 1.0.1 to 1.1, I ran into the same issue and found this thread

the update on linux server worked fine but not on my macbook (OSX)

I tried brew install libomp but the brew formula could not be found, hence this did not fix the issue and I had to downgrade back to 1.0.1 on OSX to be able to import torch again

did anyone have the same issue regarding both the pip

[2019-06-05 13:38] #11030 closed

[2019-06-05 13:38] #15773 closed

[2019-06-05 13:43] alaeddineHarizi commented on #20845
thank you, worked for me

[2019-06-05 13:52] LeviViana opened #21412 "Support sublist arguments for torch.einsum"
## 🚀 Feature
Support the argument format `torch.einsum(op0, sublist0, op1, sublist1, ..., [sublistout])`. It would allow the users to use more than 26 tensors (i.e. the number of lower case letters) in Einstein Summation.

## Motivation

This feature is already available in [Numpy](https://docs.scipy.org/doc/numpy/reference/generated/numpy.einsum.html).

## Pitch

Perform the operation below in Py

[2019-06-05 13:58] blythed commented on #16123
Any progress here? I'm getting the same errors using a module list.

[2019-06-05 14:32] cpuhrsch commented on #16257
@Google1234 @xuleyoung did you try using a new version of nvcc?

[2019-06-05 14:33] cpuhrsch commented on #21399
Hello @HugoFeng - could you post more details as outlined by the issue template?

[2019-06-05 14:36] cpuhrsch commented on #21402
@kingaza - there many sources of randomness including initialization and recursiveness. Could you inspect the weights to see if they're being updated?

[2019-06-05 14:41] cdancette opened #21413 "torch.bilinear not in documentation"
## 📚 Documentation
torch.bilinear is not in the documentation.

`torch.nn.functional.bilinear` is in the doc, but there isn't any information about it, and looking at the source, it calls torch.bilinear.

[2019-06-05 14:42] cpuhrsch commented on #21409
Helo @TTMRonald, could you provide more details including a minimal and reproducible code snippet? Also note that we [don't use Variable anymore](https://github.com/pytorch/pytorch/wiki/Breaking-Changes-from-Variable-and-Tensor-merge).

[2019-06-05 14:45] cpuhrsch commented on #21411
@sairaamVenkatraman could you expand a bit more on the downsides of the current implementation mentioned in the external repositories? Is this mostly about speed?

[2019-06-05 14:54] cpuhrsch commented on #21412
@LeviViana - could you expand more on the usecase for this feature? Is this resolving a problem you're currently facing? If so, could you expand on that problem?

[2019-06-05 15:25] soumith commented on #21413
this is expected. it's a C-side function, that actually should've been exposed under torch._C.nn.bilinear namespace, but is exposed as torch.bilinear for legacy reasons. One should not document or use it directly.

[2019-06-05 15:25] #21413 closed

[2019-06-05 15:25] soumith commented on #21413
the main function you want to use for any and all interpolations is `torch.nn.functional.interpolate`

[2019-06-05 16:20] slayton58 opened #21415 "NCCL process groups don't support `.group_ranks()`"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1.
1.
1.

## Expected behavior

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out the checklist below manually).

You can get the script and run it with:
[code]

 - PyTorch Version (e.g., 1.0):
 - OS (

[2019-06-05 16:21] slayton58 commented on #21415
/cc @pietern

[2019-06-05 16:26] nairbv opened #21416 "cpp extensions should use full schema string"
The extensions generated by function_wrapper.py use the types and argument names, not the full schema string (schema_args in create_extension_backend ignores is_nullable, should probably use full schema string). This means that optional arguments aren't properly set/handled.

E.g., MSNPUType.cpp generates a function:
[code]
Since `p` is optional, the generated schema string should be something lik

[2019-06-05 16:49] colesbury commented on #21286
Yes, if you are timing GPU you should use `torch.cuda.synchronize()`. You need it on both Jetson and the GeForce card. Otherwise you might only be measuring the time to enqueue the operations on the GPU and not the time to actually execute them.

Jetson and GeForce 1080ti have the same API, but different CPUs and different number of CUDA cores. Both of these affect timing. (Just because the 1080 t

[2019-06-05 16:49] #21286 closed

[2019-06-05 16:50] eellison commented on #21406
Thanks for the issue and the minimal repro!

[2019-06-05 16:52] eellison commented on #21408
Thanks again for the minimial issue & repro!

[2019-06-05 16:56] thiagocrepaldi commented on #19213
I could reproduce this on Pytorch 1.1.0a0+465799f

On my experiment, I have set `torch.set_num_threads(1)` in the main script instantiating the Pytorch Datalaoder class and also at the `worker_init_fn`function for each dataloader worker.

For debugging, I also printed `torch.get_num_threads()` for each process and all of them returned "1" as expected, but all CPUs were used

[2019-06-05 17:24] tstandley commented on #19996
I'm having this issue too.

[2019-06-05 17:59] ezyang opened #21418 "warning: missing return statement at end of non-void function"
On GCC 7.3 + CUDA 10.0, and probably other configurations, we get lots of warnings like:

[code]

This is because nvcc is unable to deal with the combination of `C10_UNLIKELY` (aka `__builtin_expect`) and dead-code elimination, as seen in this simple program:

[code]

This combination of features is handled correctly by the host compiler. Bug was reported to NVIDIA at https://developer.nvidia.com/

[2019-06-05 18:03] soumith commented on #19213
cc: @ilia-cher see the latest comment

[2019-06-05 18:03] soumith commented on #19213
i think this was fixed by Ilia on master, you should see something like PyTorch 1.2.0a0+....

[2019-06-05 18:29] ezyang commented on #21418
cc @smessmer

[2019-06-05 18:54] MichaelDylan77 commented on #21344
I recently posted about this in the discussion form [here](https://discuss.pytorch.org/t/safely-removing-a-module-from-ddp/45753). This issue actually both answers my question and confirms what I suspected was the case when either remove the module, or in this case, trying to redo the DDP wrapping.

[2019-06-05 19:09] jerinphilip commented on #17745
Had a similar issue. Mine was due to not issuing `torch.cuda.set_device(args.local_rank)` at the start of each process. I found each proc occupying some memory on the first gpu (gpustat with procids), which went away once I set the device. NCCL requires that everything in one proc be stored on respective GPUs.

[2019-06-05 20:41] driazati commented on #16123
This issue is blocked by some other in-progress work to make `Module` a first-class object in the TorchScript interpreter, until that's finished @TheCodez's solution above is the recommended workaround

[2019-06-05 21:01] alex-xnor commented on #20030
@soumith

Is there still any plan to do this, or are new binary releases going to wait for the next PyTorch release?

[2019-06-05 21:09] kaszperro commented on #20030
You need to install brew first, go to [brew site](https://brew.sh) and follow install instructions.

[2019-06-05 21:19] ezyang commented on #20527
I'm still planning to revert. But let me explain why this is "expected behavior" under the patch @chandlerzuo wrote.

When we landed #14010, the intended API was to let you do something like this:

[code]

Because `lr_scheduler1` updates the rates, `lr_scheduler2` is able to do its update with respect to `lr_scheduler1`'s update. Makes sense.

But what if you call `lr_scheduler1` twice, with the s

[2019-06-05 21:41] kuttas commented on #21344
@MichaelDylan77  what are you doing to work around it currently? Re-create the inner model and transfer the parameters over?

The usage pattern you have above is similar to the use case I have. I need to be able to re-create the DDP module-wrapper with a new set of worker machines and keep training.

[2019-06-05 21:46] houseroad commented on #16123
Another data point, i also hit this issue... and I have two lists... using `for xxx in module_list` will be painful...

[2019-06-05 21:57] LeviViana commented on #21412
Hello @cpuhrsch, I'm actually not facing any problem. Indeed, I came across this subject via [PyTorch Forums](https://discuss.pytorch.org/t/trouble-flexibly-implementing-a-tensor-manipulation/47077/3).

Though, I think this feature deserves a little attention. In the snippet I wrote above, I actually prefer the `r1` format, I think it is easier to read. It is surely a matter of opinion.

[2019-06-05 21:57] hhbyyh commented on #17614
I'm trying to do something similar, i.e. train the script model in C++. This is probably a stupid question to ask, but is there a way to convert `torch::jit::script::Module` to `torch::nn::Module`? Just to make the training easier.

[2019-06-05 22:04] Koloth commented on #21412
I can add some context since this is coming from a discussion board post I made [here](https://discuss.pytorch.org/t/trouble-flexibly-implementing-a-tensor-manipulation/47077/2).

Let me add some additional context first.  Essentially I want to play around with just some simple discrete probability things.  A very natural operation to do is to take a list of tensors representing samples from indep

[2019-06-05 22:20] ilia-cher commented on #19213
@thiagocrepaldi let me understand better your setup, you mentioned multiple processes? the setting of threads we have is per process, so it's expected that you'll use more than one thread

[2019-06-05 22:33] #21418 closed

[2019-06-05 22:47] gchanan commented on #7844
CC @yf225.

[2019-06-05 23:18] banderlog commented on #21286
Grand merci, @colesbury

[2019-06-05 23:31] SJ001 opened #21441 "Get the derivative of a node with respect to another one"
Hello! How can I take the derivative of a node in my NN with respect to another one? Let's say I have this simple network:
[code]

I want my loss to look like this (it is not syntactically correct from a python perspective): `loss = (y-y_pred)**2+abs(d(y_pred)/d(z)-1)`. So, beside the normal MSE loss I want to enforce the gradient of the output layer with respect to an inner layer to be 1. I was t

[2019-06-05 23:48] MichaelDylan77 commented on #21344
That's exactly right. I have to re-instantiate the model and copy params. It's a pain right now. It's nice to know someone else has a use case in which they would need to extract the model from DDP 👍.

[2019-06-06 00:18] thiagocrepaldi commented on #19213
Yes, I agree. I have created `n` processes, setting `torch.set_num_threads(1)` on each of them and instead of having `n` threads being used, I got all CPUs at 100%

On a 24 CPUs server, even if I spawn a single process, all 24 CPUs are used

[2019-06-06 00:24] jamesr66a opened #21442 "[JIT] kwarg with default doesn't work for class instantiation"
[code]

[code]

[2019-06-06 00:25] ilia-cher commented on #20156
@ezyang at::parallel_for and other primitives could check it, but unfortunately the user might as well call MKL gemm function from a new thread, MKL would use OpenMP with default setting

[2019-06-06 00:33] ilia-cher commented on #19213
is it possible to share a minimum reproducible example of this?

[2019-06-06 00:43] hhbyyh commented on #18337
Thanks @eholly1 .  This resolves my problem.

[2019-06-06 01:06] bnehoran commented on #20785
Is this a go-ahead to start working on it?
I am currently finishing some work on a reverse grid sampler, but I can probably start putting time into this sometime over the next few days.
I think I can figure out many of the places where changes need to be made, but I will probably need help with some parts, such as adding tests for the new functionality.

[2019-06-06 01:10] kingaza commented on #21402
@cpuhrsch , thx.

There are only conv1d, relu, dropout and BatchNorm1d in my network, after training the module is serialized in torch.jit.save() by ScriptModule.
All the conv1d is initialized in this way
    `self.conv1.weight.data.normal_(0, 0.01)`
Then the module is loaded from the file and infers for the given data, but it gives different results time to time.
So i have no idea about what's wr

[2019-06-06 01:14] bnehoran commented on #20785
@fmassa I am not sure I understand how what you are suggesting would work for a more general grid.
First of all, if I understand what you are suggesting, you are proposing to allow `grid_sample` to also do the job of upsampling and/or downsampling tensors, right?
Just to avoid confusion, as you mention, this is different than the point made in this issue, which is more about using the functionalit

[2019-06-06 01:19] kingaza commented on #21402
btw, my env:
Ubuntu LTS 1604
python 3.6.8
pytorch 1.10

[2019-06-06 01:22] jerryzh168 commented on #21329
should be fixed now.

[2019-06-06 01:22] #21329 closed

[2019-06-06 01:41] sidazhang commented on #16123
@driazati being able to zip over 2 ModueLists that would be awesome too

[2019-06-06 02:36] maeotaku commented on #19598
@GuanLianzheng did you fix this problem? It seems any model that uses pytroch embedding definition wont work with TRT :/

[2019-06-06 02:38] TTMRonald commented on #21409
@cpuhrsch Hi, I try convert FCOS model to onnx. The self.model output type is BoxList. I add the convert code after the "predictions = self.model(image_list)".

https://github.com/tianzhi0549/FCOS/blob/fdfc912474e2fff863b8d2dadbba11567fafd758/demo/predictor.py#L205

The convert code is
`
dummy_input = torch.autograd.Variable(torch.randn(1, 3, 640, 800).cuda()) torch.onnx.export(self.model, dummy_i

[2019-06-06 02:42] GuanLianzheng commented on #19598
I think so, I put embedding outside the model. And put the result of embedding into the model, as input data.

[2019-06-06 02:52] maeotaku commented on #19598
Thx! Were you using the BERT pytorch version by any change? if so, did it work after moving out the embeddings?
Im guessing the embedding data you had to cast it to int32. Did you face issues related to precision loss?

[2019-06-06 02:57] GuanLianzheng commented on #19598
I find the error because TensorRT doesn't support INT64.
Bert Model use Embeddings ,so inputs must be LongTensor(int64).
I solve it by putting Embeddings out model. Put the first input and the second input into Embeddings, and we will get the result data of Embeddings. Then, put it and the third input to model.
But it will get some error about Double. I set model to float32, it can solve this ques

[2019-06-06 03:23] tarrencev opened #21448 "[Tensorboard] Error loading embeddings in projector tab"
## 🐛 Bug

When running the `add_embedding` example provided in the documentation [here](https://pytorch.org/docs/stable/tensorboard.html#torch.utils.tensorboard.writer.SummaryWriter.add_embedding), I am unable to visualize the output in Tensorboard. When loading the projector page, the Tensorboard backend returns a 500 and the CLI throws an error (details below).

## To Reproduce

Steps to reprodu

[2019-06-06 03:29] qijianan777 commented on #20421
We use torch.chunk to split a Tensor to a and b, and gather the a and b.I will try to reproduce the error by you code.

[2019-06-06 03:39] qijianan777 commented on #20421
The code which reproduce the error
`import os, sys
import torch
import torch.distributed as dist
from torch.multiprocessing import Process

def run(rank, size, x):
    # The result is error when dim is 0
    input = torch.chunk(x, size, dim=0)[rank]
    # The result is right when dim is not 0
    # input = torch.chunk(x, size, dim=1)[rank]
    # The result is right when use clone
    # input = tor

[2019-06-06 04:01] yqwangustc commented on #14335
https://github.com/pytorch/pytorch/pull/21392 is landed. Please let me know if you still have NaN.

[2019-06-06 04:07] SsnL commented on #21441
torch.autograd.gead

[2019-06-06 04:08] SsnL commented on #21251
@ezyang I can take a look some time next week.

[2019-06-06 04:12] SJ001 commented on #21441
Thank you for your reply! Sorry, I am quite new to pytorch. Could you please elaborate a bit?

[2019-06-06 06:10] sairaamVenkatraman commented on #21411
@cpuhrsch My isssues with the current implementation are mainly about speed. I'm not sure if that is intrinsic, or if its due some inefficiency in their implementation. I'll try and post some timing comparisons, maybe, when I can.

[2019-06-06 06:35] hexiaoting opened #21453 "[ONNX] Pytorch convert inceptionv3's unsqueeze operator to ONNX, then convert to caffe2 failed."
## 🐛 Bug
Convert pytorch inceptionv3 model to ONNX, then converted to caffe2 failed.
The error message for inferencing caffe2 model
[code]

The original pytorch inceptionv3 [model:](https://github.com/pytorch/vision/blob/master/torchvision/models/inception.py)
[code]
If self.transform_input is true, then x_ch0 = torch.unsqueeze(...) will be converted to onnx
operators:
[code]
From this, we can see

[2019-06-06 08:35] kingaza commented on #21402
Very strange that there is nothing from `get_parameters()`, because the program does not enter the for-loop.

[code]

However, I can get all layer's parameters in python using `module.named_parameters()`

[2019-06-06 09:01] kingaza commented on #21402
`module->get_parameters().size()` return **0**, however, `module->forward()` works.
I am totally confused.

[2019-06-06 09:56] fmassa commented on #14335
Closing via #21392

[2019-06-06 09:56] #14335 closed

[2019-06-06 09:57] chughtapan opened #21454 "[JIT] Memory Leak during tracing?"
Hi,

I am trying to run [pytorch-pretrained-BERT](https://github.com/huggingface/pytorch-pretrained-BERT) through the JIT using the tracing API. I ran the example [run_squad.py](https://github.com/huggingface/pytorch-pretrained-BERT/blob/master/examples/run_squad.py) without any changes with the following command and it worked without any issues.
`
CUDA_VISIBLE_DEVICES="0" python run_squad.py \

[2019-06-06 10:15] ChisenZhang opened #21455 "ONNX: pytorch convert to ONNX model, the result of inference is wrong"
## ❓ Questions and Help
I use the api of torch.onnx save Faceboxes model to onnx model. checked the model of onnx by onnx.check, the total stage of torch model to onnx model was not error or warning message. But the inference result of ONNX model is wrong. the version of pytorch is 1.1.0, the onnxruntime is 0.4, the onnx is 1.5. A classification ONNX model of converted from TF model is normal.  wh

[2019-06-06 10:16] SanketSanath commented on #4518
On MacOS Mojave I am getting

[code]

[2019-06-06 11:03] SanketSanath commented on #4518
There is a bug in torch version 1.1.0. Install 1.0.0 for MacOS.

`pip3 install torch==1.0.0 torchvision==0.2.2.post3`

This will solve the problem.

[2019-06-06 11:25] snippler opened #21456 "Where is the algorithm for conv being selected?"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

Hi,
I would like to deploy PyTorch on some specific HW. Problem is it is very slow i

[2019-06-06 11:46] fmassa opened #21457 "downsampling with grid_sample doesn't match interpolate"
I'm taking this discussion from https://github.com/pytorch/pytorch/issues/20785#issuecomment-495186085 as it is unrelated to `grid_sample` not being aligned.

---

There is also another point that I'd like to make about `grid_sample`, which is that even after we make this change to make it aligned, it won't match 1:1 with `interpolate` in some cases.

Indeed, if we use `grid_sample` to downsample

[2019-06-06 11:46] fmassa commented on #20785
@bnehoran I don't think there is anyone currently working on adding an `align_corners` option to `grid_sample`, so feel free to take it and let us know if you have questions.

About the next point that you mentioned (and that I originally raised in my last message), I'm also not 100% about how to define it properly as of now. Let's move the discussion to https://github.com/pytorch/pytorch/issues/2

[2019-06-06 11:59] t-vi commented on #20529
I'll take a stab at fixing this.
@JamieCT thank you for reporting this and the reproduction script. This is very useful!

[2019-06-06 11:59] fmassa commented on #21415
I don't have much background on `distributed`, but from a quick look it seems that this might be the case for both NCCL and GLOO
https://github.com/pytorch/pytorch/blob/2573e695b085e98b619c74eb9318b5a428aef8ac/torch/distributed/distributed_c10d.py#L467-L499

@pietern @mrshenli is this something we should be fixing?

[2019-06-06 12:05] adrienchaton commented on #20030
thanks for your reply, I had brew installed but it was not enough up to date
so I updated everything and now it works

note for other users, when I did brew install libomp, it went through but other applications did not work anymore (Spyder IDE) ; at this moment my OS was still 10.11 (Capitan) and I had to upgrade to 10.12 (Sierra) to be able to solve the problem

so from my experience, I would re

[2019-06-06 12:18] G-YY opened #21459 "RuntimeError: cublas runtime error"
RuntimeError: cublas runtime error : the GPU program failed to execute at /pytorch/aten/src/THC/THCBlas.cu:411
My GPU is 2080ti,CUDA 10.0
How can I slove the problem?Thank you.

[2019-06-06 12:20] fmassa commented on #7844
I'm not sure this is a behavior that we want to keep for the optimizers.

Moving tensors to `cuda` is not an in-place operation, so the references to the tensor should not be the same once we move the tensors to cuda.

[2019-06-06 12:25] fmassa commented on #21441
You should pass `retain_graph` to `torch.autograd.grad`, as explained in the error message.
[code]

Also, we use the GitHub issues to track bugs and feature requests. Questions like this are better suited to the forums https://discuss.pytorch.org

[2019-06-06 12:25] #21441 closed

[2019-06-06 12:36] elimohl commented on #7172
So, do you suggest avoiding using L1Loss for any method that have a chance to converge to 0?

[2019-06-06 12:45] fmassa commented on #21448
I couldn't reproduce the error you pointed out.

Here is the script I tried, which is a straight copy-paste from the documentation that you pointed out:

[code]

I'm using torch `1.1.0.dev20190520` and tensorboard version `1.14.0a20190606`, and everything seems to work fine on my end.

![image](https://user-images.githubusercontent.com/9110200/59033630-693c1680-8869-11e9-9ce4-576d6752b6dd.png)

Pl

[2019-06-06 12:45] #21448 closed

[2019-06-06 13:05] fmassa commented on #21453
Thanks for the detailed bug report!

This seems indeed like a problem, but I'm not sure if it's with the ONNX export or with the JIT, which is casting the constant into a double.

I tried to inspect the generated graph, but I don't actually know if the `CONSTANTS` table are exposed in the new JIT API
Here is the snippet that gets the model in question

[code]

[2019-06-06 13:07] fmassa commented on #21455
Please provide an example of the model architecture, as there is not enough information here so that we can help you further debug this issue.

[2019-06-06 13:09] fmassa commented on #21456
Here is where the different algorithms for convolution are selected https://github.com/pytorch/pytorch/blob/12528990f8c56deb7ce1c699e6da63d82c115968/aten/src/ATen/native/Convolution.cpp#L403-L477

Also, note that we use GitHub issues for tracking bugs and feature requests. Questions are better suited to the discussion forums https://discuss.pytorch.org

[2019-06-06 13:09] #21456 closed

[2019-06-06 13:10] fmassa commented on #21412
We would accept a PR that enhances `einsum` with this new mode of operation.

[2019-06-06 13:16] fmassa commented on #21459
Without further information, it's hard to say what the problem is. Here are some related issues https://github.com/pytorch/pytorch/issues/7548 https://github.com/pytorch/pytorch/issues/17334

Please copy and paste the output of https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py in here, as it can provide useful information to help us debug further.

[2019-06-06 13:32] martinruenz commented on #17614
I don't think this is possible right now. At least not easily.

[2019-06-06 13:38] snippler commented on #21456
Thank you.

[2019-06-06 13:53] apaszke commented on #7172
@YannDubs well the choice of zero is entirely subjective though. If we change it others will later come and say that they want to have some kind of a tie-breaking behavior from L1 norm, and they want the subgradient to be 1 or -1. If the zero gradient at this single point is very important for your application you can always implement a custom `autograd.Function` that explicitly zeros the elements

[2019-06-06 13:55] apaszke commented on #7844
Yes, while some optimizers might be implemented in such a way that works (there's nothing wrong with that), we absolutely do not guarantee that this will be the case if you change them, or even if you download a newer version of PyTorch. I'd like us to keep this restriction.

[2019-06-06 13:57] adefossez opened #21462 "Slow convolution with large kernels, should be using FFT"
## 🐛 Bug

When using `Conv1d` with a large kernel size (1024 for instance) on gpu, the cudnn implementation is very slow and gets slower as I increase the kernel size. I thought it was using FFT but apparently not. If it were using FFT, the computation time should be independent of the kernel size, because the kernel is anyway padded to the length of the input.

I have tried benchmarking with both

[2019-06-06 14:03] ezyang commented on #20527
@jafermarq If you apply #21463 this should fix it for you.

[2019-06-06 14:04] tarrencev commented on #21448
@fmassa I am still seeing this issue after updating to pytorch nightly and running the same script you provided. Would you mind sharing your checkpoint outputted by summary writer for comparison? Mine is:

[events.out.tfevents.1559829463.0c15a53a365c.48516.0.txt](https://github.com/pytorch/pytorch/files/3261930/events.out.tfevents.1559829463.0c15a53a365c.48516.0.txt)

[2019-06-06 14:12] tarrencev opened #21465 "[Tensorboard] Error loading embeddings in projector tab"
## 🐛 Bug

When running the `add_embedding` example provided in the documentation [here](https://pytorch.org/docs/stable/tensorboard.html#torch.utils.tensorboard.writer.SummaryWriter.add_embedding), I am unable to visualize the output in Tensorboard. When loading the projector page, the Tensorboard backend returns a 500 and the CLI throws an error (details below).

## To Reproduce

Steps to reprodu

[2019-06-06 14:21] mrshenli commented on #18853
Checkout #21344, it is not exactly the same issue, but I suspect the OOM error also has something to do with DDP hooks.

[2019-06-06 14:24] fmassa commented on #21465
Related to https://github.com/pytorch/pytorch/issues/21448

@tarrencev can you try running the snippet in https://github.com/pytorch/pytorch/issues/21448#issuecomment-499478293 and see if it works for you? Maybe we need to specify `metadata=meta, label_img` etc in `add_embedding`?

[2019-06-06 14:36] ezyang opened #21467 "No continuous integration coverage for Python 2 CUDA"
We appear to have no CI configurations that run tests on Python 2 CUDA. This is a big problem; c.f. #21466.

[2019-06-06 14:50] mrshenli commented on #21415
@fmassa We can expose a `pg.group_ranks()` API in Python if necessary. @slayton58, could you please share a little more context of your use case? For quick unblock, you can try the following:

[code]

[2019-06-06 14:53] zou3519 commented on #14571
Closed via #20612

[2019-06-06 14:53] #14571 closed

[2019-06-06 15:20] ifedan opened #21469 "RuntimeError when trying to reuse a buffer"
## 🐛 Bug

The code snippet below throws error. I'm trying to see if I could reuse a buffer.

## To Reproduce

Steps to reproduce the behavior:

[code]

[2019-06-06 15:24] tarrencev commented on #21465
@fmassa I tried running that and received the same error. Looks like it is being thrown here: https://github.com/tensorflow/tensorflow/blob/a4c3fa196506d26a1604d3518c58761221e99217/tensorflow/python/training/checkpoint_management.py#L277

So it seems it is looking for a `checkpoint` file... my output does not contain one, so `model_checkpoint_path` is not set. Do you have a `checkpoint` file in yo

[2019-06-06 15:30] YannDubs commented on #7172
@apaszke subjective from a mathematical point of view but not really from an API one (it is called loss not absolute value of differences). A loss is by definition something to minimize, and taking any other subgradients than 0 would increase the loss.

I agree that you should not make changes when there are multiple mathematically sound values just because someone ask you to, but I have the feeli

[2019-06-06 15:31] tarrencev commented on #21465
Hmm this doesn't make sense but I was able to resolve the issue by moving my logs to a different folder. Everything else is the same...

[2019-06-06 15:51] gchanan commented on #21402
Just a heads up:

[code]

doesn't have any effect and you almost certainly want variables in any case.

[2019-06-06 15:55] gchanan commented on #21469
My expectation is that you would have gotten an error about reusing grad buffers.

[2019-06-06 16:13] slayton58 commented on #21415
@mrshenli My use-case is from an abstraction standpoint -- I want to pass the minimum amount of information around, an especially not repeated information.

In a more concrete sense, I have an initialisation chunk of code that sets up all the process groups, that are then passed around. In one case I need to do a splitting based on how many ranks are in the passed process group - the easiest way i

[2019-06-06 16:13] Congstarrr opened #21473 "Have got a target definition error in pytorch"
Hello, I'm a real beginner concerning neural networks and I always get the error:
NameError: name 'Variable' is not defined
when executing the following code:
import torch
import torch.nn as nn
import torch.nn.functional as F
import torch.optim as optim
from torchvision import datasets, transforms

train_data = torch.utils.data.DataLoader(
    datasets.MNIST("data", train=True,

[2019-06-06 16:31] fmassa commented on #21465
@tarrencev maybe there is a problematic checkpoint in the original folder which was messing up with TensorBoard?

[2019-06-06 16:33] tarrencev commented on #21465
The contents of the folders are the same. Let me try debug a bit and will post my findings if any.

[2019-06-06 16:37] mrshenli commented on #21415
@slayton58 thanks for sharing the context, and it makes sense to me. @pietern If this looks OK to you as well, I will create a PR to expose the API.

[2019-06-06 16:38] tarrencev commented on #21465
@fmassa is seems the issue is as follows:

I have my SummaryWriter outputting to `results/scannet_poster/logs/`. There exists a folder in the parent directory with name `checkpoint/`, i.e. `results/checkpoint/`. For some reason, Tensorflow/Tensorboard is trying to resolve this as a TF checkpoint. If I rename the `checkpoint/` directory, everything works. Not sure why it is traversing the folder hi

[2019-06-06 16:39] #21465 closed

[2019-06-06 16:39] fmassa commented on #21462
Thanks a lot for the detailed report!

While this is something that should definitely be improved on the cudnn side, in the meantime we can also dispatch to your implementation for the configurations that you mentioned.

We would be happy to accept a PR implementing this feature.

[2019-06-06 16:44] fmassa commented on #21469
Don't we need to pass `retain_graph=True` to backward if we want to compute the derivative again?

This solves the error for me:

[code]

But I believe we should have raised a different error here in this case, like in the following example

[code]
with the error
[code]

[2019-06-06 16:46] fmassa commented on #21473
Hi,

We use GitHub issues for bug reports and feature requests.
Questions are better suited for the discussion forums https://discuss.pytorch.org
Can you move your question there? Thanks!

[2019-06-06 16:46] #21473 closed

[2019-06-06 16:47] fmassa commented on #21473
But to unblock you, you are missing an import

[code]

[2019-06-06 16:48] fmassa commented on #21465
Thanks for the information!

[2019-06-06 17:00] #19462 closed

[2019-06-06 17:09] #21269 closed

[2019-06-06 17:21] nickyongzhang commented on #16655
@fmassa Thank you for your response. Please find the [code ](https://gist.github.com/nickyongzhang/0e651bf85292ac704c8d1f8a9a11a5d2) to reproduce the problem.

[2019-06-06 17:24] ifedan commented on #21469
Agree

[2019-06-06 17:55] houseroad commented on #21409
Can you use plan tensors here, and wrapper it up within the model? like the warning mentioned... the input/output of the model can only support tuples, lists and tensors.

[2019-06-06 18:02] nickyongzhang commented on #16655
@fmassa It seems that I have found where the problem lies. In the above code, I refer to the embedding layer weights in the sampled softmax step using slice. I just changed the slice to F.embedding and the memory becomes stable. Thank you anyway.

[2019-06-06 18:04] ezyang opened #21477 "Not obvious how to install torchvision with PyTorch source build"
Previously, it used to be possible to build PyTorch from source, and then `pip install torchvision` and get torchvision available. Now that torchvision is binary distributions, this no longer works; to make matters worse, it explodes in non-obvious ways.

When I had an existing install of torchvision 0.3.0, I got this error:

[code]

I reinstalled torchvision with `pip install torchvision`. Then I

[2019-06-06 18:12] jamarshon opened #21478 "JIT torch.stft calls aten::stft which throws error"
## JIT torch.stft calls aten::stft which throws error

When I call torch.stft or torch.functional.stft, JIT tries to call aten::stft.

The former has the [signature](https://pytorch.org/docs/stable/_modules/torch/functional.html#stft):
`
type: (Tensor, int, Optional[int], Optional[int], Optional[Tensor], bool, str, bool, bool) -> Tensor
`

and the latter has the [signature](https://github.com/pyto

[2019-06-06 18:15] fmassa commented on #20527
Let me know if you revert the composable LR Schedulers (which would be btw a breaking change wrt 1.1 API).

I've used the composable LR schedulers in the reference training scripts in torchvision, so I'd like to update it / find a solution if this gets reverted

[2019-06-06 18:22] ezyang commented on #18429
Super resolution is broken. It's been disabled for a while in CI, and in fact the test is failing when I run it locally.

CUDA:

[code]

CPU:

[code]

then:

[code]

[2019-06-06 19:00] #19540 closed

[2019-06-06 19:15] KabirKwatra commented on #20297
This issue can be closed

[2019-06-06 19:31] mrshenli opened #21480 "ProcessGroupGloo reduce produces wrong result"
## 🐛 Bug

ProcessGroupGloo reduce results are wrong on non-root process.

## To Reproduce

Run the following code:

[code]

You will see output:

[code]

where gloo rank  1 should output [[1, 1], [1, 1]] as nccl does.

cc @ezyang @gchanan @zou3519 @bdhirsh @jbschlosser @anjali411 @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @rohan-varma @gqchen @aazzolini @osalpekar @jiayisuse @agolyn

[2019-06-06 19:36] #20297 closed

[2019-06-06 19:44] suo commented on #21478
@wanchaol  can you take a look

[2019-06-06 19:48] geoffsmith commented on #18429
Does anyone know what might be causing the issue? I've built my own super-resolution model and am trying to get ONNX to work. It's exporting fine, but re-loading the model and running inferences gives completely different results - I'm wondering if this is the same issue I'm getting. Maybe something to do with exporting pixel shuffle to onnx?

[2019-06-06 19:52] mruberry commented on #16592
Update:

It turns out that nvrtc is incorrectly producing "unknown error" instead of NVRTC_ERROR_BUILTIN_OPERATION_FAILURE, which may be the error you're seeing. I submitted a PR to correct this ( #21174).

Would you please retry with a newer version of PyTorch containing this update? Alternatively you can port the update to your version of PyTorch, too (the code change is very small and safe). Th

[2019-06-06 20:12] ngimel commented on #21477
libcudart,so.9.0 error you are getting is due to torchvision silently downgrading your pytorch to cuda 9 version, and yes, we noticed that it is problematic to install torchvision for source torch installs.

[2019-06-06 20:25] mrshenli commented on #20421
@qijianan777 confirm that I can reproduce, and this is indeed a bug in `ProcessGroupGloo`. More specifically, when you do `chunk` on `dim=0`, the result tensors share the same underlying storage and are contiguous, but with different offset. So, when we do [`flat`](https://github.com/pytorch/pytorch/blob/c5845c44821bb3e9f8847544c122cca42aaeba6d/torch/lib/c10d/ProcessGroupGloo.cpp#L842) the tensors

[2019-06-06 20:38] jamesr66a commented on #21173
Closing this and I don't think we want to match unspecified Python behavior. Please reopen if we find a use case otherwise

[2019-06-06 20:38] #21173 closed

[2019-06-06 20:44] #20529 closed

[2019-06-06 20:49] #21026 closed

[2019-06-06 20:53] wanchaol commented on #21478
I don't know the underlying reason why you need to call `torch.functional.stft`, we did not export the `torch.functional` library to torchscript yet. You will need to call `torch.stft` in JIT and pass all the necessary arguments for it.

[2019-06-06 20:56] neherh commented on #20477
Here is an output of the error which isn't @nfelt's initial suggestion:
[errorfile.txt](https://github.com/pytorch/pytorch/files/3263405/errorfile.txt)

I modified a version of https://github.com/lanpa/tensorboardX with added time.sleep(0.5) to generate the points at a slower speed and the tensorboard was not able to update. Code Structure to write the scale value looks likes this:

    writer.add

[2019-06-06 21:01] #18254 closed

[2019-06-06 21:35] jamarshon commented on #21478
@wanchaol Well it does not work in either case `torch.functional.stft` or `torch.stft`

[2019-06-06 22:17] smessmer commented on #20804
We just committed https://github.com/pytorch/pytorch/pull/21293 which should have the same effect. Please reopen if this still happens on master.

[2019-06-06 22:17] #20804 closed

[2019-06-06 22:26] #16865 closed

[2019-06-06 22:57] hriebl commented on #18398
I still have this issue with the current master using virtualenv and Fedora 29. Any progress on this? @gujinghui, maybe?

[2019-06-07 00:06] Roffild commented on #20695
https://bugs.python.org/issue37186

[2019-06-07 01:03] hhbyyh commented on #17614
Thanks @martinruenz . In that case, it seems I can only invoke `get_parameters()` to collect gradients module by module after `loss.backward()`.

Also I want to check if C++ front end of Pytorch can somehow load the Python model, e.g. `torchvision.models.resnet18()`.

[2019-06-07 01:23] syed-ahmed commented on #20489
This is now solved because curandStateMtgp constants are never created as a result of https://github.com/pytorch/pytorch/pull/20886. Closing this issue.

[2019-06-07 01:23] #20489 closed

[2019-06-07 02:04] souryadey commented on #10043
I am trying to train a _pre-defined sparse_ neural network where the Linear layers only have some weights present. For example, consider 2 layers of sizes 10 and 10, so the weight matrix has shape (10,10). But only 20 weights are present, the remaining 80 are absent (hence always 0, i.e. they never enter any computation). [This paper](https://ieeexplore.ieee.org/document/8689061) has more details

[2019-06-07 03:01] vishwakftw opened #21508 "CUDA implementation of alias multinomial doesn’t work correctly"
## 🐛 Bug

While working on fixing a bug in the CPU sampler in #21324, @neerajprad noted that the CUDA sampler was not sampling correctly. Refer https://github.com/pytorch/pytorch/pull/21324#discussion_r291418677 for more details.

## To Reproduce

Remove the skipIf decorators for test_multinomial_alias in test_cuda.py on https://github.com/vishwakftw/pytorch/tree/fix-multinomial_alias_draw and run

[2019-06-07 03:15] kamathhrishi commented on #20240
@yifuwang If you would like to go for it, go ahead. I did begin this pr but then I don't think I will have the time to complete it. If you have any questions or need to know about the progress I have made you can let me know.

[2019-06-07 04:24] Chillee commented on #21462
I can probably take this if @adefossez doesn't want to.

[2019-06-07 06:33] Shreeyak commented on #6934
@musikisomorphie Thanks for working on it!
@soumith SSIM is also very useful on other image tasks like predicting depth. Having a verified implementation inside pytorch would be very useful indeed. Tensorflow has an SSIM loss integrated, which people have used in tasks of depth estimation - makes a big difference.

[2019-06-07 07:27] fmassa commented on #21462
@Chillee go for it!

[2019-06-07 09:23] kingaza commented on #21402
@gchanan thx. Actually this sentence has already commented.
So, how can I inspect the weights in C++? @cpuhrsch

[2019-06-07 09:44] Congstarrr commented on #21473
Ok sorry, but I thought that you don't need the autograd any longer...

[2019-06-07 12:13] snippler commented on #21456
I have a follow-up question: do I read correctly that the default case for CPU is **at::mkldnn_convolution**? So if I have an ARM processor I simply have to replace this line by an ARM convolution?

[2019-06-07 12:15] fmassa commented on #21456
If your system doesn't have MKLDNN supported, it will dispatch to our custom implementation of convolution which is based on `im2col + matmul` https://github.com/pytorch/pytorch/blob/12528990f8c56deb7ce1c699e6da63d82c115968/aten/src/ATen/native/Convolution.cpp#L464

[2019-06-07 12:21] snippler commented on #21456
I see, I thought, this was dws conv, now I see it's a different kind of "group"

Is there something for ARM processors inside Caffe2 that could be used here?

[2019-06-07 12:27] ezyang commented on #16608
A more recent failure:

[code]

https://circleci.com/gh/pytorch/pytorch/1934691?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2019-06-07 12:38] HenryJia commented on #20005
Found a solution, adding USE_NINJA=OFF seems to fix this

[2019-06-07 12:43] HenryJia commented on #13061
Found a better solution. It seems that the errors are not to do with build threads.

It turns out the errors were caused by cmake using Ninja instead of Make, if Ninja is installed. Adding USE_NINJA=OFF seems to fix it

[2019-06-07 12:57] fmassa commented on #21456
maybe NNPack, but I'm not sure.

[2019-06-07 13:18] ptrblck commented on #21477
Some tests regarding installing `torchvision` and downgrading PyTorch to CUDA9 can also be seen [here](https://github.com/pytorch/pytorch/issues/21154#issuecomment-498679072).

[2019-06-07 13:25] soumith commented on #21462
Just FYI, the FFT Convolutions in CuDNN, and from our FBFFT paper dont actually expand and do a FFT with the kernel padded all the way up to the input. They do FFT with small windows of a tile-size. In our paper, we did tile size of 8, 16, 32 based on the size of the convolution kernel, and we parallelized all of these smaller FFT calls with dedicated CUDA kernels. I'm pretty sure CuDNN didn't imp

[2019-06-07 13:35] mttk opened #21518 "`attn_mask` in nn.MultiheadAttention is additive"
## 📚 Documentation

It likely should be mentioned that the `attn_mask` argument of MHA is an additive mask (-inf masks values), rather than the standard multiplicative mask (0 masks values). Perhaps even enforce a value check (all values should be 0 / -inf ?, otherwise print warning?)

[2019-06-07 14:07] zou3519 commented on #21518
cc @zhangguanheng66

[2019-06-07 14:15] zhangguanheng66 commented on #21518
We have an open PR now to integrate torch.nn.MultiheadAttention moduel with the one in Fairseq. Will fix the docs together. Thanks for the suggestion.

[2019-06-07 14:53] gchanan commented on #21402
If you are referring to "ps, I even add these, although I don't think they are necessary", I was making a different point.  The line I referenced literally has no effect according to the rules of C++, i.e. you are just modifying temporaries, your `options` will not have changed is_variable or requires_grad options.

[2019-06-07 14:57] adefossez commented on #21462
Thanks for the quick replies everyone!
@Chillee I'm happy to let you do it, I don't think I know Pytorch internals well enough to do it cleanly, but I would be curious to see how you do it.
@soumith, thanks for the clarification. This is going to be especially useful when using something like Neil Zeghidour's filterbanks for audio classification [1], which uses a kernel size of 400 with a stride o

[2019-06-07 15:07] zou3519 commented on #19675
This is indeed a duplicate so I'm closing this. Let's have all discussions in #4145

[2019-06-07 15:07] #19675 closed

[2019-06-07 15:11] zou3519 commented on #4145
I think the best thing to do here is to clarify the documentation on what `batch_first` does. Many people get confused about the hidden states not having their batch first.

I agree with @ngimel that it is unclear from a semantic perspective why `batch_first` should affect the hidden states (because the functionality of batch_first is to switch the timestep dimension and the batch dimension and th

[2019-06-07 15:14] zou3519 commented on #10459
cc @zhangguanheng66 who has a PR for nn.Transformer

[2019-06-07 15:15] mttk commented on #21518
Thanks, didn't see that PR when searching. This can be closed as far as I'm concerned.

[2019-06-07 15:17] zhangguanheng66 commented on #10459
@Squadrick Thanks for the offer. We will land the PR very soon.

[2019-06-07 15:20] zhangguanheng66 commented on #21518
I have linked the PR. Will close this issue automatically once we land the PR.

[2019-06-07 16:09] ezyang commented on #20048
Thanks, looking forward to it.

Excerpts from Amir Arsalan Soltani's message of 2019-06-04 07:06:50 -0700:

[2019-06-07 16:15] ezyang commented on #20695
Believe it or not, we do run Python from multiple threads in PyTorch. The most common occurrence of this is when we do backwards autograd; operations for separate devices occur on different threads, and may call into Python in the case of custom autograd functions. Correctly acquiring and releasing the GIL is important here.

[2019-06-07 16:48] bhack commented on #5013
Just to collect another solution https://npm.pkg.github.com/Tramac/torchscope.

But it could be better if there will be an off the shelf solution directly in pytorch.

[2019-06-07 18:01] pinkhamr-fb opened #21526 "Segmentation fault on large concat operation"
## 🐛 Bug

When concatenating two large tensors a 'Segmentation fault (core dumped)' is thrown. Tested on an older version of pytorch(1.0.1) and bug was not present.

## To Reproduce

Steps to reproduce the behavior:

[code]

**Output:**
`Segmentation fault (core dumped)`

## Expected behavior

Expected: a concatenated tensor with lots of ones

## Environment
Tried it on 2 computers:
**Build 1:**
P

[2019-06-07 18:41] umanwizard commented on #21526
I know what is causing this, will put up a PR to fix.

[2019-06-07 19:08] Kaixhin commented on #1285
Would like to see SparseRMSprop. Talked to Alex Pritzel about reproducing [Neural Episodic Control](https://arxiv.org/abs/1703.01988), and he mentioned specifically that they update the Differentiable Neural Dictionary with sparse updates in TensorFlow, so only accessed keys have gradient averages calculated. Given that the DND is used in other work as well this optimiser would be nice to have.

[2019-06-07 19:52] jamesr66a opened #21535 "indexSelect index out of range error too vague"
https://github.com/pytorch/pytorch/blob/2b902e9738f5346050814b40db3ec67faf37128a/aten/src/TH/generic/THTensorEvenMoreMath.cpp#L221

This error is too vague. Ideally we would print out the index we tried to access and the number of rows in the table we're trying to select out of. Right now it just says "index out of range" and multiple users have been confused by this.

[2019-06-07 19:54] hanmingliu2 commented on #18634
@umanwizard Due to heavy work schedule, I work on this issue only during my free time. Again I am sorry for my slow progress. I will notify you guys as soon as I make new progress on resolving this issue.

[2019-06-07 20:16] edgarriba opened #21536 "JIT RuntimeError: isTensor() ASSERT FAILED"
## RuntimeError: isTensor() ASSERT FAILED 🐛

We want to provide jitted versions of [Kornia](https://github.com/arraiyopensource/kornia) functions and by doing so during the tests we found the following issue when tracing a `nn.Module` that internally calls a scripted version of a simple function of the library:

[code]

## To Reproduce

Steps to reproduce the behavior:

1. Install kornia: `pip ins

[2019-06-07 20:19] hrpan opened #21537 "MKLDNN convolution leaks memory"
## 🐛 Bug

Memory usage increasing steadily when repeatedly calling forward.

## To Reproduce

[code]

## Expected behavior

## Environment

PyTorch version: 1.1.0
Is debug build: No
CUDA used to build PyTorch: None

OS: Ubuntu 18.04.1 LTS
GCC version: (Ubuntu 7.3.0-16ubuntu3) 7.3.0
CMake version: version 3.10.2

Python version: 3.6
Is CUDA available: No
CUDA runtime version: No CUDA
GPU models and

[2019-06-07 20:23] bhack commented on #21536
Is it a duplicate of https://github.com/pytorch/pytorch/issues/21009?

[2019-06-07 21:02] wanchaol commented on #21536
Yes it should be a duplicate of #21009 and the bug already been fixed. Are you on pytorch 1.1 or on the pytorch nightlies? I would encourage you to try our nightlies to see if it has been resolve or not. I tried you script in master and it gives me this error

[code]
input not valid?

[2019-06-07 21:07] mrshenli commented on #21344
## Trying Solution 2

#21534 seems addressed the problem but in quite a dirty way. A better solution might need to satisfy the following requirements:

1. As mentioned by @pietern, the hook deletion function should be implemented in `torch/csrc/autograd/function.h`, as it owns the data.
2. We should not slow down existing use cases of `add_post_hook` and `post_hooks()`.

I initially thought about

[2019-06-07 21:13] wanchaol commented on #21454
@ailzhang do you mind taking a look?

[2019-06-07 21:16] wanchaol commented on #21406
I think this related to https://github.com/pytorch/pytorch/issues/21454

[2019-06-07 21:43] driazati opened #21544 "[jit] In pickler, don't memoize if not necessary"
Follow up to #21542, now the pickler works the same as Python's in that it outputs memoization IDs for every object. For improved binary size and faster deserialization we should do a pass over all the `IValue`s to be serialized and only memoize the ones that are actually used more than once (similar to [`pickletools.optimize()`](https://docs.python.org/3/library/pickletools.html#pickletools.optim

[2019-06-07 21:44] jamesr66a opened #21545 "[JIT] Default method arguments for container types is broken"
[code]

[code]

cc @suo

[2019-06-07 21:44] jamesr66a commented on #21545
Relevant compiler code: https://github.com/pytorch/pytorch/blob/fe5ceea580600b2adf4a7509132ffaf2949189d1/torch/csrc/jit/script/compiler.cpp#L645

We need to handle this differently somehow

[2019-06-07 21:44] edgarriba commented on #21536
hi @wanchaol , I confirm that with the nigthly build at least the code doesn't crash. As for your error, the input should be (1,4,4,2) - sorry my bad.

Besides, we are not getting the expected behavior since the height and width are casted to constants during the trace and we might want to infer them at running time like in the eager version of the function.

I attach an updated version of what we

[2019-06-07 21:53] wanchaol commented on #21536
Since height, weight are input dependent, it is better you can turn `MyTestModule` to ScriptModule as well, script mode should handle all the data dependent problem that could not be handled during tracing.

Another option is to `op_script` take all tensors, and inside the op_script, cast the height and weight to int

[2019-06-07 22:08] edgarriba commented on #21536
tried you second solution assuming all tensors,
[code]
and getting this error trace:
[code]

[2019-06-07 22:09] eellison commented on #21545
I'm not sure we should support default argument types for container types. This is one of the biggest gotchas in python.
[code]

[2019-06-07 22:45] nfelt commented on #20477
@neherh the logs you posted include lines like

[code]

This does indicate that there's more than one event file in per directory, in which case it could be the case that new data in the earlier file is being skipped.

If you have a self-contained script that reproduces the issue that would be helpful for taking a further look, but as is I'm not sure that this is a (new) issue on the tensorboard r

[2019-06-07 23:44] Aeroxander commented on #18113
The conversion from PyTorch to ONNX works fine, only when I go from ONNX to OpenVINO I get this error:

[ ERROR ]  Unexpected exception happened during extracting attributes for node 43.
Original exception message: One/both of widths_scale = None and height_scale = None is not defined for Upsample node 44.

Dont know if this has anything to do with it.

[2019-06-08 00:25] baqwas opened #21551 "How to disable MKL-DNN 64-bit compilation?"
My build from current source on RPi 3B fails because the compilation is selecting the 64-bit option for the Intel MKL-DNN library. Is there an _option/flag_ to disable this selection during the **make** process?

Thanks.

[code]

[2019-06-08 00:33] xuhdev commented on #21551
Could you try

    USE_MKLDNN=0 python setup.py install

[2019-06-08 00:37] Serena-Cheng opened #21553 "Feature Request"
If you have a question or would like help and support, please ask at our
[forums](https://discuss.pytorch.org/).

If you are submitting a feature request, please preface the title with [feature request].
If you are submitting a bug report, please fill in the following details.

## Issue description

Provide a short description.

## Code example

Please try to provide a minimal example to repro the

[2019-06-08 00:49] smileeok opened #21554 "Pytorch hangs when dataloader multiprocessing workers are killed"
## 🐛 Bug

There are basically 2 issues here:
1) Pytorch does not handle properly when dataloader workers hang. The whole process hangs when a worker hangs if no timeout is specified. When a timeout is specified, the dataloader simply throws an exception without cleaning up its worker processes.
2) Since Pytorch doesn't handle it, we had to handle it ourselves, by forcefully killing the worker proc

[2019-06-08 00:59] wanchaol commented on #21536
@edgarriba in the second solution, you will need to pass height and weight as tensors, rather than ints.

This should work:

[code]

[2019-06-08 01:07] wanchaol commented on #21536
the reason why we have this `_get_tracing_state` condition here is, it will fail the tracing sanity check because the sanity check tries to run everything in python, which produce ints for `shape`, but tracing itself produce separate tensors for `shape`. This is kind of weird but must to have for tracing with casts. I would suggest you guys use the option 1 instead of option 2

[2019-06-08 04:44] Blusea commented on #499
[code]

[2019-06-08 06:13] G-YY commented on #21459
Thank you for your reply. @fmassa
The env output is :
Collecting environment information...
PyTorch version: 0.4.1
Is debug build: No
CUDA used to build PyTorch: 9.0.176

OS: Ubuntu 16.04.5 LTS
GCC version: (Ubuntu 5.4.0-6ubuntu1~16.04.11) 5.4.0 20160609
CMake version: version 3.14.0

Python version: 3.5
Is CUDA available: Yes
CUDA runtime version: 10.0.130
GPU models and configuration: GPU 0: GeF

[2019-06-08 08:28] edgarriba commented on #21536
@wanchaol thanks for providing a solution, but I don't feel quite convinced about it. I just see one thing here: from the maintenance side of the library if we want to provide jit ready functions to be traced, does it mean that we have to wrap every single function to a ScriptModule, cast all to tensors and so ? Also from user side, in case we don't provide such wrapping could be really a pain to

[2019-06-08 09:45] pearu opened #21566 "Port CUDA Blas functions to ATen"
PR #20983 contains a port of CUDA Blas functions gemm and gemv to ATen native.

There are several other Blas functions in `THCBlas.{h,cu}` that need to be ported.

Also, the duplication of `adjustLdLevel2`, `adjustLdLevel3`, `convertTransToCublasOperation`, `THCublasCheck` needs to be resolved by deleting these once all `THCBlas.cu` functions use Blas functions from `at::cuda::blas`.

[2019-06-08 13:12] deeponcology commented on #19302
Hello,
I have the exact same issue using CUDA 10 on Linux.
` what():  p INTERNAL ASSERT FAILED at /pytorch/c10/core/impl/DeviceGuardImplInterface.h:132, please report a bug to PyTorch. DeviceGuardImpl for cuda is not available (getDeviceGuardImpl at /pytorch/c10/core/impl/DeviceGuardImplInterface.h:132)`

This only happens if I try to use:
` module->to(at::kCUDA);`
or the suggested alternative:
`a

[2019-06-08 14:42] Kaixhin commented on #20984
Just had a quick look at this. For maths it's using KaTeX, which is supposed to be faster than MathJax, but I'm not sure it's using server-side rendering. There's a bunch of JS libraries like jQuery and underscore that are being loaded from the website instead of a CDN. Finally there's some data being requested by `theme.js` that's being requested significantly after the rest of the resources.

[2019-06-08 17:14] henon opened #21567 "torch.bernoulli's parameter generator not documented"
## 📚 Documentation

[torch.bernoulli] https://pytorch.org/docs/stable/torch.html#torch.bernoulli  shows two extra parameters other than the two documented ones: * and generator=None

What are they?

[2019-06-08 17:35] hrithikguy commented on #21567
The generator is a <torch._C.Generator object>, the random number generator.

[2019-06-08 21:19] WeiHao97 opened #21569 "Conv2d Breakdown"
## ❓ Questions and Help

Hi I am trying to make a breakdown of the overhead of Conv2d operation on both cpu and gpu. Simply, I think I should do this by putting timers around im2col and gemm operations as they are them two main operations in Conv2d?

In the source code, I can trace it back to patialDilatedConvolution.c and SpatialFullDilatedConvolution.c. However, I am confused by the diffrence be

[2019-06-08 21:19] WeiHao97 commented on #21569
*put timers

[2019-06-08 22:10] gheaeckkseqrz commented on #21569
**Take it with a pinch of salt as I'm no expert.**

I don't think you'll be able to time the GPU code, as the execution is somewhat asynchronous.
The C code will add a CUDA kernel to the queue and return, you can time the adding operation, but you'll not be able to time the actual operation without performing a synchrosination next (which I expect is gonna be a bit of work).

AFAIK (correct me if

[2019-06-09 00:35] nishankjain commented on #18206
#18117 makes it better but I think `ignore_target` removes all confusion and reduces the dependency on reading the documentation thoroughly. As @ezyang said, we can change it to `ignore_target` and keep `ignore_index` for BC.

[2019-06-09 02:44] CoinCheung commented on #14456
I should close this, since the  reason is found. Thanks for support :)

[2019-06-09 02:44] #14456 closed

[2019-06-09 08:45] deeponcology commented on #14684
Dear @Oldpan,
Using CUDA 10.1 and the latest TorchLib on windows 10, what is the most likely to work version of opencv?
I intend compiling OpenCV from source with CUDA support, and I am getting the exact same error quoted above with Opencv 4.1.0

Thanks,

[2019-06-09 08:49] gongel opened #21571 "How to retrieve hidden states for all time steps in LSTM or BiLSTM?"
How to retrieve hidden states for all time steps in LSTM or BiLSTM?

[2019-06-09 09:18] deeponcology commented on #11447
Hello,
It seems there is a hardcoded path. When using CUDA 10.1 with the latest version of TorchLib on windows, I get the following exception.

  Imported target "torch" includes non-existent path

    "C:/Program Files/NVIDIA Corporation/NvToolsExt/include"

Thanks,

[2019-06-09 14:27] deeponcology opened #21572 "Imported target "torch" includes non-existent path "C:/Program Files/NVIDIA Corporation/NvToolsExt/include""
## 🐛 Bug

Hello,
It seems there is a hardcoded path inside CmakeLists relating to **NvToolsExt**.
In CUDA 10.0 there is NO NvToolsExt folder while Pytorch is expecting one.
Specifically, when using CUDA 10.1 with the latest version of TorchLib on Windows 10, I get the following exception.

  Imported target "torch" includes non-existent path
    "C:/Program Files/NVIDIA Corporation/NvToolsExt/incl

[2019-06-09 14:49] xiaoyuchhusky opened #21573 "[Feature Request] : conditional overall argmax() & overall argmin()"
I would like to request one "conditional overall argmax()" function. Like the example below:

let's say we have a tensor Q with shape (4,4,4):

![Snip20190609_3](https://user-images.githubusercontent.com/22250129/59160183-7a6f6800-8aa1-11e9-8707-2195076ba132.png)

then, given a **conditional index vector, [0,1,:]**, we pick out the corresponding part by **Q[0,1,:]**. If we do the argmax() now, it

[2019-06-09 15:23] kingaza commented on #21402
Got it. Thank you for the explanation.
@gchanan , do you have any suggestions for my problem?

[2019-06-09 17:21] HenryJia opened #21574 "Using Ninja instead of Make results in inability to find correct headers when building from source on Linux"
## 🐛 Bug

Build from source fails on Linux systems and results in either #20005 or #13061 if ninja is present on the system and USE_NINJA=OFF is not passed to setup.py

## To Reproduce

Steps to reproduce the behavior:

1. Install ninja
2. python setup.py install

## Expected behavior

If USE_NINJA=OFF is not passed, cmake will default to using ninja when it is installed, causing either #13061 or

[2019-06-09 18:02] fmassa commented on #21573
I'm not sure if I understand it correctly, but this seems similar to computing the argmax over a single dimension, via `argmax(2)`. Or am I missing something?

[2019-06-09 18:03] fmassa commented on #21573
(With a potential extension of argmax over multiple dimensions)

[2019-06-09 19:50] WeiHao97 commented on #21569
I tried to add printf statement in SpatialDilatedConvolution and run "python setup.py build". However, nothing is get printed while I am applying conv2d to a tensor. Maybe conv2d is using another function? I am really not sure about this. Please help me out.

[2019-06-09 20:02] fmassa commented on #21569
Depending on the setup, we might dispatch to MKLDNN or CUDNN implementations. Check `Convolution cpp` in the ATen native folder

[2019-06-09 20:26] WeiHao97 opened #21575 "printf in cfiles in/pytorch/aten/src/THNN/generic/"
## ❓ Questions and Help

Hi I am trying to make breakdowns of the overheads about the operations happened inside conv2d.
I am trying to print something so that I added 'printf' in SpatialDilatedConvolution.c but But nothing is printed when I call conv2d after  "python setup.py build" or "python setup.py develop".
Did I focus on the wrong c file or Should I do other things to print things out?
Plea

[2019-06-09 20:39] xiaoyuchhusky commented on #21573
@fmassa，it is not over single or multiple dimensions. Given a original Q matrix and a conditional arbitrary vector (e.g. [1,:,:]; [3,:,1]), the vector is used to select out the values ( let’s call these values selected_Q) from which we want to find the index of the maximal value, but the index should be under the original Q matrix, not under the selected_Q.

[2019-06-09 20:58] fmassa commented on #21573
I see. One option is to mask the elements that are not in `Q` with `-inf`, so you can apply `argmax` right away.

[2019-06-09 22:12] soumith commented on #21571
please use https://discuss.pytorch.org for questions

[2019-06-09 22:12] #21571 closed

[2019-06-09 22:55] ezyang opened #21577 "test_triangular_solve is flaky"
Failure:

[code]

Occurences:
- https://circleci.com/gh/pytorch/pytorch/1951146?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link/console
- https://circleci.com/gh/pytorch/pytorch/1950373?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link
- https://circleci.com/gh/pytorch/pytorch/1955789?utm_campaign=vcs-integration-link&utm_medium=r

[2019-06-09 23:16] lmc5190 opened #21578 "Pytorch Dockerfile not building"
## 🐛 Bug

Pytorch Dockerfile not building. Getting error **fatal: Not a git repository (or any of the parent directories): .git**

## To Reproduce

I ran

  with the Dockerfile for pytorch
[Dockerfile](https://github.com/pytorch/pytorch/blob/master/docker/pytorch/Dockerfile)

Here is the output of running docker build

[code]

## Expected behavior

I expected it to build since the image on dockerh

[2019-06-09 23:24] xuhdev commented on #21578
Did you follow [README](https://github.com/pytorch/pytorch#docker-image)?

[2019-06-09 23:31] xuhdev commented on #21574
Does everything work if you simply add `USE_NINJA=OFF`? I have no problem using Ninja on Linux.

I personally think the unpredictable errors are at least partially caused by inconsistent system environment check between the python setup scripts (e.g., `setup.py`) and cmake scripts (e.g., `CMakeLists.txt`). I'm actually trying to eradicate this inconsistency (e.g., #21493 as a preparation step).

[2019-06-09 23:32] lmc5190 commented on #21578
Nope! That would be my issue. Thanks!

[2019-06-09 23:32] #21578 closed

[2019-06-09 23:37] ksanjeevan opened #21579 "`torch.arange` output shape"
## 📚 Documentation

As described [here](https://pytorch.org/docs/stable/torch.html#torch.arange) the output size of `torch.arange` is `int((end-start)/step)` (i.e. the floor). But it's the ceiling:

[code]

[2019-06-10 02:27] peterjc123 commented on #21572
Yes, we do hardcode the PATH for the NVTX library. However, we check the environment variable `NVTOOLSEXT_PATH` first, and the hardcoded one is only used as a fallback value. See https://github.com/pytorch/pytorch/blob/master/caffe2/CMakeLists.txt#L633-L644(there is a bug in this one. I'll fix this one later.)  and https://github.com/pytorch/pytorch/blob/master/tools/setup_helpers/nvtoolext.py#L17

[2019-06-10 02:40] vishwakftw commented on #21577
I will take a look at this.

[2019-06-10 04:00] zhyj3038 commented on #13040
@wangshankun  @cwjhx  same problem. centernet to onnx. how u gays solved it? thanks!

[2019-06-10 04:03] peterjc123 commented on #20686
The new error comes.
[code]

[2019-06-10 04:51] JamesTrick commented on #19248
@ifgovh Hi! I'm guessing by stable distribution you're meaning the [Lévy distributions](https://en.wikipedia.org/wiki/L%C3%A9vy_distribution)? Specifically from scipy this [distribution](https://docs.scipy.org/doc/scipy-0.19.1/reference/generated/scipy.stats.levy_stable.html#scipy.stats.levy_stable)?

I'm happy to give contributing the distribution a go, just want to make sure I add the correct on

[2019-06-10 06:09] magic282 commented on #16417
I have a similar issue:
[code]
I am using 8 V100 to train the model. The confusing part is that there is still 3.03GB cached and it cannot be allocated for 11.88MB.

[2019-06-10 06:51] ifgovh commented on #19248
Hi cuz, thank you for solving my problem on Queen's birthday. I really appreciate it.
Yes, it is[ levy_stable](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.levy_stable.html) in Scipy, and it has a more professional explanation on [Wikipedia](https://en.wikipedia.org/wiki/Stable_distribution).

[2019-06-10 07:31] hexiaoting commented on #21453
[code]
When convert the above code to IR code we can get this:
[code]
then convert to onnx graph:
[code]

From this intermediate information from torch.trace.graph() we can find that  (0.229 / 0.5) and  (0.485 - 0.5) / 0.5 are both translated to contant with double type(%591 and %593).
The problem is the aten::mul operator which accept a tensor (with dimension=4, type=float) and another tensor( is

[2019-06-10 07:33] peterjc123 commented on #20686
Well, I found a related issue: https://gitlab.kitware.com/cmake/cmake/issues/19303. I will try to regenerate new AMI to update cmake and VS 2019.

[2019-06-10 07:50] LeviViana commented on #20529
@t-vi I saw your great video where you fix this bug, thanks for that BTW. But, I noticed something that might improve the error report. Indeed, in the following line we assume that `input` has at least 2 dimensions:

https://github.com/t-vi/pytorch/blob/eb0fea38493102e2278a1142329e9544b08d605f/aten/src/ATen/native/PackedSequence.cpp#L21

I was wandering whether it could be useful to insert somethi

[2019-06-10 08:11] helloahn opened #21583 "where is boradcast.h after installation caffe2"
I'm trying to run cpp program with caffe2 in ubuntu 16.04.
I installed caffe2 according to the official guide and checked that it is working properly.

In my case, I linked caffe2 & c10 libs and set include dir as `/usr/local/lib/python*.*/dist-packages/torch/include/`
Then I confronted with below error.
[code]
In build progress, the whole directory `/caffe2/core/utils` is omitted. Is there any re

[2019-06-10 09:21] WenmuZhou commented on #6934
mark

[2019-06-10 09:36] t-vi commented on #20529
@LeviViana sounds like a good addition, the `IndexError` currently thrown certainly isn't optimal. More to your point, it might be worth going over all the functions in `torch.nn.utils.rnn` / `PackedSequence.cpp` and seeing how well they check their inputs. Do ping me If you want to put up a PR. (I don't think you need to file a separate issue report.)

[2019-06-10 09:49] shihongzhi commented on #21261
@sdraper-CS   I seen this issue,  then fixed this bug last week. Thank you for your bug report.

[2019-06-10 10:36] abonnet opened #21584 "C++ Custom Operator cannot be used into nn.Module"
## 🐛 Bug

C++ Custom operator cannot be used to extend Pytorch nn.Module (used to work).

## To Reproduce

Steps to reproduce the behavior:

1. Follow https://pytorch.org/tutorials/advanced/cpp_extension.html# for LLTM ops
[code]
2. Create your own nn.Module using previous ops
[code]
3. Trying to use the module fails with error `RuntimeError: Autograd not yet supported for c10 ops.`

[code]

## Ex

[2019-06-10 11:37] bearcatt commented on #17349
I hit this error in multi-node situation. After setting NCCL_SOCKET_IFNAME as recommended in [](https://pytorch.org/docs/stable/distributed.html#choosing-the-network-interface-to-use) the error got fixed. Also, it seems that we should first launch the program in the master node, wait for a few seconds, and then launch the program in other nodes. If I don't do this way I still meet the error.

[2019-06-10 11:38] bearcatt commented on #17349
I hit this error in multi-node situation. After setting NCCL_SOCKET_IFNAME as recommended in [here](https://pytorch.org/docs/stable/distributed.html#choosing-the-network-interface-to-use) the error got fixed. Also, it seems that we should first launch the program in the master node, wait for a few seconds, and then launch the program in other nodes. If I don't do this way I still meet the error.

[2019-06-10 12:02] peterjc123 commented on #19302
@deeponcology Looks like the link is correctly shown. https://download.pytorch.org/libtorch/cu100/libtorch-shared-with-deps-latest.zip
@soumith Would you please fix this one?

[2019-06-10 12:41] ezyang commented on #21577
Another occurrence: https://circleci.com/gh/pytorch/pytorch/1955789?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link/console

[2019-06-10 12:42] vishwakftw commented on #21577
As far as I can tell, this doesn't seem to be an error with library calls. The part of the test deals with reuse of the tensor from `out`.

[2019-06-10 12:43] vishwakftw commented on #21577
It's strange that this test doesn't fail on CPU.

[2019-06-10 12:43] ezyang opened #21585 "test_signal_window_functions is flaky on ROCm"
[code]

Example: https://ci.pytorch.org/jenkins/job/pytorch-builds/job/py2-clang7-rocmdeb-ubuntu16.04-test/24583/console

[2019-06-10 13:00] vishwakftw commented on #21577
This seems to be the first occurrence: https://circleci.com/gh/pytorch/pytorch/1946219?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2019-06-10 13:05] apaszke commented on #21545
:+1: for not supporting this, but we should have a nice error message suggesting a fix.

[2019-06-10 13:19] HenryJia commented on #21574
Yes it seems to all work normally with USE_NINJA=OFF so far

[2019-06-10 13:43] G-YY opened #21587 "RuntimeError: cublas runtime error"
My env is :
Collecting environment information...
PyTorch version: 0.4.1
Is debug build: No
CUDA used to build PyTorch: 9.0.176

OS: Ubuntu 16.04.5 LTS
GCC version: (Ubuntu 5.4.0-6ubuntu1~16.04.11) 5.4.0 20160609
CMake version: version 3.14.0

Python version: 3.5
Is CUDA available: Yes
CUDA runtime version: 10.0.130
GPU models and configuration: GPU 0: GeForce RTX 2080
Nvidia driver version: 410.4

[2019-06-10 14:37] ezyang commented on #21577
We suspect this was triggered by https://github.com/pytorch/pytorch/pull/21474

[2019-06-10 14:43] ezyang opened #21589 "Some parts of PyTorch test suite don't work properly on non-default stream"
In @fbhuba PR https://github.com/pytorch/pytorch/pull/21474 we switch the stream before running tests. But in this PR, a lot of tests failed and we had to disable the stream switching behavior for large portions of the test suite. There is probably something very important in PyTorch that is not stream safe, we need to figure it out.

Currently known reasons why you might be on wrong stream:

* Ca

[2019-06-10 14:47] vishwakftw commented on #21587
Could you please provide a script to reproduce this error?

[2019-06-10 15:22] jj0mst commented on #20477
Had the same problem.
Today I uninstalled tb-nightly, installed full **tf-nightly** and now my dashboard is updated properly (didn't even had to restart the writing process, just tensorboard).
So I guess that in the reduced feature set we get by installing just tb-nightly we are missing something.

[2019-06-10 15:23] gchanan commented on #21402
@kingaza:

Nope, I'm not too familiar with the script modules or if they have different behavior than the C++ frontend modules.  CC @suo.

[2019-06-10 15:49] deeponcology commented on #21572
Indeed, a faulty CUDA installation.  Thanks.

[2019-06-10 15:49] #21572 closed

[2019-06-10 15:55] zdevito commented on #21537
@hrpan Thanks for the code, we will look into the leak.

[2019-06-10 16:16] #21526 closed

[2019-06-10 16:22] brando90 commented on #1917
why is this not a generator/iterator already?

[2019-06-10 16:28] smileeok commented on #21589
The performance on non-default stream is much worse than the default stream, as we tested. Just an FYI.

[2019-06-10 16:35] suo commented on #21402
Hi @kingaza, can you provide the original model code as well? It will be easier for us to investigate that way.

[2019-06-10 17:15] ezyang commented on #20984
@zou3519 says it will be hard to get this to render on server side; we'll have to add image generation during compile time.

[2019-06-10 17:15] EKELE-NNOROM commented on #16417
Did you change the batch size. Reduce the batch size by half. Say the batch
size is 16 to implement, try using a batch size of 8 and see if it works.

Enjoy

On Mon, Jun 10, 2019 at 2:10 AM magic282 <notifications@github.com> wrote:

[2019-06-10 17:17] ezyang commented on #4145
`swap_batch_and_timestep`? In the triage meeting, we agreed to modify the documentation / change the naming so that it is clearer (but not chnage the actual order.)

[2019-06-10 17:21] ezyang commented on #5013
@pietern says, this has essentially already been implemented on the Caffe2 side; there's a lot of overlap here.

[2019-06-10 17:23] ezyang commented on #7844
@yf225 can you comment here? This is very related to your Variabble changes.

[2019-06-10 17:23] ezyang commented on #7844
@gchanan says this also depends on which optimizer you use

[2019-06-10 17:24] ngimel commented on #21589
Do we have a CI link to look at failed tests? Also, something demonstrating worse performance on non-default streams?

[2019-06-10 17:27] ezyang commented on #20156
@pietern says: the problem is that `import torch` does a lot more stuff anyway; and mimicking it in C++ would require us to have some sort of "initialization" function. You can make arguments for and against; I think doing this explicitly is better than doing it lazily... it's just that `import torch` implies this stuff (making it explicit; except the fact that people don't know about it). There a

[2019-06-10 17:30] ptrblck commented on #21587
@G-YY It looks like you are using CUDA9 with a Turing GPU (with an additional installed CUDA10 lib), which is not recommended. Could you install PyToch with CUDA10 only and try to run your script again?

[2019-06-10 17:31] ezyang commented on #20822
@cpuhrsch says: we really don't have anything about data reading in PyTorch at all.

[2019-06-10 17:34] ezyang commented on #20778
OK, we discussed this at our triage meeting, we will accept this patch. Make sure not to accidentally change the behavior of implicit conversion too.

[2019-06-10 17:39] smileeok commented on #21589
When we use multi-streams, we noticed a bunch of cuda memory allocation and free as well as cuda event destroys that do not exist when we just use the default stream.

[2019-06-10 17:41] ptrblck commented on #21459
Seems to be a double post of #21587

[2019-06-10 17:44] ngimel commented on #21589
Do you have a small script to reproduce that?

[2019-06-10 17:55] jeffreyksmithjr commented on #21589
We should probably keep the scope of this ticket to correctness and not performance. @smileeok can you file a separate issue around the performance concerns. @ngimel I think we use the CI-based test failures from #21474 as the issue to be addressed in this PR.

[2019-06-10 18:08] orionr commented on #20477
This is helpful! Thank you @jj0mst.

[2019-06-10 18:23] ezyang commented on #21589
@ngimel I observed it's a lot of "the number is wrong" type situation. I sent in a PR https://github.com/pytorch/pytorch/pull/21595 which turns on all the non-working tests so that you can poke at the CI.

[2019-06-10 18:28] wanchaol commented on #21536
@edgarriba Yeah that was something that I want to recommend. Our new API should be able to address your case, it can make you share the eager mode module and script module together, and our script module should handle the data dependent problem. You can already try the new API (probably in test_jit.py) since it's been landed recently. @driazati will also write up the documentation for it this week

[2019-06-10 18:32] ngimel commented on #4145
`swap_batch_and_timestep=True/False` does not say which one becomes first. `format=batch_time_features/time_batch_features'? Named tensors, please save us from this!

[2019-06-10 18:32] justindomke opened #21596 "TransformedDistribution and event_shape"
## 🐛 Bug

TransformedDistribution does not seem to have correct event_shape when the transform has changed the number of dimensions (e.g. with `StickBreakingTransform`).

## To Reproduce

Steps to reproduce the behavior:

[code]

Produces the results of

[code]

## Expected behavior

The last print statement should (seemingly) give:

[code]

## Environment

 - PyTorch Version (e.g., 1.0): 1.1.0
 -

[2019-06-10 18:59] dskhudia opened #21597 "Conv2d produces wrong results for a specific shape"
## 🐛 Bug

A specific shape of conv2d produces wrong results for cpus. GPU version works fine.

## To Reproduce

Steps to reproduce the behavior:
Run the following script with --input_channels = 6 for wrong results. --input_channels = 8 or 12 or 16 work fine.

[code]

## Expected behavior

Should produces the same results as the reference (or the GPU version) here.

## Environment

Current pytorch

[2019-06-10 19:13] kittipatv commented on #21469
I posted the original error internally, which was:

[code]

It shouldn't need the previous graph in this case.

[2019-06-10 19:23] smessmer commented on #21584
Thanks for reporting. I created a PR that should fix this. Can you verify if it works with https://github.com/pytorch/pytorch/pull/21599?

[2019-06-10 19:33] VitalyFedyunin commented on #3468
We currently archived same performance as hptt using copy operator. However there are one more thing (streaming) we would like to copy from the hptt into the pytorch.

[2019-06-10 19:42] gchanan commented on #20241
wait, when do you turn off requires_grad in Modules?

[2019-06-10 19:54] SsnL commented on #20241
@gchanan freezing modules in finetuning and modular training (e.g. GANs, training each part individually before end-to-end training).

[2019-06-10 20:16] WanCC1995 opened #21602 "Strange latency overhead of F.conv2d"
## Issue description

I'm trying to optimize the inference latency, but found that there's a strange overhead happens in one single conv layer. Even though it still fits `y=kx+b` linear relationship, but the `b` is extremely large.

The profiling result goes as follows.

|[filter, filter, input_channels, output_channels]|Latency for execute 50 times (s)|
|---|---|
|[3, 3, 16, 8]|0.024658|
|[3, 3,

[2019-06-10 20:39] #21584 closed

[2019-06-10 20:46] luisa-uber opened #21605 "Error when calling method with string as input after string is used to mutate dictionary. Error: stack.size() == sizeof...(Is) ASSERT FAILED"
## 🐛 Bug
Mutable dictionary string type stops working after assigning value in dictionary. The line  `print torch.ops.map_rasterizer_utils.ends_with(key, '_cont')` works when called before assigning the key to the frame_dictionary but not after.

## To Reproduce

Steps to reproduce the behavior:

1. Python class that calls c++ custom ops
[code]
2. C++ method:
[code]
Error message
[code]

## Expect

[2019-06-10 21:37] bddppq commented on #21597
@Jianhui-Li @XiaobingSuper @gujinghui @mingfeima We have further tested the repro script, and found the mismatch only happens with mkldnn conv path, if we build pytorch without mkldnn then the results match. Could you help investigate?

[2019-06-10 21:39] vincentqb commented on #20527
Do we have examples of why the users are passing the epoch number as a parameter? Since the schedulers are stateful, I would have expected the schedulers to know how many times they were called, if relevant.

If the goal is to recover prior learning rate, I would expect to have a separate interface to do that, which may return the history of learning rates generated by the scheduler.

If the goal

[2019-06-10 21:47] Jianhui-Li commented on #21597
@uyongw

[2019-06-10 21:48] Jianhui-Li commented on #21597
@jingxu10

[2019-06-10 22:00] ezyang commented on #17273
We landed the reduction, this is fixed now.

[2019-06-10 22:00] #17273 closed

[2019-06-10 22:14] sidazhang commented on #20778
@ezyang what do you accept the patch? There is no diff. Would you like me to put up a diff?

[2019-06-10 22:17] jeffreyksmithjr commented on #20864
@soumith 's questions seem like the best starting point for investigating this issue. @adodge do you see any such imports?

[2019-06-10 22:19] jeffreyksmithjr commented on #21554
@smileeok could you provide a code example of your repro steps?