[2019-07-22 17:45] pjh5 commented on #23039
The versioned URL doesn't work because the binary was not uploaded on that specific day. If we ever have a circleci outage or bug appear (in the case of the libtorch builds it's usually timeout issues) then the binaries won't be uploaded for a day. In this case, 20190604 and 20190606 have both been uploaded, but nothing in between 20190530 and 20190604.

FYI, for the pip wheels you can check the t

[2019-07-22 17:55] michaelklachko commented on #20465
@skrah thank you! On a higher level, is there a way to enable a warning message when any of the values in the graph are NaNs or infs? Similar to how numpy warns when we try to calculate "a mean of an empty slice", etc?

[2019-07-22 18:12] ezyang commented on #20756
This is fixed on master; try applying the patch that fixed to your copy of PyTorch.

[2019-07-22 18:12] #20756 closed

[2019-07-22 18:14] ezyang commented on #19411
This is fixed.

[2019-07-22 18:14] #19411 closed

[2019-07-22 18:14] ezyang commented on #12728
I'm probably not going to actually finish this task.

[2019-07-22 18:32] calincru commented on #22848
@ezyang  Why not add a separate function then?

[2019-07-22 18:39] VivekPanyam commented on #23039
It seems like between `20190601` and `20190722`, there are:
- 46 valid CPU builds
- 39 valid CUDA 9.0 builds
- only 2 valid CUDA 10.0 builds

out of a total of 52 possible nightly builds.

Any idea why CUDA 10.0 builds seem to fail so much more than the other ones?

(Here's a simple script to generate the above data: https://gist.github.com/VivekPanyam/0d22430c0b8052d590924c6640f8c402)

[2019-07-22 18:40] cpuhrsch commented on #23048
Hey @OBannon37 - automatic tuning is a wide-ranging topic. If we were to introduce a concept like that it'd be shared across various components of the platform and we'd have to determine the point of highest leverage. The DataLoader might then be a consumer of this.

[2019-07-22 18:40] ezyang commented on #22848
Well, as mentioned earlier, it seems that there's a family of three
functions that we'd have to add separate functions for.  Keyword
argument might be locally right, but it's hard to say if it's globally
right without doing some more analysis over all the linear algebra
functions we have.

Excerpts from Călin Cruceru's message of 2019-07-22 11:33:24 -0700:

[2019-07-22 18:48] CarelessParsley commented on #16894
I mentioned that we accidentally broke `set_num_threads` on an older version of PyTorch. What version are you running on? (MKL controls MKL only so it won't affect our OpenMP parallelized kernels).

[2019-07-22 18:58] lizhitwo commented on #15849
An addition advantage is if I have a very short epoch (~10 iterations) but a large batch size, the initialization of dataloader iterator would take a huge chunk of running time of my epoch for every epoch. Sometimes my congested machine would even run into issues creating these processes, making the initialization as slow as 30 seconds. Being able to reuse them would cut this time down.

[2019-07-22 19:38] pjh5 commented on #23039
Yes. It's because the CUDA 10 builds take longer so they are more susceptible to timeout problems. See https://github.com/pytorch/pytorch/blob/master/.circleci/README.md#note-on-libtorch . It's totally fixable, just no one has had cycles to work on it. Rewriting the build scripts is always a pain because of the long iteration time.

[2019-07-22 20:00] xuhdev opened #23177 "Many misuses of CMAKE_BUILD_TYPE in various cmake scripts"
[`CMAKE_BUILD_TYPE`](https://cmake.org/cmake/help/v3.15/variable/CMAKE_BUILD_TYPE.html) is intended to be used only for single-configuration generators. For multiple-configuration generators, such as Visual Studio and XCode, this variable is not used. Since there are many spots in CMake scripts relying on `CMAKE_BUILD_TYPE`, this is likely gonna mess IDE users.

When one need to determine `CMAKE_B

[2019-07-22 20:08] pbelevich commented on #17998
@mthrok please test using next nightly build

[2019-07-22 20:17] skrah commented on #20465
@michaelklachko Yes, in your example you can use this context manager:

[code]

This detects `NaNs` and `infs`:

[code]

[2019-07-22 21:00] soumith commented on #23042
@emfomenk thanks so much for getting to the bottom of it so quickly. everything you said makes sense.

[2019-07-22 21:00] #23042 closed

[2019-07-22 21:02] soumith commented on #23133
closing the issue because it's not a bug

[2019-07-22 21:02] #23133 closed

[2019-07-22 21:06] soumith commented on #23004
I'm pretty sure the reason is that when you are building it yourself you are not linking against MKL and MKL-DNN.

cc: @peterjc123 let me know if I can close the issue

[2019-07-22 21:13] soumith commented on #23070
@Dhanachandra you have modifed adam.py yourself, or you loaded an incorrect checkpoint into your constructed optimizer. Either ways, it's your code's bug.

[2019-07-22 21:13] #23070 closed

[2019-07-22 21:13] soumith commented on #23070
@sethd1 `betas` is a tuple of 2 elements, so `beta1, beta2 = betas` will unpack `betas`

[2019-07-22 21:18] soumith commented on #23141
yea erroring out here makes sense.

[2019-07-22 21:19] VivekPanyam commented on #23039
Understood.

Unfortunately, that means the CUDA 10 nightly builds aren't particularly useful (since there have been only 2 successful builds in the last ~2 months and the last success was ~1.5 months ago)

Is there a way to increase the timeout as an intermediate fix?

[2019-07-22 21:26] soumith commented on #23126
this has nothing to do with CuDNN 7.6.1.

Also, please use our bug report template and create a new bug report

[2019-07-22 21:26] #23126 closed

[2019-07-22 21:28] soumith commented on #23117
@PetrochukM unfortunately nowhere

[2019-07-22 21:29] soumith commented on #23140
cc: @yf225

[2019-07-22 21:31] izdeby commented on #23149
Hey, @nottombrown, we have just started working on BFloat16 tensor and first we are planning to add CPU support for several methods and only then consider CUDA part. Please, stay tuned for the updates and feel free to directly ping me in case you have any questions.

[2019-07-22 21:32] soumith commented on #23136
ATen is no longer compilable isolated. You probably are looking for `libtorch` compilation.

Best advice we have is https://github.com/pytorch/pytorch/blob/master/CONTRIBUTING.md#c-development-tips

[2019-07-22 21:32] #23136 closed

[2019-07-22 21:56] soumith commented on #23039
@VivekPanyam massive hack: you can download the CUDA10 wheel, unzip it and grab the libtorch / headers off of it

[2019-07-22 22:02] #22572 closed

[2019-07-22 22:07] #17357 closed

[2019-07-22 22:16] PetrochukM commented on #23117
Thanks for your guy's help!

Numba has responded and is fixing the issue. In the future, I hope this GitHub issue will provide clarity to anyone facing this issue in the future.

[2019-07-22 22:16] #23117 closed

[2019-07-22 22:27] rgommers commented on #18308
This was fixed in #20581, for `Upsample` and therefore also for `UpsamplingNearest2d`.

Verifying that:

[code]

Given that this functionality is already deprecated and the PR  that fixed it didn't add a test, I don't think it helps to do that now. So closing. Thanks @kureta

[2019-07-22 22:27] #18308 closed

[2019-07-22 22:55] soumith commented on #22853
@taras-sereda it's not random, it's deterministic. it can pick any value that is the argmax, but the cuda implementation wont pick the first one.

[2019-07-22 22:55] soumith commented on #22853
@colesbury for numpy, that's easy, because it's CPU-only code. for GPU, you'd be eating a performance hit.

[2019-07-22 22:57] rgommers commented on #22963
@cpuhrsch you removed "needs discussion", but what was the outcome? Change to numpy's semantics or leave as is?

[2019-07-22 23:28] ezyang commented on #16894
I mentioned that we accidentally broke `set_num_threads` on an older version of PyTorch. What version are you running on? (MKL controls MKL only so it won't affect our OpenMP parallelized kernels).

[2019-07-22 23:43] rgommers commented on #6313
This is still an issue; the failure mode changed after the significant rewrite of `dataloader.py` in #19228:
[code]

Full traceback:

<details>

[code]

</details>

[2019-07-22 23:45] michaelklachko commented on #20465
Oh wow! This is very useful!

[2019-07-23 00:03] ngimel commented on #21819
Can't repro with pytorch 1.1/cuda10/cudnn7.6 after more than 5000 iterations (both V100 and P100, P100 should be similar to TitanXP).

[2019-07-23 00:17] rgommers commented on #22368
These differences seem to have disappeared. To verify:

download https://download.pytorch.org/libtorch/nightly/cu90/libtorch-shared-with-deps-latest.zip, and unpack in `~/Downloads/tmp`, then
[code]
shows no changes. I also verified that the changes to `Tensor.h` from #21088 are in the latest nightly.

Does this need a complete script to grab the nightly and diff a whole bunch of files? Given that

[2019-07-23 01:10] amir-abdi commented on #19996
Same error here.

[2019-07-23 01:12] nfelt commented on #20477
The fix went in after TB 1.14, so it's only in tb-nightly (which you can get by uninstalling tensorboard and then pip installing tb-nightly).

We do our major releases in sync with TF so the next one depends on timing for TF's big 2.0 release.  I afraid we're tight on bandwidth to do a patch release unless there's still a lot of affected users for whom tb-nightly isn't a good workaround.

[2019-07-23 02:03] CoinCheung commented on #16894
@ezyang
I used pytorch installed with ananconda `conda install pytorch`, that would be 1.0 for now. Maybe it is the version that has this option broken. I will use the environment variable method. Thanks for explaining !!

[2019-07-23 02:44] buptlj commented on #19969
[ Variable[CUDAType]{1,5} ]
Segmentation fault (core dumped)

[2019-07-23 04:55] moskomule commented on #19996
@KokeCacao I don't think this warning is raised by Python, rather the C++ backend.

[2019-07-23 05:36] ecobost opened #23213 "Segmentation Fault in libcaffe2.so (called during torch.tensor())"
## 🐛 Bug

Segmentation fault when calling torch.tensor for specific numpy arrays (or torch.clone or any call that copies the storage of the numpy array).

It may be related to the array not being memory aligned or being loaded using np.frombuffer (thus being readonly with its data being the bytes of the string); however, it does not fail for other arrays stored in the exact same way.

## To Reprod

[2019-07-23 05:48] ecobost commented on #23213
Could it be related to https://github.com/pytorch/pytorch/pull/15845

[2019-07-23 05:51] angeloyeo commented on #2341
For me, just changing num_workers from 2 to 0 made the code work properly...

[2019-07-23 06:17] dongfangduoshou123 opened #23215 "How the ops are registerd to ATenDispatch's op tables_"
I want to know how ops are registered to ATenDispatch's op_tables_;
I see ATenDispatch has registerOp/registerVariableOp interface, but not found code that these interfaces are called to register ops;
Is ATenDispatch use the global static varable to trigger the registration like C10_DECLARE_REGISTRY  mechanism？

I see the code below, but cannot find where "aten::linear(Tensor input, Tensor weight,

[2019-07-23 06:27] joker-xii commented on #23140
Thanks for the response, could you also make `register_parameter` and `register_buffer` public?

[2019-07-23 06:32] antithing opened #23217 "Libtorch with deeplabv3_resnet101 will not forward."
## 🐛 Bug

When i convert the `deeplabv3_resnet101` model and use it in Libtorch, it gives a segmentation fault on forwarding.

## To Reproduce

Steps to reproduce the behavior:

1. convert the model using python:

[code]

2.

Load the model in c++ and run an image through it.

[code]

3.

Try with dummy test data:

[code]

## Expected behavior

I would expect that i could run images, or data throu

[2019-07-23 06:37] rgommers commented on #22052
From https://github.com/pytorch/ossci-job-dsl#cheat-sheet:
_Search for DOCKER_IMAGE: line at the top of the Test phase; it should have a line like 308535385114.dkr.ecr.us-east-1.amazonaws.com/pytorch/pytorch-linux-trusty-py3.6-gcc5.4:tmp-173-5910; this is your docker image. (If the tag is tmp-###-####, it comes with a build of your source; if it's ### that's the stock image.)_

From the CircleCI l

[2019-07-23 06:37] zymale opened #23218 "What is the torchvision version for pytorch-nightly? Use 0.3.0 to report errors"
The official website does not provide the torchvison version installation method.
Here is the error message  when torchvison 0.3.0 is used.
torchvision/_C.cpython-36m-x86_64-linux-gnu.so: undefined symbol: _ZN2at7getTypeERKNS_6TensorE

That should be caused by the mismatch version  between pytorch-nightly and torchvision  0.3.0.

[2019-07-23 07:09] rgommers commented on #22052
#20930 recently changed how the XLA jobs get run, and persisting them via `~/workspace`. Hope these hints trigger someone.

[2019-07-23 07:21] iamwangyabin opened #23219 "C++ strange model load error"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:
Firstly I want to say I had already successfully load my first model from ".pt",so there should not problem I don't know how to load pytorch model in c++ programe.
Then, The thrown error is as follows:
[code]
My model is a very simply network :
[code]
My first model which did't have any problem is a bigger network,I think there should be

[2019-07-23 07:44] lutzroeder opened #23220 "TorchScript model includes unused tensors"
## 🐛 Bug

When exporting `inception_v3` via TorchScript the resulting file contains unreferenced tensors.

## To Reproduce

Steps to reproduce the behavior:

[code]

The generated TorchScript model `inception_v3.pt` contains `tensors/216` to `tensor/223` which are not referenced in `code/inception_v3.py`.

<a href="http://github.com/lutzroeder/netron"><img width="1136" alt="screenshot" src="https:

[2019-07-23 07:45] Microsheep commented on #20822
I think this will be very useful for many use-cases!

We have several research projects that read data from SQL Databases in the lab.
We currently use custom wrote dataset classes to read those data using sqlalchemy, and it is not that easy to get everything right and efficient. (Also, considering that we might want multiple processes to do the data loading, it makes things even more complicated)

[2019-07-23 08:46] peterjc123 commented on #23218
It should be `torchvision-nightly` that matches with `pytorch-nightly`, but they are not provided currently.

[2019-07-23 08:49] peterjc123 commented on #23217
It seems that the tensor in the code block #3 is not passed to GPU.

[2019-07-23 09:01] LaoYang1994 opened #23222 "Maybe there is a problem when using random.shuffle()"
## 🐛 Bug

When I applied the random.shuffle to a 1-D tensor, the num in the tensor was changed.

## To Reproduce

Steps to reproduce the behavior:
1.Do as follows:
->a = torch.arange(10)
->random.shuffle(a)

## Expected behavior
Expected:
  tensor([1, 8, 5, 3, 9, 0, 2, 6, 4, 7])
but I got:
  tensor([0, 1, 2, 1, 4, 5, 1, 5, 7, 4])

I am not sure whether it's a bug.

## Environment

Python 3.7.0
tor

[2019-07-23 09:09] vishwakftw commented on #23222
This is pertinent to this issue https://github.com/pytorch/pytorch/issues/17008.

The implementation of random.shuffle performs pythonic element swapping, which causes the issue.

[2019-07-23 09:20] LaoYang1994 commented on #23222
@vishwakftw Thanks.

[2019-07-23 10:28] antithing commented on #23217
Updated to this:

st```
d::shared_ptr<torch::jit::script::Module> module = torch::jit::load("model.pt");
	module->to(torch::kCUDA);
	assert(module != nullptr);
	std::cout << "ok\n";

	torch::Tensor img_tensor = torch::rand({ 64, 3, 224, 224 });
	img_tensor = img_tensor.to(at::kCUDA);

	torch::Tensor out_tensor2 = module->forward({ img_tensor }).toTensor();

[code]

[2019-07-23 10:38] #23222 closed

[2019-07-23 10:39] soumith commented on #23222
closing in favor of #17008

[2019-07-23 10:43] soumith commented on #22052
cc: @kostmo

[2019-07-23 10:44] soumith commented on #23215
please use https://discuss.pytorch.org for questions

[2019-07-23 10:44] #23215 closed

[2019-07-23 10:55] peterjc123 commented on #23217
Would you please try this one: https://github.com/pytorch/pytorch/issues/19302#issuecomment-484769457?

[2019-07-23 11:01] antithing commented on #23217
Thank you! that compiles and runs.

How should i do the same thing to the real data?

[code]
Thanks again.

[2019-07-23 11:06] peterjc123 commented on #23217
What about changing `img_tensor = img_tensor.to(at::kCUDA);` to `img_tensor.to(at::kCUDA);`?

[2019-07-23 11:10] antithing commented on #23217
Adjusted to this:

[code]

I still get the crash at `forward`. Where am i going wrong?

[2019-07-23 11:16] peterjc123 commented on #23217
Then would you please try this?
[code]
The problem is clearly written in the link I sent you. There is a bug when you try to do forward with a tensor that you switched back/forth CPU and GPU.

[2019-07-23 11:21] antithing commented on #23217
This line:

`auto img_tensor = torch::from_blob(image_resized_float.data, { 1, 3, 224, 224 }, torch::kCUDA);`

crashes with an exception.
`
Unhandled exception at 0x00007FF8F4E1A388 in Segmentation.exe: Microsoft C++ exception: c10::Error at memory location 0x000000D98752E7A0. occurred`

at `C:\ThirdParty\Torch\release\libtorch\include\ATen\Functions.h`

Line 1542
` if (options.device().has_index(

[2019-07-23 11:28] peterjc123 commented on #23217
Sorry for keep you retrying. What's the result if you change the code to the following?
[code]

[2019-07-23 11:31] antithing commented on #23217
Ok, we are back to a crash at this line:

`torch::Tensor out_tensor2 = module->forward({ img_tensor_gpu }).toTensor();`

Thanks again for your time and patience!

[2019-07-23 11:48] peterjc123 commented on #23217
I'm out of ideas. @yf225 Do you have any ideas?

[2019-07-23 12:38] #23016 closed

[2019-07-23 12:52] SumanthMeenan commented on #882
Use x = x.float(), because the data and model parameters need to have same datatype.

[2019-07-23 13:24] abster95 commented on #23218
I tried installing it with pip as per [this issue](https://github.com/pytorch/vision/issues/833#issuecomment-500681269), but now I get `undefined symbol: __cudaRegisterFatBinaryEnd` when importing `_C`.

I did a similar thing on June 25th. It worked then.

Any known fix for this?

[2019-07-23 13:32] chengfx opened #23225 "An Error Installing From Source"
## 🐛 Bug

Hi, I followed the instructions of readme but encountered an issue of installing pytorch from source. Could you guys help me take a look?

## To Reproduce

Steps to reproduce the behavior:
1. Install dependencies
[code]
2. Download source
[code]
3. Install PyTorch
[code]

## Expected behavior

## Environment

PyTorch version: N/A
Is debug build: N/A
CUDA used to build PyTorch: N/A

OS: U

[2019-07-23 13:41] #20901 closed

[2019-07-23 14:04] peterjc123 commented on #23225
The actual error is
[code]

[2019-07-23 14:04] #23225 closed

[2019-07-23 14:29] ezyang commented on #14960
Fixed by https://github.com/pytorch/pytorch/pull/22983

[2019-07-23 14:29] #14960 closed

[2019-07-23 14:29] ezyang commented on #18619
Fixed by https://github.com/pytorch/pytorch/pull/22983

[2019-07-23 14:29] #18619 closed

[2019-07-23 14:30] ezyang commented on #16532
Fixed by https://github.com/pytorch/pytorch/pull/22983

[2019-07-23 14:30] #16532 closed

[2019-07-23 14:53] LJXLJXLJX commented on #23004
@soumith I use the cmake with default config, should I build link MKL myself? I think MKL is the submodule.

[2019-07-23 15:05] pietern opened #23230 "Consolidate multiprocessing helpers in distributed tests"
We have a few test files where we rely on multiprocessing to setup a distributed context:

* `test/test_c10d.py`
* `test/test_c10d_spawn.py`
* `test/test_distributed.py`

The helpers should be consolidated in a single base test class or set of helper functions.

cc @mrshenli since we spoke about it in person.

[2019-07-23 15:08] soumith commented on #23004
Yes you should. We dont ship MKL as submodule

[2019-07-23 15:12] jamarshon opened #23231 "1.2.0.dev20190723 Conv1D Illegal instruction (core dumped)"
## Setup
[code]
Installs 1.2.0.dev20190723

## Code
[code]

## Output
[code]
Previous versions worked
[code]

## Trace
[code]

## Environment
PyTorch version: 1.2.0.dev20190723
Is debug build: No
CUDA used to build PyTorch: Could not collect

OS: Ubuntu 18.04.1 LTS
GCC version: (Ubuntu 7.3.0-27ubuntu1~18.04) 7.3.0
CMake version: version 3.14.0

Python version: 3.6
Is CUDA available: No
CUDA runtim

[2019-07-23 15:27] jamarshon commented on #23231
Looking for something merged on 07-22/23.
https://github.com/pytorch/pytorch/pulls?q=is%3Apr+is%3Aclosed+label%3Amerged+closed%3A2019-07-22..2019-07-23+base%3Amaster+sort%3Aupdated-desc

[2019-07-23 15:32] colesbury commented on #23156
This isn't a bug. The gradient formula for linear is `weight.grad = x @ grad_output`. You have NaNs in `x`. It doesn't matter that grad_output contains zeros. NaN * 0 is still NaN with IEEE-754 floating point arithmetic.

[2019-07-23 15:37] pietern commented on #9886
@SsnL `DistributedDataParallelCPU` can be removed from the list now that #22864 is merged.

[2019-07-23 15:43] ezyang commented on #22052
That is very good sleuthing.  I bet it definitely has to do with XLA.

Excerpts from Ralf Gommers's message of 2019-07-22 23:38:45 -0700:

[2019-07-23 15:49] mrshenli opened #23232 "Add collective communication APIs for Python objects."
## 🚀 Feature

Support `gather`, `all_gather`, `broadcast`, and `scatter` general python objects. Instead of overloading existing API, it might be clearer to make them explicit, e.g.: `gather_object`, `all_gather_object`, `broadcast_object`, and `scatter_object`.

## Motivation

Sharing objects across processes is a very common use case. People actually started building their own solutions by seria

[2019-07-23 15:52] gchanan commented on #23218
@fmassa do we document what to do here?

[2019-07-23 15:56] gchanan commented on #23155
I don't know how to interpret this request (for example, I don't know which API you are referring to, python, JIT, C++).  Perhaps you could give some pseudo-code for what you are trying to do.

[2019-07-23 15:57] gchanan commented on #16894
closing as this doesn't seem to be a current bug.

[2019-07-23 15:57] #16894 closed

[2019-07-23 15:59] eellison commented on #17571
@zdevito @suo any thoughts ?

[2019-07-23 16:03] ailzhang commented on #21826
Closing this due to no response. Please feel free to reopen if you have followup questions.

[2019-07-23 16:03] #21826 closed

[2019-07-23 16:27] ezyang commented on #17751
Yeah, let's go ahead and close this in favor of #16960

[2019-07-23 16:27] fmassa commented on #23156
This is a recurrent issue, see #15506 #12986 as an example

Quoting @ppwwyyxx from one of our previous discussions

Given that this has happened very often in the past, I'm re-opening the issue and tagging it as needs discussion. One possible way of solving this would be to carry an additional (sparse?) tensor that can distinguish between "no gradient" and "zero gradient".

[2019-07-23 16:27] #17751 closed

[2019-07-23 16:30] jamarshon commented on #23231
Looks like it works when building from source.
[code]
Must have been an issue with conda nightly

[2019-07-23 16:33] abster95 commented on #23218
I finally solved this by building from source with `pip install -e .`
Before running that make sure to upgrade `pytorch-nightly` and `cudatoolkit` to use `cuda-10-0`.

Note: this will **not** work if you have `cuda-10-1` on your system when building `torchvision` since you'd get version mismatch between `pytorch-nightly` and `torchvision`.

Tested only on `ubuntu 18.04`.

[2019-07-23 16:34] gchanan commented on #23213
I wasn't able to reproduce, I get:
[code]

@ecobost can you try against master?

[2019-07-23 16:35] nmilosev opened #23233 "Unofficial ARMv7, ARMv8 builds"
Hello everyone,

just wanted to let you know that I started this repo:

https://github.com/nmilosev/pytorch-arm-builds

which contains builds for ARM devices and some inference tests. Everything is working good, it would maybe be nice to put this link somewhere visible so that people know it exists. I intend to update this with every pytorch and torchvision release.

Hope this is ok.

Thanks for e

[2019-07-23 16:55] soumith commented on #23231
@jamarshon can you specify what CPU you have? you can get it by doing `cat /proc/cpuinfo`.

@gujinghui @Jianhui-Li @uyongw @jgong5 @XiaobingSuper could you help figure out why the MKLDNN code is being compiled with `-mnative`, I suspect that's the main issue -- i.e. MKL-DNN is being compiled on a machine with AVX2, but then @jamarshon's machine doesn't have AVX2 support.

[2019-07-23 16:55] soumith commented on #23231
this is a blocker for the 1.2 release next week

[2019-07-23 17:02] vpirogov commented on #23231
@soumith, Intel MKL-DNN [default behavior](http://intel.github.io/mkl-dnn/dev_guide_build_options.html) is to compile code with -mnative for GCC 5>=5.0. This behavior can be overriden with build option `MKLDNN_ARCH_OPT_FLAGS=""`.

We will be changing this behavior in v1.1 to avoid portability issues as this one.

[2019-07-23 17:02] jamarshon commented on #23231
[cpu.txt](https://github.com/pytorch/pytorch/files/3423215/cpu.txt)
[code]
It's worth noting it has the same message on torchaudio's [CI](https://travis-ci.org/pytorch/audio/jobs/562594119) which is Ubuntu 16.04.6 LTS xenial

[2019-07-23 17:04] ksivaman opened #23236 "AttributeError: module 'torchvision.models' has no attribute 'detection'"
## 🐛 Bug

Detection module is not present in torchvision.models

## To Reproduce

Steps to reproduce the behavior:

1. import detection from torchvision,models in a python script

## Expected behavior

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out the checkl

[2019-07-23 17:08] soumith commented on #23231
@vpirogov if we provide `MKLDNN_ARCH_OPT_FLAGS` manually, would that also affect the kernels that it compiles?

The situation I am hoping for is:
- MKLDNN_ARCH_OPT_FLAGS="-msse -msse2 -msse3"
- the high performance kernels are still using avx / avx2 via runtime-dispatch

[2019-07-23 17:11] #22992 closed

[2019-07-23 17:22] gchanan opened #23238 "views are currently copying data and throwing it away"
See https://github.com/pytorch/pytorch/pull/23046.

[2019-07-23 17:27] gchanan commented on #6912
@Coderx7 I think my comment above covers that:
[code]

[2019-07-23 17:28] gchanan commented on #6912
reopening to get discussion around printing-the-shape question.

[2019-07-23 17:41] vpirogov commented on #23231
High performance kernels use just-in-time assembly and detect ISA in the runtime using CPUID. These are not dependent on compiler (or it's optimization flags).

There are some implementations that use C that might be impacted by compiler flags, we don't expect the impact to be significant though.

It's should be safe to use `MKLDNN_ARCH_OPT_FLAGS="-msse4"` for the systems produced in the last 10 y

[2019-07-23 17:49] ezyang opened #23240 "UBSAN failure in test_simple_model (__main__.TestTensorBoardNumpy): runtime error: call to function pybind11::class_<caffe2::GradientWrapper>::dealloc(pybind11::detail::value_and_holder&) through pointer to incorrect function type 'void (*)(pybind11::detail::value_and_holder &)'"
Jul 23 16:50:24 test_simple_model (__main__.TestTensorBoardNumpy) ... /var/lib/jenkins/workspace/torch/../third_party/pybind11/include/pybind11/detail/class.h:327:17: runtime error: call to function pybind11::class_<caffe2::GradientWrapper>::dealloc(pybind11::detail::value_and_holder&) through pointer to incorrect function type 'void (*)(pybind11::detail::value_and_holder &)'
Jul 23 16:50:24 (/opt

[2019-07-23 18:36] zhangguanheng66 commented on #23236
If this is an issue related to torchvision, you should bring it up here.
https://github.com/pytorch/vision/issues

[2019-07-23 18:40] zhangguanheng66 commented on #23233
The author asks if we can put the link somewhere visible to more people.

[2019-07-23 18:54] #23236 closed

[2019-07-23 18:57] zou3519 opened #23251 "Port `torch.eq` from the TH code to ATen"
`eq` is a point-wise math operator so porting it from the TH code to Aten (and TensorIterator) expected to be easy. Such migration will help to clean up the code, simplify dispatch as well as provide immediate 2-3x operator performance gain.

Porting guide: https://github.com/pytorch/pytorch/wiki/TH-to-ATen-porting-guide

Example PR with porting of the adaptive_avg_pool2d: #14714

How to use Tenso

[2019-07-23 18:58] zou3519 opened #23252 "Port `torch.gt` from the TH code to ATen"
`gt` is a point-wise math operator so porting it from the TH code to Aten (and TensorIterator) expected to be easy. Such migration will help to clean up the code, simplify dispatch as well as provide immediate 2-3x operator performance gain.

Porting guide: https://github.com/pytorch/pytorch/wiki/TH-to-ATen-porting-guide

Example PR with porting of the adaptive_avg_pool2d: #14714

How to use Tenso

[2019-07-23 18:58] zou3519 opened #23253 "Port `torch.ge` from the TH code to ATen"
`ge` is a point-wise math operator so porting it from the TH code to Aten (and TensorIterator) expected to be easy. Such migration will help to clean up the code, simplify dispatch as well as provide immediate 2-3x operator performance gain.

Porting guide: https://github.com/pytorch/pytorch/wiki/TH-to-ATen-porting-guide

Example PR with porting of the adaptive_avg_pool2d: #14714

How to use Tenso

[2019-07-23 18:59] zou3519 opened #23254 "Port `torch.lt` from the TH code to ATen"
`lt` is a point-wise math operator so porting it from the TH code to Aten (and TensorIterator) expected to be easy. Such migration will help to clean up the code, simplify dispatch as well as provide immediate 2-3x operator performance gain.

Porting guide: https://github.com/pytorch/pytorch/wiki/TH-to-ATen-porting-guide

Example PR with porting of the adaptive_avg_pool2d: #14714

How to use Tenso

[2019-07-23 18:59] zou3519 opened #23255 "Port `torch.le` from the TH code to ATen"
`le` is a point-wise math operator so porting it from the TH code to Aten (and TensorIterator) expected to be easy. Such migration will help to clean up the code, simplify dispatch as well as provide immediate 2-3x operator performance gain.

Porting guide: https://github.com/pytorch/pytorch/wiki/TH-to-ATen-porting-guide

Example PR with porting of the adaptive_avg_pool2d: #14714

How to use Tenso

[2019-07-23 18:59] zou3519 opened #23256 "Port `torch.ne` from the TH code to ATen"
`ne` is a point-wise math operator so porting it from the TH code to Aten (and TensorIterator) expected to be easy. Such migration will help to clean up the code, simplify dispatch as well as provide immediate 2-3x operator performance gain.

Porting guide: https://github.com/pytorch/pytorch/wiki/TH-to-ATen-porting-guide

Example PR with porting of the adaptive_avg_pool2d: #14714

How to use Tenso

[2019-07-23 19:41] Max-ChenFei opened #23258 "JIT inputs does not support collections.OrderedDict"
## 🐛 Bug

I choose `model = torchvision.models.segmentation.deeplabv3_resnet101(pretrained=True)` and then use `torch.jit.get_trace_graph(model,  inputs)` to get a graph, a `RuntimeError: Only tuples, lists, and Variables supported as JIT inputs, but got collections.OrderedDict` is in `torch\jit\__init__.py` line 295.

I think if the outputs of the model are the collections.OrderedDict, just take

[2019-07-23 19:46] jerryzh168 commented on #23238
https://github.com/pytorch/pytorch/pull/23239

[2019-07-23 20:05] izdeby commented on #22975
I agree with @colesbury, i think we should follow the numpy behavior.
I've checked a bunch of related ops and looks like we have some differences.
[code]

[2019-07-23 20:05] crazysal commented on #23236
Faced the same, realized it is a brand new feature only available in lts 1.1.0 not before that...

[2019-07-23 20:08] izdeby commented on #22432
@gchanan, after checking with the numpy im not sure if we should ban this behavior or if we should do type promotion. Please see this comparison between numpy behavior and ours

[code]

[2019-07-23 20:57] meganset commented on #22368
I still see the older code in the nightly libtorch zip
e.g.
[code]
unzip each, then comparing headers, e.g.

[code]

[2019-07-23 21:36] ecobost commented on #23213
@gchanan Built from master (version ''1.2.0a0+d8220b0'). Error is still there. Code above won't reproduce it because it only happens with (some of) the arrays that we saved and reloaded from our database, code in there does cause segmentation faults for only for these arrays. I can't find a way to save one of the offending arrays in a way that it will still cause the segmentation fault after reloa

[2019-07-23 22:10] nairbv commented on #22432
Some examples:

[code]

The main current differences I'm noticing are that we support `bool_tensor - bool_tensor` where numpy does not, and that numpy has explicit recommendations in the error messages for `-`

Python itself just treats these like ints:
[code]

It would be nice if we could be consistent with python, but python treatment isn't consistent with numpy, so we have to decide.

Neither i

[2019-07-23 23:55] xuhdev commented on #22738
Still haven't fixed yet...

[2019-07-24 00:02] ilia-cher commented on #19996
it's hard to reproduce, I'm trying @moskomule example but still can't get a warning

[2019-07-24 00:42] jiangyuang1995 commented on #22616
Got the same issue. There is something wrong with the copy method of sparse tensors.

A workaround could be to change the `param.copy_(input_param)` line to `self._parameters[name] = input_param.clone()` in function `_load_from_state_dict` in file `torch/nn/modules/module.py`. The function would be like:

[code]

[2019-07-24 02:08] zymale commented on #23218
@abster95   you build pytorch from source or just torchvision? or  both of them.

[2019-07-24 02:17] pbelevich commented on #23160
@maaft fixed, please test

[2019-07-24 03:47] sefira commented on #22741
I‘ve encountered the same problem on V100.
Is there any cue for solving this?

[2019-07-24 04:21] #23140 closed

[2019-07-24 04:25] DinghaoZhang commented on #18524
nice

[2019-07-24 04:28] gujinghui commented on #23231
fixed in #23292

@soumith
@vpirogov
@Jianhui-Li
@jgong5
@uyongw

[2019-07-24 04:46] ashukid commented on #20240
Yea go ahead. I'm not working on it as of now !

[2019-07-24 05:21] alokprasad commented on #20849
@andywangII Where you able to compile libtorch for android>? where to find source of libtorch for Android ? I dont see it seems they are already precompiled for different arch?

[2019-07-24 05:24] xuhdev opened #23294 "Equations in the document do not display properly: Their LaTeX code is shown instead"
The current master document does not display equations properly. Rather, their LaTeX code is displayed. For example, [torch.sin()](https://pytorch.org/docs/master/torch.html#torch.sin).

[2019-07-24 06:06] sicarioakki commented on #15523
RuntimeError: Only tensors or tuples of tensors can be output from traced functions (getNestedOutputTrace at /pytorch/torch/csrc/jit/tracer.cpp:200)
frame #0: std::function<std::string ()>::operator()() const + 0x11 (0x7f5b22e31441 in /usr/local/lib/python3.5/dist-packages/torch/lib/libc10.so)
frame #1: c10::Error::Error(c10::SourceLocation, std::string const&) + 0x2a (0x7f5b22e30d7a in /usr/local

[2019-07-24 06:21] alokprasad commented on #20849
This worked for me

``

git clone --recurse-submodules -j8 https://github.com/pytorch/pytorch.git
cd pytorch/
git checkout 3ac4d928248a4b5949b5fafe0d2f43c649cd0cd9
export ANDROID_NDK=/opt/android-ndk-r19c
export ANDROID_ABI=arm64-v8a
build_args+=("-DBUILD_CAFFE2_MOBILE=OFF")
build_args+=("-DCMAKE_BUILD_TYPE=Release")
build_args+=("-DCMAKE_PREFIX_PATH=$(python -c 'from distutils.sysconfig import ge

[2019-07-24 06:48] ElegantLin commented on #17349
@raxxerwan Thanks for your answer. I also met the problem. Do you know the reason?

Thanks a lot.

[2019-07-24 07:39] t-vi commented on #22234
@zh217 would it be possible to share a test case for your speed concern? I am fixing the zero length deficiency and I will work on CuDNN ctc removal next if I can get the benchmarks for the known use cases to be reasonable. Even if you cannot share a use-case, just shape of probs, shape of targets, input lengths and target lengths would be super helpful.

[2019-07-24 07:40] WassimOrabi opened #23295 "Training accuracy increases while validation accuracy stays constant"
I am trying to train a CNN using frames that portray me shooting a ball through a basket. And my aim is for the network to be able to classify the result( hit or miss) correctly. When I train the network, the training accuracy increases slowly until it reaches 100%, while the validation accuracy remains around 65% (It is important to mention here that 65% is the percentage of shots that have a Mis

[2019-07-24 07:59] suo opened #23296 "[jit] confusing error message when trying to script a module class"
If you try to script an `nn.Module` rather than an instance of it, the error message is really confusing.
[code]
produces:
[code]

[2019-07-24 08:05] vishwakftw commented on #23294
This seems to be a recent regression. Could https://github.com/pytorch/pytorch/commit/174f7a586fd5d3b7b5b185a52f31ebb021631f33 have caused it?

cc: @ezyang

[2019-07-24 08:28] 401qingkong commented on #22791
Can somone help me or give me some advice?

[2019-07-24 08:32] kaniblu commented on #23156
@fmassa This indeed seems like a popular issue that keeps coming back (more examples: #15131 #17455). After reading several closed discussions, I am not sure if it's possible to come up with an elegant solution that can substitute masking with arithmetic multiplication. Passing around sparse flags might be a solution, but it seems like awful lot of work compared to the severity of the bug and coul

[2019-07-24 08:59] pietern commented on #23232
This came up in https://discuss.pytorch.org/t/gathering-dictionaries-of-distributeddataparallel/51381.

[2019-07-24 09:30] pietern opened #23299 "Add gatherv/allgatherv primitives to support non-equal contribution"
## 🚀 Feature

New operations `gatherv` and `allgatherv` to support gathering tensors of different shapes.

## Motivation

This is not uncommon (e.g. different size batches) and one has to jump through hoops to get this done today. Native support means a better user experience.

## Pitch

We'll add `gatherv` and `allgatherv` functions on the base `ProcessGroup` class and provide an implementation f

[2019-07-24 09:44] t-vi commented on #23294
Wouldn't pre-rending KaTeX be a good alternative? I must admit node isn't my favourite build-dependency, but it still seems nicer than images.

[2019-07-24 10:30] abster95 commented on #23218
I installed `pytorch-nightly` from conda with:
`conda install pytorch-nightly cudatoolkit=10.0 -c pytorch`

I then cloned the `torchvision` repo and ran `pip install -e .` inside the repo. I guess this would also work if you do `pip install git+https://github.com/pytorch/vision.git`, but I haven't tried it.

[2019-07-24 10:36] frankang commented on #14310
turns out to be a hardware issue with my graphic card.

[2019-07-24 11:16] ajaysg commented on #5563
i compiled pytorch from source for GPU with CUDA 9 and CUDNN 7. After compiling when i tried to import torch . It throws No module named torch. i cloned pytorch into my code folder and compiled from there. Should i need to compile from home directory

[2019-07-24 12:17] potipot commented on #22597
Has there been any update to this issue? I'm running into the same problem with
torch_version=1.1.0,
is_debug_build=False,
cuda_compiled_version='10.0',
os='Microsoft Windows 10 Pro',
python_version='3.7',
is_cuda_available=True,
nvidia_driver_version='430.39',
nvidia_gpu_models='GPU 0: GeForce RTX 2060'

[2019-07-24 13:14] mrshenli commented on #22451
Hi @mileyan, does @labor00's suggestion work for your?

[2019-07-24 13:45] alexeyr opened #23300 "Potentially missing else"
## 🐛 Bug

### Issue 1

In https://github.com/pytorch/pytorch/blob/f924fc6eb10577cc119ab388873ebdb7c8f57151/torch/lib/c10d/Store.cpp#L12-L17
the `if` has no effect because line 17 always reassigns `timeout_`. So either it can be removed or it should be

    timeout_ = timeout.count() == 0 ? kNoTimeout : timeout

Unless I am misunderstanding something?

### Issue 2

In https://github.com/pytorch/pyt

[2019-07-24 13:45] ezyang commented on #23294
This is probably caused by the imgmath change. Investigating.

[2019-07-24 13:51] Wrishi opened #23301 "Error while using Libtorch + OpenCV + Qt Creator"
I have the following configuration in the .pro file

[code]

OpenCV works absolutely fine **without** "QMAKE_CXXFLAGS += -D_GLIBCXX_USE_CXX11_ABI=**0**". With this, however, I get this following errors:

![Screenshot_2019-07-24_14-35-50](https://user-images.githubusercontent.com/17313248/61799072-b6307800-ae2a-11e9-9bb3-e8b8068c8a87.png)

OpenCV works fine **with** "QMAKE_CXXFLAGS += -D_GLIBCXX_US

[2019-07-24 13:53] kakaluote commented on #17658
The same problem.

[2019-07-24 13:56] ezyang commented on #23294
It's because LaTeX isn't installed on the Docker image:

[code]

[2019-07-24 14:00] ezyang commented on #23294
@t-vi I don't think the sphinx-katex plugin supports prerendering. I asked about it here: https://github.com/hagenw/sphinxcontrib-katex/issues/11

[2019-07-24 14:03] t-vi commented on #23294
@ezyang should have thought you likely already considered it. Thank you!

[2019-07-24 14:05] ezyang commented on #23294
The LaTeX imgs do look pretty ugly (anti-aliasing isn't really working), so if we can figure out how to patch sphinxcontrib-katex to support prerendering I think we should definitely use it.

[2019-07-24 14:18] sukuya commented on #15523
Can you share the function. Return type seems to be the issue.

[2019-07-24 14:21] mrshenli commented on #22531
Hi @jefby, have you got a chance to try if GLOO backend or newer version of PyTorch work for you? We did fix some deadlock errors recently.

[2019-07-24 14:32] t-vi commented on #23294
From a cursory look one would need to popen2/3 the [cli](https://katex.org/docs/cli.html) in the [two rendering functions](https://github.com/hagenw/sphinxcontrib-katex/blob/ba0db20a7a15be1eb975d642d121d3faa867b8ae/sphinxcontrib/katex.py#L85-L102) which seem to just append to a string or so. The difficulty is probably configuring...

[2019-07-24 14:34] xiaosun86 commented on #18975
@zdevito Can you also comment on the differentiability of conv2d? I checked the forward graph of a simple MNIST model:

class Net(torch.jit.ScriptModule):

    def __init__(self):
        super(Net, self).__init__()
        self.conv1 = torch.jit.trace(nn.Conv2d(1, 10, kernel_size=5), torch.randn(1,1,28,28) )
        self.conv2 = torch.jit.trace(nn.Conv2d(10, 20, kernel_size=5), torch.randn(1, 10,

[2019-07-24 14:41] mileyan commented on #22451
Yes, `export OMP_NUM_THREADS=1` works for me.

[2019-07-24 14:41] #22451 closed

[2019-07-24 14:54] lizhen2017 opened #23303 "Merge bn tools."
How to merge BN layer with Convolution layer for any model?Thanks for your help.

[2019-07-24 14:55] vadimkantorov commented on #23303
There's a fresh fuser for Covn+BN in https://github.com/pytorch/pytorch/blob/master/torch/nn/utils/fusion.py

[2019-07-24 15:12] reuben commented on #14165
The latest releases no longer have mklml assets available. Does PyTorch publish libmklml.dylib somewhere? I don't understand why this bug is closed as it's clearly still a problem: the libtorch package on macOS depends on libmklml.dylib but doesn't include the dependency. If I understand @pjh5's comment correct, the dependency on mklml isn't even required, so why enable it just to ship incomplete

[2019-07-24 15:21] #20535 closed

[2019-07-24 15:30] soumith opened #23305 "make torch.utils._download_url_from_file public and add a docstring"
We have this function https://github.com/pytorch/pytorch/blob/7203612f852e57b3f1667a614444bbb24beec7fb/torch/hub.py#L370-L406 as part of hub.

Expose it public, i.e. remove the `_` prefix, and add a docstring.

This is useful for downstream repos (eg. domain APIs) to standardize on a single function for dataset download.

For example for multiple downstream datasets, we already have so many decent

[2019-07-24 15:34] #23303 closed

[2019-07-24 15:34] soumith commented on #23303
please use https://discuss.pytorch.org for questions

[2019-07-24 15:42] zh217 commented on #22234
I ran a series of tests and it doesn't seem that I can reproduce the x50 slowdown under controlled setting. More typical is x5 slowdown (when number of classes is greater than 10000, almost any input will do).

Given that the problematic slowdown occurs in code that is rather ancient, quite convoluted and highly parallel, I suspect that the slow down may have something to do with some units of wor

[2019-07-24 15:58] zh217 commented on #22234
Also, I have some algorithmic suggestion: it pays to explicitly construct the lattice beforehand so that repeated target lookup during forward-backward is avoided. The lattice construction is trivially parallel and doesn't need any atomic operations.

I have an non-pytorch implementation that did just that and it helps quite a bit when the number of classes is big. Unfortunately I cannot share the

[2019-07-24 16:16] xuhdev commented on #23294
Do we have an interest in switching to imgmath? To make equations look nicer, we can set [imgmath_image_format](https://shimizukawa-sphinx.readthedocs.io/en/latest/ext/math.html#confval-imgmath_image_format) to svg.

Alternatively, `sphinx.ext.mathjax` should also work, but this requires a lot of work from browser.

[2019-07-24 16:41] ezyang commented on #19990
I'll be working on this.

[2019-07-24 16:48] ZSoumia opened #23309 "model.eval() with ensemble of CNN is not extended to the sub models"
## 🚀 Feature
extending the .eval() to  the sub models of an ensemble of neural networks .

## Motivation
I trained an ensemble of CNN models ( Squeezenet1_1 trained on different training sets ) and saved the checkpoint , when loading the checkpoint for inference *Even if I called the .eval() on the ensemble model*  I had inconsistent results because the sub models were not set to the evaluation mo

[2019-07-24 16:57] vishwakftw commented on #23294
@xuhdev in https://github.com/pytorch/pytorch/pull/8848 we switched from `sphinx.ext.mathjax` to katex because `mathjax` was even slower.

[2019-07-24 17:08] gchanan opened #23311 "bitwise_not documentation is not rendering correctly"
`torch.bitwise_not()
bitwise_not(input, out=None) -> Tensor

Computes the bitwise NOT of the given input tensor. The input must be of integer or Boolean types.

Parameters
{input} –

{out} –

Example:

tensor([ 0,  1, -4], dtype=torch.int8)`

See the substitutions are being displayed raw.

[2019-07-24 17:34] #22431 closed

[2019-07-24 17:36] izdeby commented on #22430
Fixed via https://github.com/pytorch/pytorch/pull/23044

[2019-07-24 17:36] #22430 closed

[2019-07-24 17:37] ezyang commented on #19990
@soumith We can't do this, not as exactly spelled above. The string after the plus is a *local version identifier*, and per https://www.python.org/dev/peps/pep-0440/#local-version-identifiers and so we can't upload them to PyPI (unless you want to stop uploading these to PyPI.)

[2019-07-24 18:00] soumith commented on #19990
as discussed with Edward irl, we dont need to upload the string+ versions to PyPI, only the default config gets uploaded to PyPI. So, we should be okay.

Additional things to check:

- If we do 1.1.0+cu100, will packages depending on `torch >= 1.1.0` identify the package as installed, or will there be weirdness?
- Can a downstream package depend on `torch == 1.1.0+cu100` and will things be checked

[2019-07-24 18:02] mrshenli commented on #23300
@pietern why do we need the `if` clause in `Store::setTimeout`? It seems to me [`kNoTimeout`](https://github.com/pytorch/pytorch/blob/master/torch/lib/c10d/Store.hpp#L15) is just `std::chrono::milliseconds::zero()`.

[2019-07-24 18:08] zou3519 commented on #22052
https://github.com/pytorch/pytorch/pull/23304 should solve this (thanks for pointing it out, @bddppq

[2019-07-24 18:08] ezyang commented on #19990
PyPI permits packages to have dependencies on local version specifiers. Whether or not this is intentional is another matter...

[2019-07-24 18:09] mrshenli commented on #22679
@as754770178 Is the error still bothering you? BTW, when you run DDP, does each process exclusively uses its gpus? In the code snippet above, it seems you call `torch.cuda.set_device(0)` in all processes?

[2019-07-24 18:12] t-vi commented on #22234
How much of the total pass is CTC. Obviously if it is 50 percent, a 5x slowdown is terrible whereas when it is 1% it would just be undesirable.
What is your sequence length / batch size?
I'll first get rid of the nondeterministic bits and then would love to also discuss other speedups.

[2019-07-24 18:14] ezyang commented on #19990
Yes, the package is identified as installed.

[2019-07-24 18:18] shreydesai commented on #18475
I'm also having this issue

[2019-07-24 18:20] ezyang commented on #19990
OK, it looks like this is indeed the right thing to do, and it has the behavior we want.

[2019-07-24 18:20] hagenw commented on #23294
`mathjax` is indeed much slower, that was the main motivation in creating [sphinxcontrib-katex](https://github.com/hagenw/sphinxcontrib-katex) in the first place.

At the moment we are adding pre-rendering as an option to it as well, see https://github.com/hagenw/sphinxcontrib-katex/pull/13
So, maybe this would be one solution afterwards.

[2019-07-24 18:25] #8698 closed

[2019-07-24 18:31] iKintosh opened #23313 "[Feature Request] Gabor Layer"
## 🚀 Feature
Add new layer - Gabor Layer - to PyTorch library. It is a layer with learnable Gabor fuction parameters, where Gabor function generates 2D convolutional kernel, thus number of parameters stays the same no matter the kernel size.

## Motivation

I've made a research, you may find it on [arxiv](https://arxiv.org/abs/1904.13204).

This research on deep convolutional neural networks propo

[2019-07-24 18:33] yf225 commented on #14582
This issue is closed by https://github.com/pytorch/pytorch/pull/14718.

[2019-07-24 18:33] #14582 closed

[2019-07-24 18:37] ezyang commented on #23294
Yeah, given how nicely prerendered katex is shaping up, I think I'm going to just revert the imgmath change and then wait until we can deploy using prerendered katex.

[2019-07-24 19:19] ailzhang commented on #21044
Hi I've confirmed it's indeed caused by overshoot. Given pytorch takes float tensor as input, we'd prefer to keep the unclamped result and let users do clamp as needed. In this case adding a `.clamp(0)` before displaying fixes it. So I'm updating the doc to include it as a note.
Instead our `to_pil_image` could potentially be updated to do an implicit type conversion to avoid visual overshoot. See

[2019-07-24 19:33] mrshenli commented on #22260
closed by #22501

[2019-07-24 19:33] #22260 closed

[2019-07-24 19:42] mrshenli commented on #16654
Hey @tuyaao @ustctf, we upgraded NCCL submodule and fixed some deadlocks recently, can you help to check if the same error still occurs with nightly?

[2019-07-24 19:49] yf225 commented on #21894
This is fixed by https://github.com/pytorch/pytorch/pull/23007.

[2019-07-24 19:49] #21894 closed

[2019-07-24 20:10] #23160 closed

[2019-07-24 20:33] ifedan commented on #23295
Please use https://discuss.pytorch.org for questions. Please kindly feel encouraged to reopen this issue, if this does not apply.

[2019-07-24 20:33] #23295 closed

[2019-07-24 20:36] ifedan commented on #13383
Please kindly feel encouraged to reopen this issue, if this does not apply.

[2019-07-24 20:36] #13383 closed

[2019-07-24 20:37] ifedan commented on #23155
Please kindly feel encouraged to reopen this issue with more details.

[2019-07-24 20:37] #23155 closed

[2019-07-24 21:12] dusty-nv commented on #8103
@VitalyFedyunin this patch against `v1.1.0` addresses the issue on Jetson platforms for functions that use `getCurrentDeviceProperties()->maxThreadsPerBlock` or `CUDA_NUM_THREADS` or `NUM_BLOCKS`:

[code]

However for functions that use neither of these methods, unfortunately I think they may need to manually be modified with `launch_bounds()`.  Perhaps you may have a better understanding of the P

[2019-07-24 21:18] ezyang commented on #19990
@soumith When we do this, should we get rid of `torchvision-cpu-0.4.0` and instead do `torchvision-0.4.0+cpu`?

[2019-07-24 21:22] SsnL commented on #23309
Use ModuleList.

[2019-07-24 21:22] #23309 closed

[2019-07-24 21:34] soumith commented on #19990
yes

[2019-07-24 21:36] dncliss opened #23342 "QNNpack tests should be skipped on ppc64le (not enabled there)"
## 🐛 Bug

The pytorch tests for QNNpack attempt to run when run on the ppc64le platform, where
QNNpack is not enabled.  The tests have no awareness of whether the build was done with USE_QNNPACK=OFF specified.  As a consequence, the tests immediately fail.

## To Reproduce

Steps to reproduce the behavior:
1. Build and execute on ppc64le platform, with USE_QNNPACK=OFF.
2. Observe failure of QNNpac

[2019-07-24 21:49] #21044 closed

[2019-07-24 21:54] #20465 closed

[2019-07-24 22:23] nottombrown commented on #23149
Ok, thanks for the update @izdeby!

[2019-07-24 22:26] yf225 commented on #18949
@ezyang If I understand it correctly, is this going to fix https://github.com/pytorch/pytorch/issues/18333 and https://github.com/pytorch/pytorch/issues/17566, for running backward() on separate models in parallel?

[2019-07-24 22:33] zdevito commented on #23258
Can you try this with `torch.jit.trace`? `get_trace_graph` is not the public API and we should do a better job of hiding it. If the problem persists, you can simply put the Module into another Module that extracts the results that are desired out of the dictionary and returns them.

[2019-07-24 22:38] zdevito commented on #23220
A traced model will contain all tensors that are either used as constants in the code or exist as buffers/parameters/attributes on the model.  Are these tensors not referenced in any of those locations?

[2019-07-24 22:55] zdevito commented on #23219
This looks like it might be a protobuffer error reporting a missing field in the file format. Is it possible that the model is being saved with a newer version of pytorch than the C++ library that is loading it?

[2019-07-24 23:11] pjh5 commented on #14165
I remember there used to be a flag that controlled if ideep and mklml were included or not. Now it looks like they are unconditionally included in https://github.com/pytorch/pytorch/blob/master/caffe2/CMakeLists.txt#L80 . The mklml linked against by the libtorch binaries indeed comes from third_party . Currently, no wheel or macos libtorch includes any dependencies, other than what comes from pip

[2019-07-24 23:18] zdevito commented on #23122
Bumping to high priority. This is an easy fix and but needs to be in by the release or trace_modules does not work.

[2019-07-24 23:27] bethebunny opened #23352 "[Feature Request] inferred module dimensions"
## Motivation

There’s a lot of cases in framework design where we want to be able to treat components like lego blocks when building various model architectures. The following case studies in PyText are the 90% common cases, not the exceptions, ie. most people build models from these architecture families.

Document classifiers in PyText follow a general pattern of Embedding → Representation → De

[2019-07-25 00:30] SsnL commented on #22052
fixed via https://github.com/pytorch/pytorch/pull/23304 by @zou3519  :D

[2019-07-25 00:30] #22052 closed

[2019-07-25 00:46] wanchaol opened #23355 "[jit] add named tuple as output type to the tracer"
There're several requests that want the tracer to support dict as the output. While supporting general dict in tracer is hard, we could instead support named tuple (which values are tensors) as the output of the tracer.

[2019-07-25 01:20] as754770178 commented on #22679
Yes, I call `torch.cuda.set_device（0）` in all processes. `torch.cuda.set_device` is setting the main gpu, `gpu_ids` in `torch.nn.parallel.DistributedDataParallel(model, device_ids=gpu_ids)` is setting which gpu training. Is this wrong?

[2019-07-25 01:35] #19990 closed

[2019-07-25 02:08] lutzroeder commented on #23220
The tensors are referenced in `model.json` in modules that are not referenced in code. Shouldn't they get removed from the file?

[2019-07-25 02:17] as754770178 opened #23363 "error in multi node"
When I training in distirbuted mode, the program report error.
Error info:
[code]

The Environment:
I run in two docker container, the program report error.
[code]

I run in one docker container, but run twice with different rank, the program can run.
[code]

[2019-07-25 02:47] rgommers commented on #22368
Ah that helps, it's only the CUDA 10.0 build that's outdated. downloading both and checking dates:
[code]
So it hasn't updated since June 6th.

[2019-07-25 02:51] rgommers commented on #22368
gh-23039 is related.

[2019-07-25 02:59] rgommers commented on #22368
Okay, this is an exact duplicate of gh-23039 and that has an explanation of what's going on. So closing this issue. Thanks @meganset

[2019-07-25 02:59] #22368 closed

[2019-07-25 03:22] rgommers commented on #22738
This works fine as of right now, and the nightly is up-to-date (built July 24th):
[code]

this error is a little confusing. @fuzzyBatman this should work now, but if you add `--no-index` you should get a more comprehensible error if the custom wheel index server for the nightlies isn't found:
[code]

Also note that these kind of errors can depend on the version of `pip` that you use (e.g. https://

[2019-07-25 03:23] #22738 closed

[2019-07-25 03:31] gaurav67890 opened #23364 "dyndep function not working"
## 🐛 Bug

On using the command dyndep.InitOpsLibrary('/usr/local/lib/libcaffe2_detectron_ops_gpu.so') to load libcaffe2_detectron_ops_gpu.so ,the program stucks/hang and even ctrl + c is not working to stop the program.

[2019-07-25 04:00] SsnL commented on #19764
haven't been able to reproduce this so I'll close!

[2019-07-25 04:00] #19764 closed

[2019-07-25 04:40] jspisak commented on #23311
cc @brianjo - Please add this to the list for 1.2 release.

[2019-07-25 06:35] PistonY opened #23366 "[PyTorch][Feature Request]Lookahead Optimizer"
## 🚀 Lookahead Optimizer
https://arxiv.org/pdf/1907.08610.pdf

In this paper they show new Optimizer can save time, improve accuracy than SGD and work both on CV/NLP.
I think it may worth to try.

[2019-07-25 06:52] iamwangyabin commented on #23219
@zdevito Thank you,you are right ,I recompile libtorch to V 1.1.0 as same as my pytorch version.and this error was solved!

[2019-07-25 06:53] #23219 closed

[2019-07-25 07:04] alokprasad commented on #17073
@soumith most of the model are not easily convertible to scriptmodule object , so i guess @sto-chastic presummed model trained using using c++  should be loadable using torch.jit.load

[2019-07-25 08:07] Naruto-Sasuke opened #23369 "Bug of LongTensor/IntTensor ?"
## 🐛 Bug
When longtensor/intTensor multiply a float number, it ouptuts a tensor full of 0.

## To Reproduce
[code]

[code]
## Expected behavior
[code]

## Environment
Pytorch1.0 stable

[2019-07-25 08:19] jiangzhonglian commented on #2830
thanks, it work!

[2019-07-25 08:48] Max-ChenFei commented on #23258
Thanks for your reply.
The problem still persists. Putting a module to another module is a simple way,
but this Module is from **torchvision.models.segmentation**.
Will you support all the module from **torchvision**?

[2019-07-25 08:59] prasunanand commented on #19422
@apaszke I am unable to find `torch.autograd.profiler.range` in the source. Has it been renamed ?

[2019-07-25 09:19] t-vi commented on #22833
So @Chillee tracked this down and it comes from the `_grad_sum_to_size` commutation business.
TLDR: While `AutogradAdd` is never broadcasting and so the sizes of the operands will be the same, `_grad_sum_to_size does` does not in general commute with `AutogradAdd` because after the commutation the previously non-broadcasting `AutogradAdd` becomes broadcasting and the smaller argument is erroneousl

[2019-07-25 09:43] pietern commented on #22052
Also see pytorch/xla#848 for the culprit.

[2019-07-25 09:51] pietern commented on #22679
Yes. If you use multiple processes, each process should set its own GPU. You can use the process rank to figure out which GPU device to use. Then that's also the device you pass to the `DistributedDataParallel` constructor. Then, every process will use a single GPU, and they will average their gradients on every backward pass.

This also explains why you were seeing hangs: you probably had N proce

[2019-07-25 10:02] pietern commented on #23300
@mrshenli It can be removed. Thanks for noticing and creating the issue @alexeyr!

[2019-07-25 10:11] asanakoy commented on #6990
Any use-cases where `.data` is preferred over `detach()`.
Is `.data` deprecated in Pytoch 1.* ?

[2019-07-25 11:36] soumith commented on #3335
as of pytorch 1.0 and 1.1, deploying in C++ is fully featured and supported via torch.jit.
See:
- https://pytorch.org/docs/stable/jit.html
- https://pytorch.org/tutorials/advanced/cpp_export.html

[2019-07-25 11:36] #3335 closed

[2019-07-25 11:36] AbdouJaouhar opened #23373 "Include torch using FetchContent in CMake"
Hi !

I'm using the C++ API to integrate my model into my software, but I don't want to use a find_package in my CMake. How can I use a Fetch_Content command to import torch ?

[2019-07-25 11:41] #5705 closed

[2019-07-25 11:41] soumith commented on #5603
fixed now afaik

[2019-07-25 11:41] #5603 closed

[2019-07-25 11:42] soumith commented on #5775
fixed now

[2019-07-25 11:42] #5775 closed

[2019-07-25 11:48] Kay-Tian commented on #7732
I'm experiencing the same issue, and by the way, the nightly version of '1.2.0.dev20190725+cpu' raise another fault：
`
 /anaconda3/envs/torch-nightly/lib/python3.6/site-packages/torch/nn/modules/conv.py(342)conv2d_forward()
    341         return F.conv2d(input, weight, self.bias, self.stride,
--> 342                         self.padding, self.dilation, self.groups)
    343
Illegal instruction (co

[2019-07-25 11:50] pietern commented on #23363
This is likely caused by the processes assuming they can connect to one another and that not being the case because of Docker's network isolation. You can try running without network isolation. I think the argument for that is `--network=host`, but I might be mistaken. The Docker docs will have the definitive answes.

[2019-07-25 11:55] #23039 closed

[2019-07-25 11:55] soumith commented on #16038
implemented in some form now.

[2019-07-25 11:55] #16038 closed

[2019-07-25 12:12] snippler opened #23374 "Fatal error gloo/transport/tcp/device.h: no such file or directory build from source"
## To Reproduce

Steps to reproduce the behavior:

1. Build from source on Raspberry Pi 4 B
2. I use flag NO_DISTRIBUTED=1
3. Version 1.1.0

Message:
/home/pi/pytorch_install/pytorch/torch/lib/c10d/test/ProcessGroupGlooTest.cpp:12:10 fatal error: gloo/transport/tcp/device.h no such file or directory
#include <gloo/transport/tcp/device.h>

I did not get this on Raspberry Pi 3B+

[2019-07-25 12:51] #19189 closed

[2019-07-25 13:02] Hunger-Prevails commented on #8329
Thank you so much, you can't possibly know how much time you saved for me!

[2019-07-25 13:25] HaleTom commented on #19189
Thanks a bunch! Sorry I didn't get around to it myself!

[2019-07-25 13:28] soumith commented on #23352
This has come up several times in the past, and I spent the last 20 mins searching for the proposal I wrote on a previous issue, but I wasn't able to (the fun of having thousands of issues).
Hence, I'm re-iterating my previous thoughts both from memory and after re-thinking.

I think this is a feature worth designing, but the following design principles have to be upheld:
- no meta-programming or

[2019-07-25 13:47] rgommers commented on #23039
The CUDA 10 build timing got fixed by gh-23348, see last night's run at https://circleci.com/workflow-run/33d0a24a-b77c-4a8f-9ecd-5646146ce684. The only failures there are on the upload stage, which got fixed by gh-23368.

So there should be fresh binaries in about 20 hours (I'll verify tomorrow).

[2019-07-25 13:52] illcat commented on #23366
I think so.

[2019-07-25 14:03] illcat commented on #23142
You should writing "torch.manual_seed(1)"  in front.
`
import torch
import torch.nn as nn
torch.manual_seed(1)
`

[2019-07-25 14:21] rgommers commented on #17181
@ezyang this is still a valid SLEEF bug (and there is an issue for it: https://github.com/shibatch/sleef/issues/249), but for PyTorch the problem got fixed 10 days ago by commit 794ee6d00c. Do you ant to keep this open?

[2019-07-25 14:49] vishwakftw commented on #22243
Closed by 0ab19d66ee4e9b4fd4cb854c1dcffe65f6b92464.

[2019-07-25 14:49] #22243 closed

[2019-07-25 14:52] soumith commented on #7732
@Kay-Tian this will be fixed in tomorrow's nightlies

[2019-07-25 14:55] mrshenli commented on #18853
Hey @stephenroller, I am not sure if this relates to the memory leak problem above, but the [OOM recovery code](https://gist.github.com/stephenroller/bd2cd644e7c117c1ec8192639ecf30b6#file-memtestcase-py-L90-L107) you linked above might hit desync problem. Say we have 2 DDP processes (p0, p1), and each organizes its backward reduction into 2 buckets (b0,b1). If the OOM occurs on p0 after reducing b

[2019-07-25 14:58] glenn-jocher opened #23377 "RuntimeError: _thnn_conv2d_forward not supported on CPUType for Half"
## 🐛 Bug

When attempting to adapt our repo (https://github.com/ultralytics/yolov3) to FP16 inference we get this error. We attempted model.half() and then input.half(), using output = model(input).

## To Reproduce

Steps to reproduce the behavior:

1. git clone https://github.com/ultralytics/yolov3
2. add model.half() and img.half() in detect.py
3. python3 detect.py

[code]

## Expected behavior

[2019-07-25 15:06] KokeCacao commented on #19996
**For the reproduction ideas:** I discovered that this issue no longer exists after I changed my network to a smaller one. I suspect that it has to do with processing power?

[2019-07-25 15:18] mrshenli commented on #23374
@snippler can you try `USE_DISTRIBUTED=0` flag instead?

[2019-07-25 15:28] mrshenli commented on #23374
Some more context, [USE_DISTRIBUTED](https://github.com/pytorch/pytorch/blob/master/CMakeLists.txt#L150) -> [USE_GLOO](https://github.com/pytorch/pytorch/blob/master/CMakeLists.txt#L155) -> [USE_C10D_GLOO](https://github.com/pytorch/pytorch/blob/master/torch/lib/c10d/CMakeLists.txt#L19) -> [ProcessGroupGlooTest.cpp](ProcessGroupGlooTest.cpp)

[2019-07-25 15:32] andfoy commented on #6313
I'll work on this one

[2019-07-25 15:40] mesut92 opened #23378 "Build libtorch from source on Windows?"
## ❓ Questions and Help

I builded libtorch from source?
[code]
However, i can not find caffe2.lib in lib/ directory. Shouldn't caffe2.lib be produced? In prebuilded version, there is caffe2.lib.

Envs:
Windows10
Visual Studio 2017

[2019-07-25 15:46] rgommers commented on #19422
the `range` context manager was added in commit 22f596572, and removed in gh-19378. @apaszke's comment on that PR was:

_This was a user-facing object, and shouldn't have been deleted. It's the only way to actually insert ranges from Python, which is useful._

It was never added back though. So this is not a doc issue anymore. @apaszke @ezyang should it be added back? Looks to me like that would b

[2019-07-25 15:47] rgommers commented on #19422
@prasunanand found this by searching for commits with `class range` in their diff in that one file:
[code]

[2019-07-25 15:49] dusty-nv commented on #8103
BTW, here are built PyTorch v1.1.0 pip wheels for JetPack 4.2.1 for Jetson Nano, TX1/TX2, and Xavier:

Python 2.7:   https://nvidia.box.com/shared/static/n9p7u0tem1hqe0kyhjspzz78xpka7f5e.whl
Python 3.6:   https://nvidia.box.com/shared/static/mmu3xb3sp4o8qg9tji90kkxl1eijjfc6.whl

[2019-07-25 15:51] dusty-nv commented on #7680
@MrLinNing that appears to fix some of the functions, but not perhaps all - not sure.  For more info, see:

https://github.com/pytorch/pytorch/issues/8103#issuecomment-514802040
https://github.com/pytorch/pytorch/issues/8103#issuecomment-515098834

[2019-07-25 15:58] #22833 closed

[2019-07-25 16:05] calincru commented on #22848
@ezyang Sorry, I don't get it -- what's the problem with having three different functions?

I personally disagree with the "slippery slope" thing.  IMHO, you should let the demand drive new specialized implementations: no one asks for `logdet` of SPD matrices, don't add it; more and more people request it, add it. It's the reason we have `eig` and `symeig`, as @fmassa pointed out, but there's no `

[2019-07-25 16:48] antithing commented on #23217
Still stuck on this! Did anyone have any more thoughts as to what I can try? Thank you!

[2019-07-25 17:05] rgommers commented on #18398
`libiomp5.so` should come with an MKL install:
[code]

Complete list of installed libs for conda mkl:
<details>

[code]

</details>

The `Dockerfile` that is given above by @lutzroeder as the reproducer above is missing an MKL install, which I believe is a hard requirement. Adding `pip install mkl` should fix things (this works, but note that there's a reason why the pytorch README says that when

[2019-07-25 17:24] wranai opened #23382 "Tensor from mmaped storage loads the entire file into memory"
## 🐛 Bug

Tensor from mmaped storage loads the entire file into memory for operations that don't require it.

## To Reproduce

[code]

## Expected behavior

Only the necessary parts of mmapped files should not load into memory.

## Environment

 - PyTorch Version (e.g., 1.0): starting with july 23rd nightly (1.2.0.dev20190723-py3.7_cuda10.0.130_cudnn7.6.1_0
 - OS (e.g., Linux): Linux
 - How you in

[2019-07-25 17:59] ezyang opened #23384 "cpp_extension should use ninja for setup.py builds too"
cpp extension uses ninja for JIT builds, but defers to regular old setuptools for normal C++ extension builds. This is bad because normal setuptools doesn't run in parallel. Ninja does. We should run ninja.

torchvision and probably our other domain libraries are affected by this. I can't believe y'all have suffered under single threaded builds for this long.

[2019-07-25 18:03] bethebunny commented on #23352
Ok, I'm playing around with some implementations of UninitializedParameter that seem promising. One approach that I want to call out early because I don't necessarily understand all of the implications is to make use of reshape_(). If we did this, we could actually allow parameters() for instance to return correct references to the tensors, and things like .to() and .apply() should also just work.

[2019-07-25 18:10] rtarquini commented on #10248
I'm seeing this issue on the Nvidia Xavier with version 1.1.   [CPU mean is incorrect ]

'1.1.0a0+ceb9702'

I can write up a new bug if needed.

-Rich

[2019-07-25 18:29] #23300 closed

[2019-07-25 18:32] sanketgujar opened #23385 "Torchlib with ROS"
I am having a hard time running pytorch model with ROS in C++. The torchlib breaks the ROS when I try to include it in my package cmakelist. I included the moden ABI by “add_compile_options(-std=c++11 -D_GLIBCXX_USE_CXX11_ABI=1)” but it didn’t help too.

After many tries I decided to built pytorch but then I got a new error for c10, the error log can be found here https://gist.github.com/sanketguj

[2019-07-25 18:42] Xyand commented on #11633
Another scenario is when the exception `__init__` requires more than one positional argument. Even if the first argument is a standard string/msg.

This also happens in v1.1+

[2019-07-25 18:46] gchanan opened #23387 "Investigate Accuracy regression on MobileNetV2"
Duplicate of https://github.com/pytorch/vision/issues/1172, but in main torch repo so we can keep all milestone issues together.

[2019-07-25 19:04] ezyang commented on #20984
Those of you who are affected by this: which of these pages loads most quickly for you?

* https://upbeat-roentgen-bdeb9e.netlify.com/ - imgmath with png
* https://5d39ea246de708000ddda861--upbeat-roentgen-bdeb9e.netlify.com/ - prerendered KaTeX
* https://5d39ed69d7ddde00084f8c12--upbeat-roentgen-bdeb9e.netlify.com/ - imgmath svg

[2019-07-25 19:18] bethebunny commented on #23352
The basic sketch of this implementation would look like

[code]

I think this will actually have the potential to work in a lot of the cases that it wouldn't have previously. For instance, torch.save should work properly even before forward, which means jit could in theory be made to work also (this might be really valuable down the line for being able to eg. TorchScript torch.hub components that

[2019-07-25 19:19] InternetExplorer9 opened #23390 "built-in method _get_tracing_state is currently not supported in TorchScript"
## 🐛 Bug

When scripting a method which calls the following code as a submodule, calls to _get_tracing_state in torch._C fail.

[code]
[code]

[2019-07-25 19:27] gchanan commented on #23231
closing this as #23292 merged.

[2019-07-25 19:27] #23231 closed

[2019-07-25 19:34] eellison commented on #23390
fix here https://github.com/pytorch/pytorch/pull/23248

[2019-07-25 19:35] Jonas1312 commented on #20984
3rd one (imgmath svg)

[2019-07-25 19:37] rtarquini opened #23392 "torch.mean() calculations are not consistent across CPU/GPU"
## 🐛 Bug torch.mean() on cpu and gpu differ (NVIDIA Xavier/ARM64 Example)

## To Reproduce

Steps to reproduce the behavior:

1. import torch
1. a=torch.linspace(10000,1.7,10000)
1. a.mean()
1. a.cuda().mean()
1. a.sum()/a.numel()

tensor(5000.9077)

tensor(5000.8501, device='cuda:0')

tensor(5000.8496)

## Expected behavior

The mean should be sum()/#elements = tensor(5000.8496)
Both the CPU and

[2019-07-25 19:37] ilia-cher commented on #19996
I think this is not related to the model itself, but to the OpenMP API calls we issue (e.g. set_num_threads), I'm still looking for the potential issues here and will comment with some findings.

[2019-07-25 19:39] imad-ict opened #23393 "RuntimeError: set_storage is not allowed on Tensor created from .data or .detach()"
## 🐛 Bug Here is the issue while trying to execute the this bunch of code.

## My code is below..

`import` `syft` `as` `sy`
`import` `torch` `as` `th`
`from` `torch` `import` `nn,` `optim`
`hook` = `sy.TorchHook(th)`
[code]
[code]
[code]

---------------------------------------------------------------------------

[code]

[2019-07-25 19:39] driazati opened #23394 "[jit] Can't statically access docstring of `script_method`"
[code]

returns

[code]

cc @suo

[2019-07-25 19:39] Chillee commented on #20984
Average of 3 after first load (using cache) (and a random load graph)

4.63s

![image](https://user-images.githubusercontent.com/6355099/61903123-a0798c00-aed8-11e9-94cc-68add640a097.png)

7.10s

![image](https://user-images.githubusercontent.com/6355099/61903205-d4ed4800-aed8-11e9-96c0-b96048fe1b64.png)

5.20s

![image](https://user-images.githubusercontent.com/6355099/61903270-f3ebda00-aed8-11e9

[2019-07-25 19:40] egrefen opened #23395 "Incorrect gradients for torch.where when one of the target tensors contains inf/nan"
## 🐛 Bug

The `grad_fn` of `torch.where` returns the gradients of the wrong argument, rather than of the selected tensor, if the other tensor's gradients have infs or nans.

## To Reproduce

Run this code:
[code]

## Expected behavior

I would expect `expected_dw_dx == dwdx` in the example above.

## Environment

Please copy and paste the output from our
[environment collection script](https://raw

[2019-07-25 19:42] colesbury commented on #23395
Why is this line using `z` (instead of w)`?

[code]

[2019-07-25 19:47] egrefen commented on #23395
You're right that was a typo. Swapped out the version of the example which yields the error.

[2019-07-25 19:48] Chillee commented on #20984
For Macbook (no averages since too much work):

4.65

6.9

15.26!

[2019-07-25 19:48] egrefen commented on #23395
Probably worth noting that this might be tied to the presence of `inf` or `nan` as the variant of this problem posted below works:
[code]

[2019-07-25 19:49] ezyang commented on #20984
@Chillee Is that 15.26! for svg, or non-prerendered KaTeX?

[2019-07-25 19:53] ezyang commented on #20984
@Jonas123 @Chillee Could you also check https://5d3a0845dc1dcc0007252ba2--upbeat-roentgen-bdeb9e.netlify.com/nn.html#conv2d as well? This one is prerendered KaTeX but I killed the CSS and JS on page and added a bunch of preloading.

[2019-07-25 20:00] brianjo commented on #20984
I ran these through [Google PageSpeed](https://developers.google.com/speed/pagespeed/insights/)
![Screenshot 2019-07-25 12 47 35](https://user-images.githubusercontent.com/1500149/61904620-0d425580-aedc-11e9-9726-d95424e1a653.png)
![Screenshot 2019-07-25 12 41 50](https://user-images.githubusercontent.com/1500149/61904621-0d425580-aedc-11e9-9cd0-4ded0689114a.png)
![Screenshot 2019-07-25 12 42 37](

[2019-07-25 20:00] colesbury commented on #23395
Yeah, I don't think this to be fixed. It's an artifact of the order of computations and reverse-mode automatic differentiation. You're trying to apply global reasoning to a problem that's computed by local operations (the chain rule)

The chain rule gives you:

dwdx = (dw/dy * dy/dx) + (dw/dz * dz/dx)

dw/dz = [1, 0]
dz/dx = [0.125, inf]
dw/dz * dz/dx = [0.125, NaN]

In this case you really want 0

[2019-07-25 20:00] #23395 closed

[2019-07-25 20:07] ezyang commented on #20984
Thanks @brianjo. I'm afraid that PageSpeed doesn't give the full picture: it likes the prerendered KaTeX the best, but as the other folks here has mentioned, it doesn't actually perform all that well.

[2019-07-25 20:07] yf225 commented on #17492
@zrphercule told me that he is not working on it. I will take it.

[2019-07-25 20:12] VivekPanyam commented on #23039
Great! Thank you so much!

RE

@soumith Are they actually drop in replacements of each other? In the past, I ran into issues with missing symbols when using the wrong `libtorch.so`. This was a while ago though so maybe it's not an issue anymore.

It seems like there are some differences on a recent nightly, but I haven't looked into it too much:

[code]

[2019-07-25 20:13] Chillee commented on #20984
@ezyang that was the prerendered svg, but it's possible I was doing something weird (I was rushing to lunch). I'll check it again when I get back.

[2019-07-25 20:23] ezyang commented on #20984
@Chillee I have noticed that sometimes, the SVG renderer stalls, and it takes a lot longer for the svg to render (Macbook Pro, Chrome). It doesn't happen consistently though.

[2019-07-25 20:33] rtarquini commented on #23392
Using float64 results in a closer calculation between cpu/gpu.  I suspect there is precision problem in the mean() code associated with the summing the float32 values.  i.e small values summed at the end of array may be rounded off.  Sorting the array from smallest->largest before summing would produce a more precise sum.

tensor(5000.8500, dtype=torch.float64)

tensor(5000.8499, device='cuda:0',

[2019-07-25 20:33] Chillee commented on #20984
@ezyang yeah when trying it again it seemed pretty normal (on par with the png times).

The new page (with no HTML/JS) loads in ~3.7s on mac and about ~4.0s on my linux laptop.

[2019-07-25 20:40] ezyang commented on #20984
@Chillee  Thanks. If all else fails, we'll go SVG, but I *do* think the KaTeX looks better, so I am pretty interested if we can get it fast enough. Here's my latest attempt: https://5d3a1189e90ce1000780e247--upbeat-roentgen-bdeb9e.netlify.com/nn.html#pixelshuffle (most of the change is preloading webfonts for KaTeX and the website.) This is pretty snappy on my browser; I don't know about yours tho

[2019-07-25 20:42] hagenw commented on #23294
Server side pre-rendering is now included in sphinxcontrib-katex:
https://github.com/hagenw/sphinxcontrib-katex/releases/tag/0.5.0

Thanks for suggesting it.

[2019-07-25 20:47] ezyang commented on #23294
This particular bug is fixed, we'll continue the rest of the discussion at #20984

[2019-07-25 20:47] #23294 closed

[2019-07-25 20:47] Chillee commented on #20984
I do agree that the KaTeX looks better, and the newest attempt takes about ~4s on my Mac, and about ~5.5s on my Linux laptop.

[2019-07-25 20:49] ezyang commented on #20984
That sounds better than imgmath svg/png :)

[2019-07-25 20:52] Chillee commented on #20984
It does indeed :D

[2019-07-25 20:53] #23296 closed

[2019-07-25 20:53] suo commented on #22979
Okay, we have decided to push this until after the release. Closing for now.

[2019-07-25 20:53] #22979 closed

[2019-07-25 20:55] #5325 closed

[2019-07-25 21:01] farleylai opened #23401 "RuntimeError: cuda runtime error (3) : initialization error AFTER daemonization"
## 🐛 Bug

Calling `torch.cuda.is_available()` or `torch.cuda.device_count()` BEFORE `with daemon.DaemonContext(...):` and then call any torch API that internally calls ` th._C._cuda_getDevice()` AFTER daemonization throws the following runtime error:

However, the use case is to set all the seeds and visible GPUs according to the availability of GPUs and user config as early as possible as part of

[2019-07-25 21:07] #23152 closed

[2019-07-25 21:08] Jianhui-Li commented on #23042
@soumith We had a post-mortem for the recent issues on mkl-dnn conv.  MKL-DNN is committed to continuously improve validation quality and test coverage. This is an ongoing process.  We are planning systematic code coverage analysis to monitor quality of the efforts.

Thanks for understanding this specific issue is not a defect as FP arithmetic does not guarantee bitwise identical results.

[2019-07-25 21:18] VitalyFedyunin opened #23403 "Memory Format support for Resnet models"
We define 4D tensor as stored in channels last memory format, when dimensions order is NCHW and ```C-strides < W-strides < H-strides < N-strides``` _(If size of any dimension is equal to 1, this dimension strides value is not taken into account)_.

Channels last contiguous tensor is channel last tensor which occupies contiguous memory block. So ```x.is_contiguous(memory_format=torch.channels_last)

[2019-07-25 21:19] pjh5 commented on #23039
@VivekPanyam the wheels include more optional dependencies; probably MKL and stuff like that. But, I'm building a new set right now, so you shouldn't need to try that anymore.

[2019-07-25 21:35] VitalyFedyunin commented on #23403
CC @ezyang @ifedan @zou3519 @csarofeen @dzhulgakov @soumith
Draft as I'm going to create bunch of PRs and Issues covering some of tasks.

[2019-07-25 21:38] heethesh commented on #8103
@dusty-nv Thanks! Just rebuilt PyTorch on TX2 with JetPack 3.3 and it solved the issue.

[2019-07-25 21:40] Chillee commented on #20984
Don't know if you've been messing around with it, but the link anchors no longer work on the most recent one: https://5d3a1189e90ce1000780e247--upbeat-roentgen-bdeb9e.netlify.com/nn.html#pixelshuffle

[2019-07-25 21:40] fmassa commented on #23403
Question about the reshape / view comment above: does this perform any permutation on the data to put it in NCHW? I suppose not, as it would be very intuitive.
But if that's the case, then we wont be able to run models on different memory formats without hand-modifying the weights of the Linear layer I believe

[2019-07-25 21:43] ezyang commented on #23094
This is not a caffe2 issue, putting it back for retriage

[2019-07-25 21:44] VitalyFedyunin commented on #23403
At this moment I changed `x = x.reshape(x.size(0), -1)` to `x = x.contiguous().reshape(x.size(0), -1)` inside the model code. I suggest we do it internally (if x is channels last) and warn user to update the model if possible. This way pre-trained weights will match proper positions.

[2019-07-25 21:45] VitalyFedyunin commented on #23403
Exactly same applies to Alexnet `x = x.view(x.size(0), 256 * 6 * 6)` -> `x = x.contiguous().view(x.size(0), 256 * 6 * 6)`

[2019-07-25 21:52] fmassa commented on #23403
What if we replace the occurrences of reshape with flatten, and leave the possibility to specify some kind of memory format in flatten itself?

[2019-07-25 21:59] VitalyFedyunin commented on #23403
Well ultimately `flatten` is `reshape` and `reshape` is `view`. So regardless of the operator we need to match positions of weights and this require exactly one memory copy with .contiguous() call or similar op.

Good news are:
- At this point Tensor size is relatively small.
- We can look how we can optimize conversion from torch.channels_last to torch.contiguous_format

[2019-07-25 22:03] VitalyFedyunin commented on #23403
To be honest, this point is the most *questionable*, but at same time easiest to solve one way or another, and we can move it out from performance test task. As I just wanted to write it down, as question might appear.

[2019-07-25 22:07] fmassa commented on #23403
Flatten is a subset of reshape: it only merges dimensions together, and cant create new dimensions.

I think it can be very mysterious to users to switch from `.contiguous().reshape` to just `reshape` and a model silently stops working because the Linear layer expects data played down differently. At the very least we should make the layout in the contiguous call explicit, to hint that this is act

[2019-07-25 22:29] Krovatkin commented on #23122
will be fixed as https://github.com/pytorch/pytorch/pull/23358 lands

[2019-07-25 23:12] lburzawa opened #23411 "Cannot install pytorch with magma"
## 🐛 Bug

The installation fails at the end when trying to compile pytorch with magma. I just installed magma 2.5.1-alpha1 and tried to install pytorch from master branch today (07/25). The error is:

[2978/3153] Linking CXX shared library lib/libtorch.so
FAILED: lib/libtorch.so
....................... (huge continuous dump of object paths in the middle)
/usr/bin/ld: /usr/local/magma/lib/libmagma.

[2019-07-25 23:12] Chillee commented on #23369
I guess, to be clear,  the issue isn't that it outputs a tensor full of 0. The issue here is that when you do `a*0.9`, the `0.9` needs to be cast to a long, and it gets cast down to `0`. For example, if you do `1.9`, then it becomes `a*1`. I don't know enough about the type promotion to say whether this is intended, but it makes sense to me.

[2019-07-25 23:41] Chillee commented on #6124
Pretty sure these are both resolved @jzazo . I'll close these issues. Reopen if there's something I missed.

[2019-07-25 23:41] #6124 closed

[2019-07-25 23:42] Chillee commented on #3858
Closing due to https://github.com/pytorch/pytorch/pull/17240

[2019-07-25 23:42] #3858 closed

[2019-07-26 00:27] peterjc123 commented on #23378
It is now merged into torch.lib.

[2019-07-26 00:27] #23378 closed

[2019-07-26 00:32] peterjc123 commented on #23411
cc @soumith

[2019-07-26 00:43] ezyang commented on #11390
I think the final reply in #12502 is more in line with what I would have expected.

[2019-07-26 01:04] Chillee commented on #13712
https://github.com/pytorch/pytorch/issues/20984 is tracking the same issue. Closing this one in favor of that one.

[2019-07-26 01:04] #13712 closed

[2019-07-26 01:42] apaszke commented on #19422
Yes, this definitely needs to be fixed! I think `range` was fine, because I doubt anyone imported it as an unqualified name, but `record` seems fine with me too 🤷‍♂

[2019-07-26 02:13] ThisIsIsaac opened #23413 "BenchmarkCache for other kernels"
## 🚀 Feature

Further improve throughput increase from setting `torch.backends.cudnn.benchmark = True`.

## Motivation

## Pitch

Turning `torch.backends.cudnn.benchmark = True` seesm to greatly improve throughput (30 ~ 40%).

I dug into the source code trying to find how it is implemented, and came across BenchmarkCache defined [here](https://github.com/pytorch/pytorch/blob/358fb51e773b8ad509ec27

[2019-07-26 02:17] ezyang commented on #20984
Yes, that will need to get fixed. I guess there was some JavaScript that was making them visible; we should switch that to CSS only.

[2019-07-26 02:23] ThisIsIsaac commented on #23413
Okay, so it seems like searching kernel search of cuDNN is only invoked when using CNN. Other computations such as RNN do not require this heuristic search, so that's the reason why we only cache for CNNs. If this is the case, then I will simply close the issue as there would be no point in trying to cache other cuDNN kernel choices.

[2019-07-26 02:26] 401qingkong commented on #21015
So how to use the actual IB, not IPoIB with gloo or mpi backend, could you give me some advice? Thanks in advance.

[2019-07-26 02:32] vishwakftw commented on #23411
@lburzawa could you provide the make.inc file that you used for compiling MAGMA?

[2019-07-26 02:33] rgommers commented on #19422
true. but from experience, it's worth it now even just to avoid the drive by contributions from people who run style checkers and think it's really important to not shadow builtins. for numpy and scipy we have the same discussions about the same functions about once every 1-2 years ...

[2019-07-26 02:45] un-knight commented on #23363
I meet the same problem:
[code]

And it's strange that I can run the same script correctly with Pytorch1.0 but get an nccl error with pytorch1.1

[2019-07-26 03:04] as754770178 commented on #23363
I follow the pytorch document, set `export NCCL_SOCKET_IFNAME=IBNet` `export NCCL_DEBUG=INFO` `export NCCL_DEBUG_SUBSYS=ALL`.
The program not report error, but stuck. The last of log:
[code]

[2019-07-26 03:16] apaszke commented on #23403
I would be very careful about `.clone()` preserving the memory format, because it's likely that there is code out there which assumes that its outputs are contiguous in the traditional sense, and e.g. pass it off to C++ code.

Why should we bother with layouts in `.resize_as_`? This op should probably be made internal anyway. Where is it used in a ResNet?

[2019-07-26 03:38] travishsu commented on #23366
It somehow looks like Stochastic Weight Averaging, could be plugged into every existed optimizer. Maybe it's more appropriate to write some wrapper class like scheduler.

[2019-07-26 03:41] mthrok commented on #17998
@pbelevich I tested the latest binary and it is working now. Thanks.

[2019-07-26 03:41] #17998 closed

[2019-07-26 03:52] rgommers commented on #23039
New CUDA 10  nightlies are up, `latest` and with dates:
https://download.pytorch.org/libtorch/nightly/cu100/libtorch-shared-with-deps-1.2.0.dev20190725%2Bcu100.zip

See https://github.com/pytorch/pytorch/pull/23388#issuecomment-515297875 for the explanation of `%2B` in the link.

[2019-07-26 06:01] PistonY commented on #23366
@travishsu I noticed that too, and it seems not update model parameters every batch/iter but find a good status then update. Looks like different between existed optimizer.

[2019-07-26 06:02] rgommers commented on #15476
This is fairly involved.

The root cause: `libculibos.a` and a number of other libs are referred to via `${CUDA_TOOLKIT_ROOT_DIR}/lib64/libname`. examples:
[code]
There's 18 instances of that - those are all incorrect, CUDA install locations can vary. For example on Arch Linux:
[code]
On other distros it can be in other places.

The "official" way to get this right should be to use CMake's built-i

[2019-07-26 06:10] rgommers commented on #15063
This is correct.

I propose to close this as a duplicate of gh-15476 (which now has more details, and is labeled as high-prio).

[2019-07-26 06:14] sjtusmartboy opened #23419 "why there's SparseFtrlOp and FtrlOp but only GFtrlOp without SparseGFtrlOp"
FtrlOp:
https://github.com/pytorch/pytorch/blob/519570def878eb48cc9a50183f90f7009c3afdb8/caffe2/sgd/ftrl_op.cc#L60

SparseFtrlOp:
https://github.com/pytorch/pytorch/blob/519570def878eb48cc9a50183f90f7009c3afdb8/caffe2/sgd/ftrl_op.cc#L84

GFtrlOp:
https://github.com/pytorch/pytorch/blob/519570def878eb48cc9a50183f90f7009c3afdb8/caffe2/sgd/gftrl_op.cc#L72

[2019-07-26 06:59] NeilWangziyu opened #23420 "Will the Jit support typehint OPTIONAL or UNION?"
## ❓ Questions and Help

Will the Jit support typehint OPTIONAL or UNION?

As the title indicates, will jit support we use UNION and Optional to indicate the type of input/output.

[2019-07-26 07:19] ambyerhan opened #23421 "stopping subprocesses"
#### ❓ is there any way to stop the subprocesses?

i want to implement the early stop on validation bleu score. Although when the main process stopped since the bleu not improve any more, the subprocess keep runing. So,  is there any way to stop the subprocesses when the main process exits? Thanks a lot~

[2019-07-26 07:29] anguoyang commented on #15711
@peterjc123  I used visual studio/libtorch on both release and debug mode, all failed to load the model, it seems that the latest libtorch has bug on it.

[2019-07-26 07:37] kakaluote opened #23423 "how to process c++ forward multiple return values"
my model return value like this  , it is detection model
output = (
                tensor1,                   # loc preds
                tensor2          # conf preds
 )

how to get return values in c++

[2019-07-26 08:34] as754770178 commented on #23363
I run docker in `--net=host`, and  `set export NCCL_SOCKET_IFNAME=IBNet`  `export NCCL_DEBUG=INFO`  `export NCCL_DEBUG_SUBSYS=ALL`.
The node `rank=0` report error:
[code]

[2019-07-26 08:59] un-knight commented on #23363
@pietern I think this problem maybe related with nccl library according to https://github.com/horovod/horovod/issues/893, there are some bugs with nccl 2.4.2 https://github.com/NVIDIA/nccl/pull/185.

pytorch1.1 may downgrade nccl 2.4.2 to 2.3.7 to fix this problem.

[2019-07-26 09:25] t-vi commented on #23423
Please use the [forum](https://discuss.pytorch.org/) for this. In fact, you'll get a tuple in this case and then `auto outputs = module->forward(inputs).toTuple();` works.

[2019-07-26 09:25] #23423 closed

[2019-07-26 10:00] rotuna commented on #19947
Hi, I'd like to try working on this.

[2019-07-26 10:05] alexeyr commented on #23300
The second problem (in tanh.cc) doesn't seem to be fixed.

[2019-07-26 10:09] chenchr opened #23425 "Hanging on when one gpu node return zero as loss in the context of distributed data parallel training"
## 🐛 Bug

Hello.
I am training a multi task network on a cluster using 8 gpu with ```Distributed Data Parallel```.
On every iteration, I process one image per gpu.
Suppose I have ```task_a``` and '''task_b``` with ```loss_a``` and ```loss_b``` respectively.
In some case, the ```loss_a``` could be zero on one gpu, which means that there is no loss computed.
Then I just return the zero tensor.
When

[2019-07-26 10:15] pietern commented on #23300
@alexeyr Can you create a separate issue for that?

[2019-07-26 10:35] Rikorose opened #23426 "mkldnn conv2d: Illegal instruction (core dumped)"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

[code]

bt full:
[code]

## Expected behavior

No core dump

## Environment

[code]

[2019-07-26 10:36] blackxer opened #23427 "ONNX export failed: Couldn't export operator aten::flatten"
When i exported my model to onnx. I got this error.
My pytorch version is 1.0.1.
[code]

[2019-07-26 10:37] Rikorose commented on #23426
nvm nightly `torch-nightly-1.2.0.dev20190725+cpu` seems to fix this.

[2019-07-26 10:38] #23426 closed

[2019-07-26 11:14] kakaluote commented on #23423
think you

[2019-07-26 11:37] lelayf commented on #14165
I would suggest reopening this issue, having the exact same problem on MacOS. Also the `wget` in installation page points us to a version that will not work on MacOS, saving an extra investigation hoop from there could be useful.

[2019-07-26 11:40] soumith commented on #23421
please use https://discuss.pytorch.org for questions

[2019-07-26 11:40] #23421 closed

[2019-07-26 11:40] soumith commented on #23420
please use https://discuss.pytorch.org for questions

[2019-07-26 11:40] #23420 closed

[2019-07-26 11:41] soumith commented on #23419
please use https://discuss.pytorch.org for questions

[2019-07-26 11:41] #23419 closed

[2019-07-26 11:41] soumith commented on #15063
closing in favor of #15476

[2019-07-26 11:41] #15063 closed

[2019-07-26 11:49] soumith commented on #23403
I'm not worried about the `.clone()` semantics @apaszke . For example, no user has noticed that TensorIterator based `torch.*` functions went from outputs always being contiguous to outputs matching input layouts. It happened somewhere around 1.0, and we didn't receive a single bug report or forum post.

[2019-07-26 11:49] soumith commented on #23403
@fmassa

The worst case for memory format is that there will be an extra transpose and copy. memory formats can never give wrong results.

[2019-07-26 11:52] soumith commented on #23411
the error is pretty self-explanatory, you have to recompile magma with `-fPIC` enabled.
See my patches for magma 2.5.0 and roughly do the same: https://github.com/pytorch/builder/blob/master/conda/magma-cuda90-2.5.0/cmakelists.patch#L34

[2019-07-26 11:52] #23411 closed

[2019-07-26 11:53] soumith commented on #23413
CuDNN limitation, it only implemented kernel search + cache for Convolutions.

[2019-07-26 11:53] #23413 closed

[2019-07-26 12:35] alexeyr opened #23429 "Unreachable code in tanh"
## 🐛 Bug

In https://github.com/pytorch/pytorch/blob/9a281451ed7f00d052212695ea112ebe872776f6/caffe2/quantization/server/tanh.cc#L17-L48
all code after line 22 is unreachable. This doesn't seem to be intentional (maybe someone added it for testing and forgot to remove it?).

[2019-07-26 12:35] alexeyr commented on #23300
@pietern Done: #23429

[2019-07-26 12:37] soumith commented on #23366
We don't think this method should be in pytorch core, as opposed to your own personal repository or something like https://github.com/pytorch/contrib , at least not yet in time.

Our reservation is that we want to include methods that the community uses as a standard, or else the code maintenance problem balloons up for us.
We do show discretion based on what the paper shows as evidence, for examp

[2019-07-26 12:37] #23366 closed

[2019-07-26 12:45] fmassa commented on #23403
@soumith I think I misunderstood what was going to happen.

So now inside of `torch.reshape` there will be a prior step where `x.contiguous(memory_format= contiguous_format)` is called?

In this case, there will be indeed no problems for the case I was thinking.

But this could also be confusing to the users, as now the semantics of `.reshape` become more complicated, and are equivalent to `.permu

[2019-07-26 12:54] h6197627 commented on #14317
@gemfield, I will try to reanimate this issue and provide my error logs for building Caffe2 with Protobuf-lite with minimal dependencies configuration.
I added **option optimize_for = LITE_RUNTIME;** to caffe2_legacy.proto, caffe2.proto, hsm.proto, metanet.proto, predictor_consts.proto, prof_dag.proto, torch.proto files.

**CMake configuration output:**
[code]

**Make log:**
[code]

[2019-07-26 13:24] simonhessner commented on #11612
I support this request :-)

[2019-07-26 13:29] ily-R commented on #1927
This worked for me : [https://discuss.pytorch.org/t/timedistributed-cnn/51707/2?u=ilyes](https://discuss.pytorch.org/t/timedistributed-cnn/51707/2?u=ilyes)

[2019-07-26 13:53] chengsyuan commented on #4132
This bug is actually not a bug, 1/0=inf, the easy solution is to **use eps instead of 0**

[2019-07-26 13:54] mrshenli commented on #23363
Hi @un-knight, the master branch has been updated to 2.4.8 in #23186 four days ago. Can you try the nightly or build from source?

[2019-07-26 13:56] PistonY commented on #23366
I understood, just a suggestion. I don't think it would become a standardized method when I finish reading the paper in detail, hoping I can try it sometimes.

[2019-07-26 14:00] taras-sereda commented on #22853
@soumith well, anyway cpu and gpu implementations behave differently. cpu implementation returns **highest** index of max value instead of **lowest**, while argmax() has a well defined behavior in numpy.
https://docs.scipy.org/doc/numpy/reference/generated/numpy.argmax.html

[2019-07-26 14:01] fmassa opened #23430 "[Feature request] Let DistributedSampler take a Sampler as input"
## 🚀 Feature

## Motivation

Currently, `DistributedSampler` assumes that it takes a `Dataset` as argument. But in reality, the only information it exploits from it is its `len`.

We sometimes want to have a custom Sampler to be used in distributed mode. So it might be desirable to also let `DistributedSampler` take a `Sampler` as argument.

## Potential implementation

The only difference is that

[2019-07-26 14:09] pbelevich commented on #23311
fixed

[2019-07-26 14:09] #23311 closed

[2019-07-26 14:19] sdll commented on #22488
Would love to see this implemented! Are there any updates on this?

[2019-07-26 14:20] ezyang commented on #2083
With a more recent version of scikit learn, our gcc5.4 build is affected by this:

[code]

https://circleci.com/gh/pytorch/pytorch/2292470?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2019-07-26 14:26] SsnL commented on #21798
fixed in https://github.com/pytorch/pytorch/pull/21986

[2019-07-26 14:26] #21798 closed

[2019-07-26 14:32] Omegastick commented on #19679
I'm also getting this issue on Ubuntu 18.04.

[2019-07-26 14:58] cbarburescu opened #23431 "Cannot export DataParallel model"
## 🐛 Bug

Hello guys,

@AlexMuresan and I are trying to export a model trained using DataParallel, but it does not work as expected. Instead of saving an .onnx file at the required path, our script prints some errors and exits.

## To Reproduce

Steps to reproduce the behavior:

1. Train a model wrapped in DataParallel
1. Try to export it using torch.onnx.export

Code:
[code]

Error:
[code]

## Ex

[2019-07-26 15:15] sssohrab commented on #7911
How about this?:

`output = F.conv_transpose2d(input,F.pad(torch.ones(1,1,1,1),(1,1,1,1)),stride=2,padding=1) `

[2019-07-26 15:19] nurettinabaci opened #23432 "C++ protoc.exe fail with .proto files"
Hello, I want to use Caffe2 C++ API with Visual Studio 2015, I made instructions that described [here](https://caffe2.ai/docs/cplusplus_tutorial.html). At the bottom of this page, it says we should run `protoc –cpp_out=./ $FILENAME.proto` in directory of `$CAFFE2_DIRECTORY\caffe2\proto` . When I want to create .cc and .h files with this command, other file's .cc and .h files are created but that t

[2019-07-26 17:02] astooke commented on #3619
Still getting some weird hangs here with multiprocessing fork...seems irregular and difficult to reproduce/predict, but at least setting `torch.set_num_threads(1)` in whatever subprocess seems to let things proceed.

[2019-07-26 17:14] arpitdm opened #23434 "einsum equation with conditional mask works in numpy but not in PyTorch"
## 🐛 Issue Description

I have a snippet of code that works when I use ``np.einsum``. But it's PyTorch equivalent throws an error for the conditional mask ``A==1.0``. Is this a bug or is this behaviour expected?

## To Reproduce

Steps to reproduce the behavior:

Input:
[code]

NumPy Code for matrix multiplication using ``einsum``:
[code]

Output:
[code]

Equivalent PyTorch Code:
[code]

Error Mes

[2019-07-26 17:49] gchanan opened #23440 "[C++] Consider accessing qint data with underlying data type."
Currently we do things like:
https://github.com/pytorch/pytorch/blob/34f53564b4e5937780a9784e7694c4df98c217cb/aten/src/ATen/native/quantized/cpu/qconv_unpack.cpp#L43-L44

it's probably cleaner to just directly access the data as the underlying type, as long as we check that only the underlying type is allowed.

[2019-07-26 17:59] mrshenli commented on #23425
Hi @chenchr, the task has to return the computed output/loss instead of manually create a new zero tensor even if the loss is indeed zero. Because, that loss tensor/variable not only stores the loss value, but also the autograd graph. DDP will use that loss (or output) tensor to find all participating parameters and do the backward reduction.

If returning the real loss tensor does not solve the p

[2019-07-26 18:04] VivekPanyam commented on #23039
Thank you!

When was the CUDA version added to the version strings? That makes it a little harder to generate urls for nightly builds because it requires some special casing based on the date. Is there a way you could reupload old builds with the new naming? It's not a huge deal, but that would be helpful. Happy to open another issue if that makes more sense than talking about it here.

(Also, for

[2019-07-26 18:06] matthewpurri opened #23441 "CUDA variables consume large amounts of RAM"
## 🐛 Bug

A large consumption of RAM memory is used when creating a 'cuda' type variable. This occurs even if the variable is very small such as a 5x5 random matrix. In the example shown below a total of ~10gb of RAM is consumed. I am using the terminal command `top` and the 'VIRT' column to determine the RAM consumption.

## To Reproduce
[code]

## Expected behavior
A much smaller amount of memor

[2019-07-26 18:09] rgommers commented on #23039
this should be easy to check with your `validate_nightly_builds.py` script linked above. Based on the output of that, it happened on `20190723`.

[2019-07-26 18:20] pjh5 commented on #23039
The version string was added in https://github.com/pytorch/pytorch/pull/23325 .

CUDA 9.0 was removed recently for other reasons, in https://github.com/pytorch/pytorch/pull/22784 , in order to enable AVX512 support in the nightlies.

[2019-07-26 18:32] DanlanChen opened #23444 "cpu and gpu different behavior for `a +=b`"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. a = torch.tensor(0.0)
1. b = torch.tensor(-0.4)
1. b = b.expand([156,8,1])
1. a = a.expand_as(b)
on cpu a += b will give you the the sum of all b for each item; a will become [-499.1947,.....]
on gpu a +=b give you the correct one [-0.4,-0.4,......-0.4]

## Expected behavior

## Environment

Please copy and paste the output from our
[

[2019-07-26 18:33] DanlanChen commented on #23444
@pytorchbot

[2019-07-26 18:41] pjh5 commented on #15476
That PR is pretty old and rotted, and iirc I was trying to also make all the CUDA logic prettier at the same time, which was a bad idea. The problem I was trying to fix was specific to the binaries: we used cmake to add culibos as a dependency when building libtorch, when then causes culibos to be listed as a dependency in the Caffe2Targets.cmake (as expected and correct). However we then manually

[2019-07-26 18:48] rgommers commented on #15828
I think this is a valid bug report. Every mention of `libculibos` in the CMake files explicitly hardcodes `.a`. It probably should be using `CMAKE_SHARED_LIBRARY_SUFFIX` instead. Related to gh-15476, should be taken along when fixing that.

[2019-07-26 18:53] jstran97 commented on #12644
Sorry for posting on a closed thread, but if possible, can you please elaborate on the process you took? I am working on a school project and have exhausted most avenues on how to install PyTorch on a PYNQ Z1 board.

Python version on PYNQ Z1:  3.6.5
Pip version:  9.0.1

Thank you

[2019-07-26 18:57] manoharvhr commented on #12644
How long do you have?

[2019-07-26 19:08] jstran97 commented on #12644
We have until around April 2020, but this is the first step of the project and we've been stuck on it ever since June.

Our PYNQ Z1 currently has the version 2.4 image, which has the NumPy and the SciPy libraries included in it.

[2019-07-26 19:10] DanlanChen commented on #23444
problem solved in version pytorch 1.1.0
if use clone () and add

[2019-07-26 19:10] #23444 closed

[2019-07-26 19:13] manoharvhr commented on #12644
I have actually developed a framework for developers to use hardware accelerators with pytorch as my Thesis project. I will soon be having a git page and paper supporting it.

[2019-07-26 19:16] rgommers commented on #15476
Ah yes. I don't quite see where that happens (the finangling, not the rpath changes), but  there's no `libculibos.a` in the nightly static or shared binaries and no linking to it from the `libcaffe` or `libtorch` shared libs. So that all looks fine.

Now of course the removal of that dependency is specific to the binaries, for anyone building from source the dependency should stay.

I think it's C

[2019-07-26 19:19] jstran97 commented on #12644
Thank you so much for taking your time to read and reply to our posts! We really appreciate it! We'll be looking forward to its release!

[2019-07-26 19:23] manoharvhr commented on #12644
No problem! I was at your stage in my project so I know how frustrating it is to not find resources on PYNQ. I will reply to this thread once I have published.

[2019-07-26 19:27] matthewpurri commented on #23441
Upgrading CUDA and python did not help either.
PyTorch version: 1.1.0
Is debug build: No
CUDA used to build PyTorch: 10.0.130

OS: Ubuntu 16.04.6 LTS
GCC version: (Ubuntu 5.4.0-6ubuntu1~16.04.11) 5.4.0 20160609
CMake version: version 3.14.0

Python version: 3.7
Is CUDA available: Yes
CUDA runtime version: 10.0.130
GPU models and configuration:
GPU 0: GeForce GTX TITAN X
GPU 1: GeForce GTX TITAN X

[2019-07-26 19:51] VivekPanyam commented on #23039
Okay, thanks. It seems like the mac builds don't have `+cpu` in the version string. (The mac nightly url for today is `https://download.pytorch.org/libtorch/nightly/cpu/libtorch-macos-1.2.0.dev20190726.zip`)

Is that a bug or intentional? I know that all the Mac builds are on CPU, but it would be good if the naming was consistent.

Also, I don't believe that these URLs are documented anywhere. I’m

[2019-07-26 20:13] matthewpurri commented on #23441
VIRT is the virtual memory and not the actual RAM used so this issue is irrelevant.

[2019-07-26 20:13] #23441 closed

[2019-07-26 20:13] pjh5 commented on #14165
cc @kostmo

[2019-07-26 20:57] pjh5 commented on #23039
Yes, the mac builds do not have the +cpu on them, since all mac builds are cpu only. This was intentional, since it's redundant and the + can mess up old pips. Fwiw the naming is already inconsistent across mac and linux; linux conda cpus are pytorch-nightly-cpu but mac conda cpus are just pytorch-nightly.

I don't think we ever really wanted to advertise the urls down to specific dates. We have t

[2019-07-26 21:04] ezyang commented on #22848
Ah, well, maybe there is not a problem with three more functions :)  It
is mostly a matter of discoverability.

Re demand, I agree with you!  But another thing that we like to do is, even if
demand is low, if someone cares enough about a feature to implement it,
we like to come with a determination about whether or not we would
invest the time to review and merge it.  I think in this case the
answ

[2019-07-26 21:08] ezyang commented on #18949
No it doesn't.

Excerpts from Will Feng's message of 2019-07-24 15:28:03 -0700:

[2019-07-26 21:12] aselva-eb opened #23450 "error: no viable conversion from 'script::Module' to 'std::shared_ptr<torch::jit::script::Module>'"
Hi all,

I'm following the tutorial located https://pytorch.org/tutorials/advanced/cpp_export.html on Converting a PyTorch model to C++

I'm going through the minimal example as is on the page, but having a few issues when I try to make the binary at the end of step 3.

Specifically, here is the output error that I get:

`/Users/XXXXX/Desktop/cpp_transform/test/example-app.cpp:13:47: error: no via

[2019-07-26 21:28] suo opened #23453 "[jit] recursive compilation for class types losing compile stack info"
This makes it very confusing for users when their calls to random py libraries try to get scripted. @driazati has a repro and is working on a fix.

[2019-07-26 22:05] izdeby commented on #23373
Please use https://discuss.pytorch.org for questions. Please kindly feel encouraged to reopen this issue, if this does not apply.

[2019-07-26 22:05] #23373 closed

[2019-07-26 22:10] izdeby commented on #23385
Please use https://discuss.pytorch.org for questions. Please kindly feel encouraged to reopen this issue, if this does not apply.

[2019-07-26 22:10] #23385 closed

[2019-07-26 22:14] lburzawa commented on #23411
thanks

[2019-07-26 22:29] izdeby commented on #23369
fyi, @nairbv

[2019-07-26 22:32] driazati commented on #23450
Are you using a nightly/master build of libtorch? This was changed recently and we haven't updated the tutorial on the stable docs yet (which apply to v1.1), you can see an updated version [here](https://github.com/pytorch/tutorials/pull/560).

TLDR: `script::Module` was changed to a value type, so you can just do `script::Module myModule = torch::jit::load(argv[1]);`

Closing since we already hav

[2019-07-26 22:38] juselec opened #23459 "DataLoader with sparse matrices adds a dimension to the batch"
## 🐛 Bug

I do not know if this is actually a bug or it is the expected behavior. I am experimenting with sparse data. I create a Dataset class that stores a scipy.sparse.csr_matrix (csr because it is able to slice the matrix and create minibatches). The `__getitem__` method transforms the csr matrix into a minibatch of class tensor.sparse.FloatTensor. If I slice the dataloader the dimensions are

[2019-07-26 22:40] soumith commented on #23459
it's not a bug, it's dependent on how our `default_collate` function handles the Tensor batching.
If you want different behavior, you can give a custom `collate_fn` that you define to `DataLoader`.

Here's the code pointer to the `default_collate` function:

https://github.com/pytorch/pytorch/blob/058beae4115afb76ee5f45dfa42c6ab4ee01895c/torch/utils/data/_utils/collate.py#L43-L82

[2019-07-26 22:47] InternetExplorer9 commented on #23390
Are there any instructions on recompiling the source after adding a special operation? `cmake CMakeLists.txt` produces `Makefile`, `cmake_install.cmake`, and `CMakeCache.txt`.  Running `make` in the same dir as `Makefile` runs, but doesn't produce the `_C ... .so` executable I'm looking for.

[2019-07-26 22:47] juselec commented on #23459
Ohh, didn't know about that. Thanks a lot!

[2019-07-26 22:47] #23459 closed

[2019-07-26 22:56] ilanbiala commented on #14848
@gchanan @igormq @VitalyFedyunin any update on this?

[2019-07-26 23:02] soumith commented on #14165
this indeed needs to be fixed, we should include mklml.dylib in the osx wheels, and add import smoke-tests that will trigger the issue.

[2019-07-26 23:02] #18966 closed

[2019-07-26 23:02] #19002 closed

[2019-07-26 23:16] soumith commented on #23403
@fmassa `memory_format` as an entire feature doesn't change sizes, it only changes strides.

[2019-07-26 23:23] #19796 closed

[2019-07-27 00:14] mark-fangzhou-xie opened #23466 "import failure (macOS)"
## 🐛 Bug
I was using pytorch without any issue, but I just found out today that when importing torch, it threw me an error. Possibly regarding MKL library. I could not figure out why.

## To Reproduce

Steps to reproduce the behavior:

1. `import torch`
1.
1.
Below are the error message:
[code]

## Expected behavior

Clearly, it should not be happening.

## Environment

Please copy and paste the o

[2019-07-27 00:27] anguoyang opened #23467 "is it possible to add c++ api to load .pth model directly?"
is it possible to add c++ api to load .pth model directly?
Currently, we have to convert from pth to pt by way of torchscript, I really puzzled why pytorch DO NOT want to provide unified interface for both .pth and .pt, which is not difficult to implement

[2019-07-27 00:51] jiangyuang commented on #16667
A (simplified) solution could be to use this sparse tensor constructor:
[code]
and add the following \_\_reduce\_\_ to the torch.sparse.FloatTensor class:
[code]

For a temporary workaround, we can implement a subclass of Pickler:
[code]

[2019-07-27 01:12] #23390 closed

[2019-07-27 01:36] mustafa-qamaruddin commented on #16599
It would be amazing if this feature gets integrated to the master branch. Being implemented in CUDA and C should make it very efficient. I am training a WGAN, so I would definitely vote for this feature.

[2019-07-27 01:52] mark-fangzhou-xie commented on #23466
After searching on google I found that it is possibly because I add the following into `~/.bash_profile`:
`export LD_LIBRARY_PATH=/opt/arrayfire/lib:$LD_LIBRARY_PATH`.

I added this line when trying to use ArrarFire for julia. After commenting it out, everything works fine now.

Thank you!

[2019-07-27 01:52] #23466 closed

[2019-07-27 02:02] un-knight commented on #23363
@mrshenli ok, I will have a try and feedback the result.

[2019-07-27 02:08] LJXLJXLJX commented on #23004
MKL support 64bit only, so I use openBLAS instead, it's slow as well.

[2019-07-27 02:08] #23004 closed

[2019-07-27 02:11] as754770178 commented on #23363
Install fro source, what version needed for gcc, nccl ...?  If I use pip install, also need update nccl to 2.4.8?

[2019-07-27 02:44] as754770178 commented on #22679
[code]

I refer to the pytorch imagenet example. Can you explain the using of ` torch.cuda.set_device()`. I read in document, this function only set the device to use. This function is not setting the main gpu to use. Can I think ` torch.cuda.set_device(gpu_ids[0])` is useless, if `isinstance(gpu_ids, list)`?

[2019-07-27 02:47] peterjc123 commented on #15828
Yes, I see. Since it's the same problem as #15476, let's close this one.

[2019-07-27 02:47] #15828 closed

[2019-07-27 03:19] hackerpeter1 commented on #8069
666

[2019-07-27 03:23] sajaddarabi opened #23470 "SequentialSampler Not as Intended.."
## 🐛 Bug

This pesky bug was quite an annoying one! I had train set leak into my test set as the SequentialSampler is not implemented correctly I am presuming.

Referring to [here](https://pytorch.org/docs/stable/_modules/torch/utils/data/sampler.html), the `SequentialSampler(Sampler)` is supposed to return elements from the dataset in order, instead it's returning an index starting from 0.

What

[2019-07-27 03:26] aselva-eb commented on #23450
Thanks, I updated my code according to the changes in the PR you linked to.

I was able to get a bit farther, but now I'm running into other problems with the libtorch library. It looks like the dependencies weren't built for the arch of my Mac OSX:
When I go to make my application...

`Undefined symbols for architecture x86_64:
  "c10::Error::Error(c10::SourceLocation, std::__1::basic_string<char

[2019-07-27 03:43] SsnL commented on #23470
No, SequentialSampler works as intended. It takes in the dataset, not the set of indices. Your use case just needs another sampler.

[2019-07-27 04:07] Omegastick commented on #19679
I had forgotten to do `export CMAKE_PREFIX_PATH="$(dirname $(which conda))/../"` before building PyTorch. Rebuilding PyTorch with that included fixed the problem for some reason.

[2019-07-27 04:49] sajaddarabi commented on #23470
You're right.

It must have misinterpreted "Samples elements sequentially, always in the same order."... to mean it returns items from the inputted dataset sequentially as opposed to providing a set of indexes that can be used to sample from the dataset sequentially.

[2019-07-27 04:49] #23470 closed

[2019-07-27 05:49] Anahita01 opened #23471 "enforce_sorted option for pack_padded_sequence does not work"
## 🐛 Bug

enforce_sorted can not be set to False in pack_padded_sequence.
## To Reproduce

x_packed = torch.nn.utils.rnn.pack_padded_sequence(x_pad, l, batch_first=True, enforce_sorted=False)

This line of code raises the following error:

TypeError: pack_padded_sequence() got an unexpected keyword argument 'enforce_sorted'

## Environment

 PyTorch version: 1.0.0
Is debug build: No
CUDA used to b

[2019-07-27 06:22] rgommers commented on #15828
Yep, it's a variation of the same thing. Not having a Windows box available so it took a bit of hunting, but the [cusparse docs](https://docs.nvidia.com/cuda/cusparse/index.html#static-library) say:

_Starting with release 6.5, the cuSPARSE Library is also delivered in a static form as `libcusparse_static.a` on Linux and Mac OSes. The static cuSPARSE library and all others static maths libraries d

[2019-07-27 06:25] rgommers commented on #15476
To add the info from gh-15828 (closed as a duplicate): instead of hardcoding `.a`, the library extension should be made platform-dependent with `CMAKE_SHARED_LIBRARY_SUFFIX` (on linux/macos it's `.a`, on Windows `.lib`).

[2019-07-27 07:44] Gsunshine commented on #22848
Personally, I still agree with adding an kwarg, only for `logdet`. People ask for some features unless it have to be. It is not 'a slippery slope'. I could get the point to keep APIs clear and well-conducted. But ..., it is usually evolving with demands.

[2019-07-27 07:48] ElegantLin commented on #22676
@Biaocsu, I also met the problem but I fixed it. My method is:

1. I downloaded a test script from https://raw.githubusercontent.com/tensorflow/tensorboard/master/tensorboard/tools/diagnose_tensorboard.py
2. I run it and it told me that I have two tensorboards with a different version. Also, it told me how to fix it.
3. I followed its instructions and I can make my tensorboard work.

I think this

[2019-07-27 08:10] Gsunshine opened #23473 "logdet & slogdet is not numerically stable occasionally"
## 🐛 Bug

It seems the implementation of the sign of determinant is not numerical stable for a large symmetric positive-definite matrix.

## To Reproduce

[code]

## Environment

PyTorch version: 1.1.0
Is debug build: No
CUDA used to build PyTorch: 9.0.176

OS: Ubuntu 16.04.6 LTS
GCC version: (Ubuntu 5.4.0-6ubuntu1~16.04.11) 5.4.0 20160609
CMake version: version 3.5.1

Python version: 3.7
Is CUDA

[2019-07-27 08:18] Biaocsu commented on #22676
@ElegantLin thanks

[2019-07-27 08:19] vishwakftw commented on #23473
Is the matrix possibly ill-conditioned?

Also what is the output of M.symeig()[0].sum()?

[2019-07-27 08:24] Gsunshine commented on #23473
Yeah..

[code]

[2019-07-27 08:25] Gsunshine commented on #23473
[code]

[2019-07-27 08:30] vishwakftw commented on #23473
The condition number seems to be 1.6 * 1e7. So, it is possible that the value of the slogdet is correct. logdet result seems to be consistent with slogdet as sign is -1.

By the way, I’m sorry, I wanted M.symeig()[0].prod() (and not .sum()).

[2019-07-27 08:39] Gsunshine commented on #23473
I see. So I report `M.svd()[1].max()`.
Here I mean why not support `logdet` only for SPD matrix, regardless of its sign. We can conduct detailed check in `slogdet`, even via svd.

[2019-07-27 08:51] svenkreiss commented on #18429
In [openpifpaf](https://github.com/vita-epfl/openpifpaf), we are using PixelShuffle for pose estimation and seem to be affected by this problem as well: https://github.com/vita-epfl/openpifpaf/issues/102

[2019-07-27 08:53] vishwakftw commented on #23473
Oh, I missed how you generated M. It seems to be PSD and symmetric, in which case, sign should be 1 or 0. So, yes this is incorrect behavior.

Regarding your pitch for logdet supporting only SPD matrices, I think that would be bc-breaking as logdet can also take certain negative definite symmetric matrices (for example: the negative identity matrix).

[2019-07-27 09:03] nitrif opened #23474 "Error when exporting HRNet model to ONNX"
## Issue description

I get following error when trying to export [HRNet](https://github.com/HRNet/HRNet-Image-Classification) to ONNX format once the pretrained model is loaded, by adding torch.onnx.export(...) command. Do you know what might be the cause of this?

Thanks, Nikola

Message=Failed to export an ONNX attribute, since it's not constant, please try to make things (e.g., kernel size) st

[2019-07-27 09:11] Gsunshine commented on #23473
Oh, sorry for the wrong abbreviation. I mean a symmetric positive definite matrix.

Actually it could be a positive semi-definite matrix from this generating process. But I have checked its min singular value.

[2019-07-27 09:23] Gsunshine opened #23475 "Batch Jacobian like tf.GradientTape"
## 🚀 Feature

We hope to get a **parallel** implementation of the **batch** Jacobian calculation like tensorflow, e.g.

[code]

[code]

[2019-07-27 09:30] #23453 closed

[2019-07-27 09:31] qianlinjun opened #23476 "sigmoid_focal_loss_op"
I have a question about the cuda implemantion of SigmoidFocalLoss in _'pytorch/modules/detectron/sigmoid_focal_loss_op.cu'_,
`
__global__ void SigmoidFocalLossKernel(
    const int N, const int D, const int H, const int W, const float* logits,
    const int* targets, const float* weight_pos,
    const float gamma, const float alpha,
    const int num_classes, float* losses) {
  CUDA_1D_KERNEL_LOOP

[2019-07-27 09:43] vadimkantorov commented on #18631
@ezyang As bonus point, it seems they have NCHW kernel there as well: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/kernels/depthwise_conv_op_gpu.h#L330

[2019-07-27 09:59] #23476 closed

[2019-07-27 10:03] nurettinabaci commented on #23432
in the `C:\pytorch\c10\macros directory`, the header file `cmake_macros.h.in` exists but gives error , any solution?
[code]

[2019-07-27 10:17] fuzzyBatman commented on #22738
@rgommers Thanks. Updating pip fixed that issue.

[2019-07-27 12:44] ayoubbenaissa commented on #9139
try this:
torch.load('my_file.pt', map_location=lambda storage, location: 'cpu')

or this:
torch.load('my_file.pt', map_location={'cuda:0': 'cpu'})

First one will forcefully remap everything onto CPU
and the second will only map storages from GPU0

[2019-07-27 12:50] ilhamfp commented on #22697
I have opened a pull request #23477

[2019-07-27 13:11] huangchaoxing commented on #1355
When I set the num_workers=4, the program stuck for few seconds(or mintues) every 4 batches., which waste a lot of time. Any idea on how to solve it ?

[2019-07-27 13:27] rohitrango commented on #15921
@igor-susic since you have been inactive for a while, I thought I'd give it a try.

[2019-07-27 14:06] aselva-eb commented on #23450
I resolved this issue by building PyTorch from source, and using the location of that lib when I use cmake to generate the make files.

i.e `cmake -DCMAKE_PREFIX_PATH=/Users/XXXXXX/Desktop/cpp_transform/libtorch -DCMAKE_C_COMPILER="/usr/local/opt/llvm/bin/clang" -DCMAKE_CXX_COMPILER="/usr/local/opt/llvm/bin/clang++" ..`

Also, since OSX clang didn't support fopenmp which was required for building,

[2019-07-27 14:06] #23450 closed

[2019-07-27 14:22] soumith commented on #23471
this option was introduced in PyTorch 1.1.0, but you are using 1.0.0.

[2019-07-27 14:22] #23471 closed

[2019-07-27 17:03] bionick87 commented on #22496
Hi ngimel,

This is really good, we really need it, we work with medical data. Our volumes are really huge.

I also observed that a process of volumetric upsamilng tends to occupy a lot of global memory, certainly for us in the medical field it would be necessary to have the possibility of an optimisation of the 3d kernels also from a memory location point of view.

[2019-07-27 18:16] t-vi commented on #23434
This isn't specific to einsum, but applies to any and all operations in PyTorch (and effectively einsum inherits bmm's behaviour here). So I would suggest to either retitle the issue to the more general case or absorb it into an existing one.

[2019-07-27 18:36] LLYX opened #23480 "CosineAnnealingWarmRestarts Still Follows PyTorch 1.0 Step Order"
## 🐛 Bug

Although the official step order seems to have changed to calling scheduler.step() after each iteration/epoch instead of before, this causes CosineAnnealingWarmRestarts to have an extraneous step at iteration/epoch 0, instead of starting at the maximum specified learning rate.

## To Reproduce

Steps to reproduce the behavior:

1. Initialize a scheduler with T_0=1, T_mult=2.
1. Loop thro

[2019-07-27 18:41] vincentqb commented on #23480
Also mentioned [here](https://github.com/pytorch/pytorch/pull/21800#issuecomment-514697869).

[2019-07-27 19:08] ArturoDeza commented on #1355
adding the flags: pin_memory=True and num_workers=0 in the data loader is the solution!

[2019-07-27 20:25] ilhamfp opened #23481 "Inconsistent dimension argument numbering between function"
## 📚 Documentation

Both [torch.diag_embed](https://pytorch.org/docs/stable/torch.html#torch.diag_embed) and [torch.diagonal](https://pytorch.org/docs/stable/torch.html#torch.diagonal) use dim1 & and dim2 meanwhile [torch.transpose](https://pytorch.org/docs/stable/torch.html#torch.transpose), _mkldnn_transpose, transpose_, and _mkldnn_transpose_ use dim0 & dim1. Shouldn't the naming of the dimensi

[2019-07-27 20:50] Char-Aznable opened #23482 "Build error: UINT32_C' was not declared in this scope"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. git clone the pytorch repo and all the submodules
2. Build pytorch with:
[code]
where I have all my compiler toolchain in $LINUXBREWHOME
3. I got this error:
[code]

## Expected behavior

pytorch build successfully

## Environment

 - PyTorch Version (e.g., 1.0): 1.1.0
 - OS (e.g., Linux): centos 6.9
 - How you installed PyTorch (`con

[2019-07-27 23:36] InternetExplorer9 opened #23483 "RuntimeError: methods must have a self argument:"
## 🐛 Bug

With TorchScript enabled & while attempting to trace, I get the following error:

`RuntimeError: methods must have a self argument:`

For the following class (in `/torch/jit/__init__.py L636`)

[code]

## Environment

PyTorch version: 1.2.0.dev20190719
Is debug build: No
CUDA used to build PyTorch: None

OS: Mac OSX 10.14.5
GCC version: Could not collect
CMake version: Could not collect

[2019-07-27 23:59] nmilosev commented on #23233
Also add ARMv6 support to the list. :)

Just finished that, so you can now run it the entire Raspberry Pi family.

[2019-07-28 01:56] huangchaoxing commented on #1355
@ArturoDeza
This might be a solution.However, setting num_workers=0 slow down the whole data fetching of the cpu and the GPU usage rate will be very low.

[2019-07-28 02:56] ShangxuanWu commented on #7068
num_workers = 0 and torch.backends.cudnn.enabled = False are the real thing that works. And I also see that if you train one step 10 times, only using num_workers = 0 we can get exactly same output 8 times and different output 2 times.

reference: https://discuss.pytorch.org/t/random-seed-initialization/7854/18

[2019-07-28 04:28] ngimel commented on #23403
While `narrow_copy_dense` would still be functionally correct with layout-preserving `.clone()`, it would use more memory than expected if dim is not 0
https://github.com/pytorch/pytorch/blob/7e31c02afea6280e72fcaeac1fe40e2d7b5d9c39/aten/src/ATen/native/TensorShape.cpp#L360-L362
If layout-preserving `.clone()` also preserves zero strides, then gradient accumulation will break here
https://github.c

[2019-07-28 08:23] Jubird915 opened #23486 "convert a PyTorch model to Torch Script via tracing meet ValueError"
when converting a PyTorch model to Torch Script via tracing meet ValueError.
the PyTorch model is CenterNet model, link https://github.com/xingyizhou/CenterNet, model file:ctdet_coco_dla_2x.pth

ValueError: Auto nesting doesn't know how to process an input object of type int. Accepted types: Tensors, or lists/tuples of them

I'm sure the input object is a tensor. so why this Error reported, and ho

[2019-07-28 08:57] andyljones commented on #6103
If you're using PyTorch for some unusual purpose and you think you do actually want Tensors flying around rather than Variables, you can hold off the conversion until immediately before returning the Tensor through PyBind, using
[code]
to make the conversion.

(My use case is that nvcc compiles my kernels much faster if they only include ATen.h rather than the torch headers)

[2019-07-28 09:27] egeozsoy opened #23487 "mobilenet_v2 not working with the newest version(1.1.0)"
## 🐛 Bug

I am getting a segmentation error when I call loss.backward() while using mobilenet_v2.

## To Reproduce

Steps to reproduce the behavior:
[code]
I am receiving a Segmentation fault: 11 when I run this code. If I use a very small tensor like
torch.rand(size=(4,3,32,32)) I am not getting this error. (Also I believe that torch==1.0.0 doesn't have this bug)

## Expected behavior
It should j

[2019-07-28 14:16] egeozsoy commented on #23487
I think I was able to locate the source of the bug.
It is coming from the InvertedResidual class, and more specifically, in my case it started working when I commented out  "nn.BatchNorm2d(oup)". Obviously this isn't a real solution but maybe it can help.
[code]

[2019-07-28 15:13] xiaodongww opened #23488 "Indexing tensor by a boolean np.array or boolean torch.is different"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1.
1.
1.

## Expected behavior

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out the checklist below manually).

You can get the script and run it with:
[code]

 - PyTorch Version (e.g., 1.0):
 - OS (

[2019-07-28 15:13] xiaodongww opened #23489 "Indexing tensor by a boolean np.array or boolean torch.Tensor is different"
## 🐛 Bug

The result of indexing pytorch tensor by a boolean  `np.array` or boolean `torch.Tensor`  is different. This may cause bugs possibly. Is it better to make the result consistent whenever the type of indicator is `np.array` or `torch.Tensor` ?
## To Reproduce

Steps to reproduce the behavior:

1. run the following code

[code]
## Expected behavior
I expect `selected2` to be the same as `se

[2019-07-28 15:41] #23488 closed

[2019-07-28 16:18] zhangguanheng66 commented on #23233
After talking with Ed, we think a link in Wiki seems fine. How do you feel this propose? @soumith

[2019-07-28 16:19] gzygzy9211 opened #23490 "upcoming PEP 554: how much effort we need to support sub-interpreter"
## 🚀 Feature
support python sub-interpreters and maintains all status of the torch library.

## Motivation

as #10950 demonstrates, the current ``torch`` library cannot lives on multiple sub-interpreter  simultaneously within the same process. But we do need to run python codes on multiple "threads" at the same time for the very reasons why ``torch`` introduces ``torch.multiprocessing`` and ``Dist

[2019-07-28 19:41] egeozsoy commented on #23487
I was able to confirm that it works using Google Colab(Linux). So it might be mac specific.

[2019-07-28 23:41] agataszcz commented on #23393
Hi Imad,
Here is a quick fix:
1. Replace weight.data.set_ with weight.set_.
2. Add with th.no_grad(): block.

Revised version:
with th.no_grad():
    model.weight.set_(((alice_model.weight.data + bob_model.weight.data) / 2).get())
Worked for me.
Details: https://discuss.pytorch.org/t/api-change-for-tensor-data-set-in-torch-nightly/33310/6
Hope this helps.
Agata

[2019-07-29 00:35] Arctanxy commented on #12855
I met the same problem, how can I speed up the caffe2 model?

[2019-07-29 01:05] nairbv commented on #23369
This will be (mostly) addressed by https://github.com/pytorch/pytorch/pull/22273.

It's not exactly what you want: with the change in #22273 you'll get a float tensor as a result, but you'll be able to cast the floating point result back to long to get your expected result.

As @Chillee mentioned, what you're seeing is that the 0.9 is truncated to zero when being cast to long to performing the ope

[2019-07-29 01:51] zjjing opened #23493 "why the result of torch.nn.Linear() isn't consistent when the length of data is different?"
for example:
fc = torch.nn.Linear(128,512)
data1 = torch.randn(4,512,128)
data2 = data1[0:1,200,128)#the length of data is changed
result1 = fc(data1)[0:1,200,:]
result2 = fc(data2)
print(result1-result2)#the result1 and result2 should be the same, however they are different in 10^-7

I didn't find any reason for this result, I hope someone can help me. Thank You.(torch version is 1.1.0)

the resu

[2019-07-29 02:20] ThisIsIsaac commented on #23413
@soumith
From my reading of [Conv.cpp](https://github.com/pytorch/pytorch/blob/358fb51e773b8ad509ec270caee5ec1c51d82f38/aten/src/ATen/native/cudnn/Conv.cpp#L340), the cache is implemented in Pytorch, and not in cuDNN. Or do you mean only convolutions are cacheable?

[2019-07-29 02:32] dexterju commented on #16667
+1

[2019-07-29 02:52] soumith commented on #22330
while this feature is worth doing, it's highly non-trivial.
Writing efficient batched deconvolution kernels (i.e. ones we want for neural nets) is a research paper in itself (or several)

[2019-07-29 02:52] ezyang commented on #22848
I'll stick my neck out here, and say we will accept a PR that adds `sym_pos_def: bool` argument to `logdet` which uses an alternate implementation.

[2019-07-29 02:56] soumith commented on #23493
please use https://discuss.pytorch.org for questions

[2019-07-29 02:56] #23493 closed

[2019-07-29 02:58] soumith commented on #23393
cc: @gchanan should we improve the error message for release

[2019-07-29 03:10] agataszcz commented on #23393
Thank you, Soumith, for your revision. Yes, having a clear error message would help with debugging.

[2019-07-29 03:22] vishwakftw commented on #22848
I’m working on adding batching for det/logdet/slogdet. I can work on this once that is done.

[2019-07-29 03:33] soumith commented on #23467
we dont plan to provide an interface other than the one via TorchScript.

Without re-implementing Python, it's simply not possible. So, no you are wrong, it **is** difficult to implement.

[2019-07-29 03:33] #23467 closed

[2019-07-29 03:39] soumith commented on #23352
I might not have made my point as clearly last time. I am not excited to see meta-programming or for that matter the use of hooks.

The whole process has to be **explicit**.

I am thinking of something like this:

[code]

[2019-07-29 03:42] soumith commented on #23377
the error is pretty explicit. the CPU fp16 backend doesn't have Convolution support, and we dont aim to flesh it out either. It's explicitly a skeleton backend to support the CUDA counterpart which is fully fleshed out.
Maybe you wanted to do `model.half().to('cuda')`

[2019-07-29 03:42] #23377 closed

[2019-07-29 03:43] soumith commented on #23142
I dont see the problem if this is caused by a high learning rate.

As others have pointed out, you don't fix the seed before initializing the weights, so every run is seeing different weights.

Have you tried reducing your learning rate?

[2019-07-29 03:56] soumith commented on #23069
@feixyz10 when it crashes, what is the stack-trace or error message?

[2019-07-29 03:57] soumith commented on #23059
the environment variable has to be specified before you start the notebook, i.e. to the ipython notebook process itself.

for example in your terminal:

[code]

[2019-07-29 03:57] #23059 closed

[2019-07-29 04:02] soumith commented on #23487
similar to / same as https://github.com/pytorch/pytorch/issues/23487

[2019-07-29 04:03] soumith commented on #22592
Between this and https://github.com/pytorch/pytorch/issues/23487 enough sets of users have reported this. A segmentation fault needs to be fixed immediately, and atleast has to be brought to a reasonable error message.

[2019-07-29 04:12] soumith commented on #18414
@sublee no one is implementing LARS in PyTorch yet, go ahead.
torchgpipe is a great project btw

[2019-07-29 04:16] soumith commented on #20406
this seems to have been fixed with PyTorch nightly.

Atleast I cant reproduce it on Ubuntu 16.04 as the user said.

@shizi626 if this is not true with nightly version, can you reopen. You can install pytorch-nightly binaries via the install commands in the matrix at https://pytorch.org/ (select "Preview (nightly)  " option )

[2019-07-29 04:16] #20406 closed

[2019-07-29 04:18] soumith commented on #20141
on latest pytorch, the following error is given `RuntimeError: Given input size: (1x3x6). Calculated output size: (1x0x1). Output size is too small`

[2019-07-29 04:18] #20141 closed

[2019-07-29 04:20] zasdfgbnm opened #23495 "Why warning on torch.tensor(another_tensor)?"
When we do `torch.tensor(another_tensor)`, we see a warning:

[code]

Is this warning really a good idea? `torch.tensor(another_tensor)` has a neat use case:
[code]

The code above is simpler than

[code]

[2019-07-29 04:20] soumith commented on #18849
cc: @vincentqb @SsnL for any opinions you want to offer on this thread.

[2019-07-29 04:31] veritas9872 commented on #6934
@MKFMIKU I think that performing the SSIM operation with two 1D kernels, as suggested in #22289, would be an excellent idea. The current implementation takes a lot of time since there are five convolution operations that need to be done just for SSIM. For MS-SSIM, this figure increases to 20, I believe.

[2019-07-29 04:33] chenchr commented on #23425
@mrshenli  Hi, thanks for your reply.
I am training a detection network.
Usually detection's loss consists of ```box regression loss``` and '''classification loss```.
Suppose you have one image that has no box annotation on it, then when calculating the loss, only ```classification loss``` can be conducted, and the ```box regression loss``` has nonsense.
Therefore, I just return a zero tensor for

[2019-07-29 04:35] SsnL commented on #23495
For that use you should do `torch.as_tensor`. The `ensure_tensor` fn you have is different with `torch.tensor` in that `torch.tensor` always copies.

[2019-07-29 04:39] soumith commented on #18996
yes it actually did

[2019-07-29 04:58] zasdfgbnm commented on #23495
@SsnL Thanks for the explanation!

[2019-07-29 04:58] #23495 closed

[2019-07-29 05:25] sublee commented on #18414
@soumith Thank you for letting me know. My co-worker is currently involved in a PyTorch LARS project optimized for CUDA. It would be released as a separate project. Anyways, we may port it into PyTorch itself later.

[2019-07-29 05:56] dzhulgakov commented on #23352
Second @soumith's point about making it explicit.

One way to prototype something non-intrusively is to create a separate class (or wrapper) for shape inference. Then we can use explicit call to swap out modules for the real ones. E.g.:

[code]

My assumption is that there are likely not that many layers that need lazy evaluation: Linear, RNNs, maybe some attention. So even maintaining `torch.nn.l

[2019-07-29 06:12] un-knight commented on #23363
@mrshenli After updating pytorch from 1.1 to 1.2(nightly), the default nccl is updated from 2.4.2 to 2.4.8, then the nccl runtime error is fixed under multi-nodes communication. By the way, when will pytorch 1.2 be released?

[2019-07-29 06:18] lutzroeder commented on #18398
@rgommers

The `Dockerfile` is working with `mkl` added.

However, the original script with `mkl` added on a Linux 18.04 machine produces the error below.

[code]
[code]
[code]
[code]

[2019-07-29 06:33] rgommers commented on #18398
Hi @lutzroeder, as I said above: while the conda package for MKL has `libiomp5.so`, the manylinux wheel at https://pypi.org/project/mkl does not.

Intel seems to have packaged `libiomp5` separately in https://pypi.org/project/intel-openmp. Adding a `pip install intel-openmp` should fix things for you.

I have no idea why they did it like that - I really don't like people starting to ship these kin

[2019-07-29 06:56] arpitdm commented on #23434
I'm fairly new to Pytorch, so I'll defer to whatever the community recommends. Is there an alternative workaround for this operation that I can use in the meantime while this is resolved?

[2019-07-29 07:06] pietern commented on #22679
It's not useless, as we expect the input to the model to be loaded on the first GPU to let DDP subsequently scatter it to the other GPUs in the list.

Coming back to the original issue, did the advice resolve your hang problem?

[2019-07-29 08:37] suanrong commented on #7455
Just use torch.nn.KLDivLoss. It is the same.

[2019-07-29 09:07] rgommers commented on #15476
PR opened with a summary of the issue. Here are some more extensive notes, they may be helpful for people running into this issue or related ones:

Ensure your CUDA install is working. E.g. build `/opt/cuda/samples` (Arch Linux), see https://wiki.archlinux.org/index.php/GPGPU#CUDA

Ensure `CUDA_HOME` is set correctly:
[code]

And another check that things are as they should be:
[code]

Now compili

[2019-07-29 09:11] vishwakftw commented on #23481
Duplicate of #23072

[2019-07-29 09:20] vishwakftw commented on #23486
Please provide more information about your environment using the [environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py).

[2019-07-29 09:29] vishwakftw commented on #3002
Closing as this is not a bug.

[2019-07-29 09:29] #3002 closed

[2019-07-29 09:33] vishwakftw commented on #3205
I feel that this is a documentation issue, in which case #23460 should fix this.

[2019-07-29 09:34] hexiaoting commented on #21453
NO，I haven't solve this problem.
But I think it's different between your problem and mine. Have you solved your concat problem? if not, Maybe I can try to help you.

[2019-07-29 09:35] hexiaoting commented on #21453
No , I haven't solved this problem .
But I think it's different between your concat problem and mine.
Have you solved your problem? If not, Maybe I can try to help you .
@shbnm21

[2019-07-29 09:50] vishwakftw commented on #4466
#4527 has fixed this. Closing in view of this.

[2019-07-29 09:50] #4466 closed

[2019-07-29 09:53] vishwakftw commented on #14175
Closing this since the feature is available on master. The current implementation uses sequential MAGMA calls in a for-loop.

[2019-07-29 09:53] #14175 closed

[2019-07-29 09:57] vishwakftw commented on #5354
@soumith can this be closed in favor of #7500?

[2019-07-29 10:24] #1706 closed

[2019-07-29 10:55] zasdfgbnm commented on #22513
Related: https://github.com/pytorch/pytorch/pull/23479

[2019-07-29 11:26] zasdfgbnm opened #23497 "[Feature Request] extend torch.arange to support 1d tensor as parameter"
## 🚀 Feature
[code]

## Motivation

One possible use case is to help to deal with sequences concatenated to each other. For example:

Let's say I have a concatenated sequence, with data stored in `data`, and a long tensor `seq_id` storing which sequence the data belongs to. The `data` looks like:
[code]
and the `seq_id` looks like:
[code]
I want to convert this to padded sequence. Then the extende

[2019-07-29 11:35] shbnm21 commented on #21453
No I haven't.
Thank you so much.It would be great if u help me @hexiaoting.

Actually I am training a facial attribute manipulation project which is available on GitHub.here is the link.
https://github.com/Prinsphield/ELEGANT
 It is VAE-GAN model.
It generates 4 .pth files
Encoder
Decoder
Discriptor D1
Discriptor D2

I am stuck with decoder

[2019-07-29 11:42] shbnm21 commented on #21453
This is nets.py
-*- coding:utf-8 -*-

# Created Time: Wed 07 Mar 2018 12:38:26 PM CST

# Author: Taihong Xiao <xiaotaihong@126.com>

import torch

import torch.nn as nn

from torch.autograd import Variable

from torch.nn.parameter import Parameter

class NTimesTanh(nn.Module):

    def __init__(self, N):

        super(NTimesTanh, self).__init__()

        self.N = N

        self.tanh = nn.Tanh()

[2019-07-29 12:07] NickYangMin opened #23498 "Error when use torch.jit.trace"
/home/yangmin/deeplearning/pytorch/detections/mmdetection_ym/mmdet/models/detectors/base.py:71: TracerWarning: Converting a tensor to a Python boolean might cause the trace to be incorrect. We can't record the data flow of Python values, so this value will be treated as a constant in the future. This means that the trace might not generalize to other inputs!
  assert imgs_per_gpu == 1
/home/yangmi

[2019-07-29 12:54] ilhamfp commented on #23481
@vishwakftw well, there's some overlap. The issue you mentioned didn't address  torch.diag_embed.

[2019-07-29 13:05] nmilosev commented on #23233
This seems cool! Thanks. :)

[2019-07-29 13:33] SaidaSaad commented on #10910
Hello
I have cuda 10 on my machine with RTX 2080 and I have the same error
Should i install cuda 9 to solve this problem , if yes how can i switch from cuda 10 to cuda 9 after installtion
or it is better to remove cuda 10 and install 9

[2019-07-29 14:07] soumith commented on #23498
you actually have out-of-bounds indices.

[2019-07-29 14:07] #23498 closed

[2019-07-29 14:07] #5354 closed

[2019-07-29 14:10] #22300 closed

[2019-07-29 14:37] julioasotodv commented on #16599
Indeed, it would be great to have a de-facto implementation of Wasserstein distance in Pytorch for WGANs and other models (such as modified VAEs)

[2019-07-29 14:43] gchanan commented on #23434
yep, this seems like it should be covered by type promotion.  I haven't checked this specific case, but there is a PR that adds some initial support here: https://github.com/pytorch/pytorch/pull/22273.

[2019-07-29 14:53] gchanan commented on #23393
@yf225 can we improve the error message here?

Maybe something like:
[code]

[2019-07-29 15:11] #16955 closed

[2019-07-29 15:12] wanlipeng opened #23503 "caffe2.lib(caffe2.dll) : fatal error LNK1112: 模块计算机类型“x64”与目标计算机类型“x86”冲突"
How to complie libtorch in x86 platform，thanks for your replay!!

[2019-07-29 15:20] gchanan commented on #14848
@VitalyFedyunin should we close this given https://github.com/pytorch/pytorch/pull/15190?

[2019-07-29 15:24] colesbury commented on #23072
@ilhamfp writes that torch.diag_embed also uses dim1/dim2.

[2019-07-29 15:24] colesbury commented on #23481
Let's track this in #23072

[2019-07-29 15:24] #23481 closed

[2019-07-29 15:29] colesbury commented on #23497
I'm not a fan of adding this to torch.arange, since it breaks from the NumPy API and does not follow the common broadcasting semantics.

It might make sense to add this as a stand-alone function, but I'm not sure how generally useful it would be. For things like packed sequences, I'd prefer figuring out how to handled segmented operations in general.

[2019-07-29 15:31] ilhamfp commented on #23481
Sure

[2019-07-29 15:32] ilhamfp commented on #23072
... while mkldnn_transpose, transpose, and mkldnn_transpose use dim0 & dim1. What's the solution?

[2019-07-29 15:38] colesbury commented on #23480
@vincentqb does your PR address this?

[2019-07-29 15:41] ezyang commented on #7601
FYI @mruberry is working on this (I can't assign him yet because he hasn't accepted his GitHub invite yet.)

[2019-07-29 15:45] colesbury commented on #23489
Thanks for the bug report. This is fixed in the master branch and will be in the PyTorch 1.2 release.

cc @gchanan: I'm not sure if any PR explicitly mentioned fixing this. I think the fix is implicit because of the conversion from NumPy np.bool -> torch.bool

[2019-07-29 15:45] #23489 closed

[2019-07-29 15:48] VitalyFedyunin commented on #23403
Thanks @ngimel, hence my hacky implementation was preserving `.clone()` strides  only if input tensor is channel last, I never had issues with 0-dim grad. But I will take a look into this code piece as it might become important if we decide that `.clone()` and `.to()` operations should preserve strides in all scenarios.

[2019-07-29 15:53] cpuhrsch commented on #23393
One of my questions here would be if this is a safe operation. If you share memory between Tensors tracked by autograd in this way, can you run into race conditions during backward etc.?

[2019-07-29 15:54] colesbury commented on #23487
@fmassa can you look into this?

[2019-07-29 15:57] colesbury commented on #8069
You should use https://pytorch.org/docs/stable/autograd.html#torch.autograd.detect_anomaly to help find where NaNs occur in your computation.

We're not going to change the behavior of torch.acos but PRs improving the documentation are very welcome.

[2019-07-29 16:02] colesbury commented on #23482
It seems like somethings messed up with your build environment. UINT32_C is defined in stdint.h (or equivalently <cstdint>). You should not need to include GCC specific files.

[2019-07-29 16:06] colesbury commented on #23482
Does it compile fine if you add `#include <stdint.h>` instead of `<stdint-gcc.h>`?

(Note that it already includes stdint.h but it's guarded by some ifdefs)

[2019-07-29 16:11] colesbury commented on #23474
@bddppq can you look into this (or ask someone else familiar with ONNX to look into it?)

[2019-07-29 16:16] gchanan commented on #22963
personal opinion: I think it should return a 1-dimensional tensor.  It's essentially turning the range of dimensions (start_dim to end_dim) into a 1-dimensional tensor, and then stacking the dimensions before start_dim and after end_dim onto it.

[2019-07-29 16:18] colesbury commented on #23490
This is a good idea, but I'd be a bit hesitant to jump too far ahead before the implementation in CPython is clear.

[2019-07-29 16:24] fmassa commented on #23487
I've just tried running the above script in my Mac, and everything worked as expected.

[code]

[2019-07-29 16:26] fmassa commented on #23487
I'm suspecting that there is an OOM happening somewhere maybe?

[2019-07-29 16:27] egeozsoy commented on #23487
I have torch version: 1.1.0.post2 and torchvision version: 0.3.0. Do you think that can be related?

[2019-07-29 16:29] fmassa commented on #23487
Could you try updating to the latest nightly for PyTorch / torchvision?

[2019-07-29 16:33] colesbury commented on #3205
@vishwakftw I don't see how renaming this to lstsq fixes this. The NumPy docs say "The equation may be under-, well-, or over-determined...". Doesn't under-determined correspond to M >= N?

[2019-07-29 16:33] egeozsoy commented on #23487
Yes I will install and try again, meanwhile if I use a smaller tensor size such as torch.rand(size=(4,3,32,32)) it works. This indicates to an OOM problem. But I have more than 16 GB free memory available, and am also able to run other models such as Resnet50 without problems

[2019-07-29 16:34] fmassa commented on #23487
can you try running the code on gdb?

[code]
and paste the log here?

[2019-07-29 16:37] egeozsoy commented on #23487
I have succesfully installed nightly release of torch, but what is the easiest way to install nightly release of torchvision? There is no pip install torchvision_nightly right?

[2019-07-29 16:38] mruberry commented on #7601
Got it, thanks Ed!

[2019-07-29 16:39] fmassa commented on #23487
No, there isn't a torchvision nightly as of today, so you'll need to clone the repo and install it from source.

Don't forget to uninstall torchvision first, and then do
[code]

[2019-07-29 16:40] vishwakftw commented on #3205
@colesbury We don't have support for an under-determined system (M < N) on CUDA, as neither MAGMA nor cuBLAS provide support for the same.

In the renaming PR, I ensured that this was clarified in the documentation by stating that m < n is not supported, hence the reference.
https://github.com/pytorch/pytorch/blob/b67ee90b854af25f0f1f768a2807c2d2632da1ee/torch/_torch_docs.py#L2632-L2633

[2019-07-29 16:40] colesbury commented on #23473
Yeah, this seems bad. PRs are more than welcome. I noticed that NumPy does not have this issue and that logdet still computes NaN if the matrix is converted to double precision.

https://gist.github.com/colesbury/b14b04e8eb4e43240bf0f39ebcbf7cf8

[2019-07-29 16:42] colesbury commented on #23427
@houseroad does Tensor.flatten work in the latest PyTorch?

[2019-07-29 16:45] egeozsoy commented on #23487
Okey installing from source will take some time, so I am first trying to run it with gdb. I just installed gdb with `brew install gdb`, and having some difficulties using it.

[code]

Does it sound familiar?

[2019-07-29 16:47] fmassa commented on #23487
there is a typo somewhere?
[code]

[2019-07-29 16:47] colesbury commented on #23487
@egeozsoy: use something like `run python my_script.py` or alternatively `gdb --args python my_script.py` from the command line.

[2019-07-29 16:48] egeozsoy commented on #23487
Typo was just while manually changing the script name for posting here, not while actually running it

[2019-07-29 16:49] vishwakftw commented on #23473
@colesbury The gist compares the output of NumPy's slogdet and our logdet.

Furthermore, the matrix obtained at the end of the loop is still a positive semi-definite matrix, and hence the det should be >= 0. However, the output from NumPy's slogdet seems to indicate (just as PyTorch's implementation) that the matrix has a very small negative determinant. Below is the output I see locally:

[code]

[2019-07-29 16:50] egeozsoy commented on #23487
running with` run python my_script.py` produces the same error as before, and `gdb --args python my_script.py` produces a different error:

`not in executable format: file format not recognized`

[2019-07-29 16:50] zdevito commented on #18975
I do not think we have a formula for `_convolution` but that doesn't mean that we can't differentiate it, just that we fallback to the standard autograd logic.

[2019-07-29 17:00] egeozsoy commented on #23487
Okey so I am really not an expert in this but after some research I found that I can use lldb, which has a similar interface to gdb. And it works.

my_script.py crashed and afterwards I did `bt`

[code]

[2019-07-29 17:01] egeozsoy commented on #23487
* thread #7, stop reason = EXC_BAD_ACCESS (code=1, address=0x12ddb0000)
  * frame #0: 0x000000012d95d0b4
    frame #1: 0x0000000119f88ffe libcaffe2.dylib`mkldnn::impl::cpu::_jit_uni_dw_convolution_bwd_weights_t<(mkldnn::impl::cpu::cpu_isa_t)3>::execute_backward_weights() const + 830
    frame #2: 0x0000000119f88c9c libcaffe2.dylib`mkldnn::impl::cpu::_jit_uni_dw_convolution_bwd_weights_t<(mkldnn::i

[2019-07-29 17:01] egeozsoy commented on #23487
Sorry pressed accidentally on close.

[2019-07-29 17:03] fmassa commented on #23487
This is an issue with MKLDNN.

[2019-07-29 17:03] Jianhui-Li opened #23509 "Enable PyTorch Bfloat16 for CPU and add MKL-DNN bfloat16 optimization for Cooper Lake"
Enable PyTorch Bfloat16 for CPU and add MKL-DNN bfloat16 optimization for Cooper Lake

##Motivation
Bfloat16 is a 16-bit floating point representation with same exponent bit-width as 32-bit floating point representation (FP32). It improves deep learning training performance by reducing both the computation and memory bandwidth while keeps the accuracy at the same level as FP32. It has been adopted

[2019-07-29 17:04] imad-ict commented on #23393
the issue resolved with
with th.no_grad():
    model.weight.set_(((alice_model.weight.data + bob_model.weight.data) / 2).get())

[2019-07-29 17:04] #23393 closed

[2019-07-29 17:05] egeozsoy commented on #23487
Do you still think I should install the latest nightly versions? If you think it might be useful, I will gladly do it

[2019-07-29 17:06] soumith commented on #23487
@egeozsoy it would be great if you test it on the nightly version and report back. That would tell us the path to take.

tagging @gujinghui @vpirogov @Jianhui-Li @jgong5 @uyongw . Considering a PyTorch release being prepared this week, please take a look at the segfault stemming from MKL-DNN

[2019-07-29 17:08] izdeby commented on #22963
Resolution: we should return 1-dim tensor

[2019-07-29 17:09] Char-Aznable commented on #23482
@colesbury The culprit is this `-isystem /usr/include` in the gcc command I pasted -- the toolchain from the OS is too old to build pytorch. But this shouldn't happen because I explicitly set CMAKE_PREFIX_PATH and cmake shouldn't be looking into /usr/include for headers. I triple check the stdout from setup.py and confirm that all the dependencies are found in $LINUXBREWHOME. I suspect `/usr/inclu

[2019-07-29 17:11] ezyang commented on #23401
We think this was fixed by a recent patch from @zhangguanheng66; he'll check if that's the case and close this issue out if it is.

[2019-07-29 17:11] soumith commented on #23482
setting CMAKE_PREFIX_PATH doesn't preclude cmake from including system paths afaik.

[2019-07-29 17:12] izdeby commented on #16599
@soumith

[2019-07-29 17:14] egeozsoy commented on #23487
I can't reproduce this using torch: 1.2.0.dev20190729  and torchvision: 0.3.0a0+2287c8f(both nightly releases)

[2019-07-29 17:16] izdeby commented on #23094
We would accept a patch that fixes this

[2019-07-29 17:17] soumith commented on #23487
great, thanks. this will be parts of the upcoming release next week.

@gujinghui and team, nothing to fix, looks like already fixed in a newer MKL-DNN release.

[2019-07-29 17:17] #23487 closed

[2019-07-29 17:17] ezyang commented on #23094
Note that we should be careful about where exactly we put this macro, so we avoid rebuilding the world when it revs up.

[2019-07-29 17:18] soumith commented on #22592
a fix is part of master, and part of nightlies.
this will be parts of the upcoming release next week.

[2019-07-29 17:18] #22592 closed

[2019-07-29 17:18] egeozsoy commented on #23487
Thanks for the quick responses!

[2019-07-29 17:19] izdeby commented on #11633
@SsnL, can you please take a look?

[2019-07-29 17:21] izdeby commented on #23156
We should add explanation for this behavior in out FAQ

[2019-07-29 17:22] zhangguanheng66 commented on #23401
Check with the master branch and it works as expected. Feel free to re-open the issue if you still have questions. @farleylai

[2019-07-29 17:24] izdeby commented on #6912
We are not gonna print the shape.

[2019-07-29 17:33] Char-Aznable commented on #23482
@soumith I was saying cmake shouldn't add that path to begin with as can be confirmed easily by a minimal CMakeLists.txt. The addition of the include path is triggered somewhere in pytorch's build system

[2019-07-29 17:55] phu-pmh commented on #5261
Agree with above comments about meta-learning. I'd also like a follow-up on this.

[2019-07-29 18:00] Maghoumi commented on #5261
I still check this thread, and am still curious about what the PyTorch's team plans are regarding this.

Is there a limitation in cuDNN that's preventing this? Or, is it just the matter of changing things on the PyTorch side?

[2019-07-29 18:03] SsnL commented on #5261
Yes, this is mostly cuDNN limitation.

[2019-07-29 18:11] gchanan commented on #23480
optimistically assigning @vincentqb based on the PR linked; if that doesn't fix it, please unassign yourself.

[2019-07-29 18:17] xuhdev opened #23512 "Build reconfiguration should consistently honor env variables"
Per discussion here: https://github.com/pytorch/pytorch/pull/23323#issuecomment-515168182

We currently have

(plainly == no additional build options passed in to setup.py)

for clean tree:

- configuration only: `--cmake-only`
- configuration + build: invoke setup.py plainly

For rebuild:

- reconfiguration without rebuild: `--cmake-only --cmake` (unreliable), or edit CMakeCache.txt and run cmake

[2019-07-29 18:18] colesbury commented on #3205
@vishwakftw sounds good. It would be nice to improve the error message as well.

[2019-07-29 18:20] colesbury commented on #23475
@Gsunshine what does parallel mean in this context?

No one is currently working on this, but I think we'd happily accept a PR.

[2019-07-29 18:23] colesbury commented on #23509
cc @izdeby

[2019-07-29 18:23] li-roy commented on #20320
fixed by #20483

[2019-07-29 18:23] #20320 closed

[2019-07-29 18:26] colesbury commented on #6912
I'm closing this for now as we don't have any plans to change the formatting.

[2019-07-29 18:26] #6912 closed

[2019-07-29 18:27] colesbury commented on #23512
Yes please. @xuhdev do you plan to work on this?

[2019-07-29 18:31] colesbury commented on #23434
We plan to address this, but #22273 won't handle this case. It might take a while before type promotion is fully handled in einsum.

@arpitdm, you probably want all the operands to einsum to be float. You can use:

[code]

to coerce the boolean Tensor result from `(A == 1.0)` to a float tensor of 1.0s and 0.0s.

[2019-07-29 18:33] ezyang opened #23515 "Access forbidden for nightly builds"
Run

[code]

leads to

[code]

The URL is indeed 403ing
https://download.pytorch.org/whl/nightly/cpu/torch_nightly-1.2.0.dev20190728+cpu-cp36-cp36m-linux_x86_64.whl

[2019-07-29 18:37] Coderx7 commented on #6912
@izdeby : we can easily provide a default behavior (which is what we have currently) and also let the  user decide whether he/she wants to have this kind of information enabled! we already have `torch.set_printoptions`, so we shouldnt really have any issues in this regard, we can easily implement this in `torch.set_printoptions`

[2019-07-29 18:40] vishwakftw commented on #3205
@colesbury The error has already been revised in https://github.com/pytorch/pytorch/commit/bacda6df8dada71850cc228ddd12530ba7434f72.

[2019-07-29 18:40] colesbury commented on #23515
It currently works for me. Are you still seeing the 403? Maybe a transient failure?

[2019-07-29 18:42] ezyang commented on #23515
Yeah, I'm still seeing the failure.

[2019-07-29 18:44] colesbury commented on #23515
[code]

[2019-07-29 18:46] ezyang commented on #23515
The plus needs to be encoded as `%2B` for access to work, gfd.

[2019-07-29 18:47] colesbury commented on #23515
😵

[2019-07-29 18:51] xuhdev commented on #23512
@colesbury Yes, but there are more cleanup to do before this can be done (i.e., lots of detections should be moved to CMake, see #21702). This is current set as a placeholder so we can bear this in mind while continuing build cleanup.

[2019-07-29 18:58] ezyang commented on #23515
I fixed this with https://github.com/pytorch/builder/commit/bdeb91ba541c75a2992f65951245296f1106c191

[2019-07-29 18:58] #23515 closed

[2019-07-29 19:01] #22710 closed

[2019-07-29 19:07] #20178 closed

[2019-07-29 20:01] #22131 closed

[2019-07-29 20:37] jamesr66a opened #23523 "[JIT] Name mangling breaks trace checking"
[code]

[code]

[2019-07-29 21:05] teucer opened #23525 "MultiheadAttention output changes if input order is not exactly same"
## 🐛 Bug

I have trained a transformer model and the results seem to be wrong

## To Reproduce

Steps to reproduce the behavior:

1. Train a model using the multi head attention (encoder only)
2. construct vector x = [x1,x2] and xx = [x3,x1] where x1, x2, and x3 are two inputs
3. calculate y = transformer(x) and yy = transformer(xx)

## Expected behavior

y[0] = yy[1]

Believe the issue due to the

[2019-07-29 21:18] suo commented on #23523
This is fixed by https://github.com/pytorch/pytorch/pull/23154

[2019-07-29 22:16] chtsao8 opened #23529 "PyTorch->Onnx conversion incorrect"
## 🐛 Bug

Hi, when converting Pytorch implementations of networks like AlexNet and super_resolution to onnx, and then to any other framework (e.g. Caffe2, Tensorflow, Halide), the outputs don't match when the same input is passed in during testing. For example, following the code from this tutorial,

<https://pytorch.org/tutorials/advanced/super_resolution_with_caffe2.html>

when inputting a 224x2

[2019-07-29 22:51] xwang-icsi opened #23531 "Add nn.functional.interpolate slow down backward process more than 10 times"
## 🐛 Bug

It seems like that the time cost for backpropagation with F.interpolate layer is very high, not sure how to fix it. In my experiments, I added around 10 AdaptiaveAvgPooling and F.interpolate layer combination in ResNet50 for parameter-free decode and encode, my codes was slowed down for more than 4 times. I checked the code, the AdaptiaveAvgPooling layer works fine, but interpolate layer

[2019-07-29 23:42] #23523 closed

[2019-07-29 23:52] yaroslavvb opened #23534 "NCCL error in `ProcessGroupNCCL.cpp:272`"
I'm upgrading imagenet in 18 minutes to PyTorch 1.1/CUDA 10 and seeing following error
[code]
What's happening is that 3 machines fail with error above in DistributedDataParallel constructor, while 1 machine logs show it succeeding with no errors and continuing to next [line](https://github.com/cybertronai/imagenet18_/blob/5c9cd0d40c59d3a181c742a23ee8bbc49ae06257/training/train_imagenet_nv.py#L129

[2019-07-29 23:58] xuhdev commented on #8092
A long-term solution might be getting [CMAKE_CUDA_COMPILER_LAUNCHER](https://cmake.org/cmake/help/v3.15/variable/CMAKE_LANG_COMPILER_LAUNCHER.html) to work

[2019-07-30 00:03] OBannon37 commented on #23048
I agree - I think DataLoader would be a good location to implement this. I think to narrow the scope, we could tune num_workers at first. This commit to TensorFlow might be a good place to start - https://github.com/tensorflow/tensorflow/commit/c8a0dfc741736a59f8fd1776b71f38619d66da56#diff-df634c8243713c0afd2e05c1689412e2

[2019-07-30 00:04] xuhdev opened #23537 "NVCC ccache support is currently broken"
Running

    export CCACHE_LOGFILE=~/tmp/ccache.debug
    CCACHE_DEBUG=1 MAX_JOBS=1 python setup.py develop

The ccache log file shows that:

[code]

[2019-07-30 00:15] xuhdev commented on #23537
I probably messed on my side. Closing now.

[2019-07-30 00:15] #23537 closed

[2019-07-30 00:17] ldmoser opened #23538 "torch.mm in CPU with inconsistent results"
I am using torch.mm to transform 3D points by a given 3x3 matrix and I get different results depending whether I multiply each point independently or if I multiply them at once. The error is in the order of 1e-7 for float32 precision. Considering the inputs are exactly the same, and I'm doing it in CPU, I don't see why the output would differ. Also, if I send the tensors to GPU the problem goes aw

[2019-07-30 00:21] soumith commented on #23538
1e-7 for float32 precision is totally game.
Even if your inputs are the same, the order in which the operations are done likely isn't, and floating point error accumulates

[2019-07-30 00:21] #23538 closed

[2019-07-30 00:24] wanlipeng commented on #23503
I think I have got the answer, Now pytorch not supports 32 bit..

[2019-07-30 00:26] #23503 closed

[2019-07-30 00:32] ldmoser commented on #23538
how would you explain that the GPU implementation doesn't show that problem?

[2019-07-30 00:32] timmoon10 opened #23540 "Error from PyTorch when finalizing Python embedded in C++"
## 🐛 Bug

I have a C++ application with an embedded Python session, and I've observed that importing PyTorch causes strange errors when the program ends. From what I can tell, the problem emerges because I finalize Python during the program exit, after PyTorch's internal objects have already been destroyed. PyTorch deallocates the objects' memory, but it does not update the corresponding reference

[2019-07-30 00:36] ezyang commented on #8212
@pbelevich is working on this

[2019-07-30 00:59] blackxer commented on #23427
I have updated my pytorch to version 1.1.0.
It works in the latest PyTorch(1.1.0)

[2019-07-30 01:00] #23427 closed

[2019-07-30 01:54] feixyz10 commented on #23069
Segmentation fault (core dumped).  No other error messages.

[2019-07-30 02:04] ygliang2009 opened #23544 "CUDA_VISIBLE_DEVICES setting unavailble after called torch.cuda.is_available function"
When i indicate cuda number directly by using os['CUDA_VISIBLE_DEVICES'] = cudaIndex, i found the function is unavailable. The program consistently use cuda index 0 by default. after a long time debug, i suspect the sentence " use_cuda = torch.cuda.is_available()" make everything losing efficacy. When i reverse both of them, then it works.

python version: 2.7.16
torch version:1.1.0
linux version:

[2019-07-30 02:10] soumith commented on #23069
@feixyz10 from what others could tell in https://github.com/pytorch/pytorch/issues/23487 , this was fixed in PyTorch nightlies and master. Can you please check, and if it's fixed, close the issue.

[2019-07-30 02:29] NickYangMin commented on #23498
why this error only happen in function "run_mod_and_filter_tensor_outputs"?@soumith

[2019-07-30 02:31] NickYangMin commented on #23498
In trace->_check_trace->run_mod_and_filter_tensor_output @soumith

[2019-07-30 02:34] lutzroeder commented on #18398
Hi @rgommers,

Adding `pip3 install intel-openmp` does not make a difference as it is already present from `pip3 install mkl`. `libiomp5.so` is present in the virtualenv but it is not picked up during load:

[code]

Can you re-open the issue or are there other ideas I could try.

[2019-07-30 03:04] as754770178 commented on #22679
Yes, the program not stuck.

[2019-07-30 03:23] ngimel opened #23545 "THCUNN convolutions fail with half inputs/weights"
## 🐛 Bug

Pytorch fallback for convolutions with half inputs/weights fails. First reported on the forums https://discuss.pytorch.org/t/cuda-10-1-error-using-transposeconv2d-with-output-padding-1/51414?u=ptrblck
This is likely a regression introduced by  https://github.com/pytorch/pytorch/pull/20994 (thanks for tracking this down @ptrblck ). It should be a must fix for 1.2 release.
In most cases, c

[2019-07-30 03:23] rgommers commented on #18398
This is very odd, the two scripts look identical, and `libiomp5.so` does get installed into `torch/lib/`. Sometimes `pip` or `setuptools` versions matter. Can you make sure you're on the most recent versions? Also, can you put your full build log in a gist?

I won't have time to look in a lot more detail this week, so reopening for now.

Also, just to make sure: if you add one of the two directori

[2019-07-30 03:42] soumith commented on #23545
@ngimel would you have bandwidth to send a patch? or should I find someone else to fix it?

[2019-07-30 03:45] yaroslavvb commented on #23534
On different system (32GB V100's instead of 16GB) I see similar error but wording is a bit different. Also this happens on 1 process per machine, whereas the rest of the processes seem fine

[code]

Downgrading to older image with PyTorch 1.0, NCCL version 2.1.15+cuda9.1 seems to fix this error

[2019-07-30 04:12] SsnL commented on #23544
The env var only has effect before pytorch access cuda. In general you should better use a device object or `torch.cuda.set_device`. If you really want to use this env var, put it at the top before everything or just set it on command line.

[2019-07-30 04:12] #23544 closed

[2019-07-30 05:06] Maghoumi commented on #5261
Ok, thanks for your response. I'll try to bug someone internally to see if anyone's interested in making this available in cuDNN.

[2019-07-30 05:16] kingder opened #23547 "model use dilated conv backward in v1.1.0 is ~3x slower than in v0.4.1 on 1080Ti"
## 🐛 Bug

we found backward time of model with dilated conv in v1.1.0 much slower than in v0.4.1 on 1080ti, but comparable on v100.

## To Reproduce

[code]

v1.1.0 (cudnn_version=7501):
[code]
v0.4.1 (cudnn_version=7102):
[code]

## Expected behavior

the backward time should be similar.

## Environment

cuda 9.0
python 3.6

## Additional context

[2019-07-30 05:34] pietern commented on #22679
@as754770178 Thanks for confirming and closing the issue.

[2019-07-30 05:38] #21406 closed

[2019-07-30 05:38] whitelok commented on #14869
this issue already fixed in latest commit https://github.com/pytorch/pytorch/commit/30bc19d75145e1c23cad2346c8a60c1123c4ae6f

[2019-07-30 05:52] t-vi commented on #5261
A reasonably fast workaround would likely be to use JIT fused RNNs (which might also be part of the reason why we don't have this as a priority).

[2019-07-30 06:04] pietern commented on #23534
Since you're running with PyTorch 1.1, that will likely be using NCCL 2.4.2, if you haven't overridden it elsewhere (this makes me think we should log the NCCL version in these exceptions...).

There was an issue in NCCL where if the basename of the hostname across different hosts was equal, it would assume they're one and the same machine, and attempt to use local transports (e.g. shm or nvlink).

[2019-07-30 06:04] pietern opened #23549 "Log NCCL version in NCCL exceptions"
## 🚀 Feature

We don't know which version of NCCL was used from an exception trace. NCCL may be built from tree or may be supplied externally (and loaded dynamically) so we have to figure this out at runtime. The version number should be included in NCCL error messages.

## Motivation

See issue #23534 for an example that made me think we should do this. If we include the NCCL version in the excep

[2019-07-30 06:36] Jubird915 commented on #23486
Thank  you @vishwakftw for quick response
the collection information below here, and no conda, just pip3 install Pytorch and all demo code with torch run successfully

~/learnAI/CenterNet/src$ python3 env_collect.py
Collecting environment information...
PyTorch version: 1.0.1.post2
Is debug build: No
CUDA used to build PyTorch: 9.0.176

OS: Ubuntu 16.04.6 LTS
GCC version: (Ubuntu 6.5.0-2ubuntu1~16

[2019-07-30 06:46] mustafa-qamaruddin commented on #16599
I have just implemented WGAN as per the WGAN source code associated with the published paper. It did not require any sort of custom loss function. Actually, it used Lipschitz inequality and instead of

loss.backward()

It passed the label as the gradient with:

output.backward(-1)  # fake
output.backward(+1) # real

It works like magic. This was very smart and the results were vivid.

So I guess E

[2019-07-30 07:10] Maghoumi commented on #5261
Thanks for the suggestion @t-vi. I quickly gave the JIT idea a try in my project.

Modifying my manually implemented GRU cell to use JIT, I see a speed up of about 25%. Would you say that's reasonable improvement?

I've never used PyTorch's JIT, so I don't know if I did everything the most optimized way. As a side question, anyone know of any "good" fused GRU implementations?

[2019-07-30 07:18] t-vi commented on #5261
If you didn't take inspiration from the [widely publicized note on fast LSTM implementation](https://pytorch.org/blog/optimizing-cuda-rnn-with-torchscript/), you probably didn't squeeze out performance as much as you could. But until then, you are probably safely in [forum territory](https://discuss.pytorch.org/).

[2019-07-30 07:22] Maghoumi commented on #5261
I actually did take inspiration from that post, and yes, I didn't spend time implementing all those tricks :)

Again, thanks for the JIT suggestion.

[2019-07-30 08:10] Gsunshine commented on #23475
A toy implementation embeded in Python.

[code]

However, it relies on a for loop in Python with `O(D_y)` complexity. This is based on the reverse mode AD with API torch.autograd.grad. For a minimum modification to Pytorch core, it is reasonable to compute the Jacobian matrix via a parallel for loop, like `pfor` in tensorflow. Otherwise, we need to change the autograd mechanism in pytorch, which i

[2019-07-30 08:23] #23009 closed

[2019-07-30 08:55] ptrblck commented on #23545
@soumith I'll take a look at it.

[2019-07-30 09:09] AK-ayush commented on #23067
I have a figured a temporary workaround for the time being but having a feature similar to above would be highly useful.

https://gist.github.com/AK-ayush/202875ef816025653980bd1d6e5a0071

[2019-07-30 09:15] basque21 commented on #13110
I'm having this problem also... any solution apart from retraining with `batch_first = False` ?

[2019-07-30 09:21] prasunanand commented on #18643
Hi, when I added `time.sleep(20)` to the reproducer code, there is no such issue. I belive the gc kicks during the `sleep()`.

https://gist.github.com/prasunanand/0926fe1ea453a785c967d2c444a22402

[2019-07-30 09:39] yelantingfeng opened #23550 "MaxPool3d makes model not reproducible."
## 🐛 Bug

MaxPool3d makes gradient not deterministic.

## To Reproduce

Steps to reproduce the behavior:

1. Run following code with command `python test1.py`. It saves model weights, intermediate variables and gradients into .pth files.
[code]
2. Run following script with command `python test2.py`. It does the same things, but save targets into different files.
[code]
3. Run following script by u

[2019-07-30 10:09] ParmpalGill commented on #9699
One Way to install it without cuda is use
cmake .. -DDLIB_USE_CUDA=0 -DUSE_AVX_INSTRUCTIONS=1

[2019-07-30 10:10] ParmpalGill commented on #13615
One Way to install it without cuda is use
cmake .. -DDLIB_USE_CUDA=0 -DUSE_AVX_INSTRUCTIONS=1

[2019-07-30 10:26] smallsheep666 commented on #21967
I have the same question .How can i use the forward() when i have multi inputs?

[2019-07-30 10:56] LeicongLi opened #23551 "Reload layer from Pytorch saved ONNX model"
## ❓ Questions and Help
May I get some help to retrieve the constructor parameters (in_channels & out_channels) in nn.Conv2D from a saved ONNX model.

Background:
1. Playing around Pytorch ONNX module
2. Load a pre-trained Alex-Net model from troch-vision, and save it to ONNX model.
3. Load the saved onnx model, and try to recover it back to a Pytorch model, but have difficulties to retrieve requi

[2019-07-30 13:02] prasunanand commented on #22439
Is anyone working on it ?

[2019-07-30 13:04] Naruto-Sasuke commented on #23369
@nairbv I agree with you,

makes sense to me.

[2019-07-30 13:28] yaroslavvb commented on #23549
Could also be useful to get NCCL version accessible through PyTorch interface, so I could log it on all runs. Maybe `torch.__version_and_libs__` to return string with pytorch, cuda, nccl versions.

 Sometimes updates in NCCL version make it slow instead of crashing. Using NCCL_DEBUG=INFO prints debug info but no version info so you have to choose whether to see more version or debug info.

[2019-07-30 13:46] varunagrawal commented on #22439
@prasunanand I believe the consensus right now is to first come up with a proposal for this subpackage. This will be taken care of by someone on the Pytorch internal team, and after an initial setup is when we can start adding things.

[2019-07-30 13:57] vincentqb commented on #23480
No, the linked PR does not addressed this. I linked only for reference.

[2019-07-30 14:10] yaroslavvb commented on #23534
Rerun it and see 2 crashing processes on 1 machine unlike in previous example.

Crashing worker [log](https://app.wandb.ai/yaroslavvb/imagenet18/runs/vz9vuekk/logs)
[code]
Working worker [log](https://app.wandb.ai/yaroslavvb/imagenet18/runs/yfgtcqqw/logs)

[code]

[2019-07-30 14:29] chughtapan commented on #21454
Hi @ailzhang,

I looked at your recent PR (https://github.com/pytorch/pytorch/pull/23433) and tried this again with the latest code. This error still remains.

Do you think this is because there are other cases like the ones above or this is because of something else?

[2019-07-30 14:43] pietern commented on #23534
I think this is NVIDIA/nccl#185. Using a newer version of NCCL should fix the problem.

[2019-07-30 14:54] CanoeFZH commented on #23107
Can you give some more specific output details about runtime environment? @shawzhan

[2019-07-30 15:08] CanoeFZH commented on #23431
According to the code you mentioned, I think it is by design behavior that this will raise a error when you try to export ```torch.nn.DataParallel``` without unwrapping it firstly to ```model.module```.
[code]

[2019-07-30 15:36] ailzhang commented on #21454
@chughtapan Thanks for checking! Would you mind help creat a minimal repro script like #21406 did, it can help locate the problem and get to a fix quickly instead of looking into the giant bert model. Thanks!

[2019-07-30 15:53] vyi opened #23554 "Not able to install after building successfully from source"
## ❓ Questions and Help

On Ubuntu 16.04 with python 3.5.2 and gcc-5.4.0
I have successfully built **pytorch v1.1.0** with cmake and also did `sudo make install`

Then I tried to run
`python3 -c "import torch"`
`python -c "import torch"`
neither worked!

Next I tried to install it from the `setup.py` file present in the main directory:
`sudo python3 setup.py install`

but that also fails complaini

[2019-07-30 15:58] soumith commented on #23554
follow our readme. from what you've done, we see that you haven't.

[2019-07-30 15:58] #23554 closed

[2019-07-30 16:17] shawzhan commented on #23107
Yes, here is the error.

[2019-07-30 16:59] pandeykartikey commented on #23430
Would like to work on this feature @fmassa  @izdeby?

[2019-07-30 17:07] ezyang commented on #17181
Nope, this seems like a good enough resolution to me. It will be cool if sleef fixes it but that probably isn't a high priority issue for us anymore.

[2019-07-30 17:07] #17181 closed

[2019-07-30 17:08] fmassa commented on #23430
@pandeykartikey this is still pending discussion if it's something that we want to add in PyTorch.

[2019-07-30 17:09] ezyang commented on #23039
I'm planning to move them all into the same directory. But maybe not for a little bit.

[2019-07-30 17:10] soumith opened #23555 "[v1.2.0] Release Tracker"
The branch v1.2.0 has been cut.

If you need any particular patches onto this branch, please comment below and send a PR to v1.2.0 branch (instead of master).

---

Current PRs open against the `v1.2.0` branch: https://github.com/pytorch/pytorch/pulls?utf8=%E2%9C%93&q=is%3Apr+is%3Aopen+base%3Av1.2.0

[2019-07-30 17:13] ezyang commented on #18643
If that's true, swapping `time.sleep(20)` with `gc.collect()` ought to work too. Sounds like a reference cycle, in that case?

[2019-07-30 17:19] ezyang commented on #23555
@brianjo Can you make sure #23553 gets into 1.2.0 after you land it on master

[2019-07-30 17:20] gchanan commented on #23238
Now tracked in https://github.com/pytorch/pytorch/issues/23238.

[2019-07-30 17:22] mdlockyer commented on #18643
@prasunanand that's interesting. I'll test your gist on my end when I get a chance. @ezyang In my reproduction, I have a call to `collect()` after each iteration already. Not sure why the `sleep` works but not explicit garbage collection.

[2019-07-30 17:23] jerryzh168 commented on #23555
this pr need to be landed to 1.2: https://github.com/pytorch/pytorch/pull/23452

[2019-07-30 18:08] colesbury commented on #23482
The potential system includes from [Dependencies.cmake](https://github.com/pytorch/pytorch/blob/7364aa796d9c7a6c46cb6210c99b723efffc6600/cmake/Dependencies.cmake#L464-L592) between `../third_party` and `../cmake/../third_party/eigen` are:

LMDB_INCLUDE_DIR
OpenCL_INCLUDE_DIRS
LevelDB_INCLUDE + Snappy_INCLUDE_DIR
Numa_INCLUDE_DIR
ZMQ_INCLUDE_DIR
Hiredis_INCLUDE
OpenCV_INCLUDE_DIRS
FFMPEG_INCLUDE_DI

[2019-07-30 18:09] colesbury commented on #23482
My guess is that CMake finds the NUMA libraries in /usr/include

[2019-07-30 18:12] #19422 closed

[2019-07-30 18:30] SsnL commented on #11665
fixed in https://github.com/pytorch/pytorch/pull/23027 by @VitalyFedyunin

[2019-07-30 18:30] #11665 closed

[2019-07-30 18:32] VitalyFedyunin commented on #23551
Please use https://discuss.pytorch.org (https://discuss.pytorch.org/) for questions. Please kindly feel encouraged to reopen this issue, if this does not apply.

[2019-07-30 18:32] #23551 closed

[2019-07-30 19:18] abonnet opened #23563 "Compilation error CUDA 10.0/Clang 8.0.0"
## 🐛 Bug

I am getting a compilation error when building from source with CUDA 10.0 and Clang 8.0.0 on Ubuntu 14.04. Error message: `nvcc fatal   : The version ('8.0') of the host compiler ('clang') is not supported` while according to Clang website, Clang 8.0.0 is supporting CUDA 10.0.

Full output:
[code]

## To Reproduce

Steps to reproduce the behavior:

1. `git clone --recursive https://githu

[2019-07-30 19:26] vyi commented on #23554
@soumith I don't want to install Anaconda on my system. Is that the only way to get pytorch working? by installing Anaconda?

[2019-07-30 20:08] mark-fangzhou-xie commented on #14727
I was facing almost same problems here and managed to fix it by downloading `libmklml.dylib` and `libiomp5.dylib` from [here](https://github.com/intel/mkl-dnn/releases). Just in case anyone needs this, please do NOT download the newest post there! Instead find the `mklml` file instead of `mkldnn` file.

![image](https://user-images.githubusercontent.com/45321577/62161402-12d8da80-b2e4-11e9-8b2c-bf

[2019-07-30 21:12] suo commented on #23483
@wanchaol, can you take a look? Is this fixed by your pack_padded_sequence changes?

[2019-07-30 21:20] InternetExplorer9 commented on #23483
This is after I applied the fix for the _get_tracing_state() operator.

[2019-07-30 21:21] mrshenli commented on #23425
Hi @chenchr, let me try to better understand the requirement. Are you doing something like the following?

[code]

There are two problems with the above code:

1. Not all DDP outputs contribute to loss: `box_output` was discarded after the forward pass, but DDP backward reduction would still expect gradients for params involved in computing that loss. This will lead to backward hang.
2. If some mo

[2019-07-30 21:25] mrshenli commented on #23374
Hi @snippler, does `USE_DISTRIBUTED=0` work for you?

[2019-07-30 21:34] lara-hdr commented on #23529
Could you try following https://pytorch.org/tutorials/advanced/super_resolution_with_onnxruntime.html with pytorch_nightly?

[2019-07-30 21:34] mrshenli commented on #23363
Hi @un-knight, the branch [v1.2.0](https://github.com/pytorch/pytorch/tree/v1.2.0) has been cut, and #23555 is tracking the discussion. Official announcement should come soon.

[2019-07-30 21:46] mrshenli commented on #23363
Hi @as754770178, to install from source, checkout [this section](https://github.com/pytorch/pytorch#from-source). NCCL is included as a git submodule in PyTorch repo, so no need to install that manually or separately.

[pytorch-nightly](https://anaconda.org/pytorch/pytorch-nightly) should work for you, it uses NCCL 2.4.8.

[2019-07-30 21:48] wyessen commented on #13110
@basque21 Update to the latest version - pull and compile.

[2019-07-30 21:48] wanchaol commented on #23483
@InternetExplorer9 I think you are using tracing instead of scripting, the `get_tracing_state()` operator support is only used in scripting mode. We actually support PackPaddedSequence in script, I just landed it yesterday https://github.com/pytorch/pytorch/pull/23249, in this PR I also remove the `torch.jit.TracerWarning` so this error won't happen again if you checkout master

[2019-07-30 21:54] InternetExplorer9 commented on #23483
Great, thanks!

[2019-07-30 21:54] #23483 closed

[2019-07-30 22:01] andreaskoepf commented on #23525
Are you talking about self-attention?
Could you please post a minimized example to reproduce the problem?

If two batches have sequences with the same embeddings (in different order) the output shoud be identical for self-atttention (dot-product scores before softmax are the same) only in a different order, e.g. the following test should hold:

[code]

But if you introduce a completely new element

[2019-07-30 22:06] ShangxuanWu opened #23571 "torch.nn.Upsample undeterministic behavior"
## 📚 Documentation

`torch.nn.Upsample()` shares the same undeterministic backward issue with `torch.nn.functional.upsample()`, which could not be easily turned off using CuDNN flag. But in the documentation, we didn't state that. Can we add the documentation for `torch.nn.Upsample()`?

[2019-07-30 22:09] thiagocrepaldi opened #23573 "Compilation error with CUDA 10.0/ninja on Linux"
## 🐛 Bug

I am getting a compilation error when building from source with CUDA 10.0 and ninja on Dockerfile with Ubuntu 16.04.

Error message: FAILED: caffe2/CMakeFiles/torch.dir/operators/torch_generated_channelwise_conv3d_op_cudnn.cu.o
(...)
caffe2/operators/channelwise_conv3d_op_cudnn.cu(102): error: identifier "__ldg" is undefined

## To Reproduce
Create Dockerfile which installs miniconda, cr

[2019-07-30 22:11] soumith commented on #23554
you **can** get pytorch working without anaconda, we just dont offer support for it, so you're on your own.

[2019-07-30 22:23] zc-alexfan commented on #1659
Same problem here, and I think I have found the problem.

The issue occurs because of the disk I/O is 100% occupied (check by command `iostat -x 1`) when either the batch size being too big or too many workers. It is problematic because virtual memory is also used by other programs in the system. When the system cannot load virtual memory into RAM for other programs on time, the other programs wil

[2019-07-30 22:24] soumith commented on #23573
enable the environment variable `export TORCH_CUDA_ARCH_LIST=7.0`, and this should be fixed.

Basically, what's happening here is that you are building in a docker container that has CUDA, but doesn't have access to a GPU. So PyTorch is defaulting to building for all CUDA architectures, and I suspect it's including some old architectures. If you paste the full build log, we can tell what it's atte

[2019-07-30 22:30] thiagocrepaldi commented on #23573
Thanks Soumith! That is the full output for a re-run of build, so maybe not everything is here. I can do a full build if you want

However, I a do have a GPU but didnt use nvidia-docker to expose it to the container, so your assessment looks accurate

[code]

[2019-07-30 22:36] ailzhang commented on #13968
cc: @soumith  @gchanan @fmassa I came across this in testing xla. IMHO we should fix it in 1.2 release.
The easiest thing to do is fixing the doc as numpy doesn't have a `frac` method. It has `numpy.modf` which does a similar thing as our `frac`, and for the inconsistent `frac` formula we have in doc, that indeed match `numpy.divmod` behavior.
Let me know if you have any preference here, I can sen

[2019-07-30 22:36] andreaskoepf commented on #23392
Sum itself seems to behave a bit different for gpu & cpu for your array of values.

This is what I see:

[code]
I am not sure if this really is to be classified as a bug or as an acceptable artifact of parallel floating point summation on the GPU. The order of fp summation operations generally matters since a summand with larger exponent will ignore bits from a smaller summand's mantissa. Differen

[2019-07-30 22:56] suo commented on #23486
Thanks for the environment info! Can you paste a script that will reproduce the error so that we can investigate?

[2019-07-30 23:05] thiagocrepaldi commented on #23573
It worked. Thanks!

[2019-07-30 23:05] #23573 closed

[2019-07-30 23:49] Char-Aznable commented on #23482
No, I built and installed NUMA just for that. Here's the build log (this is the one with the stdint-gcc.h included in the headers).
[buildlog.txt](https://github.com/pytorch/pytorch/files/3449240/buildlog.txt)

[2019-07-31 00:00] ailzhang commented on #23571
@ShangxuanWu Can you provide a minimal repro? Thanks!

[2019-07-31 00:34] jacobrgardner opened #23580 "Speed Regression in torch.qr"
## 🐛 Bug

I'm seeing some pretty serious (~5-10x) speed regressions for `torch.qr` on master compared to the anaconda release with the following test code:
[code]
On release PyTorch:
[code]
And on master:
[code]

[2019-07-31 00:58] xsacha opened #23582 "Purpose of 'debug' folder in JIT archive"
## 🐛 Bug

In Pytorch 1.2.0, a new 'debug' folder with a fairly large pickled file has come in to existence.
I have a 3MB model and this debug folder seems to take up an extra 1MB making it a 4MB model for no specific purpose.

Worse, deleting the folder means the model fails to load.
As a workaround I created an empty file in the folder and it successfully loads and runs as a 3MB model again.

##

[2019-07-31 01:23] soumith commented on #23582
@driazati @suo can we make saving debug info enabled by default but give users the option to not save it?

[2019-07-31 01:41] feixyz10 commented on #23069
Thanks, seems it has been fixed in PyTorch nightlies.

[2019-07-31 01:41] #23069 closed

[2019-07-31 02:06] un-knight opened #23585 "torchvision0.3.0 is incompatible with pytorch1.2(nightly)"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. Execute `conda install pytorch torchvision cudatoolkit=10.0 -c pytorch` to intall pytorch1.1 and torchvision0.3.0
1. Execute `conda install pytorch-nightly -c pytorch` to install pytorch1.2
1. Import torchvision then get the following error.

[code]

## Environment

Versions of relevant libraries:
[pip] numpy==1.16.2
[pip] numpydoc==0

[2019-07-31 03:05] SsnL commented on #23580
cc @vishwakftw could this be related to your QR batching PR? Was that in 1.1?

[2019-07-31 03:10] vishwakftw commented on #23580
QR batching PR was done after 1.1, please allow me to investigate.

[2019-07-31 03:30] sidazhang commented on #23555
Is this going to make it into 1.2? https://github.com/pytorch/pytorch/pull/23241

[2019-07-31 03:32] lutzroeder commented on #18398
Log attached. [log.txt](https://github.com/pytorch/pytorch/files/3449708/log.txt)

[2019-07-31 03:35] soumith commented on #23555
@sidazhang the pickler API is explicitly not making into 1.2, because @suo thinks it needs to bake for a few days in nightlies to test stability

[2019-07-31 03:46] SsnL commented on #23238
fixed now, i believe!

[2019-07-31 03:46] #23238 closed

[2019-07-31 03:47] SsnL commented on #23122
fixed by https://github.com/pytorch/pytorch/pull/23358

[2019-07-31 03:47] #23122 closed

[2019-07-31 03:54] veritas9872 commented on #6934
For anyone trying to implement SSIM on their own, [this](https://github.com/scikit-image/scikit-image/blob/master/skimage/metrics/_structural_similarity.py) is the link for the official skimage implementation for SSIM.
There is also an skvideo implementation of SSIM [here](https://github.com/scikit-video/scikit-video/blob/master/skvideo/measure/ssim.py).
Also, skvideo has an implementation of MS-S

[2019-07-31 04:19] #21076 closed

[2019-07-31 04:40] vishwakftw commented on #23580
@jacobrgardner These timings look really skewed to me. I benchmarked torch.qr on two versions of PyTorch - `v1.1` and `v1.2.0.dev20190730+cpu`. The consolidated timings are given [here](https://gist.github.com/vishwakftw/2ee0073e8273a97ad925ff75eefc9c9d.

TL;DR: there is a minor regression (about 1.01 - 1.1). I'll try to fix this as soon as I can.

[2019-07-31 04:48] thinhnggia opened #23589 "ValueError: only one element tensors can be converted to Python scalars"
So I have tried the script in the issue **ValueError: only one element tensors can be converted to Python scalars #22674** with the newest Pytorch Version, but it seems doesn't work. Do you have any idea about this

The configuration im using:
Pytorch version: 1.1.0
Python version:3.7.3
torchvision: 0.3.0

[2019-07-31 04:53] mbmhm123 commented on #5301
num_of_worker=0 is too late.

i work on img processing with unet. epoch num 100 takes 5 hours. any other soluton?

[2019-07-31 05:31] Ownmarc commented on #20380
+1 for Windows support of the distributed training! Currently getting "AttributeError: module 'torch.distributed' has no attribute 'init_process_group'" when trying to run distributed training on Windows. The same works fine on Linux.

[2019-07-31 06:11] jacobrgardner commented on #23580
@vishwakftw Hmm, timing differences that small wouldn't have raised alarm bells on my end -- the symptom that led me to discovering this was an actual model training around 10x slower than it ought to have with `torch.qr` dominating the running time.

I'll look in to this on my end in the morning and see if it was something local, but the problem was consistent enough that I ended up hotfixing out

[2019-07-31 06:18] vishwakftw commented on #23580
@jacobrgardner sure, thank you. I have a local fix for the regression, will run tests and create a PR accordingly.

[2019-07-31 06:21] peterjc123 commented on #23585
Duplicate of https://github.com/pytorch/pytorch/issues/23218.

[2019-07-31 06:21] #23585 closed

[2019-07-31 06:31] alwynmathew commented on #15541
I got the same error while In trained a model in another system(GPU server) and loaded the trained weights in my system(Personal system) using `model.load_state_dict(state['state_dict']` for inference.

[code]

When I googled it I found [this](https://stackoverflow.com/questions/53186736/runtimeerror-attempting-to-deserialize-object-on-cuda-device-2-but-torch-cuda-d) to add `map_location` to solve

[2019-07-31 06:31] vishwakftw commented on #23555
#23591 could also be included in 1.2 (and in master)

[2019-07-31 06:56] Jubird915 commented on #23486
the original code is in the link https://github.com/xingyizhou/CenterNet/blob/master/src/lib/detectors/ctdet.py

I just add torch.jit.trace code as below:
git diff lib/detectors/ctdet.py
diff --git a/src/lib/detectors/ctdet.py b/src/lib/detectors/ctdet.py
index 7e516b2..30776db 100755
--- a/src/lib/detectors/ctdet.py
+++ b/src/lib/detectors/ctdet.py
@@ -23,6 +23,11 @@ class CtdetDetector(BaseDetec