[2020-01-18 05:22] bhaeffele commented on #21819
I ran the code from the first post for 1e6 iterations without any errors on my "problematic" GPU.  Still getting the error with my code on that GPU only.

[2020-01-18 05:56] cloudrivers commented on #30681
meet the same issue.

pytorch : 1.3.1
onnx: 1.5.0

Traceback (most recent call last):
  File "detect.py", line 178, in <module>
    detect()
  File "detect.py", line 52, in detect
    onnx.checker.check_model(model)  # Check that the IR is well formed
  File "/home/ubuntu/anaconda3/envs/pytorch_p36/lib/python3.6/site-packages/onnx/checker.py", line 86, in check_model
    C.check_model(model.Serial

[2020-01-18 06:20] v0dro commented on #12013
The behaviour seems to have changed in the current master.  Here's my program:
[code]

And this is the output:
[code]

@ezyang @rgommers can you please comment whether this behaviour is alright? The issue is already solved if yes.

[2020-01-18 07:50] jermainewang opened #32385 "[JIT] Incorrect gradient results under script mode"
## 🐛 Bug

I was playing with the torchscript example from the [tutorial](https://pytorch.org/tutorials/beginner/Intro_to_TorchScript_tutorial.html) and found that gradients may not be correctly calculated under script mode. Here is a minimal example to reproduce:

[code]

## To Reproduce

Steps to reproduce the behavior:

1. Run the above codes with `python loop.py`
1. Example output:
[code]

## E

[2020-01-18 09:39] Asa-Nisi-Masa opened #32388 "Changing last linear layer of a pretrained model changes the activation to tanh(x)"
## 🐛 Bug

When loading the mobilenet_v2 model and changing the last classifier linear layer to accompany a different number of classes, the activation gets also changed (from f(x) = x to f(x) = tanh(x)).

## To Reproduce

Steps to reproduce the behavior:

Run the example code below. Before changing the last layer the output is in the range [-inf, inf], after changing it, it is in the range [-1, 1]

[2020-01-18 09:42] realiti4 commented on #32346
@ngimel yes the above two classes and the code below is enough to reproduce the issue on my end. Another thing I discovered right now is it only happens with '.to(device)', '.cuda' or '.cpu()'

    encoder = RNNModel(5, 128, 120, 2, 1).cuda()
or

    encoder = RNNModel(5, 128, 120, 2, 1).cpu()

[2020-01-18 11:03] skn123 commented on #31764
A bump; A fresh checkout from git still does not solve this issue.

[2020-01-18 11:06] djstrong commented on #11959
Label smoothing is implemented in fastai: https://github.com/fastai/fastai/blob/8013797e05f0ae0d771d60ecf7cf524da591503c/fastai/layers.py#L300

[2020-01-18 12:01] AlexBinder commented on #29992
Sorry, Do I see it right, that this codefix [#30174](https://github.com/pytorch/pytorch/pull/30174#pullrequestreview-320280712)  is not included in pytorch 1.4.0 yet ?

I am getting a similar error in backward - for 3 different style-gan implementations
CUDNN_STATUS_NOT_SUPPORTED. This error may appear if you passed in a non-contiguous input.

https://github.com/huangzh13/StyleGAN.pytorch
https://

[2020-01-18 12:18] cloudrivers commented on #30681
after upgrade onnx to 1.6.0. meet another issue.

pytorch : 1.4.0
onnx: 1.6.0
Namespace(agnostic_nms=False, cfg='cfg/yolov3.cfg', classes=None, conf_thres=0.3, device='', fourcc='mp4v', half=False, img_size=416, iou_thres=0.5, names='data/myclass.names', output='output', save_txt=False, source='data/samples', view_img=False, weights='weights/best.pt')
Using CPU

Segmentation fault (core dumped)

[2020-01-18 13:47] edgarriba opened #32390 "[JIT] Compile group of functions/modules"
## 🚀 Feature

I would like to be able to jit compile a group of functions or modules in order to serialize the obtained library in a single file so that later can be loaded in C++.

## Motivation

The main motivation for this feature is to port Kornia to C++ avoiding the massive effort to re-implement the whole thing from scratch in C++. We expect to do at some point in the future but as a first i

[2020-01-18 13:47] edgarriba commented on #32390
/cc @suo /fmassa

[2020-01-18 13:59] Wuqiman opened #32391 "PyTorch - ONNX Export Error with Opset 7 caused by Round"
## 🐛 Bug
PyTorch model export to ONNX fails when using PyTorch 1.3.1 or nightly and ONNX 1.6.0. Failure is caused by all upsample operations:
input = (input / scale).round().clamp(-127, 127)

## Environment
 - PyTorch Version (e.g., 1.0):1.3
 - OS (e.g., Linux):Linux
 - How you installed PyTorch (`conda`, `pip`, source):conda
 - Build command you used (if compiling from source):conda
 - Python ver

[2020-01-18 14:39] edgarriba opened #32392 "Unexpected keyword argument "align_corners" for "grid_sample""
## 🐛 Bug

After upgrading to PyTorch 1.4.0 when I make explicit the `align_corners` parameter in `F.grid_sample`, `mypy` returns an error complaining about the input parameters.

## To Reproduce

`F.grid_sample(image_src, points_2d_src_norm, align_corners=True)` ->  error: Unexpected keyword argument "align_corners" for "grid_sample"

`F.grid_sample(image_src, points_2d_src_norm, 'bilinear', 'zero

[2020-01-18 14:44] xsacha opened #32393 "[JIT] After upgrading to PyTorch 1.4.0, CUDA accuracy is decreased"
## 🐛 Bug

Benchmark results for face recognition algorithms appear to have gotten worse since upgrading to PyTorch 1.4.0.

The effect only happens in CUDA.

## To Reproduce

Steps to reproduce the behavior:

1. Download a model from https://github.com/ZhaoJ9014/face.evoLVe.PyTorch
2. Clone the repository and jit trace it
3. Run on a dataset with GPU and CPU and notice different results (this does

[2020-01-18 14:46] #32393 closed

[2020-01-18 14:51] WoosukKwon opened #32394 "JIT does not autodiff Conv & BN"
Hi,

recently I found that JIT does not create `DifferentiableGraph` nodes corresponding to Conv and BN modules.

Both ops are not registered in symbolic_script.cpp and considered to be “non-differentiable” in the sense that their gradients are always computed by Autograd engine, which loses the opportunity of making bigger `DifferentiableGraph`s.

What’s the reason behind such non-optimal behavio

[2020-01-18 16:02] Enealor commented on #32293
I'm using the inverse-CDF method, and doing the computations in place since it's for initialization.

[2020-01-18 16:50] One-sixth opened #32395 "pytorch 1.4 bug in conv2D kernel size 1x1 RuntimeError: cuDNN error: CUDNN_STATUS_NOT_SUPPORTED. This error may appear if you passed in a non-contiguous input"
## 🐛 Bug

The bug only appeared in pytorch 1.4 cuda and conv2d with kernel size 1x1.
pytorch 1.3 does not have this bug.

## To Reproduce

Steps to reproduce the behavior:

Will be raise CUDNN_STATUS_NOT_SUPPORTED
[code]

Use input with contiguous. No raise error.
[code]

Use kernel size 3x3. No raise error.
[code]

## Expected behavior

## Environment

 - PyTorch Version (e.g., 1.0): 1.4
 - OS (e

[2020-01-18 18:10] MichaelLutter commented on #32008
Hi @emfomenk,
I produced the logs you described. You can find them including the testing shell scripts [here](https://github.com/MichaelLutter/pytorch_debugging). For every setup i created a new conda environment with the current stable Pytorch version 1.4. I might did something wrong as the debug output is not huge.

From observing the results it looks like the number of cores & processes signifi

[2020-01-18 18:18] suo commented on #32385
Yes, this is a limitation of the tracing-based frontend to TorchScript. The warning in your repro explains why:
[code]

An alternative is to use `torch.jit.script`, which will preserve control flow like loops.

Going to close this out to help with our issue tracking, but feel free to keeping commenting if you have more questions!

[2020-01-18 18:31] suo commented on #32357
Hm, to be honest the JIT has not been tested with models of such extreme depth. While I wouldn't call the limitation fundamental (probably there is something somewhere that's n^2 in the depth of the module hierarchy which is getting exposed here), I do consider this model structure to be somewhat niche so fixing it is low on our priority list.

If you are interested in contributing, we would be ha

[2020-01-18 18:35] suo commented on #32365
Assigning to @driazati

[2020-01-18 19:15] Enealor commented on #32293
@alicanb I wrote code to test my implementation, and I found that the method I'm using doesn't pass the null hypothesis for large samples (10000+). I was wondering if the algorithm you are using is more successful in this regard? The test I'm using is
[code]
My current results with the inverse cdf and various tensor sizes gives
[code]
The results fluctuate a bit for `n = 100, 1000`, but they're co

[2020-01-18 19:24] glenn-jocher commented on #30681
@cloudrivers you might want to try a premade environment. The export process for yolov3-spp currently works correctly, so we are unable to reproduce.

- **Your environment.** If your issue is not reproducible in a common environment, such as a [GCP Quickstart Guide](https://github.com/ultralytics/yolov3/wiki/GCP-Quickstart) VM we can not debug it. Ensure you meet the requirements specified in the

[2020-01-18 19:24] dusty-nv commented on #32344
@soumith the PyTorch 1.4 wheels for Jetson were built with OpenBLAS.  The links are now working:  https://devtalk.nvidia.com/default/topic/1049071/jetson-nano/pytorch-for-jetson-nano-version-1-4-0-now-available/

[2020-01-18 19:35] alicanb commented on #32293
@Enealor check this notebook: https://gist.github.com/alicanb/c9e6567b7c512140ed43916b4dd30106 Second column is the inverse-cdf method, 4th method is the one i'm using

[2020-01-18 20:13] abdjava commented on #32279
Sure  i am but bit new and unsure how to do so .  Do i just need branch the main pytorch git then change the file ? and call a pull request or are the more rules  . I had a look thought the git was unable to find the HTML file for that page could please point me the right direction .

[2020-01-18 20:22] Enealor commented on #32293
Thank you for the notebook. It provides strong evidence for the method I'm choosing given what I expect the usage will be. I dug into my test more and realized I was using the SciPy `truncnorm` incorrectly. I will update the test I wrote above if you happen to need a hypothesis test for testing your commit.

[2020-01-18 20:24] SsnL commented on #32388
It is probably that the new fc's weights are initialized with a relatively small variance that makes it unlikely to output large values. You can try by explicitly initializing the weight matrix to all 100.

Also there is no activation after the last layer.

[2020-01-18 20:39] mrshenli commented on #32279
The doc html is auto generated from code comments here:

https://github.com/pytorch/vision/blob/64917bcc58a8dbf9a93a41f36f739173c3706a7d/torchvision/transforms/transforms.py#L146-L151

The comment lives in [pytorch/vision](https://github.com/pytorch/vision). So you need to clone that repo, and submit the pull request to that repo accordingly.

[2020-01-18 23:31] ChaiBapchya commented on #32342
Oh so basically `cmake_cache_vars['USE_SYSTEM_NCCL']` is by default pointing to `/usr/local/cuda` for UNIX?

[2020-01-19 01:15] jermainewang commented on #32385
Hey @suo , I understand the issue with trace mode. However, the problem is with the **script** mode. Although it captures the for loop correctly, it does not compute the same gradient values as the other modes. Please double check.

[2020-01-19 01:15] zdevito commented on #32352
@suo -- name collisions in the serialization format, though this time not due to any mangling, but due to the fact the the fully qualified names of the main module conflict with the namespaces. We should probably consider `__main__.preprocess` to be the names of top-level things for this reason.

[2020-01-19 01:19] zdevito commented on #32358
I think the dither error and this error are different.  I do not think we support scripting builtins like bartlet_window directly. But the error in torch audio seems legit.

[2020-01-19 01:22] zdevito commented on #32358
Actually, it does look to be a function. Not sure what is happening here. @driazati - can you look to see how recursive scripting is handling this python function?

[2020-01-19 01:26] zdevito commented on #32390
If you put your functions, modules into a top-level module, and annotate them with export, then all of them will get saved:
[code]

If this is not sufficient for what you want to save, can you elaborate more on your use case?

[2020-01-19 01:48] zdevito commented on #32394
We do not have any optimization passes that will look at these operators and optimize them. There are such passes that we might do in the future, such as Conv-BN fusions, but we haven't added them yet. Without being able to optimize, creating DifferentiableGraphs nodes just creates overhead, so we do not include these ops yet.

[2020-01-19 02:29] ppwwyyxx commented on #12013
The expected behavior for backward was given above in https://github.com/pytorch/pytorch/issues/12013#issuecomment-569876108

[2020-01-19 02:37] robotcator commented on #32082
Hi, actually, I think there are something need to clarify.
1: I print all the parameter's when call the `_broadcast_coalesced `, it seems that not only the `scale` and `zero_point`, the `min_val` and `max_val` value is also None.
2: I change the 'min_val' and 'max_val' in `https://github.com/pytorch/pytorch/blob/master/torch/quantization/observer.py#L304` to default value.
3: It will raise runtime

[2020-01-19 04:03] peterjc123 commented on #32395
cc @ngimel
Anyway, you can try out adding
`torch.backends.cudnn.benchmark = True`
or
`torch.backends.cudnn.deterministic = True`
first.

[2020-01-19 04:11] ngimel commented on #32395
cc @jjsjann123, looks like nhwc-related. Likely fixed on master.

[2020-01-19 04:55] ptrblck commented on #21819
@knagrecha
`0.4.0` is quite old by now. Could you please update to the latest stable release (`1.4.0`) and retry your script? Feel free to create a new issue in case you see the same error with any `to('cuda')` call and ping me there or are you seeing this error with the first posted code snippet?

@bhaeffele Could you post a (minimal) executable code snippet to reproduce this error?

[2020-01-19 05:24] ptrblck commented on #32192
Thanks for the link!

There is an option to use random data, so I executed the code with this command:
[code]
using PyTorch `1.4.0` and CUDA10.1 and cannot reproduce the slow down on a 16x V100-SXM3 32GB machine.

Did you add any modifications to the code besides the mentioned arguments?
Also, do you see the issue using random data or only if you use your real dataset?

Did @soumith's suggestion h

[2020-01-19 06:31] pranavpandey2511 commented on #32212
@ivanKobzarev please help!

[2020-01-19 07:03] v0dro commented on #12013
@ppwwyyxx will correct.

Meanwhile here is the 0-dim for interpolate: https://github.com/pytorch/pytorch/pull/32400

[2020-01-19 07:22] ngimel commented on #32346
The root cause of this bug is that `_apply` function for rnn module (https://github.com/pytorch/pytorch/blame/58234c0254f135d1e3714b17f44f4922d56d41b4/torch/nn/modules/rnn.py#L131-L139) does not work correctly after the parameters of rnn have been renamed, like in WeightDrop module here, or after applying weight_norm, so a minimum script to trigger an error cause by buggy `_apply` is this:
[code]

[2020-01-19 07:47] conan-biu commented on #32110
I met this problem and solve it. It seems that the generated protobuf format could not been parsed by the TensorRT. Some constants should be "initialier" op but it is regard as "node". If you run yout X.onnx by using onnxruntime, this problem can be solve. So you can revise you code following onnxruntime.

[2020-01-19 07:53] edgarriba commented on #32390
Sounds like It could work. Then from the C++ side I guess I will have to provide an interface for each of the exported functions, right? Which brings me to question of how the saved binary with functions works - Is it loaded at running time or can be cross compiled and linked to my C++ like a normal library ?

[2020-01-19 08:01] Ayush1651999 commented on #1204
@DanniyLin in which line you are getting the error ? Please give some details.

[2020-01-19 08:02] ptrblck commented on #31708
This issue was fixed in the latest cublas release, which ships with CUDA10.2.
I'll narrow down the commit to get the scope of this issue for CUDA10.1.

[2020-01-19 08:03] Ayush1651999 commented on #1204
@dennymarcels , please post a snippet of your code

[2020-01-19 08:05] Idanzinner opened #32402 "torchvision"
Hi all, when I'm trying to run the script of vae tutorial I get this error:

RuntimeError                              Traceback (most recent call last)
<ipython-input-8-284baaea67b6> in <module>
----> 1 import torchvision
      2 from torchvision import transforms

~/virtualenv/lib/python3.6/site-packages/torchvision/__init__.py in <module>
      1 import warnings
      2
----> 3 from torchvision

[2020-01-19 08:36] olramde commented on #32402
.

[2020-01-19 11:20] cyy5358 commented on #32265
Hi, my code works fine with nightly version torch-1.5.0.dev20200117. Thanks for replying.

[2020-01-19 11:20] #32265 closed

[2020-01-19 11:31] ptigwe commented on #27551
I also experienced this issue when using `torch.onnx.export` and currently using an imperfect workaround by converting the size of x to a Python integer (as I needed a quick way to resolve the issue).

[code]

This does, however, give the following warning

[code]

[2020-01-19 13:30] #32394 closed

[2020-01-19 13:42] daydayfun opened #32403 "How to accelerate the compiling of pytorch"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)
I modify some file of Aten for some reason, when I compile the pytorch project, it ta

[2020-01-19 13:52] cloudrivers commented on #30681
Hi @glenn-jocher, I tried python3.7.4 & 3.7.6, PyTorch 1.4.0, onnx 1.6.0.  onnx.checker.check_model(oml) will Segmentation fault.

python3 detect.py  --cfg cfg/yolov3-spp-1cls.cfg --weights weights/best.pt  --names data/myclass.names
Namespace(agnostic_nms=False, cfg='cfg/yolov3-spp-1cls.cfg', classes=None, conf_thres=0.3, device='', fourcc='mp4v', half=False, img_size=416, iou_thres=0.5, names='d

[2020-01-19 14:39] kumarnikhil936 commented on #16417
Had a similar issue.
Reducing the batch size and restarting the kernel helped resolve the issue.

[2020-01-19 15:30] peterbell10 commented on #32083
I ran into the same error when trying to build with CUDA 9. In my case the error was caused by the compiler including cuSPARSE headers from CUDA 10.1 (so not defining `cusparseGetErrorString` in `SparseCUDABlas.cu`) but linking against cuSPARSE from CUDA 9 which doesn't define the function. For me, the fix is gh-32404 and setting `USE_CUDNN=0` which gets rid of CUDA 10 from the include path.

@don

[2020-01-19 15:47] JakobHavtorn opened #32406 "KL divergence for diagonal Gaussian distributions"
## 🚀 Feature
- Extend the KL divergence method for two `torch.distributions.Independent` to be as the one in [pyro](https://github.com/pyro-ppl/pyro/blob/dev/pyro/distributions/kl.py#L19). This recursively falls back to the base distribution to compute the KL divergence but is more flexible in terms of the shared dimensions than the current solution.
- Implement KL divergence for diagonal covarian

[2020-01-19 16:28] Asa-Nisi-Masa commented on #32388
Thanks, that seems to confirm that there is no activation imposed.

[2020-01-19 16:28] #32388 closed

[2020-01-19 17:57] artemisart commented on #32095
Just take the argmax of your distribution, or is there something I'm missing ?

[2020-01-19 18:32] eLvErDe opened #32407 "Build without MKL is not possible when MKL is installed"
Hello,

I was planning to make some benchmark with different BLAS implementation on CPU so I built several Pytorch package with BLAS=Eigen/OpenBLAS/ATLAS/MKL.
Sadly something unexpected occurred: All version are linked to libmkl!

Here is an example with the Eigen flavor:

[code]

[code]

I look at all environment variable and found none to explicitely disable the use of MKL. Any help would be app

[2020-01-19 18:34] dennymarcels commented on #1204
Oh unfortunately this happened a while ago and I don't quite remember what I was working on. But, coincidentally, I am having the same issue with another code, which I share through [this link](4/vgHrun8nnvYwnZZt8_vOm3aP5yVihQ_ocD04R8MHBbQbs-Tv3d8B3qI).

Basically, I am fine tuning a BERT model. The fine tuning process (with training data) goes fine, but when I try to validate the model (cell `###

[2020-01-19 19:26] glenn-jocher commented on #4387
Recommend this. Setting swap space equal to RAM space and swappiness=0 worked for me.
https://www.digitalocean.com/community/tutorials/how-to-add-swap-space-on-ubuntu-16-04

[2020-01-19 19:39] brightening-eyes commented on #22439
hi,
look at mxnet's metric package
their design might help implementing such thing in pytorch.

[2020-01-20 00:02] tarungog commented on #32095
Yeah you’re right

On Sun, Jan 19, 2020 at 12:57 PM Mathis Chenuet <notifications@github.com>
wrote:

[2020-01-20 01:05] cossio commented on #31945
@zou3519 I think I could implement this taking inspiration from the algorithms used in the above libraries.

If I wanted to implement add this myself, do you have any suggestions on what I should do? Maybe there are some PRs I can look at where people implement special functions in PyTorch?
Would it have to be in C++ or it could be pure Python code?

[2020-01-20 01:17] SsnL commented on #32407
Hi, MKL could be linked for nonBLAS/LAPACK functions, e.g., FFT. Could you try the env variable `USE_MKL=0`?

[2020-01-20 02:08] p-morais opened #32414 "ModuleList compile error: error: 'begin' was not declared in this scope"
## 🐛 Bug

The example for ModuleList found in the documentation [here](https://pytorch.org/cppdocs/api/classtorch_1_1nn_1_1_module_list_impl.html#_CPPv4N5torch2nn14ModuleListImplE) does not seem to compile.

## To Reproduce

Steps to reproduce the behavior:

Attempt to compile the following source on GCC 7.4, taken from the documentation:

[code]

Compile error:
[code]

## Expected behavior

I bel

[2020-01-20 02:16] mrshenli commented on #32342
Given the above code, it will look for system NCCL using env vars `NCCL_LIBRARIES` and `NCCL_INCLUDE_DIRS`

[2020-01-20 02:23] mrshenli commented on #31937
Not requested by anyone yet. It is just when I was writing [this example](https://github.com/pytorch/examples/pull/692), where the autograd ctx is created in `run_worker`, within the ctx `run_worker` calls `finish_episode`, and `finish_episode` uses RPC to collect model parameters from observers, which does not require inserting send/recv functions. It will be helpful if we allow non-autograd RPCs

[2020-01-20 03:05] Hacky-DH opened #32415 "DistributedStreamSampler: support stream sampler in distributed setting"
## 🚀 Feature

DistributedStreamSampler: support stream sampler in distributed setting

## Motivation

A new class `torch::data::samplers::DistributedStreamSampler` both works in distributed setting like `torch::data::samplers::DistributedSequentialSampler` and works with `torch::data::datasets::StreamDataset` like `torch::data::samplers::StreamSampler`.

## Pitch

works with StreamDataset in distr

[2020-01-20 04:22] jiapei100 opened #32416 "Is there a way to use SYSTEM_INSTALLED 3rdparty libraries?"
I just wonder if there is a way to build pytorch based on my **SYSTEM** packages which are already installed, instead of building pytorch with those submodule 3rdparty libraries?

Is that possible? And how to do that with one command?

Is
[code]
preferred? Or  **cmake** is preferred?

[2020-01-20 05:18] vainaijr opened #32417 "showing symbolic representation"
current scenario -
when I do
[code]
then it gives output
[code]
expected scenario -
I do something like
[code]
gives
![Screenshot (230)](https://user-images.githubusercontent.com/43755000/72700241-abaf2b00-3b8e-11ea-9acc-ac274f25d23b.png)
or
![Screenshot (232)](https://user-images.githubusercontent.com/43755000/72700665-df3e8500-3b8f-11ea-9a15-ebdfbbd6593e.png)

[2020-01-20 06:19] PIPIKAI-Sung opened #32418 "how to install pytorch on AMD GPU"
I find that the pytorch offer one version of downloading which not requires CUDA. And  I follow the instruction.
I choose the pytorch 1.4.
My OS is Windows.
Pip is used to install.
My version of python is python 3.6
CUDA None
and I run the command pip3 install torch==1.4.0+cpu torchvision==0.5.0+cpu -f https://download.pytorch.org/whl/torch_stable.html
However, here comes two errors
ERROR: Could n

[2020-01-20 06:39] DBordo opened #32419 "MAGMA libraries"
If you have a question or would like help and support, please ask at our
[forums](https://discuss.pytorch.org/).

If you are submitting a feature request, please preface the title with [feature request].
If you are submitting a bug report, please fill in the following details.

## Issue description
After successful installing pytorch , and was able to run some "test" script, to check that everythi

[2020-01-20 06:42] eLvErDe commented on #32407
Hi,

I assume it could exists but it did nothing. If you grep the source code, uoull

[2020-01-20 09:17] peterjc123 commented on #32418
Are you using 32-bit Python?

[2020-01-20 09:27] peterjc123 commented on #32418
If you are using Python 64-bit, you should get `8` as the output of the command `python -c "import struct; print(struct.calcsize('P'))"`

[2020-01-20 09:59] Randl commented on #19349
Performing operations with shapes is now requires non-trivial changes, and a separate support for tracing model and not tracing model. Probably it's better to return tensors in both cases

[2020-01-20 10:27] PIPIKAI-Sung commented on #32418
@peterjc123 Yes, I am pretty sure that I am using 64-bit Python

[2020-01-20 10:28] rharish101 commented on #25481
@ModarTensai The `symsqrt` function does not work for batched inputs, eg. of shape [32, 100, 100]. The error encountered is:
[code]

[2020-01-20 10:37] peterjc123 commented on #32418
What about `python -m pip install torch==1.4.0+cpu torchvision==0.5.0+cpu -f https://download.pytorch.org/whl/torch_stable.html`?

[2020-01-20 11:45] mhangaard commented on #29516
I got a very similar traceback to this when testing my pytorch (after installing a bunch of .NET dependencies using apt).

My script:
[code]

my environment running @ngimel's script:
[code]

finally, nvidia-smi
[code]

[2020-01-20 12:01] kice commented on #27837
I will suggested that you try again with uninstalling GPU driver with DDU and installing the driver that comes with cuda toolkit.

Too many bugs with Nvidia GPU driver on win 10.

[2020-01-20 12:31] rilesdg3 commented on #32135
yes, it is 1.5

[2020-01-20 12:38] ferrine commented on #22329
Hi! Is there any workaround except C++?

[2020-01-20 12:44] ModarTensai commented on #25481
@rharish101, thank you for pointing this out. We cannot do that anymore. Here is a quick fix for you:
[code]
A more performent code should truncate the common columns in the batch and zero out the rest.

[2020-01-20 12:50] t-vi commented on #22329
Reviving #22582, probably.

[2020-01-20 12:52] Jean-KOUAGOU commented on #30966
You can create a new environment, then install pytorch and tensorboard. Note: you should not install tensorflow as there would be a kind of conflict with tensorboard.

[2020-01-20 12:53] dalupus commented on #27837
I have run into this same issue and trying the suggestion of @kice

[2020-01-20 13:07] alxmopo3ov opened #32421 "Segmentation fault in C++ API torch::from_blob(...).clone()"
## 🐛 Bug

Code crashes in C++ API when torch tensor is read from specific buffer

## To Reproduce

build and run this code in release build

[code]

[code]

## Expected behavior

Don't crash

## Environment

Collecting environment information...
PyTorch version: 1.4.0
Is debug build: No
CUDA used to build PyTorch: 10.1

OS: Ubuntu 14.04.6 LTS
GCC version: (Ubuntu 7.4.0-1ubuntu1~14.04~ppa1) 7.4.0
C

[2020-01-20 13:09] f0k commented on #7313
That would require not just updating all the `Module` classes in Pytorch, but would also require all users to update all their `Module` classes. That's a big breaking change for little benefit to most users. @t-vi's implementation simply includes that call in `__getattr__()` to avoid this: https://github.com/t-vi/pytorch/commit/63a1c82a103670a23bd373bef2163dac06d6a2eb#diff-527b04fec26e044c060ad28b

[2020-01-20 13:10] m-bula commented on #32284
@rmcavoy thank you for your help. I tried my code without maxpooling and indeed there is no memory leak, even after few hours.

[2020-01-20 13:22] t-vi commented on #7313
I think @f0k 's summary is mostly accurate, but I would also say that the distinction between computed  parameters and modules is likely to be useful in various places (e.g. you could also specialize computed parameters to plain ones when you're exporting the model for deployment).
I don't think ignoring caching is a good idea, which is why I didn't... (There is something about the autograd graph

[2020-01-20 14:22] AlexSananka commented on #30966
Thank you @Jean-KOUAGOU this  fixed my problem.

[2020-01-20 16:37] maaft opened #32424 "Multiple CUDA contexts created on first GPU when using pin_memory=True, multiprocessing and torch.cat()"
## 🐛 Bug

When **spawning multiple processes** (e.g. for training models on different GPUs for hyperparameter search) that have their own dataloader with **pin_memory = True** and where the model uses **torch.cat()**, multiple CUDA contexts are created on the first GPU.

## To Reproduce

Execute following code sample and play with `use_cat` and `pin_memory` variables. If you set one of these to `F

[2020-01-20 17:00] jotaf98 commented on #7313
Good points! Let me just clarify this:

It's not nearly as invasive; I was thinking about it as an opt-in feature. User Modules don't need to do `mymodule.weight()` instead of `mymodule.weight`, unless they explicitly want to support modules in place of parameters. They would still work without any changes.

Pytorch Modules would have this change just to make them maximally flexible and composable

[2020-01-20 17:10] vadimkantorov commented on #7313
(side note: the method-attributes can also be accessed as attributes if they are decorated with @property. i used it in invertibe convolution example in https://gist.github.com/vadimkantorov/67249eeca48a081a592622cc1a3cd14c - but caching must be figured out. probably pyro https://github.com/pytorch/pytorch/issues/31009 and @fritzo could inform the good caching semantics)

[2020-01-20 17:12] jotaf98 commented on #7313
That's a great suggestion!

[2020-01-20 17:14] vadimkantorov commented on #25481
( @ModarTensai could also probably save `unsqueeze()` on `threshold` if `keepdim=True` is used in `s.max(dim = -1, keepdim = True).values` )

[2020-01-20 17:28] Yourivdzee commented on #27837
I am running into similar issues on my windows machine, I have a simple pipeline for binary classification with an LSTM and it shuts down at epochs (seems to be random).

[2020-01-20 17:32] SsnL commented on #32424
memory pinning initializes cuda, which is unavoidable.

[2020-01-20 17:43] Baranowski commented on #22745
I would like to work on this. But if it's urgent and there are other candidates, they should probably take it since I might take my time on this.

[2020-01-20 18:10] kefirski opened #32426 "DistributedDataParallel warning in case of different models on different nodes"
## 🚀 Feature
Adding a warning/error message if you had created DDP module from different models.

## Motivation
Recently I faced weird behavior of DDP module – in case if you have different models (i.e., some weights differed) on different nodes, you will receive no error/warning message about this while the whole training process is going to halt.

I forgot that some pre-trained models differed i

[2020-01-20 18:43] leonardoaraujosantos commented on #32036
I'm getting NCCL errors when using nn.DataParallel, on pytorch 1.4.0
[code]

[2020-01-20 18:54] markdjwilliams commented on #31943
I am also experiencing the same issue, with pytorch 1.3.1 and 1.4.0 (I did not test earlier versions) on CentOS 6 / gcc 6.4 when defining _GLIBCXX_USE_CXX11_ABI=0 via CFLAGS.

Configuring with either NO_DISTRIBUTED=1 or USE_GLOO=0 is my current workaround. Perhaps there are ways of addressing this by modifying gloo's cmake scripts, but I've not yet explored this. I'd like to re-enable gloo if poss

[2020-01-20 19:02] Baranowski opened #32427 "[C++] Don't use DeprecatedTypeProperties in torch::utils::reorder_tensors_like"
This is a followup to https://github.com/pytorch/pytorch/issues/29161. As per https://github.com/pytorch/pytorch/issues/29161#issuecomment-558308534, DeprecatedTypeProperties needs to be removed from the very last use site before it can be completely gotten rid of.

cc @ezyang @gchanan @ngoldbaum

[2020-01-20 19:14] jimmychou0704 commented on #25045
@SsnL Do we have any updates on this? I am having the same issue if the dimension is larger than about 1450 (didn't check what the precise cut is, but it works if dim is less than 1300).

[2020-01-20 20:51] jithunnair-amd commented on #29760
@zdevito The fix for the test_DistributedDataParallel test has been merged into upstream in #32356. Since this is the only mentioned in this issue, can we close this issue?

[2020-01-20 22:02] ngimel commented on #7313
That's a great suggestion but I'm not sure how @property decorator going to work with scripting - cc @suo to comment if @property decorator is supported in TorchScript.

[2020-01-20 22:18] SsnL commented on #32407
A couple of `USE_*` and `NO_*` flags are handled programmatically. It could work. Although given that nowhere in codebase uses that, you should test and see.

[2020-01-20 23:24] dalupus commented on #27837
Mine issue is also with lstm.  Interestingly when I add `torch.autograd.set_detect_anomaly(True)` to get a stack trace, it takes about 20% longer to train but no longer fails.

[2020-01-20 23:48] vadimkantorov commented on #7313
Still, one may want to reparametrize both weight and bias (or more attributes) in a tied way, then some kind of imperative `module.weight, module.bias = reparametrize(module.weight, module.bias)` or
[code]

[2020-01-21 00:59] the-butterfly commented on #27958
you could try this:
[code]
refer: https://github.com/facebookresearch/detectron2/issues/9

[2020-01-21 01:01] gchanan commented on #32098
call `torch.sum` instead of `sum` -- the former promotes to `int64` properly, the later doesn't.

[2020-01-21 02:14] PIPIKAI-Sung commented on #32418
@peterjc123 It works！ Thanks a lot. Could you please explain the reason that why pip works and pip3 failed?

[2020-01-21 02:25] peterjc123 commented on #32418
It means that pip3 and python belong to two different Python environments. Uou can use the following scripts to check.
[code]

[2020-01-21 02:25] #32418 closed

[2020-01-21 02:38] ModarTensai commented on #25481
@vadimkantorov, that is true but the line became too long for my taste :)
@rharish101, here is the same code again but with truncation as well.
[code]
You can test it out like this:
[code]

[2020-01-21 02:45] jermainewang commented on #32385
@suo, any update on this?

[2020-01-21 03:49] PIPIKAI-Sung commented on #7318
I am a newer for pytorch.  Thanks a lot, it works well for me.

[2020-01-21 04:33] suo commented on #32385
Sorry, I misread your issue! Re-opening, but I won't be able to look until tomorrow (today is a holiday for us)

[2020-01-21 05:21] rharish101 commented on #25481
Thank you all for your prompt replies!

[2020-01-21 05:57] CaoZhongZ commented on #32008
https://github.com/MichaelLutter/pytorch_debugging/issues/1

[2020-01-21 06:31] peterjc123 commented on #31684
I believe the master branch of FBGEMM is also ready to be used. Could you please confirm? cc @dskhudia

[2020-01-21 06:32] CACppuccino commented on #1204
Just a reminder, if you have used jupyter notebook and `ImageFolder` class in the training, check if there exists `.ipynb_checkpoints` by `ls -als` the directory.
I resolved this error by removing them and everything goes fine afterwards

[2020-01-21 07:32] AceEviliano commented on #27738
@darolt Can you help me with this too ? I have a K40c as well and I am stuck with installing pytorch. I tried all versions and most of them take too long to load a model to GPU and then this pops up :

here is some more info :

[code]

and here's my gpu-info :

[code]

[2020-01-21 07:34] chinhmt commented on #32348
The problem is solved.
Protobuf compiler is built for target instead of for host. Set value of CAFFE2_CUSTOM_PROTOC_EXECUTABLE to host's protoc solved it.

[2020-01-21 07:34] #32348 closed

[2020-01-21 07:49] maaft commented on #32424
Can you please re-read my issue?
How does memory pinning relate to torch.cat?

[2020-01-21 07:59] matthiasreisser commented on #32424
Curious that I found this issue. I observe what I assume is the same behaviour. Upon executing torch.cat, additional memory is allocated on GPU0 although three of my four processes compute on GPU1,GPU2 and GPU3 respectively.

What is going on?
Thx

[2020-01-21 08:18] dongxiao92 commented on #32083
@peterbell10
Thanks for your advice! Actually there are tow versions of cuda installed on my machine.  The cusparse library found is in the cuda-10.1 and cudnn is in the cuda directory. So there may be the root cause!
But as all cuda-related libraries except cusparse are located in the cuda directory and I find no simple way to change their locations instead of changing it one by one. I tried to c

[2020-01-21 08:37] EricSpeidel commented on #30632
Have you seen this [ICLR 2020 paper](https://openreview.net/forum?id=BJlrF24twB)?
The authors provide a [PyTorch implementation](https://github.com/f-dangel/backpack), too.

[2020-01-21 09:00] riccardosamperna commented on #24870
Thanks for the explanation and the pointer @tychovdo. I have been trying to wrap my head around this topic for a long time now and in most of the projects in Github using the grid_sample I still see a lot of wrong implementations. It looks like that I am not the only one struggling with this F.grid_sample documentation/interface.

[2020-01-21 09:11] marcown commented on #32424
I encounter the same problem executing the code above.

@SsnL:
the problem is that with
[code]

an additional CUDA context gets initialized/created on GPU0.

[2020-01-21 09:12] matthiasreisser commented on #32424
Related Issue: https://github.com/pytorch/pytorch/issues/21081

[2020-01-21 09:27] vvigilante commented on #32227
I've reported this issue here:
https://github.com/kakaobrain/fast-autoaugment/issues/27

I suspect it may be due to a corrupted checkpoint or to concurrent access to the same checkpoint.

[2020-01-21 11:41] lanpa commented on #31305
Just tested with torch 1.4.0 from PyPI and the result is good too. Closing this.

[2020-01-21 11:41] #31305 closed

[2020-01-21 11:47] lanpa commented on #30525
@ProKil Thanks, I can reproduce it too with safari.

[2020-01-21 12:10] pfeatherstone opened #32434 "onnx export : return output"
Line 62 of torch/onx/utils.py, please add the return statement

cc @houseroad @spandantiwari @lara-hdr @BowenBao @neginraoof

[2020-01-21 12:18] dennymarcels commented on #1204
In my case, no `ImageFolder` as I am loading in text.

[2020-01-21 12:23] JacobAtExp4531 commented on #2731
for me this was because multiple numpy versions where installed in the same enviornment so uninstalling them all and reinstalling numpy solved my problem

[2020-01-21 12:26] Ehtasha commented on #29980
Where I need to add this ?

[2020-01-21 13:36] shingyipcheung commented on #27837
Same problem with LSTM + binary classification.
``  File "C:/Users/User/GoogleDrive/mad2-recommend/gnn/train.py", line 108, in main
    train_model(train_loader, predict_score_net, optimizer)
  File "C:/Users/User/GoogleDrive/mad2-recommend/gnn/train.py", line 41, in train_model
    loss.backward()
  File "C:\Users\User\Anaconda3\lib\site-packages\torch\tensor.py", line 195, in backward
    torch.

[2020-01-21 14:26] SsnL commented on #32424
Sorry I misinterpreted the issue. You are right. Reopening.

[2020-01-21 14:45] Baranowski commented on #327
@andreaskoepf, are you working or planning to work on the CPU side of this issue? If not, I would be happy to take on that part.

[2020-01-21 14:45] albanD commented on #30632
Hi,

Yes I saw this package. It is indeed very interesting but quite orthogonal to what is proposed here. They use the engine to compute quantities that the autograd engine cannot compute natively (using hooks mainly). This proposal would be using the vanilla autograd engine for all computations (only use gradients and gradients of gradients).

[2020-01-21 15:14] yf225 commented on #31960
@driazati libtorch nightly builds should be back working again. Would you like to check it?

[2020-01-21 15:16] yf225 commented on #32329
libtorch nightly build is up to date again. Closing this issue.

[2020-01-21 15:16] #32329 closed

[2020-01-21 15:33] ezyang opened #32435 "empty dispatch key set test in DispatchKeyExtractor is unnecessary"
Right now we have:

[code]

The empty key set test is unnecessary as `dispatchTypeId` is total and will return an `UndefinedDispatchKey` when the key set is empty.

This is a pretty easy fix and would be a good bootcamp/starter task for someone looking to work on the dispatcher.

cc @smessmer

[2020-01-21 15:51] andreaskoepf commented on #327
@Baranowski I am currently not working on this issue. I do not have a good overview which operators should be addressed, e.g. a zero check could be added to `torch.{div, remainder, fmod}`.

@fmassa regarding `ZeroDivisionError`: were you thinking about an exception translation to the python built-in exception class? Or would `throw std::runtime_error("ZeroDivisionError: integer division or modulo

[2020-01-21 15:53] nairbv opened #32436 "Incorrect behavior for __rpow__"
## 🐛 Bug

torch.__rpow__ has incorrect type promotion behavior.

## To Reproduce

`0.9 ** torch.tensor(2, dtype=torch.long)`
or
`torch.tensor(2, dtype=torch.long).__rpow__(0.9)`

## Expected behavior

Should return a floating tensor with value `0.81`, not a long tensor with value 0.

## Additional context

https://stackoverflow.com/questions/59827509/multiplying-and-powering-python-float-and-pytor

[2020-01-21 15:54] sebastienwood opened #32437 "Running example use of torch.conj"
## 🐛 Bug

When trying to use the torch.conj example of the documentation, this raise a RuntimeError : could not infer dtype of complex.

## To Reproduce

Steps to reproduce the behavior:

1. Launch a python shell
2. Run ```import torch; torch.conj(torch.tensor([-1 + 1j, -2 + 2j, 3 - 3j]))```

Example trace :
[code]

## Expected behavior

The documentation line should work as is, or the error messa

[2020-01-21 15:58] cfinlay opened #32438 "min and max are order dependent with nans"
## 🐛 Order dependent min and max

The functions torch.min and torch.max depend on the order of their arguments when one of the arguments is nan. This is unexpected behaviour.

## To Reproduce

Here is a minimal working example
[code]

## Expected behavior

These function should not depend on order.

## Environment

[code]

[2020-01-21 16:08] ezyang commented on #18283
Usually when this happens, it means we've got two copies of libstdc++ in your address space, and so the two "exceptions" aren't comparing equal per RTTI.

[2020-01-21 16:31] ezyang commented on #32284
Bumping up priority as MaxPool2d is a very important operation

[2020-01-21 16:36] MQSchleich opened #32440 "String Formatting"
## 🐛 Bug

The bug occurs when using flair alongside Ubuntu 19.10

## To Reproduce
``` pip install tiny-tokenizer flair```

[code]

[2020-01-21 16:45] peterbell10 commented on #32083
Maybe try setting the `CUDA_HOME` variable before compiling. And make sure to delete the build folder first.
[code]

[2020-01-21 17:21] bpstark commented on #32267
@schyun9212 This code is still not runable, can you provide a fully functional codebase.

[2020-01-21 17:24] colesbury commented on #27053
@Vic2901 LAPACK is the standard library for linear algebra routines (including things like inverse). MAGMA is an implementation of the LAPACK functions for GPUs (so things like GPU matrix inverse). Without MAGMA, you'll get an error when trying to run linear algebra functions on GPU tensors.

If you install PyTorch via Conda on Linux (instructions [here](https://pytorch.org/)), it should automatic

[2020-01-21 17:49] VitalyFedyunin commented on #24669
@XiaobingSuper can you please create PR out of this patch. Thanks.

[2020-01-21 18:04] abrock opened #32443 "Segmentation fault in lazyInitCUDA -> CUDAHooks::initCUDA -> THCMagma_init -> magma_init"
## 🐛 Bug

I have two machines, on one the latest development version of PyTorch works as expected, on the other a very simple example program terminates with a segfault. I trained a neural network on the machine where everything works as expected, then reduced the code to a minimal program showing the problem.

## To Reproduce

compile and run:

[code]

Backtrace:

## Expected behavior

No segment

[2020-01-21 18:05] srohit0 commented on #28951
It's an exception in Pytorch 1.4, not a warning.

[2020-01-21 18:07] madlag opened #32444 "DataParallel does not work with sparse parameters"
## 🐛 Bug

DataParallel does not work with sparse parameters.
The root issue is located in the model replication part of DataParallel.
I have a fix proposal for this and can make a pull request : https://github.com/madlag/pytorch/commit/a64aacd4168ac73f50ee9e6ed16cfdca8e22af1d
(this fixes completely DataParallel for version 1.4)

## To Reproduce

Steps to reproduce the behavior:

Run the following

[2020-01-21 18:31] driazati commented on #31960
Looks like it's working properly now, thanks!

@zasdfgbnm feel free to re-open if you're still running into problems

[2020-01-21 18:31] #31960 closed

[2020-01-21 18:34] jotaf98 commented on #7313
This might not need any special mechanism in PyTorch's end. You can have two modules, say NormedWeight and NormedBias, both referring to the same shared Parameters (and intended to work together). You then assign them to .weight and .bias to act as calculated parameters. Of course, a simple helper function / syntatic sugar could create both Modules together and assign them in one go, like @vadimka

[2020-01-21 18:42] peastman commented on #31960
I also confirmed that it works correctly with the latest nightly build.  Thank you!

[2020-01-21 18:46] xuhdev commented on #25016
#27185 was reverted, now reopen this issue

[2020-01-21 18:50] ezyang commented on #32018
File a ticket with them and let us know what they respond

[2020-01-21 18:52] #24655 closed

[2020-01-21 18:52] #24509 closed

[2020-01-21 18:52] #24656 closed

[2020-01-21 18:52] #24657 closed

[2020-01-21 18:52] #24658 closed

[2020-01-21 18:52] #24511 closed

[2020-01-21 18:52] #24514 closed

[2020-01-21 18:53] #24515 closed

[2020-01-21 18:53] #24516 closed

[2020-01-21 18:53] #24659 closed

[2020-01-21 18:53] #24661 closed

[2020-01-21 18:53] #24662 closed

[2020-01-21 18:53] #24663 closed

[2020-01-21 18:54] #24715 closed

[2020-01-21 18:55] albanD commented on #32284
@mrshenli note that this is not linked to `max_pool2d`. In the for loop, replacing it with `torch._C._nn.max_pool2d_with_indices(x, 1)`, `torch._C._nn.log_sigmoid(x)`, `torch.threshold(x, 0, 0)` or `torch.relu(x)` all give the same behavior for me.

Given this, could this be a similar issue as https://github.com/pytorch/vision/issues/984#issuecomment-498603088 ?

[2020-01-21 18:55] #24725 closed

[2020-01-21 18:56] #24756 closed

[2020-01-21 18:56] #24619 closed

[2020-01-21 18:57] #24758 closed

[2020-01-21 18:58] #24766 closed

[2020-01-21 18:58] #24767 closed

[2020-01-21 18:58] #24634 closed

[2020-01-21 19:08] pritamdamania87 commented on #31883
@xkszltl Are you able to compile with `USE_SYSTEM_NCCL=OFF`? I'm looking into this issue, but was wondering if that is a workaround for now?

[2020-01-21 19:14] jotaf98 commented on #7313
Building on the `@property` idea, actually the Module's `__getattr__` already does most of that work, so it's possible to just leverage that.

It just needs to evaluate a Module and return the resulting Tensor, when it was originally registered "as a parameter". For all other cases the Module instance is returned.

Here's one concrete instantiation:

[code]

We could easily use a `set` instead of

[2020-01-21 19:30] mrshenli commented on #32444
cc @zhaojuanmao

[2020-01-21 19:36] mrshenli commented on #32426
This is true. `DistributedDataParallel` currently does not check model equivalence at construction time, and go ahead and launch `allreduce` on gradient buckets. If that number/size of buckets does not match, it could hang.

Good point! The down side is that doing this check (e.g., through gather/allgather) would introduce extra overhead, and I am a little reluctant to introduce another flag for i

[2020-01-21 19:38] zhaojuanmao commented on #32444
@madlag thanks for reporting, feel free to send out PR and we can help review.

[2020-01-21 19:42] zhaojuanmao commented on #32426
@mrshenli we can extend the debug mode proposal in #22071 to debug these issues

[2020-01-21 19:49] mrshenli commented on #32426
@zhaojuanmao that indeed sounds better than introducing one more flag.

[2020-01-21 19:49] artemisart commented on #32437
Precision: the problem comes from `tensor()` and not `conj()`, on pytorch 1.4 `torch.tensor([1j])` gives `RuntimeError: Could not infer dtype of complex`.
https://pytorch.org/docs/stable/tensor_attributes.html#torch.torch.dtype According to these docs complex types are not yet supported.

[2020-01-21 20:19] kefirski commented on #32426
@mrshenli Adding checks for consistency of the model between several processes also seems to be a logical solution for me.

Furthermore, since this check would be performed only in debug mode, it is not going to hurt the performance in the general case.

[2020-01-21 20:35] jakirkham opened #32452 "Numba Enhancement Proposal (NBEP) 7: External Memory Management Plugins"
Raising here to solicit feedback on a proposal for External Memory Management support in [Numba]( https://numba.pydata.org ) (also called NBEP 7). Discussion is occurring in [this repo]( https://github.com/gmarkall/nbep-7 ). Please take a look and raise issues/PRs as you see fit. Thanks in advance for your feedback!

cc @gmarkall (for awareness)

[2020-01-21 20:59] ezyang opened #32454 "Precompute dispatch tables to simplify dispatch hot path"
The basic concept is, instead of having separate entries for "operator function pointer, backend fallback, catch all kernel", we combine all of these entries into a single "this is the function pointer for dispatch key and operator", and have a more complex registration process that "fills in" the entirety of all operators for a backend if you, e.g., register a backend fallback.

[2020-01-21 21:03] jjsjann123 commented on #32395
I tried with cudnn 7.6.5 and doesn't repro on master. This is fixed :smile:

[2020-01-21 21:22] vinodyk commented on #10443
other option is to download the whl file and install. here is the link [http://download.pytorch.org/whl/cu92/torch-0.4.1-cp27-cp27mu-linux_x86_64.whl]

[2020-01-21 21:35] jerryzh168 commented on #32082
@robotcator year we noticed that as well, and current plan is to use `torch.tensor([])` as default value for min_val and max_val, I haven't tested that though, do you mean it does not work?

[2020-01-21 22:14] driazati commented on #32358
Since it's bound directly from C++ there's no code / module to compile. We could make `script` construct a graph with a single op (the call to the builtin) but it's complicated around things like overloaded ops (e.g. `torch.add`). Overloaded builtins could work if passed to `torch.jit.trace` with some sample inputs but that doesn't seem like a great API if users are using `script` most of the time

[2020-01-21 22:36] jingpengw commented on #23999
got the same error with pytorch 1.4.0

[2020-01-21 22:45] ferrine commented on #22329
Handling context should be tricky. I'd expect it all work with torch.jit.ScriptFunction subclassing rather than this decorator.

[2020-01-21 22:49] yf225 commented on #2163
@alykhantejani Would you like to try out our v1.4.0 release and see if this problem still exists?

[2020-01-21 22:51] yf225 commented on #32443
Could you share with us a Docker image that can reproduce this problem?

[2020-01-21 22:52] t-vi commented on #22329
I liked my solution very much. But you implement it, you get to decide.

[2020-01-21 22:59] eellison opened #32463 "[JIT] Make `torch.jit.script` work on all objects which we can represent as IValues"
## 🚀 `torch.jit.script` on all representable mutable PyObjects

In our current implementation python objects are copied between on the boundary between the JIT and python. This results in issues like https://github.com/pytorch/pytorch/issues/31129 and https://github.com/pytorch/pytorch/issues/30421, and we've had internal reports of users passing a python dictionary into a mutating method. Example

[2020-01-21 23:02] vincentqb commented on #32358
In the interpreter, this is indeed successful. However, calling the function with an integer value different from 0 or 1 yields an error. See code below, and [circleci](https://travis-ci.org/pytorch/audio/jobs/640189252?utm_medium=notification&utm_source=github_status).
[code]

[2020-01-21 23:04] ferrine commented on #22329
That was just what I was initially looking for. Any solution would be great

ср, 22 янв. 2020 г., 1:52 Thomas Viehmann <notifications@github.com>:

[2020-01-21 23:06] yf225 commented on #32417
@soumith Would this be a useful feature to add?

[2020-01-21 23:08] yf225 commented on #32395
@jjsjann123 Do you mind checking if this is fixed on our nightly builds?

[2020-01-21 23:09] yf225 commented on #32395
@One-sixth Do you mind checking whether this repros with our nightly builds?

[2020-01-21 23:32] artemisart opened #32467 "feature: deterministic random_split"
## 🚀 Feature
Option to provide a seed (random_state) for random_split() like the sklearn API https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html.

## Motivation

Useful for deterministic sampling & reproducible data generation (easily, without affecting the PRNG for other uses).

## Pitch / implementation proposal

In `dataset.py`
[code]

It could also a

[2020-01-21 23:42] eellison opened #32469 "[JIT] module compilation fails when multiple instances of a class have a different type"
## 🐛 Bug

The following example fails:

[code]

Throws the following:

[code]

I think this is something to do with module type sharing, i tried to debug a bit but couldn't get anywhere. cc @suo

[2020-01-21 23:56] heiner commented on #18128
#28536 seems to have in fact solved this. I'll do some additional tests, the memory corruption issues here can be somewhat subtle, but closing this for now. Thanks @ezyang, @apaszke !

[2020-01-21 23:56] #18128 closed

[2020-01-22 01:44] Akhila-Yerukola commented on #7961
I'm not sure if that makes sense. `x_gen_attr`is obtained when the RNN is in eval mode, but the `requires_grad` parameter for the tensor is still `True`. So you should be able to still use them further during training. In `sample_soft_embed`, at the end of the function, the model is set to train again. (https://github.com/wiseodd/controlled-text-generation/blob/master/ctextgen/model.py#L386). Give

[2020-01-22 03:08] #24723 closed

[2020-01-22 04:48] schyun9212 commented on #32267
@bpstark Can you tell me the error you met? The code base is [maskrcnn-benchmark](https://github.com/facebookresearch/maskrcnn-benchmark). In my case it works fine if I build the project and run the reproduction code.

[2020-01-22 05:36] sclarkson commented on #30966
As you can see from these two links

https://github.com/tensorflow/tensorboard/blob/master/tensorboard/compat/__init__.py#L46-L57
https://github.com/tensorflow/tensorboard/blob/a72870cb1e59f71f49f72bfd4c2f3ec25dc75fa9/tensorboard/compat/tensorflow_stub/io/gfile.py#L72

tensorboard has it's own implementation of gfile that it uses if tensorflow is not present on the system. @sanekmelnikov used a no

[2020-01-22 05:45] jeongukjae opened #32481 "Typing Error in torch.nn.parameter"
## 🐛 Bug

Typing interface file([`nn/parameter.pyi`](https://github.com/pytorch/pytorch/blob/master/torch/nn/parameter.pyi) file) does not match with source code ([`nn/parameter.py`](https://github.com/pytorch/pytorch/blob/master/torch/nn/parameter.py) file).

## Expected behavior

`nn/parameter.pyi` should be

[code]

because arguments in `nn.Parameter`'s constructor has default values. (`def __n

[2020-01-22 07:09] t-vi commented on #22329
Oh, incidentally, I did that, too, at first (could be in a branch somewhere but I forget), but it got messy quickly. The captures are much nicer to handle (and also nice from an API perspective).

[2020-01-22 07:42] Akhila-Yerukola commented on #8582
@thomassutter were you able to figure this out?

[2020-01-22 07:43] dragen1860 commented on #2341
Yes, it works for me when setting `num_workers=0` in dataloader.
anyone explain this?

[2020-01-22 07:57] Oktai15 opened #32483 "AttributeError: module 'torch.nn.utils' has no attribute 'prune'"
## 🐛 Bug

AttributeError: module 'torch.nn.utils' has no attribute 'prune'

## To Reproduce

[code]

[code]

## Expected behavior

prune should be in torch 1.4.0

## Environment

PyTorch version: 1.4.0
Is debug build: No
CUDA used to build PyTorch: 10.1

OS: Ubuntu 18.04.3 LTS
GCC version: (Ubuntu 7.4.0-1ubuntu1~18.04.1) 7.4.0
CMake version: version 3.10.2

Python version: 3.6
Is CUDA available: Y

[2020-01-22 09:31] George3d6 opened #32485 "How to specify pytroch as a package requirement on windows ?"
## ❓ Questions and Help

I have a python package which depends on pytorch and which I’d like windows users to be able to install via pip (the specific package is: https://github.com/mindsdb/lightwood, but I don’t think this is very relevant to my question).

What are the best practices for going about this ?

Are there some project I could use as examples ?

It seems like the pypi hosted version o

[2020-01-22 09:45] TheArheus commented on #32099
@spandantiwari I found that problem is not in onnx2keras module, because some guy which helps me to import my module to onnx tried to use this module and for him It works properly

[2020-01-22 09:59] Joxis commented on #30525
I had the same issue with torch==1.4.0 and tensorboard==2.0.0 on Windows. The projector tab was blank in Chrome, Firefox and Edge. In Chrome the following message popped up in the console:
[code]

In my case the issue was caused by a bad MIME type as described in [this TensorBoard issue](https://github.com/tensorflow/tensorboard/issues/3117). The proposed register solution fixed it for me.

[2020-01-22 10:19] marcjoos-phd commented on #11009
I have a related issue trying to build PyTorch 1.4.0 with gcc 8.3.0 on RHEL 7.6. Here is what I do:

- `git clone --recursive https://github.com/pytorch/pytorch`
- `cd pytorch; git checkout origin/v1.4.0`
- `USE_BLAS=MKL setup.py bdist_wheel` (that fails for some reason because it is unable to efficiently detect my Intel MKL install)
- `cd build`
- `[cmake command line from the previous setup.py]

[2020-01-22 10:20] marcjoos-phd commented on #15785
I have a related issue with the current version of PyTorch (1.4, which I got from a `git clone --recursive` of the GitHub repo), compiling with gcc 8.3.0, on RHEL 7.6. Here is what I do:

- `USE_BLAS=MKL setup.py bdist_wheel` (that fails for some reason because it is unable to efficiently detect my Intel MKL install)
- `cd build`
- `[cmake command line from the previous setup.py] -DINTEL_MKL_DIR=$

[2020-01-22 10:24] peterjc123 commented on #32485
If you know the version specifier beforehand, then just write sth like
[code]
Otherwise, if you want to install the latest pytorch for a specified spec.
[code]

[2020-01-22 10:24] #32485 closed

[2020-01-22 10:50] madlag commented on #32444
Thank you, that was fast !
I sent the PR : https://github.com/pytorch/pytorch/pull/32486
It includes some fixes for test_data_parallel.py, a new test for this issue, and the fix itself.

[2020-01-22 11:00] h6197627 commented on #32286
Another strange thing:
I am building PyTorch without setting USE_SYSTEM_NCCL flag. Configuration step outputs:

Than building process outputs:

But after successful building checking with ldd outputs:

And

Actually, the one that is really linked to NCCL is:

So, at the end, it looks like PyTorch is still using system NCCL library

[2020-01-22 11:02] One-sixth commented on #32395
@yf225 I just tested the night version and this problem has been fixed.

[2020-01-22 11:18] peterjc123 commented on #32395
Maybe we need to backport the changes to v1.4.0.

[2020-01-22 11:54] Vic2901 commented on #27053
@colesbury Thx man, it is really helpful. I am not pretty sure how the Pytorch got installed before, because it was installed by others. But if I install Pytorch via pip, that error get fixed. I have just seen to install the dependency via conda instead of pip with the instructions. Is there any difference between the both of Pytorch installations?

[2020-01-22 12:25] ericspod opened #32488 "TracerWarning When Using Tensor Size in Torchscript Trace"
## 🐛 Bug

When the size of a tensor during a Torchscript trace is used to compare the size of a dimension against a Python integer, a tracer warning is issued stating that converting a tensor to a Python boolean might cause the trace to be incorrect. A tensor is not being converted to a boolean, the output from size() or shape is a torch.Size object and not a tensor so this operation should be saf

[2020-01-22 13:14] ezyang commented on #31895
Err, this is not true?

[code]

Yes, this is a general problem with PyTorch. Arguably the master issue: https://github.com/pytorch/pytorch/issues/5272

[2020-01-22 13:46] qasfb opened #32489 "Torchscript error "Unexpected indent" when lines start with #"
## 🐛 Bug

Torchscript seems to require comments (in a function) to be indented otherwise it complains with an error message that is not very explicit.

However when you comment stuff (e.g. on a jupyter notebook) the comment symbol can be placed at the beginning of the line. It can be confusing.

## To Reproduce

Steps to reproduce the behavior:

[code]

leads to:

[code]

However if I indent my co

[2020-01-22 13:53] peterbell10 commented on #31895
@ezyang your example only works because the tensor is already the correct size, so no resizing is actually done. Consider instead:
[code]

[2020-01-22 14:09] gloriamacia opened #32490 "RuntimeError: has_marked_unused_parameters_ INTERNAL ASSERT FAILED at /pytorch/torch/csrc/distributed/c10d/reducer.cpp:290, please report a bug to PyTorch."
## 🐛 Bug

[code]

## To Reproduce

[code]
[code]

I am trying to train on Sagemaker Pytorch container a supervised convolutional autoenconder (i.e. there is a loss function for the convolutional autoencoder and one for the ANN that comes after it). I get the error above and I cannot figure out what is wrong with my code. It was working before trying to do distributed training. I found this bug rep

[2020-01-22 14:23] pbelevich commented on #32438
duplicate of #25016

[2020-01-22 14:23] #32438 closed

[2020-01-22 14:39] peterjc123 commented on #30886
@ezyang Could you please put up a fix for this? Or, could you please tell me what to do?

[2020-01-22 14:45] ezyang commented on #32437
cc @dylanbespalko but at the moment proper complex support lives out of tree https://gitlab.com/pytorch-complex/pytorch-cpu-strided-complex https://gitlab.com/pytorch-complex/pytorch-cuda-strided-complex

[2020-01-22 14:47] ezyang commented on #32392
It looks like there's a mistake in the typing annotation. It should be a relatively simple fix; tag me on a PR if you fix it.

I would *hope* `# type: ignore` doesn't cause JIT to stop working.

[2020-01-22 14:51] ezyang commented on #32284
Probably not, since the reporter mentions:

The malloc issue is not supposed to result in overflow.

If all of these functions are affected, we may be leaking a Python object. Maybe someone can get a heap dump of the process after we've leaked a pile of stuff and see what the leaked memory looks like.

[2020-01-22 15:22] m-bula commented on #32284
To be clear: by memory overflow I meant that program memory consumption eventually exceeds RAM resources, then tries to use SWAP memory and finally when all memory resources are gone system doesn't respond and needs to be restarted.

[2020-01-22 15:38] soumith commented on #32417
no, i don't think this is useful. It sounds like documentation?
We should put that / already have the tex formulas in docstrings

[2020-01-22 15:38] #32417 closed

[2020-01-22 16:04] #31734 closed

[2020-01-22 16:05] pbelevich commented on #32483
you need to `import torch.nn.utils.prune` no only `import torch`

[2020-01-22 16:05] #32483 closed

[2020-01-22 16:08] #31413 closed

[2020-01-22 16:19] rmcavoy commented on #32284
@albanD Do you see a difference in the rate of leaking between MaxPool2d and ReLu? When I try ReLu, it either isn't leaking or leaks much more slowly than MaxPool2d. With ReLu, there is an initial step upwards but then it doesn't increase again after minutes of run time (millions of iterations). MaxPool2d leaks so quickly that I see it increasing every second or so.

[2020-01-22 16:26] pbelevich commented on #32481
@jeongukjae thank you for reporting this! Would you like to create a pull request to fix this?

[2020-01-22 16:35] #31181 closed

[2020-01-22 16:50] denfromufa commented on #32083
I tried replacing the signature of this error function, but this did not help either:

[code]

Pytorch has 3 places where this function is used, but the dependency graph for all these CUDA libraries is huge to make sure that compatible packages in system/conda/third-party are used:

[code]

[2020-01-22 16:52] denfromufa commented on #31438
@hartb is seems it is not that simple:

https://github.com/pytorch/pytorch/issues/32083

[2020-01-22 16:55] codeninja commented on #22676
I will throw my $0.02 in and remind you to also
```!conda uninstall tensorboard```

If you're running in a windows environment!

[2020-01-22 17:01] yf225 commented on #32395
@soumith Should we backport the fix to v1.4.0?

[2020-01-22 17:09] soumith commented on #32395
1.4.0 is frozen, if we plan for a 1.4.1, we should mark this as 1.4.1 backport-target. Right now, we have no plans for 1.4.1

[2020-01-22 17:11] Balandat opened #32494 "SobolEngine init crashes if default tensor type is cuda"
## 🐛 Bug

When setting the default tensor type to cuda using `set_default_tensor_type`, initializing a `SobolEngine` results in a crash.

## To Reproduce

[code]

## Expected behavior

Should not crash.

## Environment

Linux, pytorch master (fb infra)

[2020-01-22 17:22] Balandat commented on #32494
This seems to be some basic issue with cuda tensors getting intermixed with cpu ones in the `SobolEngine` constructor, I'm working on a fix.

[2020-01-22 18:04] kurtamohler commented on #28313
Should I still fix this for Python 2, or is skipping the dill test (commit 03ff3eb) good enough? We are on the final version that will support Python 2 after all.

[2020-01-22 18:06] albanD commented on #32284
I used a modified version of your code
[code]

Both of them print between 3-10 increases in the `1000` iterations. It depends a lot from one run to the next. You don't see the same behavior?

[2020-01-22 18:22] rohan-varma opened #32497 "Don't unnecesarily send cleanup dist autograd context RPCs to other nodes"
## Enhancement
Currently if node A sends an RPC to B to clean up a given dist autograd context, B will propagate this information and send out its own messages too. It could be possible that B pointlessly sends out a message to A, creating an unneeded extra RPC. We can send over the workerId we're getting this message from to avoid this.

This will help us prevent the overhead of one additional RP

[2020-01-22 18:28] Dirtybluer commented on #32286
I've encountered similar confusion, finding PyTorch is seemingly using system NCCL library. I've been building PyTorch 1.0 (for some needs) from source.
An error `libnccl.so.2: cannot open shared object file: No such file or directory` occurs when there is no file named `libnccl.so.2` under `/usr/lib/x86_64-linux-gnu/`(I guess this is where system-wide NCCL lies).
Strange enough, this seems to hap

[2020-01-22 18:38] zou3519 commented on #28313
Yeah, we're not planning on supporting Python 2 in 1.5 so it is sufficient to just skip the dill test on python 2

[2020-01-22 18:39] xuhdev commented on #25016
Gotta reopen this again -- #30851 intentionally skipped fixing this issue

[2020-01-22 18:53] Lyken17 commented on #31413
Thanks for the fix!

[2020-01-22 18:55] driazati commented on #32488
This is an artifact of how `torch.jit.trace` works, it only records tensor operations, anything that happens on non-Tensors (e.g. `assert size[0] > 0`) won't be recorded in the graph, and any control flow based on input will only be recorded for the branch that was used for the particular `example_input`s you passed. So the warning here is correct in saying that the trace won't generalize to all i

[2020-01-22 19:08] #28313 closed

[2020-01-22 19:27] shi27feng commented on #32270
Hi,
I got same issue, even when imports pytorch, anybody knows what does it happen?

src$ python3
Python 3.7.6 (default, Dec 19 2019, 23:50:13)
[GCC 7.4.0] on linux
Type "help", "copyright", "credits" or "license" for more information.

terminate called after throwing an instance of 'std::runtime_error'
  what():  generic_type: cannot initialize type "WorkerId": an object with that name is already

[2020-01-22 19:27] thomashrabeBC opened #32500 "CMake find_package returns corrupted library list"
## 🐛 Bug
Use PyTorch model in C++, compilation breaks when using the default route.
CMake `find_package(Torch REQUIRED)`

returns corrupted `TORCH_LIBRARIES` list

[code]

It should not contain absolute paths to the other libraries but rather the lib names.
The library paths should be added to the environment if necessary

## Solution

Instead of

`target_link_libraries(MyTARGET PUBLIC ${TORCH_LIB

[2020-01-22 19:31] arpanmukherjee commented on #2793
I can take up this issue if anyone hasn't.

[2020-01-22 19:32] mrshenli commented on #32270
@shi27feng Based on the previous discussion, looks like you are using PyTorch v1.4 Python API with v1.3.1 shared object, i.e., v1.4 Python scripts are trying to call into v1.3.1 C++ code. Do you have two PyTorch versions in your dev envs?

[2020-01-22 19:45] shi27feng commented on #32270
@mrshenli Thanks for prompt reply.
I do have pytorch 1.4 installed, and I used command pip install --upgrade to update pytorch, do you mean the previous version (e.g 1.3.1) is still existing in my system?
Thanks again

[2020-01-22 19:47] mrshenli commented on #32270
@shi27feng looks like so, because the type `WorkerId` only exists in 1.3.1. Do you see the same trace as described in this issue (`torch/distributed/rpc/__init__.py` being the culprit)?

[2020-01-22 19:48] shi27feng commented on #32270
@mrshenli Hi, I just checked my system, I have only torch 1.4 and torchvision 0.5 installed, what else should I do? Thanks

[2020-01-22 19:50] mrshenli commented on #32270
Does it work if you pip uninstall them and then install it again?

[2020-01-22 19:51] shi27feng commented on #32270
@mrshenli OK, I'll try what you suggest, thanks again.

[2020-01-22 19:55] eellison commented on #30494
Closed with https://github.com/pytorch/pytorch/pull/31724

[2020-01-22 19:55] #30494 closed

[2020-01-22 19:55] dzhulgakov opened #32502 "Flaky test test_cos_scalar_cpu TestAutogradDeviceTypeCPU on MacOS"
Example job: https://circleci.com/gh/pytorch/pytorch/4317436?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link/console

[code]

For some reason happens only on MacOS and is not obviously related to any recent PR

cc @ezyang @gchanan @zou3519 @albanD

[2020-01-22 19:58] eellison commented on #30625
This works now because of https://github.com/pytorch/pytorch/pull/29300

[2020-01-22 19:58] #30625 closed

[2020-01-22 19:58] david-alexander-white commented on #32270
My problem was caused by having torch installed through both pip and conda,
my guess is it could be the same for you. You might try conda remove pytorch

On Wed, Jan 22, 2020 at 11:51 AM Feng Shi <notifications@github.com> wrote:

[2020-01-22 20:03] shi27feng commented on #32270
@david-alexander-white Thanks, and @mrshenli is right, my torch 1.3.1 is really hidden by version 1.4. I tried uninstall twice and reinstall, then it works well now.

[2020-01-22 20:08] rmcavoy commented on #32284
@albanD Mine currently prints only every 1000 iterations and I saw nothing with relu after an initial increase. Running 1000 iterations isn't really enough to diagnose this memory leak at all. This leak occurs over much longer time scales with even maxpool2d not leaking that fast. Maxpool2d leaks on the order of seconds which is tens of thousands of iterations of just maxpool(1,1)

[2020-01-22 20:15] eellison commented on #30673
Hi, your example with a couple of modifications worked:

- torch.jit.export is a decorator which marks a module method as needing compilation, so it doesn't do anything within the body of another method
- added self argument to `call_np`
- added return type annotation to the fucntion

[code]

I opened https://github.com/pytorch/pytorch/pull/32503 to give a better error on the no self argument.

[2020-01-22 20:15] #30673 closed

[2020-01-22 20:16] eellison commented on #28537
This was fixed by https://github.com/pytorch/pytorch/pull/29300

[2020-01-22 20:16] #28537 closed

[2020-01-22 20:18] bpstark commented on #32267
@schyun9212
from demo.predictor import Resize fails
NameError: name 'Image' is not defined
np not defined  # this is at least an easy fix
This is just the issues I have found so far, but once those get fixed there may be more

[2020-01-22 20:19] eellison commented on #30801
Was this fixed @Krovatkin ?

[2020-01-22 20:23] mtmd opened #32504 "LibTorch operates very slowly on data blobs from GPU"
## 🐛 Bug

If `dArray` is a pointer to GPU global memory, you can create a tensor using that paoiner as follows:
[code]
Creating the tensor in line 4 takes 1808 us and increasing its value in line 5 takes **3168169** us. The latter value is very large. This probably indicates that there is a considerable overhead involved when we use `from_blob` in the aforementioned fashion. I downloaded binary ve

[2020-01-22 20:29] richardmcai commented on #29814
Also having this issue. Seems to be related to #15070

[2020-01-22 20:35] Baranowski commented on #327
@andreaskoepf FYI all those operators are indeed crashing. I have found `addcdiv` to crash as well. I will slowly make my way through all the potential troublemakers when I have a clear idea what to do with them.

One ugliness is that some of those operators seem to have kernels defined in TH rather than ATen (e.g., `fmod` and `remainder`)

[2020-01-22 20:39] rohan-varma opened #32505 "test_nccl_timeouts is flaky"
## test_nccl_timeouts is flaky
See example failure: https://app.circleci.com/jobs/github/pytorch/pytorch/4318074

[code]

cc @ezyang @gchanan @zou3519 @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @rohan-varma @gqchen @aazzolini @xush6528 @osalpekar

[2020-01-22 20:42] eellison commented on #32300
Another problem - doesn't work with `torch.jit.ignore`

[2020-01-22 20:52] ZephyrSails opened #32507 ""code is too big" error in Conv1d"
🐛 I find "code is too big" error when I set the kernel size to a large value, I think this is a bug because this error only happens when we set padding size = 0, but when I set padding size > 0 the error won't throw. This does not seems reasonable to me.

## To Reproduce

[code]

[code]
[code]

[code]
[code]

[code]
[code]

 - PyTorch Version (e.g., '1.5.0a0-fb'):
 - OS: CentOS Linux
 - How you in

[2020-01-22 21:08] mrshenli commented on #32270
@soumith Does this mean `pip install --upgrade` cannot upgrade cleanly for us?

[2020-01-22 21:08] tayo commented on #32192
@ptrblck -- Thanks for giving the model a try.

I have just run using a clean repo from _HEAD_, with cuda 10.1 and torch==1.4.0.

* My experience replicates yours -- the issue does **not** occur with randomly generated data.  I guess this is related to the dataset/dataloader objects somehow.
* My clean run does not have any modifications to the model, beyond print() statements to let me know where

[2020-01-22 21:08] fritzo commented on #7313
FYI this looks similar to Pyro's constrained parameters in [pyro.nn.Module](https://github.com/pyro-ppl/pyro/blob/b319636/pyro/nn/module.py#L112), which is implemented by subclassing `torch.nn.Module` and over.loading [`.__getattr__()`](https://github.com/pyro-ppl/pyro/blob/b319636/pyro/nn/module.py#L291) and friends to perform computation. There is also a caching mechanism (for getattr-as-sample

[2020-01-22 21:20] dzhulgakov commented on #32351
It's probably some weird interaction of forking pickler and PyTorch tensor serialization. @driazati might have some idea.

[2020-01-22 21:27] pbelevich opened #32510 "Tensor.random_ is not implemented for bool on CUDA(but implemented on CPU)"
[code]

cc @ngimel

[2020-01-22 21:41] zdevito opened #32511 "TorchScript C++ API Tracking Issue"
Things we need to clean up in the TorchScript C++ API

## 🚀 Feature
- [ ] torch::save and torch::load should work on both C++ serialized models and data created from torch.save/toch.load
- [ ] Simple constructors for Tuple, List, and Dict in the torch namespace `torch::Tuple(<vector of Ivalues>)`, `torch::List(std::vector<T>)`, etc. should work as expected
- [ ] Header file reorganization to make

[2020-01-22 21:43] ailzhang commented on #32489
Yea we probably want to fix this.

[2020-01-22 22:09] ezyang commented on #28386
Obsoleted bby https://github.com/pytorch/pytorch/issues/29548

[2020-01-22 22:09] #28386 closed

[2020-01-22 22:12] ezyang commented on #18949
malvika did this!

[2020-01-22 22:12] #18949 closed

[2020-01-22 22:20] ericspod commented on #32488
Ah ok that all makes perfect sense now. What you're describing is what I thought trace did except for this error causing some confusion. The warning is telling us about a real condition but has it still gotten confused about whether `size` in my example code is a tensor or not? I would expect instead a warning about not being able to trace when data derived from a tensor is used in Python code, wh

[2020-01-22 23:02] hartb commented on #32083
Note that function `getCusparseErrorString()` was actually introduced to `libcusparse` during the lifetime of CUDA 10.1.

It was not present in 10.1.105 (original CUDA 10.1 release):

[code]

But had appeared by the time of 10.1.243 (CUDA 10.2 Update 2):

[code]

And I'm not sure about 10.1.168 (CUDA 10.1 Update 1).

So when building against CUDA 10.1, whether you want the guard (https://github.co

[2020-01-22 23:23] hartb commented on #31438
Ah; this is my fault. I pointed you to the wrong fix for this. Sorry!

You'll want to revert https://github.com/pytorch/pytorch/commit/83cf9473dc60d9c02f249875eb96fa38734ab163

And then ensure you have (or not) the guard code mentioned in #32083 based on the exact version of CUDA 10.1 you have. And if you need the guard, you'll need to tweak the version check in it. Added more details over in #320

[2020-01-22 23:24] hartb commented on #32083
(Ah, and I think @denfromufa 's issue was due to me originally pointing him at the wrong fix for this. Sorry!)

[2020-01-22 23:25] rohan-varma commented on #32362
We've instead added this in the internal code since other RPC backends are not open-sourced yet.

[2020-01-22 23:25] #32362 closed

[2020-01-22 23:35] rohan-varma commented on #30127
This was done in https://github.com/pytorch/pytorch/pull/31023/files

[2020-01-22 23:35] #30127 closed

[2020-01-22 23:43] rohan-varma commented on #26116
Is this currently implemented or are we still working on this? cc @mrshenli @osalpekar

[2020-01-23 00:36] dreiss opened #32516 "Java bindings for Windows"
## 🚀 Feature
It would be cool if the Java bindings worked on Windows.  They don't right now.  If you are interested in this feature, please comment on this issue with information on how/why you want to use it.  We will use this information to prioritize the work.

cc @peterjc123

[2020-01-23 00:43] rohan-varma opened #32517 "record_function decorator in autograd profiler does not work with RPC"
## 🐛 Bug

Nested `RecordFunction`s during profiling do not work with RPC calls, due to mismanagement of some internal variables in `record_function.cpp` caused by handling `RecordFunction` objects completing in different hreads.

## To Reproduce

[code]

will result in an error:
[code]

This is because the handling of the thread local variables `thread_local_func` and `parent_` are not managed pro

[2020-01-23 00:44] dreiss commented on #6570
Nightly libtorch releases now have working JNI bindings on Mac.  The demo repo has been moved to https://github.com/pytorch/java-demo/ , and the readme has been updated to include instructions for running against a nightly release.

Windows support is turning out to be much more complicated than I thought.  I'll still put some more effort into it, but I can't guarantee that we'll be able to suppor

[2020-01-23 00:44] #6570 closed

[2020-01-23 01:30] schyun9212 commented on #32267
@bpstark I updated reproduction code. I had missed importing pillow and numpy. I'm really sorry for my mistake.

[2020-01-23 01:35] pritamdamania87 commented on #31940
Closing this out since it looks like we have a solution here.

[2020-01-23 01:35] #31940 closed

[2020-01-23 02:25] ziyuv opened #32519 "torch::jit::script::Module::clone() is not actually cloning parameters"
## 🐛 Bug

If you take a look at the highlighted section: https://github.com/pytorch/pytorch/blob/4314620ba05bc1867f6a63455c4ac77fdfb1018d/torch/csrc/jit/script/module.cpp#L191-L203, you would notice that when `IValue s` is not a module, `Module r` will simply register it. Therefore, the new module will share the same parameters.

## To Reproduce

Steps to reproduce the behavior:

1. Load any Torch

[2020-01-23 02:27] superRookie007 opened #32520 "Numerical problems with torch.nn.functional.kl_div"
## 🐛 Bug
The implementation of **kl_div** in **torch.nn.functional** seems to have numerical problems. It can output **negative kl divergence**, and **small numbers even though they should be zero**. The problem could be due to the fact that it accepts input as **log_probability** while the target as **probability**.

## To Reproduce
Suppose we have two outputs of the same values:
`a = torch.tenso

[2020-01-23 03:12] kurthaha commented on #1776
@apaszke I found this thread while working on something similar in c++. Could you share how to call backward method within a backward wrapper?

[2020-01-23 04:59] vikigenius opened #32524 "Pytorch 1.4 does not detect gpu"
## 🐛 Bug

Installing pytorch 1.4 does not detect GPU, but pytorch-1.2 does work fine.
## To Reproduce

Steps to reproduce the behavior:

1. Create a new environment using conda: `conda create -n py14 python=3.7`
1. Activate the conda environment `conda activate py14`
1. Install pytorch using the command `conda install pytorch -c pytorch`
1. `python -c "import torch; print(torch.cuda.is_available()

[2020-01-23 05:20] Hsulet commented on #24157
I am using
torch 1.4.0
tensor board 2.0.2
Python 3.7.4
TensorBoard still display two rectangle for graph.

[2020-01-23 05:47] suo commented on #32519
@jerryzh168: I feel that `clone()` is not well-defined and we are receiving many issues due to it not behaving as people expect.

I propose we follow more closely Python's scheme to avoid confusion:
- Implement a `deepCopy()` method on `script::Module` that clones all state of the module recursively. This includes cloning all tensors. The type should not be cloned; the new module should share the

[2020-01-23 05:48] suo commented on #32519
Note that probably the above involves defining `deepCopy` on `IValue` as well.

[2020-01-23 06:24] neeraj-j opened #32526 "[jit] Unable to get module 'type' while using Jit.script"
## 🐛 Bug

Jit.script does not support type() or "\.\_\_class__" for getting module type

## To Reproduce

[code]
I get following error:
[code]
If I use
`self.identity.__class__`  instead of `type(self.identity)`, I get following error:
[code]

Any workaround would be appreciated

## Expected behavior

Should be able to find the module type

## Environment

pytorch : 1.4 (conda, stable)
OS: windows

[2020-01-23 06:27] kshitij12345 commented on #32524
From Table1 in the picture below, it seems that you'll need Nvidia Driver version >= 418 for CUDA 10.1 support.
![image](https://user-images.githubusercontent.com/19503980/72961506-4306bf00-3dd7-11ea-98e1-5b18eaa1244c.png)

Reference:
https://docs.nvidia.com/cuda/cuda-toolkit-release-notes/index.html

[2020-01-23 06:43] TheArheus opened #32527 "Onnx module converting issue"
Hello, I'm trying to convert my pytorch model to keras and I have ready onnx file for It. I realized that there is no problems with `onnx2keras` module. When I started to converting onnx to keras, I've got next error:
[code]

There is my code:
[code]

And here is my onnx file to reproduce my errors:
https://drive.google.com/file/d/1NjYMbidm5WOB4SeeBw22dGzn-jZIrU2-/view?usp=sharing

Is there a poss

[2020-01-23 07:18] ptrblck commented on #32192
Thanks for the information @tayo.
Since this issue does not occur with the random data, I think it might be related to the `cython` compilation of some data utilities from [here](https://github.com/facebookresearch/dlrm/blob/master/cython/cython_compile.py).
I'm still wondering, why you would see the hang in your `model.to()` call, so could you try to just use the data utilities (without the model

[2020-01-23 07:29] asifk1997 commented on #32212
Yeah same issue with proguard   @IvanKobzarev   @supriyar

[2020-01-23 07:41] tranvanluan2 commented on #16417
In my case, replacing Adam optimizer by SGD optimizer solved the same issue.

[2020-01-23 07:48] Baranowski commented on #327
@fmassa , @andreaskoepf Here's how I'm planning to go about the CPU part of this issue. No action/response from you required, unless you think I should alter this plan:

1. Go through the list of all the operators and identify those that crash.
2. For those that are implemented in TH, create an issue to port them to ATen.
3. For those that are already in ATen, add the check for zero and `throw std

[2020-01-23 08:09] CaoZhongZ commented on #32008
### Current progress.

Since the problem is version related, so I found the critical commit that revealed the symptoms.
Culprit commit ID: 6eaea39867abf6d11bf4d7183923168962be051f

This commit barely enabled torch.fill_ to use TensorIterator implementation instead of old TH one. We suspected that anything used at::parallel_for might related to the trouble. And tests showed positive results.

Testc

[2020-01-23 08:09] zero-lummel opened #32528 "Bug in add_param - functionality for tensorboard (scatter matrix view)"
## 🐛 Bug

The add_param() functionality in torch.utils.tensorboard doesn't keep the type of the hyperparameter when writing them to tensorboard file. As a result the hparams are ordered in a alphabetic order instead of a numeric one (if the hparm type is float for instance). Another resulting behavior is that tensorboard is producing a single tick for each hparam on x-axis.

## To Reproduce

Steps

[2020-01-23 08:34] edgarriba commented on #32392
Solved in here https://github.com/pytorch/pytorch/pull/32492

[2020-01-23 08:34] #32392 closed

[2020-01-23 09:12] vainaijr opened #32529 "addition of attention based techniques to pytorch"
## 🚀 Feature

Stand alone self attention and attention augmented convolution networks perform better than standard convolution networks on image classification experiments, I think these two should be added to PyTorch.

## Motivation

https://arxiv.org/abs/1904.09925
https://arxiv.org/abs/1906.05909
## Pitch

something like,
nn.AugmentedConv()
nn.StandAloneAttention()

[2020-01-23 10:05] xdever opened #32530 "RandomSampler with replacement=True should generate samples on-the-fly"
## 🚀 Feature

Generate samples on the fly in the RandomSampler if replacement=True.

## Motivation

My primary use of random sampler with replacement=True would be to have an infinite sampler of random elements that do not require a restart of the loader processes. To do this, I would like to specify a big number of samples with replacement=True.

For 2 cases this is especially useful: for super b

[2020-01-23 11:47] jeongukjae commented on #32481
@pbelevich Okay. I will fix this soon.

And one more thing.. I think this issue should be labeled with `module: typing`.

[2020-01-23 12:28] zerocool95 commented on #10443
This worked for me :
# for OS: Windows, package: pip, Language: python3.6 (below command is valid for only mentioned python 3.6)

pip3 install https://download.pytorch.org/whl/cu90/torch-1.1.0-cp36-cp36m-win_amd64.whl
pip3 install https://download.pytorch.org/whl/cu90/torchvision-0.3.0-cp36-cp36m-win_amd64.whl

[2020-01-23 12:36] h6197627 commented on #32286
I guess Anaconda version is using statically linked version of NCCL (and probably this is the write thing for avoiding collisions with system libraries). The question is why PyTorch built manually from the source is not doing the same.

[2020-01-23 12:46] nomisto commented on #4518
I had the same problem of getting error "from torch._C import * ImportError: DLL load failed: The specified module could not be found."

Using Windows -  Plain Python 3.6 - torch 0.4.0 - Virtual Environment

I solved it with the following steps:

1. Ensure that you have version 9.0.1 of pip: `python -m pip install pip==9.0.1`
1. `pip install mkl intel-openmp`
1. Add to system path: {path to virtua

[2020-01-23 13:30] ezyang commented on #32008
Nice sleuthing. cc @gchanan author of this patch

[2020-01-23 13:34] ezyang commented on #32517
Why is RecordFunction::end being called from a separate thread?

[2020-01-23 13:39] albanD commented on #32507
Hi,

Have you seen this issue? It seems related: https://github.com/pytorch/pytorch/issues/24174

[2020-01-23 13:43] albanD commented on #32520
Thanks for the report. It looks like a numerical stability problem.
Maybe the same fix as the one we are currently doing for cosine_similarity (https://github.com/pytorch/pytorch/issues/29442) would be good here? Namely clamping the result to make sure it is greater than 0.

[2020-01-23 13:47] albanD commented on #32527
Hi,

Please use the forum to ask questions: https://discuss.pytorch.org/
We use github issues only for bug/features related to pytorch.

Also your errors seems to point to annx2keras more than pytorch no?
Feel free to re-open if you get a signal that the model that was generated by pytorch is wrong.

[2020-01-23 13:47] #32527 closed

[2020-01-23 14:11] abdjava commented on #32279
Hi thanks for the help i made a pull request to fix the typo .

[2020-01-23 14:11] #32279 closed

[2020-01-23 14:15] mfkasim91 opened #32531 "Batched torch.eig() and gradient of torch.eig() for real eigenvalues"
## 🚀 Feature

I propose myself to implement the batched and gradient calculation (backward) for `torch.eig` if the eigenvalues are all real.

## Motivation

The cases where the matrix is real non-symmetric and has real eigenvalues can have quite a lot of applications, for example, for a real invertible matrix `P` and a symmetric matrix `A`, the following matrix `B=PAP^(-1)` should still have real

[2020-01-23 14:31] denfromufa commented on #31438
@hartb which cuda package versions would you recommend to build pytorch master or 1.3/1.4 from source? or should I use system installed cuda 10.1

https://public.dhe.ibm.com/ibmdl/export/pub/software/server/ibm-ai/conda/#/
https://public.dhe.ibm.com/ibmdl/export/pub/software/server/ibm-ai/conda-early-access/

[code]

[2020-01-23 14:31] rmcavoy commented on #32284
@albanD If you repeat the tests with the below code do you see real leaking behavior with all the functions you mentioned? My tests show only the two MaxPool2d have leaks (i.e. memory keeps increasing in the long term). The ReLu, threshold and log_sigmoid show memory increases in the first 1000 iterations (first two print statements) but are completely flat thereafter which is not a worrisome as t

[2020-01-23 14:39] iamlucaswolf opened #32532 "Instantiating `torch.distributions.Categorical` with all-zero long-dtype probabilities crashes Python"
## 🐛 Bug

As stated in the title, instantiating a categorical distribution (`torch.distributions.Categorical`) with an all-zero long-dtype `probs` argument (e.g. `Categorical(probs=torch.tensor([0,0,0]))`) will elicit a core dump.

I am aware that this is a somewhat nonsensical edge case, however it differs from the failure behavior of other nonsensical edge cases, in particular:

[code]

and also

[2020-01-23 14:42] leotrs commented on #24185
Is there any update on this? It seems surprising that PyTorch doesn't support easy computation of, say, the leading eigenvalue of a matrix. These have myriad applications and can be done much more efficiently than computing all of the eigenvalues.

[2020-01-23 14:43] albanD commented on #32284
I see the same thing with `log_sigmoid` for example. In my run, there was a memory increase in the last 10 prints.
But here again, I can't reproduce it with any of these on my centos machine. So this is very dependent on the machine.

[2020-01-23 14:53] madlag commented on #32444
A similar bug exists for Boolean tensors as well, when used as buffers :
[code]
Exception :
[code]
My fix is not handling this case, a larger refactor would be needed.

[2020-01-23 14:56] cossio commented on #31945
I did a Python based implementation that calls in to scipy:

[code]

Any comments are welcome. With some guidance into the pytorch source code I can turn this into a PR.

[2020-01-23 14:57] mrshenli commented on #32490
I am assume `model` is a `DistributedDataParallel` instance with `find_unused_parameters` marked to `True`. If so, the following code could potentially lead to the reported error.

[code]

Because, the forward pass generated two output tensors, but only one of them participates in computing the loss. DistributedDataParallel would traverse the graph from both tensors (outputs,readout) and mark all

[2020-01-23 15:29] rmcavoy commented on #32284
To confirm, are you referring to your run where you only do 1000 iterations or with the above script where it runs 100K iterations? The 1K (or even 2K) behavior is not a leak.

[2020-01-23 15:46] polo5 opened #32535 "torch.set_default_tensor_type() changes weights initialization"
## 🐛 Bug

Different tensor types, as set with `torch.set_default_tensor_type` seem to use different seeds to initialize models. This makes it hard to compare the behavior of some code across data types

## To Reproduce

[code]

## Environment

Python 3.6
Pytorch 1.2.0 [cpuonly]

[2020-01-23 15:52] alicanb commented on #32532
It's the divide-by-0 behavior. `torch.zeros(1,dtype=torch.float) / 0` gives `nan`, `torch.zeros(1,dtype=torch.long) / 0` crashes.

[2020-01-23 15:53] hameerabbasi commented on #28361
The way NumPy handles this is a `types` argument in `__array_function__`, subclasses remove "themselves" from `types` before calling `super()`

[2020-01-23 15:53] hameerabbasi commented on #28361
I'm also writing an RFC as requested.

[2020-01-23 16:02] ngimel commented on #32524
Either update your nvidia driver to 418.xx version, or download cuda 10 version of pytorch 1.4

[2020-01-23 16:04] albanD commented on #32284
I am referring to the script you posted just above. So with `log_sigmoid` I still see increases in the last 30k of the 100k run.

[2020-01-23 16:07] albanD commented on #32535
Hi,

When you generate double numbers, you need more randomness than for a float number. So you won't get the same behavior between the two.
If you want to generate the same numbers, you need to have the same data-type. You can then convert it to float if you want.

Closing this as this is not a bug but expected behavior.
For future reference, you can ask questions on the forum if you're unsure if

[2020-01-23 16:07] #32535 closed

[2020-01-23 16:11] polo5 commented on #32535
Thank you. I'd considered this hypothesis which is why I included `torch.rand(1)` which is the same for both data types. So there may be some inconsistency somewhere?

I will find a workaround for now.

[2020-01-23 16:15] alanhdu opened #32536 "PyTorch not reproducible on CPU"
## 🐛 Bug

We are currently using PyTorch in a real-time streaming situation, and we have a set of tests to ensure that a model's behavior in the online inference (where we get data points batch-by-batch) matches the behavior in offline inference (where we get the entire time series all at once). For reasons I can't understand though, we cannot get the two behaviors to line up.

## To Reproduce

If

[2020-01-23 16:35] andreaskoepf commented on #327
@Baranowski Regarding 2. Please see https://github.com/pytorch/pytorch/issues/24507 for links to all existing TH->ATen porting issues. As it is simpler to manage small PRs, depending on how many files are effected you might want to split the changes into multiple PRs. As @fmassa said in September most important is to handle division first. It would be great if you documented your findings (e.g. li

[2020-01-23 16:39] rmcavoy commented on #32284
Interesting, is it continously increasing or only a relatively small amount late in the script? This seems quite insidious whatever it is.

[2020-01-23 16:42] Balandat commented on #23795
I assume we're shebanging it then? I.e. add `#!/usr/bin/env python3` to new code.

[2020-01-23 16:49] albanD commented on #32535
It may be, by chance, that the `randn` only generates doubles and then truncate them to float if it is what you ask for.
But this is an implementation detail and I don't think you should rely on it because we might optimize the randn implementation in the future to only generate single precision float when a double is not needed.

[2020-01-23 16:52] albanD commented on #32284
It is similar amount compared to the beginning.
Have you tried using `jemalloc` to see what the behavior is on your machine?

[2020-01-23 17:07] gchanan commented on #23795
Just to clarify:
There are still some internal FB usages of python 2, and our tests still run python 2, so new code on master (as of now) needs to support python 2.  Hopefully that will go away soon, and we are not guaranteeing that PyTorch 1.5 supports Python 2.

@Balandat by "we're" do you mean the PyTorch project?  I don't really see why we need to shebang library code (standalone scripts like

[2020-01-23 17:14] sAviOr287 commented on #20981
Hi,

This issue still hasnt been fixed in torch 1.4 it seems like.

Are there any updates on this?

[2020-01-23 17:25] suo commented on #32469
@eellison The problem is that those are submodules, and I don't think we expected submodules to be None. I can put up a fix

[2020-01-23 17:28] dreiss commented on #28986
This is done for Mac and Linux.  Windows is blocked by #32516 .

[2020-01-23 17:28] #28986 closed

[2020-01-23 17:29] #30227 closed

[2020-01-23 17:39] mboedigh commented on #31891
Thanks. The fix is in 1.4.0 and the example the new DCGAN cpp example program runs fine. Thanks.

[2020-01-23 17:56] dylanbespalko commented on #32437
As stated above,

Complex number support is found here:
[cpu_strided_complex](https://gitlab.com/pytorch-complex/pytorch-cpu-strided-complex)
[cuda_strided_complex](https://gitlab.com/pytorch-complex/pytorch-cuda-strided-complex)

I plan to internalize these modules soon based on the progress in #24507.

I'm a bit bogged down. I will try to close this bug next week.

[2020-01-23 18:10] rohan-varma commented on #32517
@ezyang This happens because futures that correspond to RPC calls complete in a different thread. We want to stop profiling for an RPC when the future corresponding to it as marked as completed, hence the need to call it from a different thread. The PR description in https://github.com/pytorch/pytorch/pull/31381 describes the reasoning behind this more thoroughly.

[2020-01-23 18:30] driazati commented on #32526
This error is disguising the real bug which is that `type()` is not supported in TorchScript, so it is being inserted as a call to Python. Since the `type()` function has no type annotations, TorchScript assumes all the arguments are `Tensor`s, hence the error.

There's no good workaround at runtime, but you could lift the check into `__init__` (which runs in Python and is not looked at by the Tor

[2020-01-23 18:32] suo commented on #32385
hmmmm, your problem does not reproduce for me on the latest master. Running your original repro, I get the same gradients for all three. Could you try installing the latest nightly and trying?

[2020-01-23 18:34] driazati commented on #32489
Thanks again for the report! This looks like a duplicate of #25043 so closing this one so we only have to track the issue in one place.

[2020-01-23 18:34] #32489 closed

[2020-01-23 18:39] rmcavoy commented on #32385
@suo If you print the script.code which version of linear is it importing? As my tests above showed "The two script'd codes are exceedingly similar with the largest difference that I could spot being the non-fixed size (broken) loop imports torch.torch.nn.modules.linear and the fixed size (working) loop imports torch.torch.nn.modules.linear.___torch_mangle_2"

[2020-01-23 18:48] albanD commented on #32045
This is now fixed in master.

[2020-01-23 18:48] #32045 closed

[2020-01-23 18:50] ggeor84 opened #32542 "Channel-wise quantization for activations for conv/linear operators"
## 🚀 Feature
Currently channel-wise quantization for conv and linear operators is only supported for weights. Extending support of conv/linear operators for channel-wise quantization for activations would be fantastic.

## Motivation

Accuracy of a network can greatly benefit if activations are also quantized channel-wise.
## Pitch

Conv/linear operators should support channel-wise quantization of

[2020-01-23 18:55] zuoxingdong commented on #19037
Any update on this?

[2020-01-23 19:02] suo commented on #32385
This is what the original `script_mod.code` looks like:
[code]

It's very different from what yours looks like, which leads me to suspect you may be on an older version of PyTorch. What does `torch.__version__` say?

[2020-01-23 19:02] driazati opened #32544 "[jit] Use `typing.get_type_hints` instead of parsing types manually"
This is an weird case but it illustrates the problem (copied from #16492):

[code]

The problem is we're parsing types manually instead of using Python to resolve the types. #29623 kind of fixes this in that it calls out to Python to resolve types, but we shouldn't even be parsing types in the first place, since it leads to many paths to resolve types that can be complicated to reason about (e.g.

[2020-01-23 19:04] albanD commented on #32536
Hi,

Did you read the reproducibility note from the doc? https://pytorch.org/docs/stable/notes/randomness.html#reproducibility
Does that answer your question?

[2020-01-23 19:05] umanwizard commented on #19037
Sorry, I do not work on PyTorch anymore. @soumith can you remove the triaged label so this gets put back in the oncall queue?

[2020-01-23 19:05] chingyi071 opened #32545 "Wrong implementation of RMSprop with momentum and the fix"
## 🐛 Bug

I found the implementation of RMSprop with momentum is not consistent with the one written in the Google documentation, which is used in most of their research papers.

## To Reproduce

[code]
The code is equivalent to

[code]

## Expected behavior

The implementation should put learning rate inside the scaled gradients:
[code]
Based on the Tensorflow's documentation: [https://www.tensor

[2020-01-23 19:13] albanD commented on #32545
Hi,

Is there a paper for RMSprop? Isn't it just on some slides from a Coursera course?

Do you have a reference that argue about this?
All the pytorch optimizers multiply the learning rate after the momentum computation (sgd in particular). As far as I know, this is just a different convention.

[2020-01-23 19:16] chingyi071 commented on #32545
That's a typo. But Google implemented RMSprop and used them in some papers. Our RMSprop is so different and hard to reproduce those results in PyTorch.

[2020-01-23 19:20] rohan-varma commented on #28410
We have moved `ProcessGroupGloo` to gtest in https://github.com/pytorch/pytorch/pull/32133/files but the others have not yet been moved.

[2020-01-23 19:21] chingyi071 commented on #32545
But you're right. That's not a standard. I have found some papers put momentum in gradient instead of momentum buffer. For example, [https://arxiv.org/pdf/1609.04747.pdf](url)

Empirically, putting learning rate in momentum will be unstable at the beginning of the training since the initial gradients are large and noisy.

[2020-01-23 19:22] jerryzh168 commented on #32542
I think we have discussed this before, the argument against channel wise activation is that it makes kernel much more slower which defeats the purpose of quantization(which is to make the model run faster with little or no loss of accuracy).

[2020-01-23 19:26] jerryzh168 commented on #32519
clone without cloning the type is clone_instance, we have that here: https://github.com/pytorch/pytorch/blob/master/torch/csrc/jit/script/module.cpp#L216
`clone` is for cloning both type and instance actually. this is used when we want to modify the type of the cloned module, like in quantization. probably not going to be used for public I think

[2020-01-23 19:27] albanD commented on #32545
From a very practical point of view, I think there is no consensus that one is better than the other (as you mentionned above, some empirical experiment argue that our version is more stable). So it is not clear which one should be implemented if we created a branch new library.

That being said, changing the current behavior of the pytorch optimizers would be very confusing for a lot of users as

[2020-01-23 19:30] hartb commented on #31438
Our next release of WML CE will include PyTorch 1.3.1 built against CUDA 10.2 (and NCCL 2.5.6 / cuDNN 7.6.5). (That PyTorch 1.3.1 package should be avilable in our Early Access channel in a day or two, but is still build against Spectrum MPI on Power, so I think isn't what you're after.)

CUDA 10.2 is convenient because the existing `cusparseGetErrorString()` quirk in `aten/src/ATen/native/sparse/

[2020-01-23 19:36] denfromufa commented on #31438
@hartb I finally compiled pytorch with all updated cuda 10.1 packages in powerai channels! The testing seems fine so far.

[2020-01-23 19:38] mcarilli commented on #30526
@bhosmer How's this going?  Is there a WIP PR I can track, or test with?

[2020-01-23 19:38] rgommers commented on #28958
Fix for this was merged in gh-29045, and no new observations since 1 Nov 2019. So closing.

[2020-01-23 19:38] #28958 closed

[2020-01-23 19:47] #31472 closed

[2020-01-23 19:47] vincentqb commented on #32545
It would be nice in general for different libraries like PyTorch and others to have similar implementations, but we also need to protect some backward compatibility. Since there is no strong consensus here, I'm not in favor of this change.

I'm not in favor of adding more toggles to the optimizers than needed. I prefer that users are encouraged to experiment and modify the optimizers themselves.

[2020-01-23 19:47] #32545 closed

[2020-01-23 19:48] Krovatkin commented on #29909
this should be fixed now

[2020-01-23 19:48] #29909 closed

[2020-01-23 19:49] denfromufa commented on #12918
PR to address the docs: https://github.com/pytorch/pytorch/pull/32319

[2020-01-23 19:57] Baranowski commented on #327
The list of affected operators:

- div
- remainder
- fmod
- addcdiv

All the others that I found suspicious (e.g. `log` already mentioned by @andreaskoepf but also `reciprocal`) don't support Int.

Great point re. priority of `div`. I forgot about that point. I will prioritize that.

I would be happy to port `fmod` and `remainder` to ATen but I believe I'm supposed to focus on high priority issues

[2020-01-23 19:58] Krovatkin commented on #30801
@eellison we landed a few related things that hopefully fixes this, but I need to double check. Will do it in the next few days

[2020-01-23 20:01] ezyang opened #32549 ""Tried to register multiple operators with the same name and the same overload name" error is confusing"
I wrote this registration:

[code]

and it errored with:

[code]

I am pretty familiar with this code, but I have no idea what to do. The schemas look the same to me!

[2020-01-23 20:02] charleshofer opened #32550 "MagmaInitializesCorrectly_CUDA tries to take the inverse of a singular tensor"
## 🐛 Bug

The `MagmaInitializesCorrectly_CUDA` test case in `test/cpp/api/tensor_cuda.cpp` fails with the following error:

[code]

## To Reproduce

Steps to reproduce the behavior:

1. Build PyTorch from source, and make sure to build the cpp API tests along with it
2. Run the `tensor_cuda.cpp` tests (probably with `test_api` in the `build/bin` directory)

## Expected behavior

The test should pa

[2020-01-23 20:03] ezyang commented on #32549
I fixed it by writing:

[code]

and I think I have a guess why the first thing didn't work (I used the "infer schema" API), but I still maintain the error message could be clearer

[2020-01-23 20:26] bhosmer commented on #30526
Hey @mcarilli - yeah, sorry for the radio silence! There's a few intersecting considerations... working on it this afternoon and will update by EOD

[2020-01-23 20:44] mcarilli commented on #30526
Excellent, thank you very much!

[2020-01-23 20:56] pritamdamania87 commented on #30022
I think we can close this out since we're tracking the larger RRef leak issue here: https://github.com/pytorch/pytorch/issues/31325

[2020-01-23 20:56] #30022 closed

[2020-01-23 20:57] kurtamohler commented on #5672
`cusparseSpMM()` is just a single sparse MxK times dense KxN multiply. It's not a batched implementation, so my CUDA implementation won't just be a wrapper for one cusparse function call. I think it will be just as (if not more) difficult for me to figure out how to implement the CUDA version of BMM as it will be to implement the CPU version. So I think I should focus on CPU first.

@ezyang, I've

[2020-01-23 21:02] zuoxingdong opened #32552 "MultivariateNormal.rsample: use eigen-decomposition when Cholesky fails"
## 🚀 Feature

Similar to [what BoTorch did here](https://github.com/pytorch/botorch/blob/3d8976f51d3bba0f730557ed61668d343df3ff1f/botorch/sampling/qmc.py#L136-L143), for `MultivariateNormal.rsample`, shall we support the eigen-decomposition when Cholesky decomposition fails, especially when the covariance matrix is near-singular or ill-conditioned?

[2020-01-23 21:06] driazati commented on #27543
Closing as duplicate of #25135

[2020-01-23 21:06] #27543 closed

[2020-01-23 21:18] #30678 closed

[2020-01-23 21:43] jamesr66a commented on #32544
What's the error message?

[2020-01-23 21:48] suo commented on #32519
@jerryzh168 `clone_instance` also does not clone parameters.

[2020-01-23 21:51] zuoxingdong commented on #19037
I guess we might need a C++ implementation if we want to port this function to the core?

[2020-01-23 22:05] Krovatkin commented on #30801
the optimized graph from the legacy executor:

[code]
the optimized graph from the profiling executor.
[code]

both have `threshold` fused into `prim::FusionGroup_0`

@kevinstephano you will need to run the graph twice (the first time we profile a graph)

[2020-01-23 22:05] #30801 closed

[2020-01-23 22:08] fritzo commented on #32552
cc @fehiepsi who has suggested using square root form to represent a `MVN`

[2020-01-23 22:32] IvanKobzarev commented on #32212
Hello @pranavpandey2511 ,
Sorry for my late reply.

As a workaround you could add to your proguard configuration `proguard-rules.pro`:
[code]

I am working on adding default proguard configuration inside library packaging.

[2020-01-23 22:41] hartb commented on #31438
Ah; nice--glad to hear it!

[2020-01-23 22:52] #31650 closed

[2020-01-23 23:01] rmccorm4 opened #32561 "PyTorch 1.4 ONNX Producer Version Mismatch"
## 🐛 Bug

I'm exporting a PyTorch model to ONNX with `torch==1.4.0` and `onnx==1.6.0`, but the metadata in the ONNX model reports "Producer Version: 1.3".

## To Reproduce

Steps to reproduce the behavior:

1. Install torch==1.4 and produce ONNX model
[code]

2. Check PyTorch version is correct
[code]

3. Check ONNX metadata
[code]

ONNX model reporting PyTorch 1.3:
[code]

## Expected behavior

`

[2020-01-23 23:33] imransai opened #32564 "RuntimeError: cuDNN error: CUDNN_STATUS_NOT_SUPPORTED. This error may appear if you passed in a non-contiguous input"
Seems like most of the issues regarding this subject matter is closed. So I am opening this issue again.

## Issue description
I am facing this issue when using loss.backward() on my loss function.
Some of the loss function classes I am using are the following.

class CELoss_auxilary(nn.Module):

    def __init__(self, auxloss = True):

        super(CELoss_auxilary, self).__init__()
        self.

[2020-01-23 23:41] Balandat commented on #23795
@gchanan Shebanging mostly for signaling purposes. To the user for one, but more importantly to linters so they know how to lint (and not suggest stuff like `from future` imports etc.).

[2020-01-23 23:51] zhaojuanmao commented on #32444
I tried to read related codes and debug the sparse tensors replicate issue, and found out that sparse tensors are actually broadcast properly among devices, it seems that we are returning view of sparse tensors and auto grad function (Class Broadcast is a grad function) complains about it. if I copy the sparse tensor view to a new sparse tensor before returning in Broadcast.forward(), there is no

[2020-01-23 23:58] jhhurwitz commented on #32519
A deepcopy `clone`, if possible, would be useful for applications like multi-gpu training.

[2020-01-24 00:09] xush6528 opened #32565 "Reduce RPC branches for Python/Built-inOp/TorchScript"
## 🚀 Improvement

Built-inOp/TorchScript code paths could be packed together.

After #32466 and #30630

Consolidate
`pyRpcBuiltin` and `rpcTorchscript`.
`pyRemoteBuiltin` and `remoteTorchscript`.

Also, in `rpc/api.py`, `def _invoke_rpc` should have 3 branches and perhaps a better name.

[2020-01-24 00:13] kurtamohler commented on #5672
I was able to improve the performance of the CPU implementation. I mimicked how the non-batched sparse x dense operation works, but I added in the third dimension. Performance is about 25% worse than the BMM workaround, but that's much better than it was before. I'll keep messing with things to find out what I can do to improve it further.

[2020-01-24 01:16] pritamdamania87 commented on #31771
@kangcp Can this issue be closed out?

[2020-01-24 02:52] ZolotukhinM commented on #32519
Yeah, in the current state it probably would makes sense to:
1) change `clone_instance` to be a deep copy (i.e. add copying of tensors to it)
2) rename it to `clone` and make it the public API for cloning/copying
3) remove the current `clone` (that creates a new type) from the public API. It probably will still be used internally in implementations of freezing and quantization, but external users

[2020-01-24 03:07] vadimkantorov opened #32570 "[feature request] dtype argument for torch.argmax (and friends)"
It could save a lot of memory when tensors are very thin (e.g. 2 or 3 element-sized axes), and the result is known to fit in a byte (x8 memory save)

[2020-01-24 03:33] FongHou commented on #29065
The merged patch would not resolve deadlock (though it clould be hard to reproduce). As PyEval_RestoreThread (and PyEval_AcquireThread) doc states "If this thread already has the lock, a deadlock ensues", which means GIL is NOT reentrant. This is exact what's happenning in "embeded interpreter -> python code -> C extensions" call stacks within the same thread because the embeded interpreter must h

[2020-01-24 03:49] FongHou opened #32572 "Pytorch deadlock when calling non-reentrant GIL c-api in embedded interperter"
## 🐛 Bug

## To Reproduce

Reopen PyTorch deadlocks when freeing memory in embedded Pybind interpreter #29065

Also see details in nrepl hangs with libpython-clj and pytorch [#43](https://github.com/cnuernber/libpython-clj/issues/43)

## Expected behavior

The merged patch would not resolve deadlock (though it clould be hard to reproduce). As PyEval_RestoreThread (and PyEval_AcquireThread) doc sta

[2020-01-24 05:26] pranavpandey2511 commented on #32212
@IvanKobzarev Hi Ivan, thanks for your reply. I added this in the proguard.pro rules and this **works** and I am able to run my app in realease mode.
Previously I was just adding
`-dontwarn javax.annotation.Nullable`
`-keep class org.pytorch.** { *; }`

in my proguard.pro file.

[2020-01-24 05:26] #32212 closed

[2020-01-24 08:19] peterjc123 commented on #32564
Maybe related to https://github.com/pytorch/pytorch/issues/32395.

[2020-01-24 08:40] hameerabbasi commented on #28361
@ezyang First draft of the proposal is up. https://github.com/pytorch/rfcs/pull/3

[2020-01-24 09:37] bhosmer commented on #30526
@mcarilli it's before EOD in Hawaii, where I might well be typing this right now.
#32574 should observe the annotations properly - the correct types appear to be there in the generated code for your example signature. Per the comments in the PR there may need to be a followup before landing due to a small unrelated codegen delta, but meanwhile, LMK if you try this and run into any issues!

[2020-01-24 10:00] andyljones opened #32575 "Interrupting a DDP worker while using the CUDA MPS server causes CUDA to hang until reboot"
## 🐛 Bug
When using the CUDA MPS server, having a DataDistributedParallel worker fail can cause CUDA to hang permanently on the machine until it's rebooted.

I think this is more an NVIDIA bug than a PyTorch bug and I've submitted it to them, but it's something that other PyTorch users are likely to run in to too, so I'm reporting it here.

## To Reproduce
I have a minimal example [here](https://g

[2020-01-24 10:08] andyljones commented on #32332
Github pointed me at this while filing [this bug](https://github.com/pytorch/pytorch/issues/32575), and I can only say I haven't had this problem with multiple PyTorch processes using MPS. The linked bug aside, it all works fine.

[2020-01-24 11:06] breznak commented on #2260
pytorch vision gained DCN functionality recently! :clap:
https://github.com/pytorch/vision/pull/1586

[2020-01-24 11:25] Ehtasha commented on #29980
But when I convert my .onnx file into .pd.

It give me an error: Conv version 11 is not implemented.

Any suggestion is implemented.

[2020-01-24 11:32] MikeInnes opened #32576 "Seemingly incorrect gradient when nesting"
## 🐛 Bug

The following code results in `0` when the expected answer is `-1`:

[code]

## To Reproduce

Run the code above.

## Expected behavior

The code should result in `tensor(-1.)` rather than `tensor(0.)`.

## Environment

[code]

## Additional context

The following code in JAX produces the expected behaviour, for comparison:

[code]

cc @ezyang @SsnL @albanD @zou3519 @gqchen

[2020-01-24 12:44] atemysemicolon commented on #22488
I would like to see this as well!

[2020-01-24 13:33] ezyang commented on #32500
Tentatively marking this as high priority as it seems to imply that the binary distribution of libtorch is unusable

[2020-01-24 13:48] ezyang commented on #29065
cc @albanD who recently added a test for a similar deadlock

[2020-01-24 13:54] ezyang commented on #5672
OK, starting with CPU sounds reasonable. We might be able to loop over cusparseSpMM ourselves (in a CUDA kernel).

Basically you can use `x._indices()` and `x._values()` to look at the index/value tensors on sparse

[2020-01-24 14:34] imransai commented on #32564
For now, pytorch 1.4 nightly seems to have solved this problem! Thanks!

[2020-01-24 15:04] albanD commented on #32572
Hi,

Could you give a concrete example of why you would need to use pytorch's cpp-api while holding the GIL?
Isn't the whole point of using the cpp-api that you don't need to have the GIL held?

[2020-01-24 15:11] albanD commented on #32576
Hi,

When you evaluate `f2(x)`, you get `x*(x-x) = 0`.
So `f2` is the constant function that returns 0.
Its gradient is thus `0`.
And so `f1(.)` is just the constant function that always returns `0`.
So its gradient is `0` as well.

Could you explain why you expect to see `-1` here?

[2020-01-24 15:12] #32564 closed

[2020-01-24 15:39] nkolot opened #32579 "Potential bug in binary mask indexing."
## 🐛 Bug

I came across this issue recently while I was debugging some piece of code. I am not sure whether this is a bug or it is intended behavior. I searched but I did not find something relevant in the docs.

## To Reproduce

Steps to reproduce the behavior:

The script to reproduce it actually is very easy
[code]

## Expected behavior

I was expecting that the elements x2[1,0] and x2[1,1] to

[2020-01-24 16:09] ngimel commented on #32579
This is intended behavior. x2[mask], if not followed by assignment statement, produces a new tensor that is not sharing storage with original tensor. To do what you want to do you have to index both dimensions in a single indexing operation:
[code]

[2020-01-24 16:10] nkolot commented on #32579
Thanks!

[2020-01-24 16:11] #32579 closed

[2020-01-24 16:14] ngimel commented on #32332
@tarungog our experiments also show that pytorch works with mps out of the box (bugs like @andyljones reported aside), so I'm closing this issue as MPS is already supported. Please file bug reports if you encounter problems.

[2020-01-24 16:14] #32332 closed

[2020-01-24 16:20] ngimel commented on #32570
Implementing this in a truly memory-saving way requires instantiating a cross-product  of implementations for possible input dtypes and output dtypes. The shortcut that is usually taken for functions that have dtype arguments, with a few exceptions, is to insert the necessary casts in the beginning/end, but that won't lead to memory saving, because tensor with a wider dtype is still materialized.

[2020-01-24 16:22] ngimel commented on #32575
cc @csarofeen, @ptrblck, note also nvidia internal bug.

[2020-01-24 16:24] CaoZhongZ commented on #32008
### Progress

https://github.com/pytorch/pytorch/blob/8fd3eaed257884361828217f3aeaabc0296ae906/aten/src/ATen/ParallelOpenMP.h#L30-L49

The parallel region created by the code throttled number of OpenMP threads to 2 (num_threads) in our testcase. We could observe exiting of 126 threads at the end of the block, but MKL will boost the number of OpenMP threads back to 128, many threads spawning and ex

[2020-01-24 16:29] ezyang commented on #23795
@Balandat Actually we can cut everything over to Python 3 linting in Facebook without having to shebang everything; we just need to replace the `.python2` in the top level directory with `.python3`

[2020-01-24 16:35] ezyang commented on #32437
By the way, @dylanbespalko, there's a decent chance that this half we will start looking to move your excellent work in tree to PyTorch proper :D Let me know if there's anything on your own end we should know about.

cc @anjali411

[2020-01-24 16:37] ezyang commented on #32532
@albanD why did you remove triage review from this issue?

[2020-01-24 16:38] ezyang commented on #32520
cc @nikitaved

[2020-01-24 16:41] ngimel commented on #32579
Or, alternatively, if your real problem is amenable to slicing, you can use slicing, it is more efficient:
[code]
slicing is much less flexible than indexing, though.

[2020-01-24 16:48] zhangguanheng66 opened #32580 "SGD optimizer with deprecation warning"
## 🐛 Bug

When using SGD optimizer, I got the deprecation warning. The reason behind this is related to `add_` function in SGD. Should be an easy fix.

## To Reproduce

Steps to reproduce the behavior:

1. Use the following code snippet

[code]
## Expected behavior

[code]
## Environment

PyTorch version: 1.5.0a0+a5161c7
Is debug build: No
CUDA used to build PyTorch: 9.2

OS: Ubuntu 18.04.3 LTS
GC

[2020-01-24 17:01] MikeInnes commented on #32576
Although `y` and `x` happen to be equal here, they are not the same variable, and in particular `x` should be held constant when calculating `df2/dy`. The derivative is `(f(x+ϵ)-f(x))/ϵ` with small `ϵ`, so we get

[code]

And the derivative of this with respect to `x` is of course `-1`. You can check this numerically with

[code]

PyTorch also behaves consistently with this interpretation in a sli

[2020-01-24 17:08] Ajk4 opened #32583 "RuntimeError: "roll_cuda" not implemented for 'Bool'"
## 🐛 Bug

torch.roll not working for bool tensor with cuda.

## To Reproduce

[code]
yields `RuntimeError: "roll_cuda" not implemented for 'Bool'`

## Environment

PyTorch version: 1.4.0
Is debug build: No
CUDA used to build PyTorch: 10.1
OS: Microsoft Windows 10 Pro
GCC version: (tdm64-1) 5.1.0
CMake version: Could not collect
Python version: 3.6
Is CUDA available: Yes
CUDA runtime version: 10.1.

[2020-01-24 17:08] titusnicolae commented on #28743
to continue @vincentqb discussion, one cannot do a perfect uniform sampler from a stream without requiring memory of size comparable to the whole stream. For example if we need to sample a batch of size 64 from the stream there's 1/2 probability one element is from the first half of the stream, there's probability (1/2)^64 that all elements are from the first half of the stream, really unlikely =>

[2020-01-24 17:10] bsuryadevara opened #32584 "Segmentation Fault (core dumped) with 1.4.0"
## 🐛 Bug

Running a model training in the rapids docker container with 1.4.0 is throwing segmentation fault error while calling `.backward()` function whereas it is working as expected with 1.3.1. please find the below logs.

## Unexpected behavior
[code]
## Expected behavior
[code]
## Environment
[code]

[2020-01-24 17:16] ngimel commented on #32583
This is fixed on master, but not in 1.4.0 version.

[2020-01-24 17:16] #32583 closed

[2020-01-24 17:41] ngimel commented on #32584
Thank you for reporting this bug. Can you please provide small repro script that would allow us to easily reproduce the problem, preferably not depending on the 3rd party docker images? Also, can you get a backtrace from the segfault? Thanks!

[2020-01-24 17:53] albanD commented on #32532
It was a mistake !

[2020-01-24 17:54] kostmo commented on #32502
The first `master` commit that manifested this issue was e37a24b.  Since then, the failure rate is 54%  (19/35).  It therefore seems likely that the cause was introduced in either e37a24b or one of the few commits immediately preceding.

[2020-01-24 18:01] albanD commented on #32576
I would argue this is expected behavior:
- if the `x` you implicitly capture and the one you use in `f2(x)` are the **same** Tensor (and same python object), then they are the same thing.
- If you want them to be considered as different objects, then you should make them different objects. For example by doing `x_prime = x.view_as(x)` and use it like `x2` in you example above.

Do you agree with t

[2020-01-24 18:14] jhhurwitz commented on #32519
It would be nice if clone looked something like this: https://github.com/pytorch/pytorch/blob/master/torch/csrc/api/include/torch/nn/cloneable.h#L34

To align it better with the `nn::module` and (optionally) avoid the extra step of moving a copy to another device.

[2020-01-24 18:25] mcarilli commented on #30526
Thanks!  You flew to Hawaii just to give yourself a longer day to work on it?  That's going above and beyond.  Do I need to cherry pick both PRs from the stack, or is https://github.com/pytorch/pytorch/pull/32574 alone sufficient?

[2020-01-24 18:42] bzinodev commented on #32519
Yeah, I need this cloning for freezing to encapsulate the frozen module. I will experiment nn::module cloning. Thanks

[2020-01-24 19:08] yaroslavvb opened #32589 "User-friendly handling of types and devices"
Some changes would make small-scale prototyping more user-friendly in PyTorch:

- Python types are automatically converted to PyTorch types
- integer types are treated numerically equivalent to their floating point version
- device mismatches are handled automatically

The last one is probably the most controversial. Implicit movement between devices causes hard-to-debug performance problems in la

[2020-01-24 19:12] ptrblck commented on #32575
Thanks for reporting this bug @andyljones and for the reproducible code snippet!
We'll look into this issue with the CUDA driver team and update both bugs accordingly.

[2020-01-24 19:53] #32469 closed

[2020-01-24 20:06] zhangguanheng66 opened #32590 "[WIP] Progress to improve nn.MultiheadAttention and nn.Transformer"
This issue is created to track the progress of the work to improve `nn.MultiheadAttention` and `nn.Transformer`. Since the release of both modules in pytorch v1.2.0, we have received a lot feedbacks from users, including feature requests, bug fix, doc improvement. Here is a quick summary of the work items. Feel free to comment if you have any suggestions.

- [x] 3D attention mask in `nn.MultiheadA

[2020-01-24 20:22] Baranowski commented on #327
I was too ambitious with point 3. I still believe that doing a reduction pass over the entire divisor to find a zero before the actual division loop would be superior for performance. However, after digging a bit more into `ReduceOps.cpp`, I don't see a reasonably easy way to do it. The necessary helper functions to do that are `static` within `ReduceOps.cpp` so I think it would require defining a

[2020-01-24 20:23] SamPruden opened #32591 "`einsum` is ~20X slower than manually multiplying and summing"
## 🐛 Bug
A manual multiplication and summation `(a * b).sum(dim = (-3, -2, -1))` is about 20X faster than the equivalent `einsum`.

## To Reproduce

[code]
[code]

## Expected behavior

`einsum` to be no slower than manual. I actually expected / hoped for it to be faster as it avoids creating the large intermediary result of the multiplication.

## Environment

The environment is Google Colab with

[2020-01-24 21:10] albanD commented on #32502
Given that the failure happens only in the very specific case:
- only on ci macos machine (cannot repro locally)
- only fails for `cos`, not all other operations
- only fails during the double backward check (the regular backward check runs just before and is always fine)

Connecting to a CI machine, I verified that the difference is of `1e-17` so it is floating point precision level.

[2020-01-24 21:17] FongHou commented on #32572
Hi @albanD

It's a little complicated to set up a minimum deterministic example to show the problem. Because it involves embedding python interpreter in jvm by libpython-clj, which use python c-api to import python module and invoke python methods from jvm, hence it must hold embedded interpreter's GIL when invoking PyObject_Call.

Below is a complete stack traces from jvm thread into python nativ

[2020-01-24 21:18] MartinSamouiller commented on #24308
Hi,

I did the tricks explain above, and it seems to working fine.
To sum up:

Go to ivalue.h, and remove the doxygen comment lines:
[code]

it should become:

[code]

---------------------------------------------------------------------------------

Add the lines below to the .h :
[code]

---------------------------------------------------------------------------------

Define a slot like that:
[

[2020-01-24 21:34] ngimel commented on #32591
cc @t-vi

[2020-01-24 21:36] andreaskoepf commented on #327
AFAIK you can now throw from inside parallel cpu kernels, e.g. `at::{parallel_for, parallel_reduce}` loops store the first caught exception and rethrow it on the calling thread after the threads-join. `parallel_for` is used `TensorIterator::for_each()` code which is called from `cpu_kernel` & `cpu_kernel_vec` . Some time ago (e.g. in TH code) this exception-forwarding was not done automatically. F

[2020-01-24 21:37] albanD commented on #32572
But in the stack trace you show, `PyEval_RestoreThread` is called within a `PyGILState_Ensure`.
`PyGILState_Ensure` is the reentrant version of ensuring the GIL is held.
So this is not an issue.

If you call pytorch's python api from an embedded interpreter, then you should already hold the GIL as you are passing python objects around.
If you call pytorch's cpp api then you should not hold the GIL

[2020-01-24 21:39] ngimel commented on #32591
Thank you for reporting this issue. They way einsum is currently implemented there is no guarantee that it will be faster than matmul (in fact, it goes through batch matmul most of the time). If you want to improve performance by avoiding materialization of large intermediate tensors keops may be of interest. #28341 also might be related.

[2020-01-24 21:40] t-vi commented on #32591
This seems to be a limitation of the strategy to reduce to matmuls. Maybe one should revisit a TensorIterator-based implementation for GPU. I tried this a while ago in some branch but in the end didn't pursue it because I was more interested in the CPU case at that point.

[2020-01-24 21:45] ngimel commented on #32589
Thank you for the suggestion. Type promotion tries to handle some of the issues you mentioned (not device mismatches though), but not all functions go through type promotion currently, torch.allclose in particular does not. Do you have a list of functions that are annoying to deal with in this way?

[2020-01-24 21:47] ngimel commented on #32589
Setting "triage review" to discuss if we want to change python parser to do tensor wrapping and possibly type promotion.

[2020-01-24 22:13] jerryzh168 opened #32595 "test_cos_scalar_cpu in test_autograd.py is flaky"
Looks like it fails sometimes in master.
recent example:
https://app.circleci.com/jobs/github/pytorch/pytorch/4334972
https://app.circleci.com/jobs/github/pytorch/pytorch/4335324
https://app.circleci.com/jobs/github/pytorch/pytorch/4334257

Error message:
[code]

cc @ezyang @gchanan @zou3519 @SsnL @albanD @gqchen

[2020-01-24 22:14] jerryzh168 commented on #32000
This should be fixed now, please feel free to re-open if it's not

[2020-01-24 22:14] #32000 closed

[2020-01-24 22:15] jerryzh168 commented on #32595
oh, it's already tracked in https://github.com/pytorch/pytorch/issues/32502

[2020-01-24 22:15] #32595 closed

[2020-01-24 22:17] dalupus commented on #27837
@shingyipcheung   Are you able to replicate the error with torch.autograd.set_detect_anomaly(True) set in order to get a full stacktrace?

[2020-01-24 22:26] hollance opened #32596 "Massive memory leak on CPU with varying batch sizes"
## 🐛 Bug

Doing a simple inference loop with a different batch size in each iteration will quickly eat up all your memory. Only happens when running on the CPU, not on the GPU.

## To Reproduce

Steps to reproduce the behavior:

Run the following script and keep and eye on `htop`:

[code]

## Expected behavior

The memory used should be stable. But it quickly grows until you run out of free RAM.

[2020-01-24 22:57] kurtamohler commented on #5672
@ezyang , I'm not sure I understand what coalescing does. Does it just sort everything in the sparse tensor by its index coordinates? I've noticed that my performance increases significantly if I don't coalesce, giving me better performance than the workaround, which tells me that coalescing is not necessary for the specific tensors I'm using. What situations would cause a sparse tensor to be unco

[2020-01-24 23:09] bhosmer commented on #30526
@mcarilli ahahah well that's a charitable way of looking at it, another would be that the unintended consequences multiplied to fill available time :P ...apropos of which, sorry I didn't come back with an answer earlier, had to actually fix some test failures before you'd be able to use it at all.

Still some failures but all cosmetic so far, so probably fine to try out. And yeah #32574 should be

[2020-01-24 23:27] ngimel commented on #32596
Can you please try with the latest pytorch version (1.4.0)?

[2020-01-24 23:30] Enealor commented on #30478
I implemented a version of [SM3 for PyTorch](https://github.com/Enealor/PyTorch-SM3) after seeing this post. I'm not sure if there is interest in incorporating it into PyTorch, but I thought I would mention it here for @rdspring1. I realized that the Count-Sketch method you describe could be incorporated into SM3 in order to compress the momentum term. In both the TF version and my own, the moment

[2020-01-24 23:46] jianyuh commented on #29019
Closing as https://github.com/pytorch/pytorch/pull/27477 has landed.

[2020-01-24 23:46] #29019 closed

[2020-01-25 00:22] driazati opened #32605 "[jit] PackedSequence flips some outputs"
In this repro, returning `packed` shows that `pack_padded_sequence` is different in script/eager since `unsorted_indices` is `None` in script and `[1, 0]` in eager. `pad_packed_sequence` has a similar problem.

* Only happens when `enforce_sorted=False`
[code]

cc @suo

[2020-01-25 00:50] #32368 closed

[2020-01-25 01:22] rohan-varma commented on #32505
Another one: https://app.circleci.com/jobs/github/pytorch/pytorch/4338009

cc @pritamdamania87 should we disable this test until we have bandwidth to take a look?

[2020-01-25 01:22] SsnL commented on #32596
same as https://github.com/pytorch/pytorch/issues/32037, may be make it a high pri?

[2020-01-25 01:23] SsnL commented on #27971
duplicates https://github.com/pytorch/pytorch/issues/32037 https://github.com/pytorch/pytorch/issues/32596

[2020-01-25 01:24] SsnL commented on #27971
time to reduce default cache size?

[2020-01-25 01:28] ngimel commented on #32596
Ok, I'll close this in favor of #27971, and bump it for triage review.

[2020-01-25 01:28] #32596 closed

[2020-01-25 02:09] Balandat commented on #7500
What's the status on batched `cholesky_inverse`? Would be nice to be able to use this.

[2020-01-25 02:12] vishwakftw commented on #7500
During benchmarking, I saw a regression for small batch sizes. The PR is usable however.

I’m pretty occupied until the first week of February, so I won’t be able to take address that until then unfortunately.

[2020-01-25 02:15] alexeib commented on #25045
i am having the same invalid cuda config doing pdist with tensor torch.Size([1870, 512])
also it apparently doesnt support half tensors

[2020-01-25 05:26] ranamihir opened #32611 "Unable to use multiple GPUs"
Hi, I'm trying to implement a `predict()` method for my model to get all predictions, but it seems to use only one GPU even if I provide two of them. However, if I use the `forward` method instead, it uses both.
(If it's relevant, I'm using the DataParallel implementation provided [here](https://github.com/pytorch/pytorch/issues/16885#issuecomment-494165559).)

Below is a toy implementation of the

[2020-01-25 06:18] ngimel commented on #32611
Please use forum (discuss.pytorch.org) for questions. DataParallel uses multiple GPUs only for forward method, if you want to use multiple GPUs for other methods, you have to manually do it.

[2020-01-25 06:18] #32611 closed

[2020-01-25 07:17] FongHou commented on #32572
Make sense, Thanks!

Now I believe the root cause is on libpython-clj side. I have openned a pull request to its maintainer. Let's see if they confirm that'll fix deadlock (my own test shows its promising).

[2020-01-25 08:02] snyguy opened #32613 "PyTorch Build from Source fails from Android Ubuntu"
## 🐛 Bug

Building from source in headless ubuntu 19.04 in android termux:

[ 41%] Built target c10_TypeList_test                make: *** [Makefile:141: all] Error 2
Traceback (most recent call last):                     File "setup.py", line 737, in <module>
    build_deps()                                       File "setup.py", line 316, in build_deps               cmake=cmake)

[2020-01-25 08:15] v0dro opened #32614 "Logical AND and OR for Tensors in C++ API."
## 🚀 Feature

The `at::Tensor` datatype does not have `&` overloaded the way it is in the python API, thus not allowing for boolean element-wise operations between tensors.

## Motivation

I want to call the `at::where()` function with a boolean tensor that is the outcome of the AND of two conditions.

## Pitch

Something like this should be possible:
[code]
## Alternatives

This is ugly and tedio

[2020-01-25 09:01] v0dro commented on #32532
Removing my assign since this is still under triage review.

[2020-01-25 09:18] v0dro commented on #1521
Assigning since this was high priority before.

@ezyang can you please confirm if this still has enough priority to work on?

[2020-01-25 11:18] jeongukjae commented on #32481
I created one.

[2020-01-25 12:43] jeongukjae opened #32618 "No __rsub__ methods type stub on torch.Tensor"
## 🐛 Bug

[code]

Above code raises type error.

* mypy result:

[code]

* pyright result:

[code]

## Expected behavior

[code]

Above code should not raise any errors.

`torch.Tensor` needs below type hinting.

[code]

## Environment

 - PyTorch Version (e.g., 1.0): 1.4.0
 - OS (e.g., Linux): MacOS
 - How you installed PyTorch (`conda`, `pip`, source): pip

## Additional context

I think this li

[2020-01-25 13:40] MQSchleich commented on #32440
Solved: https://github.com/flairNLP/flair/issues/1359

[2020-01-25 13:40] #32440 closed

[2020-01-25 14:19] jecampagne opened #32619 "loss.backward(): RuntimeError: sizes() called on undefined Tensor"
## 🐛 Bug

The job crash both on CPU and GPU but cannot figure out where I am on Pytorch 1.3.1.

## To Reproduce
Well here the code reproduce the error both on "cpu" and "gpu":

[code]

[code]
## Expected behavior

No crash, if one replace the network by a single Layer do not crash.

## Environment

PyTorch version: 1.3.1
Is debug build: No
CUDA used to build PyTorch: 10.1.243

OS: CentOS Linux rel

[2020-01-25 15:04] jecampagne commented on #32619
Note that the error message is very strange as it points towards "sizes()" method which as far as I know is not a valid function (ie. "size()" with no "s" is ok but not "sizes()". At least in Pytorch 1.3.1 it is not documented.

[2020-01-25 16:03] whitealex95 commented on #4534
Arent' there any workarounds yet? My Model works with varying size of batch, so the drop_last wouldn't be my solution.

[2020-01-25 16:50] sytelus commented on #18414
Hi @sublee - just wondering if there was any update on LARS/LARC implementation... Thanks!

[2020-01-25 19:37] ahmhashesh commented on #32166
Can I start working on this?

[2020-01-25 19:44] ahmhashesh commented on #25874
Can I start by this as my first task?

[2020-01-25 19:46] ahmhashesh commented on #28440
Can I start by this one?

[2020-01-25 21:17] yaroslavvb commented on #32591
This would be a good building block to support
[code]

You could then compute larger einsums in an optimal way by using the schedule from `opt_einsum`, which is a sequence of GEMM/DOT/BLAS0 calls

[code]

[2020-01-25 21:39] ngimel commented on #32591
@yaroslavvb if pytorch implemented this primitive (broadcasted pointwise multiplication of two tensors followed by sum reduction), will opt_einsum then need to be taught to call it in appropriate circumstances?

[2020-01-25 21:57] ngimel commented on #32619
Does not reproduce on master. `sizes` is a function in c++ API, and error is thrown from c++.

[2020-01-25 22:15] SamPruden commented on #32591
Thanks for pointing out keops @ngimel, I hadn't heard of that before. That looks like a very useful tool, although having played around with it a bit I don't think it's going to give a performance boost for my use case here. I'll certainly find uses for it in the future.

That would be a very useful function to have. I actually found this issue after posting [this question](https://discuss.pytorch

[2020-01-25 22:32] Hui-Xie opened #32625 "Returning Variables sharing storage with other Variables that require grad is not supported in Python functions. Please submit a feature request if you hit this error."
## 🚀 Feature
In an inheriting torch.autograd.Function, I implemented static methods forward and backward.
In above forward method, I used ctx to save some tensors, e.g. ctx.tensor1 = tensor1 for using in the above backward.  It works good in training stage for forward and backward processes.

Now in the reference stage, under the context "with torch.no_grad():", I called the  above static forward

[2020-01-25 22:47] ngimel commented on #32618
Thank you for reporting this. Would you mind submitting PR with a fix?

[2020-01-25 22:53] ngimel commented on #32613
Please post a full log with your error.

[2020-01-25 23:16] edouardoyallon commented on #24176
Hi, I'm running in this issue as well https://github.com/kymatio/kymatio/issues/479 .. any updates? thanks!

[2020-01-25 23:23] 6etacat opened #32626 "CUDNN_STATUS_EXECUTION_FAILED on Python 3.7 but not Python 3.6"
## 🐛 Bug

I installed PyTorch using conda on Python 3.7 environment, and when I run any RNN models, it will give me CUDNN_STATUS_EXECUTION_FAILED error. Rolling back to Python 3.6 solves the problem. This is with either defaults channel or conda-forge channel Pythons.

## To Reproduce

Steps to reproduce the behavior:

1. `conda create -n test python=3.7`
2. `conda install pytorch torchvision cuda

[2020-01-25 23:24] 6etacat commented on #32626
I believe this is an issue with the PyTorch package in the conda repository. I think you guys may have uploaded the wrong binary (pytorch 1.1.0 cuda9.0) under `pytorch 1.4.0 py3.6_cuda10.1.243_cudnn7.6.3_0`.

[2020-01-25 23:25] jeongukjae commented on #32618
Good. I will create a PR for this issue!

[2020-01-25 23:43] ngimel commented on #32626
There is something wrong with your environment, probably some leftovers of earlier pytorch installations. Creating a fresh environment as in your reproduction instructions and installing pytorch 1.4 python 3.7 package reports correct pytorch version and correct cuda version:
[code]

[2020-01-26 00:21] #32481 closed

[2020-01-26 00:47] yaroslavvb commented on #32591
@ngimel I think it's easier to get contraction order from opt_einsum and do the rest in PyTorch

Here's an example of how to turn contraction order into a sequence of einsum calls, these map directly to optimized primitives like BLAS0 or GEMM

https://colab.research.google.com/drive/1ItfFMp6WGdZLSrFtI-ppnVcD2ahLxIHg

[2020-01-26 01:33] SamPruden opened #32627 "[Feature Request] Relax .view and .reshape argument restrictions so that ints and tuples can be interspersed"
## 🚀 Feature
Relax `.view` and `.reshape` argument restrictions so that `int`s and iterables can be interspersed and automatically flattened such that `.view(1, 2, (3, 4, 5), 6)` is equivalent to `.view(1, 2, 3, 4, 5, 6)`. Also allow the iterables to not only be `tuple`s and `list`s, but also 1D numpy arrays and 1D CPU tensors.

## Motivation
I quite often find myself writing code like this ugly m

[2020-01-26 01:38] ngimel commented on #32591
Cool! @yaroslavvb can you file an issue with this feature request?

[2020-01-26 01:49] v0dro commented on #1521
This seems to be working in the latest release:
[code]

@ezyang maybe close this issue?

[2020-01-26 02:17] ngimel commented on #32627
You can easily use tuples now
[code]

[2020-01-26 03:31] SamPruden commented on #32627
I'm an idiot. I wrote code that did that a week ago. I have no excuse. Closing.

[2020-01-26 03:31] #32627 closed

[2020-01-26 03:59] #32572 closed

[2020-01-26 05:18] KaiyuYue commented on #31684
That’s great. Sure. I will give feedback ASAP.

[2020-01-26 05:35] ptrblck commented on #32370
Thanks for reporting this issue @SamPruden.

I've added a few iterations in the profiling loop and removed the loss calculation.
[This](https://gist.github.com/ptrblck/19a5685a118f6b1e4e3cb61c7a8cd55e) is the current script I use for profiling.

On a V100-SXM2 16GB I'm also seeing a slowdown using cudnn 7.6.5.32 compared to the native CUDA implementation:

| | forward | backward |
| ------------ |

[2020-01-26 06:13] #31875 closed

[2020-01-26 07:27] ngimel commented on #32030
cc @seemethere. #32515 addresses some of the issues.

[2020-01-26 08:23] maaft commented on #32424
Anything I can do in the meantime?

[2020-01-26 08:36] sublee commented on #18414
Hi @sytelus, Thank you for asking. My co-worker released the project named `torchlars`: https://github.com/kakaobrain/torchlars

[2020-01-26 08:55] franva commented on #22564
has anyone tried this wheel??
I would like a wheel for PyTorch 1.3.1

[2020-01-26 08:57] zhangruiskyline commented on #20822
Hi, I would like to know is there any good lib for pytorch to load data from a Cloud HDFS file system?

[2020-01-26 10:23] JonasZerbib commented on #3717
hi,
i try to run my code on macOS 10.15.1  , and it displays the follow error:
AssertionError: Torch not compiled with CUDA enabled.
someone can help me please

`Traceback (most recent call last):
  File "/Users/Jonas/Documents/ML_ex_3_neural_network/Lior/ex4.py", line 160, in <module>
    main()
  File "/Users/Jonas/Documents/ML_ex_3_neural_network/Lior/ex4.py", line 153, in main
    model.valida

[2020-01-26 11:27] nikochiko commented on #30380
@jspisak Pardon me for the delay in responding. I think both are doable but having a notebook which already imports pytorch and has some pytorch code already would make the user more comfortable. What do you think?

[2020-01-26 11:46] bmanga opened #32628 "Should I expect a performance difference between jit and native c++ models?"
## ❓ Questions and Help

Hi, I was wondering if I should expect any performance difference between:
* creating and training a model in python, script it with `jit.script` and run it in c++
* creating, training and running a model directly using the C++ API.

Thanks!

cc @suo

[2020-01-26 14:46] fmassa commented on #32591
I believe we might have something similar (or almost) implemented, see

https://github.com/pytorch/pytorch/blob/e7fe64f6a65cd427e503491f192c14476e18033b/aten/src/ATen/native/Linear.cpp#L33

[2020-01-26 16:50] PetrochukM opened #32630 "Floating point exception (core dumped)"
## 🐛 Bug

Python crashes with "Floating point exception (core dumped)" after running `torch.tensor(0) / torch.tensor(0)`.

## To Reproduce

[code]

## Expected behavior

Python shouldn't crash.

## Environment

Collecting environment information...
PyTorch version: 1.4.0
Is debug build: No
CUDA used to build PyTorch: 10.1

OS: Ubuntu 18.04.3 LTS
GCC version: (Ubuntu 7.4.0-1ubuntu1~18.04.1) 7.4.0
C

[2020-01-26 17:44] occam-ra-zor opened #32632 "log cdf and log survival function of normal distribution"
why is there no log_cdf and log_sf in atleast pytorch normal distributions yet ? while even tensorflow and scipy has it

cc @vincentqb @fritzo @neerajprad @alicanb @vishwakftw

[2020-01-26 18:59] ngimel commented on #32591
@fmassa it's likely already used by einsum. But apparently there are cases when going through bmm, as that function does, is pretty inefficient. BTW, nvidia provides a cutensor library that should have efficient implementations for tensor contraction ops, I wonder if it would help https://developer.nvidia.com/cutensor

[2020-01-26 18:59] yaroslavvb commented on #32591
@fmassa indeed, that seems to be it. Is this what's getting called in the instance above? It seems slower than pointwise multiply followed by reduce. A simpler example with 20x slowdown

[code]

[2020-01-26 19:13] ngimel commented on #32591
@yaroslavvb looks like it. Since batch size for `bmm` is 2000000 in this case, and cublas has an internal limitation of 65K for the batch size, batched gemv kernel is called 31 times, and kernel itself looks to be not particularly efficient.

[2020-01-26 19:20] yaroslavvb commented on #32591
@ngimel `cutensorContraction` function in that library is essentially a drop-in replacement of einsum (except perhaps 'ii->i' case), seems pretty promising!

[2020-01-26 19:57] pearu commented on #30488
I cannot reproduce the test failures when considering the following variations:
[code]
(I don't have access to `ppc64le` system here.)

From the description of this issue, notice:
[code]
that is, there exists two torch version in the system: 1.2 and 1.4. This is odd but does not necessarily lead to the current issue.

@nairbv , can you confirm that this issue still exists in your environment when

[2020-01-26 20:09] peterbell10 opened #32636 "Distributed autograd converts all python exceptions to RuntimeError"
## 🐛 Bug

If an instance of `torch.autograd.Function` raises a python exception during the backward pass, distributed autograd will always convert the type of that exception to `RuntimeError`.

## To Reproduce

See `DistAutogradTest.test_backward_autograd_engine_error`:
https://github.com/pytorch/pytorch/blob/6ad9e5c70d1f496b9eaca191ec18e26c106c6436/torch/testing/_internal/distributed/rpc/dist_aut

[2020-01-26 20:15] rgommers commented on #29137
Update: this is currently blocked on adding a new `ReductionDim` class (see https://github.com/pytorch/pytorch/pull/30822#issuecomment-572783469), to be able to support `dim=None`.

[2020-01-26 20:25] eliasjacob commented on #22564
It works.

[2020-01-26 20:31] vadimkantorov commented on #32570
Doesn't type casting semantic just insert a cast before the write-out? If yes, couldn't argmax do the same without template-parameterizing by output dtype?

[2020-01-26 21:04] rgommers commented on #32520
@v0dro I unassigned you until the `triage review` label is cleared.

[2020-01-26 21:18] ngimel commented on #32630
Related issue and discussion #327 (don't be fooled by 3-digit number, it's active as of now). @PetrochukM please check if this issue can be closed in favor of #327

[2020-01-26 21:31] gourav-sg commented on #20822
Hi Rui,

from what I understand there is not and yet I keep on hearing that Pytorch
is used for large scale AI platforms? Does sound a bit confusing is it not?

Yet you can see that Tensorflow does have those libraries for S3:
https://apimirror.com/tensorflow~guide/deploy/s3 which is another object
store.

The answer from the Pytorch community has been we should write our own
readers for loading d

[2020-01-26 21:52] rgommers commented on #1521
@v0dro this code doesn't work anymore, with v1.4.0 you should be getting:
[code]

If you adapted the reproducer to make it work, you should put the modified code in a comment so it's easy to reproduce/judge.

[2020-01-26 21:52] rgommers commented on #1521
This isn't high-prio anymore. I understand it's hard to find issues, we're working on that - and I can give you suggestions if needed.

[2020-01-26 22:06] PetrochukM commented on #32630
Haha wow, that's from 2016!

Closing!

[2020-01-26 22:06] #32630 closed

[2020-01-26 22:17] soumith commented on #561
the method is a bit more niche, and we were waiting for it to pick up in popularity.
Considering it didn't, I'm going to close this Feature Request as `wontfix`, we dont want to increase the maintenance surface of core,

[2020-01-26 22:17] #561 closed

[2020-01-26 22:18] soumith commented on #1112
LRSchedulers reasonably handle this aspect now, and they are in the PyTorch API.

[2020-01-26 22:18] #1112 closed

[2020-01-26 23:07] rgommers commented on #31771
This requires at least a documentation update before the issue can be closed.

There's also an implementation issue, `g.manual_seed(self.epoch)` inside `DistributedSampler` is a very low-entropy way to seed. The `manual_seed` docstring recommends against this: *It is recommended to set a large seed, i.e. a number that has a good balance of 0 and 1 bits. Avoid having many 0 bits in the seed.* It ma

[2020-01-26 23:23] soumith commented on #20822
https://apimirror.com/tensorflow~guide/deploy/s3 which is another object
store.

@gourav-sg the whole notion that PyTorch is some special snowflake in the Python ecosystem, and it requires new APIs or tooling to read a pickle (of Tensors or ndarrays) from S3 or Parquet seems pretty wrong, and questionably misguided.

There are mature Python APIs around reading from HDFS or Parquet or S3. Ultimatel

[2020-01-26 23:28] soumith commented on #20822
in some fast-forwarded time, if and when @pritamdamania87 and team decide to open-source their Data pipeline framework (and there are similar efforts, as @jaliyae pointed out such as `petastorm`), one has to think about whether to yield NumPy ndarrays or PyTorch Tensors, depending on where the open-source user-base would find this generally useful.

[2020-01-26 23:33] soumith commented on #20822
I took a look at the `petastorm` API, and it looks pretty reasonable:

[code]

It has the following expected features from a high-performant production-ready data / object store reader:

- Selective column readout
- Multiple parallelism strategies: thread, process, single-threaded (for debug)
- N-grams readout support
- Row filtering (row predicates)
- Shuffling
- Partitioning for multi-GPU traini

[2020-01-27 00:00] vadimkantorov opened #32637 "[feature request] torch.onnx.export dynamic_axes to support strings in addition to existing dicts"
`dynamic_axes = dict(x = {0 : 'B', 1 : 'T'}, logits = {0 : 'B', 1 : 'C', 2: 't'})` is a bit more verbose than ` dynamic_axes = dict(x = 'BT', logits = 'BCt')`

cc @houseroad @spandantiwari @lara-hdr @BowenBao @neginraoof

[2020-01-27 00:05] franva commented on #22564
thanks, I have built my own wheel for PyTorch 1.3.1 :)

[2020-01-27 00:37] zhangruiskyline commented on #20822
Thanks @soumith , let me check `petastorm` , if it can load from a Cloud based HDFS file system like S3, Azure data lake, then should be good enough,  I just want to have sth similar like TF's https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/platform/hadoop/hadoop_file_system.cc, so we do not need to load large data set from HDFS file system into local disk and then perform the

[2020-01-27 00:44] kgizdov opened #32638 "TORCH_CUDA_API export failure on torch::cuda::nccl::detail::throw_nccl_error(ncclResult_t)"
## 🐛 Bug

When compiling from source `pytorch 1.4.0` the resulting library `libtorch_python.so` is left with an undefined symbol for `torch::cuda::nccl::detail::throw_nccl_error(ncclResult_t)` (`ImportError: /usr/lib/python3.8/site-packages/torch/lib/libtorch_python.so: undefined symbol: _ZN5torch4cuda4nccl6detail16throw_nccl_errorE12ncclResult_t`)

## To Reproduce

Steps to reproduce the behavior

[2020-01-27 00:47] peterbell10 commented on #18853
I was able to reproduce the failure without autograd by modifying the script slightly. I removed `backward` from `fwbw` and used `torch.no_grad` to disable autograd:
[code]

Without autograd, this uses much less cuda memory for the same batch size. So, for the oom batch to fail to allocate, we need to increase the batch size proportional to the failed batch size.

If I use `fwbw(model, bs//4)`, I

[2020-01-27 01:49] vadimkantorov opened #32639 "Unbound local variable in LR scheduler"
This is about a mysterious error. I have the following code that runs ok:
[code]

Then, if instead of `*args` I write `step` (essentially I want to remove reliance on `self.last_epoch` while reusing some of existing LR scheduler functionality), this happens:

[code]

In theory this can never happen, since all branches of code in `lr_scheduler.py` initialize the `values` variable

(It's also quite

[2020-01-27 02:33] vadimkantorov commented on #9190
Another instance of uneconomical zero-array allocation that could be saved by torch.where accepting scalars: https://github.com/pytorch/pytorch/pull/32616/files

[2020-01-27 04:53] QuanluZhang opened #32641 "changed format of trace graph in torch 1.4.0"
## ❓ Questions

For the following example code, the printed graph in torch 1.4.0 is very different from that in torch 1.3.1. I am wondering is this expected? because many useful fields are removed in torch 1.4.0.

[code]
output in torch 1.3.1:
[code]

output in torch 1.4.0:
[code]

[2020-01-27 05:43] 6etacat commented on #32626
After a couple hours of frustration, I finally figured it out. Seems like it's due to some remained files in `.local/lib/python3.7`. I don't remember why anything would be in there. Now it's working. :smiley:

[2020-01-27 05:43] #32626 closed

[2020-01-27 06:32] suo commented on #32628
Yes, you should expect a performance difference. The C++ API has the same execution model as PyTorch eager, and re-uses the same infrastructure. It will execute your model code op by op, as you wrote it.

The JIT has a domain-specific optimizing runtime, so in general you should expect your code to be faster than the C++ frontend. However, we're still early on in delivering perf wins using compila

[2020-01-27 06:32] #32628 closed

[2020-01-27 06:51] suo commented on #25886
repro:
[code]

[2020-01-27 07:05] suo commented on #26067
This is fixed in a number of ways (nonetype refinement now works, optional modules are "allowed" in the script frontend, etc.)

[2020-01-27 07:05] #26067 closed

[2020-01-27 08:19] Baranowski commented on #17935
@zou3519 is there a reason why this issue is still open even though a fix has been merged?

[2020-01-27 08:21] rohan-varma opened #32643 "test_broadcast_coalesced_nccl is flaky"
## 🐛 Bug

Example failure:
https://ci.pytorch.org/jenkins/job/pytorch-builds/job/py3.6-clang7-rocmdeb-ubuntu16.04-test2/14617/console

[code]

cc @ezyang @gchanan @zou3519 @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @rohan-varma @gqchen @aazzolini @xush6528 @osalpekar

[2020-01-27 08:22] rohan-varma opened #32644 "DISABLED test_quantized_rnn (test_quanization.PostTrainingDynamicQuantTest)"
## 🐛 Bug

tes_quantized_rnn is flaky, see https://app.circleci.com/jobs/github/pytorch/pytorch/4343194
See example failure:
[code]

cc @jerryzh168 @jianyuh @raghuramank100 @jamesr66a @vkuzo @ezyang @gchanan @zou3519 @dzhulgakov

[2020-01-27 08:35] Baranowski commented on #24045
@driazati So this issue is on hold since solving https://github.com/pytorch/pytorch/issues/26567 will solve this one as a side-effect?

[2020-01-27 08:54] Haicang commented on #20248
I'm also wondering why. Actually, sparse tensors can be regarded as several dense tensors.

[2020-01-27 09:45] Haicang commented on #20248
By returning `indices` and `values` as 2 dense tensors in `collate_fn` , my program runs, though there are some sparse tensor operations in my `collate_fn`.

[2020-01-27 09:47] kgizdov commented on #32638
Indeed, the symbol is not exported in the release version - [source](https://github.com/pytorch/pytorch/blob/f067088a8f0facc6cde7187e278540add7d5f47b/torch/csrc/cuda/nccl.h#L22)

[2020-01-27 09:57] Baranowski commented on #16610
I will try to reproduce with 7.4 and newer versions

[2020-01-27 10:19] jeongukjae opened #32645 "LambdaLR type bug"
## 🐛 Bug

In `torch/optim/lr_scheduler.pyi`, type of `LambdaLR`'s constructor is

[code]

but description of `LambdaLR` in `torch/optim/lr_scheduler.py` is as follow.

[code]

I think type of `LambdaLR` should be as follow.

[code]

cc @vincentqb

[2020-01-27 10:24] gourav-sg commented on #20822
Hi Soumith,

*thanks a ton for responding !!!!*

I had expressed by frustration to the community earlier but the response
was "why dont you write your own data loaders".  As you can understand
building a production level input pipelines are non-trivial and needs to
involve a lot of engineering around resiliency, scalability, distribution,
recoverability, and so on.

Sadly most of my clients are ne

[2020-01-27 10:31] jeongukjae opened #32646 "Missing default value in torch/optim/lr_scheduler.pyi"
## 🐛 Bug

There is no default value in `_LRScheduler.step` in [`torch/optim/lr_scheduler.pyi#L9`](https://github.com/pytorch/pytorch/blob/5b321a098594693eca8408169f475cb334856655/torch/optim/lr_scheduler.pyi#L9), but in [`torch/optim/lr_scheduler.py#L106`](https://github.com/pytorch/pytorch/blob/5b321a098594693eca8408169f475cb334856655/torch/optim/lr_scheduler.py#L106), `step` function has default

[2020-01-27 11:32] adizhol opened #32648 "[Question]Pipeline batches inferencing"
Hi,
Google published a paper where they "pipeline" the inference (and backprop) stage (each later at a time).
[https://arxiv.org/abs/2001.06232](https://arxiv.org/abs/2001.06232)
I thought that most frameworks already do this during the forward pass when inferencing, since you don't need to wait for the batch to finish calculating all the outputs before loading a new batch.
If that's not the case,

[2020-01-27 11:56] PhotonQuantum commented on #19643
Maybe this is a bug of `torch.onnx` ? It seems that the exporter unexpectedly omits the value of `strides` attribute.
I worked this around by specifying the stride of my pool layer explicitly:
[code]

[2020-01-27 13:25] fmassa commented on #22338
This issue has been showing up again for some users, see https://github.com/pytorch/vision/issues/1782 and https://github.com/pytorch/pytorch/issues/29371 for an example.

Here is the stacktrace from https://github.com/pytorch/vision/issues/1782
[code]

[2020-01-27 13:25] fmassa commented on #29371
Duplicate of https://github.com/pytorch/vision/issues/1782 and #22338 , let's keep the discussion in #22338

[2020-01-27 13:25] #29371 closed

[2020-01-27 13:58] ketjow4 commented on #28619
Hey, @VitalyFedyunin  what is current status? What are your plans?

[2020-01-27 14:57] ezyang commented on #32643
I think https://github.com/pytorch/pytorch/pull/32338 is responsible

[2020-01-27 15:03] ezyang commented on #32502
The only plausible PR within the time window which could have caused this is https://github.com/pytorch/pytorch/issues/32502

[2020-01-27 15:34] soumith commented on #20822
@gourav-sg pretty much all of the bullet points that you gave sound more like standard high-level client requirements, I think you can make them whether you are picking Pandas or Spark -- i.e. regardless of the nature of the project. And, if you are building custom production pipelines, you likely have to do non-trivial engineering work regardless of the product you pick.

general, and later on in

[2020-01-27 15:35] GeorgKohl opened #32651 "[Tensorboard] Problem with subfolders from SummaryWriter"
## Bug

Using the `add_scalars` or the `add_hparams` methods from the `SummaryWriter` in `torch.utils.tensorboard` results in a folder structure with subfolders that each contain further "tfevents" files. As a result, Tensorboard loads them as separate runs which very quickly leads to chaos when trying to distinguish different training sessions:

![Tensorboard](https://user-images.githubuserconten

[2020-01-27 15:56] zhangguanheng66 commented on #32625
any ideas? @albanD

[2020-01-27 15:56] ngimel commented on #16610
This was first worked around in #17016 and then fixed in later versions of cudnn. Closing this.

[2020-01-27 15:56] #16610 closed

[2020-01-27 16:35] Rob-Fletcher commented on #32651
I am having the same problem. When I log hparams it is appearing in a subfolder in the log directory.

[2020-01-27 16:36] Baranowski commented on #31663
Assigning gchanan since he already has put up https://github.com/pytorch/pytorch/pull/31666 for this issue

[2020-01-27 16:37] ezyang commented on #32638
@kgizdov can you submit that as a PR and add me as reviewer? Thanks!

[2020-01-27 17:02] albanD commented on #32625
Hi,

@Hui-Xie As mentioned in your comment [here](https://github.com/Hui-Xie/DeepLearningSeg/blob/b568215616214e43def1693e5e65af92bff9c776/OCTMultiSurfaces/network/OCTPrimalDualIPM.py#L103), `save_for_backward()` must be used for input/ouputs. In your case `Q` is an input I think.

Also I cannot reproduce this with a simple example. Do you have a failing example that we can easily run to share?
[c

[2020-01-27 17:03] #15982 closed

[2020-01-27 17:20] yf225 commented on #32166
@ahmhashesh Thanks so much for your interest and yes it would be awesome! The C++ API behavior should match Python API behavior, and I believe the right fix would involve moving the dtype inference logic down to ATen, similar to how we do it for `torch::arange` (https://github.com/pytorch/pytorch/pull/27629).

[2020-01-27 17:23] dylanbespalko commented on #755
Here is a status update on complex number support as requested in #32437. I am back working on CPU related support today.

### Autograd Support
- I haven't had much time for this.
- `angle()`, 'real()`, `imag()`, `conj()` were all implemented.
- `abs()` will require a separate implementation for complex numbers. (see notes from @boeddeker and @Randl above)

### Hardware support
The complex number

[2020-01-27 17:27] yf225 commented on #25874
@ahmhashesh Thanks so much for your interest! I think `at::Tensor::_base` can be an easier one to start with, and we can use https://github.com/pytorch/pytorch/pull/26561 as an example for how to implement it.

[2020-01-27 17:30] yf225 commented on #28440
@ahmhashesh: Thanks a lot for your interest! @anjali411 is currently working on this project, and we will revisit it later to see if we need additional help on it. Thanks again!

[2020-01-27 17:31] ezyang commented on #15359
Bumping priority, esp for CUDA, based on user feedback

[2020-01-27 17:32] yf225 commented on #32614
@v0dro Yes it would be awesome to have the logical AND and OR operators for C++ tensors. Thanks a lot for your help!

[2020-01-27 17:42] alicanb commented on #32632
We have `.cdf` for most distributions, you can get what you want (e.g. for normal distribution) via `log_cdf = normal_dist.cdf(x).log()` and `log_sf = torch.log1p(-normal_dist.cdf(x))`.

[2020-01-27 17:47] ezyang commented on #18643
Given that this reproduces inconsistently / can be fixed by upgrading (either PyTorch or Python), I'm downgrading the priority of this issue. If someone can come up with a clear configuration on the newest Python/PyTorch which exactly causes the problem please let us know.

[2020-01-27 17:48] ezyang commented on #22577
Based on @ngimel's diagnosis I'm downgrading the priority on this issue

[2020-01-27 17:51] ezyang commented on #24081
I'm downgrading the priority of this issue as it looks like people have found a workaround, and it seems there is not much we can do about it in PyTorch side. I'll keep it open for visibility, though.

[2020-01-27 17:51] hyperfraise commented on #29090
There is this though : " torch-1.4.0-cp38-cp38-linux_x86_64.whl". I'm not aware if this is good or just a dud ?

[2020-01-27 17:52] ezyang commented on #29090
Sorry about the lack of communication; @seemethere is working on this.

[2020-01-27 17:55] ezyang commented on #20156
Unassigning stale assignee.

[2020-01-27 17:55] rlaPHOENiX commented on #29090
Latest torch now has Python 3.8 binaries, this can be closed I believe.

[2020-01-27 17:56] hyperfraise commented on #29090
This worked on my machine
[code]

[2020-01-27 18:06] mrshenli commented on #32346
closed by #32563

[2020-01-27 18:06] #32346 closed

[2020-01-27 18:08] ezyang commented on #32137
Increasing the epsilon seems reasonable. Send us a PR?

[2020-01-27 18:11] ezyang commented on #32004
One thing to be careful about is some of the tutorials may take a long time to run, if they involve actually training a model.

[2020-01-27 18:12] ezyang commented on #32004
gchanan says that we should run this on every PR, because otherwise you have to do a scramble at release time to update the tutorials.

[2020-01-27 18:14] ezyang commented on #32188
This is the well known problem that you can't use CUDA after your fork. If you upgrade to a more recent of PyTorch should get a good error message saying what went wrong and what to do.

[2020-01-27 18:14] #32188 closed

[2020-01-27 18:15] ezyang commented on #32094
Can you check if this occurs on 1.4? I think we fixed this one

[2020-01-27 18:19] ezyang commented on #32100
Numpy doesn't support CUDA operations, so we definitely don't expect this to work. The error message is kind of weird and may be worth investigating further though

[2020-01-27 18:20] #32135 closed

[2020-01-27 18:21] ezyang commented on #32098
gchanan says, we eventually had a plan to fix sum, @nairbv is the one who would know. But with type promotion, sum should just work, as it's defined as 0 + the thing in the sum (and if you promote properly it should work)

[2020-01-27 18:23] ezyang commented on #32507
This is definitely an mkldnn problem

[2020-01-27 18:24] ezyang commented on #32529
cc @zhangguanheng66

[2020-01-27 18:25] ezyang commented on #32531
Sounds great! Looking forward to the PR

[2020-01-27 18:28] ezyang commented on #32284
This is high priority to try the jemalloc fix to try and see if it is a memory allocator error.

[2020-01-27 18:30] ezyang commented on #32500
Did you get libtorch from the binary distribution or build it yourself?

[2020-01-27 18:31] thomashrabeBC commented on #32500
It's a binary that was installed with `pip` into `/usr/local/lib/python3.6/dist-packages/torch`

[2020-01-27 18:32] thomashrabeBC commented on #32500
It may very well be I was doing something wrong too. But, with the above adjustments I got it to work :)

[2020-01-27 18:34] ezyang commented on #32520
Unilaterally removing this one from triage review

[2020-01-27 18:38] suo commented on #26212
This works now!

[2020-01-27 18:38] #26212 closed

[2020-01-27 18:38] suo commented on #26458
@eternity1984 Can you comment more on what isn't working for you?

[2020-01-27 18:40] suo commented on #26597
As there hasn't been too much movement lately and I can't repro the issue, I'm going to close this out to help with our issue tracking. Feel free to comment or reopen if you'd like to follow up!

[2020-01-27 18:40] #26597 closed

[2020-01-27 18:42] suo commented on #26727
Closing in favor of https://github.com/pytorch/pytorch/issues/30763, which tracks this issue generally.

[2020-01-27 18:42] #26727 closed

[2020-01-27 18:46] driazati commented on #24045
Right, some of the work is landed already, so if you `torch.save(my_object, my_file, _use_new_zipfile_serialization=True)` you can get the behavior described in #26567. You can follow along in #32244 to see when that is made the default so you wouldn't need the flag anymore.

[2020-01-27 18:56] lanpa commented on #32528
This should be solved in https://github.com/pytorch/pytorch/pull/31544

[2020-01-27 18:58] suo commented on #32641
Yes, this is expected. We changed the internal representation of the graph to preserve call structure. This makes some graph transformations easier, because they may rely on the call graph. We consider the graph largely an internal detail so we didn't mention it in the release notes.

If you want a fully inlined graph, you can invoke our inlining pass:
[code]

We may add a quick `inlined_graph` bi

[2020-01-27 19:11] zhangguanheng66 commented on #32529
We will include a self-attention module in pytorch soon.

[2020-01-27 19:14] ezyang commented on #32502
https://github.com/pytorch/pytorch/pull/32650

[2020-01-27 19:30] kurtamohler commented on #5672
I've realized that it actually doesn't matter functionally whether or not the input sparse matrix is coalesced. Since I'm applying an addition to the output tensor for each value in the sparse matrix, we'll get the same result whether a given element is coalesced into one index-value pair or if it's split between  two. For instance, if we have a coalesced tensor with an element at some index, whos

[2020-01-27 19:44] bpstark commented on #32267
@schyun9212 can you please provide the commit ID of maskrcnn-benchmark code you are using since latest master does not seem to be compatible with the version of pytorch you specified?

[2020-01-27 19:50] t-vi commented on #15359
I'm glad it's being fixed, thank you!

[2020-01-27 19:53] zhangruiskyline commented on #20822
Thanks for discussion, I think it will be very useful if pytorch community can provide some sample example on data loader on different file system underneath, S3, Azure Data Lake, HDFS, etc(just requires some different config, not another lib like `petastorm  `). and the API to read data will be transparent for application level regardless whether data is local disk or remote/distributed file syst

[2020-01-27 19:56] gchanan commented on #15359
@t-vi to be fair, I don't think "bumping priority" is equivalent to "it's being fixed" :).

[2020-01-27 19:59] tprimak commented on #32507
Hi @ZephyrSails Could you please run this examples (w/ and w/o padding) with environment variable MKLDNN_VERBOSE=1 and attach the log here?

[2020-01-27 19:59] Paralysis opened #32660 "Second-order gradient cause segfault over time"
## 🐛 Bug

Hello, I’m running a GAN model with some second-order regularization. The training went well at the beginning and the loss decreased. However, after a random period of time, ranging from 3000-8000 updates, the segfault occurs and the training was terminated automatically.

## To Reproduce

It is hard for me to simplify the code and reproduce it. However, it happens every time when I incl

[2020-01-27 20:00] zhangguanheng66 commented on #32590
@cpuhrsch @fmassa @vincentqb

[2020-01-27 20:00] ezyang commented on #32502
On the OS X CircleCI machines this script is a reliable-ish reproducer (fails 50% of the time)

[code]

[2020-01-27 20:00] Paralysis opened #32661 "Second-order gradient cause segfault over time"
## 🐛 Bug

Hello, I’m running a GAN model with some second-order regularization. The training went well at the beginning and the loss decreased. However, after a random period of time, ranging from 3000-8000 updates, the segfault occurs and the training was terminated automatically.

## To Reproduce

It is hard for me to simplify the code and reproduce it. However, it happens every time when I incl

[2020-01-27 20:00] Paralysis opened #32662 "Second-order gradient cause segfault over time"
## 🐛 Bug

Hello, I’m running a GAN model with some second-order regularization. The training went well at the beginning and the loss decreased. However, after a random period of time, ranging from 3000-8000 updates, the segfault occurs and the training was terminated automatically.

## To Reproduce

It is hard for me to simplify the code and reproduce it. However, it happens every time when I incl

[2020-01-27 20:14] Hui-Xie commented on #32625
Thank you very much, @albanD . Your posts have helped me a lot in my using pytorch process.

Maybe I previous self-analysis is not correct.
Basing on your example code, I made a simple example code below which can reproduce the problem " Foo.apply(inp).sum()
RuntimeError: Returning Variables sharing storage with other Variables that require grad is not supported in Python functions. Please submit

[2020-01-27 20:22] SeguinBe commented on #5442
Was playing around with something and discovered as well that `from_numpy` does not respect read-only.

It actually can lead to hilarious situations like this one:
[code]

Because CPython process single character strings weirdly, they are ever stored on a single place. So by modifying the memory area of one with torch (here `b'A'`), we modify all their occurences. Oh and we break the immutability

[2020-01-27 20:32] phalexo commented on #28369
My build runs for a while and then fails, g++ is 5.5., cuda 10.1, Ubuntu 14.04 with Xenial kernel 4.4.0 generic.

[3108/3369] Building CXX object caffe2/torch/CMakeFiles/torch_python.dir/csrc/autograd/generated/python_torch_functions.cpp.o
ninja: build stopped: subcommand failed.
Traceback (most recent call last):
  File "setup.py", line 737, in <module>
    build_deps()
  File "setup.py", line 31

[2020-01-27 20:39] fritzo commented on #32632
@occam-ra-zor as open source contributors we must each ask ourselves "why don't I contribute the feature I want, for I am free to do so" 😉

[2020-01-27 20:52] jithunnair-amd commented on #29760
@gottbrath ^^

[2020-01-27 20:58] jamesr66a commented on #26726
Fixed by https://github.com/pytorch/pytorch/pull/32594 but it has some weird issues

[2020-01-27 21:20] develooper1994 commented on #24904
count me too.

[2020-01-27 21:30] VitalyFedyunin commented on #28619
It is done in master and you can try using channels last for mixed precision training (for example https://github.com/NVIDIA/apex/pull/668). Documentation updates will follow soon.

[2020-01-27 21:53] suo commented on #26847
This was fixed during the frontend rewrite, the repro behaves correctly now (even for old `__overloads__` style stuff)

[2020-01-27 21:53] #26847 closed

[2020-01-27 21:55] suo commented on #27040
Going to close this issue out as it's likely a wontfix for us, and closing it simplifies our issue tracking. If anyone wants this, feel free to comment and/or reopen and we'll take another look!

[2020-01-27 21:55] #27040 closed

[2020-01-27 21:57] #20743 closed

[2020-01-27 21:59] ezyang commented on #16592
Unassigning stale assignee

[2020-01-27 22:01] ezyang commented on #30886
@peterjc123 It looks like Nikita got busy and never put out the patch lol. If his hypothesis is right, maybe if we just turn off constexpr anywhere we don't actually need it, that might help.

[2020-01-27 22:02] suo commented on #27083
Going to close this out as it's likely a wontfix for us and closing the issue simplifies our issue tracking. Feel free to comment/reopen!

[2020-01-27 22:02] #27083 closed

[2020-01-27 22:06] gourav-sg commented on #20822
Hi Soumith,

once again thanks at million times, your response is much appreciated.

Let me start using Petastorm in that case.

Like I mentioned small and medium sized companies, do not have the kind of
budget that charitable organizations, or government funded/ backed
organizations have. There are commercial companies like Tesla ofcourse, but
their solutions are anyways too bespoke to be used by

[2020-01-27 22:09] suo commented on #27490
closing in favor of: https://github.com/pytorch/pytorch/issues/26726

[2020-01-27 22:09] #27490 closed

[2020-01-27 22:11] LeeHuan18 opened #32664 "Ubuntu reboot when trainning"
## 🐛 Bug

I wrote a simple DNN in Pytorch, and using CPU to train it. However the ubuntu system randomly reboot when training, with or without using Jupyter notebook.

The code is simple DNN. Memory usage is around 1%. Runing the code in other computer doesn't cause reboot.

The computer is also no problem, after several test by techcian.

No error message. When training, the computer just freeze,

[2020-01-27 22:11] suo commented on #27493
Closing as this issue is tracked in https://github.com/pytorch/pytorch/issues/30788

[2020-01-27 22:15] vincentqb commented on #32645
I agree that the type should be updated. `lr_lambda` returns a float though. Did you mean the following?

[code]

Please feel free to open a PR for this.

[2020-01-27 22:20] vincentqb commented on #32648
Tagging distributed too given that this also relates to Hogwild.

[2020-01-27 22:22] vincentqb commented on #32648
As far as I understand, one can do this as long as the layers are on different devices/machines, right?

[2020-01-27 22:38] vincentqb commented on #32646
Thanks for pointing this out. Please feel free to open a PR for this.

[2020-01-27 22:40] #23571 closed

[2020-01-27 22:42] jianyuh commented on #32644
This test is flaky: I couldn't reproduce from the local.

The error message comes from https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/quantized/cpu/quant_utils.h#L62 .

`scale` is calculated as the following:
`float scale = (static_cast<double>(max) - min) / (qmax - qmin);`

If `max` is larger than `min`, and `qmax` is larger than `qmin`, then scale should be always positive.

[2020-01-27 22:45] jerryzh168 commented on #32519
@bzinodev I believe `nn::module` cloning is for C++ API not for `script::Module`

[2020-01-27 22:50] ailzhang commented on #30717
This "address already in use" error happens when port 40934 is in use and we want to start another gRPC server listening to it. IIRC we don't overlap builds on a single machine so this could probably caused by a incorrectly decommission machine  from CircleCI.
We can fix it by killing whatever is listening on 40934 before build - if we are certain builds are separated, or randomize the port.
I'll

[2020-01-27 22:50] zhangguanheng66 commented on #32662
Could you provide a simplified model as the code snippet? If you think the second-order gradient cause segment fault, we want to reproduce it first to confirm the error.

[2020-01-27 22:53] vincentqb commented on #32639
* Can you also provide the modified code that fails?
* As we [discussed](https://github.com/pytorch/pytorch/issues/29697#issuecomment-566624811), have you considered LambdaLR to implement the closed form scheduler you wanted?

[2020-01-27 22:55] zhangguanheng66 commented on #5442
Bring this to the triage meeting to conclude the discussions. Should we provide the option to make a copy of the numpy array?

[2020-01-27 22:57] driazati commented on #32358
There are some problems with how `TensorOptions` are handled in TorchScript vs Eager that are broken currently. You can skirt around these by manually specifying the `dtype` to the `torch.bartlett` window until they get fixed

[code]

[2020-01-27 22:59] zhangguanheng66 commented on #32664
It seems very unique to your computer and hard to reproduce. @ezyang any ideas?

[2020-01-27 23:09] jerryzh168 commented on #32519
I think we still have use cases of `clone_instance` which does not deepcopy the Tensors, for example, when we are trying to quantize a model with very large weights, I'll probably add a new deepcopy method and keep both `clone` and `clone_instance` private

[2020-01-27 23:26] jerryzh168 commented on #32519
parameter information is in types I think

[2020-01-27 23:42] jeongukjae commented on #32646
@vincentqb I created one. #32647 Would you mind if you review my PR?

[2020-01-28 00:01] jeongukjae commented on #32645
@vincentqb No. `lr_lambda` takes a function that returns a float and takes a int, or such functions . So type of `lr_lambda` should be `Callable[[int], float]` or `List[Callable[[int], float]]`. You can see `lr_lambda` takes list of lambda functions in the example of `LambdaLR`.

[2020-01-28 00:44] PCerles opened #32676 "Dynamic LSTM quantization fails with engine 'qnnpack' when LSTM is part of another module"
## 🐛 Bug

Dynamic LSTM quantization fails with engine 'qnnpack.' Am trying to export an LSTM based model for use on mobile devices. This only happens when the LSTM module is a submodule of another torch.nn.Module.

## To Reproduce
[code]
^ Successful
[code]
Error:
[code]

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pyt

[2020-01-28 00:48] albanD commented on #32502
Deterministic repro is:
[code]

This is fixed by initializing the content of `tmp_values` to fixed values [here](https://github.com/pytorch/pytorch/blob/39987de9e4a74dc64148422ba6ac6cad8875b386/aten/src/ATen/cpu/vec256/vec256_double.h#L64-L68). The problem being that the vectorized cos does not return the same results depending on the other values in the vector.

[2020-01-28 01:11] jamesr66a commented on #32644
Can we add some asserts to make sure these conditions are true as well? This is really bizarre

[2020-01-28 01:36] schyun9212 commented on #32267
@bpstark I think the problem you met is due to the Pillow version. Because maskrcnn-benchmark is not compatible with Pillow > 7.0.0, I used 6.2.2 version. I tested this issue on lastest master branch.

[2020-01-28 01:42] keven425 opened #32680 "RuntimeError: iter.device(arg).is_cuda() INTERNAL ASSERT FAILED at /pytorch/aten/src/ATen/native/cuda/Loops.cuh:197"
## 🐛 Bug

converting dtype raises assertion error.

[code]

## To Reproduce

Steps to reproduce the behavior:

Line 85 causes the error.

[code]

The caller code likes like this:

[code]

## Expected behavior

No assertion error

## Environment

PyTorch version: 1.4.0
Is debug build: No
CUDA used to build PyTorch: 10.1

OS: Ubuntu 18.04.2 LTS
GCC version: (Ubuntu 7.4.0-1ubuntu1~18.04.1) 7.4.0
CMak

[2020-01-28 01:42] ezyang commented on #32502
From personal correspondence: apparently this is a problem with sleef?

[2020-01-28 01:47] ezyang commented on #32664
Unfortunately this is almost certainly a configuration issue with your machine. You could try running a simple example with TensorFlow to see if it's specific to PyTorch. Some folks have reported similar issues in https://github.com/pytorch/pytorch/issues/24081 and have some workarounds, which may be worth a try. Other than that, there's not much we can do to help.

[2020-01-28 01:47] #32664 closed

[2020-01-28 01:56] albanD commented on #32502
Yes, the value returned by sleef for these vectors depends on the values of the other entries in the vector.
@colesbury what is your suggestion to properly fix this?

[2020-01-28 02:37] rohan-varma opened #32686 "[RFC] Support per-RPC timeouts in RPC layer."
## 🚀 Feature: Implement per-RPC timeouts.

This RFC is similar to the proposal by @xush6528 in https://github.com/pytorch/pytorch/issues/29402. We'd like to get rid of the overall global timeout that currently applies to all RPCs in PyTorch's RPC layer, and replace it with a per-RPC timeout that users can individually configure. This will allow for better reliability in our RPC framework and avoid

[2020-01-28 03:00] ezyang commented on #32625
@Hui-Xie what version of PyTorch are you running with

[2020-01-28 03:06] ezyang commented on #5672
Yes, the suggestion to coalesce was specifically under the assumption that you wanted to make repeated calls to a black box un-batched sparse-dense bmm. If you're going to straight up reimplement the sparse-dense matrix multiply (I'm not actually too sure how wise this is; it depends on how good/bad our non-batched mm is), then you may indeed be able to do things without coalescing.

[2020-01-28 03:08] ezyang commented on #32500
Thanks. Would you mind checking to see what happens if you use the libtorch packaging instead of the pip wheel?

[2020-01-28 03:09] ezyang commented on #29090
I'm going to keep this open for now until the website is fixed (it still implies only 3.7 is available)

[2020-01-28 03:19] peterjc123 commented on #28369
Would you please open a new issue and post the full log there?

[2020-01-28 03:23] ezyang commented on #32502
@albanD So, at least for determinism, if we pad out the vector with zeros until it is full, we should end up with the same result from sleef (even if it is one ULP of difference for bigger tensors).

[2020-01-28 03:24] colesbury commented on #32502
Yeah, the problem is because we load the vector register from the stack which can be filled with garbage:

[2020-01-28 03:27] QuanluZhang commented on #32641
@suo thanks for your quick reply. `torch._C._jit_pass_inline(graph)` works, it can output the complete graph.

But the scope field is different from that in torch 1.3.1. In torch 1.3.1 every graph node has the scope field, but in the inlined graph the graph nodes in `forward` (such as `+` `avgpool`) do not have the scope field.
Moreover, the format of the scope field is also different, I can get m

[2020-01-28 04:31] rlaPHOENiX commented on #29090
The 3.7 provided command also works with 3.8.x but I assume that's not why you are keeping it open, but regardless isn't this specific issue resolved? The issue was to provide binaries for 3.8, which it has.

[2020-01-28 04:50] franva opened #32687 "Building PyTorch ignores my current Python version"
## 🐛 Bug

I am trying to build PyTorch on my Raspberry Pi 4(Raspbian Buster) with Python 3.6.9, but it keeps using Python 3.7

## To Reproduce

Steps to reproduce the behavior:

1. git clone https://github.com/pytorch/pytorch.git
2. git checkout v1.3.1
3. sudo python setup.py build

![image](https://user-images.githubusercontent.com/5151146/73223302-c0587800-41b9-11ea-8973-a611a9935ed2.png)

## Ex

[2020-01-28 05:16] peterjc123 commented on #29090
It cannot be closed because the binaries for Python 3.8 are not fully released on PyPI and Anaconda Cloud. (e.g. MacOS on PyPI, [MacOS, Linux] on Anaconda Cloud).

[2020-01-28 05:35] suo commented on #32641
Sadly, we cannot output exactly the same graph format as torch 1.3.1. The graph is considered an internal detail and thus is subject to change; the JIT only guarantees backward compatibility for saved ScriptModules.

May I ask what you're using the scope for? Scopes have always been a little undermaintained, and we are thinking about exposing alternatives that we expect to be more stable.

[2020-01-28 05:41] seemethere commented on #29090
macOS binaries should be covered in https://github.com/pytorch/pytorch/pull/31948

and should be good to start the release process after it has been merged.

[2020-01-28 05:43] ParikshitS commented on #31285
I am getting the same error. I am using Tesla K40c. Cuda version 10.2. Pytorch 1.4.0

[2020-01-28 05:44] #327 closed

[2020-01-28 05:48] peterjc123 commented on #31285
@ParikshitS Yes, your card is not supported anymore, too. Please build from source.

[2020-01-28 06:03] soumith commented on #29090
waiting on macOS v1.4.0 builds to finish in https://github.com/pytorch/pytorch/pull/31542

[2020-01-28 06:04] soumith commented on #29090
after they finish, for Linux, macOS, need to build torchvision binaries

[2020-01-28 07:04] eLvErDe commented on #32407
Hello,

Sorry I closed this issue without meaning it... I built it with USE_MKL=0 and NO_MKL=1 but it's not helping (btw, I see no reference for them inside the code so this is not a surprise).

As a workaround, I run the following before building:

[code]

Which helped getting rid of MKL dependency. My analysis is that you have thierd parties dependencies (e.g: Eigen) using their own FindMKL.cmak

[2020-01-28 07:17] QuanluZhang commented on #32641
@suo , i see, thanks.

Here is our scenario. we are working on model pruning, usually model pruning is done by inserting masks on weights. This approach can check the accuracy of a model when applying specific values of masks, but it does not show really speedup on model inference, it is just a simulation. We are trying to automatically convert the original model to a small model based on the mask

[2020-01-28 07:17] sytelus commented on #18414
That looks great! Thanks so much for releasing this!!

[2020-01-28 08:30] franva commented on #11222
same here, I wasn't inside the pytorch folder but still got the same error.

please help

[2020-01-28 08:34] JulienMaille commented on #27376
Any update on that issue?

[2020-01-28 09:27] #25886 closed

[2020-01-28 10:03] swebalaji commented on #10443
One can Login in to to find the required version:
https://pytorch.org/get-started/locally/

[2020-01-28 10:11] danmalowany-allegro opened #32690 "How to customize build torchscript model to be used in end devices codebase"
## 🚀 Feature
I want to compile my model to be executed in the Python/C script running on our customers computers/end devices, without the need to load the entire torch/libtorch package, but only what is needed based on the model operations.

## Motivation
Currently, the size of my ResNet model (for example) is ~100MB but it needs torch/libtorch, which requires ~1.5GB of space.
End devices (smart c

[2020-01-28 10:23] Coderx7 opened #32691 "Quantized weights cant be loaded, when tried, generate "copy_" not implemented for \'QInt8' exception"
## 🐛 Bug

When trying to load a quantized model (a qat model to be exact), using `qatmodel.load_state_dict()`
it prints spurius messages like :

[code]
which upon further inspection, turns out to be the exception :
[code]

## To Reproduce

Steps to reproduce the behavior:
1. Download the [attachment](https://github.com/pytorch/pytorch/files/4121833/RetinaFace_Quantized_Pytorch.zip) which is the fu

[2020-01-28 10:28] gmuraru commented on #32661
This issue is a duplicate of #32660. @Paralysis could you close this one?

[2020-01-28 10:30] occam-ra-zor commented on #32632
@alicanb  What I meant is numerically stable version.  :)

[2020-01-28 10:35] Coderx7 opened #32692 "Please add the exception args to the _load_from_state_dict() method"
## 🚀 Feature
It would be appreciated if you could add the exception args to  the `error_msgs` instead of a spurious message which is :
[code]

## Motivation

This doesnt convery anything concerning what has gone wrong and actually took me 4+ hours today to debug and finally understand that there has been exceptions happening which pytorch failed to report. (#32691 )
It would make a lot more sense

[2020-01-28 10:52] nikitaved commented on #32520
Interesting, the original code and the proposed fix are logically identical. Looks like there is a difference between `log(softmax)` and `log_softmax` implementations. Will have a look.

[2020-01-28 11:13] vadimkantorov commented on #32639
This code fails:
[code]
i.e. `step` instead of `*args`

[2020-01-28 11:51] alicanb commented on #32632
Depending on where you are operating, what i wrote might be good enough. See here: https://gist.github.com/alicanb/8383e93aac3edb148168d029e5bdd20a

[2020-01-28 11:52] eternity1984 commented on #26458
@suo
On Dec 23, 2019, I retried the `onnx.export` function calles using PyTorch `1.3.1`. No error has occurred.  But....
<details open>
<summary>By inference, all returned values ​​were `0.635943`.</summary>

[code]
Output image:
![onnx.png](https://user-images.githubusercontent.com/34591767/73259613-83b56c80-420b-11ea-9865-7a8a3dcd9788.png)

</details>

Next, Upgrading the torch version to `1.4.0

[2020-01-28 12:01] bezero commented on #20630
I am having same bug with `NCCL version 2.5.6` and `torch 1.4`

[2020-01-28 12:35] phalexo opened #32694 "ninja: build stopped: subcommand failed."
## 🐛 Bug
Does anyone have a recipe that is know to work?

[426/3392] Building CXX object third_party/ideep/m...nn/src/CMakeFiles/mkldnn.dir/cpu/cpu_reorder.cpp.o
ninja: build stopped: subcommand failed.
Traceback (most recent call last):
  File "setup.py", line 737, in <module>
    build_deps()
  File "setup.py", line 316, in build_deps
    cmake=cmake)
  File "/home/developer/pytorch/tools/build_

[2020-01-28 12:44] ferrine opened #32695 "torch.tensordot has inconsistent signature with torch script"
## 🐛 Bug

Inconsistent API across torch script and no script

## To Reproduce

Steps to reproduce the behavior:

Working samples
[code]

[code]

Broken one (using same API as in python)
[code]
I get

[code]

Removing jit decorator from working jit example does not help

[code]
[code]

## Expected behavior

Same API should work in jit and non jit mode, like here
[code]

## Environment

Please copy

[2020-01-28 12:46] sathiez opened #32696 "pytorch to onnx model conversion output mismatch"
## 🐛 Bug

Hi,

I converted pytorch (.pt) model to onnx using torch.onnx.export, during inference first four values which is bbox values are different and rest looks same.
I converted using,
`self.model.cuda().eval()`
`dummy_input = torch.rand(1, 3,416, 416).cuda()`
`torch.onnx.export(self.model, dummy_input, "trk.onnx", export_params=True, verbose=True)`

and ran it using
`model = onnx.load("trk.o

[2020-01-28 12:56] Coderx7 opened #32697 "'unsupported tensor layout: Mkldnn' and RuntimeError: cpu_tensor.scalar_type() == ScalarType::Float INTERNAL ASSERT FAILED at /pytorch/aten/src/ATen/native/mkldnn/MKLDNNConversions.cpp:28, please report a bug to PyTorch. dense_to_mkldnn expects float tensor input"
## 🐛 Bug

Trying to convert a pretrained model (normally trained on imagenet) into MKLDNN results in the following error :

relevealed these errors :
[code]
by default, simply converting your model into mkldnn, and then trying to load weights results in error :
[code]
which, then I tried to directly convert all parameters in the checkpoint state_dict into mkldnn and then load the check point. and