[2022-04-13 16:52] ejguan commented on #75582
I am confused... Then, how `train_test_split` from `sklearn` is going to help you in this case.

If you want to make sure DataLoader yields data with equal number of samples per class, I would suggest you to make your own sampler.

[2022-04-13 17:22] zou3519 commented on #75740
Marking hi-pri for potentially silently incorrect behavior. I don't know if this is just a numerical stability problem, though

[2022-04-13 17:23] gchanan commented on #75701
This doesn't help with the memory issue right, because it is returning a view?

[2022-04-13 17:24] zou3519 commented on #75734
Tentatively marking hi-pri for investigation because convolution is a common operation. FWIW I am unable to reproduce this

[2022-04-13 17:26] ngimel commented on #75740
This is likely related to tf32, if this error is affecting your results turn it off by `torch.backends.cuda.matmul.allow_tf32 = True` https://pytorch.org/docs/master/notes/cuda.html#tf32-on-ampere

[2022-04-13 17:36] soulitzer commented on #75735
Thanks for the report! Fix looks OK as well. We would accept a PR for that.

[2022-04-13 17:37] lijiong20 commented on #75734
I tried1.10+cu102 and it also works， maybe the cause of error is cu113

[2022-04-13 18:05] Eddowesselink opened #75746 "INTERNAL ASSERT FAILED error"
### 🐛 Describe the bug

Dear contributor

While training my CNN for muscle segmentation, I'm running into an error message that affects the stability and predictability of CNN learning.

Description:
While training my CNN for muscle segmentation, after _k_ of iterations (the amount of iterations is variable per case) I will get the following error message:

'out_ptr == out_accessor[thread_count_no

[2022-04-13 18:06] seemethere commented on #74489
Hey! Wanted to update this, wasn't able to reproduce your issue and could use the jumphost fine like so:
[code]

Are you sure you removed the original jumphost from your `~/.ssh/known_hosts` file?

[2022-04-13 18:08] BlinkDL opened #75747 "Depthwise Conv1d performance (a naive CUDA kernel is 10x faster)"
### 🚀 The feature, motivation and pitch

Please improve the CUDA performance of Depthwise Conv1d :)

FYI, I write a naive CUDA kernel and it's already 10x faster than pytorch:

https://github.com/BlinkDL/RWKV-CUDA

RTX3090:
pytorch = fwd 14ms bwd 65ms
CUDA kernel v3 = fwd 0.8ms bwd 5.5ms

### Alternatives

_No response_

### Additional context

_No response_

[2022-04-13 18:27] ngimel commented on #75746
cc @peterbell10

[2022-04-13 18:29] MrGrayCode opened #75748 "Make ONNX DepthToSpace op mode accessible"
### 🚀 The feature, motivation and pitch

In the [current implementation](https://github.com/pytorch/pytorch/blob/de18c28a4cfee826a4b11b4c37db23ac1ea53f6a/torch/onnx/symbolic_opset11.py#L205), the ONNX conversion uses `mode_s='CRD'` and there is no method to access this variable. It would be useful to access this during the conversion process (for example to change mode to 'DCR' if required).

###

[2022-04-13 18:48] davidberard98 commented on #75719
Can you provide more details about how you're calling the model / how you're using it? e.g. are you calling backward?

If you have a repro that would be great

[2022-04-13 19:10] awgu opened #75750 "[Autograd] Queued Callback Does Not Propagate Error"
When queueing a callback using `torch.autograd.Variable._execution_engine.queue_callback()` for a GPU tensor, a raised error in the callback is not propagated. Instead, we see a message like `SystemError: <built-in method run_backward of torch._C._EngineBase object at 0x7fa8f8172850> returned NULL without setting an error`.

<details>
  <summary>Reproducer</summary>

[code]

</details>

<details>

[2022-04-13 19:11] rohan-varma opened #75751 "Add checkpoint_wrapper composability when FSDP module is being auto_wrapped"
### 🚀 The feature, motivation and pitch

Current checkpoint_wrapper: requires manual wrap of FSDP module, i.e. first the module is wrapped with the checkpoint wrapper, and then FSDP wrapper is used.

Although, frequently users don't have access to the model code and can't insert wrappers on submodules and thus use FSDP's auto_wrap_policy to automatically nest FSDP instances. Since auto_wrap curren

[2022-04-13 19:11] rohan-varma opened #75752 "Don't tightly couple FSDP checkpoint_wrapper in auto_wrap_policy"
### 🚀 The feature, motivation and pitch

Placeholder issue for the enhancement discussed in https://github.com/pytorch/pytorch/issues/75751. Please see that issue for more details.

### Alternatives

_No response_

### Additional context

_No response_

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @rohan-varma @gqchen @aazzolini @osalpekar @jiayisuse @SciPioneer @H-Huang

[2022-04-13 19:42] ngimel commented on #75708
On repeated runs with CUDA_LAUNCH_BLOCKING misaligned address or IMA is thrown with the stack trace below:
[code]
[code]

[2022-04-13 19:46] tayo commented on #32192
Thanks @mathandy for the data point!

[2022-04-13 19:56] gpauloski opened #75755 "`new_group()` returns same group for unique rank inputs"
When creating many distributed process groups with unique ranks, `torch.distributed.new_group()` returns the same group handle if the local rank is not in the new group's rank list.

## Example 1

[code]

And if we run it with `torchrun` and 4 processes:
[code]
You can see that on rank 0, the same group handle was returned in both invocations of `new_group()` even though the ranks are different.
T

[2022-04-13 20:05] micmelesse commented on #75664
We unskipped a bunch of fft tests recently in this pr, https://github.com/pytorch/pytorch/pull/74713 , which was 20 days ago. Is there more data than the last 14 days for the failure rate?

[2022-04-13 20:09] kurtamohler commented on #29137
Since #70864 was merged, it should be relatively straightforward to add support for `dim=None` (no reduce), so I will go ahead and do that now.

As for `dim=()`, should we go ahead and deprecate it so we can fix it in the future?

[2022-04-13 20:31] MohamedAliRashad commented on #75582
@ejguan
`train_test_split` has an argument named `stratify` that does the balancing trick. (I don't find its name intuitive and would much appreciate the term `class_balance`

[2022-04-13 20:36] davidberard98 opened #75758 "nvfuser opinfos for extremal values"
### 🚀 The feature, motivation and pitch

Test supported ops at extremal values

we can copy the same strategy as test_binary_ufuncs.py

### Alternatives

_No response_

### Additional context

_No response_

[2022-04-13 20:42] ejguan commented on #75582
Okay, I get it. So you want to stratify splits the dataset. This sounds like a reasonable feature request.
Feel free to open a PR to add such feature on `random_split`.

[2022-04-13 20:54] BowenBao opened #75761 "[ONNX] Remove extra trace step required for exporting quantization models"
### 🚀 The feature, motivation and pitch

`torch.jit.trace` is needed before any quantization models can be exported to ONNX. It has become a pain point as it is different from the procedure of exporting standard models, and it has been evident that users often either didn't know or forgot to do that, which leads to export failures.

The root cause for this requirement is related to the distinct st

[2022-04-13 20:59] cpuhrsch commented on #75721
@BichenWuUCB - we have support for index_select and are currently working on making it faster https://github.com/pytorch/pytorch/pull/72710 . Does this help you?

[2022-04-13 21:00] zhaojuanmao commented on #75751
had second thought, auto wrap right nows usually returns a tree structure of nested wrapping, checkpoint_wrapper seems does not fit into this tree structure. How about put "checkpoint=False" argument into auto_wrap_policy instead of FSDP constructor and only apply to leaf modules for first version of implementation?

[2022-04-13 21:12] zhaojuanmao commented on #75666
"implementing their own getstate and setstate so that they can be serialized / pickled appropriately." sounds a better solution!

[2022-04-13 21:14] albanD opened #75762 "Cannot compile on mac os due to flatbuffer issue"
### 🐛 Describe the bug

Trying to compile on macos leads to:

[code]

Likely linked to https://github.com/pytorch/pytorch/pull/74387 cc @ezyang @gchanan @zou3519 @malfet @seemethere @albanD @qihqi @iseeyuan

### Versions

[code]

[2022-04-13 21:25] malfet commented on #75762
Hmm, I wonder how it passes all our CI? May be aligned_alloc is part of flatbuffer library?

[2022-04-13 21:28] BichenWuUCB commented on #75721
Hi @cpuhrsch, thanks for your suggestion. I just tested index_select, and it does provide an alternative API to what I'd like to do. However, as you mentioned, it is indeed quite slow. I used it to access a sparse coo vector of length 704,640,000 with ~10% density, using an index tensor of length 157,337,238. The code just froze without returning any values -- which is (of course) slower than turn

[2022-04-13 21:36] malfet commented on #75762
@albanD this API call is weird, but it's part of libmalloc, see https://opensource.apple.com/source/libmalloc/libmalloc-317.140.5/include/malloc/_malloc.h.auto.html

[2022-04-13 21:42] albanD commented on #75762
I do have that yes.
Not sure if the ifdef is hiding it?

[2022-04-13 21:47] zhaojuanmao commented on #75373
so far has not heard users reported this mismatch orders. But I remember Tesla could train different sub graphs among ranks in their models, DDP supported this use case. Some complex ads model may train different sub graphs among ranks as well

[2022-04-13 22:06] albanD commented on #75762
Note that forcing `MACOSX_DEPLOYMENT_TARGET=10.9` as suggested in the doc still leads to the same problem.

[2022-04-13 22:12] peterbell10 commented on #75664
It's not an OpInfo-based test so I don't think #74713 is relevant.

[2022-04-13 22:16] malfet commented on #75762
@albanD mind posting the entire output of entry for the abovementioned file from your compile_commands.json? Mine looks as follows:
[code]

[2022-04-13 22:31] albanD commented on #75762
Sure,
[code]

[2022-04-13 22:39] albanD commented on #75762
Diff:
- Mine doesn't have `-DBUILDING_TESTS`, ` -DUSE_C10D -DUSE_C10D_GLOO -DUSE_DISTRIBUTED`, ` -DUSE_RPC -DUSE_TENSORPIPE`
- Also missing on my end ` -I../cmake/../third_party/benchmark/include -Icaffe2/contrib/aten`, ` -Ithird_party/ideep/mkl-dnn/third_party/oneDNN/include -I../third_party/ideep/mkl-dnn/third_party/oneDNN/src/../include`, ` -isystem third_party/gloo -isystem ../cmake/../third_p

[2022-04-13 23:11] davidberard98 opened #75768 "[NVFuser] Linear decomposition fails when input or weight don't have concrete shapes"
### 🐛 Describe the bug

Ran into this assert: https://github.com/pytorch/pytorch/blob/f7e7af80e035a54f44f0668a4d84d4cf00516ac2/torch/csrc/jit/codegen/cuda/graph_fuser.cpp#L2057-L2060

There's a TODO to fix it. In this case I'm guessing we can probably just skip the given node instead of erroring out?

repro
[code]

cc @jjsjann123

### Versions

master

[2022-04-13 23:11] garymm commented on #75621
I think fixed.

[2022-04-13 23:11] #75621 closed

[2022-04-13 23:41] upupyy opened #75769 "`torch.linalg.vector_norm` should not support `tensor` as `ord` argument"
### 🐛 Describe the bug

Based on document, `torch.linalg.vector_norm` should not support `tensor` as `ord` argument. However,

[code]

[code]

### Versions

1.11.0

cc @jianyuh @nikitaved @pearu @mruberry @walterddr @IvanYashchuk @xwang233 @Lezcano

[2022-04-13 23:47] eqy commented on #75734
I can reproduce the issue, but only in an environment with cuDNN 8.2. Since the nightly builds are using cuDNN 8.3, could you check if using one of those resolves the issue? e.g., installing
[code]

[2022-04-14 00:05] brianjo commented on #74609
Sorry, I added this last week. Thanks for the report @yangrisheng. I'll go ahead and close.

[2022-04-14 00:05] #74609 closed

[2022-04-14 00:46] SherlockNoMad opened #75773 "Handle noncontiguous inputs in distributed backend layer"
### 🚀 The feature, motivation and pitch

As inspired by issue "torch.distributed.nn.functional.all_gather: Tensors must be contiguous" #73515

I had quick fix to force the tensors to be contiguous at the distributed.nn.functional layer, see
https://github.com/pytorch/pytorch/pull/75276

However, I think the proper fix should be implemented in the layer of distributed backend, e.g. torch/csrc/distr

[2022-04-14 01:08] peterbell10 commented on #75746
@Eddowesselink could you run `python -c "import torch; print(torch.__config__.parallel_info())"` and copy the output here?

This exception is coming from inside `torch.nonzero`. It would be really helpful to get a script that you're able to reproduce the error from, or if that's not possible at least a rough idea of the inputs that are triggering the error in `nonzero`.

[2022-04-14 01:28] leslie-fang-intel commented on #75458
Hi @Ierezell, thanks for the feedback.
@liangan1 can help looking into the hugging face transformer model's performance. Could you provide more details' information?

- Please share your hugging face transformer model repo and steps to reproduce.
- Please share which pytorch version are you using.
- Please share which CPU platform are you using.

Did you mean add one-line check then you can run yo

[2022-04-14 02:24] turtleizzy opened #75778 "`torch.matmul` produces wrong results on A4000 for matrices (n*m) with large m and small n"
### 🐛 Describe the bug

### Description

`torch.matmul` produces wrong result for matrices (n*m) with large m and small n, but not if you transpose it.
This bug is only seen on my A4000 devices but not on 2070 devices.

### Code to reproduce

[code]

### Results
On GTX 2070
[code]
On A4000
[code]

### Versions

pytorch 1.10.2 + cuda 11.3

cc @ezyang @gchanan @zou3519 @zasdfgbnm @ptrblck @ngimel

[2022-04-14 02:26] TorRient commented on #75719
@davidberard98 Sorry, the code is private. I can't share it with you.
I called backward.
When i comment 2 line then it doesn't error but the speed doesn't get faster without torch jit
model.eval()
model = torch.jit.script(model)
# model = torch.jit.freeze(model)
# model = torch.jit.optimize_for_inference(model)
Do you have an explanation for it?
thanks

[2022-04-14 02:32] jinfagang commented on #52584
I am using torch.fx to convert model for quantization, it works perfectly.

[2022-04-14 02:37] turtleizzy commented on #75778
Update: after reading this issue #75740 and [this note](https://pytorch.org/docs/master/notes/cuda.html#tf32-on-ampere), I tried turning off tf32 by setting `th.backends.cuda.matmul.allow_tf32 = False` and the bug fixed.

[code]

[2022-04-14 02:40] heleidsn commented on #71672
Same problem. Windows 10 x64, RTX 3060, i7-10700kf. But the same code runs fine on other machines.

[2022-04-14 03:25] fakufaku opened #75781 "UserWarning when running backward on output of irfft with real input"
### 🐛 Describe the bug

🐛 When using `torch.fft.irfft` with a real input as part of a computation, when calling backward on the output, a UserWarning about the complex part being dismissed is generated. The warning is not needed I believe. Making the input complex (e.g., by adding `0j`) makes the warning go away.

The following code generates the warning.
[code]
And here is the warning generated.

[2022-04-14 03:32] #70525 closed

[2022-04-14 04:02] rgommers commented on #29137
I'd suggest to not do that straight away. When something is deprecated, it's nice to move over to something else straight away (`dim=None` in this case) - and that's a lot harder if that new functionality isn't present in the last release. So unless it's urgent (and it's not here imho) I always prefer to wait 1-2 releases before adding the deprecation.

The important part of this issue is adding s

[2022-04-14 04:21] davidberard98 commented on #75719
freezing, model.eval(), and optimize_for_inference are only intended for inference when you aren't training. You can't use them when you plan on calling backward.

torch.jit.script(model) should still work though.

[2022-04-14 04:33] OverLordGoldDragon commented on #71672
FWIW I solved this by downgrading Nvidia drivers on one machine, and upgrading on another.

[2022-04-14 04:58] lijiong20 commented on #75734
I tried nightly builds '1.12.0.dev20220413' , and it works. thanks for your reply!

[2022-04-14 05:16] TorRient commented on #75719
@davidberard98 ok thank you!

[2022-04-14 05:16] #75719 closed

[2022-04-14 05:59] xwang233 commented on #75375
The failed test is related to a new function added in #71375 , which checks if a matrix is positive semi-definite (PSD) by comparing its eigenvalues with zeros. It was and should be working well.

However, in cuda 11.6, cusolver symmetric eigenvalue solver introduced a new driver that could be less accurate in some rare cases. In the test case with a 2x2 matrix of `[[1, 2], [2, 4]]`, the supposed

[2022-04-14 06:23] Tily777 opened #75785 "Expected quantizer->qscheme() == kPerTensorAffine to be true, but got false."
### 🐛 Describe the bug

When finished quantized aware training, I got a quantized model after torch.quantization.convert(). But when I convert pytorch model, I happened to meet the problem:

Expected quantizer->qscheme() == kPerTensorAffine to be true, but got false.  (Could this error message be improved?  If so, please report an enhancement request to PyTorch.)

this error happened in the functi

[2022-04-14 07:28] jayagami opened #75787 "Unable load pretrained Alexnet model"
### 🐛 Describe the bug

Can not load alexnet model both on CPU and GPU ( different machine)  , but ok with colab.

[code]
output:
[code]

Ok with other network:

[code]

### Versions

[code]

cc @mruberry

[2022-04-14 08:06] wojtuss commented on #68910
@fate100 , alas, the priorities have changed and I gave up exporting deform_conv2d to ONNX.

[2022-04-14 09:36] purplesword commented on #68418
Hi! Any update on it? I see the PR is there and passed all the checks since quite a while. Could you merge it?

[2022-04-14 09:50] mctigger opened #75788 "[torch.jit.script] Script functions do return requires_grad = False if torch.no_grad() has been used"
### 🐛 Describe the bug

Hello,
I think I found a bug with `torch.jit.script` and `torch.no_grad()`. Here is a code sample to reproduce behavior:

[code]

I would expect the scripted and non-scripted function to both return tensors with `requires_grad = True`.

### Versions

Collecting environment information...
PyTorch version: 1.11.0+cu102
Is debug build: False
CUDA used to build PyTorch: 10.2
RO

[2022-04-14 10:49] xlla commented on #33385
same issue here,
<pre>
clang: error: unable to execute command: Illegal instruction: 4
clang: error: clang frontend command failed due to signal (use -v to see invocation)
Apple LLVM version 10.0.1 (clang-1001.0.46.4)
Target: x86_64-apple-darwin17.7.0
Thread model: posix
InstalledDir: /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin
clang: note: diagnostic msg

[2022-04-14 11:57] codgeek commented on #75428
hope to solve and merge recently!

[2022-04-14 12:01] jeshels commented on #75701
`resize` and `interpolate` functions can benefit from this as well.

[2022-04-14 12:22] rvandeghen commented on #72782
@VitalyFedyunin any news ?

[2022-04-14 12:24] zaxtax commented on #68052
I'll handle the rest of these!

[2022-04-14 12:26] jamfly commented on #75721
Hi, @cpuhrsch. It might be off-topic, but do we have a batching index on multi-dimensions? Since `index_select` can only return values from a certain dimension. What I need is

[code]

[2022-04-14 12:28] jamfly commented on #75721
@BichenWuUCB , you could try [torch_sparase's implementation](https://github.com/rusty1s/pytorch_sparse/blob/master/torch_sparse/index_select.py) as an alternative.

[2022-04-14 12:48] MaratZakirov commented on #50427
Hi all I got
`AttributeError: module 'torch.backends' has no attribute '_nnapi'`
on
`nnapi_model = torch.backends._nnapi.prepare.convert_model_to_nnapi(traced, input_tensor)`

torch.__version__ = 1.11.0

[2022-04-14 13:55] zou3519 commented on #29137
It's pretty common for PyTorch developers to run into this (at least for me -- I've run into this multiple times since I filed this issue). So we do want to get this fixed eventually but I agree that we shouldn't rush into it

[2022-04-14 14:16] janeyx99 commented on #75664
@micmelesse We don't have yet have a test history view (that is in our roadmap for the year, though), but I ran the query for this test and got a CSV of relevant stats:
[query-results.csv](https://github.com/pytorch/pytorch/files/8489843/query-results.csv)

I hope it can be useful!

[2022-04-14 14:36] ar4 opened #75794 "Different result with JIT"
### 🐛 Describe the bug

[code]

### Versions

I ran with PyTorch 1.11.0 on a CPU.

[code]

[2022-04-14 14:50] timmywanttolearn opened #75795 "Deadlock occurs when using nccl distributed training."
### 🐛 Describe the bug

I tried to train mobilenetv2 on two gpus for 3 parts. The first and the last part is on gpu0 and the second part is on gpu1.
I use dist.isend and dist.recv as my sending apis. For each input, I split it in two parts and run through model seperately.
Here is minimal reproduce code.
[code]
And the result is
[code]
You could see that process 1 is not terminated but process 2 d

[2022-04-14 14:54] timmywanttolearn commented on #75795
I could draw a graph for you.
time line ---------------------------------------------------------------------------------------------
gpu0: input[0]->layer1->output(isend)
                                                                 input[1]->layer1->output(isend)
                                                                                                                    recv1(recv)->ha

[2022-04-14 15:05] davidberard98 commented on #75336
@KDharmarajanDev @alealv do either of you have a repro you can send?

If not - do you think you could try getting a stacktrace for this? You can try running with environment variable `TORCH_SHOW_CPP_STACKTRACES=1` or with gdb (`gdb --args ./my_program [args]` ; once gdb opens type `catch throw` followed by `r`, and then once the exception happens type `bt` to get the backtrace)

[2022-04-14 15:06] #72743 closed

[2022-04-14 15:19] nonconvexopt commented on #75375
[code]

How about this solution? I think it is a reasonable way. Not tested, though.

[2022-04-14 15:27] gchanan commented on #75769
This isn't a bug -- singleton tensors that don't require grad are convertible to numbers.

[2022-04-14 15:27] #75769 closed

[2022-04-14 15:37] kurtamohler commented on #29137
Oops, above I said that I would "add support for dim=None (no reduce)". But I was mistaken, `dim=None` is supposed to be an all-reduce, since that's the behavior in NumPy

[2022-04-14 15:43] SheffieldCao commented on #67978
I got the similar error when using distribute training with 8 RTX2080 Ti.
**CUDA 10.2, Pytorch 1.8.2**
[code]

**Error with `CUDA_LAUNCH_BLOCKING=1`:**
[code]

[code]

[2022-04-14 15:52] XinDongol commented on #45728
any update on this thread?

Increasing shared memory space is not possible neither in my case

[2022-04-14 15:59] albanD opened #75798 "Fix workaround `__module__` used to appease public binding checks"
This issues number is used to easily track quick fix for `__module__` for submodules that needs a broader fix.
You should reference to it via `TODO: Fix via https://github.com/pytorch/pytorch/issues/XXX` next to the workaround to make sure they remain easily searchable.

[2022-04-14 16:07] peterbell10 commented on #75664
It looks like the first recorded failure was the day before #74713 was merged, so not relevant.

The most likely candidate is #73105 which is changed the ROCm version being tested in CI and was merged on March 30 which is the date of the first recorded failure.

[2022-04-14 16:16] jinfagang commented on #42653
I also met this problem, any solution?

[2022-04-14 16:43] Lezcano commented on #75781
@anjali411 we got a similar issue some time ago, but I don't know whether it was resolved?

I do agree that this warning is not needed. We should probably use `at::real` instead of the float cast that it seems to be used there. cc @peterbell10

[2022-04-14 16:45] developer0hye commented on #42653
@jinfagang

If you can replace Pooling layer with torch.nn.functional.interpolate(bilnear and align_corners=True), I recommend you change the layer and check the results.

[2022-04-14 16:53] peterbell10 commented on #75781
I'm sure I fixed a similar autograd warning quite some time ago. Possibly a regression, or this is hitting a slightly different case.

[2022-04-14 17:03] alealv commented on #75336
Hi, yes here is the output

[code]

[2022-04-14 17:28] peterbell10 commented on #75781
#62262 added a new operator `_to_copy` which is used for `tensor.to`. It's backward doesn't correctly handle R->C conversions, unlike `_copy` which was the underlying operator previously. Will open a PR soon.

[2022-04-14 17:52] #75762 closed

[2022-04-14 18:07] #74487 closed

[2022-04-14 18:07] #75434 closed

[2022-04-14 18:10] DNXie commented on #42582
I think this should be fixed by #73719

[2022-04-14 18:39] Eddowesselink commented on #75746
@peterbell10 Thanks for your quick response and your help!

Hereby the output as asked:

ATen/Parallel:
	at::get_num_threads() : 10
	at::get_num_interop_threads() : 10
OpenMP 2019
	omp_get_max_threads() : 10
Intel(R) Math Kernel Library Version 2020.0.2 Product Build 20200624 for Intel(R) 64 architecture applications
	mkl_get_max_threads() : 10
Intel(R) MKL-DNN v2.2.3 (Git Hash 7336ca9f055cf1bfa13

[2022-04-14 18:41] thomasahle commented on #49291
This would be very useful for computing various kinds of statistical tests that tend to depend on the Chi-square icdf.

[2022-04-14 18:42] DNXie commented on #50961
I think this should be fixed by https://github.com/pytorch/pytorch/pull/73719

[2022-04-14 18:42] #50961 closed

[2022-04-14 18:51] DNXie commented on #49521
This seems to be fixed in the nightly version.

[2022-04-14 18:51] #49521 closed

[2022-04-14 18:51] DNXie commented on #49522
This seems to be fixed in the nightly version.

[2022-04-14 18:51] #49522 closed

[2022-04-14 19:05] jjsjann123 commented on #75708
hmmm, is this a reliable repro?

running on upstream master I don't get the repro from the given script. What GPU is used here?

[2022-04-14 19:13] janeyx99 opened #75817 "Standardize workflow job names"
Currently we don't have any set convention for workflow job naming and so the names are not always consistent. This makes job searching and grouping difficult and harder to change in the future. We should enforce some sort of standardization and document it.

cc @seemethere @malfet @pytorch/pytorch-dev-infra

[2022-04-14 19:31] davidberard98 commented on #75708
Interesting. It was on A100. I'll re-run on master and see if it's still happening

[2022-04-14 19:34] jjsjann123 commented on #75708
Let me try A100. I was running with a volta and ampere might give me a different schedule.

[2022-04-14 19:49] suo commented on #75817
A reference is https://ci.chromium.org/p/chromium/g/main/console. You can see that consistent naming lets them group things nicely

[2022-04-14 20:00] xlla commented on #33385
I found I can manual build that file using clang 13, but the setup.py build mechanism refuse the .o files that I manual built.
it will clean the .o files and try to build again, then raise Illegal instruction 4 error.

[2022-04-14 20:03] albanD commented on #75750
Hooo
Thank you very much for identifying that these are due to callback errors!
Yes we should fix that the same way we do it for regular functions there: try/except and call `thread_on_exception` if something failed.

[2022-04-14 20:04] ngimel commented on #75708
I'm on V100, it repros reliably for me, and I have a fresh build.

[2022-04-14 20:07] ngimel commented on #75708
[code]
I'm at 20bf0d4502 from Apr 11

[2022-04-14 20:07] swolchok commented on #74203
by the way, the github.com/pytorch/pytorch front page (so the README?) still mentions supported versions of Python 3.6; we should update that, right?

[2022-04-14 20:10] albanD commented on #42582
Tentatively closing then. Thanks for pointing it out.

Feel free to re-open if you still see this happening on master.

[2022-04-14 20:10] #42582 closed

[2022-04-14 20:38] andrewor14 opened #75825 "[Quant][fx] get_default_qconfig_dict doesn't work with fused modules"
**Summary:** Calling `prepare_fx` with `get_default_qconfig_dict` fails for models with fused modules, such as `ConvReLU2d`. This is blocking https://github.com/pytorch/vision/pull/5797.

**Minimal repro:**
[code]

**Exception**
[code]

cc @ezyang @gchanan @zou3519 @jerryzh168 @jianyuh @raghuramank100 @jamesr66a @vkuzo

[2022-04-14 20:42] EricSteinberger commented on #74627
+1

[2022-04-14 20:44] dav-ell commented on #3867
@addisonklinke's code worked for me, and did it without using math.ceil or math.floor, which makes it compatible with (the current) TensorRT release. I was getting all sorts of errors working with other implementations that were using ceil and floor, where it wasn't being calculated the same way in TensorRT (or Torch_TensorRT) as it was in Torch/Torchscript. Awesome work!

I also implemented this

[2022-04-14 21:23] jerryzh168 commented on #75825
I see, maybe we can add nn.ReLU and F.relu in the list? https://github.com/pytorch/pytorch/blob/master/torch/ao/quantization/qconfig.py#L348

[2022-04-14 22:07] davidberard98 commented on #75336
@alealv thanks for the stacktrace, that is quite helpful.

Are you experiencing the same issue, i.e. somehow related to opening a OpenGL context?

[2022-04-14 22:13] jjsjann123 commented on #75708
Looks like the reshape PR is landed on 4/12. That's what's causing the fallback.

[code]

But the IMA after the fallback looks a little suspicious. I'm still waiting on my build I can dig it a little bit more after that.

[2022-04-14 22:20] roussel-ryan commented on #58774
@fritzo @hejj16 This code snippet
[code]
does not work (on pytorch, 1.11.0, encountering the same issue). The following code
[code]
also does not work. The solution to the problem is given by @hejj16 above. If this issue could be reopened and fixed that would be great

[2022-04-14 22:41] ngimel commented on #75708
On a fresh master (with disabled reshape) I don't have IMA (but too many resources could still be present on A100)

[2022-04-14 22:49] ngimel commented on #75708
But fusion produces fp64 output, whereas eager execution (as expected) produces fp32.

[2022-04-14 23:04] xwang233 commented on #75375
Changing
[code]
to
[code]

will let the test pass in cuda 11.6 update 1.

Wanted to know what @ngimel thinks.

[2022-04-14 23:24] sss441803 opened #75852 "torch.stack backward does not automatically cast real float to complex float"
### 🐛 Describe the bug

The minimal code to reproduce the error:
[code]
which throws the following error:
[code]
However, casting `params` to `cfloat` before hand works:
[code]
and `torch.cat` but without casting also works:
[code]

### Versions

PyTorch version: 1.10.1
Is debug build: False
CUDA used to build PyTorch: 11.3
ROCM used to build PyTorch: N/A

OS: Ubuntu 20.04.2 LTS (x86_64)
GCC versi

[2022-04-14 23:24] jjsjann123 commented on #75708
Yeah, I'm still trying to get an A100.. will try that later.
Also note the type propagation. will double check on that as well.

[2022-04-14 23:26] sss441803 commented on #75852
@t-vi Thanks for offering to have a look!

[2022-04-14 23:47] k-bishop commented on #74326
hey @janeyx99, @nik1097 might be referring to me (I mistakenly opened a PR to the main repo rather than my fork a few days ago). I am sporadically working on this, and happy to take it up if no one has dibs already?

[2022-04-15 00:04] neerajprad commented on #58774
@roussel-ryan, @hejj16: Thanks for highlighting this. If you or @hejj16 would like to contribute a fix, I will approve it. Otherwise, I'll push a fix for this over the weekend.

[2022-04-15 00:05] ptrblck commented on #75787
I'm unable to reproduce the issue and the pretrained `state_dict` is successfully loaded.
Could you check, if you can access `https://download.pytorch.org/models/alexnet-owt-7be5be79.pth`?
If so, check if a failed download might have stored a corrupt file in the cache dir: `C:\Users\homej/.cache\torch\hub\checkpoints\` and delete it before rerunning the code.

[2022-04-15 00:12] ptrblck commented on #75658
Double post from [here](https://discuss.pytorch.org/t/torch-distributed-init-process-group-hangs-with-4-gpus-with-backend-nccl-but-not-gloo/149061/2?u=ptrblck) with follow up.

[2022-04-15 00:17] crcrpar commented on #75778
@turtleizzy could you tell me how you measure "Total time"s?

[2022-04-15 00:22] turtleizzy commented on #75778
'Total time' was measured by timing the whole for-loop. I have modified the code snippet in bug description to demostrate.

[2022-04-15 00:47] ptrblck opened #75854 "`pack` and `unpack` expects `StreamId` to use 48 bit virtual address space"
### 🐛 Describe the bug

`pack` and `unpack` in [`c10/core/Stream.h`](https://github.com/pytorch/pytorch/blob/1c60b9aaa55866e3ed9d35431e0aa1fdb1943193/c10/core/Stream.h#L125-L167) are concatenating the `DeviceType`, `DeviceIndex` and `StreamId` into an `int64_t`.
The assumption for this packing mechanism is that the virtual address will use 48 bit and will move the `DeviceType` and `DeviceIndex` in

[2022-04-15 00:49] ezyang commented on #75854
The proper fix is to modify the Python side API to stop treating streams as just ints. If we can do that, world's our oyster. Otherwise, we'll have to do something else, like remapping pointers outside of the range into a table that we can use to index back down to the small enough size. :/

[2022-04-15 01:15] memray commented on #67978
FYI, The bug seems to be resolved after I upgrade the CUDA and pytorch. It's running well now and I will update if I see new problems.
Driver Version: 470.82.01
CUDA Version: 11.4
PyTorch Version: 1.11.0+cu113
NCCL: (2, 10, 3)

[2022-04-15 03:21] jinfagang commented on #42653
@developer0hye I have solved it. My scene is more complicated, it generates different output size in every featuremap.

[2022-04-15 03:25] heleidsn commented on #71672
Agree! It's something about the drivers.  I followed [this answer](https://stackoverflow.com/a/71045598/14339287) to use [DDU](https://www.guru3d.com/files-details/display-driver-uninstaller-download.html) to nuke the NVIDIA drivers, then let Windows Update install their version of the NVIDIA drivers which seems more stable.

It works for me and the same code is running for over 24 hours! What a s

[2022-04-15 03:28] developer0hye commented on #42653
@jinfagang How did you solve it?

[2022-04-15 03:56] gpauloski commented on #75755
I see now that the same [NON_GROUP_MEMBER](https://github.com/pytorch/pytorch/blob/ef640355de40b950aa75dc42d2db686ca941051b/torch/distributed/distributed_c10d.py#L694) object is returned when the global rank is not a member of the group.

[2022-04-15 03:56] #75755 closed

[2022-04-15 04:27] fatcat-z commented on #75428
Actually, https://github.com/pytorch/pytorch/pull/72090 has resolved this issue so if you try a nightly build, it will work for you.

[2022-04-15 06:21] KDharmarajanDev commented on #75336
Sorry for the delay, but here is my backtrace using the gdb method:

[code]

[2022-04-15 07:37] lippman1125 commented on #75785
same problem! torchversion 1.10

[2022-04-15 07:42] jjsjann123 commented on #75708
Strangely I don't have a repro with the resource issue on A100. Mind sharing your driver/CUDA version? @davidberard98

type propagation I can see what's wrong. Our type propagation didn't special case scalar tensor, which we should do. More over, this gets me to think maybe we do NOT want to do type propagation when we have profile information on output of a node and should rely on profiled inform

[2022-04-15 08:04] FrancescoSaverioZuppichini opened #75862 "LayerNorm and GroupNorm with num_groups=1 not equivalent"
### 🐛 Describe the bug

`LinearNorm` and `GroupNorm` with `num_groups=1` should be equivalent but they are not

[code]

[code]

[code]

[code]

### Versions

[code]

[2022-04-15 08:42] xwang233 commented on #75494
Thanks for raising this issue. The root cause of non-optimal svd/pinv results is because of the SVD driver change in #48436. While Jacobian-based `gesvdj` gives much better performance on GPU than QR-based `gesvd` or magma drivers, it also gives less accuracy on **ill-conditioned** matrices.

One example of such matrices from the original script is
[code]
which has eigenvalues
[code]
which has a c

[2022-04-15 08:51] MaratZakirov opened #75864 "INTERNAL ASSERT FAILED at "vulkan_rewrite.cpp":272"
### 🐛 Describe the bug

[code]
Message
[code]

### Versions

torch 1.11.0 ubuntu 18.04 installed by
conda install pytorch torchvision torchaudio cudatoolkit=10.2 -c pytorch

[2022-04-15 08:52] FrancescoMandru commented on #69674
Hi, I have faced some problems too when I tried to export Detectron2 MaskRCNN in ONNX format. I tried different workarounds as this one #https://github.com/facebookresearch/detectron2/issues/3988 , but without success. In particular I would like to have a stable export in ONNX for my Opencv C++ based software

[2022-04-15 09:47] leslie-fang-intel opened #75866 "[JIT] [Autocast] Autocast Pass induce warning in Jit Trace"
### 🐛 Describe the bug

We find after we enable the Autocast Pass as default https://github.com/pytorch/pytorch/pull/74178 . There are lots of calculation error warning in `Jit Trace`.

Here is the code to reproduce this error:
[code]
Here is the details of warning message:
[code]

If we disable the Autocast Pass (https://github.com/pytorch/pytorch/blob/master/torch/csrc/jit/passes/autocast.cpp#L2

[2022-04-15 09:47] leslie-fang-intel commented on #75866
cc @jgong5 @CaoE

[2022-04-15 09:50] vadimkantorov commented on #29137
Is/will this `dim=None` behavior supported for all reductions?

[2022-04-15 11:07] vadimkantorov commented on #50688
An example of using jax.scan: S4 model https://srush.github.io/annotated-s4/

[2022-04-15 11:26] #75795 closed

[2022-04-15 11:34] cbalioglu commented on #74143
@edwardjhu @thegregyang Happy to share that torchdistx is now public: https://github.com/pytorch/torchdistx

Check out the docs for [Deferred Module Initialization](https://pytorch.org/torchdistx/latest/deferred_init.html) and [Fake Tensor](https://pytorch.org/torchdistx/latest/fake_tensor.html) which I believe will address your problem. Please let me know if you have any feedback!

[2022-04-15 12:35] vaibhavnayel commented on #34704
same issue

[2022-04-15 12:45] jamfly commented on #20248
Hi @mortonjt, Do you find a solution or a workaround approach? I am facing the same problem...

[2022-04-15 12:52] mortonjt commented on #20248
I didn’t have a workaround - ended up just using 1 worker

On Fri, Apr 15, 2022 at 8:46 AM jamfly ***@***.***> wrote:

[2022-04-15 12:55] jayagami commented on #75787
Thanks for your reply, you are right, the checkpoint cache is incomplete.

And I just reproduce this problem （cache were deleted in advance）.
But next time, everything is fine.

Perhaps something is wrong with my network provider.

[2022-04-15 12:55] #75787 closed

[2022-04-15 13:22] Vikram12301 commented on #51858
This is my output

Collecting environment information...
PyTorch version: 1.11.0+cu102
Is debug build: False
CUDA used to build PyTorch: 10.2
ROCM used to build PyTorch: N/A

OS: Ubuntu 18.04.5 LTS (x86_64)
GCC version: (Ubuntu 7.5.0-3ubuntu1~18.04) 7.5.0
Clang version: Could not collect
CMake version: Could not collect
Libc version: glibc-2.27

Python version: 3.9.7 (default, Sep 16 2021, 13:09:5

[2022-04-15 13:37] thiagocrepaldi commented on #69674
@FrancescoMandru make sure you have `onnxoptimizer` installed (`pip install onnxoptimizer`)

[2022-04-15 13:45] janeyx99 commented on #74326
@k-bishop go for it! do you think you could have a PR ready within 2 weeks?

[2022-04-15 13:57] philip-bl commented on #54789
This issue is present on the current Google Colab version of pytorch. I stumbled upon it when I was converting binary PIL images to torch tensors. The version of pytorch is

[code]

[2022-04-15 14:07] jamfly commented on #20248
Hi @mortonjt, I guess we can only register indices and values, then make it a sparse tensor while we need it. I just tested it, and it works.

[2022-04-15 14:27] rohan-varma opened #75870 "FSDP should verify / broadcast model similar to DDP"
### 🚀 The feature, motivation and pitch

Similar to DDP, FSDP should broadcast model states for each wrapped module from rank 0 to the rest of the ranks during __init__ to ensure all model start off at the same state before training. This will help resolve hard to debug hang / accuracy issues.

### Alternatives

_No response_

### Additional context

_No response_

cc @ezyang @gchanan @zou3519 @pi

[2022-04-15 15:19] davidberard98 commented on #75708
[code]

[2022-04-15 15:33] albanD commented on #75287
Thanks for writing this down in details!
I think this is very reasonable, some small details:
- The typing for state dict is in a pretty bad state. But I think it should become `Dict[str, Any]` for state_dict and `Mapping[str, Any]` for the load part. See https://github.com/pytorch/pytorch/pull/73483 that is making this more consistent for the rest of the functions.
- "We could also consider addin

[2022-04-15 16:03] vadimkantorov commented on #75862
I guess GroupNorm would also benefit from a high-level reference impl in Python (at least for docs purposes) as discussed for LayerNorm in https://github.com/pytorch/pytorch/issues/51455 ...

[2022-04-15 16:09] kshitij12345 opened #75886 "[testing] deprecate field `default_test_dtypes` from OpInfo"
### 🐛 Describe the bug

As discussed [here](https://github.com/pytorch/pytorch/pull/75656#discussion_r850196686) and offline, the test suite is going in a different direction than what this field provides.

Also it can lead to silent non-generation of test

For eg.

[code]

In this case, test will not be generated for an OpInfo even if it claims to support `torch.foo` but the `default_test_dtypes`

[2022-04-15 16:24] #75529 closed

[2022-04-15 16:26] rohan-varma commented on #75287
@albanD Thanks for your comments!

Regarding `register_post_load_state_dict_hook`, we can go ahead with it being a `Callable[self, NamedTuple] -> NamedTuple` to begin with. It's a good point that these are not regular functions but registrations of functions, so we cannot easily do this in a BC way without having an argument as you mentioned.

Re: https://github.com/pytorch/pytorch/issues/40859, I

[2022-04-15 16:31] BlueCrescent opened #75889 "forward() method of ConvTranspose2d does not respect output_size parameter"
### 🐛 Describe the bug

The deconvolution module torch.nn.ConvTranspose2d accepts in its forward() method an optional parameter output_size for specifying the shape of the output. With this, an output padding is computed such that the given shape is produced by the deconvolution. If this is not possible, a respective ValueError is raised.
However, in the following code example an output with a dif

[2022-04-15 16:53] davidberard98 commented on #75336
Here's a workaround: you can use `torch._C._jit_set_texpr_fuser_enabled(False)` to set some global state that disables NNC fusions. Unfortunately it might make performance worse - but it'll bypass the section that uses llvm

@ZolotukhinM @huiguoo any ideas on this?

[2022-04-15 16:56] ezyang commented on #74016
@kurtamohler I think this should be easier to fix once torch/csrc/generic/StorageSharing.cpp becomes not generic. Then we can just refer to the C binding directly and... hopefully that fixes the module unloading ordering issue.

[2022-04-15 17:03] ezyang commented on #75369
If you are running into this, there is a workaround: set USE_CUPTI_SO=0

The logic for searching for CUPTI is:

[code]

on my cuda machine, I have

[code]

So I also cannot repro. @robieta can you tell us what your `CUDA_SOURCE_DIR` is

[2022-04-15 17:07] kurtamohler commented on #74016
I can look into it after #75459

[2022-04-15 17:08] k-bishop commented on #74326
@janeyx99 yes i think so

[2022-04-15 17:10] awgu opened #75892 "[FSDP] Root module post-backward behavior when in `no_sync()`"
Currently, under the `FULL_SHARD` strategy, the root FSDP module does not free full parameters when in `no_sync()`, which deviates from the behavior of non-root FSDP modules. While changing this to have the root FSDP module still free full parameters may not impact peak memory, it may be good to do for logical consistency.

https://github.com/pytorch/pytorch/blob/b09769992f83f94150eaef2ab9d03c37b3

[2022-04-15 17:11] zhaojuanmao opened #75893 "Improve FSDP model initialization time"
### 🚀 The feature, motivation and pitch

Mostly when model is large, users initialize a model on CPU first and then wrap it using FSDP either by auto wrapping or manual wrapping.

Right now FSDP flatten and shards models on CPUs if the model is on CPU, which is not efficient. Especially if we add broadcast during initialization, the broadcast should happen on GPU for better efficiency (also defaul

[2022-04-15 17:16] davidberard98 opened #75895 "add -D_GLIBCXX_ASSERTIONS in debug mode"
### 🚀 The feature, motivation and pitch

Internally, dev builds are built with -D_GLIBCXX_ASSERTIONS, which enables checks like index out-of-bounds in vectors.

See https://github.com/pytorch/pytorch/pull/75766 - which was built with _GLIBCXX_ASSERTIONS and found one error.

cc @malfet @janeyx99

### Alternatives

_No response_

### Additional context

_No response_

[2022-04-15 17:41] jjsjann123 commented on #73620
on my local windows setup, python test crashes silently when running `TestCudaFuser.test_chunk`.

I'm digging into this. Only tricky issue here is that I haven't got a debug build to work and I don't know much about navigating the windows world. Will report back when I figured out where the crash report is... :cry:

[code]

[2022-04-15 17:42] davidberard98 commented on #73620
ooh, do you think https://github.com/pytorch/pytorch/pull/75765 might fix it?

[2022-04-15 18:06] ZolotukhinM commented on #75336
It looks like a bug in LLVM, and what @davidberard98 said should indeed work around that.

If it's not too much to ask, could you please run the repro with 'PYTORCH_JIT_LOG_LEVEL=">>kernel:>>llvm_codegen"` and paste the output somewhere (but beware, it might be quite long)? That could help us to debug the issue.

[2022-04-15 18:08] jjsjann123 commented on #73620
OMG..... that seems to be it.... That's some embarrassing bug. :flushed:

[2022-04-15 18:39] edwardjhu commented on #74143
Awesome! @cbalioglu  Trying this out right now.

[2022-04-15 18:48] cpuhrsch opened #75903 "torch.jit.script'd function very slow on first invocation on latest nightly"
### 🐛 Describe the bug

It takes about a minute to run this function for the first time. It takes only a second if it's running on a version of PyTorch built from source.

To reproduce run the code in [this gist](https://gist.github.com/Linux-cpp-lisp/9ffccb39f5f0f192a0c07eb6645d32d3). All credit to finding this to @Linux-cpp-lisp. I suspect this is an environment issue, i.e. an old version of tha

[2022-04-15 19:00] ezyang opened #75904 "Move _SKIP_PYTHON_BINDINGS to native_functions.yaml"
### 🐛 Describe the bug

@swolchok ran into a case where he named a function with `_forward` suffix and that caused it to magically not show up in Python bindings, in a way that was not debuggable until I remembered that there are name based matches. We should move this into a field on `native_functions.yaml` to make it more obvious when python bindings are being suppressed.

### Versions

master

[2022-04-15 19:09] Linux-cpp-lisp commented on #75903
In case it's useful, some longer and shorter functions of the same class can be found here: https://github.com/Linux-cpp-lisp/e3nn/blob/spharm-no-controlflow/e3nn/o3/_spherical_harmonics_generated.py.

[2022-04-15 19:35] nkaretnikov commented on #74489
hmm, indeed, i re-ran the job you mention and was able to ssh into it using the login in the "setup ssh" phase (using the jumphost ip i provided on slack).

i don't think i did anything differently tho.
- could it be that i used a different jumphost ip address? maybe, but i'd say it's unlikely.
- could it be that something wasn't right when the job was scheduled? maybe some issue with the "with-ss

[2022-04-15 19:55] bdhirsh opened #75909 "Add batching rules for `{view}_copy` operators"
The plan for the `functionalize()` transform is that it will soon have two modes:
- `functionalize(remove='mutations')` will remove all inplace and out= ops from the function
- `functionalize(remove='mutations_and_views')` will *additionally* convert view operators into their view_copy variants.

You can't use that second version of `functionalize()` together with `vmap` today though, because none

[2022-04-15 20:11] rohan-varma opened #75910 "[FSDP] Verify buffer checkpointing"
### 🚀 The feature, motivation and pitch

`test_fsdp_state_dict` currently does not contain any logic to test that buffers are checkpointed appropriately. We should add these tests and also verify that it works for rank0 and offload_to_cpu checkpoint which is being added in https://github.com/pytorch/pytorch/pull/75908

### Alternatives

_No response_

### Additional context

_No response_

cc @ezy

[2022-04-15 20:16] seemethere commented on #74489
For the original error mentioned:
[code]

This is typically indicative of an outdated host key that's stored in your `~/.ssh/known_hosts file` ([reference](https://www.thegeekdiary.com/how-to-fix-the-error-host-key-verification-failed/)).

Since you had previously used the jumphost the old host key for the old jumphost was probably stored in your local `~/.ssh/known_hosts` file. To resolve this in

[2022-04-15 20:16] #74489 closed

[2022-04-15 20:16] weiyshay opened #75911 "'python setup.py build' failed but succeed using 'pip install -v .' which calls 'python setup.py build'."
## Issue description

'python setup.py build' failed but succeed using  'pip install -v .' which calls 'python setup.py build'.

Error message:
subprocess.CalledProcessError: Command '['cmake', '--build', '.', '--target', 'install', '--config', 'Release', '--', '-j', '6']' returned non-zero exit status 2.

## Log
# TORCH_CUDA_ARCH_LIST="3.5 5.2 6.0 6.1 7.0+PTX 8.0" TORCH_NVCC_FLAGS="-Xfatbin -comp

[2022-04-15 20:21] nik-sm opened #75912 "interaction with psychopy during imports, script exits with: free(): invalid pointer. Aborted (core dumped)"
### 🐛 Describe the bug

I'm using `xvfb-run` to run code that uses pytorch and psychopy (which requires an attached display).

When I run script with no errors that imports `torch` and `psychopy`, the script will run until the end, and then exit with an error if psychopy was imported first.

---
This version exits with an error:
[code]

[code]
---
This version works fine:
[code]

[code]
---
To rep

[2022-04-15 20:23] nik-sm commented on #75912
Possibly related to https://github.com/pytorch/pytorch/issues/21018, however in that issue it sounds like the error occurs right away. In my case, the error only occurs at the end of the script. (In the real version of my script, there is plenty of processing and training that all works just fine before the script finishes, then at the end I see this error.)

[2022-04-15 20:45] rohan-varma commented on #64770
This was landed

[2022-04-15 20:45] #64770 closed

[2022-04-15 21:07] syed-ahmed commented on #74415
@felixdivo Could you please check if you are still encountering this warning on pytorch nightly binary? I was able to reproduce your case on `1.11.0+cu113` (see below) and am seeing the correct behavior on `1.12.0.dev20220415+cu113`.

Following are my findings for reference:
- Code behavior is it first looks for PYTORCH_KERNEL_CACHE_PATH, and then TEMP and then HOME on windows.
- set/unset the env

[2022-04-15 21:59] tugsbayasgalan opened #75923 "aten::_softmax.out doesn't work with non-contiguous Tensors"
### 🐛 Describe the bug

Repro script:

[code]

outputs:
[code]

This is clearly wrong because the second row is not updated and there shouldn't be any negative numbers.
cc: @gmagogsfm @zx

### Versions

PyTorch version: 1.12.0a0+gitfab098d
Is debug build: True
CUDA used to build PyTorch: None
ROCM used to build PyTorch: N/A

OS: CentOS Stream 8 (x86_64)
GCC version: (GCC) 8.5.0 20210514 (Red Hat 8

[2022-04-15 22:37] cddavis93 commented on #41069
I used the concept listed above but it yielded the same error, as the original post.
I attempted 'to_sparse_csr()' as well as 'to_sparse'
My pytorch version is 1.11.0

Is there any further documentation that describes half precision sparse MM?

[2022-04-15 22:50] davidberard98 opened #75925 "autogen-58 microbenchmark fails on NNC gpu fusion"
### 🐛 Describe the bug

autogen-58 (from https://github.com/pytorch/benchmark/pull/801) fails on NNC.

Repro is [here](https://gist.github.com/davidberard98/12fdd498e5284a543f2daa55addc8445). Output is:

[code]

### Versions

A100 (AWS cluster), master.

[2022-04-15 22:58] davidberard98 opened #75926 "Disable TracerWarnings on NVFuser opinfo tests"
### 🚀 The feature, motivation and pitch

If you run the nvfuser opinfo tests, you'll see a lot of tracer warnings like this:

[code]

(you can repro with `$ PYTORCH_TEST_WITH_SLOW=1 gpui python test/test_jit_cuda_fuser.py -k test_nvfuser_correctness__masked_log_softmax_cuda_f
loat64`, for example)

We can disable these with the [NoWarn](https://github.com/pytorch/pytorch/blob/aa51ee2345022db1f318b

[2022-04-15 23:06] suo opened #75927 "Upgrade CI version of mypy"
The current mypy we use in CI is 0.812, which cannot be `pip install`ed on an M1 mac as it depends on a version of `typed_ast` which does not provide an wheel for M1 macs.

This should be fixed by upgrading mypy, I believe, as more recent versions of `typed_ast` do provide this.

cc @seemethere @malfet @pytorch/pytorch-dev-infra

[2022-04-16 00:02] Handagot commented on #47201
I am having the same issue with 1.9.1. Would be nice if it could be fixed.

[2022-04-16 01:31] Chillee opened #75932 "Python garbage collector can deallocate a tensor, even when C++ still has strong references to it."
### 🐛 Describe the bug

This is the underlying cause of https://github.com/facebookresearch/torchdynamo/issues/85.

Short repro:
[code]

So... what's going on?

Basically, the python garbage collector is calling `tp_clear`, which breaks the strong reference from the Python portion of the tensor to the C++ portion, even though there are still C++ uses of the tensor.

Then, later, when we access the

[2022-04-16 02:54] jjqcat opened #75935 "torch.jit.trace error when custom autograd function used in the model"
### 🐛 Describe the bug

custom autograd function defined in the model, jit.trace reports error

[code]

I can't solve this problem. thanks for your help

### Versions

Collecting environment information...
PyTorch version: 1.11.0+cu113
Is debug build: False
*CUDA used to build PyTorch: 11.3
*ROCM used to build PyTorch: N/A
OS: Microsoft Windows 10
GCC version: Could not collect
Clang version: Coul

[2022-04-16 04:45] andrewor14 commented on #75825
Resolved by https://github.com/pytorch/pytorch/pull/75838

[2022-04-16 04:45] #75825 closed

[2022-04-16 05:01] jihwanp commented on #48273
[code]
Hasn't this part been revised yet? Unlike documentation, neither I don't get an error message in torch 1.10.0.

[2022-04-16 06:37] ChenMinQi opened #75936 "AllGather with backward support async_op=True"
### 🚀 The feature, motivation and pitch

I has one project which used all gather contrastive loss, but  _AllGather[https://github.com/pytorch/pytorch/blob/master/torch/distributed/nn/functional.py#L276] does not support async_op, so it cannot overlap computation and communication.

### Alternatives

_No response_

### Additional context

_No response_

[2022-04-16 07:56] FrancescoSaverioZuppichini commented on #75862
Hi @vadimkantorov , thanks for the reply! I am not sure I got it, I am passing a tensor `(b, c, ...)` to `GroupNorm`, while `(b,....,c)` to `LayerNorm`.

[2022-04-16 09:43] mattangus opened #75939 "Add distinction between Tensor and NestedTensor in python"
### 🚀 The feature, motivation and pitch

As of https://github.com/pytorch/pytorch/pull/74691, the nested tensor class has been removed. From the python interface there seems to be no way to distingush between Tensor and NestedTensor. I think it would be useful to have an efficent way to determine if a tensor is nested or not.

### Alternatives

 Currently I have two work arounds:
[code]
or
[code]

[2022-04-16 09:53] mattangus opened #75940 "Add nesting of nested Tensor"
### 🚀 The feature, motivation and pitch

Currently the nested tensor implementation isn't very nested. The `nested_tensor` function allows for a list of `Tensor`s but not a list of `NestedTensor`:

[code]

This feature request is to add the ability to arbitrarly nest `NestedTensor`s. My usecase for multiple nested tensors is to have the ability to load data that doesn't have the same shape. Most m

[2022-04-16 11:06] vihari commented on #75740
Yes, error disappears when setting the flag to False on A6000 with torch versions: 1.10.1+cu113, 1.9.1+cu111, 1.7.1+cu110

[2022-04-16 11:39] xpai commented on #21257
Why has `torch.multinomial_alias_draw` been removed now (pytorch v1.8.0)? Is there any other alternative APIs?

[2022-04-16 12:29] xiaxin1998 commented on #68330
Hello, has this issue resolved?
I have the same problem.

[2022-04-16 12:48] MultiTrickFox commented on #73481
I didn't test for training, just inference.
solution: torch.nn.utils.remove_weight_norm on all submodules.

I also found this method solves the problem only if you're sending the same input tensor over and over again !! only solves for this case.
I also found the conv2d's have a memory leak as well :) investigated further in pytorch forums, lots of more people talking on the same issue and pytorch

[2022-04-16 12:49] #73481 closed

[2022-04-16 12:53] ar4 commented on #75794
The example of the problem can be slightly simplified:

[code]

I have verified that it also occurs with 1.12.0.dev20220416+cu102 on both the CPU and GPU.

[2022-04-16 14:36] JeffersonQin commented on #12831
@VitalyFedyunin In my case it cannot be fixed with `persistent_workers=True` and regardless of value of `num_workers`. I am implementing Yolo myself, using a custom dataset.

(following code may not be important)
[code]

[code]

It just stuck, or gives the error `OSError: [WinError 1455] 页面文件太小，无法完成操作。 Error loading "C:\Users\JeffersonQin\AppData\Local\Programs\Python\Python39\lib\site-packages\to

[2022-04-16 16:50] kuriyan1204 opened #75941 "[feature request] Raising exception when a custom Dataset class defined by user does not have __len__ and __getitem__ method"
### 🚀 The feature, motivation and pitch

When a user defines custom Dataset class inheriting `torch.utils.data.Dataset`, torch forces user to implement `__getitem__` and `__len__` methods.
Currently, torch does not raise any exception when instantiating a custom dataset class defined by user which has no these two required methods.
It would be nice if an exception raises in these situations to let

[2022-04-16 16:57] #75941 closed

[2022-04-16 17:02] MicPie commented on #42824
@albanD Do you have more information on how to approach a possible backward pre hook setup?
I'm curious because I would need a backward pre hook setup for a project.
(We can also shift the discussion to the PyTorch forums to not derail this issue, if this is preferred. I have the same username there.)

[2022-04-16 17:59] Zwd798 commented on #59222
Can you just try using `pip install torch` ? Seems to work for me

[2022-04-16 18:49] vitrioil commented on #75177
Created #75681

[2022-04-16 18:59] thomasahle commented on #75701
Ah, I didn't actually know "partial views" were a thing. Searching for "pytorch partial view" this notion seems to only be used for the torch.diagonal function? I suppose the `out=` variant would copy the data instead.

[2022-04-16 22:14] ngimel commented on #75903
It still takes about a minute on my nightly build if the input tensors are created on cuda, and it hangs (I killed it after 10 minutes) if nvfuser is used, cc @jjsjann123

[2022-04-16 23:03] felixdivo commented on #74415
Sure, @syed-ahmed.

With `1.11.0+cu113` your script prints the warning on my machine too. I then installed `1.12.0.dev20220416` `py3.9` `cuda11.3` (the most recent one from pip) and the warning does not show any more.

[2022-04-16 23:41] matthewlyf commented on #75018
Has there any been any progress resloving this error?  I've encountered this for both stylegan2 and stylegan3.

[2022-04-17 00:44] rosrad opened #75943 "FSDP remove the requirement of all trainable parameters"
### 🚀 The feature, motivation and pitch

There are some cases that the model may have some fixed/untrainable parameters which should not be updated (.

In this case, the FSDP will raise the exception at https://github.com/pytorch/pytorch/blob/0df2e863fbd5993a7b9e652910792bd21a516ff3/torch/distributed/fsdp/flatten_params_wrapper.py#L363

assert (len(set(p.requires_grad for p in params)) == 1

[2022-04-17 00:58] zikpefu commented on #75018
@matthewlyf from what @albanD said, I believe this is a stylegan3 issue not a pytorch issue

[2022-04-17 02:24] jjqcat commented on #75935
import math
import torch
import torch.nn as nn
from torch.nn import init

class LinearFunction(torch.autograd.Function):
    @staticmethod
    def forward(ctx, input, weight, bias=None):
        print(type(input))
        ctx.save_for_backward(input, weight, bias)
        output = input.mm(weight.t())
        if bias is not None:
            output += bias.unsqueeze(0).expand_as(output)
        re

[2022-04-17 03:09] ezyang commented on #74788
poc at https://github.com/pytorch/pytorch/pull/75871

[2022-04-17 03:26] cpuhrsch commented on #75939
@mattangus - you can now use `is_nested`.

[code]

Does this resolve your issue?

[2022-04-17 03:29] ezyang commented on #21257
They were removed because it was private API that wasn't used anywhere in the PyTorch implementations. I guess if people found it useful we should reinstate it as a proper public API, resurrecting the implementation removed from https://github.com/pytorch/pytorch/pull/50489 cc @ngimel @nikitaved  @xpai can you open a feature request for it?

[2022-04-17 03:39] cpuhrsch commented on #75940
@mattangus - Thanks for submitting this issue! At this point I can't give you a good time estimate for when this might be available.

Would two levels of nesting be enough for your use case or do you need an arbitrary number of nested dimensions?

[2022-04-17 04:25] KDharmarajanDev commented on #75336
Thanks so much for the response. I tried putting `torch._C._jit_set_texpr_fuser_enabled(False)` before a call to torch.jit.script when exporting the model, and I'm still receiving the initial bug shown above when attempting to evaluate the model in Libtorch. I ran the output using the `PYTORCH_JIT_LOG_LEVEL=">>kernel:>>llvm_codegen"`, and this is what came:
[code]

[2022-04-17 05:04] byli2223 commented on #32881
Hi, were you able to resolve this issue? I have almost identical setup as you do and got the same error when training. I have 3060, torch 1.4, WSL2, Ubuntu 20.4 windows 11, but CUDA 10.1. For me it takes a couple of minutes before the error shows up. I monitored GPU memory and it's far away from maxing out.

This is the network I'm trying to train:
https://github.com/hongwang01/InDuDoNet/tree/2587

[2022-04-17 05:16] ptrblck commented on #32881
@byli2223 your Ampere GPU needs CUDA11 as well as cuDNN8, so update PyTorch to the latest stable or nightly release with the CUDA11 runtime.

[2022-04-17 07:50] naor2013 commented on #70446
Any update on this issue? @fatcat-z

[2022-04-17 09:13] mattangus commented on #75940
I believe I have come up with a work around for my use case with one level of nesting. So this feature request is more hypothetical now. But I think my original idea had 3 levels of nesting.

[2022-04-17 09:15] mattangus commented on #75939
Yes! Thank you!

[2022-04-17 09:15] #75939 closed

[2022-04-17 12:00] fate100 commented on #68910
@wojtuss，thank you for your reply，I'll try to find a way to replace it

[2022-04-17 13:28] matthewlyf commented on #75018
@zikpefu Were you able to find a solution in the end to get stylegan3 working?

[2022-04-17 14:57] vadimkantorov commented on #75940
@cpuhrsch also, if it was designed to just be a tensorlist, I propose it's named so (also the necessity for having to copy the passed list into a contig chunk of memory may be introducing unncecessary memory overhead for some usages)

a real-world usage of two-level nested tensors: https://github.com/pytorch/pytorch/issues/71479

[2022-04-17 14:59] vadimkantorov commented on #65156
btw this probably will be auto-supported if the nestedtensor supports enumeration (i.e. iteration over the first dim), just like regular tensor does already

[2022-04-17 15:05] vadimkantorov commented on #27522
@cpuhrsch a real-world use-case for torch.sum(tensor_list, dim = 0): https://github.com/pytorch/pytorch/blob/master/torch/distributed/nn/functional.py#L298

also, could there be an improvement of using a single allocation instead of [torch.empty_like(tensor) for tensor in grad_outputs]? using nestedtensor (e.g. a _foreach_empty_like or a new general multi/foreach-allocation utility?) also if these

[2022-04-17 16:17] vwxyzjn opened #75948 "Gradient accumulation does not work with `torch.distributions.categorical`"
### 🐛 Describe the bug

Gradient accumulation does not seem to work with `torch.distributions.categorical`. See the following snippet

[code]
[code]

### Versions

[code]

[2022-04-17 16:18] fatcat-z commented on #75597
With torch 1.10, if we set use_external_data_format=True for torch.onnx.export() function, the model could be exported successfully. It shows:

['Constant', 'Add'] 235

Will take a look.

[2022-04-17 16:22] fatcat-z commented on #75598
The PR https://github.com/pytorch/pytorch/pull/75268 has resolved this issue. Please try a nightly build or wait for the next version of PyTorch to see if your problem has gone.
Thanks.

[2022-04-17 16:43] BalajiAI commented on #75948
hi

[2022-04-17 17:09] seemethere commented on #59222
Hey everyone! Looks like this particular issue is a bit stale in terms of information. Going to close, feel free to re-open if feel as though your issue hasn't been resolved!

[2022-04-17 17:09] #59222 closed

[2022-04-17 19:52] cpuhrsch commented on #75940
@vadimkantorov - it's more than a TensorList, which is why the entires of the TensorList passed to the constructor is required to have Tensor with matching dimension. It is a regular Tensor with a dimension, layout, dtype, etc. except that a given size *may* be irregular. In fact, if all sizes are regular it behaves exactly like a Tensor that is not nested.

[2022-04-17 19:54] lingchunkai opened #75949 "Potential memory leak in Adam optimizer in AMD chips (CPU)"
### 🐛 Describe the bug

Adam optimizer seems to be leaking memory(?) in AMD chips.

A minimal example doing some simple training can be found here:
https://gist.github.com/lingchunkai/dbb0c001a2fca1273487d69ac04c2f7e

After 5 million iterations, virtual memory usage rises to 70804240 (kb) and resident memory to 54691068 (kb). When using CUDA on the same machine, no such growth is seen and we use a

[2022-04-17 21:26] mruberry opened #75950 "cpu cfloat and cdouble ne and eq incorrectly populates complex out where vectorized"
[code]

The non-vectorized tail shows the correct result. Note that to show the issue with `cfloat` inputs requires larger tensors to trigger vectorization.

cc @VitalyFedyunin @jgong5 @mingfeima @XiaobingSuper @sanchitintel @ashokei @jingxu10 @ezyang @anjali411 @dylanbespalko @Lezcano @nikitaved @mruberry

[2022-04-17 21:37] ngimel commented on #75950
Vectorized comparison op implementation sets real and imag parts to 1: https://github.com/pytorch/pytorch/blob/ef50186a7d05cd65fc605598480b52375cadd4b2/aten/src/ATen/cpu/vec/vec256/vec256_complex_double.h#L440

[2022-04-17 23:27] vwxyzjn commented on #75948
Further investigated over this. Turns out it's numerical issues:

[code]
[code]

I'm happy to close this issue unless anyone wants to add additional comments. Thanks!

[2022-04-17 23:53] turtleizzy commented on #67384
As a user and victim of tf32 I would strongly vote for (3) or (4) because torch gpu linear algebra operations are so commonly used in the training process to generate data (rotational & elastic transformation with `grid_sample`, etc)  and calculate metrics.

In fact, issue #75778 was detected after several days of debugging for the performance deterioration on Ampere devices, which was eventually

[2022-04-18 00:54] ipostr08 commented on #75747
Yes, to be more general, group convolutions are very slow. Nothing has been done to fix it despite many people asking for a fix over the years. E.g. https://github.com/pytorch/pytorch/issues/73764, https://github.com/pytorch/pytorch/issues/18631, https://github.com/pytorch/pytorch/issues/70954, https://discuss.pytorch.org/t/group-convolution-takes-much-longer-than-normal-convolution/92214.

[2022-04-18 02:26] #74689 closed

[2022-04-18 02:35] leslie-fang-intel opened #75956 "[JIT] [Autocast] JIT Autocast Pass operations' list should be extendable and consistent with imperative path"
### 🐛 Describe the bug

Currently, the operations' list is hardcoded in `JIT Autocast pass`   by different categories (https://github.com/pytorch/pytorch/blob/ef50186a7d05cd65fc605598480b52375cadd4b2/torch/csrc/jit/passes/autocast.cpp#L322-L440).

Regardless of the limitation mentioned in the document (https://github.com/pytorch/pytorch/blob/master/torch/csrc/jit/JIT-AUTOCAST.md). We think the `JI

[2022-04-18 02:35] leslie-fang-intel commented on #75956
cc @CaoE @jgong5

[2022-04-18 03:03] xsacha commented on #75655
Is that not just the profiling run?

[2022-04-18 03:40] fatcat-z commented on #75748
Could you please explain more about your ideas of why you need to access this field during the conversion? The code you provided is to make sure both PyTorch and ONNX will use the same format to handle the inpurts. In this case, it should not be adjusted.

[2022-04-18 03:45] fatcat-z commented on #75722
Hi @103yiran ,

Are you trying to export a model which contains local_response_norm() function to ONNX? Or you are just discussing the difference of them between PyTorch and ONNX?

[2022-04-18 08:07] 103yiran commented on #75722
@fatcat-z I haven't tried conversion. I noticed the difference while reading the code. Or maybe my observation is wrong？

[2022-04-18 08:14] jinfagang opened #75960 "jit/_trace.py", line 71, in _unique_state_dict filtered_dict[k] = v.detach() AttributeError: 'torch.dtype' object has no attribute 'detach'"
### 🐛 Describe the bug

Try exporting torch.fx quantized model to onnx get this error:

[code]

From discussion forum, it was claimed quantized model export to onnx already supported, but I still get this error on a single res18 model from torchvision.

### Versions

torch.1.11

[2022-04-18 11:50] jinfagang commented on #59781
@supriyar  Hi, the pr link seems not work anymore:

[code]

Just got this error:

[code]

[2022-04-18 12:43] kamikaze opened #75963 "Add build support for GCC 11.2"
My build from source fails with GCC 11.2, is it possible to support that? Thanks

[2022-04-18 12:50] germanjke commented on #27212
hey! I have this problem in `torch.onnx.export`, I guess ONNX solved this problem, but `torch.onnx` not updated yet?

[2022-04-18 12:59] taniaarsya commented on #32694
I'm having trouble installing pytorch like this:

[1604/3322] Building C object confu-de...emm/gen/6x16c4-minmax-fp32-neondot.c.o
FAILED: confu-deps/XNNPACK/CMakeFiles/XNNPACK.dir/src/qs8-gemm/gen/6x16c4-minmax-fp32-neondot.c.o
/usr/bin/ccache /usr/bin/cc -DCPUINFO_SUPPORTED_PLATFORM=1 -DFXDIV_USE_INLINE_ASSEMBLY=0 -DXNN_ENABLE_ASSEMBLY=1 -DXNN_ENABLE_MEMOPT=1 -DXNN_ENABLE_SPARSE=1 -DXNN_LOG_LEVEL

[2022-04-18 13:05] vadimkantorov commented on #27522
another usecase to study about ops on multiple tensors and using or avoiding stack/copy:  https://github.com/pytorch/pytorch/commit/5654e6339879e438efb7cf50e88e356472eb0545#diff-8333640cff01dcc6a2ab20085003e8c998db905ad85c09603a20a6e363aff2e2R135

[2022-04-18 13:05] MrGrayCode commented on #75748
I required the converted onnx model to have 'DRC' mode for further conversion/quantisation steps, hence the need to access the field. But now if I understand correctly, `PixelShuffle` uses the 'CRD' mode hence the onnx op also has the same mode? Thank you for the clarification.

[2022-04-18 13:48] #71987 closed

[2022-04-18 13:49] #66266 closed

[2022-04-18 13:56] albanD commented on #75725
Note that beyond the "the warning is not properly propagated back to the main process" theory that is very likely to explain this. There is also the possibility that the warning is being triggered via a pybind11 warning which is missing the proper `HANDLE_TH_ERRORS` macro. Which would prevent the warning translation from happening.

The way to differentiate between the two is that in one case, the

[2022-04-18 14:02] imneonizer commented on #27212
Exactly!

[2022-04-18 14:02] albanD commented on #75018
You simply need to pass in the new argument based on the the ctx field as mentioned above.

[2022-04-18 14:26] albanD commented on #42824
Here is good to discuss new feature implementation.

At a high level, we need to update the nn.Module class to have a new pre_hook method and store these properly (just like is done for the back hook).

The in the call_impl function, we can update the code (especially the part that attach to the outputs) to pass in these new pre-hook.

At the lowest level, this function:  https://github.com/pytorc

[2022-04-18 15:01] syed-ahmed commented on #74415
Thanks @felixdivo . Therefore @ptrblck's PR has fixed this issue for windows as well and is on nightly pytorch. You could wait for the next pytorch release or use the nightly pytorch binary or manually set the PYTORCH_KERNEL_CACHE_PATH in 1.11.0 (e.g. `set PYTORCH_KERNEL_CACHE_PATH=C:\Users\terrybel\pytorch_ws_triage\`).

[2022-04-18 15:14] roussel-ryan commented on #58774
Looks like this is fixed in the nightly version so you can close the issue.

[2022-04-18 15:34] holl- commented on #75655
It persists for all future calls.

[2022-04-18 15:36] zou3519 commented on #73212
Offline discussion with @ezyang and co said:
- We're calling the codegen module `torchgen` (this is still bikeshed-able)
- This will live in a top-level torchgen/ folder in the PyTorch repo.
- We will distribute torchgen/ with the pytorch binaries (so out-of-tree package maintainers don't need to figure out which version of torchgen to pair with which version of PyTorch).

[2022-04-18 16:00] janeyx99 opened #75973 "DISABLED test_data_parallel_module_kwargs_only_empty_dict_cuda_float64 (__main__.TestDataParallelDeviceTypeCUDA)"
Platforms: rocm

This test was disabled because it is flaky on master ([recent examples](http://torch-ci.com/failure/test_data_parallel_module_kwargs_only_empty_dict_cuda_float64%2C%20TestDataParallelDeviceTypeCUDA)).

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @rohan-varma @gqchen @aazzolini @osalpekar @jiayisuse @SciPioneer @H-Huang @kwen2501 @jeffdaily @sunway513 @jithunnair-a

[2022-04-18 16:03] jcwchen commented on #66250
I think this issue has been resolved by https://github.com/pytorch/pytorch/pull/75718. Close here now.

[2022-04-18 16:03] #66250 closed

[2022-04-18 16:39] felixdivo commented on #74415
Thank you very much, now I'll get this to work. 😄

[2022-04-18 16:54] ngimel commented on #75903
It's possible that nightlies are built with llvm so they try to compile something on cpu, whereas local build doesn't have llvm

[2022-04-18 17:07] #75734 closed

[2022-04-18 17:15] davidberard98 commented on #75903
@ngimel to clarify - this happens with both NNC and NVFuser, is that correct?

[2022-04-18 17:23] ngimel commented on #75903
1) The original gist uses cpu only, and the first or second run of the function is slow on nightly and fast on a local build, I suspect because nightly tries to compile something for cpu, and my and Christian's local build doesn't
2) If gist is changed to use GPU, then with nnc it compiles for about a minute the first time, then runs fast
3) If gist is changed to use GPU and nvfuser, it is compili

[2022-04-18 17:26] zou3519 opened #75982 "API to determine if a torch.return_type is a "structseq""
## Motivation

A "structseq" is this weird Python-C API thing used to create namedtuple-like types from C++.

https://github.com/pytorch/pytorch/pull/75915 introduces some logic that ideally would grab all "structseq" classes from torch.return_types and register them as PyTree nodes. However, we didn't know how to actually check if something is a structseq or not (the [documentation](https://docs.

[2022-04-18 18:14] cpuhrsch commented on #75963
Hello @kamikaze - can you give you some more information? Build logs, exactly commands used and a dump of your environment using [https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)? Please follow the guidance when creating a bug report.

[2022-04-18 18:16] #75948 closed

[2022-04-18 18:18] crcrpar commented on #75778
Thanks for sharing.

Regarding the numerical, I repro'd on A100. fwiw, without scaling by 100, the `numpy.testing.assert_allclose` didn't throw a exception.

As for the performance, I guess the exception handling led to the difference.
I took a benchmark and that didn't show the slowdown in a simple benchmark on A100 (the script is [here](https://gist.github.com/crcrpar/78a39e09e8a2146ce8f3c3a29e1

[2022-04-18 18:20] psinger commented on #56771
I just noticed this still hapenning.

[2022-04-18 18:20] janeyx99 opened #75984 "DISABLED test_zero_model_parallel_parameters_as_bucket_view_True (__main__.TestZeroRedundancyOptimizerDistributed)"
Platforms: rocm

This test was disabled because it is failing flakily on master ([recent examples](http://torch-ci.com/failure/test_zero_model_parallel_parameters_as_bucket_view_True%2C%20TestZeroRedundancyOptimizerDistributed)).

Culprit could be related to https://github.com/pytorch/pytorch/pull/75753 @pritamdamania

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @rohan-varma @gqch

[2022-04-18 18:20] cpuhrsch commented on #75949
@lingchunkai - Thank you for submitting the issue! Does this error persist on a recent version of PyTorch such as the latest stable or nightly release?

[2022-04-18 18:22] danielbulhosa commented on #69609
I get the same error just running this [example](https://pytorch.org/tutorials/prototype/ios_gpu_workflow.html#metal-compatible-model) in the docs.

I'm using torch==1.11.0 and torchvision==0.12.0

[2022-04-18 18:24] cpuhrsch commented on #75923
@tugsbayasgalan - torch._softmax is a hidden function and we do not give guarantees for these. Please use the public version instead. [torch.nn.functional.softmax](https://pytorch.org/docs/master/generated/torch.nn.functional.softmax.html?highlight=softmax#torch.nn.functional.softmax). Is there a reason this one doesn't apply?

[2022-04-18 18:25] lingchunkai commented on #75949
@cpuhrsch I have tested this on the same AMD machine with PyTorch 1.11.0 and the same problem persists. Have not yet tested it on the nightly release yet though.

[2022-04-18 18:27] Chillee commented on #75932
I'll add high priority :P

Seems pretty bad that we have memory ownership issues that can result in {segfault, garbage tensors} being where the user would expect a tensor to be.

[2022-04-18 18:28] cpuhrsch commented on #75911
@weiyshay - does this issue persist when building a recent version of PyTorch? Is there a reason you want to build PyTorch 1.7 instead of the latest version?

[2022-04-18 18:31] awgu commented on #72718
`test_local_optimizer_parity()` also showing flakiness on ROCm.
https://github.com/pytorch/pytorch/runs/6063770561?check_suite_focus=true

[2022-04-18 18:37] awgu commented on #75984
@pritamdamania I do not think that your PR https://github.com/pytorch/pytorch/pull/75753 is the issue. There have been issues with ROCm and ZeRO historically:
https://github.com/pytorch/pytorch/issues/67159
https://github.com/pytorch/pytorch/issues/72718
I am not sure about the reason for the issues though.

[2022-04-18 18:41] ngimel commented on #75854
cc @emcastillo

[2022-04-18 18:42] albanD commented on #75912
Would you be able to get a stacktrace using gdb by any chance?

[2022-04-18 18:54] ezyang opened #75986 "gql_mocks.json has really long lines"
### 🐛 Describe the bug

This file has really long lines, which means that whenever I `git grep` that hits this file it's very annoying to scroll through all the results. Can we somehow split it up?

### Versions

master

[2022-04-18 19:51] Linux-cpp-lisp commented on #75903
additional context on that is that when we run unit tests on this set of compiled functions in our GitHub Actions CI (CPU, PyTorch 1.10 and 1.11) it hangs ~forever with NNC; at some point it just gets stuck and then killed 6 hours later:
https://github.com/e3nn/e3nn/runs/6014157098?check_suite_focus=true
At no point in this CI set is NVFuser ever enabled or CUDA availab.e

[2022-04-18 20:15] aliasad20 opened #75992 "Build PyTorch to be supported by Cuda 11.4"
### 🚀 The feature, motivation and pitch

While my PC has CUDA 11.4 installed for my nVidia and various other dependent apps run on it. Presently on the official site the PyTorch just seems compatible with CUDA 11.3 and nothing else in Cuda 11.x. Please update it so it serves the purpose to be installed  and use GPU properly.

### Alternatives

_No response_

### Additional context

_No response_

[2022-04-18 20:20] awgu commented on #75943
To better understand the context, could you please answer the following:

1. Is it possible for you to include the untrainable parameters in a separate `nn.Module`? (I.e. do you have access to the model code?)
2. Does the set of untrainable parameters change dynamically over the course of training?

[2022-04-18 20:47] zl190 commented on #17023
`pip3 install torch torchvision --no-cache-dir` works for me

[2022-04-18 21:48] zasdfgbnm commented on #75854
I think it is not just Python bindings. In `IValue`, we have something like
[code]
And in tracer, we have
[code]
I think it will not be hard to modify all of them. But I am not sure if this will break backward compatibility.

[2022-04-18 22:02] albanD commented on #75932
The resurrect in tp_clear PR will fix this right?

[2022-04-18 22:03] Chillee commented on #75932
Yes (hopefully).

At least, it fixes the example in this issue + the cases we were running into in the wild.

[2022-04-18 22:32] janeyx99 opened #75999 "PR failures in BC check `_validate_sparse_compressed_tensor_args`"
## Current Status
*Status could be: preemptive, ongoing, mitigated, closed. Also tell people if they need to take action to fix it (i.e. rebase)*.
preemptive

## Error looks like
*Provide some way users can tell that this SEV is causing their issue.*
The backwards compatibility check is failing on your PR but you didn't make any relevant changes.
[code]
https://github.com/pytorch/pytorch/runs/6069

[2022-04-18 23:18] nik-sm commented on #75912
I found that I couldn't directly do `gdb xvfb-run` since `xvfb-run` is actually a shell script.
Instead, the following seemed to work. Please let me know if more info would be useful:

[code]

[2022-04-18 23:25] garymm commented on #75635
@justinchuby can you add a comment here?

[2022-04-18 23:25] justinchuby commented on #75635
Sure!

[2022-04-19 00:16] emcastillo commented on #75854
I am willing to work on this, however, I am a bit worried about backward compatibility. Maybe we can expose the `c10::Stream` struct directly through the python c API / pybind? (early morning thoughts without remembering implementation details). Any comments/insights appreciated!

[2022-04-19 00:23] vkuzo commented on #75785
Thanks for the report!  Looks like the failure is here: https://github.com/pytorch/pytorch/blob/adee867c8da044b9da132b3eb2a2dda296940e9c/torch/csrc/jit/passes/onnx/unpack_quantized_weights.cpp#L448

The ONNX spec does support per-channel quantization (https://github.com/onnx/onnx/blob/main/docs/Operators.md#qlinearconv), so we probably just need to extend this code to handle per-channel, and add a

[2022-04-19 00:31] vkuzo commented on #75579
hi @MrDaniLLka , what version of PyTorch are you using?

[2022-04-19 00:32] davidberard98 opened #76007 "Build a default NVFuser comparison callback, e.g. for use with torchbench"
### 🚀 The feature, motivation and pitch

A default comparison callback would make it a lot easier to start using the callback.

Callback functionality was added in https://github.com/pytorch/pytorch/pull/74361.

### Alternatives

_No response_

### Additional context

_No response_

[2022-04-19 00:37] davidberard98 commented on #75708
@jjsjann123 I'm running into a similar issue on autogen-69, maybe you can check there to see if you hit any fallbacks?

[2022-04-19 00:52] vkuzo commented on #72049
closing this, please feel free to reopen if you are able to provide more info to help us debug

[2022-04-19 00:52] #72049 closed

[2022-04-19 00:53] #66483 closed

[2022-04-19 00:54] ezyang opened #76008 "set data permits requires_grad=True on integer tensor"
### 🐛 Describe the bug

[code]

However, it is supposed to be illegal for integer tensor to requires_grad True

### Versions

master

cc @ezyang @albanD @zou3519 @gqchen @pearu @nikitaved @soulitzer @Lezcano @Varal7

[2022-04-19 00:54] vkuzo commented on #72698
this is fixed

[2022-04-19 00:54] #72698 closed

[2022-04-19 00:55] cpuhrsch commented on #75999
cc @pearu

[2022-04-19 00:55] vkuzo commented on #73738
@jerryzh168 , is this good to close?  I think I remember seeing a PR which implemented this.

[2022-04-19 00:57] cpuhrsch commented on #75999
The function was introduced in https://github.com/pytorch/pytorch/pull/75946 . The PR's CI ran entirely green before it was merged.

[2022-04-19 00:58] pytorch-bot[bot] opened #76009 "DISABLED test_first_argument_index (__main__.ForkTest)"
Platforms: linux

This test was disabled because it is failing in CI. See [recent examples](http://torch-ci.com/failure/test_first_argument_index%2C%20ForkTest) and the most recent trunk [workflow logs](https://github.com/pytorch/pytorch/runs/6069534904).

Over the past 3 hours, it has been determined flaky in 1 workflow(s) with 1 red and 3 green.

[2022-04-19 01:42] jjsjann123 commented on #75708
Ha, thanks for that, let me see if I got lucky there.

I tried to re-run the simpler script on a similar setup (different driver with same CUDA toolkit) machine but didn't get repro. Maybe I should also try to run the real microbenchmark there.
:cry:

[2022-04-19 01:43] lanking520 opened #76010 "PyTorch on Windows GPU compile failure: [No CUDA toolset found]"
### 🐛 Describe the bug

## Description

On behalf of DJL team, we found the following build issues during build with PyTorch:

[code]

This started to appear since we leverage PyTorch 1.11.0 GPU version C++ packages. We haven't change our build configuration since 1.8 and all past build (1.8 - 1.10.2) with different CUDA version works fine.

- We managed to locate the problematic point to [this fi

[2022-04-19 01:48] ezyang opened #76011 "backcompat tests in test_nn.py are slow"
### 🐛 Describe the bug

My test runner gets visibly stuck on them when they execute. They take more than a minute to execute.

### Versions

master

[2022-04-19 01:51] ezyang commented on #75854
Exposing c10::Stream struct via python c API sounds like the appropriate thing to do. The good thing is we already do torch.cuda.Stream class for CUDA streams, which are what people mostly use, so it shouldn't be too BC breaking.

[2022-04-19 02:24] jjsjann123 commented on #75768
I think this one is good to be closed since we have #75770 merged.

[2022-04-19 02:26] #75768 closed

[2022-04-19 02:27] xuanlinli17 opened #76012 "torch.nn.LayerNorm is much slower than a custom LayerNorm version (in the ConvNext model)"
### 🐛 Describe the bug

I found `nn.LayerNorm` is much slower (0.14s) than the custom LayerNorm version for the ConvNext model (0.04s) `https://github.com/facebookresearch/ConvNeXt/blob/d1fa8f6fef0a165b27399986cc2bdacc92777e40/models/convnext.py#L119`, while both results are equivalent (up to numerical errors).

[code]

Output:

[code]

### Versions

PyTorch version: 1.11.0
Is debug build: False
C

[2022-04-19 02:29] ezyang opened #76013 "test_jit.py TestWarn.test_warn and friends doesn't work under pytest"
### 🐛 Describe the bug

[code]

gives

[code]

The warnings then show up in warnings summary so probably there's something going on with pytest's installed warning handler

### Versions

master

[2022-04-19 02:31] dzdang commented on #75009
@edpzou
I just want to clarify that you mean the output of `torch.fake_quantize_per_tensor_affine(x2, ....)` is wrong? I took a look at the implementation of this function, and I don't see why `fake_quantize_per_tensor_affine` wouldn't work on a non-contiguous tensor.

Can you please produce `x2`, `x2.stride()` and the output of `torch.fake_quantize_per_tensor_affine`? Thanks

[2022-04-19 03:03] ShiinaMitsuki commented on #76010
Same error here on windows 10, with CUDA 11.5 CUDNN8.2 and pytorch 1.11.0.

BTW, after commting the `enable_language(CUDA)` , did you succeed compling the source code?

Im struggling with the link error in `pytorch-1.11.0\build\caffe2\torch_cuda.vcxproj`

[2022-04-19 03:08] lanking520 commented on #76010
I don't have link issue. Linkage problems usually leads to cmake file configuration. But have you succeeded build it with past PyTorch versions? Or this is your brand new project

[2022-04-19 03:09] sisilmehta2000 commented on #75893
I was testing the FSDP code with pytorch lightning and noticed an edge case. It can be reproduced through following code:

[code]

It fails with the error  "RuntimeError: Tensors must be CUDA and dense".

It seems the lightning.to() -> calls apply() on the module recursively -> which calls fsdp.summon_params.
However lightning.to() is called when the model is on the CPU and fsdp.summon_params expe

[2022-04-19 03:32] ShiinaMitsuki commented on #76010
I failed compling  pytorch 1.10.2, due to another issue(https://github.com/pytorch/pytorch/issues/70931#issuecomment-1006889109), not this one.

[2022-04-19 04:26] fatcat-z commented on #75722
No, I don't mean your observation is wrong. In terms of torch.onnx.export() function, it won't convert the local_response_norm() function to LRN op in ONNX directly so your worries won't impact the converter at this moment.

If you are looking for the reasons why the implementations are different in PyTorch and ONNX. I'd like to suggest you to check the code history to find the author and then sta

[2022-04-19 04:26] #75722 closed

[2022-04-19 05:32] zhaojuanmao opened #76018 "Add an option to summon_full_params() for gathering full gradients in FSDP"
### 🚀 The feature, motivation and pitch

Add an option to summon_full_params(gather_grads=True) for gathering full gradients in FSDP, so that users can access original parameters' gradient, with this option
1. users can print gradients and debug
2. users can set some original parameters' gradient to zero, for dynamic fine tuning purpose, e.g, https://github.com/pytorch/pytorch/issues/75943

### Al

[2022-04-19 05:33] zhaojuanmao commented on #76018
cc @awgu

[2022-04-19 05:42] fatcat-z commented on #64980
It's been over 2 months, so closing this. Feel free to open a new one if the issue still exists.

[2022-04-19 05:42] #64980 closed

[2022-04-19 06:08] turtleizzy commented on #75778
Yes, I can confirm that, but if you reduce `atol` to `1e-4`, the issue could be reproduced.

I have tested the code snippet provided by @crcrpar on my A4000 device and the result was as follows. 50% increase in execution time with small stdev (= small p value) was  for `M @ X.T` with `NVIDIA_TF32_OVERRIDE=1`.

[code]

[2022-04-19 06:23] liuyanhe86 opened #76020 "An unknown bug, just appears for a few times"
### 🐛 Describe the bug

I don't know why this happend, and it's not 100% encountered. All I got is following trace:

[code]

### Versions

PyTorch version: 1.10.1
Is debug build: False
CUDA used to build PyTorch: 11.3
ROCM used to build PyTorch: N/A

OS: Ubuntu 20.04.4 LTS (x86_64)
GCC version: (Ubuntu 9.4.0-1ubuntu1~20.04.1) 9.4.0
Clang version: Could not collect
CMake version: Could not collect

[2022-04-19 06:57] aksenventwo commented on #75009
I'm constructing for you：

[code]

outputs:

[code]

[2022-04-19 07:25] vivekkhandelwal1 commented on #75015
Hi, @Chillee @eellison, any update on this issue?

[2022-04-19 07:37] kshitij12345 commented on #75886
Fixed in https://github.com/pytorch/pytorch/pull/75951

[2022-04-19 07:37] #75886 closed

[2022-04-19 07:39] fatcat-z commented on #70497
It's been over 2 months, so closing this. Feel free to open a new one if the issue still exists.

[2022-04-19 07:39] #70497 closed

[2022-04-19 07:41] chengjunlu commented on #68876
@malfet
The latest pytorch has refactor the THP Storage to the untyped storage.
But the untyped storage (legacy ByteStorage) still has some coupled code in CUDA and CPU.
Do you think it is possible to decouple the code further and reuse the code for other backend extension out tree?

By doing so we can remove all the legacy things in generic/*

[2022-04-19 07:52] kyoungseoun-chung commented on #75992
I have coda version 11.6 and PyTorch is working without any problem.

But I guess by default, PyTorch is delivered with CUDA version 10.x.

Could you install PyTorch with following command? (in the website explicitly configure CUDA version to 11.3)

[code]

Hope this can help you.

[2022-04-19 08:05] fatcat-z opened #76022 "[ONNX] torch.minimum() could not be exported successfully if given parameters have different dtypes."
### 🐛 Describe the bug

If the parameters of torch.minimum() are two different integer formats, like int16 and int32. The final ONNX file could not be inferenced by ORT successfully. Because the Min op in ONNX needs the two parameters has the exact same data format.

### Versions

torch=1.11.0
onnxruntime=1.11.0

[2022-04-19 08:17] nitishsaDire commented on #17023
I tried downloading PyTorch from conda and it was taking a lot of time with a speed of less than 100kbps.
Then I canceled it midway and again tried to download, but the speed was increased to 1mbps.

[2022-04-19 08:26] jinfagang opened #76023 "How to disable check onnx in torch.onnx.export in pytorch1.11 version?"
### 📚 The doc issue

Old params were removed, now how to disable check on onnx when export?

### Suggest a potential alternative/fix

Also, why disable this feature? Some onnx using customized op can not pass check.

[2022-04-19 08:58] kaiyaointel commented on #39633
@jansel Hi Jason, Could you share some experiences on what kinds of jit.script failure cases is out there? I'm also looking to collect some jit.script failure cases because it seems like there's a lot of categories... Would you happen to have a summarization on this? Thanks a lot for your time

[2022-04-19 09:05] haozhihang123 opened #76024 "The prediction results of different equipment are inconsistent"
### 🐛 Describe the bug

I trained a RESNET classification network in torchvision in the environment of server (Titan XP GPU), with an accuracy of more than 90%. I hope I can reason on my own laptop (Windows). But the reasoning result of the notebook has always been Nan. The reasoning result on the server side is normal.
In order to find the problem, I checked the model weight and input image in de

[2022-04-19 09:10] ptrblck commented on #74985
FYI: `cmake-3.23.1` is now available which fixes the issue

[2022-04-19 09:21] Zeqiang-Lai opened #76025 "Numerical instability: matrix multiplication got different results on cpu and gpu"
### 🐛 Describe the bug

matrix multiplication got different results on cpu and gpu, `5.5665e-06` difference.

Here is a minimal example

[code]

### Versions

pytorch 1.10.1
cudatoolkit 11.3.1

[2022-04-19 09:25] MFizz opened #76026 "Jit torchscript for prediction is missing 'forward' when using forward hooks"
### 🐛 Describe the bug

I'm using forward hooks to extract layer values from a pre-trained CNN and use them as features for my model. I also want to use torchscript for inference. The problem is that when I try to export any other method than 'forward' I get an error that 'forward' is missing for the registered forward hooks. I have a minimal example:

[code]

This fails with:

[code]

If I deregi

[2022-04-19 09:27] ptrblck commented on #76025
Could you post the output of `python -m torch.utils.collect_env`, please?
An error of `~1e-6` might be expected, but given that your input values are not drawn from a gaussian, the error might be too large.
On a 3090, I get:
[code]

[2022-04-19 09:31] ptrblck commented on #76020
You might be hitting this issue: https://github.com/pytorch/pytorch/issues/67864 with a tentative fix in https://github.com/pytorch/pytorch/pull/72232.
Could you install the latest nightly binary and check if you are still hitting this issue, please?

[2022-04-19 09:32] ptrblck commented on #76025
@Zeqiang-Lai
I'm using a different release (the 11.5 binaries), which might explain the difference.
Could you disable TF32 via:
[code]
and rerun your code?

[2022-04-19 09:34] Zeqiang-Lai commented on #76025
Cool, disable TF32 gives tolerable difference now.
[code]

[2022-04-19 09:38] ShiinaMitsuki commented on #76010
Could u share the command u used compiling from source?

[2022-04-19 09:49] PerrySchool opened #76027 "Torchvision - crash during import"
If I do

`import torchvision`

program crashed with `Windows fatal exception: access violation` and

[code]

### Versions

Torch installed via
`pip3 install torch torchvision torchaudio --extra-index-url https://download.pytorch.org/whl/cu113`

collect_env.py:
[code]

[2022-04-19 09:52] ptrblck commented on #75862
@FrancescoSaverioZuppichini your question seems to be quite similar to [this one](https://discuss.pytorch.org/t/groupnorm-num-groups-1-and-layernorm-are-not-equivalent/145468/2?u=ptrblck) which was answered by @Atcold.

Using the suggested approach yields the same results:
[code]

PS: I would generally recommend to post these questions into the discussion board.

[2022-04-19 09:58] pearu opened #76028 "A bug in instructions for building PyTorch with ASAN"
Following instructions in https://github.com/pytorch/pytorch/blob/master/CONTRIBUTING.md#building-pytorch-with-asan , the build fails at the CMake step:
[code]

The problem is in
https://github.com/pytorch/pytorch/blob/bd7e99cbb9e7980b89c26ae3fa5596f6e4aaebc4/CONTRIBUTING.md?plain=1#L1150
where `CXX_FLAGS` is spelled wrong and `-shared-libasan` is missing.

A fix is the replace the above line with

[2022-04-19 10:09] ptrblck opened #76029 "Mobile assets upload could break third party mirrors due to binary data size"
### 🐛 Describe the bug

https://github.com/pytorch/pytorch/pull/74947 added mobile assets which seem to be used in mobile unit testing via https://github.com/pytorch/pytorch/pull/74793.
The total size increase using these binary files is ~88MB, which sounds undesirable in a source code repository, given these files are used for testing (please correct me if I'm wrong about their usage).

`GitLab`

[2022-04-19 10:20] zelhar opened #76030 "Dirichlet with small concentration"
### 🐛 Describe the bug

When sampling from Dirichlet distribution with a low (<<1) concentration, it returns in about 1/K of the times (K=number of categories) the vector 1/K*(1,1,1,...) i.e (1/3,1/3,1/3) for 3 categories. This shouldn't be the case as the samples are supposed to
be concentrated on the vertices of the simplex.

Example code:

[code]

### Versions

--2022-04-19 12:19:37--  https://

[2022-04-19 10:56] trifasico opened #76031 "Computer using CPU instead of GPU nvidia with CUDA"
### 🐛 Describe the bug

Using the YoloV5, it seems that it is using entirely the CPU and not the GPU, and I can't seem to understand why...
I have already opened an issue in the YoloV5 repository (https://github.com/ultralytics/yolov5/issues/7277), but it seems to be a PyTorch problem... Can someone help me?
Here is the problem and some videos.
I have been working with yolov5 for quite some time n

[2022-04-19 10:56] trifasico commented on #76031
Cuda versions
![image](https://user-images.githubusercontent.com/7412891/163989068-9831fa1e-9e04-4dcd-870d-a124a9e8ab1e.png)

[2022-04-19 10:57] trifasico commented on #76031
Videos showing the problem

https://user-images.githubusercontent.com/7412891/163989113-bf718a3a-50a5-4dc0-9f75-8ef43a3d5459.mp4

https://user-images.githubusercontent.com/7412891/163989123-aaa3533a-5c66-4cf2-8cd8-d38961c51a4d.mp4

[2022-04-19 11:43] PerrySchool commented on #76031
It seems, that you have only the CPU versions of the Torch libraries.
My GPU torch instalation shows this:

[code]

[2022-04-19 11:50] codgeek opened #76033 "Awful official IOS benchmark tutorial from pytorch.org"
### 🐛 Describe the bug

The IOS benchmark tutorial  from official website does not work.
 [https://pytorch.org/tutorials/recipes/mobile_perf.html#benchmarking](https://pytorch.org/tutorials/recipes/mobile_perf.html#benchmarking)

↓ tutorial begin
<img width="860" alt="image" src="https://user-images.githubusercontent.com/20918280/163996792-e8737c24-2cd5-4e36-b71f-e4eabe99368e.png">
↑  tutorial end

[2022-04-19 12:08] georgeyiasemis commented on #75658
The solution worked! Thank you!

[2022-04-19 12:08] #75658 closed

[2022-04-19 12:18] A-tA-v opened #76034 "python3 -OO option does not work"
### 🐛 Describe the bug

My scripts depend on PyTorch, although I do not use it at the moment.
When I try optimization options, the **python3 -OO ...** fails but **python3 -O ...** is fine.
This was checked on MacOS and RedHat 7, Anaconda environment 4.12, python 3.9.12, **pytorch 1.10.2**.
The output:
[code]

### Versions

Collecting environment information...
PyTorch version: 1.10.2
Is debug buil

[2022-04-19 12:57] trifasico commented on #76031
Collecting environment information...
PyTorch version: 1.11.0+cu113
Is debug build: False
CUDA used to build PyTorch: 11.3
ROCM used to build PyTorch: N/A

OS: Microsoft Windows 10 Pro
GCC version: Could not collect
Clang version: Could not collect
CMake version: Could not collect
Libc version: N/A

Python version: 3.9.12 (tags/v3.9.12:b28265d, Mar 23 2022, 23:52:46) [MSC v.1929 64 bit (AMD64)] (6

[2022-04-19 12:58] trifasico commented on #76031
Sorry, I sent the wrong parameters before, but the problem still presists

[2022-04-19 13:11] trifasico commented on #76031
https://user-images.githubusercontent.com/7412891/164011529-8c304b78-78f1-43a8-a06f-b71199094c04.mp4

[2022-04-19 13:20] #75735 closed

[2022-04-19 13:25] ezyang opened #76037 "__torch_function__ and generator input hazard"
### 🐛 Describe the bug

Generators in Python are a one-shot business: you can iterate through them once, and then that's it; they'll silently return an empty list upon subsequent iterations. Generators cause trouble for `__torch_function__`, where we may need to iterate through a list multiple times to detect Tensor subclass arguments.

In general, list-accepting PyTorch functions that are bound f

[2022-04-19 13:34] Ierezell commented on #75458
Hi @leslie-fang-intel,

I got the problem with `allenai/macaw-3b` (I know it's a bit borderline and it's a huge model)

Here is a snippet :

[code]

With this piece of code, without bf16, it runs on CPU and GPU.
When using Bfloat16 on GPU it worked fine but when using bfloat16 (by mistake) on CPU then it "froze".

Note that on CPU without bf16 I was able to get the inference in less than 30s but I

[2022-04-19 13:46] #75218 closed

[2022-04-19 13:59] PerrySchool commented on #76027
I have found, that problem is not torchvision directly, but PIL `from PIL import ImageFont`. I was using PIL 9.1.0.
When I changed PIL to 8.0.0, the problem is gone.

[2022-04-19 14:04] #75781 closed

[2022-04-19 14:06] albanD commented on #75912
That looks like the problem happens on exit of the C++ binary and within llvm you try to free some object that has an invalid pointer.
So nothing pointing to pytorch there.

[2022-04-19 14:24] liuyanhe86 commented on #76020
OK, thanks very much

[2022-04-19 14:28] peterbell10 commented on #75746
@Eddowesselink any more info on this part:

[2022-04-19 14:40] lichao0613 opened #76039 "[RFC] NPU device for PyTorch"
### 🚀 The feature, motivation and pitch

NPU is device abstraction of Ascend Neural Networks Process Units.
NPU works as a normal torch device like CPU, GPU and XPU, so PyTorch users can easily migrate model scripts to perform model training/inference on NPU.

The enabling of NPU contains two parts:
1. registering a new 'NPU' device type to PyTorch, which is the focus of this RFC;
2. implementatio

[2022-04-19 14:47] neerajprad commented on #58774
Closing this as this should have been fixed by @dme's PR - https://github.com/pytorch/pytorch/pull/73980 which should be available on nightly. Please reopen if you continue to see any issues.

[2022-04-19 14:47] #58774 closed

[2022-04-19 15:02] #75892 closed

[2022-04-19 15:09] janeyx99 commented on #75169
@seemethere's fix would fix the problem for passing ROCm tests, but the no test reports error still occurs for jobs with failed instances. This is bad because the test stats would miss out on all the red signal stats, which are just as crucial if not more crucial than the green signal stats.

An example: https://github.com/pytorch/pytorch/runs/6058741074?check_suite_focus=true

[2022-04-19 15:09] janeyx99 commented on #75169
@jeffdaily  linking you for context

[2022-04-19 15:20] jaynanavati-az commented on #1550
Is there any update of torch.mm(S,S) in PyTorch?

[2022-04-19 15:21] malfet opened #76042 "Re-running test jobs does not work"
### 🐛 Describe the bug

Re-run from failed does not seem to work correctly if only test job have failed, see https://github.com/pytorch/pytorch/runs/6079730056?check_suite_focus=true which is a re-run of https://github.com/pytorch/pytorch/runs/6071290013?check_suite_focus=true

### Versions

CI

cc @seemethere @malfet @pytorch/pytorch-dev-infra

[2022-04-19 15:35] FutureOpenAI opened #76043 "RuntimeError: bucket_count == per_bucket_sizes.size() INTERNAL ASSERT FAILED"
### 🐛 Describe the bug

When training with 4GPUs by using DDP, my program have the following errors:
[code]
Other information:
1. If I train the model with batch size 1 on each GPU, the model will throw the above error
2. If I train the model with batch size 10 on each GPU, the model will be blocked at `loss.backward()` with 100% CPU utilization.
3. If I do not use DDP, the model can be trained su

[2022-04-19 15:51] davidberard98 opened #76046 "NVFuser opinfos failing accuracy & dtype checks"
### 🐛 Describe the bug

Failing from https://github.com/pytorch/pytorch/runs/6070354238?check_suite_focus=true

These began failing after fixing the issue with opinfo configurations that was preventing the nvfuser code from actually running (it seems like it would compile, but it would never run)

Accuracy:
* test_nvfuser_correctness__masked_var_cuda_float16
* test_nvfuser_correctness_lerp_cuda_fl

[2022-04-19 15:53] anjali411 commented on #76027
closing this issue since it seems resolved

[2022-04-19 15:53] #76027 closed

[2022-04-19 15:56] davidberard98 opened #76047 "NNC failing opinfo accuracy tests"
### 🐛 Describe the bug

These started failing after fixing the opinfo tests so that the NNC-fused kernels would actually run.

See https://github.com/pytorch/pytorch/runs/6070298059?check_suite_focus=true for the full logs.

Failing tests:
* [ ] test_nnc_correctness_addcmul_cpu_int16
* [ ] test_nnc_correctness_addcmul_cpu_int32
* [ ] test_nnc_correctness_addcmul_cpu_int64
* [ ] test_nnc_correctnes

[2022-04-19 16:15] jansel commented on #39633
@kaiyaointel,

The source code I used to crawl github and find errors is here:
https://github.com/jansel/pytorch-jit-paritybench

I haven't touched it since 2020, but it should be easy to get setup and generate a updated list of TorchScript errors.

[2022-04-19 16:17] jjsjann123 commented on #76046
This one looks fun.

From looking at accuracy, seems to be just numerical issue with float16. We do promote math to fp32 inside kernel... maybe that's the reason for the diff.
[code]

dtype will be fun... :) Natalia also pointed this out in the other clamp issue. We can try to patch it in type propagation, but I think it would make more sense for us to peek at the profiled dtype (when it's availab

[2022-04-19 16:24] thiagocrepaldi commented on #75623
[ONNX Runtime python frontend](https://github.com/microsoft/onnxruntime/pull/10700) depends on this feature

[2022-04-19 16:29] jbschlosser commented on #74437
@sklin93 your changes look good, but I'd recommend one tweak to reduce memory usage. Instead of:
[code]

you should do:
[code]

The former allocates memory for a tensor of shape `weight_shape` with undefined values, while the latter allocates memory for only a single element and views it as the correct shape.

[2022-04-19 16:32] jbschlosser commented on #67528
Note that Python 2.x is not supported by PyTorch.

[2022-04-19 16:36] #76022 closed

[2022-04-19 16:39] fritzo commented on #76030
`Dirichlet.sample()` depends on `Gamma.sample()` which is numerically unstable at low concentration.  Have you tried using double precision?

[2022-04-19 17:05] lanking520 commented on #76010
@peterbell10

I managed to reproduce this in a very minimal way:

1. Download PyTorch C++ GPU binary on Windows

2. Create a CMakeLists.txt

[code]

3. Make a dummy `benchmark.cpp`

[code]

4. test run

[code]

This will bring back exactly the same issue and 1.10.2 just works fine. You can clearly see all CUDA dependenceis has been found in 1.10.2 build and failed in 1.11.0.

### Failed 1.11.0 log

[2022-04-19 17:08] lanking520 commented on #76010
And with what you asked for:

[code]

[code]

[2022-04-19 17:15] zhao-yiqun opened #76051 "Can 'aten::to_dense' be suppored by 'CUDA' backend"
### 🚀 The feature, motivation and pitch

I have run my code on CUDA 11.3 with torch '1.10.1+cu113':

sp_attn = torch.sparse_coo_tensor(i, V, (Nt, Ns) )
out = sp.mm(sp_attn, V).to_dense()

however, I have got a CUDA error like this:
NotImplementedError: Could not run 'aten::to_dense' with arguments from 'CUDA' backend.

I think the sparse matrix is more and more useful, especially with the transfor

[2022-04-19 17:16] dzdang commented on #75009
looks like the upgrade solved the issue, will close

[2022-04-19 17:16] #75009 closed

[2022-04-19 17:20] younesbelkada opened #76052 "LayerNorm does not give exactly the same result on GPU vs on CPU"
### 🐛 Describe the bug

Hi there!
`nn.LayerNorm` seem to not output exactly the same tensors when ran on CPU vs on GPU. I have seem some issues with numercial instability of `nn.LayerNorm` so I guess it might be related. Here is a snippet to reproduce the bug:
[code]

### Versions

Collecting environment information...
PyTorch version: 1.10.0+cu111
Is debug build: False
CUDA used to build PyTorch:

[2022-04-19 17:25] suo commented on #66178
# 4/11–4/18
## No PR signal
5878215133 Revert "Port `sort` to structured kernels."
3c238c6c5a Revert "Add support to `Tensor[]?` for structured kernel codegen."
cc1902a5ed Revert "Add warning when importing caffe2 on build without BUILD_CAFFE2=1"
3471b0eb3d Revert "Remove histogramdd functional wrapper"
80e05b7df4 Revert "Extend sign-compare warnings to gcc"

## Ignored signal
d79d9fa283 Revert "R

[2022-04-19 17:29] peterbell10 commented on #76010
Okay, so it's not specific to PyTorch's CMake files but a general CMake problem. The only reason it didn't show up before was we only started using the modern version of CMake's CUDA support in 1.11.

From this [stack overflow question](https://stackoverflow.com/questions/56636714/cuda-compile-problems-on-windows-cmake-error-no-cuda-toolset-found) it looks like there is a visual studio integration

[2022-04-19 17:31] zhaojuanmao commented on #75893
@sisilmehta2000 https://github.com/pytorch/pytorch/pull/75977 can definitely help, meanwhile you can construct a GPU model by yourself like this?  self.layer = torch.nn.Sequential(
            torch.nn.Linear(32, 32), torch.nn.ReLU(), torch.nn.Linear(32, 2), device=...,
        )

The fundamental issue is that FSDP expects a GPU model when cpu offloading is not enabled for apply()/forward()

[2022-04-19 17:35] zhao-yiqun commented on #76051
I don't whether it is a bug caused by torch.sparse.mm(). Because when I use the to_dense() directly after constructing a sparse tensor, it is ok. However, when I use to_dense() after torch.sparse.mm(), it will not be ok.

[2022-04-19 17:43] holl- commented on #75655
I have updated the example script above to clarify that this behavior occurs every time the traced function is called. This has nothing to do with `check_trace`, the function is only traced in the beginning.

[2022-04-19 17:55] jjsjann123 commented on #73448
Looks like PR #75284 should have fixed this one?

[2022-04-19 17:58] davidberard98 commented on #73448
Yeah, thanks for reminding me!

[2022-04-19 17:58] #73448 closed

[2022-04-19 17:58] #73620 closed

[2022-04-19 18:01] robieta commented on #75369
Unset. All my CUDA environment variables are:
[code]

[2022-04-19 18:14] cpuhrsch commented on #76051
Hello @zhao-yiqun - Could please try again with a nightly? If it succeeds then it'll have been resolved in the upcoming release.

[2022-04-19 18:30] seemethere commented on #75992
There's no plans to publish binaries for CUDA 11.4 since CUDA 11.3 binaries have been shown to work with CUDA 11.4

Closing this issue since we're not planning on building specifically for CUDA 11.4

[2022-04-19 18:30] #75992 closed

[2022-04-19 18:43] pytorch-bot[bot] opened #76061 "DISABLED test_success (__main__.ForkTest)"
Platforms: linux

This test was disabled because it is failing in CI. See [recent examples](http://torch-ci.com/failure/test_success%2C%20ForkTest) and the most recent trunk [workflow logs](https://github.com/pytorch/pytorch/runs/6082340629).

Over the past 3 hours, it has been determined flaky in 1 workflow(s) with 1 red and 3 green.

cc @VitalyFedyunin

[2022-04-19 18:48] #75932 closed

[2022-04-19 18:59] zelhar commented on #76030
@fritzo,

Do you mean, passing a torch.double type as the concentration argument? If that is what you mean it didn't help.
I understand this is an issue of numerical stability so may I suggest to add a warning in the documentation about it?

[2022-04-19 19:45] t-vi commented on #75852
I'll be fixing this soon, I'm still pondering whether to livestream it or just record a video. :)

[2022-04-19 19:46] ezyang commented on #75369
err, specifically, what does cmake report it as?

[2022-04-19 19:55] IvanKobzarev commented on #65761
I have a draft PR to support this:
https://github.com/pytorch/pytorch/pull/75822

[2022-04-19 20:10] awgu opened #76063 "`make quicklint` no longer runs `mypy`"
I am not sure if this is the right place to ask, but I think after https://github.com/pytorch/pytorch/pull/68460, `make quicklint` no longer runs `mypy`. Is this change intentional? What is the recommended way to run `mypy` only on locally-changed files?

cc @ezyang @malfet @rgommers @xuzhao9 @gramster

[2022-04-19 20:13] dayyass opened #76064 "No documentation for unpack_sequence and unpad_sequence functions"
### 📚 The doc issue

torch 1.11.0 added two functions (torch.nn.utils.rnn module):
- unpack_sequence
- unpad_sequence

But there is no documentation for them except docstrings.
How could I add it?

P.S. Docstrings would be sufficient for it.

### Suggest a potential alternative/fix

_No response_

cc @svekars @holly1238 @albanD @mruberry @jbschlosser @walterddr @kshitij12345 @saketh-are @zou3519 @

[2022-04-19 20:14] apple2373 commented on #16897
I also want this function

[2022-04-19 21:10] ShivamPR21 opened #76069 "`init_process_group` hanging on HPC multi-node system w GPU"
### 🐛 Describe the bug

Hi! I was trying to train the model with `torch.nn.parallel.DistributedDataParallel` on an HPC instance with 4 nodes, and 1 GPU per node. But the model verification program hangs for hours when encountered with `init_process_group`.

Here is the program to reproduce the same error, I have tried to explore the previous issues but no success till now.

[code]

### Versions

C

[2022-04-19 21:16] davidberard98 opened #76070 "NVFuser microbenchmark classifier - hash on memory formats"
### 🚀 The feature, motivation and pitch

in https://github.com/pytorch/benchmark/blob/main/torchbenchmark/util/classify_graphs.py, we should consider memory formats (e.g. stride orders) as part of the hash. This will separate fusion groups that have different memory formats.

### Alternatives

_No response_

### Additional context

_No response_

[2022-04-19 21:31] albanD commented on #76052
Hi,

This is expected that they're not exactly the same. You can only expect them to be close I'm afraid.
More detailed doc on this is at: https://pytorch.org/docs/stable/notes/numerical_accuracy.html

[2022-04-19 21:32] albanD commented on #76024
Hi,

Small differences are expected, see this doc for details: https://pytorch.org/docs/stable/notes/numerical_accuracy.html
Being nan sounds bad though. You should make sure that the data inputs are actually the same on both machines.

[2022-04-19 21:36] albanD commented on #76034
My understanding is that the `-OO` option is remove all the docstring? So it is possible that a lot of our code fails today.
We would be happy to accept a PR fixing such issues to make sure you can run pytorch with -OO.

In this case, I think we can simply check if the `__doc__` is `None` and only format it if it exists.

[2022-04-19 21:45] seemethere commented on #67528
@jbschlosser is correct, this appears to be a Python 2.7 issue and we do not currently support building with Python 2.7 so going to close

If you find the problem persists with Python 3.7+ feel free to open a new issue!

[2022-04-19 21:45] #67528 closed

[2022-04-19 21:52] jerryzh168 commented on #73738
I think we are sharing the observer with inputs currently so dtype doesn't matter for this config, https://github.com/pytorch/pytorch/blob/master/torch/ao/quantization/fx/prepare.py#L1254

but I also didn't find a PR that explicitly refers to this issue, I'm not sure what this item means

[2022-04-19 21:55] jerryzh168 commented on #73738
is this issues saying we should just set the dtype of the reuse qconfig to the dtype of input? I feel that might be not very practical since it requires knowledge of what is the qconfig of the previous op, which is a bit hard to get. maybe we can just set dtype to None or something for this observer?

[2022-04-19 22:10] CryoSky opened #76071 "HIPFFT_EXEC_FAILED when using AMD GPU run FFT"
### 🐛 Describe the bug

When running the following function in my code, it reports an error:

The code is:
[code]

The patterson and electron_density are all tensors.

The error is:
Traceback (most recent call last):
  File "20220418_draft_seblock_20.py", line 274, in <module>
    loss5 = fft_loss(x, yhat)
  File "20220418_draft_seblock_20.py", line 187, in fft_loss
    f1 = torch.fft.fftn(electro

[2022-04-19 22:44] BowenBao commented on #75252
Thanks @8scarlet8, unfortunately I couldn't think of an easy fix. It turns out PyTorch "considers" batchnorm as training, when both running stats are None https://github.com/pytorch/pytorch/blob/839109f689a582e61611b9f88f2f528c90d42b63/torch/nn/modules/batchnorm.py#L161
https://github.com/pytorch/pytorch/blob/839109f689a582e61611b9f88f2f528c90d42b63/torch/nn/modules/batchnorm.py#L177
So from kerne

[2022-04-19 22:51] robieta commented on #75369
Oops. Sorry.
[code]

[2022-04-19 23:04] rohan-varma commented on #75676
Discussed with Less offline, pasting result from discussion here:

[2022-04-19 23:12] ngimel commented on #76020
Tentatively closing as duplicate

[2022-04-19 23:12] #76020 closed

[2022-04-19 23:22] rohan-varma commented on #75666
@zhaojuanmao Although, we'd still want to ensure that after they're serialized, they are checkpointed by DDP right, so they need to be included into state_dict?

[2022-04-19 23:23] eellison commented on #75794
Hmm, thank you for the concise repro!

I think this is because we are not [mapping from block outputs to block inputs](https://github.com/pytorch/pytorch/blob/master/torch/csrc/jit/ir/alias_analysis.cpp#L969). Interestingly, a prior implementation [did handle this correctly,](https://github.com/pytorch/pytorch/blame/dff8165d04f589dcaca42b76650340e220628f40/torch/csrc/jit/passes/alias_analysis.cpp#

[2022-04-19 23:24] BowenBao commented on #76023
Hi @jinfagang , consider setting `operator_export_type=OperatorExportTypes.ONNX_FALLTHROUGH`, if you want to skip checker.

Using customized ops should still pass the check though, as long as their respective domains are recorded in the `graph_proto.opset_import`. This should be covered by exporter by default. Could you share a simple repro for us to have a look?

[2022-04-19 23:30] dashesy commented on #23377
The problem is that this makes it difficult to export/trace a model in CPU. It is useful to export a model to ONNX in a machine without CUDA. The final model is going to be run on CUDA.

Plus, some models are too big to run on a machine with normal graphics cards.

[2022-04-19 23:35] ngimel commented on #76012
You are mislabeling ln_permute2_time and ln_ln_time in your script, if fixed then ln time itself is much smaller than custom ln time:
[code]
gives
[code]
If your model was in channels-last format to begin with, you wouldn't need to pay permutation cost.
We have an issue open for layerNorm to work on arbitrary dimension #71465

[2022-04-19 23:37] dashesy commented on #59640
I added this to the other issue #23377  because it is related to ONNX

[2022-04-19 23:40] sklin93 commented on #74437
thank you!

[2022-04-19 23:41] ptrblck commented on #76069
Was this setup working before or is this a new node?
In the former case, could you describe what might have changed between the working status and the hanging one?
Could you also check for NCCL errors via `export NCCL_DEBUG=INFO`? If no errors are shown, could you check if IOMMU is enabled and disable it as described [here](https://docs.nvidia.com/deeplearning/nccl/user-guide/docs/troubleshooting.

[2022-04-19 23:52] jjsjann123 commented on #76046
Do tests error out on ToT master, I think the PR that enables them have been merged already but Ryan seems to not get the repro. cc'ing @rdspring1

[2022-04-19 23:55] ngimel commented on #75369
cc @peterbell10. Peter, in #62445 you've updated CMake to use native cuda support, can it be used to reliably find the correct cupti library? Currently it looks like search for cupti is done in an ad-hoc way. Also, can our copy of FindCUDA be deleted now?

[2022-04-19 23:58] xuanlinli17 commented on #76012
After fixing the label, if I remove `contiguous()` in the two permutations then the permutation cost is very small, but the layernorm will now take more time than the custom layer norm

[code]

[2022-04-20 00:04] ngimel commented on #76012
Yes, existing LayerNorm is efficient only for contiguous tensors that have to be normalized over last dimension, removing `.contiguous` just shifts that necessary data movement to other places.

[2022-04-20 00:27] glenn-jocher commented on #23377
@dashesy I think this is answered well in https://github.com/pytorch/pytorch/issues/23377#issuecomment-515833386. PyTorch simply does not support FP16 CPU ops.

[2022-04-20 00:51] leslie-fang-intel commented on #75458
Thanks @Ierezell. From the snippet of code, we didn't see obviously error.
Since we suspect there are some BF16 kernels which are extreme slow, could you kindly provide more information for us to reproduce:
1. Model repo and steps to run the model, then we can profiling the model performance.
2. The pytorch version and CPU information(use command of `lscpu` may be the first step to check cpu infor

[2022-04-20 00:58] dashesy commented on #23377
@glenn-jocher I understand. It doesn't support currently. But there is a good rationale to support it: test, and export.

[2022-04-20 01:30] Chillee commented on #75932
To clarify for posterity, we are no longer resurrecting in `tp_clear` - instead we simply check for "resurrectability". If it's resurrectable we don't clear it. See the original comment for rationale.

[2022-04-20 01:30] ezyang commented on #75369
yeah, just need to find the correct libcupti. Just to confirm, I hope /usr/local/cuda-11.0/extras/CUPTI/lib64/libcupti.so (or something similar) exists on your system

[2022-04-20 01:42] davidberard98 commented on #76046
sorry, PR hasn't been merged yet https://github.com/pytorch/pytorch/pull/76000

[2022-04-20 01:45] peterbell10 opened #76082 "Eliminate uses of deprecated `FindCUDA.cmake`"
`find_package(CUDA)` is the legacy way of using CMake to build CUDA code and was deprecated in CMake 3.10. #62445 transitioned over to `enable_language(CUDA)` which gives first class support for `CUDA` as a language in CMake.  However, `find_package(CUDA)` is still being used to locate the CUDA toolkit libraries. This is potentially dangerous because we have two different mechanisms searching for

[2022-04-20 01:47] peterbell10 commented on #75369
I've opened #76082 to track modernizing the CUDA toolkit search. Will see if the situation can be improved.

[2022-04-20 01:51] hanlint opened #76086 "Torchscript: nonexistent 'momentum' for BatchNorm"
### 🐛 Describe the bug

Attempting to access the attribute `momentum` from the `BatchNorm` pytorch class results in an error. Minimal example:
[code]

throws an error:
[code]

The Torchscript Language Reference notes that this occurs when attempting to access an attribute that is not being set during `__init__`, however, the momentum _is_ being set by the base class here: https://github.com/pytorc

[2022-04-20 02:31] 103yiran commented on #75722
Thanks for your answer. I am not familiar with torch.onnx.export() function, can you please share more details

[2022-04-20 02:34] ShiinaMitsuki opened #76087 "LINK ERROR compiling pytorch1.11.0 on windows with CUDA11.5 CUDNN8.2"
### 🐛 Describe the bug

Building pytorch1.11.0  from source on windows with CUDA11.5 and CUDNN8.2 failed with LINK2019 error when compiling torch_cuda.dll and torch_cuda.lib

# Error log

[pytorch-1.11.0-cuda115-cudnn82-ninjia.txt](https://github.com/pytorch/pytorch/files/8517811/pytorch-1.11.0-cuda115-cudnn82-ninjia.txt)

# How to reproduce this?

- windows 10 with Visual Studio 2019
- install CU

[2022-04-20 02:43] jinfagang commented on #76023
@BowenBao thanks for your suggestion.

I registered this op in my program (not torch source code):

[code]

but when I export, the checker still claims there is no such op registered, while the onnx can generate (I catch the error and make it won't raise), does there a way to make checker don't raise error? Also ,I dont know why it can not recognise my register

[2022-04-20 03:19] jinfagang opened #76088 "The shape inference of ::LearnablePerTensorAffine type is missing, so it may result in wrong shape inference for the exported graph. Please consider adding it in symbolic function."
### 🐛 Describe the bug

[code]

Why this wanring appear when export onnx?

How to avoid it? Examples on how to add for cstomized symbolic function?

### Versions

torch1.12

[2022-04-20 03:33] zhao-yiqun commented on #76051
Hi, @cpuhrsch - I have tried it again with the nightly. It succeeds. However, unfortunately,  some other functions are not stable in the nightly version. Thus, I hope the upcoming release cam come out soon. Thank you very much

[2022-04-20 03:34] blackmamba1122 commented on #56747
Same problem,
I got the UserWarning when i try to training tacotron2 with ljspeech. the warning is as below:

[code]

and after epoch 8/1000 in step 1886/3243 i got error like this:

[code]

Is that the cause of the error? how to handle it?

### Environment
{
"CUDA": {
"GPU": [
"NVIDIA GeForce GTX 1660 Ti"
],
"available": true,
"version": "10.2"
},
"Packages": {
"PyTorch_debug": false,
"PyTorch_ve

[2022-04-20 05:07] hshaikqct commented on #74016
i am running into the same issue "'NoneType' object has no attribute '_free_weak_ref'" while training yolov5 model on custom data.
Any update on resolution?

[2022-04-20 07:00] erikbylow-vol opened #76094 "Address out of range for architecture x86_64"
### 🐛 Describe the bug

When trying to install Pytorch on my Mac by following the instructions I get

[code]

What I did:
[code]

[code]

[code]
I also tried
[code]

Both approaches gave the same error.

System:
- xcode-select version 2395.
- Version: macOS Monterey 12.3.1 (21E258)
- MacBook Pro (16-inch, 2019)
- Processor: 2,6 GHz 6-Core Intel Core i7
- memory: 16 GB 2667 MHz DDR4

### Versions
P

[2022-04-20 07:19] ShiinaMitsuki commented on #76087
It seems somehow the VS did not compile the `.cu` file thus cause this LINKING error.

Anyone has a clue how to fix this?

[2022-04-20 07:20] ysahil97 commented on #75502
Hi

I am a beginner open source contributor and would like to work on this issue.

[2022-04-20 07:22] SnoozingSimian commented on #61263
@garymm Is there any update on this?

[2022-04-20 07:43] ShivamPR21 commented on #76069
@ptrblck `lspci -vvv | grep ACSCtl` outputs nothing, if that mean IOMMU disabled??

[2022-04-20 07:55] younesbelkada commented on #76052
Ok I see, thanks for the quick reply!

[2022-04-20 07:55] #76052 closed

[2022-04-20 08:47] kaiyaointel commented on #39633
@jansel  Thank you so much. That seems a very useful tool! 😊😊

[2022-04-20 09:10] visualxu opened #76095 "memory cross-border access on the ROCM platform"
### 🐛 Describe the bug

I found that the following code will have the risk of memory cross-border access on the ROCM platform:

https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/cuda/Embedding.cu#L102

[code]

I think the following code is more secure:

[code]

root cause of this issue:

https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/cuda/Embedding.cu#L282

i

[2022-04-20 09:28] Demborg commented on #76094
I am running the same environment and get the same issue. Any insight would be very appreciated

[2022-04-20 09:29] visualxu commented on #76095
https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/cuda/Embedding.cu#L282

indices_batch_shm_size = 64 * 16 * sizeof(accscalar_t) :
[code]
if n = 1024 in ROCM , the last loop is :
[code]

[2022-04-20 10:11] Howe-Young commented on #47885
upgrade your GPU Driver version >= 455.23

[2022-04-20 10:32] Ajk4 commented on #50688
torch.scan would introduce additional 'metadata' to the computation compared to regular python loop.

For example we know that we go over the data left-to-right not doing random access. Or that we have aggregations.

I would imagine that using those additional constraints/metadata it might be possible to have better performance.

It's not great that we have only access to predefined scan functions

[2022-04-20 10:56] Ajk4 commented on #33152
Can we add to the list log1p and logcumsumexp? I see those missing and in my use case I actually need those for complex numbers.

Logcumsumexp for complex looks similar like double implementation, but in scan-loop we need to select min/max based on real part of complex. More context here https://scicomp.stackexchange.com/a/34275

[2022-04-20 11:19] Lezcano commented on #33152
I do not think there is a simple way to add complex support `log1p` as the standard library in C++ [does not support](https://en.cppreference.com/w/cpp/numeric/math/log1p) it either, and we rely on it for our support.

For this reason, I don't think we can implement a reasonably stable complex version of `logcumsumexp`, as it uses `log1p` internally
https://github.com/pytorch/pytorch/blob/6642e88a

[2022-04-20 11:22] Ajk4 commented on #33152
About log1p it might not be hopeless. I noticed some abandoned PR from year ago implementing it.

LINK: https://github.com/pytorch/pytorch/pull/38465

[2022-04-20 12:35] RossStream opened #76101 "Could NOT start training on RTX A6000 but runs well on TITAN RTX and 2080ti"
### 🐛 Describe the bug

Hello,

We meet a problem when we try to train our model on NVIDIA RTX A6000 GPU server.
The same code runs smoothly on GeForce RTX 2080 Ti and TITAN RTX servers.

We use totally the same conda virtual env for all servers, but after we run our code by "python train.py", normally on 2080 Ti and TITAN RTX, all the parameters of our model would be load to the GPUs (take like 3

[2022-04-20 12:58] phisad commented on #39250
This still persists for me as well.
[code]

[2022-04-20 12:59] erikbylow-vol commented on #76094
Update: In another repo I get the same error when trying to link to pytorch etc. There I made a minimal case and managed to build when I removed linkning to libtorch_cpu.a.

I can see that we have `libtorch_cpu.dylib` in the `setup.py` script. Maybe that is the cause of the error?

[2022-04-20 13:02] xkszltl commented on #70160
How's the issue?
I ran the test on commit 025cd69a86b4cce951c1fccb5b7160d8174e5ea9 on Ubuntu 18.04 (because it's the latest commit supporting distro-stock python 3.6 there) and still seeing the issue.

[2022-04-20 13:26] Ierezell commented on #75458
Hi @leslie-fang-intel,

It's a private repo of the company I'm working for... However, this code was used to compute a paraphrasing metric to evaluate text as follow :

[code]

Then you can call it with any pair of strings.

My OS infos :

LsCpu
[code]
(It's in french but you have important infos, sorry for that)

I'm running ArchLinux (normal kernel 5.17.3-arch1-1)

Don't hesitate if you need mor

[2022-04-20 13:27] xkszltl opened #76103 "Some test failed when running in parallel."
### 🐛 Describe the bug

Running `ctest -j36 --output-on-failure` on Ubuntu 18.04

[code]

Log of bus error:
[code]

- op_registration_test is probably https://github.com/pytorch/pytorch/issues/70160
- nnpack_test occasionally failed.
- ProcessGroupNCCLTest consistently failed, but running the executable directly is fine.

Sequential ctest is fine except for op reg.

Regarding NCCL, this is a dual-

[2022-04-20 13:27] RuRo commented on #62707
@gmagogsfm Can you clarify, why is this issue closed?

[2022-04-20 13:35] #60265 closed

[2022-04-20 13:40] awgu commented on #76018
Fixing this issue should also fix https://github.com/pytorch/pytorch/issues/73891.

[2022-04-20 13:41] awgu commented on #72185
https://github.com/pytorch/pytorch/pull/73535

[2022-04-20 13:41] #72185 closed

[2022-04-20 13:47] xkszltl opened #76105 "Failed to build on Ubuntu 18.04 due to bad MPI linker flags"
### 🐛 Describe the bug

On Ubuntu 18.04, we got an invalid MPI flags in CMakeCache.txt:
[code]

CMakeCache.txt:
[code]

This is specific to the combination of Ubuntu 18.04 and CMake 3.23 so I cannot tell what's the root cause.
CMake 3.21 works fine.
CentOS 7/Debian 11 + CMake 3.23 also works fine.

When it works, `MPI_CXX_LINK_FLAGS = -pthread`.

### Versions

- Ubuntu 18.04
- gcc-8
- python 3.6
-

[2022-04-20 13:48] ezyang opened #76106 "Allow any operation that takes a Storage to also take a contiguous Tensor instead"
### 🐛 Describe the bug

We don't like storages, right? So we should make it possible to do stuff in Python userland without having to explicitly refer to storage. Allowing all operations on storages to instead accept contiguous tensors is a good start; e.g., `set_(..., storage_offset, size, strides)` should take a contiguous tensor.

One fly in the ointment is that even if a tensor is contiguous,

[2022-04-20 13:49] xkszltl commented on #76105
This is the CMakeCache.txt from Debian 11 with only -pthread when it works.

[code]

[2022-04-20 13:49] xkszltl commented on #76105
If you can repro and think this is a bug on CMake, please also help filing to upstream.

[2022-04-20 14:09] casparvl opened #76107 "test_native_layer_norm_bfloat fails with "Non-divisible split with vectorization is detected. Extent: 975. Factor: 2""
### 🐛 Describe the bug

Running the following test:

[code]

Results in the error:

[code]
I understand that vectorization won't work if the input is of size 975 and the split factor is 2, so the error 'makes sense', but I have no idea where the 975 and 2 come from. Since it is compiled code, it's hard to follow the stack trace. Note that I added some print statements, so the line numbers in the a

[2022-04-20 14:10] JeffersonQin opened #76108 "RuntimeError: [enforce fail at C:\actions-runner\_work\pytorch\pytorch\builder\windows\pytorch\caffe2\serialize\inline_container.cc:300]"
### 🐛 Describe the bug

[code]

### Versions

[code]

[2022-04-20 14:10] erikbylow-vol commented on #76094
[code]
[code]
[code]

Looks like they are built with the correct architecture.

[2022-04-20 14:11] JeffersonQin commented on #76108
I have met the bug couple of times, and have no idea how to reproduce. It seems that when the OS is busy with IO the bug would happen.

[2022-04-20 14:15] janeyx99 opened #76109 "DISABLED test_multiple_joinable_disable (__main__.TestJoin)"
Platforms: rocm

This test was disabled because it is flaky on master ([recent examples](http://torch-ci.com/failure/test_multiple_joinable_disable%2C%20TestJoin)).

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @rohan-varma @gqchen @aazzolini @osalpekar @jiayisuse @SciPioneer @H-Huang @kwen2501 @jeffdaily @sunway513 @jithunnair-amd @ROCmSupport @KyleCZH

[2022-04-20 14:21] jbschlosser commented on #72521
@vitrioil Thanks for your interest in getting this fixed! I'd gladly review a PR with the fix if you want to put one up.

Regarding the proposed wording, I think something like this accurately describes what is supported:
[code]

[2022-04-20 14:21] casparvl opened #76110 "Test failures for `test_batch_norm_impl_index_correctness` and `test_batch_norm_half`"
### 🐛 Describe the bug

Test fails with the following traceback:

<details>
<summary>Long traceback...</summary>

[code]

</details>

The one for `test_batch_norm_impl_index_correctness` looks very similar (I won't fully include it here due to it's length):

[code]

Similar errors are mentioned [here](https://github.com/pytorch/pytorch/issues/75029), but not sure if it's in any way related...

###

[2022-04-20 14:46] erikbylow-vol commented on #76094
More progress, from local minimal case:

`ccache /usr/local/opt/ccache/libexec/clang++ -O2 -g -DNDEBUG -O3 -DVOLUMENTAL_DEBUG_DUMPER=1 -arch x86_64 -isysroot /Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX12.3.sdk -Wl,-search_paths_first -Wl,-headerpad_max_install_names -arch x86_64 CMakeFiles/app_template.dir/app_template.cpp.o -o ../../../installdir_mac

[2022-04-20 14:56] davidberard98 commented on #73391
Guessing that this was some infra failure; logs aren't available and couldn't repro in https://github.com/pytorch/pytorch/pull/76073.

Closing for now, will look again if it fails again

[2022-04-20 14:56] #73391 closed

[2022-04-20 15:00] #75730 closed

[2022-04-20 15:18] davidberard98 commented on #76086
It appears to be an issue related to polymorphism, which is unfortunately unsupported by torchscript; the problem is that `BatchNorm` is inheriting from `_NormBase`. Repro below.

However, in this case I think this wouldn't help anyway; `momentum` is marked as constant [here](https://github.com/pytorch/pytorch/blob/133c213415a147a30ebee671545e25ba7ed26c54/torch/nn/modules/batchnorm.py#L18) so even

[2022-04-20 15:49] xkszltl opened #76113 "Deprecation warning from SequentialLR"
### 🐛 Describe the bug

This is probably from sub-scheduler when SequentialLR calls them with epoch arg.

[code]

Related code:
- https://github.com/pytorch/pytorch/blob/29a45f00097664d12921c8d13e387bee4b835665/torch/optim/lr_scheduler.py#L154
- https://github.com/pytorch/pytorch/blob/29a45f00097664d12921c8d13e387bee4b835665/torch/optim/lr_scheduler.py#L632

Comment should also be fixed:
- https:/

[2022-04-20 16:20] vitrioil commented on #72521
Created #76117

[2022-04-20 16:34] nik-sm commented on #75912
Ok I see - thanks very much for helping with this.

- Are you sure it does not relate to pytorch? It specifically occurs when importing these two libraries in a certain order. To ask another way, do you have any suggestion on how I could prove to myself that pytorch is not related/narrow down the source of the problem?

I'm particularly confused by one other thing: it seems like the stack trace in

[2022-04-20 17:28] peterbell10 commented on #76082
This change would be a lot simpler if we could start using CMake 3.17. From this comment https://github.com/pytorch/pytorch/pull/63660#issuecomment-904666017 it sounds like the criteria is: "does the latest ubuntu LTS release have a cmake that supports it". As it just so happens, the next LTS release is scheduled for tomorrow - April 21st - and that release will support CUDAToolkit.

[2022-04-20 17:36] #72521 closed

[2022-04-20 17:38] BowenBao commented on #76023
Thanks for sharing. The problem is with
[code]
This is setting to export operator in default(ONNX) namespace. To utilize custom operator, the custom namespace needs to be specified. e.g. "custom_domain::FixedPerChannelAffine".

[2022-04-20 18:22] ezyang opened #76124 "Calling storage() on lazy tensor does not work"
### 🐛 Describe the bug

[code]

cc @kurtamohler

### Versions

master

[2022-04-20 18:32] ngimel commented on #76082
@malfet, @seemethere can we switch to CMake 3.17 given that?

[2022-04-20 18:58] malfet commented on #76082
We could start by vendoring CUDAToolkit.cmake in cmake/ folder. Also, to solve the problem we first need to update the detection in dependent libraries, don't we?

[2022-04-20 19:02] blefaudeux commented on #67384
Adding two cents here following a discussion with @fmassa: one side effect of changing the default computation format is that unit tests using pytorch against custom (fp32) kernels suddenly fail when changing GPUs. It's fine once you know of this underlying change (ie: it was ok for us) but it can be a little disrupting. No biggie, just sharing that here

[2022-04-20 19:02] ezyang opened #76127 "run_test.py option to write out failed tests"
### 🐛 Describe the bug

Sometimes I need to make a wide ranging change to PyTorch and run the entire test suite, and I only expect a few tests scattered here and there to fail. It would be nice to get a list of failing tests, which I could then pipe into the runner, and only execute those tests to see if my fix worked.

### Versions

master

[2022-04-20 19:04] ezyang opened #76128 "test_license_for_wheel always fails on my local dev copy"
### 🐛 Describe the bug

[code]

this seems to pass on master CI so I guess it's a problem with my local dev env... would be nice to make this test more robust

### Versions

master

cc @mruberry

[2022-04-20 19:26] jbschlosser commented on #75704
Hey @ehgh, thanks for the report! Seems like a simple enough fix that should probably be done regardless. We'd accept a PR fixing this if you'd like to contribute.

[2022-04-20 19:49] jaglinux commented on #74995
This testing is failing on ROCm because WORLD_SIZE is 3 when number of GPU's are 4.
https://github.com/pytorch/pytorch/blob/master/test/run_test.py#L289
When I manually change the WORLD_SIZE to 4, the test passes.
This is not ROCm issue, submitting PR to skip the tests based upon odd_word_size check.

[2022-04-20 20:18] zengk95 opened #76133 "DISABLED test_binary_ops (__main__.TestCudaFuser)"
Platforms: windows

This test was disabled because it is failing on master ([recent examples](http://torch-ci.com/failure/test_binary_ops%2C%20TestCudaFuser)).

[2022-04-20 20:42] albanD opened #76138 "Coverage test is only checking packages and not all submodules"
The check for `ispkg` should be removed from this check: https://github.com/pytorch/pytorch/blob/81722f66306aef05334c27bb2a64137d8fa6493a/docs/source/conf.py#L469 The allowlist need to be updated to reflect that.

[2022-04-20 20:53] #61176 closed

[2022-04-20 20:56] davidberard98 commented on #25367
This has been fixed by @wukong1992 in https://github.com/pytorch/pytorch/pull/75479.

[2022-04-20 20:56] #25367 closed

[2022-04-20 20:57] xwang233 commented on #76110
cc @jjsjann123

[2022-04-20 21:08] jbschlosser commented on #75889
Hey @BlueCrescent, thanks for the report! I believe this is a result of no-batch-dim support being added to `nn.ConvTranspose2d`. The module now supports either 3D (unbatched) or 4D (batched) inputs, but the logic that verifies the passed-in `output_size` here wasn't updated (i.e. there is still a hard-coded expectation of 2 non-spatial dims):
https://github.com/pytorch/pytorch/blob/91e9fcf5b06464

[2022-04-20 21:10] suo commented on #76133
I guess we can re-enable this since @janeyx99 landed the removal of the periodic job that was failing.

[2022-04-20 21:10] #76133 closed

[2022-04-20 21:10] xsacha commented on #71657
It's just a rename of std::invoke to std::result_of

There is also a templated hash size that can be changed to size_t (or equivalent). I have to keep replacing this in headers.

[2022-04-20 22:20] damonmaria commented on #73714
Linking to other issues reporting the same: #68055, #60932.

[2022-04-20 22:24] peterbell10 commented on #76082
Yes, that was my first though. The main problems with vendoring are:
- LibTorch users also need to have `FindCUDAToolkit.cmake` for `find_package(Torch)` to work.
- dependencies need to independently find the same cuda library, without depending on the code vendored by PyTorch.

These are solvable problems, so if CMake 3.17 is a no-go then I can work with it. However, I'd rather not waste time if

[2022-04-20 23:12] albanD commented on #75912
This is gdb trying to read the source file to give you more details. But the path saved in the binary doesn't exist on your machine. That is not a problem.

I cannot be 100% sure because you need pytorch in this repro.
But nothing in the stacktrace relates to pytorch so hard to see what could be causing this.

This kind of issue could be related to the fact that psychopy is loading some shared lib

[2022-04-20 23:41] thiagocrepaldi opened #76155 "Replace `RuntimeError` by custom exception for unsupported ONNX operators during export"
### 🐛 Describe the bug

During `torch.onnx.export()`, `RuntimeError` [is](https://github.com/pytorch/pytorch/blob/master/torch/onnx/symbolic_helper.py#L360-L387) raised when the ONNX converter need to express that a specific operator is not supported.

`RuntimeError` can also be raised due to a legitimate user (within training script) error or an implementation bug within a symbolic operator imple

[2022-04-20 23:45] ngimel commented on #76012
You can use Triton to do a much faster (2-10x in my experiments) tensor conversion to and from channels last, see e.g. here https://gist.github.com/ngimel/899c335bc49539df04e3a9119a83d5fc

[2022-04-21 01:16] leslie-fang-intel commented on #75458
Hi @Ierezell,
Thanks for providing the general use case. It still looks like not runnable for us to profile and identify the performance bottleneck of CPU BF16 case for this model.
I remember you said your private model is based on `allenai/macaw-3b`. I believe it's based on this public repo(https://github.com/allenai/macaw). Will you see similar problem with this public repo or it's specific for

[2022-04-21 02:11] aksenventwo commented on #51803
I found that there is a common method to solve many similar problems, converting the function into module and using `is_leaf_module` feature

[code]

[code]

[2022-04-21 02:41] aksenventwo commented on #54602
With custom Tracer, the control flow can be used by Trace，Please see https://github.com/pytorch/pytorch/issues/51803#issuecomment-1104634592

[2022-04-21 02:47] hyhuang00 commented on #69894
Same problem here, resolved by downgrading setuptools from 60.9.2 to 59.5.0.

[2022-04-21 03:13] fatcat-z commented on #75428
Closing it.  Feel free to open a new one if the issue still exists.

[2022-04-21 03:13] #75428 closed

[2022-04-21 03:26] ngimel commented on #76107
cc @jjsjann123, this may be fixed on master?

[2022-04-21 03:29] ezyang opened #76160 "test_wishart_log_prob fails locally for me"
### 🐛 Describe the bug

[code]

I have scipy                    1.8.0 installed

### Versions

master

[2022-04-21 04:35] suo opened #76162 "DISABLED test_multiple_joinables (__main__.TestJoin)"
Platforms: rocm

This test was disabled because it is failing on master ([recent examples](http://torch-ci.com/failure/test_multiple_joinables%2C%20TestJoin)).

cc @jeffdaily @sunway513 @jithunnair-amd @ROCmSupport @KyleCZH

[2022-04-21 05:09] thiagocrepaldi commented on #75635
https://github.com/pytorch/pytorch/blob/master/torch/onnx/__init__.py#L415?

[2022-04-21 05:44] DaeyangCho commented on #74799
Same issue here.

[2022-04-21 05:58] Liquidtoss commented on #73193
Can I try to solve this problem?

[2022-04-21 06:03] Liquidtoss commented on #72711
Can I attempt to implement this?

[2022-04-21 06:06] XiaobingSuper commented on #73193
@Liquidtoss, yes, you can.

[2022-04-21 06:08] Liquidtoss commented on #67597
Can I attempt to implement this?

[2022-04-21 06:19] montanier commented on #75470
Hello, could you give a bit more hints on the the issue and how you solved it on your end? I have a segfault on exactly the same line.

[2022-04-21 06:21] wahlberg82 commented on #52286
Hi,
I have an image processing application, where these type of optimizations doesn't make sense because the end user will not run big batches of images but rather one offs. So I have earlier used the "fix" mentioned above:
`#include <torch/csrc/jit/runtime/graph_executor.h>
torch::jit::getBailoutDepth() = 1;`
That has been working great for my use case, using pytorch 1.7.

I have recently updated

[2022-04-21 06:49] ptrblck commented on #76101
@RossStream could you post a minimal, executable code snippet to reproduce the issue, please?

[2022-04-21 06:57] ptrblck commented on #76031
@trifasico I don't think your videos show a CPU-only run, as the graphs in your task manager do not show the `compute` tab.
Make sure to view the `compute` output or use `nvidia-smi` to get the proper GPU utilization.

[2022-04-21 06:59] WangYizhang01 opened #76165 "Variable names created dynamically using python are not added to Module.parameters()"
### 🐛 Describe the bug

Variable names created dynamically using python are not added to Module.parameters().

[code]

### Versions

Collecting environment information...
PyTorch version: 1.10.0
Is debug build: False
CUDA used to build PyTorch: 11.3
ROCM used to build PyTorch: N/A

OS: Ubuntu 20.04.3 LTS (x86_64)
GCC version: (Ubuntu 9.4.0-1ubuntu1~20.04.1) 9.4.0
Clang version: Could not collect
C

[2022-04-21 06:59] ptrblck commented on #76107
This might be indeed the case as I cannot reproduce the issue on a current master build `torch==1.12.0a0+bd13bc6`:
[code]

[2022-04-21 07:12] Lezcano commented on #72711
Absolutely. You might want to have a look at a function like `matrix_rank` which is also implemented in terms of `at::linalg_svd` for inspiration.
Please feel free to contact me here or in PyTorch's slack if you need some guidance on how to do this.

[2022-04-21 07:48] trifasico commented on #76031
This is a Windows machine, can i still use the nvidia-smi command?
And in another computer where i have a 3060, the thing that show me it's using the gpu is 3D
and the compute power is seen on the left, the small gráfic
But what can i do to show you?
Even if it is using the gpu it is really slow for the gpu it is
With the 3060 i have about 12iterations per second, and on the same dataset i have 5i

[2022-04-21 07:50] casparvl commented on #76107
Thanks for the quick responses!

Maybe a bit of context: I'm managing an HPC system, and am performing this installation for all our users. Hence, it is important for me to use an official release version. If there are real bugs, either in the code, or in the tests themselves, I'm happy to cherry-pick patches for those, but in general I'd like to stay as close as possible to the official release.

[2022-04-21 08:24] MrSworder commented on #43227
Me too...

[2022-04-21 08:27] PotatoLzy commented on #35803
Thanks @skyline75489 , I deleted ` caffe2_detectron_ops.dll ` `caffe2_module_test_dynamic.dll` and `caffe2_observers.dll` and it finally works.

[2022-04-21 08:48] RossStream commented on #76101
@ptrblck
### Demo Code
Here is the code (size: ~200 KB): [Google drive](https://drive.google.com/drive/folders/1sTNkbwh3g6vQn41VSYs8g4YdJeqgAdo2?usp=sharing)

Includes:
[code]

### Environment
[code]

### Start training
`python train.py`

[2022-04-21 08:54] ptrblck commented on #76107
Yes, I'm able to reproduce the error in `1.11.0` and get:
[code]

Yes, I'm using an A100 40GB GPU.

@jjsjann123 would know which commit(s) fixed this issue. Depending on your requirement to stick to a stable release and the number of commits it might be easier to use the next `1.12.0` release, but let's wait for @jjsjann123's comment.

[2022-04-21 09:10] Lezcano opened #76166 "at::real and at::imag as methods"
### 🚀 The feature, motivation and pitch

It'd make formulae easier to read, as you could read them left-to-right. E.g.
[code]
rather than
[code]

I could submit a PR if people are fine with this.

### Alternatives

_No response_

### Additional context

_No response_

[2022-04-21 09:57] rachtibat commented on #2045
Hi,
I ran into the same problem when running the following code on Ubuntu on a Titan RTX:

[code]

The output of `nvidia-smi` is:
[code]

Is this behavior wanted? And if so, then shared_memory has no real usecase?
Thank you a lot!

[2022-04-21 10:16] altugkalavak1 commented on #74016
hi guys
sorry my english not very well
ı uninstallpytorch 11.3
ı installed 10.0 and error fixed
conda install pytorch==1.10.0 torchvision==0.11.0 torchaudio==0.10.0 cudatoolkit=10.2 -c pytorch

[2022-04-21 12:15] nikitaved commented on #29442
Upon a closer look at the repro, we can see that the input to the `BCELoss` is just not correct as it has a negative value. Still the overshoot with `cosine_similarity` happens. Such that you know...

[2022-04-21 13:20] Ierezell commented on #75458
Hi @leslie-fang-intel,

Yes it's this repo, they have some demo code I cleaned a bit for my usecase.
Also, this model is available on HuggingFace directly so it's easy to use if you want to try on your side.

I will try the oneDNN flag directly on their repo to tell you if I have the same performance bottleneck.

From their repo: first example
[code]

I'm good with the solution of a small if condi

[2022-04-21 13:35] 2blackbar opened #76168 "stop removing old cuda support completely while keeping every small update to recent cuda online"
### 🚀 The feature, motivation and pitch

this is some total bullshit what you do, i have to tinker every few months to get enviroments installed cause you keep removing files and keep them hidden on some obscure servers away from public to see, how about keeping the damn links to old versions on main site .
a lot of people have this issue and you keep doing it again and again, and AGAIN
how unorga

[2022-04-21 13:54] ultmaster opened #76169 "Issues with typehints of F.multi_head_attention_forward"
### 🐛 Describe the bug

The typehints of `torch.nn.functional.multi_head_attention_forward` is wrong (or out-dated). This makes static type checkers (mypy/pyright) unhappy.

In pyi, there are three parameters that should be optional but are not: in_proj_weight, in_proj_bias, out_proj_bias.

[code]

### Versions

master branch

cc @albanD @mruberry @jbschlosser @walterddr @kshitij12345 @ezyang @mal

[2022-04-21 14:01] jjsjann123 commented on #75708
FYI, I don't have the repro but I figured out a cheesy way to verify the breakage.

Looks like register cap we put there just didn't work for CUDA 11.1. (Thanks to @davidberard98 's log file with debug dump). Will keep you guys updated on the progress of patch

[2022-04-21 14:54] anjali411 commented on #76166
SGTM.

discussed offline: add them as methods in the C++ API (similar to `mH` and `mT`), and ensure they are not exported because they are already properties in Python API.

[2022-04-21 14:56] JernejPuc opened #76176 "Indexing assignment can have no effect on CUDA with deterministic algorithms"
### 🐛 Describe the bug

On CUDA with `use_deterministic_algorithms(True)`, advanced indexing assignment has no effect on target tensors with more than one effective dimension when the source tensor has one dimension.

## To reproduce

[code]

## Output
[code]

## Expected behaviour

Output should be the same as on CUDA with `use_deterministic_algorithms(False)` and CPU:
[code]

## Additional conte

[2022-04-21 14:57] albanD commented on #75130
Done in master now!

[2022-04-21 14:57] #75130 closed

[2022-04-21 14:59] JernejPuc commented on #76176
# Additionally encountered inconsistency 1

On CUDA with `use_deterministic_algorithms(True)`, advanced indexing assignment via incontiguous views produces a different result to `index_put_`.

## To reproduce

[code]

## Output with `a_view[idx] = b`
[code]

## Output with `a_view.index_put_((idx, ), b)`
[code]

## Expected output
[code]

## Additional context

After seeing [this thread](https://d

[2022-04-21 15:02] JernejPuc commented on #76176
# Additionally encountered inconsistency 2

On CUDA with `use_deterministic_algorithms(True)`, assignment with a tensor of two dimensions, where the last is of size 1,
results in `INTERNAL_ASSERT_FAILED`.

## To reproduce

[code]

## Output
[code]

## Expected output
[code]

## Additional context

This behaviour has already been identified in several issues, though most of them appear to be closed

[2022-04-21 15:03] JernejPuc commented on #76176
# Additionally encountered inconsistency 3

Making an apparent mistake in the above code snippet does not raise an error with `use_deterministic_algorithms(True)` on CUDA.

## To reproduce

[code]

## Output
[code]

## Expected output
[code]

[2022-04-21 16:17] imneonizer commented on #38222
+1

[2022-04-21 16:17] skmda37 commented on #13505
Would also still be very interested in a pytorch implementation of spectral norm of conv layers as in https://github.com/brain-research/conv-sv/blob/master/conv2d_singular_values.py ([paper](https://arxiv.org/abs/1805.10408)).

[2022-04-21 16:19] lezwon commented on #35641
It would be nice to have these operators. Is it being prioritized?

[2022-04-21 16:28] imneonizer commented on #30563
Waiting for this from 1 year

[2022-04-21 16:43] navahgar commented on #52286
Setting the `FusionStrategy` to what you did should ensure that no fusions happen. May be there is still some profiling happening. I'm not sure about that. @eellison Can you help answer this?

[2022-04-21 16:45] eellison commented on #52286
Hi, @wahlberg, you want to use the api `setFusionStrategy` instead of declaring the variable twice. See https://github.com/pytorch/pytorch/blob/master/torch/csrc/jit/api/module.h#L350

[2022-04-21 16:54] eellison commented on #52286
If you do:

`torch::jit::setFusionStrategy({torch::jit::FusionBehavior::STATIC, 0})` that should work! If it doesn't, please file a separate issue and we'll take a look.

[2022-04-21 16:58] alanhdu opened #76181 "Allow `torch.fx` tracing on TorchScript models"
### 🚀 The feature, motivation and pitch

It would be really nice if we could use `torch.fx.symbolic_trace` on a TorchScript model. We use TorchScript extensively to save models since it's a hermetically sealed artifact that no longer requires a Python dependency. We'd like to be able to then `torch.fx.symbolic_trace` these TorchScript models so we can use the Graph FX quantization API on pre-train

[2022-04-21 17:17] justinxzhao commented on #71203
Note that this is already not fully supported in today's implementation of `ModuleDict()` as it only works for modules keyed by certain names.

[code]

Are there use cases where users **must** access submodules with the attribute syntax? Python dictionaries, for example, do not support this type of access.

I'm curious, what is the complexity here?

This could work, though the actual suffix itself

[2022-04-21 18:01] albanD opened #76185 "Ensure custom Function are correct in double backward setting"
### Problem statement
Today, if intermediary Tensors are saved during the forward and used during the backward, the double backward will be silently wrong because their contribution will be ignored.

A small repro is:
[code]

### Proposed solution
Note that I am not sure this is the best way to go about this, we might want to do something else in practice?

Option 1) Add a `ErrorNode` as the grad_

[2022-04-21 18:40] juncgu opened #76186 "fx: cannot find module <built-in method matmul> when using apex.amp"
### 🐛 Describe the bug

I camp up with the following issue when using `torch.fx` and [apex.amp](https://nvidia.github.io/apex/amp.html) together.
If a model has `torch.matul` operations and uses `apex.amp (opt_level=O1)` for mixed precision optimization, then fx will fail to recompile the model graph and will report the following error:
[code]

A simple toy module with `torch.matmul` can reproduce

[2022-04-21 19:53] yueyericardo opened #76191 "[Feature request] Exclusive prefix sum, `torch.cumsum(input, dim=0, exclusive=True)`"
### 🚀 The feature, motivation and pitch

Currently `torch.cumsum` only supports inclusive prefix sum. However, the exclusive prefix sum is also needed in some cases.

Proposed to add a `exclusive` parameter to the `torch.cumsum` function
[code]

Related issue from PyTorch Forums:
- [PyTorch equivalent of exclusive cumsum? - PyTorch Forums](https://discuss.pytorch.org/t/pytorch-equivalent-of-exclus

[2022-04-21 20:04] wahlberg82 commented on #52286
Thanks for the responses!
OK, I've done some more testing and it turns out I'm getting similar performance on the first run using either:
`torch::jit::setGraphExecutorOptimize(false);
torch::jit::FusionStrategy static0 = { {torch::jit::FusionBehavior::STATIC, 0} };
torch::jit::setFusionStrategy(static0);
`
or
`FLAGS_torch_jit_enable_new_executor = false;`

I'm going to stick with the first, since

[2022-04-21 20:07] jbschlosser commented on #71203
At the very least, since this works now for some attributes, we have to keep it working for them (by default) to maintain BC.

This is okay wrt BC, since users would have to opt in to this behavior and it wouldn't break existing code. However, I'm not sure there's a way to enforce the constraint that users can't access submodules as attributes when `deconflict=True`.

[2022-04-21 20:25] Sanqiang commented on #32564
It looks like OOM causes this problem too

[2022-04-21 20:48] smspillaz opened #76195 "[vulkan] Shaders generated incorrectly when precision or format options turned on"
### 🐛 Describe the bug

When compiling with `-DUSE_VULKAN_FP16_INFERENCE` and `-DUSE_VULKAN_RELAXED_PRECISION` correctly, the relevant key-value pairs are passed as a single string by cmake on the argv, which causes argparse to treat them as a single string, which causes the relevant parsing logic expecting separated strings to fail silently and generate shaders with invalid code like

[code]

In

[2022-04-21 20:53] kwen2501 commented on #75773
Hi @SherlockNoMad thanks for opening the feature request.

Can you please positively describe the requested feature? For example, what functionality do you want it to achieve? All-Gather of non-contiguous input tensors? Or "All-to-all" of non-contiguous tensors?

I am asking because there might be other solutions to implemented the needed feature, rather than flattening the tensors to a contiguous

[2022-04-21 21:23] yoanisgil opened #76198 "Elastic agents cannot properly shutdown/restart after failure"
### 🐛 Describe the bug

I am trying to run a distributed training using the Elastic Job Controller (from here: https://github.com/pytorch/elastic/tree/master/kubernetes) and it seems as though that the distributed agenst is  be able to shutdown/restart themselves properly. Here is a stacktrace of what happens, eventually, when one of the pods running the agent, dies:

I know the underlying issue m

[2022-04-21 22:12] jeffdaily commented on #73039
Can we close this one again?  The issue is resolved; we have stopped the resource drain on the CI host network.

In related news, we should be adding 2 hosts to the CI pool on 4/22/2022.

[2022-04-21 22:49] zhangyilang opened #76201 "X10 slower when computing Hessian-vector product multiple times"
### 🐛 Describe the bug

When computing the Hessian-vector product using `torch.autograd.grad` for multiple times, the subsequent computations would slow down by more than 10 times. Below is a simple example on a 4-layer CNN:
[code]
By running the codes, I got the following results:
[code]
It is pretty weird that the first, second and subsequent computations take about 0.01s, 0.02s and 0.14s, respe

[2022-04-21 23:26] kmfrick commented on #16897
This might be helpful in the C++ API, where indexing with `.index()` is slow (see issue #20263)

[2022-04-21 23:28] thomasahle commented on #75701
I just realized `torch.bmm(A, B)` has an `out=` parameter, but `A.bmm(B)` doesn't. That can probably be added to the list.

[2022-04-21 23:55] justinchuby commented on #75635
File moved to https://github.com/microsoft/onnxruntime/blob/master/onnxruntime/python/tools/pytorch_export_contrib_ops.py

[2022-04-21 23:58] justinchuby commented on #75635
Created https://github.com/microsoft/onnxruntime/issues/11305

[2022-04-21 23:59] #75635 closed

[2022-04-22 00:07] changlan opened #76206 "Update NCCL to 2.12"
### 🐛 Describe the bug

The current PyTorch links NCCL v2.10.3-1 by default, which includes a critical bug that breaks the `CollNet` algorithm in distributed training: https://github.com/NVIDIA/nccl/issues/556. This bug has been fixed since v2.12.7-1: https://github.com/NVIDIA/nccl/commit/4ec992fab7d90691ad43bee6f7f6c34aa219934c.

Is there any timeline to update the NCCL version that PyTorch links

[2022-04-22 00:39] Lezcano commented on #75701
@thomasahle  Just free functions have out parameters so this is expected.

[2022-04-22 01:09] #75369 closed

[2022-04-22 01:34] ezyang commented on #76185
option 1 seems like the right way to me

[2022-04-22 02:34] neithen-Lu commented on #60197
Hi! Any updates on the vander issue? We tested the vander function recently and still find the exact same error message.

[2022-04-22 02:54] haozhihang123 commented on #76024
The whole classification project is copied directly from the server. The model and test data are completely consistent, and the matrix and model weight after data enhancement are compared before sending into the model, which are consistent. In the process of using, it is found that sometimes the prediction on the PC is normal, and sometimes Nan error is reported. It's puzzling.

[2022-04-22 03:08] justinchuby opened #76215 "[ONNX] Use pytorch style docstrings in the onnx module"
### 🚀 The feature, motivation and pitch

Current onnx exporter modules do not follow PyTorch's doctring style. We can adhere to PyTorch's style for consistency and readability. Example: `torch/onnx/utils.py`

According to https://github.com/pytorch/pytorch/wiki/torch.nn-Module-Documentation-Style-Guide, pytorch uses Google's style. This should be easy enough to follow and promote.

We can use `pyd

[2022-04-22 03:26] jinfagang commented on #64208
Am also looking for a way to more simplied to do this:

[code]

Currently can not find a way without loop to do it.

[2022-04-22 03:28] Linxu59 commented on #68405
The same problem. Does it mean DDP not support multiple machines multiple cards in Windows?

[2022-04-22 03:46] mszhanyi commented on #68405
No. it doesn't support.
So far, No NCCL for windows.
Data transmission would be very slow among multiple machines.

[2022-04-22 04:02] denglide commented on #69425
I'm experiencing the same problem. Has anyone found any clue?

[2022-04-22 04:53] justinxzhao commented on #71203
Great to hear that `deconflict=True` seems reasonable.

Perhaps it's not necessary to **strictly** enforce that users can't access submodules as attributes when `deconflict=True`, rather that doing so "may not work as expected" since if `deconflict=True` then submodules will be keyed using a unique suffix (in the spirit of deconfliction).

[2022-04-22 05:48] liuyongcan opened #76219 "Function "forward" has memory leak by LeakSanitizer"
### 🐛 Describe the bug

Hello,everyone
I use LeakSanitizer to find that memory leak occurs in the “forward” function  in pytorch.

######  code
torch::jit::script::Module moduleCNN;
...
//Loading module
...
auto prediction = moduleCNN.forward({ batch.to(deviceType) }); // batch is Tensor   deviceType is kCUDA or kCPU
...

##### LeakSanitizer Log
#1 0x7fd39584e079 in cublasFixedSizePool::init
#2 0x

[2022-04-22 06:04] Linxu59 commented on #64419
Hava you run DDP sucessful in Windows?  For me, it stuck in init_process_group when using two machines (each machine has one gpu)

[2022-04-22 06:23] ngimel commented on #76176
Inconsistency 2 is related to #72053 (not exactly a duplicate, but root cause is the same)

[2022-04-22 06:32] LukeLIN-web commented on #42332
still don't support send/recv in.   torch 1.7.1+cu102

[2022-04-22 06:34] ishaan-mehta commented on #76165
If you check out `torch.nn.Module` [here](https://github.com/pytorch/pytorch/blob/master/torch/nn/modules/module.py), you can see that the way PyTorch registers parameters is by overriding `__setattr__`, monitoring the types of the attributes being set, and calling `register_parameter` to add the parameter to `self._params`. Check out [this episode](https://pytorch-dev-podcast.simplecast.com/episo

[2022-04-22 06:44] WangYizhang01 commented on #76165
Thanks for your reply.

[2022-04-22 06:44] #76165 closed

[2022-04-22 07:15] jjcmoon opened #76224 "torch.cuda.mem_get_info ignores device"
### 🐛 Describe the bug

When calling `torch.cuda.mem_get_info` I always get the result for the current device, regardless of what argument I'm passing.
Example:
[code]
I am able to get correct results by using a device context:
[code]

### Versions

PyTorch version: 1.10.0+cu102
Is debug build: False
CUDA used to build PyTorch: 10.2
ROCM used to build PyTorch: N/A

OS: Ubuntu 18.04.6 LTS (x86_64)

[2022-04-22 07:40] yrqUni opened #76225 "RuntimeError: bucket_count == per_bucket_sizes.size()INTERNAL ASSERT FAILED at "/opt/conda/conda-bld/pytorch_1646755853042/work/torch/csrc/distributed/c10d/reducer.cpp":980, please report a bug to PyTorch."
### 🐛 Describe the bug

[code]

### Versions

[code]

[2022-04-22 08:38] kshitij12345 opened #76227 "[masked tensor] UBSAN failure for new test with masked tensor ops"
### 🐛 Describe the bug

While adding the test in PR https://github.com/pytorch/pytorch/pull/75178, UBSAN was failing for one of the masked tensor op.

[code]

Ref: https://github.com/pytorch/pytorch/runs/6113440636?check_suite_focus=true#step:9:6101

Was able to reproduce it locally for all the masked tensor ops while running `forward_ad` CompositeComplianceTest.
Will add skips for these ops.

cc:

[2022-04-22 09:00] Github0119 commented on #45394
I'd like to know that too! Too!

[2022-04-22 09:14] Lezcano commented on #60197
Sorry, I completely missed this one! I will put up an implementation soon :)

[2022-04-22 09:24] alealv commented on #75336
Yes, it only happens when I use OpenGL. I'm running `egui --> eframe --> egui_glow --> glow --> OpenGL`

[2022-04-22 09:35] alealv commented on #75336
Here is the output reproducing with `PYTORCH_JIT_LOG_LEVEL=">>kernel:>>llvm_codegen"`

https://pastebin.com/AyYPXKSL

[2022-04-22 10:25] natxopedreira opened #76229 "libtorch crashing core dump"
### 🐛 Describe the bug

Just trying to integrate libtorch in another c++ platform, is building but crashing on launch

Im compiling with gcc `-L./libtorch/lib/ -ltorch_cpu -lc10`

[code]

### Versions

PyTorch version: 1.9.0+cu102
Is debug build: False
CUDA used to build PyTorch: 10.2
ROCM used to build PyTorch: N/A

OS: Ubuntu 20.04.4 LTS (x86_64)
GCC version: (Ubuntu 9.4.0-1ubuntu1~20.04.1) 9.4.

[2022-04-22 13:44] albanD commented on #73557
This example shows how to nest this properly: https://github.com/albanD/subclass_zoo/blob/main/nested_forward_ad.py

[2022-04-22 13:44] #73557 closed

[2022-04-22 14:02] younesbelkada opened #76232 "Observing a strange behavior - Row parallelism"
### 🐛 Describe the bug

Hi there!
I am trying to manually reproduce this scheme, which corresponds to a model row parallelism paradigm:
![Screenshot from 2022-04-22 15-55-48](https://user-images.githubusercontent.com/49240599/164728838-3f78585b-1018-4366-a499-95133fdeaa89.png)
Therefore I have written a small snippet of code to reproduce the scheme above, the assertion passes for small ```batch_si

[2022-04-22 14:18] jbschlosser commented on #76024
@haozhihang123 is it possible to get more detailed information on where the NaNs are coming from during the forward pass? Perhaps you could manually run the data through each layer of the network until you spot NaNs.

[2022-04-22 14:49] jannehellsten commented on #75018
FWIW, I pushed a [change to StyleGAN3](https://github.com/NVlabs/stylegan3/commit/407db86e6fe432540a22515310188288687858fa) repo that should fix this for PyTorch 1.11.

It looks like maybe the right Python API to use would be `torch.ops.aten`.. but I didn't find an API reference for it?

[2022-04-22 15:26] Den163 commented on #76094
The same story with PyTorch 1.10.0. The error appears when I'm trying to build with Apple clang 13.1.6 (Xcode Command Line Tools 13.3). But all works correctly if I build it with Apple clang 13.0 (Xcode Command Line Tools 13.2.1)

[2022-04-22 15:28] jcwchen opened #76236 "Question about suspicious nonzero behavior with scalar input"
### 🐛 Describe the bug

This nonzero behavior with scalar input looks weird to me:
[code]
I thought `torch.nonzero(torch.tensor(1))` should output as `output tensor([0], size=(1, 0), dtype=torch.int64)` especially it has size(1, 0).

Is the original output expected? If so, may I understand more details about why it outputs an empty tensor with size(1, 0)? Thank you for looking into this.

### Vers

[2022-04-22 15:57] albanD commented on #75018
The update looks good!
Yes `torch.ops` would allow you to access that as well. But you would have gotten the same issue :/

I didn't knew people were accessing these backward ops like that. We will be more careful in the future to be BC there as well!

Closing as this should be fixed. Feel free to open a new issue if you have any other similar problem.

[2022-04-22 15:57] #75018 closed

[2022-04-22 16:01] albanD commented on #76219
Note that the allocation comes from cudnn/cublas initialization.
Do you get the same result if you run any other cudnn code by any chance? It is very possible that they create global memory in the cuda/cudnn driver and never de-allocate it.

[2022-04-22 16:27] davidberard98 opened #76241 "NVFuser multithreading tests"
### 🚀 The feature, motivation and pitch

example: https://github.com/pytorch/pytorch/blob/master/test/cpp/tensorexpr/test_dynamic_shapes.cpp#L632

### Alternatives

_No response_

### Additional context

_No response_

cc @mruberry

[2022-04-22 16:33] maxwellzh commented on #43259
It has been two years since this issue is reported. I also came into this issue recently, and found the workaround.

My code is like
[code]
The the error is raised, and finally, I find this could make a fix
[code]
Hope this help.

[2022-04-22 16:40] nikitaved commented on #29442
Closing as https://github.com/pytorch/pytorch/pull/31378 improves numerical properties of the loss.

[2022-04-22 16:40] #29442 closed

[2022-04-22 16:46] zengk95 opened #76243 "XLA Tests are broken"
## Current Status
mitigated

## Error looks like
[code]
## Incident timeline (all times pacific)
-  April 21st 12:30 PM: #75324 was landed and author notified us that XLA was broken but would be fixed later on
- April 22nd 9:AM: #76237 was landed to disable this test due to XLA fix still not landed. Will bring it back once XLA fix is finished.

## User impact
Master CI is broken and any subsequent

[2022-04-22 16:50] ratan-prasad opened #76244 "Initial integration of ZenDNN as backend into PyTorch"
### 🚀 The feature, motivation and pitch

ZenDNN library optimizes basic meth kernels used by Deep learning algorithms on AMD EPYC CPUs. As part of integration of ZenDNN into PyTorch we integrated a single op (convolution). We have support for other ops and optimization ready to be submitted.

This PR covers following
- Added ZenDNN as third-party library
    - ZenDNN is a submodule for pytorch

[2022-04-22 16:52] Bhavay192 commented on #48251
@janeyx99 , is this issue resolved??
Can I work on this issue. Please suggest some resoruces to resolve for the same. Thanks

[2022-04-22 16:54] Bhavay192 commented on #73193
@XiaobingSuper , is this issue still open?? Can I resolve this issue?? Thanks

[2022-04-22 16:57] k-bishop commented on #74326
@janeyx99 sorry for the commit chaos on this. https://github.com/pytorch/pytorch/pull/76212 should be ready for review. It's failing one of the linux test builds on gh actions, which doesn't seem to be related to my change. Is there a way I can rerun that one specific test? Any other suggestions?

[2022-04-22 17:02] jbschlosser commented on #75287
I don't think it's quite enough to solve that issue. IIUC a weight with mismatched shape would not have an unexpected or missing key, but rather an error_msg would be appended:
https://github.com/pytorch/pytorch/blob/3326fa60ccfb7c717ecfacbb2a216544561f08d2/torch/nn/modules/module.py#L1488-L1493

We could pass `mismatched_keys` to the hook as well, but this might be a bit strange since `load_state

[2022-04-22 17:08] seemethere commented on #76243
cc @JackCaoG

[2022-04-22 17:10] JackCaoG commented on #76243
I just reverted the pr https://github.com/pytorch/xla/pull/3522. It is due to some cache issue from bazel

[2022-04-22 17:11] JackCaoG commented on #76243
We update the tensorflow pin in one of yesterday prs, recent TF has a known Bazel compilation issue if the cache is not clean. I think for us to proceed we need to disable the remote cache on upstream pt/xla build for a couple days at least.

[2022-04-22 17:58] rohan-varma commented on #72908
Cannot reproduce, possibly should have been fixed by https://github.com/pytorch/pytorch/pull/73314

[2022-04-22 17:58] #72908 closed

[2022-04-22 18:19] davidberard98 commented on #73639
closed by #73637

[2022-04-22 18:19] #73639 closed

[2022-04-22 18:37] zhaojuanmao commented on #76225
Thanks for reporting this bug, this is a valid bug and over stricted assertion. It happens when rebuilding bucketing in the second iteration, per_bucket_limits is not broadcasted.

Syncing per_bucket_limits will increase communication volume as well increasing code complexity, after taking a further look at the codes, per_bucket_limits used inside initialize_buckets() is actually not useful, it as

[2022-04-22 18:58] ngimel commented on #76176
Reopening, as only case 1 is fixed by the linked PR.

[2022-04-22 18:58] zengk95 commented on #76243
Closing this issue for now since we disabled it for mitigation.

[2022-04-22 18:58] #76243 closed

[2022-04-22 19:01] JackCaoG commented on #76243
@zengk95 Can we reenable the pt/xla CI as the offending pr on pt/xla side is reverted?

[2022-04-22 19:18] justinchuby opened #76254 "[ONNX] Remove the function _graph_constant in utils if not needed"
### 🚀 The feature, motivation and pitch

Four years ago in https://github.com/pytorch/pytorch/blob/ea8a0184b76088c477c7cef4fe36d683d57fd880/torch/onnx/utils.py#L1206: We might not need this anymore, since most scalars now show up as tensors

### Alternatives

_No response_

### Additional context

_No response_

[2022-04-22 20:04] #75177 closed

[2022-04-22 21:59] solarshao1006 commented on #44023
When I run this:
#run style transfer
max_iter = 500
show_iter = 50
optimizer = optim.LBFGS([opt_img]);
n_iter=[0]

while n_iter[0] <= max_iter:

    def closure():
        optimizer.zero_grad()

        out = vgg(opt_img, loss_layers)
        layer_losses = [weights[a] * loss_fns[a](A, targets[a]) for a,A in enumerate(out)]

        loss = sum(layer_losses)
        loss.backward()
        n_iter[0

[2022-04-23 02:15] Zapotecatl commented on #69425
Hi, I tried to find some solution. But I could not with Libtorch. However, the way that I can overcome the problem was using onnx instead of libtorch. Onnx is more portable and efficient than libtorch.

I share my solution:

In phyton export the model with pytorch to onnx:

[code]

In Ungearl Engine 4 install Onnx Runtime

1. In Visual Studio go: Project->Manage NuGet Packages, and browse to Micro

[2022-04-23 07:14] davidberard98 commented on #75903
In NNC I narrowed this down to ir_clone.cpp; it tries to copy the graph by recursing into each input to a node and copying that; but for a dag, it will end up making multiple copies

[code]

Simpler repro:

[code]

[2022-04-23 09:39] liyuyuan6969 opened #76271 "Module 'Bottleneck' has no attribute 'conv2_offset'"
### 🐛 Describe the bug

# describe
hai,guys,I hava a [dbnet model](https://github.com/MhLiao/DB/blob/master/backbones/resnet.py)，I want convert this pytorch model to torchScript use  `torch.jit.script` function,before this,I have load and inference dbnet successfully on my computer,so i add `torch.jit.script` in my code and run again,it shows err infomation above:Module `'Bottleneck' has no attrib

[2022-04-23 18:06] evekeen commented on #50943
Hi! Any updates?

[2022-04-23 18:54] vadimkantorov commented on #76201
(just to be sure, please use torch.cuda.synchronize() calls to ensure that CUDA computation is finished when measuring time)

[2022-04-24 01:52] mruberry commented on #44023
It looks like you're calling NumPy's `sum` on a PyTorch tensor that requires grad, but NumPy doesn't support gradients. You probably want to use `torch.sum`.

[2022-04-24 02:28] davidyang180 opened #76274 "[ONNX] About custom operator convert PreciseRoIPooling to ONNX"
## Issue description
I want to speed up the model in the project, but the model contains the prroi pooling library compiled by the third party. Through consulting the documents, I learned that custom operators can be added for conversion, but onnx is still cann't export after simple implementation. How can I convert prroi pooling to onnx?(PreciseRoIPooling with dynamically linked C compiler librar

[2022-04-24 03:25] Liquidtoss commented on #73193
We created a fork, and pushed the changes. Could you look it over?

[2022-04-24 03:25] zhangyilang commented on #76201
After adding `torch.cuda.synchronize()`, I got the following results
[code]
which seems good.

However, I also found that computing the gradients only takes about 0.017s. It seems the HVP computations still take more time compared to the gradients. Any idea to narrow this gap?

[2022-04-24 03:41] hshi-speech opened #76276 "The document's representation of the underlying document"
### 📚 The doc issue

Hello,

Thanks you all!
I am looking for a function of torch.stft today.
But I only found that it ended up returning ._VF.stft.
I didn't find any description of the underlying implementation.
I have some doubts about this.

### Suggest a potential alternative/fix

_No response_

[2022-04-24 04:07] zhao-yiqun commented on #23425
Hi @mrshenli, I have meet some similar but not the same issue, and also need some advice from you!
When I use the DDP for training, some iter may have no ground truth for compute the loss. Following the method proposed here, I just skip them in the model.forward(x) and use a loss = torch.zeros(1, required_grad=True) and loss.backward(). while also set find_unused_parameters=True.
In his setting, o

[2022-04-24 05:32] NumberChiffre commented on #69894
Used this solution a while ago, and it appears this issue still exists, any future plans to fix this?

[2022-04-24 06:24] any35 commented on #47917
I have same issue when using rust version of libtorch

Tensor::load_multi();

it's any to do a workaround?

[2022-04-24 07:01] santhoshnumberone opened #76280 "Google Colab Cuda 11.1 module 'torchvision.models.detection' has no attribute 'fcos_resnet50_fpn'"
### 🐛 Describe the bug

# Pytorch object detection on Google Colab
 want to try `Pytorch` Object detection on Google Colab

## Ran these statements block by block
**COCO API**
[code]

**CUDA VERSION**
[code]

**INSTALL PYTORCH BASED ON CUDA VERSION**[source](https://pytorch.org/get-started/previous-versions/#installing-previous-versions-of-pytorch)
[code]

**LOAD PRE TRAINED OBJECT DETECTION MODEL

[2022-04-24 07:57] wayi1 opened #76282 "`torch.cuda.amp.GradScaler` may skip parameter synchronization required by post localSGD optimizer"
### 🐛 Describe the bug

The following two designs may not work very well together.

-  When mixed precision is enabled by `torch.cuda.amp.GradScaler`, as noted in this [line](https://github.com/pytorch/pytorch/blob/bbc3cc6718d841665ab2677477d458ed97b75609/torch/cuda/amp/grad_scaler.py#L68) and this [line](https://github.com/pytorch/pytorch/blob/bbc3cc6718d841665ab2677477d458ed97b75609/torch/cuda/a

[2022-04-24 09:24] kshitij12345 opened #76283 "[ubsan] Undefined behaviour when a running forwardAD CompositeCompliance on `batch_norm`"
### 🐛 Describe the bug

PR adding the test: https://github.com/pytorch/pytorch/pull/75178
[code]

Ref: https://github.com/pytorch/pytorch/runs/6134744920?check_suite_focus=true#step:9:6455

cc: @zou3519

### Versions

master

cc @ezyang @gchanan @zou3519 @Chillee @albanD @samdow

[2022-04-24 09:26] ali-r opened #76284 "recurrent network wrong GPU"
### 🐛 Describe the bug

hello pytorch team

I have an issue with recurrent networks in pytorch
when i load the model it is in cuda:2 (i check the internal parametars of my GRU all in cuda with index 2)
but wen data pass the RNN network some memory from GPU-0 is consumed
and when GPU-0 is full it throw err

i think this question is related https://stackoverflow.com/questions/62067849/pytorch-model-

[2022-04-24 09:39] Afsaneh299 opened #76285 "'NoneType' object has no attribute 'fill_'"
I'm learning to use Pytorch and trying to train a model with CIFAR10 dataset.
Here is my code(the part of importing and loading data is omitted):

import torch.nn as nn
class GeneralizedAttention(nn.Module):
   g_dim (int): The position embedding dimension.

    def __init__(self,
                 in_dim,
                 spatial_range=-1,
                 num_heads=9,
                 position_em

[2022-04-24 11:03] ysiraichi commented on #50953
@ezyang @bdhirch
I  will start working on this issue starting this week. I went through the proposals, and thought they were quite good. Let me try to clarify the proposals by making some observations. Let me know if I got anything wrong:

- These 3 proposals are complementary (are we interested in having all 3 of them implemented?)
- Regardless of which proposals get implemented, we will still ha

[2022-04-24 15:07] #76201 closed

[2022-04-24 15:38] stas00 opened #76287 "torch.elastic fails to shutdown respite crash"
### 🐛 Describe the bug

one of the nodes in the DDP training crashed, which torch.elastic detected and killed most of the workers, but those of the failing node which continued hanging until manually killed.

It should have killed all workers so that SLURM could have exited the job which would have restarted anew recovering from the problem, but it was just hanging in an infinite state of logging

[2022-04-24 16:03] zzm-hl commented on #73790
Hello, I have the same problem, but my running platform is on a cluster, not a personal computer, so I can't disable IOMMU. I would like to ask if there are other ways. The graphics card is eight A100

[2022-04-24 18:04] zzm-hl opened #76288 "Multi-GPU distributed training reports errors"
### 🐛 Describe the bug

`2022-04-24 09:26:36,241 - INFO - task : ['pedestrian', 'traffic_cone'], loss: 1.5811, hm_loss: 0.9833, loc_loss: 2.3910, loc_loss_elem: ['0.1535', '0.1580', '0.2172', '0.2156', '0.2590', '0.1522', '0.2787', '0.3207', '0.5800', '0.5356'], num_positive: 144.2000

2022-04-24 09:27:23,734 - INFO - finding looplift candidates
2022-04-24 09:27:23,734 - INFO - finding looplift ca

[2022-04-24 18:28] MrDaniLLka commented on #75579
hi
torch==1.2.0+cu92
torchvision==0.4.0+cu92
all versions in [requirements](https://github.com/pytorch/pytorch/files/8457787/requirements.txt)

[2022-04-24 22:31] lucascamaradb opened #76290 "Unexpected error when running autograd.grad with is_grads_batched=True"
### 🐛 Describe the bug

When running `autograd.grad` with `is_grads_batched=True` a shape mismatch error, even when I don't have any mismatch.

Sample code:

[code]

Outputs:

[code]

### Versions

PyTorch version: 1.11.0
Is debug build: False
CUDA used to build PyTorch: 11.3
ROCM used to build PyTorch: N/A

OS: Ubuntu 20.04.4 LTS (x86_64)
GCC version: (Ubuntu 9.4.0-1ubuntu1~20.04) 9.4.0
Clang ver

[2022-04-25 01:49] davidberard98 commented on #76271
AFAIK this is expected with JIT. This is what happens:

1) you construct a Bottleneck() object with parameters such that self.conv2d_offset is never initialized
2) you try to script it. At this time, it will transform the python code from forward() into torchscript. It notices that self.conv2d_offset doesn't exist in the Bottleneck() object.

To fix this, one option is to create a default value of

[2022-04-25 01:56] ezyang commented on #50953
A few notes about more global priority: I think https://github.com/pytorch/pytorch/issues/69813 is more important than this issue (in part because the other issue is a functional correctness one, whereas this is performance microoptimization, which in principle could be addressed by, e.g., a tracing JIT compiler instead.)

This shouldn't ever happen, IMO.

This is a good question. TBH I'm not sure

[2022-04-25 02:29] ezyang opened #76294 "torch._remove_batch_dim is interceptable by __torch_function__ / batch tensors don't print correctly"
### 🐛 Describe the bug

`_add_batch_dim` and `_remove_batch_dim` are supposed to be internal functions that are not user visible. However, `__torch_function__` makes it possible to observe these functions as well as their inputs/outputs, as they are defined in `native_functions.yaml` and correspondingly overrideable via `__torch_function__`. To avoid leaking in this way, I think we probably should

[2022-04-25 03:06] minhhoangbui commented on #59530
@FangMath Have you found the solution yet?

[2022-04-25 03:27] liyuyuan6969 commented on #76271
1.i understand you means whether executed `else` or not,i have to define conv2d_offset variable so torchScript can find it in forward() function?
2.and i want to know whether torchScript support dcn which need compile c++ and cu part and call in python.i check dcn code and find it is a nn.Module which call torch.autograd.Function in forward and then call c++ interface in torch.autograd.Function.

[2022-04-25 03:38] smithblack-0 opened #76295 "TorchScript: jit.script fails when using 'tolist' with int32 tensors."
### 🐛 Describe the bug

**Description:**

I cannot use the 'tolist' builtin on a tensor with jit's scripting operation on an int32 tensor. Doing so will raise a RunTime error with the message "Output annotation element type and runtime tensor element type must match for tolist()". This is despite the int64 version working fine. This was found in a standard Google Colab environment, as well as my l

[2022-04-25 03:49] timmywanttolearn commented on #75512
So, are you going to solve it? Since this bug is still there to be solved

[2022-04-25 04:19] davidberard98 commented on #76271
1. yes
2. I'm not familiar with what DCN is. But you can add custom ops, e.g. https://pytorch.org/tutorials/advanced/cpp_extension.html
3. Not quite sure what error you're talking about here. It sounds like an issue with yolo, you can open an issue there if you need changes in their models.

[2022-04-25 04:19] #76271 closed

[2022-04-25 07:45] Kentaro-Mikami opened #76298 "qint8 support for activation of Eager mode QAT"
### 🚀 The feature, motivation and pitch

We have tried to use Eager mode QAT of PyTorch 1.10.1.
We want to use qint8 for activcvation dtype, but we got a error.
-------------- Error Message --------------
File "C:\Python\Python36\lib\site-packages\torch\nn\intrinsic\quantized\modules\conv_relu.py", line 86, in forward
    input, self._packed_params, self.scale, self.zero_point)
RuntimeError: expec

[2022-04-25 09:11] yingx99 opened #76300 "Unexpected _LinAlgError appeared only on my device"
### 🐛 Describe the bug

The _LinAlgError message appears when running `torch.linalg.solve` with the given variables in the hess_grad.txt file. However, this error message only appears when I run the code locally on the JupyterLab of my anaconda but not on my friends' laptop (i.e. cannot be reproduced on other devices).

file storing the variables:
[hess_grad.txt](https://github.com/pytorch/pytorch

[2022-04-25 10:05] erikbylow-vol commented on #76094
Nice, worked for me as well. Is this a bug somewhere or what is the exact problem? I drawback is that XCode needs to be up to date with new iOS versions.

[2022-04-25 10:07] Lxiangyue commented on #69894
works for me

[2022-04-25 11:22] jamesrobertwilliams opened #76302 "libtorch gives different results on each run on certain machines"
### 🐛 Describe the bug

I traced a model and I am using it within libtorch, but for some bizzare reason, I notice that the results are different at each run :frowning: we are totally baffled by this.

here is the example code which is executed:

[code]

The bizzare thing is, on a server we have and a small virtual machine on OVH, we do not see this problem - everything is consistent.

However when

[2022-04-25 12:19] liuyongcan commented on #76219
Thank you for your reply!
And I ran the cuBLAS simple code without a memory leak. The code has 'cublasCreate' and 'cublasDestroy' .
Pytorch maybe don't call ‘cudnnDestroy’ function.

I find source code of pytorch in the Handle.cpp line 12,--'pytorch\aten\src\ATen\cudnn\Handle.cpp'
[https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/cudnn/Handle.cpp](url)
# pytorch code
void destroyCuDNNH

[2022-04-25 12:28] algat opened #76304 "Quantization fails when padding parameter given as string"
### 🐛 Describe the bug

When applying quantization to a model having a convolutional layer (e.g. conv2d), setting the `padding` parameter as "valid" or "same" raises an error.

Code to replicate:
[code]

Raises the following error
[code]
And Traceback:

[code]

### Versions

PyTorch version: 1.11.0
Is debug build: False
CUDA used to build PyTorch: None
ROCM used to build PyTorch: N/A

OS: macOS 12

[2022-04-25 12:51] andyweizhao commented on #75391
@xwang233

"torch._C._LinAlgError: torch.linalg.eigvalsh: The algorithm failed to converge because the input matrix is ill-conditioned or has too many repeated eigenvalues (error code: 1)."

To clarify, is this error message misreported? Usually, the eigendecomposition of a real/complex symmetric matrix can be solved by Lanczos or Divide-Conquer algorithms, both of which may be prone to round-off

[2022-04-25 13:21] ztf512 opened #76305 "lose precision when convert numpy array to torch tensor and execute matrix multiplication"
### 🐛 Describe the bug

I find that when I convert numpy array to torch tensor and execute matrix multiplication, there will come out different results, just like this:
[code]
My numpy version is 1.21.3, pytorch version is 1.8.1. Could someone tell me how to solve it?

### Versions

PyTorch version: 1.8.1
Is debug build: False
CUDA used to build PyTorch: 10.1
ROCM used to build PyTorch: N/A

OS: U

[2022-04-25 13:43] dilaragokay opened #76308 "TypeError: round() got an unexpected keyword argument 'decimals'"
### 🐛 Describe the bug

`round()` function has a `decimals` parameter based on https://pytorch.org/docs/stable/generated/torch.round.html. I would like to pass an argument, however, when I run the following example

[code]
I see the following error
[code]

### Versions

I ran this code on https://colab.research.google.com. The output of running `python collect_env.py` is below.

[code]

[2022-04-25 14:02] xiong-jie-y opened #76309 "More understandable name column of the table of the profiling result."
### 🚀 The feature, motivation and pitch

When printing the profiled result like below, the name column is too narrow to show the understandable name.

[code]

For example, it's not clear what kind of elementwise_kernels are they in the screenshot below.

![Screenshot from 2022-04-22 23-19-22](https://user-images.githubusercontent.com/32722944/165097946-468d8f6c-609d-4637-9f96-2cc0ccdacaf5.png)

It

[2022-04-25 14:22] rgommers commented on #70906
Yes indeed, it's simple user convenience: `full(3, fill_value=99)` is easier to write than `full((3,), fill_value=99)`

[2022-04-25 14:32] salilsdesai opened #76310 "FX Quantization Workflow Support for Int8 Quantized Softmax"
### 🚀 The feature, motivation and pitch

@kimishpatel and I are planning to add int8 support to the quantized softmax operator (in D35621286), and we would like for the fx quantization workflow to be able to support this change. @vkuzo had helped us with the uint8 version of this (D35324817), but he doesn't have the bandwidth to help this time. Is there anyone else on the quantization team who can

[2022-04-25 14:49] gchanan commented on #76308
You are looking at the 1.11 docs, the 1.10 docs (your version) doesn't have that.  If you upgrade your PyTorch it should work.

[2022-04-25 14:49] #76308 closed

[2022-04-25 14:51] gchanan commented on #76285
This is almost certainly a bug in your own code as `energy` is None.  We reserve github issues for bugs in the library -- you may get more help at discuss.pytorch.org.

[2022-04-25 14:51] #76285 closed

[2022-04-25 15:02] albanD commented on #76232
Hi,

Do they pass an `allclose()` check? If so, this is expected behavior due to the limited precision of floating point numbers. See this doc for more details: https://pytorch.org/docs/stable/notes/numerical_accuracy.html

[2022-04-25 15:06] younesbelkada commented on #76232
Hi @albanD
Thank you very much for your reply! Indeed the test passes with torch.allclose()

[2022-04-25 16:00] janeyx99 commented on #74326
Taking a look now and will respond on the PR itself :) Thanks so much!

[2022-04-25 16:09] #75464 closed

[2022-04-25 16:42] jbschlosser commented on #75889
Fixed in #76151

[2022-04-25 16:42] #75889 closed

[2022-04-25 16:43] Manojkl opened #76315 "NotSupportedError"
### 🐛 Describe the bug

Loaded the pretrained PyTorch model file, and when I try to run it with torch.jit.script I get the below error,

[code]

[2022-04-25 16:51] seemethere commented on #76168
Firstly, I think you should understand that the people who work on this are real people and that we should treat conversations surrounding this topic as if you are talking to real people.

Secondly, can you provide us with some details surrounding your problem?

1. What commands are you using to install?
2. What CUDA version are you using?