[2020-08-05 07:24] 2012312055 opened #42589 "[c++] Error Compiling libtorch in Window10, Visual Studio Code"
I'm trying to use visual studio code to compile sample code from [loading torchscript](https://pytorch.org/tutorials/advanced/cpp_export.html)

While compiling it gave me error message :

libtorch/include/c10/macros/Macros.h:252:5: error: '__assert_fail' was not declared in this scope
     __assert_fail(#cond, __FILE__, static_cast<unsigned int>(__LINE__),  \
     ^~~~~~~~~~~~~

May I have some ad

[2020-08-05 07:34] sinannasir commented on #42542
Yes, we do
https://github.com/pytorch/pytorch/blob/cd74fe2d98498acbabfe5ce66f448df74035275a/torch/nn/parallel/distributed.py#L659-L661

Additionally, we check this in `reducer`:
https://github.com/pytorch/pytorch/blob/cd74fe2d98498acbabfe5ce66f448df74035275a/torch/csrc/distributed/c10d/reducer.cpp#L1137-L1139

[2020-08-05 07:34] #19165 closed

[2020-08-05 07:43] IsakWesterlundBitville commented on #16417
Had the same problem during training.
Collecting garbage and emptying cuda memory after each epoch solved the issue for me.
[code]

[2020-08-05 08:07] lablabla commented on #41852
I'm not too familiar with working directly with cuDNN, can you please explain what you want me to test?

[2020-08-05 08:11] peterjc123 commented on #42589
sorry, we don't support mingw on Windows at present.

[2020-08-05 08:19] 2012312055 commented on #42589
Thanks for replying.

[2020-08-05 08:36] #42589 closed

[2020-08-05 08:36] 2012312055 commented on #42589
.

[2020-08-05 09:55] mchalecki commented on #19213
It's not big help but, after compiling from source pytorch version 1.6, in libtorch on device this function for me works.

[2020-08-05 10:12] QWERDF007 commented on #41177
ubuntu16.04 server,  i7-8700K + GTX 1080 Ti

[2020-08-05 10:15] DiegoTorresSED opened #42592 "Lower performance when forwarding JIT model with libTorch 1.6 compared with 1.5"
## 🐛 Bug

Testing the new version of libTorch 1.6 I have realized that when forwarding an exported JIT traced model is about 3 times slower than using libTorch 1.5. I am testing it in CPU using Windows and iOS devices.

## To Reproduce

Steps to reproduce the behavior:

1. Export a JIT traced model of a neural network (Example: YOLO). There penalty appears when exporting with PyTorch 1.5 or 1.6
2.

[2020-08-05 10:24] rgommers commented on #41427
@CoderHam can you please provide the code you used? That would be really helpful to figure out if there's an issue and how to address it.

[2020-08-05 10:43] lw commented on #39855
Still seeing it here: https://app.circleci.com/pipelines/github/pytorch/pytorch/196881/workflows/9ea1130f-a131-405b-a7e6-a5f8355d4370/jobs/6518861/steps

It didn't get skipped because that run occurred on a stack where these tests are being renamed (note to self: rename this issue once that stack lands). Thus it confirms that this issue persists.

[2020-08-05 11:08] thinking-tower commented on #42582
Hey @smessmer @dzhulgakov @zou3519, it seems that this issue stems from integer overflow [compute_numel (TensorImpl.h)](https://github.com/pytorch/pytorch/blob/45c5bac87049a9a0593d4d5f060cc8d4b0f83db8/c10/core/TensorImpl.h#L1487) called from [resize_impl_cpu_ (Resize.h)](https://github.com/pytorch/pytorch/blob/45c5bac87049a9a0593d4d5f060cc8d4b0f83db8/aten/src/ATen/native/Resize.h#L32).

In particu

[2020-08-05 11:24] Robin-Simmons opened #42594 "LSTM network can not be evaluated after preparing for quantisation aware training."
## 🐛 Bug

LSTM network can not be evaluated after preparing for quantisation aware training. The same warning does not appear if evaluated before preparing.

## To Reproduce

Steps to reproduce the behavior:
``import numpy as np

import torch
import os
# Might not be necessary
os.environ.setdefault("KMP_DUPLICATE_LIB_OK", "True")

#import pytorch_GRU
#import quantGRUcell
device = torch.device("cpu

[2020-08-05 11:31] GrimReaper420 commented on #42549
Build Successful :-).

Hopefully, Cuda 11 support will be implemented soon as the latest Nvidia drivers are installed with Cuda 11.

[2020-08-05 12:02] lironmo commented on #36913
@vincentqb thanks for your response.

in my case i have sequence of lr schedulers that being replace by predefined steps (that can be dynamic, i.e. increase over time ), for example from epoch 0-5 use warmup lr scheduler from 10-55 use cosine annealing scheduler from 55 to 100 use reduce on reduce on plateau.

i have a wrapper that switch between each scheduler and pass the epoch in each step, in

[2020-08-05 12:03] #36913 closed

[2020-08-05 12:05] pmeier opened #42596 "torch.hub.load_state_dict_from_url fails for state dicts saved with torch==1.6.0"
## 🐛 Bug

`torch.hub.load_state_dict_from_url` errors when downloading a valid `state_dict`.

## To Reproduce

1. Create a `state_dict`

[code]
[code]
2. Upload it (not shown) and make sure its uploaded correctly

[code]
[code]
3. Try to download it directly with `torch.hub.download_state_dict_from_url`

[code]
[code]

## Expected behavior

Load the `state_dict` without error.

## Environment

[co

[2020-08-05 12:14] pmeier commented on #42596
This is related to the `1.6.0` release. I created the same `state_dict` with `torch==1.5.1` (https://download.pystiche.org/models/conv2d-1.5.1.pth) and it can be loaded just fine from `torch==1.6.0`.

[2020-08-05 12:17] poedator commented on #42405
to @SsnL  : `batch_size=None` means data is produced by generator one record at a time. The question is whether it is possible to produce whole batches of transformed images much faster by applying transformations in vectorized way.

[2020-08-05 12:27] pmeier commented on #42596
Since `torch==1.6.0` switched to a zip file-based format, this path is triggered although this shouldn't happen

https://github.com/pytorch/pytorch/blob/b85216887ba76dc7e1e0035c77ebe358ac48f90d/torch/hub.py#L487-L494

Cc @ailzhang

[2020-08-05 12:50] Bartolo1024 opened #42597 "Logsigmoid as chaining operation"
## 🚀 Feature

I would like to have a chained log sigmoid operation in `torch.Tensor` object.

## Motivation

I prefer to use chained versions of the operations like `x.sum()`, `x.mean()`, etc. instead of `torch.sum()` `torch.mean()`, etc.
This prevents me from the formulation of hardly readable long operations.
For example:
```x.pow(2).sum(dim=1).mean()```
is much cleaner than:
```torch.mean(torch

[2020-08-05 13:39] xkszltl commented on #42415
Confirmed it's fixed.

[2020-08-05 14:07] ezyang commented on #21154
If you are seeing this issue, please file a new issue with the steps to take to cause this error. The error here is very generic and we need to know more about the repro to help you debug here.

[2020-08-05 14:07] #21154 closed

[2020-08-05 14:10] zou3519 commented on #42366
As a data point, in #41943 I wanted to grab an ArrayRef to the arguments of an operator on the stack (via `torch::jit::last`). After pushing some more things onto the stack, the ArrayRef got invalidated due to the memory location changing. Copying the entire argument list by value isn't the worst thing in the world but I ended up storing the index of the first argument instead.

[2020-08-05 14:11] glaringlee commented on #42578
High priority due to segfault. The latest master branch has this issue as well.

[2020-08-05 14:17] ezyang commented on #42545
Yes, this would be great to update. Although, I don't know how different the new API calls are; maybe we will have to rewrite all of RNN.cpp

[2020-08-05 14:19] heroxbd commented on #26555
According to the [Gentoo patch](https://github.com/gentoo/sci/blob/master/sci-libs/pytorch/files/pytorch-1.4.0-sleef.patch), https://github.com/pytorch/pytorch/pull/35359 solves this issue.

[2020-08-05 14:25] heroxbd commented on #13746
This is a duplication of issue #21873.

[2020-08-05 14:26] pksvision opened #42598 "Unable to print the min-max of quantized weights using Per-channel affine qscheme"
Apologies if the question has been answered somewhere else, I couldn't find it.
===================================================
Hi ,

I am trying to quantize the MobileNet_V2 model using post-training static quantization methodology in PyTorch.  The qschemes used for weights and activations, respectively, are as follows,

w : per-channel affine with per-channel min-max observers
a :  per tenso

[2020-08-05 14:29] ezyang commented on #42508
On a master copy of PyTorch, in `torch/_C/__init__.pyi` I do see `copy_` on TensorBase. I'm going to guess that this is fixed on master. Please feel free to reopen if you update to master and still have problems.

[2020-08-05 14:29] #42508 closed

[2020-08-05 14:33] Michelpayan commented on #16417
Thank you!! I was having trouble running the Cats and dogs example and this worked for me.

[2020-08-05 14:33] ezyang commented on #26555
looks like we gucci

[2020-08-05 14:33] #26555 closed

[2020-08-05 14:35] ezyang commented on #42366
This doesn't invalidate the other things you said, but I suggested linked list of stack chunks, not a linked list of stack entries :)

I think a lot of people try to avoid unnecessarily bumping reference counts, and the "easy" way to do this involves taking references to the stack.

[2020-08-05 14:39] heroxbd commented on #26555
Thanks Edward.

[2020-08-05 14:43] vincentqb commented on #40362
Thanks for the reply :) To paraphrase what you say, there is two issues: (1) current implementation gives 2 asymetrical phases, but the paper presents 2 symmetrical + a third, (2) `final_div_factor` and `pct_start` may be confusing names. Is that what you meant?

I'm ok with updating the the implementation. Ideally, we will avoid BC-breaking changes, and add to the documentation how to align with

[2020-08-05 14:47] yf225 opened #42600 "Support forward pre-hooks for modules in TorchScript"
As part of the PyPer model TorchScript conversion work, we introduced a concept called "placeholder module" which has the same forward signature as the actual module, but only some of them are replaced with the actual module in the lazy initialization step before the parent module's first forward call. Here is a minimal example:

[code]

This design works for us, but we do want to error out when u

[2020-08-05 14:49] mrshenli commented on #42519
@vineeths96 below are the currently supported types in `ProcesssGroupNCCL`:

https://github.com/pytorch/pytorch/blob/ecb88c5d11895a68e5f20917d27a0debbc0f0697/torch/lib/c10d/ProcessGroupNCCL.cpp#L46-L59

Just checked NCCL's data types, they don't have 16-bits integer either: https://docs.nvidia.com/deeplearning/nccl/user-guide/docs/api/types.html#nccldatatype-t

Is it acceptable to use 32-bits inte

[2020-08-05 14:58] mthrok commented on #42258
Hi @gmagogsfm

Thanks for looking into this.

We will hold on taking the action because that change will be BC-braking on `torchaudio` side.
However I have a question, if we were to change the implementation, would `dict` type work?

[2020-08-05 15:00] h6197627 opened #42601 "Caffe2 NNPACK convolution performance regression between 1.5.1 and 1.6 releases on Android"
## 🐛 Bug

While testing performance of ResNet32-like CNN architecture with Caffe2 on Android mobile devices it was noticed substantial (>x2) inference speed regression between 1.5.1 and 1.6 releases. For convolution operations NNPACK backend is used:
`conv_op_def->set_engine("NNPACK")`

Timings for 2 different mobile devices (old and new one):

1.5.1 (Qualcomm Snapdragon 410 CPU)
Forward propagati

[2020-08-05 15:16] vineeths96 commented on #42519
@mrshenli Thank you for the clarification.

I am actually trying to reduce the number of bits communicated during allreduce. Using 32bit int or 16bit floats would increase communication. I will try to find a workaround.

Anyways I am closing this issue for now.

[2020-08-05 15:16] #42519 closed

[2020-08-05 15:17] mrshenli commented on #42544
Agree. Wondering what would be a good API for this. IIUC, for the use case above, we need to preserve context across RPC requests. It might be unnecessary to always do this for all applications, so we might need an explicit API. It also might be hard to automatically detect what states should be put into the context (e.g., current device, env vars, RNG states, etc.). Does it make sense if we ask u

[2020-08-05 15:26] maaft opened #42604 "Docker Images have Python 3.7.7 installed instead of python 3.8"
## 🐛 Bug

E.g. `pytorch/pytorch:1.6.0-cuda10.1-cudnn7-devel` docker image has python 3.7.7 installed instead of python 3.8

## To Reproduce

Steps to reproduce the behavior:

1. docker run pytorch/pytorch:1.6.0-cuda10.1-cudnn7-devel python --version
2. --> Python 3.7.7
## Expected behavior

Python 3.8 should be installed

[2020-08-05 15:45] glaringlee commented on #41177
@QWERDF007
What is the type of `_module`? is that torch::jit::script::Module?

[2020-08-05 16:08] glaringlee commented on #37756
@VinodSKumar
I will take a look at it today. Thanks for help!

[2020-08-05 16:10] Codingrunningman commented on #42433
I noticed a strange phenomenon, when I set this environment variable USE_OPENMP to 0, Pytorch can use multithreading?

However when I set this variable USE_OPENMP to 1, pytorch can not use multithreading. I am totally confused.

[2020-08-05 16:11] mattip commented on #32004
I think it is too much to run pytorch/example CI on every pytorch/pytorch PR push or merge. What would you think of this strategy:
- Run the CI on pytorch/examples on a daily cron trigger
- If it fails open a new issue in that repo, we could use something like this github action https://github.com/rishabhgupta/git-action-issue.

[2020-08-05 16:16] chsasank commented on #42581
I've just tried to reproduce the issue again with a fresh environment and I'm not able to. Should've been some issue with my conda installation. You can close the issue and reopen if somebody gets the same error.

[2020-08-05 16:17] brianjo commented on #32004
I think that's a great idea. Once a day is plenty and opening an issue on a failure would get somebody's attention.

[2020-08-05 16:25] xasopheno commented on #701
If you're using Coc, you can use put the same rule in your coc-settings.json.

[2020-08-05 16:26] YHuiX commented on #42540
Well I want to study the source code, and I see that I can modify the python part code and make it work without building again, if pytorch is installed in the develop mode. I think this will be helpful for me to study.
The issue I find is https://github.com/pytorch/pytorch/issues/27215
And my error is :
[3/1030] Linking CXX shared library bin\torch_cpu.dll
FAILED: bin/torch_cpu.dll lib/torch_cpu.l

[2020-08-05 16:27] YHuiX commented on #42540
Well I want to study the source code, and I see that I can modify the python part code and make it work without building again, if pytorch is installed in the develop mode. I think this will be helpful for me to study.
The issue I find is #27215
And my error is :
[3/1030] Linking CXX shared library bin\torch_cpu.dll
FAILED: bin/torch_cpu.dll lib/torch_cpu.lib
cmd.exe /C "cd . && D:\CMake\cmake-3.1

[2020-08-05 16:30] YHuiX commented on #42540
And my memory is 8G, I have set another 4G visual memory

[2020-08-05 16:41] mcarilli opened #42605 "LSTMCell and GRUCell need autocast patching"
https://github.com/pytorch/pytorch/pull/42385 fixes cudnn RNNs with `torch.cuda.amp.autocast` but it appears the cell-based RNN API is also broken:
https://discuss.pytorch.org/t/runtimeerror-expected-scalar-type-half-but-found-float/91628

I thought cell-based RNNs were implemented in terms of autograd-exposed primitive ops (gemms, etc) already covered by autocast, but LSTMCell and GRUCell have [d

[2020-08-05 16:45] min-xu-ai commented on #42508
Thanks you @ezyang, can you please also kindly check the function for distributed.reduce() as well as Parameter.new()?

[2020-08-05 17:01] mcarilli commented on #42545
Tbh I haven't fully scoped this.  Some are drop-in replacements, others fuse certain existing calls.  For example, [cudnnGetRNNLinLayerMatrixParams](https://docs.nvidia.com/deeplearning/cudnn/api/index.html#cudnnGetRNNLinLayerMatrixParams) and [cudnnGetRNNLinLayerBiasParams](https://docs.nvidia.com/deeplearning/cudnn/api/index.html#cudnnGetRNNLinLayerBiasParams) from 7.x are unified into [cudnnGet

[2020-08-05 17:05] KevinMusgrave commented on #30532
@jayenashar Any luck building pytorch 1.6? I'm running into compilation errors at the moment, and am trying to debug it.

[2020-08-05 17:26] ezyang opened #42609 "AutoNonVariableTypeMode should clear all autograd keys, not just Autograd"
Reported by @cpuhrsch. If you are doing device-custom autograd formulas, AutoNonVariableTypeMode should still be the preferred idiom to remove autograd from consideration, but if it doesn't remove your per-device autograd key, then you will infinite loop.

[2020-08-05 17:27] gchanan commented on #42596
Duplicate of https://github.com/pytorch/pytorch/issues/42239.

[2020-08-05 17:27] #42596 closed

[2020-08-05 17:28] gchanan commented on #42588
reproduction?  PyTorch Version?

[2020-08-05 17:30] gchanan commented on #42581
removing high priority, this looks extremely likely to be a configuration issue.

[2020-08-05 17:35] gchanan commented on #42560
See https://pytorch.org/docs/stable/autograd.html#torch.autograd.detect_anomaly.

[2020-08-05 17:43] gchanan commented on #42532
@brianjo

[2020-08-05 17:44] gchanan commented on #42540
Please use discuss.pytorch.org for questions like this.

[2020-08-05 17:47] jayenashar commented on #30532
sadly my [remote] machine for building is down, and no ETA on when i can get to it to bring it back up, sorry.  haven't tried 1.6.

[2020-08-05 17:54] xw285cornell commented on #42544
Thanks @mrshenli, this makes sense to me. I personally think the alternative design seems to be more intuitive. @ngimel what do you think?

[2020-08-05 18:01] zou3519 commented on #42532
Fixed by https://github.com/pytorch/pytorch/pull/42552

[2020-08-05 18:01] #42532 closed

[2020-08-05 18:08] IvanYashchuk commented on #42557
I think the problem could be that work arrays that are allocated are not freed.
The behavior for `torch.eig` is different because it is implemented in THC, while `torch.symeig` is implemented in ATen.
Work arrays for `torch.eig` are freed here https://github.com/pytorch/pytorch/blob/master/aten/src/THC/generic/THCTensorMathMagma.cu#L186-L190

Temporary work arrays for `torch.symeig` are allocated

[2020-08-05 18:16] ailzhang commented on #42609
@cpuhrsch would you mind adding a code example that would trigger the infinite loop? (I wonder why it wasn't triggered in xla use cases)

[2020-08-05 18:24] SplitInfinity commented on #39308
@chenbohua3

Where is the `__init__` for `MyCell`?

[2020-08-05 18:36] rgommers commented on #41794
I think this issue may already be fixed, the report is for PyTorch `1.5.1`. That version still had a stub file `torch/__init__.pyi`, this no longer exists in master nor in `1.6.0` so `utils` cannot really be missing from it anymore.

Can someone upgrade to `1.6.0` and confirm the issue disappears?

[2020-08-05 18:40] SplitInfinity commented on #39308
Oh, maybe you mean to say that the arguments should be inferred to be `Tensor` instead of `MyCell`?

[2020-08-05 18:53] #41865 closed

[2020-08-05 19:04] SplitInfinity commented on #41739
There is already a pull request open for this issue.

[2020-08-05 19:13] dskhudia commented on #41865
Hi @wconstab, I tried the same fix earlier when I was analyzing this issue but it didn't show me any improvements at the time.

[2020-08-05 19:13] DNXie opened #42616 "Segfault in `torch.nn.functional.grid_sample` in reflection mode"
## 🐛 Bug

## To Reproduce

[code]

This bug only occurs when `padding_mode` is 'reflection'.

## Expected behavior

Expect no segfault

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out the checklist below manually).

You can get the script and run it with:
[cod

[2020-08-05 19:26] mattip commented on #32004
xref pytorch/examples#811

[2020-08-05 19:31] tmbdev commented on #41292
We've developed an open source framework called Tensorcom (based on the WebDataset I/O system, though it can also be used with existing Dataset implementations). It can be used instead of DataLoader.

Worker processes are started up independently of the main training job; they can be started up before or after, as client or servers, and batching can happen either in the workers or the main job.

W

[2020-08-05 19:31] karimhasebou opened #42618 "pyinstaller exe generated fails to run Faster RCNN model due to runtime exception cannot find nms function"
Whenever i run the faster RCNN model provided in pytorch pretrained models list i get the following stacktrace when running the exe generated

  File "site-packages\flask\app.py", line 2447, in wsgi_app
  File "site-packages\flask\app.py", line 1952, in full_dispatch_request
  File "site-packages\flask\app.py", line 1821, in handle_user_exception
  File "site-packages\flask\_compat.py", line 39, i

[2020-08-05 19:34] avloss opened #42620 "Inconsistent "mod" behaviour (not working correctly on Mac)"
## 🐛 Bug

Mod arithmetic appears not to be working on Mac.

## To Reproduce

Steps to reproduce the behavior:

On Linux:
`torch.tensor(1e+08)%11 == torch.tensor(1.)`
On Mac:
`torch.tensor(1e+08)%11 == torch.tensor(0.)`

without using PyTorch, both system yield:
`(1e+08)%11==1`

## Expected behavior

Results should be the same (1).

## Environment

Please copy and paste the output from our
[environ

[2020-08-05 19:35] ak9250 opened #42622 "AttributeError: 'UgatitSadalinHourglass' object has no attribute 'training'"
trying to export

https://github.com/minivision-ai/photo2cartoon

to onnx

args = parse_args()

torch_model = UgatitSadalinHourglass(args)
torch_model.build_model()

random_input = torch.randn(1, 3, 64, 64, dtype=torch.float32)

input_names = ["image"]
output_names = ["image"]

torch.onnx.export(torch_model, random_input, './model.onnx', verbose=False,
                  input_names=input_names, ou

[2020-08-05 19:39] #42435 closed

[2020-08-05 19:47] zou3519 opened #42625 "F.grid_sample produces weird results on single-pixel images"
## 🐛 Bug

[code]
The above returns an image full of 1's. However, some would expect it to return an image full of zeros -- each grid coordinate is (-5, -5), which is definitely beyond the [-1, 1] boundaries for the image, so the value should be the padding value.

I'm not completely convinced that this is a bug. When `align_corners=True` and the image only has a single pixel, each of the corners (

[2020-08-05 19:58] zou3519 commented on #42625
If we just go by the documentation, "If grid has values outside the range of [-1, 1], the corresponding outputs are handled as defined by padding_mode.", then the above is silently incorrect behavior.

[2020-08-05 19:59] zou3519 commented on #42625
tagging some potentially interested folks from some past grid_sample threads: @fmassa, @ailzhang, @SsnL

[2020-08-05 20:04] zou3519 commented on #42378
Fixed via #42437

[2020-08-05 20:04] #42378 closed

[2020-08-05 20:04] avloss commented on #42620
After updating local environment the issue disappeared:

[code]

Probably it was something with mkl version.

[2020-08-05 20:04] #42620 closed

[2020-08-05 20:06] Avashist1998 commented on #25714
I am experiencing a similar issue when running the NVIDIA SPADE code base through the training phase.

System Information
18.04.1-Ubuntu SMP
GP102 [GeForce GTX 1080 Ti]
 NVIDIA-SMI 440.100      Driver Version: 440.100      CUDA Version: 10.2
Python3 = 3.6.9

Pip Env Information
Package              Version
-------------------- ---------
absl-py              0.9.0
astor                0.8.1
certifi

[2020-08-05 20:29] wconstab commented on #41865
@dskhudia Take a look at my post here: https://github.com/pytorch/pytorch/pull/42341#issuecomment-668762373 - can you comment on what repro steps you were using? I was not able to reproduce the issue until I used the distilbert model suggested by @estrulyov, but then I was able to confirm a significant improvement in scaling for the quantized case with this change.

By the wya @estrulyov - I just

[2020-08-05 20:43] dskhudia commented on #41865
I created the following simpler repro using @estrulyov's instructions.
[code]

Output of an example run (not with your fix) with OMP_NUM_THREADS set to 1:
[code]

[2020-08-05 20:53] SplitInfinity commented on #39308
Just uploaded a PR to to fix this.

[2020-08-05 20:53] malfet commented on #42588
Please run ` python -m torch.utils.collect_env` and post results here. Also, a reproduction would be nice, otherwise your report is unactionable.

[2020-08-05 20:57] malfet commented on #42526
It's very often the case , that pip and python belong to a different version. Can you please run the installation as `python3 -m pip install torch` and then, if previous command succeeds, run  `python3 -c 'import torch;print(torch.__version__)`

[2020-08-05 21:03] malfet commented on #42439
Is there are reason why you want to install PyTorch-1.0.0 when more recent versions are available.
Otherwise, sounds like a duplicate of https://github.com/pytorch/pytorch/issues/41975
Please install the appropriate version of JetPack SDK

[2020-08-05 21:10] malfet commented on #42616
I can reproduce the crash with the top-of-tree pytorch, grabbing for myself.

[2020-08-05 21:10] wanchaol commented on #41582
@jimlinntu I did some investigation, apparently it's not a torchscript issue, if you comment out the `torch.jit.script` line it still complains that `lengths` should be a 1D CPU int64 tensor. given that `pack_padded_sequence` is a "tensor constructor" and does not involve computation, I don't see a reason why you need to pass `lengths` as CUDA tensor?

cc @zou3519

[2020-08-05 21:24] wanchaol commented on #41869
@nlpconf could you provide a small self contained script that I can run locally? It's hard for me to reproduce as many functions are missing, and if you could provide a smaller self contained script, it will help me root cause the issue faster :)

[2020-08-05 21:26] malfet commented on #42618
Please provide version of Python, PyTorch, TorchVision as well as your OS and Cuda version. (You can do it by running `python -mtorch.utils.collect_env` and pasting its output here, if you don't have a functioning PyTorch installation, you can directly download and run script from https://github.com/pytorch/pytorch/blob/master/torch/utils/collect_env.py )
Judging by `torch_C.cp35-win_amd64.pyd` yo

[2020-08-05 21:28] malfet commented on #42604
@maaft  why do you think python-3.8 must be bundled in those images?
cc: @seemethere

[2020-08-05 21:30] seemethere commented on #42604
Docker images purposefully have 3.7, see https://github.com/pytorch/pytorch/blob/master/docker.Makefile#L17

There's no particular reason why, but this is currently the expected behavior.

Closing this issue, since this is expected behavior.

[2020-08-05 21:30] #42604 closed

[2020-08-05 21:37] malfet commented on #42601
cc @dreiss

[2020-08-05 21:40] scopatz commented on #40829
Implementation available in #42635

[2020-08-05 21:45] karimhasebou commented on #42618
PyTorch version: 1.5.0+cpu
Is debug build: No
CUDA used to build PyTorch: Could not collect

OS: Microsoft Windows 10 Enterprise
GCC version: Could not collect
CMake version: Could not collect

Python version: 3.5
Is CUDA available: No
CUDA runtime version: 10.1.105
GPU models and configuration: GPU 0: Quadro M2000M
Nvidia driver version: 442.23
cuDNN version: Could not collect

Versions of releva

[2020-08-05 21:56] karimhasebou commented on #42618
Without the function overloading of the JIT methods just importing pytorch will throw an exception in the exe as follows
Traceback (most recent call last):
  File "site-packages\torch\_utils_internal.py", line 46, in get_source_lines_and_file
  File "inspect.py", line 936, in getsourcelines
  File "inspect.py", line 767, in findsource
OSError: could not get source code

During handling of the abov

[2020-08-05 22:01] ngimel commented on #42544
Yeah, context manager seems better.

[2020-08-05 23:09] jstalahua commented on #574
Hi, I made that. And I have a new error :(

import torch
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/pi/.local/lib/python3.7/site-packages/torch/__init__.py", line 79, in <module>
    from torch._C import *
ImportError: /usr/lib/arm-linux-gnueabihf/libstdc++.so.6: version `GLIBCXX_3.4.26' not found (required by /home/pi/.local/lib/python3.7/site-packages/

[2020-08-05 23:33] anibali commented on #40362
Yes, I think that we are pretty much on the same page now. To elaborate on (2), those parameters currently control the schedule in strange ways which are not suggested in the source paper, which I think could be a major source of confusion in the future (especially since the default values of the parameters results in a bizarre schedule).

This means that we probably have to choose between breakin

[2020-08-05 23:34] rohan-varma commented on #42183
From a user perspective, I assume to implement the above suggestion (if find_unused_params=True and assume that locally unused param implies globally unused) we would need to add a flag to the DDP API which users would set to True if this assumption worked for them? Also, I was wondering if it might make sense (from a perf perspective) to make all globally unused parameters share the same bucket,

[2020-08-05 23:53] malfet commented on #42597
Hmm, `sigmoid`  is method of `Tensor`, so why not `logsigmoid` couldn't be one.
@ezyang, what do you think?

[2020-08-06 00:18] yf225 opened #42646 "Unable to return Tensor or List[Tensor] as Any type from TorchScript function"
## 🐛 Bug

I tried this:
[code]
and it throws:
[code]

## Expected behavior

From my understanding, returning `Any` type from TorchScript function should work.

## Environment

PyTorch nightly build

## Additional context

One of the DPER3 modules (https://fburl.com/diffusion/bkbuoid2) used by the PyPer Ads ctr_mbl_feed model can return either `torch.Tensor` or `List[torch.Tensor]` based on a const

[2020-08-06 00:48] AleksandrTulenkov commented on #16417
Same for me

[2020-08-06 00:59] DNXie opened #42648 "`torch.cholesky_solve` free(): invalid pointer, Aborted (core dumped)"
## 🐛 Bug

## To Reproduce

[code]

Output:
[code]

## Expected behavior
Expect no aborts

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out the checklist below manually).

You can get the script and run it with:
[code]

 PyTorch version: 1.5.0
Is debug build: No

[2020-08-06 01:14] #36895 closed

[2020-08-06 01:37] ankane opened #42651 "INTERNAL ASSERT FAILED when loading saved Python model in C++"
## 🐛 Bug

Hi, I'm trying to load a saved ResNet model from torchvision in C++ (after converting it to the new zip file format), but an internal assertion is failing when loading the model.

## To Reproduce

Download ResNet18 from torchvision

[code]

Convert the file to the new zip file format with Python

[code]

Build the following C++ application

[code]

Run it and it'll fail with

[code]

##

[2020-08-06 01:58] ezyang commented on #42508
new is on Tensor. reduce() is probably a legit bug in your code, since it's looking for reduce on Module but you probably need a more specialized type there.

[2020-08-06 02:00] chenbohua3 commented on #39308
@SplitInfinity thanks:)

[2020-08-06 02:04] ezyang commented on #42557
ATen implementation brings a Storage into scope, which is owning and should free the pinned memory when you are done. However, I do notice that the allocators being used in these two cases are different: TH is using magma_malloc_pinned whereas ATen is using the caching host memory allocator; it is possible that this difference is causing trouble. If the ATen behavior flattens out (as opposed to le

[2020-08-06 02:16] SplitInfinity commented on #42258
@gmagogsfm

We maintain a global map of `name -> Python class type` for script classes we compile like `AudioMetaData`. Every time a class is compiled either explicitly or implicitly, a corresponding entry is added to this map. The main purpose is so that we can look up and call `__new__` to create a new instance of the class when converting from `IValue` -> `PyObject` (e.g. when a function return

[2020-08-06 02:21] min-xu-ai commented on #42508
Can you elaborate why it is a bug to call reduce from the module? It seems that's what the doc is suggesting:

https://pytorch.org/docs/stable/distributed.html#torch.distributed.reduce

When I click on the "Source" above, it does jump to c10d implementation of reduce. Maybe `reduce` is dynamically typed and hence tricked mypy?

[2020-08-06 02:29] ezyang commented on #42597
...suuuuuure? it's one darn slippery slope, but logsigmoid might deserve it. cc @gchanan

[2020-08-06 02:41] y1r opened #42652 "Add non_blocking=True copy of torch.Storage"
## 🐛 Bug
torch.Storage.copy_ has `non_blocking` parameter but there is no implementation of async copy.
Therefore, this copy request will be fall-backed to synced copy.

## Motivation of async use
I want to overwrite the activation during backprop for some reason.
Since PyTorch checks the tensor version if performs in-place operation, `tensor.detach().copy_` also doesn't work.

## To Reproduce
[co

[2020-08-06 02:47] ezyang commented on #42508
Oh, I misinterpreted the error message. reduce is probably still a problem on master. If you could double check on a nightly and then reopen that would be helpful.

[2020-08-06 02:52] chrisyeh96 commented on #36718
Same issue here! Would really appreciate `figure_to_image()` not stripping away the alpha channel.

[2020-08-06 03:00] #42305 closed

[2020-08-06 03:09] ghost opened #42653 "onnx export failed when output size are not factor of input size for adaptive_avg_pool2d"
## 🐛 Bug

onnx export failed when output size are not factor of input size for adaptive_avg_pool2d

## To Reproduce

Steps to reproduce the behavior:

1. Build a model with `nn.AvgPool2d(kernel_size=i, stride=i)`
2. Export it with
[code]
3. get an error and fail to export
[code]
## Expected behavior

Export the onnx file without `operator_export_type=torch.onnx.OperatorExportTypes.ONNX_ATEN_FALLBA

[2020-08-06 03:10] zyc-ai opened #42654 "RuntimeError: each element in list of batch should be of equal size"
## 🐛 Bug
[code]

## To Reproduce

Steps to reproduce the behavior:

···python
model = models.resnet50()

transform = transforms.Compose([
    transforms.Resize((480, 640)),
    transforms.ToTensor(),
])

train_dataset = datasets.CocoDetection(
    root=args.train_dataset, annFile=args.train_annotation, transform=transform)

train_loader = DataLoader(train_dataset, batch_size=64)

for (img, anno) i

[2020-08-06 03:17] glaringlee commented on #42651
The latest master branch has this issue as well.

I saw jit does test this feature.

It saved an ivalue.pt file here:
https://github.com/pytorch/pytorch/blob/master/test/cpp/jit/tests_setup.py#L43

and test loading it here:
https://github.com/pytorch/pytorch/blob/e7a09b4d17010e60bc95c25f8165ef479d1b9612/test/cpp/jit/test_misc.cpp#L509

JIT team might know this better, change label to jit.

[2020-08-06 03:28] pram991 commented on #42653
https://github.com/pytorch/pytorch/pull/17412

https://github.com/pytorch/pytorch/blob/1b18adb7e8c8a90fecf12ef81c91bba0e4ca8f97/torch/onnx/symbolic_opset9.py#L825

[2020-08-06 03:34] gmagogsfm commented on #42258
@mthrok I think using either a dictionary or a named tuple would both be OK.

[2020-08-06 03:39] min-xu-ai commented on #42508
Thanks again for your help. I installed the nightly in an venv:

[code]

Turns out, our repo has some type stubs defined, which makes things confusing. After removing the stubs, I see this error for reduce() function now:

[code]

The code for __init__ and get_rank is

[code]

But I am not sure this needs to be fixed in pytorch. Maybe those code is meant to be untyped. So I am not reopening.

[2020-08-06 03:45] #28361 closed

[2020-08-06 03:56] rohan-varma opened #42655 "When one distributed test fails in CI, the next one can fail spuriously"
## 🐛 Bug

Sometimes when a distributed test fails in CI, the test that runs after it can fail as well. Checking the logs in https://circleci.com/api/v1.1/project/github/pytorch/pytorch/6539093/output/107/0?file=true&allocation-id=5f2b4d69eb4d74678233b209-0-build%2F4EAB7E92, there was a legit failed test `test_ddp_uneven_inputs` but the test that ran immediately after also failed with:

[code]

It

[2020-08-06 04:09] mszhanyi commented on #42441
@WestbrookZero, could you please ensure your change in spec not reset. (https://stackoverflow.com/questions/49083667/updating-spec-file-for-pyinstaller-gets-reset)

Strictly, It's a pyInstaller issue rather than pytorch issue.

[2020-08-06 04:25] zasdfgbnm opened #42657 "Linking torch_cpu files if compiled in a path containing whitespace"
On Windows,  if I put my PyTorch inside `C:\Users\Xiang Gao\Documents\GitHub\pytorch`, then when compiling, I will fail at linking `torch_cpu.dll`:

[code]

Looks like the build system is not adding quotes correctly to commands where it should.

cc @malfet @peterjc123 @maxluk @nbcsm @guyang3532 @gunandrose4u @smartcat2010 @mszhanyi

[2020-08-06 05:36] XiaoJiNu opened #42659 "download documentation"
Hi , I want to download documentaion in order to make notes, how can I do it?

[2020-08-06 05:42] KevinMusgrave commented on #30532
So the "bug" was pretty silly. I forgot to clean the build folder before trying to build 1.6.0. After I cleaned it, the build was successful.

Here's a whl file in case anyone needs it. It was built without tests or caffe2 operators: https://github.com/KevinMusgrave/pytorch/releases/tag/v1.6.0-compute-capability-3.5

[2020-08-06 05:45] xuhdev opened #42660 "Comparison operators and logical operators would fail if the output tensor has a dtype different from both inputs"
## 🐛 Bug

Comparison operators and logical operators would fail if the output tensor has a dtype different from both inputs.

## To Reproduce

Steps to reproduce the behavior:

[code]

Same is true for comparison operators (e.g., `ge`).

## Environment

Collecting environment information...
PyTorch version: 1.7.0.dev20200805+cu101
Is debug build: No
CUDA used to build PyTorch: 10.1

OS: Debian GNU

[2020-08-06 06:24] mszhanyi commented on #42657
@zasdfgbnm Did you follow the guide https://github.com/pytorch/pytorch#from-source

[2020-08-06 06:28] zasdfgbnm commented on #42657
@mszhanyi Partially. I am able to successfully build PyTorch if I put it into a path that does not contain a space ` `. But if I put it into somewhere with space, then I will see this error.

[2020-08-06 07:01] maaft commented on #42604
@malfet Oh, I was looking at the Dockerfile from the github repo and it there is this argument `ARG PYTHON_VERSION=3.8
`. So I guessed that it should be indeed python 3.8.

See: https://github.com/pytorch/pytorch/blob/release/1.6/docker/pytorch/Dockerfile

[2020-08-06 07:27] NTT123 opened #42662 "Wrong error messages"
https://github.com/pytorch/pytorch/blob/17f76f9a7896eccdfdba5fd22fd3a24002b0d917/torch/optim/lr_scheduler.py#L1169-L1178

The error messages should be **Expected positive integer**

cc @vincentqb

[2020-08-06 07:32] QWERDF007 commented on #41177
yes.
torch::Device *_device;
_device = new torch::Device(torch::kCUDA, device_id);
torch::jit::script::Module _module;
_module = torch::jit::load(modelfile, *_device);

[2020-08-06 07:34] mszhanyi commented on #42657
It should be a cmake issue.
https://developercommunity.visualstudio.com/content/problem/49066/cmake-issue-with-spaces-in-path.html
https://gitlab.kitware.com/cmake/cmake/-/issues/16890

[2020-08-06 07:36] DiegoTorresSED commented on #42601
Could be related with this issue that I posted yesterday too #42592

[2020-08-06 07:42] zhd0zhd opened #42663 "Why Conv3D is slower than Conv2D when its flops is smaller than Conv2D"
I update my question for  better  understanding .
[code]
Thanks to  @ptrblck , I add the ` torch.cuda.synchronize()`  to my code , but I still get the unexpected results.
We test it by setting iterations to 50000 with  Nvidia P5000, the result is :
2D CONV   vs 3D CONV:

1. Running time:     &emsp;          3.68s   VS  5.94s
2. Flops:           &emsp;&emsp;&emsp;&emsp;&ensp;             10M&nbsp;

[2020-08-06 08:03] ghk829 commented on #42588
@gchanan
I used pytorch 3.7 :)

[2020-08-06 08:11] ghk829 commented on #42588
@malfet
here is the information in my env
[code]

[2020-08-06 08:12] ghk829 commented on #42588
I'm sorry for not displaying the model because It's a model of my company..

I used some customlayer before applying the batchnorm

[2020-08-06 08:44] martinbrose commented on #39667
Duplicate of #37415

[2020-08-06 08:57] tupui commented on #41489
@Balandat Should we add this as well into our [Scipy PR](https://github.com/scipy/scipy/pull/10844)? For now I just added a comment based on what you said.

[2020-08-06 09:02] tupui commented on #32047
I could not find any reference in the literature suggesting this. As far as I know, it's never a constrain to start with 0 when constructing a low discrepancy sequence (first point of Halton is also not 0 for instance).

[2020-08-06 09:41] isharifirad commented on #32369
I have similar problem.

[2020-08-06 09:44] karimhasebou commented on #42618
I found the function registering nms operation as follows

![image](https://user-images.githubusercontent.com/11773009/89517576-2c0b4580-d7da-11ea-9ff6-d5914c0dc617.png)

And i tied calling it from my main thinking maybe pyinstaller doesnt recognize thats it being used within pytorch but still nothing worked

[2020-08-06 10:02] zzzzZZZZ777 commented on #15508
no error , but get different value when compared with "reduction= mean"

[2020-08-06 10:10] maxmx911 commented on #40027
Hi @IvanKobzarev

I'm running it on my laptop,  Windows 10 Pro 64-bit i7-9750H.
I tried it on another laptop running on Windows 7 Pro i7-4712MQ as well, same thing.

[2020-08-06 10:30] vadimkantorov commented on #42597
softmax/logsumexp is also very-very common, may deserve migration from torch.nn.functional to torch, but it's a slippery slope indeed...

[2020-08-06 10:49] Bartolo1024 commented on #42597
@vadimkantorov softmax/logsumexp/log_softmax are already available as torch module and torch.Tensor methods?

[2020-08-06 10:56] vadimkantorov commented on #42597
@Bartolo1024 I think this is currently unintetional...

[2020-08-06 11:06] Nitya05 opened #42665 "Optimizer support via Libtorch C++ on Android"
## 🐛 Bug

We are building libtorch using ./scripts/build_anroid.sh.

We need the support for Aten Ops and TorchScript, so building without the BUILD_CAFFE2_MOBILE option.

The build is successful, but the library does not link ${TORCH_SRC_DIR}/csrc/api/src/optim/adam.cpp and dependencies because of NO_API being set for Mobile Builds.

Because of this I am unable to train the model and instantiate

[2020-08-06 11:13] fsdoma commented on #42526
This approach solved the problem. If I start python3 ``import torch''
succeeds.
I cannot understand tough why pip3 list showed torch (1.6.0) but within
python I got a message that there is no module torch.

Maybe instead of using pip3 in bash I should use the ``python3 -c 'import
<module>;print(<module>.__version__)'' approach in the future.
I'll try this out - thanks for the hint.

On Wed, Aug 5,

[2020-08-06 11:23] mattip opened #42666 "torch.linalg in PyTorch 1.10 tracker"
This is a tracking issue for torch.linalg tasks for PyTorch 1.10. The goals for the 1.10 release are:

- [Reviewing the Python Array AP's](https://data-apis.org/array-api/latest/extensions/linear_algebra_functions.html) linalg extension and pursuing consistency with it
- Modernizing linear algebra functions still under the torch namespace to newer torch.linalg versions
- Continuing to deprecate ol

[2020-08-06 11:29] mariosasko commented on #42662
Agree. Nice catch!

[2020-08-06 11:51] lamipaul commented on #41534
Hi @naveenggmu and @vkuzo
Having the model in eval mode indeed solves the problem, at least for pytorch 1.6 (not for 1.4)

Thanks

[2020-08-06 11:54] mariosasko commented on #42659
One option is to clone this repo, and build the docs following the [guidelines](https://github.com/pytorch/pytorch#building-the-documentation). Since the docs are autogenerated using Sphinx, if you want to add notes you will have to use markdown.

For a bit easier approach, check this [repo](https://github.com/unknownue/PyTorch.docs) that relies on html and seems up to date. Right now, I don't thi

[2020-08-06 13:06] AhmadM-DL commented on #42428
I will work on this

[2020-08-06 13:20] AhmadM-DL commented on #42428
I figured out why there is an inconsistency of output between environments.
In my local pytorchpytorch-cpu 1.1.0] `optimizer.state_dict()` is defined as follow:
[code]
While on CoLab (PyTorch 1.6.0+cu101) ( assumed to be GitHub master branch) is defined as follow:
[code]

If the newest implementation of state_dict to be reserved, I can write a function `remove_param_groups()` to remove the paramet

[2020-08-06 14:05] lamipaul commented on #41534
Similarly to the mentioned problem with Conv and BN, the problem persists with activation functions such as LeakyReLU

`import torch
m = torch.nn.Sequential(torch.nn.Conv1d(1,1,3), torch.nn.BatchNorm1d(1), torch.nn.LeakyReLU())
m.eval()
torch.quantization.fuse_modules(m, [['0','1', '2']])
`
yields the same error

[2020-08-06 14:14] paantya commented on #41794
I upgrading to 1.6.0 now

[2020-08-06 14:16] paantya commented on #41794
disappears, but new issue
![image](https://user-images.githubusercontent.com/2975813/89542406-507e1680-d808-11ea-935f-ce7b1ff8e66a.png)
![image](https://user-images.githubusercontent.com/2975813/89542433-570c8e00-d808-11ea-9fe8-872959a86b75.png)

[2020-08-06 14:17] paantya commented on #41794
[code]

[2020-08-06 14:19] paantya commented on #41794
@rgommers
close this issue and open new issue, do nothing, or something else i can do?

[2020-08-06 14:29] JulianMar11 commented on #18626
Support +1

[2020-08-06 14:37] mrshenli commented on #39855
Another instance: https://app.circleci.com/pipelines/github/pytorch/pytorch/197375/workflows/d5048196-a36b-4788-a1d3-6c138f688cf4/jobs/6545781/steps

[2020-08-06 14:41] Balandat commented on #41489
Yes, we can should add that there as well. I'll try to clean this up soon.

[2020-08-06 14:46] ezyang commented on #41794
It's possible that the new problem has to do with mypy and Python disagreeing about what entities are in scope. Specifying `__all__` or something similar may help.

[2020-08-06 14:49] rgommers commented on #41794
Thanks @paantya. Let's keep this issue, no need for a new one. This one is due to an empty stub file, `torch/utils/__init__.pyi`. I'll fix that and will add complete type annotations for all parts of `torch.utils`, that will definitely fix it.

[2020-08-06 15:00] lw commented on #39855
Thanks for the reminder! The stack has landed, so I updated the name of this issue to follow.

[2020-08-06 15:01] malfet commented on #42648
Can reproduce with the latest build.

[2020-08-06 15:21] gmagogsfm commented on #42646
I think there are two issues here:

1. two branches of `if` actually return two different data types. `input` is `torch.Tensor` while `ret` is `List[torch.Tensor]`. This is not allowed. The type `Any` refers to a single unspecified type rather than a varying type.

2. Error message isn't pretty and not meaningful

[2020-08-06 15:32] adityarajagopal commented on #18626
Would be great to have.

[2020-08-06 15:46] vincentqb commented on #40362
Awesome, thanks a lot for the input, and please feel free to open a pull request for this :)

[2020-08-06 15:54] martinbrose commented on #1259
I think this might have been closed with PR #10273?

Current documentation states the following, which looks like it is addressing the above:
<img width="1083" alt="Screen Shot 2020-08-06 at 4 52 17 pm" src="https://user-images.githubusercontent.com/13284268/89553362-532b3c80-d805-11ea-8017-f32caad5d6cf.png">

[2020-08-06 15:57] zou3519 commented on #1259
@martinbrose thanks for pointing that out. We indeed have good bernoulli docs now so I am closing this issue.

[2020-08-06 15:57] #1259 closed

[2020-08-06 15:58] vadimkantorov opened #42671 "[discussion] Support __round__ magic"
Then `round(torch_tensor)` would work. Currently wrappers like in https://github.com/pytorch/fairseq/blob/38f35cccea01482d143c488c75fceb352875d654/fairseq/logging/meters.py#L53 have to be done.

However, this is not supported in NumPy

[2020-08-06 16:05] acivgin1 opened #42673 "Unexpected behavior of "to" method inside a torch.jit.script decorated function"
## 🐛 Bug

Hi, I was doing some work with `@torch.jit.script` decorator and came upon this strange bug which changed the value (by changing the data type of the tensor) of the resulting values I obtained with the decorated function.

## To Reproduce

Here is a minimal working example:

[code]

And this is the output I get:

[code]

## Expected behavior

`b` getting transferred to the same GPU on wh

[2020-08-06 16:14] nikitaved commented on #38948
@pearu , sorry, been busy. So, the backward for a `k`-rank eigenproblem from above is correct, I only updated the definition of `E`, which was incorrect, it has to be `E_ij = d_i - d_j`.

Now, consider the generalized version `AU = BUD`. We know that `B` is positive-definite, so it is full-rank, hence `B^{-1}` exists. Let `C = B^{-1}A`, then the generalized problem can be rewritten as `CU = UD`. F

[2020-08-06 16:22] mthrok commented on #42258
@SplitInfinity

Thanks for the detail. I understand that changing implementation will make it work.
Is this the expected behavior? or is it something potentially improved in future?

[2020-08-06 16:23] gmagogsfm commented on #42505
Hi Ioou,

I don't think I fully understand your question, so please bear with me if this is incorrect. Sounds like you wanted to "callstack" of a node, ie which module/submodule it is created out of.

I checked IR printer and logic to print `scope` still exists, just that most of the time `Graph` is created without specified `scope` like [here](https://github.com/pytorch/pytorch/blob/576aab5084268

[2020-08-06 16:28] SplitInfinity commented on #42646
I'm a bit confused.

In the [TorchScript language reference](https://pytorch.org/docs/stable/jit_language_reference.html#statements), the only statement that resembles this is one that says that *unlike Python, each variable in TorchScript function must have a single static type.* So I was under the impression that assigning values of different types to one variable in different branches of an if

[2020-08-06 16:30] gmagogsfm commented on #42600
I am probably missing some context, but curios why you don't choose to make placeholder modules with a dummy forward that throws an exception?

[2020-08-06 16:34] vkuzo commented on #42594
hi @Robin-Simmons, thanks for the report! LSTM support for QAT is not ready at the moment.  We have some preliminary work to enable it, but no timeline yet.

[2020-08-06 16:37] vkuzo commented on #41534
Here (https://github.com/pytorch/pytorch/blob/0c77bd7c0bbd4d6e50a5f3ce7b4debbee85d7963/torch/quantization/fuse_modules.py#L106) is a list of modules which can be fused.  LeakyRELU fusion does not work because we don't have a fusion implemented for it.

[2020-08-06 16:39] SplitInfinity commented on #42646
This sounds more like [`TypeVar`](https://docs.python.org/3/library/typing.html#typing.TypeVar) than `Any` to me.

[2020-08-06 16:39] wconstab commented on #41865
@estrulyov I confirmed that `pytorch-1.7.0.dev20200806` (last night's nightly) shows the improvement I was looking for on both the distilbert script and @dskhudia's script.  If you could confirm, that'd be great.
`conda install pytorch=1.7.0.dev20200806 -c pytorch-nightly`

[2020-08-06 16:40] ggoossen commented on #42170
I'm expecting the tensor not to be changed, that they remain on cuda, and the returned tensor is a cuda tensor (in line with the semantics described in https://pytorch.org/docs/stable/notes/cuda.html).

I don't know how this is related to #13969, that issue doesn't mention anything about changing behaviour of `a[b]` it talks about new tensors created with `device` arguments. So the change introduc

[2020-08-06 16:44] Robin-Simmons commented on #42594
Hi @vkuzo , that's a shame, but thanks for replying!

[2020-08-06 16:57] Nayef211 commented on #38207
It seems like this issue persists for Windows. My unit tests are passing on Linux and MacOS but failing on the Windows CI. Would you guys be able to investigate this further?

Refer to https://github.com/pytorch/text/pull/909 for more information.

[2020-08-06 16:57] KsenijaS commented on #41304
@kundanapillari can you tell me the value of text in sequence = np.array(synthesis._frontend.text_to_sequence(text, p=0))

[2020-08-06 17:03] dreiss commented on #42592
Are you able to post the JIT-traced model for both 1.5 and 1.6?

[2020-08-06 17:04] dreiss commented on #42601
We are not actively developing Caffe2 on Android, so it's possible that this regression happened accidentally due to some work on shared PyTorch/Caffe2 code.  I don't think we have the bandwidth to investigate this right now, but if you can narrow down the cause, we might be able to fix it.

[2020-08-06 17:05] dreiss commented on #42601
Also, it might be helpful if you can use "top" or systrace to observe the number of CPU cores that are busy during execution.

[2020-08-06 17:08] spandantiwari commented on #42622
@malfet - From the stack it seems some attribute is missing in the model object. I am not sure if this is directly related to ONNX. Would you be able to double check, and if possible, send a smaller repro? It will help speed up investigation.
Also note that ONNX is primarily for inference, so I would recommend using model.eval() to set the eval mode before you export the model.

[2020-08-06 17:11] gmagogsfm commented on #42646
Thanks @SplitInfinity  for the clarification.

In last meeting, I asked specifically whether `Any` refers to a single unspecified type or a varying type in the same meeting and someone mentioned that it refers to a single type. Now that I think more about it, the only use case of it is to represent an unknown or uninferrable type, which may or may not be specified later. However, you made a very g

[2020-08-06 17:18] yf225 commented on #42646
Thanks a lot everyone and yes would love to know if I should expect the feature to be possible / available in the near future, so that I can also communicate to our team as well. cc. @suo

[2020-08-06 17:39] apsdehal opened #42686 "[bug] Behavior of torch.full is different from torch.zeros on int size"
## 🐛 Bug

`torch.full` throws a typeerror when the size is a single element int. While the same thing works for torch.zeros.

## To Reproduce
[code]
## Expected behavior

torch.full should have same semantics as torch.zeros

(I am on master)

[2020-08-06 17:55] vadimkantorov commented on #42686
I think the problem is that `(1)` is not a tuple. For tuple you need `(1,)`

[2020-08-06 18:00] SplitInfinity commented on #42258
No, but it's probably not a use case that was foreseen based on the design. TorchScript classes are also still considered experimental.

I'm working on a redesign of class types that will most likely get rid of the dependency of this feature on `__new__`, so it might be potentially improved in the future.

[2020-08-06 18:21] apsdehal commented on #42686
@vadimkantorov Thanks. That's correct. I am updating the issue to reflect API consistency.

[2020-08-06 18:31] peijason opened #42689 "How can I specify NumPy while building PyTorch?"
I tried the following command

[code]

And PyTorch is **100% built successfully**. But in the end, it shows:

[code]

I `pip install numpy --user` under ` ~/.local` . How can I specify **numpy** while building **pytorch**?

Cheers

[2020-08-06 18:51] estrulyov commented on #41865
I am not seeing improvement. Is there any way to confirm the right version of torch is running?

(base) (python3) Eugenes-iMac-215:tmp estrulyov$ python repro-quant-gil.py --quantize
Instantiating tokenizer
Instantiating model
Testing with 1 threads
Testing with 2 threads
Testing with 4 threads
Testing with 8 threads
Testing with 16 threads
Times for quant=True
Threads          1         2

[2020-08-06 18:54] estrulyov commented on #41865
version.py has this:

__version__ = '1.5.1'
debug = False
cuda = None
git_version = '3c31d73c875d9a4a6ea8a843b9a0d1b19fbe36f3'
hip = None

[2020-08-06 18:59] yf225 commented on #16830
@glaringlee please feel free to prioritize it :D

[2020-08-06 19:03] froody commented on #42560
Thanks, running this with torch-1.6.0 I see `Warning: Error detected in FooBackward` which does make it slightly easier to see what's going on, but my original question still stands: why isn't the default behavior to preserve the stacktrace from the original `raise` statement if there is one?

[code]

[2020-08-06 19:09] KsenijaS commented on #41304
@kundanapillari Can you tell me how did you get ONNX model of deepvoice3 model that is part of your PR https://github.com/onnx/models/pull/323.
Could you previously convert the model and now you can't?

[2020-08-06 19:12] supriyar opened #42693 "Store scale as fp32 and zero_point as int32"
Currently quantize_per_tensor/quantize_per_channel expects the scale value to be a double and int64 for zero_point in the API as well as in the internal storage. We only need to store float32 since all backends currently only support float32 scale and int32 zero_point. This could have a potential storage win for per-channel quantization.
API - https://pytorch.org/docs/stable/generated/torch.quanti

[2020-08-06 19:12] agural commented on #42557
It seems like the issue only happens when subsequent applications are on larger matrices. Therefore, a quick solution to the problem is if you know the largest matrix dimensions are Nmax x Nmax, you can run `torch.symeig(torch.eye(Nmax).to(device))` before running your code.

[2020-08-06 19:19] wconstab commented on #41865
Yea, seems like you are still using torch 1.5.1.

You can confirm you have gotten the right torch version by running
`python -c 'import torch; print(torch.__version__)'`

and seeing this as output:
1.7.0.dev20200806

[2020-08-06 19:22] DNXie opened #42695 "segfault and abort in `torch.cholesky_solve`"
## 🐛 Bug

## To Reproduce

The API outputs segfault and several kinds of abort in both nightly version and 1.5.0. The abort messages are:
- munmap_chunk(): invalid pointer
- double free or corruption (!prev)
- corrupted double-linked list
- free(): invalid pointer
- realloc(): invalid next size

And with the same input, it produces different error message in 1.5.0 and nightly version.

### Input#1

[2020-08-06 19:32] DNXie commented on #42648
@malfet I just reported another issue with this API in #42695, please take a look. Apparently, it produces so many kinds of error message with abort, and even segfault. Thank you!

[2020-08-06 19:53] estrulyov commented on #41865
Now I'm seeing this:

$ cat /usr/local/miniconda3/lib/python3.8/site-packages/torch/version.py
__version__ = '1.7.0.dev20200806'
debug = False
cuda = None
git_version = 'c81b784a72e93c13ba60e9cc8c799c3e7bcaeb7c'
hip = None

---

[code]

[code]

Looking much better now, although scaling is not quite as good as for non-quantized model (at 8 threads, .43 vs .33)

[2020-08-06 19:57] vadimkantorov commented on #42686
I think it's becasue `torch.full(1, 2, 3, 4)` would be not very clear, that (1,2,3) is shape and 4 is fill_value. And fill_value is not a kwarg-only.

And I guess torch.zeros(1, 2, 3) is supported for historical reasons.

But above is just my perspective

[2020-08-06 19:59] malfet commented on #42616
`2.5e+38` is quite close to `std::numeric_limits<float>::max()`, so shortly during the computation it turns into +Inf

[2020-08-06 19:59] estrulyov commented on #41865
Stil, this looks like a 3.3x reduction in latency and 2.5x improvement in throughput. Nice!

[2020-08-06 20:04] ilia-cher commented on #19213
thanks for the report, I will take one more look into the issue and will try to repro again to check if we miss propagating the setting in some use cases

[2020-08-06 20:08] wconstab commented on #41865
Yea, I have not investigated additional causes for the scaling disparity, other than to look at a trace of each program and note that in the non-quantized case most of the time is spent in the mul kernel with the gil released, while in the quantized case, the quant kernel is so fast that it accounts for a much smaller fraction of the overall program time, meaning that the overhead of all the other

[2020-08-06 20:28] yf225 commented on #42600
It's because the placeholder module still needs to have the same forward method signature as the actual module (otherwise it can't be a placeholder for TS compilation purpose). For example if `ModuleA` has `def forward(self, input1: Tensor, input2: Tensor)`, then `ModuleAPlaceholderModule` also need to have `def forward(self, input1: Tensor, input2: Tensor)`. The only scalable way to generate this

[2020-08-06 21:28] mthrok commented on #42258
@SplitInfinity

Thanks for the clarification.

One more question.

If it were to be fixed in the future, will the currently dumped files work? or is it could be uncertain at the moment?

[2020-08-06 22:06] gmagogsfm commented on #42258
There actually is a work-around (with limitation) at the moment.

In the program that loads these saved modules, you can import definition of `AudioMetaData` (also decorating AudioMetaData with @torch.jit.script) and your program should run successfully. However, this does come with the limitation that your program must be in Python. So if you want to serve this model in some prod environment, it

[2020-08-06 22:07] #39667 closed

[2020-08-06 22:08] frank-dong-ms opened #42705 "torch.distributed.rpc package not work well with generator and lambda"
I'm using torch.distributed.rpc package to work on a distributed training POC, currently I'm seeing rpc package itself is using pickle and pickle not work well with some python features like generator and lambda, so that put extra limitation, what even worse is if I try to reference some other python package that used lambda or generator I have no way to combine usage of this and rpc package.
So m

[2020-08-06 22:46] SplitInfinity commented on #42258
Did you try this? I wonder if there will be a naming conflict in the compilation unit.

[2020-08-06 22:52] victor-shepardson opened #42710 "ScriptModule including tensor attributes in state_dict"
## 🐛 Bug

When creating ScriptModule with torch.jit.script, any tensor attribute of the module will appear in the state_dict. The same is true for buffers with persistent=False.

## To Reproduce

Steps to reproduce the behavior:

[code]

[code]

## Expected behavior

I expect the state_dict to be empty in all cases.

## Environment

PyTorch version: 1.6.0
Is debug build: No
CUDA used to build PyTo

[2020-08-06 23:00] rgommers commented on #41794
It's actually by design that `torch.utils.data` and other `torch.utils` submodules are not imported into the `torch.utils` namespace. So there's nothing to put into `__all__`, and code completion should not work if all you have done is `import torch.utils`.

[2020-08-06 23:09] #41656 closed

[2020-08-06 23:24] gmagogsfm commented on #42258
I was wondering the same thing. But there is no name conflict and the failure is gone by adding @torch.jit.script to AudioMetaData class. I guess this is due to the fact that compilation unit used in importing is discarded?

[2020-08-06 23:55] nlpconf commented on #41869
@wanchaol

Here I prepared a small piece of code with fake data. Please let me know if this works.

[code]

[2020-08-07 00:07] yf225 commented on #42258
Yeah I tried and this works:

test_yf225_common.py
[code]
test_yf225_save.py
[code]
test_yf225_load.py
[code]

If I run `test_yf225_save.py` and then `test_yf225_load.py`, it is able to access the content of the TorchScript class object.

[2020-08-07 01:10] ailzhang commented on #42686
Yea I think this is the design is kinda intentional. I'm going to closing this issue as resolved, please feel free to reopen if you have followup questions.

[2020-08-07 01:10] #42686 closed

[2020-08-07 01:12] dalmia opened #42716 "OneCycleLR mentions `verbose` as an argument on the doc page when it is not"
The documentation for [OneCycleLR](https://pytorch.org/docs/stable/optim.html#torch.optim.lr_scheduler.OneCycleLR) mentions `verbose` as one of the arguments but the [code](https://pytorch.org/docs/stable/_modules/torch/optim/lr_scheduler.html#OneCycleLR) doesn't have that argument. Thus, it raises an error if someone passes a value for `verbose` just going by the documentation.

cc @jlin27 @vince

[2020-08-07 01:12] ailzhang commented on #42671
Add this to numpy module so that we can consider whether it's worth it to add this feature over numpy.

[2020-08-07 01:17] ailzhang commented on #42659
Yup I think @mariokostelac's suggestions makes sense.

[2020-08-07 01:17] #42659 closed

[2020-08-07 01:20] ailzhang commented on #42716
Thanks for reporting! I'll leave it to our optimizer pocs to decide whether we want to change the code or docs.

[2020-08-07 01:26] ailzhang commented on #42660
We should at least throw a proper error message instead of RuntimeError here. @xuhdev would you mind submitting a fix for this? Thanks!

[2020-08-07 01:26] malfet commented on #42657
@zasdfgbnm what's your cmake version?

[2020-08-07 01:29] ailzhang commented on #42654
Hmmm the error message seem to be clear enough, I think the todo here is to make sure we didn't accidentally regress from 1.5.0?

[2020-08-07 01:30] malfet commented on #42657
Tentatively remove `module: windows` label, as I can easily repro it on Linux, but starting a build in `buil d` folder

[2020-08-07 01:33] ailzhang commented on #42609
This should be already fixed by #42610? Please feel free to reopen if it's not fully resolved.

[2020-08-07 01:33] #42609 closed

[2020-08-07 01:34] ailzhang commented on #42498
Hmmm did you build pytorch 1.6 and 1.7 from source?

[2020-08-07 01:36] ailzhang commented on #42652
Why does this feature request is on torch.Storage instead of torch.Tensor btw?

[2020-08-07 01:38] zasdfgbnm commented on #42657
The version is `3.17.0-rc1` other environmental information that might be useful is:
[code]

[2020-08-07 01:40] glaringlee commented on #42665
@nitya05
I remember mobile build does not include libtorch APIs. @malfet , am I correct?

[2020-08-07 01:43] y1r commented on #42652
I want to overwrite the activation during backprop for some reason.
Since `torch.Tensor` tracks the number of in-place updates, modifying them in `torch.Tensor` API increments internal Tensor version so this [error](https://discuss.pytorch.org/t/encounter-the-runtimeerror-one-of-the-variables-needed-for-gradient-computation-has-been-modified-by-an-inplace-operation/836) will occur. However, overwr

[2020-08-07 01:45] beew commented on #42498
@ailzhang
yes.

[2020-08-07 02:16] VinodSKumar commented on #37756
@glaringlee There was some issue with the old PR in git, I have created a new PR  [42717](https://github.com/pytorch/pytorch/pull/42717) addressing all the review comments from PR [42587](https://github.com/pytorch/pytorch/pull/42587) sorry for the trouble of raising a new PR, could you please help to continue the review on the new PR.

[2020-08-07 02:24] malfet commented on #42657
@zasdfgbnm can you check if https://github.com/pytorch/pytorch/pull/42718 fixes the issue.
I.e. just try to surround `$<TARGET_FILE:${SRC}>` with  `\"` here:
https://github.com/pytorch/pytorch/blob/40ac95dd3c3f88c68143adf354e493a26d18e2ae/cmake/public/utils.cmake#L55

[2020-08-07 02:28] Euruson opened #42720 "Some equations in the document do not display on 1.6.0 docs"
## 📚 Documentation

Some equations in the document do not display. For example, [L1LOSS](https://pytorch.org/docs/stable/generated/torch.nn.L1Loss.html#torch.nn.L1Loss).

cc @ezyang @zou3519 @jlin27

[2020-08-07 02:37] lawlict opened #42722 "How to build libtorch static libraries on Windows?"
I'm developing the Windows program using libtorch dynamic libraries released on pytorch website. However, I find the dynamic libraries are quite large (the torch_cpu.dll is larger than 100MB). Is there the static library version, or how could I build the libtorch static library by myself?

Look forward to your response. Thanks a lot!

[2020-08-07 02:44] zasdfgbnm commented on #42657
Tested that it works.

[2020-08-07 02:50] CallHoganZhang commented on #42350
Hi, Thanks for your help! I'm still paying attention to my recent issue。
The environment I use now is:
Win10,

VS2017

pytorch1.6

Libtorch1.6 (now using debug version)
======================================================
This is my transformation model program:

import torch
from torchvision import models

device = torch.device("cuda" if torch.cuda.is_available() else "cpu")
print(device)

mode

[2020-08-07 03:20] ZenFSheng opened #42724 "version below torch 1.4 cannot load model state dict that training on torch 1.6, but torch 1.5 can both load 1.4 and 1.6 model state dict"
![image](https://user-images.githubusercontent.com/49142984/89604940-dfd60900-d89e-11ea-80b9-7620965cb4f6.png)
I suddenly found that the model state dict training on torch 1.6 cannot be loaded on torch 1.4 but 1.5 will be alright. My question is :  whether the version torch 1.5 will be the watershed ? Or it is just a temporary question?

[2020-08-07 03:22] mruberry commented on #42671
I think we would take a PR implementing this, but it requires another PR first that would update `torch.round` to take a `decimals` or `digits` argument like Python's `round` and NumPy's `around`.

[2020-08-07 03:36] glaringlee commented on #37756
@VinodSKumar I see your previous PR had some rebase issue and you close it.
No problem, will take a look at tomorrow.

[2020-08-07 03:43] ioou commented on #42505
hi,

@gmagogsfm

1. The scope information is used to get the name of the node, so we can put the traced information(input and ouput layer name) to each module in the given model. So hope to get the name information of each node in the traced graph.

2. I want to get the previous and next node for each leaf module according to the trace.
For example as follows, for `model.backbone.bn1`, its prev an

[2020-08-07 03:49] xsacha commented on #42722
Last time I tried, the filesize was > 2GB and failed to link due to size.

[2020-08-07 03:55] kundanapillari commented on #41304
I was initially able to convert the model by giving a different input to the exporter that is the test_data() from the test.deepvoice3 file. This provides 3 parameters/features from an array of sentences. However, this is not the same input for the original pytorch model where you send in one sentence at a way. I don't know why the exporter only works when the input is different from the original

[2020-08-07 03:57] kundanapillari commented on #41304
I also got the same error but to test it I commented this statement in the file which is when I get the dimension error.

[2020-08-07 04:45] firstprayer commented on #42597
Only place I found so far related to how is Tensor.xxx() implemented is this

https://github.com/pytorch/pytorch/blob/61623430d32c081124067fc4abf33bd4a023af90/torch/csrc/jit/runtime/symbolic_script.cpp#L783-L788

Looks like it wraps it within a helper function but still calling torch.xxx() under the hook>

[2020-08-07 07:49] zheng-ningxin opened #42726 "When should I use the clone function after expand"
## 🐛 Bug

I have two code snippets about expand, because they behave differently, so I am not sure if this is a bug.
## To Reproduce

Code snippet-1:
[code]
It will raise a RuntimeError which is as expected, because that `expand` actually only  create a new view for the tensor. I should `clone` before the in-place action.
[code]

However, I get the second code snippet:
Code snippet-2:
[code]
Howev

[2020-08-07 08:25] sreshu commented on #4827
"import torch" not working in jupyter notebook

OS: Ubuntu 18.04
Python version : 3.6.9

[2020-08-07 08:38] JiaRu2016 commented on #19559
@densechen
Hi, I recently encounter same problem as yours, Could you please share more details of why this happens, and how you figure out the causation?  Any related documents or references will help, thanks~!

I'v also tired to reproduce this problem in small script, but can not, as you say, it looks really random.

[2020-08-07 08:42] rgommers commented on #42671
Relevant NumPy issue is https://github.com/numpy/numpy/issues/6248. The concerns seemed to be that the builtin `round` returns `int` while numpy returns `float64`, and that the `ndigits` and `decimal` keywords are not matching. A NumPy PR would be accepted it looks like, but it's a little meh.

[2020-08-07 09:02] densechen commented on #19559
@JiaRu2016 I think the most simple way to solve this is that do not modified your code while training.

[2020-08-07 09:02] bingnoi commented on #21136
could you please tell me how to locate the wrong place of data? i met the same trouble,

[2020-08-07 09:13] rgommers commented on #42666
xref gh-42053, the correct way to implement aliases is still under discussion there.

[2020-08-07 09:53] ptrblck commented on #42663
Since CUDA operations are launched asynchronously, you would have to synchronize the code before starting and stopping the timer via `torch.cuda.synchronize()`.

After adding proper synchronizations I cannot reproduce this issue on different machines and see a lower runtime for the `nn.Conv3d` workload:
[code]

Also note, that your workload is

[2020-08-07 10:13] vadimkantorov commented on #42223
For CPU impl, expand/compress SSE/AVX instructions might be related

[2020-08-07 10:17] vadimkantorov commented on #38349
frombuffer/fromfile would be helpful. my related issues (mostly about ingesting byte arrays into PyTorch from different sources): https://github.com/pytorch/pytorch/issues/30387 https://github.com/pytorch/pytorch/issues/34651 https://github.com/pytorch/pytorch/issues/34646 https://github.com/pytorch/pytorch/issues/34649 https://github.com/pytorch/pytorch/issues/29013 https://github.com/pytorch/pyt

[2020-08-07 10:42] vadimkantorov commented on #33041
However, with torch.ByteTensor, it seems to work okay

[2020-08-07 10:47] ORippler opened #42729 "Mismatch in docs and behavior of align_corners for nn.functional.interpolate"
## 📚 Documentation

In the docs of [`nn.functional.interpolate`](https://pytorch.org/docs/master/nn.functional.html#interpolate) it is stated that `align_corners` is a `bool` with default value `False`. Furthermore, it is stated that `align_corners` **does not affect** interpolation modes 'area' as well as 'nearest' .

If you look at the implementation however, default of `align_corners` is `None`

[2020-08-07 10:54] mojiayuan commented on #21572
How did you solve it

[2020-08-07 10:55] peterjc123 commented on #42722
Have you tried MinSizeRel builds?

[2020-08-07 10:58] peterjc123 commented on #42722
You may refer to https://github.com/pytorch/pytorch/pull/39848/files.

[2020-08-07 11:02] peterjc123 commented on #21572
@mojiayuan Ensure you have a correct CUDA installation and make sure you have set the environment variable `NVTOOLSEXT_PATH` correctly.

[2020-08-07 11:06] vadimkantorov commented on #38349
Some common dtype attributes: kind, itemsize. Currently they're missing from both dtype and iinfo/finfo

[2020-08-07 11:08] xsacha commented on #42722
Problem becomes how to debug the build

[2020-08-07 11:10] peterjc123 commented on #42722
Maybe you could try adding the compiler option `/Zi`?

[2020-08-07 11:18] vadimkantorov commented on #38349
tobytes and byteswap are also missing

[2020-08-07 11:57] kshitij12345 commented on #42726
Expand returns a view of the tensor. So if you expand a small tensor to a larger one, it will occupy the same underlying physical memory by manipulating the strides.
https://pytorch.org/docs/stable/tensors.html#torch.Tensor.expand

Snippet-1: We can see that stride of all dimensions except the first is 0, which means for all elements of those dimension come from same location in physical memory.
[

[2020-08-07 12:02] vikash0837 commented on #4546
I solved it by downgrading the pytorch. That is less cumbersome compared to updating the driver.
I followed [https://pytorch.org/get-started/previous-versions/] for compatible pytorch version with cuda toolkit

[2020-08-07 12:04] kshitij12345 commented on #42652
@y1r
Just curious. If you actually manage to overwrite some activation in middle layer, wouldn't the gradient that will flow to the layers before be incorrect?

[2020-08-07 12:07] ghimireadarsh opened #42730 "Download of torch wheel is very slow"
## ❓ Questions and Help
Installing the torch package is very slow, while its 3+ mbps for other packages like numpy, pandas, but its not going above 400kbps for torch.

cc @ezyang @seemethere @malfet

[2020-08-07 12:56] oliso commented on #27837
Same issue with pytorch 1.3.1 on Quadro RTX 8000, and similarly to others training a model with an LSTM layer. Also, trying with different seeds would sometimes crash with "cuDNN error: CUDNN_STATUS_INTERNAL_ERROR".

I tried to fix with set_detect_anomaly(True) and the process just got stuck on the same epoch where it previously crashed and seemed to be stuck in some backend loop - cuda showed 100

[2020-08-07 13:19] ak9250 commented on #42622
this was resolved although I still getting this error from the exported onnx model The ONNX model's constant layer tensor dimensions size must be 1, 2 or 4

[2020-08-07 13:30] HeroadZ commented on #17023
same situation in japan

[2020-08-07 13:34] fmassa commented on #21064
@powderluv I don't think anyone is working on this, but before looking into it we should see with the torchscript team if this is something that they would like to have. cc @suo

[2020-08-07 13:35] vadimkantorov commented on #32968
Also stumbled on this. Current workaround for square matrices and not supporting `diagonal` arg:
[code]

`triu` fails fairseq model exports :(

[2020-08-07 14:01] ntuLC commented on #16542
It is somehow sad to see that the PR #16636 is still not have been accepted :(

I'm using the fix mentioned by @ParticularlyPythonicBS. Works nice for me but I wonder if this will affect the executing speed of the script?

[2020-08-07 14:02] ntuLC commented on #16542
It is quite sad to see that the PR #16636 is still not have been accepted :(

I'm using the fix mentioned by @ParticularlyPythonicBS. Works nice for me but I wonder if this will affect the executing speed of the script?

[2020-08-07 14:25] vincentqb commented on #42662
Good point :) Do you want to open a pull request to say "strictly positive integer"?

[2020-08-07 14:27] vincentqb commented on #38726
Fixed by #41580

[2020-08-07 14:27] #38726 closed

[2020-08-07 14:29] vincentqb commented on #42716
Thanks for reporting this! This was added in #41580, see [code](https://github.com/pytorch/pytorch/blob/master/torch/optim/lr_scheduler.py#L1157). I'll close this issue, but please feel free to re-open if this doesn't address it :)

[2020-08-07 14:29] #42716 closed

[2020-08-07 14:41] #42433 closed

[2020-08-07 14:45] jimlinntu commented on #41582
@wanchaol Thanks for pointing out!
I think in the torch 1.3 version, I will not receive an error if I try to pass `lengths` as a CUDA tensor.
So I bump into this situation after I upgrade it from 1.3 to 1.5.

[2020-08-07 15:39] boeddeker commented on #42418
@IvanYashchuk Thank you for the fast fix. I tested now torch 1.7.0.dev20200807 and the code is now executable.

[2020-08-07 16:09] mruberry commented on #42666
We ultimately decided on the approach taken in https://github.com/pytorch/pytorch/pull/42586. In the future we may implement an "alias" entry in native_functions.yaml, too.

[2020-08-07 16:24] ezyang commented on #42720
It seems to be working on master https://pytorch.org/docs/master/generated/torch.nn.L1Loss.html?highlight=l1loss#torch.nn.L1Loss

[2020-08-07 16:26] ezyang commented on #42729
sending to triage review for some initial opinions

[2020-08-07 16:27] #42726 closed

[2020-08-07 16:28] ezyang commented on #42730
where are you installing torch package from? From pypi or our server?

[2020-08-07 16:29] ezyang commented on #42724
please see "Deprecated old torch.save serialization format " in the 1.6 release notes https://github.com/pytorch/pytorch/releases

[2020-08-07 16:29] #42724 closed

[2020-08-07 16:30] ezyang commented on #4960
I'm going to speculatively close this as a dupe of #37160

[2020-08-07 16:30] #4960 closed

[2020-08-07 16:31] ezyang commented on #4968
I think Greg fixed this in the last two years :)

[2020-08-07 16:31] #4968 closed

[2020-08-07 16:31] ezyang commented on #4984
we use sleef tanh now

[2020-08-07 16:31] #4984 closed

[2020-08-07 16:33] ezyang commented on #4996
This is really old, and I'm going to guess that we've fixed it in the last two years. If there are still problems, please open a new issue.

[2020-08-07 16:33] #4996 closed

[2020-08-07 16:33] #5006 closed

[2020-08-07 16:33] #5024 closed

[2020-08-07 16:34] ezyang commented on #5063
These functions still exist!

[2020-08-07 16:41] ezyang commented on #42508
it would be great for us to eventually fix this, but yes, PyTorch is unlikely to be strict typeable for the forseeable future.

[2020-08-07 16:43] ailzhang commented on #42652
Yea as @kshitij12345 suggested, we probably need to understand the use case better before proceeding with this feature request. (In general we take `torch.Tensor` as public facing API and `torch.Storage` is kinda an internal concept).

[2020-08-07 16:45] ezyang commented on #42557
OK. That sounds like a fragmentation issue from the caching host memory allocator then.

[2020-08-07 16:46] malfet commented on #42648
Looks like this one is just a one corner case of  #42695 , so let's close this one as a duplicate and focus the investigation there

[2020-08-07 16:46] #42648 closed

[2020-08-07 16:47] malfet commented on #42695
Will look at it on Monday

[2020-08-07 16:59] oke-aditya commented on #42730
It is conda issue. I too faced in the morning and still. I am downloading from India.

pip install worked fine..

[2020-08-07 17:01] ezyang commented on #42730
Unfortunately there is not much we (personally) can do about Anaconda's servers

[2020-08-07 17:07] machineyearning commented on #41639
Hi, just checking if there are any updates on this. Wondering in what circumstances `torch.multiprocessing` can throw runtime exceptions / what best practices I should follow to avoid issues like this.

[2020-08-07 17:15] seemethere commented on #42730
Yeah to parrot @ezyang we don't personally control the infrastructure that hosts binaries for both PyPI or Conda so there's not anything we can do about slow download speeds on those platforms 😞

Going to close this since this isn't really related to an issue with the PyTorch project itself.

[2020-08-07 17:15] #42730 closed

[2020-08-07 17:25] #42657 closed

[2020-08-07 17:25] vadimkantorov commented on #31317
My current workaround:

[code]

[2020-08-07 17:56] jerryzh168 commented on #39817
This would make supporting graph mode quantization much easier

[2020-08-07 18:01] SsnL commented on #42654
Agree with @ailzhang . The issue lies in your dataset code and is a user error.

[2020-08-07 18:23] #39308 closed

[2020-08-07 18:40] vadimkantorov commented on #1206
If it's easy to protect running stats updates against NaN, it may be useful. Since a naive check:
`if torch.isnan(loss): continue` fails because of this :(

[2020-08-07 18:48] thuyen commented on #40497
It seems batch norm is not autocasted to fp32. If it's the case, can we add support for it as an option?

[2020-08-07 19:21] fjhickernell commented on #32047
Dear Pamphile,

Unshifted digital nets (of which Sobol’ is one variety) and unscrambled Halton sequences by definition so start at [0, …, 0].  I would be curious to see any place in the literature that says otherwise.

Attached are two pages 146 and 147 from Digital Nets and Sequences by Josef Dick and Friedrich Pillichshammer defining digital nets.  As you can see in Definition 4.47, the first po

[2020-08-07 20:00] anjali411 opened #42747 "Add torch.vdot similar to numpy.vdot to calculate the complex dot product"
For two complex numbers the [dot product](https://en.wikipedia.org/wiki/Dot_product#Complex_vectors) is defined as:

<img width="840" alt="Screen Shot 2020-08-07 at 3 57 51 PM" src="https://user-images.githubusercontent.com/20081078/89683624-deb8d200-d8c6-11ea-8ed0-4d8bd870317d.png">

The `torch.vdot(a, b)` function (similar to [numpy.vdot](https://numpy.org/doc/stable/reference/generated/numpy.vd

[2020-08-07 20:03] danieltudosiu opened #42748 "Change how zero_grad() behaves."
## 🚀 Feature
Please change how zero_grad behave [by default](https://pytorch.org/docs/stable/_modules/torch/optim/optimizer.html#Optimizer.zero_grad) to be like Apex [does it](https://nvidia.github.io/apex/_modules/apex/optimizers/fused_adam.html#FusedAdam.zero_grad).

## Motivation
It signals better to the garbage collector to come and pick up the released tensors.

## Pitch
For 3D losses such as

[2020-08-07 20:10] #41362 closed

[2020-08-07 20:11] gmagogsfm commented on #41277
Closing since there is a dup.

[2020-08-07 20:12] gmagogsfm commented on #40867
Actually, could we take it a step further and set the default type for any argument that's not annotated to `optional[Tensor]` instead of `Tensor` like today?

[2020-08-07 20:20] dreiss commented on #42693
As discussed internally, using tensors to store these values for per-tensor quantization would have significant on-disk space overheads, so focusing on per-channel is probably the best bet.

[2020-08-07 20:39] rohan-varma commented on #39708
Fixed by #42669

[2020-08-07 20:39] #39708 closed

[2020-08-07 20:46] ak9250 opened #42752 "RuntimeError: ONNX export failed: Couldn't export operator aten::upsample_nearest2d"
trying to export this to onnx https://github.com/minivision-ai/photo2cartoon

import os
import torch
from models import UgatitSadalinHourglass

class Namespace:
  pass

n = Namespace()

n.phase = 'train'
n.light = True

n.dataset = 'photo2cartoon'

n.iteration = 1000000
n.batch_size = 1
n.print_freq = 1000
n.save_freq = 1000
n.decay_flag = True

n.lr = 0.0001
n.adv_weight = 1
n.cycle_weight = 50
n

[2020-08-07 21:00] danielpcox commented on #41486
Does that make it an MKL or OpenMP bug instead of PyTorch, or is there still a chance it's somewhere in PyTorch's combination of the two?

[2020-08-07 21:07] mrshenli commented on #42705
Hey @frank-dong-ms

It might be hard to pull dill in as a dependency for PyTorch, but applications should be able to override the pickler used by RPC. See the code below:

https://github.com/pytorch/pytorch/blob/7c07c398455b14c4919438e4fa320450df4f388e/torch/distributed/rpc/internal.py#L140-L149

Could you share an example that can repro the serde error?

[2020-08-07 21:38] tupui commented on #32047
I would counter argue on that. We start the base at 2. I did not get the pages but [looked it up](https://web.maths.unsw.edu.au/~josefdick/preprints/DP_book_preprint.pdf) and it's written p146 Corollary 4.26 -> b >=2. Also, in [Faure2015](From van der Corput to modern constructions of sequences for quasi-Monte Carlo rules) you can see Definition 14 saying that the base starts at 2.

Anyway, all th

[2020-08-07 22:21] mrshenli commented on #39022
#41954 addresses this issue by letting `param.grad` point to views in DDP buckets, so that we can save one copy of gradients.

[2020-08-07 22:32] fjhickernell commented on #32047
Excuse me Pamphile.  What I meant to say was

Halton sequences are coordinate-wise van der Corput sequences in different prime bases, again all starting with the first point being zero.

The base has nothing to do with the first point.  The base is 2 for Sobol’ sequences, and the base starts with 2 for Halton.  But the first point is always zero.

Look at the ACM TOMS algorithms, qrng by Christian

[2020-08-07 22:44] wanchaol commented on #42170
@ggoossen if you look at the FAQ, we require you to re-trace your model if you are on a different device, this is unfortunately something needed as of now. https://pytorch.org/docs/stable/jit.html#frequently-asked-questions We will improve the error reporting for this as a follow up.

[2020-08-07 22:50] wanchaol commented on #42160
We should make those internal asserts be user errors and make it clear when calls `toTensor`. You should check `isTensor` first before you use `toTensor`.

[2020-08-07 22:52] vincentqb commented on #42376
Yes, this should be fixed. It seems like decorating `_annealing_cos` and `_annealing_linear` with `@staticmethod` would be enough for this instance of the bound-method-serialized issue with OneCycle ([here](https://github.com/pytorch/pytorch/blob/master/torch/optim/lr_scheduler.py#L1231)). Is that correct? If so, I would welcome a pull request for this. Is there a unittest that would help catch su

[2020-08-07 22:58] wanchaol commented on #42651
You could use `torch::load` and it should work, we will address the `pickle_load` error that introduced in this issue.

[2020-08-07 22:59] spandantiwari commented on #31317
Great @vadimkantorov.  Please consider submitting a PR for adding ONNX export support.

[2020-08-07 23:01] spandantiwari commented on #42622
@ak9250 - please consider opening a new issue with a small repro for that.

[2020-08-07 23:01] #42622 closed

[2020-08-07 23:04] wanchaol commented on #42646
cc @suo for GraphModule engagement.

[2020-08-07 23:08] #41277 closed

[2020-08-07 23:20] wanchaol commented on #40870
This is related to supporting varargs in TorchScript to allow a static size inference.

[2020-08-07 23:56] ankane commented on #42651
Thanks @wanchaol! I'm having trouble getting the program to compile with `torch::load` and `torch::jit::load`. If it's not too much trouble, what should the example above look like?

fwiw, I found the `pickle_load` approach here: https://github.com/pytorch/pytorch/issues/20356#issuecomment-567663701. I'm not sure if there's official documentation for how to share tensors and models between Python

[2020-08-08 00:12] ankit-kothari commented on #16542
Could you guys please help me implement it in the current form, I am not able to get it to work from the solution provided.

Thanks
Ankit

[2020-08-08 00:35] jerryzh168 commented on #39817
I tried https://github.com/pytorch/pytorch/pull/42769 but I feel it might be hard since original `add` is not postfixed with anything, and looks like the overloading is not recognized

[2020-08-08 00:48] mkolod commented on #42265
@vishwakftw The issue is precisely because the code in question is being ported from TensorFlow, where the inverses for various matrix sizes run about 2 orders of magnitude faster. :)

[2020-08-08 01:48] vpirogov commented on #42446
The issue is fixed in [oneDNN v1.6.1|https://github.com/oneapi-src/oneDNN/releases/tag/v1.6.1].

[2020-08-08 02:07] y1r commented on #42652
@kshitij12345 @ailzhang Thank you for your response.

Currently, I am working on a memory-efficient backprop. In order to reduce the GPU memory consumption, my implementation sometimes moves activation tensor to CPU and move tensor from CPU to GPU if necessary.

Example for description
[code]
This example works, but actually I used hook function to perform these swap-in and swap-out during forward

[2020-08-08 02:25] firstprayer commented on #42407
@fritzo not sure if the fact that torch.multinomial() only takes integer is a blocker for this issue - my understanding is that it would be more convenient to have the total_count be a tensor but under the hook it could still be using torch.multinomial (so there might be some inefficiency but at least the API is more friendly)

[2020-08-08 03:13] mruberry commented on #42053
https://github.com/pytorch/pytorch/pull/42770 for the clip alias.

Copy is interesting. We already have [torch.Tensor.copy_](https://pytorch.org/docs/master/tensors.html?highlight=copy#torch.Tensor.copy_), and it and clone have different autograd semantics. NumPy doesn't have autograd semantics, of course. What would you expect when calling `torch.copy(t)`, would the copy work like `t.clone()` and

[2020-08-08 03:53] ngimel commented on #42748
related #41696.

[2020-08-08 03:57] ghimireadarsh commented on #42730
I was working with pip install, and it was the issue I faced. I have changed the pypi link to nearby servers, and its working fine now. Thanks.

[2020-08-08 04:02] rlucas7 commented on #27036
@jramapuram I've opened a PR #42216 that would obviate the need for approximation methods for over determined cases.

Provided there is concensus that pytorch will implement the backwards method for `lstsq` and if the PyTorch devs are willing to merge that ( #42216 ) PR (after reviews etc), then I could start the work on implementing this one next.

[2020-08-08 04:23] SplitInfinity commented on #42673
The issue here is that `Tensor.get_device()` returns an integer, and `Tensor.to()` with an integer type argument invokes this variant of `aten::to`:
[code]
JIT thinks the device index is a data type, and it just so happens that the device index for the GPU in the issue description is 0 (the same as the enum value for `ScalarType::Byte`). That's why the result is a byte type Tensor.

You can reprod

[2020-08-08 05:21] jizongFox opened #42772 "Unexpected gradient behavior for F.interpolate or upsample"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

[code]
![image](https://user-images.githubusercontent.com/24821325/89702997-b0fa7a00-d914-11ea-9d84-9fb2e2d0c9b9.png)

## Expected behavior
![image](https://user-images.githubusercontent.com/24821325/89703024-fdde5080-d914-11ea-8fbf-ea9d11415904.png)
I think the gradient should be backpropagated to all the pixels which have been interpol

[2020-08-08 05:29] dalmiaman commented on #42716
Great, thanks!

[2020-08-08 05:33] dalmiaman opened #42773 "Missing API reference for SWALR and Averaged"
Great to see SWA as a part of `torch.optim`. It would be helpful to add the API reference for `SWALR` and `AveragedModel` in the `torch.optim` doc page (like the other schedulers and optimizers). Else, one has to look at the Github code to understand all the possible arguments for both of them. Thanks!

[2020-08-08 05:33] #42773 closed

[2020-08-08 05:35] dalmia opened #42774 "Missing API reference for SWALR and AveragedModel"
Great to see SWA as a part of `torch.optim`. It would be helpful to add the API reference for `SWALR` and `AveragedModel` in the `torch.optim` doc page (like the other schedulers and optimizers). Else, one has to look at the Github code to understand all the possible arguments for both of them. Thanks!

[2020-08-08 07:48] tupui commented on #32047
@fjhickernell If you look at this article from Kucherenko: https://arxiv.org/abs/1505.02350
You will see that the sequences don't start with zero. I have some other slides from his classes showing the same.

Maybe that's a discrepancy trick that everyone is doing to omit the zero? Because having corners of the hypercube would not be good for C2 I guess.

[2020-08-08 08:12] Creator-360 opened #42776 "Build failed on Raspberry Pi: fatal error: gloo/algorithm.h: No such file or directory"
Hello,
I tried to build PyTorch on my Raspberry Pi and this error showed up.
How can I fix it ?

Computer: Raspberry Pi 4
OS: Raspberry Pi OS (last version)

[code]

cc @malfet

[2020-08-08 11:36] laohur opened #42777 "custom function too slow, how to be as fast as native?"
##   function/Module  too slow

### conext
ubuntu18.04.1 64 cuda11 pytorch1.6

[code]

### benchmark
Relu0.apply cost 10 times of torch.nn.functional.relu

above way seems not use accelerate library.
which operations can be as fast as native?

cc @VitalyFedyunin @ngimel

[2020-08-08 11:39] laohur opened #42778 "[del] repeat"
[del] repeat

[2020-08-08 12:15] zshn25 commented on #37377
Just importing `numpy` before importing `torch.multiprocessing` solved it for me.

[2020-08-08 13:37] pram991 commented on #21683
Found a not-perfect but working solution.
https://gist.github.com/qinjian623/6aa777037534c1c1dccbb66f832e93b8

[2020-08-08 14:19] thinking-tower opened #42779 "[quant] Quantized AdaptivePool3d is much slower for ChannelsLast3d."
cc @jerryzh168 @jianyuh @dzhulgakov @raghuramank100 @jamesr66a @vkuzo @VitalyFedyunin @ppwwyyxx @ngimel @z-a-f, @vkuzo.

## 🐛 Bug

As part of the refactoring effort in #40316, I ran some benchmarks on `adaptive_avg_pool(2/3)d` to see what is the difference in execution time for `MemoryFormat::Contiguous` vs `MemoryFormat::ChannelsLast3d` for quantized tensors. Results (for 3d) are shown below:

##

[2020-08-08 14:57] fritzo commented on #42407
@firstprayer thanks, that makes sense. How about we start accepting `LongTensor` `total_count`, and move the `NotImplementedError` from `.__init__()` to `.sample()`?
[code]

[2020-08-08 15:02] karimhasebou commented on #42618
it turns out pyinstaller is not copying the torchvision directory to the build directory. Should a hook be made to make sure torchvision is loaded by torch ?

[2020-08-08 16:39] JiangTanZJU opened #42782 "Pytorch with cuda9.2 10.1 10.2, what’s the best in most situations?"
If we have the latest Nvidia driver, we can install pytorch with cuda in 3 ways:
conda install pytorch cudatoolkit=9.2 -c pytorch
conda install pytorch cudatoolkit=10.1 -c pytorch
conda install pytorch cudatoolkit=10.2 -c pytorch

All three methods work. So what is the difference among installed pytorchs with 3 types of cuda? Such as running efficiency or features?

Which one should we choose in m

[2020-08-08 17:50] ak9250 opened #42783 "convert to onnx input output mismatch"
I am trying to convert this model https://github.com/minivision-ai/photo2cartoon
to onnx

I used this to export

https://gist.github.com/antonpaquin/2614581008c5c84cd4519a4f75735eb7

but the input output does not match

Information
light : True
dataset : photo2cartoon
batch_size : 1
iteration per epoch : 1000000
Discriminator
discriminator layer : 6
Weight
adv_weight : 1
cycle_weight : 50
faceid_w

[2020-08-08 18:38] #42778 closed

[2020-08-08 18:58] bshabashFD commented on #41637
@fritzo
I'm trying to go through the PyTorch code and the topic you linked but I have no idea where to even get started looking at how lgamma is implemented to consider how to import the incomplete gamma function. Can you give me some pointers on which files to look at to understand the implementation hierarchy?

[2020-08-08 19:26] cfinlay commented on #41637
Hi all

Some info that may be helpful. I recently coded up a rudimentary upper incomplete gamma function G(s,x) in PyTorch, for some particular values of s. I followed [Boost's implementation](https://www.boost.org/doc/libs/1_61_0/libs/math/doc/html/math_toolkit/sf_gamma/igamma.html). I will say, that doing implementing this correctly, for all values of s, is a pretty big undertaking.

Moreover, I

[2020-08-08 20:19] divideconcept opened #42784 "libtorch 1.5 crashes when used on macs without AVX support"
## 🐛 Bug

When using libtorch 1.5 on macs without AVX support, it crashes the application using it.
Is there a runtime parameter/flag/environment variable I can set to disable the use of AVX instructions even with the precompiled libtorch binaries ?

## Crash Report

Here's the stack from the crash report:

Crashed Thread:                0    Dispatch queue: com.apple.main-thread

Exception Type: 

[2020-08-08 20:22] srohit0 opened #42785 "Exporting the operator chunk to ONNX opset version 9, 10, 11 & 12 are not supported."
## 🐛 Bug

RuntimeError: Exporting the operator chunk to ONNX opset version 9 is not supported. Please open a bug to request ONNX export support for the missing operator.

## To Reproduce

Steps to reproduce the behavior:

[code]
## Expected behavior

`torch.onnx.export(seq, test_input, "LSTM2.onnx")` should write the model successfully.

## Environment

Please copy and paste the output from our
[e

[2020-08-08 20:39] firstprayer commented on #42405
After looking into this, it seems the main cost comes from the conversion of Tensor -> PIL -> Tensor.

1. Inside MNIST, it converts images to PIL Image
2. In the stackoverflow question's code: there's another piece of code that transform PIL back into tensor.

The difference of performance in my test machine is:

Trunk:
[code]

After I hacked the code to remove the conversions:
[code]

The latter

[2020-08-08 21:07] Ownmarc commented on #20380
@y78h11b09 I am not good enough with C++ to implement this, but I think Windows said they would support Pytorch recently, maybe they will implement this!! :D

[2020-08-08 21:16] narfanar commented on #38744
A more commonly relevant example: typing scripted versions of RNN cells whose states change shape based on initialization arguments.

E.g. an LSTM cell with a state that is either:
1. `Tuple[Tensor, Tensor]` (traditional) or
1. `Tuple[Tensor, Tensor, Tensor]` when recurrent dropout is enabled (one possible implementation).

[2020-08-08 21:22] Ownmarc commented on #37068
yes!

[2020-08-08 23:45] vikigenius opened #42787 "mypy throws a lot of module has no attribute errors"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. ```mypy -c 'import torch; print(torch.cat)```

[code]

The same error is reported for a lot of functions like arange, Size, max, long
## Expected behavior

mypy should be able to recognize these functions as attributes

## Environment

 - PyTorch Version: 1.6.0
 - OS (e.g., Linux): Linux
 - How you installed PyTorch (`conda`, `pip`, s

[2020-08-09 02:17] iyll commented on #5858
OS: macOS Catalina 10.15.5 also encountered this problem 😭

[2020-08-09 02:18] YHuiX commented on #42540
ok

[2020-08-09 02:18] #42540 closed

[2020-08-09 04:07] nbcsm commented on #37068
@mrshenli, since this is tracked in https://github.com/pytorch/pytorch/issues/42095, maybe we can close this poll?

[2020-08-09 05:44] Joevaen opened #42788 "Transforming from .pth to .onnx failed."
Hi,
Below picture is the result of a transformation from pth to onnx who are shown in Neutron:
![image](https://user-images.githubusercontent.com/46133615/89725810-4d706980-da46-11ea-8ddf-dc0ebb057ae7.png)
Left is pth's architecture and right is onnx's architecture.
My origin network of .pth includes conv3d and the input data is 5-dim. Can the onnx do the operations on conv3d?
SOS!

cc @houseroad

[2020-08-09 05:52] kshitij12345 commented on #42747
#38349

[2020-08-09 06:40] Joevaen commented on #31296
Hi, my input data is 5-dim which is same with yours. Did you convert pth to onnx successfully? I didn't meet error or warning but the onnx converted was false and useless.

[2020-08-09 06:50] Joevaen commented on #42347
Hi, I guess we are doing the same thing. The question you raised is also my bottleneck. This is my pytorch model:
![image](https://user-images.githubusercontent.com/46133615/89726659-8103c180-da4f-11ea-9eaf-4c810105f47e.png)

Could you please reply to me if you get my message?

[2020-08-09 08:18] ziqiaomeng commented on #40500
Any follow-ups? I meet the same issue.

[2020-08-09 10:44] karthikkovalam commented on #15378
Hi, is there a plan to implement this?

[2020-08-09 12:56] mick125 opened #42791 "Build fail on Ubuntu 18.04: caffe2/CMakeFiles/init_test.dir/build.make:106: recipe for target 'bin/init_test' failed"
## Build fail on Ubuntu 18.04

Build from source failed.

What am I doing wrong?

## To Reproduce

Steps to reproduce the behavior:

Followed the official guide for [build from source](https://github.com/pytorch/pytorch#from-source) step by step.

[code]

## Environment

[code]
 - PyTorch Version being installed: 10.2
 - How you installed PyTorch: source
 - Build command you used (if compiling fro

[2020-08-09 15:33] mattip commented on #41661
I cannot reproduce in a cuda-less [docker environment](https://gist.github.com/mattip/0e568511cf4121ec7e35714870e12ed9) using the pypa/manylinux2014 image based on CentOS 7.8.2003 and torch 1.6.0 official wheels. It does seem strange that @ruotianluo has two different NumPy versions.

[2020-08-09 16:18] mrshenli commented on #37068
Yep, closing this issue. And please post future comments and feedback to #42095.

[2020-08-09 16:18] #37068 closed

[2020-08-09 17:04] mkkeffeler commented on #34682
looking online there is stuff out there the community started, wondering if theres a formal recommendation as to what is best in a case like this as I have a similar use case. and if there isn't a formal recommendation, then what is the plan regarding this?

[2020-08-09 19:22] ruotianluo commented on #41661
FYI. I seem to be able to get correct error trace with stable 1.6.0 now.  But still fail with torch==1.6.0.dev20200428+cu101.
current env:
[code]

[2020-08-09 19:28] Lezcano opened #42792 "Ill-conditioned gradients in QR"
## 🐛 Bug

The gradients in the QR decomposition, as it is implemented without pivoting, they are __very__ ill-conditioned around matrices that are not full-rank.

## To Reproduce

[code]

Example output:
[code]

## Expected behavior

This is expected due to the current implementation of the QR decomposition (without pivoting) but it can very easily be prevented if one performs QR with pivoting. No

[2020-08-09 19:29] mrshenli commented on #20380
For Windows support, please check this RFC (#42095)

Hey @neggert, yes PyTorch + Gloo works on MacOS, but you will need to compile from source using the following steps:

0. follow the readme in https://github.com/pytorch/pytorch to setup conda and dependencies
1. then conda install libuv and pkg-config
2. then run "time env MACOSX_DEPLOYMENT_TARGET=10.9 CC=clang CXX=clang++ BUILD_CAFFE2_OPS=0 USE

[2020-08-09 20:43] rgommers commented on #41661
Other info that will be relevant:
- how did you install GCC?
- how did you install PyTorch and torchvision?

@ruotianluo looking at you package info, you are using a mix between `pip` and `conda`-installed packages - this is never a good idea and will lead to the kind of issue you're seeing.

If you could reproduce this in a clean environment where all packages are installed with the same package

[2020-08-09 21:41] mattip commented on #41776
The low-level call is [orgqr](https://software.intel.com/content/www/us/en/develop/documentation/mkl-developer-reference-c/top/scalapack-routines/scalapack-computational-routines/orthogonal-factorizations-scalapack-computational-routines/p-orgqr.html) or [dorgqr](http://www.math.utah.edu/software/lapack/lapack-d/dorgqr.html). It is documented as accepting `m`,`n`,`k` where `m, n = ra.shape`, and `

[2020-08-09 21:44] ruotianluo commented on #41661
I built my gcc from source.

Using a clean conda env as you suggested: the same result. Getting "libgcc_s.so.1 must be installed for pthread_cancel to work" with torch==1.6.0.dev20200428+cu101, and correct error trace with stable 1.6.0.

Maybe it has been fixed in 1.6.0??

[code]

[2020-08-09 21:45] mattip commented on #41776
While fuzzing this function does expose a problem, in real-world usage the two inputs are tightly coupled in order for the output to have any meaning.

[2020-08-09 21:55] mattip commented on #41661
Try installing the conda compilers `conda install compilers`. You may have built your `libc_gcc` without compatible pthread support. Installing the conda compilers should supply a compatible `path/to/conda/env/lib/libgcc_s.so.1`

[2020-08-09 22:38] wschin commented on #31852
What are the flags to set when trying to compile with less CUDA archs and codegen versions?

[2020-08-09 23:09] alexeib opened #42793 "distributed training with c10d does not work with layerdrop in pytorch > 1.4"
training any model that uses layerdrop (probabilistically skip transformer layers during training) works poorly with c10d distributed training backend (using fairseq). in pytorch 1.4 training would freeze, but if you specified --find-unused-parameters, then it would work. in pytorch 1.5 and above, the training always crashes with an error about inconsistent gradients.

to repro try any transformer

[2020-08-10 01:42] mszhanyi commented on #42722
@xsacha , after building, you could find Torch.sln in build directory.

[2020-08-10 02:17] mszhanyi commented on #42618
It might be helpful for you issue, https://github.com/pytorch/vision/issues/1899#issuecomment-598200938

[2020-08-10 02:40] ruotianluo commented on #41661
Installed gcc:

[code]

Still fail with torch==1.6.0.dev20200428+cu101

[2020-08-10 02:47] mojiayuan commented on #21572
I have installed CUDA correctly, but I still lack the include folder under the folder "C:\Program Files\NVIDIA Corporation\NvToolsExt". Then I copied the include folder under the libtorch to the folder "C:\Program Files\NVIDIA Corporation\NvToolsExt". Cmake compiled successfully, but ran error in VS2015.

[2020-08-10 05:19] #42549 closed

[2020-08-10 05:19] peterjc123 commented on #42549
Should be fixed in master.

[2020-08-10 05:50] jd730 opened #42797 "No IndexError on cuda Tensor with out of range indices"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

[code]

The outputs of `gpu_test` are

[code]
and

[code]
, respectively.

I think both should raise Errors.

## Expected behavior

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out the checklist below

[2020-08-10 05:54] hemantranvir commented on #42080
@ptrblck Howdy! Is there any update on this. Thanks!

[2020-08-10 07:22] mattip commented on #41661
Are you using the pytorch you think you are?
`$ python -c "import torch; print(torch._C)"`
What does `ldd` show for that file?

[2020-08-10 07:26] jinfagang opened #42798 "flip operation in onnx export"
Flip index such as [::-1, :] operation on pytorch to onnx is not well supported for now.

cc @houseroad @spandantiwari @lara-hdr @BowenBao @neginraoof

[2020-08-10 07:28] pinzhenx commented on #42115
@CaoZhongZ

[2020-08-10 08:01] Dylan-H-Wang opened #42800 "RuntimeError: cublas runtime error : the GPU program failed to execute at /pytorch/aten/src/THC/THCBlas.cu:27 for spectral norm"
Hi guys,

I have a GPU GeForce GTX TITAN X with python 3.7.4 and CUDA 10.1. I am training my GAN on this GPU and it seems like the following errors occasionally happens during the training process and it always related to the spectral norm which is provided
by `torch.nn.utils.spectral_norm` [here](https://pytorch.org/docs/stable/generated/torch.nn.utils.spectral_norm.html#torch.nn.utils.spectral_n

[2020-08-10 08:07] Daniel1900 opened #42801 "undefined reference to `dnnlowp' related libraries when use caffe2 quantization server with C++ API"
I built a torch lib from source with use_fbgemm = ON. I write a quantization test with Caffe2 C++ API, and used function bellow to get the quantization parameters.
`TensorQuantizationParams qparams =
        KLDivergenceMinimization().ChooseQuantizationParams(
            hist, preserve_sparsity);`
When compiling, it reports
*/quantization.cc:53: undefined reference to `dnnlowp::KLDivergenceMinimi

[2020-08-10 08:27] xiaoyao0104 commented on #31483
libtorch_python.so: undefined symbol: _Py_ZeroStruct #42450

[2020-08-10 08:30] zsp1197 opened #42803 "wrong in torch.var"
## 🐛 Bug

I do not think the calculation of variance in torch.var is correct, as you forget the "1/m" term in "sigma(x_i-u)^2*(1/m)"

## To Reproduce

torch.var(torch.tensor([[-1., -2., 3.],[1., 2., -3.]]),0).numpy()==np.var([[-1., -2., 3.],[1., 2., -3.]],0)

[2020-08-10 08:50] saksim commented on #41389
Thanks for @topiaruss's help. This actually works and solves this issue.

[2020-08-10 08:56] karimhasebou commented on #42618
Explicitly copying torchvision using the mentioned issue solves the issue

[2020-08-10 08:56] #42618 closed

[2020-08-10 08:58] LeonWlw commented on #35096
I got the same err,did u solve it? @sam-cts

[2020-08-10 09:05] bnsh opened #42804 "git clone fails with "Unable to checkout 'f015d698006c4a11be15b1ebb75b3b9bb317b914' in submodule path 'third_party/tensorpipe'""
## 🐛 Bug

Basically, I can't seem to clone the repo as suggested here: https://github.com/pytorch/pytorch#get-the-pytorch-source

## To Reproduce

Steps to reproduce the behavior:

1. git clone --recursive https://github.com/pytorch/pytorch

## Expected behavior

I expected it to clone the repository and not error (or at least return with an exit code of 0 if this is some sort of false positive...

[2020-08-10 09:41] ZisIsNotZis opened #42805 "Unbuffered operation"
## 🚀 Feature

Add unbuffered operations to pytorch (e.g. `np.add.at`), which handles repeated indices correctly

[code]

## Motivation

`numpy` have unbuffered operations (e.g. `np.add.at`) which allows repeated indices in a vectorized operation to work correctly. This is handy when doing counting and probability stuff.

[code]

## Alternatives

Alternatively, the whole `ufunc` design from numpy c

[2020-08-10 11:01] zhd0zhd commented on #42663
Thank for your suggestion, after I added  "torch.cuda.synchronize()" to my original code as shown above, it runs correctly when run 50000 iterations (2d: )

[2020-08-10 11:35] mkelcb commented on #13234
@davidmascharka  What do you mean by 'after loading'? What is the correct schema to apply DataParallel and checkpoint_sequential together so that it works on multiple GPUs?

[2020-08-10 11:37] JiaRu2016 commented on #42518
After days of trial, I almost found the causation: When memory usage is close to 100%, this Error is likely to occur, So just take care of memory usage can avoid this error.

[2020-08-10 11:37] #42518 closed

[2020-08-10 11:57] jonashaag opened #42813 "istft does not support batching"
## 🐛 Bug

`torch.istft` documentation says:

BUT the output of `torch.stft()` may also have an additional batch dimension that is not supported:

And if you stick `stft()` output into `istft()`, indeed you get an error that says `istft()` does only support 3 or 4 dimensions.

[2020-08-10 12:03] mruberry commented on #38349
How would tobytes work on CUDA?

[2020-08-10 12:08] Feywell opened #42807 "build error redefinition of ‘struct c10::complex<T>’ with release v1.6.0"
Try to install pytorch v1.6.0 in Ubuntu 16.04 cuda 10 by command 'python setup.py install'.
It returns long error log like:

 struct alignas(sizeof(T) * 2) complex {
                               ^
In file included from ../c10/core/ScalarType.h:4:0,
                 from ../aten/src/ATen/native/DispatchStub.h:4,
                 from ../aten/src/ATen/native/CPUBlas.h:3,
                 from ../a

[2020-08-10 12:14] mruberry commented on #42571
This is a cool idea and with recent changes to storage I think it would be possible to implement. I believe we would accept a function to reinterpret storages as a different dtype, but it might be tricky to get the UX right. It'd also be nice to find a NumPy-compatible way to do it. That is, a UX that would work for both PyTorch tensors and NumPy arrays.

[2020-08-10 12:22] vadimkantorov commented on #42571
NumPy uses `view()` method for that :/

[2020-08-10 12:25] vadimkantorov commented on #38349
error out (like it now does if you call numpy)?

The usecase is interop with methods that use buffer interface and bytes interface (also a question is to what extent it's possible to prevent too early memory free. sometimes it may be useful to do some manual refcount increase and decrease). Examples of nasty workarounds in https://github.com/vadimkantorov/torchwav/blob/master/torchwave.py and http

[2020-08-10 12:39] miccio-dk commented on #36323
Hello everyone!
I installed pytorch-nightly using conda (from the pytorch-nightly repo) but I am still getting this error:
`RuntimeError: "sign_cpu" not implemented for 'ComplexFloat'`

I get the error while training a net that uses the following layer (which computes the response of an IIR filter from its
coefficients):

[code]

I there otherwise a way I can implement the backward pass manually f

[2020-08-10 13:06] ruotianluo commented on #41661
[code]

[2020-08-10 13:18] mattip commented on #41661
So installing the conda compilers was not useful, since the "wrong" `libgcc_s.so.1` is being picked up. Do you have `LD_LIBRARY_PATH` defined?

[2020-08-10 13:25] ruotianluo commented on #41661
Yes.
[code]

[2020-08-10 13:38] vadimkantorov opened #42808 "torch.onnx.export to support saving custom user meta data"
This would be useful to store information about hyperparameters. This is already supported:
- by ONNX: https://github.com/onnx/onnx/blob/master/docs/IR.md#optional-metadata
- by ONNXRUNTIME: https://microsoft.github.io/onnxruntime/python/auto_examples/plot_metadata.html

This is currently only possible by manual loading the exported model, adding the meta and storing it back - quite nasty, given t

[2020-08-10 13:50] anjali411 commented on #42747
@kshitij12345 would you like to work on this issue?

[2020-08-10 13:51] mattip commented on #41661
Can you put `/share/data/vision-greg/rluo/local/anaconda3/envs/issue41661/lib` before the rest so it picks up the conda-provided `libgcc_s.so.1`?

[2020-08-10 13:56] akqs commented on #39437
The error can be triggered by changing the following line of code :

self.embedding = nn.Embedding(10000, 20) to

self.embedding = nn.Embedding(10000,20,sparse=True), this only triggers the error on GPUs, on CPUs it works fine.
optim.SGD is used in this example and internally in the step() method it uses .detach call in the following block of code:

[code]
so by the time `buf.mul_(momentum).add_(d

[2020-08-10 13:58] msinkec commented on #41407
Downgrading gradle to version 4 fixed it for me.

[2020-08-10 14:05] mszhanyi commented on #36461
@theycallmefm, in order to better tracking the indexing issue, could you please open a new thread?

[2020-08-10 14:27] h6197627 commented on #42601
@dreiss, I tried to do this on PC with 12 core CPU (6+6HT) (as I am not sure how to use top on mobile device):
1.5 (conv engine set to NNPACK): 12 threads ~99%
1.6 (conv engine set to NNPACK): 1 threads ~8%
fprop speed improvement is quite small (I guess because it is better to use only 6 threads without hyper-threaded cores and in general NNPACK is not suited for x86 architectures)
1.5 (default c

[2020-08-10 14:34] mattip commented on #42213
It seems neither environment is using CUDA, so it would be better to be explicit in the benchmark with `x = torch.rand(size=[1, n_fft//2 + 1, 10, 2], device='cpu')`. The difference is in the post-processing after the call to `irfft`, starting [here](https://github.com/pytorch/audio/blob/v0.5.0/torchaudio/functional.py#L178) in the python implementation and [here](https://github.com/pytorch/pytorch

[2020-08-10 14:37] kshitij12345 commented on #42747
@anjali411 yes

[2020-08-10 14:45] anjali411 commented on #36323
The error is caused because `torch.sign`, which is [used](https://github.com/pytorch/pytorch/blob/05f00532f52883d29a08d96b2961042cc41573ab/tools/autograd/derivatives.yaml#L162) in the backward computation of `torch.abs`, is not defined for complex tensors.

I think defining a backward function in the class `IIRFilter` and using that during training might work. cc. @albanD who works on Autograd.

[2020-08-10 14:45] glaringlee commented on #41177
This probably related to jit as well. I will add jit label to let jit team take a look at as well. @suo

[2020-08-10 14:46] SsnL commented on #42803
np doesn't use bessel's correction by default (`ddof=0`) yet pytorch does (`unbiased=True`). hence the difference in results.

[2020-08-10 15:05] ruotianluo commented on #41661
[code]

It can pick up the conda libgcc_s now. But I still get  "libgcc_s.so.1 must be installed for pthread_cancel to work"

[2020-08-10 15:32] ShoufaChen commented on #32564
Just reduce the batch size and try again. It works for me.

[2020-08-10 16:13] mruberry commented on #42571
I could it see it being OK to use `view` on tensors in PyTorch, too, for this. But you'd also have to make numpy dtypes substitutable for PyTorch dtypes, for example.

[2020-08-10 16:21] ezyang commented on #40867
That seems like a step too far; in particular, you'd have to do a nullability check for every unannotated argument before you use it, and it's pretty unlikely that your code would typecheck out of the box that way.

[2020-08-10 16:22] kurtamohler commented on #41776
Thanks for the help @mattip! I'll go ahead and apply these input conditions.

[2020-08-10 16:35] spandantiwari commented on #35096
@sam-cts - please add some repro steps? Also, could you test with the latest PyTorch.

[2020-08-10 16:36] ngimel commented on #42213
@mattip you can use profiler to get a breakdown of time taken by different operations:
[code]
output:
[code]
`istft` itself is still a large fraction

[2020-08-10 16:38] spandantiwari commented on #31296
Closing as original issue seems to be resolved.

[2020-08-10 16:38] #31296 closed

[2020-08-10 16:48] mattip commented on #42213
Ahh, nice. Thanks. I think `aten::istft` is the aggregate, composed of the other functions which appear in the code for `aten:istft`. The actual fft call used is `irfft`, which doesn't even appear in the profile.

[2020-08-10 16:52] mkelcb opened #42812 "checkpoint_sequential breaks backpropagation"
## 🐛 Bug

checkpoint_sequential breaks backpropagation when applied, making nn.Sequential models impossible to train.

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

checkpoint_sequential should work without breaking backpropagation.  It should just work without hacks, like having to set input.requires_grad=True, which is an expensive calculation with a large memo

[2020-08-10 17:00] ezyang commented on #36323
If you want to manually implement, use the custom autograd api https://pytorch.org/docs/stable/notes/extending.html#extending-torch-autograd

[2020-08-10 17:07] mruberry commented on #42506
In this case you're trying to divide by zero (False->zero). NumPy and Python also throw errors when dividing by zero. What would you expect to happen, instead?

[2020-08-10 17:17] ezyang commented on #42466
https://github.com/pytorch/pytorch/blob/master/torch/utils/collect_env.py already does some of this

[2020-08-10 17:19] ezyang commented on #42466
We're not going to implement this, but feel free to make a little third party package to do this, or submit some improvements to `collect_env.py` to get more data!

[2020-08-10 17:19] #42466 closed

[2020-08-10 17:19] gchanan opened #42815 "Add a guide for what to do when you think there's a memory leak"
## 📚 Documentation

Memory leaks are reported relatively frequently but it's often a different issue, e.g. that there's a caching allocator and/or you are doing worst-case allocation (increasing the size each time).  Here's a recent example: https://github.com/pytorch/pytorch/issues/42557.

We should have a guide on how to debug these issues.

[2020-08-10 17:21] ezyang commented on #42729
This is a side effect of 0.3.1 bc compatibility:

[code]

0.3.1 is ancient news, so yes, let's just change the default behavior (change code).

[2020-08-10 17:24] ezyang commented on #42729
@ailzhang will double check here, but it looks like we can change the behavior (and keep the docs as is.)

[2020-08-10 17:34] mruberry commented on #42506
On the latest nightly this script produces

[code]

which seems correct.

[2020-08-10 17:34] #42506 closed

[2020-08-10 17:36] glaringlee commented on #42665
@malfet Can we enable libtorch even BUILD_CAFFE2_MOBILE is off? Not sure why this is set one or the other.
https://github.com/pytorch/pytorch/blob/b2822975591d4b6c8ccfbb2b6b39dd4181c73328/CMakeLists.txt#L388

[2020-08-10 17:38] zou3519 commented on #42815
@colesbury had some detailed suggestions for how to debug memory leaks in https://github.com/pytorch/pytorch/issues/41486#issuecomment-664735839 that would be great to include in such a guide.

[2020-08-10 17:40] gmagogsfm commented on #41289
Conducted some initial performance evaluation. For a common use case, benchmark shows that using an additional append loop adds about 66% overhead. And the benchmark is representative of actual workload. Given this, I think we do need to properly fix it or find other ways to bring down the append overhead.

[2020-08-10 17:44] gmagogsfm commented on #41279
This is dup of #42646 . There is already a lot of discussion there. Closing.

[2020-08-10 17:44] #41279 closed

[2020-08-10 17:44] ngimel commented on #42213
Yeah, it is not profiled because it is dispatched via `at::native::irfft` and avoids being profiled. When I made it `at::irfft` it is profiled, but its self-time is 0, looks like all the time from irfft is spent in `_fft_with_size`.

[2020-08-10 18:00] EricCousineau-TRI commented on #16574
Possibly related: Discussion in NumPy about type hints (PEP 484):
https://github.com/numpy/numpy/issues/7370

[2020-08-10 18:08] zou3519 opened #42818 "Can't registered boxed kernel for operator that doesn't support boxing"
## 🐛 Bug

From https://github.com/pytorch/pytorch/pull/42617#discussion_r467124816, I wanted to register a kernel that would raise an error message for certain operators. The use case is to blocklist certain operators from running when a certain dispatch key is enabled.

One such example of a kernel that raises an error is the `CppFunction::makeNamedNotSupported()` kernel. However, when I tried to

[2020-08-10 18:44] ezyang commented on #41289
Time to implement https://www.microsoft.com/en-us/research/wp-content/uploads/2016/07/coercible.pdf ;)

[2020-08-10 19:01] ezyang commented on #42665
I suppose you could YOLO removing the relevant line at

[code]

in `CMakeLists.txt`. No warranty provided though...

[2020-08-10 19:01] ShreyaR opened #42824 "[feature request] Pre-backward hooks for runtime profiling use case"
Would it be possible to get a pre-backward hook, in addition to pre-forward, forward and pre-backward?

**My use case and current solution**
I want to profile the per-layer runtime of my model to identify the slowest layers. How I currently do this:

1. Assign a unique name to every leaf layer.
2. Register forward and backward hooks on every leaf layer of the model.
3. Torch.cuda.synchronize() and

[2020-08-10 19:14] eellison commented on #42334
@ankitaggarwal23 this isn't a great issue for someone new to the code base to contribute to, maybe  something from https://github.com/pytorch/pytorch/issues/38349 would be good

[2020-08-10 19:17] ezyang commented on #42818
The shitty way to fix it is to just add more special cases to the if statement above the assert:

[code]

[2020-08-10 19:18] ezyang commented on #42818
I might ask a bootcamper to fix this for makeNamedNotSupported

[2020-08-10 19:22] z-a-f commented on #42779
This is an interesting find -- Does this happen only to the quantization, or is it a general issue?

[2020-08-10 19:35] anjali411 commented on #42747
@kshitij12345 great! there are blas functions we can call into similar to `torch.dot` https://github.com/pytorch/pytorch/pull/42745 . For real tensors `torch.vdot` should just call `torch.dot`. Please let me know if you have any other questions and add me as a reviewer when you have a draft PR.

[2020-08-10 19:39] zou3519 commented on #42818
I saw that but I didn't know if that was OK or not lol.

Feel free! There is no rush here. NB: makeNamedNotSupported might not be the best place to fix this for, because the Named key registers the NamedNotSupported kernel as a fallback so there is no need to register it on individual kernels (which is why the named tensor registrations don't run into this problem)

[2020-08-10 19:55] mcarilli commented on #42080
Your use case is unclear.  Do you
1. want each process to use its own device (or device subset) and not create spurious contexts on other devices, or
2. want multiple processes to share one device?

If 1, each Pytorch process lazily creates a context on a particular device only when it attempts to use that device.  If you want to ensure each process creates a context on only one device (or a subse

[2020-08-10 20:05] KsenijaS commented on #39762
If you want to use state _dict you need to update it, because init function has changed.
I modified image_model.py and convert.py files. Use the latest pytorch (pytorch-nightly to run) because you need support for tensor operator.

[convert_to onnx.zip](https://github.com/pytorch/pytorch/files/5053090/convert_to.onnx.zip)

[2020-08-10 20:22] ezyang opened #42829 "torch/library.h doc rendering issue"
https://pytorch.org/cppdocs/api/file_torch_library.h.html code block renders wrong

[2020-08-10 20:36] mariosasko opened #42830 "Undocumented parameters in the Variables section of the recurrent bidirectional layers regarding the backward pass"
## 📚 Documentation

In the [docs](https://pytorch.org/docs/stable/generated/torch.nn.RNN.html) (the same applies to LSTM and GRU) in case of the reccurent **bidirectional** layer, it is not mentioned that there is an additional set of parameters suffixed with `_reverse` that are used in the backward pass:
(k represents the layer)
* `weight_hh_l[k]_reverse`
* `weight_ih_l[k]_reverse`
* `bias_hh_l[k

[2020-08-10 20:36] ezyang commented on #42818
Bootcamper notes
* What registration API is this? It is described in the docs referenced here https://discuss.pytorch.org/t/difference-between-torch-library-and-registeroperators-op/92270/2?u=ezyang (also check out the dispatcher slides, not public yet, which explain what is going on with boxing/unboxing)
* Where is the relevant code? Look at the stack trace in the gist, it tells you where the ass

[2020-08-10 21:14] AudeJavel12 opened #42832 "Cant install PyTorch"
## 🐛 Bug

Can't install Pytorch.
I tried :
pip install --pre torch torchvision -f https://download.pytorch.org/whl/nightly/cu102/torch_nightly.html
as well as :
pip install torch===1.6.0 torchvision===0.7.0 -f https://download.pytorch.org/whl/torch_stable.html

## To Reproduce

pip install --pre torch torchvision -f https://download.pytorch.org/whl/nightly/cu102/torch_nightly.html

[code]

## Envi

[2020-08-10 21:35] eellison commented on #41177
@glaringlee do you mind rebenchmarking on 1.6? We made some changes to the default execution of JIT models in 1.5 that was reverted in the recent release

[2020-08-10 21:40] eellison commented on #41291
cc @smessmer @bhosmer

[2020-08-10 21:44] eellison commented on #41278
This is a deprecated way of creating a tensor with gradient, Variable no longer exists. the updated idiom is `x.requires_grad(True)`

[2020-08-10 21:46] rohan-varma commented on #40434
This failed in a MacOS test:
https://circleci.com/api/v1.1/project/github/pytorch/pytorch/6456638/output/105/0?file=true&allocation-id=5f2485c7b6531c46e6ffd9ec-0-build%2F7D0ECCA4

[code]

[2020-08-10 21:48] eellison commented on #41281
This is getting into the business of inferring types from usages, which we don't want to venture into just yet. The error message thrown is pretty good. Closing for now.

[2020-08-10 21:48] #41281 closed

[2020-08-10 21:50] albanD commented on #42560
Hi,

Thanks for opening an issue for this (it was mentioned in https://github.com/pytorch/pytorch/issues/41659 but better to have an issue for it).
This comes from the fact that the Future API eats up the original error and only throws a basic std::exception with the original message.
We should change that as our custom error types contain much more info (python error type, cpp stack traces, etc).

[2020-08-10 21:51] eellison commented on #41254
cc @malfet build, @ezyang @mruberry who recently touched `test_cpp_extensions_jit.py`

[2020-08-10 21:54] eellison commented on #4215
has there been any resolution on this ? I'm not sure this is a JIT issue.

[2020-08-10 21:55] #42803 closed

[2020-08-10 21:55] smessmer commented on #42803
This looks resolved. Please feel free to reopen if you still have questions.

[2020-08-10 21:56] guibronzatti commented on #42776
Did you find a solution for that error? I'm having the same error

[2020-08-10 21:59] smessmer commented on #42807
Thanks for reporting. Can you send us some more information? Which C++ compiler and version are you using? Which version of nvcc?

[2020-08-10 22:00] glaringlee commented on #41177
@eellison I think the benchmark from @QWERDF007 is generated from 1.6 already.

@xuezu29 Can you run your benchmark on pytorch 1.6 as @eellison requested?

[2020-08-10 22:07] malfet commented on #42776
Please try commenting out this line:
https://github.com/pytorch/pytorch/blob/752f433a2484db25f076b2fc85c40ab191656bd9/test/cpp/rpc/CMakeLists.txt#L6
Fix is coming

[2020-08-10 22:08] albanD commented on #29209
Thanks for the pointers.
cc @mruberry is this function on the list for numpy compatibility?

[2020-08-10 22:10] zou3519 commented on #42824
Have you tried to use [`torch.autograd.profiler`](https://pytorch.org/docs/stable/autograd.html#torch.autograd.profiler.profile)?

[2020-08-10 22:10] malfet commented on #42804
Please update your repo past https://github.com/pytorch/pytorch/commit/05f00532f52883d29a08d96b2961042cc41573ab
cc: @lw

[2020-08-10 22:10] #42804 closed

[2020-08-10 22:15] albanD commented on #42371
Note that if we change the function to use `self.size()`, then the codegen will do the right thing and stop saving `self` and will only keep a copy of the size (and stride) around.

For convolution, it is trickier because we have a single formula and we don't specify in the formula what is needed or not depending on which input requires grad.
We may want to add that.

[2020-08-10 22:18] eellison commented on #42673
@suo we think this might be related to an overload mismatch between eager & JIT, could you look into it ?

[2020-08-10 22:19] eellison commented on #42489
From the internal discussion, seems like the issue was solved. Please reopen with more context as needed.

[2020-08-10 22:19] #42489 closed

[2020-08-10 22:21] wconstab commented on #39810
Should this be closed now?

[2020-08-10 22:22] albanD commented on #42824
Hi,

I don't think you should be the backward hooks for this. As mentioned in the doc, they are kind of broken right now and won't give you any proper timing.
You will have to put hooks in the input/output Tensors (for example during the forward hook) to get this information accurately.

[2020-08-10 22:26] wconstab commented on #40679
@suo @gchanan What do you think about the latest PR, which removes infer_size usage from BCE?  The existing test cases don't appear to exercise this in a meaningful way, although there is enough complexity in how the input shapes to the kernel get expanded that I can't say for sure this is a no-op change.

[2020-08-10 22:41] albanD commented on #42748
Closing this in favor of https://github.com/pytorch/pytorch/issues/41696 that has more discussion a a corresponding PR.

[2020-08-10 22:41] #42748 closed

[2020-08-10 22:41] eellison commented on #42673
Note: a workaround is to pass in the device index with a keyword argument, `b.to(device=var_on_cuda.get_device())`

[2020-08-10 22:41] malfet commented on #42787
Related to https://github.com/pytorch/pytorch/issues/16574

[2020-08-10 22:44] SplitInfinity commented on #42673
@eellison

It's a workaround in the sense that you get an error message instead of a silent error but it doesn't achieve what the user intended :'(

[code]

[2020-08-10 22:48] rgommers commented on #42515
For `torch.sinc`, please see https://github.com/numpy/numpy/pull/12924 regarding implementation details - the current version in numpy 1.19 isn't very good (error near 0 increases linearly).

[2020-08-10 22:53] ngimel commented on #42797
This is fixed in 1.5.1, 1.6 and master.

[2020-08-10 22:53] #42797 closed

[2020-08-10 22:57] rgommers commented on #42787
I wonder if there's a place we can put a "Using mypy with PyTorch is incomplete as of now" statement somewhere visible enough.

Isn't it just that there are many more type annotations in the code base now than in 1.4.0?

[2020-08-10 23:00] ppwwyyxx commented on #41292
Some thoughts on batching:
We have the need to create data loaders that does not do batching. This is doable now but not very elegant as batching seems to be a pretty fundamental assumption (in the `batch_sampler` argument).
Also, the `batch_sampler` argument of `torch.utils.data.DataLoader` is supposed to return indices, and that's a limitation on how batching can be done. We often do dynamic bat

[2020-08-10 23:03] SsnL commented on #42772
isn't this expected? you are doing bilinear downsampling, which means that each output pixel is only determined by at most 4 input pixels.

[2020-08-10 23:18] VitalyFedyunin commented on #41292
@ppwwyyxx do you have an example or preudocode of how you calculate dynamic batch size based on size/length?

[2020-08-10 23:21] #42616 closed

[2020-08-10 23:23] nditanaka commented on #41764
Is this issue still open?

[2020-08-10 23:24] ppwwyyxx commented on #41292
In order to only put samples that have similar sizes into a batch, we first created a dataloader that's not batched, i.e. `for d in data_loader` returns individual (transformed) samples. Then we do
[code]

[2020-08-10 23:26] mruberry commented on #29209
Not being targeted at the moment, no, @albanD, but we do torch.searchsorted (https://pytorch.org/docs/master/generated/torch.searchsorted.html?highlight=searchsorted#torch.searchsorted) already.

[2020-08-10 23:27] xwang233 commented on #42800
Can you provide your pytorch version using the following script?

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out the checklist below manually).

You can get the script and run it with:
[code]

 - PyTorch Version (e.g., 1.0):
 - OS (e.g., Linux):
 - How you installed PyTorch

[2020-08-10 23:27] jizongFox commented on #42772
Good point. I think it depends on the interpretations. As here I strongly downsampled the feature map and the downsampling method may be supposed to perform information aggregation. Yeh. you may be right in the case of bilinear downsampling. What if I want a downsampling result to represent more points in the original feature space instead of a single point?

[2020-08-10 23:31] xwang233 commented on #42663
Can this be closed?

[2020-08-10 23:39] powderluv commented on #12119
You could try -DTORCH_CUDA_ARCH_LIST="5.2" in your cmake command line

[2020-08-10 23:56] #42776 closed

[2020-08-11 00:02] mayankg95 opened #42838 "RuntimeError: "triangular_solve_cuda" not implemented for 'Half'"
## ❓ Questions and Help
I am running my code on a cluster and running into this issue in the torch.distributions library for MultivariateNormal. I do not encounter this issue while training locally on a single GPU but it happens on the cluster.

I would appreciate any help with this. Relevant part of the error is listed below.

`Mon Aug 10 23:38:36 2020[1]<stderr>:  File "/app/atg/perception_predi

[2020-08-11 00:18] malfet commented on #42832
@AudeJavel12  can you please check if you are running 32-bit python by running `python -c 'import sys;print(sys.maxsize.bit_length())'` and share the output here?

[2020-08-11 00:30] xuhdev commented on #42832
Could you also show the complete `pip install` output? I believe there is a package that we forgot to put in `.gitignore` file.

[2020-08-11 00:31] Dylan-H-Wang commented on #42800
Just update my question with outputs from the script

[2020-08-11 00:46] AudeJavel12 commented on #42832
Hi, thx for help! here are outputs!

import sys
print(sys.maxsize.bit_length())  --> output is 31

pip install torch===1.6.0 torchvision===0.7.0 -f https://download.pytorch.org/whl/torch_stable.html
Looking in links: https://download.pytorch.org/whl/torch_stable.html
ERROR: Could not find a version that satisfies the requirement torch===1.6.0 (from versions: 0.1.2, 0.1.2.post1, 0.1.2.post2)
ERROR:

[2020-08-11 00:55] nbcsm commented on #42832
your python is 32 bits.
unfortunately, official pytorch package does not support 32bits.

to install 64bits python, please go to https://www.python.org/downloads/windows/, and choose from x86-64.

[2020-08-11 01:12] xwang233 commented on #42800
Thanks! Can you also provide a minimal script that can reproduce this issue?

[2020-08-11 01:14] peterjc123 commented on #21572
You can get the NVTX installer in a folder named "VisualStudioExtension" after extracting the cuda installer using something like 7zip.

[2020-08-11 01:17] yuhaozhang opened #42843 "Documentation mistake of Adam in v1.6.0?"
## 📚 Documentation

The documentation of Adam since v1.6.0 suggests that it uses the weight decay fix proposed by paper "Decoupled Weight Decay Regularization":
https://github.com/pytorch/pytorch/blob/4b4273a04e566dcdf4cb96882f49c41127e8d3f1/torch/optim/adam.py#L10-L11

However I found this to not be the case. The actual weight decay in Adam is still the old one:
https://github.com/pytorch/pytorch

[2020-08-11 01:19] CaoZhongZ commented on #42115
@xkszltl It's odd, why $<TARGET_FILE_DIR:${LIB_NAME}> gave us a wrong directory in your building environment. The generator expression supposed to handle all things correctly.

[2020-08-11 01:26] thinking-tower commented on #42779
@z-a-f, interestingly, this issue is also present in the non-quantized version when the channels `> 64`.

## Results
<img width="573" alt="Screen Shot 2020-08-11 at 1 23 42 PM" src="https://user-images.githubusercontent.com/37529096/89846692-01ecc580-dbd6-11ea-9fb2-efa6396d6895.png">

## To Reproduce

[code]

[2020-08-11 01:35] AudeJavel12 commented on #42832
OK, I upgraded to 64 bits, uninstalled all other versions.

now, outputs:

C:\Users\PC>pip install torch===1.6.0 torchvision===0.7.0 -f https://download.pytorch.org/whl/torch_stable.html
Looking in links: https://download.pytorch.org/whl/torch_stable.html
ERROR: Could not find a version that satisfies the requirement torch===1.6.0 (from versions: 0.1.2, 0.1.2.post1, 0.1.2.post2)
ERROR: No matching

[2020-08-11 01:36] Dylan-H-Wang commented on #42800
I am using the code from this [repo](https://github.com/voletiv/self-attention-GAN-pytorch), the spectral normal module is used in this [script](https://github.com/voletiv/self-attention-GAN-pytorch/blob/master/sagan_models.py) (snconv2d).

I am doing the cifar10 training , and you can try with `python train.py --dataset cifar10 --data_path 'a/b/c' --save_path 'o/p/q' --batch_size 64 --name sagan`

[2020-08-11 01:38] xuhdev commented on #42832
Try replace `===` with `==`

[2020-08-11 01:38] zhd0zhd commented on #42663
My problem is not solved, can I reopen it?

[2020-08-11 01:39] nbcsm commented on #42832
I believe the new installed 64 bits python is not added to your PATH correctly.

could you try ```where python``` to see which python you are using?

and you can use ```python -VV``` to see whether it is 32 bits or 64 bits.

[2020-08-11 01:40] xuhdev commented on #42832
One possibility is that you `pip` is really old. Run `pip --version` to see.

[2020-08-11 01:41] nbcsm commented on #42832
so is the pip, try ```where pip```,
you may want to adjust your PATH to make sure 64 bits python/pip are placed **before** 32 bits versions.

[2020-08-11 01:51] zhd0zhd commented on #42663
I update my code according to your suggestion, but problem remains, anything wrong with my other code? OVO

[2020-08-11 01:54] zasdfgbnm opened #42847 "Split large source files"
Currently, many files, such as `test_torch.py`, are becoming larger than what GitHub can handle. For these files, you will not be able to use GitHub's review and browse source well:

In the review UI, some lines just magically disappear and we can not expand folded lines:
![image](https://user-images.githubusercontent.com/1032377/89848096-8c7fe700-db3a-11ea-8e94-67c79e1060b5.png)

If you browse th

[2020-08-11 02:06] AudeJavel12 commented on #42832
=== or  == i get same outputs

C:\Users\PC>python -VV
Python 3.9.0b5 (tags/v3.9.0b5:8ad7d50, Jul 20 2020, 18:35:09) [MSC v.1924 64 bit (AMD64)]

C:\Users\PC>pip --version
pip 20.2.1 from d:\python\lib\site-packages\pip (python 3.9)

I uninstalled 32bit versions so I think its the good one working.

[2020-08-11 02:11] nbcsm commented on #42832
oh, you are using python 3.9.

currently, max python version supported is 3.8.

[2020-08-11 02:14] Coderx7 opened #42848 "Add support for user defined types in serialization in libtorch"
## 🚀 Feature
It would be great for the serialization to be much broader than what it is now in libtorch. at least by providing a way for the users to be able to use existing functionality to serialize their objects.

## Motivation

I was trying to serialize a `std::vector<std::tuple<std::string, torch::Tensor>>` in libtorch where I found out its simply impossible. there is no way to extend the `In

[2020-08-11 02:28] AudeJavel12 commented on #42832
Ok. I just got 3.8 64bits , now it works. thx all for help!
Any recommendation for beginner tutorial ? =)  ( I would like to do deep learning to solve strategic games. )

[2020-08-11 02:28] #42578 closed

[2020-08-11 02:30] nbcsm commented on #42832
Glad to know it works. Close this issue.

You may want to start with https://pytorch.org/tutorials/

[2020-08-11 02:30] #42832 closed

[2020-08-11 02:41] #42662 closed

[2020-08-11 03:20] Feywell commented on #42807
@smessmer  Thank you！
There is my device info:
**gcc:**
gcc (Ubuntu 5.4.0-6ubuntu1~16.04.11) 5.4.0 20160609
Copyright (C) 2015 Free Software Foundation, Inc.
This is free software; see the source for copying conditions.  There is NO
warranty; not even for MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
**nvcc：**
nvcc: NVIDIA (R) Cuda compiler driver
Copyright (c) 2005-2018 NVIDIA Corporation

[2020-08-11 03:24] mrshenli opened #42849 "[RFC] DeepSpeed + PT Distributed Integration"
## Background

DeepSpeed reduces distributed data parallel training memory footprint by partitioning parameters, gradients, optimizer states, and recomputing activations. See [this link](https://www.microsoft.com/en-us/research/blog/zero-deepspeed-new-system-optimizations-enable-training-models-with-over-100-billion-parameters/) for more details.

It takes care of the entire training iteration ins

[2020-08-11 04:48] #37348 closed

[2020-08-11 06:18] samra-irshad commented on #1204
In my case, I had less number of classes inserted in prediction layer. Try to see softmax prediction and ground-truth size to avoid this error.

[2020-08-11 06:26] wufang6459 commented on #24308
I did what @MartinSamouiller suggested and everything solved as well.

[2020-08-11 06:42] nbcsm commented on #42095
https://github.com/facebookincubator/gloo/issues/263

[2020-08-11 06:43] ytobi commented on #41762
I like to work on this.

[2020-08-11 06:56] CaoZhongZ commented on #42115
@xkszltl https://github.com/oneapi-src/oneDNN/compare/master...CaoZhongZ:cmakefix?expand=1

Can this patch fix your problem?

[2020-08-11 07:40] lw commented on #42095
There were in fact issues with that. Once #42682 lands it may work, without needing to add extra Windows-specific guards in the code.

[2020-08-11 07:57] miccio-dk commented on #36323
Alright, I'll check the docs on implementing the backward pass while waiting for the new release.
Thank you both for the help!

[2020-08-11 07:57] rosefun commented on #1204
Emm, my input contains `np.nan` values and the same error raises. I just fill nan with `0` and solve the problem.

[2020-08-11 08:30] dan0978520303 commented on #36997
hi @malemo
I also encounter the same problem~
Could you give me some idea to solve this problem ?
Thank you very much!!!

[2020-08-11 08:38] Nitya05 commented on #42665
We have already tried this option before.
After disabling NO_API option in CMakeLists.txt

/home/atibrewal/work/hielibs_android/lib/libtorch_cpu.a(output-archive.cpp.o): In function `torch::serialize::OutputArchive::save_to(std::__ndk1::basic_string<char, std::__ndk1::char_traits<char>, std::__ndk1::allocator<char> > const&)':
/home/atibrewal/work/pytorchnew/pytorch/torch/csrc/api/src/serialize/ou

[2020-08-11 10:00] CroissantAuBeurre opened #42854 "It re-downloaded torch.sigmoid when running a script each time"
## 🚀 Feature

When running a project that was developed a year ago, the sigmoid function was implemented from `nn.functional.sigmoid`, so, it flagged the below message and downloaded `torch.sigmoid` automatically. It worked well and the script ran smoothly.

Yet, when running the script once again, it re-downloaded `torch.sigmoid` again, such configuration
is a bit tedious since it had been downlo

[2020-08-11 10:02] mariokostelac commented on #42659
You've probably meant @mariosasko :).

[2020-08-11 10:17] Patrick-Gourdet commented on #20532
I am a bit late to the game, but to answer why a GPU takes up so much Memory can be explained with a fundamental algorithmic theorem. It is called the "Space-Time Tradeoff." Assuming this holds, viewing the tremendous speed up that GPUs provide, we can extrapolate the immense amount of Memory needed to support it.

[2020-08-11 11:09] #42854 closed

[2020-08-11 11:28] #41359 closed

[2020-08-11 12:05] GeghamHayrapetian commented on #30655
please help me . I want to use this code but it throw this exception java.lang.IndexOutOfBoundsException: index=640000 out of bounds (limit=640000).

[2020-08-11 12:17] QWERDF007 commented on #41177
The same code run on 8700K+2070 and Debian10:

[2020-08-11 12:24] sooheon commented on #40497
I'm seeing similar behavior with transformer models. The NaNs appear during the forward pass for the entire vectors pertaining to one or two tokens.

[2020-08-11 13:38] XiaoJiNu commented on #42659
@mariokostelac thank you!

[2020-08-11 14:09] zou3519 commented on #42847
Splitting up the test files into logical units might also make it easier to discover tests.

[2020-08-11 14:12] zou3519 commented on #42843
cc @vincentqb -- what do you think?

[2020-08-11 14:13] jspisak commented on #39279
cc @tristandeleu and seba-1511 for comments and inputs. Please take a look!

[2020-08-11 14:13] zou3519 commented on #42838
@mayankg95 what version of PyTorch are you running on the cluster and locally?

[2020-08-11 14:14] SsnL commented on #41359
@albanD It would break some reproducibility silently though, which is my main concern. I think we should more properly define what to do with momentum/decay when grad is `None` and zeros. Also another thing to think about is whether we want to change `.zero_grad()` to set `None` instead.

[2020-08-11 14:19] zou3519 opened #42855 "Weird quoting in BCELoss docs"
## 📚 Documentation

On master documentation: the quotes around "mean" and "sum" look a little weird but it isn't a big deal

![image](https://user-images.githubusercontent.com/5652049/89908595-0efcbb00-dbbc-11ea-9a9a-642105579849.png)

cc @jlin27

[2020-08-11 14:21] zou3519 commented on #5152
Closing this issue because of time and inability to reproduce. Please feel free to reopen if you are still having this problem.

[2020-08-11 14:21] #5152 closed

[2020-08-11 14:25] zou3519 commented on #5132
I'm closing this issue under the assumption that we've fixed the segfault (because it's been two years since the last activity on this thread and if it still existed a user would have probably ran into it and submitted a new issue). Please feel free to reopen this if that is not the case.

[2020-08-11 14:25] #5132 closed

[2020-08-11 14:27] zou3519 commented on #5066
Sorry for the lack of replies. PyTorch 0.3 is a pretty old version of PyTorch and we generally don't backport bug fixes. Please try a more recent version of PyTorch if you're still having this problem.

[2020-08-11 14:27] #5066 closed

[2020-08-11 14:28] zou3519 commented on #5096
I don't think we have something like this yet. It sounds like a worthwhile thing to test.

[2020-08-11 14:29] zou3519 commented on #5102
The above does not crash anymore in 1.6.0. It instead throws an error message:
[code]

[2020-08-11 14:29] #5102 closed

[2020-08-11 14:30] albanD commented on #41359
Yes we marked it as BC-breaking.
Given that it only affects people that will return `None` for a Tensor that requires grad in a custom function, I think this is ok. Mainly because very few people actually do that, or are even aware that they are allowed to return `None` for inputs that require gradients.
If you feel very strongly about this, we can make this materialization of the output condition

[2020-08-11 14:32] zou3519 commented on #5131
We've deleted the torch/legacy package in PyTorch 1.0 and newer. If you're still having this problem, I would attempt to try using PyTorch 0.4.0.

[2020-08-11 14:32] #5131 closed

[2020-08-11 15:17] ezyang opened #42858 "prelu_backward shouldn't be a method"
Currently, we have:

[code]

This means we generate a `Tensor::prelu_backward` method. There is absolutely no reason we should have this method.

[2020-08-11 15:19] Aceticia commented on #37601
Hello, was this problem solved? I encountered the same issue. It looks really strange that the object method calls all ignored the first argument of 'self'.

[2020-08-11 15:22] hal-314 opened #42859 "Segmentation fault with TorchScript while scripting a function with an argument Optional[List]"
## 🐛 Bug

This bug makes "Segmentation fault: 11" in a MacOS Mojave, Python 3.7 (anaconda) and Pytorch 1.5.1 or 1.6.

## To Reproduce

Run this code have a segmentation fault
[code]
This code works well if you change `classes:Optional[List]=None` to `classes:Optional[torch.Tensor]=None`.

## Expected behavior

It works or gives an error message but not to kill the python interpreter without any tr

[2020-08-11 15:28] #41780 closed

[2020-08-11 15:44] awthomp opened #42860 "KeyError when accessing `__cuda_array_interface__` for complex tensors"
## 🐛 Bug

I'm the creator and lead developer of [cuSignal](https://github.com/rapidsai/cusignal) and was very pleased to see PyTorch 1.6 roll in support for complex tensors! One thing that interests cuSignal users is the ability to seamlessly zero-copy data on GPU from cuSignal, cupy, Numba, and others to PyTorch. While `torch.as_tensor()` works with complex valued arrays, when I try to access the

[2020-08-11 15:52] mrshenli commented on #42793
This might be caused by #28883 (cc @baobablyh). Since v1.5, DDP backward no longer touches a local `param.grad` if it is not defined by the local autograd engine, which could happen when you skip layers. And we need this feature to avoid messing up with some optimizer states.

@ngoyal2707 is this a known issue to you as well? Does fairseq have a fix for this?

[2020-08-11 15:53] #39566 closed

[2020-08-11 16:05] mrshenli commented on #42793
@alexeib could you please also post this issue to fairseq repo? If it is indeed the None grad problem, the fix might need to be added to fairseq.

[2020-08-11 16:09] chanchanhui opened #42861 "Can not get pytorch working with tensorboard"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

I follow the tutorials in pytorch.org It occurs error：TensorBoard logging requires TensorBoard version 1.15 or above, but I have install TensorBoard already. When I run `tensorboard --logdir=runs`,it work normally.I use `from torch.utils.tensorboard import SummaryWriter` at the beginning, but it occurs the error as same as above. Then I

[2020-08-11 16:19] jerryzh168 commented on #39817
looks like it works, didn't compile correctly last time

[2020-08-11 16:24] ailzhang commented on #42729
@ORippler Yea for the default value of `align_corners`, we made it default to `None` just to notify the BC breaking change from align_corners True -> False in 0.4.0. As @ezyang said 0.4 is pretty old let's just change the code and make the default value to `False` :D
For `align_corners` with `nearest/area` mode, the code is correct that it's not allowed to set `align_corners` with `nearest/area` m

[2020-08-11 16:26] malfet commented on #42859
Can not reproduce the crash on Linux nightly

[2020-08-11 16:28] ezyang opened #42863 "TensorOptions extensibility has rusted shut"
One of the original motivations for introducing TensorOptions was to make it easier to add new parameters to factory functions, should the need arise, without having to modify all function signatures; it'd just be a new field in TensorOptions. Furthermore, as TensorOptions were always kwarg-only arguments on Python side, there wouldn't be any BC implications for changes like this.

With the additi

[2020-08-11 16:29] #41827 closed

[2020-08-11 16:29] malfet commented on #42782
@JiangTanZJU if you can install the latest driver, please consider using latest available CUDA version (i.e. 10.2), which should be faster, support more GPUs(for example RTX2080 is not supported by CUDA-9.2) and have some additional features.

[2020-08-11 16:29] #42782 closed

[2020-08-11 16:38] malfet commented on #42509
Closing as duplicate of https://github.com/pytorch/pytorch/issues/42578

[2020-08-11 16:38] #42509 closed

[2020-08-11 16:39] blefaudeux commented on #42849
Adding two cents on `ShardedOptimizer `, since I've been working on something similar in [fairscale](https://github.com/facebookresearch/fairscale): not all concepts from the upstream pytorch optimizer translate 1:1, since there are N+1 states basically, versus 1 state. Each rank has its own state, and there's a virtual, distributed state.
Some of the pytorch optimizer interfaces implicitly assume

[2020-08-11 16:46] bharnoufi commented on #9526
I don't understand how we should use this Loss since there is a gap between the documentation and the execution regarding the sizes that are needed.

"RuntimeError: The size of tensor a (64) must match the size of tensor b (5) at non-singleton dimension 1"
both if the target size is torch.Size([64, 1]) or torch.Size([64]).

In the documentation the size of the target is (N) where N is the batch si

[2020-08-11 17:01] bharnoufi opened #42864 "MarginRankingLoss Dimension"
**Problem:** Gap between the shapes specified in the documentation and the real behavior.

**In the documentation:**

Input: (N,D)(N, D) where N is the batch size and D is the size of a sample.
Target: (N)

**Example:**
input size: torch.Size([64, 5]), torch.Size([64, 5])
Target size: torch.Size([64])

**Error**:
RuntimeError: The size of tensor a (64) must match the size of tensor b (5) at non-si

[2020-08-11 17:03] vreis commented on #42849
Regarding `ShardedOptimizer` and the `OSS` implementation in fairscale: another big change in the API is that users are expected to call `consolidate_state_dict` on the optimizer at the end of every epoch. We are able to hide this in Classy Vision cause our optimizer API is already aware of epochs (for param scheduling), but for general PyTorch users this is another extra step.

[2020-08-11 17:12] blefaudeux commented on #42849
Looping back other discussions here: one solution for this particular `.state_dict()` conformance issue could be to use RRef from torch RPC, so that the full state could materialize on whatever rank is pulling it. A short term blocker for this is that RPC and DDP need two separate init for now (see #41614) and that's cumbersome, but that may not be a fundamental blocker.

[2020-08-11 17:16] mszhanyi commented on #27837
@ngimel，
from JoshuaSv2 and  hendrycks comments， it looks not a windows specific issue.
https://github.com/pytorch/pytorch/issues/39872 is a similar issue.

[2020-08-11 17:17] shubhambhokare1 commented on #42292
An alternative to the slice operation could be to use the scatter op.
`def forward(self, x: torch.Tensor, y: torch.Tensor) -> torch.Tensor:
        indx = torch.zeros(y.size(0), 1, y.size(1), dtype=torch.long)
        x = torch.scatter(x, 1, indx, y.unsqueeze(1))
        return x`

[2020-08-11 17:18] #41776 closed

[2020-08-11 17:41] bhosmer commented on #42863
What if we relaxed our rule so that the scattered arguments could be appear anywhere in the signature - out of order, discontiguous - as long as the names (or names and types?) were recognized as TensorOptions constituents?

[2020-08-11 17:45] KhoomeiK commented on #38618
I believe I'm experiencing the same issue on Colab, and have opened a [bug report with Google Colab as well](https://github.com/googlecolab/colabtools/issues/1493). Below is the minimal script that triggers the issue. CUDA crashes without throwing an error, and then becomes unusable until runtime is restarted.

https://colab.research.google.com/drive/1TxAkgCUaFSfy7Cja7aJCie6ziAhmO1RG#scrollTo=IaDq

[2020-08-11 18:05] mrshenli commented on #42849
For `.param_groups`, do we still need the `broadcast` op in the optimizer if we have `ShardedDataParallel`? Looks like `SharedDataParallel` can work with local optimizers and the local optimizer does not need to do broadcast anymore as the next forward pass can pull updated parameters?

For `state_dict()`, yep, RRef should be able to support this use case if the requirement is to collect all model

[2020-08-11 18:08] KsenijaS commented on #41304
@kundanapillari can you tell me what exact inputs do you use? What is the value of text? What is  input for the original pytorch model ?

[2020-08-11 18:08] blefaudeux commented on #42849
No you're right, this is being worked on actually, I think fairscale's implementation can be improved indeed

Right now NCCL does not support that unfortunately if I remember correctly, I think that this is being worked on though

[2020-08-11 18:14] ngimel commented on #38618
@KhoomeiK this is a different issue, it's a duplicate of #42282. It's a bug that it results in invalid memory access and context invalidation, but since in your example you are trying to operat on cuda  and cpu tensors, we should be throwing RuntimeError error with a better error message.

[2020-08-11 18:17] obbrc commented on #4827
I had the same problem in conda. I have tried all solutions, none seem to be working. I have noticed that I had activated my pytorch environment from another conda environment. When I deactivate my pytorch, it goes back to second environment, not base. When I deactivated all, and re-activated pytorch it worked fine.

[2020-08-11 18:25] SplitInfinity commented on #41764
@nditanaka As you can see, there are already open pull requests for this.

[2020-08-11 18:26] SplitInfinity commented on #41762
@ytobi There are already open pull requests for this.

[2020-08-11 18:29] kundanapillari commented on #41304
@KsenijaS This is how I run my original PyTorch model
[code]

[2020-08-11 18:43] mayankg95 commented on #42838
@zou3519 I'm not sure of the cluster version but the local one is 1.5.0. Also, the issue was due to usage of Automatic Mixed Precision package which I turned off to run the code successfully on the cluster. However, the underlying not implemented issue remains.

[2020-08-11 18:46] alexeib commented on #42793
@mrshenli i am one of fairseq maintainers so i can help fix it there if needed. what is the suggested fix, initialize all grads to empty tensors?

also have you considered adding some meaningful error messages when c10d fails in this way, including with --find-unused-parameters. currently it is not really possible what parameters are unused or why (i hacked fairseq to print out params with empty g

[2020-08-11 18:49] eellison commented on #42334
This is hard to handle in the general case, but is not to hard to handle for lists which have a single, non-aliasing use. I submitted https://github.com/pytorch/pytorch/pull/37903 a while back that would fix this, but I need to do a little more work to clean it up before landing.

[2020-08-11 18:51] spandantiwari commented on #5105
@engine303 - is there a failure somewhere in export? If there is, please share the error stack and a small repro. Also, use the latest PyTorch version as it has several updates to ONNX exporter. For general questions, I would suggest you post on [PyTorch discussion forum](https://discuss.pytorch.org/).

[2020-08-11 18:53] spandantiwari commented on #42752
Opset 8 is a very old opset and does not have support for several ops (or all their usages). My recommendation would be to use opset 11 or the latest opset 12.

[2020-08-11 18:53] #42752 closed

[2020-08-11 18:56] spandantiwari commented on #42783
How are you running your ONNX model? I would suggest checking if the ONNX model looks correct. If yes, then it could be an issue with the runtime not the exporter, so please open a bug there.
Feel free to re-open this issue if you see an issue in export. Also, attach a self-contained repro.

[2020-08-11 18:56] #42783 closed

[2020-08-11 19:03] spandantiwari commented on #42808
@vadimkantorov - are you asking for a capability for adding any generic metadata or specifically the “standard optional metadata"? Also, note that ONNX exporter is mainly targeted to inference use cases for now, so the use for storing training hyperparameters hasn't been discussed much.

[2020-08-11 19:06] spandantiwari commented on #42798
Can you please provide a reasonable repro for this? We can take a look. Also, please try the latest version of PyTorch as there are some improvements to indexing as well.

[2020-08-11 19:08] spandantiwari commented on #42788
Yes, ONNX has support for 3D conv. Are you seeing any error somewhere? If yes, please feel free to reopen the issue and add a repro. For questions, I would recommend posting on PyTorch discussion forum.

[2020-08-11 19:08] #42788 closed

[2020-08-11 19:13] vadimkantorov commented on #42808
Even for inference, it is useful for archival purposes (e.g. to be able to share a single onnx file and not onnx+json metadata file).

All these are useful:
[code]

[2020-08-11 19:25] Balandat commented on #32047
Cross-linking some relevant discussion from the scipy version of this debate: https://github.com/scipy/scipy/pull/10844#issuecomment-672186615

[2020-08-11 19:33] mrshenli commented on #42793
@alexeib the comments below are based on the assumption that the error is indeed caused by `None` grads, not 100% sure if this is the case. :) BTW, how does the grad consistency check in fairseq deal with None grads? And for the failed cases, are the grads indeed numerically different?

This would work for some use cases, but not all. There might be some model using `param.grad==None` to decide wh

[2020-08-11 19:42] mrshenli commented on #42849
Yep, code is available in `ProcessGroupNCCL` but disabled for OSS as we are still trying to figure out a weird error in CI test (#39984 #42514).

Regarding the API, if this has to be built on top of RPC and RRef, instead of passing in a `cpu_model_shard`, we can use `RemoteModule`, which is basically an RRef to a module on a different process.

https://github.com/pytorch/pytorch/blob/9600ed9af3b84

[2020-08-11 19:49] gmagogsfm commented on #42505
Hi ioou,

Scope information isn't exactly part of the TorchScript IR, and it is difficult for us to provide backward compatibility guarantee or other types of support for it.

Thanks for the clarification. I guess I am still not entirely sure about your bigger question. I understand that you wish to have node name info available, but for what bigger purpose? Maybe that's a question we could help a

[2020-08-11 20:01] miranov25 commented on #29209
We are aware of new searchsorted, we use it already in our code  working with current release (1.6)
(slide 2 - https://docs.google.com/presentation/d/1vYPTTsn5Zs7X9OWaewUTlnw9hqJ3XKJNGKiAViHv-cY/edit#slide=id.g7184ebb3b5_0_0)
As I said happy to open a PR in case of interest.
I believe it could be useful for users dealing with dense multidimensional data (see )

Concerning pytorch/numpy comparison,

[2020-08-11 20:09] mruberry commented on #29209
cc @ngimel for the performance

This is really interesting stuff. Give me an opportunity to take a closer look at the provided links.

[2020-08-11 20:11] fritzo commented on #41637
I usually just grep around, for example you can find `digamma` (the derivative of `lgamma`) via:
[code]
then open the last match, `aten/src/ATen/native/Math.h`. I'm sure FB folks have more efficient habits.

[2020-08-11 20:31] froody opened #42879 "Tensorpipe requires setting both GLOO_SOCKET_IFNAME and TP_SOCKET_IFNAME"
## 🐛 Bug

On the FAIR cluster, `nslookup $(hostname)` reports `127.0.1.1` on every host, and this confuses gloo/tensorpipe, requiring me to pass GLOO_SOCKET_IFNAME and TP_SOCKET_IFNAME in the environment for each worker, with the value set to the right interface for each worker. This is frustrating as it requires encoding knowledge about the network configuration into my training script.

## To Re

[2020-08-11 20:47] alexeib commented on #42793
thanks for the reply @mrshenli!

fairseq consistency checking works by computing norm of all gradients for all workers and then comparing it across workers (within some threshold). the grads are collected like so:
[code]

so parameters with None grads are skipped. however, with fairseq's no_c10d mode, grads are stored in one big flat tensor where None grads are replaced with 0s so in this case eve

[2020-08-11 21:00] mruberry commented on #42847
We are actively working on refactoring test_torch.py, but test_jit.py and test_nn.py are also very large.

[2020-08-11 21:04] mruberry commented on #5096
Increasing test coverage is always good, and we are trying to be more mindful about testing different sizes to trigger new codepaths.

Triggering an environment variable on/off is also interesting if it exercises an alternative code path. Maybe we could add a decorator for it?

[2020-08-11 21:54] #42864 closed

[2020-08-11 22:13] gmagogsfm commented on #42487
Discussed with @suo offline, we will need to sync with yf225 more to figure out a solution.

[2020-08-11 22:14] vdantu opened #42882 "Support for defining/saving custom operators with dynamic schema"
## ❓ Questions and Help
Hi All,
Is there a way to define and save an operator which could potentially take any number of inputs and return any number of outputs of any data types. Somewhat similar to saving a node with `Subgraph` attribute.

If yes, how would that operators schema look like?

Thanks,

### Please note that this issue tracker is not a help form and this issue will be closed.

We hav

[2020-08-11 22:16] rgommers commented on #42787
I cannot reproduce this on either 1.6.0 installed with conda, or master built from source. A valid annotation for `torch.cat` is present in `torch/_C/_VariableFunctions.pyi`, also in the Python 3.8 pip and conda packages.

@vikigenius maybe you are using the wrong `mypy`, installed in a different env from PyTorch itself? You can verify that the annotation is present by checking
[code]

Use
[code]

[2020-08-11 22:23] mariosasko opened #42884 "Shapes not documented properly in MarginRankingLoss"
## 📚 Documentation

This issue refers to #42864, but the original issue was closed by the author while I was writing my response to it.

These are the docs at the moment:
![loss1](https://user-images.githubusercontent.com/47462742/89954344-2f1a9180-dc31-11ea-9dc1-5e73ee5f1d88.PNG)

Based on the [source](https://github.com/pytorch/pytorch/blob/0ff0fea42bf9721b87e01fe15445dfd3ea5f2093/aten/src/ATen/

[2020-08-11 22:24] sharvil opened #42885 "Unable to call `super` method with TorchScript"
## 🐛 Bug

I have a derived `nn.Module` which calls `super.forward(...)` in its own implementation. When I try to compile the code to TorchScript, I get:

[code]

## To Reproduce

[code]

## Expected behavior

I would expect to get a proper `ScriptModule` out of the `torch.jit.script(...)` line.

## Environment

[code]

[2020-08-11 22:54] rgommers commented on #37722
If I remove the annotation for `Tensor.__init__`, I get a bunch of failures like:
[code]

Related, there's this in `tools/pyi/gen_pyi.py`:
[code]
If I remove those hints completely, we instead get (same lines, slightly different failures):
[code]

There's still quite a lot of usage of `LongTensor` et al. in the code and docs, so I'm not sure that getting rid of all that at once for this issue is t

[2020-08-11 22:59] KsenijaS commented on #41304
I converted the model by replacing text_positions with text_positions = torch.rand(sequence.size(0), 12, 80)
I am still getting a mismatch between ort and pytorch model and I'm currently looking into that.

[2020-08-11 23:35] alexeib commented on #42793
zeroing out grads when they were missing before/after backward() did not work :(
any other ideas?

[2020-08-12 00:36] mojiayuan commented on #21572
Thanks, I've solved it

[2020-08-12 01:07] #33546 closed

[2020-08-12 01:10] vikigenius commented on #42787
@rgommers On further debugging I realized that it was an issue because of the default configuration I was using.

I typically use

[code]

Allowing implicit reexports causes the attribute error issues to go away.

[2020-08-12 01:14] albanD opened #42890 "Improvement of autograd engine original task placement in worker threads"
Currently, when a call to the autograd engine is done, the original task is always placed on the CPU worker queue.
While this works great, it can lead to surprising behavior, in particular when re-entrant autograd happen from a GPU thread.

Indeed, even though the whole code runs on a GPU and should run serially on the GPU thread, the original task happening on the CPU can lead to non-determinism

[2020-08-12 01:27] rgommers commented on #42787
I suspect we don't want to change that. Building up a module namespace by importing objects (and their type annotations) from other private modules is very common, and really sane Python usage. At scale, doing `from foo import bar as bar` or dynamically updating `__all__` is a little painful. The latter still has some use (e.g. for tab completion and `from ... import *` so could be considered.

@m

[2020-08-12 01:33] mrshenli commented on #42793
Hey @alexeib can you confirm that grads are consistent when not using layer-drop?

hmm, not on top of my mind, but it looks like a real bug that we need to fix if it is not the None grad issue. @rohan-varma have you seen similar errors when working on the model consistency tests?

we might need to enable some debugging mode/ctx for this, as doing this detection by default would incur extra overhea

[2020-08-12 02:28] JoabeSilva opened #42892 "Wrong version after installing from source"
## 🐛 Bug

I've just installed pytorch from source, and it should install current 1.7.0 version. But after installing when I print `torch.version` it outputs 1.3.0.

## To Reproduce

Steps to reproduce the behavior:

1. Install pytorch from source
2. Run code bellow

`import torch
print(torch.__version__)`

## Expected behavior

During installing it outputs "_Building wheel torch-1.7.0a0+7a9ae52_"

[2020-08-12 02:45] SsnL commented on #42892
uninstall your existing lib

[2020-08-12 03:46] alexeib commented on #42793
thanks @mrshenli !

yes, if i disable layer drop everything works great. if i use no_c10d backend everything also works fine. if i use c10d without --find-unused-parameters then the training freezes. if i use --find-unused-parameters then it fails with inconsistent gradients error. happy to test with a debug build or provide a repro command

[2020-08-12 03:47] gunandrose4u commented on #42095
I love it in this way without #ifdef _WIN32 for it.

[2020-08-12 03:52] JoabeSilva commented on #42892
Sorry, there was still an older installation on pip.
After uninstalling it, I got the right version.

[2020-08-12 03:52] #42892 closed

[2020-08-12 03:56] ngimel commented on #27902
Bump, looks like other users are also hitting this issue.

[2020-08-12 03:58] rogerwwww opened #42896 "Weird numerical error with division between tensor and python built-in int"
## 🐛 Bug

When I compute ``2401 // torch.tensor(49)``,  pytorch gives a wrong result 48. Here are several tests I have conducted:

[code]

And only ``2401 // torch.tensor(49)`` gives the wrong result. I have also tested on several other random digits, and no mistake was found.

## To Reproduce

Steps to reproduce the behavior:

1. ``import torch``
1. ``2401 // torch.tensor(49)``
1. See if the prog

[2020-08-12 04:02] gunandrose4u commented on #42095
PR for this RFC is https://github.com/pytorch/pytorch/pull/42897

[2020-08-12 04:39] #41449 closed

[2020-08-12 05:19] #42772 closed

[2020-08-12 05:55] xuezu29 commented on #41177
The speed of the 1.6.0 is the same as that of the 1.5.1.

[2020-08-12 06:32] bhosmer opened #42902 "Avoid dynamic isCustomClassRegistered() checks in kernel call paths"
Currently, we ensure that classes of non-primitive op arguments have been registered by dynamic checks at op call time. It would be excellent to avoid this overhead, but the obvious change - move the check to kernel registration time - isn't possible because we don't require that custom classes be registered before the ops that use them. (We only require that they be registered before they're call

[2020-08-12 06:58] gmagogsfm commented on #42710
Thanks for reporting this issue victor-shepardson. I think this behavior is actually intended. See [this comment](https://github.com/pytorch/pytorch/blob/a346e90c4902c8f993211945e78449d76c7880e3/torch/csrc/jit/api/module.h#L115).

TorchScript doesn't support non-persistent buffer. Thus it treats any tensor-type non-parameter module attribute as a buffer. And buffers show up in state dict.

Therefo

[2020-08-12 06:58] #42710 closed

[2020-08-12 07:02] gmagogsfm commented on #41278
Closing since Variable is deprecated.

[2020-08-12 07:02] #41278 closed

[2020-08-12 07:09] hal-314 commented on #42859
I have the same error (`Segmentation fault (core dumped)` ) with Ubuntu 20.04 and Pytorch 1.5.1 or 1.6. Here is my machine specs:

PyTorch version: 1.5.1
Is debug build: No
CUDA used to build PyTorch: 10.2

OS: Ubuntu 20.04 LTS
GCC version: (Ubuntu 9.3.0-10ubuntu2) 9.3.0
Clang version: Could not collect
CMake version: Could not collect

Python version: 3.7 (64-bit runtime)
Is CUDA available: Yes
C

[2020-08-12 07:23] MaxHalford commented on #28743
Hey there. Just wanted to mention that I've just released a [little package](https://github.com/MaxHalford/pytorch-resample) to perform sampling on `IterableDataset`s. I'm happy using what I've done to fuel discussion on the topic and deprecating my package if ever its behaviour gets merged into `pytorch`.

[2020-08-12 07:26] pfeatherstone commented on #33272
I'm getting a similar error. The stack trace i get from the export is
[code]
I export with verbose=True so not sure why i'm not getting any more details. Probably because the error occurs in a backend function:
[code]

[2020-08-12 07:31] bharnoufi commented on #42884
It actually works with:
Target: (N, 1) and Input: (N, D) (il it is not necessary that Target: (N,D))

[2020-08-12 07:47] bharnoufi commented on #42864
Using a target shape (N,1) solved the problem instead of (N).
`target = target.unsqueeze(dim=1)`

[2020-08-12 08:42] bulingda opened #42906 "Installation problems caused by commands provided on the official website"
I want to install pytorch1.5.1 torchvision0.6.1 in centos7 cuda10.2 python3.7.
1.I clicked "Previous Versions of PyTorch" on the Pytroch site.
2.I choice ‘v1.5.0’，‘wheel’，‘Linux and Windows’，‘# CUDA 10.2 pip install torch==1.5.0 torchvision==0.6.0 -f https://download.pytorch.org/whl/torch_stable.html’.
`(py37) [himap@localhost py37]$ pip install torch==1.5.1 -f https://download.pytorch.org/whl/tor

[2020-08-12 08:44] bulingda commented on #42906
Would you please ask the officials to answer this question for me in their free time?

[2020-08-12 08:45] bulingda commented on #42906
Thank you very much！

[2020-08-12 09:14] AJMHPC commented on #23133
It may be possible to get around the degenerate eigenvalue problem through the application of conditional Lorentzian broadening as described below. This should increase gradient stability, but would incur some error and so should be optional.

![IMG_0031](https://user-images.githubusercontent.com/48359623/89997012-d75d4400-dc8b-11ea-848f-e74292868bfe.jpeg)

Note:  ε  = 1E-12

Reference: http://arx

[2020-08-12 09:25] KKawamura1 opened #42908 "torch.Tensor.ndim is not typed"
## 🐛 Bug

[code]

## Environment

torch 1.6.0 and master (ecb9e790ed6ceafa738ad52a500b9e50bc0fc241)

## Why this occurs and how to solve

https://github.com/pytorch/pytorch/pull/38157 removed `torch/__init__.pyi.in` and introduced `torch/_C/__init__.pyi.in`, but some methods defined in `torch/__init__.pyi.in` (`ndim`, `T`, and `grad_fn`) was not salvaged and had gone away.
`T` and `grad_fn` was re

[2020-08-12 09:46] ioou commented on #42505
hi, @gmagogsfm

I'd like to know the input layer and output layer of a given leaf layer.

Several relevant tasks depend on the graph of network. One of the them is to fuse the batch norm layer into it previous parameterized layer(conv,  linear). I have to know the previous layer of the bn to fuse bn's running mean, variance, w, b into the previous layer's parameter. Other tasks include transferrin

[2020-08-12 10:11] hameerabbasi commented on #42515
I've picked up `torch.degrees` in #42910.

[2020-08-12 10:12] ORippler commented on #42729
Hi @ezyang @ailzhang ,

your changes do make sense to me, however are also a BC breaking API change. In the current version, you can call `functional.interpolate` with `align_corners = None` and all interpolation modes, and `align_corners` is changed to `False` as required together with issuing the `UserWarning` before passing it to the internals. With your suggestion, one would now need to explic

[2020-08-12 11:08] freedenS commented on #41896
i test libtorch1.6 from binary, but it still be RuntimeError: [enforce fail at roi_align_op.h:39] . Not Implemented.

[2020-08-12 11:21] freedenS commented on #41896
Here is my code and pt file. https://drive.google.com/file/d/18t48TcG_kd53ILDiy3PQ-KzyFeK7im_G/view?usp=sharing
[code]

[2020-08-12 13:14] Joevaen opened #42911 "Converting from .pth to .onnx failed on 3d-input. Support 3d-conv?"
## ❓ Questions and Help
Hi,
Below picture is the result of a transformation from pth to onnx who are shown in Neutron:
![image](https://user-images.githubusercontent.com/46133615/90018739-fbe30b80-dcdf-11ea-95b4-66877623689d.png)
Left is pth's architecture and right is onnx's architecture. You noticed that the first layer size of left input is different from the right. In my exprienment, as for th

[2020-08-12 13:15] nikitaved commented on #38948
@pearu , @albanD , lobpcg is not defined in `native_functions.yaml`. It is not going to be a problem with `derivatives.yaml`, right? How can I extract a relevant schema to be usable in `derivatives.yaml`?

[2020-08-12 13:17] vadimkantorov opened #42912 "Add typing information into variable declarations for JIT script ".code" output"
Python does support adding typing information at variable declaration site. It would be good for better code inspection and comprehension

Compare:
[code]

and

[code]

[2020-08-12 13:22] vadimkantorov commented on #41674
Same issue in https://github.com/pytorch/fairseq/issues/2468 and in https://github.com/pytorch/fairseq/issues/2235#issuecomment-672752922

Some fairseq functions like to modify module attributes inside `forward` for some caching. And graph lowering does not like that.

Graph lowering is a mandatory stage during ONNX export: https://github.com/pytorch/pytorch/blob/a6c8730045bc19ec94ed8b15bfabc69d17

[2020-08-12 13:34] vadimkantorov opened #42914 "Graph lowering (_jit_pass_lower_graph) during ONNX export of JIT scripted model seems seriously broken: dislikes Python scalars, None, Linear(bias=False)"
[code]

cc @suo @gmagogsfm @houseroad @spandantiwari @lara-hdr @BowenBao @neginraoof

[2020-08-12 13:42] hal-314 opened #42915 "Bitwise shorthands aren't supported in TorchScript while regular bitwise ops are."
## 🐛 Bug

## To Reproduce

This works
[code]

This doesn't work
[code]

Error message:
[code]

## Expected behavior

|= and &= shorthands should work since +=, -=, etc are supported as said in the [docs](https://pytorch.org/docs/stable/jit_language_reference.html#simple-assignments) when bitwise operators work fine.

I didn't test other ops like <<=, >>= . It seems that [they aren't working](https

[2020-08-12 13:44] qhaas commented on #25150
Getting the same error with PyTorch 1.6 in Ubuntu 18.04 x86-64 using latest cmake from the kitware repo (3.18) and the dependencies listed [here](https://github.com/pytorch/pytorch/blob/v1.6.0/.circleci/docker/common/install_base.sh).  Trying to build outside of conda with python3.

[2020-08-12 13:45] vadimkantorov commented on #42914
Same issue with tensor slicing:
[code]

[2020-08-12 13:46] vadimkantorov commented on #42914
cc @ezyang

[2020-08-12 13:53] vadimkantorov commented on #42914
graph lowering is called at https://github.com/pytorch/pytorch/blob/a6c8730045bc19ec94ed8b15bfabc69d17b3c4f7/torch/onnx/utils.py#L362

[2020-08-12 14:16] vivekv80 opened #42916 "Build problems caffe2 -- pytorch from source & CUDA 11.0"
## Issue description

Issue building caffe2 when building Pytorch from source with CUDA 11.0 and cuDNN 8.0

## Code example

[code]

## System Info
PyTorch version: 1.3.1
Is debug build: No
CUDA used to build PyTorch: Could not collect

OS: Ubuntu 18.04.5 LTS
GCC version: (Ubuntu 7.5.0-3ubuntu1~18.04) 7.5.0
Clang version: 6.0.0-1ubuntu2 (tags/RELEASE_600/final)
CMake version: version 3.14.0

Pytho

[2020-08-12 14:20] vadimkantorov commented on #42914
`torch.nn.Linear(in_channels, out_channels, bias = False)` is not supported by ONNX export of JIT scripted function. very strange

[code]

[2020-08-12 14:22] mrshenli commented on #42793
adding a high-pri tag to make sure we get this fixed before the next release.

[2020-08-12 14:23] vadimkantorov commented on #42914
@ezyang Lowering seems broken for ScriptModules, Is it actually needed? E.g. for ScriptFunctions lowering is not performed: https://github.com/pytorch/pytorch/blob/a6c8730045bc19ec94ed8b15bfabc69d17b3c4f7/torch/onnx/utils.py#L362

[2020-08-12 14:36] albanD commented on #38948
Hey,

The function is implemented [here](https://github.com/pytorch/pytorch/blob/master/torch/_lobpcg.py).
So I think the simplest way to go about this is to actually create a custom `autograd.Function` (https://pytorch.org/docs/stable/notes/extending.html) with the forward that already exists and your new backward.
Then you can make `torch.lobpcg` point to `LOBPCGFunction.apply`.

[2020-08-12 14:42] zou3519 commented on #42914
Adding the labels cc'ed some folks who should be able to answer the question. Looking at the code, it looks like ONNX just doesn't like Python scalars or support type promotion.

[2020-08-12 14:44] pearu commented on #38948
@nikitaved , see https://github.com/Quansight/pearu-sandbox/blob/master/pytorch/issue38948.py for implementing lobpcg backward in Python.

[2020-08-12 14:51] vadimkantorov commented on #42914
Disliking None is an even more serious problem. Checks `if self.some_module is not None` are omnipresent. Maybe it could apply something like tracing anyway, i.e. is there a way to do some annotation with constants / Final somehow to mark an object attributes as Final (after it was set in constructor): https://discuss.pytorch.org/t/why-do-we-use-constants-or-final/70331/4 ?

I think it should supp

[2020-08-12 14:53] vadimkantorov commented on #42914
I could use Final for my own code, but it would be good if standard PyTorch modules were annotated by themselves, e.g. Linear

[2020-08-12 14:56] vadimkantorov commented on #42914
So nn.Linear does: `self.register_parameter('bias', None)` and this leads to lowering disliking None.

And `bias` is not listed in its list of `__constants__`

[2020-08-12 15:00] vadimkantorov commented on #42914
If optional/undefined tensors [got finally into](https://github.com/onnx/onnx/issues/151) ONNX, then maybe bias could be transformed into checking if some tensor is undefined or not

[2020-08-12 15:09] dncliss commented on #41400
@suo Hi -- I am just now seeing this thread, and I'm surprised to see the "no official support" comment for PowerPC (or really, Power, i.e. "ppc64le" build), as we are continuing to execute the CI runs nightly, at the location where the readme points (to servers at the osuosl lab).
These CI runs on ppc64le have been building successfully for a while, but are marked failing as they eventually reach

[2020-08-12 15:11] nikitaved commented on #38948
Thank you! Now I have a question, the function accepts two inputs and hence produces two grads. Is it always the case? Does it depend on whether `requires_grad` is set? Like, if for both `A` and `B` the grad is set, then return joint grads as in the derivation from above, otherwise treat one of them as constant.

[2020-08-12 15:15] ezyang commented on #42863
I thought about this too. It sounds kind of complicated though; certainly all of our current codegen would break.

[2020-08-12 15:20] nikitaved commented on #38948
Ah, sorry, my comment got deleted by mistake. `derivatives.yaml` allow to specify grad for any subset of inputs. How do I do that with with `autograd.Function` approach? There are 3 cases: grad wrt to joint (A, B), wrt A, wrt B.

[2020-08-12 15:25] oldriver-wang opened #42917 "3D affine transfrom F.affine_grid"
I already get affine transfrom matrix from itk-snap, and its shape is 4 x 4,
likes:
1.02679 -0.0407256 -0.00554427 -2.419
-0.00454069 1.08451 -0.0294553 9.41757
0.00931154 0.0147304 1.0443 0.870609
0 0 0 1

How can I get a theta to generate a same 3D affined image according to torch.nn.functional.  affine_grid  and grid_sample

cc @albanD @mruberry

[2020-08-12 15:29] albanD commented on #38948
You can check the example in the doc I sent. But you have `ctx.needs_input_grad` list that tells you what you need to compute the gradient for. You can use that to condition your backward code to only do the work that is needed (and you should return None for things that don't need gradients).

[2020-08-12 15:29] alberthe commented on #15609
Seems not fixed. PyCharm 2020.2 still has the same issue

[2020-08-12 15:30] nikitaved commented on #38948
I get what you say, so I can explicitly check the input which requires grad, I get it. Thank you!

[2020-08-12 15:34] vadimkantorov commented on #42914
And it could definitely at least wrap Python scalars into PyTorch Tensors. Also a scriptable type promotion function could be introduced if type promotion is not part of ONNX spec (and maybe deterministic type promotion could be done if all types in the expression are known at lowering time

[2020-08-12 15:40] #42213 closed

[2020-08-12 15:41] vadimkantorov opened #42919 "Legacy workarounds in tensor.py"
1. A lot of references to Python 2 and workarounds: https://github.com/pytorch/pytorch/blob/master/torch/tensor.py
2. L631:
[code]
But PyTorch has built-in bool tensor since a long while

[2020-08-12 15:50] lobpcg commented on #38948
If I understand correctly the above, the backward computation is algorithm agnostic, i.e. comes from perturbation theory of eigenvalues and eigenvectors that are assumed to be computed exactly. LOBPCG only computes approximately, so the results of the backward computation are going to match only quite approximately. E.g., in an extreme case where LOBPCG performs just one iteration, the results of

[2020-08-12 15:50] vadimkantorov commented on #39853
It seems that at the end TensorFlow kept both options: default exact and optional approximate...

[2020-08-12 15:59] pearu commented on #38948
yes

yes, that is all correct, however, I don't see problems with the above in the sense that if a user asks for less accuracy from lobpcg, s/he cannot expect forward/backward to be exact either.

[2020-08-12 16:10] lobpcg commented on #38948
Thanks for the confirmation! I hope that this distinction is made clear to avoid confusion. There are simple iterative methods where forward/backward pair can be implemented quite accurately, for a fixed initial approximation.

Sent from my T-Mobile 4G LTE Device
Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Pearu Peterson <notifications@github.com>
Sent: W

[2020-08-12 16:19] neginraoof commented on #42334
@eellison Thanks a lot for looking into this.
Do you think tuple (TupleConstruct) nodes can be handled similarly?

[2020-08-12 16:22] ezyang commented on #42812
I believe this is a dupe of https://github.com/pytorch/pytorch/issues/6884 but it might be better to keep this issue as it is more in depth.

The trick to work around this problem is introduce small (can be zero size), dummy input that requires grad; that will cause checkpointing to work, without having to sledgehammer the entirety of input.

[2020-08-12 16:22] ezyang commented on #4215
Since we merged variable and tensor in C++ this is no longer a problem!

[2020-08-12 16:22] #4215 closed

[2020-08-12 16:23] ezyang commented on #41254
on a recent nightly on OS X this test passes for me. Might be something env related

[code]

[2020-08-12 16:24] ezyang commented on #42792
If anyone at QS wants to pick this up, I think this would be pretty good!

[2020-08-12 16:28] ezyang commented on #42665
cc @ann-ss who is working on a different project to remove dependence on InputArchive/OutputArchive from samplers

[2020-08-12 16:36] trevorgribble commented on #31285
hi @peterjc123 & @soumith

I have an old GeForce GT 740 with Cuda Capability 3.0 and I spent last 2 days getting CUDA set up, installing pytorch from source, only to run into this same kernal image issue as others in this thread.

Given that I've followed and verified all cuda installation, succesfully built pytorch from source, and it's still not working...should I just give up on trying to make

[2020-08-12 16:37] ezyang commented on #37722
Alternatively, we could just give it an Any annotation so that everything works?

[2020-08-12 16:38] ezyang commented on #42902
cc @jamesr66a for any historical context

[2020-08-12 16:43] ezyang commented on #42787
I'm not opposed to using `__all__` tactically, but trying to apply it everywhere sounds tough, especially when the list of identifiers is coming from some of our codegen stuff. If implicit reexports works, we should just make people use that.

[2020-08-12 16:47] eellison commented on #42334
I don't think so, because any trivial usage of TupleConstruct would be lowered by our lower_tuples pass. Do you have any examples of real-world models that were affected by this issue ? AFAIK this issue was just thought up in converrsation

[2020-08-12 16:52] RemonComputer opened #42921 "Add Stereo to Mono Convertions"
## 🚀 Feature

Make mono to stereo or stereo to mono conversion

## Motivation

You Guys have made an amazing job, but stereo to mono and vice versa is simple, it seems that you missed it,
I think it might be done with simple mean in the channel dim

## Pitch

This should be a Simple Transform like ToMono(channel_first=True) which will be in Torchaudio.Transforms

[2020-08-12 17:04] rgommers commented on #42787
I've had a look at the specific `torch.cat` issue in relation to `__all__` and it's already done correctly. Relevant code in `torch/__init__.py`:
[code]

which puts `'cat'` where it belongs:
[code]

So nothing left to do here.

I agree, thanks for the input. I'll close this issue then.

[2020-08-12 17:04] #42787 closed

[2020-08-12 17:09] mszhanyi commented on #22083
NVIDIA GPUs can exist in one of two modes in Windows: TCC or WDDM. The GPU is involved in driving display in WDDM and not in TCC.  That's why you can see some gpu processes with nvidia-smi.exe if you don't run any GPU jobs  in windows.
Simply, Deep Learning job will be faster in TCC in Windows.

We can use nvidia-smi to set the TCC mode (https://docs.nvidia.com/gameworks/content/developertools/des

[2020-08-12 17:10] xkszltl commented on #42115
LGTM, will test

[2020-08-12 17:10] vadimkantorov commented on #42914
Would making bias a constant/final help such an export?

[2020-08-12 17:17] mattip commented on #41661
I am thinking this is not connected to pytorch, rather any program you compile that uses `pythread_cancel` will show this error on your system. The [man page](https://linux.die.net/man/3/pthread_cancel) has an example, does that compile and run?

[2020-08-12 17:19] rgommers commented on #37722
There's multiple constructor signatures, with one already typed as `Any`:
[code]

Ah, the report is for `1.5.0`, this should actually be solved. Or it's a bug in PyCharm. @ikamensh can you please confirm with a nightly?

[2020-08-12 17:27] ailzhang commented on #42914
Removing jit label since this issue is more on onnx support, please correct me if I'm wrong. Thanks!

[2020-08-12 17:28] kksweet8845 commented on #35096
I got the same error.

I export the MaskRCNN implemented by Detectron2 as a submodule. Trying to export it by torch.onnx.export.
After exporting successfully by torch.onnx.export, I got the same kind of error.

[code]
### The module class named `ToOnnx` defined in here
It is exported to onnx format successfully.
[code]

### The code which the `ToOnnx` being invoked

[code]
### And I check the mode

[2020-08-12 17:47] nikitaved commented on #42792
Then I am taking this one.

[2020-08-12 17:47] ezyang commented on #41478
How to go about doing this?

1. Take a look at `torch/csrc/jit/runtime/register_c10_ops.cpp`. This is an implementation of tracing that operates directly on the stack. This is the code that we want to refactor out into a backend fallback. If you want to see what the straightline version of this code looks like, check out `torch/csrc/autograd/generated/TraceTypeEverything.cpp` on a built copy of Py

[2020-08-12 17:59] malfet commented on #42916
@vivekv80 just to clarify, are you trying to build torch-1.3.1 or top of tree?
Also, can you please share the full build log (namely, how you've configured the build?)

[2020-08-12 18:09] vivekv80 commented on #42916
I am trying to build pytorch with GPU support for CUDA 11.0. I am running some pytorch tasks currently with 1.3.1 (CPU only)

[2020-08-12 18:10] vivekv80 commented on #42916
I am doing a `python setup.py install` after clong the repo recursively.

[2020-08-12 18:21] xkszltl commented on #42115
Verified. PR works for me

[2020-08-12 18:22] 6etacat opened #42929 "Dropout in nn.MultiheadAttention Causing Attention Weight Sum > 1"
## 🐛 Bug

Attention weights sum to over 1 when dropout is used in MultiheadAttention.

## To Reproduce

Steps to reproduce the behavior:

1. Start from the [official transformers tutorial](https://pytorch.org/tutorials/beginner/transformer_tutorial.html)
2. Use custom encoder layer derived from the official encoder layer to expose attention weights
3. Check attention weights while training
4. The

[2020-08-12 18:22] xkszltl commented on #42115
Once merge, please also update repos in dependency chain of pytorch->ideep->dnnl

[2020-08-12 18:28] vadimkantorov commented on #42914
I guess yes, except maybe the nn.Linear case. I guess torch.jit.script could have deduced that bias is a constant (since it does not change inside the scripted graph) and keep only the `bias is None` branch (somehow "tree-shaking" / "reachability analysis"?). Even if we need to do such a pass explicitly, it would be useful.

I think yes, I guess it's up to ONNX export part of code to be able to wr

[2020-08-12 18:54] wanchaol commented on #42890
Seems to me that the main change here is to determine the correct device ready queue for GraphRoot by examing the inputs device? This sounds good to me as I didn't see any potential issues for this approach.

For distributed engine, we are still doing similar thing like the current local autograd engine, but it's a bit different, we maintain a `ready_queue` per GraphRoot, and always push to this n