[2022-03-21 21:50] ejguan commented on #74498
Running out of shared memory for this CI tests. We need to figure out a way to limit the memory usage for each test cases. And, this is a flaky test due to various of CI machines.

[2022-03-21 21:58] Guillaume-oso commented on #71680
I already tried it before, it wasn't working

[2022-03-21 22:10] suo opened #74501 "test/onnx/test_pytorch_onnx_onnxruntime.py::TestONNXRuntime_opset12::test_quantized_linear is flaky"
Example failures:
- https://github.com/pytorch/pytorch/runs/5593111469?check_suite_focus=true
- https://github.com/pytorch/pytorch/runs/5635175017?check_suite_focus=true
- https://github.com/pytorch/pytorch/runs/5634164753?check_suite_focus=true

[2022-03-21 22:15] cauliflowew opened #74503 "Compilation error on M1 Mac"
### 🐛 Describe the bug

I'm trying to compile pytorch from source following the [from source](https://github.com/pytorch/pytorch#from-source) section on the GitHub page. I'm on an M1 MacBook, using macOS version 12.2.1.

I'm installing all the dependencies using conda (but mkl and mkl-include don't seem to be supported on M1 Macs, so they failed to install, but all other packages did install). Whe

[2022-03-21 22:27] malfet commented on #74422
Hmm, just to check - you are using the same pybind commit as PyTorch? Because using different version can cause symbol clashes, which at least when clang compiler is used is giving a bit nicer error message:
[code]

Even though:
[code]

[2022-03-21 22:54] mruberry commented on #74415
Hey @adeandrade -- sorry you're hitting this issue. Is the error message you're getting copied exactly? Are you setting the cache directory to /root, and /root exists, and you're still hitting this error? How are you setting the cache directory, if so?

[2022-03-21 23:31] bitfort opened #93741 "TorchBench + Dynamo TRT"
As of today, the current status of TorchDynamo+FX2TRT on supporting models in TorchBench:
1. 27 models could fully run on TRT (except drq, yolov3, hf_Bart) with performance larger than 1x.
2. 21 models could run with poor performance or throw Errors due to fx tracer issue or TRT cuda issue.
3. 4 models are not qualified for inference now.
- mobilenet_v2_quantized_qat, resnet50_quantized_qat due to

[2022-03-22 00:55] Sleemanmunk commented on #74422
Thanks for checking in!
The error message you produced there is

ModuleNotFoundError: No module named 'torch'

This arrives because the python you're linking to doesn't have torch installed.

In terms of your point about the version needing to match, I've tried with Pybind v2.6.2 (mentioned here https://github.com/pytorch/pytorch/tree/v1.10.2/third_party), and get the same error.

[2022-03-22 01:09] ezyang commented on #57744
We now link to shared CUPTI by default and have a test to see if exception handling is disrupted!

[2022-03-22 01:09] #57744 closed

[2022-03-22 01:25] #74334 closed

[2022-03-22 01:26] ezyang opened #74514 "Figure out a lint for directly returning a nullptr instead of raising python_error"
### 🐛 Describe the bug

Although returning a nullptr is standard operating procedure for Python bindings, our warning handler when you use `HANDLE_TH_ERRORS` is written in such a way that there MUST be an exception unwinding for the error case, otherwise https://github.com/pytorch/pytorch/issues/74334 will happen. See also https://github.com/pytorch/pytorch/pull/74357

### Versions

master

[2022-03-22 01:52] rohan-varma opened #74515 "FSDP: Mixed Precision follow up work"
### 🚀 The feature, motivation and pitch

Tracking issue for follow up work for mixed precision (added in https://github.com/pytorch/pytorch/pull/74452):

- [x] Test local_state_dict checkpoint works with mixed precision. In particular we have to be careful about buffer casting.
- [x] For BatchNorm, initial solution will be to skip mixed precision training using auto_wrap API, user can also specify

[2022-03-22 02:44] desertfire opened #74516 "Lazy Tensor: dcgan eval produces wrong result after making `normal_` lazy"
### 🐛 Describe the bug

Currently `normal_` is implemented as a fallback in Lazy Tensor.

Moving `normal_` in `ts_native_functions.yaml` into the `full_codegen` section and runing `python lazy_bench.py -d cuda --test eval --fuser noopt -k dcgan` can reproduce the problem.

[2022-03-22 03:23] songyuc commented on #74453
@2015aroras, thanks sincerely for your guide!

[2022-03-22 03:25] songyuc commented on #74453
Could you please help fix the error in the documentation?

[2022-03-22 03:32] wconstab opened #74519 "Lazy TS Test Failures"
- [ ] test_ts_opinfo.py : ops marked with runtime error or incorrect results
- [x]  test_ts_opinfo.py: failure to dispatch on windows ([paste of error](https://www.internalfb.com/phabricator/paste/view/P489289523))
- [ ] ASAN: divide-by-zero detected in TestNllLoss: https://gist.github.com/wconstab/f4b6fcc3b6c69facd5c2ec5353ea5463
- [ ] ASAN: (same error, for TestNllLossBackward)
- [ ] ASAN: test_

[2022-03-22 04:28] xwang233 commented on #70669
Hi @LinghaoChan , @rahulTrial , thank you for reporting this issue. Sorry I still can't reproduce this issue with pytorch wheel of different versions on various GPU models.

To help us better isolate this issue, can you help check if this issue also exists in
- other linalg functions (`GETRF` is a LU decomposition function, so other LU-related functions may also fail, e.g. `solve`, `inverse`, or `

[2022-03-22 04:42] xwang233 commented on #70669
I was thinking if https://github.com/pytorch/pytorch/pull/73447 or some other build changes could be related. cc @malfet

[2022-03-22 05:24] wanchaol commented on #74302
@pratikchhapolika can you share more details about what implementation you are using? is it the fairseq implementation or huggingface implementation or sth else? did you download the pretained model from torch-hub?

For different implementation of the models like fairseq or huggingface, we recommend contacting or submitting issues to their repo directly to get a faster and more accurate response :

[2022-03-22 05:26] pratikchhapolika opened #74522 "RuntimeError: CUDA out of memory. Tried to allocate 20.00 MiB with 8 Ampere GPU's ."
### 🐛 Describe the bug

I am fine tuning masked language model from XLM Roberta large on google machine specs.
I made couple of experiments and was strange to see few results. `I think Pytorch is not functioning properly. `

I am using pre-trained Hugging face model.

I am using

https://huggingface.co/xlm-roberta-large

I am not using fairseq or anything.

[code]

Here is `Nvidia-SMI`

[code]

**

[2022-03-22 05:27] pratikchhapolika commented on #74302
Any help on this? More info here https://github.com/pytorch/pytorch/issues/74522

[2022-03-22 05:30] pratikchhapolika commented on #74302
More detailed description here https://github.com/pytorch/pytorch/issues/74522

[2022-03-22 05:41] polvoazul commented on #68055
A suggestion: document in docker hub which python version is shipped for each image tag.

[2022-03-22 05:58] suo commented on #66178
# 3/15–3/22

## No PR Signal
- https://github.com/pytorch/pytorch/pull/74220 I think?
- https://github.com/pytorch/pytorch/pull/73925 Breakage in functorch
- https://github.com/pytorch/pytorch/pull/73456
## Ignored Signal
- https://github.com/pytorch/pytorch/pull/74297
## Land races
- https://github.com/pytorch/pytorch/pull/71561
- Raced with workflow consolidation https://github.com/pytorch/pytor

[2022-03-22 07:06] timmywanttolearn opened #74528 "Supports for dist.send/dist.recv sending and recving torch.shorttensor"
### 🚀 The feature, motivation and pitch

Currently I am trying to send some 16bits integer quantized tensor by using dist.send/dist.recv. However dist.send /dist.recv does not support this.
And is there any way to rewrite tensor type to support n-bit tensors, n is a self define number.

### Alternatives

Sorry I don,t know the principle of dist.send, maybe in tcp methods.

### Additional context

[2022-03-22 07:36] mountains-high commented on #74459
Hi @fritzo, thank you for your comment. I changed the issue. The main point was one has showed Dirichlet distribution works without error(I tried the proposed solution), but I faced the problem. Thanks

[2022-03-22 08:15] mruberry opened #74531 "Feature Request: torch.testing.make_scalar (make_tensor for scalars)"
Came up while in the discussion on https://github.com/pytorch/pytorch/pull/74313.

[2022-03-22 08:25] pmeier commented on #74531
A naive solution would be to provide a thin wrapper around `make_tensor`:

[code]

One question that came to mind: should we still accept `torch.dtype`'s here? If yes, what would be difference between passing `dtype=torch.float32` and `dtype=torch.float64`?

[2022-03-22 08:47] mruberry commented on #74303
What do you think, @jbschlosser?

[2022-03-22 08:47] mruberry commented on #74328
`instantiate_tests()` could be the winner here.

[2022-03-22 08:48] #69414 closed

[2022-03-22 09:12] Li-fugui commented on #74016
same error

[2022-03-22 09:14] NicolasHug commented on #68459
@anjali411 @malfet is it OK for me to add a `release notes: hub` label for torchhub-related PRs? CC @vmoens

[2022-03-22 09:28] wangyunxiaa opened #74534 "torchscript model got different results from first and subsequent inferences"
### 🐛 Describe the bug

when I traced a model with torch.jit.trace, I got the torchscript model

[code]

### Versions

PyTorch version: 1.8.1+5935cd5
Is debug build: False
CUDA used to build PyTorch: 11.2
ROCM used to build PyTorch: N/A

OS: Ubuntu 20.04.1 LTS (x86_64)
GCC version: (Ubuntu 9.3.0-17ubuntu1~20.04) 9.3.0
Clang version: Could not collect
CMake version: version 3.16.3

Python version:

[2022-03-22 09:30] LinghaoChan commented on #70669
@xwang233 Thanks for continuing to follow this bug! I did experiments as follows. `qr`, `inv` function fails at first, and it's ok by trying twice. More amazingly, the `solve` function fails twice, but it's ok by trying three times. Besides, non-LU functions also failed at the first time, e.g. `svd` and `cholesky`. After I tried `cholesky` twice, the `torch.det()` can work well.

**Environment: to

[2022-03-22 10:49] Wang-Tianyu opened #74536 "Different pytorch version consume a different amount of VRAM"
### 🐛 Describe the bug

I notice that when I run the same code on the same machine with a different version of PyTorch I get different VRAM consumption.

With PyTorch 1.10.2 installed around Dec 2021 and Pytorch 1.8.1 installed around May 2021, my code can run without problem.
But with Pytorch 1.8.1 and PyTorch 1.11.0 installed this week I get Cuda out of memory error.

Interestingly, the error I

[2022-03-22 11:45] awgu commented on #73890
https://github.com/pytorch/pytorch/pull/74333

[2022-03-22 11:45] #73890 closed

[2022-03-22 13:35] kshitij12345 opened #74537 "ComplexHalf Coverage Tracker"
### 🚀 The feature, motivation and pitch

There have been multiple requests and issues (see https://github.com/pytorch/pytorch/issues/71680) to have better operator support for `complex32`. Currently it is almost impossible to do anything with a `Tensor` of `complex32` dtype (even printing doesn't work).

All operators which support complex dtypes should ideally support `complex32`. Computation wil

[2022-03-22 13:44] ezyang opened #74538 "Quantizer::equalTo missing const qualifier"
### 🐛 Describe the bug

Equality test should be const.

### Versions

master

cc @jerryzh168 @jianyuh @raghuramank100 @jamesr66a @vkuzo @mruberry

[2022-03-22 13:46] abdulmuneer opened #74539 "Making PyTorch more pythonic: the PyTorch functions should be inspectable."
### 🚀 The feature, motivation and pitch

I am working on translating an intermediate specification pytorch code.  To map the parameters, I need to inspect the signature of the pytorch functions (e.g. `torch.empty` or `torch.nn.functional.conv2d`) and find out the parameter it is expecting.

But, the usual pythonic way of inspecting a python function with `inspect` does not work with PyTorch.  It r

[2022-03-22 13:50] ezyang opened #74540 "No factory functions for strided quantized tensors"
### 🐛 Describe the bug

For non-quantized tensors, there is both `empty` and `empty_strided`. However, for quantized tensors there are only `empty` variants for functions. This means that it is difficult for quantized operators to properly preserve strides when they should (e.g., TensorIterator style ops).

If this is affecting you please comment here.

### Versions

master

[2022-03-22 13:51] arccos2002 opened #74541 "RuntimeError: Preprocessing function for backend coreml is not registered."
### 🐛 Describe the bug

I'm trying to follow the iOS coreml workflow https://pytorch.org/tutorials/prototype/ios_coreml_workflow.html for my model but I am getting the error "Preprocessing function for backend coreml is not registered".
torch:1.11.0+cu102
python:3.7

### Versions

torch:1.11.0+cu102
python:3.7

[2022-03-22 14:19] kimishpatel commented on #73160
Did you try building on top of master? It might be the case that nightly is not build with coreml support. @xta0 can you check?

[2022-03-22 14:20] #73165 closed

[2022-03-22 14:34] Lezcano commented on #70669
fwiw, solve calls lu_factor + lu_solve so, even though I don't know why it fails, it makes sense it fails twice before succeeding

[2022-03-22 14:48] ezyang opened #74544 "Many inplace operators are not being tested for variant consistency (test_variant_consistency_eager)"
### 🐛 Describe the bug

I was running code coverage style analysis on OpInfos and I noticed that this condition which disables inplace testing in `test_variant_consistency_eager` is too stringent

[code]

This skips too many ops; for example, it means we skip consistency for `ge_`, which takes two float tensors and returns a bool tensor. In the inplace case, the bool tensor gets promoted back to f

[2022-03-22 15:17] anjali411 commented on #68459
@NicolasHug yeah absolutely. you would just need to add a new github label and you will be good to go

[2022-03-22 15:25] rohan-varma commented on #74157
@[Haijunlv](https://github.com/Haijunlv) Thanks for digging deeply into this! Since you've uncovered the bug, are you interested in submitting a PR to fix the issue? Feel free to submit one if so.

[2022-03-22 15:30] xingruiy opened #74547 "importing open3d before pytorch causes matmul to produce a segfault"
### 🐛 Describe the bug

I am met with a weird problem: when I import open3d before pytorch, the `@` operator, or `torch.matmul` always produce a segfault. But if I import both the other way around, it is fine. Code to reproduce:

[code]

open3d is installed with `pip install open3d==0.15.2`. I have also tested `0.14.1` but the problem persists. I have also tried `torch1.10+cu113` but still got a s

[2022-03-22 15:37] Haijunlv commented on #74157
thanks for the chance.  i will try to submit pr with unit test later.

[2022-03-22 15:43] pytorch-bot[bot] opened #74548 "DISABLED test_shuffle_batch_workers (__main__.TestDataLoader)"
Platforms:

This test was disabled because it is failing in CI. See [recent examples](http://torch-ci.com/failure/test_shuffle_batch_workers%2C%20TestDataLoader) and the most recent trunk [workflow logs](https://github.com/pytorch/pytorch/actions/runs/2022590947).

Over the past 3 hours, it has been determined flaky in 1 workflow(s) with 1 red and 3 green.

cc @SsnL @VitalyFedyunin @ejguan @NivekT

[2022-03-22 15:56] nikitaved commented on #71117
About linalg: `linalg.lstsq` has forward AD implemented. svd/pca-lowrank should be able to support forward AD as they are composite operations relying on mm and svd, for which `linalg.svd` now has forward AD support, unless legacy svd is used...

[2022-03-22 16:14] alexander-soare commented on #19739
I found that importing open3d **second** works:

This
[code]
raises
[code]

whereas this
[code]
runs just fine.

FYI:

[code]

[2022-03-22 16:25] fritzo commented on #74459
@mountains-high It looks like a constraint violation error: you are passing a zero value to a concentration which is expected to be positive. I would recommend clamping the input concentration to ensure they are positive:
[code]

[2022-03-22 17:15] ezyang commented on #32867
Quantization has added handling for 1/2/4 bit dtypes, but they didn't handle general striding for these cases.  Here is their size formula:

[code]

The assumption seems to be that the innermost dim gets packed and rounded and then the outer dims are normal. This means certain restridings are invalid, in particular all strides must maintain the innermost dimension being contiguous.

[2022-03-22 17:17] ezyang commented on #74540
Note that https://github.com/pytorch/pytorch/issues/32867#issuecomment-1075410677 means that not all strides are valid; the innermost dimension must be kept contiguous

[2022-03-22 17:19] wayi1 opened #74556 "[Reliability Improvement] Record the step # in the optimizer state of PostLocalSGDOptimizer"
### 🚀 The feature, motivation and pitch

**Context:**
[PostLocalSGDOptimizer](https://github.com/pytorch/pytorch/blob/8b0847811501cd452b131b6153f28c254a3ee44f/torch/distributed/optim/post_localSGD_optimizer.py#L5) can have a non-trivial warm-up stage. E.g., a training may take 30 epochs, and the warmup stage may take 3-5 epochs.

**Issue:**
If the training process is not very reliable and may fail

[2022-03-22 17:20] vadimkantorov commented on #32867
Would be nice to have the most basic functions: compress booltensor into bittensor and decompress. A pilot case could be saving the dropout mask as bittensor for memory saving

[2022-03-22 17:32] amin-nejad commented on #58030
Thank you, I've created a PR

[2022-03-22 17:34] atalman commented on #74102
I think to start with we can start fetching conda and wheels package information for particular version:
Here is example for conda:
Nightly
conda search "pytorch-nightly::*[name=pytorch version=1.12.*]" --json
and
Pytorch-Test
conda search "pytorch-test::*[name=pytorch, version=1.11.0]" --json

I suggest we start with simple script to execute on mac or devserver in builder/analytics

[2022-03-22 17:35] davidberard98 opened #74559 "Improve NVFuser fallback performance"
NVFuser fallbacks are slow.

For example, on autogen-69 from https://github.com/pytorch/benchmark/pull/801, we have roughly (for V100):
* 0.588 ms for eager
* 0.436 ms for nnc static
* 0.742 ms for nnc dynamic
* 33.6 ms for nvfuser, which encounters an error and hits a fallback

Part of this could be from caching the interpreter state / code as suggested below (to avoid costly graph copying and mo

[2022-03-22 17:41] vadimkantorov commented on #32867
it seems that 1-bit isn't supported here. it would correspond to `element_per_byte = 8`, right?

[2022-03-22 18:15] desertfire opened #74565 "Incorrect result: maml"
[code]

[2022-03-22 18:18] desertfire opened #74566 "Incorrect result: hf_Longformer"
[code]

[2022-03-22 18:45] lamhoangtung commented on #64932
This would be very useful. Are there any new update on this RFC @cbalioglu ?

[2022-03-22 18:52] wanchaol commented on #74323
we should follow the BC breaking guideline when changing one API.

[2022-03-22 19:04] #73688 closed

[2022-03-22 19:07] PaliC opened #74571 "[pkg] Automatically extern C++ dependencies"
### 🚀 The feature, motivation and pitch

[Torch.package ](https://pytorch.org/docs/stable/package.html) is a handy tool to serialize and deserialize python code. It works as you expect a packager to but with the added benefit of also saving the actual code itself when desired. It was primarily designed with the intention of being the delivery mechanism for [torch::deploy](https://github.com/pytorc

[2022-03-22 19:42] #74091 closed

[2022-03-22 19:54] albanD commented on #60548
We most likely want to solve this alongside https://github.com/pytorch/pytorch/issues/72948

[2022-03-22 20:44] janeyx99 commented on #74475
Flaky test bot https://github.com/pytorch/test-infra/issues/263

[2022-03-22 21:26] ngimel commented on #74540
Quantization pw support differs from eager a lot (e.g. they don't support arbitrary broadcast), and they typically offload to 3rd party library rather than rely on TI, so just enabling empty_strided won't solve this

[2022-03-22 22:02] vadimkantorov commented on #39853
Seems something may be off in HG testing at https://github.com/huggingface/transformers/issues/15397 ...

[2022-03-22 22:22] janeyx99 commented on #53275
This test doesn't seem to exist (at least by the same name) anymore. Closing for that reason, but feel free to re-open

[2022-03-22 22:22] #53275 closed

[2022-03-22 22:23] janeyx99 commented on #53268
Closing this issue as the test doesn't seem to exist in our codebase anymore. Please reopen if there needs to be further action.

[2022-03-22 22:23] #53268 closed

[2022-03-22 22:32] zikpefu commented on #74303
How hard would this be to implement? @jbschlosser Thanks!

[2022-03-22 22:35] janeyx99 commented on #67154
Added ROCm specific platform since this hsouldn't be flaky elsewhere

[2022-03-22 22:42] janeyx99 commented on #68189
Closing in favor of https://github.com/pytorch/pytorch/issues/68222

[2022-03-22 22:42] #68189 closed

[2022-03-22 22:50] lessw2020 opened #74588 "[FSDP] using CPUOffload creates 3-10x slowdown due to slow cpu optimizer step/update"
### 🐛 Describe the bug

Create simple distributed model
Wrapper model with FSDP.
Using stateful optimizer ala Adam(W) run without CPUoffload and profile/time.
Then run with CPUOffload and see that performance has dramatically gone down, from 3x-10x vs without CPUOffloading.

Inspect profiling trace and see that slowdown is the optimizer update step (thanks @mrshenli!) and not D2H:

<img width="104

[2022-03-22 23:00] atalman opened #74589 "Test test_ops_jit is taking too much time on ASAN"
### 🐛 Describe the bug

This is follow up on this issue [72368](https://github.com/pytorch/pytorch/issues/72368)
Refer to [HUD ASAN](https://hud.pytorch.org/ci/pytorch/pytorch/master?name_filter=asan)

The test_ops where broken into 3 files, test_ops.py test_ops_gradients.py and test_ops_jit.py
However test_ops_jit.py still take quite some time: Ran 901 tests in 9861.256s = 2Hrs 40min
Hence asan s

[2022-03-22 23:07] janeyx99 opened #74590 "[CTA] Let's Stamp Out Flaky Tests!"
We currently have over 100 disabled tests in pytorch/pytorch. This is very uncool! Every disabled test represents functionality that is currently broken or flaky and we should prioritize fixing these for our users. Some of these tests may be irrelevant now, and we should close those and remove them from the codebase entirely.

I've derived POCs from relevant modules and assignees. **Each POC shoul

[2022-03-22 23:44] #66228 closed

[2022-03-22 23:52] ezyang commented on #32867
Oops, you're right!

[2022-03-23 00:07] atalman commented on #74589
Reference to a log [here](https://www.internalfb.com/intern/everpaste/?handle=GEb3hRBVW1lsZPEBAPGdKZSBhQMxbsIXAAAz)

[2022-03-23 00:18] atalman commented on #74589
Simple solution could be to bring test_variant_consistency_jit_nn_functional_max_pool.* into its own test_ops_jit file ?

[2022-03-23 00:19] jdavidls commented on #31742
I miss `sparse_tensor.coalesce(eliminate_zeros=True)`.

[2022-03-23 00:20] atalman commented on #72368
Created new issue to refactor test_ops_jit here #74589

[2022-03-23 00:21] atalman commented on #72368
As per discussion, sharding is automated for asan.

[2022-03-23 00:53] davidberard98 commented on #74534
@wangyunxiaa, thanks for the report.

On the second invocation of the scripted function, NNC is probably fusing some of the ops to improve performance. You can read more about it [here](https://dev-discuss.pytorch.org/t/nnc-walkthrough-how-pytorch-ops-get-fused/125). During the first invocation information is recorded about the inputs; and on the second invocation the kernels will get fused by NNC

[2022-03-23 01:02] jiyoonlim123 opened #74593 "torch.nn.ConvTranspose2d's example in docstring is invalid"
### 🐛 Describe the bug

I think result dimension in example code in torch.nn.ConvTranspose2d is invalid.

[torch.nn.ConvTranspose2d's docstring](https://github.com/pytorch/pytorch/blob/6a664481d5c8f5d9f6ef6357c0d2192f090b4553/torch/nn/modules/conv.py#L845) is written like belows,
[code]

By the equation in the docstring, the dimension of output after upsample in the above examples should be [1, 16

[2022-03-23 01:10] BowenBao commented on #74142
@ganler Thanks for reporting, should be fixed by https://github.com/pytorch/pytorch/pull/74595.

[2022-03-23 01:11] ganler commented on #74142
@BowenBao Thank you so much!

[2022-03-23 02:32] wangyunxiaa commented on #74534
Thank you very much for your reply!
with `torch._C._jit_set_texpr_fuser_enabled(False)` all results are consistent.
the half mode got a little error,but it does not affect the final result.

[2022-03-23 02:47] wangyunxiaa commented on #74534
I also encountered a strange problem, after the model is converted to torchscript, it will require more GPU memory than ori python script, the torch script model using python API to do inference, and I have added `model.eval()   with torch.no_grad()` in forward function
when i add with torch.no_grad() before do inference I got an error in second time:
[code]
the error is
[code]

[2022-03-23 03:21] skye95git commented on #74454
@cpuhrsch I run the same example as yours and still get an error.

[code]

[2022-03-23 03:44] pytorch-bot[bot] opened #74598 "DISABLED test_multiple_dataloaders (__main__.TestDataLoader)"
Platforms:

This test was disabled because it is failing in CI. See [recent examples](http://torch-ci.com/failure/test_multiple_dataloaders%2C%20TestDataLoader) and the most recent trunk [workflow logs](https://github.com/pytorch/pytorch/actions/runs/2026000938).

Over the past 3 hours, it has been determined flaky in 1 workflow(s) with 1 red and 3 green.

cc @SsnL @VitalyFedyunin @ejguan @NivekT

[2022-03-23 03:54] jansel opened #93742 "Debug TorchScript error from fastNLP_Bert"
[code]

Later on there is the error (when jit.trace fails, it tries jit.script)
[code]

These sounds like just missing ops?  So perhaps easy to fix?  They prevent all TorchScript-based backends from working on these models.

@eellison do these look familar to you?

cc @ezyang @soumith @msaroufim @wconstab @ngimel @bdhirsh

[2022-03-23 05:38] lxhmark7 commented on #74016
same error

[2022-03-23 06:02] lxhmark7 commented on #74016
Pytorch1.11has same error, howerver you need to degrade pytorch version to 1.10!

[2022-03-23 06:06] 5had3z commented on #68258
Bump on this, I increased terminationGracePeriodSeconds on my k8s pods such that when they recieve a sigterm (if prempted by a higher priority job) they would sync checkpoints to remote storage before termination (to resume later when scheduleable) but now this is what kills my process without it finishing sync.

[2022-03-23 06:14] kurisusnowdeng opened #74602 "My_rank in the implementation of torch.distributed.scatter_object_list should be global"
### 🐛 Describe the bug

`scatter_object_list` should use the global rank of each device to check if it is the source rank as
[code]
instead the current [`my_rank`](https://github.com/pytorch/pytorch/blob/02ba0fa8e8bf4364b211b61670e221255e23e1f5/torch/distributed/distributed_c10d.py#L1962), which fails when the function is applied to a subgroup where the source has different local and global rank (

[2022-03-23 06:18] RalphMao commented on #56862
@volcacius I was thinking exactly the same functionality as you presented. May I know how it goes with the newer versions of fx?

[2022-03-23 06:40] davidberard98 commented on #74534
@wangyunxiaa could you try running with the environment variable `TORCH_SHOW_CPP_STACKTRACES=1` and dump the output ?

e.g.
[code]

(and if you have an easy repro that you can share that would be great as well)

[2022-03-23 08:36] hfassold opened #74604 "Training, Forward / backward pass of tensors with _different_ batch-size, no speedup when backward pass has smaller batch-size"
### 🚀 The feature, motivation and pitch

Currently, it seems that in training the Pytorch autograd engine is 'optimized' only for the case where the forward and backward pass are done with tensors with identical batch-size (= last dimension of tensor). If the backward propagation operates on a tensor corresponding to a _smaller_ batch size (e.g. because some samples have been discarded from the ba

[2022-03-23 09:30] Haijunlv commented on #74157
i have build all dependencies.
pytorch master branch 02ba0fa8e8bf4364b211b61670e221255e23e1f5 from source
using `export CMAKE_PREFIX_PATH=${CONDA_PREFIX:-"$(dirname $(which conda))/../"}
python setup.py develop`
https://github.com/pytorch/vision vision master branch b29c5537480e9ce0c3b7a36719719c4cca8027fc from source
using
`python setup.py install`

and then i tried to directly run  `python test/

[2022-03-23 09:45] XiaobingSuper opened #74605 "torch.profiler.profile does't work well for CPU model"
### 🐛 Describe the bug

According to https://pytorch.org/docs/stable/profiler.html, there has **torch.profiler.schedule** method when using **torch.profiler.profile** to profiling a model,  when I profile  a quantized resnet50 model on CPU device, I find that there has a different behavior when using **torch.profiler.schedule** or not :

1.  using **torch.profiler.schedule**:
[code]
2. not using *

[2022-03-23 10:10] yangrisheng opened #74609 "why don't pytorch website have the version 1.10 with the corresponding cuda version and torchvision version?"
### 📚 The doc issue

why don't pytorch website have the version 1.10 with the corresponding cuda version and torchvision version?

### Suggest a potential alternative/fix

_No response_

cc @ezyang @gchanan @zou3519 @seemethere @malfet @brianjo @mruberry

[2022-03-23 12:20] cbalioglu commented on #64932
Hi @lamhoangtung, it is still on our roadmap, but we don't have an exact ETA yet. Do you have a particular use case in your mind?

[2022-03-23 12:41] hofingermarkus commented on #36108
Having a dedicated `flow_sample` operation is not just a cosmetic change.
It can also have an impact on precision, however this only becomes relevant for large images and/or memory saving numerical data types.

For example:
Assume all pixels of a 4k Image move to by 1.05 pixel to the right.
While the optical flow ist 1.05 everywhere, the coordinates are [0...3829] -> 1.05, 2.05,...., 3831.05.
Form

[2022-03-23 12:57] albanD commented on #65884
@jeffdaily any update on this? Is now a good time to try and re-enable this?

[2022-03-23 13:07] kangleXU commented on #74454
ｅｘｃｕｓｅ　ｍｅ！ｈｏｗ　ｔｏ　ｓｌｏｖｅ　ｔｈｉｓ　ｐｒｏｂｌｅｍ？　ｉ　ｎｅｅｄ　ｉｔ．　ｃｏｕｌｄ　ｙｏｕ　ｈｅｌｐ　ｍｅ？　

[2022-03-23 13:08] kangleXU commented on #74454
Python 3.7.0 (default, Oct  9 2018, 10:31:47)
[GCC 7.3.0] :: Anaconda, Inc. on linux
Type "help", "copyright", "credits" or "license" for more information.

'1.9.0+cu102'

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
AttributeError: 'Tensor' object has no attribute 'to_sparse_csr'

'1.9.0+cu102'

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
A

[2022-03-23 13:17] kangleXU commented on #74454
Can you share your installation environment

[2022-03-23 13:18] albanD commented on #74433
This is expected. You are looking at the source code there. The actual doc is rendering properly: https://pytorch.org/docs/stable/generated/torch.optim.SGD.html?highlight=sgd#torch.optim.SGD

[2022-03-23 13:20] jbschlosser commented on #74303
Extremely easy - just add a message to the error thrown here:
https://github.com/pytorch/pytorch/blob/a15f78347b0a4a3aed6d1da4b018194407feb640/torch/nn/modules/module.py#L190-L201

[2022-03-23 13:33] volcacius commented on #56862
I haven't had a chance to look at that yet sorry.

[2022-03-23 14:41] zikpefu commented on #74303
Ok sounds good, I'll do this as soon as I can. Thanks!

[2022-03-23 14:53] jeffdaily commented on #65884
We would like to re-enable once our CI images have moved to ROCm 5.0.  Waiting for #73105 to land.

[2022-03-23 15:21] cpuhrsch commented on #73145
@pearu - could you take another look?

[2022-03-23 15:22] cpuhrsch commented on #73173
@pearu - could you take a look?

[2022-03-23 15:23] cpuhrsch commented on #31742
@jdavidls - what do you need it for?

[2022-03-23 15:28] zou3519 opened #74616 "__rpow__(self, other) OpInfo should not test the case where `other` is a Tensor"
### 🐛 Describe the bug

After https://github.com/pytorch/pytorch/pull/74280 (cc @mruberry), the `__rpow__` OpInfo has a sample input where `other` is a Tensor. This cannot happen during normal execution: to get to `Tensor.__rpow__` a user does the following:

[code]
If instead `not_a_tensor` is a Tensor, this ends up calling `__pow__` in Python which will then handle the case.

Are there any legit

[2022-03-23 15:38] cpuhrsch commented on #74454
@kangleXU - I installed the recent stable version of PyTorch. You can find instructions for this on https://pytorch.org/get-started/locally/

[code]

@skye95git @kangleXU - you need to upgrade your version of PyTorch. See the instructions on https://pytorch.org/get-started/locally/

[2022-03-23 15:54] dhruvbird commented on #74433
Thanks for the clarification @albanD! Closing!

[2022-03-23 15:54] #74433 closed

[2022-03-23 15:58] IvanYashchuk commented on #53184
"square_many_batched" was part of old generated tests and tested input of shape `(3, 2, 5, 5)`:
https://github.com/pytorch/pytorch/blob/e0495a7aa104471d95dc85a1b8f6473fbcc427a8/torch/testing/_internal/common_methods_invocations.py#L3055

Currently tests for `torch.linalg.qr` are generated using OpInfo and there are batched inputs generated in sample_inputs function:
https://github.com/pytorch/pyto

[2022-03-23 15:58] #53184 closed

[2022-03-23 16:02] janeyx99 commented on #67447
Closing as should be fixed by https://github.com/pytorch/pytorch/pull/74427

[2022-03-23 16:02] #67447 closed

[2022-03-23 16:16] skye95git commented on #74454
@cpuhrsch  In your first example, Pytorch1.9.0 also worked:

'1.9.0.dev20210604+cu102'

tensor(crow_indices=tensor([ 0,  4,  8, 12]),
       col_indices=tensor([0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3]),
       values=tensor([-0.7893,  0.8407,  0.2799, -0.3178, -1.2889, -1.4795,
                      -0.7178,  1.3014,  0.1702,  0.1378,  0.8728, -0.0828]),
       size=(3, 4), nnz=12, layout=torch.sparse

[2022-03-23 16:35] b0noI opened #74618 "CI is experiencing elevated amount of errors due to outage of GitHub"
Root cause: GitHub Actions is experiencing degraded performance.

Status: https://www.githubstatus.com/incidents/tyc8wpsgr2r8

cc @ezyang @gchanan @zou3519

[2022-03-23 16:36] b0noI commented on #74618
Please be aware that this will impact landing time for your PRs

[2022-03-23 16:44] cpuhrsch commented on #74454
@skye95git - it's worth a try. What prevents you from updating?

[2022-03-23 16:47] jbschlosser commented on #74303
No need to be assigned - anyone is free to work on whatever they choose :) I'll be out for surgery but @albanD can review the change for you.

[2022-03-23 16:53] malfet commented on #74618
Unassigning myself (as I'm not sure I can be of any help here)
@b0noI also, can you please edit issue description to follow pattern outlined in https://github.com/pytorch/pytorch/blob/master/.github/ISSUE_TEMPLATE/ci-sev.md

[2022-03-23 17:04] atalman opened #74620 "Improve sharding algorithm for ASAN (any maybe other jobs as well)"
### 🐛 Describe the bug

Doing a research for this issue #72368 I found that  we run sharding algorithm for each of the shard separately. We retreive same data and run same commit then based on the number of current shard and total shard we assign the worker with the test jobs to execute.

The algorithm retrieves a commit from day ago here:
[get_previous_reports_for_branch](https://github.com/pytor

[2022-03-23 17:09] atalman commented on #72368
Created issue describing improvement need to be done for sharding algorithm to improve its reliability: https://github.com/pytorch/pytorch/issues/74620

Closing this issue, with the two followups created #74620 and #4589

[2022-03-23 17:09] #72368 closed

[2022-03-23 17:37] Linux-cpp-lisp opened #74622 "`torch.jit.set_fusion_strategy` doesn't check for valid inputs"
### 🐛 Describe the bug

Basic repro:
[code]
Looks like there is something wrong with the assert here: https://github.com/pytorch/pytorch/blob/v1.11.0/torch/csrc/jit/python/init.cpp#L775. As a result, the strategies just get set to nothing.

Relatedly, it would be nice if it was documented in [the Python docs here](https://github.com/pytorch/pytorch/blob/39470387cf17896cf38f3e04b5b81d4647734275/tor

[2022-03-23 17:44] b0noI commented on #74618
GitHub Actions outage has been resolved, closing this bug

[2022-03-23 17:44] #74618 closed

[2022-03-23 17:47] #74622 closed

[2022-03-23 18:07] VitalyFedyunin commented on #73902
As far is I remember we do not overload and drop any native [multiprocessing](https://docs.python.org/3/library/multiprocessing.html#module-multiprocessing) arguments and `kwargs = {}` should work just fine.

[2022-03-23 18:07] #73902 closed

[2022-03-23 18:10] VitalyFedyunin commented on #74590
Lots of DataLoader related tests are failing due to the lack of shared memory, who should be the POC to reconfigure CI?

[2022-03-23 18:18] malfet commented on #74547
Have a repro with torch-1.11.0, but backtrace is really strange:
[code]

[2022-03-23 18:26] Linux-cpp-lisp commented on #74622
Hi @eellison ,

Oh perfect, thanks— figured it was a missed `false` in there.

Thanks!

[2022-03-23 18:28] #42044 closed

[2022-03-23 18:39] VitalyFedyunin commented on #72782
Can you please check avaible shared memory and try to increase limit: https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/5/html/tuning_and_optimizing_red_hat_enterprise_linux_for_oracle_9i_and_10g_databases/chap-oracle_9i_and_10g_tuning_guide-setting_shared_memory

Also you can check shared memory usage with `df -h` (look for `shm` device)

[2022-03-23 18:46] zou3519 opened #74624 "torch.utils._pytree should support torch.return_types"
### 🚀 The feature, motivation and pitch

See title. This functionality exists in functorch already, we just need to upstream it.

### Alternatives

_No response_

### Additional context

_No response_

cc @zou3519

[2022-03-23 18:48] Tuxius opened #74625 "RuntimeError: "slow_conv2d_cpu" not implemented for 'Half'"
### 🐛 Describe the bug

Trying to run the new Aleph-Alpha/magma ([https://github.com/Aleph-Alpha/magma](url)) I run into a Pytorch Bug / missing implementation. It seems that some torch operations which work on the GPU on half precision are not implemented on CPU. I did discuss this issue with Aleph-Alpha/magma devloper @[Mayukhdeb](https://github.com/Mayukhdeb) here: [https://github.com/Aleph-Alp

[2022-03-23 18:50] alanhdu opened #74626 "torch.jit.Attribute does not work as advertised"
### 🐛 Describe the bug

Currently, the [docs](https://pytorch.org/docs/stable/generated/torch.jit.Attribute.html) say that `torch.jit.Attribute` is a pass-through function with no effect in eager evaluation mode. Unfortunately, this does not seem to be the case -- if I try to run the code linked in the example:

[code]

I get the following error:

[code]

I'm not sure if this is an implementation

[2022-03-23 18:54] yaozhewei opened #74627 "Lower INT format support"
### 🚀 The feature, motivation and pitch

Currently, pytorch officially supports INT8 format. However, recently, the newer GPUs (like T4/A100) already supports INT4 tensorcore. Meanwhile, from machine learning community, binary/ternary/int4 algorithms are well developed. It is the time to support lower INT format to connect research to product by Pytorch. I collaborated with Huggingface and Hugging

[2022-03-23 18:56] henrytwo opened #74628 "Decouple LTC from TS backend"
### 🚀 The feature, motivation and pitch

Currently, there are a few instances where components from the TorchScript LTC backend are used for infrastructure that should be backend agnostic. For example, [`LazyTensor::CreateTensorNode`](https://github.com/pytorch/pytorch/blob/master/torch/csrc/lazy/core/tensor.cpp#L426) relies on `DeviceData`, which is a class based on `TsNode`. This causes some iss

[2022-03-23 18:58] VitalyFedyunin commented on #40403
@[chh7411898](https://github.com/chh7411898) You probably initialize some structures before the training loop. It is very hard to tell what is going on exactly without seeing all code. In short - make sure there is no tensors created before calling DataLoader.

[2022-03-23 19:06] ngimel commented on #74625
No, we won't be implementing this with CPU. CPU does not support efficient computations with half datatype, and therefore half datatype support on cpu is limited and shouldn't be relied upon.

[2022-03-23 19:07] ptrblck commented on #58123
@illtellyoulater let me try to re-verify the fix and try to reproduce your issue to see if you are running into the same or a new issue. I'll ping you in the linked issue in case I need help in reproducing it.

[2022-03-23 19:08] VitalyFedyunin commented on #67844
Please try to use pytorch 1.11 it has better error messaging which will help to diagnose the problem.

[2022-03-23 19:18] antoniojkim commented on #74628
I think a solution here might be to create an intermediary `Node` subclass (called `LtcNode` or something) that `TsNode` can inherit from as much of the functionality in `TsNode` itself I don't think is TS specific. Besides the `Lower` function, I don't see anything else that is TS specific and could probably be used in any other custom backend as well.

This is further supported by the fact that

[2022-03-23 19:24] VitalyFedyunin commented on #73427
You could probably try CUDA=0 as a build parameter too. I just gave you the easiest option.

[2022-03-23 19:36] VitalyFedyunin commented on #73153
Hi! You can also try with PyTorch 1.11 it has some related fixes. I will close this issue for now, but feel free to reopen if you have new stack traces.

[2022-03-23 19:36] #73153 closed

[2022-03-23 19:39] VitalyFedyunin commented on #934
We are reworking DataLoader right now to avoid this issue as well.

[2022-03-23 19:52] janeyx99 commented on #74590
@seemethere would you know how to set up more shared memory in our runners?

[2022-03-23 19:53] vadimkantorov commented on #32867
Related: https://github.com/pytorch/pytorch/issues/74627

[2022-03-23 20:04] SherlockNoMad opened #74630 "Add log_ndtr (reserved for @krshrimali)"

[2022-03-23 20:05] #74630 closed

[2022-03-23 20:05] jbschlosser commented on #74612
Thanks for the report, @cloneniu! We'd accept a PR expanding the supported shapes listed in the `nn.Transformer` documentation:
* `src_mask` - supports shape `(S, S)` or `(N * num_heads, S, S)`
* `tgt_mask` - supports shape `(T, T)` or `(N * num_heads, T, T)`

[2022-03-23 20:22] stevenwalton opened #74634 "Sampling Issue With Distributions"
### 🐛 Describe the bug

There's some inconsistencies when sampling from distributions using different floating point precision levels. Here's some example code that reproduces the effect. I'll sample `100000000` times, but any large number will work.

[code]
The thing to note here is that every time you run the `double` version you always get the result `tensor(0)`. Running `float` you get some 0'

[2022-03-23 20:26] VitalyFedyunin commented on #71092
Feel free to reopen issue if error appears in pytorch >= 1.11

[2022-03-23 20:26] #71092 closed

[2022-03-23 20:29] nkaretnikov commented on #73187
i've pushed a pr that adds checks everywhere to mitigate the crash. let's discuss/review this one first, will do the docs changes and deprecation warnings after that

https://github.com/pytorch/pytorch/pull/74635

[2022-03-23 20:31] thiagocrepaldi commented on #72494
@borisfom TL;DR Working by design, fix is changing opset to 15

The long explanation is that the `BatchNormalization` spec for ONNX opset 14 has the following signature:
![image](https://user-images.githubusercontent.com/5469809/159789376-08d61dba-3101-4c8f-8548-24f120c7b238.png)
Note that input, weight (scale) and bias *must* have the same type `T`. In your repro, `X` (aka ` input`) is fp16 while

[2022-03-23 20:38] #69761 closed

[2022-03-23 20:39] VitalyFedyunin commented on #47055
Unlikely we will contribute any code to solve this problem for current DataSets as we are putting out resources now to work on torchdata / DataPipes.

[2022-03-23 20:40] VitalyFedyunin commented on #70402
Closing issue. Feel free to reopen it if you have any followups.

[2022-03-23 20:40] #70402 closed

[2022-03-23 20:42] #70536 closed

[2022-03-23 20:42] thiagocrepaldi commented on #72494
If you still have an issue, please reopen it

[2022-03-23 20:56] stas00 commented on #74627
For more context please see [Mixture-of-Quantization: A novel quantization approach for reducing model size with minimal accuracy impact](https://www.deepspeed.ai/2021/05/04/MoQ.html).

So currently with only `int8` supported by pytorch, that's as low as we can go when quantizing the model. But if `int4` were to be available a further halving of the model size would be possible.

And thank you!

[2022-03-23 20:58] robieta commented on #74605
CC @briancoutinho It looks like the step function added in https://github.com/pytorch/pytorch/pull/72292 is very expensive. Can you take a look?

[2022-03-23 21:02] henrytwo commented on #74628
Another example of an instance where a TS specific node is created: https://github.com/pytorch/pytorch/blob/master/torch/csrc/lazy/core/lazy_view.cpp#L43

`Permute` is a direct subclass of `TsNode`

[2022-03-23 21:09] antoniojkim commented on #74628
In fact, it looks like most (if not all) of the view ops are subclasses of `TsNode`

[2022-03-23 21:38] zou3519 opened #74642 "Some easy way to add xfails to OpInfos"
### 🚀 The feature, motivation and pitch

You write a new OpInfo-based test. The test output shows 100 failed tests. How long does it take you to add the expected failures to common_method_invocations?

Answer: half an hour to an hour.

## Pitch

There are a couple of ways we could make this experience nicer. The first is add some sort of "ADD_XFAILS" flag that, when turned on, automagically adds x

[2022-03-23 22:58] rohan-varma commented on #74157
@Haijunlv to run a single test in `distributed_test.py`, please check https://github.com/pytorch/pytorch/blob/master/torch/distributed/CONTRIBUTING.md. In particular, this comment is relevant:

# Run a single test in the test_distributed_spawn test suite.
touch /tmp/barrier && TEMP_DIR="/tmp" BACKEND="nccl" WORLD_SIZE="2" python test/distributed/test_distributed_spawn.py -v TestDistBackendWithSpaw

[2022-03-23 23:19] mhillebrand commented on #52142
@mschnepf You're a life saver! I [disabled IOMMU](https://community.amd.com/t5/knowledge-base/iommu-advisory-for-multi-gpu-environments/ta-p/477468), and now my AMD Threadripper and 4xA6000 GPUs work quite nicely together.

[2022-03-23 23:33] #73933 closed

[2022-03-23 23:50] #74142 closed

[2022-03-23 23:51] manbehindthemadness commented on #69894
I can confirm that this is still a problem, I am experiencing the same issue.

[2022-03-24 00:16] bdhirsh commented on #73537
I tried using Alban/Richard's fix https://github.com/pytorch/pytorch/pull/74577 locally on top of my "make functionalization subclass-friendly" patch (https://github.com/pytorch/pytorch/pull/73441), and it looks like things work out pretty well.

I wrote a test with 2 layers of wrapping, where the outer wrapper is a "logging tensor that replaces out-of-place calls with inplace calls", and the inne

[2022-03-24 02:08] kangleXU commented on #74454
@cpuhrsch --Thank you very much!   I made it  Need to update PyTorch to 1.11.0

[2022-03-24 02:13] guoyejun commented on #73427
@VitalyFedyunin thank you, the easiest option is what I want.  I tried CUDA=0 but it does not work, anything I missed? thanks.

[code]

[2022-03-24 02:41] #65571 closed

[2022-03-24 02:41] #67244 closed

[2022-03-24 02:42] #65638 closed

[2022-03-24 02:42] #72092 closed

[2022-03-24 02:56] XiaobingSuper commented on #74605
Please also help see why the collected time is less when using profiler with not using **torch.profiler.schedule**.

[2022-03-24 03:34] PistonY opened #74661 "Support channel first(or any dim) LayerNorm"
### 🚀 The feature, motivation and pitch

LayerNorm is widely used in Transformer and recently some CNN model(or Transformer + CNN model)  is trying to use this. But CNN has [B, C, H, W] output, that can not use LayerNorm which only support norm last N channel.

### Alternatives

Support specific dim of mean, not last N dim.

### Additional context

_No response_

[2022-03-24 03:52] HaloKim commented on #1204
This problem can occur from the number of labels difference between model_init and model.

[2022-03-24 03:59] ConnollyLeon commented on #69610
[code]

I tried to use this code to generate the complete computation graph, and here is the forward computation graph of AlexNet.
It looks awesome, but it doesn't capture the attributes like shape of the weights.

Any suggestions on how to capture these attributes while using functorch?

![forward](https://user-images.githubusercontent.com/31810583/159839211-1e18d5de-8e75-4b5a-abdf-b42da6420793.s

[2022-03-24 04:51] LiuXiaoxuanPKU commented on #64729
Hi! Thanks for the reply! I am still confused about the order here:

[2022-03-24 05:08] LiuXiaoxuanPKU commented on #64729
Hi! Thanks for the reply! I am still confused about the order here:
(1) yes, I understand that the computation of `layer1` subsumes that of `pack1`, but is `pack1` a synchronous call? i.e. before we "enter" layer 2, PyTorch already finishes calling `pack1` (if `pack1` includes GPU operations, it has already pushed the kernel launch task to the GPU task queue).
(2) what's the behavior for inplace o

[2022-03-24 05:38] rohan-varma commented on #38491
@pritamdamania87 Does the distributed team own the test in question?

[2022-03-24 05:56] hubertlu-tw opened #74666 "Re-initializing torch.distributed process_group hangs with destroy_process_group"
### 🐛 Describe the bug

The hang behavior is observed when re-initializing process_group after "torch.distributed.destroy_process_group()" on both ROCm and CUDA systems. The issue can be reproduced by the following toy model with the current PyTorch 1.11. However, it works for PyTorch 1.8.

[code]

### Versions

Versions
PyTorch v1.11
OS: ubuntu18.04
Python version: 3.7

cc: @jithunnair-amd @pprth

[2022-03-24 06:27] chenxygh commented on #19739
Thanks a lot! It works for me!

[2022-03-24 08:01] lapp0 commented on #67978
I get this error using 4 of the same GPU: `p3.8xlarge` on ec2, which is 4 Tesla V100 GPUs.

CUDA 11.3, pytorch 1.10.

[2022-03-24 08:52] lamhoangtung commented on #69009
I'm also having this same problem ;(

[2022-03-24 09:15] mrhe13 commented on #36061
@ppwwyyxx I recently trained a speech enhancement model and plan to deploy it to C++, but when converting to torchscript, this problem also occurred. Is there any effective solution now?
`getattr's second argument must be a string literal:
  File "E:\service\pytorch-project - 副本 (2)\project\aia_trans.py", line 310
        for i in range(self.depth):
            #out = getattr(self, 'pad{}'.format(

[2022-03-24 09:16] mrhe13 commented on #36061
@ppwwyyxx I recently trained a speech enhancement model and plan to deploy it to C++, but when converting to torchscript, this problem also occurred. Is there any effective solution now?
'''
getattr's second argument must be a string literal:
  File "E:\service\pytorch-project - 副本 (2)\project\aia_trans.py", line 310
        for i in range(self.depth):
            #out = getattr(self, 'pad{}'.form

[2022-03-24 09:52] Joseph-Winkle commented on #74016
I got exactly the same error when I was running the command below:
 ' python train.py --img 640 --batch 16 --epochs 3 --data coco128.yaml --weights yolov5s.pt'
waiting for new feedback

[2022-03-24 10:07] lamhoangtung commented on #64932
Sure. I do!

I'm working on a pretty complex Python real time video processing pipeline that involve multiple machine learning model inferences, analytics simultaneously.

Thanks for NVIDIA Video Processing Frameworks and TorchScript, I had built a pretty efficient end to end GPU pipeline for ours use-cases. Since the whole code base was written mostly in Python, I encounter the GIL very frequentl

[2022-03-24 10:26] jiwidi opened #74669 "String dtypes for torch Tensors"
### 🚀 The feature, motivation and pitch

To support strings as a dtype on torch tensors, similarily to how [TensorFlow](https://www.tensorflow.org/api_docs/python/tf/strings) does it. This will enrich the torch ecosystem and shouldn't mess with the previous dtypes.

Right now there are many cases where strings are used in DL models and torch lack of support has resulted in some weird workarounds.

[2022-03-24 11:05] mjack3 opened #74670 "Can't install Pytorch"
### 🐛 Describe the bug

I can't install either torch and torchvision.

Commands:
[code]
throws next error
[code]

### Versions

using pip 22.0.4

[2022-03-24 13:29] vadimkantorov commented on #74661
related: https://github.com/pytorch/pytorch/issues/51455, https://github.com/pytorch/pytorch/issues/52143,

[2022-03-24 13:41] theophilee commented on #74487
@ngimel It seems like you've worked on similar issues before

[2022-03-24 13:56] vadimkantorov commented on #74661
duplicate of https://github.com/pytorch/pytorch/issues/71465?

[2022-03-24 14:01] jisaacso commented on #58833
cc @mikaylagawarecki

[2022-03-24 14:47] memray commented on #67978
Similar errors with 4/8 A100 GPUs. Installed packages:
- NVIDIA-SMI 450.119.04   Driver Version: 450.119.04   CUDA Version: 11.0
- PyTorch 1.7.1+cu110
- Apex  0.1
- torch.cuda.nccl.version()=2708

`
terminate called after throwing an instance of 'c10::Error'
  what():  CUDA error: unspecified launch failure
Exception raised from create_event_internal at /pytorch/c10/cuda/CUDACachingAllocator.cpp:6

[2022-03-24 14:48] zou3519 opened #74678 "Composite Compliance testing for forward-mode AD formulas"
At some point (aka now) we'll want to use Tensor subclasses (and functorch) with existing forward-mode AD formulas. We should add tests that these are composite compliant.

https://github.com/pytorch/pytorch/pull/74646 is an example of how we got this to work on reverse-mode AD formulas.

For more context: https://github.com/pytorch/pytorch/issues/69991

[2022-03-24 14:55] #72281 closed

[2022-03-24 15:06] xiaoyu-work opened #74681 "Does stable 1.11.0 version support rocm 4.2?"
### 🚀 The feature, motivation and pitch

From https://pytorch.org/get-started/locally/, it says Pytorch stable 1.11.0 supports ROCM 4.2. But I couldn't find a 1.11.0 Linux x86_64 wheel in https://download.pytorch.org/whl/rocm4.2/torch_stable.html. Does stable 1.11.0 version support ROCM 4.2?

### Alternatives

_No response_

### Additional context

_No response_

cc @jeffdaily @sunway513 @jithunna

[2022-03-24 15:17] cirquit commented on #74139
It may be very obvious, but just a note to others who find this issue.

The current workaround without compiling yourself is to use the nightly release.
The example `requirements.txt` file should look as follows (version 24 March '22) if you run CUDA 11.3:

[code]
Adapt the URL depending on your specific CUDA version.

[2022-03-24 15:23] bhbbbbb opened #74682 "doc issue in AUTOGRAD MECHANICS"
### 📚 The doc issue

In the section **Evaluation Mode** (`nn.Module.eval()`)

https://pytorch.org/docs/stable/notes/autograd.html#evaluation-mode-nn-module-eval

Should be `module.train(False)`

### Suggest a potential alternative/fix

Functionally, `module.eval()` (or equivalently `module.train(False)`) are completely orthogonal to no-grad mode and inference mode.

cc @brianjo @mruberry

[2022-03-24 15:27] b0noI opened #74684 "test linux-docs / build-docs (python) is broken"
### 🐛 Describe the bug

CI test linux-docs / build-docs (python)  is currently broken:

[code]

failure: https://github.com/pytorch/pytorch/runs/5678126229?check_suite_focus=true#step:7:1152

### Versions

master

[2022-03-24 15:27] b0noI commented on #74684
looks like not related to changes, original PR is green: https://github.com/pytorch/pytorch/runs/5668908812?check_suite_focus=true

however same commit is red on master, most likely dependencies that are not pined: https://github.com/pytorch/pytorch/runs/5678126229?check_suite_focus=true#step:7:1152

[2022-03-24 15:35] pearu commented on #31742
Btw, here is a method to eliminate existing zeros (requires the current main branch):
[code]

Example:
[code]

[2022-03-24 16:03] cpuhrsch commented on #31742
@pearu - but that's all private functionality which we don't expose to the public

[2022-03-24 16:04] malfet commented on #74684
Both Python and CPP docs are broken at the moment

[2022-03-24 16:10] GanyuWang opened #74687 "SSL: CERTIFICATE_VERIFY_FAILED when trying to download EMNIST from torchvision."
### 🐛 Describe the bug

2022/3/23 around 10 pm.

I am trying to download the EMNIST using torch vision. Certificate expired.

training_set = torchvision.datasets.EMNIST('./data', split="byclass", train=True, download=True)

The error raise.
    raise URLError(err)
urllib.error.URLError: <urlopen error [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: certificate has expired (_ssl.c:1131)

[2022-03-24 16:10] mloubout opened #74688 "Gradient doesn't satisfy Taylor expansion"
### 🐛 Describe the bug

I wanted to verify my code because I was obtaining some odd results so I decided to verify the gradient of a given layer is accurate. While pytorch has an internal check based on FD, my goto check for any gradient (ML or not) is to verify the linearization error. Is created a small script to verify the gradient for a simple singe Linear layer and unfortunately the gradient

[2022-03-24 16:18] Fitz13009 opened #74689 "torch.combinations raises a warning casued by torch.meshgrid"
### 🐛 Describe the bug

Hi,

I am using torch.combinations and get a warning internally raised by the torch.meshgrid.
But I did not explicitly call this meshgrid myself, so I do not know how to make this warning silent.

If this is an expected behaviour, please simply close this issue.

repeat:
`torch.combinations(torch.Tensor([1,2,3,4]), 2)`

### Versions

Pytorch 1.10
cuda 10.2

cc @ezyang @gcha

[2022-03-24 16:40] Logigo opened #74692 "Optional[int] argument to RandomSampler is not optional"
https://github.com/pytorch/pytorch/blob/9270bccaf67022042f42b57b97c7b630b1e05750/torch/utils/data/sampler.py#L86

The optional argument 'num_samples' to the RandomSampler class is listed as type Optional[int], but it is not optional, as an exception is raised if an int is not passed in:

https://github.com/pytorch/pytorch/blob/9270bccaf67022042f42b57b97c7b630b1e05750/torch/utils/data/sampler.py#L9

[2022-03-24 16:40] gchanan commented on #74669
That's a separate issue right?  The original request is to support string data, the quoted request is to support string specifications of the dtype object.

[2022-03-24 16:41] pearu commented on #31742
Yes, indeed. My example may be useful only for defining/testing the semantics of `eliminate_zeros`. For instance, the implementation in https://github.com/pytorch/pytorch/issues/31742#issuecomment-570046628 is broken because it determines the mask using uncoaleased data. For example, if the uncoalesced data contains values 1 and -1 for the same index, the corresponding element is not eliminated an

[2022-03-24 16:41] malfet opened #74693 "CI jobs are not scheduled due to GHA issues"
## Current Status
*mitigated*

## Error looks like
Tests are not getting scheduled on the workflows

## Incident timeline (all times pacific)
*Include when the incident began, when it was detected, mitigated, root caused, and finally closed.*

<details>
<summary> Yet another GitHubActions outage </summary>

e.g.
- 3/24 9:09a detected by @cpuhrsch

</details>

## User impact
No testing is done on m

[2022-03-24 16:47] ngimel commented on #74642
The goal with OpInfos is to have test coverage, and not to skip everything until the tests are green, so I don't think we should have a goal of making it easier to add the skip. Normally, you'd want to look at what is failing, and do at least some cursory investigation of what's going wrong, and file the issues for real things that are failing. Providing a way of just stamping out failing tests wi

[2022-03-24 16:57] ngimel commented on #74661
Closing as a duplicate

[2022-03-24 16:57] #74661 closed

[2022-03-24 16:58] briancoutinho commented on #74605
Hi @XiaobingSuper,

At the high level 'ProfilerStep' is an additional annotation that marks start and end of an iteration. It actually gets added when you the `p.step()`. If you save a trace you will see these high level events : "ProfilerStep1", "ProfilerStep2" etc and all the resnet CPU functions underneath it. It is basically a handy marker so we know what is an iteration in the profile.

So, i

[2022-03-24 17:22] ejguan commented on #74590
A few DataLoader tests should be enabled after a few changes landed. IIUC, there should be an automatic way to re-enable the disabled tests. Should I directly close these issues to re-enable them?

[2022-03-24 18:04] awgu opened #74694 "[FSDP][BE] Update `state_dict_type` documentation"
Update these comments to use the static method form of `state_dict_type()`.

https://github.com/pytorch/pytorch/blob/23383b1e9fd8d3ad1e3176b546324466e7849801/torch/distributed/fsdp/fully_sharded_data_parallel.py#L842
https://github.com/pytorch/pytorch/blob/23383b1e9fd8d3ad1e3176b546324466e7849801/torch/distributed/fsdp/fully_sharded_data_parallel.py#L966
https://github.com/pytorch/pytorch/blob/233

[2022-03-24 18:25] zou3519 commented on #74642
I think there's a difference depending on the audience of OpInfos. We have basic users who we want to prevent from shooting themselves in the foot. Then we have power users who these tools could save hours for.

I agree that people shouldn't be doing this blindly. However, I write a lot of OpInfo tests and everytime I write a new test, I *do* inspect the 100s of test failures and determine that sk

[2022-03-24 18:30] #34213 closed

[2022-03-24 18:50] rvandeghen commented on #72782
@VitalyFedyunin I ran the code above where I print the shared memory at every iteration and it remains constant and way below the limit.

[2022-03-24 19:02] neerajprad commented on #74634
@ezyang, @ngimel, @ailzhang: This seems like an asymmetry caused due to a precision issue in `torch.normal`, could you add the right PoC for this? cc. @fritzo

[2022-03-24 19:34] zou3519 commented on #74143
cc @cbalioglu -- is this similar to the Large Model Materialization you are working on? Also cc @ezyang and @mrshenli who I think have mentioned something like this to me before

[2022-03-24 19:45] zou3519 commented on #72129
Did the fix make it to PyTorch 1.11?

[2022-03-24 19:51] #73682 closed

[2022-03-24 20:21] fritzo commented on #74634
@stevenwalton Can you clarify the behavior you expect here?  I would expect the upper behavior you observe. The event `== 0.` is formally zero-probability, but will have positive probability when using finite precision arithmetic. The width of the bin around zero will naturally depend on precision. I would expect the following three quantities to be True equally often:
[code]
I am surprised by you

[2022-03-24 20:23] wconstab commented on #74628
Some of these issues are probably oversight or WIP, others seem more like different design goals.  In general, we didn't aim for a lot of external backends to implement at the LTC plugin layer, we aimed for mainly TS/XLA and then to have vendors reuse integrations with those compilers.  MLIR being an obvious case of a new XLA-like backend, seems to make sense to implement here.

1) Node base class

[2022-03-24 20:30] ngimel commented on #74634
Normal samples are generated by using box-muller algorithm, that multiplies something by sin/cos of a variable uniformly distributed between 0 and 2*pi. Given the algorithms for generating uniformly distributed variable, for floats approximately 2^(-23) values would result in sin/cos being exactly 0 (I could be off by a factor of 2 here, sorry), which means that you'd expect a few of your 10000000

[2022-03-24 20:38] janeyx99 commented on #71811
Dr. CI repo is archived. Closing.

[2022-03-24 20:38] #71811 closed

[2022-03-24 20:55] antoniojkim commented on #74628
The need to add and override a `Lower` method was specifically the reason why I thought the `NodeLoweringInterface` approach would be more preferrable. A custom backend could just implement a `NodeLoweringInterface` subclass and handle all lowerings through it.

However, if this is the case, then I can see the reasoning why it might not make sense to have everything lowered by a `NodeLoweringInter

[2022-03-24 21:08] b0noI commented on #74693
closing since GitHub outage been resolved

[2022-03-24 21:08] #74693 closed

[2022-03-24 21:17] antoniojkim commented on #74628
@wconstab I've put up a draft PR here: https://github.com/pytorch/pytorch/pull/74710

Its the changes I was working on so far before you commented above. As such, it will contain that "third level" `BackendNode` in the hierarchy. I'll work on removing that, but I wanted to get your input and opinion early on as I feel like this impacts the design in a non insignificant way

[2022-03-24 21:23] stevenwalton commented on #74634
@fritzo I see the same thing happen using `torch.isclose` and tightening the bounds. Try `torch.sum(torch.isclose(torch.randn(100000000, dtype=torch.float64), torch.tensor(0).double()))` (You can change `atol` keyword for `isclose`). The behavior I expect is that I get reasonably similar results with only minor divergence. Kinda like ngimel's find.

@ngimel that's an interesting find. I can confir

[2022-03-24 21:28] davidberard98 commented on #73346
This was the reported failure:

[code]

From common_jit.py in getExportImportCopy:

[code]

So, this looks like some sort of infra failure where, for some reason, the file that was *just* generated couldn't be reloaded.

Failure info history isn't long enough to see anything so idk how common this issue is, and I wasn't able to repro.

I'm going to re-enable it and will take another look if it fai

[2022-03-24 21:28] #73346 closed

[2022-03-24 21:31] davidberard98 commented on #68847
Too old to see the logs or the history. But failure looks the same as #73346 (i.e. appears to be an infra failure unrelated to the actual jit test, and can't repro), so I'll close it and take another look if it fails again.

[2022-03-24 21:57] b0noI opened #74714 "DISABLED test_default_store_timeout_gloo (__main__.TimeoutTest)"
This test was disabled because it is failing on master ([recent examples](http://torch-ci.com/failure/test_default_store_timeout_gloo%2C%20TimeoutTest)).

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @rohan-varma @gqchen @aazzolini @osalpekar @jiayisuse @SciPioneer @H-Huang

[2022-03-24 21:58] #74684 closed

[2022-03-24 22:07] janeyx99 commented on #74154
My fix did not fix :C

[2022-03-24 22:24] robieta commented on #74605
My concern was not the 99% CPU time (which, as you say was expected), but rather the 30% self time which is not. (Since I also expected it to be a very low overhead call.)

[2022-03-24 22:54] malfet commented on #74475
with-ssh no longer has "Wait for 2 hours or until sessions are drained", which makes it quite useless for debugging anything after CI failed

[2022-03-24 23:17] kit1980 commented on #56940
This issue is old and python2 should be completely out now. I can build with bazel on linux with python3 only. Closing this.

[2022-03-24 23:17] #56940 closed

[2022-03-24 23:20] wconstab commented on #74628
I am pretty keen on the idea of moving everything except 'Lower' to Node.  @desertfire do you see any issues with this?  I briefly looked through your PR, there is a lot of 'BackendNode' related changes to skim over, anything in particular you want feedback on?  Lowering interface i'm still open minded about; I don't see how backend-independent lowering can be anyway, but I guess the signature of

[2022-03-24 23:23] Lezcano commented on #74168
Closing this as it's too specific an algorithm to have in core. It would be best to implement it as an external library.

[2022-03-24 23:23] #74168 closed

[2022-03-24 23:24] cbalioglu commented on #74143
@thegregyang the new Deferred Module Initialization feature that we are about to release in an out-of-tree package will exactly address your particular problem. I would be happy to give you access to our private repo if you want to try it out before we publicly release it.

[2022-03-24 23:32] Lezcano commented on #69203
@DinoMan any updates on this?

[2022-03-24 23:38] xuzhao9 commented on #73328
Closed as we are disabling cublasLT in 11.3.

[2022-03-24 23:38] #73328 closed

[2022-03-24 23:58] mszuyx opened #74724 "CosineSimilarity() requires the two input tensors to have exact same shape, but it shouldn't be the case according to docu"
### 🐛 Describe the bug

[code]
I don't think this behavior fits the description in the document:
[https://pytorch.org/docs/stable/generated/torch.nn.CosineSimilarity.html](https://pytorch.org/docs/stable/generated/torch.nn.CosineSimilarity.html)
The documentation seems to allow the two input tensors to have unmatched sizes (except for dim). As long as the number of dimensions match.

[code]

### V

[2022-03-25 00:00] Lezcano commented on #46157
@malfet does your recent work on dynamic loading linalg solve this issue?

[2022-03-25 00:01] dominicpasquali opened #74725 "ParameterList breaks autograd.Function"
### 🐛 Describe the bug

https://discuss.pytorch.org/t/torch-autograd-function-returns-error-asking-for-depricated-variable-when-passed-parameterlist/147233 shows that torch.autograd.Function doesn't support ParameterList. I'm currently running into the same error.

Reproducing the post's code in Google Colab gives:
[code]

this gives me the same error as the post:
[code]
making the same substituti

[2022-03-25 00:02] LiuXiaoxuanPKU commented on #64729
@soulitzer @Varal7

[2022-03-25 00:10] Lezcano commented on #25785
I think the LDL algorithm from @IvanYashchuk would effectively solve this. Cholesky works only on SPD matrices, not on positive semidefinite matrices. LDL works on general symmetric matrices. If the matrix is positive semidefinite, you know that D >= 0

[2022-03-25 00:16] Lezcano commented on #24466
Closing this issue as rhis is expected. In many iterative algorithms, double precision is necessary when dealing with singular matrices or matrices with a small eigengap, and there's not much we can do about that as it comes from the numerical properies of the algorithm.

[2022-03-25 00:16] #24466 closed

[2022-03-25 00:21] Lezcano commented on #12435
Same as with the other issue, I think LDL provides a good enough solution for this. cc @IvanYashchuk

[2022-03-25 00:52] osalpekar commented on #73812
Did research on this task, and discussed with @seemethere . What I found is that we already support HTTPS connections to Squid Cache, but it functions as a transparent tunnel proxy. This means that squid will still accept HTTPS connections, but the payloads are still encrypted when they pass through Squid. Since hosts/connections will use different keys to encrypt their payloads, even the same une

[2022-03-25 00:52] #73812 closed

[2022-03-25 00:54] jansel opened #93743 "Support data-dependent control flow operators"
I've had a number of discussions with folks about the idea of using TorchDynamo to capture data-dependent control flow into some sort of (yet to be created) control flow operator in PyTorch/aten.

Technically, capturing the control flow wouldn't be that hard.  TorchDynamo sees the `POP_JUMP_IF_FALSE <tensor>` bytecode, and decides to break the graph on it.  It could instead decide to inject an `at

[2022-03-25 01:18] #49530 closed

[2022-03-25 01:21] dzhulgakov commented on #52181
Another potential library for secure unpickling: https://github.com/trailofbits/fickling (also a custom virtual machine). Besides they had DEFCON talk last year specifically with examples of injecting stuff in PyTorch's pickle archives.

[2022-03-25 02:05] tz579 commented on #71518
@ArturB @RaulPPelaez @mostmand @zou3519
I can now confirm that with:
1. Ubuntu 22.04 pre-beta with up-to-date packages (as of 20220324)
2. the newest cuda 10.6.2 (also released on 20220324)
3. the newest cudnn 8.3.3, and
4. the newest conda 4.12 environment with python 3.10.0
this bug disappears!

[2022-03-25 02:09] #44459 closed

[2022-03-25 02:12] YsYusaito opened #74732 "Inference result is different between Pytorch and ONNX model"
### 🐛 Describe the bug

# Problem
Hi,

I converted Pytorch model to ONNX model.
However, output is different between two models like bellow.
![inference_result](https://user-images.githubusercontent.com/80863816/160040192-770825d4-5c25-4b18-8584-f71e561ef738.PNG)

# inference environment
## Pytorch
・python 3.7.11
・pytorch 1.6.0
・torchvision 0.7.0
・cuda tool kit 10.1
・numpy 1.21.5
・pillow 8.4.0

##

[2022-03-25 02:54] Si13x commented on #74627
Voicing my support for adding this feature to Pytorch -- in my opinion, at this point one of the biggest issues with large ML models is making them feasible to run on small-scale labs (and ideally, even home labs for the sufficiently enthusiastic and determined).  INT4 support looks like a very promising tool in achieving this goal of democratizing access, particularly as the install base of GPUs

[2022-03-25 02:58] caozhe1011 opened #74733 "torch.cuda.is_available() return False"
### 🐛 Describe the bug

ython 3.6.4 (default, Mar 17 2022, 20:24:30)
[GCC 8.2.0] on linux

`import torch`
`torch.cuda.is_available()`
return
`/home/python3_env/venv-py3/lib/python3.6/site-packages/torch/cuda/__init__.py:52: UserWarning: CUDA initialization: Found no NVIDIA driver on your system. Please check that you have an NVIDIA GPU and installed a driver from http://www.nvidia.com/Download/ind

[2022-03-25 03:15] timmywanttolearn opened #74734 "RuntimeError: Unconvertible NCCL type Short when sending torch.cuda.ShortTensor."
### 🐛 Describe the bug

The bug happens when I try to use dist.send to send torch.cuda.ShortTensor.
The code is
[code]
The error is
[code]

### Versions

python --version 3.8
pytorch --version 1.12.0(pytorch nightly)

[2022-03-25 05:28] jerryzh168 commented on #74393
currently we have prototype path to run quantized model on CUDA in TensorRT, through fx2trt. Also we are working on supporting native int8 cuda operators with cudnn. Although both of them are for static quantization.

[2022-03-25 06:47] hbwx24 opened #74739 "GradScaler support FP16 gradients?"
### 🚀 The feature, motivation and pitch

Why does `GradScaler.unscale_`  only support float32 gradients but not support FP16 gradients?
https://github.com/pytorch/pytorch/blob/c7a6be4b9c3aacea72db827877b169f465e41578/torch/cuda/amp/grad_scaler.py#L279

### Alternatives

_No response_

### Additional context

_No response_

[2022-03-25 07:00] xiaomingHUST commented on #23547
how is this issue going?
Pytorch 1.4
cuda 10.0
cudnn 7.6.5.32

[2022-03-25 07:55] LLsmile opened #74740 "How to export onnx with dynamic batch size for models with multiple outputs?"
## Issue description

I want to export my model to onnx. Following is my code:
torch.onnx._export(
model,
dummy_input,
args.output_name,
input_names=[args.input],
output_names=args.output,
opset_version=args.opset,
)

It works well. But I want to export it with dynamic batch size. So I try this:
torch.onnx._export(
model,
dummy_input,
args.output_name,
input_names=[args.input],
output_names=args.o

[2022-03-25 08:15] #74740 closed

[2022-03-25 08:30] Baibaifan opened #74741 "[FSDP] How to use fsdp in GPT model in Megatron-LM"
### 🚀 The feature, motivation and pitch

Are there any examples similar to DeepSpeed ​​that can experience the fsdp function of pytorch. It would be nice to provide the GPT model in Megatron-LM.

### Alternatives

I hope to provide examples of benchmarking DeepSpeed ​​to facilitate the in-depth use of the fsdp function.

### Additional context

_No response_

[2022-03-25 09:09] demmerichs opened #74742 "Adding Backward Control Flow Dependencies/Triggers"
### 🚀 The feature, motivation and pitch

I would like to be able to modify the DAG compute graph to trigger backward computation of certain nodes during a global backward pass, depending on other backward grad_fn calls of other nodes.

An example I would like to solve:
[code]
Now during backward pass the grad_fn on the data input is called, but not on the scores tensor, as we used a non-differenti

[2022-03-25 09:51] xiejinsen commented on #38222
Any news? It is 2022/3/25

[2022-03-25 10:11] asmita410 commented on #74326
Hey! I am an absolute beginner, I would like to contribute to this project. Am I allowed to take this up? Also suggest some relevant resources.

[2022-03-25 12:57] wallarug commented on #72897
I was never able to fix this issue.  I ended up just doing validation on rank 0 without any DDP.

[2022-03-25 13:48] stanvanlier opened #74743 "num_heads incorrectly represented in math expression"
### 📚 The doc issue

On https://pytorch.org/docs/stable/generated/torch.nn.MultiheadAttention.html in the 'output' section where the output dimensions are specified as latex math. The variable name `num_heads` is used which looks like as if `num` with subscript `h` is multiplied by `eads`. Like this: (N,num<sub>h</sub>​eads,L,S).

### Suggest a potential alternative/fix

This is probably caused by

[2022-03-25 14:08] antoniojkim commented on #74628
Not anything specific yet as I'm still working on "merging" `BackendNode` into `Node`. Just high level design stuff that I wanted to make sure we were on the same page about.

This was exactly my thinking when I originally proposed that change above.

However, this is a good point. There _probably_ won't be many (if any) other lowerings besides TS, XLA, and MLIR. In which case I think its fine to

[2022-03-25 14:45] gchanan commented on #74724
The formatting is wrong, but it says the other dimensions have to be broadcastable:

and broadcastable with x1 at other dimensions.

We should fix the formatting.

[2022-03-25 14:54] theophilee commented on #74487
Thanks for your input @ngimel! Would be awesome to fix this as `scatter_add` is a very common operation for memory-intensive projects that benefit a lot from mixed-precision training like graph neural networks and 3D vision (e.g., binning a point cloud into voxels)

[2022-03-25 14:58] albanD commented on #72129
After double checking this was fixed only for subclasses and the fastpath for plain Tensors does not handle that.

[2022-03-25 15:30] davidberard98 opened #74747 "DISABLED test_batch_norm (__main__.TestTEFuserDynamic)"
This test was disabled because it is failing on master ([recent examples](http://torch-ci.com/failure/test_batch_norm%2C%20TestTEFuserDynamic)).

Error:
[code]

[2022-03-25 15:35] kshitij12345 opened #74748 "[jiterator] Jiterate Complex Ops"
### 🐛 Describe the bug

With `jiterator` machinery now available, we can use it to remove the ahead of time compilation cost and decrease the CUDA context size introduced by complex dtypes wherever possible.

This issue tracks ops that can potentially be jiterated (mostly unary, binary, pointwise and reduction ops).

**NOTE**:
* Not all ops should be jiterated (eg. ops which just change shape or s

[2022-03-25 16:06] lorellav commented on #67680
This solved my problem, thank you!

[2022-03-25 16:26] xuzhao9 opened #74751 "TorchBench V2 nightly run detects 12% slowdown on dlrm model test"
### 🐛 Describe the bug

On 20220309, the TorchBench test test_eval[dlrm-cuda-eager] regresses 12.2% because of the commit https://github.com/pytorch/pytorch/commit/aa5dab02b2.

The perf delta has been validated by PR: https://github.com/pytorch/pytorch/pull/74722. After reverting the commit, the dlrm cuda eval test shows speedup. We observe the latency difference below (lower the better):

[code]

[2022-03-25 16:33] xuzhao9 opened #74752 "TorchBench V2 nightly run detects 10% slowdown on dcgan model cpu test"
### 🐛 Describe the bug

On 20220201, the TorchBench test test_train[dcgan-cpu-jit] and test_train[dcgan-cpu-eager] regresses 10% because of the commit https://github.com/pytorch/pytorch/commit/f499ab9cef.

The perf delta has been validated by PR: https://github.com/pytorch/pytorch/pull/74696. After reverting the commit, the dcgan cpu train tests shows speedup. We observe the latency difference bel

[2022-03-25 17:06] antoniojkim commented on #74628
@wconstab I've "merged" `BackendNode` into `Node` and decoupled the `TsNode` references in LT core. Please take a look when you can.

[2022-03-25 17:09] b0noI commented on #66178
# 3/22 - 3/25

## No PR Signal
* #74353

[2022-03-25 17:21] janeyx99 opened #74757 "Lint for Bazel Syntax"

[2022-03-25 17:55] pritamdamania87 commented on #38491
@rohan-varma Ah my bad, I think I added the distributed tag as an error. Doesn't look like the distributed team should own this test.

[2022-03-25 18:20] ngimel commented on #74751
@kshitij12345 we probably should remove the check from the cuda kernel.

[2022-03-25 18:29] davidberard98 commented on #74437
@ppeetteerrs this op was removed. See the "Convolution consolidation" section in https://dev-discuss.pytorch.org/t/state-of-pytorch-core-september-2021-edition/332, and https://docs.google.com/document/d/123O-v7Ov7VmoRiJrZYEon_L2j0vLTf0Y5UFJKgyuqxE

[2022-03-25 18:29] #74437 closed

[2022-03-25 19:21] mikaylagawarecki opened #74770 "torch.scatter_reduce was erroneously released in 1.11"
### 🐛 Describe the bug

`torch.scatter_reduce` was still in development during the 1.11 branch cut but was accidentally released in 1.11 without CUDA support. We might need to break BC for this function in 1.12 by changing the signature. Creating this issue to track the resolution for this

cc @nikitaved @pearu @cpuhrsch @ezyang @gchanan @malfet

### Versions

N/A

[2022-03-25 20:43] seemethere commented on #74476
https://github.com/pytorch/pytorch/pull/74773 should resolve

[2022-03-25 20:49] seemethere opened #74777 "with-ssh does not wait on ssh connections to drain before releasing the node on linux"
Looks like waiting for ssh connections to drain is turned off by default after the workflow consolidation.

See:

https://github.com/pytorch/pytorch/blob/a75c718d7c370becbf8351f5bba013cfd66cf983/.github/actions/teardown-linux/action.yml#L5-L19

Windows doesn't actually have this issue funnily enough

cc @seemethere @malfet @pytorch/pytorch-dev-infra

[2022-03-25 20:52] seemethere commented on #74777
@suo what was the issue with this when you were doing the workflow consolidation?

[2022-03-25 21:00] evrrn commented on #57289
@fijipants

Yes, I first load the checkpoint, then apply remove_weight_norm

[2022-03-25 21:03] briancoutinho commented on #74605
I was able to reproduce the issue, and try out the fixes! The numbers are slightly different due to system differences but here are results

Results from the baseline : we can see the ProfilerStep self cpu being 25%, and as you observed difference in time using schedule method.

[code]

Trying change (1) that removes https://github.com/pytorch/pytorch/pull/72292, It does not seem to address the is

[2022-03-25 21:04] mszuyx commented on #74724
@gchanan Thanks for your response!

Could you please define the term "broadcastable" in this context?

[2022-03-25 21:05] VitalyFedyunin commented on #74757
Please provide more details and reopen the issue.

[2022-03-25 21:05] #74757 closed

[2022-03-25 21:14] #69380 closed

[2022-03-25 21:14] janeyx99 commented on #69014
https://github.com/pytorch/pytorch/pull/74451 should fix!

[2022-03-25 21:14] #74733 closed

[2022-03-25 21:16] VitalyFedyunin commented on #74627
Adding to Triage Review to raise awareness about this popular request

[2022-03-25 21:25] VitalyFedyunin commented on #74682
Feel free to submit PR with docs update.

[2022-03-25 21:29] #74625 closed

[2022-03-25 21:32] wat3rBro opened #74779 "Missing `libcudnn.so.8` in pytorch-nightly build using conda"
### 🐛 Describe the bug

I encountered the following issue when importing the torch:
[code]
The issue happens during installing Detectron2 and right after installing the pytorch-nightly.
[code]
The above command did work on Mar 23 but failed since Mar 24. After comparing the difference between the logs during conda install, I found that seems that on Mar 23, it uses cudnn8.2.0 (full log: https://gi

[2022-03-25 21:35] Lezcano commented on #74604
I do not see a-priori why wouldn't you see a speed-up in this case. Can you provide a small self-contained script that tests this?

[2022-03-25 21:35] malfet commented on #74779
cc: @ptrblck @atalman I think it is likely caused by https://github.com/pytorch/builder/commit/e1876ec56245f5187dcf27dfe17dc884db261779

[2022-03-25 21:36] #74522 closed

[2022-03-25 21:37] malfet commented on #74779
Reverting the change and re-kicking nightly builds

[2022-03-25 21:40] pytorch-bot[bot] opened #74781 "DISABLED test_pointwise_op_fastpath__foreach_addcmul_cuda_int64 (__main__.TestForeachCUDA)"
Platforms:

This test was disabled because it is failing in CI. See [recent examples](http://torch-ci.com/failure/test_pointwise_op_fastpath__foreach_addcmul_cuda_int64%2C%20TestForeachCUDA) and the most recent trunk [workflow logs](https://github.com/pytorch/pytorch/actions/runs/2041538073).

Over the past 3 hours, it has been determined flaky in 1 workflow(s) with 1 red and 3 green.

cc @crcrpar

[2022-03-25 21:42] VitalyFedyunin commented on #74536
Can you try to initialize cuda (without running any code) and compare memory consumption of CUDA context.

[2022-03-25 21:45] davidberard98 commented on #74747
seems like 3b3bdfd51cab8697c35622526ee5ec2c189cfbab fixed it?

[2022-03-25 21:45] #74747 closed

[2022-03-25 22:28] fduwjj commented on #65559
Who can the proper owner of this issue, @rohan-varma ?

[2022-03-25 22:37] fduwjj commented on #74666
Hi, @hubertlu-tw. Do you have logs or error msgs about which line you encounter hang behavior? Thanks!

[2022-03-25 22:39] fduwjj commented on #74734
I can repo this issue and looks like short tensor is not supported. Not sure if this is the expected behavior. cc: @cbalioglu

[2022-03-25 22:41] fduwjj commented on #74588
Looks like this is FDSP specific and it's about the CPU offload feature. Do you know if it is possible that we can also do the similar stuff, @zhaojuanmao, @rohan-varma ?

[2022-03-25 22:44] fduwjj commented on #74528
The original issue: https://github.com/pytorch/pytorch/issues/74734. Maybe we can use this as the feature request.

[2022-03-25 22:46] fduwjj commented on #74734
New feature request is here: https://github.com/pytorch/pytorch/issues/74528

[2022-03-25 22:48] fduwjj commented on #74602
Hi, @kurisusnowdeng are you using Gloo or NCCL? I saw the error is Gloo related.

[2022-03-25 22:58] hubertlu-tw commented on #74666
Hi @fduwjj,
I encountered the hang behavior on the line right after printout message of “re-initialize process_group for rank #” for both CUDA and ROCm.
[code]

[2022-03-25 23:01] fduwjj commented on #74602
Is this the expected behavior? cc: @rohan-varma , @cbalioglu

[2022-03-26 00:06] robieta commented on #74605
Interesting. There has been some change in that part of the code recently (https://github.com/pytorch/pytorch/pull/72302) Regardless, it seems like the issue is on the profiler side so I can take it from here. Thanks for taking a look!

[2022-03-26 00:06] davidberard98 commented on #74404
@wukong1992 if you have a fix that would be great!

[2022-03-26 00:24] davidberard98 commented on #74056
Thanks for the report @twoertwein - I'm taking a look at why this is happening.

FYI, I think the usage of `Final` is incorrect in your example.

I tried with the following and it succeeds.
[code]

or alternatively

[code]

afaik

[2022-03-26 01:26] janeyx99 commented on #74326
@asmita410 Yes you can take this up and link me for a review with your draft. We anticipate this task will take ~1 week.

Our lints can be found in this GitHub action yaml https://github.com/pytorch/pytorch/blob/master/.github/workflows/lint.yml. Feel free to Google some resources about GitHub actions in general for more context on the syntax.

For how to get access to the PR body, you can look at

[2022-03-26 01:46] #44409 closed

[2022-03-26 01:58] #74779 closed

[2022-03-26 01:59] ezyang commented on #74692
send a patch and cc me please, thanks!

[2022-03-26 02:26] ezyang opened #74788 "[Structured] Make it possible to override create_out implementation on a per dispatch key basis (structured sparse)"
### 🐛 Describe the bug

@cpuhrsch wants to make the SparseCsr implementation of sum structured in https://github.com/pytorch/pytorch/pull/74766/files#diff-e9998363493c5dcd97969d077dcdea1e835c95bf39f2bbb5afde127a3c1ef728 which is forcing me to grapple with a problem that I wanted to punt on, which is how the heck to support sparse kernels in structured. The problem is twofold:

1. The meta kernel d

[2022-03-26 04:47] davidberard98 commented on #74056
bisected to https://github.com/pytorch/pytorch/pull/70202

[2022-03-26 06:39] MarcoVela commented on #1706
still hoping in 2022

[2022-03-26 10:41] datumbox commented on #36530
Is there any update on this? We are hitting this problem on TorchVision's MaskRCNN model.

[2022-03-26 12:36] twoertwein commented on #74056
Thank you for finding the cause and fixing it!

Thank you, I wasn't aware of that: that's how Final is typically used with other type checkers such as mypy and pyright.

[2022-03-26 12:47] ppeetteerrs commented on #74437
Thanks for the information. Can I confirm that the only way to get the new general `convolution_backwards` operations is by using `torch._C._jit_get_operation("aten::convolution_backward")? It doesn't seem to be exposed anywhere in the Python API.

[2022-03-26 14:35] anfedotoff opened #74798 "Heap buffer overflow in third_party: miniz-2.0.8"
### 🐛 Describe the bug

Hi,
I was doing some fuzzing with libFuzzer and found heap buffer overflow in third-party project miniz-2.0.8.
Here is the crash input: [crash-66b9f45360e6bf5130fb8a6f624f3a3eac546b2f.txt](https://github.com/pytorch/pytorch/files/8355607/crash-66b9f45360e6bf5130fb8a6f624f3a3eac546b2f.txt).

You can use docker and fuzz targets from [oss-sydr-fuzz](https://github.com/ispras/o

[2022-03-26 14:35] timurlenk07 opened #74799 "Irrelevant warning during ONNX export of torch.jit.ScriptFunction: Model has no forward function"
### 🐛 Describe the bug

When trying to export into ONNX format a `torch.jit.ScriptFunction` object, the exporter emits an irrelevant warning: _UserWarning: Model has no forward function_

Reproduction script:
[code]

Output:
[code]

### Versions

[code]

[2022-03-26 14:49] timurlenk07 opened #74800 "[ONNX] Failed to export aten::flatten of input with unknown rank"
### 🐛 Describe the bug

When `torch.Tensor.flatten` is called within a list comprehension, ONNX export fails. Based on the warnings emitted during conversion, this is most likely the result of missing shape inference information.

Code to reproduce:
[code]

Output:
[code]

### Versions

[code]

[2022-03-26 15:17] timurlenk07 opened #74801 "[ONNX] Export fails with inplace assignments"
### 🐛 Describe the bug

When trying to export to ONNX a `torch.jit.ScriptFunction` with inplace assignments, the exporter raises a `KeyError: None` and the export fails. The sample code was originally at the end of a YoloX network head that adds grid shifts to the bounding box predictions, but that code was reduced as much as possible to make the debugging (hopefully) easier.

Sample code to repro

[2022-03-26 16:36] edwardjhu commented on #74143
@cbalioglu Hi! I'm the other maintainer of the mup package. Thanks for your response, and we are happy to try this new feature! Please let us know how we can access the private repo.

[2022-03-26 17:29] ghostplant opened #74802 "Use automatically calculated derivative inside custom autograd function"
### 🐛 Describe the bug

[code]

I want to define a custom op that merges two natural operations (fn_0 and fn_1) to compute together in not only forward pass but also backward pass.
The above code is what I want to achieve. But seems like `torch.autograd.grad` is not working in the backward function, because it recursively called the backward function again, thus results in python stack overflow.

[2022-03-26 23:12] aphedges opened #74805 "Failure to build with clang because of unknown warning option error"
### 🐛 Describe the bug

I tried to build a development version of PyTorch on macOS Big Sur, but I got the following error:

[code]

I was able to create a minimal reproduction with the following code:

[code]

I'm not 100% sure when this error started, but I believe it was with 14dcb5a1a0f764ec67b7d4d7f607121fe9757b71, which was created to solve #74352. If I make the following change, I am able to

[2022-03-27 02:52] mrshenli commented on #74689
Didn't see a "combinations" label. Adding "triage review".

[2022-03-27 03:19] XiaoTailong commented on #15811
I have the same problem. I delete the DPP, and the speed is also slow.

[2022-03-27 04:18] speedcell4 opened #74806 "Gradient computation on modified tensor by in-place operator"
### 🐛 Describe the bug

Yes, I know I can simply `x + y + z`, but the following example is just a simplified script from a complex requirement.

I create an empty tensor without requiring gradients, copy the input to the corresponding positions, and then start to reduce them by putting the intermediate results on the next positions, e.g.,

[code]

Finally, the `tensor[4]` is returned as the final

[2022-03-27 05:35] Wang-Tianyu commented on #74536
pytorch1.8.1 uses 934 MB, pytorch1.10.2 uses  992MB while pytorch1.11.0 uses 1106 MB.
I think the extra 100~200MB memory consumption increase can explain the different behaviors since my model uses almost all VRAM when it works.
Thanks for your help.

[2022-03-27 05:35] #74536 closed

[2022-03-27 10:38] dogeplusplus commented on #74743
I believe this issue was already raised in #74147 and has been addressed with #74181.

[2022-03-27 13:50] LeoNull101 opened #74808 "yolov5 in jupyter error: self = reduction.pickle.load(from_parent) EOFError: Ran out of input"
### 🐛 Describe the bug

github: skipping check (offline), for updates see [https://github.com/ultralytics/yolov5]()
Output exceeds the [size limit](command:workbench.action.openSettings?[%22notebook.output.textLineLimit%22]). Open the full output data[ in a text editor](command:workbench.action.openLargeOutput?a5828476-4b57-44eb-8623-b95587e6a784)
train: weights=yolov5s.pt, cfg=, data=e:/2022/yolo

[2022-03-27 13:53] janhuenermann opened #74809 "Incorrect results for `torch.distributed.gather` for tensor created from permuted NumPy array"
### 🐛 Describe the bug

Hi,

When creating a tensor from a non-contiguous NumPy array, e.g.
[code]
and then using `torch.distributed.gather`, the tensor on the destination rank is not correct.

**Expected behaviour**: either the tensor on the destination rank is equal to the tensor on the source rank, **or**, `torch.distributed.gather` throws an exception to let the user know that the tensor must

[2022-03-27 14:22] #74808 closed

[2022-03-27 14:24] rohan-varma opened #74810 "[FSDP] full_state_dict: FSDP details can exist in key names"
### 🐛 Describe the bug

The goal of FSDP's full state_dict implementation is to return a state_dict as if the model were exactly as local, but this is not always the case. For an example, add this test:

[code]

to `test_fsdp_state_dict`, with this model def:

[code]

the state_dict keys are:

[code]

although the second key should not have _fpw_module.

### Versions

main

cc @ezyang @gchanan @zo

[2022-03-27 14:27] wuzuowuyou commented on #74014
According to your suggestion, I changed the code as follows, but I still reported the same error。

[code]

In addition, a simple example of pycuda is provided as follows, which does not involve initializing CUDA
[code]

[2022-03-27 16:51] stanvanlier commented on #74743
You're right!

[2022-03-27 16:51] #74743 closed

[2022-03-27 17:14] arunppsg opened #74811 "Linker Error MacOSX libtorch for arm64"
### 🐛 Describe the bug

I  am trying to install and run a minimal C++ distribution of Pytorch. I installed the latest stable libtorch distribution for macos and created an `example-cpp` directory with contents for `example.cpp` and `CMakeLists.txt` from pytorch [docs](https://pytorch.org/cppdocs/installing.html).

Then, I ran the following commands:
[code]

Here, I am getting a linker error. I thi

[2022-03-27 17:50] AnnaMastori commented on #74692
Hey, is this issue still open or has it been already assigned? If not, I would like to be assigned to solve it.

[2022-03-27 19:21] rohan-varma commented on #74602
Seems unexpected but @kurisusnowdeng could you please provide a repro for clarity?

[2022-03-27 19:41] aphedges opened #74812 "BytesWarning causes exception in torch.load() when running Python with -bb flag"
### 🐛 Describe the bug

When running Python with the [`-bb`](https://docs.python.org/3.10/using/cmdline.html#cmdoption-b) option, loading a model with `torch.load()` fails with a `BytesWarning`:

[code]

This flag is useful to catch additional errors during testing, and I discovered this while working on a project that uses PyTorch. Fixing it here will make it easier to test other projects for err

[2022-03-27 20:32] Logigo commented on #74692
Hello - I believe this issue will be closed soon. Here is a comment explaining why:
https://github.com/pytorch/pytorch/pull/74804#discussion_r835958390

[2022-03-27 22:59] alvin870203 commented on #70159
I encountered the same error when loading scripted torchvision.transforms.CenterCrop() to an Android project

[2022-03-27 23:34] YuchiQiu opened #74815 "Can I set different regularization parameters for different parameters in Adam optimizer?"
### 🚀 The feature, motivation and pitch

As I know, I am about to set regularization parameters differently for different nn.Linear module. For example,
[code]
Is there any possible way to set different weight_decay values for each parameters in the self.fc layer?

Thanks.

### Alternatives

_No response_

### Additional context

_No response_

cc @albanD @mruberry @jbschlosser @walterddr @kshitij

[2022-03-27 23:36] suo commented on #74777
Ummmmm, almost certainly just a mistake on my part. I think we were duplicating that step in most of our linux workflows, but I forgot to re-enable it by default after cleaning up the dupes.

If we always want to wait for ssh to drain on teardown, we can just remove the input and the conditional—I can do it tmr

[2022-03-27 23:38] #74476 closed

[2022-03-28 06:42] xingchensong commented on #52936
Hi team, any progress?

[2022-03-28 08:51] tingshua-yts opened #74824 "C10d Elastic Training master_addr ERROR"
### 🐛 Describe the bug

# Describe the bug
I want to train a 2 node 4GPU Elastic training JOB

the training script as below
[code]
the start job script as below:
[code]
ERROR INFO:
[code]

I have read the pytorch source code, I found when backend is not 'static'，agent will use hostname for the MASTER_ADDR. But in my situation , the hostname can not resolve, I want use the IP.
[code]

How can I set

[2022-03-28 09:54] IvanYashchuk commented on #74167
The reason for the slowdown is migration from deprecated MKL Sparse BLAS functions to new Inspector-Executor API (use of [`mkl_sparse_mm`](https://www.intel.com/content/www/us/en/develop/documentation/onemkl-developer-reference-c/top/blas-and-sparse-blas-routines/inspector-executor-sparse-blas-routines/inspector-executor-sparse-blas-execution-routines/mkl-sparse-mm.html)[new] vs [`mkl_csrmm`](http

[2022-03-28 13:14] Mayankm96 commented on #69894
Managed to resolve this by:
[code]

[2022-03-28 15:21] harryhan618 opened #74831 "full backward hook won't release grad_outputs"
### 🐛 Describe the bug

In file torch/utils/hooks.py,
If a full_backward_hook is registered, `torch.utils.hooks.BackwardHook` object won't automatically deconstruct, causing its `self.grad_outputs` keeping alive. But usually when no full_backward_hook is registered, those grad_outputs Tensor would disappear inside autograd engine.

This would cause those grad_output memory being kept in the memory

[2022-03-28 15:24] vadimkantorov commented on #73320
@kiukchung currently it's required to set at least three parameters `--rdzv_backend=c10d --rdzv_endpoint=localhost:0 --nnodes=1`. Is there any tradeoff of always having `--rdzv_backend=c10d --rdzv_endpoint=localhost:0` by default? then if set `--nnodes=1`, it very likely means that a random port is wanted

[2022-03-28 15:24] jackshi0912 opened #74832 "Gradient w.r.t. parameters or modules"
### 🚀 The feature, motivation and pitch

Often you have multiple models and multiple losses in a system. GAN for example typically has a generator and a discriminator and uses a discriminator loss and a generator loss.
In these cases, it's often the case that you want to compute gradient of a specific loss w.r.t. a specific model. Again in GAN, you want to compute discriminator loss w.r.t. the dis

[2022-03-28 16:41] #70657 closed

[2022-03-28 16:56] gchanan commented on #74609
I believe this is asking why https://pytorch.org/get-started/previous-versions/ doesn't have 1.10 listed.

[2022-03-28 16:58] albanD commented on #74832
Hi,

Thanks for the details.
Isn't the `inputs` argument to `.backward()` doing exactly what you want? (doc here: https://pytorch.org/docs/stable/generated/torch.autograd.backward.html?highlight=backward#torch.autograd.backward)

[2022-03-28 16:58] davidberard98 commented on #74437
@ppeetteerrs I think you can also use `torch.ops.aten.convolution_backward`

cc @jbschlosser do you know the preferred way to access this op?

[2022-03-28 17:04] csarofeen commented on #74752
How could that PR regress torchbench dcgan-cpu-jit? Are you sure there's a GeLU even in that model?

[2022-03-28 17:05] janeyx99 commented on #74590
Oh no! My reply to you did not send :c There is a way--the wiki is here https://github.com/pytorch/pytorch/wiki/Continuous-Integration#how-to-test-the-disabled-test-on-ci. Closing the issue linking the fix would also suffice.

[2022-03-28 17:07] gchanan commented on #74689
This still happens on 1.11 and here is the message:

[code]

[2022-03-28 17:08] KOLANICH commented on #52181
I have tried it for analyzing some suspicious pickle, it hadn't worked, the opcode was not implemented. But a much older lib has worked better.

[2022-03-28 17:15] 0x00b1 opened #74839 "Root-finding"
### 🚀 The feature, motivation and pitch

I often need to find roots of continuous functions and would like a general-purpose root-finding operation to simplify this process.

Here’s a basic API to motivate this issue (cribbed from [scipy.optimize.root_scalar](https://docs.scipy.org/doc/scipy/reference/generated/scipy.optimize.root_scalar.html#scipy.optimize.root_scalar)):

[code]

### Alternatives

[2022-03-28 17:18] 0x00b1 commented on #74839
I was curious whether TensorFlow provides general-purpose root-finding operations. They do.

[tensorflow_probability.math.find_root_chandrupatla](https://www.tensorflow.org/probability/api_docs/python/tfp/math/find_root_chandrupatla)
[tensorflow_probability.math.find_root_secant](https://www.tensorflow.org/probability/api_docs/python/tfp/math/find_root_secant)

[2022-03-28 17:40] dzhulgakov commented on #74752
Yes, it's very suspicious - the PR seems very orthogonal. Let's understand what's going on before reverting since it's been in master for close to 2 months and no one complained so far

[2022-03-28 17:47] albanD commented on #74815
Hi,

This information needs to be passed when the parameters are added to the optimizer. So I don't think it will be possible to do this with vanilla pytorch no.

That being said, nothing prevents you from storing any data you want on `self.fc` and use that information when you construct your optimizer.

[2022-03-28 17:49] albanD commented on #74831
What do you mean by "it won't automatically deconstruct"? That object is local to the call of the Module so it is freed properly.
If it is involved in a ref cycle, you might need a `gc.collect()` for it to be detected as dead and removed. Is that what you mean?

[2022-03-28 17:58] RasoulZamani opened #74842 "error in quantization by quantize_fx.prepare_fx"
Hi, for quantization of YOLOv5 as pytorch doc suggest, I used this code:

import torch
model= torch.hub.load('ultralytics/yolov5', 'yolov5s')

import torch.quantization.quantize_fx as quantize_fx
import copy

#
# post training static quantization
#
model_to_quantize = copy.deepcopy(model)
qconfig_dict = {"": torch.quantization.get_default_qconfig('qnnpack')}
model_to_quantize.eval()
# prepare
mode

[2022-03-28 18:09] garymm commented on #72494
@thiagocrepaldi the current state of this is not very user-friendly IMO.
Could we either:
1. Add casts inside the BatchNormalization symbolic, or otherwise ensure that the exported model is valid?, OR if that's not feasible
2. Have the symbolic check for the mixed input types and raise an error like "Got types <x> and <y>. Mixed input types not supported until opset 15. Please use opset 15 or use

[2022-03-28 18:15] cbalioglu commented on #74143
No problem! I am on PTO today and have limited internet access. Expect to receive an invitation email to the “torchdistx” repo tomorrow morning. If you are on PyTorch’s Slack channel, happy to chat there as well.

[2022-03-28 18:34] Fitz13009 commented on #74689
You are welcome, I am glad to make this tiny contribution :smile:

[2022-03-28 18:41] dustindorroh commented on #69894
Worked for me!

[2022-03-28 18:42] antoniojkim commented on #69033
From https://github.com/pytorch/pytorch/pull/74708

@wconstab is there a plan to move the LTC python and pybind modules to `master` anytime soon? It looks to be the last major item that hasn't made it onto `master` yet (at least as far as I can tell).

[2022-03-28 18:42] jackshi0912 commented on #74832
Yes thank you, I completely missed it!

[2022-03-28 18:42] #74832 closed

[2022-03-28 19:12] yaadhavraajagility commented on #38174
Is there any example on how to use this?

[2022-03-28 19:27] yaadhavraajagility opened #74853 "Data Parallel / Distributed Data Parallel not working on Ampere System?"
### 🐛 Describe the bug

Hi all, I was running my training scripts on my new Ampere (8x A4000 machine), and I realized nothing was working. I managed to simplify it down into two test cases written by @mrshenli sometime back.

As you can see, both the DPP example and the regular DP example simply hangs.
The DPP example hangs on `signal.item()` while the DP example performs the first optimizer step,

[2022-03-28 19:37] pearu opened #74855 "Enable dtype keyword argument for to_dense method"
Native `to_dense` supports dtype keyword argument:

https://github.com/pytorch/pytorch/blob/7bb0133b8cd2793e30341c0c8b9e5202921aece3/aten/src/ATen/native/native_functions.yaml#L5339

that is not [documented](https://pytorch.org/docs/master/generated/torch.Tensor.to_dense.html?highlight=to_dense#torch.Tensor.to_dense) nor supported:
[code]

Enabling the `to_dense(dtype)` support should be straightf

[2022-03-28 20:05] jackshi0912 commented on #48959
+1, we are using custers with 4 V100s on each machine. Currently we use pytorch + grpc to do distributed RL training. We have some prototypes with libtorch but DDP is a hard blocker (tensorboard support is a soft blocker since we have workarounds). We would love to move our pipeline to libtorch.

[2022-03-28 20:15] nikitaved commented on #74604
Apparently, it is about propagating through full batches in the computation graph even if some of nodes could be pruned..

[2022-03-28 20:40] Varal7 commented on #64729
Regarding (1) my understanding is that the call of `pack1` will be asynchronous by default, but because devices will execute operations in the order they are queued, `pack1` will be done before we enter `pack2`. cc @albanD

For (2), it is a common misconception that the input of `layerX` will be used as input to `packX`. That is not always true. Certain operations will save the input (for instance

[2022-03-28 20:43] Varal7 commented on #64729
Regarding (1) my understanding is that the call of `pack1` will be asynchronous by default, but because devices will execute operations in the order they are queued, `pack1` will be done before we enter `pack2`. cc @albanD

For (2), it is a common misconception that the input of `layerX` will be used as input to `packX`. That is not always true. Certain operations will save the input (for instance

[2022-03-28 20:53] thiagocrepaldi commented on #54410
I had to add `do_constant_folding=False` to be able to export your model

[2022-03-28 21:29] ejguan commented on #71229
Closing this issue as this test has been fixed

[2022-03-28 21:29] thiagocrepaldi commented on #54410
I also had to add `providers=['CUDAExecutionProvider', 'CPUExecutionProvider']` to the `ort.InferenceSession()` call to run on the latest ORT.

By doing the two changes aforementioned, Pytorch exported an ONNX graph and ORT' sInference session executed it. See output

[code]

[2022-03-28 21:29] ejguan commented on #71037
Closed issue as this test has been fixed

[2022-03-28 21:30] ejguan commented on #70976
Closed issue as this test has been fixed

[2022-03-28 21:30] #70976 closed

[2022-03-28 21:31] ejguan commented on #70968
Closed issue as this test has been fixed (shm filepath conflict)

[2022-03-28 21:31] ejguan commented on #70947
Closed issue as this test has been fixed (shm filepath conflict)

[2022-03-28 21:31] ejguan commented on #70756
Closed issue as this test has been fixed (shm filepath conflict)

[2022-03-28 21:32] ejguan commented on #70655
Closed issue as this test has been fixed (shm filepath conflict)

[2022-03-28 21:32] #70655 closed

[2022-03-28 21:32] ejguan commented on #70547
Closed issue as this test has been fixed (shm filepath conflict)

[2022-03-28 21:33] ejguan commented on #70517
Closed issue as this test has been fixed (shm filepath conflict)

[2022-03-28 21:33] ejguan commented on #70516
Closed issue as this test has been fixed (shm filepath conflict)

[2022-03-28 21:34] ejguan commented on #68643
Run out of shared memory again

[2022-03-28 21:35] ejguan commented on #66635
Closed issue as this test has been fixed

[2022-03-28 21:35] #66635 closed

[2022-03-28 21:41] pytorch-bot[bot] opened #74868 "DISABLED test_early_exit (__main__.TestDataLoaderPersistentWorkers)"
Platforms:

This test was disabled because it is failing in CI. See [recent examples](http://torch-ci.com/failure/test_early_exit%2C%20TestDataLoaderPersistentWorkers) and the most recent trunk [workflow logs](https://github.com/pytorch/pytorch/actions/runs/2054218196).

Over the past 3 hours, it has been determined flaky in 1 workflow(s) with 1 red and 3 green.

cc @SsnL @VitalyFedyunin @ejguan @

[2022-03-28 21:47] ejguan commented on #74868
We need to investigate this one.

[2022-03-28 21:48] SamTov commented on #74839
Where would you want to put it in the package? Or would you prefer to just have some torch implementation of root-finding that you can then put wherever you would prefer? @albanD @jisaacso

[2022-03-28 21:49] LiuXiaoxuanPKU commented on #64729
Thanks for the explanation!
One thing I want to double-check,
As the example you mentioned
[code]
even with the asynchronous execution, the save operation will happen before the in-place calculation,
that is, the inplace will not overwrite the input tensor, therefore 2 is passed to pack instead of 7.3891

I'm just worried the inplace+asynchronous execution will cause some unintentional behavior.
T

[2022-03-28 22:23] Lezcano commented on #74806
Note that with `torch.add`, the backward pass does not need to look at the values of the input, as the jacobian of the transformation does not depend on the values of the inputs. This is a property of all linear functions, `add` being one of them.

The other functions that you mention do depend on the value of the input, and when the backward is triggered, it checks whether the input has been modi

[2022-03-28 22:24] Lezcano commented on #74806
If you want to do things like this, you might want to perform the operations separately on different tensors and then either [stack](https://pytorch.org/docs/stable/generated/torch.stack.html?highlight=stack#torch.stack) them or [concatenate](https://pytorch.org/docs/stable/generated/torch.cat.html) them.

[2022-03-28 22:46] thiagocrepaldi commented on #72494
Casting inside `Autocast` is more likely to introduce issues, as the pytorch and ONNX models will have different types

I agree the esception raised is confusing for the user.

Although 1) is doable, what would be the policy? Assuming all 5 inputs can be either float16, float, double or bloat16, which one would be used as the "correct"? Float32 as the most common/higher precision? Or if one float1

[2022-03-28 23:10] peterbell10 commented on #74491
`histogramdd`-related calls will be fixed by the stack starting at https://github.com/pytorch/pytorch/pull/74199

[2022-03-28 23:16] #60258 closed

[2022-03-29 00:02] garymm commented on #72494
I think we may have examples of both of these in the existing symbolics.
For the first (mixed input types), look for symbolics that insert Cast ops.
If we know what the ATen op's output type would be given those inputs, then I think any sub-graph that is both valid ONNX and that returns that same type is good.

For the second, we'd add a helper in `symbolic_helper.py` that checks if the input is c

[2022-03-29 00:06] #74777 closed

[2022-03-29 00:08] speedcell4 commented on #74806
Yes,  it is true that `torch.mul` depends on the value of the inputs, as you mentioned it checks whether the inputs have been modified in place. But in my script, I did not modify the inputs, right?

The shape of `tensor` is just `(5,)`, the `[0]`, `[1]`, and `[3]` elements are assigned with `x`, `y`, and `z`, respectively. `[2]` goes for the intermediate result and `[4]` is the final value. Each

[2022-03-29 00:11] speedcell4 commented on #74806
But the demerit of using indexing is that `tensor[torch.tensor([0,2,5])]` does copy the element at position 0, 2, and 5. This wastes time and memory, and I want to avoid copying as much as possible.

Yes, I have also considered using `torch.cat` and `torch.stack`, but for the same reason of avoiding copy, I don't prefer them.

[2022-03-29 00:12] #59958 closed

[2022-03-29 00:19] Lezcano commented on #74806
Alas, autograd requires copying things and saving things for the backward for the reasons described above. Note that the example where you index with tensors is called "Advanced indexing" and it does copy the tensors as opposed to when you index with scalars, as you mentioned. You can read more about it [here](https://dev-discuss.pytorch.org/t/how-does-advanced-indexing-work-when-i-combine-a-tenso

[2022-03-29 00:22] thiagocrepaldi commented on #72494
The issue that I see in 1) is that me will have to mimic the down/upcast logic that already exists inside Autocast + export for a opset that supports mixed precision. There is no obvious way to predict what should happen to the output based on the input. In fact, I created https://github.com/pytorch/pytorch/issues/73538 to propose a solution for this problem

A reason 2) approach would be somethin

[2022-03-29 00:27] speedcell4 opened #74874 "Gradient computation on modified tensor by in-place operator"
### 🐛 Describe the bug

Yes, I know I can simply `x + y + z`, but the following example is just a simplified script from a complex requirement.

I create an empty tensor without requiring gradients, copy the input to the corresponding positions, and then start to reduce them by putting the intermediate results on the next positions, e.g.,

[code]

Finally, the `tensor[4]` is returned as the final

[2022-03-29 00:28] speedcell4 commented on #74874
I have raised an issue but it is roughly closed, so I raise it again here.

[2022-03-29 00:37] #74874 closed

[2022-03-29 00:56] yoshikimiki opened #74876 "Failure to set number of threads on AWS Lambda"
### 🐛 Describe the bug

When I run PyTorch in AWS Lambda via a Docker Image, I get an error when trying to set the number of threads. Example code:

`torch.set_num_threads(2)`

which results in
[code]

It runs fine locally and on docker.

### Versions

Collecting environment information...
PyTorch version: N/A
Is debug build: N/A
CUDA used to build PyTorch: N/A
ROCM used to build PyTorch: N/A

OS:

[2022-03-29 00:57] pytorch-bot[bot] opened #74877 "DISABLED test_shuffle_iterdatapipe (__main__.TestFunctionalIterDataPipe)"
Platforms:

This test was disabled because it is failing in CI. See [recent examples](http://torch-ci.com/failure/test_shuffle_iterdatapipe%2C%20TestFunctionalIterDataPipe) and the most recent trunk [workflow logs](https://github.com/pytorch/pytorch/actions/runs/2055586662).

Over the past 3 hours, it has been determined flaky in 1 workflow(s) with 1 red and 3 green.

cc @SsnL @VitalyFedyunin @ejg

[2022-03-29 00:58] ezyang commented on #74689
see also https://github.com/pytorch/pytorch/issues/60548

[2022-03-29 01:05] Lezcano commented on #74802
What about recomputing `y_0` and `y_1` in the backward and passing those to `grad` rather than the results stored from the forward? I know this is not great, but would it work for your use case?

[2022-03-29 01:06] ezyang commented on #74802
One question that would help, is why are you trying to do this. You just need to preserve relative ordering  of fn0 and fn1 backwards? But by default our autograd engine tries to run them as close to each other as before, so without any modification they should run together.

In any case, your problem is that the tensors you're grad'ing over have the custom autograd function, not the original auto

[2022-03-29 01:13] ezyang commented on #74806
The problem here is that version counter tracking is not fine grained enough to detect that the mutated segments don't overlap, and PyTorch is conservatively assuming that something bad happened and that is what is tripping you up.

The usual workaround for bypassing version counter tracking is to do an indirect modification `x.data.add_(...)` which won't update the version counter on X, but this

[2022-03-29 01:18] yoshikimiki commented on #74876
Seems that AWS Lambda doesn't have this file. When I try to print its contents, I get `[ERROR] FileNotFoundError: [Errno 2] No such file or directory: '/sys/devices/system/cpu/possible'`

[2022-03-29 01:23] speedcell4 commented on #74806
@ezyang Yes, you got my point about the version counter tracking.

This sounds like work. Thank you.

[2022-03-29 01:24] speedcell4 commented on #74806
So, is there any plan to implement the fine-grained version counter tracking?

[2022-03-29 01:58] tiancaishaonvjituizi opened #74884 "Problematic ASGD Optimizer"
### 🐛 Describe the bug

I saw an "Optimizers documentation tracking issue" https://github.com/pytorch/pytorch/issues/63236. But ASGD is overlooked. Sadly, there is at least three problems in ASGD Optimizer:

1. The learning rate of ASGD Optimizer cannot be scheduled by lr_scheduler
1. In [document](https://pytorch.org/docs/stable/generated/torch.optim.ASGD.html), "eta" is indeed the "current learn

[2022-03-29 03:20] ghostplant commented on #74802
[code]
Thanks. Is there an example to enable the original grad in custom autograd.function's forward?

For reasons of doing this, it is because I have some ops that need to carefully order their execution order in not only forward pass but also backward pass (similar to tf.control_dependendencies). The current pytorch's autograd order I have profiled is not what I expect.

[2022-03-29 03:27] ghostplant commented on #74802
@Lezcano The problem of your solution is that fn_0 and fn_1 is a large torch.nn.module and it is extremely inconvenient for me to write its backward computation.

[2022-03-29 03:31] ghostplant commented on #74802
I don't think it is working which is also not efficient. I think the main problem is that computations inside autograd.Function's forward and backward doesn't have the ability to get their original backward functions.

[2022-03-29 04:19] vors opened #74890 ".gitignore core.* regex needs refinement"
### 🐛 Describe the bug

The `core.*` regex https://github.com/pytorch/pytorch/blob/51e50a2ddb9844e0abaf6028fe5e4246448dffff/.gitignore#L313 includes files named `core.py`
[1] https://github.com/pytorch/pytorch/blob/v1.10.0/torch/fx/experimental/unification/core.py
[2] https://github.com/pytorch/pytorch/blob/v1.10.0/torch/fx/experimental/unification/multipledispatch/core.py

This leads to problemat

[2022-03-29 05:34] cdeepali commented on #61577
As TBB is deprecated we would not need this anymore.

[2022-03-29 05:34] #61577 closed

[2022-03-29 06:08] mostafarohani opened #74895 "GPU VideoReader not working"
### 🐛 Describe the bug

[code]
<img width="423" alt="Screen Shot 2022-03-28 at 10 59 44 PM" src="https://user-images.githubusercontent.com/8623092/160543628-000de7d3-a23c-4a3d-8757-229c457f0392.png">
<img width="466" alt="Screen Shot 2022-03-28 at 10 59 56 PM" src="https://user-images.githubusercontent.com/8623092/160543634-07632a8d-0b56-462f-9bc1-fe2e2fc93bf3.png">

When seeking to specific times

[2022-03-29 06:32] mrhe13 commented on #51334
Any improvement?

[2022-03-29 07:15] alexandrakisin opened #74896 "Install PyTorch from source on power machine"
### 🐛 Describe the bug

Following the instructions I'm trying to install / build pytorch 1.7.1 from source on Linux (ppc64le) GPU
I downloaded the source
I'm working with conda environment based on Python version 3.7.11
Run the required commands and during the run of setup process below , got an error
```python setup.py install```

The error is :
[code]

### Versions

[code]

[2022-03-29 07:22] aleksandaratanasov commented on #45028
Luckily they main web site was finally updated to provide this information properly. A few days/a week or so ago the automatic selection (CUDA 10) for the installation instructions would show the full command in conda one needs to execute to install PyTorch. Now (even though CUDA 10 is still the default selection) at least we get a message that CUDA 10.x builds will no longer be provided and we sh

[2022-03-29 07:22] MrStarry commented on #45028
我已收到您的邮件，将尽快处理并回复

[2022-03-29 07:37] harryhan618 commented on #74831
@albanD Hello! Sorry I didn't express myself well. I mean during training, after each iteration, normally those intermediate grad_output would automatically get released, if I don't register any full backward hook.

But if I use `register_full_backward_hook`, the created `torch.utils.hooks.BackwardHook` during `_call_impl` still keeps alive after I call `loss.backward()` in each iteration. This le

[2022-03-29 07:50] martinzhang710 opened #74901 "torch.fx.wrap will not work, when encapsulate the code"
### 🐛 Describe the bug

a.py
[code]

setup.py
[code]

python setup.py build_ext --inplace  // get a.so

b.py
[code]

python b.py

a error from _symbolic_trace.py

[code]

### Versions

get a.so file :

python setup.py build_ext --inplace

run b.py file:

pyrhon b.py

[2022-03-29 09:32] hfassold commented on #74604
Good question :-) Actually, both methods (papers [1] and [2], see my original post) are designed to be quite general, could be applied to _any_ model. So a 'general' solution would be great, but from your comments I sense that this is not doable.

An actual _speedup_ with these methods (note the method [1] provides additionally also a better generalization capability) can be only expected  for mod

[2022-03-29 09:51] jwolosiuk commented on #74167
Hi,
I think I have the same problem but I believe that I don't have MKL installed.
At least according to this method: https://gist.github.com/mingfeima/bdfb2db3928ca51b795622b29264ef11, because I don't see any MKL related libs. Or maybe there is some way to check if MKL is used?
Also, installing package `intel-mkl` with `apt` speeds up calculations for any version, but there is proportionally the

[2022-03-29 10:08] hfassold opened #74904 "Adding novel 'AdaFamily' optimizer"
### 🚀 The feature, motivation and pitch

It could be nice to add the novel 'AdaFamily' optimizer (see [1]) to the already available optimizers under 'torch.optim'.
Disclaimer: I am the author of this paper, so I might be a bit biased  :-)

I know the evaluation in the paper is limited, but it seems to give benefits for both normal-size models (ResNet etc.) and also for compact models (MobileNet et

[2022-03-29 10:22] PHaiJun commented on #44851
help! how to solve it?

[2022-03-29 10:34] Rock8090 opened #74905 "Lookup in my code ,i got NameError: name 'x' is not defined"
# Parametric rectified linear unit (PReLU):
def prelu(x,a=0.01):
  return x*a if x < 0 else x

# PReLU derivative:
def prelu_deriv(x,a=0.01):
  return a if x < 0 else 1
print("PReLU of x with a = 0.01:" + str(prelu(x)))
print("PReLU of x if x = -1.0 with a = 0.01: " +(prelu(-1.0)))
print("PReLU derivative of x with a = 0.01: " + (prelu_deriv(x)))
print("PReLU derivative of x if x = -1.0 with a = 0

[2022-03-29 11:10] BorisPolonsky commented on #62313
Similar issue with PyTorch 1.10.0 using dummy model from the following script
[code]

[2022-03-29 13:16] albanD commented on #74905
Hi,

We use github issues only for bugs or feature requests.
Please use the forum to ask questions: https://discuss.pytorch.org/

[2022-03-29 13:16] #74905 closed

[2022-03-29 13:21] albanD commented on #74876
cc @malfet do you think this is actually related to cpuinfo? Should we transfer that issue to that repo?

[2022-03-29 13:27] albanD commented on #74896
Hey!
could you clarify why you're trying to install such an old version of pytorch? Does 1.11, the latest release, works better?

[2022-03-29 13:47] MagiaSN opened #74907 "[Proposal] Use batched oprations to accelerate PowerSGD"
### 🚀 The feature, motivation and pitch

The current PowerSGD implementation iterate over all gradient tensors, Ps, Qs, and operate on single tensor as follows:

[code]

[code]

[code]

[code]

These operations on single tensors may not utilize the GPU due to low parallelism. We have implemented vanilla PowerSGD in `megatron` framework with its own `LocalDDP`, and found GPU usage during PowerSGD c

[2022-03-29 13:59] 0x00b1 commented on #74839
Are you asking about namespaces? If so, I don’t know!

From a user experience perspective, I believe it would make sense to distinguish implicit differentiation operations. However, SciPy’s “optimize” module is nice (especially since it’d encourage the inclusion of constrained and unconstrained minimization operations) but that’s obviously confusing because of the existence of “torch.optim.” I sus

[2022-03-29 14:01] 0x00b1 commented on #74839
Great [paper](https://arxiv.org/pdf/2105.15183.pdf) from Mathieu Blondel, et al. that provides a possible future for JAX. Implemented in [google/jaxopt](https://github.com/google/jaxopt).

[2022-03-29 14:09] mrshenli commented on #48959
Hey @jackshi0912, may I ask have you tried [PyTorch RPC](https://pytorch.org/docs/stable/rpc.html) for distributed RL? Would I be correct that you are using grpc C++ API and hence the Python-Only PyTorch RPC is not a good fit here? Thanks!

[2022-03-29 14:15] albanD commented on #74806
There aren't any plans right now no. The main reason is that we don't have a working design that has low memory footprint, works well in multithreaded environment and is fast.

Could you clarify why you need all of these smaller Tensors to be part of a single big Tensor?

[2022-03-29 14:18] yaadhavraajagility commented on #74853
My bad, I corrected the code. However it still hangs for me. I can't even run the DP example. (Uncomment the other line)

[2022-03-29 14:20] jackshi0912 commented on #48959
@mrshenli I should clarify a bit. We use gRPC because the majority of our infrastructure and robot onboard software is written in C++ and we already use protobuf + grpc for message passing. To interface with the production simulator and onboard environment for RL training, we choose grpc to make the interface consistent with everything else. We can certainly write python wrappers and use alternati

[2022-03-29 14:20] vadimkantorov commented on #69431
I saw somewhere more examples of pytree, so I now understand better that pytree traversal indeed can be used for making this recursive device transfer :) But I would still suggest, that it's a good default behavior for torch.to (to be introduced) without forcing users to make their own pytree'd version.

[2022-03-29 14:35] awgu commented on #74853
When I specified the device for that all-reduce, the DDP example worked for me.
The DP example errors with `RuntimeError: Default process group has not been initialized, please make sure to call init_process_group.`

[2022-03-29 14:36] awgu commented on #74853
The `dist.barrier()` near the end of `dp_toy()` requires a process group to be initialized.

[2022-03-29 15:12] albanD commented on #74839
Hey!

This is challenging for sure. Especially because it is not clear if we would want this set of ops to be in the main repo.
We are discussing working on scientific computing more generally but there isn't any concrete plan at the moment.

[2022-03-29 15:21] albanD commented on #74904
Hi,

Thanks for opening this issue.
We do have some pretty strict rules related to adding new Optimizer/Modules: https://github.com/pytorch/pytorch/wiki/Developer-FAQ#i-have-a-new-function-or-feature-id-like-to-add-to-pytorch-should-it-be-in-pytorch-core-or-a-library-like-torchvision

In particular, this work might be a bit too new to be considered to be added into core just now. And a separate li

[2022-03-29 15:23] alexandrakisin commented on #74896
This is the release that I was asked to install by the developer.
But I also tried different versions including 1.11.0a0 and got the error again :
[code]

[2022-03-29 15:40] vadimkantorov commented on #12760
+ may be good to factor out orthogonalization out of powersgd and put it in a proper function: https://github.com/pytorch/pytorch/issues/74907

[2022-03-29 15:47] mfkasim1 opened #74909 "torch.package fails to import if dataclass and __future__.annotations present"
### 🐛 Describe the bug

The `torch.package` fails to import model if `dataclass` and `__future__.annotations` present.
Here is a minimal example with two files:

`save.py`:
[code]

`load.py`:
[code]

The command `python save.py` would proceed normally without any error, however, when executing `python load.py`, I got this error:
[code]

Some points that I have tried:

* Removing the first line `fr

[2022-03-29 16:29] SherlockNoMad opened #74911 "Include finfo(dtype).[min, max, eps, tiny] in the extremal test case"
### 🚀 The feature, motivation and pitch

In test_unary_ufuncs.py and test_binary_ufuncs.py, (float('inf'), float('-inf'), float('nan')) are listed as extremal test case.

We should extend the test case to include dtype dependent [min, max, eps, tiny].

I tried including these values in the test case, and it exposes 15+ test failures. Some requires more detailed investigation.

### Alternatives

N/

[2022-03-29 16:54] yaadhavraajagility commented on #74853
Odd. Can you tell me your driver / env information? How many A4000's do you have?

[2022-03-29 17:23] albanD commented on #74896
Thanks for the info.
Could you provide more of the build logs please? I don't think the error is in the small snippet you shared.

[2022-03-29 17:29] albanD commented on #74604
I think a simple example that shows this is:
[code]

And it is indeed expected and not something that we can easily change. The autograd works at the Tensor level (the whole Tensor) and so we won't be able to see if only a subset of it is being used.
Masked Tensor does sound like the most promising approach here to be able to skip unnecessary operations. But as Christian pointed out, this will pot

[2022-03-29 17:46] awgu commented on #74853
Sorry that I did not clarify this. I was testing on A100 GPUs, not A4000s. I do not have access to A4000s, but I was thinking that A100s would be a reasonable substitute since they are both following the Ampere architecture.

[2022-03-29 17:54] albanD commented on #74831
Thanks for the details.
- They do get released. They are just kept alive a bit longer alongside the autograd graph.
- We could drop these earlier (just after calling the user function) but that might lead to some weird behavior when there are multiple backward calls done on a single graph.
- This design will not work well for concurrent backward either but that is not new.

I think as long as we c

[2022-03-29 18:07] albanD commented on #74802
Here it is:
[code]

[2022-03-29 18:19] yaadhavraajagility commented on #74853
@awgu I simplified the code even more to:

[code]

And it hangs on `Attempting to put data on gpu` with

[code]

[2022-03-29 18:32] #74682 closed

[2022-03-29 18:36] albanD commented on #74725
Hi,

This is not related to ParameterList but is expected behavior in general.
`autograd.Function` only look at inputs that are Tensors (Parameter is just a Tensor). But if you store your Tensor into any data structure (python list, dict, nn.Module, nn.ParameterList, etc) then these inputs will not be seen by the custom Function.

In this case, you can simply pass in `*self.params0` to unpack the

[2022-03-29 18:36] #74725 closed

[2022-03-29 18:42] pytorch-bot[bot] opened #74914 "DISABLED test_script_module_construction (__main__.TestJitDisabled)"
Platforms:

This test was disabled because it is failing in CI. See [recent examples](http://torch-ci.com/failure/test_script_module_construction%2C%20TestJitDisabled) and the most recent trunk [workflow logs](https://github.com/pytorch/pytorch/actions/runs/2059985905).

Over the past 3 hours, it has been determined flaky in 1 workflow(s) with 1 red and 3 green.

[2022-03-29 18:43] albanD commented on #74742
Hi,

I think the custom Function is the right way to go here:
[code]

I didn't run the code so you might need to clean up some typos there.
For more details on how to write custom Functions see https://pytorch.org/docs/stable/notes/extending.html

[2022-03-29 18:43] #74742 closed

[2022-03-29 18:50] albanD commented on #73972
Hey!

Torchscript support is not something we looked at at all. So it is "expected" not to work today.
Is there any reason why you need to use torchscript? Can you just use regular pytorch here?

[2022-03-29 18:57] albanD commented on #74022
Yes updating the doc to avoid confusion sounds like the right way to go here!
Happy to handle the landing of the PR once you've reviewed it!

[2022-03-29 19:27] awgu commented on #74853
I see. Unfortunately, I cannot reproduce the error in my environment. For what it is worth, the general recommendation is to use DDP, not DP. I am sorry that I cannot be of more help.

[2022-03-29 19:30] H-Huang commented on #74824
For some reason, MASTER_ADDR is not being set correctly under `elastic/agent/server/api.py`, The IP address is being encoded but not decoded? Looping in Pytorch R2P team to investigate

[2022-03-29 19:43] awgu commented on #74724
Perhaps, take a look at the section titled "General semantics": https://pytorch.org/docs/stable/notes/broadcasting.html

Let me know if this does not clarify things.

[2022-03-29 20:10] cpuhrsch opened #74916 "Virtualize TensorImpl::Layout for sparse formats"
### 🚀 The feature, motivation and pitch

## Summary

We want (and should) support all of CSR, CSC, BSR and BSC using just SparseCsrTensorImpl.

We currently have a [many-to-one relationship between dispatch keys and layouts](https://github.com/pytorch/pytorch/blob/master/c10/core/TensorImpl.h#L993-L1004).

[code]

Each of the "is_*" methods checks whether the TensorImpl has one of a certain set of

[2022-03-29 20:18] cpuhrsch commented on #74916
cc @ezyang @albanD @pearu @IvanYashchuk

[2022-03-29 20:24] janeyx99 commented on #74304
Dead man switch inadvertently exists since GH1 merges can't go through during these outages (as they rely on GHAs).

[2022-03-29 20:27] qysnn commented on #21819
I have the same issue with `PyTorch 1.11.0` `CUDA 11.1` on 8 Tesla V100 cards. The `dmesg` shows `NVRM: Xid (PCI:a67f:00:00): 31, pid=15342, Ch 00000010, intr 00000000. MMU Fault: ENGINE GRAPHICS GPCCLIENT_T1_11 faulted @ 0x7f95_4afff000. Fault is of type FAULT_PDE ACCESS_TYPE_VIRT_READ`.

There are some [related discussion](https://forums.developer.nvidia.com/t/will-the-fault-pde-access-type-read

[2022-03-29 20:30] albanD commented on #74222
Here are two simple ways to do this today if you need it:
[code]

[2022-03-29 20:30] yaadhavraajagility commented on #74853
Okay, I figured it out. I had to add
[code]
to `/etc/default/grub` and `sudo update-grub` and reboot the system and now it works

[2022-03-29 20:30] #74853 closed

[2022-03-29 20:32] #71297 closed

[2022-03-29 20:45] SamTov commented on #74839
It would be nice to see a way forward for having more scientific computing driven libraries for torch as they are split up in the Jax repos but that will depend on the direction it will be taken.

In the meantime, I am interested in general at the root-finding problem in torch. so if you have somewhere in mind where I can put it I will give it a try, but otherwise I can also just dump it here.

[2022-03-29 20:55] h6197627 commented on #35191
Closed in #74063

[2022-03-29 20:55] #35191 closed

[2022-03-29 21:24] ngimel commented on #74911
Numeric failures with extreme values are not surprising, and many tests are already skipping extremal value testing for this reason (which is a shame, skipping it completely isn't what we want to do)

[2022-03-29 22:15] mohbattharani commented on #52736
I have CUDA 11.4, Drivers: 470.86, PyTorch: 1.11.0+cu102
I got the same msg after running the code for a while.

[2022-03-29 22:23] Varal7 commented on #64729
Yes, no need to worry about asynchronous execution. The operations are enqueued synchronously (and dequeued in the order they are enqueued), and PyTorch handles the synchronization across devices when needed, so from our perspective, it is as if everything was synchronous.

[2022-03-29 22:30] mszuyx commented on #74724
@awgu thx!

[2022-03-29 22:30] #74724 closed

[2022-03-29 23:32] kurtamohler opened #74933 "Combine `torch._UntypedStorage` and `torch.cuda._UntypedStorage`"
Follow up from #66228.

Currently, `torch._UntypedStorage` and `torch.cuda._UntypedStorage` are different classes. They should be combined into one class that encapsulates the functionality of both. `torch._TypedStorage` is already set up this way.

Once this is done, `getPyTypeObject()` and all the stuff related to registering different storage types in `torch/csrc/DynamicTypes.cpp` can be remove

[2022-03-30 00:08] KevinYuk opened #74935 "[RFC]A suggestion of channels last memory format implementation for 3D tensor"
### 🚀 The feature, motivation and pitch

## **Motivation**
Pytorch has already supported ChannelsLast(2d) for 4D tensor(N, C, H, W) and ChannelsLast3d for 5D tensor(N, C, H, W, D), but doesn't support ChannelsLast1d for 3D tensor(N, C, L). See below:

**ChannelsLast for 4D tensor works fine:**
[code]
**ChannelsLast for 5D tensor works fine:**
[code]
**ChannelsLast for 3D tensor doens't work:**
[co

[2022-03-30 00:26] nkaretnikov commented on #71673
back to working on this

[2022-03-30 00:55] nkaretnikov commented on #71673
another example based on the info from the blog post:

[code]

[2022-03-30 01:01] vadimkantorov opened #74937 "[docs] RandomSampler has unrendered back-ticks"
### 🐛 Describe the bug

![image](https://user-images.githubusercontent.com/1041752/160730297-831a4079-e894-4d53-916f-b6fd90c94b28.png)
It may be nice to have a linter about unredered backticks

### Versions

N/A

[2022-03-30 01:06] xichaoqiang opened #74940 "Is there any bessel function about J0 J1 J2 H0 H1 H2 in libtorch library?"
### 🚀 The feature, motivation and pitch

There is modifed bessel function I0 and I1 in  special.h.
But it seems still lack some other bessel function.

### Alternatives

_No response_

### Additional context

_No response_

[2022-03-30 01:08] Hamidreza-Ramezani commented on #64477
Hi @jiafatom

I was wondering if there is any update regarding this thread?

[2022-03-30 01:29] innerlee opened #74942 "Store SourceDataset in MapDataset using pointer"
### 🚀 The feature, motivation and pitch

I'm using the c++ frontend and generating custom dataset classes through a factory. I'm getting pointers to my BaseDataset class from the factory and I cannot use `MapDataset` on the produced datasets because MapDataset stores classes instead of pointers at this line https://github.com/pytorch/pytorch/blob/master/torch/csrc/api/include/torch/data/datasets/m

[2022-03-30 01:38] fduwjj commented on #74809
This looks like a bug, thanks for reporting that.

[2022-03-30 02:10] Chillee opened #74943 "Calling `torch.ops.aten.add_` is ludicrously slow"
### 🐛 Describe the bug

Calling `torch.ops.aten.add_`, whether on CPU or CUDA, is orders of magnitude slower than calling `Tensor.add_`.

[code]

results in
[code]

Getting a profile reveals that the tensor appears to be getting printed somehow
[code]
<img width="1112" alt="image" src="https://user-images.githubusercontent.com/6355099/160736562-6f5e98c0-666d-4a3a-b205-54aa75845f86.png">

cc: @jans

[2022-03-30 02:13] speedcell4 commented on #74806
Isn't the version counter tracking of advanced indexing already fine-grained enough? I guess applying the same mechanism to slicing will be just fine?

Basically, it is for building a reduction algorithm, e.g., a tree-based reduction.

[2022-03-30 02:16] Chillee commented on #74943
From @albanD

[code]

Hmm.. perhaps the issue here is that we try to parse_args for the inputs, it throws an error that prints out the tensor, and then gets caught?

[2022-03-30 02:29] nkaretnikov commented on #71673
more in-progress debugging:

if we just look at `x[:,:,0]` first, which is part of the proposed solution for the test case above, in `handleDimInMultiDimIndexing`, it goes to the `index.is_integer()` case right away (because there are no tensor arguments or indexes in general) and the following arguments are set as follows:

[code]

now, for `x[m, 0]` it goes to the `index.is_tensor()` branch firs

[2022-03-30 02:58] #65884 closed

[2022-03-30 04:15] tvogels commented on #65813
The proposal #74907 should also be considered in this effort.

[2022-03-30 04:51] tvogels commented on #12760
@vadimkantorov, factoring out orthogonalization from PowerSGD is a good idea, but the orthogonalization operation there is currently much slower than it could be. Based on recommendations in the appendix of [this paper](https://arxiv.org/abs/2102.12092) (and with help from one of the authors), @younik is currently looking into replacing it with a custom CUDA kernel for the Householder method. It i

[2022-03-30 05:05] #74238 closed

[2022-03-30 05:06] #74302 closed

[2022-03-30 05:16] jaketae commented on #74593
Hello @jiyoonlim123,

I wasn't able to reproduce the error. [Here](https://colab.research.google.com/drive/1s0b5y90tLh5x_GqlsPaNRWfWRsgRSvFF?usp=sharing) is a link to a fresh Colab notebook running on torch 1.10. Could you perhaps try bumping your torch version to a more recent one to see if the issue still persists?

[2022-03-30 05:34] jaketae commented on #74303
Hey @zikpefu, did you get a chance to work on this? If not, I would like to give it a try. Let me know if you're still on it or plan on getting it done soon!

[2022-03-30 06:54] yunfanjiang commented on #16453
Want to bump this issue!

[2022-03-30 09:00] rohan-varma commented on #74588
Thanks for raising this @lessw2020 and for pinging it @fduwjj!

Overall, yes we are aware of this issue and my understanding is that @mrshenli has been working with @lessw2020 on these benchmarks to evaluate CPU offload overhead with the optimizer.

We have a couple of proposals we are discussing internally which the core FSDP developers are aware of, and we can aim to put out an OSS RFC once the

[2022-03-30 10:08] yingzewen commented on #65027
I have the same problem.

tips:
CUDA Version: 11.2
torch                   1.9.0
torchvision             0.10.0

[2022-03-30 10:35] j-adamczyk opened #74949 "Building from source does not respect USE_MKLDNN flag"
### 🐛 Describe the bug

`I try to get PyTorch CPU only with MKL-DNN support. In case of Ubuntu Linux 20.04 and Python 3.8 I get `USE_MKL=ON, USE_MKLDNN=OFF` in `print(torch.__config__.show())`, so I tried building from source.

Environment: Anaconda, installed `numpy`, `mkl`, `mkl-dnn` and `onednn` packages.

Command used to build PyTorch: `USE_MKL=1 USE_MKLDNN=1 python setup.py install`. I also t

[2022-03-30 11:04] yktangac commented on #69894
Same Issue with me:
File "/opt/conda/lib/python3.7/site-packages/torch/utils/tensorboard/__init__.py", line 4, in <module>
    LooseVersion = distutils.version.LooseVersion
AttributeError: module 'distutils' has no attribute 'version'
Python 3.7.10 (default, Feb 26 2021, 18:47:35)
[GCC 7.3.0] :: Anaconda, Inc. on linux
Type "help", "copyright", "credits" or "license" for more information.

'1.9.0'

[2022-03-30 11:04] zikpefu commented on #74303
@jaketae Hey Jake, I'm still planning on working on it, and I should be done by this weekend (with school and life). I need this contribution for my class assignment if you don't mind?

[2022-03-30 11:23] alexandrakisin commented on #74896
I've attached the log which I've created during the "python setup.py install" command
[log.txt](https://github.com/pytorch/pytorch/files/8379972/log.txt)

[2022-03-30 11:29] rafariossaa opened #74950 "No support for AVX512 in torch 1.11.0+cpu python package"
### 🐛 Describe the bug

When running the following small check in a m6i AWS instance, I got in the output that it is not using **AVX512**.
[code]
but it is ok with `v1.10`:
[code]

My guess is that this is related with https://github.com/pytorch/pytorch/pull/66703 .
For a comment in the code in that PR, it seems that now it is needed gcc 9 but torch v1.11 was compiled with gcc 7.3.

### Versions

[2022-03-30 11:35] yktangac commented on #69894
I followed [Mayankm96](https://github.com/Mayankm96)'s solution. It worked but I have no idea what's going on.
I could run tensorboard few days ago, but I met this error today.

[2022-03-30 11:36] rafariossaa commented on #74949
Hi,
  This also has happened to me with python 1.11.0 in debian 10.

[2022-03-30 12:08] nikitaved opened #74951 "`coalesce` to support `dim` argument."
### 🚀 The feature, motivation and pitch

`coalesce`, when run on a sparse tensor, not only removes duplicates, but it also sorts indices in the first dimension (`dim=0`).
Having indices sorted in a specific dimension with coalesced values provides an additional structure that could be exploited to dramatically speed up functions that operate over this dimension (no need to sort to perform intersec

[2022-03-30 12:49] TheGreatGalaxy commented on #73829
My cuda is 11.4. I will try with cuda 11.1. Thanks!

[2022-03-30 12:52] j-adamczyk commented on #74949
I can also confirm that PyTorch CPU wheels for Python 3.7 and 3.9, both `pip` and `conda`, are built with MKL, but without MKL-DNN support.

[2022-03-30 13:00] nikitaved opened #74952 "[feature request] Make certain index operations take more advantage of the multicore environment."
### 🚀 The feature, motivation and pitch

Some indexing operations, like `index_select/index_fil` and `gather/scatter`-like not always run in parallel when they actually could benefit from additional parallelization, this especially concerns indexing into 1D tensors.

For example:
`index_select` is serial in its implementation.
`index_fill` and `gather/scatter`-like operations, even though are impl

[2022-03-30 13:23] janvainer opened #74953 "LSTM quantization fails if proj_size > 0"
### 🐛 Describe the bug

Hi, dynamic quantization of LSTM fails if `proj_size > 0`. Reproducible example:
[code]

The error is
[code]

### Versions

Running `torch==1.11.0` but also happens on `torch.1.10.0`

[2022-03-30 13:53] ezyang commented on #74802
We had an internal user who wanted to do something similar so I think it's worth recording this recipe durably somewhere.

[2022-03-30 14:19] zengk95 opened #74955 "cmake dependency causing failures on Windows Builds"
## Current Status
Root cause has been determined and currently trying to land fix in #74954

## Error looks like
[code]

## Incident timeline (all times pacific)

<details>
<summary> Click for example </summary>

- 3/29 10PM CST First error on HUD
- 3/30 6AM CST  First alert fired
- 3/30 8AM CST Responded and started debugging
- 3/30 9:15 CST Found issue and attempting to fix

</details>

## User

[2022-03-30 14:25] mfkasim1 opened #74956 "Allow `torch.package` to accept `*.pyc` files"
### 🚀 The feature, motivation and pitch

I'm working on making an executable python program to train a model and produce the trained model.
The python program is made executable using pyinstaller which compiles the source code into byte code (which can be written in `*.pyc` files.
I'm thinking of having the trained model as a package from `torch.package`, however, currently `torch.package` cannot

[2022-03-30 14:29] dzdang commented on #74805
Did you upgrade your macOS recently? I noticed this error after I upgraded macOS, I think. I have no issues compiling the latest on any of my linux machines

[2022-03-30 14:39] jaketae commented on #74303
Sure, by all means go for it! Good luck on the assignment.

[2022-03-30 14:42] ankitabuntolia commented on #70524
so what's the outcome? I also did not add this in my custom dataset (as it's not part of the PyTorch tutorial for custom Dataset, but I am getting this error. How can I get rid of this error?

[code]

[2022-03-30 15:21] cxhernandez commented on #61470
Is implementing `weight_norm` as a parametrization on the roadmap for a future release? I'm hitting this exact issue now and it'd be great to have this fix!

[2022-03-30 15:23] sataliulan opened #74957 "Does pytorch1.11 support pypy3.7 interpreter？"
### 🚀 The feature, motivation and pitch

Hi there， as mentioned above，I want to know that if pypy3.7 interpreter (or above version) is supported by pytorch1.11，as pypy interpreter is known for its speed.

### Alternatives

_No response_

### Additional context

_No response_

[2022-03-30 15:56] ezyang commented on #74916
I want to add a few extra constraints to the discussion here.

* I want the virtualization mechanism used here to be compatible with `__torch_dispatch__` users; in particular, wrapper semantics will want to forward the layout request to the inner tensor. To do this, we cannot use a stock virtual method; instead, we should go through the dispatcher when going through the slow path.
* I want a simpl

[2022-03-30 16:13] cpuhrsch commented on #74916
@ezyang - are you ok with what we have planned now and doing this later?

[2022-03-30 16:14] lessw2020 commented on #74588
Hi @rohan-varma  - I would love to be involved on the discussions for both approaches.  Thanks for the updates here and will ping you internally.

[2022-03-30 16:39] vitrioil commented on #71636
Looks like this is for integer only.

I was just going through this issue, it looks like there was a change made in PR #61698 for the issue #61656.

Change introduced was, for empty input, return:
[code]
It looks like quiet_NaN is being converted to int here specifically. Which should be the issue I think as NaN cannot be an integer.
[code]
`test_int` will have value of integer 0.

As mentioned in

[2022-03-30 16:44] aphedges commented on #74805
@dzdang, I haven't updated to a new major macOS version recently (my update to Big Sur was in October), but this is the first time I've tried to build PyTorch since mid-2020. The configuration that broke the build was added only 2 weeks ago, so it may or may not be related to your upgrade.

[2022-03-30 16:46] ghostplant commented on #74802
@albanD I just found an issue.

If fn_1 & fn_2 are just functional ops not working with models' parameter, it works well and correct. But if the function (like a lambda function) needs to matmul some model's paramters, **the loss value in the 2nd training step would be not equivalent with the standard way** that I sequentially execute those 2 functions outside. Why was that?

Maybe this is also th

[2022-03-30 16:48] arunppsg commented on #74811
I tried a very naive method of fixing it: found the missing linker library `lmkl_intel_ilp64` at `/Users/arun/miniconda3/lib/` and moved it to the `libtorch/lib` folder hoping that linker will be able to find it but it didn't work.

Is there someway I could add a debug option to the linker command or modify it? Sorry if this is a naive question.. This is the first time I am coming across cmake, li

[2022-03-30 16:55] #74751 closed

[2022-03-30 17:19] davidberard98 commented on #74914
[code]

[2022-03-30 17:24] davidberard98 commented on #74914
`Signals.SIGBUS: 7` - looks like some sort of transient memory error.

Closing issue, will take another look if it ever fails again.

[2022-03-30 17:24] #74914 closed

[2022-03-30 17:25] albanD commented on #74802
Hey!
If your function captures some Tensors that are not inputs to the custom Function then you will have to use ".backward()" to make sure that all such Tensor do get gradients. You can replace the backward function as follows:
[code]

[2022-03-30 17:35] albanD commented on #74811
From the logs above, it looks like you are using an x86 version of python (which runs through mac's conversion layer I guess)?
Is there any specific reason why you're not using an arm64 version of python directly?

[2022-03-30 17:54] jaketae commented on #70524
The conclusion is that this is not a bug. My humble suggestion is that you open a separate issue containing your source code and the above traceback!

[2022-03-30 17:54] #74068 closed

[2022-03-30 17:57] ezyang commented on #74916
Virtual function is OK for now, since it looks like `is_contiguous` on TensorImpl is done the same way. However, `contiguous` on Tensor is the way I'd like things to look eventually everywhere.

[2022-03-30 18:02] ipostr08 commented on #73764
This problem was mentioned in a few other issues like https://github.com/pytorch/pytorch/issues/18631 but it hasn't been fixed. As I wrote in the other issue, group convolutions are very commonly used in research papers, so it's unfortunate that this issue is still present.

[2022-03-30 18:08] cpuhrsch commented on #74916
Ok, thanks @ezyang!

@pearu could you take a stab at implementing this?

[2022-03-30 18:11] PaliC opened #74964 "Add Unit Tests for Torch.Package Subclasses [Waiting on changes to land]"
[Torch.package ](https://pytorch.org/docs/stable/package.html) is a handy tool to serialize and deserialize python code. It works as you expect a packager to but with the added benefit of also saving the actual code itself when desired. It was primarily designed with the intention of being the delivery mechanism for [torch::deploy](https://github.com/pytorch/pytorch/blob/master/docs/source/deploy.

[2022-03-30 18:31] malfet opened #74967 "Linux CUDA builds are failing due to missing deps"
## Current Status
*Status could be: ongoing*.

## Error looks like
CUDA linux builds fail with:
[code]

[2022-03-30 18:34] malfet opened #74968 "Linux CUDA builds are failing to configure the system"
## Current Status
*ongoing*.

## Error looks like
All Xenial based builds are failing with:
[code]

## Incident timeline (all times pacific)
*Include when the incident began, when it was detected, mitigated, root caused, and finally closed.*

<details>
<summary> Click for example </summary>

e.g.
- 10/30 7:27a incident began
- 10/30 8:30a detected by <method>
- 10/30 9:00 pm root caused as…
- 10/3

[2022-03-30 18:51] awgu opened #74970 "`dim` argument for `DDP` is not documented"
### 📚 The doc issue

https://pytorch.org/docs/stable/generated/torch.nn.parallel.DistributedDataParallel.html#torch.nn.parallel.DistributedDataParallel

The `DistributedDataParallel` constructor takes in an argument `dim=0` that is not documented. It seems to be used for scatter and gather, which are also not documented.

### Suggest a potential alternative/fix

Add some explanation for `dim`, `sc

[2022-03-30 18:52] #74967 closed

[2022-03-30 18:53] malfet commented on #74957
Closing as duplicate of https://github.com/pytorch/pytorch/issues/17835

[2022-03-30 18:53] #74957 closed

[2022-03-30 18:57] davidberard98 commented on #74112
Thanks for the report @alanhdu.

A few more details here:
This is an issue with `_save_to_state_dict`. In `torch.nn.quantized.Linear`, a custom `_save_to_state_dict` implementation is defined. In order for it to be recognized by jit, it needs to be exported with `@torch.jit.export`. e.g., [here](https://github.com/pytorch/pytorch/blob/9233af181f5459793885ed9ddb1fdddcb543fd44/test/jit/test_module_a

[2022-03-30 20:08] lucky6qi commented on #74454
so if pytorch version is 1.9x would need torch-sparse==0.6.12
torch-sparse==0.6.13 The minimum PyTorch version required is now indeed PyTorch 1.10.0
https://github.com/rusty1s/pytorch_sparse/issues/207

[2022-03-30 20:10] #74955 closed

[2022-03-30 20:13] cpuhrsch commented on #74454
@lucky6qi - Out of curiosity, what prevents you from upgrading to 1.11.0?

[2022-03-30 20:18] seemethere commented on #74968
As a follow up we should probably just remove any instance of `apt-get update` or `apt-get install` inside of our CI scripts in general

[2022-03-30 20:20] seemethere commented on #74968
Issue appears to not be limited to 16.04 and is also applying to 18.04 as well

[2022-03-30 20:30] nkaretnikov commented on #74952
will work on this once i'm done with other ongoing work (2 weeks+)

[2022-03-30 20:35] malfet commented on #74968
Yeah, looks like entire https://developer.download.nvidia.com/compute/machine-learning/repos/ is experiencing some some problems

[2022-03-30 21:05] jerryzh168 commented on #61246
we are planning to deprecate this API and use backend_config_dict instead

[2022-03-30 21:24] jykr commented on #42407
Has this issue been addressed?

[2022-03-30 21:29] xuzhao9 commented on #74752
I run the benchmark locally, but couldn't reproduce it:
[code]

There is no significant CPU wall time difference before and after the PR.
Furthermore, I confirm that GeLU is not used in dcgan. Therefore, this is likely caused by noise in our benchmarking environment. Therefore, I am closing this issue.

[2022-03-30 21:29] #74752 closed

[2022-03-30 21:37] seemethere commented on #74968
Also resolved with https://github.com/pytorch/builder/pull/1008

[2022-03-30 21:38] seemethere commented on #74968
Re-opening since other users may be experiencing this as well

[2022-03-30 22:03] ptrblck opened #74985 "cmake==3.23.0 breaks the build with `CMAKE_CUDA_COMPILE_WHOLE_COMPILATION`"
### 🐛 Describe the bug

Updating `cmake` to `3.23.0` seems to break the current build and fails with:
[code]
Steps to reproduce:
* `conda install cmake==3.23.0`
* `python setup.py develop`

Downgrading to `cmake==3.22.3` seems to solve this issue.

Unclear what's causing the failure, so I'll try to dig more into it, but wanted to share the workaround in case more users are hitting the issue.

###

[2022-03-30 22:19] malfet commented on #74985
See also: https://github.com/pytorch/pytorch/issues/74955

[2022-03-30 22:19] crcrpar commented on #74985
fyi: https://gitlab.kitware.com/cmake/cmake/-/issues/23368

[2022-03-30 22:35] malfet opened #74990 "clang_format failures are not reported as failures"
### 🐛 Describe the bug

See https://github.com/pytorch/pytorch/runs/5762430481?check_suite_focus=true

It clearly indicate, that check have failed, but it was reported back as green

### Versions

N/A

[2022-03-30 22:37] zou3519 opened #74991 "Tensor Subclass not preserved for Tensor subclasses created via inheritance of a TensorImpl subclass"
### 🐛 Describe the bug

When one creates a torch_dispatch Tensor Subclass [via inheritance](https://github.com/albanD/subclass_zoo/blob/main/trivial_tensors.py#L44) of a special TensorImpl (like QTensorImpl, SparseTensorImpl), calling a view function on the Tensor Subclass returns a regular Tensor and fails to preserve the Tensor Subclass.

Found while @Chillee and I were digging into https://gith

[2022-03-30 22:41] cbalioglu commented on #74143
@edwardjhu @thegregyang I just sent you an invite to the torchdistx repo. Please reach out to me either over PyTorch's Slack channel or over cbalioglu at fb.com to chat about the feature. Since the docs are not "rendered" yet, you might need some help to locate them.

[2022-03-30 22:53] malfet commented on #74985
Please note, that `cmake`=3.23 is yet not available in [conda](https://anaconda.org/anaconda/cmake) only in [conda-forge](https://anaconda.org/conda-forge/cmake)

[2022-03-31 00:45] #70878 closed

[2022-03-31 00:45] #70876 closed

[2022-03-31 00:45] #70874 closed

[2022-03-31 01:47] ezyang commented on #74991
Some discussion about shallow copy and detach at https://github.com/pytorch/pytorch/issues/59049 . Seems like we should be able to do it (replace it with detach)

[2022-03-31 01:49] KyleCZH opened #74995 "test_post_localSGD_optimizer_parity_with_hierarchical_sgd error"
A recent PR https://github.com/pytorch/pytorch/pull/74668 created a few new test cases including:
test_post_localSGD_optimizer_parity_with_hierarchical_sgd (__main__.TestDistBackendWithSpawn)
test_post_localSGD_optimizer_parity_with_hierarchical_sgd_grad_is_view (__main__.TestDistBackendWithSpawn)

which raises errors with machines that have 4 ROCm GPUs

full log: https://ossci-raw-job-status.s3.a

[2022-03-31 02:06] wukong1992 commented on #74404
[https://github.com/pytorch/pytorch/pull/74997](url)

[2022-03-31 02:20] fritzo commented on #42407
@jykr go for it, we welcome contributions, and I'm happy to review any attempt at a PR 😄

[2022-03-31 02:39] #70422 closed

[2022-03-31 04:01] XiaobingSuper commented on #74949
@j-adamczyk , there has PR https://github.com/pytorch/pytorch/pull/75001 to fix it.

[2022-03-31 04:03] davidberard98 opened #75002 "JIT autocasting fails on Optional[Tensor]"
### 🐛 Describe the bug

The autocasting pass does not insert autocasting nodes for optional tensors.

[code]

Output:
[code]

### Versions

AWS cluster, master branch

[2022-03-31 05:09] nkaretnikov commented on #71673
more in-progress debugging:

managed to "fix" the repro mentioned above (`x[m,0]`), but that broke the two-tensor indexing case from ed's post (`x[t1,i1,t2,i2]`). fun fact: the two-tensor indexing case seems to work fine as is on `viable/strict`. not sure what the difference is between these two cases. maybe the difference in dimensions between self and masks?

my wip code is a mess, so i don't ev

[2022-03-31 05:36] borisfom opened #75004 "ONNX export regression in main (NVIDIA pytorch container 22.03)"
### 🐛 Describe the bug

A number of nets that exported fine with NVIDIA pytorch container 22.02, are now failing to export with diagnostic:
[code]
I was able to track one of those error down and fixed it with the diff below.
It appears exporter gets confused about device placement of inline constants (?) as well as class attributes that are scalars, not proper Variables. Below, both literal 0 and

[2022-03-31 05:39] ghostplant commented on #74802
If I want to reorder them in backward, is it possible to work like this:
torch.autograd.backward((None, ctx.y_1), (None, dy_1))
torch.autograd.backward((ctx.y_0, None), (dy_0, None))

[2022-03-31 05:54] Hikaru-13915 opened #75005 "Cannot create TorchScript file after converting into a quantized model"
### 🐛 Describe the bug

I've been trying to save TorchScript whose model is converted int model using torch.quantization(for short as tq, tq.prepare and tq.convert) only to find this won't work.
This maybe caused by the forward function in ConvReLU2d, which is suggested with an error below.
[code]

[code]
and I used a model like
[code]
After defining the model, wrapped it up with lightning_module

[2022-03-31 05:58] Hikaru-13915 commented on #75005
In this situation, the model is meant for mnist. Therefore, the `sample_image` is `torch.rand(1,1,28,28)`

[2022-03-31 06:04] wayi1 commented on #73382
Another nice usability improvement is renaming `PostLocalSGDOptimizer` as `ModelAveragingOptimizer`, since it can only only support post local SGD, but also (post) hierarchical SGD.
cc: @rohan-varma @mrshenli

[2022-03-31 06:04] #73382 closed

[2022-03-31 07:39] aksenventwo opened #75009 "torch.fake_quantize_per_tensor_affine will affect the results of the model if the input memory is not contiguous"
### 🐛 Describe the bug

When I'm quantizing shufflenet in torchvision, `torch.fake_quantize_per_tensor_affine` will affect the results of the model if the input memory is not contiguous. Affected also include `torch._fake_quantize_learnable_per_tensor_affine` api.

I am using version 1.8.1+cu11, I guess the latest version should also have this problem.

[Shufflenetv2](https://github.com/pytorch/vi

[2022-03-31 07:50] j-adamczyk commented on #74949
@XiaobingSuper I have seen that PR, does this really fix this? I am using no Caffe here, and as far as I can tell that PR only works for Caffe.

[2022-03-31 08:06] Keiku commented on #69894
I have the same phenomenon as yktangac. What is the cause?

[2022-03-31 08:11] godelshana commented on #42824
are there alternatives to get accurate layer-wise runtime profiling？it is import to locate the bottleneck，and speed up the module by wiriting cuda kernels。

[2022-03-31 08:25] XiaobingSuper commented on #74949
@j-adamczyk , it is not related  to caffe2, **torch.config** always use the [caffe2/core/macros.h.in](https://github.com/pytorch/pytorch/pull/75001/files#diff-8637461d7f14837b5fe5529efca24061d339ed1ce381bec0731556bf85c894e2) to collect building settings even you don't building caffe2.

[2022-03-31 08:38] janhuenermann commented on #74809
@fduwjj Thanks for checking. Can you please tell me why there's a timeout? I'm not seeing any reason for a deadlock here.

[2022-03-31 08:51] ptrblck opened #75011 "`TORCH_DISTRIBUTED_DEBUG=DETAIL` raises runtime errors in ddp tests"
### 🐛 Describe the bug

While debugging I've exported a few env variables including `TORCH_DISTRIBUTED_DEBUG=DETAIL` and noticed that a lot of ddp tests started to fail suddenly and was able to narrow it down to the usage of `TORCH_DISTRIBUTED_DEBUG`.

Code to reproduce:
[code]

Unsure if this env variable should *not* be used while executing tests and if this might thus be an expected failure.
In

[2022-03-31 09:06] j-adamczyk commented on #74949
@XiaobingSuper that's good to know, I had no idea, I'll try this PR changes locally to check if this fixes this issue

[2022-03-31 09:19] carter54 commented on #66365
I'm facing the same issue...
RuntimeError: Unsupported prim::Constant kind: `ival`. Send a bug report.

[2022-03-31 09:20] #71131 closed

[2022-03-31 09:27] ptrblck commented on #75011
Also reproduced with a clean master build from `1.12.0a0+bd13bc6` to make sure the (unrelated) debugging changes didn't introduce the issue.

[2022-03-31 09:42] sumorday commented on #5554
output1.view(1, -1)

try this

[2022-03-31 11:15] ph-code-repo commented on #74985
I am still getting this issue this morning, and will be trying the downgrade option mentioned in OP.

[2022-03-31 11:28] charliebudd commented on #72712
So I went ahead and solved this in what I think is a suitable way. I now host an open source github workflow [here](https://github.com/charliebudd/torch-extension-builder). Devs can call the workflow from there own CICD pipelines. The workflow then builds the code for each version of CUDA and PyTorch currently supported. These then get slimmed down by removing dependancies from the wheel that will

[2022-03-31 11:33] Meshreki commented on #48010
Hi @mruberry, any update if the issue is fixed?

Cheers,
John

[2022-03-31 12:18] pearu commented on #74916
Instead of introducing a bunch of `is_sparse_xyz()` methods for xyz in {csc, bsr, bsc}, what do you think about introducing a single method `has_layout(layout)` along the lines of the virtualizing layout() method discussed here?
The `is_sparse_xyz` tests would be implemented as (pseudo-code follows):
[code]
both for Python as well as C++ API. What do you think?

[2022-03-31 12:27] vadimkantorov commented on #73466
These download utilities are probably useful across all domain libraries, so makes sense to unite them in core

[2022-03-31 12:43] arunppsg commented on #74811
Oops, all this time I was using the python distribution from conda - not the arm64 version of python. I didn't know that the python distribution from conda was an intel one and it probably did not go through the conversion layer. I deactivated the conda environment and ran the commands and it worked. Thanks!

[2022-03-31 12:43] #74811 closed

[2022-03-31 13:15] vivekkhandelwal1 opened #75015 "Inconsistency with the definition of aten::index_put.hacked_twin op"
### 🐛 Describe the bug

Hi!

The definition of `aten::index_put.hacked_twin` op is inconsistent. The `indices` argument is declared to be of `TensorListType` https://github.com/pytorch/pytorch/blob/3024bcfff5c5e497b602063dc2d948a4d4c10155/torch/csrc/jit/runtime/register_prim_ops.cpp#L1022
but it's getting casted into a `OptionalTensorListType` https://github.com/pytorch/pytorch/blob/3024bcfff5c5e4

[2022-03-31 14:35] anjali411 commented on #48010
can still repro this on master. we will accept a PR fixing this!

[2022-03-31 14:41] albanD commented on #42824
Now that we have working backward hooks, we could definitely extend them to also have `pre_full_backward_hook`.

[2022-03-31 14:51] zikpefu opened #75018 "RuntimeError: aten::grid_sampler_2d_backward() is missing value for argument 'output_mask'."
### 🐛 Describe the bug

When training the network stylegan3-t from Nvidia: https://github.com/NVlabs/stylegan3 with command: `python train.py --outdir=training-runs-anime --cfg=stylegan3-t --data=dataset/anime_dataset.zip --gpus=1 --batch=32 --gamma=0.5 --mirror=1`

I get the following error:
[code]

I will say that this did work for me before on a previous version of pytorch but I forgot which ve

[2022-03-31 14:54] gchanan commented on #74951
Wouldn't this be backwards incompatible?  Because previously if `coalesced` was true you could assume it is sorted.

[2022-03-31 15:07] albanD commented on #74943
From @ngimel comments offline:

In 2 places in pybind utils we are getting a string representation of unlucky tensor that cannot be shoehorned into schema, with all the slicing that's required for that, this diff kinda fixes it
[code]

[2022-03-31 15:08] albanD commented on #74943
I don't think we need these anymore now that torch_dispatch moved to use the overload specific functions.

[2022-03-31 15:36] H-Huang commented on #75011
I can repro this as well. Entire FSDP test suite is failing when `TORCH_DISTRIBUTED_DEBUG` is set, while they pass when the env variable is omitted.

cc @cbalioglu @rohan-varma is this related to the recent `TORCH_DISTRIBUTED_DEBUG` refactor?

cc @zhaojuanmao @awgu due to FSDP test (but I think this issue is relevant to more than just FSDP)

[2022-03-31 15:43] albanD commented on #74991
There are some major API differences between the two today though (in particular the allow_metdata_change flag) that needs to be fixed first (removed?).

[2022-03-31 15:44] albanD commented on #74890
Thanks @LemonPepperSeasoning
I'm afraid there isn't much to be done here until we hear back from the Infra team on what was the exact reason for adding this line.

[2022-03-31 15:44] harryhan618 commented on #74831
@albanD  Sorry, could you check again whether `torch.utils.hooks.BackwardHook` does get released after each 'loss.backward()'? Because in each iteration, after `loss.backward()`, `torch.cuda.memory_allocated()` and `pytorch_memlab.MemReporter` both show extra memory occupation than expected. And I check again that these memory is  `grad_ouput` of BP pass through comparing python `id()` in BP and i

[2022-03-31 15:46] thiagocrepaldi commented on #69674
https://github.com/facebookresearch/detectron2/commit/d29378aa3e6901cfa866279547d7a26301fa810f has deprecated `detectron2.exportexport_caffe2_model`

@MichalHek Could you provider a newer repro?

[2022-03-31 15:51] H-Huang commented on #75011
Based on a quick look, what I think is happening is that, when `TORCH_DISTRIBUTED_DEBUG` is set to on, we create a wrapper pg (used to validate the collective calls) via `process_group_wrapper` around the nccl group:

https://github.com/pytorch/pytorch/blob/785972b4ebafdb930304d109e698e3b4a1aecfb4/torch/distributed/distributed_c10d.py#L738-L757

However, this process group is by default Gloo.

htt

[2022-03-31 15:56] rohan-varma commented on #75011
Yep, this is expected due to the reason @H-Huang mentioned.

We have an in progress PR to support Gloo for FSDP, which should then allow TDD to work. I should be able to get back to that PR in 2-3 weeks.

@ptrblck Can you provide insight into weather this is blocking on your end so we can prioritize appropriately?

[2022-03-31 15:59] Chillee commented on #74943
@gchanan Yeah... it's possible we can just always use the overloaded versions.

It is a little bit finicky though, right now, since we can't torchscript the overloads.

Also, if we go down this path, we should probably just make the non-overloaded version not callable?

[2022-03-31 16:08] ezyang commented on #74991
I think the idea is that we will unconditionally allow metadata change now

[2022-03-31 16:19] jmschrei commented on #40497
I have been trying to train a model from scratch and encountered this same issue. Ultimately, the issue was because I was training a model with residual layers and the sum of the internal representation went above 65536 causing an inf, which subsequently caused nans. Solving this required a few things, of which the first two others have mentioned:

1. The `eps` parameter in my Adam optimizer had t

[2022-03-31 16:33] cpuhrsch commented on #74951
It'll require additional metadata to store which dimension has been sorted against (which is needed anyway to take advantage of this). This is a performance optimization we can enable later on, once we profile and find that caching indices sorted under this order is needed for optimal results.

[2022-03-31 16:39] vivekkhandelwal1 commented on #75015
@Chillee Please take a look at this issue.

[2022-03-31 16:44] pearu commented on #74916
We don't have `is_float64`, `is_int32`, etc either. It would be sufficient to have only `layout`, all the `is_sparse*` methods are superfluous. But yeah, I agree, this is another issue.

[2022-03-31 16:51] ngimel commented on #74943
Making non-overloaded version non-callable would be very bc-breaking? But luckily not many users are using torch.ops

[2022-03-31 16:51] peterbell10 commented on #73192
Confirmed this is fixed by #73719

[2022-03-31 16:51] #73192 closed

[2022-03-31 16:52] #73189 closed

[2022-03-31 16:53] peterbell10 commented on #73183
Fixed by #73719

[2022-03-31 16:53] #73183 closed

[2022-03-31 16:57] QuiteAFoxtrot opened #75025 "torch.cuda.init() destroys existing CUDA contexts"
### 🐛 Describe the bug

I am using the Nvidia's 'cuda-python' bindings, and I have discovered that torch expects to be the only CUDA resident in a given program.  In my code I was doing something as follows:

[code]

As far as I can tell, there is only one programming paradigm which Nvidia/CUDA makes safe for having multiple residents within a single process both able to use CUDA, as described her

[2022-03-31 16:58] digantdesai commented on #73488
Any update on this?

[2022-03-31 17:00] cpuhrsch commented on #74916
@pearu - yeah `is_sparse` is likely a remnant of how things were built up a long time ago (since SparseTensor has been around since the beta days). We could perhaps even have `is_sparse` mean all of COO, CSR, CSC, BSR, BSC and then point to `layout` for users to differentiate. We'd then not add any more functions. Maybe, just so we don't introduce something we'll later on have to remove again, we

[2022-03-31 17:16] kimishpatel commented on #73488
@jeffdaily will you be able to repro this at your end?

[2022-03-31 17:28] eellison commented on #75005
Quant issue ? cc @vkuzo

[2022-03-31 17:32] awgu commented on #73884
Initial version is landed; see the following stack of diffs: https://github.com/pytorch/pytorch/pull/74215

[2022-03-31 17:55] #74240 closed

[2022-03-31 18:02] hubertlu-tw commented on #74666
Hi [fduwjj](https://github.com/fduwjj),
It is done in our another internal model which uses `model.__dict__`, `model.__setstate__`,  `torch.distributed.destroy_process_group()`, and `torch.distributed.init_process_group` to replace [this PyTorch checkpointing mechanism](https://pytorch.org/tutorials/recipes/recipes/saving_and_loading_a_general_checkpoint.html#load-the-general-checkpoint). Since we

[2022-03-31 18:03] ptrblck commented on #75011
Thank you for the insight @H-Huang and @rohan-varma!

No, I'm not blocked at all and was just running into the issue randomly while debugging something else.
I'm aware of the current limitation now and will use the env variable for specific tests.
Your plan sounds!

[2022-03-31 18:06] davidberard98 opened #75029 "2022-03-31 disabled nvfuser tests"
### 🐛 Describe the bug

- [x] #75122
- [x] test_int_tensor_input (M60, https://github.com/pytorch/pytorch/runs/5775045801?check_suite_focus=true)
- [x] (https://github.com/pytorch/pytorch/pull/75116 ) test_native_batch_norm_backward (M60, https://github.com/pytorch/pytorch/runs/5775045801?check_suite_focus=true)
- [x] (https://github.com/pytorch/pytorch/pull/75116 ) test_reduction_empty_axes (M60,

[2022-03-31 18:37] markstrefford commented on #32524
Cuda version 10 versions of Pytorch are no longer available for windows. Is there another option to fix?

[2022-03-31 18:51] azrael417 opened #75031 "comm hook error in BWD pass"
### 🐛 Describe the bug

Dear Sir/Madam,

I have an issue with comm hook registration. The situation is the following: I am using 2 orthogonal communicators, one for model and one for data parallelism. However, some weights are shared among the model parallel GPUs, therefore I need to add an additional reduction step for those. I am trying to accomplish this using comm hooks. I have attached a smal

[2022-03-31 18:52] jansel opened #93744 "Investigate graph breaks reported by `./torchbench.py`"
If you run `./torchbench.py` and look under the `STATS graph_break` section, there are a few graphs breaks that seem fixable:
- `('call_function UserDefinedObjectVariable(method) [ConstantVariable(int), ConstantVariable(int)] {}', 17)` -- I think this is coming from inside `torch.nn.*`
- `('call_function BuiltinVariable(list) [UserDefinedObjectVariable(chain)] {}', 1)` -- this should be easy to ad

[2022-03-31 18:53] azrael417 commented on #75031
Michael Carilli recommended me to tag @sinannasir @pritamdamania87 @zhaojuanmao @rohan-varma,
maybe you have an idea what is going wrong here. I am running up against a deadline with this, I hope you can help me.

[2022-03-31 19:20] davidberard98 commented on #75029
fix for test_context_manager_test, test_register_fuser:

[code]

[2022-03-31 20:04] jansel opened #93745 "Make it possible to use TorchDynamo from within PyTorch core"
We have been discussing using TorchDynamo to implement some parts of PyTorch, for example composite operators.

Today you can't actually use TorchDynamo from within the `torch.*` module because of [skipfiles.py](https://github.com/facebookresearch/torchdynamo/blob/main/torchdynamo/skipfiles.py) and [allowed_functions.py](https://github.com/facebookresearch/torchdynamo/blob/main/torchdynamo/allowed

[2022-03-31 20:55] henrytwo opened #75038 "Generate source location information in TS LTC backend"
### 🚀 The feature, motivation and pitch

Currently, it appears that `jit::Node`s contained in the `jit::Graph` by the `TSLoweringContext` are missing source location information, which makes it difficult to debug.

To test this, the following block was added before [this line of code](https://github.com/pytorch/pytorch/blob/master/torch/csrc/lazy/ts_backend/ts_lowering_context.h#L107):
[code]

Pyt

[2022-03-31 21:43] thiagocrepaldi commented on #69674
@MichalHek the provided repro doesnt work on latest detectron, so I hacked it a bit. You also didnt provide the checkpoint "model_final_3c3198.pkl" for the PointRend model and the one I've [found online](https://github.com/facebookresearch/phosa#setting-up-external-dependencies) had a different version and needed to be hacked too. Finally, I had to fork detectron2 to make some changes, but after a

[2022-03-31 21:44] davidberard98 commented on #75002
possible solution - autocast only if optional[tensor] is not none

[code]

[2022-03-31 22:15] #66105 closed

[2022-03-31 22:33] davidberard98 commented on #74056
Should be fixed by #74794

[2022-03-31 22:33] #74056 closed

[2022-03-31 22:34] andrewor14 opened #75042 "[Quant] Quantizable LSTM uses asterisk unpacking, not supported by torchscript"
Here are the two lines that do this: https://github.com/pytorch/pytorch/blob/c0a6add7eef8ab3715c0f4281b3b7a2a0f1e24b5/torch/nn/quantizable/modules/rnn.py#L355-L356

**Original user error:**
Hi! I'm running QAT on a model with LSTM and I'm seeing errors in model export using static scripting (tracing works fine but it looses some model attributes that are needed for inference).
[code]

**Suggested

[2022-03-31 22:58] seemethere commented on #74896
Can you try with `USE_BREAKPAD=0`

[2022-03-31 23:33] garymm commented on #69674
@thiagocrepaldi thanks for the great work! Does it work with `operator_export_type=OperatorExportTypes.ONNX`?
Once we're sure things are working, can you please open a PR against detectron2 with your fixes?
I think they might accept it based on https://github.com/facebookresearch/detectron2/pull/2767

[2022-03-31 23:34] garymm commented on #69674
Also can you explain why you're deleting some of the weights in the hacked pkl?

[2022-04-01 00:09] xwang233 commented on #74235
Hi @prabhatkumar95 , thanks for reporting this issue. I saw the pytorch version you have is
[code]
Did you build pytorch from source? CUDA 11.2 is not recommended. I'd suggest you try with the latest CUDA 11.6 and CUDNN 8.3.3 if you prefer to build from source, or a pre-built pip wheel with CUDA 11.5 on https://pytorch.org/get-started/locally/ (just replace every 113 with 115 in the link).

[2022-04-01 00:58] malfet opened #75052 "DISABLED test_post_localSGD_optimizer_parity_with_hierarchical_sgd (__main__.TestDistBackendWithSpawn)"
Platforms: rocm
This test was disabled because it is failing on master ([recent examples](http://torch-ci.com/failure/test_post_localSGD_optimizer_parity_with_hierarchical_sgd%2C%20TestDistBackendWithSpawn)).

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @rohan-varma @gqchen @aazzolini @osalpekar @jiayisuse @SciPioneer @H-Huang @kwen2501 @jeffdaily @sunway513 @jithunnair-amd @ROCmS

[2022-04-01 01:42] ezyang commented on #71673
@nkaretnikov If you feel that having to recompile C++ for every modification is slowing you down, I suggest porting the advanced indexing code back into Python and then trying to fix it there.

[2022-04-01 02:41] RyosukeFukatani commented on #74541
I found same issue.

### Environment
Mac OS X
python: 3.9
torch==1.10.2
coremltools==5.1

[2022-04-01 03:09] skye95git commented on #74454
Thanks. I update PyTorch to 1.11.0. It works.

[2022-04-01 03:26] cutecutecat commented on #73168
I have met a same problem and finally fix it!

**Do not save checkpoints at more than one agent**, or they may write to same file in any sequence, then the file may be broken by all the process.

Change to something like this:
[code]

[2022-04-01 03:45] nkaretnikov commented on #71673
@ezyang thx for the tip! unfortunately, i don't think i can port this easily because of all the implicit things that i would need to keep track of (the dim pointer, etc.). it would be just too much work + the "unknown unknowns". so my strategy rn is to just come up with meaningful tests and observe changes in behavior (including internal variables). this worked fine for fixing the original reporte

[2022-04-01 04:17] stas00 opened #75087 "extend torch.distributed's `--tee` to log the nodename"
### 🚀 The feature, motivation and pitch

This is a request to improve `--tee 3` logging, Here is an example of the current log:

[code]

Currently `--tee 3` is somewhat useful by prefixing each log with `[default{local_rank}]` when used in:
[code]

This is a great step towards more usable logging and troubleshooting, but more is needed please:

Please make it log: `nodename:rank: `via a new flag o

[2022-04-01 04:20] saad039 commented on #27902
I am facing the same issue but ran into something that's very strange.

On a VM with an **Nvidia T4 GPU**, deploying multiple instances of the same model causes the inferencing time to increase linearly with the number of instances.

Contrarily, deploying multiple instances on an **A100** GPU results in **no** pessimization at all. A100 comes up MIG(Multiple Instance GPU) technology that allows sl

[2022-04-01 05:19] wayi1 commented on #74995
No need to revert the PR. Just add `@skip_if_rocm` to these tests should work.

Curious why these failure were not detected when the PR was submitted. The PR has already labeled "ci/master" and "ci/all".

[2022-04-01 05:54] ngimel opened #75088 "NVFuser produces wrong outputs for extreme values in clamp"
(and possibly other operations)
[code]
produces
[code]

[2022-04-01 06:00] ngimel opened #75089 "NVFuser takes a fallback with bfloat16 inputs on V100"
[code]
produces
[code]
NVFuser should either support bfloat16 or properly refuse to fuse that operation, instead of going all the way with fusion and failing only in codegen.

[2022-04-01 06:25] pmeier commented on #73466
If we unify, it should probably be in `torchdata`.

[2022-04-01 06:55] Aktcob opened #75090 "torch.fx deepcopy bug"
### 🐛 Describe the bug

import torch
import torch.fx
from types import MethodType
from copy import deepcopy

class Student(torch.nn.Module):
    def __init__(self):
        super().__init__()
        self.bn = torch.nn.BatchNorm2d(3)
        self.gamma = torch.nn.BatchNorm2d(3)

    def forward(self, x):
        return self.bn(x)

    def set_score(self, score):
        self.score = score

s = Stu

[2022-04-01 07:02] TianhangWang commented on #73168
@cutecutecat Thanks for your reply! I have been waiting for long time. I will try the method you mentioned about. Anyway, thank you!

[2022-04-01 07:28] mjack3 commented on #74670
I did and still I'm unable to install it property. Just the version CUDA 10.2 (which is not supported in my RTX 3090) :'(

![image](https://user-images.githubusercontent.com/37028633/161215967-9515ad4d-672d-43c4-83b7-d7e4455c9d86.png)

[2022-04-01 07:30] nkaretnikov commented on #71673
that said, reimplementing it would probably be a good idea to better understand indexing. but i'm trying to avoid it right now because i'm assuming it'd take quite a bit of time. hopefully, i'll be able to derive some value out of doing some experiments first.

[2022-04-01 07:58] #69076 closed

[2022-04-01 08:23] yujianll opened #75093 "Feature request: CUDA scatter_reduce()"
### 🐛 Describe the bug

I'm running the following code:
[code]

But I get the following error:
[code]

But I can run the same code if tensors are on CPU.

### Versions

[code]

[2022-04-01 08:38] cheneeheng commented on #28777
Hi there,
is there any updates on this?
I am also seeing this behavior with the latest pytorch.

dilated-conv + torch.backends.cudnn.deterministic=True is a lot slower than dilated-conv + torch.backends.cudnn.deterministic=True

Im using the latest docker images from nvidia + installation per pip following the official installation instruction.

Thanks!

[2022-04-01 08:55] sataliulan commented on #17835
Hi there, I've just installed pypy7 on conda-forge[https://anaconda.org/conda-forge/pypy3.7](url) .
Next , I activated pypy envirionment `conda activate pypy`,
Then, following the pytorch installing tutorial[https://pytorch.org/get-started/locally/](url) , I tried to install pytorch with cmd `conda install pytorch torchvision torchaudio cudatoolkit=11.3 -c pytorch`, unfortunately, I failed by pack

[2022-04-01 09:58] bjuncek commented on #65000
Fixed with latest release so closing the issue

[2022-04-01 10:09] Howe-Young opened #75097 "destroy_process_group() has a certain probability of hangs"
### 🐛 Describe the bug

Recently, I often encounter the problem of program hanging when using destroy_process_group().

code snippet:
[code]
The log as follows:
[code]
When I use the `nvidia-smi` command, the results are as follows (note that due to the docker configuration problem, the python process id is not displayed, but the process actually exists):
[code]
I can also see some Python processe

[2022-04-01 10:27] unishift opened #75098 "TypeError when exporting model to ONNX because of missing "allow_tf32" argument"
### 🐛 Describe the bug

I've got a jit saved model that needed to be converted into ONNX format. But conversion is failing with TypeError. Here is a minimal example to reproduce:
[code]

And here is example output:
[code]

The way I see it, the model was generated with old `_convolution` call without `allow_tf32` argument. But ONNX `_convolution` function requires full argument list even though it

[2022-04-01 11:00] marcocaccin opened #75100 "Preserve original scope names in exported ONNX graph"
### 🚀 The feature, motivation and pitch

When a PyTorch model is exported, the graph nodes take uninformative names like `f"{op_type}_{op_cnt}"`, and so do tensors (besides the input and output tensors of the overall graph).
In some contexts, it would be extremely helpful if each node in the exported ONNX graph would be named after the scope name of the PyTorch module from which it came from. Addi

[2022-04-01 11:51] #65000 closed

[2022-04-01 12:16] HAOCHENYE opened #75101 "Can torch.fx skip trace some specific methods?"
### 🚀 The feature, motivation and pitch

As https://pytorch.org/docs/master/quantization.html#prototype-fx-graph-mode-quantization says, torch.fx can skip trace some code with custom `Tracer` or `torch.fx.wrap`. But should torch.fx support skip trace some methods?

### Alternatives

_No response_

### Additional context

_No response_

cc @ezyang @SherlockNoMad

[2022-04-01 14:45] vadimkantorov commented on #75042
In this particular case, could `flatten` be used? e.g. `hx_tensor.flatten(end_dim = -3)`?

[2022-04-01 14:52] hahahannes opened #75104 "Rename cosine distance with cosine similarity"
### 📚 The doc issue

The documentation at [https://pytorch.org/docs/stable/generated/torch.nn.CosineEmbeddingLoss.html](https://pytorch.org/docs/stable/generated/torch.nn.CosineEmbeddingLoss.html) states that the loss function uses the `cosine distance` while actually implementing the loss function using the `cosine similarity`.

### Suggest a potential alternative/fix

Maybe renaming `cosine dist

[2022-04-01 15:29] janeyx99 commented on #50842
This test doesn't seem to exist anymore. There is a test_check_failed_messages from the suite FaultyFaultyAgentRpcTest instead that has been running just fine https://fburl.com/scuba/pytorch_test_times/eqzb4tvm

[2022-04-01 15:29] #50842 closed

[2022-04-01 15:35] thiagocrepaldi commented on #69674
For the first repro, yes in eval mode with some more changes to the user script. At least, no more changes to detectron2

[code]

[2022-04-01 15:36] janeyx99 commented on #40303
Closing as TensorPipeAgentRpcTestWithSpawn has not been run in the last 2 weeks so this test no longer is triggered by anything.

[2022-04-01 15:36] #40303 closed

[2022-04-01 15:39] janeyx99 commented on #50700
Closing as TensorPipeDistAutogradTestWithSpawn hasn't occurred in our test times table in 2 weeks. https://fburl.com/scuba/pytorch_test_times/ytjng8mk And this test case thus no longer exists.

[2022-04-01 15:39] #50700 closed

[2022-04-01 15:40] janeyx99 commented on #50965
Closing as #46863 is resolbved.

[2022-04-01 15:40] #50965 closed

[2022-04-01 15:44] thiagocrepaldi commented on #69674
For the second model, it didnt work with opset 15, but it should for opset 16:

`::grid_sampler` is missing for now

[code]

[2022-04-01 15:49] janeyx99 commented on #54429
Closing, this is better tracked in #54418.

[2022-04-01 15:49] #54429 closed

[2022-04-01 15:55] janeyx99 commented on #31750
@Krovatkin are there plans to fix the second error with this test? If not, should we just delete this test as it's been disabled for over 2 years now?

[2022-04-01 16:16] janeyx99 commented on #68742
@mruberry From the response to this issue, it looks like we should be safe to deprecate it now, yes?

[2022-04-01 17:22] janeyx99 opened #75112 "Debug with ssh instructions incorrect on CONTRIBUTING.md"
### 📚 The doc issue

https://github.com/pytorch/pytorch/blob/master/CONTRIBUTING.md#ci-failure-tips is outdated after we migrated from Circle to GHA.

### Suggest a potential alternative/fix

We should link from there to the external wiki (https://github.com/pytorch/pytorch/wiki/Debugging-using-with-ssh-for-Github-Actions) instead and keep the wiki up to date. Some important details to port over a

[2022-04-01 17:46] seemethere commented on #74670
Can't reproduce in my local environment,

[code]

Can you give us some more info on your environment? Like what OS are you running, python version, etc.

[2022-04-01 17:49] seemethere commented on #74670
Seems similar to https://github.com/pytorch/pytorch/issues/40268

[2022-04-01 18:41] jjsjann123 opened #75122 "test_linear_1d_weight_mismatch_bias_dtype (M60, https://github.com/pytorch/pytorch/runs/5775045801?check_suite_focus=true)"

[2022-04-01 18:42] jjsjann123 commented on #75122
Oops. clicked the wrong thing

[2022-04-01 18:42] #75122 closed

[2022-04-01 18:43] jjsjann123 commented on #75029
This failure looks like changes on aten where: 1. mismatched bias is not supported; 2. 1d weight is not supported. I'll just delete that tests.

[2022-04-01 19:18] wanchaol commented on #74445
This seems to be a c10 library compilation issue, note that we probably have some big difference when compiling with Clang to MSVC, cc @malfet any insights here?

[2022-04-01 19:23] jjsjann123 commented on #75029
M60 sounds tricky as well... I'll see if I can grab a board :cry:
Don't seem to get to repro them on volta (except the aten one)

[2022-04-01 19:31] alcabilone commented on #75100
Hello, is anyone else assigned on this or could i have a try?

[2022-04-01 19:35] wanchaol opened #75129 "[BE] add documentation for adjust learning rate when going to distributed training"
### 🚀 The feature, motivation and pitch

In our doc, it's better that we could add a note in the doc for adjusting learning rate when going from one to multiple, there're some issues that user confused about adjusting it, i.e. https://discuss.pytorch.org/t/how-to-scale-warmup-the-learning-rate-for-large-batch-size/146519/3

### Alternatives

_No response_

### Additional context

_No response_

[2022-04-01 19:43] lapp0 commented on #22259
Also having this issue as described in https://github.com/facebookresearch/Mask2Former/issues/74

[2022-04-01 19:45] albanD opened #75130 "Change torch_dispatch TLS restoration to be opt-in"
Following discussions, we thing that the TLS restoration in torch_dispatch is very useful but counter productive in some cases. In particular:
- "is a" type subclass should be agnostic to this happening (but it practice it is painful that it happens as some "plain ops" now come with dispatcher features running)
- "has a" type subclass definitely need this when calling on the wrapped Tensor but not

[2022-04-01 20:00] ejguan opened #75131 "[Codegen] pyi files are not included in the wheel"
### 🐛 Describe the bug

We generate pyi file after `setup` function. This is not useful if users doing `python setup.py install`
And, for the pre-compiled library, the pyi file would never be packaged into the wheel/conda.

### Versions

main branch

[2022-04-01 20:01] #75131 closed

[2022-04-01 20:24] ezyang commented on #75130
The context manager should definitely start with `enable_`; maybe `enable_dispatch` (because you call this from the context of `__torch_dispatch__` or `enable_reentrant_dispatch`

[2022-04-01 21:12] #75112 closed

[2022-04-01 23:36] olegggatttor commented on #66365
I fixed it removing dicts (I switched it ti tensors) and if statements (I switched it to but masks) in my code provided above. If you are interested I can provide you my solution.

[2022-04-01 23:48] #36530 closed

[2022-04-01 23:53] kwen2501 commented on #74734
`torch.cuda.ShortTensor` refers to 16-bit integer, which NCCL does not support.
NCCL supports 8, 32, and 64 bit signed/unsigned integers, instead.

@timmywanttolearn Just curious -- is there a specific use case that asks for 16-integer support?

Cc @sjeaugey for visibility.

[2022-04-02 00:57] malfet opened #75139 "DISABLED test_post_localSGD_optimizer_parity_with_hierarchical_sgd_grad_is_view (__main__.TestDistBackendWithSpawn)"
Platforms: rocm

This test was disabled because it is failing on master ([recent examples](http://torch-ci.com/failure/test_post_localSGD_optimizer_parity_with_hierarchical_sgd_grad_is_view%2C%20TestDistBackendWithSpawn)).

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @rohan-varma @gqchen @aazzolini @osalpekar @jiayisuse @SciPioneer @H-Huang @kwen2501 @jeffdaily @sunway513 @jithunn

[2022-04-02 02:24] wangyunxiaa commented on #74534
sorry for the late reply, the problem was solved.
Thanks very much for your suggestion

[2022-04-02 02:24] #74534 closed

[2022-04-02 03:22] Aktcob commented on #75090
torch.fx recursion deepcopy bug

[2022-04-02 04:06] #66328 closed

[2022-04-02 05:18] wayi1 commented on #74995
A relevant explanation from @zengk95: https://github.com/pytorch/pytorch/pull/74668#issuecomment-1086156954

[2022-04-02 05:30] gemcollector opened #75143 "Maybe a bug about pytorch==1.9.0+cu111"
### 🐛 Describe the bug

[code]

[2022-04-02 09:13] howtoblind opened #75144 "python 3.10 cannot use pytorch"
### 🐛 Describe the bug

`t.sum().backward()`
Traceback (most recent call last):
  File "<pyshell#5>", line 1, in <module>
    t.sum().backward()
  File "D:\Python\Python310\lib\site-packages\torch\_tensor.py", line 363, in backward
    torch.autograd.backward(self, gradient, retain_graph, create_graph, inputs=inputs)
  File "D:\Python\Python310\lib\site-packages\torch\autograd\__init__.py", line 1

[2022-04-02 11:33] MR-hyj opened #75145 "Why GroupNorm and BatchNorm have weights ans bias?"
To my best knowledge, both GroupNorm and BatchNorm perform similar functions that leverage the input $x$ to normal distribution, like this:
[code]

So why does `torch.nn.GroupNorm` have `self.weight` and `self.bias` ?
I noticed this problem when I debugging a binary network in which the weight ans bias of GroupNorm is always zero.
[code]

2022-03-31 16:13:00,361 [DEBUG] root - bias shape of BiGrou