[2021-12-25 09:29] machinsoft opened #70400 "Technologies without activation function with more accurate data."
### 🚀 The feature, motivation and pitch

I am ready to sell technology that will help make a neural network without an activation function with more accurate data.

Maybe this is pushing neural network technology further, maybe not, I can't say for sure.

### Alternatives

_No response_

### Additional context

This is program code, a little unusual.

[2021-12-25 11:05] YuanLiuuuuuu opened #70402 "Run into MemoryError when loading Imagenet22K"
### 🐛 Describe the bug

When I loading Imagenet22K, the dataloader raises the following MemoryError:
`File "/mnt/lustre/liuyuan1.vendor/mmcv/mmcv/runner/epoch_based_runner.py", line 47, in train
    for i, data_batch in enumerate(self.data_loader):
  File "/mnt/lustre/liuyuan1.vendor/miniconda3/envs/openmmlab/lib/python3.6/site-packages/torch/utils/data/dataloader.py", line 355, in __iter__
    re

[2021-12-25 19:07] chgwan opened #70404 "DistributedDataParallel: GRU module gets additional processes on GPU 0 (1st GPU) and takes more memory"
### 🐛 Describe the bug

Hi, Thank you for your concern. When I am testing a simple example with DistributedDataParallel, using a single node with 4 gpus, I found that when I used the GRU or LSTM module was taking additional processes and more memory on GPU 0. while using the Linear module was not gotten these problems. The test code snippets are as follows:
[code]
I called the script like python X

[2021-12-25 19:29] elbanan commented on #16737
from my personal experience, I think this might be handy. An option to "not overwrite" the saved file would be very useful.

[2021-12-25 20:45] tbhaxor opened #70405 "Unable to use cuda with libtorch"
### 🐛 Describe the bug

Python is detecting GPU and CUDA but not the C++ API

[code]

Following is the CMake configuration
[code]

Following is the main.cpp file contents
[code]

Downloaded the libtorch from [here](https://download.pytorch.org/libtorch/cu113/libtorch-cxx11-abi-shared-with-deps-1.10.1%2Bcu113.zip) and extracted in /opt/libtorch

### Versions

Collecting environment information...
P

[2021-12-26 05:51] Hannibal046 commented on #70404
Hi, I am also experiencing similar problem when using DDP. I find that embedding layer would significantly slow down the DDP training. And I can not figure out why.
https://discuss.pytorch.org/t/super-weird-bug-more-gpu-lower-speed/140213

[2021-12-26 06:31] ngimel commented on #70404
duplicate of #66203

[2021-12-26 07:09] Hannibal046 commented on #70404
Ok, got it . I think my problem is due to hardware. Because my computer case is too small to hold 2 RTX3090, so I use extension line, and this causes much IO block. Thanks so much for giving kind advice.

[2021-12-26 07:12] ngimel commented on #70404
@Hannibal046 sorry, I was replying to @chgwan. Your problem doesn't seem to be related to this issue, and the workaround also doesn't apply.

[2021-12-26 07:35] Hannibal046 commented on #70404
It is ok. I also learn an elegant and efficient way to put the model and data in the right place.

[2021-12-26 08:02] liangbright commented on #5953
another possible cause is the step size, t, of strong_wolfe linear search.
t is unbounded, and sometimes it could be >>1, e.g., 1000

[2021-12-26 12:16] xloem commented on #70350
@malfet, can you give a hint to where in the source the aarch64 linux releases
are generated?  what would be needed to get compatibility for lower-end
arm chips into a release?

[2021-12-26 12:37] myasser63 opened #70411 "How to use custom dataset with SSD"
I am trying to use SSD and retinanet from torchvision on my own dataset. However I cant find any reference on how to use my own dataset and what format requuired. Could any one please advice me

[2021-12-26 18:33] ProGamerGov opened #70413 "PyTorch crashes without an error message, when running this code (Not sure what the exact cause is)"
### 🐛 Describe the bug

While working a project for PyTorch's [Captum](https://github.com/pytorch/captum) library, I came across a bug that I've been struggling to narrow down the cause of. I've done my best to simplify what is happening in the Captum code, and the snippet of code below should reliably reproduce the crash, though I apologies for not being able to narrow it down to smaller snippet

[2021-12-26 19:14] chgwan commented on #70404
@ngimel Thank you very much for your elegant solution.  It works well.
There is a simple example for others' reference.
[code]

[2021-12-26 19:14] #70404 closed

[2021-12-26 20:54] tbhaxor commented on #70405
For now this is working after compiling torch vision and recompiling cuda 11.5

[2021-12-26 20:54] #70405 closed

[2021-12-26 22:23] amrhamedp commented on #33800
same here

[2021-12-27 03:03] liuyx-baller opened #70416 "libtorch cuda use too much system memory"
### 🐛 Describe the bug

Using c++ to call libtorch, when using cuda, it will not only occupy the gpu memory, but also take up a lot of system memory.
When USE_CUDA is defined, the paused gpu memory occupies 1162M, system memory 2.746g.
When the USE_CUDA is undefined, the system memory occupies 358 M.

[code]

### Versions

- OS: Ubuntu 16.04.6 LTS
- NVIDIA-SMI: 440.64
- Driver Version: 440.64
- CU

[2021-12-27 03:26] jaehyeongAN commented on #43016
In this tutorials, `ids_tesnor` function is not exist. So following code needs to be added.
[code]
The code referred to this [link](https://pytorch.org/tutorials/prototype/graph_mode_dynamic_bert_tutorial.html#quantizing-bert-model).

[2021-12-27 04:30] anag004 opened #70417 "Inconsistent results when running `cross_entropy` on CUDA and CPU"
### 🐛 Describe the bug

The output of `torch.nn.cross_entropy` differs when the tensors are on GPU and CPU

[code]

Observed Output
[code]

The two tensors should match.

### Versions

Collecting environment information...
PyTorch version: 1.10.0+cu113
Is debug build: False
CUDA used to build PyTorch: 11.3
ROCM used to build PyTorch: N/A

OS: Ubuntu 20.04.2 LTS (x86_64)
GCC version: (Ubuntu 9.3.0-

[2021-12-27 05:39] mszhanyi commented on #70393
![image](https://user-images.githubusercontent.com/16190118/147438181-b4a28014-1799-4900-a81c-69331a4588a3.png)

[2021-12-27 06:06] chemist29 opened #70418 "Rprop Algorithm Missing settng g_t =0 if gprev*g_t<0 :"
### 📚 The doc issue

https://pytorch.org/docs/stable/generated/torch.optim.Rprop.html?highlight=rprop#torch.optim.Rprop

In the else if in the for loop, there must be a term for setting g_t =0. As is in the code. The documentation is straight up wrong.

### Suggest a potential alternative/fix

_No response_

cc @brianjo @mruberry @vincentqb @jbschlosser @albanD

[2021-12-27 06:21] realiti4 commented on #70393
I got the idea while I was looking at CmakeError.log. There were errors like this:

[code]

[2021-12-27 06:45] alanyoungCN commented on #70344
Can anyone have a try and tell me whether it is a bug/common problem at least?

[2021-12-27 07:29] mszhanyi commented on #70393
The error looks caused by the space of "Program Files (x86)"

[2021-12-27 07:50] yanbing-j commented on #70237
Hi @dgmp88 , I tried to reproduce this issue in a machine with CPU `Intel(R) Xeon(R) Platinum 8259CL CPU @ 2.50GHz`, but the UT that you provided always passed. Could you please provide some more information?

My configuration is:
PyTorch version: 1.10.1 (install from `pip install torch` and install from `source file`, UT always passed)
GCC version: gcc (Ubuntu 9.3.0-17ubuntu1~20.04) 9.3.0
Python

[2021-12-27 07:53] kshitij12345 opened #70419 "LazyModules `cls_to_become` field is incorrect"
### 📚 The doc issue

https://pytorch.org/docs/stable/generated/torch.nn.LazyConv1d.html#torch.nn.LazyConv1d
![image](https://user-images.githubusercontent.com/19503980/147448687-0bd47661-eb09-469a-9914-603b762a7350.png)

https://pytorch.org/docs/stable/generated/torch.nn.LazyConv2d.html#torch.nn.LazyConv2d
![image](https://user-images.githubusercontent.com/19503980/147448712-04522f68-5d2c-4f29-983

[2021-12-27 07:58] ruochiz commented on #41306
I encountered similar speed issues when trying to use pytorch to calculate SVD on tall matrices. (In my case it's sth like (bs=300, 900, 100) ) I wonder if gesvdaStridedBatched would be useful in this case, and will this be included in pytorch as a function. I don't have much CUDA programing experiences, so any help would be appreciated. Thanks.

[2021-12-27 09:30] vfdev-5 commented on #55070
I'll be working on porting `index_fill` as related to functorch need (https://github.com/pytorch/functorch/issues/260)

[2021-12-27 09:59] Goose-Bomb commented on #64208
It seems that [tf.gather](https://www.tensorflow.org/api_docs/python/tf/gather) has a `batch_dims` parameter that coud achieve the batched index selection.

For example, when `batch_dims=1, axis=1`, it can achieve:

[code]

[2021-12-27 12:37] MindaugasBernatavicius commented on #36426
There are some papers using LP Pooling or mentioning it. You can find some references here: https://www.reddit.com/r/MachineLearning/comments/73k3j4/comment/dnr94ml/?utm_source=share&utm_medium=web2x&context=3

[2021-12-27 12:52] Bresenham commented on #42230
This is still an issue on my side, however, not with the minimal example @garymm provided.
Instead, I am trying to build ResNet with torch-layers.

Even after installing the nightly build of `torch` via:

`pip3 install --pre torch torchvision -f https://download.pytorch.org/whl/nightly/cpu/torch_nightly.html -U`

I struggle with the very same error:

[code]

with

[code]

where `m` is my ResNet mo

[2021-12-27 13:29] rgommers commented on #50341
I don't think I was involved in the initial design, both APIs are from before 2010.

I tend to agree. My preferred APIs - `griddata` for unstructured grids, and `map_coordinates` for structured grids - are functional. The class-based API (`UnivariateSpline` et al.) makes sense when you want to give users access to spline representations, allow integrating splines, taking derivates, etc., so I thin

[2021-12-27 13:31] eshwarkamal commented on #22676
Thanks a lot, the problem was resolved successfully! ;) @ElegantLin

[2021-12-27 14:18] vkuzo commented on #41642
this was fixed by https://github.com/pytorch/pytorch/pull/50748 and https://github.com/pytorch/pytorch/pull/66484

[2021-12-27 14:18] #41642 closed

[2021-12-27 14:20] vkuzo commented on #35999
this is documented here: https://pytorch.org/docs/master/quantization.html#quantization-custom-module-api

[2021-12-27 14:20] #35999 closed

[2021-12-27 14:23] vkuzo commented on #33643
this should be fixed by https://github.com/pytorch/pytorch/pull/42178

[2021-12-27 14:23] #33643 closed

[2021-12-27 14:37] wizardk opened #70422 "[libtorch] Is torchscript model thread-safety on GPU?"
### 🐛 Describe the bug

When I run one torchscript model instance on CPU with multi-thread, it's OK.
When I run one torchscript model instance on one GPU with multi-thread, it will trigger the value check assertions I wrote. But when I run it in single thread, assertions never appear.

Is torchscript model thread-safety on GPU?

### Versions

libtorch version : libtorch-shared-with-deps-1.8.1+cu10

[2021-12-27 15:53] cschell opened #70426 ""INTERNAL ASSERT FAILED" in torchmetrics.Accuracy#_accuracy_compute"
### 🐛 Describe the bug

After upgrading to PyTorch 1.10.1 from 1.7.1 I get the following error during training, more specifically during a call that boils down to `torchmetrics.Accuracy(average="none", num_classes=34).compute()`:

[code]

I've tried to come up with a minimal example, which currently looks like this:

[code]

This works fine if executed as a standalone script, but fails with the sa

[2021-12-27 16:58] vkuzo commented on #68250
after thinking about this some more, can we revisit the above and consider replacing with identity for now, and only spend the eng time to set up quantized dropout later if it is actually needed?  The boilerplate for "quantized dropout" which will be the identity function is probably going to be ~0.5K LOC and a day or more of eng time, doesn't seem worth it since it's unclear if there is actually

[2021-12-27 17:12] jedi2610 opened #70431 "deleting model does not free space"
### 🐛 Describe the bug

I was using a model and then it failed on the 2nd pass because of OOM error. i then went ahead and checked that if it would work if i initialize the model on every pass and delete it after that pass is over. but to my surprise even after calling `del model`, the memory is not freed.

[code]
Traceback:
[code]

I then tried with `with torch.no_grad()` and not surprising it wo

[2021-12-27 17:36] vkuzo commented on #61881
Please check out https://pytorch.org/docs/master/quantization.html#saving-and-loading-quantized-models, for quantized models `torch.save/torch.load` is not supported, you can use the state dict instead.

[2021-12-27 17:36] #61881 closed

[2021-12-27 17:41] vkuzo commented on #41652
I see that now QConfigDynamic is taking 2 args

The two arguments were just for the signature to be consistent with `QConfig`, the activation argument in `QConfigDynamic` was not used for anything. Sorry if that was not clear.

https://github.com/pytorch/pytorch/pull/69864 removed `QConfigDynamic` to hopefully reduce confusion on this topic, hope that helps!

[2021-12-27 17:41] #41652 closed

[2021-12-27 17:51] vkuzo commented on #41684
I verified that the issue is not reproducible on master, with https://gist.github.com/vkuzo/771ce07a18ee77dd54bae2d1453b8d0e and inspecting the `metadata` variable in the state dict loader of `LinearPackedParams`.

[2021-12-27 17:51] #41684 closed

[2021-12-27 18:07] vkuzo commented on #29538
This is happening because
1. torchvision's quantizeable MobileNetV2 has the option to add skip connections (https://github.com/pytorch/vision/blob/main/torchvision/models/quantization/mobilenetv2.py#L26)
2. the skip connections are implemented using `FloatFunctional`, in order to work with Eager mode quantization
3. the config used in this issue has skip connections turned off
4. the qconfig is st

[2021-12-27 18:07] #29538 closed

[2021-12-27 19:00] vkuzo commented on #42312
will track this in https://github.com/pytorch/pytorch/issues/46749

[2021-12-27 19:00] #42312 closed

[2021-12-27 19:10] vkuzo commented on #61054
ok, let me pass the issue over to you then

[2021-12-27 20:04] vkuzo commented on #69808
we are tracking this in https://github.com/pytorch/pytorch/issues/43774

[2021-12-27 20:04] #69808 closed

[2021-12-27 20:33] vkuzo commented on #69671
Hi @gp2nmo ,

For the slowdown, do you have any on-device profiling results which give a per-op breakdown?  That would help narrow down the issue.

For the accuracy issues, are you calibrating your model with a representative dataset?  In the example shared in the issue, the only calibration I see is with one tensor filled with random noise, this is expected to give incorrect results.  Have you tr

[2021-12-27 20:33] #69671 closed

[2021-12-27 21:22] phcerdan commented on #44473
I faced this error message in a **valid** out of memory situation when using `torch.cuda.amp.autocast()`
[code]
When I run the `forward` function outside the `amp.autocast` environment I get an out of memory RuntimeError:
[code]

So I guess, the error message could be improved when running `amp.autocast`.

[2021-12-27 22:23] mruberry commented on #70398
Thank you for reporting this issue, @TestSomething22. We would accept a PR fixing this (and that PR should add error inputs for these cases, too!).

[2021-12-27 22:27] mruberry commented on #70397
Thanks for reporting this issue, @TestSomething22. We would accept a PR fixing this (and that PR should add an error input for this case, too!).

[2021-12-27 22:35] mruberry commented on #70347
Thank you for updating the issue, @sshish; it's very clear where PyTorch throws an IndexError vs. NumPy now.

[2021-12-27 22:47] mruberry commented on #70265
Thank you for this suggestion, @degtyarev, I agree our docs could be clearer and we will always accept PRs improving the documentation.

[2021-12-27 22:53] mruberry commented on #46302
We should (almost?) never use `iter.dtype()` and (almost?) exclusively use `iter.common_dtype()` instead.

`iter.dtype()` is the datatype of the output tensor in TensorIterator, and computation should be (conceptually) independent of the output. `iter.common_dtype()`, which could also have been named `iter.compute_dtype()`, is the datatype computations should be (conceptually) performed in. This d

[2021-12-27 22:59] mruberry commented on #69698
I don't think this is a "fundamental flaw" in how we use atol and rtol as this is the documented behavior.

I don't think this is a "fundamental flaw" in how we treat atol and rtol as this is documented behavior. The equation is:

[code]

Which is, unfortunately, asymmetric but consistent with NumPy (and inconsistent with Python). So yes, in this case you may want to increase or rely exclusively o

[2021-12-27 23:09] mruberry commented on #70111
Skipping this seems like a good way to mitigate the issue, but let's keep this open because maybe we do have a genuine Windows issue.

[2021-12-27 23:11] mruberry commented on #70226
And because some Windows tests weren't running. I think @janeyx99 has a fix for this just by increasing the size of the tensor the test allocates.

[2021-12-27 23:15] mruberry commented on #69432
That would be nice but probably not worth a BC-breaking change.

[2021-12-28 00:29] ziyi-yang opened #70440 "3D Convolution Transpose + Layer norm leads to error RuntimeError: ones needs to be contiguous"
### 🐛 Describe the bug

Run layer norm after 3D transpose convolution leads to an error regarding "contiguous tensor". A similar issue with 2D transpose conv can be found at #33168. To reproduce the bug:
[code]
[code]

Thanks.

### Versions

PyTorch version: 1.10.1+cu102
Is debug build: False
CUDA used to build PyTorch: 10.2
ROCM used to build PyTorch: N/A

OS: Ubuntu 18.04.6 LTS (x86_64)
GCC vers

[2021-12-28 01:25] xin3he commented on #61881
Thanks!

[2021-12-28 01:37] carlosgmartin opened #70441 "[feature request] - ModuleList concatenation"
## Issue description

Add concatenation for [`torch.nn.ModuleList`](https://pytorch.org/docs/stable/generated/torch.nn.ModuleList.html).

## Code example

[code]

cc @albanD @mruberry @jbschlosser @walterddr @kshitij12345

[2021-12-28 02:09] carlosgmartin commented on #37410
@aretor A simple `reset` method sounds great. Any reason for the longer identifier?

[2021-12-28 02:27] XiaobingSuper commented on #70440
This issue has been fixed by https://github.com/pytorch/pytorch/pull/67829. and the master code can work well.

[2021-12-28 02:50] fkjslee commented on #42078
At first, My pytorch is 1.9.0 for my RTX3090, but someone tell me to downgrade to 1.4.0 for fitting fairseq(a git rep), now another one tell me to downgrade to 0.4.0. How sad a story....

[2021-12-28 05:03] Makoto1021 commented on #574
Hello, I have the same issue with my python script. I'm on a AWS EC2 instance and using Python3.3.9, with `torch==1.9.1` and `transformers==4.11.3`.

Here is my python script:

And here is the error message. As you can see, it successfully import `torch`, because I ran this script from a parent folder: `python political-tweet-scraper/test.py`. But the 2nd line, where I import a bunch of packages f

[2021-12-28 07:55] phu54321 commented on #47702
I know you'd mind giving an official numbers without finished products, but with tensorflow the gpu works substantially slower that what apple says about their general GPU performance. M1 max should be about 3080 max-q in performance, but with my M1 Pro I,m getting 1/5~1/6 speed of my 3070 mobile. Will your implementation be comparable in speed to nvidia graphics? Thanks?

[2021-12-28 08:53] ziyi-yang commented on #70440
Thanks for the prompt reply. I tried the nightly installation and it worked. Look forward to the bug fix in the next official release.

[2021-12-28 08:54] #70440 closed

[2021-12-28 09:08] PeppaCat commented on #32268
Hi, Michael. I wonder why supporting NumPy is not taken into consideration. Are there any concerns about the NumPy package itself or something else?

[2021-12-28 09:41] XiaobingSuper commented on #70417
Hi, @anag004 , I tested your case using PyTorch nightly(```conda install pytorch torchvision torchaudio cudatoolkit=10.2 -c pytorch-nightly```), it doesn't have this isssue:
[code]
Could you try it?

[2021-12-28 09:57] TestSomething22 opened #70445 "Error in `torch.dsplit` documentation"
### 📚 The doc issue

In the documentation of `torch.dsplit`, the sentence "calling torch.tensor_split(input, indices_or_sections, dim=2) (the split dimension is 1)" is error. Because the split dimension of `dsplit` is 2 instead of 1.

By contrast, in the documentation of `torch.hsplit`, it says "calling torch.tensor_split(input, indices_or_sections, dim=0) (the split dimension is 0)", which is cor

[2021-12-28 11:16] tuyra commented on #68893
Same problem here with aws machines on same vpc, firewall disabled and security group is open for all traffic.

Any idea with that ? Thanks.

[2021-12-28 12:21] henry861114 opened #70446 "Exporting the operator prim_DictConstruct to ONNX opset version 13 is not supported"
### 🐛 Describe the bug

[code]

### Versions

(base) root@ubuntu:/home/cwh/tools/torch# python3.9 collect_env.py
Collecting environment information...
PyTorch version: 1.10.1+cu102
Is debug build: False
CUDA used to build PyTorch: 10.2
ROCM used to build PyTorch: N/A

OS: Ubuntu 18.04.5 LTS (x86_64)
GCC version: (Ubuntu 7.5.0-3ubuntu1~18.04) 7.5.0
Clang version: Could not collect
CMake version: ve

[2021-12-28 12:24] philipturner commented on #47702
Remember that NVIDIA GPUs have tensor cores. They have ~100 AI TFLOPS of processing power, while Apple has ~10 TFLOPS. Nothing is wrong.

However, despite not having the best raw processing power, Apple silicon excels at smaller data science/ML tasks such as training RNNs. They have 2.0 TFLOPS matrix multipliers accessible in a single-core CPU context, which is absolutely insane. There are numerou

[2021-12-28 12:33] wisdomtree86 opened #70447 "The same code can not be reproduced on multiple GPUs with dataparallel"
environment:
torch1.2
Tesla V100-SXM2
Fixed all random seeds
[code]
The same code can be reproduced on a single GPU, but it cannot be reproduced when using dataparallel to run the code on multiple GPUs. This non-reproducibility generally begins to appear in the loss of the second batch, and at the beginning, there was only a difference in 4 digits after the decimal point.

[2021-12-28 13:00] alin256 commented on #47702
As a matter of curiosity, are these 2.0 TFLOPS distributed across the 8 high-performance cores in M1 Pro/Max? Or is there a specific co-processor for that?

[2021-12-28 13:01] philipturner commented on #47702
There is a specific co-processor - AMX. The M1 Pro/Max has 2 of these, and they're available from a single-core CPU context. Look it up - it's kept secret because it's technically illegal by ARM.

[2021-12-28 14:58] jamesr66a opened #70449 "[FX] Detect attribute mutation during tracing"
### 🚀 The feature, motivation and pitch

Set-up: a `Module` that mutates one of its own attributes during `forward`:

[code]

This breaks during symbolic tracing:

[code]

There are a couple issues of interest here:

1) The mutation occurs during symbolic tracing, which may be unexpected
2) The results of this mutation are baked in at trace time. Concretely, in the example, the constant `6` is bak

[2021-12-28 15:13] enhuiz commented on #61686
One workaround can be (perhaps not very elegant):

[code]

[2021-12-28 15:16] ProGamerGov opened #70450 "torch.jit.optimized_execution is not mentioned anywhere in the docs"
### 📚 The doc issue

If you try to search for `torch.jit.optimized_execution` in the PyTorch docs, you will find 0 results:
https://pytorch.org/docs/stable/search.html?q=optimized_execution&check_keywords=yes&area=default

However, it appears like this function is meant for public use despite there being no mentioned of it outside user comments on different sites.

### Suggest a potential alternat

[2021-12-28 15:23] jbschlosser commented on #70441
Hey @carlosgmartin, thanks for the request! I think this is a nice idea and we'd accept a PR implementing `ModuleList.__add__` appropriately.

[2021-12-28 16:13] gchanan commented on #70388
can you describe your use case for a tensor with that many dimensions?

I believe a workaround would be compiling from source with a different value for the MAX_DIMS constant.

[2021-12-28 16:15] gchanan commented on #70389
Do you have a reproduction?  Please follow the template.

[2021-12-28 16:16] gchanan commented on #70390
Going to close this as it is on an old version of PyTorch.

[2021-12-28 16:16] #70390 closed

[2021-12-28 16:17] #70400 closed

[2021-12-28 16:19] gchanan commented on #70411
Hi, We use github issues only for bug reports or feature requests. Please use the forum to ask questions: https://discuss.pytorch.org/

[2021-12-28 16:19] #70411 closed

[2021-12-28 16:53] lithuak opened #70454 "Building docs locally fails"
### 🐛 Describe the bug

Running documentation build with `make html` as described [here](https://github.com/pytorch/pytorch/blob/master/CONTRIBUTING.md#building-documentation) results in failure: `Makefile:38: recipe for target 'html' failed`.

The full build log (`make html 2>&1 | tee build.log`) is available [here](https://pastebin.com/SGx3Em3z).

It looks like the overall failure is caused by m

[2021-12-28 17:15] ProGamerGov opened #70455 "Make it possible to remove all hooks on a specified module without needing the hook handles."
### 🚀 The feature, motivation and pitch

Some scenarios makes keep track of the hook handles rather difficult if not impossible. There should be a way to remove all active hooks on a module without using the handles.

Using the following function, one can see the open and active on a the target module (ex: model layer):

[code]

Ideally one should be able to use the loop above to remove the hooks,

[2021-12-28 17:37] stalek71 commented on #35123
It looks the sample has not been updated up to now and still contains build errors.
Probably it should be reopened...

![obraz](https://user-images.githubusercontent.com/6651025/147592202-de83ba69-6f7f-4f5d-8aef-d5fd8acdaee9.png)

[2021-12-28 17:49] #70301 closed

[2021-12-28 18:04] Ali-arch808 commented on #47496
Hello,
I'm facing the same issue. I read through the comments but I cannot understand the solutions. Can anyone help?
Here is the code(I removed most of the code in __init__  function to avoid verbosity):
(spec.matrix is a square matrix that its shape is not predetermined.)
[code]
It returns the following RuntimeError:
[code]
As error declares, I should annotate the input in tensors. However, doin

[2021-12-28 18:09] atalman opened #70457 "Python 3.6 decomission for Pytorch 1.11 release"

[2021-12-28 18:11] ProGamerGov commented on #70441
Looks you'd only need to edit the code here: https://github.com/pytorch/pytorch/blob/master/torch/nn/modules/container.py#L145, and for the new tests I'm not sure where they should be added.

[2021-12-28 18:33] ProGamerGov commented on #70455
Looks like using this code does nothing:

[code]
from collections import OrderedDict
from typing import Dict, Callable

module._forward_hooks: Dict[int, Callable] = OrderedDict()
[code]

[2021-12-28 18:41] atalman opened #70458 "Rocm builds are failing since Nov 12"
### 🐛 Describe the bug

Following rocm nightly builds are failing since nov 12.
https://hud.pytorch.org/ci/pytorch/pytorch/nightly?name_filter=rocm

ci/circleci: binary_linux_manywheel_3_6m_rocm4_1_devtoolset7_nightly_build
ci/circleci: binary_linux_manywheel_3_7m_rocm4_1_devtoolset7_nightly_build
ci/circleci: binary_linux_manywheel_3_8m_rocm4_1_devtoolset7_nightly_build
ci/circleci: binary_linux_

[2021-12-28 18:45] malfet commented on #70245
@jakkes just to check - you've build Python from source but using PyTorch binaries? And does it work if one uses stock python libraries? (Say coming bundled with OS distro of from conda?)

I suspect problem here is different binary alignment of CPython structures PyTorch were build against vs the ones you are trying to use

[2021-12-28 18:52] malfet commented on #70458
Isn't it a duplicate of https://github.com/pytorch/pytorch/issues/69773 ?

[2021-12-28 18:53] seemethere commented on #70458
It appears as though it is, closing in favor of https://github.com/pytorch/pytorch/issues/69773

[2021-12-28 18:53] #70458 closed

[2021-12-28 19:00] NivekT commented on #70386
Hi, thanks for submitting this issue.
Can you please provide a minimal, runable code snippet for us to reproduce the bug?

[2021-12-28 20:29] jbschlosser commented on #70441
A good place for testing the new functionality is `test_ModuleList()` in `test/test_nn.py`.

[2021-12-28 20:31] gchanan commented on #70417
I reproduced the issue on 1.10.0 and it's fixed on 1.10.1 -- please upgrade.

[2021-12-28 20:31] #70417 closed

[2021-12-28 20:36] gchanan commented on #70431
Try `del policy; del value` as well -- something is holding on to the autograd tape.

Please kindly ask questions on https://discuss.pytorch.org/.

[2021-12-28 20:36] #70431 closed

[2021-12-28 20:45] frgfm opened #70466 "Channel order changes the value of channel-wise sum"
### 🐛 Describe the bug

Hello there :wave:

Simply put, I was implementing a personal `ChannelShuffle` transformation for a project. So far so good, but when I wrote the unittest, I ended finding a strange behaviour: changing the channel order can change the channel-wise sum value.

The following snippet:
[code]
yields
[code]

I suspect a float approximation, but I don't why the order changes the

[2021-12-28 21:04] gchanan commented on #70426
can you post that minimal reproduction that includes lightning?

[2021-12-28 21:59] ngimel commented on #70466
Yes this is expected https://pytorch.org/docs/master/notes/numerical_accuracy.html

[2021-12-28 21:59] #70466 closed

[2021-12-28 22:16] #69979 closed

[2021-12-29 00:04] jedi2610 commented on #70431
that worked thank you, should have given it more thought my bad.

[2021-12-29 02:46] #70457 closed

[2021-12-29 03:00] LukeDitria commented on #40497
Not sure to how many people this will help but I seem to be able to turn the problem of getting NANs "off and on" by changing the epsilon parameter in the batch-norm layer from 1e-5 (default) to something greater than 6.1e-5. Smallest number 16bit can represent is 6.1e-5, not sure this is the issues as I thought batch-norm is computed at full precision, but it works reliably for me.

[2021-12-29 03:20] xin3he opened #70480 "Dynamic quantified Conv2d have accuracy issue"
### 🐛 Describe the bug

Dynamic quantified Conv2d have accuracy issue. After quantify Conv2d of resnet18, the accuracy on imagenet will drop to 0.
We fallbacked 10 conv2d to fp32 with [neural_compressor](https://github.com/intel/neural-compressor) and the accuracy will be recovered. (for example, fallback ops [('layer1.0.conv2', 'Conv2d'), ('layer1.1.conv2', 'Conv2d')] to fp32 will recover half ac

[2021-12-29 04:32] pree-T commented on #69444
Hi ! I want to work on it. Can anyone guide me?

[2021-12-29 04:49] philipturner commented on #47702
I think that the ML backend for S4TF is going to be faster than Torch. The competition is on… :)

[2021-12-29 05:50] Yuki-Nagato commented on #68407
Same issue here. This workaround still does not solve the problem. Removing the PositionalEncoding module obviates the error.

Env: python 3.8.12, pytorch 1.10.1 (py3.8_cuda11.3_cudnn8.2.0_0), ubuntu 20.04 LTS.

[2021-12-29 06:35] logan-lieou commented on #70344
M1 Borked asf

[2021-12-29 06:40] xin3he commented on #70480
Test results on imagenet val dataset:
**fp32**: Accuracy: **0.69758** Accuracy@top5 0.89078
**old_int8**: Accuracy: **0.69724** Accuracy@5 0.89090 _(only dynamic quantified Linear)_
**new_int8**: Accuracy: **0.00522** Accuracy@top5 0.01696 _(dynamic quantified Linear and Conv2d)_

[2021-12-29 06:49] shaibagon opened #70485 "Cannot run FX tracer on a vision transformer model"
### 🐛 Describe the bug

FX is unable to trace the graph of a vision transformer model:

[code]

This raises the following error:
[code]

This issue might be related to #67970

### Versions

[code]

[2021-12-29 06:53] ilovepytorch opened #70486 "`torch.{addcmul,addcdiv}` triggers INTERNAL ASSERT FAILED"
### 🐛 Describe the bug

It seems that when the `tensor2` has complex dtype, it will trigger internal assert fail.

[code]

### Versions

pytorch: 1.10.1

cc @ezyang @gchanan @zou3519 @bdhirsh @anjali411 @dylanbespalko @mruberry @Lezcano @nikitaved @nairbv @albanD @soulitzer

[2021-12-29 07:09] hbwx24 opened #70487 "Fusion of Convolution and BatchNorm"
### 🚀 The feature, motivation and pitch

Is there an operator that fusion conv and BN here？Such as
https://docs.nvidia.com/deeplearning/cudnn/developer-guide/index.html#op-fusion
or

https://docs.nvidia.com/deeplearning/cudnn/api/index.html#cudnnFusedOps_t

### Alternatives

_No response_

### Additional context

_No response_

[2021-12-29 08:43] ilovepytorch opened #70489 "`torch.RRELU` will crash when the input tensor is empty when running on cuda"
### 🐛 Describe the bug

`torch.RRELU` will crash on the cuda when the input tensor is empty, like tensor([])

[code]

### Versions

pytorch: 1.10.1

@mruberry @albanD @soulitzer @zou3519

cc @ezyang @gchanan @zou3519 @bdhirsh @albanD @mruberry @jbschlosser @walterddr @kshitij12345 @ngimel

[2021-12-29 08:56] ilovepytorch commented on #70486
`torch.addcdiv` also has this problem

[code]

[2021-12-29 10:28] albanD commented on #70486
Hi!
Thanks for the report.
Just to let you know, there is no need to "cc" people on the issue. The bot will cc the right people automatically based on the labels that are added.

[2021-12-29 10:29] Lezcano commented on #70486
cc @nkaretnikov you might want to have a stab at this one once you finish the PR you're working on :)

[2021-12-29 11:20] albanD commented on #70418
Hi,

Good catch!
We are indeed missing the zero-ing out of `g_t^i` when the direction is negative.
We would accept a PR fixing that.

[2021-12-29 11:25] albanD commented on #70455
Thanks for the feature request.
I agree that we could make this a bit easier to do but I don't think there should be such a function. In particular, I don't think you should assume that you're the only one adding hooks to Modules (thinks like weight norm does it as well).
So removing all the hooks without knowing what they are can be quite dangerous in general.

But if you're sure that you want to

[2021-12-29 11:32] albanD commented on #70445
Thanks for pointing this out.
We would accept a PR fixing this.

[2021-12-29 11:45] albanD commented on #70419
Thanks for the report!
Which implementation detail are you concerned about here?
This field is expect to show which Module this one will turn into once initialized.
The fact that these modules are not in `torch.nn.Foo` directly is because that's what their `__module__` says and that is expected (AFAIK).

[2021-12-29 12:02] Piteryo commented on #8976
Tip: if you're using DDP or some parallelism try to run your code without it on one GPU, I caught an error in my collate function for one of the batches that wasn't shown if I run DDP.

[2021-12-29 12:06] albanD commented on #70357
Hi,

Any function that starts with `_` is a private function and is not intended to be used by users.
This one in particular is exposing some internal buffer to the sparse Tensor and so this is expected behavior.

Coalescing and getting the values like you do in the first sample is the right way to get the values from your sparse Tensor.

[2021-12-29 12:32] albanD commented on #70352
Can you confirm that this only happens if you have a param group with no parameter in it?

If so, we would accept a PR fixing this indeed (by skipping the whole step for empty groups).

[2021-12-29 12:35] albanD commented on #70342
This is expected I am afraid.
I would encourage you to check the masked Tensor prototype mentioned in the linked issue if this is problematic for you.

Also if you have a specific use case where you want help figuring out a workaround, feel free to ask about it on the forum.

[2021-12-29 13:43] PeppaCat commented on #42487
Hi, guys. I wonder if there are any workout to avoid this problem? I found recursive data type are common in many algorithms. Take tree search as an example, we have a `node` class, and it also has children (let's say, a mapping from index to new nodes) `self.children: Dict[int, Node]={}`. I met the above problem when trying to convert a tree-search algorithm to torchscript, and I wonder if there

[2021-12-29 13:54] albanD opened #70490 "Cuda sync mode input checking is wrong for non-string/int inputs."
### 🐛 Describe the bug

Setting the sync debug mode to a bool gives a very unhelpful error message:
[code]

Gives
[code]

### Versions

Version 1.10.0+cu111 (current version on colab)

[2021-12-29 14:29] ilovepytorch opened #70492 "`linear` works much slower for the tensor with float16 than float32"
### 🐛 Describe the bug

`torch.nn.functional.linear` works much slower for the argument tensor with `float16` dtype than the tensor with `float32` dtype.

[code]

### Versions

pytorch version: 1.10.1

[2021-12-29 15:27] Lezcano opened #70495 "at::real for real tensors."
### 🚀 The feature

It'd be great that `at::real` would act as the identity function on real tensors.

An example is worth a thousand words (from https://github.com/pytorch/pytorch/pull/70253)
[code]
could be simplified to
[code]

cc @ezyang @anjali411 @dylanbespalko @mruberry @Lezcano @nikitaved

[2021-12-29 16:32] smorad commented on #70357
@albanD The docs here currently recommend using `_values()`to get the values of an uncoalesced tensor: https://pytorch.org/docs/stable/sparse.html

<img width="837" alt="Screenshot 2021-12-29 at 17 25 20" src="https://user-images.githubusercontent.com/1743889/147683101-b289f191-30cf-40e0-88e6-43a253fcb316.png">

If I don't care about duplicate indices, calling `.coalesce()` each time I want to acc

[2021-12-29 16:36] ProGamerGov commented on #70455
@albanD Yeah, it'd probably be better if modifying the module hook attribute was made official.

I was thinking that one could use a distinct forward hook function name and then filter out hooks from the dictionary using the hook function's `__name__` attribute. This would help avoid the potential issues that could result from removing all the hooks at once.

[code]

[2021-12-29 16:40] Bresenham opened #70497 "RuntimeError: Exporting the operator uniform to ONNX opset version 10 is not supported"
### 🐛 Describe the bug

In my Python code I export a model like this:

[code]

where `m` is a `torch.nn.Module`, `x` is the input which is fed to the model and `fn` is the `filename` where to save it.

The stack trace is:

[code]

### Versions

[code]

[2021-12-29 16:41] gchanan commented on #70492
It depends on your processor, but this would only be unexpected on cuda.

[2021-12-29 16:41] #70492 closed

[2021-12-29 16:57] albanD commented on #70455
I would like to keep the fact that these are stored in an ordered dict as an implementation detail if possible. But a new API to remove hooks based on a filter might be good here.
cc @jbschlosser what do you think?

[2021-12-29 16:58] zrfisher commented on #65490
I'm also receiving this error on MacOS 12.1 (Intel Core i7) and when running on Google Colab

[2021-12-29 16:58] lithuak opened #70498 "Multiple invalid summaries in torch.nn documentation page"
### 🐛 Describe the bug

Many summaries (descriptions) for [Non-linear Activation](https://pytorch.org/docs/stable/nn.html#non-linear-activations-weighted-sum-nonlinearity) section of torch.nn [documentation page](https://pytorch.org/docs/stable/nn.html) are invalid.

For instance, all of the summary for nn.ELU is "Applies the element-wise function:" missing the exact function it refers to, althoug

[2021-12-29 17:15] albanD commented on #70357
The warning sounds reasonable to me when the user calls `_values()` in python on a Tensor that requires grad.
cc @cpuhrsch what do you think?

[2021-12-29 17:49] PhilipNaveen opened #70500 "Adding the new Phish activation function"
### 🚀 The feature, motivation and pitch

Phish is a new activation function defined as f(x) = xTanH(GELU(x)) that shows similar performance to Swish in shallow models and similar performance to Mish in deeper ones. I would like to add Phish into PyTorch to offer an alternate activation function for deep neural-networks. Currently the paper is in TechArxiv, and has been submitted to and is under re

[2021-12-29 17:54] jbschlosser commented on #70455
Sure, I'm good with a new API to make bulk-removing hooks easier. I do agree that adding functionality to simply remove all hooks could result in unintended consequences, and requiring a filter seems like a good way to be explicit.

One minor thing: we might have to nicely name hooks added internally by e.g. `weight_norm`, otherwise I could see people trying to remove all hooks by passing an empty

[2021-12-29 18:14] JonasGeiping opened #70502 "torch.get_autocast_cpu_dtype() returns a new dtype (still?)"
### 🐛 Describe the bug

Hi, I have the following problem on pytorch 1.10.1:
[code]
This issue was already reported at:
https://github.com/pytorch/pytorch/issues/65786#issue-1010279411
but to my understanding, a fix was included in 1.10.1. The relevant PR is:

If I'm not misreading the release tracker, does the issue really persist?

### Versions

[code]

cc @ezyang @gchanan @zou3519 @bdhirsh

[2021-12-29 18:45] ProGamerGov commented on #70441
So, following the same procedure as `ModuleList.extend()` gives me this, but there may be a better way to concat the lists:

[code]

The above function is untested though.

[2021-12-29 19:13] jerryzh168 commented on #68250
just to be clear, quantized dropout would be something similar to https://github.com/pytorch/pytorch/blob/master/torch/nn/quantized/modules/activation.py#L4 right, why would it take ~0.5LOC?

On the other hand I don't have a strong preference over one or another, just saying quantized dropout would be a more future proof approach. As you mentioned we probably won't have trainable quantized Dropout

[2021-12-29 19:32] jerryzh168 opened #70503 "[not-user-facing] We should not use modules in test_quantized_op.py"
### 🐛 Describe the bug

In https://github.com/pytorch/pytorch/blob/master/test/quantization/core/test_quantized_op.py#L4006 we are using modules, but quantized op is a building block for quantized modules, so we should not be using quantized modules to test quantized ops.

### Versions

master

cc @jerryzh168 @jianyuh @raghuramank100 @jamesr66a @vkuzo

[2021-12-29 19:34] #70503 closed

[2021-12-29 19:34] jerryzh168 commented on #70503
looks like we are using nn.Conv2d, so it should be fine

[2021-12-29 20:35] gchanan commented on #70502
I was able to reproduce this on 1.10.1

[2021-12-29 20:43] gchanan commented on #70502
hmm this tag for 1.10.1 shows https://github.com/pytorch/pytorch/commit/302ee7bfb604ebef384602c56e3853efed262030, which would mean the following commits are missing from the release:
1) https://github.com/pytorch/pytorch/commit/3e412cd6dff635c0a58d85749e42e9ee1866a84e (this one)
2) https://github.com/pytorch/pytorch/commit/932ac7bd713fbac63d96d86571ba4529ad0423f0
3) https://github.com/pytorch/pyto

[2021-12-29 20:45] gchanan commented on #70502
CC @seemethere

[2021-12-29 20:53] seemethere commented on #70502
Oh wow I think I might've tagged the wrong commit during this release. We can plan on doing a quick 1.10.2 release to sort this out once everyone is back from PTO next week.

[2021-12-29 21:17] carlosgmartin opened #70504 "backward checks len of inputs before it's converted to a tuple"
### 🐛 Describe the bug

[`backward`](https://pytorch.org/docs/stable/generated/torch.Tensor.backward.html) checks the `len` of `inputs` before it's converted to a tuple. Example:

[code]

[This](https://github.com/pytorch/pytorch/blob/9e175400ac388844a00a15fdb12730f0e31f4d9b/torch/autograd/__init__.py#L158) is the source of the error. The `len` check should be moved to *after* `inputs` is converte

[2021-12-29 21:21] carlosgmartin commented on #70441
@ProGamerGov Doesn't that modify in-place?

[2021-12-29 21:23] mikaylagawarecki commented on #70447
Hi! Can you give us some more information? Do you have a self-contained script which we could use to reproduce the problem?

[2021-12-29 21:24] jbschlosser commented on #70500
Hey @PhilipNaveen, thanks for the request! Note that, to maintain reasonable maintenance costs with limited dev bandwidth, we have a relatively conservative acceptance policy for new `torch.nn` modules; we generally prefer to wait until they become popular enough that their inclusion is frequently requested or expected within the core library. We are certainly open to inclusion once this can be sh

[2021-12-29 21:25] jbschlosser commented on #70441
Right, we'd want functional semantics for `ModuleList.__add__`; it should return a new `ModuleList` that represents the addition.

[2021-12-29 21:30] nicknytko commented on #62259
I'm able to reproduce locally on Python 3.10 with the following code snippet:

[code]

which gives the output
[code]

Confirming the backtrace through gdb shows that this does happen in `flatten_indices()`:
[code]

[2021-12-29 21:45] jbschlosser opened #70505 "`UninitializedParameter.to(device='meta')` creates a zero-sized meta tensor instead of remaining uninitialized"
### 🐛 Describe the bug

Lazy's `UninitializedParameter` exhibits unexpected behavior when attempting to move it to the 'meta' device. Calling `UninitializedParameter.to(device='meta')` returns a zero-sized meta tensor instead of remaining as an `UninitializedParameter` as expected.

[code]

The `to()` behavior for meta should match that of CPU; the returned object should remain as an `Uninitialize

[2021-12-29 21:49] PhilipNaveen commented on #70500
@jbschlosser I appreciate the response! I just wanted Phish to be usable to people without the need of implementing the function itself. Phish is very similar to Mish, which as we know is one of the best activation functions out currently. Hardware limitations prevented me from testing Phish on large datasets myself, so I thought adding it to PyTorch would allow for more people with access to such

[2021-12-29 21:58] oytunturk commented on #24081
Thanks, setting NCCL_P2P_DISABLE=1 solved a similar issue I was having with RTX A5000s.

[2021-12-29 22:42] kurtamohler commented on #68727
Looks like `MaxUnpool3d` has this issue as well.

What is the best way to detect the invalid values given to a CUDA kernel? We could just check them before the CUDA kernel is called--but that would require a CUDA sync. Maybe another option is to return an error flag from the CUDA kernel if it sees an invalid value and then throw the error after the kernel is finished. How do other CUDA operations

[2021-12-29 23:42] ProGamerGov commented on #70455
The code below demonstrates the current iteration of the hook removal function with built in filtering, and it works for all PyTorch versions down to v1.2.0:

[code]

[2021-12-30 00:00] vadimkantorov commented on #70502
I think dtypes need to be compared using `==`, If I remember well checking tensor dtypes also must be done with `==`, `is` doesn't work - I think it's also the case for NumPy...

[2021-12-30 00:36] JonasGeiping commented on #70502
Oh sorry, I didn't know whether to use `is` or `==` here. The issue does persist for `==` though:
[code]
What I'm really trying to get working is that the `torch.autocast` code at https://github.com/pytorch/pytorch/blob/302ee7bfb604ebef384602c56e3853efed262030/torch/autocast_mode.py#L153 which is an `element in [element]` check

[2021-12-30 00:57] vadimkantorov commented on #70502
(my own opinion that it would be better if these dtypes were singletons and `is` worked too...)

[2021-12-30 02:24] ngimel commented on #68727
Other cuda kernels raise device assert. There's no way to nicely raise a flag

[2021-12-30 02:55] siahuat0727 opened #70511 "Strange behavior of torch.jit.trace when moving parameters across device"
### 🐛 Describe the bug

Hi, I want to add hooks to lazily load the model parameters and trace the model.

However, it seems that it should be moved **twice** to work properly with `torch.jit.trace`. (Uncomment the code block and it will work)

Additionally, I notice that it consumes a lot of memory (cpu) with lazily load parameter + trace. Am I using this tool incorrectly? And what is the best pra

[2021-12-30 02:59] jerryzh168 opened #70512 "Add docs for setting engines correctly for fbgemm/qnnpack"
### 🐛 Describe the bug

We need to add an entry in https://pytorch.org/docs/stable/quantization.html#common-errors to talk about the time when user train the model with qnnpack settings and run it with fbgemm quantized engine, which would result in numerical errors (since fbgemm only works with reduce_range settings). This is common when running on mobile.

### Versions

master

cc @jerryzh168 @ji

[2021-12-30 03:37] FuriouslyCurious opened #70513 "Conda Repodata.json file not found"
### 🐛 Describe the bug

When installing pytorch packages through Conda installer, following warning comes up:

`Collecting package metadata (current_repodata.json): ...working... Unable to retrieve repodata (response: 404) for https://conda.anaconda.org/pytorch/linux-64/current_repodata.json`

Since repodata.json file is not present in Pytorch channel, conda install falls back to secondary conda c

[2021-12-30 03:52] carlosgmartin commented on #50276
`indexing='ij'` yields the most natural behavior. It also makes more sense in higher dimensions. `(N1, N2, N3,...Nn)` is more natural than `(N2, N1, N3,...Nn)`. I'm a bit dismayed that PyTorch is changing from the natural convention to numpy's unnatural convention.

[2021-12-30 05:25] mrartemev commented on #40497
Thanks, guys!

Seems to be fixing the nan issue for me!

[2021-12-30 05:33] ZhangTianrong opened #70515 "Sigmoid result all zeros in the exported onnx model"
### 🐛 Describe the bug

I am trying to export a model to onnx but the output is wrong. The output has correct size but is all zeros which is nearly impossible for a sigmoid function.

![image](https://user-images.githubusercontent.com/20651728/147723398-93f1ee88-6cd5-4d2d-80de-14b34ef1b12c.png)

Interestingly, when I looked into the value of node 705, it's correct. The involved pytorch module here

[2021-12-30 05:50] suo commented on #70368
This test is also [failing on linux platforms](https://www.torch-ci.com/failure/test_basic_checkpoint_end_to_end_cpu_offload_CPUOffload(offload_params%3DTrue)_offload_activations_True%2C%20TestFSDPCheckpoint), so I am expanding the disable

[2021-12-30 05:51] suo opened #70516 "DISABLED test_random_seed (__main__.TestDataLoaderUtils)"
This job was disabled because it is failing on master ([recent examples](http://torch-ci.com/failure/test_random_seed%2C%20TestDataLoaderUtils)).

cc @ezyang @gchanan @zou3519 @bdhirsh @SsnL @VitalyFedyunin @ejguan @NivekT

[2021-12-30 05:51] suo opened #70517 "DISABLED test_proper_exit (__main__.TestDataLoader)"
This test was disabled because it is failing on master ([recent examples](http://torch-ci.com/failure/test_proper_exit%2C%20TestDataLoader)).

cc @ezyang @gchanan @zou3519 @bdhirsh @SsnL @VitalyFedyunin @ejguan @NivekT

[2021-12-30 06:00] Arthur151 opened #70518 "Weird output size of ConvTranspose3d!"
### 🐛 Describe the bug

Weird odd size of ConvTranspose3d output.

[code]
Should it be torch.Size([4, 32, 32, 32, 32])?

### Versions

PyTorch version: 1.10.0+cu102
Is debug build: False
CUDA used to build PyTorch: 10.2
ROCM used to build PyTorch: N/A

OS: Ubuntu 20.04.3 LTS (x86_64)
GCC version: (Ubuntu 7.5.0-6ubuntu2) 7.5.0
Clang version: 10.0.0-4ubuntu1
CMake version: version 3.16.3
Libc versio

[2021-12-30 06:32] 1234565556 opened #70519 "RuntimeError: cublas runtime error"
### 🐛 Describe the bug

Some weights of the model checkpoint at /home/sunpeng/AXJ/MRC/bert/bert-base-uncased were not used when initializing BertQueryNER: ['cls.predictions.transform.dense.bias', 'cls.predictions.transform.LayerNorm.bias', 'cls.predictions.bias', 'cls.seq_relationship.bias', 'cls.predictions.transform.LayerNorm.weight', 'cls.predictions.transform.dense.weight', 'cls.predictions.de

[2021-12-30 07:16] lithuak commented on #70500
@PhilipNaveen The way to go I believe would be to create a stand-alone github repo with your own python library implementing your activation function. Look at Pytorch activation functions like nn.ReLU and others to get the implementation sketch idea - the code is very minimal and clear. Look e.g. at [Extending PyTorch with Custom Activation Functions](https://www.kaggle.com/aleksandradeis/extendin

[2021-12-30 08:08] amitport commented on #16897
If anybody is interested I found that for the uniform sampling without replacement case, the following works fairly well (kind of slow if the input vecor dim ~> 10mil)
[code]

[2021-12-30 08:15] lamhoangtung opened #70521 "Fail to link CXX shared library lib/libtorch_cuda.so when build PyTorch 1.8.2 from source"
### 🐛 Describe the bug

I'm trying to build PyTorch 1.8.2 wheel but failed to link CXX shared library lib/libtorch_cuda.so

Here is how I did it:

- Clone the `pytorch` and `builder` repo, checkout `v1.8.2` along side with it's submodules
[code]
- Prep the docker container for build:
[code]
- Now inside the docker container, run:
[code]
- After a fews hours, it will fail with this error:
[code]

-

[2021-12-30 08:17] lamhoangtung commented on #70162
Thanks @harishsk. I'm working on the fixes but encountering #70521, can you take a look ?

[2021-12-30 08:29] cschell commented on #70426
[code]

This is the basic "LitAutoEncoder" example with the minimal example from above being added at the beginning of `training_step`. However, this works fine for me without any errors, while adding the test snippet in the same way to my "real" lightning module immediately raises mentioned exception.

[2021-12-30 08:35] kshitij12345 commented on #70419
My concern was that everywhere else in documentation there is mention of relevant `torch.nn.Foo` module but `cls_to_become` points to the exact path of the module (which is not documented) and I don't think that is how it is meant to be used by user.

For example `LazyConv2d`,
![image](https://user-images.githubusercontent.com/19503980/147734995-6c9c2133-61b7-43e8-b203-b7fc01c42a98.png)

So at fir

[2021-12-30 10:18] #69042 closed

[2021-12-30 10:28] #70518 closed

[2021-12-30 11:24] ianholing opened #70523 "Segmentation fault in big enough grouped convolutions"
### 🐛 Describe the bug

In some environments, a big enough grouped convolution crashes with a segmentation fault. This code:

[code]
Executes with this output:
[code]

That's not true in all possible environments, I did some tests with some AWS machines with enough ram to deal with the script, the same OS image: "Deep Learning AMI (Ubuntu 18.04) Version 54.0 - ami-0954b94a3697c43dd" and the last p

[2021-12-30 12:24] KinglittleQ opened #70524 "Unable to get attributes from Dataset"
### 🐛 Describe the bug

Unable to get attributes from Dataset class.

## How to reproduce:
[code]
This would rase AttributeError.

## What I found

I found that Dataset only supports for getting functions since 1.10, because the `__getattr__` function is overloaded.
Is this a **bug** or **feature**?

[code]

### Versions

PyTorch 1.10

[2021-12-30 13:11] lumaku opened #70525 "C++ extension JIT import: module 'importlib' has no attribute 'abc'"
### 🐛 Describe the bug

When importing a C++ extension, Pytorch crashes on this line:
https://github.com/pytorch/pytorch/blob/36db501736cafd69cdfd0114b6136b6cc2e91160/torch/utils/cpp_extension.py#L1762

To reproduce:
On Arch Linux latest
Python 3.10.1 (main, Dec 18 2021, 23:53:45) [GCC 11.1.0]
Pytorch 1.10.1

With the example from https://pytorch.org/tutorials/advanced/cpp_extension.html

[code]

[2021-12-30 13:19] flydragon2018 commented on #67680
I met this problem in colab pro.

I  reset factory runtime, It works.

[2021-12-30 15:05] vkuzo commented on #68250
the code for dropout function and module would be trivial, but there would be boilerplate for defining the swaps, testing, documentation, etc.  We can discuss offline if it's worth it, I feel like deferring that cost until later when quantized dropout is actually needed is reasonable.

[2021-12-30 15:07] vkuzo commented on #70512
I agree, we are tracking this in https://github.com/pytorch/pytorch/issues/46749, we have a plan to solve this automatically without needing extra user involvement.  Please take a look at the question we have tagged you in this document (Meta-only): https://docs.google.com/document/d/1jFvmgEkwEOkbCmeRf0w23sND7fZ8ql49JDVIE5DU8xE/edit#heading=h.a8eejvwtn4fb .

[2021-12-30 15:07] #70512 closed

[2021-12-30 15:08] albertz commented on #39670
Why not just?
[code]

Or does TorchScript also set `TYPE_CHECKING`?

[2021-12-30 16:21] albertz opened #70529 "BatchNorm on variable-length sequences or batches"
### 🚀 The feature, motivation and pitch

BatchNorm1d is often used on variable-length sequences. As I understand, that would be always incorrect currently, as it ignores the sequence lengths and thus also includes the padded values for the statistics.

To fix this, there should be an additional argument like `seq_lengths` or `batch_sizes` or so, and it should calculate the statistics only over the

[2021-12-30 16:43] rgommers commented on #59787
This makes sense, NumPy gives:
[code]

I'm not sure why this has a "needs design" label. I don't think there's a valid use case (or any code out there) using multiple ellipses. All that seems to be needed is to do some validation in `__getitem__` and raise a clear exception.

[2021-12-30 16:47] ejguan commented on #70283
I believe you can do `batch_size` as None to return the original data from your Dataset.

[2021-12-30 16:50] rgommers commented on #62812
Update: we actually left `einsum` out of the 2021 standard, because it turned out to be pretty complex to specify in detail.

That doesn't mean it is not a good idea to add `einsum` into `torch.linalg` at some point, but it's not a priority I'd say. So I'll go ahead and remove the array API label.

[2021-12-30 16:53] vkuzo commented on #70480
Hi @xin3he , thank you for the report.  The current implementation of dynamic quantization for convolution is not finished and is not ready for official release yet.  cc @HDCharles , we should make sure we either resolve the accuracy issues or disable the module swaps before v1.11 release.

[2021-12-30 17:11] #70116 closed

[2021-12-30 17:28] ejguan commented on #47354
@partriv

To use Python 3.10, you have to compile PyTorch by yourself. I believe we don't have such wheel.

@iffyaiyan
The link you used should be changed to https://download.pytorch.org/whl/cpu/torch_stable.html for cpu.

[2021-12-30 17:34] ejguan commented on #70402
I couldn't access the link you provided for the dataset.
But, I would guess there are objects inside your Dataset instance that can not be pickled by multiprocessing or the memory used by each Dataset instance exceed the limitation of your machine.
Reducing the usage of python list inside your Dataset may help.

[2021-12-30 18:06] priceluke commented on #70352
@albanD
https://discuss.pytorch.org/t/step-size-min-referenced-before-assignment/140275/7

is this expected behaviour? if not I can look into a PR

[2021-12-30 18:09] cpuhrsch commented on #62259
Does this also reproduce on our nightlies?

[2021-12-30 18:55] rgommers commented on #61492
This is in progress, there's an open PR stack (4 small-ish PRs left) at gh-55681 that needs merging.

[2021-12-30 19:55] kuraga commented on #47354
@ejguan why `cpu` in your link? Which for GPU?

[2021-12-30 19:57] ejguan commented on #47354
@kuraga
For GPU, it depends on your cuda runtime library. It's better to take reference from https://pytorch.org/get-started/locally/

[2021-12-30 20:38] ProGamerGov commented on #25367
I'm surprised that we don't have TorchScript / JIT support for `torch.nn.ParameterList` yet. I guess the work around would be to wrap a bunch of `nn.Modules` where the forward function returns a stored value into a `nn.ModuleList`.

[2021-12-30 20:39] ngimel commented on #70521
Relocation overflows are caused by a very big binary size, `BUILD_SPLIT_CUDA=1 ` should help

[2021-12-30 20:59] ZhangTianrong commented on #70515
Seems that onnxruntime is not able to perform the sigmoid in a numerically stable way in my case.

[2021-12-30 20:59] #70515 closed

[2021-12-30 21:27] jbschlosser commented on #70498
Hey @lithuak, thanks for the report! If you'd like to contribute, we certainly would accept PRs addressing this. As you mentioned, most likely the way we want to go here is to tweak the activation function docstrings so that the first line provides a full useful summary.

[2021-12-30 21:37] divideconcept commented on #63558
While building specific binaries work fine (-DCMAKE_OSX_ARCHITECTURES=x86_64 or -DCMAKE_OSX_ARCHITECTURES=arm64), when trying to build universal binaries (-DCMAKE_OSX_ARCHITECTURES="x86_64;arm64") the compilation fails after a few minutes:

[code]
Which seems similar to the issue encountered here: https://github.com/pytorch/QNNPACK/issues/5

I'm using the following cmake options:
[code]

I thought

[2021-12-30 22:16] ProGamerGov opened #70533 "JIT / TorchScript should support for sum(List[torch.Tensor]) like non-JIT PyTorch already does"
### 🚀 The feature, motivation and pitch

The following code currently fails due to JIT not supporting the summarization of tensor lists:

[code]

It would be nice is JIT would work here.

### Alternatives

_No response_

### Additional context

This feature already works in normal PyTorch and it's simple enough that many would probably expect it to work in JIT.

[2021-12-30 22:25] kurtamohler commented on #68727
So I guess there must not be a good way to write tests for device asserts either, right? Or do we have a way to do that?

[2021-12-30 22:43] #70232 closed

[2021-12-30 23:55] evrrn commented on #57289
If you like me use **jit scripting only on inference**, during this phase you do not change the layers weights so there is no need in their normalization. So I used to **apply [remove_weight_norm function](https://pytorch.org/docs/stable/generated/torch.nn.utils.remove_weight_norm.html) to every layer, that was previously normalized**:

[code]

This works for me, hope it'll be helpful.

[2021-12-31 01:08] philipturner commented on #47702
For those who are interested, here's a compilation of everything I've done with regard to Metal GPU acceleration and Swift for TensorFlow: [philipturner/resurrection-of-s4tf](https://github.com/philipturner/resurrection-of-s4tf/blob/main/README.md)

[2021-12-31 02:30] Maratyszcza commented on #63558
`cpuinfo` needs different source files for different architectures. I don't know how to express this with CMake, but if anyone figure it out, please let me know.

[2021-12-31 04:22] lamhoangtung commented on #70521
Thanks for the help @ngimel. I had set `BUILD_SPLIT_CUDA=1` and retry but encountering another issue. Can you take a look ?
[code]

[2021-12-31 05:10] Chaser-wind opened #70536 "torch.multiprocessing.Queue can not pass Tensor after the putting sub-process exits"
### 🐛 Describe the bug

This is a toy program that uses a queue to get the tensors generated by its subprocess.
[code]
Error message:
[code]
Maybe the shared memory is incorrectly released when subprocess exits?

### Versions

Collecting environment information...
PyTorch version: 1.10.1+cu113
Is debug build: False
CUDA used to build PyTorch: 11.3
ROCM used to build PyTorch: N/A

OS: Microsoft Win

[2021-12-31 05:17] ngimel commented on #68727
By running a test in a subprocess, we have a few tests like this (marked as slow), but not for all ops that are supposed to trigger device-side assert.

[2021-12-31 05:37] pancccool opened #70537 "After pytorch fixes the random seed, why can the results be repeated only in the first few epochs ?"
## Issue description
After pytorch fixes the random seed, only the results of the first few epochs can be repeated, and the results of the next few epochs cannot be repeated.

## Code example
Here is my seed setup:
jj=0
np.random.seed(jj)
random.seed(jj)
torch.manual_seed(jj)
torch.cuda.manual_seed_all(jj)
torch.cuda.manual_seed(jj)
torch.backends.cudnn.benchmark = False
torch.backends.cudnn.deter

[2021-12-31 06:41] #70097 closed

[2021-12-31 06:54] lstrgar commented on #44949
I'm having the same problem with a stack of conv transpose 1d / 2d and batchnorms, though I can't say specifically if the batchnorm has anything to do with it.

[2021-12-31 07:42] Zhang-O commented on #57805
Two possibile reasons:
1. your file is corupted
2.  you save your checkpoint in DDP training style with writing file of multi-processes, which induces a unsave writing.

[2021-12-31 07:44] ZhongYingMatrix opened #70540 "cumcount / cumulative count"
### 🚀 The feature, motivation and pitch

Hi~
Is there any api achieve that:
`tensor([[3, 1, 2, 2, 1, 2],
               [2, 2, 1, 1, 3, 2]])`
to
`tensor([[0, 0, 0, 1, 1, 2],
                [0, 1, 0, 1, 0, 2]])`
like count-format **torch.cumsum**

or some efficient implementation of current pytorch api for batch cumulative count?
sincerely thx～

### Alternatives

_No response_

### Additional cont

[2021-12-31 09:37] xcwanAndy commented on #57100
@albanD Hi, I wonder if `torch.autograd.graph.save_on_cpu()` can also save the generated computation graph from GPU to CPU, such that I can manually operate on both the input/output tensors and the computation graph.

[2021-12-31 09:43] vadimkantorov commented on #70533
regular sum also seems not very nice in terms of computational complexity (unless JIT can optimize it). A related feature request: https://github.com/pytorch/pytorch/issues/27522

[2021-12-31 09:44] vadimkantorov commented on #27522
But as https://github.com/pytorch/pytorch/issues/70533 mentions, probably the sum / functools.reduce workarounds aren't very TorchScript-able...

[2021-12-31 11:23] divideconcept commented on #63558
Meanwhile for anyone interested I'm posting here a detailed step by step to build universal binaries for libtorch on macos by stitching a x86_64 build and a arm64 build:

1. Install XCode
2. Install CMake
3. create a ~/pytorch folder
4. In a terminal type the following commands:
[code]

You will get a universal libtorch package in ~/pytorch-build/pytorch-install-universal

[2021-12-31 11:51] alankar66 commented on #30664
This worked for me too.

[2021-12-31 13:58] vadimkantorov commented on #41492
I also had a usecase for this (finfo.min for avoiding division by zero): https://github.com/vadimkantorov/ctc/blob/master/ctc.py#L19

[2021-12-31 19:00] erip opened #70544 "Tensor loses `bool` method during scripting"
### 🐛 Describe the bug

When scripting a class which relies on `torch.Tensor.bool`, the method is not found and errors out with `'Tensor' object has no attribute or method 'bool'.`.

[code]

Error:

[code]

As a workaround, one can use `self.x = x.to(torch.bool)`

### Versions

[code]

[2021-12-31 20:17] philipturner commented on #47702
Big thanks to @RahulBhalley for agreeing to help out. The S4TF backend is going to be open-source from the start, so anyone can experiment with it before Torch's backend goes public. S4TF has a declarative API similar to Torch, and I expect that it will be familiar to Torch users after getting used to Swift.

If you want to get a heard start, some of the Swift crash course tutorials are working on

[2022-01-01 02:22] 0x0177b11f commented on #70392
`
index ca353c40..1bbe8a4c 100644
--- a/src/client/linux/handler/exception_handler.cc
+++ b/src/client/linux/handler/exception_handler.cc
@@ -138,7 +138,7 @@ void InstallAlternateStackLocked() {
   // SIGSTKSZ may be too small to prevent the signal handlers from overrunning
   // the alternative stack. Ensure that the size of the alternative stack is
   // large enough.
-  static const unsigned kS

[2022-01-01 03:26] suo opened #70546 "DISABLED test_tensorpipe_set_default_timeout (__main__.TensorPipeTensorPipeAgentRpcTest)"
Platforms: mac

This test was disabled because it is failing on master ([recent examples](http://torch-ci.com/failure/test_tensorpipe_set_default_timeout%2C%20TensorPipeTensorPipeAgentRpcTest)).

[2022-01-01 04:34] defoishugo commented on #70283
@ejguan Thank you for your reply. Correct me if I'm wrong...

In my mind, setting `batch_size` to None forces the loading of all the data, i.e. there will be successive calls of `__get_item__` to build the dataset.

However, in my case, each call of `__get_item__` is particularly costly (on the memory side), because the function returns frames of videos and its attached samples of sounds.

My data

[2022-01-01 04:38] suo opened #70547 "DISABLED test_proper_exit (__main__.TestDataLoaderPersistentWorkers)"
This test was disabled because it is failing on master ([recent examples](http://torch-ci.com/failure/test_proper_exit%2C%20TestDataLoaderPersistentWorkers)).

cc @SsnL @VitalyFedyunin @ejguan @NivekT

[2022-01-01 13:50] jaketae commented on #70524
I wasn't able to reproduce this on 1.10 nor the nightly build. Are you reporting an issue you ran into or analyzing the source code?

As far as I can tell, `__getattr__` doesn't get called when you call `ds.n`. As [documented](https://docs.python.org/dev/reference/datamodel.html#object.__getattr__), `__getattr__` gets called when an attribute lookup has not found the attribute in the usual places.

[2022-01-01 16:57] minrui-hust opened #70548 "amp fp16 is a fake one?"
### 🐛 Describe the bug

I use amp to do mix precision trainning, every thing works fine, but without any performance boost.
I use torch profile to trace what happened, and found that conv2d which support fp16 seems do fp32 calc in backend. cause i
found that before fp16 data feed to conv2d, there is a aten:to operater(it might be casting fp16 to fp32? if it is not, why need the aten::to operator?

[2022-01-01 18:28] jxtps commented on #13130
Any chance for an official downloadable build made available like intel LibTorch on pytorch.org?

The new AWS G5g instances ( https://aws.amazon.com/ec2/instance-types/g5g/ ) make aarch64 LibTorch a very interesting proposition for cloud inference.

[2022-01-01 20:42] serhatataman commented on #67680
@JShull , could you please share the code that you downgraded both PyTorch and transformers?

[2022-01-02 02:31] hubutui commented on #69911
@ejguan Hi, it seems the patch can't be cleanly cherry-picked. It's not convenient to create pkg for ArchLinux. Any plan to make a patch release in the following days? See also https://bugs.archlinux.org/task/73187.

[2022-01-02 02:40] HugThePenguin commented on #67598
I'm not sure whether this is safe or not, but you can just go to
`.../python3.9/site-packages/torch/autocast_mode.py`
(the file shown in the message.), go Line141, and comment out the
`wernings.warn(...) `
by adding "#" in front of it.
This will hide the annoying massages.

[2022-01-02 06:35] minrui-hust commented on #70548
after install pytorch from source, performance boost about 50%, I think is some lib version is wrong

[2022-01-02 06:35] #70548 closed

[2022-01-02 07:12] PINTO0309 commented on #67337
The same problem occurs with **`JoJoGAN`**. I have saved the download code for the trained model, the source code that can reproduce the problem, and the error log below.
- Colabo Code
https://colab.research.google.com/drive/1NQ1hcd2infh4FCY3KHb3SlUrQ5l6n79e?usp=sharing

- Error Logs (onnx opset=13)
[code]

[2022-01-02 09:06] vadimkantorov opened #70555 "[feature request] Exponential moving average of a tensor across a dimension"
### 🚀 The feature, motivation and pitch

If the dimension size is high, Python loop may be inefficient and maybe inplace computation graph (for efficiency) could confuse TorchScript.

In pandas this exists as `ewm()` function.

In NumPy various reimpl methods exist (recurrent; truncated based on convolution): https://stackoverflow.com/questions/42869495/numpy-version-of-exponential-weighted-moving

[2022-01-02 09:08] KinglittleQ commented on #70524
Thanks!

[2022-01-02 09:08] #70524 closed

[2022-01-02 12:06] jaketae commented on #70441
Would the following be more in line with the specs?

[code]

I also thought about using `copy.deepcopy` to produce a copy of `self`, then add modules in `other`, but I wasn't entirely sure if that would be preferable over the approach above.

[2022-01-02 17:27] avostryakov commented on #67320
grid_sample is officially supported by ONNX 1.11. It's not released yet but it was committed:
https://github.com/onnx/onnx/commit/bc4c4c48f664d4d08cabd30a57063588d7537408

[2022-01-02 18:01] DavidHarrison opened #70559 "Behavior of torch.nn.functional.interpolate with unchanged output size and recompute_scale_factor=False"
### 📚 The doc issue

I ran across some unexpected behavior in using [`torch.nn.functional.interpolate`](https://pytorch.org/docs/stable/generated/torch.nn.functional.interpolate.html):
When the output is the same shape as the input, the values remain the same, even if recompute_scale_factor=False
(for 2D or 3D interpolation, the values are resampled across the dimensions that change, but not those

[2022-01-02 18:49] lithuak opened #70560 "Tests fail on viable/strict"
### 🐛 Describe the bug

Running `python test/run_test.py` fail at the current `viable/strict` which is ce86881afadc0fea628c7e47d64a4073f3e09894 .

The culprit is `test/distributed/_sharded_optim/test_sharded_optim.py ` which produces the following error:
[code]

### Versions

Collecting environment information...
PyTorch version: N/A
Is debug build: N/A
CUDA used to build PyTorch: N/A
ROCM used to

[2022-01-02 20:48] suo opened #70562 "DISABLED test_barrier_group (__main__.TestDistBackendWithSpawn)"
Platforms: mac

This test was disabled because it is failing on master ([recent examples](http://torch-ci.com/failure/test_barrier_group%2C%20TestDistBackendWithSpawn)).

cc @ezyang @gchanan @zou3519 @bdhirsh @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @rohan-varma @gqchen @aazzolini @osalpekar @jiayisuse @SciPioneer @H-Huang

[2022-01-03 03:40] JShull commented on #67680
Hey @serhatataman I went back through my notes and this is what I had on the setup/install - this was after I had already setup the more recent versions which is sort of funky because I'm technically using CUDA 11.5

- ![CUDA 11.5](https://user-images.githubusercontent.com/12342337/147898133-54d4ad62-98e3-4e53-bb46-9003390915dc.png)

- Torch install code snippet was from their site and can be foun

[2022-01-03 04:03] watchwater commented on #67680
I encountered the same error. I increased dataloader's num_workers from 6 to 12 and didn't change anything, it worded. It's really confusing.

[2022-01-03 04:38] ganler opened #70570 "Incorrect ONNX Export for Unidirectional Broadcasting in PReLU"
### 🐛 Describe the bug

[code]

When compiling this **PReLU** operator in ONNX, TVM will fail due to that the given model is incorrect. After some investigation, I found that in ONNX's [specification](https://github.com/onnx/onnx/blob/master/docs/Operators.md#prelu):

This means in a valid ONNX model, rank of `slope` must be <= rank of PReLU's input (Unidirectional Broadcasting) while PyTorch's PR

[2022-01-03 07:58] pmeier commented on #59787
Reminder to self: the check needs be somewhere around [here](https://github.com/pytorch/pytorch/blob/ab49d41bb5f7775431a831936c6603add10e9a2d/torch/csrc/autograd/python_variable_indexing.cpp#L149).

[2022-01-03 08:53] EJShim commented on #32960
I guess that this issue is resolved in the latest ONNX. Do I have to wait for pytorch to support onnx opset 16 ?

[2022-01-03 09:23] wpalfi opened #70572 "JIT: strange timing with logical operators"
### 🐛 Describe the bug

`ScriptFunction`s are very slow in this example. (At least the first invocation for a given input shape). The problem disappears when I use `torch.logical_and()` or `torch.bitwise_and()` instead of the `&`-operator. `jit.script()` gives similar results.

[code]

Output:

[code]

### Versions

PyTorch version: 1.10.0
Is debug build: False
CUDA used to build PyTorch: 11.3
ROC

[2022-01-03 09:48] erip opened #70573 "JIT magic method which returns non-primitive fails"
### 🐛 Describe the bug

JIT'ing a magic method which returns an instance of the JIT'd class fails.

[code]

### Versions

PyTorch version: 1.10.1
Is debug build: False
CUDA used to build PyTorch: None
ROCM used to build PyTorch: N/A

OS: macOS 10.15.7 (x86_64)
GCC version: Could not collect
Clang version: 12.0.0 (clang-1200.0.32.29)
CMake version: version 3.22.1
Libc version: N/A

Python version:

[2022-01-03 10:18] fatcat-z commented on #70497
@Bresenham

Could you please switch opset_version to 11 for another try?

[2022-01-03 10:24] fatcat-z commented on #70446
This is being tracked internally by Microsoft at https://msdata.visualstudio.com/Vienna/_workitems/edit/1567880.

[2022-01-03 11:02] fatcat-z commented on #70299
This is being tracked internally by Microsoft at https://msdata.visualstudio.com/Vienna/_workitems/edit/1567895.

[2022-01-03 11:03] Bresenham commented on #70497
@fatcat-z

Thank you for your reply.

This code:

[code]

leads to this error:

[code]

[2022-01-03 11:05] fatcat-z commented on #70497
Could you please share your code snippet so we can have a local repro?

[2022-01-03 11:10] Bresenham commented on #70497
@fatcat-z

[code]

`ResNet` is my own implementation of the `ResNet`.

[2022-01-03 11:37] quincytann commented on #67680
I am the same version of CUDA, same question: did you solve it?

I am the same version of CUDA, same question: did you solve it?

[2022-01-03 12:03] fatcat-z commented on #70289
This is being tracked internally by Microsoft at https://msdata.visualstudio.com/Vienna/_workitems/edit/1567914.

[2022-01-03 12:27] fatcat-z commented on #70110
This is being tracked internally by Microsoft at https://msdata.visualstudio.com/Vienna/_workitems/edit/1567951.

[2022-01-03 12:36] fatcat-z commented on #69889
@mikel-brostrom

Exporter has supported unfold op already. Could you please set operator_export_type to default value for a try? Or share us your code which caused such error?

[2022-01-03 12:40] fatcat-z commented on #69842
This is being tracked internally by Microsoft at https://msdata.visualstudio.com/Vienna/_workitems/edit/1567964.

[2022-01-03 12:43] lithuak commented on #70498
Hey @jbschlosser, I can try to do that!

After taking some time looking at those docstrings I think this could work:

1) Have both the full name and the abbreviation of activation function in the first line
2) If the formula is short enough to be inlined - include it, otherwise - skip it.
3) Try to add the reference at the original paper if possible.

I'll follow up with some PR's to illustrate th

[2022-01-03 13:37] jakkes commented on #70245
The issue seems to be existing with the stock python libraries as well. See below.

[code]

[2022-01-03 13:40] jakkes commented on #70245
I managed to resolve the issue. My `$LD_LIBRARY_PATH` contained paths to an installation of libtorch (`<prefix>/libtorch/lib`). Removing it allowed torch to be imported correctly.

[2022-01-03 13:52] EmreOzkose commented on #70289
I guess this link requires internal permission :)

[2022-01-03 13:55] EmreOzkose commented on #70289
I really stuck with this. I tried Hubert model with fairseq itself, problems, problems.. I tried with pytorch, again problems... Trying means that converting to onnx. Could you please let me know if any progress is done in the link in the future?

[2022-01-03 14:26] peterbell10 commented on #70073
If you pass the length parameter to `istft` it will warn you to check your `hop_length` settings:
https://github.com/pytorch/pytorch/blob/ab49d41bb5f7775431a831936c6603add10e9a2d/aten/src/ATen/native/SpectralOps.cpp#L1079-L1082

IMO that's enough because if you don't pass the `length` argument then you're saying you don't care if the length doesn't match the original input.

[2022-01-03 15:05] ejguan commented on #69911
@hubutui
Do you want to use nightly release? Besides, I believe you have to compile the source code of PyTorch to work with python 3.10. You can use the master branch to get it.
If it's not for python 3.10, I believe the Error won't show up.

[2022-01-03 15:08] fatcat-z commented on #69673
@ChuChengYang

These 2 operations:

        self.buffer = x[:, :, input.shape[2]:]
        self.buffer = self.buffer * end_flag[0]

have no relationship with the final output of forward() method, so it will be optimized during export.

[2022-01-03 15:09] ejguan commented on #70283
If `batch_size` is None, I believe the data returned from `__getitem__` would be returned from DataLoader directly without copy. (There won't be batch)

If you want to get a batch of data, multiple `__getitem__` should be invoked by DataLoader. Then, in order to construct the batch data, we have to allocate new Tensor with additional dimension of batch, and `concat` the data together, which inevit

[2022-01-03 15:11] HLSS-Hen opened #70578 "[torch.autograd.Function] The gradient function of the same result, but different gradients are obtained"
### 🐛 Describe the bug

[code](https://gist.github.com/HLSS-Hen/6acdc9b0d021e54f1024eecdb559c238)

I try to replace a function with a piecewise function to speed up.
This leads to a difference in the gradient, but I think the two functions should be equivalent.

The comment line needs to be modified to compare the differences;
You need to provide a path to download or save MNIST

### Versions

cc

[2022-01-03 15:40] defoishugo commented on #70283
[code]

That's the point. Maybe this is the feature I should ask.
Btw, this is a topic already discussed in the [pytorch discussions](https://discuss.pytorch.org/t/concatenate-tensors-without-memory-copying/34609).

I don't know exactly how memory management works with pytorch, but I like the idea of working on this feature. In terms of user usage, we could imagine adding a parameter to `torch.cat

[2022-01-03 15:41] trougnouf commented on #69911
Arch Linux does use Python 3.10 (and I believe Fedora 35 does as well). I'm not a packager but I believe using the git master branch as official package would be frowned upon as inelegant. (Probably necessary if a release doesn't come out soon otherwise but best to be avoided.)

[2022-01-03 16:30] fatcat-z commented on #69605
This is being tracked internally by Microsoft at https://msdata.visualstudio.com/Vienna/_workitems/edit/1568301.

[2022-01-03 17:05] rgommers commented on #64502
For the decision of making a backwards-incompatible change to `nonzero` or not, see gh-68174.

[2022-01-03 17:12] rgommers commented on #58741
xref gh-68174 which discusses moving PyTorch usage of `.size()` over to `.shape`.

[2022-01-03 17:46] kurtamohler opened #70583 "Add nondeterministic alert to `torch.scatter_`"
`torch.scatter_` is nondeterministic if there are duplicate indices, according to its documentation: https://pytorch.org/docs/stable/generated/torch.Tensor.scatter_.html#torch.Tensor.scatter_

So it needs to have a nondeterministic alert and be added to the list of nondeterministic operations: https://pytorch.org/docs/master/generated/torch.use_deterministic_algorithms.html#torch.use_deterministic

[2022-01-03 19:12] quickwritereader commented on #66406
@malfet thanks for approving my Pr.
I need my Pr to be merged/closed to get money for solving this issue. I also got approval from the IBM team.

thanks

[2022-01-03 19:17] malfet commented on #66406
@quickwritereader as New Year day fell on Saturday, most of the folks (including myself) are still in semi-afk mode today. Hopefully will be able to merge it in tomorrow

[2022-01-03 20:19] pearu commented on #62259
I cannot reproduce the failure locally when using the current master.

Could you (or someone who can reproduce the issue) try replacing
[code]
with
[code]
in the line https://github.com/pytorch/pytorch/blob/1e67570f3a47f654ee38359e51b589b4246c3e8a/aten/src/ATen/SparseTensorUtils.cpp#L36
to check if it will avoid the crash?

[2022-01-03 20:30] thiagocrepaldi commented on #66987
It’s been over 2 months, so closing this. Feel free to open another one.

[2022-01-03 20:30] #66987 closed

[2022-01-03 20:31] thiagocrepaldi commented on #67113
It’s been over 2 months, so closing this. Feel free to open another one.

[2022-01-03 20:31] #67113 closed

[2022-01-03 20:32] thiagocrepaldi commented on #66425
It seems to be working for newer versions and there is no update in 2 months, so closing this. Feel free to open another one.

[2022-01-03 20:32] #66425 closed

[2022-01-03 20:32] thiagocrepaldi commented on #61517
It’s been over 2 months, so closing this. Feel free to open another one.

[2022-01-03 20:32] #61517 closed

[2022-01-03 20:34] thiagocrepaldi commented on #63146
It’s been over 2 months, so closing this. Feel free to open another one.

[2022-01-03 20:34] #63146 closed

[2022-01-03 20:34] thiagocrepaldi commented on #21778
It’s been over 2 months, so closing this. Feel free to open another one.

[2022-01-03 20:34] #21778 closed

[2022-01-03 20:34] thiagocrepaldi commented on #55205
It’s been over 2 months, so closing this. Feel free to open another one.

[2022-01-03 20:34] #55205 closed

[2022-01-03 20:35] thiagocrepaldi commented on #56355
It’s been over 2 months, so closing this. Feel free to open another one.

[2022-01-03 20:35] #56355 closed

[2022-01-03 20:35] thiagocrepaldi commented on #25501
It’s been over 2 months, so closing this. Feel free to open another one.

[2022-01-03 20:35] #25501 closed

[2022-01-03 20:35] thiagocrepaldi commented on #65810
It’s been over 2 months, so closing this. Feel free to open another one.

[2022-01-03 20:35] #65810 closed

[2022-01-03 20:36] thiagocrepaldi commented on #18281
It’s been over 2 months, so closing this. Feel free to open another one.

[2022-01-03 20:36] #18281 closed

[2022-01-03 20:36] thiagocrepaldi commented on #20941
It’s been over 2 months, so closing this. Feel free to open another one.

[2022-01-03 20:36] #20941 closed

[2022-01-03 20:36] thiagocrepaldi commented on #20009
It’s been over 2 months, so closing this. Feel free to open another one.

[2022-01-03 20:36] #20009 closed

[2022-01-03 20:36] thiagocrepaldi commented on #65039
It’s been over 2 months, so closing this. Feel free to open another one.

[2022-01-03 20:36] #65039 closed

[2022-01-03 20:37] thiagocrepaldi commented on #59621
It’s been over 2 months, so closing this. Feel free to open another one.

[2022-01-03 20:37] #59621 closed

[2022-01-03 20:37] thiagocrepaldi commented on #19399
It’s been over 2 months, so closing this. Feel free to open another one.

[2022-01-03 20:37] #19399 closed

[2022-01-03 20:37] thiagocrepaldi commented on #67611
It’s been over 2 months, so closing this. Feel free to open another one.

[2022-01-03 20:37] #67611 closed

[2022-01-03 23:37] ynjiun commented on #51183
has this bug been fixed? how to download the fix? Thanks.

[2022-01-03 23:38] jeffra commented on #69666
Here's maybe another way to rephrase our issue outside of the DeepSpeed environment all together. If someone wants to compile a `CppExtension` from `torch.utils.cpp_extension` how can they link a library like `curand`? We are unable to figure out what needs to be passed into `CppExtension` to do this since it appears `extra_link_args` is not used at build time.

[2022-01-04 00:02] Bengt commented on #67669
@MaltheG That isn't a fix, but merely a workaround. PyTorch should still support Python 3.10. You may be able to downgrade your interpreter, but others might not.

[2022-01-04 01:33] chamibuddhika opened #70587 "Provide an option to statically link MKL"
### 🐛 Describe the bug

It is useful to have a build option to statically link against MKL. FindMKL.cmake by default links against
the dynamic MKL libraries.  NCCL and CUDNN seems to have options for linking statically (i.e: USE_STATIC_NCCL and USE_STATIC_CUDNN). Similarly, we could have a USE_STATIC_MKL.

### Versions

Collecting environment information...
PyTorch version: 1.10.0+cputorchort
Is d

[2022-01-04 05:57] yypurpose opened #70589 "torch.nn.functional.conv2d produces different results on CPU and GPU"
### 🐛 Describe the bug

I found the online evaluation results (evaluate when training) of my model did not match perfectly with the offline evaluation results (evaluate the saved checkpoint). After rounds of checking, a strange phenomenon appeared, that is, the computation results of the same conv2d function on CPU and GPU do not match. Here is an example.
Codes:
[code]

Output results:
[code]

It

[2022-01-04 07:36] pmeier opened #70591 "`torch.asarray` does not detect dtype of Python scalars"
[code]

[code]

The [documentation](https://pytorch.org/docs/master/generated/torch.asarray.html) does not mention support for Python scalars, but since the function doesn't bail out, the behavior shown above is at least unexpected.

`torch.asarray` was added in #60627 and specifically mentions the array API standard for compatibility, but this [defines behavior for scalars](https://data-apis.org/

[2022-01-04 07:54] qiliux commented on #70589
try cloning the input first and see whether there is a difference.
[code]

[2022-01-04 08:06] yypurpose commented on #70589
Hi @qiliux, thanks for your reply. I tried to clone (or even detach) the input, and the output difference is consistent.

[2022-01-04 08:46] ysiraichi commented on #70591
Nice catch! As far as I could see, the problem is that we are unconditionally casting the output tensor into the default dtype. I think this can be fixed by conditioning this cast to whether the user explicitly specified the dtype or not.

https://github.com/pytorch/pytorch/blob/d9106116aa5e399f7d63feeb7fc77f92a076dd93/torch/csrc/utils/tensor_new.cpp#L1165-L1167

[2022-01-04 08:50] mitbal commented on #67680
I've encountered the same error when I tried to extract bert embedding with more than 10 sentence as the input. Now I can only run it for one sentence at a time, which is incredibly slow. I'm using cuda version 11.5 and pytorch version 1.10

[2022-01-04 08:55] Lezcano commented on #70122
Could you perhaps print what are the matrices that are being factored in

    out = solve(A.to(dtype), input.to(dtype))
?

`torch.linalg.solve` just works for matrices `A` that are invertible. I think that in this case the matrix you might be using may not be invertible.

[2022-01-04 09:10] Cassieyy commented on #39388
Hiiiiiiiii, i encountered with the error info “RuntimeError: NCCL error in: /pytorch/torch/lib/c10d/ProcessGroupNCCL.cpp:384, internal error, NCCL version 2.4.8”. it‘s an "internal error" which is different from yours, but i have no idea to solve it. could u help me? thanks in advance!!

[2022-01-04 09:29] rohan-varma commented on #70135
Some more thoughts -

The main idea here is, given a tensor and ideally information about how the tensor was produced (i.e. runtime of the forward pass), we need to decide whether to checkpoint (recompute) the tensor, or offload the tensor to CPU and transfer back to GPU during the backward pass. We can consider:

1. Tensor size vs time taken by forward pass to compute it - for example a small ten

[2022-01-04 09:50] Chillee opened #70595 "Make MAX_NAME_COLUMN_WIDTH modifiable in PyTorch profiler"
### 🚀 The feature, motivation and pitch

https://github.com/pytorch/pytorch/blob/master/torch/autograd/profiler_util.py#L687

This value is often too low, and makes it unable to actually figure out what the profiled kernel is doing (since the part of the name mentioning the actual op is cut off).

Can we make this user configurable, or at least increase it?

I'd be glad to submit the PR myself :)

[2022-01-04 10:18] pearu commented on #68174
Here's how to apply the above idea to torch Tensor:
[code]

[2022-01-04 10:39] pearu commented on #58741
https://github.com/pytorch/pytorch/issues/68174#issuecomment-1004684469 exemplifies a solution to the `.size` as `.numel()` and `.size()` as `.shape` problem.

[2022-01-04 11:15] Lezcano commented on #70578
Shouldn't it be `hu = ((input< VT + A/2) && (input>VT-A/2)).float()/A` (note the `&&`)?

If not, could you test that the two functions are actually equivalent by passing a inputs to them?

[2022-01-04 11:23] IAL32 opened #70598 "[Nightly][1.2.0][CPU] Importing `torch.autograd.forward_ad` causes `ImportError: cannot import name '_DecoratorContextManager' from 'torch.autograd.grad_mode'`"
### 🐛 Describe the bug

Environment: Google Colab
Torch version: `1.2.0.dev20190805+cpu`
Device: CPU

Steps to reproduce:

[code]

In a new cell:
[code]

This will trigger:

[code]

Am I missing some steps?

### Versions

PyTorch version: 1.2.0.dev20190805+cpu
Is debug build: False
CUDA used to build PyTorch: Could not collect
ROCM used to build PyTorch: N/A

OS: Ubuntu 18.04.5 LTS (x86_64)
GCC ve

[2022-01-04 11:23] Lezcano commented on #70589
The algorithms to compute the convolution in CPU and CUDA are different, so some differences are expected. Running
[code]
in my box outputs `tensor(7.6294e-06)`, which is rather low considering that this is single floating point precision. When using `float64` (**much** slower on GPU but more precise), I get `tensor(3.5527e-15, dtype=torch.float64)` and `print(torch.allclose(results_gpu, results_c

[2022-01-04 11:23] #70589 closed

[2022-01-04 11:24] HLSS-Hen commented on #70578
@Lezcano

[code]
this result is `1.0`, means all `x==y`, I think this is proved that they are equivalent.
Maybe you can help find inputs that make them unequal

If use `&&`, we will get `SyntaxError: invalid syntax`.

[2022-01-04 11:35] wallarug commented on #12873
Any progress on this one?  I am seeing similar issues.   My RAM usage has swollen up by 30GB in some instances.

[2022-01-04 11:35] Lezcano commented on #70578
So there are a number of issues here. First, it's worth mentioning that the gradient you're implementing is wrong. Your function is locally constant (if you move a little bit the input the function will not change) so its gradient should be zero.

Now, assuming that you want to use some incorrect gradients (I would never advise to do so) then the gradients that you should get from two different im

[2022-01-04 11:50] IAL32 commented on #70598
Fixed: I was not installing the right Nightlies properly.

This is the correct script needed to install the current nightlies (from https://download.pytorch.org/whl/nightly/cpu/torch_nightly.html)

[code]

[2022-01-04 11:50] #70598 closed

[2022-01-04 13:39] pbsds commented on #61445
Still experiencing this on 1.10.1.
Tested on ONNX opset version 10, 11, 12, 13, and 14.

Pytorch version:
[code]

[2022-01-04 13:47] yftah89 commented on #60537
Hi everyone, I'm interested in calculating torch.linalg.eigh on a large matrix, and it takes a lot of time, did you by any chance make some progress with this subject?
Thank you for your great API.
@xwang233

[2022-01-04 14:10] Varal7 commented on #57100
Hi @xcwanAndy, you can use `torch.autograd.graph.save_on_cpu()` to offload the tensors saved by the computation onto CPU, as described by https://pytorch.org/docs/stable/autograd.html?#torch.autograd.graph.save_on_cpu.

To manually traverse the graph, you can check out the autograd docs about [how this graph is computed](https://pytorch.org/docs/master/notes/autograd.html#how-autograd-encodes-the-

[2022-01-04 14:25] janeyx99 commented on #70226
The fix should have been merged in https://github.com/pytorch/pytorch/pull/70010 on 12/20, but it looks like the most recent failure is from 10 days ago on master, so maybe the fix didn't work?

[2022-01-04 14:27] ejguan commented on #70283
I would recommend you to open a new issue to request such feature. I am not an expert toward to UX of pytorch operators. Within the issue, the POC of our team and community can discuss it in detail.

[2022-01-04 14:28] ejguan commented on #69911
Note: Python 3.10 should be officially supported by PyTorch 1.11.

[2022-01-04 14:58] JivanRoquet commented on #69772
No idea about this error? Sometimes it's tricky to provide self-contained reproducer scripts. The error message explicitly asks the user to report the bug to PyTorch.

[2022-01-04 15:06] janeyx99 commented on #63558
@divideconcept Yes, the PR you linked does only enable cross-compilation (I see now the title is misleading).

[2022-01-04 15:14] mruberry commented on #70226
@janeyx99 #70010 modified `test_mem_get_info` correctly but I think these lines:

https://github.com/pytorch/pytorch/blob/d35fc409ad84c1a837e7e07ffe3f4e4942538e50/test/test_cuda.py#L1665

https://github.com/pytorch/pytorch/blob/d35fc409ad84c1a837e7e07ffe3f4e4942538e50/test/test_cuda.py#L1675

need a similar fix because they're also trying to trigger leaks.

[2022-01-04 15:22] defoishugo opened #70600 "torch.cat without copying memory"
### 🚀 The feature, motivation and pitch

### Principle

Today, the concatenation implemented on pytorch consists in the allocation of a new tensor.
I would like to know if it is possible to realize a concatenation of contiguous and/or non-contiguous tensors without memory duplication.

### Example 1 : contiguous concatenation

The following code is executed with allocation of a new tensor `concate

[2022-01-04 15:24] mrshenli commented on #70267
Hey @QiaofengQin, one reason is that `time` only captures CPU time, while the actual communication and computation occurs on asynchronous CUDA streams. Even though you have set `async_op=False`, that would only let the current CUDA stream wait for the communication CUDA stream.

Could you please try adding a `torch.cuda.current_stream(your_current_device).synchronize()` right before the assignment

[2022-01-04 15:29] mruberry commented on #50276
It's just about user expectations and familiarity -- being different is a significant cost

[2022-01-04 15:35] albanD commented on #70352
Given the discussion and the proposed solution, it is indeed most likely that you change the Parameter in the network to be different from the one in the Optimizer (when you do layer.weight = XXX) and so there are no more learnable parameters in the optimizer.

We would accept a PR fixing the optimizer to work nicely in that case indeed.

[2022-01-04 15:51] rgommers commented on #70600
The answers of @albanD on https://discuss.pytorch.org/t/concatenate-tensors-without-memory-copying/34609/13 explain how difficult this is. It does not fit the strided model of a tensor at all. It'd be a ton of work - I think it's safe to say this won't happen.

I'll let someone else decide, but I propose to close this issue.

[2022-01-04 15:53] defoishugo commented on #70600
No problem, we'll close this issue.

[2022-01-04 15:53] #70600 closed

[2022-01-04 15:54] #70283 closed

[2022-01-04 16:03] janeyx99 commented on #70226
https://github.com/pytorch/pytorch/pull/70603 should fix! Waiting for CI results

[2022-01-04 16:06] #64664 closed

[2022-01-04 16:21] xuzijian629 commented on #16558
I accidentally reproduced this error by

[code]

with ubuntu:18.04.

Since I can successfully import torch if I removed the resource limit, your problem might be simply memory shortage.

[2022-01-04 16:50] puririshi98 commented on #69698
thanks for the explanation. That makes sense

[2022-01-04 16:54] cpuhrsch commented on #70357
It's a private function (leading underscore). We should update this documentation and fix the problem at the root. There seems to be two things going on. 1) Our documentation advises to use a private function. Let's look at _values and _indices vs. values and indices. 2) Our slicing logic calls coalesce and could potentially be made more efficient by supporting uncoalesced inputs. Until then print

[2022-01-04 16:57] code-review-doctor opened #70607 "test_jit_fuser_te not testing failures properly due to unexpected implicit string concatenation"
### 🐛 Describe the bug

A comma is missing from line 2093

https://github.com/pytorch/pytorch/blob/1b66915f3916273edcf9dc5c3853bb31f21ed8f4/test/test_jit_fuser_te.py#L2092-L2096

This results in `'__rmatmul__'`  and `'frac'` being concatenated together to form `'__rmatmul__frac'`

so the list evaluates to two items instead of three: `['__rmatmul__frac', 'matmul']`

The impact of this missing comma

[2022-01-04 16:58] ikriv opened #70608 "Cannot compile C++ documentation: Sphynx assertion"
### 🐛 Describe the bug

Trying to compile C++ documentation leads to large number of warnings/errors and then an assertion in Sphynx code:

[code]

Steps to reproduce:
1.  git clone --recurse-submodules https://github.com/pytorch/pytorch
2.  Optional: cd pytorch
     python setup.py install
3. cd docs/cpp
4. make html

### Versions

The error here is for Windows, but I was getting the same on Linu

[2022-01-04 17:02] cpuhrsch commented on #27522
If you need TorchScript support you're unlikely to get around using the C++ extensibility features and ship your own binary code at this point. Neither Triton nor functools are JIT-able.

[2022-01-04 17:09] cpuhrsch commented on #62259
@pearu - If this doesn't reproduce on master it's likely fixed in the nightlies and will be as part of next release. Can you reproduce it using the latest stable binary? Users won't be able to fix any of this unless they're compiling PyTorch stable releases from source.

[2022-01-04 17:10] code-review-doctor opened #70609 "gloo_test test_close_connection not working as intended due to unwanted comma"
### 🐛 Describe the bug

There is an unwanted comma on this line
https://github.com/pytorch/pytorch/blob/1b66915f3916273edcf9dc5c3853bb31f21ed8f4/caffe2/contrib/gloo/gloo_test.py#L602

This makes `closer` always evaluate to a tuple containing one item: either `(True,)` or (`False,)`. Notice therefore that `closer` will always evaluate to truthy because a non-empty tuple is always truthy.

This is a

[2022-01-04 17:13] gauenk commented on #9407
Agreed. I need this frequently in my code!

[2022-01-04 17:13] pearu commented on #70357
You don't have to do that. Call `.coalesce()` once after the tensor has been constructed and in subsequent operations always use the coalesced variant of the tensor.

[2022-01-04 17:14] ejguan commented on #70344
The Error is pretty clear that you should wrap your iteration code within `if __name__ == '__main__'`

[code]

I believe this is due to the default multiprocessing methods are different between mac and linux.

[2022-01-04 17:18] cpuhrsch commented on #70357
I think the problem is that smorad wants to slice (potentially new) COO Tensors repeatedly and that this will force calls to coalesce. @smorad if this is a performance issue can you post a snippet that shows the problem? As in, if you're using _values to avoid a call to coalesce, where would this call otherwise happen? On top of making the workaround work (better), we can fix the issue that caused

[2022-01-04 17:21] code-review-doctor opened #70611 "test_numba_integration passes tuple into cuda instead of array"
### 🐛 Describe the bug

There is an (as far as I can tell) unwanted comma on line 314:

https://github.com/pytorch/pytorch/blob/1b66915f3916273edcf9dc5c3853bb31f21ed8f4/test/test_numba_integration.py#L313-L318

This makes the `numpy_ary` a tuple containing a numpy array rather than a numpy array ie.:
[code]

This is a problem for the test because the tuple is then passed into `numba.cuda.to_device

[2022-01-04 17:29] pearu commented on #70357
Since the issue is raised in the context of autograd, I wonder, does autograd support workflows with uncoalesced tensors _without_ ever coalescing these? @albanD ?
For instance, indexing an element of an uncoalesced COO tensor should return a COO tensor rather than a scalar value if coalescing would be disabled in the indexing operations.

Btw, COO tensors currently do not support slicing (except

[2022-01-04 18:00] smorad commented on #70357
@cpuhrsch I can add the warning -- where should I put it? Are there python bindings for `torch.sparse`? And you are correct about my use-case.  E.g., if we want to filter out some elements:
[code]

I get `0.0025s` without the extra coalesce call and `0.0051s` with it.

In my code, I do similar filter operations multiple times per forward pass, which tends to add up.

[2022-01-04 18:08] ngimel commented on #70595
That sounds good, however, consider the following:
1) If you do postprocessing and analysis yourself, you can iterate over events and look at the names, using string table for this is not the best approach
2) for a table to look at, perhaps it makes sense to print only the last part of the qualified kernel name, not all of it? Increasing width makes table hard to read.
cc @robieta

[2022-01-04 18:14] vkuzo opened #70620 "dbr quantization: add support for functional convolution variants"
### 🐛 Describe the bug

Currently, DBR quant supports only `F.conv2d`.  We should expand coverage to `F.conv1d` and `F.conv3d`.

Test case which tests `F.conv2d`: https://github.com/pytorch/pytorch/blob/master/test/quantization/dbr/test_quantize_dbr.py#L440

We can add similar test cases for the other conv variants.  Likely the following logic would need to be changed to make them passed:
* https:

[2022-01-04 18:24] anjali411 commented on #70073
[code]

The default behavior stated in the documentation doesn't reflect the actual behavior, right?

[2022-01-04 18:27] anjali411 commented on #70495
yup seems like a reasonable thing to do.

[2022-01-04 18:33] peterbell10 commented on #70073
I think it's just confusingly worded. "whole signal" refers to the signal reconstructed from the `stft` data which is not necessarily the same length as the original signal.

[2022-01-04 18:40] rohan-varma commented on #68833
Some notes:

1. For performance reasons, we want to do this when TORCH_DISTRIBUTED_DEBUG=DETAIL or INFO. See code pointer for checking it: https://github.com/pytorch/pytorch/blob/master/torch/csrc/distributed/c10d/reducer.cpp#L1261
2. Static graph populates `numGradHooksTriggeredMap` given a parameter index when that param gets a gradient: https://github.com/pytorch/pytorch/blob/master/torch/csrc/

[2022-01-04 18:42] nicknytko commented on #62259
Seems to be okay now when I installed the latest linux nightly via pip

[2022-01-04 18:58] jithunnair-amd commented on #69773
@seemethere We'll be killing ROCm4.1 nightly builds in the PR to enable nightly wheel builds for ROCm4.5.2. We plan to file the PR shortly, just need to resolve an issue wrt `BUILD_DEBUG_INFO=1` in the wheel build script.

[2022-01-04 19:06] carlosgmartin commented on #50276
@mruberry I understand. How about adding matlab's [ngrid](https://www.mathworks.com/help/matlab/ref/ndgrid.html) function, which has the former behavior? That seems like a good compromise.

[2022-01-04 19:22] nikitaved commented on #70495
Related: https://github.com/pytorch/pytorch/issues/51210

[2022-01-04 19:22] nateanl commented on #70073
In the case where users only use ``torch.stft`` for signal analysis or feature extraction, such warning is still useful. Otherwise they will lose the tail samples without awareness.

[2022-01-04 19:32] cpuhrsch commented on #70357
So I guess another way to help you here is to provide masked_select for sparse Tensors?

[2022-01-04 19:34] anjali411 commented on #70486
I think the issue is just that all the input tensors are not of the same dtype, no? Seems consistent with our policy for other ops

[2022-01-04 19:38] mikaylagawarecki opened #70627 "Torchscript Compiled functions don't support keyword-only arguments with defaults"
### 🚀 The feature, motivation and pitch

In #69980 (and the other PRs in the stack), the `optim/_functional` API is being refactored to include both foreach and single tensor capabilities. This includes adding a boolean argument `foreach` to the functional form for each optimizer in order to determine which logic is used.

Ideally, we want to make `foreach` a kwonly argument with a default so that

[2022-01-04 19:41] mruberry commented on #70486
It shouldn't trigger an internal assert, though, but produce an error message that type promotion isn't supported. Also we could support type promotion for addcmul and addcdiv since they're elementwise operators.

[2022-01-04 19:42] anjali411 commented on #70486
oh gotcha makes sense

[2022-01-04 19:48] robieta commented on #70595
I don't have any particular objection to tweaking this value, though I agree with @ngimel that for serious analysis you're going to want to use the underlying events.

[2022-01-04 19:52] smorad commented on #70357
@cpuhrsch that would work for my particular case, but I think there would be more value to others in allowing access to the gradients without coalescing. However, it sounds like a ton of work if @pearu is correct that autograd is not supported for uncoalesced tensors.

I do think the warning is the highest impact per unit effort.

[2022-01-04 19:59] albanD commented on #70504
We can move that check below the conversion into a tuple indeed.

For allowing 0-length inputs. The general expectation I think is that this is a user error and it is better to let the user know that the backward call is a no-op. If for a particular use-case, it is ok for this to happen, it is easy enough to add a `if inputs` around the call to backward.

[2022-01-04 20:11] cpuhrsch commented on #70357
@smorad you can add the warning [to the cpp code](https://github.com/pytorch/pytorch/blob/29d759948ee7cd2275ea60ebd62c311408e3798b/aten/src/ATen/native/sparse/SparseTensor.cpp#L42-L52). You can warn once [using the TORCH_WARN_ONCE function](https://github.com/pytorch/pytorch/blob/9cf0de509fc519bd8460a999b418f822e6543d33/aten/src/ATen/native/RangeFactories.cpp#L18-L23).

There is a long note that e

[2022-01-04 20:52] jakirkham commented on #43144
@zhuzilin, that's neat! Thanks for sharing 😄

Have you tried with [RMM]( https://github.com/rapidsai/rmm )? 🙂

[2022-01-04 20:53] #66406 closed

[2022-01-04 20:59] carlosgmartin commented on #70504
@albanD Thanks for your reply.

I don't think that's true. I think it's more likely to be [deliberate](https://github.com/pytorch/pytorch/issues/50402) than accidental behavior. There is no reason intrinsic to the semantics of backward why it should fail for empty inputs.

How would that work for generators?

[2022-01-04 21:22] albanD commented on #70504
If you have a generator you can convert it to a tuple before.

I agree that this function can behave properly when inputs is empty.

I can see that there are some use cases where it allows you to write nicer code when some sub-models can be empty and that is ok.
But I would still argue that for most users, this is more likely a bug in their code (the model is not defined properly, or things are no

[2022-01-04 21:43] suo opened #70640 "DISABLED test_conv_double_backward_cuda (__main__.TestNN) (dtype=torch.float64)"
This test was disabled because it is failing on master ([recent examples](http://torch-ci.com/failure/test_conv_double_backward_cuda%20(__main__.TestNN)%2C%20dtype%3Dtorch.float64)).

cc @ezyang @gchanan @zou3519 @bdhirsh

[2022-01-04 21:44] suo commented on #70640
cc @albanD @jbschlosser

[2022-01-04 21:49] albanD commented on #70640
I though we added a deterministic wrapper for this one no @jbschlosser

[2022-01-04 21:50] malfet commented on #70015
Looks like no reaction here, it still affects people, I'm going to disable those

[2022-01-04 21:54] rohan-varma commented on #70134
@albanD @jbschlosser Is this something that the autograd team will be able to prioritize soon?

[2022-01-04 21:56] ngimel commented on #70015
It's weird, the tests that run run pretty quickly, in couple minutes, and then nothing happens for 4 hours until timeout.

[2022-01-04 22:12] cpuhrsch commented on #63987
@Linux-cpp-lisp - does the recent nightly resolve your issue as well?

[2022-01-04 22:26] suo commented on #70015
cc @rohan-varma as well

[2022-01-04 22:34] janeyx99 opened #70645 "Improve CI timeout debuggability"
### 🚀 The feature, motivation and pitch

PyTorch CI experiences timeouts somewhat regularly (ASAN, multigpu). Whenever a job times out in CI, it is incredibly hard to debug. The current workflow is something like:
1. Notice that a job is timing out
2. Wait for it to time out (4.5hr on GHA), as rerunning isn't available until every job of a workflow is complete.
2. Rerun it so you could SSH into it

[2022-01-04 22:56] jbschlosser commented on #70523
Hey @ianholing, thanks for reporting this! Confirmed this is a problem in 1.9, 1.10, 1.10.1, and master.

Failure environment details are [here](https://gist.github.com/HamidShojanazeri/00d2b556b44ec5584306b34d6e1ed8cb) and success environment details are [here](https://gist.github.com/HamidShojanazeri/3f597776602b61e1d8263c77d2a149e9).

[2022-01-05 00:03] zasdfgbnm opened #70654 "[RFC] UCC integration in ProcessGroupNCCL"
### 🚀 The feature, motivation and pitch

This RFC proposes to use https://github.com/facebookresearch/torch_ucc as a fallback path for `ProcessGroupNCCL` to support cases where NCCL doesn't support.
For now, these cases will be just communications on CPU tensors. Feel free to leave a comment on this issue or PRs if you have any opinion.

## How does the integration look like?

As demonstrated in h

[2022-01-05 00:05] BowenBao commented on #68944
Thank you @Ninad-Chaudhari, tracked internally by Microsoft at https://msdata.visualstudio.com/Vienna/_workitems/edit/1570585

[2022-01-05 00:07] zasdfgbnm commented on #70654
cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @rohan-varma @gqchen @aazzolini @osalpekar @jiayisuse @SciPioneer @H-Huang @malfet

[2022-01-05 00:17] BowenBao commented on #70280
hi @lawlict, you can explore the option of using `keep_initializers_as_input` argument in `torch.onnx.export`. In short when set to true, the exported model will set weights/buffers as additional inputs with original value as default value. More info here https://pytorch.org/docs/stable/onnx.html?highlight=onnx#module-torch.onnx.

With that, you will be able to supply updated `wavbuf` as additiona

[2022-01-05 00:23] anjali411 commented on #68331
Hmm I ran both versions and it seems like the real value of the gradient is not the same in both cases.

[2022-01-05 00:37] BowenBao commented on #68724
hi @waihokwok thanks for reporting. I believe this issue is already fixed via #67272. Verified successful run of the script with torch nightly.

[2022-01-05 00:53] suo opened #70655 "DISABLED test_no_segfault (__main__.TestDataLoader)"
This test was disabled because it is failing on master ([recent examples](http://torch-ci.com/failure/test_no_segfault%2C%20TestDataLoader)).

cc @SsnL @VitalyFedyunin @ejguan @NivekT

[2022-01-05 00:53] suo commented on #70655
cc @VitalyFedyunin

[2022-01-05 01:25] kshitij12345 opened #70657 "torch.ravel does not return contiguous flattened tensor (as documented)"
### 🐛 Describe the bug

[code]

Link to the doc : https://pytorch.org/docs/stable/generated/torch.ravel.html

### Versions

master

cc @mruberry @rgommers

[2022-01-05 01:46] lawlict commented on #70280
Hi @BowenBao, that is exactly what I want. Thank you very much!

[2022-01-05 01:46] #70280 closed

[2022-01-05 01:48] kshitij12345 commented on #65779
@anjali411 can this be closed now?

[2022-01-05 02:47] csufangyu commented on #43259
I get the same error,but when I train ,all is ok.This error only  occurred during the test.

[2022-01-05 02:56] VitalyFedyunin commented on #70537
Hi! Do you have minimal reproducible example?

[2022-01-05 02:57] xcwanAndy commented on #57100
Hi @Varal7 , thanks for you suggestions.

I want to achieve this goal: after every batch finishes its forward pass, I want to offload all its tensors (input, intermediate, and output) and the generated computation graph onto CPU. After all batches finish forwarding, I want to put those objects (computation graph and tensors) back to GPU for backward.

`torch.autograd.graph.save_on_cpu()` really he

[2022-01-05 03:00] VitalyFedyunin commented on #70536
You need to make sure that producer process kept life until all object from the mp queue is consumed. I agree that the error message here is terrible, but it will take entire feature to make add such resource counters.

[2022-01-05 03:05] VitalyFedyunin commented on #70519
Hello! Could you please provide minimal reproducible example. Thanks.

[2022-01-05 03:07] rohan-varma opened #70660 "[FSDP] Run parity tests for activation checkpoint and offlaod"
### 🚀 The feature, motivation and pitch

FSDP has tests that test parity with DDP to ensure correctness is never impacted: https://github.com/pytorch/pytorch/blob/master/test/distributed/fsdp/test_fsdp_core.py

We have added a couple new features that large model training with FSDP is highly reliant on, such as activation checkpoint and activation offload. We should add tests that use these config

[2022-01-05 03:50] SsnL commented on #70537
be aware of https://pytorch.org/docs/stable/notes/randomness.html#avoiding-nondeterministic-algorithms

[2022-01-05 04:14] ngimel commented on #70521
Sorry, I don't know, looks like some cuda library is not being linked. cc @malfet

[2022-01-05 04:18] ngimel commented on #70426
Should be fixed on master/nightlies

[2022-01-05 04:30] ezyang commented on #66785
I wonder if @soumith knows why we named the conda package pytorch. Pretty sure there was a good reason. In any case, even if you conda install pytorch, it still gets advertised to Python proper as torch, so requirements.txt should work. If there is a specific situation that doesn't work please feel free to reopen with more detailed info.

[2022-01-05 04:30] #66785 closed

[2022-01-05 04:31] ezyang commented on #6836
I think what Kurt did here is sufficient.

[2022-01-05 04:31] #6836 closed

[2022-01-05 04:32] Wuziyi616 commented on #15849
When using `FastDataLoader` with PyTorch 1.10, my code gets stuck when creating dataloader. So I have to switch to vanilla `DataLoader` with `persistent_worker=True`

[2022-01-05 04:33] ezyang commented on #29844
Now that we have structured kernels https://github.com/pytorch/pytorch/issues/55070 we don't need two levels as we can duplicate the prologue automatically! So it is now entirely a binary size question.

[2022-01-05 04:39] ezyang commented on #55655
@robieta and co are planning to do something like this called "torchtidy" but built on top of PyTorch Profiler traces. I don't think there's a public design doc yet.

[2022-01-05 05:29] rjkat commented on #51803
Late to the party but found this thread when I ran into the same problem. I think I may have found a workaround:

[code]

[2022-01-05 06:30] jgong5 commented on #29844
@ezyang Do you have a working example how kernels implemented with AVX2 and AVX512 can be enabled and dispatched via the new structured kernel approach? Thanks.

[2022-01-05 06:35] dong03 opened #70664 "torch.fft.rfft2 doesn't support half dtype"
### 🐛 Describe the bug

Hi, I try to use both **torch.fft.rfft2** and half-precision (via **torch.cuda.amp**), and they seem don't work together.

(For an easy demonstration, I directly assign half precision via dtype.
[code]

Output:

[code]

### Versions

torch==1.8.1

cc @ezyang @anjali411 @dylanbespalko @mruberry @Lezcano @nikitaved @peterbell10

[2022-01-05 07:08] cicirori opened #70667 "TORCH_DISTRIBUTED_DEBUG not effective"
### 🐛 Describe the bug

I'M testING TORCH_DISTRIBUTED_DEBUG according to this documents: https://pytorch.org/docs/master/distributed.html#debugging-torch-distributed-applications

[code]

The code above is from this document and is identical

but the output has no ddp debug information

[code]

Do I need to successfully configure USE_GLOG at compile time or specify a CAFFE2_LOG_THRESHOLD of no les

[2022-01-05 07:39] alanyoungCN commented on #70344
It works without error, thank you. But there are still some small issues:
-   Dataloaders in Mac don't (or can't) use parallel computing, so the ```num_workers``` should be 0 (https://stackoverflow.com/questions/64772335/) or it will show the following warning:

    There aren't any warnings in the documentation(https://pytorch.org/docs/stable/data.html#torch.utils.data.DataLoader).

-   There is

[2022-01-05 07:40] alanyoungCN commented on #70344
It works without error, thank you. But there are still some small issues:
-   Dataloaders in Mac don't (or can't) use parallel computing, so the ```num_workers``` should be 0 (https://stackoverflow.com/questions/64772335/) or it will show the following warning:

    There aren't any warnings in the documentation(https://pytorch.org/docs/stable/data.html#torch.utils.data.DataLoader).

-   There is

[2022-01-05 08:02] byronyi commented on #67970
Use transformers.utils.fx.symbolic_trace instead.

[2022-01-05 08:12] byronyi commented on #70449
What about globals that cannot be caught even with patched `setattr`?

[code]

[2022-01-05 08:35] byronyi commented on #65320
Try use `torch.nn.functional.adaptive_avg_pool2d(x, 1, 1)` instead.

[2022-01-05 09:15] LinghaoChan opened #70669 "CUSOLVER_STATUS_EXECUTION_FAILED when using the torch.logdet()"
### 🐛 Describe the bug

My program reports an ERROR message when the ''torch.logdet()'' function was executed for the FIRST time. AMAZINGLY, the error will not be reported when I execute the function AGAIN.

[code]
---
Motivated by this, I rewrote a new program to validate this.
[code]
THE OUTPUT:
[code]
The code did not execute the 'try' part but executed successfully on the second attempt.
**WHY

[2022-01-05 10:01] lithuak opened #70670 "Tests in test_constraints fail when compiled without LAPACK support"
### 🐛 Describe the bug

Running `python test/run_test.py` fails when PyTorch is compiled w/o LAPACK support.

The expected behavior is to skip tests relaying on it.

The test that fails is: `test_constraint` in `test/distributions/test_constraints.py`.

The error log is:

[code]

### Versions

Collecting environment information...
PyTorch version: N/A
Is debug build: N/A
CUDA used to build PyTorch

[2022-01-05 10:02] dgmp88 commented on #70237
Hi @yanbing-j . Happy new year, apologies for the very slow reply! Thanks very much for looking into this.

I replicated your setup, and noticed when I switched from conda to using pip as the installer I no longer saw the crash. I also didn't see the crash when I created a fresh conda environment. I created a minimal conda environment (below) which does cause the crash on my `Intel(R) Xeon(R) Plat

[2022-01-05 10:02] CerebralSeed commented on #52983
For anyone looking, here is a class definition that will combine real and imaginary on the fly:

[code]

And here is a simple example used with Conv2d(although this will work with any Conv):

[code]

[2022-01-05 10:05] lithuak commented on #70670
I think I can contribute a fix based on `skipCPUIfNoLapack`  from `torch.testing._internal.common_device_type` and the pytest.skip() from another test in `test_constraints`.

[2022-01-05 10:25] rgommers commented on #70657
Looks like a bug indeed. I wasn't sure what `ravel` was supposed to do, so checked numpy: it also explicitly says contiguous 1-D array returned, and enforced that:
[code]

[2022-01-05 10:33] nazmicancalik commented on #31758
Any updates on this issue? @kurtamohler Thanks!

[2022-01-05 11:16] TestSomething22 opened #70672 "`torch.as_strided` can create a tensor with negative dimension"
### 🐛 Describe the bug

`torch.as_strided` can create a tensor with negative dimension

[code]

### Versions

pytorch: 1.10.1

cc @ezyang @gchanan @zou3519 @bdhirsh

[2022-01-05 11:39] Lezcano commented on #70242
So, the issue here is that, when doing structured kernels via TensorIterator, the structured kernel assumes that the output you gave it will be the output of the function. Alas, this is not true in general. For example, all loss functions have the structure of a componentwise operation and a reduction. That way, you do use TI, but you then apply a reduction on the output.

This could be solved by

[2022-01-05 11:48] smorad commented on #70357
@cpuhrsch another example of unneeded coalescing would be changing the size of a sparse tensor, which AFAIK requires creating a new sparse tensor

[code]

[2022-01-05 12:08] TestSomething22 opened #70674 "`torch.amax` and `torch.amin` will return random value if input tensor is empty"
### 🐛 Describe the bug

`torch.amax` and `torch.amin` will return random value if input tensor is empty

[code]

By contrast, `torch.max` will raise an error

[code]

### Versions

pytorch: 1.10.1

[2022-01-05 12:32] TestSomething22 opened #70675 "`torch.index_select` will return a random value if input tensor is empty"
### 🐛 Describe the bug

`torch.index_select` will return a random value if input tensor is empty

[code]

### Versions

pytorch: 1.10.1

[2022-01-05 12:37] pmeier commented on #68174
It should be

[code]

[2022-01-05 12:55] vadimkantorov commented on #70555
probably some API designs for such function already exist in PyTorch time series packages...

[2022-01-05 12:58] KMY-SEU commented on #47163
It may made by distributed training.

[2022-01-05 13:11] lithuak opened #70676 "Tests fail if built with USE_DISTRIBUTED=0"
### 🐛 Describe the bug

Running `python test/run_test.py` fails if Pytorch was compiles with `USE_DISTRIBUTED=0`.

It happens because the distributed tests are launched regardless the availability of `distributed` package.

The expected behaviour is for distributed tests to be skipped in such case.

The example error log is:

[code]
although, it's just a first test to fail the testing process.

I

[2022-01-05 13:16] lithuak commented on #70676
I propose to fix this by just check if distributed package if available and skip distributed tests in case it's not

[2022-01-05 13:36] ysiraichi opened #70678 "Decouple `TensorIteratorBase` output from structured kernel outputs."
### 🚀 The feature, motivation and pitch

`TensorIteratorBase` (TIB) runs many checks internally, such as type and shape checking. Since they are not trivial, it wouldn't be desirable to reimplement them everywhere we need only those checks. In the context of structured kernels, the usual way around this issue was inheriting from TIB, but there are some kernels that can't do that. The reason being

[2022-01-05 13:57] albertz commented on #70529
Despite correct masking and using the seq length (num frames) for calculating the statistics of the current mini-batch, also the momentum should take the seq length (num frames) into account. Using `num_batches_tracked` is not enough, it should be `num_frames_tracked`.

[2022-01-05 14:10] yajivunev commented on #10043
I am trying to make a custom loss function which converts my predicted labels and truth labels tensors into a sparse tensor, which **I need to be able to slice and take strides on**, i.e, be able to do sparse_tensor[1:m,:] or sparse_tensor[1:m,1:n] or sparse_tensor[1:m,0] for a sparse tensor with shape (m,n), and have it return a sparse tensor, and also be able to do reduce_sum along specified axe

[2022-01-05 14:43] ejguan commented on #70344
I am not 100% sure about this warning. It may come from https://github.com/pytorch/pytorch/blob/aea3d3ced7dc206bfa98f677e205a80d7bd65543/torch/utils/data/_utils/worker.py#L216. But, I think it won't influence the main process.

I think Vision has already fixed such issue as shown in the link

[2022-01-05 14:44] #70185 closed

[2022-01-05 15:03] damianr13 opened #70700 "Received `t == DeviceType::CUDAINTERNAL ASSERT FAILED at "../c10/cuda/impl/CUDAGuardImpl.h":24, please report a bug to PyTorch. `"
### 🐛 Describe the bug

Today as I was working on a project I encountered the following error:

[code]
I am trying to implement the following paper: https://arxiv.org/abs/2107.03312

More probable than not, there is an issue with my implementation. Nevertheless, I decided to post this issue since judging from the error message my execution ended up in some part of your framework you wouldn't expec

[2022-01-05 15:10] albanD commented on #68331
Having a complex parameter could lead to a non-zero imaginary part indeed.

A simple way to remove the warning is to replace the `param.to(torch.cfloat)` with `param + 0 * 1j` (or even`torch.view_as_complex(torch.stack([param, torch.zeros_like(param)], -1))` if you want to avoid python complex numbers). This will make it clear that the imaginary part is a constant Tensor that doesn't require grad

[2022-01-05 15:12] Lezcano commented on #68331
Even then, I think that we should fix this. I think it's much more readable to write `param.float64()`  or `param.float128()` than the current alternatives.

[2022-01-05 15:14] zivnachum opened #70701 "AdaptiveAvgPool1d - RuntimeError: shmem_size <= sharedMemPerBlockINTERNAL ASSERT FAILED"
### 🐛 Describe the bug

```RuntimeError: shmem_size <= sharedMemPerBlockINTERNAL ASSERT FAILED at "/pytorch/aten/src/ATen/native/cuda/AdaptiveAveragePooling.cu":679```
Error occurs when computing backward loss of a model with AdaptiveAvgPool1d layer.

Code:
[code]

If I change the operations order (first average pool, then dimension reduce), there is no error.
[code]

### Versions

torch 1.10.1
gp

[2022-01-05 15:14] Lezcano commented on #68331
As an unrelated sidenote, @lucgiffon, you might want to know that, at the moment, the complex versions of many optimisers do not behave as they should. See https://github.com/pytorch/pytorch/issues/59998 and https://github.com/pytorch/pytorch/issues/65711 for the issue that brought this up and the issue that that tracks this problem respectively.

[2022-01-05 15:20] soulitzer opened #70702 "conv3d padding=`same` gradgradcheck fails on CUDA"
To replicate, remove the `if torch.device(device).type != 'cuda'` condition in `test_conv3d_same_padding_backward` and run CI

Note: I couldn't actually replicate these locally
[code]

[code]

[2022-01-05 15:55] bdhirsh commented on #70242
Yeah, this came up recently with a port for `smooth_l1_loss`, which has the same pattern of using Tensoriterator to create an intermediate (and reducing it to get the output). We ended up porting it without using `TensorIteratorBase`, which isn't too bad (we pay the cost of one extra construction of TensorIterator in the impl function).

[2022-01-05 16:06] ianholing commented on #70523
Thanks @jbschlosser for the quick response and the workaround proposed :)

[2022-01-05 16:13] rbt111 commented on #4969
OK, I narrowed things down a little bit. If I import `torch` before `sklearn`, everything is fine; but if I import `sklearn` before `torch`, I get segmentation fault when I try to iterate through my dataloader.
- sklearn: '0.24.2'
- pytorch: '1.10.0.dev20210910'

This may be a duplicate of #31362.

[2022-01-05 16:20] Lezcano commented on #70242
Isn't building TI twice fairly expensive for these operations? cc @jbschlosser

[2022-01-05 16:26] xloem commented on #55296
I fixed this by passing to cmake `-DANDROID_NDK_HOST_SYSTEM_NAME=linux-$HOSTTYPE` so it can find the vulkan compiler in the ndk.

The simplest solution is `BUILD_VULKAN=OFF`.

I'm currently struggling with this error:
[code]

[2022-01-05 16:43] jaketae commented on #69794
This should be fixed in https://github.com/pytorch/pytorch/pull/70558!

[2022-01-05 16:43] jbschlosser commented on #70640
Yeah we did, but apparently it never got merged- whoops. #69941

[2022-01-05 16:50] damianr13 commented on #70700
Update: in my case, the issue was that I had a CPU tensor lost somewhere, in lines 476, 477 and 496.
The statement `elements_orig = torch.maximum(torch.tensor(0), 1 - dx[i][-1].squeeze())`, contains `torch.tensor(0)` where I forgot to change the device.

Still, the question remains. Is it normal that my execution reached that point? IMO it would be a lot more helpful if it would give out a more in

[2022-01-05 16:53] jay746 opened #70735 "named tensor doesn't work with deepcopy"
### 🐛 Describe the bug

When using a deepcopy on tensor which is named, then it looses names attributes

repro below:
`x = torch.empty(2,2, names=('N', 'C'))
print(x)
tensor([[1.2773e-08, 4.5764e-41],
        [3.0878e-31, 4.5764e-41]], names=('N', 'C'))
import copy
y = copy.deepcopy(x)
print(y)
tensor([[1.2773e-08, 4.5764e-41],
        [3.0878e-31, 4.5764e-41]])`

### Versions

PyTorch version: 1.

[2022-01-05 16:56] jay746 commented on #70735
`x = torch.empty(2,2, names=('N', 'C'))
print(x)
tensor([[1.2773e-08, 4.5764e-41],
        [3.0878e-31, 4.5764e-41]], names=('N', 'C'))
import copy
y = copy.deepcopy(x)
print(y)
tensor([[1.2773e-08, 4.5764e-41],
        [3.0878e-31, 4.5764e-41]])`

[2022-01-05 16:56] jay746 commented on #70735
`x = torch.empty(2,2, names=('N', 'C'))
print(x)

tensor([[1.2773e-08, 4.5764e-41],
        [3.0878e-31, 4.5764e-41]], names=('N', 'C'))

import copy

y = copy.deepcopy(x)

print(y)

tensor([[1.2773e-08, 4.5764e-41],
        [3.0878e-31, 4.5764e-41]])`

[2022-01-05 17:41] choltz95 commented on #63929
Hi all! Appreciate the paper trail. Just recording with my intended usecase: interested in integrating DDP with meta learning/maml algorithms. Necessitates ```autograd.grad``` with ```create_graph.```

Curious if anyone has found/has ideas any possible hacky solutions or workarounds. I guess for now I will revert to DP.

[2022-01-05 17:43] suo opened #70751 "rocm jobs failing on master due to no space on device"
rocm jobs are failing on master with:
[code]

See for more examples: https://www.torch-ci.com/minihud?name_filter=rocm

cc @jeffdaily @sunway513 @jithunnair-amd @ROCmSupport @KyleCZH @seemethere @malfet @pytorch/pytorch-dev-infra

[2022-01-05 17:45] suo opened #70753 "DISABLED test_gpu_simple (__main__.TensorPipeCudaDistAutogradTest)"
Platforms: mac
This test was disabled because it is failing on master ([recent examples](http://torch-ci.com/failure/test_gpu_simple%2C%20TensorPipeCudaDistAutogradTest)).

[2022-01-05 17:45] suo opened #70754 "DISABLED test_all_reduce_coalesced_group_min (__main__.TestDistBackendWithSpawn)"
Platforms: mac

This test was disabled because it is failing on master ([recent examples](http://torch-ci.com/failure/test_all_reduce_coalesced_group_min%2C%20TestDistBackendWithSpawn)).

[2022-01-05 17:47] suo opened #70755 "DISABLED test_barrier_timeout_group (__main__.TestDistBackendWithSpawn)"
Platforms: mac

This test was disabled because it is failing on master ([recent examples](http://torch-ci.com/failure/test_barrier_timeout_group%2C%20TestDistBackendWithSpawn)).

[2022-01-05 17:52] tobigue commented on #69688
I also stumbled upon this behaviour when trying to restrict the memory on a GPU shared by multiple processes.

I agree that it would be a much better user exprience if `set_per_process_memory_fraction` included the overhead of the cuda environment.

[2022-01-05 17:53] suo opened #70756 "DISABLED test_batch_sampler (__main__.TestDataLoaderPersistentWorkers)"
This test was disabled because it is failing on master ([recent examples](http://torch-ci.com/failure/test_batch_sampler%2C%20TestDataLoaderPersistentWorkers)).

cc @SsnL @VitalyFedyunin @ejguan @NivekT

[2022-01-05 17:56] kurtamohler commented on #70537
Another note, since I see that you're setting `CUBLAS_WORKSPACE_CONFIG` with `os.environ`. That usually doesn't work. The workspace is configured once, during `import torch`. So you'll either have to move `
os.environ[‘CUBLAS_WORKSPACE_CONFIG’] = ‘:4096:8’` above `import torch` or set `CUBLAS_WORKSPACE_CONFIG` in your environment before running python

[2022-01-05 18:07] #69833 closed

[2022-01-05 19:29] kurtamohler commented on #31758
Sorry, this dropped off my radar. The segfault doesn't happen in my environment with the latest PyTorch, but I still haven't tried older versions yet. I will try it within the next week.

What version of PyTorch are you using @nazmicancalik ?

[2022-01-05 19:56] rohan-varma opened #70865 "Support hooks-based checkpointing API with DDP"
### 🚀 The feature, motivation and pitch

Recently a version of checkpoint based on saved variable hooks was landed in PR: , although support for this version of checkpointing working with DDP is still pending: https://github.com/pytorch/pytorch/pull/69060.

The main issue is that the reentrant-based checkpointing (traditional version) ran the first forward pass under `torch.no_grad()` and DDP was

[2022-01-05 20:06] rohan-varma commented on #58111
This is also contributing to https://github.com/pytorch/pytorch/issues/70865, as when we run with static_graph, `num_iterations` accounting is buggy with multiple forward pass.

There are 2 options:
(hacky) - Using a similar approach to FSDP, have each output tensor register a hook with a lambda and have a boolean to ensure this lambda is run only once.
(better option) - Once https://github.com/py

[2022-01-05 20:08] Azerus13 commented on #16014
Hello,

I"m using torch v1.10.0, the documentation is still not correct for scatter_. It can be quite confusing, could someone fix the doc?

[2022-01-05 20:12] seemethere opened #70868 "Long queue times for GHA workflows"
## Current Status
*Status could be: preemptive, ongoing, mitigated, closed. Also tell people if they need to take action to fix it (i.e. rebase)*.

## Error looks like
*Provide some way users can tell that this SEV is causing their issue.*

We're observing long queuing times for our GHA workflows before workflows are scheduled to run on runners.

Typically issues like this look like:
![image](http

[2022-01-05 20:14] rohan-varma commented on #68785
@d4l3k @kiukchung @aivanou wondering if this feature request seems reasonable?

[2022-01-05 20:15] seemethere commented on #70868
I'm not entirely privy to what GHA's underlying architecture looks like but this is what I assume is happening:

1. workflow trigger event
2. github picks up event
3. github queues event to be processed  <- Where I assume it's getting stuck
4. github processes event
5. github schedules workflow jobs to be run on a runner
6. workflow actually runs

[2022-01-05 20:19] rohan-varma commented on #68241
done

[2022-01-05 20:19] #68241 closed

[2022-01-05 20:21] vadimkantorov commented on #70865
Maybe the same functionality would be needed for a within-model rebatching: https://gist.github.com/vadimkantorov/67fe785ed0bf31727af29a3584b87be1

[2022-01-05 21:01] hbendekgey opened #70870 "Add flag for functional.Jacobian to return output as well"
### 🚀 The feature, motivation and pitch

I am working on implicit differentiation of an expensive function. I would like both its output (with computational graph intact) and the Jacobian of the function with respect to one of its inputs. This can be easily done by running the function twice, but I would prefer to save the computation time.

For example, I want to be able to run:

[code]

Such tha

[2022-01-05 21:21] kurtamohler commented on #44409
I've drafted a PR that modifies codegen to resolve `int[]?` arguments to the `OptionalIntArrayRef` class that @heitorschueroff drafted in #64084. There are some remaining issues to fix before it should be reviewed. But I have a question.

I'm wondering if its wrong for _all_ `int[]?` arguments to be resolved to `OptionalIntArrayRef`, even if the argument isn't a dimension list. We have some functi

[2022-01-05 21:41] seemethere commented on #70868
Issue appears to have been mitigated, still waiting on our auto-scaler to recover, will close when it does

[2022-01-05 22:12] Varal7 commented on #70134
I have trouble formalizing what the expected behavior would be here.

The contract for hooks is that they should be a pair of functions (`pack`, `unpack`) with `pack: torch.Tensor -> Any` and `unpack: Any -> torch.Tensor` and `pack(unpack(x)) = x`.

- In the case where where output of `pack_1` and `pack_2` are tensors, I can visualize how composing them would work.
[code]
If the forward pass needs

[2022-01-05 22:36] #68558 closed

[2022-01-05 22:37] cpuhrsch commented on #70357
@smorad - seems like something we should support via [the select operation](https://pytorch.org/docs/master/generated/torch.select.html#torch.select), if I understand your code correctly.

[code]

We can then optimize select to deal efficiently with uncoalesced inputs, if it shows up as a bottleneck.

[2022-01-05 22:55] KyleCZH opened #70874 "DISABLED test_sort_cuda (__main__.TestSortAndSelectCUDA)"
Platforms: rocm

https://ci.pytorch.org/jenkins/job/pytorch-builds/job/pytorch-linux-bionic-rocm4.5-py3.7-test1/19//console

[code]

cc @jeffdaily @sunway513 @jithunnair-amd @ROCmSupport @KyleCZH

[2022-01-05 22:57] KyleCZH opened #70875 "DISABLED test_caching_pinned_memory_multi_gpu (__main__.TestCuda)"
Platforms: rocm

https://ci.pytorch.org/jenkins/job/pytorch-builds/job/pytorch-linux-bionic-rocm4.5-py3.7-test2/19//console

[code]

cc @ngimel @jeffdaily @sunway513 @jithunnair-amd @ROCmSupport @KyleCZH

[2022-01-05 22:59] pritamdamania87 commented on #70667
I think you probably might have to compile with `USE_GLOG=1` to enable this. @rohan-varma I was wondering if we tested this with the OSS pytorch binaries. It seems like USE_GLOG is off by default: https://github.com/pytorch/pytorch/blob/master/CMakeLists.txt#L217, so was wondering if this additional logging would be missing if users just install the pytorch binaries.

[2022-01-05 23:03] #69698 closed

[2022-01-05 23:04] KyleCZH opened #70876 "DISABLED test_median_nan_values_cuda_float16 (__main__.TestReductionsCUDA)"
Platforms: rocm

[code]

cc @jeffdaily @sunway513 @jithunnair-amd @ROCmSupport @KyleCZH @mruberry

[2022-01-05 23:09] jithunnair-amd commented on #70875
Related github issue: https://github.com/pytorch/pytorch/issues/68299?

[2022-01-05 23:11] KyleCZH opened #70877 "DISABLED test_broadcast_stress_cuda (__main__.ProcessGroupGlooTest)"
Platforms: rocm

[code]

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @rohan-varma @gqchen @aazzolini @osalpekar @jiayisuse @SciPioneer @H-Huang @jeffdaily @sunway513 @jithunnair-amd @ROCmSupport @KyleCZH

[2022-01-05 23:13] KyleCZH opened #70878 "DISABLED test_median_nan_values_cuda_float32 (__main__.TestReductionsCUDA)"
Platforms: rocm

[code]

cc @jeffdaily @sunway513 @jithunnair-amd @ROCmSupport @KyleCZH

[2022-01-05 23:16] jbschlosser commented on #70640
Closing as addressed in #69941.

[2022-01-05 23:16] #70640 closed

[2022-01-05 23:19] #65997 closed

[2022-01-05 23:26] malfet opened #70881 "Fix docker update race condition"
### 🐛 Describe the bug

At the moment, docker images are rebuilt only for commits that modify docker folder and are assumed to be available by the time next commit is pushed, which might not be the case if base job have failed or CI is executed out of order

For example, see https://github.com/pytorch/pytorch/commit/395f85377022aa40e9e0e87a348d535d072a7659 (which at the time of writing still have

[2022-01-05 23:27] malfet commented on #70881
Original assumption for the change were that commit hash sum will be the same between PR and master commit, but this is often not the case

[2022-01-05 23:50] QiaofengQin commented on #70267
Hi @mrshenli . Thank you for the reply. After adding the commands, the latency seems to become more predictable. However, the value becomes larger meanwhile:
[code]
It seems that the usage of MPI makes the difference. If I run the same calculations without using `mpi4py` (instead we assign ranks manually), the latency decreases significantly:
[code]
In my understanding, we use MPI only for rank al

[2022-01-05 23:54] xwang233 commented on #70669
I can't reproduce this issue on A100 with the pip 1.10.1+cu113 wheel. Is there any chance that you have multiple torch installed in different python environment?

[2022-01-06 00:04] KyleCZH commented on #70877
https://ci.pytorch.org/jenkins/job/pytorch-builds/job/pytorch-linux-bionic-rocm4.5-py3.7-test-distributed/35//console

[code]

[2022-01-06 00:17] Masterchef365 opened #70882 "Undefined references in libtorch_python.so when linking custom ops in C++"
### 🐛 Describe the bug

I'm attempting to deploy a model written in Python to a C++ or Rust environment. I used TorchScript to serialize the model, but since the model uses custom ops loading it from C++ or Rust resulted in `Unknown builtin op`. The natural choice here would be to replicate the C++ custom op example [here](https://github.com/pytorch/pytorch/blob/master/test/custom_operator/CMakeLi

[2022-01-06 00:32] frgfm commented on #52271
@pmeier did it work by any chance? :pray:

[2022-01-06 00:40] ngimel commented on #70700
This is fixed on master/nightlies in #66245

[2022-01-06 00:49] KyleCZH opened #70883 "DISABLED test_median_nan_values_cuda_float64 (__main__.TestReductionsCUDA)"
Platforms: rocm

https://ci.pytorch.org/jenkins/job/pytorch-builds/job/pytorch-linux-bionic-rocm4.5-py3.7-test1/45//console

[code]

[2022-01-06 02:20] ezyang commented on #42919
No, it's not worth it

[2022-01-06 02:21] machadothi commented on #70521
Got the same problem here when building pytorch from source.

**[ 88%] Linking CXX shared library ../lib/libtorch_cuda.so**
CMakeFiles/torch_cuda.dir/__/aten/src/ATen/native/cudnn/Conv_v7.cpp.o:(.eh_frame+0xc0): relocation truncated to fit: R_AARCH64_PREL32 against `.text._ZN2at6native14BenchmarkCacheI33cudnnConvolutionFwdAlgoPerfStructED2Ev'
CMakeFiles/torch_cuda.dir/__/aten/src/ATen/native/cudnn

[2022-01-06 02:26] ezyang commented on #67653
Just slapping memory_order_relaxed doesn't mean TSAN won't complain about it (c.f. https://github.com/google/sanitizers/issues/1009 ). An atomic with the correct memory order, however, is the right fix, and should give you the same x86 instructions in the end (no perf hit).

[2022-01-06 02:45] ezyang commented on #37762
I stand by my suggestion at https://github.com/pytorch/pytorch/issues/37762#issuecomment-624364354 ; it would also help with better documenting Tensor.h on the C++ side c.f. this internal request https://fb.workplace.com/groups/894363187646754/posts/1360626894353712 (FB only); cc @jbschlosser @mruberry @albanD @ikriv

[2022-01-06 02:49] ezyang commented on #68179
IIRC there is some interaction with TorchScript that makes it difficult to put the correct annotation here. Backstory in PR desc at https://github.com/pytorch/pytorch/pull/38211

[2022-01-06 02:53] ezyang commented on #68349
Try setting  ATEN_CPU_CAPABILITY=default envvar but as the crash is in dnnl this probably won't help

[2022-01-06 03:04] Dignity-ghost commented on #67538
This method really worked! Thanks for adivce.

[2022-01-06 03:25] A01709042 commented on #17023
pip install torch==1.9.1+cu111 torchvision==0.10.1+cu111 torchaudio==0.9.1 -f https://download.pytorch.org/whl/torch_stable.html

ETA: 1 day, 30kb/s
Internet speed test says i have 100Gb/s

killed it three times and suddenly it worked

[2022-01-06 03:31] twotwoiscute opened #70885 "Convert torch model metts error : ""number of dims don't match in permute"
### 🐛 Describe the bug

I am trying to convert torch model(.pt) to onnx format but meets unexpected error export failure: number of dims don't match in permute, I inspect into model structure and find out where the problem is and the module is shown below:

import onnx
import torch
import torch.nn as nn
import torch.nn.functional as F

class Integral(nn.Module):

    def __init__(self, reg_max= 16

[2022-01-06 03:38] iamlockelightning opened #70886 "operator nan_to_num to ONNX"
### 🚀 The feature, motivation and pitch

Get "RuntimeError: Exporting the operator nan_to_num to ONNX opset version 9 is not supported. Please feel free to request support or submit a pull request on PyTorch GitHub." when using `torch.nan_to_num()`

[code]

Opened an issue in the ONNX repo(https://github.com/onnx/onnx/issues/3917) and recommended opening one here.

My environment is:
[code]

### A

[2022-01-06 04:12] sanchitintel commented on #70523
@HamidShojanazeri & @ianholing, is it possible that T2 & C5 environment details got swapped, and that this segfault occurs on T2 AWS instances, but not on C5 (as opposed to what @ianholing reported)? Thanks!

[2022-01-06 04:33] #66856 closed

[2022-01-06 05:03] jithunnair-amd opened #70890 "DISABLED test_median_nan_values_cuda_float64 (__main__.TestReductionsCUDA)"
Platforms: rocm

[code]

[2022-01-06 05:06] jithunnair-amd commented on #70890
Closing, duplicated of https://github.com/pytorch/pytorch/issues/70883

[2022-01-06 05:58] yanbing-j commented on #70237
Hi @dgmp88.  Happy new year! It makes sense to close this issue.

[2022-01-06 06:21] LinghaoChan commented on #70669
Thanks for your attention. I found out the source of this issue: My A-100 CUDA Version is 11.0 but I installed torch with 1.10.1+cu113 (the only torch installed in my environment).

It's possible that your A-100 CUDA Version is 11.3 or 11.4.

**However, the phenomenon I described is still very strange. Why will an error command not report an error the second time it is executed?**

[2022-01-06 06:30] nkaretnikov commented on #67462
@ejguan hey, bumped into this while working on a different kernel. any context on this particular issue? is the kernel just implemented incorrectly?

[2022-01-06 06:46] shengchunnan opened #70892 "Memory leak while training model generated by torch.fx.symbolic_trace() in data parallel mode"
### 🐛 Describe the bug

**There is memory leak when I train a model in data parallel mode if this model is generated by  torch.fx.symbolic_trace().**
**There seems to be no memory leak if I turn off one of the follow options:**
- data parallel mode (**`torch.nn.DataParallel`**)
- This model is **`torch.fx.GraphModule`** created via **`torch.fx.Tracer`**

The python script that can reproduce this B

[2022-01-06 07:46] pearu opened #70898 "`libtorch.a` is not in pytorch `static` zip archives"
The diagnosis in the discussion item still applies to 1.10.1:

[code]

cc: @seemethere

# Discussion item

Interestingly enough, it appears as though we haven't regressed, we just never had a `libtorch.a` in our `static` zip archives:

Script used to test:
[code]

Results:
[code]

_Originally posted by @seemethere in https://github.com/pytorch/pytorch/issues/25699#issuecomment-700064881_

cc @ezya

[2022-01-06 07:52] rohan-varma commented on #70134
@Varal7 Thanks for your comment and for implementing this feature, it has been very useful for distributed!

I should've been clearer in my original description, but my proposal was to not run both hooks, i.e. we wouldn't do something like pack2(pack1(a)).

What I would like is for the inner hook to have "priority", i.e. in your example, for `y = f(x)`, we would use `pack_1` when autograd is savin

[2022-01-06 08:00] xwang233 commented on #60537
We have those features (batched `torch.linalg.eigh` on GPU) enabled in pytorch built with the latest cuda 11.5 version. Try a nightly pip wheel with
[code]

[2022-01-06 08:15] xwang233 commented on #70669
Thanks for the comment. If you installed your pytorch wheel from pip, the system CUDA version doesn't matter. Only the CUDA version that comes with torch pip wheel matters.

The behavior you described is indeed very strange, and pytorch doesn't have such feature that raises an exception in the first run but not the second. Can you check your system with, maybe `dmesg` or `nvidia-smi`, and see if t

[2022-01-06 08:27] pearu commented on #70357
@smorad:

[code]

There is a loophole for this that avoids `coalesce` operation (although for small sizes and already coalesced data, the operation should be cheap):
[code]
where `_coalesced_` just sets coalesce flag and returns self.

@cpuhrsch I agree, supporting slice indexing on sparse tensors would be a nice feature that would allow users *not* to deal with indices/values explicitly in many s

[2022-01-06 08:53] cdzhan opened #70901 "Accuracy problem of torch.batch_norm_gather_stats_with_counts when running_mean is half tensor"
### 🐛 Describe the bug

The value of output tensor "mea" should not be zero.

[code]
output:

[code]

### Versions

PyTorch version: 1.10.1+cu102
Is debug build: False
CUDA used to build PyTorch: 10.2
ROCM used to build PyTorch: N/A

OS: CentOS Linux release 7.9.2009 (Core) (x86_64)
GCC version: (GCC) 5.4.0
Clang version: Could not collect
CMake version: version 3.15.5
Libc version: glibc-2.3.4

P

[2022-01-06 08:57] LinghaoChan commented on #70669
Okay. The program will not report any error after I changed the torch version from 1.10.1+cu113 to 1.7.0+cu110. Does it mean that the **the torch CUDA version** should >= **the system CUDA version**?

+ I checked via `watch -n 0.1 nvidia-smi` command, all eight gpus seem well. The phenomenon exists whenever there is any other program running. I checked it more than 10 times.

+ Although I changed

[2022-01-06 08:59] pmeier commented on #52271
@frgfm See #69678.

[2022-01-06 09:01] kiukchung commented on #68785
Having this type of programmatic API would indeed be nice.

1. Would `get_worker_info().get_rank()` and `get_worker_info().get_world_size()` replace [`torch.distributed.distributed_c10d.get_rank()`](https://github.com/pytorch/pytorch/blob/master/torch/distributed/distributed_c10d.py#L821-L849) and `torch.distributed.distributed_c10d.world_size()`?

2. This worker info API was mentioned in the [sof

[2022-01-06 09:08] ABD-01 commented on #35901
Hey,
But what is the solution to this issue?
I am facing a similar problem, 4 GB of GPU memory and only approx. 2 GB is being used. 🥲🥲
`torch.cuda.empty_cache()` is not working, even decreased batch size to 48 so tensor is of shape [48, 3, 224, 224] passing through ResNet50.
I also tried different version of pytorch

[code]

![image](https://user-images.githubusercontent.com/63636498/148357744-6d3

[2022-01-06 09:55] kli017 commented on #18337
hello, I was wondering could y be a int instead of a tensor here?

[2022-01-06 09:58] tkuenzle opened #70902 "Bilinear upsampling is very slow when quantized for channels last format"
### 🐛 Describe the bug

Running quantized upsampling with memory format `channels_last` is slower than `contiguous_format`.

[code]

Running the snippet above produces the following output:

[code]

Note the unreasonably many calls to `aten::q_zero_point` for memory format `channels_last`.

### Versions

[code]

cc @jerryzh168 @jianyuh @raghuramank100 @jamesr66a @vkuzo

[2022-01-06 10:12] #58740 closed

[2022-01-06 10:13] #70237 closed

[2022-01-06 10:25] pmeier opened #70904 "Bitwise shifts are broken in some cases if shift is greater than bit size"
Left- or right-shifting the bits of an integer tensor by equal or more than the number of bits of the dtype, should always result in `0`. This is not the case for some shifts independent of the `dtype`:

[code]

[code]

[2022-01-06 10:49] pmeier opened #70906 "`full` should take an integer size"
The [array API specification stipulates](https://data-apis.org/array-api/latest/API_specification/creation_functions.html?highlight=full#full-shape-fill-value-dtype-none-device-none) that the `size` parameter can also be an `int`, which should be treated the same as a sequence of `int`'s with a single element.

[2022-01-06 11:07] pmeier opened #70909 "`finfo(...).tiny` should be aliased to `finfo(...).smallest_normal`"
The [array API specification stipulates](https://data-apis.org/array-api/latest/API_specification/data_type_functions.html?highlight=smallest_normal#finfo-type) that the

should be called `smallest_normal`. We are currently calling it [`tiny`](https://pytorch.org/docs/master/type_info.html#torch.torch.finfo). See [this discussion](https://github.com/data-apis/array-api/pull/129#discussion_r5779936

[2022-01-06 11:12] pmeier opened #70910 "`eye` should support other diagonals than the main one"
The [array API specification stipulates](https://data-apis.org/array-api/latest/API_specification/creation_functions.html#eye-n-rows-n-cols-none-k-0-dtype-none-device-none) that the diagonal does not have to be the main one. This is controlled by the `k` parameter. Positive values correspond to upper diagonals whereas negative values correspond to lower diagonals. By default `k=0` which is the mai

[2022-01-06 11:39] IvanYashchuk commented on #50690
The important bit is to be able to construct a tensor with sparse representation and complex values, it's now possible. I'm going to close this issue because there's nothing specific for complex numbers when adding support of more mathematical operations on sparse tensors. If some existing operator is missing support for complex numbers a new separate issue should be created.

It’s possible to con

[2022-01-06 11:39] #50690 closed

[2022-01-06 11:45] Lezcano commented on #70669
cc @nikitaved who worked on this function.

[2022-01-06 11:52] nikitaved commented on #70669
I did not work on logdet, no, but I will have a look once my stack is free.

[2022-01-06 12:12] ysc3839 commented on #68903
It is a bug. Because `freeze_module` clones the module and return the cloned one.
https://github.com/pytorch/pytorch/blob/b0fdca885547efedddc4e9cfe78a5e0d7838e9f0/torch/csrc/jit/passes/freeze_module.cpp#L871-L883

[2022-01-06 12:22] IvanYashchuk commented on #47640
[`scipy.sparse.spdiags`](https://docs.scipy.org/doc/scipy/reference/generated/scipy.sparse.spdiags.html#scipy-sparse-spdiags) stems from [Matlab's `spdiags`](https://www.mathworks.com/help/matlab/ref/spdiags.html). In Julia there's equivalent function called [`SparseArrays.spdiagm`](https://docs.julialang.org/en/v1/stdlib/SparseArrays/#SparseArrays.spdiagm).

[`scipy.sparse.diags`](https://docs.sc

[2022-01-06 12:25] lithuak opened #70912 "Tests in test_nn fail when compiled without LAPACK support"
### 🐛 Describe the bug

Running python `test/run_test.py` fails in `test_nn` module when PyTorch is compiled w/o LAPACK support.

The expected behavior is to skip tests for LAPACK-relative functionality in such case.

The full error log is [here](https://gist.github.com/lithuak/ec5f36059015f7c9b33cd4c50efad06e):

My proposition is to fix this by adding the `@skipIfNoLapack` decorator to failing te

[2022-01-06 12:35] IvanYashchuk commented on #63744
I think [Pearu's response](https://github.com/pytorch/pytorch/issues/63744#issuecomment-903858260) shows that the autograd engine works with `torch.sparse.mm` and sparse COO tensors, so closing the issue.

[2022-01-06 12:35] #63744 closed

[2022-01-06 12:42] IvanYashchuk commented on #2389
There is a [`torch.sparse.mm`](https://pytorch.org/docs/stable/generated/torch.sparse.mm.html) function that supports autograd for sparse COO tensors. `torch.sparse.mm` should be preferred over `torch.mm` for autograd operations with sparse COO tensors.
The motivation for a separate function is to have sparse gradients, which we can't have with `torch.mm` at the moment as we aim at operator behavi

[2022-01-06 12:42] #2389 closed

[2022-01-06 12:58] IvanYashchuk commented on #5262
Matrix multiplication of two CSR tensors is now supported both on CPU and CUDA:
[code]

[2022-01-06 12:58] #5262 closed

[2022-01-06 13:04] IvanYashchuk commented on #6171
It's now possible in PyTorch to convert a COO 2D tensor to CSR explicitly:
[code]
CSR matrices support `torch.matmul` operation.

[2022-01-06 13:04] #6171 closed

[2022-01-06 13:09] pmeier commented on #52271
This is basically a command to run all workflows rather than just the default ones. This is useful to detect subtle changes.

[2022-01-06 13:26] IvanYashchuk commented on #9222
Experimental support for the Block Compressed Row (BSR) format was recently added in https://github.com/pytorch/pytorch/pull/68707, https://github.com/pytorch/pytorch/pull/68708, https://github.com/pytorch/pytorch/pull/68709, https://github.com/pytorch/pytorch/pull/68710 to support `torch.triangular_solve`, `torch.addmv`, `torch.addmm` on CUDA and CPU.

Currently, unsafe private methods need to be

[2022-01-06 13:29] albanD commented on #70912
Let's discuss in the PR how we want to solve that.

[2022-01-06 13:30] miccio-dk commented on #62323
I'm also experiencing the same RuntimeError. I devised the following workaround, which consists in creating a larger window, and then discarding the extremes:
[code]

On a sidenote, scipy and torch windows behave differently:
[code]
yields
[code]

[2022-01-06 13:32] albanD commented on #70904
@pmeier would have some time to check why this happens by any chance?

[2022-01-06 13:36] albanD commented on #70901
Isn't this expected behavior due to lower precision of fp16: https://pytorch.org/docs/master/notes/numerical_accuracy.html ?

[2022-01-06 13:42] albanD commented on #70700
Closing since it is fixed in master.
@damianr13 feel free to re-open if you still see the issue after using the nightlies.

[2022-01-06 13:42] #70700 closed

[2022-01-06 13:43] pmeier opened #70914 "support setting `step` in `arange` without setting `end`"
The [array API specification stipulates](https://data-apis.org/array-api/latest/API_specification/creation_functions.html#arange-start-stop-none-step-1-dtype-none-device-none) that only the first argument in `arange` is positional only. The other two, `end` and `step` need to be independently usable.

[code]

[2022-01-06 13:45] pmeier opened #70915 "`arange` should return empty array if bounds are inconsistent with step sign"
The [array API specification stipulates](https://data-apis.org/array-api/latest/API_specification/creation_functions.html#returns) that the following should hold for the return value of `torch.arange`:

[code]

[2022-01-06 13:49] IvanYashchuk commented on #41069
CSR matrix - dense matrix multiplication is now supported for `float16`:
[code]

[2022-01-06 13:49] #41069 closed

[2022-01-06 13:52] albanD commented on #70675
Out of curiosity what would you expect the output contains here? Given that there are no inputs.

But both 0 and 1 are out of range for a dimension of size 0 so this should raise an error right?

[2022-01-06 13:53] albanD commented on #70674
cc @cpuhrsch do we want to re-use the same idea of "default" value that we have for masked Tensor here?

[2022-01-06 13:54] pmeier opened #70916 "uint8 scalar tensors cannot be used for integer indexing"
Integer, scalar tensors should behave like integers when used as index. Tensors of dtype `torch.uint8` deviate from that:

[code]

[code]

[2022-01-06 13:56] albanD commented on #70672
The fun part is that trying to print it fails with `Trying to create tensor with negative dimension -1: [1, -1]`.

We should definitely raise an error in this case!

[2022-01-06 14:00] pmeier opened #70918 "make `torch.(ceil|floor|round|trunc)` no-ops for integer inputs"
The [array API specification stipulates](https://data-apis.org/array-api/latest/API_specification/elementwise_functions.html?highlight=bitwise_left_shift#id38) that `torch.(ceil|floor|round|trunc)` should be no-ops for integer inputs. We currently have no functionality implemented for these cases

[code]

cc @mruberry @rgommers @pmeier @asmeurer @leofang @AnirudhDagar @asi1024 @emcastillo @kmaehas

[2022-01-06 14:01] albanD commented on #70916
I think this is related to the fact that `uint8` used to be our type used for masking before bool was introduced.
But masking with `uint8` is deprecated, you should have a warning right? So maybe it is time to forbid it completely. So that in next release we can enable indexing with it?

[2022-01-06 14:05] pmeier opened #70919 "`linspace` should support an `endpoint` parameter"
The [array API specification stipulates](https://data-apis.org/array-api/latest/API_specification/creation_functions.html#linspace-start-stop-num-dtype-none-device-none-endpoint-true) that `torch.linspace` should have a `endpoint: bool = True` parameter. If `False`, the right bound should be exclusive, i.e. `[start, end)` rather than `[start, end]`.

[2022-01-06 14:19] pmeier opened #70920 "`unique` should be split into four partial functions"
The array API specification stipulates that we should have four partial functions for uniqueness computation rather than just one:

- [`unique_values`](https://data-apis.org/array-api/latest/API_specification/set_functions.html#unique-values-x): `torch.unique`
- [`unique_counts`](https://data-apis.org/array-api/latest/API_specification/set_functions.html#unique-counts-x): roughly `partial(torch.un

[2022-01-06 14:20] albanD commented on #70523
This happens because you run out of RAM (most likely because our fallback algorithm is really memory hungry).

[2022-01-06 14:20] cdeepali commented on #66462
As we remove python 3.6 support, we will need to remove `dataclasses` package from the dependencies. @malfet, shall I work on PR for this change?

[2022-01-06 14:36] pmeier opened #70921 "`sort` should only return the sorted input"
The [array API specification stipulates](https://data-apis.org/array-api/latest/API_specification/generated/signatures.sorting_functions.sort.html) that `torch.sort` should only return the sorted input. Currently, we return a named tuple where the `.values` field corresponds to the specification of the array API.

[2022-01-06 14:37] pmeier opened #70922 "`argsort` is missing the `stable` parameter"
The [array API specification stipulates](https://data-apis.org/array-api/latest/API_specification/generated/signatures.sorting_functions.argsort.html) that `torch.argsort` should support the same parameters as `torch.argsort`. Excluding `out`, `stable: bool = True` is missing from `torch.argsort`.

[2022-01-06 14:39] pmeier opened #70923 "type promotion is broken in `torch.where`"
The [array API specification stipulates](https://data-apis.org/array-api/latest/API_specification/searching_functions.html?highlight=where#id7) that the return value of `torch.where` should undergo regular type promotion. Currently we do not support different dtypes for `x` and `y`:

[code]

[code]

Note that the error message is also misleading since we deal with 1d tensors here.

cc @nairbv @mru

[2022-01-06 14:42] albanD commented on #67653
Good point! https://godbolt.org/z/WEY79csKf
We should change that then.

[2022-01-06 14:43] svenstaro commented on #69911
I'm the maintainer of Pytorch in Arch Linux and I'd appreciate a patch release containing this fix in order for us to deliver a fixed package to our users. The patch doesn't apply cleanly so we can't just build a fixed package currently.

[2022-01-06 14:50] pmeier opened #70924 "change supported arguments for parameter `dim` in `squeeze`"
The [array API specification stipulates](https://data-apis.org/array-api/latest/API_specification/manipulation_functions.html?highlight=squeeze#id11) that

1. `dim` should accept a tuple of `int`'s indicating all dimensions that should be squeezed.
2. `dim` should have no default value. Currently, not passing anything will squeeze all singleton dimension.

[2022-01-06 14:51] pmeier opened #70925 "change supported arguments for parameter `dim` in `concat`"
The [array API specification stipulates](https://data-apis.org/array-api/latest/API_specification/manipulation_functions.html?highlight=concat#parameters) that

1. `dim=None` flattens all inputs before concatenating.
2. negative `dim`'s index the dimensions starting from the last one.

[2022-01-06 14:51] albanD commented on #57100
Hi,

Just to clarify, the "computation graph" is just a small graph structure that is very small and always in RAM. So you don't need to worry about it here.
The save_on_cpu() will make sure that everything that is needed to run the backward pass (and thus is saved by autograd) is moved to cpu and back.
So I don't think you need to do anything beyond that.

The very first input to the network, you

[2022-01-06 14:53] albanD commented on #65779
Yes this was merged.

[2022-01-06 14:53] #65779 closed

[2022-01-06 14:55] krshrimali opened #70926 "Feature Request: Implement `torch.sparse.spdiags`"
### 🚀 The feature, motivation and pitch

## Feature

Add `torch.sparse.spdiags` function which returns a sparse matrix from the given diagonal arrays and offsets. This is similar to SciPy's [`scipy.sparse.spdiags`](https://docs.scipy.org/doc/scipy/reference/generated/scipy.sparse.spdiags.html#scipy-sparse-spdiags).

## Motivation and Context

Please see issue: https://github.com/pytorch/pytorch/is

[2022-01-06 14:55] jithunnair-amd commented on #59750
@mcarilli @ngimel Hi, we are testing out the fix in ROCm stack for this issue. We'd like to remove the workaround locally and run the appropriate unit tests to confirm the behaviour is correct. Would you be able to point us to the relevant unit test(s) to run to verify the fix on our end?
cc @amathews-amd

[2022-01-06 14:57] IvanYashchuk commented on #61103
The problem was resolved with https://github.com/pytorch/pytorch/commit/b7adb3350ac9115869a0c54eec326e387ccbcf6b.

[2022-01-06 14:57] #61103 closed

[2022-01-06 14:58] cdzhan commented on #70901
I think the root cause is the lower precision of fp16, but I do not think it is the expected behavior. Why not output more accurate result by just simply using higher precision data type (e.g., float) in the middle step of caculation?

[2022-01-06 15:09] krshrimali commented on #47640
Thanks, @IvanYashchuk for taking a look and sharing pointers on existing implementations in other libraries. Thanks, @rjkilpatrick for creating the issue and helpful description.

I've created a separate issue for `spdiags` and `diags` [here](https://github.com/pytorch/pytorch/issues/70926). Closing this issue in the favor of #70926 (to add functions in the sparse namespace instead of adding keywo

[2022-01-06 15:09] #47640 closed

[2022-01-06 15:45] pmeier commented on #70916
Nope.

[2022-01-06 15:52] tvercaut commented on #41128
Out of curiosity I checked if the behaviour would be different by requiring the gradient on the values of the sparse COO matrix (rather than on the sparse matrix itself) but unfortunately, the same out-of-memory issue arises. I can also confim that [pytorch_sparse](https://github.com/rusty1s/pytorch_sparse) doesn't face the memory bottleneck.

Here (and on [colab](https://colab.research.google.com

[2022-01-06 16:21] mruberry commented on #70916
We would accept a PR that improves the deprecation warnings for uint8 indexing.

[2022-01-06 16:24] peterbell10 commented on #44409
The dangling pointer issue for scalar arguments should exist for all `int[]?` arguments so I think we do want to change all of them.

[2022-01-06 16:29] vkuzo commented on #43774
this is fixed by https://github.com/pytorch/pytorch/pull/70432

[2022-01-06 16:29] #43774 closed

[2022-01-06 16:39] peterbell10 commented on #70664
This requires better `complex32` support.

[2022-01-06 16:45] pmeier commented on #70904
The behavior is not present on CUDA.

[2022-01-06 16:57] 1173710214 commented on #49828
what should we do if we need to cal gradient wrt the parameters of module in forward function then?

[2022-01-06 16:58] #70676 closed

[2022-01-06 17:07] peterbell10 commented on #70073
I'm hesitant to add a warning that happens under normal usage. Especially for `center=True` where only some of the end padding would be excluded from the signal.

Do you think it would be enough to improve the documentation and make sure it mentions these considerations explicitly?

[2022-01-06 17:34] HamidShojanazeri commented on #70523
@sanchitintel  I just double checked, it is failing on C5 and can pass on T2 instances, confirmed details [here](https://gist.github.com/HamidShojanazeri/edf0f1629adc43ec40fb1079f8e3f034).

[2022-01-06 17:44] ianholing commented on #70523
@sanchitintel maybe you are a bit confused cause if you have not enough RAM in the machine, the script will finish with a "Killed" that looks like a problem but it is a usual OOM which you could see using dmesg.

When the real bug appears, the return is a segmentation fault.

[2022-01-06 17:53] cpuhrsch commented on #70674
I think raising an error, like we do for max, is the right approach here. Are there any downsides to that?

[2022-01-06 17:59] surak opened #70931 "Redefinition of `cub` namespace misses Debug"
### 🐛 Describe the bug

While compiling PyTorch 1.10.1 from source with CUDA 11.5 and GCC 11.2.0, I get these errors

[code]

### Versions

We build all software for the JUWELS BOOSTER supercomputer (#8 in the world) from source once a year. For this year's stage, we settled with GCC 11.2.0 and CUDA 11.5 - the current version of PyTorch as of Jan 2021 is 1.10.1, so this is the one I'm attemping. T

[2022-01-06 18:00] cpuhrsch commented on #70926
I think this looks good. Other PyTorch factory functions also have options for dtype, device, etc. Is that something we might want here as well?

For example

[code]

So we could have
[code]

[2022-01-06 18:12] seemethere commented on #70868
This is now resolved and queue has returned to normal, closing.

[2022-01-06 18:12] #70868 closed

[2022-01-06 18:58] Varal7 opened #70940 "ThreadLocalState::setThreadLocalState is not setting the "enabled" flag of SavedTensorDefaultHooks"
### 🐛 Describe the bug

When exiting the TLSGuard, the TLS is restored for SavedTensorDefaultHooks at https://github.com/pytorch/pytorch/blob/698c35e74364d387fc0f8b1f915d0d7bc8dfad63/aten/src/ATen/ThreadLocalState.cpp#L39-L41

However, the `SavedTensorDefaultHooks::enabled` flag is not set. Is this going to be a problem?

### Versions

master

[2022-01-06 19:51] ngimel commented on #70931
Pytorch 1.10 doesn't support cuda 11.5, that support was added later.

[2022-01-06 19:57] seemethere commented on #66462
We'd happily accept a PR for this change!

[2022-01-06 20:04] vadimkantorov commented on #70923
Related: https://github.com/pytorch/pytorch/issues/9190, https://github.com/pytorch/pytorch/pull/62084 (fixing this probably)

[2022-01-06 20:11] suo opened #70947 "DISABLED test_multiple_dataloaders (__main__.TestDataLoaderPersistentWorkers)"
This test was disabled because it is failing on master ([recent examples](http://torch-ci.com/failure/test_multiple_dataloaders%2C%20TestDataLoaderPersistentWorkers)).

cc @SsnL @VitalyFedyunin @ejguan @NivekT

[2022-01-06 20:13] agusavior commented on #67669
I'm using python 3.9 and I get this error

[2022-01-06 20:23] dzarukin commented on #70523
Hi @ianholing @jbschlosser!
Would it be possible to enable DNNL_VERBOSE=1 through env var, run the case and provide its output in case of segfault here, please?
That would help a lot to investigate the issue on oneDNN side. Thank you!

[2022-01-06 20:31] jbschlosser commented on #70523
cc @HamidShojanazeri who has been investigating this on both instance types

[2022-01-06 20:57] rgommers commented on #70915
Thanks @pmeier. I think this is fairly low prio to fix, but a sensible and useful design change in its own right (for the same reason empty tensor / empty batchdim etc. are useful) so we should change it.

[2022-01-06 21:38] #65396 closed

[2022-01-06 22:11] rgommers commented on #70922
`sort` does have this keyword and algorithm, and `argsort` just returns the second return value of `sort` - so this should be low-hanging fruit.

[2022-01-06 22:13] rgommers commented on #70921
Let's not treat this separately. This is yet another instance of functions returning `torch.return_types` instances. I'd say let's wait for the discussion in gh-58745 (for `min`/`max`).

[2022-01-06 22:26] #56767 closed

[2022-01-06 22:59] xwang233 commented on #70701
Can reproduce. Shorter repro:

[code]

[2022-01-06 23:08] stas00 opened #70951 "A diagnostics mode to report when constraints aren't being met for optimal performance"
### 🚀 The feature, motivation and pitch

As its known CUDA has all kinds of constraints for certain optimizations to kick in. Often it's not obvious when such constraints aren't met and a user ends up with pretty bad performance and they are not the wiser.

---------------

Let's start with a use-case of **a very not obvious** problem.

I've done multiple benchmarks for [A100](https://github.com/h

[2022-01-06 23:22] jbschlosser commented on #11578
FYI update on this: I've added a test parametrization mechanism that *is* compatible with the testing infrastructure in PyTorch core. It was designed to operate in a very similar way to `@pytest.parametrize`. See the `@parametrize` decorator defined [here](https://github.com/pytorch/pytorch/blob/b7742b437accdc1068f739c16f685970537f158a/torch/testing/_internal/common_utils.py#L229-L279) for documen

[2022-01-06 23:32] jxtps opened #70954 "Training grouped Conv2D is slow"
### 🐛 Describe the bug

Grouped convolutions should reduce the flops by dividing by the number of groups => ought to lead to massive speedup in training. This speedup however fails to materialize.

[code]
Produces:
[code]
**Training GROUPED "should" take REGULAR / 8 ~= 2-3 seconds, but actually takes 16-17 seconds.**

Is there a fundamental limitation (e.g. memory speed limited, not GPU flops limi

[2022-01-06 23:46] eqy commented on #70951
In this case it is more likely that larger batch sizes amortize overheads in the optimizer and non-GEMM parts of the model. It would be great if performance differences could be root-caused to singular constraints, but here the answer is likely to be more complex. For example, if the optimizer is slow relative to the forward/backward pass, this can mask any efficiency improvements from reduced pre

[2022-01-06 23:51] TestSomething22 commented on #70675
@albanD Yes, I think it should raise an error since the index is out of bound

[2022-01-07 00:00] sanchitintel commented on #70523
Thanks for the confirmation, @HamidShojanazeri!
I had misread the AWS instance description on the AWS website

[2022-01-07 00:19] albanD commented on #70675
Ok! We would accept a PR fixing the boundary check.

Out of curiosity, does the same thing happens on GPU?

[2022-01-07 00:26] stas00 commented on #70951
But how do you explain that the same setup on RTX-3090 doesn't have that issue? Surely if it's top level software related we should have seen the same relative problem with the other card.

Given that at bs=16 things rectify you don't think it has to do with the magical 16x constraint?

But then this benchmark: Benchmark 5: gpt2-medium uses BS=8 and it doesn't have this problem:

| Variation

[2022-01-07 00:29] albanD commented on #70674
Error sounds good to me as well!
Is the behavior the same on CUDA?

[2022-01-07 00:48] TestSomething22 commented on #70675
On GPU, it will raise an error that "RuntimeError: CUDA error: device-side assert triggered". I think this error message is not clear enough.

[2022-01-07 00:49] TestSomething22 commented on #70674
On CUDA, it will trigger an error "RuntimeError: CUDA error: device-side assert triggered", same as `index_select`.

[2022-01-07 01:00] dimikout3 commented on #23475
I am currently having a hard time to fully understand and use the `torch.autograd.functional.jacobian(vectorized=True`

I want to implement a batched jacobian like:

[code]
Can anyone please provide a more efficient approach (for-loop requires a lot of time ...).
Thanks in advance!

[2022-01-07 01:13] Jasha10 opened #70959 "`_dp_init_subclass` fails on `typing.Annotated`"
### 🐛 Describe the bug

Runtime type checking performed by e.g. `IterableDataset` fails when `typing.Annotated` is used. Here is an example of code that fails:
[code]
Output:
[code]

### Versions

PyTorch version: 1.10.1
Is debug build: False
CUDA used to build PyTorch: 11.3
ROCM used to build PyTorch: N/A

OS: Ubuntu 18.04.6 LTS (x86_64)
GCC version: (Ubuntu 7.5.0-3ubuntu1~18.04) 7.5.0
Clang vers

[2022-01-07 01:21] eqy commented on #70951
I'm not sure we would expect the same bottlenecks to materialize in the same way across 3090 and A100 given that they have different ratios of compute (FLOPs) to memory bandwidth. This situation becomes even more complex when we consider TF32, as A100 (with its already higher FLOPs/bandwidth ratio relative to 3090 becomes even more skewed that way).

Due to T5-Large being a bigger model, it looks

[2022-01-07 01:34] #47583 closed

[2022-01-07 03:00] krshrimali commented on #70926
Good point, @cpuhrsch! IMO, yes - those arguments are something we should add here as well. These are also there in [`torch.sparse_csr_tensor`](https://pytorch.org/docs/stable/generated/torch.sparse_csr_tensor.html). I'll update the signature in the description. Thank you!

[2022-01-07 03:03] weirdyang commented on #16417
RuntimeError: CUDA out of memory. Tried to allocate 2.00 MiB (GPU 0; 4.00 GiB total capacity; 2.67 GiB already allocated; 0 bytes free; 2.86 GiB reserved in total by PyTorch) If reserved memory is >> allocated memory try setting max_split_size_mb to avoid fragmentation.  See documentation for Memory Management and PYTORCH_CUDA_ALLOC_CONF

I'm getting the same error with the batch size at 1. What e

[2022-01-07 03:27] oriondollar commented on #22400
just checking in. any updates or plans to work on this?

[2022-01-07 03:40] suo commented on #68903
cc @eellison, @Krovatkin can you take a look?

[2022-01-07 03:43] suo opened #70968 "DISABLED test_no_segfault (__main__.TestDataLoaderPersistentWorkers)"
This test was disabled because it is failing on master ([recent examples](http://torch-ci.com/failure/test_no_segfault%2C%20TestDataLoaderPersistentWorkers)).

cc @SsnL @VitalyFedyunin @ejguan @NivekT

[2022-01-07 03:44] #65452 closed

[2022-01-07 04:15] suo opened #70969 "fx2trt tests not running?"
I'm trying to piece together what is going on with our fx2trt tests. As far as I can tell, https://github.com/pytorch/pytorch/pull/70203 implemented an entirely separate job config with no sharding that runs all our tests, but DOESN'T run fx2trt tests.

Here is an example recent job from master: https://github.com/pytorch/pytorch/runs/4732473836?check_suite_focus=true. If you search the raw logs,

[2022-01-07 04:17] ngimel commented on #70951
Related #55655. cc @bitfort, @robieta, this is related to torch tidy that we are planning.

[2022-01-07 04:17] suo commented on #70969
Also the second diff was not reviewed in GitHub or by anyone who is marked as a CI owner, despite purporting to affect how we run all linux gpu jobs. cc @houseroad and @wushirong what's going on here?

[2022-01-07 04:24] ngimel commented on #70954
Yes, for grouped convolutions the bottleneck is shifted to bw-limited, and not compute-limited.

[2022-01-07 04:28] stas00 commented on #70951
Thank you for the link to the pre-existing proposal, @ngimel!

Yes, very similar to @ezyang's proposal and yes, to be enabled by the user explicitly so that there is no worrying about the possible slowdown for the production use.

Please let me know if I should close this issue if the one you linked to is already covering all the bases. Here I'm just giving more concrete examples that we could use

[2022-01-07 04:30] janeyx99 commented on #70969
The very first PR seemed to do the right thing where it adds a fx2trt config that runs for 1m50s and the tests are not run in the shards.
https://hud.pytorch.org/pr/pytorch/pytorch/70203

The second PR does not actually remove the config nor does it actually enable the fx2trt tests because of this line from the first PR
https://github.com/pytorch/pytorch/pull/70203/files#diff-e72503c9e3e8766e2d1ba

[2022-01-07 04:33] stas00 opened #70970 "argmin/argmax incorrect doc for the first form"
### 📚 The doc issue

The first half of the doc appears to be incorrect here: https://pytorch.org/docs/stable/generated/torch.argmax.html

If I'm not mistaken:

1. It should be `s/indices/index/` everywhere as the first form returns a single global index.
2. And it's not the second value returned by `torch.max()`, because the latter in this form returns only one value and it's not the index

The ex

[2022-01-07 04:34] suo commented on #70969
whatever logic the first PR had to gate the execution of tests in the fx2trt config is broken, so we should revert that as well if we can't get a fix tomorrow

[2022-01-07 04:42] ngimel commented on #70951
Having concrete examples of what performance recommendations would be useful is always great, so thank you for this issue! Let's leave it open for now.

[2022-01-07 04:45] janeyx99 commented on #70969
Oh this is wack.

The committed changes for the first PR do NOT match up with the intended changes in the diff. Namely, the fx2trt changes in test.sh are completely missing https://github.com/pytorch/pytorch/commit/31c7e5d62936a41db2758d2786b6e77dff35327c

[2022-01-07 04:52] suo commented on #70969
Bisecting manually, it looks like: https://github.com/pytorch/pytorch/commit/066c9ff08f49acb9763381e4bdee6185dfc61871  runs all the tests, but https://github.com/pytorch/pytorch/commit/5e113eb24d7ab8aea63c01eed0cb173e1fd690e5 doesn't. I'll dig further later

[2022-01-07 04:54] #68362 closed

[2022-01-07 04:56] janeyx99 commented on #70969
@suo I'm okay with either
1. get rid of special config and run tests on all existing jobs
2. use special config and gate the jobs correctly

I think #1 makes more sense and is simpler in this situation.

[2022-01-07 05:18] viraatdas commented on #63265
Hey @Sirish07 wondering what your progress on this is? Interested in seeing if I can provide any assistance to get this done as well.

[2022-01-07 05:21] TestSomething22 opened #70972 "Error in `Tensor.triu` and `Tensor.tril` documentation"
### 📚 The doc issue

In the [documentation](https://pytorch.org/docs/stable/generated/torch.Tensor.triu.html?highlight=triu#torch.Tensor.triu) of `Tensor.triu`, the signature of it is `Tensor.triu(k=0)`. However, when I call this API

[code]

So it should be `diagonal` instead of `k`.

`Tensor.tril` has the same problem.

### Suggest a potential alternative/fix

_No response_

[2022-01-07 05:27] kshitij12345 commented on #60585
Oops! Had incorrectly marked the PR with Fixes

[2022-01-07 06:48] TestSomething22 opened #70975 "Error in `Tensor.ravel` documentation"
### 🐛 Describe the bug

In the [documentation](https://pytorch.org/docs/stable/generated/torch.Tensor.ravel.html?highlight=ravel#torch.Tensor.ravel) of `Tensor.ravel`, "Tensor.ravel(input) → Tensor". But `Tensor.ravel` does not need any argument

[code]

### Versions

It should be "Tensor.ravel() → Tensor"

cc @brianjo @mruberry

[2022-01-07 07:36] suo opened #70976 "DISABLED test_sampler (__main__.TestDataLoaderPersistentWorkers)"
This test was disabled because it is failing on master ([recent examples](http://torch-ci.com/failure/test_sampler%2C%20TestDataLoaderPersistentWorkers)).

cc @SsnL @VitalyFedyunin @ejguan @NivekT

[2022-01-07 07:50] rgommers commented on #70923
Agreed, it's the same as gh-9190. Let's close this as a duplicate. I'll move the label to gh-9190. Thanks @pmeier, @vadimkantorov.

[2022-01-07 07:50] #70923 closed

[2022-01-07 07:54] rgommers commented on #64161
This is a duplicate of gh-9190, which has much more context.

[2022-01-07 07:58] kuizhiqing commented on #70041
For short, it's the `start method` which produces the `unexpected` behavior.

1. `mp.set_start_method('fork')` may work as expected, which means it achieve consistency literally even with `tensor.share_memory_()`, all resources of the parent process are inherited in `fork` mode.
2. Alternatively, the child process will only inherit necessary resources to run with in `spawn` mode.

p.s. shared mode

[2022-01-07 08:36] IvanYashchuk commented on #70926
It's not a factory function, it's a regular PyTorch operation with Tensor in - Tensor out. Let's take a look at similar functions from `torch` namespace:

- `torch.diagflat(input, offset=0) → Tensor`
- `torch.diag_embed(input, offset=0, dim1=- 2, dim2=- 1) → Tensor`
- `torch.diagonal(input, offset=0, dim1=0, dim2=1) → Tensor`

They take an existing Tensor and dtype, device, requires_grad should be

[2022-01-07 09:59] mszhanyi commented on #64154
@malfet @seemethere @janeyx99
I think CI shouldn't be broken by sccache errors like below.
https://app.circleci.com/pipelines/github/pytorch/pytorch/433160/workflows/a42a6a9e-479b-4805-a167-5dd8049753a5/jobs/16910060?invite=true#step-104-3423.

It's inevitable that there's connection issue at some time.
For sccache server, It only means that it fails to get the cache.
Then, it should run compilati

[2022-01-07 10:07] pmeier commented on #70904
This comes down to [undefined behavior](https://en.cppreference.com/w/cpp/language/operator_arithmetic):

Given that the kernel implementation is the same for CPU

https://github.com/pytorch/pytorch/blob/b10381f42db8ff259a370b6444faf641e58196a3/aten/src/ATen/native/cpu/BinaryOpsKernel.cpp#L350

and CUDA

https://github.com/pytorch/pytorch/blob/84326ef059cd1b321e37d13de8717cef26ab5e38/aten/src/ATen

[2022-01-07 10:23] nateanl commented on #70073
@peterbell10 After verifying the case with `center=True`, the signal excluded is indeed from the padding signal. Thanks for mentioning it.
The reason why the signal is shorter than the original one is the `length` argument is not given, hence `n_fft // 2`` signals are truncated from both sides of the inverted waveform. Since some padding samples are excluded, that will cause a signal loss.

So in

[2022-01-07 10:23] Zhaopudark commented on #70931
The same bug also occurs when I compiling PyTorch 1.10.1 from source with CUDA 11.5 and MSVC 14.29.30133

[2022-01-07 11:27] surak commented on #70931
So, this is the refactoring patch: https://github.com/pytorch/pytorch/pull/66219

[2022-01-07 11:34] surak commented on #70931
@ngimel thanks for someone finally giving some light on this. Is there a timeline for a new release with such changes applied? Currently I am going over all the source code and applying the patches from https://github.com/pytorch/pytorch/commit/b8dfb45ac282a48764c192ac7d27b7d80eed8b2b

[2022-01-07 11:42] tvercaut commented on #61788
@cpuhrsch I am using PyTorch 1.10 which from the [release notes](https://github.com/pytorch/pytorch/releases/tag/v1.10.0) includes the improvement you refer to in https://github.com/pytorch/pytorch/issues/61788#issuecomment-908538796 but am still facing performance issues with index_select on sparse tensors.

For sake of comparison, I tried the implementation from [torch_sparse](https://github.com

[2022-01-07 11:46] surak commented on #70931
https://github.com/pytorch/pytorch/pull/70983

[2022-01-07 13:00] Lezcano commented on #70702
I got an error that could be related to this one in one of my PRs. This error is completely unrelated to the PR itself so it looks like it's one of those Heisenbugs:
https://github.com/pytorch/pytorch/runs/4737438116?check_suite_focus=true

[2022-01-07 13:14] almarri0 opened #70984 "ModuleNotFoundError: No module named 'torch.nn.modules.instancenorm'"
### 🐛 Describe the bug

I have been experiencing this error for sometime and I can't understand how it happens, but when I import torch or import torchvision I keep on getting this error, the only way to get around it is to do a clean uninstall to conda and install it again, along with creating the environments all over again and installing their each library respectively,

`>>> import torch
Trace

[2022-01-07 13:17] 7zhanghao opened #70985 "Gather tensor in different gpu"
### 🐛 Describe the bug

It seems that dist.all_gather can only be used when tensors in different gpu have the same size. What should i do if they not?
`a = torch.ones(2)`
`b = torch.ones(3)`
`tensor_list = [torch.zeros_like(a), torch.zeros_like(b)]`
`tensor`
`tensor([1,2]) #Rank 1`
`tensor([1,2,3]) #Rank 2`
`dist.all_gather(tensor_list, tensor)`
`Runtime error: All tensor operands to scatter/gathe

[2022-01-07 14:24] vadimkantorov commented on #70972
It would be nice to have examples in docs runnable as smoke tests...

[2022-01-07 14:34] ejguan commented on #70959
Thanks for submitting the issue. Confirm this is a bug, and a fix has landed into master. Could you please use nightly release to bypass it?

[2022-01-07 14:36] vadimkantorov commented on #70920
if zero counts are accepted, unique_counts should be equivalent to bincount/histc? (it would also be nice for them to support batched execution)

[2022-01-07 14:37] albanD commented on #70904
Interesting UB. Note that numpy does return 0 consistently so we want to do something similar to https://github.com/numpy/numpy/blob/d850fc9c47ec1399be64eb716e2731b2270c66be/numpy/core/src/umath/loops.c.src#L652-L660

[2022-01-07 14:54] jaketae commented on #68978
I would like to take a jab at this if no one hasn't already!

Before I open a PR, I'd like to discuss a few proposals.

1. Convenient edge-casing

We can simply edge case `ReduceLROnPlateau` in `SequentialLR.step()` function. The step function should be able to take an optional argument `metrics` and will pass that argument to the scheduler if it is an instance of `ReduceLROnPlateau`.

- Pros: Eas

[2022-01-07 15:01] Lezcano commented on #70972
That's indeed an errata. We would accept a PR with a fix for this and https://github.com/pytorch/pytorch/issues/70975 and any other problem / inconsistency you find while fixing these :)

[2022-01-07 15:09] yajivunev commented on #10043
Hello @weiyangfb !
I am training a model with a custom loss function which involves sparse tensors being created.

Specifically, in the forward pass of the loss function:
I `ravel` my prediction and labels arrays, `stack `them, and use them as indices to create a  `sparse_coo_tensor`, with the values as `ones` and shape given by `[(torch.amax(raveled_labels) + 1,(torch.amax(raveled_pred) + 1]`. I

[2022-01-07 15:16] binfoo1993 opened #70992 "The strides of input_grad tensor of backward function of torch::autograd::Function<> of torch's C++ API."
### 🐛 Describe the bug

Hi, I am defining a customized op using torchscript's API.

I found the input grad tensor's strides seem to be wrong.

The following code:
[code]
Output:
[code]

So, I am wondering is this a bug or not. But when I print the strides of a copy of the input_grad tensor:
[code]
Output:
[code]
I think this result should be correct.

I need to convert the input_grad tensor to Dlp

[2022-01-07 15:31] kinestetika opened #70994 "no wheel for Python 3.10.1"
### 🐛 Describe the bug

"pip install torch" does not work with python 3.10,1:

(python-env) [kinestetika@ghost python-env]$ python --version
Python 3.10.1
(python-env) [kinestetika@ghost python-env]$ pip install torch
ERROR: Could not find a version that satisfies the requirement torch (from versions: none)
ERROR: No matching distribution found for torch

### Versions

(python-env) [kinestetika@gh

[2022-01-07 15:32] lithuak opened #70995 "Rewrite tests in test_nn to not depend on LAPACK"
### 🚀 The feature, motivation and pitch

Several tests in `test/test_nn.py` depend on pytorch to be compiled with LAPACK support.

These tests should be rewritten using a set of functions not depending on LAPACK so that they can be run in any configuration, and the temporary `@skipIfNoLapack` should be removed for rewritten tests.

The tests in question are:

- [ ] test_register_and_remove_paramet

[2022-01-07 15:42] Lezcano commented on #70995
I deleted the `orthogonal_*` tests, as those are expected to depend on LAPACK. The others we should indeed change. A possible change could be to have two parametrisations, one that makes the matrix symmetric via `A -> A + A.T`, and another one that makes it have positive entries `A -> A * A`.

[2022-01-07 15:47] mruberry commented on #70995
If the tests are testing something useful then it's OK if they have a LAPACK dependency, but yes the tests should specify their dependencies properly so they're not run on systems we expect them to fail on.

[2022-01-07 15:49] Lezcano commented on #70995
Fwiw, I wrote those tests, and no, they do not need to depend on LAPACK. It was an oversight from my side when I wrote them.

[2022-01-07 15:59] #70992 closed

[2022-01-07 16:16] Luthaf commented on #65000
The issue is fixed for me with the latest nightly (torch-1.11.0.dev20220107)

[2022-01-07 16:20] aflah02 commented on #67680
I think he did based on this (https://github.com/pytorch/pytorch/issues/67680#issuecomment-974400702) and was sharing his fix

[2022-01-07 16:27] jamesjohnson1025 commented on #69911
I am using Arch Linux, please provide clean path. I am in the middle of pytorch course and completely stuck @ejguan .

[2022-01-07 16:31] ejguan commented on #69911
Could you downgrade your Python to 3.9? The plan for next PyTorch release is coming but it takes some time. So, to bypass it right now, downgrading python is the easiest approach.

[2022-01-07 16:38] #67112 closed

[2022-01-07 16:45] trougnouf commented on #69911
I don't think downgrading python is an option nor that it's easy. Every program and library (including python ones) are neatly packaged and there are countless packages depending on python, it would be hell.

I'm also stuck out of my research without working PyTorch. I think the easiest path is to install the git version from aur. (I had it working for a while but I messed with it and I'm getting

[2022-01-07 16:46] jaketae commented on #68058
Given `lr`, the learning rate of the optimizer, and `delta = lr * (end_factor - start_factor) / total_iters`, I think we can write the formula (in code) as `lr[i] = start_factor * lr + delta * I`.

Would this be helpful to have in the docs?

[2022-01-07 16:51] jaketae commented on #69841
Is this the culprit?

https://github.com/pytorch/pytorch/blob/2378421340e5aec0033d564be7b706e8f903b146/torch/optim/lr_scheduler.py#L1315

My hunch is to `int` cast it. If that seems reasonable to you, I'll open a PR with the fix!

[2022-01-07 16:53] ejguan commented on #69911
It's gonna be a rabbit hole to debate on it. IMHO, Forward compatibility is never an easy question especially when we have zero control on how Python evolves. It does take sometime for us to make sure PyTorch is fully compatible with Python 3.10. Like I said, we are going to do another release 1.11 to support Python 3.10. It's not just the problem of a single patch, it takes a lot of hurdles to te

[2022-01-07 16:57] ejguan commented on #69911
Note: IIRC, a RC branch should be released in the coming month.

[2022-01-07 17:00] kosiokarchev commented on #69911
FWIW, I "fixed" this by editing `utils/data/_typing.py` lines 24-28 to define simply
[code]
and things seem to be fine although I haven't tested systematically.

[2022-01-07 17:07] jaketae commented on #69841
Hello @albanD, I'm wondering this is the expected behavior for `CosineAnnealingWarmRestarts `. Below is the example from the [docs](https://pytorch.org/docs/stable/generated/torch.optim.lr_scheduler.CosineAnnealingWarmRestarts.html#torch.optim.lr_scheduler.CosineAnnealingWarmRestarts):

[code]

I think `self.last_epoch` is always an `int`, but the `epoch` argument that is passed into `step()` coul

[2022-01-07 17:12] janeyx99 commented on #64154
@mszhanyi Just also linking over the issue we have that tracks the sccache issues in non-nightly CI https://github.com/pytorch/pytorch/issues/67720. This should also be fixed if the fixes you submit to sccache are correct, yes?

[2022-01-07 17:25] #66203 closed

[2022-01-07 17:26] trougnouf commented on #69911
That does the job here :)

[2022-01-07 17:32] SohrabAndaz opened #71002 "Torch RNN allocating memory on the wrong GPU device during forward pass"
### 🐛 Describe the bug

Pretty simple issue here. When I run the code below and I check GPU memory utilization, I can see that I have memory allocated on both GPU `device2` but also `device0`.

[code]

Using `nvidia-smi` you can see the memory being allocated

[code]

I'm using the latest version of Torch (1.10.1). I also traced this and it looks like it's coming from the `torch._C._VariableFuncti

[2022-01-07 17:32] ngimel commented on #70931
There should not be an expectation that a particular cuda version that was released after a particular pytorch version can be used to compile that pytorch version. Cuda 11.5 was released after pytorch 1.10, and cuda toolkit is not semantically versioned (some of the libraries that come with it are, but cuda toolkit as a whole isn't). Moreover, compiling pytorch with any cuda version other than wha