[2019-03-16 04:13] vishwakftw commented on #18095
FTR, this actually works for the `flip` method, but not the function

[code]

[2019-03-16 05:47] Roulbac opened #18096 "[feature request] __getbatch__ for dataset to use with dataloader"
Dataloader call __getitem__ as many times as indices in the current batch.
In case datasets support a list of indices in one call, or a native python slice object, add a __getbatch__ (optional) to pytorch dataset class.
If dataloader sees the dataset has such a method implemented, make it fetch the batch corresping to the list of indices with one __getbatch__ call rather than many __getitem__ call

[2019-03-16 06:10] SsnL commented on #18096
#14705 will support something similar

[2019-03-16 06:16] aimran-adroll commented on #15272
nvm. I picked up the nightly and `nn.LSTM` is supported by jit now. Sorry for the noise

[2019-03-16 06:32] jaideep11061982 commented on #16207
how torch.nn.Parameter(F.normalize(self.pred.weight) )

[2019-03-16 07:49] lamnguyen95 commented on #4827
Turns out that was version mismatch of installed plugins.

I used "conda install" command provided on the plugin page to check the exact version strings of the dependencies and then downloaded them one by one.

[2019-03-16 09:48] magnusjacobsen commented on #16996
on 1.0.1, pylint claims *torch.tensor() is not callable*
![Untitled](https://user-images.githubusercontent.com/33226525/54473504-05113580-47d9-11e9-83ec-6e3ab006827f.png)

[2019-03-16 10:16] RedCarrottt opened #18101 "Android NNAPI support of Caffe2"
## ❓ Questions and Help
I want to run my nerual network model on Android mobile phone with Snapdragon DSP or Huawei NPU.

As I know, Android NNAPI supports vendor-specific drivers, including drivers for Snapdragon DSP or Huwaei NPU.

I saw some code supporting NNAPI for Android phone in Caffe2.
* [nnapi.h](https://github.com/pytorch/pytorch/blob/master/caffe2/mobile/contrib/nnapi/nnapi.h)

However

[2019-03-16 12:14] kamathhrishi opened #18103 "Check if Two torch tensors are equal within a range."
## 🚀 Feature
A torch function which checks if two tensors are equal within a range.

## Motivation

This is especially useful when you are trying to compare two torch tensors and you want to ignore extra precision by one tensor. While , I am aware torch.isclose() and torch.allclose() exist. They don't exactly do a great job for say a use case like this

`torch.isclose(torch.Tensor([1]), torch.Tens

[2019-03-16 12:20] #18103 closed

[2019-03-16 12:42] KosmonautX opened #18104 "torch.load() pickle.UnpicklingError: pickle data was truncated"
## 🐛 Bug

I am trying to load my monodatasets for XLM and am stumped with this pickle data issue. I have attempted to pass various arguments including expression ascii, latin1 and utf-8
` data = torch.load(path)
  File "\lib\site-packages\torch\serialization.py", line 358, in load
    return _load(f, map_location, pickle_module)
  File "\lib\site-packages\torch\serialization.py", line 532, in _loa

[2019-03-16 14:20] peterjc123 commented on #18104
If this is a model trained from a machine with other OS, then please try setting the argument `long_size=8`.

[2019-03-16 14:35] KosmonautX commented on #18104
Hmm I have not. Where do I pass this argument, to the pickle_module I don't
think that argument is parsed there?

On Sat, 16 Mar 2019, 22:21 peterjc123 <notifications@github.com wrote:

[2019-03-16 15:14] peterjc123 commented on #18104
torch.load

[2019-03-16 15:40] jacobrgardner opened #18105 "torch.gesv segfaults with mismatched arg devices"
## 🐛 Bug

`torch.gesv` segfaults if its arguments are on different devices.

## To Reproduce
[code]
results in `[1]    14965 segmentation fault (core dumped)  python gesv_bug.py`
## Expected behavior
raise a `RuntimeError` that the types of `v` and `M` didn't match (e.g. `torch.cuda.FloatTensor` vs `torch.FloatTensor`).

## Environment
[code]

[2019-03-16 16:08] Ajk4 commented on #16996
On torch 1.0.1 on Windows I don't see `torch.nn` package. When ran code works just fine

<img width="286" alt="torch_nn" src="https://user-images.githubusercontent.com/2959412/54478023-1b85b400-480e-11e9-8d9d-2ddead7a0f92.png">

[2019-03-16 17:06] KosmonautX commented on #18104
Parameters:

   - f – a file-like object (has to implement read, readline, tell, and
   seek), or a string containing a file name
   - map_location – a function, torch.device, string or a dict specifying
   how to remap storage locations
   - pickle_module – module used for unpickling metadata and objects (has
   to match the pickle_module used to serialize

These are the parameters for the torch.

[2019-03-16 18:04] peterjc123 commented on #18104
Sorry, I messed it up. Now would you please try if pickle/unpickle using a higher protocol (e.g. 4) works.

[2019-03-16 18:51] KosmonautX commented on #18104
hey no issues i am grateful for you attempting to help a confused soul, i
just changed the DEFAULT_PROTOCOL =4 in the serialization.py file as well
as a permutation of changing long_size to =8
   magic_number = pickle_module.load(f)
_pickle.UnpicklingError: pickle data was truncated
still the same error though :(

On Sun, Mar 17, 2019 at 2:04 AM peterjc123 <notifications@github.com> wrote:

[2019-03-16 19:24] zasdfgbnm opened #18106 "copy.copy not working for ScriptModule"
The following code does not work

[code]

Error message:
[code]

Related: https://github.com/pytorch/pytorch/issues/17422

[2019-03-16 23:22] vadimkantorov commented on #4954
@vishwakftw Could you please label this as `documentation`? Thanks!

[2019-03-17 00:13] JerryShih commented on #17992
I will try to use docker with 18.04 env in Monday.

[2019-03-17 01:04] paulcx opened #18108 "Is mkl-dnn enabled in the latest binary distribution v1.0.1?"
For example, does the latest install wheel 'https://download.pytorch.org/whl/cpu/torch-1.0.1.post2-cp35-cp35m-linux_x86_64.whl' have mkl-dnn integration?

If so, how to verify the mkl-dnn installation without benchmark?

[2019-03-17 02:59] vishwakftw commented on #18105
Thank you for the report, I’ll fix this as soon as I can.

[2019-03-17 03:25] freewym opened #18110 "nn.LSTM gives nondeterministic results with dropout and multiple layers"
## 🐛 Bug

I got non-deterministic results when I run my model with nn.LSTM with its dropout > 0 on GPU,  even when I seeded everything and torch.backends.cudnn.deterministic = True. Also, if I set torch.backends.cudnn.enabled = False, the results are deterministic.

## To Reproduce

Steps to reproduce the behavior:

1. torch.backends.cudnn.deterministic = True
    random.seed(1)
    torch.manual_s

[2019-03-17 04:46] peterjc123 commented on #18104
Where is the model from? Please try the following.
1. If it is your own model, you'll have to save it again using the pickle protocol 4.
2. If it is downloaded from other sites and it was trained on a different OS, then you'll need to load and save the model again using the pickle protocol 4 on the same OS it was trained. Make sure you have a newer Python version because pickle is not backward-com

[2019-03-17 08:28] yougoforward opened #18111 "RuntimeError: derivative for to_sparse is not implemented"
When using to_sparse().requires_grad_(True) to tensor with .requires_grad_(False), it behaves just like the official example   "https://pytorch.org/docs/stable/sparse.html?highlight=sparse"
. But when I use  it in a network (in training phase) to tensor with .requires_grad_(True), it report "RuntimeError: derivative for to_sparse is not implemented" in backward. When  I use torch.sparse.Floattenso

[2019-03-17 08:32] danFromTelAviv commented on #17714
I tried to reinstall on a fresh image to see if maybe there was some files laying around that are messing with the install. Its still really slow.

[2019-03-17 08:32] yougoforward commented on #18111
sorry, the last few word are lost.

a = torch.randn(2, 3).requires_grad_(False).to_sparse().requires_grad_(True)
a
tensor(indices=tensor([[0, 0, 0, 1, 1, 1],
                       [0, 1, 2, 0, 1, 2]]),
       values=tensor([-1.6929, -0.6308,  1.0252,  1.2527,  0.9184,  1.7817]),
       size=(2, 3), nnz=6, layout=torch.sparse_coo, requires_grad=True)
a = torch.randn(2, 3).requires_grad_(True).to_s

[2019-03-17 08:33] yougoforward commented on #18111
sorry, the last few words are lost.
a = torch.randn(2, 3).requires_grad_(True).to_sparse().requires_grad_(True)
a
tensor(indices=tensor([[0, 0, 0, 1, 1, 1],
                       [0, 1, 2, 0, 1, 2]]),
       values=tensor([ 0.3564,  1.5703,  1.2693, -0.4577,  0.7191, -1.0451]),
       size=(2, 3), nnz=6, layout=torch.sparse_coo, grad_fn=<NotImplemented>)

[2019-03-17 08:34] yougoforward commented on #18111
sorry, the last few word are omitted.
a = torch.randn(2, 3).requires_grad_(False).to_sparse().requires_grad_(True)
a
tensor(indices=tensor([[0, 0, 0, 1, 1, 1],
                       [0, 1, 2, 0, 1, 2]]),
       values=tensor([-1.6929, -0.6308,  1.0252,  1.2527,  0.9184,  1.7817]),
       size=(2, 3), nnz=6, layout=torch.sparse_coo, requires_grad=True)
a = torch.randn(2, 3).requires_grad_(True).to

[2019-03-17 08:36] yougoforward commented on #18111
sorry, the last few word are omitted.
a = torch.randn(2, 3).requires_grad_(False).to_sparse().requires_grad_(True)
a
tensor(indices=tensor([[0, 0, 0, 1, 1, 1],
[0, 1, 2, 0, 1, 2]]),
values=tensor([-1.6929, -0.6308, 1.0252, 1.2527, 0.9184, 1.7817]),
size=(2, 3), nnz=6, layout=torch.sparse_coo, requires_grad=True)
a = torch.randn(2, 3).requires_grad_(True).to_sparse().requires_grad_(True)
a
tensor(i

[2019-03-17 08:36] yougoforward commented on #18111
<a = torch.randn(2, 3).requires_grad_(False).to_sparse().requires_grad_(True)
a
tensor(indices=tensor([[0, 0, 0, 1, 1, 1],
[0, 1, 2, 0, 1, 2]]),
values=tensor([-1.6929, -0.6308, 1.0252, 1.2527, 0.9184, 1.7817]),
size=(2, 3), nnz=6, layout=torch.sparse_coo, requires_grad=True)
a = torch.randn(2, 3).requires_grad_(True).to_sparse().requires_grad_(True)
a
tensor(indices=tensor([[0, 0, 0, 1, 1, 1],
[0

[2019-03-17 10:05] yougoforward commented on #18111
Sorry, the last few words are omitted

a = torch.randn(2, 3).requires_grad_(False).to_sparse().requires_grad_(True)
a
tensor(indices=tensor([[0, 0, 0, 1, 1, 1],
[0, 1, 2, 0, 1, 2]]),
values=tensor([-1.6929, -0.6308, 1.0252, 1.2527, 0.9184, 1.7817]),
size=(2, 3), nnz=6, layout=torch.sparse_coo, requires_grad=True)
a = torch.randn(2, 3).requires_grad_(True).to_sparse().requires_grad_(True)
a
tensor(

[2019-03-17 13:11] Olloxan commented on #16831
Hi, I get this error, when I want to call the .cuda() method on a network which contains a GRU. I have a Windows system with Pytorch 1.0.1, CUDA 10 and cudnn 7.401

[2019-03-17 13:58] najeebullahshah opened #18112 "cuda issue 3d int16 array (from SimpltITK) to torch.FloatTensor"
## ❓ Questions and Help
I am trying to run a tensor with cuda on torch like this:

ct_array1 = sitk.GetArrayFromImage(ct1)
ct_array1 = torch.FloatTensor(ct_array1, device='cuda:0').unsqueeze(0)
print(ct_array1.device)

Here ct_array1 is a 3d int16 array

Error Trace:
RuntimeError: legacy constructor for device type: cpu was passed device type: cuda, but device type must be: cpu

[2019-03-17 14:09] E1eMenta opened #18113 "Can't convert Upsample to onnx"
## 🐛 Bug
pytorch == 1.0.1.post2
onnx == 1.4.1
I'm trying to convert 'upsample' op from pytorch to onnx.
Code:
[code]
Output error:
[code]
I've tried different modes and nn.interpolation, result is the same. What is the problem?

[2019-03-17 14:15] KosmonautX commented on #18104
Ah yes I conducted pre-processing in a Debian Container
and pretraining within a conda environment in Windows because the tools
required for some parts of pre-processing wasn't available on windows. I
will try out your suggestion in the upcoming days and keep you posted.

On Sun, Mar 17, 2019 at 12:46 PM peterjc123 <notifications@github.com>
wrote:

[2019-03-17 14:43] anirbanl commented on #17124
I have figured out the issue. It is due to the following few lines:

        if self.config.fix_emb:
            prem_embed =prem_embed.detach()
            hypo_embed =hypo_embed.detach()

[2019-03-17 14:43] #17124 closed

[2019-03-17 16:29] jagans94 commented on #16364
Hi @sorenrasmussenai , @ashermancinelli. Is this issue considered resolved. I'm curious does the above solution passes the tests?

[2019-03-17 18:30] ailzhang commented on #18112
`torch.FloatTensor` is legacy **cpu** tensor constructor. Please use `torch.tensor(..., device='cuda:0', dtype=torch.float)`. Or if you prefer to use the legacy constructor, try `torch.cuda.FloatTensor(ct_array1)`.

[2019-03-17 18:30] #18112 closed

[2019-03-17 19:36] hfarhidzadeh commented on #16943
I am on the same page. Trained model on multiple GPUs, trying to do inference on multiple CPUs . The problem I have is in higher layers of model, I am getting cache dump in abc.py __instancecheck__  for _abc_negative_cache!

[2019-03-17 19:47] isalirezag opened #18119 "fixed the seed but results are not deterministic"
## 🐛 Bug

 - PyTorch Version (e.g., 1.0): 1.0.1.post2
 - OS (e.g., Linux): 16.04 Ubintu
 - How you installed PyTorch (`conda`, `pip`, source): conda
 - Build command you used (if compiling from source):
 - Python version: 3.6
 - CUDA/cuDNN version: 9.0/7
 - GPU models and configuration:titan 1080

As we can see despite fixing all the seeds still the results are random...
[code]

[2019-03-17 20:08] SsnL commented on #18119
setting a seed doesn't mean all subsequent random ops give same results. It means that the sequence of random numbers is fixed (wrt to the seed).

[2019-03-17 20:08] #18119 closed

[2019-03-17 20:20] yasheshgaur commented on #16417
I am getting a similar error as well:

```CUDA out of memory. Tried to allocate 196.50 MiB (GPU 0; 15.75 GiB total capacity; 7.09 GiB already allocated; 20.62 MiB free; 72.48 MiB cached)```

@treble-maker123 , have you been able to conclusively prove that nn.Sequential is the problem ?

[2019-03-17 23:27] liangbright commented on #18056
another problem:
nn.Module.register_buffer('some_tensor', None)
some_tensor will not show up as a key in state_dict(), which causes lots of trouble.

[2019-03-17 23:42] manuyavuz commented on #16885
@keunwoochoi thanks for the PR! I was overwhelmed in last month, couldn't find time to do it.

@apaszke I think we can pass this for now, currently I don't have a very clear implementation idea without introducing breaking changes or other possible subtle problem which I still guess would be rare. Gonna keep still as a nice-to-have feature idea.

[2019-03-17 23:42] #16885 closed

[2019-03-18 02:21] JerryShih commented on #17992
@bobqywei
I can't reproduce this issue.
I just test with this simple libtorch code and your cmake setting.

[code]

[code]

And here is the linked lib for that executable file:
[code]

Could you show your linked lib list using 'ldd' command? My env doesn't link to libiomp5.so. Maybe that's the difference.

And could you check the path to libiomp5.so is still available when you try to run your exec

[2019-03-18 03:29] ailzhang commented on #17994
@JurijsNazarovs  Could you provide steps to repro the error? Thanks!

[2019-03-18 03:40] YijiaZhao commented on #14303
I also want to know how to use it

[2019-03-18 03:58] lutzroeder commented on #15762
No longer repros at TIP.

[2019-03-18 03:58] #15762 closed

[2019-03-18 04:51] najeebullahshah commented on #18112
Thanks @ailzhang for the response. Now i am getting this error:

ct_array = torch.tensor(ct_array, device='cuda:0', dtype=torch.float)
RuntimeError: CUDA error: initialization error

[2019-03-18 05:14] YashSinha1996 commented on #17962
@wanchaol Any progress in tracking down this issue?

[2019-03-18 05:18] dorgun opened #18122 "_queue_reduction(): incompatible function arguments."
## 🐛 Bug

Distributed training fail when a class has a layer that not used for forward propagation.

## To Reproduce

Steps to reproduce the behavior:

1. Download [simple_net.zip](https://github.com/pytorch/pytorch/files/2990993/simple_net.zip)
2. run the distributed learning
- 2 nodes
`python -m torch.distributed.launch --nproc_per_node=1 --nnodes=2 --node_rank=0 --master_addr="IP_ADDRESS" --mas

[2019-03-18 06:05] ameet20 opened #18124 "Training Benchmark"
Hello,

 I am just wondering if there is any benchmark on distributed data parallel training:

For example,

What's the speedup with 8 GPUs on 2 machines compared to 1 GPUs on 1 machine?

What's the speedup with 8 GPUs on 2 machines compared to 4 GPUs on 1 machine?

For single machine data parallel, I am also interested about the speedup, for example:

What's the speedup with 4 GPUs on 1 machines

[2019-03-18 06:53] moinnadeem commented on #17041
+1, using PyTorch with shared filesystem and getting the same bug.

[2019-03-18 07:24] SkafteNicki opened #18125 "Add support for mixture models in torch.distributions"
## 🚀 Feature
It would be useful to have support for mixture models in torch.distributions e.g. Gaussian Mixture models.

## Motivation

Currently, there are no easy way of defining mixture models/distributions in pytorch. I propose an re implementation of tensorflows api for doing this

[code]

I personally use this for variational autoencoders, to be able to work with more expressive priors than

[2019-03-18 07:35] Protocal13 commented on #18125
So whats the problem with it exactly

[2019-03-18 07:35] Protocal13 commented on #18125
Please send code and the result so then i get a better understanding

[2019-03-18 07:43] Protocal13 commented on #18122
Either you didn't define something properly perhaps made an argument  wasn't define or you missed an argument in __init__()

Thats what im guessing

[2019-03-18 07:46] Protocal13 commented on #18124
I don't think theres a dufference
im gussing nomatter how many gpus are used within two computers they don't make any difference

[2019-03-18 07:53] Protocal13 commented on #18113
Either your forgeting the " " somewhere and did you forget to add these somwhere *args **kwargs  and i thinks you should take your time to look over this error output and carefully read your code just to see any mistakes

[2019-03-18 07:53] Protocal13 commented on #18113
;)

[2019-03-18 08:12] dzhulgakov commented on #18005
Desired semantics for `str` and `bytes`:
* they behave like `str` and `bytes` types in Python3 (though encode/decode functions won't be part of script for a while likely)
* in Python3 `str` and `bytes` can be converted to the corresponding Python types only
* in Python2, both TorchScript `str` and `bytes` can accept python's `str` type as an input. Since TorchScript is statically typed at this lev

[2019-03-18 08:42] Alex18947 commented on #18048
Hi, according to my tests, cudaGet/SetDevice calls are not to blame here - take almost no time for me. I made accessive performance testing of libtorch implementation of some models and found out that I cannot even run some of my model to fully utitlize the GPU (!) because two much CPU time in "lost" is basic objects implementation.

As an example, see [here](https://github.com/ChipsSpectre/chipst

[2019-03-18 09:44] E1eMenta commented on #18113
@Protocal13, thank you for answer, but can you clerify what is the problem in 'space' and *args **kwargs?

[2019-03-18 10:46] t-vi commented on #18095
Personally, I'd think we should standardize on dim and probably just break things to rename the argument...

[2019-03-18 11:45] hhsecond opened #18126 "IndexError while trying to save torchscript"
## 🐛 Bug

I have a python script to save a mixture of both traced and  scripted `torchscript` as `.pt`. But on execution, it's thrown index error. I wrapped the `@script` functions into a ScriptModule class and everything is working fine now.

## To Reproduce

1. I am using a CharRNN model saved using `torch.jit.trace` -> code is available [here](https://colab.research.google.com/drive/1PquhW_ziRA

[2019-03-18 12:41] hongdd commented on #15563
i face the same problem
but my GPU is 0% not used
gpu 1060 6g
anyone can give a docs
thx

[2019-03-18 12:51] hongdd commented on #15563
okkkk
i got a solution:
my batchsize =128 is too large
i change my batchsize to 24
is okkkk

[2019-03-18 13:02] soumith commented on #18124
please use https://discuss.pytorch.org for questions

[2019-03-18 13:02] #18124 closed

[2019-03-18 13:18] SsnL commented on #18125
I agree that we should support mixture distribution. It shouldn't be that hard to do.

[2019-03-18 13:23] #13444 closed

[2019-03-18 13:59] bobqywei commented on #17992
@JerryShih Thanks for the help! Here's what I get from 'ldd':
`linux-vdso.so.1 (0x00007ffe3915d000)`
`libtorch.so.1 => /home/bobw/pytorch/torch/lib/libtorch.so.1 (0x00007fd28b0de000)`
`libnvrtc.so.9.2 => /usr/local/cuda-9.2/lib64/libnvrtc.so.9.2 (0x00007fd289ad1000)`
`libcaffe2.so => /home/bobw/pytorch/torch/lib/libcaffe2.so (0x00007fd286615000)`
`libcaffe2_gpu.so => /home/bobw/pytorch/torch/lib/l

[2019-03-18 14:01] bobqywei commented on #17992
It looks like your build isn't linking to the cuda libraries? Also I am linking to opencv libraries as well, so maybe that's the issue?

[2019-03-18 14:02] heiner opened #18128 "Strange issue moving torch::Tensors in libtorch/C++"
## 🐛 Bug

In the context of using PyTorch to produce scalable and fast RL, I am playing with C++ extension that consumes Python-produced tensors. In that context, I create a `std::promise<torch::Tensor> promise` and retrieve a future via `primes.get_future()`. I then `std::move` the promise, which will be fulfilled via a call from Python, and wait on the future.  When the future's status is ready

[2019-03-18 14:25] VitalyFedyunin commented on #16943
@hfarhidzadeh can you please attach code/pseudo-code of your solution as well as error log.

[2019-03-18 14:39] hfarhidzadeh commented on #16943
@VitalyFedyunin I am working on this code:
[https://github.com/mattmacy/vnet.pytorch/blob/master/vnet.py](url)

trained model on 3 P4000 GPUs and tested on single M4000 GPU works fine.
The error comes from :
Line 178 -> out = self.up_tr32(out, out16) -> Line 106: out = self.ops(xcat)
on inference side on CPU.
First I tried on 16 GB RAM which seems is not sufficient (error: Need 31GB RAM, buy new o

[2019-03-18 15:05] iwtw commented on #17658
### Crash
I met with a similar problem as well. Everything works fine with the the CPU version of "minimal example", but the GPU version of "minimal example" of libtorch gives a segmentation fault while deconstructing.

[code]
Using valgrind to debug:
[code]
### Environment

- Ubuntu 14.04
- GCC 5.4.0 , CMake 3.12
- CUDA 9.0.176 , CUDNN 7.0.5
- PyTorch 1.0.1 , libtorch 1.0.1 stable
- CUDA used to

[2019-03-18 15:09] apaszke commented on #18125
cc @fritzo @neerajprad

[2019-03-18 15:19] jermainewang commented on #14057
Hi @ailzhang , do you know where `torch.dtype` is defined? I don't know the exact place to put `__module__`.

[2019-03-18 15:46] VitalyFedyunin commented on #2206
Seems to be required to remove Storage.

[2019-03-18 15:46] VitalyFedyunin commented on #2206
I will take care of creating appropriate bootcamp task.

[2019-03-18 15:48] ailzhang commented on #14057
@jermainewang Yea could you checkout #18045 and build from source to see if it fixes your issue? I realized `__module__` is defined but python2.7 failed to parse it because our dtype name is a bit confusing.

[2019-03-18 15:53] resistor commented on #18128
@yf225

[2019-03-18 16:11] soulslicer commented on #18074
Any update on this? Do i need to provide a code example?

[2019-03-18 16:24] soumith commented on #18122
cc: @mrshenli

[2019-03-18 16:26] soumith commented on #18113
@Protocal13 your answers on this issue and other issues are wrong or not helpful. Please only make comments if you think they are the right answer / direction.

[2019-03-18 16:31] ailzhang commented on #18108
cc: @soumith

[2019-03-18 16:37] qizhuli commented on #12598
`return_counts` would be an awesome feature to have! @ptrblck do you have the GPU version implemented?

[2019-03-18 16:46] morawi opened #18130 "Indices of a Dataloader of a custom dataset class have type numpy.int64 type is causing an error"
## 🐛 Bug
To get around the problem, I had to use (inside the Dataset class):

[code]

[code]

[2019-03-18 17:21] ezyang commented on #18110
cuDNN's seed comes from us, but it's possible that the backwards is non-deterministic for RNNs. CC @ngimel

You wouldn't happen to have a self-contained script we could run and see the nondeterminism, do you?

[2019-03-18 17:27] Squadrick commented on #15409
@apaszke This issue can be closed. This [PR](https://github.com/pytorch/pytorch/pull/16416) solves it.

[2019-03-18 17:38] ezyang commented on #17798
cc @t-vi

[2019-03-18 17:40] ezyang commented on #18108
Yes.

[2019-03-18 17:41] ezyang commented on #18108
We should add a flag like torch/backends/mkldnn that lets you check this. Should be easy. I can review a patch if you submit.

[2019-03-18 17:48] ezyang commented on #18062
It looks like your real problem might be:

[code]

It sounds like you are hitting a bug in GCC 6. Try upgrading your compiler.
Or you could try disabling mkldnn with `USE_MKLDNN=0`?

Is there any particular reason you can't use the nightly?

[2019-03-18 17:53] ezyang commented on #18053
This is probably not an interpolate bug, because interpolate with trilinear doesn't call cuDNN. This looks like a Conv3d bug, cc @mruberry

It would be really helpful to get a minimal reproduction. Would it be possible for you to remove layers from your network while keeping the bug reproducing? Otherwise one of us can try.

[2019-03-18 17:54] ezyang commented on #18074
It looks like the C++ CUDA API is not calling the magma initialization function (it is done from Python only)

[code]

CC @yf225, can you look into this, or delegate it accordingly?

[2019-03-18 17:55] jhostetler opened #18133 "Descriptive error message for distribution constraint violation"
## 🚀 Feature

The current error message raised by constraint violations in distribution constructors (when `validate_args=True`) is a generic message that doesn't say what the problem is, e.g.:
[code]

## Motivation

When I see this error, I have to identify the source of the problematic parameter, add logging code, run the program again (which might take a long time), and hope that it fails again

[2019-03-18 17:56] ezyang commented on #17798
This seems reasonable.

WarpCTC is deterministic on GPU, so we might be able to reuse the implementation there.

@t-vi, do you have any better ideas for how to deal with this?

[2019-03-18 17:58] ezyang commented on #17897
cc @ngimel; do you think this is a cublas bug? No matter what, however, we should probably just issue multiple calls to work around this.

We really need nightly tests with big inputs...

Some of our other matrix multiply functions seem affected as well:

[code]

@colesbury do you know how urgent this is? @izdeby might be interested in taking this up if it's not urgent.

[2019-03-18 17:59] ezyang commented on #17998
Looks like a bug. Maybe GRU constructed an incorrect hidden state when you omitted it (which you are entitled to do, as an optional argument).

[2019-03-18 17:59] ezyang commented on #17898
Yeah, this is bad. (Methodological improvement suggestion: we can have a flag for a test suite to run large tests, and run them nightly on master. This is not just randn; there probably are a lot of operators that aren't working here.)

One thought: does the CircleCI machine have 8G of RAM, for this case? None of the g3 AWS machines have enough GPU per memory. So finding GPUs with enough RAM will

[2019-03-18 18:05] #15409 closed

[2019-03-18 18:11] suo commented on #18003
We think this is possible using the ivalue serialization format that @driazati is working on.

[2019-03-18 18:14] ezyang commented on #18057
Yeah, this looks like a real problem. The root cause is probably floating point errors, but we should probably clamp to prevent it from becoming >1.0

The implementation is sum, norm, division, clamp. But it only clamps on the division, so you don't divide by zero. So we should clamp at the end, probably.

@ailzhang, do you want file a bootcamp task to add the missing clamp here?

[2019-03-18 18:17] wanchaol commented on #18126
Thanks for raising the issue, @driazati can you take a look on it?

[2019-03-18 18:18] ezyang commented on #18086
I don't think we can fix this in a performant way; not mutating implies that we must check all indices are in bounds before we start doing any of the operations.

However, we did notice that multi-index assignment in Numpy is atomic in some sense.

[code]

So if you have some good suggestions, please reopen this issue.

[2019-03-18 18:18] #18086 closed

[2019-03-18 18:19] ezyang commented on #18095
This sounds fine. Some other evidence in favor of dim: Numpy names it axis (and it's not pluralized).

If this isn't urgent, @ifedan may look into it. I will happily review a PR submitted to do this.

[2019-03-18 18:34] KosmonautX commented on #18104
I loaded and saved the model using the highest protocol as you said I guess I have to pass the magic number as well? But it would seem we are on the right track
lib\site-packages\torch\serialization.py", line 534, in _load
    raise RuntimeError("Invalid magic number; corrupt file?")
RuntimeError: Invalid magic number; corrupt file?

[2019-03-18 18:41] SsnL commented on #18130
what's the error message?

[2019-03-18 19:07] apaszke commented on #18133
Yes, that's a great request! cc @fritzo @neerajprad @vishwakftw

[2019-03-18 19:20] apaszke commented on #18005
Can't you just store the raw data in a byte tensor? I really think we should be careful about the limitations of what we implement, or we'll end up with a complete reimplementation of Python.

[2019-03-18 19:31] ngimel commented on #17897
It is definitely a cublas bug.

[2019-03-18 19:32] nicolone commented on #17181
Sleef doesn't support nesting. I could fix it similarly to https://ceres-solver-review.googlesource.com/c/ceres-solver/+/9780:

- Using sleef_[SOURCE/BINARY]_DIR (which are defined by CMake when
  project(sleef) is called, in favour of CMAKE_[SOURCE/BINARY]_DIR
  enables sleef to be nested within (and built by) a larger CMake
  project (which also contains other projects).
- CMAKE_[SOURCE/BINARY]_

[2019-03-18 19:44] denfromufa commented on #17936
@rjknight how were you able to install CUDA 10.1 / Driver 418 with P100 GPU? It is not listed in the official NVidia website, only up to CUDA 10.0:

![image](https://user-images.githubusercontent.com/7870949/54558641-4269f480-498c-11e9-8b30-ece9362044d9.png)

[2019-03-18 19:46] colesbury commented on #18048
@omry you don't even need to change PyTorch source code. You can just hot patch the CUDA functions to be no-ops:

https://gist.github.com/colesbury/b10069870419ca1fa9c3a2a8668edbe3

You'll see that outside the profiler the cudaGetDevice and cudaSetDevice functions do not affect performance. You can also use this under nvprof to avoid API tracing those functions.

[2019-03-18 19:46] #18048 closed

[2019-03-18 19:49] morawi commented on #18130
@SsnL  Using debug mode, I noticed the issue with the indices having numpy.int64 type. Not sure why this happens here, although it has not been the case in several other programs I did!
[code]

[2019-03-18 19:50] SsnL commented on #18130
You probably used a custom sampler that is causing the problem.

[2019-03-18 19:56] kmario23 commented on #3678
To fix this issue, add the below two lines at the top of the Python module from where you're loading the pre-trained model (for instance in `train.py`):

[code]
where `./WordLM` is a subdirectory inside your main project directory, which has the pre-trained model. The directory tree would then look something like:

[code]

[2019-03-18 20:01] morawi commented on #18130
@SsnL No, I have not. Here is where the problem occurse

[code]

[2019-03-18 20:02] t-vi commented on #17798
It's documented that the loss backward is non-deterministic currently.

So basically, the atomicAdd is used in an `index_add`-like fashion. The obvious replacement would be something like the deterministic `index_add` of embedding backward.
Personally, I don't think using the WarpCTC implementation would be an improvement.

We do have a bug open somewhere regarding determinism.

Obviously we'd be

[2019-03-18 20:08] morawi commented on #18130
@SsnL  So, could it be that `sample_idx` is causing the problem?

[2019-03-18 20:12] ezyang commented on #17798
I can commit to reviewing a PR that adds a deterministic mode to this kernel. Not sure if we should make it deterministic by default; depends on the performance cost.

[2019-03-18 20:12] apaszke commented on #17929
Ok, so I wrote it that way because of:
1. *Performance considerations.* When we apply AD to a graph, we never need it later, so that's why a copy would be a waste of time
2. *Correctness considerations.* AD is not meant as a graph-to-graph transformation, but is supposed to take a graph, and produce a pair of graphs + some description telling you how to interpret them. Hence leaving the original a

[2019-03-18 20:14] apaszke commented on #17583
@SsnL we could, but we would need to support function calls, which we don't. So it's not that easy to have.

[2019-03-18 20:23] ezyang commented on #17041
cc @pietern you wouldn't happen to know why this is happening would you?

[2019-03-18 20:24] ezyang commented on #18112
Please use https://discuss.pytorch.org/ to debug cuda installation problems.

[2019-03-18 21:09] fritzo commented on #18125
`MixtureSameFamily` should be easy to implement. We don't use this in Pyro since we usually keep the mixture component id as an explicit variable and enumerate over that variable:
[code]
cc @martinjankowiak

[2019-03-18 21:10] LemonPi commented on #1724
I am also wondering if `torch.gels` will have differentiation support.
My current workaround is to use `torch.mm(X.pinverse(), Y)` instead

[2019-03-18 21:22] bobchennan commented on #1724
https://gist.github.com/bobchennan/a865b153c6835a3a6a5c628213766150

I actually implemented overdetermined case following tensorflow
implementation. For backward pass I only did basic grad test.

On Monday, March 18, 2019, Johnson Zhong <notifications@github.com> wrote:

[2019-03-18 21:29] neerajprad commented on #18133
Since this happens within the `Distribution` class, I think the easiest way to achieve this would be to use the `__repr__` method for each of the constraints (we will need to add this method for certain constraints that don't have it) and say that it failed. That might still not offer details on which particular check failed (e.g. in the Simplex case above where we have two checks), but I think mo

[2019-03-18 21:33] LemonPi commented on #1724
Thanks, seems to work fine!

[2019-03-18 21:40] zou3519 commented on #17998
This is actually a lot more involved, so I am going to unassign myself. The general gist is that our C++ API does NOT implement bidirectional RNNs (they're supported in the backend, but it'll take a bit of work to get it to work with the C++ API)

[2019-03-18 21:48] tommy-qichang commented on #4485
Ok, I think I find the answer to this issue: use group norm instead of the batch norm.
[Normalization Alternative to Batch Normalization](https://medium.com/syncedreview/facebook-ai-proposes-group-normalization-alternative-to-batch-normalization-fb0699bffae7)

[2019-03-18 21:52] zdevito opened #18142 "export BUILD_CAFFE2_OPS=0 breaks jit tests"
## 🐛 Bug
[code]

## To Reproduce

Steps to reproduce the behavior:

Built with

[code]

## Expected behavior

Test is disabled or arranged not to fail if CAFFE2_OPS were not built.

[2019-03-18 21:58] marcocannici opened #18143 "[JIT] b->inputs().size() == b->outputs().size() ASSERT FAILED"
## 🐛 Bug

Cycling through a ModuleList in a nested loop of a ScriptModule generates an assertion error.
E.g.:
[code]

[code]

## To Reproduce

A minimal script that reproduces the error:

[code]

## Environment

Output of collect_env.py:
[code]

[2019-03-18 22:04] ezyang commented on #17249
Hi @dylanbespalko, thanks for your posts.

Master doesn't seem to have the patches. Did you mean to post a specific branch?

I think the big performance consideration I have here is making the test on whether or not a Tensor requires ufunc calls or not as fast as possible. I'm expecting this should just be a pointer comparison on the PyType of the object we were given in question.

I'm not sure wh

[2019-03-18 23:18] fritzo commented on #18133
I agree with @neerajprad 's suggestions, but I am wary about the asymetry in

I like @jhostetler 's idea of an error threshold that depends on number of entries in `probs`. @jhostetler what are your typical number of categories? Did you see this error with e.g. 1e6 categories?

[2019-03-18 23:39] colesbury commented on #18057
Probably better to re-order the computations to improve numerical precision. Might want to look at SciPy:

https://github.com/scipy/scipy/blob/453932337f4a67170e4e7fda3f808b273a787a41/scipy/spatial/distance.py#L717-L721

I think the issue is that we're doing:

[code]

vs.

[code]

I don't know enough about floating point arithmetic to argue why the second is more accurate, but it seems to be. (You

[2019-03-18 23:56] jamesr66a opened #18147 "[JIT] We don't document that nn.Sequential needs to be in __constants__"
if it's used as a submodule of a ScriptModule

[2019-03-19 00:39] wanchaol commented on #17962
So it gives me this error:

[code]

is this class defined somewhere else?

[2019-03-19 00:50] driazati commented on #18147
#17167 was supposed to make this more apparent to users, is there some repro that doesn't go down this path?

[2019-03-19 00:51] jamesr66a commented on #18147
I mean in the docs. We talk about `ModuleList` but not `Sequential`

[2019-03-19 01:00] weihua04 opened #18153 "how to optimize the parameters of model and loss at the same time?"
I use the code below to optimize the parameters both in the model and loss.
     "trainable = [{'params': loss.parameters(), 'lr': args.lr},
      {'params': model.parameters(), 'lr': args.lr}] "
and I found a strange phenomenon , if i use the above optimizing method , for training several epoches, the loss descend from 11.7 to 10.8 and just stay there .
but if I put all the parameters in the mode

[2019-03-19 01:10] JerryShih commented on #17992
@bobqywei
I don't know the difference between libomp and libiomp, but I think it just a env setting problem. Please try to set the ld_library_path to the libiomp folder.
https://software.intel.com/en-us/forums/intel-fortran-compiler-for-linux-and-mac-os-x/topic/269160

[2019-03-19 01:20] #16367 closed

[2019-03-19 01:20] #17683 closed

[2019-03-19 01:41] srasool commented on #17492
@soumith @pjh5 @kostmo do we have an update on this?

[2019-03-19 01:48] omry opened #18157 "JIT does not batch linear layers in an ensemble"
I am trying to speed up a case where I have an ensemble identically structured models.
Tracing my model and running a jitted version results in some speed up, but since the layers are small it still does not achieve good utilization of the GPU.

if torch.bmm were used to batch compute the mm for layer[0] across the K models, then layer[1] across the K models etc it would help a lot.

See code samp

[2019-03-19 01:49] omry commented on #18157
cc @soumith

[2019-03-19 02:05] pritamdamania87 commented on #18005
@apaszke Short term, we are using byte tensor for this. Although, I think the concern in general is if we store arbitrary blobs in bytetensor, its not very clear what individual elements in the tensor represent. For example, if I store a jpg blob in a bytetensor and then reshape it, the new tensor doesn't have much meaning (similarly for multiplying/adding tensors).

[2019-03-19 02:39] SsnL commented on #18130
Your sampler is returning an `np.int64`, this is normally not a problem but your dataset doesn't accept a value of that type. Since you control both the sampler and the dataset, I think that this isn't a pytorch problem.

[2019-03-19 02:39] #18130 closed

[2019-03-19 03:05] pepsin commented on #18113
I have this issue too in my Resnet based project, and this bug exist from 1.0 till now.

[2019-03-19 03:39] freewym commented on #18110
I just push an toy example of how to reproduce the issue. please checkout the following code:

https://github.com/freewym/pytorch_test_code/blob/master/train.py

and type the command:

python3 train.py --gpuid <gpu-id>

it will give you the loss for each batch like:

loss at batch 0: 4.609390735626221
loss at batch 1: 4.607876777648926
loss at batch 2: 4.6088972091674805
loss at batch 3: 4.6051578

[2019-03-19 04:32] #13229 closed

[2019-03-19 04:32] chitransh89 commented on #9263
I installed pytorch through pip. I was also having this problem of **DLL load failed: procedure could not be found**. I was using Python 3.6.0 on Windows 10. Upgrading to Python 3.6.8 solved the problem

[2019-03-19 04:32] #15462 closed

[2019-03-19 04:43] shenkev opened #18169 "Gradients blowing up when F.dropout is used with Conv1D"
## 🐛 Bug

The gradients of the Conv1D layer are blowing up when dropout is used after the convolution. I noticed this after migrating my code. The problem occurs on Pytorch 1.0.0 and 1.0.1.

The problem does not occur if:
1. dropout is taken out
2. in Pytorch 0.3.1

## To Reproduce

Steps to reproduce the behavior:

1. initialize myModel with dropout set to True for ConvBlock modules
2. do .backwa

[2019-03-19 04:57] SsnL commented on #17583
So we just killed support for a valid use case without any alternative planned...

[2019-03-19 06:22] YashSinha1996 commented on #17962
@wanchaol My bad that class was also supposed to be imported. I have updated the gist. Hope this helps.

[2019-03-19 06:54] Akella17 opened #18171 "Setting seed for Data Samplers (torch.utils.data.sampler)"
Is it possible to assign a random seed for BatchSampler and SubsetRandomSampler? I am using a generator function (yields a generator object instead of returning it, as storing the data in memory turned out to be a lot slower). This function has to be called twice, while it is expected to return the same output.

[2019-03-19 07:04] bellonemauro commented on #6041
Hello,

comment here instead of opening a new issue, my device is well configured and works perfectly fine in windows 10 and ubuntu 16.04.
However,  I (sometimes) get the error that cuda.is_availble() = false:

RuntimeError: Attempting to deserialize object on a CUDA device but torch.cuda.is_available() is False. If you are running on a CPU-only machine, please use torch.load with map_location='cp

[2019-03-19 07:14] SkafteNicki commented on #18125
I also agree that it should somewhat be easy to implement. Only complicated part would be the `rsample()` method which require a implicit reparameterization of the gradients to be able to backprop through ([Stochastic Backpropagation through Mixture Density Distributions, Alex Graves](https://arxiv.org/abs/1607.05690))

[2019-03-19 07:20] stefbraun commented on #17798
The [note](https://pytorch.org/docs/stable/nn.html#torch.nn.CTCLoss) in the docs concerning the determinism could be improved:

"In some circumstances when using the CUDA backend with CuDNN, this operator may select a nondeterministic algorithm to increase performance. If this is undesirable, you can try to make the operation deterministic (potentially at a performance cost) by setting torch.backe

[2019-03-19 07:53] zmonoid opened #18172 "Run two GPU task in parallel"
## ❓ Questions and Help
I want do to something like this:

[code]
I want to get ```out1 out2``` in parallel, using torch.multiprocessing will cause error. Any idea on how to do this

[2019-03-19 07:55] Amigoshan commented on #12873
Similar things for me.
I'm running networks on TX2. I have two networks. If I run then in separated scripts, each will take 1 GB. If I combine them into the same script, it goes down to 1.1 GB in total.

[2019-03-19 08:15] dylanbespalko commented on #17249
Hi @ezyang,

Thank you for getting back to me. I'm a GitHub amateur.  Please forgive me, I'm a product of Grad Studies :(.

**Please read this post after I update GItHub tomorrow.**

I have just finished the torch._C.TensorBase implementation of __array_ufunc__ and __tensor_ufunc__ and I will begin automated testing tomorrow. Here is the test plan:
### Test Plan:
- [ ]  **Re-add python (torch.Tens

[2019-03-19 08:34] w1005444804 opened #18173 "How to achieve high-order derivation in my .cpp?"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

[2019-03-19 08:41] ChopinSharp opened #18174 "Fail to apply advanced sampler when using torchvision.transforms.Resize with 16-bit images"
My input data are 16-bit tiff images. I tried to use torchvision.transforms.Resize to pre-process my data, but it won't work. The reason is that torchvision.transforms.Resize internally uses PIL.Image.resize to resize image, **but for 16-bit images, only nearest-neighbour sampler is available** in pillow. Now I use OpenCV to resize my data and it works fine.
It took me some time to get the things

[2019-03-19 09:19] tsungruihon commented on #9873
May i ask if i use `jupyter notebook`, should i just set `torch.set_num_threads=18` like that ?

[2019-03-19 10:21] Pawel-Marcin-Chojnacki commented on #9873
@tsungruihon yes, but it will be applied only to a current notebook. Of course, if you will open your notebook again (or reset kernel) you will have to run this command again.

[2019-03-19 10:21] sth1997 opened #18175 "[Caffe2] Does Caffe2 support distributed training with only CPU?"
I found this sentence on https://caffe2.ai/docs/distributed-training.html:
"We’re assuming that you’ve successfully built Caffe2 and that you have a system with at least one GPU, but preferably more to test out the distributed features."

Since I have to do some experiments about CPU performance, I wonder if I can use distributed training with CPU only cluster?

[2019-03-19 11:17] vishwakftw commented on #18174
Please open this in [torchvision](https://github.com/pytorch/vision).

[2019-03-19 11:17] #18174 closed

[2019-03-19 12:43] BarMazal commented on #17711
Hi,
 I've tried the script you wrote. If I understand correctly you wanted all the lines but the last one to run in command line and then run the last one.
I've put all the lines in *.bat file and ran it and afterward I run "python tools\build_libtorch.py"

The build if not finished successfully. There is no clear indication what is the error.
Here are the last few lines:
"

"

A lot of libs and d

[2019-03-19 13:14] soufianesabiri commented on #17233
I have this error when I import OpenALPR but what it the relation between Tensorflow GPU and OpenALPR ??

[2019-03-19 13:16] bobqywei commented on #17992
@JerryShih Thanks! `export LD_LIBRARY_PATH=/home/bobw/pytorch/torch/lib/` (libiomp5.so dir) fixes it for me

[2019-03-19 13:16] #17992 closed

[2019-03-19 13:37] apaszke commented on #17583
Validity (or usability for that matter) of this use case is unclear, and we never even wanted to allow that. It was a bug on our side, and we can't do anything with the fact that some users started to depend on buggy behavior.

[2019-03-19 13:39] apaszke commented on #18005
And how does adding a byte type help with this? Sure, you can't resize/multiply them, but why would you do that to a tensor that has binary data in the first place?

[2019-03-19 13:41] Zellar209 commented on #755
Hi, when running "", I have encountered the errors like:
=======================
In file included from src/module.cpp:2:
In file included from src/CPUComplexType.h:60:
src/CPUComplexTypeImpl.h:102:105: warning: 'IntList' is deprecated [-Wdeprecated-declarations]
Tensor & CPUComplexType<PT>::set_(Tensor & self, Storage source, int64_t storage_offset, IntList sizes, IntList strides) const {

[2019-03-19 14:11] #16428 closed

[2019-03-19 15:00] ZolotukhinM commented on #17929
@apaszke, How critical is it for performance? I suspect that copying a graph once would be almost free compared to all other stuff we're doing there, but to me it would lead to a cleaner API. Completely agree with the correctness considerations.

[2019-03-19 15:18] SsnL commented on #17583
@apaszke Ah yeah I understand more about this scenario. So I should probably make this more like a feature request to support such things.

Out of curiosity, could you explain more the difficulty of supporting passing in a Module? I think we can treat that the same way as passing in collections of parameters and buffers. It is hard to make traced function get those tensors?

[2019-03-19 15:23] vlasenkov commented on #18053
I have updated the gist. I removed as much as was possible. Removing more layers makes the error disappear.

[2019-03-19 15:32] danFromTelAviv commented on #17714
@t-vi can you

Can you please refer me to this tutorial so I can try it out and see if get similar results. I want to validate that I installed correctly. ( And i you can tell me how fast it runs on a raspvery pi that would be great ).

[2019-03-19 15:47] t-vi commented on #17714
It's not so much a tutorial, though I always thought about making one: https://lernapparat.de/pytorch-android/

[2019-03-19 16:05] fyabc opened #18180 "TypeError: _queue_reduction() when using DistributedDataParallel to train model with unused parameters"
## 🐛 Bug

Hi, I have tried to use `torch.nn.parallel.DistributedDataParallel` to train a model on multi GPUs. My model *shares* weights between several "child networks". In each training step, I want to train only one child network and update its related parameters in the shared model, and other parameters are remain unchanged.
The code can run on single GPU. However, I met "TypeError:  _queue_red

[2019-03-19 16:31] danFromTelAviv commented on #17714
I don't see the network architecture there? It's vaguely described. Can you refer me to the model?

[2019-03-19 16:38] jhostetler commented on #18133
@fritzo I saw the error with a 4096-element probability vector with roughly uniform probabilities -- all the entries were around 0.0002 or 0.0003. This is using float32 data type. The normalization error was 1.076e-6.

@neerajprad 's suggestion could have a problem if the final element is very small, since subtracting the extra mass could make it negative. You might have to iterate over several el

[2019-03-19 16:45] heiner commented on #18128
(Somewhat simplified the example in Gist https://gist.github.com/heiner/e4b3c6ef92ed3c6b15005798f7b8da91)

[2019-03-19 17:00] ezyang commented on #18128
I haven't attempted to repro yet, but does it still hang if you replace `at::Tensor` with some other type, e.g., `std::vector`?

I reviewed your condition variable code and could not find any obvious places where you might have lost a notification.

[2019-03-19 17:21] heiner commented on #18128
That's a good question and I should have stated that more clearly. It appears to work (i.e., this bug doesn't show up) when replace all `at::Tensor`s with `std::vector<int>`s.

Here's a diff for changing the example code to use std::vectors instead:
[code]

[2019-03-19 17:34] Kaixhin opened #18182 "Update weight initialisations to current best practices"
## 🚀 Feature
Update weight initialisations to current best practices.

## Motivation
The current weight initialisations for a lot of modules (e.g. `nn.Linear`) may be ad-hoc/carried over from Torch7, and hence may not reflect what is considered to be the best practice now. At least they are now documented (https://github.com/pytorch/pytorch/pull/9038), but it would be better to pick something sens

[2019-03-19 17:40] t-vi commented on #18182
I'd make the flag a PyTorch version: say `(1, 0, 1)` or `1_00_01` (for Python 3) and then if the flag is set to a particular version, take the largest version not less or equal than the one specified. This way we'd have a way to incorporate groundbreaking new initialization schemes. But the default should be "current" inits.

[2019-03-19 17:45] dlibenzi opened #18183 "PyTorch multi threading/processing behavior"
Hi!
We are investigating PT threading performance and we are noticing a strange behavior in PT.
We have this simple benchmark, which runs in threads/processes, either a PT training loop, or a Python CPU hog.

[code]

These are a few runs on my workstation (12 cores - Intel(R) Xeon(R) W-2135 CPU @ 3.70GHz).
For a single thread/process HOG, times are pretty much matching, as expected:
[code]

And th

[2019-03-19 17:48] vishwakftw commented on #18105
Closed by #18116.

[2019-03-19 17:48] #18105 closed

[2019-03-19 17:51] vishwakftw commented on #18182
IIRC, SciPy does something like the functionality @t-vi described for their constants module (which required some changing due to the change in fundamental constants). I’m not sure exactly what they do, but it is related.

[2019-03-19 17:57] neerajprad commented on #18133
I just checked the multinomial implementation and it does the normalization of the cumulative distribution to ensure that the last value sums to 1. So we can certainly relax the threshold. Note that you can disable the args checking by passing `validate_args=False` for the distribution instance. Raising an error is helpful during model debugging when figuring out where NaNs are coming from etc., b

[2019-03-19 18:28] vadimkantorov commented on #18108
(related https://github.com/pytorch/pytorch/issues/111 )

[2019-03-19 18:47] ailzhang commented on #18183
cc: @apaszke @ezyang @zdevito for more ideas :)

[2019-03-19 19:01] suo commented on #18143
Thanks for the report! Definitely a bug on our side. @eellison can you take a look?

[2019-03-19 19:02] suo commented on #18094
Support for classes in TorchScript is ongoing work; I'll see if we can make Categorical work with it.

[2019-03-19 19:03] suo commented on #17984
@yf225 any idea here? Seems like certain ops aren't getting registsred in the cpp build.

[2019-03-19 19:38] stas00 opened #18189 "[CPU] several inplace functions fail since 1.0.1 on certain hw"
## 🐛 Bug

## To Reproduce

This bug is CPU-related.

On certain hardware inplace started failing since 1.0.1, works fine with 1.0.0

Here are 2 identical tests, except the first one uses inplace funcs `tanh_`, `sigmoid_` and the second one doesn't.

Both tests should print only 0's (used print instead of torch.allclose() because the assert is loud and messy).

But on my hardware and (occasionally

[2019-03-19 20:18] ezyang commented on #18183
This really smells like you're bottlenecked on dataloading. What if you cut out the forward/backward loop entirely and just load samples?

[2019-03-19 20:29] dlibenzi commented on #18183
Dataloading is not existent AFAICT, as we use the same tensor within the loop.
Part of it, is PT scaling horizontally even with a single thread. Which partially explains the results.
In my workstation ~500% of CPU (out of 1200% ) is used in one thread case.
It should have headroom to scale further, but at partially explains the results.

[2019-03-19 20:31] vladserkoff commented on #16558
It seems you don't have gcc installed, either try to install pytorch from conda and it will install gcc for you, or get it from your package manager (apt, if it's ubuntu)

[2019-03-19 20:43] #18078 closed

[2019-03-19 20:54] isalirezag commented on #7068
@fmassa it does sound like that it is not working for pytorch 1.0.1
I check it and still get random results. can you please check it ?

[2019-03-19 20:54] soumith commented on #18182
this all seems reasonable. let's plan to do it.

[2019-03-19 22:31] heiner commented on #18128
Playing a bit with this, it seems to work if I remove Python and instead do

[code]

This seems to work reliably. I have no idea why or how calling from Python influences this.

[2019-03-19 22:31] teng-li commented on #15063
Looks like we hit this issue as well. @pjh5 Any updates on this?

[2019-03-19 23:24] suo commented on #18157
Passing to @wanchaol to take a look at the batchmm pass

[2019-03-19 23:55] colesbury commented on #18183
A single Python thread in PyTorch can still use multiple cores. PyTorch (and the underlying math libraries) uses OpenMP to parallelize may operations. So parallelizing on top of that can lead to oversubscription. Even in cases where you don't have oversubscription you may get diminishing returns due to shared resources (shared L3 cache, DRAM memory bandwidth).

You can limit the number of OpenMP t

[2019-03-20 00:02] LeviViana commented on #16897
A first version of a full-featured `numpy.random.choice` equivalent for PyTorch is now available [here](https://github.com/LeviViana/torch_sampling) (working on PyTorch 1.0.0). It includes CPU and CUDA implementations of:

- Uniform Random Sampling WITH Replacement (via `torch::randint`)
- Uniform Random Sampling WITHOUT Replacement (via reservoir sampling)
- Weighted Random Sampling WITH Replacem

[2019-03-20 00:27] driazati commented on #18126
Seems like there's a problem when tracing a module with `Parameter`s, they aren't making it to the Python Printer so some map lookup fails:

https://github.com/pytorch/pytorch/blob/9d455ac2fe83bf52dfcf940759c2c26ed1fd1cd5/torch/csrc/jit/passes/python_print.cpp#L1128

Minimal repro
[code]

[2019-03-20 00:54] dlibenzi commented on #18183
A release build pushed single thread CPU utilization to ~900% in my workstation, which is closer to full saturation (1200% - 12 cores).
At this point the results can be explained to some length, so closing this one.

[2019-03-20 00:54] #18183 closed

[2019-03-20 01:09] jordan-bird opened #18200 "Custom Loss from External Optimisation Function?"
Hello,

Sorry if this is the wrong place to open an issue like this but I can't find any related work, and StackOverflow has not been able to help (1 week stale, 0 replies)

I am trying to replace the loss of my network that has 3 outputs by an external function

My code is as follows:

[code]

ftn is a variable that calculates a score of the three outputs by passing their outputs to fitness(x,y,z

[2019-03-20 01:16] piofel commented on #2623
`# This line is used to prevent the vanishing / exploding gradient problem
        torch.nn.utils.clip_grad_norm(rnn.parameters(), 0.25)`

Does the gradient clipping prevent only the exploding gradient problem? Correct me if I am wrong.

[2019-03-20 01:44] xsacha opened #18202 "GLOO not optional?"
## 🐛 Bug
When disabling GLOO with -DUSE_GLOO=OFF, it fails to compile with the following error:
pytorch/torch/lib/c10d/ProcessGroupGloo.hpp:10:10: fatal error: gloo/algorithm.h: No such file or directory

## To Reproduce

Steps to reproduce the behavior:

1. Set CMake variable USE_GLOO to off
2. Generate and Compile

## Expected behavior

Compiles

## Environment

PyTorch Version: 1.0.1
OS: Linux

[2019-03-20 02:01] ezyang commented on #18126
https://github.com/pytorch/pytorch/pull/18139 might be related

[2019-03-20 02:06] ezyang commented on #18128
The fact that it doesn't happen when you are pure C++ makes me think it's a GIL problem. I have a guess: adjust your code to stop using `gil_scoped_release`; instead, manually release the GIL yourself inside the bodies of your functions using AutoNoGIL.

[2019-03-20 02:19] szymonmaszke commented on #1926
@apaszke Should this approach still be avoided? If so, are there any plans to support this feature?

[2019-03-20 02:30] xianshunw opened #18205 "error: expected unqualified-id before ‘static_cast’"
## ❓ error: expected unqualified-id before ‘static_cast’

We have the following problem when we use the libtorch built from source.
``
[build] /home/xswang/workspace/FPM_init/libtorch/include/ATen/core/interned_strings.h:271:1: error: expected unqualified-id before ‘static_cast’
[build]  FORALL_NS_SYMBOLS(DEFINE_SYMBOL)
[build]  ^
[build] /home/xswang/workspace/FPM_init/libtorch/include/ATen/core/

[2019-03-20 02:37] ezyang commented on #17249
I feel we may have a fundamental misunderstanding here; I don't understand why you need to port `__array_ufunc__` implementation *itself* to C++, since that's going to be provided by the user (who cannot conveniently write such an implementation in C++). But maybe all will be clearer when the code goes up.

[2019-03-20 02:43] nishankjain opened #18206 "Rename ignore_index to ignore_target in CrossEntropyLoss"
## 📚 Documentation

`ignore_index` is a little confusing because if I want to ignore the target value 0, `ignore_index` suggests (unless one reads the explanation twice over or more) that it's going to ignore the 0th index in the target list which is not what I want as the target value 0 can be at any index/indices in the list.
`ignore_target` makes it quite self-explanatory in my opinion.

[2019-03-20 03:09] wanghan0501 opened #18208 "Libtorch support VS2013!!"
Could you support C++ front end with VS2013?

[2019-03-20 03:11] #18057 closed

[2019-03-20 03:27] xianshunw commented on #18205
I am sorry, it seems that not because of compilation.  the problem from my other code.

[2019-03-20 03:27] #18205 closed

[2019-03-20 03:48] peterjc123 commented on #18208
This won't be fixed because it doesn't have support for C++11.

[2019-03-20 03:48] #18208 closed

[2019-03-20 03:51] peterjc123 commented on #18208
See here for detailed reports: https://docs.microsoft.com/en-us/previous-versions/hh567368(v=vs.140).

[2019-03-20 04:01] lawlietAi commented on #16442
Hi @robbine , is there any solution about erf exporting?

[2019-03-20 04:19] aj47 opened #18209 "'module' object has no attribute '_dl'"
## 🐛 Bug

I have recently reinstalled Spacy but when i try to import it I get an error from torch:

## To Reproduce
I did something like this

1.pip install spacy
2.pip uninstall spacy
3.pip install spacy==2.0.12
4.pip uninstall spacy
5. pip install spacy

[code]

## Environment

[code]

I have tried re installing pytorch to no success

[2019-03-20 04:46] shalijiang commented on #10119
I also ran into this problem. I'm using Python3 kernel.

[2019-03-20 05:36] peterjc123 commented on #17711
Is there any reproducible code that I can try?
Besides, there's something you need to check before considering this as a bug.
1. Please use the nightly package to save the model.
2. Please verify the path of the model. (e.g, Use absolute path)

[2019-03-20 05:51] ltnghia commented on #17349
I also have the same error: two nodes, node 1 has 2 GPU 1080ti, node 1 has 1 GPU 1080ti.
I installed pytorch 1.0.1 - CUDA 9.0 by anaconda.

`python main.py --dist-url 'tcp://136.187.81.108:1234' --dist-backend 'nccl' --multiprocessing-distributed --world-size 2 --rank 0 ImageNet/tiny-imagenet-200`

`python main.py --dist-url 'tcp://136.187.81.108:1234' --dist-backend 'nccl' --multiprocessing-distr

[2019-03-20 06:29] mruberry commented on #18053
We should be able to take a look at this next week (GTC is this week).

[2019-03-20 06:44] mruberry commented on #16610
Would you please retry this with cuDNN version 7.5 or greater?

[2019-03-20 06:47] mruberry commented on #16443
Would you please try this with cuDNN v7.5.0.42 or greater?

[2019-03-20 06:55] neerajprad opened #18212 "[JIT] bitwise NOT does not handle tensor shapes correctly under JIT"
## 🐛 Bug

It seems that `~` operator does not generalize to different tensor shapes under JIT. Refer to https://github.com/pyro-ppl/pyro/issues/1784.

## To Reproduce
[code]
## Expected behavior

Function gives correct results with tensors of arbitrary shape.

## Environment

[code]

cc. @apaszke

[2019-03-20 07:20] peterjc123 commented on #16608
And on Windows: https://ci.pytorch.org/jenkins/job/pytorch-builds/job/pytorch-win-ws2016-cuda9-cudnn7-py3-test2/25535/console.

[2019-03-20 08:29] HaleTom commented on #10622
This seems to be a duplicate of #17.

[2019-03-20 09:06] dylanbespalko commented on #17249
Hi @ezyang , @zou3519

@ezyang: Python type propagation does not require the user to override __array_ufunc__, but defining custom methods in the subclass would. I skipped the "has_overide" check in numpy C [implementation](https://github.com/numpy/numpy/blob/8f37d88ebc0f265e451d7f5bca6d6ad885341a83/numpy/core/src/multiarray/methods.c#L1063).

### Source Code:
The python and C++ version of the cod

[2019-03-20 09:57] libichong opened #18214 "Cannot open include file: 'numa.h': No such file or directory"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

I want to build libtorch for windows x64 by using build_windows.bat. I disabled numa

[2019-03-20 10:01] peterjc123 commented on #18214
No, you should not call `build_windows.bat`. You should call `tools\build_libtorch.py` instead. BTW, could you please tell me where the instruction you use (call build_windows.bat) was written?

[2019-03-20 10:04] peterjc123 commented on #18214
I see. It was written here. https://caffe2.ai/docs/getting-started.html?platform=windows&configuration=compile
 @orionr Is `build_windows.bat` still the case for building caffe2?

[2019-03-20 10:11] hfarazi commented on #18032
The same problem here!

[2019-03-20 10:16] peterjc123 commented on #18214
Well, it looks like a bug in `torch/CMakeLists.txt` that turns `USE_NUMA` and `USE_GLOG` on by default. I'll fix them.

[2019-03-20 10:26] t-vi opened #18215 "CTCLoss with empty target doesn't work well"
## 🐛 Bug

CTCLoss doesn't provide the correct gradient when the target sequence is empty.

## To Reproduce

[code]
also the default reduction doesn't play well with zero length.

## Expected behavior

Compute the proper loss and gradient (which would point in the direction of less "blank").

## Acknowledgement

This has been pointed out by Evgeni Kirov, thank you for tracking this down!

[2019-03-20 11:16] heiner commented on #18128
Alas, that didn't help. The behaviour is still the same: After a few iterations it gets stuck, and the backtrace then is
[code]

[2019-03-20 11:50] fracting opened #18218 "MKL-DNN causes wrong results on Xeon"
Editorial note: We think this is an MKL-DNN bug. See https://github.com/intel/mkl-dnn/issues/431

----

Update: an updated test program to demo the problem is at https://github.com/pytorch/pytorch/issues/18218#issuecomment-475453948

--

Hi, I have a simple python program as below:

[code]

I ran the same code (CPU only, no GPU) on different machines:
machine `A` with `Intel(R) Core(TM) i7-4870HQ

[2019-03-20 11:57] fracting commented on #18218
[conv2_input.zip](https://github.com/pytorch/pytorch/files/2987978/conv2_input.zip)

Attached are the data files to reproduce this problem.

[code]

Last few lines of `good` output are:
[code]

Last few lines of `bad` output are:
[code]

Note the first line in good snip ends with `56250000*` while the first line in bad snip ends with `81250000*`

[2019-03-20 12:09] heiner commented on #18128
Update: The issue goes away if I compile PyTorch myself, using:

[code]

I didn't manage to install CUDA's dependencies properly so I disabled CUDA for this build.

I know suspect it is an issue with either the compiler, or the stdlib, or the Python version pytorch and pytorch-nightly uses. (Tangentially related, I wonder why those builds use `(-D_GLIBCXX_USE_CXX11_ABI=1`?)

[2019-03-20 12:41] AndTseren commented on #10062
@YueshangGu,
in network forward you should add these few rows above problem BN layer:
sz = x.size()
x = x.view(sz[0], sz[1], -1)
and one row after BN layer:
x = x.view(sz[0], sz[1])

[2019-03-20 12:58] liangliannie commented on #12498
Any update to this issue?

[code]

I still got the same error.

[2019-03-20 13:05] kayuksel opened #18219 "IndyLSTM & IndyGRU in PyTorch"
## 🚀 Feature

https://www.tensorflow.org/api_docs/python/tf/contrib/rnn/IndyLSTMCell
https://www.tensorflow.org/api_docs/python/tf/contrib/rnn/IndyGRUCell

## Motivation

https://arxiv.org/abs/1803.04831
https://arxiv.org/abs/1903.08023

[2019-03-20 13:12] kirk86 commented on #1778
We  had this issue recently on a ubuntu 18 system. Simply
[code]
Didn't do the trick for us.
The cuda driver was updated to 10 but nvcc tools where still pointing to 9.1, and 9.2 drivers
The weird thing is that this only happened with pytorch while tensorflow was working fine

[2019-03-20 13:28] expectopatronum commented on #5560
Strangely I also encounter this problem after a few epochs. Other models with the same setup (Sigmoid + BCELoss) work. I will try to create a minimal reproducible example.

[2019-03-20 13:56] SsnL commented on #18218
Different CPUs may use different conv algorithms. Also palatalized floating point arithmetic is not deterministic.

[2019-03-20 14:12] WillBrennan opened #18220 "Context Manager that disables training mode with in a nn.Module."
## 🚀 Context Manager that disables training mode with in a nn.Module.
Currently `with torch.no_grad():` can be used to disable gradient calculation temporarily while batchnorm and drop out layers have to be set to evaluation mode using `model.train(True)` followed by a `model.train(False)` once evaluation is complete. Currently this syntax is used,

[code]
. This is a potential source of bugs, as

[2019-03-20 14:22] stihl1210 commented on #5560
I tried to create one example but I couldn't reproduce error easily. I
think that problem could be related to dataparallel and prediction that
were not aligned to 0-1 range. Adding sigmoid helped in my case and now I
have no problems with BCE loss

śr., 20 mar 2019, 14:28 użytkownik Verena Haunschmid <
notifications@github.com> napisał:

[2019-03-20 15:07] orionr commented on #18214
I agree - we should likely remove build_windows.bat and standardize on setup.py and build_libtorch.py.

[2019-03-20 15:23] gchanan commented on #16897
neat!  Note this would take some work to get in to PyTorch proper, namely specifying as a native function, swapping `torch` namespace to `at` namespace, etc.

[2019-03-20 15:24] rapirent commented on #13962
Same issue for me.
Environment:
ubuntu 18.04
cuda 10.0
cuDNN 7.4
python 3.7 (anaconda3-2018.12)

[2019-03-20 15:32] fzd9752 commented on #17874
Hi @soumith, same error reported with latest build `v1.0rc0-3168-g8895bfba6`.

Currently, pytorch works well without mkl-dnn.

---
## Environment

OS: Ubuntu 18.04.2 LTS
GCC version: 7.3.0
CMake version: version 3.10.2

Python version: 3.7
CUDA runtime version: 10.1.105
GPU models and configuration:
GPU 0: GeForce RTX 2079

Nvidia driver version: 418.43
cuDNN version: /usr/lib/x86_64-linux-gnu/lib

[2019-03-20 15:43] soumith commented on #2623
@piofel yes, with clipping it's primarily exploding gradient issue that's fixed.

[2019-03-20 15:45] soumith commented on #18219
it's not widely used enough yet, to be pushed into core (feel free to reopen once it becomes more of a standard).

Additionally, we are working on a user handwritten RNNs being fast, rather than adding more fundamental multi-layer RNNs into core.
So, I'm closing the feature request.

[2019-03-20 15:45] #18219 closed

[2019-03-20 15:45] soumith commented on #18200
please use https://discuss.pytorch.org for questions

StackOverflow is not our primary source of support (afaik no one handles those questions).

[2019-03-20 15:45] #18200 closed

[2019-03-20 15:59] soumith commented on #18218
as @ssnl said, they are the same to a particular machine precision. Beyond that, different CPU models, thread count, and other factors might give you different results (but same upto machine precision)

[2019-03-20 16:02] soumith commented on #6041
hey @bellonemauro , we check with the NVIDIA driver if CUDA / driver is available and ready. If it reports False, we report False. I suspect some weird driver instability.

[2019-03-20 16:13] Krovatkin commented on #18212
@driazati @ailzhang could you, guys, chime in as to whom would be the best person to assign this one to?
thanks!

[2019-03-20 16:17] Krovatkin commented on #18147
Let's assign this one to @zdevito for now since he seems to be our heaviest editor.

[2019-03-20 16:23] #18214 closed

[2019-03-20 16:46] Krovatkin commented on #18106
@zasdfgbnm

Would you advise us if the workaround below is sufficient for your use case or are you suggesting that we should fix `copy.copy`?

FYI: @suo @driazati

[code]

[2019-03-20 16:47] pietern commented on #18202
This is fixed in #18203.

Curious to know, which of the distributed backends do you use?

[2019-03-20 16:47] #18202 closed

[2019-03-20 16:49] Krovatkin commented on #17929
I added `needs_discussion`, so we could briefly discuss it at the next sync and finally put this issue to rest.

[2019-03-20 16:52] ailzhang commented on #18212
In eager mode `~` only works on byte tensors. I'm not familiar our support on this, maybe @suo knows?

[2019-03-20 17:25] zmonoid commented on #17643
Hi, any solution on this issue?

[2019-03-20 17:25] zmonoid commented on #17643
@yxchng

[2019-03-20 17:29] forhonourlx opened #18228 "Multi-GPU RuntimeError: Expected tensor for argument #1 'input' to have the same device as tensor for argument #2 'weight'"
Could somebody give me a helping hand, thank you!
Even if reading [https://github.com/pytorch/pytorch/issues/8637](url) , I still cannot specify the problem of the code. And how to solve the problem?

When calling the following modules:
`
class NatureConvBody(nn.Module):

    def __init__(self, in_channels=4):
        super(NatureConvBody, self).__init__()
        self.feature_dim = 512
        se

[2019-03-20 17:35] gdoteof commented on #5040
Setting num_workers=0 worked for me on kaggle.

[2019-03-20 17:35] zasdfgbnm commented on #18106
@Krovatkin Yes, I suggest fixing the `copy.copy`. The use case is, for example, when there is a third-party library depending on PyTorch, this behavior might make objects in that library uncopyable:

[code]

[2019-03-20 17:36] enoonIT commented on #1355
I had a similar problem. In some code this function could randomly hang on next():

[code]

The hack that worked for me was to add a small delay after calling this function

[code]

I guess the delay helped avoid some deadlock?

[2019-03-20 17:42] dzhulgakov opened #18229 "Add support for tuple type deduction in C++ custom operators"
## 🚀 Feature
Right now RegisterOperators support deduction of schema and "auto converting" values for multiple types, including lists and dicts. We should support tuples (as mapped to std::tuple in C++) too.

## Pitch

All reasonable torchscript types should be easily mappable to C++ operators. following code should work:

[code]

## Additional context

Places to change:
https://github.com/pytorch

[2019-03-20 17:47] malmaud commented on #16996
I'd be happy to manually add the stubs for some of these missing namespaces and submit those as a PR. Would that be acceptable, or are you looking for a more automatic codegen approach?

[2019-03-20 18:09] t-vi commented on #16996
Thank you for offering to work on these! I'm not sure whether there / what the are plans for a maintenance release, but a great first step would to fix these in master / the nightlies.
- Things related to the automatically wrapped functions would best go in the generation
  `https://github.com/pytorch/pytorch/blob/master/tools/pyi/gen_pyi.py`
- Things like imports and pure Python functions could g

[2019-03-20 18:56] neerajprad commented on #18212
This doesn't seem to be an issue with the binary bit operations, btw.

[2019-03-20 18:59] flacjacket commented on #16592
I am seeing a similar error on the following code:
[code]
I'm not sure if this is exactly related, or just failing in a similar way.

This fails with:
[code]

If I change the addition to `x += residual`, then the forward pass works with the gradient, but in the no_grad block, I get a failure as:
[code]

[2019-03-20 19:01] driazati opened #18232 "[jit] Dict membership checks"
There's no way to check if a key is in a dictionary in TorchScript (i.e. these examples should work)

[code]

[2019-03-20 20:10] ezyang commented on #15949
I cannot reproduce this on abc171bd53ee00caa3ab638b770316583a0c6c5f. I'm going to check if I could ever have reproduced this.

[2019-03-20 20:26] ezyang commented on #15949
I could not reproduce this on https://download.pytorch.org/libtorch/cu90/libtorch-shared-with-deps-latest.zip either. I guess it's time to get on an Ubuntu docker image...

[2019-03-20 20:55] ezyang commented on #15949
I am able to reproduce using  https://download.pytorch.org/libtorch/cu90/libtorch-shared-with-deps-latest.zip on an Ubuntu docker image with the nvidia/cuda:9.2-cudnn7-devel Docker image.

I suspect this is a C++ compiler ABI incompatibility. Suggested workaround is to build PyTorch from source and try again.

[2019-03-20 20:55] ezyang commented on #15949
For reference, I used gcc 4.8.5 on the machine I couldn't reproduce from; and gcc 7.3.0 on the machine I could reproduce from.

[2019-03-20 21:06] ezyang commented on #18128
OK, sounds like an ABI problem. I recommend building from source in this situation.

`-D_GLIBCXX_USE_CXX11_ABI=1` is intended to reduce ABI problems, as it gets people to use a more uniform ABI in standard library. It's not perfect though.

[2019-03-20 22:01] LeviViana commented on #16897
Thanks for your reply. I'll be making these changes and sending a PR soon.

[2019-03-20 22:20] ezyang commented on #15949
I bet the ABI incompatibility is std::function related.

[2019-03-20 22:21] rlorigro opened #18249 "CTCLoss documentation is unclear"
## 📚 Documentation

Another student and I have been working out how to use the new CTCLoss function, and the documentation is somewhat incomplete. I want to point out some possible problems, and suggest changes to the example script.

Problems:
  - **S** is not defined for the shape of `targets`. S should be the length of the targets?
  - It appears that each value in **S** should be the index of

[2019-03-20 22:23] fracting commented on #18218
Thanks @SsnL and @soumith , that was a very important lesson to learn!

Could I ask a follow up question?

We have a deep learning classification model (PyTorch) which predicts the same results for same validation set on 3 different machines, however it's prediction on the `Intel(R) Xeon(R) Platinum 8124M CPU @ 3.00GHz` machine significantly bias to one category. For example, when all other machin

[2019-03-20 22:46] sidazhang commented on #16592
What version are you

[2019-03-20 23:04] xsacha commented on #18202
NCCL

[2019-03-20 23:05] #17801 closed

[2019-03-20 23:28] mzperix opened #18254 "RelaxedBernoulli produces samples on the boundary with NaN log_prob"
## 🐛 Bug

`distributions.RelaxedBernoulli` with low temperature produces samples (on the boundary 0.0 and 1.0) for which the distribution gives `log_prob` value `NaN`. (Same goes for `distributions.RelaxedOneHotCategorical`)

## To Reproduce

[code]

gives the following output:

[code]

## Expected behavior

I would imagine that for most use-cases clamping the sample (after the SigmoidTransform) b

[2019-03-20 23:35] mzperix commented on #18254
@apaszke @rachtsingh Can you perhaps help making this robust? Do you see problems with my fix?

[2019-03-20 23:39] pietern commented on #17041
@acdifran If the launch utility works fine, can you include how you are starting the processes when you're not using the launch utility? Is it possible that you start 2 processes on the same machine and assign them the same rank? If so, both processes that are started with rank 0 will try to bind to the same port.

[2019-03-21 00:46] acdifran commented on #17041
@pietern

I'm using the commands provided in the guide here: https://pytorch.org/tutorials/beginner/aws_distributed_training_tutorial.html

On the first terminal for node0, run $ python main.py 0 0
On the second terminal for node0 run $ python main.py 1 1
On the first terminal for node1, run $ python main.py 2 0
On the second terminal for node1 run $ python main.py 3 1

[2019-03-21 00:51] Helenwyw commented on #4518
window 10
python3.6
 use pip and conda none to install pytorch,and do not use the anaconda.
now i cannot  solve the error
 File "<stdin>", line 1, in <module>
  File "D:\Python36\lib\site-packages\torch\__init__.py", line 102, in <module>
    from torch._C import *
ImportError: DLL load failed: 找不到指定的程序。

[2019-03-21 00:54] forhonourlx commented on #18228
@SsnL Would you kindly give some help?

[2019-03-21 02:25] peterjc123 commented on #4518
@helenwyw Please update your python if you are using Python 3.6.0.

[2019-03-21 02:42] Helenwyw commented on #4518
@peterjc123 Is it the version problem?Which version is recommended?thankyou

[2019-03-21 02:59] ezyang commented on #18249
I'm happy to help review a doc PR, as many of us would be.

[2019-03-21 03:04] ezyang commented on #17249
I see, your suggestion is some sort of default ufunc implementation. I'm not convinced that this gives you enough rope for most mechanisms; I was under the impression that numpy's default wrapping behavior usually required you to define an `__array_finalize__` to be useful.

I'll look at the code tomorrow, but I can't promise to spend too long on it.

[2019-03-21 03:05] rlorigro commented on #18249
It would be helpful if someone could confirm that the things I have already suggested are actually correct. I could rewrite in terms of a PR, if that would also lead to an update on your website:

https://pytorch.org/docs/stable/nn.html#ctcloss

[2019-03-21 03:10] peterjc123 commented on #4518
3.6.X (X>0) is supported. I recommend 3.6.7 because it's tested in CI.

[2019-03-21 03:14] Helenwyw commented on #4518
oh,i'll try. thank you!

[2019-03-21 03:20] ezyang commented on #17249
I did a quick read through. Some quick notes:

1. I realized that one important thing I didn't realize is that you're defining `__array_ufunc__` for better Numpy interoperability. This is actually probably an independently useful change, and so it's probably worth carving it off into its own patch. To maintain a stack of diffs in a more manageable way, please use https://pypi.org/project/ghstack/

[2019-03-21 03:25] Helenwyw commented on #4518
@peterjc123  hhh , it's ok 😄

[2019-03-21 03:40] robbine commented on #16699
If there are any problems with reproducing this issue, please let me know.

[2019-03-21 03:52] yiran7324 opened #18260 "What does "it/s" when downloading pth file? 97913.93it/s?"
## ❓What does "it/s" when downloading pth file?

![img](https://i.loli.net/2019/03/21/5c9309a76f51f.png)

I have search about it but only get some other results due to the grammar of searching. Certainly, it is not a kb/s or mb/s like things, or I guess it is item/s still can not get what is the item.

[2019-03-21 04:02] yuzihao111 commented on #4518
@peterjc123 Hello！I also meet the same problem.
windows 10  Anaconda python3.6.3
conda install pytorch-cpu torchvision-cpu -c pytorch
I tried the solution ：conda install -c peterjc123 pytorch-cpu，it works.
BUT! The version of pytorch is 0.3.1 , it is not meet my needs. I suggest you could explain the version of pytorch.
I uninstall it, and reinstall by conda install pytorch-cpu torchvision-cpu c p

[2019-03-21 05:05] houseroad opened #18263 "[ONNX] Enable argmax and argmin with no dim and no keepdims"
Support argmax() and argmin() with no dim and keepdims.

[2019-03-21 05:05] houseroad commented on #18263
@spandantiwari @lara-hdr would you mind to take a look?

[2019-03-21 05:09] peterjc123 commented on #4518
Anyway, please try this script first. https://gist.github.com/peterjc123/21143c0c9426a025618260dde5b6219a

[2019-03-21 05:13] SsnL commented on #18218
@fracting It could be a problem with mkldnn. Could you try building from source w/o mkldnn and see if the xeon machine outputs a different prediction?

[2019-03-21 05:13] vishwakftw commented on #18260
Please open this in [Torchvision](https://github.com/pytorch/vision).

[2019-03-21 05:13] #18260 closed

[2019-03-21 05:14] zasdfgbnm commented on #18263
I think we might need something like:

[code]

[2019-03-21 05:16] gottbrath commented on #16908
@houseroad @zrphercule  -- any feedback on this analysis from the TRT team? Do we agree that the unsqueeze constant is wrong and that we can represent the model using the approach described above?

[2019-03-21 05:16] houseroad commented on #18263
Your solution looks legit. @zasdfgbnm do you want to give it a try?

[2019-03-21 05:17] zasdfgbnm commented on #18263
@houseroad Sure, I will

[2019-03-21 05:18] gottbrath commented on #16908
possibly also related to https://github.com/pytorch/pytorch/issues/17606 ?

[2019-03-21 05:19] libichong commented on #18214
Thanks @peterjc123 and @orionr for the quick action to fix it.

[2019-03-21 05:19] gottbrath commented on #16336
@drnikolaev  -- can you confirm that this is resolved?

[2019-03-21 06:06] yxchng commented on #18113
Any updates?

[2019-03-21 06:10] bddppq commented on #18041
@iotamudelta @petrex

[2019-03-21 06:10] bddppq commented on #16448
This is now fixed in rocm 2.2

[2019-03-21 06:11] #14497 closed

[2019-03-21 06:11] #14495 closed

[2019-03-21 06:12] houseroad commented on #17606
Yeah, we should be able to do some optimization here: https://github.com/pytorch/pytorch/blob/master/torch/onnx/symbolic.py#L1334

[2019-03-21 06:17] houseroad commented on #16908
@gottbrath seems unrelated. This is an interesting problem. I guess this is the culprit: https://github.com/pytorch/vision/blob/master/torchvision/models/resnet.py#L163.

I think using flatten should solve the problem.

[2019-03-21 06:24] houseroad commented on #16699
@robbine could you check if you apply https://github.com/pytorch/pytorch/pull/18139, whether your problem will go away?

[2019-03-21 06:29] drnikolaev commented on #16336
Thanks guys, will check tomorrow morning..

[2019-03-21 06:39] t-vi commented on #18249
@rlorigro This is highly appreciated, as would your PR! I'm sure the documentation can be much improved over what I put in there. (Maybe one could consider linking to the [distill.pub article](https://distill.pub/2017/ctc/) on CTC, too - but I haven't looked at the docs lately to see this.)
Some of your points are not yet actionable (e.g. that the targets start at one because 0 is blank in the exa

[2019-03-21 07:09] luulinh90s commented on #6747
You have to install another version of numpy.
[code]
Above downgrading 1.15.4 -> 1.15.0.

Then install another torch version.
[code]
Here upgrade to torch-0.4.1.post2 from torch-0.4.1

[2019-03-21 07:24] libohit commented on #18113
I face the same problem about upsample.

[2019-03-21 07:26] Sean0123456789 commented on #18113
I am trying to convert UNet to Caffe2 using ONNX and I am also facing the same problem as others. Will it be solved soon?

[2019-03-21 07:29] fracting commented on #18218
Hi @SsnL

Thanks for the hints! I compile PyTorch from scratch, either with or without mkldnn (by exporting `USE_MKLDNN="FALSE"`)

I can confirm the model outputs bad prediction with mkldnn, but outputs good prediction without mkldnn. (Both on Xeon)

[2019-03-21 07:42] chenhuiji commented on #17745
I have encoutered this problem. My problem is caused by different CUDA version.

[2019-03-21 07:52] chenhuiji opened #18268 "DistributedDataParallel"
## 🚀 Feature

Would DistributedDataParallel wrapper cost much GPU memory? In my case, the model cost 1133MB when loaded into a GPU. However, when wrapped in DistributedDataParallel and run in the distributed mode, it costs 12000MB GPU momery. Is this correct?  With considering the gradient memory (1133MB) and initilization memroy (567MB), it should not cost 12000MB.
Is it caused by the  Distribute

[2019-03-21 07:52] cswangchen commented on #4969
i   got the same error
RuntimeError: DataLoader worker (pid 18049) exited unexpectedly with exit code 127. Details are lost due to multiprocessing. Rerunning with num_workers=0 may give better error trace.

[2019-03-21 08:00] vaishnavm217 opened #18269 "random.random() logical typo"
## 📚 Documentation

The sample code mentioned in https://pytorch.org/docs/stable/torchvision/transforms.html#functional-transforms has logical typo
`if random.random() > 5:` is never possible as random.random gives values between [0,1]

[2019-03-21 08:20] t-vi opened #18270 "[JIT] JIT erroneously sets requires grad"
## 🐛 Bug

Erroneous `requires_grad` set.

## To Reproduce

I don't know if this is exactly the same bug as #17532 , it might be closely related
[code]

## Expected behavior

`b` should not require grad.

## Environment

Master PyTorch

## Additional context

So this is similar to @ngimel's report in #17532 in the way that she has lists while I have Optional to unbox. Also for some reason I need th

[2019-03-21 09:50] githubgsq commented on #18180
I also met the same error.

[2019-03-21 10:18] apaszke commented on #18270
Why is it not supposed to require grad? You're copying a value that requires grad into its data, so it seems correct to me.

[2019-03-21 10:34] t-vi commented on #18270
No, I'm copying an expression of `x.detach()` and `y` (which does not require grad).
So the easy part is to fix detach to actually set requires grad to false for dimensioned tensors (sending a PR right now), but the thing is that Optional, like list, will only record "Tensor" as type, not DimensionedTensor, so it gets the default grad that Natalia points out. Maybe one should just add requires gra

[2019-03-21 10:36] apaszke commented on #17929
It's hard to say how important it is, but why should we copy if we don't have to? It's not an API that's meant to be widely used anyway, so what's the deal? There's no reason to generalize this function if we don't foresee any other important use cases.

[2019-03-21 10:37] apaszke commented on #17929
Also, our IR can get really large (think ~1-2GB) for bigger models, so while it might not be a huge perf hit, it might significantly increase memory pressure.

[2019-03-21 10:38] libichong opened #18272 "cmake build stuck"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

Hi,

I am building libtorch for windows from build_windows.bat and build_libtorch.py

[2019-03-21 10:53] Ren4rd opened #18273 "Broken Operators Catalog"
## 📚 Documentation

The Operators Catalog only displays operator form APMeter to CountUp.

https://caffe2.ai/docs/operators-catalogue.html

[2019-03-21 11:18] peterjc123 commented on #18272
Trying pressing esc? Don't click on the console otherwise it will get stuck.

[2019-03-21 11:35] libichong commented on #18272
It doesn't work.  I tried another new machine with clean environment, which can continue running. So i doubt my env is polluted and hit some bug. I used windbg and didn't find any hang.

[2019-03-21 11:51] apaszke commented on #18270
Ohh I see. Well, the problem with `requires_grad` propagation is that we can't do it perfectly (e.g. one if branch emits a tensor with requires_grad, the other without), so we will always return an overapproximation. I think that unfortunately there's no good way to fix that.

[2019-03-21 11:57] t-vi commented on #18270
I think it's related to having Optional only be with Tensor or so and that not having a calculated requires_grad.

[2019-03-21 12:04] peterjc123 commented on #18272
Would you please clean the build cache `python setup.py clean` and try again?

[2019-03-21 12:57] flacjacket commented on #16592
Here is the information:
[code]
This is being built from source.

[2019-03-21 13:14] vergilus commented on #2905
I think I figure it out.
there is no grad in global params (None type), the way to solve this problem is to move the local parameters to CPU, then you can assign local parameter. to make life easier, you can wrap this function in the model.
` ensure_shared_grads(model, shared_model)`
becomes
` model.to("cpu").ensure_shared_grads(shared_model)`
but do mind that when you run your model on GPU,  you

[2019-03-21 13:18] LeeJZh opened #18275 "torch.norm does not work when p="nuc""
## 🐛 Bug

torch.norm does not work as expected when p="nuc" , x is a 4 dimensional tensor, dim=(2,3)
## To Reproduce

Steps to reproduce the behavior:
`
import torch

w = torch.randn(2, 1024, 3, 3)

torch.norm(w, p="fro", dim=(2,3)) ## this works fine

torch.norm(w, p="nuc", dim=(2,3)) ## this produce an error message
`

RuntimeError                              Traceback (most recent call last)
<

[2019-03-21 14:50] pshvechikov opened #18277 "Precision loss of large tensor averaging on CPU"
## 🐛 Bug

Taking `mean()` of a large CPU tensor results in severe precision loss.
I would like to know if the following behaviour is known and normal.

## To Reproduce

[code]

produces

[code]

## Expected behavior

Close match between CPU and GPU versions of mean operation.

## Environment

PyTorch version: 1.0.1.post2
Is debug build: No
CUDA used to build PyTorch: 9.0.176

OS: Ubuntu 18.04.1 LT

[2019-03-21 14:51] vishwakftw commented on #18269
Please open this in [Torchvision](https://github.com/pytorch/vision).

[2019-03-21 14:51] #18269 closed

[2019-03-21 15:09] soumith commented on #18277
this definitely looks like normal behavior. It's standard floating point effects at play.
If you want higher precision, you can try to use double precision:

[code]

[2019-03-21 15:09] #18277 closed

[2019-03-21 15:11] soumith commented on #18277
double precision gives the output:

[code]

[2019-03-21 15:14] soumith commented on #18275
good find, this is a bug. We need to compute it on the last two dimensions.

[2019-03-21 15:27] yxchng commented on #17643
For me, the problem arises from a hardware issue that affects the GPU. Just checking, do you use a X99 motherboard? If so, then maybe you are facing the same problem as me.

[2019-03-21 15:31] SsnL commented on #18218
@soumith This is probably worth taking a look at.

@fracting Could you update the issue description to include your new findings? A more detailed approach to reproduce the problem using the network & weights would be great. Thanks!

[2019-03-21 15:55] ZolotukhinM commented on #17929
Is it 1-2GB graphs, or full models that include weights as well? We're talking only about copying a graph here.

In general it's not a big deal, we can keep it as-is. I just did some spring-cleaning and thought it was a premature optimization that added non-obvious conditions and unnecessary restrictions on the API.

[2019-03-21 16:12] petrex commented on #18041
@aanno A one-time re-tune/re-generate perf database might fix your issue.
To do that add `MIOPEN_FIND_ENFORCE = 3` when you invoke your application (ANN script). It would take a while so stay put.

more info [here](https://rocmsoftwareplatform.github.io/MIOpen/doc/html/perfdatabase.html).

[2019-03-21 16:12] vishwakftw commented on #18275
I have two thoughts:

1. this is not a bug, but rather a limitation of the linear algebra backend. I believe ‘nuc’ uses the SVD internally, which is only implemented for 2D tensors.
2. this is a bug considering dims is not passed to the nuclear norm implementation as indicated by the traceback.

[2019-03-21 16:34] soumith commented on #18218
this is high-priority, if there's any way to reproduce your issue, we will look and fix mkl-dnn.

cc: @mingfeima

[2019-03-21 16:40] soumith commented on #18153
if you can give a fuller reproduction, we can take a look. this does not sound right.

[2019-03-21 16:44] ezyang commented on #13118
@meganset @RedChallenger4 could you share what version of clang you are using which results in these warnings?

[2019-03-21 16:48] ezyang opened #18279 "Mac OS X build is broken: ld: warning: ignoring file lib/libonnxifi_loader.a, file was built for archive which is not the architecture being linked (x86_64): lib/libonnxifi_loader.a"
I'm not able to build on OS X with master.  Error looks like:

[code]

Cmake info:

[code]

[2019-03-21 16:49] Krovatkin commented on #17929
Anecdotally speaking, if someone is going to run 1-2GB worth of **IR** and at the same time that much memory also constitutes a **significant** chunk of their RAM, they might want to reconsider running that particular model on that particular machine 😄 We might just save them the world of pain 😹
Although, copying that much wouldn't be a lot of fun on **any** machine. Optimizing that much which mig

[2019-03-21 16:49] ezyang commented on #18279
I am attempting to bisect.

[2019-03-21 16:50] ezyang commented on #18279
By the way, this doesn't seem specific to onnxifi; I've also gotten the error from protobuf, and some other things. It seems all of our static libraries are not getting linked.

[2019-03-21 16:51] ezyang commented on #18279
Clang version:

[code]

[2019-03-21 17:03] spandantiwari commented on #16336
This should be fixed by https://github.com/pytorch/pytorch/pull/16455.

[2019-03-21 17:26] lara-hdr opened #18281 "LRN type mismatch when exported to onnx"
## 🐛 Bug

See https://github.com/Microsoft/onnxruntime/issues/649.

## To Reproduce

Steps to reproduce the behavior:

import torch
import torch.nn as nn

dummy_input = torch.randn(1, 3, 227, 227, device='cuda')
model = nn.LocalResponseNorm(5, alpha=0.0001, beta=0.75, k=1.0).cuda()
torch.onnx.export(model, dummy_input, "output/some.onnx", verbose=True, input_names=['data'], output_names=['prob'])

[2019-03-21 17:42] sbergsma commented on #14981
Might it be helpful for users to mention this requirement in the documentation, e.g. [Loading a PyTorch Model in C++](https://pytorch.org/tutorials/advanced/cpp_export.html)? Perhaps even adding a check to the "minimal" CMakeLists?

[code]

[2019-03-21 17:56] ezyang commented on #13118
cc @carlosgmartin @Jens1503 @waitwaitforget @RedChallenger4 @edwardchor @jordangarside @kumekay @teopb @marpaia @jun-yoon I'm having trouble reproducing this, and it is hard for me to understand how the current macro setup could be not working as we explicitly test (in the macro definition) whether or not the clang-namespaced attribute works or not.

[2019-03-21 18:06] heiner opened #18283 "Doubly freed pointer in torch::cat error handling when called via pybind11."
## 🐛 Bug

Calling `torch::cat` with an illegal concatenation dimension in a pybind11-exposed C++ function results in a malloc error:

[code]

## To Reproduce

Steps to reproduce the behavior:

1. Clone the code in the gist at https://gist.github.com/heiner/c03aa5df92408974922aea7ec499405c via `git clone https://gist.github.com/c03aa5df92408974922aea7ec499405c.git catbug`.
2. Run `cd catbug; python

[2019-03-21 18:09] ezyang commented on #18279
As early as Feb 1 is broken, so I am suspecting it is something porked with my OS X environment.

[2019-03-21 18:13] soumith commented on #18283
cc: @yf225 @gchanan

[2019-03-21 18:15] colesbury commented on #18189
I can reproduce this with OMP_NUM_THREADS=2. I haven't seen it with OMP_NUM_THREADS=1.

[2019-03-21 18:24] ezyang commented on #18279
`brew unlink binutils` solved my problem.

[2019-03-21 18:24] #18279 closed

[2019-03-21 18:53] ezyang commented on #11858
This was fixed when we moved to c10 cuda; now we purposely leak streams on exit.

[2019-03-21 18:53] #11858 closed

[2019-03-21 18:53] ezyang commented on #6325
This is all done!

[2019-03-21 18:53] #6325 closed

[2019-03-21 19:01] meganset commented on #13118
Thanks for looking into this.
I haven't built pytorch for a month or so, but the last time on a couple of macs the clang versions
looked like:

clang --version
Apple LLVM version 9.1.0 (clang-902.0.39.2)
Target: x86_64-apple-darwin17.7.0
Thread model: posix
InstalledDir: /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin

clang --version
clang version 6.0.1 (tag

[2019-03-21 19:12] ezyang commented on #17271
Linked PR was merged.

[2019-03-21 19:12] #17271 closed

[2019-03-21 19:15] #15356 closed

[2019-03-21 19:18] #13957 closed

[2019-03-21 19:19] ezyang commented on #14571
putting @yf225 as he is touching version counters

[2019-03-21 19:19] ezyang commented on #13803
Closing for now, but feel free to reopen if you have more details.

[2019-03-21 19:19] #13803 closed

[2019-03-21 19:22] ezyang commented on #12484
This is probably specific to cudnn

[2019-03-21 19:23] meganset commented on #13118
Just tried a build now -- CPU only, on the clang version 6.0.1 machine -- and i'm not seeing all the
_warning: attribute namespace "clang" is unrecognized_
messages

[2019-03-21 19:30] driazati opened #18286 "[jit] Save IValues from Python and load them in C++"
It would be nice if users could create values in Python, serialize them, then load them in C++ and pass them to TorchScript programs.

#18154 adds some of the scaffolding for this

[2019-03-21 19:32] zasdfgbnm opened #18287 "Gradient of torch.where not handling nan correctly"
[code]

Outputs: `tensor([-0., nan])`

But since `x[1]` is not `<1.0`, so its value is not used at all, the result should be `tensor([-0., 0.])` instead.

[2019-03-21 19:40] SsnL commented on #18287
the good old mask problem with the autograd looking only at each step..

[2019-03-21 19:54] bellonemauro commented on #6041
thank you! this was also my suspect ... no much I can do as I have the latest driver so maybe with some future updates ...

[2019-03-21 19:56] zasdfgbnm commented on #18287
@SsnL Hmmm, maybe I'm picking up the wrong place. But recently after updating PyTorch, something previously work for my model stop working by producing a `nan`. See: https://github.com/aiqm/torchani/pull/192
I will take a deeper look.

[2019-03-21 20:01] fmassa commented on #18287
This is related to https://github.com/pytorch/pytorch/issues/12986 https://github.com/pytorch/pytorch/issues/15506 and https://github.com/pytorch/pytorch/issues/9688

The fundamental issue is that autograd does not distinguish "no gradient" and "zero gradient".

[2019-03-21 20:45] abhiutd commented on #14867
Is there any update on this ?
There seem to be three accessor methods in torch/csrc/jit/script/module.h -- get_modules(), get_parameters() and get_methods() -- none of which seem to be directly giving the input layer shape. Am I missing something...? Is there an ad-hoc way of doing this...?
I have a LibTorch-based codebase with input shape as a separate parameter for now, but ideally I would want

[2019-03-21 20:50] source-data commented on #16486
It seems the bug is still there in torch 1.0.1? What am I doing wrong? I am on MacOS Yosemite.

Install torch 1.0.1

[code]

Check version of torch

[code]

Check nn.MaxUnpool1d

[code]
which fails

[code]

[2019-03-21 20:54] beconstant commented on #755
Hi @Roger-luo

Can I access slack channel related to complex tensors support topic (const.belev@gmail.com)? I emailed for an invitation but nothing happened yet. Right now I am trying to figure out points where to start contributing to this issue. I guess https://github.com/Roger-luo/pytorch-complex/issues/4 is a current entry point now?

[2019-03-21 21:16] ezyang commented on #13118
@meganset Thanks for attempting. I haven't tried 9.1.0, maybe I can scrounge up a copy somewhere.

[2019-03-21 21:16] zasdfgbnm commented on #18287
Closing this since there are many related issues.

[2019-03-21 21:16] #18287 closed

[2019-03-21 21:23] Roger-luo commented on #755
@beconstant yes, that's the start point, this should make some broadcast function work, but I don't why it throws type promotion error on cuda. I can't send you invitation email (I don't have access). I think you should follow pytorch official guide to join slack. But we can always discuss in the issue/PR.

[2019-03-21 21:28] beconstant commented on #755
@Roger-luo ok, got it :)

[2019-03-21 21:42] SsnL commented on #16448
@bddppq Could you remove https://github.com/pytorch/pytorch/blob/291746f11047361100102577ce7d1cfa1833be50/test/common_utils.py#L424-L426 and then close this?

[2019-03-21 21:53] colesbury opened #18293 "Builds should include the git commit hash in torch.version.git_version"
## 🚀 Feature
Builds, especially nightlies, should include the PyTorch commit hash in torch.version.git_version.

## Motivation
It can be difficult to figure out which commits are in a nightly build. We encode the git commit hash in `torch.__version__` for local builds, but nightlies use the date. The `torch.version` package already includes some useful version information like the CUDA version. We

[2019-03-21 22:03] zdepablo commented on #11793
Same problem here. Any tip?

[2019-03-21 23:36] Jianhui-Li commented on #18218
cc @jgong5

[2019-03-22 00:09] deepakn94 opened #18300 "NCCL backend fails when calling broadcast from different threads"
## 🐛 Bug

When I use the NCCL backend, `torch.distributed.broadcast()` results in a `NCCL error` when called from multiple threads (each thread uses a separate process group). `broadcast()` works fine from multiple threads when using the Gloo backend; NCCL backend works fine in the same environment when using a single thread.

## To Reproduce

Code to reproduce:

[code]

Commands to reproduce the

[2019-03-22 00:18] LeeJZh commented on #18275
It seems that dim is not passed to csrc when p="nuc".
[torch.norm source](https://pytorch.org/docs/stable/_modules/torch/functional.html#norm)
`
elif p == "nuc":

        if out is None:

            torch._C._VariableFunctions.nuclear_norm(input, keepdim=keepdim)

        return torch._C._VariableFunctions.nuclear_norm(input, keepdim=keepdim, out=out)
`

[2019-03-22 00:33] mingfeima commented on #18218
@soumith we will double check this immediately and reply to you soon.

[2019-03-22 00:39] fracting commented on #18218
[demo2.tar.gz](https://github.com/pytorch/pytorch/files/2994453/demo2.tar.gz)

Hi, I can reduce the test to the attached code and data.

The code loads a conv2 layer from `conv2.pth`, loads a demo input from `input.pth`, then computes the current output, comparing with `output.i7.pth` and `output.xeon.pth`

According to my test, the cosine similarity between i7 output and xeon output is pretty low

[2019-03-22 00:44] kureta opened #18308 "Providing a tuple for Upsampling scale_factor causes an error even though tuples are supported."
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. Just call `nn.UpsamplingNearest2d(scale_factor=(2., 1.))`

    TypeError: float() argument must be a string or a number, not 'tuple'

## Expected behavior

return an upsampling layer that only stretches the image on the x axis.

Cause of the problem is in torch.nn.modules.upsampling line 129. It tries to directly convert the `scale_fa

[2019-03-22 00:56] mingfeima commented on #18218
@fracting i see your post on [mkl-dnn](https://github.com/intel/mkl-dnn/issues/431) github, the info for me should be good enough to kick off debugging.
I will let you know if i need additional info.

[2019-03-22 00:57] kureta commented on #18308
I have created a pull request to resolve this issue. #18310

[2019-03-22 00:57] Jianhui-Li commented on #18218
@fracting  Between output.i7.pth and output.xeon.pth, both of them are processed on MKL-DNN?

[2019-03-22 01:00] fracting commented on #18218
Hi, @Jianhui-Li , yes, both output.i7.pth and output.xeon.pth are computed with official conda pytorch package, which has MKL-DNN by default.

Also torch._C.has_mkl are True on both environment.

Hi @mingfeima thanks for working on it! Let me know what ever info is needed.

[2019-03-22 01:33] hubutui opened #18311 "question about `-D_GLIBCXX_USE_CXX11_ABI` when compiling pytorch and pytorch extensions."
According to #13541, PyTorch is compiled with `-D_GLIBCXX_USE_CXX11_ABI=0` by default. However, https://github.com/pytorch/pytorch/blob/83221655a8237ca80f9673dad06a98d34c43e546/torch/utils/cpp_extension.py#L398 shows that python extension is built with `-D_GLIBCXX_USE_CXX11_ABI=0` too. But if I have pytorch built with `-D_GLIBCXX_USE_CXX11_ABI=1`, I can't override `-D_GLIBCXX_USE_CXX11_ABI=1` when

[2019-03-22 01:59] yaojunr opened #18312 "Trace perform weirdly on BatchNorm"
## 🐛 Bug

I have use jit to trace a model which is based on ResNet. When the batch size of the input is 1, the result is correct. However, if the batch size is not 1, the result have a little difference. And I think it's caused by the different behavior of BatchNorm.

## To Reproduce
I use the code below.
[code]

## Expected behavior

With the input shape of (3,3,224,224), the result should be 3*1

[2019-03-22 02:02] cpuhrsch commented on #8154
@jhmenke - Can we consider this issue resolved?

[2019-03-22 02:04] traveller59 commented on #17233
same error in python 3.7.2, works in python 3.6.

[2019-03-22 02:06] mdasifjalal opened #18313 "cuda out of memory while loss.backward()"
Traceback (most recent call last):
  File "info.py", line 409, in <module>
    loss.backward()
  File "/home/xyz/anaconda3/envs/ml_torch/lib/python3.7/site-packages/torch/tensor.py", line 93, in backward
    torch.autograd.backward(self, gradient, retain_graph, create_graph)
  File "/home/xyz/anaconda3/envs/ml_torch/lib/python3.7/site-packages/torch/autograd/__init__.py", line 90, in backward

[2019-03-22 02:37] ezyang commented on #18311
Yes, this is a legit bug. I'll happily accept a patch to fix this. I don't recall if we publish which ABI we were built with, but assuming there is a way to check, all you need to do is condition the flag on that flag.

[2019-03-22 02:41] SsnL opened #18315 "[FR] support default size (scalar) in torch.randint"
## Motivation

This will be useful for people implementing stochastic algorithms and want the script to respect pytorch seed. np also has this.

[2019-03-22 02:48] ezyang commented on #18293
cc @kostmo

[2019-03-22 03:48] name-yy opened #18317 "Add a RandomBatchSampler ?"
## 🚀 Feature
Shuffle samples by batch

## Motivation
I'm working on a variable length sequence classification problem and use collate_fn to padding zeros in each batch. Sorting the samples approximates the length of the samples within a batch to avoid excessive padding. So I would prefer to shuffle only by batch rather than by sample.

## Pitch

Shuffle by batch in each epoch

## Alternatives
I wr

[2019-03-22 03:49] jspisak opened #18318 "Model Quantization for PyTorch (Proposal)"
## 🚀 tl;dr
Attached is a proposal for graph mode quantization in pytorch (model_quantizer) that provides end to end post training quantization support for both mobile and server backends. Model quantization supports fp32 and int8 precisions as a starting point and will expand to support other precision types based on customer needs. Details can be found in the attached pdf doc:

[Model Quantizatio

[2019-03-22 05:26] peterjc123 opened #18319 "Add Windows tests for multiple configurations"
## Proposal

The question originated from #18176. Since there are so many tests in Linux, why don't we add tests for Windows? Below are the configurations that could be added.

1. 32 bit CPU build
2. separate CPU build with latest VS (https://devblogs.microsoft.com/cppblog/game-performance-and-compilation-time-improvements-in-visual-studio-2019/?utm_source=wechat_session&utm_medium=social&utm_oi=4

[2019-03-22 05:47] hhsecond opened #18320 "JITed program is getting stuck"
## 🐛 Bug

I have a program that's JITed using both script and trace. While the non-JITed version executes without any problem, JITed version gets stuck in a while loop.

## To Reproduce
Below snippet is the complete script (it's a variant of PyTorch Chatbot example given in the doc).
So the issue I have is with the `wrapper` function I guess. It's not returning control and getting stuck in the whi

[2019-03-22 07:09] PK15946 opened #18323 "RuntimeError when exporting model with reflectionpad into onnx"
## 🐛 Bug

If I subtract some scalar before use ReflectionPad, the model cannot be converted.
## To Reproduce

Steps to reproduce the behavior:

1.Simply run the provided code below

[code]
## Environment

 - PyTorch Version (e.g., 1.0): 1.0.1
 - OS (e.g., Linux):Linux
 - How you installed PyTorch (`conda`, `pip`, source):conda
 - Build command you used (if compiling from source):
 - Python version

[2019-03-22 07:20] jhmenke commented on #8154
i guess so, thanks for your time!

[2019-03-22 07:31] xsacha commented on #18319
I've been trying to get Windows builds to work on v1.0.1 and there's so many bug fixes I have had to backport. It is clear to me there wasn't much testing with Windows, so this is an important step.

In fact, one of the issues required me to update to CUDA 10.1. I do wonder how it worked on the nightly builds.

[2019-03-22 07:37] ShadowLau opened #18324 "Trying to do Tracing + Scripting with PYTORCH_JIT=0 silently breaks things"
## ❓ Questions and Help

Hi, recently i am trying to use pytorch model in C++，i mixed tracing and scriping to transform pytorch model. But i find the outputs in C++ is different with outputs in python, and the outputs is different w/o PYTORCH_JIT=0 in pure python. I load pretrained model before tracing(maybe i was wrong with that, but how to load weights before tracing if the traced modules are su

[2019-03-22 07:47] apsdehal commented on #18180
This error normally happens when you try to use your model with `DistributedDataParallel` and it has unused parameters. In your case, only one of the 10 linear layers from forward will be used, other 9 will be unused in particular forward. To fix this, try to write code in a way that none of the layers in model are unused in forward.

[2019-03-22 07:54] ustctf commented on #18180
I come upon almost the same problem.

Furthermore, currently it is quite usual to have such unused params such as in conditional computing and in architecture search. Are there any plans to fix this? @apsdehal

[2019-03-22 07:56] apsdehal commented on #18180
I am following #13273 for updates.

[2019-03-22 08:03] LIMr1209 opened #18325 "ModuleNotFoundError: No module named 'models'"
mdoel = torch.load('/opt/checkpoint/ResNet152.pth',map_location='cpu')

Traceback (most recent call last):
  File "/home/tian/pycharm-2018.3.3/helpers/pydev/pydevd.py", line 1741, in <module>
    main()
  File "/home/tian/pycharm-2018.3.3/helpers/pydev/pydevd.py", line 1735, in main
    globals = debugger.run(setup['file'], None, None, is_module)
  File "/home/tian/pycharm-2018.3.3/helpers/pydev/p

[2019-03-22 08:27] #8154 closed

[2019-03-22 08:43] hubutui commented on #18311
Emm, I'm trying to build [apex](https://github.com/NVIDIA/apex) for ArchLinux.  And according to pytorch's [PKGBUILD](https://git.archlinux.org/svntogit/community.git/tree/trunk/PKGBUILD?h=packages/python-pytorch), there is no modify related to this flag. I believe that pytorch is build with `-D_GLIBCXX_USE_CXX11_ABI=0`, which is the default behavior of pytorch official configuration. So it would

[2019-03-22 08:52] t-vi commented on #18324
I will say that it's pathological to feed a constant to BatchNorm, but nonetheless something bad seems to happen with `PYTORCH_JIT=0` and the BatchNorm.

[code]

[2019-03-22 08:52] drnikolaev commented on #16336
Confirmed! Thank you folks!

[2019-03-22 08:52] #16336 closed

[2019-03-22 09:14] ShadowLau commented on #18324
@t-vi Thanks for reply, but in your scripts, if the "input_data" is generated by torch.rand(), the outputs are different.

[2019-03-22 10:04] Rhuax commented on #18313
It's a quite simple error message: you don't have enough RAM on your gpu in order to allocate memory needed to the backward pass. Can you post some code? Are you watching the memory usage with `nvidia-smi`?

[2019-03-22 11:42] ShadowLau commented on #18324
@t-vi Thanks

[2019-03-22 12:47] t-vi commented on #18324
I'm not sure it should silently break though. @driazati @jamesr66a , do you know?

[2019-03-22 13:01] t-vi commented on #18318
Ha!

[2019-03-22 13:47] robbine commented on #16699
The exception disappeared. Thanks a lot !

[2019-03-22 13:47] #16699 closed

[2019-03-22 14:07] ezyang opened #18329 "OnnxBackendRealModelTest.test_bvlc_alexnet_cuda is flaky on ROCm"
[code]

Sample log: https://ci.pytorch.org/jenkins/job/caffe2-builds/job/py2-devtoolset7-rocmrpm-centos7.5-test/11026/console

[2019-03-22 14:44] jspisak commented on #18318
Won't be long now.. :)

[2019-03-22 15:14] slaweku opened #18333 "Unserialize autograd"
## 🚀 Feature [FR] Unserialize autograd

backward() function is serialized, per device, so also on CPU. A multithreaded learning (e.g. with separate models, trainers) is not possible, no matter how many cores the box has.
My models are small, so GPUs are not that useful, but I would like to train a number of them concurrently, e.g. by manipulating a subset of data presented to each of them.
Also, e

[2019-03-22 15:59] SsnL commented on #18325
https://pytorch.org/docs/master/notes/serialization.html#recommended-approach-for-saving-a-model

[2019-03-22 15:59] #18325 closed

[2019-03-22 16:00] SsnL commented on #18324
Trace with PYTORCH_JIT=0 does a lot of things wrong. Relevant issue: https://github.com/pytorch/pytorch/issues/16293

[2019-03-22 16:08] raghuramank100 commented on #18318
We are initially planning to support export to netdef from pytorch as mobile runtime is still based on caffe2.

[2019-03-22 16:21] t-vi commented on #16293
I think warning would be good. It seems that people do stumble over it. (#18324)

[2019-03-22 16:22] t-vi commented on #18324
Thanks, Simon. I'm closing this as a duplicate of the bug with your much more elaborate analysis.

[2019-03-22 16:22] #18324 closed

[2019-03-22 17:02] #18313 closed

[2019-03-22 17:02] eholly1 opened #18337 "Pass Multiple Tensors in CPP Module Forward"
## 🚀 Feature
Functionality to pass multiple tensors as arguments to cpp module forward.

## Motivation

Used python library torch.jit.ScriptModule to save a module whose forward method takes two inputs, `def forward(self, x, y)`. After loading in cpp with torch::jit::load, I can't figure out how to correctly pass the input to my forward function.

In [issue #15523](https://github.com/pytorch/pytor

[2019-03-22 17:28] eholly1 commented on #18337
[solved] Turned out it works to push multiple input tensors to the IValue like so:

`std::vector<torch::jit::IValue> i;
  std::vector<float> x = {2.0, 1.0, 0.5, 3.0, 4.0};
  std::vector<float> y = {3.0, 2.0};
  i.push_back(torch::tensor(x));
  i.push_back(torch::tensor(y));

  torch::Tensor output = module->forward(i).toTensor();`

[2019-03-22 17:50] eellison commented on #18320
This looks to be an infinite loop in requires_grad analysis, looking into it

[2019-03-22 18:16] mc-robinson commented on #16045
Having spent way too long finding this error, I would be happy to submit a pull request -- but I would appreciate your help/thoughts on a few considerations first.

1. I can't think of any case in which broadcasting is useful for MSELoss(). Therefore, throwing an error is seemingly more appropriate to me. However, I've often seen training functions like this:

[code]

from fastai https://github.co

[2019-03-22 18:22] ailzhang commented on #16045
Hmmm I don't remember why we decided to broadcast for some loss functions, it might be when some of the loss functions were implemented in python, they got broadcast for free and people start seeing mismatched behaviors.
I'm fine with throwing errors on this.
cc: @gchanan  @fmassa your thoughts?

[2019-03-22 18:31] soumith commented on #16045
we should throw a warning when broadcasted for nn.MSELoss i think.

[2019-03-22 18:32] soumith commented on #16045
i'm also supportive of a hard error, but a warning would be sufficient

[2019-03-22 18:49] ailzhang commented on #16045
@mc-robinson  Feel free to submit a PR if you are interested!

[2019-03-22 18:50] mc-robinson commented on #16045
Ok will do! Do we think my code was alright or do we just want to stick with a warning for now before broadcasting?

[2019-03-22 18:51] soumith commented on #18337
cc: @yf225 @gchanan maybe we should push docs or examples to cppdocs wrt this

[2019-03-22 18:57] mc-robinson commented on #16045
Hard error has the potential to impact fair amount of training code... For example, the following code would lose its generality unless we deal with DataLoader shapes automatically in the loss function

[code]

[2019-03-22 19:00] ailzhang commented on #16045
Yea I think we might prefer a big warning at this moment, and make it a hard error in a future release when users are used to this behavior. A hard BC breaking is bad I guess.

[2019-03-22 19:24] codexetreme commented on #16663
Is this still open? I would Like to help fix it...

[2019-03-22 19:30] mc-robinson commented on #16045
Ok, I'll at least get a warning out there for now

[2019-03-22 20:04] ericnakagawa opened #18351 "Port SpatialConvolutionMM and VolumetricConvolutionMM to ATen"
LARGE

[2019-03-22 20:04] ericnakagawa opened #18352 "Port SpatialDilatedConvolution and VolumetricDilatedConvolution to ATen"
LARGE

[2019-03-22 20:04] ericnakagawa opened #18353 "Port SpatialFullDilatedConvolution and VolumetricFullDilatedConvolution to ATen"
Large

[2019-03-22 20:04] ericnakagawa opened #18354 "Port SpatialReflectionPadding and TemporalReflectionPadding to ATen"
Large

[2019-03-22 20:04] ericnakagawa opened #18355 "Port TemporalReplicationPadding to ATen"
Medium

[2019-03-22 20:10] alamahzak opened #18356 "python scipy.misc"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

[2019-03-22 20:10] alamahzak opened #18357 "python scipy.misc"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

[2019-03-22 20:10] cpuhrsch commented on #18189
Working on it here: https://github.com/pytorch/pytorch/pull/18309

[2019-03-22 20:13] alamahzak opened #18358 "python scipy.misc"
hello i want a help please
this is my code :
`from scipy.misc import imread, imsave, imresize
first = imread('aa.jpg')
sec = imresize(first, (3000,3000))
imsave('aaa.jpg',sec)
`
and this is the output
`File "_ufuncs.pyx", line 1, in init scipy.special._ufuncs
ImportError: DLL load failed: The specified module could not be found.
`
 how can I fix it please :(

[2019-03-22 20:18] t-vi opened #18359 "NCCL uses old(?) CUDA ARCH, causing very slow startup"
## 🐛 Bug

On my computer (with GTX1080Ti, CUDA 10) and with today's master, I'm getting extremely slow (60 sec?) startup times. `sudo perf top` (thanks, @soumith) indicates that this is due ptx-jitting. Using NCCL seems to produce sm_30 assembly in the libcaffe2_gpu.so, which I don't get when not using NCCL.

Setting TORCH_CUDA_ARCH=6.1 doesn't help.

## To Reproduce

Compile from source on GTX108

[2019-03-22 20:54] #9940 closed

[2019-03-22 21:02] ezyang commented on #18108
Actually, I need this fixed for something I'm working on, will submit PR.

[2019-03-22 21:05] NathanSegerlind commented on #15949
If it helps refine things any... I'm getting it with gcc 5.4.0

[2019-03-22 21:08] VitalyFedyunin commented on #18172
Can you please be more specific about the nature of the error you are getting while trying torch.multiprocessing

[2019-03-22 21:12] SsnL commented on #18359
relevant: https://github.com/pytorch/pytorch/issues/13763

[2019-03-22 21:12] SsnL commented on #18358
not related to pytorch

[2019-03-22 21:12] #18358 closed

[2019-03-22 21:12] SsnL commented on #18357
not related to pytorch

[2019-03-22 21:12] #18357 closed

[2019-03-22 21:12] SsnL commented on #18356
not related to pytorch

[2019-03-22 21:12] #18356 closed

[2019-03-22 21:30] pfrendl opened #18363 "arange cuda bug"
## 🐛 Bug

torch.arange() does not adhere to the documentation for small stepsizes for cuda tensors.

## To Reproduce

input
[code]

output
`(torch.Size([80]), torch.Size([80]), torch.Size([800]), torch.Size([801]))`

input
`a[0], b[0], c[0], d[0], a[-1], b[-1], c[-1], d[-1]`

output
`(tensor(-4.), tensor(-4., device='cuda:0'), tensor(-4.), tensor(-4., device='cuda:0'), tensor(3.9000), tensor(3.900

[2019-03-22 22:04] ngimel opened #18365 "mkl-dnn build breaks with mkl 2019.3"
## 🐛 Bug
When building with mkl 2019.3 installed (this is now the default version on conda) I'm getting the errors related to deprecation of some functions:
[code]

## To Reproduce
conda install mkl mkl-include
python setup.py develop

## Expected behavior

Build does not error out

## Environment

Current master, Ubuntu 16.04, python 3.6 inside conda env

[2019-03-22 22:06] rahulunair commented on #18365
MKL-DNN version breaks on ClearLinux  28320 as well for mkl 2019.3

[2019-03-22 22:15] Mrmoore98 commented on #14632
I am confused that using same parameters in distributed.all_gather and distributed.gather functions, only distributed.all_gather can work but distributed.gather does not and shows RuntimeError: non-empty gather_list can be given only to gather destination

[2019-03-23 00:11] zdevito opened #18376 "Cleanup code in register_c10_ops.cpp"
This code, https://github.com/pytorch/pytorch/blame/master/torch/csrc/jit/register_c10_ops.cpp#L64, is a _huge copy/paste_ of already existing functionality that is going to make it really hard to make changes to tracing and the IR in the future. There is a TODO in the code, but I am opening this issue to track progress on cleaning it up.

Note the equivalent code in custom_operator.h, which does

[2019-03-23 00:44] wentaoveggiebird commented on #18062
@ezyang I'm trying to install pytorch on an HPC cluster. It doesn't have glibc_2.14 installed so I have to build from source. Another problem is it only has two versions of gcc:4.9 and 6.2. I tried both, neither of them works. Luckily, I found a build which supports glibc_2.12, so my problem is temporarily solved.

[2019-03-23 00:57] dylanbespalko commented on #17249
Thanks @ezyang,

1. I will look into ghstack right away.
2. I have ported ```__array_ufunc__``` and ```__tensor_ufunc__``` and now I will look into using the C++ codeine to replace all of the python code I dumped in tensor.py.
3. I have used binding generators before to port C++ libraries. This was first (and last) time I wrote the binding manually and yes, the reference counting is horrible. I wi

[2019-03-23 00:58] dylanbespalko commented on #17249
I'm looking into the C++ code generation tomorrow. I was already using part of it to auto generate some python code. I'll try some things and reach out if I need help.

Thanks for all your help.

[2019-03-23 01:10] tuyaao commented on #16654
Hi,
I use pytorch 1.0.1.post2 version, it still block in loss.backward step.
Is any one have fixed this problem?

[2019-03-23 02:37] #17950 closed

[2019-03-23 03:41] Quadrifoglio-Sha opened #18377 "dimension specified as 0 but tensor has no dimensions"
Traceback (most recent call last):
  File "main.py", line 221, in <module>
    test()
  File "main.py", line 200, in test
    prob = probs[start:stop]
RuntimeError: dimension specified as 0 but tensor has no dimensions

[code]

I'm testing the model, but it get the error above, it will happen because start = 0, stop = 1. and that tensor is:
tensor(0.9138, device='cuda:0', grad_fn=<SqueezeBackward0

[2019-03-23 03:48] hhsecond commented on #18320
@eellison Thanks a lot for looking into the issue. Would you mind giving me a bit more info about the issue?
- Where is this `requires_grad` analysis happening? Is there any way I could stop in ScritpModule since I am using it only for inference and I don't think I can use `torch.no_grad()` inside `script`.
- I see you mention `when the outputs and inputs disagreed` in the PR. What do you mean by

[2019-03-23 05:36] rokid-chrislyu opened #18380 "C++ inference (CPU-only) stalls in Android, and crashes on Mac/Linux"
## 🐛 Bug

I tried to deploy a Facebook detectron model (https://github.com/facebookresearch/Detectron) trained with my custom dataset (and converted to pb files) onto an Android app through JNI. In the beginning I follow the AICamera example (https://github.com/caffe2/AICamera). But apparently the prebuilt libraries in this example are old, not from the latest pytorch repo, and it does not contain

[2019-03-23 05:38] suo opened #18381 "[jit] be more permissive with bool casting."
In the [TorchScript docs](https://pytorch.org/docs/master/jit.html#torch.jit.ScriptModule) there is an example that doesn't compile:
[code]
because we require explicit casts from tensor to bool. We should either relax that constraint or update the docs.

Thanks to Stepan Ulyanin (@halahup) for reporting this issue

[2019-03-23 05:38] suo commented on #18381
@zdevito @eellison do you remember why we made this change? Can we change it back? It is a very common confusion for users.

[2019-03-23 06:38] SsnL opened #18382 "[FR] make torch.nn.utils.convert_sync_batchnorm a classmethod of SyncBatchNorm"
The function really goes together with SyncBatchNorm, so I think it makes more sense for them to live together. Users would have easier time finding/discovering it too.

https://github.com/pytorch/pytorch/blob/39669316a6fc31c26f5ef1be5c0a0fe862d661cf/torch/nn/utils/sync_batch_norm.py#L4

cc @jjsjann123

[2019-03-23 07:46] Yatharth08 commented on #12711
import torch

RuntimeError: method 'detach' already has a docstring

[2019-03-23 09:10] saivikas112 opened #18384 "pip install torch==1.0.1.post2"
Not able to install latest torch version (torch==1.0.1.post2) using the
"pip3 install torch==1.0.1.post2" on windows system

following error is shown
Could not find a version that satisfies the requirement torch==1.0.1.post2 (from versions: 0.1.2, 0.1.2.post1)
No matching distribution found for torch==1.0.1.post2

[2019-03-23 11:08] rinauoy opened #18386 "anaconda prompt crashes after executing 'conda install pytorch-cpu torchvision-cpu -c pytorch'"
Hello,

I tried to install pytorch with this command 'conda install pytorch-cpu torchvision-cpu -c pytorch' on anaconda prompt. Sadly, now anaconda prompt just crashes and it keeps crashing every time I open it.

Anyone experiences the same issue ?

[2019-03-23 12:21] peterjc123 commented on #18384
Sorry, pytorch for Windows is currently available through PYPI. You have to enter the commands in https://pytorch.org.

[2019-03-23 12:21] #18384 closed

[2019-03-23 12:28] t-vi commented on #18380
"but gives compiler error" has the wrong fix. You could check [my Android repo](https://github.com/t-vi/AICamera/) which seemed to work at least for Soumith and me.

[2019-03-23 14:26] xianshunw opened #18387 "Can't find `Python.h` when include `torch/extension.h`"
When I include `torch/extension.h` in my C++ code, my compiler reported the following error,

[code]

My system is Ubuntu 18.04 with gcc 7.3, I don't have cuda.

[2019-03-23 14:34] rokid-chrislyu commented on #18380
Hi Thomas,

Thanks for the reply. But it seems that your code does not work... I see
that you comment out the inclusion of "libcaffe2_detectron_ops.so"? And in
your code the line: "std::vector<caffe2::TensorCPU> input_vec({input});"
has syntax error on latest pytorch APIs...

On Sat, Mar 23, 2019 at 5:29 AM Thomas Viehmann <notifications@github.com>
wrote:

[2019-03-23 15:12] soumith commented on #18387
well, you need to have Python.h on your system. Maybe you dont have `libpython-dev` package installed.

[2019-03-23 15:12] #18387 closed

[2019-03-23 16:01] ezyang commented on #18365
First thing to check is see if upgrading ideep submodule to latest fixes this. If not, time to file an upstream bug.

[2019-03-23 16:23] ezyang commented on #18365
Oh, these are deprecations, not actual compile errors.

[2019-03-23 16:24] ezyang commented on #18365
It looks like a submodule upgrade should fix this.

[2019-03-23 17:41] dcela commented on #6313
This is still an issue for me as well

[2019-03-23 18:55] mdasifjalal commented on #18313
Yes, I was checking with nvidia-smi. The problem was occurring after some epochs. I found that the allocated GPU memory wasn't being allocated again. I manually deleted them after each epoch and now the problem is resolved. Thanks a lot for your response.

[2019-03-23 19:00] NhanTran96 commented on #18365
I had the same problem. How do I solve it?

My setup:
ubuntu 18.04.2
nvidia-driver-410
cuda 10.0
cudnn 7.5.0
mkl=2019.3

[2019-03-23 20:14] jakirkham commented on #17199
This is a known and quite old issue with GOMP (GNU's OpenMP implementation). Please see [this GCC issue for details]( https://gcc.gnu.org/bugzilla/show_bug.cgi?id=58378 ).

[2019-03-23 20:22] DrClick commented on #13118
I am currently getting this warning with clang 10.0.0 on osx 10.13.6

[2019-03-23 20:32] denru01 commented on #13273
Hi all,

I encountered the same issue. Is there any update or workaround?

[2019-03-23 21:35] cpuhrsch commented on #18189
@stas00 - Could I ask you to try https://github.com/pytorch/pytorch/pull/18309 as a fix? On my end I don't see the bug anymore after patching this.

[2019-03-23 22:09] stas00 opened #18388 "update from source"
## 📚 Documentation

Would it be possible to expand the build from source instructions:
https://github.com/pytorch/pytorch#from-source
to also include 'update' from source instructions for those who already have the source checked out and built it?

Until now I wasn't successful at rebuilding pytorch after git update, and had to repeat the whole wipe out, git clone, build from scratch cycle which t

[2019-03-23 22:14] stas00 opened #18389 "build from source: outdated magma-cudaXXX versions"
## 📚 Documentation

From https://github.com/pytorch/pytorch#from-source

This needs to be updated to the supported magma-cudaXXX versions - some of those older ones removed. replace 91 with 90, add 100 to match cuda 80, 90, 100 listed at https://pytorch.org/get-started/locally/?

[2019-03-23 22:38] mrgloom commented on #4546
I'm installing pytorch under virtualenv:
[code]

I have cuda 10.1 installed:
[code]

But for some reason:
[code]

So I get:
[code]

Under /user/local I have:
[code]

[2019-03-23 22:41] stas00 commented on #18189
@cpuhrsch, I confirm that this fixes the failing test. Thank you!

[2019-03-24 01:11] meganset commented on #13118
Yes, just rebuilt with clang 9.1.0 and still receive the
_warning: attribute namespace "clang" is unrecognized_
when headers with C10_NODISCARD macro are included.

[2019-03-24 01:49] adam-r-kowalski opened #18392 "C++ implementation of policy gradients"
I have written a reference implementation of the policy gradient reinforcement learning algorithm in Python (PyTorch/TensorFlow), Julia (Flux), and now C++ (PyTorch). I was wondering if you all would like to add it to the examples since it seems like the C++ API doesn't have too many yet for reinforcement learning. If there is anything I can do to clean up / improve my code before hand, I would be

[2019-03-24 02:51] SsnL commented on #18388
Usually this works for me:
[code]

If the last step fails, do `python setup.py clean`, then try again.

[2019-03-24 02:52] SsnL commented on #18377
your probs tensor is a scalar.

[2019-03-24 03:22] Sephirot1st opened #18393 "[JIT] Unable to create tensor in torch script"
[code]
It seems like we can not create tensor from a list by torch.Tensor() in a script_method, is there any alternative way to do this?
Using pytorch 1.01

[2019-03-24 03:25] Sephirot1st commented on #18393
I really need some help in using torch script, thank you all.

[2019-03-24 03:35] stas00 commented on #18388
Ah, that explains why it was failing for me, I didn't know I had to do all those steps.

Would it be possible to add this to the official docs, please? Perhaps an update section under 'Installing from Source'?

Thank you, @SsnL!

Thank you!

[2019-03-24 03:47] xianshunw commented on #18387
It seems that this is not the reason. I have installed `python3-dev`, `python-dev` also `libpython-dev` and `libpython3.6-dev`. But this problem has never disappeared.

<img width="787" alt="Capture" src="https://user-images.githubusercontent.com/17881166/54874650-847eb480-4e2a-11e9-80d5-8ed3cec65c52.PNG">

[2019-03-24 04:18] halahup commented on #18381
Yeah, that would be good to see the behavior depicted in the docs, I am sure I am not the first one to stumble on this issue

[2019-03-24 04:45] zasdfgbnm commented on #14093
numpy like repeat will be very helpful to me, please, please, please add this to pytorch :)

[2019-03-24 06:07] budhiee commented on #13118
I have tried it on clang 8.0.0, clang 9.0.0 and clang 10.0.0 on osx 10.13.6 high sierra and all got this warning : attribute namespace "clang" is unrecognized

[2019-03-24 06:40] yl-jiang commented on #6990
Why the fllowing code working?

tensor(0.)

tensor(0.)

tensor([0.1966, 0.1050, 0.0452])

[2019-03-24 07:52] lutzroeder opened #18398 "Build from source in virtualenv causes libiomp5.so load failure / does not install mkmkl"
## 🐛 Bug

Build from source in virtualenv causes error below on Ubuntu 18.04.

## To Reproduce

Steps to reproduce the behavior:

[code]

Output:

[code]

## Environment

[code]

----

Notes from #18836

## 🐛 Bug

Building pytorch from master (`python setup.py bdist_wheel`) does not
install libraries (`libiomp5.so`,`libmklml_gnu.so` or `libmklml_intel.so`). However these libraries are built and lo

[2019-03-24 08:10] t-vi commented on #18270
For my particlular problem #18360 solves this.

[2019-03-24 09:13] BarMazal commented on #17711
Well, first I can't build from source using the master branch... either with build_windows.bat or the script you wrote above. So the master is the reproducible code for that matter.

Second, here is the code I use. Very mundane:

[code]
And this is the file I'm trying to load (you might want to change the path in the code):
[https://drive.google.com/open?id=1YoQgee1biSA3nh1UcXL-3mRLo_EE5GRV](url)

[2019-03-24 09:22] kintaat opened #18399 "Using 'with torch.cuda.device' but tensor is created in cpu"
## 🐛 Bug

I create a tensor inside `with torch.cuda.device`, but device of the tensor is cpu.

## To Reproduce
[code]

## Environment

PyTorch version: 1.0.1.post2
Is debug build: No
CUDA used to build PyTorch: 9.0.176

OS: Ubuntu 16.04.5 LTS
GCC version: (Ubuntu 5.4.0-6ubuntu1~16.04.10) 5.4.0 20160609
CMake version: version 3.5.1

Python version: 3.6
Is CUDA available: Yes
CUDA runtime version: C

[2019-03-24 09:49] peterjc123 commented on #17711
Sorry, what I mean `reproducible` is that the build should fail even when you have the environment correctly configured. The Windows CI is green so I don't think it is such a problem. Would you please give me the full log so that I can give you some hints?

[code]

[2019-03-24 10:03] peterjc123 commented on #18319
@xsacha Yes, but what you mention is mainly about some other problems like missing documentation. e.g. our library default to `/MD`. If you want to use `/MT`, then you should pass `-DTORCH_STATIC=1` to CMake. And the reason you need to update to CUDA 10.1 is probably brought by CUDA + VS, which has strong version constraints with each other, which is documented in README.md. Due to limited build r

[2019-03-24 10:40] ekagra-ranjan opened #18401 "Unable to locate SpatialAdaptiveAveragePooling.c"
I am looking for SpatialAdaptiveAveragePooling.c. I found it on this [branch](https://github.com/pytorch/pytorch/tree/949559552004db317bc5ca53d67f2c62a54383f5/aten/src/THNN/generic) but failed to find the same in the [master](https://github.com/pytorch/pytorch/tree/master/aten/src/THNN/generic). Can someone help me with this?

[2019-03-24 11:28] Ahmedn1 commented on #2714
@soumith I have the same error but it regards the FMA4 instructions. Here is the dump:

My processor does not seem to support these instructions so I built pytorch from the source but I still keep getting the same error which is weird.

[2019-03-24 12:46] vishwakftw commented on #18401
SpatialAdaptiveAveragePooling was removed in [this commit](https://github.com/pytorch/pytorch/commit/64b336420918d31ee3da623bbcb7afadc73edb6d).

Please close the issue if you think it is resolved.

[2019-03-24 13:19] ekagra-ranjan commented on #18401
Thanks a lot!

[2019-03-24 13:19] #18401 closed

[2019-03-24 13:35] ekagra-ranjan opened #18403 "Regarding porting of functions in ATen directory"
In reference to #14714 and #18065, can someone clarify my doubts regarding the porting of functions from THNN to native as the functions currently seem to be distributed unevenly across the ATen directory (Adaptive Average pooling is available [here](https://github.com/pytorch/pytorch/tree/master/aten/src/ATen/native) whereas Average Pooling is available [here](https://github.com/pytorch/pytorch/t

[2019-03-24 13:45] ekagra-ranjan commented on #18351
Guide for porting: https://github.com/pytorch/pytorch/wiki/TH-to-ATen-porting-guide

Example PR for porting: adaptive_avg_pool2d (#14714)

[2019-03-24 13:45] ekagra-ranjan commented on #18352
Guide for porting: https://github.com/pytorch/pytorch/wiki/TH-to-ATen-porting-guide

Example PR for porting: adaptive_avg_pool2d (#14714)

[2019-03-24 13:45] ekagra-ranjan commented on #18353
Guide for porting: https://github.com/pytorch/pytorch/wiki/TH-to-ATen-porting-guide

Example PR for porting: adaptive_avg_pool2d (#14714)

[2019-03-24 14:18] SsnL commented on #18399
This is expected. These are sort of legacy APIs. They only change the default cuda device, which means that it creates on that specified device only if you ask for a cuda tensor. See the documentations.

[2019-03-24 14:18] #18399 closed

[2019-03-24 14:59] jgontrum opened #18404 "Embedding changes even though gradient is zero when using Adam"
## 🐛 Bug

I discovered that the embeddings of words slightly change after calling `optimizer.step()`, even though the embedding was not part of the back propagation chain and its gradients were zero. Interestingly, this only happens after the word was seen once, but occurs at every update afterward. If I use SGD instead of Adam as an optimizer, my code behaves as expected.

To me this smells a lot

[2019-03-24 15:27] honnibal commented on #18404
Whether you consider this a bug or not depends on somewhat subjective interpretation of what the layer should be doing. The adam solver uses a moving average of the gradients, so even if you have a 0 gradient in the batch you can have a non-zero update. If PyTorch supports sparse updates for embedding layers, that would probably solve the issue.

I discussed this a while ago on the DyNet tracker:

[2019-03-24 15:55] Evpok commented on #18404
It does actually (setting `sparse=True` when building the `Embedding` layer), but it requires a separate optimizer for these layers (`SparseAdam`) or AllenNLP `DenseSparseAdam` (which is a wrapper for both versions of Adam)

[2019-03-24 16:18] ezyang commented on #18353
This will require also porting im2col and vol2col as part of the process

[2019-03-24 16:27] soumith commented on #18403
about (1), the answer is yes.

about (2), only if they are actually referred to from the frontend (there might be dead code)

[2019-03-24 16:30] soumith commented on #18404
As mentioned by the folks above, we indeed provide SparseAdam that explicitly defines how we modify the Adam algorithm to deal with sparse situations.

As @honnibal mentioned, this is not really a bug if you actually use the original formulation as-is.

See https://pytorch.org/docs/stable/optim.html#torch.optim.SparseAdam for more info

[2019-03-24 16:30] #18404 closed

[2019-03-24 16:33] soumith commented on #2714
@Ahmedn1 in your case, it's possible that the processor is actually reporting that it supports these instructions, but it actually doesn't. It's weird, but I've seen it happen before.

[2019-03-24 16:37] soumith commented on #18387
wait, why do you have a `make`? are you using cmake or python setuptools?

[2019-03-24 17:15] zasdfgbnm opened #18405 "_unique_dim needs refactor"
I am profiling the training of my model which uses
`tensor.unique(dim=0, sorted=True, return_inverse=True, return_counts=True)` for a tensor of size ~`(15388, 2)`, with a manually merge of https://github.com/pytorch/pytorch/pull/18391. There is only one call of `unique` for each forward pass on my model. Timings for unique_dim is really bad:

[code]

_unique and _unique_dim actually need some refa

[2019-03-24 17:35] apaszke commented on #18381
IIRC @zdevito didn't like us inheriting semantics of implicit float->bool casts from Python, but I agree it is somewhat inconvenient the way it is.

[2019-03-24 17:36] shrubb commented on #11004
Same here (shrubb/box-convolutions#17). @JackHunt have you solved this?
@peterjc123 I thought `TORCH_EXTENSION_NAME` is defined automatically by `CUDAExtension` in compiler flags, isn't it?

[2019-03-24 17:41] apaszke commented on #18392
Thanks for opening the issue! I think it's better to keep the discussion in [the examples repo](https://github.com/pytorch/examples). Also, we'll probably want to wait until we reach stability of the C++ API, because right now it's in beta and is subject to some changes.

[2019-03-24 17:43] fmassa commented on #18393
Avoid using the legacy `torch.Tensor` constructor, and instead use `torch.tensor` or `torch.empty`, which both works on script mode.

[2019-03-24 17:43] #18393 closed

[2019-03-24 18:12] apaszke commented on #17929
I mean the size of the IR alone. It's not a very optimized data structure, and we keep a fair amount of redundancy to speed up lookups.

This reasoning is why my 2012 MacBook cannot handle more than two slack channels being open at the same time, so I respectfully disagree :blush:

[2019-03-24 18:13] apaszke commented on #17929
Well the conditions are relatively tightly guarded, so it's not that easy to make a mistake (even those I agree the semantics are a bit goofy). Still, it's used in one place and there's little win for unnecessary pessimization, so I'd rather keep it as is.

[2019-03-24 18:25] ezyang commented on #18319
We can easily scale up builds, especially if we're not going to run CUDA. (We should think more if we're going to run CUDA, but that should be OK too.) (3) is easy to do and I can setup another build matrix entry for you as soon as we push scripts to build in debug mode. (Or you can fold it into the existing build job, same way we currently build non-CUDA and CUDA all in one go.) The rest depend o

[2019-03-24 18:26] ezyang commented on #18398
If someone could try reproducing this in a stock 18.04 Docker image (e.g., with a script that triggers this from start to finish) that would be helpful!

[2019-03-24 18:36] ezyang commented on #18386
This isn't enough information to debug. Try reinstalling Anaconda and try installing again. If you need more support, please go to the support forums, and also report what operating system you're on, and also what you mean by "anaconda prompt just crashes."

[2019-03-24 18:36] #18386 closed

[2019-03-24 18:41] ezyang commented on #15949
@NathanSegerlind Yeah, that's consistent with the problem. Did building from source fix the problem for you?

[2019-03-24 19:28] soumith commented on #15949
the incompatibility is wrt the GCC ABI that is different from gcc >= 5.1 and gcc < 5.1.

https://gcc.gnu.org/onlinedocs/libstdc++/manual/using_dual_abi.html

We compile the binaries with the old ABI.

If you are compiling under gcc >= 5.1 and you want to use the binaries, define the flag `-D_GLIBCXX_USE_CXX11_ABI=0`. Alternatively, compile libtorch from source.

[2019-03-24 19:28] #15949 closed

[2019-03-24 19:34] zasdfgbnm opened #18408 "_unique_dim does not support zero size tensor"
Unique without dim works well
[code]

But unique with dim does not work
[code]

I suggest changing the behavior to:
if `dim` refers to a dimension with size 0, and other dimensions have size > 0, then the output and reverse_indicies should be the same empty tensor as input. If `dim` refers to a dimension with size > 0, or there are other 0 sized dimensions, then reject the input with an error beca

[2019-03-24 19:40] soumith commented on #18388
@stas00 sent a PR here: https://github.com/pytorch/pytorch/pull/18409

[2019-03-24 19:41] soumith commented on #18377
please use https://discuss.pytorch.org for questions

also Ssnl gave the answer

[2019-03-24 19:41] #18377 closed

[2019-03-24 19:48] soumith commented on #18365
as an update, @jianhui from Intel said they are working on a hotfix to the MKL-DNN 0.17.3 branch to fix this issue.

[2019-03-24 20:17] #18389 closed

[2019-03-24 20:17] codexetreme commented on #18398
I can try to reproduce it, I will need some guidance though as I am new to this, as I understand a script has to run the whole install and build process right?

[2019-03-24 20:56] bugtig opened #18412 "Completely deterministic network, but result is different from the past and different on different machines."
Hello,

I have a model where I set
`   random.seed(config.seed)
    np.random.seed(config.seed)
    torch.manual_seed(config.seed)
    torch.cuda.manual_seed(config.seed)
    torch.cuda.manual_seed_all(config.seed)
`
and is therefore completely deterministic, and every time I run it it has the same input, gradients and results.

However, now that deterministic gradients and results have now change

[2019-03-24 21:06] eellison commented on #18320
@hhsecond I'm landing the change now so hopefully you won't be affected shortly.

The issue was in our requires_grad analysis, we assumed that a loop output and loop input would converge to both requiring grad or not requiring it.

In the test example

[code]
The loop input is the value of x when we enter the loop and the output is the value of x when we exit. If x requires grad but y doesn't, the

[2019-03-24 21:06] eellison commented on #18320
If you set d_input to not require grad before the loop i think the error would no longer happen.

[2019-03-24 21:25] SsnL commented on #18412
https://pytorch.org/docs/stable/notes/randomness.html

[2019-03-24 21:29] bugtig commented on #18412
Oh I should also note that I've tried `torch.backends.cudnn.deterministic = True
torch.backends.cudnn.benchmark = False` as well but they didn't solve the issue.

[2019-03-24 21:30] SsnL commented on #18412
Yeah. I'm more referring to this part:

[2019-03-24 21:32] bugtig commented on #18412
Ah okay. Difference between different devices makes sense.. but do you have any sense why the results on my machine would have changed? (The same machine is producing different results after a while)

[2019-03-24 21:33] SsnL commented on #18412
Could be this

[2019-03-24 21:51] bugtig commented on #18412
Where i'm confused is that every time I run the same code on any given machine, the results are completely deterministic (same gradient, same loss, same output), so it's not really non-deterministic in that sense, but it IS non-deterministic, to abuse the term, when comparing across devices/platforms.

The real issue is that it's also non-deterministic across _time_ on my own machine, because I'm

[2019-03-24 23:14] bhushan23 commented on #18351
I would like to take this up

[2019-03-25 00:43] abnera opened #18413 "Padding size should be less than the corresponding input dimension"
## 🐛 Bug

Reflective padding throws a runtime error when padding is bigger than one of the input sizes. RuntimeError: Argument #4: Padding size should be less than the corresponding input dimension, but got: padding (46, 46) at dimension 3 of input [1, 3, 128, 36]

## To Reproduce

Steps to reproduce the behavior:

1. Use reflection pad 2D with an image that is 3x width than height

`RuntimeError:

[2019-03-25 01:29] xianshunw commented on #18387
Yes, I am using cmake. I follow your tutorials [here](https://pytorch.org/tutorials/advanced/cpp_export.html#depending-on-libtorch-and-building-the-application).  Do you mean that I need to add the python package by myself in the `CMakeLists.txt`?

[2019-03-25 01:32] SsnL commented on #18413
Hmm, really? There is no proper output in this case, and you don't expect an error?

[2019-03-25 01:44] xianshunw commented on #18387
Hi, I solved this problem by adding the python package in my `CMakeLists.txt`. But I don't think this is what the user should do.

[2019-03-25 01:55] noahgolmant opened #18414 "Add layer-wise adaptive rate scaling (LARS) optimizer"
## 🚀 Feature

Add a PyTorch implementation of layer-wise adaptive rate scaling (LARS) from the paper "[Large Batch Training of Convolutional Networks](https://arxiv.org/abs/1708.03888)" by You, Gitman, and Ginsburg. Namely, include the implementation found [here](https://github.com/noahgolmant/pytorch-lars) in the `torch.optim.optimizers` submodule.

## Motivation

LARS is one of the most popular

[2019-03-25 02:00] hhsecond commented on #18320
Great, thanks a lot for the explanation. I did try with `torch.no_grad()` but apparently, we can't do that inside the JIT yet. I haven't tried `.required_grad=True`. Will give it a shot.

[2019-03-25 02:26] rlorigro commented on #18249
OK I made a PR for this. I couldn't find any documentation on how these are usually done, so I assume the idea is just to edit the docstring in `nn/modules/loss.py`

[2019-03-25 02:40] #18320 closed

[2019-03-25 03:10] xsacha opened #18416 "TorchConfig does not add c10 to TORCH_LIBRARIES"
## 🐛 Bug

When using find_package(Torch CONFIG) and attempting to use the resulting TORCH_LIBRARIES, I find that c10 is not linked in.

The result is my programs will complain about undefined references to all c10 symbols (such as c10::Error, which is thrown from torch::jit::load in libtorch).

## To Reproduce

Steps to reproduce the behavior:

1. Create sample app that loads a model in libtorch
2

[2019-03-25 03:29] mohakbhardwaj commented on #4669
This method works when the input matrices are 2D, but does not work for batches. Did you have any luck with batches?

[2019-03-25 03:33] peterjc123 commented on #11004
Hi, I tried the code and reproduced the issue here. I was able to solve it by replacing the header `torch/torch.h`(deprecated) with `ATen/ATen.h` or `torch/script.h`. But if I try to use `torch/extension.h` in the cuda sources, this error will occur. I'm not sure why it would happen, but the error thrown by the compiler is real, which prevent we do `*p` where `typeof p = void *` in `pybind11/cast.

[2019-03-25 04:21] lutzroeder commented on #18398
`Dockerfile` that will repro the issue:

[code]

Run with `docker build - < Dockerfile` and make sure Docker has enough memory available.

[2019-03-25 04:38] xsacha commented on #18319
@peterjc123 Thanks for that TORCH_STATIC.

@ezyang Unfortunately, CUDA is the recommended usage of pytorch and it also seems to harbour the most bugs.
Right now I'd settle for any testing of libtorch. Even if it's just on the nightly builds. I haven't seen a working nightly libtorch on Windows.

[2019-03-25 04:45] ekagra-ranjan commented on #18403
@soumith I did not get what is meant by frontend in pytorch framework.

[2019-03-25 05:10] abnera commented on #18413
I apologize, I guess then it should be on feature request? I'm using fastai as a pytorch wrapper and I'm able to properly see the image batch with the reflect padding but it later crashes when training with the pytorch reflection pad C implementation error. Ideally, it should force the reflection pad and return a warning.

[2019-03-25 05:11] zasdfgbnm commented on #18405
Some further data:
![image](https://user-images.githubusercontent.com/1032377/54896496-f68ee200-4e9a-11e9-9f08-9fac2de84fc6.png)

[2019-03-25 06:07] xsacha opened #18419 "TorchConfig tries to find Caffe2 Config even if it is not written"
## 🐛 Bug

Caffe2 Config is only written when using shared libraries as below:
https://github.com/pytorch/pytorch/blob/0fe6e8c8703bc69b8795ba7373dcd5c51812a513/CMakeLists.txt#L437-L479

However, there is no such condition on TorchConfig, so regardless of whether shared libraries is on or not, it attempts find_package(Caffe2):
https://github.com/pytorch/pytorch/blob/master/cmake/TorchConfig.cmake.in

[2019-03-25 06:10] codexetreme commented on #18408
Can I take this up? I want to try fix it...

[2019-03-25 06:41] zasdfgbnm commented on #18408
@codexetreme I have no problem with it.

[2019-03-25 07:00] t-vi commented on #18270
#18360 has been reverted, so this happens again.

[2019-03-25 07:14] young666 commented on #5040
I am still having this issue on google colab, my shm size is 6GB

[2019-03-25 07:25] codexetreme commented on #18408
cool, Ill try to fix it.

[2019-03-25 08:33] shrubb commented on #11004
Thanks for the investigation!

[2019-03-25 08:36] sublee commented on #6959
When the autograd graph has parallel lanes, `torch.autograd.backward()` in `CheckpointFunction.backward` seems to trigger other lanes which should be independent with the current lane.

This issue matters because we couldn't save the memory usage to split a mini-batch into several micro-batches just like [GPipe](https://arxiv.org/abs/1811.06965).

For example, we can make 2 parallel lanes using `t

[2019-03-25 08:45] codexetreme commented on #18408
Ok, so I new to this and this is my first time trying to do this and I need some help doing this.
So far I have seen that the function `_unique_dim` is a part of the torch package and that it is defined in `pytorch/aten/src/ATen/native/Unique.cpp` is it here I have to add the functionality to handle the zero size tensor?

[2019-03-25 08:45] klicperajo commented on #16562
In your first error you're doing a regular matmul with a sparse tensor. That won't work, use `torch.sparse.mm` instead.

The second error is because you are transposing a sparse tensor, which hasn't been implemented. There are very few methods that work with sparse tensors. Please refer to the [documentation](https://pytorch.org/docs/stable/sparse.html) for an overview.

Both errors are unrelated

[2019-03-25 09:51] Omegastick commented on #18416
it's worth noting that the examples work fine without explicitly linking c10 on Linux. Maybe it's a Windows thing.

[2019-03-25 09:53] Omegastick commented on #18419
I can confirm this on Ubuntu 16.04.

[2019-03-25 10:02] libichong opened #18423 "unresolved external symbol torch::jit::load"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

Hi pytorch experts,

I am linking the pytorch libraries into another dynamic dll but

[2019-03-25 10:48] houchenyu commented on #14659
Have you solved this problem? I meet the same problem. When I set `num_workers` as default value, the error disappeared.

[2019-03-25 10:52] peterjc123 commented on #18423
How did try to link these libraries? Could you please show me the whole linking command if you are using VS?

[2019-03-25 11:04] libichong commented on #18423
Hi Peter,

There are some predefined environment variables should be no problem.

`<LIBTORCHROOT>$(EXTPATH)\libtorch</LIBTORCHROOT>`

`<LIBTORCH_DLL_Files>  $(LIBTORCHROOT)\$(BUILDTYPE)\torch.dll;$(LIBTORCHROOT)\$(BUILDTYPE)\c10.dll;$(LIBTORCHROOT)\$(BUILDTYPE)\caffe2.dll;$(LIBTORCHROOT)\$(BUILDTYPE)\libiomp5md.dll;
	</LIBTORCH_DLL_Files>`

`<AdditionalDependencies>%(Link.AdditionalDependencies);$

[2019-03-25 11:17] hoban-cs commented on #17643
@yxchng  Hi, I got same problem here. I ran my code on GCP. was there any setting to solve this?

[2019-03-25 11:24] hoban-cs opened #18424 "DataParallel gives `RuntimeError: can't start new thread`"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. run DCGAN example with  nn.DataParallel

  File "/opt/anaconda3/lib/python3.7/site-packages/torch/nn/parallel/data_parallel.py", line 143, in forward
    outputs = self.parallel_apply(replicas, inputs, kwargs)
  File "/opt/anaconda3/lib/python3.7/site-packages/torch/nn/parallel/data_parallel.py", line 153, in parallel_apply
    return

[2019-03-25 11:26] debo024 opened #18425 "Experiencing an error on "python setup.py install""
## ❓ Questions and Help

(base) C:\Users\Debo\pytorch>python setup.py install
Building wheel torch-1.1.0a0+12d6725
-- Building version 1.1.0a0+12d6725
[0/1] Re-running CMake...
-- std::exception_ptr is supported.
-- NUMA is disabled
-- Current compiler supports avx2 extension. Will build perfkernels.
-- Current compiler supports avx512f extension. Will build fbgemm.
-- Building using own protobuf

[2019-03-25 11:38] sun7-she opened #18426 "bad torch.float32 accuracy"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

[2019-03-25 11:46] sun7-she commented on #18426
run the code1:

`import torch
import numpy as np

n=4
c=3
h=32
w=32

inputs = torch.FloatTensor(n,c,h,w).fill_(0)
inputs = np.asarray(inputs)
inputs_sum = 0.0

for j in range(c):
    for k in range(h):
        for p in range(w):
            inputs[0,j,k,p] = (0+1)*1 + (j+1)*0.2 + (k+1)*0.3 + (p+1)*0.4
            inputs_sum += (0+1)*1 + (j+1)*0.2 + (k+1)*0.3 + (p+1)*0.4

for i in range(n):
    pri

[2019-03-25 11:50] sun7-she opened #18427 "the acc of torch.float32 is not good"
run the code1:

[code]

we get the outputs:
inputs[0].sum: 39782.402344
inputs[1].sum: 39782.402344
inputs[2].sum: 39782.398438
inputs[3].sum: 39782.398438
39782.398438 39782.400000

Although the inputs[1], inputs[2] and inputs[3] are zeros, the result is changed.

run the code2:

[code]

we get the outputs:

tensor from numpy tensor(39782.4000, dtype=torch.float64)
numpy from tensor 39782.3999999

[2019-03-25 11:53] albanD commented on #18426
Duplicate of #18427

[2019-03-25 11:53] #18426 closed

[2019-03-25 11:56] albanD commented on #18427
Hi,

This is known. float32 has limited precision but that has nothing to do with pytorch. You can only get 6 significant digits out of them, which is what you get in your experiments. You can do the same with float32 in numpy and you'll get similar results.
Keep in mind when doing your checks that python numbers are float64 numbers.

You need to make sure you don't need more than 6 digits of prec

[2019-03-25 11:56] #18427 closed

[2019-03-25 12:02] mandal4 opened #18428 "I'd like to see how 'backward()' code looked like"
Hi i am newbie for Pytorch and i am looking for the structure of 'backward()' code in backend scope. But i couldn't find any way to see it or any documents about it.
Is there anyone who have searched about it or known something else? :)

[2019-03-25 12:11] sun7-she commented on #18427
Got it! Thank you very much! ~~

[2019-03-25 12:50] xsacha commented on #18416
Yes, everything worked fine on Linux.  I only had this issue on Windows.
It may be that it was built static on Linux but I didn't investigate.

[2019-03-25 12:56] xsacha commented on #18423
How is it finding your include files?
Looks like it could be finding the wrong headers (from a different installation?).

[2019-03-25 13:04] zasdfgbnm commented on #18408
@codexetreme Yes, exactly

[2019-03-25 13:06] Ren4rd commented on #18273
Operators Catalog is down again :/

[2019-03-25 13:09] albanD commented on #18428
Hi,

Please use the [forum](https://discuss.pytorch.org/) for questions. We use github issues only for bugs and feature requests.

[2019-03-25 13:09] #18428 closed

[2019-03-25 13:14] yxchng commented on #17643
@hoban-cs Hmmm... hardware issue is unlikely to happen on GCP. Have you printed out the result of `threading.active_count()`? Can you post a small reproducible code here?

My error was solved by adding `pci=nommconf` to the grub settings on a PC with Ubuntu OS. This is the solution to a hardware issue that affects many X99 motherboard with multi-GPUs. However, I don't  think this will help you sin

[2019-03-25 13:25] xonobo opened #18429 "caffe2 conversion fails on super resolution example"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

[code]

produces:

[code]

[2019-03-25 13:28] xsacha commented on #17682
I ran in to this issue as well. It doesn't happen when building from CMake because it builds both debug and release but for some reason the nightly builds are separated.

Is it possible to have nightly builds that have both debug and release combined? It should still zip well.
The issue I have is that they have separate Configs, which mean I have to actually switch the files or point to a differen

[2019-03-25 13:48] zasdfgbnm commented on #18408
@codexetreme Also https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/cuda/Unique.cu

[2019-03-25 13:52] peterjc123 commented on #18425
https://developercommunity.visualstudio.com/content/problem/275141/c2131-expression-did-not-evaluate-to-a-constant-fo.html It is actually a VS bug. Please update your VS to the latest version. And next time, please send the log in a separate file, which will make it more readable.

[2019-03-25 13:52] #18425 closed

[2019-03-25 14:07] libichong commented on #18423
Missed the include directory:

<AdditionalIncludeDirectories>%(ClCompile.AdditionalIncludeDirectories);$(EXTPATH)\libtorch\include;$(EXTPATH)\libtorch\include\torch\csrc\api\include;</AdditionalIncludeDirectories>

It 's the same folder
![20190325220639](https://user-images.githubusercontent.com/4696504/54925961-51cbdd80-4f4a-11e9-9ffc-36189f507c62.jpg)

[2019-03-25 14:26] SomeUserName1 commented on #7318
also torch.from_numpy is missing
(unresolved reference in __init__.py)

[2019-03-25 14:29] #18419 closed

[2019-03-25 14:37] houweidong opened #18431 "training with Multi-GPU hangs"
when i train my code with single GPU , it's ok, when i train with 0 and any one of [5,6,7,8,9] display cards, it's ok, but when i train with 0 and one card  in [1,2,3,4], it hangs!!!  and when i train with mxnet with multi GPU, it's ok!

 - PyTorch Version (0.4.1):
 - OS (ubuntu 18.04):
 - How you installed PyTorch (`pip`):
 - Python version: 3.5
 - CUDA/cuDNN version:9.0
 - GPU models and configu

[2019-03-25 14:40] peterjc123 commented on #18423
I checked the symbol table of `torch.dll` of the Windows nightlies and got three matches for `torch::jit::load`:
[code]
So it is probably not a bug of the current codebase. Anyway, you can check this one with yourself. First, open `x64 Native Tools Command Prompt for VS 2017` and then please type in the following commands.
[code]
If the output of the last command is not empty. then it should be a

[2019-03-25 14:41] ezyang commented on #17849
cc @VitalyFedyunin

[2019-03-25 15:00] fmassa commented on #18431
I believe we used to support only 8 GPUs in a single machine, not sure that this changed since then.

cc @mrshenli

[2019-03-25 15:04] fmassa commented on #18424
Note that DCGan already has `nn.DataParallel` support inbuilt, see https://github.com/pytorch/examples/blob/3b349ad2d189bb8afbfd38c8b496cd5b2e273412/dcgan/main.py#L146 and https://github.com/pytorch/examples/blob/3b349ad2d189bb8afbfd38c8b496cd5b2e273412/dcgan/main.py#L186

If you are adding an extra `nn.DataParallel` in your model, this might explain the problem.

I'm closing this issue, but let u

[2019-03-25 15:04] #18424 closed

[2019-03-25 15:06] soumith commented on #18403
some backend code is simply not used by any function in python. it's old code from a while ago.

[2019-03-25 15:06] fmassa commented on #18416
@peterjc123 could you have a look?

[2019-03-25 15:09] fmassa commented on #18413
@abnera what behavior would you expect for reflection padding in this case? I don't see any reasonable default that wouldn't be unexpected.

[2019-03-25 15:09] ekagra-ranjan commented on #18403
Thanks for the clarification!

[2019-03-25 15:09] #18403 closed

[2019-03-25 15:11] fmassa commented on #18412
This is expected, some of our kernels are not deterministic (specially during backward).
Might be good to refer to https://github.com/pytorch/pytorch/issues/15359

I'm closing this issue in order to keep the discussion centralized.

[2019-03-25 15:11] #18412 closed

[2019-03-25 15:12] mrshenli commented on #18431
I am not aware of that limitation. cc @pietern

[2019-03-25 15:15] fmassa commented on #18392
Closing following @apaszke comment.

[2019-03-25 15:15] #18392 closed

[2019-03-25 15:28] abnera commented on #18413
Never mind I myself was not understanding the problem well enough. For me, I'm just trying to pad images where I have a 4x1 width to height ratio. With reflection pad that will basically mean reflecting the entire image several. Although this may be crazy from for normal images for the CNN it may or may not be a bad thing. Basically, I can try and square the image but I lose aspect ration and shap

[2019-03-25 15:29] peterjc123 commented on #18416
@xsacha Could you please try if things still work after removing `c10.a`? If yes, then all the functions of `c10` go into `torch`, which is unexpected for static builds.

[2019-03-25 15:31] fmassa commented on #18268
Do you have a minimum example that you can share that reproduces the behavior you are seeing?
Also, what pytorch version are you using?

[2019-03-25 15:33] fmassa commented on #18228
Such questions are better suited for the forums https://discuss.pytorch.org/

[2019-03-25 15:33] #18228 closed

[2019-03-25 15:37] fmassa commented on #18209
Looks like this is a problem with Spacy?

[2019-03-25 15:39] fmassa commented on #18180
@mrshenli could you have a look at this?

[2019-03-25 15:40] nzmora commented on #14864
Hi,
Any updates on this?  It's a rather trivial issue, but it would be nice to have a "standard" and meaningful file extension for the PyTorch checkpoint files.
Thanks!

[2019-03-25 15:41] fmassa commented on #18171
You can pass a `init_fn` in `DataLoader` for controlling this.

[2019-03-25 15:41] #18171 closed

[2019-03-25 15:41] mrshenli commented on #18180
sure, self-assigned

[2019-03-25 15:41] pjh5 commented on #18293
The libtorch binaries (c++ only) store the hash in a file called 'build-hash' since https://github.com/pytorch/builder/pull/275 . Is this needed for the Python binaries too? We did not include this file in the Python binaries because we did not know where to install the file a Python installation (the c++ binaries are just zips of files and must be installed manually).

[2019-03-25 15:42] fmassa commented on #18169
Can you provide a full, self-contained and small example that reproduces the behavior?
With dummy data, or by using a single small file for data?

[2019-03-25 15:48] fmassa commented on #18104
@KosmonautX looks like you should use `pickle.load` instead of `torch.load`?

[2019-03-25 16:04] SsnL commented on #18228
your input is on gpu 1 but your net work is on gpu 0.

[2019-03-25 16:07] SsnL commented on #10127
Yes. This seems 90% times be the reason that I have to clean before rebuilding.

[2019-03-25 16:08] gchanan commented on #16045
warnings without a way to turn them off are pretty annoying.  You could do something like add two parameters:
`warn_broadcasting=True, error_broadcasting=False`.

which would allow us to support all the combinations pretty easily but still have backwards compatibility and still give the user control.

[2019-03-25 16:25] SsnL commented on #12631
closed by #17891

[2019-03-25 16:25] #12631 closed

[2019-03-25 16:32] soumith opened #18434 "improve jit error message for legacy constructor"
Reported by @jph00

It'd be helpful to know in the error message what the non-legacy alternative is.

[2019-03-25 17:09] KosmonautX commented on #18104
I substituted it as below
with open(path, 'rb') as pickled:
    data=pickle.load(pickled)
However data is an unexpected integer form.
Typerror: int object is not subscriptable

On Mon, 25 Mar 2019, 23:49 Francisco Massa <notifications@github.com wrote:

[2019-03-25 17:21] el3ment commented on #4669
It should work with batches - what version of pytorch are you using?

Robert

On Sun, Mar 24, 2019 at 8:29 PM Mohak Bhardwaj <notifications@github.com>
wrote:

[2019-03-25 17:23] fmassa commented on #18414
cc @soumith what do you think?

[2019-03-25 17:27] VitalyFedyunin commented on #16141
#16854 merged to master, please let me know if it solves your problem(s)

[2019-03-25 17:28] ezyang commented on #18333
I don't object to this feature on principle (although there are a number of UI problems we would have to solve first), but it is not going to be too easy to do. Here's a relevant comment from autograd engine:

[code]

Perhaps one possible way we can skirt around this is by introducing virtual CPU devices (which will help us maintain the invariant once again.) Not obvious to me what the best thing

[2019-03-25 17:30] fmassa commented on #18317
I believe the implementation as is assumes some structure on the dataset which doesn't always hold true.

Having a generic implementation could be useful, but I believe things like this might be better in torchtext.

cc @cpuhrsch

[2019-03-25 17:37] ezyang commented on #18220
This would be pretty easy to implement, but we're not sure how widely used it would be. To others: if this is something that you would find useful, please thumbs up on this issue.

A trivial implementation of `no_train` is:

[code]

Though, I guess a real implementation has to be a bit more careful to restore the *original* training state, rather than just setting it to `true`

[2019-03-25 17:38] fmassa commented on #18173
cc @yf225 and @gchanan did we expose `torch.autograd.grad` to the C++ frontend?

[2019-03-25 17:40] #18108 closed

[2019-03-25 17:41] fehiepsi commented on #16141
Thanks a lot for a great work @VitalyFedyunin ! I'll test and get back to you.

[2019-03-25 17:41] fmassa commented on #18206
We have recently improved the documentation of `ignore_index` in
https://github.com/pytorch/pytorch/pull/18117, does it make things clearer to you?

[2019-03-25 17:43] fmassa commented on #18111
We should implement this, the backwards of this is just `to_dense`

[2019-03-25 17:45] soumith commented on #18414
I'm supportive of adding LARS, it's been used in large-scale learning for a while now.

cc: @thatguymike

[2019-03-25 17:57] fmassa commented on #17229
#17582 fix this

[2019-03-25 18:01] codexetreme commented on #18408
Ok, so I have thought of something like this:
![Screenshot from 2019-03-25 23-26-54](https://user-images.githubusercontent.com/8681139/54942661-9446e780-4f55-11e9-9995-3704230a7fa1.png)

Here I have 2 questions,
1. how do I get the size of the `self` tensor?
2. for `output` and `inverse_indices`, I want to make a zero tensor of shape `[1]`.

PS: I will fix the `.cu` file as well, just need to chec

[2019-03-25 18:06] baldassarreFe opened #18436 "UnpicklingError when trying to load multiple objects from a file"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1.
1.
1.

## Expected behavior

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out the checklist below manually).

You can get the script and run it with:
[code]

 - PyTorch Version (e.g., 1.0):
 - OS (

[2019-03-25 18:13] fmassa commented on #18413
I don't know, I'm not really convinced by this argument.

Your CNN model probably doesn't have the right format / you should upsample your image to a minimum size (while keeping the aspect ratio), and then you'll be fine I believe.

I'm closing this issue, but let me know if you disagree

[2019-03-25 18:13] #18413 closed

[2019-03-25 18:13] zasdfgbnm commented on #18408
@codexetreme
1. use `self.dim()` to get the number of dimensions, and use `self.size(i)` to get the size at dimension i
2. I don't think the way you write it works. You want a n-dimensional 0-sized tensor, not just a size 1 tensor containing an element 0.

[2019-03-25 18:19] codexetreme commented on #18408
I think I get it now, and yes you are right, I need an N-dimensional tensor. I will make the changes accordingly.

[2019-03-25 18:25] Msabih opened #18439 "DataParallel hangs on more than 2 GPUs/Cannot kill process either"
I trained UNet model with pytorch dataparallel and with 2 GPUs, it works okay but as soon as I go to 3 or 4, the DataParallel hangs badly. I have to ask admin of the server to restart the machine as nothing else works.

Steps to reproduce the behavior:

1. Use https://github.com/jvanvugt/pytorch-unet
2. Get images of 360p and use sufficiently higher batch_size
3.  Use Parallel.

## Environment
PyT

[2019-03-25 18:37] jamesr66a opened #18440 "[JIT] Support `range(start, stop[, step])` in script"
This should work:

[code]

Right now it does this:

[code]

[2019-03-25 19:46] abnera commented on #18413
@fmassa Yeah is better to close it. However, what I'm trying to say is that the aspect ration itself will be 4x1 so the image will be (1024, 256) or (224, 56). I just want to pad it so that in the (224, 56) aspect ratio it will be converted into a (224, 224). I can easily do this with pad zeros. But can't with reflection pad cuz even when reflecting the entire image in both direction it will not r

[2019-03-25 20:24] ezyang opened #18447 "Tests on CI are not printing exceptions as they occur"
I feel like this used to work.

[code]

`test_AdaptiveAvgPool1d` failed with an error, and in fact the backtrace will tell you instantly what the problem is. But the error is not printed immediately when it happened, so I had to rerun it with `-f`.

[2019-03-25 20:33] ngimel commented on #18414
Apex has LARC implementation https://github.com/NVIDIA/apex/blob/d74fda260c403f775817470d87f810f816f3d615/apex/parallel/LARC.py

[2019-03-25 20:37] SsnL opened #18448 "logdet is not numerically stable"
## 🐛 Bug
[code]

## Expect

[code]

[2019-03-25 20:44] SsnL commented on #18447
IIRC, I always have to use `-f` to make it print immediately.

[2019-03-25 20:45] JesseLivezey opened #18450 "logdet evals to -inf in an overly pessimistic way"
## 🐛 Bug

`logdet` returns `-inf` when it should be possible to calculate a well defined log-determinant. I haven't confirmed, but this is probably because this line
https://github.com/pytorch/pytorch/blob/f268370b42bc26d4e5d0fd88eb79b44ae162dec5/aten/src/ATen/native/LinearAlgebra.cpp#L65
is not stable and is used in the following if/else
https://github.com/pytorch/pytorch/blob/f268370b42bc26d4e5d

[2019-03-25 20:46] SsnL commented on #18382
Just want to comment. If we do this, we need to do this before next release.

[2019-03-25 20:47] SsnL commented on #18450
lol we posted literally 10min apart. see https://github.com/pytorch/pytorch/issues/18448

and pr is https://github.com/pytorch/pytorch/pull/18449

[2019-03-25 20:48] SsnL commented on #18450
would you kindly comment on https://github.com/pytorch/pytorch/pull/18449 to see if it makes sense to you? I tested your repro case on my machine with the patch, and it seems to solve the issue.
[code]

[2019-03-25 20:51] kostmo opened #18451 "download_mnist.py causes flaky tests"
Trace observed in [this build](https://circleci.com/gh/pytorch/pytorch/1049822?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link):

[code]

Perhaps we should reconsider network dependencies in tests, or at least re-host this data in a more stable location.

[2019-03-25 20:51] SsnL commented on #18450
btw, you can use `slogdet` as a workaround if you don't want to build from source

[2019-03-25 20:56] JesseLivezey commented on #18450
Thanks, looks good!

[2019-03-25 20:57] kostmo commented on #18451
Here's [another failure](https://circleci.com/gh/pytorch/pytorch/1051020?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link):
[code]

[2019-03-25 21:01] smessmer commented on #18376
The `custom_operator.h` solution wouldn't work here because we don't have the compile time type information at that point, only the runtime FunctionSchema. The right solution here is probably to change `jit::tracer::addInput/Output` to take IValues instead of concrete types.

[2019-03-25 21:06] kostmo commented on #18451
CC @ezyang @pjh5

[2019-03-25 21:50] xmnlab commented on #10482
hey everyone! some updates about this issue: the porting to ATen for cpu code is done https://github.com/pytorch/pytorch/pull/18020

[2019-03-25 21:50] pjh5 commented on #18451
@ezyang did we get rid of this retry function https://github.com/pytorch/pytorch/blob/master/.circleci/config.yml#L630 ? It's a quick stopgap that helps in most cases.

[2019-03-25 22:34] fmassa commented on #18413
I'd recommend zero padding first. You are introducing quite some artefacts by reflection padding the image with such a factor

[2019-03-25 22:36] SsnL opened #18456 "TestJitGeneratedModule.test_nn_Linear_no_bias occasional segfaults"
[code]

log https://circleci.com/gh/pytorch/pytorch/1054782?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2019-03-25 22:42] yf225 commented on #18083
This question is answered in https://discuss.pytorch.org/t/common-class-of-linear-conv-etc/39987.

[2019-03-25 22:42] #18083 closed

[2019-03-25 22:43] yf225 commented on #18333
Related: https://github.com/pytorch/pytorch/issues/17566

[2019-03-25 23:00] abnera commented on #18413
Yeah, I already tried zero pad and it's terrible mainly because is too many zeros. Right now squish is my only option but wanted to give padding reflect a try. I understand that I'm introducing some artifacts for my type of problem that might actually be a good thing since I have both global and local features.

[2019-03-25 23:24] xsacha commented on #18416
Removing c10.a should be fine.
libtorch is still built shared unless you choose TORCH_STATIC. So in my configuration, with BUILD_SHARED_LIBS=OFF I have a libtorch.so that statically linked c10.a.
All the symbols are now in libtorch.so, so it doesn't require linking.

[2019-03-25 23:26] mohakbhardwaj commented on #4669
My version is 1.0.1.post2. I get the following error message when I try to run it for batches:
`RuntimeError: invalid argument 2: A should have 2 dimensions, but has 3 at /pytorch/aten/src/TH/generic/THTensorLapack.cpp:153`

[2019-03-25 23:29] peterjc123 commented on #18416
I see. Then the different behaviour is brought by the different flags.

[2019-03-25 23:35] el3ment commented on #4669
Which operation fails? Are these cpu or cuda tensors?

On Mon, Mar 25, 2019 at 4:27 PM Mohak Bhardwaj <notifications@github.com>
wrote:

[2019-03-25 23:38] mohakbhardwaj commented on #4669
I think the failure is in torch.trtrs, the triangular solve operation. These are all cpu tensors

[2019-03-25 23:51] el3ment commented on #4669
Try cuda tensors.. i wonder if trtrs is batched for cuda, but not for cpu.

Robert

On Mon, Mar 25, 2019 at 4:38 PM Mohak Bhardwaj <notifications@github.com>
wrote:

[2019-03-26 01:07] #17336 closed

[2019-03-26 01:39] soumith commented on #18439
@Msabih that sounds like a hardware issue, especially wrt " I have to ask admin of the server to restart the machine as nothing else works."

[2019-03-26 01:49] soumith commented on #18169
@shenkev I read through your example. The gradients dont look a **lot** bigger, they look about 2x to 3x bigger, and even that not consistently. You must just be dealing with gradients that happen to be bigger by chance, nothing more.

If you think this is actually a bug, describe why it's a bug -- anecdotally it looks fine.

[2019-03-26 01:49] #18169 closed

[2019-03-26 01:51] soumith commented on #14864
we can go with `*.ptc`. We haven't had time to actually do the task though.

[2019-03-26 01:52] iArunava commented on #18382
I want to take this. I took a look at https://github.com/pytorch/pytorch/blob/39669316a6fc31c26f5ef1be5c0a0fe862d661cf/torch/nn/modules/_functions.py#L5

And the `convert_sync_batchnorm` function here

https://github.com/pytorch/pytorch/blob/39669316a6fc31c26f5ef1be5c0a0fe862d661cf/torch/nn/utils/sync_batch_norm.py#L4

What are the things I need to take care about?

Thanks,
P.S. This will be my fi

[2019-03-26 01:53] soumith commented on #18209
it's not a problem of spacy, it looks like an incomplete or corrupt pytorch install.

Try:

[code]

[2019-03-26 01:53] #18209 closed

[2019-03-26 01:55] soumith commented on #18268
it should not cost that much, you are very likely misusing the class by not setting the GPU correctly.

See our documentation: https://pytorch.org/docs/stable/distributed.html#launch-utility

Especially see the section that says: `Set your device to local rank using either`

[2019-03-26 01:55] #18268 closed

[2019-03-26 01:57] soumith commented on #18431
it's likely this is because the gpus dont have p2p access. describe more what your training code looks like -- do you use DataParallel or DistributedDataParallel?

[2019-03-26 02:09] soumith commented on #18429
cc: @houseroad @zrphercule

[2019-03-26 02:14] soumith commented on #18387
@xianshunw you are including torch/extension.h which is for python purposes. The tutorial does not recommend that.

[2019-03-26 02:15] soumith commented on #18351
@bhushan23 go for it.

[2019-03-26 02:17] soumith commented on #4546
@mrgloom your issue is that you have a driver that's only sufficient for CUDA9.1, but you are trying to use CUDA10. Update your driver

[2019-03-26 02:18] soumith commented on #13273
@denru01 #18251 aims to fix this in pytorch core as well

[2019-03-26 02:18] xkszltl opened #18461 "[MSVC Warning] Inconsistent DLL linkage"
## Bug

Get the following warning on VS2017 when using Caffe2 in our application.
Caffe2 is built as DLL.

[code]

https://github.com/pytorch/pytorch/blob/e1c272797b1078220b3333386450096062acd27f/c10/core/TensorTypeId.h#L35-L38

## Environment

 - PyTorch Version (e.g., 1.0): master
 - OS (e.g., Linux): Win10
 - How you installed PyTorch (`conda`, `pip`, source): source
 - Build command you used (

[2019-03-26 02:19] zhanwenchen commented on #16183
The mkl_dnn submodules is already at  HEAD=0.17.3. `git checkout origin/master` changes nothing. The only solution for me is to download the mkl_dnn 0.18.1 and just pasted the folder into it.

[2019-03-26 02:19] libichong commented on #18423
Hi peter,

It's the same result with your pasted snippet.  I built it with the latest code by using build_libtorch.py without extra configuration. Confused.

Thanks,
Bichong

[2019-03-26 02:22] #18062 closed

[2019-03-26 02:25] soumith commented on #18172
please use https://discuss.pytorch.org for questions

[2019-03-26 02:25] #18172 closed

[2019-03-26 02:27] soumith commented on #16663
@codexetreme check with the nightly or a source build if it's still a valid issue. Maybe that's step 1 :)

[2019-03-26 02:28] soumith commented on #16592
cc: @mruberry @ngimel if you know (now that we have a repro) why the NVRTC_ERROR is happening

[2019-03-26 02:29] soumith commented on #16592
also @flacjacket can you check if this reproduces with the nightly or source build, because #18327 might have fixed something related.

[2019-03-26 02:32] soumith commented on #16486
@source-data the commit didn't go int 1.0.1 release. please try nightly build

[2019-03-26 02:37] soumith commented on #14981
yea I agree. cc: @yf225 @gchanan i think it's worth adding a better cmake error, so re-opening the issue and changing title

[2019-03-26 02:39] zdevito commented on #14867
PyTorch layers do not naturally know their input shapes and layers like convolutions are valid for a range of potential input shapes. So there is no built-in way to store what the input shape should be.

If you know your own input shape and what to record it, putting it in a parameter is not a bad idea. (We are adding support for non-Tensor module attributes in the next release. When that is out,

[2019-03-26 02:51] Msabih commented on #18439
@Soumith
Thanks for the reply

Nothing else works meaning all the ways to kill the process dont work. That has been a fairly common issue with pytorch's parallel data loader when it hangs, the process cannot be killed however, I read that in the most recent version, the interrupt handling was improved so I expected atleast the Ctrl + C or the kill -9 PID to work so I dont have to bother to ask adm

[2019-03-26 02:53] peterjc123 commented on #9461
https://devblogs.microsoft.com/cppblog/msvc-backend-updates-in-visual-studio-2019-preview-2/
Good news herr. OpenMP 4 is going to be supported in VS 2019.

[2019-03-26 02:55] peterjc123 commented on #18319
https://devblogs.microsoft.com/cppblog/msvc-backend-updates-in-visual-studio-2019-preview-2/
Good news here. OpenMP 4 is going to be supported in VS 2019. Another back point for the build with latest MSVC.

[2019-03-26 03:01] #18293 closed

[2019-03-26 03:36] peterjc123 commented on #18461
Let me fix it.

[2019-03-26 03:45] #18263 closed

[2019-03-26 03:52] peterjc123 commented on #18423
Would you please use the following command to show me the directory structure of your project?
[code]

[2019-03-26 04:09] #18272 closed

[2019-03-26 04:12] peterjc123 commented on #17908
It is generated in `torch\include`.

[2019-03-26 04:12] #17908 closed

[2019-03-26 04:14] #15757 closed

[2019-03-26 04:53] xonobo commented on #18429
Similar results for the nightly build pips.

[2019-03-26 05:09] LittleLampChen opened #18470 "how to use the indices returned from topk()"
I want to find out the topk's indices in tensor, however, the torch.topk() function returned indice is not the indices in its original tensor. Does there exist same method to calculate indices from the returned value?
Thanks a lot!

[2019-03-26 05:25] xianshunw commented on #18387
@soumith I see, thanks

[2019-03-26 06:07] libichong commented on #18423
Hi Peter,

I have fixed the issue for my mistake which was using forward declaration wrongly. It's my bad.

`
namespace torch {
namespace jit {
namespace script {
struct Module;    // I used class without checking the source code carefully.
} // namespace script
} // namespace jit
} // namespace torch
`

Thanks for your time and sorry for my carelessness.

Bichong

[2019-03-26 06:55] #18423 closed

[2019-03-26 08:50] houweidong commented on #18431
Thanks for you reply. I have solved the problem, it's the opened ACS of the PLX PCI-e switch caused the problem, so after i closed the switch, it's ok. Just like [here](https://www.supermicro.org.cn/support/faqs/faq.cfm?faq=20732)

[2019-03-26 08:50] #18431 closed

[2019-03-26 08:55] zhch-sun commented on #17349
I met the same problem. waiting for solutions/

[2019-03-26 09:13] sublee commented on #6959
I guess https://github.com/pytorch/pytorch/commit/9f0c4c9f9a4c61f28c620618c845a64adb634135 is related to this issue. @apaszke Would you mind if I ask your opinion?

[2019-03-26 09:50] sonsus opened #18472 "CUDA threadidx error from ATen (IndexKernel.cu:53)"
## ❓ device-side assert from cuda which so far I cannot find any working solution

I asked to the community about this issue and got a short advice about advanced indexing and asynchronous mode of CUDA operations which I cannot follow up just with it. Please help me to dive into it :sob: I have no knowledge about cuda kernels nor GPU programming

- [CUDA threadidx error from ATen (IndexKernel.cu:5

[2019-03-26 12:00] edgarriba commented on #4570
@soumith @vishwakftw is there any plan to support `torch.bincount` for batched input ? I assume that depending on the input, the output might have different shapes. How is pytorch going to handle this needed cases in the future ? Have other related use cases in mind such as how to represent OOP using torch data structures that is still not clear how have to be addressed. Heard about `__tensor_wrap

[2019-03-26 12:18] qaohv commented on #17349
I overcame similar problem and ran distributed script on pytorch 1.0.0 and NCCL 2.4.2. I used pytorch script for distributed learning as example from https://pytorch.org/tutorials/beginner/aws_distributed_training_tutorial.html and faced similar problem. For running I used https://pytorch.org/docs/stable/distributed.html#launch-utility.

This steps helped me overcome problem:
1. I installed NCCL 2

[2019-03-26 13:25] hhsecond commented on #18320
Hi @eellison, I tried making `requires_grad=False` but apparently Aten::ones don't understand that keyword argument and raised `keyword argument requires_grad unknown`. I guess your fix is the only way to go then!

[2019-03-26 13:29] fmassa commented on #13022
I believe this can be closed with #14010?

[2019-03-26 13:33] hpc-unex opened #18474 "torch.distributed.ReduceOp"
How can I access to the class ReduceOp used in pyTorch?

torch.distributed.ReduceOp

I want to see the code of SUM operation on MPI

Thanks

[2019-03-26 13:45] codexetreme commented on #18408
Ok, so far I have come up with this.
Here my doubt is, I am sure this code is ugly and can be made more efficient and "nicer".
and is this what is wanted?
![Screenshot from 2019-03-26 19-10-48](https://user-images.githubusercontent.com/8681139/55001788-5d2b1180-4ffb-11e9-93a0-fe1ef79bf52d.

[2019-03-26 13:51] ptrblck commented on #18405
@zasdfgbnm Sure, give it a go! As I've been a bit busy in the last couple of weeks, I really appreciate it! ;)

[2019-03-26 13:59] qjchen1972 opened #18475 "The latest version of onnx-caffe2 does not support “pow” ？"
I converted the pytorh model into onnx, which seems to be all right. But when I converted this onnx model to caffe2 model, it showed the following error:

/root/anaconda2/lib/python2.7/site-packages/caffe2/python/onnx/backend.py:695: UserWarning: This version of onnx-caffe2 targets ONNX operator set version 9, but the model we are trying to import uses version 10.  We will try to import it anyway,

[2019-03-26 14:05] codexetreme commented on #16663
This is what I got :

![Screenshot from 2019-03-26 19-33-37](https://user-images.githubusercontent.com/8681139/55003273-17bc1380-4ffe-11e9-820c-400ce147a882.png)

This is running on nightly vesion - `torch-nightly-1.0.0.dev20190326`

What exactly should the trace say?

[2019-03-26 14:21] sidazhang opened #18476 "[CPP] Allow binding config structs into the Python front end"
## 🚀 Feature
Allow binding config structs into the Python front end.

Like

[code]
## Motivation

Right now, I have to pass configs into the custom ops by arguments. Which gets really hairy in practice like
[code]

[2019-03-26 14:22] ezyang opened #18477 "ROCm GemmNoTransNoTrans timeout"
[code]

cc @bddppq

[2019-03-26 14:29] libichong opened #18478 "predict with batch input"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

Hi,

I don't find some examples to predict with batch input. My input schema is

inp

[2019-03-26 14:55] #9332 closed

[2019-03-26 15:09] SsnL commented on #18474
It's just an enum...

[2019-03-26 15:10] SsnL commented on #18472
your index is out of bound

[2019-03-26 15:41] mrshenli commented on #18180
#18251 aims at fixing this issue

[2019-03-26 15:45] pietern commented on #17757
Example of mixing model parallelism and data parallelism [in this post](https://discuss.pytorch.org/t/how-to-perform-data-parallelism-for-model-parallelism/40887).

The new gradient reducer should deal with this out of the box.

[2019-03-26 16:09] mrshenli commented on #18122
#18251 aims at fixing this

[2019-03-26 16:41] stas00 commented on #18388
OK, I got to try @SsnL suggestion and

1. the first line of the instructions didn't work:

[code]

The repo was created originally with `git clone --recursive https://github.com/pytorch/pytorch` as per your instructions.

This worked:

`git pull --rebase`

2. But also it didn't help with saving any of the prebuilt-stuff, it's now rebuilding everything from scratch.

If only a few files changed sin

[2019-03-26 16:45] SsnL commented on #18388
1. your remote repo is note labelled as `upstream`, hence the error. since you directly `git clone`'d, just `git pull --rebase` would be fine.

2. depends on how many files changed. and it will be faster if you use `ninja` and `ccache` as per the instructions at https://github.com/pytorch/pytorch/blob/master/CONTRIBUTING.md#use-ccache

[2019-03-26 16:49] zhanwenchen commented on #16183
The mkl_dnn submodules is already at  HEAD=0.17.3. `git checkout origin/master` changes nothing. The only solution for me is to download the [mkl_dnn 0.18.1](https://github.com/intel/mkl-dnn/releases) and just pasted the folder into the third_party/ideep/.

[2019-03-26 16:53] zhanwenchen commented on #18365
In the meantime, I found a solution: download the [mkl_dnn 0.18.1](https://github.com/intel/mkl-dnn/releases) source code and just pasted the folder into third_party/ideep/, replacing the old mkl_dnn folder. It has to be 0.18.1 because 0.17.4 causes the same error.

[2019-03-26 16:55] stas00 commented on #18388
Yes, please remember we are improving/expanding instructions on how to build from source and update from source. So they should match, by either setting the `upstream` in the initial clone instructions or not using it in the update.

Fantastic! Thank you! If it's OK perhaps adding a link to this in the build from source instructions?

[2019-03-26 17:00] eellison commented on #18320
@hhsecond you can also try `.detach()`, I think that would work.

[2019-03-26 17:07] NhanTran96 commented on #16930
I' having this issue. My setup is below:
+ Ubuntu 18.04
+ CUDA 10.0
+ PyTorch 1.1 build from source

I can import torch and torchvison but when I do:

`from torch._C import _update_worker_pids`

the error came out:

Can you help me?

[2019-03-26 17:24] skelleher commented on #7962
Note to anyone building caffe2 with CUDA 9.x on Windows; this build error was ultimately fixed by commit 9310eb1 / pull request #16251.

Looks like that commit was not part of the v1.0.1 tag (last stable release).

The commit adds a string replace to cmake/ProtoBufPatch.cmake to fix the build errors "*::kIndexInFileMessages may not be initialized"

Also note: ProtoBufPatch.cmake only executes if C

[2019-03-26 17:40] NhanTran96 opened #18484 "ImportError: cannot import name '_update_worker_pids'"
## ImportError: cannot import name '_update_worker_pids'

I tried to import with no success. The code I used is:
`from torch._C import _update_worker_pids`

and the error came out:

## Environment

How I can solve it? Thanks.

[2019-03-26 17:50] rderua commented on #4546
How to find a table with the equilant to the format 9020 to the name of the GPU? Mine is Geforce 1080 TI x2, and i have that issue too!

[2019-03-26 18:16] cpuhrsch commented on #18189
With https://github.com/pytorch/pytorch/pull/18309 closed the issue should be resolved. Please let me know if that's not the case. I'm closing the issue for now.

[2019-03-26 18:16] #18189 closed

[2019-03-26 18:18] SsnL commented on #18484
you likely have a previous install of pytorch that you did not remove.

[2019-03-26 18:54] parthagar commented on #7535
Looking forward to it being implemented.

[2019-03-26 19:10] sidazhang opened #18490 "[JIT] JIT is unable to reason about kernels that mutate tensors"
## 🐛 Bug

**Note: This problem only happens in JIT, If I run with `PYTORCH_JIT=0`, the problem disappears**

I have a CUDA kernel that uses the input tensor and writes it to an output tensor.

But the output tensor is empty, until I do something with the return

[code]

[code]

If I don't use the `returned_out`, `out` will remain to be empty. In the above code snippet, the `returned_out` remains u