[2020-01-28 13:05] joehoeller opened #32698 "Add Julia Bindings to Torch backend"
## 🚀 Feature
Usage of Julia to access Torch backend api’s.

## Motivation

Array Programming is a paradigm, just like saying “Object Orientated Programming” or “Functional Programming”, along w/ a compiler that can handle Dispatch and mathematical types makes it a language perfect for deep learning

## Pitch

Create Julia bindings to access torch backend while leveraging the capabilities of the Ju

[2020-01-28 13:43] Baranowski opened #32699 "Division by zero crashes for fmod, remainder and addcdiv operators"
## 🐛 Bug

When the divisor contains zero (an integer), the CPU kernels for `fmod`, `remainder` and `addcdiv` crash with a segfault.

As per ***Additional context** below, only `addcdiv` requires an explicit bugfix.

## To Reproduce

[code]

## Expected behavior

Throw an exception or signal a runtime error in another way

## Environment

[code]

## Additional context

This has been just fixed for

[2020-01-28 13:51] rmcavoy commented on #32648
It definitely challenging to do forward+backward out of order efficiently but it is straightforward to make a dataloader that loads the next batch while the previous batch is still calculating following e.g. https://github.com/pytorch/pytorch/issues/15849#issuecomment-573921048. That dataloader just continuously will load samples into memory until a maximum of twice the batch size is reached (it a

[2020-01-28 13:57] adizhol commented on #32648
I think that the first stage in developing something like this for inference-only should support a single device. This pipeline will fail if the GPU's resources are used by concurrent computations.

[2020-01-28 13:59] adizhol commented on #32648
@rmcavoy The idea is to start the calculations of the next batch while the previous batch is still calculating

[2020-01-28 14:07] snakers4 commented on #32590
Hi, I am using built-in PyTorch transformer encoder modules in my custom model (acoustic model + transformer decoder).

In particular I use them like this
[code]
(yeah, I am using encoder layers as a decoder, in my domain this works well!)

Following the new tutorials, I am trying to apply dynamic [quantization](https://pytorch.org/tutorials/intermediate/dynamic_quantization_bert_tutorial.html).

[2020-01-28 15:02] ezyang commented on #32502
@albanD and I agreed that we should just zero initialize `tmp_values` in this case. Since the `count != size()` case is only used for the ragged end it's fine if we add a few more instructions here, since it's not in the tight loop.

[2020-01-28 15:37] mrshenli commented on #32648
Hey @adizhol

If you are looking for GPipe-like parallelism, yes, it is possible and it's quite simple. Checkout this [tutorial](https://pytorch.org/tutorials/intermediate/model_parallel_tutorial.html).

The paper you cited seems to do it differently though:

Such a more gradual accumulation of information from both passes breaks the precise correspondence between gradients and activations, leadin

[2020-01-28 15:45] Hui-Xie commented on #32625
to @ezyang:
My torch version: 1.3.1

Conda information for pytorch package:
Name                     Version                   Build  Channel
_pytorch_select           0.2                       gpu_0
pytorch                      1.3.1           cuda100py37h53c1284_0
pytorch-gpu               1.3.1                         0

My Linux OS version:
            NAME="Ubuntu"
            VERSION="18.04.

[2020-01-28 15:45] adizhol commented on #32648
@mrshenli I wasn't familiar with this tutorial, so thank you! I will definitely read it :)

Yes, the seem to be using the gradients of only one of the batches, arguing that it's ok when using videos since the changes in the images are assumed to be small. (I guess they could have also stored these gradients and used a running average)
They also hypothesize that this acts as a regularization for th

[2020-01-28 15:54] vincentqb commented on #32645
Oops, you are correct :)

[2020-01-28 15:57] vincentqb commented on #32648
Thanks for the discussion! Based on the above, it seems like the discussion would be better continued on the forum if needed. Please feel free to re-open if you would like to request a specific enhancement or feature based on this.

[2020-01-28 15:57] #32648 closed

[2020-01-28 16:14] vincentqb commented on #32639
`base_lrs` simply come from the optimizer, so you can specify `optimizer(..., lr=1)`, and now your formula in `LambdaLR` is exactly the formula that determines your schedule.

You can also simply create a function to set your schedule:
[code]

That being said, as mentioned in #26423, the function `get_lr` should not have an `epoch` parameter:
[code]

Since these solutions resolve your issue, I wil

[2020-01-28 16:18] kurtamohler commented on #5672
@ezyang, I see. I'll try to find an efficient way to call the unbatched sparse-dense bmm. That would be better to do it that way if I can make it fast enough.

[2020-01-28 16:19] Krovatkin commented on #30902
@IggShaman should be fixed now.

[2020-01-28 16:19] #30902 closed

[2020-01-28 16:26] vadimkantorov commented on #32639
1) In the first place, this issue is about a mystical Python error ("variable not bound", even though it seems to be bound), not about architectural discussion. I know that architectural decision about the pytorch scheduler has been taken. Even given that, this error is very cryptic for schedulers passing to the new API.

2) On `base_lrs`: No, the provided lambda function must be aware of the base

[2020-01-28 16:35] albanD commented on #32625
The reason why this happens is because `s` here requires gradient because it is a view of `x` that requires gradients. So `s` is marked as requirering gradient as well.

We should not do this check for views anymore in the `autograd.Function` output post-processing.

[2020-01-28 16:36] brianjo commented on #32004
If we could get this script working we could add CI to the examples repo to test PRs like we do with tutorials. https://github.com/pytorch/examples/blob/master/run_python_examples.sh  I'll try to debug if I get a chance, but if somebody can do it faster that would be great. I see this error:
[code]
on Ubuntu.
On my mac I get this:
[code]

[2020-01-28 16:40] vincentqb commented on #32639
I agree that the documentation could be improved, see [here](https://github.com/pytorch/pytorch/blob/master/torch/optim/lr_scheduler.py#L163). Please feel free to open a pull request for this. :)

`MultiplicativeLR` and `LambdaLR` are different. The former takes a function that returns a multiplicative factor. The latter multiplies the initial learning rate by the returned value of the function.
[

[2020-01-28 16:47] vadimkantorov commented on #32639
1. Is the variable `values` really unbounded there? It seems initialized in all code branches. This is what is strange. Even if `get_lr(self, epoch)` signature should be avoided. The error is so cryptic that I thought it may indicate some code bug.

2. Then the choice of LambdaLR scheduler should force the user to pass `lr=1` to the optimizer. Yes, this is possible to hack around, I agree.

`The l

[2020-01-28 16:55] SsnL commented on #32407
reopened due to the comment above

[2020-01-28 17:17] #32661 closed

[2020-01-28 17:23] Paralysis commented on #32660
Sorry, this is Duplicate of #32662

[2020-01-28 17:23] #32660 closed

[2020-01-28 17:46] zou3519 opened #32703 "Can't build documentation on master"
## 🐛 Bug

Building the docs on master on my machine gives a long list of scary error messages. The docs build that we run in the CI doesn't seem to have this problem, implying that it might be a dependency issue. However, the `katex` package we use has no versioning(!) and doesn't appear to do normal releases. In the interest of making the docs build portable, we should fix the errors.

[code]

cc

[2020-01-28 17:46] zou3519 commented on #32703
cc @jlin27

[2020-01-28 17:56] ahmhashesh commented on #32166
@yf225 Working on it now

[2020-01-28 18:02] bnehoran opened #32705 "Failure on non-contiguous gradients for F.pad/permute combination"
## 🐛 Bug

Some PyTorch primitives expect the gradient passed in during the backward pass to be contiguous, but not all functions produce a contiguous gradient in their backward pass. When two incompatible functions -- one which returns a non-contiguous gradient in the backward pass, and another which expects a contiguous gradient as input to its backward pass -- are strung together, the autodiffer

[2020-01-28 18:18] adefossez opened #32706 "Torch serialization does not restore tensors properly"
## 🐛 Bug

If a `nn.Module` define a custom `__reduce__` method to customize serialization, with the `__reduce__` function returning some tensors (like a state dict), then upon deserialization, the tensors will not contain the right values.

## To Reproduce

[code]

Steps to reproduce the behavior:

1. Save the above code as `bug.py`
1. Run `python3 bug.py`
1. Observe how when calling `torch.load`,

[2020-01-28 18:24] adefossez opened #32707 "When using autograd in a Jupyter notebook, cuda is initialized even if cuda is not used"
## 🐛 Bug

When using autograd in a Jupyter notebook, cuda is initialized even if it is not used. This prevents any use of `ProcessPoolExecutor` for instance if any gradient has been computed in the main process.

## To Reproduce

[code]

Steps to reproduce the behavior:

1. Save the above code as `bug.py` and run it, it works fine.
1. Save the above code in a Jupyter notebook cell and run it.
1. O

[2020-01-28 18:25] leedtan opened #32708 "tensor.view loses gradient"
## 🐛 Bug

can access gradient of tensor in model path after .backward(). However, gradient not available in nodes immediately after .view()

## To Reproduce
correct behavior:
lhs_pos = torch.linspace(
    1, 32, steps=32, requires_grad = True, dtype=torch.float)

lhs_pos2 = lhs_pos.view(
    2, 4, 2, 2
)
lhs_pos2.sum().backward()
lhs_pos.grad -> tensor([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,

[2020-01-28 18:34] cpuhrsch commented on #32590
Hello @snakers4,

could I kindly ask you to please post a separate issue for this? This issue is related to communicating and planning work around Transformers where you seem to have discovered a concrete bug that we would want to reference separately.

Thanks,
Christian

[2020-01-28 18:39] ggeor84 opened #32710 "QuantizedLeakyRelu"
## 🚀 Feature
Support for quantized leaky relu

## Motivation

Leaky relu is an extremely useful and common activation, which does not have a quantized op yet. It would be extremely useful to support that for many networks.

## Pitch

Add quantized operator for leaky relu

## Alternatives

None

## Additional context

None

cc @jerryzh168 @jianyuh @dzhulgakov @raghuramank100 @jamesr66a

[2020-01-28 18:40] ggeor84 commented on #32542
Got it. Well, I don't have experience to argue against this, so I'll take your word for it :)

[2020-01-28 18:40] #32542 closed

[2020-01-28 19:05] #24702 closed

[2020-01-28 19:13] mrshenli commented on #32708
@leedtan looking at this again, I think it is because `view` is an operator here, and when you assign it to `lhs_pos`, `lhs_pos` becomes non-leaf node which does not require grad by default. You can ask it to keep grad by calling `lhs_pos.retain_grad()` after the view operation.

[2020-01-28 19:13] alanhdu commented on #32536
I did read it, but I don't think it's quite getting at the same thing: that's about reproducibility across repeated invocation of Pytorch, while this is about different types of invocations that should be mathematically equivalent.

That said, based on some in-person conversations with some other (more knowledgable) people, it seems like Pytorch is choosing different algorithms under-the-hood base

[2020-01-28 19:13] #32536 closed

[2020-01-28 19:14] mrshenli commented on #32708
Closing this issue as this is by design.

[2020-01-28 19:14] #32708 closed

[2020-01-28 19:15] rohan-varma commented on #32644
Another instance: https://ci.pytorch.org/jenkins/job/pytorch-builds/job/py3.6-clang7-rocmdeb-ubuntu16.04-test2/14714/console

[2020-01-28 19:32] mrshenli commented on #32706
Have you tried setting the `pickle_module` arg in `torch.save/load`?

According to the [API](https://pytorch.org/docs/stable/torch.html#serialization):

[2020-01-28 19:46] mrshenli commented on #32699
For context, numpy prints a warning in this case:

[code]

[2020-01-28 19:53] rohan-varma commented on #32644
https://app.circleci.com/jobs/github/pytorch/pytorch/4355042

[2020-01-28 19:59] zou3519 commented on #32703
I'm marking this as high pri because everyone I've asked (sample size = 3) has run into these errors. We should figure out if these errors are benign or not.

[2020-01-28 20:23] lyndond commented on #24185
@leotrs methods to accomplish this and more are actively being worked on in #29488

[2020-01-28 20:44] mrshenli commented on #32698
Marking this as "triage review" to collect feedbacks and comments on the pitch.

[2020-01-28 20:46] charleshofer commented on #31915
I ran the test input through OpenCV on Power, which gives the "incorrect" result that PyTorch is giving on Power. It looks like this is Power and x86 having slight differences in their floating point math and not something wrong with PyTorch. The differences are within plus or minus 0.00002. Could we just raise the tolerance on this test case?

[2020-01-28 20:48] #29246 closed

[2020-01-28 20:49] jlin27 commented on #32004
@brianjo - Currently the very first line of run_python_examples.sh is `#!/bin/sh` but if you change it to `#!/bin/bash` it should run and get the same example fails as what you posted that you see on the mac. ([Details](https://unix.stackexchange.com/a/45784) on why that syntax error is removed by changing the bang line)

[2020-01-28 20:52] mrshenli commented on #32694
Does updating submodules help? Can you try the following?

[code]

[2020-01-28 20:53] jamesr66a commented on #32641
cc @raghuramank100 model pruning

[2020-01-28 21:04] kurtamohler commented on #5672
I was able to make a fairly performant implementation where I'm calling the original un-batched sparse x dense operation for each set of indices and values. In some cases it gives a little bit better performance than the workaround, but in most cases I ran, I'm seeing about a 2x slowdown.

I believe one of the bottlenecks is that I'm iterating through all of the sparse tensor's indices in order to

[2020-01-28 21:04] dreiss commented on #32690
libtorch.so (CPU build on Linux) is only ~250 MB, so I'm not sure where the 1.5 GB number comes from.  Still, I understand that 250 MB is a lot.  We support custom builds like you're describing on Android (https://pytorch.org/mobile/android/#custom-build) and iOS (https://pytorch.org/mobile/ios/#custom-build).  I'd be willing to look at a pull request that adds this support to the non-mobile libto

[2020-01-28 21:18] rohan-varma commented on #32644
Could we disable this test until a fix is investigated? cc @jamesr66a @jianyuh

[2020-01-28 21:18] jamesr66a commented on #32644
Yeah, please disable

[2020-01-28 21:38] mrshenli commented on #32687
Can you confirm that the Python version when you run `python setup.py build` is indeed 3.6.9?

[2020-01-28 21:42] xDuck opened #32724 "Illegal Instruction on system without AVX2"
## 🐛 Bug

Using a source-built version of libtorch from commit ID  72eff0021e8fb1e77a557b82f89f6fae2dc1a821

gdb backtrace puts it in ` torch::jit::parseSchemaOrName(std::string const&)`

[code]

The operation being called is `vmovq` as seen from gdb:

[code]

## To Reproduce

Steps to reproduce the behavior:

1. Build from source at `72eff0021e8fb1e77a557b82f89f6fae2dc1a821`
2. Write a program th

[2020-01-28 21:51] xDuck commented on #32724
cc @ezyang @gchanan @zou3519

[2020-01-28 21:56] mrshenli commented on #32680
@keven425 what is the dtype for `input` here? float32? I am trying to create a minimum repro. Looks like the offending line is `self.gamma.to(input.dtype))`, but the following code works fine for me.

[code]

@colesbury do you know why the arg cannot be on GPU?

https://github.com/pytorch/pytorch/blob/02e34919ae690f66d4ffd12a79b4041d232559bb/aten/src/ATen/native/cuda/Loops.cuh#L196-L198

[2020-01-28 22:26] colesbury commented on #32680
@keven425 can you please provide a complete reproduction? Specifically, code that calls FocalLoss and triggers the error.

[2020-01-28 22:33] ezyang commented on #5672
Yep, binary search seems like the right thing to do here.

[2020-01-28 22:35] ezyang commented on #32724
Well, there's your problem :) Maybe if you add `CCFLAGS=-march=x86_64` that will fix your problem?

[2020-01-28 22:37] ezyang commented on #32724
Hmm, I see we have a `USE_NATIVE_ARCH` cmake option but it's supposed to be set to OFF by default.

If you can run the build command verbosely and give us the compile command run when building the object file for parseSchemaOrName (should be `torch/csrc/jit/script/function_schema_parser.cpp`) that would also be helpful info.

[2020-01-28 22:47] xDuck commented on #32724
I was under the impression that pytorch/cpuinfo was used to determine AVX support at runtime. I do need to find a way to cross compile though. I can grab the build logs for you tomorrow morning. Does PyTorch support SSE vectorization? I need to support machines with AVX2/AVX, AVX, or none of the above and realistically I can't distribute multiple packages based on the target CPU - What do you guys

[2020-01-28 22:50] jianyuh commented on #32676
Currently, we only support the dynamic quantized LSTM with FBGEMM on the CPU server side. For the QNNPACK support of LSTM on the mobile side (release schedule for RNNs), cc @supriyar

[2020-01-28 22:51] colesbury commented on #32680
Never mind here's a minimal repro:

[code]

[2020-01-28 22:55] franva commented on #32687
hi @mrshenli yes, I can confirm that.
How?

I saw 3.6.9

[2020-01-28 23:02] rohan-varma opened #32732 "Throw correct UDF exceptions in RPC"
## Throw correct exceptions from UDF in RPC
Currently if a UDF run in RPC throws an exception such as `ValueError` or `TypeError`, we wrap this in a `RemoteException` on the callee side. When raising this on the caller side, we currently raise a vanilla `Exception`, but we should extract the exception type information and raise an exception of that type, to indicate the correct error.

## Motivati

[2020-01-28 23:12] colesbury commented on #32724
Two possibilities:

1) function_schema_parser.cpp is erroneously compiled with AVX
2) std::vector<int>::blahblahblah is used in one of the AVX kernels and that symbol is getting used in the non-AVX code paths.

The second case seems more likely.

@xDuck have you tried the nightly builds? Do those have the same issue?

[2020-01-28 23:44] jianyuh commented on #32644
Added the ASSERTS in https://github.com/pytorch/pytorch/pull/32739

[2020-01-28 23:46] soumith commented on #32289
not just windows. reproduced on OSX / Linux

[2020-01-28 23:47] soumith commented on #29090
- website wizard updated.
- torch, torchvision, torchaudio stable binaries for python 3.8 are live.

[2020-01-28 23:47] #29090 closed

[2020-01-28 23:49] soumith commented on #30331
release is closed

[2020-01-28 23:49] #30331 closed

[2020-01-28 23:50] jianyuh commented on #32644
Disable the test in https://github.com/pytorch/pytorch/pull/32742.

[2020-01-28 23:54] driazati opened #32743 "DISABLED test_quantized_rnn (test_quanization.PostTrainingDynamicQuantTest)"
This has been flaky on master lately, disabling it via #30978

- [result 1](https://circleci.com/gh/pytorch/pytorch/4363741?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link/console)
- [result 2](https://circleci.com/gh/pytorch/pytorch/4356508?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link/console)
- [result 3](https://circleci.c

[2020-01-28 23:56] xDuck commented on #32724
Haven't tried nightlies because it is a significant effort to upgrade our codebase. I will try to reproduce a minimal example tomorrow off the nightly tomorrow and post it here.

[2020-01-29 00:08] jianyuh commented on #32743
The same as https://github.com/pytorch/pytorch/issues/32644. Add the asserts in https://github.com/pytorch/pytorch/pull/32739 and temporarily disable the tests in https://github.com/pytorch/pytorch/pull/32742.

[2020-01-29 00:09] driazati commented on #32743
This task will automatically disable the test rather than have to wait for that PR to land, I think we should keep it open (or just change the title of #32644 to be the same as this one, then #32742 will be unnecessary).

[2020-01-29 00:11] jianyuh commented on #32743
Sure. Reopen the issue.

[2020-01-29 01:09] mcarilli opened #32750 "torch.prod with internal upcasting (fp16 input, dtype=torch.float32 output) produces garbage"
## 🐛 Bug

Create an FP16 tensor:
[code]

Run `torch.prod`:
[code]

Symptoms indicate some sort of memory corruption, so the issue might extend to other TensorIterator reductions that accept an output dtype argument.  However, I was unable to reproduce the symptoms with `torch.sum(fp16_tensor, dtype=torch.float32)`, so maybe the issue is isolated to `torch.prod`.

## Expected behavior

All cases sh

[2020-01-29 01:10] BowenBao opened #32751 "PyTorch freezes on second call to scripted densenet model from torchvision"
## 🐛 Bug

PyTorch freezes on second call to scripted densenet model from torchvision.

## To Reproduce

Steps to reproduce the behavior:

The script freezes after printing the first result.

[code]

## Environment

Both PyTorch and torchvision are nightly, installed by `conda install pytorch torchvision cpuonly -c pytorch-nightly`

PyTorch version: 1.5.0.dev20200128
Is debug build: No
CUDA used to

[2020-01-29 01:29] zzzwen opened #32752 "RPC mock mode for unit tests."
## 🚀 Feature
I am building some distributed features that relies on RPC. For my unit tests, once I need to test multiple workers, RPC will bring up a process group. As a developer that uses RPC api, launching communication layer feels too heavy for unit tests.

It would be great to have a mock version of RPC bypasses the communication layer (process group / gloo / etc ) and enables lightweight RPC

[2020-01-29 01:51] alextrekov3307 opened #32754 "JIT performance discrepancies"
PyTorch Nightly (today)
Fedora 31
Anaconda Python 3.7
GPU: 970 (staying under 3.5 GB limit, last 0.5GB is lower quality memory)

Not completely confident it's a bug, if it isn't there should certainly be something mentioned in the documentation.

`import numpy as np
import torch
import time

data_type = torch.torch.cuda.DoubleTensor

cuda = torch.device('cuda')

points = torch.rand((2**22,3), dtyp

[2020-01-29 01:58] PetrochukM opened #32756 "LambdaLR.load_state_dict has a undocumented side-effect"
## 🐛 Bug

`LambdaLR.load_state_dict` has a undocumented side-effect here: https://github.com/pytorch/pytorch/blob/master/torch/optim/lr_scheduler.py#L220

This caused us an issue because it'd modify our state dict object without our knowledge. We finally noticed the bug after we accidentally ran `load_state_dict` twice with the same state object and it failed.

## To Reproduce

Code:
[code]

Trace

[2020-01-29 02:07] phalexo commented on #32694
It appears that the standard linker (/usr/bin/ld) was unable to do the job. I had to point the symbolic link to /home/developer/anaconda3/compiler_compat/ld.

That said, I would think that setup.py should take care of this kind of stuff on its own. The only reason I had thought of trying this is because I saw some other unrelated issue where the ld was at fault.

I managed to build the 1.5, hopefu

[2020-01-29 02:25] aluo-x opened #32759 "Bizarre "no kernel image" error for pytorch built from source"
## 🐛 Bug

A workstation with Nvidia k40c (compute capability 3.5), Anaconda 2019.10, python 3.7.6, Ubuntu 19.10, GCC 8.3.0, driver 440.48.02.

CUDA SDK version 10.1.243, and cudnn 7.6.5.

Pytorch 1.4.0 is built from source using instructions according to those available on github, with Magma 101 installed.
`export TORCH_CUDA_ARCH_LIST="3.5"` is set.

Compilation succeeds without fatal errors.

The

[2020-01-29 02:49] supriyar commented on #32676
Thanks for flagging this. Support is being added here - https://github.com/pytorch/pytorch/pull/32757

[2020-01-29 04:32] CaoZhongZ commented on #32008
Confirmed the leakage was resulted by GOMP thread number thrashing, more threads more significant of the leakage. I changed the test script to isolate the problem solely to thread numbers. https://github.com/MichaelLutter/pytorch_debugging/pull/2

So I think that's the conclusion. Further investigation should put into why GOMP leak memory.

[2020-01-29 04:36] peterjc123 commented on #30886
I tried with https://github.com/pytorch/pytorch/pull/32688 and the result shows that the error is thrown during the compilation of the source files at the CPU side. So this hypothesis is likely not correct. The new error message is listed below.
[code]

[2020-01-29 04:38] ptrblck commented on #26112
@MatthieuBizien Did you have a chance to reproduce this issue?

[2020-01-29 04:44] ptrblck commented on #31045
@valexsyu The patch should be already in PyTorch `1.4.0`. Are you seeing this error using this version?

[2020-01-29 05:07] snakers4 opened #32764 "Quantization error with nn.Transformer"
## 🐛 Bug

https://github.com/pytorch/pytorch/issues/32590#issuecomment-579261982

TLDR
- I just use plain vanilla nn.transformer layer in my model as a decoder
   - nn.TransformerEncoderLayer
   - nn.TransformerEncoder
- Try quantization like in this [tutorial]
(https://pytorch.org/tutorials/intermediate/dynamic_quantization_bert_tutorial.html)
[code]
- It does not work

## To Reproduce

Steps to

[2020-01-29 05:16] snakers4 commented on #32590
Hi @cpuhrsch

https://github.com/pytorch/pytorch/issues/32764

many thanks!

[2020-01-29 05:22] snakers4 commented on #32764
TLDR - I just used plain vanilla transformer layer in my model as a decoder, to avoid extra fiddling with BERT code and tried your brand new quantization tutorial

Hope this helps and you can replicate my error!

[2020-01-29 06:52] rohan-varma commented on #31752
This would be super useful for the 1.5 release in order to allow a better experience for our users to kick off training jobs.

[2020-01-29 06:58] lanpa commented on #32651
@GeorgKohl  I think this is the default behavior of tensorboard. Please have a look at https://colab.research.google.com/github/tensorflow/tensorboard/blob/master/docs/hyperparameter_tuning_with_hparams.ipynb You can see that the tensorflow's API also creates many cluttered scalar values. You can use the `filter` field in tensorboard to filter out the hparams as a workaround.

[2020-01-29 07:07] twangnh commented on #8976
same error with testing model

[2020-01-29 07:11] keven425 commented on #7617
@YoelShoshan I copied your example from [here](https://discuss.pytorch.org/t/checkpoint-with-no-grad-requiring-inputs-problem/19117/11). However, when I print the gradient with `.grad` on the convolution weights, I still get None. Is there anything extra that I need to do?

[code]

[2020-01-29 07:54] KaiyuYue commented on #31684
@dskhudia @peterjc123  Yes. It can be compiled successfully on Windows now. It works. Thanks for the effort.

[2020-01-29 09:03] bharatk101-dckap opened #32765 "Segmentation fault (core dumped) in Flask APP"
## Segmentation fault (core dumped) after implementing a PyTorch model in  Flask APP

Pytorch Version - '1.4.0+cpu'

I've built a flask app that takes a sentence and predicts it's sentiment.

Here's the debug message/error

[code]

cc @houseroad @spandantiwari @lara-hdr @BowenBao @neginraoof

[2020-01-29 10:06] mfuntowicz commented on #32590
Is there any plan to include a CuDNN (>= 7.5) backend for multihead attentions ?

https://docs.nvidia.com/deeplearning/sdk/cudnn-release-notes/rel_750.html#rel_750

[2020-01-29 11:41] stefanopini opened #32767 "Documentation is not loaded by IDEs"
## 🐛 Bug

The documentation of torch functions (e.g. `torch.sort`, `torch.max`) and the class `torch.Tensor` is not loaded by common IDEs as PyCharm and Visual Studio Code.
The documentation of other modules (e.g. `torch.nn`, `torch.optim`) is loaded correctly.

The problem seems to be related to dynamic documentation which is not supported by IDEs (static docs are not inserted in `torch.__init__.

[2020-01-29 12:27] snakers4 opened #32768 "Fused 1D modules for quantization"
## 🚀 Feature

Fused 1D modules for [quantization](https://pytorch.org/docs/stable/quantization.html).

## Motivation

1D (separable) convolutions are building blocks for sound networks / time series / sequential data.

## Pitch

Ideally, quantization should support 1D as well as 2D operations out-of-the-box.

## Alternatives

Using 2D convolutions.
Although there are approaches and even papers, I

[2020-01-29 12:34] GeorgKohl commented on #32651
@lanpa Thanks for the clarification. For `add_hparams` I can see the value in having multiple sets of parameters for the same model now. I would argue that using the same architecture with different hyperparameters counts as a new run as the resulting model is different. So I would not use `add_hparams` in that way and put each set of parameters into an entirely new run directory instead, but I gu

[2020-01-29 13:12] adefossez commented on #32706
@mrsalehi , the default value `pickle_module=pickle` is fine. The problem is not with metadata but that `torch` does not restore the tensors returned by `__reduce__`.

[2020-01-29 13:21] MuadDev commented on #9526
Or size Target(N, D)?

[2020-01-29 13:40] Saharkakavand commented on #29723
I have a question but I am not sure here is the proper place to ask!
I want to compute the l2 norm in pytorch but it has really different result with L2 of numpy, would you let me know how can I fix it?
I use pytorch: 0.4.1
[code]
[code]

[2020-01-29 13:46] bsugerman commented on #229
I've been timing a number of options for flipping a tensor and so far, the fastest on my GPU has been either explicit selection or grid_sample. Say I have a tensor with just 2 indices at the end and I want to invert the order (like swapping x,y) then

     in = th.arange(5*4*2).view(5,4,2)
     reverse_index = th.tensor([1,0],device='cuda:0')
     out=in[..., reverse_index]

is the fastest. Using

[2020-01-29 13:54] xDuck commented on #32724
Turns out we dropped a couple compiler flags into the build of our code that uses PyTorch. Namely `-mavx2`... False alarm. Thanks for the support though 👍

[2020-01-29 13:54] #32724 closed

[2020-01-29 14:00] ragy-deepbiome commented on #9526
To do multiple batches in margin ranking loss:

True Sample + Similar Sample
`x1 = torch.randn(2,64)` # Tensor of positive output, target = 1
True Sample + Dissimilar Sample
`x2 = torch.randn(2,64)`# Tensor of negative output, target = 0
`target = torch.randn(2,1)` #  Should be (1.0,0.0)

# Optimize margin loss function on features of (True,similar,target=1) and (True,dissimilar,target=0)
torch.nn

[2020-01-29 14:30] chi0tzp commented on #31045
@valexsyu @ptrblck I can confirm that the patch works in PyTorch 1.4.0-4 (in Arch Linux: `python-pytorch-cuda-1.4.0-4` -- version `1.4.0-3` was still buggy, at least in Arch).

[2020-01-29 14:33] bsugerman opened #32769 "Add support for nanpercentile?"
## 🚀 Feature
Add functionality for ignoring NaNs when combing tensors. Specifically, a torch implementation of `numpy's nanpercentile`

## Motivation

Torch has extremely fast methods to perform affine transforms on images to geometrically register them before performing other tasks. However, it is important to ignore the edges of images that have been transformed, since these contain no informati

[2020-01-29 14:35] qmeeus opened #32770 "Error while trying to build pytorch from source in conda environment"
Hi,

I am trying to build pytorch from source in a conda environment, following the instructions from https://github.com/pytorch/pytorch#from-source. The CPU installation works fine (until this step: `[2521/3544] Building CXX object caffe2/CMakeFiles/torch_cpu.dir/__/torch/csrc/distributed/autograd/engine/dist_engine.cpp.o
`) but as soon as the installation process moves to cuda, it fails (output

[2020-01-29 14:46] #27842 closed

[2020-01-29 14:56] MuadDev commented on #9526
In the documentation (https://pytorch.org/docs/stable/nn.html#torch.nn.MarginRankingLoss) it is stated that dissimilar samples should be indicated with `-1` instead of `0` if I read it correctly.

[2020-01-29 14:57] ragy-deepbiome commented on #9526
Yes, good comment! Ill fix that

[2020-01-29 15:14] MuadDev commented on #9526
By the way, I assumed the loss worked differently, more like this:

A row in x1 at index i is compared to a row in x2 also with index i using the target in y defined at index 1.

But if I read your comment then it seams that all the samples in x1 should be of a single id, and this single id should be different from the various ids in x2.

I find it hard to determine which of us is right.. Can you

[2020-01-29 15:37] mrshenli commented on #32764
cc @zhangguanheng66

[2020-01-29 15:41] mrshenli commented on #32765
@bharatk101-dckap could you please share the minimum code for to reproduce the error? And what is your dev env?

[2020-01-29 15:43] mrshenli commented on #32765
Adding onnx label due to the following error trace:

[code]

[2020-01-29 15:44] mrshenli commented on #32750
cc @nairbv

[2020-01-29 15:45] vincentqb commented on #32756
Thanks for reporting this! Indeed, `LambdaLR` and its derivative, `MultiplicativeLR`, both suffer from this bug. They should be the only ones though as they are the only ones using `pop`. It seems like a fix would be to simply replace that line 220 by `lr_lambdas = state_dict['lr_lambdas']`. Could this have other side effects? If not, please feel free to open a pull request with this.

[2020-01-29 15:49] MuadDev commented on #9526
I think it works like this:

With a batch size of 64 and 128 features your target must have this size: `target = torch.ones(64, 1)`. Notice the single dimension added. For this you can use `target = target.unsqueeze(dim=1)`

[2020-01-29 15:52] zhangguanheng66 commented on #32590
We had talk with Nvidia before. They are not ready yet. @natalialunova

[2020-01-29 15:53] mrshenli commented on #32687
Marking this as "triage review" as it is not obvious to me why using PY 3.6.9 to build would load 3.7 packages.

[2020-01-29 15:54] ngimel commented on #32750
Putting high priority because of silent wrong answer.
The root cause is likely incorrect `prod_kernel_impl`, note there's no out_t, compared to working `sum_kernel_impl`
[code]

[2020-01-29 15:58] ragy-deepbiome commented on #9526
This depends on how you are using it but yes, the target dimension you mentioned in the previous comment seem correct to me, it is the same as what I mentioned.
From what I understand is that you need an  (anchor + Positive) and you need an (anchor + Negative)
where
x1 = outputs from Pair(Anchor sample + Positive Samples)
and
x2 = outputs from Pair(Anchor sample + Negative Samples)

[2020-01-29 16:05] reuvenperetz commented on #29724
Hi,
I've tried @supriyar code when trying to convert the quantized version of mobilenetV2 (the one in torchvision) and I get the following error:

RuntimeError: isTensor() INTERNAL ASSERT FAILED at /opt/conda/conda-bld/pytorch_1579022060824/work/aten/src/ATen/core/ivalue_inl.h:90, please report a bug to PyTorch. Expected Tensor but got Int (toTensor at /opt/conda/conda-bld/pytorch_1579022060824/wo

[2020-01-29 16:15] MuadDev commented on #9526
No that is not what I meant.

what i mean is this:
[code]

So it is not necessary to have an "anchor sample". Each pair of samples is evaluated on its own. It is different from the triplet loss (= what I think that you are describing), where you do have an "anchor sample".

Also there is no relation between the ids of the samples within x1. (They thus need not all be of the same ID). As there is a

[2020-01-29 16:36] MuadDev commented on #9526
After reading the following blog post: https://gombru.github.io/2019/04/03/ranking_loss/ I come to the conclusion that indeed you are right and I am wrong.

So all the IDs of the samples in x1 indeed must be the same, and that ID must be different from all the IDs in x2. Right?

[2020-01-29 17:08] zou3519 commented on #27714
@nairbv I remember you had a PR that allows accepting np.ints as ints in python arg parser. Did that fix this issue?

[2020-01-29 17:51] joehoeller commented on #32698
@mrshenli How can I help contrib if this initiative gets approved?

[2020-01-29 17:57] c0nn3r commented on #32698
@joehoeller Take at [look here](https://docs.google.com/presentation/d/1vVQLreYrisZjVyTER9wsneOhxebGpcYSf_0wYZl7A4M/edit#slide=id.g5ba58bae6c_0_121). Zygote.jl already binds with PyTorch's backend to take the derivative of Python functions.

[2020-01-29 18:12] keven425 commented on #7617
@ezyang using the "dummy variable" method, I get gradient as `None`, if there is an `nn.InstanceNorm2d()`, followed by `nn.ReLU(inplace=True)`. If either line is removed, or if `Relu` is used with `inplace` set to `False`, the gradient is defined.

Here is a minimal script to reproduce, based on @YoelShoshan 's work:

[code]

[2020-01-29 18:31] jamesr66a opened #32775 "[quantization] Need fused relu FP16 dynamic quantized linear"
Basically revert this https://github.com/pytorch/pytorch/pull/32774 while making the op actually use the ReluFused template param

cc @jerryzh168 @jianyuh @dzhulgakov @raghuramank100 @jamesr66a

[2020-01-29 18:37] joehoeller commented on #32698
@c0nn3r my understanding is that I can’t do everything in that, as say, PyTorch. And getting full on NVIDIA CUDA support in that is problematic in portions — correct me if I am wrong please?

[2020-01-29 18:44] PCerles commented on #32676
Thanks so much!

[2020-01-29 18:44] #32676 closed

[2020-01-29 18:48] nairbv commented on #27754
I think this was fixed by https://github.com/pytorch/pytorch/pull/30486

[code]

[2020-01-29 18:51] nairbv commented on #27714
Yes as far as I can tell this seems to be fixed by:
https://github.com/pytorch/pytorch/pull/30486

[code]

[2020-01-29 19:24] colesbury commented on #32687
It's probably because you are running **sudo**.

[2020-01-29 19:28] meetshah1995 commented on #29537
@aazzolini Any chance the `very_simple.py` can be shared? It'd be superful useful.

I'm also trying to get the RPC based model parallel work with DDP. Is there a way simple to way to make these work together other than writing different execute methods and spawning them based on global + local rank?

@mrshenli's RL and RNN tutorial only show how to model parallel with RPC, but an example showing h

[2020-01-29 19:37] rohan-varma commented on #29537
cc @zhaojuanmao who is working on DDP + RPC.

[2020-01-29 19:40] #32494 closed

[2020-01-29 19:45] rohan-varma opened #32780 "[RPC] Move `_get_current_rpc_agent()` type calls to RPC pybind."
## Enhancement: Move `_get_current_rpc_agent()` type calls to RPC pybind.

We have a few callsites in `rpc/api.py` that effectively do something like `_get_current_rpc_agent().method()`, if we move these to the pybind layer we can instead call `RpcAgent::getCurrentRpcAgent()->method()` which will save us the overhead of an extra python call. As mentioned in https://github.com/pytorch/pytorch/pull/

[2020-01-29 19:53] osalpekar opened #32783 "Comments Separating Class Methods from Different Classes in C++ Files"
## 🚀 Feature
Throughout the PyTorch Distributed codebase (and PyTorch as a whole), a single C++ file may have member functions from several different classes. `process_group_agent.cpp` separates these with a simple one-line comment. This could be a good practice to standardize across the codebase for easier readability.

For Example:
[code]

[2020-01-29 19:56] ezyang commented on #32759
det is implemented in MAGMA, so this might be related to how you compiled against magma. Could you please run the [environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)

[2020-01-29 19:59] aluo-x commented on #32759
Very insightful. I remember seeing some documentation on the MAGMA gitlab page allowing specification of CUDA compute capabilities, I'm using the pre-built ones from the pytorch conda channel.

I will try and build without MAGMA.
[code]

[2020-01-29 20:03] osalpekar opened #32784 "Implement Backend-Agnostic RPC functionality in RpcAgent"
## 🚀 Feature
`ProcessGroupAgent` contains functionality that makes more sense in the `RpcAgent` parent class. This would make for better abstractions in the RPC C++ codebase and ensures core functionality would be available for future communication backends.

## Motivation
In particular, the `futureTimeoutThread_` in ProcessGroupAgent, which cleans up timed out RPC's, the atomic variable `rpcRunni

[2020-01-29 20:03] sotte commented on #6844
This feature was rejected in #10182 (or `cat`, not `stack`) . So I guess this ticket should be closed as well then?

[2020-01-29 20:05] #30717 closed

[2020-01-29 20:23] rohan-varma commented on #32784
For our internal Thrift-based RPC agent, timed out futures are handled via folly, which is why `futureTimeoutThread` and `futureTimeouts_` are process group agent specific (it's more performant to stick with this folly futures based approach in Thrift). Hence why I don't think we'd be able to move `futureTimeoutThread` and `futureTimeouts` to RpcAgent, at least without a significant amount of refa

[2020-01-29 20:47] ezyang commented on #24667
I'm bumping the priority of this as it is the ONLY remaining function in TH that uses TensorList.

[2020-01-29 20:48] ezyang commented on #24520
I'm bumping the priority of this as it is the ONLY remaining function in TH that uses TensorList.

[2020-01-29 20:51] aluo-x commented on #32759
It does seem to be a MAGMA problem.
[The build scripts](https://github.com/pytorch/builder/blob/master/conda/magma-cuda101-2.5.1/cmakelists.patch#L61) for the conda MAGMA in the pytorch channel specifies the minimum compute capability to be K80 generation (so newer than those for K40c).

Closing now.

[2020-01-29 20:51] #32759 closed

[2020-01-29 20:51] Enealor commented on #32703
I think the error you are reporting shows up in the CI environment, but is being reported as a warning rather than an error. I found this when I built the documentation locally. The warning states
[code]
This appears to be referencing the errors you have reported above, as each states `ParseError: KaTeX parse error: Expected 'EOF', got '\\'`, which is how KaTeX says that an unsupported command has

[2020-01-29 21:20] #32435 closed

[2020-01-29 21:47] aluo-x commented on #32759
Modified the patch code to add support for compute capability 3.5
Rebuilt using the provided script
[code]
And rebuilt pytorch again, worked like a charm

[2020-01-29 21:52] kurtamohler commented on #24933
@XiaobingSuper , my changes have been completed and merged, so feel free to make a PR that applies your vectorization method on top of it.

[2020-01-29 21:53] #24933 closed

[2020-01-29 22:13] #32136 closed

[2020-01-29 22:19] smartnet-club commented on #26555
To fix, add to [caffe2/CMakeLists.txt](https://github.com/pytorch/pytorch/blob/50d82f51223726725317919d429a02979d9bc39c/caffe2/CMakeLists.txt#L1155) after line 1155

`target_include_directories(${test_name} PRIVATE $<BUILD_INTERFACE:${CMAKE_BINARY_DIR}/include>)`

[2020-01-29 22:19] zou3519 commented on #32703
@Enealor how does one check the version of katex? `katex --version` hangs for me :/

[2020-01-29 22:28] Enealor commented on #32703
I had that same issue with my Ubuntu `apt` install of katex. If you can find where it's installed (e.g. `which katex`) you can find a changelog that might help. I don't know how to get it to stop hanging - I worked out my version in this case by looking at how I installed it.

[2020-01-29 22:34] suo commented on #32751
@ZolotukhinM possibly the same subgraph slicing issue we are seeing?

[2020-01-29 22:34] ggeor84 commented on #28705
Also waiting for this

[2020-01-29 22:50] unrelatedlabs opened #32794 "Pytorch 1.4.0 ARM build failing"
## 🐛 Bug

Python 1.4.0 does not build on ARM

## To Reproduce

Steps to reproduce the behavior:

Build from Dockerfile at https://github.com/unrelatedlabs/pytorch_arm

    FROM arm32v7/debian:buster-slim

    RUN apt update && apt install -y libopenblas-dev libblas-dev m4 cmake cython python3-dev python3-yaml python3-setuptools  g++ vim git
    WORKDIR /pytorch
    RUN git clone --recursive https:

[2020-01-29 23:42] kurtamohler commented on #5672
I've added the binary search to find each sparse matrix's elements, and the performance did improve as expected. Using the performance measurement script below, I've compared the performance of my implementation to the workaround.

[code]
This script runs the workaround and the builtin (my implementation) BMM on a single core with many different input sizes and sparsities. I'm running the builtin

[2020-01-30 00:55] jianyuh commented on #32644
Just tried to print the intermediate result of `x_min` and `x_max` in https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/quantized/cpu/qlinear_dynamic.cpp#L59-L63. Check https://github.com/pytorch/pytorch/pull/32739 for the changes.

One interesting test case caused the failure:
[code]

More detailed test results are here:
https://circleci.com/gh/pytorch/pytorch/4374802?utm_campai

[2020-01-30 01:23] accelsao commented on #23651
I think we need `coalesce_sparse_cpu/cuda` to support `max/min` reduction, but I cant find suitable function to get the `max/min` value and indices.. Someone can give me some hints?

[2020-01-30 02:26] Baranowski commented on #32001
This will require first migrating `max` and `min` to ATen (https://github.com/pytorch/pytorch/issues/24594 and https://github.com/pytorch/pytorch/issues/24595).

@ezyang If my intuition about meaning of the `high priority` label is correct, this might warrant re-triaging those two issues or lowering the priority on this one.

[2020-01-30 03:15] peterjc123 opened #32817 "Windows nightly CPU build failed"
## 🐛 Bug

Error text:
[code]

## To Reproduce

Steps to reproduce the behavior:

1. python setup.py build

## Expected behavior

Build succeed.

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out the checklist below manually).

You can get the script and run it w

[2020-01-30 03:32] peterjc123 commented on #32817
Seems to be resolved by #32116, #32114 and #32112 according to https://ezyang.github.io/pytorch-ci-hud/build/pytorch-master. Could you please confirm, cc @ezyang?

[2020-01-30 03:55] #32692 closed

[2020-01-30 04:03] njcurtis3 opened #32818 "Grammar error - Transforms on torch.*Tensor"
## 📚 Documentation
Just a very small grammatical issue.
![grammar_error_transformsontorch](https://user-images.githubusercontent.com/11468122/73418974-183ece00-42e3-11ea-992b-bdce07172f07.PNG)
Suggested fix: "mutates" to "mutate"

[2020-01-30 05:06] PlanNoa commented on #16417
Well, in my case, used `with torch.no_grad(): (train model)`, `output.to("cpu")` and `torch.cuda.empty_cache()` and this problem solved.

[2020-01-30 05:19] v0dro commented on #1521
This the code with the latest master branch:
[code]

As you can see, the exact code that @ezyang has shown in his comment no longer produces the result that has posted with the first comment (https://github.com/pytorch/pytorch/issues/1521#issue-227475544).

[2020-01-30 05:20] v0dro commented on #1521
I mean the last vertical vector in my comment is `33` and `44` whereas in his sample it is `0` and `0`.

[2020-01-30 05:43] #19250 closed

[2020-01-30 05:49] franva commented on #32687
hi @colesbury  could you explain the reason please?

Thanks

[2020-01-30 05:49] v0dro commented on #32614
Can you please tell where exactly the tests for tensor operator tests should reside for C++? I could not find the C++ tests for operators anywhere.

[2020-01-30 05:52] shaibagon commented on #23651
I recently came across [pytorch_scatter](https://github.com/rusty1s/pytorch_scatter) package that seems to support these functionalities.

[2020-01-30 06:26] deepali-c commented on #24835
The `MemongerTest.test_topological_sort_longest_path` does fail with `networkx 2.2`
Do we want to support `networkx 2.2`? I can add a PR for the same. @ezyang please advise.

[2020-01-30 06:49] ngimel commented on #32662
Can be related to #31906

[2020-01-30 07:30] ankane opened #32821 "failed to register operator torchvision::_new_empty_tensor_op"
## 🐛 Bug

The example for `torch.hub.list` on [this page](https://pytorch.org/docs/stable/hub.html) is failing with:

[code]

## To Reproduce

[code]

## Expected behavior

No error

## Environment

PyTorch version: 1.4.0
Is debug build: No
CUDA used to build PyTorch: None

OS: Mac OSX 10.14.6
GCC version: Could not collect
CMake version: version 3.16.3

Python version: 3.7
Is CUDA available: No
C

[2020-01-30 07:38] ankane commented on #32821
Ah, looks like it's related to https://github.com/pytorch/vision/issues/1827. For others who run into this, you can do:

[code]

[2020-01-30 07:38] #32821 closed

[2020-01-30 07:54] twostay opened #32822 "Error tracing custom autograd.Function"
## 🐛 Bug

I got an error when I tried to use jit to trace my autograd Function. In previous Pytorch versions(1.1.0), this works, but recently I updated to 1.4.0, and this stopped working. I'm not exactly sure which version exactly did this stopped working.
## To Reproduce

Steps to reproduce the behavior:

1. Make sure you have Pytorch1.4.0
2. Make a custom autograd Function. In  my case, I'm usin

[2020-01-30 08:02] ketjow4 commented on #28619
Thanks for update @VitalyFedyunin. Will I be able to train model using single precision with NHWC data layout ? I am asking as I search for possibility of converting pytroch model through onnx to tensorflow. Is there any list of supported operators for NHWC training?

[2020-01-30 09:28] bharatk101-dckap commented on #32765
Dev Env - Ubuntu 18.10, Python 3.7, Torch - 1.4.0+cpu, torchtext - 0.5.0, Flask - 1.1.1

To reproduce this error creat a flask app and load a pre-trained model in a separate file and import that model in flask app.

[2020-01-30 09:54] TheArheus commented on #31705
Hi, can you   provide a code you used  for importing onnx modell to keras?

[2020-01-30 11:21] pandeykartikey commented on #25883
Hi, I would like to work on PackedSequence. If it is available. @yf225

[2020-01-30 12:12] l2009312042 commented on #6990
can  anyone explain why this code  work?

[2020-01-30 12:16] rgommers commented on #32277
Minor comment: that's not a PEP 440 compliant version number. I'm not sure if it gives problems with recent `pip` for example, but it's not guaranteed to work. This looks like a normal bugfix release, so `1.4.1` would be nicer. There's also `.post0` you can tack on instead, but those are a bit non-standard and really only meant for, e.g., rebuilding binaries without source code changes.

[2020-01-30 12:46] Tetratrio opened #32824 "Incorrect typing errors"
## 🐛 Bug

Mypy will report typing errors for some operations that should be allowed. I have encountered four different type check errors although I am only sure one of them is an actual bug. But I will list the others as well.

## To Reproduce

#### Error 1 - in-place operations on tensor
[code]
The error message:
[code]
---
#### Error 2 - creating a parameter requires argument 'requires_grad' eve

[2020-01-30 13:10] Tridet commented on #22338
I faced the same problem,  with torch 1.1.0, here's the trace.
CPU :
[code]
gdb disas :

[code]

[2020-01-30 13:17] Coderx7 opened #32826 "MKLDNN doesnt work and is slower than normal cpu mode"
## 🐛 Bug

MKLDNN seems not to have any effect on runtime performance. Its even some times, slower than normal cpu mode!
The issue exists both on 1.3.1 and 1.4.0.
## To Reproduce

Steps to reproduce the behavior:

Run this on a supporting platform such as Linux (e.g. ubuntu 18.04)

[code]
Or simply run this on a [Google Colab : ](https://colab.research.google.com/drive/1OKBSZY5rc5w9QIKfyo5trS3JTgBE

[2020-01-30 13:29] MikeInnes commented on #32576
I see what you mean. I guess this seems a bit hard to square with the mathematical notion of the gradient: this notation looks a lot like `d/dx f(x)` but actually computes something quite different. (Of course, mathematically `x′ = 1*x` or similar doesn't create a 'new object', so there's no possibility for the result to change based on an operation like that; and most ADs I've used follow that, h

[2020-01-30 13:41] krips89 commented on #21583
Update?

[2020-01-30 13:51] sagrawal06 commented on #16417
RuntimeError: CUDA out of memory. Tried to allocate 54.00 MiB (GPU 0; 3.95 GiB total capacity; 2.65 GiB already allocated; 39.00 MiB free; 87.29 MiB cached)

i found the solution and i decrease batch_size value.

[2020-01-30 14:59] ezyang commented on #5672
I would not bet on that :)

[2020-01-30 15:11] MatthieuBizien commented on #26112
I seems so, even on 1.2. I just updated the NVidia driver version since September. Closing this issue, thanks!

[2020-01-30 15:11] #26112 closed

[2020-01-30 15:14] ezyang commented on #32001
Although I agree migrating max/min to ATen would solve the problem, I am not sure I would conclude it's the only way to fix this problem. The next thing I'd check is: are all other TH functions affected in a similar way? If every TH function (not just torch.max) is affected, that points at a bug in the automatic checked casts we do when moving from ATen to TH land.

[2020-01-30 15:16] ezyang commented on #32817
Not those PRs, but I did revert the breaking commit. We gucci.

[2020-01-30 15:16] #32817 closed

[2020-01-30 15:21] ezyang commented on #1521
Yup, I agree, looks like this is fixed!

[2020-01-30 15:21] #1521 closed

[2020-01-30 15:22] ezyang commented on #23651
Tentatively bumping priority based on issue activity

[2020-01-30 15:23] ezyang commented on #24835
Yes, in general, we will always accept patches that update us to newer versions of our dependencies (fixing uses of the dependency in our code).

[2020-01-30 15:32] vincentqb commented on #6844
The feature was indeed rejected in [comment](https://github.com/pytorch/pytorch/issues/10182#issuecomment-410859656) of #10182. I'll close this issue. Please feel free to re-open if you would like to continue the discussion.

[2020-01-30 15:32] #6844 closed

[2020-01-30 15:39] vincentqb commented on #32794
Indeed, arm built were possible, as mentioned [here](https://discuss.pytorch.org/t/does-pytorch-support-arm-processor-aarch64/1786/2).

Can you confirm the last version for which you have been able to build pytorch on arm? Have you tried against current master?

[2020-01-30 15:39] vincentqb commented on #32818
Thanks for pointing this out. Please feel free to open a pull request for this.

[2020-01-30 15:43] Baranowski commented on #32001
Good point. I only checked min/max vs. a couple ATen operators. I will test and report back.

[2020-01-30 15:43] vincentqb commented on #32824
Would you be interested in opening pull requests to address these?

[2020-01-30 15:45] vincentqb commented on #32826
Is this something you noticed in other cases too, or is this related to particular operators?

[2020-01-30 15:58] seemethere commented on #32030
@vadimkantorov The root `Dockerfile` should now keep a consistent `ccache` between builds using [`buildkit`](https://github.com/moby/buildkit).

Usage is outlined in #32515 but I'll copy/paste it here:

## How to build:

Building the new images is pretty simple, just requires `docker` > 18.06 since the new build process relies on `buildkit` caching and multi-stage build resolving.

### Development

[2020-01-30 15:59] teytaud commented on #5953
The number of users reporting that bug increases, maybe we should integrate the fix.
I've done that by a dirty hack for our needs in pytorch_gan_zoo, namely by "if we get a NaN then reboot with the best point so far".
I can help, but for doing it properly I would need discussions with someone who knows the code (I did the hack outside the algorithm, which is not what we want to do...).

[2020-01-30 16:01] seemethere commented on #32030
This is resolved by https://github.com/pytorch/pytorch/pull/32515

[2020-01-30 16:15] seemethere commented on #31421
I believe this should be resolved now:

[code]

<details>
<summary>`test.py`</summary>

[code]

</details>

Pytorch version: 1.5.0.dev20200129
CUDA Version: 10.1

[2020-01-30 16:17] Coderx7 commented on #32826
I ran some tests on resnets, and also simple architectures consisted of only conv_bn_relu/maxpooling2d. for the resnet the results are the same as the ones presented here, For the simple archs, the mkldnn seems to be only around 1/1.5 times faster.

[2020-01-30 16:23] njcurtis3 commented on #32818
Thanks for adding labels. Forgot to do that. I will make a pull request

[2020-01-30 16:27] unrelatedlabs commented on #32794
@vincentqb I tried 1.3.0, 1.4.0 and master none of them built. I never built this before, I was just following the instructions.
this is an arm7l build. not the 64bit.

[2020-01-30 16:51] kurtamohler commented on #7284
I can start working on this.

[2020-01-30 16:52] vadimkantorov commented on #32030
For development docker, it should probably accept as parameter the user’s fork URL, probably let the user build the code base themselves and let the user keep ccache on the host file system, ccache size should be configured to some large value, then instructions should be put in the main repo readme (along with expectations of build time).

The concern of this issue was to enable zeroconf dev envi

[2020-01-30 16:54] vadimkantorov commented on #32030
Readme for “Building the image yourself” is not the same as “How to set up a dev/contributor environment using Docker”

[2020-01-30 16:58] ggeor84 commented on #31821
also interested in this

[2020-01-30 17:03] colesbury commented on #32687
`sudo` can change the `$PATH`. Try running without sudo. If that doesn't help, check `$PATH` and `$PYTHONPATH`.

[2020-01-30 17:24] Paralysis commented on #32662
I just tested on a smaller network and the problem shows up. I updated the original bug description. Thanks!

[2020-01-30 17:26] ngimel commented on #32662
Did you try with the nightlies? The issue I linked is fixed on the nightlies, but not in stable releases.

[2020-01-30 17:50] renesax14 commented on #3307
Has this been fixed? I am getting a similar issue but when I manually update the values of the weights e.g.

[code]

[2020-01-30 17:59] vincentqb commented on #32794
Tagging the mobile team in case they can answer about support for arm.

[2020-01-30 18:03] ZolotukhinM commented on #32751
Quite likely

[2020-01-30 18:07] Paralysis commented on #32662
I'll have a try.

[2020-01-30 18:13] natolambert commented on #5953
I definitely noticed some weird behavior on higher dimensional spaces where it either could never really step, or gave NaNs. I can go back to try and reproduce if its helpful. Curious about @teytaud's fix, as in, if it makes sense why that would help from the math.

[2020-01-30 18:29] albanD commented on #32576
Is the following a clearer explanation?
- Jax gradient API takes a function as input and differentiate that function.
- Pytorch gradient api takes the result of a program that ran and differentiate that program.

[2020-01-30 18:31] Tetratrio commented on #32824
I would need to read up more about mypy before I do that. I could potentially open one sometime in the future if no one else has fixed this issue by then. But I am unable to at this very moment.

[2020-01-30 18:38] ZephyrSails commented on #32507
@albanD Thanks I have seen #24174 and that's why I suspect it's related to mlkdnn and avx512.

[2020-01-30 18:40] ZephyrSails commented on #32507
@tprimak

## Zeros padding mode would work
[code]

## Padding mode other than zeros would crash with "code is too big"
[code]

## padding with zero padding size would crash with "code is too big"
[code]

[2020-01-30 18:46] bnehoran commented on #23925
I've pushed a fix for this issue at https://github.com/pytorch/pytorch/pull/32829

[2020-01-30 18:53] dreiss commented on #32794
This should work.  What's the hardware platform?  Is that the full compile output?  It doesn't contain any actual errors.

[2020-01-30 18:55] kingjr opened #32832 "Delayed cuda error after wrong indexing"
## 🐛 Bug

When a wrong indexing is used for a tensor on cuda, I don't get an error right away, but at the following cuda operation.

## To Reproduce

[code]
[code]

## Expected behavior

The error should occur at the indexing level to facilitate debugging.

## Environment
- Python 3.6
- PyTorch Version 1.4.0 installed via pip command, as given by torch website.
- Ubuntu 18.04.3 LTS
- GPU: Quadro G

[2020-01-30 19:00] eusoubrasileiro commented on #20700
@matthiasreisser I faced the same behavior but I think that it is expected.

As you pointed in (I saw exactly the same)

I read somewhere that GPU memory allocation and deallocation **is slower** raw compared to CPU memory manipulations, altough I don't have the reference here right now.

[2020-01-30 19:01] Enealor commented on #31991
As an update, the `linspace` and `logspace` functions have been modified. Both functions now support (almost) all the same types on both CPU and CUDA devices, with two exceptions.
1. The float16 type is not implemented for the CPU. This was forced by the lack of support for float16 operations on the CPU.
1. The complex types are not implemented for CUDA devices. This came from needing to use a sep

[2020-01-30 19:01] bnehoran commented on #24870
@riccardosamperna That's a good question, and I'd be happy to help you, but I think the more appropriate place to discuss this would be the PyTorch forum (https://discuss.pytorch.org).
If you ask this question in the forum and ping me, I'd be happy to help you out there.

Comments on this issue should ideally be more related to implementation details and directions rather than usage.

[2020-01-30 19:23] Baranowski commented on #32001
Actually the problem is not the max CUDA kernel. The problem is that the call is dispatched to the CPU kernel which crashes. I will continue working on this.

As for the other TH CUDA ops, I have verified that `remainder` and `cumsum` throw a `RuntimeError` when they get CPU operands and CUDA output.

[2020-01-30 19:27] seemethere commented on #32030
@vadimkantorov The base `Dockerfile` takes the current tree and copies it over to the docker build and does a fresh build from source with `ccache` that's implemented using the `buildkit` backend for docker.

I've outlined all of this in this PR: https://github.com/pytorch/pytorch/pull/32800/commits/0a0129b846c309e60d3e88f7503fecb437c9d4a8

It should be directly be a zero setup (aside from docker)

[2020-01-30 19:30] #24682 closed

[2020-01-30 19:30] Tetratrio opened #32835 "Autograd fails if used before multiprocessing Pool"
## 🐛 Bug

Just like [#3966](https://github.com/pytorch/pytorch/issues/3966) autograd fails when using it on main process before a child process but not for normally started processes but for process pools.

## To Reproduce
[code]

## Expected Behavior
This can be fixed by adding
[code]
As using a normal mp.Process works without this addition (after a fix for the issue described in [#3966](https://

[2020-01-30 19:30] #24683 closed

[2020-01-30 19:30] #24540 closed

[2020-01-30 19:30] #24541 closed

[2020-01-30 19:30] #24699 closed

[2020-01-30 20:21] josherich opened #32838 "Improve docs search engine indexing"
## 📚 Documentation

### There's no way to access api from search engine in one click.

I find it's very hard to search pytorch api from search engine. A typical example would be seaching `pytorch conv2d`, the top result points to `https://pytorch.org/docs/stable/nn.html` without the heading hash `#conv2d`.

<img width="668" alt="Screen Shot 2020-01-27 at 12 28 28 PM" src="https://user-images.githu

[2020-01-30 20:45] pritamdamania87 commented on #31743
Just realized that one challenge here would be calling  something like `rref.remote().some_func(1, 2)` within a torchscript function. Torchscript doesn't support *args and **kwargs and as a result this could be a potential issue.

cc @suo This is a good use case where supporting *args and **kwargs in torchscript would be useful.

[2020-01-30 21:05] albanD commented on #32835
This is more or less expected as fork and threading is never a very good thing to do.

We should replicate the logic we have for cuda [here](https://github.com/pytorch/pytorch/blob/94ddc2c462bd7c79426057d67b03d4a397db0dd1/torch/csrc/cuda/Module.cpp#L32-L51) in the autograd engine to raise a nice error stating that spawn should be used (everyone should be in python 3.4+ now so everyone should be ab

[2020-01-30 21:06] SamPruden commented on #32370
Sorry that I forgot to respond to this sooner @ptrblck! The simple answer is no, this is the only setup I've tried so the only example that I have. Would more shapes be useful? I hadn't assumed that the problem was particularly tied to these precise shapes. Is there specific information that you're looking for? I could try to investigate further.

[2020-01-30 21:28] arbabu123 opened #32840 "Can we add support for Enum in scripted models?"
Enums are not supported right now

import torch
from torch import nn
from enum import Enum

class Testing(Enum):
    lala = "lala"

class Mo(nn.Module):
    def __init__(self, la):
        super().__init__()
        self.la = la

    def forward(self, x):
        if self.la == Testing.lala:
            return x
        return x+1

saved_mo = torch.jit.script(mo)

RuntimeError:
Module 'Mo' has no a

[2020-01-30 21:31] vadimkantorov commented on #32030
About Linux: sure. For other systems, Dockerfile could still be instructive as a sequence of preparing a dev env. Now this README is more clear! Thank you!

I mean the user story:
I use PyTorch for my own projects. I now want to develop and contribute a feature to PyTorch. I want this other PyTorch installation be separate from my main env. I don't want to be figuring out the reasons for super-lon

[2020-01-30 21:40] unrelatedlabs commented on #32794
It's building inside docker on mac os. using qemu ( https://www.docker.com/blog/multi-arch-images/ ) based on the arm32v7/debian:buster-slim which is armv7l.
I used the same process to build opencv and mxnet for deployment on raspberrypi 4.

[2020-01-30 21:43] vadimkantorov commented on #26123
Just googled and got module source code in the second hit:
![image](https://user-images.githubusercontent.com/1041752/73492794-b5683800-43b1-11ea-9a11-304b3f5ab8ea.png)
as noted by @josherich in https://github.com/pytorch/pytorch/issues/32838

@zou3519 let's reopen this issue?

[2020-01-30 21:51] zou3519 commented on #26123
Oh, I think the problem is that I didn't cherry-pick my changes to the 1.4.0 branch...

Thanks for reporting @vadimkantorov.

[2020-01-30 21:58] Tetratrio commented on #32835
I am not too familiar with C++ so better someone else takes a look, sorry.
Definitely worth adding some kind of error message as you suggested.

[2020-01-30 22:02] #30526 closed

[2020-01-30 22:36] albanD commented on #32304
Hi,

This is expected behavior.
We represent `0` gradient with any of the things below:
- Tensor full of `0`s
- None (for p.grad for example)
- Element does not requires grad. Meaning that its gradient wrt all other Tensors that require gradients are `0`.
- Error in `autograd.grad()` when `allow_unused=False` stating that some inputs are not used and thus will have a gradient of `0`.

The main rea

[2020-01-30 22:38] albanD commented on #32091
Hi,

This is expected as we do not perform automatic differentiation during the forward.
You can re-enable it for such use case with `with torch.enable_grad():` around your code that performs the local forward.

For future questions, you can use the forum: https://discuss.pytorch.org/

[2020-01-30 22:38] #32091 closed

[2020-01-30 22:39] albanD commented on #31957
Closing this as there is no progress.
Please post on the forum if your have further questions: https://discuss.pytorch.org/

[2020-01-30 22:39] #31957 closed

[2020-01-30 23:12] xuhdev opened #32845 "Installing torch nightly gives me 1.4.0"
## 🐛 Bug

Installing torch nightly gives me 1.4.0.

In a clean virtual environment, run the following command, as instructed on https://pytorch.org/get-started/locally/

    pip install -U --pre torch torchvision -f https://download.pytorch.org/whl/nightly/cu110/torch_nightly.html

Then

[code]

[2020-01-30 23:51] seemethere commented on #32030
@vadimkantorov `buildkit` does not require any configuration for build size. I would recommend however clearing your build cache every now and then though with `docker builder prune`.

I believe the docker image approach should suffice for the user story you provided and I can understand the frustration involved with contributing to this project for the first time (I just started working on this p

[2020-01-31 00:13] sdsy888 commented on #24157
Hi @orionr @ptrblck
I just encountered another issue with `add_graph`.

My packages:
[code]

When I use
[code]

The error occurs:

[code]

And the traceback clearly shows the error happens when called `add_graph`. Also,  I tried to use change `input_to_model` to `FloatTensor` or `LongTensor`, they all won't work.

[2020-01-31 00:24] xsacha commented on #32826
As far as I know there is no need to do to_mkldnn. Simply compiling in MKLDNN, I notice up to 2x speed up.

[2020-01-31 00:27] xsacha commented on #32845
I do not think there is a CUDA 11.0 version yet.
Try changing cu110 to cu101
https://download.pytorch.org/whl/nightly/cu101/torch_nightly.html

[2020-01-31 00:58] #29744 closed

[2020-01-31 01:15] simonverret opened #32851 "Silent failing of batch_sampler when the data points are lists of tensors."
If a dataset is created from a list of list of tensors, and a custom batch_sample is made to sample from the outer list, then the inner tensors get mingled together in list batches.

## To Reproduce

Consider a dataset consisting of two lists of tensors. The `Sampler` to be used as `batch_sampler` intend to produce a single batch of two lists with this dataset.
[code]
As a result, the batch you ge

[2020-01-31 01:18] xuhdev commented on #32845
@xsacha You're right, got characters swapped XD

[2020-01-31 01:18] #32845 closed

[2020-01-31 01:46] ngimel commented on #12013
All flavors of convolution and batch norm now correctly handle empty batches and return zero gradients for parameters.

[2020-01-31 01:50] sparticlesteve commented on #31528
Hi @pietern,

If you have time, could you take a look at the discussions on my UCX issue https://github.com/openucx/ucx/issues/4707?
The folks there had some comments/questions on the device contexts, threading, and TLS. They thought this looks like a similar issue that affected rapids.

Thanks!

[2020-01-31 01:59] unrelatedlabs commented on #32794
Here is a log file. with MAX_JOBS=1
Same error.

[log.txt](https://github.com/pytorch/pytorch/files/4137205/log.txt)

[2020-01-31 04:04] vadimkantorov commented on #32570
This specification of output dtype is more pertinent for these integer dtypes, of which there are hopefully not so many (argsort, argmax, argmin). Then there're mixed ones like min, max, sort, topk.

[2020-01-31 04:27] ngimel commented on #32570
Only in kernels that support it. It's possible that argmax could do it, min or max most likely cannot, as well as sort and topk.

[2020-01-31 04:40] zbh2047 opened #32857 "Get segmentation fault when just loading a cuda extension (not executing)"
## 🐛 Bug

I write a cuda extension and simply load it in a python file. The program then gets segmentation fault even though the program doesn't call any cuda function.

## To Reproduce

Steps to reproduce the behavior:

First write a c++ extension (test_cpp.cpp)

[code]
Then write a cuda file (test_cuda.cu)

[code]
Next write setup.py

[code]

Finally wrtie main.py

[code]

The program outputs th

[2020-01-31 04:47] zbh2047 commented on #32857
I have just found that in the above environment information, CUDA runtime version is  10.0.130 while the installed pytorch has version 10.1. But when I run `nvidia-smi`, I get

[code]

This time cuda version is 10.1.

[2020-01-31 06:20] ngimel commented on #32832
This is expected behavior because cuda execution is asynchronous, and your subsequent operations are enqueued before the error actually happens. To get errors as they occur run with env variable CUDA_LAUNCH_BLOCKING=1 (this should be done for debugging purposes only, because it is a pretty big performance penalty), or call torch.cuda.synchronize() after each operation.

[2020-01-31 06:20] #32832 closed

[2020-01-31 06:22] kishorepv commented on #4930
Which is the type we have in the current version PyTorch (1.x and above?)

[2020-01-31 06:41] zbh2047 commented on #32857
Reinstall pytorch with cuda 10.0 can solve the problem. I will close the the post.

[2020-01-31 06:41] #32857 closed

[2020-01-31 07:03] vishal-wiai opened #32858 "PyTorch android failing after 29/01/20 nightly"
I am using a SSD object detection model to run on android using jit trace, developed in PyTorch 1.3.

2 days back, I was using the nightly `pytorch_android:1.5.0-SNAPSHOT` it was working fine and I was getting the expected output. But today the app is crashing and giving the following error `Fatal signal 11 (SIGSEGV), code 1 (SEGV_MAPERR), fault addr 0x0 in tid 17354`.

After this I tried other ve

[2020-01-31 07:12] ashishgupta2598 opened #32859 "AssertionError: torch.nn.quantized.ReLU does not support inplace"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

cc @jerryzh168 @jianyuh @dzhulgakov @raghuramank100 @jamesr66a

[2020-01-31 07:44] masahi commented on #21064
hi @fmassa @suo I ran into a situation where I need to extract intermediate outputs from jitted models. I'm working on translating quantized pytorch models to TVM, and in order to do that I need quantization parameters of output tensors. I need jit because I need a correspondence between an output tensor and a node in the jit graph to do node-by-node translation to TVM.

For example, here is the j

[2020-01-31 07:49] teytaud commented on #5953
I am not sure of why the NaN appears, I suspected this was related to non-convexities, anyway what is sure is that my fix has been reproduced by other people (in a similar hackish manner) and they were satisfied.
Unfortunately as I did not know the code of LBFGS and needed a fast fix I did it in a hackish manner -- I just stopped LBFGS as soon as a NaN appeared and relaunched it from the current p

[2020-01-31 07:52] mathisgerdes commented on #32304
Yes it does. I already suspected it might be a performance reason, but I wanted to confirm it is expected behavior. Thank you!

[2020-01-31 07:52] #32304 closed

[2020-01-31 08:57] meixitu opened #32860 "LSTM can't work with nn.DataParallel"
## 🐛 Bug

when I use DataParallel for LSTM model, it has  segmentation fault after some batch.
If I remove Dataparallel, it can work well.

## To Reproduce

Steps to reproduce the behavior:

1. python lstm_top.py

here is log:
3549
3550
Fatal Python error: Segmentation fault

Current thread 0x00007f81a17f3700 (most recent call first):

Thread 0x00007f81a27f5700 (most recent call first):

Thread 0x

[2020-01-31 09:25] jecampagne opened #32861 "add_, addcmul_, addcdiv_ deprecated"
## Do someone else experiences many messages due to deprecated functions?

Using `torch 1.5.0.dev20200129` to track a bug, I experience these Warning. Do the library will change its API???

/opt/conda/conda-bld/pytorch_1580285301452/work/torch/csrc/autograd/generated/python_variable_methods.cpp:1334: UserWarning: This overload of add_ is deprecated:
add_(Number alpha, Tensor other)
Consider using

[2020-01-31 10:22] vadimkantorov opened #32863 "Incorrect result of argmax on CUDA with large non-contig tensors and on non-contig dimensions"
[code]
[code]

I tried to minimize the size of `bug.pt`, but my first attempts led to bug disappearing, so I'm uploading it to my OneDrive as is (it's quite heavy - 3Gb): https://1drv.ms/u/s!Apx8USiTtrYmqfhMddRNKxibLatubA?e=wyihRU

(it would be nice for such situations to have a safe unpickler that can't execute arbitrary code or have it support loading/saving tensors from/to hdf5 as well. doesn't

[2020-01-31 10:46] vadimkantorov opened #32864 "[docs] Missing docs for torch.__version__ and torch.version"
https://pytorch.org/docs/master/search.html?q=__version__&check_keywords=yes&area=default#

https://pytorch.org/docs/master/search.html?q=version&check_keywords=yes&area=default#

[2020-01-31 11:08] kgizdov commented on #32638
@ezyang not sure what's going on, but this is fixed on master (I think), but the official release is broken. I don't see a need for a pull request, but a backport/patch release, maybe even a re-release.

[2020-01-31 11:22] robotcator commented on #32082
Yes, sorry for the late reply. Even give default value, it doesn't work.

[2020-01-31 11:23] ppwwyyxx commented on #16424
[code]
[code]

[2020-01-31 11:46] xsacha opened #32865 "device().has_index() calls torch_cpu function and crashes"
## 🐛 Bug

Since PyTorch 1.5, torch_cpu and torch_cuda have been split.
After updating to this version, my code now crashes on:
ATen/Functions.h:1197
[code]

I notice the call stack shows it calling torch_cpu instead of torch_cuda despite my device being CUDA.
{type_=CUDA (1) index_=0 }

If I remove torch_cpu.dll, it fails delay loading the DLL.
When listing dependencies of torch, it appears to onl

[2020-01-31 12:10] peterjc123 commented on #32865
Seems to be related to https://github.com/pytorch/pytorch/issues/31611.

[2020-01-31 14:29] flysofast opened #32866 "CUDA error: an illegal memory access was encountered when using output_padding in nn.ConvTranspose3d"
I'm building a simple Encoder-Decoder architecture for video with 3D Convolutions and TransposedConv. The aim is make it fully convolutional so it would work with any video size.
The Encoder looks like this:
[code]
And here is the Decoder:
[code]
I trained the model with input size of (NxCxHxW) = (16x3x112x112). The outputs of each layer looks like this:

[code]
After the the model got trained, I

[2020-01-31 14:35] vadimkantorov opened #32867 "[feature request] Bit packed tensors"
A usecase: storing a full backtracking pointer matrix can be okay for needleman/ctc alignment (4x memory saving compared to uint8 representation), if 2bit data type is used. Currently it's possible to do this with bit manipulation magic, but probably not very efficient (store and load will require masking and shifting, not fused)

Another usecase: compressed BoolTensor for boolean networks

Anothe

[2020-01-31 14:47] ezyang commented on #31421
Great, thank you!

[2020-01-31 14:47] #31421 closed

[2020-01-31 14:48] ezyang commented on #7284
@kurtamohler Best to hold off for a bit, IIRC @gchanan wanted to use this as an onboarding task for one of our engineers. Maybe you could help review their diff :)

[2020-01-31 14:54] ezyang commented on #32824
I think I agree (1) and (2) are bugs, and should be relatively easy to fix, just change the pyi files to have the correct types. We would love a PR for them. (3) is also a bug but is going to be a bit more difficult to fix, I suspect the only way to fix this is with a mypy plugin (I tried to google for existing references to this problem but couldn't find them). (4) also looks like a bug, I don't

[2020-01-31 14:55] ezyang commented on #32576
@albanD With your JAX-style higher-order differentiation API, would we get the JAX result?

[2020-01-31 15:06] ezyang commented on #32863
High priority due to silently incorrect results

[2020-01-31 15:07] ezyang commented on #32638
cc @seemethere @soumith

[2020-01-31 15:10] hawkinsp opened #32868 "__cuda_array_interface__ conversion does not support readonly arrays"
PyTorch does not support importing readonly GPU arrays via `__cuda_array_interface__`:
https://numba.pydata.org/numba-doc/dev/cuda/cuda_array_interface.html

https://github.com/pytorch/pytorch/blob/2471ddc96c56162861f41f3b6b772b4b4e773ea7/torch/csrc/utils/tensor_numpy.cpp#L292

## To Reproduce

If you have a copy of jax and jaxlib with GPU support built from head, the following will reproduce:

[c

[2020-01-31 16:22] vadimkantorov commented on #32863
@ezyang I wonder if related functions like argmin/argsort/topk/max/min/sort are also implicated

[2020-01-31 16:42] ngimel commented on #32863
argmin almost certainly, the rest unlikely because they take different code paths

[2020-01-31 16:48] vadimkantorov commented on #32863
Even argmin? Anyway, if we figure out the offending tensor layout / size, it should be easy to add a test for several of them

[2020-01-31 17:24] ezyang commented on #3307
No it's still broken.

[code]

[2020-01-31 17:25] ezyang commented on #32838
I'm marking this as high priority as it seems like a very seriously usability issue for the docs.

[2020-01-31 17:26] ezyang commented on #32851
I speculatively added nestedtensor on this issue, cc @cpuhrsch

[2020-01-31 17:26] ngimel commented on #32863
self-contained repro
[code]

[2020-01-31 17:27] ezyang commented on #4930
I'm not too sure about the status of this issue, but tentatively marking in high priority based on user activity

[2020-01-31 17:29] ezyang commented on #32860
Marking high priority as this is a crash

[2020-01-31 17:45] meixitu commented on #32860
actually, I struggled it for 1 weeks.
I tried:
1. packed sequence
2. remove self.lstm.flatten_parameters()
3.batch_first=False
they all crash.

And I also tried nn.parallel.DistributedDataParallel,  in this setting, I must move out the loss from model.forward. Because in my real model , there are huge model output, I guess torch will calculate the loss in only one GPU, so the GPU will OOM if I inc

[2020-01-31 17:55] ngimel commented on #32860
Can you get a backtrace from your segmentation fault?

[2020-01-31 18:16] sdsy888 commented on #24157
**[Problem solved]**

I found it's the `DataParallel` when using multi GPUs  that cause the problem. We need to fetch the model before wrapping it in the `DataParallel`.

So here's the method for those who encounter the same issue:

[code]

[2020-01-31 18:20] jerryzh168 commented on #32859
Are you using master? I remember this is already fixed by @z-a-f

[2020-01-31 18:22] vadimkantorov opened #32872 "Confusing error messages of tensor.scatter_ on both CPU and CUDA"
Both messages seem to be wrong and confusing. basically the V should have the same dimensions as I. Input/output tensor have nothing to do with this dimension check. However it would be good if `torch.gather` and `tensor.scatter_` supported broadcasting.

[code]

[2020-01-31 18:25] jerryzh168 commented on #32082
It should be fixed after https://github.com/pytorch/pytorch/pull/32733 is landed

[2020-01-31 18:35] h6197627 commented on #15755
PyTorch mobile now has ability to compile only subset of needed ops.

[2020-01-31 18:35] #15755 closed

[2020-01-31 19:24] gchanan commented on #27754
@nairbv can you check if it's fixed and close this issue if so?

[2020-01-31 19:26] nairbv commented on #27754
looks fixed to me (based on example given)

[2020-01-31 19:26] #27754 closed

[2020-01-31 19:46] meixitu commented on #32860
Hi @ngimel ,
   below is the traceback, I am not sure is it you need?
    Previously, I got more detail traceback, it showed multi-processing in auto_grad is wrong.
    But now , I don't know why I can't get more detail traceback.

   i use this code to traceback:
import faulthandler
faulthandler.enable()

/usr/local/anaconda3/envs/torch1.4/lib/python3.6/site-packages/torch/nn/parallel/_functions.

[2020-01-31 20:09] jeremycochoy commented on #20643
Using the current master version of https://github.com/pytorch/pytorch/blob/master/torch/onnx/symbolic_opset9.py solved my issue.

I just copied the file on top of the v1.4.0 distribution. Very dirty, but for temporary machines (google colab) it does the job.

[2020-01-31 20:23] michelgokan commented on #30401
Any suggestions on possible alternatives?

[2020-01-31 20:28] michelgokan commented on #9996
This problem still exists :-(

[2020-01-31 20:39] pandeykartikey commented on #26411
Hi @agadetsky, I am almost done with the implementation. Only the backprop and tests are left. But I am having trouble figuring out the backprop algorithm. Can you help me with that?

[2020-01-31 20:49] kurtamohler commented on #5672
I'm currently thinking about how to make my CUDA implementation faster. While my CUDA implementation is faster than the workaround, it's still slower than the CPU version in almost all cases.

I based my CUDA implementation on the CPU implementation so that I could get it into a state that at least gives the correct result. So it's copying the first row of the indices matrix over to a CPU tensor a

[2020-01-31 20:49] #27048 closed

[2020-01-31 21:23] mcarilli commented on #30526
After pulling in master, my build succeeds with the right signature.  Thank you very much!

[2020-01-31 21:34] ngimel commented on #32860
Hi, I'm more interested in c++ traceback - running in gdb should let you do that, or importing your dumped core into gdb.

[2020-01-31 21:56] bhosmer commented on #30526
Excellent! thanks for raising the issue (and your patience :)

[2020-01-31 22:17] mcarilli commented on #30526
https://xkcd.com/541/

[2020-01-31 22:26] vadimkantorov commented on #32863
When I added contiguous/clone call in b definition, the issue disappeared, iirc. Can you check this too? If true, contiguity still matters

[2020-01-31 22:32] zihaozhang9 opened #32881 "CUDNN_STATUS_EXECUTION_FAILED"
When I train the code, the following problem suddenly appears

Traceback (most recent call last):
  File "main.py", line 211, in <module>
    train(args,model,train_loader,optimizer,epoch)
  File "/media/nnir712/F264A15264A119FD/zzh/detect/yolo/zzh_yolo/zzh_yolo_mobilenet/train.py", line 22, in train
    loss, outputs = model(imgs, targets)
  File "/home/nnir712/anaconda3/envs/zzhpy36/lib/python3.

[2020-01-31 22:39] rohan-varma opened #32883 "Issues with multithreading in autograd profiler"
## 🐛 Bug
Was experimenting with using the autograd profiler in multithreaded scenarios and ran into a couple of issues that I would like to bring up:

1. Crashes when profiling is run on two separate threads:
Repro (might take a couple tries):
[code]
Stacktrace:
[code]

It looks like there is a race to disable the profiler and the thread that loses has the exception thrown. What I would expect her

[2020-01-31 22:39] ngimel commented on #32863
Yep, that's true, as you see in my repro there's a contiguous tensor `bc` that produces the right result, and a discontiguous slice `bb`, where results are wrong. The discontiguity in original "full-size" tensor `a` does not matter though.

[2020-01-31 22:40] rohan-varma commented on #32883
cc @pritamdamania87

[2020-01-31 22:44] rohan-varma commented on #32883
I added the RPC label since this is a use case we'd eventually like to support with RPC based training

[2020-01-31 22:47] rohan-varma opened #32884 "[RFC] Nested scopes in autograd profiler should support RPC calls properly."
## 🚀 Feature
As described in https://github.com/pytorch/pytorch/issues/32517, nested scopes in the autograd profiler do not work if there are RPC calls in the scope, an example is as follows:

[code]

After a discussion with @pritamdamania87, we'd like to propose the following solution for enabling this to work with nested scopes:

1. Currently, setting and unsetting parent pointers to the current

[2020-01-31 22:48] rohan-varma commented on #32884
also cc @d4l3k for discussion around nested scope issues that we talked about.

[2020-01-31 22:50] vadimkantorov commented on #32863
Right. Even In my case the original tensor was contiguous iirc, only the slice was discontiguous

[2020-01-31 23:07] jerryzh168 commented on #32082
@robotcator please rebase on master and check again

[2020-01-31 23:18] zhaojuanmao commented on #29939
another difference btw Apex and PyTorch DDP is that Apex uses multiple CUDA streams underneath. will try to install the model and train it using Apex and PyTorch DDP in our infra and see whether it can be reproduced

[2020-01-31 23:20] tayo commented on #32192
Thanks @ptrblck.

Reading the code more closely, the cython path is provided just as a convenience for faster data preprocessing.  It needs to be invoked manually, using the Cython library installed on the system.  There should be no cython compilation in everyday use.  For example, I do not have Cython installed in my test environment.

Earlier in the thread, @ngimel said that model.to() initiali

[2020-01-31 23:39] beaulima opened #32887 "PILLOW_VERSION not available in PIL 7.0.0"
The new version of PIL does not support PILLOW_VERSION anymore
this creates an error in

torchvision/transforms/functional.py
at
from PIL import Image, ImageOps, ImageEnhance,PILLOW_VERSION (line 6)

ImportError: cannot import name 'PILLOW_VERSION' from 'PIL' ... python3.7/site-packages/PIL/__init__.py)

the package  PIL version 7.0 says

# VERSION was removed in Pillow 6.0.0.
# PILLOW_VERSION was

[2020-02-01 00:09] ailzhang commented on #9996
@michelgokan are you trying with the exact same script in this issue? It works for me on PyTorch master.
Would you mind opening a new issue(or updating this one) with a repro script and the error you are seeing? Thanks!

[2020-02-01 00:47] meixitu commented on #32860
Hi @ngimel ,
I am not familiar with gdb, I spend some time to learn it. Sorry for slow feedback.
I run command:
    gdb -ex r --args python lstm_toy.py
and below is the output.
after the process stop, I use "bt" command to get more informations.

[Thread 0x7fff50e8b700 (LWP 336) exited]
[Thread 0x7fff558bb700 (LWP 337) exited]
[Thread 0x7fff5168c700 (LWP 341) exited]
[Thread 0x7fff51e8d700 (LWP 34

[2020-02-01 00:52] z-a-f opened #32892 "Unittests for c10 types check from jit tracing"
An issue was raised that some ops registered with c10 were not correctly handled in jit tracing. #32886 resolves one of such issues.

Probably need unittests for c10 op registrations + tracing/scripting

cc @suo

[2020-02-01 00:53] ngimel commented on #32860
Ah ok then likely it is cause by #31906 and fixed on master. Can you try with the latest nightly builds?

[2020-02-01 01:00] zihaozhang9 opened #32893 "RuntimeError: CUDA error: misaligned address"
I installed pytorch using the following command
`conda install pytorch == 1.1.0 torchvision == 0.3.0 cudatoolkit = 10.0 -c pytorch`

Then run the code and find the following error
`     input = module (input)
   File "/home/nnir712/anaconda3/envs/zzhpy36/lib/python3.6/site-packages/torch/nn/modules/module.py", line 493, in__call__
     result = self.forward (* input, ** kwargs)
   File "/home/nnir

[2020-02-01 01:20] osalpekar commented on #30988
This should be fixed by PR  #32749!

[2020-02-01 01:20] #30988 closed

[2020-02-01 01:30] meixitu commented on #32860
Yes, I tried nightly builds
1. I uninstall torch and torchvision
2. pip install numpy
pip install --pre torch torchvision -f https://download.pytorch.org/whl/nightly/cu101/torch_nightly.html

So far, the code is running, no crash yet.
But I meet a new issue:
/pytorch/aten/src/ATen/native/cudnn/RNN.cpp:1262: UserWarning: RNN module weights are not part of single contiguous chunk of memory. This mea

[2020-02-01 01:33] ngimel commented on #32860
That warning is expected with DataParallel. To avoid it you'd need to use DistributedDataParallel.

[2020-02-01 02:03] #27368 closed

[2020-02-01 02:29] ptrblck commented on #32192
@tayo If the issue is created by the context initialization, e.g. `torch.randn(1, device="cuda")` should also take the same amount of time.
Did you test it and do you see the slowdown?

[2020-02-01 02:36] tinhchuquang opened #32898 "OneCycleLearningrate is bug in version"
## 🐛 Bug

[code]
## To Reproduce

Steps to reproduce the behavior:

1. `scheduler = torch.optim.lr_scheduler.OneCycleLR(optimizer, 1e-2, total_steps=None, epochs=n_epochs, steps_per_epoch=5021, pct_start=0.0,anneal_strategy='cos', cycle_momentum=True, base_momentum=0.85, max_momentum=0.95, div_factor=100.0)`
2. `optimizer.step()`
    `optimizer.zero_grad()`
3. `scheduler.step()`

## Expected behav

[2020-02-01 02:52] hafbau commented on #16693
I do not see how this is similar to #16602

[2020-02-01 02:56] Coderx7 commented on #32826
@xsacha : mkldnn doesnt support all operators as far as I know, and I have not experienced this first hand  (i.e. getting a boost by simply compiling the code with mkldnn enabled without expclicitly converting a model/data into mkldnn). apart from that, a performance boost of about 600x is reported by converting a model into mkldnn. [Here](https://discuss.pytorch.org/t/use-mkldnn-in-pytorch/54943/

[2020-02-01 02:56] pldelisle commented on #22834
I have kind of the same problem.

After every epoch, I have to reconstruct three 3D volume by making a forward pass on two consecutive models. These reconstructions can take over 30 minutes to do (thousands of patches to infer). Only process `rank==0` is doing it, other with `rank>0` should theoretically  be waiting. Except that the processes just seem to hang forever, which result in a `Runtime E

[2020-02-01 03:02] vadimkantorov commented on #32898
Related: https://github.com/pytorch/pytorch/issues/32639

[2020-02-01 03:08] yf225 commented on #32414
@ShahriarSS Would you like to help with fixing this issue?

[2020-02-01 03:23] vadimkantorov commented on #32863
Or maybe stride is considered to be 1 somewhere, since plain argmax over dim 0 is also failing...

[2020-02-01 03:23] tinhchuquang commented on #32898
Thanks @vadimkantorov

[2020-02-01 03:25] vadimkantorov commented on #32898
I think you should keep this issue open / reopen it. My original issue was closed without proper investigation (instead there happened architectural discussion)

[2020-02-01 04:18] z-a-f opened #32901 "QNNPACK linear doesn't preserve dimensions"
When using linear, in the fbgemm and fp implementations the first matrix can be of any rank, while the second has to be of rank 2. The result is expected to be the same rank as the first matrix. For example:
if multiplying two matrices A and B with these dimensions:

[code]

The resulting matrix C should have dimensions

[code]

However in QNNPACK the result is `[b*m, k]`

[2020-02-01 04:34] drscotthawley commented on #32770
I have a similar issue, although I did not try grabbing magma-cuda101 as you did.  Seems we need a "magma-cuda102", which doesn't exist.
Looking into building magma from source, there are more choices to make: mkl or openblas? gcc or icc? ...currently downloading and installing at least mkl.

[2020-02-01 05:04] peterjc123 commented on #32887
Please see https://github.com/pytorch/vision/issues/1712 for more details.

[2020-02-01 05:04] #32887 closed

[2020-02-01 05:43] chouxianyu commented on #22485
i met the same problem too.

[2020-02-01 06:29] Coderx7 commented on #32697
catching the exception relvead more errors concerning this, which i added to the original issue.

[2020-02-01 06:32] alextrekov3307 commented on #30019
`AttributeError: 'RecursiveScriptModule' object has no attribute 'weight'`

How do you access the weights of a scripted model?

[2020-02-01 07:21] MrunaliniN commented on #19349
Hi,
I am hitting this same error when trying to convert my custom model : /usr/local/lib/python3.6/dist-packages/torch/tensor.py:426: RuntimeWarning: Iterating over a tensor might cause the trace to be incorrect. Passing a tensor of different shape won't change the number of iterations executed (and might lead to errors or silently give incorrect results).
  'incorrect results).', category=Runtime

[2020-02-01 07:45] meixitu commented on #32860
is there any way to disable this warning?

Thanks

[2020-02-01 10:42] sarkararpan710 opened #32908 "Trying to compile Pytorch for contributing to the codebase."
Hi, I have wanting to understand the PyTorch codebase and am interested to  contributing to PyTorch and as a first step, I am trying to compile PyTorch from source using the command python setup.py develop.

Previously I was able to compille PyTorch without the develop flag in order to do the FastAI course.
But while compiling it for develop mode. I am getting this error. I tried looking for solut

[2020-02-01 11:08] Baranowski commented on #32500
Reproduced with `conda`. My `TORCH_LIBRARIES` also contains an absolute path:

[code]

[code]

[2020-02-01 11:09] Coderx7 opened #32909 "Some questions Concerning Intel's DNNL(MKLDNN) support in Pytorch"
## ❓ Questions and Help
Deep Neural Network Library (DNNL) is an open-source performance library for deep learning applications. The library includes basic building blocks for neural networks optimized for Intel Architecture Processors and Intel Processor **Graphics**.

Currently The MKLDNN version shipped with Pytorch as of yesterday (last nightly build) is version 0.21.1 which dates back to sep

[2020-02-01 11:51] peterjc123 commented on #32908
Some suggestions according to my experience:
1. MSVC 2017 14.16.27023 is not supported. Please try out VS 2019 instead.
2. As for the linking error, please use the protobuf in this repo rather than the one in your system.

[2020-02-01 13:57] tamamha commented on #12436
I had the same problem , any help?

[2020-02-01 14:33] lihuiknight commented on #14489
@sebftw  This method is cool. It seems that it only works for the metric whose sizes are like B * M * N (N=1). I wonder weather there is an efficient method to support a sparse matrix (size=N*M) multiply batch dense matrix (size=B*M*N), B, M, N > 1.

[2020-02-01 16:45] unrelatedlabs commented on #32794
The problem was the docker container running low on memory and gcc was crashing. Increasing memory in docker desktop on mac to 8GB solved it.

[2020-02-01 16:45] #32794 closed

[2020-02-01 17:02] bnehoran opened #32910 "isfinite() as a torch.Tensor method"
## 🚀 Feature

Allow `isfinite()` to be a tesnor method, so that it can be called as `x.isfinite()` instead of `torch.isfinite(x)`. That is, allow both options.

#### Example usage:
[code]
_(Note: This is a simplification of an actual use case. Of course, for `sqrt()` you could just check for negative inputs.)_

As an added bonus, if numpy also follows suit, it could allow writing simpler code that

[2020-02-01 18:22] ngimel commented on #32860
No

[2020-02-01 18:41] ngimel commented on #32863
The root cause is TensorIterator splitting tensors that cannot be indexed with int32, and processing them chunk by chunk. For everything except reductions involving indices this works good, however, for reductions involving indices, such as argmax or argmin, the indexing in the split tensor starts with 0 rather than with whatever index there was in the original large tensor. In the example below:

[2020-02-01 18:45] ngimel commented on #32909
Intel is working on adding DNNL support to pytorch #32422

[2020-02-01 18:55] vadimkantorov commented on #32863
Does it finally also implicate max/min with indices?

[2020-02-01 19:24] adamlerer opened #32912 "Optional seq_len argument to torch.nn.utils.rnn.pad_sequence"
## 🚀 Feature

torch.nn.utils.rnn.pad_sequence should take an optional argument that specifies the padded length of the sequence.

## Motivation

Suppoose I have a batch of sentences of different lengths 1-100, and I want to pad batches to length 100 (because say my model only takes length-100 sequences). You can't currently do that.

## Alternatives

You can hack it by cat-ing an extra tensor onto

[2020-02-01 19:26] adamlerer commented on #32912
Actually the arg should be called `total_length` to match `pad_packed_sequence`.

[2020-02-01 19:28] ngimel commented on #32863
No, min and max with indices don't go through tensorIterator, they use legacy codepaths in THC iirc.

[2020-02-01 19:35] Enealor commented on #32703
@zou3519 I opened a PR (#32911) to resolve this error and some formatting issues I noticed. Can you let me know if this also resolves it for you? It passes what I was considering a reproduction of the bug, but it would be good to check.

[2020-02-01 23:01] #32234 closed

[2020-02-02 06:59] jspisak commented on #30380
Nw, i am delayed as well on responding. Have you looked at any of the 60min blitz content? We have colab links that immediately allow you to jump into code execution.

Here is the link with the colab logo at the top that is clickable: https://pytorch.org/tutorials/beginner/blitz/tensor_tutorial.html#sphx-glr-beginner-blitz-tensor-tutorial-py

If surfacing this better in getting started would help

[2020-02-02 07:03] jspisak commented on #26691
thanks!! (and apologies for the delayed response). Is this something you would be willing to develop out of tree but promoted as part of the pytorch ecosystem? These are really cool projects but we try hard to keep the core lean and have it as modular as possible.

btw, can you state more about the plans for complex number support? Are you for example planning to support quaternions?

[2020-02-02 10:16] realiti4 opened #32914 "Source build only uses 1 thread"
Hi, I have a 4 core cpu, and according to docs pytorch should default this value to number of cores. My source build only uses 1 thread, therefore it is x2 slower than pip wheel. I can still set torch.set_num_threads(4) and get a 30% better performance than pip version, but I don't want to do this everytime, and I'm also curious why setup can't detect my core count.

torch.__config__.parallel_info

[2020-02-02 10:32] peterjc123 commented on #32914
How did you link against MKL in your own build?

[2020-02-02 10:33] peterjc123 commented on #32914
BTW, this is how we add MKL in release builds: https://github.com/pytorch/builder/blob/master/windows/build_pytorch.bat#L67-L73.

[2020-02-02 10:39] realiti4 commented on #32914
I installed the library from intel and I'm using this one, should I try the above one?

[code]

[2020-02-02 10:43] peterjc123 commented on #32914
Yes, you can try that. BTW, could you please post the log of your build? I think there may be sth wrong with the detection logic of MKL in our scripts.

[2020-02-02 10:52] Baranowski commented on #32500
Reproduced also for build from the sources:

[code]

[2020-02-02 10:57] realiti4 commented on #32914
v1.3.1 log with fix #29273. I've tried building from master yesterday and it also sets only 1 thread.

[code]

[2020-02-02 11:11] peterjc123 commented on #32914
Could you find where the following two libraries in your own installation of MKL?
[code]
They are essential for linking against the parallel version of MKL.

[2020-02-02 11:16] peterjc123 commented on #32914
In previous versions, they have the following locations:
[code]

[2020-02-02 11:18] realiti4 commented on #32914
mkl_intel_thread.lib is in:
`D:\Files\Program\IntelSWTools\compilers_and_libraries_2019.5.281\windows\redist\intel64_win\mkl\mkl_intel_thread.lib`

and libiomp5md.lib is in:
`D:\Files\Program\IntelSWTools\compilers_and_libraries_2019.5.281\windows\compiler\lib\intel64_win\libiomp5md.lib`

[2020-02-02 11:19] peterjc123 commented on #32914
What about `mkl_intel_lp64.lib`?

[2020-02-02 11:20] realiti4 commented on #32914
That one is in:
`D:\Files\Program\IntelSWTools\compilers_and_libraries_2019.5.281\windows\mkl\lib\intel64_win`

[2020-02-02 11:20] peterjc123 commented on #32914
Looks like the path of `mkl_intel_thread.lib` is changed. We may need a patch on this.

[2020-02-02 11:23] realiti4 commented on #32914
If I add the new path to LIB variable for now, it should see it right?

[2020-02-02 11:24] wilderrodrigues commented on #16417
I'm training a YOLOv3 with Darknet53 weights on a custom dataset. My GPU is a NVIDIA RTX 2080 anda I was facing the same issue. Changing the batch size solved it.

[2020-02-02 11:25] peterjc123 commented on #32914
Yep. You'll need to add `D:\Files\Program\IntelSWTools\compilers_and_libraries_2019.5.281\windows\redist\intel64_win\mkl\` I guess.

[2020-02-02 11:26] peterjc123 commented on #32914
You should sth like this if it is working.
[code]

[2020-02-02 11:31] cossio opened #32915 "Installing tensorboard"
## 📚 Documentation

I think it should clearly stated in the docs that one needs to install tensorboard (*i.e.*, that it is not bundled with pytorch), and how to do it. Specifically on this tutorial:

https://pytorch.org/tutorials/intermediate/tensorboard_tutorial.html

Also here it is mentioned that one needs to install it:

https://pytorch.org/docs/stable/tensorboard.html

But maybe giving the pr

[2020-02-02 11:33] realiti4 commented on #32914
Oh I'm so sorry I checked mkl_intel_thread.dll for some reason. mkl_intel_thread.lib is in the right place it looks like:

`D:\Files\Program\IntelSWTools\compilers_and_libraries_2019.5.281\windows\mkl\lib\intel64_win`

[2020-02-02 11:35] #32915 closed

[2020-02-02 11:44] realiti4 commented on #32914
All is in the right place looks like, but these are empty:
[code]

[code]

[2020-02-02 13:22] realiti4 commented on #32914
Adding this below path to my LIB variable, MKL OpenMP library is found now @peterjc123 thanks!

`D:\Files\Program\IntelSWTools\compilers_and_libraries_2019.5.281\windows\compiler\lib\intel64_win`

[2020-02-02 13:41] peterjc123 commented on #32914
What output did you get if you pass in `-DMKL_FIND_QUIETLY=OFF` for CMake?

[2020-02-02 13:42] peterjc123 commented on #32914
It shouldn't be a required action. Reopening this issue.

[2020-02-02 13:45] realiti4 commented on #32914
Should I try this without adding `\windows\compiler\lib\intel64_win`?

[2020-02-02 13:46] peterjc123 commented on #32914
Sure, don't add this.

[2020-02-02 13:49] peterjc123 commented on #32914
BTW, would you please post the value of `CMAKE_LIBRARY_PATH` in `CMakeCache.txt`?

[2020-02-02 13:51] ksiv opened #32916 "from torch._C import * (ImportError: DLL load failed)"
## 🐛 Bug
Bad import error handling
By rising this issue my target not to get it to work "somehow"
But to improve the error handling giving to the people an opportunity to understand what went wrong.
I seen A LOT of such issues through the internet where solution was to reinstall totally different components to make it work and even downgrade the product which is totally NOT acceptable in today's w

[2020-02-02 13:56] realiti4 commented on #32914
How can I pass this in btw, currently I'm using `python setup.py install`?

[2020-02-02 13:59] stonebig commented on #21741
torch-1.4.0+cpu-cp38-cp38-win_amd64.whl is out

[2020-02-02 13:59] clw5180 commented on #15359
Looking forward to the solutions！

[2020-02-02 14:01] peterjc123 commented on #32914
Add `MKL_FIND_QUIETLY` to the list here: https://github.com/pytorch/pytorch/blob/v1.3.1/tools/setup_helpers/cmake.py#L240 and then do `set DMKL_FIND_QUIETLY=OFF` before `python setup.py install` in CMD.

[2020-02-02 14:04] peterjc123 commented on #32914
According to your description, the `${MKLROOT}\compiler\lib\intel64_win` is not added to `CMAKE_LIBRARY_PATH`. But it should be done here: https://github.com/pytorch/pytorch/blob/v1.3.1/cmake/Modules/FindMKL.cmake#L110-L113.

[2020-02-02 14:35] realiti4 commented on #32914
I don't think I was able to pass in `DMKL_FIND_QUIETLY=OFF`. Here is what I did:

added this:

[code]
`set DMKL_FIND_QUIETLY=OFF` but log looks the same and there is no `CMAKE_LIBRARY_PATH` in `CMakeCache.txt`

Here is new log:

[code]

[2020-02-02 14:39] peterjc123 commented on #32914
No problem, I think I know the reason. `cblas_sgemm` is not found in the parallel ones of libraries. Could you please post `CMakeError.txt` here?

[2020-02-02 14:41] realiti4 commented on #32914
Here:

[code]

[2020-02-02 14:56] peterjc123 commented on #32914
Looks like it is still caused by the missing of `libiomp5md.lib`. Could you please add the following line [here](https://github.com/pytorch/pytorch/blob/v1.3.1/cmake/Modules/FindMKL.cmake#L129)?
[code]

[2020-02-02 15:03] peterjc123 commented on #32914
BTW, could you please post `CMakeCache.txt`, too?

[2020-02-02 15:08] realiti4 commented on #32914
I added `MESSAGE("${CMAKE_LIBRARY_PATH}")` and this is CMakeCache.txt after that. Should I also post CMakeError.txt again?

[code]

[2020-02-02 15:18] peterjc123 commented on #32914
@realiti4 Are you running the build process in some Bash environments, like Git Bash?

[2020-02-02 15:22] peterjc123 commented on #32914
BTW, would you please post the log of cmake configuration after applying the changes?

[2020-02-02 15:31] realiti4 commented on #32914
No I dont, here is after the changes:

[code]

[2020-02-02 15:38] peterjc123 commented on #32914
Would you please delete `CMakeCache.txt` and try again?

[2020-02-02 15:46] realiti4 commented on #32914
I run `python setup.py clean` but maybe `CMakeCache.txt` was open somewhere? This one doesn't have `CMakeCache.txt` I've checked it.

this is the change I made on `FindMKL.cmake`:
[code]

This is the log:
[code]

[2020-02-02 16:58] vadimkantorov commented on #32863
@ngimel If only argmax uses TensorIterator with indices, a temporary fix could be calling reusing max() code path for CUDA as well (like it seems already done on CPU)

[2020-02-02 17:08] ksiv commented on #32916
File operations ended with
NAME NOT FOUND
\PythonSoftwareFoundation.Python.3.7_3.7.1776.0_x64__qbz5n2kfra8p0\torch_python.dll
\PythonSoftwareFoundation.Python.3.7_qbz5n2kfra8p0\LocalCache\local-packages\Python37\site-packages\torch\torch_python.dll
\PythonSoftwareFoundation.Python.3.7_3.7.1776.0_x64__qbz5n2kfra8p0\torch_python.dll
C:\Windows\System32\torch_python.dll

this torch_python.dll as the

[2020-02-02 17:22] dylanbespalko commented on #26691
Hi @jspisak,

### Out-of-Tree Project
 - **Yes this should absolutely remain out-of-tree.**
 - I am using the `DeviceType::FPGA` device type, however there are two other FPGA solutions from Xilinx alone. Vitis is supposed to replace the other two, but it takes time.
 - Unlike the CPU/GPU, I had to use a config file to reduce the build time by:
    - Specifying which kernels to build (BinaryOps, Sp

[2020-02-02 17:26] ggaziv opened #32918 "Interpolate in the “bicubic” mode with the same shape outputs zeros from second sample onwards"
## 🐛 Bug
When using torch.nn.functional.interpolate with "bicubic" mode and target resolution similar to the input 4D tensor, the output tensor has zeros everywhere starting from the second sample.

## To Reproduce
[code]

## Expected behavior
[code]
## Environment
PyTorch version: 1.4.0
Is debug build: No
CUDA used to build PyTorch: 10.1

OS: CentOS Linux 7 (Core)
GCC version: (GCC) 4.8.5 2015062

[2020-02-02 21:20] SophieCXT commented on #19406
You can use this:
**pip install torch==1.2.0+cpu torchvision==0.4.0+cpu -f https://download.pytorch.org/whl/torch_stable.html**
It worked on my environment.

[2020-02-02 22:23] Evpok commented on #19053
@driazati Thanks for the workaround, any idea how to do it when the `ScriptModule` is not the top-level module but is a member of a `Module` that is not scripted as in

[code]

[2020-02-03 00:46] forresti opened #32919 "Torchscript used to work, but now it fails with VariableTensorId error"
## 🐛 Bug
When I export torchvision's resnet18 to torchscript and run it on Android using the `speed_benchmark_torch` binary, it fails with the following error:

[code]

## History
For a while, I was using on hash b05d0fa67144d5af0545a333d5792c2e3946b8c5, which was committed to the master branch of pytorch in Oct 2019. I was working with Torchscript models on Android, and things were working fairly

[2020-02-03 01:28] carlodavid012 opened #32921 "RuntimeError: cuDNN error: CUDNN_STATUS_EXECUTION_FAILED"
## Issue description

I am using google colab to train a Bidirectional RNN model and I get the error:

[code]

Here’s my BiRnn Model code:

[code]

I tried this solution [1](https://discuss.pytorch.org/t/runtimeerror-cudnn-error-cudnn-status-execution-failed/31169/8) and this [2](https://github.com/NVIDIA/tacotron2/issues/109) and still get the error.

cc @csarofeen @ptrblck

[2020-02-03 01:31] carlodavid012 commented on #32881
check this solution https://discuss.pytorch.org/t/runtimeerror-cudnn-error-cudnn-status-execution-failed/31169/8 and https://github.com/NVIDIA/tacotron2/issues/109

[2020-02-03 01:44] zihaozhang9 commented on #32881
Yesterday, I tried many versions of graphics driver, CUDA, cudnn and pytorch.
Then I discovered a magical phenomenon, when only 10 pictures are loaded in the graphics card, it can be trained normally. When loading 100 pictures, the video memory uses about 3G, and then reports an error.
From this I suspect that it is not the version that is wrong, it should be the graphics card hardware failure.

[2020-02-03 01:49] pritamdamania87 commented on #28881
There are a couple of options here:

1. For GPU tensors, always implicitly copy the tensor to CPU memory before sending it over the wire. The user code running the python UDF would always receive CPU tensors as arguments and the return value on the caller side is always a CPU tensor.
2. RPC API throws an exception that it doesn't support sending GPU tensors over the wire.

For now, I feel 2. is a

[2020-02-03 01:49] hsl89 commented on #32861
Yes, I have encountered the same warning. This happened after I build my custom Dataset object for loading images (cifar10).
I saved cifar10 images as png images in `train/` and `test/` dirs. Here is my custom Dataset

`
from torch.utils.data import Dataset
import os
import PIL.Image as Image

class ImageDataCLS(Dataset):
    '''Image dataset object for classification'''
    def __init__(self, roo

[2020-02-03 02:34] boren-ms opened #32924 "Connect timeout feature do not work in DDP with TCPStore"
## Issue description
The timeout setting in the function init_process_group in DDP don not work.
I found that after release v1.3.0, the TCPStore initilizaiton function will can connect the server with timeout, but the timeout value is actually set after the TCPStore initialization function.
init_process_group -> TCPStore()-> set timeout
This mean the first connect will always use the default timeo

[2020-02-03 03:52] speedcell4 commented on #31829
@vadimkantorov I implemented a `zero_nan_grad_` like this

[code]

But `torch.jit.script` is not capable of compiling this. Is there any word around? I need both replacing nan grad with zero and high speed

[2020-02-03 04:23] peterjc123 commented on #32916
Let's split your issues into two issues, the first part is the bug about the dll loading problem and the second part is the feature request to make it user-friendly.

## Bug
Apparently, from your description, you are using a non-standard python distribution. As for standard python distributions, we refer to Anaconda and Python from the official site. And in that python distribution, the current pa

[2020-02-03 05:46] peterjc123 commented on #32914
What about resetting `LIB` by `set LIB=` and retry again?

[2020-02-03 06:09] #32750 closed

[2020-02-03 06:22] speedcell4 commented on #31829
I made a word around here, it seems works well on all these three cases,
1. all negative infinity
2. non-infinity
3. contain negative infinity

[code]

[2020-02-03 06:51] shinh opened #32926 "[ONNX] torch.onnx emits -1 in shape for Expand"
## 🐛 Bug

torch.onnx may emit -1 in the second input of Expand op for `torch.tensor.expand`. It seems ONNX does not allow -1 as dims in the expanded shape. I think torch.onnx should translate -1 to 1.

## To Reproduce

Steps to reproduce the behavior:

1. Run the following script.
1. Notice the Constant node fed to Expand op has a negative value.

[code]

## Expected behavior

I think -1 should be

[2020-02-03 09:10] artemisart commented on #32467
Should I make a PR for this feature or is it not wanted ?

[2020-02-03 10:17] Baranowski commented on #32500
@thomashrabeBC Could you please paste the entire verbose cmake and make log? I cannot reproduce your exact errors and the CMake documentation states that absolute paths to libraries are allowed in `target_link_libraries`: https://cmake.org/cmake/help/latest/command/target_link_libraries.html

However, I can see an issue that might be related to what you are experiencing.

To generate the logs you

[2020-02-03 10:29] realiti4 commented on #32914
Hi, this is when I reset `LIB`:

[code]

[2020-02-03 11:01] nkneha opened #32927 "Python 3.8.1 error"
If you have a question or would like help and support, please ask at our
[forums](https://discuss.pytorch.org/).

If you are submitting a feature request, please preface the title with [feature request].
If you are submitting a bug report, please fill in the following details.

## Issue description

Provide a short description.

## Code example

Please try to provide a minimal example to repro the

[2020-02-03 11:35] realiti4 commented on #32346
Hi @ngimel I'm not sure if should open a new issue, but the problem still exists on master with fix #32563.

Code to reproduce:

[code]
This works fine with:
[code]

Adding `.cuda()` gives this:
[code]

And adding `.cpu()` gives this:
[code]

[2020-02-03 11:38] RobotGF commented on #25764
Does DLProf support Pytorch in NGC？ I pulled 19.06 but didn't find DLProf

[2020-02-03 13:59] soumith commented on #21741
python 3.8 packages on PyPI are live for both OSX and Linux.

https://pypi.org/project/torch/#files

[2020-02-03 13:59] #21741 closed

[2020-02-03 14:46] gordinmitya commented on #21683
+ to motivation
I need to convert an onnx model to torchscript (.pt) so I can run it on pytorch mobile.
How can I do this now? Any workarounds?

[2020-02-03 14:48] xDuck opened #32928 "Effectiveness of pruning"
When using the new pruning module in 1.4 `torch.nn.utils.prune` I notice it is only zeroing out the weights in my model, not actually re-structuring the model to remove the connections, so my model size remains the same before and after pruning.

Is there a step I am missing or do I have to implement my own model reducing function based on the pruning?

I am following the example here - https://gi

[2020-02-03 14:58] ezyang commented on #32346
@realiti4 go ahead and open a new issue

[2020-02-03 15:01] ezyang commented on #32346
@realiti4 go ahead and open a new issue

[2020-02-03 15:24] realiti4 opened #32929 "If .cuda() or .cpu() used, Weight Drop gives - RuntimeError: MatrixRef: ArrayRef size 3 not divisible by stride 4"
Hi, I had an issue after upgrading from 1.3.1 to 1.4.0 here #32346 which fixed by #32563. Different errors now, but still using this weight drop example with `.cuda()` or `.cpu()` gives the errors below. If `.cuda()` or `.cpu()` is not used, the code works as it should.

This can be reproducible on 1.4.0 with fix #32563, or on master. It works fine on 1.3.1

Code to reproduce:

[code]
This works f

[2020-02-03 15:28] neeraj-j commented on #32526
Thanks, for the prompt response. I created a static map of layer type in "init". Similar to your solution and used it in forward.

[2020-02-03 15:28] #32526 closed

[2020-02-03 15:35] ezyang commented on #32867
One difficulty is that in many points of our code we assume all tensor elements are addressable (for example, for views), and this would not be the case with bit-packed tensors.

[2020-02-03 15:38] ezyang commented on #32866
I'm not too sure what the true problem is, but whatever it is, we shouldn't be triggering an illegal memory access from CUDA, we should have cuaght the error earlier. What version of PyTorch are you running? Do you think you could make a standalone repro script (e.g., by feeding in the network a `torch.randn(...)` of appropriate size?)

[2020-02-03 15:39] ezyang commented on #32865
Yes, I agree with this diagnosis. Unfortunately I haven't had time to setup a Windows reproduction environment for the issue yet.

[2020-02-03 15:39] ezyang commented on #31611
I don't know when I'm going to get to this, unassigning myself for now.

[2020-02-03 15:42] ezyang commented on #32893
Please try again on a newer version of PyTorch, and reopen the bug if this persists.

[2020-02-03 15:42] #32893 closed

[2020-02-03 15:43] ezyang commented on #16693
It seems like there is something wrong with your system headers. I'm not sure how we can help here. You could try blowing away your Anaconda environment and trying again.

[2020-02-03 15:43] #16693 closed

[2020-02-03 16:02] vadimkantorov commented on #32867
I wonder if we could design some explicit pack/unpack/load/store/index util methods that would be enough for basic usage (like numpy does with packbits/unpackbits)

[2020-02-03 17:01] meixitu commented on #32860
@ngimel ,
Thanks for your great help.

Thanks

[2020-02-03 17:01] albanD commented on #31768
Hi,

Does moving the `zero_grad()` in the main loop after the forward pass solve the issue (just before the loss.backward())?

Also using `.backward()` in your forward pass is quite dangerous, you don't know how much it will impact as it will backprop on anything that impacted `x` which does not seem to be what you want here right? Could you use `autograd.grad()` to get only the gradient you want?

[2020-02-03 17:02] zou3519 commented on #31945
@cossio,

I'm not sure what erfcx does under the hood, but PyTorch does not have a numpy/scipy dependency so we cannot take a pull request if it is implemented as shown.

Given that `erfcx` is a pointwise (it operates on elements in an element-wise fashion) function, we should put it in here: https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/UnaryOps.cpp , in C++. It's possible t

[2020-02-03 17:06] #25016 closed

[2020-02-03 17:13] peterbell10 commented on #31768
It does.

[2020-02-03 17:16] bsuryadevara commented on #32584
@ngimel @zhangguanheng66  thank you looking into this issue. I was on vacation since then could not able to reply your comment.
Here is the list of files that reproduces the issue. And also I noticed script is successfully executing with 1.4.0 version when accessible gpu count is less than 3.
[issue_reproducable_files.zip](https://github.com/pytorch/pytorch/files/4149065/issue_reproducable_files.z

[2020-02-03 17:20] #31915 closed

[2020-02-03 17:24] zuoxingdong commented on #32552
For the references, [here](https://github.com/numpy/numpy/issues/14193) and [here](https://github.com/numpy/numpy/pull/14197) are the related discussions in numpy.

[2020-02-03 17:26] alondj opened #32930 "TupleUnpack outputs not used in the correct places in the trace graph"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:
[code]

ABC trace
[code]

CBA trace unexpected behavior
[code]
the relu should use the third output of the tuple unpack and not the first

## Expected behavior

in the CBA trace it should show aten::relu(%26) and aten::softmax(%24, %13, %14)
to indicate the tuple element used.
 as in the scripted version
[code]

## Environment

Collecting

[2020-02-03 17:29] dangpzanco commented on #17501
any update on this issue?

[2020-02-03 17:58] albanD commented on #32619
FYI The corresponding forum post is [here](https://discuss.pytorch.org/t/runtimeerror-tensor-does-not-have-a-device/67556) this is a minimal repro for the above:
[code]
But it does not repro on master anymore.

[2020-02-03 17:58] #32619 closed

[2020-02-03 18:06] ezyang commented on #32589
Re automatic Python type conversion, #31558 is kind of the inverse issue

[2020-02-03 18:07] ezyang commented on #32589
There is no reason allclose shouldn't support a numeric argument, although the way this is implemented for other functions `add()` is via a Scalar overload

[2020-02-03 18:09] Baranowski commented on #22815
Does anyone have a link to the slack conversation that @ailzhang mentioned in the first comment?

Does anyone know the context of @gchanan adding the `dependency bug` label?

[2020-02-03 18:09] ezyang commented on #27971
Let's reduce the default cache size.

[2020-02-03 18:09] ezyang commented on #27971
@gchanan says maybe the recent release of MKL DNN may have helped here.

[2020-02-03 18:11] jonas154 commented on #24157
I can confirm - after an update to pytorch 1.4 everything works for me.

[2020-02-03 18:12] ezyang commented on #32769
Seems reasonable. However, @gchanan wonder if we even have the non-nan version!

[2020-02-03 18:13] ezyang commented on #32698
We're probably not going to have in tree Julia bindings, but if you have changes you need to make to PyTorch to make bindings easier let us know.

[2020-02-03 18:15] ezyang commented on #22338
Maybe we should offer some way to manually override the instruction selection

[2020-02-03 18:16] ezyang commented on #23651
This would be transitively solved by #22378

[2020-02-03 18:18] #32001 closed

[2020-02-03 18:18] DeleOgunjumelo opened #32934 "Dynamic Linear quantization fails with engine 'qnnpack when trying to create a quantized based model for use on an Android mobile device"
## 🐛 Bug

Dynamic Linear quantization fails with engine 'qnnpack.' I am trying to create a quantized based model for use on an Android mobile device.

## To Reproduce

Steps to reproduce the behaviour:
1. Modify ( Enable quantization ) python script for serialising a network model in the root folder of Pytorch Mobile demo HelloWorld app (https://pytorch.org/mobile/android/ ).

See modified script

[2020-02-03 18:23] ljk53 commented on #32858
@vishal-wiai thanks for reporting your problem!

Looks like there are 3 issues:
- 1.3.0: there are some known issues with initial experimental 1.3.0 release, which we fixed in later releases, so it's expected to fail with some models.
- 1.4.0: there were some related discussions around numerical difference between python v.s. android: https://discuss.pytorch.org/t/module-output-slightly-off-on-and

[2020-02-03 18:23] bsugerman commented on #32769
You have an easy-enough workaround right now with e.g.

        k=int(np.around((len(x)-1)*(percentile/100.0)))
        return th.kthvalue(x,k,dims=0).values

[2020-02-03 18:25] joehoeller commented on #32698
What would be the technical justification for it?

On Mon, Feb 3, 2020 at 12:13 PM Edward Z. Yang <notifications@github.com>
wrote:

[2020-02-03 18:25] ezyang commented on #15359
colesbury mentioned that one killer reason for deterministic algorithms is not because determinism is actually the problem, but that you can rule it out when you turn this on ;)

[2020-02-03 18:28] ezyang commented on #32863
ngimel thinks there are not good fixes. TensorIterator is being used for reductions, and it splits the tensors into smaller tensors. But for argmax/argmin, you're interested in the value of the index, which when split doesn't make sense. So we'd have to bring back the path for reduction and index it with int64... but that's a perf hit. ezyang wonders if you couldn't maintain the base offset of the

[2020-02-03 18:29] ezyang commented on #32866
Can you also run the env script so we can find out the cudnn version

[2020-02-03 18:32] ljk53 commented on #32613
Sounds like you are trying to build PyTorch on Android device with Termux + Ubuntu root image? - it is not something we currently support.
You can cross-compile LibTorch for Android/iOS from source on desktop with Android NDK/XCode, or you can use prebuilt binaries we released. Please find more details at: https://pytorch.org/mobile/home/

[2020-02-03 18:33] #32613 closed

[2020-02-03 18:40] v0dro commented on #12013
Should close this one subject to merging of #32384

[2020-02-03 18:40] #31757 closed

[2020-02-03 18:43] ljk53 commented on #32690
In addition to dreiss comment, you can build a customized libtorch using "scripts/build_mobile.sh", which works similarly to Android/iOS custom build.
It's called "build_mobile.sh" but it can run on your laptop with host gcc/clang. "_mobile" means it uses the same CMake options we used to optimize mobile build size.

[2020-02-03 19:03] xDuck commented on #32928
After reading the original issue and looking into the code, it seems pruning is strictly in research phase still and not actually providing any benefits yet.

[2020-02-03 19:03] #32928 closed

[2020-02-03 19:05] driazati commented on #32840
This is on our radar to do in the next few months

[2020-02-03 19:12] mtkliema opened #32937 "Operation Registration Error"
## 🐛 Bug

Issue with operator registration in aten.

## To Reproduce

Steps to reproduce the behavior:
I am attempting to follow the tutorial here: https://pytorch.org/tutorials/advanced/torch_script_custom_ops.html

The following line is causing a compilation error on 1.4 that did not occur on 1.1.
static auto registry =
  torch::RegisterOperators("my_ops::warp_perspective", &warp_perspective);

[2020-02-03 19:44] vadimkantorov commented on #32863
Should argmax impl be replaced by the `max(dim = dim).indices` code path in the meanwhile?

[2020-02-03 19:56] pritamdamania87 commented on #32883
@ezyang @albanD @d4l3k We were wondering if we had evaluated running the autograd profiler from multiple threads before? A potential use case is where we might want to profile multiple jit threads separately (when using torch.jit._fork and torch.jit._wait). I guess torchscript doesn't support the `with autograd.profiler` clause yet, but this might be useful in the future.

[2020-02-03 20:13] kurtamohler commented on #5672
Does anyone here have experience working with Cusparse? I'm having trouble figuring out how to properly create a cusparseSpMatDescr_t structure, which is needed for the cusparseSpMM() function. I'm hoping that I can reuse the data from an at::SparseTensor, so I'm trying to use the cusparseCreateCoo() function with pointers into the at::SparseTensor.

I've written the call to cusparseSpMM(), but th

[2020-02-03 20:16] ezyang commented on #29844
Some updates to this issue:
1. I've come around to @dzhulgakov's point that there is shared CPU code that should be deduplicated. So my idea now is that we should still have a two step dynamic dispatch; the only difference is that we should use c10 dispatcher to do both levels of dispatch. There isn't really a technical reason to do this (in some sense, DispatchStub is superior at what it does), i

[2020-02-03 20:31] larrywberg commented on #3047
This is still a problem.  I know Apple doesn't ship with NVidia boards any more but users can still use the boards in expansion chasis and in older machines.  NVidia should support modern OS build environment if they ever hope to be taken seriously on the platform that most modern developers work on.  The latest 10.2 CUDA still fails and requires an older mac OS to even install.  I was able to get

[2020-02-03 20:54] albanD commented on #32883
Hi,

I don't recall any discussion about this (but very possible I missed it if one happened).
But at the time where the profiler was created. Pytorch was python-only and everything there was single threaded. So I wouldn't be surprised if there are oversight here. In particular with the fact that all threads use the same autograd engine.

I would agree that it should at least not crash. And if pos

[2020-02-03 21:12] smessmer commented on #32937
Are you using the `torch::Tensor warp_perspective(torch::Tensor image, torch::Tensor warp)` function signature as in the tutorial or did you change or add any parameters? Can you share your code?

[2020-02-03 21:17] tueboesen opened #32942 "[feature request] custom sample size during backpropagation"
Large networks like for instance cycleGAN, will be unable to run with a batch size larger than 1-10 usually, due to the severe memory requirements during backpropagation. However this is only because the backpropagation is done for all images at once. If instead there was an optional parameter when calling backprop that set the number of images to backprop at once and then just looped through all

[2020-02-03 21:59] smessmer commented on #32927
Closing because this is just the standard template without an issue description. Please reopen with the actual bug report.

[2020-02-03 21:59] #32927 closed

[2020-02-03 22:16] #27412 closed

[2020-02-03 22:20] ezyang commented on #5672
Full disclosure: I haven't written any CUDA kernels in a long time, so I'm not the best person to ask for CUDA-side algorithmic advice.

[2020-02-03 22:25] pbelevich opened #32946 "torch::allclose() doesn't handle std::numeric_limits<int64_t>::lowest() properly"
[code]

cc @yf225

[2020-02-03 22:36] mtkliema commented on #32937
Ah I did the tutorial with the c++ compiler and it worked. It seems that NVCC isn't able to properly resolve the templated code if I include it the RegisterOptions in a .cu extension.

[2020-02-03 22:38] ezyang commented on #29844
But then, going one step further, maybe there is no benefit in folding DispatchStub into c10 dispatcher, and it should stay so we can keep c10 dispatcher oblivious of vectorization concerns.

[2020-02-03 22:57] sinoroc commented on #24310
Has the position on publishing Windows _wheels_ to _PyPI_ been reconsidered?

I believe it is a known fact already: the size limits on _PyPI_ can be modified or removed on a case by case basis. See the [PyPI topic on "How do I get a file size limit exemption or increase for my project?"](https://pypi.org/help/#file-size-limit).

[2020-02-03 23:06] spandantiwari commented on #32926
We will take a look.

[2020-02-03 23:24] carlodavid012 commented on #32881
@zihaozhang9 try running it on CPU on few epochs and check if there is an error

[2020-02-03 23:25] ailzhang opened #32949 "TestCuda.test_streams is flaky on circleCI windows."
Example failure log:
https://app.circleci.com/jobs/github/pytorch/pytorch/4406011
[code]

cc @ezyang @gchanan @zou3519

[2020-02-03 23:45] Baranowski commented on #22815
Oh, @yf225 's https://github.com/pytorch/pytorch/pull/20909 resolves a big chunk of this issue, minus the accommodations for XLA. I thought this issue was still waiting for an assignee.

[2020-02-04 00:24] elliotwaite opened #32954 "Can't use avg_pool2d with the default stride when converting to ONNX"
## 🐛 Bug

When calling `torch.onnx.export()` with a model that uses `F.avg_pool2d()` without specifying a stride, an error occurs. According to the docs, if the stride is left as `None`, it should by default be set to the kernel size.

## To Reproduce

Run this script:

[code]

Here is the output with the error message:
[code]

In contrast to `avg_pool2d`, `max_pool2d` handles the default stride c

[2020-02-04 00:36] barkerje commented on #23999
I had the same error, but then I realized I had not called `model.eval()`.  If you don't set your model to evaluate mode, it will still use things like drop out which will add randomness to your model making the results not match.

[2020-02-04 00:45] elliotwaite opened #32956 "Slices don't work when converting to ONNX and using ONNX.js"
## 🐛 Bug

If I convert a model that uses a slice (such as `x = x[:, 0]`) into an ONNX model, and then use that ONNX model with ONNX.js, I get an error. I am not sure if this is an issue with the PyTorch-to-ONNX conversion or with the ONNX.js library.

## To Reproduce

Generate an ONNX model with the script below:

[code]

This will generate this graph:

[code]

This will also generate the `model.o

[2020-02-04 00:59] ailzhang commented on #32949
Found in PR https://github.com/pytorch/pytorch/pull/32945

[2020-02-04 01:06] smessmer commented on #32937
We are using this API from .cu files, this still shouldn't happen. But there's very fickle dependencies towards which CUDA version work with which PyTorch version, which nvcc version have you been using?

[2020-02-04 01:23] shinh opened #32960 "[ONNX] scatter_add may result in wrong ONNX"
## 🐛 Bug

torch.onnx translates scatter_add to Scatter, but I think this is a wrong translation when elements in `index` are not unique. See the script in the repro.

## To Reproduce

Steps to reproduce the behavior:

1. Run the following script
1. ONNX runtime refuses to run the output ONNX

[code]

## Expected behavior

I think ONNX currently does not have ScatterAdd. I doubt it cannot be implem

[2020-02-04 01:35] PetrochukM commented on #28594
I am having a similar issue. I need to every so often export the model to a C++ interface and before the export, I need to `deepcopy` to avoid any side effects during the export. It's a pain to remove and recreate the weight norm without messing it up.

[2020-02-04 01:57] mtkliema commented on #32937
Collecting environment information...
PyTorch version: 1.4.0
Is debug build: No
CUDA used to build PyTorch: 10.1
OS: Ubuntu 18.04.3 LTS
GCC version: (Ubuntu 7.4.0-1ubuntu1~18.04.1) 7.4.0
CMake version: Could not collect
Python version: 3.6
Is CUDA available: Yes
CUDA runtime version: 10.1.243
GPU models and configuration:
GPU 0: TITAN Xp
GPU 1: TITAN V
GPU 2: GeForce RTX 2080 Ti
Nvidia driver vers

[2020-02-04 02:05] osalpekar opened #32963 "Consolidate RpcAgent and ProcessGroupAgent running atomic variables."
## 🚀 Feature
`RpcAgent` contains an atomic variable `std::atomic<bool> rpcAgentRunning_`, and `ProcessGroupAgent` contains a similar `std::atomic<bool> rpcRunning_`. They both serve the same functionality and should be consolidated.

This atomic can be set to true in `RpcAgent::start()`, and the `start()` functions in `ProcessGroupAgent` and `ThriftRpcAgent` can call the parent class function.

cc

[2020-02-04 03:01] ptrblck commented on #32921
I've tried to reproduce this issue using some dummy shapes:
[code]
in a master build, `1.4.0` as well as `1.3.0`, which works fine.

Could you post the shapes and setup of your model to reproduce this issue, please?

[2020-02-04 03:10] peterjc123 commented on #24310
@sinoroc Please see our latest discussion in https://github.com/pytorch/vision/issues/1774.

[2020-02-04 03:14] peterjc123 commented on #32914
Have you done this: `set MKLProductDIR=D:\Files\Program\IntelSWTools\compilers_and_libraries_2019.5.281\windows`?

[2020-02-04 03:20] ctivanovich commented on #17023
I would like to re-open this. I am downloading in Japan using the recommended package manager (conda), trying to get the 1.4.0 update because of the PIL import error for newer PIL, but the download speed is absurdly slow, it times out because it's so slow. pip is marginally faster, in that it doesn't time out, but still barely ~60 kb/s on a fast connection.

[2020-02-04 03:46] carlodavid012 commented on #32921
@ptrblck its working now. I tried to train it on CPU on few epochs and after some steps, it shows another error which is Embeddings index out of range error. Then I resolve the error. I wonder why it doesnt show this error when training on CUDA

[2020-02-04 03:48] v0dro commented on #12013
Closing since all relevant PRs have been merged.

[2020-02-04 04:09] ptrblck commented on #32921
Good to hear it's working now!
CUDA calls are executed asynchronously by default, which might yield an error message pointing to the wrong line of code.
I usually recommend to run the code with `CUDA_LAUNCH_BLOCKING=1 python scripy.py`, as this should point to the line of code, which raised the error.
Alternatively, running the script on the CPU should also give you a clear error.

Feel free to cl

[2020-02-04 04:22] mrshenli commented on #25532
This is supported now.

[2020-02-04 04:22] #25532 closed

[2020-02-04 04:24] mrshenli commented on #31782
fixed by #32070

[2020-02-04 04:24] #31782 closed

[2020-02-04 04:28] mrshenli opened #32966 "Only fork RRef when it is used in RPC"
Currently, we fork (add fork to owner or child to parent) RRef iin `PyRRef::pickle()`. However, this might be wrong if the RRef is pickled for, say, checkpointing. RRef should only be forked when it is used in RPC.

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @gqchen @aazzolini @rohan-varma @xush6528 @jjlilley @osalpekar

[2020-02-04 04:29] #32921 closed

[2020-02-04 04:36] carlodavid012 commented on #32881
check this https://github.com/pytorch/pytorch/issues/32921#issuecomment-581734069

[2020-02-04 04:49] chenzhekl commented on #32385
Wang seems to be on `1.4.0` according to the environment he pasted.

[2020-02-04 05:55] Enealor commented on #32918
It looks like there's a minor discrepancy in [UpSamplingBicubic2d.cpp](https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/UpSampleBicubic2d.cpp#L10). Specifically, in the case that the shapes are equal the function is supposed to copy over all of the information, but instead just copies the first batch. This is happening in L29, where it just iterates to `channels` rather than `ch

[2020-02-04 06:00] fjchange commented on #5560
as @saeedalahmari3  said, set optimizer eps 0.0 or minus the fixed eps in labels can solve the problem.

[2020-02-04 06:24] xiaolonghao opened #32967 "Dockerfile"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

[2020-02-04 06:24] xiaolonghao commented on #32967
Can dockerfile only run on ubuntu, and what to do if you want to run on centos？

[2020-02-04 07:24] suo commented on #32385
I still can't reproduce it, @jermainewang: could you try your repro on the nightly? Possibly it was fixed after the 1.4.0 branch was cut.

[2020-02-04 07:48] flydragon2018 commented on #30830
torch.multiprocessing.set_sharing_strategy('file_system')

solve run-time error.

[2020-02-04 07:56] jermainewang commented on #32385
Tried on the latest build 1.5.0.dev20200203. It works like magic. Thanks for the help.

[2020-02-04 07:56] #32385 closed

[2020-02-04 08:24] amirmirzaei79 commented on #17920
Hi, I am looking for a way to build compact versions of libtorch (cpu) for PC.
I'm going to use it in robocup soccer simulation league and there is a restriction on project size so I need it to be as compact as possible and only include necessary operands.

[2020-02-04 08:35] mzmssg commented on #30416
@IvanKobzarev
1.3.1 build is still broken.
1.3.1 depends on commit `dc916917e1500527f83bc24b1767a123d6549ca0`, but it can't be found in IvanKobzarev/fbjni.

[2020-02-04 08:36] bes-dev opened #32968 "Can't convert model with torch.triu to ONNX"
Models that contain torch.triu can not be converted to ONNX.

Error message:

Simple reproducer is here.

[code]

cc @houseroad @spandantiwari @lara-hdr @BowenBao @neginraoof

[2020-02-04 08:37] Baranowski commented on #32532
@v0dro, do you still want to work on this? Otherwise, I will take it.

[2020-02-04 09:07] jmlundberg commented on #25393
Hi. Did anyone have this issue persistently, ie that a rebuild did not "fix" it? We've had this issue in another (closed source) project. Exposing cuda to less includes (such as boost) seems to help but is not predictable.

[2020-02-04 09:20] BelBES commented on #32968
As a temporal solution we can use redefined Triu function:

[code]

[2020-02-04 09:39] realiti4 commented on #32914
Yes I've used these for the last one:

[code]

[2020-02-04 09:45] sukuya commented on #17920
You can use the python script `build_libtorch.py` in `tools`  folder. Also, you may switch off the non useful components from `CMakeLists.txt` in `pytorch` root directory before running the build script.

[2020-02-04 10:21] ShahriarSS commented on #32414
Hi. Sorry I didn't see this. I'll look into it tomorrow.

[2020-02-04 10:26] DeleOgunjumelo commented on #32934
Also, using qnnpack as it was mentioned in the docs (https://pytorch.org/docs/stable/quantization.html) that quantization currently supports two backends: fbgemm (for use on x86, https://github.com/pytorch/FBGEMM) and qnnpack (for use on the ARM
QNNPACK library https://github.com/pytorch/QNNPACK). I am also interested in quantizing a model to run on ARM CPU on a mobile device.

[2020-02-04 10:31] NoahDrisort commented on #19399
Have you solve this? How you deal with this "torch.nn.Module.dump_patches = True", I have a same problem

[2020-02-04 10:55] peterjc123 commented on #32914
@realiti4 Could you please test whether cleaning cache and applying https://github.com/pytorch/pytorch/pull/32970 helps?

[2020-02-04 11:19] danmalowany-allegro commented on #32690
@dreiss and @ljk53 - Thanks for your feedback.
I will try to start with scripts/build_mobile.sh, see how it goes and continue from there.

[2020-02-04 11:33] realiti4 commented on #32914
Yep it definitely helped! I used the exact same variables in the comment above, and it detects all files.

[code]

[2020-02-04 11:38] you74674 commented on #28418
It seems like that's not enough, another problem is about the rnn_impls dict.
I tried also inline _VF.rnn_tanh and _VF.rnn_relu, but there are still problems.
I think it need to be totally rewritten like LSTM and GRU.

[2020-02-04 13:14] VRandme commented on #20981
I get similar behavior with nn.Conv1d. I am seeing tensor size reduction when it shouldn't

[2020-02-04 14:05] wanifarooq opened #32971 "Issue with transformer.compose ( )"
When I was trying  to load 16 bit .png grayscale image with torchvision.datasets.imagefolder ,it is loading every image as white only.
I solved this issue by doing transformation operations outside Compose function.

cc @SsnL

[2020-02-04 14:07] jaydeepb-inexture opened #32972 "which pytorch do i install for running this project in my windows."
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

[2020-02-04 14:46] ErikStammes commented on #31768
That indeed solves the issue, thanks!

[2020-02-04 15:27] sAviOr287 commented on #20981
You can solve it somehow for the nn.conv2D at least by creating a padding class:

`class padding_cir(nn.Module):

	'''
	Creating circular padding
	'''
	def __init__(self):
		super(padding_cir, self).__init__()

	def forward(self, x):
		# creating the circular padding
		return F.pad(x, (1, 1, 1, 1), mode='circular')`

and then when you create you list of layers you just dont have padding for you co

[2020-02-04 15:38] v0dro commented on #22378
I'm coming up with a proposal to implement this and will share it soon.

[2020-02-04 15:52] vadimkantorov commented on #32867
A simple interface could be packbits / unpackbits like in NumPy with additional bitness argument (to support 1-bit, 2-bit and 4-bit) and dim argument. It should maybe support out argument for unpacked uint8 tensor. Unpacked dimension could always be a new zeroth dimension.

[2020-02-04 15:54] alanhdu opened #32973 "[jit] augmented assignment on int attributes doesn't work"
## 🚀 Feature

It'd be nice of TorchScript could support assigning to fields with simple Python types (e.g. non-tensors). For example:

[code]

## Motivation

I'm writing a real-time streaming wrapper around some of PyTorch's modules so that they an run online, sample-by-sample. For convolutions, this requires some bookkeeping to buffer up the receptive field that requires incrementing and decremen

[2020-02-04 16:01] nikitaved commented on #22378
@v0dro, there is a scatter_gather kernel which uses TensorIterator and hence supports multithreading in full but atomic operations. Can be trivially used for some, primarily pointwise operations. Very relevant issues are [31662](https://github.com/pytorch/pytorch/pull/31662), and especially [31776](https://github.com/pytorch/pytorch/issues/31776). Also, expect some issues with backward methods, yo

[2020-02-04 16:04] v0dro commented on #22378
Yeah this is a big issue! Especially given the implementation of determinism... but I think can be done piece by piece.

@nikitaved thank you very much for the information :)

[2020-02-04 16:16] nikitaved commented on #22378
Yeah, once you have atomic operations implemented, the existing TensorIterator can be trivially used. Then forward is easy to implement. The issues will arise in backward especially in cases where sources contribute to single locations in results. You have to keep the set of indices contributing to the result in forward, and use them to zero out some of them in backward. There is also a dilemma be

[2020-02-04 16:23] Rikorose opened #32975 "[JIT] Trace only one class method while keeping the others"
## 🚀 Feature

I have a module, where only for some parts the input shape is known at compile/trace time.

A simplified module for illustration
[code]

I only want to trace the recurrent part and use jit for the parallel part, since the time dimension is not known at compile time.

[code]

A Workaround could be to create 2 separate modules and only trace one of them. In my case this could work, how

[2020-02-04 17:40] realiti4 commented on #32929
#32939 fixes this.

[2020-02-04 17:40] #32929 closed

[2020-02-04 17:41] julianmack opened #32976 "pytorch 1.4 breaks torch.jit.script(LSTM/GRU)"
## 🐛 Bug

### LSTM/GRU cannot be torch scripted in new release (`1.4.0`)
## To Reproduce

Steps to reproduce the behaviour:
[code]
In `python3` interpreter
[code]

Throws error message:
[code]

## Expected behaviour

The expected behaviour is for the `scripted_lstm(*args)` not to output an error and return the tensor.
I get this behaviour when I use `1.3` and replace the first x2 bash lines above

[2020-02-04 17:44] Mikelew88 commented on #13674
What version of torch should we install to avoid this error (assuming it's resolved)?

[2020-02-04 18:21] suo commented on #32976
Bug reproduces for me, looks related to how we resolve overloads. That's quite bad.

[2020-02-04 18:22] andfoy commented on #4930
@ezyang, is it necessary to verify that the model currently implemented corresponds to the Type-1? Or is it necessary to introduce a new flag in nn.LSTM for allowing both behaviours?

[2020-02-04 18:26] spandantiwari commented on #32956
@elliotwaite - do you see anything in the ONNX graph that seems incorrect/invalid?

[2020-02-04 18:31] spandantiwari commented on #32954
@elliotwaite - could you let us what runtime are you using for evaluating the ONNX model?
`strides` is an optional field in average pooling op in ONNX. Here's the excerpt from ONNX.
`Stride along each spatial axis. If not present, the stride defaults to 1 along each spatial axis.`

Could this be a runtime issue?

[2020-02-04 18:40] elliotwaite commented on #32954
I am using ONNX.js to evaluate the model, and it works as you mentioned, using a default stride of 1. However, PyTorch uses the default stride of the kernel size, which is 2 in the example above. So the model runs differently in PyTorch than it does in ONNX when the stride isn't specified.

[2020-02-04 18:47] suo commented on #32976
From @eellison: this is a known regression. The workaround is to call the lstm's forward from within a script function, like:
[code]

If you're curious about the implementation detail, it's because we need to statically know the types of the inputs in order to perform overload resolution (LSTM is somewhat special in that its `forward` method accepts either a Tensor or a PackedSequence). This is no

[2020-02-04 19:06] Tpt commented on #32289
I just got this problem too with Flair on Python 3.8:

[code]

[2020-02-04 19:17] elliotwaite commented on #32956
It looks valid to me, but I'm not very familiar with verifying ONNX graphs. I've opened the issue with ONNX.js as well to see if they have any insights: https://github.com/microsoft/onnxjs/issues/179

[2020-02-04 19:29] nvpohanh opened #32983 "PyTorch should hide CUDNN symbols in libtorch.so"
## 🐛 Bug

PyTorch's `libtorch.so` exposes a lot of CUDNN API symbols. This causes issues when our application (independent from PyTorch) uses a different CUDNN version.

## To Reproduce

Install PyTorch 1.4.0. Run `nm` on the `libtorch.so`, and there will be a lot of CUDNN API symbols.

[code]

## Expected behavior

PyTorch should hide CUDNN symbols in libtorch.so

## Environment

[code]

## Addit

[2020-02-04 19:33] suo commented on #32973
We support this, but augmented assignment is not implemented for non-tensor fields. So the following will work:
[code]
This is an unintentional gap that we'll fix in a future release, cc @driazati for tracking.

[2020-02-04 19:36] ezyang commented on #32916
I feel if you are building from source the onus is on you to get your development environment setup properly. Maybe we can warn in setup.py if it seems like the DLLs aren't going to be found, but it seems like that is about as good as we should try to do. (On our binary distributions we can arrange for all the necessary dlls to show up in the right places.)

[2020-02-04 19:37] suo commented on #32754
That's indeed pretty weird, thanks for the clear repro. I'll try to take a look at this when I get a sec

[2020-02-04 19:40] spandantiwari commented on #32954
OK, I will take a look.

[2020-02-04 19:48] suo commented on #28418
This is a duplicate of https://github.com/pytorch/pytorch/issues/32976, there is a workaround there.

[2020-02-04 20:02] spandantiwari commented on #32954
@elliotwaite - yes, this seems to be an issue with the nn.functional average pooling. If you are blocked by this, please use [torch.nn.AvgPool2d](https://pytorch.org/docs/stable/nn.html?highlight=avgpool#torch.nn.AvgPool2d). I have tested that it exports the average pooling node with correct strides.
In the meantime, we will prioritize this higher.

[2020-02-04 20:43] #32914 closed

[2020-02-04 20:49] meixitu commented on #32860
@ngimel ,
    the code can run several hours, but there is still issue. I tried twice, each of them has error. below is log. Could you take a look?
    My torch version is : **1.5.0.dev20200131**
    cuda is 10.1
   python is 3.7.6

/pytorch/aten/src/ATen/native/cudnn/RNN.cpp:1232: UserWarning: RNN module weights are not part of single contiguous chunk of memory. This means they need to be compact

[2020-02-04 20:50] dashesy commented on #12013
@v0dro thanks. Are empty batch sizes also supported for pooling now? this was the error before:

[2020-02-04 21:07] ezyang commented on #25393
It's never been persistent for us, but this is mostly from our Windows CI builds where we blow everything away and rebuild from scratch, which may help.

[2020-02-04 21:08] ezyang commented on #32532
hurray

[2020-02-04 21:08] #32532 closed

[2020-02-04 21:18] ezyang commented on #17501
paging @albanD who has been doing a lot of work on unfold recently

[2020-02-04 21:30] ezyang commented on #32898
@smessmer for future reference, this is an optimizer issue, not an autograd issue

[2020-02-04 21:31] ezyang commented on #32898
This seems like a major bug, since the code is "obviously" wrong

[2020-02-04 21:33] ezyang commented on #32883
I agree that in principle the profiler should work in multiple threads; it was likely just not designed with it in mind

[2020-02-04 21:40] ezyang commented on #32863
Seems like an easy enough fix to do for now.

[2020-02-04 21:43] #9996 closed

[2020-02-04 22:07] vadimkantorov commented on #32863
argmin as well...

[2020-02-04 22:20] elliotwaite commented on #32954
Got it. Sounds good.

[2020-02-04 22:21] sh1ng commented on #11223
+1

[2020-02-04 22:37] #31771 closed

[2020-02-04 22:46] #25805 closed

[2020-02-04 23:06] driazati opened #32988 "[jit] Dict set item type mismatch error doesn't say the type was inferred"
This error doesn't include the fact that the compiler inferred the type of `out_dict` to be `Dict[str, Tensor]`, but it should have

[code]

[code]

[2020-02-04 23:11] driazati commented on #19053
It should work as long as everything is on the correct device before `script` is called, so you may have to do something like

[code]

Do you have a bigger repro that's giving this same error?

[2020-02-04 23:22] vainaijr opened #32991 "random_pruning, remove_pruning typo"
## 📚 Documentation

documentation includes use of random_pruning, but there is nothing like random_pruning.
[code]
AttributeError: module 'torch.nn.utils.prune' has no attribute 'random_pruning'

same thing for remove_pruning also,
[code]
AttributeError: module 'torch.nn.utils.prune' has no attribute 'remove_pruning'

[2020-02-04 23:25] vincentqb commented on #32639
Indeed, this should remain opened for 1.

[2020-02-04 23:45] dashesy commented on #32960
You can use `torch.scatter` like [here](https://github.com/pytorch/pytorch/issues/26472)

[2020-02-04 23:48] #31902 closed

[2020-02-04 23:57] ngoldbaum opened #32994 "torch.nonzero issues a DeprecationWarning for non-deprecated usages"
## 🐛 Bug

Afaics any usage of `torch.nonzero` is producing a deprecation warning

## To Reproduce

[code]

## Expected behavior

No deprecation warning

## Environment

[code]

cc @albanD @mruberry

[2020-02-04 23:58] EltayebAhmed opened #32995 "Segfault on typecasting of Tensor that lives on GPU"
## 🐛 Bug

Typecasting a `torch.FloatTensor` called `x` that lives on a GPU to a `torch.ByteTensor` in-place using `x = torch.ByteTensor(x)` caused a segfault

## To Reproduce

Steps to reproduce the behavior:

Run following code snippet:
[code]

## Expected behavior
For the code to print `"Hello World"`

## Actual Behaviour
Output of code is
`Segmentation fault (core dumped)`

## Environment

PyTo

[2020-02-05 00:12] #32732 closed

[2020-02-05 01:54] vincentqb commented on #32898
Can you provide a full code snippet to reproduce the error? I am unable to do so here.

[code]

That being said, it does seem related to #32639. In this case, the `get_lr` function was overridden with a function taking an `epoch` parameter, which is not allowed. However, the relevant error was not being raised. #32997 addresses this by letting the relevant error being raised.

[2020-02-05 01:57] sbagchi12 opened #32998 "torch batchwise max with indices"
## 🚀 Feature
A batchwise verison of torch.max() or torch.argmax().

## Motivation
I have an array with elements coming from multiple examples where each example contributes an independent number of elements. I would like to have an efficient way to find the max element along with the index.

## Pitch

torch.max() should support batches of max operations instead of a single tensor

## Alternatives

[2020-02-05 01:57] vincentqb commented on #32639
#32997 addresses 1 by letting the relevant error being raised.

[code]
[code]

[2020-02-05 02:21] #28337 closed

[2020-02-05 03:01] you74674 commented on #28418
That doesn't seem to be the same problem.
The problem in the issue you mentioned happens when calling forward function,
but this problem happens when you call torch.jit.script on torch.nn.RNN.

[2020-02-05 03:02] matham opened #33001 "Segfault when indexing with single element array"
## 🐛 Bug

## To Reproduce

We are trying to use PyTorch on a Rapsberry PI 4 on Buster, but get a segfault with a very simple test program:

[code]

The issue seems to only occur when we index `v` using a single element array (whether python list, numpy array or pytorch tensor). Using a multi-element list or `:`, or a single value did not seem to have the issue in our limited testing.

Following is

[2020-02-05 03:08] #32946 closed

[2020-02-05 03:16] vadimkantorov commented on #32867
https://www.microsoft.com/en-us/research/uploads/prod/2018/02/KoPhiliposeTashevZarar_ICASSP_2018.pdf suggests that XNOR and POPCNT functionality is useful for 1-bit networks

[2020-02-05 05:00] jianyuh commented on #32934
Have you upgraded PyTorch to the latest version. Recently @supriyar added the dynamic linear support with QNNPACK: https://github.com/pytorch/pytorch/pull/32479

[2020-02-05 05:31] jerryzh168 commented on #32967
Please post questions in the discussion forum, Thanks!

[2020-02-05 05:31] #32967 closed

[2020-02-05 05:33] jerryzh168 commented on #32972
Can you post the error message you get?

[2020-02-05 05:37] jerryzh168 commented on #32991
Looks like it's been updated to `random_structured`, `random_unstructured` and `remove`. yeah we need to update the docs, thanks for reporting

[2020-02-05 05:39] jerryzh168 commented on #32991
cc @mickypaganini could you take a look?

[2020-02-05 05:46] andfoy commented on #30560
This seems to be a regression introduced in ONNX v1.6.0. I've tried to reproduce the error with the latest ONNX in master and it cannot be reproduced.

[2020-02-05 05:47] andfoy commented on #30560
@rgommers @ezyang I think this can be closed, however, we could introduce a regression test so that we can test against ONNX versions?

[2020-02-05 06:35] shinh commented on #32960
Isn't https://github.com/pytorch/pytorch/issues/26472 a different issue? If I understand correctly,
[code]
cannot be implemented by `torch.scatter`. If you were talking about `w = torch.scatter(w, 0, idx, w[idx] + input_x[idx])`, I think this works only when indices are unique.

[2020-02-05 07:02] ppwwyyxx opened #33003 "Segfault running pytorch + onnx"
## 🐛 Bug
I'm getting a segfault when running this binary https://download.pytorch.org/whl/cu100/torch-1.4.0%2Bcu100-cp36-cp36m-linux_x86_64.whl together with onnx 1.6 installed from pypi.

I'm getting the following stack trace:
[code]

so it looks like onnx is calling symbol defined in libtorch.so, and crashes due to binary compatibility issues. Recompiling onnx does fix the issue for me.

So I'm

[2020-02-05 07:22] tinhchuquang commented on #32898
@vincentqb I Try with no data generator and no error
[code]
You try with data generator will error  "UnboundLocalError: local variable 'values' referenced before assignment"

[2020-02-05 07:28] jaydeepb-inexture commented on #32972
sure

On Wed, Feb 5, 2020 at 11:03 AM Jerry Zhang <notifications@github.com>
wrote:

[2020-02-05 07:53] jaydeepb-inexture commented on #32972
first :- i have created an environment with using this command :::conda create -n SQLNet python=2.7

second: then i have activate this conda env

third: i am trying to install pytorch with this command ::conda install pytorch torchvision cudatoolkit=10.1 -c pytorch

error message ::-

(SQLNetenv) C:\Users\91740>conda install pytorch torchvision cudatoolkit=10.1 -c pytorch
Collecting package metada

[2020-02-05 07:55] jaydeepb-inexture commented on #32972
cu75/torch-0.2.0.post2-cp27-cp27mu-manylinux1_x86_64.whl
cu75/torch-0.2.0.post2-cp27-cp27m-manylinux1_x86_64.whl
what is difference between this two files that are availabe on pytorch website in previous version section

[2020-02-05 08:00] knsong commented on #5672
@kurtamohler Did you have any progress on debugging your CUDA implements?

[2020-02-05 09:07] julianmack commented on #32976
Hi @suo and @eellison. Many thanks - the workaround solves it.

[2020-02-05 09:16] pandeykartikey commented on #28871
Hi, If this feature is still required. I would like to work on it.

[2020-02-05 09:28] Papibarozza commented on #24918
I fixed this warning by changing objects of type `ByteTensor` to `BoolTensor` instead. This was the source of the warnings for me.

[2020-02-05 09:42] huang229 opened #33005 "Can I use the multi GPU training model in windows?"
Can I use the multi GPU training model in windows?Thank you very much.

[2020-02-05 11:20] aakash2602 commented on #28070
Please add this note or update the example!

[2020-02-05 11:44] nikochiko commented on #30380
@jspisak I haven't looked at that but thanks for pointing it out, I'll take a look now. :)

Yeah that'd be awesome! :smile:

[2020-02-05 13:13] Evpok commented on #19053
@driazati Where would you call this code? In `Parent.__init__`? That would require that it is bound to a device at creation

[2020-02-05 13:25] Evpok commented on #19053
Also I'm not even sure that there is an actual issue with the weights and that the warnings are not false positives, see https://github.com/pytorch/pytorch/pull/24828

[2020-02-05 13:46] Stannislav opened #33006 "matmul: no warning when contracting differently named dimensions"
## 🐛 Bug
According to [documentation](https://pytorch.org/docs/stable/named_tensor.html) named tensors "use names to automatically check that APIs are being used correctly at runtime, providing extra safety". However, `matmul` does not warn when the dimensions that are being contracted have different names.

## To Reproduce
Steps to reproduce the behavior:

[code]

This executes without any warnin

[2020-02-05 14:18] raphaeldeimel opened #33007 "Upper/Lower attributes for named tensors to generalize matrix operations"
## 🚀 Feature
1. Add an "upper|lower|unspecified" attribute to each (named) tensor dimension.
2. Honor the upper/lower distinction when checking dimension equality (upper!=lower, upper==unspecified, lower==unspecified, and of course lower==lower, upper==upper) in operations such as add, mul
3. Provide a method to match pairs of upper and lower dimensions which share the same name
4. Make all operat

[2020-02-05 14:34] rgommers commented on #15359
I'd suggest not setting a seed if none has been set by the user. For one because it couples two interfaces which isn't needed (users who care about determinism will understand RNGs very well I'd think). More importantly, this is very hard to do reliably; one can use an RNG in multi-process/threaded applications, have other `torch.Generator` subclasses, be using `numpy.random` as well, etc.

Not su

[2020-02-05 14:35] danmalowany-allegro commented on #32690
By the way, is there a difference between using torchscript or onnx for this purpose?

[2020-02-05 14:47] rgommers commented on #30560
@andfoy just to be sure: could you also reproduce it with `1.6.0` built from source, or only with the `1.6.0` binaries? Would be good to know if it's in their release process, or it was a bug they fixed.

Were you thinking of storing an exported model that's small enough somewhere, or is it easy to install two ONNX versions in parallel?

[2020-02-05 15:12] t-vi commented on #24155
This bug is probably too specific. The problem is that for ScriptMethod, the `HANDLE_TH_ERRORS` / `END_HANDLE_TH_ERRORS_PYBIND` is missing. The below fixes that for me in the sense that warnings go through Python warnings. I'll submit a PR after adding a test.
[code]

[2020-02-05 15:15] adbailey1 opened #33009 "Output from network varies depending on CPU or GPU"
## 🐛 Bug

Hi,

I have come across a problem where despite setting random seeds, I obtain different outputs from a simple network depending on whether I use CPU or GPU. I also receive different CPU results using different computers but receive the same GPU results.

The model weights are equal as is the randomly generated input “a”, however differences occur after passing “a” through the network. I

[2020-02-05 16:49] EltayebAhmed opened #33012 "nn.TransformerEncoder returns different results when parallelized with nn.DataParallel"
## 🐛 Bug

When parallelizing a `torch.nn.TransformerEncoder` using `torch.nn.DataParallel` it produces different results on the forward of the `DataParallel` version compared to the original model
## To Reproduce
Run this code snippet
[code]

## Expected behavior
The two computed forward passes should be identical up to numerical, code should output `0.000`

## Actual result
Code prints `1.494`

#

[2020-02-05 16:58] TanasaAlinConstantin opened #33013 "Acces to weights after quantization"
Hi!

I have a model quantized with torch.quantization. I saved the model using torch.jit.save and after loading the model it seems that I don't have access to the weights.

It's not yet fully developed or some other aspects must be taken into consideration when saving with jit a quantized model?

I use:
torch.jit.save(torch.jit.script(model), "test_model.pkl")

It seems that a full-precision model

[2020-02-05 17:10] Evpok opened #33016 "CuDNN backend not available in nightly (20200205)"
## 🐛 Bug

CuDNN works fine if I use 1.4.0, but it is not found in nightly, see a few checks below

[code]

## Environment

[code]

## Additional context

cc @ezyang @gchanan @zou3519

[2020-02-05 17:37] dreiss commented on #32690
Yes.  There are many structures and operators in PyTorch+TorchScript that are not supported by ONNX.

[2020-02-05 17:46] rohan-varma commented on #32884
@albanD @ezyang Do either of you have any comments on this approach (primarily points 1 and 2) to unblock the need to be able to profile RPC with nested scopes? I know @ezyang mentioned that we should look into a longer term refactor, and we've been coordinating with @jamesr66a and @ngimel to ensure these needs are visible during the refactor of the profiler.

[2020-02-05 17:58] andfoy commented on #30560
It seems that there was some error in their release process, as when v1.6.0 tag is used from source, the error cannot be reproduced.

Maybe we could explore the first option, however, I don't know if it is worthy at all.

[2020-02-05 18:13] meixitu commented on #32860
@ngimel ,
    Could you please take a look this issue?
Thanks

[2020-02-05 18:13] rgommers commented on #30560
Then I think this would be good to report as a bug on the ONNX issue tracker, and see if they can fix the binaries or do a `v1.6.1` release with a fixed build. Otherwise this is going to remain a pain point for users for quite a while. Could you open an issue?

I'm not sure, it could catch future issues quickly, but on the other hand the test belongs in ONNX itself really, and if it would start fa

[2020-02-05 18:17] spandantiwari commented on #32968
@BelBES - yes, torch.triu is not supported in the exporter. Do you need this as part of any specific model?

[2020-02-05 18:19] ngimel commented on #32860
`cuDNN error: CUDNN_STATUS_EXECUTION_FAILED` after several hours likely means that GPU is out of memory. Can you monitor your memory consumption with `torch.cuda.memory_allocated` and `torch.cuda.memory_reserved` calls?

[2020-02-05 18:47] EltayebAhmed commented on #33012
The issue seems to be that data parallel is chunking the input along the first dimension and for transformers the batching dimension is dimension 1, not dimension 0

[2020-02-05 18:49] meixitu commented on #32860
@ngimel ,
    Because in my dataset,I sort the dataset from long to short, I think if it is OOM, it should happen very early.
    Anyway, I will check memory consumption and feedback to you.
Thanks
Jinhong

[2020-02-05 19:03] EltayebAhmed commented on #33012
The minimum reproducing does not highlight the weird behaviour, actually is in line with documentation. My issue is that the transformer was embedded inside a larger model which accepts batches along the first dimension, and I did not realize `nn.DataParallel` will apply recursively, I only needed scattering to happen on the outermost level and did not realize that it would happen recursively

[2020-02-05 19:19] andfoy commented on #30560
Sure! I'll open the issue on ONNX.

[2020-02-05 19:40] BelBES commented on #32968
Yes, this function used for some Transformer networks. Currently, I use a workaround from my previous comment. But I think that torch.triu can be handled as other not supported in ONNX nodes, using op.Aten node.

[2020-02-05 20:09] albanD commented on #32884
That sounds like a valid plan to fix these issues.
But As mentioned in the other issue, the profiler was not built with multi-threading in mind. So a deeper refactor might be needed.
But doing these localized change sound good if this is blocking you right now.

[2020-02-05 20:31] DeleOgunjumelo commented on #32934
I am using PyTorch version 1.4.0 which i think is the latest version. Do you mean using the latest version of the master branch ?

[2020-02-05 20:39] pritamdamania87 commented on #32924
Thanks for reporting this issue, although it might be better if the first call actually uses the appropriate timeout specified in init_process_group. This would ensure our timeouts are consistent with what the user specified.

[2020-02-05 20:39] jianyuh commented on #32934
Right. IIRC, the PR was merged two weeks ago, while PyTorch 1.4.0 was
released last December.

On Wed, Feb 5, 2020 at 12:31 PM DeleOgunjumelo <notifications@github.com>
wrote:

[2020-02-05 21:20] meixitu commented on #32860
@ngimel ,
    I use 8 1080TI GPUS.
here is the output plot memory_allocated and memory_reserved at each step.
![image](https://user-images.githubusercontent.com/32910309/73883919-a94d0200-4819-11ea-85c8-ff0e5f301fd5.png)

And I use try...except ... to acquire error, and print the torch.cuda.memory_summary('cuda:n') for each GPU, and CUDA OOMs are all zero.

|=======================================

[2020-02-05 21:26] neginraoof commented on #32954
The following PR addresses this issue:
https://github.com/pytorch/pytorch/pull/33017

Thanks

[2020-02-05 21:37] ngimel commented on #32860
Yeah that's strange. At this point I think it will be more productive if nvidia pytorch team looks into this, also, you might want to open a new issue. cc @ptrblck @csarofeen

[2020-02-05 21:41] rooseveltrp opened #33022 "How do you convert Torch output iOS NSNumber to UIImage"
I recently trained a model in PyTorch and created the .pt model file. I was able to use the model file in iOS with https://pytorch.org/mobile/ios/ to get an output.

But the output is an array of NSNumber.

How can I convert that to UIImage?

Here's how i'm loading the model:

[code]

Here's how i'm passing and image and getting the NSNumber output:

[code]

And here are the numbers I'm getting ba

[2020-02-05 23:01] BowenBao commented on #32960
@shinh Thanks for creating this issue. Indeed the case where indices are not unique is not supported by current exporter.

[2020-02-05 23:09] macknever commented on #20981
why not (1,1,7,7)

[2020-02-05 23:14] smessmer commented on #32549
This looks like a bug. The custom op API correctly checks schema equivalence and ignores argument names, but then the dispatcher checks schema equivalence again and doesn't ignore argument names.

We should instead have the dispatcher equivalence check do the same as the check in the custom op API and we should merge argument names so that inferred names get a lower priority than manually specifie

[2020-02-05 23:16] junjimei opened #33029 "Torch not compiled with CUDA enabled"
**Hi, I'm trying to run this code from the following repository (https://github.com/CorentinJ/Real-Time-Voice-Cloning), I already installed all requirements, however I'm getting this error when I run the demo_cli.py:**

AssertionError: Torch not compiled with CUDA enabled

**This is the full text I get when I run it:**

runfile('C:/Users/isabel/Desktop/VOICE CLONER/Real-Time-Voice-Cloning-master/d

[2020-02-05 23:16] sAviOr287 commented on #20981
It worked with (1,1,1,1) for me

[2020-02-05 23:37] #31944 closed

[2020-02-06 00:15] zzz6519003 opened #33031 "Is it possible to not generate so much code at compiling phase(arch)?"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

[2020-02-06 00:43] bzinodev opened #33034 "Scripting fails to preserve attribute aliasing"
Script fails to preserve aliasing between attributes. As shown in example below:

    def test_module_with_aliased_attr(self):
        class M(torch.nn.Module):
            def __init__(self):
                super(M, self).__init__()
                self.a = [1, 2, 3, 4, 5, 6]
                self.b = self.a

            def forward(self, x):
                self.b[1] += 10
                return

[2020-02-06 00:47] lshamis opened #33035 "Support batch linear transformation"
## 🚀 Feature
https://github.com/pytorch/pytorch/blob/1b746b95fb6f3df45bd2883045de9fbd82b72100/torch/nn/functional.py#L1362
expects the weight and bias tensors to have shapes `(out_features, in_features)`  and `(out_features)`, respectively. We would like for this function to optionally support `(N, out_features, in_features)` and `(N, out_features)`, as well.

This request extends to other `torch.

[2020-02-06 01:29] ailzhang commented on #30416
I feel we should still fix this, although 1.4.0 is now the latest release.

[2020-02-06 01:40] tinhchuquang commented on #32898
After 4 epoch, will error

![Screenshot from 2020-02-06 08-37-07](https://user-images.githubusercontent.com/21126182/73898515-32b51080-48bc-11ea-86b0-d6289c5d776a.png)

[2020-02-06 03:03] mrshenli commented on #33005
If you are looking for `torch.distributed` package or `DistributedDataParallel`, then no, they are not available yet on Windows. But you can still use `DataParallel` to do single-machine multi-GPU training on windows. Closing this issue, and let's move questions to the [forum](https://discuss.pytorch.org/).

[2020-02-06 03:03] #33005 closed

[2020-02-06 03:29] ezyang commented on #33016
Repros for me

[code]

[2020-02-06 03:36] ezyang commented on #33016
However, it seems that the actual cudnn algorithms are working, so it's just a problem reporting the cudnn version.

[code]

[2020-02-06 03:37] ezyang commented on #32549
We really need a spec for schema merging...

[2020-02-06 03:56] ezyang commented on #32884
I can't really comment on (1) easily because I don't really know how RecordFunction is implemented. The described implementation in your issue seems very specific to the implementation details; I'd be able to better comment if there was a higher level description. If you need me to look at the code let me know.

[2020-02-06 03:57] meetshah1995 commented on #29537
Just checking in to see if there are any updates on this. Having distributed model parallel support for Pytorch would be super awesome!

[2020-02-06 04:18] tinhchuquang commented on #32898
[code]

Error after 6 epoch.

[2020-02-06 04:26] #31768 closed

[2020-02-06 04:41] #24746 closed

[2020-02-06 05:39] Jasdent commented on #15612
This is what I got

[code]
[code]

I also played around DeepIn, in which some of the message show:
[code]
is it the problem that these selection arise from new operations affect cuda ? (like, changing the reference)

[2020-02-06 05:48] korakot commented on #30966
Temporary solution

[code]

[2020-02-06 07:49] #30480 closed

[2020-02-06 08:29] Evpok commented on #33016
The convolution example works for me too, but this

[code]

gives a warning

[code]

Is there a way to see if it is actually using cudnn?

[2020-02-06 08:40] jecampagne opened #33037 "RuntimeError: tensor does not have a device?"
## 🐛 Bug

RuntimeError: tensor does not have a device

## To Reproduce
import torch
import torch.nn as nn
from torch.autograd import grad

x= torch.randn(2,5,64,64,dtype=torch.float)
x.requires_grad = True
x1 = nn.Conv2d(5,64,5, padding=2, bias=True)(x)
x1 = nn.PReLU(64, init=0.25)(x1)
x2 = nn.Conv2d(5,32,3, padding=1, bias=True)(x)
x2 = nn.PReLU(32, init=0.25)(x2)
out = torch.cat((x1, x2), dim=1)

[2020-02-06 10:21] flysofast commented on #32866
Here is my env setup:
[code]

[2020-02-06 10:48] JesperLindberg commented on #19336
I got the same issue on both "stable" build and nightly build.
First this error and when compiling I get another 388 warnings and 3 more errors.

Anyone got any news on this issue?

[2020-02-06 11:11] JesperLindberg opened #33039 "LibTorch error in visual studio"
## 🐛 Bug

code: E1866
file: ArrayRef.h
desc: attribute does not apply to any entity
line: 278
line 278: C10_DEFINE_DEPRECATED_USING(IntList, ArrayRef<int64_t>)

## To Reproduce

Download the latest stable or nightly build of libtorch, no cuda. Make a new C++ Project in Visual Studio 2017, import additional includes and libs:
C:\Users\XX\Documents\libtorch\include\torch\csrc\api\include;
C:\Users\X

[2020-02-06 11:23] vadimkantorov opened #33040 "[debatable] Better infer dtype in torch.as_tensor"
Supporting generator inputs in `torch.tensor` / `torch.as_tensor` would save some keystrokes to the user. Converting the input to list internally would do the trick. On the contrary note: numpy does not support this.

[code]

The relevant line is in https://github.com/pytorch/pytorch/blob/62b06b9fae9b151b20d25c8e54ae9ae1081f23ad/torch/csrc/utils/tensor_new.cpp#L200

[2020-02-06 11:33] vadimkantorov opened #33041 "bytearray(tensor) behaves very differently from bytearray(tensor.numpy())"
[code]

[2020-02-06 12:08] vadimkantorov opened #33042 "[feature request] torch.cat to apply to as_tensor to inputs"
This is useful for some easy padding scenarios. Having it infer device would be extra-nice.

[code]

cc @mruberry @rgommers @heitorschueroff

[2020-02-06 12:57] chenbohua3 commented on #32641
I think the graph representation in Pytorch 1.3.1 is better for secondary development. For example, we are going to directly convert Pytorch module to TensorRT without ONNX. In Pytorch 1.3.1 we can use the inter-connections of the nodes in the graph and Depth First Search to construct maps from Pytorch graph to TensorRT graph. But in Pytorch 1.4.0, the relationship between nodes is hidden.

For th

[2020-02-06 14:02] vadimkantorov opened #33043 "[feature request] [minor] load_state_dict specific option to not load buffers"
I have buffers precomputed at model creation (in my case a precomputed FFT-like basis). Depending on whether this FFT frontend was part of the model object at train time, the related buffers may or may not be present in checkpoints.

However, if the FFT frontend is indeed in the model (e.g. in preparation of ONNX export), `load_state_dict` tries to load the buffers from checkpoint and fails if the

[2020-02-06 14:11] peterjc123 commented on #19336
I believe it is a false negative for VS. Because the error is only reported by Intellisense and build succeeds even with this error.

[2020-02-06 14:15] peterjc123 commented on #33039
The actual error is listed below.
[code]
This is duplicate to https://github.com/pytorch/pytorch/issues/30886.
BTW, I have a suggestion for you. Don't try to construct the VS project on your own. Instead, please use the CMake commands to do that for you. By doing that, you don't have to mess with those options, flags and arguments manually. They are also well tested.

[2020-02-06 14:15] #33039 closed

[2020-02-06 14:20] peterjc123 commented on #33029
What is the output of `conda list | findstr "torch"`? Do you have multiple installation of Anaconda?

[2020-02-06 14:22] alexeygolyshev opened #33044 "Slow convolutions"
## 🐛 Bug

**torch.nn.Conv3d**

[code]

**RTX2060**

[code]

**GTX1050Ti**

[code]

**torch.nn.Conv2d**

[code]

**RTX2060**

[code]

**GTX1050Ti**

[code]

[2020-02-06 14:33] ahmedbr commented on #25698
I'm having the same warnings on Ubuntu 18.04 while building PyTorch from source. Do they have any effects on building process? or we can just ignore these warnings?

[2020-02-06 14:40] peterjc123 commented on #33044
Reproduced with PyTorch 1.3.1 and GTX 1070.
Seems to be related to cudnn because the timing looks okay after setting `torch.backends.cudnn.enabled = False`.
cc @ngimel @ezyang

[2020-02-06 14:43] JesperLindberg commented on #33039
The thing is that I wanted to implement PyTorch in a simulator built in C++. Therefore I would prefer to not use cmake and since its on a company PC I am lock to Visual Studio 2017.
However, thanks for the reply.

[2020-02-06 14:55] peterjc123 commented on #33044
Output of bottleneck:
[code]

[2020-02-06 15:05] zou3519 opened #33045 "Build ahead-of-time C++ extensions with ninja on windows"
## 🚀 Feature

Right now, C++ extensions support building with ninja on unix-based systems. This task is to enable that support for windows. See #32495 for the PR that added support for building with ninja on unix-based systems.

cc @yf225 @peterjc123

[2020-02-06 15:23] peterjc123 commented on #33045
I skimmed the PR. Looks like you disabled ninja on Windows, right? That's a big step back. BTW, may I know what's blocking this on Windows?

[2020-02-06 15:29] vadimkantorov opened #33046 "F.one_hot to return BoolTensor/ByteTensor instead of LongTensor?"
What is the reason for F.one_hot to return a rather large int64 type intead of int8 types such as Bool or Byte?
Its values are always 0/1 and with existing type promotion, manipulation with Bool/Byte in cross-entropy type formulas should be ok.

Related issue: https://github.com/pytorch/pytorch/issues/15457
Related PR about specifying dtype in one_hot call: https://github.com/pytorch/pytorch/pull/

[2020-02-06 15:31] vadimkantorov commented on #15457
adding `device` arg also makes sense.
Also in https://github.com/pytorch/pytorch/issues/33046 I propose changing default dtype to bool/byte from long

[2020-02-06 15:35] IlichevSergey opened #33047 "torch.nn.functional import grid_sample"
If you have a question or would like help and support, please ask at our
[forums](https://discuss.pytorch.org/).

If you are submitting a feature request, please preface the title with [feature request].
If you are submitting a bug report, please fill in the following details.

## Issue description

torch.nn.functional.grid_sample() behavior is differ from pytorch 1.2.0

## Code example

pytorch 1

[2020-02-06 15:43] pbelevich opened #33048 "allclose and isclose should support bool tensors"
Currently torch::allclose() fails with
`C++ exception with description "Subtraction, the `-` operator, with a bool tensor is not supported. If you are trying to invert a mask, use the `~` or `logical_not()` operator instead. (sub_check at ../aten/src/ATen/native/BinaryOps.h:24)`
on bool tensors

cc @yf225 @izdeby

[2020-02-06 16:11] vadimkantorov commented on #15457
It would also be good if `one_hot` supported receiving the class index as python scalar, currently only `torch.tensor(class_idx)` works

[2020-02-06 16:21] stereomatchingkiss opened #33049 "Warning when link libtorch and opencv4.2.0 together"
## To Reproduce

Steps to reproduce the behavior:

1. Download official opencv4.2.0
2. Download libtorch1.4.0 of windows 64 bits, cpu version
3. Create CMakeLists.txt

[code]

4. Codes

[code]
5. Build with release version

## Expected behavior

Compile without any warnings

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/

[2020-02-06 16:27] stereomatchingkiss commented on #33049
Maybe I should build the libtorch by myself, any tutorials of building libtorch(with cuda) on windows?Thanks

[2020-02-06 16:28] Enealor commented on #32995
I think the issue you are encountering is related to how you are trying to cast. `torch.ByteTensor` is a class, and its constructor is not designed for casting. To cast, try `x.to(dtype=torch.uint8)`. This is discussed further on [this page](https://pytorch.org/docs/stable/tensors.html#torch-tensor) of the docs - the third note down mentions using `to`.

[2020-02-06 16:48] jecampagne commented on #33037
Here is the results with the nightly build
[code]

with the following settings

[code]

[2020-02-06 16:57] mrshenli commented on #32686
cc @javier-m
His use case needs to use RPC to launch infinite loops, where this per-RPC timeout will be very helpful.

[2020-02-06 17:02] zou3519 commented on #33045
@peterjc123:

Before my PR: ahead-of-time C++ extensions build with distutils. just-in-time C++ extensions build with ninja (all systems)

After my PR: ahead-of-time C++ extensions build with ninja, except for windows, which still uses distutils.  just-in-time C++ extensions build with windows (all systems).

There is no regression in how windows cpp extensions support ninja.

Mostly my lack of kn

[2020-02-06 17:33] ahyunSeo opened #33051 "Recover from CUDA runtime error"
## ❓ Questions and Help

I wanted to recover from
RuntimeError: inverse_cuda: For batch 0: U(2344,2344) is zero, singular U.
so I tried to catch the error and do
torch.cuda.empty_cache()
which leads to the another error
RuntimeError: CUDA error: misaligned address
with out empty cache I got the illegal memory access error below.
Any suggestions?
I use CUDA 10 pytorch 1.1.0~ TitanXP *4
Also I use d

[2020-02-06 18:11] zhaojuanmao opened #33052 "make script module object to pass over wire in rpc layer"
Right now there is no way to pass  script module object over wrie in rpc layer.

1. When calling python myScriptModule constructor as follows, myScriptModule will be serialized by python pickler, but python pickler does not support scriptModule object serialization
ret = rpc_sync(work1, myScriptModule, args=())
or rref = remote(work1, myScriptModule, args=()), rref.to_here()

2. When calling torch

[2020-02-06 18:11] suo commented on #28418
you are correct, my mistake. @wanchaol do you have some time to look into this?

[2020-02-06 18:13] wanchaol commented on #28418
I will take a look at this soon.

[2020-02-06 18:14] huckl3b3rry87 commented on #2926
@JiamingSuen 's solution worked for me as well with Docker

[2020-02-06 18:21] suo commented on #28418
Actually, @eellison: it looks like when you added overloads to LSTM/GRU you didn't add to RNN as well

[2020-02-06 18:24] suo commented on #32641
@chenbohua3 if you want the full inlined graph, you can call our inlining pass on it: `torch._C._jit_pass_inline`.

[2020-02-06 18:26] suo commented on #32641
@QuanluZhang: so beyond inlining, if you want to recover the call stack (basically get the same information that scopes were giving you), try using `Node::callstack()`. This should give you a data structure with the info you're looking at

[2020-02-06 18:32] suo commented on #32975
Yes, the canonical way of doing this is probably separating out the traced code into a different module and tracing that one directly. Then as long as you attach it as a submodule in `__init__`, you can script the whole model.

Parameter sharing should work in this instance, but feel free to open a separate issue if it doesn't.

[2020-02-06 18:35] ngimel commented on #33044
The benchmarking is wrong because of asynchronous cuda execution. Notebook with fixed benchmarking is here https://colab.research.google.com/drive/1amnkb1_f3IctaEroUu8kepn8eeDVOBPQ
With cudnn on Turing card I'm getting ~ 12 s for conv3d and 0.12 s for conv2d. Given that conv3d has 40x2=80 times more compute that's not too suprising. Without cudnn conv3d is ~20s.
So what exactly is the question her

[2020-02-06 18:47] andfoy commented on #30560
@rgommers I've just opened the corresponding issue on ONNX

[2020-02-06 18:53] ezyang commented on #24507
@VitalyFedyunin Do you know why `masked_select` wasn't in this list? I was looking for its porting issue (because it's used in printing) and I don't think we have one

[2020-02-06 18:55] ezyang opened #33053 "Migrate `masked_select` from TH to ATen (CPU)"
Porting TH operators is essential for code simplicity and performance reasons.

Porting guides and Q&A are available in umbrella issue: #24507

Feel free to add @VitalyFedyunin as a reviewer to get a prioritized review.

cc @ezyang @gchanan @zou3519 @anjali411 @dylanbespalko  as this affects complex tensor bring up

[2020-02-06 18:56] ezyang opened #33054 "Migrate `masked_select` from TH to ATen (CUDA)"
Porting TH operators is essential for code simplicity and performance reasons.

Porting guides and Q&A are available in umbrella issue: #24507

Feel free to add @VitalyFedyunin as a reviewer to get a prioritized review.

cc @ezyang @gchanan @zou3519 @anjali411 @dylanbespalko as this affects complex tensor bring up

[2020-02-06 18:58] ezyang commented on #33053
This is high priority because `masked_select` is called when printing tensors

[2020-02-06 18:58] ezyang commented on #33054
This is high priority because `masked_select` is called when printing tensors

[2020-02-06 19:00] ezyang commented on #24507
I added it, but given that it was missing, I'm wondering if there are other ops we are missing.

[2020-02-06 19:01] dreiss commented on #32919
If you call `traced_script_module.eval()` right before saving, does that fix it?

[2020-02-06 19:45] #33012 closed

[2020-02-06 19:46] vadimkantorov opened #33055 "[docs] Strange order of items in docs contents in left pane"
[code]
why this order? not even alphabetical. I'd suggest that big special topics such as Quantization are presented on top in a separate section, and the rest to be in alphabetical order.

![image](https://user-images.githubusercontent.com/1041752/73972687-8c035b00-4921-11ea-82a9-01c4d09cc5b3.png)

[2020-02-06 19:52] VitalyFedyunin commented on #24507
Looks like I missed manually aliased operators from pytorch/aten/src/ATen/native/LegacyDefinitions.cpp

[2020-02-06 20:26] ksiv commented on #32916
I m using vanilla Windows 10 python.
To install it in Windows 10. Issue command 'python'
follow Windows 10 instruction to install.
I m not building anything.
Anaconda looks a bit grotesque to add to my already clogged system.
my workaround for this issue is to copy all files from torch/lib into torch.
(torch.rand(5, 3) - works)
I think, proper error text would help a bunch of guys using torch.
I m

[2020-02-06 20:44] #32975 closed

[2020-02-06 21:06] fpoms commented on #24081
Can confirm the workaround of disabling IOMMU also works for me.

[2020-02-06 21:06] gchanan commented on #21988
@vincentqb can you make a call on this and remove the "needs research" label?

[2020-02-06 21:07] gchanan commented on #23313
Our general criteria for acceptance:

The method has to be well-established (we ask people to submit new or low-cited methods to https://github.com/pytorch/contrib )
For example, if you see #13213 above, we reject those at that point of time, as they were fresh off the press
The method has to match the paper
The method has to have a consistent and thoughtful interface
Sometimes, leaving a very wel

[2020-02-06 21:07] #23313 closed

[2020-02-06 21:08] #32095 closed

[2020-02-06 21:10] gchanan commented on #31932
Given this is in numpy (https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.linalg.block_diag.html) and it creates a dense matrix, we should just do it.

[2020-02-06 21:13] gchanan commented on #30658
we think this would be useful, for the same reason as MaxUnpool, so removing "needs research."

[2020-02-06 21:14] gchanan commented on #30386
@vincentqb can you make a call and remove the "needs research" label?

[2020-02-06 21:25] gchanan commented on #27878
this sounds like a promising API -- there's probably some implementation complexity behind it, but we'll remove "needs research" as it looks acceptable.

[2020-02-06 21:27] gchanan commented on #25785
sounds good if can be done reasonably with MAGMA, MKL, and BLAS.

[2020-02-06 21:28] gchanan commented on #24991
sounds good.

[2020-02-06 21:29] gchanan commented on #24892
@vincentqb: can you make a call on this and remove needs research?

[2020-02-06 21:29] gchanan commented on #23957
@vincentqb can this be closed now?

[2020-02-06 22:12] zou3519 commented on #32998
@sbagchi12 Could you give an example (with numbers) for what the inputs are and what you want as output? I'm having trouble following the description.

[2020-02-06 22:13] ezyang commented on #33016
Yeah, just `nvprof` the execution and see if it actually used a cudnn kernel. So I get:

[code]

On the convolution one

[2020-02-06 22:18] ezyang commented on #33016
Hmm, I do get your warning too, but nvprof seems to claim that we are getting to the cudnn kernel in the end:

[code]

[2020-02-06 22:19] ezyang commented on #33016
Bumping up the priority because the warning is scary looking (even though everything is actually working under the hood)

[2020-02-06 22:19] ezyang commented on #32866
Yeah, see if you can try with 1.4.0 (and master) and see if it is still a problem.

[2020-02-06 22:41] spandantiwari commented on #19277
PR https://github.com/pytorch/pytorch/pull/33062 has been submitted to support large model export to ONNX.

[2020-02-06 22:49] gchanan commented on #30029
Though we are sympathetic to concerns raised in the issue, integrating this library is expensive in terms of developer time and we'd like to see adoption before we do that.

[2020-02-06 22:49] #30029 closed

[2020-02-06 23:05] gchanan commented on #26566
I'm going to close this because it seems like #22402 subsumes this.  If you disagree, please reopen.

[2020-02-06 23:05] #26566 closed

[2020-02-06 23:07] gchanan commented on #22848
I think we should discuss the more general approach to this issue in https://github.com/pytorch/pytorch/issues/28341.

For the plan of record on this one, let's match `symeig` and have a new function.

[2020-02-06 23:15] v0dro opened #33065 "Atomic CPU operations for parallel addition, subtraction, multiplication and division."
## 🚀 Feature

Portable parallel atomic aritmetic operations like addition, subtraction, division and multiplication
for CPU.

## Motivation

Scatter reduction operations came up in issue https://github.com/pytorch/pytorch/issues/22378 . Performing
these operations safely in parallel requires the use of atomic operations for performing various
operations like addition, subtraction, division and mul

[2020-02-06 23:19] forresti commented on #32919
@dreiss
I just gave that a try. Same problem.

[2020-02-06 23:22] forresti commented on #32919
One more note:
If I use hash b05d0fa67144d5af0545a333d5792c2e3946b8c5 (Oct 2019) for the `speed_benchmark_torch` android binary, and I use hash 7f73f1d591afba823daa4a99a939217fb54d7688 (Jan 2020 - v1.4.0 tag) for exporting a pytorch model to torchscript, that works. In other words, a new pytorch can export a torchscript model that works with an old version of the android binary. But, something is

[2020-02-06 23:22] eellison commented on #33034
Similar issue to https://github.com/pytorch/pytorch/issues/30421 and https://github.com/pytorch/pytorch/issues/31129. One fix here is everytime we invoke `torch.jit.script` to memoize the scripting of any mutable object.

[2020-02-06 23:24] hadaev8 commented on #24991
@gchanan
Never contributed to such big repo, do I need anything besides adding activations and values to calculate_gain function?

[2020-02-07 00:24] vadimkantorov opened #33071 "[feature request] F.interpolate to support 1d signals out of the box"
For audio / scalar time series / 1d signals of shapes T or BxT, one currently has to unsqueeze at least to 3d tensor and then squeeze back.

With PyTorch now used for everything and not just imaages, easy support for 1d signals would be great!

[2020-02-07 00:31] vadimkantorov commented on #13218
Bool support would also be useful (for masks)

[2020-02-07 00:36] zhangguanheng66 commented on #32529
Add to the issue request post https://github.com/pytorch/pytorch/issues/32590

[2020-02-07 01:07] rohan-varma opened #33072 "Build a generic failure injection mechanism for RPC"
## 🚀 Feature
Due to the distributed, multi-process nature of the RPC framework it can be challenging to test certain functionality, such as timeouts, error handling, and error conditions that arise from separate threads of execution.

It might be thus useful to have a generic failure injection mechanism where we could specify which, if any, failures to insert into the RPC agent when writing a unit