[2021-06-07 16:58] Varal7 opened #59568 "renorm operator fails test conj_view"
## 🐛 Bug

Building on the current viable/strict (#59522) using recommended flags from [Contributing](https://github.com/pytorch/pytorch/blob/master/CONTRIBUTING.md)

The test `test_conj_view_renorm_cpu_complex64 (__main__.TestCommonCPU)` fails.

## To Reproduce

Steps to reproduce the behavior:

1.  `git checkout 459270ac01f1bfcbeaffb20f1c94622561af94e0`
2.  `rm -rf build && BUILD_CAFFE2=0 USE_DIS

[2021-06-07 17:02] vadimkantorov commented on #56683
But why was it failing in forward in the first place? (and not in backward)

[2021-06-07 17:10] tugsbayasgalan commented on #58883
This seems related to serialization, @Lilyjjo could you take a look?

[2021-06-07 17:17] seemethere commented on #58867
Solved with #59450

[2021-06-07 17:17] #58867 closed

[2021-06-07 17:22] tugsbayasgalan commented on #59153
Even though you can set the attribute, you won't be able to access it.

[2021-06-07 17:24] agolynski commented on #54324
Also see https://github.com/pytorch/pytorch/issues/50153

[2021-06-07 17:24] #54324 closed

[2021-06-07 17:28] agolynski commented on #54404
Closing as a dup of #50153

[2021-06-07 17:28] #54404 closed

[2021-06-07 17:41] ezyang commented on #44428
It doesn't seem like it would be too much work to steal crypten's trick for reusing the existing float kernels; writing a crappy CUDA matrix multiply also shouldn't be too much work either.

[2021-06-07 17:43] IgnacioJPickering commented on #59153
@tugsbayasgalan I believe maybe you misunderstood the issue, let me explain a bit more clearly:

The code I showed does not try to access an attribute, and if you don't JIT compile it, it does not raise a warning, because the code is correct.

If you JIT compile it, it raises a warning because JIT compilation does something internally that triggers it.

[2021-06-07 17:45] IgnacioJPickering commented on #59153
In other words:

This raises a warning:
[code]

This does **not** raise a warning:
[code]

[2021-06-07 17:49] IgnacioJPickering commented on #59153
@tugsbayasgalan I don't think I can reopen issues in pytorch but I can open a new issue and try to be more clear if you think the code is confusing (admittedly, I may be misunderstanding your answer).

[2021-06-07 17:56] tugsbayasgalan commented on #59530
Yes batch_size is hardcoded for tracing because it was assumed to be constant because tracing only records operations on tensor. This makes it so that control flow etc will be ignored.

[2021-06-07 18:26] codingpy commented on #37386
And, BufferList feature is also awesome.

[2021-06-07 18:28] sharvil commented on #59526
Digging into this further, it looks like the issue is with the documentation and not finfo. Specifically:

- `eps` is not ["The smallest representable number such that `1.0 + eps != 1.0`"](https://pytorch.org/docs/stable/type_info.html). It is, in fact, the [*difference* between 1.0 and the next largest representable number after 1.0](https://numpy.org/doc/stable/reference/generated/numpy.finfo.ht

[2021-06-07 18:37] sharvil commented on #56440
`torch.finfo` doesn't return the smallest subnormal number for a type, so it's not straightforward to check for underflow. An alternative is to construct a rank-0 tensor of the target dtype and check if it equals 0 when the `min` argument is nonzero. I don't love the idea of instantiating tensors (even tiny ones) on each call for error checking. Are there better alternatives?

[2021-06-07 18:39] malfet commented on #53171
Removing from 1.9 milestone as PR has not been merged yet. @mruberry any reason to assign this issue to a particular milestone?

[2021-06-07 18:40] malfet commented on #54712
@suo any reason why this issue is targeting 1.9? (Tentatively moving to 1.10 since it's not closed nor has any PRs marked as fixing it)

[2021-06-07 18:41] malfet commented on #54363
Removing milestone for now. @suo is there a reason why this issue should be in  1.9?

[2021-06-07 18:43] #54712 closed

[2021-06-07 18:44] suo commented on #54712
This is actually done now cc @Lilyjjo

[2021-06-07 18:44] suo commented on #54363
No reason, thanks for moving :)

[2021-06-07 18:45] Lilyjjo commented on #59302
Can you confirm @tcapelle that the spectral_norms layers were running in 1.7.1? JIT was previously just ignoring hooks altogether, and it looks like spectral_norm is implemented with hooks

[2021-06-07 18:58] IgnacioJPickering commented on #59153
I understand, so if this usage is safe I would think probably `torch.jit.script` should wrap its manipulations of `ParameterList` to ignore this warning, or at least the warning could say something like `ignore this warning if jit scripting a module with a ParameterList`? I know this is not high priority, but it is a bit confusing.

I opened the issue because this popped up in the middle of our te

[2021-06-07 18:59] jotaf98 commented on #38419
Adding to @carlthome's mention that on-disk datasets are important for accessibility (outside of the most well-provisioned labs), I thought I'd mention that I implemented the same idea but as a `Dataset`:

https://github.com/jotaf98/simple-tar-dataset

This supports random access, as opposed to `IterableDataset`'s sequential access.

This is more relevant for the mentioned single-machine/local dis

[2021-06-07 19:04] tugsbayasgalan commented on #59153
Yep I agree. Will address this as soon as we can.

[2021-06-07 19:07] tcapelle commented on #59302
Lol, it was then probably ignoring it.

On Mon, Jun 7, 2021, 8:46 PM Lillian Johnson ***@***.***>
wrote:

[2021-06-07 19:36] driazati opened #59575 "[clang-tidy] check for iteration over unordered data structures"
Now that we are starting to set up some infrastructure for static analysis we should check for common pitfalls that devs have to keep in their heads currently, one of which is to not iterate over `std::unordered_map` or `std::unordered_set` and do real work

from https://fb.workplace.com/groups/pytorch.dev/permalink/856353394943142/ internally:

[code]

can produce different results based on the i

[2021-06-07 19:38] ngimel commented on #44428
On consumer cards, double precision gemm performance will be catastrophically slow.

[2021-06-07 19:41] #55909 closed

[2021-06-07 19:57] ahirner commented on #59519
Thanks @skyline75489 , can confirm it's the path separator. Although I didn't make it through the entire build, I guess it's good for a tiny PR.

[2021-06-07 19:58] mrshenli commented on #59433
Hey @lhb8125, I am going to close this issue since straggler processes are expected. Please feel free to reopen if this turns into a bug report or feature request. Thanks!

[2021-06-07 19:58] #59433 closed

[2021-06-07 19:59] ejguan commented on #59512
Can you do it using `random_split` twice?
[code]
And, if we want slicing supported, we need to have all Dataset supported.

[2021-06-07 20:01] mrshenli commented on #59363
We usually recommend serializing the local model (i.e., `ddp_module.module`) instead of the DDP module, and only do that on one rack (since all ranks see the same model). Later, when you need to re-construct the model, you can first load the local module checkpoint and then pass that to `DistributedDataParallel` ctor.

[2021-06-07 20:07] tugsbayasgalan commented on #58883
It seems like sparse tensor cannot be saved even if we register it as a normal attribute.
[code]
Above snippet also gives same error.

[2021-06-07 20:12] albanD commented on #59568
High pri because this set of compilation flags is the one recommended in the CONTRIBUTING guide. And it seems like they are not tested in our CI cc @malfet

[2021-06-07 20:19] #59150 closed

[2021-06-07 20:20] malfet commented on #59531
@jiapei100 can you please share build output as well? (As CMakeError log only contains errors during configuration stage, but not during the build)

[2021-06-07 20:20] mrshenli commented on #59363
Yep. I tried, but http://yann.lecun.com/exdb/mnist/train-images-idx3-ubyte.gz is service unavailable currently. Will try again later. The code looks correct to me.

[code]

BTW, doing the above for every iteration can be slow, as collective comm can be one major source of delay for DDP training. If you just need that to print the global loss, you can try either 1) only doing that every N iteration

[2021-06-07 20:20] tugsbayasgalan commented on #58883
Sounds like this feature is not supported.

[2021-06-07 20:20] #58883 closed

[2021-06-07 20:22] malfet commented on #59542
Full build log (that includes cmake configuration stage) is needed to diagnose what is going on.

[2021-06-07 20:33] FangMath commented on #59530
@tugsbayasgalan "Yes batch_size is hardcoded for tracing " is this specifically for `for loop`? or specifically for `nn.LSTMCell`? We noticed `batch_size` is not hardcoded for other modules. For example `nn.LSTM` works totally fine. Here's a toy model of `nn.LSTM` that works
[code]
But for our real model, we cannot use `nn.LSTM` as we need custom logics within the `for loop` together with `nn.LSTM

[2021-06-07 20:45] tugsbayasgalan commented on #59530
Can you elaborate more on the `for loop`? Are you talking about the  `for loop` in the forward method?

[2021-06-07 20:47] Linux-cpp-lisp commented on #58883
@tugsbayasgalan any chance of reopening this as a feature request, then? :grin:

[2021-06-07 20:50] tugsbayasgalan commented on #59530
If I print the traced graph, it looks like this:
[code]
From here, you can see that batch size is hardcoded. What I meant by "try changing batch size to attribute" was I noticed you used batch_size like this in your snippet:
[code]

[2021-06-07 21:15] #59477 closed

[2021-06-07 21:18] soulitzer opened #59584 "`renorm` is failing for slow gradcheck"
See: https://app.circleci.com/pipelines/github/pytorch/pytorch/331771/workflows/fed7923c-3490-490f-8769-81a71beae558/jobs/13940286

This may be able to fixed by adding some tolerance ~4e-3 - but there might also be deeper issues, considering https://github.com/pytorch/pytorch/issues/59568. Fast gradcheck is likely not failing because only several values in the jacobian differ between numerical/ana

[2021-06-07 21:36] #51455 closed

[2021-06-07 21:39] Vildnex opened #59592 "Build failed with TBB"
## 🐛 Bug

I am trying to build PyTorch from source using TBB instead of OpenMP but I am getting the following errors every time:

[code]
You can find the full log file [HERE](https://drive.google.com/file/d/1YXSicCUcDm2jZyY8n0al8EdJ9TbychWO/view?usp=sharing):

## To Reproduce

Steps to reproduce the behavior:

1. `git clone https://github.com/pytorch/pytorch`
1. `cd pytorch`
1. `ATEN_THREADING=TBB

[2021-06-07 22:14] ngimel commented on #59568
Can't repro using provided instructions.
[code]

[2021-06-07 22:19] Balandat commented on #28341
Here is a basic demo notebook using that library if it's helpful fork making things more concrete: https://github.com/Balandat/linear_operator/blob/demo_nb/examples/LinearOperator_demo.ipynb

[2021-06-07 22:19] Varal7 commented on #59568
From personal correspondence, @albanD mentioned it would probably be due to my build flags (copied from [CONTRIBUTING](https://github.com/pytorch/pytorch/blob/master/CONTRIBUTING.md#build-only-what-you-need) )

I can rebuild with less flags to narrow down the issue.

[2021-06-07 22:24] ehedlin commented on #36649
For me it had to do with devices on separate GPUs being matmul'd

[2021-06-07 22:27] ngimel commented on #59568
I've rebuilt with your build flags.

[2021-06-07 22:55] Varal7 commented on #59568
Indeed, I tried to follow the instructions I provided and can not reproduce the issue either.
I guess it is possible that I was using different build flags than the ones I provided. Unfortunately, I've already deleted the `build` directory of the misbehaving build and am not able to say what those flags were.
I'm closing this issue.

(As a side note, I still have errors when running `test_ops.py`

[2021-06-07 22:55] #59568 closed

[2021-06-07 23:18] AlfredWGA commented on #44299
@HenryDashwood I'm working on converting `pegasus` to `onnx` and ran into the exact same issue as yours, the `encoder_hidden_states` input for the decoder disappears  after the conversion.

[2021-06-07 23:46] mattpodolak commented on #59555
@skyline75489 Unfortunately there was no error message printed out by Jupyter Notebook, the kernel just died. At the time of creating this issue I hadn't uncovered a fix, but I think I can provide some more insights now that this has been resolved.

I had just installed pytorch using the command described above, while already having a non-CUDA version of pytorch already installed on my machine (no

[2021-06-08 01:03] blackCmd opened #59607 "Where is libtorch archive???"
Where is libtorch archive???

I can't find libtorch 1.6.0..

[2021-06-08 01:18] sayakpaul commented on #59363
@mrshenli could you provide minimal code examples for both the comments you made? Would be tremendously helpful.

[2021-06-08 01:18] FangMath commented on #59530
@tugsbayasgalan I see `batch_size` is hardcoded for both cases. But why for the 2nd model we don't have problems using the traced model in an input with a different `batch_size`?

Sorry, I missed one line of code in my original snippet. I just updated. The forward loop should look like this
[code]
where the `batch_size` in the `forward` method is dependent on `input`.

What do you suggest to chang

[2021-06-08 01:48] TJ-coding commented on #59512
Given that you need to slice a SubSet initialised with a SubSet, there are three workarounds that I can think of:
E.g.
[code]
1. Change the indices of a subset into an integer Tensor or an Integer numpy array
[code]
2.  Use a for loop
[code]
3. Apply the indices of the subset on the original dataset
[code]
---
But to me, none of the above solutions are as elegant nor pythonic as just a simple slic

[2021-06-08 02:07] huangjundashuaige opened #59612 "Why Pytroch.distributed does not expose NCCL cuda stream?"
Is there workaround or hacky way to get the NCCL cuda stream in python?

[2021-06-08 02:22] rmx564354093 opened #59613 "torch::save"
**In pytorch  when train model  over   we can save model .  such as**
torch.save({
            'epoch': epoch,
            'model_state_dict': model.state_dict(),
            'optimizer_state_dict': optimizer.state_dict(),
            'loss': loss,
            ...
            }, PATH)

**and  load  model and param  such as**
 model.load_state_dict(checkpoint['model_state_dict'])
optimizer.load_sta

[2021-06-08 02:55] mrshenli commented on #59612
Hey @huangjundashuaige, you might need to hack into C++ code and rebuild to get the real stream.

https://github.com/pytorch/pytorch/blob/1faba1e4cce2c6dfb3d89a19e7d709fd9af5fe67/torch/lib/c10d/ProcessGroupNCCL.cpp#L906-L909

Curious, what is the reason for accessing that stream? And will it help if we provide additional args to allow users configure the CUDA stream?

cc @agolynski

[2021-06-08 03:04] hendrycks commented on #39853
I now support adding this option. Something like  https://github.com/huggingface/transformers/blob/master/src/transformers/activations.py#L56
would be good.

[2021-06-08 03:04] mrshenli commented on #59363
Yep, this is correct:

Sure

For 1):

[code]

For 2):

[code]

[2021-06-08 03:12] huangjundashuaige commented on #59612
Thanks @mrshenli ! I was trying to overlap the computation and communication at stream level (if it is not work, I would have to go lower to kernel level) (similarly to bucketing gradient in DDP), it can not been done if I do not have a NCCL stream handle. Yes, it will definitely help if pytorch can have additional args toward CUDA stream.

[2021-06-08 03:21] sayakpaul commented on #59363
Thank you very much. I think having a Kaggle Kernel or a Colab Notebook with this gist might be very useful for the community. I will try to work on one and update it here.

I am closing this issue for now since I don't have anything else. Appreciate your guidance :)

[2021-06-08 03:21] #59363 closed

[2021-06-08 03:31] zhengge commented on #19336
@ShannonZ I have the same problem with you. Did you solve it?

[2021-06-08 03:42] skyline75489 commented on #59613
Hi! Github is mainly for issues about PyTorch *itself*. This is a better fit for the [PyTorch forums ](https://discuss.pytorch.org/) so I'd suggest posting there as it's more likely you will get assistance.

[2021-06-08 05:17] cpuhrsch opened #59614 "inference_mode causes segfault"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. Create new, empty conda environment
2. Run ```conda install pytorch cpuonly -c pytorch-nightly```

Run
[code]
which results in a segmentation fault.

When run outside of inference_mode context the code succeeds

[code]

## Expected behavior

Don't segfault.

## Environment

$ python collect_env.py
/fsx/users/cpuhrsch/conda/envs/nightl

[2021-06-08 06:02] tugsbayasgalan commented on #59368
@shihaoyin could you post a reproducible script? It is little hard to see what is going on with the current description

[2021-06-08 06:03] emcastillo commented on #58839
Thank you all for your Thank you all for your feedback,

After thinking about this, I think we can summarize the design goals in the following ones:

1. `torch.nn.Module` must remain untouched.

2. Module must be always in a valid state, this means, while we are operating in functional mode, the original module object must be consistent should its non functional behavior be invoked.

3. This must

[2021-06-08 07:08] codingpy opened #59617 "torch.split() infer -1 entry from the other split sizes"
## 🚀 Feature
`torch.split()` accepts -1 in the argument `split_size_or_sections`, and can infer the actual value from the other entries. For example:

[code]

## Motivation

`torch.split` expects split_sizes have only non-negative entries, and to sum exactly to the dim. So, everytime I call this function (or method) I have to manually calculate the `len(dim) - sum(other_split_sizes)` and place it

[2021-06-08 07:12] shihaoyin commented on #59368
Here is a simple code:

[code]

When the traced model infer in cuda:0, an error will occur:
Input and hidden tensor are not at same device, found input tensor at cuda:0 and hidden tensor at cpu.

[2021-06-08 09:06] #59293 closed

[2021-06-08 09:29] cometonf commented on #57803
I have the same issue.

[2021-06-08 09:37] Flamefire commented on #52278
Any update here? FWIW the following tests from test_nn.py fail on A100:

- TestNN.test_Conv3d_1x1x1_no_bias_cuda
- TestNN.test_TransformerDecoderLayer_gelu_activation_cuda_tf32
- TestNN.test_TransformerDecoderLayer_relu_activation_cuda_tf32
- TestNN.test_TransformerEncoderLayer_gelu_activation_cuda_tf32

When running only those then just the first test fails, so the failures are input dependent (t

[2021-06-08 10:18] EleanorHYW opened #59621 "Export decoder to onnx failed: RuntimeError: 0 INTERNAL ASSERT FAILED at "..\\torch\\csrc\\jit\\ir\\ir.cpp":518, please report a bug to PyTorch. 114 not in scope"
## 🐛 Bug

## To Reproduce

I used `torch.load()` to load decoder of the model from checkpoint and used `decoder_scripted = torch.jit.script(decoder)` to scripting this decoder, then when I tried to export `decoder_scripted` to ONNX, I came across this error:

[code]
It all worked well when I used `decoder_scripted` to check decoder forward() as follows:
`dec_out, pt, dec_hn, dec_cn = decoder_scrip

[2021-06-08 11:24] yjegssl opened #59626 "multi scripted model on the same gpu on multi gpu machine"
## 🐛 Bug

multi scripted model on the same GPU on of a multi GPU machine
## To Reproduce

Steps to reproduce the behavior:

1. get 2 scripted models with different architecture
1.load 2 of each on cuda:3
1.run
it will crash

## Expected behavior

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/

[2021-06-08 11:43] harishsdev opened #59627 "Example code for is_storage"
## 📚 Documentation

I found no example for below function,i would like to  contribute example for below  function
Can raise the PR for below

def is_storage(obj):
    r"""Returns True if `obj` is a PyTorch storage object.

    Args:
        obj (Object): Object to test
    """
    return type(obj) in _storage_classes

[2021-06-08 11:50] hk0901 opened #59628 "what(): result type Float can't be cast to the desired output type Long"
core dump when I use  torch::hann_window(400)  in libtorch

![微信图片_20210608195009](https://user-images.githubusercontent.com/53263206/121179915-ce7cd500-c892-11eb-935e-db6954a23604.png)

[2021-06-08 11:57] malikasinger1 commented on #56333
I was getting same error with following pip packeges
flask
stocker
pystmark
mysql-connector-python
gunicorn
phpserialize
matplotlib
google-cloud-storage

# Solved

just go to your application folder, then goto utilities, inside the utilities folder you will see the terminal app, right-click on that and goto info, check open using rozetta, now your terminal will always open in x86 mode and all cli

[2021-06-08 12:43] cosminginerica commented on #52432
Hi @dangraf !
Were you able to resolve your issue with yolo? I am running at the moment into the same problem.
Thanks

[2021-06-08 12:49] Dris101 opened #59629 "Potentially misleading note in documentation for PackedSequence"
## Issue

The notes for the `PackedSequence` class
[https://pytorch.org/docs/stable/generated/torch.nn.utils.rnn.PackedSequence.html#torch.nn.utils.rnn.PackedSequence](https://pytorch.org/docs/stable/generated/torch.nn.utils.rnn.PackedSequence.html#torch.nn.utils.rnn.PackedSequence) state

It seems however that there are instances where creating them manually is (I think) unavoidable. For example

[2021-06-08 13:14] zou3519 commented on #58839
Could you elaborate a bit more on this? "The ability to sync weights" isn't in the requirements (and I wonder what the use cases for this are)

[2021-06-08 13:22] Sentient07 commented on #40403
I had the same issue and it was resolved by `not` placing the tensors on GPU from within the `Dataset` class. Hope that helps

[2021-06-08 13:24] lijunzh commented on #47056
@erlini Yes, I noticed that too. I would assume that rebuilding the reducer bucket will only happen at the first epoch. However, the slowdown was observed on every epoch. This must be caused by some other changes introduced by PyTorch 1.7.

[2021-06-08 13:50] Sonderfall opened #59630 "Bug in torch.quantization.convert (custom mapping) + fix suggestion"
## 🐛 Bug

The function torch.quantization.convert(model, inplace, custom_mapping) has a bug regarding the custom_mapping management. Indeed, the mapping dict is not well transmitted during the recursive call.

See **Additional context** section for bug localization.

## To Reproduce

Steps to reproduce the behavior:

1. have a quantizable model
2. `custom_f2o_mapping = {
       "float_to_observed_

[2021-06-08 13:52] ezyang commented on #59614
On the following dev build of PyTorch I did not get any segfault with the minimal repro:

[code]

[2021-06-08 13:55] jbschlosser commented on #14901
Closing this as stale. Feel free to reopen if still relevant, although I doubt it is :)

[2021-06-08 13:55] #14901 closed

[2021-06-08 14:01] mrshenli commented on #59612
Hey @huangjundashuaige, thanks for sharing the context. In the short term, to unblock you, does it work if you wrap computations into a different stream and use asynchronous collective communications? Sth like:

[code]

[2021-06-08 14:04] ljc19940403 opened #59631 "trorch.save"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)
When I save the entire model, but I don't want to expose the network code, but others

[2021-06-08 14:08] mrshenli commented on #59363
Oh I see. I was wrong. I was copying from the original code, and didn't notice the `avg` attribute wasn't available until `losses.update()`. In that case, the `all_reduce` should be launched after that. As long as the comm is launched before backward, it should help to overlap comm with comp.

Sure, the `work` handle returned by asynchronous collective communications, can be treated as a Future ob

[2021-06-08 14:16] #59378 closed

[2021-06-08 14:38] jbschlosser commented on #59607
Try this: https://download.pytorch.org/libtorch/cpu/libtorch-shared-with-deps-1.6.0%2Bcpu.zip

[2021-06-08 14:38] #59607 closed

[2021-06-08 14:40] jbschlosser commented on #59631
Hey @ljc19940403, please post questions like this on the [PyTorch forums](https://discuss.pytorch.org/) as it's more likely you will get help there.

[2021-06-08 14:40] #59631 closed

[2021-06-08 14:40] #59613 closed

[2021-06-08 14:42] jbschlosser commented on #59626
Hey @yjegssl, thanks for the bug report! Can you please provide a minimal script to reproduce the issue?

[2021-06-08 14:44] sayakpaul commented on #59363
Thank you!

So, should it be like this?

[code]

Sorry for the botheration but I just want to make sure I am getting this right.

[2021-06-08 14:46] ezyang commented on #59614
Repros on Python 3.6.10 though

[2021-06-08 14:47] jbschlosser commented on #59627
Hey @harishsdev, thanks for the suggestion! I don't think an example is required for such a simple function.

[2021-06-08 15:35] jithunnair-amd commented on #55762
Thanks for confirming. I'm closing this issue.

[2021-06-08 15:35] #55762 closed

[2021-06-08 16:19] Flamefire commented on #59436
So it looks like an assertion fails which sets an exception into a future which is already marked as completed which triggers the assertion failure seen above.
Printing the first assertion error message yields:
[code]

So something is going very wrong here.
- The value in question derived from `torch.nn.Module`: https://github.com/pytorch/pytorch/blob/fc55290e5b128d82fa3854565a4d89f60d747fa7/torch

[2021-06-08 16:48] dbalchev commented on #58055
@kimishpatel thank you for the explanation (:

[2021-06-08 16:57] heitorschueroff commented on #32591
Current implementation of `torch.einsum` fixed this performance problem as shown in the following benchmarks, where mul/sum refers to the code `(a * b).sum(dim=(-3, -2, -1))`.

### CPU Benchmark
[code]

### CUDA Benchmark
[code]

[2021-06-08 16:57] #32591 closed

[2021-06-08 17:00] #59408 closed

[2021-06-08 17:01] ezyang commented on #58518
Master PR: https://github.com/pytorch/pytorch/pull/59633
Release PR: pending
Criteria: Fixes to new features introduced in the most recent minor release (namely `inference_mode`)

[2021-06-08 17:03] tugsbayasgalan commented on #59621
@SplitInfinity do you know what might have went wrong here? Seems like it is failing for cleaning up the graph. The assert is coming from check_value method in LintImpl.

[2021-06-08 17:04] #41266 closed

[2021-06-08 17:19] ngimel commented on #14884
Closing due to age

[2021-06-08 17:19] #14884 closed

[2021-06-08 17:21] #14829 closed

[2021-06-08 17:33] analyticsbot opened #59640 "Converting DetectoRS based model to ONNX: RuntimeError: "unfolded2d_copy" not implemented for 'Half'"
## 🐛 Bug

**Describe the bug**
A clear and concise description of what the bug is.

I trained a model with detectors config and coco dataset. The inference works fine on the trained model but when I convert the model to ONNX it gives me error. This [page](https://mmdetection.readthedocs.io/en/latest/tutorials/pytorch2onnx.html#list-of-supported-models-exportable-to-onnx) doesn't mention detectors

[2021-06-08 17:36] ezyang commented on #54332
@ydaiming Sorry about the delay. I have a suspicion that the difference has to do with what modules Python is picking up (because the test directory lives in the same directory as the torch directory, and this can make a difference in sys.path).

Some questions, because I haven't tried to repro yet:

1. Is `test_linalg` still being omitted from one run but not the other? I checked on a development

[2021-06-08 17:48] mrshenli commented on #59363
You mean the CUDA ops that compute the loss are pending? That should be fine, ProcessGroup will let the communication stream wait for the current stream before launching allreduce kernels.

[2021-06-08 17:53] sayakpaul commented on #59363
I mean will it account for correct epoch-wise loss calculation in the code I modified [here](https://github.com/pytorch/pytorch/issues/59363#issuecomment-856830441)?

[2021-06-08 17:54] ilanschnell commented on #49405
I just installed PyTorch 1.8.0 from conda-forge (on MacOS, Python 3.8 / 3.9) and don't see any problems.  For both Python versions, I did `otool -L libtorch_global_deps.dylib` and got:
[code]
The open mp library is installed via the `llvm-openmp` dependency:
[code]
I don't see anything linking to `libiomp5.dylib` (which is also part of `llvm-openmp`).
Am I missing something?

[2021-06-08 17:56] mrshenli commented on #59363
Oh I see. I mis-read the code. If it's once per epoch (instead of per iteration), then there is no perf concerns at all.

[2021-06-08 17:57] rgommers commented on #49405
@ilanschnell this will be from the `pytorch` channel (i.e. the official packages, as recommended on https://pytorch.org/get-started/) rather than `conda-forge`.

[2021-06-08 18:00] sayakpaul commented on #59363
Got it now. Thank for being so patient with my questions :-)

[2021-06-08 18:25] BounharAbdelaziz commented on #42785
Hi,
Same issue here, tried different opsets but in vain...

No fix has been released yet ?

[2021-06-08 18:42] jbschlosser opened #59645 "type() does not work with meta tensors"
## 🐛 Bug

[code]
[code]

## Expected behavior

`type()` should return something like `"torch.MetaTensor"` instead of crashing.

## Environment

[code]

[2021-06-08 18:47] shubhambhokare1 commented on #42785
The PR #59644 should add support for chunk (with dynamic chunk values) in opset 11.

Currently the PT-ONNX exporter has support for chunk operator (opset 9) onwards but for cases with constant chunk values.
For example,
'''torch.chunk(x, 3, dim=1)'''
is exported correctly as prim_ConstantChunk operator

Now, as in the issue's case, the value of chunk maybe dynamic, for example,
'''torch.chunk(x, x

[2021-06-08 18:59] ezyang commented on #14560
Extra trouble: we accept `pin_memory` boolean parameter on all factory functions; need to make this a device.

[2021-06-08 19:01] ezyang commented on #59645
After looking into what `Tensor.type()` is supposed to do I don't think this is high priority. You get a legacy string and it doesn't work half the time.

[2021-06-08 19:02] ejguan commented on #59512
Thanks for providing detailed information about your use case.

Just want to make sure you understand that the following code is working because `TensorDataset` supports slicing or list of indexes as argument for `__getitem__`. And, this behavior may not be expected for other `Dataset` classes.
[code]
If your real DataSet doesn't support them, you may encounter the issue that slicing or indexing b

[2021-06-08 19:03] ezyang commented on #59645
In fact I'm inclined to not fix this at all

[2021-06-08 19:08] cccclai commented on #59551
Looks like you are using the interpreter in [this tutorial](https://pytorch.org/tutorials/prototype/lite_interpreter.html). To generate a model compatible with this interpreter, the process is:

[code]

Let me know if it works :)

[2021-06-08 19:12] jbschlosser commented on #59645
Sounds good. FYI I ran into this crash when doing:
[code]

instead of the correct form:
[code]

since the error message includes the string returned by `type()`.

[2021-06-08 19:16] JacopoMangiavacchi commented on #47688
Hey @migueldeicaza it's my understanding both (a) and (b) only support inferencing, not training, but apple officially announced a Metal TF PluggableDevice so apparently this is the way to go, other than mlcompute.

[2021-06-08 19:22] BounharAbdelaziz commented on #42785
Hi,

I fixed it following this : https://github.com/jantic/DeOldify/issues/166#issue-505566455

[2021-06-08 19:53] ezyang commented on #59645
specifically:

[code]

Think it would probably OK to make this start reporting `torch.Tensor` universally.

[2021-06-08 19:57] ezyang opened #59652 "pin_memory mutates its input but this is not reflected in JIT schema"
[code]

implies this is side effect free

[2021-06-08 19:59] pcicales commented on #1355
This issue should not be closed.

[2021-06-08 20:05] ilanschnell commented on #49405
Thanks @rgommers.  Having installed `pytorch` (actually creating new environments) from the `pytorch` channel, I see:
[code]
So this is fine.  However, I see two `libiomp5.dylib`.  One is part of `pytorch` in `site-packages/torch/lib`, and the other is part of `llvm-openmp`.  This isn't really a problem, but I'm wondering `pytorch` is packaging it's own `libiomp5.dylib`.

[2021-06-08 20:38] ezyang opened #59661 "ci: all build is failing due to dirty test/.pytorch-test-times"
https://app.circleci.com/pipelines/github/pytorch/pytorch/332409/workflows/62a61d5c-c826-48bc-ada0-b0104878fe3a/jobs/13969663

[code]

[2021-06-08 20:39] #56463 closed

[2021-06-08 20:45] Varal7 opened #59662 "Building without LAPACK causes tests to fail"
## 🐛 Bug

When pytorch is built without LAPACK, tests that require LAPACK will fail.
We have the `skipIfNoLapack` that allows for skipping those tests but not all tests are decorated.

## To Reproduce

Steps to reproduce the behavior:

1. Uninstall LAPACK
1. Build from source
1. `python test/run_test.py`

For example, from `test_ops.py`, the following tests fail:

[code]

## Expected behavior

Tes

[2021-06-08 21:02] ezyang commented on #59049
After a lot of hemming and hawing, I've decided that I'm going to just override `shallow_copy_and_detach` to call into Python and delegate the entirety of the function to Python, "as if" it were a detach call.

[2021-06-08 21:03] #53398 closed

[2021-06-08 21:08] axitkhurana commented on #57803
@cometonf what's the pytorch version for conversion and libtorch version on the app that you're using?

[2021-06-08 21:20] #57537 closed

[2021-06-08 21:20] #59248 closed

[2021-06-08 21:27] mrshenli commented on #59548
Hey @Flamefire, just wanna let you know that @andwgu has a generic fix for this error in https://github.com/pytorch/pytorch/pull/59648

[2021-06-08 21:55] SplitInfinity commented on #59621
cc: @garymm @BowenBao

[2021-06-08 22:00] #59584 closed

[2021-06-08 22:02] Dris101 commented on #59629
Agreed. Seems `NestedTensors` are making progress now, though I expect `PaddedSequence` will be with us for a while yet! I think just softening the docs language in the note as you suggest makes sense.

[2021-06-08 22:32] #59614 closed

[2021-06-08 22:44] emcastillo commented on #58839
There seems to be this function [higher.patch.buffer_sync](https://higher.readthedocs.io/en/latest/patch.html#higher.patch.buffer_sync) in higher docs
but looking at the code it seems mostly for internal use. I am not sure if we need explicit support for something like this. since a functional module won't hold parameters in our expected design, right?

[2021-06-08 22:47] #59549 closed

[2021-06-08 22:53] mdlockyer commented on #47702
Another point I'm not seeing made right now is how the future Apple Silicon chips may perform once we see more "pro" level machines such as the larger MBP or the especially the Mac Pro being updated. Right now the M1 is an amazing piece of engineering, but ML on it would certainly fall into the "hobbyist" category. I can see how that would perhaps make the priority for this work a bit lower. Howev

[2021-06-08 23:59] serg06 commented on #25533
I tried this on a 3090, no luck.

I tried this but it seems to freeze somewhere. It never finishes.

[2021-06-09 00:13] cometonf commented on #57803
@axitkhurana For this issue, the versions were
[code]
I resolved this by changing versions of them like [issue#50533](https://github.com/pytorch/pytorch/issues/50533)

However, there was a new issue when I checked with [PyTorchDemoApp](https://github.com/pytorch/android-demo-app/tree/master/PyTorchDemoApp).
I tested two cases,
[code]
[code]

and got this log,
[code]

Do you have any idea?

[2021-06-09 00:20] #4661 closed

[2021-06-09 00:37] rohan-varma opened #59682 "Add a lint rule to recommend TORCH_CHECK(false) over throw std::runtime_error"
## 🚀 Feature
When throwing exceptions in the C++ codebase, we should prefer to use TORCH_CHECK(false, "foo") over throw std::runtime_error("foo") since the former can provide a detailed C++ stacktrace when `TORCH_SHOW_CPP_STACKTRACES=1` is enabled, but the latter will not as it does not go through c10's exception handling logic here: https://github.com/pytorch/pytorch/blob/master/torch/csrc/Except

[2021-06-09 00:37] rohan-varma commented on #59682
cc @driazati

[2021-06-09 01:00] cometonf commented on #50533
@H1Gdev
I followed this way, but facing a runtime issue as mentioned at [#57803](https://github.com/pytorch/pytorch/issues/57803).
If you have any opinion, could you tell me?

[2021-06-09 01:09] javadba commented on #43227
I enabled cuda() and this error occurs using pytorch 1.7.1.  From the long discussion i'm still uncertain what am I supposed to do to deal with this issue.

[2021-06-09 01:11] javadba commented on #43227
One of the last comments was:

Is this required fix documented somewhere at this point

[2021-06-09 01:20] gxyd commented on #58739
@jaiswalshash and @pmeier I wasn't able to make much progress on fixing this issue. @jaiswalshash , please go ahead if you want to take it up.

[2021-06-09 01:22] H1Gdev commented on #57803
@cometonf

Looking at callstack, I think cause is this issue.
https://github.com/pytorch/pytorch/commit/0c3db1cb33cda1de61c754f14e7bfd2c53ea6d07#r51222309

[2021-06-09 02:08] xtxt commented on #59551
I have tried to use 'traced_script_module_optimized._save_for_lite_interpreter("./model_metal.ptl")',  the same errors raise when trying to call "torch::jit::load"method(torch::jit::script::Module _impl = torch::jit::load(filePath.UTF8String);).

But when i use 'ttorch::jit::mobile::Module _impl = torch::jit::_load_for_mobile(filePath.UTF8String);' , the errors miss. But when i run the function '_

[2021-06-09 02:08] rohan-varma commented on #22071
Done by https://github.com/pytorch/pytorch/pull/58224

[2021-06-09 02:08] #22071 closed

[2021-06-09 02:13] jaiswalshash commented on #58739
Sure, will try my best.

[2021-06-09 02:23] huangjundashuaige commented on #59612
Hi @mrshenli , thanks for the advise. Yes, I tried this way but the behavior of such arrangment can not be well controled as expected. Since NCCL stream and new computation stream can not have any dependency in that case, can not really predict whether the NCCL op and computation is executed first(it rely GPU's scheduler to decide and it is related to the shared memory and register occupancy). So

[2021-06-09 02:44] #35379 closed

[2021-06-09 04:29] hwangdeyu commented on #58843
@jbschlosser Could you please help me to take a look this two replies above? thanks!

[2021-06-09 04:59] cccclai commented on #59551
torch::jit::load is the api for PyTorch JIT interpreter. If you are following [this tutorial](https://pytorch.org/tutorials/prototype/lite_interpreter.html), you are using a different interpreter (more efficient in mobile), and the corresponding api is `torch::jit::_load_for_mobile`.  Accordingly, the model need to be generated with `traced_script_module_optimized._save_for_lite_interpreter({path_

[2021-06-09 05:50] xtxt commented on #59551
`traced_script_module_optimized = optimize_for_mobile(traced_script_module")` did't work, it raise the same errors.

I'm following [this tutotial.](https://pytorch.org/tutorials/prototype/ios_gpu_workflow.html)

`USE_PYTORCH_METAL=ON python setup.py install --cmake`

`IOS_ARCH=arm64 USE_PYTORCH_METAL=1 ./scripts/build_ios.sh`

@cccclai

[2021-06-09 06:17] mszhanyi opened #59688 "Confusing Exception when run python setup.py install again on Windows"
## 🐛 Bug

There's exception when rerun `Python Setup.py install ` on Windows

## To Reproduce

1. Run `python setup.py install` to build pytorch source code.
2. there's exception when run `python setup.py install` once more.

see the test PR
Files Changed:
https://github.com/pytorch/pytorch/pull/59618/files
Log:
https://github.com/pytorch/pytorch/pull/59618/checks?check_run_id=2780876706
![image](

[2021-06-09 06:30] wxyhv commented on #2013
@fmassa Hello, you said "For the source code, it was moved to C for efficiency, but you can find the old python implementation here.". Could you tell me where is the C code for view? I want to study how to implement the "view" operation in C.
Dose this cpp file contain the C code for view? aten/src/ATen/native/TensorShape.cpp
Thank you Very much.

[2021-06-09 07:01] bastianhagedorn commented on #49538
@pfeatherstone can you elaborate?

[2021-06-09 07:09] mruberry commented on #59526
Thanks for reporting this issue, @sharvil

[2021-06-09 07:10] mruberry commented on #59524
Hey @denjots, thanks for reporting this issue. Can you provide a short script that shows the issue you're having? Like a few lines of Python?

[2021-06-09 07:11] mruberry commented on #59514
@peterbell10, what are your thoughts?

[2021-06-09 07:12] mruberry commented on #53171
It was probably added because we like to continue deprecations every release, but we didn't have time to review this one. Removing it from the 1.9 milestone makes sense.

[2021-06-09 07:29] Flamefire commented on #59548
I can confirm that applying  #59648 fixes the hang in the `test_step*` tests.

However the other 2 tests are still not addressed, so that PR is only a partial fix for this issue.

[2021-06-09 07:48] pmeier commented on #59200
Fixed in  #59264.

[2021-06-09 07:48] #59200 closed

[2021-06-09 07:52] julien-thierry opened #59690 "Inference ran on new thread leak memory on Android"
## 🐛 Bug

When running a model inference in a new thread, the memory consumption of the application keeps going up at each inference.
When running the same model from the main thread maintains a steady memory consumption.

This only seems to appear on Android, the same code ran on Linux does not seem to have that issue

Of course, after a certain amount of inferences, the OOM killer might start be

[2021-06-09 08:01] JiaRu2016 opened #59692 "cuda streams run sequentially, expected to run parallel"
I'v read the official tutorial here: https://pytorch.org/docs/stable/notes/cuda.html#cuda-streams
and try to use multiple streams to make submodules of my model run in parallel, here is a simplified example:

[code]
It is expected that code under context `s1` and `s2` should run parallel, but my profiling shows that is run sequentially:

![Screen Shot 2021-06-09 at 3 57 40 PM](https://user-images.

[2021-06-09 08:18] seanxcwang opened #59694 "complie with libtorch prebuilt lib failed"
## 🐛 Bug

complie with libtorch prebuilt lib failed

## To Reproduce

Steps to reproduce the behavior:

1. download libtorch form https://download.pytorch.org/libtorch/cpu/libtorch-cxx11-abi-shared-with-deps-1.8.1%2Bcpu.zip
2. cmake .. -DCMAKE_PREFIX_PATH=/data/practice/pytorch/test/libtorch
3. make

Sample code:
[code]
CMakeLists.txt
[code]

## Expected behavior

compile without error

## Environ

[2021-06-09 08:23] seanxcwang commented on #59694
set_property(TARGET example PROPERTY CXX_STANDARD 14)

[2021-06-09 08:23] #59694 closed

[2021-06-09 08:27] SciPioneer commented on #53962
Decided to provide 2 APIs separately, one for creating subgroups of equal size, and the other one is specifying each subgroup by a rank list.

[2021-06-09 08:39] SciPioneer commented on #58467
Closes this bug, since the test is already re-enabled after https://github.com/pytorch/pytorch/pull/58882.

[2021-06-09 08:39] #58467 closed

[2021-06-09 08:46] AndreasHNielsen opened #59698 "Bug report: changing .utils to .hub"
Hi
I was looking at the code from the pretrained models of Resnets.
https://pytorch.org/vision/stable/_modules/torchvision/models/resnet.html
I came across the package loading, importing the load_state_dict_from_url from **.utils**. I believe this should be **.hub**

Documentation below:
https://pytorch.org/docs/stable/_modules/torch/hub.html#load_state_dict_from_url

This might just be a simple c

[2021-06-09 08:51] jarledo commented on #49460
@66maer thanks for sharing your findings! I can confirm I also get a segfault with your example code.

[2021-06-09 09:01] GoingMyWay commented on #23780
Same issue here.

[2021-06-09 09:10] wayi1 opened #59699 "[RFC] Support local SGD and variants for DDP communication optimization"
## 🚀 Feature
Propose a few built-in local SGD algorithms for parameter averaging that can complement the existing DDP communication hook for gradient averaging. Furthermore, we can provide an interface similar to DDP communication hook for OSS users to enable their own model averaging approaches. Another choice is encapsulating model averaging algorithms as optimizers.

## Background

Compared wit

[2021-06-09 09:15] pfeatherstone commented on #49538
I don't have my laptop so I'm gonna assume this works.

'''
def unflatten(x, dim, dim1, dim2):
    x = x.transpose(dim, -1)
    x = x.view(...,dim1,dim2)
    x = x.transpose(dim, -2)
    x = x.transpose(dim+1, -1)
'''

Something like that

[2021-06-09 09:17] pfeatherstone commented on #49538
No that doesn't work.
I used something specific, like unflatten dim 3 of size 255 into 3 and 85.

[2021-06-09 09:19] engrmz commented on #59194
Hi,

In version 2, both x_norm and y_norm are same?

`    x_norm = a.norm(dim=dim, keepdim=True)`
`    y_norm = a.norm(dim=dim, keepdim=True)`

-mz

[2021-06-09 09:39] pfeatherstone commented on #49538
I used something like:

B,C,H,W = x.shape
x = x.view(B,3,-1,H,W)

Then put that in a function with a torch jit decorator. That will be scriptable and ONNX exportable.

[2021-06-09 10:40] lazykyama commented on #55900
I'm not sure if my issue came from the same root cause, but I encountered a similar error.

## Minimal reproduction code

[code]

After simply running the above code, the following error should happen.

[code]

Note that, as far as I investigated:

* As a comment, if a line, `self.second = TestModule(k, s)`, is commented out, there's no error.
* It looks like first If operation returns output Tens

[2021-06-09 11:17] yjegssl commented on #59626
`import easyocr
import torch
reader = easyocr.Reader(['ch_sim`, 'en'], quantize=False, gpu=False)
detector = reader.detector
recognizer = reader.recognizer
H = 640
W = 352
l = 36
image = torch.ones([1,3,H,W)
image = torch.autograd.Variable(image)
img = torch.ones([1, int(max_length+1)]
text = torch.ones([1, int(l)])

scripted_detector = torch.jit.trace(detector, image)
scripted_recognizer = torch.

[2021-06-09 12:07] jbschlosser commented on #58843
Hey @hwangdeyu, to clarify my previous response, you have to do some training on the affine layer parameters within `InstanceNorm2d` / ` BatchNorm2d` for the results to be different. In your example, you never train these parameters, and so they remain at the same default value.

Adding some "training" to your code above demonstrates the difference between the two. Note that even though the two mo

[2021-06-09 12:16] cdeepali commented on #58267
I built PyTorch 1..0-rc2 for CPU  and it worked for me on PowerPC:

The output showed Kineto being configured correctly:

[code]

[2021-06-09 12:36] xtxt commented on #59551
`IOS_ARCH=arm64 USE_PYTORCH_METAL=1 ./scripts/build_ios.sh`

The latter part of the log：

[ 99%] Linking CXX static library ../lib/libtorch_cpu.a
[ 99%] Built target torch_cpu
Scanning dependencies of target torch
[100%] Building CXX object caffe2/CMakeFiles/torch.dir/__/empty.cpp.o
[100%] Linking CXX static library ../lib/libtorch.a
warning: /Applications/Xcode.app/Contents/Developer/Toolchains/X

[2021-06-09 13:41] vkkhare commented on #29814
The error still persists in torch 1.8. As a work around, I removed the `.detach()` call from `functional.sgd`

[code]

[2021-06-09 14:28] malfet commented on #50153
Following [gist](https://gist.github.com/malfet/8ed6e5906a6ec7b9c6d779b27aa49a0e) reproduces the problem with static linking..... Whole-library linking or extracting cudnn_static.a and specifying all objects inside of it explicitly fixes the problem

[2021-06-09 14:35] ydaiming commented on #54332
I would like to do the experiments you suggest. Two quick questions:
1. To get us on the same page, which version of PyTorch do you suggest me to test on now? I was testing on e.g. 1.8.0, 1.8.1.
2. What's a common way to share the full logs once I have them?

Then, I can properly 1. debug `mpiexec`, 2. move `test/` around, 3. diagnose other things e.g. `test_linalg`.

[2021-06-09 14:58] ezyang opened #59705 "Failed to substitute string at {fn}:{lineno}; did you use triple quotes? on Python 3.8 and later"
Steps to reproduce:
1. Build PyTorch on Python 3.8
2. Update a multiline expect test and try to use EXPECTTEST_ACCEPT=1

It doesn't work

[code]

It looks like the reason is that Python is now reporting the error to be on the BEGINNING of the line rather than the end of the line, oopsies.

cc @ezyang @gchanan @zou3519 @bdhirsh @jbschlosser @anjali411 @Varal7

[2021-06-09 15:00] ezyang commented on #59705
https://bugs.python.org/issue37647 seems related

[2021-06-09 15:06] JVedant opened #59706 "CudaFloatType is at version 3 and the expected version is 2."
## 🐛 Bug

When I try to train a Adversarial neural network with the nightly build of Pytorch, I get the error saying "CUDAFloatType [3]] is at version 3; expected version 2 instead"

## To Reproduce

Steps to reproduce the behavior:

1. Training any neural network with the below mentioned configuration throws the same error

`terminate called after throwing an instance of 'std::runtime_error'
what

[2021-06-09 15:09] rajeshpandit107 opened #59707 "Using a new multiplication method in pytorch"
How can we use a new float multiplication method  in conv2d functions in forward and backward passes ? Please reply

[2021-06-09 15:13] AndreaBrg commented on #58846
We have been working on the simplification code, you can find it here: https://github.com/EIDOSlab/simplify.  The core code can be found in the "simplify" module, which takes care of the three steps mentioned above.

Also, here is a writeup for the maths involved in the process https://github.com/EIDOSlab/simplify/blob/master/simplification.pdf, this should make following the code flow easier.

In

[2021-06-09 15:18] albanD commented on #58846
Thanks for the materials, let me sync with the other maintainers and get back to you!

[2021-06-09 16:10] malfet commented on #56333
PyTorch should be available for M1 on both PyPI and conda-forge

[2021-06-09 16:51] cbalioglu commented on #59548
@andwgu do you mind taking a look at this?

[2021-06-09 16:51] jithunnair-amd commented on #59421
@ngimel @albanD Will someone from PyTorch side be looking into this discrepancy wrt the Inf input to torch.nn.Dropout?

[2021-06-09 16:56] andwgu commented on #59548
I dug into it a bit and discussed with Shen. The proposed resolution for the assertion failures is described in detail in this [PR](https://github.com/pytorch/pytorch/pull/59713).
In short, the [new partitioning algorithm for ZeRO](https://github.com/pytorch/pytorch/commit/ea1de87f4b98d4b3d9c70fae66bdac3e9aa4f3b7) fixes the assertion failures, but the dependency on the algorithm is not ideal -- fo

[2021-06-09 17:05] vadimkantorov opened #59718 "[docs] symeig: unclear format of eigenvectors"
https://pytorch.org/docs/1.8.1/generated/torch.symeig.html?highlight=symeig#torch.symeig:

It's unclear if eigenvectors are stacked as columns or as rows
[code]

Also the docs use two separate notations: `V`/`e` and `eigenvectors`/`eigenvalues`

cc @brianjo @mruberry @jianyuh @nikitaved @pearu @heitorschueroff @walterddr @IvanYashchuk @xwang233 @Lezcano

[2021-06-09 17:08] cccclai commented on #58518
Sorry for the late notice. The issue was discovered last Thursday. The pr fixes the flakiness when load/save models multiple times for two new features in 1.9 (lite interpreter and torch.package). It will nice to have it in.

[2021-06-09 17:10] vadimkantorov opened #59720 "symeig NaNs in eigenvectors"
It may be expected (maybe if matrix is not very symmetric?), but it should be warned in the docs:
[code]
[symeigbug.pt.zip](https://github.com/pytorch/pytorch/files/6625617/symeigbug.pt.zip)

cc @brianjo @mruberry @jianyuh @nikitaved @pearu @heitorschueroff @walterddr @IvanYashchuk @xwang233 @Lezcano

[2021-06-09 17:29] z-a-f commented on #58846
This is cool stuff. I think we have a similar effort going on right now, but in a little more generic terms (we are also thinking about training time implications).

This is cool stuff, thank you for doing this.

If you want to create a PR -- this is a little tricky. We are adding another package within pytorch (`torch.ao`), which would contain the tools for architecture optimization. However, thi

[2021-06-09 17:34] carlosgmartin commented on #59194
@engrmz Fixed.

[2021-06-09 18:06] ngimel commented on #59421
Given that cuda 11 builds produce expected `nan` results for `inf` inputs, I don't think we'll be digging deep into cuda 10 failures.

[2021-06-09 18:12] ezyang commented on #54332
1. It's nice to know that the bug in question isn't already fixed on master. So master is best.
2. I just make a github gist and put it there

[2021-06-09 18:14] jaideep11061982 commented on #40859
this small code should also help
[code]

[2021-06-09 18:20] rlorigro opened #59723 "Segmentation fault when using CUDA with RNN"
## 🐛 Bug

I get a segfault when trying to use cuda with the GRU module, and `torch.cuda.is_available()` returns true. I ran gdb for more info:

[code]

## To Reproduce

Steps to reproduce the behavior:

1. Initialize all tensors and models with `device='cuda'`

The full code is here:
https://github.com/rlorigro/overlap_analysis/blob/main/scripts/predict_overlap_from_full_alignment.py

## Expected

[2021-06-09 18:25] seemethere opened #59724 "Windows Azure multi-gpu tests are failing in CircleCI"
Logs for the failures look like:
[code]

see: https://app.circleci.com/pipelines/github/pytorch/pytorch/333280/workflows/2ca83025-8806-4ece-82e9-b4cf78ca09d6/jobs/14012483

cc @ezyang @seemethere @malfet @walterddr @pytorch/pytorch-dev-infra @peterjc123 @mszhanyi @skyline75489 @nbcsm

[2021-06-09 18:27] malfet commented on #59724
@seemethere do you mind disabling them in the interim?

[2021-06-09 18:29] seemethere commented on #59724
Done in https://github.com/pytorch/pytorch/pull/59725

[2021-06-09 18:30] samestep commented on #59724
Possibly caused by https://github.com/pytorch/pytorch/pull/58778?

[2021-06-09 18:31] seemethere commented on #59724
I don't think so since the job is triggering, it's failing when attempting to submit a build to azure pipelines

[2021-06-09 18:37] seemethere commented on #59724
Also doesn't appear as though I have access to the build logs to be able to debug this further,

<img width="1080" alt="Screen Shot 2021-06-09 at 11 35 45 AM" src="https://user-images.githubusercontent.com/1700823/121409931-e39b4780-c916-11eb-8ce8-47e11152eca8.png">

[2021-06-09 18:38] #52839 closed

[2021-06-09 18:43] xanderdunn commented on #40581
@bhendrickson Do you have a pseudo-code example of this? Do you combine your gradients by averaging them, backdrop on one of your models, and then copy those updated weights from that model to the other models on the other GPUs?

[2021-06-09 19:11] andwgu commented on #59548
Reopening this until the [second PR](https://github.com/pytorch/pytorch/pull/59713) merges in since technically this issue is not fully resolved yet.

Also, @Flamefire, feel free to let me know if there are still assertion failures with larger world sizes (i.e. 5+) after using the new partitioning algorithm.

[2021-06-09 19:21] #57538 closed

[2021-06-09 19:49] jeromerony opened #59730 "Quantized conv2d with dilation and groups much slower than float32"
## 🐛 Bug

Convolutions with dilation and groups are 1~2 orders of magnitude slower than their float32 counterparts.

With the following, script, the float32 conv2d runs in ~25ms while the quantized conv2d runs in ~725ms.

## Code To Reproduce

[code]

## Expected behavior

Quantized convolutions should 2~4 times faster.

## Environment

[code]
## Additional context

CPU Model: Ryzen 7 3700X

[2021-06-09 20:37] SplitInfinity opened #59737 "[package] Reintroduce save_source_file API to PackageExporter"
#57340 removed the `save_source_file` on `PackageExporter`; we want to add it back.

cc @ezyang

[2021-06-09 20:40] BowenBao commented on #44299
@wangzbo @HenryDashwood @AlfredWGA Thank you for reporting and providing detailed repros. A quick look over the example, I agree with @xin-w8023 and my guess is that when exporting BART decoder with `past` provided, the `encoder_hidden_states` is then unused in the graph (passed in to attention layer as `key_value_states`, and neglected due to `past_key_value` being provided) https://github.com/hu

[2021-06-09 20:41] BowenBao commented on #44299
cc @jiafatom for the second issue on shape mismatch.

[2021-06-09 20:48] BowenBao commented on #49001
Tried running locally and it seems support was added and model converted successfully. Closing.

[2021-06-09 20:48] #49001 closed

[2021-06-09 20:50] ezyang opened #59743 "m.fallback(torch::CppFunction::makeFromBoxedFunction<&my_fallback>) gives bad error message"
The error is you forgot to put () at the end of the makeFromBoxedFunction call. You get this error:

[code]

not very nice

[2021-06-09 20:54] BowenBao commented on #52432
Thanks for reporting, will take a look.

[2021-06-09 21:03] heitorschueroff commented on #59707
Please, post your question in our discussion forum https://discuss.pytorch.org/ and one of our team members will help you there. We reserve GitHub Issues for bugs and feature requests. Closing this issue.

[2021-06-09 21:03] #59707 closed

[2021-06-09 21:07] Lezcano commented on #59718
This is corrected in master. This function has been superseded by `torch.linalg.eigh` which handles properly the return. The docs were also updated.

https://pytorch.org/docs/master/generated/torch.linalg.eigh.html?highlight=eigh#torch.linalg.eigh

[2021-06-09 21:09] BowenBao commented on #34127
@analyticsbot this issue was closed due to it was not (yet) related to ONNX export, but due to missing fp16 impl for unfolded2d_copy. I will follow up on the new issue you opened.

[2021-06-09 21:10] ngimel commented on #59706
The error message is saying that you modified a variable needed for the autograd, that's most likely a user error. If you think that it's not, please provide a reproducible example.

[2021-06-09 21:10] rohan-varma opened #59745 "[c10d] Work objects should have a general operator<<"
## 🚀 Feature
`ProcessGroupNCCL`'s `WorkNCCL` object has a useful operator<< (https://github.com/pytorch/pytorch/blob/master/torch/lib/c10d/ProcessGroupNCCL.cpp#L198) which developers can use for enhanced debugging when there are hangs/crashes and it is useful to print out what sort of collective communication was going on.

However, ProcessGroupGloo's work objects and the general `ProcessGroup::Wo

[2021-06-09 21:14] seemethere opened #59746 "Kineto leaks file descriptors during normal `processName()` call"
CUDA 10.2 builds on GHA started to fail earlier day after https://github.com/pytorch/pytorch/commit/0897df18a314f7a74dce9fcd065d6d7e4cab47d7 was merged in.

The error it fails with looks like ([logs](https://github.com/pytorch/pytorch/runs/2786062691?check_suite_focus=true)):
[code]

cc @ezyang @gchanan @zou3519 @bdhirsh @jbschlosser @anjali411 @Varal7 @seemethere @malfet @walterddr @pytorch/pytor

[2021-06-09 21:17] seemethere commented on #59746
Temporary fix here (to disable `foreach` tests for GHA):

https://github.com/pytorch/pytorch/pull/59748

[2021-06-09 21:24] malfet commented on #59746
Would increasing file limit inside GHA container work?

[2021-06-09 21:27] BowenBao commented on #59640
Based on https://github.com/open-mmlab/mmdetection/issues/2951 and https://github.com/pytorch/pytorch/issues/23377, it is confirmed that PyTorch will not support `unfolded2d_copy` implementation for `Half` on cpu, and is recommended to run model on cuda. Are you certain the successful inference run on the trained model was under the same setting as the export call? From the error log it still show

[2021-06-09 21:37] mcarilli opened #59750 "On Rocm, hasPrimaryContext wrongly identifies what devices have been used"
**Whoever ends up closing this issue, please ping me or @ngimel to handle the "TODO: Remove ROCM-specific behavior..." in torch/csrc/autograd/engine.cpp.**

----------------------------------------

This isn't a bug in Pytorch's usage of rocm or cuda, but a quirk of rocm's context tracking that affects Pytorch.

The symptoms are pretty simple. On "actual cuda" we see correct behavior:
[code]

On R

[2021-06-09 21:38] malfet commented on #59746
Should be fixed by https://github.com/pytorch/kineto/pull/281 and module update

[2021-06-09 21:39] ngimel commented on #59746
I reverted the PR a bit earlier, but I'd like to reland it. Let me know what the appropriate fix should be - skipping the test or increasing the file limit. Also, do you have an idea why there would be multiple files open?
The tests themselves complain
[code]
but pass.

[2021-06-09 21:40] #52278 closed

[2021-06-09 21:48] AlfredWGA commented on #44878
@ThomasRetornaz @david-macleod I just found a workaround if you're interested. You can take out each element in this `Tuple[List[Tensor]]`, feed them to the model separately, and put them back into Tuple of Lists inside the models `forward` method. Look at [https://github.com/Ki6an/fastT5/blob/master/fastT5/onnx_exporter.py#L119](https://github.com/Ki6an/fastT5/blob/master/fastT5/onnx_exporter.py#

[2021-06-09 22:00] BowenBao commented on #55900
hi @lazykyama could you try with latest pytorch nightly? I tried your repro locally and it works. I think latest master resolved the issue with improved shape inferencing.

[2021-06-09 22:00] malfet commented on #59746
@ngimel appropriate fix would be to update kineto not to leak file descriptors and after that everything will be fine.

[2021-06-09 22:01] BowenBao commented on #55900
@anszom please give latest pytorch nightly a try if the issue is resolved.

[2021-06-09 22:02] AlfredWGA commented on #44299
@BowenBao Thank you very much for the explanation! It makes sense that unused Tensors are optimized. Also I'm wondering when will this new ONNX standard be released? Now I'm facing issues that Decoder for Seq2Seq models cannot be directly exported, due to the fact that ONNX do not accept `None` variable and optional inputs. Once the new feature is on that'll be a great help.

[2021-06-09 22:06] BowenBao commented on #44878
Thank you @AlfredWGA for sharing the workaround.

Extending `Sequence` to cover `Sequence[Sequence[Tensor]]` is under work in ONNX. For now please try workarounds of unpacking the outer Tuple.

[2021-06-09 22:07] bhendrickson commented on #40581
@xanderdunn Sorta. I actually have two models on the first device, the main model that I broadcast weights from, accumulate gradients to, and run the optimizer on -- and then also the first replica model is on there. The replicas are where I do do the forward/backward passes to make gradients in parallel on all devices. I think having a single model on the first device would be essentially the sam

[2021-06-09 22:12] amathews-amd commented on #59750
- Internal ticket: https://ontrack-internal.amd.com/browse/SWDEV-290298
- Found during PR : https://github.com/pytorch/pytorch/pull/57833
- Advised @mcarilli  to do aggressive stashing on HIP at https://github.com/pytorch/pytorch/pull/57833/files#diff-c66dfeac2a2da1867233047ec413c7e625644c672d7b38b8ec982f5605923c64R1245
- Need to fix aggressive stashing once internal ticket is resolved or new func

[2021-06-09 22:12] BowenBao commented on #39067
@anubane #52855 is in master a6a811f23aa0eed68022b06591c6021215d0dee4, could you give a try with pytorch nightly?

[2021-06-09 22:15] BowenBao commented on #25533
Will take a look on the GPU export side.

For CPU export, i tried above repro and can complete successfully. @serg06 could you provide more context how CPU export freezes?

[2021-06-09 22:22] #52770 closed

[2021-06-09 22:22] #56734 closed

[2021-06-09 22:29] BowenBao commented on #59458
hi @anubane, the dummy value 1 for `C` was created due to `C` is not an optional input in `Gemm` spec in opset 9. If you try opset 11 and above, it should not generate the dummy value.

That said, the onnx graph is totally legal under the spec. It rather appears to be an issue with glow.

[2021-06-09 22:35] BowenBao commented on #59179
Thanks for reporting. Will take a look.

[2021-06-09 22:41] Haichao-Zhang opened #59756 "[Bug] cuda version of torch.randperm(n) generate all zero/negative/large positive values for large n"
## 🐛 Bug

Description:
cuda version of torch.randperm(n) seems to have a bug when n is a large number, sometimes generating all zeros, or negative or very large values that cause out of bound kernel error, when running together with other codes.

- However, when running cuda version of torch.randperm(n) alone, no issue observed.
- when running cpu version of torch.randperm(n) either alone or embed

[2021-06-09 23:06] sseveran commented on #58093
I have noticed the same thing when implementing a Neural Tensor Network. If I use torch.nn.Bilinear it is very slow and appears to be CPU bound. (I can provide additional profiler data if interested but I think its already captured here). If I implement the operation myself I get a roughly 3.5x speedup. This is on a GPU.

[2021-06-09 23:31] serg06 commented on #25533
@BowenBao I'll try my best, I'm not very proficient with PyTorch though.

I'm working with [this Tacotron2 repo](https://github.com/NVIDIA/DeepLearningExamples/tree/master/PyTorch/SpeechSynthesis/Tacotron2) and trying to export their [model](https://github.com/NVIDIA/DeepLearningExamples/blob/778583481bb2e83c0ef4699c1fdfc6347da3c6a3/PyTorch/SpeechSynthesis/Tacotron2/tacotron2/model.py#L598).

When

[2021-06-10 00:11] rohan-varma commented on #59699
Thanks for the great proposal! Just had a couple of basic questions:

1. If the user elects to use parameter averaging will we automatically disable allreduce of grads in the backwards pass, or will the user have to explicitly disable this?
2. Is there any opportunity to overlap communication needed to average parameters with, for example, the next forward pass? For example, we could kick off aver

[2021-06-10 00:37] cpuhrsch commented on #59493
cc @mthrok @carolineechen @vincentqb for visibility

[2021-06-10 00:45] mrshenli commented on #57158
Hey @anj-s, I tried to isolate the source of the delay, and here is what I got.

[code]

The no-compute script function looks like this

[code]

Fo the with-compute version, I just added a few `grads += grad`, as that's what's needed for the PS. I removed the Tensor allocation and `torch.cat`, because seems like `return (bucket_id, grads)` is sufficient.

Based on the above numbers, there are two

[2021-06-10 01:05] blackCmd commented on #59607
It is only libtorch 1.6.0 cpu version

[2021-06-10 01:07] wangkuiyi opened #59765 "Support new target type Byte in NLLLoss"
Only a `LongTensor` may be used as the `target` parameter of `nn.NLLLoss.forward`. Runtime errors would occur while using `Char/Byte/ShortTensor`, as shown by the following code snippet.

[code]

I really want to store pre-computed targets as byte tensors to save memory. Is it possible to have `NLLLoss` accept additional types of targets?

I am requesting byte-typed target because adding a type wo

[2021-06-10 01:32] rwightman commented on #39853
Since this is is activate again, I've been chatting (complaining) a bit to @ptrblck about the speed of GELU in PyTorch w/ CUDA. In float32 networks using GELU vs (native) SiLU are comparable. However, w/ AMP enabled, GELU is quite a bit slower. AMP autocasts the op to float32 so that's a big part of the slowdown. I've done some measurements on pure float16 and there seems to be some pytorch versio

[2021-06-10 01:35] ezyang opened #59768 "DISABLED test_backward_rref_multi (__main__.TensorPipeDistAutogradTestWithSpawn)"
https://github.com/pytorch/pytorch/pull/59709/checks?check_run_id=2785451019

[code]

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @rohan-varma @gqchen @aazzolini @osalpekar @jiayisuse @SciPioneer @H-Huang @jjlilley @mrzzd @agolynski @cbalioglu @gcramer23

[2021-06-10 01:37] hendrycks commented on #39853
The other approximations are not, but slightly fine-tuning would probably fix and slight degradation.

Looks like a native GELU approximation would be really useful. Thanks for sharing those numbers!

[2021-06-10 01:40] lazykyama commented on #55900
Thanks for the update, @BowenBao! I tried to test today's nightly version, `1.10.0.dev20210609+cu111`, and it works for me, too. At least my error, the issue is resolved.

[2021-06-10 03:38] jiafatom commented on #44299
@wangzbo As discussed above, the missing input is probably due to that it is not used in the model. For dynamic axes not working part, could you please share nl2sql model script or the small repro for that?

[2021-06-10 03:48] #59746 closed

[2021-06-10 05:36] #53962 closed

[2021-06-10 06:36] XuyangPan opened #59777 "AttributeError: 'Comment' object has no attribute '_post'"
## ❓ Questions and Help

I'm using PyTorch 1.6.0 and Python 3.8.3 on Linux/Ubuntu.

I want to read trained model using the command torch.load('*.pth'),  but got the following error :
AttributeError: 'Comment' object has no attribute '_post'

![image](https://user-images.githubusercontent.com/39898699/121476406-33ead600-c9f9-11eb-835f-9a2ec4bf4cb0.png)

cc @mruberry

[2021-06-10 06:42] asi1024 commented on #51284
@heitorschueroff Thank you for your comment! It sounds good. I will work on it!

[2021-06-10 07:13] SciPioneer commented on #59699
DDP will use intra-machine subgroups created by the [API](https://github.com/pytorch/pytorch/pull/59111) I proposed to do allreduce, so no more global communication in the backward pass, only intra-machine allreduce. No need to disable allreduce at all.

This can be the next step. The further optimization is aligned with other optimizers that involve communications, such as ZeRO optimizer.

Good i

[2021-06-10 07:24] Flamefire commented on #59548
@andwgu Thank you. The test is currently limited to 4 ranks/GPUs at https://github.com/pytorch/pytorch/blob/a4e0368c992d3321fc487069e5cd49adb4f83cbb/test/distributed/optim/test_zero_redundancy_optimizer.py#L211

But after removing that limitation I was able to run all those tests with 3, 5 and 8 GPUs.

Hence this is fixed.

[2021-06-10 07:24] #59548 closed

[2021-06-10 07:36] harishsdev commented on #59627
@jbschlosser  Thanks for your reply,I  found so many functions  which doesn't have example codes  like this,If we add them ,very usefull for novice programmers who is exploring pytorch

Here i am adding few functions missing examples in documentation,please let me know can i raise PR for this

TORCH.FULL_LIKE
TORCH.DEQUANTIZE
TORCH.CHUNK
TORCH.ROW_STACK
TORCH.SCATTER
TORCH.SCATTER_ADD
TORCH.STACK

[2021-06-10 07:45] harishsdev commented on #59627
In my opinion its very useful for novice programmers to have examples for every function in documentation, can i raise PR for missing examples in documentation

[2021-06-10 07:46] rishika2110 opened #59778 "CUDA Memory Error"
`CUDA out of memory. Tried to allocate 2.26 GiB (GPU 0; 6.00 GiB total capacity; 781.59 MiB already allocated; 3.03 GiB free; 1.24 GiB reserved in total by PyTorch) `
I am unable to understand this error. If memory is available then why is PyTorch not allocating it? :sweat_smile:

[2021-06-10 07:52] IvanYashchuk commented on #59720
Hey, Vadim! Thank you for reporting this issue! Your matrix seems to be symmetric, but the problem with the input is that the diagonal entries are all zero, with a few elements that are small, and many off-diagonal elements that are not zero are very close to be zero, they are smaller than `torch.finfo(torch.float32).eps`.
PyTorch calls LAPACK's `syevd` function internally and I think it should wo

[2021-06-10 07:58] anszom commented on #55900
@BowenBao I've installed pytorch nightly but I'm encountering #35669 instead so I can't test it.

[2021-06-10 08:01] IvanYashchuk opened #59779 "The error message for batched inputs to torch.linalg.eigh is wrong"
## 🐛 Bug

While checking the issue https://github.com/pytorch/pytorch/issues/59720 it was noticed that the error message of `torch.linalg.eigh` is not correct for batched inputs and differs from the single input case.

## To Reproduce

[code]

## Expected behavior

An error is raised if the `info` error code of underlying LAPACK call is non-zero.

INTEGER.
If info = 0, the execution is successful.

[2021-06-10 08:09] romil611 commented on #35516
i'm facing the issue. On running the following command:
` trtexec --onnx=efficientdet-d4.onnx --batch=1 --saveEngine=efficientdet-d4.trt --verbose`
i get
`[06/10/2021-13:06:03] [V] [TRT] ModelImporter.cpp:125: Pad_53 [Pad] inputs: [x.1 -> (1, 3, 1024, 1024)], [1529 -> (-1)], [1530 -> ()],
ERROR: builtin_op_importers.cpp:2179 In function importPad:
[8] Assertion failed: inputs.at(1).is_weights()
[0

[2021-06-10 08:20] ShraddhaAlyne opened #59780 "Issues with dynamic axes while exporting BART summarization model to ONNX"
## 🐛 Bug

## To Reproduce

### Export BART to Onnx
[code]

### Inference
[code]

## Steps to reproduce the behavior:

1.  Export the model using the above code
2. Run Inference as shown above
3. Inference on any input other than of shape (1, 512) throws the following error
<img width="929" alt="Screenshot 2021-06-10 at 10 06 35" src="https://user-images.githubusercontent.com/50197616/121488643-8c0

[2021-06-10 08:35] trancelestial commented on #20655
Any new insights into this issue?

[2021-06-10 09:05] chg0901 commented on #2830
I find my codes still have the problem. I tried my best to range the modules as the examples shown in the above.

Is anyone can give some hints?

[code]

[2021-06-10 09:11] ukemamaster commented on #17209
@manuyavuz Did you solve this issue?
I am having a similar kind of problem with `{method 'cuda' of 'torch._C._TensorBase' objects}` being the bottleneck in my code. I am using DDP but it happens even without DDP (on single GPU).
Could you please share your solution, if you solved it?

[2021-06-10 09:19] seanxcwang opened #59781 "export torchscript module to onnx failed"
## 🐛 Bug

export torchscript module to onnx failed

## To Reproduce

Steps to reproduce the behavior:

1. tranning res18 base model with cifar10
1. qat aware trainning
1. export to torchscript module

[code]

## Expected behavior

get onnx model without error

## Environment

python 3.6.8
torch 1.8.1+cu111

## Additional context
[code]
======================
at "/pytorch/torch/csrc/jit/passes/onnx

[2021-06-10 09:28] wangzbo commented on #44299
Sorry for the late response, it has been a long time and I am not working on this model now. My understanding is the same as xin-w8023 and BowenBao's opinions. These inputs has been treated as constant inputs and ignored due to the optimization when converting to the ONNX format. The exported onnx model can still be used to inference and you do not have to specify the missing input variables.  For

[2021-06-10 09:44] AndreaBrg commented on #58846
Hi, thanks for considering our material interesting.

We are interested, if possible, to help with the development of this feature and eventualy draft a PR.
Is there a specific branch we should look for the torch.ao package? Currently on the master branch it looks more focused on quantizations instead of pruning.

Also we've seen that https://dev-discuss.pytorch.org/ exists, would it be better to

[2021-06-10 09:45] Lezcano commented on #58093
It might be interesting to implement a path for this function when the batch size is small. This setting is already found in `spectral_normalization` for example, where we have are working with (non-batched) vectors and matrices

[2021-06-10 10:01] lazykyama commented on #55900
@BowenBao Sorry to bother you. I confirmed my issue was resolved, but it's only on the minimal repro code. On the actual code, the issue happened again. Please let me know if I should file another issue. (Or, continuing a discussion here. Either is fine for me.)

Steps for reproduction are below.

[code]

After running `repro.py`, the following logs appeared. I guess several other issues could exi

[2021-06-10 10:15] ktaming commented on #56721
Hi there,

Not mean to be urging, but I'm wondering when do you expect PyTorch for CUDA 11.3 will be released? Thanks a lot for your working really hard during the pandemic!

Thanks,

[2021-06-10 10:30] vadimkantorov commented on #59720
Somehow no warnings got printed for this input. I think PyTorch docs should mention all these details (even if it eats the warnings), many new users lack knowledge on constraints on various solvers and their limitations wrt ill-conditioned matrices

[2021-06-10 10:31] vadimkantorov commented on #59720
E.g. maybe have a section on ill-conditioned input behavior and what types of input are considered ill-conditioned for this particular function

[2021-06-10 10:33] vadimkantorov commented on #59720
Also, I think producing NaNs by default is a not very good behavior by default (although there is the same problem in ctc_loss). A good way may be `eigh(..., error_out = False)` (or sth like that), especially if checking for this does not add a perf hit...

[2021-06-10 10:36] Lezcano commented on #59720
That is completely true @vadimkantorov !  These iterative algorithms can fail when for matrices with very small eigengap (\min_{i,j} \lambda_i - \lambda_j). We should definitely report that in the documentation.

[2021-06-10 10:40] lezcano opened #59782 "Report in the docs when linalg algorithms may fail to converge"
We should report in the documentation when iterative algorithms like those used for spectral decompositions (`svd`, `eigh`, `eig`...) and others may fail to converge.

In the case of spectral decompositions, this may happen when the spectral gap (\min_{i != j} \lambda_i - \lambda_j) is too small.

See https://github.com/pytorch/pytorch/issues/59720#issuecomment-858398544

cc @brianjo @mruberry @ji

[2021-06-10 10:45] Eleven1Liu opened #59783 "[Feature Request] Deterministic implementation for AdaptiveMaxpool1d."
## 🚀 Feature
Provide a deterministic implementation for `AdaptiveMaxpool1d`.

## Motivation
We want to do experiments on XML-CNN that need to ensure the reproducibility of the results. But when we use `nn.AdaptiveMaxPool1d`,  it comes to an error saying that we can open an issue here to prioritize this operation.
[code]

[2021-06-10 10:46] vadimkantorov commented on #59720
And maybe report that failure corresponds to silent production of NaNs, otherwise "failure to converge" or "fail" is quite vague for non-specialist in numerical linear algebra...

[2021-06-10 10:48] vadimkantorov commented on #59720
A typical usecase is to produce some laplacian, and then do symeig, and with bad hyper-params it's very easy to get an ill-conditioned laplacian, to mentioning these in documentation should be welcomed :)

[2021-06-10 10:50] vadimkantorov commented on #59718
There is still mismatch in notation. The above uses \Lambda and Q, and the return arguments use \Lambda and V

[2021-06-10 10:51] vadimkantorov commented on #59718
And it still does not specify explicitly if eigenvectors are stored as columns or as rows. One can deduce it from the formula, but it'd be better and more user-friendly to say it directly

[2021-06-10 10:54] Lezcano commented on #59718
It can indeed be deduced from the formula, and it is standard in maths to represent these vectors as columns (this is just a change of basis after all). As such, I think it is not needed to repeat ourselves in the documentation.

And thank you for reporting the mismatch. I will correct that just now.

[2021-06-10 11:04] vadimkantorov commented on #59718
Well, the formula is also not batched, so there is no direct correspondence anyway - maybe you'd want to mention that explicitly as well

[2021-06-10 11:06] vadimkantorov commented on #59718
Maybe having some relevant code example there would be helpful, there you may demonstrate that eigenvectors are stored as columns

[2021-06-10 11:07] vadimkantorov commented on #59718
E.g. make a laplacian of image based on w_ij = exp(||RGB_i - RGB_j||^2/sigma^2), then take symmetric laplacian and plot its top eigenvector - a very useful example

[2021-06-10 11:08] Lezcano commented on #59718
In the end I added the extra information (https://github.com/pytorch/pytorch/pull/59784).

About the formula being non-batched, we went that way because it's just easier to write in mathematical notation. We note however after the mathematical explanation that:

[2021-06-10 11:08] EchoIR commented on #52584
@vkuzo hello, I try doing this in eval mode, but i got different results between the origin model and the fused model, WHY????

[2021-06-10 11:17] Lezcano opened #59785 "Efficient mm / mv operations on transposed / conjugated matrices / batches of matrices"
At the moment, when we have a non-contiguous matrix of batch of matrices, we instantiate a contiguous copy of it before passing it to BLAS. We can do better as BLAS / LAPACK have flags for the cases when a matrix is transposed / conjugate transposed (see [here](https://www.netlib.org/lapack/explore-html/d6/d30/group__single__blas__level2_gafc92361b74c6d41c7e5afa0aa5d13ec9.html#gafc92361b74c6d41c7e

[2021-06-10 11:18] vadimkantorov commented on #59720
Maybe even having tests for specific degenerate-cases would be good, and then one can even link to the test source code from the documentation

[2021-06-10 11:44] pmeier opened #59786 "Support negative step sizes for slicing"
The [array API specification stipulates](https://data-apis.org/array-api/latest/API_specification/indexing.html#slice-syntax) that the slicing syntax needs to be equivalent to Pythons [`slice()`](https://docs.python.org/3/library/functions.html#slice) syntax. That includes negative step sizes that PyTorch does not support:

[code]

[code]

## Additional context

This was already proposed in #229,

[2021-06-10 11:48] pmeier opened #59787 "Remove support for multiple ellipses in slicing"
The [array API specification stipulates](https://data-apis.org/array-api/latest/API_specification/indexing.html#multi-axis-indexing) that the slice for nd tensors shall contain at most one [ellipsis](https://docs.python.org/3/library/constants.html#Ellipsis) (`...`). PyTorch allows an arbitrary number:

[code]

Not only is this behavior undocumented, it also makes no sense: what dimension would th

[2021-06-10 11:57] rgommers commented on #59786
Hmm that's a little surprising. Perhaps it's easier to implement now that there's no more TH?

Note that this is not advanced indexing (as the label says now), simple Python lists and tuples support it as well:
[code]

[2021-06-10 12:46] qasimali000 commented on #45769
Hey, Did you resolve this issue?

[2021-06-10 13:01] alin256 commented on #45769
Somewhat: I got rid of that PC :)

[2021-06-10 13:24] vadimkantorov commented on #59785
Isn't similar information contained in memory_format? (and in stateless case it can be deduced from strides, right?)

[2021-06-10 13:26] JVedant commented on #59706
Thanks for the reply, I changed the optimizer from Adam to RMSProp and it worked as expected. (Not sure where the problem was)

[2021-06-10 13:52] addisonklinke commented on #50417
The same issue can occur if your dataloader returns tensors which are not float32. For instance, I loaded images with OpenCV resulting in uint8 dtype and applied normalization within the model's forward. You need an explicit `.float()` cast _before_ the tensors enter the model graph in order for QAT to work

[2021-06-10 13:55] #59706 closed

[2021-06-10 14:23] Lezcano commented on #59785
What do you mean by "similar information"? And yes, `is_fortran_contiguous` would just swap the last two strides and call `geometry_is_contiguous`.

[2021-06-10 14:30] mrshenli opened #59792 "DISABLED test_ddp_dist_autograd_local_vs_remote (__main__.ProcessGroupDdpComparisonTestWithSpawn)"
https://app.circleci.com/pipelines/github/pytorch/pytorch/333902/workflows/a5fc7b35-61a3-4f11-a06c-b243b3741796/jobs/14036193/steps

[code]

[code]

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @rohan-varma @gqchen @aazzolini @osalpekar @jiayisuse @agolynski @SciPioneer @H-Huang @mrzzd @cbalioglu @gcramer23

[2021-06-10 14:32] vadimkantorov commented on #59785
I mean, I thought that memory_format was sufficient for deducing transposed/not-transposed calls...

[2021-06-10 14:32] mrshenli opened #59793 "DISABLED test_dist_autograd_sync_streams (__main__.TensorPipeTensorPipeCudaDistAutogradTestWithSpawn)"
https://app.circleci.com/pipelines/github/pytorch/pytorch/333666/workflows/83f83244-bbfb-4acc-91f8-29fe1a19d6d7/jobs/14028695/steps

[code]

[code]

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @rohan-varma @gqchen @aazzolini @osalpekar @jiayisuse @agolynski @SciPioneer @H-Huang @mrzzd @cbalioglu @gcramer23

[2021-06-10 14:35] mrshenli opened #59794 "DISABLED test_backward_rref_nested (__main__.TensorPipeDistAutogradTestWithSpawn)"
https://app.circleci.com/pipelines/github/pytorch/pytorch/333990/workflows/e14e5809-c30d-452d-b4db-f88643749354/jobs/14041353/steps

[code]

[code]

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @rohan-varma @gqchen @aazzolini @osalpekar @jiayisuse @SciPioneer @H-Huang @jjlilley @mrzzd @agolynski @cbalioglu @gcramer23

[2021-06-10 14:37] mrshenli opened #59795 "DISABLED test_rref_to_here_synchronization2 (__main__.TensorPipeTensorPipeAgentCudaRpcTestWithSpawn)"
https://app.circleci.com/pipelines/github/pytorch/pytorch/333908/workflows/6871910a-1965-4bbd-98d3-ab789e820fca/jobs/14036897/steps

[code]

[code]

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @rohan-varma @gqchen @aazzolini @osalpekar @jiayisuse @agolynski @SciPioneer @H-Huang @mrzzd @cbalioglu @gcramer23

[2021-06-10 14:43] mrshenli opened #59796 "DISABLED test_ddp_comparison_uneven_inputs (__main__.ProcessGroupDdpComparisonTestWithSpawn)"
https://app.circleci.com/pipelines/github/pytorch/pytorch/333542/workflows/d747e3b8-0023-4952-8f3d-a126536843bf/jobs/14023171/steps

[code]

[code]

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @rohan-varma @gqchen @aazzolini @osalpekar @jiayisuse @agolynski @SciPioneer @H-Huang @mrzzd @cbalioglu @gcramer23

[2021-06-10 14:43] SsnL commented on #59786
It'll be weird unless we make it a view (rather than a copy)

[2021-06-10 14:44] mrshenli opened #59797 "TCPStoreTest.testWatchKeyCallbackWithPrefix Stuck in CI"
https://app.circleci.com/pipelines/github/pytorch/pytorch/333644/workflows/97fe57bb-16ac-4234-a86d-88b62153a2c3/jobs/14027443

[code]

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @rohan-varma @gqchen @aazzolini @osalpekar @jiayisuse @agolynski @SciPioneer @H-Huang @mrzzd @cbalioglu @gcramer23

[2021-06-10 14:44] mrshenli commented on #59797
cc @H-Huang

[2021-06-10 14:46] mrshenli opened #59798 "DISABLED test_backward_rref (__main__.TensorPipeDistAutogradTestWithSpawn)"
https://app.circleci.com/pipelines/github/pytorch/pytorch/333382/workflows/1c7a602f-7ee9-48a2-ae22-c13c21ef21e1/jobs/14017608/steps

[code]

[code]

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @rohan-varma @gqchen @aazzolini @osalpekar @jiayisuse @SciPioneer @H-Huang @jjlilley @mrzzd @agolynski @cbalioglu @gcramer23

[2021-06-10 15:29] rgommers commented on #45499
I investigated the state some more, a bit of history in NumPy on `nonzero` returning a tuple added in https://github.com/data-apis/array-api/pull/23#issuecomment-858715317. I also searched the NumPy mailing list and issue trackers of NumPy, CuPy, JAX, TensorFlow and Dask, and asked a few maintainers of other libraries. There were no real complaints/issues about `nonzero` returning a tuple.

There

[2021-06-10 15:42] vkuzo commented on #52584
hi @EchoIR , please post your question on https://discuss.pytorch.org/c/quantization/17 with a repro, that would make it easier for folks to help out.

[2021-06-10 15:43] IvanYashchuk commented on #59785
In code that works with LAPACK, it's checked whether the last two dimensions are stored in column-major order. The real Fortran-contiguous array would have the first two dimensions for matrices and the last dimensions for batches (see Julia).
There is no memory_format implemented for neither Fortran-contiguity nor C-contiguous batch + F-contiguous matrices. That's something to improve.

[2021-06-10 15:46] H-B-L opened #59800 "To copy construct from a tensor, it is recommended to use sourceTensor.clone().detach()...."
Adding following weighted MSE to my code:

def weighted_mse(y, pred, x, mask, weight=10):

    x = torch.reshape(x[:,0,:,:],(-1,1,600,600))
    mask = torch.reshape(mask,(-1,1,600,600))

    num_und_pix = torch.sum(x!=0)
    num_dam_pix = torch.sum(mask==1)

    out_und = ((((y-pred)**2)*x).sum()/num_und_pix )
    out_dam = ((((y-pred)**2)*mask).sum()/num_dam_pix)*weight

    loss = out_und + out_

[2021-06-10 15:50] swilson314 commented on #40208
I'm taking a stab at this, but wonder if I can get a hint about where to hook the code?

Basically, rather than the gradient being accumulated, I want to grab the individual gradients (for my problem, one per case presented to the model) so I can populate the jacobian. I thought I found the appropriate place when I discovered autograd_meta->grad_accumulator_ and AccumulateGrad::apply(), but this o

[2021-06-10 15:58] vadimkantorov commented on #59785
I also have a feeling that memory_format semantics is fusing two different things: 1) actual memory layout, 2) desire for getting output with the same layout

It also seems that the enum (as opposed to a check that would return a bit-field-like result) doesn't scale, hence necessity for channels_last_3d.

Also, there may be use for your new check for `conv_tbc` op (as opposed to channels_last conv

[2021-06-10 16:22] #59800 closed

[2021-06-10 16:36] janeyx99 commented on #56721
Hi! The last piece missing would be the conda packages, which currently aren't available as there is no suitable `cudatoolkit11.3` yet on conda. CUDA 11.3 is set to be released with PyTorch 1.10, but you can test out the `pip` wheels here: https://download.pytorch.org/whl/nightly/cu113/torch_nightly.html and try `libtorch` binaries by downloading them here: https://download.pytorch.org/libtorch/ni

[2021-06-10 16:50] mathmax12 opened #59803 "adamw param.mul_(1 - lr * weight_decay) RuntimeError: result type ComplexFloat can't be cast to the desired output type Float"
I use the adamw as the optimizer and after the training run a day I got this problem:
I use the adamw as the optimizer and after the training run a day I got this problem:
[code]
[epoch][s/s_per_e/gs]: [99][304/319/31899], lr: 0.000001000796, loss: 0.251922130585
[epoch][s/s_per_e/gs]: [99][305/319/31900], lr: 0.000001000000, loss: 0.198185890913
Traceback (most recent call last):
File "train_main

[2021-06-10 17:03] vkuzo commented on #46749
Proposed more specific solution on handling reduce_range:

1. we create a boolean flag named something like `unsafe_to_run_on_fbgemm` (naming not final, and we need to confirm on which specific architectures this is unsafe).  Inside the quantization convert function, we set this flag when necessary and attach it to the packed weights, in a backwards compatible way (default to False).  Note: the fl

[2021-06-10 17:08] ajread4 commented on #38090
I am getting the same, libtorch_cpu.so error as above. The error occurs when trying to run:

from torch_geometric.data import Data

The output of "python -m torch.utils.collect_env" is :

Collecting environment information...
PyTorch version: 1.8.0
Is debug build: False
CUDA used to build PyTorch: Could not collect
ROCM used to build PyTorch: N/A

OS: CentOS Linux 7 (Core) (x86_64)
GCC version: (G

[2021-06-10 17:13] ailzhang commented on #59698
Hey @AndreasHNielsen this is actually correct due to https://github.com/pytorch/vision/blob/master/torchvision/models/utils.py. :D I believe torchvision added this wrapper to work with older version of pytorch. But it's definitely a good idea to get rid of it since the API was moved to hub 2 years ago so it's safe to remove i think. :D
cc: @fmassa

[2021-06-10 18:28] tugsbayasgalan opened #59806 "Context manager for torch.jit.ignore is not covered by test coverage"
## 🐛 Bug

Due to current implementation of torch.jit.ignore context manager, test coverage tests skip the coverage for torch.jit.ignore. We should fix this in the future.

[2021-06-10 18:28] tugsbayasgalan commented on #59806
cc: janeyx99

[2021-06-10 18:35] bdhirsh commented on #59737
Maybe we should add a `module: torch package` GitHub label?

[2021-06-10 19:02] #53171 closed

[2021-06-10 19:23] #59688 closed

[2021-06-10 19:36] driazati opened #59815 "[clang-tidy] Host binaries in S3"
clang-tidy is the last big missing piece of #55847, to enable it we need a way for devs to easily grab the specific version of clang-tidy we use in CI (with our custom checks and all). We could store these binaries in S3 for Linux / Mac once we have the build going and change `make setup_lint` to download and install them.

It'd also be nice for clang-tidy to be a statically built binary just so w

[2021-06-10 19:51] zhouzhuojie opened #59818 "Document all the issue/pr labels, especially for labels that may affect CI and probot"
cc @ezyang @seemethere @malfet @walterddr @pytorch/pytorch-dev-infra

[2021-06-10 20:08] albanD commented on #40208
Hi,

What you want to do is similar to the python version of these functions and use `autograd::grad()` that will return the gradients to you directly.

[2021-06-10 20:24] fehiepsi opened #59822 "TransformedDistribution's log_prob gradient is inconsistent w.r.t. cache_size"
## 🐛 Bug

Currently, when we draw a non-reparameterized sample from TransformedDistribution and evaluate its log probability, we get different results when changing the cache_size of the transform.

## To Reproduce

[code]

## Expected behavior

The result should be agnostic w.r.t. cache_size. It seems to me that the result with `cache_size=0` is correct.

## Environment

 - PyTorch Version: 1.8.1

[2021-06-10 20:34] walterddr opened #59823 "print_regression should handle sharded test properly"
Currently https://github.com/pytorch/pytorch/blob/167477329d3aa035b54642d4a0f6b32af4b6384a/tools/print_test_stats.py#L798 doesnt play well with shard test1/2 because the current logic shifts test cases between the 2 shards.

For example: https://app.circleci.com/pipelines/github/pytorch/pytorch/334115/workflows/73a5a3b1-a045-41ca-b5aa-dea195383383/jobs/14045452
This reports a change of ~4k test ca

[2021-06-10 21:25] Varal7 opened #59828 "In input_buffer.cpp, accumulate uses storage().use_count()"
## 🐛 Bug

In `accumulate` https://github.com/pytorch/pytorch/blob/master/torch/csrc/autograd/input_buffer.cpp#L23, the check whether it is safe to do addition in place uses `var.storage().use_count()`, but we (also?) need to check whether `var.use_count() == 1`.

cc @ezyang @albanD @zou3519 @gqchen @pearu @nikitaved @soulitzer @Lezcano

[2021-06-10 21:26] carlosgmartin commented on #30968
Both `torch.distributions.Categorical` and `torch.multinomial` are slower than a sampler I wrote (see [this numpy issue](https://github.com/numpy/numpy/issues/15201)):

[code]
[code]

Having to repeatedly instantiate a class just to sample from a distribution seems inefficient. Why not add a function like `torch.rand` and `torch.randn` with the fast sampler implemented above? Perhaps `torch.randca

[2021-06-10 21:35] ngimel commented on #59785
Related #51750. In most cases, when blas can handle the transpose, we don't call `contiguous` for mm/mv operations, the exception being some batched operations with multiple batch dimensions (because blas can't handle that out of the box), however, I think we do materialize conjugate inputs where we don't need to. Lapack operations are a different matter, but they do expect fortran contiguous inpu

[2021-06-10 21:44] swilson314 commented on #40208
Ah, I hadn't seen the vmap version of jacobian(), just what I'm looking for. Thanks!!

[2021-06-10 21:51] eqy opened #59829 "Disable cuDNN persistent RNN on A30"
There seems to be an issue (similar to #49534) on A30 due to cuDNN persistent RNN algos depending on specific hardware capabilities. For now, it seems a reasonable approach is to simply tack on another check in RNN.cpp : https://github.com/eqy/pytorch/blob/4a67e884df253d6ab2345e3da474a7469d17ec40/aten/src/ATen/native/cudnn/RNN.cpp.

The long term solution is to wait for cuDNN to implement hardware

[2021-06-10 21:54] ptrblck commented on #59829
A workaround would also be to check the SM count and let other sm_80 devices such as A100 use the persistent RNN algos as:
[code]
This was tested on an A100 directly as well as in "full MIG mode" (which is why the sm_count is checked for >=98).

[2021-06-10 22:02] ngimel commented on #59829
Sure, please submit a PR with the fix!

[2021-06-10 22:11] #59403 closed

[2021-06-10 22:57] z-a-f opened #59835 "[RFC] PyTorch Training and Inference for Sparse Models"
## 🚀 Feature
---

In this doc we are requesting comments for the implementation of the sparsification flow as part of architecture optimization namespace (`torch.ao`)

with: @raghuramank100 @dskhudia @kimishpatel @kazhou

# Motivation

We present a workflow for training/preparing sparse models and mapping them into efficient kernels for fast inference. This workflow aims to be flexible (i.e you ca

[2021-06-10 23:08] bdhirsh commented on #59803
Hi,

Your question would probably be better suited for the pytorch forums (check it out here: https://discuss.pytorch.org). Additionally, you'll want to provide a minimum-repro to make it easier to get help.

[2021-06-10 23:08] #59803 closed

[2021-06-10 23:24] ptrblck commented on #39853
While chatting with @rwightman we've also talked about other approximations such as:
[code]
One concern I've raised was the potential saturation of `erf` for `x <= -4` and `x >= 4`, but I don't know if this would cause issues for commonly used models (and if one approximation would be preferred over the other one).
A potential approach would be to use an argument such as `approximate=True/False` (

[2021-06-10 23:42] hendrycks commented on #39853
My assumption is that the erf is relatively slow. An approximate flag
sounds easiest and is what tensorflow does. Tensorflow uses a tanh
approximation, but I don't know which approximation is best. I assume the
sigmoid approximation is cheapest, but I don't know if another
approximation is even better with respect to accuracy and memory usage.

On Thu, Jun 10, 2021, 4:24 PM ptrblck ***@***.***> wr

[2021-06-10 23:48] SplitInfinity commented on #59737
Forgot to mark as triaged, sorry for the trouble everyone.

[2021-06-10 23:56] #50153 closed

[2021-06-11 00:06] mcarilli commented on #47028
Looking over old issues I forgot I was assigned, I saw this one and realized https://github.com/pytorch/pytorch/pull/57833 probably fixes it (one of the cases https://github.com/pytorch/pytorch/pull/57833 wants to fix, the snippet under "Because of the inconsistency, in some cases it's hard to be safe:" in the original submission https://github.com/pytorch/pytorch/pull/54227, looks like it matches

[2021-06-11 00:20] #42218 closed

[2021-06-11 00:26] ptrblck commented on #59692
The workload you are using might be too small (such that the CPU won't be able to run ahead while the matmul was launched in one stream on the GPU and won't be able to launch the second kernel fast enough) and you are also not adding any warmup iterations.
Using a larger workload via:
[code]
shows the overlapping execution in Nsight Systems:
![image](https://user-images.githubusercontent.com/11662

[2021-06-11 00:33] mcarilli opened #59844 "Gradients created out of place with torch.autograd.grad might not properly be assigned leaf streams"
@mruberry @ngimel and I suspect leaf streams aren't properly stashed for gradients created out of place by `torch.autograd.grad`, so ops following `backward()` call might not properly be synced with backward ops that created those gradients (in other words, ops following backward can't use those gradients safely).

I'll investigate and PR a fix if needed, filing so I don't forget.

cc @ezyang @alb

[2021-06-11 00:36] yoshihingis opened #59845 "Mnist did not operate at GPU MODE with libtorch1.8.1+CUDA11.1+RTX3090 in Win10"
## 🐛 Bug

Mnist did not operate at GPU MODE with libtorch1.8.1+CUDA11.1+RTX3090 in Win10

## To Reproduce
Steps to reproduce the behavior:

1.I downloaded libtorch-win-shared-with-deps-1.8.1+cu111.zip and unzipped it.
2. I made the project file with libtorch1.8.1 and CUDA11.1 and Visual Studio2019.
3. I linked libs at additional dependency libs
     c10.lib  ,c10_cuda.lib,torch.lib,torch_cpu.lib,t

[2021-06-11 00:39] mcarilli opened #59846 "Need a test to make sure the autograd engine inserts proper leaf stream syncs for stolen gradients"
If a leaf tensor's `.grad` is None before backward, its AccumulateGrad function may steal a reference to the incoming gradient from whatever backward op produced it (instead of accumulated onto an existing `.grad`). @mruberry @ngimel and I are semi-confident AccumulateGrad functions and the autograd engine insert the right leaf stream syncs (such that ops following backward() can safely immediatel

[2021-06-11 01:07] markrogersjr opened #59854 "Misreported linting messages"
## 🐛 Bug

When running the pylint module on Python code that includes PyTorch functions, there are errors reported suggesting that the `torch` module does not contain said functions when in fact they do.

## To Reproduce

Steps to reproduce the behavior:

1. Install the pylint module via `pip install pylint`
2. Create a Python script containing a PyTorch function such as follows:
[code]
3. Run pyl

[2021-06-11 01:20] beew opened #59855 "pytorch test failed"
Hi,

I built pytorch from source successfully but  running the tests produces these errors
[code]
System is Ubuntu 20.04
python 3.8.10
CUDA 11.0
cudnn 8
GPU Nvidia GTX1070

I built pytorch with these commands

[code]

[2021-06-11 01:20] stas00 opened #59856 "[tutorial] broken link to load_state_dict"
## 📚 Documentation

https://pytorch.org/tutorials/beginner/saving_loading_models.html
links to https://pytorch.org/docs/stable/nn.html?highlight=load_state_dict#torch.nn.Module.load_state_dict
which doesn't exist.

Most likely it should link to
https://pytorch.org/docs/stable/generated/torch.nn.Module.html?highlight=load_state_dict#torch.nn.Module.load_state_dict

Anchors are hard to validate.

Th

[2021-06-11 02:32] malfet commented on #56779
FYI @albanD `test_binary_ops` passes on my M1 after all fixes for test_unary_ops applied to the trunk

[2021-06-11 02:33] mszhanyi opened #59859 "Incremental build isn't supported on Windows in fact."
## 🐛 Bug

Build Source code with ninja is officially supported.
But due to Ninja issue https://github.com/ninja-build/ninja/issues/1976, the incremental build isn't supported on Windows.
So, it rebuilds all code in fact if we rerun ` python setup.py install ` on Windows

So far, we can use sccache to accelerate the rebuild.
With nothing changed, it still takes 7 minutes to rerun` python setup.py i

[2021-06-11 02:52] 7starsea opened #59860 "torch.cumsum at last dimension"
## 🐛 Bug

I am expecting that the results of `torch.cumsum` of the same tensor should be exactly the same for different device (here cpu, cuda).
If the parameter `dim` is not the last dimension, then everything is fine. However, if the parameter `dim` is the last dimension, there is minor difference between the results in cpu and cuda. I know most of the times the minor difference is acceptable, b

[2021-06-11 03:39] swilson314 commented on #40208
It's likely I'm missing something, but I suspect the vectorize method won't be significantly faster on a CPU (vs GPU).

What I don't understand is why it's not possible to get back a list/batch of tensors of the unaccumulated gradients. (This is certainly the model supported with forward(), with its ability to seamlessly handle batched  inputs/output.) I have a homegrown implementation of backprop

[2021-06-11 04:06] kluaspan commented on #2293
When I use parameter server training and set the learning rate to 0, the loss changed a lot between epochs:
epoch 1: loss: 0.9186
epoch 2: loss: 0.8939
epoch 3: loss: 0.9186
epoch 4: loss: 0.9957
epoch 5: loss: 0.9710
but without parameter server, the loss is always loss: 0.6916, and my model is a simple one layer of linear.

[2021-06-11 04:25] wangwang110 opened #59862 "about the weight of BCEloss"
## 📚 Documentation

https://pytorch.org/docs/stable/generated/torch.nn.BCELoss.html#torch.nn.BCELoss

![image](https://user-images.githubusercontent.com/21475557/121630507-de253500-caaf-11eb-95ba-f3930d0328cb.png)

why the weight has a subscript n， different sample has different weight？？

[2021-06-11 04:27] ezyang commented on #59828
Yes I think I agree. Send us a PR.

[2021-06-11 04:32] soulitzer commented on #59828
Looks like there is already one

[2021-06-11 05:14] emcastillo opened #59863 "Sum issues with FP32"
## 🐛 Bug

When doing the sum of a large array of fp32 in the cpu we are prone to have errors due to rounding when using multithreading.

## To Reproduce

Steps to reproduce the behavior:

1. export OMP_NUM_THREADS=2
1. torch.tensor((np.arange(8 * 80 * 80 * 80) - 4 * 80 * 80 * 80 + 0.5)).to( torch.float32)

## Expected behavior

1. Result is `131072.` although it should be 0.

## Environment

 - Py

[2021-06-11 06:15] wei61547-jp opened #59864 "torch.nn.instancenorm, why running_mean/var's shape is C, not N * C"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

[2021-06-11 06:22] wei61547-jp commented on #59864
why running_mean/var's shape is C, not N * C
according to the https://arxiv.org/abs/1607.08022, the shape of mean/var is N *C , but for torch.nn.instancenorm ,
    at::alias(running_mean).copy_(running_mean_.view({ b, c }).mean(0, false));  }
i don't know the operation of "mean(0,false)" is use for ?
https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/Normalization.cpp#L581

[2021-06-11 06:32] xtremesky opened #59865 "Custom build of c++ libtorch for Android program or dynamic so lib does not reduce program or lib size"
## 🐛 Bug

Steps to reproduce the behavior:

1. Get yaml from model
2.  run the following build command:
BUILD_PYTORCH_MOBILE=1 SELECTED_OP_LIST=../android_test/simple.yaml  scripts/build_pytorch_android.sh armeabi-v7a
3. We try different yamls and not custom build and check the lib sizes
 not custom build
    19822270 Mar 24 09:55 libXNNPACK.a
    2755518 Mar 24 09:54 libc10.a
       7090 Mar 24 0

[2021-06-11 06:37] EchoIR commented on #52584
好了，折叠有问题~感谢 @vkuzo

[2021-06-11 07:15] Feywell opened #59866 "pytorch1.6 can not use torch.jit.load() to load model which save in pytorch1.7"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. use torch.jit.save() a pt model in pytorch1.7 (which model use ConvTranspose2d)
2. use torch.jit.load() the model.

The erro messages:

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out the checklis

[2021-06-11 07:49] pmeier opened #59867 "Bitwise shifts should retain the same dtype as the first input"
The array API specification stipulates that [`bitwise_left_shift`](https://data-apis.org/array-api/latest/API_specification/elementwise_functions.html#id29) and [`bitwise_left_shift`](https://data-apis.org/array-api/latest/API_specification/elementwise_functions.html#id35) (which don't exist yet (see #58742) but their magics `__lshift__` and `__rshift__` do) do not participate in the default type

[2021-06-11 07:52] pmeier opened #59868 "Python scalars should be promoted to the same `dtype` as the respective tensor"
The [array API specification stipulates](https://data-apis.org/array-api/latest/API_specification/type_promotion.html#mixing-arrays-with-python-scalars) that for binary operations involving a tensor and a Python scalar, the scalar needs to be converted to the same `dtype` as the tensor before the operation is performed. PyTorch casts the scalar to a tensor based on its `dtype` and afterwards perfo

[2021-06-11 08:15] asmeurer commented on #58743
@rgommers can you add me?

[2021-06-11 08:17] pmeier commented on #24422
@asmeurer I've added you to the `module: python array api` as per request in https://github.com/pytorch/pytorch/issues/58743#issuecomment-859377579.

[2021-06-11 08:32] skyline75489 commented on #59845
Have you tried use the library with CMake? There's a `CMakeLists.txt` right at the example mnist page you posted.

[2021-06-11 08:36] mszhanyi commented on #59845
@yoshihingis please refer https://github.com/pytorch/pytorch/issues/54131#issuecomment-800904255 if you are using visual studio to construct your project. The link option has changed since cuda11.1.
It won't be an issue if you could use CMake

[2021-06-11 08:43] ShraddhaAlyne commented on #59780
Using pytorch version 1.8 and opset 13 solved the issue for me.. Thanks :)

[2021-06-11 08:43] #59780 closed

[2021-06-11 10:07] datumbox opened #59869 "Conda MD5 mismatch on nightlies"
## 🐛 Bug

The last couple of days, we've been facing problems on the TorchVision CI and we traced back the problem to a mismatch on the md5 signatures on the conda package of pytorch.

Here are a few examples:
- [binary_linux_conda_py3.8_cu111](https://app.circleci.com/pipelines/github/pytorch/vision/8972/workflows/4a5847b7-069d-4033-811e-f2d755ee7f8f/jobs/653859)
- [unittest_windows_cpu_py3.7](ht

[2021-06-11 12:13] Nrohlable commented on #11296
I'm not able to resolve the same issue in my case:

line_10 --> x = F.avg_pool2d(x, kernel_size=(1, V))
line_11 --> c = x.size(1)
line_12 --> t = x.size(2)
 line_13--> x = x.view((N, M, c, t)).mean(dim=1).view((N, c, t))

Currently it throws error on line_13 saying the same thing i.e,
TypeError: avg_pool1d(): argument 'kernel_size' must be tuple of ints, not Tensor

I have tried various approaches

[2021-06-11 12:25] JaheimLee opened #59870 "How to export a model with nn.Module in for loop to onnx?"
Bellow is a demo code:
[code]
How to expot it to onnx? I need the fc Layer in for loop. Script function seems not work.
Thanks!!!

cc @garymm @BowenBao @neginraoof

[2021-06-11 13:09] leofang commented on #58743
+1

[2021-06-11 13:29] pmeier commented on #24422
@leofang I've added you to the `module: python array api` as per request in https://github.com/pytorch/pytorch/issues/58743#issuecomment-859570534.

[2021-06-11 13:48] pengwa opened #59872 ""Address already in use" when migrating to use elastic launch"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. Use Megatron-LM to train a gpt2 model with 2 gpus. Here is my command:

[code]

1. Using earlier PyTorch, it could run successfully.
2. But with a PyTorch of commit (f46014f9abc7fad0dfd9a46de8444e74f868f4c3) it throw this error:

## Expected behavior

The same distributed training command should work even after the torch.distributed.l

[2021-06-11 14:00] albanD commented on #59828
Yes this is already fixing this: https://github.com/pytorch/pytorch/pull/59817

[2021-06-11 14:10] albanD commented on #40208
You do reduce the number of backward calls you do as well as the number of framework calls so it does make a difference. Especially if your non-batched ops are small.

What do you mean by "unaccumulated gradient" here?

[2021-06-11 14:15] albanD commented on #59783
Given the error message, I think the 1d version actually calls into the 2d version. So the code for the 2d version would need to be updated.

[2021-06-11 15:15] FangMath commented on #59530
@tugsbayasgalan Any updates? Thanks!

[2021-06-11 15:18] #59828 closed

[2021-06-11 15:56] ezyang opened #59875 "[ROCm] test_gather_stress_cuda is flaky"
[code]

https://ci.pytorch.org/jenkins/job/pytorch-builds/job/pytorch-linux-bionic-rocm4.2-py3.6-test1/1860/console

[2021-06-11 16:09] swilson314 commented on #40208
In the code below, Experiments is a batch of training inputs. The result in Params is what I’m calling the accumulated gradient, but what I need to compute is the gradient per experiment.

	pTorchModel->zero_grad();
	auto Gradient = torch::ones(Experiments.sizes());
	Experiments.backward(Gradient);
	auto Params = pTorchModel->parameters();

The two methods below produce the desired gradient per ex

[2021-06-11 16:18] dreiss commented on #46749
This part sounds good.  Regarding naming, is it possible to implement this in such a way that the name never gets serialized?  (This should be trivial for the packed weights serialized format.  Not sure if it needs to be named in the state_dict).  That way, we wouldn't need to think about a great name since we can always fix it later.

What about checking in the deserialize/prepack function, so yo

[2021-06-11 16:34] #50621 closed

[2021-06-11 16:46] malfet commented on #58518
Master PR: #58287, #59721, #59744 and #59802
Release PR: https://github.com/pytorch/pytorch/pull/59873
Criteria: Fixes cuDNN performance on A100

[2021-06-11 16:48] addisonklinke commented on #40759
PyTorch Lightning has a `QuantizationAwareTraining` [callback](https://pytorch-lightning.readthedocs.io/en/stable/extensions/generated/pytorch_lightning.callbacks.QuantizationAwareTraining.html#pytorch_lightning.callbacks.QuantizationAwareTraining) which automatically adds quant/dequant attributes and then uses a decorator to wrap these around the user's forward implementation

[code]

Because qua

[2021-06-11 16:54] garymm commented on #59870
You'll need to use torch.jit.script to preserve the control flow.

Please provide the error message when doing something like:

[code]

[2021-06-11 16:54] garymm commented on #52261
#59160 removed raw export type.

[2021-06-11 16:54] #52261 closed

[2021-06-11 17:01] zhouzhuojie opened #59879 "Figure out why the clang-tidy job in lint.yml failed to login ghcr.io occasionally"
Example

![image](https://user-images.githubusercontent.com/658840/121723988-0f940580-ca9c-11eb-9c8d-1a15a8460516.png)

cc @ezyang @gchanan @zou3519 @bdhirsh @jbschlosser @anjali411 @Varal7 @seemethere @malfet @walterddr @pytorch/pytorch-dev-infra

[2021-06-11 17:06] mruberry commented on #59765
cc @jbschlosser @thomasjpfan

Ideally this should be ported to ATen if that's not too much extra work, otherwise adding this feature in THCNN is OK

[2021-06-11 17:07] bdhirsh commented on #59879
if it's helpful, link to the failed run: https://github.com/pytorch/pytorch/pull/59115/checks?check_run_id=2803504577

[2021-06-11 17:31] ngimel commented on #59783
What is the output size for your adaptive pooling layer?

[2021-06-11 17:32] vkuzo commented on #46749
thanks.  Yeah, I'm currently structuring this into three parts:
1. persist the information that executing a layer is unsafe in certain conditions (the boolean flag)
2. if we are in unsafe conditions and we see a layer which has the flag set, throw an error (or a warning, etc)
3. during runtime, attempt to not get into (2), so we don't have to throw the error/warning

Looks like we have alignment o

[2021-06-11 17:45] praneethratna commented on #58739
Hi , I'm new to open source contributing and this issue seemed a bit interesting to me , I have given a glance in the previous explaination by pmeier and can i work on this ?

[2021-06-11 17:47] logan-spear opened #59883 "matmul causing cuDNN error: CUDNN_STATUS_INTERNAL_ERROR at future, unrelated Conv2d"
## 🐛 Bug

Performing a matmul and then separately performing a Conv2d (which does not use any data from the matmul) is causing a `RuntimeError: cuDNN error: CUDNN_STATUS_INTERNAL_ERROR`, among other errors (depending on batch size and dimension, can also get `RuntimeError: CUDA error: CUBLAS_STATUS_EXECUTION_FAILED when calling cublasSgemmStridedBatched( handle, opa, opb, m, n, k, &alpha, a, lda,

[2021-06-11 17:56] ezyang opened #59885 "Expose findDanglingImpls to Python"
https://github.com/pytorch/pytorch/pull/46484/ is cool but it is not accessible from Python, which means you can't easily use it to test if backend extensions have dangling impls. A way to call it from Python would help a bit. Put the binding in torch/csrc/utils/python_dispatch.cpp Ideally it would be easy to get the (1) name of dangling impls and (2) filename/lineno where the dangling impl occurr

[2021-06-11 17:56] ezyang commented on #59885
cc @bdhirsh, maybe this is good bootcamp task

[2021-06-11 17:57] seemethere commented on #59879
Maybe it'd be better to just move these to S3?

S3 for us has proven to be the most reliable

[2021-06-11 18:04] ngimel commented on #52783
`torch.norm` is updated to follow numpy behavior, filling with -inf when reducing over empty dimension with negative p.

[2021-06-11 18:04] #52783 closed

[2021-06-11 18:05] albanD commented on #39853
In the timing above, it seems also that amp is computing the approximate version in half precision while the original is not.
Do you see the same results after updating amp's custom list of ops that can run in half precision?

[2021-06-11 18:09] mruberry commented on #58739
Sure; anyone can work on any issue.

[2021-06-11 18:11] ngimel commented on #59860
This is expected, cuda and cpu are using different algorithms to compute cumsum.

[2021-06-11 18:11] #59860 closed

[2021-06-11 18:11] #59829 closed

[2021-06-11 18:15] driazati commented on #59879
If we move lint to our runners in EC2 logging/running from ECR should be straightforward right? Along with @1ntEgr8 we're trying to get a static build of clang-tidy working (and stored in S3, see #59815), so maybe we could use that instead of the docker image

[2021-06-11 18:16] thomasjpfan commented on #24610
@esqu1 Would you be okay with me working on this migration so we can push https://github.com/pytorch/pytorch/issues/59765 forward?

[2021-06-11 18:17] xkszltl opened #59887 "CMake failed to find existing Python lib in master"
## 🐛 Bug

This is a master only issue.
v1.8.1 is fine.

CMake reported python lib not found (python interpreter is found):
[code]

<img width="957" alt="image" src="https://user-images.githubusercontent.com/5203025/121731566-b5d71e00-cb23-11eb-9019-a838dc21d12e.png">

This may have something to do with re-running config phase.
We have several `cmake ... -GNinja` and `cmake --build . --target rebui

[2021-06-11 18:22] praneethratna commented on #58739
Could you assign me to this issue? I'll start working on it

[2021-06-11 18:24] SplitInfinity commented on #58518
Master PR: Various
Release PR: #59866
Criteria: Documentation for new feature in this release

[2021-06-11 18:31] vadimkantorov commented on #11959
With all the loss variants, I guess we need a good summary page for finding the right function name, given a formula :)

[2021-06-11 18:36] xkszltl commented on #59887
Here's a list of python related cached var after the first run:
[code]

[2021-06-11 18:36] xkszltl commented on #59887
This can be related: https://github.com/pytorch/pytorch/issues/43030

[2021-06-11 18:44] mruberry commented on #58739
You can just start working on it.

[2021-06-11 18:45] xuzhao9 commented on #56419
The PR is a real regression, but it shouldn't be as large as 10% on any reasonable size of dataset.
I am closing this because we can't reproduce the 10% regression on a larger data input. We treat this as a false-positive because our current dataset is over small and is too sensitive to small regressions.

[2021-06-11 18:45] #56419 closed

[2021-06-11 18:54] adamtupper opened #59890 "Inconsistent CUDA errors using PyTorch Docker image"
## 🐛 Bug

I have been developing using Docker and PyTorch (for easy deployment) and I have been encountering inconsistent CUDA errors, namely:

[code]

What has been difficult is that I haven't been able to identify a pattern to the errors, occasionally there are none at all. As such, I'm not sure whether this is a configuration issue or a bug (and where that bug might lie). I've tried to see whet

[2021-06-11 19:14] adamtupper commented on #59890
I think adding `--ipc=host` to the Docker run command (I missed this originally) and not running the container in quick succession has fixed (or reduced the occurrence rate) of the errors. I will close this issue soon if this proves to be the case.

[2021-06-11 19:41] adamtupper commented on #59890
This was not the case, even with `--ipc=host` the issue still exists.

[2021-06-11 21:26] lsspear commented on #59883
In the course of some other stuff I was trying out, I came up with a script which, to my understanding, should be computing the exact same value twice, using the `@` operator to perform `torch.matmul`, and yet the outputs don't consistently match when run on GPU:
[code]

When I run this from the command line, I get the following output:

[code]

If I run this on torch v1.7.1 and cuda 10.1, the out

[2021-06-11 21:27] albanD opened #59896 "Autograd engine current graph_task should be in the TLSState"
The current graph task [here](https://github.com/pytorch/pytorch/blob/e41bc31eb2b66b15c586d2c1c26eaba9c35480b0/torch/csrc/autograd/engine.cpp#L88-L92) should actually be in the TLSState to be properly propagated if the backward ops actually do threading.

It would need to be specially handled for the engine threads like grad_mode to ensure they don't conflict.

[2021-06-11 21:30] zhouzhuojie commented on #59815
when we run clang-tidy locally, instead of the static binary, can we just use docker run and mount a volume of the current code instead? Looks like that can be even closer to what the CI is running

[2021-06-11 21:31] esqu1 commented on #24610
@thomasjpfan sure, feel free to reassign

[2021-06-11 21:33] zhouzhuojie commented on #59879
ghcr gives better public access, and it should be natively supported from github action, though from this issue I'm not sure how the login permission kicks in.

ECR or S3 requires either we open the public access or constraining the access to who has the aws api token.
Docker hub has a free tier docker pull rate limiting.

[2021-06-11 21:33] seemethere commented on #59879
Somewhat straightforward, we'd still have to have the auth step to do the actual log in since the EC2 runners don't automatically do that, but maybe they should?

[2021-06-11 21:34] cbalioglu commented on #59823
@walterddr is this issue specific to distributed tests?

[2021-06-11 21:36] zhouzhuojie commented on #55847
I don't see docker mentioned here, can we just local run the same docker image the CI uses for lint? E.g. the `clang-tidy` image https://github.com/orgs/pytorch/packages/container/package/cilint-clang-tidy

[2021-06-11 21:47] seemethere commented on #59869
I haven't personally seen this before but it does seem a bit concerning.

Judging based on the runs from the past couple of days looks like the binary builds workflow was getting triggered twice (maybe related to https://github.com/pytorch/pytorch/pull/58778) in rapid succession which could explain why the binaries uploaded may be different since they were technically uploaded over each other in q

[2021-06-11 21:51] zhouzhuojie commented on #59855
Can you try checkout master and see if it reproduces the error?

[2021-06-11 21:58] walterddr commented on #59823
they are specific to any CI jobs that get split into `*_test1` and `*_test2`.
such as:
https://app.circleci.com/pipelines/github/pytorch/pytorch/334115/workflows/73a5a3b1-a045-41ca-b5aa-dea195383383/jobs/14045452
vs
https://app.circleci.com/pipelines/github/pytorch/pytorch/334115/workflows/73a5a3b1-a045-41ca-b5aa-dea195383383/jobs/14045453

[2021-06-11 22:37] driazati commented on #55847
docker is a no-go IMO since it isn’t supported on FB infra (dev servers) which a lot of PyTorch devs use

[2021-06-11 23:10] aphedges commented on #36066
@embray, thanks for your code in <https://github.com/pytorch/pytorch/issues/36066#issuecomment-746092519>! I made some changes for robustness, given that it crashed in my GPU-less installation, as well as some more minor improvements. Here is my modified code:

[code]

[2021-06-11 23:19] axitkhurana commented on #57803
Hi @cometonf, sorry for the trouble, glad you were able to figure out the torch versions. We recently switched to the lite interpreter or nightlies, so @IvanKobzarev suggested the following change:

[code]

Hope this helps!

[2021-06-11 23:20] Hadrien-Cornier commented on #40497
I have the same problem of NaN losses when using 16bit mixed precision that goes away if I turn off the 16bit precision training. I am training a WGAN with gradient penalty but the part of my loss function that causes the NAN to appear is, very suprisingly, simply the mean of the output of the critic network and not the gradient penalty or the other loss elements that I have.

[2021-06-12 00:24] gmagogsfm commented on #59866
Hi Feywell,

This is a known issue that has been fixed in 1.9. Unfortunately, the fix cannot be backported to 1.6 or 1.7. Please upgrade PyTorch to resolve this issue.

[2021-06-12 00:24] #59866 closed

[2021-06-12 00:38] Nicholasjoseph1994 opened #59901 "Full Backward Hooks get applied even when grad is disabled"
## 🐛 Bug

When full_backward_hooks are registered, they are applied to the modules even in the case of torch.no_grad being disabled. This leads to an error here:
[code]

[code]
## To Reproduce

Steps to reproduce the behavior:
Add a full_backward_hook to a torch module
Run it with `@torch.no_grad`

## Expected behavior
Nothing should happen with no_grad enabled because there is no backward pass, b

[2021-06-12 00:39] xuzhao9 opened #59902 "TorchBench v0 score regresses 4% between 20210603 and 20210608"
Begin commit:
- f87aa231
End commit:
- 77dde35

Affected tests:
- test_eval[BERT_pytorch-cuda-eager]
- test_eval[BERT_pytorch-cuda-jit]
- test_eval[dlrm-cpu-eager]
- test_eval[fastNLP-cpu-eager]
- test_eval[fastNLP-cpu-jit]
- test_eval[fastNLP-cuda-jit]
- test_eval[pytorch_struct-cuda-eager]
- test_eval[pytorch_struct-cuda-jit]
- test_train[dlrm-cpu-eager]

Bisection job is running: https://github

[2021-06-12 01:05] Mohamed9555 opened #59904 "OSError: [WinError 1455] The paging file is too small for this operation to complete. Error loading "C:\Users\Mohamed\anaconda3\envs\3days\lib\site-packages\torch\lib\caffe2_module_test_dynamic.dll" or one of its dependencies."
it was working when I was trying to run on cpu after installing cuda It doesn't work on cpu or gpu and gives me this error.
Environment
PyTorch Version (e.g., 1.0): master
OS (e.g., Linux): Windows 10
How you installed PyTorch (conda, pip, source): source
Python version: 3.8
CUDA/cuDNN version: 11.3
GPU models and configuration:
Any other relevant information: VS 2017
![Screenshot (391)](https://u

[2021-06-12 01:22] skyline75489 commented on #59904
What is the size of your memory & paging file? The error message is pretty clear.

[2021-06-12 01:24] erfaneshrati commented on #26276
`pip3 install nvidia-pyindex` helped me resolve this issue.

[2021-06-12 01:29] #59904 closed

[2021-06-12 01:39] eellison opened #59905 "[JIT] batch operators in training/inference"
## 🚀 Feature

Batching operators is a well known optimization that can lead to large speed ups in inference and training. https://github.com/pytorch/pytorch/issues/58628 describes one particular variant of operator batching, where the same inputs are reused across multiple operators, and it shows a nice speed on GPU. We have also have a [batch_mm](https://github.com/pytorch/pytorch/blob/master/tor

[2021-06-12 01:43] stas00 commented on #55267
one more related issue - very often minor CUDA changes make no difference to the API, yet most CUDA extensions by default require an exact match, .e.g. 11.2 vs 11.2. I don't know how to judge the API compatibility, but shouldn't it be the same for the minor versions?

It's a different story if certain CUDA extension wants a specific CUDA version because the others are knowingly buggy.

e.g. here i

[2021-06-12 01:57] xuzhao9 commented on #59902
Can't reproduce in the bisector. Since we terminated the machine on June 3rd and reboot on June 8th, the "regression" may be caused by rebooting of the machine.

[2021-06-12 02:16] 24hours opened #59906 "use_external_data_format=True not working when exporting model > 2gb"
## 🐛 Bug

`torch.onnx.export` always crash when exporting model larger than 2gb regardless of `use_external_data_format` flag value.

## To Reproduce

import torch
import torch.nn as nn

class M(nn.Module):
    def __init__(self):
        super().__init__()
        self.w = nn.Parameter(torch.zeros(550, 550, 64, 64))

    def forward(self, img):
        return torch.sum(self.w) + torch.sum(img)

m

[2021-06-12 08:43] eagertolearn1 commented on #33292
Following command works for me:

pip install --trusted-host=pypi.org --trusted-host=files.pythonhosted.org  --trusted-host=pytorch.org --trusted-host=download.pytorch.org --trusted-host=files.pypi.org --trusted-host=files.pytorch.org torch==1.8.1+cpu torchvision==0.9.1+cpu -f https://download.pytorch.org/whl/torch_stable.html

[2021-06-12 09:01] pearu commented on #55267
Usually, a CUDA software wanting a specific CUDA version is related to using a specific feature of the CUDA version, and not so much if other CUDA versions are buggy in general. I would claim that all CUDA versions are buggy in one or another way, the usability of a CUDA version depends on whether the CUDA software hits a particular bug or not.

My point is that excluding the support for a particu

[2021-06-12 11:35] rgommers commented on #59868
So the `2.0 ** 63` result is correct here (retains `float32` dtype), but the logic for the `2 ** 63` case seems to be:

1. Convert Python scalar to a tensor without looking at the dtype of the other operand (`torch.tensor(2 ** 63)` raises the "unpacking long" exception)
2. Then do `tensor1 + tensor2` using the regular tensor type promotion rules.

I'm sure there's older discussions about how to ha

[2021-06-12 11:47] rgommers commented on #59867
NumPy does the same as PyTorch here:
[code]

Perhaps the specification is incorrect. I don't see a review comment on it in https://github.com/data-apis/array-api/pull/54, and `bitwise_xor` does do the regular type promotion. @kgryte do you remember why there's this discrepancy?

[2021-06-12 14:05] thomashirtz commented on #19003
Is someone currently working on this ?

[2021-06-12 14:54] ahirner commented on #59519
@skyline75489 , I [incorporated](https://github.com/pytorch/pytorch/compare/master...ahirner:vulkan-on-win?expand=1) more of your changes on top of master.

I'm wondering about changes in `flat_hash_map.h`. No matter if `sherwood_v3_table` 's move constructor is explicit or not, I'm running into:
[code]
[10_Build PyTorch.txt](https://github.com/pytorch/pytorch/files/6642397/10_Build.PyTorch.txt)

[2021-06-12 17:19] docongminh commented on #22614
@soumith  i have a question
[code]
why `pointer value` in `a & b are same`, but `pointer value` in `a & c are different`. instead,` id storage` of c & a are same ? Thanks

[2021-06-12 18:00] AdarshSubramaniam opened #59916 "r.is_sparse() INTERNAL ASSERT FAILED"
## 🐛 Bug

\nRuntimeError: r.is_sparse() INTERNAL ASSERT FAILED at /pytorch/aten/src/ATen/native/sparse/SparseTensorMath.cpp:69, please report a bug to PyTorch. \n

Happens when adding 2 sparse torch.sparse tensors

sparse_vec_gradient = (sparse_topK_gradient + M_value*sparse_randK_gradient)
Here M_value is a torch 1d tensor, sparse_topK_gradient and sparse_randK_gradient are torch.sparse dtype ten

[2021-06-12 18:56] beew commented on #59855
So Master failed faster

[code]

[2021-06-12 21:25] swilson314 commented on #40208
By watching the graph execution, I have a guess that the info I want is created in the mat1_ix branch of AddmmBackward::apply().

Is this right?

If so, a couple hints would be greatly appreciated:
      how to best set a post_hook so I can examine the outputs of AddmmBackward?
      how to force AddmmBackward::apply() to compute the mat1_ix branch at the last variable?

[2021-06-12 21:30] prats0599 commented on #59862
The weight parameter is used to assign class weights. Its used when you have imbalanced classes. See more [here](https://stackoverflow.com/questions/50248029/in-pytorch-how-to-use-the-weight-parameter-in-f-cross-entropy) and [here](https://stackoverflow.com/questions/44716150/how-can-i-assign-a-class-weight-in-keras-in-a-simple-way/44721883).

[2021-06-13 04:09] mruberry commented on #59867
Following up on @rgommers's comment above: it's important that type promotion be applied consistently. There are already several type promotion variants, including binary elementwise functions that always map to bool (like the comparison operators) and binary elementwise operations that always promote to float (like atan2 and true_divide), but I don't want to create another class of type promotion

[2021-06-13 07:01] mruberry commented on #59777
Hi @XuyangPan, I'm sorry you're having an issue loading a trained model. Do you have a small sample program that we can review which demonstrates this issue?

AttributeErrors while pickling/unpickling are common and often the result of an error in the program.

[2021-06-13 07:02] mruberry commented on #59835
cc @cpuhrsch

[2021-06-13 07:16] jianyuh commented on #59835
This is awesome!
- Do you have the rough timeline on adding this support?
- For the potential GPU inference support, how will this proposal interact with the sparsity support provided by TensorRT 8.0?

cc @jiecaoyu @jspark1105 .

[2021-06-13 08:25] wangwang110 commented on #59862
thank you for your reply.   so what is different between weight and pos_weightin `torch.nn.BCEWithLogitsLoss(weight=None, size_average=None, reduce=None, reduction='mean', pos_weight=None)`

[2021-06-13 08:54] skyline75489 commented on #59519
@ahirner you need to use /permissive for that file. Or change the name “Hasher” is the template to something else to avoid the compilation error.

[2021-06-13 10:48] mruberry commented on #59868
This is not entirely accurate. The conversion is only required when the scalar has a "compatible type and value."

Correct. Stepping back, I think we may need to more carefully review the type promotion rules the Python Array API proposes. Type promotion is very complicated and poorly documented wherever it's implemented. Even for binary elementwise operators there are multiple kinds of type promo

[2021-06-13 11:41] rgommers commented on #59868
This is a definition I don't agree with. It's about determining the output dtype from input dtypes. This is the user-observable behavior. If inside the compution you want to, for example, do a temporary upcast to a higher-precision dtype to avoid floating point errors, and then downcast again at the end, that's perfectly fine.

In the vast majority of cases, computation dtype and output dtype will

[2021-06-13 12:03] mruberry commented on #59868
Broadening "type promotion" to this is OK (especially when not supporting the out= kwarg) but then we're going to have to define more classes of type promotion to handle accumulate types and operations that always return bool or a specific dtype.

Good point, NumPy does have some additional stuff that I neglected to mention.

[2021-06-13 14:11] albert-jin commented on #35803
thank you evey body

[2021-06-13 15:16] MotorCityCobra commented on #56721
How do I use this to install pytorch for 11.3?

[2021-06-13 16:31] realiti4 commented on #56721
pip install --pre torch torchvision torchaudio -f https://download.pytorch.org/whl/nightly/cu113/torch_nightly.html

[2021-06-13 17:55] helindemeng commented on #21819
My program be run in Linux system, and get this error.
So I update torch's version to torch==1.8.1, this problem has been solved.
I am so happy.

[2021-06-13 21:37] yf225 opened #59923 "Lazy modules should accept keyword arguments to forward method"
## 🚀 Feature
Lazy modules (i.e. module that inherits from `torch.nn.modules.lazy.LazyModuleMixin`) should accept keyword arguments to forward method, to have API syntax parity with non-lazy modules.

## Motivation

If we have a non-lazy module with keyword argument:
[code]
We can pass keyword argument when calling this module:
[code]

But if we have a lazy module with keyword argument:
[code]
Pass

[2021-06-13 22:13] habibcomsats opened #59924 "protobuf compatibility error"
## 🐛 Protocol buffers library mismatch.

I am using latest protocol buffer compiler for client/server communication and I want to add pytorch on the client side with local visualization using tensorboard. I have raised the issue with google's developers and they resolved the issue from their side. A fresh build of pytorch (torchvision) with latest version of tensorboard can resolve this issue.

##

[2021-06-13 22:42] MotorCityCobra commented on #56721
Hmmm. I must need to be spoon fed because I can only get a CPU after this install. I can not get a GPU to work after using this line to install.
I'm using Windows 10, CUDA 11.3, and torch installed with the line above.

[2021-06-13 22:59] wmusial opened #59925 "Implicit module registration permits silent programming errors in torch.nn.Module"
## 🐛 Bug

`torch.nn.Module` implements an implicit module and parameter registration via `__setattr__`:
https://github.com/pytorch/pytorch/blob/8af6281201d19e2be084d54de7a6c4b6656355d3/torch/nn/modules/module.py#L1136

Currently, Module assumes that each of its constituent sub-modules is assigned as an attribute, but this is not documented nor programmatically enforced. This opens the possibility

[2021-06-13 23:01] z-a-f opened #59926 "Parametrization goes into infinite recursion when trying to print a module"
## 🐛 Bug
One use case for parametrization is to use some buffers within existing layers:

[code]

The error is in the `nn/modules/module.py:1741`, which recursively calls the print statement on the children. I think because the parametrized layer tries to print its internals, it recursively calls the repr on the parametrization.

---

One solution is to put the tensor as the argument to the input:

[2021-06-13 23:58] tillahoffmann commented on #53485
It would be nice to have `rate = 0` supported. While simply plugging in a zero rate into the common `log_prob` expression yields a `nan`, the distribution is properly defined in the limit `rate -> 0`: it is a point mass at zero. The expected behaviour would be

[code]

[2021-06-14 00:42] walterddr opened #59927 "Improvement to unsupported backward OpInfo test"
Unsupported backward OpInfo test added in #59455 is used to ensure that backward opinfo test are properly enabled instead of just being skipped. Follow up

- [x] `to_sparse` is not checked error raise properly, see: https://github.com/pytorch/pytorch/pull/59455#discussion_r650582434
- [x] `supported_backward()` still have several skips, needs to be cleaned up.
- [x] handle non-tensor outputs prope

[2021-06-14 00:45] emcastillo commented on #59923
Hi!
This is also similar to an issue that I am having now but with a different use case.

I think that adding support for kwargs in the hooks should solve this automatically without needing to alter anything in the lazy support. But the use of kwargs in hooks seems to be a bit controversial and some API changes might be needed if implemented.
https://github.com/pytorch/pytorch/issues/35643#issueco

[2021-06-14 00:56] tbpangolin opened #59928 "Quantization support for torch.index_select"
## 🚀 Feature
Support torch.index_select on 'QuantizedCPU' backend

## Motivation
I'm trying to quantize a model, and there is a step that slices tensor based on indices along the batch (for separate processing).

I can use `torch.index_select` for this purpose, like:
`kept_x = torch.index_select(x, dim=0, index=torch.tensor(indices))`

But if x is a quantized tensor, this will run into an error:

[2021-06-14 07:49] kgryte commented on #59867
There is a PR open on the array API to update the current guidance for bitwise shift operations: https://github.com/data-apis/array-api/pull/201

[2021-06-14 08:38] Wendy-liu17 opened #59933 "If I only have the model of PyTorch and don't know the dimension of the input, how to convert it to onnx?"
## ❓ If I only have the model of PyTorch and don't know the dimension of the input, how to convert it to onnx?

### Question

I have a series of PyTorch trained models, such as "model.pth", but I don't know the input dimensions of the model.
For instance, in the following function: torch.onnx.export(model, args, f, export_params=True, verbose=False, training=False, input_names=None, output_names=N

[2021-06-14 08:45] Monteiro4 commented on #27212
+1

[2021-06-14 08:59] harsh-sprinklr commented on #7485
def run():
    torch.multiprocessing.freeze_support()
    model = NERModel('bert','../Model-weights/best_model',use_cuda=False)
    sample = "show me films where jim carrey is a detective."
    predictions, _ = model.predict([sample])
    for idx, sample in enumerate([sample]):
      print('{}: '.format(idx))
      for word in predictions[idx]:
        print('{}'.format(word))

    print('loop')

[2021-06-14 09:35] Alexfinkelshtein commented on #10223
@albanD , any updates on this one?

[2021-06-14 09:57] pmeier commented on #24422
@AnirudhDagar I've added you to the `module: python array api`.

[2021-06-14 10:05] david-macleod commented on #58907
I am also facing this same issue, but with a "simpler" scenario, modified example below

[code]

[2021-06-14 10:10] ps-19 commented on #40315
@z-a-f is it still not resolved?? i would like to work on this issue.

[2021-06-14 12:03] Mathanraj-Sharma opened #59935 "Error /usr/local/lib/libopenblas.so: error adding symbols: File in wrong format while building pytorch for ppc64le"
[code]

OS: centos7 running in docker container
arch: ppc64le
python: 3.7

Installation steps:
[code]

[2021-06-14 12:45] albanD commented on #35643
cc @jbschlosser the proposal above might be better than the `register_pre_forward_hook_with_hook()` that we talked about? What do you think?

[2021-06-14 12:58] caillonantoine opened #59936 "Can't perform any operation on Vulkan device - macOS M1"
## 🐛 Bug

I'm trying to use the Vulkan api on my macbook pro M1. I've followed the build instruction provided here [https://pytorch.org/tutorials/prototype/vulkan_workflow.html](https://pytorch.org/tutorials/prototype/vulkan_workflow.html) and successfully built pytorch with Vulkan enabled. `torch.is_vulkan_available()` returns `True`, and I can send tensors and scripted models on the GPU without

[2021-06-14 13:37] albanD commented on #10223
Hi,

The core logic made it to 1.9 but very few formulas.
If you are using nightly, it should to work a bit better now as I'm continuously landing new formulas.
Do you have a specific application that you need this for? If so, you can share here the model you want to use or a set of ops and we can prioritize adding these first.

[2021-06-14 13:39] albanD commented on #59926
cc @Lezcano

[2021-06-14 13:41] albanD commented on #59926
Note that this is not specific to parametrization, anything your do such a cycle of Modules, you will get a recursion error when printing:
[code]

[2021-06-14 13:43] albanD commented on #40208
From a mathematical point of view, what you want is not the gradient of the function you used in the forward.
It would be if the weights were expanded with an extra dimension corresponding to the number of cases.

If what you want are element-wise gradients, you can use libraries like https://github.com/cybertronai/autograd-hacks#per-example-gradients to use pytorch to compute "non-gradients" with

[2021-06-14 14:01] ezyang commented on #59765
FB only: this issue tracks the internal request at https://fb.workplace.com/groups/1405155842844877/permalink/4785771701449924

My personal opinion: if we don't want to add this because of CUDA binary size, we should make it work with JITerator.

[2021-06-14 14:04] ezyang commented on #59896
cc @robieta

[2021-06-14 14:11] Hazarapet commented on #37449
+1

[2021-06-14 14:24] #59705 closed

[2021-06-14 14:30] soulitzer commented on #59883
Not able to reproduce on colab using provided snippet

[2021-06-14 14:41] kimishpatel commented on #59690
Is this only happening with conv2d operator?

[2021-06-14 14:51] swilson314 commented on #40208
Agreed, my example was intended to show what I meant by unaccumulated gradient. I actually need that, by output when there are multiple outputs. Thanks so much for the hint!

[2021-06-14 14:53] jbschlosser commented on #47149
To support vmap, I'm specifically looking into the 0-batch dim case across modules that can support this. Detailed breakdown of these modules TBD.

[2021-06-14 15:00] soulitzer commented on #59864
Issues are for bugs and features only, please ask your question on the forum https://discuss.pytorch.org/.

[2021-06-14 15:00] #59864 closed

[2021-06-14 15:03] Infatum commented on #31758
Encountered same issue  on DenseNet train  ```Batch 1153-th loss: 0.0016166185960173607
Batch 1154-th loss: 0.0008452047477476299
Batch 1155-th loss: 0.0009657655609771609
Batch 1156-th loss: 0.0006721302634105086
Batch 1157-th loss: 0.000771171529777348
Batch 1158-th loss: 0.0008306880481541157
Batch 1159-th loss: 0.0007560861995443702
Batch 1160-th loss: 0.0006361253326758742
Batch 1161-th loss:

[2021-06-14 15:05] sdascoli opened #59941 "torch.autograd profiler changes the model's outputs"
## 🐛 Bug

I recently encountered trouble as the accuracy of models loaded from timm package were different from one evaluration script to the other.
I ended up realizing that the difference was coming from the torch.autograd profiler which I was calling before the evaluation.
How come calling the profiler changes the outputs of the model ?

## To Reproduce

Here is a minimal example to reproduce t

[2021-06-14 15:11] julien-thierry commented on #59690
I just gave it a try with conv1d, ReLU, Identity, and adding tensors and the issue does not occur in that case. So yes, it seems related to conv2d.

[2021-06-14 15:13] kimishpatel commented on #59690
Awesome. That gives us some signal. Will try to repro and report back.

[2021-06-14 15:22] peterbell10 opened #59943 "Inplace operations on conjugate views give incorrect answers when aliasing other inputs"
## 🐛 Bug

This is best illustrated with an example:
[code]

In this example `b.add_(a)`, where `b` is a conjugate view of `a`. As part of the conjugate fallback, `b`'s conjugate is materialized in-place before doing the addition. So, the underlying storage of `a` is modified and we get the wrong answer.

## Expected behavior

The fallback should detect the aliasing issue and materialize the conjug

[2021-06-14 15:31] soulitzer commented on #59933
Issues are for bugs and features only. Please use the forum https://discuss.pytorch.org/ for questions.

[2021-06-14 15:31] #59933 closed

[2021-06-14 15:34] heitorschueroff commented on #58745
The Array

@rgommers While NumPy and the Array API standard have two functions `max` and `argmax`, PyTorch's solution thus far has been to return both the values and indices, not only for this function but many others. Now that we have committed to following the Array API standard, I think it's a good time to consider breaking BC to break up these functions into one that returns the values and one

[2021-06-14 15:35] soulitzer commented on #59916
Could you provide a small snippet to reproduce this issue @AdarshSubramaniam ?

[2021-06-14 15:48] mahgieeee commented on #58739
@mruberry hi there! It is my first time contributing to open source project, may I also work on this issue? Can I comment if I have questions about this issue on here? Thanks!

[2021-06-14 15:57] soulitzer commented on #59941
If you put your model in eval mode before running forward under the profiler, the two prints return the same result. So the issue is probably just that running statistics are being updated. Feel free to reopen/file a new issue if something else comes up.

[2021-06-14 15:57] #59941 closed

[2021-06-14 16:05] pearu opened #59945 "Lazy conjugated tensor is not numpy interoperable"
## 🐛 Bug

The bug is best illustrated by the following examples (using the current master):

[code]

## Expected behavior

Since the numpy view of a lazy conjugated tensor is impossible, the above examples should raise an exception rather than ignore the set conjugate bit.

cc @ezyang @gchanan @zou3519 @bdhirsh @jbschlosser @anjali411 @Varal7 @dylanbespalko @mruberry @Lezcano @nikitaved @rgommers

[2021-06-14 16:09] jbschlosser commented on #35643
Yes, I like the flag better than a new function.

[2021-06-14 16:10] ezyang commented on #59945
Whoops, yup, we need to raise an error here.

[2021-06-14 16:13] peterbell10 commented on #59514
The function behaves in line with NumPy. It's the example that's incorrect here.

[2021-06-14 16:18] pearu opened #59946 "Float view of a complex tensor ignores conjugate bit"
## 🐛 Bug

Consider the following example (using the current master):
[code]

## Expected behavior

When the conjugate bit is set, the float view of complex tensor should fail with an exception because view op is assumed to be a no-copy.

cc @ezyang @gchanan @zou3519 @bdhirsh @jbschlosser @anjali411 @Varal7 @dylanbespalko @mruberry @Lezcano @nikitaved

[2021-06-14 16:24] mruberry commented on #58739
Yes. If you look at the contributing guide you'll see that anyone can work on any issue

[2021-06-14 16:27] mruberry commented on #58745
We have amax and argmax, which is NumPy compatible and does the same thing.

[2021-06-14 16:33] ozars opened #59947 "[jit] AttributeError on Final attributes when inheriting from parent module with __constants__ defined"
## 🐛 Bug

Inheriting from a parent module with `__constants__` defined as a list type causes error when setting an attribute `Final` in the child module.

## To Reproduce

[code]

[code]

Related parts on the v1.8.1 release:

https://github.com/pytorch/pytorch/blob/56b43f4fec1f76953f15a627694d4bba34588969/torch/nn/modules/linear.py#L70

https://github.com/pytorch/pytorch/blob/56b43f4fec1f76953f15a

[2021-06-14 16:39] anjali411 commented on #59945
@pearu thanks for filing the issue! yeah we should raise an error here

[2021-06-14 16:54] tkgmomosheep commented on #56721
I ran into the same issue. I noticed that there is no torchvision for windows, maybe that's the reason why GPU compute won't work.

[2021-06-14 16:58] mahgieeee commented on #58739
@mruberry great thanks!

[2021-06-14 17:03] ngimel commented on #59723
Please provide a script to reproduce the issue that's free of external data and dependencies

[2021-06-14 17:03] ngimel commented on #59756
cc @zasdfgbnm

[2021-06-14 17:05] albanD commented on #59943
Note that this is inherently dangerous anyways as you both read and write the same memory inside the op.
Even for things like `a.add_(a)` we don't guarantee that this will work.

[2021-06-14 17:05] ngimel commented on #59756
Can't repro on master
[code]

[2021-06-14 17:07] ozars commented on #59947
Seems like inheriting from another module isn't supported by JIT anyway: #42885

[2021-06-14 17:09] jbschlosser commented on #59765
@thomasjpfan is prioritizing the support for byte targets (ideally alongside migration to ATen). We are okay adding just one more target type (one more template instantiation), but beyond that, this should be solved with JITerator as @ezyang mentioned.

[2021-06-14 17:15] ailzhang commented on #44428
@LaRiffle How much do you care about perf for these kernels?

[2021-06-14 17:18] malfet commented on #59723
I see `__cxa_throw` at top of the stack, which looks like a structured exception, isn't it?

[2021-06-14 17:23] anjali411 commented on #59943
another case that fails due to the same reason:
[code]

[2021-06-14 17:26] stas00 commented on #55267
You must have meant to say within the same major version as implied by the context, correct?

Your explanations sounds reasonable to me.

So perhaps the core API should:

1. assert if major versions aren't identical
2. warn if minor versions are mismatched
3. give a project using CUDA extension API to blacklist some CUDA versions as incompatible - albeit I'm yet to see such an example other than f

[2021-06-14 17:35] albanD opened #59958 "Make to_dense() a no-op for non-sparse Tensors"
As of today, calling to_dense() on a strided Tensor raises an error
Similarly, calling to_sparse() on a sparse Tensor raises an error.

It would be nice to make these no-ops instead of errors to simplify user code.

cc @nikitaved @pearu @cpuhrsch @IvanYashchuk

[2021-06-14 17:45] rgommers commented on #59945
Raising an error is BC-breaking. Why wouldn't you just use `.resolve_conj` inside `.numpy()` and `.__array__`? This is code that used to work and is now made lazy - so it seems like just doing the >O(1) work later seems justified. In particular for `.numpy()` I don't see that as guaranteeing being an O(1) operation, it should just work for CPU tensors that are not in an autograd graph.

[2021-06-14 17:55] rgommers commented on #58745
`min` and `max` do return a single `Tensor` if `axis`/`dim` isn't given, and the changing return type is pretty odd. I think it's a good candidate for a BC-break.

Also, an explicit `dim=None` (or `axis=None`) doesn't work:
[code]

[2021-06-14 17:59] pearu commented on #59945
Note that `.numpy()` should share the storage of the tensor (see https://pytorch.org/docs/stable/tensors.html#torch.Tensor.numpy) while `.resolve_conj()` would require a copy that would be a BC-breaking as well.

[2021-06-14 18:00] rgommers commented on #59945
I don't think so - before `a.conj()` would _also_ make a copy, so `a.conj().numpy()` would not share storage with `a`.

[2021-06-14 18:02] rohan-varma opened #59965 "test_sparse_allreduce_basics is flaky on windows"
## 🐛 Bug

https://app.circleci.com/pipelines/github/pytorch/pytorch/336280/workflows/2b1e50f7-5b65-434c-8073-73e1596ffa90/jobs/14123525
https://app.circleci.com/pipelines/github/pytorch/pytorch/336280/workflows/e32350af-36c3-46d5-825d-402e7806e4d8/jobs/14123524

[code]

cc @mrshenli @pritamdamania87 @zhaojuanmao @satgera @gqchen @aazzolini @osalpekar @jiayisuse @H-Huang @kwen2501 @awgu @peterjc123

[2021-06-14 18:05] pmeier commented on #58739
@mahgieeee Thanks for the will to contribute! Just note that @praneethratna already has a PR up in #59910 to close this issue.

[2021-06-14 18:14] robieta commented on #59896
This isn't POD, so it falls outside the scope of what I'll be doing.

[2021-06-14 18:15] pearu commented on #59945
`a.conj()` is a result of the conjugate operation and it is not expected that `a.conj().numpy()` would share the storage of `a` (unless `a` is real and then `conj()` would be no-op anyway).
Instead, it is expected that `b.numpy()` would share the storage with `b` where `b = a.conj()`. With the new lazy conjugate feature, `b` shares the storage with `a`, so the storage-sharing promise of `.numpy()`

[2021-06-14 18:26] fe1w0 commented on #44023
My temporary solution is to directly modify the source code according to the error message. At the same time, I don't think this is a good solution. In any case, it did solve my problem.
like:
![image](https://user-images.githubusercontent.com/50180586/121940601-dfd94c00-cd80-11eb-8b6a-672c39b6ecd2.png)

[2021-06-14 18:28] samestep commented on #59815
@zhouzhuojie I'm sure you've already seen this, but I believe https://github.com/pytorch/pytorch/issues/55847#issuecomment-859942197 applies here as well.

[2021-06-14 18:29] ezyang commented on #39853
https://github.com/pytorch/pytorch/pull/59639 should help with this

[2021-06-14 18:29] ezyang commented on #39853
cc @mcarilli @Fuzzkatt

[2021-06-14 18:32] anjali411 commented on #59945
@rgommers yeah this would be bc-breaking but I think as @pearu mentioned above it might be best to ask user to resolve conjugation before calling these view operations on tensors with conjugate bit set to 1, similar to what we do for `torch.view_as_real` https://github.com/pytorch/pytorch/blob/061e71b1994bcd8b73971f3c365d952b0bf563a3/aten/src/ATen/native/ComplexHelper.h#L36-L39

[2021-06-14 18:37] rgommers commented on #59945
I don't think this is right either, and if it is it is going to lead to subtle bugs. As far as I understood @anjali411's presentation, this is why a conjugate is not allowed to flip back from 1 to 0.

If there are any examples like `a.conj().conj()` or that mix views and in-place ops that now are going to give silently different results, something seems quite wrong (right?). My impression was that

[2021-06-14 18:43] pengfzhou opened #59969 "only lowercase letters a-z allowed as indices in torch.einsum?"
## 🚀 Feature

i want more indices other than only lowercase letters a-z allowed in torch.einsum
## Motivation
when i do tensor cotraction, i don't want to repeatedly reshape the tensors to ensure that  indices are  limited in lowercase letters a-z. thanks!

cc @heitorschueroff

[2021-06-14 18:47] rgommers commented on #59945
Only in terms of "they point at the same memory at this point in time" I hope, not semantically. I'd expect this:
[code]
to not change `b`. This is why I asked about the bi-directional lenses framework - you want to know what views to update when, so that the semantics of code like the above does not change between `1.9.0` and `1.10.0`.

Or maybe I misunderstood, and the introducing of conjugate v

[2021-06-14 18:55] vadimkantorov commented on #59945
Maybe numpy(force = True) from another PR could be also used in this case (when > O(1) work is expected and desired)

[2021-06-14 18:59] MotorCityCobra commented on #56721
Funny you should mention. I got it with torch installed only. I also had to use `pip3` for some reason.

[2021-06-14 19:22] awgu opened #59972 "Support varying parameter dtype in ZeroRedundancyOptimizer"
## 🚀 Feature

Implement heterogeneous  parameter`dtype` support in `ZeroRedundancyOptimizer`.

## Motivation

DDP supports model parameters and hence gradients having varying `dtype`, as seen in the [bucket assignment implementation](https://github.com/pytorch/pytorch/blob/095cd6a0da255a5ed24d146898c53790f0e9c3f0/torch/lib/c10d/reducer.cpp#L1897). Currently, the `ZeroRedundancyOptimizer` implement

[2021-06-14 19:28] awgu opened #59973 "Allow params to be an iterable of dicts in ZeroRedundancyOptimizer"
## 🚀 Feature
Allow the input argument `params` to `ZeroRedundancyOptimizer` be an iterable of `dict`s.

## Motivation
In the normal `Optimizer` implementation, the input argument `params` can be either an iterable of `torch.Tensor`s or an iterable of `dict`s (see [here](https://github.com/pytorch/pytorch/blob/ef13341a8d1128a5fbd54716c89358cbd20c0a1d/torch/optim/optimizer.py#L27)). The latter form

[2021-06-14 19:29] praneethratna commented on #12728
@mruberry Is this issue still available? If yes Could you please give me an heads up of what needs to be implemented, I`ll start working on it

[2021-06-14 19:29] ailzhang opened #59974 "torch.get/set_rng_state only handles cpu"
This behavior is kinda expected since we also have `torch.cuda.get/set_rng_state` but api `torch.manual_seed`(defined in the same file https://github.com/pytorch/pytorch/blob/master/torch/random.py#L22)  handles both cpu & cuda.
We should at least improve our documentation for `torch.get/set_rng_state` to tell users it only supports cpu, and if they want cuda as well they need to use `manual_seed`

[2021-06-14 19:32] fritzo commented on #7857
@KIC looks good to me, contribution welcome!  Actually I think it would be best to add a whole new subclass of TransformedDistribution, similar to [Pareto](https://github.com/pytorch/pytorch/blob/ef13341a8d1128a5fbd54716c89358cbd20c0a1d/torch/distributions/pareto.py#L30), that way it can provide metadata and properties like `.mean`:

<details>

[code]

</details>

[2021-06-14 19:33] eqy commented on #58841
#56176 there was recently a PR for bfloat16 sort support so I'll check to see if we can add full bfloat16 support soon

[2021-06-14 19:41] mruberry commented on #12728
I think this issue is still valid (you can check by seeing if itemsize and nbytes are available after building PyTorch) and the issue is to implement these two methods. The best way to understand how to do this is to read the contributor's guide, the README in ATen/src/ATen/native, and look at other PRs adding operators.

[2021-06-14 19:49] rgommers commented on #59867
This is solved in the specification now. The new text is _"an array containing the element-wise results. The returned array must have a data type determined by Type Promotion Rules ."_ Which is consistent with PyTorch's current behavior.

[2021-06-14 19:49] #59867 closed

[2021-06-14 19:53] rlorigro commented on #59723
I ran `catch throw` immediately before running the script. The thrown exception was a segmentation fault. I'm actually having some difficulty reproducing this exact error in a data independent way, but I am working on it...

[2021-06-14 20:05] jeffdaily commented on #59421
Since we're settled on the cuda 10 behavior as erroneous, this issue is a "wontfix".

[2021-06-14 20:05] #59421 closed

[2021-06-14 20:08] walterddr opened #59975 "test_sparse_allreduce_basics intermittently failed on windows cuda test"
First occurrence on https://github.com/pytorch/pytorch/commit/b83ac0cc4eb59fbd70fbbdbb4960eb3c3eb26091
CI link: https://app.circleci.com/pipelines/github/pytorch/pytorch/335879/workflows/ad231d67-5df2-4616-a4cd-696738b623a7/jobs/14107711

and it happens to pytorch_windows_vs2019_py38_cuda10.1_test2 as well as periodic_pytorch_windows_cuda11.3_test2.

[2021-06-14 20:11] SplitInfinity commented on #58518
Master PR: #59959
Release PR: #59976
Criteria: Documentation for new feature in this release

[2021-06-14 20:18] rlorigro commented on #59723
In my attempt to create a minimal reproducible script I have instead run into this error:

`RuntimeError: cudnn RNN backward can only be called in training mode`

But initially I had never called `eval()` or anything of that sort. I then tried explicitly calling `train()` before training and `eval()` before testing but had no success.

Here is my dependency-free script for that error:
https://gith

[2021-06-14 20:23] ptrblck commented on #59883
@lsspear You might be running into https://github.com/pytorch/pytorch/issues/56747

While I cannot reproduce the first issue on a P100, I get the numerical mismatches using the `PyTorch1.8.1+pip+CUDA11.1` wheel on this node. Using the `1.8.1` conda binaries or the nightly pip wheels solves the issue.
Could you update to the nightly pip wheel and rerun the test, please?

[2021-06-14 20:28] rgommers commented on #59868
I tried to investigate this a bit to see if there's a sensible (set of) rule(s) to define. That doesn't seem easy. Trying a collection of reduction ops (https://pytorch.org/docs/stable/torch.html#reduction-ops):

[code]

There's no systematic behavior I can discern there.

NumPy is a little more consistent, but there's still 4 flavors for the output: keep input dtype, return a bool dtype, return t

[2021-06-14 20:30] xiaomengy commented on #54293
https://github.com/pytorch/pytorch/pull/54921 should fix this.

[2021-06-14 20:30] #54293 closed

[2021-06-14 20:30] kurtamohler commented on #31758
Thank you for letting us know @Infatum! We still need a minimal reproducer script to be able to look into this problem. If you have one, please share! Since we can't be sure yet about whether these two problems have the same root cause, could you please open a new issue and link to this one as likely to be related? Feel free to cc me

[2021-06-14 20:32] ngimel commented on #59723
You do this
[code]
which is causing the model to go into `eval` mode.

[2021-06-14 20:32] stas00 opened #59978 "add `--init_method` to `torch.distributed.launch`"
## 🚀 Feature

This is a request to add a `--init_method` option to `torch.distributed.launch`.

## Motivation

I'm currently dealing with  "Address already in use" in a tests suite which runs tests concurrently, so the default port doesn't work. Trying to use random ports isn't great for tests either, since they could still clash and tests fail. So I was thinking that switching to `init_method='fi

[2021-06-14 20:39] cccclai commented on #59865
Can you try this:
[code]

and check the content inside `*.aar`? It's more accurate to check the `.so` size instead of `.a`.

[2021-06-14 20:47] walterddr commented on #59975
closing as duplicate of #59965

[2021-06-14 20:47] #59975 closed

[2021-06-14 20:49] xta0 commented on #59551
@xtxt `aten::native_batch_norm` should be removed by `optimized_for_mobile` unless you're using some custom batch norm function that our JIT passes don't recognize. A way to verify whether it gets removed or not is using `print(torch.jit.export_opnames(traced_model))` after tracing your model. Also, please add  this RAII guard - `c10::InferenceMode mode` before calling `forward`. Something like

[

[2021-06-14 20:52] cbalioglu commented on #59872
With PyTorch v1.9 we introduced a new rendezvous implementation based on C10d that does not require etcd.

Having said that the correct way to initiate an elastic job is described [here](https://pytorch.org/docs/1.9.0/elastic/quickstart.html). Note that MASTER_ADDR, MASTER_PORT, NNODES, NODE_RANK, and WORLD_SIZE will be set by the launcher script for you.

[code]

Let me know if you still have tro

[2021-06-14 20:52] #3025 closed

[2021-06-14 20:56] lsspear commented on #59883
Updating to the nightly build using `pip3 install -I --pre torch -f https://download.pytorch.org/whl/nightly/cu111/torch_nightly.html` appears to have solved the issue for me. The code from the notebook as well as my full model no longer throw the error, and the script that prints in a loop no longer has numerical mismatches. Thanks!

[2021-06-14 21:15] z-a-f commented on #58846
@AndreaBrg Let us put together a simple plan of action, and we can discuss later on how we sync your work with the existing one.

Thank you

[2021-06-14 21:21] pearu commented on #59945
It does, and it looks like also in a correct way:
[code]

IIUC, the conjugate bit is just an additional attribute to a tensor that certain operation implementations may take advantage of by avoiding materialization of intermediate conjugate results. Resetting conjugate bit twice corresponds to just double conjugation that is an identity operation. I don't see why `.conj().conj()` would not be allo

[2021-06-14 21:22] saketh-are opened #59983 "torch.chunk docs seem underspecified"
## 📚 Documentation

[torch.chunk](https://pytorch.org/docs/stable/generated/torch.chunk.html)'s documentation doesn't fully specify how the number and sizes of chunks produced are chosen.

Particularly, it's not clear what happens in cases where the size of the given dimension is not divisible by the number of chunks requested. One of the parameters to the function is "chunks (int) – number of chu

[2021-06-14 21:58] rlorigro commented on #59723
Ahh thanks for catching this foolish mistake.

I have corrected that error and one other, and I am now back to a segfault which seems to occur after the program has nearly exited (see the print statement [here](https://github.com/rlorigro/overlap_analysis/blob/834ba563a204815f20b51fd2dda33264d9d9783b/scripts/torch_error_reproduction_script.py#L120)), which might be consistent with the fact that it

[2021-06-14 22:10] mariosasko commented on #44023
@fe1w0 Yes, modifying the source is not the best solution. Can you please provide the minimal reproducible example? I'm not even sure this issue is still relevant as I can't find the relevant code in the PyTorchLightning source. Which version of PyTorchLightning are you using?

[2021-06-14 22:14] ngimel commented on #59723
The error seems to come from inside of cublas. I can't repro on master. cc @ptrblck - does it repro on 1.8.1 or 1.9?

[2021-06-14 22:14] cbalioglu commented on #59978
Hey Stas,

Obviously my first suggestion would be to run your tests sequentially, but I assume for one reason or another this is not possible in your case. Having said that, be aware that we plan to deprecate `torch.distributed.launch` in the near future. With PyTorch v1.9 we upstreamed TorchElastic to PyTorch and introduced a new `torch.distributed.run` script that also supports elasticity. Pleas

[2021-06-14 22:18] ptrblck commented on #59723
@rlorigro In case you were using the PyTorch `1.8.1` pip wheels with CUDA11.1, could you rerun the script with the `1.8.1` conda binaries or the nightly pip wheels?

[2021-06-14 22:37] StephanTLavavej commented on #54382
FYI, VS 2019 16.9.7 was [released](https://docs.microsoft.com/en-us/visualstudio/releases/2019/release-notes-v16.9#--visual-studio-2019-version-1697-) last week, and contains the microsoft/STL fix for this bug (which is specifically mentioned in the release notes: "Fixed an issue preventing developers to build PyTorch.")

Apologies for the headache. We're trying to be more careful about intrinsic

[2021-06-14 22:54] rlorigro commented on #59723
I used pip to install 1.8.1+cu111 and manually installed CUDA 11.3 on my system.

Running inside a conda environment with 1.8.1 does not throw any errors.

[2021-06-14 23:28] srianumakonda commented on #5301
Worked for me. Thanks a lot!

[2021-06-14 23:54] pritamdamania87 commented on #59441
@OleHolmNielsen Could you probably add a print statement after this [line](https://github.com/pytorch/pytorch/blob/master/torch/testing/_internal/common_distributed.py#L268) to see which port it is trying to use and then check if any services are using that port?

[2021-06-15 00:29] allevitan opened #59998 "Adam Optimizer Implemented Incorrectly for Complex Tensors"
## 🐛 Bug

The calculation of the second moment estimate for Adam (`torch.optim.Adam`) assumes that the parameters being optimized over are real-valued. This leads to unexpected behavior when using Adam to optimize over complex-valued parameters. AdamW, Adadelta, and potentially other Adam-related optimizers are affected as well.

The issue is that variance is currently estimated from `param.grad *

[2021-06-15 00:32] #58668 closed

[2021-06-15 00:35] stas00 commented on #59978
Thank you for this awesome detailed reply, @cbalioglu.

I agree that sequential run would be the simplest, but (1) it costs more $$, so distributed tests uses less time renting an instance (2) it takes longer to complete.

So there are 2 unrelated issues I'm discussing here - 1. future 2. testing with older pytorch builds

The first 2 solutions sound great, so in a sense you described an alternati

[2021-06-15 00:52] eellison commented on #59905
Actually, here is an actual benchmark:
[code]

The results there give:
0.001141516367594401
0.0011137326558430989

but it may vary depending on backward. additionally, we might be able to mitigate the cost of the concats, which are about 20% of the runtime, with the work @navahgar did on optimizing away concats by having op inputs write directly into the concat output memory. https://github.com/py

[2021-06-15 01:00] 7starsea commented on #59860
I am curious why the minor difference only occurs at the last dimension?

[2021-06-15 01:09] imaginary-person opened #60000 "`OMP_NUM_THREADS` doesn't work as intended in some cases"
## 🐛 Bug

If PyTorch is built with `MKL`, `OMP_NUM_THREADS` doesn't set the desired number of OpenMP threads if a value greater than half the number of available cores is provided (which can be useful if HyperThreading is off, as all the available cores are physical cores in that case).

## To Reproduce

Steps to reproduce the behavior:

1. Clone the current master branch
2. Build PyTorch with bot

[2021-06-15 01:28] ezyang commented on #59998
Is this literally as simple as dropping in a `conj()` call inside the optimizers? If so we're happy to take it. If there are other complex problems in other optimizers, we would also like to fix all of them, whenever the fix is just making the real code generalize correctly to complex domain (but otherwise stay unchanged in the complex domain).

[2021-06-15 01:35] zheng-ningxin opened #60002 "torch.jit.trace hangs indefinitely"
## ❓ torch.jit.trace hangs indefinitely

Hi, I tried to trace a pytorch model and `jit.trace` hanged indefinitely. The model inference runs smoothly without `jit.trace`. Because it's an internal of the company, I cannot upload the model to debug.

I want ask what kinds of reasons may cause `jit.trace` to hang all the time? Looking forward to your reply, thanks.

cc @gmagogsfm

[2021-06-15 01:37] malfet commented on #25639
Likely done by https://github.com/pytorch/builder/commit/71a2b9aaf0b4d56a2b6048b92ba71858f3717dbb

[2021-06-15 01:40] pritamdamania87 commented on #59793
The assertion error for this is really weird:

[code]

cc @mruberry Was wondering if you knew why would we see an error like this? It seems like the tensors are actually equal yet the framework complains they aren't?

[2021-06-15 02:33] SplitInfinity commented on #60002
It's difficult for us to help if you cannot share your model.

@tugsbayasgalan, you have been looking into tracing performance, right? Do you have any idea of what sorts of things might cause tracing to be slow?

[2021-06-15 03:02] shizao opened #60004 "python3 test_fx.py get result FAILED (errors=2, skipped=1)"
When I run a test with the command below, I got Errors.  My cuda version is 10.2.
How to fix this test?

[code]

[code]

## System Info
Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out the checklist below manually).

You can get the script and run it with:
[code]
[code]

[2021-06-15 03:02] shizao opened #60005 "python3 test_fx.py get result FAILED (errors=2, skipped=1)"
When I run a test with the command below, I got Errors.  My cuda version is 10.2.
How to fix this test?

[code]

[code]

## System Info
Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out the checklist below manually).

You can get the script and run it with:
[code]
[code]

[2021-06-15 03:05] #60005 closed

[2021-06-15 03:57] gmagogsfm commented on #60002
Is it "indefinitely"? Or does it take really long? We have seen bugs that causing trace to be extremely slow. If you trim down size of your module (number of layers, width of layers, etc), does `jit.trace` finish?

[2021-06-15 04:17] ciaochiaociao commented on #57109
Just for others coming to this issue, there's a typo, which is "1" missing in sqrt(2 / 1 + (sqrt(5) * sqrt(5)) as in https://pytorch.org/docs/stable/nn.init.html

[2021-06-15 04:19] ptrblck commented on #59723
Thanks for the update!

Does this mean you've installed the pip wheels inside a conda environment or the conda binaries?

Could you also check the nightly pip wheels, as they should also fix the cublas/sm_61 pip wheel issue?
[code]

[2021-06-15 04:24] stas00 commented on #59978
If someone needs here is a much simpler solution specific to `pytest-xdist` port collision:
[code]

[2021-06-15 05:35] zheng-ningxin commented on #60002
Hi~ Thanks for the quick reply~ @SplitInfinity @gmagogsfm

Maybe `Indefinitely` is a bit exaggerated, I monitor the resource usage and found that there is only one thread running on the CPUand the others are all slept, besides, no GPU resource is used at all(the model is on the GPU).

![image](https://user-images.githubusercontent.com/49771382/121997978-c1ee0480-cddd-11eb-970d-11dc2d596fbb.png)
![

[2021-06-15 06:10] xtxt commented on #59551
`print(torch.jit.export_opnames(traced_model))` the result is

My problem this code in xcode:

the errors raise:

torch::jit::Object::get_method(std::__1::basic_string<char, std::__1::char_traits, std::__1::allocator > const&) const in TorchModule.o
"torch::jit::Method::operator()(std::__1::vector<c10::IValue, std::__1::allocatorc10::IValue >, std::__1::unordered_map<std::__1::basic_string<char, s

[2021-06-15 07:10] dreamflasher commented on #18626
Pytorch 1.8 is released: https://pytorch.org/blog/pytorch-1.8-released/ – so this issue can be closed. It's finally there! :)

[2021-06-15 07:39] sonsus commented on #50032
FYI: Mine is working well with <code>1.8.1+cu111</code>.
install cmd: <code>pip3 install torch==1.8.1+cu111 -f https://download.pytorch.org/whl/torch_stable.html </code>
Specifications:
nvidia-driver: 460.80
CUDA: 11.2
GPU model: RTX 3060Ti

[2021-06-15 07:47] JaheimLee commented on #59870
Finally, I find it's the same problem as [issue 54203](https://github.com/pytorch/pytorch/issues/54203). The Demo model is a part of my 'Full model'. And I also do `torch.jit.script(Demo(hidden_size, max_span_len))` in Full model's __init__ function. When using `torch.onnx.export`, the same error occurs!

[2021-06-15 08:42] w1d2s opened #60008 "Dynamic quantized LSTM does not support output projection now."
## 🚀 Feature

## Motivation

## Pitch

## Alternatives

## Additional context

[2021-06-15 08:44] felixdivo opened #60009 "GRU docs has an orphan include link"
## 📚 Documentation

Orphan link at https://pytorch.org/docs/master/generated/torch.nn.GRU.html#torch.nn.GRU (present on matser):

![image](https://user-images.githubusercontent.com/4403130/122021848-5c424e00-cdc6-11eb-84ed-fc0d7c9b8ffe.png)

It's right below the note on bidirectional RNNs. Somehow, `.. include:: ../cudnn_rnn_determinism.rst` does not seem to work.

cc @brianjo @mruberry

[2021-06-15 09:00] wangyunxiaa commented on #57894
I also met this question, torch.jit.load("torch_script_model") and when i do inference with different batchsize, I got the time cost as followings:
batch= 1
first-time- t_use: 543.9186096191406
second-time t_use: 3255.8014392852783
third-time t_use: 16.793489456176758
batch= 2
first-time- t_use: 22.665739059448242
second-time t_use: 2869.0435886383057
third-time t_use: 18.543720245361328
batch= 4

[2021-06-15 09:06] cvJie opened #60011 "RTX3060,LibTorch1.8.1 can't use cuda in win10"
win10 , VS2019
nvidia driver:466.77,
nvidia GeForce RTX3060,
LibTorch 1.8.1
cuda 11.1
cudnn 8.1.1

code as:
   torch::cuda::is_available() ==False
   torch::cuda::cudnn_is_available==False

but ,I need it all True.
thanks

cc @ngimel @peterjc123 @mszhanyi @skyline75489 @nbcsm

[2021-06-15 09:34] rgommers commented on #59945
Okay, then ignore everything I wrote above. I had not even considered that `a.conj()` changes the return from copy to actual view by design rather than just a lazy copy - this seems like the worst kind of bc-breaking change (silent change in numerical results for idiomatic code). If that was the intent, I would have expected new syntax instead of reusing `.conj()`.

gh-59943 is the basically the s

[2021-06-15 10:52] huyhoangle86 opened #60013 "Torch.onnx.export can not export onnx model"
Hi , I’m trying to export my trained model that in .pt format to ONNX but after I execute the script the program output bunch of logging stuff like in the pic below and the converted onnx format seems not appear in my local disk I don’t know what I got wrong here?

![image](https://user-images.githubusercontent.com/42195775/122040722-5cf8d580-ce02-11eb-9f00-6f5eaa9d5b42.png)

cc @garymm @BowenBao

[2021-06-15 11:06] pearu commented on #59945
@rgommers , I agree, the conjugate bit feature would deserve a new method, say, `.conj_lazy()`, to avoid BC issues. It would mean that existing codes using `.conj()` would need a revisit where `conj` would be replaced with `conj_lazy` provided that
- the corresponding change will have a positive effect on performance/memory savings (for instance, when conjugate needs to be locally materialized any

[2021-06-15 12:38] julien-thierry opened #60015 "Quantized model using bilinear torch.nn.functional.interpolate is unreasonably slow"
## 🐛 Bug

The use of 'bilinear' mode for interpolate function in quantized model takes a huge amount of time compared to both the quantized nearest mode and the non-quantized bilinear mode.

I've also tried manually replacing torch.nn.functional.interpolate with torch.nn.quantized.functional.interpolate manually in the model after quantization (convert). But the result is similar.

When profiling,

[2021-06-15 12:38] heitorschueroff commented on #59969
@pengfzhou We've added support for uppercase letters as well in https://github.com/pytorch/pytorch/pull/56475. Does that suffice for your use case, or would you want even more possible subscripts?

[2021-06-15 12:44] vivasvan1 commented on #49538
Any update on this?

[2021-06-15 13:12] allevitan commented on #59998
I believe it is as simple as that, although this may not be the most stable or performant way to make the change because `param.grad * param.grad.conj()` will still calculate the imaginary part even though it is guaranteed to be zero.

[2021-06-15 13:28] albanD commented on #58846
From taking a closer look, these are the main features that you propose:
- Fold conv+batchnorm into a single conv
- Propagate bias into weights for linear, conv and batchnorm and propagate to next module when possible
- remove zeroed parameters in conv, linear and batchnorm
Did I miss anything @AndreaBrg ?

@z-a-f are these transforms also in the list of things you are planning to do?

A major dif

[2021-06-15 14:02] AndreaBrg commented on #58846
Hi @albanD

Yes, those are overall the main steps we propose, plus some other minor details needed to handle skip and residual connections.

We decided to use `torch.nn` because we have no experience with the `torch.fx` module, but from a quick look it should be feasible to convert each step using `torch.fx`.

[2021-06-15 14:55] aliencaocao commented on #56721
Installed using pip install --pre torch torchvision torchaudio -f https://download.pytorch.org/whl/nightly/cu113/torch_nightly.html
and cuda.is_available returns false. Cuda latest version (11.3 update 1) together with the included driver 465.89 is installed. nvidia-smi works fine, and TensorFlow is able to detect and use gpu normally. Tried uninstall and reinstall many times, same behaviour.

[2021-06-15 15:01] ejguan opened #60016 "Compilation issue with CUDA 92"
## 🐛 Bug

Compile Failure with cuda 92

## To Reproduce

Steps to reproduce the behavior:

Compile PyTorch with CUDA92 `USE_CUDA=1 USE_NCCL=0 USE_DISTRIBUTED=0 python setup.py develop`
[code]
## Expected behavior

No Error

## Environment

Collecting environment information...
PyTorch version: 1.10.0a0+git1fc3576
Is debug build: False
CUDA used to build PyTorch: 9.2
ROCM used to build PyTorch: N/A

[2021-06-15 15:19] cbalioglu commented on #59978
Glad that I could help! Let us now in case you have further questions, or if you have any feedback about the new `torch.distributed.run` script.

[2021-06-15 15:30] #18626 closed

[2021-06-15 15:30] mrshenli commented on #59793
I recall hitting similar errors before, and the reason was that the comparison is done in CUDA and the print requiring pulling it to CPU. So the compared value and the print value can be different.

[2021-06-15 15:53] pfeatherstone commented on #50348
Maybe you could do this via an FFT.

[2021-06-15 16:06] pengwa commented on #59872
Thanks a lot @cbalioglu , I tried your solution, and the program can proceed further, but will hang wat the step of init_process_group. Do you have any idea whether it could go wrong?

[2021-06-15 16:13] earlpeterg commented on #33655
Be sure to install PyTorch with CUDA support. See instructions here https://pytorch.org/get-started/locally/
The default one installed is only with CPU support.

[2021-06-15 16:22] ezyang commented on #59945
@rgommers We argued a bit about whether or not to make this BC breaking change, and you were there too :P The most relevant discussion is in https://github.com/pytorch/pytorch/pull/43270#issuecomment-678353990

It took a while for us to actually land conjugate views on master so the BC breakage is a little worse than it might have been if we had managed to land this last year, but our guess is tha

[2021-06-15 16:26] ezyang commented on #59998
@allevitan This is true on master, but actually we can optimize this case automatically because `conj()` doesn't actually compute the conjugate directly, it delays it so that multiplication can be taught to do a fused kernel when it sees `x * x.conj()`. @anjali411 this is another good one to make sure we hit for conjugate view payoff.

[2021-06-15 16:28] albanD commented on #58846
There are definitely tradeoff in using torch.fx as well as it doesn't handle all Modules. So keeping this as a pure nn construct would also be interesting here.

[2021-06-15 16:30] vadimkantorov commented on #59945
About `numpy()` semantics: I propose that by default it should throw an error if it cannot represent the array faithfully without copy. And that it should do a best-effort copying if some explicit `force=True` or `copy=True` argument is passed as in https://github.com/pytorch/pytorch/pull/59790

[2021-06-15 17:04] nashid commented on #56333
@malfet can you please elaborate further, which python version do I need to use?

[2021-06-15 17:10] xta0 commented on #59551
@xtxt  is it ok to share you model in public? so we can take a look.

[2021-06-15 17:16] imaginary-person commented on #9873
@Manoa1911, how many logical CPU cores did you have?

[2021-06-15 17:23] JulianKnodt opened #60027 "2nd Derivative doesn't appear to work with `grad_outputs` and `autograd.grad`"
## 🐛 Bug

I hoped to compute higher order derivatives of a  vectorized function `(N, V) -> (N, 1)`, and found on forums to use the `autograd.grad` functionality. I tried to use this on my code, but found that for the 2nd derivative it reported that the input appeared to be unused, which seems like incorrect behavior, since the gradient of the input does have some effect on the output.

## To Repro

[2021-06-15 17:33] ngimel opened #60028 "RReLU does not propagate input strides to outputs"
RReLU does not use TensorIterator, and instead explicitly allocates noise/output tensors with LEGACY_CONTIGUOUS_MEMORY_FORMAT https://github.com/pytorch/pytorch/blob/4afd0b7952c5e5cb5908441704fc63846d053ed8/aten/src/ATen/native/Activation.cpp#L522-L563

[2021-06-15 17:33] suo commented on #60004
you may need to build PyTorch with INSTALL_TEST=1

[2021-06-15 17:34] y0ast commented on #47908
Unfortunately this does not seem to be fixed:

PyTorch version + cudatoolkit version
1.8.1 + 10.2: 1m45s per epoch
1.8.1 + 11.1: 2m20s
1.9 + 11.1: 2m20s
1.9 + 10.2: 1m45s

All obtained on GTX 1080Ti, using this repo https://github.com/y0ast/deterministic-uncertainty-quantification (numbers are a bit different than my last comment due to counting an epoch different, but the relative difference rema

[2021-06-15 17:46] malfet commented on #25639
`pip install --extra-index-url https://download.pytorch.org/whl/cpu/ torch ` should install PyTorch on CPU and
`pip install --extra-index-url https://download.pytorch.org/whl/cu111/ torch` should install PyTorch with CUDA-11.1 support

[2021-06-15 17:47] ngimel commented on #47908
@y0ast what is the command line to run this benchmark?

[2021-06-15 18:06] mrshenli opened #60031 "DISABLED test_backward_rref_nested (__main__.ProcessGroupDistAutogradTestWithSpawn)"
https://app.circleci.com/pipelines/github/pytorch/pytorch/336986/workflows/63b8f5bc-7406-42e9-a305-6367186c1521/jobs/14153450/steps

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @rohan-varma @gqchen @aazzolini @osalpekar @jiayisuse @agolynski @SciPioneer @H-Huang @mrzzd @cbalioglu @gcramer23

[2021-06-15 18:17] pearu commented on #59945
OK. No objections as one can do:
[code]
if one really wants to access `a` memory via numpy array.

[2021-06-15 18:22] stas00 commented on #59978
As mentioned in the earlier comment, you have already answered my feature requests, so this ticket can be closed.

Thanks again, @cbalioglu

[2021-06-15 18:22] #59978 closed

[2021-06-15 18:22] imaginary-person commented on #56187
In order to disable 2 tests only for AVX512 (one is flaky even on AVX2, but its flakiness is currently not visible, and the other only fails on Cascade Lake machines), I'd have to create an API to get the value of the current `ATEN_CPU_CAPABILITY`.
Such an API can also allow users to set `ATEN_CPU_CAPABILITY` in their Python scripts, depending upon their needs.

An easy way to do this is to simply

[2021-06-15 18:34] garymm commented on #59870
IIUC, this is the same issue as #54203, so closing

[2021-06-15 18:34] #59870 closed

[2021-06-15 18:42] malfet commented on #60016
Please note, that CUDA-9.2 is not officially supported in trunk, so any fixes are likely to regress

[2021-06-15 18:48] malfet commented on #56333
@nashid Only Python-3.8 and 3.9 are supported natively on M1, aren't they?

[2021-06-15 18:56] rlorigro commented on #59723
Ok after trying your recommendation, here are all the results:
1. Inside a virtualenv:
    `pip3 install torch==1.8.1+cu111 torchvision==0.9.1+cu111 torchaudio==0.8.1 -f https://download.pytorch.org/whl/torch_stable.html`
2. Inside a conda environment:
    `conda install pytorch torchvision torchaudio cudatoolkit=11.1 -c pytorch -c nvidia`
3. Inside a virtualenv:
    `pip3 install --pre torch torc

[2021-06-15 18:57] ejguan commented on #60016
@malfet
Yeah, that makes sense. I also have to disable NCCL and distributed to make CUDA 9 being able to be compiled with CUDA 9.
I was thinking something have already been introduced to handle CUDA92. So, why don't we adapt new feature to support it.
https://github.com/pytorch/pytorch/blob/a120a12ab4d5b355e212fcc4c1f13f309792297e/c10/util/Optional.h#L502-L504

[2021-06-15 19:06] jbschlosser commented on #11959
Linked a PR implementing the soft cross entropy loss. There's some discussion now on whether the constant term `\sum_i p_i log p_i` should be dropped (as originally described by @SsnL). It'd be more efficient to drop it and it shouldn't matter from an optimization perspective, but the loss would no longer be equivalent to `LogSoftmax + KLDivLoss` and the different loss values vs. `CrossEntropyLoss

[2021-06-15 19:33] pengfzhou commented on #59969
Thanks,it sloved my case, but I suggest than you can implement more possible subscripts like numpy.

[2021-06-15 19:38] ilanschnell commented on #59222
I was able to run `conda install pytorch torchvision torchaudio cpuonly -c pytorch` in an empty environment.  Unlike what @rgommers is seeing, it created a Python 3.8 installation of the packages for me (using conda 4.10.1 on Linux).  Adding `python=3.9` to the above command also works fine for me.  My condarc file is:
[code]
I found that conda's conflict reporting is often misleading, as "non-con

[2021-06-15 19:45] ezyang commented on #56187
Yes, just test what the capability is and skip if it's not right.

[2021-06-15 20:39] seemethere commented on #60016
Pull requests would definitely be accepted to add this functionality!

[2021-06-15 21:39] skyline75489 commented on #60011
What is the libtorch version you use? What is the exact code you use?

[2021-06-15 22:04] ezyang commented on #28224
bumping priority based on internal user request

[2021-06-15 22:06] WilliamTambellini commented on #17688
@laughmetal  I supposed this is not yet implemented:
https://pytorch.org/docs/master/generated/torch.jit.ScriptModule.html#torch.jit.ScriptModule.save
?

[2021-06-15 22:07] ezyang commented on #59863
@peterbell10 are you at all interested in looking at this?

[2021-06-15 22:09] ezyang commented on #59855
Are you just trying to validate your source build of PyTorch? What happens when you try the failing tests with our official binaries?

[2021-06-15 22:11] ezyang commented on #59862
Ask questions like this at https://discuss.pytorch.org/

[2021-06-15 22:11] #59862 closed

[2021-06-15 22:14] ezyang commented on #60000
I'm not sure if I understand this bug report correctly, but I'm not sure what we can do in this situation: OMP_NUM_THREADS isn't our env var, and we shouldn't be monkeying around with it ourselves as PyTorch.

[2021-06-15 22:15] ezyang commented on #60013
This looks OK. Are you sure you are checking the right directory for the output? Try passing an absolute filepath instead.

[2021-06-15 22:16] #14955 closed

[2021-06-15 22:18] ezyang commented on #14965
![image](https://user-images.githubusercontent.com/13564/122130762-1d33ed00-ce06-11eb-95ab-f134652ddb34.png)

is fixed

[2021-06-15 22:18] #14965 closed

[2021-06-15 22:19] ezyang commented on #14981
two years later, probably fine to keep ignoring this

[2021-06-15 22:19] #14981 closed

[2021-06-15 22:19] ezyang commented on #14997
haven't seen this since

[2021-06-15 22:19] #14997 closed

[2021-06-15 22:19] #15053 closed

[2021-06-15 22:19] #15059 closed

[2021-06-15 22:20] ezyang commented on #15061
![image](https://user-images.githubusercontent.com/13564/122130884-4eacb880-ce06-11eb-82f7-c6100a177922.png)

fixed

[2021-06-15 22:20] #15061 closed

[2021-06-15 22:20] ezyang commented on #15140
guessing this got fixed in the meantime

[2021-06-15 22:20] #15140 closed

[2021-06-15 22:23] ezyang commented on #15142
Based on internal discussion, internal gtest was updated with platform009, so we just have to update the copy in `third_party`

[2021-06-15 22:25] ezyang commented on #15162
We recently added official ARM support so I'm going to guess this got fixed. Please open new issue if not :)

[2021-06-15 22:25] #15162 closed

[2021-06-15 22:25] #15163 closed

[2021-06-15 22:26] imaginary-person commented on #60000
@ezyang, on a 32 physical core (64 logical cores) machine, if I turn off HyperThreading to have 32 logical cores that correspond to the physical cores, then using `OMP_NUM_THREADS=32` results in `torch.get_num_threads()` outputting 16, instead of 32.
Using `MKL_NUM_THREADS` doesn't help in this case either.

But if I were to use `OMP_NUM_THREADS=x` where `x` is less than 16 (when the number of log

[2021-06-15 22:26] ezyang commented on #15173
not seen recently, guessing fixed

[2021-06-15 22:26] #15173 closed

[2021-06-15 22:38] SsnL commented on #11959
I don't think it should be dropped by default.

[2021-06-15 22:48] mravanelli opened #60053 "Annoying warning with nn.MaxPool2d"
Hi, thank you very much for pytorch 1.9!
I'm trying to update SpeechBrain (https://github.com/speechbrain/speechbrain) to support pytorch 1.9.
Everything seems to work, but I noticed an annoying warning when using  nn.MaxPool2d:

[code]

[code]

Note that it only appears when using nn.MaxPool2d (nn.MaxPool1d and  nn.AvgPool1d have no warning).
Any idea?

cc @zou3519 @albanD @mruberry @jbschlosser

[2021-06-15 23:39] gchanan commented on #60053
Thanks for reporting, I was able to reproduce this.

[2021-06-15 23:39] coreylammie commented on #44279
I can confirm that this is still an issue in 2021. Defining the arguments `extra_compile_args=['-rdc=true', '-arch=sm_61', '-lcudart', '-Xcompiler', '-lcudadevrt']` when instantiating `torch.utils.cpp_extension.CUDAExtension` raises the compilation error `error LNK2001: unresolved external symbol __cudaRegisterLinkedBinary_54_`.

The current CUDA toolkit documentation suggests using the following

[2021-06-15 23:48] ngimel commented on #60053
Likely #56459

[2021-06-16 00:47] ankane opened #60060 "Warning with torch::nn::init::orthogonal_ with LibTorch 1.9.0"
## 🐛 Bug

Hi, it looks like `torch::nn::init::orthogonal_` calls a deprecated function internally, which prints the following warning:

[code]

## To Reproduce

Compile and run the following script:

[code]

## Expected behavior

No warning

## Environment

 - PyTorch Version (e.g., 1.0): LibTorch 1.9.0
 - OS (e.g., Linux): macOS 11.4
 - How you installed PyTorch (`conda`, `pip`, source): Download

[2021-06-16 00:59] ankane commented on #58723
Looks like it's fixed in LibTorch 1.9.0 🎉

[2021-06-16 00:59] #58723 closed

[2021-06-16 01:06] gchanan commented on #60060
just noting the equivalent in python doesn't trigger.

[2021-06-16 01:42] rohan-varma opened #60062 "[c10d] Make `broadcast_object_list` accept a device parameter"
## 🚀 Feature
`torch.distributed.optim.ZeroRedundancyOptimizer` implements `_broadcast_object` which takes a `dist_device` argument, see: https://github.com/pytorch/pytorch/blob/master/torch/distributed/optim/zero_redundancy_optimizer.py#L56

We would like for the optimizer to use the available `dist.broadcast_object_list` API, in order to do this that API must also accept a `dist_device` argument.

[2021-06-16 01:57] imaginary-person commented on #60031
Is `TensorPipeDdpComparisonTestWithSpawn.test_ddp_dist_autograd_local_vs_remote` also flaky?

Thanks

[2021-06-16 02:07] jjsjann123 opened #60063 "Replace native NHWC BN kernel"
## 🚀 Feature

In PR #59981 we are discussing removing BN nhwc kernel with TensorIterator implementations. This PR is used to track potential performance regression.

## Additional context

Comparing the result between NHWC kernel and non-NHWC (I disabled NHWC kernel by excluding them in the cpp side).
We found that in general cases where spatial dimensions are tiny, NHWC kernel actually gives perf

[2021-06-16 02:08] jjsjann123 commented on #60063
![speedup](https://user-images.githubusercontent.com/3709243/122147046-00e77e80-ce0d-11eb-939c-892d15417946.png)

[2021-06-16 02:08] jjsjann123 commented on #60063
cc'ing @ngimel

[2021-06-16 02:14] peterbell10 commented on #59863
This isn't an accurate characterization. Adding partial sums from chunked sections of the array is the exact same principle that makes cascade summation accurate. So in fact the two pass sum is equivalent to adding an extra level of accumulator into the cascade sum algorithm, which in general makes it _more accurate_ than single threaded.

### So what's going wrong here?

-2.09715e+12 and 2.09715e

[2021-06-16 02:14] swilson314 commented on #40208
@albanD I implemented a c++ version of the autograd-hacks code. Thanks again for pointing this out!

It currently only works for Linear and Conv2d per the code below. I suspect Conv1/3d are similar, but the einsum() is different? I hoped to find someplace in the libtorch gradient code that would give me  hint, but didn't have any luck. Do you happen to know how to extend these? Is there a more rob

[2021-06-16 02:21] emcastillo commented on #59863
Thanks for the detailed explanation! :)

[2021-06-16 02:26] XuyangPan commented on #59777
The problems has been solved.
Many thanks to you!

[2021-06-16 02:30] huyhoangle86 commented on #60013
@ezyang  I did try to give it absolute path but no luck :/

[2021-06-16 02:35] tensorturtle commented on #8976
For me the issue comes up when I run another python script that accesses the filesystem while I'm training with PyTorch.
For example, if I am running Jupyter Lab while training is happening.
I haven't bothered to debug it, because I can easily avoid that situation.