[2018-09-13 12:59] zuoxingdong opened #11635 "[Feature request] Advanced indexing in functions like `expand`"
For functions like `torch.expand`, it would be nice to support advanced indexing with symbols like `...` and `:`.

For example,

[code]

[2018-09-13 13:40] chinmayjoshi24 opened #11636 "undefined reference to `caffe2::GetEmptyStringAlreadyInited[abi:cxx11]()'"
I am trying to cross compile caffe2 and generate a binary for my platform.
I have successfully generated libcaffe2.so.
But while compiling the code facing few issue:

/tmp/ccIOey60.o: In function `caffe2::Argument::set_name(char const*)':
temp.cpp:(.text._ZN6caffe28Argument8set_nameEPKc[_ZN6caffe28Argument8set_nameEPKc]+0x24): undefined reference to `caffe2::GetEmptyStringAlreadyInited[abi:cxx11](

[2018-09-13 14:06] hughperkins commented on #1834
I use `nonzero` all over the place, in performance critical sections, where the result is a cuda tensor:

[code]

Preference to at least provide the functionality of changing from a mask into indices efficiently using some other differnetly-named function, if it becomes preferable to change the functionality of nonzero itself.

[2018-09-13 14:08] veralauee commented on #9489
I have the exact same problem!! How did you solve that? @008karan

[2018-09-13 14:12] fmassa commented on #1834
You can do something like
[code]

Since the addition of tensors with 0 in its dimensions, the amount of workaround you need to do becomes way smaller.
Also, note that you can just as well do
[code]
which internally performs `nonzero` for you.

[2018-09-13 14:28] BenediktKersjes commented on #8126
Where are having the same issue. Is there a workaround to make the DataLoader use all CPU cores?

[2018-09-13 14:34] xdever commented on #8126
I worked it around by putting "os.system("taskset -p 0xff %d" % os.getpid())" in my script.

[2018-09-13 14:48] thlinh commented on #11456
@houseroad : Is the tuple, as an input parameter, always unpacked by ONNX when calling a function?

[2018-09-13 14:52] fmassa commented on #1834
oh, about returning tuples, it actually doesn't construct a tuple with python numbers, but just a tuple with tensors. So there is no overhead / synchronization happening.

If you want to apply the same mask to multiple tensors, then performing the `nonzero` before is indeed more efficient.

[2018-09-13 15:05] orionr commented on #11570
You shouldn't need to install pybind11, since (as you guessed) we'll use pybind11 under third_party. I've  put up a pull request to improve that messaging and I'd recommend removing it.

After that can you try running the command below and see if you get the same errors?

[code]

or, to build a develop version

[code]

It's possible passing the CMake args directly rather than through environment v

[2018-09-13 16:05] ragulpr commented on #10742
Seconded this. I find myself having more and more dependencies on `torch.distributions.utils._finfo` which is obviously very useful but maybe not stable? I also find myself needing max, min and others.

[2018-09-13 16:11] mcarilli commented on #11327
@wangdongxuking61 Thank you, I'm running this locally now the Pytorch dockerhub container (version 0.4.1).  I do get an error at the end of the first epoch, but it's not silent:
[code]
25 is an unusually large number of workers.  There's no point having more workers than the number of (logical) cores on the machine, right?

As an initial sanity check, I'm going to try two things:  1.  Run with few

[2018-09-13 16:14] t-vi commented on #11360
Just to narrow this down: My impression is that the test case with the high memory use is `TestEndToEndHybridFrontendModels`.

[2018-09-13 16:18] zou3519 commented on #11360
It is. In particular, test_snli uses a peak 4g of memory, but it really shouldn't be using that much

[2018-09-13 16:30] louisabraham commented on #10558
Thanks!
It seems logical, but I get

[code]

I suppose it doesn't work on macOS?

[2018-09-13 16:32] SsnL commented on #9692
I guess I'll do this in contrib.

[2018-09-13 16:38] PetrochukM opened #11645 "One GPU is more memory efficient than Multiple GPUs"
## Issue description

Multiple GPUs runs out of memory with DataParallel while one GPU handles the load.

[code]
Provide a short description.

## Code example

[code]

## System Info

[code]

[2018-09-13 16:40] yf225 commented on #1834
I am going to put this task back to the pool, in case anyone is interested in picking it up.

[2018-09-13 16:42] neerajprad commented on #11614
Would something like the following work? Haven't tested in detail, but it only throws a tracerwarning.

[code]

[2018-09-13 16:43] fritzo commented on #11614
@neerajprad Yes, already pushed that workaround in #11560.

[2018-09-13 16:44] neerajprad commented on #11614
Awesome!

[2018-09-13 16:53] blester125 opened #11647 "Performance (speed) regression from 0.4.0 to 0.4.1"
## Issue description

I have a fairly optimized cnn-blstm-crf tagger [here](https://github.com/dpressel/baseline/blob/master/python/baseline/pytorch/tagger/model.py) with the crf defined [here](https://github.com/dpressel/baseline/blob/f0204432076c166ce3d6672705826f33aec95dbe/python/baseline/pytorch/torchy.py#L669).

On pytorch `0.4.0` using cuda `9.0` and cudnn `7102` I can run a single epoch of

[2018-09-13 16:54] PetrochukM commented on #11645
For anyone struggling with this, ``nn.LSTMCell`` works in the multiple GPU scenario while ``nn.LSTM`` does not.

With a model like this:
[code]

It may be better to run DataDistributed:
[code]

[2018-09-13 17:27] SsnL commented on #11647
Thanks for the detailed report Brian!

[2018-09-13 17:28] weiyangfb commented on #5805
I see what you meant, so this is request to add torch.distributed.* ops for sparse tensor.

[2018-09-13 17:40] pjh5 opened #11651 "test_jit segfaults on mac on nightly packages"
conda create -yn py36 python=3.6
source activate py36
pip install torch_nightly -f https://download.pytorch.org/whl/nightly/cpu/torch_nightly.html
conda install -y numpy nomkl
python test/run_test.py -v -i test_jit

# outputs
test_dcgan_models (__main__.TestEndToEndHybridFrontendModels) ... Traceback (most recent call last):
  File "test/run_test.py", line 391, in <module>
    main()
  File "test/

[2018-09-13 17:49] zuoxingdong opened #11652 "[Feature request]: add `ModuleList.insert`"
It would be convenient to have `ModuleList.insert` implemented.

[2018-09-13 17:49] gchanan commented on #5411
Yes, this is currently expected behavior.  We may change it in the future.

[2018-09-13 18:04] SsnL commented on #11652
It would be good to have. Feel free to submit a PR if you want to.

[2018-09-13 18:36] ezyang commented on #11093
Do you have an example net which is failing to checkpoint because of this? My guess is that it's because Sequential only supports single argument forwards. But maybe even better implementation is:

[code]

[2018-09-13 18:52] SsnL commented on #9692
closing in favor of https://github.com/pytorch/contrib/issues/10

[2018-09-13 18:52] #9692 closed

[2018-09-13 18:57] #8351 closed

[2018-09-13 19:05] ezyang opened #11660 "weight_norm no longer works with None dim"
Reported by @veenix. Repro coming...

Caused by #10842. CC @mcarilli

[2018-09-13 19:08] dneprDroid commented on #2244
@acrosson Do you have experience with Google Cloud ML? Sorry for disturbing, but I got this error on cloud ml job with machine params `standard_gpu` (NVIDIA Tesla K80 GPU, 30GB memory).
How can I configure `--shm-size` param on Cloud ML Job?

My `config.yaml` file:
[code]

[2018-09-13 19:19] apaszke commented on #8138
No, people should never call GraphExecutors directly (they don't have schema), so we can mark this as resolved.

[2018-09-13 19:19] #8138 closed

[2018-09-13 19:24] moonlightlane opened #11662 "Wrong gradient in RNNCell with ReLU?"
## Issue description

It seems that `nn.RNNCell` + ReLU and `nn.RNN` + ReLU + CPU do not calculate gradient properly. This can be observed from the different gradients calculated by RNNs constructed with `nn.RNNCell` + ReLU on CPU and on GPU, and `nn.RNN` + ReLU on CPU and GPU. Of these 4 configurations, the gradients from `nn.RNN` + ReLU + GPU, which I think is the correct gradient, are different

[2018-09-13 19:27] #8439 closed

[2018-09-13 19:44] AntoinePrv commented on #10043
Hello,

I use sparse tensors to build Graph neural network on big sparse input graphs. The common approach of masking non existing edges in the adjacency matrix just doesn't scale for my inputs.

I don't have sparse parameters (although it could be useful).
 - First, a sparse matrix represent the adjacency matrix as the input of the network.
 - Later on, information is propagated from one node to

[2018-09-13 19:49] weiyangfb commented on #11093
@GolovanovSrg just want to clarify a bit, by 'parameter', you meant `inputs` in the args?

[2018-09-13 19:53] GolovanovSrg commented on #11093
yes

[2018-09-13 20:08] neerajprad opened #11663 "Scalar division wrongly mutates data type of divisor"
## Issue description

While debugging some JIT issues, I bumped into this issue that causes subtle failures downstream, since we don't expect the data type of the operands to be mutated. It seems to only affect PyTorch scalars. cc.@apaszke, @soumith

## Code example

[code]

## System Info
[code]

[2018-09-13 20:18] SsnL opened #11665 "Cannot resize_as_ to a tensor with a different dtype"
[code]

This doesn't make much sense. We should relax `checked_tensor_unwrap` for `resize_as_`.

[2018-09-13 20:44] weiyangfb commented on #11201
@whucdf Thanks for reporting this issue. It is expected because the default `file_descriptor` [share strategy](https://pytorch.org/docs/master/multiprocessing.html?highlight=sharing%20strategy#sharing-strategies) uses file descriptors as shared memory handles, and this will hit the limit when there are too many batches at DataLoader. To get around this, you can switch to `file_system` strategy by

[2018-09-13 21:34] syed-ahmed commented on #11340
I will be submitting a PR end of this week which will be addressing some parts of this issue.

[2018-09-13 22:02] PetrochukM commented on #2847
Hi There~

@apaszke DistributedDataParallel with NCCL backend tends to register hooks, how do I remove them before I pickle?

[code]

Thanks!

[2018-09-13 22:09] leonardoaraujosantos opened #11670 "ONNX export issue (To CoreML)"
## Issue description
Use of ONNX models exported from Pytorch 0.4.1, causes issues when converting to coreML

Provide a short description.

## Code example
[code]

## Results
[code]

## System Info
Collecting environment information...
PyTorch version: 0.4.1
Is debug build: No
CUDA used to build PyTorch: 8.0.61

OS: Ubuntu 16.04 LTS
GCC version: (Ubuntu 5.3.1-14ubuntu2.1) 5.3.1 20160413
CMake vers

[2018-09-13 22:13] soumith commented on #10742
`torch.finfo` would be a good addition I guess, if `numpy` has it.

[2018-09-13 22:34] soumith commented on #2847
@PetrochukM can you open a new issue for that, with the version of PyTorch you are using, etc. We should resolve this quickly, seems like a recent `master` regression, if true.

[2018-09-13 22:36] bddppq commented on #11670
Shape, Squeezee and Unsqueeze are valid ONNX operators, please create a feature request for supporting these ops in the onnx-coreml repo.

[2018-09-13 22:36] #11670 closed

[2018-09-13 22:52] vadimkantorov commented on #11665
I'll close older https://github.com/pytorch/pytorch/issues/5049 in favor of this issue.

[2018-09-13 22:53] vadimkantorov commented on #5049
Closing in favor of https://github.com/pytorch/pytorch/issues/11665

[2018-09-13 22:53] #5049 closed

[2018-09-13 22:53] bearpelican opened #11672 "Distributed(c10d) occasionally locks up for mixed precision training"
After creating DistributedDataParallel model, pytorch freezes when trying to create float tensors.
This happens 50% of the time.
Freeze happens on this [line](https://gist.github.com/bearpelican/4adcadce7f0687681bc9be2324ebafc8#file-train_c10d_deadlock-py-L73)

Strangely, it only happens when I set batch norm layers to full precision. Uncommenting out this [line](https://gist.github.com/bearpelica

[2018-09-13 22:53] bearpelican commented on #11672
@teng-li

[2018-09-13 23:34] #10832 closed

[2018-09-13 23:36] syed-ahmed commented on #11340
I'll be able to share a more up to date diff tomorrow but here's a gist of what's coming:

1. I'm modifying the `GeneratorDerived` template to have a `RNGState` struct definition. (The struct definition will replace `THGenerator` as well, but for now I'm focusing on the cuda part and just passing `'th_generator': 'CUDARNGState* generator',` from `gen.py` for the `CUDAGenerator`.
[code]
2. The CUDA

[2018-09-13 23:52] bearpelican commented on #11672
Stack trace:
[code]

[2018-09-13 23:54] bearpelican commented on #11672
Yup Let me try that

[2018-09-14 00:32] yubo-zhang opened #11678 "[caffe2] adam_op implementation is incorrect."
The formula  currently implemented in adam_op.h and adam_op is:

    t = iters + 1
    corrected_local_rate = lr * sqrt(1 - power(beta2, t)) /(1 - power(beta1, t))
    m1_o = (beta1 * m1) + (1 - beta1) * grad
    m2_o = (beta2 * m2) + (1 - beta2) * np.square(grad)
    grad_o = corrected_local_rate * m1_o /(sqrt(m2_o) + epsilon)
    param_o = param + grad_o

which is different from the original pap

[2018-09-14 00:48] PetrochukM opened #11680 "Illegal Memory Access, DistributedDataParallel"
## Issue description

[code]

## Code example

[code]

## System Info

Collecting environment information...
PyTorch version: 0.4.1
Is debug build: No
CUDA used to build PyTorch: 9.0.176

OS: Ubuntu 18.04.1 LTS
GCC version: (Ubuntu 7.3.0-16ubuntu3) 7.3.0
CMake version: version 3.10.2

Python version: 3.6
Is CUDA available: Yes
CUDA runtime version: Could not collect
GPU models and configuration:
G

[2018-09-14 00:50] PetrochukM opened #11681 "public_address was not set, DistributedDataParallel"
Running with ``--nproc_per_node=1`` instead of ``--nproc_per_node=2``, I get this error...

## Issue description

[code]

## Code example

[code]

## System Info

Collecting environment information...
PyTorch version: 0.4.1
Is debug build: No
CUDA used to build PyTorch: 9.0.176

OS: Ubuntu 18.04.1 LTS
GCC version: (Ubuntu 7.3.0-16ubuntu3) 7.3.0
CMake version: version 3.10.2

Python version: 3.6
Is

[2018-09-14 00:54] PetrochukM commented on #11680
Changing a couple lines, I get this error:
[code]

[code]

[2018-09-14 00:59] PetrochukM commented on #11680
Leaving this issue up because the error is not super clear. The problem was ``dim=0`` not ``dim=1``.

[2018-09-14 01:22] PetrochukM opened #11683 "Can't pickle local object 'DistributedDataParallel._register_nccl_grad_hook."
## Issue description

[code]

## Code example

[code]

## System Info

PyTorch version: 0.4.1
Is debug build: No
CUDA used to build PyTorch: 9.0.176

OS: Ubuntu 18.04.1 LTS
GCC version: (Ubuntu 7.3.0-16ubuntu3) 7.3.0
CMake version: version 3.10.2

Python version: 3.6
Is CUDA available: Yes
CUDA runtime version: Could not collect
GPU models and configuration:
GPU 0: Tesla P100-PCIE-16GB
GPU 1: Tesl

[2018-09-14 01:31] ragulpr commented on #10742
Would be great. I guess it's important to get this right as it would be basis for future test-infrastructure. Numpy finfo [currently contains](https://github.com/numpy/numpy/blob/master/numpy/core/getlimits.py):

[code]
For me;

* eps
* tiny
* max

Does just fine for now to be honest because I assume `torch.finfo(x).log()` for example would give `maxexp` but at relevant base.

Relevant:
Ongoing ch

[2018-09-14 01:37] yingjianling commented on #11327
@mcarilli Thanks a lot for your reply. I'll try that.

[2018-09-14 02:02] lamhoson commented on #1033
Any suggestion for latest complex tensor module to be used in PyTorch ?  I need one to handle my research works for complex numbers.

[2018-09-14 02:04] Roger-luo commented on #1033
@lamhoson working on it: https://github.com/Roger-luo/pytorch-complex

And please keep discussion in #755

[2018-09-14 02:06] Roger-luo commented on #755
The work in progress plugin (for CPU only in short term) is here: https://github.com/Roger-luo/pytorch-complex

Please feel free to give me issue and PR.

[2018-09-14 02:17] lamhoson commented on #1033
Noted with thanks.

发自网易邮箱 iPhone 版
On 09/14/2018 10:05, Rogerluo wrote:

@lamhoson working on it: https://github.com/Roger-luo/pytorch-complex

And please keep discussion in #755

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-09-14 03:13] zyoohv commented on #10577
And if I change the code

[code]

to

[code]

it works.

Until now, there are some method to overcome it, but I really hope pytorch can fix it.

[2018-09-14 03:27] DetectionIIT opened #11690 "make install error,python setup.py install error"
when performing "make install", error is produced. I use cuda8,cudnn6,gcc5.4.0
please tell me the whether GCC version is correct or not,and how to solve this error.
the path is blow:
export LD_LIBRARY_PATH=/usr/lib:/usr/lib/x86_64-linux-gnu

[ 97%] Linking CXX executable ../bin/db_throughput
CMakeFiles/db_throughput.dir/db_throughput.cc.o: In function `_GLOBAL__sub_I_db_throughput.cc':
db_throughp

[2018-09-14 03:28] jinfagang commented on #1668
This still a problem in PyTorch switch between CPU and GPU are really very annoying.

[2018-09-14 03:29] ngimel commented on #11680
`model = torch.nn.LSTM(10, 10).cuda()` without first setting device to args.local_rank is problematic.

[2018-09-14 04:41] svaisakh commented on #1668
#7535
I second @gobbedy.

A global device flag would be useful.

[2018-09-14 06:46] Sem-Kulish commented on #11570
Great,  `NO_CUDA=1 python3 setup.py build_deps develop
` works and only throws warning about gpu support as expected.

[2018-09-14 07:11] Oktai15 commented on #9062
@SsnL Please, check this issue again.

https://github.com/wengong-jin/icml18-jtnn/issues/13#issuecomment-421145545

Not only me found this problem.

[2018-09-14 07:42] SsnL commented on #9062
Ah yes. Sorry about that. I reran your code and it incorrectly triggers an assert error on master.

[2018-09-14 07:42] SsnL commented on #9062
[code]

[2018-09-14 08:05] #11570 closed

[2018-09-14 08:22] tobyclh opened #11691 "RandomSampler iter methods cause failure with huge dataset size"
## Issue description
I created a video dataset where which each data includes only a few frames,
including all the permutation, this makes the total size of the dataset stupidly huge (higher than 1e9).
Whenever I try to set shuffle=True in dataloader, the system kills the process for taking too much resource.
After some investigation, it is
`iter(torch.randperm(len(self.data_source)).tolist())`
in

[2018-09-14 08:34] noUmbrella opened #11692 "When I perform A= torch.potrs(B, torch.potrf(C)) in pytorch, even both B and C are in GPU, this commond takes up a lot of CPU, why? Thank you for your reply."
If you have a question or would like help and support, please ask at our
[forums](https://discuss.pytorch.org/).

If you are submitting a feature request, please preface the title with [feature request].
If you are submitting a bug report, please fill in the following details.

## Issue description

Provide a short description.

## Code example

Please try to provide a minimal example to repro the

[2018-09-14 08:37] noUmbrella commented on #11692
When I perform A= torch.potrs(B, torch.potrf(C)) in pytorch, even both B and C are in GPU, this commond takes up a lot of CPU, why? Thank you for your reply.

[2018-09-14 09:31] arnaghizadeh commented on #9996
I have the same error and it seems package 0.4.0 is not in conda.

[2018-09-14 09:52] jinfagang commented on #1668
After a while digging. I suggest using:

[code]

and then replace .cuda() with .to(device)

[2018-09-14 09:59] petered opened #11695 "Feature Request: Automatically Cast to torch tensor"
Numpy automatically casts inputs to ndarrays when doing operations on them.  For example:
[code]
Pytorch fails instead:
[code]

It would be nice for Pytorch to do type-casting internally like numpy does.

cc @mruberry @rgommers @heitorschueroff

[2018-09-14 10:16] gabriellap commented on #6840
@pjh5 Any update on this unified installation? I have been unable to install pytorch and Caffe2 in the same environment on Ubuntu 16.04.

[2018-09-14 11:18] arnaghizadeh commented on #9996
For future readers, in the end I had to use model.cpu() for sharing between threads and in each thread used model.cuda() to do the actual training. I have done that with version 0.4.1 because 0.4.0 has some weird issues on pickles. I hope the sharing problem solves soon so we don;t have to use such hacky and inefficient methods.

[2018-09-14 14:17] soumith commented on #9935
closed via https://github.com/pytorch/pytorch/pull/11699

[2018-09-14 14:17] #9935 closed

[2018-09-14 14:17] soumith commented on #5431
closed via https://github.com/pytorch/pytorch/pull/11699 (merging shortly)

[2018-09-14 14:17] #5431 closed

[2018-09-14 14:29] arnaghizadeh commented on #7535
Hi, this feature is an absolute requirement, please make it happen.

[2018-09-14 14:30] yaroslavvb commented on #11672
I think that's just the stack trace of the launcher process that's waiting for children python processes. To figure out why child python process is hanging you could get its pid and do

gdb -p <pid>
# for main thread
gdb bt
# or for all threads
gdb apply all bt

[2018-09-14 14:37] t-vi commented on #11692
This could be related to #11333

[2018-09-14 15:30] ezyang commented on #9996
@arnaghizadeh If you upgrade to master past 0.4.1, this should fix your problem.

[2018-09-14 15:37] arnaghizadeh commented on #9996
@ezyang do you guys have any nightly builds for us to use?

[2018-09-14 15:40] t-vi commented on #11325
I must admit I don't fully buy the idea, and it starts with "excluding the most commonly used ones". I always need to remember which is which when using numpy.

[2018-09-14 15:44] ezyang commented on #10577
This really sounds like we're failing to synchronize before saving out a CUDA model.

[2018-09-14 15:47] kleisauke commented on #9797
I've also encountered this when building Caffe2 in a submodule. Solved it myself with this commit: https://github.com/kleisauke/pytorch/commit/f247ee200f359768722e04e7c374665b394d9f42.

I'm not going to open a PR, because I'm not sure if this is the right solution (for e.g. ATen is still built in `${CMAKE_BINARY_DIR}/aten`). You may use, modify, copy, and redistribute this contribution, under the

[2018-09-14 15:50] ezyang commented on #11683
ISTR I turned on hook serialization. I guess it's undesirable. Should be an easy fix.

[2018-09-14 15:53] ezyang commented on #11683
@PetrochukM Could you please try this patch and see if it resolves the problem?

[code]

[2018-09-14 15:53] mcarilli commented on #11327
`docker pull pytorch/pytorch` pulls the official Pytorch container, created by Facebook people, which contains (as far as I know) Pytorch 0.4.1.

The 18.0* containers are Nvidia-created containers, available through Nvidia NGC.  They contain snapshots of Pytorch master that are updated on a rolling basis, but the snapshots in publicly available NGC containers tend to lag behind top of tree master

[2018-09-14 15:56] SsnL commented on #8610
nah, they are locked properly

[2018-09-14 15:56] #8610 closed

[2018-09-14 15:57] SsnL commented on #11692
Because the GPU lapack operations are using MAGMA and in MAGMA usually an operation has some CPU workload because they haven't come up with GPU solution yet.

[2018-09-14 15:59] SsnL commented on #11691
If you are randomly permuting `1e9` numbers, you are going to be slow.

[2018-09-14 16:07] apaszke commented on #10735
@realdoug yes, that actually looks good!

[2018-09-14 16:11] #11430 closed

[2018-09-14 16:15] wangdongxuking61 commented on #11327
Now I tell my story...

At first, I want to run apex/example/imagenet/main.py with `fp16` on my server(have 2 V100, 56 logical core).

But I always got the `ConnectionResetError: [Errno 104] Connection reset by peer`and `EOFError`

at the last several iterations in first epoch.

So I go to see the pytorch's issues about `dataloader.py` . The [issue 10366](https://github.com/pytorch/pytorch/pull/10

[2018-09-14 16:18] ezyang commented on #9996
CC @pjh5  on nightlies

[2018-09-14 16:19] wangdongxuking61 commented on #11327
如果你不关心这个bug，只想使用pytorch训练的话，我建议试试这两种方法之一：
1、使用pytorch-0.4.0
2、使用torch.nn.parallel.DataParallel替代DistributedDataParallel

Translated as follows:
If you don't care about this bug and just want to use pytorch training, I suggest you try one of these two methods:
1 using pytorch-0.4.0
2 use torch.nn.parallel.DataParallel instead of DistributedDataParallel

[2018-09-14 16:19] saluto commented on #3625
I see problems with the current behaviour, too:

[code]

I expected, that `output.requires_grad_(True)` and `output.retain_grad()` have an effect on `output.grad` that is independent of `input.requires_grad`. That this is not the case seems really bad to me.

I suggest the following:

1. Remove any ability to change `requires_grad` directly by user (only indirect, see (2.)).
(It should be just a r

[2018-09-14 16:33] ezyang commented on #11327
@wangdongxuking61 We have some evidence that it is fixed in master. Would you mind doing a build of PyTorch master and seeing if it still has the problem? That would help a lot!

[2018-09-14 16:34] robd2 commented on #5411
Also having this issue. What is the best way to code around this behavior?

[2018-09-14 16:43] soumith commented on #8424
@jrios6 no, we dont plan to ever release MacOS CUDA binaries. We are not officially supporting PyTorch MacOS on CUDA.

[2018-09-14 16:46] zou3519 commented on #5411
x = torch.LongTensor([5]).to(dtype=torch.float) / torch.LongTensor([3]).to(dtype=torch.float)

[2018-09-14 16:46] soumith commented on #11692
closing based on @SsnL 's answer

[2018-09-14 16:46] #11692 closed

[2018-09-14 16:53] robd2 commented on #5411
how would you apply this to the example above by @jdhao ?

[2018-09-14 16:56] ezyang commented on #11340
I'm not terribly familiar with how the current Generator setup is, but some thoughts.

* Consolidating Generator, CPUGenerator, CUDAGenerator, THGenerator and THCGenerator is good news. Obviously we should still have a CPU generator and a CUDA generator, but no need for TH.
* Your plan talks about CUDA only. Are you also planning to adjust the CPU situation?
* Your proposed new CUDARNGState struct

[2018-09-14 17:06] zou3519 commented on #5411
[code]

[2018-09-14 17:09] scott-vsi commented on #9926
Here's a permalink: https://github.com/pytorch/builder/blob/7b30eb5388fdb6905b88b297b6727a264940dfb7/manywheel/build.sh#L3-L4

[2018-09-14 17:10] mcarilli commented on #11327
That's true, my tests indicated that the errors went away when I ran with a relatively recent version of Pytorch master (almost top of tree but not quite).  And dataloader.py pulls in utilities from other files as well, which may have been updated.

I provided instructions in [my last post](https://github.com/pytorch/pytorch/issues/11327#issuecomment-421402529) for how to build a container with th

[2018-09-14 17:10] #11625 closed

[2018-09-14 17:20] tobyclh commented on #11691
Thanks for the response.
But I didn't mean slow, but actual crashing.
The same behavior doesn't occur when I use numpy.
Is there something we can do to enhance this?

[2018-09-14 17:30] SsnL opened #11709 "Distributed DataSampler does not work with old distributed module"
We are moving to c10d, but people still have old code and will be reluctant to migrate. I've already found NVIDIA 's `apex` repo not working with c10d (cc @mcarilli ). So it would be good to provide an alternative solution to the data sampler.

cc @teng-li @pietern

[2018-09-14 17:30] SsnL commented on #11327
alright I'm training on a master build. i'll report back later.

[2018-09-14 17:36] pietern commented on #11709
@SsnL What part of apex doesn't work with it? torch.distributed should be fully backwards compatible and all the existing tests pass on the new implementation.

[2018-09-14 17:50] SsnL commented on #11327
Successfully gets to epoch 1

[2018-09-14 17:55] SsnL commented on #11709
@pietern They use `dist._backend` :(
https://github.com/NVIDIA/apex/blob/327b24469236e467ce3a91fac9fea6a3540af56d/apex/parallel/distributed.py#L132

In the mean time, it would be cool to add a public API that gets the backend. Would be quite useful in `env` init method.

[2018-09-14 17:58] SsnL commented on #11327
@wangdongxuking61 If you could give me a docker image name that can repro the issue, I can try again. In the meantime, I also would suggest a master build. Note that you may need to change a the apex code according to this patch: https://gist.github.com/SsnL/6427cbf04a3c5e765f7de6e0874cfb50, and pytorch's `torch/utils/data/distributed.py`'s import to `import torch.distributed.deprecated as dist`.

[2018-09-14 18:01] ragulpr commented on #10742
Working on it. Just started with moving things.
https://github.com/ragulpr/pytorch/tree/extend-finfo

I'm going into the deep end when thinking about unit tests.
Do we define the constants w.r.t the C++ assumed [numeric limits](https://en.cppreference.com/w/cpp/types/numeric_limits) or based on torch.eq-operator? And where can I find those definitions?

Examples;
[code]

Any pointers @fritzo? 😃

[2018-09-14 18:04] mcarilli commented on #11709
@SsnL Thanks for pointing this out.  If that's the only point of incompatibility, it's quite minor and easily fixed (as you can see, the only purpose is to check if we're using gloo rather than nccl).

Is there a better/blessed way to check which backend is currently in use?  I can't spot any such logic in c10d distributed (although strangely, I do see a place where `torch.cuda.nccl` [is accessed

[2018-09-14 18:04] fritzo commented on #10742
See https://github.com/pytorch/pytorch/blob/master/torch/distributions/utils.py#L8

[2018-09-14 18:08] SsnL commented on #11709
@mcarilli Per @pietern 's comment above, it might be the only incompatibility, but I haven't tested.

I'm also curious about that too. Maybe @pietern or @teng-li can tell us more.

That line looks weird to me as well.

[2018-09-14 18:11] neighthan commented on #4031
I've had this issue a couple of times as well. I added a function to a small repo of GPU utilities that I have to kill processes that are using GPUs as shown by `lsof /dev/nvidia*` but which aren't listed by `nvidia-smi`. Take a look [here](https://github.com/neighthan/gpu-utils/blob/c6329f21fa3780ee89985b7974194cb808643f5c/gpu_utils/utils.py#L114) if you're interested.

[2018-09-14 18:11] PetrochukM commented on #9985
@SsnL Patched in the new data_loader works great, having leaked semaphore problems though. Similar to @vrt1shjwlkr.

I leak about one semaphore per data_loader worker.

[code]

[2018-09-14 18:16] SsnL commented on #9985
Hmm that does look weird. Do you have a small script that I can repro the issue?

[2018-09-14 18:39] weiyangfb commented on #11201
closing this now, please feel free to reopen it if needed

[2018-09-14 18:39] #11201 closed

[2018-09-14 18:42] syed-ahmed commented on #11340
Thanks for the feedback!

Yes, I do plan to adjust the CPU situation. How I'm looking at it is, the current notion of `Generator` is confusing in the framework. That is, generator is referred to as the **state** of a generator in pytorch, whereas I would refer a generator to be the **engine** used to generate pseduo random numbers. Since there is this confusion, you will see that the `THCState` ha

[2018-09-14 19:00] davidmascharka opened #11714 "[Feature Request] ModuleDict non-string keys"
## Issue description

Currently, `ModuleDict` only supports string keys:

[code]

It would be lovely if non-string keys were allowed in `ModuleDict`.

cc @albanD @mruberry

[2018-09-14 19:30] pietern commented on #11709
Unlike the previous version of torch.distributed there may be multiple backends in use at the same time (e.g. cpu side send/recv as well as NCCL), but you will need to work with the groups API to be exposed to that. There is the `get_default_group` function you can use to get the global/default group.

In the light of backwards compatibility I'm re-adding the _backend property, with the caveat tha

[2018-09-14 19:34] SsnL commented on #11709
@pietern I made a PR at #11715  trying to address this. It would be great if you can comment on that. :)

[2018-09-14 19:44] pietern commented on #11709
ACK, thanks :)

[2018-09-14 19:51] benoitsteiner commented on #10742
@ragulpr: I started looking into this yesterday. I started to create a new FInfo class in aten/src/ATen/core, and add an accessor in aten/src/ATen/core/Type.h to create and return a FInfo object for the current Type. WDYT ?

[2018-09-14 20:26] t-vi commented on #11360
There also is [mallopt with M_TRIM_THRESHOLD](https://github.com/pytorch/pytorch/issues/11360#issuecomment-421460118) that seems to work more automatically. It'd be interesting to know what the glibc heuristic makes out of pytorch's allocation pattern.

[2018-09-14 20:30] #7073 closed

[2018-09-14 20:38] zou3519 commented on #11360
The interesting thing is that on python 2.7, the RSS memory usage of test_jit goes:
200mb ... 4 gb (at test_snli) ... stays ~4gb

While on python 3.7, the RSS memory usage goes:
200mb .. 4 gb (at test_snli) .. 1.3gb (after test_snli)

Not really sure why that happens but I guess it doesn't matter

[2018-09-14 20:41] #11663 closed

[2018-09-14 21:43] moonlightlane commented on #11662
@SsnL does this appear to be a bug in the RNNCell with ReLU?

[2018-09-14 21:50] soumith commented on #1033
locking the issue so that everyone can move to https://github.com/pytorch/pytorch/issues/755 for discussion

[2018-09-14 22:35] jamesr66a commented on #10916
This seems to be fixed

[2018-09-14 22:35] #10916 closed

[2018-09-14 22:42] PetrochukM commented on #9985
Found it, took a couple hours to isolate. ``DataLoader`` when interacting with ``DistributedDataParallel`` and ``tqdm`` tends to break.

[code]
[code]

[2018-09-14 22:49] SsnL commented on #9985
@PetrochukM Nice! Thanks a bunch. I've successfully reproduced.

[2018-09-14 23:04] PetrochukM commented on #11680
Thanks! This worked, sorry I missed that.

[2018-09-14 23:04] #11680 closed

[2018-09-15 00:55] #11452 closed

[2018-09-15 01:17] vishwakftw commented on #11660
I believe this can be closed (#11661 has been merged into master).

[2018-09-15 01:34] #11660 closed

[2018-09-15 01:47] soumith commented on #10742
@benoitsteiner that sounds good to me.
@ragulpr @benoitsteiner between both of you, please figure out who's working on it, so that the other doesn't duplicate work and gets frustrated :)

[2018-09-15 01:48] henrylee2570 commented on #10577
neither `time.sleep()` nor save 'model.cpu()' helps me out, I still have the issue...

[2018-09-15 03:07] SsnL opened #11727 "Semaphore leaks"
Reported by @PetrochukM.
[code]

Example warning:
[code]

[2018-09-15 03:07] SsnL commented on #9985
I'm opening a new issue at #11727  to track this!

[2018-09-15 05:57] asdfzxh8 commented on #630
nst as interesx or exp or not about it

[2018-09-15 06:00] shengzhang90 opened #11728 "How to reshape a blob_out or tensor in Caffe2 with python API?"
Dear authors:
  I am a newer in Caffe2 framework, So I want to know How to reshape a blob_out or tensor in Caffe2 with python API?
  For example, like a numpy ndarray A with shape [16, 24, 28, 28], I want to reshape it to B with shape
[16, 3, 8, 28, 28], I have found some information in Caffe2 Official Wed. Although I can solve it with Net.Python() interface, it is tedious. Are there any easy solu

[2018-09-15 09:05] wangdongxuking61 commented on #11327
@mcarilli @ezyang @SsnL

Thank you all. I have built PyTorch master. The problem disappears.
BTW, who can explain the reason of the bug?

[2018-09-15 09:11] wangdongxuking61 commented on #11327
As i said before, i can't reproduce the `shut down on second epoch` error.
But I can easily reproduce the `ConnectionResetError: [Errno 104] Connection reset by peer` or `EOFError` error with
- python 3.6
- torch0.4.1
- apex/example/imagenet/main.py
[code]

[2018-09-15 09:47] #11691 closed

[2018-09-15 10:08] noahcao commented on #10577
@henrylee2570 sure that enough disk space for path to save model?

[2018-09-15 15:26] mingminzhen opened #11730 "can pytorch dataparallel scatter less batch size for the master gpu card?"
For some task like segmentation, the label and loss computation will need some larger memory than general task, which leads to large memory consumption for mater gpu card.
How can I set the master card (gpu:0) less batch size than other slave gpu cards?
For example, batchsize(5) and gpus(2) will lead to scatter results (3, 2) for 0,1 cards;
batchsize(5) and gpus(3) will lead to scatter results (2,

[2018-09-15 15:35] 1013553207 commented on #5805
yes, thanks

[2018-09-15 18:16] SsnL opened #11732 "Segfault in dataparallel + checkpoint"
Reproducible on master. Reported at https://discuss.pytorch.org/t/segmentation-fault-when-using-checkpoint-and-dataparallel/25247

[code]

Author of the post also provided GDB trace
[code]

[2018-09-15 20:45] SsnL commented on #10532
Update: doesn't trigger with `relu_` instead of `threshold_` hmm. keep looking

[2018-09-15 22:01] PetrochukM opened #11734 "Silent Failure"
## Issue description

``None`` passed as an index a tensor does not throw an error. This causes a silent failure which is not against PyTorch's design goals. Also, this behavior is inconsistent with Python's list handling of this situation.

## Code example

Current behavior
[code]

Expected behavior:
[code]

[2018-09-16 01:34] jinwchoi opened #11735 "Caffe2 installation: libcaffe2_gpu.so: undefined reference to `caffe2::ClipTransformRGB"
Hi all,

When I try to install Caffe2 with CUDA, CUDNN, OpenCV and FFMPEG enabled, I got errors:
------------------------------------------------------------------------------------------------------
/home/jinchoi/src/pytorch_new2/build/lib/libcaffe2_gpu.so: undefined reference to `caffe2::ClipTransformRGB(unsigned char const*, int, int, int, int, int, int, int, int, int, int, int const*, int cons

[2018-09-16 02:42] chengs commented on #11727
If ``torch.multiprocessing`` follows the same rules as in the original ``multiprocessing``, ``set_start_method`` should be called inside ``__main__``.

If you do that, this problem disappears.

REF: https://docs.python.org/3/library/multiprocessing.html#multiprocessing.set_start_method

[2018-09-16 03:29] ngimel opened #11736 "[jit] jit backward does not work if a tensor that required grad was broadcast in forward"
[code]
produces
[code]
Same error with `jit.trace`.

[2018-09-16 04:40] tobyclh commented on #11691
@fmassa
Thanks again for the kind and helpful reply.
I agree with you, and that's the way I went down.

For future reference who stumble on this,
instead of referencing the normal random sampler,
try to have a look at how BatchSampler handles large list with yield statement to generate random numbers on the fly.

[2018-09-16 05:46] bonlime opened #11737 "torch.utils.cpp_extension.load doesn't change device after moving the model"
## Issue description
After using torch.utils.cpp_extension.load, returned module always puts tensors at GPU 0 ('cuda:0')
It causes problems when model is moved to another GPU.
In my example I used code from https://github.com/mapillary/inplace_abn
See also mapillary/inplace_abn#52

## Code example
[code]
## System Info
Please copy and paste the output from our
[environment collection script](https

[2018-09-16 05:58] PetrochukM commented on #11727
@chengs

The docs mention this to protect against calling ``set_start_method`` twice. Those docs don't address the fundamental problem between ``RLock`` and ``set_start_method``.

The code would still break if everything was moved inside the ``if __name__ == '__main__':`` statement.

[2018-09-16 06:14] chengs commented on #11727
@PetrochukM
This works on my env.
[code]

[2018-09-16 06:33] PetrochukM commented on #11727
I said “everything” yet you didn’t include the RLock statement inside the if statement...

—————————

The issue here is not that you cannot avoid this problem. The issue is that it’s not good software engineering if a function or package has a undocumented and hard to spot side affect.

[2018-09-16 06:40] chengs commented on #11727
I tried ``everything`` like this and it still works without warning...
[code]

This I agree, there may be a way to avoid using ``RLock`` inside tqdm, to have better compatibility, although if a dev follows the document (I mean multiprocessing), this conflict can be avoid in a high possibility.

[2018-09-16 07:44] chengs commented on #11727
@PetrochukM if you add a marker output before ``set_start_method`` like this:
[code]

You will see that ``I am setting`` appears 5 times, **which means ``set_start_method`` is called more than one time**. However, I think we agree that ``set_start_method`` should only be called one time.

So, IMHO, this example code is biased as I does not follow the requirement about ``multiprocessing``.  It is n

[2018-09-16 08:07] chengs commented on #11727
@PetrochukM if you add a marker output before ``set_start_method`` like this:
[code]

You will see that ``I am setting`` appears 5 times, **which means ``set_start_method`` is called FIVE times. However, I think we agree that ``set_start_method`` should be called ONLY one time according to the document. (https://docs.python.org/3/library/multiprocessing.html#multiprocessing.set_start_method)**

[2018-09-16 09:31] vishwakftw commented on #10258
@themightyoarfish Can you check now? It seems to have been resolved, possibly due to a Sphinx upgrade.

[2018-09-16 13:48] BPavol commented on #10483
Are there any compiled versions(maybe unofficial) for Windows without SSE4.3 requirement for older CPU?
I try compile from source but on my laptop it already takes 8 hours!
And still it didn't work because of another issue(https://github.com/pytorch/pytorch/issues/11203).

[2018-09-16 17:21] SsnL opened #11739 "empty embedding bag not properly handled on CUDA"
They return NaN rather than zeros, as described by doc. See https://discuss.pytorch.org/t/is-this-a-bug-in-torch-nn-embeddingbag/25277.

[2018-09-16 20:30] xuanqing94 opened #11742 "runtime error when combining DataParallel with register_buffer"
PyTorch 0.4.0 or 0.4.1 from conda

Minimal code:
[code]
The code can be executed without error, but when changing the line
[code]
to
[code]
then it says "RuntimeError: one of the variables needed for gradient computation has been modified by an inplace operation"

[2018-09-16 21:03] EtienneDesticourt commented on #7857
I feel like there should be a warning/reminder along with this example that the distribution will sometimes return -inf when Uniform returns 0.

[2018-09-17 00:04] SsnL commented on #11742
I am claiming because I know the case. Part of #11476 describes it.

[2018-09-17 00:05] SsnL commented on #11730
You can move the label and loss computation inside your model and parallelize those to different GPUs as well.

[2018-09-17 01:07] GitHubGS commented on #9926
I tried, but not works, still version number:0.5.0a0+a24163a
I did the following:
export PYTORCH_BUILD_VERSION=0.4.1
export PYTORCH_BUILD_NUMBER=1
sudo python3 setup.py install

then open python3
import pytorch
print(torch.__version__)
 0.5.0a0+a24163a

[2018-09-17 03:54] simonwang517 commented on #6421
@iamlockelightning Cloud you please tell me what's your software enviroment mistake? I met the same issue as you.
Thx

[2018-09-17 05:58] ShahriarSS opened #11746 "[Caffe2] Problem with copying CUDA tensor to CPU tensor"
Hi. I was working on a previous Caffe2 C++ code that I wrote that worked before but now it just keeps crashing. I wrote a simple code to see if it works but it did not. The problem is copying CUDA tensor to CPU tensor I think. Here is the code:

[code]

There are not much examples for Caffe2 with C++ but from what I could gather I think this code should work.

My operating system is fedora. My gra

[2018-09-17 06:04] mingminzhen commented on #11730
@SsnL Is there any example for that?

[2018-09-17 07:18] yingjianling commented on #11327
@wangdongxuking61 @mcarilli Thank you for your reply. The problem has been solved by building master.

[2018-09-17 08:03] zuoxingdong opened #11747 "[distributions]: Creating `Categorical` is 100x slower than `Normal`"
In RL, we often need to create a distribution over actions at each time step during rollout by using the policy network to select actions. It seems now creating `Categorical` distribution is much slower than `Normal` distribution during rollout.

## Toy code:

[code]
gives
[code]
which almost 180x slower for `Categorical`.

By tracing back to the code, it turns out the slow part is contributed by

[2018-09-17 09:16] t-vi opened #11750 "ctc_loss backward doesn't deal well with grad_out"
Several bits of the equations aren't multiplied by gradient out, both for CPU and GPU.

[code]
Expect: 0, but will see all sorts of things.

This also affects the various reductions, in particularly the default `elementwise_mean`.

I have a fix but want to add autograd tests...

[2018-09-17 09:53] saluto opened #11751 "Segfault in autograd using hook"
## Issue description

I found several errors in autograd:
* Segfault during `.backward()`/`.grad()` when using hook (e.g. through `.retain_grad()`) on non-reachable tensor, whose grad is implicitely calculated (`= 0`) because it is an output of a function in the gradient graph but is independent of the backprop root tensor. (See code and traceback below.)
* No hook is called if this non-reachable

[2018-09-17 09:54] ragulpr commented on #10742
Sounds good @benoitsteiner! Sounds like a more permanent solution so I suggest you take over. Any examples on usage?
One thing that would be a plus over the current version would be if Finfo eps for example would be a torch scalar of appropriate type.

[2018-09-17 11:20] fab-jul opened #11752 "nn.CrossEntropyLoss() yields wrong output for big logits"
## Issue description

`nn.CrossEntropyLoss()` yields incorrect results for big logits.

## Code example

[code]

`loss_small` should be equal to `loss_big`, as both `y_small` and `y_big` contain logits that correspond to the same distribution. However, the output of the above is:

[code]

Note that the output is correct (`loss_fixed == loss_small`) if I apply the trick `softmax(x) = softmax(x - c)

[2018-09-17 11:42] Palmitoxico commented on #9797
I've been building and installing a statically compiled version since then, but your solution seems much better. I'll try it out.

Thank you!

[2018-09-17 12:08] celticssssss opened #11754 "[Caffe2]I don't know whether GPU support is right,No handlers could be found for logger "caffe2.python.net_drawer""
## Issue description
I install Caffe2 based on the website:
https://caffe2.ai/docs/getting-started.html?platform=ubuntu&configuration=compile

After command 'sudo make install -j20' is finished, i type:
cd ~ && python -c 'from caffe2.python import core' 2>/dev/null && echo "Success" || echo "Failure"

Then, the result is 'Sucess'.

After that, i want to know whether GPU support is right ,i type co

[2018-09-17 13:41] ahmadsalim opened #11755 "[feature request] Component-wise transform of elements for multi-variate distributions"
Hi Torch devs!

I am thinking of adding a PR with a component-wise transform for multi-variate distributions (under https://github.com/pytorch/pytorch/blob/master/torch/distributions/transforms.py).
I already have the code ready, since I am using it to transform Multivariate Normals in a pyro-ppl model.

I read in the contribution guide that potential PRs should be discussed here before. Would you

[2018-09-17 13:52] vishwakftw commented on #11755
cc: @fritzo @alicanb @neerajprad

[2018-09-17 13:56] alicanb commented on #11755
Can you give an example?

[2018-09-17 14:09] ahmadsalim commented on #11755
Sure!
I have a model where some of the observed variables are angles and distances, which I want to correlate. So I am using a multivariate normal to represent a vector of an angle and a distance, and I transform the angle by wrapping and the distance by exponentiation (so I get a log-normal prior on the distance component).

More formally, let us assume that we have some vector of random variable

[2018-09-17 14:16] sh0416 commented on #8856
Can I ask you what is problem? I also encounter this problem, but I don't want to use master branch. just use 0.4.1 stable version.

[2018-09-17 14:27] sh0416 commented on #8856
I don't understand what is problem, but my resolution is this.

Don't use .to(device). Use .cuda().

Also, type of indices and values must be cuda() to naturally infer the type of sparse tensor.

[2018-09-17 14:45] chenwc07 opened #11756 "RuntimeError: NCCL Error 1: unhandled cuda error"
## Issue description
Get `NCCL Error 1: unhandled cuda error` when using DataParallel
I wonder  what's wrong with it because it works when using only 1 GPU, and cuda9/cuda8 got the same problem

## Code example
I ran:
`testdata = torch.rand(12,3,112,112)`
`model = torch.nn.DataParallel(model, device_ids=[0,1,2,3]).cuda()`
`out = model(testdata)`

then i got:
RuntimeError

[2018-09-17 14:52] chenwc07 commented on #11756
I forget to mention that the same DataParallel code can work perfectly on Nvidia GeForce Titan x *4

[2018-09-17 14:57] SsnL commented on #11327
@wangdongxuking61 I believe those have been fixed in master as well.

[2018-09-17 14:57] #11327 closed

[2018-09-17 15:05] fritzo commented on #11755
To me the most natural way to compose transforms would be through classes `CatTransform` and `StackTransform` that mimic the shape behavior of `torch.cat` and `torch.stack`, including a `dim` kwarg. In particular these would play well with broadcasting for e.g. batching. @ahmadsalim I think `CatTransform` is pretty close to your component-wise transform.

[2018-09-17 15:08] joxeankoret commented on #11326
Any news regarding this? I'm hitting the same error myself and I'm wondering how to fix it.

[2018-09-17 15:09] ezyang commented on #8856
Yes, it was because we weren't initializing CUDA on all codepaths that we should have. Basically, if you do some cuda operation before you invoke torch.cuda.sparse.FloatTensor, that will be sufficient to workaround.

[2018-09-17 15:28] ezyang commented on #11746
Yes, the problem is that `caffe2::TensorCPU` no longer does what you think it does.  You need to do something like `caffe2::Tensor T1(T, caffe2::CPU);` to initiate a copy to CPU.

CC @jerryzh168 maybe we should just delete the `TensorCPU` and `TensorCUDA` aliases; they are a bug farm.

[2018-09-17 15:32] ezyang commented on #11737
It's a bug in `inplace_abn`. I'll comment on the issue there.

[2018-09-17 15:32] #11737 closed

[2018-09-17 15:41] vishwakftw opened #11757 "Unable to build PyTorch from source without NumPy support"
## Issue description

So far, all the builds in the CI have had NumPy support, meaning that this issue has not been exposed in its entirety yet.

I tried to build PyTorch without NumPy support, and it wasn't possible at first. Editing `Dependencies.cmake` made sense to accomplish this, but then it seems that Caffe2 requires NumPy support.

This is the error I got after (almost) building PyTorch.
[

[2018-09-17 16:06] ahmadsalim commented on #11755
@fritzo Thanks for the suggestion.
As far as I understand these are hypothetical transformations, right? 😄

In that case, I can take a look whether to implement them.

[2018-09-17 16:11] syed-ahmed commented on #11340
@gchanan @ezyang @SsnL I'm not done with the PR yet but here is a diff showing what I'm thinking: https://github.com/syed-ahmed/pytorch/commit/36278a00db089104bccac89d14ed3db8b6ba1237

In summary, Generators will have a struct/state called CPUGenerator/CUDAGenerator. Each of these structs will have PRNG engines (for instance, for CPU you can have `std::mt19937` and for CUDA, I'm defining Runtian's

[2018-09-17 16:26] fritzo commented on #11755
@ahmadsalim yes these `StackTransform` and `CatTransform` are hypothetical, but they are natural objects (functors) with clearly defined semantics:
[code]

[2018-09-17 16:36] gchanan opened #11760 "Unable to build without NO_TEST=1 set"
I get the following when running `python setup.py build_deps develop` on commit f6a6d7fae17a1003e2e40735abe0d94b6a59dbac.

https://gist.github.com/gchanan/90d1a6011ce337fccd08ba260fcd1267.

[code]

[2018-09-17 16:46] BPavol commented on #11203
I encounter same problem with exact same error message. I have Windows 8.1, VS 2017 Community edition and build tools v15.8.4. I checked PyTorch repo yesterday and update all git submodules. I have CUDA 9.2 installed too.

In ArrayRef.h line 152 is used macro:
[code]

So condition
[code]
isn't satisfied because of error message, but I don't know why.

[2018-09-17 16:49] vishwakftw commented on #11757
I'll take this up.

[2018-09-17 16:56] #11750 closed

[2018-09-17 16:56] syed-ahmed commented on #11340
I have couple of questions:
1. Regarding generator UX: when we set the seed of the generator engine (for instance: philox), do we reset its state, i.e. for instance philox needs an `offset`, do we set the offset to zero when we set the seed everytime? For the CPU side, if we were to use `std:mt19937` and called `seed(123)` on it, `std` does a re-init before seeding the engine.
[code]
2. The defaul

[2018-09-17 17:04] henrylee2570 commented on #10577
@noahcao turns out `time.sleep()` was skipped sometimes in the main process, no idea why it happens... it does help if time.sleep operates properly, I'm ok now, thanks!

[2018-09-17 17:31] justinkterry opened #11762 "Incredibly unhelpful error message for giving missing channels to conv2d layer"
I was trying to implement lenet, with the following net layout:

[code]

When run, the following error shows up on `out = self.conv1(x)`:

[code]

The issue was that I didn't add a 1 dimension to the channel for the data I was feeding into it. This error message is essentially impossible to derive any useful information from to someone new to PyTorch, for something that I'm sure is an incredibly c

[2018-09-17 17:34] apaszke commented on #11340
1. Yes. Two generators (of the same type) that received the same seed should always produce the same random sequence. If we didn't reset the offset, then they might produce different results if they were used a different number of times.
2. That doesn't concern me. We don't guarantee that our operations return the same results across devices. If you want to reproduce someone else's results, you sh

[2018-09-17 17:35] ezyang commented on #11203
What if you comment out the `AT_CHECK` here?

[2018-09-17 17:35] streamnsight commented on #975
I can also report that I see `set_num_thread` has no effect

Another 'funny' behavior I notice using the `OMP_NUM_THREADS` and `MKL_NUM_THREADS` variables, is that with my machine, a Dual Xeon, setting those to `N` ends up spinning `2N` threads except for N=1, so `OMP_NUM_THREADS=2` results in 4 threads, `OMP_NUM_THREADS=3` results in 6 threads etc...

I'm using a simple nn.Linear layer for testin

[2018-09-17 17:39] ezyang commented on #11340
It might be nice if we optionally had a CPU RNG implementation that was bit-for-bit compatible with the CUDA one, though :) But that's a separate matter.

[2018-09-17 17:39] SsnL commented on #11730
Not really, but it should be very straightforward to do that. You can just move it in the `forward()` definition and return the loss. DataParallel will gather the losses to main GPU, and you can do backward on that loss on main GPU.

[2018-09-17 17:39] #11730 closed

[2018-09-17 17:41] zou3519 commented on #11714
@davidmascharka what is your use case? You can use str(int) to make it into a string.

[2018-09-17 17:42] apaszke commented on #11340
Oh, for sure. It would be awesome if we could implement a CPU-side Philox that would match/improve the perf of our mersene twister, and give us the same results as we get in CUDA land. I'm not sure if that's possible though, since the way we partition the workload on CPU and GPU are quite different.

[2018-09-17 17:45] zou3519 commented on #11690
What are you trying to install?

[2018-09-17 17:48] SsnL commented on #11662
@moonlightlane Yes it is a bug. You are correct.

[2018-09-17 17:50] jerryzh168 commented on #11746
@ezyang These are there since we still have a few codemod that's not done, e.g. Get<TensorCPU> -> Get<Tensor>(CPU).

But for the code above, shouldn't the default constructor of Tensor be deleted?

[2018-09-17 17:53] zou3519 commented on #11635
For `:` you can just use -1.
In your example, you can do:
[code]

[2018-09-17 17:59] SsnL commented on #11624
I didn't read the referenced paper, but how is min mode different from max mode + negation? If the weights are initialized to symmetrical distribution centered around 0, it should be equivalent.

[2018-09-17 18:01] zou3519 commented on #11578
@apaszke had some thoughts about this from a few months back

[2018-09-17 18:10] pietern commented on #11672
@bearpelican @yaroslavvb These being full on processes I don't think they will show up in gdb for the parent. You can use ps to figure out the PIDs of the child processes and run gdb on them separate to figure out where it is hanging.

[2018-09-17 18:13] davidmascharka commented on #11714
Mainly I'd expect something called `*Dict` to behave like a dictionary. That is, I'd expect any hashable object to work as a key. Calling `str` on my ints (or otherwise formatting them) is what I'm doing now, but avoiding that intermediate step would be nicer.

[2018-09-17 18:32] fmassa commented on #11752
I think this boils down to `log_softmax`.

[code]
yields
[code]

I'm not yet sure where the problem is (I couldn't find anything suspicious from a quick look at [the CPU code](https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/SoftMax.cpp#L44-L60)), but for information it works as expected if we cast the tensors to double precision
[code]
gives
[code]

[2018-09-17 18:34] zippeurfou commented on #11624
I am unsure I am the best person to answer but I guess it would be fine since:
`-np.max(-np.array([1,2,3,4,5,0,-1,-2,-3])) == np.min(np.array([1,2,3,4,5,0,-1,-2,-3]))`
The TLDR of the paper:
If you return min,mean,max and odd power mean, your embedding trigger better result than just the mean. Therefore, an feature suggestion of the embeddingBag would be to:
1) be able to get pmean (starting with

[2018-09-17 18:35] pietern commented on #11756
@chenwc07 Very weird that it works on Titan X and doesn't work on Titan Xp...

Can you try running with CUDA_LAUNCH_BLOCKING=1 to make sure the error from _broadcast_coalesced is not an error that actually happened elsewhere but only surfaces at that call?

[2018-09-17 18:36] SsnL commented on #11762
The error message looks perfectly fine and clear to me. It says that it expects a 4d input, and tells you that your input is only 3d. Also, how could it possibly know if you are missing channel dimension or just set the thing wrong? It will be more ambiguous if the input is `[1, 32, 32]`, so you can't even guess if channel or batch dimension is missing. It is far far from "incredibly unhelpful".

[2018-09-17 18:39] gchanan commented on #11760
Issue appears to be version mismatch in my conda install; uninstalling everything `intel` related seems to have fixed it.

[2018-09-17 18:39] #11760 closed

[2018-09-17 18:42] SsnL commented on #11624
Ah that makes more sense. So the point is to use multiple modes simultaneously to get more info from the embedding, similarly to using multiple moments for a distribution. Thanks for the explanation.

A possible current workaround is to use `torch.nn.embedding_bag` function to get `torch.nn.embedding_bag(weight, mode='max')` (as max mode) and `torch.nn.embedding_bag(-weight, mode='max')` (as min m

[2018-09-17 18:44] pietern commented on #8254
No longer relevant now that torch.distributed is ported.

[2018-09-17 18:44] #8254 closed

[2018-09-17 18:51] bearpelican commented on #11672
Setting ```mode = CUDNN_BATCHNORM_SPATIAL``` seems to fix it for my minimal example on a single machine:
https://gist.github.com/bearpelican/4adcadce7f0687681bc9be2324ebafc8#file-train_c10d_deadlock-py-L73

However, when I move to 4 machines, each machine still hangs.
Not sure why it would make a difference. I'll run gdb on the child threads to see

[2018-09-17 18:51] soumith commented on #11762
I think the missing part in the error message (that I can relate to @justinkterry 's usage) is that it doesn't say: you gave me 3D, while I expected 4D.
It just says: "you gave me this shape, this is not a good shape for me."

[2018-09-17 18:55] ShahriarSS commented on #11746
Well thank you it solved this problem.

[2018-09-17 18:55] #11746 closed

[2018-09-17 18:56] pietern commented on #11364
What's happening is that process with rank 0 exits earlier than the other processes and takes down the TCP k/v store that it is hosting with it. This explains the "broken pipe" error. Adding a barrier to test teardown to fix this (and hopefully some other) flaky tests.

[2018-09-17 19:01] justinkterry commented on #11762
Southmith has it exactly right. The part about channels I was just
suggesting to  also include "maybe missing channel deminsion" to the
default message, because I suspect that that's by far the most common cause
of this error.

On Mon, Sep 17, 2018, 2:52 PM Soumith Chintala <notifications@github.com>
wrote:

--
Thank you for your time,
Justin Terry

[2018-09-17 19:05] justinkterry commented on #11762
What I also find confusing is that it says the input should be [6,1,5,5]
(the desired output not input of the first conv2d layer in lenet), when the
right input is [64, 1, 32, 32].

On Mon, Sep 17, 2018, 3:01 PM Justin Terry <justinkterry@gmail.com> wrote:

--
Thank you for your time,
Justin Terry

[2018-09-17 19:27] pietern commented on #11364
This is odd. The first process (rank 0) exits with code 0 (success) and the other two (ranks 1 and 2) exit with code 1 (presumably caused by the broken pipe error). BUT, there is a barrier call in `TestDistBackend._run` prior to exiting. Only explanation for this error so far is that the first process is falling through the barrier without actually waiting on the other processes to reach it.

[2018-09-17 20:35] pietern commented on #11364
Did some static analysis but no luck so far. With a single driver process for these tests that ends up spawning one sub process per rank, all tests are fully serialized, so there can't be any interference between tests on the barrier. The barrier code itself also looks sane and is completely reset between tests.

@teng-li Any takes on this?

[2018-09-17 20:35] vadimkantorov commented on #11752
`max_input` [seems to be computed](https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/SoftMax.cpp#L41-L42) across dimensions for every spatial location. Can this cause problems?

[2018-09-17 21:09] #8515 closed

[2018-09-17 21:11] pietern commented on #11582
Some of these print a difference of 74 between the expected error code and the actual error code. This can be explained by `SKIP_IF_NO_CUDA_EXIT_CODE` equal to 75 and the other processes exiting with code 1. The process group is initialized before the skipped test is called and exits with 75.

I think what's happening is that not all connections are fully setup before the first process runs the te

[2018-09-17 21:41] #11739 closed

[2018-09-17 21:44] SsnL commented on #11714
Here is a problem with generally hashable value: we need to register a string as the key to a submodule for things like saving state dictionary. While many things are hashable, not all of them hash to the same values when the same code is run in a different process. We can extend to allowing a broader set of types, e.g., including `int` and `float`, but it would be hard to allow generally hashable

[2018-09-17 21:47] thlinh opened #11776 "[PyTorch / ONNX] PyTorch torch.gather and ONNX gather generates different results"
If you have a question or would like help and support, please ask at our
[forums](https://discuss.pytorch.org/).

If you are submitting a feature request, please preface the title with [feature request].
If you are submitting a bug report, please fill in the following details.

## Issue description

Hi,
I'm working on converting PyTorch models to ONNX and I have a problem with gather() op. I run t

[2018-09-17 21:59] davidmascharka commented on #11714
@SsnL Python should be able to operate with a deterministic hash; it's possible to set [PYTHONHASHSEED](https://docs.python.org/3.7/using/cmdline.html#envvar-PYTHONHASHSEED) to disable hash randomization. Is there a more subtle issue (beyond dealing with versioning)?

[2018-09-17 22:10] SsnL commented on #11714
@davidmascharka Two problems with `PYTHONHASHSEED`:
1. We shouldn't touch global python flag (at least not by default) that changes behavior of other user code and other imported libraries.
2. Even if we use `PYTHONHASHSEED`, it only controls `str`, `bytes` and `datetime` objects. Other things like user defined hash functions still can't be controlled.

[2018-09-17 23:11] syed-ahmed commented on #11340
@apaszke Thanks for the comments. Could you please elaborate a little bit on what you mean by preserving same sequences across GPU architectures? I am a bit confused.

Also, does anyone know what should be the resolution for this comment in `THRandom.cpp`?

[code]

[2018-09-17 23:29] davidmascharka commented on #11714
Are user-defined hashes often salted/nondeterministic? I'm curious how big a problem that really is. Which types do we need to worry about having different hashes from run to run?

[2018-09-17 23:43] emmra commented on #11690
As you say, in the pytorch file

| |
郭伟
邮箱：guowei3158@126.com
|

签名由 网易邮箱大师 定制

On 09/18/2018 01:46, Richard Zou wrote:

What are you trying to install?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-09-17 23:47] SsnL commented on #11714
E.g. tensors hashes to their memory address locations. You asked about
generally hashable values. So I answered in terms of generally hashable
values.

That said, I already mentioned that we can probably relax to a larger set
of types, but even for things like Python byte array it will be hard
because there is no straightforward 1-to-1 correspondence between the
object and a string. So actually I

[2018-09-18 00:01] ezyang commented on #11746
@jerryzh168 Can't do it for PyTorch, we heavily rely on Tensors being copyable (with pointer semantics). For example, people regularly write `Tensor x = y;`

[2018-09-18 00:33] #11582 closed

[2018-09-18 01:28] wangdongxuking61 commented on #11327
yes, i get no error after building master . Thank you.

[2018-09-18 01:41] GitHubGS commented on #9926
@soumith thank you sir,
PYTORCH_BUILD_VERSION=0.4.1 PYTORCH_BUILD_NUMBER=1 sudo -E python3 setup.py install
it works!

[2018-09-18 01:51] vishwakftw commented on #10492
@zou3519 this can be closed now

[2018-09-18 01:55] zou3519 commented on #10492
Closing via #11634, thank you @vishwakftw :)

[2018-09-18 01:55] #10492 closed

[2018-09-18 01:59] upriser7 commented on #11412
@soumith I'd be happy to work on this if no else is

[2018-09-18 03:14] zippeurfou commented on #11624
Awesome thank you SsnL. I wonder if we could have a way to have some kind of embedding bag with our own "mode". Taking advantage of how embedding bag does the embedding (ie. using 1D tensor with offset as well as some memory advantage) while using our own functions. Maybe only part of it would really be totally optimized (ie. mean, sum, max) but overall it would make it easier for everyone and pot

[2018-09-18 03:36] justinkterry commented on #11762
For the filters in conv2d, because they're scanned across the image, that
isn't the case?

On Mon, Sep 17, 2018, 3:22 PM Tongzhou Wang <notifications@github.com>
wrote:

--
Thank you for your time,
Justin Terry

[2018-09-18 03:45] SsnL commented on #11762
What isn't the case? I'm confused. I was not saying that the weight shape is wrong...

The error message just says that it sees a 4-dimensional weight (with weight shape printed), so it expects a 4-dimensional input, but didn't (with actual input shape printed).

[2018-09-18 04:03] ezyang commented on #11751
cc @smessmer, since the stack trace is inside intrusive ptr

[2018-09-18 04:39] sytelus opened #11786 "Mysterious error due to num_workers: 1"
In one of my projects I started getting this error randomly:

[code]

One of the things I'm doing in my code is to train the model on CPU and test on GPU, so I basically do `model.to(...)` to move the model back and forth.

**Possible Cause and Solution**

I haven't yet figured out why exactly this is happening but it turns out that test DataLoader (which I want to use on GPU), had following param

[2018-09-18 05:24] alexeib opened #11788 "crash when trying to divide or multiply a large tensor on voltas, but not on pascal"
pytorch version: 0.5.0a0+b790bd4

 import torch; (torch.randn(547687296).cuda() / 2).sum()

on pascal:
tensor(6841.8892, device='cuda:0')

on volta:
THCudaCheck FAIL file=/private/home/myleott/src/pytorch/aten/src/THC/generated/../THCReduceAll.cuh line=317 error=77 : an illegal memory access was encountered
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
RuntimeError: cuda

[2018-09-18 05:58] BPavol commented on #11203
I try it but with no luck. Same error but on another line ArrayRef.h(134):
[code]

I trying it with commented body of macro AT_CHECK now, but i don`t think it is the right way. Compile time takes more than 9 hours on my laptop.

[2018-09-18 06:30] #10876 closed

[2018-09-18 07:03] stephane-archer commented on #11786
same problem for me when i set num_workers to something equal of bigger than 1

[2018-09-18 07:06] emmra commented on #11690
with "python setup.py install“ to install pytorch

[2018-09-18 07:08] fab-jul commented on #11752
Good insight, however, for double I get the same fail for `1e8 ** 2 == 1e16`:

[code]

[2018-09-18 07:10] stephane-archer opened #11790 "set num_workers on the dataloader make the jupyter kernel crash at the almost end of the epoch"
I had code that was running perfectly and I decided to update pytorch from 0.4.0 to 0.4.1

now the program crash close to the end to the first epoch if num_workers is set.

How to fix that?

[2018-09-18 07:16] peterjc123 commented on #11203
@BPavol You could use Ninja to accelerate CUDA build. See details [here](https://pytorch.org/docs/stable/notes/windows.html#speeding-cuda-build-for-windows). Make sure you run the commands in the "x64 Native Tools Command Prompt for VS 2017".

[2018-09-18 07:28] vegetablemao opened #11791 "[caffe2]Can i build caffe2 library only for cpu inference purpose and reduce the binary size?"
I want to deploy caffe2 on mobile device(including Android & IOS), but i found that the binary size is **too large** for my app. I only use a little operators on my net(convolution and forward calculation), how can I build caffe2 just including the inference operators i wanted to **reduce the size of library**?
  It's an urgent task for me, if anyone can provide help, i will be appreciate.

[2018-09-18 07:38] peterjc123 commented on #11786
@sytelus Does this [post](https://github.com/pytorch/pytorch/issues/2757#issuecomment-341752166) helps?

[2018-09-18 07:56] Kelym commented on #11551
Just a little bit more to the story, `0 * -float('inf')` yields `nan` while `0.xx * -float('inf')` yields `-inf`. Maybe this is the expected behavior, but it could really help to hint this somewhere in the doc.
Thanks.

[2018-09-18 08:16] richielo opened #11793 "DataParallel: Parallel_apply assert len(modules) == len(inputs) AssertionError"
Hello,

I am using Pytorch version 0.4.1 with Python 3.6. I am adapting the transformer model for translation from this site (http://nlp.seas.harvard.edu/2018/04/03/attention.html). The model runs without error with single gpu. However, the AssertionError happens when I use DataParallel for the model. How should I deal with this issue? Thanks for your help in advance. The following are snippet of

[2018-09-18 09:02] sniperwrb commented on #7092
Same here

[2018-09-18 10:01] chenwc07 commented on #11756
@pietern I ran it with CUDA_LAUNCH_BLOCKING=1, and got the same error. I ran  it on jupyter yesterday and on terminal today and get extra error output. The  terminal outputs:
Traceback (most recent call last):
  File "test_cuda.py", line 26, in <module>
    out = model(testdata)
  File "/home/zhangd/anaconda3/envs/pytorch/lib/python3.5/site-packages/torch/nn/modules/module.py", line 477, in __call

[2018-09-18 10:26] ys198918 commented on #8024
hi, @kyuusaku . did you found a way to get the correspanding parameters ?

[2018-09-18 12:02] hyperfraise commented on #10120
To use master need I compile pytorch from source ? I always pip install from pytorch.org

[2018-09-18 12:34] fmassa opened #11795 "[TensorIterator] bug when performing inter-scalar ops on the GPU"
When performing operations between scalar tensors of different types, type promotion happens in TensorIterator. But it seems that the results of inter-type operations are not correct when performing operations on the GPU.

The following code gives unexpected results on the GPU. CPU works fine
[code]

cc @colesbury

[2018-09-18 12:59] bendidi commented on #10875
@JaosonMa use `workspace.SwitchWorkspace("default")` , example:

[code]

then switch workspaces to run each one:
[code]

[2018-09-18 13:31] soumith commented on #11762
I opened a PR https://github.com/pytorch/pytorch/pull/11768 that will be merged in ~1 hour.
It fixes the error message to have dimension of input explicitly spelled out.

[2018-09-18 13:31] #11762 closed

[2018-09-18 13:35] soumith commented on #10483
you're right. I meant 4.2 and got confused.

https://github.com/pytorch/pytorch/blob/cca247635c6edb323176eeac7a18d3e9ab71c558/cmake/Modules/FindSSE.cmake#L111-L115

Our build comes with Defaults of SSE1, SSE2, SSE3, SSE4.1, SSE4.2

[2018-09-18 14:01] matthieuheitz opened #11797 "Sparse Scipy matrices are not accepted in autograd.Function parameters, but dense ones are."
## Issue description

It seems that sparse scipy matrices create errors when transmitted as parameters of a custom autograd.Function, whereas dense scipy (numpy) matrices don't.
I don't know if this is on purpose or not...
If it should be supported, then I think it is a bug.
If you won't support it, then it would be nice to have a clearer and consistent (across sparse formats) message to explain t

[2018-09-18 14:42] #11652 closed

[2018-09-18 15:16] apaszke opened #11800 ""undefined Tensor" error in backward"
Apparently some of our ops might return undefined tensors in backward.

[This script](https://gist.github.com/mttk/38f55a82605b2e25485484ad136eb231) fails with:

[code]

[2018-09-18 15:51] matthieuheitz commented on #11797
After having modified the code to ignore sparse matrices, like below, it still works for dense matrices and not for sparse ones, but at least the error message is consistent for all formats of sparse matrices : I get the error "RuntimeError: all inputs have to be Tensors, but got csr_matrix", and the last part of the message changes according to the format. Of course my edit is not acceptable, but

[2018-09-18 15:53] gchanan commented on #3625
[code]

Yes, these are all expected.  The way to think about the current behavior is `requires_grad` controls whether a gradient is calculated and a grad is only "retained" if retain is set or the variable is a leaf (doesn't have a grad_fn).  The above examples follow from this.

[2018-09-18 15:57] pietern opened #11803 "Rename DistBackend -> Backend"
The "Dist" in "DistBackend" still is repetitive IMO. Usually this will be used as:

[code]

We should rename s/DistBackend/Backend/. Since it is part of the distributed package, it is clear that backend implies the distributed backend. The class was only recently introduced so I'm sure there are no external users yet. Pre-1.0 is the time to make this mod. This is not directly related to this chang

[2018-09-18 16:01] pietern opened #11804 "Capture recv source rank in async work instead of passing int pointer"
Currently the recv-from-any call in torch.distributed does some gymnastics to retrieve the source rank of the process that fulfilled the recv call. It allocates a 1-element tensor and passes an int pointer to the call, which then writes the source rank there only after the call completes. It would be better to extend the work class to allow access to this variable so that this pointer-from-tensor

[2018-09-18 16:03] BPavol commented on #10483
Than why I encountered same error. My CPU support all of it.
Here is screen from CPU-Z:
![my_cpu](https://user-images.githubusercontent.com/1245656/45700560-29af8c00-bb6d-11e8-83b7-7f7c09cfc29b.png)

[2018-09-18 16:46] SsnL commented on #11803
I can add this to #11715 . Should I do it?

[2018-09-18 16:50] pietern commented on #11803
Let's do it separately, as that one is all ready to go.

[2018-09-18 16:54] pietern commented on #11756
Thanks for the report. This smells like a double free of GPU memory.

Can you confirm this ran fine on the Titan X when run in exactly the same environment (code version, dependencies, CUDA version, NVIDIA driver, etc)?

[2018-09-18 17:09] saluto commented on #3625
The "problem"/bad API I see is that the effect of `requires_grad_()` and `retain_grad()` depends on whether an input `requires_grad` or not. So you cannot rely on either of these calls for non-leaves to just "get" the grad for it on `backward()`. You always have to check whether an input `requires_grad` or you have to call both `requires_grad_()` and `retain_grad()` on the non-leave just to be sur

[2018-09-18 18:01] SsnL commented on #11709
@mcarilli It'd be great of you could try the new master (with #11715 ) with Apex, and let me know if it works. :)

[2018-09-18 18:01] #11709 closed

[2018-09-18 18:09] ailzhang commented on #10936
When you use 1 GPU, that's actually a different code path since it's not distributed training. (and thus not using Gloo).

Is your source build with IB?

[2018-09-18 18:12] mcarilli commented on #11709
Thanks for letting me know.  I'll try that today.

[2018-09-18 18:34] SsnL commented on #11709
@mcarilli The current syntax should work with that! But yes, the recommendation is to use `get_backend` (probably with a `hasattr` check for now) :).

[2018-09-18 18:38] mcarilli commented on #11709
Understood, thanks very much.

[2018-09-18 19:13] w-hc opened #11813 "[feature request] Savable data loader/iterator"
For large jobs with long epochs, it is necessary to checkpoint during the middle of an epoch, especially in a shared cluster setting with job time limit. It would be nice to be able to start at exactly where the training stopped and continue sampling for data afterwards.

I can see that directly trying to checkpoint dataloader involves lots of problems that's tied to saving the underlying dataset,

[2018-09-18 20:47] successar opened #11822 "Warning at pack_padded_sequence in torch.nn.utils.rnn.py"
## Issue description

The following warning started appearing in pack_padded_sequence . It appears that if you pass lengths as tensor, the code is using `torch.as_tensor()`  . Is there a bug in the code for this ?

## Code example

[code]

[code]

## System Info
Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/

[2018-09-18 20:56] #10873 closed

[2018-09-18 21:09] nikhilmishra000 opened #11825 "[Feature request] correct semantics on tensors with zero elements"
In numpy, you can do something like `np.zeros((0, 5))` and get a 2d array with shape(0, 5), even though the number of elements is zero. These semantics are very convenient when concatenating/stacking/indexing with this array.

However, any zero-element tensors in pytorch get automatically flattened to 1d with shape(0,). Can pytorch better mimic numpy behavior?

[2018-09-18 21:30] neerajprad opened #11829 "[JIT] Shape inference broken for torch.arange under JIT tracer"
## Issue description

It seems like `torch.arange` fails to generalize to other tensor shapes when the `end` argument provided is dependent on the input size. cc. @apaszke, @zou3519, @soumith. Since this is being used by a few distribution methods, they may provide incorrect results when JITed.

## Code example

[code]

@fritzo suggested the following work-around in the meantime:
[code]
## System

[2018-09-18 21:36] SsnL commented on #11825
Great idea. We think so too, so we already implemented proper empty tensor support on master. :)

[2018-09-18 21:36] #11825 closed

[2018-09-18 21:38] AndersAsa commented on #10446
I am having same problem trying to export RetinaNet (https://github.com/kuangliu/pytorch-retinanet). Can you get this to run?

import torch
import torch.onnx
from torch import nn
from torch.autograd import Variable
import torch.nn.functional as F

class SimpleNet(nn.Module):
    def __init__(self):
        super(SimpleNet, self).__init__()

    def forward(self, x):
        h1 = x
        h2 = F.i

[2018-09-18 22:56] fritzo commented on #11829
Note this breaks `.enumerate_support()` methods when the distribution size changes across calls to a compiled function. See e.g. [`Categorical.enumerate_support()`](https://github.com/pytorch/pytorch/blob/master/torch/distributions/categorical.py#L125). We can work around this if a fix doesn't make it into release.

[2018-09-19 00:46] sytelus commented on #11786
Yes, I'd looked at https://github.com/pytorch/pytorch/issues/2757#issuecomment-341752166 however that one concerns to exception occuring in `DataLoaderIter.__del__` while this one if for  `StorageRef.__del__`. Also I think former happens after program ends and GC tries to do cleanup while this one occurs while program is still running and probably more serious.

[2018-09-19 01:08] marmorb opened #11847 "bugs in EmbeddingBag cuda codes"
## Issue description
I can run this code normally through CPU. but got the Error `RuntimeError: cuda runtime error (9) : invalid configuration argument at /data/users/mabing/pytorch/aten/src/ATen/native/cuda/EmbeddingBag.cu:257 `when run `loss.backward().` through cuda().
## Code example

[code]

## System Info
`Collecting environment information...
PyTorch version: 1.0.0a0+7f0dd24
Is debug build:

[2018-09-19 01:58] marmorb commented on #11847
I found that this error is caused by empty size input tensor of embeddingbag layers.
When i change component_in = [[3,5],[2,4,5],[2,3,4],[]] to component_in = [[3,5],[2,4,5],[2,3,4],[2]], it works.

But why pytorch with cuda()(cpu() can run correctly) don’t support empty size input tensor for embeddingbag layers?

[2018-09-19 02:00] Bonsen opened #11849 "load weights on Multi-GPU"
I train on one-gpu, and then use save_checkpoint.
Now I train on multi-gpu, and I want to load the weights.

checkpoint = torch.load(check_path)
net.load_state_dict(checkpoint['state_dict'])

It seems doesn't work for me.

[2018-09-19 02:00] jiecaoyu opened #11850 "[Caffe2] Cannot enable MKL-DNN"
## Issue description

Trying to accelerate caffe2 inference with MKL-DNN.

The MKL-DNN lib can be detected:
[code]
But mkl operators are not compiled
[code]
And MKL-DNN cannot be found after installation since
[code]
returns False.

Also, I try to enable MKL by changing the CMakeLists.txt:
[code]
It acutally cause an error:
[code]

## System Info
PyTorch version: 1.0.0a0+98aebed
Is debug build: No

[2018-09-19 02:06] peterjc123 commented on #11786
cc: @SsnL

[2018-09-19 02:57] w-hc commented on #11849
First, load your model before nn.dataparallel is applied.
dataparallel encapsulates the model and so the state dictionary may not match exactly.

In addition, given that device mappings change all the time on cluster, and that there is occasional need to load model under CPU setting for minor tests, I always load with torch.load(map_location='cpu'), before doing load_state_dict. A little bit of ex

[2018-09-19 03:27] #9534 closed

[2018-09-19 03:45] SsnL commented on #11756
@chenwc07 Any chance that you are using the file system initialization method? I have a similar problem where `allgather` raises
[code]
with file system init, but works fine with tcp init.

[2018-09-19 04:49] Bonsen commented on #11849
@w-hc Thanks.

[2018-09-19 06:40] benoitsteiner commented on #10742
@ragulpr: Once I'm done we should be able to write code like this:
[code]
finfo will contain information about the dtype, such as the epsilon, min and max values, and so on. The code is in place, I need to add a few tests and cleanup the code before creating a pull request. In the meantime, we should gather a list of attributes we want to export in the finfo. For now I have bits (number of bits us

[2018-09-19 07:07] chenwc07 commented on #11756
@SsnL I don't think so because the 4 GPU are on the same machine.

[2018-09-19 07:16] richielo commented on #5587
May I ask if this fix has been included in the 0.4.1 version of PyTorch? I am still facing the same issue using DataParallel. I am using torchtext's Iterator instead of Dataloader though. Thank you very much

[2018-09-19 07:34] gianni-rg commented on #11203
@BPavol @peterjc123 I had the same issue in similar dev environment (using Cuda 9.2, VS2017 15.8.4, and Ninja for fast building), just removing AT_CPP14_CONSTEXPR don't raise the error and build complete successfully

[2018-09-19 07:51] simama commented on #10148
I am on 0.4.1 version and it seems this bug is still not fixed.

[2018-09-19 08:00] deepali-c commented on #11572
I tried with latest code and it seems to build fine.

[2018-09-19 08:00] #11572 closed

[2018-09-19 08:14] alicanb commented on #10742
@benoitsteiner tiny and eps are currently used in `distributions.utils._finfo`

[2018-09-19 08:30] deepali-c commented on #11850
Please check with `-DBLAS="MKL"`.

[2018-09-19 08:51] harry67yqh opened #11856 "index_put_ has unreasonable checks"
## Issue description

`index_put_ function(indices, value)` in `torch.Tensor` has a check that size of `indices` must be less than or equal to the number of dimensions of `self`, which is **not reasonable**.
I checked the source code and found that
[code]
in
[code]
## Code example
[code]
The **expected result** should be that target became
[code]
while what **really happened** was an error was rai

[2018-09-19 09:27] sytrus-in-github commented on #10742
@benoitsteiner Thanks for working on this! I also use `maxexp` and `minexp`. I guess it would be consistent to use the `numpy.finfo` as a reference.

Also, in this case, what will happen if I call it with some integer type e.g. `torch.int.finfo`? In numpy there is also a `numpy.iinfo` function to get dtype info for integer types. Maybe we could merge this 2 and instead write sth like `dtypeinfo =

[2018-09-19 09:32] deepali-c opened #11858 "core dump while executing End-to-end AlexNet from PyTorch to Caffe2 sample"
I am working on RHEL ppc64le and have built pytorch, caffe2 and onnx from source. The pytorch commit used is [8601b33](https://github.com/pytorch/pytorch/tree/8601b33c079545bcd45b37983d2ec355b2215960).

I see a core dumpy while executing the [End-to-end AlexNet from PyTorch to Caffe2 sample](https://pytorch.org/docs/master/onnx.html)

[code]

[2018-09-19 11:46] fmassa commented on #11856
You are not passing the `indices` in the right format. `index_put_` expect the index tensor to be the transpose of what you passed.
So this works

[code]

Also, it is generally better to use advanced indexing in such cases, as it's more clear what it is doing
[code]

Closing as not a bug.

[2018-09-19 11:46] #11856 closed

[2018-09-19 12:30] Shoulder95 opened #11861 "[Caffe2 installation problem]"
I am trying to install Caffe2 on my Ubuntu PC but I keep getting error messages that I don't understand anything from. I have installed CUDA 8.0 and cuDNN 7.0 when I run `nvcc --version` I get

[code]

So everything looks like it installed there. The installation also detects the correct CUDA and cuDNN verision.

Here are the error messages I receive when running `python setup.py install` from my

[2018-09-19 13:56] chenwc07 commented on #11756
I found everything is going well when device_ids=[0,2,3] today! So I doubt there may be something wrong with the GPU1. Then I test the GPU one by one using another simple code like:
`os.environ["CUDA_VISIBLE_DEVICES"] = '1'`
`model.cuda(0)`
`data = data.cuda(0)`
`output = model(data)`

then I get the error message:

RuntimeError                              Traceback (most recent call last)
<ipyth

[2018-09-19 14:06] chenwc07 commented on #11756
I also try the code like:
`os.environ["CUDA_VISIBLE_DEVICES"] = '1'`
`model = torch.nn.DataParallel(model, device_ids=[0]).cuda()`
`output = model(data)`

the output is:
RuntimeError                              Traceback (most recent call last)
<ipython-input-14-f28dce7458d6> in <module>()
      2     adjust_learning_rate(optimizer, epoch, [15, 30], 0.001, 5e-4)
      3     # train for one epoch

[2018-09-19 14:15] SsnL commented on #10148
Yes but it’s fixed on master and will be included in the next release.

On Wed, Sep 19, 2018 at 03:52 simama <notifications@github.com> wrote:

[2018-09-19 14:38] SsnL commented on #11756
Oh my bad. I thought you were using distributed because it is labelled as distributed.

[2018-09-19 14:43] jiecaoyu commented on #11850
Hi @deepali-c , Thanks for the response!

```-DBLAS="MKL"``` seems does not change the compilation.

I add this option in the caffe2 build instruction:
[code]

[2018-09-19 14:52] ragulpr commented on #10742
Sounds very good! Only reservation is I agree with @sytrus-in-github that it sure makes sense to merge `iinfo` and `finfo` for the purpose of automation.

I'm not in the know about the naming traditions of numeric packages but maybe numpy-style `finfo` and `iinfo` does not need to be strictly followed? Maybe something more like `numeric_limits`?  Because `info` of `x.dtype.info.eps` seems a little

[2018-09-19 14:56] t-vi commented on #11800
I'd love to fix this.

[2018-09-19 16:00] gchanan commented on #10742
IMO we should at least match NumPy semantics, i.e. have a `torch.finfo(dtype)` that throws if you pass in an integral dtype and `torch.iinfo(dtype)` that throws if you pass in a floating point dtype.  It seems fine to add additions to that, but they have to be useful.  Having an `finfo` or `iinfo` property on dtype seems error prone (though an intersection of a properties on those two structures c

[2018-09-19 16:11] t-vi commented on #11800
[code]
`_thnn_fused_lstm_cell_cuda` doesn't deal well with undefined grad_hx, I'll send a PR.

[2018-09-19 16:29] apaszke commented on #11829
Yeah those were never really expected to work. Shape tracing only works with functions that take in `IntList`s as arguments (for shapes). It shouldn't be too hard to extend it though.

[2018-09-19 17:05] pietern commented on #11756
@chenwc07 This looks like a problem with device 1... Try running `nvidia-smi -q` and looks for anything unusual, maybe something shows up.

@mruberry @ngimel What do you think?

[2018-09-19 17:10] sytrus-in-github commented on #11752
I think there is a numerical problem in [the CPU code](https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/SoftMax.cpp#L44-L60) especially at [line 54](https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/SoftMax.cpp#L54):

In this case `input_data[d * dim_stride] = max_input = 1e8` and `z = 1`. `tmpsum = 2` before line 54.

At line 54, we have `tmpsum = 1e8 + log(2)

[2018-09-19 17:29] mcarilli commented on #11756
@chenwc07 I thought the typical usage of DataParallel was to either call .cuda() on your model before wrapping it in DataParallel, or not to call .cuda() on your model at all (because DataParallel will do it for you under the hood).

Can you try one of the following:
[code]
or just
[code]

This is probably irrelevant (especially since `torch.nn.DataParallel(model, device_ids=[0,1,2,3]).cuda()` see

[2018-09-19 17:42] CarlosYeverino opened #11865 "[Caffe2] Errors occured when running Cpp Predictor"
Hello,

I am writing a predictor written in cpp so I can use it to predict the output class using the mnist data set. I managed to make it work completely in python but my goal is to use the trained net from python to predict in cpp. However, I am encountering some errors when I run the predictor:
[code]

Since I don't know how I can debbug using cmake, I put some printouts to be able to see where

[2018-09-19 17:45] CarlosYeverino commented on #11865
Hi @BIGBALLON ,

I tried to fix the error using only CPU support. I commented the line `//#define USE_GPU`. I got the following console output:
[code]
The execution proceeded further, however, there is still an "Abortet at ..." message.

Note: I can execute another cpp predictor with GPU (`03_cpp_forward` from https://github.com/BIGBALLON/Caffe2_Demo)  without any problem.

[2018-09-19 18:04] jamesr66a opened #11867 "aten::layer_norm perf is extremely slow compared to Caffe2"
Running on CPU, it appears that `aten::layer_norm`, which is implemented in terms of `thnn_batch_normalization`, is 6.5x slower than the equivalent operator implemented in Caffe2 using eigen. Example benchmark:

[code]

[code]

Machine info:
[code]

[code]

The hot path in the THNN op seems to be this `set1d` call right here: https://github.com/pytorch/pytorch/blob/master/aten/src/THNN/generic/Bat

[2018-09-19 18:09] jamesr66a opened #11869 "[caffe2] Unaligned AVX instruction operands in LayerNorm implementation in OSS build"
On my open source build the following program hits a segmentation fault:

[code]

Looking at the stack trace it looks like Eigen is attempting to do a 256-bit wide vector add between two stack-allocated operands, which are aligned to 16 bytes rather than 32:

[code]
Current frame:

[code]

Debug info:
[code]

I've tried building with `-DEIGEN_FORCE_ALIGN_32` but it doesn't seem to make a differenc

[2018-09-19 18:15] tesfaz1 opened #11870 "CUDA 9.2 PyTorch on Mac gives "Found no NVIDIA driver" error"
## Issue description
Installed pytorch from the source with cuda enabled, but having issue (see below) when I tried to use it.
System: macOS Sierra (version 10.12.16)
Graphics:  NVIDIA GeForce GT 750M 2048 MB Intel Iris Pro 1536 MB

## Code example
$ python
Python 3.6.6 |Anaconda custom (64-bit)| (default, Jun 28 2018, 11:07:29)
[GCC 4.2.1 Compatible Clang 4.0.1 (tags/RELEASE_401/final)] on darwin

[2018-09-19 18:17] jiecaoyu commented on #11850
Hi @deepali-c I have [solved the problem](https://github.com/pytorch/pytorch/issues/11850#issue-361548155), but it might be a bug in Caffe2.

[2018-09-19 18:51] neerajprad commented on #10925
These should be addressed by #11341, #10914 and #11231.

[2018-09-19 18:51] #10925 closed

[2018-09-19 18:52] neerajprad commented on #10715
Thanks for fixing this, @zou3519.

[2018-09-19 18:52] #10715 closed

[2018-09-19 18:57] driazati commented on #8528
Broadcasts fixed by #8687, splits fixed by #11051 and tests removed #11403

[2018-09-19 18:57] #8528 closed

[2018-09-19 18:58] driazati commented on #8504
Test is now passing by #11403

[2018-09-19 18:58] #8504 closed

[2018-09-19 19:00] driazati commented on #8510
Test now passing: #11403

[2018-09-19 19:00] #8510 closed

[2018-09-19 19:06] driazati commented on #7504
Fixed in #8687 (followup to #8177)

[2018-09-19 19:06] #7504 closed

[2018-09-19 19:08] SsnL commented on #11867
Personally I have also found instance norm and group norm to execute the THNN code path (not cudnn).

[2018-09-19 19:19] #8530 closed

[2018-09-19 19:19] driazati commented on #8530
All issues have been addressed

[2018-09-19 19:26] w-hc commented on #11813
Well I decided to go with a sample workaround using a stateful sampler that can be saved itself.
[code]

[2018-09-19 19:27] #11813 closed

[2018-09-19 19:31] soumith commented on #11752
fixed via https://github.com/pytorch/pytorch/pull/11866#pullrequestreview-156960313 thanks to @sytrus-in-github (landing in a couple of hours)

[2018-09-19 19:31] #11752 closed

[2018-09-19 19:50] protossw512 commented on #8473
Same problem here.

[2018-09-19 20:04] radicalrafi commented on #11865
Your bug is in the     google::protobuf::ShutdownProtobufLibrary(); routine . From the Screenshot you published you can see that the segfault occurs after the probability calculation is run and shows the line "with probability : " , thus I recommend you debug the program with GDB to make sure the segfault occurs at the ShutdownProtobufLibrary() routine .

[2018-09-19 20:17] CarlosYeverino commented on #11865
Hi @radicalrafi ,

thanks for your reply.

can you please suggest some documentation/tutorial for GDB? I'm new on ubuntu and I have never used GDB before.

[2018-09-19 20:51] teng-li opened #11874 "c10d/Distributed - FileStore should be able to delete the file"
This can be done when FileStore is going out of scope

[2018-09-19 21:13] sytrus-in-github commented on #10742
If we want to align with NumPy semantics, since [`numpy.iinfo`](https://docs.scipy.org/doc/numpy/reference/generated/numpy.iinfo.html) provides only `min`, `max`, `bits` properties, which are all covered by [`numpy.finfo`](https://docs.scipy.org/doc/numpy/reference/generated/numpy.finfo.html), we could have sth like:

- `torch.dtype_info(dtype=torch.get_defaut_dtype())` that just returns `min`, `m

[2018-09-19 22:34] varunagrawal opened #11878 "Remove THCNumerics.cuh from THCAtomics.cuh"
## Issue description

As per #10301, `THCNumerics.cuh` is to be deprecated going forward, however it is still referenced in `THCAtomics.cuh` [here](https://github.com/pytorch/pytorch/blob/master/aten/src/THC/THCAtomics.cuh#L6) which may lead to runtime issues.

This issue is to track its removal to ensure deprecation of `THCNumerics.cuh`.

## Code example

N/A

## System Info

N/A

- PyTorch or Ca

[2018-09-19 22:35] varunagrawal commented on #11878
@syed-ahmed please take a look at this.

[2018-09-19 23:51] SsnL commented on #10236
fixed in  https://github.com/pytorch/pytorch/pull/10273

[2018-09-19 23:51] #10236 closed

[2018-09-19 23:51] SsnL commented on #9917
fixed in  https://github.com/pytorch/pytorch/pull/10273

[2018-09-19 23:51] #9917 closed

[2018-09-19 23:51] SsnL commented on #10357
fixed in  https://github.com/pytorch/pytorch/pull/10273

[2018-09-19 23:51] #10357 closed

[2018-09-20 02:04] YHRen opened #11881 "DataParallel with Multi-GPU module (eg. 2 model replica on 4 GPU)"
We are working on distributing a large model's weights on two GPUs and then use DataParallel to train the model.
So, suppose we have 4 GPUs with `device_id = [0,1,2,3]`, there are two replicas of the model. One replica lives on device 0 and 1, and the other lives on 2 and 3.
During the training, we received the following error message:

  File "dpmp_simple_cnn.py", line 93, in <module>
    loss.ba

[2018-09-20 02:50] michaelklachko commented on #7553
Also, latest Nvidia cards support INT4. And Tesla T4 has experimental mode for INT1.

[2018-09-20 03:38] eric-zhenhai opened #11883 "possible bug for computing torch.sigmoid() for a tensor slice (v 0.4.1)"
## Issue description
In PyTorch version 0.4.1, the torch.sigmoid() computes wrong value (version 0.4.0 is OK). In the following code, on MacBook Pro (osx 10.13.6 no GPU), I got the following:

diff1 =  0.044759273529052734
diff2 =  0.0
diff3 =  0.0

Actually it is not hard to create more examples.
## Code example
[code]

[2018-09-20 04:30] leomao commented on #11883
This issue doesn't appear on the master.  I use the following code to test.

[code]

[2018-09-20 05:40] chenwc07 commented on #11756
@mcarilli  Thank you for your reply.
The first code outputs the same error:

RuntimeError: NCCL Error 1: unhandled cuda error

and the second code comes to:

TypeError                                 Traceback (most recent call last)
<ipython-input-14-b9a0b7bacb33> in <module>()
      2     adjust_learning_rate(optimizer, epoch, [15, 30, 45], 0.001, 5e-4)
      3     # train for one epoch
----> 4

[2018-09-20 06:02] asdfzxh8 commented on #1668
no such thing as need or not, say, discuss any no matter what.

[2018-09-20 06:09] chenwc07 commented on #11756
@pietern Can't find anything unusual. Maybe I should test the device using another framework like tensorflow?

[2018-09-20 06:28] ygwangmsra opened #11885 "bug for softmaxwithloss operator"
I found that the ignore label does not work for the operator: softmaxwithloss in [https://github.com/pytorch/pytorch/blob/master/caffe2/operators/softmax_with_loss_op.cc](url), which means that line 151 #define DONT_CARE (-1) does not make sense

On the other hand, the operator: spatialsoftmaxwithloss in [https://github.com/pytorch/pytorch/blob/master/caffe2/operators/spatial_softmax_with_loss_op.

[2018-09-20 07:47] jiapei100 opened #11886 "CUDA 9.1 is not compatible with std::tuple from GCC version >= 6."
Any work around?
The video card on my laptop is GTX980M, which seems ONLY supported by Cuda9.1 ... I cannot upgrade to Cuda 9.2 .

1. However, when I tried
[code]

I got the following ERROR messages:

[code]
$ python setup.py build -DCUDA_HOST_COMPILER=/usr/bin/gcc-5
[code]

[2018-09-20 08:27] peterjc123 commented on #11886
Would you please try `export CUDA_HOST_COMPILER='/usr/bin/gcc-5'` and then `python setup.py build`? (After https://github.com/pytorch/pytorch/pull/11880 is merged, we should use `export CUDAHOSTCXX='/usr/bin/gcc-5' instead.`)

[2018-09-20 08:32] t-vi commented on #11333
I think batch potrf #11796 may favourably change the performance on GPU.

[2018-09-20 09:47] radicalrafi commented on #11865
https://www.cs.cmu.edu/~gilpin/tutorial/
This should help you can launch the program using the command gdb. /program
then you can run it using the "r" command when the segfault happens you can print the disassembly and look through it.

[2018-09-20 10:50] t-vi commented on #11662
@SsnL No, it's not a bug, and I can prove it. But it has been really hard work, so I'll let you scroll some before telling you (sorry! can't resist!).
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.

[2018-09-20 10:53] yunyundong opened #11887 "DataLoader, when num_worker is great than 1, the data loaded are wrong, or a error a reported!"
[code]
[code]
[code]

[code]

some errors are repoted as follows:

[code]

Interestingly,  when the code  `samplesss=trainDataset[0];` ` uncomment,  there is no error reported! But, the dataset traindataloader returned by the DataLoader is wrong, namely some data is not the raw data.

So, I know how the num_wokers in DataLoader affect the code?
in addition, my computer have 32  cpu cores. I set nu

[2018-09-20 11:52] Beastmaster commented on #5301
I got an ugly solution.
`
def create_dataloader():
      # some function to create a dataloader
      return dataloader

# in main function
dataloader = create_dataloader()
dataloader_iter = iter(dataloader)
for step in range(len(dataloader)):
  while(true):
     try:
        data = next(dataloader_iter)
     except:
        dataloader = create_dataloader()
        dataloader_iter = iter(dataloade

[2018-09-20 11:59] phigre commented on #11326
I got the same `std::runtime_error` when importing first matplotlib and then pytorch. However, when first importing torch, this error is not catched and the imports work:
[code]

I guess this supports, what @soumith wrote above:

So a quick fix might be to import torch first (@joxeankoret).

[2018-09-20 14:35] lburzawa opened #11888 "Support for GPU compute capability > 7.0?"
Is the support for those devices coming soon? pytorch/caffe2/utils/GpuDefs.cuh throws an error for __CUDA_ARCH__ greater than 700.

[2018-09-20 15:07] joxeankoret commented on #11326
I'm afraid that will not work for me, as I'm trying to use from inside [IDA Pro](https://www.hex-rays.com/products/ida/), and just doing "import torch" at any time triggers that problem. I will ping the Hex-Rays guys.

[2018-09-20 15:43] adityak2920 opened #11892 "getting an error while using dataloder for making batches in cnn"
CODE where error is and xtrain and ytrain are numpy array before this and cnns and other code is working fine
![screen shot 2018-09-20 at 8 59 22 pm](https://user-images.githubusercontent.com/35501699/45829923-98314d00-bd19-11e8-84c8-c79bf62a036b.png)

error for the code before this so if anyone can help please

![screen shot 2018-09-20 at 9 00 02 pm](https://user-images.githubusercontent.com/3550

[2018-09-20 15:45] SsnL commented on #11662
Haha @t-vi Good find! Thanks :) I think we can close this now!

[2018-09-20 15:45] #11662 closed

[2018-09-20 15:47] SsnL commented on #11886
@peterjc123  :) Could you update the above message too in #11880?

[2018-09-20 15:50] SsnL commented on #11887
Here is your real error:
[code]

It just isn't formatted nicely in KeyError....

The other exception (ignored in `__del__`) was fixed already.

[2018-09-20 15:50] #11887 closed

[2018-09-20 15:53] SsnL commented on #11892
You are using dataloader very wrongly. You need a `Dataset` object. Read the [docs](https://pytorch.org/docs/stable/data.html) or see some [examples](https://pytorch.org/tutorials/).

[2018-09-20 15:53] #11892 closed

[2018-09-20 16:04] fmassa commented on #11883
Thanks for the bug report!
Indeed, this has been fixed in https://github.com/pytorch/pytorch/pull/11226.
You can have this fixed by updating PyTorch using the nightly builds.

[2018-09-20 16:04] #11883 closed

[2018-09-20 16:13] pietern commented on #11756
@chenwc07 I think above shows that device 1 in your setup is broken... Can you try running a model on that device exclusively, without using the DataParallel wrapper? If you still get the same unhandled CUDA error then that would confirm the device being broken.

[2018-09-20 16:27] #11518 closed

[2018-09-20 16:27] moonlightlane commented on #11662
@t-vi thanks so much!!! I almost switched to tensorflow for this experiment because of this ...

[2018-09-20 16:43] BPavol commented on #11203
@peterjc123 @gianni-rg Thank you, it helps. But I have another error:
[code]

[2018-09-20 17:16] SsnL commented on #11662
@moonlightlane Well tf and pytorch calls the same cudnn function, so ....

[2018-09-20 18:07] YHRen commented on #11881
I think I found the "right" way to do this. I will update the solution later. Thanks.

[2018-09-20 19:31] TomasVaskevicius opened #11899 "torch.tensors in torch.multiprocessing"
## Issue description
The following code involving torch.multiprocessing.Pool does not work for torch.tensor
data type, while works for python numbers.

## Code example
[code]

The above code can yields:
[code]
which is strange, since we are launching only 10 jobs using one process at a time.

Changing the worker function to:
[code]
executes correctly.

## System Info
Ubuntu 16.04.01 LTS
Python ver

[2018-09-20 19:37] weiyangfb commented on #11899
Have you tried the solution of this similar issue: https://github.com/pytorch/pytorch/issues/11201

[2018-09-20 19:39] CharlesJQuarra opened #11901 "[feature request] ability to nest ParameterList"
In some cases, it is more convenient to arrange some parameters as 2d or 3d arrays rather than 1D list. One could solve it by computing a Nd to 1D offset array, but this could be avoided if the `nn.ParameterList` objects could be nested

Example:

[code]

[2018-09-20 19:46] YHRen commented on #11881
The walk-around we found is to `DaraParallel` the head of the model and the tail of the model separately.
And wrap the data transfer in the `forward` function.
Here is a working example. Hopefully, someone finds this useful.
Thanks. This issue can be closed.
[code]

[2018-09-20 19:50] TomasVaskevicius commented on #11899
Thank you, changing sharing strategy to file system worked!

[2018-09-20 19:50] #11899 closed

[2018-09-20 20:40] mirocody opened #11904 "Nightly build got `ONNX export failed` error while running "super_resolution_with_caffe2.ipynb" tutoria"
## Issue description

I tested with nightly build
[code]
and tried to run tutorial super_resolution_with_caffe2.ipynb, then got the following error
[code]
Both ONNX 1.2.1 and 1.3 worked for pytorch 0.4.1 when running this tutorial.

## Code example

https://github.com/pytorch/tutorials/blob/gh-pages/_downloads/super_resolution_with_caffe2.ipynb
[code]

## System Info
I usded AWS deep learning AMI

[2018-09-20 21:10] cpuhrsch opened #11905 "[Test][PyTorch] TestNN.test_bilinear"
After https://github.com/pytorch/pytorch/pull/11823 TestNN.test_bilinear since it was simply a comparison with legacy. We need to write new tests for this to maintain test coverage.

[2018-09-20 21:11] cpuhrsch opened #11906 "[Test][PyTorch] TestOptim. _test_rosenbrock"
After https://github.com/pytorch/pytorch/pull/11823 _test_rosenbrock was deleted from test/test_optim.py This function was used within

"test_sgd"
"test_adam"
"test_adadelta"
"test_adagrad"
"test_adamax"
"test_rmsprop"
"test_asgd"
"test_rprop"
"test_lbfgs"

We need to reimplement this function to maintain our coverage.

[2018-09-20 21:23] radiantone opened #11907 "Please rename package pytorch to stay consistent with entire python world"
Hi,
 Like many, I installed pytorch, which says it is installing the package 'pytorch' and yet it is called 'torch' when you attempt to import it from python.

This cuts against the standard practices of the entire python world. Please remedy.

thanks!

[2018-09-20 21:42] sclarkson commented on #11886
Driver 396.54 and 410.57 both support the GTX980M and support CUDA 9.2

[2018-09-20 21:44] #11398 closed

[2018-09-20 21:49] Evpok commented on #11907
While I agree with the principle, pytorch is by no mean the only offender (scikit-learn come to mind) and that kind of changes would break a lot of code.
Then again, maybe such breakage would be manageable within the context of 1.0 migration.

[2018-09-20 21:54] radiantone commented on #11907
Yes. Scikit with it's annoying and unnecessary hyphens is also an issue.

[2018-09-20 21:56] tesfaz1 commented on #11870
Upgrading the OS resolved the issue.

[2018-09-20 21:56] #11870 closed

[2018-09-20 22:13] pietern commented on #10699
Caused by:

[code]

Yet NCCL 2 is installed in the environment. Something is triggering building the bundled version of NCCL (NCCL version 1) and that is taking precedence over the installed one.

[2018-09-20 22:14] pietern commented on #10699
FYI, I looked at this build: https://ci.pytorch.org/jenkins/job/pytorch-builds/job/pytorch-linux-xenial-cuda8-cudnn6-py3-build/23936/consoleFull

[2018-09-20 22:18] pietern opened #11912 "Use ATen CUDA event/stream wrappers in c10d"
In c10d we still use legacy CUDA event and stream wrappers. These are not aware of the CUDA stream pool that was added by @mruberry in #9938.

One issue we need to solve beforehand is that currently Gloo algorithms take a stream at construction time and we cache them in the c10d process group. This needs to be redone to support passing a stream when running the algorithm instead of when it is cons

[2018-09-20 22:28] kashpop commented on #10537
Encountered the same error. Any updates on the solution?

[2018-09-20 22:40] mruberry commented on #11912
"I owed you this issue" sounds so ominous!

The legacy wrappers do actually use the pool, but I agree it's likely better to not cache the stream upfront and acquire it later.

If the stream pool has caused a perf hit, then we have some options to consider addressing it:

- Use the high priority option when creating a stream. The high priority stream pool is separate from the low/default priority p

[2018-09-20 23:21] lantiga opened #11913 "Saving loaded model leads to Bad address error"
## Issue description

When using the new script module serialization, saving a module that has been loaded from the serialized file produces `RuntimeError: Unable to write to file! : Bad address`.

## Code example

[code]

produces

[code]

The reason is a bug at https://github.com/pytorch/pytorch/blob/master/torch/csrc/jit/import.cpp#L322 : `size` is expressed in bytes, while it is expected to pa

[2018-09-20 23:38] asford opened #11914 "[feature request] Implement __cuda_array_interface__ for numba compatibility."
## Issue description

`numba` provides generic support for jit-optimized operations over tensor data structures, with support for cpu and cuda based operations. This is an _ideal_ match for accelerating pytorch operations. Numba has proposed a standardized ["`__cuda_array_interface__`"](http://numba.pydata.org/numba-doc/latest/cuda/cuda_array_interface.html), inspired by the numpy [`__array_interf

[2018-09-21 00:15] yunyundong commented on #11887
How do I solve the problem?
My h5 file should be correct!
`batchSize=30
    trainDataset=DeephomographyDataset(pth_config.TRAIN_H5_FILE,
                                       transform=transforms.Lambda(
                                           lambda x: toTensor(x)))

    traindataloader=DataLoader(trainDataset,batch_size=batchSize,shuffle=True,
                          num_workers=20)
#   sa

[2018-09-21 00:19] SsnL commented on #11887
It seems h5py doesn't allow reading from multiple processes:
https://github.com/h5py/h5py/blob/master/examples/multiprocessing_example.py#L17-L21

[2018-09-21 00:20] yaroslavvb commented on #9696
I'll close this issue for now since I have not seen this error recently, it may have been fixed in master

[2018-09-21 00:20] #9696 closed

[2018-09-21 00:22] phalexo opened #11917 "Header is missing"
/home/developer/pytorch/caffe2/onnx/onnxifi_init.h:3:10: fatal error: onnx/onnxifi_loader.h: No such file or directory
 #include "onnx/onnxifi_loader.h"

[2018-09-21 00:35] yunyundong commented on #11887
[code]
[code]

[code]
This is my code.
When the sentence  ‘samplesss=trainDataset[0]‘ uncomment, there is no error report, but the data returned is wrong.
In addition, if the format of raw data is H5 file, we dont have used the DataLoader or set the num_workd greater than 1?

[2018-09-21 00:37] ezyang commented on #11914
Seems like a reasonable thing to do. CC me if you submit a patch.

[2018-09-21 00:44] amirgholami commented on #9580
I am also getting the same error regarding undefined reference to mkldnn library. I have installed mkldnn and added the location to the corresponding environment variables but I get the errors below:

.../pytorch/build/lib/libcaffe2.so: undefined reference to `mkldnn_memory_set_data_handle'

I also tried with the proposed solution of:

FULL_CAFFE2=1 USE_MKLDNN=1 python setup.py install

but that d

[2018-09-21 01:46] #11917 closed

[2018-09-21 01:50] chenwc07 commented on #11756
@pietern I have tried that and the error is:

RuntimeError: cublas runtime error : resource allocation failed at /opt/conda/conda-bld/pytorch_1532576128691/work/aten/src/THC/THCGeneral.cpp:333

[2018-09-21 01:53] SsnL commented on #11887
I'm sorry but I don't know much about h5py.

[2018-09-21 01:57] lupesko commented on #11904
@jspisak take a look, want to make sure this is on your radar.

[2018-09-21 02:29] soumith commented on #11907
in `pypi`, which is the standard practice in the python world, we call it `torch` (`pip install torch`), but in `conda`, which is a multi-language repo, we call it `pytorch`.

It's unlikely that we will change this.

[2018-09-21 02:29] #11907 closed

[2018-09-21 02:35] robbine opened #11922 "Failed to torch.save in a jupyter notebook"
This problem occurs after several epochs of training. At the end of each epoch I used torch.save to persist a model.  I checked disk capacity, it shouldn't be a problem.
Here is the code snippet which probably caused the jupyter kernel dead.
`        if self._serialization_dir is not None:
            model_path = os.path.join(self._serialization_dir, "model_state_epoch_{}.th".format(epoch))

[2018-09-21 02:46] robbine commented on #11922
I tried to remove the last corrupted model file and recover training. It fails at the same point again and again.

[2018-09-21 02:56] #11881 closed

[2018-09-21 05:29] robbine commented on #11922
I tried to run on my macbook and everything seems OK.  It's was slow, using gpu the speed is boosted by almost 15x times faster, but they only provide notebook for me to access their gpu resources.

[2018-09-21 06:04] t-vi commented on #11922
I would expect something on stdout/stderr which Jupyter indeed swallows.
You could try redirecting stdout and stderr to a file using this: https://stackoverflow.com/a/41301870

[2018-09-21 06:13] t-vi commented on #9062
I'll go have a look.

[2018-09-21 06:43] yunyundong opened #11928 "DataLoader, does not work with Hdf5 file when number"
[https://discuss.pytorch.org/t/dataloader-when-num-worker-0-there-is-bug/25643](url)

We Hope developers can help us.
Many pepole has the problems, but there is no solution available.

[2018-09-21 06:46] yunyundong opened #11929 "Data Loader does not work with Hdf5 file, when num_worker >1"
[https://discuss.pytorch.org/t/dataloader-when-num-worker-0-there-is-bug/25643](url)
https://gist.github.com/bkj/f448025fdef08c0609029489fa26ea2a#file-h5py-error-py

We Hope developers can help us.
Many pepole has the problems, but there is no solution available.

[2018-09-21 06:50] dandelin commented on #11914
I've been using numba's cuda_array_interface to implement c++-free ROI align function. (https://github.com/dandelin/Wildfire/blob/master/wildfire/optimized_ops/roi_align/roi_align.py) AND it works great for me.

The code was adapted from this issue's snippet (https://github.com/numba/numba/issues/3192).

`cuda.select_device(tensor.get_device())`
I just added this single line of code to make it wor

[2018-09-21 08:02] vishwakftw opened #11930 "Indentation in new docs"
## Issue description

Argument descriptions for various functions seem to be abnormally indented.

![image](https://user-images.githubusercontent.com/23639302/45868044-7039fc00-bda2-11e8-9ace-5bdb5547cd5e.png)
![image](https://user-images.githubusercontent.com/23639302/45868083-8942ad00-bda2-11e8-92c1-60121e3902d8.png)

More instances can be found here too: https://pytorch.org/docs/master/torch.ht

[2018-09-21 08:28] BannyStone commented on #9436
You need higher opencv version >= 3.2.
https://docs.opencv.org/3.1.0/dc/d47/classcv_1_1DualTVL1OpticalFlow.html
In 3.1, class DualTVL1OpticalFlow has no "create" member function.

[2018-09-21 08:33] #4801 closed

[2018-09-21 08:37] miguelvr commented on #11901
I really don't see how this can be useful... Can you give an example?

[2018-09-21 09:45] OmegaNJU commented on #11930
Emmm, I think old version docs is more recognizable than new docs. Just my personal opinion:)

[2018-09-21 09:49] bfreskura opened #11931 "torch.multinomial performance issue when replacement=False"
## Issue description

`torch.multinomial` becomes very slow if the `replacement=False` and the `num_samples` is relatively large.

## Code example
[code]

## System Info
[code]

cc @ezyang @gchanan @zou3519 @VitalyFedyunin @ngimel @mruberry

[2018-09-21 10:16] t-vi commented on #11931
This is expected as the non-repeating actually makes sampling a serial process. While there is room for optimization relative to the current way of doing things, I don't think you can this to get much better when you have many samples.

[2018-09-21 10:17] t-vi commented on #11905
I'll take care of that.

[2018-09-21 10:56] bfreskura commented on #11931
Numpy function `choice` works normally for large inputs and large samples:
`x = np.random.choice(1000000, 100000, replace=False)`

Isn't this the same as `torch.multinomial`?

[2018-09-21 11:16] t-vi commented on #11931
Not quire, it's more like
`a = numpy.random.choice(1_000_000, 100_000, replace=False, p=probs)`
but you're absolutely right, we are unreasonably slow there.
Thank you for reporting and insisting!

[2018-09-21 11:35] t-vi commented on #11931
So what numpy does is approximately:
[code]
so it will attempt (but fail) to get all samples, but will be much more efficient than sampling only one at a time and renormalizing the pdf after each sample.
I'll implement this, but I can't promise to get it done before 1.0.

[2018-09-21 12:58] soumith commented on #11928
closing as duplicate of https://github.com/pytorch/pytorch/issues/11887 and https://github.com/pytorch/pytorch/issues/11929

h5py doesn't allow reading from multiple processes:
https://github.com/h5py/h5py/blob/master/examples/multiprocessing_example.py#L17-L21

[2018-09-21 12:58] #11928 closed

[2018-09-21 12:58] soumith commented on #11929
closing as duplicate of https://github.com/pytorch/pytorch/issues/11887 and https://github.com/pytorch/pytorch/issues/11928

h5py doesn't allow reading from multiple processes:
https://github.com/h5py/h5py/blob/master/examples/multiprocessing_example.py#L17-L21

[2018-09-21 12:58] #11929 closed

[2018-09-21 13:02] yunyundong commented on #11929
I do not think so.    We have found a solution,  [https://gist.github.com/bkj/f448025fdef08c0609029489fa26ea2a#file-h5py-error-py](url)
If we use it like this ,is  it right?

[2018-09-21 13:35] peterjc123 commented on #2341
@Dehde What about setting the num_worker of the DataLoader to zero?

[2018-09-21 13:59] #11913 closed

[2018-09-21 14:58] realdoug commented on #8853
@weiyangfb is there a priority list at all for these ops?  I think I can knock out a few more.

[2018-09-21 15:16] CharlesJQuarra commented on #11901
you can get normal nested lists by putting a bunch of ParameterLists into a ModuleList

[2018-09-21 15:16] #11901 closed

[2018-09-21 15:49] Strasser-Pablo opened #11936 "batchTensor not suported for mm on GPU."
Hi,

It seem that byte type are not supported for the bmm operator on GPU.
The function batch_mm in file pytorch/torch/jit/batchop.py use it.
Applying the attached patch seem to solve the problem on GPU.
[patch_batchop.txt](https://github.com/pytorch/pytorch/files/2406035/patch_batchop.txt)

Have a nice day.

[2018-09-21 15:57] bastings opened #11937 "[feature request] Kumaraswamy distribution"
## Issue description

There is currently no `Kumaraswamy` distribution in `torch.distributions`.
It would be nice to have! It is already available in Tensorflow Probability.

I'm happy to contribute it.

[2018-09-21 16:07] vishwakftw commented on #11937
This was already ready, but was not sent upstream. @alicanb should the PR https://github.com/probtorch/pytorch/pull/143 be cleaned up and sent upstream? IIRC, the entropy tests was failing.

[2018-09-21 16:18] alicanb commented on #11937
@vishwakftw yep, let's do it

[2018-09-21 16:40] pietern commented on #11756
@chenwc07 I am 99% sure this is a broken device and not a PyTorch problem.

@mcarilli Can you confirm?

[2018-09-21 16:42] ngimel commented on #11756
Yes, this error message looks like hardware problem, not sw.

[2018-09-21 16:43] pietern commented on #11756
Thanks @ngimel. Closing the issue.

[2018-09-21 16:43] #11756 closed

[2018-09-21 17:37] jamesr66a commented on #11936
Hello @Strasser-Pablo! Thanks for the report. Do you mind submitting this fix as a pull request?

[2018-09-21 17:43] Roger-luo commented on #9208
Get this error with Ubuntu 18.04 with `DCUDA_HOST_COMPILER` too

[2018-09-21 17:49] Strasser-Pablo commented on #11936
Ok, I will do a pull request later. I think I need to add a test to apply the fix only in case of gpu usage as it perform an integer to float conversion. As its only on byte I don't think there is a risk of loose of precision but maybe a performance cost.

[2018-09-21 18:01] CharlesJQuarra opened #11944 "`torch.utils.checkpoint` fail to propagate `backward` to all parameters"
## Issue description

Discovered while attempting to write a linear unit that supports splitting the parameter space in a grid of gradient checkpoint nodes. The issue right now is that when there is more than one segment, the `backward()` only updates the gradient for the last parameter. More details in the code example:

## Code example
[code]

## System Info
Collecting environment information...

[2018-09-21 18:05] #9062 closed

[2018-09-21 18:33] pjh5 commented on #11754
That is just a warning, not an error. net_drawer is only used for visualization purposes. If you want to get net_drawer working, then install it's needed dependencies https://github.com/pytorch/pytorch/blob/master/caffe2/python/net_drawer.py#L21 .

[2018-09-21 18:33] #11754 closed

[2018-09-21 18:37] pjh5 commented on #11690
Try installing gflags. It looks like you have leveldb on your system, which requires gflags. Or you can turn leveldb off here https://github.com/pytorch/pytorch/blob/master/CMakeLists.txt#L86 .

[2018-09-21 18:54] neerajprad opened #11945 "3X - 5X slowdown in torch.bernoulli and torch.normal on PyTorch master"
## Issue description

While debugging some perf issues in Pyro using PyTorch master, there seems to be a perf regression in the torch samplers (I checked `torch.bernoulli` and `torch.normal`). cc. @apaszke, @fritzo, @soumith

## Code example

**Release**
[code]

**Master**

[code]

## System Info

[code]

[2018-09-21 18:59] t-vi commented on #11945
[code]
Is that master or 0.4.0?

[2018-09-21 19:08] neerajprad commented on #11945
That was an error in pasting (results were for master, but the header was wrongly pasted). Fixed above.

[2018-09-21 19:13] SsnL commented on #8391
We are switching theme so this won't be an issue

[2018-09-21 19:13] #8391 closed

[2018-09-21 19:14] zou3519 commented on #11945
You shouldn't benchmark a debug build; O3 perf is not comparable to O0 perf. Turn off the debug flag, ( DEBUG=0 ) while compiling

[2018-09-21 19:16] neerajprad commented on #11945
My bad, I didn't realize I had the debug flag on while building. I think that explains it. Let me do that and update.

[2018-09-21 19:19] t-vi commented on #11944
It's not a bug in the checkpointing, but it is the dynamic scoping in Python:
During the backward,
[code]
and that will grab the current(!) (i.e. last processed) weight_param.
If you change that to
[code]
(the not so pretty way of binding the weight_param at evaluation time), you get what you expect.

Please accept my apologies for not noticing earlier.

[2018-09-21 19:27] SsnL commented on #11945
Bernoulli should be quite a lot faster than the release actually (see #10273)

[2018-09-21 19:29] CharlesJQuarra commented on #11944
confim that this solves the issue. Thank you @t-vi !

[2018-09-21 19:29] #11944 closed

[2018-09-21 19:36] pjh5 commented on #6840
"python setup.py install" on the current master will install the integrated Pytorch-Caffe2. You should probably thoroughly uninstall previous Caffe2 and Pytorch installations before reinstalling.

[2018-09-21 19:36] #6840 closed

[2018-09-21 19:41] neerajprad commented on #11945
I just rebuilt (without DEBUG), and checked that there is no regression. As @SsnL pointed out, bernoulli is actually 40% faster than release.

Sorry about the false alarm!

[2018-09-21 19:41] #11945 closed

[2018-09-21 19:44] pjh5 commented on #6259
@pprp if you're still encountering this then please open a new issue. This is separate from the orignal issue of this threa.

[2018-09-21 19:44] #6259 closed

[2018-09-21 19:44] #11905 closed

[2018-09-21 20:13] bhushan23 commented on #9530
@soumith @fmassa
as per discussion with @apaszke
we don't see any solid reason to do this now.
We updating API with this change and should have propose reasoning on why is this important.

strict = True notifies about missing and unexpected keys correctly.

[2018-09-21 20:29] Dehde commented on #2341
@peterjc123
Thanks for the quick reply!  I did not fully make myself clear, sorry: Is there a way to run pytorch on windows in jupyter notebook and still use the worker functionality, so not set them to zero? I definitely need parellelized preprocessing.. Thanks for your time!

[2018-09-21 21:17] achalshah20 opened #11950 "Opencv 4 compatibility"
## Issue description

Pytorch is not compatible with opencv 4 macros

## Code example

Getting errors related to opencv macros when compile with opencv 4.
[code]

## System Info
Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out the checklist below manually).

You can get the sc

[2018-09-21 21:21] #11795 closed

[2018-09-21 21:33] zou3519 opened #11951 "dtype mismatch error messages can be misleading"
Example:
[code]

Consider the following:
- Let's say as a user I was given mat2 from a black box
- The user supplies mat1, and then gets this error message, which is misleading because what the user really needs to hear is that "mat1 is of scalar type Float but should be scalar type Double"

Maybe we should change the error message to say
"Scalar type mismatch: got scalar type Double for argument

[2018-09-21 22:30] gchanan commented on #11538
@ezyang implemented this.

[2018-09-21 22:30] #11538 closed

[2018-09-21 22:31] gchanan commented on #11297
what's the motivation?

[2018-09-21 22:36] #10655 closed

[2018-09-21 22:36] #10540 closed

[2018-09-21 22:41] weiyangfb commented on #8853
@realdoug Thanks a lot for the great work! Let me take a look, stay tuned!

[2018-09-21 23:27] #10723 closed

[2018-09-21 23:32] jspisak commented on #11904
thanks Hagay..

cc @houseroad - can you take a look?

[2018-09-21 23:34] houseroad commented on #11904
@jspisak sure, I will.

[2018-09-21 23:45] SsnL opened #11959 "[feature request] Support soft target distribution in cross entropy loss"
Currently our cross entropy loss (i.e., [nn.CrossEntropyLoss](https://pytorch.org/docs/stable/nn.html#crossentropyloss)) only supports a hard target class, i.e., wanting to maximize the output (log) probability of a particular class. But in many times training w.r.t. a soft target distribution (i.e., wanting the output to match a particular distribution) is quite useful too, e.g., preventing overf

[2018-09-22 01:10] asford commented on #11914
@t-vi This interface is used by numba to create a pointer of the underlying data along with a a python-level reference to the owning object (the `torch.Tensor` in this case). Please correct me if I'm mistaken, but this should properly handle ownership/lifetime.

[2018-09-22 01:38] memray commented on #10537
@kashpop
Use nn.utils.rnn.pad_packed_sequence() and set the total_length argument solved my problem. It forces the returned sequence to be equal length.

[2018-09-22 02:33] zkaden opened #11964 "`RuntimeError: undefined Tensor` when calling loss.backward() with cuda on OSX 10.13.6"
## Issue description

`RuntimeError: undefined Tensor` when calling `loss.backward()` with CUDA on OSX 10.13.6. The code runs successfully on cpu on OSX and also runs successfully on linux with CUDA. CUDA version is 9.2 and cuDNN version is 7.2

The traceback is:

## Code example

`import torch`
`import torch.nn as nn`
`from torch import optim`

`class LSTM(nn.Module):`
&nbsp;&nbsp;&nbsp;&nbsp;`de

[2018-09-22 03:19] celticssssss commented on #11754
fine I install the dependencies by this code

sudo apt install python-pydot python-pydot-ng graphviz

and it say this
caffe@admin1:~/pytorch$ python caffe2/python/operator_test/activation_ops_test.py
/usr/local/lib/python2.7/dist-packages/caffe2/python/hypothesis_test_util.py:75: HypothesisDeprecationWarning:
The min_satisfying_examples setting has been deprecated and disabled, due to
overlap with

[2018-09-22 03:54] peterjc123 commented on #2341
Could you show me the minimal code so that I could reproduce?

[2018-09-22 04:06] zkaden commented on #11964
Issue fixed by downgrading to v0.4.1. Leaving open since it's still a bug on v0.5.0

[2018-09-22 04:46] SsnL commented on #11964
Fixed by https://github.com/pytorch/pytorch/pull/11872. It should work now if you pull again :)

[2018-09-22 04:46] #11964 closed

[2018-09-22 05:47] Dehde commented on #2341
I will edit it into this post here on monday, don't have access to the code right now. Thank you!

[2018-09-22 05:53] ozzzp opened #11967 "Jit cannot trace autograd for certain operator"
## Issue description

`torch.jit.trace` can not trace `torch.autograd.grad` for some cetrain operator(SliceBackward)

## Code example

code:
[code]

output:
[code]

## System Info
- PyTorch version: 0.5.0a0+4ad6e53
- Is debug build: No
- CUDA used to build PyTorch: 9.1.85

- OS: Ubuntu 16.04.5 LTS
- GCC version: (Ubuntu 5.4.0-6ubuntu1~16.04.10) 5.4.0 20160609
- CMake version: version 3.5.1

- Pyth

[2018-09-22 10:10] Evpok opened #11968 "Improve doc page readability"
While the new documentation style looks sleeker, I find its readability awful

![image](https://user-images.githubusercontent.com/1656541/45916067-4c80bf80-be4f-11e8-9780-f8feaecafd66.png)

I can barely read the text in the grey-on-grey left navbar and the text of the main content is much too thin to be read comfortably.

cc @ezyang @gchanan @zou3519 @bdhirsh @jbschlosser @anjali411 @brianjo @mrub

[2018-09-22 13:56] mingminzhen opened #11974 "How to use the functions in torch._C._THCUNN?"
Hi,
i want to use the functions in torch._C._thcunn. Is there any docs for that?
what’s the meaning of the parameters?
i find the C code for CudaSpatialFullDilatedConvolution_updateGradInput
[code]

but i don't know the meaning of the ```state```? How can i specify that variable in python?

[2018-09-22 15:57] CarlosYeverino opened #11976 "[caffe2] Documentation of Optimizers (Python API)"
I have been searching for a while and I have not found any documentation regarding the optimizers such as adam, sgd, rms_prop and adagrad. It would be very nice to have some documentation like the one for pytorch https://pytorch.org/docs/stable/optim.html

[2018-09-22 16:57] alainray opened #11977 "[Caffe2"
If you have a question or would like help and support, please ask at our
[forums](https://discuss.pytorch.org/).

If you are submitting a feature request, please preface the title with [feature request].
If you are submitting a bug report, please fill in the following details.

## Issue description

Provide a short description.

## Code example

Please try to provide a minimal example to repro the

[2018-09-22 17:03] SsnL commented on #11974
They aren't public API and maybe removed in future. Why not just using the public API?

[2018-09-22 17:43] alainray opened #11978 "[Caffe2] Attempting to install Caffe2 in Google Colab"
## Issue description

Hello, I'm trying to install Caffe2 in Google Colab so I can work with Detectron.
I've tried installing from Source however it takes too long (more than 2 hours) so it is impractical for Colab. Thus, I'm forced to install from binaries using Anaconda.

I install anaconda without much issues.

`!bash ./Anaconda2-5.2.0-Linux-x86_64.sh`

However, I'm trying to follow the [recomm

[2018-09-22 17:45] #11977 closed

[2018-09-22 18:21] nkolot opened #11979 "torch.nn.DataParallel not working"
## Issue description

I tried to use torch.nn.DataParallel but apparently I can't get it working on my system. I tried to run it using the **pytorch/pytorch:0.4.1-cuda9-cudnn7-runtime** docker image that you provide but the code crashes and outputs
[code]
I also tried it with **pytorch/pytorch:latest** but I am getting the same errors.

When I try to run it using **pytorch/pytorch:0.4.1-cuda9-cudn

[2018-09-22 18:36] romanovacca opened #11980 "[feature request] Increase user-friendliness of dataset.random_split"
## Issue description

Currently, when using the [random_split function](https://github.com/pytorch/pytorch/blob/master/torch/utils/data/dataset.py)  the parameters that need to be given are:
- dataset
- list that contains the lengths of splits to be produced

This means a user has to calculate these upfront and add them to the function as parameters like this:
`train_size = int(0.8 * len(dataset))

[2018-09-22 19:21] phalexo opened #11981 "RuntimeError: ONNX export failed: Couldn't export operator aten::pixel_shuffle"
Ubuntu 14.04, CUDA 9.2, CUDNN 7.1.4, Python 3.6, PyTorch 1.0

Trying out exporting to Caffe2 https://pytorch.org/tutorials/advanced/super_resolution_with_caffe2.html

torch.Size([64, 1, 224, 224])

...                                x,                       # model input (or a tuple for multiple inputs)
...                                "super_resolution.onnx", # where to save the model (can be a

[2018-09-22 19:43] nicoulaj opened #11982 "[feature request] Publish wheels with debug symbols"
It would be great if wheels of pytorch with debug symbols were published (or at least made available via https://ci.pytorch.org), so that users can investigate native crashes without going through the whole (error prone) process of building pytorch themselves.

For reference, I asked [the question on the forums first, but got no answer](https://discuss.pytorch.org/t/pytorch-wheel-with-debug-symbol

[2018-09-22 20:05] phalexo opened #11983 "from caffe2.python import core, net_drawer, net_printer, visualize, workspace, utils"
from caffe2.python import core, net_drawer, net_printer, visualize, workspace, utils
net_drawer will not run correctly. Please install the correct dependencies.

What dependencies?

[2018-09-22 20:14] jwdink commented on #9688
Just wanted to second this issue. For my use case (kalman-filters) the idea is that some of our data may be missing and that our kalman-filter can naturally handle this. When computing the loss, it wasn't obvious that these two statements would have such different effects:

[code]

[2018-09-22 20:45] phalexo commented on #11983
It is pydot.

[2018-09-22 20:45] #11983 closed

[2018-09-22 21:06] MoorayJenkins commented on #1668
[code]

[2018-09-22 21:07] asford commented on #11914
@dandelin

I've found that the easiest way to handle multi-device scenarios is to use device context managers to ensure numba operations are dispatched onto the proper device. The cuda api is used to resolve a valid pointer on the current device for the data pointer, which will raise an API error if there's an invalid cross-device reference.

Eg:

[code]

[2018-09-22 21:14] Houd1ny commented on #9975
I have the same issue

[2018-09-23 03:14] noeagles opened #11986 "[feature request]Please go back to the old theme"
The new theme of docs and tutorials is very confusing and makes it extreme difficult to read on a PC monitor. At very least please allow users to switch theme as they mat prefer.

[2018-09-23 04:54] hfutzzw commented on #11986
actually, the background and foreground is so confused, and I feel hard to read in such a theme.

[2018-09-23 05:45] henryqin1997 commented on #2138
apaszke's way work, while the error info confusing...

[2018-09-23 06:11] akamaus opened #11988 "massive test failures with SIGILL on old P6200 CPU with pytorch-0.4.1 built from source"
## Issue description
I've built pytorch-0.4.1 from source on old laptop having P6200 CPU. Previous versions (0.2,0.3) worked fine but to my surprise almost all testsuite fails for 0.4.1.

 I've to exclude the following in order to run it to the end:
```python3.6 run_test.py  --exclude autograd dataloader distributed distributions indexing jit legacy_nn nn optim sparse torch utils```

I run some of

[2018-09-23 06:38] ngimel commented on #11867
@jamesr66a As bad as aten::layer_norm forward might be, backward is much worse - did you compare backward with c2 implementation?
@ssnl the reason why THNN is used is for layer norm the learnable scale and shift are different from bn, so bn kernel is used exclusively for normalization, and scale/shift is applied separately. cudnn likely does not support this mode.

[2018-09-23 07:38] Teoge opened #11989 "RuntimeError: CUDA error: unknown error"
## Issue description
I upgrade CUDA from 8.0 to 9.0, and reinstall cudnn and pytorch.
Then following error happen:
RuntimeError: CUDA error: unknown error

## Code example
[code]

Traceback (most recent call last):
  File "example.py", line 3, in <module>
    x = torch.tensor([1., 2.], device=device)
RuntimeError: CUDA error: unknown error

## System Info
Collecting environment information...
PyTo

[2018-09-23 11:02] vishwakftw commented on #11930
Closing in favour of https://github.com/pytorch/pytorch/issues/11968

[2018-09-23 11:02] #11930 closed

[2018-09-23 13:11] JesseTG commented on #2206
Is anyone working on this?  If not, I can give it a go.  This is a matter of adding a `Storage.new_pinned` function and adding some `pinned` flags to functions that generate `Tensor`s, right?

[2018-09-23 13:12] jackylee1 opened #11990 "hi ,could you help"
i simply pull the image with nvidia-docker run --rm -ti --ipc=host pytorch/pytorch:latest
on my mac ,the version is 10.13.6 and with the Intel HD Graphics 6000
i want to build pytorch with cuda support.but it failed with following error
Step 4/12 : RUN curl -o ~/miniconda.sh -O  https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh  &&      chmod +x ~/miniconda.sh &&      ~/minicon

[2018-09-23 13:42] crcrpar opened #11991 "[PyTorch] InstanceNorm1d does not work to 2D tensor as we expect."
This issue is related to #9776 and #9924.

## Issue description
When applying `InstanceNorm1d` to 2D tensor, all the outputs are 0.
This is because the variance corresponding to the input is always 0.
Also, I think there are no appropriate tests for 2D tensor.
https://github.com/pytorch/pytorch/blob/76ab26cc3eff1d7ba822d8db93723f5c9598eead/test/test_nn.py#L2299-L2316

I think there is no way to av

[2018-09-23 13:50] nkolot commented on #11979
Thanks, I can confirm it's working. I am closing this issue.

[2018-09-23 13:50] #11979 closed

[2018-09-23 15:10] zuoxingdong opened #11994 "[Documentation enhancement]: bold font for better readability for left panel"
For current [documentation](https://pytorch.org/docs/master/nn.html), the font on the left panel is quite shallow and a bit hard to read. It might be nice to make it darker to improve the readability.

[2018-09-23 15:18] alsrgv opened #11995 "ImportError: No module named future.utils"
Commit https://github.com/pytorch/pytorch/commit/c22dcc266ff29e71f5d0d2ddacb9362ddef062d7 introduced a dependency on the package `future`. Since the `torch` package does not declare a dependency on `future`, this error happens.

[code]

[2018-09-23 15:30] wytcsuch opened #11996 "Test the Caffe2 Installation with GPU erro"
Hi，everyone，when I test the Caffe2 Installation with GPU with this command：
python caffe2/python/operator_test/activation_ops_test.py
It shows ：
/usr/local/lib/python2.7/dist-packages/caffe2/python/hypothesis_test_util.py:75: HypothesisDeprecationWarning:
The min_satisfying_examples setting has been deprecated and disabled, due to
overlap with the filter_too_much healthcheck and poor interaction w

[2018-09-23 15:46] alsrgv commented on #11995
cc @goldsborough @soumith

[2018-09-23 16:00] Balandat opened #11997 "Raise correct error type when passing invalid covariance matrix to MultivariateNormal"
Right now if you pass in a covariance matrix that is not positive definite into the MultivariateNormal constructor, this will raise a `RuntimeError` because it tries to construct `_unbroadcasted_scale_tril` via Cholesky Decomposition before checking the argument validity.

Instead, if `validate_args=True`, this for consistency should raise a ValueError (e.g. by applying `constraint.positive_defini

[2018-09-23 16:09] goldsborough commented on #11995
We have `future` in our `requirements.txt`: https://github.com/pytorch/pytorch/blob/master/requirements.txt#L1
It came as a requirement for caffe2. It generally seems useful to have, but I can also work around it if we feel we shouldn't be using it. @soumith

[2018-09-23 17:34] vishwakftw commented on #11994
Duplicate of https://github.com/pytorch/pytorch/issues/11968 .

[2018-09-23 17:39] alsrgv commented on #11995
That's odd.  It's not getting installed as part of `pip install torch`. Quick repro:

[code]

[2018-09-23 18:27] soulslicer opened #11998 "Visualizing Network?"
How would one visualize say resnet?

This doesnt work

# How to use Pretrained models with PyTorch
# Simple Classifier using resnet50
# code by GunhoChoi

[code]

[2018-09-23 19:38] successar commented on #11822
Corrected on master.

[2018-09-23 19:38] #11822 closed

[2018-09-23 19:45] denjots opened #11999 "Dropout still active in .eval() mode"
Using Pytorch 1.0 preview (nightly build) I'm finding that dropout is still left enabled during testing even though .eval() is used.

[2018-09-23 22:45] terrylyons opened #12001 "Building from source on windows 10 - 67000 warnings and 12 link errors - 6 mpi and 6 other"
Hi, the information you supply, and I followed for building in windows, install anaconda,  and various packages, as per your web site, and then used the short script you suggested.

For me at least, although it takes 5 hours!! it finally fails - the error part is pasted below. I had already tweaked the script on your web page as I use cuda 9.0 and the compiler refused to find the toolset for 2017

[2018-09-24 00:34] crcrpar commented on #11999
Could you share a minimal code to reproduce that?

In my envrionment, dropoout worked correctly as below.
[code]

[2018-09-24 03:45] peterjc123 commented on #12001
@terrylyons Sorry, you cannot build PyTorch with MPI currently. Please turn that off by setting `USE_DISTRIBUTED` or `USE_MPI` to `OFF` and try again.

[2018-09-24 03:47] peterjc123 commented on #11203
@BPavol The message you provided is rather useless. It doesn't contain any useful information. Please provide the full build log.

[2018-09-24 03:48] peterjc123 commented on #11041
Are you building PyTorch for Python x86? It is actually not supported. Please use Python x64 instead.

[2018-09-24 03:58] peterjc123 commented on #10483
@BPavol Did you enable them in the VM? Is this the screenshot you made in the VM?

[2018-09-24 05:28] jiapei100 commented on #11886
@sclarkson

Using Driver 410.57 and Cuda 10.0 now... Everything seems to work fine... Thank you ...

[2018-09-24 05:28] #11886 closed

[2018-09-24 05:40] terrylyons commented on #12001
Thanks, what is the syntax for this? Do I set env variables in the script or add it to the line
python setup.py install
Or manually edit some cmake file?

It seems that cmake found my mpi configuration on my machine and used it without asking me; if your build system engages with it by default but cannot support it I suppose this is a small bug.

Cross platform mpi would be a great extension thoug

[2018-09-24 07:12] BPavol commented on #10483
@peterjc123 I don't use VM. I use PyTorch directly on my laptop. But I give up installing it on Windows.
It is so frustrating and takes many hours to resolve problems and trying to compiling from source. Easier solution was to install Debian as another OS on my laptop. There works at least PyTorch for CPU. Only inconvenience is that my GeForce 310m is compatible only with CUDA 6.5 and minimal CUDA

[2018-09-24 07:46] edtky opened #12004 "ImportError: No module named 'torch'"
## Issue description

I ran the following to installed Pytorch on my windows 10.
``` conda install pytorch-cpu -c pytorch ```

But when I tried to import torch, I get the following error:
``` ImportError: No module named 'torch' ```

i did a "conda list" and verified that pytorch was install:
``` pytorch-cpu               0.4.1           py36_cpuhe774522_1    pytorch ```

Does anyone know how to r

[2018-09-24 08:49] zuoxingdong opened #12005 "[Installation]: add `latest` whl file in `view-source:https://download.pytorch.org/whl/nightly/cpu/torch_nightly.html`"
In the [pip file of nightly installation](https://download.pytorch.org/whl/nightly/cpu/torch_nightly.html), it would be very convenient to add a `latest` wheel file, so it is easy to keep some script file (e.g. for CI) without changing.
i.e. `https://download.pytorch.org/whl/nightly/cpu/torch_nightly-latest-cp37-cp37m-linux_x86_64.whl`

[2018-09-24 09:08] peterjc123 commented on #10483
@BPavol I feel sad that you give up. Still, I wish you happy with Debian. As for your question, I think that it is meaningless to use this GPU due to its low calculation power.

[2018-09-24 09:10] sundw2014 opened #12006 "BN gets dramatically slow when batch_size exceeds a threshold"
## Issue description
I use ```torch.nn.BatchNorm1d``` in my code. When the batchsize of the input exceeds a threshold, BN gets very slow. This problem can be produced on my machine with the code (test_bn.py) provided below.

For example, in the following output I test it with input of size (5x20000, 256), (6x20000, 256), (7x20000, 256) and (8x20000, 256). The magnitude of the running time changes

[2018-09-24 09:11] peterjc123 commented on #12001
Try adding the below lines in somewhere near L185-192 in `tools/build_pytorch_libs.bat`:
[code]
If it works on your side, then I'll submit a PR on this. Anyway, thanks for your report.

[2018-09-24 09:16] peterjc123 commented on #12004
@edtky Could you please give me the output of the following commands in CMD?
[code]

[2018-09-24 09:34] jiapei100 opened #12007 "caffe2's installation is still problematic..."

[2018-09-24 09:59] Houd1ny commented on #9975
I overvome this problem by simply runung my project in nvidia-docker
but this is not accutaly fix

[2018-09-24 10:00] AyeshaNirma opened #12008 "[Caffe2] installing without root"
Guys, I was wondering if it is possible to install caffe2 without root permission or anyone has done it ?

[2018-09-24 10:39] denjots commented on #11999
More testing suggest that it's the use of the functional API version of dropout in the forward section of my NN model definition that's the problem. In 0.4.1 the two print statements output the same number (no dropout) - in the 1.0.0 preview different numbers (dropout active). See below...

[code]

[2018-09-24 10:53] sarmad05 opened #12009 "pytorch installation ubuntu?"
Hi all,
I am trying to setup fastai in my ubuntu operating system. I am all ok with other things like cuda 9.0, cudnn 7.** and anaconda. When i try to run "conda env update" it start updating packages required for fastai to run. But there was a problem download and extracting pytorch due to my unstable internet connection. Then i have downloaded the same exact version from different internet conne

[2018-09-24 10:59] #11999 closed

[2018-09-24 11:02] 314rated commented on #926
I too am getting segmentation fault with pytorch. Could you please help resolve this?
Attached log of gdb where

Thread 7 "python" received signal SIGSEGV, Segmentation fault.
[Switching to Thread 0x7fff930b8780 (LWP 20222)]
0x000055555af55200 in ?? ()
(gdb) where
#0  0x000055555af55200 in ?? ()
#1  0x00007fffcb2558cf in mkl_blas_avx2_s_generic_fullacopybcopy () from /home/vsl1/environments/octobe

[2018-09-24 11:58] denmoroz opened #12010 "Caffe2 compiled with MKLDNN doesn't have device_type = MKLDNN"
## Issue description

Cannot use device_type = MKLDNN adter building Caffe2 from source with MKL and MKLDNN support.

[code]

Then, when using RunNetOnce:

[code]

## Installation process
1. Latest MKL installation:
[code]

2. Installing MKL-DNN from master to "/usr/local/mkl-dnn":
[code]

[code]

3. Installing PyTorch & Caffe2 from master for CPU inference (without CUDA):
[code]

4. Seems like MK

[2018-09-24 12:42] adaitche commented on #5609
With Anaconda 5.2 the problem is gone on OSX. Not sure what actually solved it, maybe some ABI changes in the new Anaconda version.

From my point of view this is resolved.

[2018-09-24 12:42] #5609 closed

[2018-09-24 13:40] floatcs commented on #4090
haha

[2018-09-24 13:45] SsnL commented on #12006
This is probably the cause of #11867 as well

[2018-09-24 13:46] muhammadfraz commented on #4111
Any updates/fixes on this issue ?

`$python3 -c "import torch; print(torch)"`

[2018-09-24 15:39] fmassa opened #12013 "[Feature Request] Make nn layers accept empty batch size"
Now that we have support for tensors with zero in its size, I believe it would be very handy to have support for accepting batches of size 0 in `nn.functional` functions.

A (non-exhaustive) list of functions that would be good supporting:
- [x] `conv{1-2-3}d`
- [x] `conv_transpose{1-2-3}d`
- [x] `batch_norm`
- [x] `interpolate`

Handling the losses is a bit trickier, because it generally involves

[2018-09-24 16:04] ezyang opened #12014 "InitMethodFile.cpp:220:6: warning: ‘master_port’ may be used uninitialized in this function"
Saw this warning in one of our contbuilds:

[code]

CC @teng-li @pietern

[2018-09-24 16:04] zhan2585 commented on #11041
It might be the issue.

I have downloaded python-3.6.6-amd64 and installed pytorch using pip. It succeed!
But thanks for the kind reply.

[2018-09-24 16:05] #11041 closed

[2018-09-24 16:05] bendidi opened #12015 "Install only caffe2"
## Issue description

Hello i'm trying to install caffe2 using the docs from [here](https://caffe2.ai/docs/getting-started.html?platform=ubuntu&configuration=compile) , but I noticed it compiles both caffe2 and pytorch, how can I only install caffe2 ?

## Code example
i'm building from source using the commands
[code]
## System Info

Running on docker :

[code]

- PyTorch or Caffe2: Caffe2
- How y

[2018-09-24 17:18] junwenchen commented on #9990
I am facing the same problem. Have you solved it?

[2018-09-24 17:21] zou3519 commented on #12009
Try a pip installation maybe. See https://pytorch.org/ for more details

[2018-09-24 17:28] zou3519 commented on #11994
Closing because duplicate, please feel free to comment in that thread @zuoxingdong

[2018-09-24 17:28] #11994 closed

[2018-09-24 17:34] zou3519 commented on #11980
@romanovacca this sounds good. Please feel free to pick it up

[2018-09-24 17:35] zou3519 commented on #11990
Could you please use the issue template and provide some additional context?

It looks like you can't get  https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh

[2018-09-24 17:35] #11990 closed

[2018-09-24 17:37] zou3519 commented on #11988
@cpuhrsch could you take a look at this? It looks like the CPU is old and doesn't have some features

[2018-09-24 17:38] zou3519 commented on #11986
Please comment your support / feedback in #11968. Closing this issue because it is a duplicate.

[2018-09-24 17:38] #11986 closed

[2018-09-24 17:39] zou3519 commented on #11982
cc @pjh5 what do you think?

[2018-09-24 17:42] zou3519 commented on #11974
As @SsnL mentioned this API is not public. What layers exactly are you trying to implement?

[2018-09-24 17:43] zou3519 commented on #11967
This needs mutability in the JIT, which is something we're working on. Stay tuned.

[2018-09-24 17:45] nicoulaj commented on #11982
Linking to #6391 as I think it is related

[2018-09-24 17:47] akamaus commented on #11988
@zou3519  It's old indeed. But CPU features are supposed to be detected by cmake before compilation, are't they?

[2018-09-24 17:48] zou3519 commented on #11922
Please try @t-vi's suggestion!

[2018-09-24 17:48] t-vi commented on #7318
I think the most reasonable way to fix this (at least for Python 3) is to generate .pyi.
A quick test seems to indicate that would work well.
I'm not a PyCharm user myself, but if there are enough people who will be extremely happy, I could see if we can generate one from the yaml.

[2018-09-24 17:49] zou3519 commented on #11936
cc @gchanan should we support matmul for cuda bytetensors ?

[2018-09-24 17:56] zou3519 commented on #11849
Resolved

[2018-09-24 17:56] #11849 closed

[2018-09-24 17:58] zou3519 commented on #11797
afaik we don't support non-pytorch objects as arguments to autograd Functions. The fact that we support numpy arrays is because those are upcasted to tensors.

For this, we should probably guard against non-pytorch objects as inputs to autograd Functions.

cc @apaszke

[2018-09-24 18:00] zou3519 commented on #11790
cc @SsnL -- did we fix this?

[2018-09-24 18:01] soumith commented on #11788
cc: @ngimel @csarofeen any clue / help?

[2018-09-24 18:02] soumith commented on #11786
cc: @ezyang didn't you fix this on master recently?

[2018-09-24 18:17] csarofeen commented on #11788
We will take a look.

[2018-09-24 18:29] colesbury commented on #11788
Might be a bug in division that gets reported during the sum() synchronization. I'll take a look

[2018-09-24 18:31] csarofeen commented on #11788
@colesbury I think so, as when I change to mul everything is fine.

[2018-09-24 18:35] cpuhrsch commented on #11988
This CPU is 8 years old. We assume a certain set of default CPU features, that aren't tested before we compile. Before I dig into these, why do you need this @akamaus?

[2018-09-24 18:36] fmassa commented on #11936
For info, numpy supports uint8 matmul, and returns uint8 arrays as well (with overflow occuring)

[2018-09-24 18:49] alexeib commented on #11788
i think i've tried mult by 1/2 instead of div by 2 and it still crashed

[2018-09-24 19:09] csarofeen commented on #11788
I am on a CUDA 10 build but...
[code]

[2018-09-24 19:09] colesbury commented on #11788
Oh, I see the bug. `gpu_unary_kernel` isn't handling arrays larger than 2^31-1 bytes.  Should be an easy fix.

[2018-09-24 19:20] soumith commented on #11888
fixed via #12017

[2018-09-24 19:20] #11888 closed

[2018-09-24 19:32] dbermond commented on #9990
There is still no solution currently.

[2018-09-24 19:44] weiyangfb commented on #11647
@blester125 I am trying to repro this issue via the example you provided, but ran into an error lol would you like to take a look?
[code]

[2018-09-24 20:15] zou3519 opened #12024 "[jit] Slicing a tensor list always creates a tensor that requires_grad"
Repro:
[code]

DynamicType's requires_grad field is always set to True...

[2018-09-24 20:30] alexeib commented on #11788
If i try to multiply by *2* then it works

[code]

but if i multiply by *1/2* then it does not

[code]

[2018-09-24 20:31] alexeib commented on #11788
yeah you are right. its because i multiplied by 1/2 which does mult by 1 and then div by 2 :P

[2018-09-24 20:40] andrewssobral commented on #7680
Hello @ngimel @soumith,

I am also facing a similar issue:
[code]
Here's my setup:
* How you installed PyTorch (conda, pip, source): Source
* Build command you used (if compiling from source): Followed jetson-reinforcement github
* OS: Ubuntu 16.04 on Nvidia TX2
* PyTorch version: 0.5.0a0+a24163a (torchvision 0.2.1)
* Python version: 3.5
* CUDA/cuDNN version: CUDA 9.0 , CUDNN 7
* GPU models and co

[2018-09-24 21:37] gchanan commented on #11936
Sure, I don't see why we wouldn't want to support this.

[2018-09-24 21:46] romanovacca commented on #11980
I have created a solution. This is my first PR and I looked at the 'contributing' document, but don't know how I can unit test my changes using any existing tests. What I did now was locally run this and tested some scenarios and that went well. So is there anything else I can do before creating a PR?

[2018-09-24 21:54] andrewssobral commented on #7680
I know that 'SpatialUpSamplingBilinear.cu' without launch_bounds(1024) leads to this error, but I don't know how to fix it...

Tried this solution https://github.com/pytorch/pytorch/issues/8103 , but still not working (after compilation)

[2018-09-24 21:56] andrewssobral commented on #8103
Hi @joe-devv do you have fixed this? I have the same issue, please look:
https://github.com/pytorch/pytorch/issues/7680#issuecomment-424117317

[2018-09-24 23:59] YaoshengFu commented on #11476
I have encountered the same issue when I tried to run multi-gpu training with DataParallel + spectral norm but it works fine for single gpu. Is there any progress on fixing this?

[2018-09-25 01:51] yaroslavvb opened #12031 "installing pytorch + pytorch-nightly breaks things"
Things break when you install pytorch-nightly in the conda env which already had pytorch installed. Must use fresh conda env for nightly

[code]

[2018-09-25 02:27] ezyang commented on #926
Please open a new issue, and give more details about your install, and what CPU you are running on.

[2018-09-25 02:31] soumith commented on #12015
it is no longer possible to only install CAFFE2.

[2018-09-25 02:31] #12015 closed

[2018-09-25 03:05] SsnL commented on #11476
I'll be submitting a patch soon @YaoshengFu

[2018-09-25 05:31] YaoshengFu commented on #11476
That would be great, thanks!

[2018-09-25 06:08] BIGBALLON commented on #11861
@Shoulder95 Try to build with tag v0.4.0 or tag v0.4.1

[code]
- or waiting for v1.0 (will coming soon)

[2018-09-25 06:33] deepakn94 opened #12042 "Model checkpointed using torch.save() unable to be loaded using torch.load()"
I have created a PyTorch model checkpoint using `torch.save`; however, I'm unable to load this model using `torch.load`. I run into the following error:
[code]

The model was saved using code like this:
[code]

The model was trained across multiple `p3.16xlarge` instances.

[2018-09-25 06:35] deepakn94 commented on #12042
PyTorch version:
[code]

Python version:
[code]

[2018-09-25 07:11] akamaus commented on #11988
Well, I have a beefy desktop where I train models and do most of work and a worn laptop I use to prototyping and coding during travel. So it's very useful for me to be able to at least run and check my code locally. Previous pytorch versions worked fine, as well as tensorflow, for example. pytorch-0.4 brings great usability improvements IMO with all that merged Tensors and Variables from one hand

[2018-09-25 07:16] BIGBALLON commented on #11865
hi, @CarlosYeverino ,

The problem are not in caffe2, it's OpenCV's problem.
the original demo is used to predict RGB images, but you just predict gray image.

so you need to change your ``imageLoad()``.

[code]

then it works fine.

[code]

[2018-09-25 08:28] Kefas commented on #9903
I'm still getting this issue for CUDA 9.0 python 3.7 wheel
`http://download.pytorch.org/whl/cu90/torch-0.4.1-cp37-cp37m-linux_x86_64.whl`

[2018-09-25 08:31] azam-1 commented on #6932
Can anyone help me with my problem?

[2018-09-25 09:36] azam-1 opened #12044 "WordFind"
[class WordFind.pdf](https://github.com/pytorch/pytorch/files/2414620/class.WordFind.pdf)

 **Error is:-**
Standard Error: Traceback (most recent call last): File "Wrapper.py", line 192, in <module> File "WordFind.py", line 5, in findWords NameError: global name 'xFindWord' is not defined

Please tell me where I go wrong.

**And here is the problem:**

[py1-WordFind.docx](https://github.com/pytorc

[2018-09-25 10:03] chenwc07 commented on #11756
Thanks everyone for your reply!

[2018-09-25 11:33] d-b-h opened #12045 "Create a custom function using the functions from math_cpu.cc source code in Caffe2?"
I would like to write my own convolution function in C++ using the GEMM functions defined in math_cpu.cc.  I am planning to write a python wrapper for the function and use in a python environment.  Is this possible?  The reason for this is that the dependencies are already present with the installation of caffe2.

[2018-09-25 13:12] matthieuheitz commented on #11797
Okay, thanks !
I guess I should wait for PyTorch 1.0 to come out, and hopefully the sparse tensor support will be complete.

[2018-09-25 13:29] joe-devv commented on #8103
Hi @andrewssobral , I have pytorch working on my TX2. I'm at SHA1 ID cfa05706efa and have only done the following change in "aten/src/THCUNN/generic/SpatialUpSamplingBilinear.cu":

Around line 62:
comment out THCState_getCurrentDeviceProperties(state)->maxThraedsPerBlock;
Set
const int num_threads = 512;

Around line 97
comment out THCState_getCurrentDeviceProperties(state)->maxThraedsPerBlock;
Se

[2018-09-25 13:31] YontiLevin commented on #7042
had the same error.
tried to drop letters in a char-rnn before the embeddings.
the problem was with the bernoulli.div part
seems that when the input are ints/longs -> ctx.noise.bernoulli is of type int/long
and calling the div_ function with a float results in a crash.
example:
[code]
ugly solution:

[code]

[2018-09-25 13:47] andrewssobral commented on #8103
Great, now it works fine! Thank you @joe-devv !

[2018-09-25 13:49] blester125 commented on #11647
My bad, some stuff got swapped out. This should be the steps to run it, I'll update the issue too. (These
assume that pytorch is already installed)
[code]

This should both print timing information to stdout and also to a file called timing-{pid}.log

[2018-09-25 13:49] andrewssobral commented on #7680
My issue was solved by following https://github.com/pytorch/pytorch/issues/8103#issuecomment-424343705

[2018-09-25 13:52] t-vi commented on #12006
I'm looking at this a bit.

[2018-09-25 14:07] zou3519 commented on #11980
That's a good point, I'm not sure how to test randomness. Feel free to put up a PR and I'll take a look at it.

[2018-09-25 14:28] jeffreyksmithjr commented on #11980
NB on the analogous functionality from Spark: https://spark.apache.org/docs/2.3.1/api/scala/index.html#org.apache.spark.rdd.RDD@randomSplit(weights:Array[Double],seed:Long):Array[org.apache.spark.rdd.RDD[T]]

Just an example of an analogous API and implementation. In particular, I would highlight that the Spark implementation makes the choice of normalizing weights which don't sum to zero. An alte

[2018-09-25 15:02] avmgithub opened #12048 "[pytorch/ppc64le] test_cpp_api_extension test fails"
Torch version : torch (1.0.0a0+dfa03e9)
RH 7.5

When running (python run_test.py -i cpp_extensions)  I get a failure like :

pytorch/test/cpp_extensions/cpp_api_extension.cpp:9:21: error: ‘torch::nn’ has not been declared
 struct Net : torch::nn::Module {
                     ^
pytorch/test/cpp_extensions/cpp_api_extension.cpp:9:25: error: expected ‘{’ before ‘Module’
 struct Net : torch::nn::Modu

[2018-09-25 16:35] avijit9 commented on #12007
Any workaround?

[2018-09-25 17:26] #11362 closed

[2018-09-25 17:49] apaszke commented on #12024
Which is fine. `requires_grad` that's set on types in the JIT is an overapproximation. You should be able to safely return a `nullptr` from the derivative of `aten::select`. Is that not the case?

[2018-09-25 17:50] apaszke commented on #12024
An alternative would be to improve the requires_grad propagation, but it's not like we can depend on it working in all possible cases.

[2018-09-25 18:38] SsnL commented on #12042
cc @ezyang

[2018-09-25 18:39] weiyangfb commented on #11647
@blester125 Thanks! It is running fine now :)

[2018-09-25 18:54] avmgithub opened #12062 "[pytorch/ppc64le] c10d test_gloo_backend test fails / also outputs undefined symbol ..."
torch version:  torch (1.0.0a0+dfa03e9)
RH 7.5 / CUDA 9.2  cuDNN 7.3

======================================================================
FAIL: test_gloo_backend (__main__.DistributedDataParallelTest)

Traceback (most recent call last):
  File "test_c10d.py", line 300, in wrapper
    self._join_processes(fn)
  File "test_c10d.py", line 347, in _join_processes
    self._check_return_codes(elapse

[2018-09-25 19:02] zou3519 commented on #12024
The real problem is that in the following code:
[code]
Each "Tensor" is actually a DynamicType and so `%17` requires_grad, which causes a crash in autodiff if I allow single-node differential subgraphs (so only the prim::Constant is in the differential subgraph)

[2018-09-25 19:37] steplee commented on #12045
Yes, you can put it in the source tree in `caffe2/operators`, or build a shared object/archive to link against.

It gets wrapped in python automatically. If you go the shared object route and want python access, you need to import it and, I think, call `caffe2.python.core.RefreshRegisteredOperators()`.

[2018-09-25 20:05] pclucas14 commented on #11612
would also really like this feature!

[2018-09-25 20:11] #11788 closed

[2018-09-25 20:16] #12044 closed

[2018-09-25 20:18] soumith commented on #11988
this is a regression on our side. our older source installs detected CPU features correctly. @cpuhrsch the task is to find the regression and possibly fix the `#ifdef` somewhere

[2018-09-25 20:38] ezyang commented on #11683
I confirmed that the patch does NOT solve this error, because the serialization path here is actually NOT exercising the multiprocessing serializer.

[2018-09-25 20:41] ezyang commented on #12042
Would it be possible to upload the checkpoint file somewhere, so we can look at it? (Or, if you can provide a script which generates the checkpoint file, that would work too.)

[2018-09-25 20:45] ddkang commented on #12042
Here you go: https://s3.amazonaws.com/distributed-pytorch-imagenet-runs/imagenet-16/run1/model_best.pth.tar

[2018-09-25 20:48] ezyang commented on #12042
Thanks! Looking into it.

[2018-09-25 20:51] rohitj559 commented on #9263
I had the same problem and tried these steps. But it did not work. Assistance required!!! please...

[2018-09-25 20:52] rohitj559 commented on #9263
I had the same problem and tried these steps. But it did not work. Assistance required!!! please...

[2018-09-25 20:54] ngimel opened #12067 "[jit] clamp fusion issues"
1) jit.script errors out if only min or only max argument is specified, with
[code]
~~jit.trace also fails, comlaining about problems stemming from this line in generated code~~
[code]
~~2) Both script and trace fail if min or max are specified as `float('inf')`, also complaining about a line~~
[code]
Repro script
[code]
cc @t-vi, @mruberry promised to look at it (at least at fixing `auto n3 = inf

[2018-09-25 20:56] ezyang commented on #12042
[code]

Also, looks like you're training imagenet; can you make the code available to repro, if possible?

[2018-09-25 21:05] romanovacca commented on #11980
@zou3519 PR is here: [#12068](https://github.com/pytorch/pytorch/pull/12068) . This is my first PR, so if I did it wrong let me know!

@jeffreyksmithjr I do not understand what you mean, could you explain it?

[2018-09-25 21:10] ezyang opened #12069 "Stop using make_intrusive directly; provide some make_tensor"
Right now, if you are working with the lowest level of abstraction and you want to *create* a tensor, the current idiom is something like `Tensor(c10::make_intrusive<SparseTensorImpl>(some, args, ...))`. On further reflection, this is actually a bit strange, because the constructor you're using in this case is `Tensor(c10::intrusive_ptr<TensorImpl, UndefinedTensorImpl>)` and it's not obvious that

[2018-09-25 21:12] ezyang commented on #11683
Oh, actually, the problem is the new c10d module is not serializable. @teng-li has filed a task about it.

[2018-09-25 21:30] ddkang commented on #12042
Which part in particular?

Here's the model: https://github.com/diux-dev/imagenet18/blob/086675a6df3d468e89c651ae4c75f31e5b3f381d/training/resnet.py

Here's how the code is launched: https://github.com/diux-dev/imagenet18/tree/59a8f25171fb8cede51db9187a32fc8f802384a0

[2018-09-25 21:33] avmgithub commented on #12062
Closing this for now.  It looks like it was a bad environment causing this.

[2018-09-25 21:33] #12062 closed

[2018-09-25 21:39] deepakn94 commented on #12042
An easier to use version of the code is here: https://github.com/stanford-futuredata/pytorch-distributed/blob/master/train.py

You can reproduce using `python train.py --machines 16`. There's some additional setup needed to get this working on an EC2 account, and I can walk you through that if needed.

Also, to answer your previous question, you're right that this isn't a .tar file -- it was just

[2018-09-25 21:58] cpuhrsch commented on #11988
@akamaus - Could you please try commenting out lines 1093 through 1097 within [this file](https://github.com/pytorch/pytorch/blob/94c513cc7f27d98ec6b5dead0af7fabcf5c5cd13/cmake/Dependencies.cmake#L1093). I think the main reason this code doesn't work on your CPU anymore is because it doesn't support SSE4. Thank you.

[2018-09-25 22:34] cpuhrsch commented on #11988
cc @colesbury

[2018-09-25 23:14] colesbury commented on #11988
Thanks for reporting this. We should definitely fix it.

@akamaus can your run "disas" in gdb when the program reports SIGILL and report the output? I'd like to figure out which instruction is triggering the SIGILL.

[2018-09-26 02:11] #11751 closed

[2018-09-26 02:47] mingminzhen commented on #11974
@zou3519 I want to specify the output tensor for convolution and batchnorm layer.

[2018-09-26 03:54] SynchronicitydotAI opened #12074 "Latest Docker image build breaks PyTorch"
After a pull today from the PyTorch repo, I generated a Docker build with:

$ docker build -t pytorch -f docker/pytorch/Dockerfile .

...

$ docker run -it --runtime=nvidia ...
root@802db82c54ad:/workspace# python
Python 3.6.6 |Anaconda, Inc.| (default, Jun 28 2018, 17:14:51)
[GCC 7.2.0] on linux
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call la

[2018-09-26 04:27] svenstaro opened #12075 "On cuda 10: THCAtomics.cuh(100): error: cannot overload functions distinguished by return type alone"
## Issue description

Hello, I'm the maintainer of pytorch in Arch Linux. I'm trying to get it to build against cuda 10. It's currently blocking the move to cuda 10 so I'd like  to get this to build somehow.

Compiling pytorch 0.4.1 against cuda 10 fails with this shortened log:

[code]

## My build invocation

I'm building 0.4.1 release commit `a24163a`.

This is what I'm currently using to build

[2018-09-26 06:11] peterjc123 commented on #9263
What do you mean by saying "did not work"? What is the result of this script?

[2018-09-26 06:34] sundw2014 commented on #12006
In this case, the shape of the input is ```NxC```. If ```N>131070```, cuDNN can't handle it and it will be processed by THNN.

According to the following code in THNN, it will be inefficient because ```input.getSize(0) = N, input.getSize(2) = 1``` and ```N``` is large. So __2d input to ```torch.nn.BatchNorm1d``` will cause low utilization of GPU__. To solve this problem, we can transpose and resha

[2018-09-26 06:47] akamaus commented on #11988
@colesbury here it is
[code]

[2018-09-26 07:03] akamaus commented on #11988
First lines of build log caught my eye. I think it mistakenly detects avx and avx2.
[code]

[2018-09-26 07:32] t-vi commented on #12006
Right.  I'm looking at moving batch norm to native (to avoid even further complicating batch norm dispatching) and adding a 1d-kernel.

Best regards

Thomas

[2018-09-26 08:59] t-vi commented on #12075
I don't think you get CUDA10 compatibility without moving from 0.4.1. The master branch should build with cuda 10 thanks to fixes like #12017 .

[2018-09-26 09:04] svenstaro commented on #12075
Perhaps the changes could be backported. Alternatively a release based in current master could be made. Any idea on the timeframe on that?

[2018-09-26 09:14] t-vi commented on #12075
You should definitely backport that.
Regarding releases, [next week, we'll all know more.](https://pytorch.fbreg.com/schedule)

[2018-09-26 09:25] jiapei100 opened #12081 "Where to specify CMAKE_INSTALL_PREFIX ?"
Hi, I'm using the command `NO_TEST=1 USE_MKLDNN=1 FULL_CAFFE2=1 python setup.py build`
to build **pytorch**, but where to specify **CMAKE_INSTALL_PREFIX** ?

Without specifying **CMAKE_INSTALL_PREFIX**, **CMAKE_INSTALL_PREFIX** will be **./torch/lib/tmp_install** by default, which is NOT what I expected. I'm expecting the built file to be installed under **/usr/local** ...

Any suggestions please?

[2018-09-26 09:46] qbx2 opened #12082 "[feature request] API to change loc and scale to cuda tensor in torch.distributions.Normal"
## Issue description
When I use some functions in Distribution with CUDA tensors, it will fail.
[code]

I think it is helpful if there is to() or cuda() to move internal variables to wanted device.

I temporarily solved the problem by
[code]
It would be easy to add the function, how do you think?

## System Info
- PyTorch or Caffe2: pytorch
- How you installed PyTorch (conda, pip, source): source

[2018-09-26 10:09] meganset opened #12083 "CUDAGenerator.cpp doesn't call THCRandom_seed()"
## Issue description
On the CUDA side, the _seed()_ call doesn't reset the seed, just returns the result of _initialSeed()_

## Code example

pytorch/aten/src/ATen/cuda/CUDAGenerator.cpp

`uint64_t CUDAGenerator::seed() {`
  `return THCRandom_initialSeed(context->getTHCState());`
`}`

`uint64_t CUDAGenerator::initialSeed() {`
  `return THCRandom_initialSeed(context->getTHCState());`
`}`

over on t

[2018-09-26 10:19] bendidi commented on #10675
I get this error when trying to convert a detectron model to `.pb`, so maybe it's related :
[code]

[2018-09-26 10:49] vishwakftw commented on #12082
cc: @fritzo I believe this related to https://github.com/pytorch/pytorch/issues/7795 .

[2018-09-26 10:57] t-vi commented on #7318
So the main module seems easy enough:
![image](https://user-images.githubusercontent.com/20787943/46075724-a48b2f00-c18b-11e8-8ec4-a816925161b8.png)

[2018-09-26 11:35] d-b-h commented on #12045
How is creating an operator for convolution different than writing a function that does the same?  I am unaware of the required linking and building of dependencies involved in doing such a task.

[2018-09-26 12:14] wangyunxiaa opened #12084 "RuntimeError: ONNX export failed: Couldn't export operator aten::std"
hello,
I want to convert torch-model to onnx, I can transfrom the "alex-net" which is downloaded from network, but i have an error like
"/home/yunxiawang/anaconda2/envs/py3onnxsource/lib/python3.6/site-packages/torch/onnx/utils.py:447: UserWarning: ONNX export failed on ATen operator std because torch.onnx.symbolic.std does not exist
  .format(op_name, op_name))
Traceback (most recent call last):

[2018-09-26 12:40] qbx2 commented on #12082
Oh, yeah. Closing by duplication. Thanks.

[2018-09-26 12:40] #12082 closed

[2018-09-26 13:07] avmgithub commented on #12048
This looks to have been caused by a bad environment or corrupt pytorch installation. Closing for now.

[2018-09-26 13:08] #12048 closed

[2018-09-26 13:42] steplee commented on #12045
The purpose of a deep learning framework is to wire together a computational graph that does forward and backward passes. To compute gradients for the backward pass, you need more than a typical C++ function that only returns the answer during a forward pass.

The difference between the two is that an operator wraps a function, provides another operator for its gradient, and, crucially, can be use

[2018-09-26 13:44] jeffreyksmithjr commented on #11997
Going to take a crack at this one, @zou3519 .

[2018-09-26 13:49] kajwes commented on #11480
I'm having the same issue. Did anyone find out?

[2018-09-26 14:07] SynchronicitydotAI commented on #12074
Don't attempt to run PyTorch from a directory where another directory named pytorch exists.

[2018-09-26 14:07] #12074 closed

[2018-09-26 14:28] rudaoshi commented on #5198
Why this issue is closed? the  #6718 does not implement this feature. @SsnL

[2018-09-26 14:31] tblattner opened #12086 "Caffe2 issues with using Glog without GFlags"
## Issue description

Trying to compile caffe2 with Glog that is not compiled with GFlags is causing compilation errors.

Is it required to build Glog with GFlags for Caffe2?

If I `apt install libgoogle-glog-dev`, then I do not get the compilation errors. However this will also pull in GFlags.

Also there does not appear to be a way to specify a custom install location for glog. I tried using `gl

[2018-09-26 14:50] rudaoshi commented on #5198
diagflat does not work in batch.

[2018-09-26 15:13] mingminzhen opened #12088 "No module named future"
I try to use the torch_nightly version (https://download.pytorch.org/whl/nightly/cu92/torch_nightly-1.0.0.dev20180925-cp36-cp36m-linux_x86_64.whl). When i try the cpp__extension, the error occurs.

The code:
[code]
error is
[code]

[2018-09-26 15:15] isaacgerg commented on #11089
@syed-ahmed Hy Syed. Just a friendly ask if there is any progress in NVIDIA land in providing a fix for this.

[2018-09-26 15:16] ringdk commented on #4049
This worked for me too, thanks a million, would never have figured that out otherwise!

[2018-09-26 15:18] avmgithub commented on #9906
this seem to have been fixed, closing

[2018-09-26 15:18] #9906 closed

[2018-09-26 15:38] gbaptista commented on #11326
Same problem here... But, only with version `0.4.1`:
[code]

With version `0.4.0` works fine:
[code]
So, probably a bug introduced in version `0.4.1`.

[2018-09-26 15:50] Darel13712 opened #12093 "Can't convert numpy to tensor"
## Issue description

torch.tensor() fails at certain long arrays

## Code example

[code]
works just fine:
[code]
But...
[code]

Latest Pytorch
[code]

[2018-09-26 15:54] vishwakftw commented on #12093
The cause is not long array. It seems to be the fact the `torch.cat` is not implemented for the `torch.half` datatype.

Reproducible on master as well:
[code]

[2018-09-26 15:56] Darel13712 commented on #12093
`

`
Works but
`

`
doesn't

[2018-09-26 15:59] theonegis commented on #4741
So, why it solves this problem by doing so?

[2018-09-26 16:02] fmassa commented on #12093
@vishwakftw is right.
The reason is that our internal function for tensor printing leverages `torch.cat` in a few cases, which fails for `half` type.

[2018-09-26 16:04] theonegis commented on #3869
Have you solved this problem by decreasing the momentum in BatchNorm layer?

[2018-09-26 16:08] vishwakftw commented on #12088
Related to https://github.com/pytorch/pytorch/issues/11995

[2018-09-26 16:09] apaszke commented on #11480
Hasn't this been fixed by @zdevito?

[2018-09-26 16:30] Darel13712 commented on #12093
I guess I'll have to do `.astype(np.float32)` for now.

[2018-09-26 17:12] davidbrownellMS commented on #12001
@peterjc123 Another data point: I set the flags as described, rebuilt, and am running into the same linker errors.

[2018-09-26 17:14] hyperfraise commented on #5580
Totally agree

[2018-09-26 17:18] fmassa commented on #5580
@hyperfraise nearest upsampling when target size isn't divisible by input size is already implemented and working on master (probably in 0.4.1 as well). ByteTensor support is not yet implemented though

[2018-09-26 17:45] fritzo commented on #11997
As mentioned in #12102, the issue is that arg checking [happens](https://github.com/pytorch/pytorch/blob/master/torch/distributions/distribution.py#L30) in `Distribution.__init__()`, but `MultivariateNormal.__init__()` performs some linear algebra before calling `super(...).__init__()`. I think the solution is to move any linear algebra operations below the `super(...).__init__()` call in `Multiva

[2018-09-26 17:46] fritzo commented on #11997
cc @neerajprad @alicanb

[2018-09-26 17:50] spandantiwari opened #12104 "Test failure in pytorch/test/onnx/test_models.py"
## Issue description
I have built Pytorch from yesterday's (Sept 25th) master. It is a CPU-only release build on Ubuntu 16.04. More details are given below.

I am trying to run the pytorch/test/onnx/test_models.py test, but it fails to export PixelShuffle op in the SuperResolution.py model.

## Code example
`cd pytorch/test/onnx`
`python test_models.py`

I see the following failure:

[code]

## Sy

[2018-09-26 17:59] jeffreyksmithjr commented on #11997
@fritzo , @apaszke clarified that as well, F2F. Check out the revised PR to see if it matches your expectation.

[2018-09-26 18:03] mruberry opened #12106 "Autograd Engine clears callbacks at each invocation, breaking reentrant backwards callbacks"
In PR #8354 we noted that the autograd engine always clears its final callbacks on execute():

[code]

Which suggests that if execute() is called twice during a run of backward() then callbacks already enqueued from the first or outermost run will be destroyed. This is clearly unexpected.

@apaszke and I think we could address this by associating final callbacks with backwards graphs and calling t

[2018-09-26 18:04] syed-ahmed commented on #11089
As of CUDA 10 release last week, the bug has been fixed in cuFFT and I have updated the note here: https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/cuda/CuFFTPlanCache.h#L349. Also, I have added CUDA 10 guards to `CuFFTPlanCache.h` through this commit https://github.com/pytorch/pytorch/commit/ffbac7d0bb4e0772cab0054f79339478124ea9aa. Hence, if you compile PyTorch with CUDA 10, t

[2018-09-26 18:08] isaacgerg commented on #11089
Thank you. I am okay if you close.

On Wed, Sep 26, 2018 at 2:06 PM Syed Tousif Ahmed <notifications@github.com>
wrote:

[2018-09-26 18:18] #11089 closed

[2018-09-26 18:19] vadimkantorov commented on #5580
@fmassa Cool :) One more step towards doing without Pillow dependency potentially :)

[2018-09-26 18:32] colesbury commented on #11988
Yeah, it looks like it's erroneously detecting SSE4.1, SSE4.2, AVX, and AVX2. The SSE4.1 in particular is causing the SIGILL.

@akamaus, just checking, the build log is from your P6200 CPU, right?

[2018-09-26 18:49] alsrgv opened #12110 "PYBIND_MODULE is broken: error: expected constructor, destructor, or type conversion before '(' token"
The break occurred between torch_nightly-1.0.0.dev20180924-cp27-cp27mu-linux_x86_64.whl and torch_nightly-1.0.0.dev20180925-cp27-cp27mu-linux_x86_64.whl.  The error is:
[code]

cc @soumith

[2018-09-26 18:55] rohitj559 commented on #9263
Well....  The script printed out a senetence to copy the dll from a source path and paste it into env variables path. I tried out the instruction of the script but nothing worked. After doing more research, I found that my PC(Windows 10) didnot have any gpus within and so I had to run the command - “conda install -c peterjc123 pytorch-cpu” by removing the pytorch version installed earlier for cuda

[2018-09-26 18:55] alsrgv commented on #12110
Resolved by adding `-DTORCH_API_INCLUDE_EXTENSION_H`.

[2018-09-26 18:55] #12110 closed

[2018-09-26 18:57] alsrgv commented on #11995
Do you guys think this can be resolved before the 1.0 release?

[2018-09-26 20:00] spandantiwari opened #12112 "Illegal instruction (core dumped) on Debug CPU build"
## Issue description

I am seeing "Illegal instruction (core dumped)" failure when on CPU-only Debug build from source
(master from 24th Sept 2018).

It seems to be because of unsupported instruction, but I am building from source on my machine (Ubuntu 16.04). And I do NOT see this on the Release build.

## Code example
Run the test pytorch/test/onnx/test_models.py.
`cd pytorch/test/onnx`
`python

[2018-09-26 20:40] ngimel opened #12115 "[regression] .mean() for half tensors no longer gives correct result even if result is representable in fp16"
[code]
used to produce `tensor(1., dtype=torch.float16, device='cuda:0')` around the end of May, now it is
`tensor(nan, device='cuda:0', dtype=torch.float16)`
Two reasons: mean was moved to ATen and thus no longer uses fused THC kernels for this
https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/ReduceOps.cpp#L96-L109 (that alone would lead to result being `inf`), and long `numel`

[2018-09-26 20:42] mruberry commented on #12115
(our fault = my fault)

There is an fp16 mean test but it doesn't catch this failure.

[2018-09-26 20:42] #2533 closed

[2018-09-26 20:43] #8057 closed

[2018-09-26 21:00] ezyang opened #12117 "Error: Internal Compiler Error (codegen): "there was an error in verifying the lgenfe output!""
If you attempt to put `at::optional` in a struct which is used from a cu file, you may get this error:

[code]

A minimal reproduction is this program:

[code]

compiled with `nvcc -c main.cu -std=c++11 --expt-relaxed-constexpr` (the `--expt-relaxed-constexpr` is mandatory).

There is a simple workaround for this problem: **explicitly initialize all optional fields in your constructor.** So for ex

[2018-09-26 21:04] apaszke opened #12118 "JIT segfaults when a Python call throws."
[code]

gives me

[code]

Stack trace points to pybind calling `PyErr_Fetch` (which likely segfaults because we don't hold the GIL and the Python thread state is NULL).

[code]

[2018-09-26 21:08] burnzzz commented on #10816
Did you? If yes, can you link it from here? I´m having the same error...

[2018-09-26 21:13] terrylyons commented on #12001
I have run the amended script as per your directions (thanks), and I still get errors, many errors, but they seem to be around onx and misparsing \i in the cmake leading to the modules not being built and the link ultimately failing.  But one in particular near the end in console.txt is very interesting – there is a complaint on the error message stream
warning: no library file corresponding to 'C

[2018-09-26 21:27] jiapei100 opened #12119 "Specify Cuda architecture?"
How can I specify cuda architecture while building pytorch by

`
python setup.py install
`

???

[2018-09-26 21:29] cpuhrsch commented on #11988
@akamaus - could you try rerunning this using this PR https://github.com/pytorch/pytorch/pull/12109 ?

[2018-09-26 21:35] ezyang commented on #12042
One data point: the file descriptor at the time of error is misaligned:

[code]

[2018-09-26 21:48] ezyang commented on #12042
@deepakn94 Does this repro if you run it on only one node? Basically, I want the model to be as small as possible while still reproducing the error.

[2018-09-26 21:53] t-vi commented on #12006
So by making swapping the 0th and 2nd dimension of weight if the first is larger, I get this down a bit, but not remarkably so. (I also moved BN to ATen/native, but that shouldn't matter that much, I think).
[code]

[2018-09-26 21:53] ddkang commented on #12042
The model serializes and deserializes fine when run on one node.

[2018-09-26 21:55] deepakn94 commented on #12042
Here's another datapoint: serialization and deserialization seems to work fine for 4 nodes when using PyTorch 0.4.0

[2018-09-26 21:59] ezyang commented on #12042
OK, I'm reading the serialization code, and I think I see an incorrect use of the `write()` function. Posting patch soon...

[2018-09-26 22:10] ezyang commented on #12042
Please recompile PyTorch with the following patch, which will fix write-time corruption.

[code]

I am not 100% sure this will fix the problem, I need to audit the rest of the sites now.

[2018-09-26 22:13] deepakn94 commented on #12042
Okay, thanks.

There's no way to salvage the existing checkpoints, right?

[2018-09-26 22:14] ezyang commented on #12042
If the patch above fixes the problem, no, they're irretrievably corrupted.

[2018-09-26 22:41] gchanan opened #12120 "torch.argsort not showing up in docs"

[2018-09-26 22:45] gchanan commented on #12120
also `torch.pdist` doesn't seem to be showing up either.

[2018-09-26 22:47] gchanan commented on #12120
also `broadcast_tensors`.

[2018-09-26 22:49] gchanan commented on #12120
also narrow doesn't appear on `torch.`, only Tensors.

[2018-09-26 23:35] deepakn94 commented on #12042
Okay. I'll a little busy for the next day or two, but will check this patch over the weekend.

[2018-09-27 00:28] cpuhrsch commented on #11988
@akamaus - could you also post (maybe via pastebin) the content of the compile_commands.json file within your build directory?

[2018-09-27 02:44] jiapei100 commented on #12119
@soumith

It looks the **1. cmake** **ONLY** installs **python caffe2**, instead of **python pytorch** ??
What about **2. python setup.py install**? Will this install **python pytorch**?

[2018-09-27 02:45] peterjc123 commented on #9263
@rohitj559 I see. Then there must be something wrong in judging whether the PyTorch package is CUDA version. Could you tell me which version you installed previously?

[2018-09-27 02:51] deepakn94 commented on #12042
Should I apply this patch to current master? Or to the old commit we were using?

Also, seems like PyTorch 0.4.0 on 16 machines _doesn't_ work.

[2018-09-27 02:57] ezyang commented on #12042
I authored this patch on master, but it should backport to older versions too. Perhaps it would be better to backport to the old commit to get a cleaner test.

[2018-09-27 03:08] JamesKasperYu opened #12127 "how to use the checkpoint function"
I  try to use the checkpoint function,when I train,gpu keeps the memory but don't work  and the train progress don't work either(without any error print). How can I make the checkpoint function work.

[2018-09-27 03:27] soumith commented on #11995
@alsrgv yes we'll resolve this before the 1.0 final release. @goldsborough will close this soon.

[2018-09-27 03:34] ZongyueZhao opened #12128 "Please enable the autocomplete feature"
## 🚀 Feature

Make it possible for the text editors to autocomplete methods, like torch.randn().

## Motivation

Intellisense is a gift to developers. We NEED it, Please.

## Pitch

I've looked up the .py files and .h files, and it seems the problem is due to that all the methods cannot be indexed are only declared in head files and implemented in the .pyd and dlls that editors can not deal with.

[2018-09-27 03:42] soumith commented on #12081
if you use `python setup.py ` it will use python conventions, and will build a python package. Hence it wont be built or installed in /usr/local

[2018-09-27 03:42] #12081 closed

[2018-09-27 04:01] alsrgv commented on #11995
@soumith, @goldsborough, excellent, thanks!

[2018-09-27 04:24] tbenst opened #12129 "Broadcasting fails for mse_loss when tensors have no grad"
## To Reproduce

[code]

## Expected behavior

Broadcast should work the same as with grad.

## Workaround

[code]

[2018-09-27 04:37] d-b-h commented on #12045
I understand, thank you.  I looked at a couple of operators on your profile and looked at the references you have linked to as well. Can you recommend a starting point for a complete beginner in caffe2 trying to write their own operator?

[2018-09-27 07:03] elvisyjlin commented on #1875
The mean operation is still not implemented for several types as @weiyangfb mentions. However, in NumPy, those values are automatically converted to np.float64 when calculating their average values. Do you think it is better to have the same behavior of mean in PyTorch?

[2018-09-27 07:14] akamaus commented on #11988
@colesbury
yes, of course it was from P6200
@cpuhrsch
I checked out your PR and run build. It will take a while but here is cmake log. Looks like it detects AVX again so I guess the result will be more or less the same.
https://pastebin.com/DTQuLJaf

And here is the compile_commands.json (from your PR also)
http://vyal.ru/compile_commands.json

[2018-09-27 07:28] leomao opened #12131 "Some issues about the new doc theme"
Hi, I found that there are some problems (in my opinion) of the new theme of the [documentation](https://pytorch.org/docs/master/):
- The font is too thin compared to the original one.
- The background color is too bright compared to the original one.
- It is hard to navigate across a long section (ex: `torch.nn`) without subsections in the left sidebar.
- render inline code strangely. ex:
![scree

[2018-09-27 08:54] fmassa commented on #12129
Yes, this is a bug and happens because the second case dispatches to our `THNN` implementation.
This should be fixed, probably by removing the dependency on THNN altogether.

[2018-09-27 08:54] Oracen commented on #4291
@juliohm, he's using MSE loss.

I'm seeing similar errors. I have two near identical matfac models, one trains fine, the other kills the kernel within a single loop. Running within the Fast.Ai library, but the error is with Pytorch functional

OS: Ubuntu 16.04
CUDA: V9.0.176
Pytorch: 0.4.1
GPU: GTX1080TI (3 available, but only training on one)

Reproduction code seems kind of tough, because it's s

[2018-09-27 09:44] fmassa commented on #12131
Closing because it's a duplicate. Please @leomao feel free to comment on that thread.

[2018-09-27 09:44] #12131 closed

[2018-09-27 09:54] wlgcqh opened #12133 "How to initialize caffe2::Tensor"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

I don't know how to initialize  Tensor(const vector<int64_t>& dims,const vector<T>&

[2018-09-27 12:03] sovrasov commented on #5013
Also I've improved the above mentioned scripts to support grouped convolutions and several other layers:
https://github.com/sovrasov/flops-counter.pytorch

[2018-09-27 12:18] yw155 opened #12134 "[caffe2] How to set different learning rates for different layers?"
Hi, I would like to ask a question that how to set different learning rates for different layers in Caffe2. Who can provide some examples of this? Thanks in advance.

[2018-09-27 12:43] mittagessen opened #12135 ".device property on layers"
## 🚀 Feature

The `.device` property should be available on layers.

## Motivation

While it is straightforward to determine on which device a tensor resides this is more complicated for layers, requiring a construction like `next(next(nn.children()).parameters()).device` in simple cases. This is a bit annoying when having to move a network temporarily onto the CPU for some operation like serializ

[2018-09-27 13:08] kabibubi opened #12136 "[Caffe2] GAN No Gradients in Generator"
Hi everyone,
In the process of my Bachelor Degree I am building a DCGAN in caffe2. After following all the tutorials I have figured out a architecture. But when I run my Code the Generator does not update at all. I made some debugging and found out, that the Generator's layers do not receive any Gradients at all.
Even my tutor can't find the source of the issue.

I am grateful for any help! =)

He

[2018-09-27 13:15] vadimkantorov commented on #9406
Even docs are in :) https://github.com/pytorch/pytorch/pulls

Closing this

[2018-09-27 13:27] vadimkantorov commented on #9406
Some questions on `torch.pdist`:
1) Does it return the results in a "condensed distance matrix" format? Maybe docs can be a little more clear about it.
2) Should there be an argument to return a full format directly? In SciPy there is a function `squareform` for this
3) Does it support batch mode? i.e. work for setting `B x N x D` -> `B x N x N` (or `B x (N*(N -1))` for condensed)

[2018-09-27 13:28] fmassa commented on #12135
This has been already discussed in the past, see e.g., https://github.com/pytorch/pytorch/issues/7460
Quoting @apaszke

[2018-09-27 13:37] kabibubi commented on #12136
Okay after even more debugging I found out, that the line

`model.AddGradientOperators([loss_g])`

is the problem. AddGradientOperators can take any blob but loss_g to build Gradients.
Does not solve the problem so far...

[2018-09-27 14:07] zou3519 commented on #12128
Are you referring to https://github.com/pytorch/pytorch/issues/7318?

[2018-09-27 14:29] ZongyueZhao commented on #12128
My bad, I’ll resubmit the request with the right format.

在 2018年9月27日，上午10:08，Richard Zou <notifications@github.com<mailto:notifications@github.com>> 写道：

Are you referring to #7318<https://github.com/pytorch/pytorch/issues/7318>?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/pytorch/pytorch/issues/12128#issuecomment-

[2018-09-27 14:35] ZongyueZhao commented on #12128
But if this isn’t about the request format, then the problem is similar to #7318. However, instead of IDEs like PyCharm, I was referring to editors like VS code or sublime. Their plugins won’t work.

Thank you.

Sincerely,
Zhao

在 2018年9月27日，上午10:08，Richard Zou <notifications@github.com<mailto:notifications@github.com>> 写道：

Are you referring to #7318<https://github.com/pytorch/pytorch/issues/7318