[2019-02-20 03:11] ezyang commented on #17157
They don't.

[2019-02-20 03:13] dragonbook commented on #17157
Ok, thanks!

[2019-02-20 03:16] driazati opened #17291 "Exceptions have a hardcoded message"
`raise` statements in the JIT always raise with the string "Exception". They should instead use the user supplied arguments

Example
[code]
Outputs the graph
[code]

cc @ezyang @gchanan @zou3519 @suo @gmagogsfm

[2019-02-20 03:20] #17157 closed

[2019-02-20 03:44] jybaek commented on #6501
I had the same problem and renamed `THGeneral.h` from `conda/envs/<ENV_NAME>/` to something similar to what @rgreenblatt  said, and it was installed normally. Good luck to friends who are having the same problem.

[2019-02-20 04:05] lianxxx opened #17292 "issues with converting to torch script via tracing"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)
    num_classes = len(labelmap) + 1                      # +1 for background
    net

[2019-02-20 04:05] ClimbsRocks commented on #16034
I'm also seeing the same error, and also have a 2080 TI.
`RuntimeError: cublas runtime error : the GPU program failed to execute at /opt/conda/conda-bld/pytorch-nightly_1549566624064/work/aten/src/THC/THCBlas.cu:259`

I'm certainly not ruling out a bug in my code. Interestingly, I was able to get many models to train, but now this error keeps coming up. Any insight would be very welcome!

[2019-02-20 04:34] ClimbsRocks commented on #16034
Ah, found it! I was running PyTorch with https://github.com/facebookresearch/maskrcnn-benchmark , and had to recompile the maskrcnn-benchmark library after installing.

From an [issue](https://github.com/facebookresearch/maskrcnn-benchmark/issues/435) on there, it seems that a particular version of pytorch-nightly had this issue, but the main releases of PyTorch don't. So once I updated to one of

[2019-02-20 04:43] peterjc123 commented on #16011
Looks like it's solved now.

[2019-02-20 04:43] #16011 closed

[2019-02-20 04:49] KinglittleQ commented on #14175
I can try to port it into Pytorch if you could tell me where should I add the forward and backward function. But I'm not sure I have time to complete it as there's other work for me to do now.

[2019-02-20 04:51] vishwakftw commented on #14175
Is it fine if I complete the port on your behalf?

[2019-02-20 04:53] KinglittleQ commented on #14175
Of course, it's OK.

[2019-02-20 04:54] vishwakftw commented on #16963
@fmassa there are no other implementations provided by other libraries. What we can do however, is to write up a Schur decomposition based algorithm for computing the inverses of large matrices.

[2019-02-20 04:54] vishwakftw commented on #14175
Thank you, I'll ping you when I send in the pull request.

[2019-02-20 06:04] xkszltl commented on #17239
@ezyang Checked out 1 commit before #16892 and it works.

[2019-02-20 06:09] perry0418 commented on #17144
hi @t-vi，thanks for your advice , I test the program follow your suggestion. and post the log at below. I think there may have some parameter of topk need fix in Pytorch for TX2.
### 1. the tensor size and dtype are printed as below
print the tensor size:
torch.Size([1,50250])
print the tensor type:
torch.cuda.FloatTensor
print pre_nms_top_n:
6000
objectness, topk_idx = objectness.topk(pre_nms_top

[2019-02-20 06:18] AbdelnasserMostafa commented on #6061
I got the same error but fixed it with loss.item() as [vishwakftw] mentioned above.  Thank you

[2019-02-20 06:37] t-vi commented on #17144
Thanks for trying this out!
Then we need to set launch bounds on the topk kernels.
Given that my ATen move is a bit stuck, I'll send a targeted fix.

[2019-02-20 07:20] twesterhout commented on #17225
Thanks @colesbury! You're right. Is there a way to detect at runtime that OpenMP thread pool has been initialised and throw on attempts to fork? A big warning sign in the docs of `torch.multiprocessing` would also help.

[2019-02-20 07:22] RizhaoCai commented on #3415
Thanks! However, I added this into my code:
from torch.utils.data import Dataset, DataLoader
class H5Dataset(Dataset):
    def __init__(self, h5db_path):
        h5db = h5.File(h5db_path,"r",libver='latest', swmr=True)

        self.X =  h5db["faces"]
        self.labels = h5db["labels"]
        .....

db_path = "train.h5"
h5db = H5Dataset(db_path)
# h5db = h5.File(h5db_path,"r",libver='latest', s

[2019-02-20 07:23] t-vi commented on #17144
@perry0418 Can you check if the [branch above](https://github.com/t-vi/pytorch/tree/topk_launch_bounds) fixes your problem, please? Then I'd make a PR for it.

[2019-02-20 07:32] RizhaoCai commented on #3415
Encounter the same problem. Do you solve it?

[2019-02-20 07:34] mfuntowicz commented on #14805
@soumith, @SsnL Commenting on this quite old post, but the problem did reappear yesterday when I was building pytorch from master with NO_DISTRIBUTED=1.

Trying to allocate a tensor on cuda:0 makes the error appear:
`couldn't find libcudart. Make sure CUDA libraries are installed in adefault location, or that they're in LD_LIBRARY_PATH`

[2019-02-20 07:40] cissoidx commented on #13834
same problem here.

[2019-02-20 08:01] t-vi commented on #17274
This is essentially #15698 .
It's particularly grave due to #14486 - which seems to affect PyTorch, too (?).

[2019-02-20 08:10] peterjc123 commented on #17239
cc. @kostmo
Interestingly, the importing of torch crashed, too.
And the backtrace is

[code]
So the problem is actually on the allocator/deallocator of TH. Actually, I agree with @ezyang that we should revert #16892 back.

PS. If you want the binaries with PDB, they are here: https://s3.amazonaws.com/ossci-windows-build/pytorch/pytorch-win-ws2016-cuda9-cudnn7-py3-dd6ef260b7e920f58c9d7301884f951b3a

[2019-02-20 08:11] perry0418 commented on #17144
thx @t-vi,  I will check it soon , and give the feedback later.

[2019-02-20 08:13] bill4278 commented on #17248
![image](https://user-images.githubusercontent.com/32795143/53076372-7cc9a880-352a-11e9-8479-b5efeb36254d.png)

[2019-02-20 08:16] igiloh commented on #16954
@lerks - are you sure that:
[code]
Would end up with the exact same performance as `pool = mp.Pool()`?

If I understand correctly - this essentially means that PyTorch reductions do get registered for `ForkingPickler` (that happens even just by `import torch` if I'm not mistaken) - but `_setup_queues()` doesn't get overridden to use `SimpleQueue()`s.  Won't that affect performance somehow?

[2019-02-20 08:49] perry0418 commented on #17144
@t-vi
thank you so much!
it works !

[2019-02-20 08:55] t-vi commented on #17144
Can you reopen the issue until so we can track fixing it, please?

[2019-02-20 08:58] lerks commented on #16954
From my current understanding of the code I think that, yes, these two approaches are equivalent. The reason I believe that is that in the code I linked above there's a comment saying "Later versions of Python already use ForkingPickler.", which I interpret as meaning "the SimpleQueue in Python 3.4+ gets automatic access to the reductions we install".

Though you may still want to wait for a PyTor

[2019-02-20 09:19] t-vi commented on #17265
I think we standardize on USE_... now, so the first variant would be it. Maybe I'll tack this onto #17295.

[2019-02-20 09:20] t-vi commented on #15698
For the specific case of NCCL, I think #17295 might be a fix until you do this more systematically.

[2019-02-20 09:34] Roger-luo commented on #755
Hi, @whmrtm

@ezyang is working on https://github.com/Roger-luo/pytorch-complex/issues/4 Or whoever interested in this could help us make it runs. This issue will solve some basic broadcast issue (then you can use a lot functions after this one is resolved). Please feel free to do any PR or ask me to add you as collaborator.

I won't be able to work on anything until summer, have to finish a fresh

[2019-02-20 10:19] soumith commented on #17292
It's what the error message says.

[2019-02-20 10:19] #17292 closed

[2019-02-20 11:12] #17144 closed

[2019-02-20 13:10] ezyang commented on #17239
cc @dzhulgakov. I might have time to take a look today too.

[2019-02-20 13:11] zhyj3038 commented on #11348
need a tutorials for quantization too!!

[2019-02-20 14:03] robbine commented on #16699
Sure, I've trained a 6 layer model which is much smaller but still exceeds github file upload limit.
Please tell me a way send it along with my script, so that we can investigate more.

[2019-02-20 14:08] soumith commented on #16699
@robbine we dont need the trained model weights, we just need a way to construct such a model, I believe (random weights are fine).

Can you give us one python script without any dependencies that reproduces the problem?

[2019-02-20 14:15] thnkim opened #17301 "CUDA error: illegal instruction at adam.py"
## 🐛 Bug

I got the error as follows:
~/anaconda3/lib/python3.7/site-packages/torch/optim/adam.py in step(self, closure)
     91
     92                 # Decay the first and second moment running average coefficient
---> 93                 exp_avg.mul_(beta1).add_(1 - beta1, grad)
     94                 exp_avg_sq.mul_(beta2).addcmul_(1 - beta2, grad, grad)
     95                 if amsgrad:

R

[2019-02-20 14:19] FabianIsensee commented on #16831
I have the exact same problem.
It **works** on pytorch 0.4.1 (cuDNN 7.1 I believe)
It does **not** work on pytorch 1.0.1.post2 (current stable release, cuDNN 7402)
It does **not** work on pytorch 1.0.0.dev20190220 (current nightly, cuDNN 7402)

My model is a very large 3D UNet that takes 224x224x224 shaped inputs. If you want to try it you will need 32GB of VRAM. It will **not** crash with smaller

[2019-02-20 14:32] #15702 closed

[2019-02-20 14:40] gcourtade commented on #4207
@xiaoshir you have to be in (base) in order to update anaconda navigator
`conda deactivate`
`conda update anaconda-navigator`

[2019-02-20 14:47] whmrtm commented on #755
Thanks for the update, I will see what I can do.

[2019-02-20 15:10] jacobrgardner commented on #17268
@fritzo +1 for being able to promote tensors to other things (specifically for calls like `torch.mul(lazy_tensor, tensor)` to work). This would be the biggest win for us with LazyTensors, I think.

Right now, projecting things down to tensors is fairly straightforward for us because `LazyTensor` define an `evaluate` method which has default behavior of multiplying the representation by the identit

[2019-02-20 15:16] ezyang commented on #17239
I have a guess as to the problem. Patch coming.

[2019-02-20 15:22] gmseabra commented on #17108
Hi, I tried reverting to the CUDA drivers that come with the CUDA Development Kit, but I can't install them because I keep getting an error: "Windows cannot verify the driver signature... (Code 52)", so I have to stick with the most recent driver.

My system is an Acer laptop with:

- Windows 10 Home Single Language v 1809
- GeForce GTX 1060, Driver version 25.21.14.1891 (In the GeForce Experience

[2019-02-20 16:08] DanlanChen commented on #17179
@eellison thanks! If my previous `forward` is like below, how could i do the sequential one?

[code]

[2019-02-20 16:58] ailzhang commented on #16954
I think it should be fine. cc: @ezyang  and @VitalyFedyunin might have better thoughts on this.

[2019-02-20 17:51] pietern opened #17305 "DDP hangs with process_group=torch.distributed.group.WORLD"
This should have equivalent behavior to specifying `process_group=None`.

Reported in https://discuss.pytorch.org/t/clarification-on-distributeds-default-process-group/37334

cc @mrshenli

[2019-02-20 18:26] qmpzzpmq commented on #11213
@sungwonida Have you fix it? I have the same issue

[2019-02-20 18:29] zou3519 commented on #17205
Fixed by https://github.com/pytorch/pytorch/pull/17253

[2019-02-20 18:29] #17205 closed

[2019-02-20 18:31] zou3519 commented on #17273
+1 for moving the inline shell scripts to their own file. Config.yml is getting pretty long

[2019-02-20 18:33] zou3519 commented on #17185
The fastest workaround we can do to fix this is disallow in-place operations on tensors if the tensor being acted on has 0 strides. This should cover a lot of the error cases

[2019-02-20 18:35] zou3519 commented on #17163
I remember that the reason why this isn't implemented was because we didn't want to implement halftensor operations on CPU tensors, but I don't remember why that is

[2019-02-20 18:36] msarahan commented on #17051
Hi, I'm from Anaconda.  We'd like to actually not require this change on your side, if we can avoid it.  It's already gone in, and that's fine, but we want to un-break the existing packages if we can.  We've already done a lot of work to re-sync PATH changes in our latest efforts on that python patch (https://github.com/AnacondaRecipes/python-feedstock/blob/master/recipe/0020-Add-CondaEcosystemMod

[2019-02-20 18:47] eellison commented on #17054
Closing until I hear further.

[2019-02-20 18:47] #17054 closed

[2019-02-20 19:01] msarahan commented on #17051
What we've found so far is that with an old python build (pre-patch), this particular file gets loaded from system32: ``nvfatbinaryLoader.dll``.  With our python load order patch, we're deferring system32.  Thus, when you load your torch/lib path, it is in front of system32 - and that's new.  With our new python binary with the patch, ``nvfatbinaryLoader.dll`` is getting loaded from ``(env_root)\l

[2019-02-20 19:14] qmpzzpmq commented on #11213
@vfdev-5 Have you fix it? I have the same issue

[2019-02-20 19:21] msarahan commented on #17051
One more followup: if I rename ``torch/lib/nvfatbinaryLoader.dll`` to ``torch/lib/nvfatbinaryLoader.dll.bak``, then things work fine with pytorch 1.0.1 and our latest python build (on test channels right now)

[2019-02-20 19:26] ziyuang commented on #12449
In my case I need to additionally set `-DCMAKE_MODULE_PATH=path/to/libtorch/share/cmake/Torch`, which keeps a `TorchConfig.cmake`

[2019-02-20 19:34] mingwandroid commented on #17233
@peterjc123, would it be possible for you to explain what you mean by "the sequence is not ensured".

[2019-02-20 19:39] martinruenz commented on #14330
@jainshobhit I am curious, why is `at::transpose` cleaner? Is it faster? I see the advantage of `tensor_image.permute` that you only need 1 rather than 2 function calls.

[2019-02-20 19:49] maxjiang93 commented on #17185
Yeah I think that would be a great idea, a quick fix as well.

[2019-02-20 20:06] msarahan commented on #17051
We're leaning towards disabling the new loader behavior by default, but putting it behind an env var.  We receive a lot of issues saying that numpy isn't working - MKL couldn't be loaded.  What we've found is that there's a few software vendors who install MKL DLLs to the system32 folder, which then preempt ours.  When theirs are older than ours, our stuff breaks.  We wanted to get ahead of that,

[2019-02-20 20:31] jph00 commented on #4659
@apaszke I think this issue can be closed now.

[2019-02-20 20:33] zou3519 commented on #16594
@musikisomorphie sorry for the slow response, it should be this function: https://github.com/pytorch/pytorch/blob/14dcdc4c35d10fce70bf8b98dd57f9318dfb8dd7/aten/src/THC/generic/THCTensorMathBlas.cu#L251-L412.

[2019-02-20 20:34] ezyang commented on #17051
cc @soumith

I'm not entirely sure, but I seem to recall something about how we distribute some CUDA bits in our binary packages to make things easier. Is this true for Windows @peterjc123 ?

[2019-02-20 20:37] ezyang commented on #17163
In general it's hard to implement everything in half on CPU; especially doing so efficiently. It's mostly a question of slowly expanding capabilities as makes sense.

[2019-02-20 20:42] soumith commented on #17051
@peterjc123 owns this stack, so we'll wait for him to respond (he's in Shanghai timezone)

[2019-02-20 20:42] #4659 closed

[2019-02-20 20:44] jph00 opened #17313 "Implement Adaptive Input Representations for Neural Language Modeling"
## 🚀 Feature

It would be great if you could implement [Adaptive Input Representations for Neural Language Modeling](https://arxiv.org/abs/1809.10853). This is, essentially, the same trick that PyTorch currently uses for adaptive softmax outputs, but applied to the input embeddings as well. In addition, it would be helpful to provide optional support for adaptive input and output weight tying.

##

[2019-02-20 20:57] jph00 commented on #17313
Also, adaptive input was used in the Transformer XL paper, which is the current SoTA for LM.

[2019-02-20 21:01] jph00 commented on #17313
Existing implementations:

- https://github.com/kimiyoung/transformer-xl/blob/2aa79e60ca653a025309c14c27672c055c9e65e0/pytorch/mem_transformer.py#L433
- https://github.com/AranKomat/adapinp/blob/master/AdapInp.py

[2019-02-20 21:24] musikisomorphie commented on #16594
thanks @zou3519,  according to me and @sidazhang's nvprof output, this problem involve's certain implementation detail's of cublas. I suppose the problem won't be easy since the source code of cublas is not available.  Nevertheless, I am going to spend some more time to see if I can do something about it.

[2019-02-20 21:35] tsavchyn opened #17315 "Autograd inside hooks is disabled by default?"
## 🐛 Bug

I was playing around  with the  `autograd` and "intermediate gradients". And discovered strange behaviour (as for me).  Looks like by default `autograd` is disabled inside hooks (using `register_hook` to extract intermediate gradients). But why? To avoid a kind of "backward inside backward"?

## To Reproduce

### Plain hook works fine.

[code]
Output:
[code]

### Autograd inside hook fai

[2019-02-20 21:36] #17274 closed

[2019-02-20 21:56] li012589 commented on #10324
Hi, I also came across these problems recently. So it is actually easy to code the inverse hyperbolic functions according to Wikipedia (https://en.wikipedia.org/wiki/Inverse_hyperbolic_functions).

e.g.
[code]

Though, I think pytorch should include these functions.

[2019-02-20 22:20] eellison commented on #17179
The module code would be the same, and you would do
[code]

[2019-02-20 22:36] baowenbo commented on #10604
So do you think there is any workaround in Pytorch to make it's interpolation consistent with that of TensorFlow?
I thought it may be possible to try `torch.nn.functional.grid_sample()` of Pytorch.

[2019-02-20 23:14] gmseabra commented on #17108
Hi all,

I just wanted to mention that I have just tried with the nightly build of pytorch, and the problem disappears. Using the nightly build available today (02/20/2019), I get the following:

[code]

So it seems that, at some point between stable and today's build, the issue has been resolved.

[2019-02-20 23:54] kostmo commented on #17266
Closed by PR #17189

[2019-02-20 23:54] #17266 closed

[2019-02-20 23:54] negargoli commented on #7806
Could you please put your code with you use those functions directly?

[2019-02-20 23:58] kostmo opened #17322 "More thorough CircleCI config.yml generation"
This is a follow-up to #17038 and #17266.

Should add a notice to the top of `config.yml` informing of the new process.

[2019-02-21 00:48] yyf8989 opened #17326 "subprocess.CalledProcessError: Command '['make', '-j', '12', 'install']' returned non-zero exit status 2"
File "/home/yyf/pytorch/tools/build_pytorch_libs.py", line 252, in build_caffe2
    check_call(['make', '-j', str(max_jobs), 'install'], cwd=build_dir, env=my_env)
  File "/usr/lib/python2.7/subprocess.py", line 541, in check_call
    raise CalledProcessError(retcode, cmd)
subprocess.CalledProcessError: Command '['make', '-j', '12', 'install']' returned non-zero exit status 2

[2019-02-21 00:50] yyf8989 commented on #17326
here is the output problems:
In file included from /home/yyf/pytorch/torch/csrc/distributed/c10d/ddp.cpp:6:0:
/home/yyf/pytorch/torch/csrc/cuda/nccl.h:8:18: fatal error: nccl.h: 没有那个文件或目录
 #include <nccl.h>
                  ^
compilation terminated.
caffe2/torch/CMakeFiles/torch_python.dir/build.make:1108: recipe for target 'caffe2/torch/CMakeFiles/torch_python.dir/csrc/distributed/c10d/ddp.cpp.o

[2019-02-21 00:53] suo opened #17327 "[jit] Loading JIT'd BatchNorm1d in C++ doesn't work"
Error msg:
[code]
Full context [on the forums](https://discuss.pytorch.org/t/loading-batchnorm1d-with-jit/37552)

[2019-02-21 00:58] soumith commented on #17326
follow issue template and reopen new issue

[2019-02-21 00:58] #17326 closed

[2019-02-21 01:17] soumith opened #17332 "warnings around flat_hash_map"
## 🐛 Bug

Seeing elevated build warnings (hundreds of times):

[code]

cc: @smessmer

[2019-02-21 01:23] soumith commented on #17265
I just checked, `NO_DISTRIBUTED=1` still works fine, and as intended.
The only thing needed to resolve this issue is to update the documentation in setup.py, I'll send a PR to fix that.

[2019-02-21 01:31] maxgillett commented on #9990
Is there a plan to make Tensor a template again? If not, is there a workaround for OpenCL/AMD support besides compiling from around the time that it was originally added (see commit cd86d4c5548c15e0bc9773565fa4fad73569f948)

[2019-02-21 01:32] YiruS opened #17334 "RuntimeError: cublas runtime error : the GPU program failed to execute at at pytorch/work/aten/src/THC/THCBlas.cu:258"
## 🐛 Bug

 I tried to run the pointnet module on Pytorch [https://github.com/fxia22/pointnet.pytorch](url) but got the error as shown in the title.

## To Reproduce

I believe the error comes from the following code:

def forward(self, x):
        x, trans = self.feat(x)
        x = F.relu(self.bn1(self.fc1(x)))
        x = F.relu(self.bn2(self.fc2(x)))
        x = self.fc3(x)
        return F.log

[2019-02-21 01:33] ezyang opened #17335 ".circleci/regenerate.sh doesn't work when run from root directory"
[code]

[2019-02-21 01:34] soumith commented on #9990
@maxgillett the answer is no to both questions. However Rocm / AMD support exists and is tested in continuous integration (though the builds for that are undocumented)

[2019-02-21 01:34] soumith commented on #9990
closing with wontfix tag

[2019-02-21 01:34] #9990 closed

[2019-02-21 01:34] ezyang opened #17336 "regenerate.sh should not require pygraphviz to be installed to run"
[code]

[2019-02-21 01:35] soumith commented on #17334
For RTX 2080, you need to use CUDA10, not CUDA 9.2

[2019-02-21 01:36] TeslasGhost commented on #17041
I have this same problem on Ubuntu. I have explained the issue in great detail within the PyTorch Slack "Distributed" channel.. I am waiting on a response at present.

[2019-02-21 01:44] YiruS commented on #17334
@soumith  Thanks for the quick response! However, I'm using Fedora 28 and from the official CUDA download website there is no CUDA10.0 compatible with Fedora 28. Does that mean that I have to revert to Fedora 27 and then install CUDA10.0? Or is there any workaround of it? Thanks!

[2019-02-21 01:53] zxb1489479870 commented on #14033
I found there another people also have the same [problem](https://github.com/pytorch/pytorch/issues/16717#issuecomment-463381371). Thanks!

[2019-02-21 01:55] thomasj02 commented on #15799
I'm also seeing consistent increases in memory usage as training progresses, whether or not I do set_num_threads(1). @ericnakagawa were you able to reproduce this?

[2019-02-21 02:06] wenjunsun commented on #17233
I can also confirm that python 3.7.1 works and python 3.7.2 does not. Try downgrading the python version to 3.7.1 and it should work.

[2019-02-21 02:21] TeslasGhost commented on #17041
I am getting the exact same issue, using EFS drive.

[2019-02-21 02:21] peterjc123 commented on #17108
@gmseabra I'm glad that it's solved. But I'm not sure which one is related to this.

[2019-02-21 02:23] geolvr commented on #1706
Because there is no official implementation of this module, I have to turn back to keras.

[2019-02-21 02:31] peterjc123 commented on #17233
@mingwandroid We have `nvfatbinaryloader.dll` and `nvcuda.dll` shipped in the binaries. We used to have these dlls in `C:\Windows\System32` loaded first, but in 3.7.2, they seem to use the DLLs in the binaries first, which is not what we expected. They are included just to help users to use our package without having the CUDA package installed.

[2019-02-21 02:35] peterjc123 commented on #17051
@msarahan  We have `nvfatbinaryloader.dll` and `nvcuda.dll` shipped in the binaries. We used to have these dlls in `C:\Windows\System32` loaded first, but in 3.7.2, they seem to use the DLLs in the binaries first, which is not what we expected. They are included just to help users to use our package without having the CUDA package installed.

[2019-02-21 03:07] peterjc123 commented on #17051
@msarahan @mingwandroid https://github.com/pytorch/builder/pull/271 I'm trying to remove them with this change.

[2019-02-21 03:09] mateuskahler commented on #17265
Thanks, @soumith .

`NO_DISTRIBUTED=1` is translated to `USE_DISTRIBUTED=0` in `hotpatch_build_env_vars()` from `tools/setup_helpers/env.py` . My mistake saying it was ignored.

[2019-02-21 03:27] xllau commented on #13273
I have met the problem of training error with more than 1 GPU while with 1 GPU is OK. I have replace the distribution part with your recommendation but the problem still happens.

[2019-02-21 03:35] peterjc123 commented on #17051
@msarahan

We just use `torch\lib` and `[AnacondaRoot]\Library\bin` and sometimes `%NVTOOLSEXT_PATH%` (which is `C:\Program Files\NVIDIA Corporation\NvToolsExt`). And here is the list of our major external dependencies:
[code]

[2019-02-21 04:06] dylanbespalko commented on #17249
Yes, that is correct.
1. I think a python subclass of torch.Tensor should not be related to the tensors dtype.
2. Any subclass of torch.Tensor should only add/remove/overwrite methods of the super class.
3. It Should not change the memory layout of the tensor container by adding attributes to the subclass so that python (torch.Tensor.data) is still compatible with the C++ TH::DoubleTensor->data.

[2019-02-21 04:31] ezyang opened #17342 "Code review on .circleci/"
Today I had to regen .circleci/config.yaml to unbreak CI, and in the process I noticed some odd things about the config generation code (issues #17336 and #17335). So here is a code review of the code in question.

https://github.com/pytorch/pytorch/tree/c063a33ef382344bcaf82d29d9f601dad7e95fb9/.circleci/verbatim-sources

Regarding organization of the files in this directory; can we make them dire

[2019-02-21 04:33] #17239 closed

[2019-02-21 05:43] jainshobhit commented on #14330
`tensor_image.permute` also uses abstractions from the ATen library which makes it slower than `at::transpose`. Moreover, `at::transpose` gives you more control over how you wish to swap the axes such that the overall permutation is faster.

[2019-02-21 06:59] kostmo commented on #17342
Thanks for the review!  Good usability suggestions.  Agreed that there is a shortage of comments.

More of the `verbatim` files will go away as they become auto-generated.  I'm still trying to figure the best way to unify the different sections under a single data model, so I've postponed some documentation around that area.

My immediate goal is to obtain a grasp on what patterns do exist regardi

[2019-02-21 07:02] phizaz opened #17345 "Multiprocessing's spawn says "Only Tensors of floating point dtype can require gradients" while it isn't"
## 🐛 Bug

I have a module with an `int64` parameter. This parameter does not require gradient.
However, during the use of `multiprocessing.spawn` it says that my parameter DOES require gradient.
This is incorrect.

## To Reproduce

Run the following code:
[code]

Results:
[code]

You see that the parameter doesn't require gradient.

## Expected behavior

No error.

## Environment

[code]

[2019-02-21 07:38] HarryHHung commented on #4518
For people who can't wait to stay at the cutting edge (like me), there are two ways to go. Either recompile with the most updated pytorch source which thanks to @peterjc123.  Or upgrade to the most recent python build from channel c3i_test.

'conda install -c c3i_test python'

I can confirm that package python-3.7.2 build h8c8aaf0_6 solved the problem. [https://github.com/ContinuumIO/anaconda-issu

[2019-02-21 07:41] huanglin6385 opened #17346 "torch.Tensor(dtype = torch.uint8) is not OK for index_select?"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

import torch
number = torch.randn(6,3,11)
p = torch.arange(10)
print(0,0,p[0],number[0,0,p[0]])
p = torch.arange(10,dtype = torch.uint8)
print(0,0,p[0],number[0,0,p[0]])
print(0,0,p[0],number[0,0,int(p[0])])

output:
0 0 tensor(0) **tensor(-0.2130)**
0 0 tensor(0, dtype=torch.uint8) **tensor([], size=(0, 11))**
0 0 tensor(0, dtype=torch.

[2019-02-21 08:20] #17140 closed

[2019-02-21 08:31] mfuntowicz commented on #15162
Hi @ezyang, I'll have some time to give it a try for what we discussed regarding NEON. Can you help me a little bit by pointing out an examples of an equivalent features already provided in PyTorch ? So that I can inspire from it :).

Thanks!

[2019-02-21 08:36] ferrine commented on #17268
Does this mean that a dispatch function obj2tensor should know the context? For example the caller, in case of svd it is `torch.svd` function. And in some cases it should possible to provide a precomputed tesult if possible.
This looks like overloading pytorch functions instead would be a better design...

[2019-02-21 08:48] dylanbespalko commented on #17249
@fmassa, @gchanan

Attached is:
1. custom.py (Python SubClasses of torch.Tensor).
2. tests/test_custom.py (unit tests).
3. coverage/index.html (unit test code coverage).

Unresolved Issues:
1. How come the multiprocessing works even though I didn't call ForkingPickler.register(A, reduce_tensor)?
2. How would this behave requires_grad=True and backward propagation is calculated.
[subclass.zip](http

[2019-02-21 08:57] untom opened #17347 "F.poisson_nll_loss ignores reduction='none'"
Hi!
Using PyTorch 1.0.1, it seems like  F.poisson_nll_loss ignores the `reduction='none'`:

[code]
gives
```tensor(7.3129)```

i.e.,  it ignores the `reduction='none'` argument.

[2019-02-21 09:01] vishwakftw commented on #15642
This can be closed now.

[2019-02-21 09:28] sytelus commented on #17150
I think this should be promoted to bug because of the following finding:

For `ConvTranspose2d`, the padding decreases output shape (as opposed to increase for `Conv2D`. However as both only allow even value for total padding (specified padding is applied on both sides), this means there is no way to achieve symmetrical autoencoder-decoder architectures.

So in nutshell, the frameworks that don't

[2019-02-21 10:40] nagautier commented on #13039
Any news on this? My only workaround is to load data then load pytorch. Things get tricky writing data out to parquet as well, had to revert to CSV/pickled files. I tried the mentionned workaround of installing pyarrow via conda, but that led to the problem described here: https://github.com/pandas-dev/pandas/issues/24976.

[2019-02-21 11:55] anotherTK opened #17349 "ProcessGroupNCCL.cpp:260, unhandled cuda error"
## 🐛 Bug

two nodes distributed training failed!

## To Reproduce

Steps to reproduce the behavior:

1. The code using from https://github.com/pytorch/examples/tree/master/imagenet
2. running command with nodes 1: `python main.py -a resnet50 --lr 0.01 --dist-url 'tcp://master_ip:12345' --dist-backend 'nccl' --multiprocessing-distributed --world-size 2 --rank 0 data_path`
3. running command with no

[2019-02-21 11:59] soumith commented on #17150
@sytelus we have `output_padding` in `ConvTranspose2d` to have a right padding / right rounding that makes sure we can create symmetric architectures.

[2019-02-21 12:00] #15642 closed

[2019-02-21 12:29] tkianai commented on #17349
Any ideas? Thanks!

[2019-02-21 12:45] ranshadmi opened #17350 "torch.nn.CrossEntropyLoss with "reduction" sum/mean is not deterministic on segmentation outputs / labels"
## 🐛 Bug
torch.nn.CrossEntropyLoss doesn't output deterministic results on segmentation outputs / labels, when using reduction other than 'none'.
Happens only on GPU. CPU does give a consistent behavior.

## To Reproduce
[code]
## Output
[code]

## Expected behavior
I believe the expected behavior of the reduction='sum' and 'mean' should be as consistent as the 'none' option (where I use numpy for

[2019-02-21 12:48] soumith commented on #17334
I dont know the answer (probably can download CUDA10 from nvidia site directly). But 2080Ti is Turing architecture, for that you need CUDA10.

[2019-02-21 12:48] #17334 closed

[2019-02-21 13:08] thnkim commented on #17301
It seems that my 2080Ti is dead suddenly. I tried other computation tests, it always fails. I think I should drop it into trash-bin.

[2019-02-21 13:08] #17301 closed

[2019-02-21 13:08] ferrine commented on #14455
I faced this issue in a similar context, trying to trace some operations involving script+trace
My usecase is like this.

[code]
This seems to be trivial, but keepdim argument is important in my application, I would expect this torch script would work while tracing, but it does not and gives errors like above, complaining that not arguments are tensors

[2019-02-21 13:16] dumitrescustefan commented on #2731
I have the same problem with Python 3.5 and Numpy 1.16.1

[2019-02-21 14:01] VinACE commented on #16035
Collecting environment information...
PyTorch version: 1.0.0
Is debug build: No
CUDA used to build PyTorch: 10.0.130

OS: Ubuntu 16.04.5 LTS
GCC version: (Ubuntu 5.4.0-6ubuntu1~16.04.10) 5.4.0 20160609
CMake version: version 3.5.1

Python version: 3.6
Is CUDA available: Yes
CUDA runtime version: 10.0.130
GPU models and configuration: GPU 0: Tesla K80
Nvidia driver version: 410.48
cuDNN version: /u

[2019-02-21 14:25] t-vi commented on #17350
Thank you for reporting this.

This is a case where atomicAdd bites that is not yet documented in [our non-determinism note](https://pytorch.org/docs/stable/notes/randomness.html).

Specifically, when using a reduction, this dispatches to [THCUNN's `cunn_SpatialClassNLLCriterion_updateOutput_kernel`, which contains the non-deterministic atomic add.](https://github.com/pytorch/pytorch/blob/master/a

[2019-02-21 14:29] t-vi commented on #15359
I must admit I don't really see the use-case of a warning. When people care about deterministic enough to switch it on, they'd probably expect the error. You could always switch it off for certain calls to say that you're OK with whatever nondeterminism is in there.

[2019-02-21 14:32] enk100 commented on #13569
In pytorch-nightly (1.0.0.dev20190201) the problem still exist.

[2019-02-21 14:39] enk100 commented on #14365
@zou3519 , Are there any news regarding this issue? thanks..

[2019-02-21 15:07] ezyang opened #17354 "testConvnetBenchmarks intermittently segfaults in ROCm"
Sample: https://ci.pytorch.org/jenkins/job/caffe2-builds/job/py2-clang7-rocmdeb-ubuntu16.04-test/10928/console

[code]

cc @bddppq @iotamudelta

[2019-02-21 15:38] #16650 closed

[2019-02-21 16:12] gccome commented on #2731
pip install -U numpy
this works for me

[2019-02-21 16:16] dumitrescustefan commented on #2731
I was actually able to solve this by running _sudo pip uninstall numpy_ as well as _pip uninstall numpy_ and then reinstalling with -U.
Thing was that I had to run 3 times in a row the uninstall numpy to progressively remove older versions until there was no numpy left. Only then did I install and it worked. Thanks!

[2019-02-21 16:33] rdipietro opened #17355 "The Python __doc__ for each global op should be carried over from its source"
## 🐛 Bug

`__doc__` is missing for many global operators (`torch.log_softmax`, `torch.logsumexp`, ...).

## To Reproduce

[code]

[code]

## Expected behavior

Global ops should contain valid `__doc__`s.

## Environment

PyTorch version: 1.0.1.post2
Is debug build: No
CUDA used to build PyTorch: 9.0.176

OS: Ubuntu 16.04.5 LTS
GCC version: (Ubuntu 5.4.0-6ubuntu1~16.04.11) 5.4.0 20160609
CMake vers

[2019-02-21 16:34] mrshenli opened #17356 "DistributedDataParallel throws RuntimeError for sparse embeddings"
## 🐛 Bug

Using `nn.Embedding(n, d, sparse=True)` in `DistributedDataParallel` models hits the following error in the backward pass.

CC: @glample  @soumith

[code]

## To Reproduce

[code]

## Environment

PyTorch version: 1.1.0a0+63214b5
Is debug build: No
CUDA used to build PyTorch: 9.2.88

OS: CentOS Linux 7 (Core)
GCC version: (GCC) 4.8.5 20150623 (Red Hat 4.8.5-28)
CMake version: version 3.1

[2019-02-21 16:36] rdipietro commented on #17355
This is especially relevant because sometimes the global op differs from e.g. the `torch.nn.functional` op, and in these cases `__doc__` should be filled in appropriately (see e.g. https://github.com/pytorch/pytorch/issues/16322)

[2019-02-21 16:44] mrshenli opened #17357 "cuda runtime error (3): we're not detecting bad forks"
## 🐛 Bug

I am not sure if this is reproducible for every environment, but I hit the following error when trying to set cuda device in processes. What is weird is that the error disappears if I remove the line `x = torch.rand(20, 2).cuda()` right after the for loop.

[code]

**Edit:**  based on the discussion below, the solution should be fixing the "bad fork" error detection, which is duplicated

[2019-02-21 16:58] vishwakftw commented on #17347
I've found out the issue, will send in a fix.

[2019-02-21 16:58] xtibau commented on #10503
Any updates here?

[2019-02-21 17:18] timbmg opened #17359 "Custom collate_fn fails on second epoch with multiprocessing and cuda"
When I use a custom collate_fn, multiprocessing and move the batch to cuda in the collate_fn, I get a `RuntimeError: CUDA error: initialization error`. Below a MWE. Tested on google colab with pytorch 1.0.1.post2.

[code]

Edit: Obviously for this MWE a custom collate is not necessary. However, in my use case, I need it because I have variable length data, so I do the padding in the collate_fn. Bu

[2019-02-21 17:58] ChocolateDave commented on #17108
Thank you guys all for all your support.😄
I couldn't fix the problem so I decided to downgrade my python version to 3.6.8 and it somehow worked.
The bugs may still exist on a newer version of of python but to those who are currently stuck at this problem, downgrading your python version might be a good solution.

[2019-02-21 18:18] SsnL opened #17362 "[regression] DataParallel(cpu_model).cuda() not working"
This breaks imagenet example:

https://github.com/pytorch/examples/blob/b232bf3ed926a6a7ef8f415cf6d284a1b3d509ad/imagenet/main.py#L167

Fix incoming.

cc @mrshenli

[2019-02-21 18:24] danielgordon10 opened #17364 "torch.load on multi-gpu devices does not respect map_location device index if it isn't 0"
## 🐛 Bug

save_file has some parameters that were saved on device 0.

[code]
This opens the parameters on device 0.

[code]
This opens the parameters on device 1 and a small amount of GPU ram on device 0 which is never freed.

[code]
This opens the parameters on device 0 (i.e. the wrong device) and is never freed.

[code]
This also opens on device 0 (i.e. the wrong device) and is never freed.

##

[2019-02-21 18:27] #17265 closed

[2019-02-21 18:47] zou3519 commented on #14033
@[zxb1489479870](/zxb1489479870) are you comparing the libtorch nightly with the pytorch nightly binary? Is this for CPU or GPU?

[2019-02-21 19:29] DanlanChen commented on #17179
@eellison sorry I did not give you a good example, the example should be look like this:

[code]

[2019-02-21 19:54] junjihashimoto opened #17368 "What is a version/git-hash of nightly build?"
## 🚀 Feature

Nightly build does not include git-hash of pytorch.
So we can not know what the build is.

https://download.pytorch.org/libtorch/nightly/cpu/libtorch-shared-with-deps-latest.zip

I know the zip includes build_version which is like "1.0.0dev20190221".
Could you add git-hash of pytorch in build_version and include native_functions.yaml and the README of the yaml?

## Motivation

We are

[2019-02-21 20:01] soumith commented on #17368
cc: @pjh5

If I remember it's the first commit of that date in GMT timezone

[2019-02-21 20:04] ezyang commented on #17368
NB: we must not back this hash into a C++ header for development as that will trigger lots of recompiles

[2019-02-21 20:09] mrshenli commented on #17356
The error occurs [here](https://github.com/pytorch/pytorch/blob/master/torch/csrc/distributed/c10d/ddp.cpp#L159), where we pass a sparse tensor to `flatten_dense_tensors` which tries to get a contiguous version of it. Ultimately, it  tries to run a  NCCL reduce operation on multiple sparse tensors using the `SUM` operation. @fmassa pointed out that it will not work, as a sparse tensor uses two den

[2019-02-21 20:11] gmseabra commented on #17108
Have you tried using the nightly-build? That did work fine for me (as of 02/20/2019).

[2019-02-21 20:12] gmseabra commented on #17108
Thanks. Is there any idea about when the "nightly build" becomes part of the "stable" distribution?

[2019-02-21 20:13] junjihashimoto commented on #17368
Thx.

[2019-02-21 20:15] eellison commented on #17179
You probably want to have the same ModuleList of sequentials, and then add a module between module1 and module2 that slices the tensor.
[code]

[2019-02-21 20:18] SsnL commented on #17359
You need to use spawn starting method when you do multiprocessing with cuda, and also take extremely extra care. https://pytorch.org/docs/master/notes/multiprocessing.html#sharing-cuda-tensors

[2019-02-21 20:21] SsnL commented on #17357
You should really use spawn context when using cuda with multiprocessing. See https://pytorch.org/docs/master/notes/multiprocessing.html#sharing-cuda-tensors

[2019-02-21 20:24] psarka commented on #13039
For what its worth, `feather` is not affected by this, and is a decent format (at least better than csv).

[2019-02-21 20:39] SsnL commented on #17346
uint8 is used for masking. int64 is for indexing.

[2019-02-21 20:39] #17346 closed

[2019-02-21 20:42] mrshenli opened #17369 "Support distributed reduce on sparse tensors"
## 🚀 Feature

## Motivation

This feature request is motivated by #17356 to support sparse tensors in `DistributedDataParallel`. But it might have a broader impact as reducing sparse tensors is not a rare use case.

## Pitch

Enhance the existing `reduce` API in both [C++](https://github.com/pytorch/pytorch/blob/master/torch/csrc/cuda/nccl.h#L66-L79) and [Python](https://github.com/pytorch/pytorch

[2019-02-21 20:42] colesbury commented on #17357
CUDA does not support fork. You can't use CUDA in the parent process and then use it in a forked subprocess.

We attempt to detect this and issue an error:

https://github.com/pytorch/pytorch/blob/b312e9de6a776d31e08673707199685386f959e7/torch/cuda/__init__.py#L180-L185

https://github.com/pytorch/pytorch/blob/b312e9de6a776d31e08673707199685386f959e7/torch/cuda/__init__.py#L152-L161

This appears

[2019-02-21 20:42] mrshenli commented on #17356
Blocked by #17369

[2019-02-21 20:45] SsnL commented on #17357
@colesbury @mrshenli If description of this issue is going to be changed to fixing the "bad fork" error detection, we can close https://github.com/pytorch/pytorch/issues/17359 as duplicate.

[2019-02-21 20:54] colesbury commented on #17345
Bug is here:

https://github.com/pytorch/pytorch/blob/3145f46a2287619e79add11a8d543729b2590a14/torch/multiprocessing/reductions.py#L83-L84

nn.Parameter() needs `requires_grad=False` in constructor in this case

[2019-02-21 20:59] colesbury commented on #17225
@twesterhout , I don't know of a way to detect if the OpenMP thread pool was initialized. I don't think that's part of the OpenMP API.

@lerks mentions a work-around which is to `torch.set_num_threads(1)` before the fork.

Let's continue discussion about possible improvements in #17199

[2019-02-21 20:59] #17225 closed

[2019-02-21 21:10] colesbury commented on #17199
One possible improvement is to register a [`pthread_atfork`](http://pubs.opengroup.org/onlinepubs/007904975/functions/pthread_atfork.html) handler that calls `omp_set_num_threads(1)` in the `prepare` and restores the value in `parent` and possibly `child`.

The downside is that `atfork` handlers are called during fork+exec (e.g. Python "spawn" or os.system) and may unnecessarily slowdown those cal

[2019-02-21 21:33] wanchaol commented on #17327
I tried to reproduce this, but it works all fine on my side, i will comment on the original

[2019-02-21 21:53] ferrine commented on #14455
What workaround should I use there?
I currently have two options:

1. never use optional arguments and support only broadcasted behavior
    That contradicts pytorch api for reduction functions like `sum`, I do not like that...
1. replace this with python runtime dispatch
    That is awkward, extremely

[code]
    will result in 4 (!) function definitions and quite complex python dispatch
1. remov

[2019-02-21 22:01] daiwei89 opened #17374 "Dynamic JIT graph to ONNX produces error"
## 🐛 Bug

After converting an RNN from the [PyTorch Example](https://github.com/pytorch/examples/tree/master/time_sequence_prediction) to JIT ScriptModule, it fails to convert to ONNX.

## To Reproduce
1. Download and run [this script](https://github.com/pytorch/examples/blob/master/time_sequence_prediction/generate_sine_wave.py) to generate training data `traindata.pt`.

2. Run the following scri

[2019-02-21 22:18] #17218 closed

[2019-02-21 22:23] t-vi commented on #14455
4. Fix PyTorch. :)

[2019-02-21 22:38] soumith commented on #17345
@colesbury the line right after, i.e. line 84 sets the requires_grad correctly, no?

[2019-02-21 22:58] pjh5 commented on #16281
This should have been fixed by https://github.com/pytorch/pytorch/pull/16789

[2019-02-21 23:00] #16281 closed

[2019-02-21 23:00] mrshenli commented on #17359
Duplicated with #17357. Closing this one as more discussions happen in that issue.

[2019-02-21 23:00] #17359 closed

[2019-02-21 23:28] #16921 closed

[2019-02-21 23:35] maximegregoire opened #17377 "Exporting AdaptiveAvgPool2d to ONNX with ATen fallback produces error"
## 🐛 Bug

When trying to export the AdaptiveAvgPool2d node to ONNX with  `OperatorExportTypes.ONNX_ATEN_FALLBACK`, the export fails, due to an assertion error being thrown.

## To Reproduce

Steps to reproduce the behavior:

1. Run the following code

[code]

The stack trace:
[code]
## Expected behavior

The export falls back to exporting it as an ATen node, as it was not able to properly export i

[2019-02-21 23:53] pjh5 commented on #17368
It is actually 05:05 GMT.

cc @kostmo

[2019-02-22 00:13] #14805 closed

[2019-02-22 00:35] colesbury commented on #17345
@soumith yes

[2019-02-22 00:46] kit1980 commented on #17217
I'm having the same issue compuling on linux.
Seems like this commit possibly intruduced the bug.
https://github.com/onnx/onnx/commit/61f1e9e95ae50ea003fdb48bf52867f147eefa98

[2019-02-22 01:47] zxb1489479870 commented on #14033
@zou3519 , The above I used is the CPU version, I compare the libtorch nightly with the pytorch nightly
 again using the same [test case](https://github.com/pytorch/pytorch/issues/14033#issuecomment-445099488) (torch installed by `conda install pytorch-nightly-cpu -c pytorch` ), The following is the resullts.

**For pytorch nightly with python frontend(ms):**
[code]
**For libtorch nightly with C++

[2019-02-22 01:58] zxb1489479870 commented on #14033
I find @Jianhui-Li said Facebook have reported~2x slowdown when running inference task on model trained from GPU and remedied the issue by treating the denormal as zero (FTZ/DAZ bit) for Skylake , I double if they are same problem, is fixed for Libtorch if they are same? Thanks!

[2019-02-22 03:04] peterjc123 commented on #17108
@gmseabra It won't be too soon. Our release cycle is ~90 days.

[2019-02-22 03:09] huxianer commented on #16741
@Edwardf0t1 @driazati I meet with the same error!,How to solve,Thank you for any help!

[2019-02-22 03:11] SsnL commented on #17355
You shouldn't use `torch.log_softmax`. It is not a public API.

[2019-02-22 03:11] suo commented on #16741
The most helpful thing would be to provide a simple script that can reproduce the error so that we can investigate. Thanks!

[2019-02-22 03:17] huxianer commented on #16741
@Edwardf0t1 The log is below:
terminate called after throwing an instance of 'c10::Error'
  what():  [enforce fail at inline_container.cc:127] . PytorchStreamReader failed reading zip archive: failed finding central directory
frame #0: std::function<std::string ()>::operator()() const + 0x11 (0x7f4065d9f021 in /search/speech/huxianjun/project/Facetron-Release-master/c++/facetron/libtorch/lib/libc1

[2019-02-22 03:19] huxianer commented on #16741
@Edwardf0t1
terminate called after throwing an instance of 'c10::Error'
  what():  [enforce fail at inline_container.cc:137] . PytorchStreamReader failed reading zip archive: failed finding central directory
frame #0: std::function<std::string ()>::operator()() const + 0x11 (0x7f15338da111 in xxx/projects/libtorch/lib/libc10.so)
frame #1: c10::ThrowEnforceNotMet(char const*, int, char const*, std:

[2019-02-22 03:43] peterjc123 commented on #16711
Tested the following cases:
test.cpp
[code]
`test.cpp` is able to compile using nvcc (cuda 8.0) and msvc 2015.
test.cu
[code]
During the build of `test.cu`, it throws an error `error: static assertion failed with "CreateArray requires a trivially destructible type"`. So it looks like a bug/missing feature in CUDA 8.

[2019-02-22 04:10] versatran01 commented on #2228
Is there still a plan to provide numpy-like api? It's really annoying to write two separate functions for numpy and pytorch.

[2019-02-22 04:15] peterjc123 commented on #16711
The possible solutions I could think of are:
1. Downgrade protobuf when building for CUDA 8
2. Disable these assert with some code modifications

[2019-02-22 04:33] zdevito opened #17389 "Support ... indexing in JIT"
## 🚀 Feature
Fix this error by adding support for the Ellipsis token in indexing
[code]

[2019-02-22 05:13] shuxiaobo commented on #12498
I suffer the same problem, using nll_loss then backward will cause error:`F.nll_loss(out[data.train_idx], data.train_y).backward()`，Any suggestion for the problem?

[2019-02-22 05:17] bhushan23 commented on #17247
Thanks to #17077 , we now have Runtime error stating Trying to create negative dimension
We still need to fix the error message and make it consistent with conv2d error

[2019-02-22 05:41] ganler commented on #12449
`set(Torch_DIR /usr/local/Cellar/libtorch/share/cmake/Torch)`
Set the `Torch_DIR` to where `TorchConfig.cmake` is. @ziyuang

[2019-02-22 06:05] JurijsNazarovs commented on #4449
Hello,

Is there an implementation of logged for batches? I see that inverse can handle batches, but seems like det and logged require just 2d shape.

[2019-02-22 06:10] JurijsNazarovs commented on #7500
Since torch.det might be updated, I would also like to see torch.logdet.

[2019-02-22 06:15] vishwakftw commented on #7500
Yes, this should be done once #14964 is merged into master.

[2019-02-22 06:57] t-vi commented on #17206
This is fixed by #17294. Thank you, @fehiepsi !

[2019-02-22 06:57] #17206 closed

[2019-02-22 07:06] phizaz commented on #17345
In the meanwhile, could I send the `state_dict` instead? What should be the right way to do it. I presume:

[code]

I am concerned about the consistency of `state_dict` while it is being updated.

[2019-02-22 07:39] bhushan23 commented on #17247
conv3d goes through VolumetricConvolution which validates feasibility where as conv1d and conv2d goes through native Convolutions which does not

[2019-02-22 07:42] t-vi commented on #17313
Indeed, probably next to the Adaptive Softmax would be a great place for it:
https://github.com/pytorch/pytorch/blob/master/torch/nn/modules/adaptive.py
From what I can see @AranKomat 's implementation looks closer to PyTorch's Adaptive Softmax in style, but unless he himself puts in the PR, we'd need to independently implement it due to licensing.

[2019-02-22 07:58] Jianhui-Li commented on #16038
We (Intel Pytorch team) have a couple of discussions with @bddppq on whether MKL-DNN op should be visible to user and how MKL-DNN op should be implemented in Pytorch C10 backend.  We summarize the discussion below to capture the motivation and directions on the high level design.  Your feedback is welcome.

====
The Pytorch C10 design would like to make MKL-DNN operation visible to user. So if use

[2019-02-22 08:16] AranKomat commented on #17313
@t-vi I deleted the license of the said implementation, so you can freely copy it to PyTorch. If that doesn't solve the issue, please let me know. On an unrelated note, it may be a good idea to prepare a simple PyTorch function to create a mapping based on the word frequency, including BOS, EOS and blank tokens, which is needed for adaptive i/o.

[2019-02-22 08:18] gemfield commented on #14317
1, libprotobuf.a and libprotobuf-lite.a have different symbols, so libprotobuf.a on the compile command line doesn't meant libprotobuf.a will be linked to the target. The thing really matters is what functions(lite version or non-lite) are used in the source file;

2, By "libcaffe2_protos.a library still needs full protobuf library", if you put "option optimize_for = LITE_RUNTIME;" in the files in

[2019-02-22 08:21] t-vi commented on #17313
@AranKomat Thank you! With you saying that you'd like it included to PyTorch that's cool.
I'm not quite sure where the best place for a mapping function would be - usually I'd expect something like that in torchtext and the like, but it seems that torchtext is a little less canonical than e.g. torchvision.
(Of course, I can't wait to see how @jph00 will use it, and then that would probably clear u

[2019-02-22 09:50] ImMrMa commented on #5560
I think it's a bug.
I check my data, all is in range[0;1],but it happened.

[2019-02-22 10:26] ustctf commented on #16654
Almost the same issue, waiting for response...

[2019-02-22 11:04] ranshadmi commented on #15359
Error, warning, proper documentation...
The latter is a must.
Warning or error? I'll go with an error.

[2019-02-22 11:44] pietrofusco opened #17394 "How to call pytorch from a wxpython gui"
## ❓ Hi everyone,
I was wondering if someone can help me to understand how to use/call pytorch from a wxpython GUI.
I have not been finding any suggestion on web so far

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion

[2019-02-22 12:02] fbpierazzi commented on #9674
Is there any update regarding "indexing" support for sparse tensors? This sounds like a relevant missing feature. I would be happy also if someone could suggest a possible workaround to it.

[2019-02-22 12:03] t-vi opened #17395 "Remove norm_except_dim (because norm now provides the same functionality)"
## 📚 Documentation

`torch.norm_except_dim` is not documented.
It is used for WeightNorm but e.g. StyleGAN has PixelNorm which could use it.

Also, it might be nice to make the power a float to better align with norm.

## Alternative

Make it internal, i.e. `_norm_except_dim`.

@mcarilli Do you have an opinion on whether float would be costly?

cc @ezyang @gchanan @vincentqb @vishwakftw @jianyuh @

[2019-02-22 12:23] t-vi commented on #17394
I would strongly recommend to ask that on the [https://discuss.pytorch.org](forum). Your question get much broader exposure there and it will be much more likely that someone reads it who knows the answer.

[2019-02-22 12:23] #17394 closed

[2019-02-22 14:04] rdipietro commented on #17355
@SsnL I also mentioned `torch.logsumexp`, which is part of the public API. And, as also noted, both of these are just examples, as there are many other examples, too.

Your response seems more like a passive way of saying "we don't care enough about proper `__doc__`s to fix this." If this is the case, it would be simpler to just say so.

[2019-02-22 14:30] jph00 commented on #17313
Embeddings are of course useful for *lots* of things other than text (text is just one popular use of high-cardinality categorical variables). I'm sure we'll add suitable preprocessing to fastai to make this more convenient to use, once its available, including text-specific mapping stuff in fastai.text.

[2019-02-22 14:37] rdipietro commented on #17355
@SsnL My apology! I was wrong about this. I was naively thinking that the problem held for many other ops, but I think you are correct in saying that it's specific to unsupported ops.

[2019-02-22 14:39] rdipietro commented on #17355
I'm sorry for the confusion. Closing.

[2019-02-22 14:39] #17355 closed

[2019-02-22 14:44] SsnL commented on #17355
Sorry for giving that impression. I think `logsumexp` does have docstring (code at https://github.com/pytorch/pytorch/blob/562fa55f3dfc2d3ce1cac19e3ec9dab202e06b3b/torch/_torch_docs.py#L2500-L2526). In fact, we really care about documentation. We have specific tests for checking the existence of docstrings (see https://github.com/pytorch/pytorch/blob/562fa55f3dfc2d3ce1cac19e3ec9dab202e06b3b/test/t

[2019-02-22 14:50] SsnL commented on #17395
Looking at https://github.com/pytorch/pytorch/blob/517c7c98610402e2746586c78987c64c28e024aa/aten/src/ATen/native/WeightNorm.cpp#L19, I'm a bit confused. What's the difference between `norm_except_dim` and `norm`?

Also, the subtlety in pixel norm is that it divides over #dim before taking sqrt, which I think is different from normal `norm`.

[2019-02-22 14:59] rdipietro commented on #17355
Sorry, this was really my mistake. I fooled myself into believing that yesterday I also printed `torch.logsumexp.__doc__`, but obviously I had not, and I must have been incorrectly generalizing from `torch.log_softmax`. Thanks for the response.

[2019-02-22 15:05] ArchNew opened #17397 "How does pytorch count batch size in SGD with multiGPU when it does Batch Norm?"
## ❓ Questions and Help
When pytorch does the batch normalization in SGD, what batch size it use? Per GPU batch size, or total batch size over all GPUs?
For example, suppose I set the per-GPU batch size as 32, and I use 8 GPUs. When Pytorch does batch normalization, what batch size it use, 32 or 32 x 8?
My concern comes from a facebook's paper "Accurate, Large Minibatch SGD: Training ImageNet in 1

[2019-02-22 15:11] forhonourlx opened #17398 "ANDROID aarch64 installation returned non-zero exit status 1."
-- Building version 1.1.0a0+562fa55
make: *** No rule to make target 'install'.  Stop.
Traceback (most recent call last):
  File "setup.py", line 734, in <module>
    build_deps()
  File "setup.py", line 281, in build_deps
    build_dir='build')
  File "/home/simon/Downloads/pytorch/tools/build_pytorch_libs.py", line 255, in build_caffe2
    check_call(['make', '-j', str(max_jobs), 'install'], cwd

[2019-02-22 15:13] t-vi commented on #17395
norm contracts on dim and norm_except_dim on all others (if norm didn't have the funny IntList, it probably is very similar).

[2019-02-22 15:38] ezyang opened #17399 "Delete ROIPooling"
According to @fmassa, it was added by Trevor as a first example of native function, and it doesn't have unit tests and hasn't been updated since then. Apparently, if you call it from Python it errors. We should delete it.

[2019-02-22 16:13] Kaixhin commented on #9572
**Update from the team:** there's ongoing work to make sure that vanilla PyTorch RNNs (with for loops) hit cuDNN speeds when JITted: https://github.com/pytorch/benchmark/tree/master/rnns . More information about this will be provided with the 1.1 release, when these changes will be incorporated.

[2019-02-22 16:33] #17362 closed

[2019-02-22 16:43] redhermes opened #17403 "FakeData class of torchvision.datasets is not documented"
## 📚 Documentation

The FakeData class of torchvision.datasets is missing from the documentation.

[2019-02-22 17:08] mcarilli commented on #17395
It was intended as internal to weight norm (a C++-side implementation of what used to be Python logic, to work alongside the fused kernels).  The Python function that played that role in the original implementation was called "_norm" so I think it makes sense to call mine "_norm_except_dim."

I also think reductions have since been updated such that you can reduce or norm over an arbitrary set of

[2019-02-22 17:48] vishwakftw commented on #17403
Could you please open this issue in [torchvision](https://github.com/pytorch/vision)?

[2019-02-22 18:30] redhermes commented on #17403
Opened under torchvision

[2019-02-22 18:30] #17403 closed

[2019-02-22 18:34] Krovatkin commented on #17389
@suo I was thinking to give this one a try if you don't mind.

[2019-02-22 18:36] suo commented on #17389
go for it!

[2019-02-22 19:11] spandantiwari commented on #15192
There's a PR for bumping this up now. https://github.com/pytorch/pytorch/pull/17410

[2019-02-22 19:32] #17322 closed

[2019-02-22 19:33] smessmer commented on #17332
Yes, I'm aware of the issue but don't have a solution yet.

This happens because the flat_hash_map::iterator class offers a conversion from iterator<T> to iterator<const T>, which works great when having a flat_hash_map<T>. However, if you have a flat_hash_map<const T>, then this would be a conversion from iterator<const T> to iterator<const T> which would never be called.

So this doesn't break a

[2019-02-22 20:54] jerrybai1995 opened #17413 "torch.inverse support for half tensor type"
## 🚀 Feature

It'd be great if pytorch's `torch.inverse` can support more tensor types (in particular `HalfTensor`). While the documentation here says `torch.inverse` works on `Tensor` type, it actually only works on `FloatTensor` and `DoubleTensor` now (instead of int and half types).

## Motivation

This is mainly motivated by a memory concern. I'm doing an operation that takes a lot of memory a

[2019-02-22 21:17] ulisesbussi commented on #14351
Sorry, i cant find onnx/symbolic.py are you refering to pythonx.x/site-packages/onnx/ folder? i have no symbolic.py

[2019-02-22 21:23] Haydnspass opened #17415 "Missing (dynamic) libraries in current libtorch (1.0.1) - macOS"
## 🐛 Bug

The current libtorch package from https://pytorch.org/get-started/locally/ misses a couple of .dylibs which were present previously. Compiling a minimal example works, but at runtime, several .dylibs are missing.

## To Reproduce

main.cpp
[code]

CMakeFile
[code]

Error:
[code]

## Environment

 - Libtorch Version (e.g., 1.0): 1.0.1
 - OS (e.g., Linux): macOS
 - CUDA/cuDNN version: No C

[2019-02-22 21:53] #16860 closed

[2019-02-22 22:01] gmseabra commented on #17108
Thanks.

Tried removing from
```[Miniconda3]\envs\torch\Lib\site-packages\torch\lib```

I also tried copying those DLLs from my torch-nightly env to the torch env, but there was no difference either way.

[2019-02-22 22:51] #17017 closed

[2019-02-22 22:52] spandantiwari commented on #15192
Closing this issue because https://github.com/pytorch/pytorch/pull/17410 PR is merging.

[2019-02-22 22:52] #15192 closed

[2019-02-22 22:55] jjsjann123 commented on #17395
Yes, `torch.norm` now supports arbitrary dimensions. Fingers crossed that the perf is reasonable. 🙏

[2019-02-22 23:38] jamesr66a opened #17422 "[JIT] Implement __getstate__ and __setstate__ APIs for ScriptModule"
So we can get rid of these hacks: https://github.com/pytorch/pytorch/blob/master/torch/jit/quantized.py#L30

We should define conventions for adding code to be run on (de-)serialization that are universally called in load() and save() APIs. The example here is calling code that creates machine-specific packed matrices for a high-performance GEMM kernel.

[2019-02-23 00:03] stas00 opened #17425 "improved assert message in the case of "CUDA error: device-side assert triggered""
When pytorch spits out `CUDA error: device-side assert triggered` would it be possible to add a brief note, such as:  "It's not possible to recover. Program/kernel restart is required to continue"

So that users won't waste time trying to recover or re-run their code, when we know ahead of time they won't be able to.

Thank you.

[2019-02-23 00:04] soumith commented on #17413
you do not want to do `torch.inverse` in Half precision, it's a highly unstable operation and Half precision pretty sure wont be sufficient.

[2019-02-23 00:04] #17413 closed

[2019-02-23 00:12] soumith commented on #17397
please use https://discuss.pytorch.org for questions

[2019-02-23 00:12] #17397 closed

[2019-02-23 00:16] soumith commented on #15359
throwing seems great. I agree with Adam that giving an option to warn instead of throw seems reasonable.

[2019-02-23 00:17] soumith commented on #16654
you both are probably running into a distributed deadlock bug.
Please try with the latest version of pytorch (v1.0.1)

[2019-02-23 00:28] houseroad commented on #16336
https://github.com/pytorch/pytorch/pull/16455 should solve the proble.

[2019-02-23 00:31] soumith commented on #2228
I think there is a plan, @umanwizard might be working on it.

[2019-02-23 00:36] neiladit opened #17426 "CuDNN detected while compile; returns false on compiledWithCuDNN() check"
I'm building PyTorch from source using:
[code]
The compilation log gives this message indicating CuDNN was found and compiled with

[code]

When I run a convolution layer, it does not call "cudnn_convolution" kernel, instead it calls the "thnn_conv2d" kernel. On inspecting the "use_cudnn" variable I realize -
[code]

Since, I compiled with cuDNN, I am not sure why the above variable is not true.

[2019-02-23 04:18] vishwakftw opened #17429 "Delete deprecated methods for initialization in torch.nn.init"
The deprecation markers on the outplace versions of the current inplace `nn.init` functions were added in https://github.com/pytorch/pytorch/commit/4f05cb710ef067e6d60e976651942e559ecf582d, which was 2 releases ago.

I think we should remove the outplace versions.

cc: @SsnL

[2019-02-23 07:19] li0128 opened #17431 "RuntimeError: PyTorch was compiled without NumPy support"
python3 train.py
RUNDIR: runs/fcn8s_pascal/3435
Traceback (most recent call last):
  File "train.py", line 231, in <module>
    train(cfg, writer, logger)
  File "train.py", line 77, in train
    model = get_model(cfg["model"], n_classes).to(device)
  File "/home/lxc/PythonProjects/pytorch-semseg-master/ptsemseg/models/__init__.py", line 23, in get_model
    model = model(n_classes=n_classes, **pa

[2019-02-23 10:00] apaszke commented on #16885
Wait, so you're suggesting we forward the attributes, but keep the same `state_dict` behavior? That feels weird, because the keys in `state_dict` are supposed to reflect how you access parameters from Python.

[2019-02-23 10:01] apaszke commented on #16885
Regarding the tutorial, agreed. Please do send a PR if you have time.

[2019-02-23 10:32] justbeu opened #17433 "The GPU memory of tensor will not release in libtorch"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. build the code below
2. See the result of free memory of GPU

here is my code
#include <torch/script.h>
#include <cuda.h>
#include <cuda_runtime.h>
#include <device_launch_parameters.h>
void NetWorkInitRun()
{
	at::Device device = at::Device(at::kCUDA);
	auto img = torch::ones({ 1, 1, 100000, 10000 }, torch::kFloat32);
	//img = img.to

[2019-02-23 13:20] t-vi commented on #17433
I think you are looking for `c10::cuda::CUDACachingAllocator::emptyCache();`.

[2019-02-23 13:21] #17433 closed

[2019-02-23 13:24] t-vi commented on #17398
Until #14258 is resolved, I don't think we expect it to work, really.

[2019-02-23 13:28] forhonourlx commented on #17398
And how about on ubuntu aarch64?

[2019-02-23 13:32] TheCodez commented on #16662
@eellison @driazati would you be okay with a `sort` implementation that just has the reverse parameter? Support for the key parameter could be added later.

[2019-02-23 13:35] t-vi commented on #17398
People apparently do this, there are open issues when you search issues for aarch64. So you seem to be able to use it, but there is room for further improvements.

[2019-02-23 13:40] forhonourlx commented on #17398
Sorry to hear that.

[2019-02-23 13:53] t-vi commented on #17398
Oh, for all I know, it might work great but isn't perfect yet, so that seems not too bad.

[2019-02-23 14:40] gemfield commented on #14353
This issule has been fixed in the official repo.

[2019-02-23 16:02] soumith commented on #17431
use the issue template.

[2019-02-23 16:02] #17431 closed

[2019-02-23 16:04] soumith commented on #17426
can you please give the full build log.

[2019-02-23 16:17] t-vi commented on #17398
I'm closing this as a duplicate of #14258. If you encounter bugs with building on AArch64/Linux, don't hesitate to reopen the issue.

[2019-02-23 16:17] #17398 closed

[2019-02-23 16:33] t-vi commented on #15359
Thanks for weighing in. In the end, the main effort for the ternary flag is the flag itself, and that's not hard.
I'll add a flag to Context.h and sprinkle (via an utility function) the AT_ERROR and AT_CHECK.

[2019-02-23 17:12] soumith commented on #17315
autograd in general is disabled on the backward pass by default.

If you do want to have it enabled, use `torch.autograd.grad(..., create_graph=True)`. See: https://pytorch.org/docs/stable/autograd.html?highlight=grad#torch.autograd.grad

[2019-02-23 17:12] #17315 closed

[2019-02-23 18:05] neiladit commented on #17426
[code]

[2019-02-23 18:09] neiladit commented on #17426
[code]

[2019-02-23 18:11] ankurpadia commented on #4224
@oya163 Thank you for the command. It worked.

[2019-02-23 18:38] t-vi commented on #17350
I'll move the NLLLoss to ATen and then follow up with a patch regarding determinism.

[2019-02-23 23:06] aurooj commented on #13214
@jeffquach Can you share your working code if possible, so that we could see how the code structure looks like?

[2019-02-23 23:21] sbarratt commented on #1359
I implemented conjugate gradient in pytorch: https://github.com/sbarratt/torch_cg

[2019-02-24 00:32] mrgloom commented on #10558
Get same error when installed from wheel on Mac OS:

 `pip install torch_nightly -f https://download.pytorch.org/whl/nightly/cpu/torch_nightly.html`

[code]

[code]

[2019-02-24 00:44] mrgloom commented on #10558
Using miniconda:
[code]

[code]

[2019-02-24 01:26] yihui-he opened #17437 "Automatic aggregation of a mix of sparse and dense gradients is not supported yet"
The gradient of [BatchGather](https://caffe2.ai/docs/operators-catalogue.html#batchgather) can't be mixed with gradients from other paths.
Any way to work around this?
[code]

[2019-02-24 02:03] mrgloom commented on #10558
Actually looks like problem was that Ihave clone caffe repo in the same dir from where I run the script and python was thinking that it's a `caffe` package, running from other dir gives me

Running on pytorch cloned dir:
[code]

python -m caffe2.python.caffe_translator
[code]

So should I point to caffe repo?

I have set `CAFFE_ROOT` like here but doesn't help
https://github.com/caffe2/tutorials/b

[2019-02-24 04:01] soumith commented on #17426
this log is not complete, as it's the log of a second invocation.

First run `git clean -xfd` to clean all build files, and then run

[code]

Then paste that full log.

thanks.

[2019-02-24 04:04] romth777 opened #17438 "RuntimeError: cur_offset == offset ASSERT FAILED at ..\aten\src\ATen\native\cudnn\RNN.cpp:471, please report a bug to PyTorch. cur_offset = 36864; offset = 18432"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:
1. Calculate loss with criterion (NllLoss).
1. Call loss.backward().
1. Assert in the title occurs.

## Expected behavior
Calculate loss, with no clash.

## Environment

 - PyTorch Version (e.g., 1.0): 1.0.0
 - OS (e.g., Linux): Windows 10
 - How you installed PyTorch (`conda`, `pip`, source): pip
 - Build command you used (if compiling f

[2019-02-24 04:25] vermouth1992 commented on #12831
I ran into the same problem with Pytorch version 1.0.1 on Windows. I had my own library and whenever that library is imported, it will print a message. Then, I found that if there is a data loader with num_workers greater than 1, my own library will reimported again and again within the loop (because the message is printed) and that's probably the reason.

[2019-02-24 05:01] #17399 closed

[2019-02-24 06:09] romth777 commented on #17438
My issue is my bug and because of not to modify the pretrained embedding weight data type float32 (=.float()) with float64 (=.double()).
If anyone who checks my issue is there, thanks for cooperating.

[2019-02-24 06:09] #17438 closed

[2019-02-24 07:16] suo commented on #17147
Going to close this as it appears it to be fixed. Feel free to reopen it if you are still seeing issues on 1.0.1

[2019-02-24 07:16] #17147 closed

[2019-02-24 07:24] RizhaoCai commented on #5406
In the testing phase, we cannot set model.train(), right? In practical scenarios, one model accepts one sample as input, therefore batch_size = 1.

[2019-02-24 07:32] nsjiow opened #17441 "how can i transform from the code in python " nn.Conv2d(in_channels=1, out_channels=40, kernel_size=(3, 9), stride=(1, 3), padding=0, bias=False)" to libtorch with c++?"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

[2019-02-24 07:34] nsjiow commented on #17441
training for rectangle image

[2019-02-24 07:35] nsjiow commented on #17441
btw, where can i find more libtorch docs?

[2019-02-24 07:43] pengshuang commented on #5560
Same problem!

[2019-02-24 09:44] BigBigWolf-AI opened #17445 "Why do I have to install CUDA and CUDNN first before installing pytorch GPU version ?"
## 🚀 Feature
    When installing Pytorch using pip, the CUDA and CuDNN libraries needed for GPU support must be installed separately, **adding a burden on getting started.** When the GPU accelerated version of Pytorch is installed using conda, by the command “conda install pytorch-gpu”, these libraries are installed automatically, with versions known to be compatible with the pytorch-gpu package.

[2019-02-24 09:50] krishnakalyan3 commented on #16014
This is an interesting problem

![image](https://user-images.githubusercontent.com/4648995/53297666-b27ed200-3847-11e9-859d-0df7d1a98c1e.png)

[2019-02-24 09:57] krishnakalyan3 commented on #16014
I can work on this and send a PR.

[2019-02-24 11:40] tsavchyn commented on #17315
Now I see. Thank you!

[2019-02-24 13:39] vishwakftw commented on #17261
I believe this has been fixed in https://github.com/pytorch/pytorch/commit/5fa78303edcfcc841c30ef27462f80904b3c79a2.

[2019-02-24 14:23] RizhaoCai commented on #5406
Hello.  I can understand there is the difference. But, why is the difference so huge. I train a model with TRAINING_SET data with the setting model.train(). Then, I test the model also with the TRAINING_SET data with the setting model.eval and I get very bad performance. It is very weird.

Could you please tell me why is the difference so huge, and how can I get that better? Like changing batch si

[2019-02-24 15:26] slaweku commented on #15236
Hi,
I do not get it why it is closed. How one can develop without running a Debug version?
If Debug and Release torch binaries are not compatible, you should provide information how to build both, and properly link them.

[2019-02-24 16:06] #17261 closed

[2019-02-24 16:30] RicCu commented on #17445
Hi,
have you found issues with PyTorch's installation via pip? If so, it might be a regression, because it used to [include CUDA and CuDNN](https://www.anaconda.com/tensorflow-in-anaconda/), the only limitation being that you have to [install numpy separately](https://pytorch.org/get-started/locally/#numpy).

AFAIK you only need to install CUDA and CuDNN separately if you're building PyTorch from

[2019-02-24 17:01] RagnarokV commented on #15290
Hi,
With respect to Python2/3 discrepancy, pretty much the only change you'd have to do is change urllib2 to urllib. That's the issue I faced, and it worked perfectly.
For the conda approach, I agree. It's BS that the documentation describes a 1 step installation procedure that doesn't work. This is because pytorch-nightly-cpu isn't available for Mac. I checked the package and it's only for linux

[2019-02-24 18:21] bhushan23 commented on #17247
@zitianwang can you pull and try change #17436 for cuda?
I don't have setup to verify cuda changes at my end.

[2019-02-24 19:11] varenick opened #17448 "Inferring shapes of subsequent layers inside nn.Sequential"
## Feature
A modification of nn.Sequential class that would infer some input parameters for containing modules. E.g. `in_features` for `nn.Linear`.

## Motivation
Inferring shapes of subsequent layers require manual calculations. Sometimes it is not trivial; e.g. in conv layers with non-default padding / output_padding / stride. In this case one require to look into documentation page for exact fo

[2019-02-24 19:19] fmassa opened #17449 "[JIT] encodeRHS val.isInt() ASSERT FAILED during fusion"
## 🐛 Bug

Fusing the following function crashes the interpreter

[code]
with the following error
[code]

I'm using latest nightly `1.0.0.dev20190223`

[2019-02-24 19:59] suo commented on #15236
Hi @slaweku, check out our documentation on Windows builds: https://pytorch.org/docs/stable/notes/windows.html. If they are not sufficient for you, let us know and we can improve them. Thanks!

[2019-02-24 20:24] stas00 commented on #16266
How can I be of help if anybody has the know-how to implement this.

I started writing used/peaked memory usage tests in several projects test suite that need to ensure the API doesn't leak memory or uses too much of it in a short span, and using the peak monitoring thread is highly unreliable, since there is no guarantee a python thread even gets a chance to run. Thus unit tests aren't possible.

[2019-02-24 20:26] slaweku commented on #15236
Michael,
Thank you very much. I will attempt to build it today. But my point is that
someone should write a few line explaining the situation and the workaround
at https://pytorch.org/cppdocs/installing.html.
Because if I follow instructions there, I will get hit with the issue, and
it is a runtime issue with a cryptic message.

Regards,
Slawek

On Sun, Feb 24, 2019 at 11:59 AM Michael Suo <notifi

[2019-02-24 20:32] suo commented on #15236
That's good feedback, thanks! I updated the cpp tutorial but not the base docs, that was a mistake. I'll update the cpp tutorial :)
________________________________
From: slaweku <notifications@github.com>
Sent: Sunday, February 24, 2019 12:26 PM
To: pytorch/pytorch
Cc: Michael Suo; Comment
Subject: Re: [pytorch/pytorch] Tutorial code for C++ crashes on Windows in Debug builds (#15236)

Michael,
T

[2019-02-24 20:35] concretevitamin opened #17451 "Provide a way to implement an infinite / streaming collection as a Dataset"
I’d like to implement an infinite loop Dataset & DataLoader. Here’s what I tried:
[code]
As you can see, the main challenge here is the `__len()__` method. If I put a large enough number there, like 1<<30, the symptom is memory usage will JUMP TO 10+GB on the first iteration of train loop. After a while the workers are killed presumably due to OOM.

If I put a small number there, like 1, I believe

[2019-02-25 00:10] wyndwarrior opened #17455 "NaN gradients not properly masked"
## 🐛 Bug

After performing some computation that results in a NaN gradient, no amount of reassignment will result in a non-NaN gradient.

## To Reproduce

Steps to reproduce the behavior:

[code]

Produces:

[code]

## Expected behavior

[code]

## Environment
PyTorch version: 1.0.1.post2
Is debug build: No
CUDA used to build PyTorch: 10.0.130

OS: Ubuntu 16.04.4 LTS
GCC version: (Ubuntu 5.4.0-6ub

[2019-02-25 00:24] slaweku commented on #15236
Thank you!

On Sun, Feb 24, 2019 at 12:33 PM Michael Suo <notifications@github.com>
wrote:

[2019-02-25 00:48] BigBigWolf-AI commented on #17445
Hi,
What I want to know is if I use the command _**conda install**_ to install pytorch GPU version, do I have to install cuda and cudnn first before I begin the installation ?

[2019-02-25 00:51] zhuyangda commented on #4507
Does it become slower when the num_workers=0?

[2019-02-25 01:06] RicCu commented on #17445
No, `conda install` will include the necessary cuda and cudnn binaries, you don't have to install them separately. However you do have to specify the cuda version you want to use, e.g. `conda install pytorch cudatoolkit=9.0 -c pytorch`.
See PyTorch's [Get started](https://pytorch.org/get-started/locally/) guide for more info and detailed installation instructions :smile:

[2019-02-25 01:10] BigBigWolf-AI commented on #17445
Thank you very much! It is really surpriseed to see an emoji on the answer of a issue, how to do that!!!!!

[2019-02-25 02:16] amogkam opened #17457 "Basic Linear Model with mask fails Autoregression test"
## 🐛 Bug

A simple 2 layer linear model with the correct masks from https://arxiv.org/pdf/1502.03509.pdf fails the autoregressive property tests. The input gradient is 0 even when there is a connection from the input to the output.

## To Reproduce

Steps to reproduce the behavior:
[code]

## Expected behavior

On each iteration, the output and index k should only depend on the the previous inputs

[2019-02-25 02:18] #17445 closed

[2019-02-25 02:52] justbeu commented on #17433
thanks for your reply but i can't find c10::cuda::CUDACachingAllocator::emptyCache(); in libtorch stable 1.0 version and nightly build version. so could you please tell the version number?

[2019-02-25 02:56] vonyud opened #17458 "Overflow in fbgemm"
Hi,
recently I started to learn fbgemm. I notice both the fbgemm test case and here fully_connected_dnnlowp_op_test, fully_connected_dnnlowp_acc16_op_test  have some functions to avoid overflow.

I understand because of the AVX vpmaddubsw instruction, the result of a int8 value times a unsigned int8 value can be saturated. I am not familiar with caffe, so my question is how is the overflow/saturat

[2019-02-25 03:20] soumith commented on #17451
`return HPARAMS.batch_size` looks pretty wrong. you would want some large value (as you mentioned, something like `1<<30`).
The DataLoader only pre-loads one batch ahead of time.
What you are running into is probably that if the size is VERY large, we actually generate indices ahead of time to preserve determinism: https://github.com/pytorch/pytorch/blob/master/torch/utils/data/dataloader.py#L144-

[2019-02-25 03:20] #17451 closed

[2019-02-25 03:39] concretevitamin commented on #17451
Shouldn't it be possible to make a simple optimization: if `shuffle` is set to False, don't pre-generate the indices.

[2019-02-25 03:41] concretevitamin commented on #17457
In other words, for a certain 2-layer MLP, some output unit should propagate gradients back to inputs (say) `0, 1, 2` but the gradients there are zeros.

[2019-02-25 04:22] soumith commented on #17458
it seems that you should post the issue in https://github.com/pytorch/fbgemm and close this one

[2019-02-25 04:33] soumith commented on #10558
`import caffe` should be available (caffe with python bindings should be correctly installed). That's the problem.

[2019-02-25 04:33] #10558 closed

[2019-02-25 04:34] soumith commented on #17350
Thanks Thomas!

[2019-02-25 04:46] fa15073 commented on #16925
double check cmake installed with vs2017 is running (uncheck it in the installer if you don't really need it)
the one installed via anaconda should work
btw, 14.11 should work too

[2019-02-25 04:49] soumith commented on #17441
please use https://discuss.pytorch.org for questions

[2019-02-25 04:49] #17441 closed

[2019-02-25 04:56] #17429 closed

[2019-02-25 05:18] vishwakftw commented on #17117
This can be closed now, the docs have been updated.

[2019-02-25 05:25] isaacleeai opened #17459 "Sharing GPU tensors among different processes using billiard"
## 🚀 Feature

Currenlty, pytorch only supports sharing tensors among multiple GPUs using `torch.multiprocessing`. Could you extend this support to `billiard` ( since the taskpool of `billiard` is often found to be more sophisticated and used widely -- ex. `celery` )?

## Motivation

Being able to use `celery` -- which uses `billiard` -- s.t. processes in the task pool read from shared CUDA tensor,

[2019-02-25 05:28] vishwakftw commented on #16952
Hi @mfuntowicz, could you send in a PR implementing this small change?

[2019-02-25 05:46] vonyud commented on #17458
Thanks for the reply.
Maybe I was not clear. What I meant was fbgemm is used in the code https://github.com/pytorch/pytorch/blob/master/caffe2/quantization/server/fully_connected_dnnlowp_acc16_op.cc
https://github.com/pytorch/pytorch/blob/master/caffe2/quantization/server/fully_connected_dnnlowp_op.cc
but overflow is not considered.

[2019-02-25 05:59] #11922 closed

[2019-02-25 06:00] amogkam commented on #17457
Here is a diagram of what the neural net looks like with the masks applied.
![untitled document](https://user-images.githubusercontent.com/8068268/53317104-3a340300-387f-11e9-9d83-4fb156896062.jpg)

When k=2 in the code, this is referring to output `o_1_0` in the diagram. There is a connection from this output to input `in_0`, but not the other 2. Thus, the gradient wrt `in_0` should be non-zero,

[2019-02-25 06:31] t-vi commented on #17455
This is the same idea as #15506 and #16317. Short of keeping a mask around for all backward steps, it's pretty hard to solve as it doesn't fit floating point arithmetic.

[2019-02-25 06:49] #17117 closed

[2019-02-25 07:34] Wenlong-Shi commented on #16996
@fmassa `torch.as_tensor` is also missing in 1.0.1.post2，related to Pycharm.

[2019-02-25 07:52] BigBigWolf-AI opened #17463 "Will the pytorch environment impacts other environments ?"
OS: Ubuntu 16.04(which has installed cuda 9.0 and cudnn 7.5)

First, I create a virtual environment using the following command:
_**conda create -n pytorch_env python=3.6 conda**_
then I activate the pytorch_env and install pytorch using the following command:
_**conda install pytorch torchvision cudatoolkit=10.0 -c pytorch**_
We all know that the conda will install pytorch gpu version and the cud

[2019-02-25 08:45] wanchaol commented on #17374
Hi @daiwei89 Thanks for raising this issue. This is due to the input to the onnx export can either be Tensor, list[Tensor], bool for now. So a simple fix would be

[code]
this should give a exported onnx model

[2019-02-25 09:38] wzn0828 opened #17465 "The source code for conv2d"
Hi, I wanna to do some work about the conv2d, but the release did not make the source code of con2d available.  What should I do to approach the conv2d?

## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our d

[2019-02-25 09:41] VinACE commented on #16035
# python transcribe.py --model-path librispeech_pretrained.pth --audio-path OSR_
us_000_0010_8k.wav --cuda
Traceback (most recent call last):
  File "transcribe.py", line 88, in <module>
    out = model(Variable(spect, volatile=True))
  File "/opt/conda/lib/python3.6/site-packages/torch/nn/modules/module.py", line 489, in __call__
    result = self.forward(*input, **kwargs)
  File "/opt/conda/lib/

[2019-02-25 09:53] robbine commented on #16699
I finally managed to reproduce this issue with two python scripts. One  for model creation and model dump. The other for model conversion using onnx. However allennlp-v0.8.2 is required, please create a conda environment with python=3.7 also. Thanks in advance !
https://github.com/robbine/allennlp-as-a-library-example/blob/master/scripts_for_debug/model.py
https://github.com/robbine/allennlp-as-a-

[2019-02-25 09:53] tonmoyborah commented on #17326
Same issue when I try to build caffe2 . It happens when I run `python pytorch/setup.py install`

[2019-02-25 10:09] bhushan23 commented on #17465
Convolution base code is present in following file and directory
- aten/src/ATen/native/Convolution.cpp
- aten/src/THNN/generic/

Hope that helps. More importantly, what do you want to work on?

Also,
You are most welcome to post on shttps://discuss.pytorch.org in future for doubts.

Issues are more of for RFEs and bugs.

[2019-02-25 10:09] junjihashimoto commented on #17368
@soumith
If I make PR to insert git-hash and *.yaml, Could you merge it?

[2019-02-25 10:17] otaj commented on #15774
I don't know was exactly would be the issue, but I experienced something somewhat similar, which I actually managed to pinpoint. The reason for my memory increase was using DataLoader with custom Dataset (subclassing from torch.utils.data.Dataset) where I was storing loading data in a dict instead of a simple list to accommodate shuffling. However, the indices going to method __getitem__ (generate

[2019-02-25 10:19] vaibhav0195 commented on #17326
Hi , I solved it by using the build from v1.0.0

[2019-02-25 10:24] otaj opened #17466 "torch.utils.data DataLoader does not index by integers"
## 📚 Documentation

Hi, it seems DataLoader with shuffle=True does not index dataset by integers but by torch.tensor instances of integers. I suspect, this happens in multiple places, especially samplers. This might seem like unimportant case, however I managed to run out of memory on my 250G server because I was internally actually indexing into dictionary. And since tensor instances don't have r

[2019-02-25 10:25] bhushan23 commented on #17465
Convolution base code is present in following file and directory

- aten/src/ATen/native/Convolution.cpp
- aten/src/THNN/generic/

what do you want to work on?

We have a discussion forum here, https://discuss.pytorch.org

[2019-02-25 11:56] csjunxu commented on #15645
The problem is related to the version of pytorch you installed. I reduced its version from 1.0 to 0.4, and the problem is solved. Newer is not better!

[2019-02-25 11:58] loopdigga98 commented on #17054
Hi @eellison, sorry for late reply. I've tried nigthly version of libtorch and error dissapear. Thank you for your help!

[2019-02-25 12:00] zzj0311 commented on #15774
@otaj Thx but no, I would never do that. Shuffling a dict is a quiet dumb operation

[2019-02-25 12:03] h6197627 commented on #14317
@gemfield, thanks for fixing libcaffe2_protos.a target installation!

Unfortunately adding **option optimize_for = LITE_RUNTIME;** breaks compilation:

    return functions.at(functionName).net_def->DebugString();

Anyway, in case this error can be easily fixed, I think these adjusments of proto files should be done somehow automatically, because right now these configuration flags make no sense a

[2019-02-25 12:15] otaj commented on #15774
Shuffling a dict is a quite dumb operation, but I am not saying you did that - I am saying you might index a dict by instances of torch.tensor when you thought you were working with numbers.

[2019-02-25 12:32] robbine commented on #16699
also please notice that I installed latest pytorch-nightly 1.0.0.dev20190225

[2019-02-25 14:51] #17465 closed

[2019-02-25 14:53] soumith commented on #17368
@junjihashimoto where would you insert the git-hash, and what yaml are you going to insert?

[2019-02-25 14:54] soumith commented on #17463
please use https://discuss.pytorch.org for questions

[2019-02-25 14:54] #17463 closed

[2019-02-25 15:00] soumith commented on #17458
cc: @yinghai any ideas?

[2019-02-25 15:02] soumith commented on #17459
do you know what the scope of the work would be? (are you familiar with internal stack of `billiard` etc.?)

This is something that we as core devs wont take up, but if it's reasonably scoped and you want it, let's talk about what code changes might have to be made, to make a decision on yes or no.

[2019-02-25 15:53] manuyavuz commented on #17209
Hi @mrshenli,

Do you have any guess on what could be the problem? Or any workaround that you might have?

I'm willing to help for any additional analysis/debug you might need. It's been a problem causing real slowness to us, We can't utilize our GPUs efficiently enough.

Also, we experience the same issue with a 2 V-100 GPU setting, so not sure if it's directly related to GPU type or latency tha

[2019-02-25 16:05] soumith commented on #5406
See my comment here: https://discuss.pytorch.org/t/model-eval-gives-incorrect-loss-for-model-with-batchnorm-layers/7561/3

[2019-02-25 16:05] SsnL commented on #17466
What's your pytorch version? IIRC, we fixed a bug like this a while ago.

[2019-02-25 16:09] ezyang commented on #17433
Hi, that's the name of it on master. In 1.0 I believe you want `THCCachingAllocator_emptyCache()`

[2019-02-25 16:17] mfuntowicz commented on #16952
Sorry for the delay I will do it by today.

Morgan

[2019-02-25 16:18] vishwakftw commented on #16952
No worries, thanks for the reply :)

[2019-02-25 16:27] ezyang commented on #17425
Seems reasonable to me. You'd have to edit `C10_CUDA_CHECK`, I believe.

[2019-02-25 16:29] mrshenli commented on #17209
@manuyavuz Sorry about the delay. I haven't got a chance to look into this yet. Will investigate later today.

[2019-02-25 16:45] otaj commented on #17466
1.0.1
What I am saying is that I don't mind not having `__hash__` dependant on tensor's value, that's reasonable.
However, the behavior of at least torch.utils.data.RandomSampler differs from what is said in documentation. You can see it [here](https://github.com/pytorch/pytorch/blob/master/torch/utils/data/sampler.py#L76) the iterator returned returns 0-D torch.Tensors, when in fact documentation

[2019-02-25 16:55] otaj commented on #17466
So my proposed solution is to either change the documentation to reflect the fact that it is necessary to be able to index your Dataset by integers wrapped in torch.tensor, maybe with a warning saying indexing to dict won't work as expected, or change `__iter__` of at least RandomSampler, SubsetRandomSampler and WeightedRandomSampler (seems like these three are the only ones in sampler.py, however

[2019-02-25 16:57] manuyavuz commented on #17209
Thanks! Please tell if you would need any additional information.

[2019-02-25 17:11] soumith commented on #17455
See Alban's comments here: https://github.com/pytorch/pytorch/issues/15506#issuecomment-450544895 on why this happens and our reasoning / stance on it.

[2019-02-25 17:11] #17455 closed

[2019-02-25 17:14] #17457 closed

[2019-02-25 17:15] soumith commented on #17448
Implementing `infer_output_shape` for every class inherited from `nn.Module` is an unacceptable burden for Module writers. It's easy for `nn.Linear`, but not so easy for others.

[2019-02-25 17:23] soumith commented on #17457
@amogkam why did you close the issue? any conclusion would be helpful for readers that visit this link at a later time.

[2019-02-25 17:28] soumith commented on #17250
I suspect an old install of PyTorch interfering somehow.
Please either provide a way to reproduce (maybe a docker image), or clean all old installs of PyTorch -- you can also try  a fresh environment of PyTorch or anaconda.

[2019-02-25 17:28] #17250 closed

[2019-02-25 17:32] soumith commented on #17228
please give full logs

[2019-02-25 17:39] soulslicer commented on #7800
Is there any example code out there to show how to do say..torch::mm and let me pass in a stream?

[2019-02-25 17:40] pliu6 commented on #13381
I am facing a similar issue in a different scenario. I am trying to execute a Torch script with C++ API on GPU. The inference does not take much time, but moving data from CPU to GPU is very slow.

Does anyone have clue about how to fix the issue? Thanks!

[2019-02-25 17:45] daiwei89 commented on #17374
That did the trick. Thank you so much!

[2019-02-25 17:45] daiwei89 commented on #17374
Closing the issue.

[2019-02-25 17:45] #17374 closed

[2019-02-25 18:09] kostmo commented on #17335
Fixed in #17427

[2019-02-25 18:09] #17335 closed

[2019-02-25 18:17] moon05 commented on #1960
@bhushan23 hey I am new to PyTorch and was also looking at this. I was wondering what needs to be different from the reference implementation here? It seems like other than the functions state_dict and load_state_dict, which is already done in optimizer.py everything else should stay the same. Or am I not understanding something here? Could you kindly clarify?

[2019-02-25 18:26] eellison commented on #16662
@TheCodez functions aren't first-class values in TorchScript (yet), so I would personally say it makes more sense to hold off on implementing it.

Also, by the most common case for lists in torchscript will be Tensors, which don't make a lot of sense to sort without a custom function. Maybe @driazati has other thoughts?

But we appreciate your enthusiasm & hard work! If you're trying to round out

[2019-02-25 18:26] kostmo commented on #17336
Fixed in commit dd3acbc6d

[2019-02-25 18:27] neiladit commented on #17426
Thanks for pointing that out. When I build using `CUDNN_INCLUDE_DIR=~/cuda/include CUDNN_LIBRARY=~/cuda/lib64 python setup.py install` after the running the clean command I get this error:

[code]

Am I not including the cud files properly?

[2019-02-25 18:34] soumith commented on #17364
there is no `device` option to `torch.load`, this is incorrect usage on your end.

Look at `map_location` option to `torch.load` to achieve what you want.

[2019-02-25 18:36] soumith commented on #17313
@cpuhrsch this is relevant to your NLP discussions

[2019-02-25 18:41] soumith commented on #17268
@ferrine https://github.com/pytorch/pytorch/issues/17249 proposes something similar, and solves it in a more pythonic / elegant way. Would that proposal solve your requirement as well?

[2019-02-25 18:43] soumith commented on #17243
cc: @brianjo would you mind taking this?

[2019-02-25 18:45] ezyang commented on #17231
@SimLeek Yeah, why don't we assert the devices match. Do you want to submit the PR for this?

[2019-02-25 18:51] ezyang commented on #16581
I think this was resolved.

[2019-02-25 18:51] #16581 closed

[2019-02-25 19:02] danielgordon10 commented on #17364
You are right that `device` is not the keyword, but the problem still exists. If you pass in a second argument without naming it, you still run into the issue.

[2019-02-25 19:39] danielgordon10 commented on #17364
Some code examples
[code]

nvidia-smi result
[code]
---

[code]

[code]
---

[code]

[code]

The third example is especially surprising because it seems to ignore the map_location altogether, though I may be calling it wrong.

[2019-02-25 19:44] SantoshManicka commented on #17199
I had a similar issue while using torch.bmm(), and setting mp.set_start_method('spawn') [but not 'fork'] solved the issue. Although, why it's specific to bmm (or einsum and the link, as reported above) is not clear.

[2019-02-25 19:49] farhan333 commented on #14317
@h6197627  @gemfield

After adding **option optimize_for = LITE_RUNTIME;** the compilation is breaking

[2019-02-25 19:53] soumith commented on #17426
CUDNN_LIBRARY should be the full path to `libcudnn.so`, not just the directory.

[2019-02-25 20:12] neiladit commented on #17426
@soumith Thanks for the help. CuDNN works now. The build command I used was:

`CUDNN_INCLUDE_DIR=~/cuda/include CUDNN_LIBRARY=~/cuda/lib64/libcudnn.so python setup.py install`

[2019-02-25 20:12] #17426 closed

[2019-02-25 20:15] brianjo commented on #17243
Looking.

[2019-02-25 20:16] concretevitamin commented on #17457
Relu pushes some values to zeros so they get a gradient of 0 back.  The autoregressive check of checking gradient != 0 was too strict.

[2019-02-25 21:00] SsnL commented on #17347
fixed in #17358

[2019-02-25 21:00] #17347 closed

[2019-02-25 21:01] SsnL commented on #17466
Thanks for the investigation. We should fix the samplers.

[2019-02-25 21:30] hengyuan-hu opened #17479 "Building libtorch-dependent project with CMake"
## ❓ Questions and Help

I am writing a library depending mainly on torch::Tensor in libtorch. The library will have a python interface so that python program can get access to Tensor object defined in C++ code. A minimal example would look like this:
[code]

and my CMakeLists.txt looks like this:
[code]

However, when I try to 'import a' in python, I get the following error:
[code]

The source co

[2019-02-25 21:45] kostmo commented on #17336
actually this still needs some work:
[code]

[2019-02-25 22:05] teng-li commented on #17479
@orionr @pjh5  Assigning to you guys since this looks like a build issue. Any idea on how easy this can be fixed?

[2019-02-25 22:10] orionr commented on #17479
Was just talking with @hengyuan-hu about this. cc @kostmo and @goldsborough as well.

You might be able to get some mileage out of looking at https://github.com/pytorch/pytorch/issues/12449  My hint is that you aren't setting the LIBRARY_PATH correctly somehow.

[2019-02-25 22:28] LeviViana commented on #16897
I've created a repo for this subject here: https://github.com/LeviViana/torch_sampling. I'm still working on the CUDA implementation. I'd be happy to read your comments about this implementation.

[2019-02-25 23:12] ailzhang opened #17483 "[JIT] support range of int"
Currently there's no easy way to create [0, 1, 2, ..., x - 1] given x in torchscript, unless we do it in a for loop.
As discussed offline with @zdevito  and @driazati , we propose adding `prim::range` and let it return a List.
The behavior doesn't match Python exactly, as range and list in Python are not exactly the same. But this is sufficient for our current need, and I don't see a need to diffe

[2019-02-25 23:18] mattmcclean commented on #15213
@norahsakal did you manage to get this to work? Am interested to know how you got your package size under the AWS Lambda limit of 250 MB. Already PyTorch (216 MB) + Numpy (63 MB) is more than the limit

[2019-02-25 23:22] konstantinosKokos opened #17484 "Parameter not registering if .to(device) is used"
## 🐛 Bug

During instantiation of a custom module, parameters do not register if they are initialized with a .to('cuda') function call on the parameter level.

## To Reproduce

[code]

On the other hand, if the .to('cuda') is called on the wrapped tensor, everything works as expected.

[code]

OS: Ubuntu 16.04.5 LTS
GCC version: (Ubuntu 5.4.0-6ubuntu1~16.04.11) 5.4.0 20160609
CMake version: Could

[2019-02-25 23:34] soumith commented on #17484
this is totally expected.

Parameters can only be leaf Tensors, not Tensors that are a result of an operation on another Tensor.

What you want is:

[code]

[2019-02-25 23:34] #17484 closed

[2019-02-26 00:38] ailzhang commented on #16886
This change actually went in with #17187. Closing

[2019-02-26 00:38] #16886 closed

[2019-02-26 00:44] suo commented on #15236
#17452

[2019-02-26 00:50] zijwang commented on #16933
Any updates on this?

[2019-02-26 01:43] slaweks17 opened #17489 "Windows CPU debug build fails at linking stage"
## 🐛 Bug
Hi,
I can't build Windows Debug CPU version, the build fails during linking.
I am using the latest source code. At the end of post there are exact commands I execute.
I am really after Libtorch build, I do not care about Python, but because I do not understand the whole thing, I feel obliged to build all.

Thank you,
Slawek

1. First of all an observation, CMakeLists.txt contains this:
se

[2019-02-26 01:48] andrei-rusu commented on #17108
I am getting the same error as this with PyTorch 1.0.1 and CUDA 10. Indeed, updating to one of the nightly builds solved the issue, yet I stumbled upon a "classical nightly issue": some random Assertion Failure which prompted me to message PyTorch developers about it. This is getting really frustrating since I've been losing considerable time in reconfiguring my environment. I think I will have to

[2019-02-26 02:30] srasool opened #17492 "Libtorch binaries compiled with flag _GLIBCXX_USE_CXX11_ABI = 1"
Libtorch binaries can be installed from  https://download.pytorch.org/libtorch/nightly/cpu/libtorch-shared-with-deps-latest.zip, but these are build with _GLIBCXX_USE_CXX11_ABI = 0 which make it incompatible for certain cases. Is it possible to get latest ompiled with _GLIBCXX_USE_CXX11_ABI = 1

[2019-02-26 02:50] peterjc123 commented on #17489
If you build for libtorch, then please do this before build.
[code]

[2019-02-26 03:37] slaweks17 commented on #17489
Thank you.
Unfortunately (this time after compiling 1319 files) I still fail at the same place:
[code]

[2019-02-26 04:39] soulslicer opened #17493 "Pytorch C++ - Cuda streams"
I have posted this on stackoverflow and on pytorch discussions, but have not gotten a response. I wish to do something like this, but in the Pytorch C++ API:

[code]

I basically wish to run two `torch::mm` in two different streams simultenously to better use my GPU resource in the C++ Api. I am able to create the cuda stream, but unable to find any documentation on how this can be "passed" into t

[2019-02-26 04:55] mrshenli commented on #17209
Hi @manuyavuz, if I read it correctly, the tutorial is using a tiny model:

[code]

But it seems it took `2.7` seconds to copy the model from CPU to one GPU in your case. Do you consistently see that? Or are there any other workload running concurrently?

[code]

On my server, this copy call takes around 10 us.

[code]

[2019-02-26 04:57] peterjc123 commented on #17489
The workground here is to use `set BUILD_TEST=OFF`. I'll look into it when I have time.

[2019-02-26 05:05] mrshenli commented on #17209
Sorry, that `2.7` seconds `to` invocation should be the data `input = data.to(device)` instead of model. But, `2.7` still seems too long.

[code]

[2019-02-26 05:17] mrshenli commented on #17209
I added timing measures into the tutorial code, and found that the first forward pass took `1.8` seconds. Subsequent forward passes took roughly 1ms each. It seems to be some initialization overhead, as you run it over more data. Do you see similar behavior in your case? @manuyavuz

[2019-02-26 05:51] mrshenli commented on #17209
I think it is indeed initialization overhead. I added `torch.tensor(1).cuda(0).cuda(1)` before the `for` loop to make sure that both GPUs are initialized. Then, all four forward pass execution times fall to a few milliseconds.

I run the same program with your command on two GPUs, and I got:

[code]

[2019-02-26 07:34] luozhengnan opened #17495 "the error imformation ask me to report the bug"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1.
1.
1.

## Expected behavior

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out the checklist below manually).

You can get the script and run it with:
[code]

 - PyTorch Version (e.g., 1.0):
 - OS (

[2019-02-26 08:21] mattmcclean commented on #14968
@bendidi did you try out the fix? keen to know if it worked. Also, by compiling from source are you able to get the package size under 250 MB to avoid going over the AWS Lambda package limit?

[2019-02-26 09:02] snippler opened #17499 "(shared) Memory leak on Pytorch 1.0"
## 🐛 Bug

I’d like to report a weird behaviour in 1.0 that I could resolve by only going back to 0.4. I am training a network on quite a big data set (35 GB) and use 4 gpus by applying the command
torch.nn.DataParallel(model).cuda()
Further I am having a big batch size (>1000) which makes the command
torch.multiprocessing.set_sharing_strategy(‘file_system’). I have num_workers=16 in the dataloader

[2019-02-26 09:11] otaj commented on #17499
Seems it might be related to this issue #17466
AFAIK, `__hash__` is what changed in between 1.0.0 and 0.4.0

[2019-02-26 09:17] bendidi commented on #15213
Hi @mattdawkins, yes cpuinfo errors are fixed 👍 (thx @Maratyszcza )

for the aws limits, one way to do it is to build your env in a docker file, package it in a zip file and save it to s3, and for each lambda call, your script will download the zip packages, unzip it (in `/tmp/`) and then `sys.append(path/to/req)`,
the docker can be something like this :
[code]

in your code it will then be just :

[2019-02-26 09:18] bendidi commented on #14968
@mattdawkins i've answered in #15213

[2019-02-26 09:37] snippler commented on #17499
I tested with shuffle=False and /dev/shm is still accumulating so it is not related.

[2019-02-26 09:40] zzd1992 commented on #15054
I am experiencing the same issue. Worse, set cudnn.deterministic=True can't improve the speed on my Tian1080.

[2019-02-26 09:53] otaj commented on #17499
I meant related as in DataParallel or set_sharing_strategy('file_system') are using tensors as keys in some dict, thinking that `__hash__` is value-dependent while it actually is only memory-location-dependent. Which of course is a bug on its own, I'm just trying to help pinpoint the origin of the bug

[2019-02-26 10:18] snippler commented on #17499
I see your point.
Any idea how to test this?

[2019-02-26 10:43] bendidi commented on #15213
one problem that I've run into @soumith @Maratyszcza if you have any idea or advice to solve it, is that   the gcc in aws lambda runtime in `gcc==4.8.5` while to use cpp extensions with pytorch the minimum version required for gcc is `4.9` (cf [here](https://github.com/pytorch/pytorch/blob/master/torch/utils/cpp_extension.py#L53) ), I'm trying to run [maskrcnn-benchmark]( https://github.com/facebo

[2019-02-26 11:43] BigBigWolf-AI opened #17500 "Conda did not install cudnn for pytorch"
OS: ubuntu 16.04(only installed the graphic card driver, has not install cuda and cudnn)
pytorch version: 1.0.1
Hi,
I use the following command to install pytorch:

_**conda install pytorch torchvision cudatoolkit=10.0 -c pytorch**_

then I use the command **_conda list_** to list the packages that have been installed with pytorch, I found the cudatoolkit but I did not found the cudnn, why? the py

[2019-02-26 12:52] otaj commented on #17499
Honestly, no idea. Try to run this whole thing inside some debugger, and look inside attributes of DataParallel, that's how I tracked down my problem. The bug should manifest regardless of the dataset size, therefore debug it on some small subset, which should definitely speed up the whole debugging process

[2019-02-26 13:56] snippler commented on #17499
In the code that you provided you found out that key is a torch.tensor?

I am not able to reproduce this. Printing key I get an integer with 0.4 and with 1.0. Do I misunderstand something?

[2019-02-26 14:05] Coolnesss opened #17501 "Tensor unfold backward is slow"
## 🐛 Bug

Given the following code, the forward pass is very fast but the backward pass is unreasonably slow. I had a look at the backward pass code and while I am not an expert, I think it could be made significantly faster by writing a custom kernel instead of allocating index arrays, especially since `index_add_` seems to be so slow.

[code]

[code]

## To Reproduce

See code above

## Expected

[2019-02-26 14:05] zzj0311 commented on #15774
@otaj hmmm but still not my case. I'm pretty sure I was using list of file names as my dataset so the problem most likely to be something related to multi-threads image loading process. Thanks for your time.

[2019-02-26 14:10] slaweks17 commented on #17489
Thank you! I managed to built it.

[2019-02-26 14:13] peterjc123 commented on #17489
If you have time, would you please try if #17494 fixes your problem?

[2019-02-26 14:38] otaj commented on #17499
Yes, the key passed to the `__getitem__` of my dataset by DataLoader with shuffle=True (therefore essentially using RandomSampler) was an instance of torch.tensor (0-D, LongTensor, however torch.tensor).

[2019-02-26 14:42] otaj commented on #17499
However, it seems, that the main issue is from random_split. To reproduce:

  class datalist(list):
      def __getitem__(self, key):
          print(type(key))
          return super().__getitem__(key)

  import torch.utils.data as data
  dataset = datalist(range(10))
  n_dataset = data.random_split(dataset, [10])
  for batch in data.DataLoader(n_dataset):
      pass # <- this will print torch.te

[2019-02-26 14:48] otaj commented on #17466
It actually seems, the problem might be the random_split and not the RandomSampler (it has tolist() everywhere after all), see this to reproduce:

    class datalist(list):
        def __getitem__(self, key):
            print(type(key))
            return super().__getitem__(key)

    import torch.utils.data as data
    dataset = datalist(range(10))
    n_dataset = data.random_split(dataset, [10]

[2019-02-26 14:49] otaj commented on #15774
So, random_split maybe? See #17466

[2019-02-26 15:39] RicCu commented on #17500
Hi,
even if it's not listed explicitly with `conda list`, your installation should have cudnn. You can check if this is the case executing `torch.backends.cudnn.is_available()`.

[2019-02-26 15:41] soumith commented on #17500
@BigBigWolf-AI I repeatedly have asked you to use the forums for questions, and yet you keep opening new issues. Redirect all questions to https://discuss.pytorch.org

[2019-02-26 15:41] #17500 closed

[2019-02-26 15:49] Coolnesss commented on #17501
After testing on GPU, if I set the batch size low enough it runs very fast, but anything over 2 and it runs out of memory (8gb GPU). How would I go about debugging the memory usage?

[2019-02-26 16:08] soulslicer commented on #17493
I've been looking through the Torch Code. It looks like i need to use stuff in <c10/cuda/CUDAStream.h>. Please help!

[2019-02-26 16:12] ezyang commented on #17493
CUDA streams are not passed to operators; instead, there is a notion of a current CUDA stream which operators use. Check out `CUDAGuard` for how to set the current stream.

[2019-02-26 16:12] #17493 closed

[2019-02-26 16:15] soulslicer commented on #17493
Before you just close this, I would really appreciate some hints. Since this API is not listed anywhere. This would help other developers in the future as well. Am I suppose to instantiate a `CUDAStreamGuard` object? How do I actually pass in my cudaStream_t object?

[2019-02-26 16:24] gchanan commented on #17152
Fixed by https://github.com/pytorch/pytorch/pull/17379.

[2019-02-26 16:24] #17152 closed

[2019-02-26 16:31] windson87 opened #17502 "CUDA error: invalid argument (launch_kernel at /pytorch/aten/src/ATen/native/cuda/Loops.cuh:62)"
Hi, am running multi-GPU training with pytorch, bu there is some cuda error happened which I dont get why.

My envs are:
Ubuntu 18.04.2 LTS
Running on 1 computer with 2 Tesla K80 Gpus
Cuda 10, pytorch 1.0.1 -post 2 (also CUDA 10 version)
Openmpi 4.0.0
NCCL2: 2.4.2 (the newest)
Horovod: newest 0.16.0

Could someone give a bit hint? THANKS! ;)

~$ mpirun -N 2 -H localhost:2 -bind-to none -map-by slo

[2019-02-26 16:42] fbpierazzi commented on #7416
Did anyone implement index_select() for sparse PyTorch tensors, eventually?

[2019-02-26 16:43] fbpierazzi commented on #7416
Did you submit something?

[2019-02-26 17:00] mfuntowicz commented on #16952
PR opened : https://github.com/pytorch/pytorch/pull/17503

[2019-02-26 17:19] BilalSaeedLM10 commented on #2231
So after **pip install torchvision** i was able to install only torchvision and 1 or 2 more packages but not the **torch**.. The error is given below:
Collecting torch (from torchvision)
  Using cached https://files.pythonhosted.org/packages/5f/e9/bac4204fe9cb1a002ec6140b47f51affda1655379fe302a1caef421f9846/torch-0.1.2.post1.tar.gz
    Complete output from command python setup.py egg_info:
    Tra

[2019-02-26 17:20] nivha opened #17504 "Floating exception (core dumped) when dividing by tensor(0)"
## 🐛 Bug

Dividing by ```torch.tensor(0)``` results in core dumped (instead of some catchable exception)

## To Reproduce

[code]

## Expected behavior

Raise some Python Exception

## Environment
Collecting environment information...
PyTorch version: 1.0.0
Is debug build: No
CUDA used to build PyTorch: 9.0.176

OS: CentOS Linux 7 (Core)
GCC version: (GCC) 4.8.5 20150623 (Red Hat 4.8.5-36)
CMake v

[2019-02-26 18:24] varenick commented on #17448
@soumith It seems like for those modules, where inferring output shape is not trivial, formula for computing output shape is always given in documentation (I can be wrong, however). Hence a module-writer have to provide such a formula anyway. Given this, it shouldn't be much problem to implement `infer_output_shape`.

[2019-02-26 18:28] norahsakal commented on #15213
Hej! @mattmcclean I just tried it out, and it works with PyTorch 1.0.0
A trick to reduce the size of the packages (except for the excellent explanation by @bendidi) is to use the following in your `requirements.txt`;
[code]

This PyTorch Linux binary is without CUDA and is therefore, <100 MB

Visit; [dealing-with-lambdas-size-limitations](https://www.npmjs.com/package/serverless-python-requirement

[2019-02-26 18:31] ferrine commented on #17268
@soumith. Yes, I think that is even more generic and also solves my problem. Arrays wrap is not sufficient as I require some preparation stuff. Thus array ufunc is the way to go

[2019-02-26 18:50] gchanan opened #17506 "Get rid of special 'inplace' handling in Declarations.yaml and corresponding generated code"
## 🚀 Feature

We should get rid of special `inplace` handling in Declarations.yaml and corresponding generated code.

## Motivation

The `inplace` entry in Declarations.yaml is essentially a subset of our schema annotations, but the semantics aren't totally clear: does it mean "only the first parameter is an output and only the first parameter is modified?"  But we have examples that are not expre

[2019-02-26 19:04] pjh5 commented on #17479
I don't know the answer to this, but I suggest using new cmake 'targets' feature, more like

[code]
instead of messing with TORCH_INCLUDE_DIRS and TORCH_LIBRARIES themselves.

[2019-02-26 19:13] hengyuan-hu commented on #17479
The solution is to `import torch `before `import a`.

[2019-02-26 19:13] #17479 closed

[2019-02-26 19:18] stihl1210 commented on #5560
Same problem, i checked input/output, type of data. Very strange because I have changed only architecture a bit and then this this error was shown.

I have found that I didn't added Sigmoid at the end. After adding - everything looks good.

[2019-02-26 20:21] danFromTelAviv commented on #958
I tried volotile - didn't work ( later I figured out it's because I am in pytroch 1.01 and "UserWarning: volatile was removed and now has no effect. Use `with torch.no_grad():` instead.")
But a simple restart also fixed things for me....

[2019-02-26 21:30] ferrine commented on #14455
Any suggestions from pytorch devs maybe? I'm really stuck what to do with this code

[2019-02-26 21:43] t-vi commented on #14455
If you need it fast, you might consider wrapping it in C++ and using a custom op. It is something I'd latently want to fix and would expect not to be too hard, but I don't really know when I would get to it.

[2019-02-26 21:43] adutchnano opened #17514 "Makefile:140: recipe for target 'all' failed"
## 🐛 Bug
Possible repeat of issue #17326 (which was closed without an answer)

When building pytorch from source using python setup.py install I got the following error:
[ 71%] Building CXX object caffe2/CMakeFiles/caffe2.dir/transforms/single_op_transform.cc.o
[ 71%] Linking CXX shared library ../lib/libcaffe2.so
[ 71%] Built target caffe2
Makefile:140: recipe for target 'all' failed
make: *** [a

[2019-02-26 22:01] mattmcclean commented on #15213
Thanks @norahsakal & @bendidi. Got it working 😄 Created a Lambda layer with the zipped **.requirements.zip**  file (with PyTorch + associated libs) and **unzip_requirements.p**y file so can be reused by other Lambda functions.

Now super easy as I only need the ` import unzip_requirements` statement at the beginning of the file

[2019-02-26 22:07] soumith commented on #15213
@bendidi I'm curious about this line:

Doesn't that add a lot of overhead, if it's for each user side request?

[2019-02-26 22:23] bendidi commented on #15213
@soumith usually when the lambda is "hot" it will be called just one time per batch-of-requests (as the zip file will stay in /tmp/ and can be reused by subsequent calls), so it is generally just downloaded for the first few parallel calls and reused for subsequent calls when the first ones finish.

Another thing is I try to keep the deps package as small as possible normally (30Mb in my case) and

[2019-02-26 22:24] mattmcclean commented on #15213
@soumith no you don't need to do this. I modified mine to bundle a zip inside another zip to get around the 250 MB problem so there is no need to download packages when the Lambda execution context is created. All it needs to do is unzip an 80 MB zip file contained in the Lambda layer using the **unzip_requirements.py** script. As long as you do this at the beginning of the script and not in the l

[2019-02-26 22:24] #9687 closed

[2019-02-26 22:47] norahsakal commented on #15213
I'm glad the solution I suggested worked out for you 🙌

[2019-02-26 23:04] bethebunny opened #17519 "[JIT][caffe2][ONNX] ONNX export fails to export aten::sort"
## 🐛 Bug

Calling `torch.onnx.export` on a module that contains a `torch.sort` operation fails with the following error:

[code]

## To Reproduce

[code]

## Expected behavior

Since sort exists as an aten operator, ONNX should be able to export it without failures. The expected behavior is that an onnx model containing a sort operation is saved to the tempfile.

## Environment

[code]

[2019-02-26 23:23] soumith commented on #17448
@varenick no, it's not often given in the documentation. Whatever limited form is given, doesn't actually cover all cases. Also, a lot of user-written layers simply dont have documentation as well.

[2019-02-26 23:30] soumith commented on #2231
@BilalSaeedLM10 please follow instructions at https://pytorch.org to install pytorch on windows correctly.

[2019-02-26 23:31] soumith commented on #17504
we have no immediate or non-immediate plans to fix this.

This is because it's integer divide by zero, and the fix is to audit all of our numerical code and insert a branching (including SIMD code i think).

You can switch to floating point types via:

[code]

[2019-02-26 23:31] #17504 closed

[2019-02-26 23:32] gchanan opened #17520 "Accept 0-dimensional tensors with t()"
## 🚀 Feature

https://github.com/pytorch/pytorch/pull/17462 made the nice improvement of accepting 1-dimensional tensors with the `t` function.  But there's no reason the same couldn't be done for 0-dimensional tensors, as numpy supports it as well:

[code]

[2019-02-27 00:18] dylanbespalko commented on #17268
@ferrine

I tried to add a __tensor_wrap__ method similar to __array_wrap__ but I came to the same conclusion that __array_ufunc__ (__tensor_ufunc__) was the correct solution. This would allow you to call both pytorch and numpy functions while preserving the python subclass of torch.Tensor.

As for **implicitly** converting from a generic python object to a tensor, there is no way to ensure that y

[2019-02-27 00:46] kostmo opened #17525 "cmake fails with -DBUILD_PYTHON=OFF -DUSE_NNPACK=OFF"
This fails:

    cmake -DBUILD_PYTHON=OFF -DUSE_NNPACK=OFF ..

with an error message like this:
[code]

However, both of the options, when turned off independently, succeed:

    cmake -DBUILD_PYTHON=OFF ..

and

    cmake -DUSE_NNPACK=OFF ..

[2019-02-27 01:26] bhushan23 commented on #17520
sounds good.
@gchanan just to clear, 0-d tensor support only for dense tensors, right?
We don't (can't) have 0-d for sparse.

[2019-02-27 01:37] daiwei89 opened #17531 "JIT graph to ONNX Loop cond variable should be tensor(bool)"
## 🐛 Bug

ONNX Loop produced by `ScriptModule` and `onnx._export` does not conform to ONNX loop spec: The second input to ONNX loop--the conditional variable `cond`--should be `tensor(bool)`, but I got `tensor(int64)`.

## To Reproduce

Run the following script (environment details below):

[code]

produces the following ONNX program:

[code]

`%1` is tensor of type `TensorProto.INT64` (see the pr

[2019-02-27 01:46] jamesr66a commented on #17531
This seems to be a problem in ONNX conversion itself, script is emitting the correct type for the condition:

[code]

[code]

@houseroad can you take a look?

[2019-02-27 01:48] houseroad commented on #17531
Sure, I put it to my list.

[2019-02-27 01:48] ngimel opened #17532 "[jit] scripting of functions with TensorList arguments produces DifferentiableGraphs, even when list elements don't require grad"
## 🐛 Bug

Steps to reproduce the behavior:
[code]
outputs
[code]
Note DifferentialeGraphs for all unrolled loop iterations. This happens because `requires_grad` for TensorList calls into `TensorType`'s requires_grad that's hardcoded to `true`
https://github.com/pytorch/pytorch/blob/348d1889ffb4631d07317d149e9f1f21924e4c19/aten/src/ATen/core/jit_type.h#L195
https://github.com/pytorch/pytorch/blob/3

[2019-02-27 02:32] charles-bu commented on #9536
I meet the same issue of that.

when I checked the
torch.cuda.is_available()
True

however, if I set the
a =torch.Tensor([1]).cuda()

  File "C:\Users\puqia\Anaconda3\lib\site-packages\torch\cuda\__init__.py", line 162, in _lazy_init
    torch._C._cuda_init()

RuntimeError: cuda runtime error (30) : unknown error at ..\aten\src\THC\THCGeneral.cpp:87

my systems is WIN10,
pytorch is 1.0

cuda is 10

[2019-02-27 02:35] daiwei89 opened #17534 "Unused argument causes error in JIT graph to ONNX conversion"
## 🐛 Bug

When a function takes in an unused variable, JIT graph is created but conversion to ONNX fails.

## To Reproduce

Run this script (notice that the only difference between `SimpleModel1` and `SimpleModel2` is whether `dim` is used):

[code]

produces errors (snippet):

[code]

## Environment

PyTorch version: 1.0.1.post2
Is debug build: No
CUDA used to build PyTorch: None

OS: Mac OSX 10.

[2019-02-27 02:47] dylanbespalko commented on #17249
HI there,

I found another numpy doc (https://docs.scipy.org/doc/numpy/reference/arrays.classes.html) that discusses situations in numpy where **__array_ufunc__** does not work.

There are some numpy functions that **do not** support **__array_ufunc__** because:

We intend to re-implement numpy functions as (generalized) Ufunc, in which case it will become possible for them to be overridden by the

[2019-02-27 03:03] Dev2022 commented on #15797
Please let us know in detail...how you have solved. Thanks :)

[2019-02-27 03:04] austinvhuang commented on #17368
For context, we're transitioning away from building (an older) aten from scratch as part of our build towards piggybacking on the pre-built libtorch binaries.

I'm not sure a single PR would solve this since the hash in the repo would need to continually be updated. The underlying goal would be to have a handle on correspondence between the libtorch zip deployment artifact and git hash.

The ideal

[2019-02-27 03:53] ImMrMa commented on #5560
yeah!,add the sigmoid solve the problem.

[2019-02-27 04:38] #17489 closed

[2019-02-27 04:48] slaweks17 commented on #17489
Hi,
Yes. With #17494 I can build without set BUILD_TEST=OFF

Thanks!

[2019-02-27 05:47] imkzh commented on #2567
Don't know what caused this, but it seems that `nvidia-smi -r` may help (this command will reset all your CUDA devices).

[2019-02-27 06:30] Multihuntr commented on #15054
Just wanted to share a little benchmarking I did, for those that follow.

[code]
Using pytorch `v1.0.1` in a docker image, in docker using something approximating:
[code]

[2019-02-27 06:33] qaohv commented on #17349
@tkianai , which NCCL version do you use? I have similar problem with NCCL 2.4.2.

[2019-02-27 06:44] sidazhang opened #17537 "Cannot initial from_blob from std::vector.data()"
## 🐛 Bug

## To Reproduce

[code]

I end up getting giberrish tensor returned from this function. Once the function returns to Python
[code]

[2019-02-27 06:57] drnikolaev opened #17538 "ONNX->TensorRT parser library duplicated"
## 🐛 Bug

When built with TensorRT (i.e. `USE_TENSORRT=1` is set), PyTorch now includes two versions of the parser library: the original one https://github.com/onnx/onnx-tensorrt included as a submodule and linked as `libnvonnxparser.so` and `libnvonnxparser_runtime.so` binaries. And it's second incarnation coming with TensorRT 5. This creates lots of run-time issues. Also, they both bring their o

[2019-02-27 07:36] neerajprad commented on #9521
I think this should be closed now.

[2019-02-27 07:48] tkianai commented on #17349
@qaohv The same as you, 2.4.2! Besides, pytorch 1.0.0 with cuda9.0 or cuda9.2 has the same error!

[2019-02-27 07:51] Noirai commented on #11213
Same problem here, macOS 10.13 / CUDA 10. I have compiled open-mpi with cuda support from source (4.0.0) but the error still occurred.

[2019-02-27 08:38] qaohv commented on #17349
@tkianai , How did you add nccl 2.4.2 :  your copied libnccl files to /usr/local/cuda/lib folder or rebuilded pytorch from source with NCCL 2.4.2 ?

[2019-02-27 08:49] tkianai commented on #17349
Following the installation guides from here: https://developer.nvidia.com/nccl/nccl-download. In addition, distributed training with single node, multi-gpus works fine.

[2019-02-27 09:03] Arctanxy commented on #15209
Did you find the reason?

[2019-02-27 09:09] engineer1109 opened #17541 "Can not import torch on Python3 Ubuntu18.04"
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python3.6/dist-packages/torch/__init__.py", line 97, in <module>
    from torch._C import *
ImportError: /usr/local/lib/python3.6/dist-packages/torch/lib/libtorch.so.1: undefined symbol: _ZN10onnx_torch30_TensorProto_default_instance_E

[code]

[2019-02-27 09:58] geduo15 commented on #13273
I met the error when using the torch.nn.Adaptive Log SoftmaxWithLoss in our model, but when I change torch.nn.parallel.DistributedDataParallel into apex ,the torch.nn.Adaptive Log SoftmaxWithLoss still doesn't work(torch.nn.Adaptive Log SoftmaxWithLoss needs part of  parameters be updated but not all parameters). My runtime environment: python3.6, cudnn 9, 8 GPUs

[2019-02-27 10:54] loopdigga98 opened #17542 "C++ frontend error while saving tensor."
Hello, I'm trying to save tensor in c++ frontend.
My torchlib version is ```1.0.0.dev20190225```

My c++ code based on doc ```https://pytorch.org/cppdocs/api/function_namespacetorch_1a99dc9f736064b2179cc58e6436f7a021.html```:

[code]

After build i've get an error:
[code]
Does this method exists?
I get the same error using ```torch::load()``` that ```error: ‘load’ is not a member of ‘torch’```

An

[2019-02-27 13:05] jack1yang commented on #10234
thks

[2019-02-27 13:09] denfromufa commented on #4224
There is something even betta that you can do with this search filter:

https://anaconda.org/search?q=platform%3Alinux-ppc64le+pytorch

[2019-02-27 13:54] tohinz opened #17543 "cuDNN error: CUDNN_STATUS_EXECUTION_FAILED when calling .cuda() on RNN layer"
## 🐛 Bug

I get "RuntimeError: cuDNN error: CUDNN_STATUS_EXECUTION_FAILED" when trying to move a RNN layer to the GPU by calling ".cuda()".

## To Reproduce

Code:
[code]

Gives me the error:

If I call
`rnn.cuda()`
a second time (without restarting the python kernel) it works without any errors:
`LSTM(10, 10)`
But it always fails with the above stack trace when I try it the first time.

The same

[2019-02-27 14:15] t-vi commented on #17537
This is documented behaviour:
https://pytorch.org/cppdocs/api/function_namespacetorch_1aff6f8e6185457b2b67a1a9f292effe6b.html?#_CPPv4N5torch9from_blobEPvN2at11IntArrayRefERKN2at13TensorOptionsE

I'm not an expert, but I take that [it's not possible to acquire the data ownership from a vector](https://stackoverflow.com/questions/22576858/is-there-a-way-to-move-data-from-a-vector-to-a-dynamic-array)

[2019-02-27 14:37] MarcinMisiurewicz commented on #2341
1. Wrap the code in `if __name__ == '__main__':`
but for me, nonetheless, the error sometimes appears again. I know it sounds silly, but what helps me is just
2. rebooting the computer.
Windows 10 here

[2019-02-27 15:28] sidazhang commented on #17537
Question 1:

Is the only solution to do a .clone()

Question 2:

Is there a way to build push_back to a tensor, just like a vector
[code]

For example
[code]

[2019-02-27 15:32] #9521 closed

[2019-02-27 15:59] t-vi commented on #17537
1. Yes.
2. No. If you know the (maximal) size, get an empty tensor. What vector does internally is to realloc and copy as needed, so you could do that if you have to.

Am 27. Februar 2019 16:29:02 MEZ schrieb sidazhang <notifications@github.com>:

[2019-02-27 16:04] t-vi commented on #17537
If you absolutey wanted some fancy thing, you could allocate an object (with "new") that takes the container and uses dlpack with a deleter to free itself. Then you can unpack the dlpack into a Tensor because the dlpack-created Tensor takes ownership of the memory. That said, `.clone` surely is the right solution except very special cases.

[2019-02-27 16:45] soumith commented on #17543
CUDA 9 and RTX 2080 Ti simply aren't compatible and dont play well togethere.
An older CuDNN version working is likely a side-effect rather than expectation.
Use CUDA10 and CUDA10 versions of CuDNN etc. for RTX 2080 which is Turing architecture

[2019-02-27 16:45] #17543 closed

[2019-02-27 17:42] tommy-qichang commented on #4485
I think I face the same issues here. I would say I was shocked that with the same model, same parameters, same input, but just because different GPU number or batch size, I get a different result.
Is that true that when evaluation, we should use as the same GPU number or as same batch size as the training batch?
I know it's expected but is there any way to prevent this inconsistency?
@soumith

[2019-02-27 17:58] jcal13 commented on #17542
I think you just need #include <torch/torch.h>
Then save and load should work.

[2019-02-27 18:14] gchanan commented on #17520
@bhushan23 you can do 0-d for sparse:

[code]

[2019-02-27 18:14] msarahan opened #17546 "Moving pytorch to anaconda.org CDN"
Greetings from the Anaconda team.  In an effort to reduce the load on our anaconda.org servers, we'd like to shift your channel over to our CDN.  Here are the implications:

1. Only the "main" label would be on the CDN.
2. Packages on the CDN will have a delay in availability from when they are uploaded, and when the next mirroring/indexing operation happens.  We would try for scheduling those eve

[2019-02-27 18:17] pjh5 commented on #17368
Fwiwi t's not much work at all. When we built the linux wheel and libtorch packages we unzip them, mess around with them, and then rezip them back up. If you just want a txt file called build_hash or something like that you could just add that file before the wheel gets zipped up here https://github.com/pytorch/builder/blob/master/manywheel/build_common.sh#L300 . A line like
[code]
would probably

[2019-02-27 18:20] birdmw opened #17547 "nn.MSELoss which computes the mean-squared error between the input and the target ??"
https://pytorch.org/tutorials/beginner/blitz/neural_networks_tutorial.html

You say "There are several different loss functions under the nn package . A simple loss is: nn.MSELoss which computes the mean-squared error between the input and the target."

don't you mean "between the OUTPUT and the target"

[2019-02-27 18:30] #17537 closed

[2019-02-27 19:09] soumith commented on #17547
it's the input to the loss. it's the output of the network.

[2019-02-27 19:09] #17547 closed

[2019-02-27 19:12] soumith commented on #17546
Hi Mike,

This sounds great. All 5 points look good, and (5) seems like a godsend :)

This is completely okay with our community.

Thanks!

[2019-02-27 19:12] #17546 closed

[2019-02-27 19:16] soumith commented on #17541
you have an old version of pytorch that is being loaded first. try cleaning up all other versions of pytorch or caffe2.

[2019-02-27 19:16] #17541 closed

[2019-02-27 19:23] soumith commented on #17514
can you please give a full log?
The partial log doesn't tell us enough.

First `git clean -xfd` in the pytorch directory, and then do `python setup.py install 2>&1 | tee build.log`. Then put build.log into https://gist.github.com/ and give a link to the gist here.

[2019-02-27 19:32] soumith commented on #17493
You are supposed to use `CUDAStreamGuard`.

See: https://github.com/pytorch/pytorch/blob/792cb774f152bab5b968f4ec51da0fc21ff9e895/torch/lib/c10d/ProcessGroupNCCL.cpp#L559-L560

Your own cudaStream_t object might not be a thing we support, the references to CUDAStreamGuard are indices into our internal streampool and are objects of type `c10::cuda::CUDAStream`. You can get a stream from our stream-

[2019-02-27 19:34] soumith commented on #17501
the backward pass of an unfold will involved a lot of atomicAdd CUDA instructions in the unfolded dimension. That is what slows down the backward a lot.

[2019-02-27 19:38] ArutyunovG commented on #15630
Compilation works with CUDA 10.1, so we are finally able to fully support RTX on Windows!
Congrats :)

[2019-02-27 19:41] ArutyunovG commented on #15630
Well, at least I hope so, let's see how it goes

[2019-02-27 19:45] kostmo commented on #17368
FYI @pjh5 here's a more compact `git` command for that:

    git rev-parse HEAD

[2019-02-27 20:08] janden opened #17553 "torch.Tensor.cpu talks about the object being "on the correct device""
## 📚 Documentation

Specifically, the entry https://pytorch.org/docs/stable/tensors.html#torch.Tensor.cpu says that no copy is made if "this object is already in CPU memory and on the correct device". For CPU tensors, there should be one device, so the last part doesn't make sense.

cc @brianjo @mruberry

[2019-02-27 20:16] soulslicer commented on #17493
Thanks for the response. So it looks like I would have to instantiate my own at::cuda::CUDAStream() object and then set it with `at::cuda::CUDAStreamGuard guard(ncclStream);`

I have two questions on this:

**1.**
How do I actually instantiate a `at::cuda::CUDAStream` object? I assume it's through the `at::cuda::getStreamFromPool()` function, which adds a new stream, or takes from an existing? How

[2019-02-27 20:44] sidazhang opened #17554 "Add ASSERT for calling accessor on a GPU tensor"
## 🚀 Feature
Right now it just segfaults.

At an error message so that it is easier to debug.

[2019-02-27 20:55] jzenn commented on #17514
I still got the same issue. The build.log is here: https://gist.github.com/jzenn/a97fd71775d7e572899ef7987e329d5d

[2019-02-27 21:17] jhultman opened #17556 "Docs for torch.nonzero do not mention if returned indices are sorted row-major"
## 📚 Documentation

Hi. Thanks for the great library. I have a short example below detailing my question. I couldn't find any info about this in the docs or on the pytorch forums.

[code]

I was just wondering if this behavior is guaranteed by the API? I would like to depend on the lexicographic ordering in my application without paying for an additional sort. Numpy's documentation for the corresp

[2019-02-27 21:20] shrubb commented on #16257
@apaszke Just bumped into this too. Reproducing: take nvcc from CUDA 8 and try to compile one line: `#include <torch/extension.h>`. Goes away with CUDA 9.2 or 10.

[2019-02-27 22:24] yf225 commented on #13638
## Semantics for new Variable design

1. All tensors are Variables. `tensor.is_variable()` and `options.is_variable()` are redundant and should be removed.
2. When we need to decide whether to dispatch to gradient-recording vs. non-gradient-recording operators, we do the following:
    1. For `getType(TensorImpl)`, we check `autograd_meta() && GradMode::is_enabled()` to decide whether to choose Va

[2019-02-27 22:45] mruberry commented on #17538
@kevinch-nv

[2019-02-27 22:59] #15568 closed

[2019-02-27 23:41] bhushan23 commented on #17520
thanks @gchanan .
Handling sparse tensors too.

[2019-02-27 23:43] ezyang commented on #17249
cc @zou3519 I think a mechanism like this would be very helpful for the named tensor prototype. Can you try and think if this would help?

[2019-02-27 23:43] ezyang commented on #17268
Yes I agree, ufunc seems necessary here.

[2019-02-27 23:52] OmarMeriwani commented on #9071
Downgrade sqlite3 in Anaconda is the solution, as it was the last version I couldn't upgrade it, and no option for install or uninstall is available. after the downgrade it worked fine

[2019-02-28 00:20] akurniawan opened #17558 "Optional parameters for Tuple"
## 🐛 Bug

The following script doesn't work
[code]
But this works
[code]

I'm using `torch.jit._unwrap_optional` because the [implicit optional unwrapper](https://github.com/pytorch/pytorch/pull/15587) not working

Or this feature is not ready to be used yet?

## To Reproduce

Steps to reproduce the behavior:

1. Run the script above is enough to reproduce

## Expected behavior

Running `b` with p

[2019-02-28 01:28] xuancong84 opened #17560 "Please test and add the AdaBound optimizer into the next stable release"
Now we have another powerful general purpose optimizer called AdaBound that trains as fast as Adam and as good as SGD, see [https://github.com/Luolc/AdaBound](https://github.com/Luolc/AdaBound).

It appears to work better than Adam in several tasks including NLP and CV, with slightly higher accuracy and smoothier learning curve.

![image](https://user-images.githubusercontent.com/10172392/53534724

[2019-02-28 01:56] vishwakftw commented on #17560
New implementations such as these can go into pytorch/contrib initially.

[2019-02-28 02:19] peterjc123 commented on #15630
@ArutyunovG  Are there any limitations on `_MSC_VER` in `CUDA_PATH/include/crt/host_defines.h` in CUDA 10.1 anymore?

[2019-02-28 02:22] smessmer commented on #17332
fixed by https://github.com/pytorch/pytorch/pull/17562

[2019-02-28 03:09] dileepmatha commented on #4518
I am also getting the error
` import torch                                                                                                          File "C:\Users\dilee\Anaconda3\lib\site-packages\torch\__init__.py", line 76, in <module>                                 from torch._C import *                                                                                              ImportError: D

[2019-02-28 03:16] vishwakftw commented on #17542
@jcal13 is right, please add `#include <torch/torch.h>` as well.

[2019-02-28 03:16] #17542 closed

[2019-02-28 04:23] dileepmatha commented on #1633
Hey , I am getting the same error even after installing cython. in jupyter notebook

[2019-02-28 04:36] slaweks17 opened #17566 "Cannot run multiple backward() in parallel, cpu execution is serialized"
## 🐛 Bug
Hi,
I am running an OMP loop in a libtorch program (Windows 10).
[code]
So, separate nets, trainers  prepared earlier. All other objects are locally created within the loop.
Things go as expected, i.e. multithreaded, until I hit
totalLoss_t.backward();
where things appear serialized (on 12 core machine 8% CPU). totalLoss_t is also a local object.
Once the call is done, the threads appear

[2019-02-28 04:40] dileepmatha commented on #4518
resolved

[2019-02-28 04:51] peterjc123 commented on #17566
Could you please step into this line and give the stack trace?

[2019-02-28 05:16] slaweks17 commented on #17566
Hi,
Thank you. Here you are:
[code]
And another, random break:
[code]

[2019-02-28 05:37] junjihashimoto commented on #17368
Are these all?

[code]

[2019-02-28 05:43] #17483 closed

[2019-02-28 06:22] vishwakftw commented on #16756
Is the issue resolved?

[2019-02-28 06:37] junjihashimoto commented on #17368
If these are corrent, see the PR.

[2019-02-28 07:40] ArutyunovG commented on #15630
@peterjc123

This are the host compiler limitations now in CUDA 10.1.

[code]

By the way, I used recent cudnn 7.5 and compilation runs.
As for testing, it is too early to state anything yet.

[2019-02-28 07:44] peterjc123 commented on #15630
Wow! 1920 = VS 2019, then it will support all VS versions before the next generation of VS.

[2019-02-28 07:58] hufengshuo07 commented on #17326
@vaibhav0195 Excuse me, where can i get v1.0.0?

[2019-02-28 08:29] vargonis opened #17568 "GPU memory leak on Pytorch 1.0?"
## 🐛 Bug

When training a CNN, after a while either the process gets killed or the system hangs. The net is defined as follows:

    model = torch.nn.Sequential(
        torch.nn.Conv2d(3, 8, (3,3)),
        torch.nn.ReLU(),
        torch.nn.Conv2d(8, 8, (3,3)),
        torch.nn.ReLU(),
        torch.nn.MaxPool2d((2,2)),
        torch.nn.Conv2d(8, 16, (3,3)),
        torch.nn.ReLU(),
        torch

[2019-02-28 08:51] richardyy1188 opened #17569 "Is it possible to integrate jax into pytorch ?"
# What is jax (just in case for other reader)
[jax](https://github.com/google/jax) is full numpy acceleration and autodiff with functional neural networks, and is essentially autograd 2.0. (from [Italian Association for Machine Learning)](https://iaml.it/blog/jax-intro-english)

# Feature Request
Is it possible to incorporate jax into implementation of Pytorch? It looks so promising to speed up ma

[2019-02-28 08:57] Coolnesss commented on #17501
Hey @soumith, thanks for your reply.

I notice that on GPU the backward pass runs fast but runs out of memory quickly. Do you have any tips on how to check what exactly is being allocated during the backward pass? `nvprof` hangs indefinitely if I run it with `--track-memory-allocations on`.

[2019-02-28 10:28] SongFGH commented on #4518
How do you solved it?

[2019-02-28 10:51] rami3e opened #17571 "[jit] Support for modules that have hooks when compiling"
## 🚀 Feature

Currently forward or backward hooks (i.e concatenation of features in UNET) are not supported in jit tracing.

Run into this error when attempting: `ValueError: Modules that have hooks assigned can't be compiled`

source: torch.jit.TracedModule(ScriptModule)

[2019-02-28 10:53] tohinz commented on #17543
Thanks, building and using PyTorch with Cuda 10 solved the issue.

[2019-02-28 10:57] vaibhav0195 commented on #17326
you can find it using git tags
and then doing git checkout v1.0.0

[2019-02-28 11:04] loopdigga98 commented on #17542
And I also have a question. Is it possible to save tensor in python frontend and load it in c++ frontend?
Thank you.

[2019-02-28 11:55] vishwakftw commented on #17542
This is a related issue: https://github.com/pytorch/pytorch/issues/16367.

[2019-02-28 12:18] Morpheus3000 opened #17572 "Pytorch 1 build from source fails with cudnn error"
I am trying to install pytorch 1 from source on a server where I do not have sudo access. I have installed Anaconda and the required packages as instructed on the getting started page on the pytorch website. But it fails when compiling some caffe2 stuff. I can't seem to find what the error exactly is. At first I thought that it was because of cudnn, because I would see output like this:

But the C

[2019-02-28 12:51] mfuntowicz commented on #10459
FYI, CuDNN 7.5 brings some dedicated APIs for Multi-Head Attentions as commonly used in Transformer-based layers.

I would be very interesting to provide, if not a Transformer Layer, a Multihead Attention mechanism leveraging such APIs on GPU.

CuDNN ref : https://docs.nvidia.com/deeplearning/sdk/cudnn-release-notes/rel_750.html#rel_750

[2019-02-28 13:21] Adhders opened #17573 "pytorch/third_party/ideep/mkl-dnn/external/mklml_lnx_2019.0.1.20180928/lib/libmklml_intel.so: file not recognized: File truncated"
my system config is linux 18.04 ,python 3.6 ,cudn 10.0
Building wheel torch-1.1.0a0+6706e9a
-- Building version 1.1.0a0+6706e9a
make: *** No rule to make target 'install'.  Stop.
Traceback (most recent call last):
  File "setup.py", line 710, in <module>
    build_deps()
  File "setup.py", line 282, in build_deps
    build_dir='build')
  File "/u01/package/pytorch/tools/build_pytorch_libs.py", lin

[2019-02-28 13:28] drohde commented on #5354
This looks helpful: https://www.pugetsystems.com/labs/hpc/PyTorch-for-Scientific-Computing---Quantum-Mechanics-Example-Part-3-Code-Optimizations---Batched-Matrix-Operations-Cholesky-Decomposition-and-Inverse-1225/

[2019-02-28 14:44] zou3519 commented on #17569
What are some examples of things that jax enables you to do that you cannot easily do today with PyTorch?

[2019-02-28 15:01] zou3519 opened #17574 "torch.broadcast_tensors not rendering correctly"
## 📚 Documentation

https://pytorch.org/docs/master/torch.html#torch.broadcast_tensors
![image](https://user-images.githubusercontent.com/5652049/53575547-ca07d480-3b3f-11e9-909d-7eed4e667c07.png)

`_broadcasting-semantics` should be a link to our broadcasting semantics page, but it is not rendered correctly.

[2019-02-28 15:02] zou3519 opened #17575 "[ci] Docs build should fail if there are warnings"
This would have caught https://github.com/pytorch/pytorch/issues/17574

cc @malfet @seemethere @walterddr @brianjo @mruberry

[2019-02-28 15:45] gchanan opened #17577 "NLLLoss reduce default is wrong"
## 📚 Documentation

There are 3 parameters documented that all try to solve the same problem: `size_average`, `reduce`, `reduction`.  It's fine to document legacy behavior, but IMO it should be done after the non-legacy behavior has been explained concisely.

Also, some of the documentation is just wrong.  For example:
`If reduce is True (default)`

but the default of `reduce` is `None`.

Also:
`

[2019-02-28 15:48] zou3519 commented on #17249
Yes, I think this mechanism would be great for that. I'll try to work it out and see

[2019-02-28 16:01] Ricocotam commented on #17568
Did you indentify if the process was killed because of any issue ? Segmentation Fault ? Not enough memory ?

Did it make your computer crash or just the process ? What's your batch size and the memory of your GPU ?

When using optimizers, especially ones like Adam, you have to store a lot of things into the GPU. Some memory leaks always happen. You could use `torch.cuda.empty_cache()` but it will

[2019-02-28 16:52] vargonis commented on #17568
I had never seen a python script quitting with just a "Killed", I
googled it and found nothing, so I could not figure out the reason.
Sometimes my script ended like that, some other times made the system
hang badly, I had to hard-reset it.

Batch size is just 2, GPU has 4 gigas.

So, for the time being I could issue an empty_cache() after each batch,
and/or change optimizer. But would it be possib

[2019-02-28 17:29] Ricocotam commented on #17568
I don't think it's a GPU crash, you usually get a CuDNN error or a Segmentation Fault.

We need more details : how many epoch/batch until it crashes, did you try with bigger/smaller networks ? How does it affect the speed it crashes ?

[2019-02-28 18:33] SsnL opened #17583 "jit.trace with tensor reference that requires grad"
## 🐛 Bug

This used to work, until https://github.com/pytorch/pytorch/commit/1aa90192eae306e4375c68f12f46eb329042e07d. Even if this isn't supported anymore, it shouldn't trigger an `AT_ASSERT`. And I think this should be supported.

cc @yf225 .

[code]

[2019-02-28 18:40] wanchaol commented on #17327
closing this as it get resolved in the original post

[2019-02-28 18:40] #17327 closed

[2019-02-28 18:42] iamtrask opened #17584 "Possibly strange half precision rounding (rounds to ~nearest 2**4)"
## 🐛 Bug

When I store large numbers in half (near the boundary of what half can store) I get some >1 rounding behavior.

## To Reproduce
[code]
[code]
Steps to reproduce the behavior:

1. run code above on latest pytorch branch released to pip
## Expected behavior

Perhaps it would be better if it didn't ever round to numbers more than 1 away? (might require adjusting the mantissa)

## Environmen

[2019-02-28 18:44] iamtrask commented on #17584
(it's possible this is by design - but it still seems like strange default behavior)

[2019-02-28 18:46] iamtrask commented on #17584
Note that there is this rounding phenomena until I reduce the number size to 2**11 or smaller
[code]

at which point things seem to be normal

[code]

[2019-02-28 19:04] ja3067 commented on #16897
@LeviViana I just ran into this lack of functionality, and I'd be happy to help with the CUDA implementation or the bindings. Is there anything that remains to be done?

[2019-02-28 19:13] #17584 closed

[2019-02-28 19:15] fritzo commented on #16756
I guess we could move [TransformModule](https://github.com/pyro-ppl/pyro/blob/0.3.1/pyro/distributions/torch_transform.py) into torch/distributions/transforms.py, but other than that I think we can close this issue.

[2019-02-28 19:20] vargonis commented on #17568
I'll do some experiments and get back to you, but right now I'm trying
another approach with Tensor Comprehensions which forced me to
completely change my python environment, so it might take a while...

On Thu, Feb 28, 2019 at 6:30 PM, Adrien Pouyet
<notifications@github.com> wrote:

[2019-02-28 19:33] LeviViana commented on #16897
@ja3067 Thanks for proposing your help. Yes, your help is very welcome. I don't have anything running properly on CUDA for the moment. So, what do you think of developing this functionality on [this repo](https://github.com/LeviViana/torch_sampling)?

Only the uniform distribution supported for the moment. But sure, it would be nice to feed the distribution to the function, just as `numpy.random.c

[2019-02-28 19:43] driazati commented on #17558
`b((1, 2))` works for me on master, but `b()` produces this error, so there's a bug somewhere
[code]

[2019-02-28 19:45] suo commented on #15319
This should be fixed in both the traced version (since we properly trace the constructor now
#16779) and scripted version (since we now support LSTM in TorchScript #15744). Closing.

[2019-02-28 21:09] #17112 closed

[2019-02-28 21:46] phohenecker commented on #14888
I'm still getting exactly the same error for the current nightly build (1.0.0.dev20190228):
[code]

[2019-02-28 22:34] #17368 closed

[2019-02-28 22:48] davidirobinson commented on #16551
I had the same issue where introducing TORCH_LIBRARIES are a dependency cases linking issues with other libraries. Building from source and adding
/absolute/path/to/pytorch/torch/lib/tmp_install to my CMAKE_PREFIX_PATH was the fix!

[2019-03-01 00:40] #17332 closed

[2019-03-01 01:48] USTClj commented on #11901
@CharlesJQuarra Hi, have you figured it out? I want to use 2-D Modulelist, can we do it like this:

In the __inin__() of a module class, I want to pack and register some conv layers like this:

[code]
then in the forward() method, I want to use the conv layers in the nested module list.
`preds_instack.append(self.outs[i][j](features_instack[j]))`

[2019-03-01 02:03] #16756 closed

[2019-03-01 02:41] soumith commented on #17415
cc: @kostmo @pjh5

[2019-03-01 02:55] soumith commented on #17181
please follow along here as to how we build libtorch: https://github.com/pytorch/builder/blob/master/manywheel/build_common.sh#L134

[2019-03-01 03:24] soumith commented on #15785
@magicwyzh you can build libtorch via commands here: https://github.com/pytorch/builder/blob/master/manywheel/build_common.sh#L134
You can build it in docker image: soumith:manylinux100, see https://github.com/pytorch/builder/tree/master/manywheel

[2019-03-01 03:26] soumith commented on #4320
@albanD what do you want this to be (if not nan), or do you want to keep it a nan?

[2019-03-01 04:25] yngtodd commented on #14727
Correct me if I am wrong, but that solution is not answering the original issue:

[code]

I was having the same issue when trying to run the minimal cpp frontend example here: https://pytorch.org/cppdocs/installing.html

I grabbed libtorch linked on the main pytorch site:
[code]

You are right, `libtorch` had neither `libmklml.dylib` nor `libiomp5.dylib` in `libtorch/lib`. However, copying those f

[2019-03-01 05:21] borisfom opened #17606 "ONNX exporter for slice operation isses onnx:Slice for dimensions that are not sliced, includiung batch dimension - which breaks TRT5"
## 🐛 Bug

Here, PyTorch ONNX exporter translates slice operation into a series of onnx:Slice() operation for all dimensions, including those not being sliced on:

    audio = z[:, :self.n_remaining_channels, :]
    z = z[:, self.n_remaining_channels:, :]
....
 %649 : Float(1, 8, 1376, 1) = onnx::Slice[axes=[0], ends=[9223372036854775807], starts=[0]](%1), scope: WaveGlow
  %650 : Float(1!, 4, 1376

[2019-03-01 06:27] peterjc123 opened #17609 "Deadlock when running dataloader tests for ChunkDataSet on Windows"
Sample build log:
https://ci.pytorch.org/jenkins/job/pytorch-builds/job/pytorch-win-ws2016-cuda9-cudnn7-py3-test2/24028/console

Known tests that will cause the deadlock are:
[code]

It needs further investigation.

[2019-03-01 09:10] richardyy1188 commented on #17569
Sorry I don't know much about Pytorch implementation, but I think JAX has some good features.
# 1. What JAX can do
(excerpts from [You don't know JAX](https://colinraffel.com/blog/you-don-t-know-jax.html) by Colin Raffel )
## 1.1.  jax.jit can dramatically speed-up your code
JAX provides a JIT (just-in-time) compiler which takes a standard Python/numpy function and compiles it to  via [XLA](https:

[2019-03-01 10:32] PiotrCzapla opened #17612 "The documentation to Module._version isn't visible."
## 📚 Documentation
The docs for [torch.nn.Module](https://pytorch.org/docs/stable/nn.html#torch.nn.Module) does not list  `_version` nor to the `_load_from_state_dict`. It should be listed to describe how to make a module backward compatible with its former weights.

[2019-03-01 11:42] albanD commented on #4320
This is the exact same thing as the norm: there is no gradient at when the output is `0` (all points are equal) and a tensor full of `0`s is a valid subgradient at that point.
There are the same pros and cons as for the norm case.
For consistency reason I think we should return a Tensor of `0`s.

[2019-03-01 12:34] kayuksel opened #17613 "Sharing/Transferring gradients from models across multiple GPU(s) in multiprocessing"
## 🚀 Feature

Currently, I am following the [hogwild] (http://pytorch.org/docs/master/notes/multiprocessing.html#hogwild 18) example to run the asynchronous training. The shared model within the example is in the CPU. The local model is on the GPU and has their own or shared optimizer. Each local model can update the shared model directly. I want to modify the current case to the synchronous versi

[2019-03-01 13:02] martinruenz opened #17614 "Document whether it is possible to train TorchScript modules"
## 📚 Documentation

I am interested in the following workflow, but my impression is that this use case is not supported (yet?):

1. Prototype a model in **Python**
2. Export model to **C++** via TorchScript (`torch.jit.trace`)
3. Train model in **C++**

Based on the documentation, it is unclear whether this workflow is supported or not. The very first sentence of https://pytorch.org/docs/master/ji

[2019-03-01 14:16] AntonioCarta opened #17615 "Long tensor to Float tensor slicing assignment fails"
## 🐛 Bug
Assigning a Long tensor to a Float tensor silently fails.

## To Reproduce
[code]
## Expected behavior
The tensor should be correctly copied or an error message should be raised.

## Environment
[code]

[2019-03-01 14:40] musikisomorphie commented on #16594
Hi @zou3519, @sidazhang, after running some experiments, I realize that the problem may not be contiguous. Actually, if you uncomment torch.cuda.synchronize( ) in the f2 function of @sidazhang 's code, then gemmSN_TN_kernel will not be called.  I am still not sure how difficult the problem is, but I guess I will spend some more time on it.

[2019-03-01 14:43] Yannick-S commented on #5354
Wow that article looks great. I personally need SVD/symdiag to work on batches. I havne't done much programming on GPU so don't know what is possible. Do you believe that it might make sense to use the QR algorithm using Givens Rotations by trying to copy the ideas from the post 'above this one'?
( i have about 1000 to 2000 matrices of size 3x3, they are symetric positive definite.)

[2019-03-01 15:26] Sudhakar17 commented on #9678
@zou3519 : Can you please explain how to remove BN and it should be mathematically correct? This stack overflow post directly gives b_new and w_new.

https://stackoverflow.com/questions/49536856/tensorflow-how-to-merge-batchnorm-into-convolution-for-faster-inference

[2019-03-01 16:02] dollysapra opened #17616 "[caffe2] segmentation fault- workspace.RunNet(model)"
I am new to GPU based training, I recently moved my code to a system with CUDA-10, my code which is working on CPU only mode is throwing segmentation faults at runtime on trying to run workspace.runnet(model) with GPU support.

I am using-  with core.DeviceOption(Caffe2_pb2.CUDA,0):  while building my model. no other change. Do i need to do something else?

Appreciate your help.

[2019-03-01 16:08] SsnL commented on #17612
It's not supposed to be publicly visible as they are implementation details.

[2019-03-01 16:08] jsmith8888 commented on #17108
I am getting the same error.

**My setup:**
* Nvidia GTX 1050Ti
* Windows 10 Pro
* Conda 4.6.7
* Python 3.7.1
* CUDA V10.0.130
* PyTorch 1.0.1

**My Jupyter Notebook Test:**

**torch.cuda.is_available()**
True

**torch.backends.cudnn.enabled**
True

**torch.cuda.current_device()**
---------------------------------------------------------------------------
RuntimeError

[2019-03-01 16:16] colesbury commented on #17615
It is correctly copied. Every element of `x` is between `0` and `1`, which rounds down to `0`. Copying a float tensor rounds towards zero, just like NumPy and `int(number)` in Python.

[2019-03-01 16:16] #17615 closed

[2019-03-01 16:17] colesbury commented on #17615
To see this, try scaling `x` by 10.

[code]

[2019-03-01 16:35] HapeMask opened #17617 "Windows Debug Build Failure"
## 🐛 Bug

Building on Windows (VS2017 MSVC 15.9.2, toolset version 14.11, CUDA 10, CUDNN 7.4.1) with the official builder and `set DEBUG=1` fails with linker errors. It also appears that GCC-style args are being passed to `cl.exe` if debug mode is on. Release builds in the same configuration w/the same environment succeed.

## To Reproduce

Steps to reproduce the behavior:

1. Get latest builder s

[2019-03-01 16:43] IB1387 commented on #14401
I'm currently writing my masters thesis and ran into a similar (the same?) error. I'm new to pytorch and I'm not sure if the error is on my part or in pytorch/CuDNN. I used integer Tensors so that pytorch would use the fast CuDNN implementation nan values for the gradients appear. If I change the type of the targets Tensor from int32 to long or something else the gradients are normal.

A minimal e

[2019-03-01 16:47] #17520 closed

[2019-03-01 17:29] peterjc123 commented on #17108
Looks like the callback was accidentally triggered here. https://github.com/pytorch/pytorch/blame/master/torch/cuda/__init__.py#L188. Usually it won't happen. Anyway, I'll try to add a protection clause here for Windows.

[2019-03-01 17:37] peterjc123 commented on #17617
Please apply this patch: https://github.com/pytorch/pytorch/pull/17201

[2019-03-01 18:30] soumith commented on #17612
@SsnL the docstrings pointed above seem like they're good notes to include?

[2019-03-01 18:33] SsnL commented on #17612
@soumith I think that we should keep those hidden, as end-users shouldn't really need these functionalities. And exposing them prevents us from changing its behavior/signature in future.

[2019-03-01 18:45] mrshenli commented on #12851
Hit test failure on `test_adadelta` too, but seems to be a different error.

[code]

[2019-03-01 18:45] soumith commented on #17612
@SsnL what if end-users want to write backward-compatible state dicts for their custom layers?

[2019-03-01 18:51] zeyuanchen23 commented on #3542
Hi! I am trying to build an image on Google Cloud with this [dockerfile](https://raw.githubusercontent.com/pytorch/pytorch/master/docker/pytorch/Dockerfile) and got the same error. Any help will be appreciated! Basically I typed

gcloud builds submit --tag  gcr.io/an_image_name

and got a fatal error:

Step 9/13 : RUN git submodule update --init
 ---> Running in 8c3312e41bdc
fatal: Not a git repos

[2019-03-01 18:56] SsnL commented on #17612
@soumith That's a reasonable use case. But if we are to expose these, I think we may need to improve `load_from_state_dict` a bit, e.g., using a better name like `load_local_state_dict`, use a copy of `metadata` dict so users can't modify the original one. Also, if `_version` becomes public, i.e., gets renamed to `version`, I think there is a good probability that it conflicts with some user code.

[2019-03-01 19:03] shane-carroll commented on #15319
Should this be fixed in the nightly, then? I'm getting the same issue with 1.0.0.dev20190301

[2019-03-01 19:05] suo commented on #15319
yep! the changes are in the nightly

[2019-03-01 19:11] shane-carroll commented on #15319
Hmm... am I doing something wrong? I run OP's example and I get the same error (although I wrap it in an `nn.Module` to avoid an error message like #17583). This is the environment:

[code]

[2019-03-01 19:15] Palmitoxico commented on #15755
It seems that the CAFFE2_WHITELIST flag is broken (I coudn't successfully link an executable even with all caffe2 source files listed on my whitelist file). However I've found a workaround: just strip the final executable.

I've tested with the Android NDK 16b, and calling ```arm-linux-androideabi-strip``` reduced the final binary from 480MiB to just 8MiB and everything worked as expected.

[2019-03-01 19:17] loretoparisi opened #17621 "Why torch wheel is so huge (582MB)?"
## 🚀 Feature

Please reduce the size of the Pytorch installation wheel.

torch-gpu (~583MB)

[code]
## Motivation
The current installation wheel (GPU) is huge (582.5MB) compared to other frameworks:

Tensorflow-gpu (~350MB)

Tensorflow-cpu (~93MB)
[code]

Gensim (24.2MB)
[code]

scikit-learn (~13MB)
[code]

etc.

This causes Docker images having Pytorch installed, that are typically for ML tools b

[2019-03-01 20:00] shane-carroll commented on #17621
You're comparing the CPU tensorflow to the GPU pytorch. Non-gpu pytorch is much smaller. The GPU tensorflow is about 350MB.

[2019-03-01 20:03] loretoparisi commented on #17621
@shane-carroll thank you for the clarification. Okay. The GPU version is still huge, a half of a gigabyte!

[2019-03-01 20:30] suo commented on #15319
oh hm, it seems like tracing still fixes the size  cc @driazati.

Can you try using @torch.jit.script as I originally suggested? That should work.

[2019-03-01 20:44] tkornut commented on #3354
I have observed something that might be related to that discussion. I was testing my (frozen) model on a test set and noticed that loss fluctuates. First I thought that if may result from the problem with improper weighting of losses from different batches. So I have set batch size to size of test set. To my surprise, loss was still fluctuating.

So took MNIST dataset, pretrained a shallow model (

[2019-03-01 21:34] gchanan commented on #13638
Why do we need `getType(TensorOptions)`?  From what I can tell, `is_variable()` today is always false in this case, so we can just always return the "non-variable" version.  AFAIK this is only called in construction and there is no difference in constructing a Tensor vs a Variable.  Is that correct?

[2019-03-01 21:41] gchanan commented on #13638
4\. We always need to cast an `at::Tensor` to `Variable` in order to call `set_requires_grad(true)`, because `at::Tensor` has no concept of autograd

But then you can't get rid of the Tensor / Variable distinction in user code, right?  I.e. if I create a tensor, I need to manually cast it to a Variable in order to get autodiff.

[2019-03-01 21:43] gchanan commented on #13638
This seems useful -- should it be done in a separate PR?  It's not dependent on any of the rest of this workstream right?

[2019-03-01 21:45] gchanan commented on #13638
I know @ezyang has some plans to reduce the space required by TensorImpl, but from what I understand, this isn't considered a pre-req.  Just flagging this to keep in mind.

[2019-03-01 22:06] shane-carroll commented on #15319
Thanks, it seems the next problem is that `@torch.jit.script` does not support pack_padded_sequence #16664.

[2019-03-01 22:24] zdevito commented on #17614
Yeah, thanks for pointing out the ambiguity. The intention of that sentence is that we can optimize the _wall clock performance_ of the model  with the JIT. However, you can also train the script models in C++ or in Python.  In Python training should work normally (ScriptModule is a subclass of nn.Module). In C++, it is not something commonly done yet so the API is not as clean as the python one.

[2019-03-01 22:40] gchanan commented on #13638
I'd also like to do more thinking about the factory function case.  E.g. if I pass in `requires_grad=True` in a `!GradMode::enabled` context, what happens?  (I assume you can get the answer from python today).  How will that work?

[2019-03-01 22:41] HapeMask commented on #17621
The number of GPU architectures targeted by the binary is a large contributor to binary size. If you'd like a smaller GPU binary, you can change TORCH_CUDA_ARCH_LIST accordingly. For example, if you want to only support compute 5.0, you can set TORCH_CUDA_ARCH_LIST=5.0+PTX as opposed to the more comprehensive list built by default by the PyTorch devs.

(I'm not a PyTorch developer, just someone wh

[2019-03-01 22:45] h6197627 commented on #15755
In general I found using whitelisting very complicated. Almost every configuration change require new whitelist which will include newly added files. By applying blacklisting only to caffe2 operators which I am not using I am able to reduce final so file from 8mb to ~4.5mb. With more thorough file analysis I think it is possible to reduce more.
Also I can recommend passing this flags to compiler (

[2019-03-01 23:00] driazati commented on #15319
Looks like we have some other problems also related to tracing optional Tensors (#14455). The JIT currently supports `PackedSequence` by reducing it to a regular tuple, so something like this works:

[code]

Re-opening since the example above still is tripping a bug somewhere, it gives me a
[code]

[2019-03-01 23:02] l1t1 commented on #17621
interesting

[2019-03-01 23:10] suo commented on #15319
@driazati related to this I think: #17583.

[2019-03-02 00:29] gemfield commented on #14317
@farhan333 Please show the error log.

[2019-03-02 01:15] HapeMask commented on #17617
Fixed in 2336f0ba062d3c00117ccefc49c07bf2626284f1, thanks!

[2019-03-02 01:15] #17617 closed

[2019-03-02 01:20] YujiaBao opened #17630 "Memory leak in ReduceLROnPlateau ?"
## 🐛 Bug
The GPU memory keep increasing when calling `torch.optim.lr_scheduler.ReduceLROnPlateau` multiple times. Using `torch.optim.lr_scheduler.StepLR` does not have such issue.

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior
GPU memory keeps increasing until out of memory

## Environment

Collecting environment information...
PyTorch version: 1.0.0
Is debug buil

[2019-03-02 02:03] sidazhang commented on #16594
@musikisomorphie Amazing discovery. That's indeed really weird.

[2019-03-02 03:08] manuyavuz commented on #17209
Hi @mrshenli,

I could observe the same behavior. After dummy data assignment to GPUs, scatter works like a charm.

Do you think this thing warming step should be sth performed internally before doing any real work?

[2019-03-02 03:42] yf225 commented on #17492
@soumith @pjh5  Should we add it to the released binaries?

[2019-03-02 04:08] vishwakftw commented on #12006
I believe the issue has been addressed, hence closing it. Please feel free to open it if you think otherwise.

[2019-03-02 04:08] #12006 closed

[2019-03-02 04:11] yf225 commented on #17495
Can you provide the steps to reproduce?

[2019-03-02 04:12] vishwakftw commented on #17163
I believe this has been addressed by https://github.com/pytorch/pytorch/commit/e0b44cac1feb55e4e5386fa35c223bbd8af3bb82.

[2019-03-02 05:06] ghimiredhikura opened #17632 "Caffe2 C++ script for classification/object_detection with CMakeLists.txt"
## ❓ Questions and Help

I was looking for caffe2 c++ script that supports latest version. But I couldn't find any good resource. Can anyone provide caffe2 c++ example script for classification.

Thanks.

[2019-03-02 08:08] YunchuZhang opened #17633 "Download error with CIFAR10/Mnist based on torchvision.datasets"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1.
1.
1.

import torch
import torchvision
import torchvision.transforms as transforms
transform = transforms.Compose(
    [transforms.ToTensor(),
     transforms.Normalize((0.5, 0.5, 0.5), (0.5, 0.5, 0.5))])

trainset = torchvision.datasets.CIFAR10(root='./data', train=True,
                                        download=True, transfor

[2019-03-02 09:09] Nerothos commented on #16925
I got the compilation running.
I'm not sure what changed but this are the 3 actions that I have done :
- Installed linux tool with VS Studio Installer
- Launched the CMD in admin mode
- Cloned the repo once again (maybe something fixed it)

For 14.11 it wouldn't work even when installing the package (which was missing because I had an more recent one).

Thanks for the help.

[2019-03-02 09:09] #16925 closed

[2019-03-02 09:50] #17163 closed

[2019-03-02 10:36] zhangzhongke opened #17634 "[Caffe2] android app crashed while linked with libcaffe2_detectron_ops.so"
## 🐛 Bug
I built caffe2 library form source codes by scirpt/build_android.sh. When I linked generated libcaffe2_detectron_ops.so to my own native library under android studio ndk project, I can successfully build the project and start it, but it crashed while android Opening NativeLibrary. However, when I removed it from target_link_libraries of CMakeFiles.txt, it will be ok.

Caffe2 is now in rap

[2019-03-02 11:09] aliutkus commented on #1552
I updated my code for the interp1d code to be compatible with pytorch 1.0, it is there:

https://github.com/aliutkus/torchinterp1d

[2019-03-02 11:21] surgan12 commented on #17633
This issue should be opened here https://github.com/pytorch/vision/issues.

[2019-03-02 12:15] loretoparisi commented on #17621
@HapeMask thanks, this means that the python binary wheels are released with

[code]

So one option would be to build it from scratch, targeting a specific architecture. The problem is that if you have `torch` as a dependency of other frameworks, you should install it *before* everything else, so that next `pip install` will skip the fat binary wheel install eventually.
Otherwise, it should be pos

[2019-03-02 12:44] varenick commented on #17169
@kayuksel Are you planning to make a PR with the code in the link you provided? This code looks nice (at least, at the first sight). Do you see any counter-arguments to embedding this code into pytorch?

[2019-03-02 12:46] vishwakftw commented on #17633
See @surgan12's reply.

[2019-03-02 12:46] #17633 closed

[2019-03-02 12:52] vishwakftw commented on #16952
Closing issue as the fix has landed.

[2019-03-02 12:52] #16952 closed

[2019-03-02 13:22] qmpzzpmq commented on #17153
solved by remove random point

[2019-03-02 13:24] vishwakftw commented on #14465
Closing due to inactivity.

[2019-03-02 13:24] #14465 closed

[2019-03-02 14:45] apaszke commented on #13638
@gchanan for the last question I think it will create a tensor that requires grad, but no operators performed before the grad mode is enabled back again will be differentiated. Once this block ends it will look as any tensor that requires grad.

[2019-03-02 15:28] eduidl opened #17635 "wrong notations as markdown of jupyter notebooks in tutorials"
Jupyter notebooks which can be downloaded at tutorial pages (ex. https://pytorch.org/tutorials/beginner/blitz/tensor_tutorial.html) contain wrong notations as described below.

[code]

This is rendered on jupyter notebook as below.

![image](https://user-images.githubusercontent.com/25898373/53683913-06a71c00-3d4a-11e9-8cfa-d36146729862.png)

`###` can be used instead, I think.

Example: https://p

[2019-03-02 16:38] duygusar commented on #566
Where can I find a list for wheels???!! Older versions for ubuntu

[2019-03-02 17:37] vadimkantorov commented on #2134
Fixed in https://github.com/pytorch/pytorch/pull/17544

[2019-03-02 17:37] #2134 closed

[2019-03-02 18:24] duygusar commented on #15797
I got this error though it is really awkward because I do run a network with CUDA with no problems at all and using the same set up/ even using the same terminal I run another network and I get this error, obviously has to do with pytorch but why I am able to run a network with pytorch and CUDa perfectly, while I can't run the another one????

[2019-03-02 19:45] Luvata commented on #16996
torch.no_grad() is also missing in in 1.0.1.post2, related to Pycharm

[2019-03-02 19:56] danFromTelAviv commented on #7129
I have narrowed it down to this like.
in thie case ( pytorch ) ac_output is a mat, out ones_like(ac_output) - float32 . inds and out_inds are the same size ( m x 2) int64.
out[out_inds[:, 0], :, out_inds[:, 1]] = ac_output[inds[:, 0], :, inds[:, 1]]

[2019-03-02 21:10] mrshenli commented on #17209
@manuyavuz I was expecting that `torch.cuda.init()` would do all necessary initialization, but it turns out that's not the case:

[code]

@soumith  is that delay due to `CUcontext` init? Shall we cover that init in `torch.cuda.init()` as well (maybe by adding a `device` arg)?

[2019-03-02 21:26] malmaud opened #17639 "py.typed missing"
## 🐛 Bug

With the introduction of type stubs (thanks again for those!), pytorch should include a blank file called "py.typed", as stated in [PEP 561](https://mypy.readthedocs.io/en/latest/installed_packages.html#making-pep-561-compatible-packages).

This indicates to 'mypy' and other static type checkers that it should use the stubs included in the package. WIthout it, mypy will simply report tha

[2019-03-03 01:00] ajaysg commented on #17202
hi i am trying to convert a pytorch pretrained- model to onnx so i can use it in tensorrt, but i am not able to do so, can u help me in converting.

[2019-03-03 01:04] ajaysg commented on #16218
can u provide info of how u converted the model to onnx

[2019-03-03 02:04] helloworld77 commented on #17573
Same with @Adhders , and my system is ubuntu16.04, python2.7, cuda10.0, head: 80927fc068
pytorch/third_party/ideep/mkl-dnn/external/mklml_lnx_2019.0.1.20180928/lib/libmklml_intel.so: file not recognized: File truncated
collect2: error: ld returned 1 exit status
caffe2/CMakeFiles/caffe2.dir/build.make:19170: recipe for target 'lib/libcaffe2.so' failed
make[2]: *** [lib/libcaffe2.so] Error 1
CMakeFi

[2019-03-03 02:57] helloworld77 commented on #17573
I have solved my problem by moving the pytorch in the right path.
I downloaded pytorch on a cloud server, because it faster, and then scp back to my local computer, since I put the same path as the cloud server, the problem was sovled.

[2019-03-03 07:49] varenick commented on #17448
@soumith As an alternative, it is possible to implement a helper function `infer_output_shape` which takes an instance of `nn.Module` and input shape, constructs a dummy-tensor with a desired shape (with batch dimension set to 1), calls `forward` on this dummy-tensor, and returns an output shape.

[2019-03-03 07:56] yxchng opened #17643 "DataParallel gives `RuntimeError: can't start new thread` error when threading.active_count() is only 6"
## 🐛 Bug

How to resolve the problem of using DataParallel giving `RuntimeError: can't start new thread` error when threading.active_count() is only 6?

I have tried using Python 3.5 and Python 3.7 and both give the same error. I am using CUDA 10.1 with the latest PyTorch.

It occurs when I use 1 GPU or 2 GPUs with DataParallel. There is no problem if I run using 1 GPU **without** DataParallel.

I

[2019-03-03 08:59] nfanaa19940122 commented on #5452
I also meet the very similar problem when trying to run DRN on Linemod Dataset... Still trying to figure it out

[2019-03-03 10:14] emmenlau commented on #9235
I'm also affected by this problem. Any progress on this issue? Currently PyTorch can not be easily used for cmake transitive dependencies due to this...

[2019-03-03 13:36] jiapei100 opened #17644 "Not depend on third_party submodules, but self-built libraries?"
Hi:

is it possible that pytorch rely on my self-built or system libraries, instead of third_party submodules?

[code]

Any suggestions?
Pei

[2019-03-03 13:54] kayuksel commented on #17169
@varenick Ah, I am not that experienced with this. I would prefer authors or PyTorch contributors to do that.

[2019-03-03 15:29] youkaichao opened #17646 "jupyter kernel died at division"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

The kernel dies.

## Environment

PyTorch version: 1.0.0
Is debug build: No
CUDA used to build PyTorch: None

OS: Mac OSX 10.13.6
GCC version: Could not collect
CMake version: Could not collect

Python version: 3.6
Is CUDA available: No
CUDA runtime version: No CUDA
GPU models and configuration: No CUDA
Nvid

[2019-03-03 16:25] varenick commented on #17169
@soumith Are anybody in pytorch team are currently working, or planning to work on it?

[2019-03-03 19:26] surgan12 commented on #17646
This is probably due to division by 0 due to conversion of 0.1 to 0.

[2019-03-03 22:56] bhushan23 commented on #17466
random_split creates new copy of dataset (number of splits) and maintains index to be used for each.
This is consuming memory.

are you using random_split in your root issue?

[2019-03-03 23:22] bhushan23 commented on #17466
@otaj #17649 does not create copies of original dataset, instead copies the required content into new dataset. Can you give it a try?

[2019-03-03 23:23] youkaichao commented on #17646
@surgan12  yeah, I think you are right. But why not throw a `ZeroDivisionError`?

[2019-03-04 01:56] vishwakftw commented on #17574
Closed by #17642.

[2019-03-04 01:56] #17574 closed

[2019-03-04 03:09] yelu opened #17650 "[jit] incompleteInferType failed to handle type Tuple[GenericList]"
## 🐛 Bug

When passing a Tuple[GenericList] to jit script module in C++, it goes to line 145 in [incompleteInferType](https://github.com/pytorch/pytorch/blob/06c8aa7a3bbd91cda2fd6255ec82aad21fa1c0d5/aten/src/ATen/core/type.cpp#L145).

Then in fmap function call, incompleteInferType(GenericeList) is called recursively, then an `AT_ERROR("Type cannot be accurately recovered from this IValue.")` is t

[2019-03-04 05:14] RifleZhang commented on #15797
I have the same problem. There are two threads talking about this, but didn't find answers.
https://discuss.pytorch.org/t/a-error-when-using-gpu/32761
https://discuss.pytorch.org/t/a-error-when-using-gpu/32761/20

[2019-03-04 05:29] yf225 commented on #16952
@mfuntowicz Is this issue ready to close?

[2019-03-04 05:30] #17643 closed

[2019-03-04 05:35] yf225 commented on #5560
@ImMrMa @pengshuang @stihl1210 Can you provide a minimal reproducible example?

[2019-03-04 06:16] yf225 commented on #17609
cc @xzhu1900 Can you help with debugging this problem?

[2019-03-04 06:18] zasdfgbnm opened #17652 "Unable to jit.script `a[0].item() == 1`"
## 🐛 Bug

[code]

gives error

[code]

[2019-03-04 06:57] yf225 commented on #17621
@loretoparisi you are correct. Unfortunately there is no way to let `pip install` skip a dependency currently.

Making a slice of the fat-binary is likely not possible technically. cc @soumith @pjh5

[2019-03-04 06:57] #17621 closed

[2019-03-04 07:00] yf225 commented on #17635
cc @brianjo

[2019-03-04 07:04] yf225 commented on #17644
cc @kostmo

[2019-03-04 08:19] hikjik commented on #15446
Hi, I'm new to pytorch and would like to start contributing. If the issue is still open, can I take a look at this and try to fix it?

[2019-03-04 08:19] hikjik commented on #16181
Hi, I'm new to pytorch and would like to start contributing. If the issue is still open, can I take a look at this and try to fix it?

[2019-03-04 08:49] Con-Mi commented on #15213
I have made a Docker image that runs a shell script and packages PyTorch 1.0.1 and all the necessary packages that come with it (Pillow, numpy, etc). The total package exceeds the uncompressed size of 250MB but if you use the strip command it will reduce the size to around 230MB and it fits.

You can find the scripts here:
https://github.com/Con-Mi/data_science_aws_lambda_packs/tree/master/pytorch

[2019-03-04 09:17] dollysapra commented on #17616
Hello,
Instead of using with core.deviceScope, I build the model normally and used the helper function RunAllOnGPU -
[code]

Now I donot get segmentation fault but an error - RuntimeError: [enforce fail at momentum_sgd_op.h:90] OperatorBase::InputIsTensorType(GRAD, device_type).
Error from operator:
input: "conv303weights_grad" input: "conv303weights_momentum" input: "SgdOptimizer_0_lr_cpu" input:

[2019-03-04 09:42] dbbert commented on #15054
Do you know if this issue is fixed in the latest CuDNN release (7.5.0)? When will pytorch start using this release?

I'm experiencing the same ~3x slowdown with a dilation-heavy model compared to pytorch 0.4, and ```torch.backends.cudnn.benchmark=True``` doesn't improve things. I'm training with a fixed input size.

[2019-03-04 10:00] mattmcclean commented on #15213
Created an example project here showing how to deploy using [Serverless Application Model (SAM)](https://github.com/awslabs/serverless-application-model) which deploys your AWS Lambda functions + API GW easily here - https://github.com/mattmcclean/sam-pytorch-example

[2019-03-04 10:06] libichong commented on #13541
@goldsborough How can i use the flag in msbuild? Do you have any suggestion

[2019-03-04 10:47] Noirai commented on #11213
Found the solution:
1. Build OpenMPI from source
(Get OpenMPI-4.0.0 and compile using Intel Fortran Compiler. You can get the compiler by installing the trail version of Intel Parallel Studio XE, and follow this guide https://github.com/firemodels/fds/wiki/Installing-Open-MPI-on-OS-X)
2. Instead of using clang (I'm on macOS) to compile pytorch directly, use mpicc/mpicxx and change the wrapper comp

[2019-03-04 12:06] vadimkantorov commented on #17646
(also tracked in https://github.com/pytorch/pytorch/issues/6196 )

[2019-03-04 12:57] SongyiGao opened #17654 "I want to know how to use the select(int64_t dim, int64_t index) in at::Tensor?What is the definition of a parameter ?"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

[2019-03-04 13:23] antoleb opened #17655 "TracedModule 'to' attribute doesn't work for tensors created on forward."
## 🐛 Bug

TracedModule 'to' attribute doesn't work for tensors created on forward.

## To Reproduce

Steps to reproduce the behavior:

[code]

gives error:

[code]

## Environment

PyTorch version: 1.1.0a0+6a297b8
Is debug build: No
CUDA used to build PyTorch: 9.0.176

OS: Ubuntu 16.04.5 LTS
GCC version: (Ubuntu 5.4.0-6ubuntu1~16.04.11) 5.4.0 20160609
CMake version: version 3.13.3

Python version:

[2019-03-04 14:03] imaluengo opened #17656 "Wrong results when exporting a traced LSTM"
## 🐛 Bug? Or misuse?:

Traced LSTM works as expected, but when saving it to disk and loading it again outputs NaN and incorrect values.

## To Reproduce

Steps to reproduce the behavior:

1 Install Pytorch `1.0.0` or `1.0.1`.
2. Run  self-contained script:

[code]

## Expected behavior

The above example shows 3 different versions of the same model:

- `model`: raw LSTM
- `tmodel`: traced LSTM
- `

[2019-03-04 14:27] imaluengo commented on #17656
Just updated the code by replacing `.cuda()` with `.to(device)`. Bug is still reproducible when using `device = torch.device('cuda')` but seems to the code seems to work with `device = torch.device('cpu')`.

[2019-03-04 14:33] imaluengo commented on #17656
Issue is no longer reproducible in `torch-nightly-1.0.0.dev20190304`.

[2019-03-04 14:39] emankov opened #17657 "[Windows] subprocess.CalledProcessError (exit status 1) while installing pytorch by python-32"
## 🐛 Bug

Occurs on **Windows 10** while building with **Python 3.7.2 (32bit)** and **Visual Studio 2017 (version 15.9.5 toolset 14.11)** for **CUDA 9.0**.
[code]
**Meanwhile, pytorch is installed successfully using Python 3.7.2 (64bit).**

## To Reproduce

Steps to reproduce the behaviour:

[code]
## Environment
[code]
Looks like collect_env.py script is not always correct here. Here is actual in

[2019-03-04 15:08] martinruenz opened #17658 "C++ API: Crash in cudnnDestroy() when deconstructing"
## 🐛 Bug

The application crashes during deconstruction when using Cuda.

## To Reproduce

Steps to reproduce the behavior:

[code]

[code]

## Expected behavior

No crash (same behavior when using CPU and GPU).

## Environment

Output of **collect_env.py**:
[code]

Further:
[code]

[2019-03-04 15:43] dbbert commented on #7801
I experienced a ~3x slowdown during training when upgrading my checkpoint-heavy multi-gpu code from pytorch 0.4.1 to 1.0.1. I have not investigated the root cause, but reverting ```torch.utils.checkpoint``` to a previous version of the file solved the issue for me. So the problem must be in one of the latest commits.

[2019-03-04 16:41] jaechanglim commented on #17009
I have the same problem. Is the issue solved?

[2019-03-04 17:05] SsnL commented on #17654
it's selecting a slice at a certain index of a certain dimension

[2019-03-04 17:05] #17654 closed

[2019-03-04 17:16] ngimel commented on #15054
@dbbert the regressions reported in this issue so far were the failure of cudnn heuristics, and to the best of my knowledge they have not been fixed in cudnn 7.5, however, they should have been fixed by cudnn.benchmark=True. If cudnn.benchmark=True does not fix the issue for you, can you please provide a small repro that we can look at?

[2019-03-04 17:26] dbbert commented on #15054
The slowdown of my model was caused by something else, see the edit in my previous message. Sorry for the confusion.

[2019-03-04 17:32] vishwakftw commented on #12908
https://docs.julialang.org/en/v1/stdlib/LinearAlgebra/#LinearAlgebra.LAPACK.pstrf! suggests that `pstrf` works only on symmetric positive-definite matrices, for which we already have `potrf` (now `cholesky`). To avoid this redundancy, I think the method should be removed.

Please let me know what you think. @SsnL @zou3519

[2019-03-04 17:36] pjh5 commented on #17492
cc @kostmo

[2019-03-04 17:39] pjh5 commented on #17621
Yes a big part of this is GPU bits, especially including code for multiple CUDA architectures so the same binary will work on several Nvidia GPUs. You can get a smaller binary by building from source and only specifying the architecture that you need for your GPU, but for the public binaries we just want one to fit them all.

[2019-03-04 17:49] loretoparisi commented on #17621
@pjh5 maybe you could deploy a light version with only the latest architecture

[2019-03-04 18:15] dylanbespalko commented on #17249
Update: I just finished another project that is using a preliminary implementation of this. I am now working on this issue full time.

[2019-03-04 18:58] xzhu1900 commented on #17609
Thanks @yf225. Be happy to take a look.

A few questions:
The last change made to ChunkDataset was 9 days ago, but the test was failing 4 days ago. Were the windows tests just got enabled 4 days ago? Is this the first time seeing this issue? Also, what is the timestamp of this build? Does this build include this fix: https://github.com/pytorch/pytorch/pull/17409 ?

[2019-03-04 19:05] zasdfgbnm opened #17662 "torch.arange dtype mismatch with and without jit"
[code]

prints

[code]

[2019-03-04 19:53] danpovey opened #17663 "Buggy comment"
The line below looks like a typo.
(could not do `reference in new issue` as that functionality seems to not work here).

https://github.com/pytorch/pytorch/blob/dec116e96f4af069c8c6568e8f01202a3cafc412/torch/csrc/autograd/variable.h#L233

[2019-03-04 20:36] michael20at commented on #12831
I can confirm this, dataloader is very slow on windows, where as training and inference works just fine. A fix would be greatly appreciated since it also slows done training (everytime an episode is finished it is loading)!

[2019-03-04 20:51] napsternxg commented on #17108
@peterjc123 any idea on how to fix this? The error came after I updated by GeForce driver using the NVIDIA GeForce Experience panel.

My models were running till now, and now they are not.

[2019-03-04 21:20] #17449 closed

[2019-03-04 21:49] gmseabra commented on #17108
Have you tried changing PyTorch to the nightly build? It worked for me:

https://github.com/pytorch/pytorch/issues/17108#issuecomment-465793918

[2019-03-04 21:54] napsternxg commented on #17108
I tried the nighly build but was getting the same error. One update I would like to give, is that when I run the code in iPython then I am not getting this error. Only when I run the file as `python experiment.py`

[2019-03-04 22:13] xiaolin-cheng opened #17666 "Building pytorch on ARM failed"
My build failed on HiKey 970 board. It looks like a compiler issue. How can fix it? Thank you!

 60%] Building CXX object caffe2/CMakeFiles/caffe2.dir/core/net_async_task.cc.o
[ 60%] Building CXX object caffe2/CMakeFiles/caffe2.dir/core/net_async_task_future.cc.o
[ 60%] Building CXX object caffe2/CMakeFiles/caffe2.dir/core/net_async_task_graph.cc.o
c++: internal compiler error: Killed (program cc1

[2019-03-04 23:03] wanchaol opened #17669 "[jit] Bad optional access during training for ScriptModule"
## 🐛 Bug

There appears to be some regression recently, the following script produce a error saying bad optional access, it used to work several days ago.

## To Reproduce

[code]

it gives error like:
[code]

need to bisect and see whats going on

[2019-03-05 00:05] napsternxg commented on #17108
Updating to pytorch 1.0.0 fixed the issue.

[2019-03-05 01:10] peterjc123 commented on #17657
Use search and find the first occurence of the word "error".

[2019-03-05 01:12] peterjc123 commented on #17657
And actually we don't have support for python 32 bit. But anyway, you can have a try.

[2019-03-05 01:17] peterjc123 commented on #17108
Does commenting out the clause https://github.com/pytorch/pytorch/blame/master/torch/cuda/__init__.py#L188 help? Does the error occur when you do cuda init for the first time?

[2019-03-05 02:23] peterjc123 commented on #17609
No, the windows tests are not enabled even now. We just attempt to turn them on in this PR https://github.com/pytorch/pytorch/pull/17102.

Yes, it didn't happen on other datasets. But it's not a flaky test, because it causes the deadlock every time we run the tests.

Don't worry. We can do a rebase on #17102 and see it occurs on the latest master.

[2019-03-05 02:36] destinyzs commented on #16407
But when i install torch-1.0.0(cuda9.0) to my workspace,  it seems to `torch-1.0.0-cu90-cp36-cp36m-linux_x86_64.whl is not a supported wheel on this platform.`
I download the torch-1.0.0 from [here](https://download.pytorch.org/whl/cu90/torch-1.0.0-cp36-cp36m-linux_x86_64.whl), how should i solve it?

I also  tried torch-1.0.0(cuda80), although it could be installed, but some '.h' file didn't exis

[2019-03-05 02:47] Tomato3351 commented on #8039
The most possible reason is that the version of CUDA is different from the one needed by pytorch .Secondly, you may have no cudnn. What's more, the cudnn also need the right version of CUDA.
I got the same Error at the same line,now it goes right. I have no cudnn before.

[2019-03-05 03:44] ipod825 commented on #17448
Isn't this exactly the reason why we would like to have the shape inference mechanism?
For example, if only static graph is concerned and every module can infer shape from the input, then [convolution layers with `same` padding](https://github.com/pytorch/pytorch/issues/3867) #3867 can be done automatically without user calculating himself/herself.

I've create a Conv2dSame layer in an ad-hoc way

[2019-03-05 04:05] peterjc123 commented on #17609
@xzhu1900 Have done the rebase on #17102, but the deadlock continues.

[2019-03-05 06:05] xzhu1900 commented on #17609
Thanks @peterjc123.

I am looking into this. Currently I am working on getting pyTorch build on my windows machine. I will update this thread after I find anything.

[2019-03-05 07:41] supersonicai opened #17677 "Can i use torch.nn.modules.pixelshuffle for commercial products?"
Hi,

According to the document of torch.nn.modules.pixelshuffle(https://pytorch.org/docs/stable/_modules/torch/nn/modules/pixelshuffle.html), the statement says that
"This is useful for implementing efficient sub-pixel convolution
    with a stride of :math:`1/r`.
...
Look at the paper:
    `Real-Time Single Image and Video Super-Resolution Using an Efficient Sub-Pixel Convolutional Neural Network

[2019-03-05 10:13] fab-jul commented on #16805
Same for me, also with PyTorch 1.0. Any updates?

[2019-03-05 10:21] atomichighfive opened #17678 "big difference between numpy.matmul and torch.matmul"
## 🐛 Bug
`numpy.matmul` and `torch.matmul` (after converting from numpy using `torch.from_numpy`) produces different results. The maximum absolute error is of the order 10^-4.

## To Reproduce

Steps to reproduce the behavior:

1. Download [this](https://drive.google.com/open?id=1PrH9GYP0o0549Degpj6UDbhA5Bjdo2OI) 1005001 by 20 (76.7 MiB) sample matrix.
2. Run code sample below with `matrix.npy` in

[2019-03-05 11:00] albanD commented on #17678
Hi,

Welcome to the wonderful world of float operations.
tldr: this is expected behavior because float operations are inexact.
The order in which the ops are done will change the result and if you accumulate a large number of values (millions in your case), this difference will grow quite a lot.
The idea for matmul is the same as for sum below.

Here is a small code sample where the exact same arr

[2019-03-05 11:00] #17678 closed

[2019-03-05 11:01] mikonapoli commented on #10006
Does anyone know what is the root cause of this behaviour, which seems to be around in v1 too?

[2019-03-05 11:09] enoonIT opened #17680 "Torch.multiprocessing pool hangs in Jupyter notebooks"
## 🐛 Bug

Running pool.map() hangs (Torch 1.0.0)

## To Reproduce

[code]

If instead I use threads, everything works:
[code]

## Expected behavior

I expect the code to run without hanging

## Environment

Pytorch 1.0.0
OS: Ubuntu 16.04.3 LTS
GCC version: (Ubuntu 5.4.0-6ubuntu1~16.04.11) 5.4.0 20160609
Installed via pip

Python version: 3.5
CUDA 9.0
GPU models and configuration:
GPU 0: Tesla P100

[2019-03-05 12:35] krishnakalyan3 commented on #17577
I would like to work on this will send a PR shortly.

[2019-03-05 13:44] carlosferrazza opened #17682 "Windows 10 VS 2017 - torch::jit::load works in debug mode, but fails in release mode"
## 🐛 Bug

Hi, I successfully built libtorch from source, and I have tried to load a model (exported according to ) in my C++ application. It works fine with debug mode. However, when I try to load the same model in release mode, the program crashes. Should it be actually possible to switch between debug and release mode, or is this a bug?

## To Reproduce

Steps to reproduce the behavior:

1. libt

[2019-03-05 13:57] emankov commented on #17657
Where is it written?