[2021-08-06 06:14] huangjin520 commented on #59451
here is the details of this question. I'm sincerely grateful to get your help and instruction.[https://github.com/pytorch/pytorch/issues/62878](url)

[2021-08-06 06:37] rohan-varma commented on #61353
first bucket can now be tuned via `dist._DEFAULT_FIRST_BUCKET_BYTES` as of https://github.com/pytorch/pytorch/pull/62748

[2021-08-06 06:37] #61353 closed

[2021-08-06 06:49] samsamoa commented on #30147
fixed by https://github.com/pytorch/pytorch/pull/58131

[2021-08-06 06:49] #30147 closed

[2021-08-06 06:51] rgommers commented on #62784
Thanks for the report @842974287. This is a known issue, using `dim=None` is not possible for any operator. See https://github.com/pytorch/pytorch/issues/61486#issuecomment-878878480

[2021-08-06 06:51] shangz-ai commented on #55840
Hi, I'm curious whether this issue has been fixed? If so, in what version of pytorch?

[2021-08-06 07:08] Flamefire commented on #62708
Yes pretty much. Thanks for pointing that out.
TBH while the sdist would be great to have on pypi (I guess, because PyPi can have source archives and IIRC `pip install` will pick that if no matching whl is present, so not fully sure if you really want that...) I think we'd be more comfortable with an untouched source release. I.e. literally the result of a recursive clone packed into a tarball and

[2021-08-06 08:42] Lezcano commented on #62674
The fixes to previous versions are rolled out in newer versions. I think it is likely that this issue is fixed in `master`. If that's the case, you can solve it by updating your PyTorch copy to master.

[2021-08-06 09:05] jaydeepsb commented on #4827
**Solved!**
I had similar problem. I created conda env called torch.
Within command line ipython, I could import torch successfully. But when I tried to import torch inside jupyter notebook it failed.
The problem was due to the way I registered my new env kernel called torch. I was in a different (wrong) env when  I ran the following command.
`python -m install ipykernel --user --name=torch --disp

[2021-08-06 09:15] AnirudhDagar commented on #40990
This can be closed. Was fixed in gh-43583.

[2021-08-06 09:24] jianlongf opened #62881 "Aten op first round run is slow"
My runtime used aten as the backend, but I found first round of run is slow about 3841 ms, the later round is 369 ms. The reason is the first operation(lstm in my run) is very slow, it can reach about 3564 ms. So I guess the reason is that GPU(AMD Vega 20) is lazy launch. Is it reaonable ? And I wanna know the deep reason behind this. Are there any solution to tackle it.
Thanks in advance for any

[2021-08-06 09:54] hunbssfy commented on #62588
Hi Sean,

I have the same problem when -DNPCOMP_ENABLE_PYTORCH=ON enabled in mlir/npcomp build

[2021-08-06 10:56] xsacha commented on #62881
If it works anything like CUDA, the first run it works out the optimal algorithms to use.
Also, if using JIT I believe it profiles it first run as well.

[2021-08-06 11:42] vfdev-5 commented on #62237
@nicholasw-gc yes, there is unintended BC between 1.8.0 and 1.9.0 due to the fact that 1.8.0 handled explicitly cases like
`output_size == input_size` and `output_size == 2 * input_size`.

If we expect `scale=1.00001` to give the same output as input, we have to use `recompute_scale_factor=True`:
[code]
such that the final scale is recomputed from the output size (which is computed using `scale_fa

[2021-08-06 12:11] nicholasw-gc commented on #62237
Many my maths is wrong, but I would have thought that the second value could never equal the first value. Is in truncating rather than rounding so that (1-(2-1)/2)/1.00001+(2-1)/2=0.99999500005 maps to input 0 rather than input 1?

[2021-08-06 12:19] patricio-astudillo commented on #19003
The bug exists in PyTorch 1.9.0

[2021-08-06 12:22] vfdev-5 commented on #62237
@nicholasw-gc here is how it is computed:
[code]

Yes, it uses int(index) instead of round(index).

[2021-08-06 13:01] vadimkantorov commented on #62866
also was hit by this - had to create a module to just wrap a function instead of passing a function / lambda

[2021-08-06 13:18] adaaaaaa opened #62883 "Can't reopen file 'builds/cuda-samples/*/*/findgllib.mk' : No such file or directory"
OS:Manjaro
nvidia-smi:470.57.02

prepare()...
patching file 'builds/cuda-samples/*/*/findgllib.mk'
Hunk #1 FAILED at 60.
Hunk #2 FAILED at 100.
patch: **** Can't reopen file 'builds/cuda-samples/*/*/findgllib.mk' : No such file or directory

[2021-08-06 13:20] SS-JIA commented on #62676
What is the exact issue with the `Module.load` method? Also, what if you try with `BUILD_LITE_INTERPRETER=1`?

[2021-08-06 13:39] ayhokuyan commented on #42653
Mildly popular but here is one: https://arxiv.org/abs/1902.04502

[2021-08-06 13:46] fritzo commented on #62473
@Ajk4 this seems reasonable to me, but a couple caveats:
1. Many PyTorch users have been confused by the gradients to the constrained `probs` parameter. I forget the issue numbers, but there have been many issues opened claiming at first to find a bug, then eventually conceding that in any unconstrained parametrization of `probs` the effective gradients are correct. Anyway if you do decide to subm

[2021-08-06 13:48] parsa-ra commented on #62676
The issue with the `Module.load` remian unknown (The Exception.printStackTrace() returns nothing at `verbose` level logging), When the `BUILD_LITE_INTERPRETER=1` flag is set the output dynamic library `.so` file in the `.aar` files will be `libpytorch_lite` which can't be loaded by the `sololoader:nativeloader` by default, since it's looking for the `libpytorch` instead (Is there a way to mandate

[2021-08-06 13:50] ejguan commented on #62878
Could you please re-format your code? You can create fenced code blocks by placing triple backticks ` ``` ` before and after the code block.
Please check https://docs.github.com/en/github/writing-on-github/working-with-advanced-formatting/creating-and-highlighting-code-blocks

For the case `kernel is dead`, I think you are still using jupyter interpreter. Can you use your python script and call `p

[2021-08-06 13:53] nicholasw-gc commented on #62237
I see, so it is not scaling about the centre, which perhaps is fine if the output size changes, so the centre is shifting, but otherwise means you'll truncate or extend one side more than the other. But I guess it was always this way except for cases around 1.0 and 2.0 previously?

As for the int(x) instead of round(x), is it still nearest neighbour rather than lowest neighbour? With the fix, woul

[2021-08-06 13:56] ezyang opened #62884 "Conjugate fallback dispatch key should be per-backend"
#59380 reminded me that conjugate fallback dispatch key is pretty finely balanced. In particular, when we add support for fast paths, we poke a hole in the Conjugate dispatch key with fallthrough and let the CPU/CUDA backend see conjugated tensors. This is error prone for a few reasons:

1. If the backend doesn't actually handle conjugation, you'll silently get wrong results (since the data pointe

[2021-08-06 14:17] Giaco90 opened #62885 "Type of first constructor parameter of ElasticDistributedSampler and DistributedSampler"
Hello,
I am implementing a custom BatchSampler that make use of ElasticDistributedSampler. I noticed that DistributedSampler "requires" a Dataset type as first parameter, while other samplers need only a Sized data type; the code of DistributedSampler uses the parameter only to get the length of the dataset.
I know that this is not a real problem, but is there any reason for a so specialised data

[2021-08-06 14:29] anjali411 opened #62888 "Add a fallback mechanism for __torch_dispatch__"
## 🚀 Feature
The proposal here is to add a fallback mechanism when using __torch_dispatch__ to not dispatch to python unless stated otherwise.

## Motivation

This is especially useful for wrapper tensors like `FiniteTensor`, `LoggingTensor`, and `LinearOperator` classes (barring the likes of `DiagonalTensor`) where very few torch functions are overloaded in the given subclass and majority of the

[2021-08-06 14:34] zou3519 commented on #16715
Closing this due to not enough information. Please open a new issue once the information has been provided.

[2021-08-06 14:34] #16715 closed

[2021-08-06 14:35] zou3519 commented on #16708
I no longer run into this problem, but maybe it is still an issue.

[2021-08-06 14:37] zou3519 commented on #62883
Can you give some more information? Do you have a self-contained script which we could use to reproduce the problem?

[2021-08-06 14:39] zou3519 commented on #62865
We should definitely try to fix the error message if possible. We'd accept a PR doing so.

[2021-08-06 14:42] zou3519 commented on #62793
Triage review because I don't know how to label this.

`from torch import *` should work and we would accept a PR fixing this. I can repro the problem.

[2021-08-06 15:07] huangjin520 commented on #62878
I update my question according to you advice, after that I run the new code with cmd ,but there is still something wrong making my script get error.

[2021-08-06 15:09] ejguan commented on #62878
![image](https://user-images.githubusercontent.com/68879799/128531848-e0e5f65a-bbbd-4f6d-800f-82a9a212d3ba.png)
Here is the Error. You don't have data in that path.

[2021-08-06 15:16] #62633 closed

[2021-08-06 15:17] #62561 closed

[2021-08-06 15:20] huangjin520 commented on #62878
Yes,but this is a last error that i solved it .In the next cmd line, i run the script again , the error message is show in picture. Thanks  for your answer, and hope for your next solution.

[2021-08-06 15:25] ejguan commented on #62878
Can you post if there is any Error when you use `num_workers=0` for debugging?

[2021-08-06 15:36] Varal7 opened #62895 "Tests from TestMultithreadAutograd do not fail even when they should"
## 🐛 Bug

Tests from `TestMultithreadAutograd` in `test/test_autograd.py` don't capture failed asserts in the children threads.
If the functionality is broken, the test will print `AssertionError`s in stdout but the failure will not be recorded by the test suite.

## To Reproduce

Steps to reproduce the behavior:

1. Edit the `test_simple_backward` test in `TestMultithreadAutograd` to make it fail

[2021-08-06 15:57] huangjin520 commented on #62878
I debug the code with `num_workers=0`, there are cases  below.

run with cmd:
work unnormally.
![image](https://user-images.githubusercontent.com/68464169/128537815-92ad747d-4b5a-477e-af4b-e2e995e26677.png)
run with spyder:
the script is interrupted ,and restarts kernel.
![image](https://user-images.githubusercontent.com/68464169/128538278-9d31ebfa-af73-4503-a9c6-68a9d6ab68cf.png)

[2021-08-06 16:02] ejguan commented on #62878
I guess there is something wrong with your dataset. To debug, you'd better first iterate your dataset to see if any data is fetched from your filesystem.
Take a look at https://pytorch.org/vision/stable/datasets.html#torchvision.datasets.ImageFolder to see if your dataset is organized this way.

[2021-08-06 16:16] walterddr commented on #60344
Yes. adding additional execution step for our discussion:

1. Move test_distributed() and test_rpc() out from https://github.com/pytorch/pytorch/blob/92f470da08b3f4fc29ff1cca8dc637ccce2c863a/.jenkins/pytorch/test.sh#L518 to its own CI job
2. provide two "ON_PULL_REQUEST" vs. "ON_MASTER_CI" behavior
  a. "ON_MASTER_CI" basically test the full set of configurations we desired for distributed.
  b. "

[2021-08-06 16:19] #40990 closed

[2021-08-06 16:33] christian-rauch commented on #62394
Would it be possible to publish the debug symbols for the libtorch binaries? This way I could provide much more detailed stack traces in case this happens again.

[2021-08-06 16:50] huangjin520 commented on #62878
I check my dataset, the dataset is organized as the right way. Next , i debug the script one sentence by one sentence,   finding that both` Imagefolder()` and `torch.utils.data.DataLoader() ` work normally.When the script run to the  **`for iteration, (images, labels) in enumerate(train_loader):`**, the error will raise.

**So special Error!**

![image](https://user-images.githubusercontent.com/68

[2021-08-06 16:52] ejguan commented on #62878
Please use `num_worker=0` to debug!!!!

[2021-08-06 17:14] huangjin520 commented on #62878
![image](https://user-images.githubusercontent.com/68464169/128547780-64bcc877-d81d-466c-87c6-e10503388402.png)

[2021-08-06 17:15] abaqusstudent commented on #62474
@H-Huang Thank you for looking into the code I posted. I am a bit perplexed by this. I also tried resnet50 and I get the same error. Can you please tell me which function code you do not see? Perhaps I can try and post it and look into those parts more carefully?

[2021-08-06 17:38] garymm commented on #55840
No. The issue will be closed when it's known to be fixed.

[2021-08-06 17:44] rohan-varma opened #62902 "distributed/elastic/multiprocessing/api_test is flaky on ROCm"
## 🐛 Bug

Example failure:
[code]

https://ci.pytorch.org/jenkins/job/pytorch-builds/job/pytorch-linux-bionic-rocm4.2-py3.6-test2/11988/console

[2021-08-06 18:19] eqy commented on #62295
Taking a closer look it looks like the integer format originates from upstream, so it may need to be changed in NCCL (otherwise we will still get the flawed integer format):
https://docs.nvidia.com/deeplearning/nccl/user-guide/docs/api/comms.html#c.ncclGetVersion

[2021-08-06 18:54] AddyLaddy commented on #62295
In NCCL 2.9.x we changed the NCCL version format to encode two digits for the minor version. The PyTorch code has hardcoded the old NCCL version encoding and it appears to use that in error reporting.

[2021-08-06 18:57] shangz-ai commented on #55840
Interesting. It seems that I didn't have this issue anymore when using torch==1.10.0a0+ecc3718.

[2021-08-06 19:43] suo opened #62917 "Use `linecache.lazycache` in torch.fx"
`torch.fx` makes its traced forward graph executable by emitting Python code and `exec`ing it. In order for this to compose well with other Python functionality (e.g. stack traces, `inspect`, pickle, and so on), we need to tell Python how to find the original source information for the `exec`'d function.

Today we do this by [patching `linecache.getline`[(https://github.com/pytorch/pytorch/blob/97

[2021-08-06 19:55] kev-zheng commented on #29637
Hello! Quick bump on this. I am wondering if Torch has plans for supporting scripting variable arguments?

[2021-08-06 20:12] pbelevich commented on #62885
Sounds reasonable for me, @rohan-varma WDYT?

[2021-08-06 20:47] cpuhrsch opened #62925 "[Testing] memory_format decorator"
## 🚀 Feature
We currently have decorators that allow us to parameterize tests on dtypes, devices, etc., but I don't see one for memory formats (i.e. torch.channels_last and torch.contiguous_format).

## Motivation

There are multiple operators where we want to check support for and propagation of these memory formats. There were some recent issues where [BatchNorm2D](https://github.com/pytorch/pyt

[2021-08-06 20:49] #62594 closed

[2021-08-06 20:55] rajeshroy402 commented on #31981
Hi, my problem is yet not solved.
I am unable to build Pytorch 😕

[2021-08-06 21:05] #62498 closed

[2021-08-06 21:37] cpuhrsch opened #62926 "cudnn_convolution_add_relu fails under basic conditions"
## 🐛 Bug

cudnn_convolution_add_relu seems to raise ```CUDNN_STATUS_NOT_SUPPORTED``` under basic inputs.

## To Reproduce

[code]

Results in output

[code]

## Expected behavior

Should result in same output as conv2d + add + relu

## Environment

[code]

## Additional context

cuDNN version v8005

[code]

[2021-08-06 21:54] asuhan commented on #62614
For situations caused by autograd, inserting `ltm.mark_step()` right before https://github.com/jjsjann123/ltc_examples/blob/3d14758a4ffbaa01a5f10e3648de614e478e1322/custom_kernel_fragmentation/repro.py#L49 should fix it. I can think of ways to automate this since it's easy to tell after a few training steps that we have fragmentation (we maintain counters) and we could hook into `backward()` calls

[2021-08-06 22:01] #56721 closed

[2021-08-06 22:11] wconstab commented on #62614
Thanks for those suggestions @asuhan!  At least it should help unblock us.

IIUC the proposal was
- adding mark_step, to _force_ separate fragments for forward and backward
- either doing CSE between fragments to eliminate redundancies, or manually modifying operators to ensure no redundancies in the first place

But if we want to design for a case where the forward and backward are not split, is

[2021-08-06 22:33] asuhan commented on #62614
Splitting forward and backward helps because backward will simply find a cached result in the intermediate tensors computed for the forward pass due to `mark_step` forcing computation to happen for all live tensors. In such cases, our system knows to reuse instead of recomputing.

A solution which would be more granular would necessarily have to know which tensors to force compute, as opposed to a

[2021-08-06 22:33] abaqusstudent commented on #62474
Thanks. was an error on my part. Apologies.

[2021-08-06 22:42] r-barnes commented on #35735
This would be a great thing to have.

[2021-08-06 22:56] paxcema opened #62931 "GPU compatibility check without initializing CUDA"
## 🚀 Feature

Modify the CUDA capability check to return whether there are any devices compatible with PyTorch.

## Motivation

In the context of checking 3rd party PyTorch installations, for any machine with CUDA installed and an older GPU (unsupported by PyTorch), it is not possible to detect that this is the case without actually try/catching a tensor-to-gpu transfer. This can be expensive beca

[2021-08-06 22:57] Gamrix commented on #58628
However, you can do this:
[code]

And the linear layer is valid as long as the 0th dimensions of the input and the weight are the same.

[2021-08-06 23:01] jjsjann123 commented on #62614
Thanks a lot. `mark_step` sounds like a good-enough approach to resolve the recomputation of aten intermediate tensors, while lazy tensor intermediate tensor recomputed across gelu & gelu_backward requires some across fragments optimization, which would be trickier.

It would be nice to eliminate re-compuation and push more re-use, this gets us closer to minimal chances of regression to PyTorch ea

[2021-08-06 23:03] eellison commented on #58628
We are targeting a very specific model (which is everywhere these days). Generalizing the logic could be a good follow up but would complicate the optimization and we don't have a clear use of it. E.g., you can't use chunk anymore to get the output of the use of the concatted w1 and w2

[2021-08-06 23:23] asuhan commented on #62614
I think we can avoid having to undo the CSE by effectively doing the replacements in the graph, but rather construct a list of the candidates and pass it to the back-end. The back-end can then choose if to use that list or simply ignore it and we'd provide an easy way to apply that information to the graph.

[2021-08-06 23:32] adaaaaaa commented on #62883
在构建 cuda-10.2...
==> 正在创建软件包：cuda-10.2 10.2.89-3 (2021年08月06日 星期五 21时05分09秒)
==> 正在检查运行时依赖关系...
==> 正在检查编译时依赖关系
==> 获取源代码...
  -> 找到 cuda_10.2.89_440.33.01_linux.run
  -> 找到 cuda-10.2.conf
  -> 找到 cuda-findgllib_mk.diff
==> 正在验证 source 文件，使用sha512sums...
    cuda_10.2.89_440.33.01_linux.run ... 通过
    cuda-10.2.conf ... 通过
    cuda-findgllib_mk.diff ... 通过
==> 正在删除现存的 $srcdir/ 目录...
==> 正在释放源码...

[2021-08-07 00:39] ankurverma85 opened #62933 "Compilation error with gcc11 and libstdc++11 (thread_id != operator removed)"
## 🐛 Bug
Error originates from mkl-dnn which uses != operator on thread_id
the != operator on thread_id has been removed in c++20 (was deprecated earlier)

A simpler fix is to do !( thread_id() == key.thread_id())

## To Reproduce

Steps to reproduce the behavior:

1. Build on fedora 34 with gcc11.2 and libstdc++11
1. python setup.py bdist_wheel

[code]
## Expected behavior

Builds successfully

#

[2021-08-07 01:03] rohan-varma commented on #62885
Great point! I think that it only needs to be a `typing.Sized` as we only call `len()` on it as you mentioned. Feel free to send a PR!

[2021-08-07 01:47] wangzhaode commented on #52363
NO！I'm using trace mode now.

[2021-08-07 01:54] gmagogsfm commented on #52363
@wangzhaode Could you please provide minimal steps to repro? And also your Pytorch configuration according to bug report template? Without them, it is difficult to us to investigate. Thanks

[2021-08-07 02:24] wangzhaode commented on #52363
@gmagogsfm Tanks for your reply! My torch version is 1.9.0, and model is from transformer. The step is as below:
1. install transformer use this command: `pip install transformers`
2. use these code export torchscript:
 `from transformers import BertModel, BertTokenizer, BertConfig
import torch

enc = BertTokenizer.from_pretrained("bert-base-uncased")

# Tokenizing input text
text = "[CLS] Who was

[2021-08-07 02:57] jjsjann123 opened #62934 "`tools/autograd/derivatives.yaml` doesn't support methods on optional tensor"
## 🐛 Bug

We should be able to access attributes from optional tensor in derivatives.yaml.

e.g.
[code]

This is very similar to what we have there for optional ScalarType.
[code]

However, this doesn't work with optional tensor. In generated code, we seem to be treating `bias` inconsistently.
1. In `torch/csrc/autograd/generated/Functions.cpp`, it's taking bias as an at::Tensor , so it doesn't li

[2021-08-07 03:01] gmagogsfm commented on #62866
Hi @twoertwein,

Thanks for reporting. This is a known unsupported feature, but there is currently no near term plan to add it due to resource limitations. For now, please convert this callable into a nn.Module's method as suggested by @vadimkantorov to work around this limitation. Hope this helps.

[2021-08-07 03:01] #62866 closed

[2021-08-07 03:08] gmagogsfm commented on #62820
Took a look at the failure log, didn't spot any obvious error messages related to JIT, removing from jit triage board for now. Let me know if it turns out to be JIT related.

[2021-08-07 03:17] aishoot commented on #59628
Thanks. Done for me!

[2021-08-07 03:48] LuoXin-s commented on #60932
I tested image of "Pytorch1.8.1 cuda10.2", this is also python3.7.
Why not use 3.8 in there image?

[2021-08-07 06:01] rudaoshi commented on #62793
I have the same issue.  Also occurs for version  1.8.1

[2021-08-07 06:11] rudaoshi commented on #62793
I found that the issue is because of the line

   del torch.unique_dim

 in  torch/funcitional.py . Comment that line fixes the issue.

I also found that it has been fixed in the master branch.

[2021-08-07 06:29] DubeySuvodeep commented on #47354
Having an issue with python3.5, solved by installing python3.9

`$ nvcc -V`
nvcc: NVIDIA (R) Cuda compiler driver
Copyright (c) 2005-2020 NVIDIA Corporation
Built on Wed_Jul_22_19:09:09_PDT_2020
Cuda compilation tools, release 11.0, V11.0.221
Build cuda_11.0_bu.TC445_37.28845127_0

============================================
`
$ pip install torch==1.9.0+cu111 torchvision==0.10.0+cu111 torchaudio=

[2021-08-07 06:49] PistonY opened #62936 "[onnx] export of `repeat_interleave` fails: 'torch._C.Value' object is not iterable."
I give some simple code to reproduce this.(Pytorch 1.9)

[code]
And error occurred
[code]

cc @BowenBao @neginraoof

[2021-08-07 06:51] PistonY commented on #62936
Use '.repeat()' is not that easy in my case.

[2021-08-07 07:01] quang-truong commented on #58979
Strangely `optimizer.zero_grad(set_to_none=True)` helps my situation.

[2021-08-07 08:13] rojas70 commented on #45021
Greetings,

The problem I will note below only happens when I debug with code but not on a python terminal. I believe my setup is properly loaded. Below all info necessary.

Error message:
[code]

Environment Information: my setup tries to follow copatibilities matrix: driver-470/toolkit 114/libcudnn8.2/pytorch1.9+cu111

PyTorch version: 1.9.0+cu111
Is debug build: False
CUDA used to build PyTorch

[2021-08-07 08:33] yiftachbeer commented on #11372
My current solution for moving the device logic out of the train loop is to add my own dataloader wrapper class:

    class DeviceDataLoader:

        def __init__(self, dataloader, device):
            self.dataloader = dataloader
            self.device = device

        def __len__(self):
            return len(self.dataloader)

        def __iter__(self):
            for batch in self.dataload

[2021-08-07 09:45] Folkdance1526 commented on #35803
WOW!!!  Thank you @skyline75489, it worked for me,new bee!

[2021-08-07 09:55] johndpope commented on #45021
" when I debug with code but not on a python terminal."
I suspect vscode is picking up wrong environment.
https://code.visualstudio.com/docs/python/environments

( I highly recommend miniconda - it integrates within vscode.
If you are on unix - use oh-my-zsh + zsh  / https://github.com/ohmyzsh/ohmyzsh
it gives you a sanity check and clarity at terminal on which conda environment you're using. )

[2021-08-07 10:02] ysiraichi opened #62940 "Wrong results for `topk` kernel with non-contiguous outputs on CUDA for 1D tensors."
## 🐛 Bug

`topk` CUDA kernel gives wrong results when calling its out variant with non-contiguous output tensors. Apparently, when given non-contiguous out tensors, `topk` is ignoring its original strides.

## To Reproduce

[code]

## Expected behavior

[code]

## Environment

PyTorch version: 1.9.0
Is debug build: False
CUDA used to build PyTorch: 10.2
ROCM used to build PyTorch: N/A

OS: Ubuntu

[2021-08-07 11:49] teatreeoilchocolate opened #62943 "Improving Multiprocessing Support for Jupyter Notebooks"
## 🚀 Feature

An easy to use way of using multi process applications in a jupyter-notebook.

## Motivation

Data science is an explorative process at times and the standard platform with which s.o. starts out exploring data science is the jupyter-notebook. A well known example of this would be the kaggle-platform. Most courses champion this tool stack. A good example would be the fast.ai library a

[2021-08-07 14:39] Aidenfaustine commented on #59451
很抱歉，google邮箱不是经常看。
你可以联系微信V：shai265130.

好运

On Thu, 5 Aug 2021 at 13:53, 黄金 ***@***.***> wrote:

[2021-08-07 14:43] Aidenfaustine commented on #62878
@huangjin520 , 我看我们使用相同的数据集，可以加V：shai265130多交流。很抱歉邮件定期查看，希望你的问题解决了。

[2021-08-07 19:47] PeterL1n commented on #60724
Also found issues in `grid_sample`. Backward is slow for fp16!

[2021-08-07 21:42] vadimkantorov commented on #62931
Related in the sense of theme of avoiding CUDA initialization: https://github.com/pytorch/pytorch/issues/52675

[2021-08-08 04:27] peterjc123 commented on #59859
I figured out that by using `set(CMAKE_NINJA_CMCLDEPS_RC OFF)` in CMake, it defers the RC stuffs to the RC compiler instead of writing them into the ninja rules, thus should fix the problem.

[2021-08-08 10:08] polm commented on #23151
Paper link is dead, I guess you mean one of these.

Algorithms for Efficient Reproducible Floating Point Summation
Ahrens, Demmel, Nguyen 2020
https://api.semanticscholar.org/CorpusID:218517520

Fast Reproducible Floating-Point Summation
Demmel, Nguyen 2013
https://api.semanticscholar.org/CorpusID:9853518

[2021-08-08 14:31] liym27 opened #62951 "when call `torch.onnx.export()`, the graph is pruned by default ? how to cancel pruning"
## 🚀 Feature

For example:
[code]

[code]
#### How every, the exported graph doesn't contain `line2` , maybe because the  output of MyModel  is not depend on `out2 = self.line2(y)` ? I guess the graph is pruned by default.

**What should I do if I want to not do pruning?**

## Motivation

I want to do something for `self.named_parameters()` in `model.forward()`, eg.

[code]

How every, the exporte

[2021-08-08 14:40] amit-ruf commented on #35600
wrapping torch.jit.trace in a separate process seems like a working workaround:

    #Utilities
    import os
    import psutil
    from concurrent import futures

    #JIT trace test
    import torch
    import torchvision.models as model_zoo

    def save_model(model, sample_input):
        _ = torch.jit.trace(model, sample_input)

    with torch.no_grad():
        # Create a simple resnet

[2021-08-08 16:27] parsa-ra commented on #62676
Any update?

[2021-08-08 16:38] cathyzhyi commented on #62588
interesting. I am seeing the same error as well.

[2021-08-08 17:29] matemato commented on #21819
I was having the same problems when using more than 1 GPU for training. I fixed it by downgrading my pytorch 1.9.0 to 1.8.0

[2021-08-08 18:02] lcrun opened #62954 "torch.bmm can't get parity result with torch.nn.linear with "cuda" device"
## 🐛 Bug

torch.bmm can't get parity result with torch.nn.linear with "cuda" device while they can get parity (allclose) result with "cpu".

## To Reproduce

Steps to reproduce the behavior:

1. Save the script below (_device = 'cuda'_)  as test_bmm_vs_linear.py, and run : _python test_bmm_vs_linear.py_
2. The assert of the allclose of the result of FFNExpert and MergedFFNExpert will failed.
3. Up

[2021-08-08 18:34] BrunoKM opened #62955 "Make axes selection keyword arguments in torch.diagonal and torch.transpose consistent"
## 🚀 Feature
Make the keyword argument names for the 1st and 2nd dimension on which `torch.diagonal` and `torch.transpose` operate consistent between the two functions. Namely, let the keyword arguments either both be `0`-indexed:

[code]
or `1`-indexed, as is the case in `numpy` (e.g. [np.diagonal](https://numpy.org/doc/stable/reference/generated/numpy.diagonal.html)):
[code]
## Motivation

Curre

[2021-08-09 00:39] peterjc123 commented on #62820
It is not Windows only. See https://ci.pytorch.org/jenkins/job/pytorch-builds/job/pytorch-linux-bionic-rocm4.2-py3.6-test1/12248/console

[2021-08-09 01:30] jianlongf commented on #62881
@xsacha thanks for interpreting. Is this meaning that the first run can speed up if the algorithm is fixed ?

[2021-08-09 01:48] xsacha commented on #62881
I don't think so. I believe its intended to warm up first. First run is always slow for me too.

[2021-08-09 02:11] RunningLeon commented on #42653
@ayhokuyan Hi, for instance, we have this op in PSPNet in mmseg

https://github.com/open-mmlab/mmsegmentation/blob/7e1d853f2b7195b39efb3eb7c4d8e912e3ca57ae/mmseg/models/decode_heads/psp_head.py#L37

[2021-08-09 02:34] mszhanyi commented on #59859
I just want to know more details. [grpc](https://github.com/grpc/grpc) has protobuf submodule too, it uses cmake+ninja too.
Do you know why it can rebuild on Windows without  `set(CMAKE_NINJA_CMCLDEPS_RC OFF)`

[2021-08-09 04:44] alanwaketan commented on #62431
A lowering guide can be found: https://github.com/pytorch/pytorch/blob/lazy_tensor_staging/lazy_tensor_core/OP_LOWERING_GUIDE.md.

[2021-08-09 05:04] peterjc123 commented on #59859
I will have a try on grpc when I have time.

[2021-08-09 06:39] Heermosi commented on #45021
I partly agree with johndpope, You need to check out the environment first
Type the following in your terminal started python and vs-code started python each

1.  Check out the python lib path
[code]
    This shall show you the lib path python in use. If you see a different setting, then you might be reading from a different python lib

2. Check out the pytorch's version and support
[code]
    If

[2021-08-09 06:47] #43138 closed

[2021-08-09 06:47] feiyuhuahuo commented on #56355
@spandantiwari Has this op been supported?

[2021-08-09 07:55] lsg921203 commented on #5301
work for me!! thank you

[2021-08-09 08:30] xin-w8023 opened #62961 "torch.jit.trace crashed by device mismatch"
## 🐛 Bug

I found that `torch.jit.trace` will remember the tensor's device during the tracing process, if we use the different device to inference, it is crashed.

## To Reproduce

Here is the reproducing code.
[code]
[code]

## Expected behavior

Expected running well.

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pyto

[2021-08-09 08:33] jianlongf commented on #62881
@xsacha thanks. I found first-time was caused by the cost of rocblas initialization. So just initialize rocblas is ok for my case.

[2021-08-09 08:34] #62881 closed

[2021-08-09 08:38] schuhschuh commented on #11201
For anyone else seeing such error even after setting `torch.multiprocessing.set_sharing_strategy('file_system')` in their main thread, note that worker processes of the `DataLoader` will not inherit this setting apparently. I had to use a `worker_init_fn` such as:

[code]

This finally fixed it for me.

@brando90 This relates to your earlier question. I could confirm that the strategy is not to se

[2021-08-09 09:42] domef commented on #27212
+1

[2021-08-09 11:17] XiaoLaoDi commented on #25088
Is there any progress on this problem ?

[2021-08-09 12:21] BelongAl opened #62962 "[JIT] NVRTC unknown error"
## 🐛 Bug
This is a demo of my model.
I found that when reasoning the model established by the above code, an error will be reported if it is cycled three times. What is the reason?

**code:**
[code]

**error:**
[code]

 - PyTorch Version (e.g., 1.0):
 - OS : linux
 - Python version: 1.9.0
 - CUDA version: 10.2
 - GPU models and configuration: T4

cc @gmagogsfm

[2021-08-09 13:49] ezyang commented on #62845
One challenge with variadic arguments is that JIT schema is intended to also express signatures that can be specified in TorchScript JIT interpreter as well as in C++, but variadics don't have natural expression in either case (in the JIT interpreter case, we must statically know how many arguments to pop off the stack; in the C++ case, variadic functions are not possible without templating). One

[2021-08-09 13:54] ejguan commented on #62878
@huangjin520
Could you validate the data by iterating `train_dataset`?
[code]

[2021-08-09 13:56] IvanYashchuk commented on #60175
I can reproduce the problem in `v1.9.0` tag of PyTorch built from source:
[code]
with magma from pytorch conda channel. However, the message is not present with the latest master branch, so I believe the problem is fixed.

[2021-08-09 13:56] #60175 closed

[2021-08-09 14:12] liym27 commented on #62951
what should I do to solve it?

[2021-08-09 14:28] albanD commented on #59998
One plausible end-state I would see here is:
- Optimizers, when given complex numbers, perform their update following the complex structure.
- We have a simple way (that we explicitly document) to perform computation on the complex space as if it was a R^2 space.

In particular, this can be done with a simple parametrization that will make the Parameter we optimize over is a real valued Tensor and

[2021-08-09 14:38] #60469 closed

[2021-08-09 14:48] gchanan commented on #62931
I'm not sure if this is possible -- @ngimel ?

[2021-08-09 14:51] gchanan commented on #62883
Please follow the template for bug reports -- we are unable to help you if you do not provide that information.

[2021-08-09 14:51] #62883 closed

[2021-08-09 14:56] gchanan commented on #62876
can you try with PyTorch 1.9?

[2021-08-09 15:25] albanD commented on #62934
I don't think we want to support optional Tensors here actually. Because that would still save the full Tensor. So you might as well pass `bias` as-is in this case.

We should teach our replacement pass [here](https://github.com/pytorch/pytorch/blob/c7db642a72d80facf9c8a17f42ac0bb04d04723f/tools/autograd/load_derivatives.py#L464) to recognize these patterns and properly save them as a plain scalar

[2021-08-09 15:27] erees1 opened #62967 "BatchNorm2d + SyncBatchNorm incorrect multi gpu behaviour in 1.10.0 (tested working in 1.8.0)"
## 🐛 Bug

SyncBatchNorm layers in torch 1.10.0 give different outputs on 2 gpus vs the equivalent BatchNorm layer on a single gpu. This wasn't a problem in torch 1.8.0

## To Reproduce
This code is based on the [PyTorch DDP demo](https://pytorch.org/tutorials/intermediate/ddp_tutorial.html) but the model consists only of a `BatchNorm2d` layer.

[code]

### Torch 1.10.0a0+git63955b3

#### 1 - 2 gpu

[2021-08-09 15:29] gchanan commented on #62940
I checked back to 1.8.1 and 1.6.0 and there is the same behavior, so doesn't look like a regression.

[2021-08-09 15:32] samringer commented on #62967
Seeing the exact same thing!

[2021-08-09 15:32] mrshenli opened #62968 "DISABLED test_iterable_style_dataset (__main__.TestDataLoaderPersistentWorkers)"
https://app.circleci.com/pipelines/github/pytorch/pytorch/361522/workflows/0e36477a-ade5-4e87-a33b-49437af2531f/jobs/15247666/steps

[code]

cc @SsnL @VitalyFedyunin @ejguan @NivekT

[2021-08-09 15:34] mrshenli opened #62969 "DISABLED test_worker_seed (__main__.TestDataLoaderPersistentWorkers)"
https://app.circleci.com/pipelines/github/pytorch/pytorch/361526/workflows/6cc20b4e-4487-4215-aabf-289aa3a9df23/jobs/15248178/steps

[code]

cc @SsnL @VitalyFedyunin @ejguan @NivekT

[2021-08-09 15:35] mrshenli opened #62970 "DISABLED test_worker_seed_reproducibility (__main__.TestDataLoaderPersistentWorkers)"
https://app.circleci.com/pipelines/github/pytorch/pytorch/361526/workflows/6cc20b4e-4487-4215-aabf-289aa3a9df23/jobs/15248178/steps

[code]

cc @SsnL @VitalyFedyunin @ejguan @NivekT

[2021-08-09 15:38] erees1 commented on #62967
FWIW I also see the same error with backend = 'nccl' as well

[2021-08-09 15:50] willwilliams commented on #62967
Been seeing this issue on master for a while. IIRC, this problem isn't affecting the 1.9 release

[2021-08-09 15:51] zou3519 opened #62972 "Allow setting empty CPU or CUDA storage for a Tensor with non-zero sizes and strides"
## 🚀 Feature
@ezyang tells me that's what https://github.com/facebookresearch/functorch/blob/619f392a0b1afa132b9c791c85c75538b2482788/functorch/_src/python_key.py#L28-L31 is supposed to do, but the code actually resizes the storage to having the passed-in sizes and strides.

## Motivation

This saves memory. Also helps prevent https://github.com/pytorch/pytorch/issues/62730 from happening

[2021-08-09 15:53] albanD commented on #62849
Do I remember correctly that from a high level point of view, for every operation "foo" that is a view, we want:
- "foo" that is the view op, both as a method and a function
- "foo_copy" that is the same as foo but return brand new memory
- "foo_embed" (do we have other names?) that is an out of place version of `a.foo().copy_()` to be used both as out of place variant for these patterns and for a

[2021-08-09 15:55] albanD commented on #62473
Note that we have a similar `sparse` argument for the embedding layer (https://pytorch.org/docs/stable/generated/torch.nn.Embedding.html?highlight=embedding#torch.nn.Embedding) that we might want to mimick here.

[2021-08-09 16:06] malfet opened #62973 "Audit use of `C10_UNUSED`"
Perhaps a functions marked with `C10_UNUSED` could be removed from the codebase, if they are truly unused

[2021-08-09 16:09] malfet opened #62975 "Linter annotation are no longer displayed for PRs"
Just noticed that clang-format violations detected in https://github.com/pytorch/pytorch/pull/62929/checks?check_run_id=3266475275 are not rendered in https://github.com/pytorch/pytorch/pull/62929/files

[2021-08-09 16:10] malfet commented on #62975
@samestep is there a document somewhere describing what linters violations are populated in GH UI and which aren't.

[2021-08-09 16:20] ngimel commented on #62931
Should be possible, `get_device_capability` does not initialize cuda context.

[2021-08-09 16:24] pearu commented on #62259
Can you provide a Python reproducer?

Here's a possible fix (untested):
[code]

[2021-08-09 16:30] #61988 closed

[2021-08-09 16:44] mostafaelhoushi commented on #62071
I am currently investigating the bug, and here is a summary of some findings I made:
- in `torch/fx/experimental/rewriter.py`, if we replace `return rewrite_module(fn)` with `return fn`, we find that `to_be_wrapped` is wrapped correctly
- using the pdb debugger, I confirmed that `wrap(...)` function in `torch/fx/_symbolic_trace.py` is invoked when we use `RewritingTracer`. The `wrap(...)` function

[2021-08-09 17:01] albanD commented on #62849
By the way, if this is as mechanical as that, this is most likely something we want to do automatically in the codegen! so that the amount of work is not linear with the number of view ops!

[2021-08-09 17:04] gchanan commented on #62954
triage review for having a "page about linear algebra numerics" to handle these questions generally.

[2021-08-09 17:06] seemethere commented on #62708
We'd love to have help to build this out if you have some spare cycles @Flamefire!

[2021-08-09 17:08] rave974 commented on #16831
WHAT IS THE REASON OF THIS ERROR?

[2021-08-09 17:11] zou3519 commented on #62793
This doesn't seem fixed on master, high-pri to fix it

[2021-08-09 17:12] zou3519 commented on #62954
High priority for "for having a "page about linear algebra numerics" to handle these questions generally."

[2021-08-09 17:17] zou3519 commented on #4132
At the triage review meeting, we decided: this is expected behavior (for now at least). It is a legitimate request to distinguish "zero gradient" and "no gradient".  However, we may need a first-class concept of masking in PyTorch to accomplish this, so this won't happen anytime soon.

[2021-08-09 17:23] tktrungna opened #62979 "Handle render_test_results's failure due to dependencies"
`render_test_results` failed due to dependent job(s) were skipped and could not find test report artifacts files.

`Error: Unable to find any artifacts for the associated workflow`

Example: https://github.com/pytorch/pytorch/actions/runs/1113514757.  ciflow_should_run,  calculate_docker_image and build-and-test were skipped. However render_test_results was `always()` so it run and failed

cc @ezy

[2021-08-09 17:24] xwang233 commented on #62967
I see that you are using `permute` in your code. PyTorch has added native channels-last support for SyncBatchNorm in the past release. Would you try to modify the code from `permute` to `.to(memory_format=torch.channels_last)` and see if it helps?

[2021-08-09 17:34] malfet commented on #62975
Adding screenshots for context:
clang-format detected fix-up on line 29:
[code]

but it's not visible as comment:
![image](https://user-images.githubusercontent.com/2453524/128748868-805d25ab-e21d-44ed-ac76-18d5ef0198ad.png)

[2021-08-09 17:44] jamesr66a commented on #62071
Hi @mostafaelhoushi,

I think the issue is because we are copying the globals dictionary here: https://github.com/pytorch/pytorch/blob/e55f2718595fa0f0895b716ec0f7c95ccd5a700e/torch/fx/experimental/rewriter.py#L37

The way patching works is that it keeps a reference to the `globals` dictionary in which the function was specified to be patched: https://github.com/pytorch/pytorch/blob/e55f2718595fa0

[2021-08-09 17:51] ezyang opened #62982 "Don't use try-catch to handle overload resolution handling in torch.ops"
Currently, the way operators in torch.ops handle overloading is they try each overload one by one until they find one that matches, detecting error cases by catching exception:

[code]

C++ exceptions are very expensive but if you call an overloaded op you will repeatedly toggle this codepath. Make it not do this.

[2021-08-09 17:52] ezyang commented on #62979
yes please fix this haha

[2021-08-09 18:01] xwang233 commented on #62926
Thanks for the report. For the `cudnn_convolution_add_relu` script, I can reproduce the failure with the latest cudnn 8.2.2. We're working with cudnn team to isolate the issue.

[2021-08-09 18:02] malfet opened #62983 "Implement `set_flush_denormal ` for ARM"
Current implementation of `set_flush_denormal ` is very x86-centirc as can be seen in :
https://github.com/pytorch/pytorch/blob/710c419f110bbd2c13a2f6f8710aa47dec857115/aten/src/ATen/cpu/FlushDenormal.cpp#L10-L12

cc @malfet

[2021-08-09 18:36] arthurbolsoni commented on #17023
i do "pip install --no-cache-dir torch"
in sames cases is not the download speed is the ram memory very low.

[2021-08-09 18:39] sharvil commented on #31772
AFAICT, there's also no way to iterate in reverse over a `ModuleList` with TorchScript. Running modules in reverse is necessary for normalizing flow-based architectures.

I've tried various approaches to running modules in reverse:
  - `for m in reversed(self.module_list)`
  - `for m in self.module_list[::-1]`
  - add an attribute that's a simple Python list of `Module` in addition to the `ModuleL

[2021-08-09 18:45] arindamroy-eng commented on #62902
@rohan-varma Seems like a duplicate of https://github.com/pytorch/pytorch/issues/62595.

[2021-08-09 19:53] albanD opened #62989 "Doc page for functions with overload is not properly indented"
The title for each new overload is not flush to the left and so they are very hard to see.
You can check max as an example: https://pytorch.org/docs/1.9.0/generated/torch.max.html?highlight=max#torch.max

[2021-08-09 20:13] zou3519 commented on #62849
We only need `foo_embed` if the view function views a subset of a Tensor's elements. Otherwise, the backward function is the inverse of the view and does not need to be expressed with `copy_`.

cc @bdhirsh -- IIRC foo_copy and "inverse views" are important for the functionalization pass

[2021-08-09 20:17] zou3519 commented on #62849
`foo_embed` is actually an out-of-place version of `torch.zeros(shape).foo().copy_(b)`

From the discussions we had a while back, we might also need a `foo_scatter` (I remember @ezyang mentioning these would be useful for functionalization). `foo_scatter` is an out-of-place version of `a.foo().copy_(b)`

NB: Yes, foo_embed can be written as a special case of foo_scatter applied on an all-zeros ten

[2021-08-09 21:05] PeterL1n commented on #62171
You can look into `tensor.flatten` and `tensor.unflatten` method. It is a shorthand but still doing reshape.

[2021-08-09 21:23] erees1 commented on #62967
Thanks for the reply -> you are correct removing the permute removes the difference between 2 gpus and 1 gpu although this is quite unexpected? I guess there is still inconsistent behaviour between `SyncBatchNorm` and `BatchNorm`.

Is it possible to use SyncBatchNorm with a permuted input (we use them quite extensivley in our codebase). Fwiw we use BatchNorm2d to mirror BatchNorm1d as per  https:/

[2021-08-09 21:32] albanD opened #62998 "Add nn.Module full pre-backward hooks"
As per title. Such hook would be similar to the pre-forward hooks that exist for the forward pass.
The signature would be `hook(mod, grad_output) -> new_grad_output or None`

We can re-use the existing logic for the current full backward hooks and just register the exit hook for this.

cc @albanD @mruberry @jbschlosser @rohan-varma

[2021-08-09 21:47] vors opened #63000 "When compiled with clang ScatterGather kernel perf is significantly worse"
## 🐛 Bug

As part of using pytorch at Cruise, we built it with clang and profiled some of the slow-to-train models. We discovered that ScatterGather kernel specifically is much slower compared to nvcc compilation due to the fact that clang doesn't aggressively inline some cuda functions.

## To Reproduce

No good repro, this is part of upstreaming Cruise changes.

## Expected behavior

Performance

[2021-08-09 21:50] rohan-varma commented on #62998
Thanks, this would be great! From the DDP side, this would be extremely useful in supporting new features such as calling backwards twice with `retain_graph=True` which DDP does not currently support. We previously attempted to land support for this via a custom autograd function who's backward pass does the necessary logic in DDP, but it wasn't very robust and lead to some internal issues. Having

[2021-08-09 21:58] garymm commented on #55840
Thanks for letting us know.

[2021-08-09 21:58] #55840 closed

[2021-08-09 22:27] bertmaher commented on #44343
@ezyang interesting!  Could you elaborate on how one would use meta tensors to achieve async execution?

[2021-08-09 22:28] #62979 closed

[2021-08-09 22:54] wgale opened #63004 "ignore_index does not work as described with nn.CrossEntropyLoss"
## 🐛 Bug

Ignored targets/indices impact the output of nn.CrossEntropyLoss/torch.nn.functional.cross_entropy, have gradients associated with them, and impact the gradients of all other classes. This is a result of "ignore_index" only being used with nll_loss in the underlying implementation and not being used in the log_softmax. The log_softmax is over all the classes, including any classes that t

[2021-08-09 23:17] #59859 closed

[2021-08-09 23:21] lasa01 commented on #59179
Thanks, can confirm that the export now succeeds with those changes (even with opset 11).

[2021-08-09 23:37] aminrd opened #63006 "ChecksumMismatchError: Conda detected a mismatch between the expected content and downloaded content"
Doing the following scenario:

[code]

 I interfered the following error on downloading the package which apparently after downloading when checking the checksum, it sees a mismatch. I also tried removing those *.bz2 files just in case if there is a pre-downloaded file, it didn't work.

[code]

My system information:
[code]

My `conda --version` is also `4.8.2`. I also should add that I have same

[2021-08-09 23:57] ezyang commented on #62972
Doesn't have to be implemented directly the way spelled here; TBH, probably shouldn't be. Let's figure out some other API for doing this.

[2021-08-09 23:59] ezyang commented on #62708
@seemethere if you want to enlist OSS help need to have enough design to say how they can test and deploy whatever they do; Flamefire doesn't have rights to upload binaries :P

[2021-08-10 00:29] ezyang commented on #62849
If only we had compute tensors... 👀

[2021-08-10 00:38] ezyang commented on #44343
One of the blockers to async cpu is you have to immediately return a tensor that represents the future of the async computation in question. This tensor has to accurately reflect what the size/dtype/etc of the eventual output will be. Prior to meta tensors, this meant for every op you support with async cpu you would have to painstakingly reimplement all of this logic for every operator you wanted

[2021-08-10 02:26] pritamdamania87 commented on #62094
From a ShardedTensor perspective, I'm assuming `get_extra_state` could return something like `Dict[str, ShardedTensor]`. Then `set_extra_state` would receive this same state and then the user needs to manually apply this state to the parameters of the nn.Module? Wouldn't the user also have to recurse through submodules and add the ShardedTensors there too?

If so, I feel option 2 might be much sim

[2021-08-10 02:34] pritamdamania87 commented on #61920
The context is cleaned up in an async way today, maybe we can have an option to the context manager: `strict_cleanup=True` and in that case we don't return to the user until all memory is released.

[2021-08-10 02:35] pritamdamania87 commented on #61920
The cleanup is async, so if your forward pass is running faster than the cleanup, this is possible.

[2021-08-10 02:47] BorisPolonsky opened #63015 "Missing submodule "ios-make" after running "git submodule sync && git submodule update --init --recursive" when building PyTorch from Source"
## 🐛 Bug

I've failed to build PyTorch v1.9.0 from source as git fails to synchronize some sub-module (e.g. `ios-make`) correctly. The very same procedures didn't fail for some nightly build before official v1.9.0 release. I assume there's something wrong with sub-module configuration in release v1.9.0
## To Reproduce

Steps to reproduce the behavior:
Here's the complete `Dockerfile`, note that we

[2021-08-10 03:14] xwang233 commented on #62967
`SyncBatchNorm` syncs batches across the 1st (0-index) dimension. If the 1st dimension of a input is permuted (e.g. `inputs.permute(0,2,1,3)`), I'm not sure if the result would still be correct.

cc @ngimel

[2021-08-10 03:26] #63015 closed

[2021-08-10 03:54] stas00 commented on #22378
ping?

[2021-08-10 04:03] ModarTensai commented on #63006
md5sum seems wrong in anconda.org or in some of its mirrors. @malfet, might need a reupload?

[2021-08-10 04:15] malfet commented on #63006
I don't have an upload rights to the repo, but torchaudio checksum  match ones I've uploaded https://anaconda.org/malfet/torchaudio/files and they were copied to `pytorch` channel using `anaconda copy`

Have you filed a bug again Anaconda yet?

[2021-08-10 04:24] ModarTensai commented on #63006
They don't match on my end. The number of downloads is a good indicator.
![image](https://user-images.githubusercontent.com/7101743/128807961-ee1aef51-8d1b-4f93-ad24-106edfc4fded.png)

What about torchvision? (pytorch/vision#4261 and pytorch/vision#4262)

[2021-08-10 04:37] ModarTensai commented on #63006
For the time being, adding your channel fixes the issue:
[code]

[2021-08-10 04:40] ngimel commented on #62967
I can't repro on master (e55f271), and I can't find commit 63955b3. It's possible that it was fixed in #62839

[2021-08-10 05:18] PeterL1n opened #63016 "grid_sample should not require grid to be the same dimension as input."
## 🚀 Feature

Currently `grid_sample` requires that the `input` and `grid` arguments to have the same dimension, such that given input `[B, C, H, W]`, the grid must be `[B, H', W', 2]`.

However, this is restriction is not necessary. Given the input is `[B, C, H, W]`, why can't the grid be `[B, D, 2]` if I simply want the output to be one-dimensional.

## Motivation

There are cases where we want

[2021-08-10 05:19] PeterL1n commented on #24870
I opened a new suggestion for `grid_sample`: #63016.

Basically, `grid_sample` should not require `input` and `grid` to have the same dimension. For a 4D input `[B, C, H, W]`, grid like `[B, D, 2]` should also work.

[2021-08-10 05:58] narang99 commented on #61122
Can anyone take a look at the commit above ([this](https://github.com/narang99/pytorch/commit/fd70092a55411da99db642c167bc67f4aa5d55d0)). I need to know if the path I took was correct.
Thanks!

[2021-08-10 07:17] #17888 closed

[2021-08-10 07:32] wdlctc opened #63020 "Update _symbolic_trace.py for proxy_placeholder function"
## 🐛 Bug

A bug in proxy_placeholder function cause custom nn.Module with concrete_args not working for torch 1.9.0.
This is because torch force to create proxy for each concrete_args. For specialized function, is it correct to create proxy?

This bug would cause the huggingface/transformers is not able to support torch.fx with torch 1.9.0. https://github.com/huggingface/transformers/blob/3ff2cde5

[2021-08-10 07:40] mschnepf commented on #60358
I tested my code now on a machine with several NVIDIA V100 GPUs and NVLink. On that machine, the code runs fine. Can someone try it on a machine with several NVIDIA V100 GPUs and without NVLink?

I run my code also with different values for the environment variable `NCCL_P2P_LEVEL` on the machine with several NVIDIA V100 and NVLink. The code runs fine except for `NCCL_P2P_LEVEL=PHB`. According to

[2021-08-10 07:51] xuelianl commented on #11756
In my case, it worked after adding the command `export CUDA_VISIBLE_DEVICES=0` at the beginning of my script.

[2021-08-10 08:31] erees1 commented on #62967
Thanks @ngimel to repro the error with the updated code you will need to pass the --permute flag (as per the second example above). Was this the one you were using or were you using the first code snippet I pasted? Thanks!

[2021-08-10 08:52] Flamefire commented on #62708
I took the liberty and got my hands dirty. See https://github.com/pytorch/pytorch/pull/63022 and tell me what you think ;)

[2021-08-10 09:48] gccollect commented on #48888
It is still not existing using the latest nightly on windows 7

[2021-08-10 09:56] perone commented on #29843
It would be nice actually if there are tests in torch checking that the distributions are TorchScript-compatible, as this is a very common scenario.

[2021-08-10 10:39] Charlyo commented on #16831
Still happening on torch==1.9.0+cu111 and cuda 11.4.

[2021-08-10 11:10] nikitaved opened #63023 "[feature request] Type promotions for Boolean tensors + Numpy compatability"
## 🚀 Feature
When doing operations involving boolean and non-boolean tensors, it would be desirable to have a type promotion for boolean tensors which is consistent with Numpy.

## Motivation

The behavior of PyTorch'es boolean tensors is not consistent with the Numpy's behavior, for example:
[code]

[2021-08-10 11:30] zheng-ningxin opened #63024 "Cannot run the TracedModule.code"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.
Hi, I'm using `torch.jit` to trace the `resnet34`, however, I found that the python code returned by the TracedModule.code is not runnable because of the namespace problems. For example.

[code]
and we can see the output:
[code]
We can see that the function calls `torch.add_` which is

[2021-08-10 11:53] zheng-ningxin commented on #60002
Thanks it doesn't hang any more.

[2021-08-10 11:53] #60002 closed

[2021-08-10 12:19] chenweicdw commented on #45073
@fernandocamargoai
Hi,

[2021-08-10 12:37] ysiraichi commented on #62940
@heitorschueroff I think I have fixed it in #62942.
I had unassigned myself because this issue was still under "triage review" at that time. Sorry for the confusion.

[2021-08-10 13:05] fernandocamargoai commented on #45073
Hello, @chenweicdw. I don't completely remember, but I remember that I wasn't able to compile torch 1.8 at all. In the end, compiling torch 1.9 worked without doing all those crazy workarounds. I have the following file saved here with more or less the steps I took. I think it'd not completely up to date, but here it is:

[code]

I hope it helps.

[2021-08-10 13:21] heitorschueroff commented on #62940
Np, I'll review your PR. Thanks for working on this.

[2021-08-10 13:26] liym27 commented on #62951
@BowenBao
@neginraoof

[2021-08-10 13:36] MengeTM opened #63027 "ReLU uses more VRAM for backward-pass than needed"
## 🚀 Feature

Storing the ReLU output Tensor for backward-pass instead of the input Tensor.

Both the input- and output-Tensor should be equivalent regarding the gradient calculation for ReLUs. However, the output-Tensor is usually already stored for calculation of the backward-pass for the following module, giving an opportunity to reduce VRAM allocated by the GPU.

## Motivation

Large models us

[2021-08-10 14:21] StevanCakic commented on #62802
Here is some new example. Same thing:
[code]

Output:
[code]

When I check GPUs and CPUs there is almost no activity at all, but job continues to execute, and no any output after this that I sent.

[2021-08-10 14:23] stas00 commented on #55207
This is awesome to see this development in pytorch!

I propose to slightly modify this proposal to help adopting consistent naming across different projects?

Deepspeeed sort of started to establish logical consistent naming in the 3D-parallelism, and Megatron-LM adopted it and now it is much easier to discuss and communicate to others cross-projects. So since we already have DP (Data Parallel) an

[2021-08-10 14:45] girgink commented on #61693
I'm not sure if it is the case also with Java version, during compilation PyTorch (1.9.0) BLAS auto detection selects BLIS first, although OpenBLAS exists. BLIS doesn't have LAPACK support, therefore torch gives "LAPACK library not found in compilation". You can correct this by setting WITH_BLAS=open, or by editing cmake/Modules/FindBLAS.cmake and setting default value to "open".

[2021-08-10 14:46] MengeTM commented on #63027
LeakyReLU should work with something similar when using `grad *= LeakyReLU.negative_slope * (output < 0) + 1 * (output > 0)`

[2021-08-10 14:54] cpuhrsch commented on #31742
@monchin

What is your use case for this? What do you intend to do with this at a higher level?

[2021-08-10 14:57] BSalita commented on #63006
I'm getting the same checksum error on torchvision and torchaudio. -c malfet resolves the error. I'm uneasy about checksum failures.

[2021-08-10 15:01] cpuhrsch commented on #22378
@stas00 - I'm writing up an RFC for this as we speak. The issue is figuring out the right API since pytorch_scatters' scatter is different from pytorch's scatter. As a basic example for this the [documentation of PyTorch's scatter](https://pytorch.org/docs/master/generated/torch.Tensor.scatter_.html#torch.Tensor.scatter_) explicitly says that repeat indices results in inconsistent behavior, wherea

[2021-08-10 16:44] albanD commented on #63027
I agree with you :)
I feel like we should actually collapse the entries in derivatives.yaml from
[code]
to
[code]

I am not sure though why it is not already done this way so we need to be careful in testing the impact.
Would you be able to send a PR making this change?

[2021-08-10 16:54] mpottinger commented on #47702
MacOS supports Vulkan via MoltenVK. I work on my own apps using Vulkan compute shaders and they work identically between my x86 Desktop and on my M1 Macbook Air. It is a compatibility layer over Metal. This would be the cross platform solution, just have solid support for Vulkan compute and all platforms are covered including mobile.

[2021-08-10 16:58] malfet commented on #63006
https://github.com/pytorch/vision/issues/4261 and https://github.com/pytorch/vision/issues/4262 seems related

[2021-08-10 17:01] lcrun commented on #62954
@gchanan Thank you for your suggestion.  I added
[code]
The above assert of the allclose became true in V100 GPU.

**But** when in our real used case, there are 2 torch.nn.Linears in FFNExpert and 2 weights in MergedFFNExpert as below, it still will be failed:
[code]

[2021-08-10 17:02] samestep commented on #62975
I think this is expected, right? We only add annotations from Flake8 and clang-tidy, not clang-format:

https://github.com/pytorch/pytorch/blob/978490d7c70973a91285de9adaa21ee26f0eb9f8/.github/workflows/add_annotations.yml#L15-L18

[2021-08-10 17:18] ptrblck commented on #62926
It seems the second `inp` argument might create issues (due to aliasing?) and creating a copy seems to work:
[code]
We are checking with the cuDNN team on these limitations.

[2021-08-10 17:20] ngimel commented on #62967
cc @peterbell10. Implementation of syncBatchNorm was slightly changed in 1.9 as a part of generally improving speed of BatchNorm1d that shares the same kernels, but the difference should be within fp limits. If you have data to suggest otherwise, please share.

[2021-08-10 17:27] seemethere commented on #63006
Looks like the root cause of this is that the `anaconda copy --replace` command that was run in https://github.com/pytorch/vision/issues/4240#issuecomment-894930357 just uploaded new packages and kept the old packages instead of replacing the new with the old.

I've gone ahead and deleted the old packages and the issue appears to have resolve itself.

[2021-08-10 17:29] #63006 closed

[2021-08-10 17:29] aminrd commented on #63006
The problem is fixed now, thanks!

[2021-08-10 18:03] malfet commented on #63006
Filed https://github.com/Anaconda-Platform/anaconda-client/issues/581
@rgommers can you please tell me if I filed it against the right issue tracking repo?

[2021-08-10 18:06] sharvil opened #63033 "TorchScript doesn't handle ModuleList assignment in conditional branches"
## 🐛 Bug

The following code, where a local variable `ml` is assigned to the same value in both branches of a conditional, doesn't compile with TorchScript.

[code]

The output is:
[code]

## Expected behavior

The code above should compile. This example is stripped-down to highlight the error. In practice, each branch may assign different `ModuleList` instances, which also fails. An alternate con

[2021-08-10 18:08] #36921 closed

[2021-08-10 18:08] #61929 closed

[2021-08-10 18:21] albanD commented on #62998
It won't run "before any autograd execution" but before any autograd related to functions that happened inside that nn.Module.
So if the user has some code outside of this Module, this other code's backward will still run before the hook.

[2021-08-10 18:31] mruberry commented on #44019
Thanks for the suggestions, @pavelexpertov, I incorporated your recommendations into the Wiki article https://github.com/pytorch/pytorch/wiki/Autograd-and-Fork.

[2021-08-10 18:31] #44019 closed

[2021-08-10 18:34] mruberry commented on #44023
This appears to be an issue with PyTorch Lightning (and possibly only an older version of it). So closing it here.

You might want to open an issue at the PyTorch Lightning Github (https://github.com/PyTorchLightning/pytorch-lightning), @curehabit.

[2021-08-10 18:34] #44023 closed

[2021-08-10 18:36] kshitij12345 opened #63034 "[bug] nn.functional.pad (circular) ubsan failure"
## 🐛 Bug

Build with ASAN
[code]

<details>

<summary> bt </summary>

Output
[code]

</details>

Discovered in https://github.com/pytorch/pytorch/pull/62814

[code]

[2021-08-10 18:45] mruberry commented on #35667
Closing because @glaringlee has answered this question.

[2021-08-10 18:45] #35667 closed

[2021-08-10 18:46] mruberry commented on #35828
Closing due to age. @ahmedhosny if you're still experiencing this issue with the most recent version of PyTorch/CUDA would you please reopen this?

[2021-08-10 18:46] #35828 closed

[2021-08-10 18:50] seemethere opened #63036 "Windows Builds on GHA have a lot of sccache misses"
## 🐛 Bug

When comparing builds of Windows CUDA 10.1 from CircleCI to GHA we can see a big discrepancy in terms of sccache misses

<details>
<summary> GHA (1hr 36min) </summary>

https://github.com/pytorch/pytorch/runs/3292636461

[code]

</details>

<details>
<summary> CircleCI (~30min) </summary>

https://app.circleci.com/pipelines/github/pytorch/pytorch/362556/workflows/b11ab886-c70b-4a02-ab31-

[2021-08-10 18:53] seemethere commented on #63036
Possibly related to https://github.com/mozilla/sccache/issues/35

[2021-08-10 18:59] driazati opened #63038 "Use pytorch-probot for PyTorch-specific stuff + MOTD in Dr. CI comment"
Right now we use Dr. CI's fb-internal code to write out the docs link and link to the hud.pytorch.org PR page on each PR.

![image](https://user-images.githubusercontent.com/9407960/128919082-fd69708c-b07b-49d0-b12f-aff07813b263.png)

This works OK, but if we want to add temporary messages or other information (like the ciflow test plan eventually), it becomes pretty cumbersome to have this live i

[2021-08-10 19:09] BSalita commented on #63006
Thanks for the fix!

[2021-08-10 19:23] bdhirsh commented on #22763
marking as closed since this was fixed by https://github.com/pytorch/pytorch/pull/45699

[2021-08-10 19:23] #22763 closed

[2021-08-10 19:37] rohan-varma opened #63041 "[RFC] Should DDP support custom reduction logic for registered module buffers?"
## 🚀 Feature
Support custom logic (i.e. collective reduction) for registered module buffers as part of DDP training. Currently, when buffers are registered as part of a model, DDP will broadcast them from rank 0 or do nothing if `self.broadcast_buffers=False`. However, we have seen some use cases (such as [here](https://discuss.pytorch.org/t/how-to-prevent-some-buffers-from-being-broadcasted-while

[2021-08-10 19:53] pritamdamania87 commented on #63041
Can we instead pass all the buffers to the hook in a parameter of type Dict[str, Tensor] where the key is the buffer name and the Tensor is the actual buffer? In that case, we can do more efficient coalesced broadcast in the default implementation of the hook. Even the user can use coalesced options for handling different types of buffers.

[2021-08-10 20:14] rgommers commented on #63006
@malfet, that looks like the right repo to me, yes.

[2021-08-10 20:42] laxmimerit commented on #30664
This one worked for me.

[2021-08-10 20:51] cpuhrsch commented on #22378
How about this:

We take [torch.scatter](https://pytorch.org/docs/master/generated/torch.scatter.html?highlight=scatter#torch.scatter), make src optional (src = None) and add a reduce flag (sum, prod, mean, std).

If src is None, the input is the source, if src is given we preserve the current behavior. We deprecate reduce='add' and reduce='multiply' for scatter_ and replace them by 'sum' and 'pro

[2021-08-10 20:55] sharvil opened #63046 "TorchScript function resolution fails under @torch.no_grad()"
## 🐛 Bug

If a function is decorated with `@torch.no_grad()`, TorchScript is no longer able to resolve references to other functions. Removing the decorator enables function resolution.

[code]

results in

[code]

The situation is similar for `Module`s, except that methods can be resolved but free functions cannot.

## Expected behavior

Identical compilation output when scripted function is deco

[2021-08-10 20:57] rohan-varma commented on #63041
Makes sense, I think `Dict[str, Tensor]` is pretty much what we get from `named_buffers` so we can pretty much just pass that into the lambda.

The question would be what to do with buffers that the user doesn't have custom reduction for, i.e.
[code]

It seems like the only option is that the user must add their own `broadcast`/`broadcast_coalesced` logic to the rest of their `named_buffers`, i.e.

[2021-08-10 20:58] #62895 closed

[2021-08-10 21:02] sharvil commented on #63046
Dup of #44768. Closing.

[2021-08-10 21:02] #63046 closed

[2021-08-10 21:19] cpuhrsch commented on #61103
I managed to reproduce this locally and can confirm the failure. Will investigate.

[2021-08-10 21:27] jithunnair-amd commented on #62902
cc @aivanou

[2021-08-10 21:44] jbschlosser commented on #63004
Thanks @wgale for the detailed report! The current semantics of `ignore_index` only ignore the specified class index when encountered within the *target*:

[code]
[code]
Note that input gradients for indices 2 and 4 are zero, corresponding with the indices where `target=ignore_index=1`.

It seems that for your use case, you need input logits for class of `ignore_index` to be ignored as well / not

[2021-08-10 22:25] vadimkantorov commented on #14095
This would speed up color / texture histogram computation or K-means cluster assignment parts...

[2021-08-10 22:46] peterjc123 commented on #63036
Related: https://github.com/pytorch/pytorch/issues/36381
To fix this, we need either to use a constant path or implement the relative path hash calculation in sccache.

[2021-08-10 22:47] #62645 closed

[2021-08-10 23:09] peterjc123 commented on #63036
BTW, I also see someone else recommends this one: https://github.com/mbitsnbites/buildcache, which implements this feature. Might needs some testing since we have NVCC and HCC that may not be supported.

[2021-08-10 23:22] #56911 closed

[2021-08-10 23:30] #62380 closed

[2021-08-10 23:43] lcrun commented on #62954
Another question is these configs
[code]
will also change the behavior of fp16 (more specific it is the apex O1) ?

[2021-08-11 00:55] wgale commented on #63004
Thanks @jbschlosser, that makes sense. It looks like there's already an existing issue about this in #18206.

It sounds like the bug is more of a documentation issue, although adding the functionality to ignore indices could also be useful. Is this something that might be able to be included in PyTorch?

Thanks for you interest @syedaasim033. The CrossEntropyLoss contains the changes needed to ign

[2021-08-11 01:00] wuziq commented on #21737
I tried this for the v1.6.0 branch and I still get this error:  `CMake Error: install(EXPORT "tensorpipe-targets" ...) includes target "tensorpipe" which requires target "uv_a" that is not in any export set.`  Is there a workaround for v1.6.0?

[2021-08-11 01:25] ezyang commented on #61122
That looks pretty promising. You probably don't want an entry for Named and need entry for CPU/CUDA. Not sure why you are redispatching.

[2021-08-11 01:41] SplitInfinity opened #63057 "Find out why TestSparseCPU.test_softmax_cpu_float64 grad and input dtypes are different"
In #62372 (structured kernel port for `log_softmax_backward_data`, some error checking code could not be moved into the meta function because the CPU version of this kernel allows `input` and `grad` to have different dtypes. The only dtype conversion I can see in the `{log}_softmax{_backward_data}` kernels is half to float conversion that is only supported by the CUDA implementation of `{log}_soft

[2021-08-11 02:04] chenweicdw commented on #45073
Hi, @fernandocamargoai
Thanks very much for your information, I will try it.

[2021-08-11 02:48] ZhiyanWXZ opened #63065 "a little problem when using some pretrained models"
## 🐛 Bug

A little problem.

I used some pretrained models to do object detection.

However, when i used models whose name include others models' name, such as 'fasterrcnn_mobilenet_v3_large_320_fpn', (its name includes the name of model 'mobilenet_v3_large'),  it will download the weight file of the short name models.

For example, when i used model 'fasterrcnn_mobilenet_v3_large_320_fpn', whenev

[2021-08-11 03:06] peterbell10 commented on #62967
I have confirmed this is fixed in master, and that #62839 specifically was the fix.

The issue is that the input tensor has `shape=[2, 10, 2, 1]` and `strides=[20, 1, 10, 1]`. This doesn't strictly have the strides of a channels-last tensor (because of the last dimension) and so `suggest_memory_format` returns contiguous and a contiguous output is allocated. However,  `is_contiguous(MemoryFormat::

[2021-08-11 03:57] mszhanyi commented on #62943
I think this issue is beyond the scope of Pytorch.
It should be an issue of https://github.com/ipython/ipython
Python multiprocessing has different behaviors on spawn and fork, interactive and script mode.
So far, any python multiple processing program are not supported in interactive mode with spawn.

If you have time, you could walk through https://github.com/mszhanyi/pymultiprocessdemo.

[2021-08-11 04:17] ZacharyChenpk opened #63069 "CUDA error: invalid configuration argument for torch.sparse tensor backward"
## 🐛 Bug

When using backward for sparse tensor on CUDA, which works well for both dense+CUDA and sparse+CPU, an CUDA error occurs: invalid configuration argument .

## To Reproduce

Steps to reproduce the behavior:

1. sparse+CUDA(error occurs)
[code]
2. dense+CUDA(fine)
[code]
3. sparse+CPU(fine)
[code]

## Expected behavior

There should not be error in backward, and the grad should be calculat

[2021-08-11 04:50] gmagogsfm commented on #62394
Actually, if you build PyTorch from source and set `USE_DEBUG=1` when calling `setup.py`, then you should have debug symbols.

[2021-08-11 04:55] gmagogsfm commented on #60953
Yeah, good point. Because `assert` is so commonly used to refine shapes, stripping `assert` is effectively a "lossy" (or even risky) transformation. TorchScript tends to lean on the conservative side when making transformations. What do you think about this option though: We can open up the ability to register custom transformation passes so that you can write a pass that operates on TorchScript I

[2021-08-11 05:00] gmagogsfm commented on #60933
I think this is actually not about TorchScript serialization. The `torch.jit.load` in error message is just a red herring. The real error location is from PyTorch generic `torch.load`.

I am not an expert of `torch.load` but I think it generally requires the exact same class and nn.module definition, otherwise it is not guaranteed to work.

[2021-08-11 05:03] gmagogsfm commented on #61176
@tugsbayasgalan It looks like you assigned yourself. Do you intend to work on it?

[2021-08-11 05:14] gmagogsfm commented on #56660
Any latest update here? Shall we close it?

[2021-08-11 05:33] gmagogsfm commented on #38964
Claiming for a bootcamp task

[2021-08-11 05:45] gmagogsfm commented on #53839
Thought a bit more about adding `torch.future.Futures` support:

`torch.jit.fork` is essentially TorchScript's way of creating a restricted thread (ie, it must conform to a well defined function, must guarantee to produce requested results etc).

Supporting `torch.future.Futures` is essentially allowing creation of an empty future that doesn't have a well-defined computation behind it and may neve

[2021-08-11 05:45] #53839 closed

[2021-08-11 05:55] gmagogsfm commented on #53744
@raziel @iseeyuan I think this can be another good motivation for operator versioning. The current behavior is way off compared to Python but because of production stability, we can't move forward with changing this behavior easily.

[2021-08-11 05:58] gmagogsfm commented on #7968
Closing due to inactivity. Please reopen if this is still needed.

[2021-08-11 05:58] #7968 closed

[2021-08-11 06:06] gmagogsfm commented on #52435
I tried dumping the TorchScript graph of the model in example, it doesn't contain a cast to double node. I guess it is added during lowering to ONNX.

Given @spandantiwari 's suggestion to use ONNX python API to remove the cast nodes, I will close this issue.

[2021-08-11 06:06] #52435 closed

[2021-08-11 06:06] gmagogsfm commented on #52517
@SplitInfinity Would this make a good item for the upcoming doc-a-thon?

[2021-08-11 06:08] gmagogsfm commented on #49597
Closing this issue since there is a close-enough work around and there are no similar requests.

[2021-08-11 06:08] #49597 closed

[2021-08-11 06:09] gmagogsfm commented on #48780
Closing due to inactivity.

[2021-08-11 06:09] #48780 closed

[2021-08-11 06:09] SplitInfinity commented on #52517
Yes, I think so.

[2021-08-11 06:12] gmagogsfm commented on #47955
Looks like `keepdims` is no longer a valid keyword for `torch.sum`. Closing this issue now.

https://pytorch.org/docs/stable/generated/torch.sum.html

[2021-08-11 06:12] #47955 closed

[2021-08-11 06:16] #40912 closed

[2021-08-11 06:17] gmagogsfm commented on #40994
Closing due to inactivity

[2021-08-11 06:17] #40994 closed

[2021-08-11 06:19] gmagogsfm commented on #41674
Added ONNX label to involve the experts. @suo and I do not work on ONNX exporter directly.

[2021-08-11 06:21] rojas70 commented on #45021
Thank you for the feedback.

There were indeed problems in my environment. Packages were not being saved locally but globally... I started the virtual environment from scratch again and verified each installation and software version to ensure consistency.

I came up with the following set of instructions in case it might help others:

[2021-08-11 06:22] gmagogsfm commented on #42017
I think `TensorList` is a `c10::ArrayRef` of `Tensor`, it is not a single `Tensor`. `ToTensor` only works for a single Tensor.

[2021-08-11 06:22] #42017 closed

[2021-08-11 06:22] gmagogsfm commented on #42592
Moving this to performance workstream triage board. Not sure if it is even relevant given the versions in question are more than 1 year old.

[2021-08-11 06:25] gmagogsfm commented on #45013
`docstring` is now supported. comments and keyword arguments are not supported.

[2021-08-11 06:25] #45013 closed

[2021-08-11 08:48] zhihangxie commented on #62252
It turns out to be a platform-dependent issue, so close the issue. Thanks @mruberry and @gmagogsfm.

[2021-08-11 08:48] #62252 closed

[2021-08-11 08:50] gyenesvi opened #63076 "Tracing models all the way down to basic functions"
## 🚀 Feature

I propose the enhancement of `torch.fx.Tracer` such that it is able to trace models all the way down to basic torch functions (like the ones in `torch.functional` or `torch.nn.functional`, as opposed to stopping at predefined modules in `torch.nn`).

## Motivation

In an attempt to extract the flat computational graph consisting of only basic function calls (not containing calls to f

[2021-08-11 09:06] mszhanyi commented on #54648
Latest MSVC has resolved this issue.

[2021-08-11 09:06] #54648 closed

[2021-08-11 09:46] MengeTM commented on #63027
Using "result" instead of "self" results in a much larger VRAM need for both the proposed relu (my version above) and the native relu. How it is defined which tensors are saved for backward?

[2021-08-11 09:55] jwildner opened #63077 "Converting PIL images to tensors strange behavior."
## 🐛 Bug

When loading a grayscale image with PIL in the image mode L, the pixel values get altered. I am not sure if this is intended, but for me this was unexpected.

## To Reproduce

Code to reproduce the behavior:

[code]

[2021-08-11 10:53] vfdev-5 commented on #62237
@nicholasw-gc thanks a lot for pointing out that. Yes, that's true that more appropriate code should be
[code]
and this is what Pillow et scikit-image/scipy do.

[2021-08-11 12:44] jatentaki opened #63078 "torch.cuda.amp fails with torch.sparse.softmax"
## 🐛 Bug

Models using `torch.sparse.softmax` fail under `torch.cuda.amp.autocast` with `RuntimeError: "softmax" not implemented for 'Half'` even though softmax would be carried out in f32 anyway. Fixing this should merely require blacklisting `torch.sparse.softmax` from autocast f16 ops.

## To Reproduce

[code]

Stack trace:

[code]
## Expected behavior

Successful optimizer step in both cases (

[2021-08-11 12:51] jsonbruce commented on #47978
Same Issue.

## Environment

- macOS 11.5.1
- python 3.9.6
- pip 21.1.3
- pytorch 1.5.0

[2021-08-11 13:46] madbats commented on #35723
Did you have any luck ? I'm currently experiencing the same problem

[2021-08-11 14:38] ansley commented on #54593
Multiple refinement with tuple type fixed [here](https://github.com/pytorch/pytorch/pull/60465), so all we need is the type refinement for logical operators

[2021-08-11 15:03] brianjo commented on #20359
For anybody working on this, we could possibly implement the sphinx doctest module: https://sphinx-tutorial.readthedocs.io/step-3/

[2021-08-11 15:06] fzimmermann89 commented on #51511
Having the same issue, no matter which order of imports of pytroch and numba I do:

```python: /tmp/llvm/include/llvm/Support/CommandLine.h:813: void llvm::cl::parser<DataType>::addLiteralOption(llvm::StringRef, const DT&, llvm::StringRef) [with DT = llvm::FunctionPass* (*)(); DataType = llvm::FunctionPass* (*)()]: Assertion findOption(Name) == Values.size() && "Option already exists!"' failed. ``

[2021-08-11 15:09] jbschlosser commented on #62094
Good question - in the linked draft PR, the recursion is handled automatically within the base `nn.Module`. Each module's `get_extra_state()` / `set_extra_state()` implementations only take care of the module's immediate extra state (see tests in linked PR for an example with submodules).

That said, since extra state is defined as methods on the module class (i.e. at the module class level), ther

[2021-08-11 15:26] lukebroskop opened #63083 "Problem building w/ +rocm on Cray system"
I'm receiving errors during the caffe2 build portion of pytorch from the cuda namespace:
[code]

Here's what I use to install
`py-torch@1.9.0 %gcc +rocm~cuda~mkldnn~cudnn~magma~nccl~valgrind~tensorpipe~kineto~caffe2`

PyTorch Version (e.g., 1.0): 1.9.0
OS (e.g., Linux): SUSE Linux Enterprise Server 15 SP2
How you installed PyTorch (conda, pip, source): source
Build command you used (if compiling f

[2021-08-11 15:37] adamjstewart commented on #63083
Can you share the full `spack-build-out.txt` and `spack-build-env.txt`? That will give more context.

For PyTorch folks, note that this build was done with the [Spack](https://spack.io) package manager which builds everything from source.

[2021-08-11 15:39] Lezcano commented on #59998
After an offline discussion with @albanD, we were discussing that the correction `z * z.conj()` might just not be the right one, but rather that "Optimizer on complex tensors should behave the same way are if they were running on two real tensors".

The reasons for this choice are best explained via an example:
One way of implementing a network with complex tensors is to use the dtype `torch.compl

[2021-08-11 15:40] lukebroskop commented on #63083
Sorry I forget to add that!
[spack-build-env.txt](https://github.com/pytorch/pytorch/files/6969666/spack-build-env.txt)
[spack-build-out.txt](https://github.com/pytorch/pytorch/files/6969659/spack-build-out.txt)

[2021-08-11 15:51] avitase commented on #59998
This seems indeed one of these rare occasions where opposite opinions can both be valid at the same time. However, in terms of a general purpose ML framework such as PyTorch, I think it is the best **default** behavior to treat complex parameters as a tuple of real numbers contributing two independent DoF. @Lezcano did a good job in explaining what I tried to phrase in https://github.com/pytorch/p

[2021-08-11 15:54] desertfire commented on #62616
My understanding is C++ extension does not go through the dispatcher, so it won't trigger LTC and its fallback logic. One solution is to explicitly call input.cuda() in your kernel as you did in your #if branch. @asuhan, any comment?

[2021-08-11 15:54] adamjstewart commented on #63083
I think there are two bugs here:

1. Despite the `USE_ROCM` environment variable being set to `ON`, CMake is detecting that ROCM support should be disabled
2. Despite `USE_CUDA=OFF` as an environment variable and in CMake, CMake is still trying to link to a CUDA installation

Will continue to dig into 1, but 2 is out of my area of expertise.

[2021-08-11 16:02] jbschlosser opened #63085 "Split up test_nn.py"
## Background
The `test/test_nn.py` file is huge monolith that is too large to work with comfortably; it doesn't load fully in GitHub, syntax highlighting breaks in vim, etc. We should break it up to be more manageable.

## Proposal
There's a few different ways to go about this:
1. Split the existing test classes (e.g. `TestNN`, `TestNNDeviceType`, etc.) into separate files.
    * Easiest, most di

[2021-08-11 16:09] wuziq commented on #21737
I tried `-DUSE_TENSORPIPE:BOOL=OFF`, which gets me past the configure step, but when I build, I get this error:

[code]

[2021-08-11 16:19] rohan-varma opened #63086 "Investigate why ZeRo test fails on Windows"
## 🐛 Bug

See failure: https://github.com/pytorch/pytorch/runs/3285946777

[code]

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @rohan-varma @gqchen @aazzolini @osalpekar @jiayisuse @agolynski @SciPioneer @H-Huang @mrzzd @cbalioglu @gcramer23 @mruberry @VitalyFedyunin @walterddr

[2021-08-11 16:24] allevitan commented on #59998
I don't have a particularly strong opinion about this, but I think there are a few further notes worth considering:

1) Using the variance `z*z.conj()` has the nice property that it will perform equally well, regardless of the phase (argument) of the optimal value of z. When we use Adam on a tuple of real/imaginary parts, the performance of the algorithm will be different when optimizing around, s

[2021-08-11 16:37] LSinev commented on #63015
so how you fixed this?

[2021-08-11 16:42] #54420 closed

[2021-08-11 16:49] wconstab commented on #62616
Yes.

I think this should work.

The only other solution I can think of is to implement one of the at::Tensor methods such as data() on LTC, and make it implicitly trigger a sync and copy.  I'm not sure what the considerations might be here.  Was avoiding implementing `data()` a design choice, to make the system more predictable or avoid some edge cases, or is it just something that wasn't yet nec

[2021-08-11 17:12] jjhuang-ca opened #63091 "torch.nn.functional.conv1d with long kernels causing inconsistent behaviors in subsequent processing blocks"
## 🐛 Bug

When running a long kernel conv1d operation, some operations that follows can have a dramatic slowdown.  The behavior is inconsistent, affecting some operations but not others.  Although I'm only showing one simple example, there's potential that it would impact much more other operations.  An example can be shown by the code example below.  There is a workaround for the example given in

[2021-08-11 17:15] jacatarino commented on #26608
I had the same problem and I tried to run _conda update pytorch torchvision_ and it worked for me.

[2021-08-11 17:16] pbldmngz commented on #60053
This annoying warning still persists.
[code]
[code]
I'm using a laptop with no GPU, I hope is not part of the problem.

[2021-08-11 17:37] zhouzhuojie commented on #61684
A new one from windows: https://github.com/pytorch/pytorch/runs/3303260404

[code]

[2021-08-11 17:37] asuhan commented on #62616
Yes, leaving out `data()` (or `storage()`) is a design choice. Having a graph compiler means that only the inputs and the outputs have to contain data and none of temporaries have to be materialized, should the compiler decide so. Leaving that decision up to the compiler means that looking at the underlying data is meaningless - there could be none. Think of what happens for element-wise fusion of

[2021-08-11 18:01] ejguan opened #63095 "DataChunk should support `sort` method"
When using `batch` on DataPipe, data will be yielded as DataChunk as a list.

`list` has a method of `sort` supporting in-place sorting, which is missing for `DataChunk`. Since `DataChunk` is inheriting `list`, this should be feasible to fix easily.

[code]
The above code won't really sort the `DataChunk`.

I am using `sorted` as a work around, but it will return `list` rather than `DataChunk`
[co

[2021-08-11 18:29] pmeier commented on #60053
@pbldmngz this was fixed in #60059, but there has been no release since.

[2021-08-11 18:49] jeffdaily commented on #63083
I'm not very familiar with spack, but is there any way to verify that ROCm is installed in your environment as a prereq?

[2021-08-11 19:11] ejguan commented on #63095
Also needs to investigate `random.shuffle(DataChunk)`.

[2021-08-11 19:15] adamjstewart commented on #63083
It looks like our Spack recipe is missing a dependency on ROCm. Does anyone know exactly which ROCm components are required? Right now Spack has packages for:
[code]
Also pinging our Spack + ROCm experts: @haampie @srekolam @arjun-raj-kuppala

[2021-08-11 19:19] fridex opened #63098 "PEP-503 simple repository API gives access denied"
## 🐛 Bug

When accessing pytorch PEP-503 simple repository API, I get access denied errors if I do not provide `/` at the end of the URL.

## To Reproduce

Steps to reproduce the behavior:

1. Go to https://download.pytorch.org/whl/cpu (mind missing slash at the end)
1. See the error:

[code]

Similarly for https://download.pytorch.org/whl/cu111

## Expected behavior

The page should give package

[2021-08-11 19:24] srekolam commented on #63083
yeah, the pytorch recipe in spack is not updated for rocm recipes.. i am trying to add one by one all the relevant recipes..there are spack packages available with the same name as mentioned in https://github.com/pytorch/pytorch/blob/master/cmake/public/LoadHIP.cmake
 spack list hip
==> 13 packages.
hip  hip-rocclr  hipace  hipblas  hipcub  hipfft  hipfort  hipify-clang  hipsparse  hipsycl  kahip

[2021-08-11 19:25] ngimel commented on #63091
You are not correctly timing asynchronous cuda operations, please use Timer https://pytorch.org/docs/stable/benchmark_utils.html?highlight=timer#torch.utils.benchmark.Timer

[2021-08-11 19:30] iramazanli commented on #59998
My observations to the point is indeed PyTorch complex optimization had problem with Adam, as we used to multiply gradient with a complex number in the last step - updating parameter part of optimization

It could be shown that, it is necessary to multiply gradient always with a real number instead of complex when we are updating parameter no matter domain we are working is complex or not (any gen

[2021-08-11 19:30] #62940 closed

[2021-08-11 19:42] desertfire commented on #62616
Does that mean if the input to a custom kernel is an expression like, `a+b`, it will still fail?

In the spirit of seamlessly compatible with eager, my suggestion to manually add .cuda() is probably a bad idea.

[2021-08-11 19:48] #62708 closed

[2021-08-11 21:15] heitorschueroff commented on #44409
I was trying to better understand the problem so I wrote some minimal code to trigger the same problem, here is a link to cppinsights that shows the template specialization of Wrapper performing a static_cast https://cppinsights.io/s/60f15322.

I'm not an expert on template metaprogramming, but is there a way to prevent template specializations that would require static_casts like these? Or perhap

[2021-08-11 21:49] alanwaketan opened #63109 "Fix linter general issues in the lazy_tensor_staging branch"
Fix linter general issues in the lazy_tensor_staging branch such that they won't confuse new PRs. Details are here: https://github.com/pytorch/pytorch/actions/runs/1121621294.

[2021-08-11 21:50] srekolam commented on #63083
I think these below rocm packages need to be added to the recipe but i see a build failure related to {ROCM_PATH}/.info/version-dev which need to be addressed for spack case-
    depends_on('miopen-hip', when='+rocm')
    depends_on('rccl', when='+rocm')
    depends_on('rocprim', when='+rocm')
    depends_on('hipcub', when='+rocm')
    depends_on('rocthrust', when='+rocm')
    depends_on('roctrace

[2021-08-11 22:39] alanwaketan commented on #62440
Should we close this since the PR is merged?

[2021-08-11 22:54] #63091 closed

[2021-08-11 23:23] asuhan commented on #62440
@alanwaketan I think so.

[2021-08-11 23:23] #62440 closed

[2021-08-11 23:28] asuhan commented on #62616
@desertfire Yes, it should, to avoid surprising performance cliffs in the API. The caller can always decide to materialize `a + b` first, so it's strictly more flexible to have `mabye_` versions then bundle them with materialization in a single API.

Regarding `.cuda()`, yeah, I agreed with it in spirit. You could use `to(device='...')` with CUDA / CPU depending on whether LTC_TS_CUDA is set.

[2021-08-11 23:51] qihqi commented on #38964
The cause seems to be we are using name resolution callback created  by `_jit_internal.createResolutionCallbackFromFrame` (https://github.com/pytorch/pytorch/blob/master/torch/jit/_script.py#L1266). This works by getting python call frame in the level of when `torch.jit.script` is called; in this case, is the `main.py`. `main.py` does not define symbol `f` and therefore it fails. Using createResol

[2021-08-11 23:53] pritamdamania87 commented on #62094
I don't think this is an issue since the ShardedTensor would be part of the module itself. I think an example would be something like this which would work:

[code]

[2021-08-12 00:20] yaadhavraajagility commented on #40208
Curious to know if there is a workaround for this

[2021-08-12 00:44] matthiaslmz opened #63124 "torch.jit.save quantized bigbird leads to 0INTERNAL ASSERT FAILED runtime error"
## 🐛 Bug

Attempt to save a quantized bigbird model  leads to 0INTERNAL ASSERT FAILED runtime error.

## To Reproduce

Steps to reproduce the behavior:

1. Git clone this [repo](https://github.com/matthiaslmz/quantized_bigbird_issue)
2. Run `example.ipynb`

Stacktrace:
`---------------------------------------------------------------------------
RuntimeError                              Traceback (

[2021-08-12 01:52] jaffe-fly opened #63125 "same platform diff docker (runtime/devel) cant read GPU?"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)
all test in the same platform(centos,  GPU driver is 416.xxx,  )
in dockerhub
docker

[2021-08-12 02:29] ginn-gu commented on #50714
Same issue, Mark for a solution

[2021-08-12 02:39] vietvo89 commented on #49095
I ran into the same problem when using Dataparallel. I found some solutions but have not tested yet. However, what I did is initialize environment parameters like below, particularly cuda visible devices can be 0 or 1 if you have more than one GPU and which one has free memory. I hope that helps.

- os.environ["CUDA_DEVICE_ORDER"]="PCI_BUS_ID"
- os.environ["CUDA_VISIBLE_DEVICES"]="1"

[2021-08-12 02:59] logichen commented on #54822
It seems that this solved your problem. I am facing a similar problem, and I can't get what you mean by "--ipc=host" (I use no docker but I'm using a conda environment). Any suggestions? Thanks.

[2021-08-12 03:05] BorisPolonsky commented on #63015
I deleted the whole third_party folder, reset deleted file tracked by the repo and then re-run the sync processes

[2021-08-12 03:59] sharvil commented on #33354
@eellison can you please point at some of the commits that improved compilation time in the 1.7 release? I'm on 1.8 and am seeing a TorchScript model take >12s when the eager equivalent for the same input runs in ~100ms. Repeated executions of the TorchScript model on the exact same input seems to somewhat arbitrarily choose between a fast path and a slow path and it's unclear to me why that's the

[2021-08-12 04:02] mruberry commented on #62955
Thanks for filing this issue @BrunoKM! They should definitely be consistent, but changing this will be a little tricky because it may have backwards compatibility implications.

[2021-08-12 04:09] danansheng commented on #42218
hi，how do i complete this work? the input is complicated.

[2021-08-12 04:27] mruberry commented on #60344
Really nice write-up, @walterddr and @rohan-varma!

I like the idea of separating the distributed tests because they seem significant enough to merit their own build. Using a decorator to enforce what is and isn't tested is a great idea because we want as much logic in the test files as possible for readability and maintainability.

One idea would be a decorator like `@testOnMainOnly`. To run test

[2021-08-12 05:28] gmagogsfm commented on #38964
Nice analysis.

Agreed #1 seems like the way to go. A class without any methods is an extreme case that shouldn't matter because if it doesn't have any methods, it wouldn't need to reference a symbol name.

[2021-08-12 05:28] ahyunSeo commented on #50210
Same here with 1.7.1 and cuda 11, RTX 3090

[2021-08-12 05:34] gmagogsfm commented on #62154
Is the error gone when you install torchvision with `--no-deps`?

[2021-08-12 05:36] gmagogsfm commented on #62165
CC @iseeyuan, do you know who could look into this XNNPACK issue?

[2021-08-12 05:37] mruberry commented on #62674
Closing this since it is likely fixed in the newest PyTorch release. @beew, if you're still seeing this issue with the latest version of PyTorch would you please file a new issue?

[2021-08-12 05:37] #62674 closed

[2021-08-12 05:39] gmagogsfm commented on #61743
This is a known unsupported feature blocked by first-class function as a value in TorchScript. There is currently no immediate plan to add this support. I will close this for now

[For future readers of this comment]
If you have similar need, feel free to comment on this thread if you have the same feature request or if you are interested in contributing this feature.

[2021-08-12 05:39] #61743 closed

[2021-08-12 05:42] mruberry commented on #62747
cc @peterbell10 -- what do you think? These operations are derived from librosa

We could even think about moving them to a librosa namespace: torch.librosa.stft, for example

[2021-08-12 05:42] gmagogsfm commented on #61221
Moving to performance workstream triage board

[2021-08-12 05:43] stanleyshly commented on #35633
Same, this seems like an extremely useful, I know this is marked low priority but I was wondering if any plans have been make to integrate Large Model Support yet.

[2021-08-12 05:45] gmagogsfm commented on #41869
This seems like an interesting case especially since you mentioned guarding it with an `if` doesn't work. This makes me suspect a mis-compilation. Would you mind showing a bit more about your code and the changes you made?

[2021-08-12 05:48] gmagogsfm commented on #61655
This issue looks more like a configuration issue based on the error message:
[code]

I will remove it from JIT triage queue for now since it looks unrelated to TorchScript. Feel free to add it back if this is incorrect

[2021-08-12 05:51] mruberry commented on #62166
If you could provide a self-contained valid snippet that would be very helpful, @rustrust

[2021-08-12 05:57] mruberry commented on #61490
Before we get too deep into this I think there are a couple facts we need:

- how often do people use both return values from max
- how slow is calling max and then arg_max

Even if we decide not to deprecate max I'd be curious to see a function like `max_with_indices` (name TBD) that always returned both the maximum values and their indices to avoid max's odd polymorphism.

[2021-08-12 05:57] gmagogsfm commented on #61628
Yeah, this is a limitation of TorchScript compiler. It doesn't propagate metaprogramming information far enough (at all). You'd need to have the check for existence of optional modules in the predicate of `if` for the true/false branches of `if` to recognize the module does not exist and shouldn't matter (since it is not used in the branch of `module is None`. Glad it works out for you now. Closin

[2021-08-12 05:57] #61628 closed

[2021-08-12 06:02] mruberry commented on #62813
This would be nice to do. It may be easier to create a new function in the linalg namespace if there are BC/FC issues with PyTorch's current diagonal.

[2021-08-12 06:04] mruberry commented on #62810
We should be careful because I don't think torch.cross is compliant with the Python Array API specification or NumPy, so we may need a plan to deprecate its behavior.

[2021-08-12 06:04] gmagogsfm commented on #54821
@ezyang any updates on motivating use cases in the past few months? I think last time we talked about it, it was still a big vague.

[2021-08-12 06:07] mruberry commented on #62535
@peterbell10 -- would you see if you can reproduce this?

[2021-08-12 06:11] #57937 closed

[2021-08-12 06:12] gmagogsfm commented on #58237
Closing due to inactivity. Feel free to reopen if you'd like to discuss further.

[2021-08-12 06:12] #58237 closed

[2021-08-12 06:19] gmagogsfm commented on #53252
I recently fixed a couple bugs in correctly recognizing mypy type annotations in `torch.jit.script`. You can give your program a try with latest version of PyTorch.

I will close this issue for now due to inactivity, feel free to reopen if you'd like to discuss further.

[2021-08-12 06:19] #53252 closed

[2021-08-12 06:19] AnirudhDagar commented on #62810
I might have missed something. @mruberry could you be more specific about the divergence from Array API?  Thanks!

Also, I have a small question (if there are no compliance issues and we go ahead) with the alias to `linalg` namespace (had a brief offline discussion with @IvanYashchuk yesterday).

Currently `torch.cross` lies in [cross.cpp](https://github.com/pytorch/pytorch/blob/master/aten/src/AT

[2021-08-12 06:22] gmagogsfm commented on #54937
I think this is caused by lack of type annotations for https://github.com/idiap/fast-transformers/blob/2fe048a14c2e67787f553e899123ca4ba9f27e76/fast_transformers/masking.py#L90

You can try changing it to `def all_ones(self) -> bool:`.

[2021-08-12 06:25] gmagogsfm commented on #56339
Due to inactivity, I will close this issue.

Based on the limited information, my best guess is that `baseline_flops` is an optional attribute of a module. It happens to not exist for this particular module instance being compiled. Feel free to reopen the issue and continue discussion if you could provide more details about your program.

[2021-08-12 06:25] #56339 closed

[2021-08-12 06:27] gmagogsfm commented on #57559
@jamesr66a @tugsbayasgalan

Flagging this proposal, it sounds like a pure improvement over what we have today, other than potential slow down from deepcopying a bunch of data. Thoughts?

There doesn't seem to be enough motivating use cases (so far 1) behind it. But if this isn't a lot of work, we should consider adding it.

[2021-08-12 06:28] gmagogsfm commented on #57740
To add on @nikithamalgifb said, TorchScript requires a fully initialized static modules, thus it is unsupported to register new buffer in the middle of forward by design.

[2021-08-12 06:28] #57740 closed

[2021-08-12 06:29] gmagogsfm commented on #59064
Hi @jingxu10, sorry for the delay. I was actually compiling from source. Have you tried latest PyTorch? Is the issue still there?

[2021-08-12 06:31] narang99 commented on #61122
The code for sparse, quantized and out-of-tree was done after handling the named tensor in the older code, so instead of copying the whole named handling code in all kernels, I thought redispatching would be better.

[2021-08-12 06:44] ngimel commented on #61490
how slow is calling max and then arg_max

The issue, as @alband pointed out, is not whether people use both return values from max, it's that even if only value is used, gradient is different compared to amax.
Calling `max` and `argmax` is, unsurprisingly, approximately twice as slow as calling one of them.

Also, I would like to understand what are we gaining by turning`max/min` into an alias for

[2021-08-12 06:48] #62967 closed

[2021-08-12 07:00] jingxu10 commented on #59064
Hi @gmagogsfm , this issue had been fixed from ipex 1.8.0. we use stock pytorch wheel file from 1.8.0, so no issues now.

[2021-08-12 07:01] gmagogsfm commented on #59064
Thanks for confirming

[2021-08-12 07:01] #59064 closed

[2021-08-12 07:04] rgommers commented on #61490
`amax`/`amin` are weird aliases in numpy that are very infrequently used, `max`/`min` are the normal functions. The only reason `amax`/`amin` exist is because long ago it was considered a problem to alias builtins (from the time people did `from pylab import *`).

This is true but note that cause and effect are switched. The different math follows from the polymorphism, not the other way around. A

[2021-08-12 07:45] ZYJESJ opened #63136 "About the implementation of torch.svd"
Dear source code contributors, hello!
I am currently developing a tensorRT svd plugin, the goal is to align the results of pytorch's torch.svd and torch.linalg.svd. I checked the source code of pytorch and learned that the implementation of cuda is implemented through cuslover. Due to the complexity of the source code, I browsed some of them and found that the results could not be aligned when doi

[2021-08-12 08:04] IvanYashchuk commented on #62810
`torch.cross` is not compliant with NumPy. NumPy has the possibility to choose the axes (dimensions) which are considered as vectors separately for each input and result, and it has the `axis=None` argument that overwrides other choices and is same as `dim` in PyTorch when specified but the default behavior is different.

`torch.cross` has a similar function signature as the current Array API.
[co

[2021-08-12 08:29] ylxdzsw opened #63137 "FX does not support tracing the `@` (the matrix multiplication) operator"
## 🐛 Bug

FX does not support tracing the `@` (the matrix multiplication) operator.

## To Reproduce

[code]

## Expected behavior

It should trace this oepartor like others.

## Environment

PyTorch version: 1.9.0
Is debug build: False
CUDA used to build PyTorch: 10.2
ROCM used to build PyTorch: N/A

OS: [hide enterprise version] (x86_64)
GCC version: (GCC) 4.8.5 20150623 (Red Hat 4.8.5-39)
Clang

[2021-08-12 08:40] koji-inui opened #63138 "Sign in slogdet is set to requires_grad = False even when using complex numbers."
## 🐛 Bug

The grad in the sign part of torch.linalg.slogdet is disabled even when the matrix elements are complex numbers.
This is not a problem when using real numbers.
However, in the case of complex numbers, it is a problem because we cannot differentiate the angle direction in the complex plane.

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

Both sign and log

[2021-08-12 08:42] mszhanyi opened #63139 "Random CI error 'CUDA xxx installed failed'"
## 🐛 Bug

sometimes,  binary windows build CI failed due to random error, For example
https://app.circleci.com/pipelines/github/pytorch/pytorch/363222/workflows/025e38a7-8a73-44d7-b88c-127c9a666035/jobs/15322148

**And it can pass with rerunning it.**
## To Reproduce

Since it's a random error, hard to reproduce.

## Expected behavior

CI don't fail.

## My analysis
Yesterday, one of my PR came ac

[2021-08-12 08:47] Lezcano commented on #62810
It's very funny that in the docs of `torch.cross`  it warns (emph mine):

In other words, don't pass tensors of shape `(3, 3)`, or you'll be up for an interesting bug-hunt evening.

I think that this is a great time to correct this. I believe that the behaviour suggested by the array API is a much better one. We could do with this as we've done with other functions such as QR, SVD, eig, symeig...

[2021-08-12 08:54] gaocegege opened #63140 "[documentation] torch.distributed.elastic: illustrate how to write load_checkpoint and save_checkpoint in Train Script"
https://pytorch.org/docs/master/elastic/train_script.html

If users want to run elastic jobs, he/she needs to write some logic to load and save checkpoints. And maybe `State` like this https://github.com/pytorch/elastic/blob/master/examples/imagenet/main.py#L196 should be defined.

It is not clear in the documentation, it will be better to document it.

[2021-08-12 08:58] MichaelWU0726 opened #63141 "_export_onnx(): incompatible function arguments"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

when i export yolov5 to onnx format, it showed that:
[code]

I used the following:
[

[2021-08-12 09:09] AnirudhDagar commented on #62810
Thanks, @IvanYashchuk for sharing the detailed state of `cross` API across the libraries and also linking some very relevant NumPy issues. Looks like the default behaviour is the only divergent thing with Array-API. I'm not sure, but I guess PyTorch will prefer to be compliant with Array-API over NumPy in such scenarios where the three are different.

Nice catch @Lezcano, I can incorporate this in

[2021-08-12 09:20] dagitses commented on #50276
Thanks Ralf. That is the plan. The slightly more detailed plan is as-follows:

1) add an `OpInfo` for the operator. This is somewhat orthogonal, but it is related here in that it gives us the reference test as we approach conformance.
2) update meshgrid documentation to document the present discrepancies between the NumPy reference. Also, to clarify the operator's docstring to avoid confusion abou

[2021-08-12 09:28] MichaelWU0726 opened #63142 "_export_onnx(): incompatible function arguments"
## 🐛 Bug

when i export yolov5 to onnx format, it showed that:
[code]

## To Reproduce

I used the following:
[code]

## Environment

 - PyTorch Version (e.g., 1.0): 1.7.1
 - OS (e.g., Linux): Ubuntu18.04
 - How you installed PyTorch (`conda`, `pip`, source): pip
 - Python version: 3.7.8
 - CUDA/cuDNN version: 11.0/0.8.2
 - GPU models and configuration: NVIDIA 2080Ti
 - Any other relevant informat

[2021-08-12 09:40] randolf-scholz opened #63143 "ReduceLROnPlateau is not a subclass of _LRScheduler"
## 🐛 Bug

This is probably just a small oversight, but I noticed that [`lr_schedulers.ReduceLROnPlateau`](https://pytorch.org/docs/stable/_modules/torch/optim/lr_scheduler.html#ReduceLROnPlateau) is, contrary to all other `lr_scheduler` classes, not a subclass of `lr_schedulers._LRScheduler`

cc @vincentqb @jbschlosser @albanD @iramazanli

[2021-08-12 09:55] mruberry commented on #62810
Unsurprisingly I agree with you, @Lezcano, and thank you for the write-up, @IvanYashchuk. linalg.cross being consistent with the Python Array API (over NumPy) makes sense because NumPy has no linalg.cross. I also think we can implement linalg.cross without immediately deprecating torch.cross, although we should definitely refer users to linalg.cross. Deprecating torch.cross will require additional

[2021-08-12 10:07] nikitaved commented on #62166
A follow-up on the script by @Lezcano, I cannot reproduce it either:
[code]

[2021-08-12 10:20] nikitaved commented on #62166
@mruberry , @Lezcano , but `matrix_rank` seems to be very weird, have a look at this:
[code]

[2021-08-12 10:29] Lezcano commented on #62166
It turns out that this is related to
https://github.com/pytorch/pytorch/issues/54151
as
[code]
returns `0.0625`, which is incredibly high.

I'd say you post these findings there, and they'll be fixed whenever @IvanYashchuk solves that issue.

Thank you for finding this, this points to the fact that the defaults that we currently have are certainly no good.

[2021-08-12 10:32] nikitaved commented on #54151
The current default values for tolerances are too conservative for larger matrices of floating type, for example:

[code]
[code]

[2021-08-12 10:53] IvanYashchuk commented on #54151
`torch.rand` is samples from uniform distribution, not Gaussian. It's likely not full rank even before you add zeros on the diagonal.

The default relative tolerance for `matrix_rank` (`eps*max(rows, cols)`) is common and won't be changed for something else because it's not an easy choice to decide the truncation criteria. Therefore in this proposal and [in the implementation](https://github.com/p

[2021-08-12 11:02] Lezcano commented on #54151
The current default tolerance for `matrix_rank` is `\sigma_0 * max(m, n) * eps`. This is what's causing this weird behaviour. When this issue is solved, it'll be `max(m,n)*eps` which will return the correct results for these random matrices.

The default values for `matrix_rank` proposed in this issue start being problematic for matrices of shape 10k x 10k or 100k x 100k. If you are using such mat

[2021-08-12 11:41] nikitaved commented on #54151
I agree, fixed to `randn`. Nevertheless, I disagree it is not full-rank, which you can see from the analysis of smallest singular values. And generating a rank-deficient matrix from random procedures should be hard as these matrices are measure zero in the probability space.

It is, but it is different for different drivers. For example, if `gelss` is used, `rcond` becomes `rtol` which is explaine

[2021-08-12 11:49] nikitaved commented on #54151
Since it uses SVD, I might skip on trying understand what these atol/rtol are and just implement my own custom thresholding function. Some LAPACK methods, by the way, allow to pass a custom thresholding function.

[2021-08-12 11:57] Lezcano commented on #54151
For `lstsq` all drivers have a similar behaviour when it comes to `rtol`, and that is, they are truncated whenever they are smaller than `\sigma_0 * rtol`. For why this is also the case for all the drivers see https://github.com/data-apis/array-api/issues/216

While the behaviour is certainly not consistent as one multiplies the `rtol` you give it by `sigma_0` and the other one uses its value raw,

[2021-08-12 11:59] nateanl commented on #62747
I'd like to volunteer adding a fix_length logic in istft and create a PR for that.

In terms of moving istft to librosa namespace, I doubt it'll be BC-Breaking and affect users' current codes.

[2021-08-12 12:49] ZJG0 opened #63146 "RuntimeError: ArrayRef: invalid index Index = 1; Length = 1. When export pytorch model to onnx"
## error info:
Traceback (most recent call last):
  File "private_test.py", line 269, in <module>
    main()
  File "private_test.py", line 265, in main
    test(args, model)
  File "private_test.py", line 189, in test
    private_model = construct_private_model(input_size, model, args)
  File "private_test.py", line 179, in construct_private_model
    private_model = crypten.nn.from_pytorch(model

[2021-08-12 13:33] jbschlosser commented on #63004
Possibly, although I think it'd require some kind of masked_log_softmax to implement. cc @cpuhrsch
Might be worth opening a new feature request linking this issue and the other related ones for identifying interest & gathering design feedback.

Btw, the backward pass for `Embedding` won't apply gradient updates to the item at `padding_idx`. Given that, do you still need the new behavior?

[2021-08-12 13:51] ezyang commented on #61122
OK fair enough.

[2021-08-12 14:00] ezyang commented on #44409
I suppose there are some other tools:
* You can prevent an implicit conversion from occurring by templating. https://stackoverflow.com/a/67005463/23845
* You can prevent temporaries from being passed into a function by deleting the rvalue reference overloads https://stackoverflow.com/questions/11127807/prevent-pass-by-ref-of-temporary-object

So maybe there is a simpler solution that just involves

[2021-08-12 14:07] BrunoKM commented on #62955
@mruberry, that makes sense. This is very much a long term feature request :)

I guess a gradual change could be possible by allowing both interfaces for a few versions? I.e. calling `torch.diagonal(…, dim0=a, dim1=b)` and `torch.diagonal(…, dim1=a, dim2=b)` are both allowed and do the same thing, but mixing keyword and positional as in `torch.diagonal(…, a, dim1=b)` would result in an error.

[2021-08-12 14:07] ezyang commented on #54821
I think the big update is that multiple groups are very serious about writing operators in Python; for example @jansel's prototype for authoring operators in Python, and also @mruberry/@ngimel ongoing work on near aliases in Python

[2021-08-12 14:24] peterbell10 commented on #62535
There is a bug in your code:
[code]

`multivariate_normal` doesn't have an upper or lower bound, so what's to say the indices will be in bounds? A quick fix is
[code]
and the assert no longer triggers. This will skew your distribution though, so you probably want to do something else.

[2021-08-12 15:02] peterbell10 commented on #62747
So the `istft` signal prior to slicing has shape `n_fft + hop_length * (length // hop_length)` and then the minimum lost to slicing is `n_fft // 2`. That means any `hop_length > n_fft // 2` can cause this issue depending on if the input signal evenly divides `hop_length` or not.

I think `librosa`'s approach of padding the signal is good here, but it would be good to add a note in the docstring th

[2021-08-12 15:15] #62357 closed

[2021-08-12 16:03] mrshenli commented on #61920
I printed the `rpc._get_debug_info()` after every iteration. At least the agent and container think there is no pending contexts/states. Still digging.

[code]

[2021-08-12 16:14] ngimel commented on #61490
Even if we reduce the space of functions we are discussing to `max(dim=..)` and `amax(dim=..)`, there's different behavior even though there's no polymorphism.

[2021-08-12 16:55] jjhuang-ca opened #63152 "torch.fft.rfft bug"
## 🐛 Bug

When performing zero padding followed by rfft on cuda, incorrect results can happen on the second operation when padded length is even for longer sequences.  This behavior is observed on cuda only, not cpu.

## To Reproduce

Steps to reproduce the behavior:
[code]
Output:
[code]

## Expected behavior

dif_y for Lx=1601 and 16001 for cuda run should be around 1e-14.

## Environment

Colle

[2021-08-12 17:43] beew commented on #62674
@mruberry

Which latest release is that? I looked at the release tags and it still shows 1.8.2rc1

[2021-08-12 17:58] ma7dev opened #63159 "PyTorch Profiler"
## ❓ Questions and Help

I was aware of PyTorch Profiler during v1.8.x beta release, but after I have watched [PyTorch Community Voices' latest episode](https://www.youtube.com/watch?v=m6ouC0XMYnc), I became invested in trying out PyTorch Profiler. I have visited all of the relevant resources suggested mentioned in the presentation [40:48](https://youtu.be/m6ouC0XMYnc?t=2448), but I have had some

[2021-08-12 18:03] sharvil commented on #33354
Quick update on this issue: the profiling graph executor is recompiling on every second run with the same input data. I haven't had a chance to read through the profiling executor code yet but I assume that it's collecting profiling data in the first run and using that to guide optimizations on the second run.

Switching over to the non-profiling graph optimizer with `torch._C._jit_set_profiling_e

[2021-08-12 18:06] mruberry commented on #62674
The most recent release is 1.9, which is on Colab and available at https://pytorch.org/get-started/locally/. Or if you build from source, of course.

[2021-08-12 18:09] ezyang commented on #22439
For those following along, there is now a third-party torchmetrics package that may be helpful https://torchmetrics.readthedocs.io/en/latest/

[2021-08-12 18:15] mruberry commented on #62674
There may be some deprecations which occurred in 1.9 but generally it should be compatible with 1.8.

Unfortunately we are not planning a 1.8.2 release.

You are correct, however, that this issue may be fixed only in source and not available in 1.9. In that case this fix would first appear in 1.9.1 (no guarantee there will be a 1.9.1 release) or the 1.10 release.

[2021-08-12 18:17] beew commented on #62674
So you have a 1.8.2-rc1 release but no 1.8.2? That is very strange.

[2021-08-12 18:19] mruberry commented on #62674
Possibly just an internal artifact, I don't think we've ever publicly announced a 1.8.2 release.

[2021-08-12 18:25] beew commented on #62674
The link is here https://github.com/pytorch/pytorch/tags

So if I want to checkout the 1.9 branch where this is fixed, what should I do?

git checkout v.1.9.0 would give me the version released in June, correct?

[2021-08-12 18:27] mruberry commented on #62674
Sure; I don't know if that's public-facing as much as developer-facing is my point.

I think so, but it'd be more helpful if you checked out the latest commit to look at whether this issue is fixed or not.

[2021-08-12 18:28] mruberry commented on #63152
@peterbell10 -- yikes! Would you take a look?

[2021-08-12 18:43] bdhirsh commented on #63125
Hi!

This seems like a question better suited for the [pytorch forums](https://discuss.pytorch.org/). I'm going to close this issue for now - feel free to repost your question there!

[2021-08-12 18:43] #63125 closed

[2021-08-12 18:51] H-Huang commented on #55615
The ProcessGroup backend in RPC has been removed as part of the following PRs:

- #61421
- #62409
- #62411
- #62985
- #63160

If a user attempts to use ProcessGroup backend for RPC in their code, for example:

[code]
They will receive the error:
[code]

[2021-08-12 18:56] mrshenli commented on #55615
Thanks @H-Huang for retiring PG backend!

[2021-08-12 18:56] #55615 closed

[2021-08-12 18:57] SplitInfinity commented on #62989
@brianjo

Do you have any ideas on how to fix this? I tried a few things but none of them worked. I think Sphinx thinks everything after the function signature in the docstring is associated with the first overload but that's not the case.

https://github.com/pytorch/pytorch/blob/1022443168b5fad55bbd03d087abf574c9d2e9df/torch/_torch_docs.py#L5780-L5781

[2021-08-12 19:05] mrshenli opened #63169 "[BE] Clean up ProcessGroupAgent vestige"
See #55615 for more context.

After #62985, `ProcessGroupAgent` is removed from PyTorch, but there are still some vestige in comments and messages. Below are some examples. Let's remove those vestige as well.

https://github.com/pytorch/pytorch/blob/ea808df25deee98a3021f5cff1f818803d56c97b/torch/testing/_internal/distributed/rpc/faulty_rpc_agent_test_fixture.py#L53-L54

https://github.com/pytorch/

[2021-08-12 19:09] xwang233 commented on #63152
Can't reproduce this on the latest source build with `numpy==1.19.5, scipy==1.6.0`.

Can reproduce this on 1.9.0+cu111 pip wheel.

GPU is V100.

[2021-08-12 19:11] jiafatom commented on #63146
@bdhirsh could you please provide a small repro? Thanks!

[2021-08-12 19:14] peterbell10 commented on #63152
At first glance this seems a lot like  #58724, but I will investigate further.

[2021-08-12 19:14] mrshenli opened #63171 "[BE] Clean up DDP Single-Program Multi-Device Vestige in reducer.cpp"
See #47012 for more context.

There were multiple efforts to remove SPMD mode from DDP (e.g., #55353 #58592). For example, since now there is only one model replica per process, we can simplify the `std::vector<std::vector<at::Tensor>>` to `std::vector<at::Tensor>` and change all the sites using this variable as well.

https://github.com/pytorch/pytorch/blob/1022443168b5fad55bbd03d087abf574c9d2e9d

[2021-08-12 19:15] mrshenli commented on #63171
self-assigned to reserve as an onboarding task

[2021-08-12 19:15] jiafatom commented on #63141
Closing this one since it is a duplicate of https://github.com/pytorch/pytorch/issues/63142

[2021-08-12 19:15] #63141 closed

[2021-08-12 19:18] jiafatom commented on #63142
Could you use pytorch 1.9 instead of 1.7.1? Also, the error message shows `dynamic_axes` format should be `dynamic_axes: Dict[str, Dict[int, str]]`, but the input `'out_1': {0, 2, 3},` does not follow the format.

[2021-08-12 19:22] peterbell10 commented on #63152
I've confirmed that it's only an issue with CUDA 11.1, the shapes that have issues are the `multi_bluestein_fft` transforms, and that a valid workaround is
[code]
All of that is consistent with #58724. There's not really anything we can do about it except maybe disable plan cacheing for the affected CUDA versions.

[2021-08-12 19:25] ejguan opened #63173 "DataChunk needs to implement `__repr__` to visualize"
We only implements the `__str__` method. `__repr__` needs to visualize the internal data.

[code]

[code]

cc @SsnL @VitalyFedyunin @ejguan

[2021-08-12 19:31] brianjo commented on #62989
Not really. @mattip might have a idea.

[2021-08-12 19:40] stas00 opened #63174 "[dist] log node's hostname plus rank in the exception message"
## 🚀 Feature

Would it be possible to log (1) the hostname and (2) the rank with the exceptions?

## Motivation

Currently it's very difficult to diagnose which node is faulty and remove it from the slurm pool.

For example a multi-node training has crashed with:

[code]

After restarting the training it failed again in a different code path, this time with:

[code]

I suspect that that one gpu on

[2021-08-12 19:42] walterddr opened #63175 "[docathon] restructure CI documentation"
## 📚 Documentation

We currently have 3 different CI systems (Github Action, CircleCI, Jenkins) and many of the documents about out CI system is scattered around & probably out-dated. We propose to restructure the documentations for CI system.

- CONTRIBUTING.md
  - expand the `[CI failure tips](#ci-failure-tips)` section into a `[Continuous Integration](#ci-main)`
    - make the current CI failur

[2021-08-12 20:04] jjhuang-ca commented on #63152
I've seen the same issue with 1.8.1+cu111.  I didn't try other versions of CUDA yet.

[2021-08-12 20:17] #61049 closed

[2021-08-12 20:18] #57490 closed

[2021-08-12 20:28] samestep commented on #62585
I went ahead and did this (and also updated [@mruberry's comment above](https://github.com/pytorch/pytorch/issues/62585#issuecomment-891205564) and [the wiki homepage](https://github.com/pytorch/pytorch/wiki) to reflect the change). Are there any other pages that link to this which need to be updated?

[2021-08-12 20:57] zhouzhuojie opened #63181 "Improve doc about bot commands and chatops"
Updated wiki on https://github.com/pytorch/pytorch/wiki/Bot-commands

[2021-08-12 20:58] zhouzhuojie opened #63182 "Improve doc about docker images and how to run them locally"
Wiki page https://github.com/pytorch/pytorch/wiki/Docker-image-build-on-CircleCI

- [x] Document the new ecr_gc job
- [x] How to get images from AWS ECR
- [x] Document how to use the docker image and run `build` and `test` locally

[2021-08-12 20:59] zhouzhuojie commented on #63181
This one is done.

[2021-08-12 20:59] #63181 closed

[2021-08-12 21:08] jamesr66a commented on #57559
The downsides of this are:
* Slowdown
* Memory high-watermark increase causing OOM
* Breaking of parameter/attribute references from the traced module to the original module, which may be desired in some cases (and can be opted-out of by manually `deepcopying` today)

I think a middle-of-the-road solution might be to make this optional, i.e. add a `clone_module` argument to `trace` that allows the

[2021-08-12 21:12] Column01 commented on #53738
Can we please have an update on this issue? I've been spending hours installing dependencies that aren't listed to try and get pytorch to build and have been unsuccessful. Why can't pytorch just apply the fix mentioned above to the build to release gfx803 compatible ROCm builds?

AMD builds for gfx803, so it's not a matter of if they're going to drop support for them. Just have the same policy, if

[2021-08-12 21:13] Column01 commented on #53738
Side note:
The docs for building should be updated to include these ghost dependencies for ROCm... even without being on gfx803, pytorch's ROCm wheel will not build due to a lack of these dependencies.

[2021-08-12 21:17] jiafatom commented on #62951
@liym27 Can you try scripting the model, i.e., `model=torch.jit.script(model)` and then export it?

[2021-08-12 21:20] jiafatom commented on #62936
@PistonY Can you try apply this PR https://github.com/pytorch/pytorch/pull/59979/files
This is not in master yet.

[2021-08-12 21:28] jiafatom commented on #62712
@luvwinnie Could you please provide a script to reproduce?

[2021-08-12 21:35] jiafatom commented on #62568
@guxuhong can you try latest opset, for example `opset_version=14`? Also you have a ` %21 : Float(5, 6, strides=[6, 1], requires_grad=0, device=cpu) = weps_domain::get_embed_op(%X, %17, %18, %19, %20)
` which is not converted to ONNX operators. Could you share the small repro?

[2021-08-12 21:36] JohnNesbit commented on #62640
I will start working on this project.

[2021-08-12 21:45] mruberry commented on #62585
None that I know of. Since the title of the document no longer refers to a specific point in time each section should probably start with the date it was written or the version of PyTorch it refers to. Updating all of them at once isn't a requirement but if updating a section please add this information.

[2021-08-12 21:45] jiafatom commented on #62321
@duonglegiang  Could you please provide a small repro for it? Thanks.

[2021-08-12 21:46] Column01 opened #63188 "ROCm build lacks ridiculous amount of dependencies"
## 📚 Documentation

When following the build from source guide to build the ROCm version of pytorch (see https://github.com/pytorch/pytorch/issues/53738 for why i'm even doing that in the first place), the build will fail for multiple missing dependencies not listed in the guide for building for AMD. There are also a few environment variables that are missing for the build (see https://github.com/

[2021-08-12 21:50] mruberry commented on #43227
You can still use CUDA but the second argument, "lengths," must be a CPU tensor if it is a tensor. Another option is to pass it as a list of integers.

[2021-08-12 21:51] mruberry commented on #43227
DataParallel is in maintenance mode while DistributedDataParallel, which typically has improved performance, is actively developed. Would you try it with DistributedDataParallel, instead?

[2021-08-12 21:51] #43227 closed

[2021-08-12 21:52] mruberry commented on #43227
Closing this issue because this behavior is by design and the documentation states the requirement that the "lengths" argument must be on the CPU.

If there are additional issues or a request to support a CUDA "lengths" argument then please file a new issue so we can track those requests separately.

[2021-08-12 21:57] zou3519 commented on #63175
@walterddr what do you think about adding information to a page on the developer wiki and linking to it from CONTRIBUTING.md and the other locations? (https://github.com/pytorch/pytorch/wiki). The benefit of the wiki is that it's easier to find out what's going on (I didn't even know we had a .circleci/README.txt), it's easier to edit on the fly without code review, and you can use github search a

[2021-08-12 21:57] walterddr commented on #63175
I also realize that making direct changes to CONTRIBUTING.md regarding general information of CI might not be a good idea due to merge conflicts and the large amount of refactoring we need to merge. So I think we should just put it in wiki

[2021-08-12 21:58] walterddr commented on #63175
You beat me to it by commenting 14 seconds  earlier :-P

[2021-08-12 21:58] zou3519 commented on #63175
Lol, nice to see we independently came to the same conclusion :)

[2021-08-12 22:03] SharanSMenon commented on #47702
Does PyTorch have any plans on supporting metal, like `tensorflow-metal`.

[2021-08-12 22:22] garymm commented on #3906
Hi, I'm going through old issues with `module: onnx`.
Is this issue still relevant?
If so, how exactly does this relate to ONNX?
Perhaps made redundant by https://github.com/pytorch/rfcs/pull/24?

@ezyang

[2021-08-12 22:51] jiafatom commented on #62240
Tracing seems not working in this case, see torchscript IR:
[code]
ListConstruct inputs are three constants 1, 2, 3, but for different shape input, this constant would change.
So the torchscript IR is not capturing the dynamic shape here.

So I would suggest to use scripting here. Could you please use pytorch master? There is no `as_tensor()` any more (I tried our own branch but master should be t

[2021-08-12 22:55] jiafatom commented on #62090
@ccl-private pytorch-onnx exporter does not support exporting in Windows. Is it ok you convert the model in Linux?

[2021-08-12 22:58] jiafatom commented on #62023
@leoozy Thanks for reaching out. We will support it.

[2021-08-12 22:58] #62023 closed

[2021-08-12 23:02] garymm commented on #4587
@ezyang does this refer to the original TorchScript that contains all aten ops, or something else?
The PyTorch ONNX exporter team is planning on adding some sort of error diagnostic API in the future. Should we close this in favor of that?

[2021-08-12 23:06] garymm commented on #5105
Closing since there's no answer after almost 1 year. @engine303 feel free to open a new issue if needed. If you do please try with latest PyTorch nightly and make it clear what the expected vs observed behavior is.

[2021-08-12 23:06] #5105 closed

[2021-08-12 23:12] #54873 closed

[2021-08-12 23:13] garymm commented on #6505
This issue doesn't mention `torch.onnx`, so removing label `module: onnx`. Please add it back and clarify if this does relate to `torch.onnx`.

[2021-08-12 23:14] garymm commented on #6621
Hi,
Can this be reproduced using the latest nightly PyTorch?
If so, please provide code to reproduce the problem, and explain the expected and observed behavior, ideally in a Colab notebook.

[2021-08-12 23:20] garymm commented on #6797
The special casing is still there:
https://github.com/pytorch/pytorch/blob/988ef190e3df0b48ef59dcf8007258ed79bb7946/torch/csrc/jit/serialization/export.cpp#L520

However I don't see what the problem is. @jamesr66a could you please explain in detail what change in the code this issue refers to?

[2021-08-12 23:25] garymm commented on #7020
This is not related to torch.onnx, so removing `module: onnx`

[2021-08-12 23:26] garymm commented on #7326
Closing since there's been no reply in several months. @franchenstein please open a new issue with clear repro instructions if this is still a problem with the latest nightly pytorch.

[2021-08-12 23:26] #7326 closed

[2021-08-12 23:36] soulitzer commented on #62327
Reopening this since it seems to be failing again - https://app.circleci.com/pipelines/github/pytorch/pytorch/363351/workflows/eb7afa3d-2000-42bd-957e-698aad957a0e/jobs/15330183

[2021-08-12 23:37] soulitzer commented on #62328
Reopening this since it seems to be failing again - https://app.circleci.com/pipelines/github/pytorch/pytorch/363351/workflows/eb7afa3d-2000-42bd-957e-698aad957a0e/jobs/15330183

[2021-08-13 00:13] garymm commented on #7870
I think this was fixed by https://github.com/pytorch/pytorch/pull/7874.
@jekbradbury can you still reproduce with latest nightly PyTorch?

[2021-08-13 00:20] msaroufim commented on #59139
Looks like this was fixed

![Screen Shot 2021-08-12 at 5 20 01 PM](https://user-images.githubusercontent.com/3282513/129285965-136d9852-3f4c-40fa-b62e-677a6f738f80.png)

[2021-08-13 00:20] #59139 closed

[2021-08-13 00:38] wgale commented on #63004
That would be great - thank you!

Yes, I think the new behavior is important despite the embedding layer handling the padding_idx. There are a couple of use cases where I think this might impact sequence modeling:
- Tied embedding and softmax weights  - this might not be an issue depending on how the gradient updates are applied
- Handling null tokens (it's common to pad the vocabulary to be mod 8

[2021-08-13 00:39] garymm commented on #7732
`F.upsample` has been deprecated in favor of `torch.nn.functional.interpolate`, and the Upsample ONNX op has been deprecated since ONNX op set 10. The exporter now emits `Resize` instead.
Does this code produce the output you are asking for with the latest nightly pytorch? If not, could you please explain what you expect to see vs what you see?

[code]

If it's not correct, what if you replace the

[2021-08-13 00:41] ccl-private commented on #62090
Linux is ok. @jiafatom

[2021-08-13 00:41] garymm commented on #7612
The sample code provided by @morgangiraud appears to work OK on latest nightly PyTorch. Can anyone reproduce the issue with latest nightly PyTorch? If so, please provide code.

[2021-08-13 00:47] garymm commented on #7871
The code provided by @ryanleary seems to work as expected on latest nightly PyTorch. If this is still an issue, please provide code to reproduce and explain how the observed behavior differs from expected. Thanks.

[2021-08-13 00:49] garymm commented on #8025
Closing since there's been no reply in several months. Please open a new issue if needed.

[2021-08-13 00:49] #8025 closed

[2021-08-13 00:52] garymm commented on #8585
Is this still an issue with onnx 1.10 and PyTorch 1.9?
If so, please provide detailed environment info.

[2021-08-13 00:52] #63182 closed

[2021-08-13 00:56] MichaelWU0726 commented on #63142
The usages in the official source codes shows that `dynamic_axes` can only include `int`:
[code]

[2021-08-13 00:59] garymm commented on #9043
I guess this is referring to this code: https://github.com/pytorch/pytorch/blob/dcfccab1e4f47b7eaf65627639e015d5ec893ef6/torch/csrc/jit/passes/onnx/peephole.cpp#L242

Since @anderspapitto has left the PyTorch team and nobody else has been motivated to improve this in the past 3 years, I'm going to close this issue. We can open a new one if the code becomes a maintenance burden.

[2021-08-13 00:59] #9043 closed

[2021-08-13 01:01] garymm commented on #9411
Doesn't seem related to `torch.onnx` so removing `module: onnx`.

[2021-08-13 01:05] garymm commented on #11627
Nobody is working on this AFAIK. If you'd like to start it, I suggest you communicate with people in the ONNX community via Slack or attending a meeting: https://onnx.ai/

[2021-08-13 01:05] #11627 closed

[2021-08-13 01:08] #24607 closed

[2021-08-13 01:08] #24608 closed

[2021-08-13 01:18] ZJG0 commented on #63146
[pytorch2onnx-repro.zip](https://github.com/pytorch/pytorch/files/6979336/pytorch2onnx-repro.zip)
You can reproduce the error by running `test_onnx.py`.
[code]

[2021-08-13 01:58] dagitses opened #63207 "document our compatibility with upstream packages (e.g. languages, compilers, tools)"
Not too infrequently, people ask questions like we can use C++17 or some feature in a newer version of Python. We have a rough methodology for addressing these questions, but it's not documented anywhere and it might mean different things to different people.

Writing this down serves several purposes:
1) it forces us to get on the same page about the policy
2) it is handy to point people to when

[2021-08-13 01:59] guotuofeng commented on #63159
@sudomaze, actually, the nn.Module view and graph visualization feature is in our planning now. and we are discussing the minimal costs and impact on existing PyTorch.

[2021-08-13 02:02] jjhuang-ca commented on #63152
@peterbell10 The workaround suggested worked.  Thanks.  Does it have any negative speed implications?

[2021-08-13 02:18] DesmonDay opened #63209 "AttributeError: module 'torch.utils' has no attribute 'dlpack'"
## 🐛 Bug

AttributeError: module 'torch.utils' has no attribute 'dlpack'

## To Reproduce

<img width="543" alt="屏幕快照 2021-08-13 上午10 14 32" src="https://user-images.githubusercontent.com/20554008/129295508-3815e88a-7fc0-4130-92a6-1d3946ab719d.png">

It is very strange here. I check the corresponding `torch.utils.dlpack` code, nothing wrong.

## Expected behavior

dlpack API works successfully.

#

[2021-08-13 02:21] #63209 closed

[2021-08-13 02:47] matthiaslmz commented on #63124
Added a BERT and RoBERTa example where the RuntimeError doesn't show up and managed to `torch.jit.save` both models successfully

[2021-08-13 02:52] mruberry commented on #63034
cc @kurtamohler, might as well verify the new pad doesn't have this issue

[2021-08-13 02:56] kurtamohler commented on #63034
I have seen an error just like this in the ASAN CI jobs for the `torch.pad` PR. I haven't been able to reproduce it locally with build_with_asan, and the CI failure seems to be flaky.

[2021-08-13 03:00] mruberry commented on #63085
Splitting late at night or on weekends is probably the best way to do avoid a merge conflict, unfortunately.

Breaking the file up based on module categories sounds reasonable. test_nn.py and test_nn_misc_modules.py might be catch-alls for general nn functionality and specific modules not closely related to others.

[2021-08-13 03:16] awgu opened #63210 "`torch.disributed.GradBucket.is_last()` returns is first instead of is last"
Per the [documentation](https://pytorch.org/docs/master/ddp_comm_hooks.html#torch.distributed.GradBucket.is_last), `torch.distributed.GradBucket.is_last()` should return whether the bucket is the last to all-reduce in an iteration. However, [the current implementation returns if the index is 0](https://github.com/pytorch/pytorch/blob/ee82e7a14ea55101dfe4d245c4c9413b8313fc4c/torch/csrc/distributed/

[2021-08-13 03:28] andwgu opened #63211 "Memory leak in `ddp_zero_hook.py` hooks"
There is a memory leak that occurs due to referencing the `ddp: DistributedDataParallel` variable in `hook_with_zero_step()` and `hook_with_zero_step_interleaved()` (namely, the reference count for model parameters and other internal variables like the `_DDPBucketAssignment`s remain positive when they should have reached zero). The temporary solution is to convert `ddp` variable to a weak referenc

[2021-08-13 03:35] awgu opened #63213 "Check global rank and process group usage in `ZeroRedundancyOptimizer`"
We need to check the usage of global versus local ranks for `ZeroRedundancyOptimizer`'s parameter broadcasts for both `step()` and for the hooks created by `hook_with_zero_step()` and `hook_with_zero_step_interleaved()` and the object broadcasts. It may be incorrect that we are using the global rank with ZeRO's process group; we should check if we are implicitly assuming that the global rank equal

[2021-08-13 04:10] gmagogsfm commented on #63124
I think this is likely caused by a schema match failure. I would suggest checking implementation of bigbird model to see how `constant_pad_nd` is used and whether it conforms to torch API definition.

Also, I noticed a minor bug in your notebook: I think you wanted to `jit.trace` the quantized model, but your code traces the unquantized original model.

[2021-08-13 04:18] #22620 closed

[2021-08-13 04:20] gmagogsfm commented on #63033
`ModuleList` is a subclass of `nn.Module`. In TorchScript, all `nn.Module`s can not be used as a value since it is deemed as part of static graph topology. Therefore, the assignment doesn't work here, as expected.

A workaround would be to move assignment of `ml` inside `__init__` so that its value is determined at module construction time rather than during runtime.

Closing this issue for now, f

[2021-08-13 04:20] #63033 closed

[2021-08-13 04:22] gmagogsfm commented on #63024
Hi @zheng-ningxin,

The code print out is for debugging and serialization (save to disk via `torch.jit.save`) only. It is not meant to be runnable. If you'd like to run forward of the module, you can call the module (it is a callable with `__call__` defined) directly.

[2021-08-13 04:22] #63024 closed

[2021-08-13 04:22] sudomaze commented on #63159
@guotuofeng Awesome! 😄

In the meantime, can you add a similar tutorial to the [gist](https://gist.github.com/sudomaze/8aad93386e2b3364edbf0759514af5cc) to PyTorch Profiler's documentation that walks you through the process as it is? Because others and myself had an assumption that it works just like [AMP](https://pytorch.org/docs/stable/amp.html) where you just add the suggested snippet to the su

[2021-08-13 04:26] gmagogsfm commented on #62961
It is generally advised to trace your program on the same device as the one you intend to run on. Tracing on one device and run it on another is not a supported use case.

In this case, you are moving a tensor in the `forward` method. `jit.trace` only tracks Tensor-type values, thus `x.device` becomes a hard coded string in the IR.

[2021-08-13 04:26] #62961 closed

[2021-08-13 04:40] gmagogsfm commented on #62775
@eellison Is this something you plan to implement or are you looking for assistance from TS team?

[2021-08-13 04:50] gmagogsfm commented on #62756
`jit.trace` tracks Tensor-values in a program. For shapes passed around as raw ints/tuples/lists may (likely) get baked into the traced module as constant. Passing input of a different batch size may break some shape invariant in the model, thus resulting in the error you experienced.

[2021-08-13 04:50] #62756 closed

[2021-08-13 04:58] xin-w8023 commented on #62961
maybe I should register the tensor into the model buffer rather than create a tensor on the fly

[2021-08-13 05:32] sharvil commented on #63033
Fair enough that this construct isn't supported by TorchScript. Maybe this issue should be a feature request instead.

Since the `ModuleList` itself isn't modified at runtime, it still maintains a static graph topology. We're just creating references to existing `ModuleList`s that have been constructed in `__init__`.

The following code which is not accepted by TorchScript:

[code]

can be transfo

[2021-08-13 05:54] guotuofeng commented on #63159
@sudomaze , does the tutorial https://pytorch.org/tutorials/recipes/recipes/profiler_recipe.html enough? are there any additional thing we need add for simplicity?

[2021-08-13 06:08] gmagogsfm commented on #62961
Yep, that should work too. Buffers should be moved together with the module when you call `.cuda()`

[2021-08-13 06:11] Passenger12138 opened #63217 "Torch.nn.functional.interpolate() function memory release problem"
## questions：
 for some reason, I have to use (pytorch 1.3.0 and torchvision 0.2.1), When I use torch.nn.functional.interpolate(), I find that the memory usage keeps increasing. After consulting the data, I found that the torch.nn.functional.interpolate() corresponding to pytorch1.3 version does not support empty batch sizes. I don’t know if it is It is not this problem that the memory ratio of my

[2021-08-13 06:15] MichaelWU0726 commented on #63142
Thanks, I just found that `dynamic_axes` should be changed to Dict[str, List[int]]` if axes only include `int` as the following:
[code]

[2021-08-13 06:15] #63142 closed

[2021-08-13 06:19] vfdev-5 commented on #63065
@ZhiyanWXZ you can pass `pretrained_backbone=False` and `pretrained=False` to skip any pretrained weights downloading

[2021-08-13 06:47] IvanYashchuk commented on #28293
Thank you, @andreaskoepf, for reporting the issue of incorrect error messages! We will have it fixed in the future PyTorch release. Unfortunately, the bugfixes would not be backported to older versions.

[2021-08-13 06:55] IvanYashchuk opened #63220 "SVD error message is not correct"
## 🐛 Bug

When `torch.linalg.svd` fails the error message is wrong telling that the matrix is singular, while the real reason is that the underlying algorithm did not converge.
See https://github.com/pytorch/pytorch/issues/28293#issuecomment-850822958 for a detailed description.

## Additional context

The implementation of `checkBatchErrors` has an optional function name argument that controls th

[2021-08-13 06:58] xwang233 commented on #63220
Also thanks @andreaskoepf for finding this!

[2021-08-13 07:44] sudomaze commented on #63159
@guotuofeng I think it would be better if there is a walkthrough tutorial like in [PyTorch TensorBoard](https://pytorch.org/tutorials/intermediate/tensorboard_tutorial.html) where the tutorial shows a full example and explaining the UI and how to utilize it. I think having a similar tutorial to TensorBoard would remove any confusion.

[2021-08-13 08:18] shinxg commented on #16029
Same question here.

[2021-08-13 08:34] ethanxu001 commented on #23074
Thanks! This message helps a lot :)

[2021-08-13 08:44] BartlomiejSkwira commented on #41869
@gmagogsfm I have removed Cuda code totally and trained/served my model on CPU.

Btw: I think during compilation all code paths have to be visited, so guarding the statement with an if it's not enough

[2021-08-13 09:12] pitneitemeier opened #63221 "AdaHessian Implementation for PyTorch"
## 🚀 Feature
Implement the AdaHessian Optimizer in torch.optim. The optimizer was proposed in the Paper [ADAHESSIAN: An Adaptive Second Order Optimizer for Machine Learning](https://arxiv.org/abs/2006.00719).

## Motivation
The optimizer showed very promising Results on a variety of different Tasks and seems to solve many of the problems of other second order optimizers (only 2*cost in comparison

[2021-08-13 09:41] ZYJESJ commented on #63136
Thank you very much for your reply.@ xwang233
The first point has completely solved my problem, I am browsing related functions.
The second point, please allow me to talk about my problem again. I understand that the feature vector of svd is not unique, but my goal is to get the same result as torch.linalg.svd or torch.svd. I use Related functions in nvidia's culsover library, I have confirmed tha

[2021-08-13 09:49] nikitaved commented on #62328
Now it gets really weird. Looks like these tests do not fail consistently. Requires some deep look through these tests.

[2021-08-13 09:50] Lezcano commented on #63136
There is no way to always get the same result when using two different algorithms for mathematical reasons. You can come up with rules that work for most cases though. For example, you can choose your matrix `U` to have a positive first row. To do so, you can compute the signs of the first row of `U` and multiply the columns of `U` and the rows of `Vh` by these signs. Note that this rule does not

[2021-08-13 09:54] ZYJESJ commented on #63136
Thank you very much. My current problem is that, in my understanding, I have used the same underlying algorithm as pytorch (the implementation of pytorch svd is a function provided by NVIDIA’s cusolver library), but after my experiment, the alignment cannot be guaranteed, so this This is where I am very confused. I don't know if I have overlooked something that makes it impossible to get a proper

[2021-08-13 10:02] Lezcano commented on #63136
Have you debugged and checked that you are calling the exact same function with exactly the same inputs as in PyTorch?

Also, as the documentation states, PyTorch does not guarantee which function will be called when solving the problem. In fact, we are in the process of adding more CUDA backends to this function, so I would not rely on being able to achieve this.

[2021-08-13 10:14] ZYJESJ commented on #63136
Thanks, I understood it all at once. Let me summarize at last, because I really didn't single-step debugging to see the call of pytorch, I just found a part of the underlying implementation of pytorch by searching keywords. Let me summarize what you mean, so please see if I understand it. Regarding svd, pytorch's gpu low-level implementation is not only cuslover. If I use torch.svd, it will select

[2021-08-13 10:16] gaocegege opened #63223 "[bug] torch.distributed.elastic logging: Failed to print the first info statement"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. Set environment variable `export LOGLEVEL=DEBUG`
1. run `python -m torch.distributed.run --standalone --nnodes=1 --nproc_per_node=2 ...`

## Expected behavior

[code]

is shown.

## Environment

CMake version: version 3.19.6
Libc version: glibc-2.17

Python version: 3.9.6 (default, Jul 30 2021, 16:35:19)  [GCC 7.5.0] (64-bit runtime)

[2021-08-13 10:17] gaocegege commented on #63223
/assign @gaocegege

#dibs

[2021-08-13 10:21] Lezcano commented on #63136
About the backend: I do not know the current state of `svd`, but as backends, we often use a combination of calls to cuSolver and magma. We benchmark their speeds a priori for different sizes and figure out which one is best to call for matrices of which sizes. I do know that we are currently working on improving the performance of `linalg.svd`, so whatever backend is called now in master will lik

[2021-08-13 10:34] david-macleod opened #63224 "BatchNorm2d permutes data on 1.10 nightly"
## 🐛 Bug

Passing a non-contiguous input to batchnorm2d causes the order of the output data to change. This doesn't happen on version 1.9.1

## To Reproduce

[code]
**PyTorch 1.9.1 (working)**
[code]

**PyTorch nightly 1.10 (broken)**
[code]

## Expected behavior

## Environment

[code]

## Additional context

Likely related to [this](https://github.com/pytorch/pytorch/issues/62967) issue, but unr

[2021-08-13 11:04] spthm commented on #36650
If this isn't already being worked on, I'd like to have a go at adding `state_dict` and `load_state_dict` to the samplers.

@mruberry would a PR implementing `[load_]state_dict` for only the samplers be welcome/useful? A following PR could implement additional state for `DataLoader`, including serializing their sampler instances - I'd be happy to do that, too, but would be more comfortable startin

[2021-08-13 11:31] nikitaved commented on #3158
Would be great to have, otherwise sparse feature selection is not possible.

[2021-08-13 11:32] fmassa commented on #21064
FYI we are looking into using FX to perform this pytorch/vision#3597

[2021-08-13 11:52] peterbell10 commented on #63152
It does slow down repeated transforms as the cuFFT plan needs to be recreated each time.

[2021-08-13 12:24] SergeyLev opened #63226 "cuda.is_available returns True in pycharms python console, False in code"
## 🐛 Bug

When  run cuda.is_available() in python console, I get True.
But when I call same method in code I get False.
What surprises me is same venv is used.
![cuda_true](https://user-images.githubusercontent.com/36793484/129354452-e607c00f-56c7-47ef-a146-e8efcbef493c.png)
![cuda_false](https://user-images.githubusercontent.com/36793484/129354450-31c8849d-86d8-43d0-ad0a-2ba706ece8e0.png)

## To

[2021-08-13 13:32] BehzadShayegh commented on #16897
Any news?

[2021-08-13 13:54] ezyang commented on #4587
sure we can close it

[2021-08-13 13:54] #4587 closed

[2021-08-13 13:56] ezyang commented on #3906
This issue is still relevant, but feel free to close it if you don't know how to action it.

[2021-08-13 14:10] samestep commented on #59818
closing this in favor of #62585

[2021-08-13 14:10] #59818 closed

[2021-08-13 14:26] samestep commented on #62585
I updated [this section](https://github.com/pytorch/pytorch/wiki/Running-and-writing-tests#using-github-label-to-control-ci-behavior-on-pr-last-updated-2021-08-13) to add the `ci/slow-gradcheck` label; I think that's everything, given that [`ci/all` has been removed](https://github.com/pytorch/pytorch-probot/pull/34)? Also, should I open a PR to add another link to this in `CONTRIBUTING.md`?

[2021-08-13 14:38] mrshenli commented on #63210
self-assigned to reserve it as a bootcamp task

[2021-08-13 15:47] mrshenli commented on #63210
## Background

The `GradBucket` is defined in the location below. It is used by DistributedDataParallel (DDP) to perform gradient synchronization. This [note](https://pytorch.org/docs/stable/notes/ddp.html) and [paper](http://www.vldb.org/pvldb/vol13/p3005-li.pdf) explain how DDP works.

https://github.com/pytorch/pytorch/blob/32b6104f37a0d2db68fb8378143ed7c7685c4782/torch/csrc/distributed/c10d/co

[2021-08-13 15:52] hwangdeyu commented on #59179
Sure, I closed this issue.

[2021-08-13 15:58] andwgu commented on #63210
nit: This should be equal to the number of buckets - 1 (since zero-indexed)?

[2021-08-13 16:37] pkienzle commented on #51450
Here's what I'm using:
[code]

Time for `[7, 3, 3520, 4656]` along dimension 1 on 2080Ti

    amedian(x, 1): 0.525 s
    torch.median(x, 1)[0]: 110.7 s

[2021-08-13 16:43] supriyar opened #63234 "[quant] Remove dtype arg requirement from `torch.empty_quantized`"
Currently, calling torch.empty_quantized fails if dtype argument isn't specified.

This is not inline with the API definition where dtype is specified as an optional arg
`- func: empty_quantized(int[] size, Tensor qtensor, *, ScalarType? dtype=None, Layout? layout=None, Device? device=None, bool? pin_memory=None, MemoryFormat? memory_format=None) -> Tensor`

To fix, we should remove the dtype argu

[2021-08-13 16:56] iramazanli opened #63236 "Optimizers documentation tracking issue"
This issue is for tracking documentation of Optimization Algorithms.

Currently PyTorch provides documentation for Optimizers by referring to papers they are provided. It could be nice if we represent algorithms within PyTorch documentation itself, so our documentation would be a good optimization research tutorial as well

- [ ]    Adam : https://arxiv.org/pdf/1412.6980.pdf
- [ ]    Adadelta : ht

[2021-08-13 17:17] matthiaslmz commented on #63124
Thanks for the suggestion. Will check the schema and see what I find. Also, I updated the notebook to trace the quantized model instead of model but the error still persist.

[2021-08-13 17:17] garymm commented on #3906
@BowenBao is there overlap between this and pytorch/rfcs#24?

[2021-08-13 17:39] anjali411 commented on #62327
cc. @nikitaved

[2021-08-13 17:43] dagitses commented on #59983
fixed by #61097

[2021-08-13 17:43] #59983 closed

[2021-08-13 17:59] nikitaved commented on #62327
Need to see what kind of tests these are. They do not fail consistently.

[2021-08-13 18:13] teatreeoilchocolate commented on #62943
Hi!
Thanks for the response and the link.
I was under the impression that pytorch had more to do with the multiprocessing in this regard.
Under these circumstances there is no point in keeping it open.
Cheers

[2021-08-13 18:13] #62943 closed

[2021-08-13 18:17] cpuhrsch commented on #22378
@ngimel @bhosmer @mruberry and I talked offline and decided to introduce a scatter_reduce (similar to @rgommers proposal), but with the semantics of torch_scatter's [scatter](https://pytorch-scatter.readthedocs.io/en/latest/functions/scatter.html).

[2021-08-13 18:22] walterddr commented on #63175
created https://github.com/pytorch/pytorch/wiki/Continuous-Integration and slowly migrating contents over.

[2021-08-13 18:36] dagitses commented on #50012
`torch.chunk` is documented as taking a number of chunks, but its implementation behaves as if it was told to give chunks of a given size. It doesn't fit in the grid you created.

For example:
[code]

Only two chunks yielded, but you requested three. It could have easily given two chunks of size 1 and one of size 2, but instead it ignored the explicit request for 3 chunks.

As defined, its output

[2021-08-13 18:45] #62727 closed

[2021-08-13 18:49] mrshenli opened #63247 "Add a timeout argument to RPC shutdown()"
The RPC `shutdown()` API (linked below) [always uses the default timeout value (5s)](https://github.com/pytorch/pytorch/blob/dc1bd6acee95c343fe3588b62d5fbd09de93ab9c/torch/distributed/rpc/api.py#L277), which might be too short if all threads on the leader process are busy or when the world size is too large.

https://github.com/pytorch/pytorch/blob/dc1bd6acee95c343fe3588b62d5fbd09de93ab9c/torch/di

[2021-08-13 18:50] mrshenli commented on #63247
self-assigned to reserve as an onboarding task.

[2021-08-13 18:53] #56267 closed

[2021-08-13 19:11] #57478 closed

[2021-08-13 19:11] #62339 closed

[2021-08-13 20:26] #50434 closed

[2021-08-13 21:04] xwang233 commented on #63224
https://github.com/pytorch/pytorch/pull/62773 is likely related. cc @eqy

[2021-08-13 21:04] KirkEasterson commented on #60531
I am interested in working on this issue. Although @nmichlo has proposed a solution, a PR has not been made. I can work on implementing the suggestion and adding tests. Is this okay?

[2021-08-13 21:29] dagitses opened #63257 "`help(torch.finfo)` doesn't give useful information even though class has documentation"
## 🐛 Bug

Calling `help` on `torch.finfo` does not show the class's docs.

## To Reproduce

Steps to reproduce the behavior:

1. start python interpreter
1. `import torch`
1. `help(torch.finfo)`

## Expected behavior

Python's help system should show the documentation for this class, which we do have:
https://pytorch.org/docs/stable/type_info.html
https://github.com/pytorch/pytorch/blob/master/doc

[2021-08-13 21:36] gchhablani commented on #33152
There is one more method that should support complex numbers - `torch.einsum`.

I am trying to port a code that uses complex numbers in einsum from JAX. Note that JAX has support for einsum on complex numbers. An example in JAX goes like this:

[code]

[2021-08-13 21:40] NivekT commented on #52919
Do we still want to add checks and prevent negative values as inputs for `abs`? Or should we follow C++'s implementation and allow them?

[2021-08-13 21:57] supriyar commented on #36104
This is not an issue in the latest version of the quantization docs https://pytorch.org/docs/stable/quantization.html
Closing.

[2021-08-13 21:57] #36104 closed

[2021-08-13 22:54] eqy commented on #63224
Will see if I can bisect this; my understanding was that the contiguous check would have prevented this issue:
#62839

[2021-08-14 00:36] ekhahniii opened #63265 "torch.scatter_: support index.size(d) > src.size(d)"
## 🚀 Feature
Teach [torch.Tensor.scatter_](https://pytorch.org/docs/stable/generated/torch.Tensor.scatter_.html) to handle `index.size(d) > src.size(d)`.

## Motivation

Currently, `torch.Tensor.scatter_` requires `index.size(d) <= src.size(d)` for all dimensions `d`, _unless_ `src` is float-valued. This constraint seems artificial.

[code]

## Alternatives

An inefficient workaround is to chunk t

[2021-08-14 01:08] beew commented on #62674
@mruberry

Hi, it looks like v1.8.2 has just been released.

[2021-08-14 02:33] Guitaricet opened #63271 "multi_head_attention_forward 3D attention mask incorrect behavior"
## 🐛 Bug

After PyTorch 1.9, 3D masks in `multi_head_attention_forward`, when used with `key_padding_mask` cause `nan` values in the attention output.

## To Reproduce

Steps to reproduce the behavior:

1. Call `multi_head_attention_forward` with a 3D attention mask and a non-zero padding mask

## Expected behavior

The output of `multi_head_attention_forward` should not contain nan for a non-nan

[2021-08-14 03:26] eqy commented on #63224
I can repro this in NGC 21.07 (which was frozen before #62773 and #62389 so the plot thickens...)

[2021-08-14 10:51] alfaix opened #63279 "[mypy] Incorrect imports in stub files"
## 🐛 Bug
## To Reproduce

Steps to reproduce the behavior:

1. Create a file `test.py` with the following content:
[code]
2. Run `mypy test.py`. It outputs:
[code]
`pyright` produces similar output.

## Expected behavior
This is valid code, the type checker shouldn't complain.

## Environment
[code]

## Additional context
Same issue is reproduced with a couple more types (`Module` being one of the

[2021-08-14 11:33] gaocegege commented on #63223
It is caused by https://github.com/pytorch/pytorch/commit/13658b10bba8caf1f896b1244b83d2da8985d856#diff-0bd552ae3e87562d255b74c11f2833755e4092abfc1621f5670b28416f16404fL634

The basicconfig func call is removed, thus the first call log.info does not output.

cc @aivanou

[2021-08-14 14:48] aligirayhanozbay opened #63280 "ROCm build issues - 'use of undeclared identifier cudaStreamCaptureModeRelaxed'"
## 🐛 Bug

ROCm version seems to have issues building.

## To Reproduce

Steps to reproduce the behavior:

1. Clone pytorch repo
2. Check out to `release/1.9` branch
3. Run `python3 setup.py install` from the pytorch directory

Here's the error in the build log:
[code]

I can fix these issues by running the following in the pytorch folder:
[code]

but this in turn leads to further errors:

[code]

[2021-08-14 16:19] szagoruyko opened #63281 "tensor_split does not handle non-contiguous indices"
## 🐛 Bug

torch.tensor_split does not produce the same outputs for non-contiguous tensors as for contiguous, see repro below.

## To Reproduce

Steps to reproduce the bug:

[code]

Output:
[code]

## Expected behavior

Output should be the same for contiguous and non-contiguous tensors.

## Environment

Tested in stable 1.9 and nightly '1.10.0.dev20210814+cpu'.

cc @ezyang @gchanan @zou3519 @bdhir

[2021-08-14 16:56] andyljones opened #63282 "Serialising `torch.bool` generates a warning about `np.bool` being deprecated."
## 🐛 Bug

Serialising `torch.bool` generates a warning about `np.bool` being deprecated.

## To Reproduce
Running
[code]

should generate a
[code]
warning.

## Expected behavior
There shouldn't be a warning.

## Environment

[code]
## Additional context
For anyone who comes across this before it gets fixed in Pytorch, you can silence the warning with
[code]

[2021-08-14 18:27] Tsubajashi commented on #51181
Any news on this?

[2021-08-14 23:52] sidml commented on #42218
@danansheng
The issue is resolved in nightly branch, perhaps you can use it.
The following branch works for me:
`wget https://download.pytorch.org/whl/nightly/cu111/torch-1.10.0.dev20210731%2Bcu111-cp37-cp37m-linux_x86_64.whl`
`pip install torch-1.10.0.dev20210731+cu111-cp37-cp37m-linux_x86_64.whl`

[2021-08-15 03:02] mruberry commented on #62674
Neat! I wonder what it contains. Maybe we are doing a series of 1.8.X releases.

[2021-08-15 03:35] mruberry commented on #52919
Checking for negative values would be tricky on CUDA. On CPU it's straightforward but you'd need to validate there wasn't a perf impact for doing so. I'd recommend just documenting that the input is not validated (users can validate the input themselves if they care to).

[2021-08-15 03:35] mruberry commented on #33152
cc @heitorschueroff, who's been working on einsum

[2021-08-15 05:16] danpovey opened #63290 "DistributedDataParallel documentation"
Guys,
This probably isn't my business, but I want to point out that you are building up technical debt by not putting effort into internal documentation at the C++ level.  Class Reducer, for example, doesn't have good documentation either from the higher-level or the detailed level; and this isn't the kind of code where you can credibly claim that it's self-documenting.

By higher-level I mean a m

[2021-08-15 05:23] danpovey commented on #63290
... I can understand if whoever wrote this code is, like, some guru who is busy on key stuff and can't spare time, but:
 (i) there must be someone on your team who understands the basic principles of this code, knows how to write, and has some free cycles now and again, and
 (ii) Facebook isn't a startup any more.  If you got into the habit of writing comments as you go, comments that are targeted

[2021-08-15 06:41] SsnL opened #63291 "[typing] new_ones has wrong signature"
## 🐛 Bug
`tensor.new_ones` accepts a size with each dim as an individual argument (similar to all other ctors we have). But the type stub doesn't think so

![image](https://user-images.githubusercontent.com/5674597/129469616-4cbb9800-70e8-43e4-b791-2013bf1aabd1.png)

[2021-08-15 08:57] Veason-silverbullet opened #63292 "Function `torch.exp()` return float32 in case of amp float16 context"
## 🐛 Bug

When amp (torch.cuda.amp.autocast) is enable, tensors should be scaled to float16. The bug lies within the function `torch.exp()`, as it returns float32 tensors when amp is enabled. By the way, the behavior of function `torch.exp_()` is normal.

## To Reproduce

import torch
with torch.cuda.amp.autocast():
    x = torch.zeros([64, 128], dtype=torch.float16).cuda()
    print(x.dtype)

[2021-08-15 09:00] PeterL1n commented on #47688
1. I think writing custom Metal kernels are a great approach. We have full controllability in everything. We can implement both forward-pass and backward-pass for training and inference if needed. If it only supports GPU then let it be. It is Apple's problem not having a neural engine programmable and hopefully, that will change in the future. If Apple provides standard libraries we can invoke the

[2021-08-15 09:11] PeterL1n commented on #57707
@imaginary-person

Can anyone help enable `F.interpolate` and `F.grid_sample` for BFloat16 on Cuda? Bilinear upsampling is widely used in convolutional decoders. Not having them is a big blocker to actually use BFloat16 to train models.

[2021-08-15 09:54] IvanYashchuk commented on #60175
If someone is building from source 1.9.0 and would like to suppress the warning, cherry-pick [this commit](https://github.com/pytorch/pytorch/commit/296d2a4399923370dccc5f3f4fc0f5fd12db4d19). It should fix the magma initialization and remove the "Error in magma_getdevice_arch:" message.

[2021-08-15 13:44] AnirudhDagar opened #63293 "Support `torch.linalg.outer`"
## 🚀 Feature
Support `torch.linalg.outer`.

cc @mruberry @IvanYashchuk @Lezcano @rgommers

## Motivation & Pitch

Python Array API proposes the use of `linalg.outer` among other linear algebra functions. Currently, PyTorch supports the same functionality with `torch.outer`. `torch.ger` (to be deprecated in 1.10) is also an alias to `torch.outer` at the moment.

We can either make `torch.linalg.out

[2021-08-15 14:46] JIAOJIAYUASD opened #63294 "RuntimeError"
## ❓ Questions and Help
/pytorch/aten/src/ATen/native/cuda/ScatterGatherKernel.cu:312: operator(): block: [0,0,0], thread: [1,0,0] Assertion `idx_dim >= 0 && idx_dim < index_size && "index out of bounds"` failed.
/pytorch/aten/src/ATen/native/cuda/ScatterGatherKernel.cu:312: operator(): block: [0,0,0], thread: [40,0,0] Assertion `idx_dim >= 0 && idx_dim < index_size && "index out of bounds"` faile

[2021-08-15 16:16] VitalyFedyunin commented on #63217
Hello! Have you tried newest version of PyTorch 1.9? Thanks

[2021-08-15 16:19] VitalyFedyunin commented on #63226
Please check which version and installation of python you are using in both cases

[2021-08-15 16:22] VitalyFedyunin commented on #63271
Hi-Pri as it looks like regression

[2021-08-15 16:23] VitalyFedyunin commented on #63224
Looks like regression to me, need to be fixed before 1.10 cut (should we add new label / project?)

[2021-08-15 16:24] VitalyFedyunin commented on #63279
Please submit PR to fix it.

[2021-08-15 16:27] VitalyFedyunin commented on #63281
Looks like correctness bug to me.

[2021-08-15 16:30] VitalyFedyunin commented on #63293
cc @soumith @gchanan

[2021-08-15 16:31] VitalyFedyunin commented on #63294
Hello!

It is better to ask such kinds of questions at https://discuss.pytorch.org/
I am going to close this issue. Feel free to reopen it, if you think that you need to report a bug or make a feature proposal.

Thanks.

[2021-08-15 16:31] #63294 closed

[2021-08-15 18:17] beew opened #63295 "pytorch 1.8.2 cuda test errors"
Hi,

System is Ubuntu 20.04
python 3.8.10
CUDA 11.0
cudnn 8
GPU Nvidia GTX1070

I built pytorch with these commands
[code]
Build was successful but running test produced these errors

[code]

Some of it is the same as https://github.com/pytorch/pytorch/issues/59855, but there seem to be more failures this time.

[2021-08-15 18:48] malfet commented on #63279
Hmm, I can not reproduce the problem using PytTorch-1.9.0 on MacOS:
[code]

[2021-08-15 19:28] rgommers commented on #63279
There are tests for typing (under `test/typing`), it seems unlikely that basic calls like `torch.empty` are typed incorrectly. What is probably happening is that your PyTorch install went wrong somehow. Your output says Python version is `3.7.11`, so you compiled Python from source and PyTorch as well I assume? Can you run the test suite and check if it passes? Or at least `test/test_typing.py`?

[2021-08-15 19:44] ptrblck commented on #63292
This would be expected, as `torch.exp` uses `float32` as described [here](https://pytorch.org/docs/stable/amp.html#ops-that-can-autocast-to-float32). Also, inplace operations are not using automating (mentioned in the previous section of the docs).

[2021-08-15 19:58] mrshenli commented on #63290
Thanks @danpovey for pointing out the gap in our documentation, and this is indeed an issue. Would you might share what brings you to this internal implementation? Are you trying to extend DDP? We do have on-going efforts to make DDP customizable from Python APIs. So, if you have such requirements, we would love to learn more.

Hey @rohan-varma @zhaojuanmao shall we prioritize this as a high-prior

[2021-08-15 20:15] mrshenli commented on #63223
Hey @gaocegege, thanks for flagging this and wrote the fix. @aivanou and @cbalioglu will be the best person to comment. I just have a quick question. Looks like the logs in the first message is redundant to the second message, as they both contain `rdzv_backend`, `rdzv_endpoint`, and `rdzv_id` / `run_id`. Any reason we need both? Will it work if we just remove the print of the first message?

[2021-08-15 22:59] #63292 closed

[2021-08-15 23:02] ngimel commented on #57707
@PeterL1n, bfloat16 is not supported for convolutions, and that, arguably, is the biggest blocker for using BFloat16 in convolutional models.
Would enabling `interpolate` and `grid_sample` still be interesting w/o convolution support?
cc @ptrblck on plans for bfloat16 support for convolutions.

[2021-08-15 23:15] abhimanyuchadha96 opened #63297 "Named tensor in tracer"
https://github.com/pytorch/pytorch/blob/0ca5dc7f034776475546a73ebf244d5d32d1fbf0/torch/csrc/jit/frontend/tracer.cpp#L699

Any ETA on when this will be updated?

[2021-08-15 23:21] bfgray3 commented on #63265
I'd like to work on this issue.

[2021-08-15 23:30] Lezcano commented on #63293
For some reason, this function in PyTorch and the Array API just supports vectors. If we are going to add it to `linalg`, we should make it support batches of vectors, as (almost) all the operations in `linalg` do. It may be even worth it to open an issue on the array API pointing this out, I reckon they'd be happy to add it.

Note that a (probably not very efficient) implementation of this functi

[2021-08-16 00:16] eqy commented on #63224
I've bisected this to f3218568 (#59286).

[2021-08-16 00:22] VitalyFedyunin commented on #63224
Thanks, @eqy I will ask the PR author to look into it.

[2021-08-16 01:11] PeterL1n commented on #57707
@ngimel

Conv, ConvTranspose, AvgPool, and MaxPool already work on BFloat16! Backward works as well. So `interpolate` is the only blocker for me.

One thing to note is that BFloat16 uses Thnn convolution instead of CuDNN. Can CuDNN be enabled for convolutions?

[2021-08-16 01:13] mruberry commented on #63282
Thanks for reporting this issue, @andyljones. That error message is odd.

[2021-08-16 01:36] sorenbouma opened #63299 "Channels last mode doesn't support inputs with 0 batch dimension"
## 🐛 Bug

 2d convolution layers do not work with inputs with zero batch dimension when used with the `channels_last` format. The docs do not seem to mention that this is
I understand from the [memory format tutorial](https://pytorch.org/tutorials/intermediate/memory_format_tutorial.html) there is some ambiguity when the channels  or width/height = 1, but I'm not sure if that applies here or not.

[2021-08-16 02:29] gaocegege commented on #63223
From my point of view, I think we can remove it. It is imported for standalone mode maybe.

[2021-08-16 03:22] danpovey commented on #63290
For the record, I was trying to understand under what circumstances it's possible to catch and recover from OOM errors in DDP.

[2021-08-16 03:54] heitorschueroff commented on #62354
support for expected failure added here https://github.com/pytorch/pytorch/pull/62963

[2021-08-16 04:16] jingxixu opened #63301 "Does dataloader creates a copy of the dataset and consequently use up more memory?"
Does dataloader creates a copy of the dataset and consequently use up more memory?

cc @SsnL @VitalyFedyunin @ejguan

[2021-08-16 05:23] SergeyLev commented on #63226
3.7.5 in both cases. I work in venv, so version can't be different.

[2021-08-16 05:26] ngimel commented on #57707
Conv and ConvTranspose don't work with bfloat16 with cudnn, native implementation is very slow.

[2021-08-16 07:10] alfaix commented on #63279
I used package installations for both: python was installed with `apt` and torch was installed with `pip`. It did seem unlikely that something this simple wouldn't work out-of-the-box, yes.

I found the issue after trying it in a fresh virtualenv, apparently `pyright` autogenerated (incorrect) stubs for `torch/__init__.py`, which imported from `_C`, but not from `_VariableFunctions` (and others in

[2021-08-16 07:10] #63279 closed

[2021-08-16 07:30] RocskyLu opened #63304 "How to build a release version libtorch1.8.1 on windows"
## Issue description
I am doing some work with libtorch on Windows 10 recently. I want to build the libtorch library since I have addedd some new features. The build work was done successfully on develop environment. However, when I copy the exe(including dependent DLLs) to another PC(running env, mentioned below), it could not run normally. I have also built the corresponding python package and i

[2021-08-16 08:11] skamal16 opened #63305 "Alternate Model Loading - Android"
A method to load a PyTorch lite model directly from some data structure rather than from path.

For shipping a model to production, we cannot encrypt the file and decrypt it at runtime when the only way to load the model is with a path.

Rather than just this: Module.load(assetFilePath(this, "model.ptl"));
Something like this: Module.loadBytes(modelByteArray);

[2021-08-16 08:30] erksch commented on #63305
A PyTorch Lite model export `.ptl` is not only one file but rather an archive, so I don't think a byte representation makes sense. What's wrong with encrypting and decrypting at runtime?

[2021-08-16 08:53] danansheng commented on #42218
thanks,but i can only use torch version 1.5.0

[2021-08-16 09:36] markson14 commented on #25088
https://medium.com/axinc/pytorch%E3%81%AEnn-maxunpool2d%E3%82%92onnx%E3%81%AB%E3%82%A8%E3%82%AF%E3%82%B9%E3%83%9D%E3%83%BC%E3%83%88%E3%81%99%E3%82%8B-f48deb65580a

[2021-08-16 10:54] FateScript opened #63311 "dataloader multiprocessing start method might influence performance?"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

Hello, Pytorch team. I have read your [best practice of multiproecssing](https://pyt

[2021-08-16 11:05] Lezcano commented on #56312
Closing, as there's not much that can be done. We often call slightly less accurate algorithms in the batched case to favour speed. This is a pattern that we follow all throughout the linear algebra part of PyTorch.

[2021-08-16 11:05] #56312 closed

[2021-08-16 11:54] donnyyou opened #63313 "Automatic mixed precision works worse for 3D neural networks."
## 🐛 Bug

When we train 3D neural networks, the automatic mixed precision training always works worse (>1%) than full precision training. But the same setting works for 2D neural networks.

[2021-08-16 12:01] artyom-beilis opened #63314 "Incorrect computation of gradients for transposed 2d convolution when stride=2 on CPU"
## Bug

Incorrect backpropogation calculation for stride=2 transpose2d

## To Reproduce

    import torch
    torch.manual_seed(100)
    conv=torch.nn.ConvTranspose2d(1,1,kernel_size=1,bias=False,stride=2)
    x=torch.randn(1,1,1,2,requires_grad=True)
    y=conv(x)
    yd=torch.tensor([[[[1.5,0,0.7]]]])
    y.backward(yd,retain_graph=True)
    print("W:",conv.weight)
    print("X:",x)
    print("Y

[2021-08-16 12:03] mruberry commented on #63152
Sounds like a plan to me. cc @ngimel

[2021-08-16 12:04] mruberry commented on #36650
Hey @spthm, this is a better question for @VitalyFedyunin, who's investigating dataloading and dataloaders now

[2021-08-16 13:02] ezyang commented on #63291
new_ones is hard coded in tools/pyi/gen_pyi.py so should be easy enough to fix

[2021-08-16 13:58] ejguan commented on #63173
Solved in #63184

[2021-08-16 13:58] #63173 closed

[2021-08-16 14:22] peterbell10 commented on #63152
I think I can add a check for large prime factors and only disable in those cases. That should fix the correctness issues without harming normal performance.

[2021-08-16 14:28] dagitses commented on #63085
Assuming (falsely) that merge conflicts are evenly distributed, you reduce the risk if you can split the file incrementally (obviously). Even if you schedule time on nights or weekends with a reviewer to do this, you can't avoid all risk since you have fickle CI and still a non-zero chance of a conflict.

I strongly encourage us to have a plan for incremental splitting that reduces risk, saves tot

[2021-08-16 14:40] walterddr commented on #60756
Another example of this occurred on CircleCI job as well when I reorder the distributed python test.
https://app.circleci.com/pipelines/github/pytorch/pytorch/364181/workflows/3e71e4a1-0108-45d5-9d14-97358bb1bb35/jobs/15362526

I was wondering if there's any relevance between the GHA issue and this CircleCI one

[2021-08-16 14:42] cbalioglu commented on #63223
Hi @gaocegege, yes, this is indeed a bug in our launcher script. Thanks for pointing it out! I will tag it for our backlog. Just to double check: I assume not, but does this bug block your work?

[2021-08-16 14:44] stanli124 opened #63322 "lstm's input h0 and c0 bug"
## 🐛 Bug

when use numpy.random.randn to init h0 and c0, the output will have nan value; but use torch.randn can train correct, and will not have nan value.
## To Reproduce

Steps to reproduce the behavior:

1.define a bi-lstm layer
2.use np.random.randn to init h0 and c0
3.train lstm

# self.h0 = torch.tensor(np.random.randn(2, self.batch_size, self.hidden_size)).to(self.device)
 # self.c0 = torc

[2021-08-16 14:46] stanli124 opened #63323 "bug in bi-lstm's input h0 and c0 when use bi-lstm train netword"
## 🐛 Bug

when use numpy.random.randn to init h0 and c0, the output will have nan value; but use torch.randn can train correct, and will not have nan value.
## To Reproduce

Steps to reproduce the behavior:

1.define a bi-lstm layer
2.use np.random.randn to init h0 and c0
3.train lstm

    self.h0 = torch.tensor(np.random.randn(2, self.batch_size, self.hidden_size)).to(self.device)
    self.c0 = t

[2021-08-16 15:00] cbalioglu commented on #63174
Hi @stas00, thanks for the suggestion. As I mentioned a while ago, I am planning to write an RFC soon (hopefully this week) aiming to improve our current multiprocessing logic and failure handling. Just curious regarding this: do you use Slurm's I/O redirection flags to write down stdout/stderr of your workers to a specific location? How do you retrieve this stack trace information from your train

[2021-08-16 15:05] cbalioglu commented on #63140
Thanks for the suggestion @gaocegege. We will definitely try to improve our documentation around checkpointing.

[2021-08-16 15:13] pearu commented on #62162
Consider:
[code]
That is, `S.to(..)` will not be sufficient and one needs to use `S.coalesce().to(torch.bool)` to get expected results. Although, using `.to(..)` method should be considered as a workaround until support to `clamp` or `__ne__` operations will be implemented for sparse tensors.

In general, any non-linear operation (such as `clamp` when implemented) should coalesce the COO tensor be

[2021-08-16 15:17] astaff commented on #63322
same as https://github.com/pytorch/pytorch/issues/63323?

[2021-08-16 15:23] astaff commented on #63311
Can you share a self-contained script to reproduce the behavior, @FateScript?

[2021-08-16 15:24] VitalyFedyunin commented on #36650
We are planned this feature for H2 2021. RFC will be ready in about one moth. Feature shipped approx end of this year.

[2021-08-16 15:33] stanli124 commented on #63322
yes，same as #63323
but i solve this problem just now, it's not a bug.
I find "self.h0 = torch.tensor(np.random.randn(2, self.batch_size, self.hidden_size)).to(self.device)" dtype is float64;
but "self.h0 = torch.randn(2,self.batch_size,self.hidden_size).to(self.device)" dtype is float32.
and torch default dtype is float32. so the output have nan value.
Sorry to bother you

I also wanna konw if the

[2021-08-16 15:33] ejguan commented on #63311
Could you please elaborate the "worse performance"? Can't really interpret the root cause without enough info.

BTW, did you set `pin_memory` to True? Recently, we fixed a bug of `mkl_thread` that leads to performance drop when `pin_memory=True`. And, it's solved in #62891. If this is the problem, you can try pytorch-nightly for testing.

[2021-08-16 15:34] jeffdaily commented on #63280
I see you are using rocm 4.3.  The release/1.9 branch is unlikely to compile without applying #62786.

[2021-08-16 15:35] robieta opened #63326 "observer._PartialWrapper extends the lifetime of Tensors, causing leaks."
## 🐛 Bug

When calling quantize_fx.prepare_qat_fx, several Tensors live longer than they should which is triggering the memory leak check in TorchBench. This seems to be related to `fake_quantize.default_per_channel_weight_fake_quant`, and one other `_PartialWrapper` whose name/location I haven't been able to pin down.

## To Reproduce

Steps to reproduce the behavior:

[code]

[code]

## Expected

[2021-08-16 15:42] Di-Ma-S21 opened #63331 "Using 'multiprocessing’ in PyTorch on Windows10 got error-``RuntimeError: Couldn’t open shared file mapping: <torch_13684_4004974554>, error code: <0>''"
## 🐛 Bug
Hi,

I am currently running a PyTorch code on Windows10 using PyCharm. This code firstly utilised `DataLoader` function (`num_workers’=4) to load training data:

`train_loader = DataLoader(train_dset, batch_size, shuffle=True,
                                  num_workers=4, collate_fn=trim_collate)`

Then, in training process, it utilised a `for’ loop to load training data and train the

[2021-08-16 15:45] astaff commented on #63297
cc @zou3519

[2021-08-16 15:50] astaff commented on #63301
Could you please share a self-contained script reproducing the behavior, @jingxixu ?

[2021-08-16 15:51] Di-Ma-S21 commented on #31874
@Redcxx Hi, I also encountered this error when using 'multiprocessing' function in PyTorch on Windows10. Here is my issue post: https://github.com/pytorch/pytorch/issues/63331. I noticed that you have resolved this problem. Could you please let me know how did you solve it? I have tried to put all the codes (including train()) under `if__name__ == '__main__':`, but it still could not solve the pro

[2021-08-16 15:56] visionscaper commented on #36650
This is great news @VitalyFedyunin, thanks for your efforts! 🎉

[2021-08-16 16:02] imen-07 commented on #5563
![image_2021_08_13T15_03_58_563Z](https://user-images.githubusercontent.com/73793039/129593770-95f5399d-d9a3-4905-b6d4-b29b71c5aa7c.png)

[2021-08-16 16:05] ngimel commented on #63313
cc @ptrblck fyi, could it be that some 3d functions are missing from the full precision list?

[2021-08-16 16:05] stas00 commented on #63174
We are currently logging all nodes to the same log file:
[code]
I know I can add `%N` to create a separate log file per node, but it'd make monitoring much more difficult as we have 64-to-256 nodes. As currently I just run `tail -f` on that single log file to watch the whole "battlefield".

If you have a better strategy I'm all ears.

Thank you, @cbalioglu.

[2021-08-16 16:12] aligirayhanozbay commented on #63280
@jeffdaily

I switched to instead compiling the newest version from master, it gets along far further. Now I get this error:

[code]

I get the same error both with rccl installed from the ROCm repos, as well as with rccl compiled from git.

[2021-08-16 16:26] jeffdaily commented on #63280
`error: /opt/rocm/rccl/lib/librccl.so: undefined reference to hsa_amd_pointer_info`

What does `ldd librccl.so` say?

I see in the CMakeLists.txt for rccl `target_link_libraries(rccl PRIVATE hip::device dl)`.  I suspect it should transitively pull in the dependency on `libhsa-runtime64.so`.  When I run ldd librccl.so in my rocm 4.2 docker, I see it depends correctly on libhsa-runtime64.so.  If the

[2021-08-16 16:28] malfet opened #63335 "`viable/strict` is more than a week old"
At the time of this posting, https://github.com/pytorch/pytorch/tree/viable/strict points to https://github.com/pytorch/pytorch/commit/3c1d1170a4ca2e50a846c69cc61583a29952afee which is 7+ days behind https://github.com/pytorch/pytorch/commit/d5d5f42ea977d61fe21f5986e664efa6609881ff

cc @ezyang @gchanan @zou3519 @bdhirsh @jbschlosser @anjali411 @seemethere @malfet @walterddr @pytorch/pytorch-dev-in

[2021-08-16 16:43] MengeTM commented on #63027
Saving "result" for leaky_relu works only for negative_slope >= 0.

[2021-08-16 16:47] jiafatom commented on #62090
This is being tracked internally by Microsoft at https://msdata.visualstudio.com/Vienna/_workitems/edit/1322241

[2021-08-16 16:51] #62538 closed

[2021-08-16 16:55] VitalyFedyunin commented on #63301
Yes, every instance of DataLoader workers gets serialized version of DataSet Python object and executes it.

[2021-08-16 16:55] #63301 closed

[2021-08-16 17:00] ezyang opened #63337 "Property based testing like AFL"
Implement something like https://blog.nelhage.com/post/property-testing-like-afl/

[2021-08-16 17:07] malfet commented on #63295
@beew can you please share the output of `torch.__config__.show()` And the same tests pass when run on CPU, are they not? (I suspect what happens here, are the tests are only working if code is compiled with magma)

[2021-08-16 17:09] ezyang commented on #63299
I agree this should work

[2021-08-16 17:10] gchanan commented on #63335
do we have automated alerting of this?

[2021-08-16 17:11] seemethere commented on #63335
We currently do not, we're assessing which jobs might've prevented the promotion right now

[2021-08-16 17:11] ezyang commented on #63304
Well, the best way to do it is to actually use our binary packaging scripts, but for this particular case I bet it's because you aren't asking for enough SM versions for the compiled CUDA code. You'll wanna set TORCH_CUDA_ARCH_LIST to something like "6.0;6.1;7.0;7.5" or something

[2021-08-16 17:12] MengeTM commented on #63027
Saving `result` for leaky_relu works only for `negative_slope >= 0`.

This results from input values < 0 becoming output values > 0 for a `negative_slope < 0`. Thus for `negative_slope=-1`, *result=5* may result from an *input=5* or an *input=-5*, which results in an ambiguous calculation of the gradients, so that `result` can not replace `self` for gradient calculations.

Possible Solutions:

###

[2021-08-16 17:12] aligirayhanozbay commented on #63280
@jeffdaily It seems that `libhsa-runtime64.so` does show up in the output of `ldd /opt/rocm/rccl/lib/librccl.so`:

[code]

[2021-08-16 17:13] malfet commented on #63335
We should have a rule that post a message to the oncall, if viable strict is 48+ hours behind master

[2021-08-16 17:17] malfet commented on #63304
Official binaries are build to support all GPU architectures, while by default local build only picks architectures available locally

[2021-08-16 17:17] beew commented on #63295
@malfet

Hi

[code]
magma is installed in the system,

How do I explicitly build with it, is it

[code]
?

[2021-08-16 17:17] nairbv commented on #63023
related: https://github.com/pytorch/pytorch/issues/48353

[2021-08-16 17:23] driazati commented on #63335
We actually do here: https://metrics.pytorch.org/d/L0r6ErGnk/github-status?orgId=1, though we have no data for viable/strict since it's been broken since I stood up the infra for this.

[2021-08-16 17:29] SciPioneer commented on #63210
# of buckets is not stored in `GradBucket`. Wonder if we can always use `is_first()` with small changes in the application code instead.

[2021-08-16 17:33] mruberry opened #63341 "Extend OpInfo tests to automatically validate noncontiguous inputs"
The great majority of PyTorch's operators are supposed to work with both contiguous and noncontiguous tensors, and valid noncontiguous inputs can be generated from an operator's sample inputs. Doing so would increase test coverage and prevent developers having to worry about writing contiguous AND noncontiguous sample inputs.

When doing this we should consider the impact on test time.

[2021-08-16 17:34] ngimel commented on #63341
IF we have generic tests for non-contiguous inputs, probably we can audit existing sample inputs and remove non-contiguous from those, to decrease the impact on test time.

[2021-08-16 17:39] ngimel commented on #63299
0-batch dim shortcut is here https://github.com/pytorch/pytorch/blob/979180cd0118f9379680df9e39fc6acb80d7b80a/aten/src/ATen/native/Convolution.cpp#L824-L828, and it has 2 view operations that won't work for channels-last tensors. Multiplying by weight is necessary to make 0 grads correctly propagate back to weight, and weight shape manipulation exists because otherwise sizes are not compatible for

[2021-08-16 17:52] ptrblck commented on #63313
This could be the case.
@donnyyou would it be possible to post the model definition so that we could check the used operations and their support?
I also assume that "works worse" means the final accuracy is worse using mixed-precision training compared to the `float32` run?

[2021-08-16 17:55] albanD commented on #63295
Can you try on master? There have been a few fix on master for these.

[2021-08-16 17:56] beew commented on #63295
Yes but what about Magma?

[2021-08-16 18:00] seemethere opened #63342 "Nightly Docker image builds are failing with conda install issues (build-publish-docker)"
See: https://github.com/pytorch/pytorch/runs/3340344859

Appears to be failing on the install step for nightlies:

https://github.com/pytorch/pytorch/blob/979180cd0118f9379680df9e39fc6acb80d7b80a/Dockerfile#L58-L59

I think this is related to torchtext since I only get installation issues with the following command when I add torchtext:

[code]

cc @ezyang @gchanan @zou3519 @bdhirsh @jbschlosser @

[2021-08-16 18:03] malfet commented on #63342
Could it be a fallout of https://github.com/pytorch/pytorch/issues/63335 <- when nightlies are old enough domain could not be built

[2021-08-16 18:05] albanD commented on #63295
Absence of magma would lead to a different error and should not lead to the wrong value being computed.

You can check the release notes for BC-breaking  changes if you want to make sure they don't impact you.
Also be aware that we don't port fix on old releases branch. So you will have to use the latest release to get all the fixes.

[2021-08-16 18:33] seemethere opened #63344 "Nightly windows CUDA builds failing on CUDA install step"
See https://app.circleci.com/pipelines/github/pytorch/pytorch/364600/workflows/0ba1f2fd-c831-4840-8312-2b96e9a378d2/jobs/15381589?invite=true#step-104-569

[code]

Appears to be a transient failure but we should consider this high priority since it appears as though this is happening more often

cc @ezyang @gchanan @zou3519 @bdhirsh @jbschlosser @anjali411 @seemethere @malfet @walterddr @peterjc12

[2021-08-16 18:40] HDCharles commented on #63326
I'm a bit confused about the repro, QAT is an ongoing process, among those tensors you are outputing, I recognize things like the obs max/min val (+-inf) and the uint8 tensors for the fakequant that are absolutely needed for QAT to work at all.

I'm not sure exactly what is supposed to be getting garbage collected here. The get_factory_kwargs_based_on_module_device instance will be stored on the q

[2021-08-16 18:55] colesbury commented on #16029
It's identical. Convolution is a linear operator (or affine if you include the bias) -- it's distributive. Mathematically, it does not matter if you perform two convolutions, **W** * **X** and  **V** * **X** or a single convolution **[W V]** * **X** with the weights concatenated. It's typically more computationally efficient to perform a single convolution operation using the concatenated weights

[2021-08-16 18:57] robieta commented on #63326
It's not; both the module and the quantized version of the module have gone out of scope but a reference to `get_factory_kwargs_based_on_module_device` outlives them.

[2021-08-16 19:10] eellison commented on #62775
@gmagogsfm this a frontend feature, so ya looking for assistance. in the past it's also blocked frontend python coverage improvements, such as registering `all` in TorchScript syntax. Right now it is special cased to only a cover subset of types, but if support for writing builtins with TS syntax was extended it would be trivial to add.

[2021-08-16 19:13] jithunnair-amd commented on #53738
cc @ROCmSupport to comment on gfx803 support in ROCm stack.

[2021-08-16 19:58] malfet commented on #63295
@beew official binaries are built against MAGMA-2.5.2, but it shouldn't make much difference. But just to confirm, CPU versions of the same tests pass? (I.e. can you please share the output of `python test_autograd.py -v -k test_lu_square_many_batches_no_info_cpu`) And can you reproduce the failures when using official 1.8.2 binaries?

[2021-08-16 20:20] malfet commented on #63335
Ok, part of the problem was false-positives in internal promotion script after https://github.com/pytorch/pytorch/pull/63022 was merged

[2021-08-16 20:22] mrshenli commented on #63210
There are use cases for `is_last()`, e.g., the ZeroRedundancyOptimizer non-interleaved hooks need run optimizer computation and communication when the bucket is the last one.

[2021-08-16 20:23] zou3519 opened #63352 "torch.matmul doesn't work on certain tensors with zero-sized dimensions"
## 🐛 Bug

[code]
this gives the following error:
[code]

## Expected behavior

Returns a tensor of shape (3, 0, 0)

## Environment

Master

## Additional context

Discovered while doing OpInfo tests for functorch

cc @jianyuh @nikitaved @pearu @mruberry @heitorschueroff @walterddr @IvanYashchuk @xwang233 @Lezcano

[2021-08-16 20:27] #62975 closed

[2021-08-16 20:37] seemethere commented on #63342
I think this might have something to do with this failure:

https://app.circleci.com/pipelines/github/pytorch/text/3760/workflows/01f687a8-220e-4708-a1b3-0e76e55066b2/jobs/120789?invite=true#step-104-344

[code]

[2021-08-16 20:51] xwang233 commented on #62780
FYI, the failures still exist in the latest nightly build with the same error message and stacktraces

[code]

[2021-08-16 20:51] bdhirsh opened #63356 "[python codegen] correctly plumb TensorOptions defaults through the python binding layer."
There's a bug in the python codegen that causes `TensorOptions` arguments to default to their respective default materialized values, instead of defaulting to `c10::nullopt` and allowing the C++ kernels to decide what to do with it.

Example failure:
[code]
Not passing in a dtype to `empty_quantized` should plumb a `c10::nullopt` through, causing it to pull the dtype from the passed-in tensor inst