[2020-04-18 04:21] mruberry commented on #3021
Closing due to age. @loudinthecloud, please file a new issue if you're still seeing this behavior.

[2020-04-18 04:21] #3021 closed

[2020-04-18 04:22] CaoZhongZ commented on #36792
What Parallel Studio version did you installed? Only Cluster edition will fully install Intel MPI library, other edition will install a runtime. Make sure you have all the IMPI files by
[code]

[2020-04-18 04:23] mruberry commented on #2971
PyTorch, like other deep learning frameworks, manages its device context's very carefully and these contexts cannot be used across multiple processes. That's why we require you rely on PyTorch's multiprocessing patterns, which carefully handle this behavior.

[2020-04-18 04:23] #2971 closed

[2020-04-18 04:23] mruberry commented on #2940
@albanD Is this still an issue?

[2020-04-18 04:24] #3089 closed

[2020-04-18 04:24] #3078 closed

[2020-04-18 04:27] mruberry commented on #36792
I'm sorry, @tuxmaster5000, but I don't think there's enough info in your issue. Could you please post your environment and a the commands that reproduce the issue you're having?

[2020-04-18 04:30] mruberry commented on #36853
Thanks for the suggestion, @ppwwyyxx. Implementing a general notion of non-blocking assertions seems tricky and niche, but if you want you can implement your own by waiting for the CUDA kernel to complete and then querying its result.

[2020-04-18 04:32] mruberry commented on #36655
Would you update this issue with your plan/approach? How would the function work? How would it handle extremal values?

[2020-04-18 04:34] mruberry commented on #36831
Thanks for the bug report, @aphedges!

[2020-04-18 04:42] mruberry commented on #36804
Thanks for the bug report, @GregTD42! I wonder where the -Wthread-safety option is coming from? gcc is correct (unsurprisingly) that it's not a warning option: https://gcc.gnu.org/onlinedocs/gcc/Warning-Options.html.

The command doesn't seem to originate with PyTorch. Maybe a submodule or one of your dependencies isn't configured properly?

[2020-04-18 04:46] mruberry commented on #36796
Thanks for the bug report, @vadimkantorov!

[2020-04-18 04:47] mruberry commented on #36794
Thanks for the feature suggestion, @coquelin. A PR implementing this would be interesting.

[2020-04-18 04:49] mruberry commented on #36752
Thanks for pointing this out, twoertwein! A PR fixing this would be great!

[2020-04-18 04:50] mruberry commented on #36735
Hey @occam-ra-zor, you can implement a custom function with its own backward pass, where the forward implements your approximation and the backward is any arbitrary function.

This might help you out: https://pytorch.org/tutorials/advanced/cpp_extension.html.

[2020-04-18 04:50] #36735 closed

[2020-04-18 04:52] mruberry commented on #36748
Thanks for the suggestion, tuananhle7! We are always working on improving our NumPy compatibility, but a PR implementing this behavior would be cool, too ;)

[2020-04-18 04:53] rohan-varma opened #36862 "test_fmod_cuda in test_autograd is flaky"
## 🐛 test_fmod_cuda in test_autograd is flaky
Very occasionally with `RuntimeError: graph_task->future_result_->completed() INTERNAL ASSERT FAILED`
See example failure:
https://app.circleci.com/pipelines/github/pytorch/pytorch/156952/workflows/8c86dcb0-85b9-42a7-ba74-b2a4ee890fe9/jobs/5181549

cc @ezyang @gchanan @zou3519 @SsnL @albanD @gqchen

[2020-04-18 04:58] mruberry commented on #36734
Thanks for the bug report, @rmhofer. This is likely an issue with LAPACK, which PyTorch uses for triangular_solve, however maybe we're calling it improperly or can work around this issue in PyTorch. It'd be great to get a PR if that's the case!

[2020-04-18 05:05] mruberry commented on #36671
I wonder if our "reverse op" type promotion is broken more generally?

[2020-04-18 05:07] mruberry commented on #36723
Hey @DogeWatch! Cool question, but it's more appropriate to our forums at https://discuss.pytorch.org/. Try asking there ;)

[2020-04-18 05:07] #36723 closed

[2020-04-18 05:10] mruberry commented on #36722
Can you provide a reproduction that doesn't involve modifying PyTorch? If not, why do you think the modification is valid? That is, what's the issue in PyTorch preventing your modification from working properly?

[2020-04-18 05:12] mruberry commented on #36721
Can you provide additional details about your environment and the commands you ran to produce this issue? Looking at the build log, it's not clear where this error is coming from.

[2020-04-18 05:16] soumith commented on #24982
@ezyang yes, let's fork and maintain

[2020-04-18 05:17] soumith commented on #24982
forked from mozilla/sccache: https://github.com/pytorch/sccache

[2020-04-18 05:18] mruberry commented on #36720
Hey @meganset, thanks for the suggestion! Can you add some context to this suggestion: when do you think users of PyTorch will want to do this, and what, if any, workaround(s) exist today for them to get that behavior?

If there's a cool reason to have it and you're interested in submitting a PR for it that sounds good to me, although I'm not our nn expert.

[2020-04-18 05:20] mruberry commented on #36715
Hey @jiayisuse, should we maybe make a separate triage queue for RPC and Tensorpipe issues?

[2020-04-18 05:28] mruberry commented on #36713
@fuzic, thanks for reporting this issue! Can you elaborate a little on what systems would be affected by this issue? It sounds like something we should look at fixing but I'd like to understand it a little better.

[2020-04-18 05:28] ngimel commented on #36645
Quantization on CUDA is not supported in 1.4

[2020-04-18 05:28] mruberry commented on #36594
Thanks for reporting this bug, @mmdixon! I'm glad you also found a workaround.

[2020-04-18 05:34] ngimel commented on #36644
Please ask questions on discuss.pytorch.org. Most likely it means that the build was not able to locate your cuda compiler.

[2020-04-18 05:34] #36644 closed

[2020-04-18 05:45] ngimel commented on #36710
This behavior agrees with documented behavior, why do you think it is incorrect? https://pytorch.org/docs/stable/_modules/torch/nn/modules/pooling.html#MaxUnpool2d

[2020-04-18 05:49] ngimel commented on #36702
Likely related to #36455

[2020-04-18 05:49] mruberry commented on #36702
Thanks for reporting this issue, @duzx16!

[2020-04-18 05:52] mruberry commented on #36650
Hey Visionscaper! Cool idea. It'd be great to get a PR for this!

[2020-04-18 05:59] mruberry commented on #36573
Hey @FenixFly, sorry to hear you're having a problem getting PyTorch and ONNX to work together. Have you tried using the pattern described here instead? https://pytorch.org/tutorials/advanced/super_resolution_with_onnxruntime.html

You may have more success with it.

[2020-04-18 06:02] mruberry commented on #36570
Hey @gnaggnoyil, sorry to hear you're having a problem building PyTorch. Can you elaborate on what you're trying to accomplish by setting both these flags?

[2020-04-18 08:19] Baranowski commented on #36722
You are right. I'm pretty certain it's an existing issue with PyTorch or one of its dependencies but will need to dig some more to find a convincing reproducer. Assigning to myself until I do.

[2020-04-18 08:32] mruberry commented on #36722
Thanks @Baranowski ;)

[2020-04-18 10:02] elmirador opened #36865 "SyncBatchNorm size check"
https://github.com/pytorch/pytorch/blob/9c7e604c607e6d9051af888ede9a009be2bda676/torch/nn/modules/_functions.py#L12-L13

Shouldn't the size check be `size * world_size == 1`?
Even if I'm using one sample per batch, across all GPUs (if using SyncBatchNorm) I'll have enough data to calculate the statistics.

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @rohan-varma @gqchen @aazzolini

[2020-04-18 10:16] nikitaved commented on #17501
@t-vi , do you know whether it is a common use case when `step > size`? If so, I think then we need to kernels. In such a case the parallelization over the `grad_in` (in your terminology) is not efficient.

[2020-04-18 10:40] Oktai15 commented on #32968
@BelBES how it helps to use model in OnnxRuntime? I have the following error:
[code]

[2020-04-18 10:48] BelBES commented on #32968
@Oktai15 I'm not sure about onnxruntime (i use other inference engine), but I sure that you can create custom implementation of Triu kernel for onnxruntime (it is really simple function) and use it.

[2020-04-18 11:54] AWehenkel commented on #17774
Hi @ptrblck,
Thanks for your reply. The error was caused by my poor code quality, for those who could encounter the same problem here's what was wrong in my implementation.

From what I understand Dataparallel clones the Parameters of the underlying model on the multiple GPUs and is agnostic about the rest of the model (it will only execute the forward method but won't move any properties of the m

[2020-04-18 13:17] jcesteves opened #36868 "Error at import torch - ImportError: DLL load failed: O sistema operacional não pode executar %1."
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1.
1.
1.

## Expected behavior

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out the checklist below manually).

You can get the script and run it with:
[code]

 - PyTorch Version (e.g., 1.0):1.4.0
 -

[2020-04-18 14:09] twoertwein commented on #36752
I would be happy to fix it, if I knew what the output is (I know what it is not).

[2020-04-18 15:19] t-vi commented on #17501
I don't know, people tend to have use cases beyond my imagination.
If you want, you could use a pattern where the threads each take of writing some zeros and then taking care of a potential non-zero. I think it should work well even if it complicates the block/grid layout calculation by a small bit.
I would likely try to have a single integrated kernel that covers both cases. Saves headache and yo

[2020-04-18 15:46] nikitaved commented on #17501
It will be a single kernel with a decision. It will complicate the code a bit because of slightly different strategies for the TensorIterator creation.

[2020-04-18 16:00] peterjc123 commented on #36868
Please capture the log using `Process Monitor` and upload it here. Usually this error indicates that you are trying to load against a conflicting DLL (e.g. `libiomp5md.dll`) from the other places.

[2020-04-18 16:17] meganset commented on #36720
Thanks for looking at this.

This change is similar to the one made in February with @yf225 (PR #34208)
where we made private methods in _Sequential_ using _AnyModule_’s public.
in that case, if we had an _AnyModule_, there was no good way to add it to a _Sequential_ without recasting back to its original type.

Similarly, if we have an _AnyModule_, there's no way currently to make it into a _Name

[2020-04-18 16:54] nairbv opened #36870 "Build with USE_DISTRIBUTED=0 fails"
## Bug

In linux on a devgpu, when trying to build with USE_DISTRIBUTED=0 I get:
`nccl.h: No such file or directory`

I think nccl should only be used if USE_DISTRIBUTED=1, so maybe we have an incorrect `#ifdef` somewhere. Changing USE_DISTRIBUTED=1 gets my build to succeed.

## Environment

$ python ~/bin/collect_env.py
Collecting environment information...
PyTorch version: 1.6.0a0+d5f531d
Is deb

[2020-04-18 16:57] timn2008 commented on #483
The photo https://github.com/pytorch/pytorch/issues/483#issuecomment-273646071 seems to be fake, as David Shanno (1938-2019) in his Interview of 2017 says that "I had never met Charles Broyden. " Is it a kind of deep fake ?

[2020-04-18 17:31] gmoneymiller opened #36871 "Stochasticity for DistributedDataParallel on CPU but not on GPU"
## 🐛 Bug

When I run my DDP model on the GPU using a specific seed, I get identical results time after time.  But when I run the same DDP model on the CPU using the same seed, I get different results each time.

I am setting the seed within the child process, near its beginning, using the following code:

    torch.manual_seed(args.seed)
    np.random.seed(args.seed)

I also tried setting the seed

[2020-04-18 17:46] ngimel commented on #17774
@AWehenkel a more idiomatic way is to register those tensor attributes as [buffers ](https://pytorch.org/docs/stable/nn.html?highlight=register_buffer#torch.nn.Module.register_buffer). You are right, `.to()` is not called recursively on the model, so overriding it does not correctly maintain the device of the tensor attributes.

[2020-04-18 18:00] netw0rkf10w opened #36872 "Add an option for filling the last batch in DataLoader"
## 🚀 Feature

An option for `torch.utils.data.DataLoader` to fill the last batch (if it does not have the same length as the previous ones), instead of discarding it as the `drop_last` argument does.

## Motivation

While `drop_last` has become quite standard, I think it would be better to fill the last batch to obtain the same length (the missing values are sampled randomly among the previous exa

[2020-04-18 18:44] #36145 closed

[2020-04-18 18:49] JubilantJerry opened #36874 "Memory leak upon exception for interactive consoles"
## 🐛 Bug

If I run PyTorch code in an interactive console such as the python interpreter or ipython, then PyTorch leaks memory when a function call on a `torch.nn.Module` raises an exception that propagates to the top level. Running `torch.cuda.clear_cache()` does not clear this memory, and I have observed cases where even catching the exception and running `del(model)` does not clear the memory.

[2020-04-18 20:06] rgommers commented on #36560
I think I agree with @ezyang and @mruberry here - there are advantages to being explicit, code does become clearer about what it does (e.g. `scipy.sparse` matrices have `todense()`, pytorch CUDA tensors have `cpu()`, etc.), and it's harder for the user to shoot themselves in the foot.

Forced casting sounds like a nice convenience for a visualization library, however this can also be seen as a lea

[2020-04-18 20:21] makslevental commented on #14848
This is still so broken. Like several orders of magnitude. On a 50x1000x1000 tensor nonzero takes ~60s while np.nonzero takes .1s

[2020-04-18 21:23] osalpekar commented on #36862
Looks like https://github.com/pytorch/pytorch/pull/36856 should fix this internal assertion issue

[2020-04-18 23:18] mruberry commented on #36720
Thanks for elaborating, @meganset!

[2020-04-19 00:23] liuqibj opened #36877 "Is caffe2 still under maintenance？"
little confused about the importance of caffe2 and pytorch in FB. Is caffe2 still under maintenance？ thanks

[2020-04-19 01:19] shashi7679 opened #36879 "GANs..... pls fix this???"
If you have a question or would like help and support, please ask at our
[forums](https://discuss.pytorch.org/).

If you are submitting a feature request, please preface the title with [feature request].
If you are submitting a bug report, please fill in the following details.

## Issue description
An attempt has been made to start a new process before the
        current process has finished its

[2020-04-19 03:00] peterjc123 commented on #36879
https://pytorch.org/docs/stable/notes/windows.html#usage-multiprocessing

[2020-04-19 03:21] david940408 opened #36881 "Dirichlet distribution computes log_prob incorrectly"
## 🐛 Bug

Pytorch computes Dirichlet log_prob incorrectly.

## To Reproduce

[code]

The output is `tensor(1.7918)`.

## Expected behavior

The log probability density function at this point should be `torch.lgamma(torch.tensor(1.)) * 4. - torch.lgamma(torch.tensor(4.))` (see [Wikipedia](https://en.wikipedia.org/wiki/Dirichlet_distribution)), which equals `tensor(-1.7918)`.

## Environment

[code]

[2020-04-19 05:36] alsrgv commented on #7617
I'm having the same issue with `InstanceNorm2d`, `ReLU(inplace=True)` and gradient checkpointing.

[2020-04-19 05:36] z-a-f opened #36888 "Potential division by zero in quantization observer"
Didn't manifest itself, but while reading the code, noticed that if min == max, the result will be infinity: https://github.com/pytorch/pytorch/blob/b0b9e704ed1f31ed1c81994c20e5a9f3715d2583/torch/quantization/observer.py#L894-L895

cc @jerryzh168 @jianyuh @dzhulgakov @raghuramank100 @jamesr66a

[2020-04-19 07:11] thuyen commented on #27743
Awesome, thanks @wanchaol

[2020-04-19 07:13] mattip commented on #18757
No response from @blacksailer, @xsacha. Should we close this?

[2020-04-19 07:53] jonrbates opened #36891 "pytorch and c++ inference disagree"
## 🐛 Bug

The output from a traced model using (1) python and (2) c++ are different.

xpost: https://discuss.pytorch.org/t/c-and-pytorch-inference-discrepancy/77388?u=jonrbates

## To Reproduce

Steps to reproduce the behavior:

**1. Create model in python**
[code]

**2. Inference in pytorch**
[code]

**3. Inference in c**
[code]

Output from running c exe (with argv[1] = "traced_distilgpt2.pt") :

[2020-04-19 08:17] #18757 closed

[2020-04-19 08:42] toto-maru opened #36892 "Add an optional arg for specifying classes to load in ImageFolder"
## 🚀 Feature
Add "classes" option to`torchvision.datasets.ImageFolder.__init__()` method, which specify the classes I want to use under "root", not every classes (folders) under "root".

## Motivation

I'd like to specify classes to use under "root" path, but current ImageFolder loads every classes (dirs) under "root" path.
 In Keras' [ImageDataGenerator.flow_from_directory](https://keras.io/prepr

[2020-04-19 08:42] Baranowski commented on #26304
Note to self:

The build.ninja entries for `.cpp` sources properly point to dependency files, e.g.:

[code]

The `CXX_COMPILER__torch_cpu` rule in `rules.ninja` generates them explicitly:
[code]

(Note: those dependency files are then transcribed into a more efficient format in `.ninja_deps` and the `.d` file is immediately removed; this detail is not important for how this whole thing works)

The

[2020-04-19 08:46] Baranowski commented on #36722
I found a reproducer without modifying the PyTorch source code: https://github.com/pytorch/pytorch/pull/36864. I have updated the original bug report.

I tried to simplify the test but then the error no longer shows up, so it should be reasonably close to a MWE.

[2020-04-19 09:00] mruberry commented on #36722
Awesome! That is extremely interesting. I can also run this locally without issue. I wonder what's going on with that particular test build?

[2020-04-19 09:28] MikkelAntonsen commented on #36891
Tracing has limitations which are explained here https://pytorch.org/docs/master/jit.html#torch.jit.trace.

When trace sees a conditional it will save the branch being used when the module is traced. It looks like this is what happened, since the first output is correct and then keeps repeating.
A possible solution to your problem can be using scripting instead.

https://pytorch.org/docs/master/ji

[2020-04-19 10:51] skn123 opened #36895 "VS2019 compiler error"
## 🐛 Bug

Compiler error when building pytorch (fresh checkout from repo) using Visual Studio 2019
## To Reproduce
Usual CMake process
Steps to reproduce the behavior:

1.
1.
1.

![pytorch_error](https://user-images.githubusercontent.com/4594354/79685893-b777bf80-8259-11ea-970c-2364b0ccb35e.png)

## Expected behavior

## Environment
Visual Studio 2019 64Bit, Windows 10 profession.

Please copy and

[2020-04-19 11:26] ruiatelsevier commented on #4208
Any new updates? I am getting the same error, and also only with GPU. If CPU it works fine.

[2020-04-19 12:26] peterjc123 commented on #36895
Could you please tell me what have you done (exact steps)?

[2020-04-19 12:48] Louyu666 opened #36899 "PyTorch to ONNX issue"
When I execute the following code come across an problem:
[code]
[code]
## System Info
PyTorch version: 1.4.0
Is debug build: No
CUDA used to build PyTorch: None

OS: Mac OSX 10.15.4
GCC version: Could not collect
CMake version: version 3.16.4

Python version: 3.7
Is CUDA available: No
CUDA runtime version: No CUDA
GPU models and configuration: No CUDA
Nvidia driver version: No CUDA
cuDNN version:

[2020-04-19 12:50] andyljones opened #36900 "Max-over-dim is 2,000 times slower than max"
## 🐛 Bug
`.max(dim=0)` is 2,000 times slower than `.max()` on a (100m,) array of floats:
[code]

## To Reproduce
Here's a short timing script:

[code]

## Expected behavior
I'd expect max-over-a-dim to be at most as slow as sort-over-a-dim.

## Environment

[code]

## Additional context
The same script on a CPU tensor produces results more like what I'd expect:
[code]
My total guess is that `max()

[2020-04-19 12:53] faruknane opened #36901 "How does pytorch computes on GPU?"
Hi, I have been writing [a deep learning library](https://github.com/faruknane/DeepLearningFramework). I think a lot about how the way of gpu and cpu computing should be and wonder how pytorch computes actually and achieves building the fastest library. Before continuing on telling, I want to say that I tried to find the answer by looking at the codes of CNTK. However, It's so complicated, I could

[2020-04-19 13:48] ShaiBet commented on #8550
Is it possible?

[2020-04-19 14:28] Baranowski commented on #36722
I also cannot reproduce it locally but one of my colleagues could reliably reproduce it on his setup, so it's not just a CI environment quirk.

[2020-04-19 15:08] mattip commented on #22338
Other than more clearly documenting the need for `ATEN_CPU_CAPABILITY=default` under qemu, is there anything more to be done here?

[2020-04-19 15:34] #30813 closed

[2020-04-19 17:32] rgommers opened #36902 "type annotation `-> (List[int], List[int])` gives RuntimeError for JIT"
## 🐛 Bug

The JIT and MyPy disagree on what a valid type annotation should look like:
[code]
without `-> (List[int], List[int])` it's a syntax error for MyPy (and those cannot be handled with `ignore_errors`), with it the JIT gives a `RuntimeError`.

Discovered in gh-36584, in that PR (which enables running MyPy in CI over the whole code base) I'll disable this test.

## To Reproduce

Steps to rep

[2020-04-19 18:12] ifeherva commented on #36625
My issue with this approach is that from the .code() I do not have the mapping to the right node (or I do not know how to do that without parsing the whole graph)

[2020-04-19 18:20] el-hult opened #36903 "Unexpected crash in autograd.grad"
## 🐛 Bug

When running `torch.autograd.grad` recursively to compute a hessian, the code crashes. It does not crash if i mutiply my variables by 1.

## To Reproduce

Steps to reproduce the behavior:

1. Run Adam Paszkes code that computes hessians at https://gist.github.com/apaszke/226abdf867c4e9d6698bd198f3b45fb7#file-jacobian_hessian-py-L1-L15
[code]

1. Run `torch.autograd.set_detect_anomaly(Tru

[2020-04-19 19:09] vmazalov opened #36905 "What's the reason to split the bias in LSTM layer into two vectors?"
## 📚 Documentation

LSTM layer implementation has two types of biases: LSTM.bias_ih_l[k]  and LSTM.bias_hh_l[k], see https://pytorch.org/docs/stable/nn.html#lstm

The LSTM formulation in the docs, also has two collections of biases, which are typically combined into one, e.g. b_{ii} and b_{hi} can be combined.

What's the reason to split the bias into two vectors? Would be good to clarify in the d

[2020-04-19 19:13] vmazalov commented on #36905
Just realized it's coming from CUDNN.

[2020-04-19 19:13] #36905 closed

[2020-04-20 00:20] InCogNiTo124 opened #36909 "Loading entire dataset in one batch with utils.data.DataLoader"
## 🚀 Feature

I'd like to propose a new feature of the `torch.utils.data.DataLoader`class, to have its `batch_size` equal to `len(dataset)`
## Motivation
Sometimes when testing and/or validating my model, I want to change the ratio of training set to the test/val set. When I do testing, though, I frequently wish to not have more than one iteration, but pass the entire dataset at once. I usually ju

[2020-04-20 01:18] fuzic commented on #36713
right now this is affecting me on windows with wxWidgets. I guess more generally, since these macros are about internationalization, this would affect apps using text internationalization, maybe more common with GUI applications, and fairly agnostic of platform.

[2020-04-20 01:29] KnightYao commented on #36645
tks

[2020-04-20 01:32] simbilod commented on #24185
In addition to the above, a recent [arxiv submission](https://arxiv.org/abs/2001.04121) seems to tackle this ([repo here](https://github.com/buwantaiji/DominantSparseEigenAD)). I have not evaluated how well it works though.

[2020-04-20 01:34] kpprasa commented on #27588
I too have this bug. My code is rather complex, but I checked it without GPU and it does run.
<img width="680" alt="Screen Shot 2020-04-19 at 9 29 01 PM" src="https://user-images.githubusercontent.com/36089289/79705754-d2135e00-8284-11ea-902d-a7ff2ca67d36.png">

I was able to temporarily get rid of this error by reducing the batch size from 32 to 16

[2020-04-20 02:14] gabrielcustodio commented on #25627
Would you share some of the code you did to set up?

[2020-04-20 02:39] refraction-ray opened #36910 "jit.script leads to RuntimeError: attribute lookup is not defined on python value of type in some cases"
## 🐛 Bug

``torch.jit.script`` sometimes leads to ``RuntimeError: attribute lookup is not defined on python value of type [some python object name]``.

Not sure is this a bug or I am misusing jit.script since I know very little of jit in pytorch. Anyway, please see the reproduce demo below.

## To Reproduce

[code]

[code]

[code]

``python3 test2.py`` gives no error while ``python3 test1.py`` wil

[2020-04-20 02:49] mruberry commented on #36713
Cool, thanks for following up, @fuzic!

[2020-04-20 02:52] jianyin2016 commented on #33811
I met exactly the same issue earlier, right, libtorch is still in beta.

[2020-04-20 03:08] gnaggnoyil commented on #36570
@mruberry Thanks for your reply here! We set `USE_GLOO` on because we were trying to see if we can build libtorch with multi-machine support, and we have been setting `USE_SYSTEM_NCCL` from the first time we began to use libtorch and didn't encounter problems until this time we set `USE_GLOO` on. We were expecting that those two flags are orthogonal and shouldn't have impact on each other, hence t

[2020-04-20 03:21] mruberry commented on #36570
Got, thanks for the update @gnaggnoyil. I wonder if we just need to improve the documentation here: https://pytorch.org/docs/stable/distributed.html.

[2020-04-20 05:21] zhangmozhe commented on #34238
I have exactly the same issue.

[2020-04-20 05:32] ngimel commented on #36901
Please ask questions on discuss.pytorch.org.

[2020-04-20 05:32] #36901 closed

[2020-04-20 05:32] ngimel commented on #36900
cc @XiaobingSuper

[2020-04-20 05:52] tuxmaster5000 commented on #36792
In the build.zip file, all command and installed packages are noted.
It is build inside of an chroot, so only the packages noted in the log file are available for the build.
find /opt/intel -name "mpi.h" will show:

[2020-04-20 05:56] tuxmaster5000 commented on #36721
Yes, it will happens on every build. Because the build is done in an chroot environment, I can reproduce it every time. What type of information do you need?

[2020-04-20 06:08] ngimel commented on #36900
Thanks for reporting.
You are right, max() uses a better implementation than max over a dimension, especially when the output size is small (in your case one element). The short-term fix for the max performance may be
[code]
cc @XiaobingSuper  for 5x perf difference on the cpu.

[2020-04-20 06:18] Anjum48 commented on #25627
@gabrielcustodio Check out my answer here: https://discuss.pytorch.org/t/size-mismatch-when-running-fasterrcnn-in-parallel/54979/7?u=anjum_sayed

There is a very specific way things have to be launched in order for everything to work properly. It took a while for a noob like me to figure it out, but it will work eventually

[2020-04-20 06:35] ngimel commented on #36900
I'm setting it as hi-pri, because going through argmax on cuda is a relatively easy fix that will improve the performance of a common max/min op a lot

[2020-04-20 06:43] lironmo opened #36913 "pytorch latest update(1.4) broke MultiStepLR: wrong LR after step from _get_closed_form_lr"
Hi,
the setting are simple,
using simple SDG optimizer with start lr of 0.05, and using MultiStepLR lr scheduler with milestone of 2,4.

code for reproduce:
[code]

The bug happens if epoch is not None(i noted that that pytorch community tried to remove the option to pass epoch at step, but i will open a separate issue about that) at the __init__ of _LRScheduler there is a call to self._get_closed

[2020-04-20 06:54] skn123 commented on #36895
Fresh checkout from repo
CMake - CPU mode only
Python 3.6.8 (enabled in CMake)
Generated .sln file and opened it in VS 2019.
It downloaded all necessary dependencies and started the build process and this compilation error came.
Just for the sake of completeness; The same codebase could compile in UBuntu (Windows subsystem for linux to be specific)

[2020-04-20 06:58] alepack89 opened #36914 "Problem with c10/utils/variant.h"
## 🐛 Bug

Hi

I've encountered a problem with the code in "c10/utils/variant.h" while trying to build a C++ application.
I've created a simple test program to explain the problem.
The code I’m trying to build is the following one

[code]

The CMakeLists.txt is

[code]

I’ve added an empty “data” namespace to better explain the problem.
When I build the example I get a lot of errors like

[code]

I

[2020-04-20 07:01] mruberry commented on #36721
It'd be helpful to know, for example, the operating system and which instructions to build you were following.

Let me put it another way: can you build the PyTorch master branch from source following the github instructions?

[2020-04-20 07:14] peterjc123 commented on #36895
Have you added the `--recursive` option?

How is the solution generated?

[2020-04-20 07:16] peterjc123 commented on #36895
Anyway you can refer to the description here.
https://github.com/pytorch/pytorch#from-source

[2020-04-20 07:26] prajjwal1 commented on #36455
I had a look at `aten/src/ATen/Declarations.wrap`, it seems that `new_` functions are not defined there. I wanted to know where can I make the changes so they are reflected in `generated` directory.

[2020-04-20 07:44] jerryc05 opened #36915 "Flatten in nn/modules/__init__.pyi"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. `import torch.nn as nn`
2. `nn.` does not pop up `Flatten` (I mean autocomplete)

I also noticed that `from .flatten import Flatten` is missing from `nn/modules/__init__.pyi`. I am not sure if this is a bug.

I am using PyCharm.

## Environment
[code]

cc @ezyang

[2020-04-20 07:54] tgsmdww opened #36916 "Why AdaptiveAvgPool2d use input.contiguous().view({-1, mean_size}).mean(-1) instead of mean({-1, -2}, true)"
Op mean support more than 1 dim and can use keep_dim=true. The result is same.

[2020-04-20 08:04] skn123 commented on #36895
Absolutely, as I said, the same solution builds perfectly fine under Ubuntu. As you see, the error is related with a function in <algorithm>. So does this mean that something different (as in flags, etc.,) has to be done for VS versus Linux?

[2020-04-20 08:06] fumihwh commented on #36710
@ngimel
Thanks for reply.
Maybe 'incorrect' is inappropriate.
But as an `inverse` op of MaxPool, introduced padding will break the behavior.

[code]
[code]
Expect `inverse` op MaxUnpool's result:
[code]
which can be got by
[code]
If I use exactly same attrs to `inverse`:
[code]
I got
`RuntimeError: Found an invalid max index: 24 (output volumes are of size 4x4`

I don't know if I make myself clear

[2020-04-20 08:15] prclibo commented on #33928
Met similar issue.
This hard coded target link will results in problems when compiling pytorch extension with custom cuda location.

For example, I installed pytorch and cudatookit via conda. So I compile my custom pytorch extension with CUDA from cudatookit (not in `/usr/local/cuda`). But the compiler will try to link `/usr/local/cuda/lib64/libcudart.so` which does not exist.

[2020-04-20 08:18] rongzha1 opened #36917 "jit trace failed due to "failed to differentiate `prim::ListConstruct`""
## 🐛 Bug

Failed to generate grad graph by using jit trace, error as following:

RuntimeError: failed to differentiate `prim::ListConstruct`

Could you help to check it please?

## To Reproduce

import torch
import torch.nn as nn
import torch.nn.functional as F

class Net(nn.Module):
    def __init__(self):
        super(Net, self).__init__()

    def forward(self, x):
        x = F.relu(x)

[2020-04-20 08:28] ngchanway opened #36918 "Make multi-label datasets for images"
## 🚀 Feature
I would like to see a PyTorch feature to generate a dataset, ideally Pandas DataFrame with the image name as index and lists of labels for each image.

## Motivation
For multi-label image classification, it is important to generate the dataset from scratch given a custom datasets. Most likely, the images would be duplicated in multiple folder if the image has multiple label, similar t

[2020-04-20 08:31] bravestpeng opened #36919 ""yolo layer int libtorch"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

libtorch1.4,there is a problem in yolo layer when I use cuda,but it is normal when I use cpu.

- [Discussion Forum](https://discuss.pytorch.org/)

[2020-04-20 08:38] jni commented on #36560
@rgommers

Well, to me it comes to the question of why we have protocols at all. Should the moment of visualisation be the moment at which every user learns the specifics of how to get a numpy array for that particular library they are using right then? `torch_tensor.numpy()`, `dask_array.compute()`, `pandas_series.to_numpy()`, `tf.make_ndarray(tf_tensor)`, `mxnet_array.asnumpy()`...

I remember a

[2020-04-20 08:45] peterjc123 commented on #36895
But the nightly builds fine so there's probably something wrong with your configuration. Could you please post the full log during configuration and build?

[2020-04-20 09:11] mruberry commented on #36560
We would consider supporting a "force to NumPy" option in PyTorch. See https://github.com/pytorch/pytorch/issues/20778. Would that address your concern?

[2020-04-20 09:12] pythorghst commented on #36802
Thank you. It works with qat_model.to(device='cuda'). But it would be better not having to do this workaround. Plus, QAT is at least 10 times faster in 1.5 so a proper fix would be appreciated (or maybe it's the 1.4 version which is abnormaly slow)

[2020-04-20 09:52] super233 commented on #1249
----------------------------------------------------------
May be there is a better way to convert GroundTruth which is a Tensor with shape **[B, H, W]** to one-hot format that has the shape **[B, C, H, W]** by the **`one_hot()` from  `torch.nn.functional`**
[code]
To make `y_onehot` can call `view()`, you must make it `contiguous()`
[code]

[2020-04-20 10:04] super233 commented on #1249
This is my implementation of Dice Loss:
[code]

[2020-04-20 10:26] FenixFly commented on #36573
Hello, @mruberry ,

Unfortunatelly, link you sent doesn't contain information how to write `symbolic()` function in terms of onnx g_ops functions

[2020-04-20 11:56] vadimkantorov commented on #36900
For the cases where indices are not needed, one option can be adding an argument `return_indices=False` so that `torch.max(dim)` would return an empty tensor in `indices` component

[2020-04-20 12:00] jcesteves commented on #36868
Hello man,

I can find the error, it's just a dll conflict in system32. I delete this
dll and run ok.
Thanks.

Em sáb., 18 de abr. de 2020 às 13:00, peterjc123 <notifications@github.com>
escreveu:

[2020-04-20 12:24] #36868 closed

[2020-04-20 12:40] tuxmaster5000 commented on #36721
I use CentOS 7.7 and the mock tool, to build rpm packages to distribute it on the servers.
I can try the master branch, but the instruction will not work for CentOS because conda is not available here. So I can only check out the master, call git submodule update and try to build it via python3 setup.py install in the chroot environment. Like it was shown in the log.

[2020-04-20 13:28] pearu commented on #23651
Heads up: PR #36305 implements softmax and log_softmax for CPU sparse tensors. Autograd support is included. Early feedback is welcome.

[2020-04-20 13:37] lufol commented on #9176
I think it would be helpfull if `torch.save` would be able to unwrap the module from the model to be saved, as I saw several pytorch training libraries all implementing the very same code as @flauted.

Therefore I believe adding sth. like a `unwrap` flag to the method would be nice.

[2020-04-20 13:41] abdjava opened #36920 "Tensorboard not writeing all datapoints"
## 🐛 Bug

While training it seems tensorboard allways misses the last datapoint . I have a read of pytorch docmentation https://pytorch.org/docs/stable/tensorboard.html . It seems example code form there does not give as many datapoints as expected . Running it 10 times gives me 0 datapoints and running it 100 times only gives me 88 datapoints .

## To Reproduce

Steps to reproduce the behavior:

[2020-04-20 13:57] ezyang commented on #36702
It's the same thing as #36455

[2020-04-20 13:58] ak-source commented on #36881
[code]
You probably missed that pdf uses 1/B(a) not B(a)

[2020-04-20 14:22] twoertwein opened #36921 "Error in lu_solve for batched large matrices on the GPU"
## 🐛 Bug

lu_solve throws an error if it is provided with large batched data that is on the GPU. It works for unbachted data, data on the CPU, or tiny matrices (at least 3 x 3).

## To Reproduce
[code]

## Expected behavior

It should work! :)

## Environment

[code]

cc @ezyang @gchanan @zou3519 @ngimel @vincentqb @vishwakftw @SsnL @jianyuh

[2020-04-20 14:41] XiaobingSuper commented on #36900
For CPU path, there has an fast path for **return_indices=False**, but not exposed to python frontend ,  named **min_values/max_values**, for **return_indices=True**, there has an opportunity to improve the performance of max/min of dims, I am now doing that.

[2020-04-20 14:49] BarclayII opened #36922 "Multiprocess DataLoader with DLPack conversion sometimes corrupts memory"
## 🐛 Bug

See the reproduction below for a minimal example.

## To Reproduce

[code]
The test fails.

## Expected behavior

The test should pass.

## Environment

 - PyTorch Version (e.g., 1.0): 1.4.0 Release
 - OS (e.g., Linux): Linux
 - How you installed PyTorch (`conda`, `pip`, source): pip
 - Build command you used (if compiling from source):
 - Python version: 3.7
 - CUDA/cuDNN version: 10.1

[2020-04-20 14:51] vadimkantorov commented on #36920
Related: https://github.com/pytorch/pytorch/issues/24234 (workaround). Unfortunately, it's not fixed yet :(

[2020-04-20 14:54] jonasrauber opened #36923 "backprop through torch.where backprops nans through path that was not taken"
I think backprop through `torch.where` is wrong in certain special cases.

## To Reproduce

[code]

## Expected behavior
[code]
This would be the correct gradient.

In practice, this bug can easily happen if one runs the above code for different t (including 0) and assumes that the `nan`'s for `t = 0` should not matter because the `torch.where` always selects the first path that has no `nan`s (and

[2020-04-20 14:57] seberg commented on #36560
Well, I am not sure that adding an option to pytorch can really help with the issue Juan is pointing out. Let me try to unravel this:

1. Many libraries do not have this problem, they are happy to be converted silently to a numpy array and `np.asarray` may be cheap or even no-copy.
   * They and their users use `np.asarray` a lot and are happy with it. "Things just work"
   * Some of these may be

[2020-04-20 15:00] ezyang opened #36925 "Port torch/csrc/jit/runtime/register_string_ops.cpp to new operator registration API"
We have a new operator registration API introduced in #36258, and we need to port all use sites of the old registration API to use it.

Here is the general recipe for porting:
1. We must add def()s of the operators to the centralized location.  For `aten::` namespace, this location is the `TORCH_LIBRARY(aten, m) {` block in `aten/src/ATen/templates/TypeDefault.cpp`.  A def looks like:

[code]

2.

[2020-04-20 15:07] david940408 commented on #36881
You're right. Sorry about that. I'll close the issue.

[2020-04-20 15:07] #36881 closed

[2020-04-20 15:09] mrshenli commented on #35009
disable flaky test #36924

[2020-04-20 15:37] mshuaibii commented on #35009
pickle support for sparse tensors [#27062](https://github.com/pytorch/pytorch/pull/27062)

[2020-04-20 15:48] ezyang commented on #36455
VariableType is specifically generated by `tools/autograd/gen_variable_type.py`. Declarations.cwrap shouldn't affect this at all.

I think fixing this may be quite complex and it may be difficult for us to walk you through it (we ourselves aren't exactly sure what changes are necessary). Take a look at that Python script and if it seems inscrutable it is probably best to pause on this issue until

[2020-04-20 15:48] ngimel commented on #36900
@vadimkantorov unless you are interested in squeezing out ~10% improvements in reduction performance, the workaround I posted above can be used to produce pretty good perf numbers. The situations where I'd expect its overhead to be higher than 10% are when the size of reduction output is on the order of the size of reduction input (i.e. you are reducing over dimension of size 2-10). If there are i

[2020-04-20 15:50] vadimkantorov commented on #36900
Make sense!

[2020-04-20 15:51] ezyang commented on #22338
I think that, if possible, it would be good for capability detection to automatically discover the qemu situation and "do the right thing". If qemu is straight up reporting the wrong capabilities there may not be very much we can do though.

[2020-04-20 16:03] ngimel commented on #36710
This is the behavior described in the documentation, for ambiguous cases you need to explicitly provide size of the output.
[code]

[2020-04-20 16:05] albanD commented on #36919
Hi,

Can you please fill in the template properly?
Also if you want to ask questions, as mentioned in the template, you should use the forum.

Closing this until it contains all info.

[2020-04-20 16:05] #36919 closed

[2020-04-20 16:09] bhosmer opened #36931 "Pull hacked twins out of prim ops"
Special-cased codegen for 4 ops to handle optional tensors in JIT is replaced temporarily with handwritten bindings in https://github.com/pytorch/pytorch/pull/36666. These need to be removed ASAP; they're vulnerable to drift from the `native_functions` bindings they were originally derived from.

[2020-04-20 16:09] albanD commented on #36923
Hi,

This is a duplicate of https://github.com/pytorch/pytorch/issues/23395
Closing in favor of the other issue that explain why it happens.

[2020-04-20 16:09] #36923 closed

[2020-04-20 16:20] albanD commented on #36922
I'm not a dlpack specialist but isn't this just because `a` goes out of scope?

[2020-04-20 16:22] albanD commented on #36920
Closing in favor of #24234

[2020-04-20 16:22] #36920 closed

[2020-04-20 16:27] albanD commented on #36916
Hi,

We use github issues only for bugs or feature requests.
Please use the forum to ask questions: https://discuss.pytorch.org/

For your specific question the answer is that `AdaptiveAvgPool2d` was implemented before the support for multiple dims were added to mean.

[2020-04-20 16:27] #36916 closed

[2020-04-20 16:30] albanD commented on #36915
Hi,

This is most likely the issue indeed. Do you want to try and change it to see if it works. And if so send a PR?

[2020-04-20 16:33] albanD commented on #36879
The solution is listed in the error message and the relevant doc has been linked above. Closing.

[2020-04-20 16:33] #36879 closed

[2020-04-20 16:37] #5672 closed

[2020-04-20 16:38] albanD commented on #36903
Hi,

We use github issues only for bugs or feature requests.
Please use the forum to ask questions: https://discuss.pytorch.org/

For your particular issue, this is not related to pytorch.
What happens is that when you do `x * x` only, then the gradient return in the jacobian computation is the same as the one that is passed as input. And it is modified inplace to compute the full Jacobian. But th

[2020-04-20 16:38] #36903 closed

[2020-04-20 16:40] albanD commented on #4208
Hi,

This is several years old so all the information here is outdated.
Please re-open a new issue if you still see this with latest version.

[2020-04-20 16:40] #4208 closed

[2020-04-20 16:44] albanD commented on #36877
cc @soumith

[2020-04-20 16:44] SsnL commented on #36892
Could you please open an issue in https://github.com/pytorch/vision instead? This repo is about core PyTorch. The issue you raised is specific to torchvision. Thanks.

[2020-04-20 16:44] #36892 closed

[2020-04-20 16:47] ngimel commented on #36921
Adding high-priority, as it is a crash.

[2020-04-20 16:49] albanD commented on #36874
Hi,

I can't find the exact issue back (this is related https://github.com/pytorch/pytorch/issues/10348), but python REPL will hold on to the exception and local variables when the error occurs. This creates reference cycles (so need gc.collect() to free them) and objects that the REPL itself keeps alive (the last exception and all the variables associated) and that cannot be freed.
Can you double

[2020-04-20 16:52] albanD commented on #36870
Triage review to make sure this is high priority

[2020-04-20 16:52] vishwakftw commented on #36921
It seems to work for me on Google Colab.

[2020-04-20 16:58] soumith commented on #36877
no, caffe2 has no commitment on any fixes or patches or actions on bug reports. If you are relying on it now, you should treat it as "end of life" support: https://en.wikipedia.org/wiki/End-of-life_(product)

[2020-04-20 16:58] #36877 closed

[2020-04-20 17:04] mrshenli commented on #36870
Do we know if this occurs for 1.5 release as well?

[2020-04-20 17:05] ailzhang commented on #35009
https://github.com/pytorch/pytorch/pull/36927 fixes xla job failure on release/1.5 branch.

[2020-04-20 17:06] vishwakftw commented on #36921
I'm testing MAGMA's implementation internally now.

[2020-04-20 17:06] twoertwein commented on #36921
I hope that doesn't imply that `torch.inverse` has the same issue for batched-large-GPU matrices (I think I read somewhere that it is using LU behind the scenes.)

[2020-04-20 17:07] albanD commented on #36670
This has been fixed by https://github.com/pytorch/pytorch/pull/36745

[2020-04-20 17:07] #36670 closed

[2020-04-20 17:07] mrshenli commented on #36870
Seems so, trying a fix.

[code]

[2020-04-20 17:09] vishwakftw commented on #36921
@twoertwein Yes, you are right. `torch.inverse` isn't affected based on the MWE that you have given.

[2020-04-20 17:09] jerryc05 commented on #36915
sure i will let you know if it worked

[2020-04-20 17:09] ezyang commented on #36870
It sounds like we also need to add a CI config to test `USE_DISTRIBUTED=0`, if we consider bugs like this high priority

[2020-04-20 17:13] VitalyFedyunin commented on #36722
You could also try running test with `CUDA_LAUNCH_BLOCKING` to find failing tests.

[2020-04-20 17:21] mruberry commented on #27542
Removing high priority per review.

[2020-04-20 17:25] ezyang commented on #24422
@malfet would you be interested in getting notifications for "module: build" issues here?

[2020-04-20 17:31] jerryc05 commented on #36915
pr submitted

[2020-04-20 17:38] mruberry commented on #36702
Closing as duplicate.

[2020-04-20 17:38] #36702 closed

[2020-04-20 17:39] Azer-ai opened #36935 "TorchVision 0.3 Object Detection finetuning tutorial"
I have been using this tutorial with a few datasets. I have found that sometimes while the AP for the bb increases the AP for the segmentation drops more than double.  I have also noticed that running the Penn-Fudan dataset the precision for the small areas is negative. Is this supposed to be ok to negative AP values❓

Also for the learning scheduler,  is it ok  for it to be placed before the eval

[2020-04-20 17:53] jithunnair-amd commented on #32018
@ezyang @yf225 Is there any update on adding 4-GPU CUDA containers to CircleCI? I came across another issue that shows up on ROCm builds only because we have 4-GPU ROCm machines on CI.

[2020-04-20 18:00] albanD commented on #36935
Hi,

We use github issues only for bugs or feature requests.
Please use the forum to ask questions: https://discuss.pytorch.org/

If you think this is really a bug, it might be better to open that on the torchvision side: https://github.com/pytorch/vision/

[2020-04-20 18:00] #36935 closed

[2020-04-20 18:02] anjali411 opened #36937 "[PT_BREAK] pytorch_xla_linux_bionic_py3_6_clang9_test is failing"
https://github.com/pytorch/pytorch/pull/36747

cc. @ailzhang @dlibenzi @JackCaoG

[2020-04-20 18:09] jonasrauber commented on #23156
This can happen in all kinds of situations and should be fixed https://github.com/pytorch/pytorch/issues/36923

[2020-04-20 18:15] jithunnair-amd commented on #32018
Although, even with a 4-GPU machine, such issues will only surface when the `WORLD_SIZE` is set to 2 so that there's more than 1 device per process. This won't happen in pytorch CI because of https://github.com/pytorch/pytorch/blob/master/test/run_test.py#L183, which will set the `WORLD_SIZE` to 3 for a 4-GPU machine.

@mrshenli Is my understanding above correct?

[2020-04-20 18:27] ezyang commented on #32030
@vadimkantorov If your distro is up to date enough you can just use the stock ccache; just setup the nvcc symlink. Do you want to Slack me and I can help you up? We don't have a dev setup script because everyone tends to have their own favorite distribution and generally we want people to be able to develop PyTorch on whatever system they work.

Generally debug build of Python isn't really necessa

[2020-04-20 18:29] malfet commented on #24422
@ezyang sure

[2020-04-20 18:31] jithunnair-amd opened #36939 "test_DistributedDataParallel fails with parameter replication error"
## 🐛 Bug

1. Running `TestDistBackend.test_DistributedDataParallel` from `test_distributed` suite
2. with a WORLD_SIZE <= nGPUs/2 on the machine
results in an error "Model replicas must have an equal number of parameters".

## To Reproduce

Steps to reproduce the behavior:

1. Use a machine which has at least 4 GPUs
2. Build pytorch from source for python3.6 OR use one of the available docker imag

[2020-04-20 18:34] mrshenli opened #36940 "Retire torch/cuda/nccl.py"
While investigating #36870, I just realized that there is another implementation to wrap NCCL APIs in `pytorch/torch/cuda/nccl.py` added > 2 years ago. These set of APIs are not tests or documented. We probably should just get rid of them.

cc @ngimel @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @rohan-varma @gqchen @aazzolini @xush6528 @osalpekar

[2020-04-20 18:37] mrshenli commented on #36870
Looks like the `python_nccl.cpp` was added to support [`torch/cuda/nccl.py`](https://github.com/pytorch/pytorch/blob/release/1.5/torch/cuda/nccl.py), but the latter is a legacy API added > 2 years ago, which are not tested or documented. I am not aware if anyone is using this. If not, we probably should delete that stack, including `python_nccl.cpp`. Add #36940 to track.

[2020-04-20 18:44] koaning opened #36941 "MacOS install error: Library not loaded: @rpath/libc++.1.dylib"
## 🐛 Bug

Install on MacOS fails with pip.

## To Reproduce

[code]

Google suggested doing this;

[code]

That unfortunately did not work.

## Expected behavior

No error.

## Environment

[code]

cc @ezyang @gchanan @zou3519 @seemethere

[2020-04-20 18:45] koaning commented on #36941
Note that this error also occurs on `1.4.0`.

[code]

[2020-04-20 18:53] ezyang opened #36946 "Put DeviceType in torch namespace"
Self explanatory. Should be possible to refer to DeviceType in torch/csrc/ without qualifying with `at::`

[2020-04-20 18:56] albanD commented on #36939
Setting high-pri as this breaks one of our test

[2020-04-20 18:57] mrshenli commented on #36870
first attempt: #36947

[2020-04-20 19:00] mrshenli commented on #36870
I verified that this is indeed a regression. This error didn't occur on 1.4 release branch.

[2020-04-20 19:03] ngimel commented on #36940
DataParallel uses them, IIRC?

[2020-04-20 19:20] vishwakftw commented on #36921
Can confirm, this is a bug in MAGMA. Their tests don't pass for large enough matrix sizes. Specifically for the size in the MWE, we get:
[code]

[2020-04-20 19:27] vishwakftw commented on #36921
Reported in MAGMA issues : https://bitbucket.org/icl/magma/issues/19/dgesv_batched-dgetrs_batched-fails-for

[2020-04-20 19:35] ezyang commented on #36941
Does conda work for you?

[2020-04-20 19:37] mrshenli commented on #36940
Hmm, I might missed sth. Looks like DataParallel's replicate and gather calls into `cuda.comm.broadcast_coalesced` and `cuda.comm.gather` which directly calls into pybind APIs. Only `reduce_add` uses APIs in `nccl.py`, but `reduce_add` and `reduce_add_coalesced` do not seem to be used anywhere.

[2020-04-20 19:48] ezyang opened #36949 "Disable progress bar in clang-format CI check"
The log always looks like this

[code]

which is really annoying.

Sample https://github.com/pytorch/pytorch/pull/36301/checks?check_run_id=594597167

cc @ezyang @seemethere

[2020-04-20 20:06] MiroFurtado opened #36950 "bin/protoc symlink failure when building from source on arch"
## Bug

When building pytorch from source on a clean install of Manjaro linux (with conda installed), I get the following error while building caffe2:

`[249/4074] Creating executable symlink bin/protoc
FAILED: bin/protoc
/home/miro/anaconda3/bin/cmake -E cmake_symlink_executable bin/protoc-3.11.4.0 bin/protoc && :
CMake Error: failed to create symbolic link 'bin/protoc': function not implemented

[2020-04-20 20:10] mrshenli commented on #36940
Looks like we have two implementations here `cuda/comm.cpp` and `cuda/python_nccl.cpp`. It might worth consolidate them into one.

[2020-04-20 20:18] kurtamohler commented on #33950
Just to give an update, most of the unit tests seem to be passing, but I'm currently working on debugging an issue with JIT testing. I get an error when I run `python test/test_jit.py TestJit.test_trace_tensor_factory`. The issue is happening at the return statement at the end of `checkTrace()` in `jit_utils.py`.

The error I get is sometimes different. I've seen the following ones so far:
[code]

[2020-04-20 20:23] albanD commented on #36735
You can also find here: https://pytorch.org/docs/stable/notes/extending.html the notes on how to create functions with custom backward in the autograd engine.

[2020-04-20 20:29] mrshenli commented on #36939
this is duplicated with #36268?

[2020-04-20 20:31] mrshenli commented on #36939
Closing this one as it is tracked in #36268 already. Please feel free to reopen if this is different.

[2020-04-20 20:35] albanD commented on #2940
Yes this has been fixed !

[2020-04-20 20:35] #2940 closed

[2020-04-20 20:36] mrshenli commented on #36268
#36939 reminds me that it is not that we don't have a test to cover this error, it seems that we didn't launch those tests (e.g., `test_gloo_backend_1gpu_module_device_ids_torch_device_list`) due to we don't have such test envs.

@gchanan @ezyang I recall that we used to have a 4-GPU CI env. Do we still have that today?

[2020-04-20 20:38] kurtamohler commented on #33950
I'm seeing some things having to do with maps and allocators in one of the backtraces:
[code]
Maybe this has something to do with THMapAllocator. I did change some code around a few mentions of THMapAllocator.

[2020-04-20 20:46] albanD commented on #36788
The PR has been merged. Please re-open if we see this again.

[2020-04-20 20:46] #36788 closed

[2020-04-20 20:46] albanD commented on #36862
The PR has been merged. Please re-open if we see this again.

[2020-04-20 20:46] #36862 closed

[2020-04-20 20:54] mrshenli commented on #36268
@ezyang pointed out that `pytorch_linux_xenial_cuda10_1_cudnn7_py3_multigpu_test` has 4 GPUs.

[2020-04-20 20:55] ezyang commented on #36041
Related #25716

[2020-04-20 20:55] ezyang commented on #25716
Increasing the priority so I don't forget about this

[2020-04-20 21:02] yf225 commented on #36720
Closed by https://github.com/pytorch/pytorch/pull/36869.

[2020-04-20 21:02] #36720 closed

[2020-04-20 21:06] ezyang opened #36954 "Standardize idioms for error context in c10::Error in c10/util/Exception.h"
A common situation when reporting errors is that we don't know enough about the context at the point we are reporting the error. For example, in the new op registration API we have:

[code]

However, the description of what the shape of the def operation was is misleading, because `_def` may be called from the implementation of `def(schema, impl)` (and so the error message would misreport that it'

[2020-04-20 21:07] mrshenli commented on #36268
@rohan-varma is investigating why our multi-gpu test didn't expose this error earlier.

[2020-04-20 21:17] #36807 closed

[2020-04-20 21:26] aleSuglia commented on #5353
Any updates on this?

[2020-04-20 21:28] mrshenli commented on #36870
The code that links NCCL to `TORCH_PYTHON_LINK_LIBRARIES` was moved to `caffe2/CMakeLists.txt` from `torch/CMakeLists.txt` in  #27124. The new location of this link was later removed by #30315 to split the dependencies into `torch_hip` and `torch_cuda`, which seems missed to adding it back into `TORCH_PYTHON_LINK_LIBRARIES`.

[2020-04-20 21:37] ezyang commented on #36954
Some possible refinements on C++ API: an attractive alternate API for context addition is an RAII structure, which appends the context onto the exception in its destructor. We would have to maintain a thread local tracking the "current exception", ensure that it is maintained correctly. This has performance cost (unlike exception handling frames, which are free if no exception is raised).

Conclus

[2020-04-20 21:47] JubilantJerry commented on #36874
I have verified that `gc.collect()` does not solve the problem. Running:

[code]

will still result in CUDA memory being exhausted for my GPU with 6GB of VRAM.

[2020-04-20 21:49] johnbowen42 commented on #35798
Hi, is anyone working on this right now?  I'd like to try and work on it.

[2020-04-20 22:07] mruberry commented on #36560
Does this hypothetical user of multiple tensor libraries actually exist? It seems like we're trying to cater to the following niche:

- A user who uses multiple tensor libraries plus a NumPy-compatible library
- The user is familiar with the NumPy-compatible library but can't be bothered to learn how to convert tensors from the tensor libraries to NumPy arrays

Does it really take that much time t

[2020-04-20 22:20] vadimkantorov commented on #32030
@ezyang Ok, I'll try to figure out ccache :) I'll ping you if it doesn't work :)

I think a conda dev script makes sense, since conda is the recommended install method for PyTorch, especially for new contributors who were only users of PyTorch and this may be their first big open-source project to contribute to (e.g. a lot of grad students who are not all professional devs in the sense of experien

[2020-04-20 22:23] gchanan opened #36956 "advanced indexing backwards is broken on (some) non-contiguous index tensors"
## 🐛 Bug

Trying to do this gives an error:
[code]

## To Reproduce

[code]

## Expected behavior

Test should pass

[2020-04-20 22:24] gchanan commented on #36956
This worked in 1.4 -- the issue appears to start on this line:
https://github.com/pytorch/pytorch/blob/28f439d4f4c3d656f2de26767f60b3abe3d5e806/aten/src/ATen/native/cuda/Indexing.cu#L109

Previously, this would always return a contiguous tensor, but now that this function has moved to ATen, it can return a non-contiguous tensor.

[2020-04-20 22:32] malfet commented on #36950
@MiroFurtado, what filesystem `pytorch` is mounted on? Can you run `ln -s bin/protoc-3.11.4.0 bin/protoc` in `pytorch/build` folder?

[2020-04-20 22:41] jerryzh168 opened #36958 "refactor test/quantization/test_backward_compatibility.py with bundled_inputs"
We have support for bundled inputs in
https://github.com/pytorch/pytorch/blob/master/torch/utils/bundled_inputs.py#L17
PR: https://github.com/pytorch/pytorch/pull/35631
we can refactor the backward_compatibility tests to use this.

cc @jerryzh168 @jianyuh @dzhulgakov @raghuramank100 @jamesr66a

[2020-04-20 22:45] malfet commented on #36721
@tuxmaster5000, does you host compiler supports `-faligned-new`? I.e. can you run `printf '#include <iostream>\nint main() { std::cout << new int[5] << std::endl; }'|c++ -x c++ -faligned-new -; ./a.out` and share the output here?

P.S. Compilation flag is added here for all `gcc` version greater than 7.0. https://github.com/pytorch/pytorch/blob/v1.4/CMakeLists.txt#L458

[2020-04-20 23:22] ailzhang commented on #36676
With help from @ngimel and @igorsugak, we've narrowed down the line that triggers segfault is https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/SobolEngineOps.cpp#L137.
Even
`std::cout << initsobolstate[0] << std::endl;` builds
but not
`std::cout << initsobolstate[0][0] << std::endl;`
So it's likely a bug on clang9.0.0. (And we confirmed it's fixed in clang9.0.1)
We still prefer

[2020-04-20 23:42] spandantiwari commented on #36899
Alexnet is part of CI tests.
https://github.com/pytorch/pytorch/blob/c03d149483a90980928579c0c10eee126c0413c1/test/onnx/test_models.py#L80

[2020-04-20 23:44] twoertwein commented on #36921
@vishwakftw someone on MAGMA asked for more information about the test output plus your setup (I guess mainly the output that you posted here)

[2020-04-20 23:56] MiroFurtado commented on #36950
Ah, apologies - I didn't realize that symlinks didn't work on `exfat` which is what my pytorch is mounted on.

[2020-04-20 23:56] #36950 closed

[2020-04-21 00:08] #14749 closed

[2020-04-21 00:23] prfans commented on #23999
I got the same error with pytorch 1.4 and python 3.6. I used eval mode, anyone can help me?

[2020-04-21 00:40] wanchaol commented on #23999
@prfans I believe this problem should have already been solved. Do you have a simple script that reproduces your problem?

You can always tries your program with pytorch nightlies or master to see if your problem still exist.

[2020-04-21 00:52] Louyu666 commented on #36899
When I run this code on my linux server with cuda, it works. But on my Mac it doesn't work, I need to have PyTorch->onnx->Core ML conversion test on my Mac.

[2020-04-21 01:02] BarclayII commented on #36922
The test passes without the dataloader.

[2020-04-21 01:08] sharvil commented on #20102
If you're still looking for a configurable LSTM forget bias gate, [Haste](https://github.com/lmnt-com/haste) supports it out-of-the-box and gets comparable (if not better) speeds than other fused CUDA implementations.

[2020-04-21 01:08] BarclayII commented on #36922
I also tried asserting in the collate function and that test always passes.  The problem probably lies in serialization of a tensor converted from DLPack.

[2020-04-21 01:25] kaniblu commented on #23156
Thank you for bringing this to the attention. An overall maintenance would be desirable at this point.

________________________________
From: Jonas Rauber <notifications@github.com>
Sent: Tuesday, April 21, 2020 3:09:29 AM
To: pytorch/pytorch <pytorch@noreply.github.com>
Cc: 유강민 <kangminyoo@europa.snu.ac.kr>; Author <author@noreply.github.com>
Subject: Re: [pytorch/pytorch] Pruning off NaN values

[2020-04-21 01:47] ezyang opened #36974 "check-doxygen.sh suppress stderr output even when the command fails"
Steps to reproduce:
1. Run `docs/cpp/source/check-doxygen.sh` without having doxygen present on your system

Expected result: error message saying doxygen is not supported

Actual result:
[code]

[2020-04-21 01:48] ezyang opened #36975 "check-doxygen.sh must be run from docs/cpp/source directory"
If you run it from root directory you get message

[code]

Inspection of the stdout redirect reveals

[code]

[2020-04-21 01:52] kurtamohler commented on #33950
I found and fixed my error. There were a few Storage constructor calls that I hadn't updated. Currently looking for any more constructor calls that I might have missed.

[2020-04-21 02:06] shiningrain opened #36977 "Under `ceil_mode=True` for `AvgPooling2d`, Pytorch fails in calculating pooling output shape as expected, and gets `NaN` results."
## 🐛 Bug

**Under `ceil_mode=True` for `AvgPooling2d`, Pytorch fails in calculating pooling output shape as expected, and gets `NaN` results, no matter executing with CPU version or GPU version.**

**Taking Pytorch with CPU version as an example, given an input with the shape (1, 16, 4, 4), I get an unexpected output under layer the `AvgPool2d` , which contains `NaN`(Not a Number) results**，as sho

[2020-04-21 02:38] ezyang commented on #32030
That's definitely reasonable. It's kind of hard to write a robust script that will work in all circumstances but it probably can be done with some elbow grease.

[2020-04-21 02:50] vadimkantorov commented on #32030
Maybe even a "recommended" annotated/commented compact sequence of comamnds with reasonable defaults for fast build times would be helpful. Parts of it are already in the testing Dockerfile, parts in Contrbiuting.md (super-gian btw:) ). It would be good to put in some variant  to README.

About debug Python builds: it helps if you have a crash dump. Then stack trace shows C++ functions, but nothin

[2020-04-21 03:17] Krovatkin commented on #35009
@gchanan https://github.com/pytorch/pytorch/pull/36933 should fix the test failures

[2020-04-21 03:28] fumihwh commented on #36710
@ngimel
I see.
But I still can not figure out in which case padding would be used.

[2020-04-21 03:29] mneilly-et opened #36979 "HashNode does not support tuples"
## 🐛 Bug

Glow has a caching graph runner that [hashes graphs using PyTorch's torch::hash_combine()](https://github.com/pytorch/glow/blob/master/torch_glow/src/Registration.cpp#L42) and uses the hash to determine if a graph has already been compiled for subsequent requests.

Glow also has [adaptive_avg_pool2d](https://github.com/pytorch/glow/blob/master/torch_glow/tests/nodes/adaptive_avg_pool2d_t

[2020-04-21 03:54] #36956 closed

[2020-04-21 04:09] vincentqb commented on #36831
Can you elaborate on how this makes testing harder?

[2020-04-21 04:32] aphedges commented on #36831
I have everything set up to train deterministically, so ensuring no change in the output of `state_dict()` for the model and optimizer parameters should be enough to detect unintentional changes. There are no issues comparing the model parameters between runs, but comparing the optimizer parameters between runs requires manually transforming the IDs into consistent indices. Once done, the outputs

[2020-04-21 04:52] bradezard131 commented on #36918
Adding a dependency on pandas seems very unnecessary. Also, it is already supported, just subclass `torch.util.data.Dataset` and have it read the files and produce the labels. Automatically building it like with `torchvision.datasets.ImageFolder` (which by the way is a different repo) is tricky because there isn't some obvious standard way to arrange the folders like there is with a single label.

[2020-04-21 05:36] tuxmaster5000 commented on #36721
gcc -v:

printf '#include <iostream>\nint main() { std::cout << new int[5] << std::endl; }'|LANG=C gcc -x c++ ```
-faligned-new -; ./a.out:
/tmp/cccBkFYO.o: In function `main':
:(.text+0xa): undefined reference to `operator new[](unsigned long)'
:(.text+0x12): undefined reference to `std::cout'
:(.text+0x17): undefined reference to `std::ostream::operator<<(void const*)'
:(.text+0x1c): undefined r

[2020-04-21 05:49] soundmartell commented on #36941
lib/python3.7/site-packages/torch/__init__.py", line 82, in <module>
    from torch._C import *

[2020-04-21 06:40] malfet commented on #36721
@tuxmaster5000 in the logs you've shared `c++`(namely `/usr/lib64/ccache/c++`) rather than `gcc` is used as host C++ compiler, with the path set to `/usr/lib64/ccache:/opt/rh/devtoolset-7/root/usr/bin:/usr/lib64/ccache:/usr/bin:/bin:/usr/sbin:/sbin:/usr/local/sbin:/builddir/.local/bin:/builddir/bin`. Can you please check if `-falign-new` is indeed supported in that configuration.

And would commen

[2020-04-21 06:59] SsnL commented on #36922
Sounds more like a multiprocessing issue instead.

[2020-04-21 07:26] koaning commented on #36941
@ezyang I typically don't use conda and I haven't tried it. The [docs](https://pytorch.org/get-started/locally/) suggest it is not needed though.

[2020-04-21 08:04] lironmo opened #36989 "torchvision latest update(0.5.0) broke CosineAnnealingWarmRestarts: T_cur is not define"
Hello,
maybe i missing something, but my tests failed on CosineAnnealingWarmRestarts creation,

the problem is:

    super(CosineAnnealingWarmRestarts, self).__init__(optimizer, last_epoch)

    self.T_cur = self.last_epoch
the super class call the override step function that use self.T_cur that is not defined.

minimal running example:
model = resnet50()
optimizer = optim.SGD(model.parameters(),

[2020-04-21 08:17] #34202 closed

[2020-04-21 08:22] longtengz commented on #33384
Or exposing another parameter that defaults to zero-padding and can be changed to `-inf` padding if needed?

[2020-04-21 08:28] vadimkantorov opened #36990 "[docs] Explain active_bytes in torch.cuda.memory_stats and Cuda Memory Management"
In https://pytorch.org/docs/master/cuda.html#torch.cuda.memory_stats difference between "active_bytes" and "allocated_bytes"/"reserved_bytes" is not explained.

Active bytes are also not mentioned here: https://pytorch.org/docs/master/notes/cuda.html#cuda-memory-management

[2020-04-21 08:31] onesnow123q opened #36991 "how to convert quantization_ware_training model to onnx"
## ❓ Questions and Help
python  3.6
pytorch version: 1.4.0
onnx 1.6.0
In most issues, some of them mentioned about this question. but I still don't know how to convert a int8 model to onnx. I followed the tutorial (https://pytorch.org/tutorials/advanced/static_quantization_tutorial.html#quantization-aware-training) to try to train a quantization model, the pretrained model is got from model zoo. I

[2020-04-21 08:45] ardeal opened #36992 "pytorch for cuda 10.0"
Hi,

on the page:
https://pytorch.org/get-started

I could only find the torch for cuda 9.2 and cuda 10.1, but I can't find torch for 10.0.
Is torch for cuda 10.0 missing on the page?
or is there any other solution for this problem?
or there is no torch for cuda 10.0?

Thanks,
Ardeal

[2020-04-21 08:46] peterjc123 commented on #36992
there is no torch for cuda 10.0, but it doesn't mean you can't use torch with cuda 10.0 installed locally. It just mean that we don't build for cuda 10.0. Actually, if you have a new gpu driver, then you can use the cuda 10.1 package.

[2020-04-21 08:46] #36992 closed

[2020-04-21 09:38] lzkzls commented on #15343
Hi，How did you locate this error? I also have this problem. Floating point exception (core dumped)

[2020-04-21 09:50] vadimkantorov commented on #36922
Maybe sth about deallocation of dlpack tensor actually happening in the bad place?

[2020-04-21 11:41] vadimkantorov opened #36996 "Seemingly unused functions of TH: THDiskFile.h"
Seems all functions inside are unused

[2020-04-21 11:46] ndronen commented on #35643
👍

[2020-04-21 12:21] malemo opened #36997 "Failed to export an ONNX attribute 'onnx::Div', since it's not constant"
Trying to convert this model I get this error:
[code]

Printing the node from symbolic_helper just before the error is thrown:
`%344 : Long() = onnx::Div(%342, %343)`

I've checked everywhere and cannot find `Div` in the model, even the above line does not show the location of the error.

What could it be?

cc @houseroad @spandantiwari @lara-hdr @BowenBao @neginraoof

[2020-04-21 13:54] zhujiangang opened #36998 "Data loader will affect the random mechanism even with fixed seed"
## 🐛 Bug

Data loader will affect the random mechanism even with fixed seed, which will make the code unable to reproduce the results.

## To Reproduce

Steps to reproduce the behavior:

1. Create a training data loader A
2. Train a pytorch model with the training data loader and monitor the loss
3. Create another data loader B, but don't use it in the training process. Rerun the training code wit

[2020-04-21 14:03] oranichu commented on #12449
Hey, with all the tips mentioned here I finally managed to pass the errors in the makefile.
I've : (Using MacOS)

- Download the package from https://download.pytorch.org/libtorch/nightly/cpu/libtorch-macos-latest.zip;
- Unzip it. And I got a "libtorch";
- Then I copied the dir to the project directory.
- Then I came back to CLION, changed its CMakeLists.txt as:
`cmake_minimum_required(VERSION 3.1

[2020-04-21 14:04] mrshenli commented on #36870
closed by #36948

[2020-04-21 14:04] #36870 closed

[2020-04-21 14:08] mrshenli opened #36999 "Add a CI configuration to test USE_DISTRIBUTED=0"
As reported by #36870, master has been broken for `USE_DISTRIBUTED=0` compile flag for a period of time. Based on the feedbacks from offline discussion, `USE_DISTRIBUTED=0` is very useful applications that do not need distributed training. Hence, it will be helpful to add a CI configuration to cover this flag.

[2020-04-21 14:20] mrshenli commented on #35009
#36947, port for #36948

Fixes build error when `USE_DISTRIBUTED=0`. This does  **not** need to be added into our release binaries as they are all built with `USE_DISTRIBUTED=1`, but needs to be landed into the `release/1.5` source branch in case users would like to build using `USE_DISTRIBUTED=0`.

[2020-04-21 14:20] nairbv commented on #36999
There may be some other combinations of flags that we should either also add to CI or better document. I can't remember the details but I know I've seen other build failures as available build flags or combinations of flags changed. I think this ticket was related to one of those cases: https://github.com/pytorch/pytorch/issues/35678

[2020-04-21 14:32] albanD commented on #35643
Yes all the keyword arguments are ignored for all the hooks (forward_pre, forward and backward).
We should update the doc to reflect this.

[2020-04-21 14:37] albanD commented on #33384
Yes that could be a request for a new feature. But that might be a bit of work to implement that.
And the doc needs to be updated anyway as we won't change the default.

[2020-04-21 14:40] NguyenViet123 commented on #17023
I'm facing the same issue, using this command:
conda install pytorch torchvision cudatoolkit=10.1 -c pytorch

[2020-04-21 14:42] #36752 closed

[2020-04-21 14:44] albanD opened #37000 "Bad interaction between no_grad and numpy conversion"
The code below raises an error:

[code]

Two issues here:
- Variable should not be mentioned in that error message
- Given that this is exactly what happens in custom autograd.Function, I think this should be allowed. The fact that we run in no_grad mode means that the user expects no gradients to flow.

cc @ezyang @SsnL @albanD @zou3519 @gqchen

[2020-04-21 14:50] ndronen commented on #35643
Why not support kwargs instead?

[2020-04-21 14:53] ezyang commented on #6313
cc @zou3519

[2020-04-21 14:55] albanD commented on #35643
I'm not sure how would that look like to ensure that it does not break existing code.
All the hooks today expect the `input` as a tuple of all the `*args` given to module.
Changing this signature would break a lot of existing code.

Another issue is that it is not clear what would be a natural return value for these hooks to support modifications.
Finally, for the backward hooks, how should the ke

[2020-04-21 14:55] gchanan commented on #35009
PR https://github.com/pytorch/pytorch/pull/36523

No, we weren't confident in the fix so close to the release.

[2020-04-21 14:56] SsnL commented on #36998
Creation of DataLoader should not advance the default RNG. However, creating an iterator of it will.

[2020-04-21 14:59] SsnL commented on #36909
Actually I don't see how
[code]
is ugly. It seems much clearer and more readable than having `batch_size=-1` magically meaning loading the full dataset.

[2020-04-21 16:09] mrshenli opened #37002 "[RFC] Modularize DistributedDataParallel"
## Summary

This project aims at decomposing existing `DistributedDataParallel` (DDP) implementation into multiple smaller pluggable and customizable building blocks. So that applications can customize DDP to best serve specific applications. More specifically, each type of individual building block exposes a fixed set of APIs but can implement different algorithms. The new DDP constructor takes b

[2020-04-21 16:24] qysnn opened #37004 "RuntimeError: NCCL error in ProcessGroupNCCL.cpp:290, unhandled system error"
I came across this error `RuntimeError: NCCL error in ProcessGroupNCCL.cpp:290, unhandled system error` when trying to distribute neural network training to 4 GPUs in a single node with PyTorch 1.2. According to documentation, I tried `export NCCL_DEBUG=INFO` and reran the code. I noticed some weird warnings in the debug output like
[code]
before the crash. So I give the permission by `sudo chmod

[2020-04-21 16:26] jlucier commented on #31249
I think your problem is related to the `opset_version` pytorch seems to be exporting. Check this out:
https://github.com/NVIDIA/TensorRT/issues/148#issuecomment-617257189

[2020-04-21 16:26] vkkhare commented on #36484
Reshape(1) works for me. I am using that for my purposes. Thanks

[2020-04-21 17:15] murthy95 commented on #36312
@s-bernard yeah I got this resolved.

[2020-04-21 17:16] #36312 closed

[2020-04-21 17:29] malfet commented on #36804
The flag is added in `third-party/benchmark/CMakeFiles.txt`:
[code]
Can you please check if `HAVE_CXX_FLAG_WTHREAD_SAFETY` is set to 1/YES/True in your `CMakeCahe.txt`?

[2020-04-21 17:34] ezyang opened #37010 "Make it an error to def() an operator multiple times"
Currently in `aten/src/ATen/core/library.cpp` there is a todo:

[code]

The relevant backwards compatibility logic is in `aten/src/ATen/core/dispatch/Dispatcher.cpp`:

[code]

The desired new form of this code is to make it to make it 100% invalid to def an operator multiple times.  This can be done by replacing the if-statement in this function with an unconditional error (and update the error me

[2020-04-21 17:38] fbarulli commented on #35414
@ikasou
Im having the same issue, can you please provide more instructions on how to do this?

cheers

[2020-04-21 17:56] gchanan commented on #36977
Thanks for the report -- I didn't look in detail, just noting that this behavior reproduces back to PyTorch 1.2.0 -- I didn't check before then.

[2020-04-21 18:00] iedmrc commented on #17614
I found this [series](https://discuss.pytorch.org/t/a-series-of-blogs-on-pytorch-c-api-transfer-learning-jupyter-notebook-with-libtorch-xeus-cling-and-more/54628)  composed by @krshrimali

Includes:

- PyTorch C++ API: Installation and MNIST Digit Classification using VGG-16
- PyTorch C++ API: Using Custom Data
- PyTorch C++ API: Using Custom Data to Train a Network
- Classifying Dogs vs Cats usin

[2020-04-21 18:27] hayoc opened #37015 "Converting to Torch Script via Annotation mixes up layers"
## 🐛 Bug

When trying to convert a yolov3 model to Torch Script I get the following error:
`  File "D:\python\lib\site-packages\torch\nn\modules\module.py", line 576, in __getattr__
    type(self).__name__, name))
AttributeError: 'Sequential' object has no attribute 'shortcut_4'`

The model itself works fine. While debugging the conversion of the script, I can clearly see that the network's layers

[2020-04-21 18:30] #36949 closed

[2020-04-21 18:30] an-kumar opened #37016 "Guidance on implementing a new backend"
## 🚀 Feature

I'm looking to implement a new backend for mobile (ios GPU compute). The primary goal would be to use this for execution of torchscript modules, but I'm also interested in using the c++ api directly on ios.  I’ve looked through the code enough to know I need to register kernels with the dispatcher and ultimately use the PrivateUse DispatchKey to get the dispatcher to use my kernels.

[2020-04-21 18:31] suo commented on #27902
looking into this, marking as high priority so we track it appropriately

[2020-04-21 18:32] ailzhang commented on #37016
cc: @ljk53 for suggestions.
More specifically, primary use case would be executing torchscript models on mobile. (copied from slack channel).

[2020-04-21 19:13] soundmartell commented on #36941
Ok, I solved the issue, I don't know if it has any unwanted  impact in any way but now Torch is working.
Please, note I am using Mac Pycharm with a virtual environment so...
I copied: libc++.1.dylib from usr/lib
and I pace it in my environment: venv/lib/python3.7/site-packages/torch/lib

I tested Torch with this script:

from __future__ import print_function
import torch
x = torch.rand(5, 3)
print

[2020-04-21 19:26] kaiwencui commented on #36941
Confirm it works on macOS running on Python 3.8

[2020-04-21 19:53] zou3519 commented on #6313
@Baranowski: Yeah, it looks like we've done 2&3.

For 2, we missed adding an entry to the bottleneck docs: https://pytorch.org/docs/stable/bottleneck.html . So that remains to be done.

For action item 1, I'm not sure if it is a good idea to switch to CPU-only profiling for bottleneck. That is a separate issue though; to finish resolving the issue of this crash, we should add a line to the bottlen

[2020-04-21 20:00] lijunzh opened #37022 "PyTorch 1.5 failed to import c:\miniconda3-x64\envs\test\lib\site-packages\torch\lib\caffe2_nvrtc.dll"
## 🐛 Bug

The recent update from 1.4 to 1.5 broke my CI tool. It appears that the import problem similar to what described in #17051 resurfaced. The specific error message is as follows:

[code]

I don't have a Windows machine so I cannot speak about real-life situations, but `import torch` fails on AppVeyor.

## To Reproduce

Steps to reproduce the behavior:

You can check out the history from ht

[2020-04-21 20:00] kurtamohler commented on #33950
@ezyang, are there any benchmarks you know of that will measure the performance of a wide range of different pytorch functions? I want to try to make sure my changes don't slow anything down.

[2020-04-21 20:01] ngimel commented on #36996
Thanks for reporting! We'll accept PR removing it.

[2020-04-21 20:03] Voldemorten commented on #32898
I too am experiencing this issue, but in quite a different way.
Minimal code to reproduce error:
[code]
Where `lr_lamda=l1 ` and `lr_lambda=l2` will work, but `lr_lambda=l3` produces the following error:
[code]

[2020-04-21 20:10] ngimel commented on #37004
Thanks for reporting. ProcessGroupNCCL just returns the errors that were returned by nccl, it's probably impossible to make error message better unless nccl improves it.

[2020-04-21 20:13] ngimel commented on #36998
Please ask questions in discuss.pytorch.org. As @ssnl says, the dataloaders are using random numbers and thus change the state of rng generators, that's expected.

[2020-04-21 20:13] #36998 closed

[2020-04-21 20:13] makslevental commented on #6313
how do you change from `fork` to `spawn` in dataloader? i'm having this issue right now

[2020-04-21 20:16] ngimel commented on #36997
Please provide a reproduction script that would allow us to reproduce the error.

[2020-04-21 20:19] ngimel commented on #36991
Please ask questions at discuss.pytorch.org.

[2020-04-21 20:19] #36991 closed

[2020-04-21 20:20] ngimel commented on #36990
Thanks! We'll accept documentation PR to fix this.

[2020-04-21 20:32] gurvindersingh commented on #2576
I am facing the same issue when using `WeightedRandomSampler` with weights of size larger than 2^24. As sampler uses `torch.multinomial` underneath to sample data.

[2020-04-21 20:36] ailzhang commented on #36803
This might be related how we special handles `interpolate`, cc: @eellison might know more.

[2020-04-21 20:47] ailzhang commented on #36917
Hmmmm not sure if this will be fixed. AFAIK `torch._C` is not a public API, so even if works, we cannot guarantee any API under it.

[2020-04-21 20:55] glaringlee commented on #12449
@peterjc123 Can you pls advise?

[2020-04-21 21:21] vadimkantorov commented on #36990
I've looked into PyTorch code trying to understand in the first place what active allocations are:

I've gotten to caching allocator impl: https://github.com/pytorch/pytorch/blob/31cc3111430f5f7390c06549616398ba734f83ed/c10/cuda/CUDACachingAllocator.cpp#L580-L581

It seems that active allocations are increased/decreased at malloc/free. If it's the case, what's their difference with "allocated" mem

[2020-04-21 21:27] malemo commented on #36997
I'm converting this [model](https://github.com/switchablenorms/CelebAMask-HQ/tree/master/face_parsing).

My code:
[code]

[2020-04-21 21:32] ethanjyx commented on #16574
@ezyang @rgommers glad seeing a PR! and saw in the news today that pytorch 1.5 will drop python 2 support, so very excited about the great progress here.

wondering is there a plan for having the mypy support, what happens after the PR merges above?

[2020-04-21 21:34] ezyang commented on #37016
Look at the sample code here: `test/cpp_extensions/msnpu_extension.cpp`. It's a fully self contained example that you can load up as a C++ extension when you're prototyping.

For a more advanced example, I actually think the XLA backend is probably the best example of a production backend, as it lives out of tree and has substantially complete implementation of all operators. It also does some wei

[2020-04-21 21:55] ppwwyyxx commented on #33003
No longer seeing the same error no pytorch 1.5 & cu101

[2020-04-21 21:55] #33003 closed

[2020-04-21 21:58] mrshenli opened #37030 "Avoid keeping two copies of gradients (param.grad and buckets) in DDP"
Currently, DDP creates buckets to consolidate gradient communications. This helps to reduce the total communication delay, but increases the memory footprint. We can potentially let DDP set `param.grad` to point to different offsets in the bucket, so that `AccumulateGrad` can update grads in place. In this way, we can avoid two copies of grads and at the same time avoid conducting copy operations

[2020-04-21 22:07] ezyang commented on #33950
Hmm, for this one I'm not too sure. Maybe something in https://github.com/pytorch/benchmark ? Or maybe the ASV that y'all at Quansight contributed for `__torch_function__`

[2020-04-21 22:31] dncliss commented on #34606
The PR linked to this issue does fix the problem, but we're still waiting on it to get merged into the 'master' branch upstream.

I'm trying to get an idea of when that might be (as per my question in that PR last week), but as of now we don't have any good feel on the timeframe.  So....timing TBD.  CI builds on ppc64le will remain broken in the interim.

[2020-04-21 22:59] an-kumar commented on #37016
Would this issue thread be a reasonable place to ask for help if things come up? Or should I keep that to slack?

[2020-04-21 23:02] ailzhang commented on #37016
Hmmm @ezyang since xla mainly covers eager mode (python & c++) while @an-kumar is looking for torchscript on mobile support, I feel XLA code might not be exactly what he wants?

[2020-04-21 23:20] #33941 closed

[2020-04-22 00:32] stu1130 opened #37038 "PyTorch C++ multithreading support on GPU"
Does PyTorch engine support multithreading in general?

We build our JVM language binding on top of the PyTorch C++ API.
Currently we create the tensor and module in JNI layer and return the pointer which is just a long data type back to Java layer.

In multithreading environment, each thread would call  a sequential of operators  which are  torch::to, torch::upsample_bilinear2d, torch::sub, torch

[2020-04-22 00:35] #36798 closed

[2020-04-22 00:52] rongzha1 commented on #36917
Thanks any way

[2020-04-22 00:53] Bo98 commented on #30584
Just to add, this now affects Xcode 11.4 (Apple Clang 11.0.3) which is based on LLVM 9.

[2020-04-22 00:57] Bo98 commented on #36676
See also: #30584

[2020-04-22 01:02] pritamdamania87 commented on #36865
This does make sense and maybe the check should be `count_all == 1`? Looks like this check was added in https://github.com/pytorch/pytorch/pull/29626, @albanD I was wondering if you had thoughts on the proposal here given you reviewed that PR?

[2020-04-22 01:08] ngimel commented on #37038
Pytorch engine does support multithreading in general, but there are some vaiables that are thread-local, in particular dispatch keys. You error indicates that tensor type dispatch key is not correctly propagated.

[2020-04-22 01:08] ankane opened #37042 "Segmentation fault when building LibTorch 1.5.0 on macOS Catalina"
## 🐛 Bug

Hi, I'm running into a segmentation fault when building LibTorch 1.5.0 on macOS Catalina.

[code]

Output: https://github.com/Homebrew/homebrew-core/pull/53497/checks?check_run_id=606872734 (easier to see if you click view raw logs, but can't post link since it's temporary)
Ref: https://github.com/Homebrew/homebrew-core/pull/53497

## To Reproduce

Build on macOS Catalina with the follow

[2020-04-22 01:26] mrshenli commented on #36939
Hey @jithunnair-amd, thanks for the additional information. Yes, when `WORLD_SIZE <= nGPUs/2` more tests will be triggered to cover DDP with local model replication, which would hit the reported error I think. If so, #36523 should be able to fix this as well. Let me try to clear the test failures on that PR.

[2020-04-22 01:33] pritamdamania87 commented on #36871
@gmoneymiller Could you provide the complete code to reproduce the problem? I tried a very simple test and couldn't reproduce the problem:

[code]

Three runs of the script:

[code]

[2020-04-22 01:37] pritamdamania87 commented on #36570
It seems like these two flags should work together. @zhaojuanmao @mrshenli Thoughts?

[2020-04-22 01:50] bartosz319 commented on #35566
If `Foo.forward` is meant to be abstract, just leave it undefined.

[code]

But if you need to have an implementation of `forward` in `Foo`, you can put the annotations for `Foo` in a `.pyi` file (inspired by [this](https://github.com/pytorch/pytorch/blob/d6377b7cef0c7bc822df80eedd86689bc51e83d2/torch/nn/modules/module.pyi.in#L24)):

[code]

[code]

[code]

But if you need to have an implementatio

[2020-04-22 01:52] pritamdamania87 commented on #37004
@zhaojuanmao Wondering if we can do something better here as part of better error reporting? It seems like there is not much we can do unless NCCL improves this as @ngimel mentioned.

[2020-04-22 02:11] cdluminate commented on #14699
We downsteam (Debian) feel it hard to deal with the current build system, when trying to integrate pytorch into Debian official archive. Specifically, Debian does now allow embedded code copies (i.e. those in the `third_party` directory), which means that we have to modify the strange setup.py+CMake build system and let it depend on separately packaged `third_party` libraries.
Currently the build

[2020-04-22 02:52] ngimel commented on #37042
Can you please check if this fix to SobolEngineOps.cpp fixes it for you?
https://github.com/pytorch/pytorch/pull/36711

[2020-04-22 02:57] VIGNESHinZONE opened #37047 "Trying to build a Docker image"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)
Hi , I want to get into open source development and i have been using pytorch for a w

[2020-04-22 03:01] ezyang commented on #16574
Once we land Ralf's PR, we then will begin the process of inlining the pyi definitions into the py files and making the PyTorch codebase itself typecheckable. There will be a lot to do, and we're probably going to run some fixathon for it once we work out the basic playbook.

[2020-04-22 03:05] ailzhang opened #37048 "copy_ slowness"
This is not really a bug, but `copy_` seems to take too much time, so wanted to open an issue to see if this is expected.
cc:
[code]
Output
[code]
Note the second and fourth lines are much faster only because they skipped a `copy_` here https://github.com/pytorch/pytorch/blob/master/aten/src/TH/generic/THTensorMath.cpp#L54-L62
The `copy_` seems to be super expensive, is this expected?

[2020-04-22 03:07] VIGNESHinZONE commented on #37047
On the main page it says that , all the install dependencies { numpy ninja pyyaml mkl mkl-include setuptools cmake cffi} and in the contributing guide there is guide to building it using docker

[2020-04-22 03:16] WangKK1996 commented on #4534
I fix this by defining:
[code]
and then add this in my code:
[code]
I am wondering if this solution is right.

[2020-04-22 03:29] adamjstewart commented on #35478
For the record, I just tried PyTorch 1.5.0 on macOS 10.15.4 with Xcode 11.4.1 and clang-1103.0.32.59 but the build crashes with the same segfault.

[2020-04-22 03:42] ngimel commented on #37048
The difference per call is ~10 us which can be explained by fully exposed overheads and cuda launch latency for the case with the add. If you increase matrix size the difference becomes very small. For the record, here's a modified script that does proper synchronization:
[code]

[2020-04-22 03:46] ailzhang commented on #37048
oh sorry, in fact I ran it with `cpu` device to make it simpler. (output are for cpu as well.

[2020-04-22 03:51] ngimel commented on #36977
Thanks for the report, looks like a real bug. Setting high-pri because of a silent wrong answer. What output value do you expect if pooling window is fully outside the image - 0?

[2020-04-22 03:55] peterjc123 commented on #37022
It seems that the cpuonly feature tracking package is not working. It picks the cuda package. Looking into it.

[2020-04-22 04:09] peterjc123 commented on #37022
Wow, looks like the CPU packages are not uploaded to the stable channel. The workground is use `pytorch-test` channel instead. We will close this issue when it's fixed.

[2020-04-22 04:23] VIGNESHinZONE commented on #33152
Could i also help in contributing and can someone pls guide me

[2020-04-22 04:25] kurtamohler opened #37053 "torch.sum() CPU is much slower for bool/uint8 tensors than int32/float32 tensors"
## 🐛 Bug

Running single-core torch.sum() on a tensor of ints, bools, or uint8's is up to 16 times slower than a tensor of floats of the same length.

## To Reproduce

This issue might not occur on all processors, but it does show up on AMD Ryzen Threadripper 2970WX. Discussion on PR #33269 indicates that we don't see this issue on Intel Xeon 6148 or Intel Xeon 8180.

Running this script produces

[2020-04-22 04:27] kurtamohler commented on #37053
I'm happy to look into this, since it seems like it might be specific to a subset of CPU architectures.

[2020-04-22 04:31] ngimel commented on #37053
fwiw, I'm seeing very similar relative performance on  Xeon(R) CPU E5-2698 v4
[code]

[2020-04-22 04:35] jamesr66a commented on #36754
IMO the answer is "yes" and that should extend out to the Python API. We do much the same thing for the quantized operations, but we're keeping it the way it is due to BC concerns. IMO any "op" that actually has state (i.e. prepacked structures) should follow the `op_ctx = OpCtx(). op_ctx->run()` form

[2020-04-22 05:14] pmeier commented on #35566
Running

[code]
through `mypy` still errors with

[code]

[2020-04-22 05:43] ngimel commented on #37047
Please follow the directions for the docker build on the main page. Please ask the questions at discuss.pytorch.org.

[2020-04-22 05:43] #37047 closed

[2020-04-22 05:46] shiningrain commented on #36977
Thank you for your reply!
    **In general, the pool should not be entirely outside the image**. Thus the output size should be clipped to avoid this situation.  In fact, Pytorch does clip the output size(the `pooling_output_shape_pad_lr` mentioned above does have a clipping operation), but it only cuts the dimension with the pad(See the line with code 'if(pad_l)' in the above figures).  This make

[2020-04-22 06:12] andrewcby opened #37057 "CUDA error: device-side assert triggered @ model.cuda()"
## 🐛 Bug

I'm trying to run BERT model. However, when I try to tell pytorch to run this model on the GPU, using: `model.cuda()`, I got the CUDA error: device-side assert triggered error.

## Detailed error message

[code]

## Environmental Parameter
Pytorch version: 1.4.0

[2020-04-22 06:12] dzhulgakov commented on #37016
@AshkanAliabadi @dreiss also look at mobile gpu integrations and can comment

[2020-04-22 06:23] mattip commented on #32898
This was fixed in gh-32997, which was merged after the release of 1.4.0 and is part of 1.5.0. Any exceptions in the `with` clause that defines `values` were being swallowed.

[2020-04-22 06:35] Baranowski commented on #26304
The PR was reverted - `.cu` source files were considered dirty too often.

[2020-04-22 07:17] xdever commented on #34606
I just run in the same issue on the newly released PyTorch 1.5.0 stable.

[2020-04-22 07:21] ousou commented on #33238
This has been fixed in version 1.5.0, closing issue.

[2020-04-22 07:21] #33238 closed

[2020-04-22 07:30] iamhankai commented on #2456
Any news?

[2020-04-22 07:34] mattip commented on #32004
@jlin27 will you be turning your experiments into a PR?

[2020-04-22 07:38] mattip commented on #30416
`git checkout v1.3.1; git submodule update --recursive` now finds the correct commits in all submodules.

[2020-04-22 08:32] flandrewries commented on #36647
i have met this question too, but when i debug this problem.
i discovered that this may happens when your network initiated with a bad startup.
usually the output is too big , eg , sigmoid(20.) == 1
so, this will occurs when you want to do (sth + sigmoid(20.)) with BCE ,this output will over then one.

solution:
torch.nn.init.xavier_normal_(weight)
torch.nn.init.constant_(bias, 0)
may help to you

[2020-04-22 09:22] simonepri opened #37059 "Add `tensor.scatter_fill` and `tensor.scatter_fill_` APIs"
Removed by the author.

[2020-04-22 09:34] nikitaved commented on #17501
When I run the script from the header with `c=7` I get
[code]
The error is persistent in both version : master and [#36612](https://github.com/pytorch/pytorch/pull/36612).
Is that normal?

[2020-04-22 09:39] n-gao opened #37060 "Add Logit function"
## 🚀 Feature
Add a numerical stable implementation of the logit function, the inverse of the sigmoid function, and its derivative.
[code]

## Motivation
It should be as easy to use the inverse of the sigmoid as it is to use the sigmoid function without having to worry about a numerical stable implementation.

## Pitch
Add `torch.logit`.

## Alternatives
A current version of the logit could look li

[2020-04-22 09:44] tuanhanhdmprof opened #37062 "CPU usage high when inferencing on CPU"
I have a pre-trained model using pytorch. (only use CPU)
My laptop has 12 cores.
When I inferenced on CPU, I saw system monitor. CPU usage of all cores is about 50%. Can I adjust the CPU usage for 2-4 cores (each core 100% is ok)?

Thank you.

cc @VitalyFedyunin

[2020-04-22 09:48] #37059 closed

[2020-04-22 09:52] peterjc123 commented on #37062
Would you please try out `torch.set_num_threads(2)`?

[2020-04-22 09:53] tuanhanhdmprof commented on #37062
I tried to do it. But not work :(

[2020-04-22 10:53] pablopalafox opened #37063 "Misleading documentation in torch.nn.functional.fold"
Related to this [discussion](https://discuss.pytorch.org/t/how-to-unfold-a-tensor-into-sliding-windows-and-then-fold-it-back/55890), I would like to report a misleading warning in https://github.com/pytorch/pytorch/blob/master/torch/nn/functional.py#L3676. As far as I can see, there is a mismatch between what the inline docs state, i.e. _"Currently, only 4-D output tensors (batched image-like tens

[2020-04-22 11:10] belph commented on #36176
This bit me today as well. Here is a simple test script to demonstrate this behavior:
[code]

[2020-04-22 11:28] lironmo commented on #13369
are you planning to add support to pytroch?

[2020-04-22 12:05] ankane commented on #37042
Thanks @ngimel, that fixed it!

[2020-04-22 12:07] #37042 closed

[2020-04-22 12:18] monoelh commented on #28863
I'm also experiencing the same issue for pytorch 1.5.0 for Windows Pip Python with CUDA 10.2
Downloading and installing the correnct wheel package from https://download.pytorch.org/whl/torch_stable.html (in my case: "cu102/torch-1.5.0-cp37-cp37m-win_amd64.whl") works.

[2020-04-22 12:21] Borda commented on #32186
We have the same issue with just released 1.5 version running on Windows
[code]
https://github.com/PyTorchLightning/pytorch-lightning/pull/1552/checks?check_run_id=608401885

[2020-04-22 12:54] hughperkins opened #37065 "Deprecated mask fill mask type can causes pages and pages of repeated messages"
## 🐛 Bug

When I install DrQA, https://github.com/facebookresearch/DrQA , with pytorch 1.4, the mask being provided is legacy, ie torch.uint8. pytorch correctly points out that this is legacy, and should be migrated to dtype torch.bool. However, rather than printing a single warning, it prints pages and pages of warnings, presumably one for each time the masked fill is called. I feel taht the warn

[2020-04-22 12:59] lingzerocy opened #37066 "Saved model behaves differently on same data"
[code]
The question is that the above `y` is changed if the pretrained model is loaded, otherwise it is the same.  This questions only occurs in some network.

[2020-04-22 13:00] ehsankf opened #37067 "can't wrap two models in the same class"
## 🐛 Bug

I define a class with model initializer. When I wrap one model with that class
it looks fine, but with two model instances, it does not converge.

Code example:

def wrapper(nn.Module):

    def __init__(self, model):
          self.model = model
    def forward(self, x):
         return self.model(x)

model1 = net1()

w_model1 = wrapper(mode1)

model2 = net2()

#when I include this line

[2020-04-22 13:09] tomerip commented on #11202
This issue is rather old but I came across it yesterday trying to find how to compute pairwise cosine similarity in PyTorch efficiently.
Didn't see a different solution elsewhere so I thought I'll post my own which works nicely and is easy to implement.
By the way I agree the current function of nn.functional.cosine_similarity is weird, but I exploited it implement the pairwise calculation.

To cl

[2020-04-22 13:39] dncliss commented on #34606
You're building for ppc64le too?  That makes sense; unfortunately the proposed patch wasn't included in the recent 1.5.0 stable branch, so it will need to be applied during build-time when building 1.5.0.

[2020-04-22 13:42] #35373 closed

[2020-04-22 13:58] yhnnstshy commented on #31855
I'm having this issue. Below is the code that's the problem. writer.add_historgram(...) fails. Any advice?
![image](https://user-images.githubusercontent.com/17323557/79991021-c93aac00-847f-11ea-86c8-de67a63c6c9e.png)

[2020-04-22 14:21] mrshenli opened #37068 "[Poll] Add Windows support to torch.distributed package"
We have seen several requests for adding Windows support to `torch.distributed` package recently. ([1](https://discuss.pytorch.org/t/torch-distributed-for-windows-7-10/77855), [2](https://discuss.pytorch.org/t/pytorch-windows-is-parallelization-over-multiple-gpus-now-possible/59971), [3](https://discuss.pytorch.org/t/distributed-error-module-torch-distributed-has-no-attribute-is-initialized/31872)

[2020-04-22 14:28] vincentqb commented on #36831
If there is a way of changing the numbering without breaking backward compatibility, I would welcome a pull request for this. Do you want to open one?

[2020-04-22 14:35] mshuaibii commented on #32994
Just upgraded to 1.5 and also getting this issue

[2020-04-22 14:40] colesbury commented on #37062
On Linux, use something like `taskset -c 0-3 <program>` to only run on the first four cores. On Windows, you can apparently do something similar with `start /AFFINITY 0xf <program>`

https://stackoverflow.com/questions/10829974/taskset-equivalent-in-windows

[2020-04-22 14:41] ezyang commented on #37038
This should work. The error message `arguments from the 'UNKNOWN_TENSOR_TYPE_ID' backend` means that the tensor data structure you passed in was corrupted. Tensors are thread safe to read from multiple threads but they are not threadsafe to write (you have to do your own locking). We have had many C++ only users who have successfully used tensors in a multithreaded context, so my guess is that it'

[2020-04-22 14:43] tuanhanhdmprof commented on #37062
@peterjc123 I used this method but instead of 2 CPUs being used at 100%, 4 CPUs are using about 50%

[2020-04-22 14:48] ezyang commented on #14699
@cdluminate Does it help if I say we'll accept patches that add `USE_SYSTEM_XXX` and `NO_DOWNLOAD` to our cmake. Tag as me as reviewer on them. Also cc'ing @malfet

[2020-04-22 14:49] ezyang commented on #36754
OK! Your opinion is good enough for me :)

[2020-04-22 14:50] ezyang commented on #35566
This seems tough. I'll say that one of our goals was to make all of our annotations inline (for ease of maintenance). Maybe this is a reason to not do that.

[2020-04-22 14:51] ezyang commented on #37016
I guess, let's do issue thread for now

[2020-04-22 14:52] morawi commented on #11202
As far as I remember (from last year) this did not help and I therefore had to write some code to do what was needed.

[torch_cosine](https://github.com/pytorch/pytorch/files/4516864/torch_cosine.txt)

The results conform with those of `sklearn`.

[2020-04-22 14:54] lijunzh commented on #37022
@peterjc123 Thanks. I can confirm that the issue has been fixed now.

[2020-04-22 15:03] vincentqb commented on #32898
Since #32997 landed and is part of 1.5.0, I will close this issue. Please feel free to re-open if this is still happening with the latest version.

[2020-04-22 15:03] #32898 closed

[2020-04-22 15:04] huangbiubiu commented on #32545
@vincentqb When I train MobileNet v2 (implemented by torchvision) with RMSProp, the network does not converge at all. Switch to SGD fix the problem. https://github.com/marvis/pytorch-mobilenet reports a similar result on MobileNet v1 (rmsprop: top1 0.104 top5 0.494).

In [MobileNet v2 paper](https://arxiv.org/abs/1801.04381), they use RMSProp to train the network on TensorFlow and get a good resul

[2020-04-22 15:11] cdluminate commented on #14699
Thanks! That's a good news. Much better than those deep learning frameworks using Bazel build.

[2020-04-22 15:42] albanD commented on #36865
What I would like to check is that `torch.batch_norm_stats()` handle a single input. And won't return inf/nan (or other bad stuff). Because that would pollute all the computed stats.
Unfortunately that function is not documented...
If it does handle it properly then yes we should change that check to count_all.
If it does not handle it, we need to change the strategy to accumulate the std that han

[2020-04-22 15:54] #36730 closed

[2020-04-22 15:57] mrshenli opened #37079 "Result parameters from Single-Process Multi-GPU DDP training on RNN do not match local training"
The following code passes if `net = nn.Linear(2, 2).cuda()`

[code]

However,  if I set `net` to the following RNN model, the final parameter `allclose` check would fail. This requires multiple GPUs to reproduce.

[code]

But as Single-Process Multi-GPU is not the recommended mode, we might end up getting rid of this mode soon.

[2020-04-22 16:04] mrshenli commented on #37079
Some more background on this issue. This was discovered when trying to fix #36268. It is caused by #33907 which changes the behavior of `nn.parallel.replicate` and breaks the assumption made by DDP. We are looking into why our Single-Process Multi-GPU tests did not capture this earlier. However, after reverting #33907, the above `allclose` still fails, meaning that this error already exist prior t

[2020-04-22 16:16] raghuramank100 commented on #28480
Can we close this issue ? (@BIT-silence )

[2020-04-22 16:27] ngimel commented on #17501
Hm, no, that's definitely not normal. What is your GPU? Can you please run this script with CUDA_LAUNCH_BLOCKING=1? fwiw, I can run it on P100.

[2020-04-22 16:27] stu1130 commented on #37038
Thanks for the answer @ngimel @ezyang
Are you suggesting to add lock on this
[code]

[2020-04-22 16:33] venkatasg commented on #25100
I think this should definitely be an option, since batch_first is an option with other modules.

[2020-04-22 16:34] nikitaved commented on #17501
@ngimel , it is Quadro RTX 8000. Could you please try the following script?
[code]

[2020-04-22 16:40] malfet commented on #30584
This huge array doesn't need to be defined in the header (nor does it have to be constexpr)

[2020-04-22 16:48] ngimel commented on #17501
Yep, it does fail for me on c=6. Interestingly, when I run c=6 alone it passes.

[2020-04-22 16:51] fabrizioschiano commented on #30966
@clefourrier , could you clarify what you did? I am having the same problem, thanks.

[2020-04-22 16:51] stu1130 opened #37084 "argmax and argmin ops return the random number for scalar tensor when specifying dim"
## 🐛 Bug

argmax and argmin ops return the random number for scalar tensor when specifying dim

## To Reproduce
[code]

cc @ezyang @gchanan @zou3519

[2020-04-22 16:54] ngimel commented on #17501
cc @zasdfgbnm for reduction configuration arguments. Note, the tensor is discontiguous self-overlapping, `size ([100, 1, 98, 992, 7]) stride (97804, 97804, 998, 1, 1) `

[2020-04-22 17:01] elmirador commented on #36865
The corresponding function of `torch.batch_norm_stats()` is `batch_norm_stats_cuda_template()` at `aten/src/ATen/native/cuda/Normalization.cuh:L634`.
I did a quick check on the source code. The template function invokes CUDA kernel `batch_norm_collect_statistics_kernel()`.
The kernel function returns mean and **biased** variance of the input(L298, `var_n / N`), instead of an unbiased one where you

[2020-04-22 17:17] #24546 closed

[2020-04-22 17:28] mruberry commented on #36029
torch.isclose is in but for testing we should use self.assertEqual, which has different and preferred behavior for comparing complex tensors when testing.

I believe this issue is now addressed!

[2020-04-22 17:28] #36029 closed

[2020-04-22 17:30] aphedges commented on #36831
Sure. It will be a couple of days before I get to it, but I should be able to handle this.

[2020-04-22 17:48] mruberry commented on #3203
Hey @ptrblck! Hope you're doing well and staying safe during quarantine. I'm going to close this due to age, but if it's still happening (somehow) please reopen it.

[2020-04-22 17:48] #3203 closed

[2020-04-22 17:51] mruberry commented on #3145
Looks like the issues was addressed.

[2020-04-22 17:51] #3145 closed

[2020-04-22 17:53] malfet commented on #30584
Will something like that solve a problem even on latest clangs: https://github.com/pytorch/pytorch/pull/37086

[2020-04-22 17:55] mruberry commented on #37084
Thanks for the bug report, @stu1130! This looks like a regression from 1.4.

[2020-04-22 18:00] mruberry commented on #37062
Hey @tuanhanhdmprof, sorry to hear you're not seeing the behavior you'd like. I'm not sure how much PyTorch can do in this case, however, as the operating system has considerable discretion about how it schedules threads.

[2020-04-22 18:04] mruberry commented on #37067
Hey @ehsankf, sorry to hear you're having a problem using PyTorch. Unfortunately, without more detail it's unclear if an error is occurring here. You may want to improve your wrapper class by defining its backwards and allowing attributes to be from the class it wraps to be acquired, too. Those fixes are outside the scope of PyTorch, however.

[2020-04-22 18:07] albanD commented on #36865
Ok then it sounds like it would work fine just to change that condition (and add the corresponding test).
We'll be happy to accept a PR for this.

[2020-04-22 18:07] mruberry commented on #37066
Hey @lingzerocy, sorry to hear you're having an issue! Is there a small model you can provide demonstrating this issue so that we can try to reproduce it?

[2020-04-22 18:09] mruberry commented on #37065
Thanks for reporting this issue, @hughperkins! I'll take a look.

[2020-04-22 18:11] VitalyFedyunin commented on #28619
It is out with 1.5 you can read more here https://pytorch.org/tutorials/intermediate/memory_format_tutorial.html

[2020-04-22 18:16] mruberry commented on #37063
Hey @pablorpalafox, thanks for pointing this out! That is weird. A PR detailing the discrepancy and updating the docs would be great.

[2020-04-22 18:17] mruberry commented on #37060
Hey @n-gao, thanks for the suggestion! A PR implementing a numerically stable logit would be great!

[2020-04-22 18:23] mruberry commented on #37057
Hey @andrewcby, sorry to hear you're having an issue. Unfortunately, there doesn't seem to be enough information here for us to diagnose the problem. Is there a small network (like 10-20 lines) that you can share which reproduces the issue?

[2020-04-22 18:29] farhadrgh opened #37092 "nn.Bilinear cannot be used inside nn.Sequential"
## 🐛 Bug

Using `nn.Bilinear` inside a `nn.Sequential` raises a `TypeError` because `nn.Sequential` doesn't support multiple inputs.

## To Reproduce

Steps to reproduce the behavior:

[code]
Output:
[code]

## Expected behavior

One would expect `nn.Sequential` to work with any number of inputs as long as the inputs are passed correctly from one module to the next one inside `nn.Sequential`.

##

[2020-04-22 18:34] AshkanAliabadi commented on #37016
We have started working on a mobile GPU backend for PyTorch which you can track here #36491.  Keep in mind that this is in **VERY** early stages and **a lot of things** in there are **guaranteed** to change so please do not take this as a de facto way of implementing a GPU backend for PyTorch - rather an exploratory effort that will be refined many times over, probably to a point that it will not

[2020-04-22 18:40] ngimel commented on #17501
@nikitaved to unblock you can do res_sum = res.contiguous().sum(), hopefully you won't get OOM, and we'll work on the fix.

[2020-04-22 18:42] n-gao commented on #37060
I'd like to help but am not familiar with the project structure, e.g., I couldn't find the sigmoid implementation.

[2020-04-22 18:45] #26071 closed

[2020-04-22 18:46] rohan-varma commented on #25516
This is now fixed

[2020-04-22 18:46] #25516 closed

[2020-04-22 18:46] #32019 closed

[2020-04-22 18:46] rohan-varma commented on #33740
fixed by https://github.com/pytorch/pytorch/pull/35394

[2020-04-22 18:46] #33740 closed

[2020-04-22 18:48] rohan-varma commented on #29018
Dup of https://github.com/pytorch/pytorch/issues/32686

[2020-04-22 18:48] #29018 closed

[2020-04-22 18:51] ailzhang commented on #36676
Btw also seeing some memory leaks in tests. A snippet of error:
[code]

[2020-04-22 19:02] suo commented on #36902
Does using the tuple type `Tuple[List[int], List[int]]` work?

[2020-04-22 19:34] dylanbespalko commented on #36029
@aayn

Great to hear you are having success! This was a concerning statement. When you don't specify `atol` or `rtol` it defaults to a type specific epsilon not zero. Make sure you never specify `atol=0.0` or `rtol=0.0` in your code.

[2020-04-22 19:36] SsnL commented on #36176
Thanks for reporting! Yes, this is a bug and should be fixed.

[2020-04-22 19:44] vincentqb commented on #32545
The convergence of RMSProp depends on its parameter, and the exact implementation. RMSProp has never been published in an fixed form, so there are a few possible implementations with slightly different convergence and parameters.

That being said could you show us a minimal example where pytorch's implementation of RMSProp does not converge, and say this [implementation](https://gist.github.com/vi

[2020-04-22 20:20] lijunzh opened #37100 "is_cuda() internal assert failure"
## 🐛 Bug

This bug report is created as instructed by the fail message below:

[code]

## To Reproduce

Steps to reproduce the behavior:

1. A float-point number ResNet was trained
1. The pre-trained ResNet was prepared for QAT
1. When QAT ran on the first epoch, it raised the message above.

## Expected behavior

The model should be able to move from system memory to GPU memory.

## Environment

[2020-04-22 20:36] #35014 closed

[2020-04-22 20:51] pablorpalafox commented on #37063
Thanks @albanD! I guess we can close the issue?

[2020-04-22 20:53] fmassa commented on #36902
FYI this is something that happened with torchvision as well, and for now we haven't found a solution https://github.com/pytorch/vision/pull/1696

[2020-04-22 21:07] jjsjann123 opened #37103 "Legacy fuser doesn't do remainder consistently with `aten::remainder`"
## 🐛 Bug

aten::remainder follows numpy.remainder implementation (https://docs.scipy.org/doc/numpy/reference/generated/numpy.remainder.html) Which is not from IEEE remainder -> remainderf (https://en.cppreference.com/w/cpp/numeric/math/remainder)

In legacy fuser, we are using remainderf: https://github.com/pytorch/pytorch/blob/5fc391a6465d1f7197008085bb521b6dfaccc8b3/torch/csrc/jit/codegen/fuser/

[2020-04-22 21:14] albanD commented on #37063
It will be automacally closed when the PR is merged. No need to do anything here.

[2020-04-22 21:17] jamesr66a opened #37104 "[JIT] Use of global value creates confusing error message"
[code]

"cannot be used as a value" here doesn't really impart any information that would be useful to the user. We should at least improve the error message or make it so that these situations are better supported in our model of the world

[2020-04-22 21:24] ezyang commented on #37038
No, this one shouldn't need a lock, unless you somehow have a reference to `t` in another thread (but how could it be, it looks like it was just defined, in the example here)

[2020-04-22 21:31] malfet commented on #36676
Above backtrace is not specific to clang-9, but can be a red herring, since `clang -fsanitize=address` does not find any errors in that codepath.

[2020-04-22 21:46] saareliad opened #37108 "Building 1.5 from source failed to build NCCL"
## 🐛 Bug

Building 1.5 from source failed to build NCCL

## To Reproduce

1. follow build from source instructions, tag 1.5. (python 3.8, cuda 10.2)
2. can run full build, OR:
[code]

error is:

include/socket.h:329:60: error: 'SO_REUSEPORT' was not declared in this scope

cc @malfet

[2020-04-22 21:48] ailzhang commented on #36937
Ah sorry this issue go to pytorch/xla repo.

[2020-04-22 21:48] #36937 closed

[2020-04-22 21:49] seemethere commented on #35975
So I just realized this with github actions that users without write access or users who submit pull requests from forks won't be able to access secret like a circleci token that's used to trigger a workflow.

This will probably mean that this won't be able to be configured as a github action and might need to be configured as a github app instead.

@suo or @ezyang how did we approach this in the

[2020-04-22 21:51] mruberry commented on #37060
Hm... maybe we should make a guide for how to add a function to PyTorch.

[2020-04-22 21:53] saareliad commented on #37108
checking out
https://github.com/NVIDIA/nccl/tree/v2.6.4-1

seems to pass work better, i'll know tomorrow...

[2020-04-22 21:53] n-gao commented on #37060
That would help a lot!

[2020-04-22 22:03] ngimel commented on #37053
Ok, most of this is happening because
a) benchmarking script actually benchmarks bool instead of int32
b) bool and int32 and uint8 are promoted to int64 before reduction.
When promoting to int32 which seems reasonable for most cases I get better results, still bool and uint8 are too slow, but that's probably because of preceding casting copies and not because of reduction itself:
[code]
fixed benc

[2020-04-22 22:24] zhaojuanmao commented on #36940
@mrshenli looks like python_nccl.cpp includes python APIs binded to NCCL c++ APIs, cuda/comm.cpp are some util functions. sounds fine to keep them separated, how do you think?

[2020-04-22 22:25] VitalyFedyunin commented on #10370
Yes, we would love to have similar to numpy behavior. but without sacrificing performance

[2020-04-22 22:30] kit1980 opened #37111 "torch.isfinite() doesn't work for fp16 on CPU"
## 🐛 Bug

torch.isfinite() doesn't work for fp16 on CPU

## To Reproduce
[code]

## Expected behavior

torch.isfinite should work for fp16 on CPU

## Environment

PyTorch version: 1.5.0
Is debug build: No
CUDA used to build PyTorch: 10.2

OS: Ubuntu 16.04.6 LTS
GCC version: (Ubuntu 5.4.0-6ubuntu1~16.04.12) 5.4.0 20160609
CMake version: Could not collect

Python version: 3.6
Is CUDA available: Yes

[2020-04-22 22:45] gchanan commented on #37062
this doesn't appear to be a PyTorch bug or feature request and we try to limit github issues to that scope.  If you have more questions, kindly direct them to https://discuss.pytorch.org/.

[2020-04-22 22:45] #37062 closed

[2020-04-22 23:01] VivekPanyam opened #37113 "Can't pip install PyTorch 1.4.0 with CUDA 10.1"
## 🐛 Bug

The default CUDA version for the PyTorch 1.4.0 wheels is CUDA 10.1, but `pip install` defaults to CUDA 9.2 and does not let you install the 10.1 wheel.

Across Python 2.7, 3.6, 3.7, 3.8:

`pip install -f https://download.pytorch.org/whl/torch_stable.html torch==1.4.0`

will install the `cu92` wheel instead of the `cu101` wheel.

The following command complains that it can't find the requ

[2020-04-22 23:40] malfet commented on #30584
@Bo98 can you please check if above PR fixes the issue for your version of clang?

[2020-04-22 23:41] YuanYingdong commented on #37113
Maybe you can try 1.5 with command
[code]

[2020-04-22 23:43] YuanYingdong opened #37116 "What prior knowledge do I need to contribute to this project?"
I'm a freshman to PyTorch but good at c++, what prior knowledge do I need to contribute to this project? Better to make a list.

[2020-04-22 23:46] VivekPanyam commented on #37113
Yes, installing 1.5.0 does work, but this is specifically about 1.4.0 + cuda 10.1 failing

A workaround is to install 1.4.0 + CUDA 10.1 by using the wheel path directly (e.g. `pip install https://download.pytorch.org/whl/cu101/torch-1.4.0-cp38-cp38-linux_x86_64.whl`), but this isn't ideal

[2020-04-22 23:48] Harry-McDonald commented on #37022
Hi there, tried to install it this morning and got the same error? Any ideas why?

`import torch
  File "C:\Python38\lib\site-packages\torch\__init__.py", line 81, in <module>
    ctypes.CDLL(dll)
  File "C:\Python38\lib\ctypes\__init__.py", line 373, in __init__
    self._handle = _dlopen(self._name, mode)
FileNotFoundError: Could not find module 'C:\Python38\lib\site-packages\torch\lib\caffe2_nv

[2020-04-22 23:53] malfet commented on #37108
@saareliad can you please share a bit more information about your build environment, namely Linux OS flavor, cmake version. This can be done in an automated fashion by running `torch/utils/collect_env.py` in PyTorch repo checkout.

`SO_REUSEPORT` should be defined after `<sys/socket.h>` is included. Can you please run:
[code]
in terminal and share the output here?

[2020-04-23 00:03] zhaojuanmao commented on #37030
@mrshenli I'm wondering how to make param.grad to point to offsets in bucket and meanwhile send out the data to all reduce? are you saying to let bucket content and param.grad to share the same storage?

I saw comments in codes to avoid that, see

"    // Assert that the grad tensor and the bucket don't share storage.
    // If they did, we could avoid the copy altogether.
    // The reason for no

[2020-04-23 00:07] mrshenli commented on #37030
`optimizer.zero_grad()` is usually called before calling `optimizer.step()` to update parameters.

[2020-04-23 00:08] peterjc123 commented on #37022
@Harry-McDonald
Some findings:
1. It seems that you have two python environments: C:\Python38\ and the one from conda and it seems that the first command installs torch into the first one while the second command installs that into the second one. So would you please try importing torch using the second environment? You may do this by doing `activate` first.
2. caffe2_nvrtc.dll relies on libiomp5m

[2020-04-23 00:14] peterjc123 commented on #37113
It can be fixed by using three equal signs instead of two.

[2020-04-23 00:18] malfet opened #37117 "Valgrind reports uninitialized value in function schema parsing"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. Compile `basic` test with clang, for example by invoking:
` make ../pytorch -DPYTHON_EXECUTABLE=/usr/bin/python3.7 -DUSE_CUDA=NO -DBUILD_TEST=YES -DCMAKE_BUILD_TYPE=RELWITHDEBINFO -DCMAKE_CXX_COMPILER=/usr/bin/clang++ -DCMAKE_C_COMPILER=/usr/bin/clang -DUSE_MKLDNN=OFF -G Ninja; ninja basic`
2. Run ` valgrind --track-origins=yes ./bin/

[2020-04-23 00:19] malfet commented on #37117
This is likely a false negative, since the same issue is not reproducible if `gcc` is used as compiler or if code is compiled by clang with Address Sanitizer

[2020-04-23 00:25] mrshenli commented on #37030
I see, this is a valid reason to prevent us from using views as grad.

@albanD @ezyang Are my following understanding correct?

1. As views do not own storage and is just a way to interpret storage, it needs the edge to find the original tensor that owns the storage and hence cannot be detached in place from the graph?
2. We are doing `detach_()` instead of `detach()` in `optimizer.zero_grad()` to

[2020-04-23 00:26] neonrights commented on #27959
Same, I get the same `KeyError` when trying to use torch.nonzero

[2020-04-23 00:38] zhaojuanmao commented on #36570
@pritamdamania87 agree with you that they should work together and need fix. The same issue was reported in #32286 and #36570 as well.

for fix, we add a condition, when USE_SYSTEM_NCCL is on, link to system library, otherwise link to nccl_external

[2020-04-23 00:39] Harry-McDonald commented on #37022
Sorry, how to do I find the name of the second environment? Can I just run

`$ conda activate python38`

And then re-run the conda install, so it all goes to the python38 environment with the rest of my python packages? Im not super set on how all of this works

[2020-04-23 00:48] peterjc123 commented on #37022
I guess you just installed that into the base environement so you can do `conda activate base`.

[2020-04-23 00:53] Harry-McDonald commented on #37022
Yep I did that,

![image](https://user-images.githubusercontent.com/54873331/80047401-aa581a80-8550-11ea-89cb-b66e8eb5598f.png)

[2020-04-23 00:54] wolfviking0 opened #37120 "Nightly failed buiding on OSX with CUDA because of tuple undefined"
## 🐛 Bug

NVCC Failed during the build of the cuda kernel, it seems to have an issue with the change inside the CUDALoops.cuh

[code]
## To Reproduce

Steps to reproduce the behavior:

1. Just standard command to build
 ```MACOSX_DEPLOYMENT_TARGET=10.13 CC=clang CXX=clang++ python3 setup.py install```

## Expected behavior

I already build previous version with CUDA on the same computer without an

[2020-04-23 01:37] neoandrevictor commented on #37022
related topic https://github.com/alievk/avatarify/issues/116 , i'm still get this error. i tried this `conda activate base` but does not worked.

[2020-04-23 02:15] peterjc123 commented on #37022
@neoandrevictor @Harry-McDonald You can use [Process Monitor](https://docs.microsoft.com/en-us/sysinternals/downloads/procmon) to the capture the logs.

[2020-04-23 02:16] piantou commented on #751
you can see it at http://gameofdimension.com/2017/10/29/numerical-stability/

[2020-04-23 02:17] maihefande commented on #36649
Is there any other infomation i need to provide？

[2020-04-23 02:28] ezyang commented on #35975
@seemethere in CircleCI we just make "secrets" (such as the keys for accessing sccache) available to all pull requests (so it's not very secret, but you do have to write a naughty update to the CI scripts to actually exfiltrate the secret).

[2020-04-23 02:33] slaweks17 opened #37124 "Link error, Libtorch 1.5 on Windows"
## 🐛 Bug
Large number of link errors when trying rebuild an existing program with the new 1.5 version of Libtorch on Windows

## To Reproduce

Steps to reproduce the behavior:
1. Create a following program

#include <torch/torch.h>
int main(int argc, char** argv) {
    torch::Tensor x_t;
}

2. Try to build it. The compilation is successful, the link fails with messages like
LNK2019	unresolved exte

[2020-04-23 02:37] peterjc123 commented on #37124
Well, it looks like you are constructing the VS project by hand. Please link against `torch_cpu.lib` instead of `torch.lib`. If you are using CUDA, then you'll need link against `torch_cuda.lib` and add the following argument `-INCLUDE:?warp_size@cuda@at@@YAHXZ`.

[2020-04-23 02:43] neoandrevictor commented on #37022
I'cant use, appears douzens of process called python .

[2020-04-23 02:45] slaweks17 commented on #37124
Great! Thank you very much!!

[2020-04-23 02:45] #37124 closed

[2020-04-23 02:55] Liu0329 commented on #36506
@modjtabaf Same problem. Have you solved it ?

[2020-04-23 02:56] peterjc123 commented on #37022
You can filter using PID.

[2020-04-23 02:56] kdemarest opened #37126 "missing tools.nnwrap module on completely clean Win 10 install"
I just got a completely new Window 10 machine. Installed Python 3.7.0 and nothing else. Attempted
to use pip to install pytorch. Below is the log.

The exact error that is stopping me is:
    ModuleNotFoundError: No module named 'tools.nnwrap'

To be clear, this is the simplest possible install. At first I was on python 3.8 and discovered that I was in 32 bit. I removed that and installed 3.7.0 64

[2020-04-23 03:04] neoandrevictor commented on #37022
Python.exe is a children of cmd.exe, even filtering the cmd.exe by PID process apears thousands in Process Monitor.

[2020-04-23 03:08] modjtabaf commented on #36506
@Liu0329 I found a temporary workaround but, I didn't pursue it any further because I switched to another tool. My temporary workaround was to edit line 54 of the file nms_wrapper.py as below:
`# inds = nms_cuda.nms(dets_th, iou_thr)`
`inds = nms_cpu.nms(dets_th.cpu(), iou_thr).cuda()`

[2020-04-23 03:14] mruberry commented on #37126
Could you be facing this issue?

https://discuss.pytorch.org/t/error-installing-torch/53352/2

Historically getting a single Python 64 has addressed this issue.

[2020-04-23 03:14] peterjc123 commented on #37022
@neoandrevictor Okay. Then maybe you can try with the Debugging Tools for Windows. You can download it here. https://docs.microsoft.com/en-us/windows-hardware/drivers/debugger/debugger-download-tools After installation, you may use the following command to generate the log.
[code]

[2020-04-23 03:17] mruberry commented on #37113
Thank you for reporting this issue, @VivekPanyam! Glad to hear you have a workaround, too.

[2020-04-23 03:19] mruberry commented on #37111
Thanks for reporting this issue, @kit1980!

[2020-04-23 03:22] kdemarest commented on #37126
Not exactly.

I had to remove 32 bit python, yes, but then I ALSO had to run in Windows
Powershell, I think because it is 64 bit and perhaps the old Cmd.exe
(Command Prompt) is not?

Anyhow, I have gotten it to work. But if would be a LOT more kind if
pytorch somehow checked for 32 bit. I wasted substantial time, and I can't
be alone.

*Ken Demarest*
ken.demarest@gmail.com
415.342.9731
Austin, Tex

[2020-04-23 03:23] mruberry commented on #37116
Hey @YuanYingdong! You can look at our [Contribution Guide](https://pytorch.org/docs/stable/community/contribution_guide.html) for a better idea of how to start contributing. I suggest you find a starter project like it recommends and focus on working through it. The project should naturally suggest the skills you need.

[2020-04-23 03:23] #37116 closed

[2020-04-23 03:37] mruberry commented on #37126
@kdemarest You're definitely NOT alone judging from how many posts there are on the issue. Maybe there is some way we can provide some information earlier in this process.

[2020-04-23 03:37] peterjc123 commented on #37126
Related: https://github.com/pytorch/pytorch/issues/27815

[2020-04-23 03:42] mruberry commented on #37092
Thanks for the suggestion, @farhadrgh!

[2020-04-23 03:43] peterjc123 commented on #37126
It'll be good to keep only Python environment in PATH. Otherwise, it will easily leads to environment inconsistency. (e.g. Python and pip points to different envs.) To get cleaner envs with multiple python installations, maybe you can use the package manager conda.

[2020-04-23 03:46] #37126 closed

[2020-04-23 03:51] peterjc123 commented on #37100
Seems to be a duplicate of https://github.com/pytorch/pytorch/issues/36802.

[2020-04-23 03:56] peterjc123 commented on #37068
I hope this could be supported. We brought MKLDNN and FBGEMM support in 1.5.0. So maybe distributed is one (or maybe the only one) of the major features that are missing on Windows.

[2020-04-23 04:43] VIGNESHinZONE commented on #37047
Sorry for the inconvenience. Could pls look into this disscussion
https://discuss.pytorch.org/t/docker-build-error/77970

[2020-04-23 04:55] johnshin86 opened #37129 "Possible bug with the experimental Jacobian"
## 🐛 Bug

I am testing the new experimental Jacobian function in Pytorch 1.5. From the documentation, it looks like the input needs to be either a single tensor, or a tuple of tensors. When passing in a tensor of shape batch_size * input_dim, a Jacobian tensor of shape (batch_size * output_dim * batch_size * input_dim) will be returned. My expectation is that it would return a tensor of shape (bat

[2020-04-23 05:21] YOLOsyb opened #37130 "some questions about scatter"
`import torch

### cpu
input = torch.zeros(8, 3, 7, 10, dtype=torch.float)
src = torch.randn(8, 3, 7, 10, dtype=torch.float)
index = torch.randint(0, 3, [8, 3 ,7, 10])
dim = 1
input.scatter_(dim, index, src)

### gpu
ginput = torch.zeros(8, 3, 7, 10, dtype=torch.float).cuda()
gsrc = src.cuda()
gindex = index.cuda()
ginput.scatter_(dim, gindex, gsrc)

err = (ginput.cpu() - input).sum()
print(err)`

[2020-04-23 05:38] ngimel commented on #37047
cc @seemethere

[2020-04-23 05:42] ngimel commented on #37130
If there are repeated indices, `scatter` results are not deterministic. Setting docs tag to document this.

[2020-04-23 05:55] khordoo commented on #25164
I was trying to install it on a machine with 1GB of ram and was getting this error:
It was for inference and I  did not need the GPU, So I only installed the CPU package which has a smaller pip file and it was installed with no error.

`pip install torch==1.2.0+cpu torchvision==0.4.0+cpu -f https://download.pytorch.org/whl/torch_stable.html`

[2020-04-23 06:08] Edwardmark opened #37132 "How to rebuild the libtorch to get the lib.so after download the libtorch from https://download.pytorch.org/libtorch/nightly/cu92/libtorch-win-shared-with-deps-latest.zip?"
how to build and make libtorch after I change the code in https://download.pytorch.org/libtorch/nightly/cu92/libtorch-win-shared-with-deps-latest.zip?
Any guide please?
Thanks in advance.

[2020-04-23 06:11] YOLOsyb commented on #37130
@ngimel  Thanks for your answer!

I'm still a little confused about the code.

https://github.com/pytorch/pytorch/blob/b889e0da8ab33e0b47abc817e679851299728be7/aten/src/THC/THCTensorScatterGather.cu#L113

`  for (IndexType linearId = blockIdx.x * blockDim.x + threadIdx.x;
       linearId < totalElements;
       linearId += gridDim.x * blockDim.x) {`

I suspect gpu parallelism。

[2020-04-23 07:07] peterjc123 commented on #37132
It depends on which part of code you're changing. If you are changing the headers in LibTorch and your own source files, then you may simply trigger a rebuild of the project. Otherwise, you'll need to build LibTorch from source.

[2020-04-23 07:07] #37132 closed

[2020-04-23 07:09] Edwardmark commented on #37132
@I just change the headers for add namespace in DeviceType as using c10::DeviceType, how to trigger a rebuild of the project? Do I have to rebuild the lib?

[2020-04-23 07:09] Edwardmark commented on #37132
@I just change the headers for add namespace in DeviceType as using c10::DeviceType, how to trigger a rebuild of the project? Do I have to rebuild the lib?

[2020-04-23 07:14] misslibra commented on #34583
@jerryzh168 @z-a-f

hi I have the same problem when I do  inference with a quantized model.
I try two methods,AND I got error:
`
  File "/home/cindy/anaconda3/envs/torch1.4/lib/python3.7/site-packages/torch/quantization/stubs.py", line 14, in __init__
    if qconfig:
RuntimeError: bool value of Tensor with more than one value is ambiguous
`
1:
`
images = QuantStub(images)
 outputs = model(images)`

[2020-04-23 07:15] peterjc123 commented on #37132
Nope, just retry the build commands. If you are using VS GUI, then click `BUILD->REBUILD`. If you are using cmake, then `cmake --build . --config Release`.

[2020-04-23 07:17] Edwardmark commented on #37132
@peterjc123 but libtorch do not have cmakelists in the prebuild packages https://download.pytorch.org/libtorch/nightly/cu92/libtorch-win-shared-with-deps-latest.zip? , so how to run cmake?
So you mean that I do not rebuild libtorch but just use it to rebuild my new project?
Is that right?

[2020-04-23 07:20] peterjc123 commented on #37132
@Edwardmark Yeah, just write the CMakeLists.txt according to https://github.com/pytorch/examples/blob/master/cpp/custom-dataset/CMakeLists.txt.

[2020-04-23 07:28] tuxmaster5000 commented on #36721
/usr/lib64/ccache/c++ is only an symlink, so that the command listed as c++ is very strange.
Some lines before the exits another error:
Scanning dependencies of target gloo
cc1plus: error: -Werror=dangling-else: no option -Wdangling-else

Exists an option to show which command cmake realy call with the full path?

[2020-04-23 07:53] kaituoxu opened #37134 "C++ model output is a List, how to get each item?"
## ❓ Questions and Help
I'm using PyTorch1.3 and libtorch1.3.

In python, my scripted model's returned type is `List[List[Dict[str, Tensor]]]`

In C++, I get model output from `auto output = model.forward(inputs);`, I find that output is a `GenericList`. I don't know how to access each item of GenericList, and I want to know how to get each Tensor from Dict[str, Tensor].

Thx.
### Please note that

[2020-04-23 08:03] xush6528 opened #37136 "[Design][RFC] RemoteModule API Design"
# [Design][RFC] RemoteModule API Design

FB internal link, [[Design] RemoteModule](https://fb.quip.com/Rb5bAKee8TQ4)

## Goal

* Provide a wrapper `nn.Module` API that serves these purposes
   * Users should feel like using remote module is like using a local module. RPCs are done transparently for users.
   * Users can look up if a the parameters and modules that sit on the remote side rather tha

[2020-04-23 08:22] cdluminate commented on #14699
A question: why do you put two duplicated copies of QNNPACK to the project?
1. `third_pary/QNNPACK` 2. `aten/src/ATen/native/quantized/cpu/qnnpack`

[2020-04-23 08:43] misslibra commented on #34583
I also try before put to model,but fail :
images = images.to(torch.float16)

[2020-04-23 09:00] sharvil opened #37138 "Incremental pruning reorders module hooks"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. Add identity pruning to a module's weight to reparameterize it
1. Call `register_forward_pre_hook` to register additional hooks to run on the module after reparameterization (e.g. additional reparameterizations)
1. Add a pruning schedule to the module's weight (e.g. prune 10% weights every epoch)
1. Notice that pruning reorders hooks

[2020-04-23 09:19] tsvetiko commented on #1137
1. Return `None` in your `__getitem__` function if your image is corrupted

[code]

2. Filter the `None` values in the `collate_fn`

[code]

3. Pass the `collate_fn` to the `DataLoader`

[code]

[2020-04-23 09:50] rgommers commented on #36902
It does. And that's arguably more correct, even though MyPy seems to be happy with `(...)`. I'll send a PR to re-enable the test. Thanks @suo, sorry for the noise.

[2020-04-23 09:56] rgommers commented on #36902
torchvision CI errors look the same indeed, `Tuple[...]` should fix that.

[2020-04-23 10:19] xiadingZ commented on #37120
also broken on linux,

- pytorch: master
- OS: linux 64
- python version: 3.7.7
- cuda/cudnn version: 9.0/7
- GPU models and configuration: GTX 1080ti

[2020-04-23 10:41] vadimkantorov commented on #37053
Even for sum reduction, if the underlying type is bool/uint8 and the reduced dim tensor size is sufficiently prudently small, the reduction can be done in int32 or even in a shorter type like int16, right? (modulo templated code bloat if it's a factor)

[2020-04-23 10:51] rusty1s commented on #37022
With PyTorch 1.4, I was able to install and compile CUDA extensions on Windows inside Travis without any NVIDIA drivers. Does the error
[code]
suggest that I cannot do this anymore with PyTorch 1.5? Or is there a potential workaround for this specific use-case?

[2020-04-23 10:58] ffuuugor commented on #27623
It's unclear what's the reason of having kdim and vdim as separate parameters, while they are always enforced to be the same

[2020-04-23 11:10] peterjc123 commented on #37022
@rusty1s You can install the driver DLLs as a workground. Related code:
https://github.com/pytorch/vision/blob/master/packaging/windows/internal/cuda_install.bat#L99-L102
https://github.com/pytorch/vision/blob/master/packaging/windows/internal/cuda_install.bat#L139-L140

[2020-04-23 11:11] tomerip commented on #11202
I maybe missing something but how do your functions work with batches?
When I try the following example for a single batch (i.e. no batch dimension) my code returns the expected results (identical to yours), but I'm unable to run your functions with a batch dimension.

[code]

When I try to run cosine_distance_torch(x) I get:
`RuntimeError: t() expects a tensor with <= 2 dimensions, but self is 3D

[2020-04-23 11:13] stangelid commented on #27623
In the context of the vanilla Transformer, the key and value will always be of equal size.

However, I can easily imagine a senario where you would use the multi-head attention mechanism to assign attention weights to an arbitrary set of value vectors, whose size is different from the keys and/or queries.

[2020-04-23 11:14] rusty1s commented on #37022
Awesome! Thank you so much.

[2020-04-23 11:24] clefourrier commented on #30966
@fabrizioschiano : If you created a virtualenv to use pytorch in (using [this](https://virtualenv.pypa.io/en/latest/) for example), you have to make sure that you only installed pytorch and tensorboard, but not tensorflow, as it has conflicts with the others. As I said, removing tensorflow from the vritualenv containing pytorch and tensorboard solved the problem for me.

If you did not create a vi

[2020-04-23 11:56] lironmo commented on #37068
+1.
what are the limitations using windows based os?

[2020-04-23 11:56] HEmile opened #37141 "torch.distributions.utils.broadcast_all does not support Tensor-like objects"
## 🐛 Bug

`torch.distributions.utils.broadcast_all` will crash when it receives Tensor-like objects, as `torch.is_tensor` returns `False` on Tensor-likes that do not subclass Tensor. This prevents creating distribution objects using Tensor-likes.

## To Reproduce

Steps to reproduce the behavior:

Consider the class

[code]
Now create (for example) a Normal distribution using it:

[code]

This cra

[2020-04-23 12:02] pyscorcher opened #37142 "permute() is slowed down massively in 1.5 compared to 1.4"
## 🐛 Bug

Backpropagation through `tensor.permute()` is a lot slower in pytorch 1.5 compared to pytorch 1.4.
I'm not exactly sure what is causing this, but it seems like a bug.(?)

## To Reproduce

Run following file with pytorch 1.4 and pytorch 1.5. (You might have to adjust the number of iterations or size of the input tensor if it takes too much or too little time)

[code]

## Expected behavior

[2020-04-23 12:07] #37134 closed

[2020-04-23 12:19] IsmailAlaouiAbdellaoui commented on #27623
I am working on the exact same problem. I would like to have an output dimension that is different from the input embedding dimension ( just like an LSTM does ). According to the original paper, the variable that sets the dimension of the output is the value vector ( and thus its dimension ).

[2020-04-23 12:29] andrew12678 opened #37143 "Segmentation fault on torch.addmm"
## 🐛 Bug

I was doing a simple transfer learning workflow (eg. I set up the dataset, dataloader and model) and then fed the batch of images to my model and I get a Seg Fault. I did a `export PYTHONFAULTHANDLER=1`, to track it down to the following line of code: `ret = torch.addmm(bias, input, weight.t()`in `torch/nn/functional.py`.

The full error message is as follows.

[code]

## To Reproduce

I

[2020-04-23 13:47] gmoneymiller commented on #36871
Hi!  I will ask permission to share my code with you.

--Scott

[2020-04-23 13:50] ezyang commented on #14699
@cdluminate the copy in (2) is a forked version of qnnpack with modified numerics. Since we still have some models using the unforked qnnpack in prod, modifying the upstream copy would require us to fix those prod models, but we're planning on just killing it altogether later.

qnnpack should probably not be packaged for the distro.

[2020-04-23 14:01] #24605 closed

[2020-04-23 14:09] zhangguanheng66 commented on #27623
We have a PR https://github.com/pytorch/text/pull/720 on MultiheadAttention building blocks. With them, you should be able to test different variants on your side.

[2020-04-23 14:10] ezyang commented on #37030
I don't think it has to do with overhead, I suspect it has to do with ensuring old reference to the parameter are retained. But I'm not 100% sure, why don't you try the suggested change and see what happens?

[2020-04-23 14:13] morawi commented on #11202
Better compare the results with the those of `sklearn cdist`. You'll need to input the batch_size as a parameter, ie `x` is a matrix of all samples and you want to divide it into several batches. Note that the batch size should be less than the number of rows in `x`, better add some statement to check this.  The function will also use the GPU if available, although it might be enhanced by passing

[2020-04-23 14:35] albanD commented on #37030
1. The problem is that the view/inplace logic links the history of all these Tensors together. And so doing a `.detach_()` would be tricky. For example we allow it for the base even if it has views and this lead to the following weird behavior:
[code]
Giving
[code]

2. We do detach_ to try and keep references to the old Tensor valid yes. And it is also slightly more efficient if you don't need a n

[2020-04-23 14:39] lijunzh commented on #37100
@peterjc123 Yes, the workaround mentioned in #36802 solves the problem. However, it would be better PyTorch can keep a consistent behavior between 1.4 and 1.5.

[2020-04-23 14:39] #37100 closed

[2020-04-23 14:39] vadimkantorov opened #37149 "Cuda profiler + DataParallel + manual profiling start = strange profiling overhead pattern"
I learn a transformer language model (reusing fairseq components with my own training loop). I use DataParallel for multi-gpu. I tried two variants for kicking off the CUDA profiler:

1. `nvprof -s -f -o profile.sqlite --log-file profile.txt -- python3 ...`
![Screenshot_1](https://user-images.githubusercontent.com/1041752/80111481-3afa1f00-8580-11ea-90bd-ad9d67ce8950.png)

2. `nvprof --profile-fro

[2020-04-23 14:40] VitalyFedyunin commented on #37142
Might be memory formats related, I will take a look.

[2020-04-23 14:44] mrshenli commented on #37068
We are technically ready for adding this support, as libuv is cross platform and it already works well for PT Distributed on MacOS. It just requires additional engineering work and code maintenance overhead. We would like to make sure there are a reasonable amount of usages and adoptions if we pay the effort.

[2020-04-23 14:53] pyscorcher commented on #37142
@VitalyFedyunin I suspected something like that - if you remove the line between the two permute() calls you don't have that slowdown. But I don't even know nearly enough to comment about that.

[2020-04-23 14:57] #36902 closed

[2020-04-23 15:00] mrshenli commented on #37030
@ezyang thanks, we will try

@albanD the 1st bullet indeed looks weird. IIUC, modifying `b` inplace leads to `a` copied the first 2 elements from the original tensor and created a new tensor, and also changed the view (`b`) to point to the new tensor? Is that where the `CopySlices` come from? After doing this, is the original 10-element tensor still alive? BTW, is this a by-design behavior, or sho

[2020-04-23 15:04] #36710 closed

[2020-04-23 15:28] cdluminate commented on #14699
@ezyang Thanks for the pointer. BTW, should we skip packaging any dependency in the following list: NNPACK, XNNPACK, fbgemm, foxi, gloo, ideep ?
Currently my plan only involves packaging the cpu-only version, so we don't need CUDA/ROCm related dependencies currently. (It's not convenient to deal with the proprietary CUDA license from Debian side.)

[2020-04-23 15:38] gchanan commented on #37129
@albanD.

[2020-04-23 15:47] mrshenli commented on #36268
Closed by #36523

[2020-04-23 15:47] #36268 closed

[2020-04-23 15:49] mrshenli commented on #36939
#36523 seems fixed the reported error, but we hit another error.

[code]

Reopen this issue to track.

[2020-04-23 15:49] zetyquickly opened #37151 "Preserve forward() hooks while preparing for quantization"
## 🚀 Feature
Hello,

This feature is related to a thread from [discuss forum](https://discuss.pytorch.org/t/prepare-qat-on-module-removes-hooks/72137)

I would like to propose mechanism of saving `_forward_pre_hooks` and `_forward_hooks` while model is preparing for quantization.

## Motivation

There are cases that depend on such functionality. Here I duplicate what I said about it in the forum

[2020-04-23 15:50] zetyquickly commented on #37151
@jerryzh168
I would like to implement this functionality

[2020-04-23 15:52] jithunnair-amd commented on #36939
Okay, that's good in a way, because we have also seen this "can't pickle" error before, but never root-caused it.

[2020-04-23 16:00] albanD commented on #37129
Hi,

Yes this is the intended behavior. The function defined by your model takes a Tensor of size (batch_size * input_dim) as input and returns a Tensor of size (batch_size * output_dim). So the Jacobian for that function will be of size (batch_size * output_dim * batch_size * input_dim) (the output dimension concatenated with the input dimension).

If you want the Jacobian for each element in the

[2020-04-23 16:27] danibendi commented on #37068
Also joining the request. In terms of backends, will you be able to support GLOO on Windows?

[2020-04-23 16:33] ngimel commented on #37120
cudnn 9.0 is no longer supported. Supported cuda versions are 9.2, 10.1, 10.2

[2020-04-23 16:38] brianhhu commented on #36493
I've also noticed this with p > 1 on Pytorch 1.5 (but not 1.4) when running the similarity example in torchvision. I needed to add a relatively large eps value (1e-4) in order to not get nan gradients after the first iteration: https://github.com/brianhhu/vision/tree/fix-similarity-reference-nan-loss.

[2020-04-23 16:45] zasdfgbnm commented on #24535
fixed

[2020-04-23 16:45] #24535 closed

[2020-04-23 16:45] zasdfgbnm commented on #24739
fixed

[2020-04-23 16:45] #24739 closed

[2020-04-23 16:45] zasdfgbnm commented on #24680
fixed

[2020-04-23 16:45] #24680 closed

[2020-04-23 16:46] zasdfgbnm commented on #30986
fixed

[2020-04-23 16:46] #30986 closed

[2020-04-23 16:55] malfet commented on #36721
@tuxmaster5000, yes you can run `cmake --trace-expand`, but what you want to do here is see the commands `make` is executing, which can be achieved by invoking `make VERBOSE=1 torch_cpu`

[2020-04-23 16:56] christopher-beckham commented on #5565
@VolodymyrAhafonov @creotiv a while back I had ported some Numpy code I found on the net to do the trilinear sampling, though I don't know if it's correct, so no guarantees. It's also quite slow (because it's not a fast C/CUDA implementation).

The way it's called in `stn` is a bit hacky and unclean but it's what I had to do at the time to get it to work.

[code]

[2020-04-23 17:03] zhaojuanmao commented on #36939
@mrshenli this is happening in master? or flaky?

[2020-04-23 17:03] albanD commented on #36493
@brianhhu  could you open a new issue with a small code sample and specifying that it is a regression between 1.4 and 1.5 please?

[2020-04-23 17:04] zasdfgbnm opened #37153 "Out of bound memory access in CUDA reduction kernel config"
## 🐛 Bug

In the code, there is a

[code]

For the cases where the input is a scalar, we can have `iter.shape()` and `iter.strides()` being empty array, and `iter.shape()[0]` would be an out of bound memory access.

## To Reproduce

No easy reproduce. I only see it cause flaky failures in https://github.com/pytorch/pytorch/pull/37095

[code]

[2020-04-23 17:07] albanD commented on #35643
Re-opened the issue to discuss if we want to add support for kwargs for nn.Module hooks. And if so how given the issues mentioned above.

[2020-04-23 17:10] jerryzh168 commented on #37151
@zetyquickly Looks good to me, feel free to submit a PR.

[2020-04-23 17:19] mrshenli commented on #36939
@zhaojuanmao  This is on master and consistently fails. It's not shown as broken because we don't have CI envs with >= 6 GPUs. Below is what we do in `run_test.py`. We have a CI env with 4 GPUs, but in that case, the world size will be configured to 3. Hence the corresponding replicate is not run.

[code]

[2020-04-23 17:19] brianhhu opened #37154 "torch.cdist produces nan gradients in Pytorch 1.5, but not Pytorch 1.4"
## 🐛 Bug

torch.cdist produces nan gradients in Pytorch 1.5, but not Pytorch 1.4

## To Reproduce

Steps to reproduce the behavior:

1. Run the similarity example here: https://github.com/pytorch/vision/tree/master/references/similarity

2. On Pytorch 1.4, training proceeds normally with the loss decreasing each iteration

3. On Pytorch 1.5, the gradients become nan after the first iteration, whic

[2020-04-23 17:20] brianhhu commented on #36493
Ok, created a new issue here: https://github.com/pytorch/pytorch/issues/37154

[2020-04-23 17:22] TevenLeScao opened #37155 "Per-cluster biases in AdaptiveLogSoftmaxWithLoss"
## 🚀 Feature
Add per-cluster biases in addition to the main head bias in Pytorch's implementation of adaptive softmax.

## Motivation

[TransformerXL](https://arxiv.org/abs/1901.02860)'s implementation of adaptive softmax incorporates a bias for all the clusters. It would be nice to have Pytorch at parity with that SOTA.

## Pitch

I would like to add a flag to the class constructor to add per-clu

[2020-04-23 17:23] zasdfgbnm opened #37156 "test_fft_input_modification_cpu should be skipped when no MKL"
## 🐛 Bug

On my machine, the following test always fails:

[code]

with error message:

[code]

## To Reproduce

Build PyTorch without MKL and run the test

cc @ezyang @gchanan @zou3519

[2020-04-23 17:32] Cloudmersive commented on #5858
I feel that this issue should not be closed - it is still happening 100% of the time on Windows on the example project:

https://pytorch.org/tutorials/beginner/blitz/cifar10_tutorial.html#sphx-glr-beginner-blitz-cifar10-tutorial-py

[2020-04-23 17:33] mrshenli commented on #37068
Yes, it will be GLOO-only in the first version. NCCL does not seem to support Windows: https://docs.nvidia.com/deeplearning/sdk/nccl-install-guide/index.html#downloadnccl

[2020-04-23 17:33] kurtamohler commented on #37053
Darn, sorry for the typo in my script. Thanks for investigating! I updated my repo with your edits, and here's the performance I get now:

device | data type | tensor size | torch.sum() time, seconds
-- | -- | -- | --
cpu | torch.float32 | 1000 | 0.000048
cpu | torch.float32 | 10000 | 0.000079
cpu | torch.float32 | 100000 | 0.00038
cpu | torch.float32 | 1000000 | 0.003478
cpu | torch.float32 | 100

[2020-04-23 17:35] mcarilli opened #37157 "CUBLAS_STATUS_EXECUTION_FAILED for ConvTranspose2d backward with FP16 inputs"
## 🐛 Bug

While helping @vfdev-5 integrate `torch.cuda.amp` with [Ignite](https://github.com/pytorch/ignite), he asked me to debug a CycleGan+Amp example.  I saw weird nondeterministic errors.  Eventually I narrowed down a repro with ConvTranspose2d, FP16 inputs, and shapes taken from cyclegan.  It fails with illegal memory accesses in `SlowConvTranspose2DBackward`.  (The repro does not involve `t

[2020-04-23 17:35] seemethere commented on #35975
@ezyang It's not the CircleCI portion of it that I'm worried about, it's on the Github Actions side where we cannot share credentials with people who are submitting PRs from forks.

Which basically means anyone submitting a PR from a fork wouldn't be able to use the CIRCLECI_TOKEN that we'd need to have in order to trigger downstream workflows.

[2020-04-23 17:35] #28480 closed

[2020-04-23 17:39] tocosastalo commented on #37022
Like @peterjc123 said, I downloaded additional .dll files from [https://drive.google.com/u/0/uc?id=1injUyo3lnarMgWyRcXqKg4UGnN0ysmuq&export=download](https://drive.google.com/u/0/uc?id=1injUyo3lnarMgWyRcXqKg4UGnN0ysmuq&export=download) and copied them to `C:\Windows\System32` and it worked.

[2020-04-23 17:41] nikitaved commented on #17501
I see consistent improvement over the original code thanks to the `__restricted__` key word. I hope it is justified to use it in here, since I am not sure anyone will ever use `unfold_backward` in forward, so that the pointer involved will never point to intersecting chunks of memory.

[2020-04-23 17:46] peterjc123 commented on #37022
Plus: This is only a workground if you try to build sth related to CUDA on a CPU-only machine. For other purposes, you should install the cpu-only package.

[2020-04-23 18:07] glaringlee commented on #12449
@oranichu
1. did u setup CMAKE_PREFIX_PATH?
2. try use absolute path instead of relative path.

[2020-04-23 18:09] zhaojuanmao commented on #37079
@mrshenli  just to confirm: for single process single GPU case, local training is identical to ddp training, right?

[2020-04-23 18:12] ngimel commented on #37153
We should be able to catch this with asan cuda builds if we had those.
cc @ezyang @malfet

[2020-04-23 18:16] malfet commented on #37153
@ngimel, as far as I know, we can't compile CUDA code with `-fsanitize=address` option. But we should be able to catch is with `valgrind` (and with `cuda-memcheck` if out of bound access is on GPU)

[2020-04-23 18:17] ezyang opened #37160 "Enhanced operator context when reporting errors"
I don't intend to implement this in my first go at a new shape checking API, so I'm writing this down so I don't lose track of it.

Today, when you trigger an error in PyTorch, you get an error, but not information about the inputs that triggered it. For example:

[code]

Enhanced operator context would mean that we print out abridged information about the operator call that triggered the error in

[2020-04-23 18:20] johnshin86 commented on #37129
Thank you for the clarification! Appreciate your fast response.

[2020-04-23 18:20] #37129 closed

[2020-04-23 18:20] mrshenli commented on #36939
cc @rohan-varma just FYI

[2020-04-23 18:21] ngimel commented on #37053
Yes, this sounds like a reasonable fix. Don't forget that uint8 tensors values can be up to 255, so you can safely sum only pretty small tensors. It probably makes sense to limit the fix to bool tensors only. Please don't change type promotion behavior (i.e. the output type by default should be int64, like it is now). Also can you please check if it will fix masked_select performance in #33269, at

[2020-04-23 18:22] ezyang commented on #14699
Yes, this looks reasonable. I do think you should bundle ideep, but I think it's the one that's most likely to warrant its own package, as it's maintained by INtel.

[2020-04-23 18:23] VitalyFedyunin commented on #34880
Honestly, it is not overlapping 'bug', it is more like allowing operations on self-overlapping tensors in specific cases. And even if we do so, we will have to iterate every single element of each tensor, which will have performance implications ( imagine having ` x.expand(2000000, -1)` ).

Having self-overlapping buffer here is unnecessary, as it can always be expanded before use.

[2020-04-23 18:23] ngimel commented on #37153
In this case it is an out-of-bounds access on the CPU, but we are not compiling this code for non-cuda builds.

[2020-04-23 18:24] sharvil commented on #31423
[Haste](https://github.com/lmnt-com/haste) has a fast CUDA implementation of LTSM (and other RNN layers). You can use it to get the cell states for all time steps:

[code]

[2020-04-23 18:27] ezyang commented on #35975
I guess what I'm saying is, you are going to need some way of getting at the token from public CI. CircleCI provides some way to do it, but it's not true security, it's security by obscurity, but it is better than just publishing the token directly in our repository. If GH actions has no way of doing it, you'll need to figure out some place to put the key that is not too obvious to extract out, bu

[2020-04-23 18:29] mrshenli commented on #37079
@zhaojuanmao we do have tests to check that for several toy models in `test_c10d.py`, but I just checked, those tested models do not include RNN, so I don't know if it is still the case for RNN.

[2020-04-23 18:30] kdharris101 opened #37162 "torch.distributions bug in RelaxedOneHotCategorical.log_prob"
## 🐛 Bug

I'm a new user so maybe I misunderstood something - but I think I found a bug in torch.distributions.RelaxedOneHotCategorical. I also think I have a fix for it.

I would like to create a batch of n distributions with different temerature parameters.  I believe the way to do this is to pass in temperature of size [n,1], and logits of size [n,k] (where k is the number of categories). Howev

[2020-04-23 18:57] sharvil commented on #37138
@mickypaganini, could you please take a look? Thanks.

[2020-04-23 19:03] xunleiwu opened #37164 "matplotlib.pyplot.show() fails in pytorch container"
## 🐛 Bug

matplotlib.pyplot.show() fails in pytorch container.

## To Reproduce

Steps to reproduce the behavior:

1. Launch pyTorch container
    docker run -e NVIDIA_VISIBLE_DEVICES=all -e DISPLAY=${DISPLAY} --ipc=host --rm -ti pytorch/pytorch:latest
GPU option does not really matter here.

2. Install matplotlib python library
pip install matplotlib

The container does not ship with matplotlib w

[2020-04-23 19:31] #24642 closed

[2020-04-23 20:28] tensorbuffer commented on #27376
I am also stuck on this issue, I want the exported onnx graph to contain one simple upsample node, not the current gather/multiply/divide/concat nodes, which is too complicated.
I tried with a small graph, which only had one upsample node. If I pass in size then I got simple onnx upsample node. If I pass in scale factors then it's the complicated one.
However when I tried a complicated graph that'

[2020-04-23 20:35] ngimel commented on #37153
Setting triage review to discuss what we want to do with that. It's the second time Reduce.cuh is an offender on what should be caught with asan but is not (first time was https://github.com/pytorch/pytorch/pull/22827)

[2020-04-23 20:36] suo commented on #37103
cc @Krovatkin can you take a look? Should we just try to move this sort of thing on the profiling executor?

[2020-04-23 20:38] suo commented on #36713
Seems like a good request. The fastest way to get a fix is to put up a PR that renames it something sensible; we'll accept it. Otherwise, I'll try to find some time to do the same

[2020-04-23 20:40] mrshenli opened #37182 "Cannot torch.save replicated modules with v1.5"
## 🐛 Bug

With v1.5, `torch.save()` fails on result modules from `torch.nn.parallel.replicate` regardless of `detach=True` or `detach=False`. This error does not occur with v1.4.

## To Reproduce

[code]

[code]

The above two code snippets both hit the following error. And I verified that the same code works correctly on v1.4.

[code]

cc @ezyang @gchanan @zou3519 @ngimel

[2020-04-23 20:43] mrshenli commented on #37182
cc @peterbell10 for #33064

[2020-04-23 20:45] mrshenli commented on #37182
For triage review meeting: added high-pri tag because

1. This is a regression
2. This breaks `test_distributed.py` tests which were reported in #36939

[2020-04-23 20:47] mrshenli commented on #36939
This turns out to have a broader impact than just DDP. Any replicated module with crash with `torch.save()`. Hence created #37182 to track discussion.

[2020-04-23 20:48] ezyang opened #37183 "JIT README still refers to nonexistent UnpackTuple primop"
https://github.com/pytorch/pytorch/blob/master/torch/csrc/jit/OVERVIEW.md#node refers to UnpackTuple but there is no such primop

[code]

cc @suo

[2020-04-23 20:48] ezyang commented on #37183
Probably because it's called TupleUnpack

[2020-04-23 21:11] dreiss commented on #36803
It's not specific to interpolate.  The same thing happens with a call to relu.

[2020-04-23 21:14] mrshenli commented on #36570
Agree with @pritamdamania87 and @zhaojuanmao, they should work together

[2020-04-23 21:28] #35948 closed

[2020-04-23 21:36] sharvil commented on #18056
I can take this on.

[2020-04-23 21:44] eellison commented on #31423
@zou3519 not currently implemented. it's blocked by https://github.com/pytorch/pytorch/issues/28762 but there's a PR out for that now https://github.com/pytorch/pytorch/pull/34705 so hopefully it will be supported in the not-too-distant future

[2020-04-23 21:44] fuggy commented on #34704
Hello,
I got the same issue, Why this issue is closed ? And what is the workaround ?

Best regards

[2020-04-23 21:52] ngimel commented on #37157
Hi priority because it is a crash.

[2020-04-23 22:09] zhangguanheng66 commented on #37143
@fmassa could you take a look at here?

[2020-04-23 22:19] sharvil commented on #18056
The patch is ready for review. PTAL.

[2020-04-23 22:24] zhangguanheng66 commented on #37164
I think it's more relevant to our tutorial site and you may open an issue there.

https://github.com/pytorch/tutorials

[2020-04-23 22:24] #37164 closed

[2020-04-23 22:25] zhangguanheng66 commented on #37138
could you share a simple code snippet to reproduce the error?

[2020-04-23 22:31] sharvil commented on #37138
Adapted from the unit test:

[code]

Expected output:
`[0, 1, 2]`

Actual output:
`[0, 2, 3]`

[2020-04-23 22:31] zhangguanheng66 commented on #37143
Cannot reproduce on my side

[2020-04-23 22:36] rohan-varma commented on #36939
There might be a bug in the way we set world_size in our distributed tests
leading to this failure. Will dig  into this a bit more closely.

On Thu, Apr 23, 2020 at 11:20 AM mrshenli <notifications@github.com> wrote:

--
Rohan Varma
UCLA CS '19
https://rohanvarma.me

[2020-04-23 22:43] zhaojuanmao commented on #37149
not sure what kind of bugs you are referring? and how to reproduce?

[2020-04-23 22:53] vadimkantorov commented on #37149
I refer to major and constant Profiler Overhead line in the nvprof trace in variant 2 (red line). In variant 1 profiler overhead is constant and happens before forward-backward passes.

It may be a bug of NVidia drivers / `nvprof` or it may be somehow related to PyTorch. Since a PyTorch <-> CUDA profiler interop is a possiblity, I submitted this description. [`torch.cuda.profiler.start()`](https:/

[2020-04-23 23:07] suo commented on #36803
I'll take a look, as zach mentioned offline it seems to be related to how we print function types.

[2020-04-23 23:20] ndronen commented on #35643
Thanks for re-opening it. I'll respond with a strawman proposal in a few days.

[2020-04-24 01:16] zzzwen opened #37197 "Support transferring TorchScripted Module via RPC"
We are seeing exceptions when transferring a TorchScripted Module via RPC. Can we add support for it?

cc @suo @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @gqchen @aazzolini @rohan-varma @xush6528 @jjlilley @osalpekar

[2020-04-24 01:26] Krovatkin commented on #37103
@suo i took a look, but **if** the fix needs to be more performant, we should probably ask @ngimel or @jjsjann123 to advise us on the best way to compute it. https://github.com/pytorch/pytorch/pull/37196

[2020-04-24 01:41] ezyang commented on #37156
@zhangguanheng66 what's the reasoning for categorizing this as high priority?

[2020-04-24 01:53] mhamilton723 opened #37200 "JIT should let people know we inferred an argument as a tensor"
## 🐛 Bug

Torch Jit fails on simple examples with dim argument

## To Reproduce
[code]

[code]

## Expected behavior

No error

## Environment

PyTorch version: 1.5.0
Is debug build: No
CUDA used to build PyTorch: 10.2

OS: Ubuntu 16.04.6 LTS
GCC version: (Ubuntu 5.4.0-6ubuntu1~16.04.12) 5.4.0 20160609
CMake version: version 3.5.1

Python version: 3.7
Is CUDA available: No
CUDA runtime version: 10

[2020-04-24 02:07] mcarilli commented on #37157
At the [spot where the error occurs](https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/cuda/NaiveConvolutionTranspose2d.cu#L736), the gemv arguments have the expected shape.  If replace the gemv call with dummy in-place `add_(0.0)`s applied to the argument tensors, the repro runs end to end under cuda-memcheck without errors, so the argument tensors appear properly allocated.

Lo

[2020-04-24 02:19] Edwardmark opened #37201 "Libtorch:how to create tensor from tensorRT fp16 cuda half type pointer?"
how to create tensor from tensorRT fp16 half type pointer in libtorch?
I am working on a detection model. I change the backbone of it to tensorRT to do FP16 inference, and the detection code such as decode boxes and nms is done in libtorch and torchvisoin, so how to create fp16 tensor from tensorRT half type pointers?
The important code is to illustrate the issue:
[code]
Thanks in advance.

cc @yf

[2020-04-24 02:40] huang229 opened #37203 "Do you have any documents to compile libotch using source code?"
Do you have any documents to compile libotch using source code? Thank you!!!

[2020-04-24 02:42] gmoneymiller commented on #36871
I packaged for you a reproducible test case.  Unzip the attached into <TOP_DIR>, and then:

[2020-04-24 02:47] gmoneymiller commented on #36871
[nail.zip](https://github.com/pytorch/pytorch/files/4526332/nail.zip)
cd <TOP_DIR>/nail/hnn/sho
export PYTHONPATH=$PYTHONPATH:<TOP_DIR>

and then run ./bugtestC.sh (CPU) and ./bugtestG.sh (GPU) several times.  The GPU version takes only a minute or two to run, and the CPU version 5-10 min.

Each time it will produce a .tsv output file, which are the results of training two models and comparing the

[2020-04-24 02:48] suo commented on #37200
Hi, torchscript is statically typed. If you do not give an argument a type annotation, we assume it is a Tensor. As you can see, the `dim` argument is expected to be a list of integers, not a Tensor.

The following modified code snippet compiles correctly:
[code]

[2020-04-24 02:49] ezyang opened #37204 "Make it harder to make SIOF bugs for torchbind classes referenced by schemas"
See https://github.com/pytorch/pytorch/pull/34140/files#r414252788

[2020-04-24 03:19] Lmy0217 opened #37208 "RuntimeError: Tried to instantiate class __file__.__file__ but it does not exist! Ensure that it is registered via torch::jit::class_"
## 🐛 Bug

Input `vars(torch)` got
[code]

## To Reproduce

Steps to reproduce the behavior:

1. `vars(torch)`

## Expected behavior

Some expected output

## Environment

PyTorch version: 1.5.0+cu101
Is debug build: No
CUDA used to build PyTorch: 10.1

OS: Microsoft Windows 10 企业版
GCC version: Could not collect
CMake version: version 3.12.0-rc3

Python version: 3.6
Is CUDA available: Yes
CUDA runt

[2020-04-24 03:33] daniel-p-gonzalez opened #37209 "Pytorch upgrade 1.4 -> 1.5 broken on Windows"
## Issue description

Just upgraded to 1.5 on Windows 10 using conda, and pytorch fails to import with the following error:
Python 3.6.9 |Anaconda, Inc.| (default, Jul 30 2019, 14:00:49) [MSC v.1915 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "(user dir)\Anaconda3\en

[2020-04-24 03:33] FBMachine commented on #37209
Note: not sure, but may be related to https://github.com/pytorch/pytorch/pull/33856

[2020-04-24 03:37] neoandrevictor commented on #37022
i will try those things. but sorry for the silly question (i'm newbie in python) , but why you don't fix this problem?

[2020-04-24 03:54] azuredream commented on #27837
Same problem, LSTM training random crash.

[2020-04-24 04:14] azuredream commented on #27837
Same problem in 1.5.0.

[2020-04-24 04:16] mhamilton723 commented on #37200
Thank you @suo :)

[2020-04-24 04:16] azuredream commented on #27837
Same problem, LSTM training random crash.
Pytorch 1.5.0, 1660Ti, 2600X, windows10, 32G

[2020-04-24 04:19] emcastillo commented on #37084
I reproduced the bug and realized that this only happens when the tensor is a scalar.
`a = torch.tensor([5.])` seems to be working fine. There might be some problem in the reduction routines when dealing with 0-dim tensors

[2020-04-24 04:51] laizewei opened #37211 "torch::Tensor can't be use with std::tuple or std::vector?"
#include <torch/torch.h>
#include <Windows.h>
#include <iostream>
#include <string>
#include <vector>

auto ReadRsv(const std::string path) {
	HANDLE filea= CreateFileA((LPCSTR)path.c_str(), GENERIC_READ, FILE_SHARE_READ | FILE_SHARE_WRITE, NULL, OPEN_EXISTING, FILE_FLAG_SEQUENTIAL_SCAN,NULL);
	int cout;
	int length;
	ReadFile(filea, &cout,4,NULL,NULL);
	std::vector<std::tuple<torch::Tensor, torch

[2020-04-24 05:06] peterjc123 commented on #37209
Please provide the logs using Process Monitor and make sure you are not using a CUDA variant of PyTorch on a PC without NVidia GPU.

[2020-04-24 05:12] peterjc123 commented on #37022
@neoandrevictor I'm not aware the problem at your side. So you need to provide more information like the logs.

[2020-04-24 05:26] laizewei commented on #37211
Problem solved
------------------------------
auto ReadRsv(const std::string path) {
	HANDLE filea= CreateFileA((LPCSTR)path.c_str(), GENERIC_READ, FILE_SHARE_READ | FILE_SHARE_WRITE, NULL, OPEN_EXISTING, FILE_FLAG_SEQUENTIAL_SCAN,NULL);
	int cout;
	int length;
	ReadFile(filea, &cout,4,NULL,NULL);
	std::vector<std::tuple<torch::Tensor, torch::Tensor>> rsv;
	byte* dataa = new byte[784];
	byte* data

[2020-04-24 06:01] mickypaganini commented on #37138
If I understand correctly, you want to apply three reparametrizations of different kinds: A, B, C.
Say A and C are pruning reparametrizations, and B is a reparametrization of a different kind.

What we currently do, which I agree may not be safe or correct, is to fold A+C=D, and then apply: B, D.

What you are suggesting (correct me if I'm wrong), is equally unsafe and potentially incorrect, is to

[2020-04-24 06:26] opentld opened #37212 "pytorch1.5 does not support CUDA？"
Win10，RTX2080，CUDA10.2，CUDNN7.65 ，anaconda
using conda install pytorch torchvision cudatoolkit=10.2 -c pytorch or pip torch-1.5.0-cp37-cp37m-win_amd64.whl
import torch is OK
but torch.cuda.is_available() always return false,why?

[2020-04-24 06:42] v0dro commented on #12013
I'm in the process of building this list. Its rather large and am still building it but comments are welcome.

# Survey of various layers

## Linear

Status: works :heavy_check_mark:

[code]

## Bilinear

Status: :negative_squared_cross_mark:

[code]

## AdaptiveAvgPool2d

Status: :negative_squared_cross_mark:

[code]

## AdaptiveAvgPool3d

Status: :negative_squared_cross_mark:

[code]

## AlphaDr

[2020-04-24 06:44] ankane opened #37213 "Failed internal assertion with `torch::pickle_load` in LibTorch 1.5.0"
## 🐛 Bug

Hi, I'm running into a failed assertion with `torch::pickle_load` on PyTorch models.

[code]

## To Reproduce

Steps to reproduce the behavior:

1. Save a tensor and a model in PyTorch

[code]

2. Create and compile a C++ application

[code]

3. Run it

The tensor loads as expected, but the model throws an exception.

Stack Trace

[code]

## Expected behavior

No exception.

## Environme

[2020-04-24 07:07] peterjc123 commented on #37212
Check your driver. Is it up to date?

[2020-04-24 08:11] deepali-c commented on #37203
Building PyTorch from source builds libtorch.so too.
Document - https://github.com/pytorch/pytorch/blob/master/docs/libtorch.rst

[2020-04-24 08:43] Lezcano commented on #37138
The `Parametrization` framework will handle this issue correctly. Two `Pruning` methods will only be folded into one if they were applied on the same weight one after the other with no other `Parametrization`s between them.

This particular problem with the hooks will not be present, as `Parametrization`s (`Pruning` included) will not make use of hooks.

[2020-04-24 08:47] HansBambel commented on #1708
Does this mean with the new PyTorch 1.5 **‘CHANNELS LAST’ MEMORY FORMAT** we can expect group/depthwise convolutions to speed up?

[2020-04-24 08:48] JianpingChen066 opened #37216 "commit 1592d6842cc8d4fabca35a6f9ac3117c34348e70 caused DLRM benchmark running with "--enable-profiling" crash"
## 🐛 Bug
The following check-in make DLRM benchmark running crashed with "--enable-profiling" crash

commit 1592d6842cc8d4fabca35a6f9ac3117c34348e70
Author: James Reed <jamesreed@fb.com>
Date:   Tue Apr 21 16:31:17 2020 -0700

    [resubmit] Move profiler to a dispatch wrapper (#36766)

    Summary:
    Pull Request resolved: https://github.com/pytorch/pytorch/pull/36766

## To Reproduce

Steps to

[2020-04-24 09:02] bmanga opened #37217 "Compiling release/1.5 broken on Ubuntu 18.04"
## 🐛 Bug

When building third_party/ideep/mkl-dnn, the compilation fails. Some of the errors are:
* ``` third_party/ideep/mkl-dnn/include/dnnl_config.h:81:2: #error "BOTH DNNL_CPU_RUNTIME and DNNL_GPU_RUNTIME must be defined"```
* ```third_party/ideep/mkl-dnn/src/common/dnnl_thread.hpp:115:12:  error: ‘DNNL_THR_SYNC’ was not declared in this scope ```
* ```third_party/ideep/mkl-dnn/src/common/dnnl

[2020-04-24 09:03] HansBambel commented on #18631
Does the **'Channels last' memory format** in PyTorch 1.5 enable fast depthwise convolutions?

[2020-04-24 09:07] bmanga commented on #37217
@peterjc123 do you know what could cause this?

[2020-04-24 09:11] peterjc123 commented on #37217
You may need to sync the submodules.
[code]

[2020-04-24 09:18] bmanga commented on #37217
Thanks!
Seems like `git submodule update` wasn't enough... This is why I don't like submodules :(

[2020-04-24 09:18] #37217 closed

[2020-04-24 10:19] tuxmaster5000 commented on #36721
Ok, but how to pass this to the python command?
Because python calls cmake and make.

[2020-04-24 10:43] koaning commented on #36941
Running this works on my side too.

[code]

Seems like something is not properly packaged along?

[2020-04-24 10:59] FBMachine commented on #37209
I train models daily on an NVidia GPU - as I said this is the result of upgrading from 1.4 (with cudatoolkit=10.1), to 1.5 (with cudatoolkit=10.2).

[2020-04-24 11:01] peterjc123 commented on #37209
Please provide the logs using Process Monitor to help locating the problem.

[2020-04-24 11:02] alexjc commented on #13117
This issue appears to be still applicable to 1.4 and 1.5 on windows.  As a workaround, you need to set `num_workers=0` to disable multiprocessing for the dataloaders.

(I'm using fastai2 `train_imagenette.py` and this exception shows up by default.)

[2020-04-24 11:07] FBMachine commented on #37209
It appears that \Anaconda3\envs\cenv\lib\site-packages\torch\lib\caffe2_detectron_ops_gpu.dll is missing from the installation.

[2020-04-24 11:08] peterjc123 commented on #37209
@FBMachine Let me  check.

[2020-04-24 11:16] peterjc123 commented on #37209
![image](https://user-images.githubusercontent.com/9998726/80207062-0eb5cf80-8660-11ea-8243-16afbcb818a3.png)
It is in the package.

[2020-04-24 11:33] Harry-McDonald commented on #37022
My issue was I accidentally had CUDA selected! Lolcano. Make sure you check the CUDA tab!

[2020-04-24 11:46] GFabien commented on #34294
Hi! Any update on this issue? I am investigating a way to create a Keras-like summary function from [pytorch-summary](https://github.com/sksq96/pytorch-summary) including the "connected to" field using a forward pass with tensor-like objects containing additional metadata following [this](https://pytorch.org/docs/stable/notes/extending.html#extending-torch-with-a-tensor-wrapper-type) implementatio

[2020-04-24 12:20] promach commented on #15253
@jacobrgardner

Using your `my_cdist()` as described in https://github.com/pytorch/pytorch/issues/15253#issuecomment-491467128 inside [my own code implementation](https://gist.github.com/promach/8ddd9794f242c24ffdaa612bcb0bfa33#file-adder-py-L21) triggered the above runtime error.

Could you advise ?

[2020-04-24 12:39] GFabien commented on #34294
Ok, thank you. Good luck!

[2020-04-24 12:54] nikitaved commented on #17501
CPU results..
[code]

### Before
[code]
### After
[code]

[2020-04-24 13:29] rgommers commented on #30416
@mattip could you link to the relevant PR? Then I think this can be closed.

[2020-04-24 13:30] nikitaved commented on #17501
@ngimel , was the issue detected fixed? If so, then it also improves the performance. The testing time reduced from 5 mins to 1 min!

[2020-04-24 13:31] stefanopini opened #37234 "Sums of expanded and repeated tensors are different"
## 🐛 Bug

The sum of expanded tensors is different to the sum of regular and repeated tensors and produces higher errors.
The error occurs on CPU only and error rate varies between different (Intel) CPUs.

## To Reproduce

Steps to reproduce the behavior:

1. Create a float tensor (on cpu) and expand it to a huge size
1. Sum the expanded tensor
1. Compare it to the sum of a repeated or regular ten

[2020-04-24 13:40] peterjc123 commented on #13117
Related issue: https://github.com/pytorch/pytorch/issues/16943. Looks like CUDA IPC is supported on Windows now, but you have to use TCC mode.

[2020-04-24 13:42] zhangguanheng66 commented on #37156
@ezyang I think this is related to our CI tests and it's easy to fix.

[2020-04-24 13:52] mattip commented on #30416
In commit 42faf961c83 the submodule `android/libs/fbjni` changed from https://github.com/IvanKobzarev/fbjni  to https://github.com/facebookincubator/fbjni.git. This commit to pytorch was done after 1.3.1 and before 1.4.0. The repo under IvanKobzarev was removed, leading to this issue. Subsequently the removed repo was restored. If there was a PR corresponding to [commit 42faf961c83](https://github

[2020-04-24 14:05] uchihaltachi commented on #34550
I also meet this problem, how to solve please.

[2020-04-24 14:08] peterjc123 commented on #34550
@uchihaltachi If you are on Windows, then you'll need to update to 1.5.0.

[2020-04-24 14:40] uchihaltachi commented on #34550
你好，刚才的问题解决了，但是我在用pytorch量化的时候，将convert之后的模型进行evaluate的时候又出现的了这个问题，请问您知道怎么解决吗？

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"peterjc123"<notifications@github.com&gt;;
发送时间:&nbsp;2020年4月24日(星期五) 晚上10:08
收件人:&nbsp;"pytorch/pytorch"<pytorch@noreply.github.com&gt;;
抄送:&nbsp;"二呆子→_→"<1281659997@qq.com&gt;;"Mention"<mention@noreply.github.com&gt;;
主题:&nbsp;Re: [pytorch/pytorch] Didn't

[2020-04-24 14:42] peterjc123 commented on #34550
@pytorch/quantization

[2020-04-24 14:42] peterjc123 commented on #34550
@uchihaltachi Any code to illustrate your problem?

[2020-04-24 14:49] uchihaltachi commented on #34550
你好，谢谢您指导。根据报错的地方在107行，代码贴在下面。非常感谢

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"peterjc123"<notifications@github.com&gt;;
发送时间:&nbsp;2020年4月24日(星期五) 晚上10:43
收件人:&nbsp;"pytorch/pytorch"<pytorch@noreply.github.com&gt;;
抄送:&nbsp;"二呆子→_→"<1281659997@qq.com&gt;;"Mention"<mention@noreply.github.com&gt;;
主题:&nbsp;Re: [pytorch/pytorch] Didn't find engine for operation quantized::conv_pr

[2020-04-24 14:53] gmoneymiller commented on #36871
cd <TOP_DIR>/nail/hnn/sho
export PYTHONPATH=$PYTHONPATH:<TOP_DIR>

and then run ./bugtestC.sh (CPU) and ./bugtestG.sh (GPU) several times. The GPU version takes only a minute or two to run, and the CPU version 5-10 min.

Each time it will produce a .tsv output file, which are the results of training two models and comparing their performance. Compare the .tsv files between runs. You will see that

[2020-04-24 14:56] gmoneymiller commented on #36871
Source code package is attached.

--Scott

On Tue, Apr 21, 2020 at 9:50 PM Pritam Damania <notifications@github.com>
wrote:

[2020-04-24 14:56] #37211 closed

[2020-04-24 14:57] gchanan commented on #37201
CC @glaringlee.

[2020-04-24 15:09] klicperajo opened #37237 "cdist NAN in backward"
## 🐛 Bug

In PyTorch 1.5 (not 1.4) using cdist produces NANs instead of regular gradients. This happens on both CPU and GPU.

## To Reproduce

Steps to reproduce the behavior:

1. [Download the tensors](https://figshare.com/s/47d6035b990fa62d730d)
2. Run the code
[code]
3. The printed gradients will be NAN.

## Expected behavior

Actual numerical gradients.

## Environment

 - PyTorch Version (e.g

[2020-04-24 15:14] klicperajo commented on #37237
Sorry, this seems to be a duplicate of #37154.

[2020-04-24 15:26] cdluminate commented on #14699
Hello, I need some more help for understanding onnxifi.

1. The documentation of the [standard onnxifi](https://github.com/onnx/onnx/blob/master/docs/ONNXIFI.md) says "ONNXIFI is a cross-platform API for loading and executing ONNX graphs on optimized backends". Does that mean ONNXIFI is a set of API that can be implemented by different but compatible implementations? Similarly, the BLAS API has ma

[2020-04-24 15:32] gchanan commented on #37153
is it possible to compile/run asan builds on CUDA but cut off the asan tracking at cuda boundaries or is that not possible?

[2020-04-24 15:34] gchanan commented on #37153
Not sure if this is the same or not, but https://github.com/pytorch/pytorch/issues/37084 looks related.

[2020-04-24 16:04] zetyquickly commented on #37151
Hello, guys @jerryzh168  @zhangguanheng66
Please have a look
https://github.com/pytorch/pytorch/pull/37233

[2020-04-24 16:04] klicperajo commented on #22616
I can confirm that this indeed works with PyTorch 1.5.0.

[2020-04-24 16:17] ngimel commented on #17501
No, the issue with reductions is not fixed yet. Probably res.contiguous().sum() is faster than res.sum().

[2020-04-24 16:21] sharvil commented on #37138
@mickypaganini I agree that these operations don't necessarily commute and that neither of the folding options is ideal.

Let me explain where I'm coming from. I have a pruning schedule that drops a larger percentage of units over (training) time. I also have another reprameterization I perform after pruning. I'd like to preserve the sequence of operations I've defined on the tensor in question (p

[2020-04-24 16:23] Lezcano commented on #37138
It will indeed.

[2020-04-24 16:26] FBMachine commented on #37209
You're right, that just happened to be the dll it was loading when the error was thrown - it seems to be from a deeper dependency. I managed to get a more specific error:

"The procedure entry point cudnnSetCTCLossDescriptorEx could not be located in the dynamic link library (user dir)\Anaconda3\envs\cenv\Lib\site-packages\torch\lib\torch_cuda.dll"

To be clear, I've been training just fine on GPU

[2020-04-24 16:33] mickypaganini commented on #37138
@Lezcano That's not the problem. That, in the meantime, could be achieved with an easy fix with forward pre hooks as well, given that it's an ordered dictionary. We can easily make it such that two pruning methods are folded together only if they are applied back-to-back. That's fine. @sharvil we can support your use case with a quick PR.

The bigger issue I was wondering about it what to do when

[2020-04-24 16:41] peterjc123 commented on #37209
It seems that you have a conflicting cudnn installed. Would you please try to remove it first?

[2020-04-24 16:41] Lezcano commented on #37138
A `Parametrization` just needs to be able to evaluate the chain of previously applied parametrizations.

The current proposal for the parametrization framework allows to do these kind of things out of the box.

I am not completely sure what you mean by "low-rank factorization swap". When it comes to low-rank models, I was able to implement a Parametrization that makes a weight into a rank `k` matr

[2020-04-24 16:44] mickypaganini commented on #37138
It doesn't just need to evaluate them. I think that applying a reparametrization to something that is itself a derived quantity is not always safe/trivial.

[2020-04-24 16:44] albanD opened #37240 "Warnings from anomaly mode get eaten up by Jupiter Notebook (including on Colab)"
Running the following code on google colab does not show the same result as running it in a terminal: the extra stack trace from the anomaly mode (that should show up as a warning) is not included:

[code]
Colab output (https://colab.research.google.com/drive/1gbUpNxLMlL4H-mKsgTh7UiU_JTSPHnvZ)
[code]

Command line output (what we expect):
[code]

cc @ezyang @SsnL @albanD @zou3519 @gqchen

[2020-04-24 16:47] Lezcano commented on #37138
The current implementation allows to do so via a chaining mechanism, where parametrisations are chained to each other. `Parametrization`s may be merged as currently done in the  pruning implementation by overriding the `chain` method and implementing there the merge.

I am not aware of any case where the current design does not work, but I might have missed something. Do you know of any case where

[2020-04-24 16:59] gchanan commented on #37237
Thanks for the report, let's keep the discussion in #37154

[2020-04-24 16:59] #37237 closed

[2020-04-24 17:00] gchanan commented on #36493
it's unclear if a fix for this will fix https://github.com/pytorch/pytorch/issues/37154, because this existed in 1.4 and the other didn't.

[2020-04-24 17:01] klicperajo commented on #37154
Maybe a faster way to reproduce this:

1. [Download the tensors](https://figshare.com/s/47d6035b990fa62d730d)
2. Run the code
[code]

[2020-04-24 17:03] eellison commented on #37200
It should be saying "inferred Tensor bc no type annotation is present" however, not sure why `is_inferred_type` isn't properly propagating

[2020-04-24 17:09] sharvil commented on #37138
@mickypaganini, in this example, could weight norm look at the type of the weight it's reparameterizing to decide whether it should create new `Parameter`s? If the weight is a `Tensor`, it creates new computed attributes and if it's a `Parameter`, it has to create new `Parameter`s since overwriting the weight property will replace an existing `Parameter`. That logic doesn't depend on any knowledge

[2020-04-24 17:40] saareliad commented on #37108
@malfet , output for the command is `SO_REUSEPORT=0xf`
I made changes in the env since so I didn't post it right away.

[code]
Two importent things:
1. I first used cmake14.0 and then install from source, because I encounter cmake problems
 (cmake can't find pthread and therefore can't find MKL & BLAS), I tried solving it for hours and nothing helped.
2. I mannaged to accidently build the NCCL use

[2020-04-24 18:06] mikeyEcology commented on #4546
@mossadhelali 's solution worked for me when I was getting this error:
`The NVIDIA driver on your system is too old (found version 10010)`
and I can't update my NVIDIA driver because I'm not an administrator on my HPC, I ran
[code]
And it's working now.

[2020-04-24 18:18] osalpekar commented on #36629
This specific test is fixed by #36969. Shutting down the agent from `send` would likely be the option for 1, but fixing 2 would be ideal. We'll ensure elasticity in Tensorpipe Agent once the first PR is merged.

[2020-04-24 18:18] #36629 closed

[2020-04-24 18:23] seemethere commented on #35975
Had a chat with @ezyang today and we're going to proceed with deploying this functionality as added features on top of [pytorch/pytorch-probot](https://github.com/pytorch/pytorch-probot).

[2020-04-24 18:32] amccollum opened #37246 "`max_norm` parameter on nn.Embedding will fail inside nn.DataParallel"
## 🐛 Bug

Passing the `max_norm` parameter when creating an Embedding will cause the forward pass to fail when inside a `DataParallel` module.

## To Reproduce

[code]

## Expected behavior

The module should process as expect. Instead, the following error is produced on Device 0:

## Environment

 - PyTorch Version (e.g., 1.0): `1.5.0`
 - OS (e.g., Linux): `Linux`
 - How you installed PyTorch (`c

[2020-04-24 18:46] nikitaved commented on #17501
Could be, but the tests I am talking about are the ones generated by the autograd in `torch/testing/_internal/common_methods_invocations.py`. Now they are considerably faster, which is good :)

[2020-04-24 19:12] jessebrizzi opened #37248 "Non deterministic test failure in test/test_autograd.py test_profiler"
## 🐛 Bug

Noticed after merging in an unrelated change.

https://app.circleci.com/pipelines/github/pytorch/pytorch/159747/workflows/dcaf95f5-254d-47c8-aa55-46981db8f423/jobs/5241410

Repeat runnings of test/test_autograd.py test_profiler will sometimes fail and sometimes pass localy on builds with and without my change that I merged in.

## To Reproduce

Steps to reproduce the behavior:

1. Build

[2020-04-24 19:16] tstandley commented on #1708
@HansBambel For what it's worth, I just checked for my implementation of Xception using channels last (and apex fp16). It was actually considerably slower. 50% or so slower. I also ran the apex imagenet example, and didn't see a noticeable speedup for resnet50 (which doesn't have grouped convolutions) with channels last. Both tested on two Titan RTX's with nvlink.

[2020-04-24 19:17] jessebrizzi commented on #37248
@jamesr66a I think you are the author of this test?

[2020-04-24 19:36] cmpute opened #37250 "Inconsistency between GPU memory usage in torch.cuda.memory_summary and nvidia-smi"
## 🐛 Bug

I want to increase the batch size of my model but find the memory easily filled. However when I look at the numbers of the memory, it's not consistent between memory_summary and nvidia-smi.

The run-out-of-memory error says
[code]

When I reduced the batch size a little bit, the memory_summary says
[code]

and at the same time, nvidia-smi reports
[code]

So it seems to me that the whole

[2020-04-24 19:37] malfet commented on #37248
Hit it as well in multiple PRs, for example: https://app.circleci.com/pipelines/github/pytorch/pytorch/159715/workflows/085c2e76-82c1-422e-b0ab-ea79b9f8c92e/jobs/5240397

[2020-04-24 19:41] suo commented on #35565
oops, fixed by https://github.com/pytorch/pytorch/pull/37088

[2020-04-24 19:44] suo commented on #35561
I am removing the JIT tag, as it appears the performance regression is with an un-jitted, un-quantized model. @ngimel heads up as it appears to be a general perf regression, unrelated to those two submodules.

[2020-04-24 19:45] suo commented on #36191
@spandantiwari can you take a look? I am removing the JIT tag for now as it appears to be an exporter-related problem, but feel free to re-add it if you need help from us

[2020-04-24 20:04] millskyle opened #37256 "_pad_circular incorrect padding when pads[-1], pads[-3], or pads[-5] = 0"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. Call _pad_circular with pads=[1,0,2,2]
2. Output shape will be incorrect.

This is because the indexing of the line like

`input = torch.cat([input[:, :, -(padding[-1] + padding[-2]):-padding[-1]], input], dim=2`

 doesn't work if `padding[-1] = 0` as then

`-(padding[-1] + padding[-2]):-padding[-1]` = `-padding[-2]:-0`

when it shoul

[2020-04-24 20:12] ngimel commented on #35561
Removing "triaged" as it's making its way back into regular queue, and I don't think we ever discussed it in the OSS triage meeting.

[2020-04-24 20:12] SSS135 opened #37259 "Bad performance with python threads"
## 🐛 Bug

concurrent.futures.ThreadPoolExecutor with max_workers=1 loads all CPU cores (24 cores / 100% load) when torch.zeros(64, 8, 2, 128) is used inside it's thread. If torch.zeros used with smaller size, like (16, 8, 2, 128), then there is no performance hit. Also this sometimes happens with torch.logsumexp, tensor indexing, tensor copying.
Edit: multiprocessing.dummy.Pool is also affected

#

[2020-04-24 20:14] suo commented on #37200
zach suggests that we add the inferred_type tag to TensorType instead of Argument

[2020-04-24 20:22] xwang233 commented on #37248
Hmmm, if you mean LSTM non-determinism, there is an issue at #35661, and we are already investigating it.

[2020-04-24 21:06] suo commented on #36979
cc @eellison

[2020-04-24 21:29] eellison commented on #36979
Hi @mneilly-et, this seems like a misuse of a (semi private) API. Hash functions don't guarantee that each input will map to a unique output. For that you can use `EqualNode`.

[2020-04-24 21:29] #36979 closed

[2020-04-24 21:31] kostmo opened #37261 "intermittent failures of "test_remote_script_module""
Two instances from this week:
* https://app.circleci.com/pipelines/github/pytorch/pytorch/157232/workflows/4260f754-067c-45ab-86a1-69ae89e5782c/jobs/5187452/tests
* https://app.circleci.com/pipelines/github/pytorch/pytorch/158816/workflows/63d3cc14-96c4-45ab-81b6-a6cd98d27c21/jobs/5221734/tests

Error message:
[code]

cc @ezyang @gchanan @zou3519 @EikanWang @jgong5 @wenzhe-nrv @sanchitintel

[2020-04-24 21:46] kostmo commented on #33348
Two more failures of this test were observed this week:
* https://app.circleci.com/pipelines/github/pytorch/pytorch/159555/workflows/cb81b62e-1963-4f8f-b105-b70761e9bb84/jobs/5238114/tests
* https://app.circleci.com/pipelines/github/pytorch/pytorch/159434/workflows/6f209634-e2ca-4b17-9583-024ea0e5cfa3/jobs/5236607/tests

E.g.:
```RuntimeError: Processes 0 exited with error code 10```

[2020-04-24 21:59] rohan-varma commented on #33348
@kostmo Thanks for flagging. It looks like this is a new class of error:

[code]

[2020-04-24 22:18] #36057 closed

[2020-04-24 22:18] chenhao1umbc opened #37264 "!! torch.nn.functional.conv2d GPU cuda bug"
## 🐛 Bug

`torch.nn.functional.conv2d` is **1000 times slower** with `print` using GPU

## To Reproduce
[code]
Please compare with
[code]

## Expected behavior
first result
`0.00022411346435546875`

second result
[code]

The second code section should have comparable speed but it more than 1000 times slower!
instead of `print(r.view(-1)[0])`I have tried other codes like:
`rr = Func.conv2d(s[:,1].u

[2020-04-24 22:52] tensorbuffer commented on #27376
Ok I figured out. I can work around this problem by providing fixed sizes. I was having problem because there's another upsample op in another file that I missed...

[2020-04-24 23:23] rohan-varma commented on #36272
Another case where this may be helpful: enforce specific delays for https://github.com/pytorch/pytorch/pull/36785/, so that for example, we can process unpickling messages or to_here

[2020-04-25 00:20] adampauls opened #37269 "Possible bug in PropagateInputShapes"
## ❓ Questions and Help

Hi, posting this as question because I'm having a little trouble getting a unit test up and convincing myself this a bug for sure. Unless something very sneaky is going on, [this](https://github.com/pytorch/pytorch/blob/master/torch/csrc/jit/passes/shape_analysis.cpp#L1788) looks to me like a bug in shape propagation -- it sure looks like this code declares that shape(AB)

[2020-04-25 00:26] xwang233 commented on #36452
Closing as fixed.