[2019-12-03 09:39] xkszltl commented on #30627
Should be latest. It is part of a larger build where we also build the latest cmake from source.

Sent from my iPhone

[2019-12-03 10:06] tchaton opened #30656 "Cublas runtime error"
## 🐛 Bug

## To Reproduce

Ubuntu 18.04
python 3.6.8
GCC 7.4.0
RTX 2060
cuda installed from cuda_10.1.168_418.67_linux.run
nvcc -V
nvcc: NVIDIA (R) Cuda compiler driver
Copyright (c) 2005-2017 NVIDIA Corporation
Built on Fri_Nov__3_21:07:56_CDT_2017
Cuda compilation tools, release 9.1, V9.1.85
torch.__version__ '1.1.0'

(superpoint-graph-job-py3.6) ➜  KPConv git:(Implement_Point_Kernel) python
Pyt

[2019-12-03 10:08] f0k commented on #28224
I added the following function to my project:
[code]
And I'm calling this right after setting the CUDA device:
[code]
I don't use multiprocessing. If you try it, please report back if it works. `'block'` should have the biggest impact.

[2019-12-03 11:06] hadaev8 opened #30657 "DistributedDataParallel do not work with custom function in model"
https://colab.research.google.com/drive/104LtQ1zIioIOMQEPgVve77m5Rd4Gm0wU
Here is code, it runs fine on single gpu colab instance.
But if i run same code on ml.p3.16xlarge amazon sagemaker, i get error like this

[code]

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @rohan-varma @gqchen @aazzolini @xush6528

[2019-12-03 11:09] alexholdenmiller commented on #18128
Any luck on this?

[2019-12-03 13:23] felix-schneider commented on #30572
No, the problem needs these specific circumstances:
1) Half-precision tensor
2) On GPU
3) Running softmax
4) On a dimension other than the last
5) With `dtype=torch.float32` NOT by casting to `float()` first
6) Run backward

[2019-12-03 13:33] elanter opened #30658 "Specific Unpooling for adaptive inputs"
## 🚀 Feature
Note: I argue in the 1d context, I suspct this is also applicable to 2d / 3d context
There is no specific inverse operation for AdaptiveMaxPool1d. AdaptiveMaxPool1d returns the output and max index positions, and the only way to apply a "correct" inverse (via using the max index position) is to create a MaxUnpool1d layer and use output_size in the forward method. However, MaxUnpool1d

[2019-12-03 13:51] kleingeo commented on #30616
I did not know about the net.to(device), I'll try to remove that and see how it works. In terms of the CUDA_VISIBLE_DEVICES, I am already using that with the snippet below to prefix them. I did not have much passing the ```device_ids``` to ```nn.DataParallel``` but I can give it a shot. I think what bothers me more is that it works on the first pass no problem but fails the second time.
[code]

[2019-12-03 13:58] pietern commented on #30616
Setting `CUDA_VISIBLE_DEVICES` remaps the device indices.

If you set it to `2,3`, for example, they will now be available as `0,1`. This is why you need to remap `gpu_ids` to `range(len(gpu_ids))` (effectively), after setting `CUDA_VISIBLE_DEVICES`.

[2019-12-03 14:06] alexkolo commented on #16683
Not sure if this is still relevant here but I just like to point out that I had a similar issue here (see  https://github.com/AtomDB/pyatomdb/issues/18 ), and I fixed it by installing anacondas most recent compiler before the package installation:

`conda install -c anaconda gcc_linux-64`

The inspiration came when studying this site: https://docs.conda.io/projects/conda-build/en/latest/resources/

[2019-12-03 14:15] zetyquickly commented on #30226
@ljk53
Yes, this happens only on mobile.
But
1) I haven't tried to load it via `libtorch` on desktop
2) `None` parameter is present in function calls in TorchScript code inside `.pt` archive anyway

[2019-12-03 14:23] gitabtion commented on #30507
It doesn't work at all.
Here are my test codes:
[code]
the model.pt is the TorchScript model file of Albert. Additionally, It is not work even if I only ``#include<torch/script.h>``, like this:
[code]
All of these codes are doesn't work in my 2 CentOS machines.

[2019-12-03 14:52] zou3519 commented on #5672
I'm upgrading this to high priority because of the demand for this feature.

[2019-12-03 14:54] dlibenzi commented on #30512
Should I know? 😄

[2019-12-03 15:10] Testin1234 opened #30664 "AssertionError: Torch not compiled with CUDA enabled"
I'm trying to do neural style swapping, and for some reason, I keep getting the following errors.
AssertionError: Torch not compiled with CUDA enabled
 File "c:\apps\Miniconda3\lib\site-packages\torch\nn\modules\module.py", line 260, in cuda
    return self._apply(lambda t: t.cuda(device))
  File "c:\apps\Miniconda3\lib\site-packages\torch\nn\modules\module.py", line 187, in _apply
    module._app

[2019-12-03 15:19] mrshenli commented on #28849
closed by #29785

[2019-12-03 15:19] #28849 closed

[2019-12-03 15:26] ezyang commented on #27971
Another duplicate report: https://github.com/pytorch/pytorch/issues/29893

[2019-12-03 15:28] ezyang commented on #30263
Seems reasonable to me. We could start by modifying the documentation.

[2019-12-03 15:34] ezyang commented on #26838
The test was always skipped in CI. I guess if you saw it after the initial commit the test never actually worked :(

[2019-12-03 15:40] vainaijr commented on #30589
when I specify p=‘nuc’ in torch.norm_except_dim, then it throws an error, it works for integer value of p only, when I modify weight_norm.py, then it works for integer p but fail for p=‘nuc’ or p=‘fro’, is the cpp version of torch.norm not considering p as a string?

[2019-12-03 15:42] ezyang commented on #30458
We've talked about this internally before too, it's a generally good idea we should support.

[2019-12-03 15:44] ezyang commented on #22439
No, there has not been so far.

[2019-12-03 15:45] ezyang commented on #30532
This is also being discussed at https://github.com/pytorch/pytorch/issues/24205#issuecomment-560185215

[2019-12-03 15:50] ezyang commented on #28361
There's not a proposal yet. @hameerabbasi will submit a specific proposal for consideration.

[2019-12-03 15:51] ezyang commented on #30632
What's wrong with function-to-function mappings with in-place operations? I don't think there is a problem here.

[2019-12-03 15:54] ezyang commented on #30627
@xkszltl Do you think you could bisect this? That would be really helpful.

[2019-12-03 16:06] rrkarim commented on #30402
May be relatable: https://arxiv.org/pdf/1909.12778.pdf

[2019-12-03 16:10] ezyang commented on #29161
Hmm, this is pretty surprising! Here is the reference Python implementation:

[code]

I am wondering if you can just use TensorTypeId as the basis for the ordering and maybe that is sufficient.

[2019-12-03 16:10] ezyang commented on #29161
cc @apaszke

[2019-12-03 16:12] ezyang commented on #29161
Reading over the use site, it seems that there are only a few concrete tensor types that this code knows how to handle: dense tensors and sparse tensors. So if you make a little struct representing this and make it hashable and comparable, that may also be sufficient.

[2019-12-03 16:15] ptrblck commented on #26838
@ezyang If you need to run some tests on bigger GPUs (for a PR with a fix), feel free to ping me, so that I could run it before merging.
Once a possible fix is merged, we'll put it in our CI anyway.

[2019-12-03 16:22] ngimel commented on #30596
BLAS standard dictates that arguments to blas<T>gemm call are non-overlapping https://www.math.utah.edu/software/lapack/lapack-blas/sgemm.html (look for descriptions of LDA and LDB parameters), similar for blas<T>ger and blas<T>gemv from #29984, incx and incy must be nonzero according to blas. So it's not a cublas bug, the question here is do we in pytorch want workarounds for those cases, or just

[2019-12-03 16:22] nairbv commented on #22565
@trakaros Are you still suspecting the issue is with dlib? If we don't have something actionable to fix here then I'll close this ticket.

[2019-12-03 16:22] hameerabbasi commented on #28361
## `Tensor` subclassing proposal
### `__torch_function__` and methods
We pass all methods through `__torch_function__`, where the first passed-in argument will be `self`. So, for example, for `MySubTensor.__add__` will (if not overridden), call `MySubTensor.__torch_function__(Torch.__add__, (self, other), {})`. `__torch_function__` will be changed to a class method for dispatching reasons, and gai

[2019-12-03 16:24] albanD commented on #30632
My concerns are:
- Is it the most pythonic way to do this in pytorch? It will be a brand new paradigm compared to the current autograd functions.
- in-place are fine but I was more thinking about functions with state. You can end up with a function `f` where multiple calls to `f(x)` in a row will give different results. But I guess this is ok.
- the function-to-function is nice to easily compose m

[2019-12-03 16:33] ezyang commented on #19420
I think you're referring to #16580 from @zdevito

OK, so are you saying we should take RecordProfile and increase its functionality so that it completely subsumes the Python side version of the logic, or are you going to make another class that is like RecordProfile, but separate?

I don't know what this means.

You could also do it YOLO similar to RecordFunction is doing it:

[code]

[2019-12-03 16:34] ezyang commented on #19420
I think you're OK to start implementing.

[2019-12-03 16:50] nikitaved commented on #27614
Hi! So, it seems to me I know where the issue comes from, for CPU at least...

So, for the forward pass `TH_TENSOR_DIM_APPLY3_SCATTER` macro is used for the dimensionaliry check https://github.com/pytorch/pytorch/blob/b44657299705ccb89ba84427911fc3d5d3b17ebf/aten/src/TH/generic/THTensorEvenMoreMath.cpp#L692
The macro is defined in `aten/src/TH/generic/THTensorApply.hpp` and has the following descr

[2019-12-03 17:04] jjlilley commented on #30604
https://github.com/pytorch/pytorch/pull/30600 for test_numerical_consistency_per_tensor
https://github.com/pytorch/pytorch/pull/30594 for test_backward_per_tensor

[2019-12-03 17:25] skrah commented on #26838
Perhaps I had only seen the ROCm test on the CI and concluded that it was the only CI machine with sufficient memory:

https://ci.pytorch.org/jenkins/job/pytorch-builds/job/py3.6-clang7-rocmdeb-ubuntu16.04-test2/8848/consoleFull

"""
11:48:39 test_cuda_kernel_loop_overflow (__main__.TestCuda) ... ok
11:48:39 test_cuda_kernel_loop_overflow_large (__main__.TestCuda) ... ok
"""

Or ROCm uses less mem

[2019-12-03 17:28] vadimkantorov commented on #13505
Another recent paper on computing singular values of convolutions + fast projecting onto operator norm ball: https://openreview.net/pdf?id=rJevYoA9Fm

[2019-12-03 17:35] yf225 commented on #30331
Request for patch: https://github.com/pytorch/pytorch/pull/30668

It fixes high-pri issues https://github.com/pytorch/pytorch/issues/30508 and https://github.com/pytorch/pytorch/issues/30462 which prevent users from doing any of the following:
1. Moving `torch::nn` modules with undefined parameters/buffers to a different device/dtype
2. Optimizing `torch::nn` modules with undefined parameters

[2019-12-03 17:47] yf225 commented on #18128
Since this is related to symbol visibility, I believe it's related to https://github.com/pytorch/pytorch/issues/3059, which would be fixed by https://github.com/pytorch/pytorch/pull/28536.

[2019-12-03 18:04] kostmo commented on #28271
Observed this again on the `master` branch (see [CircleCI log](https://circleci.com/gh/pytorch/pytorch/3755005)):

[code]

[2019-12-03 18:12] #22565 closed

[2019-12-03 18:13] RaviTej310 commented on #1082
Pytorch now allows for removing Bessel correction with a parameter : `torch.std(tensor, unbiased=False)`

[2019-12-03 18:20] ekmb commented on #24137
@rohan-varma Is it fixed?

[2019-12-03 18:51] sunilkpai commented on #755
@dylanbespalko I'm relatively inexperience with the pytorch internals, though I have started learning! I could conceivably attempt this change, though based on what I see in `aten/src/ATen/cpu/vec256/*`, I'm not sure whether it's necessary given that the default behavior of std::exp(std::complex) is exactly what I mentioned in my previous comment: see notes of [https://en.cppreference.com/w/cpp/nu

[2019-12-03 18:52] skrah commented on #26838
On CUDA, does the test fail only with 12GB or also with 24GB cards?

[2019-12-03 18:55] oroojlooy opened #30673 "pybind11 error when using `@ignore` methods"
When I call the following code, I get a weird error, which based on a discussion on
https://discuss.pytorch.org/t/use-numpy-in-script-class-torch-jit-script/62351
looks like should not happen. So, I am reporting this bug.
I ran this on Windows 10 Pro, with Python 3.6.3 on Jupyter.
I have the latest version of pytorch, installed it by pip previous week.

[code]
which results in:

[code]

cc @suo

[2019-12-03 19:00] AshkanAliabadi commented on #30622
Hi Rudolf.  This is work in progress and should be done soon.  The bulk of the work is already done, but an efficient integration requires a bit of work on the PyTorch side to cache one-time computations, which is where currently my focus is.  I'll update this issue when I am done.  Cheers.

[2019-12-03 19:02] Krovatkin commented on #30494
@zasdfgbnm this is a new issue. I believe we have a fix though, but it hasn't gone through a review process yet: https://github.com/pytorch/pytorch/pull/30643

[2019-12-03 19:17] driazati commented on #30625
Keeping open to save the test case

[2019-12-03 19:18] driazati commented on #30673
related #28537 and #30625

[2019-12-03 19:26] lly-zero-one opened #30675 "Support the unary quantized operator"
## 🐛 Bug

There is already one issue in pytorch forum: https://discuss.pytorch.org/t/static-quantization-error/61727. When we apply the unary operator like "-x5", the runtime will error out.

## To Reproduce

https://discuss.pytorch.org/t/static-quantization-error/61727

## Expected behavior

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.gith

[2019-12-03 19:29] mrshenli opened #30676 "test_DistributedDataParallel is flaky"
https://app.circleci.com/jobs/github/pytorch/pytorch/3760117

[code]

cc @ezyang @gchanan @zou3519 @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @rohan-varma @gqchen @aazzolini @xush6528

[2019-12-03 19:44] erikhuck opened #30678 "Make it an option to have a different mask for each sequence in a batch for the Transformer"
## 🚀 Feature

Please make it so we can have different masks for each sequence in a batch as input into a multi-head attention layer. Let's say you have a batch of sequences of shape [S, N, D]. I want to be able to use N different masks.

## Motivation

I want to be able to have different masks for each sequence in a batch of sequences. I'm referring to the input to a transformer and ultimately the

[2019-12-03 19:49] suo commented on #30512
@houseroad who is the right person to look at this?

[2019-12-03 19:50] glenn-jocher opened #30681 "PyTorch - ONNX Export Error with Opset 11 caused by F.Interpolate/nn.Upsampling...2d"
## 🐛 Bug

PyTorch model export to ONNX fails when using PyTorch 1.3.1 or nightly and ONNX 1.5.0. Failure is caused by all upsample operations:

- `nn.UpsamplingBilinear2d(scale_factor=2)`
- `nn.UpsamplingNearest2d(scale_factor=2)`
- `F.interpolate(x, scale_factor=2)`

Error message:
[code]

## To Reproduce

[code]

## Expected behavior

Successful export and ONNX verification.

## Environment

[co

[2019-12-03 19:52] zasdfgbnm commented on #30494
cc: @ptrblck for visibility

[2019-12-03 19:54] xkszltl commented on #30627
@ezyang

Did some investigation but haven't found anything before running out of spare time and switched to the `find | sed | xargs rm` work-around

[2019-12-03 20:02] albanD commented on #30572
According to @ngimel  this is a buggy half prevision code in the CUDA implementation. Is someone fixing it?

[2019-12-03 20:03] meganset opened #30682 "nn/modules/batchnorm.h redefines "F""
As part of pull request #28790,
F is redefined globally in nn/modules/batchnorm.h

`namespace F = torch::nn::functional;`

F is then used once in batchnorm.h and again in instancenorm.h

not a bug, but a problem for anyone using F in some other way.
it's solvable, but I don't see this pattern anywhere else in libtorch,
was wondering if this use is an anomaly,
and if we could use

[code]
thanks

cc

[2019-12-03 20:03] albanD commented on #30524
@TH3CHARLie please do !
Let us know here if you need any help.

[2019-12-03 20:07] ptrblck commented on #26838
I tested it on P100 (16GB) and V100 (32GB) and the code snippet fails on both cards.

[2019-12-03 20:11] nairbv commented on #5219
@ivankreso It looks like this may have been fixed by https://github.com/pytorch/pytorch/pull/15791.

If you're still seeing this issue please re-open.

[2019-12-03 20:11] #5219 closed

[2019-12-03 20:12] albanD commented on #30565
Well the fact that `align_corners` is just not used in the kernel function for bilinear [here](https://github.com/pytorch/pytorch/blob/420b37f3c67950ed93cd8aa7a12e673fcfc5567b/aten/src/ATen/native/UpSampleBilinear2d.cpp#L13-L43) looks quite fishy ...

I guess you only get the old behavior for bilinear and the right thing for bicubic right?

[2019-12-03 20:23] glenn-jocher commented on #29229
@lara-hdr @LLNLanLeN this solution is incomplete I believe, because the provided answer will export from pytorch, but will fail to pass the ONNX checker. See https://github.com/pytorch/pytorch/issues/30681

Error message:
[code]

## To Reproduce

[code]

[2019-12-03 20:30] kurtamohler commented on #29137
I think it makes a lot of sense to use option<IntArrayRef>, as umanwizard suggested. Right now, I'm just focusing on getting torch.sum to work properly, and then I can apply the same fix to the other reduction functions. So far I've gathered that I need to make at least these changes:

- Update the appropriate sum kernels in aten/src/ATen/native/ReduceOps.cpp to use option<IntArrayRef>

- Update a

[2019-12-03 20:34] nairbv commented on #21416
It looks like this issue was fixed by https://github.com/pytorch/pytorch/pull/22009

[2019-12-03 20:34] #21416 closed

[2019-12-03 20:46] yf225 commented on #30682
@meganset Thanks a lot for reporting! Yes this is an anomaly, and will be fixed by https://github.com/pytorch/pytorch/pull/30684.

[2019-12-03 20:48] t-vi commented on #29137
Not that I know anything about this, but in

you probably want to handle the case of an int being passed (the `[1]` bit) -- quite possibly these days this can be achieved by introducing an int overload (two years ago this didn't work).

As far as I understand (which is not terribly far), you'd be breaking the ABI by adding the optional, but the same code would probably still compile.
Also, you mig

[2019-12-03 20:48] ngimel commented on #26838
Hm, do we understand why it's taking so much memory?

[2019-12-03 20:54] raghuramank100 commented on #30349
Parallel Aten implementation does not show a speedup under all shapes. Specifically for typical shapes of weights, the parallel implementation is slower. So, this is not a viable path to speed up fake-quant.

[2019-12-03 20:54] #30349 closed

[2019-12-03 20:57] jerryzh168 commented on #29646
should be fixed now

[2019-12-03 20:57] #29646 closed

[2019-12-03 20:58] jerryzh168 commented on #30349
Can you first benchmark to see where the time is spent?

[2019-12-03 20:59] yf225 commented on #30331
Request for patch: https://github.com/pytorch/pytorch/pull/30684

It is a 3-line fix that removes `namespace F = torch::nn::functional` from `torch/nn/modules/batchhnorm.h`, so that people don't have to define `torch::nn::functional` as `F` if they don't want to. Fixes issue https://github.com/pytorch/pytorch/issues/30682.

[2019-12-03 21:00] ptrblck commented on #26838
It's failing with the same error message as mentioned in the initial post:
[code]

I'm not sure, if we have seen an OOM issue here.
If I understand the problem correctly, the test was never executed in the CI due to
[code]
and
[code]
, while apparently CI uses `M60` GPUs, which will skip this test.

[2019-12-03 21:14] glenn-jocher commented on #6780
I receive a PyTorch - ONNX Export Error with Opset 11 caused by F.Interpolate/nn.Upsampling...2d. See https://github.com/pytorch/pytorch/issues/30681

PyTorch model export to ONNX fails when using PyTorch 1.3.1 or nightly and ONNX 1.5.0. Failure is caused by all upsample operations:

- `nn.UpsamplingBilinear2d(scale_factor=2)`
- `nn.UpsamplingNearest2d(scale_factor=2)`
- `F.interpolate(x, scale_fa

[2019-12-03 21:40] zou3519 commented on #30664
How did you install pytorch? It sounds like you installed pytorch without CUDA support. https://pytorch.org/ has instructions for how to install pytorch with cuda support.

[2019-12-03 21:46] rohan-varma commented on #25912
This should be re-fixed in https://github.com/pytorch/pytorch/pull/30620

[2019-12-03 21:46] #25912 closed

[2019-12-03 21:52] lara-hdr commented on #30512
@lironmo what version of PyTorch are you using?

[2019-12-03 22:01] yf225 commented on #30601
@EsmaeilFarhang Currently the libtorch documentation always points to the preview (nightly) version, and we will change it to be versioned (e.g. v1.2.0 / v1.3.1 / ...) in the future when the C++ frontend becomes more stable.

`torch::nn::functional::pad` will be included in our next stable release v1.4.0 in the coming weeks.

[2019-12-03 22:01] #30601 closed

[2019-12-03 22:12] IggShaman opened #30695 "Class-level type annotations"
## 🐛 Bug

torch.jit.script(..) fails on a module with class-level type annotation `Optional[some-python-module]`

## To Reproduce

Steps to reproduce the behavior:

1. Initial piece of code:
[code]
2. This works:
[code]
3. This fails:
[code]

Other annotations such as `Optional[nn.Module]`, `Optional[custom-python-class]` don't work either.

Traceback:
[code]

## Expected behavior

Expected to obt

[2019-12-03 22:17] albanD opened #30696 "Remove deprecated codepath for old-style autograd.Function"
The legacy python `autograd.Function` were advertised as being removed from 1.3 onward [see comment](https://github.com/pytorch/pytorch/blob/master/torch/csrc/autograd/python_function.cpp#L620-L622). So it should be safe to delete now.

cc @ezyang @SsnL @albanD @zou3519 @gqchen

[2019-12-03 22:42] sailfish009 commented on #16417
changed batch_size 64(rtx2080 ti) to 32(rtx 2060), problem solved. but i want to know other way to resolve this kind of problem.

[2019-12-03 22:46] jph00 commented on #28361
Thanks @hameerabbasi . I'll change fastai2 to use `as_subclass` for this as well, so we'll be compatible in the future.

[2019-12-03 22:52] ezyang commented on #29137
You may have met an unfortunate fate. For two reasons:

1. I did some grepping in `native_functions.yaml` and I didn't see any occurrences of `int[1]?` (which is the type name I would have expected to desugar to `optional<IntArrayRef>` in C++). So it's entirely possibly that this is not supported at all.
2. Even if it did work, it appears you picked the wrong type name and have spent a bunch of ti

[2019-12-03 22:52] #30682 closed

[2019-12-03 22:55] ezyang commented on #29137
So, **if** `int[1]?` works out of the box, here is the series of steps I expect you to need to do:

1. Update the `native_functions.yaml` so instead of `func: sum.dim_IntList(Tensor self, int[1] dim, bool keepdim=False, *, ScalarType? dtype=None) -> Tensor` you have `func: sum.dim_IntList(Tensor self, int[1]? dim, bool keepdim=False, *, ScalarType? dtype=None) -> Tensor`
2. Update the C++ definiti

[2019-12-03 22:56] ezyang commented on #29137
I'd also suggest reading the README at https://github.com/pytorch/pytorch/tree/master/aten/src/ATen/native

[2019-12-03 23:23] #28389 closed

[2019-12-03 23:27] kurtamohler commented on #29137
ok, I'll try that, thanks!

[2019-12-03 23:35] vinhkhuc commented on #28321
I got the same issue with Pytorch 1.3.1 + CUDA 10.0. Finally, I got it resolved with:
[code]

[2019-12-03 23:43] #28649 closed

[2019-12-04 00:01] #8348 closed

[2019-12-04 00:04] ZisIsNotZis commented on #30565
If "right" means taking information from more or less the center rather than the upper left corner, `bicubic` is also incorrect in both case:

[code]

This highlights the "left-corner" effet

[2019-12-04 00:27] SsnL opened #30702 "[FR] multidim squeeze"
Previous FR: https://github.com/pytorch/pytorch/issues/1951

A PR (https://github.com/pytorch/pytorch/pull/4692) that attempted to implement https://github.com/pytorch/pytorch/issues/1951 was closed because

I would argue against that point, particularly for `squeeze`.

For `squeeze`, multidim is perfectly intuitive and defined, i.e., just squeezing the current dimensions the tuple refers. In fact

[2019-12-04 00:33] NumesSanguis commented on #4164
Just trying to connect 2 libraries here.

How does PyTorch's named dimensions implementation differ from xarray (http://xarray.pydata.org/en/latest/why-xarray.html)?

Over there, they're also talking about integrating with PyTorch, to leverage GPU power:
https://github.com/pydata/xarray/issues/3232

Maybe some conversation between you 2 can have beneficial results for the Python ecosystem ^-^

[2019-12-04 00:57] SsnL opened #30704 "cuda_tensor.norm(dim=(X, Y)) is broken"
[code]

Yet passing in a 2-tuple is perfectly valid, per the `torch.norm` doc:

cc @ezyang @gchanan @zou3519 @anjali411 @dylanbespalko

[2019-12-04 01:09] wulongjian commented on #30654
OK, thanks.

[2019-12-04 01:19] kurtamohler commented on #29137
@ezyang, I tried what you suggested. I found that I also had to update the `sum.dim_IntList` entry in `tools/autograd/derivatives.yaml`.
Unfortunately, this doesn't seem to work. Here's the error I get:
[code]

Since I got rid of `IntArrayRef?` and replaced it with `int[1]?`, I was confused why it was showing up again. But it looks like it's coming from generated code. Searching the entire project

[2019-12-04 01:32] suo commented on #26948
It does indeed sound like an issue in the underlying math libraries. I'm not sure exactly which ones would be invoked here, perhaps running things through perf would yield interesting results?

[2019-12-04 01:32] suo commented on #26948
cc @jamesr66a: do you know who would know about contention in MKL or whatever we're using here

[2019-12-04 01:37] zasdfgbnm commented on #30572
@albanD I will work on this

[2019-12-04 02:07] xvdp opened #30708 "tensor.max() does not behave equally in cuda and cpu in some cases"
## 🐛 Bug

In some cases - as in the example below, tensor.max() fails to log the indices in the cuda result.

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

I'd've expected torch.max to return same order of max indices in  cuda and cpu.

## Environment

Is debug build: No
CUDA used to build PyTorch: 10.0.130

OS: Ubuntu 18.04.3 LTS
GCC version: (Ubuntu 7.4.0-1ubun

[2019-12-04 02:16] cooleel commented on #10622
Nice. met the same issue with torch 0.4, and solved with the solution provided here.
Thanks all.

[2019-12-04 03:07] chyzzqo2 commented on #30450
Traced this down to another shared library injecting it's own version of dlopen. So this isn't actually broken by default. Thanks for the pointer on trying with the included images and sorry for the noise.

[2019-12-04 03:07] #30450 closed

[2019-12-04 03:15] rabbitwayne opened #30711 "Sorting in embedding_dense_backward_cuda takes very long time"
Sorting the indices in embedding_dense_backward_cuda takes very long time. In BERT training, the sorting part in embedding_dense_backward_cuda takes almost 99% of the embedding backward time, which slows down backward pass a lot. Can anyone explain why are the indices sorted here? Is there anyway to improve this? Thanks a lot!

[2019-12-04 03:16] rabbitwayne commented on #30711
Please refer the code here:
https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/cuda/Embedding.cu

[2019-12-04 05:55] ppriyank commented on #16683
it solves the installation issue but throws the error : ```ImportError: /lib64/libstdc++.so.6: version `GLIBCXX_3.4.20' not found (required by /home/user_name/anaconda3/envs/PPUU/lib/python3.7/site-packages/warpctc_pytorch-0.1-py3.7-linux-x86_64.egg/warpctc_pytorch/_warp_ctc.cpython-37m-x86_64-linux-gnu.so)```

because of linker mismatch, I guess. Any solution for this??

[2019-12-04 05:57] rohan-varma commented on #30509
I took a look at this, first, as @pietern mentioned, we'd want to set `torch.backends.cudnn.deterministic = True
torch.backends.cudnn.benchmark = False` , so that the gradients will be the same across iterations.

I used the following script to check the md5 of the gradients: https://gist.github.com/rohan-varma/03d5180bd86e1b5b6e380711119364c9

I checked this for both the gloo and nccl backends, a

[2019-12-04 06:33] kostmo opened #30717 "TestTorchDeviceTypeXLA: Could not start gRPC server"
Excerpt from [this CircleCI build](https://circleci.com/gh/pytorch/pytorch/3768299) on the `master` branch:

[code]

cc @ezyang @gchanan @zou3519 @ailzhang

[2019-12-04 07:04] pietern commented on #30676
Two possible causes I can imagine:
* The OS had something hogging onto port 29500 (which I assume this test was using)
* The Python process didn't GC the TCP store from the previous test fast enough

We can consider using the file store for all cases where we don't specifically test the TCP store.

[2019-12-04 07:20] pietern commented on #30450
@chyzzqo2 Wow, never heard of that before!

Can you share which library this was, so I know what to avoid? LOL!

[2019-12-04 07:21] pietern commented on #30509
@522730312 Can you try out the suggested fixes and see if you can still repro?

[2019-12-04 07:37] pietern opened #30718 "Method to broadcast parameters/buffers of DDP model"
## 🚀 Feature

Add DDP method to allow a user to broadcast parameters and/or buffers manually.

## Motivation

We only have the constructor kwarg `broadcast_buffers` at the moment (defaults to `True`, many folks set it to `False` for performance reasons). This flag toggles between never broadcasting buffers or always broadcasting buffers. There may be some schedule that is more optimal for the user

[2019-12-04 08:38] alanzhai219 opened #30720 "what is tensor's storage C++ pointer?"
Recently I look into PyTorch source codes. tensor's impl object is created after a tensor is created. But I can't know where the tensor's storage is and its pointer.
Could anyone give me some help? 😊

[2019-12-04 09:36] xkszltl opened #30722 "Build error about C++14 required"
## Bug

Got something like `#error C++14 required` today.
Previous day was fine so it should be a new regression.

## Environment

 - PyTorch Version (e.g., 1.0): master
 - OS (e.g., Linux): Ubuntu 18.04
 - How you installed PyTorch (`conda`, `pip`, source): source
 - Build command you used (if compiling from source): cmake+ninja
 - Python version: 3.6
 - CUDA/cuDNN version: 10.2

[2019-12-04 09:38] xkszltl commented on #30722
https://github.com/pytorch/pytorch/commit/c0299d2707b0d2100d76edfc050f805c90c959eb

This may be related since it contains `--std=c++11`

[2019-12-04 11:02] filipre opened #30723 "Distributed Package asynchronous send/receive not working as expected (Gloo)"
Hi :)

## 🐛 Bug

I am currently writing a distributed asynchronous program for which Pytorch provides the [methods](https://pytorch.org/docs/stable/distributed.html) `dist.irecv` and `dist.isend`. They work fine if you couple them with the function `req.wait()` after sending and receiving. However, doing that obviously turns the asynchronous call into synchronous one again because `wait` will bloc

[2019-12-04 13:12] hameerabbasi commented on #28361
@jph00 Just to be clear, that method doesn't exist yet. We'll have to add it.

[2019-12-04 13:20] lironmo commented on #30512
@lara-hdr 1.3.0 and test also at 1.3.1

[2019-12-04 13:38] andrewgordonwilson commented on #29994
Great! We've added a pull request: https://github.com/pytorch/pytorch/pull/30559

[2019-12-04 13:57] #24015 closed

[2019-12-04 14:32] nairbv commented on #30331
https://github.com/pytorch/pytorch/pull/30729 cherry-picks changes to torch.where that were made on the 1.3.1 branch but hadn't been ported to master at the time of the 1.4.0 branch cut.

[2019-12-04 14:58] zou3519 commented on #29137
Instead of using `int[1]?`, couldn't we reuse the existing schemas?
We have int[1] and no dim argument overloads:
[code]

In the future I think it would be nice to consolidate these schemas to one single `int[1]?` schema but I don't think it is required for the fix

[2019-12-04 15:01] jph00 commented on #28361
Yes no problem - I've already patched it in though:

[code]

BTW one thing that doesn't work with this approach is that any additional attrs are lost. It would be nice if this were fixed, since we rely on it - for now we'll add this manually to our patched version. Here's an example (based on the above implementation):
![image](https://user-images.githubusercontent.com/346999/70153439-ca4f7600-166

[2019-12-04 15:06] hameerabbasi commented on #28361
Yes, you'll have to define a `__torch_function__` that copies those things over, and that should do it for all arrays.

[2019-12-04 15:09] jph00 commented on #28361
Why not have `as_subclass` do it? Casting shouldn't delete attributes, should it?

[2019-12-04 15:11] hameerabbasi commented on #28361
That seems fair, yes, we can copy over everything in the object's `__dict__`.

[2019-12-04 15:18] ezyang commented on #29137
@zou3519 One downside of doing it this way is that `mean(self, dim=None)` doesn't work (whereas, according to the conversation above, it works on Numpy). (It may still be profitable to half fix it in the way you suggested.)

[2019-12-04 15:25] albanD commented on #30565
Ok,
So the problems are:
- 'bilinear' does not respect the 'align_corners=False' flag.
- both 'bilinear' and 'bicubic' do not follow the formula from @SsnL above: `output[x] = input[(x+0.5)*iW/oW-0.5]` as they return the center of the top left corner, instead of the center of the image. [here](https://github.com/pytorch/pytorch/blob/ec7bb9de1c5f46a9a6fef60c4c80aca126641b8c/aten/src/ATen/native/UpS

[2019-12-04 15:26] ezyang commented on #30596
Yeah, I'm not sure how to deal here. Torn between "make it obvious when you're doing something that would be very slow" and "make it always work, no matter what, even if it's slow in some regimes"

[2019-12-04 16:19] kurtamohler commented on #29137
I could do a partial fix with the existing schemas--just do a full reduce if the kernel without `dim` is called, and don't reduce at all if the kernel with `dim` is called but `dim` is empty.

However, an additional downside would be that if someone were to run `tensor.sum(keepdim=True)`, dim would get set to an empty tuple, since the kernel that has the `keepdim` argument also has `dim`. In that

[2019-12-04 16:20] zou3519 commented on #30723
One of the distributed folks should be able to help you with this.

[2019-12-04 16:21] zou3519 commented on #30722
We've recently started requiring a C++14 compiler for pytorch: https://github.com/pytorch/pytorch/blob/master/README.md#from-source. @smessmer can answer any questions you might have about this.

[2019-12-04 16:21] #30722 closed

[2019-12-04 16:22] zou3519 commented on #30720
We like to keep our issue tracker filled with issues. Please direct any and all questions to our forums: https://discuss.pytorch.org/.

[2019-12-04 16:22] #30720 closed

[2019-12-04 16:24] zou3519 commented on #30711
Do you have a self-contained script that demonstrates the slowdown?

[2019-12-04 16:29] zou3519 opened #30731 "torch.max documentation's parameters are rendering strangely"
## 📚 Documentation

![image](https://user-images.githubusercontent.com/5652049/70160941-4b6d3400-1689-11ea-9033-b44a9b2a3c15.png)

[2019-12-04 16:32] zou3519 commented on #30708
This is expected behavior. `torch.max` returns the index of the largest element; if there are multiple largest elements, it returns one of them. The behavior is different due to implementation differences on CPU and CUDA.

See https://github.com/pytorch/pytorch/issues/12779 for more details.

I'm marking this as a docs issue for now: we should warn in the docs that it returns the index of one of t

[2019-12-04 16:39] zou3519 commented on #29137
Assuming we kept the current schemas, `tensor.sum(keepdim=True)` would error out gracefully because it wouldn't match either of the schemas we have:

[code]
so I think that isn't a concern.

[2019-12-04 16:46] zou3519 commented on #30704
Based on the documentation, this sounds like a regression so I am marking it as high-pri. We should figure out if it is actually a regression (I haven't tested this on previous versions of pytorch).

[2019-12-04 16:46] kurtamohler commented on #29137
@zou3519 , you're right, I just tried running tensor.sum(keepdim=True) and it gave me an error. Alright, I'll go ahead and fix the behavior of the current schemas.

[2019-12-04 16:47] zou3519 commented on #30702
I agree that it makes sense for squeeze and flatten to have these APIs. I would be happy to review PRs that enable this.

[2019-12-04 16:47] pietern commented on #30723
Hi there! Thank you for the detailed report. You're right and this is a bug. We do properly set the completed flag for collectives but not for the send/recv operations. It's not that the operation hasn't completed yet (it has), but the `completed_` flag in `ProcessGroup::Work` isn't updated accordingly. Fixing this is a bit more complex than simply fixing the boolean, because Gloo's send/recv does

[2019-12-04 16:50] zou3519 commented on #30678
cc @zhangguanheng66 what do you think about this?

[2019-12-04 16:52] zou3519 commented on #30658
I don't know anything about the max pooling operators. @fmassa might be able to help?

[2019-12-04 16:53] zou3519 commented on #30656
Could you run and paste the output of https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py

[2019-12-04 16:56] zou3519 commented on #1684
As per @fmassa's comment, we'd be happy to review and accept a PR that implemented this.

[2019-12-04 16:59] Jianhui-Li commented on #24760
@VitalyFedyunin Should this one be closed?

[2019-12-04 17:07] dan-nadler commented on #21819
I'm getting this error as well, but it seems to depend on my batch size. I don't encounter it on smaller batch sizes.
pytorch v 1.3.1 on a V100

[2019-12-04 17:08] ngimel commented on #30711
Also, please make sure that it is not a profiling artefact, similiar to #24912, where it turned out that embedding backward actually took reasonable time.
Sorting in embedding backward is used to make sure that results are deterministic. Smarter algorithms can be used to improve performance, but so far we have not seen a case where sorting would be more than say 2% of overall time, usually much le

[2019-12-04 17:13] xvdp commented on #30708
ok, admitedly i should be using different tool, in my case highest index of  highest value is what i was looking for, regardless of the repetition of high values.

but whats the point of indexing then if they will not return the same element? Id say either return same accross all platforms or remove indexing altogether.

btw. contrary to my comment,  argmax does not fix the issue. in returns highe

[2019-12-04 17:24] kleingeo opened #30736 "Multithreaded Generator Error when in Debug"
I am using PyCharm (newest version, 2019.3) with pytorch and have been testing the code in debug mode. In debug mode when using the ```DataLoader``` from ```torch.utils.data``` with ```num_workers > 0``` the code breaks and returns the error below. However, when training not in debug mode there isn't any problem. I am also using the newest pytorch version, 1.3.1+cu92.  The generator gets passed th

[2019-12-04 17:53] ngimel commented on #30704
This is likely a regression resulting from #27653

[2019-12-04 18:02] ngimel commented on #26838
There was a hot fix for 1.3 that apparently never got merged to master https://github.com/pytorch/pytorch/commit/024fa347003e39d616aa0d1c8e8bb5be2d8a0ec4 - can you guys please check if it fixes the issue?
If it does, @ptrblck can you please make sure that large memory tests are run in your CI and not disabled?

[2019-12-04 18:24] edpizzi commented on #30718
To give a concrete use case -- we want to synchronize BatchNorm stats across GPUs so that eval reflects a consistent set of BN stats, and eval metrics are reproducible from the saved snapshot (which typically reflects GPU 0's BN stats).

Using `broadcast_buffers` achieves this, at the cost of an extra broadcast every training iteration, whereas for this use case, synchronization is only needed onc

[2019-12-04 18:37] ezyang commented on #30632
I mean, there is always a possibility that we should support both modes. At the end of the day, the primitive operation we provide is the imperative (not function-to-function) version, so the imperative version of the API will be more "transparent" in some sense. Another way to put it is, there are two orthogonal issues here: first is adding function-function operations for our existing backward o

[2019-12-04 18:41] zou3519 commented on #5411
I believe this is still up for debate. cc @gchanan is this accurate?

I'm personally in support of this (changing the behavior to match Python / numpy) for all of the reasons mentioned above. Furthermore, there won't be any confusing semantics between Python 2 and Python 3 in the future because we're dropping support for Python 2 soon: https://github.com/pytorch/pytorch/issues/23795

[2019-12-04 18:43] zou3519 commented on #23795
Something else that dropping Python 2 would help us do is to change our default division behavior that currently follows Python 2.

In Python 2, `5/ 3` gives 1, but in Python 3, `5 / 3` gives 1.666. Integer Tensor division currently follows the Python 2 semantics but as we move off of Python 2 it makes more sense for it to follow Python 3 semantics. https://github.com/pytorch/pytorch/issues/5411

[2019-12-04 18:49] ezyang commented on #28361
Can you say more clearly what this means?

Do you mean tensors?

This proposal means breaking from the API that @ngoldbaum established. We are only very recently adding `__torch_function__` so we still have the opportunity to make changes, but I'd like to see some argument in the proposal on why we should make these changes. In particular, why should we do it differently than Numpy?

Really a copy

[2019-12-04 18:51] denjots commented on #27115
Seems to have been resolved in 1.3.1, so closing.

[2019-12-04 18:51] #27115 closed

[2019-12-04 18:55] jlin27 commented on #30331
Request for patch: [#30648 ](https://github.com/pytorch/pytorch/pull/30648)

Update docs persons of interest to add back the MSFT folks for ONNX Governance

[2019-12-04 18:59] shongi-yd opened #30744 "Issues in linking libtorch c++"
In file included from /usr/local/libtorch/include/c10/core/Device.h(5),
                 from /usr/local/libtorch/include/c10/core/Allocator.h(6),
                 from /usr/local/libtorch/include/ATen/ATen.h(3),
                 from /usr/local/libtorch/include/torch/csrc/api/include/torch/types.h(3),
                 from /usr/local/libtorch/include/torch/csrc/api/include/torch/data/dataloader_o

[2019-12-04 19:17] rabbitwayne commented on #30711
@zou3519 @ngimel Thank you for your reply! I don't see there is a conclusion in #24912. What causes the backward taking 1300x longer than the forward? It is unclear after reading the entire post that the cause of the problem is pinpointed. I am seeing exactly the same problem as in #24912 where the embedding backward takes way longer than the forward, which makes me do the profiling.

To reproduce

[2019-12-04 19:35] ngimel commented on #30711
The conclusion in #24912 was that embedding does not take 1300x longer than forward, profiling data posted by @colesbury showed that embedding backward was in the single digits percentage-wise for end-to-end time, about 4 times more expensive than embedding forward, and sorting itself was ~2%
https://gist.github.com/colesbury/904b68a2a47b820d9d91db3e04d9800e
1300x figure was an artifact of asynchr

[2019-12-04 19:38] skrah commented on #26838
I can't check (6GB card), but  024fa34 should fix the issue.

It looks like ATenCeilDiv() can overflow, perhaps it's worth fixing that function directly.

[2019-12-04 19:42] jph00 commented on #28361
Sorry if this is a dumb question - but why copy __dict__ instead of just using a reference? (In fastai2 I'm just using a reference at the moment, since when we cast we wouldn't normally expect to get a copy, but rather a different view of the same data, including metadata.)

[2019-12-04 19:43] iseeyuan commented on #30331
Request for patch: #30747

It's to export the operator names from Python API for custom build.

[2019-12-04 19:55] xkszltl commented on #30722
@zou3519
I think you misread this.
We use gcc-8, so it is not because we use an old compiler.

[2019-12-04 19:56] ngimel commented on #24912
Closing, the profiling data showed that embedding backward takes reasonable time.

[2019-12-04 19:56] #24912 closed

[2019-12-04 20:04] xkszltl commented on #30722
Oops sorry, seems it is in torchvision instead....
![image](https://user-images.githubusercontent.com/5203025/70176968-48287700-168e-11ea-8e97-fc25b882622f.png)

[2019-12-04 20:12] Krovatkin commented on #30331
https://github.com/pytorch/pytorch/pull/30750

This turns off the new profiling graph executor for 1.4

[2019-12-04 20:17] lara-hdr commented on #30512
@lironmo , the issue is that the shape information of the tensors are not always available when scripting. The ONNX exporter needs these information in certain cases when PyTorch and ONNX operators' behaviors don't align perfectly.

Batch_norm was recently updated to export without the shape information in this PR https://github.com/pytorch/pytorch/pull/29458, so the error you are getting with bat

[2019-12-04 20:19] zou3519 commented on #30722
@xkszltl sorry, you're right, I completely misread this. If there's a build issue in torchvision then please submit an issue to https://github.com/pytorch/vision/issues.

[2019-12-04 20:20] zhaojuanmao commented on #30718
@edpizzi are you blocked by this feature? or you've already have some workarounds now?

[2019-12-04 20:27] filipre commented on #30723
I see, thanks!

I looked into some [Gloo](https://github.com/pytorch/pytorch/blob/master/torch/lib/c10d/ProcessGroupGloo.cpp) related files but I don't think I can contribute there any real fix, especially when it's dealing with C++ and parallelism. Is there something anything else I could support you with?

As a dirty quick solution, I could do this
[code]
[code]
but this is obviously not the pro

[2019-12-04 20:33] zhangguanheng66 commented on #30678
Thanks for the proposal. Yes, it's all the way to `nn.MultiheadAttention`. We have a plan to refactor nn.MultiheadAttention by splitting the long function into several pieces. And we can make an option to accept a 3-D mask there.

[2019-12-04 20:38] ezyang commented on #29723
@vincentqb this doesn't seem like an internals issue...

[2019-12-04 20:39] VitalyFedyunin commented on #29992
Update: We are working on this issue, meanwhile you can convert your tensor to contiguous.

[2019-12-04 20:40] ezyang commented on #28577
@rgommers do you agree with the assessment in this issue? I see Numpy had a similar discussion a while back in 2012.

[2019-12-04 20:41] vincentqb commented on #29723
Thanks for redirecting to the appropriate one :)

[2019-12-04 20:45] ezyang commented on #13638
Most of the work here is done, the rest is cleanup, and making good on the devirtualization promise.

[2019-12-04 20:59] zhaojuanmao commented on #30657
@hadaev8 you imported DistributedDataParallel, but it is never used in your code, you are using torch.nn.DataParallel(model), did you actually want to use

torch.nn.parallel.DistributedDataParallel(
        model,
        device_ids=[gpu_index],
        output_device=gpu_index,
        broadcast_buffers=False,
        check_reduction=True
    )?

Also what does custom function in model mean?

[2019-12-04 21:04] xuhdev commented on #27409
When you built PyTorch, did you have `DYLD_LIBRARY_PATH`,  `DYLD_FALLBACK_LIBRARY_PATH`, or `LIBRARY_PATH` set? Is the path to libmagma.so in any of these variables?

[2019-12-04 21:07] hadaev8 commented on #30657
@zhaojuanmao
I tried both DistributedDataParallel and DataParallel.
With both, I got same error about the wrong dimension.

Traceback lead to this part of model
https://github.com/NVIDIA/tacotron2/blob/master/model.py#L473
If I remove parce_batch from model, traceback lead to parse_output function

[2019-12-04 21:21] kurtamohler commented on #29137
Just a head's up, I was able to complete the fix for `sum`, but when I ran the test suite, it became apparent that now some of the other reduction functions are broken, like `prod`.

Much of the logic I added for this fix is in `make_reduction()` in `aten/src/ATen/native/ReduceOps.cpp`, and other reduction kernels call this function. When `dim` is not one of the kernel's arguments, `make_reduction

[2019-12-04 21:25] ceseo commented on #27678
cc @ceseo

[2019-12-04 21:29] zou3519 commented on #29137
BTW, before we fix this, we should probably deprecate it first so that users don't suddenly get surprised by the new (correct) behavior. I'm not sure if it is too late to get the deprecation into pytorch 1.4.

[2019-12-04 21:29] IggShaman opened #30754 "JIT, nn.utils.weight_norm and {save,load}_state_dict produce wrong results"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. Create a basic nn.Module containing nn.utils.weight_norm
2. Create two instances of it - model1 and model2.
3. Copy model1's state into model2 with {save,load}_state_dict
4. model3 = torch.jit.script(model2)
5. Forward random tensors though model1, model2 and model3

torch.allclose(..) will fail for model3's results.

6. "5" can be fi

[2019-12-04 21:30] driazati opened #30755 "[jit] `@staticmethod`s retrieved from `self` don't work"
[code]

The compiler treats `some_method` as a regular method instead of a static method, so `x` ends up having the type `M` instead of `Tensor`.

The error is:
[code]
cc @suo

[2019-12-04 21:53] ngoldbaum commented on #29823
I bisected this to https://github.com/pytorch/pytorch/pull/29659

[2019-12-04 21:59] ngoldbaum commented on #29823
Ah indeed, in my cmake output I see:

[code]

So I think it should only install that directory for non-system installs maybe?

[2019-12-04 22:03] ngoldbaum commented on #30627
Unfortunately I can't easily reproduce this exact problem but I *can* easily reproduce #29823, which I have a hunch is related. @xkszltl by any chance in your cmake output, do you see something like this:

[code]

If so I think what's happening is that the changes in #29659 caused the pybind11 include directory to always get installed, even for system installs of pybind11.

[2019-12-04 22:09] xkszltl commented on #30627
@ngoldbaum Yes:
![image](https://user-images.githubusercontent.com/5203025/70185949-ab6ed500-169f-11ea-9de6-33dbc3dec5ac.png)

[2019-12-04 22:10] ngoldbaum commented on #30627
Hmm, glad my hunch is leading somewhere!  Do you also see a `python3.6m` directory getting installed that shouldn't be there?

[2019-12-04 22:16] xkszltl commented on #30627
There's no `/usr/include/python3.6m` but as in the very first screenshot of this thread, there's `/usr/local/python3.6m`, which contains the following:
[code]

[2019-12-04 22:17] ngoldbaum commented on #30627
Ah, I missed that in your screenshot. I think that's pretty definitive proof #29823 is the same issue.

[2019-12-04 22:23] chyzzqo2 commented on #30450
It was an internal library similar to libmonitor, loaded via a sitecustomize hook.

[2019-12-04 22:34] rabbitwayne commented on #30711
@ngimel The profiling results in https://gist.github.com/colesbury/904b68a2a47b820d9d91db3e04d9800e have only the GPU timing but no CPU timing. I understand that embedding backward GPU kernel takes very little time and this is in accordance with my profiling results as well. However, in my profiling at::embedding_dense_backward indeed takes much much longer than the GPU kernel within it. at::embed

[2019-12-04 22:34] zhaojuanmao commented on #30657
that sounds not related to ddp package itself, parse_output is user defined codes, would you like to debug further and narrow down it is ddp bug with reproducible small sample codes?

[2019-12-04 22:51] zou3519 opened #30759 "`TestDocCoverage.test_torch` error messages could be clearer"
## 🐛 Bug

When someone writes a new torch operator and forgets to add an entry to https://github.com/pytorch/pytorch/blob/master/docs/source/torch.rst, the `test/test_doc_coverage.py` gives the following error:

[code]

This is not the clearest thing in the world. I see the following two improvements we could make:
1) List out what functions are different.
2) Explicitly state what torch.rst is. So

[2019-12-04 22:59] eellison opened #30761 "Requires_Grad argument is implicitly added to Factory Schemas"
## 🐛 Bug

The schemas for factory functions such as `torch.zeros` does not explicitly have the `requires_grad` argument. Instead it is handled as part of tensor options / codegen logic.

native declaration:
`- func: zeros(int[] size, *, ScalarType? dtype=None, Layout? layout=None, Device? device=None, bool? pin_memory=None) -> Tensor`
documented function:
`torch.zeros(*size, out=None, dtype=None,

[2019-12-04 23:03] driazati opened #30762 "Page for `torch.__config__` 404s"
Going to https://pytorch.org/docs/stable/__config__.html or https://pytorch.org/docs/master/__config__.html hits the 404 page

![image](https://user-images.githubusercontent.com/9407960/70189001-f93b0b80-16a6-11ea-8f20-47d058eb2fee.png)

Weirdly it does work fine on a local docs build

![image](https://user-images.githubusercontent.com/9407960/70189029-0952eb00-16a7-11ea-974b-738e6c5c8150.png)

[2019-12-04 23:12] eellison opened #30763 "Tensor Options Creates Schema Mismatch for ops which have a (ScalarType dtype, Layout layout, Device device) tuple"
## 🐛 Bug

Any schema declaration which contains a non-optional (ScalarType dtype, Layout layout, Device device) tuple is implicitly made to be optional for pytorch eager code. This makes the schema incorrect for JIT / C++ api.

An example declaration is:
`func: empty_like.dtype(Tensor self, *, ScalarType dtype, Layout layout, Device device, bool pin_memory=False, MemoryFormat? memory_format=None)

[2019-12-04 23:14] ptrblck commented on #26838
@ngimel I cherry-picked the commit on top of current master and the provided repro code as well as `python test/test_cuda.py TestCuda.test_cuda_kernel_loop_overflow_large` now run successfully.

Please ping me once this PR is merged to master and we will execute the test in our CI.

[2019-12-04 23:14] ngimel commented on #30711
You should be calling cudaDeviceSynchronize before your timing calls otherwise you are measuring idle cpu time due to asynchronous cuda execution. The only time you should care about is the time of the GPU kernels (that you can obtain from nvprof), sort happens on the GPU, not CPU.

[2019-12-04 23:16] natalialunova commented on #28765
Hi @vfdev-5! Thank you for reporting this issue, but we decided do not replace whitespaces with `_`. E. g. if user has "key 1" and "key_1", the replacing logic would lead to dictionary key corruption.

[2019-12-04 23:18] rabbitwayne commented on #30711
![Screen Shot 2019-12-04 at 3 00 38 PM](https://user-images.githubusercontent.com/5334805/70189566-7f0b8680-16a8-11ea-8d87-2670735a922c.png)
![Screen Shot 2019-12-04 at 3 08 18 PM](https://user-images.githubusercontent.com/5334805/70189576-8468d100-16a8-11ea-8c45-b78e4925cc67.png)

Here are my two profiling results, one with cuda turned off and the other one with cuda turned on. When cuda is turne

[2019-12-04 23:26] kostmo opened #30764 "flaky "test_constant_fold_slice_*" tests on "caffe2_onnx_py2_gcc5_ubuntu16_04_test" job"
## 🐛 Bug

Observed four occurrences of intermittent failures in the `caffe2_onnx_py2_gcc5_ubuntu16_04_test` job on the `master` branch within the last day (December 4, 2019):

* https://circleci.com/gh/pytorch/pytorch/3775754
* https://circleci.com/gh/pytorch/pytorch/3774709
* https://circleci.com/gh/pytorch/pytorch/3773548
* https://circleci.com/gh/pytorch/pytorch/3766154

Highlighted here:
https

[2019-12-04 23:29] kostmo commented on #30717
Another instance observed here: https://circleci.com/gh/pytorch/pytorch/3785488

[2019-12-05 00:00] xuhdev commented on #24037
I couldn't figure out the reason why it failed. Can we apply

https://github.com/protocolbuffers/protobuf/commit/55ed1d427ccc0d200927746329ac9b811dee77b9

and

https://github.com/protocolbuffers/protobuf/commit/56e7bdf27832b45f389e8a5af958f772d90d02d8

to the current used protobuf submodule to fix #22564 ? But I feel this is too temporary and one day we have to upgrade protobuf.

[2019-12-05 00:08] eellison opened #30774 "Natively Declarable Fast-path Functions"
## 🚀 Feature

Fast-path functions such as `numel` are not natively registered to avoid dispatch overhead. Example PR here https://github.com/pytorch/pytorch/pull/27294 which removed `numel` from JIT-models potentially breaking BC.  In order for this function to be accessible in JIT we would have to duplicate it.

It would be nice to have these functions declarable natively and shared across JIT /

[2019-12-05 00:09] eellison commented on #26428
Related issues:

https://github.com/pytorch/pytorch/issues/30761
https://github.com/pytorch/pytorch/issues/30763

[2019-12-05 00:15] eellison opened #30775 "Keep Tensor Properties in JIT & Eager in Sync"
## 🚀 Feature

Currently there are a number of tensor properties which we bind in python which are not shared with the JIT / C++ api.

Some of these have been duplicated in JIT, but many are not supported.
Either:
- Develop a test mechanism to keep them in sync
- Figure out a way to share properties via native declaration

Native declaration would likely be a two-step process:
 - add properties to

[2019-12-05 00:18] dreiss commented on #30331
#30776 Fixes an error message.

[2019-12-05 00:26] xuhdev opened #30778 "flake8 lint has changed significantly"
Following the [wiki](https://github.com/pytorch/pytorch/wiki/Lint-as-you-type), running flake8 on current master produces a bunch of errors (pasted below). At some point of time, these link checking was disabled. See https://github.com/pytorch/pytorch/blob/master/.github/workflows/lint.yml . Is this intended or a negligence?

[code]

[2019-12-05 00:26] jerryzh168 commented on #29102
Should I write a separate `copy_` for quantized tensor?

[2019-12-05 00:33] eellison opened #30780 "Remove Ops bound in Python Layer for Legacy Reasons"
## 🐛 Ops Bound in the Python Layer Introduce Errors Between Python/JIT/C++

Many ops are bound in the python layer for legacy reasons. These ops may not be natively declared, or they might have additional error handling or logic that occurs only in the python layer. The result is silently different semantics between the Python api & C++/JIT, or ops which are only supported in python. Example issue

[2019-12-05 00:34] ZisIsNotZis commented on #30565
In addition, with `oW=1`, the first formula would have `0*iW/0`  which becomes undefined. According to the mapping rule, `0 -> 0`, `(oW-1)=0 -> (iW-1)`, I feel it should also return some symmetric average. Therefore, "centered" rather than "cornered" no matter what `align_corners` is (both symmetric, but probably different)

[2019-12-05 00:43] #29823 closed

[2019-12-05 00:43] #30627 closed

[2019-12-05 00:45] zhaojuanmao commented on #30718
@pietern are you suggesting followings?
1) rename "broadcast_buffers" flag to be something like "require_forward_buffers_sync",  but it will have back compatibility issue, right? could we keep the flag name unchanged?
2) split _sync_params() into two public APIs:  broadcast_parameters() and broadcast_buffers()

[2019-12-05 00:50] ptrblck commented on #21819
@heiyuxiaokai
The first output points to an "out of memory" error.
Could you lower the batch size and rerun your code again?
Are you using the code snippet from the first post or another one?

@jzazo
The original script does not use apex, so this issue should be unrelated.

@kouohhashi @dan-nadler
Are you using the script from the first post or another one?

I still cannot reproduce the error for

[2019-12-05 00:50] dreiss commented on #28418
`LSTM` and `GRU` (in the same file) have code that looks like this:

[code]

Maybe the short-term fix is as simple as manually inlining `is_packed`?

[2019-12-05 01:19] tbwxmu commented on #20380
@Ownmarc, have you solve this problem on Windows? I have tried the preview version and still get same problem.

[2019-12-05 01:20] edpizzi commented on #30718
@zhaojuanmao I'm not blocked, thanks. And your suggestion looks good to me, provided renaming the `broadcast_buffers` attribute is acceptable.

[2019-12-05 01:51] quickwritereader commented on #15676
I already added many test cases. I try to PR it on coming weeks. Right now I am trying to add check for float math functions as its' precision is implementation-dependent and tied to argument domains.
The test will use random initialization and rely on the correctness of the aligned load/store of vec256.
As union like type puning is discouraged.

[2019-12-05 01:57] quickwritereader commented on #27678
#15676

[2019-12-05 02:02] elbamos commented on #27409
Nope, and nope.

[code]

[2019-12-05 02:02] eellison commented on #30763
Example issues: https://github.com/pytorch/pytorch/issues/22608, https://github.com/pytorch/pytorch/issues/17932, https://github.com/pytorch/pytorch/issues/26727, https://github.com/pytorch/pytorch/issues/22608

[2019-12-05 02:06] JohnZengAsr commented on #29108
Works,
    shared_ptr< Ty > localModel = std::make_shared< Ty >();
torch::load(localModel, savedModelPath);
    torch::save(localModel, savePath);
Not work,
     a, through torch::jit::script::Module
             auto presavedModule = torch::jit::load("D:/localshare/data/model/model.pt");
            presavedModule.save("D:/localshare/data/model/testmodel.pt");
        auto savedModule = torch::ji

[2019-12-05 02:21] eellison opened #30786 "C++ / JIT Parity for ops in `torch/functional.py` and `torch/tensor.py`"
## 🚀 Feature  /   🐛 Bug

Ops which are bound in at `torch/functional.py` and `torch/tensor.py` are only exposed to the python api and not JIT / C++. Example issues https://github.com/pytorch/pytorch/issues/20113 and https://github.com/pytorch/pytorch/issues/29340.

An example PR fix is here: https://github.com/pytorch/pytorch/pull/28918

Ops bound in `torch/functional.py`:

    - lu_unpack
    - i

[2019-12-05 02:29] eellison opened #30788 "Master Task: JIT/C++ Parity With Pytorch Python API"
## 🚀 JIT/C++ Parity With Pytorch Python API

There are a number of reasons why pytorch ops might work in python but not in JIT / C++.

Tracking issues:

- [Ops bound in Python Layer for Legacy Reasons](https://github.com/pytorch/pytorch/issues/30780)
- [Tensor Properties are not natively declarable](https://github.com/pytorch/pytorch/issues/30775)
- [Fast path functions are not natively declarable

[2019-12-05 03:08] rohan-varma commented on #30331
Request for patch: https://github.com/pytorch/pytorch/pull/30752

Status: merged into master at 1350b99

[2019-12-05 03:11] rabbitwayne commented on #30711
I added cudaDeviceSynchronize and now the profiled time corresponds with the GPU time. Embedding backward takes about 300~400us and sorting takes about 100us. All the embedding backward takes a little more than 1ms and makes sense.

So the cpu time obtained by pytorch profiler may include idle time due to the asynchronous CUDA Kernel launch and cannot be trusted. If an API has both significant cpu

[2019-12-05 03:27] rabbitwayne opened #30791 "How accurate is export_chrome_trace?"
Wonder how accurate is the chrome trace generated by torch.autograd.profiler.profile.export_chrome_trace()?

Are the events shown in the trace accurate? Do they accurately record the times when all these api calls and cuda kernels started and ended? How much overhead is added by the profiler?

From my experience, the cpu time by the profiler is highly unreliable and significantly affected by the a

[2019-12-05 03:53] LovelyQuantum commented on #18626
Support! This feature will be especially useful when in production environment.

[2019-12-05 04:00] rgommers commented on #28577
That discussion was https://github.com/numpy/numpy/issues/2776. A more recent one was https://github.com/numpy/numpy/issues/7315#issuecomment-190917482, I'm linking to the comment I agree with most right now. Which is:

Python sequences were not designed with n-dimensional arrays in mind. `__iter__` for both NumPy and PyTorch iterates over the first dimension only:
[code]
So it makes sense for `__

[2019-12-05 05:05] CT83 commented on #19406
This worked for me on WIndows 10 64 bit with Python 3.7

`pip3 install https://download.pytorch.org/whl/cpu/torch-1.0.1-cp37-cp37m-win_amd64.whl`

[2019-12-05 05:24] taojake commented on #30151
@ptrblck I think it is cuda's issue, when i remove 1080Ti from my server, when 1080Ti can't support fp16 mode, the inference time can speed up about 40%. So, this issue can be closed.

[2019-12-05 05:24] #30151 closed

[2019-12-05 06:01] wangwwno1 commented on #15609
Same here: Pycharm 2019.1.3 and Pytorch 1.2.0

[2019-12-05 06:04] ngimel commented on #26838
The fix #30771 has landed, @ptrblck please re-enable the tests in your CI. I'll send a PR to re-enable the test on master, but it still won't be run in the regular CI because of memory limitation, will likely be run in windows CI only.

[2019-12-05 06:04] #26838 closed

[2019-12-05 06:11] Raneee opened #30796 "How to Build pytorch with local protobuf rather than third_party/protobuf?"
## ❓ Questions and Help
I want to build pytorch with my own os built protobuf lib rather than third_part/protobuf, Which prefix to change, Can anyone help me?

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

-

[2019-12-05 06:17] knsong commented on #5672
Looking forward to it!

[2019-12-05 06:19] EricKani opened #30798 "How can I implement "nn.unFold" on 5D tensor?"
❓ How can I implement "nn.unFold" on 5D tensor?

I am implementing an operation on 3D image. I found I need "nn.unFold" function in my process. But until now, pytorch does not have official implementation in latest release version.

I want to implement it in official release code form by myself. But I am a little confused by the relationship  between implementation part of c++ and cuda code.

Coul

[2019-12-05 06:31] kevinstephano opened #30801 "JIT profiling executor does not fuse Relu and Dropout for a GPU"
## 🐛 Bug

## To Reproduce

Script to reproduce behavior:
[code]

## Expected behavior
I find it quick to tell if the kernel is jitted by looking at a nvprof trace on the GPU. `kernel_0` is the expected fused kernel in the properly fused case.

Good JIT behavior (without profiling executor):
[code]
Output:
[code]
Bad JIT Behavior:
[code]
Output:
[code]

## Environment

 - PyTorch Version (e.g., 1.0

[2019-12-05 06:37] ngimel commented on #30801
cc @Krovatkin

[2019-12-05 06:39] Jianhui-Li opened #30803 "Pytorch openmp thread number tuning option for CPU trainning"
## 🚀 Feature
Allow an option to user so that user can choose the openmp thread either be 1 or max thread number.
## Motivation
We found that the tuning of paralel_for() makes the openmp thread number changing across the layers and we suspect this is the reason why it causes the performance difference. On the optimized DLRM version, , we have found that the performance runs best when all the operat

[2019-12-05 06:40] Jianhui-Li commented on #30803
@VitalyFedyunin @gottbrath

[2019-12-05 06:47] t-vi commented on #29102
My ideal resolution would be adding `overwrite_` with current `copy_` semantics and a warning in the docs (unless we have some way to detect this) that it cannot be used on views. Then `copy_` should work on views and loading modules use `overwrite_`.

[2019-12-05 06:49] wangwwno1 commented on #15609
Look like this issue will pop up again **if one use a remote environment in PyCharm**, because PyCharm somehow forget to sync these *.pyi files to the local remote storage.
Solution: **Manually mapping the local remote storage to the remote path, then sync *.pyi files to local**  would solve these problem.

Plz spread this tip so nobody suffer from these annoying falsify inspection warning again :

[2019-12-05 07:13] yyn19951228 commented on #30477
Can I try to fix this issue?

[2019-12-05 07:23] yyn19951228 commented on #30477
Oh sorry I see it has been fixed.

[2019-12-05 07:25] yyn19951228 commented on #26411
@michiboo Hi, are you still working on this issue?

[2019-12-05 07:26] pritamdamania87 opened #30807 "Sending sparse tensors over RPC fails"
## 🐛 Bug

## To Reproduce

[code]

This fails with the following stack trace (need to catch exceptions in ProcessGroupAgent::enqueueSend to see this):

[code]

[2019-12-05 07:28] pritamdamania87 commented on #30807
@suo Are sparse tensors not supported by the jit pickler currently? We're using the jit pickler in the RPC framework and it looks like we run into this issue.

[2019-12-05 07:35] zhaojuanmao commented on #30807
@pritamdamania87 this failed at process group serialization layer that is using the function wireSerialize() newly added and it is added to replace of torch::save(), not the message serialization layer that uses jit::pickler directly and looks like message serialization layer is fine?

do you want to try whether it still fail for sparse tensors using the previous commit that uses torch::save()?

[2019-12-05 07:38] pritamdamania87 commented on #30807
cc @jjlilley

[2019-12-05 07:43] pritamdamania87 commented on #30807
I think we should fix this in the current version since the previous version with `torch::save` was much slower.

[2019-12-05 07:51] t-vi commented on #30754
I think it might affect spectral norm as well.

[2019-12-05 08:22] zhaojuanmao commented on #30807
agree, the test is just to confirm the root cause is because of the new serializer

[2019-12-05 08:25] hameerabbasi commented on #28361
Okay, I'm going to go out on a limb here and claim that `Tensor.__add__` and `Tensor.__torch_function__` know how to handle any subclasses for which `Subclass.__torch_function__ is Tensor.__torch_function__`. So `ATensor.__add__` can call `super` without worrying too much, or "removing anything from dispatch", or worrying about any kind of subclassing. Great!

Now comes the second part. After `ATe

[2019-12-05 08:31] peterjc123 commented on #18319
Now that we have enabled Windows CI on Circle. Due to its large parallelism, we could proceed much further this time. Below are the things that we could do first.
1. Separate CPU and CUDA builds. It will make the build script more readable. https://github.com/pytorch/pytorch/blob/master/.jenkins/pytorch/win-test-helpers/build_pytorch.bat#L79
2. Build and test job for more python versions, at least

[2019-12-05 08:59] XUYUNYUN666 commented on #19302
老哥 请问你解决了吗？ 我的libtorch也是GPU不可以，运行也不报错， 就直接结束了， 到cpu就没问题？是什么情况呀 希望得到你的回复

[2019-12-05 09:04] xkszltl commented on #30627
@ngoldbaum
Confirmed the issue has been fixed on my side.
Thanks!

[2019-12-05 09:20] zhaojuanmao commented on #30723
@filipre how about pass the req to damon thread and make it running req.wait(), once req.wait() returns, it should mark req.is_completed() to be true. Then the main thread running run_master_loop() will probably work..

[2019-12-05 09:26] peterjc123 commented on #19302
@XUYUNYUN666 You'll need to copy all the DLLs from LibTorch to where the executable locates. Actually, we have quite good support for building the project using CMake. You only have to type in two commands and then the project and the binary could be generated. It is well written in the docs. Alternatively, you could use the VS CMake builtin extension, which works out-of-box. I just don't understa

[2019-12-05 09:54] deeponcology commented on #19302
Do this:

file(COPY "${DLL_3RD}/torch.dll" DESTINATION ${CMAKE_BINARY_DIR})
file(COPY "${DLL_3RD}/hdf5.dll" DESTINATION ${CMAKE_BINARY_DIR})
file(COPY "${DLL_3RD}/opencv_world400.dll" DESTINATION ${CMAKE_BINARY_DIR})
file(COPY "${DLL_3RD}/zlib.dll" DESTINATION ${CMAKE_BINARY_DIR})
file(COPY "${DLL_3RD}/caffe2_gpu.dll" DESTINATION ${CMAKE_BINARY_DIR})
file(COPY "${DLL_3RD}/nvToolsExt64_1.dll" DESTI

[2019-12-05 09:55] sysuzyq commented on #29887
@jamesr66a It works when these versions match. thank you.

[2019-12-05 09:55] #29887 closed

[2019-12-05 09:56] schwobr opened #30812 "Tensorboard graph failing to nest modules"
## 🐛 Bug

See [this discussion](https://discuss.pytorch.org/t/tensorboard-graph-failing-to-nest-modules/62993). Basically tensorboard logging no longer works as expected for me (since version version 1.2 I think, as function `graph` changed a lot at this point). It doesn't nest modules anymore and just puts all leaf parameters directly under the main module. For torchvision's resnet34, it looks li

[2019-12-05 09:58] alnfedorov opened #30813 "[quant] QuantizedCUDA"
## 🚀 Feature
1. Introduction of the **QuantizedCUDA** backend(similar to the **QuantizedCPU** backend).
2. Implementation of the PER_TENSOR_AFFINE QScheme for QuantizedCUDA tensors. (others can be implemented later on)

End users should be able to quantize(qint8, quint8, qint32) and dequantize CUDA tensors with float[16|32|64] dtype.

## Motivation
*General necessity:*
The last generation of the G

[2019-12-05 10:27] filipre commented on #30723
I like that idea. Do you mean simply like this?

[code]

It didn't work. I think once you enter `req.wait()` the whole object will block so also calls like `req.is_completed()` will block until `req.wait()` finishes. However, if you replace `req.is_completed()` with `not t.is_alive()` then it does works. That's definitely a better solution!

[code]

[code]

[2019-12-05 10:56] hameerabbasi commented on #28361
I meant a shallow copy, not a deep copy, but as @ezyang points out, this is problematic, and better handled in the `__torch_function__` of the subclass.

[2019-12-05 12:18] tchaton commented on #30656
Collecting environment information...
PyTorch version: 1.1.0
Is debug build: No
CUDA used to build PyTorch: 9.0.176

OS: Ubuntu 18.04.2 LTS
GCC version: (Ubuntu 7.4.0-1ubuntu1~18.04.1) 7.4.0
CMake version: version 3.10.2

Python version: 3.6
Is CUDA available: No
CUDA runtime version: 9.1.85
GPU models and configuration: Could not collect
Nvidia driver version: Could not collect
cuDNN version: Cou

[2019-12-05 12:19] tchaton commented on #30656
Hey @zou3519, sometimes my cuda get uninstalled for some wierd reason. I will re-install it and do it again.

[2019-12-05 12:19] tchaton commented on #30656
Hey @zou3519, sometimes my cuda get uninstalled for some wierd reason. I will re-install it and do it again.

[2019-12-05 12:22] tchaton commented on #30656
(superpoint-graph-job-py3.6) ➜  ~ python text_cublas.py
Collecting environment information...
PyTorch version: 1.1.0
Is debug build: No
CUDA used to build PyTorch: 9.0.176

OS: Ubuntu 18.04.2 LTS
GCC version: (Ubuntu 7.4.0-1ubuntu1~18.04.1) 7.4.0
CMake version: version 3.10.2

Python version: 3.6
Is CUDA available: Yes
CUDA runtime version: 9.1.85
GPU models and configuration: GPU 0: GeForce RTX 2

[2019-12-05 13:17] lironmo commented on #30512
@lara-hdr - thanks for your replay :),
I got the same error at the night build at batch norm layer,
I used:
(convert) liron@liron-Latitude-5490:~/work/pixoneye/model_conversion$ pip freeze | grep -i torch
torch-nightly==1.2.0.dev20190805
torchvision==0.4.1

so i need to wait to next night build? i created the traced torch script module with the new night build - updated in the bin.

[2019-12-05 13:23] lironmo commented on #30512
@lara-hdr thanks for your reply :)

I also tried to install the night build and create a new traced model and convert it to onnx, but i get the same problem with the batch norm layer (see below for trace)

(convert) liron@liron-Latitude-5490:~/work/pixoneye/model_conversion$ pip freeze | grep -i torch
torch-nightly==1.2.0.dev20190805
torchvision==0.4.1

so i need to wait to the next night build?

[2019-12-05 14:09] vadimkantorov commented on #27617
An intermediate step could be torch.stack/cat supporting variable tensor sizes if an out-argument is provided and it has sufficient storage / size

[2019-12-05 14:13] ezyang commented on #18319
@peterjc123 sounds great to me!

[2019-12-05 14:24] ezyang commented on #29137
@kurtamohler Nice! Do you mind putting up the diff earlier rather than later so we can take a look?

[2019-12-05 14:27] ezyang commented on #30704
cc @dylanbespalko

[2019-12-05 14:31] ezyang commented on #30704
It sounds like the correct fix is to make sure `conj` (and `real`) work on CUDA tensors as well as CPU tensors. Actually, it's possible that https://github.com/pytorch/pytorch/pull/30295 just up and fixes this.

[2019-12-05 14:32] ezyang commented on #30704
Also @dylanbespalko, it seems like the modified version of `norm` and similar sites are a pessimization for the non-complex case, because it looks like your implementations of conj/real always do "work" (in the sense that they have to allocate and fill a new tensor). So regardless it may be a good idea to avoid calling these functions at all for non-complex inputs.

[2019-12-05 14:37] dan-nadler commented on #21819
@ptrblck I am using a different script. Keeping the batch size down and moving the operations into functions seems to have solved it, though I'm staying around 80% GPU memory utilization. I had a handful of issues, though, so I'm not quite sure which change adressed which problem.

[2019-12-05 14:42] ezyang commented on #28361
This flow seems completely backwards to me. If BTensor is a subclass of ATensor, I expect B to get processed first before I get to A. OOP 101

[2019-12-05 14:49] hameerabbasi commented on #28361
While I agree, virtual methods are what they are, unfortunately, and the only way around this I can think of is the metaclass approach we discussed, the one that patch/use `__torch_function__` for every single method... Which could lead to even weirder behaviour: `A.__add__` getting ignored.

[2019-12-05 14:54] hameerabbasi commented on #28361
One thing I can think of here is to use the following design: use `B.__torch_function__(B.__add__, (self, other), {})` as a default, but that might mess up any dictionary-based dispatch that may exist.

[2019-12-05 14:55] rilesdg3 opened #30816 "error: use of deleted function blob_.Get<TensorCPU>(); Caffe2 c++ api"
I just updated caffe2/pytorch from the github code as of 10 28 2018 to the github code from 12 05 2019 and now I am getting the following error.

**error: use of deleted function ‘caffe2::Tensor::Tensor(const caffe2::Tensor&)’    return blob_.Get<TensorCPU>();**

Is there a new way of getting a tensor from a blob?

Also when I built the new version it did not build a caffe2.so is that correct or d

[2019-12-05 15:00] albanD commented on #30798
You might be able to get some inspiration from the implementation we had in the old torch7 library [here](https://github.com/torch/nn/blob/872682558c48ee661ebff693aa5a41fcdefa7873/lib/THNN/generic/VolumetricConvolutionMM.c#L99-L263).
I'm not sure how efficient it will be though.

[2019-12-05 15:33] ezyang opened #30818 "kthvalue/median with scalar and dim=1 inconsistent between CPU and CUDA"
[code]

[2019-12-05 15:33] ezyang commented on #30818
This case is explicitly tested for on CPU, so I'm guessing the CPU version is right and the CUDA version is wrong.

[2019-12-05 15:41] albanD commented on #30818
cc @gchanan who is currently fixing these.

[2019-12-05 15:47] vincentqb commented on #17057
and thanks for pointing offline out that `git commit --amend` creates a new hash for the last commit :)

[2019-12-05 15:51] ezyang commented on #30818
median is also affected by this.

[2019-12-05 15:55] mrshenli opened #30819 "RPC threads should return an error message instead of crash on failures"
The recv function in [`ProcessGroupAgent`](https://github.com/pytorch/pytorch/blob/f2a2fec47cd7f3b715189338e45c6aebdf5f65f2/torch/csrc/distributed/rpc/process_group_agent.cpp#L367) would crash if there are failures during `wireDeserialize`, or unrecognized message types, or races in futureTimeouts map, etc. However, that would result in bad debugging experiences, as the caller would only see a tim

[2019-12-05 15:55] mrshenli commented on #30819
cc @zdevito

[2019-12-05 16:24] ezyang opened #30820 "TestAutogradDeviceTypeCUDA.test_to_sparse_cuda doesn't work"
After applying https://github.com/pytorch/pytorch/pull/30821/ you will get the error for this test:

[code]

I tried reproducing without gradcheck but was unable to:

[code]

So I am not too sure what is going on here.

cc @ezyang @gchanan @zou3519 @ngimel @vincentqb

[2019-12-05 17:11] kurtamohler commented on #29137
So far, the above PR fixes how sum, prod, mean, and norm handle dim=(). There are a few others I need to fix too, and I need to add tests as well. Please let me know if there's anything that could be done in a better way, this is my first contribution to this project after all.

[2019-12-05 17:19] jjlilley commented on #30807
The previous torch::save() approach doesn't support serializing sparse tensors either, here's a quick test case that you can run:

{
   at::Tensor tensor =
      at::empty({2, 3}, at::dtype<float>().layout(at::kSparse));
   EXPECT_TRUE(tensor.is_sparse());

   std::string str;
   torch::save({tensor}, [&](const void* buf, size_t sz) -> size_t {
                           str.append(static_cast<con

[2019-12-05 17:23] csarofeen commented on #13412
@mruberry Do you want to verify this is fixed post 7.6.1?

[2019-12-05 17:35] eellison commented on #30695
cc oncall when posted @wanchaol

[2019-12-05 17:35] eellison commented on #30754
cc @wanchaol

[2019-12-05 17:39] jzazo commented on #21819
I tried [this](https://github.com/pytorch/examples/tree/master/mnist) MNIST example.

I added the following lines at the beginning of script:
[code]
and `device = torch.device(gpu if use_cuda else "cpu")` in the main function.
I get the following error: `RuntimeError: cublas runtime error : resource allocation failed at /opt/conda/conda-bld/pytorch_1570710718161/work/aten/src/THC/THCGeneral.cpp:21

[2019-12-05 18:01] albanD commented on #30632
I would agree with you that given the current state, an imperative version will be necessary and a function-to-function version will just be using function closures on top of the imperative version.

I'll send a proposal for this.

[2019-12-05 18:05] ezyang commented on #28361
A quick meta point: if we can't think of a good way (not a "way around") to do this, we should stop doing this, or change our underlying constraints until there is a good way.

[2019-12-05 18:12] mruberry commented on #13412
I'm not familiar with the issues @ezyang originally cited. @ezyang, do you want to ping me?

[2019-12-05 18:26] Joaquim-Ferrer opened #30830 "Torch getting stuck transfering model to GPU in multiple GPU setting"
While using torch multiprocessing pool to paralelize the run of multiple equal experiences in multiple GPUs I ran into the fact that a lot of times the processes block in the transfer of the model from CPU to the assigned GPU. I don't understand the reason of the blocking.

I've tried manually deleting the model at the end of each run and collecting the not used GPU memory to no avail. I would lik

[2019-12-05 18:41] rgommers opened #30831 "Regression on split operator benchmark after __torch_function__ merge"
(moved over from https://github.com/pytorch/pytorch/pull/30730#issuecomment-562242874, comment by @hl475)

Hi @ngoldbaum, we found there is some performance regression introduced from your PR. According to our benchmark, we found
[code]
where before means current codebase, and after means remove the change in this PR.

To reproduce the benchmark, please read https://github.com/pytorch/pytorch/tree

[2019-12-05 18:41] ailzhang commented on #29855
@VitalyFedyunin any update here? ;)
cc: @jysohn23

[2019-12-05 18:43] rgommers commented on #30831
Some more discussion on gh-30730, it's likely related to the `torch_function_dispatch` decorator, but the 2.3 us hit seems large.

If that decorator is the root cause, @ezyang had a suggestion in https://github.com/pytorch/pytorch/pull/30730#issuecomment-562248175 on how to speed it up.

@ngoldbaum is investigating the benchmark right now.

[2019-12-05 18:55] #29161 closed

[2019-12-05 18:55] ngoldbaum commented on #30831
These are screenshots from py-spy, I've zoomed in only the relevant parts of the benchmarks. Since samples happen at regular intervals, the number of samples for a stack frame is proportional to the amount of time it spends in that frame. To generate the results without the `__torch_function__` dispatch I just commented out the decorator on `torch.functional.split`:

[code]

Without `__torch_funct

[2019-12-05 19:00] Krovatkin commented on #30801
I love the option's name `--bad-jit` @kevinstephano 😄

I think I know what the problem is here, I'll test the fix in the next few days.

[2019-12-05 19:01] gottbrath commented on #30300
In the past MKL GEMMs have been faster than MKL-DNN gemms. The claim from Intel is that with DNNL 1.1 it will be faster ..ie no regressions in GEMMs.

[2019-12-05 19:15] ngoldbaum commented on #30831
Just to clarify before I start putting in pull requests, the way forward is:

1. ASAP remove the `torch_function_dispatch` decorator from everything in `torch.functional`
2. Look into either:
    A) Speed up the decorator so the overhead is smaller. I don't think we can ever get the overhead to zero but we can probably at least get it much lower by doing C++-level checks for if parameters are `tor

[2019-12-05 19:17] pritamdamania87 commented on #30807
@suo Could you assign this to the right person? For more context, we didn't run into this issue in some of our production workloads, but I ran into this while writing a unit test and in general it would be good to support this. I can imagine users trying to send sparse tensors over RPC.

cc @driazati

[2019-12-05 19:18] suo commented on #30807
I believe @bwasti is the right POC for sparse tensor-y things.

[2019-12-05 19:20] xsacha commented on #30300
When I attempt to build MKL-DNN on Windows, it tells me that MSVC doesn't support OpenMP >= 3 required for MKL-DNN. Will this also be an issue on DNNL 1.1 implementation? That is, no Windows support again?

[2019-12-05 19:21] rgommers commented on #30831
Yes, that sounds right. `torch.functional` was anyway only partially covered, so removing that and taking a bit of time to figure out the best approach for it sounds like a good thing to me.

[2019-12-05 19:26] zasdfgbnm commented on #22496
@ngimel I am self assigning this

[2019-12-05 19:28] zasdfgbnm commented on #29984
@mruberry @ngimel I am self assigning this.

[2019-12-05 19:28] vpirogov commented on #30300
@xsacha,

Which version are you using? Intel MKL-DNN v0.21 and v1.0 build fine with MSVC, so if you are unable to build  the library on Windows it might be a bug.

[2019-12-05 19:31] xsacha commented on #30300
It is when I attempt to build it in Pytorch. With latest master, I get this output:

[2019-12-05 19:32] jzazo commented on #21819
I did the rollback and it didn't fix the issue. I once more removed nvidia drivers, installed them and cuda again, and I still get the error. I don't know how to find the source of the problem.

[2019-12-05 19:33] pietern commented on #30657
@zou3519 Removing the distributed label here.

This doesn't look like an issue with `DistributedDataParallel` but rather a mismatch between the model output (in `outputs[0].data`) and the size of the mask that @hadaev8 is using.

The cause of the issue may be _related_ to distributed data parallelism, in that you only get shape mismatches if you're training in a distributed setting (e.g. because o

[2019-12-05 19:38] dylanbespalko commented on #30704
@ezyang,

Yes, this was definitely caused by me. This should effect the frobenius norm in `aten/src/ATen/native/LinearAlgebra.cpp`. The line of code in question is

[code]

And can be fixed two ways:

1. Adding CUDA support for Unary ops in #30295.
2. Creating a separate code-path for non-complex and complex cases.
    - @ezyang points out that conj() and real() are not in-place operations, so fix

[2019-12-05 19:41] vpirogov commented on #30300
I see now. This check is in [Pytorch's build system](https://github.com/pytorch/pytorch/blob/718feb6d76702a7f8898feaeb616a5a04a9acbad/cmake/Modules/FindMKLDNN.cmake#L21) and should probably be removed.

+@Jianhui-Li, @XiaobingSuper

[2019-12-05 19:43] wanchaol commented on #30695
Hey It's not about `Optional[Module]` not works as type annotation, its mainly because `Module` is not a valid type annotation. TorchScript type hints right now is only a subset of Python 3 typehints, class-level type annotation is not supported for both of these, so we could not annotate it like this way, submodules does not need to be annotated in this case.

Mypy style type check has a wider ra

[2019-12-05 20:18] jlin27 commented on #30331
Request for patch: [#30757](https://github.com/pytorch/pytorch/pull/30757)

Restructure docs organization and naming

[2019-12-05 20:31] Jianhui-Li commented on #30300
@vpirogov  Good catch. Will do.

[2019-12-05 20:51] IggShaman commented on #30695
My use case here is to be able to jit.script-ify a custom Module which can have optional sub-module(s). This may be useful when for example a custom module class (with activation as the last op) is used to build a chain of modules, with the last instance not doing activation.

Presently, in order to achieve something like this and in order for JIT to work, I have to either use a proxy, "pass-throu

[2019-12-05 21:08] ezyang commented on #30704
I confirmed that the CUDA strided complex patch fixes this problem.

[2019-12-05 21:13] AlanCPSC opened #30843 "Are there any plans to release a prebuilt-binary for Windows?"
Hello everyone,

I was wondering if you guys have any plans to release official prebuilt-binaries for Windows 7/8/10 (+ Mac OS if possible)? I've been working on helping fellow students at school install pytorch onto their laptops - mainly through python's anaconda online package registry (https://anaconda.org/search?q=pytorch).

Unfortunately this has been an incredibly challenging task, as findi

[2019-12-05 21:15] xuhdev commented on #27409
I have no idea of what's going on in your situation. Your RPATH is empty upon built. I probably will revisit this after I have some other thoughts. Thanks for the past info though!

[2019-12-05 21:30] wanchaol commented on #30695
@IggShaman This does not has to be that complicated I think. You can just use None   together with modules. For example your original example can easily work with the following code (remove the type annotation and use None):
[code]

[2019-12-05 21:32] ezyang commented on #13412
This is pretty old. I'm OK with just calling it fixed and someone file a new bug if there's still problems.

[2019-12-05 21:34] rgommers commented on #30831
It's not the `torch_function_dispatch` decorator, but `_get_overloaded_types_and_args` and `_implement_torch_function` that indeed need to move to C++. This is something that was done in NumPy as well after the initial implementation.

Comparing with NumPy shows the difference.

PyTorch:
[code]

NumPy:
[code]

[2019-12-05 21:34] vadimkantorov opened #30844 "[feature request] torch.cdist to compute pdist by default"
A suggestion: have x2=None default argument value. If it's not specified, set x2:=x1. Then some computation can be saved (depending on how cdist is implemented), and it would still return a symmetric square form (as opposed to pdist which returns a condensed form).

[2019-12-05 21:36] rgommers commented on #30831
IIRC we left this out of the initial code on purpose, and haven't come back to it yet. This should bring the overhead for this benchmark, which uses `Tensor` instances, down to ~400 ns or so. At that point it should indeed be small compared to the total overhead of the function and to the not-realized gain by having these functions in `torch.functional` in Python instead of in C++.

[2019-12-05 21:41] zasdfgbnm commented on #29984
The bug is actually inside legacy code like `at::native::legacy::cuda::_th_mv`. I won't fix the legacy code. But I will migrate it to aten native first then fix. I will self assign related migration issues.

cc: @VitalyFedyunin (Don't forget the gather migration :) )
cc: @csarofeen @ptrblck

[2019-12-05 21:42] zasdfgbnm commented on #24605
Self assigning this for a fix of https://github.com/pytorch/pytorch/issues/29984

cc: @csarofeen @ptrblck for visibility

[2019-12-05 21:43] zasdfgbnm commented on #24596
Self assigning this for a fix of #29984

cc: @csarofeen @ptrblck for visibility

[2019-12-05 21:44] zasdfgbnm commented on #24570
Self assigning this for a fix of #29984

cc: @csarofeen @ptrblck for visibility

[2019-12-05 21:44] zasdfgbnm commented on #24539
Self assigning this for a fix of #29984

cc: @csarofeen @ptrblck for visibility

[2019-12-05 21:44] zasdfgbnm commented on #24535
Self assigning this for a fix of #29984

cc: @csarofeen @ptrblck for visibility

[2019-12-05 21:45] zasdfgbnm commented on #24534
Self assigning this for a fix of #29984

cc: @csarofeen @ptrblck for visibility

[2019-12-05 21:45] zasdfgbnm commented on #24533
Self assigning this for a fix of #29984

cc: @csarofeen @ptrblck for visibility

[2019-12-05 21:47] rgommers commented on #30831
And just for reference, here are my timings for running the benchmark. tl;dr it wasn't as bad as it looked, @hl475 used a pretty old machine. Impact for me is 900 us now (1.4 us without, 2.3 us with `__torch_function__`)

<details>

[code]

</details>

[2019-12-05 21:49] elbamos commented on #27409
Would a build log of some kind help?

[2019-12-05 21:52] mingzhe09088 commented on #30831
It's low end skylake machine but not old :)

[2019-12-05 21:56] ezyang opened #30845 "Many functions fail gradcheck on ROCm"
In #30821 I started running a bunch of gradchecks on CUDA. A lot of tests are failing on ROCm due to numerical precision issues. I'm going to blanket turn off all these tests for now, but here's the log with all of the failures: https://gist.github.com/ezyang/bbb8c322912785e92a9c8595620ab9a8

[2019-12-05 21:58] ghartoularos commented on #28320
I also tried installing through conda using `conda install pytorch torchvision -c pytorch`. I got this error message when I ran out of space on my device, but I only knew after checking with `df` afterwards. Curiously, I tried on separate machine also through conda, also with not enough space, and then got the more descriptive `[Errno 28] No space left on device`.  I added space to that machine an

[2019-12-05 22:06] xuhdev commented on #27409
@elbamos Sure; Let's see whether we can sniff something there

[2019-12-05 22:08] rgommers commented on #29234
This just happened to me, so just a comment for whoever sees this next: `cpuinfo` is a submodule in the pytorch repo, the missing header lives at `third_party/cpuinfo/include/cpuinfo.h`. When you see this error, it's most likely that you're trying to run the benchmarks without having installed pytorch from sources (which will instill that header file), but instead you're trying to use a pytorch in

[2019-12-05 22:13] kossnick commented on #30681
+1, I have the same issue.

[2019-12-05 22:13] zasdfgbnm commented on #24739
Self assigning this for a fix of #29984

cc: @csarofeen @ptrblck for visibility

[2019-12-05 22:13] zasdfgbnm commented on #24730
Self assigning this for a fix of #29984

cc: @csarofeen @ptrblck for visibility

[2019-12-05 22:14] zasdfgbnm commented on #24706
Self assigning this for a fix of #29984

cc: @csarofeen @ptrblck for visibility

[2019-12-05 22:14] zasdfgbnm commented on #24678
Self assigning this for a fix of #29984

cc: @csarofeen @ptrblck for visibility

[2019-12-05 22:14] zasdfgbnm commented on #24679
Self assigning this for a fix of #29984

cc: @csarofeen @ptrblck for visibility

[2019-12-05 22:14] zasdfgbnm commented on #24680
Self assigning this for a fix of #29984

cc: @csarofeen @ptrblck for visibility

[2019-12-05 22:28] mruberry commented on #13412
Will reopen if this reappears.

[2019-12-05 22:28] #13412 closed

[2019-12-05 22:38] eellison opened #30848 "DISABLED test_max_pool2d (__main__.TestQuantizedOps)"
## 🐛 Bug

19:19:52 ERROR: test_max_pool2d (__main__.TestQuantizedOps)
19:19:52 ----------------------------------------------------------------------
19:19:52 Traceback (most recent call last):
19:19:52   File "test_quantized.py", line 403, in test_max_pool2d
19:19:52     min_side=1, max_side=10),
19:19:52   File "/usr/local/lib/python3.6/dist-packages/hypothesis/core.py", line 991, in wrapped_tes

[2019-12-05 22:38] vfdev-5 commented on #23430
@fmassa this could be helpful !

Waiting for such update, we can use a sort of `DistributedProxySampler`:

[code]

[2019-12-05 22:46] IggShaman commented on #30695
@wanchaol your code sample gives the following error -

[code]

[2019-12-05 23:05] ngimel commented on #30704
@dylanbespalko even if you make `.conj` inplace do-nothing for non-complex tensors, it will still go through another round of dispatch, adding to overheads, so is it possible to just bypass `.conj` for non-complex types at the call site?

[2019-12-05 23:13] dylanbespalko commented on #30704
@ngimel,

Agreed, I am working on bypassing it right now. I should have something submitted soon.

[2019-12-05 23:28] pritamdamania87 opened #30850 "backward hooks on parameters don't work with distributed autograd."
Distributed autograd doesn't use the `AccumulateGrad` function and as a result none of the backward hooks (e.g: `register_backward_hook`) for the parameters are executed for the gradients. We should look into enabling this.

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @rohan-varma @gqchen @aazzolini @xush6528 @jjlilley

[2019-12-05 23:37] Aaronzinhoo commented on #18626
Support! This will allow for flexibility in workflows with multiple networks being used at once among all the other benefits mentioned above.

[2019-12-05 23:44] xuhdev commented on #30778
@suo @ezyang

[2019-12-05 23:59] Jianhui-Li commented on #21120
Update - With further discussion with Pytorch and FPGEMM team, we agreed to integrate MKL-DNN int8 with the same CPU FPGEMM integration interface, to avoid the complexity that Pytorch needs to integrate two libraries in two different ways.  Both use the same format NHWC and support same op semantics, so user doesn't worry about the tensor format conversion and op semantics difference.  The PR 2679

[2019-12-06 00:06] ptrblck commented on #21819
@dan-nadler the peak memory usage might have caused the OOM issue.

@jzazo I cannot reproduce this issue by adding your provided code to the MNIST example on an 8 GPU system (rerunning with different GPU ids).

What GPU are you using as GPU1? If it's the intel integrated chip, this won't work.
You would need a GPU which can execute CUDA code.

[2019-12-06 00:13] jzazo commented on #21819
I have the Intel's integrated card and 2x Ti 1080-GTX. When I get some time I will try narrow down the problem. I don't have a clue of what's causing it.

[2019-12-06 00:18] saurabheights commented on #3477
Just tried this and the behaviour is really perplexing. I am working on two gpus system shared with my colleagues. Cuda:1 is in use by my colleague and though cuda:0 is mostly empty(8300MBfree), I get no memory error.

![Screenshot from 2019-12-06 01-16-14](https://user-images.githubusercontent.com/11634769/70284955-2c27f100-17c6-11ea-8a5c-b428623b5522.png)

Let me know if you need more informatio

[2019-12-06 00:27] suo commented on #30778
Negligence. I didn’t realize how flake8 worked (i.e. you have install the extensions to get the basic checks)

I need to fix all the errors and land a fix

[2019-12-06 00:52] albanD commented on #30632
Here is the api I propose for these functions placed under the `torch.autograd.higher` module:

[code]

cc @zdevito @apaszke

[2019-12-06 01:25] lara-hdr commented on #30681
@glenn-jocher, it doesn't seem like the issue is from the exporter. I tried your code and the error is happening in "onnx.checker.check_model(oml)". But when I remove the call to check_model() and try running the exported model (with onnxruntime), it runs and predicts the right output.

`import torch
import torch.nn as nn
import torch.nn.functional as F
import onnx
import onnxruntime
import numpy

[2019-12-06 02:00] wanchaol commented on #30695
@IggShaman which version are you in? Can you try the nightly build or latest master? On my side it works fine:

[code]

output:

[code]

[2019-12-06 02:08] xsacha commented on #30843
The prebuilt binaries are available here: https://pytorch.org/get-started/locally/

[2019-12-06 02:52] TH3CHARLie commented on #30524
@albanD Hi! Thanks for letting me do it and after some trials and errors I think my PR is now review-ready, so if you have time would you please do a review on #30719, thanks

[2019-12-06 03:55] IggShaman commented on #30695
@wanchaol looks like it is fixed now in 1.4-dev. I came across this issue with 1.3.1 a few weeks back. Thanks for the help!

[2019-12-06 03:55] #30695 closed

[2019-12-06 04:15] kurtamohler commented on #29137
I've fixed all the appropriate reduction functions that were broken by my change. Now all the reductions where `dim=()` is legal (the others give an API error) no longer perform a reduction in that case. I added tests for all the legal cases.

[2019-12-06 04:32] kurtamohler commented on #28993
Coming back to this issue after working on #29137. In that issue, it was decided that `tensor.mean(dims=())` should not be the same as `tensor.mean()`, since dims=() means "no reduction". So that means the gradient should be different.

However, after applying my fix for #29137 (PR #30822), I get an error when I try to calculate the gradient of `tensor.mean(dims=())`:

[code]

I'm not sure why the

[2019-12-06 04:57] hainow commented on #2517
In my case mp.set_start_method('spawn') works, but not with Python 3.7 and Pytorch 1.1.0. I finally had to downgrade Python to 3.6.9 and things work.

[2019-12-06 06:31] ljk53 commented on #30655
You can call Tensor.getRawDataBuffer() API to get the underlying data buffer of output tensor: https://pytorch.org/docs/master/org/pytorch/Tensor.html#getrawdatabuffer
Or one of these API to obtain Java array (but this way it will allocate the buffer on Java heap and copy data, which will be slower): https://pytorch.org/docs/master/org/pytorch/Tensor.html#getdataasfloatarray

Once you have access

[2019-12-06 07:12] BrianHan777 commented on #30653
I referenced this discussion.
https://discuss.pytorch.org/t/windows-libtorch-c-load-cuda-module-with-std-runtime-error-message-shape-4-is-invalid-for-input-if-size-40/63073

It works.

[2019-12-06 07:12] #30653 closed

[2019-12-06 07:33] peterjc123 commented on #30843
What do you mean by prebuilt-binary? The easiest way to use PyTorch is to install Anaconda3, open Anaconda Command Prompt and then type in the install commands in https://pytorch.org, such as `conda install -c cudatoolkit=10.1 pytorch torchvision`.

[2019-12-06 07:51] EsmaeilFarhang commented on #30601
this files is mentioned in the master documentation.

[2019-12-06 08:17] lysecret2 commented on #4534
still an issue.

[2019-12-06 08:19] Simona787 opened #30862 "error occures when trying to import torch, "ImportError: cannot import name 'ClassType'""
## 🐛 Bug
`import torch`

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/**/py3env_pytorch_1.2/lib/python3.6/site-packages/torch/__init__.py", line 307, in <module>
    import torch.nn.quantized
  File "/home/**/py3env_pytorch_1.2/lib/python3.6/site-packages/torch/nn/quantized/__init__.py", line 6, in <module>
    from .modules import *  # noqa: F401
  File "

[2019-12-06 08:25] #30572 closed

[2019-12-06 08:26] kanitabetai opened #30863 "Installed tensorboard 1.14.0, TestTensorBoardWriter.test_writer failed."
## 🐛 Bug

PyTorch supported TensorBoard 1.14.0, but TensorBoard 1.14.0 not support tensorboard.plugins.mesh.metadata.get_components_bitmask.

PyTorch 1.3.1 + TensorBoard 1.14.0, failed TestTensorBoardWriter.test_writer.
Because tensorboard.plugins.mesh.metadata.get_components_bitmask is supported form tensorboard 1.15.0 .

If you are not particular about supporting Tensorboard 1.14.0, would you li

[2019-12-06 09:09] seungwonpark opened #30865 "stft does not consistently check window device"
## 🐛 Bug

Consider a situation when applying `torch.stft` to audio `x`, which is in CUDA memory. We also have a given tensor `window`, which is not in CUDA memory yet.
When `n_fft` is equal to `win_length`, it causes `RuntimeError: expected device cuda:0 but got device cpu`.

## To Reproduce

See my Google Colab notebook:
https://colab.research.google.com/drive/15ZOc5SnFwXsb3-vgIbzdd2roeY6kOV2H

[

[2019-12-06 09:31] rilesdg3 commented on #30816
change from blob_.Get() to caffe2::BlobGetMutableTensor(&blob_,DeviceType::CPU);

caffe2.so seems to have been replaced it looks like torch_cpu.so replaces it

[2019-12-06 09:31] #30816 closed

[2019-12-06 09:40] rilesdg3 commented on #30722
Had same problem. Using Eclipse IDE I had to set the **Language standard** to "blank" i.e. nothing in there, and add -std=c++14 to **Other dialect flags**

[2019-12-06 10:05] snakers4 commented on #10043
Arguably this paper looks like a game changer for down-to-earth solutions
- http://arxiv.org/abs/1911.09723
- TLDR Google claims that they can speed  up their efficient mobile-nets 1.5-2.5x by using optimized low-level sparse convolutions and skip a whole "generation" of networks

![image](https://user-images.githubusercontent.com/12515440/70314435-822d8080-1828-11ea-9726-c6573b5f71ed.png)

They u

[2019-12-06 10:58] wuzhi19931128 opened #30867 "save model definition file"
## 🚀 Feature
I noticed that torch.save() has already saved the model definition file. However, a model still needs to be defined in advance when loading. It is inconvenient to the user-defined  model structure. Since the relative paths must be consistent.

## Motivation
I always keep model in one place and often loaded failed.

## Pitch
torch.load can save forward process.

## Alternatives

## Add

[2019-12-06 11:18] XuVision opened #30868 "doc improve"
## 📚 Documentation

in Tutorials > TorchVision Object Detection Finetuning Tutorial
official:
`class PennFudanDataset(object):`
wrong! sholud be:
`class PennFudanDataset(torch.utils.data.Dataset):`

[2019-12-06 11:44] as754770178 commented on #24904
I debug my program, function `add_graph` of class `FileWriter` in `/opt/anaconda3/lib/python3.7/site-packages/torch/utils/tensorboard/writer.py`. The parameter graph_profile contain graph info, and the program not report error. But no graph display in tensorboard.

[2019-12-06 12:28] LinGeLin opened #30869 "How to specify install path when build libtorch？no use cmake-gui"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

[2019-12-06 12:30] tpet93 commented on #20343
For someone having this issue, this may be helpful:

I was having the ram issue describe above when calling

        tensor.size()= [10,14,572,572]
        probability = [0.4]

        bino = torch.distributions.binomial.Binomial(tensor, probability)
        thinned = bino.sample()

        GPU RAM requested 45 GB
I got around the issue by looping through the first dimension of my tensor 10 times

[2019-12-06 12:44] hadaev8 commented on #30657
@zhaojuanmao @pietern
Okay, I got it.

this is shapes of data and mask print(outputs[0].shape, mask.shape, output_lengths):
[code]

The whole batch have zero padded to max len 900, while minibatch per gpu have different maxlen and masking returns this value.

What should be best way to solve it?

[2019-12-06 13:01] nikitaved commented on #30090
@fritzo , the code supports both probabilities and logits. And if probabilities are supplied, the logits are the transformation of the probabilities and the other way around. Anyway, no matter what is transformation of what, we are interested in the gradient wrt `a`. And the output that torch produces does not agree with the analytic solution, even though we consider the normalization process done

[2019-12-06 13:39] peterjc123 commented on #30869
`cmake -DCMAKE_INSTALL_PREFIX="YOUR PATH" ..`

[2019-12-06 13:39] #30869 closed

[2019-12-06 13:40] peterjc123 commented on #30868
Would you please make a PR on this?

[2019-12-06 13:43] zwep commented on #3867
Wow and here I thought that Pytorch would be easier than Keras/Tensorflow 2.0...

[2019-12-06 13:45] alexholdenmiller commented on #18128
@ezyang Adam mentioned you might be helping take over the resolution of this (ie #28536 as Will mentioned). we've lost a fair amount of time working around this issue so if you have the chance to wrap it up that would be a huge help to our team.

[2019-12-06 14:12] kkulczak commented on #1668
You've got a typo in `torch.cuda.is_avaliable()`.
Pls edit this :)

[2019-12-06 14:37] danFromTelAviv commented on #3867
@zwep there is a bit more effort in getting started. You have to write your trianing loop which can be annoying and you have to write layers more explicitly. Once you get that done ( once ) you can advance much farther on the actual improvement beyond that.

My rule of thumb is use Keras if its something you have done a million times/ super standard.
use pytorch any time there is research and deve

[2019-12-06 14:56] ezyang commented on #2517
@hainow Can you file a new issue for this?

[2019-12-06 15:00] ezyang commented on #18128
Yes, I'll be taking over #28536 next week!

[2019-12-06 15:03] albanD commented on #28993
This errors happens because `out` contains more than one element. If you want to backward such Tensor, you need to provide the initial gradients. `torch.ones_like(out)` for example or equivalently `out.sum().backward()`.
Also if you want to check that the gradients you implemented are correct, you can use [`autograd.gradcheck`](https://pytorch.org/docs/stable/autograd.html?highlight=gradcheck#torc

[2019-12-06 15:04] SsnL commented on #30865
Ah the error message is indeed confusing. The issue is that your window is still on CPU.

[2019-12-06 15:05] ezyang commented on #30632
@albanD If I pass in inputs that do not require grad what are the intended semantics ;)

[2019-12-06 15:12] albanD commented on #30632
My idea here is that contrary to the existing api. You just ask for an output value. You don't need to worry about how the autograd get these values. So the idea:
- If the input does not require gradients, we will change that internally without changing the value given by the user.
- If the input already does require gradients, then we just use it. When we `create_graph=True`, this graph will stil

[2019-12-06 15:33] MatthieuBizien commented on #26112
I see that you have a more recent CUDA version. I will try to update it, and check if the issue is still there.

[2019-12-06 16:18] vadimkantorov commented on #23758
It's also convenient to be able to do `(some_int64_tensor - other_int64_tensor).mean()`, this kind of computation is frequent in accuracy metrics calculation. Currently one should explicitly cast to float() before doing mean(): `RuntimeError: Can only calculate the mean of floating types. Got Bool instead.`

[2019-12-06 16:54] SamPruden opened #30873 "ReduceLROnPlateau detects a plateau during a steady decrease after a spike"
I'm not sure if this is best described as a bug report, feature request, or even documentation clarification. I'm describing an unintuitive and undesired behaviour, but not necessarily a wrong behaviour.

The name and documentation of `ReduceLROnPlateau` suggests that it will step the LR when the loss is no longer decreasing, but that's not how it behaves. It actually steps the LR when the loss is

[2019-12-06 16:58] SamPruden commented on #30873
I should add that in my particular case I've solved this by just not stepping the scheduler until step 1000, so this isn't causing me any real trouble at the moment. It could be pretty painful if this happened deep into a long training session, though.

[2019-12-06 17:03] ngimel commented on #30365
Is using tensor as a loop counter and using tensor for control flow operations necessary/makes benchmark more representative? TorchScript is fine with python numbers, and rewriting the benchmarked function as
[code]
gives
[code]

[2019-12-06 17:12] gchanan commented on #30736
I believe this may be https://youtrack.jetbrains.com/issue/PY-39242?_ga=2.228724636.1685273318.1575652274-333064415.1575652274 and doesn't look related to PyTorch.

[2019-12-06 17:12] #30736 closed

[2019-12-06 17:14] gchanan commented on #30744
Please provide more information.  What version of PyTorch are you using?  How are you building/linking? etc.

[2019-12-06 17:21] vadimkantorov commented on #29697
[code]
Output:
[code]

Also, not sure why milestones is a Counter object. If the user implements some custom serialization (e.g. to HDF5). unusual Counter type makes it slightly unexpected (as opposed to Tensors, scalars, lists, strings, dicts).

[2019-12-06 17:26] gchanan commented on #30775
This seems debatable to me.  You'd need some way of specifying whether its a getter/setter and we don't add very many of these (there are what...~20 in 3 years?)

[2019-12-06 17:29] gchanan commented on #30774
maybe add a "final" specification somewhere.

[2019-12-06 17:31] gchanan commented on #30796
See message about the discussion forum.

[2019-12-06 17:31] #30796 closed

[2019-12-06 17:34] mahmoodn commented on #30570
@mruberry  @xuhdev
I checked with cmake guys and it seems that there is a problem with
[code]
So, the error lies in
[code]
These CXX checks are related to google benchmark which is defined [here](https://github.com/google/benchmark/blob/505be96ab23056580a3a2315abba048f4428b04e/cmake/CXXFeatureCheck.cmake).
It seems that file doesn't log verbosity and it is not clear what is the problem exactly.

I

[2019-12-06 17:36] gchanan commented on #30818
This is out of scope of what I'm currently fixing.  I'm currently fixing the part of scalar handling across the TH->ATen boundary that is: "you returned to me a size `(1,)` tensor, but did you really mean to return me a size `()` Tensor?"

Scalar handing within ops is a bit of a different issue and I believe @ezyang's analysis of this specific case is correct.

[2019-12-06 17:43] gchanan commented on #30844
Hmm...https://docs.scipy.org/doc/scipy/reference/generated/scipy.spatial.distance.cdist.html doesn't do this.  I guess my main question is if this is what you want, why don't you just pass x2 yourself?

[2019-12-06 17:47] gchanan commented on #30862
can you try with version 1.3.1?

[2019-12-06 17:48] develooper1994 opened #30880 "automatically inferring"
## 🚀 Feature

automatically inferring the input size after the first forward pass

## Motivation
https://mxnet.apache.org/api/python/docs/tutorials/getting-started/to-mxnet/pytorch.html
In PyTorch you have to specify the input size as the first argument of the Linear object. Apache MXNet provides an extra flexibility to network structure by automatically inferring the input size after the first fo

[2019-12-06 17:48] eellison commented on #30775
Yea it may not be worth it. I guess an alternative is to develop test mechanism so that properties in JIT & eager stay in sync.

[2019-12-06 17:53] kurtamohler commented on #12013
I just assigned this issue to myself, but if someone else is working on it, please let me know.

[2019-12-06 17:56] zwep commented on #3867
@danFromTelAviv He man, thanks for the code. Will keep that pytorch philosophy in mind!

[2019-12-06 17:58] jerryzh168 commented on #30813
Thanks for the proposal! Yeah I think we are planning to add QuantizedCUDA backend, it's just there is no one working on this right now. I'll be happy to review the PR.

One thing to keep in mind is that we are only quantizing Tensor of dtype `float32` right now, so it might take some effort to support quant/dequant of `float16` and `float64`. I think it would be better to start with `float32` and

[2019-12-06 18:03] Dicksonchin93 opened #30883 "implement unique function for `Half`"
## 🚀 Feature

computing Spearman Rank Correlation Metric needs to utilize rank data values, using torch.unique() accomplishes this but it is not supported for fp16

## Motivation
running torch.unique() on half precision values returns this error

[code]

## Pitch
enable torch.unique for half precision values

## Alternatives

## Additional context

[2019-12-06 18:06] EscapeZero opened #30886 "Windows v141 (14.16) compile regression"
## 🐛 Bug

When trying to compile with VS2019 but targeting v141 toolchain and cuda 10.0 there seems to be some issues with rewrite of dispatching that was done in recent weeks.

This snippet was from building using facebook internal Buck, but I was able to reproduce same thing using cmake.

Compiling with /permissive- fixed the "no matching overload" error, but raises some other cuda errors relate

[2019-12-06 18:09] neginraoof commented on #30764
cc @houseroad:
Error is in caffe2_symbolic for Slice:

Dec 04 14:43:21 test/onnx/test_utility_funs.py:112:
Dec 04 14:43:21 _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _
Dec 04 14:43:21 ../.local/lib/python2.7/site-packages/torch/onnx/utils.py:317: in _model_to_graph
Dec 04 14:43:21     fixed_batch_size=fixed_batch_size, params_dict=params_dict)
Dec 04 14:43:21 ../

[2019-12-06 18:14] houseroad commented on #30764
@supriyar seems related to ONNX->C2 quantization pass, could you please take a look?

[2019-12-06 18:19] lara-hdr commented on #30681
@glenn-jocher, I tried it with onnx 1.6.0 and it does not produce the error.

[2019-12-06 18:19] #30681 closed

[2019-12-06 18:24] lara-hdr commented on #30512
@lironmo, torch nightly should be version 1.4.0.dev not 1.2.0.
With he nightly you won't get the error with batch norm, but it will fail on flatten.
Once  #30751 is merged you could get the latest nightly to export your model.

[2019-12-06 18:37] vadimkantorov commented on #30844
I thought this would simplify inner detection that the same tensor was passed (if optimizations can be applied), but of course - currently I pass it twice.

[2019-12-06 19:00] xuhdev commented on #30570
Is this the same issue as your original comment? If not, could you open a new issue and provide more information (e.g., your system environment, cmake version, PyTorch version)? Can you also manually examine whether you have any regex engine installed?

[2019-12-06 19:02] chenwydj opened #30889 "Negative learning rate does not raise error after the optimizer is created"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:
[code]
[code]
[code]

## Expected behavior

I wonder any reason for not checking the negative learning rate after the optimizer instance is created?

## Environment

 - PyTorch Version: 1.1.0
 - OS: Ubuntu
 - How you installed PyTorch: `pip`
 - Python version: 3.6
 - CUDA/cuDNN version: 10.0
 - GPU models and configuration: 1080Ti

## Add

[2019-12-06 19:04] mahmoodn commented on #30570
Actually yes. But cmake guys says that pthread is something else and there is a problem with cxx features which is related to benchmark/
I have been confused with this problem for some weeks.
The question is how thirdparty/benchmark is included in pytorch build system. [Here](https://github.com/google/benchmark/issues/914).

[2019-12-06 19:06] mahmoodn commented on #30570
Since this thread is going to be messy, I will close it and open a new issue for cxx features. I think this is the main problem.

[2019-12-06 19:07] alnfedorov commented on #30813
Thanks for the feedback @jerryzh168! Sure, you are right. It is better to stick to the float32 right now and keep float16|64 for later work.

I familiarized with PyTorch internals a bit. [Here]( https://github.com/pytorch/pytorch/pull/30882) is a WIP pull request. Can create dummy quantized tensors directly on the CUDA device. Given my current progress, I struggle with the Quantizers. I believe, i

[2019-12-06 19:07] sanekmelnikov commented on #30812
This supposed to work in PyTorch 1.4 (PR#30244)
@schwobr, can you verify that?

[2019-12-06 19:15] saurabheights commented on #3477
@gchanan Please ignore my comment earlier. I have been informed just now by the owner of the system, that due to some glitch the gpus id have been reversed. So, RTX is actually gpu id 1, and not 0. and nvidia-smi gives wrong info. I am really sorry for wasting you guys time.

[2019-12-06 19:19] kurtamohler commented on #12013
Actually, after looking more into this, I think this issue might be a bit too involved for me at this point since I only started working on PyTorch a week ago.

[2019-12-06 19:19] SsnL commented on #30889
Well, the reasoning is that we can't check all cases. For example, this case can't be checked at assignment time unless we write our own dictionary class, and even then you can get around it with `object.__setitem__`. Even if we check at `step`, we can't prevent setting `lr` with an object with custom comparison (so that `lr > 0` is true), but is effectively negative at computation.

[2019-12-06 19:21] chenwydj commented on #30889
Thank you for the explanation!

[2019-12-06 19:21] #30889 closed

[2019-12-06 19:22] supriyar commented on #30764
@kostmo I'm unable to repro this locally so tried to connect to the CI machine, however the docker containers listed on the CI job don't seem valid anymore. Eg. https://circleci.com/gh/pytorch/pytorch/3827886
[code]
Any idea how I can repro this?

[2019-12-06 19:22] kleingeo commented on #30616
I have been using ```gpu_ids='"0,1"``` so I do not need remapping I believe. I tried the model again using```net = torch.nn.DataParallel(net)``` without additionally calling ```net.to(device)``` and the model no longer trains at all now and I receive the above error immediately. I also tried ```net = torch.nn.DataParallel(net, gpu_ids=range(len(['0', '1']))``` but it also does not work.

[2019-12-06 19:42] mahmoodn opened #30896 "FATAL_ERROR "Failed to determine the source files for the regular expression backend""
Using
[code]
I have set the following variables
[code]

However, the setup.py command fails with this error:

[code]
This is a problem with cxx feature check according to that line
[code]
I can not further narrow the issue since there is no verbosity for that error. How can I generate more info?

The complete build output is shown below

[code]
Thanks for any idea.

[2019-12-06 19:49] leofang commented on #30331
Request for patch: #24947

This is a bug fix (for example, see cupy/cupy#2589) for interoperating with other Python GPU libraries like CuPy and Numba that support the `__cuda_array_interface__` protocol. This patch ensures the compliance of the protocol.

cc: @awthomp @beam2d @jakirkham

[2019-12-06 19:50] kurtamohler commented on #13448
This issue apparently doesn't exist anymore. I just ran the reproducer from the first comment and I got this output:
[code]

[2019-12-06 19:50] Godricly commented on #29706
@spandantiwari Can you make sure that demo code works? Thx

[2019-12-06 20:00] bbryndak opened #30899 "Adding max_norm constraint to an Embedding layer leads to an error"
## Max_norm constraint results in strange behavior

Here is a simplified (and meaningless) network where this problem occurs:
[code]
Without max_norm, everything works fine. But when I switch it on, I get an error:

Interestingly, it depends on the batch size. With batch size = 6, it works, but breaks when it is 7 and higher. Also, it always works with CUDA, but it doesn't work on a CPU.

Also, yo

[2019-12-06 20:04] hainow opened #30900 "CUDA error: initialization error (multiprocessing) with Python 3.7"
## 🐛 Bug

The problem is similar to the one described in #2517 and #21092. However, the solutions mentioned in those issues do not work in this case.

## To Reproduce

Steps to reproduce the behavior:

1. Anaconda3 with Python 3.7
2. Pytorch 1.1.0
3. Run the code below to generate some processes in parallel with a single GPU
4. Use the code borrowed from @floringogianu in #2517 with a little chang

[2019-12-06 20:07] hainow commented on #2517
@ezyang yes, please take a look at #30900

[2019-12-06 20:22] IggShaman opened #30902 "inceptionv3 with jit: first ~20 `forward`-s are very slow"
## 🐛 Bug

First 10-20 calls to `forward` are very slow for a jit version of a pre-packaged inception3 model.

## To Reproduce

Code:
[code]

CPU-based run:
[code]

CUDA:
[code]

## Expected behavior

Expecting all `forward`-s to take the same amount of time.

## Environment

[code]

cc @suo

[2019-12-06 20:22] vadimkantorov commented on #30844
Another way would be enabling `squareform=True` argument for pdist: https://github.com/pytorch/pytorch/issues/9406#issuecomment-427149837, but unfortunately this has not been okayed

[2019-12-06 20:27] ezyang opened #30903 "Don't ship protoc in wheels"
Apparently there is a torch/bin/protoc in our whl release.

[2019-12-06 20:33] glenn-jocher commented on #30681
@lara-hdr thanks, I thought I was using the latest version of ONNX, but I guess not. I will install 1.6.0 and try again.

[2019-12-06 20:46] gchanan commented on #30791
Please refer questions to: https://discuss.pytorch.org/.

[2019-12-06 20:46] #30791 closed

[2019-12-06 20:54] gchanan commented on #30657
@hadaev8 please kindly ask questions on the discussion forums: https://discuss.pytorch.org/.  Since this doesn't appear to be a PyTorch bug, I'll close this.

[2019-12-06 20:54] #30657 closed

[2019-12-06 20:56] gchanan commented on #30862
this is almost certainly an installation issue on your end; otherwise a number of people would have reported this.  Can you also try reinstalling from scratch?

Please reopen if you try reinstalling and it doesn't work.

[2019-12-06 20:56] #30862 closed

[2019-12-06 20:58] gchanan commented on #30868
@XuVision thanks!  I reported your issue in the tutorials repo: https://github.com/pytorch/tutorials/issues/759.

[2019-12-06 20:58] #30868 closed

[2019-12-06 20:59] IggShaman commented on #30902
This phenomena doesn't occur with 1.3.1 -

[code]

[code]

[2019-12-06 21:00] gchanan commented on #30807
I don't think non-JIT serialization supports this either.

[2019-12-06 21:13] IggShaman commented on #30902
With
[code]
1.4-dev behaves the same as v1.3.1

[2019-12-06 21:27] Jaisu-1 commented on #29043
Hello, @colesbury I'd like to be assigned this issue.

[2019-12-06 21:49] suo commented on #30902
@krovtakin, can you take a look? Surprising to me that we need that the profiling executor needs that many runs to properly warm up for a model like inceptionv3

[2019-12-06 21:59] colesbury commented on #29043
Thanks you for volunteering to fix it @Jaisu-1, but this appears to be fixed with the current docs.

[2019-12-06 21:59] #29043 closed

[2019-12-06 22:02] jerryzh168 commented on #30813
I think maybe we can use DispatchStub(https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/DispatchStub.h)
see examples of Copy:
https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/Copy.h
https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/Copy.cpp
https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/cuda/Copy.cu

cc @gchanan @smessmer

[2019-12-06 22:04] xsacha commented on #30365
I think the point of this issue is to illustrate how much slower a tensor is so that such bottlenecks can be avoided.

Yes you could replace it with an int, but the point is using a tensor to count should be similar in speed.

No one here is using fizzbuzz, we use much more complicated models that exhibit the same issues but are too complex to post here and identify control flow as being a slow do

[2019-12-06 22:13] ngimel commented on #30365
I don't think that using tensor to count should be similar in speed - it would be a nice bonus if it were, but no one is making you use tensors everywhere. Tensors should be used where it makes sense, and not used where it does not. Also, torch native c++ benchmarks listed here don't use tensors for loops and control flow https://github.com/divyekapoor/ml-op-benchmarks/blob/master/torch_fizz.cc#L1

[2019-12-06 22:18] thorpy1992 opened #30910 "I can't build pytorch 1.3.1 from sources."
I followed the steps from README for building pytorch v1.3.1 from sources but I have this error:
Cmake Error: Error: generator : Ninja
Does not match the generator used previously: Visual Studio 15 2017 Win64
Either remove the CMakeCache.txt file and CmakeFiles directory or choose a different binary directory.

My configuration is:

set CMAKE_GENERATOR=Visual Studio 15 2017 Win64

set CMAKE_GENERA

[2019-12-06 22:19] glenn-jocher commented on #30681
@lara-hdr how did you install PyTorch and ONNX to get this to work? I installed ONNX 1.6 in a new Conda 3.7 environment, but receive an error on `import onnx`. See https://github.com/onnx/onnx/issues/2493

[code]

[2019-12-06 23:03] glenn-jocher commented on #30681
@lara-hdr I tried out a `pip install onnx` command instead of a conda install, and **the pip version of onnx 1.6 does work**, however I'm unable to export my onnx model to coreml (my final destination is an iOS app), as there is an error message regarding an onnx-coreml version constraint **onnx==1.5**, which produces the original error above.

Error message
[code]

To Reproduce
[code]

[2019-12-06 23:10] jamesr66a commented on #26948
@wizardk could you provide the `model.jit` file used in your most recent example? It's hard to diagnose what's going on without it

I did some experiments with the original traced model and the new C++ code and the performance characteristics do not look out of the ordinary on my machine. The majority of cycles are spent in MKL BLAS sgemm or gemv routines. My best hypothesis for the performance de

[2019-12-06 23:38] #30184 closed

[2019-12-07 00:17] jamestwebber commented on #20343
Nice! I ended up doing the sampling I needed outside of PyTorch and then converting things, but it's definitely slower. I'm not sure how small I'd have to chunks things in my case, because the count array has a really wide range of values and so it might get very large in some cases.

So on that note, I've started working on adding BTRS to ATen directly. The CPU version was fairly straightforward

[2019-12-07 00:30] Zalgo2462 opened #30923 "torch.diag() fails on BoolTensors"
## 🐛 Bug

You cannot create a diagonal matrix from a boolean tensor in pytorch.
## To Reproduce

Steps to reproduce the behavior:

1. Open a python terminal
1. `import torch`
1. `labels = torch.tensor([True, False, True], dtype=torch.bool)`
1. `diag = labels.diag()`

The error returned is `RuntimeError: _th_diag not supported on CPUType for Bool`.

If the tensor is a cuda tensor, then the error is

[2019-12-07 00:31] dylanbespalko commented on #755
@sunilkpai,

I have added the AVX support for `exp()` using the equation provided.

I also noticed some things were broken due to some recent changes in PyTorch. I have fixed these in #30871.

[2019-12-07 00:31] Zalgo2462 commented on #30923
For now, I am using uint8 tensors to get around this, but I run into the deprecation warning about indexing using uint8 tensors.

[2019-12-07 01:12] mruberry commented on #29697
Thanks @vadimkantorov! We'll take another look.

[2019-12-07 03:58] peterjc123 commented on #30910
Please try `python setup.py build --cmake` instead.

[2019-12-07 04:05] LinGeLin commented on #20963
the same question

[2019-12-07 04:08] LinGeLin opened #30929 "How to set not to build libtorch_cpu.so and libmkl_*.so dependencies?"
`        linux-vdso.so.1 (0x00007fffa4bfc000)
        libtorch_cpu.so => /home/xxxxx/workfiles/work/pytorch/torch/lib/./libtorch_cpu.so (0x00007f63d4f6c000)
        librt.so.1 => /lib64/librt.so.1 (0x00007f63d4d52000)
        libgcc_s.so.1 => /lib64/libgcc_s.so.1 (0x00007f63d4b3c000)
        libdl.so.2 => /lib64/libdl.so.2 (0x00007f63d4938000)
        libmkl_intel_lp64.so => /lib/libmkl_intel_lp64

[2019-12-07 04:09] LinGeLin commented on #30929
I build id with
[code]

[2019-12-07 04:20] peterjc123 commented on #30886
The first one seems to be a VS bug, because it cannot be reproduced either in VS 2019 and VS 2017 14.11. About the second one, I never tried that so I actually have no idea on this.

[2019-12-07 07:24] xiaodao2049 opened #30930 "nn.CrossEntropy as a self defined Module's member cause CPU OOM"
Hello, I build a net and I made the nn.CrossEntropy as a member of my net, During training phase, the CPU memory is keeping going up. I want to know why this happens

[2019-12-07 09:20] rgommers commented on #22346
`mkl-dnn` in `third_party/ideep/mkl-dnn/` is currently at `v0.21.1`. It enable `-Werror` only if `MKLDNN_WERROR` is set to `ON`, which is not default. gh-22910 was merged, and I can no longer reproduce this issue. So pretty sure it was fixed, closing.

[2019-12-07 09:20] #22346 closed

[2019-12-07 09:41] hameerabbasi commented on #28361
Okay, the other alternative here is to use `__tensor_wrap__` and `__tensor_finalize__`. What these two protocols do is essentially pre- and post-processing when "wrapping into a subclass".

However, cautionary note: These have exactly the same problem with `super` that we just discussed (i.e. things will be processed in the wrong order in your example).

How about this: use a metaclass that inject

[2019-12-07 09:43] rgommers commented on #24070
gh-22910 was merged, and I confirmed that building against Intel OpenMP with `MKLDNN_THREADING=OMP:INTEL` works as expected. So closing.

[2019-12-07 09:43] #24070 closed

[2019-12-07 09:51] rgommers commented on #12896
Support for `expand` and `expand_as` was added in Dec 2018, as reported in https://github.com/pytorch/pytorch/issues/10882#issuecomment-478213419. There's a test for `expand` in `test/onnx/test_operators.py`, and `expand_as` is defined in terms of `expand` in `torch/onnx/symbolic.py`.  Also confirmed that the example using `expand_as` given in the description of gh-10882 works with current master.

[2019-12-07 09:51] #12896 closed

[2019-12-07 10:14] rgommers commented on #29137
Also confirmed that this was a regression between v0.4.1 (which behaves the same as this PR) and v1.0

[2019-12-07 11:28] meganset opened #30931 "C++ dcgan example failing on generator"
## 🐛 Bug

Running the c++ example fails when running the forward calculation on the generator:

`what():  Calculated padded input size per channel: (1 x 1). Kernel size: (4 x 4). Kernel size can't be greater than actual input size (check_shape_forward at /pytorch/aten/src/ATen/native/Convolution.cpp:436)`

Is this due to recent changes to use NNPACK for strided convolutions..?

(There's also a war

[2019-12-07 13:08] traits opened #30932 "Windows Build fails"
## 🐛 Bug

For some days, I have a broken build on Windows (cf. appended error message)

## To Reproduce

Steps to reproduce the behavior:

1. Pull master, submodules etc.
2. (Opt.) clear build directory
3. Build pytorch

## Expected behavior

A finishing build

## Environment

PyTorch version: N/A
Is debug build: N/A
CUDA used to build PyTorch: N/A

OS: Microsoft Windows 10 Pro
GCC version: Could

[2019-12-07 15:05] nothingeasy commented on #15609
could you give more details about how to manually mapping the path on pycharm

[2019-12-07 15:13] wangwwno1 commented on #15609
See [this PyCharm doc](https://www.jetbrains.com/help/pycharm/creating-a-remote-server-configuration.html) for details.
You can locate the path to local storage at the Project View -> External Libraries -> Your Environment -> Remote Libraries, then right click and choose "Copy Path"

[2019-12-07 15:38] Simona787 commented on #30862
Yes, I've installed it from scratch,but still get the same problem.
I even try to install from source, And here occures another error
![2019-12-07 23-35-35屏幕截图](https://user-images.githubusercontent.com/17819275/70377037-85b92880-194a-11ea-83f1-d6782e7d34ea.png)

[2019-12-07 15:40] Simona787 commented on #30862
Yes, I've installed it from scratch,but still get the same problem.
I even try to install it from source, but here occures another error
![2019-12-07 23-39-37屏幕截图](https://user-images.githubusercontent.com/17819275/70377068-de88c100-194a-11ea-9d09-da6ee2fae43e.png)

[2019-12-07 16:05] PoonKinWang opened #30933 "The DepthWise Convolution with 3*3 kernels is operating faster than that with 1*3 or that with 3*1."
I found that the DepthWise Convolution with 3×3 kernels is operating faster than that with 1×3 or that with 3×1. Theoretically, the 1×3 convolution has the same number of unfolded tensors as 3×3, and it has a smaller area needed to be considerated, therefore its resource consumption should be less, or equal at lease. Can you give me some advices to address the problem? I want to know the reason. T

[2019-12-07 16:11] ivannz opened #30934 "Spurious negative output in convolution of positive tensors"
The gist of the issue is that at one point in my network in my project I feed positive float32 inputs `X` and `W` into a 1d (or 2d) convolution, but unexpectedly obtain explicitly negative outputs.

## Details
The X input is nonnegative about 1e-2 with many explicit 0 (after an elementwise square, or abs), and the W input is positive but with quite large range of [1e–8, 1e+8] (after an exp). I tak

[2019-12-07 17:04] peterjc123 commented on #30932
So the compiler is complaining about `std::is_fundamental<c10::Half>` being false. Is that true, @ezyang?

[2019-12-07 17:15] peterjc123 commented on #30932
Well, it should be true because it was set here: https://github.com/pytorch/pytorch/blob/master/c10/util/typeid.h#L51.

[2019-12-07 18:07] peterjc123 commented on #30932
The following code gets 0 as an output in VS 2019 16.4, but 1 in VS 2017. It is likely a VS bug.
[code]

[2019-12-07 18:47] jamesr66a commented on #30848
Hypothesis deadline testing is now disabled altogether so we can reenable this test (if needed, on a plane and haven’t checked)

[2019-12-07 19:35] SsnL commented on #30934
Note that some conv algorithms like fft and winograd (ones not using naive im2col+gemm) are not simply adding positive numbers and floating point precision could potentially give you negative output values.

[2019-12-07 20:10] rgommers commented on #13039
Here is a complete reproducer including writing a file so one doesn't need to download anything as in the issue description:

[code]

To see the segfault, save the above reproducer as `torch_issue_13039.py` and do the following:
[code]
This is quite reproducible, but not 100%. If it doesn't happen, run the last command a few times. For me the segfault happened about 80% of the time.

Pyarrow 0.14.

[2019-12-07 20:10] #13039 closed

[2019-12-07 20:50] ghltshubh commented on #21016
@soumith FYI my stack trace looks like the following:

[code]

[2019-12-07 20:51] SsnL commented on #21016
It might be useful to test
1. does this happen with normal python multiprocessing
2. does this happen if one run data loader with different multiprocessing start methods

[2019-12-07 21:30] suo commented on #30778
This is fixed now.

[2019-12-07 21:30] #30778 closed

[2019-12-07 23:31] fehiepsi opened #30936 "[jit] runtime error with backward of matmul and squeeze"
## 🐛 Bug

The following code throws the error `RuntimeError: Function torch::jit::(anonymous namespace)::DifferentiableGraphBackward returned an invalid gradient at index 0 - got [] but expected shape compatible with [2]
`

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

No error happens

## Environment

 - PyTorch Version (e.g., 1.0): 1.3.1
 - OS (e.g., Linux): Li

[2019-12-08 01:11] rohan-varma commented on #30290
I'm closing this issue as the different RPC backends don't have duplicated code anymore. @pritamdamania87's original comment in the referenced PR was with regard to a line `PythonRpcHandler::getInstance().cleanup();` and other duplicated code, but this call has since been eliminated from C++.

[2019-12-08 01:11] #30290 closed

[2019-12-08 01:22] #30930 closed

[2019-12-08 01:52] bhavika commented on #9446
Another possible source of the issue could be that your C dimension from the tensor must appear first. For example, if you get a tensor (600, 600, 3) - the shape for your transform may need to be (3, 600, 600).

You can achieve this using -

`image = image.view(3, 600,600)`

Now pass this image to your transform. Hope this helps!

[2019-12-08 02:09] ghltshubh commented on #27807
What's up with cudaMalloc?

[code]

[2019-12-08 03:31] gentelyang opened #30938 "bert model encoding error on python3.6.8"
data_config: {'world_size': 1, 'rank': -1, 'persist_state': 0, 'lazy': False, 'transpose': False, 'data_set_type': 'supervised', 'seq_length': 256, 'eval_seq_length': 256, 'samples_per_shard': 100}
configuring data
Traceback (most recent call last):
  File "pretrain_bert.py", line 490, in <module>
    main()
  File "pretrain_bert.py", line 417, in main
    (train_data, val_data, test_data), tokeni

[2019-12-08 04:02] TracyYXChen commented on #5486
I met "'NoneType' object is not callable" error

[2019-12-08 05:29] houseroad commented on #30331
Request for patch: https://github.com/pytorch/pytorch/pull/30939

Support exporting aten::copy_ and aten::index_put to ONNX opset 11

[2019-12-08 05:49] wizardk commented on #26948
@jamesr66a Thanks for your helpful reply. I did a memory traffic experiment and it turned out to be the same as you said. Bigger continuous memory, more parallel tasks, slower execution speed. I will try to compress model in CPU mode or move the parameters to GPU.

@suo Thanks for your help as well.

[2019-12-08 05:49] #26948 closed

[2019-12-08 05:54] jamestwebber commented on #20343
Following up on that...I started adding to `Distributions.cpp` but now I see `sample_gamma` is defined in `Distributions.h` in a way that I guess works for both CPU and CUDA. Should I do that?

[2019-12-08 05:54] Neeyan opened #30940 "AssertionError: Torch not compiled with CUDA enabled"
## ❓ Questions and Help

I installed pytorch by anaconda in a new created environment. Then I followed instructions from https://pypi.org/project/torchvision/.
I can use torchvision in CPU, but in GPU always goes wrong. And I read the list, when I run the _CUDA development tips_ I got the same error.
system: win10; cuda vision: 10.0

**This is the code from the forum:**
`import torch
import time
s

[2019-12-08 06:08] minygd commented on #28820
@zr526799544
What's the meaning of `--shm-size = your size G` in you comment?

[2019-12-08 06:10] ngimel commented on #30934
Confirmed that in this case fft algorithm is used, so results are expected, as @ssnl pointed out. As @ivannz has discovered, setting cudnn.deterministic to True is a roundabout way to disable winograd and fft algorithms to avoid this particular problem, but there are no explicit precision guarantees that cudnn provides.
Setting triage-review label to discuss how we want to handle this.

[2019-12-08 06:13] zr526799544 commented on #28820
I use docker to runing the code so if you want to using docker to run pytorch you need to add --shm-size cmd to size share mem enough to let pytorch to use， then the dataloder  worknum can work.

[2019-12-08 06:14] ngimel commented on #30933
Depthwise convolutions have special templated initializations for 3x3 kernels, 1x3 and 3x1 go to generic less efficient initialization https://github.com/pytorch/pytorch/blob/6848f9abb82edc4e03e34b2c45a6c559a45a6c7c/aten/src/THCUNN/generic/SpatialDepthwiseConvolution.cu#L72-L87. You can experiment if initializing templates for 1x3 actually makes them faster. Closing for now, as it does not seem th

[2019-12-08 06:14] #30933 closed

[2019-12-08 06:15] minygd commented on #28820
@zr526799544
Thanks for your quick reply! : )

[2019-12-08 06:15] ptrblck commented on #27807
`cudaMalloc` allocates memory and PyTorch caches it afterwards for faster reusage.
Do you see any new `cudaMalloc` calls after the fix in the PR?

[2019-12-08 07:05] peterjc123 commented on #30940
Please install a CUDA version of PyTorch and TorchVision according to the steps on https://pytorch.org.

[2019-12-08 07:05] #30940 closed

[2019-12-08 09:11] skysunsun opened #30942 "torch.svd"
## 🐛 Bug

use torch.svd(),I got this
[code]
Shouldn't the shape of S be [30,18]?

[2019-12-08 09:50] lanpa commented on #28765
Agreed, also the metric value is usually from a torch tensor. A key with the same name of its corresponding tensor name makes the code cleaner. (variable name cannot contain spaces)

[2019-12-08 10:08] SsnL commented on #30942
The singular values are returned as a vector since the matrix is diagonal.

[2019-12-08 10:08] #30942 closed

[2019-12-08 10:09] SsnL commented on #30938
The error is not related to pytorch.

I would suggest try loading with other encodings like uft-8.

[2019-12-08 10:09] #30938 closed

[2019-12-08 10:21] ivannz commented on #30934
@ngimel and @Ssnl, thank you! This makes perfect sense to me now: I completely forgot that cudnn uses fft. Since, originally, I encountered the issue in conv1d, I mistakenly assumed that the library does an explicitly nested loop, and deterministic flag controlled serialization of flops in shared memory. I am ashamed to admit that I didn’t know about Winograd’s algorithm at all.

[Lavin, Gray (201

[2019-12-08 10:53] CConory commented on #30681
hallo，can i ask your pytorch version?

[2019-12-08 15:26] Borda opened #30943 "SummaryWriter `add_hparams` requires both arguments"
## 🐛 Bug

I am wondering what the reason behind requiring both params and metrics, why is not allowed to pass just one and the second keep as default `None`

## Expected behavior

 - PyTorch Version (e.g., 1.0): 1.3.0
 - OS (e.g., Linux): Linux
 - How you installed PyTorch (`conda`, `pip`, source): pip
 - Python version: 3.6

## Additional context

[2019-12-08 20:27] filipre commented on #10043
In our computer vision-related problem, we make usage of half-quadratic minimization where one needs to solve a linear system `Ax = b` where A is sparse. Using SciPy, it's trivial to implement but we would like to use PyTorch to bring the calculations to our GPU cluster.

We don't since our problem is quite simple and we were able to derive `A` and `b` by hand. However, I could imagine that there

[2019-12-08 21:44] ezyang commented on #30764
@supriyar Since this is a flaky test you're unlikely to repro it by simply running a CI job once. I'd perhaps see if you can repro the flakiness locally running it in a loop, or perhaps just read the code until you find the bug.

[2019-12-08 21:45] ezyang commented on #30764
If you do want to rerun the CI job, just rerun the entire job from scratch by making a new PR.

[2019-12-08 21:46] ezyang commented on #13448
The sleef issue is not closed. Are you sure you ran your tests on a machine that supports the vectorized instructions necessary to reproduce this issue?

[2019-12-08 21:47] ezyang commented on #30900
Marked as high priority as this seems like a serious problem with multiprocessing, but on Python 3.7 ONLY

[2019-12-08 21:59] ezyang commented on #28361
What is meant here by "dictionary-based dispatch"? I am a bit lost now.

[2019-12-08 22:00] ezyang commented on #30932
Oof. So maybe we should polyfill `is_fundamental` with our own implementation to work around the problem.

[2019-12-08 22:04] PoonKinWang opened #30944 "Torch not compiled with CUDA enabled"
After installing pytorch 1.4 from source, I met this problem when I run `torch.tensor(0).cuda()`. I have installed cudatoolkit=10.0 and cudnn=7.6.4 through conda in advance.
I removed the package and tried to install through pip and it worked perfectly. Therefore I make sure the environment is correct. After, I installed from source again to overwrite the package installed by pip, the traceback `T

[2019-12-08 23:30] muammar commented on #20527
I also am having problems using `MultiStepLR`,  these are the parameters  I use:

[code]

I am getting the current learning rate at each epoch using this function

[code]

What I do to get its magnitude is to call  `scheduler.step(loss)` and  `get_lr(optimizer)`. The output of this looks this way:

[code]
As you can see from above, its behavior is very erratic.  How can this be fixed?

[2019-12-08 23:36] michaelklachko commented on #4107
Just ran into this error while trying to train EfficientNet with batch size 512 on a single GPU.

To reproduce, clone https://github.com/rwightman/pytorch-image-models repo and run this command:
`./distributed_train.sh 1 /imagenet/ --model efficientnet_b0 -b 512 --sched step --epochs 450 --decay-epochs 2.4 --decay-rate .97 --opt rmsproptf --opt-eps .001 -j 8 --warmup-lr 1e-6 --weight-decay 1e-5 --

[2019-12-08 23:56] ikadorus opened #30946 "Wrong initialization with kaiming_uniform_"
## 🐛 Bug

Standard deviation of the uniform distribution is (b-a)/(12)^0.5 where a and b are the bounds of the distribution. In the torch.nn.init.kaiming_uniform_  code :

[code]
Scaling elements by constant will scale variance by its square. This is the case with kaiming_normal_. But in uniform distribution, code is directly affecting the bounds and  standard deviation is directly affected by the

[2019-12-08 23:58] #30946 closed

[2019-12-09 00:02] EnginAlpman opened #30947 "Wrong initialization with kaiming_uniform_"
## 🐛 Bug
Standard deviation of the uniform distribution is (b-a)/(12)^0.5 where a and b are the bounds of the distribution. In the torch.nn.init.kaiming_uniform_ :

[code]
Scaling elements by constant will scale variance by its square. This is the case with kaiming_normal_. But in uniform distribution, code is directly affecting the bounds and standard deviation is directly affected by the bounds.

[2019-12-09 00:28] #30944 closed

[2019-12-09 01:08] xiaodao2049 opened #30949 "TorchScript led to CPU OOM"
Hello, I want to use TorchScript to accelerate my training, but I found my cpu memory is going up and finally blow up, but if I don't use TorchScript, everything is fine. I have no idea if it's a bug, Can you give me some advice?

cc @suo

[2019-12-09 02:22] vadimkantorov commented on #1641
The `out=` solution doesn't support autograd at the moment, right?

[2019-12-09 02:44] xsacha commented on #30949
Is this only with MKL-DNN enabled?

Related issues:
https://github.com/pytorch/pytorch/issues/27971
https://github.com/intel/mkl-dnn/issues/489
https://github.com/pytorch/pytorch/issues/25267

[2019-12-09 03:04] xiaodao2049 commented on #30949
@xsacha  My training phase  was on  GPU and I set cudnn.enabled=True

[2019-12-09 05:07] Guriido opened #30952 "ONNX exporter: graph name does not respect ONNX specification"
## 🐛 Bug

When exporting a model to ONNX format, the default name of the graph is set to `torch-jit-export` which doesn't respect the ONNX specification (all names must adhere to C identifier syntax rules)
https://github.com/onnx/onnx/blob/master/docs/IR.md#names-within-a-graph

## To Reproduce

Steps to reproduce the behavior:

1. use `torch.onnx.export(…)` on any model
2. print(onnx.load('my_exp

[2019-12-09 05:38] AlanCPSC commented on #30843
Thank you for your response. I appreciate your contribution and development of this library for the rest of us. I will try the methods that you have provided during the next tutorial section that I am supervising.

I will respond later on if we run into any unexpected road blocks during setup and installation, otherwise I will mark this issue as closed.

[2019-12-09 05:41] tdas714 opened #30953 "false CHECK FAILED at ../aten/src/ATen/core/function_schema_inl.h"
## ❓ Questions and Help
I've converted custom pytorch model. it raises error when i'm tryin gto deploy on android.
### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.o

[2019-12-09 05:46] knsong commented on #23822
@shirazb Did you ever considering the swap in&out method e.g [Comprehensive techniques of multi-GPU memory optimizationfor deep learning acceleration](https://www.researchgate.net/publication/335367958_Comprehensive_techniques_of_multi-GPU_memory_optimization_for_deep_learning_acceleration) using pytorch?

[2019-12-09 06:08] 1996leo opened #30955 "error C3203: “templated_iterator”:"
D:/STL/software/Anaconda/Anaconda33/envs/DB/lib/site-packages/torch/include\c10/util/order_preserving_flat_hash_map.h(1501): error C3203: “templated_iterator”: 未专用化的 类 模板 不能用作 模板 变量，该变量属于 模板 参数“_Ty1”，应为 real  类型
D:/STL/software/Anaconda/Anaconda33/envs/DB/lib/site-packages/torch/include\c10/util/order_preserving_flat_hash_map.h(1559): note: 参见对正在编译的类 模板 实例化“ska_ordered::order_preserving_flat_hash_

[2019-12-09 07:05] apiszcz opened #30957 "Getting started CPU version on Anaconda requires GPU libraries, probable error/bug in packaging"
https://pytorch.org/get-started/locally/

This install line requires NVIDIA GPU CUDA libraries for the _C.pyd files. Stack traces indicate unable to load _C.dll, when DLL dependency checker is run on the file, it shows linking requirements for CUDA library DLLs.
Selection, Stable, Windows, Conda, Python 3.7, CUDA CPU None
conda install pytorch torchvision cpuonly -c pytorch

This install line does

[2019-12-09 07:13] peterjc123 commented on #30955
Since you are a newcomer for putting up issues, let me tell you what a valid issue should contain.

1. Some info about your environment. This is especially important for build questions. You should contain the version of the compiler, the version of Python and the branch you are trying to build against.
2. Something about what you are trying to do, either building PyTorch or using LibTorch in your

[2019-12-09 07:15] peterjc123 commented on #30957
I tried but it returns `pip3 install torch==1.3.1+cpu torchvision==0.4.2+cpu -f https://download.pytorch.org/whl/torch_stable.html`. I cannot reproduce your issue.

[2019-12-09 07:25] peterjc123 commented on #30957
I also tried out installing the conda package and didn't find any issue there. The logs are listed below:
[code]

[2019-12-09 07:27] peterjc123 commented on #30957
Now that no problems could be found, I will close this issue. Just feel free to reopen when you disagree.

[2019-12-09 07:27] #30957 closed

[2019-12-09 08:59] sergiomena commented on #24957
did you find a solution? I have the same problem

[2019-12-09 09:42] ByronCHAO opened #30960 "index_put_ lack device check for accumulate=True, resulting cuda backend crash"
## 🐛 Bug

if call `input_put_` with argument `accumulate=True` on a cuda tensor `b`,  there is no check for the device of `value` , and a cpu tensor for `value` will cause all following cuda op raise `CUDA error: an illegal memory access was encountered`.

## To Reproduce

[code]

stack traces:
[code]
then any cuda op will cause `CUDA error: an illegal memory access was encountered`
[code]

## Exp

[2019-12-09 10:14] schwobr commented on #30812
It is indeed fixed in 1.4, thanks a lot !

[2019-12-09 10:22] schwobr commented on #30812
Well actually it works well for torchvision's resnet, but not with my custom model. It is better than before but still quite unclear. It might be because of hooks. It looks like this for me:
![Screenshot_2019-12-09 TensorBoard](https://user-images.githubusercontent.com/22182892/70428050-22c4b000-1a76-11ea-94ef-2d8f5893da3f.png)

[2019-12-09 11:59] huohuayuzhong opened #30961 "Assigning int values to autograd tensors by Tensor.data"
## 🐛 Bug

When trying to create a Tensor with int values but requires_grad=True, it comes up with a RunTime Error. But when trying to assign the data of a tensor that requires_grad, no Error reported.

## To Reproduce

Steps to reproduce the behavior:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
RuntimeError: Only Tensors of floating point dtype can require gradients

[2019-12-09 12:50] tzm1003306213 opened #30962 "How can I add masks to parameters"
Hi,

Can I use hook to add a parameter masking function to Conv2d. Specifically, I’d like to add a binary mask buffer to each Conv2d module, during each training step, I need to update the mask buffer and then use it to mask the weight.

Or, is there any method to add masks and apply the masks to Conv2d in a given model.

Thanks!

[2019-12-09 13:09] hameerabbasi commented on #28361
Dictionary-based dispatch is where, inside `__torch_function__`, one uses a dictionary to look up `func` and decide the implementation of the function. This will fail as `B.__add__ is not Tensor.__add__`, and if a class dispatches on the latter, it won't be found in the dict. But I claim this is correct behavior, because using `cls.__add__` would produce the correct behaviour. If a class is `B` or

[2019-12-09 13:14] ezyang commented on #20527
@muammar What version of PyTorch are you on?

[2019-12-09 13:17] pietern commented on #20380
@tbwxmu This issue tracked support for macOS, not for Windows.

[2019-12-09 13:50] harryherold commented on #5013
@ruiyuanlu  Is it also working with Keras?

[2019-12-09 13:58] SunChao3555 opened #30963 "AttributeError: 'Embedding' object has no attribute 'named_paramters'"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)
- [env]

- [main code snippet]
[code]

- [problem]

When I run code:
[code]

 it work

[2019-12-09 14:15] alnfedorov commented on #30813
Also, to make sure that I use the right feature. Am I right to say that CUDA_tensor_applyX is going to be replaced by gpu_kernel in the aten?

[2019-12-09 14:20] thorpy1992 commented on #30910
Thank you, @peterjc123! Unfortunately, I get the same error.

[2019-12-09 14:24] nikitaved commented on #30090
@SsnL, @fritzo, @vincentqb, sum is indeed doing something weird, check this out:
[code]
The gradient should be `1-x`, not `0`.

[2019-12-09 14:26] peterjc123 commented on #30910
What about just cloning the repo again?

[2019-12-09 14:28] peterjc123 commented on #30910
Also, could you please post the full log while you type in those commands?

[2019-12-09 14:37] Evpok opened #30964 "JIT is incompatible with postponed evaluation of Final"
## 🐛 Bug

As per [PEP 563 (Postponed Evaluation of Annotations)](https://www.python.org/dev/peps/pep-0563), typing annotations are not automatically evaluated as definition time starting with python 3.7 when using `from __future__ import annotations`.
This breaks at least [`_jit_internal.if_final()`](https://github.com/pytorch/pytorch/blob/master/torch/_jit_internal.py#L644) but probably other thi

[2019-12-09 14:42] Evpok commented on #30964
Oops, sorry, this seem to be fixed in master. It still doesn't seem to work but this particular issue looks fixed. Closing this

[2019-12-09 14:42] #30964 closed

[2019-12-09 14:54] Evpok opened #30965 "JIT breaks with postponed annotations"
Targetting the correct issue this time, sorry for the noise

## 🐛 Bug

As per [PEP 563 (Postponed Evaluation of Annotations)](https://www.python.org/dev/peps/pep-0563), typing annotations are not automatically evaluated as definition time starting with python 3.7 when using `from __future__ import annotations`.

The solution is to avoid using `__annotations__`  directly in [`jit._recursive.infer_c

[2019-12-09 15:09] artbataev commented on #29099
I have the same issue, and I can't find any method to suppress `mypy` error (except suppressing mypy for the whole file in config)
Minimal code to reproduce the issue:
[code]

Pytorch: `ok`
Mypy: `sample.py:7: error: Signature of "forward" incompatible with supertype "Module"  [override]`

I tried to modify code:
[code]
Mypy: `ok`
Pytorch: `RuntimeError: expected type comment but found 'def' here:

[2019-12-09 15:12] aminsabetsarvestani commented on #28357
Hi, I was wondering if you manage to implement the quantized Faster RCNN ? I'm getting the same error as schema aten::empty.memory_format(int[] size, *, ScalarType? dtype=None, Layout? layout=None, Device? device=None, bool? pin_memory=None, MemoryFormat? memory_format=None) -> Tensor on tensor type QuantizedCPUTensorId; available functions are CPUTensorId, CUDATensorId, MkldnnCPUTensorId, SparseC

[2019-12-09 15:18] develooper1994 opened #30966 "'tensorflow_core._api.v2.io.gfile' has no attribute 'get_filesystem'"
## 📚 Documentation
## 🐛 Bug

Python == '3.7.5'
torch.__version__ == '1.4.0.dev20191208'
torchvision.__version__ == '0.5.0.dev20191209'
tensorflow.__version__ == '2.0.0'
tensorboard.__version__ == '2.0.2'
https://pytorch.org/tutorials/intermediate/tensorboard_tutorial.html
VISUALIZING MODELS, DATA, AND TRAINING WITH TENSORBOARD (CELL 7)
writer.add_embedding(features,
                    metadata=cl

[2019-12-09 15:47] schwobr commented on #30812
I can pretty much confirm that hooks are the problem, however I can't find how to make it work. Basically, every output that is hooked gets put into a tuple (which appears as operation `prim::TupleConstruct`) and then gets immediately unpacked which creates a node `prim::TupleUnpack`. All these nodes flood the graph making it quite unreadable. I'm currently banging my head on `nn.Module` source co

[2019-12-09 15:53] lanpa commented on #29906
I believe this is a bug in tensorboard. Looks like the x-axis is sorted by the leading digit.

[2019-12-09 15:55] lanpa commented on #27030
https://github.com/pytorch/pytorch/pull/30941

[2019-12-09 16:15] ID56 commented on #30931
I had a similar problem sometime back. Try rechecking and increasing the padding in the deconvolutions, particularly the ones near the end of your model.

[2019-12-09 16:30] lanpa commented on #30459
@yangsenius How `mymodel` is defined? I use
[code]
as a mock and there is no error.

[2019-12-09 16:32] albanD commented on #30843
Closing as we do provide conda binaries.
Do re-open if you find missing binaries.

[2019-12-09 16:32] #30843 closed

[2019-12-09 16:48] cpoptic commented on #13040
Currently running Torch 1.3.1 and this problem is definitely still a problem.  Upgrading to 1.3.x did not solve the problem at all.

[2019-12-09 17:01] timlacroix opened #30968 "Categorical.sample too slow"
## 🐛 Bug

Categorical.sample(shape) calls _shape_ times ```torch.multinomial(probas, 1, True)```.
This is slow when we want to get many samples from a large number of classes.

## To Reproduce

Steps to reproduce the behavior:

[code]
Outputs : ```3.16 s ± 117 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)```

## Expected behavior
Shouldn't be slower than a single call to torch.multinomial

[2019-12-09 17:26] muammar commented on #20527
@ezyang This is the version I am using:

[code]

[2019-12-09 17:39] thorpy1992 commented on #30910
It's the same error when cloning the repo again.

The full error file is:

CMake Error: Error: generator : Ninja
Does not match the generator used previously: Visual Studio 15 2017
Either remove the CMakeCache.txt file and CMakeFiles directory or choose a different binary directory.
Traceback (most recent call last):
  File "setup.py", line 756, in <module>
    build_deps()
  File "setup.py", line

[2019-12-09 17:49] vincentqb commented on #20527
The original issue has been addressed in #26423. In particular, there is now a warning against calling schedulers with constant epoch.

[code]

Can you open a new issue with example code? I cannot reproduce.

[code]

I will close the issue for now. Please feel free to re-open or creating a new issue with example code if this continues.

[2019-12-09 17:50] thorpy1992 commented on #30910
It worked with USE_NINJA=OFF. Thank you guys for your support.

[2019-12-09 17:52] peterjc123 commented on #30910
I know why it happens. It is simply because `CMAKE_GENERATOR` and the generators specified in the command conflicts. Let me put up a fix.

[2019-12-09 18:08] gchanan commented on #30803
Just to clarify: are you asking for an enhancement to override the grain_size in parallel for?

[2019-12-09 18:08] albanD commented on #30708
As discussed in triage review. Adding a warning to the doc is the way to go here.

[2019-12-09 18:08] zhangguanheng66 commented on #30899
wired behavior with `max_norm` in `nn.Embedding`

[2019-12-09 18:10] gchanan commented on #30830
can you reproduce without multiprocessing?

[2019-12-09 18:10] gchanan commented on #30830
CC @VitalyFedyunin

[2019-12-09 18:12] zhangguanheng66 commented on #30923
@izdeby Any ideas?

[2019-12-09 18:14] gchanan commented on #3477
I think we've tackled a number of these issues.  I'm going to close this now since we haven't seen a reproduction in quite awhile.  Please reopen if you see this again.

[2019-12-09 18:14] #3477 closed

[2019-12-09 18:16] gchanan commented on #30934
We'll add something to documentation to clarify that this is possible.

[2019-12-09 18:18] zhangguanheng66 commented on #29697
`load_state_dict` func with `MultiStepLR`

[2019-12-09 18:20] gchanan commented on #30900
The described issue seems like a bit of a red herring.  The try/except around spawning is weird in that if it fails you are going to fork after cuda init, which generally doesn't work.

Does spawn not work for you in one of these environments?

[2019-12-09 18:23] meganset commented on #30931
right, the sizes can be off as you set up a model.

but in this case i'm talking about the flagship c++ example in the tutorial,
[https://pytorch.org/tutorials/advanced/cpp_frontend.html]
(the _with_bias_ option has to be changed to just _bias_)

[code]
The above now fails with:
[code]

What has changed?
Was it always incorrectly specified and is now being caught, or a recently introduced check ov

[2019-12-09 18:38] zhangguanheng66 commented on #30966
Could you include the code snippet for reproduction? If it's related to the tutorials, it's also better to open an issue in [pytorch/tutorials](https://github.com/pytorch/tutorials).

[2019-12-09 18:41] vadimkantorov commented on #29697
I’m not sure if only MultiStepLR is affected. It would be nice to test that load_state_dict doesn’t affect learning rates for all schedulers

[2019-12-09 18:42] zhangguanheng66 commented on #30931
Could you provide a code snippet for reproduction?

[2019-12-09 18:44] vadimkantorov commented on #4954
Also https://pytorch.org/docs/stable/search.html?q=nn.gru&check_keywords=yes&area=default duplicates torch.nn.GRU

[2019-12-09 18:45] zhangguanheng66 commented on #30931
@yf225 Any ideas?

[2019-12-09 18:45] develooper1994 commented on #30966
Do you want me to rewrite on pytorch/tutorials?
I think it is about tensorflow(2.0) api changes.

[2019-12-09 18:50] varun-intel commented on #30388
Has anyone had the chance to look into this issue? I want to point out that repeatedly running inference on a small model is an importance use-case in reinforcement learning models such as A3C.

[2019-12-09 18:59] meganset commented on #30931
I think maybe the _nn::Conv2d_ module with _transposed(true)_ isn't being interpreted as a transposed convolution.

I tried to use the above specification, but with _ConvTranspose2d_ but this gets into some other new changes that require a 2nd argument be supplied to the forward call, and this gets trickier with Sequential..

[2019-12-09 19:12] aashish33 opened #30984 "Loss function ignore_index"
I have a simple question. I want to confirm that when I specify a class index in ignore_index, and reduction = 'mean', then the loss is not averaged over the ignored class.

In the documentation, it says "When size_average is True, the loss is averaged over non-ignored targets." Just want to make sure that it will behave the same when reduction is 'mean'

[2019-12-09 19:13] EscapeZero commented on #30886
@peterjc123 I was able to reproduce it with MSVC 14.16.27023, what exact 2017 version did you check? I agree it is fixed in 2019, but not sure about the ability to switch monorepo to 2019.

[2019-12-09 19:19] izdeby commented on #30923
`_th_diag` needs bool support. i've assigned this issue to myself, will fix.

[2019-12-09 19:30] jianyuh commented on #29019
Request for comments in #27477.

[2019-12-09 19:31] ngimel commented on #30934
@ivannz your rule of thumb seems fair. cublas is mostly immune from the particular problem you are seeing (whatever it is doing, it will just sum non-negative numbers), but for cudnn your constraints should be enforced manually.

[2019-12-09 19:41] zasdfgbnm opened #30986 "Wrong result for CPU implementation (m,).addmv((m, 0), (0,)) when BLAS is not used"
## 🐛 Bug

[code]

gives

[code]

To be fixed in https://github.com/pytorch/pytorch/pull/30898

[2019-12-09 19:42] zasdfgbnm commented on #30986
cc: @VitalyFedyunin @csarofeen @ptrblck

[2019-12-09 19:43] zasdfgbnm commented on #30986
This is supposed to be tested in `test_blas_alpha_beta_empty`, but this test has poor coverage that only applies to the code path where BLAS is enabled.

[2019-12-09 19:47] albanD opened #30987 "Remove `.data`"
Even though it is not documented, many users still use it. And it leads to many bugs in user code.
So we should remove it completely to prevent this.
The expected steps are:
- [ ] Add a new api to make a shallow copy that does not share version? Or a cat + unbind function that does not share version counter if that is enough.
- [ ] Remove the use of .data in all our internal code
- [ ] Add warning

[2019-12-09 19:49] albanD commented on #30961
`.data` should not be used. It is not even in the documentation.

You can do many many wrong things if you use `.data`.
I'm going to close this in favor of https://github.com/pytorch/pytorch/issues/30987 that explicitly aims at actually removing `.data`. Feel free to discuss there if you think we should change the outlined plan.

[2019-12-09 19:49] #30961 closed

[2019-12-09 19:52] neginraoof commented on #30952
I'm looking into this. But I assume this is not a blocking issue @Guriido, could you please confirm?

[2019-12-09 20:01] vadimkantorov commented on #30987
I currently have to use `.data` to circumvent version tracking for implementing invertible inplace ops (InplaceBatchNorm + InplaceLeakyRelu). I wish there was a way around that.

[2019-12-09 20:01] kurtamohler commented on #24933
@izdeby, do you still want to work on this? If you want, I can take over it.

[2019-12-09 20:10] peterjc123 commented on #30886
@EscapeZero We test with VS2017 Update 4 in nightly CI, which should be 14.11.25503.

[2019-12-09 20:12] suo opened #30988 "test_rref_context_debug_info is flaky"
Circleci jobs:
https://app.circleci.com/jobs/github/pytorch/pytorch/3811402
https://app.circleci.com/jobs/github/pytorch/pytorch/3832986
https://app.circleci.com/jobs/github/pytorch/pytorch/3834981
https://app.circleci.com/jobs/github/pytorch/pytorch/3844225
https://app.circleci.com/jobs/github/pytorch/pytorch/3858223

cc @ezyang @gchanan @zou3519

[2019-12-09 20:17] albanD commented on #30987
That would be the first point. If you just want to get a copy that does not share version counter. But that new api will only do this. And won't have all the other side-effects of `.data`. That should fit your use case right?

[2019-12-09 20:18] kurtamohler commented on #13448
@ezyang, this machine should at least be running exp256_ps. Here's my environment:
[code]

But maybe it acts differently on Quadro RTX 8000 vs GeForce GTX 1050.

[2019-12-09 20:19] dzk9528 opened #30989 "Does Distributed Data Parallel Support model parallel where output of the model are in different devices?"
By following the tutorial, I combine the model parallel and DDP together but the last layer(the parameter is really large) is doing some model parallel work like this code [source](https://github.com/bindog/pytorch-model-parallel/blob/8d1c0b91d4eb75c861059f4940159b06574189df/model.py#L39). However, it stuck at here

[code]

the gpu list for first DDP is [0, 1, 2, 3]
the gpu list for second DDP is

[2019-12-09 20:37] shirazb commented on #23822
@knsong

To be perfectly frank, this was uni work that I haven't looked at for a number of months. I have looked at swapping, but not for a while, and not for PyTorch specifically. I am not familiar with that paper in particular.

I do recall there may have been some work [1] on implementing something similar in PyTorch to TensorFlow Large Model Support (TFLMS) [2], which was a swapping solution f

[2019-12-09 20:51] izdeby commented on #24933
Hey, @kurtamohler, yeah sure, feel free to take it.

[2019-12-09 20:59] saschalippert opened #30998 "Training model using DataParallel and 2 GPU crashes system or causes gpu getting lost"
## 🐛 Bug

Training the model on two gpus using DataParallel results either in a crash (black screen) or GPU being listed in nvidia-smi as "lost". In the second case the python process will not terminate.

For testing I reduced the batch size to 10 and suddenly the training worked fine. (used batch size 32 before) Using batch size 32 the training crashed my system 100% of the time. To provoke a cra

[2019-12-09 21:01] EscapeZero commented on #30886
@peterjc123 I just did a fresh install of visual studio 2017 which is 14.16.27023 and the templates fail to compile. You don't think that is a valuable version to support?

[2019-12-09 21:15] gordinmitya commented on #26458
The same for me. Is there any workaround?

[2019-12-09 21:15] saschalippert commented on #30998
smi while training with batch size 13

Mon Dec  9 22:13:44 2019
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 435.21       Driver Version: 435.21       CUDA Version: 10.1     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Per

[2019-12-09 21:44] saschalippert commented on #30998
before decreasing and increasing the batch size again step by step, the error was occurring 100% at the time when training straight after booting the system. i even had the same issue running in arch linux. first though i was distro/kernel related. so i installed a fresh linux mint.

now even after a reboot i was not able to reproduce the error with batch size 128 under mint. i am not sure how to

[2019-12-09 21:54] #24575 closed

[2019-12-09 21:54] #24574 closed

[2019-12-09 21:54] #24710 closed

[2019-12-09 21:54] #24711 closed

[2019-12-09 21:54] #24635 closed

[2019-12-09 21:54] #24636 closed

[2019-12-09 21:54] #24768 closed

[2019-12-09 21:54] #24769 closed

[2019-12-09 21:54] #24713 closed

[2019-12-09 22:04] saschalippert commented on #30998
since its very likely psu related (maybe lower efficiency at low temp) i am closing the issue

[2019-12-09 22:04] #30998 closed

[2019-12-09 22:10] rgommers commented on #13448
I also can't reproduce this on a machine that's AVX2 / AVX-512 capable, tried both building from source and a recent nightly.

There are no related changes in `avx_mathfun.h` though, see https://github.com/pytorch/pytorch/commits/master/aten/src/ATen/native/cpu/avx_mathfun.h. May be useful to use `git bisect` to find if and how this was fixed.

[2019-12-09 22:10] rgommers commented on #13448
Or just add a regression test and see if it passes all CI.

[2019-12-09 22:19] vadimkantorov commented on #30987
Yes I think so! :)

[2019-12-09 22:24] zhangguanheng66 commented on #30989
Any ideas? @mrshenli

[2019-12-09 22:26] fritzo commented on #24222
As @Ssnl says, distributions already support batched sampling, e.g.
[code]

[2019-12-09 22:26] #24222 closed

[2019-12-09 22:29] PoonKinWang opened #31004 "The inference speed of the torch compiled manually is slower than the torch build from official binaries?"
I compile the torch(v1.4.0 cudatoolkit=10.2 cudnn=7.6.5) from source with the command "python setup install". And then load the model of shufflenet v2 0.5 with the compiled library(batchsize=8), the speed is 0.0083. But when I load the same model with the torch(v1.3.1 cudatoolkit=10.0 cudnn=7.6.4) build by official binaries through conda, the speed is 0.0075. Why is this fast?

Relevant config:
[c

[2019-12-09 22:31] fritzo commented on #25783
@iffsid another workaround to implement this generically is to cancel unwanted gradients:
[code]
Of course this is inefficient and not very NAN safe, but it should already work for prototyping.

[2019-12-09 22:35] zasdfgbnm opened #31006 "Wrong result for CUDA 9 implementation of (m,).addmv((m, 0), (0,)) for fp16 on some old architecture"
## 🐛 Bug

See the failures in: https://github.com/pytorch/pytorch/pull/30991

The following test fails on CI which has CUDA 9.0:

[code]

with error

[code]

I found this when working on https://github.com/pytorch/pytorch/pull/30898

~~Sorry, I don't have a CUDA 9.0 configuration to reproduce, but the same test succeeds on pip installing the nightly for CUDA 9.2 and CUDA 10.1.~~ Edit: see comment

[2019-12-09 22:39] zasdfgbnm commented on #31006
See also https://github.com/pytorch/pytorch/issues/30986

[2019-12-09 22:42] zhaojuanmao commented on #30989
IIUC, DDP requires input and output signatures of the models in different processes/GPUs/nodes are exactly the same, and models are called in the same order among different processes. if each process runs different divided models, input and output signatures are also different, then it should not work

[2019-12-09 22:43] colesbury commented on #13448
sigmoid() doesn't use avx_mathfun.h anymore. https://github.com/pytorch/pytorch/pull/7341 switched `Vec256<float>::exp()` to use Sleef_expf8_u10 (and Sleef has proper handling of NaN).

The PR that changed `Vec256<float>::exp()` predates this issue, but wasn't in the stable release (0.4.1) at the time.

Note that the open linked Sleef issue is not about NaN handling. It's about about Sleef functio

[2019-12-09 22:43] #13448 closed

[2019-12-09 22:50] dbergh opened #31007 "GPU version of minimal example for libtorch fails with "no kernel image is available...""
## 🐛 Bug

The following GPU version of the minimal example for `libtorch` crashes on `torch::relu` with the error "CUDA error: no kernel image is available for execution on the device".

	#include <torch/torch.h>
	#include <iostream>

	int main() {
	  torch::Device device(torch::kCUDA);
	  torch::Tensor tensor = torch::rand({2, 3}).to(device);
	  tensor = torch::relu(tensor);
	  std::cout << tenso

[2019-12-09 22:58] yf225 commented on #30931
@meganset Thanks for the investigation! Your assessment is correct that after https://github.com/pytorch/pytorch/pull/28917, an `nn::Conv2d` module with `transposed(true)` is not interpreted as a transposed convolution anymore, because the Python equivalent `torch.nn.Conv2d` module doesn't take a `transposed` parameter either.

The tutorial https://pytorch.org/tutorials/advanced/cpp_frontend.html

[2019-12-09 23:24] fritzo opened #31009 "Distributions are not nn.Modules"
## 🚀 Feature
Many users are surprised that `Distribution` objects are not `nn.Module`s, and that updating input parameters does not change a distribution. This issue aims to explain the current state of affairs, explain challenges to making `Distributions` into `nn.Module`s, and collect ideas that might help with such a refactoring.

## Motivation

PyTorch users often try to optimize parameters of

[2019-12-09 23:24] fritzo commented on #24846
See ##31009 Distributions are not mutable `nn.Module`s; rather they are immutable purely functional flyweight objects that bundle together multiple purely functional methods (`.log_prob()`, `.rsample()`, `.entropy()`).

[2019-12-09 23:24] #24846 closed

[2019-12-09 23:29] fritzo commented on #19248
Pyro includes a [Stable](http://docs.pyro.ai/en/1.1.0/distributions.html#stable) distribution, but only `.rsample()` and `.sample()` are implemented, no `.log_prob()` (because it is too expensive).

@ifgovh I'm curious, what are your applications for the stable distribution?

[2019-12-09 23:31] t-vi commented on #31009
I'd add JIT support to the constraints.
I'm still very vaguely hopeful that introducing a calculated param extension like #7313 might help with the constraints and caching. (Interaction of spectral norm / weight norm with hooks and JIT came up recently, too.)
Unfortunately, barring unforeseen interest, I'm not going to be working on it.

[2019-12-09 23:32] fritzo commented on #30968
This appears to be an especially important instance of #11389.
This refactoring will also be necessary for #18906

[2019-12-09 23:49] zhangguanheng66 commented on #31004
Have you tried to run a lot of cases and generate an average value for benchmark purpose? BTW, it would be great if you could provide more code and details for us to reproducing the results.

[2019-12-09 23:52] zhangguanheng66 commented on #31007
@VitalyFedyunin

[2019-12-09 23:57] ngimel commented on #31007
Does pytorch itself work in your environment? GTX780 is compute capability 3.5 IIRC, and support for it was discontinued, see also #30532

[2019-12-10 00:08] ifgovh commented on #19248
@fritzo Hi, thank you for your response. I would like to model superdiffusion in random process by using PyTorch.

[2019-12-10 00:31] PoonKinWang commented on #31004
Thanks for reply.
The test demo is following:

[demo.zip](https://github.com/pytorch/pytorch/files/3942434/demo.zip)

[2019-12-10 00:34] ngimel commented on #31004
There's too many moving parts here. To begin, can you please compile 1.3.1 source tree from source with the same cudnn version as the pre-compiled binaries (7.6.4) and compare the result with the precompiled binaries? That would verify that your build environment is ok. Then we can see if there are some regressions introduced by the different cudnn version or pytorch 1.4

[2019-12-10 00:39] Guriido commented on #30952
Thank you for your answer.
As the graph name can be modified through the `onnx` package, this is indeed not a blocking issue.

[2019-12-10 00:51] as754770178 opened #31016 "Use mse and sgd, the gradient explode"
I calculate coordinate loss in Yolo by mse(nn.MSELoss), and train model by sgd, the gradient explode.
[code]

1. When I use Adam optimizer and mse, the gradient can't explode.
2. When I don't use mse(repalce by ce(nn.CrossEntropyLoss) or iou loss) and SGD optimizer, the gradient can't explode.

cc @vincentqb

[2019-12-10 01:09] rgommers commented on #28361
@hameerabbasi I would suggest to add the `__add__` interaction with multiple subclasses to the test cases in your branch. The discussion is really hard to follow like this; I'd like to be able to figure out more easily if this is a showstopper or a corner case.

Each "constraint" should be a separate test case.

To make progress more easily, it may be useful to add a slow mechanism analogous to Nu

[2019-12-10 01:24] xsacha commented on #31004
Other than the obvious like your compiler and the actual code version being different, I'd say that the third-party libraries used may be different.
One massive one is CUDA 10.2, which the prebuilts do not use.

[2019-12-10 01:27] fuzic opened #31021 "torch.jit.script return type for torch.isinf(Tensor) is bool, but method actually returns tensor"
## Issue description

torch jit thinks that torch.isinf returns a boolean, but in practice it returns a BoolTensor (operates elementwise).

[code]

## Code example

[code]

## System Info
- PyTorch or Caffe2: pytorch
- How you installed PyTorch (conda, pip, source): pip
- Build command you used (if compiling from source):
- OS: mac
- PyTorch version: master
- Python version: 3.7
- CUDA/cuDNN versi

[2019-12-10 01:56] rgommers commented on #19227
Here's a script to run both this test case and the test case in gh-20329 (same issue) in one go and clean up the generated files again:

<details>

[code]
</details>

This indeed gives a `RuntimeError` for PyTorch 1.0, however it works in 1.1, 1.3.1 and current master; gives output:
[code]

This seems fixed, output looks right to me. Can you confirm that this works as expected now @gkossakowski?

[2019-12-10 01:57] rgommers commented on #20329
As mentioned in gh-19227, this works with PyTorch `>= 1.1`. Since this anyway seems like a duplicate of gh-19227, I'll close this (that issue is left open for adding a regression test for now).

[2019-12-10 01:57] #20329 closed

[2019-12-10 01:58] rgommers commented on #20329
@mgrabmair if you have a specific example with a more recent pytorch version than 1.0, can you please add it here?

[2019-12-10 02:16] vincentqb commented on #31016
This may not be a due to a bug in pytorch. I recommend opening a discussion on the forum, [here](https://discuss.pytorch.org/new), to see what would be most appropriate in your case.

If you believe this is due to a bug in pytorch, please provide an example with code so we can reproduce.

[2019-12-10 02:16] #31016 closed

[2019-12-10 02:25] neginraoof commented on #30952
How about using the existing default name "torch-jit-export"?
I understand that this does not comply with the spec. Do you see ant issues when exporting or running the model?

[2019-12-10 02:32] suo opened #31027 "flaky docker pull on android build ci"
On my PRs, I'm seeing a lot of errors that look like:
[code]
Examples:
- https://app.circleci.com/jobs/github/pytorch/pytorch/3873186
- https://app.circleci.com/jobs/github/pytorch/pytorch/3873214
- https://app.circleci.com/jobs/github/pytorch/pytorch/3873247

This happens pretty consistently for PRs but doesn't seem to affect master. @IvanKobzarev maybe?

cc @ezyang @gchanan @zou3519

[2019-12-10 02:42] Yuriscu commented on #15797
I met the same problem when my environment are pytorch0.4.1+cuda9.1 with RTX2080ti, and I solved the problem by applying the following environment: ptorch1.0+cuda10.0+RTX2080ti  .

[2019-12-10 02:51] xiaodao2049 opened #31028 "if...else in TorchScript"
I found a strange phenomenon when I use TorchScript to train my net. I implement a BatchNorm with mask, and there is a if ... else ... branch in my forward function,  during training, CPU memory is keeping going up slowly and finally lead to CPU OOM. When I remove the if...else... , CPU memory will not go up after reach a certain point.

cc @suo

[2019-12-10 03:53] G-YY opened #31032 "subprocess.CalledProcessError: Command '['cmake', '--build', '.', '--target', 'install', '--config', 'Release', '--', '-j', '32']' returned non-zero exit status 1."
## 🐛 Bug

[1331/2730] Building CXX object caffe2\CMakeFiles\torch_cpu.dir\core\blob_serialization.cc.obj
FAILED: caffe2/CMakeFiles/torch_cpu.dir/core/blob_serialization.cc.obj
C:\PROGRA~2\MICROS~4\2019\COMMUN~1\VC\Tools\MSVC\1424~1.283\bin\Hostx64\x64\cl.exe  /nologo /TP -DAT_PARALLEL_OPENMP=1 -DCPUINFO_SUPPORTED_PLATFORM=1 -DONNX_ML=1 -DONNX_NAMESPACE=onnx_torch -DWIN32_LEAN_AND_MEAN -D_CRT_SECUR

[2019-12-10 04:01] jinyu121 commented on #27030
@lanpa Thank You！

But I think #30941 is designed for detection tasks. But what should I do if I want to save the image?

For example:

Now, we can merge and save multiple images using `torchvision.utils.save_image`. The result is like this:

[code]

So, how can we get a image like this:

[code]

Or, like this
[code]

[2019-12-10 04:05] jcw521 opened #31035 "RuntimeError: has_marked_unused_parameters_ INTERNAL ASSERT FAILED at /opt/conda/conda-bld/pytorch_1570910687650/work/torch/csrc/distributed/c10d/reducer.cpp:290, please report a bug to PyTorch."
## 🐛 Bug

I want to use distributed method on pytorch but I got a following error message.
[code]
It seems like because of loss-backward functions.
The weird thing is that the loss-backward functions of other models in front of this error message are worked well.

## To Reproduce
main.py
[code]
Scheme.py
[code]

## Environment
[code]

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @r

[2019-12-10 04:09] zhangguanheng66 commented on #31035
@mrshenli

[2019-12-10 04:17] vadimkantorov commented on #31009
About reparameterizations, there is also this proposal: https://github.com/pytorch/pytorch/issues/28937

If a big refactoring is being thought through, maybe deisgn for invertible ops can also get into core modules: https://github.com/pytorch/pytorch/issues/23756. Also I was wondering, whether it's possible to use torch.log instead of LogTransform etc. Probably some sort of lazy evaluation / stand

[2019-12-10 04:27] DHZS commented on #1355
I modified `train.py` like this:
[code]

And it works for me.

[2019-12-10 04:36] pritamdamania87 opened #31036 "Need to add documentation for c10d.ProcessGroupGloo and c10d.ProcessGroupNCCL"
## 📚 Documentation

As requested in https://pytorch.slack.com/archives/GR2DU0LMP/p1575940117000500?thread_ts=1575576428.006100&cid=GR2DU0LMP, we should add docs for the c10d.ProcessGroupGloo and c10d.ProcessGroupNCCL constructors since calling them directly is a way of initializing multiple process groups on a single node.

[2019-12-10 04:40] ZisIsNotZis commented on #30987
I'm curious is `.data` "redundant" or "internal". When building custom logger, optimizer and etc, I often use `a.data = b.data` where `b` was a clone of `a`. Literally, this should mean "attach the data of `b` back to `a` without copying", but I'm not sure did pytorch actually do this.

One good thing to have `.data` is that you can do these kind of attaching/detaching conveniently (while you cann

[2019-12-10 05:28] peterjc123 commented on #31032
duplicate of https://github.com/pytorch/pytorch/issues/30932.

[2019-12-10 05:28] #31032 closed

[2019-12-10 06:07] Guriido commented on #30952
ONNX explicitly defines this as an absolute requirement of the specification, and third party tools based on ONNX may use the name as an identifier. So even if the export itself does not result in an error, the non-compliance with the specification would raise issues when used with onnx-based software down-the-road.

An use-case is using the exported graph as a function in a C code, where the name

[2019-12-10 06:23] lzxzy opened #31037 "Tutorial Error for "Using the PyTorch C++ Frontend""
## 📚 Documentation

Hi, when I try to follow the tutorial **Using the PyTorch C++ Frontend**. At the beginning of the article，the toy example CMakeLists.txt was written like this:
[code]

But I get the **error** `error: #error You need C++14 to compile PyTorch`.
I guess in the latest libtorch version, you may use some C++ 14 features. So, I change the last line in CMakeLists.txt to `set_property(T

[2019-12-10 06:30] suo commented on #31028
Hi, this is definitely not expected behavior. Can you provide us with your environment, what version of PyTorch you are running, and a script that we can run to reproduce the issue? That would help us debug this issue. Thanks!

[2019-12-10 06:32] suo commented on #30949
Hi @xiaodao2049, is this a duplicate of https://github.com/pytorch/pytorch/issues/30949? If so, can you close this issue? Thanks!

[2019-12-10 06:33] #30949 closed

[2019-12-10 06:34] suo commented on #30965
We would be very interested in a PR that fixes this behavior :). However, we need to keep in mind that we support the last three major versions of Python (3.6, 3.7, and 3.8), so it may complicate the issue.

cc @driazati who may be interested

[2019-12-10 06:43] shongi-yd commented on #30744
I am using libtorch 1.4.0. I am building it from source using the cmake provided with the libtorch. I'm linking it with our in-house package.For linking I am providing path to the libtorch in my own cmake file and -ltorch flag while linking .

[2019-12-10 06:48] xiaodao2049 commented on #31028
**Environment**
PyTorch version: 1.3.0+cu100
OS: CentOS linux 7.2.1511
Python version: 3.6

CUDA version:10.1
Driver Version: 418.15
GPU : Tesla P40*4
cuDNN version: cuda-10.0-cudnn-7.3.0

[2019-12-10 06:51] xiaodao2049 commented on #31028
**Environment**
PyTorch version: 1.3.0+cu100
OS: CentOS linux 7.2.1511
Python version: 3.6

CUDA version:10.1
Driver Version: 418.15
GPU : Tesla P40*4
cuDNN version: cuda-10.0-cudnn-7.3.0

@suo Hi, this is my environmen information.

[2019-12-10 06:53] suo commented on #29099
Unfortunately, as @t-vi mentioned, PyTorch does not play well with mypy, because the common usage is to override `forward()` in your module with a type signature that will not match the supertype `nn.Module` `forward()` signature.

The easiest workaround at the moment is to disable mypy entirely for the file. Since you are putting the module into TorchScript anyways, you will get type safety since

[2019-12-10 07:08] suo commented on #29099
One *other* alternative is to replace the current:
[code]
with the more permissive:
[code]
The current signature basically will always fail to type check, because mypy enforces that the subclass method's input types must be "wider" than their superclass method's input types (i.e. they can vary contravariantly). And nothing is wider than `Any`.

This change would ensure mypy doesn't complain to you

[2019-12-10 07:59] simunovic-antonio opened #31038 "Pytorch 1.3.0 on RTX cards: CUDA error: an illegal memory access was encountered"
Hi, after upgrade from torch==1.2.0 to torch==1.3.0 (or 1.3.1) I'm seeing these errors in my application running on RTX cards:

**CUDA error: an illegal memory access was encountered**

Error happens randomly in different parts of code, when accessing cuda functions.
For example: image_tensor = self.tensors[image_size].cuda(non_blocking=True)
System runs fine for a while, and then starts producing

[2019-12-10 08:09] peterjc123 commented on #31037
Would you please put up a PR in https://github.com/pytorch/examples/tree/master/cpp?

[2019-12-10 08:09] dbergh commented on #31007
If I run on CPU only, everything is fine. If I use python, everything is also fine. Running the script:

    import torch

    device = torch.device("cuda:0")
    tensor = torch.rand([3, 2]).to(device)
    tensor = torch.relu(tensor)
    print(tensor)

produces the output:

    tensor([[0.1941, 0.0027],
            [0.0975, 0.3692],
            [0.8611, 0.3296]], device='cuda:0')

(Here I am using

[2019-12-10 08:11] xiangxianzhang opened #31039 "dataloader memory leak, help!!"
We have a billion pieces of data， so, source code put all data to memory is not work. i use dataloader + yield , every batch load data to memory, but gpu memory continue increase. i just test load data, not begin train. I try all clear memory methods（torch.cuda.empty_cache() ... ）, but not work.
This is my read data code
[code]

[2019-12-10 08:22] lzxzy commented on #31037
Of course, It's my pleasure. I'll put up that as soon

[2019-12-10 08:23] peterjc123 commented on #31039
First, please fill in the issue template to contain more info about your environment.
Second, please delete the unrelated code and turn this one into a minimal reproducible example.

[2019-12-10 08:27] #31039 closed

[2019-12-10 08:46] pietern commented on #31035
You call `loss.backward` more than once.

I would expect the first call to `loss.backward` to compute and accumulate and globally reduce gradients in all parameters across the different models. Then the second call to `loss.backward` would compute and accumulate, but not trigger global reduction (see `reducer.cpp` in `finalize_backward` -- it sets `expect_autograd_hooks_` to `false`).

The code sn

[2019-12-10 09:04] Evpok commented on #30965
Actually, I have just checked and `get_type_hints` is available in 3.6, so I'll have a go at it :-)

[2019-12-10 09:06] wj-Mcat commented on #22676
I fix the issue by following steps:
- pip uninstall tb-nightly tensorboardX tensorboard
- pip install tensorboard

[2019-12-10 09:07] pietern commented on #30989
@dzk9528 What is the problem here?

If this is a question, please post on https://discuss.pytorch.org/ -- we reserve the issue tracker for issues.

[2019-12-10 09:21] #31028 closed

[2019-12-10 09:29] pietern commented on #30616
Right, with `gpu_ids=0,1` it's the same.

I think the problem is hiding where you first construct `net`. Otherwise, where could the parameters possibly be placed on `cuda:1`? Moving parameters/buffers to CUDA land doesn't happen until `nn.DataParallel` kicks in.

[2019-12-10 09:31] pietern commented on #30850
FWIW, this is also needed to enable DDP.

If done, we can easily mix and match RPC with DDP for combined model and data parallelism.

[2019-12-10 09:31] pietern commented on #30850
cc @zhaojuanmao @mrshenli

[2019-12-10 09:32] pietern commented on #28320
@ghartoularos Thanks!

@tharindu-mathew Were you able to resolve this?

[2019-12-10 09:57] henbucuoshanghai opened #31041 "How to load PyTorch model using C++ api"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

[2019-12-10 09:58] henbucuoshanghai commented on #31041
where is the official document?

[2019-12-10 10:30] peterjc123 commented on #31041
https://github.com/pytorch/examples/tree/master/cpp https://github.com/pytorch/tutorials/blob/master/advanced_source/cpp_frontend.rst https://github.com/pytorch/tutorials/blob/master/advanced_source/cpp_export.rst

Last but not least, let's say something more important.

### **Please note that this issue tracker is not a help form and this issue will be closed.**
### **Please note that this issue

[2019-12-10 10:30] #31041 closed

[2019-12-10 10:36] ineventhorizon commented on #28321
Thanks for your help. It worked for me.

[2019-12-10 10:40] jcw521 commented on #31035
Maybe you are right. The error message is occurred at
[code]
However, I can't understand that `loss.backward` functions are processed well in `train_vdb` but not in `train_actor_critic`.
what makes difference? :(

[2019-12-10 11:21] mathmanu commented on #27376
Please fix this. When we create Upsampling with a scale factor, we expect it to export onnx with that scale factor.
If I instead call functional.interpolate() with size as tuple of ints, then the exported onnx graph has scale factor.
How strange - when I provide scale factor, it exports a complicated graph - but when I call with size tuple of ints, scale factor is exported!

[2019-12-10 11:28] meganset commented on #30931
Thanks.
Could work around the current setup by explicitly using the _ConvTranspose2d_ call,
but within the _Sequential_ module, I get tripped up by the 2nd arg of output size,
even though it's optional..

[2019-12-10 11:42] SpaceMeerkat opened #31042 "Using tuples for torch.max()"
## 🚀 Feature
Introduce a torch.max() function that will allow the use of tuples when specifying the dimension over which to evaluate the maximum values in a tensor.

## Motivation

Numpy supports tuples, making this a simple one line problem:
`max_vals = array.max(axis=(1,2,3))`

Whereas, with PyTorch, one must use a more bloated approach:
`max_vals = tensor.max(1)[0].max(1)[0].max(1)[0]`

## Pitc