[2020-07-08 18:27] ezyang opened #41135 "libtorch cmake should PUBLIC ally advertise it as requiring C++14"
In a bunch of our sample CMakeLists.txt, for example https://pytorch.org/tutorials/advanced/torch_script_custom_ops.html#building-with-cmake we explicitly force our end users to specify that the extension is C++14. Modern cmake lets us define a target that will automatically enforce c++14 on downstream users: https://stackoverflow.com/a/46809634/23845 We should use this, and remove those lines.

c

[2020-07-08 18:30] mrshenli commented on #41101
Hey @baobablyh if the context manager idea can support your use case, @zhaojuanmao and I can bring this up to the team in our next meeting. And if there is no objection from the team, we can add a pitch to describe how this can be implemented.

[2020-07-08 18:50] #41047 closed

[2020-07-08 19:39] z-a-f commented on #40316
Please, go ahead -- this is a refactoring issue so it was low-pri for me

[2020-07-08 19:47] vfdev-5 opened #41141 "Sum of two tuples becomes a list in torchscript"
## 🐛 Bug

Sum of two tuples becomes a list in torchscript

## To Reproduce

[code]

## Expected behavior

Output type should be a tuple

## Environment

 - PyTorch Version (e.g., 1.0): '1.7.0.dev20200701'
 - OS (e.g., Linux): linux
 - How you installed PyTorch (`conda`, `pip`, source): conda
 - Build command you used (if compiling from source):
 - Python version: 3.7
 - CUDA/cuDNN version:
 - GPU

[2020-07-08 20:05] z-a-f commented on #40693
When you use quantization the weights are packed and stored in the `_packed_params`. The packed structure is a container that is only supposed to be used by `fbgemm` and `qnnpack`, and it stores information about pointers to the memory location of the raw weight data. That means that if you run it multiple times, it is very likely the "representation" of the `_packed_tensor` will be different. To

[2020-07-08 20:10] z-a-f commented on #39690
I am going to remove the quant label and add the jit/script one, as it seems to this is a larger scope issue

[2020-07-08 20:21] ezyang commented on #4501
I think for ease of testing.

[2020-07-08 20:32] albanD commented on #4501
Like testing edge cases more conveniently than finding a forward that will trigger this special case in the backward?
Do you have a particular example where this is needed?

[2020-07-08 20:35] mruberry commented on #41065
I'm sorry, I'm not sure I understand what you mean by "next action." The documentation describes how to perform inference using the model.

[2020-07-08 20:46] MohamedAliRashad opened #41142 "Support for More Loss Functions"
## 🚀 Feature
Supporting more loss functions like `FocalLoss` or `DICE` natively will be a nice addition, especially as their already implementations to them out there.

## Motivation

Native support for more loss functions will reduce boilerplate code.

## Pitch

Review and addition of loss functions found [Here](https://github.com/JunMa11/SegLoss)

## Alternatives

There is implementations on PyT

[2020-07-08 20:47] ezyang commented on #4501
I think, as a general rule, there should be *some* way to call every function defined in `native_functions.yaml`, in a sort of uniformity argument.

[2020-07-08 20:53] mrshenli opened #41143 "torch.distributed C++ tests not run in CI"
C++ tests defined in `torch/lib/c10d/test` are not run in CI. Same thing occurs to RPC C++ tests.

cc @ezyang @gchanan @zou3519 @seemethere @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @rohan-varma @gqchen @aazzolini @xush6528 @osalpekar @jiayisuse @agolynski @jjlilley @mruberry

[2020-07-08 21:33] netw0rkf10w commented on #34573
Hi guys!
Could you please tell me what is the current state of this?
I would like to implement a different method for computing the attention weights, and was about to split the current `multi_head_attention_forward` into smaller functions, but then fortunately I found this thread so I thought maybe I shouldn't start from scratch.
Thanks a lot!

[2020-07-08 21:48] edwardleardi opened #41148 "Source code for some /_modules/.../.../ not displaying on https://pytorch.org/docs/master/_modules/"
## 📚 Documentation

From the module code overview page: https://pytorch.org/docs/master/_modules/ there are some modules whose source code documentation page isn't properly displaying and instead displays the "*Oops! You've reached a dead end*" page.

e.g.

* https://pytorch.org/docs/master/_modules/torch/__config__.html
* https://pytorch.org/docs/master/_modules/torch/_jit_internal.html
* https:/

[2020-07-08 21:51] jerryzh168 opened #41149 "eager mode quantization should remove qconfig in the (non-leaf module of) quantized model"
After eager mode quantization, we find that qconfig are not removed for non-leaf modules, this will affect future function calls to numeric suite etc.

[2020-07-08 22:05] Pradhy729 commented on #18325
I'm facing the same issue, did anyone figure out a good way to resolve this? @Coderx7 's solution did not work for me.

[2020-07-08 22:09] rohan-varma commented on #40472
https://github.com/pytorch/pytorch/pull/41151, Port of #40115, which fixes bug reported in https://github.com/pytorch/pytorch/issues/37790

[2020-07-08 22:15] ngimel commented on #25081
Closing, all the PRs have landed.

[2020-07-08 22:15] #25081 closed

[2020-07-08 22:15] libinta commented on #38218
I got the same issue with https://github.com/emadRad/lstm-gru-pytorch/blob/master/lstm_gru.ipynb GRUModel on torch 1.5.1 with export code as input1 = torch.randn(100,28,28)
model = GRUModel(input_dim, hidden_dim, layer_dim, output_dim)
torch.onnx.export(model, (input1), "grumodel.onnx")

[2020-07-08 22:30] VitalyFedyunin commented on #37142
Fixed for particular case with #37968 but requires permutations/tags/anything else as more permanent solution.

[2020-07-08 22:37] gchanan commented on #35251
I'm going to close this given it's landed.

[2020-07-08 22:37] #35251 closed

[2020-07-08 22:39] malfet opened #41153 "TensorPipe is shipped as sharedlibrary"
## 🐛 Bug

In general, PyTorch internal dependencies should be linked in statically into libtorch_cpu/libtorch_cuda

cc @ezyang @seemethere @malfet

[2020-07-08 22:47] mrshenli commented on #40472
#41156, port for #41108

This is a doc-only change, no impact on binary. cc @jlin27 @malfet

[2020-07-08 22:57] gchanan commented on #40472
Placeholder for https://github.com/pytorch/pytorch/pull/41139/.

[2020-07-08 22:57] gchanan commented on #40472
Placeholder for https://github.com/pytorch/pytorch/pull/41155.

[2020-07-08 22:58] gchanan commented on #40472
Placeholder for https://github.com/pytorch/pytorch/pull/41152.

[2020-07-08 23:09] weidezhang commented on #39762
thank you. i will take a look and let you know shortly.

[2020-07-08 23:29] anjali411 commented on #40472
Placeholder for https://github.com/pytorch/pytorch/pull/40927 which is a TH to ATen port for addmm. This also enables `matmul` for complex tensors which is important for the release.

[2020-07-08 23:29] #40929 closed

[2020-07-08 23:35] heitorschueroff commented on #40929
https://github.com/pytorch/pytorch/pull/40646 removed the reference but nn_parse.py still uses 'backend_types' so this cannot be entirely removed from preprocess_declarations.py

[2020-07-08 23:55] sandeepkumar-skb opened #41162 "Advanced indexing gradient is extremely slow when there are many duplicate indices"
## 🐛 Bug

We observed a ~2x slowdown in training performance of a detection network when we did broadcast on a tensor.
This broadcasting operation launches the following kernel in the backward pass which completely eats away performance:
https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/cuda/Indexing.cu#L25
The index of the broadcast has a lot of duplicates and the broadcast is d

[2020-07-08 23:56] agadetsky commented on #38681
@nikitaved seems like #39744 is almost finished. Will you be able to work on stable sort PR?

[2020-07-08 23:58] Tylersuard opened #41164 "Pytorch.js would be nice!"
## 🚀 Feature
Tensorflow.js allows tensorflow users to run models in a browser.  They can share models with their friends, and run realtime inference easily.  While ONNX.js exists, I'm finding it doesn't really have a community or any learning resources really except for one youtube video.  The official recommendation is to convert pytorch to onnx to tensorflow to tensorflow.js

It would be nice if

[2020-07-09 00:08] rohan-varma commented on #25162
Another use case for supporting uneven inputs as described in https://github.com/pytorch/pytorch/issues/38174 - it would be useful to avoid the lockup issue @mrcslws described.

[2020-07-09 00:18] nikitaved commented on #38681
Sure, once the PR is approved!

[2020-07-09 00:19] SplitInfinity opened #41165 "[JIT] Test issue to test auto-tagging workflow"
This is a test issue to test the JIT triage workflow.

cc @suo @gmagogsfm

[2020-07-09 00:32] SplitInfinity commented on #41165
Lol

[2020-07-09 00:32] #41165 closed

[2020-07-09 00:43] linbinskn opened #41166 "Problem about type conversion between quantized module and float module"
## ❓ Questions and Help

##### Problem description
I have read the source code about quantization. I found that during the quantizing process. The module in DEFAULT_MODULE_MAPPING will be converted to low-bit type such as integer. But when the module is not in the map, the quantization for it will be skipped. The skipped module will still be a float type. So how can the different type of module(qu

[2020-07-09 01:02] colesbury commented on #41162
The key details are:
- This is in the gradient computation (backward pass)
- There are lots of duplicate indices. The example has 114688 occurrence of a single index.

I don't think the broadcasting is relevant to the performance issue.

This slow performance is expected given the current implementation because of two constraints:
1) The grad for `y` needs to be summed to just a single value (or t

[2020-07-09 01:28] zhangguanheng66 commented on #34573
The new MHA has been landed in torchtext.
https://github.com/pytorch/text/blob/60907bf3394a97eb45056a237ca0d647a6e03216/torchtext/modules/multiheadattention.py#L5

[2020-07-09 01:32] sandeepkumar-skb commented on #41162
Thanks for the suggestion @colesbury. Tried out this suggestion and this indeed brings back the performance!

[2020-07-09 01:34] gmagogsfm commented on #40912
Thanks for the repro. Now I can see a clear error message. There are 2 issues:

1) The immediate issue is that you are putting invocation of bn_function_factory inside forward(), which results a new function object every time forward prop is run. See this github gist to fix that:
https://gist.github.com/gmagogsfm/8b4bc15b5814729cfb323453ae114622

2) As far as I know, torchscript doesn't support ch

[2020-07-09 02:02] Wenbin94 commented on #40693
thank  you

[2020-07-09 02:02] #40693 closed

[2020-07-09 03:46] MrCrazyCrab opened #41172 "Why the CPU utility has reached about 100% when i run libtorch model in VS"
i change my pytorch model into libtorch one and runs it in VS2017. However, i found the consumption of GPU is about 1G which is same as pytorch model run in the python. It is strange that the CPU utility has reached about 100% and never decreased until the program is over.
How should i to slove the p[roblem and decrease the pre-consumption of CPU resource?
Can anyone help me? thanks！
I use windows

[2020-07-09 04:17] weidezhang commented on #39762
Hi @KsenijaS, I changed based on your recommendation.
[issue_v2.tar.gz](https://github.com/pytorch/pytorch/files/4894434/issue_v2.tar.gz). However, the model loading now has issues. RuntimeError: Error(s) in loading state_dict for TrajectoryPredictionSingle:
	Unexpected key(s) in state_dict: "adaptive_avg_pool.2.weight", "adaptive_avg_pool.2.bias".

[2020-07-09 04:19] weidezhang commented on #39762
here is the model file i retrained:
https://www.dropbox.com/s/0astqvqhps318tp/model_epoch1_valloss53.659508.pt?dl=0

[2020-07-09 04:43] thinking-tower commented on #40316
@z-a-f Awesome, I'll get started on it then!

[2020-07-09 06:09] MustafaMustafa commented on #11929
@airsplay
Yes, your solution works. Thank you!

[2020-07-09 06:24] zjjott commented on #41067
yep,this case is No.2 ,to resolve that case ,is it a good idea to  terminal the first process ?

@kiukchung `wait()` function is a block call, `Wait for child process to terminate`,so will not able to end process when other are teminate or finish. however, it also hard to resolve gpu kernel deadlock such as nccl. This is not what I can solve by this PR
Can I make a merge request? or  with some uni

[2020-07-09 06:37] liu-jc commented on #41128
I think it might be caused by the dense gradient?  I found a related comment here _https://github.com/pytorch/pytorch/pull/12430#issuecomment-431128838_. But I think the gradient wrt a sparse tensor should be a sparse tensor as well right?
@apaszke Could you help me confirm whether this is also related to the dense gradient? Thank you.

[2020-07-09 06:41] FabianIsensee commented on #40911
With apex I observe exactly the same behavior. The GPU memory is normal, no leak there. It's all RAM.

When I remove `with torch.no_grad():` the problem still persists but only ~130MB of memory leak each time the validation runs.

Running `gc.collect()` after each iteration works and the memory leak is gone. Not sure what the impact on validation speed is, though.
Interestingly, placing the `gc.co

[2020-07-09 07:09] MagicFrogSJTU commented on #41101
In the source code
[code]
In the single-gpu (not DDP) mode, if a grad is once set, it will always exists. In the later iterations, it will be zero rather than None when it is unused. And this applies to DDP too.
Am I right?
@mrshenli

[2020-07-09 07:22] xuezu29 opened #41177 "The old libtorch version is faster than the new one"
My previous program based on  libtorch  1.0.0 Slow down 100ms after the upgrade. And then I find that the same code ran libtorch1.0.0 would be faster than 1.3.0-1.5.1. That's why?

[2020-07-09 07:27] kiukchung commented on #41067
@zjjott  `process.wait()` will return immediately with a non-zero `returncode` if the process it is waiting for has already terminated. The code below demonstrates this behavior:

[code]

[2020-07-09 07:37] Flamefire opened #41178 "Failure to build on Power9 due to FXDIV_SOURCE_DIR not being set"
## 🐛 Bug

The build (actually the cmake configure) on Power9 architectures fails with a strange error:

[code]

## To Reproduce

Steps to reproduce the behavior:

1. `python setup.py install` on Power9 with the 1.5.* releases and current master branch

## Expected behavior

Build works

## Additional context

I used `cmake --trace` to narrow this down:
- `pytorch-1.5.1/CMakeLists.txt(564):  add_su

[2020-07-09 08:39] baobablyh commented on #41101
I feel such context manager might be able to provide more flexibility for this kind of use cases. However I don't feel that would be very convenient for my use case where we would like to ignore none grad for locally unused params for the entire training and sync model across ranks during ckpt. An init param for DistributedDataParallel would be even better to specify such ignorance for the entire

[2020-07-09 08:43] GeekOrangeLuYao commented on #41064
I think the `fmgr` is empty when the program run. When I get a new `IOWrapper`, :the fmgr will set a new (key -> value) pair in it, so that we can get the `fd` without opening and closing it frequantly.

Yes, I have tried only use `mp.Process` already.  The code is like this:
[code]
The `ScriptReader` is the initially version, the `SynchronizedScriptReader` is add a mutex to control all the `fd.se

[2020-07-09 08:44] baobablyh commented on #41101
In my case used/unused params stay unchanged during the training. It would not help if setting unused parameters with required_grad = false, as the grad of locally unused param get update after backward. Please see my temporary fix here: https://github.com/pytorch/pytorch/pull/41104/files#diff-c269190a925a4b0df49eda8a8f6c5bd3L674

[2020-07-09 09:12] pthinh14 commented on #33813
I am facing the same issue. Any update?

[2020-07-09 09:44] octavianmm opened #41179 "RuntimeError: ONNX export failed: Couldn’t export Python operator qfn"
Hi,
I’m trying to convert a pytorch model to onnx, but the conversion gives the following error:

RuntimeError: ONNX export failed: Couldn’t export Python operator qfn

The definition for qfn is:

class qfn(torch.autograd.Function):
    @staticmethod
    def forward(ctx, input, k):
        n = float(2**k - 1)
        out = torch.round(input * n) / n
        return out
    @staticmethod
    def bac

[2020-07-09 09:51] t-vi commented on #41177
I don't think we can do much here without a reproducing example.

[2020-07-09 10:05] #37735 closed

[2020-07-09 10:06] rgommers commented on #33389
Documentation was added in gh-40962, so now it's really done - closing. Thanks @v0dro and @ngimel

[2020-07-09 10:06] #33389 closed

[2020-07-09 12:22] netw0rkf10w commented on #34573
@zhangguanheng66 Awesome! Thanks a lot!
The code looks very clean. Is there a plan to bring this to the core torch?

I observed the use of `torch.jit.is_scripting()` in the current implementation in `torch.nn.functional` ([here](https://github.com/pytorch/pytorch/blob/5e03a1e9261e86d3ee62481ef40d98ca5f09646c/torch/nn/functional.py#L3915)), but on in your `torchtext` implementation. Would you have

[2020-07-09 13:23] jermainewang opened #41182 "DLPack cannot accept empty CUDA tensor"
## 🐛 Bug

When converting a DLPack object representing an empty CUDA tensor to a PyTorch tensor, it crashes with "CUDA error: invalid argument".

## To Reproduce

Steps to reproduce the behavior:

[code]

1. Run the above `bug.py`.

Error message:
[code]

## Expected behavior

Shall not crash and get a tensor of shape `torch.Size([0])`.

## Environment

[code]

## Additional context

None

[2020-07-09 13:42] pinkhamr commented on #18325
To load it, I found replicating the original file structure with a dummy file sufficed and would allow me to resave the model with a different method. After I realized this was a problem, I saved the model definition separately from the weights and as long as I loaded them in that order I didn't have the module not found issue.

[2020-07-09 13:59] zhangguanheng66 commented on #34573
We have some old usage cases that need it. The new implementation doesn't require this for torchscript support. Let us know if you have any feedback (We plan to include it in torchtext 0.7.0 release by the end of July). For now, we don't have a plan to move it to pytorch core library because we don't want to have two MHA modules in the same library. Plus, the MHA container is more research oriente

[2020-07-09 14:11] mobassir94 commented on #40711
i posted and discussion.pytorch and got no help
dear @pmeier
as you suggested bn to gn layers code here in this post : https://github.com/pytorch/vision/issues/2391
i tried that and it solves my nan issue,so i don't get nan anymore
but
i need 1 more help from you!

i tried your bn to gn swapping code and it works but here is what happening with me :

without groupnormalization swapping my model wo

[2020-07-09 14:16] netw0rkf10w commented on #34573
@zhangguanheng66 Thanks for the reply.

What I plan to do is to refactor `torch.nn.Transformer` to use your new containers, with backward compatibility: loading weights trained with the "previous" implementation must work seamlessly. Do you think this is possible? If yes then moving your code to the core won't break anything...

[2020-07-09 14:17] glaringlee commented on #41177
@xuezu29
Can you share more details? like @t-vi said
Your hardware/software env.
Can example to reproduce. thx

[2020-07-09 14:23] SsnL commented on #40472
https://github.com/pytorch/pytorch/pull/41183

[2020-07-09 14:24] t-vi commented on #41141
One thing to keep a close eye on is what a change here means for shapes (being taken, manipulated and fed into functions).

[2020-07-09 14:25] t-vi commented on #41119
Quite likely, this needs to be processed in setup.py and removed from env.

[2020-07-09 14:30] SsnL commented on #40472
https://github.com/pytorch/pytorch/pull/41184, port for https://github.com/pytorch/pytorch/pull/40344

[2020-07-09 14:33] t-vi commented on #41128
So yes, the problem is that the gradient will be dense.
If we look at `C = A @ B` and some `l = f(C)` with `A` sparse, `B, C` dense, we have that `dl/dA = (dl/dC) @ B.t()` and both arguments in that matmul are dense matrices.
If we wanted to support a "sparsity preserving gradient", we would need to add an entirely different backward.
As a work around, you could probably use scatter ops (an extern

[2020-07-09 14:35] glaringlee commented on #41182
@jermainewang
Can you try a newer version pytorch?
I tried your code with the pytorch built from 1.6 and master branch, no crash happened, I can get an empty pytorch cuda tensor.

My env: ubuntu 16.04 + cuda 9.2 + cudnn7

[2020-07-09 14:36] mrshenli commented on #41101
@MagicFrogSJTU

Yes, this is true. Apps have to manually reset the grads to None if necessary.

[2020-07-09 14:57] mrshenli commented on #41101
A few concerns here:

1. We are kind of reluctant to introduce more and more ctor arguments to DDP, as there are already 9 args, and we know there are quite a few projects that would like to add dedicated args for their use cases as well. We are trying to say no to them, because a) some of them cannot co-exists b) people might be confused about how to set those args when they call the ctor c) this

[2020-07-09 14:58] albanD commented on #40859
I am not sure if I have a full question about this but given a state dict, you can actually fairly easily see the corresponding parameters in a model with functions like:
[code]
This will have subtle difference with the current load state dict function depending if you replace or reuse the existing Parameter.
Also this does not consider Buffers.
Would that give you all the flexibility you need?

[2020-07-09 15:02] zhangguanheng66 commented on #34573
Currently, we don't have a plan to support the pre-trained transformer model with the new MHA container. It was developed to grant flexibility to future research work.

[2020-07-09 15:06] malfet commented on #41178
@Flamefire can you share a full configure log please? And what version of cmake are you using? Failure does not look specific to PowerPC.

[2020-07-09 15:07] #40838 closed

[2020-07-09 15:09] agolynski commented on #41122
Is this indicative of a flakiness during build?
https://github.com/pytorch/pytorch/pull/38628
seems to indicate
"
❄️ 7 failures tentatively classified as flaky
but reruns have not yet been triggered to confirm:
"
Do you care to trigger a rerun?

[2020-07-09 15:17] malfet commented on #41122
Unforutnately fff7795428560442086f7b2bb6004b65245dc11a was deleted from Amazon ECR. Please rebase your PR after https://github.com/pytorch/pytorch/commit/054e5d89432253f2508a1093d05d8b31dece6e5a

[2020-07-09 15:17] #41122 closed

[2020-07-09 15:21] agolynski commented on #41166
We typically use pytorch forum for support questions, did you try posting there?

[2020-07-09 15:25] ttgil commented on #35535
Any updates on this?  Can anyone else share their experience with iOS app store approvals/rejections?

[2020-07-09 15:29] agolynski commented on #41172
changing python frontend to c++ doesn't always give you GPU memory savings, tensors would still need to be allocated on GPU, right?

What is pre-consumption of CPU in this context? How does it compare to pytorch and how the runtimes compare?

[2020-07-09 15:38] kshitij12345 commented on #41122
Oh thanks. I actually tried to trigger it atleast 3 times but faced the same issue.

Thanks will rebase it.

[2020-07-09 15:43] Flamefire commented on #41178
Can you check if the information provided at the bottom of the post is enough? It contains references to the CMake code causing this. In particular the call `add_subdirectory("${FXDIV_SOURCE_DIR}" "${CMAKE_BINARY_DIR}/FXdiv") ` ends up with an empty `FXDIV_SOURCE_DIR` which is caused by the code at https://github.com/pytorch/pytorch/blob/a8bc7545d5998c5e3e0c07f01f8c816cd381904f/cmake/Dependencies.

[2020-07-09 15:47] choidongyeon commented on #30488
Hey @nairbv, were you able to find a workaround for this?

[2020-07-09 15:51] vadimkantorov commented on #24241
Oh, seems it's even documented now.

[2020-07-09 15:51] #24241 closed

[2020-07-09 15:51] Flamefire opened #41186 "Test failures on Power using OpenBLAS/Eigen"
## 🐛 Bug

I have some tests failing on a Power system. As MKL is not (easily?) available there I'm using the automatic fallback to Eigen/OpenBlas.
The failing tests are:
- test_solve_batched_broadcast_A_cpu
- test_solve_batched_broadcast_b_cpu
- test_solve_batched_cpu
- test_solve_batched_dims_cpu

Those are only 4 out of 1961 which fail

## To Reproduce

Steps to reproduce the behavior:

1. `pyth

[2020-07-09 16:00] Flamefire opened #41187 "test_upsampling_not_recompute_scale_factor fails with Eigen/OpenBLAS"
## 🐛 Bug

I'm getting a test failure of test_upsampling_not_recompute_scale_factor

## To Reproduce

Steps to reproduce the behavior:

1. python setup.py install
1. cd test
1. python run_tests.py

[code]

## Expected behavior

Tests pass

## Environment

PyTorch version: 1.5.1

OS: Red Hat Enterprise Linux Server release 7.8 (Maipo)
GCC version: (GCC) 8.3.0
CMake version: version 3.15.3

Python ve

[2020-07-09 16:12] mcarilli commented on #37735
@WaterKnight1998 Fix was merged.  Can you try your code again with the latest torchvision?

[2020-07-09 16:25] ashwinvaswani commented on #31285
@mkorycinski Even I am facing the same issue on Tesla V100. How did you manage to fix this?

[2020-07-09 16:25] MohamedAliRashad commented on #41142
https://github.com/pytorch/pytorch/issues/1249 Dice Loss issue here
https://github.com/pytorch/pytorch/issues/35882 Focal Loss issue here

[2020-07-09 16:59] SsnL commented on #41064
@GeekOrangeLuYao Yes, but I am asking whether it is empty when you start the workers. If you call the reader in main process before starting an epoch, it won't be empty.

[2020-07-09 17:21] AshkanAliabadi commented on #40472
https://github.com/pytorch/pytorch/pull/41190

@dreiss

[2020-07-09 17:36] zhaojuanmao commented on #41101
@baobablyh DDP will not sync and update params with require_grad = false. So if your app knows globally unused params and they will not change, you can freeze these params, DDP will not communicate them.

For params that are unused on some ranks but could be used on other ranks, they have to be set as require_grad = true, otherwise DDP will have de-sync issue. So your issue still exists.

[2020-07-09 17:40] malfet commented on #40988
Thank you for sharing! By the way, I was able to build PyTorch for Raspbian, let me know if you want me to share a wheel with you.

[2020-07-09 17:40] zhaojuanmao commented on #37030
Hey @albanD, I tried to let grad point to DDP bucket buffers, in this case, variable.grad() will be view/slice of bucket buffers.

I tried to call optimizer.zero_grad() after that, it failed because view can not call detach_(). But I tried to call detach() in optimizer.zero_grad(), it worked fine.

I'm wondering whether we can change optimizer.zero_grad() code, check if param.grad is a view, call

[2020-07-09 17:45] malfet commented on #40472
@AshkanAliabadi can you please explain in a few words, why update to pthreadpool is needed in 1.6?

[2020-07-09 17:48] albanD commented on #37030
Hi,

`.detach()` is out of place. So it is the same as doing nothing if you don't use the returned Tensor.
In this case I don't think we can go without the inplace detach.
That being said, you might be able to get a nicer behavior by doing:
If it does not have a grad_fn, do nothing.
If it does have a grad_fn,
  If it is a view: raise a nice error saying that your param's grad cannot be a view that

[2020-07-09 18:05] AshkanAliabadi commented on #40472
Sure.  A critical part of running mobile models efficiently is running ```torch.utils.mobile_optimizer.optimize_for_mobile``` on them on the host to perform a number of optimizations.  This workflow is not supported on Windows.  That is because XNNPACK only recently added Windows support, so updating XNNPACK is a perquisite of enabling that workflow.  XNNPACK itself though, is dependent on a numbe

[2020-07-09 18:15] JiahongXue commented on #40024
@peterjc123 To me, I am not sure if that is the case. I am running 1.5.1 MSVC 2017, cpu + debug version. I pasted entire error message as follows: Unhandled exception at 0x00007FFA5DDDA799 in example_app.exe: Microsoft C++ exception: c10::Error at memory location 0x00000033C53CF770. Few things I tried is restarting my laptop to free out memories, and using lighter models. Speaking of which, I used

[2020-07-09 18:16] neginraoof opened #41192 "Jit remove mutation pass does not replace zero_ and fill_"
## 🐛 Bug

Torch jit remove tensor mutation removes inplace ATen ops and replaces them with the equivalent functional op. The logic to map any inplace op to an equivalent op is to remove the '\_' suffix in op's name. But this logic does not cover a number of inplace ops (fill_, zero_, copy_ etc.).

## To Reproduce

[code]

## Expected behavior

The inplace op in the following graph should be replac

[2020-07-09 18:20] neginraoof commented on #41192
cc @eellison @bzinodev

[2020-07-09 18:39] yangkevin2 opened #41197 "PyTorch should warn when using multiprocessing fork after OpenMP has been initialized (e.g., via torch.zeros)"
## 🐛 Bug

I am trying to have a generator load objects in the background, as in the following example. It hangs when trying to call `torch.zeros` in `split_loader_creator`, but if I remove the seemingly irrelevant line `torch.zeros(152*4, 168*4).float()` near the end, it seemingly can make progress. It also seems fine if I change `152*4` and `168*4` to much smaller numbers. This is on PyTorch 1.5.

[2020-07-09 18:41] #37240 closed

[2020-07-09 18:57] vadimkantorov commented on #41197
just a guess: maybe it uses some crazy multi-threading to reset to zero that tensor? Long time ago there was a similar issue about using OpenCV in the data loader, and that hung. the solution was to disable multi-threading for the OpenCV usage. Maybe you can check if that zero call uses multi-threading and try to force single-threaded execution to check if that's the cause

[2020-07-09 18:57] eellison commented on #41192
Do you mind if I make this into a more concrete issue ? the repro`x[1:3] = data` is a different issue than the `aten::zero_` issue. It is only expected than remove mutation does not replace all inplace ops - it only replaces ops that have an equivalent functional lowering.

[2020-07-09 19:08] yangkevin2 commented on #41197
Thanks, your guess seems to be spot on. When I added `torch.set_num_threads(1)` to the top of the `split_loader_creator` method it stopped hanging. Since this `set_num_threads` is just called in the subprocess, can I assume that it won't affect the number of threads used in the main process, so it won't slow down my other code? Not too familiar with this.

I'll also leave the issue up since it sti

[2020-07-09 19:14] mcarilli commented on #40073
does that mean you fixed the memory leak, and that `torch.cuda.amp` and DDP are innocent?  can we close the issue?

[2020-07-09 19:18] stas00 commented on #33546
Another similar issue that affects multiple tests in transformers.

https://github.com/huggingface/transformers/issues/5639

to reproduce:
[code]

[code]

[2020-07-09 19:35] mcarilli commented on #40497
NaN gradients are expected occasionally, and `scaler.step(optimizer)` should safely skip the step.
NaN loss is not expected, and indicates the model is probably corrupted.
If you disable autocast (`with autocast(enabled=False):`), but continue using GradScaler as usual, do you still observe nans?

(disabling autocast causes everything to run in FP32 once more, so no more speedups, but useful for d

[2020-07-09 19:51] SsnL commented on #41197
also use `torch.multiprocessing` to comm tensors.

[2020-07-09 19:51] baobablyh commented on #41101
Make sense. I think it is very valid concern. Adding a method would work for me as well.

Yeah, private method seems reasonable. We only need to use it for this special case. The user should fully understand how it works and take risk by themselves.

[2020-07-09 19:57] baobablyh commented on #41101
I feel we may not be on the same page. The use case does need such de-sync as we discussed above. Regardless of DDP communicating those param or not, the issue is that current DDP sets none grad to zero grad anyway and the optimizer decays zero grade afterwards even if those params are not used at all on that rank. Here is the code doing the weight decay: https://github.com/pytorch/pytorch/blob/ma

[2020-07-09 19:59] mcarilli commented on #38487
`@torch.cuda.amp.custom_fwd` (without any arguments) + `@torch.cuda.amp.custom_bwd`
- does not cast forward inputs
- ensures calls to _native_ Pytorch methods in custom autograd forward/backward methods are properly handled by autocast
- doesn't know about your `fused_bias_act` extension function, so doesn't do anything to help it.

Therefore, when using a custom extension function within a custom

[2020-07-09 20:03] yangkevin2 commented on #41197
Sorry, I should have mentioned that I did try using `torch.multiprocessing` instead of `multiprocessing` and it didn't change the behavior.

[2020-07-09 20:10] SplitInfinity opened #41201 "[JIT] Test issue for testing workflow to import issue to JIT triage project"
cc @suo @gmagogsfm

[2020-07-09 20:11] SplitInfinity commented on #41201
It works!

[2020-07-09 20:11] #41201 closed

[2020-07-09 20:13] glaringlee commented on #41197
This seems a regression, marked as high priority

[2020-07-09 20:28] rohan-varma commented on #41019
This seems like a legit error, although I tried running the test 1000 times and it didn't reproduce on my devserver.

[2020-07-09 20:29] huangyi1979 commented on #40105
I plan to use `logging.info(os.environ)` in DDP's ctor to dump all environment variables. Is this approach expected? It has two obvious flaws:

1. This method dumps too many things. Do we have any filtering method to pick up what we need only? It seems that those env vars don't have a consistent name pattern.
2. Some env vars may not be set so this method cannot explicitly display them.

Example o

[2020-07-09 20:32] mcarilli commented on #40472
small docstring clarification for `torch.cuda.amp`
https://github.com/pytorch/pytorch/pull/41204

[2020-07-09 20:43] kurtamohler commented on #40215
Hey @hameerabbasi , apologies if you mentioned this in our meetings and I missed it, but I was wondering if you have a plan how exactly to move `torch/tensor.py` into codegen. I'm happy to start helping.

Since many of the methods in that file do more than simply call another method, it seems that we'd want a scheme that's flexible enough to allow each method to continue to have specialized logic,

[2020-07-09 20:51] ezyang commented on #41197
OMP is probably getting borked by the fork. Switching to spawn should also make the deadlock go away.

[2020-07-09 21:02] zou3519 commented on #40472
#41185, port for #41175, which is a documentation update / clarification

[2020-07-09 21:19] malfet commented on #41178
@Flamefire I see, thank you for the explanation. But then, I wonder, why those PowerPC builds are succeeding: https://powerci.osuosl.org/job/pytorch-master-nightly-py3-linux-ppc64le/1128/console

[2020-07-09 21:52] zhaojuanmao commented on #41101
@baobablyh sorry I did not reply it clearly.

1. I understand your issue, and try to echo that setting require_grad = false does not help your issue (not update local unused parameters) here. it does not only resolve your issue and also could cause de-sync/hang

2. but you mentioned your global unused params will not change during whole training, I'm wondering whether you can set these unused para

[2020-07-09 22:28] baobablyh commented on #41101
Ah so sorry for misreading your reply. I got your point now. Yes not communicating global unused params would be a nice optimization for performance.

BTW, do you mind pointing me to the code place which excludes params with require_grad = false from DDP reduction? I thought we always have a spot in bucket even for unused param and communicate the flattened tensor as a whole.

[2020-07-09 22:37] zhaojuanmao commented on #41101
during ddp constructor, if parameter.require_grad = false, it will be filtered out and will not be passed to DDP reducer

[2020-07-09 22:41] osalpekar commented on #32130
cc @lw - Issue tracking Idempotency Keys, which should help make user-RPC retries idempotent

[2020-07-09 23:11] mruberry commented on #41187
Thanks for reporting this issue, @Flamefire. Looks like that test may need a slightly higher tolerance.

[2020-07-09 23:13] mruberry commented on #41186
Thank you for reporting this issue, @Flamefire. That looks like a wild deviation. I don't think we have any builds that test Eigen or OpenBLAS currently, unfortunately.

[2020-07-09 23:24] CBSkarmory opened #41213 "libTorch cpp docs missing to Tensor::item()"
## 📚 Documentation

https://pytorch.org/cppdocs/api/classat_1_1_tensor.html#_CPPv4NK2at6Tensor4itemEv
and
https://pytorch.org/cppdocs/api/classat_1_1_tensor.html#_CPPv4I0ENK2at6Tensor4itemE1Tv

are both missing descriptions.

--------

I am trying to get a `float` out of a `Tensor` (that is a single element, kFloat32) on the GPU.

e.g.
`float x = x_tensor.item()`
However, this gives a compile-time

[2020-07-09 23:26] mcarilli commented on #40911
Ran your repro for 100 iterations, but the issue does not appear to reproduce in my environment (Ubuntu 16.04, python 3.7.7).  I'll try it in an 18.04 container.

[2020-07-09 23:34] rohan-varma commented on #41019
Looks like it reproduces with TSAN.

[2020-07-09 23:47] jlin27 commented on #40472
modify sphinx writer to restore old documentation references
https://github.com/pytorch/pytorch/pull/39086

[2020-07-09 23:50] spandantiwari commented on #38218
@heliqi - can you share a small repro of this issue.

@libinta - could you distill your notebook to a smaller repro.

[2020-07-09 23:56] spandantiwari commented on #33813
From the error stack, this doesn't seem to be an ONNX Runtime error. I have updated the title to reflect that.

@suo @eellison - This error seems to be coming from the alias analysis pass. Would it be possible for you to take a first look?

`RuntimeError: hasSpecialCase INTERNAL ASSERT FAILED at /opt/conda/conda-bld/pytorch_1579022060824/work/torch/csrc/jit/passes/alias_analysis.cpp:300, please re

[2020-07-10 00:00] spandantiwari commented on #41179
@octavianmm - Only native PyTorch operators are supported for ONNX export at this point.

[2020-07-10 00:03] spandantiwari commented on #41118
@sakura-iv  - are you using ONNX_ATEN_FALLBACK for the export? Can you try ONNX export also.

Also, can you share a smaller, more distilled, repro for this issue, including the export code. It will help up investigate faster.

[2020-07-10 00:11] malfet commented on #40472
https://github.com/pytorch/pytorch/pull/41212 that prints a warning if pytorch is incompatible with current GPU

[2020-07-10 01:05] anjali411 commented on #40472
Placeholder for Complex Autograd documentation: https://github.com/pytorch/pytorch/pull/41012

[2020-07-10 01:12] xuezu29 commented on #41177
th x for your reply, The program was written last year based on libtorch 1.0, and recently upgraded libtorch from 1.0 to 1.51. Surprisingly, the inference speed slowed down by 100ms.        GPU:GTX-1660-6G,CPU:i7-4790K, OS:win10, vs2017.

some 1.0.0 code:
'''
std::shared_ptr<torch::jit::script::Module> m_module;
bool Detect::modelInit(const std::string &modelPath)
{
	m_module = torch::jit::load(mo

[2020-07-10 01:51] SplitInfinity commented on #40470
I noticed this in #33472 as well and I assumed it was a known problem.

[2020-07-10 01:54] heliqi commented on #38218
I'm sorry,My model and code are on the Intranet and cannot be provided.

[2020-07-10 02:34] sakura-iv commented on #41118
Wow I tried ONNX_ATEN export and it worked. Many many thanks !!!!

[2020-07-10 03:42] mruberry commented on #41069
Excellent question! I actually looked at this a bit and cuSPARSE does support this operation in half (https://docs.nvidia.com/cuda/cusparse/index.html). So you'd need to edit the dispatch here:

https://github.com/pytorch/pytorch/blob/df252c059c3ea4c04f8c39c3b4c25a3f4572b0b7/aten/src/ATen/native/sparse/cuda/SparseCUDATensorMath.cu#L154

to include half types, then get a system using the newer cuSP

[2020-07-10 04:42] bddppq opened #41226 "The name "Contiguous" in `torch::MemoryFormat::Contiguous` can mislead users into contiguous memory"

[2020-07-10 05:00] bddppq commented on #41226
cc @VitalyFedyunin @ngimel

[2020-07-10 05:13] zjjott commented on #41067
@kiukchung as a simple example. one train will success on 10 hours if there is no any exception. when we launch 2 process, there will be one `rank=0` and `rank=1`.Many user custom exception will be raise when `rank=1`, but this code:
[code]
`processes` is a list which first one is `rank=0`, so it will wait `rank=0` finish,and then check `rank=1`, at least we need wait for 10 hours or more but this

[2020-07-10 05:25] gingerboredman commented on #16357
@fmassa @dai-dao is this still open/unassigned? if it is id like to take a shot at it.

[2020-07-10 05:33] FRahmani368 commented on #30664
Hi, I have the same issue. I got this error "torch not compiled with cuda enabeled" when I want to define a tensor on GPU.
for pytorch installation, I used:
conda install pytorch torchvision cudatoolkit=10.2 -c pytorch
and I have Geforce GTX 1080 Ti
Nvidia CUDA driver is 11.0.197
I am using pycharm.
when I run torch.cuda.is_available() --> I get False.
What is the problem? Please advise me. thank

[2020-07-10 05:37] FRahmani368 opened #41227 "ERROR : torch not compiled with cuda enabled"
Hi, I have an issue with using CUDA. I got this error "torch not compiled with cuda enabled" when I wanted to define a tensor on GPU.
for pytorch installation, I used:
conda install pytorch torchvision cudatoolkit=10.2 -c pytorch
and I have Geforce GTX 1080 Ti
Nvidia CUDA driver is 11.0.197. GPU version 451.48
I am using pycharm.
when I run torch.cuda.is_available() --> I get False.
What is the pr

[2020-07-10 05:43] pmeier commented on #40711
@mobassir94

I can only repeat what @ngimel  and I have already stated: This is an issue tracker, not a help form.

---

That might be related to you not having a minimal example as I suggested in https://github.com/pytorch/vision/issues/2391#issuecomment-653928780. Without one other users and myself included are not willing to debug the problem for you.

---

when i swap bn layers with gn(like yo

[2020-07-10 06:07] kiukchung commented on #41067
@zjjott you are correct that the scenario you describe can technically happen. However if you are using process groups, any collectives API call (`broadcast`, `all_reduce`, etc) on rank 0 that is invoked AFTER rank 1 has failed will raise and exception and fail, so its unlikely that rank 0's process is still alive for 10 hours when rank 1 has failed way before that.

This said, with torch.rpc base

[2020-07-10 06:10] VitalyFedyunin commented on #41226
@bddppq this looks like bug of ` tensor.to(memory_format=torch::MemoryFormat::Contiguous)`
can you please provide me with the case when it returns non-contiguous result

[2020-07-10 06:27] rohan-varma commented on #39973
done in https://github.com/pytorch/pytorch/pull/40066

[2020-07-10 06:27] #39973 closed

[2020-07-10 06:27] xuezu29 commented on #41177
@glaringlee I've sorted out my code, and i have test, which can find it here:[https://github.com/xuezu29/Libtorchtest.git](url)

[2020-07-10 06:27] rohan-varma commented on #39675
done in https://github.com/pytorch/pytorch/pull/38748

[2020-07-10 06:27] #39675 closed

[2020-07-10 06:30] nolifenameless commented on #40729
should i add -c flag to force color output while using ninja ?

[2020-07-10 06:45] bddppq commented on #41226
@VitalyFedyunin
[code]

non-nhwc non-contiguous input tensor will get non-contiguous output.

[2020-07-10 06:54] kooruhana commented on #41010
I am having the same issue. How did you solve it? Thank you.

[2020-07-10 07:00] narpat22 commented on #41010
If you want to run on gpu you can simple use .cuda() instead of .to(device)

```  model = ClassName(params =  . . . ).cuda() ```

[2020-07-10 07:18] lw commented on #40472
Please merge #41229 (port of #41200), which is docs-only. Thanks!

[2020-07-10 07:18] Flamefire commented on #41178
Hm, it should hit the same issue, right. At least the 2nd issue I mentioned is hit:

Further checking the code I see that after 1.5.1 this line was changed: https://github.com/pytorch/pytorch/blob/v1.6.0-rc2/caffe2/CMakeLists.txt#L91

So that directory is only added when USE_XNNPACK is (still) set. This means that the 1.6.0 will work and this issue is specific to older ones. However the PSimd issu

[2020-07-10 07:27] ruiann opened #41231 "output of nn.BatchNorm3d is different after convert to onnx"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

Write a model and convert it to onnx model, use onnxruntime to run it and compare the result.
When use nn.BatchNorm3d, the result is different between pytorch and onnxruntime.
[code]
[code]

## Expected behavior

As there is only one BatchNormalization implement described in [onnx operators](https://github.com/onnx/onnx/blob/master/docs/

[2020-07-10 07:28] zjjott commented on #41067
@kiukchung I have send PR, do you need some unittest? I'll work on it

[2020-07-10 07:34] Flamefire commented on #41186
I was pointed to some Power CI builds (which do use Eigen and OpenBLAS) in another issue recently: https://powerci.osuosl.org/job/pytorch-master-nightly-py3-linux-ppc64le/1128/consoleFull

It seems the tests pass fine there.

Checking the first lines `[1.3259e+00,  0.0000e+00,  0.0000e+00,  ...,  3.9608e+06, 0.0000e+00,  0.0000e+00] == [ 1.3259,  0.0000,  0.0000,  ...,  0.0000,  0.0000,  0.0000]`,

[2020-07-10 07:39] peterjc123 commented on #41227
waht is the output of `conda info`?

[2020-07-10 07:49] Flamefire opened #41232 "Cleanup git branches"
## 🚀 Feature
I'd like to propose cleaning up the branches of the pytorch git repo removing all merged or outdated ones

## Motivation

There are currently almost 3800 branches. Lot's of them refer to closed (rejected) PRs or are outdated or merged (e.g. gh/suo/8/base).
Having this many branches makes it harder to work with the repo as the size increases and every new fork will get all those branch

[2020-07-10 07:53] GeekOrangeLuYao commented on #41064
I think when I use
[code]
Here, the `fmgr` is empty.
However, I find the error do not happen the first several batches, which means, it can print the first several batchs, and then get error. The

[2020-07-10 08:11] Flamefire commented on #41178
I opened PR #41233 for the download issue.

I also noticed that the Dependencies.cmake file could be cleaned up by consistently using a single-definition of `CAFFE2_THIRD_PARTY_ROOT` instead of variations of that, `${PROJECT_SOURCE_DIR}/third_party` and `${CMAKE_CURRENT_LIST_DIR}/../third_party`. I started that in https://github.com/Flamefire/pytorch/commit/e01b4b5d4a95316cecf78eac6f97f10fcae8853a

[2020-07-10 08:25] chuanhuayang opened #41235 "from blob got "terminate called after throwing an instance of 'std::system_error' what(): Unknown error -1 Aborted (core dumped) ""
I want build some preprocess tensor in my c++ code， example as

    # include "common/libtorch/include/torch/script.h"
    # include "common/libtorch/include/torch/csrc/api/include/torch/torch.h"
    # include <iostream>
    # include <vector>
    using namespace std;
    int main(int argc, char *argv[]) {
        // 构建示例输入
        // std::vector<torch::jit::IValue> inputs;
        std::vector<int

[2020-07-10 08:47] sakura-iv commented on #41118
I am so sorry that I still have some problems... I found that if I export this torch model with

operator_export_type = torch.onnx.OperatorExportTypes.ONNX_ATEN

I could not transform this model to tensorflow model, since it raises

 KeyError: 'org.pytorch.aten'

So I think I have to export this model with onnx operator.

My export code is :
`# -----------------------------------------------------

[2020-07-10 09:27] xuyuan opened #41236 ""out of scope" variable `cmd` used"
https://github.com/pytorch/pytorch/blob/df252c059c3ea4c04f8c39c3b4c25a3f4572b0b7/torch/distributed/launch.py#L257

should be `cmd=process.args` ?

[2020-07-10 09:29] mruberry opened #41237 "torch.tan(bfloat16) on the cpu is incredibly inaccurate near pi/2"
[code]

The value should be ~9999.99996666.

cc @VitalyFedyunin

[2020-07-10 09:50] thinking-tower commented on #40316
@z-a-f can you explain what needs refactoring?

[2020-07-10 10:00] neginraoof commented on #41192
We see a similar issue in x[1:3] = data which translates to aten:copy_.
But yeah we can definitely look into certain cases for now.
Thanks.

[2020-07-10 10:03] peterjc123 commented on #40024
@JiahongXue Could you please upload your whole project to a github repo?

[2020-07-10 10:13] peterjc123 commented on #41236
@xuyuan Nice catch! Could you please open up a PR for this?

[2020-07-10 10:14] peterjc123 commented on #41227
@guyang3532

[2020-07-10 10:24] AlbertoCenzato commented on #37068
+1 for windows support

[2020-07-10 10:35] peterjc123 commented on #37068
@mrshenli Could you please make a complete list about what is missing there so that I can contribute if I have time? Would you mind if I start by adding a Windows build job at https://github.com/facebookincubator/gloo?

[2020-07-10 10:39] mruberry opened #41238 "torch.sign(bfloat16) on CPU is wrong on largish tensors"
[code]

Prints:
[code]

Which is obviously incorrect.

cc @VitalyFedyunin

[2020-07-10 10:42] Haydnspass opened #41239 "Make Collate a Class such that extension can subclass it"
## 🚀 Feature
Make the default collate a class instead of a function so that people can subclass for new types but can still use the default collate functionality.

## Motivation
Currently, the default collate is a function that checks the type of the first element of the batch and recursively class itself when containers such as lists or tuples are used. When creating a custom collate function for

[2020-07-10 10:58] mruberry opened #41240 "torch.angle is divergent from numpy.angle"
[code]

vs.

[code]

for example.

cc @ezyang @anjali411 @dylanbespalko @mruberry @rgommers

[2020-07-10 11:14] Flamefire opened #41242 "test_backward_deadlock fails with "Directory not empty""
## 🐛 Bug

I'm running a build &  test on a node without a GPU (installation for a cluster)
One test (`TestCppExtensionJIT`) seems to fail with what looks like a race condition. The error is "OSError: [Errno 39] Directory not empty: 'test_backward_deadlock'"
See output below

## To Reproduce

Steps to reproduce the behavior:

1. python setup.py install
1. python tests/run_tests.py

Part of the outp

[2020-07-10 11:43] vadimkantorov opened #41243 "[discussion] Unite nn modules nn.Something*d to just nn.Something with appropriate options"
I proposed it in https://github.com/pytorch/pytorch/issues/41081#issuecomment-655148816, but maybe a separate issue is a better place to discuss this:

A more radical proposal: unite BatchNorm*d / SyncBatchNorm in one module BatchNorm (with option sync = False|True, especially given that SyncBatchNorm is now established in core and is reasonably common). I think now BatchNorm*d are all same except

[2020-07-10 11:43] sbonner0 commented on #41069
Hi @mruberry thank you so much for this very detailed reply! Although it seems that you have largely done all the work - I can set aside some time at the end of next week to try and give this ago.
Seeing that this seems to require CUDA 10.2, if I was able to get this to work, should it be something that I should consider as a pull request?

[2020-07-10 11:44] mruberry commented on #41069
Yep, it'd be great to get a PR implementing this!

[2020-07-10 11:45] vadimkantorov commented on #39661
Maybe there is already some version of batched mmadd that would handle broadcasting: https://github.com/pytorch/pytorch/pull/40927#issuecomment-653801918

[2020-07-10 12:00] mruberry opened #41244 "torch.tan(complex) on CUDA doesn't handle nonfinite values properly"
[code]

will print:

[code]

The CUDA result (in the middle) is incorrect.

[2020-07-10 12:04] mruberry opened #41245 "torch.sign is divergent from numpy.sign on NaN"
[code]

[2020-07-10 12:23] mruberry opened #41246 "torch.abs(complex) is divergent from NumPy on vectorized NaN values"
[code]

will produce a tensor with mostly `nan` values. NumPy, however, and non-vectorized `torch.abs`, will produce `inf` values.

[2020-07-10 12:27] mruberry opened #41247 "torch.erf(c) type promotion is inconsistent with scipy.special.erf(c)"
`scipy.special.erf` will promote float16 inputs to float32 outputs:

[code]

but PyTorch (on CUDA, where torch.erf(half) is implemented) does not. Maybe we should be consistent with erf?

cc @mruberry @rgommers

[2020-07-10 12:55] Flamefire commented on #41186
Ok, I've been working on this in the 1.5.1 version again and noticed something strange:
If I run `python test_autograd.py` I get the 4 mentioned failures. If I try to run the tests alone via `python test_autograd.py -k test_solve` then the tests pass. Using `--verbose` I see `test_solve_batched_broadcast_A_cpu (__main__.TestAutogradDeviceTypeCPU) ... ok` so that tests looks like it is executed. Th

[2020-07-10 12:57] jbohnslav opened #41248 "Matrix multiplication in loop gives different output than batched"
## 🐛 Bug

In my neural network architecture, I found that running inference on multiple images and then concatenating the results gives different results than batching them. The mean absolute error between the results is somewhere between 10^-6 and 10^-5. This seems large for floating point issues, but I could be wrong. Note: this has nothing to do with batchnorm, eval mode, etc, it's in `tensor.m

[2020-07-10 13:26] maxmx911 commented on #40027
@kimishpatel Hi, so I guess this is some bug that has been overlooked and I shall wait for it to get fixed on the future release?

[2020-07-10 13:29] rgommers commented on #41245
It looks to be like
[code]
is the expected answer here. At least according to the definition where `x < 0` returns 0., because:
[code]

The `np.sign` docstring also deals with complex nan input, so returning `nan` was an explicit decision not just an accident.

[2020-07-10 13:37] rgommers commented on #41247
This is because the ufuncs in `scipy.special` have no support for `float16` at all: https://github.com/scipy/scipy/blob/master/scipy/special/_generate_pyx.py#L21, it's not specific to `erf`. No one ever asked for `float16` support as far as I can remember, and I also cannot find any issue related to it on the SciPy issue tracker.

I think following the normal PyTorch casting rules here and stickin

[2020-07-10 13:55] rgommers commented on #41240
This looks like a PyTorch bug. `angle` is defined for complex input, but:
[code]

For complex input NumPy's behavior returns a value in `(-pi, pi]`:
[code]

Behavior seems to roughly agree, but that script still gives the same warning of `Casting complex values to real discards ....` for `torch`.

<img width="529" alt="image" src="https://user-images.githubusercontent.com/98330/87162059-b2109b00-c

[2020-07-10 14:16] mrshenli commented on #40105
Hey @huangyi1979, thanks for working on this.

We can explicitly consult the env vars that we care, including the following (I might miss some):

1. "RANK"  (see https://pytorch.org/docs/stable/distributed.html#environment-variable-initialization)
2. "WORLD_SIZE"
3. "MASTER_PORT"
4. "MASTER_ADDR"
5. "CUDA_VISIBLE_DEVICES"
6. "NCCL_SOCKET_IFNAME" (see https://pytorch.org/docs/stable/distributed.htm

[2020-07-10 14:38] agolynski commented on #41172
I am going to close this for now. Feel free to reopen with more data.

[2020-07-10 14:38] #41172 closed

[2020-07-10 14:42] agolynski commented on #41166
I am going to close this for now. @linbinskn: please post on PT quantization forum https://discuss.pytorch.org/c/quantization/.

[2020-07-10 14:42] #41166 closed

[2020-07-10 14:50] mrshenli commented on #41101
I am not sure if this can solve the issue. Because if you do the above, all DDP instances need to set `require_grad = false` on the same set of parameters, otherwise, different DDP instances might end up with different buckets, causing AllReduce to fail. IIUC, in your use case, R1 and R2 will need to set `require_grad = false` on a different set of parameters?

[2020-07-10 14:50] Flamefire commented on #41242
This seems to be a concurrency issue. Using a test-local, unique temporary directory for storing the build files (i.e. result of `torch.utils.cpp_extension.get_default_build_root()`) would avoid this.

[2020-07-10 14:56] Flamefire opened #41254 "JIT tests fail with ImportError: generic_type: type "Net" referenced unknown base type "torch::nn::Module""
## 🐛 Bug

Running the JIT tests in `test_cpp_extensions_jit.py` results in `ImportError: generic_type: type "Net" referenced unknown base type "torch::nn::Module"`

## To Reproduce

Steps to reproduce the behavior:

1. build&install
1. python test_cpp_extensions_jit.py

Failure:

[code]

## Environment

PyTorch 1.5.1 and 1.6.0-rc2 show the same behavior

OS: Red Hat Enterprise Linux Server release

[2020-07-10 15:20] ezyang commented on #40215
An implicit part of the goal here is to bind these functions directly from C++, using similar machinery to how the other functions are bound. This would be more performant, and reduce the number of "ways" we have to handle various methods.

[2020-07-10 15:20] malfet commented on #41232
Great idea!
Good first step would be to write a script that would identify fully merged branches and the ones  associated with a closed pull request.
CC: @ezyang, @seemethere, @yns88

[2020-07-10 15:25] ezyang commented on #40729
Forcing color output may not be desirable, e.g., if the output is being piped somewhere else. We probably need to figure out why ninja isn't detecting that its output is going to a ptty

[2020-07-10 15:26] malfet commented on #41238
Sounds like a fun little problem. Self assigning to myself.

[2020-07-10 15:28] Flamefire commented on #41232
An idea for that: `git branch --all --merged  master` gets you almost there. You only need to filter out branches like `HEAD` and `master` itself and probably some release branches like `remotes/origin/v1.0.3` but IMO those are better suited for tags. `wc -l` shows a good 500 of such branches

[2020-07-10 15:32] malfet commented on #41232
Great idea, but this still leaves more than 3000 branches unaccounted for:
[code]

[2020-07-10 15:36] heitorschueroff commented on #3169
Implemented in this PR https://github.com/pytorch/pytorch/pull/41034.

[2020-07-10 15:36] #3169 closed

[2020-07-10 15:43] heitorschueroff opened #41256 "Add nn.functional.swish alias for nn.functional.silu"
SiLU activation function added here https://github.com/pytorch/pytorch/pull/41034 is also known as Swish (see https://github.com/pytorch/pytorch/pull/41034#issuecomment-654496698 for a discussion about it).

To help users find the function we should add an alias for SiLU by the name of Swish once the aliasing system @mruberry is working on is complete.

[2020-07-10 15:50] VitalyFedyunin commented on #41226
This should be fixed.

[2020-07-10 15:55] mrcslws commented on #24137
I would be really happy to see this fixed. We have lots of modules that store masks in buffers. Because of this issue, these modules are forced to use `float16` or `float32` mask buffers rather than `bool` buffers.

[2020-07-10 15:58] SsnL commented on #41239
Relevant proposal: https://github.com/pytorch/pytorch/issues/33181, which I personally like better :)

[2020-07-10 16:10] ngimel commented on #41237
Not a bug, the argument is not representable in bfloat16.
[code]

[2020-07-10 16:10] #41237 closed

[2020-07-10 16:22] #41115 closed

[2020-07-10 16:30] vadimkantorov commented on #41256
There is also hardswish. Should it be renamed to hardsilu?

[2020-07-10 16:31] Haydnspass commented on #33181
@SsnL Thanks for pointing me to this! :)

The issue with your proposal above is however that it won't work recursively because default_collate is a function.

So suppose you want to return a tuple (FancyTypeA, FancyTypeB) and implement the collate such that when the element is FancyTypeA/B it will aggregate the elements to a list.
[code]

But now when __collate__ sees a list/tuple it will default

[2020-07-10 16:32] eellison commented on #33813
This is the same issue as https://github.com/pytorch/pytorch/issues/39575#issuecomment-640921180 - `_jit_pass_onnx_prepare_inplace_ops_for_onnx` is invalidating the IR by insert schemas thaat don't exist

[2020-07-10 16:35] baobablyh commented on #41101
No it does not. As @zhaojuanmao mentioned, that is only for optimizing DDP communication on globally unused parameters. Just like you pointed out, it wouldn't help locally unused parameters.

[2020-07-10 16:36] kjdorow7 commented on #34002
So upon further experimentation, I made some interesting discoveries that I felt was worthwhile to share.
With torch==1.3.1, if you run
[code]
Then you will get:
[code]
This error occurs because the attribute self.test is being used within the forward function. If you remove it from the forward function, the code will run fine.

torch==1.5.1 appears to have more complicated issues with its attribu

[2020-07-10 16:38] Flamefire opened #41261 "test_cpp_extensions_aot_* fail on Power"
## 🐛 Bug

`python run_test.py -i test_cpp_extensions_aot_ninja` and the no_ninja one fail with a lot of compiler errors

## To Reproduce

Steps to reproduce the behavior:

1. Build and install on power
1.`python run_test.py -i test_cpp_extensions_aot_ninja`

The first error:
[code]

There are many errors, some are similar some are different. The same setup works fine on an x86 node.

## Environmen

[2020-07-10 16:48] SsnL commented on #33181
@Haydnspass we can make this recursive by :)

[code]

Then subclass can easily
    def __collate__(self, samples):
        if isinstance(samples[0], MyType):
             # do my thing
        else:
            return super().__collate__(samples)
       # content of default_collate but recursively calls `self.__collate__`

[2020-07-10 16:49] ngimel commented on #39661
There won't be kernel launches saved. What happens under the hood in addmm is bias is first materialized as contiguous non-broadcasted tensor (1st kernel launch), and then gemm with beta=1 is called (another kernel launch), so, as the comment says, optimization is marginal, if it exists at all. `matmul` api from cublasLt on cuda 10+ provides truly fused bias addition iirc, but matmul is not integr

[2020-07-10 16:49] yns88 commented on #41232
We have an internal cron job that deletes some of these branches every day (recent run: https://fburl.com/chronos/fcg2onrq).

It's pretty conservative, though. It only deletes branches with "gh/" or "export-" prefixes, and it waits 3 days before deleting branches for a "merged" PR, and waits 30 days before deleting branches for an "abandoned" PR.

One issue is that there are 1500 open pull request

[2020-07-10 16:49] SsnL commented on #41248
for float32, error on the order of 10^-5 is expected.

[2020-07-10 16:56] yns88 commented on #41232
I could do a one-off of that same logic on all branch names, which will delete ~800 branches: P135478385

[2020-07-10 16:58] Haydnspass commented on #33181
Indeed! I agree it's the better solution :)

[2020-07-10 17:07] IvanKobzarev commented on #40027
Hi @maxmx911 ,
Could you please show your java code, how you use pytorch android api.
What inconsistency do you see, completely different float numbers or partially zeros in case of using pytorch android api?

Just as a guess:
PyTorch android api does not do any synchronization inside. May it be that you operate with the same org.pytorch.Tensor object from different threads?

[2020-07-10 17:12] CBSkarmory opened #41264 "libtorch C++ setting gradient to 0 is incorrectly detected as violating const correctness"
## 🐛 Bug

compiling incorrectly fails with the error `error: passing ‘at::Tensor’ as ‘this’ argument discards qualifiers [-fpermissive]` (aka const correctness violated)

This follows the example from the docs (https://pytorch.org/cppdocs/api/classat_1_1_tensor.html#_CPPv4N2at6Tensor4gradEv)

but fails to compile

## To Reproduce

Steps to reproduce the behavior:

1. call backward()
2. set the gra

[2020-07-10 17:21] StevenJokes commented on #29186
@jtao151617  How to fix it ? I almost die for it.

[2020-07-10 17:28] leo-mao commented on #24139
long for this feature for my transfer learning task

[2020-07-10 17:30] ngimel commented on #38419
cc @VitalyFedyunin

[2020-07-10 17:34] seemethere commented on #41232
Yeah it'd probably be good to add some regex to catch those kinds of cases

[2020-07-10 17:36] seemethere commented on #41232
I think we can even just focus on the `ghstack` specific branches.

[code]

[2020-07-10 17:44] yns88 commented on #41232
On those 'gh/' branches:
- 176 of them were missed by the cron because they had no 'gh/*/head' branch for some reason -- I can tweak the script to delete those too
- 1534 of them have currently open pull requests (note that there's 2-3 branches per PR because of stacking weirdness)
- many of them never had pull requests associated -- maybe those can be garbage collected anyway

[2020-07-10 17:57] bzinodev commented on #37748
Fixed the issue see https://github.com/pytorch/pytorch/pull/38499

[2020-07-10 17:57] #37748 closed

[2020-07-10 18:22] sinannasir opened #41266 "In DDP's reducer merge `work` and `future_work`"
DDP main structure communication hook #40848 uses separate `bucket.work` and `bucket.future_work`. These use async works `ProcessGroup::Work` and `jit::Future`, respectively.
https://github.com/pytorch/pytorch/blob/45d735208b29aaa9dcfdf4d2b426c219866a8097/torch/csrc/distributed/c10d/reducer.cpp#L592-L596

We will replace `work` by `future_work` and use `AllreduceHook` by default once `get_future`

[2020-07-10 18:24] vadimkantorov commented on #39661
The way I stumbled on this is that I observed some differences between HuggingFace linear and core Linear, and the difference was matmul+add_ vs addmm. But maybe there are other correlated factors like different inner blocking used...

[2020-07-10 18:32] ngimel commented on #39661
Small numerical difference is real, perf difference would be very surprising.
Changing addmm api to accept more than 2d tensors is confusing, "matrix" is 2d. Should we have addtt?

[2020-07-10 18:32] mcarilli commented on #40472
docstring clarification for `torch.cuda.amp`
https://github.com/pytorch/pytorch/pull/41204
(@malfet Sibling PR against master https://github.com/pytorch/pytorch/pull/41203 is now merged so that's no longer a blocker)

[2020-07-10 18:37] vadimkantorov commented on #39661
Also ~4different apis for addbmm/baddbmm kind of ops is a lot. I wonder if we can come up with a better api. Maybe better extend matmul with an optional bias? Or introduce a new matmul_add? Matmul already does batched multiplies iirc

[2020-07-10 18:44] #41239 closed

[2020-07-10 19:07] colesbury commented on #41162
I'm reopening the issue. I think we should be able to improve the performance of advanced indexing gradient calculation. (Maybe for PyTorch 1.7?)

[2020-07-10 19:09] sandeepkumar-skb commented on #41162
Sounds great! Thank you.

[2020-07-10 19:09] ngimel commented on #41162
@colesbury you mean by using nondeterministic algos if user settings allow it?

[2020-07-10 19:43] anjali411 commented on #40472
doc update/clarification https://github.com/pytorch/pytorch/pull/41263

[2020-07-10 19:54] colesbury commented on #41162
@ngimel yes

[2020-07-10 20:16] z-a-f commented on #40315
Please, go ahead!!!

[2020-07-10 20:25] z-a-f commented on #40316
Basically, if you take a look at [QuantizeOpKernels.cpp](https://github.com/pytorch/pytorch/blob/9b0393fcf12dc0dce6f83244d95b56e8dd2e5219/aten/src/ATen/native/quantized/cpu/kernels/QuantizedOpKernels.cpp#L1253) it has the `qavg_pool2d_nhwc_kernel ` and the `qavg_pool3d_nhwc_kernel` which have some code duplication. This dup code could be factored out into a common function. There is some more mino

[2020-07-10 20:30] kurtamohler commented on #40215
Ah, I see. That makes more sense, thanks.

[2020-07-10 20:32] bzinodev commented on #40472
please merge [#41271] (https://github.com/pytorch/pytorch/pull/41271)
This is a bug fix for torch.jit.freezing API

Sibling PR is landed in master[ #40718](https://github.com/pytorch/pytorch/pull/40718)

[2020-07-10 20:33] mruberry commented on #41240
I think @anjali411 is fixing the warning. I don't see the blue numpy line on that graph, am I missing something?

[2020-07-10 20:33] mruberry commented on #41247
Let's close this issue, then.

[2020-07-10 20:33] #41247 closed

[2020-07-10 20:34] EricCousineau-TRI commented on #40977
Yup, I can give it a shot!

[2020-07-10 20:41] rgommers commented on #41240
they're overlapping. updated linewidths for clarity

[2020-07-10 20:48] mruberry commented on #41240
Ah, thank you, @rgommers, sorry to bother you.

[2020-07-10 20:59] rgommers commented on #40397
gh-40499 indeed fixed this, so closing. thanks @diego-plan9, all

[2020-07-10 20:59] #40397 closed

[2020-07-10 21:00] rgommers commented on #41240
no worries

[2020-07-10 21:33] #24678 closed

[2020-07-10 21:33] #24679 closed

[2020-07-10 21:51] gmagogsfm opened #41274 "Variable-length arguments and keyword-only arguments not supported"
This is one of the most common errors found in ParityBench results.

Something like this would not script:

[code]

[code]

A concrete example in [IBM PyTorch Pipe](https://github.com/jansel/pytorch-jit-paritybench/blob/6c23f5bcbed5ad85ac21573024748b335b8019eb/generated/test_IBM_pytorchpipe.py#L1840)

cc @suo @gmagogsfm

[2020-07-10 21:58] gmagogsfm opened #41277 "'None' is not accepted as default value for Tensor Argument to function"
This is from ParityBench analysis, showing up as one of the most common errors:

[code]

[code]
A concrete case is [here](https://github.com/jansel/pytorch-jit-paritybench/blob/6c23f5bcbed5ad85ac21573024748b335b8019eb/generated/test_arashwan_matrixnet.py#L446)

The root cause is that TorchScript by default infers a type to be `Tensor`.

The workaround is simple, ie setting type annotation to `Opti

[2020-07-10 22:02] kurtamohler commented on #15359
To follow up on this question, setting the environment variable inside a pytorch script does not seem to affect the CUDA stream's determinism. I modified the script from https://github.com/pytorch/pytorch/issues/39849 to run multiple times and compare training stats to check for non-deterministic behavior. It tries to set `CUBLAS_WORKSPACE_CONFIG=:4096:8` to ensure deterministic stream usage: http

[2020-07-10 22:05] gmagogsfm opened #41278 "Red herring: "Class XXX does not have an __init__ function defined""
Unsure if this is a real issue, but this is a common error in parity bench.

[code]

[code]

One concrete example is [here](https://github.com/jansel/pytorch-jit-paritybench/blob/6c23f5bcbed5ad85ac21573024748b335b8019eb/generated/test_HongyangGao_Graph_U_Nets.py#L310)

I am not sure if this is a real issue as Variable should be created during Module creation time instead of in forward, thus it may

[2020-07-10 22:08] ptrblck commented on #39661
Re: cublasLt fused matmul + bias:
Our internal tests show the fused matmul + bias calls are faster and are using indeed the fused kernel, which is great.
However the end to end time is often not reduced and we are trying to narrow down the issue.
At the moment we suspect the additional CPU overhead from the caching or heuristics might be the reason, but need to investigate more. In the current sta

[2020-07-10 22:09] gmagogsfm opened #41279 "Function with dynamic return type can't be scripted"
I assume this is working as intended now, but don't thoroughly understand why since we have an AnyType defined in torchscript IR.

This error also shows up as a common error in parity bench.

[code]

[code]
cc @suo @gmagogsfm

[2020-07-10 22:20] gmagogsfm opened #41281 "Expected integer literal for index"
A common error in ParityBench

Repro:
[code]

[code]

[Concrete example](https://github.com/jansel/pytorch-jit-paritybench/blob/6c23f5bcbed5ad85ac21573024748b335b8019eb/generated/test_YuxianMeng_Matrix_Capsules_pytorch.py#L75)

The real issue is that `idx` argument isn't annotated, but I think there may be a chance for improvement here because the only thing that can appear in subscript of an inte

[2020-07-10 22:25] vadimkantorov opened #41282 "[docs] Strange arg names of torch.bmm and tensor.bmm"
https://pytorch.org/docs/master/generated/torch.bmm.html#torch.bmm:
`torch.bmm(input, mat2, deterministic=False, out=None) → Tensor`

`mat2` is quite strange

https://pytorch.org/docs/master/tensors.html?highlight=bmm#torch.Tensor.bmm:
`bmm(batch2) → Tensor`

`batch2` is strange as well (and does not even match torch.bmm)

[2020-07-10 22:25] #39991 closed

[2020-07-10 22:36] VitalyFedyunin commented on #13023
@byronyi we are taking DataLoader as high priority task for this half, I will publish new DL improvements RFC approx next week.

[2020-07-10 22:37] TFUsers commented on #41256
That's what Jax did: https://github.com/google/jax/pull/3673/files

[2020-07-10 22:39] netw0rkf10w commented on #27461
@andreaskoepf @Separius Could you guys please explain in what context `add_zero_attn` is necessary? The only information is from the docstrings:

[code]

But why?

Thank you very much!

[2020-07-10 23:06] yorkerlin opened #41284 "add a reparameterized version of inverse Gaussian distribution"
## 🚀 Feature

Like the gamma distribution, the inverse Gaussian distribution is also implicitly re-parameterizable.

## Motivation
This distribution can be used in variational inference such as Pyro. Moreover, inverse Gaussian is usually more numerical stable than gamma.

## Pitch

The `autograd` implementation including some test cases is available at `https://github.com/yorkerlin/iBayesLRule/blo

[2020-07-10 23:07] kurtamohler commented on #15359
I found out that I can create and use a new stream with:
[code]
But the new stream doesn't honor the changed environment variable setting. I also found `torch.cuda.init()`, but unfortunately, that's a no-op if cuda has already been initialized.

So unless we can think of something else to try, it looks like we probably can't change the workspace config automatically, so we might just have to throw

[2020-07-10 23:17] ngimel commented on #15359
Yep, setting environment variable after cuda context has been initialized has no effect, so unfortunately it's all or nothing solution. Throwing an error telling user to set it sounds reasonable.

[2020-07-10 23:39] r-salas commented on #24236
As a workaround you can create a dummy summary writer:
[code]
Then, when you define the summary writer you can do something like this:
[code]

[2020-07-11 00:02] gmagogsfm opened #41288 "python value of type 'str' cannot be used as a value"
From common errors in ParityBench

[code]

Code example is [here](https://github.com/jansel/pytorch-jit-paritybench/blob/6c23f5bcbed5ad85ac21573024748b335b8019eb/generated/test_zllrunning_face_parsing_PyTorch.py#L533)

cc @suo @gmagogsfm

[2020-07-11 00:09] gmagogsfm opened #41289 "List[Any] support in TorchScript"
Forwarded from internal post

[code]

[2020-07-11 00:15] gmagogsfm opened #41291 "Return list of tuples from custom operator"
Forwarded from internal post

Adding a custom operator that returns a list of tuples is not supported. I'm using c10::List<std::tuple<at::Tensor, at::Tensor>> and getting Tried to use undefined class as output.

There is a workaround, namely returning a tuple of two lists.

[2020-07-11 00:23] VitalyFedyunin opened #41292 "[Draft, RFC, Tracker] DataLoader improvements"
This issue created to track all current problems of `DataLoader` (and related components such as `DataSet`, `Sampler`, `Transforms`)

### Known problems

- Issues interpretability. DataLoader periodically ends in a situation when the process hangs for an unknown to the user reason. Root cause analysis of such cases is overcomplicated to cryptic Exception traces and/or inability to reproduce quickl

[2020-07-11 00:34] VitalyFedyunin commented on #40403
Are you using same code snippet as before to get this error?

If so, you might try to pass `args.gpu` device to `self.tensor = torch.randn(3, 224, 224, device=torch.device('cuda'))` this function.

[2020-07-11 00:38] nmcclatchey opened #41294 "MaxPool layer does not correctly implement padding."
## 🐛 Bug

Per [documentation of MaxPool](https://pytorch.org/docs/stable/nn.html#maxpool2d), input is "implicitly zero-padded on both sides for padding number of points." The implementation differs by implicitly padding with identity elements, rather than zero.

## To Reproduce

Steps to reproduce the behavior:

1. Create a tensor of signed type, filled with negative values.
1. Invoke a MaxPool wi

[2020-07-11 00:53] BurguerJohn opened #41296 "Conda with cudatoolkit=10.2 don't work if you don't have a Cuda compatible card."
## 🐛 Bug

From what i could gather at last it seen to be caused by not having a cuda compatible card.
I use a computer without cuda to develop to other computers.
This error don't occur by changing cudatoolkit to 10.1

 ctypes.CDLL(dll)
File "[***]/ctypes__init__.py", line 364, in init self._handle = _dlopen(self._name, mode) OSError: [WinError 126] The specified module could not be found

## To R

[2020-07-11 01:25] peterjc123 commented on #41296
Fixed in master. We now allow users to run `import torch` with the cuda variant on a CPU only machine.

[2020-07-11 01:25] #41296 closed

[2020-07-11 02:54] ezyang opened #41300 "C++ docs don't build with latest version of Sphinx / breathe"
breathe appears to feed Sphinx some C++ syntax it doesn't understand.

[code]

In the CI job sphinx and breathe are pinned to ancient versions.

cc @ezyang @seemethere @zou3519 @jlin27

[2020-07-11 03:09] #40350 closed

[2020-07-11 05:04] FRahmani368 commented on #41227
conda info
     active environment : G:\Farshid\myenvs
    active env location : G:\Farshid\myenvs
            shell level : 1
       user config file : C:\Users\fzr5082\.condarc
 populated config files : C:\Users\fzr5082\.condarc
          conda version : 4.8.3
    conda-build version : 3.18.11
         python version : 3.7.6.final.0
       virtual packages : __cuda=11.0
       base environment :

[2020-07-11 05:06] Separius commented on #27461
@netw0rkf10w say you want to do language modeling; One way of doing it is by adding a <start> token to the beginning of the input and set the output to the shifted input: ```input=[<start>, a, b, c], output=[a, b, c, <end_of_sequence>], attn_mask=causal```

The other way is to add a dummy token to the sequence and allow all the other tokens to attend to this dummy token so ```input=[dummy, a, b, c

[2020-07-11 05:08] neeraj-j commented on #40490
@suo, I appreciate your time. I think I can live with this issue. I am closing it.

[2020-07-11 05:08] #40490 closed

[2020-07-11 05:09] FRahmani368 commented on #41227
OS: Microsoft Windows Server 2016 Standard
GCC version: Could not collect
CMake version: Could not collect

Python version: 3.7
Is CUDA available: Yes
CUDA runtime version: Could not collect
GPU models and configuration: GPU 0: GeForce GTX 1080 Ti
Nvidia driver version: 451.48
cuDNN version: Could not collect

Versions of relevant libraries:
[pip3] numpy==1.19.0

[2020-07-11 05:11] FRahmani368 commented on #41227
I was surprised that I do not get the error when I downgrade pytorch to 1.2 and torchvision to 0.4.0 and cudatoolkit to 10.00.

[2020-07-11 05:12] #41227 closed

[2020-07-11 06:22] kundanapillari opened #41304 "Converting deepvoice3 pytorch model to onnx format"
I am trying to convert deepvoice3 single speaker tts model to onnx format. Got pre-trained model trained over LJSpeech dataset from deepvoice3 github: https://github.com/r9y9/deepvoice3_pytorch.
Referenced in this [PR](https://github.com/onnx/models/pull/323)

The conversion function used is torch.onnx.export. When I run the export function, the error seems to be in the forward function for Decode

[2020-07-11 06:23] this-is-shashank commented on #37733
I didnot get the solution. Can you please elaborate on how to fix it a bit more?

[2020-07-11 09:47] n-gao opened #41306 "SVD is slow on GPU vs CPU for skinny matrices"
## 🐛 Bug
Performing SVD on the GPU is extremely slow and as far as I it is an open research quetion whether SVD in general can gain a lot by performing it on the GPU. So I want to propose to execute it on the CPU by default.

## To Reproduce
CPU:
[code]
Result:
[code]
CUDA:
[code]
Result:
[code]
Here is a figure illustrating the behavior depending on the batch_size:
![image](https://user-images.gi

[2020-07-11 11:01] peterjc123 commented on #37733
@this-is-shashank
I answered your question at https://gist.github.com/peterjc123/bcbf4418ff63d88e11313d308cf1b427#gistcomment-3372140. Please tell me which version of PyTorch are you using.

[2020-07-11 11:19] harryhan618 opened #41307 "A Compose wrapper for lr scheduler"
## 🚀 Feature
A `Compose` class for lr scheduler like `torchvision.transforms.Compose`. This `Compose` is initialized with a list. In the list, each item is a list: [single_lr_scheduler, start_iter_idx, end_iter_idx].

## Motivation

In pytorch 1.4, chaining lr scheduler is supported. Usually a warmup strategy is used. With a `Compose`, one single `step` can be called in a neat way.

cc @vincentqb

[2020-07-11 14:22] SsnL commented on #33754
@as754770178 Your new scripts are different from your original change (described on the top of this issue) though. These new scripts surely will take advantage of pin_memory, because it is just running training in another process. However, if the dataloader workers do pin_memory, it will not be useful, for reasons I described above.

[2020-07-11 14:22] n-gao opened #41308 "Determinant computation is slow on CUDA for singular matrices"
## 🐛 Bug
All determinant functions, `torch.det`, `torch.logdet` and `torch.slogdet`, are extremely slow if the input is singular, so its determinant is 0. This does not affect the CPU implementation.

## To Reproduce
#### Singular matrix
[code]
#### Non-singular matrix
[code]

## Expected behavior
The performance should be better and at best case be as good as for regular matrices or at least matc

[2020-07-11 15:08] jbohnslav commented on #41248
Okay, thank you!

[2020-07-11 15:08] #41248 closed

[2020-07-11 15:36] mathemage commented on #12728
Hi @ezyang !
Is this issue still desired? I'm looking for a good first issue to work on. Thanks!

[2020-07-11 15:54] hehedaozuiteng opened #41309 "How to make build_pytorch_android.sh running with python 3 on mac?"
Hi all, I was trying to following the tutrials from https://pytorch.org/mobile/android/#building-pytorch-android-from-source.

when I run the

It reports me the error such that

I guessn this issue was caused by the scrip run the module_loader.py with python 2.

I already set the python 3 as my default python by adding the following code on .zshrc

and the code

runs ok on terminal's python.

the

[2020-07-11 17:11] vainaijr commented on #40969
What would be a source to gather data, to plot such graphs?

[2020-07-11 17:32] vadimkantorov commented on #40969
CI runs of some sort? I assume various Facebook teams run regular perf tests of some standard models to avoid perf regressions

[2020-07-11 18:39] hvaratharaj opened #41310 "Issue in installing torch"
Im using python 3.7

Im trying to install torch and getting following error on my window 10 64 bit machine

(my-rdkit-env) C:\Users\vharikrishnan\Downloads\GENTRL-master\GENTRL-master>pip install torch
Collecting torch
  Using cached torch-0.1.2.post2.tar.gz (128 kB)
Collecting pyyaml
  Downloading PyYAML-5.3.1-cp37-cp37m-win_amd64.whl (216 kB)
     |████████████████████████████████| 216 kB 3.3 MB

[2020-07-11 19:55] shatalinra opened #41311 "ConvTranspose1d layer behaviour under different channel numbers"
## 📚 Documentation

Documentation for [ConvTranspose1d layer](https://pytorch.org/docs/master/generated/torch.nn.ConvTranspose1d.html) does not contain even brief explanation of how channels are treated and how number of channels affect processing.

Same goes for [Conv1d layer](https://pytorch.org/docs/master/generated/torch.nn.Conv1d.html) but it was at least covered in [this discussion](https://

[2020-07-11 21:28] maxmx911 commented on #40027
@IvanKobzarev,
I've uploaded the Android Project [here](https://github.com/maxmx911/TestNetDemo). I actually copy the codes from the [pytorch android demo app](https://github.com/pytorch/android-demo-app/tree/master/PyTorchDemoApp). I dont think it's not using different threads.

I loop `module.forward()` for a couple times and the following are the results.
[code]

Thank you for looking into this

[2020-07-12 01:31] ngimel opened #41314 "Input strides are not propagated for unary ops"
## 🐛 Bug

#38895 broke stride propagation for unary operations, now output is contiguous regardless of what the input was

## To Reproduce

[code]

## Expected behavior

For unary operations, strides of the output should match strides of the input, at least for dense non-overlapping tensors. In the example above, strides should be (1,3).
numpy propagates input strides in this case

cc @mruberry @r

[2020-07-12 02:32] peterjc123 commented on #41310
The probable reasons for this kind of error are listed below.
1. You are using 32-bit Python `python -c "import sys; print(sys.maxsize)"` should return 9223372036854775807 in 64-bit Python.
2. You are using Python versions that we haven't added support yet, including 2.7, 3.9.

[2020-07-12 02:46] #41309 closed

[2020-07-12 02:46] hehedaozuiteng commented on #41309
it is problem from shell

[2020-07-12 02:49] glaringlee commented on #41314
Will take a look at.

[2020-07-12 03:19] GeekOrangeLuYao commented on #41064
Thanks for your tips about whether the `fmgr` is empty. I find I use another function will make the `fmgr` not empty. Besides, I change the `multiprocess.Lock()` to `multiprocess.Manager().Lock()` and solve the problem.

[2020-07-12 03:19] #41064 closed

[2020-07-12 05:12] CITIZENDOT commented on #15612
Make Sure your NVIDIA Driver is latest,
My system specs:
 Ubuntu 18.04 64bit
 Langauge: python3

I also got same issue after torch installation, But after a bit searching, I installed latest NVIDIA drivers,[Check here](https://www.cyberciti.biz/faq/ubuntu-linux-install-nvidia-driver-latest-proprietary-driver/).

[2020-07-12 06:09] peterjc123 opened #41316 "torch::nn::Functional not working on Windows"
## 🐛 Bug

When running the following code, it prints `[ Tensor (undefined) ]` as the output.
[code]

## Expected behavior

Function should work.

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out the checklist below manually).

You can get the script and run it

[2020-07-12 06:47] LetsGoFir commented on #21819
Where is the pytorch 1.6? I can only find the 1.5.1

[2020-07-12 06:48] #41316 closed

[2020-07-12 10:16] luochuanoo opened #41319 "no known conversion for argument 1 from ‘const c10::Device’ to ‘const c10::TensorOptions&"
If you have a question or would like help and support, please ask at our
[forums](https://discuss.pytorch.org/).

If you are submitting a feature request, please preface the title with [feature request].
If you are submitting a bug report, please fill in the following details.

## Issue description

Provide a short description.

## Code example

Please try to provide a minimal example to repro the

[2020-07-12 10:17] luochuanoo opened #41320 "/home/lc/pytorch-cxx/libtorch/include/torch/csrc/api/include/torch/nn/cloneable.h:69:56: error: no matching function for call to ‘at::Tensor::to(const c10::Device&) const’"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1.
1.
1.

## Expected behavior

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out the checklist below manually).

You can get the script and run it with:
[code]

 - PyTorch Version (e.g., 1.0):
 - OS (

[2020-07-12 10:56] FabianIsensee commented on #40911
I have validated it again with the most recent pytorch nightly. The problem is still there (Ubuntu 18.04 and 20.04). Maybe try the 20.06-py3 docker (upgrade pytorch to latest nightly) to reproduce it.

[2020-07-12 11:07] Anirudh257 commented on #18484
This error occurs only for torch==1.1 and gets removed in torch==1.2 as well.

[2020-07-12 11:39] fmassa commented on #41243
Related to https://github.com/pytorch/pytorch/issues/2628 for BatchNorm

[2020-07-12 12:17] turtleizzy commented on #1641
It's been three years and what's the status of this request?

[2020-07-12 13:09] hvaratharaj commented on #41310
Im using 3.7 python and please find the attached
![image](https://user-images.githubusercontent.com/41865766/87244406-f1112e80-c434-11ea-937a-52381be9ce29.png)

I did copy the command and executed from https://pytorch.org. still facing issue as torch module not found

[2020-07-12 13:10] liob commented on #41231
Hi @ruiann,

I encountered the same strange behavior. I found the answer here: [super_resolution_with_onnxruntime]

After doing this, the results are as expected. Hope this helps.

Best,
liob.

[super_resolution_with_onnxruntime]: https://pytorch.org/tutorials/advanced/super_resolution_with_onnxruntime.html

[2020-07-12 13:26] peterjc123 commented on #41310
Then you probably have multiple python envs messed up. You can use `python -m pip` instead of `pip` to specify the one that points to the current env.

[2020-07-12 13:37] hvaratharaj commented on #41310
I tried in another machine which doesn’t have any other python versions and
still end up facing the same problem

On Sun, 12 Jul 2020 at 14:26, peterjc123 <notifications@github.com> wrote:

[2020-07-12 14:00] GOBish commented on #29706
@isagastiberri were you able to solve this?

[2020-07-12 14:23] moiseevigor opened #41322 "SGD documentatiuon detail on g_{t+1}"
## 📚 Documentation

In the docs https://pytorch.org/docs/master/optim.html#torch.optim.SGD and and inside the class https://pytorch.org/docs/stable/_modules/torch/optim/sgd.html#SGD I notice

    v_{t+1} & = \mu * v_{t} + g_{t+1},
    p_{t+1} & = p_{t} - \text{lr} * v_{t+1},

But consulting the "On the importance of initialization and momentum in deep learning" by Sutskever et al the update rule f

[2020-07-12 14:25] peterjc123 commented on #41310
What do you mean by "same" here? Cannot install PyTorch? Or, PyTorch could not be found in Python after installation?

[2020-07-12 14:26] hvaratharaj commented on #41310
Yeah ‘torch‘ module not found

On Sun, 12 Jul 2020 at 15:25, peterjc123 <notifications@github.com> wrote:

[2020-07-12 14:27] peterjc123 commented on #41310
Please write down what you have done to install PyTorch step by step. Given the limited description here, I could not tell anything useful.

[2020-07-12 14:31] hvaratharaj commented on #41310
I tried to install torch using following command.

*pip install torch==1.5.1+cpu torchvision==0.6.1+cpu -f
https://download.pytorch.org/whl/torch_stable.html
<https://download.pytorch.org/whl/torch_stable.html>*

Its installed successfully but when I try to execute the program im getting
error as follows

Thanks & Regards

Raj

*From:* peterjc123 <notifications@github.com>
*Sent:* Sunday, July 12,

[2020-07-12 14:36] peterjc123 commented on #41310
@hvaratharaj What is the result of `where pip` and `where python`?

[2020-07-12 14:36] peterjc123 commented on #41310
Does `python -m pip install torch==1.5.1+cpu torchvision==0.6.1+cpu -f https://download.pytorch.org/whl/torch_stable.html` help?

[2020-07-12 14:41] vadimkantorov opened #41323 "[discussion] Comparison operator chaining"
This is not supported by NumPy, but maybe this could produce a BoolTensor instead.

[code]

[2020-07-12 15:16] hvaratharaj commented on #41310
This magic worked. Thank you so much for your help.

Thanks & Regards
Raj

On Sun, 12 Jul 2020 at 15:37, peterjc123 <notifications@github.com> wrote:

[2020-07-12 15:18] #41310 closed

[2020-07-12 16:02] netw0rkf10w commented on #27461
@Separius Thanks for the explanation. As I understand, the main reason is to add a dummy token so that when an output token does not have access to any of the input tokens, the attention weights corresponding to all the input tokens remain (nearly) zeros.

However, I am not totally convinced. Instead of doing

[code]

why not do masking after computing the weights like this:

[code]

or for obtain

[2020-07-12 16:17] Separius commented on #27461
@netw0rkf10w I think your third implementation (mask, softmax, and then mask again) is totally fine and it is indeed correct but maybe (I'm not sure) it is inefficient compared to the dummy token.

I suggest you profile both methods in forward and backward propagation (and just to be safe check their gradients as well) with different batch sizes and sequence lengths and if it was indeed faster, I

[2020-07-12 17:10] Gowtham171996 commented on #19669
@liuchanfeng165  Did you found the solution?

[2020-07-12 17:31] lwfielder commented on #27837
Not sure who to contact but im fairly confident i can recreate this issue.

Essentially if I choose the an output method other than the concat it raises this error.

Optimizer: AdamW
Criterion: CrossEntropyLoss()

Finally the error seems to be raised within my evaluate function at this line
total_acc += pred.eq(label.view_as(pred)).sum().item()

Please let me know if you need anything else.

RNN a

[2020-07-12 19:23] YovelRom commented on #23133
I'm reopening this issue, since it is indeed a bug. The implementation is mathematically mistaken, and should not return NaN. The correct formula is shown in [this](https://arxiv.org/pdf/1909.02414.pdf#page=10&zoom=100,144,529) paper, equation 13: ![image](https://user-images.githubusercontent.com/61155501/87254759-9657f100-c48d-11ea-91b6-6116d04cd291.png).
You can see that for each symmetrical ma

[2020-07-12 20:14] SsnL commented on #40985
Probably not, because you can already do so with the current API, with not much code actually, but you would also need to set the correct start method etc. There would be quite a lot of case dependent things (like how many GPU memory you should use for instance) that I personally don't feel that a general abstraction would be useful.

[2020-07-12 20:59] ruotianluo opened #41324 "Fail to find unused parameters when find_unused_parameters is True"
## 🐛 Bug

For a model like this:
[code]
(In this model, net1 is not used.)
When running ddp with this model (when find_unused_parameters=True), I got error:
[code]

The trigger seems to be this line:
[code]

I am not sure why this situation cannot handled by ddp. BTW, this kind of "artificial" definition is from [link](https://github.com/huggingface/transformers/blob/7fad617dc1fc681a7f5da5e0172c8b

[2020-07-12 21:21] mattip commented on #38011
After gh-41321, there are (currently) two warnings left:
- `pytorch/docs/source/index.rst:65: WARNING: toctree contains
  reference to nonexisting document 'torchvision/index'`
- `WARNING: autodoc: failed to import class 'tensorboard.writer.SummaryWriter' from module 'torch.utils'`

Should I refactor the docs to remove the offending links or make those components prerequisites to building document

[2020-07-12 22:44] bennymi opened #41325 "torch.combinations() - Tried to allocate 7869836414.81 GiB"
## 🐛 Bug

When using `torch.combinations(list, r=len(list))` with the `r` value set to the length of the list, I get a `CUDA out of memory error` for values where the length of the list is higher than `9`, even though `torch.combinations(list, r=len(list))` should just return the list itself. Link to the PyTorch Forum Issue: https://discuss.pytorch.org/t/tried-to-allocate-7869836414-81-gib/88880

[2020-07-12 23:45] tsaizhenling commented on #40911
I am observing the same issue using a different trainer: https://github.com/ultralytics/yolov5
I'm on Ubuntu 20.04 LTS + pytorch nightly
`gc.collect()` did not help for me

[2020-07-13 03:43] twmht commented on #15378
@ngimel

any update on this?

[2020-07-13 04:03] ruiann commented on #41231
@liob
I've tried both torch_model.eval() and torch_model.train(False), the output is still incorrect.

[2020-07-13 04:34] hibit-at commented on #5301
worked to me. it erased Runtime Error. thanks.
but instead, CUDA out of memory has appeared regardless of batchsize.

in batch_size = 100

in batch_size = 10

in batch_size = 1

anyone can help?

[2020-07-13 05:27] Nouman97 opened #41326 "Adding as_strided with onnx conversion"
Hello,

I was trying to convert my longformer question answering model to onnx, but apparently as_strided is not yet supported by onnx. Can you please add its support?

Thank you and best regards!

![image](https://user-images.githubusercontent.com/42269506/87273759-6d6a4700-c4f3-11ea-98a7-d0d9ba0222be.png)

cc @houseroad @spandantiwari @lara-hdr @BowenBao @neginraoof

[2020-07-13 06:15] stas00 opened #41327 "torch.nn.parallel.scatter_gather.gather can't gather outputs that are dataclasses"
## 🐛 Bug

`torch.nn.parallel.scatter_gather.gather` can't gather outputs that are `dataclasses`

## To Reproduce

Steps to reproduce the behavior:

[code]

Error:
[code]

as it fails to detect dataclass as dict, it skips over it and calls the class with wrong arguments, sending just the first argument.

## Expected behavior

Should handle dataclasses as dict transparently

The following implementa

[2020-07-13 06:15] Gaozhongpai opened #41328 "How to transform from input points to rendered image"

[2020-07-13 06:16] aizvorski opened #41329 "Random seed of numpy is reset to the same value inside DataLoader workers"
## 🐛 Bug

I’m using an IterableDataset inside a DataLoader (with multiple workers).  My IterableDataset code calls numpy.random functions. In each epoch and for each worker, I noticed the sequence of values returned by numpy.random functions is exactly the same.  This is unexpected since numpy would normally seed the random generator when it is initialized.

Example use case: the IterableDataset u

[2020-07-13 06:23] #41328 closed

[2020-07-13 06:35] Nikronic commented on #41325
Also, the experiments in the discussion thread have been done on Google Colab.

[2020-07-13 06:37] stas00 commented on #41327
Trying it out, the suggested fix works only in certain situations, at the very least it failed here (trace included):
https://github.com/huggingface/transformers/issues/5693#issuecomment-657386874

`RuntimeError: Only Tensors created explicitly by the user (graph leaves) support the deepcopy protocol at the moment`

So a more generic solution is needed.

[2020-07-13 08:17] FabianIsensee commented on #40911
@tsaizhenling could you try to run my snipped from above and give feedback whether it also causes memory leaks for you? What GPU are you using? It could be that this issue is not only related to Ubuntu but also Turing GPUs

[2020-07-13 08:46] Baranowski commented on #34126
Unassigning myself since I won't have the time to revisit it after this week, and besides it seems to be a low-pri

[2020-07-13 09:00] joinhe opened #41331 "torchaudio bug"
## 🐛 Bug

torchaudio.compliance.kaldi.fbank

dither (float, optional) – Dithering constant (0.0 means no dither). If you turn this off, you should set the energy_floor option, e.g. to 1.0 or 0.1 (Default: 0.0)
 the Default: 0.0 is bad ,if you use Default: 0.0 (I think Default is not 0.0)

## To Reproduce

Steps to reproduce the behavior:

1.
1.
1.

## Expected behavior

## Environment

Please copy

[2020-07-13 09:03] guol-fnst commented on #41187
Is it ok just to increase the tolerance simply (ex. from 1e-05 to1e-04)? Or do we need to calculate it carefully?

[2020-07-13 09:12] Flamefire commented on #41187
I just checked the 1.6.0-rc2 and there the tolerance was already increased to 1.e-4. So this is only relevant in case another release in the 1.5.x series is done.

[2020-07-13 09:19] vinnamkim opened #41332 "Whether create_graph=true or false, torch.autograd.grad returns different gradients."
## 🐛 Bug

Whether `create_graph=true` or `false`, `torch.autograd.grad` returns different gradients. Guess there are different flows on back-propagation of modules whether `create_graph=true` or `false`. What I found is only occurred on models in `transformer` package.

## To Reproduce

Steps to reproduce the behavior:

1. When using transformer model, the assertion of the following code is failed

[2020-07-13 09:20] wumeng2 opened #41333 "why is inference speed of the same model with different size input tensor so unreasonable?"
## ❓ Questions and Help
**my device: win10   1080ti  i7-8700K
my model: yolov5s**
I test inference speed with two different input size called separately bigsize:1X3X800X1376 and smallsize:1X3X416X736 in gpu and cpu mode.  Test result is as follows.
compute device ------------------ inputsize ------------------------  FPS
1080ti-------------------------- bigsize:1X3X800X1376-------------- 49
1080ti

[2020-07-13 09:30] vineeths96 commented on #39272
Any updates?

[2020-07-13 09:59] rgommers commented on #38011
For `torchvision`, you can just treat it like `torchaudio` and `torchtext` with an explicit link, https://pytorch.org/vision works.

For the `tensorboard` one, `torch.utils.tensorboard` is part of PyTorch so I'd add it to the doc build requirements.

[2020-07-13 10:48] vadimkantorov commented on #29863
This would simplify torch.stft preparation code as well: https://github.com/pytorch/pytorch/blob/88fe05e10660706ee557c17eb19c6e5f9c90d84c/torch/functional.py#L459

as views will become unnecessary

[2020-07-13 11:21] blizda commented on #38487
@mcarilli I get same error with another model set ```python TORCH_SHOW_CPP_STACKTRACES=1``` and run

[code]

[2020-07-13 11:38] halostorm commented on #40912
@gmagogsfm
Thank you very much for pointing out the mistake, it's a careless bug... Maybe I have to find other way to export the model.

[2020-07-13 11:49] Flamefire commented on #41120
Fixed by #41233

[2020-07-13 11:49] #41120 closed

[2020-07-13 11:50] KushajveerSingh commented on #18182
I made an implementation for this. For my implementation, I assume this change would get implemented in 1.7.0 (this value has no effect on the code I show below).

Make a global flag for the version number. I kept the version number simple (1,2,...)

[code]
**TO DECIDE** Where to place the global variable.

Make an initializer class with *staticmethods*. The name of all functions in this class wou

[2020-07-13 12:21] guyang3532 opened #41336 "Circleci nightly job fail"
1. Several CI test jobs on nightly branch fail for these two days:

        https://app.circleci.com/pipelines/github/pytorch/pytorch/190074/workflows/bf36ca5c-50f4-45ae-ae0f-d1c5d38f7e52/jobs/6217176

CI test job' error log:

2. This failure made the uploading jobs blocked and no packages is uploaded to [conda-nightly](https://anaconda.org/pytorch-nightly/pytorch) for two days. However the old pa

[2020-07-13 12:24] netw0rkf10w commented on #34573
@zhangguanheng66 I am working on making your MHA container a drop-in replacement of PyTorch's MHA. The first result would be having all `nn.MultiheadAttention` instances in `nn.Transformer` replaced with the MHA container. I am close, but there's still something that needs to be taken into account: the [`key_padding_mask`](https://github.com/pytorch/pytorch/blob/67a4f375cdf06113ca959b4e16739edb666

[2020-07-13 12:24] albanD commented on #41264
Hi,

This was changed very recently a accessing this non-const version is not thread safe and using overload here was dangerous.
You can now access it using `.mutable_grad()`.
I am not sure why the doc is not updated though.

[2020-07-13 12:31] albanD commented on #41294
This is a duplicate of https://github.com/pytorch/pytorch/issues/33384.
I'm going to close this to keep all discussions there.

[2020-07-13 12:31] #41294 closed

[2020-07-13 13:16] #30358 closed

[2020-07-13 13:17] albanD commented on #41264
Hi,

We are working on fixing that in https://github.com/pytorch/pytorch/pull/40887
You will be able to call an explicit function to get a non-const version.

[2020-07-13 13:24] Flamefire opened #41337 "Distibuted tests fail"
## 🐛 Bug

This might be similar or the same as #19177. I'm getting test failures in the distributed tests. The failing tests are:
[code]

## To Reproduce

Steps to reproduce the behavior:

1. `cd test && python run_test.py --verbose --pytest -x test_cpp_extensions_aot_no_ninja test_cpp_extensions_aot_ninja test_cpp_extensions_jit`

Using pytest to avoid spurious failures in other tests which go aw

[2020-07-13 13:24] mistermoutan commented on #2830
@apaszke  Is there a problem if you switch the order to something like this?

Meaning moving the model to 'cuda' but only loading it's state dict from checkpoint after loading the optimizer's state dict first?

[2020-07-13 13:40] malfet commented on #41336
@seemethere can you please have check if nighly docker images hash needs to be updated.

[2020-07-13 13:41] zhangguanheng66 commented on #34573
In the BERT example, we don't use `key_padding_mask` because tokens in the sequence are masked in the embedding layer. Since we provide a 3-D tensor for the `attn_mask`, if you want to mask a padding token, you can set all the corresponding numbers in `attn_mask` to `True` so no attention is generated for the padding token.

[2020-07-13 13:42] malfet commented on #41300
Tenatatively grabbing for myself.

[2020-07-13 13:50] Yura52 opened #41338 "del"
del

[2020-07-13 13:56] #41338 closed

[2020-07-13 13:56] malfet commented on #41307
@harryhan618 thank you for your suggestion. If you have patch in mind that addresses this problem, please do not hesitate to publish.

[2020-07-13 14:02] malfet commented on #41304
Quick glance at the backtrace suggests, that may be your `dummy_model_input` is incompatible with the model. (Have you check if `model(dummy_model_input)` would succeed)

[2020-07-13 14:03] Areiser commented on #40859
From the documentation, I thought that strict does exactly what I want: "Whether you are loading from a partial state_dict, which is missing some keys, or loading a state_dict with more keys than the model that you are loading into, you can set the strict argument to False in the load_state_dict() function to ignore non-matching keys."

For the segmentation, this would mean that model layers with

[2020-07-13 14:08] anjali411 commented on #41240
The warning is removed for `angle` and `abs` so it shouldn't show up in the latest build.

On CPU we just call `std::arg` (for non-vectorization examples):
[code]

Also, I checked locally and it seems numpy does the same thing too:

[code]

[2020-07-13 14:22] malfet commented on #41320
Can you please provide more details on how you've encountered the issue and what version of PyTorch/libpytorch are you using, what compiler, build system, etc. Having an isolated repro case would be truly invaluable.

[2020-07-13 14:23] glaringlee commented on #41235
@chuanhuayang
I don't have gcc5.5 on hand, I tested your code with gcc5.4 and gcc7.3
Under, libtorch 1.5, 1.5.1 and nightly build. All works fine.

Please make sure you downloaded the correct libtorch version. libtorch has abi and non-abi version since 1.5.
And check this page see whether your CMakeList.txt is correct.
https://pytorch.org/cppdocs/installing.html#

[2020-07-13 14:23] malfet commented on #41320
Closing this issue, because we need more information to effectively triage it. When you provide the requested information, feel free to reopen the issue, to let us know that we can continue with assessing the issue. This open/close/open cycle is how we manage the flow of issues, so your reopening of the issue will constitute the signal that lets us know to take a look at the issue again.

[2020-07-13 14:23] #41320 closed

[2020-07-13 14:24] albanD commented on #41331
Hi,

Can you open the issue in the torchaudio repo directly please: https://github.com/pytorch/audio

Also make sure to specify what is the issue you're seeing and if possible a small code sample that shows it.

[2020-07-13 14:24] #41331 closed

[2020-07-13 14:25] sinannasir commented on #39272
Hi @vineeths96 , we expect this to be functional by the end of this week or sometime next week. It is now prototyped in PR #40848 if you wanna take a look. The next goal is to finish an API that converts ProcessGroup::Work to utils::Future. Then, DDP Comm hook should be ready to try some compression techniques out.

[2020-07-13 14:29] malfet commented on #41319
Can you please  specify PyTorch version, OS, compiler version as well as an actual error log (with a small code snippet) that shows this behaviour.

[2020-07-13 14:29] malfet commented on #41319
Closing this issue, because we need more information to effectively triage it. When you provide the requested information, feel free to reopen the issue, to let us know that we can continue with assessing the issue. This open/close/open cycle is how we manage the flow of issues, so your reopening of the issue will constitute the signal that lets us know to take a look at the issue again.

[2020-07-13 14:29] #41319 closed

[2020-07-13 14:36] malfet commented on #41238
crux of the issue is that `Vec256<float>:operator<` returns vector of 0 and -nans, but `Vec256<BFloat>:operator<` returns vector of 0 and nans.

[2020-07-13 14:36] Flamefire opened #41340 "Error in test suite: an illegal memory access was encountered"
## 🐛 Bug

Running the test suite fails on our system. The issue seems to be with `TestTorchDeviceTypeCUDA` where starting with `test_blas_alpha_beta_empty_cuda_float16` all tests fail with `RuntimeError: CUDA error: an illegal memory access was encountered`

## To Reproduce

Steps to reproduce the behavior:

1. python run_tests.py

One of the traceback is:
[code]

Maybe related to #21819 or #36722

[2020-07-13 14:55] netw0rkf10w commented on #34573
Yes this is what I was thinking as well, but then why is `key_padding_mask` needed in `functional.multi_head_attention_forward()`? I'm confused...

[2020-07-13 14:57] zhangguanheng66 commented on #34573
That's a decision we made more than 1 year ago. And once merged in the release, it's hard to remove or change for BC breaking reason. For the new implementation here (a.k.a. MHA container), I try to simplify the APIs.

[2020-07-13 15:35] SsnL commented on #41329
The workers are not reseeded to the same seed each epoch. The observation you had is because of the following reasons:
1. NumPy duplicates RNG on `fork`, the default multiprocessing method on Linux.
2. You are not advancing NumPy RNG in the main process.
3. So each epoch, `fork`'ed DataLoader workers copy the same RNG from the main process.

It would be impossible for PyTorch to automatically dete

[2020-07-13 15:43] netw0rkf10w commented on #34573
@zhangguanheng66 I see. Yes the new implementation is very clean, thanks for that.

Let me make this more concrete. In the old implementation we have:

[code]

where `L`: target length, `S`: source length, `N`: batch size, `H`: number of heads. In the new one, we only have:

`attn_mask: (N * H, L, S) `

Now if we are given `key_padding_mask` and we want to use the new MHA, we need to merge the mas

[2020-07-13 15:54] netw0rkf10w commented on #34573
Wait, why did you add `src_key_padding_mask` as an argument then?

[2020-07-13 16:08] ailzhang commented on #41329
Closing via https://github.com/pytorch/pytorch/issues/41329#issuecomment-657631838

[2020-07-13 16:13] ailzhang commented on #41333
As suggested in the message, we'd keep github issues for bug reports/feature requests only and redirect all questions to the forum. Thanks!

[2020-07-13 16:13] #41333 closed

[2020-07-13 16:22] vineeths96 commented on #39272
Hi @sinannasir

Thank you for your reply.

That's some really good work out there. I experiment with different gradient compression techniques. I am eagerly waiting to try out some compression algorithms using this new development.

[2020-07-13 16:23] kjdorow7 commented on #36478
I was getting the same issue, but found a work around. After experimenting with the code provided by @IlyaOvodov, I discovered that the following produces an onnx file.

[code]

[2020-07-13 16:40] ngimel commented on #41340
Setting high priority because it's a crash.

[2020-07-13 16:55] kurtamohler commented on #15359
Currently, it doesn't seem like it's possible to check the CUDA version from a non-nvcc compiled file, so I believe I'll have to add that to `aten/src/ATen/cuda/detail/CUDAHooks.h`. If anyone knows any better, please let me know.

[2020-07-13 16:56] renesax14 opened #41341 "Do not remove future support of saving tensors and models with pickle (need for AutoML!)"
## 🚀 Feature
I'd like to save tensors with pickle, dill etc for purposes of AutoML.

## Motivation

I saw this warning:

[code]

that came from pytorch.

I am generating models on the fly so I do not have a class for them as the recommended suggest (https://pytorch.org/docs/master/notes/serialization.html#recommend-saving-models).

If my pickled code won't work later, how am I suppose to save the

[2020-07-13 17:06] frgfm commented on #39674
Any thoughts @albanD @mruberry?

[2020-07-13 17:08] ezyang commented on #41336
#41144 removed nvidia runtime installs and I'm guessing it's the culprit

[2020-07-13 17:08] ezyang commented on #41336
the key error message is

[code]

@malfet

[2020-07-13 17:12] albanD commented on #41197
Seems to be a duplicate of https://github.com/pytorch/pytorch/issues/17199

[2020-07-13 17:13] #41197 closed

[2020-07-13 17:14] ezyang commented on #17199
@VitalyFedyunin are you still planning to work on this?

[2020-07-13 17:18] albanD commented on #41340
High priority to at least reproduce and confirm that this is related to K80.

[2020-07-13 17:23] ezyang commented on #40967
@ngimel thinks most cases should be errors

[2020-07-13 17:29] albanD commented on #41164
Hi,

I don't think there is any plan from the core team to work on this.
Looking at examples like Tensorflow.js, there is actually almost no code in common with the core Tensorflow framework.

So you should be able to add this as a third party library without adding anything to core pytorch.
If anything is missing from the core library to do this, don't hesitate to ping us so that we can make sure

[2020-07-13 17:30] albanD commented on #31758
cc @VitalyFedyunin who is looking into dataloader as well.

[2020-07-13 17:31] ngimel commented on #40472
See discussion in https://github.com/pytorch/pytorch/pull/40452, the user wants to see at least change to CUDAStream.h so that they can build 1.6 with cuda11. Let me know if you want a PR with change to CUDAStream.h change only, or if we should cherry-pick all of #40452

[2020-07-13 17:37] netw0rkf10w commented on #34573
The above is not good. To convert `key_padding_mask` to a 3D mask, e.g. for self-attention, one should do:

`key_padding_mask_3D = ~torch.einsum('bi,bj->bij', ~key_padding_mask, ~key_padding_mask).repeat(H, 1, 1)`

[2020-07-13 17:53] kundanapillari commented on #41304
Yes, the dummy_model_input successfully runs and generates the right output for the pytorch model but fails when the export function is executed.

[2020-07-13 17:58] suo opened #41353 "[jit] support for torch.distributed primitives"
## 🚀 Feature
The [`torch.distributed`](https://pytorch.org/docs/stable/distributed.html) package provides PyTorch support and communication primitives for multiprocess parallelism across several computation nodes running on one or more machines. It is the new basis for the `DistributedDataParallel` wrapper class, which provides a higher-level toolkit for performing synchronous distributed training

[2020-07-13 18:00] seemethere commented on #40998
I think https://github.com/pytorch/pytorch/pull/41354 should resolve this along with re-opening https://github.com/pytorch/pytorch/pull/27167

[2020-07-13 18:03] suo opened #41355 "[JIT] Support for CUDA streams in TorchScript"
## 🚀 Feature
Eager mode exposes [a CUDA API](https://pytorch.org/docs/stable/cuda.html) that affords users more control over the execution of their code on CUDA devices. It would be nice if these features were available in TorchScript too!

## Motivation
Exposing streams and events at the very least would allow users to make more efficient use of their CUDA devices. At present, all CUDA operations

[2020-07-13 18:12] albanD commented on #39674
Hi,

Sorry for the delay.
I definitely agree that we want to clean this up!

Two questions I would have:
- Do I understand properly that when self.training=False, we can never update the running stats and have to use the saved statistics for normalization?
- Is it BC? For a user that just uses batchnorm today, will there be any change?

[2020-07-13 18:17] mruberry commented on #39674
I'm also concerned about the BC implications of (3). (1) and (2) seem OK but I also know that changing batchnorm has historically been challenging in some cases, especially ensuring it's properly jittable.

I'm not super familiar with the context here, but how much would implementing a torch.nn.batchnorm.functional address these issues? That would allow users the finest control over what statistic

[2020-07-13 18:18] yns88 commented on #41232
Oops, at least some of those 176 'gh/*/base' branches were actually being used as the base ref for open stacked pull requests.

Otherwise, I did delete ~800 branches just now. At least 1500 of the remaining branches are linked to open pull requests, while the rest are a little more difficult to figure out.

[2020-07-13 18:23] zhangguanheng66 commented on #34573
Yes. You are right to combine `attn_mask` and `key_padding_mask`. Let me know if it works.

For the second question, the answer is no. For the transformer and MHA in the core library, we want to minimize the changes unless there is a significant bug. This is to avoid BC breaking considering the large user group.

[2020-07-13 18:30] glaringlee commented on #13402
Booked this as an onboarding task

[2020-07-13 18:31] choidongyeon opened #41358 "TestTensorExprFuser.test_unused is failing in release/1.6 branch."
## 🐛 Bug

I am on the ```release/1.6``` branch. I have not made any changes to the code and TestTensorExprFuser.test_unused is failing:

[code]

## To Reproduce

[code]

## Expected behavior

Test should pass.

## Environment

[code]

cc @suo @gmagogsfm

[2020-07-13 18:32] ptrblck commented on #38788
@quinor Could you share the nvbugs id, please?

[2020-07-13 18:35] albanD opened #41359 "Use undefined as Tensor of zeroes in the python Function API"
We now fully support undefined Tensors in the backward pass to represent a Tensor full of zeroes.
We should leverage this and stop creating full size Tensors for custom Function (both on python and cpp side)

cc @ezyang @SsnL @albanD @zou3519 @gqchen @yf225 @glaringlee @VitalyFedyunin @ngimel

[2020-07-13 18:40] spandantiwari commented on #41231
@ruiann - can you share your full repro, including model code, export code, and the code you use for running it in ONNX Runtime?

[2020-07-13 18:43] spandantiwari commented on #41304
@kundanapillari - I don't see from your stack trace what exactly is the error in ONNX export. Can you do the following:'
1) Set model.eval() before export.
2) Can you set the device to cpu and run the model on cpu for export?

[2020-07-13 18:45] benschreiber opened #41361 "Indicate in-place parameter updates in TorchScript IR"
## 🚀 Feature

TorchScript's graph representation does not explicitly indicate when method parameters are modified in-place. It should indicate in the IR where such operations could occur.

## Motivation

TorchScript exists to provide an easy-to-parse, unambiguous representation of a PyTorch model. Its IR graph representation is in SSA form to support this goal. Consider the following program:

[co

[2020-07-13 18:59] vadimkantorov commented on #9244
It seems that ONNX has EyeLike op :)

https://github.com/pytorch/pytorch/pull/41357

[2020-07-13 19:28] rohan-varma opened #41362 "torch.distributed NCCL backend does not support bitwise reduction ops"
## 🐛 Bug

The documentation at https://pytorch.org/docs/stable/distributed.html specifies that BAND, BOR, BXOR are supported reduction operators, however, they do not work with `all_reduce` using the NCCL backend.

We can see in the [code](https://github.com/pytorch/pytorch/blob/c451ddaeda3e58d0f51d4026add4de1b3cf9657d/torch/lib/c10d/ProcessGroupNCCL.cpp#L39) that there is no mapping for the bitwi

[2020-07-13 19:35] #40985 closed

[2020-07-13 19:45] kurtamohler commented on #40215
It seems like it would be fairly straightforward to move some of the dunder operators like `__rdiv__` and `__rsub__` out of `python_variable_methods.cpp` into codegen. I can start working on those.

Is the aim also to attempt to remove entries from the `PyMethodDef variable_methods[]` list in `tools/autograd/templates/python_variable_methods.cpp`, and make those be codegened as well? Or does that

[2020-07-13 19:46] wcneill opened #41363 "Possible bug in rnn.py"
## 🐛 Bug

Two related bugs, as far as I can tell:

**1.** Calling `torch.tensor()` on a NumPy ndarray with `dtype=float64` randomly results in a tensor with `dtype=torch.float32` or `dtype=torch.float64`, regardless of the datatype of the ndarray. This behavior is counter to the documentation, which states:

**2.** Given a ndarray `x` with `dtype=float64` that we wish to convert to a tensor for fe

[2020-07-13 19:53] seemethere commented on #41336
This should be resolved as of https://github.com/pytorch/pytorch/commit/86d803a9da2b5d35481e11f42850a0aced22e28d

Will leave this open until we get a successful nightly run though.

[2020-07-13 20:07] kurtamohler commented on #15359
The above commit adds the error. But I need to figure out what to do with the unit tests now. There are two problems:
* In order to test that the error is being thrown in the correct case (cuda >= 10.2 and `CUBLAS_WORKSPACE_CONFIG` is not set properly), the testing infrastructure would have to be able to automatically change the environment variable before running a test
* To make sure that the ex

[2020-07-13 20:09] ptrblck commented on #41340
We are trying to setup a node with a K80 GPU to reproduce this issue (waiting for our cluster team, if that would be possible today).
Faster workaround could be to setup a machine with a Titan Z, which might be able to reproduce it.

[2020-07-13 20:10] rgommers commented on #41240
So it looks like there's a tiny discrepancy where pytorch (and `std:arg`) use the closed `[-pi, pi]` interval while numpy uses the half open `(-pi, pi]` interval. I'd say both are valid and it's not worth worrying about. So close this issue?

[2020-07-13 20:12] kundanapillari commented on #41304
I still get the same error as above even after making these changes
[code]

[2020-07-13 20:17] anjali411 commented on #41240
@rgommers yeah agreed!

@mruberry the issue for real tensors is due to this hard coding: https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/cpu/zmath.h#L37

[2020-07-13 20:30] choidongyeon opened #41365 "distributed/rpc/tensorpipe/test_ddp_under_dist_autograd fails on release/1.6 branch"
## 🐛 Bug

test_ddp_under_dist_autograd is failling on the release/1.6 branch with no additional changes.

## To Reproduce

Steps to reproduce the behavior:

Ran
[code]

## Expected behavior

Passing test.

[code]

## Environment

[code]

cc @ezyang @gchanan @zou3519 @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @rohan-varma @gqchen @aazzolini @xush6528 @osalpekar @jiayisuse @agolynski

[2020-07-13 20:54] rohan-varma commented on #41365
cc @pritamdamania87

[2020-07-13 21:23] netw0rkf10w commented on #34573
Sorry my question was about `torchtext` (not the core PyTorch). You've switched to the new MHA in the BERT example, so I was wondering if you would add Transformer or not. I think `torchtext` should also has its own version of the Transformer.

[2020-07-13 21:39] zhangguanheng66 commented on #34573
what benefits do you think if we add a new version of Transformer, with the only difference of MHA layer? If you like, you can create a custom `TransformerEncoderLayer` with the new MHA container and throw it to `torch.nn.Transformer`.

[2020-07-13 21:59] vishwakftw commented on #41306
Relevant issue: https://github.com/pytorch/pytorch/issues/23940 - filed over a year ago.

[2020-07-13 22:01] ngimel commented on #41306
cc @ptrblck

[2020-07-13 22:03] netw0rkf10w commented on #34573
@zhangguanheng66 Actually I already have my own version of the Transformer based on your MHA container. All the old MHA layers (in both the encoder and decoder) are replaced by the new one, and as a consequence, all the `*_key_padding_mask` arguments are removed.

The reason I think `torchtext` should have a new version of the Transformer documented (even as an example just like the BERT one) is t

[2020-07-13 22:06] #40105 closed

[2020-07-13 22:21] gchanan commented on #3307
I got pinged on this; just noting that this isn't fixed.

[2020-07-13 22:24] zhangguanheng66 commented on #34573
Do you think the `TransformerEncoderLayer` and `TransformerEncoder` [here](https://github.com/pytorch/text/blob/49c558b2d3e39dbd7d7bb9a70ce89e663a648903/examples/BERT/model.py#L52-L113) could be a good example?

Actually, I'm interested to see your work to combine `attn_mask` and `key_padding_mask` in MHA container. Do you want to create a PR for that?

If you propose some work in torchtext, pleas

[2020-07-13 22:32] mrshenli opened #41369 "[RFC] Device Placement API for RPC"
## Goal

As of v1.6, `torch.distributed.rpc` only accepts CPU tensors. Applications have to first move the tensor to CPU and then pass it to RPC APIs. This is both inconvenient and slow. The original reason for enforcing CPU tensors is to avoid invalid devices on the destination process. The RPC device placement API aims at (partly) addressing this issue by allowing applications to configure the d

[2020-07-13 22:34] izdeby opened #41370 "C++ build fails on some machines"
I have a code that successfully compiles on some machines but not on the others.

project structure:
foreach_cuda
--[libtorch]
--CMakeLists.txt
--main.cu
--[build]

**How am i running it**
-> module list
 1) cuda/10.2   2) cudnn/v7.6.5.32-cuda.10.2

-> cd build
-> cmake -DCMAKE_PREFIX_PATH=/private/home/iuriiz/fun/cuda-tutorial/libtorch ..
-> cmake --build . --config Release
FAIL

Build error:
_ma

[2020-07-13 22:38] netw0rkf10w commented on #34573
Definitely! In my implementation I defined the following layer `MultiheadAttention` that closely matches `nn.MultiheadAttention` (in terms of function arguments, for ease of replacement):

[code]

Sure, I'll create a PR in the next few days (and then let's continue the discussion in the `torchtext` repo). Thanks!

[2020-07-13 23:18] glaringlee commented on #41370
@izdeby
Can you check the follwoing and let me know?
1. Does /usr/local/cuda/lib64/libnvToolsExt.so exist?
2. What is your LD_LIBRARY_PATH? is /usr/local/cuda/lib64 in it?
3. What is your CUDA_ROOT? Is /usr/local/cuda/lib64 in it?

[2020-07-13 23:36] rohan-varma commented on #41365
@choidongyeon I tried to repro this by running it a bunch of times, and wasn't able to so far. There was one fix submitted a few weeks back https://github.com/pytorch/pytorch/pull/40495, that had to be cherry-picked into this branch. I just wanted to confirm if your local checkout of the release branch has this cherry-pick in (if you are on the most recent `release/1.6`. branch then it should)?

[2020-07-13 23:56] kurtamohler commented on #15359
The above commit addresses all the concerns I mentioned in my previous comment. I added a decorator to wrap any API test that calls `torch.set_deterministic()`, temporarily setting `CUBLAS_WORKSPACE_CONFIG=:4096:8` only if needed. It also restores the deterministic flag and CUBLAS_WORKSPACE_CONFIG settings to what they were before the test was run.

[2020-07-14 00:16] rohan-varma commented on #41337
@mrshenli, did you by any chance have some context on why https://github.com/pytorch/pytorch/issues/19177 was failing? From some sources such as https://discuss.pytorch.org/t/what-does-runtimeerror-cuda-driver-error-initialization-error-mean/87505/6 it looks like this might happen when trying to re-initialize CUDA in a forked subprocess, and looking at `DistributedDataParallelTest` in `test_c10d.p

[2020-07-14 00:16] anjali411 commented on #35494
fixed in [39033](https://github.com/pytorch/pytorch/issues/39033)

[2020-07-14 00:16] #35494 closed

[2020-07-14 00:23] mrshenli commented on #41337
@rohan-varma  The tests reported in #19177 do not fail when run individually (say with `pytest -k`) but fails when run them together sequentially. My suspicion was that some test, although finished successfully, might have left the CUDA states in a bad shape, causing subsequent tests to fail. I didn't dig into which one was causing this at last though.

[2020-07-14 00:46] rohan-varma commented on #41327
Thanks for bringing this up! I confirm that I'm able to repro the issue. cc @mrshenli @ngimel, should we plan to support dataclasses in data parallel `scatter` and `gather`? It looks like the folks over at HuggingFace would need this (see the discussion in https://github.com/huggingface/transformers/issues/5693)

[2020-07-14 00:47] rohan-varma opened #41378 "GPU Skip decorators in common_distributed can misreport device information"
## 🐛 Bug

In `common_distributed.py` we have some widely-used utilities that skip tests if there are not a certain number of GPUs. The problem, however, is that many of them rely on the following code: https://github.com/pytorch/pytorch/blob/master/torch/testing/_internal/common_distributed.py#L30 which hardcodes the error message as "Need at least 2 CUDA devices", but functions such a `skip_if_lt

[2020-07-14 01:00] ezyang commented on #41300
I fixed it in https://github.com/pytorch/pytorch/pull/41312

[2020-07-14 01:09] ezyang commented on #40215
Let me talk to @rgommers about this tomorrow and then I will get back to you on this.

However, the general idea behind this task is to reduce the amount of special casing, so that e.g., if you add `__torch_function__` support, there are less places you have to edit to make things work

[2020-07-14 01:12] cadaverous-lives commented on #29814
I am also getting this exact error with momentum on pytorch 1.5.1.

[2020-07-14 02:00] Lmy0217 commented on #34202
@colesbury version 1.5.1 has same error.

[2020-07-14 02:20] rohan-varma commented on #41324
@ruotianluo, Thanks for reporting this error!

I can confirm that [this script](https://gist.github.com/rohan-varma/8a2c8575d192307e3d22d5b89344afe6) can repro the issue on current master. From some basic logging, it seems that if we add `        self.net1.bias = self.bias` to the model which triggers this error, a few things happen:
- total no. of params in the model goes from 4 to 5
- We expect

[2020-07-14 02:40] swpd opened #41382 "ConvTranspose1d extremely slow on GPU (T4), even slower than CPU"
## 🐛 Bug

Hi,

I’m confused that torch.nn.ConvTranspose1d is extremely slow when running on GPU, even slower than CPU.

## To Reproduce

Steps to reproduce the behavior:

code:
[code]
1.  save above code to `test_trans_conv.py`
1.  for GPU testing, run `OMP_NUM_THREADS=1 CUDA_VISIBLE_DEVICES=0 python test_trans_conv.py`
1.  for CPU testing, run `OMP_NUM_THREADS=1 CUDA_VISIBLE_DEVICES="" python tes

[2020-07-14 03:11] LMerCy commented on #38516
why

why? relu restricts the output range to [0, MAX]，relu6 just restricts the upper limits.

[2020-07-14 03:12] LMerCy commented on #38516
why ? ReLU restricts the output range to [0, MAX], ReLU6 just restricts the upper limitation.

[2020-07-14 03:52] rohan-varma commented on #41369
For Option 1, what happens if the mapping is not invertible?

"worker1": {
        		"cpu":     	"cuda:1",
        		"cuda:0":  	"cuda:1"
        	}

For a return value being sent to worker 1, it seems like we won't be able choose whether to materialize it on cpu or cuda:0. Is the plan to have the framework "remember" the mapping that was used for the particular RPC, and use that to help with the

[2020-07-14 03:54] xwang233 commented on #41382
Thanks for the report. This is likely a cuDNN related problem. I'll take a look.

[2020-07-14 03:57] machineyearning opened #41383 "Large overhead (7 microseconds) for PyTorch operation"
## 🐛 Bug

Hi, I am new to PyTorch so apologies if I am missing something obvious! My use case involves narrow models with small input dimension (<100). After noticing slower training time than expected, I did some profiling and found that there seems to be an overhead of ~7 microseconds for the simplest tensor operations.

[code]
gives an output of 6.8 seconds for 1 million operations. It is only

[2020-07-14 04:10] ruiann commented on #41231
@spandantiwari
Sorry I found that I forget to use model.eval() in then inference code.
Very sorry for my mistake.

[2020-07-14 04:10] #41231 closed

[2020-07-14 04:21] swpd commented on #41382
@xwang233 Thanks!!

My guess is cuDNN choose a naive convolution algorithm instead of a more efficient one. But I don't know how to get the actual algorithm selected, I think it will provide some clues.

[2020-07-14 05:06] yorkerlin commented on #41284
It requires a numerically stable version of the log cdf function of the standard normal distribution, which can be found at https://docs.scipy.org/doc/scipy/reference/generated/scipy.special.log_ndtr.htm

Also see
https://github.com/pytorch/pytorch/issues/32632

[2020-07-14 05:36] powderluv commented on #21737
Top of master fails with a tensorpipe dependency on libuv:

-- Configuring done
CMake Error: install(EXPORT "tensorpipe-targets" ...) includes target "tensorpipe" which requires target "uv_a" that is not in any export set.

[2020-07-14 06:33] mruberry commented on #41187
Glad to hear it! We're not planning another 1.5.x release. Are we OK to close this issue?

[2020-07-14 06:48] Flamefire commented on #41337
That reminds me of another issue I opened: #41186 There the failure went away when simply using pytest and they also didn't appear when the test is run separately (either through pytest or via unittest)

[2020-07-14 07:06] aizvorski commented on #41329
@SsnL Thank you for an excellent explanation.  I understand what is going on; and this is already documented well.  It is still a huge gotcha, as I think it is quite common for people to want their own random Dataset, and they can easily miss this note in the docs.  I'm just not sure what pytorch can do about it.

Maybe this text "However, seeds for other libraries may be duplicated upon initializ

[2020-07-14 07:08] yeonmin commented on #37068
+1 for windows support

[2020-07-14 07:08] harryhan618 commented on #41307
@malfet Hi, may I ask a question? Why do we set `last_epoch` in `init` as -1 and call `step` in `init`? Why don't we set `last_epoch` to be 0 directly?
Because this involves the corner case of `last_epoch=0`. Some schedulers update when `last_epoch=0`, e.g. `LambdaLR`. Others don't, e.g. `ExponentialLR`. This corner case happens when `step` is called in `init`. So the behavior is kinda weird.

[2020-07-14 07:08] mruberry commented on #40859
Interesting. Thanks for your thinking @Areiser. Let's see what @hgaiser thinks about @albanD's idea, first, but maybe we should reconsider strict implementing this behavior (and dealing with the painful deprecation process that choice entails).

[2020-07-14 07:10] mruberry commented on #41243
Agreed it's an interesting idea, but not something we're actively looking into.

[2020-07-14 07:13] WANGZhaowei-Wesley opened #41388 "It seems the documentation of torch.norm is a little wrong."
## 📚 Documentation
For the parameter 'dim', the documentation says 'If the value is None, matrix norm will be calculated when the input tensor only has two dimensions, vector norm will be calculated when the input tensor only has one dimension. If the input tensor has more than two dimensions, the vector norm will be applied to last dimension.'

My code is:
A = torch.randn(4, 3, 3)
B = torch.norm(

[2020-07-14 07:34] lexionbear commented on #37068
+1 ! would love to have gaming desktop do some non gaming workloads

[2020-07-14 07:38] hgaiser commented on #40859
The code you shared is how you could currently implement this behavior? I find it interesting and I think I will use it while no other option exists, but I don't think this should be **the** solution; considering how (in my opinion) normal this use case is.

The description doesn't say anything about shape mismatching; did you mean you were expecting the `strict` flag to allow loading of mismatche

[2020-07-14 07:45] Areiser commented on #40859
The reasoning was my (naive) idea that if the last layer was changed (i.e. from Conv2d(256, 21, kernel_size=(1, 1), stride=(1, 1)) to Conv2d(256, 13, kernel_size=(1, 1), stride=(1, 1))) that this also means the "new" layer is not in the state_dict. But I guess the access key is still the same so even strict mode tries to load the parameters.

Yes

[2020-07-14 07:46] hgaiser commented on #40859
Ah, fully agree :).

[2020-07-14 07:48] powderluv commented on #21737
@ezyang here is a first pass fix to include pytorch with add_subdirectory(). There are few more fixes required and I will push them up next.

https://github.com/pytorch/pytorch/pull/41387

[2020-07-14 07:56] TheBobbyliu commented on #19969
I'm using LibTorch 1.4.
After changing the linking order of CUDA and LibTorch libraries in my own makefile, it seems to work. Here's my solution.
this will cause segmentation fault when leaving:
`
# cuda
INCLUDE_DIRS    += -I /usr/local/cuda/include/
EXTERNAL_LIBS   += -L/usr/local/cuda/lib64 -lcuda -lcudart -lcublas -lcurand -lcudnn -Wl,-rpath,/usr/local/cuda/lib64

# torch
INCLUDE_DIRS    += -I

[2020-07-14 08:17] harryhan618 commented on #37768
@ntenenz  Hi! I'm thinking a `Compose` wrapper for lr_scheduler like `torchvision.transforms.Compose` in issue #41307, so that different scheduler strategy can be combined and used at different time. I think this is somehow related to my idea. Any suggestions? I think I'm gonna PR a first version these days.

[2020-07-14 08:26] krihabu opened #41389 "Searchsorted differentiable?"
If the searchsorted function from version 1.7.0 is used with `values` being a tensor with `requires_grad=True` following error occures:

[code]

## Code example
[code]

## System Info

- PyTorch or Caffe2: PyTorch
- How you installed PyTorch (conda, pip, source): conda
- OS: Linux Mint 19
- PyTorch version: 1.7.0.dev20200706
- Python version: 3.8.1
- CUDA/cuDNN version: 10.2.89

cc @ezyang @SsnL @

[2020-07-14 08:54] lw commented on #41365
Based on the environment dump the checkout should be on commit cefb9e0 (see the last line), which is at the moment the latest one on release/1.6. So that should include the fixes.

@choidongyeon Were there other relevant logs printed above that snippet you posted? That snippet comes from the parent process reporting that some children failed, but I think the children should also have printed somet

[2020-07-14 09:25] CatNofishing opened #41392 "About the description of the mathematical formula of nn.RNN, I think it is wrong"
## 📚 Documentation
![image](https://user-images.githubusercontent.com/33288114/87407914-60ce1780-c5f5-11ea-80eb-4fdb8c374463.png)

This formula confuses me because this formula does not look like a matrix formula. I can't determine whether W or x is a matrix or a vector.I think your formula does not consider the consistency of matrix dimensions.

According to the relevant weights and input dimensi

[2020-07-14 09:43] Flamefire opened #41393 "Running tests with --pytest fails with unrecognized arguments: --subprocess"
## 🐛 Bug

When running run_tests.py with --pytest the test test_cuda_primary_ctx.py fails with "unrecognized arguments: --subprocess"

## To Reproduce

Steps to reproduce the behavior:

- `python -m pytest test_cuda_primary_ctx.py --subprocess` to easily reproduce
- `python run_tests.py --pytest` for "regular" use which causes the above call

The reason is that unittest (likely) ignores all unknow

[2020-07-14 10:09] Flamefire commented on #41340
I can reproduce this when running a single test. Example:
- `pytest test_torch.py -v -k test_blas_alpha_beta_empty_cuda_float32` - SUCCESS
- `pytest test_torch.py -v -k test_blas_alpha_beta_empty_cuda_float16` - FAIL

So it seems to be related to the float16 type although it doesn't affect all tests. E.g. test_atanh_inplace_cuda_float16 works

[2020-07-14 10:15] ptrblck opened #41394 "LowRankMultivariateNormal creates Illegal Memory Access in magma_spotrf_batched"
## 🐛 Bug

Reported in the [forum](https://discuss.pytorch.org/t/lowrankmultivariatenormal-throws-cuda-error/89029) by `eliaz` (thanks again for reporting this issue :) )

I have an issue when using this distribution for squared images with a shape that is even and large (>= 512x512).
The following code does not work on a colab notebook when the size is set to 512x512 but does for size 513x513.
I a

[2020-07-14 10:19] Flamefire commented on #38807
I'm having the same issue on Power with V100 GPUs using PyTorch 1.6.0-rc2. Stacktrace is the same

[2020-07-14 10:26] ptrblck commented on #41382
Double post from [here](https://discuss.pytorch.org/t/convtranspose1d-extremely-slow-on-gpu-t4-slower-than-cpu/88977/3?u=ptrblck).
Copying the post:

In this mode the first iteration will be slower, as multiple algorithms will be executed to select the fastest one.
After setting torch.backends.cudnn.benchmark = True at the beginning of the script, I’ll get ~11.44ms.
The fast kernel seems to be alr

[2020-07-14 10:52] swpd commented on #41382
@ptrblck

[2020-07-14 11:20] Flamefire commented on #41337
Some more debugging:
- The first failing test is test_accumulate_gradients_module
- The failure seems to only occur when running with pytest, not with unittest
- The failure does not occur when running test_accumulate_gradients_module alone via `-k test_accumulate_gradients_module`

The problem is that I need pytest as a workaround for #41186

[2020-07-14 11:25] padmasreenagarajan commented on #17054
even I faced the same error.Could u pls specify how it works with nightly version.
Whats the difference between nightly version and stable one? @loopdigga96

[2020-07-14 11:49] yaox12 commented on #22095
When I use `SyncBatchNorm ` and call the model twice, it will not throw an error. But I'm not sure whether it produces the expected results.

[2020-07-14 11:59] xxxyyycc commented on #20313
set NCCL_SOCKET_IFNAME correctly solved my problems, thanks

[2020-07-14 12:00] Flamefire commented on #38807
I analyzed the test and might have found the problem:
The test code is:
[code]

So what it does is it syncs the stream, then records an event and immediately asserts the stream is ready. This can fail if the query is executed fast enough. So to fix this it should be waited for the event or stream to be ready. Judging from the surrounding code the following should be correct:

[code]

[2020-07-14 12:08] vadimkantorov commented on #26288
@ezyang Sorry I still haven't had time to finish this stuff :(

I also found that 1.5.1 PyTorch changed something internally, and now my Frankenstein implementation of inplace BatchNorm (mix of [lowering batchnorm code](https://github.com/pytorch/pytorch/blob/53af9df557aff745edf24193ece784fd008c6f19/torch/csrc/jit/passes/decompose_ops.cpp#L195) and [syncbatchnorm code](https://github.com/pytorch/p

[2020-07-14 12:14] skurzhanskyi opened #41396 "Is it planning to support nn.Embeddings quantization?"
First of all, I would like to thank you for the awesome `torch.quantization`. But at the moment, the quantization of embeddings is not supported, although it's one of the biggest (in terms of size) parts of the models in NLP.
I tried to use `nn.Embeddings` as `nn.Linear` because they have a very similar nature, but get the following error:
[code]
So I'm interested whether it's planned to support `

[2020-07-14 12:40] KushajveerSingh commented on #18182
A small change in the above code. Use **if-else** logic for versions. The reasoning being it would make adding newer versions easier. e.g. if we add code till version=2 for all modules. Now if a new initialization is found for nn.Linear only, we would only have to change the code for nn.Linear.

[code]

@soumith @gchanan can you review this please?

[2020-07-14 12:45] JCBrouwer commented on #38487
Thanks for the response @mcarilli

I think the documentation should make it more clear that this autocasting only happens for native pytorch functions. A "promote_to_match" setting would be nice (seems like a sane default to me).

I've tried out setting cast_inputs. While `@torch.cuda.amp.custom_fwd(cast_inputs=torch.float32)` does correctly cast everything to float32, `@torch.cuda.amp.custom_fwd(

[2020-07-14 12:45] ShroukMansour opened #41399 "Bottleneck when publishing the model using flask about 3 times slower."
## 🐛 Bug

When I publish the model using flask, it takes 3 times longer than the normal run. My model takes about 36 sec to run, but when I converted it to an API it took 122 sec

## To Reproduce
I've confirmed this problem when running your launched model at the tutorials [here](https://pytorch.org/tutorials/intermediate/flask_rest_api_tutorial.html).

The result of the profiling is the python3.7

[2020-07-14 12:51] chuanhuayang commented on #41235
thanks for your reply，I am using bazel build. maybe the error is caused by  the absence of  `-lpthread` link option.
after added this option, the error is gone!

[2020-07-14 12:51] #41235 closed

[2020-07-14 13:08] albanD commented on #40859
A small note here is that we don't actually guarantee that you can achieve this by only loading weights of the new size: what if the original layer didn't had bias but the new one does? Or what if we have to save some properties (let's imagine kernel size as self.kernel_size), they won't be updated when you load your new weights.

So even though it might work right now, I don't think you should ex

[2020-07-14 13:26] ruathudo commented on #40497
@mcarilli When autocast disabled and the scaler is used, the model runs fine, not seeing NaNs so far.

[2020-07-14 13:32] colesbury commented on #34202
@Lmy0217 the fix by @ppwwyyxx will be in 1.6.0

[2020-07-14 13:43] Flamefire opened #41400 "test_jit.py fails on Power"
## 🐛 Bug

Various tests from test_jit.py fail on Power. This might be related to  #41186 as some tests have similar names to the ones failing there.

The failing tests are:
- test_solve_batched_broadcast_A_cpu (__main__.TestJitGeneratedAutogradCPU)
- test_solve_batched_broadcast_b_cpu (__main__.TestJitGeneratedAutogradCPU)
- test_solve_batched_cpu (__main__.TestJitGeneratedAutogradCPU)
- test_solv

[2020-07-14 13:51] Flamefire opened #41401 "test_torch.py fails with nan results"
## 🐛 Bug

2 test out of test_torch.py fail with results containing NaN:
- TestTorchDeviceTypeCUDA.test_det_logdet_slogdet_batched_cuda_float64
- TestTorchDeviceTypeCUDA.test_lu_cuda

## To Reproduce

Steps to reproduce the behavior:

1. pytest test_torch.py -k 'not float16' (due to #41340)

            run_test(matsize, batchdims, mat_chars=['sym_pd'])

[code]

## Environment

Collecting environme

[2020-07-14 13:54] Flamefire opened #41402 "test_torch.py fails if not build with MKL"
## 🐛 Bug

Due to not using conda on our cluster we build PyTorch without MKL.
When running the tests `TestTorchDeviceTypeCUDA.test_istft_of_sine_cuda_float64` fails with `RuntimeError: fft: ATen not compiled with MKL support`

## To Reproduce

Steps to reproduce the behavior:

1. pytest test_torch.py -k 'not float16' (due to #41340)

Last line before failure:
[code]

## Environment

Collecting env

[2020-07-14 14:08] glaringlee commented on #41235
@chuanhuayang Great! For bzl build, there is a bzl file in pytorch folder as well, you can take it as a reference.

[2020-07-14 14:39] izdeby commented on #41370
@glaringlee,
1) No
2) LD_LIBRARY_PATH=/public/apps/cudnn/v7.6.5.32-cuda.10.2/cuda/**lib64**:/public/apps/cuda/10.2/**lib64**::/public/slurm/20.02.1/lib:/public/slurm/20.02.1/lib
LD_LIBRARY_PATH_modshare=:1:/public/apps/cuda/10.2/**lib64**:1:/public/slurm/20.02.1/lib:1:/public/apps/cudnn/v7.6.5.32-cuda.10.2/cuda/**lib64**:1

3) CUDA_ROOT - no value

[2020-07-14 14:50] glaringlee commented on #41370
@malfet
Is this because pytorch find cuda files using a fixed path (which is /usr/local/cuda/lib64)?
It seems the cuda is installed in another path on the machine above (devfair). Any advise here? Edit CUDA_ROOT?

[2020-07-14 14:54] malfet commented on #41370
@glaringlee yes, cmake’s FindCUDA script searches for CUDA in /usr/local/cuda unless CUDA_ROOT is defined

[2020-07-14 14:54] mrshenli commented on #41369
It can throw an error on all processes when calling `init_rpc`. And if this is an issue, the application can specify the `return_map_location` arg as well to override the return mapping.

For default device placement, we can let all agents remember all egress mappings at construction time and consult this mapping for all RPCs. If we need to add per-RPC device placement, then yes, the Message will

[2020-07-14 15:01] mrshenli commented on #40107
Adding more implementation details for Implementation Phase 2:

The code can be added to `torch/distributed/rpc/api.py`, and could look like the following:

[code]

[2020-07-14 15:02] jjlilley commented on #41369
Wondering (maybe this isn't a good idea), would we consider allowing the caller to explicitly specify device placement, e.g.
[code]

[2020-07-14 15:11] glaringlee commented on #41370
@izdeby
Can you setup your CUDA_ROOT?
Add these paths in: /public/apps/cudnn/v7.6.5.32-cuda.10.2/cuda/lib64:/public/apps/cuda/10.2/lib64

[2020-07-14 15:25] dbalchev opened #41406 "Memory corruption and crash in quantized convolution with small inputs"
## 🐛 Bug
When I run `torch.nn.quantized.Conv2d` on inputs with small widths there's a memory corruption, an error message from `malloc` and the process is terminated.

## To Reproduce

Steps to reproduce the behavior:

1. Run the following script

[code]

1. Example output:
[code]

## Expected behavior
No memory corruption

## Environment

[code]

## Additional context

### Notes:
- This doesn't h

[2020-07-14 15:36] rgommers commented on #22616
Fixed, so closing. Thanks all!

[2020-07-14 15:36] #22616 closed

[2020-07-14 15:39] rgommers commented on #26234
There are docs on this and question is answered, so closing.

[2020-07-14 15:39] #26234 closed

[2020-07-14 15:41] izdeby commented on #41370
@glaringlee, i've updated CUDA_ROOT
-> env | grep CUDA_ROOT
<- CUDA_ROOT=/public/apps/cudnn/v7.6.5.32-cuda.10.2/cuda/lib64:/public/apps/cuda/10.2/lib64

Then rebuilt everything from scratch but it still fails.
Error:
_make[2]: *** No rule to make target '/usr/local/cuda/lib64/libnvToolsExt.so', needed by 'foreach_cuda'.  Stop.
CMakeFiles/Makefile2:72: recipe for target 'CMakeFiles/foreach_cuda.dir

[2020-07-14 15:45] ntenenz commented on #37768
I suspect this PR would solve one particularly thorny issue you'd face. Notably, right now there's no easy/clean way to determine when a LRScheduler should be stepped. This PR would add a unified interface allowing any scheduler to signify (potentially dynamically) when to step.

[2020-07-14 15:45] rgommers commented on #19546
This doesn't look like a valid bug report. One should never use the result of `torch.empty` without filling in values first, because it could contain anything - `nan`, `inf` or values that cause overflow for example.

I'll close the issue. @cloudyyyyy if you have a fully reproducible example please feel free to comment/reopen.

[2020-07-14 15:45] #19546 closed

[2020-07-14 15:47] hehedaozuiteng opened #41407 "Build Android error, Task :pytorch_android:bundleReleaseAar FAILED"
hi all，

I am trying to build pytorch android from source by following this website: https://pytorch.org/mobile/android/#building-pytorch-android-from-source

I runned it on mac with zsh.

gradle: v5.6.4

jdk8  : v1.8.0_251

ndk: 21.3.6528147

sdk:  30.0.3

at the end I recived the error:

It seems like stuck on the release the aar file. what should I do to finish the compilar?

[2020-07-14 15:53] rgommers commented on #14617
This seems fixed, so closing. Thanks for reporting @aldopareja

[2020-07-14 15:53] #14617 closed

[2020-07-14 15:56] rgommers commented on #17825
No follow-up, and there have been a lot of issues and changes related to `sparse.mm`. So I'll close this. Thanks @patrickgrad, @zou3519

[2020-07-14 15:56] #17825 closed

[2020-07-14 16:03] Flamefire commented on #41358
Happens for me too.

PyTorch 1.6-rc2
CUDA 10.1
GPU: Tesla K80

[2020-07-14 16:19] glaringlee commented on #41370
@malfet
Did I missed anything here? The CUDA_ROOT is updated, but the cuda path is still /usr/local/cuda/lib64. Any advise?

[2020-07-14 16:27] #36977 closed

[2020-07-14 16:57] SsnL commented on #41329
@aizvorski I agree that we should do better x-references on this matter. I am reopening this issue for the following actionable item:
+ Reference the randomness issue in DataLoader & Dataset documentation.

[2020-07-14 16:59] suo opened #41411 "[jit] support `list()` and `dict()` constructors"
The following doesn't work:
[code]
nor does its equivalent for dicts.

cc @suo @gmagogsfm

[2020-07-14 17:00] #41411 closed

[2020-07-14 17:00] suo commented on #41411
this is a dupe of https://github.com/pytorch/pytorch/issues/36247

[2020-07-14 17:16] Char-Aznable commented on #23482
@adamjstewart As I said in the earlier posts, this is most likely a bug in cmake configuration rather than the source code. The build configuration should not look up dependency in paths that wasn't specified, otherwise you get exponential explosion of patching up source code in various combinations of dependency.

[2020-07-14 17:18] adamjstewart commented on #23482
@Char-Aznable that would be great! I'm a Python developer with little C/CMake experience, so if anyone can write CMake patches I would be willing to test them.

[2020-07-14 17:26] suo opened #41412 "[jit] Support for union types"
[PEP 484](https://www.python.org/dev/peps/pep-0484/) specifies Unions as part of the type system. We should consider supporting them in the TorchScript type system, as they are a common pattern in Python code. This is a low-pri request from PyPER as well.

[2020-07-14 17:36] #37151 closed

[2020-07-14 17:37] suo opened #41415 "[jit] `set` builtin support"
We support `List` and `Dict`, we should support `Set` as well. This is a low-pri request from PyPER.

[2020-07-14 17:40] glaringlee commented on #41370
@izdeby
In the meantime, a temp fix is:
In the file /path/to/libtorch/share/cmake/Caffe2/Caffe2Targets.cmake
Replace the references to /usr/local/cuda/... with your CUDA path.
Let me know if it works.

[2020-07-14 17:40] suo opened #41416 "[jit] support for generators and `yield`"
Background on what generators are: https://wiki.python.org/moin/Generators

The use cases for TorchScript are
1. some classes want to use generates to implement `__iter__` and such, especially in Torchtext
2. the PyTorch optimizers make use of generators

[2020-07-14 17:42] suo opened #41417 "[jit] support class polymorphism"
Today, classes cannot inherit from other classes. This is a surprising limitation for people who want to use inheritance for code re-use, or are scripting already-existing codebases that use inheritance. Also: the PyTorch optimizers are polymorphic.

[2020-07-14 17:45] suo opened #41418 "[jit] support `rpc_remote` and `rpc_sync`"
We registered the `rpc_async` in TorchScript, but not `rpc_remote` and `rpc_sync`. We should register these two as well, as they are exactly the same semantics with `rpc_async`. This is a mid-pri request from PyPER

[2020-07-14 17:46] suo opened #41419 "[jit] Support NamedTuple in tracing"
We should be able to take `NamedTuples` as input and output of traced modules. As a starting point, can look at https://github.com/pytorch/pytorch/pull/29751 for a rough implementation

[2020-07-14 17:53] izdeby commented on #41370
@glaringlee
I made the changes but they didnt work.
there are 2 issues that i've noticed:
1) the only place in Caffe2Targets.cmake that was mentioning `/usr/local/cuda/` was this line:
`INTERFACE_LINK_LIBRARIES "torch::cudart;c10_cuda;/usr/local/cuda/lib64/libnvToolsExt.so;/usr/local/cuda/lib64/libcudart.so;torch_cpu_library;caffe2::cufft;caffe2::curand;caffe2::cublas;caffe2::cudnn"`

i've updated

[2020-07-14 17:57] eellison commented on #41400
This would be nice to fix but working on Power is probably not sustainable unless there is a CI build for it cc @seemethere. We would accept PRs that fix these issues though.

[2020-07-14 18:05] SplitInfinity opened #41420 "[jit] Support with statements and useful context managers"
## 🚀 Feature
JIT statements should support Python `with` statements and some associated useful context managers like `torch.no_grad`.

cc @suo @gmagogsfm

[2020-07-14 18:06] SplitInfinity commented on #41420
Ongoing work is being tracked at using [this GitHub project](https://github.com/pytorch/pytorch/projects/12).

[2020-07-14 18:08] SplitInfinity opened #41421 "[jit] TorchScript class redesign"
## 🚀 Feature
We should redesign TorchScript classes so that they work more like `ScriptModules` in the sense that they have reference semantics across the Python/TorchScript boundary.

cc @suo @gmagogsfm

[2020-07-14 18:20] vadimkantorov commented on #3428
Searching "pytorch grad_fn". Several comments:
1. What is `former_torchies`?
2. autograd_tutorial_old is 1.5.1. This is not old
3. autograd_tutorial is 1.0.0.dev20181128 - an old nightly!

![image](https://user-images.githubusercontent.com/1041752/87461808-338e6300-c60f-11ea-8fa3-ce3dd573376e.png)

@soumith @zou3519

[2020-07-14 18:28] zou3519 commented on #3428
I think we just added versioning for the tutorials. cc @jlin27

[2020-07-14 18:34] matrs commented on #38412
It's usable, it always has been, but it's slower than `openblas` in linux as the OP says:

https://www.pugetsystems.com/labs/hpc/AMD-Ryzen-3900X-vs-Intel-Xeon-2175W-Python-numpy---MKL-vs-OpenBLAS-1560/

I arrived here because I wanted to create a new env using `conda` with `pytorch` (pytorch channel ) and `nomkl` and I couldn't. As the OP says, it would be good to not require `MKL`, AMD has sold a

[2020-07-14 18:39] glaringlee commented on #41370
@izdeby
Oh, I see, I've thought you have those .so, but not in /usr/local/cuda.
If you don't have them， probably your cuda installation has problem, can you search your local drive broadly, if still can not find those .so, try re-install cuda env.

[2020-07-14 18:41] jansel commented on #41418
Possibly a non-jit team task?

[2020-07-14 18:44] kjdorow7 commented on #24243
@WGY907, it looks like this problem goes away with newer PyTorch versions. I ran the above code with 1.5.1 and had no problems.

[2020-07-14 18:45] izdeby commented on #41370
@glaringlee
Ok, that looks like my setup issue so im closing the issue for now.
Thank you for your help!

[2020-07-14 18:45] #41370 closed

[2020-07-14 18:45] jansel commented on #41417
@suo will add details

[2020-07-14 18:47] jansel commented on #41421
@SplitInfinity has a design doc here, work is paused.

[2020-07-14 18:56] panchgonzalez opened #41423 "ONNX fails to export Fold / col2im"
## 🐛 Bug

`torch.onnx.export` fails when `nn.Fold` module is present.

## To Reproduce

Steps to reproduce the behavior:

[code]

This returns
[code]

## Environment

[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py) output
[code]

## Additional context

cc @houseroad @spandantiwari @lara-hdr @BowenBao @neginraoof @SplitInfinity

[2020-07-14 18:57] jansel commented on #41353
Figure out what needs to be done and who should do it.  Need to own the process.

[2020-07-14 19:00] jansel commented on #17291
In progress PR for this that got dropped.

[2020-07-14 19:01] eellison commented on #17291
https://github.com/pytorch/pytorch/pull/34112

[2020-07-14 19:12] dniku commented on #25643
Here is a quick and dirty workaround for making prefetch size configurable. Note that it does not support prefetch size smaller than the default `2 * num_workers`.

[code]

[2020-07-14 19:41] rwightman commented on #3169
@albanD @heitorschueroff FYI, I tested the SiLU on nightly with some EfficientNet networks. Everything is working fine, memory appears on par with my autograd impl. However, the throughput is approx 20% lower vs my jit + autograd version (with fusion enabled, either comared to 1.4 with the old jit or the 1.7 nightly with legacy enabled). That's probably worth looking into going the next step and i

[2020-07-14 19:47] kiukchung opened #41425 "[RFC] torch.distributed.app (role-based + higher-level RPC APIs)"
-- with @tierex, @mrshenli , @pritamdamania, @lw, @agolynski , @osalpekar, @zhaojuanmao, @rohan-varma

## 🚀 Feature
Concept (and thus a set of APIs) of a `distributed.application` that comprises of:
1. Higher level torch rpc APIs (role-based rpc APIs)
1. Succinct init methods to for apps using both rpc and process groups with a heterogeneous topology (roles)
1. Ensure all the above works well when

[2020-07-14 20:15] albanD commented on #41359
More details of the two part that are covered by this issue.

1. Stop materializing outputs
For this part, we just want to make sure that `None` or `undefined` Tensors returned by the custom backward are passed as `undefined` to the rest of the computations.
The only BC breaking change this leads to is when this output is directly linked to either an `AccumulateGrad` (and so the .grad field of a l

[2020-07-14 21:07] CoderHam opened #41427 "PyTorch memory footprint much larger than TF/ONNX"
## 🐛 Bug

Significantly larger memory footprint of PyTorch for vanilla Resnet50 (possibly other models too). Unlike Tensorflow and ONNX, it consumes significantly extra memory and is unable to run even 1 instance with batch size of 128 on a GPU with 12GB memory (Titan V)

## To Reproduce

Steps to reproduce the behavior:

1. Grab Resnet50 model from TorchVision models.
2. Prepare torchscript model

[2020-07-14 21:19] albanD commented on #41243
Note that they actually have a shared (internal) subclass (not considering the SyncBatchNorm) which we might be able to leverage here.
But we still need a new common API.

[2020-07-14 21:23] #36403 closed

[2020-07-14 21:25] mrshenli opened #41428 "Add a done() API to torch.futures.Future and ProcessGroup::Work"
Discussion in https://discuss.pytorch.org/t/how-to-check-if-irecv-got-a-message/55725 asks for an API to check the completion of a `ProcessGroup::Work` from `isend` / `irecv`.  A temporary solution would be implementing the `isCompleted` API properly, which is already exposed to Python.

https://github.com/pytorch/pytorch/blob/e2c4c2f102af3bf81b1a7a7e4d2165cebda4995b/torch/lib/c10d/ProcessGroup.hp

[2020-07-14 21:28] vadimkantorov commented on #41243
IIRC convolutions also already have some common class like` _ConvNd`. An example of an SqueezeAndExcite1d module that would have benefitted from `arity` polymorphism: https://gist.github.com/vadimkantorov/97d7ff97fd296330a496de5449bd288e

[2020-07-14 21:40] mrshenli commented on #41369
Yep, this would work if `x` and `y` will be placed on the same device on the callee, but if they will be allocated to different devices (say we are using a custom target function instead of `torch.add`), then we will need more than one number after `worker0:`.

[2020-07-14 21:51] #40998 closed

[2020-07-14 22:40] vincentqb commented on #41307
A compose wrapper should not be needed. Instead, one should simply be able to chain them. See #26423.

[2020-07-14 22:48] vincentqb commented on #41389
I can reproduce.

[2020-07-14 22:53] vincentqb commented on #41393
@mruberry -- do we officially support running tests using both unittest and pytest?

[2020-07-14 22:55] vincentqb commented on #41394
Does this also happen with the last stable release?

[2020-07-14 22:58] vincentqb commented on #41383
cc @gchanan for #2518

[2020-07-14 23:08] vincentqb commented on #41341
cc @ezyang who may have more visibility about this

[2020-07-14 23:23] SplitInfinity opened #41432 "[JIT][to-backend] Modify to_backend functions to take a wrapped module"
After #41146, all of the auto-generated `to_backend` functions return a `ScriptModule`. However, the functions still expect an unwrapped C++ module. For symmetry, they should accept `ScriptModule` too.

cc @suo @gmagogsfm

[2020-07-14 23:24] #40553 closed

[2020-07-14 23:31] SplitInfinity opened #41433 "[JIT][to-backend] `selective_to_backend` infra"
Now that #41146 has landed, we need to create and make available some utility functions to help users write code that selectively lowers some modules in a module hierarchy. The main consideration here is that the JIT type of the lowered module and all of its ancestors needs to be updated after lowering to a backend.

[2020-07-14 23:34] mariosasko commented on #40967
I can take this one. Will make a PR soon (with a test).

[2020-07-14 23:53] ngimel commented on #41383
Operations with scalars are particularly slow, that's a known issue. The benchmark above benchmarking `x*x` with `requires_grad=False` is approx 2 us. Approx half of it is python parsing overhead (same operation called using c++ API would take about a microsecond).

[2020-07-15 00:11] 4d55397500 commented on #15803
Hi,
 As @f0k has pointed out in the last comment, the anomaly detection feature does not isolate the line containing the in-place operation. I think the original poster's concerns (@gwgundersen ) still stand. Is there any interest or new developments in debugging this sort of error? Thanks!

[2020-07-15 00:26] bhosmer commented on #4636
Just to confirm, are we talking one function def per header? If so (or really regardless), would we do it incrementally, like keep generating the full list as well as the single files, and migrate cpp files over as time allows? Or have a flag day?

On board regardless - a quick rebuild cycle is probably the biggest single thing we can do to improve devex around ops and native_functions.yaml. Bette

[2020-07-15 00:35] xsacha commented on #41427
What happens if you don't use torchscript?
Also, what happens if you del(model) for the resnet50 model you grabbed prior to loading the torchscript model.
Also, are you using with torch.no_grad()?

[2020-07-15 00:37] ezyang commented on #41341
cc @driazati by blame. Also cc @andyljones from #39003 this may not actually be deprecated now

[2020-07-15 00:40] kuramawzw3 opened #41440 "Error when converting custom layer with output of tuple to onnx format in pytorch 1.5.1"
## 🐛 Bug

## To Reproduce

[code]
## Expected behavior

(pytorch_1.5.1) wangzhiwei.yt@10.129.116.130:byte_pytorch_tools$ python test_tuple.py
torch.__version__ 1.5.1
Traceback (most recent call last):
  File "test_tuple.py", line 21, in <module>
    torch.onnx.export(model, batch, "test.onnx", verbose=True)
  File "/data00/home/wangzhiwei.yt/anaconda3/envs/pytorch_1.5.1/lib/python3.7/site-packages

[2020-07-15 00:54] amirgholami commented on #41332
I have noticed the same problem and it would be great if someone could have a look

[2020-07-15 00:54] anguoyang commented on #40994
@gmagogsfm I have tested on the pytorch-nightly(1.7 preview) but with this error:
torch.nn.modules.module.ModuleAttributeError: 'BatchNorm2d' object has no attribute '_non_persistent_buffers_set'

[2020-07-15 01:02] VitalyFedyunin commented on #41001
cc @ilia-cher

[2020-07-15 01:02] kuramawzw3 commented on #22134
I have test on 1.5.1, but still get errors.
I have reported new bug , [41440](https://github.com/pytorch/pytorch/issues/41440)

[2020-07-15 01:05] SplitInfinity opened #41443 "Replace blacklist/whitelist throughout the PyTorch codebase"
## Goal
The goal of this issue is to track overall progress toward eliminating the use of the terms *whitelist* and *blacklist* from the PyTorch codebase. The recommended replacements for these terms are *allowlist* and *blocklist*, respectively. [See this numpy issue for more information.](https://github.com/numpy/numpy/pull/16669)

However, we should strive to use more specific and appropriate t

[2020-07-15 01:09] VitalyFedyunin commented on #33296
1) There are some fixes for CUDA IPC in the coming 1.6 version
2) I plan to make timeout errors more explicit to see what is the root cause

[2020-07-15 01:15] yaozhewei commented on #41332
If you downgraded the PyTorch to 1.3.1, you should resolve the issue. But a fix is definitely needed for the newer version.

[2020-07-15 01:27] SsnL commented on #41359
We already use None, an error or a Tensor full of 0s to represent a Tensor full of 0s and which one the user get depends on the internal implementation.

I just want to say that this is **not** properly handled by the optimizers. For the ones doing weight decay and/or momentum, having `None` gradient vs having `zero` gradient do different things. It is use to decide when a variable starts to accep

[2020-07-15 01:39] harryhan618 commented on #41307
@vincentqb But in #26423, it seems we have to call `step` for every lr_scheduler. But when therea are multiple lr_schedule strategies, we have to judge iteration_idx / epoch_idx to see whether we should should a `step`.

Also, there is an issue #37768 and corresponding RP #37770, discussing `step` by epoch or by iteration .

So I'm thinking a `Compose` wrapper so that we can call `step` once right

[2020-07-15 01:56] morrme commented on #41443
First: thank you.

Next: the first file, ` .jenkins/pytorch/dirty.sh` , only contains the world `blacklist` in a comment. Do you want an issue created for that one, or may I just submit a PR with the change? In this case, the explanation phrase that accompanies the term may suffice as a replacement:

 files (letting us skip builds when they are unnecessary)

[2020-07-15 02:06] SplitInfinity commented on #41443
@morrme
Just submitting a PR is fine. I'm not sure if non-members can edit my post anyway so perhaps my procedure was poorly planned.

[2020-07-15 02:08] harryhan618 commented on #37768
@ntenenz Hi. I'm thinking a Compose wrapper so that we can call `step` in a neat way, like this:
[code]
We only need to call `step` twice, once by iteration, once by epoch. **No need to judge if lr_scheduler is by iteration or by epoch explicitly for users.**
How about this?

[2020-07-15 02:11] morrme commented on #41443
@SplitInfinity Do you still just want 1 file per PR?

[2020-07-15 02:12] SplitInfinity commented on #41443
Yes, that would be preferred so that each change is as small as possible. If a file uses a function defined elsewhere, then you'd have to make an exception.

[2020-07-15 02:25] iffiX commented on #41425
Great design! Just add two points of my consideration:
1. Could we change the worker name style from `worker_name = {role}{roleRank}` to `worker_name = {role}:{roleRank}` ? It would be better to maintain the same naming style as the cuda device identifier such as "cuda:0"

2. About `rpc.new_group(names=[])`.

   In my framework practice, I designed a similar rpc group concept, but the group is use

[2020-07-15 02:52] VitalyFedyunin commented on #1529
There is the C++ structure that handles all this information, but it is inaccessible by API at this moment.

[2020-07-15 02:56] chenbohua3 opened #41448 "[JIT] Support Dict comprehension"
Currently, dict comprehension is not supported by JIT but it is widely used in python codes. Is there any plans to support it?

[code]
we will get:
[code]
we may use a `for-loop` to gradually add elements to the dict as a workaround, but it's a pretty bad user experience.

cc @suo @gmagogsfm

[2020-07-15 03:14] chenbohua3 opened #41449 "[jit] support boolean in dictionary"
Currently jit does not support the case where boolean value is used as dict key:
[code]
we will get:
[code]
we must convert **boolean** to **int** as a workaround, but it will lose the semantic meanings of the key value and make the codes comfusing which may lead to a bad user experience.

cc @suo @gmagogsfm

[2020-07-15 03:15] RSKothari commented on #11929
@airsplay Love it. The only downside being that `__len__` needs to be defined in advanced. How do you propose handling that?

[2020-07-15 03:15] chengjinfang1216 commented on #39757
Hi, @ailzhang, about the comment you pointed out,  I checked the CPP API and found that it also contains a similar logic.
Did you mean that we should move this method to MaxUnpooling.cpp and MaxUnpooling.cu files so that Both Python and CPP API  will call the same method?

[2020-07-15 03:37] #40023 closed

[2020-07-15 03:55] ptrblck commented on #41394
Yes, it also happens in `1.5.1` with CUDA10.2 and 10.1.

[2020-07-15 04:10] ntenenz commented on #37768
@vincentqb, thoughts on the current status of this PR?

[2020-07-15 04:11] brooks0517 commented on #32860
@meixitu Hi, have you find why cudnnRNNBackwardData report CUDNN_STATUS_EXECUTION_FAILED?
I got same error and don't known why.
I used pytorch 1.5.0 and cudnn 7.6.5.

[2020-07-15 04:23] #34061 closed

[2020-07-15 04:25] padmasreenagarajan commented on #16672
Even I got the same error.
Could u pls tell some solution for it?

[2020-07-15 04:39] tashrifbillah commented on #4156
@soumith , what version should work for the issue description?

[2020-07-15 04:53] #40131 closed

[2020-07-15 04:55] gmagogsfm commented on #40994
Hi Anguo,

Thanks for giving 1.7 a try. Do you mind providing a minimal repro? The error message alone isn't enough for further triage.

Thanks

[2020-07-15 05:41] neouyghur commented on #22107
I find the same problem on 1.5 version.

[2020-07-15 06:25] T1anZhenYu opened #41463 "BatchNorm2d return different values with the same inputs"
## 🐛 Bug

I created  Class"A" with a BN layer and 2 conv layers and only BN layer was uesd in "A.forward()". I also created "NetA" with 2 "A" layers and a conv layer , but only one "A" layer and the conv layer were uesd in  "NetA.forward()".  I also created "NetB" which was the same as NetA but the unnecessary "A" layer was deleted. I trained NetA for 20 epochs and test NetA and the results were r

[2020-07-15 08:03] lucabergamini opened #41465 "received 0 items of ancdata when appending dic elements to a list"
## 🐛 Bug

When the `__getitem__` returns a dict and an element is appended to a list I get
`RuntimeError: received 0 items of ancdata` consistently on **linux only**

## To Reproduce
just run the script below on a linux machine

[code]

## Expected behavior

I'm not aware of any reason why this shouldn't go through (and indeed it does on OSx and Windows)

## Environment

PyTorch version: 1.5.1
Is

[2020-07-15 08:13] #24578 closed

[2020-07-15 08:19] ppwwyyxx commented on #41412
This would help detectron2 a lot as well. The concrete use cases on our side include:

1. Tensor-like structures where we'd like to define `__getitem__` as:
[code]
because these types are all accepted by `torch.Tensor.__getitem__`. (slice is not supported but it's a different issue)

2. All our models return dict of losses in training, and prediction results in inference, i.e.
[code]

[2020-07-15 08:26] ppwwyyxx commented on #41416
want to add that `nn.Module.buffers()` and `nn.Module.parameters()` also uses `yield`.

[2020-07-15 09:11] Flamefire commented on #41400
I'm confused. The Readme in this repo shows 2 rows for "Linux (ppc64le) GPU and CPU", isn't that CI for Power? Are those not used?

One of the main differences I can imagine  when using Power is that `*NNPACK` modules cannot be used and Eigen/OpenBlas is used instead of MKL. It might be a good idea to have an x86 CI testing this configuration (but on x86). The reason is that the differences I see

[2020-07-15 09:33] ymwdalex commented on #1355
We almost try every solution suggested in this thread. Finally, this solution works for us https://github.com/pytorch/pytorch/issues/1355#issuecomment-313602737 by deleting the iterator explicitly.

[code]

[2020-07-15 09:33] kennyFF92 commented on #1355
This solved the problem for me after weeks of struggling. I have to explicitly use the loader iterator instead of looping the loader directly and using the ```del loader_iterator``` at the end of the epoch finally removed the deadlocks

[2020-07-15 09:35] Neabfi commented on #25087
Hey, I also have the issue when the tensor has size 0. Note that I only have the issue when the tensor is on GPU.

Minimal code to repro:
[code]

[2020-07-15 09:55] lfchener opened #41466 "Gradient anomaly after Addition"
## 🐛 Bug

I ran [Tacotron2]( https://github.com/NVIDIA/tacotron2) model, and checked gradient of every temporary variables.
When i checked [here](https://github.com/NVIDIA/tacotron2/blob/master/model.py#L59), I got an unexpected result. Hope you can solve my confusion.

## To Reproduce

Steps to reproduce the behavior:

1. Run [Tacotron2]( https://github.com/NVIDIA/tacotron2) follow readme.
2. Mod

[2020-07-15 10:13] samringer opened #41467 "einsum running 100x slower than expected when controlling for number of ops"
## 🐛 Bug

For two simple einsum cases, Case 2 is running ~30% slower than Case 1, despite needing to perform 101x fewer ops.

## To Reproduce

**Case 1**
[code]
`CPU times: user 26.7 s, sys: 18.8 s, total: 45.5 s
Wall time: 45.5 s`

**Case 2**
[code]
`CPU times: user 37.7 s, sys: 23.7 s, total: 1min 1s
Wall time: 1min 1s`

## Expected behavior

I believe the number of ops needed for each case shou

[2020-07-15 10:25] Craques opened #41468 "Creating a dataset from tensors"
## ❓ Questions and Help

Im getting started with the C++ frontend, I wanted to ask how I could create a dataset from two tensors, one with labels and another with features

- [Discussion Forum](https://discuss.pytorch.org/)

[2020-07-15 10:51] garden-lord commented on #16672
@padmasreenagarajan Can you open up a new issue with the details of the errors you're getting?

[2020-07-15 11:49] Flamefire opened #41469 "test_nn failures on power"
## 🐛 Bug

Multiple test from test_nn are failing on our Power system:

- test_Conv2d_depthwise_padded
- test_conv_double_backward
- test_Conv2d_groups
- test_grad_conv2d_input
- test_conv_large_cpu

The first is a RuntimeError the others fail to calculate correct results

## To Reproduce

Steps to reproduce the behavior:

1. python run_test.py -i test_nn

[code]

As you can see the error are rathe

[2020-07-15 12:18] rgommers commented on #40215
The take-away of that discussion was: having these methods in C++ would in general be nice, but it's not a blocker for gh-37091 to land, and doesn't really change the most important aspects of that design. I'll write a more extensive summary on gh-37091.

[2020-07-15 12:41] eric-tramel commented on #22281
Thanks for this superset of the box-constraint feature request on LBFGS (i.e. LBFGS-B)  @vincentqb . The contributed #938 was closed for being stale and also not the correct solution. However, this feature would be very useful for some inverse image reconstruction problems (used in privacy analysis of DCNNs, for example).

Should one attempt to resurrect the old #938 and address your concerns (co

[2020-07-15 12:55] nikitaved commented on #22281
If there are no other volunteers, I would love to work on this after I am done with functions of a matrix.

[2020-07-15 13:01] peterjc123 opened #41471 "Caffe2 BoundShapeInference.FC fails on Windows"
## 🐛 Bug

From https://app.circleci.com/pipelines/github/pytorch/pytorch/190779/workflows/162e7f05-11af-4d47-8b7b-f3dce0bce4a4/jobs/6245806/steps
[code]

cc @peterjc123 @nbcsm @guyang3532

[2020-07-15 13:11] peterjc123 commented on #41336
I think problem 1 is resolved. But with the current mechanism, problem 2 may sometimes occur. @guyang3532 If you have some good advice for that, could you please open a new issue?

[2020-07-15 13:11] #41336 closed

[2020-07-15 13:17] lw commented on #41369
In principle I'm all up for putting the default mapping in the backend opts: it makes it specific to the TP agent, it makes it immutable which simplifies things, it matches what we do for timeouts (whose path we might follow for the mapping: first a global option then, at a later time, a per-call override). But now that I see it written down I realize that it requires to give, all at once, a mappi

[2020-07-15 13:34] Flamefire commented on #40472
Requesting #41445 to be included which fixes a faulty test failing when running all tests. The fix is trivial

[2020-07-15 13:36] lw commented on #40107
Could we clarify what exactly the new use-cases are that are enabled by this? It would help understand the impact of adding a new API method. And it would clarify whether this is the right level of abstraction or whether we need something different (e.g., a context manager to just collect the futures, and let the user wait on them or do something else).

Also, in order to use this internally (for

[2020-07-15 13:50] jup-proxem opened #41473 "'torch.masked_select' behaves differently depending on the device of inputs."
## 🐛 Bug

Outputs from torch.masked_select are different when input tensors' device is cpu and when it's cuda.

## To Reproduce

Steps to reproduce the behavior:

1. candidate = torch.tensor([[[-1, -2], [0, 1], [2, 3], [4, 5], [6, 7], [8, 9]],
                              [[-11, -12], [10, 11], [12, 13], [14, 15], [16, 17], [18, 19]],
                              [[-101, -102], [100, 101], [102,

[2020-07-15 13:59] albanD commented on #41359
Good point. It is handled but not the exact same way.

My reasoning is:
- We don't guarantee this behavior (you can get None, an error or a Tensor full of 0s already). So the behavior for inputs independent of the output is already in a bad state.
- This will affect a very small number of users
- A user returning None from their backward will get None for their .grad field which feels consistent
-

[2020-07-15 14:04] Flamefire opened #41474 "test_rpc_spawn fails sporadically"
## 🐛 Bug

Running the tests in distributed/rpc/tensorpipe/test_rpc_spawn.py fails randomly on one of your systems. Specifically I see it for:
- test_init_rpc_then_pg
- test_init_pg_then_rpc

As the names are similar I expect the issue to be the same

## To Reproduce

Steps to reproduce the behavior:

1. ` python distributed/rpc/tensorpipe/test_rpc_spawn.py TensorPipeAgentRpcTestWithSpawn.test_init

[2020-07-15 14:19] ezyang commented on #4636
I wrote this proposal in 2018, so I don't remember what I was thinking. These days, I'd probably lean towards some sort of hand picked split between "common" functions (treat like methods) and "long tail" functions (don't include by default.)

[2020-07-15 14:24] machineyearning commented on #41383
Hi ngimel, thanks for the reply. I see that `x*x` does run faster, but still 4.5 microseconds on my workstation (Python 3.7.6, Torch 1.5.1, Linux @ 3GHz), and 6 microseconds on my Macbook (2018, 2.3GHz). Are there any obvious configuration optimizations I may be missing?

I just installed the C++ API on Mac OS X and I do see a significant speedup (1.7 microseconds compared to 6). To clarify, when

[2020-07-15 14:36] t-vi commented on #39853
To echo @hendrycks comment:
I think putting them in PyTorch proper paints the wrong image about efficiency:

[code]
gives me (on a RadeonVII where I happened to have a running Jupyter notebook)
[code]
Now, the fuser might not have produce kernels but the difference between them is only the compute.

Except when people need to reproduce weird technical decisions relating to ancient versions of othe

[2020-07-15 15:06] albanD commented on #4477
@ezyang is this issue still valid after the Merge? They are both the same type now so it won't happen anymore.

[2020-07-15 15:15] albanD commented on #41389
It outputs a LongTensor so it cannot be differentiable.
But we should mark it properly as such to avoid this crash.

A workaround for now is just to detach the input that requires gradient before passing it to searchsorted to avoid the crash.

[2020-07-15 15:15] vadimkantorov commented on #39853
The "fast" variants are quite slow, right?

I stumbled on this only during reproducing huggingface models in fairseq (and reading huggingface code). I agree this is very specific, but if people keep using those old variants of GELU for running original BERT models (like they did with CrossMapLRN2d because reproducing AlexNet was important), then maybe it's worth to put in an approx variant as well

[2020-07-15 15:21] sriatz commented on #2762
还是不太懂，我已经加了model = ResNet34() 然后用 model = torch.load(args.weights) 加模型的定义应该就是这个意思吧？ 结果还是报这个错。。。

[2020-07-15 15:27] t-vi commented on #39853
The speed difference probably doesn't matter much.

The hugging face BERT used from the tutorials in their transformer library don't use it anymore apparently (this is how I found that the translation was not quite accurate). I would probably consider that to be the leading BERT implementation for PyTorch (and possibly beyond), so I would think that the use case is too limited.

[2020-07-15 15:53] kiukchung commented on #41425
@iffiX thanks for taking a look!

1. Absolutely, we can change the name pattern to `{role}:{roleRank}`. I agree with you that this is more consistent with how we currently name cuda devices.

2. Ah, `rpc.new_group(names=[])` is supposed to create a "sub-process group" not a "sub-rpc group". Sorry I gave it a bad name :) should've called it `rpc.new_process_group(names=[])`. Its a utility initializ

[2020-07-15 16:08] vadimkantorov commented on #39853
(gpt-2 used gelu_new (gelu approx) by default: https://github.com/huggingface/transformers/blob/master/src/transformers/configuration_gpt2.py#L125 )

[2020-07-15 16:10] mrshenli commented on #41474
@Flamefire thanks for reporting! Does this error only relate to TensorPipe, or do you see similar failures with `RpcTestWithSpawn`?

[2020-07-15 16:15] Flamefire commented on #41474
Those 2 are the only tests failing for me which have Rpc in the name.

[2020-07-15 16:16] mikemccourt-sigopt commented on #32047
Any update on this?

[2020-07-15 16:21] ailzhang commented on #39757
@chengjinfang1216 Nope the logic is only needed once so we'd prefer to keep the CPP one :D It should be fine to remove the logic on python side. Thanks!

[2020-07-15 16:21] ericpts opened #41477 "Adam implementation different from paper"
In https://pytorch.org/docs/stable/_modules/torch/optim/adam.html#Adam, towards the end, we have

[code]

However, the [paper](https://arxiv.org/pdf/1412.6980.pdf) uses epsilon by adding it to `exp_avg_sq.sqrt()`; not to a whole fraction.
This is always the case, in both the Algorithm 1 formulation, as well as the one before Section 2.1.

What pytorch does is that it uses `epsilon * sqrt(1 - beta_

[2020-07-15 16:22] brando90 commented on #24162
This example is confusing me. What does uniform do when receiving tensors of size larger than 1x1 mean? Whats the behavior when they are greater than 1 dimension?

I saw the docs but they weren't helpful nor any example or discussion of the case you provides is given: https://pytorch.org/docs/stable/distributions.html#torch.distributions.uniform.Uniform

What I want is to replicate this numpy code

[2020-07-15 16:22] lw commented on #41474
Any chance you're able to run this with the child processes attached to a debugger and give us the stack traces of when the segfault occurs? That would greatly help as otherwise we're looking for a needle in a haystack... Thanks!

[2020-07-15 16:24] Flamefire commented on #41474
Sure. Could you tell me how to do that? Those are started from the python test, aren't they?

[2020-07-15 16:29] brando90 commented on #24162
What is the point of creating a sampler object first btw?

[2020-07-15 16:31] andyljones commented on #24162
[code]

I think the hangup is that you're thinking of the uniform distribution as occuring on an interval, when torch thinks of it as occuring on an interval/rectange/cuboid/etc. `low` gives one corner of the volume, `high` gives the other, `sample_shape` says how many samples you want from the volume. Output dims are `(*sample_shape, dim_of_params)`.

[2020-07-15 16:32] ezyang opened #41478 "Implement backend fallback for Tracer"
Now that @ljk53 has extracted tracing functionality into a separate dispatch key, we should now be able to write a single generic fallback for tracing. This is in two parts:

1. Write the generic fallback. This will give us automatic support for tracing custom ops
2. Remove all code generated tracing for anything that is subsumed by the fallback

[2020-07-15 16:33] hendrycks commented on #39853
Yes, though GPT-2 was in tensorflow which did not have any optimized versions. I'll suggest to tensorflow not to default to the approximate version.

[2020-07-15 16:34] brando90 commented on #24162
Fabulous! You are right. I get it now. Thanks! :D

Btw, what is the use of creating a sampler? What is the disadvantage of (always) doing:

[code]

[2020-07-15 16:40] brando90 commented on #24162
Oh interesting.

Just to make sure I understand an interesting use case. One can generate these samplers and differentiate through them? (somehow)

That sounds very interesting.

[2020-07-15 16:44] vincentqb commented on #22107
Can you provide a minimal code snippet @neouyghur ? In particular, please make sure you are using `get_last_lr`, as mentioned in #26423.

[2020-07-15 16:46] brando90 commented on #24162
hope this solves this issue: https://stackoverflow.com/questions/44328530/how-to-get-a-uniform-distribution-in-a-range-r1-r2-in-pytorch/62919760#62919760

[2020-07-15 16:56] JiaRu2016 opened #41481 "`mp.spawn` fail when passing large dict of shared-memory-Tensors as args"
## 🐛 Bug

Inconsistent behavior of `mp.spawn` when passing different "size" of dict of Tensors as `args`. As the number of dict elements grow, it raise different type of errors. See reproduce code for details.

## To Reproduce

[code]

if n_keys = 100, No Error.
if n_keys = 500:  raise `OSError: [Errno 24] Too many open files`

<details>
 <summary> here is full traceback </summary>

[code]
</detai

[2020-07-15 17:09] airsplay commented on #11929
A good point! A previous solution posted by others (I could not find the original link TAT) mentions the `with` statement, which might be appropriate here:
[code]

[2020-07-15 17:21] vishwakftw commented on #41394
The issue is the batched Cholesky routine in MAGMA, and therefore a dependency bug.

[2020-07-15 17:24] vishwakftw commented on #32047
My implementation was based on @Balandat's implementation, so perhaps he could help answer this question?

[2020-07-15 17:24] mrshenli commented on #41369
This makes sense to me and +1 for its flexibility for per-RPC device mapping. One caveat is that, if we do this, we can no longer keep the mapping in the agent, and there has to be a per-message field, as the serialization can occur concurrently on a different thread. But this should be fine, as eventually we will need per-message device mapping field anyway.

[2020-07-15 17:42] jiayisuse opened #41485 "GLOO infiniband with PyTorch"
## 🚀 Feature

## Motivation

* From https://discuss.pytorch.org/t/gloo-and-infiniband/89303. Some GPUs like RTX2080ti GPUs do not support GPUDirect/RDMA anyway.
* With GPUs w/ GPUDirect/RDMA, in some scenarios we still would like to do CPU RDMA to avoid DtoH memory copy which causes certain synchronicity and breaks the pipelining.
For these use cases, GLOO infiniband could help achieve lower laten

[2020-07-15 17:48] mrshenli commented on #40107
This was initially driven by the [discussion on forum](https://discuss.pytorch.org/t/distributed-pagerank-with-pytorch/78529), where the application needs to do `dist.barrier()` at the end of every iteration across all processes. The barrier won't work if applications do not wait for all futures created in that iteration, and hence adding this feature as a helper function.

I later realized that t

[2020-07-15 17:52] iffiX commented on #41425
Thank you for your and @mrshenli 's precious time!

I think we can add some more functions to role-based rpc, since the importance of "role" is (1) reschedule a failed role unit dynamically (2) grouping agents with similar properties together. The first point is meaningless currently because torchelastic choose to "brutally" tear down all processes, the second point is undermined because currently

[2020-07-15 18:02] danielpcox opened #41486 "LSTMs leak memory in CPU PyTorch 1.5.1, 1.6, and 1.7 on Linux"
## 🐛 Bug

On Linux, when using the CPU (whether a CPU device in a CUDA-capable PyTorch, or using a CPU-only PyTorch distribution), merely _instantiating_ modules with an LSTM in them claims memory that is never released until the process is killed. _Training_ using one of these modules consumes more and more memory during training, in what seems to be a nondeterministic way. I have reproduced this

[2020-07-15 18:06] #38807 closed

[2020-07-15 18:16] anjali411 commented on #40472
Please merge doc note for complex: https://github.com/pytorch/pytorch/pull/41252

[2020-07-15 18:16] Balandat commented on #36341
I think we can close this now?

[2020-07-15 18:20] Balandat opened #41489 "Update SobolEngine direction numbers"
## 🚀 Feature

Update direction numbers of SobolEngine to the new recent ones by Joe and Kuo from https://web.maths.unsw.edu.au/~fkuo/sobol/.

## Motivation

The current implementation uses old 1111-dim direction numbers that should not be used anymore.  The update for a cython implementation of SobolEngine is done in https://github.com/scipy/scipy/pull/10844. We can directly port this over, we jus

[2020-07-15 18:21] #36341 closed

[2020-07-15 18:22] Balandat commented on #32047
@mikemccourt-sigopt, @fjhickernell, this implementation is a port of a cython implementation that I wrote a while ago (which itself was a port of a pure python implementation). You can find it as part of https://github.com/scipy/scipy/pull/10844, where I also update the direction numbers to recent ones by Joe and Kuo from https://web.maths.unsw.edu.au/~fkuo/sobol/ (the pytorch implementation uses

[2020-07-15 18:35] lw commented on #41474
Yes, attaching a debugger to the child process will be a bit tricky. Here is one way to do it. You need to first modify the test code, by adding two lines in here:
https://github.com/pytorch/pytorch/blob/c86699d425c09acdc005aff24da20f6455c8dd81/torch/testing/_internal/distributed/rpc/rpc_test.py#L3348-L3351
just at the beginning of the function, before the `init_rpc` call. These lines should be:
[

[2020-07-15 18:45] jlin27 commented on #40472
Please merge for optimizer_for_mobile doc into python api root doc: https://github.com/pytorch/pytorch/pull/41491

[2020-07-15 19:03] eellison commented on #41361
Hi, thanks for raising the issue. A few things:

* We have an alias db for analyzing mutation queries.

If you run
[code]
You'll see:
[code]

Alias Analysis queries are the only way to ensure that something is not being written to. I proposed https://github.com/pytorch/pytorch/issues/39539 to be a little more explicit in our IR printing about what is being written to.

* Almost all TorchScript pas

[2020-07-15 19:16] mikemccourt-sigopt commented on #32047
Hey Max, it's cool that you were the one that worked on this.  I have done a little more digging and I think I know the issue.  I don't think it's an issue in the port, it's the inconsistency between precisions.

Scipy's default is to work in 64 bits, but I think the Pytorch default (or at least the default on my machine, for whatever reason) is to work in 32 bits.  I reran the code above with
[co

[2020-07-15 19:20] nairbv opened #41492 "Make torch.iinfo/torch.finfo torchscriptable"
It would be helpful for torch.iinfo, torch.finfo, and other dtype attributes like is_floating_point to be torch scriptable.

## Motivation

Information like `torch.iinfo(dtype).max` (and `dtype.is_floating_point`) can be helpful in image transformations, but can't be used in transformations that need to be scriptable.

E.g.:
https://github.com/pytorch/vision/blob/master/torchvision/transforms/func

[2020-07-15 19:20] danielpcox commented on #41486
I just tried my allocation test on each minor version between 1.0 and 1.5.1, and the bug existed in all of them too.

Specifically:

1. I spun up the `python:3.7` Docker container image, and with pipenv installed each of these in turn.

https://download.pytorch.org/whl/nightly/cpu/torch_nightly-1.0.0.dev20190409-cp37-cp37m-linux_x86_64.whl
https://download.pytorch.org/whl/nightly/cpu/torch_nightly

[2020-07-15 19:47] vadimkantorov commented on #5025
Now it's `TypeError: NewFunctionBackward.forward: expected Variable (got list) for return value 0` which is better, but if it said that a Tuple is expected instead of List or if it cast List to a Tuple automatically, it would be better

[2020-07-15 20:14] ekerazha commented on #37746
@soumith
This makes the conda package unsuitable for AMD CPUs, as Intel MKL uses a slow code path for AMD processors. For broader hardware compatibility and to avoid vendor lock-in, OpenBLAS should be used instead.

[2020-07-15 20:25] neginraoof commented on #39613
Following up about this issue @bzinodev . Can you please update us about the possible solution here?

[2020-07-15 20:28] kiukchung commented on #41425
closing in favor of @iffiX 's design proposal RFC.

[2020-07-15 20:28] #41425 closed

[2020-07-15 21:06] seekingpeace commented on #22259
Found the same issue, interesting thing was that it didn't happen with t4 but happened with v100 attached to same vm on GCP.

[2020-07-15 21:23] topiaruss commented on #41389
I'm getting a similar issue, but related to torch.unique. Here's the traceback

    2020-07-15 20:55:53,769: detect
    Traceback (most recent call last):
      File "detect.py", line 20, in wrapped_detect
        detect(pipeline, event, save_img)
      File "detect.py", line 108, in detect
        for c in det[:, -1].unique():    # for all detected classes
      File "/usr/local/lib/python3.6/dis

[2020-07-15 21:25] albanD commented on #41389
I guess this is in the case where you give a floating point input that requires grad?

[2020-07-15 21:39] edwardleardi opened #41499 "Helping test example code blocks in the docs"
## 📚 Documentation

Hello, I noticed this older issue https://github.com/pytorch/pytorch/issues/6662 is still open and looked through this PR https://github.com/pytorch/pytorch/pull/24435 about adding `doctest` to jit. If it would be helpful I can work on other parts of the docs to convert code blocks to use `doctest`. Currently it seems there are over 400 code blocks in the docs using the format

[2020-07-15 21:45] Balandat commented on #32047
Hi Michael \*wave\*.

I suspected something along those lines as well. I guess we just always want to use double internally for generating the samples, and then just downcast them if requested in float. Should be fine since all of this is happening on the CPU as well. I can take care of that with a simple PR.

Note that `curand` also has a sobol implementation that we could hook up if we wanted to