[2021-01-26 22:52] rsokl commented on #46829
Could you give tensors a higher [`__array_priority__`](https://numpy.org/doc/stable/reference/arrays.classes.html#numpy.class.__array_priority__)?

[2021-01-26 22:57] RSchwan commented on #50873
@malfet Here, the output of `image list` in lldb:
[code]

[2021-01-26 23:19] raqueldias commented on #27807
Turned out the problem was in the numactl configuration for AMD CPU systems. Adding these numactl options fixed my problem:
[code]
I hope that helps anyone having the same issue.

[2021-01-26 23:33] ezyang opened #51151 "-fno-omit-frame-pointer by default in our builds"
Omitting frame pointer is worth a few percent in general purpose workloads, but (1) PyTorch is not general purpose workloads and (2) it makes tools like perf not work. I suggest we should turn on frame pointer by default on our OSS builds.

[2021-01-26 23:36] vkuzo opened #51152 "Make it clearer when a tensor was quantized symmetrically"
## 🐛 Bug

Symmetric quantization scheme is a special case of an affine quantization scheme.  Currently, the information on whether the tensor was quantized with a symmetric scheme or not is not stored on the quantized Tensor.  This is numerically correct but confusing.

## To Reproduce

1. quantize a tensor (there is no way to specify a qscheme here)
2. verify that printed qscheme on the tensor is

[2021-01-26 23:38] RSchwan commented on #50873
It looks like pytorch is linked against `libopenblas` but doesn't come shipped with its own version. Instead, it uses the system-wide installed one which is incompatible.

[2021-01-26 23:39] SplitInfinity opened #51154 "[JIT] Rough edges found while exploring expressions supported by TorchScript"
- [ ] `del` statement with slicing as target in which primary is an object of a user-defined type parses correctly, but only the first item from the slice list is taken (e.g. `del obj[1, 2, 3]`)
- [ ] subscription/slicings of user-defined types cannot use multidimensional indexing or slice objects by defining __getitem__
- [ ] result of `**` is a `float`, even if the operands are both integers (pr

[2021-01-26 23:39] swolchok commented on #51151
You might be able to measure some cost to this in OSS builds, especially since they don't define `C10_DISABLE_TENSORIMPL_EXTENSIBILITY` and thus have small leaf functions in TensorImpl that will be affected. Only one way to find out, though!

[2021-01-26 23:40] rsokl opened #51156 "Support tensor creation from objects that implement the __array__ inteface"
## 🚀 Feature

`torch.tensor(obj)` and `torch.from_numpy(obj)` to check `obj.__array__()` before raising an error that `obj` is of the wrong type.

I'd be happy to give this a shot.

## Motivation

NumPy provides [a standard way](https://numpy.org/devdocs/user/basics.dispatch.html) for a class to expose a `numpy.ndarray` so that NumPy functions like `asarray` can know how to cast it to an array. Th

[2021-01-27 00:17] kamathhrishi commented on #17902
Not from my side. Take a shot if you would like to.

[2021-01-27 00:23] #3307 closed

[2021-01-27 01:05] #50378 closed

[2021-01-27 01:49] skyline75489 opened #51172 "Incorrect error message reported during DDP tests"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. On a machine with 2 GPUs, run the DDP tests using `python test/run_test.py --verbose -i distributed/test_c10d`

The error message is misleading regarding insufficient CUDA devices:

[code]

## Expected behavior

## Environment

OS: Microsoft Windows 10 Enterprise Insider Preview
GCC version: Could not collect
Clang version: Could not

[2021-01-27 01:57] ZolotukhinM opened #51173 "[TensorExpr] Loop transformations: IR Simplifier fails to fold index expression after loop flattening"
## 🐛 Bug

If the original computation had 3 or more levels of loops and we flatten them into a single loop, then the index expression should become trivial. However, it doesn't get folded and we end up with a complicated expression there.

In other words, here is the sequence of transformations I'd like to be able to perform:
Original loop:
[code]
--->  flatten loops --->
[code]
---> flatten indic

[2021-01-27 02:07] veritas9872 commented on #51022
@peterbell10 Hello. I usually use the Fourier transform for image processing, especially medical image processing, and this may lead to some differences. Please see [this](https://github.com/facebookresearch/fastMRI/blob/0f538a353e4a5c855012b8f982f756d489d11462/fastmri/fftc.py#L61) for an example of the implementation that I mentioned.

To the best of my knowledge, the `ifftshift`, `fftshift` are

[2021-01-27 02:09] gmagogsfm opened #51176 "[JIT] Tuple assignment doesn't work when unpacking values to class attributes"
## 🐛 Bug

Following code snippet fails

[code]

Error:

[code]

This exception is thrown from here: [[link](https://github.com/pytorch/pytorch/blob/e2041ce3540a08dcdc70eaef86b13ca84b31ebd5/torch/csrc/jit/frontend/ir_emitter.cpp#L2021)]

I think this can be fixed by handling the case where assignee is a `select` expression (like `self.a`)

cc @gmagogsfm

[2021-01-27 02:45] brian101bedrockAi commented on #51003
Hi,
I wasn't sure what the protocol is so any guidance you can give as to what I info I need to provide you would be great. I also know there is a lot of work for you all to cover before getting to this,  judging by my notifications.

Thank you for your time,
Brian Whiteaker

[2021-01-27 02:47] robieta commented on #51151
If we do, we should also turn on `-g` since anything that wants frame pointers will also need debug symbols. One danger is that it may put us over the binary size limit on PyPI. (CC @malfet)

[2021-01-27 02:55] crissallan commented on #17614
Hello! May I ask how did you do this step : "accumulating the parameters manually" in C++? Many thanks!

[2021-01-27 03:03] malfet commented on #51151
Regarding `-g`: not sure about Windows, but on Linux and Mac one can store debug information in separate files and package/install it only as needed, either via `pip install torch-symbols` or `torch.profiler.get_symbols()`

Before enabling `-fno-omit-frame-pointer` can we measure perf impact somehow? Also it wouldn't help adding inline functions to the call stack, would it? And had someone checked

[2021-01-27 03:26] robieta commented on #51151
In theory perf can use DWARF, but in practice it's prohibitively slow and basically everyone who tries it independently discovers `-fno-omit-frame-pointer`.

I'll run the prototype instruction count microbenchmarks on a dedicated machine (so hopefully the wall times won't be worthless) and see what that looks like.

[2021-01-27 03:55] #38856 closed

[2021-01-27 04:21] jkyl opened #51181 "Ability to export `pixel_unshuffle` to ONNX"
## 🚀 Feature
Request support for exporting the new `nn.PixelUnshuffle` / `F.pixel_unshuffle` operation to ONNX using `torch.onnx.export`.

## Motivation
The "PixelUnshuffle" operation, also known as "SpaceToDepth", was recently added to torch with [this feature request](https://github.com/pytorch/pytorch/issues/2456). This operation is the inverse of the "PixelShuffle" / "DepthToSpace" operation,

[2021-01-27 05:03] DJ543 opened #51183 "RuntimeError: Exporting the operator numpy_T to ONNX opset version 9, 10, 11 & 12 is not supported"
## 🐛 Bug

RuntimeError: Exporting the operator numpy_T to ONNX opset version 9, 10, 11 & 12 is not supported. Please open a bug to request ONNX export support for the missing operator.

## To Reproduce

i have a error message

Traceback (most recent call last):
  File "model2onnx.py", line 69, in <module>
    main()
  File "model2onnx.py", line 63, in main
    onnx_export(model, args.output_path,

[2021-01-27 05:42] #51024 closed

[2021-01-27 05:49] kshitij12345 commented on #51073
This was fixed recently https://github.com/pytorch/pytorch/pull/50866
You can try the nightly to verify.

[2021-01-27 06:13] kshitij12345 commented on #49998
@ousou Looks to be fixed in master. Can you try nightly

[code]

[2021-01-27 06:38] DJ543 commented on #51183
I located the bug in:

head=dict(
type='AMSoftmaxClsHead',
num_classes=7,
in_channels=512,
loss=dict(type='CrossEntropyLoss', loss_weight=1.0),
topk=(1,),
margin=0.15
)

[2021-01-27 07:01] gmagogsfm commented on #50933
@Lilyjjo Could you help take a look at this issue since you recently worked on type refinement? I think this is just a small bug, should be quick to fix.

[2021-01-27 07:09] gmagogsfm commented on #22155
@wanchaol From the comment history, you are assigned for the dup of this issue: #44077. Could you take care of it?

[2021-01-27 07:12] gmagogsfm commented on #50971
Hi HamidShojanazeri, in general we don't recommend tracing a module on one type of device and run on a different one. `torch.jit.script` doesn't have such limitations, could you give that a try instead?

[2021-01-27 07:13] gmagogsfm commented on #50971
@nikithamalgifb  assigning it to you for now to track discussion.

[2021-01-27 07:21] gmagogsfm commented on #51040
Before we decide whether to actually support `else` clause of `for`, we should stop bleeding by at least erroring out.

A check should be added here:
https://github.com/pytorch/pytorch/blob/19358808604129573dba354558ca4019acf2503f/torch/jit/frontend.py#L485

To check for `stmt.orelse`, more details can be found here:
https://docs.python.org/3/library/ast.html

@nikithamalgifb Could you help with a

[2021-01-27 07:42] ngimel commented on #51127
@mruberry attempted to move `var` and `std` from TH to TensorIterator, but existing non-vectorized reduction kernels are very slow.
see #40570

[2021-01-27 07:50] gmagogsfm commented on #50821
This is because expanding dictionary like `{**dict}` results in an irregular ast.

Specifically, at:
https://github.com/pytorch/pytorch/blob/19358808604129573dba354558ca4019acf2503f/torch/jit/frontend.py#L776

`expr.keys` is `None`, which results in the referenced error.

We should handle this special case and add a check there to get a clear error for this special case.

[2021-01-27 07:51] gmagogsfm commented on #50821
@ansley Ansley, do you have bandwidth to work out a quick fix for this?

[2021-01-27 07:52] ErenBalatkan commented on #43737
This is one of the most common issues I face when trying to convert models to TorchScript. And i believe a quick temporary fix is possible, for example, allow us to work-around the issue by manually specifying type.

[2021-01-27 07:56] SplitInfinity commented on #43737
@ErenBalatkan Does #45716 help you? This allows you to index in to `ModuleDict` with a non-literal index if you provide a module interface as a type annotation. You can see examples in the unit tests in the PR.

[2021-01-27 08:01] daixiangzi commented on #40497
yes,big value that out the range of Float16

[2021-01-27 08:14] gemfield commented on #25705
For the first one, it may be caused by the large binary size(don't know how you go there) which exceed the RIP relative address space. You can try with the latest pytorch release.

[2021-01-27 08:19] BotMichael commented on #30664
Thank you so much!!!!!!!!

[2021-01-27 08:19] ForrestPi opened #51196 "RuntimeError: Function 'MulBackward0' returned nan values in its 0th output."
code blew

#d.shape([4, 2304, 3, 3])
dd=torch.norm(d,dim = (2,3))

when training some while , error happens

return _VF.frobenius_norm(input, _dim, keepdim=keepdim)
RuntimeError: Function 'MulBackward0' returned nan values in its 0th output.

cc @ezyang @albanD @zou3519 @gqchen @pearu @nikitaved @soulitzer

[2021-01-27 08:20] ErenBalatkan commented on #43737
My problems are actually more related to ModuleLists right now, but if it also works with Lists, it could.

[2021-01-27 08:22] gemfield commented on #39968
@xkszltl build pytorch with cuda11.1 failed on this issue too.
And after reduce the TORCH_CUDA_ARCH_LIST number, the build can be successful.

[2021-01-27 08:39] robieta commented on #51151
Run using https://github.com/pytorch/pytorch/pull/51123

Wall times were too noisy to be useful. I ran a couple longer runs on one case, but still inconclusive. However, instructions with `-fno-omit-frame-pointer` were +2-4% across the board. Still might be worth it though.
<img width="1409" alt="Screen Shot 2021-01-27 at 12 10 32 AM" src="https://user-images.githubusercontent.com/13089297/1059630

[2021-01-27 09:04] RSchwan commented on #50873
I upgraded my system-wide openblas from version 0.3.12_1 to 0.3.13 and now pytorch is working again.

[2021-01-27 09:05] jinfagang commented on #34054
@shubhambhokare1 torch.floor will also introduce ScatterND, how to avoid it?

[2021-01-27 09:07] quickwritereader commented on #51132
@dncliss was it building with g++-8 before. I thought it was breaking when gcc v7 was used because of those missing intrinsics.
besides  on power machines many people mostly using advanced toolchains

[2021-01-27 09:07] rgommers commented on #46829
Higher than what other array/tensor type? `torch.Tensor` uses 1000, `np.ndarray` uses 0 right now.

[2021-01-27 09:09] ydcjeff opened #51197 "[docs] use `versionadded`, `versionchanged` and `deprecated` directive"
## 🚀 Feature
Use `.. versionadded::`, `.. versionchanged::` and `.. deprecated::` directive, so that user knows which features are added / changed / deprecated in which version and they can navigate the docs easily without changing the docs from version to version.

Ref: https://www.sphinx-doc.org/en/master/usage/restructuredtext/directives.html#directive-versionadded

I know PyTorch takes a lot o

[2021-01-27 09:25] kshitij12345 opened #51199 "[numpy] torch.ceil and torch.floor don't support integer inputs while Numpy does"
[code]

[2021-01-27 09:26] quickwritereader commented on #51132
alright, I confirm I also got undefined references even with the advanced toolchain for these guys.
[code]

[2021-01-27 09:31] quickwritereader commented on #51132
maybe it is because of these lines:

[2021-01-27 09:47] mattivi commented on #50940
Thanks for the inputs. @ejguan and @SsnL I am using [this example script](https://github.com/huggingface/transformers/blob/master/examples/language-modeling/run_mlm.py) from Huggingface Transformers to train a Language Model from scratch. Thus, dataset is handled by the efficient Huggingface Datasets library and don't think this is the issue.
@ejguan is there a more efficient manner to have O(n)?

[2021-01-27 09:48] mattivi commented on #50689
@SsnL data is handled by Huggingface Datasets library in an efficient manner, so that's not the source of the problem.

[2021-01-27 10:29] paloha commented on #13918
@ezyang how about a warning from the torch.tensor() applied to a list of np.arrays? You do not have to waste time fixing the issue and people will not have to waste time not knowing about it or debugging it.

[2021-01-27 10:40] FabianIsensee opened #51204 "nn.function.interpolate VERY slow when using AMP"
Using nn.functional.interpolate is very slow when using mixed precision training. This seems to have already been an issue in the past (#12409) and should be fixed, but I am still seeing a performance regression of up to 5x (yes, that is 5x the runtime of fp32) depending on the network an GPU.

To demonstrate the issue I have created a small script that reproduces it. I am mostly interested in 3D

[2021-01-27 10:40] FabianIsensee commented on #51204
pressed enter too soon, will reopen new issue with the entire texting a couple of minutes

[2021-01-27 10:40] #51204 closed

[2021-01-27 10:44] ptrblck opened #51205 "benchmark_utils.Fuzzer creates out of bounds seeds on Win"
## 🐛 Bug

On Windows using PyTorch `1.8.0.dev20201116` the `benchmark_utils.Fuzzer` creates a seed value, which is out of bounds for `int32`, while the repro code works on my Linux workstation.

## To Reproduce

[code]

Based on the failing [line of code](https://github.com/pytorch/pytorch/blob/47f0bda3ef8d196e0fa81a1749814dd75ffb1692/torch/utils/benchmark/utils/fuzzer.py#L395) a minimal numpy-onl

[2021-01-27 10:55] mpdprot commented on #8069
@athn-nik thanks for the tip! I was using `float32` data types, so `1e-8` was too small. The minimum value of epsilon that worked for me was `3e-8`, anything lower than that and `acos` evaluates to `0.` at `1-epsilon`. `1e-7` worked out to be a good value.

[2021-01-27 10:56] mpdprot commented on #8069
@athn-nik thanks for the tip! I was using `float32` data types, so `1e-8` was too small. The minimum value of epsilon that worked for me was `3e-8`, anything lower than that and `torch.acos(1-epsilon)` evaluates to `0.`

`epsilon=1e-7` worked out to be a good value.

[2021-01-27 11:05] FabianIsensee opened #51206 "nn.function.interpolate with bi/trilinear or bicubic is VERY slow when using AMP"
Using nn.functional.interpolate is very slow when using mixed precision training. This seems to have already been an issue in the past (#12409) and should be fixed, but I am still seeing a performance regression of up to 5x (yes, that is 5x the runtime of fp32) depending on the network an GPU.

To demonstrate the issue I have created a small script that reproduces it. I am mostly interested in 3D

[2021-01-27 11:24] jsboer commented on #25705
ok,I will have a try. Thank you !

[2021-01-27 11:24] #25705 closed

[2021-01-27 11:42] laekov opened #51207 "Initialize NCCL backend with MPI"
## 🚀 Feature
After intilizing `torch.distributed` with MPI backend, another NCCL comm group may be established based on `MPI_Bcast`, without any other shared KV store or TCP connection, which is in the example of NCCL.

## Motivation

I am writing a program which requires both MPI for CPU and NCCL for GPU communications. I found it hard to use them simutaneously in PyTorch.

## Alternatives

Using

[2021-01-27 11:52] vadimkantorov opened #51208 "ONNX export on nightly with opset13 started to fail Unsqueeze"
With opset12 on nightly it still works (strange because Unsqueeze seems to be handled in opset11).

Stack trace is below. In the meanwhile, my colleague will be investigating, hope to isolate the model code that breaks the export.

[code]

cc @houseroad @spandantiwari @lara-hdr @BowenBao @neginraoof

[2021-01-27 12:00] BattashB commented on #36459
This could be great, especially for ensambles

[2021-01-27 12:16] FantasyJXF commented on #47268
Build `torch v1.7.0` with the same way, met the error like this:
[code]

Any help?

[2021-01-27 12:16] FabianIsensee commented on #51206
Update: the issue is related to the backwards pass. If I comment out the following lines for the AMP parts:
[code]

and the following lines for the non-amp part:
[code]

Then the behavior is as expected:

RTX 3090 (Ampere), 3D, only forward pass:

Best,
Fabian

[2021-01-27 12:18] FantasyJXF commented on #47268
re-open  re-open  re-open

[2021-01-27 13:00] dnns92 opened #51209 "libtorch not usable under windows using pre Visual Studio 2019"
## 🐛 Bug

LibTorch uses C++ 2011, as stated here: https://discuss.pytorch.org/t/cant-build-libtorch-with-error-message-c2210-t-pack-expansions-cannot-be-used-as-arguments-to-non-packed-parameters-in-alias-templates/57592.
However, there is a hidden hard requirement for using windows visual studio 2019 when compiling for windows, due to a compatibility issue with the MSVC Compilers pre VS 2019, tha

[2021-01-27 13:21] nikitaved opened #51210 "Complex->Real cast is a warning, calling `real` or `imag` on non-comlex tensors is an Error."
As per title.

I would expect exactly the opposite behavior, that is:
Casting complex tensors to real ones is an error. And if this cast is necessary, then it makes senses to call it on either real or imaginary part.
I see no issues on calling `real` or `imag` on real tensors as these operations are well-defined.

Current behavior:
[code]

[2021-01-27 14:23] rsokl commented on #46829
Sorry, I got mixed up when reading this and had been thinking that it was the tensors that were coercing the arrays to cooperate (and they _are_, but just not until numpy tries to call a ufunc on the tensor).

Please disregard my comment.

[2021-01-27 14:35] ezyang commented on #45565
Right now, I'd personally be leaning towards it not being worth it. We might have to have another meeting with @jamesr66a to figure it out though.

[2021-01-27 14:39] ezyang commented on #51075
Well, all of CUDA caching allocator is under a big honking lock, so it wouldn't be that difficult to safely implement a global flag. Since this is specifically about graph capture, it would make sense to me to have its modality match graph capture; e.g., if graph capture is thread local, then the pooling mechanism should be thread local too. One reason I'm trying to avoid thread local is we have s

[2021-01-27 14:42] ezyang commented on #51083
Since the assert is in APEX, it's really an APEX problem, not our problem, and you should put the issue over there (sorry, I know that's not what the macro says)

[2021-01-27 14:50] ezyang commented on #13918
Yes, a warning seems very reasonable

[2021-01-27 15:03] anjali411 commented on #51210
@nikitaved fair point! we disabled `real` and `imag` for real tensors because while `real` can be a view for real tensors as it is for complex, `imag` can not. And so, we decided to disable both ops for real tensors. We are acting conservatively because it's easier to enable ops than disabling them (due to bc).

[2021-01-27 15:12] SsnL commented on #50689
Well the way to really be certain that RandomSampler is the problem is not
to blindly trust hugging face, but to create a small reproducing example
that removes other potential factors. In this case, it means measuring
times with a custom fake dataset.

On Wed, Jan 27, 2021 at 04:48 Riccardo <notifications@github.com> wrote:

[2021-01-27 15:13] LucasColas opened #51213 "CUDA driver version is insufficient"
## 🐛 Bug

Hello, I'm on Ubuntu 18.04. I use torch. Torch worked very well. Until today. I get this error :

## To Reproduce

Steps to reproduce the behavior:

1.Be on Ubuntu 18.04.5
2.Install Torch
3. Use torch.jit.load()

`model_object = torch.jit.load("weights")`

## Expected behavior

I expected a return of a ScriptModule object.

 - PyTorch Version (e.g., 1.0): 1.6.0
 - OS (e.g., Linux): Ubunt

[2021-01-27 15:13] SsnL commented on #50940
Similar to my reply on another thread, I believe that a minimal reproducing
example is needed before we say for sure that sequential sampler is the
problem.

On Wed, Jan 27, 2021 at 04:47 Riccardo <notifications@github.com> wrote:

[2021-01-27 15:15] #51105 closed

[2021-01-27 15:17] colesbury commented on #38228
As I wrote above, the same issue exists with threads created in C++ that call into Python.  The example uses daemon threads because it's simpler to test. The autograd engine uses C++ created threads to parallelize the backwards pass. They may call into Python because autograd functions may be implemented in Python.

The referenced note means that "__exit__" of context managers ("with" statements)

[2021-01-27 15:33] #50584 closed

[2021-01-27 15:39] rafale77 commented on #38718
On 1.7.1 and am seeing the same problem even with as_tuple = False. Is there any workaround?

[2021-01-27 15:41] xwang233 commented on #51206
Thanks for the report. This should've been fixed in https://github.com/pytorch/pytorch/pull/48675 and https://github.com/pytorch/pytorch/pull/50084. Please try a nightly build.

[2021-01-27 15:46] #50330 closed

[2021-01-27 15:49] rafale77 commented on #45499
Just ran into this as well. Quite annoying. Looking forward to a fix.

[2021-01-27 16:04] FabianIsensee commented on #51206
Hi,
unfortunately the nightly build is much, much worse:

RTX 2080ti, 3D:

It's like 10x slower in all experiments. Same story with RTX 3090

Build:
[code]

Best,
Fabian

[2021-01-27 16:15] Marcopollom commented on #51141
Hello everyone, I'm new to contributing and would love to help out and fix this issue. Is there anything I should do before I begin working on this bug?

[2021-01-27 16:22] dncliss commented on #51132
@quickwritereader Thanks for looking; just to clarify on the v7 vs v8 question: This is a different issue that wasn't seen at first because the gcc v7 missing intrinsics issue caused a build failure before reaching this (undefined references) point of the build.  So, we didn't see this newer issue until I switched the upstream CI builds over to gcc v8 (to get around the first issue). Meanwhile, th

[2021-01-27 16:24] zasdfgbnm commented on #50844
@ngimel What is your opinion about this?

[2021-01-27 16:36] YihanWang617 commented on #50461
Thanks! I will try it.

[2021-01-27 16:39] peterbell10 commented on #51022
Okay, I spoke to a colleague with a medical image processing background and they said the centered FFT convention was common among research groups and open source codes. And that it was worth adding to the docs since it's easy to mix-up the order without realising.

Perhaps this would make sense as an example in the `fftshift` docs. I'll work on a PR for that.

[2021-01-27 16:50] vkuzo commented on #50988
this is expected, I answered here with more details: https://discuss.pytorch.org/t/changed-quantized-weights-not-reflecting-in-state-dict/109741/2

[2021-01-27 16:50] #50988 closed

[2021-01-27 16:58] vkuzo commented on #48551
@sklationd , can you share the qconfig you used?  If you are running things on `fbgemm`, `reduce_range` needs to be set to True to avoid overflow in some of the kernels.

[2021-01-27 17:02] vkuzo commented on #47839
Yes, this is supported.  Please see the `qconfig` part of https://pytorch.org/docs/stable/quantization.html#model-preparation-for-quantization .

[2021-01-27 17:02] #47839 closed

[2021-01-27 17:04] #49824 closed

[2021-01-27 17:12] ngimel commented on #38718
Closing as dupe of #45499.

[2021-01-27 17:13] #38718 closed

[2021-01-27 17:25] mruberry commented on #51127
@heitorschueroff expects to review the performance of ATen CPU reductions and these ports in Q2 2021.

[2021-01-27 17:31] bachml opened #51215 "How should I do if I forward a layer twice but only backpropagate once?"
Hey guys,

I have a question like this:

<img width="1022" alt="截屏2021-01-28 上午1 23 08" src="https://user-images.githubusercontent.com/9403356/106029202-d1f39900-6107-11eb-9595-80f4083cee90.png">

In this case, I want to reuse the layerA in the phrase 3. LayerA in phrase1 and LayerA in phrase3 has the same weight(layerA in phrase 3 is LayerA in phrase1's copy), but I don't want phrase3 to accumula

[2021-01-27 17:43] eellison commented on #45499
I can give guidance on how this might be fixed but I don't know if I have bandwidth to fix this. Adding back to triage.

[2021-01-27 17:50] adefossez opened #51216 "Quantized model cannot be pickled and reused after."
## 🐛 Bug

Taking the static quantization example from the official doc, and adding a pickling and unpickling stage before evaluation:

[code]

## To Reproduce

Steps to reproduce the behavior:

1. Run the above code

Error:
[code]

## Expected behavior

Expected the model to be usable after pickling.

## Environment

Collecting environment information...
PyTorch version: 1.7.1
Is debug build: Fals

[2021-01-27 17:53] quickwritereader commented on #51132
@dncliss

[2021-01-27 18:04] mcarilli commented on #51075
Graph capture is [initiated on a Cuda stream](https://docs.nvidia.com/cuda/cuda-runtime-api/group__CUDART__STREAM.html#group__CUDART__STREAM_1g793d7d4e474388ddfda531603dc34aa3).  The capture state propagates down the stream and any streams that sync on it. Cuda calls are free-floating from threads, and any threads may enqueue those calls.  In that sense graph capture isn't thread-local, but it isn

[2021-01-27 18:07] adefossez commented on #51216
For context, while it is usually not a good idea to pickle a model, this is useful to do multiprocessor based evaluation on CPU, as quantized model cannot be evaluated on GPU, where using the `state_dict` would be overkill and require redoing the quantization procedure on each child process.

For the record, a quick but dirty fix is to define the following on the toplevel module:
[code]

[2021-01-27 18:26] spandantiwari commented on #51033
@teobaluta - You mentioned that the export call is not failing. Just to make sure that the model is indeed producing incorrect results, could you run the exported model in a ONNX backend, such as Onnx Runtime and check if the numbers match between PyTorch and the backend. If I am misunderstanding something and you have already done that, please let us know.

[2021-01-27 18:31] walterddr commented on #49971
checked with all 1.7.1 and nightly wheel & conda builds.
1. all linux wheel builds are bundled with libgomp_<commit_hash>.so.1, and conda builds are dynamic linked with libgomp.so.1 on system path.
2. all macos builds refers to libiomp5.dylib, again wheel has it packaged together and conda refers to system path.

judging by the fact that this also happends on 1.7.1 I guess this was always how we r

[2021-01-27 18:34] zacheberhart-kd commented on #2575
I was also getting this error with `1.3.1` (torch). Changing the order of the imports didn't work, but upgrading to torch to `1.7.1` did the trick.

[2021-01-27 18:35] nikitaved commented on #51210
I see, but still casting to reals is allowed.
Real tensors on `imag` could return an empty Tensor...

[2021-01-27 18:42] xuzhao9 commented on #49971
Thanks for the update! I have tried that whether using wheels or conda builds don't affect this behavior. I suspect it could be a limitation of psutils library.

[2021-01-27 18:45] mattip commented on #50980
lableing as "not for quansight" in the hope that @hlu1 will revert the change that causes the error.

[2021-01-27 18:47] MyEvolution commented on #24185
There is still no update on this problem???

[2021-01-27 18:49] malfet opened #51224 "`torch.cuda.device` should look like it is inherited from `torch.device`"

[2021-01-27 19:00] #49617 closed

[2021-01-27 19:01] eellison opened #51225 "[Docs] Example for torch.nn.functional.conv1d throws an error"
## 📚 Documentation
The given example in https://pytorch.org/docs/stable/nn.functional.html#conv1d throws an error

[code]

cc @jlin27 @mruberry @albanD @jbschlosser

[2021-01-27 19:28] oliverdain commented on #48387
I have seen the same issue - just a single call to `torch::empty` does it for me. I did a custom compilation of PyTorch using cmake because we use some of the same libraries that PyTorch does in our own code so we have to make sure versions, compiler flags, etc. match up. I tried to do a minimal compilation (e.g. passing lots of flags like `-DUSE_DISTRIBUTED=OFF`) so I likely failed to compile som

[2021-01-27 19:29] yns88 commented on #41232
Update:
- [Deleted 312 branches associated with closed pull requests](https://gist.github.com/yns88/eb8115ce0a5e9f8ace16766dc6f09e05)
- [Deleted 187 branches with no pull request that are 18 months old](https://gist.github.com/yns88/33672f021bfa9a67c73107bd4305b1a5)
- Only found 5 non-forked open pull requests with no commits or comments in 18 months, but I closed/deleted them.

There are still 4,

[2021-01-27 19:30] jerryzh168 opened #51228 "Allow register_buffer for non-Tensor attributes (e.g. TorchBind objects)"
## 🚀 Feature
Support more data types in register_buffer.

## Motivation

Currently register_buffer only supports registering Tensor objects: https://github.com/pytorch/pytorch/blob/master/torch/nn/modules/module.py#L270, however in quantized models we may also need to register packed params (TorchBind objects) as buffer values so that it shows up in state_dict.

Not sure if this has been discussed

[2021-01-27 19:33] pritamdamania87 opened #51229 "std::type_index doesn't provide reliable equality for getCustomClassTypeMap"
## 🐛 Bug

[getCustomClassTypeMap](https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/core/ivalue.h#L1105), uses std::type_index as the lookup key. Although, in the presence of shared libraries it is not guaranteed that std::type_index produces same results for the same type. Some resources that explain this in more detail: 1) https://cpptruths.blogspot.com/2018/11/non-colliding-efficient

[2021-01-27 19:35] anbeegod opened #51230 "Pytorch can't use cuda because torch.cuda returns nothing"
Hi, it's my first time posting here.

I'm trying to set up Pulse AI which matches a face with another face. I used it on an older PC previously which worked nicely, but after I try to install it on a new PC, it doesn't work anymore, and I pinpointed the problem at torch.cuda. **(Please skip to the bold lines if you're not interested in the background.)**

Pulse AI has two major files, align_face.p

[2021-01-27 19:40] stevebyan opened #51231 "macOS error building 1.7.1 from source on Catalina 10.15.7"
## 🐛 Bug

`python setup.py develop` fails with this error:

## To Reproduce

I'm building without Anaconda, and instead using python3's venv module. But I'm able to build that way on macOS Mojave 10.14.6 without any problem.

Steps to reproduce the behavior:

1. create environment: `/usr/bin/python3 -m venv venv`
2. `brew install cmake pkg-config libuv`
3. `source venv/bin/activate`
4. `pip instal

[2021-01-27 19:41] pritamdamania87 commented on #50842
This is failing due to an internal issue in PyTorch in terms of how we use std::type_index in getCustomClassTypeMap (see https://github.com/pytorch/pytorch/issues/51229 for more details).

[2021-01-27 19:55] ezyang commented on #51075
The important distinction here is whether or not this is a temporary state of affairs, or if we want to fundamentally bake this in. Because the underlying CUDA Graph API is stream-specific, and streams are a thread local concept, I'd tend to think that the fact that the PyTorch implementation only has a single global flag is simply an accident of how we are choosing to ship, as opposed to a fundam

[2021-01-27 20:19] stevebyan commented on #51231
Oops, I pasted the error message from my test with Xcode 11.3.1. The error message from Xcode 12.4 is substantially the same, except for the compiler identification:

(venv) smb % pip install -e .
Obtaining file:///Users/smb/Work/GIT/pytorch
Requirement already satisfied: typing_extensions in ./venv/lib/python3.8/site-packages (from torch==1.7.0a0) (3.7.4.3)
Installing collected packages: torch

[2021-01-27 20:21] xuzhao9 commented on #49971
Using taskset gets the same result. For example, first start a python3 REPL, import torch, then find its PID; then run "taskset -p PID", it returns the incorrect result.

[2021-01-27 20:49] FabianIsensee commented on #51206
In order to double and triple check I also created a fresh conda environment and built pytorch from scratch:

[code]

same story. Issue persists in 2D and 3D is much much slower than it was before (and also has the same issue)

[2021-01-27 20:54] guilhermeleobas opened #51234 "Enable conv_fused/blas_compare/blas_compare_setup typecheck during CI"
Enable typecheck for the following files:
- torch._overrides
- torch.utils.tensorboard._caffe2_graph
- torch.contrib._tensorboard_vis
- torch.nn.utils.prune
- torch.utils.show_pickle
- torch.utils.hipify.hipify_python
- torch.utils.benchmark.examples.*
- torch.nn.quantized.modules.batchnorm
- torch.nn.intrinsic.qat.modules.conv_fused

cc @ezyang @malfet @rgommers @xuzhao9 @gramster

[2021-01-27 20:59] xuzhao9 commented on #49971
Believe this behavior is by design: https://github.com/gcc-mirror/gcc/blob/master/libgomp/config/linux/affinity.c#L58. At initialization, libgomp will set the affinity of current pthread to be the first CPU available in the list. Therefore, the result get from "sched_getaffinity()" will be inaccurate. Issue closed.

[2021-01-27 20:59] #49971 closed

[2021-01-27 21:02] albanD commented on #51228
Hi,

Why do you need these to be buffers and not just plain attributes to the Module?

[2021-01-27 21:03] mcarilli commented on #51075
Aye, **Alternatives 2** and **3** above consider leaning on existing stream allocation association to give private pools.

In Cuda, streams are not a thread local concept, they're free-floating from threads. Any thread may safely enqueue a call to any stream at any time. In Pytorch, the current cuda stream is thread local, but that's an implementation detail of the Pytorch stream pool.

I could im

[2021-01-27 21:05] #44170 closed

[2021-01-27 21:06] jerryzh168 commented on #51228
yeah we need that because only buffers show up in state_dict and we would like to serialize the model with torch.save(model.state_dict())

[2021-01-27 21:16] Quentin-Anthony commented on #37313
Same issue with PyTorch 1.8.0a0+810a1b9

Are there any current plans to resolve this?

[2021-01-27 21:20] jbschlosser commented on #51228
There's one other main feature of buffers besides being added to the `state_dict`. When calling e.g. `m.to(torch.float64)` or `m.to(torch.device('cuda:0'))` on a module, its buffers will be moved across dtypes / devices.

Sounds like this isn't relevant for TorchBind objects in buffers- is that correct?

[2021-01-27 21:24] jeffdaily commented on #48831
PR submitted.

[2021-01-27 21:32] dncliss commented on #51132
@quickwritereader I think we have a winner! It does indeed build to completion with your fix.
I tested on a local system, not visible upstream in the external CI build.  But once merged into master, the regular
build should succeed.  Thanks for this!

[2021-01-27 21:52] jjsjann123 commented on #51036
Quick update.
1. I don't have the repro in ToT code reported;
2. I can verify the memory access issue in Natalia's example with cudamemcheck. This seems to be an oversight here: https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/cuda/UpSample.cuh#L256, where we forgot to clamp it as we did with forward: https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/cuda/UpSam

[2021-01-27 22:00] skyline75489 commented on #51230
You need to use ‘print’ for it to output to the console. Try print everything then you’ll see what’s happening.

[2021-01-27 22:01] nicolasugrinovic commented on #29889
@PistonY I know this is kind of old, but could you fix the issue. How did you do it?

[2021-01-27 22:04] skyline75489 commented on #51213
The error message is crystal clear. What hardware/drive setup do u have? CUDA requires Nvidia GPU.

[2021-01-27 22:12] albanD commented on #51228
I don't think we want to add as buffers objects that don't support being moved to different device.

If you only want to add things to the state dict, we also provide state dict hooks for you to add arbitrary data to the state dict and load them accordingly with a pre load state dict hook.
Not sure why these are not public btw :D

[2021-01-27 22:18] vfdev-5 opened #51242 "[tests][UnaryUfuncInfo] Improve TestUnaryUfuncs for ops with args/kwargs"
Currently, we can not fully test "clamp" op added to common_methods_invocations.py as UnaryUfuncInfo (see https://github.com/pytorch/pytorch/pull/51167) as it requires additional args as `min` and `max` but there are tests that call the op directly on a test input without passing any args/kwargs. For example:
[code]

In test_ops.py, test samples are generated with `samples = op.sample_inputs(devic

[2021-01-27 22:21] #49542 closed

[2021-01-27 22:24] gmagogsfm commented on #51023
Did some more investigation, and found a few interesting things:

1) There seems to be a bug here:
https://github.com/pytorch/pytorch/blob/f7e90cf31129163e31ee8bcbd37f54e7f9ddc39c/torch/csrc/jit/frontend/ir_emitter.cpp#L399

When `annotate_type` is `null`, `as_simple_value`'s type would be used to check against itself in the next few lines. This would always be true.

2) If I am understanding this

[2021-01-27 22:55] ilia-cher commented on #51026
I wonder whether we should just enable USE_CUPTI_SO by default but we have to then make sure that actual release builds are built only with statically linked kineto and cupti
cc. @malfet

[2021-01-27 23:01] ilia-cher commented on #51026
USE_CUPTI_SO is only for development purposes, release builds are always compiled with libraries statically linked in
let's my try to repro and see if we can possibly update kineto build config

[2021-01-27 23:19] mruberry commented on #51242
We could add metadata to the unary ufuncs that need these additional kwargs and change the test to call:

[code]

For most unary ufuncs "sample_kwargs()" would always return an empty dict, but for clamp it could return a dict with dtype-appropriate min and max values.

[2021-01-27 23:28] gmagogsfm commented on #51023
@eellison suggested we keep the behavior as is, for a few reasons:

1) Changing it would break existing user models
2) Many other Python type checkers allow this as well, even MyPy can allow this if user flips a flag [[more info](https://github.com/python/mypy/issues/1174#issuecomment-209465957)]

So we think it's best if we don't change it for now. Other than fixing the bug discovered in #1 of my

[2021-01-27 23:31] imaginary-person commented on #50790
Hello @mruberry, I added support for min/max related ops for Float16 & BFloat16.
Please give me some advice for writing OpInfo based tests.

Thank you!

[2021-01-27 23:34] kurtamohler commented on #44409
Thanks a lot for that explanation, @peterbell10! Nice work finding the cause of the issue

[2021-01-27 23:40] kurtamohler commented on #50790
@imaginary-person, thanks for the PR! `OpInfo`s are found in `torch/testing/_internal/common_methods_invocations.py` in the `op_db` list. There are plenty of examples there to base yours upon. The `OpInfo` class is also defined in that file, along with descriptions of what each kwarg does. Once you add an OpInfo, you can run the tests with `python test/test_ops.py -k <name of function>`

[2021-01-27 23:42] loveritsu929 opened #51250 "Wrong argument name of index_fill_"
## 📚 Documentation

https://pytorch.org/docs/stable/tensors.html#torch.Tensor.index_fill_

The third argument should be called `value` instead of `val`, like all other methods in `torch.Tensor`.

Using `val` throws an error and the error message indicate this should be `value` in the background implementation:
`* (name dim, Tensor index, Tensor value)
      didn't match because some of the keyword

[2021-01-27 23:44] kurtamohler commented on #50790
Also, @mruberry wrote a really nice new wiki page about writing tests: https://github.com/pytorch/pytorch/wiki/Writing-tests-in-PyTorch-1.8

[2021-01-27 23:45] mruberry commented on #43081
Closing because we aren't going to change the behavior of torch.eig, but plan to implement the correct behavior with torch.linalg.eig.

[2021-01-27 23:45] #43081 closed

[2021-01-27 23:49] gmagogsfm commented on #51098
Superficially the bug is here:
https://github.com/pytorch/pytorch/blob/2de4ecd4ebc99d509b8f13ff12ed241c7433a0ad/torch/csrc/jit/python/pybind_utils.cpp#L76

It tries to convert a `py::handle` to an IValue with the help of type information from IR (which says `device`). But the code doesn't check if `py::handle` is actually corresponding C++ type for device, thus resulting in random behavior.

We co

[2021-01-27 23:50] mruberry commented on #50790
Suggestions welcome!

I'll take a look soon, too, @imaginary-person.

[2021-01-27 23:51] KsenijaS commented on #51033
@teobaluta Can you change the line 84 in binarized_modules.py:
[code]
into:
[code]

With this change I was able to match numbers between PyTorch and ORT and also Sign was part of the converted graph.
Please let me know if this works for you.

[2021-01-28 00:08] gmagogsfm commented on #51010
@BowenBao, @spandantiwari could you help take a look? Thanks!

[2021-01-28 00:12] jerryzh168 commented on #51228
yeah that is correct.

[2021-01-28 00:23] jerryzh168 commented on #51228
cc @jamesr66a can TorchBind object be moved to different devices?

OK, state_dict hook should work as well, I'll use that as a workaround.

[2021-01-28 00:34] jamesr66a commented on #51228
No, that's not part of the object semantics

I think the issue here is that TorchScript doesn't support these, so maybe forward this to that team

[2021-01-28 00:34] gmagogsfm commented on #45499
Could you write up a little about how to fix it in details? Thanks!

[2021-01-28 00:38] anjali411 commented on #43579
@xuhdev it ultimately calls `at::eq`. I did some further digging and found out that `x[0] + y[0]` does not match `(x+y)[0]`. `x+y` produces the correct result so it's probably the conversion to `Scalar` that's causing the issue. The value stored in the scalar incorrectly has it's imaginary value set to 0.
[code]

[2021-01-28 00:40] gmagogsfm commented on #29092
What is the code duplication issue in option #3? Is it about size of serialized model? If so, can we just store the declaration part of the class, just enough to check for inheritance?

[2021-01-28 00:51] lacrosse91 commented on #51141
Hi, can I handle this?
I'd like to help!

[2021-01-28 00:53] jerryzh168 commented on #51228
we're calling state_dict on GraphModule model in our use case actually. we will probably manually map these attributes to TorchScript model. would that work?

[2021-01-28 01:06] stas00 opened #51256 "[search] duplicated entries in results"
## 📚 Documentation

e.g. https://pytorch.org/docs/master/search.html?q=DATA+PARALLEL&check_keywords=yes&area=default

returns many doubles of each entry:

![snapshot_10](https://user-images.githubusercontent.com/10676103/106075181-fb89d180-60c1-11eb-8f04-0c4cef18b903.png)

and more if you scroll down

[2021-01-28 01:38] gmagogsfm commented on #51019
Hi twoertwein, thanks for reporting this issue. I think ScriptModule's documentation shows a `parameters` method only because it inherits from normal `torch.nn.Module`, itself doesn't implement a TorchScrpt-able `parameters` method.

[2021-01-28 01:39] gmagogsfm commented on #50965
Removing `jit` label as it doesn't seem JIT-related now. Please let me know if that's not the case. Thanks.

[2021-01-28 01:59] gmagogsfm commented on #26731
You can temporarily use a work-around like this:
[code]

There is a duplicate issue #41492, we will track progress and post updates there. Closing this one.

[2021-01-28 01:59] #26731 closed

[2021-01-28 02:00] gmagogsfm commented on #50834
@asuhan Hi Alex, I am starting to look at this issue. could you point me to where you found `c10::get_default_dtype()` is called when invoking `sub`?

[2021-01-28 02:04] gmagogsfm commented on #19393
@pritamdamania Could you comment if this is still blocking #28786 ?

[2021-01-28 03:22] PkuRainBow commented on #51102
+1

[2021-01-28 03:37] twoertwein commented on #51019
Is there a recommended way to get the device of a ScriptModule/its parameters (in my case all parameters are on the same device)?

[2021-01-28 03:45] ezyang commented on #51229
cc @jamesr66a

[2021-01-28 04:22] xwang233 commented on #51206
I wrote a script to profile the time cost of `interpolate` only, with your tensor shapes `(2, 512, 4, 4, 4) -> (*, 64, 64, 64)`, and here are my results. Tested at d3ec204

<details>
<summary> code </summary>
<p>

[code]

</p>
</details>

<details>
<summary> environment </summary>
<p>

[code]

</p>
</details>

[code]

[code]

This shows that `interpolate` performance in half is no slower than floa

[2021-01-28 04:29] Woodrow1026 opened #51264 "Is there any way to do a fast connect between each tensors"
In my work, I'm comparing two sentences, and after encoding, they are Batchsize x Sequencelength x D tensors. I want to connect each word in sentence1 with the words in sentence2, like if I got 1 word in sentence1, and there are 3 word in sentence2, I'll get 3 new tensors which is connect between the word in sentence1 and words in sentence2.

Is there any way to do this?

[2021-01-28 04:44] asuhan commented on #50834
@gmagogsfm Here, test included: https://github.com/asuhan/pytorch/commit/eda35dbc9e2f65b080d9567c072732bd94963476. I just stepped into it with gdb and saw where the type was lost.

[2021-01-28 05:43] skyline75489 commented on #51231
I see Xcode 11.3.1 & Xcode 11.7. But I see no Xcode 12.4 in your log. I'm guessing there's something wrong with your local (god knows how many) Xcode/Command Line Tools installation.

[2021-01-28 05:50] anbeegod commented on #51230
Oops, definitely didn't expect that XD Thought the function already includes print. Thanks for your help!!

[2021-01-28 06:32] #51042 closed

[2021-01-28 06:54] FabianIsensee commented on #51206
HI, thank you for putting in the time to try and reproduce the issue. However, like I mentioned in my [previous post](https://github.com/pytorch/pytorch/issues/51206#issuecomment-768246763), the problem is related to back-propagating gradients through the interpolation operation. I have already demonstrated that the forward pass is not affected.

I am working with 3D convolutions and amp for a lon

[2021-01-28 07:12] sambaPython24 opened #51271 "torch.unique leads to "RuntimeError: isDifferentiableType" when used in loss function"
Hello, when I use the ```.unique``` function in PyTorch
as suggested in [this post](https://stackoverflow.com/questions/55110047/finding-non-intersection-of-two-pytorch-tensors)
[code]
and try to use it in a custom *loss function*, I get the following error
[code]

cc @ezyang @gchanan @zou3519 @bdhirsh @jbschlosser

[2021-01-28 07:18] xwang233 commented on #51206
The following code will not run because input data `x` does not require grad. The backward process in your script doesn't go through "backward of interpolate".

[code]

If the regression you saw is because of and only because of this extra interpolation forward, we may have big problem in the autograd or AMP engine.

Interpolation doesn't use cudnn. Convolution uses. The performance differences yo

[2021-01-28 07:50] mcarilli commented on #51075
I thought of another reason we may want to associate mempools with graph capture tightly/implicitly. Graphs benefit from a private mempool because if they use the same mempool as everything else, on replay their baked-in memory traffic might corrupt data assigned to more recently-eagerly-allocated tensors. If we capture the graph in a private pool context (for example), there's no danger of replay

[2021-01-28 07:54] #51022 closed

[2021-01-28 08:11] FabianIsensee commented on #51206
Hi, since the conv layers in my script require gradients from the loss, and the loss was computed after nn.functional.interpolate was applied to the data - how else would the gradients get to the convs if not through the backwards of this function?

I see you need some more convincing that something is very off, so I reworked my script. The 'network' now does the following:
- apply one conv (2d or

[2021-01-28 08:22] ahangchen commented on #27212
One workaround: https://github.com/TrojanXu/onnxparser-trt-plugin-sample

confirmed on xavier nx, torch 1.6.0, tensorRT7.1.3.4, onnx1.6.0
### How it works

Currently, to get torch-onnx-tensorrt working with custom op, you have to

- Let torch/onnx recoganize and export the custom op that not in standard opset, here we choose opset10. Thus we need to hack into symbolic_opset10.py. This is now done

[2021-01-28 08:24] mcarilli commented on #51075
Actually, I just had a reasonable idea how to implement per-graph pools in a way that kind of respects the fact that capture follows streams, as opposed to some strictly global or strictly thread-local "use private pool" flag. The implementation should be simple, too. I'll PR it for discussion.

[2021-01-28 08:58] LucasColas opened #51275 "Error of running"
## 🐛 Bug

Hello,
I wanted to use `torch.jit.load()`. However I got en error when I tried to run my script.

## To Reproduce

Steps to reproduce the behavior:

1.import torch
2.create a file
3.Use torch.jit.load(<your_file>)

[code]

## Expected behavior

I expected a return of a ScriptModule.

 - PyTorch Version (e.g., 1.0): 1.7.1
 - OS (e.g., Linux): Ubuntu 18.04
 - How you installed PyTorch (`co

[2021-01-28 09:11] LucasColas commented on #50723
Hi, could you solve your issue ? I have the same error. However I got this error when I try to call load() (from torch.jit.load())

[2021-01-28 09:16] Harold0 opened #51276 "same input can produce results with minor difference when it is in a batch"
## 🐛 Bug

I'm trying to locate some problem, but it seems that sometimes same input can produce results with minor difference when it is in a batch

## To Reproduce

Steps to reproduce the behavior:

[code]

result

[code]

they have 1e-5 error, which would expand when the network get deeper

tried with multiple machines, amd and intel machine give different  "print(identity)",  but all have "Fals

[2021-01-28 09:21] Ankita-020696 opened #51277 "Key changes between pytorch 1.7.1(stable) & pytorch 1.8"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

Hi,
What are key changes between pytorch 1.7.1(stable) & pytorch 1.8?

Thanks

[2021-01-28 10:31] mattip commented on #48049
Can this be re-closed now that the fix is verified?

[2021-01-28 10:34] rafi-cohen commented on #50829
I think I found a similar issue, likely caused by the same bug:
[code]

I'm pretty sure that `torch.cuda.device_count()` initializes CUDA, especially since `fork`ing afterwards results in `RuntimeError: Cannot re-initialize CUDA in forked subprocess`.

[2021-01-28 10:54] mattip commented on #51039
To add another clarification on top of the previous clarifications: even moving to the manylinux2014 spec would not work around the hard limitation mentioned above. The upcoming [PEP 600 perennial multibuild](https://github.com/pypa/manylinux/issues/542) standard might be the first that would support this, since it would move past CentOS7 (so obviously the wheels would not be expected to work on C

[2021-01-28 11:17] topshik opened #51279 "Profiler is stuck for DDP training"
## 🐛 Bug

I have an adopted knowledge distillation script from https://github.com/facebookresearch/XLM which I have used a lot for training new models. However, when I decided to profile it with `torch.autograd.profiler.profile` I faced my program being stuck on `torch.distributed.barrier()`, so profiler endlessly waits in `.../torch/distributed/launch.py", line 253, in main
    process.wait()`

#

[2021-01-28 11:33] vadimkantorov opened #51280 "[ux] Proposal to have t() === transpose(-1, -2), since batches are very frequent"
In PyTorch usecases we almost always work with batches of matrices, and the convenience method `t()` breaks because it wants <= 2 dimensions. Since this is so common, I propose to relax constraints of `t()` and make it equivalent to `transpose(-1, -2)` for all input shapes.

This could have been discussed and decided before, but I could not find the issue...

[code]

[2021-01-28 11:39] vadimkantorov opened #51282 "Bind tensor.unflatten to torch.unflatten namespace (torch.flatten exists but not torch.unflatten)"
This is rather surprising that `unflatten` exists only as instance method while `flatten` as both module method and instance method

[2021-01-28 11:47] shaibagon commented on #50802
while we are at it, there are several "tensor product" commands that are quite confusing. It would be nice to link all of them, e.g., `torch.dot`, `torch.mm`, `torch.bmm`, `@` operator, `torch.einsum`, `torch.tensordot`, `torch.matmul` ...

[2021-01-28 12:14] dingjie1993 commented on #26462
I have met the same issue too, when pytorch can solve this problem?

[2021-01-28 13:52] weilanhanf commented on #17203
Thank you！ Issue solved successfully.

[2021-01-28 13:57] stevebyan commented on #51231
Sorry, I grabbed the wrong log again. I did try with Xcode 11.7 as well. Shouldn't all of these work, though? Let me get the correct log for Xcode 12.4.

[2021-01-28 14:01] stevebyan commented on #51231
OK, here's Xcode 12.4.

(venv) smb % echo $VIRTUAL_ENV
/Users/smb/Work/GIT/pytorch/venv
(venv) smb % export CMAKE_PREFIX_PATH=$VIRTUAL_ENV MACOSX_DEPLOYMENT_TARGET=10.9 CC=clang CXX=clang++ USE_CUDA=0

(venv) smb % rm -rf build
(venv) smb % pip install -e .
Obtaining file:///Users/smb/Work/GIT/pytorch
Requirement already satisfied: typing_extensions in ./venv/lib/python3.8/site-packages (from torc

[2021-01-28 14:33] rgommers opened #51284 "result_type doesn't take dtypes and doesn't match numpy"
## 🚀 Feature

The signature for [torch.result_type](https://pytorch.org/docs/master/generated/torch.result_type.html) is currently:
[code]
While [numpy.result_type](https://numpy.org/devdocs/reference/generated/numpy.result_type.html)'s signature is:
[code]

It's not uncommon to mix tensors and dtypes to ensure you find both a dtype that input tensors can upcast to, and that's a minimum dtype in t

[2021-01-28 14:44] saroj-uta commented on #47354
Same issue here
I am trying to install pytorch on raspberry pi 4 having OS

Linux raspberrypi 5.4.51-v8+ #1333 SMP PREEMPT Mon Aug 10 16:58:35 BST 2020 aarch64 GNU/Linux

and Python 3.7.3.

Any suggestion on how to install Pytorch for such system.

[2021-01-28 14:45] saroj-uta commented on #47354
@Daedalus706
Have you found solution for this?

[2021-01-28 14:50] sungreong opened #51285 "Can I put the sklearn preprocessor module in torch jit too?"
## 🚀 Feature

I know it won't work, but I'd like to ask if this is actually possible.
When saving a model with torch jit, I want to save other preprocessing modules as well.

## Motivation

[code]

## Pitch

I want to save this model. and load model.

[code]

cc @gmagogsfm

[2021-01-28 14:58] NickScottKortical commented on #47354
In terms of macos this is because the macos version of pytorch does not have cuda support so there is no cpu only library version (as thats the default) so you need to use something like this in your requirements.txt if you have people working on both mac and linux:

[code]

[2021-01-28 15:09] zou3519 commented on #51141
@lacrosse91 go for it! There are instructions on how to build the docs here: https://github.com/pytorch/pytorch/blob/master/CONTRIBUTING.md#building-documentation

[2021-01-28 15:11] BynaryCobweb commented on #17614
@crissallan this function gathers all the parameters that require gradients from a torchscript module
[code]

[2021-01-28 15:15] heitorschueroff commented on #51284
I'm not sure we can offer the exact behavior as NumPy since C++ is strongly typed. Maybe we can do a manual dispatch from python API to convert the vararg into a list of tensor and a list of dtypes for the C++ API? @mruberry what do you think?

[2021-01-28 16:13] yns88 commented on #41232
#51237 should go a long way to fixing this, though it could take about a month to take effect.

[2021-01-28 16:21] #51040 closed

[2021-01-28 16:32] bencrts commented on #30862
I had a similar issue with the error message: ImportError: cannot import name 'nan'. The fix was to do:

`pip3 uninstall torch`

multiple times (3, in my case) untill the message `Cannot uninstall requirement torch, not installed` appeared. After this, a fresh install via:

`pip3 install torch==0.3.1`

seemed to fix the problem.

[2021-01-28 17:36] #48049 closed

[2021-01-28 17:38] tawanda commented on #25164
Thanks @PaleNeutron

In my case I was installing on Amazon Linux, I followed this guide and it fixed my issue

https://aws.amazon.com/premiumsupport/knowledge-center/ec2-memory-swap-file/

[2021-01-28 17:53] malfet commented on #51231
Judging by the log, clang in your system fails to compile the following simple program:
[code]
 printf "#include <cmath>\n#include <string>\nint main() { int a = std::isinf(3.0);int b = std::isnan(0.0);std::string s = std::to_string(1);return 0;}"|/Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/clang++ -x c++ -std=c++14 -
[code]

[2021-01-28 17:55] GrzegorzKarchNV commented on #50686
I confirm the issue is resolved and I can export the model successfully. Thanks for your support!

[2021-01-28 17:55] malfet commented on #51199
Thank you for reporting. Seems pretty simple to implement

[2021-01-28 17:56] teobaluta commented on #51033
Oh, that solved it, thank you so much!

[2021-01-28 18:03] malfet commented on #51196
@ForrestPi can you please run `python3 -m torch.utils.collect_env` and share it's output here?
And looks like an expected behavior of autograd if `d` contains nan values

[2021-01-28 18:05] eellison commented on #50796
Hello @HuangdaoQin, as of 1.7, in the first run we profile the graph, and in the second run, we optimize it. You can see dumps of the IR optimization by running `PYTORCH_JIT_LOG_LEVEL='profiling_graph_executor_impl' python ${your_file}`. Closing, feel free to continue to comment or open if you think there is still an issue.

[2021-01-28 18:06] #50796 closed

[2021-01-28 18:18] malfet commented on #51183
Thank you for reporting. We will accept PR that fixes it.

[2021-01-28 18:31] malfet commented on #51172
Thank you for reporting.  We will accept PR that fixes the issue.
@mrshenli, do you know why test called test_gloo_backend_2gpu_module requires 4 GPUs and test_gloo_backend_4gpu_module requires 8? Unless I'm reading following incorrectly:
https://github.com/pytorch/pytorch/blob/33d5180684cf92fb9f512d8dddc76d0b6940264f/test/distributed/test_c10d.py#L2337-L2338

[2021-01-28 18:32] malfet commented on #51207
Thank you for your suggestion.

[2021-01-28 18:41] stevebyan commented on #51231
(venv) smb % printf "#include <cmath>\n#include <string>\nint main() { int a = std::isinf(3.0);int b = std::isnan(0.0);std::string s = std::to_string(1);return 0;}"|/Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/clang++ -x c++ -std=c++14 -
In file included from <stdin>:1:
/Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/

[2021-01-28 18:52] mruberry commented on #51284
This is a great idea. We should think about how best to implement it. If we have to we could implement the signature in Python and diverge the Python and C++ implementations.

[2021-01-28 18:52] stevebyan commented on #51231
I tried compiling that simple program without any compiler switches. It works:

smb % cat foo.cpp
#include <cmath>
#include <string>

int main() {
  int a = std::isinf(3.0);
  int b = std::isnan(0.0);
  std::string s = std::to_string(1);
  return 0;
}
smb % make foo
clang++     foo.cpp   -o foo
smb % ls -l foo
-rwxr-xr-x  1 smb  staff  33384 Jan 28 13:50 foo

[2021-01-28 19:13] rgommers commented on #51284
What I forgot to add to the motivation: the `result_type(tensor1, tensor2, min_dtype)` pattern wasn't all that useful without "mixed kind" casting, but now that we have integer to floating point casting which matches numpy, and (I think) float to complex as well, it's a lot more relevant.

[2021-01-28 19:25] eellison commented on #45499
To do this "the right way" I would :

Add Literal Types - `Literal[True]`, `Literal[False]`
[code]

But this might be more trouble than it's worth. We might consider throwing an error, exposing the tuple/non-tuple signatures, and asking the user to either directly invoke the unique_tuple vs unique overloads (those may or may not exist rn, i'm not sure).

[2021-01-28 19:34] jamesr66a commented on #51229
cc @smessmer who switched from `typeid().name()` to `std::type_index`

Also cc @gmagogsfm for routing to current TS team owner

[2021-01-28 19:52] ngimel commented on #51206
@FabianIsensee thank you for the updates and the simplified script.
@xwang233 in both original and simplified scripts the backward for interpolation is run (it is at the end of the network, not the beginning), and it should be run, so in that sense there's no problem with amp.
For the sizes in the simplified script (and most likely in the original, but I didn't double-check) the backward interpola

[2021-01-28 20:21] #51132 closed

[2021-01-28 20:29] stevebyan commented on #51231
Trashed all of my Xcode installations (12.4, 11.7, 11.3.1), emptied trash,
downloaded Xcode 12.4 from the App Store,
executed `xcode-select -r` to reset to the default command line tools path.

Still getting the same thing: `/usr/bin/clang++` works fine, `/Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/clang++` gives the same errors

[2021-01-28 20:57] oliverdain opened #51302 ""make install" skips some required libraries for static build"
## 🐛 Bug

I'm using the cmake setup that's included with PyTorch to do a custom build. In particular I'm passing `-DBUILD_SHARED_LIBS=OFF` and a number of other `-D` to skip components I don't need (e.g. `-DBUILD_PYTHON=OFF`, `-DUSE_DISTRIBUTED=OFF`, etc.). I run `cmake` and then `make install`. The install copies most, but not all, of the `.a` files that were built into the `lib` sub-directory of

[2021-01-28 20:58] anbai106 commented on #43766
I have the same issue with 1.7.0 by using torch.save and torch.load.

[2021-01-28 21:08] #51144 closed

[2021-01-28 21:19] nikithamalgifb commented on #51055
Quick update: I was not able to reproduce the same issue, but however ran into this even with nprocs = 1
[code]
I tried in both `module = torch.jit.script(MyModule())` and also `MyModule()`. But received the same error.
@nurpax : Do we need any special setting?

[2021-01-28 21:29] glaringlee commented on #50577
@jamesbut
Hi, I went through the lr scheduler implementation. Here are some comments.

1. For base class. One specific problem is `_step_count`.  C++ is not that flexible as python. We have no way to hookup a setp_count to a class object of c++.  One way to support this is to add step_count in optimizer base class as well, but need to change all the optimizers' step function to increase this count

[2021-01-28 21:31] lacrosse91 commented on #51141
Thank you!
I will try it!

[2021-01-28 21:40] jeffdaily opened #51303 "[ROCm] test_linalg.py failures after hipMAGMA integration"
As requested by @malfet in https://github.com/pytorch/pytorch/pull/51238, this issue captures the newly failing tests after integrating hipMAGMA into the ROCm PyTorch build.  These tests were decorated with `@skipCUDAIfRocm` to proceed with the PR.  Debugging these skipped tests is the next step, and captured here with this issue.

Attached is full log.  Copied here is the summary.
[test_linalg.lo

[2021-01-28 21:43] malfet commented on #50873
@RSchwan none of the PyTorch MacOS binaries hosted should dynamically link with OpenBLAS.
Can you please run one more command for me: `otool -L /usr/local/lib/python3.8/site-packages/torch/lib/*.dylib`?

This is how torch-1.7.1 dependencies look on my Mac:
[code]

[2021-01-28 21:46] ganitps commented on #50714
Same issue here!

PyTorch Version (e.g., 1.0): 1.8.0a0+7a8c64d’
OS (e.g., Linux): Android
How you installed PyTorch (conda, pip, source): self compiled from master with vulkan as in tutorial
Build command you used (if compiling from source): as in tutorial , run .shs until arrs created.
Python version: 3.6
CUDA/cuDNN version:
GPU models and configuration:
Any other relevant information: also when

[2021-01-28 21:51] malfet commented on #51208
@BowenBao can you please have a look?

[2021-01-28 21:52] RSchwan commented on #50873
Here are my torch-1.7.1 dependencies (exactly the same as your dependencies @malfet):
[code]

[2021-01-28 21:52] malfet commented on #50723
@IvanKobzarev can you please have a look?

[2021-01-28 21:55] malfet commented on #51275
@LucasColas can you actually print the actual error you are seeing? Also, what is 'weights' variable in your example? Tensor?

[2021-01-28 21:57] neginraoof commented on #51208
We do no have full onnx opset 13 in master yet.
But there was a recent update (https://github.com/pytorch/pytorch/pull/50905) merged yesterday that may have the fix. Can you with latest master?

[2021-01-28 22:00] malfet commented on #51209
Thank you for reporting the issue. We will accept the PR that fixes it without compromising the performance with more modern compilers.
But is there a reason why you don't want to update VC toolchain to 15.9? (Which I believe should not have this problem)

[2021-01-28 22:12] vadimkantorov commented on #51208
Will try and will let you know

[2021-01-28 22:16] dnns92 commented on #51209
Hey thanks for the message. As far as I know the fix of this bug in Visual studio happened in v16 i.e in VS19.( See the issue in the microsoft- link I provided). Torch plays a minor role in my project, and it would cause some issues moving the whole project to vs19 just because of it. I thought there might be a sneaky workaorund somewhere.

[2021-01-28 22:24] Doffery commented on #24235
Also have this with my BiLSTM CRF model, has to go script, but returned bool not tensor error. Any update on this issue?

[2021-01-28 22:32] nurpax commented on #51055
@nikithamalgifb I haven't seen this particular problem.  I'm running on Linux with Python 3.8.5.

I just tried this code again on our cluster and I can easily reproduce the hang on 4 or more GPUs.  You definitely ran with 2, 4 or more GPUs enabled?  2 GPUs took more tries to hang but from past testing 8 GPU hung or asserted every time for me.

I could try running this with a matching container ima

[2021-01-28 22:40] seemethere opened #51310 "Nightly conda builds for Python 3.9 are failing on import"
## 🐛 Bug

Appears as though nightly conda builds are currently failing with:

[code]

Builds for this started failing between Jan 22, 2021 and Jan 23, 2021 (7494f0233aabb5109e068f3cad73e20dc6a8dd23...6aec1eba1582ef2c3486652ec0a6cd0ce346b83d)

Note that these builds are only failing for

Link to [CircleCI Logs](https://app.circleci.com/pipelines/github/pytorch/pytorch/263351/workflows/a6cbec9b-8731

[2021-01-28 22:42] seemethere commented on #51310
Closing in favor of https://github.com/pytorch/pytorch/issues/51026

[2021-01-28 22:42] #51310 closed

[2021-01-28 22:43] seemethere commented on #51026
Labeling this as high priority since this is causing our nightlies to fail for conda builds on Python 3.9. Also do note that I added this to the `1.8.0` milestone and this will be a release blocking issue for any scheduled RCs we plan to do in the upcoming weeks.

Issue text from #51310:

Appears as though nightly conda builds are currently failing with:

[code]

Builds for this started failing be

[2021-01-28 22:52] seemethere commented on #50535
The `0.1.2.post2` package has been yanked from PyPI and is only installable now if you include the version in your install command.

Can you try to `pip install torch` now and see what type of error it gives you?

[2021-01-28 22:54] seemethere commented on #48513
Looks like this issue is mostly resolved, going to go ahead and close

[2021-01-28 22:54] #48513 closed

[2021-01-28 23:54] mszhanyi commented on #50535
The result is
![image](https://user-images.githubusercontent.com/16190118/106213254-3c3f3300-6207-11eb-87a1-6f4b272c488f.png)

[2021-01-28 23:58] vadimkantorov commented on #42502
Stumbled on this as well while coding a batched K-means random initialization (also reported at https://discuss.pytorch.org/t/batched-shuffling-of-feature-vectors/30188/4)

[2021-01-28 23:59] vadimkantorov commented on #42502
One way could be accepting size or shape argument and also a dim argument. Then it would create a tensor of desired shape and put the perm[:shape[dim]] into the dim dimension

[2021-01-28 23:59] vadimkantorov commented on #42502
randperm_like can also be created like this with dim argument

[2021-01-29 00:17] davidmoseler opened #51320 "Pytorch not working properly (I don't know how to summarize it, see below)"
When I have a pytorch model, I sometimes would like to extract the features before the final softmax layers or such. Here, I have a model trained and loaded from a pickle:

[code]

Then, I would suppose that the model can be rebuild from it's children:

[code]

However, given a test tensor:

[code]

model(x_test) produces an output normaly, but encoder(x_test) gives RuntimeError: mat1 dim 1 must m

[2021-01-29 00:28] #24543 closed

[2021-01-29 00:28] #24685 closed

[2021-01-29 00:29] vadimkantorov commented on #43867
Also stumbled on this

[2021-01-29 00:42] vadimkantorov commented on #5740
also stumbled on this

[2021-01-29 00:42] vadimkantorov opened #51323 "scatter_ with passed `reduce=` argument to support integer inputs"
I ran it on int64 tensor and got
`RuntimeError: scatter_(): Expected floating or complex type for self.`

[2021-01-29 00:54] #51033 closed

[2021-01-29 00:55] spandantiwari commented on #50686
Thanks for confirming @GrzegorzKarchNV .

[2021-01-29 01:10] vadimkantorov commented on #32306
Again stumbled on this

[2021-01-29 01:39] vadimkantorov commented on #5580
was just interpolating some integer maps and found that integer inputs to interpolate are still not supported... causing to allocate a float copy

[2021-01-29 01:52] peterjc123 commented on #51209
Well, what about creating a wrapper library for LibTorch using VS 2019 and then using it in your project?

[2021-01-29 02:34] crissallan opened #51328 "Support torch::jit::script::Module converting to torch::nn::Module."
## 🚀 Feature
Support torch::jit::script::Module converting to torch::nn::Module.

## Motivation
In some cases like image-style transfer, we need to calculate the gradient of loss w.r.t the input tensor. Howerver, if I load a pre-trained Pytorch CNN in C++ by using jit::script::Module. The pre-trained CNN of the jit::script::Module can't pass the gradients to the input tensor. Because it seems the

[2021-01-29 02:46] Woodrow1026 commented on #51264
can i get some help?

[2021-01-29 03:22] XinyingZheng commented on #22969
How to solve the problem, download Pytorch version 1.4？looking forward to your reply

[2021-01-29 03:36] skyline75489 commented on #51172
@malfet This confused me also. I asked @mrshenli about it. I'm quoting his answer:

[2021-01-29 04:40] ailzhang commented on #51264
Hi, per instructions in the template, please redirect all questions to pytorch forums instead. Thanks a lot!

[2021-01-29 04:40] #51264 closed

[2021-01-29 04:41] #49952 closed

[2021-01-29 04:42] ailzhang commented on #51323
Hi, would you mind providing a repro? Thanks!

[2021-01-29 04:44] ailzhang commented on #51197
Given the amount of deprecated warnings we currently have, this sounds like a great improvement for user experience. Tagging triage review so that we can discuss the priority.

[2021-01-29 04:45] ailzhang commented on #51205
cc: @robieta

[2021-01-29 04:47] ailzhang commented on #51215
Per instruction in the issue template, please redirect all questions to PyTorch forum instead. Thanks!

[2021-01-29 04:47] #51215 closed

[2021-01-29 04:49] ailzhang commented on #51230
Closing via https://github.com/pytorch/pytorch/issues/51230#issuecomment-768607389. Please feel free to reopen if you see other issues.

[2021-01-29 04:49] #51230 closed

[2021-01-29 04:51] ailzhang commented on #51271
Marking as high pri since it hits internal assert but the use case looks valid.

[2021-01-29 04:54] ailzhang commented on #51277
Hi Pytorch 1.8 is current master branch which is being developed. We haven't released 1.8 yet. 1.7 is the current latest stable release. Hope this answers your question.

[2021-01-29 04:54] #51277 closed

[2021-01-29 04:56] ailzhang commented on #51280
sorry @mruberry this might not be directly related to numpy, but I feel it might be some interesting semantics when for frontend APIs. Please feel free to remove the label if there's a better match. Thanks!

[2021-01-29 05:00] ailzhang commented on #51282
This should be an easy change in `native_functions.yaml`, would you be interested in sending a PR? @vadimkantorov ? Thanks!

[2021-01-29 05:01] tyoc213 opened #51332 "Cant compile from source 1.8.0a0 because 'magma_v2.h' file not found"
## 🐛 Bug

## To Reproduce

I got latest 11.2 drivers and updated required libs

[code]
# and updated magma to magma-cuda112

[code]

and updated pytorch to latest master

[code]
finally tried to install like always

[code]

## Expected behavior

Be able to install with `pip install -e .`

## Environment

[code]

 - PyTorch Version: previous install was 1.7 from source more than 100 commits a go

#

[2021-01-29 05:16] tyoc213 commented on #51332
Ok, `make clean` did the work, thx!

[2021-01-29 05:17] rgommers commented on #51156
This request makes sense to me in principle. It'd just be a convenience to not have to write the more explicit
[code]

The implementations are in C++ (see for example `torch/csrc/utils/tensor_numpy.cpp`) and need to stay there, they're also part of the C++ API. You'd have to check for the presence of `__array__`, and then call back into Python to convert the object to an `ndarray` with `np.asarray

[2021-01-29 05:31] rgommers commented on #51280
This makes sense to me. Note that `rand(3, 4, 5).transpose(-1, -2)` doesn't actually work in numpy (throws a ValueError, it wants all axes specified). NumPy discussed adding a `.mT` attribute, for "matrix transpose", to just swap the last two axes. It wasn't implemented, but more because of a lack of a volunteer - IIRC it was considered a good idea.

[2021-01-29 05:33] ShoufaChen opened #51333 "an illegal memory access was encountered at when torch.numel is smaller than a specific number"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

[code]

Error Message:
[code]

## Expected behavior

## Environment

[code]

## Additional context

Test with more input examples:
| B | C    | T | H  | W  | test |
|---|------|---|----|----|------|
| 3 | 2048 | 4 | 20 | 13 | pass |
| 3 | 2048 | 4 | 16 | 13 | pass |
| 3 | 2048 | 4 | 15 | 13 | pass |
| 3 | 2048 | 4 | 14 | 13 | fail |
| 3

[2021-01-29 05:50] ForrestPi commented on #51196
Collecting environment information...
PyTorch version: 1.6.0
Is debug build: No
CUDA used to build PyTorch: 10.1

OS: Debian GNU/Linux 9.11 (stretch)
GCC version: (Debian 6.3.0-18+deb9u1) 6.3.0 20170516
CMake version: version 3.14.7

Python version: 3.7
Is CUDA available: Yes
CUDA runtime version: 10.1.243
GPU models and configuration:
GPU 0: Tesla V100-SXM2-32GB
GPU 1: Tesla V100-SXM2-32GB
GPU 2:

[2021-01-29 06:18] tyoc213 commented on #51332
Hi there I reopen the issue because after clean and start compiling I get this one

[code]

But it seems that only magma 1 exist?

[2021-01-29 06:37] sailorbj opened #51334 "ONNX export of atan2"
## 🐛 Bug
Try converting torch model to onnx, atan2 is not supported.

RuntimeError: Exporting the operator atan2 to ONNX opset version 9 is not supported. Please open a bug to request ONNX export support for the missing operator.

## To Reproduce
import torch
import torch.nn as nn
import torch.nn.functional as F
from torch.autograd import Variable
import numpy as np

class Net(nn.Module):
   def _

[2021-01-29 06:52] HuangdaoQin commented on #50796
Thank you for your reply. I find that when the model was run for the second time, it was on the cpu instead of the gpu. This will cause the second run to be particularly slow, especially when the model is complex. For example, the second run time of the sequence prediction model (attention or transformer) is 60 times longer than the third run. It is not conductive to industrial deployment. Hope yo

[2021-01-29 06:56] gemfield commented on #41353
@gmagogsfm May I ask what is the workaound to torch.jit.trace(DDP model) or torch.jit.scrit(DDP model)?

[2021-01-29 06:58] gmagogsfm commented on #41353
DDP model isn't supported yet. But if you can share more about your model implementation, I can give some advice on how to use low level APIs to rewrite your model.

[2021-01-29 07:08] ShoufaChen commented on #51333
`torch.backends.cudnn.deterministic = True` could solve this problem but training will be slow.

[2021-01-29 07:23] guyang3532 opened #51337 "Set torch.profiler.profile.activities a default value"
## 🚀 Feature
Set torch.profiler.profile.activities a default value when both arguments "activities" and "use_gpu" are not specified by user.

## Motivation
To refine default action of the profiler API and improve user experience.

## Pitch

In the torch.profiler.profile.__init__() function ,if use_gpu is None and activities is None , it will raise an RuntimeError:https://github.com/pytorch/pytorch

[2021-01-29 07:29] FabianIsensee commented on #51206
Hi there, thank you for looking into this and confirming the issue! I stumbled upon this issue when training a segmentation network with deep supervision. It is a U-Net type architecture where there are segmentation heads at each stage of the decoder pathway. There is some evidence in the literature that upscaling the logits to the full resolution may be superior to downsampling the segmentations.

[2021-01-29 07:55] joinhe opened #51339 "gcc 4.8.5 -std=11 how to build pytorch1.7"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

i want to use gcc4.8.5 to make pytorch1.7 code
What should i do on torch1.7.

on tor

[2021-01-29 07:56] LucasColas commented on #51275
Hello,
weights is a variable which contains weights traced of a neural network. It's not a tensor. It is only bytes.

Here is my error :

[2021-01-29 08:02] rgommers commented on #16574
@guilhermeleobas suggested using [Typeguard](https://typeguard.readthedocs.io/en/latest/index.html); Numba is apparently using it successfully to verify their annotations. This would use the import hook method and run only as an optional test dependency in some CI jobs - see https://github.com/numba/numba/pull/6458.

If it can be made to work, that's probably more effective than running mypy over

[2021-01-29 08:25] skyline75489 commented on #51339
I think the minimum version supported GCC 5.

[2021-01-29 08:38] thehetpandya opened #51343 "Exporting model to onnx increases the model size"
Hi, I'm trying to convert some models from huggingface as follows:

ktrapeznikov/albert-xlarge-v2-squad-v2
albert-xlarge-v1
albert-xlarge-v2
The common issue with exporting all these models is that I get an exception that the protobuf size increases to more than 2gb while all these are less than 800mb. When I use the use_external_data_format=True flag, the exported model files(network layers as I

[2021-01-29 08:41] skyline75489 commented on #51231
For you reference, this is the output I'm getting:

[code]

I can't directly use the clang++, either. The error:

[code]

But the cmake configuration is fine.

[2021-01-29 08:42] skyline75489 commented on #51231
@stevebyan Generally we recommend using anaconda because it provides a more predictable environment. You may want to give conda a try.

[2021-01-29 08:56] mobassir94 opened #51344 "Pytorch DataLoader freezes when num_workers > 0 in jupyter notebook(windows 10)"
i am facing exactly this same issue : https://github.com/pytorch/pytorch/issues/15808  in windows 10,

i used, anaconda virtual environment where i have,
* python 3.8.5
* pytorch 1.7.0
* cuda 11.0
* cudnn 8004
* gpu rtx 3060ti
* Is CUDA available: Yes

related post : https://stackoverflow.com/questions/63674120/pytorch-dataloader-hangs-when-num-workers-0

and https://discuss.pytorch.org/t/training

[2021-01-29 08:58] yzqxmu opened #51345 "how to convert torch::conv2d return value(tensor) to cv::mat"
I run the following program:

read a picture of 3 channel input torch::nn::conv2d(3,3,3).pad(1).stride(1),then I got the results:
![results](https://user-images.githubusercontent.com/8663412/106253310-463a5380-6252-11eb-9fb9-07ac33ee8d37.png)
code:

[code]

what happen?????

[2021-01-29 10:00] nurpax commented on #51055
I tried this again on another 4xGPU machine and can consistently get it to hang or crash with an assert.  Below you can find the exact source code (basically the same as above)  and the exact Docker invocation that I used:

`multigpu.py`:

[code]

Invoke with docker (from a directory with the above multigpu.py file):

[code]

Usually it hangs.  But it can also trigger an assertion, like this (dire

[2021-01-29 10:02] vadimkantorov commented on #51280
Yeah, I guess numpy.transpose === torch.permute in semantics

[2021-01-29 10:57] nunoplopes opened #51347 "torch.script crashes with Union type"
## 🐛 Bug

torch.script crashes with Union type given to an argument.

## To Reproduce

[code]
## Environment

 - PyTorch Version: tried 1.7.0-py3.7_cuda10.1.243_cudnn7.6.3_0 & 1.7.0+cpu
 - OS: ubuntu
 - How you installed PyTorch: tried both conda & pip
 - Python version: tried 3.7.9 & 3.8.6

cc @gmagogsfm

[2021-01-29 11:06] MrPr3ntice commented on #51102
Seems to be (among others) a problem of floating point precision, as this does not occur with:

`a = torch.randn(5, 4).double() + 2000`

Nethertheless, as shown in the **Expected behaviour** example, the precision does not fully explain the early instability. Maybe the sequence of operations in the layer_norm cpp-implementation is suboptimal (just guessing without having sighted).

[2021-01-29 11:12] nunoplopes commented on #51347
FYI type annotation `Dict[str, object]` also craches.

[2021-01-29 11:44] hubeichenxing commented on #23573
@kgizdov Are you fixed the error now?

[2021-01-29 11:47] andrei-pokrovsky commented on #31843
This doesn't parallelize correctly.

[2021-01-29 13:08] ventusff opened #51349 "autograd.grad with set_detect_anomaly(True) will cause memory leak"
## 🐛 Bug

using `torch.autograd.grad()` with `torch.autograd.set_detect_anomaly(True)` will cause memory leak

## To Reproduce

Run the code snippet below.
It will have about 2MiB GPU memory consumption increasing each iteration.

If comment out the `set_detect_anomaly` line, then there is no memory leak, with constant memory consumption.

[code]

## Expected behavior

No memory leak with or witho

[2021-01-29 13:20] thehetpandya commented on #32764
Hi @snakers4,
I'm new to pytorch and trying to quantize ktrapeznikov/albert-xlarge-v2-squad-v2 from huggingface and I'm getting the same error. Could you help me?

[2021-01-29 13:23] thehetpandya commented on #32764
Hi, if anyone is facing similar issue, I just stumbled upon [#2542 comment](https://github.com/huggingface/transformers/issues/2542#issuecomment-656717610) which solved my error. Thanks!

[2021-01-29 14:32] snakers4 commented on #32764
When I last checked, the standard transformer layers were not quantizable, maybe it changed
As for pre-trained BERT models I did not really try playing with them, we just implemented our own layer for our purposes

Did you check under the hood, maybe this particular model uses `torch.nn.Bilinear` instead of `Linear` layers?

[2021-01-29 14:50] tyoc213 commented on #51332
[code]

[2021-01-29 15:03] brightbsit opened #51351 "Run time error"
i'm using wsl2 and docker with rtx3080.
i got an runtime error. when i used rtx 1050ti, it doesn't happend with cuda 10.0 version of docker.
please help me

[code]

[2021-01-29 15:06] ezyang commented on #51271
What version of PyTorch? Pretty sure @albanD fixed this one on master

[2021-01-29 15:21] mcclumpherty commented on #15808
Same issue on 4Gb Jetson Nano.  Training halts after random period of time with workers > 0.  Without workers, the training takes roughly 2-3 times longer.

This really needs to be fixed.

[2021-01-29 15:21] DNXie opened #51352 "torch.nn.functional.adaptive_avg_pool3d and torch.nn.AdaptiveAvgPool3d aborts when input is of integral type"
## 🐛 Bug

`torch.nn.functional.adaptive_avg_pool3d`  and `torch.nn.AdaptiveAvgPool3d` aborts when `input` contains negative number

## To Reproduce
[code]

[code]

Output:
[code]

## Expected behavior

expect no crash

## Environment

PyTorch version: 1.8.0.dev20210126+cpu
Is debug build: False
CUDA used to build PyTorch: None
ROCM used to build PyTorch: N/A

OS: Ubuntu 18.04.4 LTS (x86_64)
GCC ve

[2021-01-29 15:23] ezyang commented on #44409
Let's do this! Now that the codegen is rewritten I think it's in a good spot for someone to try doing this.

[2021-01-29 15:30] stevebyan commented on #51231
Doesn't Anaconda now require a Commercial license for its use in medium and large corporations?
"You’re not in compliance with our Terms of Service if you are using Anaconda’s repositories in a for-profit or government organization with over 200 employees outside of a business relationship with Anaconda. You are also not in compliance if you are using mirroring software to create copies of the Ana

[2021-01-29 15:33] sambaPython24 commented on #51271
Hey, it is
[code]
and it is run on a CPU. Do you need any other information?

[2021-01-29 15:48] tyoc213 commented on #51332
well, just added the the first include route to my PATH, seem it is OK now.

Will reopen if get more errors, the only thing is that I didn't need that before.

[2021-01-29 16:09] jbschlosser commented on #49756
It's unclear to me why `collect_next_edges` returns an empty set when grad mode is disabled. It's likely the unexpected semantics of this function are what caused the bug in the first place. Imo it should be the responsibility of this function to do exactly what it says, and should be a responsibility of the call-site to determine whether the function should be called at all, possibly conditional

[2021-01-29 16:12] ezyang commented on #51320
You should be getting a backtrace in this case. What is your backtrace?

[2021-01-29 16:14] ezyang commented on #51333
Can you rerun with `CUDA_LAUNCH_BLOCKING=1` so we can get a better idea for which specific call is failing?

[2021-01-29 16:14] ezyang commented on #51333
1.5.0 is relatively old so I'd also recommend trying a newer version of PyTorch

[2021-01-29 16:15] ezyang commented on #51339
We're on C++14 so unfortunately gcc4.8 is no good. You will have to upgrade your compiler, or keep using an older version of PyTorch.

[2021-01-29 16:15] #51339 closed

[2021-01-29 16:16] walterddr opened #51355 "Include instructions to cleanly remove third_party dep"
## 📚 Documentation

after #50998 I couldn't checkout any commit that still uses `github.com/seemethere/pybind11.git` because the actual third_party commit lives on @seemethere 's personal fork.

the instruction on CONTRIBUTING.md to clean the repo doesn't work for this scenario when `.gitmodules` file was changed with a different repository.

cc @jlin27 @mruberry

[2021-01-29 16:19] ezyang commented on #51344
do you think https://github.com/pytorch/pytorch/issues/12831 related?

[2021-01-29 16:20] ezyang commented on #51345
Please ask user questions in https://discuss.pytorch.org/

[2021-01-29 16:20] #51345 closed

[2021-01-29 16:20] ezyang commented on #51347
IIRC Union doesn't work on TorchScript but someone is working on adding support for it.

[2021-01-29 16:21] SsnL commented on #51320
This is false in general. You can guarantee that the `forward` sequentially calls the children in the same order as `children()` returns.

[2021-01-29 16:22] ezyang commented on #51351
Sounds like a cublas problem...

[2021-01-29 16:24] segalinc commented on #49285
I have PyTorch 1.7.1 and checked all the other packages version but still happening

[2021-01-29 16:37] jeffdaily commented on #51213
I need more info.  Since you're using pip to install, I'm assuming you are using one of the ROCm nightly wheels?  Did you perform an update to your torch install such that the latest wheel was broken, but an earlier one was not?

Since you are using and AMD GPU, and the error is "CUDA", this indicates you installed torch for CUDA accidentally.  The ROCm and CUDA builds of pytorch are separate.  RO

[2021-01-29 16:39] ShoufaChen commented on #51333
with `CUDA_LAUNCH_BLOCKING=1`:

[code]

Thanks for your recommendation for a newer version but the latest version I can use is pytorch15.

[2021-01-29 17:07] ejguan commented on #51344
I have seen lots of issues related to python multiprocssing on Windows. As there is no `fork` on windows platform, the `if __name__ == '__main__'` is needed to ensure the construction of DataLoader with multiple processes under "singleton mode" in your script.
I would love to provide suggestions if you could share a self-contained script which we could use to reproduce this issue.
You can checkout

[2021-01-29 17:07] peterbell10 commented on #44409
By the way, I also have a solution for the `Dimname` issue @t-vi mentioned. See #51350.

Python API generation has a `sort_overloads` step that chooses the order in which python overloads get tried. By prioritising `Dimname` below everything else, the `None` argument will get picked up by the optional overload first. IIUC, this only works when the two overloads have exactly the same type. However,

[2021-01-29 17:15] mobassir94 commented on #51344
@ezyang  @ejguan
i am using exactly this notebook in windows : https://www.kaggle.com/khyeh0719/pytorch-efficientnet-baseline-train-amp-aug
you can see that there the kernel author already used if __name__ == '__main__'

i am running exactly that same notebook,,,i just added extra line :

`torch.backends.cudnn.benchmark = True
`
and everything else is same as that notebook,,i had to use num_worker

[2021-01-29 17:21] ngimel commented on #51351
Please provide the script to reproduce the error.

[2021-01-29 17:23] stevebyan commented on #51231
I also tried running it on macOS Mojave 10.14.6 using Xcode 11.3.1:
[code]

The binary executable wrappers in /usr/bin seem to be doing something special - more than just exec'ing /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/clang++

And this is true on multiple Xcode versions on multiple macOS versions.

[2021-01-29 17:28] stevebyan commented on #51231
My colleague was able to successfully build from source on macOS Catalina with Xcode 12.3. However, running @malfet 's compilation pipeline returned this error on his machine:

[code]

[2021-01-29 18:27] vadimkantorov opened #51361 "[proposal] Forbid tensor.flatten(single_non_kwarg) if feasible"
It is not very intuitive when just reading the code, what is the semantics: `tensor.flatten(end_dim=single_non_kwarg)` or `tensor.flatten(start_dim=single_non_kwarg)`. Currently it seems that it's the latter. It's less of a problem when both arguments are used (or if a single kwarg is used)

cc @ezyang @gchanan

[2021-01-29 18:42] nikithamalgifb commented on #51055
I retried again and was able to run.

(pytorch) [nikithamalgi@devgpu227.prn2 /data/users/nikithamalgi/cuda_streams/pytorch] python repro.py
rank 1 start
rank 0 start
rank 1 start
rank 0 end

My setup has only 2 devices and hence, I tried with nprocs = 2 and didn't see the hang.
I'm going to try and see if I can find a machine with 4 or more GPU's

[2021-01-29 18:48] #50662 closed

[2021-01-29 19:13] Devchonka commented on #36035
@albanD sorry to bother you, do you guys have a timeline for when you think a fix could be integrated? I'm relatively new to ML and torch and this is a big blocker for me (the above proposed workaround isn't an option in my case).

[2021-01-29 19:15] ngimel commented on #51206
@xwang233 please benchmark #48675 on a wider range of input sizes, and at the very least switch to the old implementation for cases that regress.

[2021-01-29 19:16] xwang233 commented on #51206
Thanks @FabianIsensee for discovering the issue. @ngimel , I'll check the benchmark for the interpolation backward.

[2021-01-29 19:23] #51141 closed

[2021-01-29 20:08] davidmoseler commented on #51320
@SsnL It actually does call them in the same order. I investigated layer by layer and discovered though that the last layer received an output of the format (N) and the next-to-last layer was outputting something of the format (N, 1, 1) in the restnet model. I have no idea how does that work inside of resnet. I did something like:

[code]

and it worked. I don't know if that should be considered a

[2021-01-29 20:26] kurtamohler opened #51366 "`index_put_` backward and `index_backward` are nondeterministic on CPU"
Relevant comment, mentioning the per-run variance for `index_put_` with `accum=True`: https://github.com/pytorch/pytorch/pull/29705/files#r390768040

Since `index_backward` depends on `index_put_` with `accum=True`, it is also nondeterministic.

I will submit a PR adding a nondeterministic alert for these

cc @mruberry @kurtamohler @ngimel

[2021-01-29 20:26] jbschlosser commented on #51320
Hey @davidmoseler!

As @SsnL mentioned, in general, there is no guarantee that a module's `forward()` method calls its children in the same order as returned by `children()`. Modules have full flexibility in how computation is done in their respective `forward()` methods.

That said, as you pointed out, for the particular case of [ResNet](https://github.com/pytorch/vision/blob/09ce6758ad6ab3177f3f

[2021-01-29 20:36] stevebyan commented on #51231
OK, I installed Anaconda and tried it. I still get the same error.
[code]
I suppose it's something peculiar to my Xcode environment, since my colleague can't reproduce it.

[2021-01-29 20:43] rgommers commented on #46187
After some more discussion on this topic today with @mruberry and @ezyang, and taking into account

1. what other libraries do (e.g. JAX, TensorFlow follow NumPy and use "Option 1"),
2. the attempt to create a single standard API that all array/tensor libraries can adhere to (see https://github.com/data-apis/array-api/issues/95), and
3. the not-so-good-looking tentative plan to create non-synchron

[2021-01-29 20:49] SsnL commented on #51320
In this case, there is reshape that does not show up in the form of a module (but as a function call in `forward`) so your new module misses it. Either way, it is not guaranteed to work.

[2021-01-29 20:53] maltevb commented on #49161
Hey guys,
i am also facing the same problem with my RTX 3090.
The specs are:

torch = 1.7.1
cuda = 11.2
nvidia driver = 460.32.03
torchvision = 0.8.2

Anybody has an idea how to fix it? Tried also torch = 1.7.0, but the error still occurs.
Would appreciate if you share your experience.

See the full error message below:
_Traceback (most recent call last):
   File "/home/user/20210129_instance_nn_t

[2021-01-29 21:11] mruberry commented on #46187
This sounds like a good plan for the operations in the linalg module.

[2021-01-29 21:17] zou3519 commented on #49409
@soulitzer should we keep this issue open until we have a lint rule (or should that be a separate issue?)

[2021-01-29 21:28] ngimel commented on #18626
there's a [`torch.cuda.set_per_process_memory_fraction`](https://github.com/pytorch/pytorch/blob/fe645fdfc726744315bbef1b7a01bc8a420a919c/torch/cuda/memory.py#L75) function that does that

[2021-01-29 21:38] tyoc213 commented on #51332
Now after .h include solved, Im getting a lot of

[code]

[magma.log](https://github.com/pytorch/pytorch/files/5896421/magma.log)

[2021-01-29 21:41] nurpax commented on #51055
I was able to get it to hang with nproc=2 pretty easily, not on every run but probably over 50% chance.

I already asked above but does it repro for you with Docker (as detailed above)?  Maybe I should try with a nightly PyTorch build too.

[2021-01-29 21:56] johndpope commented on #51080
I'm seeing this without a conda install / just using a vanilla cudatoolkit install / but then pytorch + miniconda
is there a command I can run to fix installation? this didn't work.

`conda install cudatoolkit=11.0.3
`

[2021-01-29 22:00] HamidShojanazeri opened #51376 "Huggingface model not being torch scriptable"
## ❓ Questions and Help
Referring to the recommendation of trying script API for Huggingface (HF) models in [issue](https://github.com/pytorch/pytorch/issues/50971), here this has been tried and facing the issue as reported in the logs. Generally, HF models are not scriptable, there has been [feature request ](https://github.com/huggingface/transformers/issues/5067) to achieve this, some work has

[2021-01-29 22:02] HamidShojanazeri commented on #50971
@gmagogsfm @nikithamalgifb Thanks for the suggestion, I have tried scripting the HF models and faced some issues as reported in issue #51376.

[2021-01-29 22:19] aclex opened #51379 "TorchScript class compilation failure with pybind11-2.6.2"
## 🐛 Bug

Now that `master` seems to return to upstream [pybind11](https://github.com/pybind/pybind11), it turns out, that some of the TorchScript-enabled classes fail to be compiled during the run. I tried my best to find something similar here in issues, but failed.

## To Reproduce
The simplest way to reproduce it that I found is just importing [timm](https://github.com/rwightman/pytorch-image-

[2021-01-29 22:25] gmagogsfm commented on #51379
Hi Alexey, I have a few questions, could you clarify?

What do you mean by "master returns to upstream pybind11"? AFAIK, we never had our fork of pybind11.

"that some of the TorchScript-enabled classes fail to be compiled during the run" -> what does "the run" refer to? CI?

[2021-01-29 22:38] Lilyjjo commented on #50751
Quip document version for easier editing: https://fb.quip.com/frImADCzaAlP

[2021-01-29 22:41] wconstab opened #51380 "Perf regression for YoloV3 CPU eager eval"
approx 12% regression observed on nightly builds between 10/15/20 and 11/3/20

Bisection result shows this commit is the reason of regression: 2397c8d

The mean time of test_eval[yolov3-cpu-eager] for this commit: 0.7140323325467761 seconds
The mean time of test_eval[yolov3-cpu-eager] for its parent, a602811: 0.6385891167126829 seconds.
There is about 11% slowdown.

cc @VitalyFedyunin @ngimel

[2021-01-29 22:43] wconstab opened #51381 "Perf regression for demucs cpu eval"
approx 28% regression observed on nightly builds between 12/29/20 and 1/28/21

cc @VitalyFedyunin @ngimel

[2021-01-29 22:43] vadimkantorov opened #51382 "CUDNN_STATUS_INTERNAL_ERROR and Illegal Memory Access on CUDA11.2 and CUDA10.2. Likely a faulty device"
I'm running a paper's code from https://github.com/ajabri/videowalk on 8 GTX 2080 (11 Gb), it uses DataParallel. Starting from certain batch size, I'm starting to get the exception below (the suggested snippet does not repro). Even at that batch size, the GPUs use only 8Gb out of 11Gb, so I'm not sure what's the reason of the exception.

This happens during the first iteration. When I run it with

[2021-01-29 22:46] wconstab opened #51383 "Perf regression for YoloV3 CUDA eager train"
approx 25% regression observed on nightly builds between 12/29/20 and 1/28/20

cc @ngimel @VitalyFedyunin

[2021-01-29 22:47] wconstab opened #51384 "Perf regression for background matting CUDA train"
approx 7% regression observed on nightly builds between 12/16/20 and 12/17/20

cc @ngimel @VitalyFedyunin

Bisection result shows this commit is the reason of regression: 4ce2b0b

The mean time of test_train[Background_Matting-cuda-jit]for this commit: 4.879712839447893 seconds
The mean time of test_train[Background_Matting-cuda-jit] for its parent, db2ecef: 3.604962327791145 seconds

[2021-01-29 22:51] nikithamalgifb commented on #50971
`try/except/finally` are not supported in Torchscript yet. Can you try changing that?

[2021-01-29 23:01] vadimkantorov commented on #51382
Another run I got:
[code]

[2021-01-29 23:03] vadimkantorov opened #51385 "DataParalell copies the model onto GPUs sequentially"
I have 8 GPUs and can see it graphically with `watch -n 0.1 nvidia-smi`. It could save some time by doing the parallel async copy?

[2021-01-29 23:09] nikithamalgifb commented on #51055
No I haven't tried the docker setup yet. I am going to try out the Pytorch-1.7. Earlier Pytorch was 1.8, based on Master. Can you once try nightly-pytorch?

[2021-01-29 23:11] nurpax commented on #51055
I can try nightly-pytorch.  Somehow the conda install from the pytorch.org install page failed for me and pip install ran into some weird package conflicts.  I tried this on the NVIDIA base container, maybe the conda install doesn't work on that cleanly.

[2021-01-29 23:11] ifsheldon commented on #5040
When I run my code to test baselines on different models w.r.t to ImageNet ILSVRC2012, I encountered this error.
I used DataParallel to wrap pretrained models. And the dataloader is
[code]
I requested 32 cores, 700GB memory and 8 V100 on my organization's HPC. And
[code]
It is a bit weird that after I changed `num_workers` to 32, everything went smoothly. I don't know whether it is somehow related

[2021-01-29 23:13] ngimel commented on #46187
At the risk of sounding repetitive, let me list the arguments about option 1
1) Script support for it is challenging. `unique` currently requires ugly workarounds for script and there's script support only because some customers were clamoring for it, and `nonzero` with `as_tuple=True` is not supported because it's too tedious. If we take this path we basically say these new functions are not goin

[2021-01-29 23:13] nikithamalgifb commented on #51055
Yeah, I am going through the same issue with pytorch-nightly. I am trying out pytoch-1.7. Hopefully that works!

[2021-01-29 23:18] mruberry commented on #46187
Those points are still true. Luckily by noting this may change in the future we're just keeping our options open leading up to 1.9, where we'll have more time to investigate the issues with script support.

The second option is an inherent limitation of this approach. Returning a named tuple will mitigate that, however, because you'll always be able to acquire the outputs consistently by name.

[2021-01-29 23:29] nikithamalgifb commented on #51055
You may have to create a new conda environment. Just tried with both pytorch-nightly and pytorch-1.7. I see the issue only in 1.7 and not in the nightly. Can you give nightly a try? Although I could try only nprocs=2

[2021-01-29 23:50] vadimkantorov commented on #51382
Hmm, I'm getting this same exception with batch size 16 as well. When I run this only on 2 GPUs, everything works. When I run this on 8 GPUs it breaks with CUDNN_STATUS_INTERNAL_ERROR

[2021-01-29 23:58] vadimkantorov commented on #51382
Could it be the CUDA11.2 incompatibility?

[2021-01-30 00:03] z-a-f commented on #32764
This relates to the MHA, resolved by this PR: https://github.com/pytorch/pytorch/pull/49866

[2021-01-30 00:06] ngimel commented on #51382
I doubt it's 11.2 incompatibility, pytorch compiled with cuda 11 should run on later driver. Can you check if cuda 10 binaries behave better? You don't need to install magma btw, it should come bundled with pytorch package.

[2021-01-30 00:08] soulitzer commented on #49409
It probably makes sense for lint rule should be part of this same issue - reopening.

[2021-01-30 00:08] vadimkantorov commented on #51382
I don't have root / docker rights on this machine. How do I shadow/downgrade CUDA to 10? `conda install -y pytorch cudatoolkit=10.2 -c pytorch` would be enough?

[2021-01-30 00:09] vadimkantorov commented on #51382
@ngimel besides all OOM magic, it even likes to give invalid memory access sometimes...

[2021-01-30 00:24] vadimkantorov commented on #51323
[code]

[2021-01-30 00:24] ngimel commented on #51382
Yeah, `conda install -y pytorch cudatoolkit=10.2 -c pytorch` is enough, you don't need root rights for it. Idk, nccl may legitimately be hanging with CUDA_LAUNCH_BLOCKING, so I'm not prepared to say it's a bug.

[2021-01-30 00:32] vadimkantorov commented on #51382
Okay, will let you know how it fares in half-hour

[2021-01-30 00:46] JeanKossaifi commented on #36035
I also encountered the issue.

Snippet to reproduce:
[code]

Everything works as expected on a single GPU:
[code]

However, when using DataParallel and more than one device, the `ParameterList` is empty:
[code]

In addition, I get the warning:
[code]

[2021-01-30 00:50] nurpax commented on #51055
Consistently hangs for me with pytorch nightly and CUDA 10.2.  (Note: definitely have seen this on Pytorch 1.7 with CUDA 11 too).

[code]

I was unable to install CUDA 11 nightly due to this error when running this

`conda install pytorch torchvision torchaudio cudatoolkit=11.0 -c pytorch-nightly`

in a new conda environment:

[code]

So here's what I know so far:

- pytorch 1.7 (various versions

[2021-01-30 00:51] ptrblck commented on #51382
@vadimkantorov Are you running into this error only using all 8 GPUs?
If so, would it be possible to rerun it with `CUDA_ENABLE_COREDUMP_ON_EXCEPTION=1 python script.py args` and upload the core dump?
Meanwhile, I try to setup the scripts and download the dataset (partially) and try to reproduce it locally.

[2021-01-30 00:52] vadimkantorov commented on #51382
yes. for smaller number of GPUs I sometimes got OOM, but never this illegal memory-accessing internal error stuffs

[2021-01-30 00:53] ailzhang commented on #43908
Followup from discussion with @smessmer : c10-fullness is done, but this fallback kernel is still blocked by "handling Tensor reference in stack execution" so we cannot implement this yet.

Additional note:
1. why don't we just remove the fallthrough fallback? why do we need to redispatch?
https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/core/op_registration/op_registration_test.cpp#L1

[2021-01-30 00:53] vadimkantorov commented on #51382
I'll try this once I finish testing with 10.2

[2021-01-30 00:54] vadimkantorov commented on #51382
Dataset is a massive pain to download. Basically that code likes Kinetics folder to have train_256, val_256 directories and in them directories with class labels and mp4 files in them

[2021-01-30 00:57] vadimkantorov commented on #51382
Same  CUDNN_STATUS_INTERNAL_ERROR on CUDA 10.2

[2021-01-30 01:04] jamesr66a opened #51393 "max_pool2d CPU forward performance is poor"
[code]

NCHW
![image](https://user-images.githubusercontent.com/4685384/106185462-b2845c80-6157-11eb-8a54-6fceb91c7e7b.png)

NHWC
![image](https://user-images.githubusercontent.com/4685384/106185513-c465ff80-6157-11eb-9c64-d402f514512a.png)

Results from running on my machine ([lscpu](https://gist.github.com/jamesr66a/d42248da97c6d16598b51ce62217b05a))

[code]

These results are well below both pe

[2021-01-30 01:08] vadimkantorov commented on #51382
@ptrblck when I use `CUDA_ENABLE_COREDUMP_ON_EXCEPTION=1`, it just hangs after printing once `/home/vadim/prefix/miniconda/lib/python3.8/site-packages/torch/nn/parallel/_functions.py:64: UserWarning: Was asked to gather along dimension 0, but all input tensors were scalars; will instead unsqueeze and return a vector.
  warnings.warn('Was asked to gather along dimension 0, but all '`

[2021-01-30 01:15] antsfamily commented on #50328
The performance of 3090 on training a large network is worse than 1080ti. RTX 3090 takes twice as much time as 1080ti.

[code]

[2021-01-30 01:16] vadimkantorov commented on #51382
The hang is during backward

[2021-01-30 01:22] ptrblck commented on #51382
It will create the coredump in your working directory, where you've also executed your script in.
You can specify a path via `CUDA_COREDUMP_FILE` in case your workstation has more free space on another drive.
The coredump file might be large (e.g. > a few hundred MBs) and its creation might look like a hang.
In case your script doesn't create the file after ~15mins, you could try to send a `SIGHUP

[2021-01-30 01:30] vadimkantorov commented on #51382
Current working directory should be fine, I guess it just hang for whatever reason. I'll try Ctrl+\, that should to a SIGHUP, right?

[2021-01-30 01:36] vadimkantorov commented on #51382
I did Ctrl+\\, it printed `^\scripts/train.sh: line 8: 16209 Quit                    (core dumped) python `, but still no core dump in working directory

Old story: I'm unable to find where my Ubuntu 18.04 stores core dumps:
[code]

[2021-01-30 01:41] vadimkantorov commented on #51382
`kill SIGHUP pid` led to `scripts/train.sh: line 8: 22558 Terminated              python -B train.py --data-path $DATAPATH --frame-aug grid --dropout 0.1 --clip-len 4 --temperature 0.05 --model-type scratch --workers 16 --batch-size 16 --data-parallel --visualize --lr 0.0001 --print-freq 100 --epochs 1 --visualize --cache-dataset` and still no core dump

[2021-01-30 01:43] vadimkantorov commented on #51382
could I attach with gdb to the process?

it seems that my university Ubuntu 18.04 has crash dumps disabled, and I have no root permissions for now

[2021-01-30 01:46] ptrblck commented on #51382
Yes, you could also run the script via:
[code]
and post the backtrace here.

[2021-01-30 01:49] vadimkantorov commented on #51382
Apparently this does not install cuda-gdb

[2021-01-30 01:50] ptrblck commented on #51382
That's right, the conda binary will include the CUDA runtime, not the full CUDA toolkit.
In that case, let me try to finish the setup and reproduce this issue locally.

[2021-01-30 01:52] vadimkantorov commented on #51382
Also, I'm using a private fork of this repo that I've simplified (for further modification), but the model/data loading/processing is untouched. If you wish, I can give you access to that repo for full reproducibility

[2021-01-30 01:54] ptrblck commented on #51382
One thing I would like to ask you to do: could you check `dmesg -T` for any Xids and post them here?
This might point towards the root cause, as I assume it's an illegal memory access and cudnn might be running into the "sticky" error.

If your fork doesn't contain any private code or data, sure you can send me the access.
Otherwise I would not recommend to add others to your repo.

[2021-01-30 01:55] vadimkantorov commented on #51382
[code]

[2021-01-30 01:59] vadimkantorov commented on #51382
i've added you to the repo, I'm running it as "CUDA_COREDUMP_FILE=./core CUDA_ENABLE_COREDUMP_ON_EXCEPTION=1 CUDA_VISIBLE_DEVICES=0,1,2,3,4,5,6,7 strace -f bash scripts/train.sh", this assumes downloaded some sort of Kinetics (may be some completely unrelated dataset I guess)

[2021-01-30 02:05] ptrblck commented on #51382
Thanks. The repository doesn't contain the `train.sh` script, so maybe you've forgotten to add it?

[2021-01-30 02:05] ngimel commented on #51393
cc @heitorschueroff

[2021-01-30 02:11] vadimkantorov commented on #51382
You are right, added it

[2021-01-30 02:12] vadimkantorov commented on #51382
Just got
[code]

[2021-01-30 02:13] ptrblck commented on #51382
Thanks. I'll checkout the repo again and see, if I can run into the illegal memory access.
Also thanks for the `dmesg`, as it also points towards an IMA.

[2021-01-30 02:19] vadimkantorov commented on #51382
Maybe some unlucky tensor sizes somewhere? Because changing the batch size affects this. E.g. with batch size 35, everything works

[2021-01-30 02:21] vadimkantorov commented on #51382
maybe even autograd profiling could be helpful?

[2021-01-30 02:21] vadimkantorov commented on #51382
or could I use nvprof without ptrace permissinos?

[2021-01-30 02:23] ptrblck commented on #51382
I doubt profiling would help. If you are able to run a docker container, you could use the PyTorch 1.7.1 container, which should ship with `cuda-gdb` to grab the backtrace.

[2021-01-30 02:25] vadimkantorov commented on #51382
Unfortunately, wouldn't have access to root/ptrace/docker at least until sunday :/

[2021-01-30 02:27] VitalyFedyunin commented on #51393
https://github.com/pytorch/pytorch/pull/48917 - is targeting to improve the situation

[2021-01-30 02:28] ptrblck commented on #51382
While the dataset is still downloading, could you give me the shapes of the tensors returned by your current dataset?

[2021-01-30 02:30] vadimkantorov commented on #51382
I hope you are not downloading the full dataset, just a few videos...

Do you mean the shape of the input tensor?

[2021-01-30 02:32] ilia-cher commented on #51337
Agree that the default value would be good to add. My only question though - in the previous API, by default it was CPU only, do we have to include CUDA? Some points:
 - if/when we add more activity/device types, CPU+CUDA might become somewhat an arbitrary choice and we won't be able to easily change the default behavior;
 - there're hidden costs (in this case CUDA/CUPTI) when user adds something

[2021-01-30 02:32] ptrblck commented on #51382
I started with a single class `pole vault` and it's still downloading. :/

No, the output, so that I would write a custom `Dataset`, which just returns the expected tensor shapes with random values (should be faster than to wait for the download).

[2021-01-30 02:35] vadimkantorov commented on #51382
By input I meant the tensors that the model consumes - that's the output of dataset. I may even try replacing the input by random input. If it still crashes, you likely don't have to download the dataset.

Also, if I add the following:
[code]
before running main, things also hang

[2021-01-30 02:40] vadimkantorov commented on #51382
video.shape is torch.Size([16, 4, 147, 64, 64])

[2021-01-30 02:43] vadimkantorov commented on #51382
If I do `model(video.zero_())`, things stop crashing (at least on the first iteration)

[2021-01-30 03:17] vadimkantorov commented on #51382
If I use `patch_feat_agg, patch_feat_raw = self.pixels_to_nodes(torch.rand_like(img))` inside the model, it still crashes

[2021-01-30 03:24] vadimkantorov commented on #51382
Okay, even if I have `x = torch.rand_like(x)` as the first instruction in forward(), it still fails, so you probably don't need to download the dataset

[2021-01-30 03:39] joinhe commented on #51339
older version of PyTorch. torch1.2

in my code  Memory leak

[2021-01-30 03:43] khalilsarwari commented on #51349
Thank you so much for catching this!!

[2021-01-30 06:04] thehetpandya commented on #32764
@snakers4 no I haven't checked it yet, will do it. But one thing I noticed was inference with the quantized model with `torch.nn.Bilinear` took the same time as the original one. And also, the size of the quantized model was same as the original one too, so I guess it didn't actually serve the purpose of quantizing.

[2021-01-30 06:05] thehetpandya commented on #32764
@snakers4 no I haven't checked it yet, will do it. But one thing I noticed was inference with the quantized model with torch.nn.Bilinear took the same time as the original one. And also, the size of the quantized model was same as the original one too, so I guess it didn't actually serve the purpose of quantizing.

[2021-01-30 06:11] thehetpandya commented on #32764
@z-a-f I shall try that too. Thanks!

[2021-01-30 06:30] thehetpandya commented on #32764
@z-a-f I shall check that too, thanks!

[2021-01-30 06:35] snakers4 commented on #32764
Looks like it did not quantize anything
Make sure to print out the model and see what happened inside to check

[2021-01-30 06:54] thehetpandya commented on #32764
@snakers4 , just checked printing the model out. The quantized model with `torch.nn.Bilinear` is the same as the orginal one. While the other quantized ones get `DynamicQuantizedLinear` layer after quantization

[2021-01-30 08:53] brightbsit commented on #51351
I tried lastest version of torch and 1.7.0 cuda / 1.2.0 torch and 10.0 cuda in docker.(python=3.7)

It just happened after i changed my gpu from 1050 to 3080.

full log is here.
[code]

[2021-01-30 09:06] peterjc123 commented on #51351
As far as I know, RTX3080 requires CUDA >= 11.0. Please update the CUDA installation and possibly the GPU driver.

[2021-01-30 09:11] brightbsit commented on #51351
I build docker image with this link.
https://hub.docker.com/layers/pytorch/pytorch/latest/images/sha256-836b33ede9d7a0ee40e9a6bfe441d6b89d2fa5b0fdcd8f3aee7e70d91fca6e70?context=explore

So I can say i tried with cuda >= 11.0

[2021-01-30 09:22] PranxXxD commented on #50790
Hey! I would like to work on this issue so, can you help me get started?

[2021-01-30 09:29] peterjc123 commented on #51351
@brightbsit Sorry, I'm not so familiar with the PyTorch Docker containers. Does it has PyTorch installed? Which CUDA version is it builds for? To make sure, could you please install PyTorch through the command `pip install torch==1.7.1+cu110 torchvision==0.8.2+cu110 torchaudio===0.7.2 -f https://download.pytorch.org/whl/torch_stable.html`?

[2021-01-30 09:57] brightbsit commented on #51351
@peterjc123 I tried it and anther error happened..

[code]

[2021-01-30 10:15] peterjc123 commented on #51351
@brightbsit Looks like you'll need to rebuild apex.

[2021-01-30 10:19] kshitij12345 opened #51406 "[numpy] `round` and `trunc` not supported for Integral Type while Python and NumPy supports them"
[code]

cc: @mruberry

[2021-01-30 10:20] bhanudaysharma opened #51407 "Additon of levenberg-marquardt optimizer in TORCH.OPTIM"
## 🚀 Feature
Additon of levenberg-marquardt  algorithm  in TORCH.OPTIM

## Motivation

The Levenberg-Marquardt (LM) algorithm is a classical and standard algorithm used to solve non-linear least squares problems. Though the scipy.optimize.curve_fit provides a great implementation of it, it is serial and runs of CPU. The curve_fit from SciPy becomes very slow in case of large problems, and therefor

[2021-01-30 10:21] peterjc123 commented on #50232
cudnn 8.1 for Windows is also uploaded
http://s3.amazonaws.com/ossci-windows//cudnn-11.2-windows-x64-v8.1.0.77.zip

cc @zasdfgbnm

[2021-01-30 10:25] aclex commented on #51379
@gmagogsfm yes, sure, sorry for the delay.

Yeah, I mean using the custom implementation of pybind11 for the 1.7.1 release mentioned at #48312 and returning back to the upstream at recent 6f3aa58. I also should add here, that the exact pybind11 submodule revision currently used may be earlier, than the version 2.6.2, it's just my voluntary try to compile Pytorch against pybind11-2.6.2, so this iss

[2021-01-30 10:30] rgommers commented on #46187
@eellison's [comment above](https://github.com/pytorch/pytorch/issues/46187#issuecomment-712467266) suggests it isn't that bad.

This is true, but unrelated to the options here. You can always return a namedtuple instead of a plain tuple, independent of the strategy for what elements returned tuples should contain. I'd say yes, let's always returned namedtuples.

Related: it'd be nice to end up wi

[2021-01-30 10:32] huaxialongguang opened #51408 "There is a problem with the calculation result of hardsigmoid_backward"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:
In version 1.5, The calculation result of the hardsigmoid_backward operator is incorrect in some scenarios.
1.Test case

`
import torch
import numpy as np
input0 = np.random.uniform(-5,-2,(2,2)).astype(np.float32)
input1 = torch.from_numpy(input0)
print("input1:", input1)
input1.requires_grad_(True)
m = torch.nn.Hardsigmoid()
out = m(inpu

[2021-01-30 10:59] ptrblck commented on #51382
So far I'm unable to run into this issue, but my setup is also different from yours, as I'm only using a single GPU and don't have a node ready with 8x 2080.
I'll let the code run through the night and check later, if the IMA was hit.
Could you rerun the code without cudnn via setting `torch.backends.cudnn.enabled = False` at the beginning of the script?
Also, could you check, if you are able to r

[2021-01-30 11:16] digiamm opened #51409 "C++ load model error"
I am having issues deserializing a torch model (not trained by me) into a C++ executable. I was just taking this pre-trained model `.pth` file and deserializing following your [minimal example](https://pytorch.org/tutorials/advanced/cpp_export.html) like..

[code]
The `cerr` message "error loading the model" popes out in the terminal. I was reading that there might be some issues related to the py

[2021-01-30 11:49] vadimkantorov commented on #51382
1) i'll check now cudnn.enabled = False and cudnn.benchmark = False
2) I'll try to make it repro on a single GPU by emulating the batch size that gets processed by a single GPU by DP

[2021-01-30 11:49] #50821 closed

[2021-01-30 11:52] vadimkantorov commented on #51382
Hmm, `cudnn.benchmark = False` fixes the issue, so I guess one of CUDNN algos is buggy

[2021-01-30 11:53] vadimkantorov commented on #51382
@ptrblck Is there a way to trace CUDNN selected algos and operations parameters? (unfortunately, autograd profiler hangs for me)

Should I try nvprof?

[2021-01-30 11:54] vadimkantorov commented on #51382
When I disable cudnn, I get:
[code]

[2021-01-30 11:56] vadimkantorov commented on #51382
Maybe related: https://github.com/pytorch/pytorch/issues/51351

[2021-01-30 12:12] vadimkantorov commented on #51382
On another run it's a good old IMA. But nvprof managed to collect the profile:
[code]

[2021-01-30 12:17] mallamanis opened #51410 "Caffe2 RNN Cell Names not rectified"
## 🐛 Bug

In caffe2 the `extra_input_names` is not rectified.

## To Reproduce

Run the function [here](https://github.com/pytorch/pytorch/blob/e26fccc22b1f1fa28bceb076567d3e53c92a4c77/caffe2/python/rnn_cell.py#L177), with non-empty `extra_inputs`.

## Expected behavior

The `extra_input_names` should be rectified.

## Additional context

Most probably [L177](https://github.com/pytorch/pytorch/blo

[2021-01-30 12:19] vadimkantorov commented on #51382
attaching a zipball with profile.sqlite and profile.sqlite.json: https://1drv.ms/u/s!Apx8USiTtrYmqoMPVTIZBon1aUvY4w?e=WV15FC

Unfortunately I don't have a CUDA-powered laptop, so I can't use nvvp for viewing the trace (it's really a pity that you can't inspect a trace without a CUDA-powered device)

[2021-01-30 12:39] vadimkantorov commented on #51382
@ngimel would you have suggestions on how to trace these faulty gemm calls with `ltrace`?

[2021-01-30 12:56] vadimkantorov commented on #51382
Here is the trace of a run with `torch.backends.cudnn.enabled = True` and `torch.backends.cudnn.benchmark = False`: https://1drv.ms/u/s!Apx8USiTtrYmqoMQeK8sewzfG8z7lg?e=xDT7ER

[code]

[2021-01-30 13:02] vadimkantorov opened #51411 "Ship pre-made ltrace.conf lenses for PyTorch, cublas, cudnn"
This would help lightweight debugging/tracing a lot on restricted university machines without root/ptrace permissions (as in https://github.com/pytorch/pytorch/issues/51382), cc @ngimel @csarofeen @ptrblck @xwang233

[2021-01-30 13:04] vadimkantorov commented on #51382
The faulty trace with `torch.backends.cudnn.enabled = torch.backends.cudnn.benchmark = True` https://1drv.ms/u/s!Apx8USiTtrYmqoMR94DCaPoiFjb3Mw?e=1thkcY:

[code]

[2021-01-30 13:17] vadimkantorov commented on #51382
My summary up until now:

Most likely there is a bug in CUBLAS (probably both in CUDA10.2 and in CUDA11.2; probably something about strides/shapes not fitting in int32 as usual) that gets triggered by a) cudnn-free run, b) cudnn algo selection. When cudnn does not do algo selection, the faulty code path is not hit.

[2021-01-30 13:19] vadimkantorov commented on #51382
@ptrblck If nvprof can be used to find the arguments for the faulty (and probably one of last) kernel run, I can try it

[2021-01-30 13:21] mobassir94 commented on #51344
@ejguan

**update (temporary fix) :**

i just used spyder instead of jupyter inside same virtual environment and the code runs fine with spyder and with non zero num_workers but it doesn't work in jupyter notebook, probably this one is related https://github.com/pytorch/pytorch/issues/17680

i prefer jupyter notebook,so how can i make it working in jupyter notebook?

i used` if __name__ == '__main

[2021-01-30 13:27] vadimkantorov commented on #51382
Okay, even the "successful" run is not successful at all. Instead of crashing with IMA it just hangs after backward call. Sometimes it makes through a few iterations, sometimes hangs even after the first iteration

[2021-01-30 13:28] david-macleod commented on #41412
Hi @ansley, is there any update on the progress of this? Or a link to another issue/MR I can track?

[2021-01-30 13:32] mobassir94 opened #51413 "RuntimeError: invalid argument 5: k not in range for dimension at /pytorch/aten/src/THC/generic/THCTensorTopK.cu:26"
i was trying to use  OUSMLoss from this repo :  https://github.com/analokmaus/kaggle-panda-challenge-public/blob/master/models/noisy_loss.py

for a multi class (5 class) image classification problem.

i was trying to use OUSMLoss like this :

[code]

**and then from train one epoch and valid one epoch function just using loss function like this :**

[code]

and it gives me the following error :

[

[2021-01-30 14:00] vadimkantorov commented on #51382
I've tried running the `torch.cudnn.enabled = False` setup with `CUBLAS_LOGINFO_DBG=1 CUBLAS_LOGDEST_DBG=cublas.log`, but it now hangs at forward instead of IMA
[cublas.log.gz](https://github.com/pytorch/pytorch/files/5898036/cublas.log.gz)

[2021-01-30 14:33] vadimkantorov commented on #51382
If I short-cicuit model.forward, I get:
[code]

[code]

[2021-01-30 15:15] iFe1er commented on #49285
Have PyTorch 1.7.1 ,but this warning is still happening @mariokostelac

[2021-01-30 16:24] vadimkantorov commented on #51382
Another stack trace:
[code]

[2021-01-30 16:34] vadimkantorov commented on #51382
So far I found that the issue reproduces only when I use 8 GPUs with DP:

[code]

[code]

[2021-01-30 16:45] vadimkantorov commented on #51382
@ngimel @ptrblck Okay, I managed to have a self-contained repro. Most of time it's IMA, sometimes a hang.
[code]

[code]

[2021-01-30 16:47] vadimkantorov commented on #51382
Okay, it seems that my device 7 is faulty :(
[code]

[2021-01-30 16:49] vadimkantorov commented on #51382
I wonder if PyTorch could include some GPU stress-testing utilities out of the box

[2021-01-30 16:57] vadimkantorov commented on #51382
The device 7 in nvidia-smi looks quite strange: 100% gpu util and no processes found.
[code]

[2021-01-30 18:02] talesa commented on #37995
Hello @zou3519!
`my_named_tensor.align_to('x', 'y', 'z')` works for this purpose, but doesn't "translate" well from the original/old code that uses unnamed tensors.
I'm refactoring a codebase to use named tensors where it helps the readability, but I'd like to keep it as close to original as possible to make the change easier for other contributors who are not (yet) familiar with the entirety of t

[2021-01-30 18:36] sooftware opened #51416 "Loss becoms NaN. But, in cpu mode, loss is calculated normally."
## ❓ Questions and Help

Loss becoms NaN. But, in cpu mode, loss is calculated normally.

I made a speech recognition Transformer.
But, After the first iteration, the loss becomes NaN.

Another strange thing, however, is that loss is calculated normally in CPU mode.

I will attach the address of GitHub with my code below, my test code and test result.

- Transformer source code: https://github.com

[2021-01-30 18:49] albanD commented on #51349
Note that setting `create_graph=False` also fixes the issue, so most likely a special interaction between these two.

[2021-01-30 18:51] albanD commented on #51349
cc @mfkasim1 I think this is related to https://github.com/pytorch/pytorch/pull/43626 but not sure how exactly yet.

[2021-01-30 19:21] hamidkarimi commented on #37377
MKL_THREADING_LAYER=GNU worked for me
Thanks

[2021-01-30 19:36] Ehsan1997 opened #51417 "DataLoader for Video Loading that utilizes the GPU"
## 🚀 Feature

A DataLoader or Dataset API that utilizes GPU for videos or any 3d imagery related task.
## Motivation
I was working on a Video Related project, when I started writing out the pipeline for loading the data. [Here's](https://pytorch.org/tutorials/beginner/data_loading_tutorial.html) the tutorial I followed for creating a custom Dataset. I soon ran into a problem, where each time I fet

[2021-01-30 19:44] mobassir94 opened #51418 "Pytorch num_worker>0 code worked first time and then it never worked with same setting again"
i was trying to run this code on my local machine on rtx 3060ti : https://www.kaggle.com/khyeh0719/pytorch-efficientnet-baseline-train-amp-aug

with batch size 16 i can run vovnet on my local machine,,,the problem that i am facing is very strange, the code worked fined,,after 2-3 epoch it became very very slow and i saw in spyder that memory consumption is increasing,,i just restarted spyder,remov

[2021-01-30 19:46] mobassir94 commented on #51344
with num_worker>0 i get this new strange error : https://github.com/pytorch/pytorch/issues/51418

[2021-01-30 20:01] rsokl commented on #51156
Thanks for the input on this. I don't have any experience in C++, so I can't volunteer to take this on.

FWIW the reason why I only suggested `__array__` is that it seems to be the most clearly recommended means for exposing an array, based on the recent iterations of the numpy docs. But obviously that is no reason to exclude the other interfaces.

I'm happy to close this if there is no further di

[2021-01-30 21:19] nrxszvo commented on #51044
I've noted some additional odd behavior, this time with `cudnn.benchmark=False`:

[code]

Using the above-mentioned NGC docker image (built with Cuda 11.1, Cudnn=8.0.5, is_debug_build=False), this code behaves normally and produces:
[code]

Using a conda installation on Ubuntu 16.04 (pytorch 1.7.0 built with Cuda=11.0, Cudnn=8.1, is_debug_build=True), then after the first rand call, subsequent ran

[2021-01-30 21:31] nikithamalgifb commented on #51055
Can you once try conda install pytorch torchvision torchaudio cudatoolkit=9.2 -c pytorch-nightly ?

@nurpax : For me it was a hang( Took about ~10 mins). I did not see the assert.

[2021-01-30 21:40] firstprayer commented on #51406
This is because "round" and "trunc" are configured to only apply for float/double types

https://github.com/pytorch/pytorch/blob/de8cd6b20118f5c7d060c41e87bf6b90f7e20eed/aten/src/ATen/native/cpu/UnaryOpsKernel.cpp#L726

What's the motivation for supporting these operators for integers? It seems to be no-op given that they are already rounded/truncated.

[2021-01-30 22:17] firstprayer commented on #51207
@laekov Just wanna make sure I understand what you are proposing - sounds like you want to use MPI and NCCL **in the same python process**, is that correct? Since both are supported backend already.

[2021-01-30 22:56] ngimel commented on #51411
`ltrace` does not work with statically linked libraries, and since pytorch binary builds statically link against cuda libraries, it won't help. Cudnn provides logging info similar to ltrace, I'm not sure if latest versions of cublas do. cc @ptrblck

[2021-01-30 23:51] gmagogsfm commented on #51379
Thanks for the clarification. Does this mean if you use current specified submodule revision, `import torch` still works?

[2021-01-31 01:54] aclex commented on #51379
@gmagogsfm

I've just double checked it, so here's the exact situation:
1. `import torch` works in any cases I tried.
2. `import timm` (given it's already pre-installed) works fine with custom pybind11 implementation (used in PyTorch-1.7.1 release), but fails due to the described failure in TorchScript code in current PyTorch `master`, which references pybind/pybind11@8e5d3d2, while the check was

[2021-01-31 02:23] rohan-varma commented on #51110
Closing as this is a duplicate of https://github.com/pytorch/pytorch/issues/51007

[2021-01-31 02:23] #51110 closed

[2021-01-31 02:24] rohan-varma commented on #51007
More instances:
https://app.circleci.com/pipelines/github/pytorch/pytorch/263779/workflows/c1535b0d-74cb-467f-9955-b05adf928ade/jobs/10367433/steps

https://app.circleci.com/pipelines/github/pytorch/pytorch/267026/workflows/e9e35f92-a917-40bf-81d6-5ed40694a7ae/jobs/10539518

[2021-01-31 02:27] omarelshehy commented on #51225
I ran the same code on a terminal and it spits out the same error. However, when i run a python script it worked fine.
this the first case (Terminal):

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
RuntimeError: Calculated padded input size per channel: (3). Kernel size: (50). Kernel size can't be greater than actual input size

Second case : ( Script with a print statme

[2021-01-31 03:42] mariosasko commented on #49285
It should be fixed in the nighlty build. Let me know if that's not the case.

[2021-01-31 04:27] gibiansky commented on #30147
Hi there, is there any progress on this issue? I'm hitting this right now and it's pretty tricky to debug.

[2021-01-31 05:12] ngimel commented on #51276
This is expected, inputs with the different batch size call into different implementations with the different tile sizes in math libraries, and since floating point math is not associative, results are not expected to be bitwise-equal.

[2021-01-31 05:39] MatPoliquin opened #51426 "Different results on RTX 2060s vs GTX 1060"
## 🐛 Bug
When running karpathy minigpt:
[play_math.ipynb](https://github.com/karpathy/minGPT/blob/master/play_math.ipynb)
On my local computer with two GPUs I get different results on my RTX 2060s vs my GTX 1060 with the exact same code, all I do is choose which card is available for CUDA.
I ran these tests multiple times, always same outcome for both

GTX 1060 result:
[code]

RTX 2060 super resul

[2021-01-31 06:19] gmagogsfm commented on #51019
Does it have to be in TorchScript? If not, ScriptModule still exposes the same `parameters` method in Eager that you can use. You may even use it in a function/method that is decorated with `torch.jit.ignore` even if caller is in TorchScript.

If it does have to be in TorchScript, then you can access the device by access `device` property of individual parameters (if you know the structure of modu

[2021-01-31 07:36] vadimkantorov commented on #51411
At least, let's document suggestions of cudnn and cublas logging in the docs and maybe into CUDA exception messages directly? (at least a url?)

If debugging symbols are preserved, would ltrace work? Maybe distributing a separate debugging version of PyTorch with tracing enabled may be a good idea for crazy debugging cases especially in restricted environments

[2021-01-31 08:44] char256 opened #51428 "init_process_group changes the behavior of logging"
When running init_process_group, Python library's logging is changed, as I show in the screenshot
![Screenshot from 2021-01-31 10-17-57](https://user-images.githubusercontent.com/16537232/106378747-0f934300-63e2-11eb-8893-b3e123e48346.png)
This happens when I was using OpenSelfSup, a library made by CUHK, and the log disappeared. Because the framework use 'hasHandlers' function to judge whether th

[2021-01-31 09:58] mszhanyi commented on #51344
Sorry， python multiprocessing doesn't work on notebook, so I don't think num_workers > 0 can work in notebook.
https://stackoverflow.com/questions/23641475/multiprocessing-working-in-python-but-not-in-ipython

[2021-01-31 12:33] mobassir94 commented on #51344
@mszhanyi when i tried it on syder ide,it worked there with number of workers  > 0 but it gradually increase memory usage and give OOM after few epochs,,even if i set 2 workers only,it will give me OOM and consume all memory,how to fix this? if i use 0 workers then everything works fine but training becomes painfully slow

[2021-01-31 14:09] thuzhf opened #51429 "dist.init_process_group('nccl') hangs in some combinations of pytorch+python+cuda version"
## 🐛 Bug

dist.init_process_group('nccl') hangs on some version of pytorch+python+cuda version

## To Reproduce

Steps to reproduce the behavior:

1. conda create -n py38 python=3.8
2. conda activate py38
1. conda install pytorch torchvision torchaudio cudatoolkit=10.1 -c pytorch
1. open python3
1. run code:
[code]

## Expected behavior

It should not hang. If you change backend='gloo', it will no

[2021-01-31 14:12] lemonbuffer20 opened #51430 "Convolution weight gradient computation in nn.grad is wrong with groups > 1"
## 🐛 Bug

Convolution weight gradient computation in nn.grad seems to be wrong when groups > 1.
(conv1d_weight, conv2d_weight, conv3d_weight)

## To Reproduce

Steps to reproduce the behavior: I attached my gist to print the difference between autograd and nn.grad.
In the script, I also suggest a correct alternative (only a minor change was sufficient)

https://gist.github.com/lemonbuffer20/7c98ce

[2021-01-31 15:10] albanD commented on #51196
Hi,

This error is only here in anomaly mode to help you find where nans appeared in the backward pass. This is not related to a bug in PyTorch but just that your current code generate nan values.
You can remove this error by just disabling anomaly detection.

Now if you want help to figure out why you have nans in your model, you can ask your question on our forum https://discuss.pytorch.org/ and

[2021-01-31 15:11] ParthaEth commented on #48988
Any updates on this?

[2021-01-31 17:00] SsnL opened #51431 "torch.where dtype inference is not smart"
## 🐛 Bug

If we call `torch.where(mask, float_py_scalar, int_py_scalar)`, the dtype inference will error, but it should use floating type.

[code]

While one may argue for this error because `int64` and `float32` are not fully compatible, we also support
1. `float32_tensor.add(1)`
2.
[code]
    Note how we don't use float64 either.

so I don't think it should be a problem.

Similarly, these errors

[2021-01-31 17:55] mobassir94 commented on #46974
initially nvidia-smi was looking like this while training first epoch :

Sun Jan 31 23:28:24 2021
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 457.51       Driver Version: 457.51       CUDA Version: 11.1     |
|-------------------------------+----------------------+----------------------+
| GPU  Name            TCC/WDDM | Bus-Id        Disp.A | Volat

[2021-01-31 19:21] kurtamohler commented on #50790
Thanks for your interest @PranxXxD! @imaginary-person already has a PR drafted for this issue (see "Linked pull requests" in the right column above). We have many other open issues though. Here are all the unassigned issues marked "good first issue" that do not have a linked PR : https://github.com/pytorch/pytorch/issues?q=is%3Aopen+label%3A%22good+first+issue%22+no%3Aassignee+no%3Amilestone+-link

[2021-01-31 22:20] nlgranger opened #51434 "Incorrect return type hint for torch.nonzero"
## 🐛 Bug

The type hint for torch.nonzero is incomplete, it only specifies Tensor.

## To Reproduce

Steps to reproduce the behavior:

1. Call torch.nonzero with `as_tuple=True`
[code]
2. Run a static type checker such as pyright
3. There is a warning

## Expected behavior

There is no warning

## Additional context

https://github.com/pytorch/pytorch/blob/9dfbfe9fca39a21560ae856348856837eaaf849a/

[2021-01-31 23:25] #51036 closed

[2021-02-01 01:09] huaxialongguang commented on #51408
``

[2021-02-01 01:09] #51408 closed

[2021-02-01 01:18] huaxialongguang opened #51437 "There is a problem with the calculation result of hardsigmoid_backward"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

In version 1.5, The calculation result of the hardsigmoid_backward operator is incorrect in some scenarios.
1.Test case
`import torch
import numpy as np
input0 = np.random.uniform(-5,-2,(2,2)).astype(np.float32)
input1 = torch.from_numpy(input0)
print("input1:", input1)
input1.requires_grad_(True)
m = torch.nn.Hardsigmoid()
out = m(input

[2021-02-01 01:20] huaxialongguang opened #51438 "There is a problem with the calculation result of hardsigmoid_backward"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

In version 1.5, The calculation result of the hardsigmoid_backward operator is incorrect in some scenarios.
1.Test case

`
import torch
import numpy as np
input0 = np.random.uniform(-5,-2,(2,2)).astype(np.float32)
input1 = torch.from_numpy(input0)
print("input1:", input1)
input1.requires_grad_(True)
m = torch.nn.Hardsigmoid()
out = m(inp

[2021-02-01 01:22] #51437 closed

[2021-02-01 02:19] XiaobingSuper commented on #51438
@huaxialongguang，please use latest Pytorch, such as 1.6 or 1.7,  for 1.5, it use wrong calculation formula, see
https://github.com/pytorch/pytorch/blob/4ff3872a2099993bf7e8c588f7182f3df777205b/aten/src/ATen/native/cpu/Activation.cpp#L349-L358, for master, the issue has been fixed,  see https://github.com/pytorch/pytorch/blob/0e1c5cb35475935073569a2087f5fb5b7a8e673c/aten/src/ATen/native/cpu/Activat

[2021-02-01 02:40] huaxialongguang commented on #51438
I have a question, 1.5 version of self_val is the result of forward calculation, 1.6 or 1.7 version of self_val is the forward input?
Can I fix this problem by replacing version 1.6 pytorch/aten/src/ATen/native/cpu/Activation.cpp 358-369 to version 1.5? Are there any changes to the bottom layer?

[2021-02-01 02:48] Zumbalamambo opened #51440 "Support unity 3d"
Unity 3D is a widely used game engine. It is also used extensively to create 2d front ends. Having a pytorch support for Unity3d would avoid the need of the python server that receives the image, process and send the result back. Barracuda doesn't support all the available functions. Is there any existing implementations or planned future implementations for unity 3d?

[2021-02-01 03:07] mruberry commented on #51406
We try to be consistent with Python and NumPy.

[2021-02-01 03:08] gemfield commented on #41353
@gmagogsfm Let's say, the MobileNetV2 defined in TorchVision(torchvision/models/mobilenet.py) and wrapped by torch.nn.parallel.DistributedDataParallel:
[code]
How to jit.trace or jit.script net?

[2021-02-01 03:21] mruberry commented on #51156
This is an interesting idea and I think we would accept a PR implementing it as long as the performance impact was negligible.

[2021-02-01 03:22] gemfield commented on #40671
Apart from above, I met this problem when building pytorch master based on the latest cuda11.1.
The build is ok when based on cuda 11.0

[2021-02-01 04:54] gmagogsfm commented on #41353
Since DDP is not supported, you would then need to manually split input dataset into mini batches and insert low level alltoall ops in a rewritten mobilenet model.

[2021-02-01 05:01] XiaobingSuper commented on #51438
Yes, 1.5 version of self_val is the result of forward calculation, 1.6 or 1.7 version of self_val is the forward input, if you want fix it in  version 1.5, just using 1.6 or 1.7 code to replace pytorch/aten/src/ATen/native/cpu/Activation.cpp 348-358 in version 1.5, and also need change
https://github.com/pytorch/pytorch/blob/4ff3872a2099993bf7e8c588f7182f3df777205b/tools/autograd/derivatives.yaml#

[2021-02-01 05:34] ccilery opened #51442 "A strange phenomenon in speed when use jit/torchscript. What's the difference between 1.6 and 1.7 in jit/torchscript ?"
## phenomenon
When I run code in pytorch 1.6 and pytorch 1.7.1, I found a strange phenomenon in speed. The speed is stable in 1.6 and isn't stable in 1.7.1 when use jit/torchscript.

**code**
[code]

**result**

* pytorch 1.6
![image](https://user-images.githubusercontent.com/19500797/106417530-42474500-648f-11eb-9ff3-93e319f02652.png)

* pytorch 1.7.1
![image](https://user-images.githubuserconten

[2021-02-01 05:45] mruberry commented on #51280
This is the issue you want to comment on: https://github.com/pytorch/pytorch/issues/50275

;)

[2021-02-01 05:46] mruberry commented on #51250
Thank you for reporting this issue, @loveritsu929. We would accept a PR fixing this.

[2021-02-01 05:46] mruberry commented on #51256
Thank you for reporting this issue, @stas00. It would be nice to fix this! cc @brianjo

[2021-02-01 06:03] ajsanjoaquin commented on #50510
@rohan-varma I made a PR in case you haven't seen it for you to review. Thanks!

[2021-02-01 06:30] XiaobingSuper commented on #51352
For AdaptiveAveragePooling, it is only support float or half tensor, if input is not float of half tensor, there will report a error: **RuntimeError: "adaptive_avg_pool3d_cpu" not implemented for 'Long'**, thanks!

[2021-02-01 06:36] Leerw commented on #42218
GOOD JOKE🤣

[2021-02-01 06:43] mruberry commented on #51108
Providing better support for GPU and CPU functions that return multiple values is a great. We should make sure that support is consistent between the two of them, too.

[2021-02-01 06:47] mruberry commented on #3867
Hey @bilalsal That's an interesting idea, but a separate issue. The "same" padding PyTorch implements should follow user expectations for what "same" padding does. Would you file a new issue with your concern? New padding modes or a modifying flag for existing padding modes could be proposed in that new issue.

[2021-02-01 06:49] mruberry commented on #51009
Thank you for this proposal, @munael. Are there some ways this feature could be added/supported without modifying PyTorch? What would need to be done to do that? I suppose a custom optimizer would need to be implemented, possibly by modifying a current optimizer? It could then look up whether to apply grad updates for each parameter by looking into a dict, for example.

[2021-02-01 06:55] hisaknown opened #51445 "Saving embedding vectors as TSV for Tensorboard is not efficient"
## 🐛 Bug

When `add_embedding()` of `tensorboard.SummaryWriter` is called, the embeddings are saved as TSV.
However, this is not efficient in terms of disk space and io time.
Saving as npy is a possible alternative to resolve this because Tensorboard supports loading npy as embedding vectors.

## To Reproduce

Save some embedding vectors like below:

[code]

This code generates TSV file of the emb

[2021-02-01 07:04] mruberry commented on #46741
Reopening. The linked PR had to be reverted, unfortunately.

[2021-02-01 07:12] laekov commented on #51207
Exactly.

[2021-02-01 07:16] brightbsit commented on #49095
How can you run pytorch version 1.6 with rtx3090??
doesn't it support below 1.6?

I'm also using 2 rtx3090 and i got warning
` " UserWarning: GeForce RTX 3090 with CUDA capability sm_86 is not compatible with the current PyTorch installation."`

after the warning message, it doesn't show up any logs.

[2021-02-01 07:23] #51442 closed

[2021-02-01 07:31] mruberry commented on #51228
Hey @jerryzh168, thanks for the suggestion.

One thing that would help this issue is separating the problem from proposed solutions. I think the problem is that there are (Torchbind) objects that are part of an nn.Module that make the module tricky to serialize. Is that correct? If we could repurpose this issue, or file a new issue, that just explained that problem, I think that would help us look

[2021-02-01 07:48] Harold0 commented on #51276
thank you!!

[2021-02-01 07:48] #51276 closed

[2021-02-01 07:53] lartpang opened #51447 "Does the Transformer need two layernorm layers?"
https://github.com/pytorch/pytorch/blob/40c0fffb4bb4a7d49cb50c6b276565aa60b3daaf/torch/nn/modules/transformer.py#L50-L62

In these code, ` encoder_norm = LayerNorm(d_model)` & `decoder_norm = LayerNorm(d_model)` will make the `TransformerEncoder` & `TransformerDecoder` append a norm layer

https://github.com/pytorch/pytorch/blob/40c0fffb4bb4a7d49cb50c6b276565aa60b3daaf/torch/nn/modules/transformer

[2021-02-01 08:33] ToMaToJ commented on #47354
I fixed my issue by updating python from 32 bit to 64 bits, fuck windows

[2021-02-01 08:34] ToMaToJ commented on #47354
I fixed my issue by updating python from 32 bits to 64 bits

[2021-02-01 08:37] kshitij12345 commented on #51242
Wouldn't same thing used in test_op suffice?
[code]

Adding
[code]

[2021-02-01 09:00] huaxialongguang commented on #51438
When the element of the input tensor is -3.0 or 3.0, the calculation result should be 0, but the 1.7 version is not 0.
input1: tensor([[ 3., -3.],
        [-3.,  3.]])
input1.grad: tensor([[0.1667, 0.1667],
        [0.1667, 0.1667]])

[2021-02-01 09:38] IDwangluting commented on #51085
when I build a pods for macApp, I assume that the link for /DLC/torch/libiomp5.dylib should be @rpath/libiomp5.dylib like it is for all of the other links in provided dylibs. and use 'install_name_tool -id @rpath/libiomp5.dylib libiomp5.dylib' to fixed, when I build agin,...(output/traceback/etc)

At 2021-01-27 06:29:27, "Heitor Schueroff" <notifications@github.com> wrote:

@IDwangluting Hi, could

[2021-02-01 09:39] XiaobingSuper commented on #51438
Yes, this is a issue, there will has a commit to solve it. Please not that this issue also happen on GPU device, for cpu path, the vectorization path can get expetected result.

[2021-02-01 09:45] ptrblck commented on #51382
I don't think a hardware stress test belongs to a framework and I'm also not sure about the implications it could have regarding the warranty of the hardware.

Do you have permission to restart the workstation and if so, are you seeing the same illegal memory access of the 100% util. after the restart?

[2021-02-01 09:53] antocuni commented on #42125
Note that the crash happens only when I import pytorch AFTER the fork, so I'm not sure that it's related to what you suggest. But thanks for the pointer, I'll investigate in that direction also

[2021-02-01 09:54] ptrblck commented on #51411
Yes, cublas provides a similar logging mechanism as cudnn via [these env vars](https://docs.nvidia.com/cuda/cublas/index.html#cublasLoggerConfigure).
The usage is the same as in cudnn logging besides the name changes in the env vars:
[code]

[2021-02-01 10:00] Lr-2002 opened #51448 "SpeedUp and Compressing of the Computing"
## 📚 Documentation

Hello,I'm now doing some work to read the resources of torch,It's really fantastic.
However ,partcipating in a project to solve the real problem,i found the compressing of models to the mobile is not all very easy and not all of them work effectively .
I'm interested in whether can we use the trained model and weights to summarize a clear and light formula to predict?
Hoping fo

[2021-02-01 10:19] laekov commented on #51207
I have read the related code in the past few days.

I think all we need to do is to provide a construction function of `ProcessGroupNCCL` that takes a `ProcessGroupMPI` object as input.

[2021-02-01 10:35] jamesbut commented on #50577
@glaringlee
Thank you for looking at my code.

1. I do not understand how this is a problem? Can we not have step count in the LRScheduler bass class like in python?

3. Sure the PerEpochLR was a hacky implementation that I was using for my own research - I will leave this out.

I will follow the naming conventions and write some tests :).

[2021-02-01 10:53] mshahbazi72 opened #51449 "Using pretrained inception network in inference mode for evaluating GANs while training the main model in DistributedDataParallel (DDP) mode"
I am using DistributedDataParallel to train a generative adversarial network. To evaluate the model during training, I need to compute the FID score using a pre-trained inception model as a feature extractor.
Apparently, a model that does not require gradient computation (the pre-trained inception net) cannot be passed to DistributedDataParallel.
How can I run the inception model in inference mode

[2021-02-01 10:58] mberr opened #51450 "torch.median slower than torch.sort"
## 🐛 Bug

Using `torch.median(x)` is slower than explicitly sorting the array with `torch.sort()` and selecting the middle element when the tensor resides on cpu.

## To Reproduce

Steps to reproduce the behavior:

[code]

For CUDA tensors I did not observe this large difference.
[code]

## Expected behavior

Since the median operation does not *require* to sort the whole tensor, it should be at l

[2021-02-01 11:07] Lezcano commented on #45063
My two cents on this:

I completely agree with the `X.H` attribute and the `O(1)` operation discussion.

On the naming of the full operation, I prefer `adjoint` over `hermitian` for the following reasons:

I think that "taking the Hermitian of a matrix" is somewhat an odd thing to say. I have personally never encountered it in maths writings. If I read the code `X.hermitian()`, I would think that

[2021-02-01 11:18] vadimkantorov commented on #51382
I'll check about the restart with the university IT!

Maybe I used a wrong term - maybe some basic GPU functionality check would be sufficient. Like allocating some big chunks of memory, doing some matrix multiplies, checking how long it takes - really some basic checks and tests that wouldn't void the warranty :)

[2021-02-01 12:49] orgroman-cg opened #51451 "Add support for conan package manager"
## 🚀 Feature
Please add an official support for conan package manager.

## Motivation
Just as pytorch is distributed with conda and pip for Python,
It will make our work much easier if libtorch would be distributed with conan for C++.

## Pitch
Please add an official conanfile recipe to the repo.

[2021-02-01 12:54] #50657 closed

[2021-02-01 12:58] w1d2s opened #51452 "Thread safety for inference of torch::jit::Module ?"
Hello, I want to know is it safe to call forward inference or other custom jit exported methods of one torch::jit::Module instance from multiple threads ? Especially when some mutable internal states  exist in model.  Thanks.

cc @gmagogsfm

[2021-02-01 13:02] underdogliu commented on #46240
Hi all! So looks like I am facing similar issue as well on no symmetric padding. Is there any update from other relevant PRs this issue, if any?

[2021-02-01 13:20] nurpax commented on #51055
Did you mean cudatoolkit=10.2?  I can't get 9.2 to install and that feels pretty old.

@nikithamalgifb "Took about ~10 mins" -- what do you mean took ten minutes?  For it to hang?  Did you run the command in a loop for this to happen?  For me a single invocation hangs or asserts in a few seconds, or nothing bad happens and it exits cleanly.

Anyway, I'll try to repro with multiple different versio

[2021-02-01 14:12] vadimkantorov opened #51455 "[docs] Improve documentation for LayerNorm"
https://pytorch.org/docs/stable/generated/torch.nn.LayerNorm.html: `The mean and standard-deviation are calculated separately over the last certain number dimensions which have to be of the shape specified by normalized_shape`

What's not clear from this excerpt (and the rest of the text):

1. What dimensions is the mean computed over? What is the shape of the computed mean/std? If it's the last f

[2021-02-01 14:50] heitorschueroff commented on #46974
@mobassir94 Do you have the full stack trace from the illegal memory access? In particular, does it mention which function caused it?

[2021-02-01 14:52] ejguan commented on #51344
@mobassir94
I am not an expert for notebook, but I suggest to try to put your code into a separate file and import it to your script, then call it within `if __name__ == '__main__'`.

Can you share a minimum script for me to reproduce the OOM? It's too hard to read through your code. I would suggest to delete data loader and create a new one after each epoch. As I am not sure how you implement you

[2021-02-01 15:04] mobassir94 commented on #46974
@heitorschueroff sorry i forgot to collect full error trace correctly but i remember clearly from where it was coming,it came from this block of code :

[code]

while executing this line of code :  running_loss = running_loss * .99 + loss.item() * .01

that error came

[2021-02-01 15:26] ezyang opened #51456 "Optional tensor type"
FB internal citation: https://fb.quip.com/D9d1AQuwQ4qg

@bhosmer was primary author of this note; I'm just publishing it here so it's in the public record

**Status quo:**

1. Tensor is a nullable type: `Tensor()` delivers an **undefined Tensor** - an uninitialized value that is not a valid instance of Tensor. Operations performed on an undefined Tensor raise errors (but not segfaults) at runtime.

[2021-02-01 15:35] ansley commented on #51041
@suo I was doing some experimenting, and I found some surprising behavior: it seems as though this error is thrown for any attribute container (e.g. `List`, `Dict`) initialized to a falsy value.

For example...

[code]

[code]

Is this expected behavior? I can't find anything about it in the docs, and it seems a bit strange. I can still write an AST walker for all these cases, but I wanted to make

[2021-02-01 15:44] CaseyKnox commented on #50650
Try `sudo apt install python3.8-dev`

[2021-02-01 15:50] albanD commented on #51271
This has been fixed in master in https://github.com/pytorch/pytorch/pull/47930
You can use a nightly build to get the fix right now. Or wait for the upcoming 1.8 release.

[2021-02-01 15:50] #51271 closed

[2021-02-01 15:55] glaringlee commented on #50577
@jamesbut
Hi, in python LRScheduler do have step_count, see this line.
https://github.com/pytorch/pytorch/blob/e6779d4357ae94cc9f9fedb83a87eb6126016769/torch/optim/lr_scheduler.py#L74
And it hook up a step_count to each passed in optimizer instance. see here:
https://github.com/pytorch/pytorch/blob/e6779d4357ae94cc9f9fedb83a87eb6126016769/torch/optim/lr_scheduler.py#L72
This is doable in python (t

[2021-02-01 15:56] suo commented on #51041
It's the same issue—because we do type inference based on attribute values, an empty dict alone is not enough to fully specify the type. The resolution in this case is the same as in my comment above—the user can either use `torch.jit.Attribute` or annotate the class body.

[2021-02-01 15:57] albanD commented on #36035
@Devchonka  I am afraid there is no one working on a fix for this at the moment. The main reason is that this is due to an issue in the original design of ParameterList/Dict and it cannot be easily fixed without having many side effects on other usage of these wrappers.
The "simplest" workaround for now is not to use them unfortunately and save all your Parameters directly on the Module.
Or if you

[2021-02-01 16:01] albanD commented on #51352
Hi,

Not working for integer type makes sense as you are doing averaging and the error message is appropriate. I don't think we want to change that.

We should make sure that we never crash though as reported in the original post.

[2021-02-01 16:07] vadimkantorov commented on #51455
Theoretically, this `normalized_shape` is not used by the layer norm itself, e.g. as seen in https://github.com/pytorch/pytorch/blob/4a0d17ba2d5966cea27dbce527baef62bb50c6f7/torch/csrc/jit/passes/decompose_ops.cpp#L209, only the number of last dimensions matters

[2021-02-01 16:22] mrshenli commented on #51207
Hey @laekov, would it be sufficient if a `ProcessGroupNCCL` instance and a `ProcessGroupMPI` instance can share the TCPStore? Or is there any other reason that `ProcessGroupNCCL` has to wrap `ProcessGroupMPI`?

[2021-02-01 16:23] Emmanuel357 commented on #3307
The gradient is not still copied.

[2021-02-01 16:24] albanD commented on #10223
Quick upadte on the current progress:

- [x] Core c++ logic to create fw grads and use them https://github.com/pytorch/pytorch/pull/49734
- [ ] Add simple formulas and codegen https://github.com/pytorch/pytorch/pull/49098
- [ ] Add gradcheck for real numbers https://github.com/pytorch/pytorch/pull/49099
- [ ] Do proper complex gradcheck and update complex doc about what forward AD computes
- [ ] A

[2021-02-01 16:24] vadimkantorov commented on #51455
This is also importing for porting TF code in PyTorch. E.g. LayerNormalization https://www.tensorflow.org/api_docs/python/tf/keras/layers/LayerNormalization only requires to specify the dimensions, not their shapes.

Also, it says: "Given a tensor inputs, moments are calculated and normalization is performed across the axes specified in axis.". (axis by default is set to -1). Is TF's instance of `

[2021-02-01 16:25] mrshenli commented on #51449
Hey @mshahbazi72 does wrapping the model forward pass using `with torch.no_grad():` work?

[2021-02-01 16:25] tkuenzle commented on #50943
As running a model with custom classes works fine (at least on iOS), should `CREATE_OBJECT` not just be added to the list of supported operators on mobile? And even if there are cases that are not fully supported they could still be easily detected during runtime.

[2021-02-01 16:26] mrshenli commented on #51449
Also, could you please post questions to [PyTorch Forum](https://discuss.pytorch.org/c/distributed/12)? If this turns out to be a feature request or bug report, please feel free to open another issue here. Thanks!

[2021-02-01 16:30] albanD commented on #3307
Hi,

Did you tried on a nightly build?

[2021-02-01 16:32] mattip commented on #3307
@Emmanuel357 could you provide a code sample where `deepcopy` fails on PyTorch HEAD? Note the fix for this is not yet in an official release.

[2021-02-01 16:35] bigfootjon commented on #50771
As a reminder, the following contributors still haven't signed the CLA and will be removed from the org tomorrow (Feb 2nd):

* @apaszke
* @avmgithub
* @baobabxlyh
* @numerology
* @paveldournov
* @scintiller

[2021-02-01 16:39] Emmanuel357 commented on #3307
Here is my pytorch code. It keeps returning none.

[code]

[2021-02-01 16:40] Emmanuel357 commented on #3307
real_function is just np.sin

[2021-02-01 16:42] mruberry commented on #51242
The tests want to construct an input tensor with a particular structure, which is why they don't want to use a sample input, just sample kwargs.

[2021-02-01 17:01] vadimkantorov commented on #51455
Why does LayerNorm need the full shape to be normalized over? This seems to block variable-sized batches?

And for the BTC case, does `LayerNorm(C)` in fact  do `(x - x.mean(dim = -1)) / (x.var(dim = -1) + eps).sqrt()`? in the sense that separate mean/var statistics is used per b, h, w. This does not seem to even match any of traditional variants including InstanceNorm (which would compute separat

[2021-02-01 17:03] albanD commented on #3307
Right, you need to use the nightly build to have this fix. Or wait for the 1.8 release.

[2021-02-01 17:06] dreamflasher commented on #48485
@mruberry @ezyang @seemethere @malfet @walterddr

Do you have any update on this? Still relevant for us.

[2021-02-01 17:07] Emmanuel357 commented on #3307
how do I download the nightly build?

[2021-02-01 17:07] mruberry commented on #46240
Not at this time, sorry @underdogliu. We would accept a PR implementing "symmetric" padding, compatible with that performed by NumPy's pad function, to PyTorch's existing torch.nn.functional.pad.

[2021-02-01 17:08] albanD commented on #3307
You can select `nightly` instead of `1.7.1` in the get started page: https://pytorch.org/get-started/locally/ !

[2021-02-01 17:12] Emmanuel357 commented on #3307
Thank you very much. God bless you.

[2021-02-01 17:16] Emmanuel357 commented on #3307
Do I still have to replace  __deepcopy__ with the __deepcopy__  below because the nightly build is not working. My present pytorch version is: 1.8.0.dev20210201+cpu

[code]

[2021-02-01 17:17] Emmanuel357 commented on #3307
Have you tried the nightly build to see if it actually works?

[2021-02-01 17:23] caraffi opened #51465 "torch::jit::Module cannot be forward declared and used into a `unique_ptr`"
## 🐛 Bug

https://github.com/pytorch/pytorch/blob/master/torch/csrc/jit/api/module.h
defines `Module() = default` and `~Module() = default`

To allow usage with a `unique_ptr` in a context where `torch::jit::Module` is forward declared, their definition should be moved to the cpp file.
So this popular thread on stack overflow: https://stackoverflow.com/questions/9954518/stdunique-ptr-with-an-incom

[2021-02-01 17:24] Just-A-Coder27 opened #51466 "Will pytorch run faster with AVX instruction set ?"
Will pytorch get faster with avx? if yes, then how will it get faster and if no, then any tips on how to make it faster? I will be running it on CPU.

Every answer will be appreciated...

[2021-02-01 17:53] jerryzh168 commented on #51228
TorchBind object is serializable, the problem is that it won't appear in state_dict and we would like to see it in state_dict

[2021-02-01 17:57] jerryzh168 opened #51471 "Make TorchBind object appear in state_dict"
## 🐛 Bug

We have packed params that are TorchBind objects: https://github.com/pytorch/pytorch/blob/master/torch/nn/quantized/modules/conv.py#L262 and we would like to see it in state_dict, currently we are manually overwriting the save_to_state_dict to do that: https://github.com/pytorch/pytorch/blob/master/torch/nn/quantized/modules/conv.py#L99, I'm wondering if we have easier alternatives to do

[2021-02-01 17:58] jerryzh168 commented on #51228
@mruberry a new issue just talking about problem is here: https://github.com/pytorch/pytorch/issues/51471, PTAL

[2021-02-01 18:03] ngimel commented on #51351
I'm removing hi pri, looks like it's build issue.

[2021-02-01 18:04] #51073 closed

[2021-02-01 18:08] malfet commented on #51092
Thank you for reporting the issue, looks like Jetson wheels are not linked statically with blas library. Installing OpenBlas would likely resolve the issue.
@ptrblck  , can you please let me know, who should be the right person to look into Jetson builds?

[2021-02-01 18:13] ezyang commented on #51117
cholesky may be using an outdated generator, where it would be better to make sure the matrix is well conditioned

[2021-02-01 18:15] ezyang commented on #51197
We definitely should be using deprecated for deprecated features (if we aren't already). It may be difficult to make sure everything is up to date. We might be able to crowdsource historical annotations once we have one or two examples of how to do it.

[2021-02-01 18:18] seemethere commented on #51080
I've created https://github.com/pytorch/builder/pull/632 to solve for the correct minimum version of cudatoolkit to get installed.

Will leave this open until we have nightly binaries with this change insert. Will follow up with an update after that happens.

[2021-02-01 18:19] ezyang commented on #51102
@ngimel agrees it should be able to handle 2000-to-1 ratio even when floating point, so we should look into this.

[2021-02-01 18:19] ezyang commented on #51102
It would also be good to check if this instability affects CUDA too

[2021-02-01 18:25] malfet commented on #51466
By default, PyTorch already accelerated with AVX and AVX2. And please use https://discuss.pytorch.org/ to ask general questions about PyTorch and use GitHub issue to submit bugs/feature requests.

[2021-02-01 18:25] #51466 closed

[2021-02-01 18:26] ezyang commented on #51332
We might need rebuild of magma for 11.2

[2021-02-01 18:27] ezyang commented on #51381
These will be more actionable if you can identify a specific commit that induced the regression

[2021-02-01 18:28] malfet commented on #51440
Are you talking about C# bindings for existing Torch C++ APIs?
There are several projects that already attempt to do that, for example https://github.com/xamarin/TorchSharp or https://github.com/SciSharp/Torch.NET
They are pretty old, but I wonder if they would at least partially unblock you.

[2021-02-01 18:29] ezyang commented on #51385
This sounds pretty reasonable

[2021-02-01 18:30] wconstab commented on #51381
yep, we're working on it. @xuzhao9 kicked off a data-collection attempt over the weekend but needs to do some analysis. eventually we hope to automate this with a bisect job..

[2021-02-01 18:34] vadimkantorov commented on #51385
Maybe even scatter_all somehow could be used (e.g. we don't have bandwidth to copy to all devices at once, once the first device has received the copy, it could also transfer the model copy to other devices, halving the copy time)

[2021-02-01 18:37] ngimel commented on #51385
Are you talking about initial parameter copy? Because during training broadcast/reduce should not copy data to the cpu.

[2021-02-01 18:43] vadimkantorov commented on #51385
Yes, initial parameter copy. But the model is already on the first GPU, since I'm doing:
[code]
So it should already be amenable to inter-GPU communication (if it's enabled)

[2021-02-01 18:48] vadimkantorov commented on #51455
It seems that PyTorch's nn.LayerNorm is doing:
![image](https://user-images.githubusercontent.com/1041752/106503787-62dec180-64c6-11eb-9baf-dd91c86061dd.png)

[2021-02-01 18:52] ngimel commented on #51385
We will accept a PR implementing that.

[2021-02-01 19:08] #38458 closed

[2021-02-01 19:18] SciPioneer opened #51480 "Support switching RemoteModule between train/eval"
## 🚀 Feature
Currently [RemoteModule](https://github.com/pytorch/pytorch/blob/master/torch/distributed/nn/api/remote_module.py#L68) does not support [train](https://github.com/pytorch/pytorch/blob/master/torch/distributed/nn/api/remote_module.py#L341) or [eval](https://github.com/pytorch/pytorch/blob/master/torch/distributed/nn/api/remote_module.py#L344). However, some behaviors like `Dropout` and

[2021-02-01 19:56] addisonklinke commented on #42163
@albanD has there been any recent progress on this? I am using torch 1.4.0 and cannot reproduce @pmeier's example serialization of `torch.ones` - in my case all runs produce the same hash.

However, I have noticed that another, more complex `nn.Module` I'm using does _NOT_ serialize to the same MD5 on multiple runs. This Stack Overflow [thread](https://stackoverflow.com/questions/52152144/why-does

[2021-02-01 20:02] kurtamohler opened #51487 "Rephrase `use_deterministic_algorithms` documentation for backward functions"
Currently, in the the documentation for `use_deterministic_algorithms`, some entries in the list of affected operations use the phrase "when called on a tensor that requires grad" to indicate that the flag affects the backward function for the corresponding operation. The intended meaning of this phrase is not immediately apparent. It would probably be much clearer to explicitly state that the bac

[2021-02-01 20:26] IvanYashchuk commented on #51117
I think the problem here is that the finite differences algorithm does not work well for this function. Setting `eps=1e-5` (default is 1e-6) passes the test.
```gradgradcheck(func, [root, b, upper], atol=1e-5, eps=1e-5, check_batched_grad=False)```

[2021-02-01 20:32] ptrblck commented on #51092
@dusty-nv was working on the Jetson wheels and would be the right person.
@Renzhihan your PyTorch version is reported as `1.7`. Are you using the latest `1.7.1` wheels or `1.7.0`?
In the latter case, could you check if this issue is still raised in `1.7.1`?

[2021-02-01 20:37] ptrblck commented on #49095
Since NCCL raises a system error, you could check the [NCCL tests](https://github.com/nvidia/nccl-tests) and see, if these are working.
To get more information about the issue, you can use the env var `NCCL_DEBUG=INFO`, which should show where NCCL is failing on your system.

[2021-02-01 20:43] dusty-nv commented on #51092
@Renzhihan can you check this comment from the NVIDIA forums?

https://forums.developer.nvidia.com/t/pytorch-for-jetson-version-1-7-0-now-available/72048/659?u=dusty_nv
https://forums.developer.nvidia.com/t/pytorch-for-jetson-version-1-7-0-now-available/72048/653?u=dusty_nv

This person had the same error message, and turned out to be some conflict with scipy.  Or are you perhaps the same person?

[2021-02-01 20:46] #50146 closed

[2021-02-01 20:55] kurtamohler opened #51493 "Add branch predictor hints to prefer `Context::deterministicAlgorithms() == false`"
## 🚀 Feature

Add branch prediction hints to all internal checks of the deterministic flag. Prediction should always prefer branches that can only be reached if the deterministic flag is disabled.

## Motivation

When the deterministic flag is checked within PyTorch operations, it is always used to determine the path of a conditional branch (if False, run the default implementation; if True, throw

[2021-02-01 21:02] albanD commented on #3307
Yes, checked with this script on colab:
[code]

[2021-02-01 21:03] mruberry commented on #51487
cc @albanD to help with the language.

[2021-02-01 21:13] albanD commented on #42163
Hi,

I don't think anyone in the core team is actually working on this.
I am not sure what is the root cause here to be honest so I don't know how to fix it. But I don't think the hash function is the issue and most likely the fact that we save something that is non deterministic (like an address in memory for the current object).

[2021-02-01 21:16] albanD commented on #51228
Closing this issue in favor of the more focused one: #51471

[2021-02-01 21:16] #51228 closed

[2021-02-01 21:27] kcarnold commented on #51080
Unfortunately I think it's the *newer* version that's broken.

[2021-02-01 21:28] kurtamohler opened #51498 "Consolidate determinism flag tests into one place"
Instead of having determinism flag tests scattered throughout the codebase, it would be better to put them all in one place. It can probably be put into `test/test_torch.py`

@mruberry suggested this here: https://github.com/pytorch/pytorch/pull/51388#discussion_r567529888

cc @mruberry @kurtamohler @VitalyFedyunin @walterddr

[2021-02-01 21:41] seemethere commented on #51080
In that case I've submitted another patch where `11.0.221` cannot be the version installed with our binaries: https://github.com/pytorch/builder/pull/635

[2021-02-01 21:59] tyoc213 commented on #51332
I was able to build the lib, but with som extra steps

* set the current `PYTHON_BIN_PATH` finding it with `which python` so it ended up like `export PYTHON_BIN_PATH=/home/tyoc213/miniconda3/envs/xla/bin/python`
* use the lib and include from conda in path `export PATH=/home/tyoc213/miniconda3/envs/xla/lib:/home/tyoc213/miniconda3/envs/xla/include:$PATH`

But before I don't remember doing those 2

[2021-02-01 22:14] janeyx99 commented on #50232
@peterjc123 @zasdfgbnm
I opened a PR here for windows in the builder repo: https://github.com/pytorch/builder/pull/636--could you take a look?

[2021-02-01 22:33] #51355 closed

[2021-02-01 22:36] jerryzh168 opened #51501 "[fx] ellipsis support"
[code]

[code]

[2021-02-01 22:40] kurtamohler commented on #49400
Hey @jimmy-walker, sorry for the delay, this issue slipped off my radar.

If I can just summarize my interpretation of the issue: You compared training with `nll_loss(..., reduction='mean')` against `nll_loss(..., reduction='none')` followed by your own custom mean calculation. You expected the two different approaches to give the same exact results, since they are mathematically equivalent. Howev

[2021-02-01 22:50] jamesr66a commented on #51501
https://github.com/pytorch/pytorch/pull/51502

[2021-02-01 23:39] KsenijaS commented on #51010
@paulgavrikov can you please share your export script?

[2021-02-02 00:12] #24714 closed

[2021-02-02 00:12] #24577 closed

[2021-02-02 00:12] #36328 closed

[2021-02-02 00:12] #48230 closed

[2021-02-02 00:24] rohan-varma commented on #22071
@hizukiayaka Thanks for the report! It would be best if you can file an issue (if this is a bug) or a post on http://discuss.pytorch.org/c/distributed/ if it is a specific question, in order to have a more detailed discussion about your specific use case.

[2021-02-02 00:25] rohan-varma commented on #46434
Also related, ProcessGroup wrapper to aid collective desync: https://github.com/pytorch/pytorch/issues/22071

[2021-02-02 00:26] touqir14 opened #51509 "Massive bottlenecks in some of the Reduce operations."
## 🐛 Bug

Reduce operations that depend on [binary_kernel_reduce](https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/cpu/Reduce.h#L181-L244) suffers from huge slowdowns (Upto 100x in most cases) whenever the dimension over which these operations are applied is small compared to the other dimensions. These include ```torch.norm``` / ```torch.linalg.norm```, ```torch.std```, ```torc

[2021-02-02 00:51] malfet opened #51511 "Python-3.9: Importing numba and torch triggers internal error"
## To Reproduce

Steps to reproduce the behavior:

1. Instal python-3.9 from conda-forge
2. Build torch
3. Install numba
4. Run `python -c "import torch;import numba"`

Above fails with:
[code]

[2021-02-02 00:56] ilia-cher commented on #51026
(a quick update: we've identified the issue and will send a fix)

[2021-02-02 01:50] hisaknown commented on #51445
As mentioned in the linked PR, I realized that Tensorboard doesn't accept npy files, but does binary files generated by `ndarray.tofile()`.

[2021-02-02 01:53] laekov commented on #51207
I do not want any TCP store at all. MPI should be enough to exchange any message.

As a result, when launching PyTorch by MPI (and using NCCL in the computation), no additional TCP address/port information is needed.

[2021-02-02 02:20] Renzhihan commented on #51092
@dusty-nv yes,I raised this issue at the same time in github and nvidai forums.I solved the problem at your suggestion。But I forgot this issue.Now I think I should close this issue.
@ptrblck @malfet Thanks for your attention.I'm sorry for my negligence

[2021-02-02 02:20] #51092 closed

[2021-02-02 04:12] nikithamalgifb commented on #51055
I know 9.2 is old. Just wanted to verify if it still hangs for you on 9.2. Please post your findings when you have them then.

[2021-02-02 04:18] 0tist commented on #31285
Had the same problem, currently using Ubuntu 20.04 with RTX 3090
`pip uninstall torch`
`pip install --pre torch torchvision -f https://download.pytorch.org/whl/nightly/cu110/torch_nightly.html`
solved the problem for me

[2021-02-02 04:37] ezyang commented on #42125
Yeah, that's what I mean by inconsistent; if it were due to spawning threads prior to forking the import should have been earlier.

[2021-02-02 04:54] hszhoushen commented on #49161
Hi, did you solve the problem? I have a similar configuration and with the same problem.
RTX3090
torch = 1.7.1
cuda = 11.1
nvidia driver = 460.32.03
torchvision = 0.8.2

[2021-02-02 05:16] brightbsit commented on #49095
@ptrblck i found this. https://github.com/NVIDIA/nccl/issues/442. I'm using wsl2. That's why i can't run it..

[2021-02-02 05:37] #49161 closed

[2021-02-02 05:48] solidcc2 commented on #30570
Hi, I have the same problem with you. And any suggestions for me? I will be very grateful for this.
I need to compile with the source of torch v1.3.0

System Info:
Centos7
Linux localhost.localdomain 3.10.0-1127.18.2.el7.x86_64 #1 SMP Sun Jul 26 15:27:06 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux
conda 4.9.2
Python 3.5.6 :: Anaconda, Inc.
gcc installed by 'conda install -c omgarcia gcc-6'   gcc/g++ 6

[2021-02-02 05:56] Tylersuard opened #51535 "Why isn't there a pip-installable PyTorch for Raspberry Pi?"
## 🚀 Feature
Typing into the command line "pip install torch" would make a full installation of PyTorch on a Raspberry Pi 4B

## Motivation

Many, many developers come into the software development world through Arduino and Raspberry Pi.  It would be helpful for these newbies to gain hands-on experience with PyTorch from the start, so they don't have to experience the frustration of using unreliab

[2021-02-02 06:10] shijianjian commented on #41412
@gmagogsfm It seems still not available in the current nightly versions. Any updates on this?

[2021-02-02 06:13] #48831 closed

[2021-02-02 06:24] gmagogsfm commented on #41412
Hi @shijianjian and @david-macleod,

We are still going through review process for this feature, sorry it is taking longer, we want to really get it right. Thanks for understanding.

[2021-02-02 06:51] johannespitz opened #51539 "Using weigth_decay slows down Adam optimizer over time."
## 🐛 Bug

Adding weight_decay to the Adam optimizer, via the keyword argument, causes training iterations to slow down over time. In the provided example I see a slowdown of 2x to 3x (compared to the first few iterations) within a couple of seconds, when running on a CPU.

## To Reproduce

Run the following snippet with `--weight-decay` and without.
Note, `amsgrad=True` results in similar behavior

[2021-02-02 07:00] johannespitz commented on #51539
I think, maybe it is related to issue #20146.

[2021-02-02 07:11] LiUzHiAn commented on #8480
Hi, I met the same issue with Pytorch 1.7.0 and cudatoolkit 11.0.221. Here is my script:
[code]
I was told `RuntimeError: CUDA error: invalid device ordinal` when using `CUDA_VISIBLE_DEVICES=1` running arg as @fmassa suggested. But if I change the `cuda:1` into `cuda:0`, it works well. A little bit confusing!

[2021-02-02 07:31] gmagogsfm commented on #51074
Could you provide some instructions to reproduce this issue?

Also, this seems build related, removing `jit` label.

[2021-02-02 07:35] mruberry commented on #26996
Closing now that #50957 is in.

[2021-02-02 07:35] #26996 closed

[2021-02-02 07:48] justanhduc opened #51540 "Making .t() work for tensor of high dimensions"
## 🚀 Feature
Currentlly, `x.t()` works only when `x` is 1D or 2D. Why don't we make it work with multi-dimensional tensors as well by transposing the last two dimensions.

## Motivation

To make it inline with `torch.matmul` and some other functions that consider the last two dimensions as matrices.
To avoid verbosity in code such as `x.transpose(-1, -2)` or `torch.permute`.

## Pitch

[code]

##

[2021-02-02 08:31] kshitij12345 commented on #51540
I think is a duplicate of #51280

[2021-02-02 08:43] jankrepl opened #51541 "Typo in docstring - optim.Optimizer.zero_grad"
## 📚 Documentation
There is a typo in the docstring of the https://pytorch.org/docs/1.7.1/optim.html#torch.optim.Optimizer.zero_grad.
Specifically:

[2021-02-02 08:53] xwang233 opened #51544 "Several masked_scatter tests in test_autograd failed with Jacobian mismatch"
## 🐛 Bug

Several `masked_scatter` test failures in `test_autograd` found on 2070, 3090, V100, A100 with cuda 11.2

Some commits happened on January 27th may cause this problem. Although I'm not certain, https://github.com/pytorch/pytorch/pull/50039 looks suspicious.

## To Reproduce

Steps to reproduce the behavior:

As of commit 7328710cbce459bbd77dfe424acc94010725d979, run this

[code]

However

[2021-02-02 09:03] kshitij12345 commented on #51544
@xwang233

Other tests were moved to OpInfo based in https://github.com/pytorch/pytorch/pull/51281. The one remaining is where `input` tensor is expanded to size of mask. Didn't port that one as that was causing issue with the inplace variant check in the OpInfo suite.

Are the new tests failing as well?
You can try them with
[code]

[2021-02-02 09:07] xwang233 commented on #51544
It still fails, see log

<details>

<summary> log </summary>

<p>

[code]

</p>

</details>

[2021-02-02 09:12] kshitij12345 commented on #51544
Thanks for the quick reply. Will try building on master with RTX 8000 and CUDA10.1, f4fc3e3920c75ba978765dcaded39a606eb7992a and update the test results.

Will also try building and running with cuda 11.

[2021-02-02 09:14] FantasyJXF commented on #31178
may be the `contiguous` problem.

[2021-02-02 09:18] hszhoushen commented on #45021
It works!

[2021-02-02 09:19] FantasyJXF commented on #47268
`gcc-7.4.0` works Okay, `gcc-5.4.0` and `gcc-8.4.0` failed to build.

[2021-02-02 09:19] #47268 closed

[2021-02-02 09:35] ydcjeff commented on #51197
@ezyang Here's the example of output using
- `.. versionadded::` - https://pytorch-issue-51197.netlify.app/generated/torch.nn.silu#torch.nn.SiLU
- `.. versionchanged::` - https://pytorch-issue-51197.netlify.app/generated/torch.nn.hardsigmoid#torch.nn.Hardsigmoid
- `.. deprecated::` - https://pytorch-issue-51197.netlify.app/generated/torch.norm.html#torch.norm

Code:
[code]
[code]
[code]

[2021-02-02 09:41] FantasyJXF opened #51546 "Libtorch `contiguous` function bug"
## 🐛 Bug

The same code using `libtorch_cpu` on MAC works OK but fails with `libtorch_cuda` on Linux with GPU.

## To Reproduce

Steps to reproduce the behavior:

- CMakeLists.txt
[code]

- inter.cpp

[code]

## Expected behavior

The CUDA version libtorch should have the same output with CPU version.

Now, CPU output
[code]
CUDA output:
[code]

## Environment

[code]

 - LibTorch Version (e.g., 1

[2021-02-02 09:55] AllentDan opened #51547 "Something wrong with torch::nn::ReLU()"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. using libtorch to forward a tensor
2. build a plain model with only a conv2d and another model with a conv2d and a ReLU
3. output shape of them not same

## Expected behavior

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/c

[2021-02-02 10:03] MCLYang opened #51551 "Does nn.Transformer include the PositionalEncoding() so far?"
## 📚 Documentation

I have read #24826 but it was more than 1 year ago.
I also read the source of nn.Transformer, seems like **nn.Transformer does not include PositionalEncoding() block so far.** Please correct me if I am wrong.

To avoid confusion, here is the snippet of PositionalEncoding which is on tutorial of documentation:

[code]
Besides, I recommend nn.Transformer should add para so we are

[2021-02-02 10:06] AllentDan commented on #51547
Seemed my using two ()s caused the problem.

[2021-02-02 10:07] #51547 closed

[2021-02-02 10:13] xwang233 opened #51552 "Some test_qr CUDA tests in test_autograd are taking very long time"
## 🐛 Bug

Some test_qr CUDA tests in test_autograd are taking very long time

## To Reproduce

The environments are: `Nvidia driver 450.51.06, cuda 11.2, [conda] MKL 2019.1, [conda] magma-cuda110 2.5.2`

Commit f4fc3e3

Steps to reproduce the behavior:

[code]

DGX A100, AMD EPYC 7742 64-Core Processor

[code]

DGX V100, Intel(R) Xeon(R) CPU E5-2698 v4

[code]

Circle CI, `(some 16 threads CPU?),

[2021-02-02 10:45] raphael410 opened #51553 "ONNX export failed on ATen operator _thnn_fused_gru_cell"
Hello,
I am trying to export a Bahdanau Attention RNN model from pytorch to onnx, however I have an issue when trying to convert it. It is most probably caused by the GRUCell layer.
I get this error while trying to convert :

[code]

I guess it's because the GRUCell is not managed correctly in pytorch onnx, however I saw that the operator "GRU" exists in onnx ([documentation available here](https:

[2021-02-02 11:20] LucasColas commented on #51213
I tried to reinstall. Same issue.

[2021-02-02 11:28] imgsrc-seiya opened #51556 "CUDA error: an illegal memory access was encountered: on RTX3090 (using multiple GPUs)"
## 🐛 Bug

I'm running a Face Swapping program from [FSGAN](https://github.com/YuvalNirkin/fsgan) on RTX3090 (using multiple GPUs), but the error occurs when running it on multiple GPUs or only GPU[1].

## To Reproduce

Steps to reproduce the behavior:

1. Checkout the [FSGAN](https://github.com/YuvalNirkin/fsgan) repository following [Windows Installation Guide](https://github.com/YuvalNirkin/fsga

[2021-02-02 11:37] kalifadan commented on #41508
I have exactly the same problem too :(

[2021-02-02 12:21] kshitij12345 commented on #51544
@xwang233 Can you please try the following patch.

[code]

With this patch, all the tests pass.

<details>

  <summary> Log </summary>

[code]

</details>

Reference
[code]

https://github.com/pytorch/pytorch/pull/50039/commits/f1109f0270b4c4c59ec1a419afba2c12fc660ace#diff-87503380958937a89a7f70edd9f2174c4616aa513e4a1509e336143c2ca63576L274-L276

Not sure if this is regression in `thrust`. I see t

[2021-02-02 12:38] FantasyJXF commented on #51546
Maybe `torch::from_blob` should have the following line:
[code]

[2021-02-02 13:05] justanhduc commented on #51540
@kshitij12345 right! I will close this in favor of the existing one.

[2021-02-02 13:05] #51540 closed

[2021-02-02 13:18] paulgavrikov commented on #51010
@KsenijaS:  Inside the above mentioned repo:
[code]

[2021-02-02 13:44] constroy opened #51558 "torch.reshape fails to keep the memory format"
## 🐛 Bug

torch.reshape fails to keep memory format when copy occurs.

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

The tensor `b` is expected to have the same memory format as `a`, which is `torch.channels_last`.

## Environment

- PyTorch version: 1.7.0
- Is debug build: True
- CUDA used to build PyTorch: 10.1
- OS: CentOS Linux 7 (Core) (x86_64)
- GCC version

[2021-02-02 13:52] constroy commented on #28619
`torch.reshape` fails to keep the memory format when copy occurs.
Shall we unify the behavior regardless of copying or viewing?

#51558

[2021-02-02 14:33] mdouze opened #51559 "Nans in matrix multiplication on ARM"
## 🐛 Bug

A simple matrix multiplication (ran twice) produces an output matrix with NaNs.

Code+output: https://gist.github.com/mdouze/a4bbd9b08b827cf725d99a33d5f6835f

## To Reproduce

Steps to reproduce the behavior:

1. reserve a c6g.8xlarge instance on AWS
1. install a docker image w/ pytorch 1.6 from https://community.arm.com/developer/tools-software/tools/b/tools-software-ides-blog/posts/aar

[2021-02-02 14:33] elistevens commented on #2575
It's likely that this issue is due to https://sourceware.org/bugzilla/show_bug.cgi?id=17620 .  For the users that are encountering the problem, can you check what version of glibc you are using?

[2021-02-02 14:54] andrewnaguib commented on #20056
@gchanan can you confirm, please?

[2021-02-02 14:59] RuABraun commented on #49928
@ngimel I'm still getting the error with `p=2` !

[2021-02-02 15:29] penguinwu opened #51563 "[TorchScript Usability] Type-checker too strict for Optional type initialization pattern"
**To reproduce**

Test case: [test-optional.py](https://github.com/penguinwu/hodgepodge/blob/master/TorchScriptStudy/bad-examples/test-optional.py)

[code]

**Desired behavior**

This requires a collaboration between auto-inferencer and type-checker. In this case, the auto-inferencer should deduce that `b` is of type `Optional[int]` (by joining possible types of `b` along all possible execution pa

[2021-02-02 16:08] DegardinBruno commented on #47990
@evinpinar do you already got your answer?
I'm running into the same issue, the output of a custom convolution (with fold and unfold) are the same as the Conv2d, but when training it seems that the weights are not optimized in the same way as the Conv2d.
Even with the default weight initialization of Conv2d.

[2021-02-02 16:54] ngimel commented on #51544
Looking at the fix it does look like thrust regression.

[2021-02-02 16:54] #51234 closed

[2021-02-02 16:55] mruberry commented on #51558
@ngimel Do you know what the expected behavior here is?

[2021-02-02 17:05] mruberry commented on #51450
Thank you for reporting this issue, @mberr. It'd be nice to have a faster median!

[2021-02-02 17:18] wanyu2018umac commented on #49928
Hi sorry for my late response!

I haven't updated it yet, and now I'm finding a way to upload my changes into origin branch.

FYI you can refer to #50536 #51569 for progress.

[2021-02-02 17:34] #49756 closed

[2021-02-02 18:10] H-Huang commented on #51448
Please look into our various domain libraries: [torchaudio](https://pytorch.org/audio/stable/index.html), [torchvision](https://pytorch.org/docs/stable/torchvision/), [torchtext](https://pytorch.org/text/0.8.1/index.html) for pretrained models that fit your use case.

[2021-02-02 18:10] #51448 closed

[2021-02-02 18:17] #51541 closed

[2021-02-02 18:18] stas00 opened #51574 "[Pipe] conversion to Sequential: various complex scenarios"
## 🚀 Feature

As hopefully there will be eventually a tutorial on how to convert one's model into a Sequential to be used in Pipe let's discuss some complex situations. Currently the examples over at [DeepSpeed](https://www.deepspeed.ai/tutorials/pipeline/) and [fairscale](https://fairscale.readthedocs.io/en/latest/tutorials/pipe.html) all use toy examples that easily land to such conversion, but

[2021-02-02 18:18] eellison commented on #51285
Can you save this with normal python serialization of pytorch modules ?

[2021-02-02 18:25] eellison commented on #51347
This crash is fixed on master. As @ezyang, someone is working on adding Union support.

[2021-02-02 18:25] #51347 closed

[2021-02-02 18:26] eellison commented on #51379
cc @malfet who did some work related to pybind compatibility

[2021-02-02 18:27] stas00 opened #51575 "[doc] being able to switch version while keeping the same doc"
## 📚 Documentation

Often I go to a specific document, say, https://pytorch.org/docs/stable/optim.html and then I realize that it's not `master`, so I want to read the bleed-edge doc of the same, so I go to the left upper corner and switch to `master`, but it then takes me to the front page, which is not what I want and I have to search for the page I want again. I want it to take me to https://py

[2021-02-02 18:28] eellison commented on #51452
If you have concurrent writes to the model as part of inference, it may not be thread safe. Otherwise yes it is. You might consider using [torchbind](https://pytorch.org/tutorials/advanced/torch_script_custom_classes.html) to implement a mutex in your model

[2021-02-02 18:32] eellison commented on #51376
Work is ongoing in this direction by @nikithamalgifb

[2021-02-02 18:39] mruberry commented on #51575
That's a cool idea. cc @brianjo

[2021-02-02 19:01] #51098 closed

[2021-02-02 19:29] bigfootjon commented on #50771
The people listed in my comment above have been removed. Once the CLA is signed, permissions can be restored

[2021-02-02 19:29] #50771 closed

[2021-02-02 19:35] H-Huang commented on #51413
Based on your description, it looks like this error happens because you are passing into losses.topk() `bs-self.k` (14) which exceeds the size `losses` (5). You need to pass in a value of k <= 5.

That being said, we should fix this error message in CUDA to be more clear. The CPU error message looks like `RuntimeError: selected index k out of range`

[2021-02-02 19:48] mobassir94 commented on #51413
Thank you,is there any implementation bug here?
I was able to solve this issue..i realized that i was not doing reduction =
None
So this error came and after fixing that issue i got NaN after few epochs
and even with gradient clipping i was not able to get rid of NaN's

mobassir

On Wed, Feb 3, 2021, 1:35 AM Howard Huang <notifications@github.com> wrote:

[2021-02-02 19:58] mrshenli commented on #51429
Hey @thuzhf, is Python 3.8 + CUDA 10.1 the only combination that leads to the hang?

[2021-02-02 19:58] H-Huang commented on #51429
I can't repro this on my env:

PyTorch version: 1.7.1
Is debug build: False
CUDA used to build PyTorch: 10.2
ROCM used to build PyTorch: N/A

OS: Ubuntu 20.04.1 LTS (x86_64)
GCC version: (GCC) 8.4.0
Clang version: Could not collect
CMake version: Could not collect

Python version: 3.8 (64-bit runtime)
Is CUDA available: True
CUDA runtime version: 10.1.105
GPU models and configuration:
GPU 0: Quadr

[2021-02-02 20:14] gdankel commented on #51337
Comparing only CPU with CPU+CUDA, I'd think that CPU+CUDA is a better default when cuda is available?

Regarding the hidden costs, that may be a valid concern depending on the use case. But the counter argument is that if they enable CUDA then they are still likely to be surprised by this.
What is the default for warmup iterations?

[2021-02-02 20:22] rgommers commented on #51434
Thanks for the report @nlgranger.

`Tensor.nonzero` is missing on purpose: https://github.com/pytorch/pytorch/issues/42998#issuecomment-674059144

That isn't quite right, returning unions like that will just cause problems further down the line where mypy doesn't know if it's a tensor or a tuple. Instead it should have an extra overload (`Literal[True]` and `Literal[False]`)to disambiguate `as_tup

[2021-02-02 20:56] ilia-cher commented on #51337
there's no default warmup, unless you specify a schedule argument

[2021-02-02 21:09] zasdfgbnm commented on #50153
@malfet Do you know how to tell cmake to replace its `/usr/lib/libcudnn_static.a` with `--whole-archive /usr/lib/libcudnn_static.a --no-whole-archive` only on the `ld` command for `libtorch_cuda.so`? I tried a few things, and never succeed. With cudnn 8.1, the size increase is 400MB. We may or may not want to ship pip wheels with whole-archive, but at least it worth adding an environmental variabl

[2021-02-02 21:12] esqu1 opened #51582 "[JIT] Support Union[NoneType, T] as input type"
## 🐛 Bug

While `Union` is not supported yet in TorchScript, it would be tremendously useful to have support for `Union[None, ...]`. This is because the `Optional[T]` type annotation is just an alias to `Union[None, T]`, and prior to Python 3.9, `__repr__` for `Union` does not account for this special case (in Python 3.9+, `repr(Union[None, T])` will display `Optional[T]`.

This is especially nece

[2021-02-02 21:17] gmagogsfm commented on #51582
Thanks @nikithamalgifb!

[2021-02-02 21:26] ejguan commented on #51417
You can follow the instruction here https://pytorch.org/docs/stable/data.html#memory-pinning to set `pin_memory=True` to enable faster data transfer to GPU.