[2021-02-02 21:53] ezyang commented on #41508
bouncing this to high pri based on activity

[2021-02-02 21:55] ezyang commented on #51535
also cc @ljk53

[2021-02-02 22:12] zhangguanheng66 commented on #41508
Link a previous PR contributed by @wgale

[2021-02-02 23:02] dncliss opened #51592 ""invalid parameter combination for AltiVec intrinsic" error with ppc64le, g++ v7.4"
## 🐛 Bug

This is an independent follow-on issue (but somewhat related) to issue #50439, which was fixed by #50640 plus #51116.
When building pytorch on ppc64le, if using the g++ v7.4 compiler (but not v8), a number of `invalid parameter combination for AltiVec intrinsic` error is given.  These occur just a bit later than the aforementioned issue that was resolved; after passing that failure point

[2021-02-02 23:05] dncliss commented on #51592
FYI @malfet and @quickwritereader -- if either of you have any thought on this one.

[2021-02-02 23:28] #50381 closed

[2021-02-02 23:44] xwang233 commented on #51544
Thanks for isolating the root cause, @kshitij12345 . I tried the patch and all tests are passed. I have filed an issue to thrust. There are some inconsistent behavior for `thrust::exclusive_scan` between cuda 11.1 and 11.2.

At the same time, we may still need a workaround for cuda 11.2.

[2021-02-03 00:25] mrzzd commented on #51574
Have you considered using skippable tag? (defined [here](https://github.com/pytorch/pytorch/blob/c791a304847ba5216b53acc1225610734a0c8cde/torch/distributed/pipeline/sync/skip/skippable.py#L239))

[2021-02-03 00:36] ardeal commented on #50322
I eventually figured out this issue:
First solution is that the code in models/export.py in this repo works.
The second solution:
I compared my code pasted on this topic with the code in models/export.py in this repo, and eventually found out that the following code works. the most important change is the line: torch_model.model[-1].export = True . This is the difference.

[code]

[2021-02-03 00:36] ngimel commented on #51416
Please use forums for questions.

[2021-02-03 00:36] #51416 closed

[2021-02-03 00:44] ngimel commented on #51558
I'd say that for cases where copy should take place, it's hard to come up with a reasonable expectation for how format should or should not be preserved. However, it looks like computeStride does not correctly identify cases where copy can be avoided, like the one in this issue.
Since computeStride https://github.com/pytorch/pytorch/blob/d54cf2aa2710023ccedc2b7a89e8a3a45dc01e78/aten/src/ATen/Tenso

[2021-02-03 00:44] stas00 commented on #51574
This is a very interesting idea, @mrzzd ! Thank you!

Will this work if the layers that are skipped from and to end up on different gpus?

Do you guys have any other examples of your work on the pipeline, other than benchmarks/tests? It'd be very useful to have more chunks of code to learn - it'd enable much quicker understanding.

[2021-02-03 00:48] #50322 closed

[2021-02-03 00:58] nbcsm commented on #51337
I agree with @gdankel , "use CPU+CUDA when CUDA is available" seems can better fit user's assumption.

[2021-02-03 01:08] mrzzd commented on #51574
I believe skipped data should work across gpus.
As for examples, that's a good point. I agree it helps to provide more
Same, for providing ways to make models pipeline-ready. To come up solutions for that need, a good set of complex scenarios will help a lot, so the effort you started here is very valuable.

[2021-02-03 01:13] vadimkantorov commented on #51574
There're also some quantization+scripting blockers for converting into nn.Sequential (scripting can't script `super().forward()` calls), e.g. https://github.com/pytorch/vision/issues/3331

[2021-02-03 03:07] soulitzer commented on #51349
@albanD I think your suspicions are correct. I've created a PR that /should/ fix this. At the very least we know its purely a python thing bc the following doesn't leak:

[code]

[2021-02-03 03:28] mruberry commented on #51471
Update from offline conversation: @jerryzh168 is investigating modules' state dict hooks.

[2021-02-03 03:40] malfet commented on #51026
Hmm, `acc_get_device_type` is defined as weak-symbol in libcupti_static.a:
[code]
which means, it does not need to be satisfied in order to load the library/executable. Consider following example:
[code]
@pearu, are you building with CUDA-11 by any chance?

[2021-02-03 03:49] stas00 commented on #51574
@vadimkantorov, I'm not sure how to  connect pytorch/vision#3331 with your suggestion, could please you be a little bit more specific.

What I'm heard you said is that there is an automatic way to convert a normal model to `nn.Sequential` , with the exception of models that contain `super().forward()` calls. Sounds great to me - How do I practically do that?

And also are you talking about scripti

[2021-02-03 04:03] malfet commented on #51559
@mdouze can you please try https://download.pytorch.org/whl/nightly/cpu/torch-1.8.0.dev20201210-cp38-cp38-linux_aarch64.whl ?
And I guess it's due to the bug in implementation of missing NEON intrinsics, that was fixed by  https://github.com/pytorch/pytorch/pull/50389

[2021-02-03 04:44] #49928 closed

[2021-02-03 05:24] rohan-varma commented on #50679
Fixed by #51095

[2021-02-03 05:24] #50679 closed

[2021-02-03 05:25] rohan-varma commented on #50510
@ajsanjoaquin Thanks! I'll take a look at the PR

[2021-02-03 05:31] rohan-varma opened #51616 "[RPC] rref.get_type() should have default return type of future"
## 🚀 Feature
https://github.com/pytorch/pytorch/pull/50977 is adding an option to make `rref.get_type()` not block. Per @mrshenli 's comments on that PR, it would be better if the `getRRefType` and _rref_typeof_on_owner return a future by default, so this function always returns a future. Then we can chain additional logic as a callback.

Open question: If we make this API public, should it by onl

[2021-02-03 05:41] mruberry commented on #50825
I folded these tasks (and more docs-related tasks) into the linalg tracking issue (https://github.com/pytorch/pytorch/issues/42666). Closing this in favor of that so we have fewer places to track updates. Let's suggest ways to improve doc consistency or add docs-related tasks there.

[2021-02-03 05:41] #50825 closed

[2021-02-03 05:42] mruberry commented on #50287
Findings incorporated into https://github.com/pytorch/pytorch/issues/42666.

[2021-02-03 05:42] #50287 closed

[2021-02-03 05:57] stas00 commented on #51574
# Complexity #2: huge groups of layers that get run conditionally on caller's input during forward

e.g. in t5 transformers a huge stack gets run if the model doesn't get `encoder_outputs` from the caller, but if it does - the whole big stack doesn't get run, many of the layers need to be removed from the Sequential, but on the next forward pass they may or may not need to be run again.

The only

[2021-02-03 06:38] malfet opened #51619 "ProcessGroupShareTensorTest crashes during shutdown if used with Python-3.9"
## To Reproduce

Steps to reproduce the behavior:

1. Build PyTorch against Python-3.9
2. Run `python test_c10d_spawn.py -v ProcessGroupShareTensorTest`
It will crush during shutdown with the following crash trace:
[code]

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @rohan-varma @gqchen @aazzolini @osalpekar @jiayisuse @agolynski @SciPioneer @H-Huang @mrzzd @cbalioglu

[2021-02-03 06:39] malfet commented on #51619
Presumably, because we are trying to add more elements during from the destructor, see:
[code]

[2021-02-03 07:09] zzxihuanheixiu opened #51621 "FR: Support complex eigenvalue autograd"
The error information is as follows:
RuntimeError: eig_ backward: Backward calculation does not support complex eigenvalues at the moment.

The details are as follows:
One step in my loss function is to calculate the eigenvalues of the matrix. I used the torch.eig function, but later when I used the reverse derivation of the loss function, the program was stuck in the position of the torch.eig fun

[2021-02-03 07:10] kshitij12345 opened #51622 "`fractional_max_pool{2, 3}d` inconsistent between CUDA and CPU"
2D Variant
[code]

3D Variant
[code]

cc @heitorschueroff

[2021-02-03 07:16] kshitij12345 opened #51623 "[docs] FractionalMaxPool2d : _random_samples arg is present in signature but undocumented."
## 📚 Documentation

`_random_samples` arg is present in signature but undocumented. Not sure if it is private argument based on the name, but since it is part of the public API, I think it should have some detail about what it does.

https://pytorch.org/docs/master/generated/torch.nn.FractionalMaxPool2d.html?highlight=fractionalmax

![Screenshot from 2021-02-03 12-42-52](https://user-images.github

[2021-02-03 07:18] kshitij12345 commented on #51623
Also `fractional_max_pool2d` is not documented. Not sure if it should be a separate issue of its own.
https://pytorch.org/docs/master/nn.functional.html

[2021-02-03 07:21] #48127 closed

[2021-02-03 07:39] kshitij12345 opened #51625 "[docs] FractionalMaxPool3D documentation is not available on documentation site"
The module and the functional variant are available.

![Screenshot from 2021-02-03 13-06-47](https://user-images.githubusercontent.com/19503980/106713651-c11fb780-6620-11eb-844e-a04cabff2a83.png)

But their documentation is not available on the site.

https://pytorch.org/docs/master/search.html?q=FractionalMaxPool&check_keywords=yes&area=default
![Screenshot from 2021-02-03 13-08-23](https://user-

[2021-02-03 07:41] zzxihuanheixiu commented on #33152
Please help me！！！

The error information is as follows:
RuntimeError: eig_ backward: Backward calculation does not support complex eigenvalues at the moment.

The details are as follows:
One step in my loss function is to calculate the eigenvalues of the matrix, which I used torch.eig Function, but later when I reverse the derivation of the loss function, the program got stuck torch.eig The positi

[2021-02-03 07:59] Kinetize opened #51627 "Complex Autograd: Expected isFloatingType(grad.scalar_type()) || (input_is_complex == grad_is_complex) to be true, but got false."
## 🐛 Bug

During the backwards pass on complex operations, the autograd fails with the following error: "Complex Autograd: Expected isFloatingType(grad.scalar_type()) || (input_is_complex == grad_is_complex) to be true, but got false.". This happens on GPU as well as on CPU.
It happens even though all used operations are listed [here](https://github.com/pytorch/pytorch/blob/72bc3d9de4f8baa28ebc8f9

[2021-02-03 08:08] gmagogsfm commented on #51136
This is actually same as problem 3 in [#51140](https://github.com/pytorch/pytorch/issues/51140). Basically instances of classes cannot be scripted.

After fixing that, the error becomes:
[code]

There is still room for improvement, ie. when recursively compiling classes we should explicitly check whether class is a subclass of `nn.Module`

[2021-02-03 08:30] pearu commented on #51026
Yes, we are using CUDA 11.0.3. If needed, I can try to reproduce the issue with other cuda versions 9.2 - 11.2. Just let me know.

[2021-02-03 10:00] caniko commented on #25639
Progress? It has been 2.5 months since last update.

[2021-02-03 10:02] qiwu57kevin opened #51631 "DataParalllel to ONNX"
## ❓ Questions and Help

I am new to Pytorch and distributed learning. I am using mlagents to do deep reinforcement learning. Their source code does not support training with multiple GPUs. Therefore, I wrapped a deep visual network (inherited from MobileNetv2) using DataParallel to speed up the training process in server. However, I get the following error:

    torch.onnx.export(
  File "/home/q

[2021-02-03 10:18] pearu commented on #51026
@malfet I think your cupti test is fine but I am not sure how this represents the situation when the issue appears.

So, to reiterate, we have
[code]
The following
[code]
shows that symbols with version `OACC_2.0` are only defined in `libgomp.so` (that is symlink to `libgomp.so.1.0.0`, the GNU OpenMP library) but the `ldd` shows (see above) that `libtorch_cpu.so` picks up `libgomp.so.1` which is s

[2021-02-03 10:18] antocuni commented on #42125
I think I found the problem, which manifests itself only on a very specific combination of conditions. I think the culprit is this line, which allocates the memory for the `torch.*Tensor` types such as `torch.ByteTensor` & co.:
https://github.com/pytorch/pytorch/blob/7b556db69d6545c7a61bd0a7f92da82c8085893c/torch/csrc/tensor/python_tensor.cpp#L249

Note that the vector itself is statically allocat

[2021-02-03 10:29] jamesbut commented on #50577
@glaringlee

Thank you for the reply :). I am working on this now, I will let you know if I have any more questions.

Best
James

[2021-02-03 10:38] mattip commented on #50695
Reopening since #50745 was only the first step: now that we have the file, we need to actually use it in the wheel-building process.

[2021-02-03 10:38] rgommers commented on #16574
There's another testing approach that should be cleaned up. Currently there are a few dedicated typing tests in `test/type_hint_tests/`, but they're not very useful (they're untyped Python code that won't catch all types of problems) and the one-snippet-per-python-file makes little sense.

Instead, we can adopt what NumPy does. It has a way to write a lot of typing tests very compactly in this for

[2021-02-03 10:41] mattip commented on #47624
Now that the `assertWarnsOnceRegex` is inplace, the next step is to replace `maybeWarnsRegex` with it.

[2021-02-03 10:43] vadimkantorov commented on #51574
I am talking that the class ResNet can't currently be made nn.Sequential directly because quantized verisons derive from it. In general, when classes derive from classes that derive from nn.Sequential, scripting can't script `super().forward()`. So when scripting is important, this may prevent base classes from be nn.Sequential directly (without conversions).

[2021-02-03 11:07] pyrator commented on #47354
I appreciate this has been discussed for some time now but this might help for some users:
I'm using Windows 10 and PyCharm with a pip venv. I somehow have two installs of Python 3.8, one at C:\Python38 and the other at C:\Users\%user%\AppData\Local\Programs\Python\Python38-32.
I am using the command pip install torch==1.7.1+cu101 torchvision==0.8.2+cu101 torchaudio===0.7.2 -f https://download.pyt

[2021-02-03 11:09] MohammadMahdiKazemi commented on #46586
I encountered this issue converting an action recognition model where a time-shift is needed.

[2021-02-03 11:48] Lezcano commented on #50204
Just a very small note, although it may or may not be useful.

In @nikitaved derivation in https://github.com/pytorch/pytorch/issues/50204#issuecomment-756788183 , you just need `A` to be symmetric and invertible and `B` PSD for `A^{-0.5} B A^{-0.5}` to be PSD (rather than needing `A` to be PSD as well). This means that it also works for general non-degenerate products.

[2021-02-03 13:29] nurpax commented on #51055
OK, sorry for the long comment.  I have repro'd this problem now on multiple different nightly and cuda versions.  I'll summarize first, the latter part of this comment will contain a Dockerfile that I used to build images, command line used to build it, and raw notes on what happened in the various versions.

A hang is the most common occurrence, but I was able to easily repro multiple assertions

[2021-02-03 13:31] pearu commented on #51026
Not sure if useful, the pytorch build shows:
[code]

Btw, when `python -c 'import torch'` fails then
[code]
succeeds (although using both `libgomp.so` and `libgomp.so.1` does not make sense as one corresponds to GNU and another to LLVM OpenMP).

[2021-02-03 13:37] ezyang commented on #42125
In other cases we've leaked allocations like this, I think it's probably OK to do that here. It's simple, at least.

[2021-02-03 13:41] antocuni commented on #42125
just to be 100% sure, you are talking about solution (1) above, aren't you?

[2021-02-03 14:02] ezyang commented on #42125
Yep

[2021-02-03 14:55] almson commented on #50201
@mattivi I think you can replace isqrt() with just int(sqrt()), you don't need to reimplement the entire function. I haven't done extensive benchmarking. Did you profile to see which part is slow? Each iteration just does a little math and should be very fast.

[2021-02-03 14:55] mthrok commented on #51197
So, do we have a (sort of) agreement of (proactively) using these directives? I do not see a reason not to use them, but with a explicit consensus, domain libraries can start working on it.

[2021-02-03 15:24] zou3519 commented on #10115
Closing this issue due to age (and because the problem may have been fixed already from all the changes we've made over the years). Please feel free to open a new issue if you see this again.

[2021-02-03 15:24] #10115 closed

[2021-02-03 15:28] zou3519 commented on #51627
Tentatively marking high-pri for what looks like incorrect behavior (complex gradients for the operators should be implemented)

[2021-02-03 15:29] zou3519 commented on #51625
We would accept a patch to fix this

[2021-02-03 15:30] zou3519 commented on #51623
Based on the name my guess is that the attribute is private. What say you, @jbschlosser?

[2021-02-03 15:31] zou3519 commented on #51621
Do you have a self-contained script which we could use to reproduce the problem?

[2021-02-03 15:33] glaringlee commented on #44809
reserve this as onboarding task

[2021-02-03 15:37] albanD commented on #51621
Hi,

As mentioned in the error message, it does not support backward when any eigenvalue is not purely a real number (any non-zero imaginary part).

[2021-02-03 15:43] albanD commented on #51627
Hi,

I cannot repro on nightly with the following script. Am I missing anything?

[code]

[2021-02-03 15:45] albanD commented on #10065
Note that if you do this now, you will get the following warning when accessing the `.grad` field of w1:
[code]

@zou3519 is that enough?

[2021-02-03 15:55] jbschlosser commented on #51623
Agree that the intention is for the attribute to be private, as indicated by the preceding underscore. This is consistent with what is done elsewhere (e.g. the undocumented `_weight` in [nn.EmbeddingBag](https://pytorch.org/docs/stable/generated/torch.nn.EmbeddingBag.html)).

That said, my opinion is that we shouldn't have undocumented inputs in the public API, underscore or not. But I think that

[2021-02-03 16:30] zou3519 commented on #10065
@albanD that looks pretty good and explains the problem and solutions! Closing this issue

[2021-02-03 16:30] #10065 closed

[2021-02-03 16:31] stas00 commented on #51574
Oh, I think I get it, @vadimkantorov - you're adding to the list of obstacles/complexities - may be edit it then to use a title markdown so that it stands out? Then we can use this issue to gather the different problems - perhaps we will fork off each one to a different issue, to be solved. But for now let's just gather them in one place as we encounter such. Thank you!

[2021-02-03 16:44] Kinetize commented on #51627
No, you're not missing a thing, I was. the problem actually lies somewhere else. I just considered this code could not be of any issue.

To demonstrate the problem, I wrote a minimal version reproducing the issue:
'''
import torch
from torch import nn

v = nn.Parameter(torch.randn(2, 2))
inp_r = torch.randn(3, 2) @ v.T
inp_c = torch.rand(3, 2, dtype=torch.cfloat)

inp = torch.cat([inp_r, inp_c], d

[2021-02-03 16:48] heitorschueroff opened #51643 "torch.linalg.cond return dtype inconsistent with doc and np.linalg.cond"
## 🐛 Bug

torch.linalg.cond always returns a real-valued tensor which is inconsistent with the doc and np.linalg.cond.

## To Reproduce

From the doc examples:

[code]

Result has dtype ``float32`` instead of ``complex64``.

## Expected behavior

Result dtype should match input dtype except when p = {None, 2, -2} and out=None, in which case the result should be real valued.

## Environment

PyTorc

[2021-02-03 16:49] mattip commented on #51256
I think this might be bug/feature of the search functionality. Note that the repeated searches all have "Data" and "Parallel" in them. If instead of `DATA+PARALLEL` you search for `DATAPARALLEL` the duplicates go away.

[2021-02-03 16:51] heitorschueroff commented on #51643
@mruberry and @IvanYashchuk, do we want to respect the out dtype for p = {None, 2, -2} or should we require out to be real valued for these?

[2021-02-03 16:53] financialphysician opened #51644 "Segmentation Fault: Garbage collector, cuda memory"
## 🐛 Bug

This bug the result of strange behavior between the garbage collector and checking memory allocated on a specific device.

## To Reproduce

Steps to reproduce the behavior:
[code]

`Segmentation fault (core dumped)` or if you run it in a notebook your kernel will simply die.

What's really interesting is there's a lot of ways to avoid this error, if you've put anything on cuda than you'l

[2021-02-03 16:56] stas00 commented on #51256
the dups go away and so any results that aren't `dataparallel`, which is not what the user searched for, which was 'data+parallel' - e.g. `torch.nn.parallel.data_parallel` is no longer shown.

[2021-02-03 17:32] gchanan commented on #51431
Similar issues: https://github.com/pytorch/pytorch/issues/49090, https://github.com/pytorch/pytorch/issues/9190.

[2021-02-03 17:32] gchanan commented on #51431
I'm just going to close this in favor of #9190 -- we should just support full type promotion.

[2021-02-03 17:33] #51431 closed

[2021-02-03 17:34] gchanan commented on #49090
Going to close in favor of https://github.com/pytorch/pytorch/issues/9190.

[2021-02-03 17:34] #49090 closed

[2021-02-03 17:35] gchanan commented on #50382
is this also C++ only?  We don't expose out variants of nn functions in python do we?

[2021-02-03 17:36] gchanan commented on #50530
@mrshenli why is this marked bc-breaking?

[2021-02-03 17:45] gchanan commented on #50980
Looks like it's fixed by https://github.com/pytorch/pytorch/pull/51248.

[2021-02-03 17:45] #50980 closed

[2021-02-03 17:46] malfet commented on #51592
@dncliss can you please check, if setting BUILD_TEST to OFF and see if the build succeeds? If this is the case, probably easiest solution would be to disable the test if compiled with gcc7

[2021-02-03 17:47] #51196 closed

[2021-02-03 17:51] heitorschueroff opened #51652 "Move torch.det implementation to linalg namespace and add out= argument."
Currently, torch.linalg.det is an alias for torch.det. We should move the implementation of torch.det to the linalg namespace and also add an out= parameter. Then make torch.det alias torch.linalg.det instead

cc @jianyuh @nikitaved @pearu @mruberry @heitorschueroff @walterddr @IvanYashchuk

[2021-02-03 17:54] dncliss commented on #51592
@malfet - sure, I'll try that.  I just added `export BUILD_TEST=OFF` to the run script and started it again, so we'll see; it's running now https://powerci.osuosl.org/job/pytorch-py3-test_gpu/66/console

[2021-02-03 18:01] ljk53 commented on #51535
I wrote a simple script to build wheel / libtorch on raspberry pi itself (takes 3~4hrs to build on a 4G RPi-4): https://github.com/ljk53/pytorch-rpi
I don't know if anyone tried cross compiling pytorch for RPi. Maybe we should create one.

[2021-02-03 18:05] jamesr66a opened #51654 "[FX] string type annotations on traced function signature fails"
[code]

[2021-02-03 18:13] seemethere commented on #51080
Looks like my initial patch of setting the `cudatoolkit>=11.0,<11.1,!=11.0.221` didn't work correctly and resulted in https://github.com/pytorch/vision/issues/3342

I've submitted https://github.com/pytorch/builder/pull/642 as another patch to try out for this which turns the dependency into `cudatoolkit>=11.0,<11.0.221`

[2021-02-03 18:22] IvanYashchuk commented on #51643
`torch.linalg.cond` was changed to always return a real-valued tensor in https://github.com/pytorch/pytorch/pull/48284. We've discussed that with @kurtamohler and @mruberry yesterday and came to the conclusion it's the right thing to be divergent from NumPy in this case. This behavior should be fixed in NumPy and the issue was filed https://github.com/numpy/numpy/issues/18304.

When normal `torch.

[2021-02-03 18:23] dncliss commented on #51592
I see it failed the same way, seeming to have no effect.  Then again, although I don't have expertise in this, I am not sure how this plays into building tests, as it is not clear to me that building `caffe2/CMakeFiles/torch_cpu.dir/__/aten/src/ATen/native/cpu/TensorCompareKernel.cpp.VSX.cpp.o` is specific to tests, and would be skipped if not building tests?  The failing command in full, from the

[2021-02-03 18:47] mrshenli commented on #49633
another instance: https://app.circleci.com/pipelines/github/pytorch/pytorch/268819/workflows/2123475a-52df-42db-af42-b9c9ddaa56d4/jobs/10637196/steps

[2021-02-03 18:49] vadimkantorov opened #51656 "[proposal] Multi-dim torch.max + return_indices"
Sometimes it's good to do multi-dim max pooling in some normalization scenarious, e.g. `tensor5d / tensor5d.flatten(start_dim = -3).max(dim = -1).values[..., None, None, None]`.

This is quite verbose, I propose to support the following: `tensor5d / tensor5d.max(dim = (-3, -2, -1), keepdim = True, return_indices = False).values`

When `return_indices == False`, the returned indices tensor would be

[2021-02-03 18:49] ailzhang commented on #49485
Closing as this is a fairseq issue. Please feel free to open a new issue.

[2021-02-03 18:49] #49485 closed

[2021-02-03 18:50] mrshenli commented on #46863
https://app.circleci.com/pipelines/github/pytorch/pytorch/268819/workflows/2123475a-52df-42db-af42-b9c9ddaa56d4/jobs/10637199/steps

[2021-02-03 18:52] mrshenli opened #51657 "DISABLED test_single_threaded_rref_owner (__main__.ProcessGroupProcessGroupAgentRpcTestWithSpawn)"
https://app.circleci.com/pipelines/github/pytorch/pytorch/268750/workflows/17646620-4305-4220-88dd-a4b19b66d69d/jobs/10632737/steps

[code]

[code]

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @rohan-varma @gqchen @aazzolini @osalpekar @jiayisuse @agolynski @SciPioneer @H-Huang @mrzzd @cbalioglu

[2021-02-03 18:56] malfet commented on #51552
Thank you for filing the issue. Unless we can speed them up, I plan to move those to slow tests and/or disable some of them.

[2021-02-03 19:08] kurtamohler commented on #51643
We should update the example in the docs to reflect the real type output

[2021-02-03 19:10] malfet commented on #51592
@dncliss is there a way I can trigger those builds (as right now my only way of experimenting is running snippets on https://godbolt.org/ )

[2021-02-03 19:21] gchanan commented on #51361
probably not worth doing the BC-breaking change on as the semantics are explained by the signature.

[2021-02-03 19:23] IvanYashchuk commented on #51552
In my PR migrating method_tests to OpInfo I changed the batch dimensions to (1, 1) instead of (3, 2). This gave some speedup but still QR tests are the slowest https://github.com/pytorch/pytorch/pull/51107#issuecomment-767487056.

I think disabling the "many_batched" cases is a good idea. They don't bring much value compared to "batched" cases.
https://github.com/pytorch/pytorch/blob/master/torch/

[2021-02-03 19:31] albanD commented on #51627
Thanks for the new example!

cc @anjali411 did we miss that case when reviewing/testing the backward of the `cat` op?

[2021-02-03 19:38] vadimkantorov commented on #51361
And probably not feasible in Python :(

[2021-02-03 19:38] #51361 closed

[2021-02-03 19:44] z-a-f opened #51662 "Quantizable MHA error too high when bias=False"
#49866 introduces the quantizable MultiheadAttention. However, when the bias=False, the SNR drops to ~10dB. Need to investigate and remedy.

cc @jerryzh168 @jianyuh @dzhulgakov @raghuramank100 @jamesr66a @vkuzo

[2021-02-03 19:50] Erotemic opened #51663 "Torch DataLoader fails to reraise error from sqlalchemy."
## 🐛 Bug

The `reraise` functionality in torch.utils.data.dataloader seems to break when used in combination with sqlalchemy.

## To Reproduce

I have a Dataset that uses an sqlalchemy engine to lookup item information. I'm still working out how to do that correctly, but in the process it seems like torch is not handling errors from sqlalchemy correctly:

[code]

When I dug into this I printed the

[2021-02-03 19:52] gchanan commented on #51333
works on a recent version of PyTorch, we won't be fixing pytorch 1.5.

[2021-02-03 19:52] #51333 closed

[2021-02-03 19:53] heitorschueroff commented on #51643
@IvanYashchuk Thanks for clarifying. I'll update the docs to reflect this then. @kurtamohler I'll also add a note about the output dtype always being real valued.

[2021-02-03 20:02] gchanan commented on #51627
I couldn't reproduce this on nightly.

[2021-02-03 20:11] quickwritereader commented on #51592
I just checked the workaround for it.
First one could be using aliased vector.
the second one is to switch to vec_perm.

let's try the first one.
I believe using _vecb0 instead of _vec0 pairs should be sufficient as it worked in godbolt.
` return {vec_mergee(_vecb0, _vecb0), vec_mergee(_vecb1, _vecb1)};`

[2021-02-03 20:12] H-Huang commented on #51413
Hard to say without looking at the model. However, these github issues are dedicated for issues related to the PyTorch library. For implementation details of your model feel free to ask in the [PyTorch forums](https://discuss.pytorch.org/). Thanks!

[2021-02-03 20:12] #51413 closed

[2021-02-03 20:16] vkuzo commented on #51090
this is the same as https://github.com/pytorch/pytorch/issues/42351

[2021-02-03 20:16] #51090 closed

[2021-02-03 20:19] dncliss commented on #51592
@malfet Good question.  I see that I was able to set the permission (at least temporarily) to allow an anonymous user to start the build. I could leave it like that temporarily but I don't want to allow anonymous users to edit stuff there.  But if you can only trigger the build without editing anything (as it just builds master), would that have any value?
(By this, I mean the test build at https:

[2021-02-03 20:19] gchanan commented on #51210
I don't get the view point for complex tensors.  Presumably you want it to be read-only and it might be most fruitful to implement it as a read-only-view, but it's not really a view from the perspective of the real tensor AFAICT.

[2021-02-03 20:43] anjali411 commented on #51627
The issue is probably that `torch.cat` backward function doesn't correctly handle the `R->C` case right now. trying to locally reproduce it now

[2021-02-03 20:46] ezyang commented on #51197
Yup, go for it.

[2021-02-03 20:48] dncliss commented on #51592
With the _vecb0 instead of _vec0 change, replaced in each error location reported in `../aten/src/ATen/cpu/vec256/vsx/vec256_complex_float_vsx.h` , the reported "invalid parameter" error does go away, but a different error occurs. (In testing, I'm just running the isolated failing c++ command from above, not the entire build, just to see if it will compile `TensorCompareKernel.cpp.VSX.cpp.o` ).

T

[2021-02-03 20:48] robin5540 commented on #39842
I can take stab at this. I'm guessing a naive solution here is just to stack first then construct tensor in the python frontend.

[2021-02-03 20:51] kurtamohler commented on #13918
I will add a warning

[2021-02-03 21:02] quickwritereader commented on #51592
I see. don't change vec_sldw. we have defined a function only for vector float for it

[2021-02-03 21:02] kurtamohler commented on #49400
@ezyang and @jimmy-walker, does my comment above make sense, and do you agree that it's a non-issue?

[2021-02-03 21:11] dncliss commented on #51592
Ahh!  I see, I over-corrected.
So I put back vec_sldw on line 297, and the compile completed without error.  Whew!
Granted, this was a test of the one file that had failed rather than a full build, but it does look good.

[2021-02-03 21:14] glaringlee commented on #50530
@MisakaZipi
Ninja became the default compile option for cpp extension. If you don't have ninja installed. Try this:
cmdclass={'build_ext': BuildExtension.with_options(use_ninja=False)}

[2021-02-03 22:02] xwang233 commented on #51544
@ngimel , thrust team said the new behavior for `thrust::exclusive_scan` is the intended behavior, and there won't be a fix. Details can be found in the above linked nvidia/thrust issue.

Can we get the fix PR merged, or do we need any changes?

[2021-02-03 22:05] evinpinar commented on #47990
In the end, I have added bias and uniform weight initialization:
`if bias:
            self.bias = nn.Parameter(torch.zeros(out_channel).float(), requires_grad=True)

        stdv = 1. / math.sqrt(self.conv.size(1))
        self.conv.data.uniform_(-stdv, stdv)
        if bias:
            self.bias.data.uniform_(-stdv, stdv)`

So far, it is not working in exactly the same way, but it is good enoug

[2021-02-03 22:24] ngimel commented on #51544
Yes we do, can we please use `thrust::transform_iterator` as suggested on the issue to avoid materializing long tensor?

[2021-02-03 22:27] pbelevich opened #51670 "RemoteModule should place the input on the appropriate device before calling forward"
RemoteModule moves the underlying layer on the device, but it doesn't move the input to the same device before calling forward.

Suppose we have this:
[code]
It puts an instance of nn.Linear to cuda:0 on worker1, but calls its forward method with input x on cpu.

We probably need to enhance [_remote_forward](https://github.com/pytorch/pytorch/blob/8e53bf010d1309b056d6e1d31a9362a7b92736ff/torch/dis

[2021-02-03 22:32] jamesr66a commented on #51654
NB this also happens with `from __future__ import annotations`

[2021-02-03 22:37] rohan-varma opened #51673 "[JIT/Futures] Future callbacks/then() APIs should throw the correct exception"
## Future callbacks/then() APIs should throw the correct exception

If a future is completed with an error and callbacks are invoked, any exceptions in the callback are caught and a `RuntimeError` with the exception information is raised instead:
https://github.com/pytorch/pytorch/blob/master/torch/csrc/jit/python/pybind_utils.h#L136

We should instead preserve the original exception type so that

[2021-02-03 22:38] anjali411 commented on #51627
I was able to reproduce this on master:
[code]
the gradients propagated for the floating_point tensor right now are complex valued. We have a special check in the autograd machinery to error out exactly when this happens. Working on a fix now to return correct real valued gradients for such `R->C` cases.

[2021-02-04 01:12] touqir14 commented on #39842
@robin5540 , I have already implemented a solution for this and a PR will soon be posted.

[2021-02-04 01:21] robin5540 commented on #39842
I'll leave it to you then.

[2021-02-04 01:24] gmagogsfm commented on #48191
Taking down some discussions with @eellison

TorchScript requires some containers (`List`, `Dict`) to have homogeneous element types. `nn.Module`s are typed according to their individual instances. So if we still use `List` or `Dict` to hold modules faithfully, then this feature comes with a limitation: either 1) all member elements must be identical modules 2) if they all conform to a `torch.jit.

[2021-02-04 01:25] gmagogsfm commented on #46684
Closing this out, I think we discussed this offline in chat and resolved it.

[2021-02-04 01:25] #46684 closed

[2021-02-04 01:26] PetrochukM opened #51688 "Is `torch.multiprocessing.spawn` compatible with `DataLoader`?"
## 📚 Documentation

Is `torch.multiprocessing.spawn` compatible with `DataLoader(num_workers)`?

PyTorch-Lighting has produced a lot of content saying that `multiprocessing.spawn` isn't compatible with a multiprocessing `DataLoader`. For example:
https://youtu.be/a6_pY9WwqdQ?t=197
https://pytorch-lightning.readthedocs.io/en/stable/multi_gpu.html#distributed-data-parallel
https://github.com/PyTorch

[2021-02-04 01:38] GuoQuanhao opened #51689 "Cannot get the summary"
platform: win10
version: 1.6.0

# net.py
[code]

# retinaface.py
[code]
when I use `python retinaface.py`, I get the following error
[code]
so, how can I get the summary

[2021-02-04 01:49] albanD opened #51691 "jit internal python bindings all get added to the `torch.` namespace."
### The problem

We have a construct in the torch init that adds to `torch.XX` anything that is is `torch._C.XX`.
The jit init is given the torch._C module here: https://github.com/pytorch/pytorch/blob/45e5562fcc5b0759b26f46f18f1156213b354902/torch/csrc/jit/python/init.cpp#L134
This file adds a lot of internal stuff (_XX) which is ok as they are not added to `torch.`.

But the python IR binding ca

[2021-02-04 02:52] rohan-varma commented on #40166
Adding high-pri and oncall:distributed to track for better engineering purposes

[2021-02-04 02:53] rohan-varma commented on #40107
@mrshenli I see we have added a `collect_all` in futures API, is that enough to resolve this one?

[2021-02-04 02:55] rohan-varma commented on #39351
Adding oncall: distribued and high-pri to track for better eng purposes

[2021-02-04 03:20] wconstab commented on #51381
Closing this issue as CI data from 1/28 and 1/29 were collected using the wrong CI configuration and resumed CI data on 2/3 aligns with previous data - looks like a false alarm.

[2021-02-04 03:20] #51381 closed

[2021-02-04 03:23] wconstab commented on #51383
note- 1/28 and 1/29 CI data is suspect as the wrong CI configuration was used on those days, but keep watching this one as resumed (presumed correct) 2/3 CI data still doesn't revert to the previous best performance level.

[2021-02-04 03:47] mruberry commented on #39842
We should verify this is still happening on more recent builds and when using the typical `torch.tensor()` tensor factory. I'm not sure how much faster we can make torch.tensor() in this case, but one option would be to throw a warning that users should stack their NumPy tensors before the call for better performance.

[2021-02-04 03:56] mruberry commented on #39842
Actually, duping this in favor of the older https://github.com/pytorch/pytorch/issues/13918.

[2021-02-04 03:56] #39842 closed

[2021-02-04 03:57] SomTambe opened #51699 "Why is Orthogonal initialization not channel-wise?"
## ❓ Questions and Help

When `torch.nn.init.orthogonal_()` is provided with a tensor with `dims > 2`, it flattens the tensor and initializes it to an orthogonal matrix before converting it into the original size.

Shouldn't it initialize all the channel wise tensors to orthogonal? In a Conv2d layer, I would prefer that more right? Does anybody any idea here why it isn't being done, or else I can

[2021-02-04 04:04] hokaso opened #51700 "Using LAPACK on Pi4 (64Bit Raspberry Pi OS RAM 8GB)"
I currently run Raspberry Pi OS 64Bit Beta on my Pi4.
I'm almost done getting stable-baselines3[extra] running, but I get a runtime error when Torch tries to calculate a qr decomposition using LAPACK.
Here is what I have been doing (using a virtualenv with python3.7) on the Pi:

pip install numpy scikit-build
pip install torch-1.8.0a0-cp37-cp37m-linux_aarch64.whl
sudo apt install libssl-dev libjpe

[2021-02-04 04:22] mindmapper15 commented on #44172
Anyone knows what's the cause of this error?
I have the same error too...

[2021-02-04 05:19] DuinoDu commented on #34242
Got similar problem:

[code]

NEED HELP!

[2021-02-04 05:22] mattip commented on #45687
Here is a beginning of an analysis, I could not hit the code in the second and third lines @mruberry pointed to via tests. As pointed out already, the reproducer at the top of the issue hits `_verify_batch_size` where the third variant emits the error.

The line from `SyncBatchNorm.forward` (`pytorch/torch/nn/modules/_functions.py`), is only used in `torch.nn.parallel.DistributedDataParallel`. Con

[2021-02-04 05:23] jianlong-yuan commented on #14095
Any news?

[2021-02-04 05:25] DNXie commented on #51352
@albanD
Sure. An appropriate error message sounds better than crash. Thanks!

[2021-02-04 05:32] #51627 closed

[2021-02-04 05:41] #51366 closed

[2021-02-04 05:47] kshitij12345 opened #51708 "[docs] fractional_max_pool2d documentation is not available on documentation site"
The functional variant `fractional_max_pool2d` is available for use but is undocumented on site.

![Screenshot from 2021-02-03 13-06-47](https://user-images.githubusercontent.com/19503980/106850331-5337c680-66da-11eb-92be-5578697f9ab3.png)

![Screenshot from 2021-02-03 13-08-58](https://user-images.githubusercontent.com/19503980/106850358-5fbc1f00-66da-11eb-9592-08ed11b2ad75.png)

Reference: https

[2021-02-04 06:07] KumaTea opened #51710 "Failed to cross compile: '/bin/mkalias', needed by 'sleef/src/libm/include/alias_advsimd.h', missing and no known rule to make it"
## ❓ Questions and Help

Hi.

I'm trying to cross compile PyTorch wheels for arm or arm64 machines. My configs are as follows:

1. from Docker `python:3.9`

[code]

2. setting cross-compiling environment

[code]

3. start building

[code]

---

After it started building, I comfirmed the generated config (starts with `-- ******** Summary ********`) are the same as host-compiling.

But it failed bui

[2021-02-04 06:08] rohan-varma commented on #41143
I believe @osalpekar/@mrshenli/@malfet worked on this last half, are we able to close this issue out?

[2021-02-04 06:15] #41143 closed

[2021-02-04 06:15] malfet commented on #41143
Yes

[2021-02-04 06:22] #44365 closed

[2021-02-04 06:30] malfet commented on #51026
@pearu you are building it in conda-forge, right? I yet not understand why, but look like this issue only manifests if built with conda-forge, where libgomp.so.1 contains a versioned symbol `acc_get_device_type@@OACC_2.0`

[2021-02-04 06:39] malfet commented on #51535
@ljk53 small problem with your approach is that torch would not load unless you have an openblas installed locally.
I have a slightly more involved script that packages all dependencies internally, see https://github.com/pytorch/builder/blob/master/build_aarch64_wheel.py
I guess bigger problem with arm32 binary distribution is that there are no baseline binary standard similar to manylinux for x86

[2021-02-04 07:14] xieshuqin commented on #34242
@DuinoDu Unfortunately I didn't manage to work around that bug. At this time I saw several other issues referring to this one and it seems like a known bug from thrust library used in CUDA. Sadly people can't really produce a minimal test case to reproduce that bug. Neither can I.

[2021-02-04 07:21] kshitij12345 commented on #51544
@ngimel
How does casting `init_value` to correct type sound. I have verified that it works.

[code]

[2021-02-04 07:49] touqir14 commented on #39842
@mruberry , this indeed happens in the latest builds. With the optimization (it does not involve stacking using numpy c api), I am getting about ~3.5x speedup over using numpy.stack in the example below:
[code]
Moreover, the optimization carries over to the more general case of arbitrarily stacking arrays recursively, eg: [[[x1, x2], [x3, x4]], [[x5, x6], [x7, x8]]]

[2021-02-04 07:51] mruberry commented on #39842
Interesting -- looking forward to seeing it!

[2021-02-04 07:56] Jasonlee1995 opened #51711 "Weird behavior in Conv2d padding when changed to 'reflect'"
![image](https://user-images.githubusercontent.com/49643709/106861754-8ba2c900-6709-11eb-9eb1-d1ff1f4e50e0.png)

When I change the convolution layer change the padding mode to 'reflect', it results weird behavior...

I'm using pytorch 1.7.1 cuda 11.0 stable.

Also asked to pytorch forum but nobody answered.
https://discuss.pytorch.org/t/changing-conv2d-parameters-from-pre-trained-models/110538

[2021-02-04 08:03] viki-li opened #51712 "UserWarning: The epoch parameter in `scheduler.step()` was not necessary and is being deprecated where possible. Please use `scheduler.step()`"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1.
1.
1.

## Expected behavior

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out the checklist below manually).

You can get the script and run it with:
[code]

 - PyTorch Version (e.g., 1.0):
 - OS (

[2021-02-04 08:08] pearu commented on #51026
@malfet , no, the issue appears also in a local server when using conda-forge packages.
For the record, here's the output of your test:
[code]

[2021-02-04 08:21] pearu commented on #51026
Notice that replacing `-lgomp` with `-L$CONDA_PREFIX/lib -lomp` works:
[code]

[2021-02-04 08:33] almson commented on #50689
The current implementation of RandomSampler is not slow, it just gobbles memory. Unless you're hitting swap, the cause of slowness is surely elsewhere in your data loading pipeline. Have you examined your I/O stack?

[2021-02-04 09:21] Kiyosora opened #51714 "Inconsistent result between NumPy and PyTorch in complex power for 0"
## 🐛 Bug
When calculating 0 to power a complex number with negative image part, got an inconsistent result with NumPy.
I'm not sure whether this inconsistency is in our favor, I could have a try if a fixing is needed.

## To Reproduce
[code]

## Expected behavior
Consistent complex results with NumPy, like:
[code]

## Environment
[code]

[2021-02-04 09:39] #49969 closed

[2021-02-04 09:52] #51546 closed

[2021-02-04 09:56] ysl208 commented on #32994
Hi, I'm still getting the error even though I have that solution posted by @zetayue already. Anyone can help?

[2021-02-04 10:27] areesejimmy opened #51716 "nn.functional.kl_div(p, p) is not 0"
## 🐛 Bug

The **Kullback-Leibler** divergence between a distribution `p` and itself must be equal to `0`. Using `nn.functional.kl_div(p, p)` does not output `0`.

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

`tensor(0.)`

## Actual behavior

`tensor(-0.1753)`
Changing the dimensions of the input changes the output but it's not zero.

## Environment
[code]

[2021-02-04 11:21] Costor commented on #20692
I confirm the bug still exists for 1.7 in the current version.

The bugfix provided in ~/pytorch/cmake/External/nccl.cmake  around line 40 in the make statement below is non functional.
Workaround is - as said above: edit in nccl.cmake to "--jobs=2"  and delete the trailing $ENV{MAX_JOBS}.

Problems seem to be  1) $ENV{MAX_JOBS) does not pick up the value of the environment variable 2) having a sp

[2021-02-04 11:28] sadakmed opened #51717 "Reset seed in pytorch"
I just set torch seed to 0 with `torch.manual_seed`, Is there any way to reset the seed.

my case was, I wanted to generate a fixed random tensor, without affecting the randomness of others(other tensors should be different each time).

I found a context manager in `torchfunc`  module, but I don't have access to it in HuggingFace

[2021-02-04 11:38] EinarBjorn commented on #35881
Same problem with Mask R-CNN resnet 50 model

[2021-02-04 11:57] frgfm commented on #39674
@mruberry just checking whether you agree with the general idea of the potential PR?

@imjiangjun perhaps I misunderstood your suggestion, but that's one of the goal of my suggestion actually :ok_hand:

[2021-02-04 12:07] zzxihuanheixiu commented on #51621
Then I can't do the project

[2021-02-04 12:11] Ehsan1997 commented on #51417
If I understand this correctly, you addressing the transfer part (Optimizing transfer speed from cpu to gpu might help but it won't be enough).

This is not what I am after, the bottleneck is in transforms being applied to frames before the data is transferred to GPU. If we move the data to GPU first, and then apply transforms, this bottleneck is removed.

[2021-02-04 12:12] kshitij12345 commented on #51623
Another question, because it is a private argument is it fine to not check that both the Tensors are on same device? Or should there be checks for that?

Sample Snippet:
[code]

[2021-02-04 12:14] zzxihuanheixiu commented on #51621
There is such a step in my project:
          (evals, eigvecs) = torch.eig(matrix, eigenvectors=True)

If there are complex numbers in the eigenvalues of matrix，the inverse derivation of evals or eigevecs will not be computed。Oh my god！I can't finish my project！I really want to finish my tutor's task and play cyberpunk 2077！

[2021-02-04 12:17] gaohuazuo commented on #13061
It turns out that, for my case, the `CPLUS_INCLUDE_PATH` environment variable is the one to blame. If `CPLUS_INCLUDE_PATH`  contains the build directory (hint: check for extra `:`), the wrong header will be used.

[2021-02-04 12:33] Krosus opened #51718 "Quantized LeakyReLu Bug: Input tensor size determines the output values"
## Issue description

Leaky ReLu returns different results on quantized data based on the size of the input tensor. If the input tensor has 63 or less elements it returns correct results. If the input tensor has 64 or more elements some returned elements will be different.

**Problem:** Leaky ReLu should return the same transformations no matter the input size.

In the example below we send uint8

[2021-02-04 13:35] pearu commented on #51026
Here is a small reproducer script for the conda environment:
[code]
that outputs:
[code]
When not having `mkl` in the environment, the test1 succeeds (output is 91).

[2021-02-04 14:12] FantasyJXF commented on #50529
@xDooooot  Hi,  how to ` run the code in a synchronization way`?

I met the same problem that tensors transfering between CPU and CUDA very slow.

[2021-02-04 14:29] #51582 closed

[2021-02-04 14:35] ejguan commented on #51417
There are several solutions for that.
One suggestions is to write a customized `collate_fn` for dataloader to move data into gpu and run transform in `collate_fn`.

[2021-02-04 14:42] mattip commented on #51256
Over at sphinx they recommend updating to the latest release. Is there any desire to move to Sphinx v3+ ?

[2021-02-04 14:47] vadimkantorov opened #51719 "Allow -1 in unflatten shape argument"
I think it makes sense and is useful
[code]

[2021-02-04 15:07] SsnL commented on #51716
https://pytorch.org/docs/stable/nn.functional.html#torch.nn.functional.kl_div

[2021-02-04 15:10] SsnL commented on #51711
it is not supported that you set attributes like `padding` and `padding_mode` after creating the object (rather than as arguments).

[2021-02-04 15:26] IvanYashchuk opened #51720 "Support for 64-bit (ILP64) LAPACK"
## 🚀 Feature

There are LAPACK implementations that support a 64-bit indexing interface, usually referred to as ILP64. I think using huge arrays (more than 2^31-1 elements) for dense linear algebra is unreasonable. However, current wrappers of LAPACK [(here)](https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/BatchLinearAlgebra.cpp) use `int` everywhere, so it's not correct when t

[2021-02-04 15:34] gchanan commented on #51689
this looks like an issue with torchsummary, you should contact them at https://github.com/sksq96/pytorch-summary.

[2021-02-04 15:34] #51689 closed

[2021-02-04 15:41] gchanan commented on #51717
can you kindly ask on the discussion forum: https://discuss.pytorch.org/ ?  We keep github for bugs and feature requests.

[2021-02-04 15:41] #51717 closed

[2021-02-04 15:46] #51716 closed

[2021-02-04 15:48] joacorapela commented on #49993
Hello @fehiepsi,

 I repeated my analysis with different initial conditions, as you suggested, but obtained very different results. I am appending my            evaluation code, in case the difference in my results is due to a mistake in the use of Pytorch, which I doubt. Also, if you can, please post your           evaluation code and I will study why our evaluations are different.

 I will comme

[2021-02-04 15:52] #51712 closed

[2021-02-04 15:53] pearu commented on #51720
Intel MKL provides `MKL_INT` that switches between `int` and `int64_t` depending on which MKL library (32 or 64 bit int version) is used. So, using `MKL_INT` instead of `int` *now* in the MKL related source code of pytorch would simplify the *future* support for ILP64. However, since MKL is not always used, `lapack_int` would be a more general use but it would likely need to use `MKL_INT` when MKL

[2021-02-04 15:58] gchanan commented on #51644
what version are you using (see the instructions about collect_env.py when you file an issue).

I could not reproduce this on master, I get an error message:
[code]

which is probably also wrong (but less serious) because it's not initializing cuda, i.e. the following works:

[code]

[2021-02-04 16:00] gchanan commented on #51644
confirmed it crashes in 1.7.0 but this has been fixed.

[2021-02-04 16:02] gchanan commented on #51719
looks like this has already been asked for, but in the context of named tensor: https://github.com/pytorch/pytorch/issues/28142

[2021-02-04 16:03] gchanan commented on #51719
triage review for how to label.

[2021-02-04 16:17] DimChatz opened #51723 "Error with installation"
I am just starting in pytortch and am trying to install pytorch to my pc using ubuntu. I downloaded and installed cuda11.2 and then i followed the instructions here:
https://pytorch.org/get-started/locally/ by running the code:
pip install torch==1.7.1+cu110 torchvision==0.8.2+cu110 torchaudio===0.7.2 -f https://download.pytorch.org/whl/torch_stable.html
 but i get the error:

[code]

Can anyone h

[2021-02-04 16:27] chulbulji67 commented on #27693
OSError                                   Traceback (most recent call last)
<ipython-input-3-b7c74cbf5af0> in <module>
----> 1 import sklearn

c:\users\chlbul\appdata\local\programs\python\python37\lib\site-packages\sklearn\__init__.py in <module>
     80     from . import _distributor_init  # noqa: F401
     81     from . import __check_build  # noqa: F401
---> 82     from .base import clone

[2021-02-04 16:41] gchanan commented on #51224
what does this mean?

[2021-02-04 16:45] fehiepsi commented on #49993
Here you are
[code]
PyTorch converges (in tol 1e-4) in both 3 cases.

[2021-02-04 17:09] mruberry commented on #32994
We are implementing a fix now.

You can use the function version of nonzero: torch.nonzero(), for now.

[2021-02-04 17:31] ngimel commented on #51544
Sounds good, I don't have a preference between transform_iterator and init_value, as long as it works.

[2021-02-04 17:36] ezyang commented on #51714
It seems like we have a number of these NaN discrepancies on complex, see also https://github.com/pytorch/pytorch/issues?q=is%3Aopen+is%3Aissue+label%3A%22module%3A+NaNs+and+Infs%22+label%3A%22module%3A+complex%22

[2021-02-04 17:40] romerojosh opened #51730 "Autocast region with torch.scatter_add generates type mismatch errors"
## 🐛 Bug

`torch.scatter_add` does not promote to widest input type and can generate type mismatch errors when used in an autocast-enabled region.

## To Reproduce
I have a small script here that reproduces the behavior:
[code]
Running this script, I get the following result:
[code]
In the first iteration through the loop, `x` is promoted to FP32 from `torch.nn.LayerNorm`. On the second iteration,

[2021-02-04 17:59] touqir14 commented on #39842
@mruberry , I just pushed the PR.

[2021-02-04 18:01] ezyang commented on #51723
Sounds like you're unable to connect to https://download.pytorch.org/whl/torch_stable.html Can you view it in your browser?

[2021-02-04 18:11] DimChatz commented on #51723
no apparently i dont. Thx for the feedback. Do you know why that could be ?

[2021-02-04 18:15] DNXie opened #51732 "torch.nn.functional.ctc_loss crash(segfault)"
## 🐛 Bug

`torch.nn.functional.ctc_loss`  crash(segfault) when `input_lengths` contains large negative number.

## To Reproduce
[code]

Output:
[code]

## Expected behavior

expect a clear exception message if the input is unexpected instead of crash.

## Environment

PyTorch version: 1.8.0.dev20210126+cpu
Is debug build: False
CUDA used to build PyTorch: None
ROCM used to build PyTorch: N/A

OS:

[2021-02-04 18:35] neginraoof opened #51735 "aten::normal_ not handled as a special op in RemoveTensorMutation pass."
## 🐛 Bug

aten::normal_ should be considered as a special op in remove mutation pass.
The op does not have an equivalent aten::normal

## To Reproduce

Steps to reproduce the behavior:

Apply remove mutation on the model below:

[code]

## Expected behavior

Error is:
RuntimeError: 0 INTERNAL ASSERT FAILED at "/pytorch/torch/csrc/jit/ir/alias_analysis.cpp":532, please report a bug to PyTorch. We d

[2021-02-04 18:36] Ehsan1997 commented on #51417
That does seem like what I am after, but can you give an example of how to use that?

From what I have seen so far, within collate_fn, the batch is returned as a list. If we loop through the list, GPU wouldn't do much good. So are you suggesting the following:

[code]

[2021-02-04 18:48] #51544 closed

[2021-02-04 18:52] ejguan commented on #51417
That's correct, and don't forget to use `pin_memory`.
You can also use `default_collate_fn` to transform batch into tensor, since there are some optimizations.

[2021-02-04 19:01] jbschlosser commented on #51551
@MCLYang You are correct that positional encoding is still not supported for `nn.Transformer`. If it is important to you, I encourage you to show your support for it in the original issue (#24826).

[2021-02-04 19:02] ejguan commented on #51663
It's the error that we fail to re-construct the exception.
I have seen a PR working on it #40437

[2021-02-04 19:08] SeanNaren commented on #51688
hey @PetrochukM!

I think this is less a PyTorch issue and something the Lightning team should investigate.

I'll hijack this issue for now to make sure my thoughts are documented!

Forgive me since I wasn't there when the original DDP docs for Lightning were made and this caveat was introduced, but from working with DDP in a spawn setting vs using `Popen` like `torch.distributed.launch`, the main

[2021-02-04 19:44] Ehsan1997 commented on #51417
Than you for mentioning default collate, here's what I did:

[code]

This works well, but pin_memory isn't working, I think because I move the tensors to the GPU before it even has any chance of doing so.

Can you tell me if the gains by pin memory are good enough, also is there a way to do that within the collate function?

[2021-02-04 19:57] #51349 closed

[2021-02-04 20:18] joacorapela commented on #49993
Very helpful hints @fehiepsi. To summarize, the convergence problem was due to using a loat initial condition instead of double. Convergence within 1e-4 is good for me. Thanks a lot. I will close this issue.

[2021-02-04 20:18] #49993 closed

[2021-02-04 20:27] szmigacz commented on #51428
I'm seeing the same issue in my codebase. I believe that it's due to https://github.com/pytorch/pytorch/commit/16e5af41dab3a64072d88d76003dd9c2aa49d4bc which added (bare) logging calls to init_process_group.

[2021-02-04 20:46] ejguan commented on #51417
Actually, it makes me confused. Is there any concern for the following setting?
[code]
This should be the most elegant way based on current setting.

But, considering your request for automatically loading data into GPU within DataLoader, we are working on a new design of DataLoader and it can be easily implemented. #49440

[2021-02-04 21:17] soulitzer opened #51743 "Checkpointing won't work if `inputs` parameter is passed into `autograd.backward`"
Currently the documentation says that "Checkpointing doesn’t work with torch.autograd.grad(), but only with torch.autograd.backward()" [here](https://pytorch.org/docs/master./checkpoint.html?highlight=checkpoint#torch.utils.checkpoint.checkpoint)

But since the checkpoint_valid flag depends on exec_info to be empty, specifying inputs argument to backward would make it not possible to checkpoint

T

[2021-02-04 22:22] ngimel commented on #40033
Closing, this has been fixed.

[2021-02-04 22:22] #40033 closed

[2021-02-04 22:33] sharvil commented on #37002
Following up from https://discuss.pytorch.org/t/custom-gradient-averaging-with-ddp/110926/.

It would be nice to have a client choose which reduction op to perform on gradients. In my case, I have variable and uneven batch sizes on each replica and need to compute the average by *global* batch size.

If I could tell the reducer I wanted a SUM reduction, I can divide by the global batch size myself

[2021-02-04 22:41] #51438 closed

[2021-02-04 23:17] ngimel opened #51750 "Expose matrix multiplication operations with conjugate transposes of the inputs"
## 🚀 Feature
BLAS libraries that pytorch uses have an option of doing implicit conjugate transpose of an argument ('h' option), but pytorch does not have bindings to those, and does not expose a way to call them. This option can be useful to speed up backward pass through matrix multiplication ops, because we could potentially avoid materializing conjugate.
It's not fully clear how to best expose

[2021-02-04 23:41] SupperSu commented on #49924
Get exactly same error.

FAILED: bin/test_parallel
: && /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/clang++ -Wno-deprecated -fvisibility-inlines-hidden -Wno-deprecated-declarations -DUSE_PTHREADPOOL -Xpreprocessor -fopenmp -I/usr/local/include -DUSE_FBGEMM -DUSE_QNNPACK -DUSE_PYTORCH_QNNPACK -DUSE_XNNPACK -O2 -fPIC -Wno-narrowing -Wall -Wextra -Werror=ret

[2021-02-04 23:42] SupperSu commented on #49924
PyTorch version: N/A
Is debug build: N/A
CUDA used to build PyTorch: N/A
ROCM used to build PyTorch: N/A

OS: macOS 10.15.4 (x86_64)
GCC version: Could not collect
Clang version: 12.0.0 (clang-1200.0.32.29)
CMake version: version 3.19.4

Python version: 3.8 (64-bit runtime)
Is CUDA available: N/A
CUDA runtime version: Could not collect
GPU models and configuration: Could not collect
Nvidia driver

[2021-02-05 00:18] malfet commented on #47038
This warning is printed only once in the lifetime of the app, see:
https://github.com/pytorch/pytorch/blob/3fec1e5025d12faa3f7eec91c82f92cfc77c9bee/c10/cuda/CUDAFunctions.cpp#L96-L107

[2021-02-05 00:25] elistevens commented on #2575
I should note also that for cases where we are not able to change glibc version, we've been able to paper over the problem by loading the problematic libraries early with `ctypes.cdll.LoadLibrary(library)`. I suspect it's because other libraries degrade gracefully, and so by pushing them later in the load order, the ones that hard fail can get their resources early.

[2021-02-05 00:51] Jasonlee1995 commented on #51711
![image](https://user-images.githubusercontent.com/49643709/106973953-33b2a380-6797-11eb-82d5-bc6661fb7def.png)

![image](https://user-images.githubusercontent.com/49643709/106974011-5349cc00-6797-11eb-8fbc-01f492aff9af.png)

I'd do more extra experiments.
- changing .padding, .padding_mode works well (I think?)
- but when combined with dilation, it results weird behavior

[2021-02-05 01:16] DuinoDu commented on #34242
@xieshuqin Thanks for your reply.

I reinstall virtual env, and problem solved. Guess some libraries conflict and cause this error.

[2021-02-05 01:47] #44284 closed

[2021-02-05 02:46] ngimel commented on #51656
Would `amax` work for you? It's differentiable and supports dim tuple https://pytorch.org/docs/master/generated/torch.amax.html?highlight=amax#torch.amax

[2021-02-05 02:54] hokaso commented on #51700
I've got a way to work out:
1. https://github.com/ljk53/pytorch-rpi download torch-1.7.0a0-cp38-cp38-linux_aarch64.whl and pip3 install
2. apt install libopenblas-dev
3. success!

[2021-02-05 02:54] #51700 closed

[2021-02-05 03:12] CoinCheung commented on #38487
Hi,

If I want my customer extensions to be smart to cast its inputs according to the `with autocast` statement, how could I do this please ?

[2021-02-05 03:29] denfromufa commented on #21004
seems like some incompatibility between cupy and pytorch at least on cuda 10.1

[2021-02-05 05:17] ysl208 commented on #32994
I'm getting the error below, which seems to be pointing at a line which uses `nonzero()` without any arguments.

[code]
So I'm not sure what to replace exactly. Could you elaborate?

[2021-02-05 06:01] KevinWu57 commented on #51631
Lol any help? :(

[2021-02-05 06:27] ngimel commented on #51714
0**z where Re(z)>0 is 0, so we are correct here.

[2021-02-05 09:38] sdesrozis opened #51776 "BatchNorm3d error : CUDNN_STATUS_NOT_SUPPORTED"
## 🐛 Bug

`BatchNorm3d` raises an error related to `cudnn`.
[code]

Thanks for the help or any advice to solve this !!

## To Reproduce

[code]

## Expected behavior

The code above should print
[code]

## Environment

[code]

[2021-02-05 10:54] natank1 opened #51777 "Analytical metric package"
## 🚀 Feature
A set of functions that calculate metrics of various distributions
## Motivation

I needed during my work many times to calcualte metrics such as KL of Gamma dist or Dirichlet or analytical form of Gaussians
I believe that such can be benficial
## Pitch
You can find everything in this branch

https://github.com/natank1/Closed-form-of-Various-Metircs

## Alternatives
Don know any

## A

[2021-02-05 10:54] sentosajie commented on #47056
I have the same question since upgrade torch from 1.6 to 1.7. Actually, it takes much more time to broadcast the module using torch.nn.parallel.DistributedDataParallel

[2021-02-05 11:01] aytekinar opened #51778 "Assertion on the existence of RRef user-facing methods' docstrings"
## 🐛 Bug

What is the rationale behind [asserting the existence of documentation strings](https://github.com/pytorch/pytorch/blob/57bffc3a8e4fee0cce31e1ff1f662ccf7b16db57/torch/distributed/rpc/api.py#L397) at runtime? Could you not check the existence via unit tests and/or when building documentation on your CI/CD pipelines? Could you not, perhaps, change the assertion to read:

[code]

## To Repr

[2021-02-05 11:35] touqir14 commented on #38475
@VitalyFedyunin , wouldn't it be a better idea to first develop a divide and conquer based parallel iterator which can then be used not only to speed up TopK but also other operations (See [51509](https://github.com/pytorch/pytorch/issues/51509)) ?

[2021-02-05 11:54] guyang3532 opened #51780 "Proposal for export TensorBoard tracing files"
## 🚀 Feature
API design for exporting TensorBoard tracing files for torch.profiler.profile

## Motivation

Now user use ``torch.profiler.tensorboard_trace_handler`` to export TensorBoard tracing files, and must explicitly specify it to ``on_trace_ready`` as:

    with torch.profiler.profile(on_trace_ready=torch.profiler.tensorboard_trace_handler(log_dir)):
        training_loop()

This proposal tr

[2021-02-05 13:01] tchaton commented on #47050
Hey there, I kind of disagree there. We should be able to use the reducer to make DDP more flexible.

[2021-02-05 13:08] digiamm opened #51781 "Libtorch lock thread"
Hi guys,

I am loading weights and performing only the feedforward step using libtorch in C++. Since I am on CPU it comes out that this prediction step is slower than the next iteration of the outer while loop. The scenario is the following:

[code]

Very often output is empty, or not complete. If I add a sleep on my executable this appear less frequently. I guess is a problem related to the diffe

[2021-02-05 13:22] Ehsan1997 commented on #51417
I think the reason is to keep things consistent, like currently we do not do transformations in the training loop, they happen at the time of loading the data.

Another way to see my request is: Consider moving the transform part from the dataset to the dataloader.

[2021-02-05 14:42] Erotemic commented on #51663
@ejguan That looks like the issue. I'm glad there are eyes on it. This can be closed now or once  #40437 is merged.

[2021-02-05 15:05] vadimkantorov opened #51782 "[discussion] [python] Generic way for generating module-wrappers for stateless parametrized functions"
A lot of functionality like activations is implemented as stateless functions with some scalar parameters. Corresponding modules usually just hold some of these parameters and pass them to the function during forward. This requires to write boiler-plate code for these modules.

An alternative way could be generic standard wrapper generator (at least for python) like `modularize` function below. Th

[2021-02-05 15:12] ezyang commented on #51723
The most likely explanation is some sort of ISP problem. Try using a proxy. Unfortunately we won't be able to help you beyond that.

[2021-02-05 15:12] #51723 closed

[2021-02-05 15:19] Flamefire commented on #41186
A similar issue was discovered on a Skylake x86 system with V100 GPUs. So it may not be the CPU arch which is the problem but the GPUs, as our POWER system has also V100 GPUs.
The error from the skylake system is:
[code]

For a full, lengthy build log see https://gist.github.com/skumons/eae2971ba9a5962e14ec23adf0413526

[2021-02-05 15:23] ezyang commented on #51750
If conjugate views happen, we don't have to add new functions as `matmul(x, y.H)` will be just as efficient as calling the implicit conjugate (modulo O(1) overhead of the y.H Tensor). It might still be a good idea to add a few new functions for explicit conjugation anyway though, however, naming them well is a challenge.

[2021-02-05 15:24] t-vi commented on #50454
@SplitInfinity  with the other PR in, I could work on a fix here, if you want.

[2021-02-05 16:32] imaginary-person opened #51786 "test_variant_consistency_jit_pow tests fail for floating-point & complex types"
## 🐛 Bug

Currently, there's no `OpInfo` for `pow()` in the source code on the master branch. I added one for testing in #50999,
but `test_variant_consistency_jit` tests fail for `pow()` for all floating point & complex types on both CPU & CUDA,
although their `eager` counterparts pass.

The failure causes for each test, when tested on CI, are [here](https://app.circleci.com/pipelines/github/pytor

[2021-02-05 16:54] mruberry commented on #32994
https://github.com/pytorch/pytorch/pull/51618 should have fixed this!

[2021-02-05 16:54] #32994 closed

[2021-02-05 16:58] SplitInfinity commented on #50454
@t-vi Thanks! Assigned you.

[2021-02-05 17:04] imaginary-person opened #51788 "test_variant_consistency_jit tests fail on CPU for min & max when dtype is bfloat16 & dim argument is passed"
## 🐛 Bug

Currently, no `OpInfo`s exist for `min` & `max`.
I added one for testing in #51244,
but the following `JIT`-related tests fail although their respective CPU `eager` & CUDA counterparts pass:

In #51244, these test names correspond to the `dim` argument being passed in a call to `min` & `max`.

`TestCommonCPU.test_variant_consistency_jit_min_reduction_with_dim_cpu_bfloat16`
`TestCommonCPU

[2021-02-05 17:13] ngimel commented on #47056
"Dataloader workers use more RAM" and "broadcasting module takes much longer" are very different problems and should not be conflated in the same issue, please open separate issues with minimum reproducers.

[2021-02-05 17:18] corticalstack commented on #31285
The nightly fixed it for me with Ubuntu 20.04, RTX 3090FE, Linux kernal 5.10, thx!

[2021-02-05 17:18] mruberry commented on #32994
Glad you found a solution, and this issue should be fixed now, but previously you could do:

[code]

without complaint, but

[code]

would complain.

[2021-02-05 17:20] ngimel commented on #51750
Conjugation is slightly weirder though. When you are calling `matmul(x,y.t())` if the inputs are non-overlapping and the smallest stride is 1, no copy will happen. For `matmul(x,y.H)` you have additional constraints on y strides (because in blas conjugation is tied with physical memory layout).
Step 0 is still at least binding those blas calls, and using them in backward in non-user-facing manner,

[2021-02-05 17:31] mruberry commented on #14095
No news yet, sorry.

[2021-02-05 17:34] nikithamalgifb commented on #45465
Removing the JIT tag, since this is not a JIT issue

[2021-02-05 17:37] mruberry commented on #51720
It would be nice to give ourselves the flexibility to support both int32 and int64 LAPACK. I wonder if int64 MKL works as well as the int32 version does?

[2021-02-05 17:40] lijunzh commented on #47056
@sentosajie @ngimel I eliminate the `Dataloader` factor by using [Nvidai DALI](https://github.com/NVIDIA/DALI) instead of `TorchVision`. However, the slow down of overall training speed is still obvious. I never though of how much time it takes "broadcasting module"; however, as I understand, it only broadcasts them once among the GPUs at the first epoch of training. I am not sure if this will cau

[2021-02-05 17:40] mruberry commented on #51621
Sorry to hear that we're getting in the way of Cyberpunk 2077. We are working on improving our linear algebra support and complex tensor support now, however. See https://github.com/pytorch/pytorch/issues/42666 for the tracker. Which has an item to implement torch.linalg.eig. I'll link this issue there.

[2021-02-05 17:46] mruberry commented on #39674
@frgfm Looking through the prior comments I believe I did. It's been a long time, though. We even have new torch.nn engineers now! I'll mention this to them.

[2021-02-05 17:50] mruberry commented on #51708
Seems like an oversight to me. @jbschlosser?

[2021-02-05 17:55] jbschlosser commented on #51708
For sure! It should definitely be there. Thanks for reporting this @kshitij12345!

[2021-02-05 18:10] pfeatherstone opened #51793 "ONNX export : failed assertion of node->kind().is_atten() ..."
## 🐛 Bug

Failed ONNX export even though it runs perfectly fine in normal execution.

## To Reproduce

Steps to reproduce the behavior. Run the following:

[code]

## Expected behavior

I expect this to work.

## Environment

[code]

## Additional context

cc @houseroad @spandantiwari @lara-hdr @BowenBao @neginraoof

[2021-02-05 18:12] AnthonyBarbier opened #51794 "optim.Optimizer should copy "params" before modifying them"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

[code]

Trace:
[code]

## Expected behavior

params shouldn't be modified behind the user's back: torch should make a copy of it before using it to store the optimizer's state in it.

## Environment

 - PyTorch Version (e.g., 1.0): 1.7.1
 - OS (e.g., Linux): Linux
 - How you installed PyTorch (`conda`, `pip`, source): pip

[2021-02-05 18:34] frgfm commented on #39674
Oh my bad, I wasn't sure you were OK with me opening a PR about this! Glad to hear more people are working on `torch.nn`, does this mean opening a PR wouldn't be worth it anymore?
Feel free to tag me in the upcoming discussions :ok_hand:

[2021-02-05 18:34] pfeatherstone commented on #49742
I've seen this too when trying to do an ONNX export

[2021-02-05 19:00] rgommers commented on #49375
Update: someone on our conda/packaging team will work on the upstream fix for this starting the second half of next week.

[2021-02-05 19:26] novog opened #51800 "spectral_norm not properly initialized if used with eval first"
According to the documentation, `nn.utils.spectral_norm` first performs some initialization actions the first time that `forward` is called. However, if `forward` is first called in `eval` mode, this initialization does not occur. The combination of the lack of initialization and how `spectral_norm` layers are evaluated in forward passes can result in layer outputs with values several orders of ma

[2021-02-05 19:29] CarlosJose126 opened #51801 "LSTM Cell example"
## 📚 Documentation

Hi, I think that there is an error in the example presented for a LSTMCell:
https://pytorch.org/docs/stable/generated/torch.nn.LSTMCell.html

I suggest using the same example given for the GRUCell: https://pytorch.org/docs/stable/generated/torch.nn.GRUCell.html
but adapted to the LSTM gates:

import torch.nn as nn
import torch

# features in the input: 10
# hidden size: 20
rnn

[2021-02-05 19:54] zhangguanheng66 commented on #51730
We might need to update the doc of `torch.scatter_add` to clarify the expected behavior in this case.

[2021-02-05 19:59] mruberry commented on #51800
Thank you for reporting this issue, @novog. We'll take a look.

[2021-02-05 20:00] slayton58 opened #51803 "torch.fx.symbolic_trace fails on torch.arange with input-dependent size"
## 🐛 Bug

I'm trying to use torch.fx.symbolic_trace to trace an `arange` call where the first argument to `arange` is part of the size of the input tensor:
[code]
And it fails.

## To Reproduce

[code]
Trace:
[code]

## Expected behavior

Method is successfully traced

## Environment

[code]

[2021-02-05 20:09] imaginary-person opened #51804 "test_fn_grad_pow & test_fn_grad_grad_pow fail for dtype float64 on both CPU & CUDA"
## 🐛 Bug

Currently, there's no `OpInfo` for `pow()` in the source code on the master branch. I added one for testing in #50999,
and there are some failures for dtype `float64` on both `CPU` & `CUDA`. These tests pass for the `complex128` type, though.
The following tests fail -
`test_fn_grad_pow_cpu_float64`
`test_fn_gradgrad_pow_cpu_float64`
`test_fn_grad_pow_cuda_float64`
`test_fn_gradgrad_pow_

[2021-02-05 20:44] soulitzer commented on #50382
Yep this should be C++ only. Theres `F.normalize`, but that should be the only one that accepts an `out` arg.

[2021-02-05 21:12] ejguan commented on #51777
We do have KL for different distribution.
https://pytorch.org/docs/stable/distributions.html#torch.distributions.kl.kl_divergence

[2021-02-05 21:29] natank1 commented on #51777
Can you show me the all ot gamma case ? I’m addition the W2 for Gaussian ?

נשלח מה-iPhone שלי

[2021-02-05 21:55] twoertwein opened #51808 "[jit] Keyword-arg expansion for constants"
## 🐛 Bug
`self.kwargs` is declared by typing to be immutable and is also practically immutable because of  `MappingProxyType` (no one holds a reference to the original dict and the dict is declared to contain only immutable objects). Theoretically, jit should be able to identify (based on typing) that `self.kwargs` is a constant and convert `**self.kwargs` to `dim=1`. Unfortunately,  that doesn't

[2021-02-05 22:18] seemethere commented on #51026
Going to re-open this as we're still seeing this issue on CUDA 11.0 builds that utilize `conda-forge`:

https://app.circleci.com/pipelines/github/pytorch/pytorch/270308/workflows/b21fcb35-2ced-4100-8933-9612f26724a7/jobs/10719686

[2021-02-05 22:57] jkyl commented on #51181
Thanks all for the response. Is there any chance you could provide an ETA, or just a general sense of the priority for this feature?

[2021-02-05 23:28] seemethere commented on #51026
Going to go ahead and remove this from the `1.8.0` milestone since we're moving forward with setting `USE_KINETO=0` for all conda packages.

See https://github.com/pytorch/builder/pull/650

[2021-02-06 00:36] supriyar commented on #47652
https://github.com/pytorch/pytorch/pull/51748

[2021-02-06 00:36] #47652 closed

[2021-02-06 01:41] ngimel commented on #51776
cudnn does not accept inputs with more than 2**31 elements.

[2021-02-06 02:04] ilia-cher commented on #51026
https://github.com/pytorch/pytorch/pull/51818 should finally mitigate the issue

[2021-02-06 02:39] jerryzh168 commented on #51662
Do we plan to fix this? @z-a-f

[2021-02-06 05:55] MCLYang commented on #51551
@jbschlosser Thank you for your response. I will add some comments on #24826

[2021-02-06 05:56] MCLYang commented on #51551
#

[2021-02-06 05:56] #51551 closed

[2021-02-06 06:00] sentosajie commented on #47056
@lijunzh Oh it might be ambiguous using the word "broadcasting", it is my fault. What I mean is that it takes lots of time waiting for the function call of torch.nn.parallel.DistributedDataParallel. In my test, smaller model takes fewer time, and my real model never return(more than tens of mins).

[2021-02-06 07:43] sdesrozis commented on #51776
@ngimel Thank you for your answer. I didn't know about this limitation. I have seen a related answer you already did one year ago

https://github.com/pytorch/pytorch/issues/22496#issuecomment-509433398

In the model I actually use, the batch norm is preceded by a con3d. Does PyTorch internally handle the exceedingly size by batch splitting as you mentioned ?

Thanks for your precious help!

[2021-02-06 09:24] Borda commented on #51026
Hello, may I ask what is the recommendation for people who installed PT 1.8dev from the Conda channel pytoch-nightly, would just setting `USE_KINETO=0` solved the problem?

[2021-02-06 09:28] pfeatherstone commented on #51793
Is it possible that ONNX doesn't like handling more than 4 dimensions?

[2021-02-06 09:31] pfeatherstone commented on #51793
It works if i use ```torch.jit.script```. So scripting is ok.

[2021-02-06 10:25] pfeatherstone commented on #51793
So it's got nothing to do with the DCT. It's the reshaping it doesn't like.

[2021-02-06 10:27] pfeatherstone commented on #51793
And it still fails if you comment out ```post_dct_2d(x)```

[2021-02-06 10:28] pfeatherstone commented on #51793
If you remove ```@torch.jit.script```, it exports but then it doesn't work with dynamic inputs.

[2021-02-06 10:30] pfeatherstone commented on #51793
I think ```x = x.view(B, C, H // N, N, W // N, N)``` is the culprit. But don't know what's wrong with that

[2021-02-06 10:43] Borda commented on #51310
btw, it is happening also for other python versions...

[2021-02-06 12:06] thuzhf commented on #51429
I haven't hit this on other CUDA versions right now, maybe it is specific to cuda 9.1 @H-Huang

[2021-02-06 13:50] justopit commented on #45021
Hi! I have got several 3080 GPUs. However, I find some problems.
The system is Ubuntu 16.04, the version of PyTorch is 1.7.0+cu110
My codes are:
import torch ---(1)
X = torch.rand((3,6)) ---(2)
X = X.cuda() ---(3)

I find the step (1) and (2) very smooth, which means it nearly does not cost any time.
However, when I set CUDA_VISIBLE_DEVICES=1,
 I found the third step costs much time to finish movi

[2021-02-06 13:54] WangWenhao0716 commented on #45021
It is a very old problem. And PyTorch support 3080 and 3090 officially since 1.7.0.

[2021-02-06 13:54] #45021 closed

[2021-02-06 14:33] DegardinBruno commented on #47990
Thank you for your answer, I also managed to make it work.
However, I think I know one of the reasons that you are telling me that "it is not working in exactly the same way"...
I would recommend you initialize the weights similarly to the Pytorch default, as follows:

        # Weights and Bias
        self.weight = nn.Parameter(torch.Tensor(self.out_channels, self.out_channels, *self.kernel_size

[2021-02-06 15:06] lijunzh commented on #47056
@sentosajie I did not have that problem in my test cases. I agree with @ngimel that this should be a separate issue which is more severe than the one I am reporting here.

[2021-02-06 15:34] peterbell10 opened #51833 "Segfault printing `torch::jit::Graph` in ONNX test suite traceback"
## 🐛 Bug

I consistently get a segfault when any of the ONNX tests fail running under `pytest`. `gdb` shows the error coming from `__repr__` of `torch::jit::Graph`, and looks like a possible use after free.

## To Reproduce

Steps to reproduce the behavior:

1. In `torch/onnx/symblic_opset9.py` replace `mul` with `def mul(g, self, other): raise RuntimeError()`
1. Build and run onnx test with pytes

[2021-02-06 17:28] twoertwein opened #51835 "methods decorated with torch.jit._overload_method are not accessible"
## 🐛 Bug
The following code compiles but it fails when trying to find the `forward` method.

[code]

[code]

[2021-02-06 17:42] gibiansky opened #51836 "TypeError: can't pickle _thread.lock objects when using spawn / forkserver"
## 🐛 Bug

When using spawn or forkserver with DataLoader, you get this error:

[code]
Full traceback:
[code]

## Expected behavior

According to this issue comment this is due to the start method, and it doesn't happen when using just fork:

https://github.com/Koed00/django-q/issues/424#issuecomment-708642064

While perhaps there may be other fixes, for now it would be incredibly useful if the err

[2021-02-06 19:24] moncio commented on #40671
Hi, I'm using docker image base: nvidia/cuda:11.1.1-cudnn8-devel-ubuntu20.04, it shows the same error but when I build with Cuda 11.0 it's all ok. Is there supporting pytorch with Cuda 11.1?

Thanks!

[2021-02-06 19:51] jerryzh168 commented on #51216
This is a known issue I think, @dskhudia might have more context on this

[2021-02-06 19:56] jerryzh168 commented on #50720
I remember fbgemm/qnnpack has some off by one error, cc @dskhudia @kimishpatel can you comment?

[2021-02-06 20:42] twoertwein commented on #50427
here is a minimal example. TorchScript seems to fail to convert the type `List` only when it is an attribute. It seems to cope with variables that are of type `List`.

Fails
[code]
Works:

[code]

[2021-02-06 20:55] ThorJonsson commented on #32960
Is there any progress on this?

[2021-02-06 21:36] ngimel commented on #51776
Yes, for convolutions it is easy to split a call to a convolution into multiple calls across the batch dimension, so that each input/output is less than 2**31 elements. Pytorch does this. For batchnorm however, since it has to normalize along the batch dimension, this splitting is non-trivial.
@ptrblck Is cudnn going to support large inputs in the latest or future versions? If not, do you think it

[2021-02-06 22:05] frgfm opened #51840 "[collect_env] Unable to collect CUDA version anymore"
## 🐛 CUDA version collection

Simply put, the environment collection script seems to no longer be working to get the CUDA version recently

## To Reproduce

For minimal reproduction, instead of using the full script:
[code]
which yield
[code]

I suspect the [regex](https://github.com/pyronear/pyro-vision/blob/master/scripts/collect_env.py#L112) to no longer be working with latest versions of nvcc.

[2021-02-06 22:42] sdesrozis commented on #51776
@ngimel Thank you again.

I hope that a solution can be made available either in `cudnn` or in `PyTorch`.

I was thinking that I could prototype with the idea of the actual implementation of `SyncBatchNorm`.

[2021-02-06 22:43] pearu commented on #51026
No, it would not. `USE_KINETO=0` as a workaround would be needed for building pytorch. But I believe #51818 will fix this issue so that this workaround would not be needed anymore.

[2021-02-06 22:47] nikithamalgifb commented on #49728
This has been fixed now, hence closing

[2021-02-06 22:47] #49728 closed

[2021-02-06 23:31] pearu commented on #51026
I confirm that the build of the current PT master when using conda environment produces an importable `torch`. Thanks, @malfet @ilia-cher !

[2021-02-06 23:35] ptrblck commented on #51776
@sdesrozis Thanks for reporting this issue!

@ngimel I think cudnn should enable batchnorm layers to accept more than 2**31 elements (same for convs).
As it's not on their roadmap yet, I think falling back to the native implementation is the right approach at the moment.

If I'm not mistaken, a check for `input.nelement()` [here](https://github.com/pytorch/pytorch/blob/fe67438f327dc1b8b796159f200d

[2021-02-07 00:07] ngimel commented on #51776
It could, but also look at the dtypes of parameters and running averages - I don't know if native can support half/float combination that cudnn supports.

[2021-02-07 03:11] vadimkantorov commented on #3428
We're having part of this again, urls are correct but not the page titles. The latest stable version is 1.7.1 since two months back, but Google Search displays 1.7.0 page titles. The docs are new since two months now. Has Google not reindexed them? Do they have old titles?

Also note crappy snippets. Could some micro-formats be used to hide type signatures from search?

![image](https://user-image

[2021-02-07 03:49] vadimkantorov commented on #48465
Same thing for 1.7.1.
`nn.LogSoftmax` and `nn.NLLLoss` are unclickable:
![image](https://user-images.githubusercontent.com/1041752/107135996-cb330600-68ff-11eb-8344-9c5aba06c699.png)

[2021-02-07 04:38] PetrochukM opened #51849 "DataLoader has a side-effect on Numpy arrays?"
## 🐛 Bug

For some reason creating a `DataLoader` instance with a `numpy` array changes the data in the underlying `numpy` array. `DataLoader` has some sort of side-effect on the arguments that are passed to it.

## To Reproduce

Run this:
[code]

Sample output:
[code]

For some reason, my data has been changed from `(-1.0115291, 2.1784658)` to `(0.0, 2.1784658)` in the main process, and `(-0.6122

[2021-02-07 04:48] PetrochukM commented on #51849
As expected, the issue can be worked-around by using `copy`, like so:
[code]

[2021-02-07 06:07] csukuangfj commented on #51840
I encountered the same problem some time ago. Please see the description in https://github.com/k2-fsa/k2/pull/584

- For CUDA 11.0
[code]

- For CUDA 10.1
[code]

There is an extra line `Build cuda_11.0_bu.TC445_37.28540450_0` for CUDA 11.0, which cannot be handled
by `torch.utils.collect_env.get_running_cuda_version` since it uses a pattern `r"V(.*)$"` without `re.MULTILINE`.
Therefore, `torch.ut

[2021-02-07 06:21] tyoc213 opened #51850 "PC restart without trace executing nb"
## 🐛 Bug

Running this nb locally https://walkwithfastai.com/Style_Transfer my computer restart always that I try to execute all this nb.

As anote, I have trained other models, even some took about a day, but they where reformers.

I dont know how to "trace this" if it is a problem with a component or with pytorch?

## To Reproduce

1. I have compiled locally a 1.8a version of pytorch
2. cloned t

[2021-02-07 06:33] SomTambe commented on #51699
I read the paper. PyTorch's implementation is correct, since the first dimension is the number of channels. I shall close the issue since my doubt has been resolved.

[2021-02-07 06:33] #51699 closed

[2021-02-07 06:42] Yangqing commented on #3867
It's interesting that after so many years this thread is somewhat rekindled. I wanted to point out a key design issue of TF-like SAME padding: that it is not stable with respect to the input image size. In earlier implementations of PyTorch/caffe2 convolution we did support SAME as an option, but always as a compatibility option.

Back in 2017 I wrote a verbose explanation with math, explaining wh

[2021-02-07 06:50] laobadao opened #51851 "Exporting the operator 'triu' to ONNX opset version 11 is not supported"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. transformer model not support 'triu' operator to ONNX

## Expected behavior

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out the checklist below manually).

You can get the script and run it with:

[2021-02-07 07:19] #49683 closed

[2021-02-07 07:28] Da-Capo commented on #49877
I find that once i used cuda it will requires a fixed gpu memory that cannot be `empty_cache()`,
and this fixed memory is different on gpu with different total memory.
can I reduce those useless memory occupation.

[code]
![image](https://user-images.githubusercontent.com/10624004/107139793-d8301380-6958-11eb-9826-efb0b7d7a3f7.png)

[2021-02-07 07:38] caozhou commented on #16417
If you get 'RuntimeError: CUDA out of memory' in eval mode,  you can try:
    **with torch.no_grad():**
It works for me.

[2021-02-07 08:23] lutzroeder opened #51854 "M1 release and nightly binaries"
## 🐛 Bug

PyTorch fails to install on M1 (both release and nightly) when running with Python arm64.

## To Reproduce

Steps to reproduce the behavior:

[code]

## Environment

Collecting environment information...
PyTorch version: N/A
Is debug build: N/A
CUDA used to build PyTorch: N/A
ROCM used to build PyTorch: N/A

OS: macOS 11.2 (arm64)
GCC version: Could not collect
Clang version: 12.0.0 (cla

[2021-02-07 10:01] Ifrahmaqsood opened #51855 "Attempted to read a PyTorch file with version 3, but the maximum supported version for reading is 2. Your PyTorch installation may be too old. (init at /pytorch/caffe2/serialize/inline_container.cc:132)"
I am working in a conda environment
I have Cuda 10.0 installed on my tesla server and I installed torch==1.4.0+cu100 and torchvision==0.5.0+cu100 to make it compatible with cuda.

I am using _https://github.com/facebookresearch/mmf_

**when I used the command to train my model**
It gives me an error

_RuntimeError: version_ <= kMaxSupportedFileFormatVersion INTERNAL ASSERT FAILED at /pytorch/caffe

[2021-02-07 10:04] skyline75489 commented on #51855
So you have to use CUDA 10.0 and best PyTorch version you can use is 1.4.0? The error message is pretty clear.

[2021-02-07 10:12] Ifrahmaqsood commented on #51855
Yes I think I can't go to any other version due to CUDA 10.0.

I used this to install pytorch and torchvision with CUDA10.0

**sudo /home/ifrahmaqsood/anaconda3/envs/mmf1/bin/pip install with specified version and -f
sudo /home/ifrahmaqsood/anaconda3/envs/mmf1/bin/pip install torch==1.4.0 torchvision==0.5.0 -f https://download.pytorch.org/whl/cu100/torch_stable.html**

Can I install any other stab

[2021-02-07 11:13] nlgranger opened #51856 "Assignment target is transposed when using jit.script and avanced indexing"
## 🐛 Bug

When using advanced indexing for the target of an assignment `myvar[scalar_tensor, slice, tensor, tensor] = ...` the slice dimension is moved at the end if the function is jitted.

## To Reproduce

[code]

## Expected behavior

Same behaviour between torchscript and normal versions of the same code.

## Environment

[code]

[2021-02-07 11:15] p0085058 commented on #41508
Hi, I am facing the same problem. My case is like:
![a](https://user-images.githubusercontent.com/37329440/107144721-01ac6780-6978-11eb-83d6-f07a96c87415.png)
and I use MHA like this:
![b](https://user-images.githubusercontent.com/37329440/107144775-5ea81d80-6978-11eb-9c4d-7c3effeb39c6.png)
Finally, I get attn_weights like:
![c](https://user-images.githubusercontent.com/37329440/107144794-7aabbf00

[2021-02-07 12:00] kalifadan commented on #41508
I have exactly the same problem!
Did you find a way to solve it?
We can think together :)
Tnx

On Sun, Feb 7, 2021 at 1:16 PM p0085058 <notifications@github.com> wrote:

[2021-02-07 12:29] SimplyLucKey opened #51858 "torch.cuda.is_available() returns False"
I have GTX 1050ti on laptop and when I run `torch.cuda.is_available()` it returns `False`.

`nvcc --version`
[code]

My `nvidia-smi`

[code]

I have installed pytorch using both anaconda virtual env and going to the pytorch website and selecting CUDA version 11.0.

cc @ezyang @seemethere @malfet @walterddr @ngimel @peterjc123 @maxluk @nbcsm @guyang3532 @gunandrose4u @mszhanyi @skyline75489

[2021-02-07 12:59] w1d2s commented on #51452
# #

[2021-02-07 12:59] #51452 closed

[2021-02-07 13:09] w1d2s opened #51859 "Need help when using torch jit with an thread pool. (how to use at::set_num_threads correctly)"
Hi, I'm trying to using an thread pool with size N to manage N torch::jit::Module instances, and I want assign one thread to each individual torch::jit::Modules. I'm currently wrapping one torch::jit::Module with a wrapper class, and in the constructor I call at::set_num_threads(1) and at::set_num_interop_threads(1), but it seems not behaving as expected (there being only one working thread doing

[2021-02-07 13:49] laekov opened #51860 "Destruction runtime error after backward"
## 🐛 Bug

When running the following script

[code]

the shell says

[code]

And the return code is `134`. No additional information is given.

## To Reproduce

Steps to reproduce the behavior:

1. Run the above code.
1. Get the error message and return code.

## Expected behavior

There should be no error.

## Environment

I am using commit `d46210958e983bf50a9c00201c937d134604da45` on the master

[2021-02-07 13:49] laekov opened #51861 "Destruction runtime error after backward"
## 🐛 Bug

When running the following script

[code]

the shell says

[code]

And the return code is `134`. No additional information is given.

## To Reproduce

Steps to reproduce the behavior:

1. Run the above code.
1. Get the error message and return code.

## Expected behavior

There should be no error.

## Environment

I am using commit `d46210958e983bf50a9c00201c937d134604da45` on the master

[2021-02-07 15:23] zhangguanheng66 commented on #41508
I'm wondering if you are interested to continue #42323.

[2021-02-07 17:15] malfet commented on #51861
Duplicate of https://github.com/pytorch/pytorch/issues/51860, isn't it?

[2021-02-07 17:15] #51861 closed

[2021-02-07 17:17] malfet commented on #51860
This was fixed by #50998
Please checkout PyTorch at any commit after 6f3aa58d8023757ce7eabeee48fa86f8ed6308b8 and try again.
If it still crashes, do not hesitate to re-open

[2021-02-07 17:17] #51860 closed

[2021-02-07 17:22] malfet commented on #51858
@SimplyLucKey Please run `python -m torch.utils.collect_env` and post its output here.

[2021-02-07 17:26] malfet opened #51863 "TestVectorizedMemoryAccess.CopyKernel starting to fail after driver to 460.39"
See https://app.circleci.com/pipelines/github/pytorch/pytorch/270400/workflows/0edf4b18-b1dc-4109-aab1-95419fc264d1/jobs/10724709

[2021-02-07 18:24] mahmoodn opened #51865 "About elementwise_kernel"
Hi
In the output of the profiler, I see that [unrolled_elementwise_kernel ](https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/cuda/CUDALoops.cuh#L84)takes some GPU time (second kernel with highest GPU time). However, when I looked at the source code, this kernel simply calls another kernel

[code]
So, I wonder why that is shown in the output of profiler? I mean what can be unders

[2021-02-07 19:08] Horse7354 opened #51866 "BCELoss or binary_cross_entropy incorrectly return nan on cuda tensors"
On
python3.7 cuda10.1 cudnn7.6 pytorch1.5.0

[code]
outputs:
[code]
The same for nn.BCELoss.
Whereas
[code]
correctly outputs:
[code]

[2021-02-07 19:42] ngimel commented on #51863
cc @zasdfgbnm

[2021-02-07 20:18] jeffbinder commented on #51556
I was running into a similar problem with PyTorch's language modeling scripts (e.g. run_clm.py), and I was able to fix it by disabling "Hardware-accelerated GPU scheduling" in Windows settings.

[2021-02-07 21:08] CircuitGuy commented on #16417
@EMarquer Any chance you could re-open with a reproduction test case?

I created a fairly easy to run reproduction from a model I'm trying to recreate. Sorry in advance, didn't go through all of the requirements (original author did not either)
https://github.com/CircuitGuy/MelGAN-VC

Interestingly, I can train the model no problem (and on fairly large batches at that).

I went back and added some

[2021-02-07 21:37] ClementPinard commented on #51849
Another workaround is to replace
[code]
by
[code]

It looks like only arrays that don't own their data are concerned to this problem, because `tensor.numpy()` is just a way to point to the tensor data from a numpy object (see [here](https://github.com/pytorch/pytorch/blob/2907447c97c0e7a8673951907a4b94a682c39526/torch/csrc/utils/tensor_numpy.cpp#L76) ). Given data is move to a shared memory zone,

[2021-02-08 00:38] twoertwein commented on #51808
a simpler/more frequent use case might be:

[code]
In this case the keys are fixed but the values might change.

[2021-02-08 03:25] mszhanyi commented on #51858
@SimplyLucckey
I've verifed that pytorch wih cuda 11.0 works on cuda 11.2
could you please run pip show torch?
and open  ....\envs\xxx\lib\site-packages\torch\lib to see if there's torch_cuda.dll

[2021-02-08 03:41] p0085058 commented on #41508
Hi @kalifadan , I am sorry that I delete my comment. I am quite new to github and I find I can't see images on my comment. So I delete my comment. However, since you reply to me, I guess all images on my comment may be visible to others. Anyway, I just reproduce my case here.
![a](https://user-images.githubusercontent.com/37329440/107173082-f00fa200-6a01-11eb-8f18-567243ed15ef.png)
I use MHA like:

[2021-02-08 03:43] SoHardToMakeAName commented on #50835
@kLabille Hi, I got the same error and it occurred when I was running the code from [https://github.com/senguptaumd/Background-Matting](url) . The process would be killed at some time point and eventually the server restarted. And I used _free_ command to see memory state and the buff/cache memory increased stably and was never released, even after the process being killed. I doubt there is a memo

[2021-02-08 04:04] ezyang commented on #51750
Just to make sure I understand correctly, this is because there are blas kernels for row major and column major y, but for conjugated y, it has to be column major? (I think?)

[2021-02-08 04:17] gmagogsfm commented on #51808
@penguinwu @Lilyjjo  another example of constant folding module instance attribute to improve usability

[2021-02-08 04:44] tmbdev commented on #49440
It looks like an ambitious redesign; I'm looking forward to its implementation. In particular, cleaning up the DataLoader and multiprocessing facilities will be very useful.

I want to point people at related resources that we have developed for these kinds of representations and processing pipelines.

- The webdataset library (github.com/tmbdev/webdataset) is a library of standard IterableDataset

[2021-02-08 05:02] tmbdev commented on #49440
A comment about the design and objectives of the project in general. I think from a software engineering point of view, it is nice to have support for all the Python I/O and concurrency facilities: async, threading, queues, and multiprocessing, and to allow for arbitrary sources and sinks. If you have the software develoipment resources, by all means, it's good to implement that.

Keep in mind, th

[2021-02-08 05:13] p0085058 commented on #41508
@kalifadan  I just went through this issue. Here are my thoughts:

According to guanheng's opinion @zhangguanheng66 , attn_mask like this is considered as an input error:
![a](https://user-images.githubusercontent.com/37329440/107177219-4681de00-6a0c-11eb-862a-4a452568ce71.png)
Because the last three rows are all padding, which means MHA would learn nothing from these three rows, and these three r

[2021-02-08 05:23] imaginary-person commented on #50669
Hello @rafi-cohen, please note that there's a difference between those two errors: `the bad values in fds_to_keep` and the `Too many open files`. Only the former is related to #31571, and not the latter, which is  [a conscious design decision](https://github.com/pytorch/pytorch/wiki/Multiprocessing-Technical-Notes).

In the following example, you get a `ValueError: bad value(s) in fds_to_keep`. It

[2021-02-08 05:34] ngimel commented on #51750
Yep, with a minor correction that for conjugated y it has to be row major (because blas is column major, 'n' in blas means column major, 't'/'h' is row major)

[2021-02-08 06:48] ntusteeian commented on #41508
I have solved this problem. The answer is that we can only mask the "pad" tokens in the columns (keys). We can't mask out the corresponding "pad" tokens in the row (queries). The reason is that the softmax function is applied along each row (query), so it will return "nan" if all the row are "-inf" numbers.

By the way, the padding in the row (queries) will not influence to the network prediction

[2021-02-08 07:02] ghandzhipeng commented on #15808
Hi, any solutions yet? I also met the same issue :)

[2021-02-08 07:19] kshitij12345 commented on #51866
That was fixed.

Running the above code on latest master correctly errors out with,
[code]

[2021-02-08 07:22] obravo7 commented on #36068
@mashuai191 I get the same error as you do when running both tensorflow 1.15 and pytorch within a Flask application. [Because tensorflow holds on to memory until the session is killed](https://github.com/tensorflow/tensorflow/issues/19731#issuecomment-473215534), it is suggested to use multiprocessing to release memory when the process is done running. However this seems to be a problem with Pytor

[2021-02-08 07:30] p0085058 commented on #41508
From my point of view, this is exactly where the problem is. One can only mask padding in key but can't mask padding in query. If someone uses MHA in self-attention, which means q=k=v, then there would be paddings in both query and key.

I think this area should also be masked i.e. attn_weights=0 in this area.
![d](https://user-images.githubusercontent.com/37329440/107188221-4260bb00-6a22-11eb-960

[2021-02-08 07:42] imgsrc-seiya commented on #51556
@jeffbinder thanks, it worked!!!!
The latest version of DeepfaceLab outputs a message that the setting is required, so I set it, but that was the problem.

[2021-02-08 07:42] #51556 closed

[2021-02-08 07:43] natangold85 opened #51868 "discrepancies between TorchConfigVersion.cmake to git branch"
Hi,
I'm compiling libtorch from source and i wanted to compile specific version 1.7.1. I'm in branch v1.7.1.
I expect that the content TorchConfigVersion.cmake after installing libtorch will point to 1.7.1 but it point to 1.7.0.

I saw this thread about it: https://github.com/pytorch/pytorch/issues/20525
It seems that the problem were fixed for this specific version but not for v1.7.1.

[2021-02-08 07:48] mruberry commented on #49877
Unfortunately we don't think there's a workaround at this time.

cc @malfet on this issue, too.

[2021-02-08 08:31] Borda commented on #51026
sounds good, but is there. eta when this importable version will be available also on Conda nightly? :]

[2021-02-08 08:39] SmrutiSikha commented on #46741
@mruberry sent pr for this issue. Please do check.

[2021-02-08 08:53] SimplyLucKey commented on #51858
PyTorch version: 1.4.0
Is debug build: No
CUDA used to build PyTorch: None

OS: Microsoft Windows 10 Home
GCC version: Could not collect
CMake version: Could not collect

Python version: 3.8
Is CUDA available: No
CUDA runtime version: No CUDA
GPU models and configuration: No CUDA
Nvidia driver version: No CUDA
cuDNN version: No CUDA

Versions of relevant libraries:
[pip3] numpy==1.18.5
[pip3] nump

[2021-02-08 08:53] ntusteeian commented on #41508
Yes, I totally agree with you. I set the query mask (blue bounding box in the picture) into zeros directly before. The performance of network almost remains identical without doing this procedure. The reason may be that the the row are in all same attention weights with the increasing of multi-head attention layers (layer 2&3&4) in my uploading examples.

[2021-02-08 09:00] SimplyLucKey commented on #51858
Oops sorry I think I uninstalled pytorch so I reinstalled it again and here's the result

Traceback (most recent call last):
  File "C:\Users\ruine\anaconda3\lib\runpy.py", line 185, in _run_module_as_main
    mod_name, mod_spec, code = _get_module_details(mod_name, _Error)
  File "C:\Users\ruine\anaconda3\lib\runpy.py", line 111, in _get_module_details
    __import__(pkg_name)
  File "C:\Users\ru

[2021-02-08 09:11] p0085058 commented on #41508
Meanwhile, I am wondering since we already have attn_mask in MHA, is key_padding_mask necessary? I mean one can always simulate key_padding_mask by using attn_mask.

To be more specific.
![e](https://user-images.githubusercontent.com/37329440/107197846-65de3280-6a2f-11eb-9ff2-d33da18683c3.png)
So I can just use this attn_mask instead of key_padding_mask and produce the same result.
![f](https://us

[2021-02-08 09:19] hazdzz commented on #16029
Why not Linear(a) * Sigmoid(Linear(b))? The PyTorch implementation is not the same as original paper purposesd.

[2021-02-08 09:32] Piteryo commented on #145
It seems that for new versions of TensorRT, the engine automatically converts all weights and inputs to int32 and TensorRT works well for int32 input in that case. However, using int64 is still an overkill if you inference you PyTorch model or use ONNX.

[2021-02-08 10:10] p0085058 commented on #41508
@kalifadan To solve this, one can replace NaN with 0 by using masked_fill method just like what @egpbos and @wgale did.
  https://github.com/pytorch/pytorch/blob/fcf8b712348f21634044a5d76a69a59727756357/torch/nn/functional.py#L4804

That is simply doing something like
`attn_output_weights = attn_output_weights.masked_fill(
            key_padding_mask.unsqueeze(1).unsqueeze(2), 0)`
`attn_output_we

[2021-02-08 10:39] volcacius commented on #50720
Fwiw the error I reported above with linear is off by 40 on a 4x4x5 gemm, it looks more like an overflow issue to me than an off by one error.

[2021-02-08 10:47] jamesbut commented on #50577
@glaringlee

I have come up against a few problems.

If we move TORCH_ARG(double, lr) into the OptimizerOptions base class then the following behaviour/use case doesn't work:

AdamOptions().lr(0.999).amsgrad(true);

Because of the definition of TORCH_ARG(), when one calls name(const T& new_##name)->decltype(*this), *this is returned which in the above case is OptimiserOptions not AdamOptions.

Thi

[2021-02-08 11:32] rishabh1212 commented on #25032
@cpuhrsch I came here from the https://github.com/pytorch/pytorch/issues/22169#issuecomment-584432255. I hope this feature gets added to PyTorch.

[2021-02-08 11:33] mattivi commented on #50689
Thanks for the suggestions, I will perform other tests as soon as I have time regarding the I/O stack

[2021-02-08 12:13] sh1ng commented on #24905
I see similar problem when loading torch and tensorflow

[code]

[2021-02-08 12:14] peterjc123 commented on #51858
@SimplyLucKey  Hey, I think it's impractical that you want to train a bert model with 1050Ti, which has only 4GB of GPU memory. In my experience, even with 1080Ti (GPU memory: 12 GB), we use apex (mixed precision) for training.

[2021-02-08 12:18] skyline75489 commented on #51858
@SimplyLucKey It's really not "they're only a few MB big". It will try to acquire more memory after the 30MB is granted. Try to reduce the batch size or just use a better card. @peterjc123 is right about this.

[2021-02-08 13:11] JeanKossaifi commented on #36035
@albanD what about https://github.com/pytorch/pytorch/pull/40589?

We are using ParameterList in our project and this bug breaks the library for several users who are using DataParallel. Do you recommend implementing our own ParameterList as an nn.Module until this is fixed?

[2021-02-08 14:06] mberr opened #51871 "Tensor.nonzero fails on GPU for tensors containing more than INT_MAX elements"
## 🐛 Bug

Calling nonzero for a tensor with more than INT_MAX elements leads to an error on GPU. On CPU there does not seem to be a problem.

## To Reproduce

[code]
## Expected behavior

Return the indices of non-zero elements.

## Environment

[code]

## Additional context

The problem was already described on [discuss.pytorch.org](https://discuss.pytorch.org/t/torch-geometric/106975), but I cou

[2021-02-08 14:17] mberr opened #51872 "Tensor.nonzero tries to allocate huge amount of memory for tensors on GPU with num_elements close to INT_MAX"
## 🐛 Bug

`Tensor.nonzero` fails for gpu tensors larger than `INT_MAX`, cf. #51871 . When the tensors are slightly smaller, a CUDA out of memory exception is raised with huge amounts of memory (> 1 exabyte) being requested.

## To Reproduce

[code]

The problem does not happen when the tensor is slightly smaller:
[code]

or when run on cpu
[code]

## Expected behavior

Return the result, if the re

[2021-02-08 14:23] veqtor commented on #3867
I feel it's up to the users to know the effects of using something like same-padding, omitting functionality "to protect" a user feels very strange to me. In almost every PyTorch project i end up having to hack around the lack of same padding, it is always ugly. Some models REQUIRE same padding and while there are certain scenarios where it is provable that same padding is a bad idea, the models t

[2021-02-08 14:28] FrankyCao opened #51873 "I Use torch::stft with C++ API,but output Shape is different to Python API"
macos, torch version:1.7.1

Python API:

import torch
x = torch.rand([2, 441344], dtype=float);
y = torch.stft(x, 4096)
print(y.shape)
output:torch.Size([2, 2049, 432, 2])

C++ API
auto wav = torch::rand({2, 441344});
auto stft = torch::stft(wav, 4096);
std::cout << "output sizes:" << stft.sizes() << std::endl;
output sizes::[2, 2049, 428, 2]

Why?

[2021-02-08 14:45] zhangguanheng66 commented on #41508
@p0085058 Thanks for the proposal. Feel free to create a PR so we can start reviewing and more discussion there.

[2021-02-08 14:53] SimplyLucKey commented on #51858
If the device is using cpu instead, is it then using the RAM as memory? I ran it on my PC with an AMD card (so the device was CPU) and it runs without a problem but takes a long time to train.

[2021-02-08 15:12] brianjo commented on #48465
@mattip Could you take a look at this one? When I look at the page in the debugger, I get a 404 on popper and bootstrap, which are in https://github.com/pytorch/pytorch.github.io/tree/site/docs/1.7.1/_static/js/vendor. Is there a disconnect on the way we do the redirect?

[2021-02-08 15:19] jamesbut commented on #50577
If I implement it like I highlighted in option 1. above then we have 3 options:

1. Implement the getters and setters as abstract virtual functions so that one cannot compile the code without overriding.
2. Implement them as just a virtual functions with a runtime written warning that they should override the function.
3. Implement them as just a virtual function with a TORCH_CHECK such that the c

[2021-02-08 15:19] brianjo commented on #3428
Thanks for letting me know. @zou3519 could you run your magic script on the https://github.com/pytorch/pytorch.github.io/tree/site/docs/1.7.1 folder?

[2021-02-08 15:29] anjali411 commented on #49426
`pdist` is currently exposed in both `torch.*` and `torch.nn.functional.*`. I am not sure if that's intended

[2021-02-08 15:29] kimishpatel commented on #50720
I am assuming this is on x86 machine? We are likely going through fbgemm in that case. Note that on fbgemm weight quantization requires reduced range, meaning quantized values must fit within -64, 63 using 7 bits, instead -128, 127. I am not sure if that is happening here. @dskhudia knows more about it.

[2021-02-08 15:38] anjali411 opened #51875 "`torch.unfold` does not support automatic differentiation for complex tensors"
[code]

cc @ezyang @anjali411 @dylanbespalko @mruberry

[2021-02-08 15:49] antoniovs1029 opened #51877 "LNK2019 error when linking onnx_torch on Windows with BUILD_TEST=0"
## 🐛 Bug

When building PyTorch from source on Windows, there are multiple `LNK2019 unresolved external symbol` errors when trying to link classes in the onnx_torch:: namespace.

I've found this problem when building from source on different Windows machines, and using different build flags. But it always happens when using `BUILD_TEST=0`, and it doesn't happen when `BUILD_TEST=1`.

This has been

[2021-02-08 15:59] volcacius commented on #50720
Yes this is on Intel x86. It would be really useful if whatever restrictions apply were documented somewhere in pytorch land, or made more explicit at the datatype level (quint8 doesn't seem appropriate to me if the value is actually quint7).

[2021-02-08 16:01] kimishpatel commented on #50720
100% agree on documentation. At the least we can throw warning.

[2021-02-08 16:04] izdeby commented on #51850
Please, contact fastia forum? Unless you have an exact issue with pytorch.

[2021-02-08 16:04] #51850 closed

[2021-02-08 16:05] izdeby commented on #51840
Closing as resolved.

[2021-02-08 16:10] volcacius commented on #50720
Another thing, I haven't been able to reproduce the problems reported above consistently across machines, so there might something going in terms of whichever extension-dependent implementation is actually executed. The results reported are on a i7-7820HQ.

[2021-02-08 16:11] frgfm commented on #51840
@izdeby since there is the closing keyword in #51852, this issue will be closed once the PR is merged on master. But as of now, it has not been merged or reviewed, perhaps we should keep the issue open in the meantime?

[2021-02-08 16:12] izdeby commented on #51873
Please, use our [forums](https://discuss.pytorch.org/) for questions

[2021-02-08 16:12] #51873 closed

[2021-02-08 16:15] glaringlee commented on #50577
@jamesbut
I think BC compatibility is important. So we should go with option 1 and then choose between option 2 and 3.
I will do some research today see whether we have better options, will get back to you later today or tomorrow.
Thanks for contributing this!!!!

[2021-02-08 16:15] izdeby commented on #51866
Closing as fixed

[2021-02-08 16:15] #51866 closed

[2021-02-08 16:17] albanD commented on #49426
@anjali411 that is true for a few of them as the functions that were historically in `torch.nn.functional`, when lowered to c++ (and added to native_functions.yaml) usually end up in the `torch.` namespace. So the functional version just calls back into that.

[2021-02-08 16:19] izdeby commented on #51865
Please, use our [forums](https://discuss.pytorch.org/) for questions

[2021-02-08 16:19] #51865 closed

[2021-02-08 16:22] zou3519 commented on #3428
@vadimkantorov the problem looks like either:
- the 1.7.1 documentation have page titles that erroneously say 1.7.0.
- the 1.7.1 documentation is actually the 1.7.0 documentation

If we go to https://pytorch.org/docs/stable/torch.html, the page actually says
![image](https://user-images.githubusercontent.com/5652049/107248107-fac93780-69ff-11eb-81d0-445df19e2e0c.png)

@brianjo the magic script doe

[2021-02-08 16:32] #50695 closed

[2021-02-08 16:37] izdeby commented on #51840
Sorry, didnt see the PR. Reopening

[2021-02-08 16:44] mattip commented on #3428
So there are at least two problems
- somehow the page `<title>` for the 1.7.1 docs (in the top few lines of the HTML) says 1.7.0. This is easily fixed with a sed replacement script, It would be good to figure out how this happened and prevent it in the future. The 1.8.0 docs were generated (I think) correctly. The original version of the documents in commit `pytorch/pyotrch.github.io/c403592bb` fr

[2021-02-08 16:44] penguinwu commented on #51808
@gmagogsfm @Lilyjjo This case applies to non-module objects too. It is about taking advantage of the semantics of `Final` in our IR transformation. But the basic mechanism utilized is the same, so we can accommodate both cases in one implementation.

[2021-02-08 16:49] #51434 closed

[2021-02-08 16:50] vadimkantorov commented on #3428
Maybe it can be done by having different values in title tag and in meta tag. But as long as the version value is correct and most recent, maybe it's fine?

[2021-02-08 17:25] spandantiwari commented on #10252
aten::expand is now supported for most of the use cases. Please upgrade PyTorch to the latest version to get the latest updates to ONNX export. Feel free to reopen this issue if you still see any issue in the latest version.

[2021-02-08 17:25] #10252 closed

[2021-02-08 17:32] twoertwein commented on #51808
a slightly more general comment: If I'm interpreting the python docs about `Final` correctly, `Final` does not mean that an object is constant (unless it is immutable and all of its sub-objects), it only means that the object cannot be re-assigned (`id(...)` does not change). I think pytorch seems to interpret it differently: A `Final[List]` (should be able to append to it) seems to become a `Tupl

[2021-02-08 17:34] ngimel commented on #51872
There's no pytorch bug here, it's the bug and the limitation of a dependency, cub, that pytorch uses in the `nonzero` function. Cub does not support inputs with more than INT_MAX elements (#51871), and when close to INT_MAX, it has a buggy workspace calculation that apparently overflows somewhere (this issue).
cc @ptrblck for cub workspace.

[2021-02-08 17:42] mfkasim1 opened #51883 "Memory leak when using lambda in class"
## 🐛 Bug

I have detected a memory leak when using a lambda function inside a Python class.

## To Reproduce

[code]

The output of the script above is:
[code]

## Expected behavior

No memory leak should happen.

## Environment

 - PyTorch Version (e.g., 1.0): 1.8.0a0+4803eaf
 - OS (e.g., Linux): Linux (Ubuntu 18.04.5 LTS)
 - How you installed PyTorch (`conda`, `pip`, source): source
 - Build com

[2021-02-08 17:43] ptrblck commented on #51872
It seems to be related to this cub issue, where the broken workspace calculation is visible: https://github.com/NVIDIA/cub/issues/221
CC @allisonvacanti

[2021-02-08 17:47] fritzo commented on #51777
@natank1 The KL divergence pairs you mention should all be covered by `torch.distributions.kl_divergence(-,-)` which dispatches in the types of its two inputs. Note in torch.distributions semantics, `kl_divergence(Dirichlet(...), Beta(...))` would be a shape error but you can instead use `kl_divergence(Dirichlet(...),Dirichlet(...))`. If you want to add new special case pairs, we welcome contribut

[2021-02-08 17:51] walterddr commented on #51868
Hmm. seems like TORCH_BUILD_VERSION is set in CMakeLists.txt via version.txt - so I guess it is not correctly reflecting the latest patch version on release/1.7 branch.

[2021-02-08 17:53] Lilyjjo opened #51885 "JIT Module forward pre-hooks do not support default arguments"
## 🐛 Bug

Eager pre-hooks handle default arguments on a module's forward while TorchScript does not. The difficulty of supporting this arises from the need to type the arguments of the pre-hooks. Currently the inputs of pre-hooks are required to be typed to match the forward's inputs exactly, ignoring default arguments.

[code]

Error:
[code]

cc @gmagogsfm

[2021-02-08 17:55] SharanSMenon commented on #47688
Maybe you could just use MLCompute. I don't know too much.

[2021-02-08 18:06] jeffbinder commented on #51556
I'm glad I could help!

[2021-02-08 18:07] zou3519 commented on #41508
cc @zhangguanheng66 as owner for MHA do you think this should be high-priority?

[2021-02-08 18:09] cpuhrsch commented on #41508
This is a wider discussion, because it affects softmax in general. MHA happens to surface this issue, but it's a general problem.

[2021-02-08 18:09] seemethere opened #51886 "[v.1.8.0] Release Tracker"
We cut a [release branch](https://github.com/pytorch/pytorch/tree/release/1.8) for the 1.8.0 release.

Our plan from this point from this point is roughly:

* Phase 1 (until 2/18): work on finalizing the release branch
* Phase 2 (after 2/18): perform extended integration/stability/performance testing based on Release Candidate builds.

This issue is for tracking cherry-picks to the release branch.

[2021-02-08 18:12] natank1 commented on #51777
Thanks

What are therefore my action items now ?enriching torch is a mutual cause
Natan

נשלח מה-iPhone שלי

[2021-02-08 18:16] jbschlosser opened #51887 "[FR] Initialize module on specified device"
## 🚀 Feature
Provide a way to initialize a module on a specified device. Currently, modules are always initialized on CPU, and must be moved to another device (e.g. GPU) after initialization.

## Motivation
This functionality is essential for initializing modules that are too big to fit in CPU memory. Further, albeit less importantly, initializing directly on the desired device reduces some overhe

[2021-02-08 18:17] gchanan commented on #51887
There's also remote modules: https://github.com/pytorch/pytorch/issues/37136

[2021-02-08 18:18] walterddr commented on #51886
Link to landed master PR (if applicable): https://github.com/pytorch/pytorch/commit/9cbefad83f79e0e277f3cdfd39b42787e20f5ebd
Link to release branch PR: https://github.com/pytorch/pytorch/pull/51882
Criteria Category: Critical fixes (License)

[2021-02-08 18:21] malfet opened #51889 "Compiling PyTorch on ARM64:Ubuntu-18.04 fails with internal compiler error"
[code]
See discussion in https://github.com/pytorch/pytorch/pull/51834

cc @ezyang @gchanan @zou3519 @bdhirsh @jbschlosser, @sebpop

[2021-02-08 18:24] wgale commented on #41508
Sorry for the delayed response - I'm looking into whether I can take this on again, but it might take a couple of weeks.

To summarize, this bug occurs when there are one or more positions in which there are no valid inputs for attention to attend to - i.e. all the inputs to a position are masked. Many of the reported "bugs" relating to this issue are user errors (inverted mask), however there are

[2021-02-08 18:47] dskhudia commented on #51216
Currently the following two methods should work for saving quantized models:
1) Save float model state dictionary and for loading it again, restore float model dictionary and follow the quantization steps again
2) Script/trace quantized model and store/load with torch.jit.save/torch.jit.load

Currently on quantized model with linear/conv torch.save or copy.deepcopy doesn't work.

[2021-02-08 18:52] janeyx99 commented on #51886
Link to landed master PR (if applicable): #51864, fcf8b71
Link to release branch PR: #51890
Criteria Category: Test/CI fixes

[2021-02-08 18:56] hyperfraise commented on #38760
I have the same issue when trying to export models from https://hangzhang.org/PyTorch-Encoding/model_zoo/segmentation.html

Here is the code I'm using :

[code]

[2021-02-08 19:04] dskhudia commented on #50720
Hi @volcacius,

There might be saturation in internal accumulators for quantized operators. This saturation is explained here: https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/quantized/cpu/qconv.cpp#L778-L806

In PyTorch, this is remedied by using only 7-bits (i.e., restricting activation values between 0 - 127) but the data type is still qint8. reduce_range option (https://git

[2021-02-08 19:17] malfet commented on #51381
@wconstab, no it was not a false alarm, as far as I remember issue correctly pinpointed date when MKLDNN library support was dropped by build script error.

[2021-02-08 19:17] stas00 opened #51892 "[cuda jit extentions] global shared destination conflicts with virtual envs"
## 🚀 Feature

Currently CUDA JIT extensions get all installed into `~/.cache/torch_extensions`, this doesn't work with virtual environments.

I propose that these get installed into some location under the virtual environment tree.

## Motivation

Say you test cuda-10.2 and cuda-11.0 virtual envs, and the cuda extensions is always one or the other - you have to constantly recompile the extensions

[2021-02-08 19:20] ejguan commented on #51849
The comment from @ClementPinard is correct. `tensor` and `tensor.numpy()` are sharing same data storage. When we want to share Tensor to processes, we called [`share_memory_()`](https://pytorch.org/docs/stable/tensors.html#torch.Tensor.share_memory_) to move the underlying storage, which `tensor.numpy` also points.
You can try this to see the data behind Numpy is moved:
[code]
You can also pass `t

[2021-02-08 19:25] xuzhao9 commented on #51381
@malfet The noisy data points Will mentioned happened on 1/28 and 1/29. The MKLDNN regression happened between 1.8.0.dev20210113 (b54240d) and 1.8.0.dev20210114(19a8e68), which is not included in the current dataset.

[2021-02-08 19:25] #48643 closed

[2021-02-08 19:27] jbschlosser commented on #41508
Utilizing the safe softmax proposed in https://github.com/pytorch/pytorch/issues/41508#issuecomment-775030992 within MHA will address 2 but not 1. Without explicit, performance-decreasing checks, there's no way to distinguish between a valid use case and a user input error, since the end result is the same: an entire sequence is masked out.

However, given that safe softmax will output all zeroes

[2021-02-08 19:37] gmagogsfm commented on #48643
The proper fix has landed, you shouldn't need to use the workaround in my earlier comment any more (provided you use recent enough pytorch build)

[2021-02-08 19:48] #51352 closed

[2021-02-08 19:50] zhangguanheng66 commented on #41508
I also agree to use a safer `softmax` to avoid this error without sacrificing the performance of the MHA. Can we add a default epsilon to the `softmax` ops?

[2021-02-08 19:55] imaginary-person commented on #50789
Hello @kurtamohler & @mruberry,

Please help me with a doubt regarding pow().

Please consider this small snippet of code:
[code]
This would result in a Runtime overflow error with my implementation (essentially, merely I duplicated existing code) **as well as the existing implementation for CUDA**. I cast the exponent to `iter.common_dtype()` (which is the dtype in which the computations should b

[2021-02-08 20:05] wgale commented on #41508
Could we also update the doc string for "attn_mask" to mention that true means "do not attend" and add a warning in MHA documentation? Inverting the mask appears to be a common mistake, so this might help some people avoid it. It is clearly documented in the "key_padding_mask" doc string though - so updating the documentation might not do much here. I think it would be worth looking into whether t

[2021-02-08 20:06] maxluk commented on #49440
Thank you for the write up! It moves forward the design of DataLoader and addresses some common problems, so it's a great effort. It's hard to make conclusions on the solution though without end-to-end examples. The proposal is heavy on architectural principles which is good, but lacks description of how end user will interact with the system and how the end solution will look like. Can you includ

[2021-02-08 20:07] vadimkantorov opened #51896 "Can't reassign a child module instance to a lambda"
It seems we can't assign a module's attribute to a lambda once it was a module before. This + absence of easy shortcuts for anonymous module creation (https://github.com/pytorch/pytorch/issues/51782) prevents some useful stubbing approaches with lambdas.

[code]

[2021-02-08 20:12] wgale commented on #41508
This issue looks relevant https://github.com/pytorch/pytorch/issues/49724

[2021-02-08 20:27] anjali411 commented on #49426
Okay then I think we should move the doc entry to torch page and link that under `torch.nn.functional.pdist` as "alias of `torch.pdist`"?

[2021-02-08 20:30] malfet commented on #51889
Filed bug against gcc: https://gcc.gnu.org/bugzilla/show_bug.cgi?id=99012

[2021-02-08 20:30] zhangguanheng66 commented on #41508
@ezyang @zou3519 Do you know who we could contact for `softmax`?

[2021-02-08 20:41] shuaibaslam2019 opened #51899 "Is learning rate decay a regularization technique?"
Upto my understanding, it is a regularization technique, because it helps to learn model correctly and in generalization. But I am still confused at whether it would be correct or not to call it a "regularization" method.??

Thank you!

[2021-02-08 20:43] ngimel commented on #51887
There's an obvious addition here "with specified dtype". There's also a related request "don't materialize until device placement is known", which could happen some time after model initialization. We might want a separate discussion for delayed initialization though, and perhaps it can be solved with remote modules.

[2021-02-08 20:55] Lilyjjo commented on #29037
ScriptModule forward hooks and pre-hooks were added by PR #49544. Backward tensor hooks are still not supported in JIT, but if there's still a desire feel free to open a new issue for them!

[2021-02-08 20:55] #29037 closed

[2021-02-08 20:57] Lilyjjo commented on #42600
Closed with PR #49544

[2021-02-08 20:57] #42600 closed

[2021-02-08 21:03] Lilyjjo commented on #34329
Just an update, module forward hooks and pre-hooks were added in PR #49544. Backward/tensor hooks are yet to be supported

[2021-02-08 21:11] Lilyjjo commented on #46122
This code snippet runs now, I'm going to close the issue.

[2021-02-08 21:11] #46122 closed

[2021-02-08 21:12] #39502 closed

[2021-02-08 21:24] zou3519 commented on #34329
Re: Backward hooks: if it helps prioritization, the frontend has deprecated the [old backward hook API](https://pytorch.org/docs/master/generated/torch.nn.Module.html#torch.nn.Module.register_backward_hook) (so no need to support that) in favor of [the new one](https://pytorch.org/docs/master/generated/torch.nn.Module.html#torch.nn.Module.register_full_backward_hook)

[2021-02-08 21:27] malfet commented on #51863
Also, I hit kernel run lock while using this driver version, see `perf top`:
[code]

[2021-02-08 21:59] volcacius commented on #50720
Hi @dskhudia,

Thanks for the pointers. I maintain a standalone quantization-aware training library called Brevitas that implements its own flow, but I was looking into integration with the quantized functional operators for inference at 8-bit.
I'll change the bit-width to 7 in my library then, but I think it would be really useful if this behavior was documented here too https://pytorch.org/docs/

[2021-02-08 22:05] DNXie opened #51906 "torch.nn.functional.binary_cross_entropy_with_logits outputs NaN"
## 🐛 Bug

`torch.nn.functional.binary_cross_entropy_with_logits` outputs NaN when input is empty or large

## To Reproduce

[code]
Output:
[code]

[code]

Output:
[code]

## Expected behavior

Expect a grace exception message if the parameters are invalid or unexpected

## Environment
PyTorch version: 1.8.0.dev20210126+cpu
Is debug build: False
CUDA used to build PyTorch: None
ROCM used to build P

[2021-02-08 22:07] nlgranger commented on #45499
FYI, https://github.com/pytorch/pytorch/commit/649e683255c152236a5db8ad86cdfbeb1b4611e1 (folllowing https://github.com/pytorch/pytorch/issues/45499) fixes the type annotations of nonzero.

[2021-02-08 22:12] rgommers commented on #45499
It does seem worth doing - this has already come up for `unique`, `nonzero`, and various `torch.linalg` functions.

[2021-02-08 22:17] izdeby commented on #51899
Please use our [forum](https://discuss.pytorch.org/) for questions

[2021-02-08 22:39] vadimkantorov commented on #50282
I also hit this. Also I needed a MultiOptimizer, since in the cases where we need different schedules for different part of the model, we also often need different optimizer (e.g. a simpler SGD for some parts). I implemented a wrapper that can be used for both goals, since scheduler and optimizer share API:

[code]

[2021-02-08 22:40] jamesr66a commented on #51501
This should be fixed. Please reopen if still an issue

[2021-02-08 22:40] #51501 closed

[2021-02-08 22:48] DNXie opened #51910 "torch.nn.functional.kl_div and torch.nn.functional.nll_loss outputs NaN"
## 🐛 Bug

`torch.nn.functional.kl_div` outputs NaN when `input` is empty or large
`torch.nn.functional.nll_loss` outputs NaN when `input` is empty

## To Reproduce
[code]

[code]
[code]

Output:
[code]

## Expected behavior

Expect a grace exception message if the parameters are invalid or unexpected

## Environment
PyTorch version: 1.8.0.dev20210126+cpu
Is debug build: False
CUDA used to build Py

[2021-02-08 22:50] DNXie opened #51911 "torch.nn.functional.grid_sample outputs NaN"
## 🐛 Bug

`torch.nn.functional.grid_sample` outputs NaN if `grid` contains large value

## To Reproduce
[code]

Output:
[code]
## Expected behavior

Expect a grace exception message if the parameters are invalid or unexpected

## Environment
PyTorch version: 1.8.0.dev20210126+cpu
Is debug build: False
CUDA used to build PyTorch: None
ROCM used to build PyTorch: N/A

OS: Ubuntu 18.04.4 LTS (x86_64)

[2021-02-08 22:51] DNXie opened #51912 "torch.nn.functional.cosine_similarity outputs NaN"
## 🐛 Bug

`torch.nn.functional.cosine_similarity` outputs NaN

## To Reproduce

[code]

Output:
[code]

## Expected behavior

## Environment

PyTorch version: 1.8.0.dev20210126+cpu
Is debug build: False
CUDA used to build PyTorch: None
ROCM used to build PyTorch: N/A

OS: Ubuntu 18.04.4 LTS (x86_64)
GCC version: Could not collect
Clang version: Could not collect
CMake version: Could not collect

P

[2021-02-08 23:32] jerryzh168 commented on #49741
GPU support is not ready yet, but it might be picked up some time.

[2021-02-08 23:33] jerryzh168 commented on #49741
Closing for now, please let us know if you have additional questions. Also you can use discussion forum for questions. https://discuss.pytorch.org/c/quantization/17

[2021-02-08 23:33] #49741 closed

[2021-02-08 23:38] jerryzh168 commented on #47535
Is this resolved? @z-a-f

[2021-02-08 23:40] jerryzh168 commented on #47363
sorry, just saw this, @vkuzo is this just for debugging purposes? I don't think we can preserve the type, is preserving name good enough? and are you saying we want to preserve the name as an attribute?

[2021-02-08 23:45] vkuzo commented on #48473
Please let us know if there are any more questions on this one

[2021-02-08 23:45] #48473 closed

[2021-02-08 23:51] ppwwyyxx commented on #51886
Link to landed master PR: https://github.com/pytorch/pytorch/pull/51789
Link to release branch PR: https://github.com/pytorch/pytorch/pull/51913
Criteria Category: Fix to new features introduced in 1.8.
It's a small change that fixed a small typing issue in ternary op of JIT https://github.com/pytorch/pytorch/pull/49165.

[2021-02-08 23:52] davidmoseler commented on #51320
@SsnL Makes sense. However, how could I detect the presence of the reshape in the resnet model?

[2021-02-08 23:54] jeffdaily commented on #51303
Additional test failures identified.  https://github.com/pytorch/pytorch/pull/51915 skips them for now.

test_ops.py
[code]

test_autograd.py
[code]

test_linalg
[code]

[2021-02-09 00:00] vkuzo commented on #47363
This is for debugging, it's a p1.  Preserving the name would work.

[2021-02-09 00:01] vkuzo commented on #47363
When working on making complex models symbolically traceable, having something like this would make it easier for people to debug.  Without this, it's unclear which GraphModule was created from which original module, which gets tricky to track quickly if there are a large # of disjoint symbolically traceable subgraphs.

[2021-02-09 00:19] vadimkantorov commented on #50402
Same problem. When dealing with multiple optimizers for different model parts, it's much easier to have an optimizer working on an (temporarily) empty parameter list rather than refactoring code just for this  tinkering

[2021-02-09 00:27] spandantiwari commented on #51833
I am not sure this is specific to ONNX. The specific segfault points to a torch.jit API.

[2021-02-09 00:37] VitalyFedyunin commented on #49440
Thanks, @tmbdev we are going to put some time and review the potential of adding AIStore and/or TensorCom as DataPipes.

@maxluk we are currently working on the next iteration of the RFC with extra attention to usage examples, your feedback is important and we will take it into account as well.

Answering other questions:
- yes, we are considering supporting Distributed Data Loading in the future.

[2021-02-09 00:38] pritamdamania87 commented on #45846
Closing this out for now since we don't have a circle ci link for this and I can't repro it locally.

[2021-02-09 00:38] #45846 closed

[2021-02-09 00:52] zasdfgbnm commented on #51863
tried locally with 460.39 + CUDA 10.2 in a container, the `cuda_vectorized_test` succeed on 2080ti, and hang at
[code]
at 3090.

[2021-02-09 00:53] jamesr66a commented on #51654
https://www.python.org/dev/peps/pep-0563/

[2021-02-09 00:57] matthewchung74 opened #51925 "when converting scripted model to coremltools, Unknown type bool encountered in graph lowering. This type is not supported in ONNX export."
## 🐛 Bug

getting this error
`Unknown type bool encountered in graph lowering. This type is not supported in ONNX export.`

## To Reproduce

Steps to reproduce the behavior:

1. run this colab https://colab.research.google.com/drive/13tF8p9x4FCPG0KEC_PBEEMianWKo8mfG?usp=sharing

which basically grabs a visual transformer from time, and tries to convert to torchscript to coreml

## Expected behavio

[2021-02-09 01:17] ngimel commented on #51863
On P100 + 450.80 + cuda 11 test fails. I also remember it failing with cuda 10.1 + some flavor of 10.1 driver. But no hangs.

[2021-02-09 01:51] #37874 closed

[2021-02-09 01:53] peterjc123 commented on #51877
Hey, I think it's okay to simply move the `list(APPEND` statement from the `if-block`. BTW, could you please create a PR for this?

[2021-02-09 02:18] ShoufaChen commented on #40275
Hi, @xwang233 , @minzhon

Now, is there any convenient workaround for this issue?  Thanks.

[2021-02-09 02:23] xwang233 commented on #40275
Hi @ShoufaChen , if you still encounter this issue, you may have to disable cudnn with

[code]

[2021-02-09 02:28] peterjc123 commented on #51858
Yes.

Well, it may take much longer. I hope you are not trying to train from scratch.

[2021-02-09 02:29] ShoufaChen commented on #40275
Hi, @xwang233 , Thanks very much for your quick reply.

I'd like to know does latest nightly pytorch solve this problem?
Or can I install pytorch which is built with cudnnv8 with conda (not from source).

[2021-02-09 02:32] xwang233 commented on #40275
There are nightly binaries built with cuda 11.0 and cudnn 8. You can try to install and see if that solves the problem. https://pytorch.org/get-started/locally/

There isn't a fix at pytorch side yet (for cudnn 7.6.5), but cudnn v8 may solve the problem.

[2021-02-09 02:34] ShoufaChen commented on #40275
Thanks. I'll test on cudnn v8 and report results soon.

[2021-02-09 02:37] rightaditya opened #51930 "CUDA inverse() causes illegal memory access"
**Update:** this issue has been updated to only track CUDA inverse() causing an illegal memory access. The original issue is below. See https://github.com/pytorch/pytorch/issues/52700, which tracks the bug in det().

## 🐛 Bug

For certain tensors on CUDA, calling `tensor.det()` returns some `nan` values where it should return `0.`, and calling `tensor.inverse()` causes CUDA illegal memory access.

[2021-02-09 02:39] ShoufaChen commented on #40275
Hi, @xwang233 ,

Is it OK if I set `torch.backends.cudnn.benchmark = False` to disable cudnn?
Does it works same like `with torch.backends.cudnn.flags(enabled=False):`

[2021-02-09 02:41] xwang233 commented on #40275
You can use `torch.backends.cudnn.enabled = False` to disable cudnn. It's the same as context manager `with`. It affects all script below, but `with` only affects code in it.

[2021-02-09 02:42] ShoufaChen commented on #40275
I see. Thank you.

[2021-02-09 02:45] stas00 opened #51931 "[Pipe] Tied layers"
## 🚀 Feature

Continuing the [requests](https://github.com/pytorch/pytorch/pull/50693) to support various needs of the models in the new Pipe pytorch feature, this one brings up

### Tied layers

For models that have tied weights (e.g. encoder/decoder in transformer-type of models. It's important to:
- avoid memory duplication
- handle the gradients correctly (have to be reduced twice in the typic

[2021-02-09 02:45] stas00 opened #51932 "[Pipe] Memory-Efficient Model Construction"
## 🚀 Feature

Continuing the [requests](https://github.com/pytorch/pytorch/pull/50693) to support various needs of the models in the new Pipe pytorch feature, this one brings up

### Memory-Efficient Model Construction

As featured in DeepSpeed you can see the full discussion at [Memory-Efficient Model Construction](https://www.deepspeed.ai/tutorials/pipeline/#memory-efficient-model-construction).

[2021-02-09 02:49] ilovepytorch opened #51933 "Performance bugs of transpose2d on A100"
## 🐛 Bug

The performance of running `transpose2d` with different datatypes on A100 is unexpected.

## To Reproduce
[code]
The above code turns on CuDNN, and evaluates the performance with a reasonable number of warmup runs on GPUs.

The following is the output on A100
[code]

## Expected behavior

It's expected that `float16` will deliver the best performance with the minimum runtime cost. Howeve

[2021-02-09 02:58] sytelus commented on #15797
FYI - in my case this error was occuring because of mismatch in number of classes in dataset and model logits. For example, if you try to use cifar10 model with cifar100 you will get this error.

[2021-02-09 03:00] xwang233 commented on #51933
Thanks for posting the issue.

To get the best performance for FP16 with tensor core, you need to use `channels_last` memory format. For example

[code]

TF32 is currently enabled by default in pytorch. So your "FP32" test is actually running with "TF32" in the backend. If you really want to use FP32, you need to set those `allow_tf32` flags to `False`.

It's also recommended to add a `end.synchro

[2021-02-09 03:28] jamesr66a commented on #51886
Link to release branch PR: https://github.com/pytorch/pytorch/pull/51935
Criteria category: Release branch specific changes

[2021-02-09 03:44] p0085058 commented on #41508
Hi guanheng, @zhangguanheng66

Thank you for considering my suggestion on safe softmax function. I would like to create a PR and make my contribution to MHA. However, I am just a beginner to github. I find it seems a complicated routine to go over to fix this issue. It would take me some time but it is easier and much more efficient for someone working inside Facebook to do this like you, right?

[2021-02-09 03:47] mszhanyi commented on #51858
close this issue because the discussion is off the topic.
@SimplyLucKey , Thank your feedback.
https://discuss.pytorch.org/ is a better place to discussion how to make the best of PyTorch.

[2021-02-09 03:47] #51858 closed

[2021-02-09 03:52] peterjc123 commented on #51877
@antoniovs1029 Never mind. I opened a PR for you.

[2021-02-09 03:56] stas00 commented on #51931
@msbaines wrote in https://github.com/pytorch/pytorch/pull/50693#issuecomment-775627644

Exactly, which makes it very difficult to accomplish for the user. It's not possible to accomplish with automatic partitioning, other than doing it totally manually and trying to handpick which layer should go where.

That's why I've opened this issue - there must be an easier way to tell the Pipe that this is

[2021-02-09 04:01] mszhanyi commented on #50754
fixed by https://github.com/pytorch/pytorch/pull/51330

[2021-02-09 04:01] #50754 closed

[2021-02-09 04:26] jerryzh168 commented on #47249
quantized division is not supported currently, please feel free to submit a PR, we can review it. Also here is the implementation for quantized multiplication: https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/quantized/cpu/qmul.cpp

[2021-02-09 04:28] jerryzh168 commented on #44926
We have a "non_traceable_module_name" and "non_traceable_module_class" in qconfig_dict: https://github.com/pytorch/pytorch/blob/master/test/quantization/test_quantize_fx.py#L1281

[2021-02-09 04:28] #44926 closed

[2021-02-09 05:10] twoertwein opened #51941 "RuntimeError: Wrong type for arguments when calling ignored function from JIT"
## 🐛 Bug
It compiles but fails at runtime. This only happens when calling ignored functions from JIT'ed functions.
[code]
[code]

[2021-02-09 05:23] twoertwein opened #51942 "Overwritten method has wrong self when JIT'ed"
## 🐛 Bug
Doing the following is probably not a good programming style. It might be better to throw an error during compilation or use the correct `self`.

[code]

[code]

[2021-02-09 05:35] Meghana-Praveen commented on #42942
Hello,

My idea of fixing the above issue is that the solution that would accept any tensor-like objects and perform the gradcheck with full support which allows the gradcheck to perform the internal validations like checking for undefined gradient. As I analyzed the variables and functions that will be used by the gradcheck module, the fix will be to implement these attributes for the tensor-like

[2021-02-09 05:48] #49804 closed

[2021-02-09 06:20] Coderx7 commented on #14573
Has anything changed in this regard since October?

[2021-02-09 06:25] vadimkantorov commented on #4954
Same for `clip_grad_value_`:
![image](https://user-images.githubusercontent.com/1041752/107324203-f0627880-6aa7-11eb-8641-7c9e0745fb50.png)

[2021-02-09 06:28] vadimkantorov opened #51945 "[docs] clip_grad_value_ returns some undocumented value"
https://pytorch.org/docs/stable/generated/torch.nn.utils.clip_grad_value_.html?highlight=clip_grad_value_#torch.nn.utils.clip_grad_value_ says that it returns None, but in fact it returns a scalar tensor. What's contained in it? input tensor norm? max abs value?

I propose to document what it returns

Maybe same for `clip_grad_norm_`?

cc @jlin27 @mruberry @albanD @jbschlosser

[2021-02-09 06:33] hhcs9527 commented on #47039
you may need to export TORCH_CUDA_ARCH_LIST="8.0" .

[2021-02-09 06:41] SciPioneer commented on #47646
@malfet  Did you find it was only flaky on CI?

I ran `pytest -k test_nccl_high_priority_stream test/distributed/test_distributed_fork.py` on devgpu 20 times, and the test didn't fail a single time.

[2021-02-09 06:57] SplitInfinity commented on #51941
`dtype` is not bound in as its own type yet and is represented as an integer in JIT, and it seems that this integer is getting passed to the `@ignored` function instead of `torch.float64`.

[2021-02-09 07:00] SplitInfinity commented on #51833
Thanks @spandantiwari

@t-vi, I think this might have a similar if not the same root case as #50454 that you are working on. Do you mind if I assign this one to you as well?

[2021-02-09 07:14] SplitInfinity commented on #51885
Ah, nice catch. Just brainstorming here but should we require that an argument of type `T` with a default valueson `forward` should be present in the signature in the pre-hook and hook typed as `Optional[T]`? Since we control the hook invocation code we can provide a value or `None` as appropriate based on how `Module.__call__` is invoked?

Once union types arrive, we can require the type of the i

[2021-02-09 07:18] t-vi commented on #51833
You might have to remind me, but yes.

[2021-02-09 07:20] SplitInfinity commented on #51735
@eellison You wrote this pass, right? Do you have any insight to offer?

[2021-02-09 07:25] guyang3532 commented on #51337
Resolved by https://github.com/pytorch/pytorch/commit/d6452a1a0cbc308939f8c597c68a1f5f212dc8b8

[2021-02-09 07:25] #51337 closed

[2021-02-09 07:27] dncliss commented on #51592
@quickwritereader  - I confirmed locally that the build worked fully to completion with your proposed fix above, so.... awaiting next steps toward getting this into master branch..... do you think this will go into a PR to make in time for 1.8.0 (I see that rc1 has been recently tagged)? Alternatively, it could be patched afterward, though it would be cleaner if it built upon release.

[2021-02-09 07:36] SplitInfinity commented on #51942
We iterate through `dir(module)` to find methods and then inspect their source code after. Perhaps we should skip the iteration altogether and use the source code directly?

I would argue that the error you have shown is the one you refer to when you say `it might be better to throw an error during compilation." What can be improved about the error message?

[2021-02-09 07:43] mruberry commented on #49426
I suggest we leave the docs as they are now for now. Having undocumented ops is OK if, for example, we don't think these operations should be exposed in the torch namespace. Adding aliases for them to their torch.nn.functional equivalents will just clutter the docs and cause confusion about which operator to use.

[2021-02-09 07:50] kshitij12345 opened #51947 "[numpy] torch.sign: Inconsistent with np.sign for nan input"
[code]

[2021-02-09 07:51] kshitij12345 commented on #51947
Duplicate of #41245. Closing in favour of the original one.

[2021-02-09 07:51] #51947 closed

[2021-02-09 07:53] hameerabbasi commented on #42942
@Meghana-Praveen The implementation here should work for `Tensor`-likes, if they implement these functions via `__torch_function__` (and the corresponding operators).

https://github.com/hameerabbasi/pytorch/blob/c93a341a6603b3117c5d43fc97633a2484e78433/test/test_overrides.py#L800-L810

[2021-02-09 08:03] SplitInfinity commented on #51859
As per [this page of the PyTorch documentation] about inter-op and intra-op parallelism, the inter-op parallelism APIs (`set_num_interop_threads`/`get_num_interop_threads`) set the size of the thread pool (shared by all `Modules` in a process) that powers the `torch.jit.fork/wait` APIs that can be used to execute multiple ops from the same model concurrently, and `set_num_threads`/`get_num_threads

[2021-02-09 08:10] w1d2s commented on #51859
Thanks, I do have an application level thread pool with N threads. So according to my understanding, the libtorch maintains another "global thread pool" and all torch::jit::Modules will submit the ops to this "global thread pool" to run, is it right ?

And I have another question: if there is already an application thread pool, what should I do at initialization phase of each working thread ? shou

[2021-02-09 08:10] FabianIsensee commented on #51206
Hi there, are there any updates on this?

[2021-02-09 08:16] kshitij12345 opened #51948 "[numpy] torch.frac is not consistent for Infinity's with the fractional part of NumPy's modf"
[code]

**Note**: NumPy is consistent with C++ standard

https://en.cppreference.com/w/cpp/numeric/math/modf

[code]

cc @mruberry @rgommers @heitorschueroff

[2021-02-09 08:38] kshitij12345 opened #51949 "[complex] torch.conj function variant supports bool, float16 but out variant doesn't"
[code]

cc @ezyang @anjali411 @dylanbespalko @mruberry

[2021-02-09 08:52] Flamefire opened #51950 "test_jit_cuda_archflags fails if current GPU is newer than nvcc"
## 🐛 Bug

The `test_jit_cuda_archflags` tests JIT compiling some CUDA code and uses the compute capability of the currently used GPU.

This test fails if the used GPU is newer than the nvcc used to compile PyTorch / running the tests.

Example: We have a HPC cluster with CUDA 10.1 and A100 GPUs, which support compute capability 8.0, while nvcc supports only 7.5.
The problem is, that the test ignor

[2021-02-09 08:58] IgorStetsenko commented on #18626
I got the message "AttributeError: module 'torch._C' has no attribute '_cuda_setMemoryFraction'".

Help me, please.

[2021-02-09 10:03] sshuair commented on #47435
@gmagogsfm I have got the same problem. Could you check it out?

env:
- os: macos 10.15.7
- pytorch: 1.7.1
- libtorch: 1.7.1

This is the code:
- cpp code
[libtorch_cnn.zip](https://github.com/pytorch/pytorch/files/5950399/libtorch_cnn.zip)

- the python jit.load code
[code]

and the error is :

[code]

[2021-02-09 10:56] konstantinosKokos opened #51954 "MaxPool1d Inconsistent Shape Checking"
## 🐛 Bug

MaxPool1d raises RuntimeError due to shape (expected 3-dimensional tensor but got 2-dimensional tensor for argument #1 'self') when composed with a Linear Layer

## To Reproduce

Steps to reproduce the behavior:
Instantiate a MaxPool1d layer, and call with an arbitrary 2d tensor after passing it through a Linear layer.

[code]

## Expected behavior

The layer should either also throw an

[2021-02-09 11:27] t-vi commented on #51833
I found the cause, and it is unrelated except being "general lifetime issues when using the JIT" and ONNX-specific:

You pass a raw graph pointer to Python:

https://github.com/pytorch/pytorch/blob/8ab22a080b967d85e24e3befe9f1ce626ac3622f/torch/csrc/jit/passes/onnx.cpp#L300-L301

This generally works because the graph is alive while the function runs, but when an error occurs the traceback with th

[2021-02-09 11:41] mfkasim1 commented on #51883
I might have an answer for this and this is likely not an issue from PyTorch, but from Python (as it also happens even if I use numpy).
The source of the problem is the circular reference between the lambda and `Class1`.
The leak also happens if I set `Class2` to have a reference to `Class1` (even without the lambda function).

Here's the discussion: https://stackoverflow.com/questions/66106830/me

[2021-02-09 11:41] #51883 closed

[2021-02-09 12:51] twoertwein commented on #51942
The error message is okay, I was just expecting that it would happen during compilation: Normally JIT seems to check all variables/attributes at compilation time.

[2021-02-09 12:58] #51889 closed

[2021-02-09 13:27] ifsheldon commented on #12831
Any progress? It seems this problem still remains in 1.7.1 which I use currently.

[2021-02-09 13:32] dbonner opened #51959 "Recent commit to torch._six means that apex no longer imports"
## 🐛 Bug

Since this commit: https://github.com/pytorch/pytorch/commit/58eb23378f2a376565a66ac32c93a316c45b6131
apex can not be imported:

## To Reproduce

Steps to reproduce the behavior:

1. import apex

Error message:
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/daniel/py38/lib/python3.8/site-packages/apex/__init__.py", line 8, in <module>
    from . im

[2021-02-09 13:35] back2yes opened #51960 "`sorted` argument in `torch.Tensor.topk` has no use?"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1.
`x = torch.FloatTensor([1,8,2,5,3,7])`

2.
`torch.topk(x, 3, sorted=True)`
returns `[8, 7, 5]`

3.
`torch.topk(x, 3, sorted=False)`
returns `[8, 7, 5]`

## Expected behavior

I am expecting to get unsorted values by setting `sorted` argument to `False` (my first understanding is the order should be the same as the input)

## Environme

[2021-02-09 13:43] Flamefire opened #51961 "distributed/test_c10d_spawn segfaults after [Sharing CUDA tensors] note"
## 🐛 Bug

When building PyTorch and running the distributed/test_c10d_spawn test I'm getting a warning message about `[Sharing CUDA tensors]` and a segfault afterwards. This hints at a static destruction order fiasco type of problem.

## To Reproduce

Steps to reproduce the behavior:

1. Build PyTorch
1. Run tests

[code]

Note how all tests finished successfully and then fail

## Environment

 -

[2021-02-09 13:44] mfkasim1 opened #51962 "PyTorch for scientific computing"
## 🚀 Feature

I would like to propose several features for PyTorch to cater the needs of the scientific computing community which can also solve the needs of some machine learning researchers.
Those are:

* **Functionals**, i.e. functions that receive functions as inputs. For example: `rootfinder`, `solve_ivp`.
* **Implicit linear operators** and their operations. For example: `symeig`, `solve`. T

[2021-02-09 14:36] anjali411 commented on #51949
@kshitij12345 thanks for filing this issue! we should definitely support the out version for `Half` as well. I think it's discrepancy is because we return `self` for non-complex tensors, so `conj` is enabled for all dtypes by default. I also found a numpy compat issue:
[code]
It's hard to fix this because we still want to return self for `conj` to maintain the autograd performance.

[2021-02-09 14:48] zhangguanheng66 commented on #41508
It would be great if we can fix it without a new argument since the API now has quite a lot of arguments.

[2021-02-09 14:49] #47038 closed

[2021-02-09 14:52] eduardo4jesus opened #51965 "Fast Cosine Transform"
## 🚀 Feature

I would be very helpful if we had an implementation of the Fast Cosine Transform that is as optimized as the FFT.

## Motivation

The FCT transform is vastly used by the DSP community. It would enable new applications using torch. Additionally, I need it to do research.

## Pitch

Just like the `torch.fft.fft`, It is desirable to have the following

- `torch.fft.fct`
- `torch.fft.ifc

[2021-02-09 14:53] vadimkantorov commented on #51887
the discussion about skipping initialization: https://github.com/pytorch/pytorch/issues/29523

[2021-02-09 14:56] brianjo commented on #51575
I like that idea. We're working on some different navigation options to move between versions, so I'll try to add that to our feature if I can.

[2021-02-09 15:09] jbschlosser commented on #24826
Bumping to high pri due to activity & because positional encodings are generally essential for using the Transformer layers effectively

[2021-02-09 15:20] #51250 closed

[2021-02-09 15:24] jbschlosser commented on #41508
@p0085058 You're correct that key_padding_mask is not strictly necessary- it's provided only for convenience. My personal opinion would have been to have a single mask parameter.

[2021-02-09 15:29] jbschlosser commented on #51801
Hey @CarlosJose126, thanks for the great suggestion! Would you be willing to open a PR with the fix? Docs for `LSTMCell` are in `torch/nn/modules/rnn.py`.

[2021-02-09 15:35] #51840 closed

[2021-02-09 15:45] Lilyjjo opened #51967 "JIT missing operator to add tuple and tuple slice"
## 🐛 Bug

JIT doesn't know how to add a tuple and a tuple slice. It'd be nice to have this ability for static hook users, as they might want to just change a single element in the input tuple.

[code]

Error:
[code]

cc @gmagogsfm

[2021-02-09 15:59] Lilyjjo opened #51969 "Support backward hooks in JIT"
## 🚀 Feature
Supporting backward hooks (hooks that are called every time the gradients with respect to module inputs are computed) is a common feature requested from internal users. Eager has fixed their backward hook implementation so now it shouldn't be as difficult to match eager's behavior.

Eager backwards hooks: https://pytorch.org/docs/master/generated/torch.nn.Module.html#torch.nn.Module.r

[2021-02-09 16:43] PetrochukM commented on #51849
Thanks for the workarounds. Either way, I think this behavior is unexpected. How can we prevent this behavior from causing issues downstream in the future?

[2021-02-09 16:50] ezyang commented on #51735
The easiest fix is to probably just implement `normal`

[2021-02-09 17:03] SsnL commented on #51849
So it seems to me that the core issue is that `.numpy()` array failes to keep the original storage around.

[code]

This is not really data loader related so I am removing that flag.

[2021-02-09 17:07] eellison commented on #51735
Yes, but there is logic to validate that the replaced schema exists and there are operators for it, so i'm not sure what's going on: https://github.com/pytorch/pytorch/blob/master/torch/csrc/jit/passes/remove_mutation.h#L66.

[2021-02-09 17:12] mfkasim1 opened #51978 "Memory leak when applying autograd.grad in backward"
## 🐛 Bug

There is a memory leak when applying `torch.autograd.grad` in `Function`'s `backward`.
However, it only happens if `create_graph` in the `torch.autograd.grad` is set to be `False`.

## To Reproduce

[code]

The output of the above script is:
[code]

## Expected behavior

No memory leak should happen, like in the case where `create_graph=False` with output:
[code]

## Environment

 - PyTo

[2021-02-09 17:15] SplitInfinity commented on #51942
It is a compilation error; you can see `model = torch.jit.script(A())` in the traceback. However, the exception type is `RuntimeError` which is probably confusing. Perhaps it's worth using a different exception type for things that are truly compilation errors?

[2021-02-09 17:16] mruberry commented on #51849
Marking high priority based on @SsnL's investigation.

[2021-02-09 17:33] twoertwein commented on #51942
oh yes, sorry you are right :)

[2021-02-09 17:39] #51925 closed

[2021-02-09 17:40] matthewchung74 commented on #51925
reopened in coreml repo

[2021-02-09 17:40] zasdfgbnm opened #51980 "CUDA error: misaligned address on CUDA 11.2 on Windows on torch.where complex128"
## 🐛 Bug

Discovered in https://github.com/pytorch/pytorch/pull/51598, the failing test is `test_where_scalar_valid_combination_cuda_complex128 `

Minumum repro is:

[code]

Fails with

[code]

## Environment

[code]

cc @ngimel @peterjc123 @maxluk @nbcsm @guyang3532 @gunandrose4u @mszhanyi @skyline75489 @janeyx99 @ptrblck @xwang233

[2021-02-09 17:43] zasdfgbnm commented on #51980
self assign to look deeper at it

[2021-02-09 17:50] malfet commented on #49959
@SplitInfinity , @BowenBao do you know if the underlying issue has been fixed? And should we remove a high-pri as it no longer causing crash?

[2021-02-09 17:52] malfet commented on #24422
@SplitInfinity added your to `module: onnx`

[2021-02-09 18:08] Flamefire commented on #51961
Checking the code this seems to be indeed a destruction ordering problem:
- `cuda_ipc_global_entities` is a file local instance with static lifetime
- `REGISTER_FREE_MEMORY_CALLBACK` is called which also creates an instance of static lifetime
- The latter calls `CudaIPCCollectCallback` on destruction which accesses `cuda_ipc_global_entities`

So if `cuda_ipc_global_entities` is destroyed first, th

[2021-02-09 18:20] SplitInfinity commented on #51941
We should bind `dtype` as its own type.

[2021-02-09 18:29] antoniovs1029 commented on #51877
Awesome, thanks.

[2021-02-09 18:30] mruberry commented on #51948
Thanks for the careful attention to detail, @kshitij12345. It looks like this function is unused, although it is tested.

Would you file a follow-up issue to consider deprecating torch.frac()?

[2021-02-09 18:52] msbaines commented on #51931
Pipe currently does not perform automatic partitioning but it already knows when two layers are sharing weights. So I'm not sure this mechanism is needed.

[2021-02-09 18:53] SciPioneer commented on #47202
**Summary:**

After extensive evaluation of PowerSGD communication hook on multiple benchmarks, we have seen some speedups without accuracy loss for some use cases. As a result, we have added this feature to our next release 1.8 as a BETA feature, and there is a dedicated [documentation page](https://github.com/pytorch/pytorch/blob/master/docs/source/ddp_comm_hooks.rst) on PyTorch Tutorial to intr

[2021-02-09 18:54] #47202 closed

[2021-02-09 18:54] #51743 closed

[2021-02-09 18:55] msbaines commented on #51931
I think this feature would be useful in the context of adding something like Memory-Efficient Model Construction.

[2021-02-09 19:01] CarlosJose126 commented on #51801
Hi @jbschlosser, I just submit the pull request Example LSTMCell #51983.
Thank you for your answer!

[2021-02-09 19:06] KsenijaS commented on #51010
@paulgavrikov I looked at this model and I was able to repro the issue. After some debugging it look like this is a jit related issue.
aten::normal_is not handeled correctly: https://github.com/pytorch/pytorch/issues/51735

[2021-02-09 19:16] Lilyjjo commented on #49326
Closed with PR #50775

[2021-02-09 19:16] #49326 closed

[2021-02-09 19:29] xwang233 commented on #51959
I see the same issue. We may need to update apex. @ptrblck @mcarilli

[2021-02-09 19:43] anjali411 commented on #51714
yeah! this https://math.stackexchange.com/questions/2087100/is-zero-to-the-power-of-an-imaginary-number-still-zero stack exchange answer gives a detailed reasoning using limits to show that the correct answer in this cases is indeed 0.
Filed an issue on numpy to bring this bug to notice: https://github.com/numpy/numpy/issues/18378.

As for the other cases (when Re(z) <= 0 where z is the exponent),

[2021-02-09 19:54] soulitzer commented on #51978
Hmm from here https://pytorch.org/docs/stable/autograd.html, it looks like it is expected that reference cycles are created when calling `.backward()` with `create_graph=True`. So avoid the memory leak, doing `del y2.grad` before returning from `test_fcn` should work.

For example something like this also leaks:
[code]

[2021-02-09 19:56] janeyx99 commented on #51980
Do you think this other CUDA misaligned error on Windows 11.2 is due to the same cause? https://app.circleci.com/pipelines/github/pytorch/pytorch/271054/workflows/95e4fc48-4caa-42bc-8dd7-a16d1104b184/jobs/10761908

[2021-02-09 20:10] ngimel commented on #18626
What pytorch version are you using?

[2021-02-09 20:21] zasdfgbnm commented on #51980
Seems yes to me!

[2021-02-09 20:26] mruberry commented on #51117
We could consider allowing OpInfos to update {grad, gradgrad}check parameters, like eps, if this or issues like this become more pressing.

[2021-02-09 20:31] janeyx99 opened #51992 "test_optim.py failures for CUDA 11.2 on CI"
## 🐛 Bug

The following tests in test_optim.py fail in CI on CUDA 11.2 in linux and windows.
test_adadelta
test_adam
test_adamw
test_multi_tensor_optimizers
test_rmsprop

## To Reproduce

Steps to reproduce the behavior:

1. Run the CI jobs pytorch_linux_xenial_cuda11_2_cudnn8_py3_gcc7_test and pytorch_windows_vs2019_py36_cuda11.2_test2
2. Get the following logs with error messages:
Linux: https:/

[2021-02-09 20:33] zasdfgbnm commented on #51980
Reproduced with standalone C++ at https://github.com/zasdfgbnm/tensoriterator/blob/where/where.cu

[2021-02-09 20:33] malfet commented on #47500
Looking at it now...

[2021-02-09 20:41] malfet commented on #47500
Here is a base-line C++ repro:
[code]
Returns correct value if libstdc++ is used, but wrong one with  libc++

[2021-02-09 20:57] malfet commented on #47500
And `csqrtf` returns a correct result on Mac, but I'm not sure how to call it from the C++ compiler.

[2021-02-09 21:05] ezyang commented on #44738
Most of the stuff in the main codegen is done, so it's just autograd codegen that needs scrubbing

[2021-02-09 21:12] ezyang commented on #51849
Well, at least we apparently already knew about this problem.

[code]

from torch/csrc/utils/tensor_numpy.cpp

[2021-02-09 21:18] mcarilli commented on #51959
Hopefully https://github.com/NVIDIA/apex/pull/1049 can fix, but I can't emphasize https://github.com/NVIDIA/apex/pull/1049#issuecomment-776225268 strongly enough.

[2021-02-09 21:30] narendasan opened #51994 "Allow Custom Classes to register a handler for .to operations"
## 🚀 Feature

We would want to be able to register a handler for `.to` like we do for `.def_pickle` using torchbind to allow us to define custom behavior to move a custom class from one device to another or to error out if such a move is impossible. Ideally this `.to` function would be called either by the user directly on an instance of the class or recursively when the user calls `.to` on the mo

[2021-02-09 21:31] #42125 closed

[2021-02-09 22:10] SplitInfinity commented on #51859
I think all *forked* ops will be submitted to this global thread pool. Each of your application level threads will serve as "inference threads" shown the diagram [at the top of this page](https://pytorch.org/docs/stable/notes/cpu_threading_torchscript_inference.html).

I think you only need to call `run_method` on each `torch::jit::Module` in separate threads. If your modules are using `fork/wait`

[2021-02-09 22:11] natank1 commented on #51777
OK
Let's focus on Gaussians I do the following:
1 Adding a new mv Gaussian class (that allows the special cases of
diagonal gaussians)
2  KL a function that measures KL value of two Gaussians with
diagonal covariance
3 KL function for Gaussian diagonal and the standard Gaussain as VAE (nice
to have )
4 W2 for both diagonal and none
Please confirm

Natan

On Mon, Feb 8, 2021 at 7:47 PM Fritz Oberme

[2021-02-09 22:16] heitorschueroff opened #51996 "OpInfo tests fail gradcheck for ops with TensorList inputs."
For ops like ``torch.stack`` and ``torch.linalg.multi_dot`` that take a ``Tensor[]`` as input as opposed to a single Tensor, OpInfo testing does not work properly.

If the `sample_inputs_func` returns a tuple of tensors per SampleInput, it will be passed as individual positional parameters to the op. If instead each SampleInput is returned with a list, then gradcheck will fail with the following e

[2021-02-09 22:19] SplitInfinity commented on #51691
I think this would be a good cleanup task, but I worry about BC in the case that users are using `torch._C._jit_...` today. I guess we can communicate the change in the release notes? What do you think @gmagogsfm?

[2021-02-09 22:20] SplitInfinity commented on #51735
@eellison Would it be okay if I assigned this to you for further investigation?

[2021-02-09 22:21] Chillee opened #51997 "[FX] Modules called with constants should return constants and not proxies."
[code]

For an example of when this might be needed:

[code]

A full example of a FX model that's not traceable because of this is here: https://github.com/huggingface/transformers/blob/632bdd58bc1f017728cf17b2ad295892ebb9e00d/src/transformers/models/t5/modeling_t5.py#L1405

cc @ezyang @SherlockNoMad

[2021-02-09 22:23] SplitInfinity commented on #51409
Is it possible to upload the `.pth` somewhere so that we can debug with the same inputs?

Also, note that the Torch model must have been scripted before having been saved. `torch::jit::load` cannot load models saved from regular, eager mode PyTorch.

[2021-02-09 22:32] spandantiwari commented on #51010
Closing this one, since the issue is being tracked in https://github.com/pytorch/pytorch/issues/51735.

[2021-02-09 22:32] #51010 closed

[2021-02-09 22:36] Breidenbach commented on #45186
I would love to see a downloadable caffe2 for OSX with lmdb and leveldb in it.  I have been trying for several days now to get a clean install using source and with these packages in it, I have yet to be successful.  It would be especially useful since lmdb is used in the caffe2 tutorials.

[2021-02-09 22:44] ezyang commented on #49101
This is the long term goal of https://github.com/pytorch/rfcs/blob/rfc-0005/RFC-0005-structured-kernel-definitions.md . I think it is feasible that a subset of functions could get ported to structured this half to enable experimentation on getting shaping working for remote tensor. All the other options for remote tensor are going to be super painful.

[2021-02-09 22:45] aabbas90 commented on #31880
@XHPlus : Were you able to fix the problem? I also have a custom torch autograd module with integer outputs and want to just pass the gradients during training. Thanks.

[2021-02-09 22:50] colesbury commented on #51960
If sorted is `False` they are in an arbitrary order that depends on the most efficient way to compute it. Sometimes that coincides with the sorted order, but not always. It does **not** mean the output matches the input order.

If you want to see the return values out of order, use a bigger k and a bigger input.

[2021-02-09 23:01] janeyx99 opened #52002 "CUDA error: too many resources requested for launch in Windows CI for CUDA 11.2"
## 🐛 Bug

Two tests in `test_nn.py` fail in Windows for CUDA 11.2.

## To Reproduce

Steps to reproduce the behavior:

1. Run CI for pytorch_windows_vs2019_py36_cuda11.2_test2
2. Fail the following two tests in `test_nn.py` with the error message `RuntimeError: CUDA error: too many resources requested for launch`:
test_EmbeddingBag_per_sample_weights_and_new_offsets_cuda_int64_float64
test_Embeddi

[2021-02-09 23:02] xwang233 commented on #52002
The workaround was to add a `C10_LAUNCH_BOUNDS` to the cuda kernel. cc @ptrblck @mcarilli

[2021-02-09 23:08] fritzo commented on #51777
@natank1 How about the following steps:

1. Improve documentation for existing `kl_divergence(-,-)` and `Independent(Normal)` distribution. I mention this as a task because `torch.distributions` already implements some of the features you request, but apparently doesn't advertise those features very well 😄 . The way `torch.distributions` implements diagonal Gaussians is via `Independent(Normal(loc

[2021-02-09 23:23] seemethere commented on #51886
Link to release branch PR: https://github.com/pytorch/pytorch/pull/51982
Criteria category: Release branch specific changes

[2021-02-09 23:36] ngimel commented on #52002
@janeyx99 can you check if replacing 1024 with 512 here  fixes it? https://github.com/pytorch/pytorch/blob/12d85b536e5d1710968d4d6f2a02281b8a010208/aten/src/ATen/native/cuda/EmbeddingBag.cu#L450

[2021-02-09 23:46] ezyang commented on #45764
We reverted the change from that PR so this issue is still relevant

[2021-02-09 23:53] brando90 opened #52005 "Implementation of Normalized Euclidean Distance (NED) in pytorch"
## 🚀 Feature
Implement an official version of normalized Euclidean distance. Reference of definition:
- https://stats.stackexchange.com/questions/136232/definition-of-normalized-euclidean-distance/498753?noredirect=1#comment937825_498753

## Motivation

A pytorch approved and numerically stable implementation of normalized euclidean distance

## Pitch

Current implementation:

[code]

test:

[code

[2021-02-09 23:54] seemethere commented on #51886
Link to landed master PR (if applicable): https://github.com/pytorch/pytorch/pull/51825
Link to release branch PR: https://github.com/pytorch/pytorch/pull/52006
Criteria Category: Test/CI fixes

[2021-02-10 00:29] mrzzd commented on #51014
Best way to diagnose gpu utilization is to use gpu profiling tools. They help to generate gpu profiles, and there you can see timeline of running kernels in your run. I believe Nvidia Nsight helps for that purpose, though I am not sure how easy is to set it up:  https://docs.nvidia.com/nsight-systems/InstallationGuide/index.html.

[2021-02-10 00:31] jamesr66a opened #52011 "CPU eval BatchNorm2d is not threaded"
[code]

With intra-op parallelism, BatchNorm2d in train mode hits memory bandwidth bound. Eval does not, sitting at around 5.64 GB/s. With single threading, train's performance is worse, as expected. Eval's is the same, because it doesn't have threading. Please add threading to the eval version of BatchNorm2d

[2021-02-10 00:39] mruberry commented on #51996
cc @albanD and @Lilyjjo

Let's focus exclusively on the autograd side of this issue for the moment, as how we address it may affect the fix for the jit tests.

@albanD I think this is a bug in {grad, gradgrad}check where they don't handle tuple inputs properly?

Before @anjali411 implemented its OpInfo, for example, torch.stack had a custom autograd test (see https://github.com/pytorch/pytorch/com

[2021-02-10 00:48] mruberry commented on #51965
What do you think, @peterbell10, @rgommers? SciPy has the discrete cosine transform, but it doesn't look like it has a fast cosine transform. I wonder why not?

[2021-02-10 01:12] stas00 commented on #51014
Thank you, @mrzzd! I think there are at least a few of those - I definitely need to study/figure out how to use thos

I was wondering if there is a way to do it as a built-in pytorch reporting system, in a similar vein to how memory management is being tracked, so that the tuning runs could automatically report on their own run profile.

[2021-02-10 02:05] mrzzd commented on #51574
Could you elaborate what's the exact problem here? Is it that some stages of the pipeline become no-op for some examples and so the pipelines stages have different costs at different samples?

[2021-02-10 02:09] annikabrundyn commented on #9983
also looking forward to matrix sqrt! thanks for sharing an update on this

[2021-02-10 02:10] stas00 commented on #51574
Please have a look at the pseudo-example I shared [here](https://github.com/pytorch/pytorch/issues/51574#issuecomment-772254159), as you can see a huge segment of a pipe runs conditionally.

[2021-02-10 02:23] mrshenli commented on #51960
Hey @back2yes, I am closing this issue. Please feel free to reopen if using bigger k and bigger input still do not show the impact of `sorted`.

For future questions, please use the PyTorch forum: https://discuss.pytorch.org/

[2021-02-10 02:23] #51960 closed

[2021-02-10 02:32] mrshenli commented on #51954
I confirm I can reproduce this error on master.  '1.8.0a0+4577f3f'

[2021-02-10 02:34] mrshenli commented on #51954
Hey @heitorschueroff, looks like #47065 is the last PR that touches `max_pool1d`. Do you know what could cause the reported error?

[2021-02-10 02:35] dbonner commented on #51959
Thanks @xwang233, @mcarilli and @ShoufaChen
I can confirm that https://github.com/NVIDIA/apex/pull/1049/commits/627a4a66d52a530b7a32cb6d920d2d7d8ada5db8 fixes the problem with importing apex on my machines.
All the best,
Dan

[2021-02-10 02:47] claytantor opened #52019 "CUDA Pytorch running on 1050ti and hangs on 2080ti running identical configurations"
## Pytorch running on 1050ti and hangs on 2080ti running identical configurations

When running https://github.com/facebookresearch/pytorch_GAN_zoo on a 1050ti and the `nvcr.io/nvidia/pytorch:20.12-py3` docker container the 1050ti will run training but the 2080ti hangs.

Driver Configuration: Driver Version: 460.32.03  CUDA Version: 11.2 CUDNN libcudnn8_8.1.0.77

## To Reproduce

Steps to reproduc

[2021-02-10 02:49] mrshenli commented on #51932
Hey @stas00, we are working on the design of virtual devices, which should solve this problem. Some related issues: #27878 #51887

cc @gchanan @mruberry @jbschlosser this is another request from distributed training applications on LazyTensor/VirtualDevice/etc.. The requirement from distributed training applications (not necessarily this one) is a little bit different from #27878 #51887 in the way

[2021-02-10 02:49] ShoufaChen commented on #40275
cudnn8.0.5 works fine.

[2021-02-10 02:51] mrshenli commented on #51887
yep, we have seen this request from distributed training applications multiple times.

[2021-02-10 03:01] mrshenli commented on #51899
Hey @shuaibaslam2019, as @izdeby suggested above, please use forum for questions. I am closing this issue for now. Please feel free to open another issue if this turns out to be a bug report or feature request. Thanks!

[2021-02-10 03:01] #51899 closed

[2021-02-10 03:02] rohan-varma opened #52020 "Distributed Profiling does not work with DDP's all_reduce"
## 🐛 Bug

https://github.com/pytorch/pytorch/pull/46471 enabled distributed profiling, but it currently does not cover the all_reduce initiated by DDP's backward pass. This is because this all_reduce is triggered as an autograd hook, and autograd can execute these hooks in a non-main thread. However, the profiler would only be enabled thread locally on the main thread, so we'd run into this issue.

[2021-02-10 03:09] mrshenli commented on #50840
reopen as it still persist on master,

https://app.circleci.com/pipelines/github/pytorch/pytorch/271513/workflows/98cbef65-69e8-491f-b496-1a000f5294b3/jobs/10785763/steps

https://app.circleci.com/pipelines/github/pytorch/pytorch/271550/workflows/d54dfbfd-248c-469b-9367-8884336ca493/jobs/10787774/steps

[2021-02-10 03:25] mrzzd commented on #51932
In addition to what @mrshenli mentioned, the idea of having option of "lazy modules" is considered for pipeline. There is a multi-process version of pipeline (not sure if it is ready to use at this point), which optionally accepts lazy-modules instead of nn.Sequence. You can take a look [here](https://github.com/facebookresearch/fairscale/blob/b1b9e0f8df11889f5cfad35e41556731c9917660/fairscale/nn/

[2021-02-10 03:35] stas00 commented on #51932
This is great, thank you for the heads up and the links @mrshenli and @mrzzd!

[2021-02-10 04:16] jamesr66a opened #52022 "[FX] Interpreter doesn't GC values"
[code]

For large models we may OOM

[2021-02-10 04:43] mruberry commented on #51954
The divergence is whether or not the tensor requires grad. In the above example the linear layer's output requires grad, the original input to maxpool1D does not.

This is because there's a divergence between the no indices and with indices max pool input checking. One allows only 3D inputs, the other allows 2D and 3D. I'm not sure how this worked historically. The documentation suggests the input

[2021-02-10 04:45] mruberry commented on #51930
Thank you for filing this issue, @rightaditya, we'll take a look!

[2021-02-10 04:50] mruberry commented on #51912
This seems expected to me. I think both the numerator and denominator of the expression aren't representable in float32, which is what you're computing in. Passing double tensors will produce the correct value.

@jbschlosser I think we close this as "by design"?

[2021-02-10 04:53] mruberry commented on #51911
I think this is expected. We typically don't (or can't) raise exceptions based on tensor values (although we do in some cases on the CPU).

[2021-02-10 05:23] ngimel commented on #51930
Seems that batched magma functions produce wrong results:
[code]

[2021-02-10 05:59] Co1lin opened #52024 "RuntimeError if nn.Embedding is assigned with tensor of integer type"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. define an embedding
1. alter the weights with arange method to int64 data type
1. use the embedding to yield an output

[code]

[code]

## Expected behavior

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or

[2021-02-10 06:02] jamesr66a commented on #51886
Link to landed master PR (if applicable): #51998 #52010 #51927
Link to release branch PR: https://github.com/pytorch/pytorch/pull/52021
Criteria Category: Fixes to new features introduced in the most recent minor release

[2021-02-10 06:12] kshitij12345 commented on #51948
Even though it is unused are we sure we want to deprecate `frac` as I don't think there is another function which provides that functionality.

[2021-02-10 06:26] SciPioneer commented on #51961
@Flamefire  Thanks for reporting this and the analysis!

@VitalyFedyunin I saw your have fixed similar issues in #16854. Do you have any idea? Thanks!

[2021-02-10 06:31] mruberry commented on #51948
@kshitij12345 On the issue to discuss the deprecation of frac, why don't you propose that before it's deprecated we implement divmod and modf so people have an alternative? From the static analysis @rgommers provided, divmod is a top 600 NumPy function, and modf is a top 400 NumPy function, and neither is in PyTorch. (The current NumPy Compat issue even has a request for divmod.)

[2021-02-10 06:38] mruberry commented on #47624
I think this issue is closed. @mattip, would you file a separate issue to audit uses of maybeWarnsRegex in the test suite?

[2021-02-10 06:38] #47624 closed

[2021-02-10 06:44] SciPioneer commented on #51961
To reproduce this error, no need to run all the tests in test_c10d_spawn. Can just run a single test instead:

`pytest test/distributed/test_c10d_spawn.py -k test_shared_reduce_nccl`

[2021-02-10 06:46] mattip opened #52025 "TEST: audit uses of maybeWarnsRegex"
Follow on for #47624, which created an `assertWarnsOnceRegex` context manager to test C-level `TORCH_WARN_ONCE`.  All the places that currently use `maybeWarnsRegex` should be replaced with the `assrtWarnsOnceRegex`, and any untested `TORCH_WARN_ONCE` code should be covered by a test.

cc @mruberry @VitalyFedyunin @walterddr

[2021-02-10 06:46] mattip commented on #47624
See issue #52025

[2021-02-10 06:52] natank1 commented on #51777
Good Morning

I t sounds like a plan . I think I will start with the Wassertein part
because undoubtedly  following your remarks I have to read well the
"inventar" prior to adding
One more related question: when I do fractional power to the covariance
matrix (in the non-diagonal case) I use symeig and it always runs into
singularity . any good solution?

Natan

On Wed, Feb 10, 2021 at 1:09 AM Frit

[2021-02-10 07:00] #49543 closed

[2021-02-10 07:02] kshitij12345 opened #52027 "[deprecation] deprecate `torch.frac`"
Deprecate `torch.frac` as it is relatively unused and gives incorrect output for `inf` input values.

**Note**: Since none of the existing Pytorch operator provides this functionality, we must ensure that `divmod` or `modf` are implemented in Pytorch first before proceeding.

Reference: https://github.com/pytorch/pytorch/issues/51948#issuecomment-776479722

Usage Data:
- torch.frac() is used by to

[2021-02-10 07:23] tmbdev commented on #49440
@maxluk [Here](https://www.youtube.com/playlist?list=PL0dsKxFNMcX59napupGk3cNVzbpx3yU0_) are YouTube videos explaining how shuffling, distribution, caching, and parallelization work for sequential loaders and pipes.

[2021-02-10 08:19] vadimkantorov commented on #43876
This would also be useful for the case where calling the `super().__init__()` already constructs the sequential and some inserts are needed, e.g. quant/dequant modules: https://github.com/pytorch/vision/issues/3331

[2021-02-10 08:34] SciPioneer opened #52030 "Unit test test_ddp_uneven_inputs in distributed_nccl_spawn fails recently"
## 🐛 Bug

This unit test starts failing recently.

## To Reproduce
Run `test_ddp_uneven_inputs` in `distributed_nccl_spawn`.

Facebook:
`buck test @mode/dev-nosan caffe2/test/distributed:distributed_nccl_spawn -- test_ddp_uneven_inputs`

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @rohan-varma @gqchen @aazzolini @osalpekar @jiayisuse @agolynski @SciPioneer @H-Huang @mrzzd @cbaliog

[2021-02-10 09:07] yuezhihan commented on #48279
I found this problem, too. CUDA streams is useful for me to reduce the latency of financial transactions because it enables lightweight concurrency compared to multiprocessing. I really hope this problem can be solved.

[2021-02-10 09:14] SciPioneer opened #52033 "Measure communicated data volume used in DDP communication hooks"
## 🚀 Feature
Currently DDP communication hooks are only evaluated in terms of speedup and accuracy. It will be nice to also measure the communication costs in terms of bandwidth.

## Motivation

This way users can know the savings in communication or the actual compression rate if a gradient compression algorithm is used.

cc: @tvogels

[2021-02-10 09:26] SciPioneer opened #52034 "Add a minimum compression rate threshold for PowerSGD communication hook"
## 🚀 Feature

Currently PowerSGD blindly compresses any tensor as long as it is not a bias vector. Actually it should only compress the tensors of shape (x, y) if **(x + y) * rank < x * y** (i.e., there are savings in the amount of data transfer).

Since there is extra computation cost for the compression, it will be even better to add a **minimum compression rate threshold** t as another algorith

[2021-02-10 09:57] Flamefire commented on #51961
Using some printf I was able to verify this: Call order in that case:
- `~CudaIPCGlobalEntities()`
- `ReturnRefCounter`
- `CudaIPCSentDataDelete`

Both of the latter functions access `cuda_ipc_global_entities` which explains the crash

[2021-02-10 10:09] eaedk opened #52036 "Automatic splitting of batch during model feed-forwarding to avoid memory errors caused by the too big batch_size"
## 🚀 Feature
Ensure that models can according to the memory available on the GPU during a feed-forward, automatically split the sent batch into several small mini_batches to avoid the memory errors.

## Motivation
So that during the training, users no longer have to reduce batch_size (or image size in case of image). The training will just take time but any users could train models any batch_size

[2021-02-10 10:45] JanBrabec commented on #36899
I reproduced this today with the exact same error and also **resolved it.**

**System info which reproduced the issue**
PyTorch version: 1.6.0
Is debug build: False
CUDA used to build PyTorch: None
ROCM used to build PyTorch: N/A

OS: macOS 10.14.6 (x86_64)
GCC version: Could not collect
Clang version: Could not collect
CMake version: version 3.12.2

Python version: 3.7 (64-bit runtime)
Is CUDA av

[2021-02-10 10:45] nikitaved commented on #9983
The issue with the matrix sqrt that I see is its implementation for CUDA, it is not so straightforward to translate the SciPy's implementation to the gpu (no Schur decomposition, dependence in loops). It is possible, however, to implement an iterative algorithm either only for the GPU, or for both the CPU and CUDA. If we agree on iterative algorithms, then I could start working on it.

[2021-02-10 10:50] Louyu666 commented on #36899
Yeah, Ubuntu can work, but macOS doesn't work.

[2021-02-10 10:52] Louyu666 commented on #36899
The script can work on Ubuntu, but macOS doesn't work.

[2021-02-10 11:18] KeyKy opened #52038 "Why zero_point in _fake_quantize_learnable_per_tensor is different from _fake_quantize_learnable_per_channel_affine?"
In _fake_quantize_learnable_per_channel_affine
[code]

is different from

_fake_quantize_learnable_per_tensor:
[code]

cc @jerryzh168 @jianyuh @dzhulgakov @raghuramank100 @jamesr66a @vkuzo

[2021-02-10 11:26] qq260612718 opened #52039 "Rtx3080 RuntimeError: CUDA error: no kernel image is available for execution on the device"
My experimental environment is cuda11.0 RTX3080 pytorch1.7.1
When I try to install apex 0.1, the following problems occur:
**nvcc fatal: Unsupported gpu architecture ‘compute_86’**
I took this method of reducing the computing power, which showed that apex was successfully installed.
**export TORCH_CUDA_ARCH_LIST="7.5"**
But when I run the code, the following situation appears:

**RuntimeError: CUD

[2021-02-10 11:29] andrei-pokrovsky opened #52040 "torch.distributed.TCPStore doesn't work with dual IPv4/IPv6 network interface"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. Setup 2 machines with dual IPv4/IPv6 interfaces
2. on first machine runthe following script
[code]
3. on second machine run the following script
[code]
4. Observe that this code works for IPv4 (127.0.0.1 on first, ipv4 of first machine on second) but doesn't work when IPv6 address is used on master node. Second/subordinate node uses I

[2021-02-10 12:02] vadimkantorov opened #52041 "device (+dtype) arguments for torch.stack / torch.cat"
They currently have out argument that can be used for this purpose, but device/dtype would be more direct.

Usecase: a sequence of CPU tensors (maybe even coming from NumPy arrays) that need to be moved to a single GPU array. So creating a copy on CPU is wasteful

[2021-02-10 12:08] vadimkantorov commented on #46138
Again stumbled on the original case of torch.stack / torch.cat using torch.as_tensor / torch.from_numpy on inputs.

E.g. using SciPy's hungarian algorithm (that doesn't support batches) wouldn't work like this because colinds is a tuple of NumPy arrays:
[code]

So the more ugly workaround:
[code]

[2021-02-10 12:24] kalifadan commented on #41508
Thank you! @p0085058

[2021-02-10 12:50] adefossez commented on #51216
Thanks, why not include something like the above fix? It seems to work okay and would make things easier for research purposes. Getting code to work with torchscript is a significant amount of work and rerunning the quantization logic in every worker seems a bit wasteful. I understand this is probably low pri though.

[2021-02-10 12:54] vadimkantorov opened #52044 "Illegal memory access when printing a CUDA tensor (problem with torch.stack(out=))"
[code]

cc @ezyang @gchanan @zou3519 @bdhirsh @jbschlosser @ngimel

[2021-02-10 12:57] vadimkantorov commented on #52041
Unfortunately the out-variant gives IMA: https://github.com/pytorch/pytorch/issues/52044

[2021-02-10 13:41] edouardoyallon opened #52045 "[FX/ENH] autograd for a real valued function using complex numbers seems inconsistent"
## 🐛 Bug/Enhancement request

When considering a real valued function which involves complex numbers, it seems autograd isn't happy with it. I'm getting the following error message, which could be also improved:

`E       RuntimeError: Expected isFloatingType(grad.scalar_type()) || (input_is_complex == grad_is_complex) to be true, but got false.  (Could this error message be improved?  If so, plea

[2021-02-10 14:18] cdeepali opened #52047 "Detect OpenMP Loop and this application may hang warnings"
## 🐛 Bug

The following warnings is seen while executing jit tests with newer versions of PyTorch (v1.5.0 onwards)
`OpenBLAS Warning : Detect OpenMP Loop and this application may hang. Please rebuild the library with USE_OPENMP=1 option.`

[code]

PyTorch is built with USE_OPENMP=1 and using anaconda openblas v0.3.10.

## To Reproduce

Steps to reproduce the behavior:

1. Build PyTorch with USE_OP

[2021-02-10 14:23] peterbell10 commented on #51965
@mruberry the SciPy's DCTs are implemented in terms of the FFT and take O(n log n) time, so are "fast" in the same sense as the FFT.

As for implementing in PyTorch. MKL and cuFFT only implement the FFT, so we would also be stuck with "FCT via FFT" type algorithms. That said, it could probably be done a bit more efficiently with dedicated C++/CUDA kernels.

[2021-02-10 14:25] vadimkantorov commented on #9886
FeatureAlphaDropout docs are still not online. Same for `feature_dropout`

[2021-02-10 14:44] mrshenli commented on #50839
close and see if #51820 fixes this

[2021-02-10 14:44] #50839 closed

[2021-02-10 14:56] edouardoyallon commented on #52045
Apologize. The development branch works like a charm. Thanks @albanD

[2021-02-10 14:56] #52045 closed

[2021-02-10 15:08] mfkasim1 commented on #51978
Thanks, @soulitzer. I didn't know that this is a known leak. Should I close this?

[2021-02-10 15:16] malfet commented on #51886
Link to landed master PR: #51900
Link to release branch PR: #52049
Criteria Category: Fixes regression from previous release

[2021-02-10 15:19] albanD commented on #51996
The proposal there was not to modify gradcheck but opinfo right? And have a pre-processing function before calling the user function.

This is explicitly not supported. The doc says: "func (function) – a Python function that takes Tensor inputs and returns a Tensor or a tuple of Tensors": tuple of Tensors is not supported as input to the function.
So I think the "fix" is to wrap the user function

[2021-02-10 15:21] malfet commented on #51886
Link to landed master PR: #51806
Link to release branch PR: #52050
Criteria Category: Bugfix targeted for 1.8

[2021-02-10 15:27] jbschlosser commented on #51945
I don't see this behavior in 1.8.

`clip_grad_value_` returns None as [documented](https://pytorch.org/docs/stable/generated/torch.nn.utils.clip_grad_value_.html), and `clip_grad_norm_` returns the total norm as [documented](https://pytorch.org/docs/stable/generated/torch.nn.utils.clip_grad_norm_.html).

[2021-02-10 15:34] vadimkantorov commented on #51945
Sorry. I got confused. I thought I was using clip_grad_value_, but it was commented out and in fact clip_grad_norm_ was used :(

I'll close this. As suggestion, it could also return the max abs value before the clip

[2021-02-10 15:34] #51945 closed

[2021-02-10 15:44] albanD commented on #51911
@mruberry from the doc, any value value of the grid outside [-1, 1] should return the padding. In this case, it is zero padding so it sounds ok to expect a 0 for this kind of grid?

[2021-02-10 15:52] albanD commented on #51978
Closing this PR in favor of https://github.com/pytorch/pytorch/issues/7343
Happy to discuss there if you have any follow up on that :)

[2021-02-10 15:52] #51978 closed

[2021-02-10 15:54] albanD commented on #14426
We recommend you use `autograd.grad()` to compute higher order gradients to reduce the chances of the different backwards interacting with each other and memory leaks to happen.
Feel free to re-open if this is still an issue with latest PyTorch!

[2021-02-10 15:54] #14426 closed

[2021-02-10 16:02] dagitses opened #52052 "common_jit.check_against_reference() should check gradients w.r.t. weights"
## 🚀 Feature
`common_jit.check_against_reference()` should check gradients w.r.t. weights and automatically check gradients w.r.t. inputs if any inputs require them. Then we can remove the need for requesting gradient checking (it will happen automatically).

## Motivation

We should check gradients w.r.t. weights because it will improve the accuracy of the comparison to the reference implementati

[2021-02-10 16:08] penguinwu opened #52053 "[TorchScript usability] More intuitive error message for type annotated `self`"
## 🐛 Bug

Test case: [test-self-annotation.py](https://github.com/penguinwu/hodgepodge/blob/master/TorchScriptStudy/bad-examples/test-self-annotation.py)

When annotating type for `self`, got the following error message:
[code]

## Desired behavior

A better error message is to tell users that `self` should not be annotated, e.g.,

[code]

Related to #50444

cc @gmagogsfm

[2021-02-10 16:12] MortenHannemose opened #52055 "Add torch.no_grad() to update_bn"
## 🚀 Feature
Add `torch.no_grad():` to `torch.optim.swa_utils.update_bn`.

## Motivation

When evaluating my model I get out of memory errors because `update_bn` allocates memory to do backprop through the SWA model. It took me a long time to figure out why adding `update_bn` gave me out of memory errors.
The SWA model is mostly (only?) intended for evaluation, and not for training, so very few us

[2021-02-10 16:18] ThomasBudd opened #52056 "from source installation slower then conda installation on RTX6000"
Hi all,

We recently got new server nodes with QUADRO RTX6000 GPUs and I have some problems of getting pytorch to it's top speed on them. Weirdly the from source installation is partially slower then the conda installations. I benchmarked one forward + backward pass of a few stacks of 2d and 3d convolutions. For the 2d convolutions I could see that for both with and without the use of amp the perf