[2022-05-21 23:46] spyroot commented on #77523
Yeah, I tried.  I doesn't I honestly gave up now trying nccl

[2022-05-22 00:39] mruberry opened #78053 "toleranceOverride should override atol and rtol even when explicitly specified in a test"
This would allow a test's default atol/rtol to be set higher but still allow operators to set the atol/rtol manually.

In primTorch this would let us set higher atol and rtol for the reference consistency tests.

[2022-05-22 00:43] mruberry opened #78054 "[primTorch] many primTorch test xfails are due to chalf"
We should fix these issues or stop testing the references in chalf for now -- it's an outsized developer efficiency issue

cc @ezyang @anjali411 @dylanbespalko @mruberry @Lezcano @nikitaved @ngimel

[2022-05-22 00:48] tw-ilson commented on #77764
Trying to use affine crop from torchvision, and found the operator `aten::linspace.out` does not seem to be implemented with the MPS backend

[2022-05-22 01:04] kshitij12345 commented on #78054
I think it should be disabled for now. Even for `torch` ops, it is opt-in at this point as the op coverage is still low.

[2022-05-22 01:28] rohan-varma commented on #78022
Agreed this would be very helpful. Is there a particular use case where this came up?

Currently, we work around this by looking at logs for each rank and finding this msg, then checking which collective is different across ranks. Quite manual and not scalable, but for smaller scale jobs it might be helpful?

[2022-05-22 01:35] pritamdamania87 commented on #78005
Link to landed master PR (if applicable):
* https://github.com/pytorch/pytorch/pull/77987

Link to release branch PR:
* https://github.com/pytorch/pytorch/pull/78056

Criteria Category:
* Test/CI fixes

[2022-05-22 02:49] ezyang commented on #78050
IMO, there are two primary uses for strides:

* Modeling view relationships between tensors. Clearly, PrimTorch must still handle these strides properly, otherwise inplace operations cannot be modeled correctly in this situation.
* Modeling memory format. Stride preserving operators exist due to eager mode, where we cannot post facto change our memory format (as this would trigger a copy); we have

[2022-05-22 02:49] #77942 closed

[2022-05-22 03:43] mruberry commented on #78050
Edit: the original post failed to mention that stride propagation is not commutative, and it has been updated

[2022-05-22 03:49] mruberry commented on #78050
Cool thinking @ezyang, a few follow-up thoughts in response:

Interesting -- so a few thoughts:

- Of course the strides of views have to be correct, but we can do this without generally trying to model strides or stride consistency. Views are kind of an ephemeral rarity in the context of our tracing model.
- On the memory format issue, we could model memory format in a stride-independent way. Wit

[2022-05-22 03:55] thipokKub commented on #78035
### Update

I tested with pytorch-nightly build `PyTorch version: 1.13.0.dev20220521`, and the results seems to be a lot more stable + the loss did decrease overtime (on other tests). However, some of the loss calculation is still off, but to a lesser degree

[code]

[2022-05-22 04:51] thipokKub commented on #77753
The loss of multiple optimizers are now decreasing the loss value, and the time interval of most tested optimizers remain constant except for `Adam`. The time interval between each step is still increasing (the RAM usage is also increasing as well)

![image](https://user-images.githubusercontent.com/21255489/169679276-fbfef015-24b9-40ae-be79-bd03049383df.png)

[2022-05-22 05:14] mruberry opened #78058 "[primTorch] prims are being checked as part of the BC check"
We probably shouldn't be checking these private, prototype operators for BC.

See https://github.com/pytorch/pytorch/runs/6541541061?check_suite_focus=true, relevant snippet:

[code]

cc @ezyang @gchanan @zou3519 @mruberry @ngimel

[2022-05-22 05:23] mruberry commented on #77687
https://github.com/pytorch/pytorch/pull/78026 updates the test per this suggestion and raises a warning when the reference's result is not close to the torch op's result.

[2022-05-22 05:46] alper111 commented on #77753
I think this change will be online in 20220522, the commit is merged 15 hours ago but 20220521 uploaded 19 hours ago.

[2022-05-22 08:10] WHU-gentle commented on #57289
How to get layers_with_weight_norm?

[2022-05-22 09:34] vadimkantorov commented on #78003
Probably because scheduler adds some state to optimizer's param groups? :( It would be easier to work around this if schedulers were also available as free functions: https://github.com/pytorch/pytorch/issues/68332

[2022-05-22 10:19] lhoenig commented on #78043
The contiguous-related problem is probably the same underlying problem as #78001.

[2022-05-22 10:34] RuABraun commented on #50575
I'm getting this with pytorch 1.10.1, any hints on how to debug

[2022-05-22 10:43] lhoenig commented on #78020
I've looked at the code for a few hours to try to understand whats going on. First time digging into the PyTorch C++ code, so I might be missing many things, but it seems like:
- When you call `.to(dtype)`, generally, the method `at::_to_copy` is called, found in `aten/src/ATen/native/TensorConversions.cpp`.
- The idea is to create a new Tensor with requested data type, and then copy the contents

[2022-05-22 11:34] thipokKub commented on #77753
Okay, now I updated pytorch-nightly build again (`1.13.0.dev20220522`), the issue seems to be fixed now

these are the results
![Final result](https://user-images.githubusercontent.com/21255489/169693125-d9b19662-91cf-4ac0-a32a-99c73eb8657d.png)

[2022-05-22 11:46] yq-Liang opened #78060 "Can't convert nn.multiheadAttetion(q,k,v) to Onnx when key isn't equal to value"
### 🐛 Describe the bug

I am trying to convert a torch net to onnx, however i meet a problem about multihead attention.
When i convert the torch.nn.MultiheadAttention(q,k,v)
if the value of "key" and value of "value" aren't the same,there will be a warning and an error:

[code]

Does ONNX only support Multihead Self-Attetion?

### Versions

PyTorch version: 1.9.1
Is debug build: False
CUDA used to

[2022-05-22 12:21] XinBow99 commented on #77886
same issue
<img width="1211" alt="截圖 2022-05-22 下午8 21 14" src="https://user-images.githubusercontent.com/36734430/169694847-ebd79ede-e0be-4fd3-bfcb-5e581b66d111.png">

[2022-05-22 12:35] BarclayII opened #78061 "Python memory allocator called without holding the GIL when running torchrun under Python debug version"
### 🐛 Describe the bug

I built Python 3.8.13 myself with pydebug, and used PyTorch 1.11.0.

First start with any script:
[code]

Then run `torchrun` with
[code]

This will throw the following error:
[code]

Probably related to #26475.

### Versions

`collect_env.py` output goes as follows:
[code]

I built my Python 3.8.13 within a conda environment that has a default Python 3.8 installation:
[cod

[2022-05-22 13:52] dbl001 commented on #77867
Same error with clang 13.0.0
[code]

[2022-05-22 15:40] nicolasbeglinger commented on #77764
Trying to use MPS backend with pytorch geometric, and found the operator `add::linspace.out` is not yet implemented.

[2022-05-22 16:41] TevenLeScao commented on #75662
Seeing the same thing, and also unlikely to be a RAM problem here.

[2022-05-22 17:12] yaoyuan0801 commented on #70243
I fixed the problem with
[code]

[2022-05-22 17:46] pri1311 commented on #49882
Is this issue open? Would like to work on it.

[2022-05-22 18:08] tcapelle opened #78063 "Adam is 30% slower than SGD on Apple Metal."
### 🐛 Describe the bug

I am benchmarking the Apple silicon on PyTorch and Adam is 30% slower than SGD.
<img width="1126" alt="image" src="https://user-images.githubusercontent.com/18441985/169709366-b415c24d-7a37-4cce-94ec-6c68e0a7d1dd.png">
You can check my experiments on this wandb workspace:
https://wandb.ai/capecape/M1_TF_vs_PT?workspace=user-capecape

I am on latest Pytorch 22/05 nightly.

#

[2022-05-22 18:51] thipokKub commented on #78042
I did not experience this on `1.13.0.dev20220522`. Can you update and try again?

[2022-05-22 18:52] Lezcano commented on #49882
Sure, this is still open, feel free to submit a fix

[2022-05-22 19:52] lessw2020 commented on #78063
@tcapelle  - quick question - when you say "SGD", is that SGD with momentum or plain SGD?
and similarly, Adam or AdamW?  (If you have a public code snippet that might be ideal as well).
Thanks

[2022-05-22 19:57] skyelves opened #78064 "nn.CosineSimilarity returns value larger than 1"
### 🐛 Describe the bug

## nn.CosineSimilarity returns value larger than 1

## To reproduce the bug
[code]

It produces the RuntimeError:
[code]

### Versions

Collecting environment information...
PyTorch version: 1.10.2
Is debug build: False
CUDA used to build PyTorch: None
ROCM used to build PyTorch: N/A

OS: macOS 11.6 (x86_64)
GCC version: Could not collect
Clang version: 12.0.0
CMake version

[2022-05-22 19:58] lessw2020 commented on #77562
I've been working with @rohan-varma  on this and have isolated things down to where can now reproduce in < 1 hour using the small dataset.
The core conflict revolves around a situation where the save at the end of an epoch is only happening based on a new high (low) being made in validation loss.
For scenarios where it is evaluation the 'current loss vs best_current_loss' if it does not save, then

[2022-05-22 20:01] tcapelle commented on #78063
Here you go https://github.com/tcapelle/apple_m1_pro_python/blob/main/pytorch/train_pets.py

[2022-05-22 20:51] ngimel commented on #77897
DUplicate of #73188

[2022-05-22 20:51] #77897 closed

[2022-05-22 20:52] ngimel commented on #77897
We'll accept a PR fixing this

[2022-05-22 20:52] ngimel commented on #78064
cc @nikitaved

[2022-05-22 21:04] 0x00b1 opened #78065 "Gamma and Related Functions (WIP)"
### 🚀 The feature, motivation and pitch

# Gamma and Related Functions

A brief proposal for providing a complete suite of gamma and related functions as PyTorch operators. Enjoy!

## API

### Gamma Functions

- [ ] `torch.special.gamma(input, *, out=None) → Tensor`

Euler gamma function $\Gamma(\text{input})\$.

- [ ] `torch.special.incomplete_gamma(input, a, *, out=None) → Tensor`

Incomplete Eu

[2022-05-22 21:49] mayhewsw commented on #78042
I had this problem with 1.13.0.dev20220521, but it went away with 1.13.0.dev20220522.

[2022-05-22 22:04] mrshenli commented on #78042
seems like the problem no longer exist in the latest nightly. I am closing this issue. @andreabac3 please feel free to reopen if the problem persist

[2022-05-22 22:11] #78042 closed

[2022-05-22 22:12] mrshenli commented on #78061
cc @kiukchung

[2022-05-22 22:19] nikitaved commented on #78064
We have made a patch for cosine similarity which, I guess, is going to get exposed in the upcoming release. Could you please try with a nightly release and/or the current master?

[2022-05-22 22:37] feesta commented on #77764
Found the operator 'aten::grid_sampler_2d' is not current implemented for the MPS device.

[2022-05-22 22:58] lhoenig commented on #78020
I really think no conversion is going on at the moment, for any data type.. though at least the data isn't corrupted:
[code]
Actually trying to fix this for fun now, reporting back in case of success..

[2022-05-22 23:55] #76501 closed

[2022-05-22 23:56] awgu commented on #76501
Closing due to more internal discussion.

[2022-05-22 23:56] awgu commented on #76382
Closing due to more internal discussion.

[2022-05-22 23:56] #76382 closed

[2022-05-23 00:09] mooey5775 commented on #77764
Would be great to add `aten::adaptive_max_pool2d` to the list - seems to be fairly common and for me useful in some point cloud architectures.

[2022-05-23 00:36] miziworld opened #78067 "Installation on Jetson target board"
I'm installing the pytorch on Jetson target board(Nx, AGX, nano...).
Official Pytorch for jetson wheel is only for python3.6, so I use the installation through the source.
However, during the installation, the error occured.
My environment is :
- board : Jetson Xavier AGX
- JetPack : 4.4
- Cuda: 10.2
- gcc, g++ : 7
- Cmake : 3.18.2
-
![image](https://user-images.githubusercontent.com/17849068/1697

[2022-05-23 00:57] pytorch-bot[bot] opened #78068 "DISABLED test_init_from_local_shards (__main__.TestShardedTensorFromLocalShards)"
Platforms: linux

This test was disabled because it is failing in CI. See [recent examples](http://torch-ci.com/failure/test_init_from_local_shards%2C%20TestShardedTensorFromLocalShards) and the most recent trunk [workflow logs](https://github.com/pytorch/pytorch/runs/6546960161).

Over the past 3 hours, it has been determined flaky in 2 workflow(s) with 3 red and 5 green.

cc @pietern @mrshenli @

[2022-05-23 02:06] mruberry commented on #78054
Should be addressed by https://github.com/pytorch/pytorch/pull/78026

[2022-05-23 02:06] #78054 closed

[2022-05-23 02:06] mruberry commented on #77687
Addressed by https://github.com/pytorch/pytorch/pull/78026

[2022-05-23 02:06] #77687 closed

[2022-05-23 02:26] mruberry commented on #77659
https://github.com/pytorch/pytorch/pull/78026 adds a Python reference for nn.functional.dropout, but it's not bitwise-accurate with either the eager CPU or CUDA implementations, which are distinct from each other. Modeling the way random bits are used by either strategy will require additional work, and if we want the same dropout pattern for the CPU and CUDA we might have to change eager mode, to

[2022-05-23 02:49] jjsjann123 commented on #77237
hmmm. so #77468 didn't work, that's surprising...

[2022-05-23 02:55] skyelves commented on #78064
Yeah, thanks for pointing out the problem. Do you have any suggestions to solve that or get rid of this?

[2022-05-23 03:13] RohanM commented on #77764
I ran into this error with `aten::count_nonzero.dim_IntList` (via `torch.count_nonzero()`). I'll take a look at implementing this op with MPS.

[2022-05-23 03:31] anjali411 commented on #77920
hmm not sure where this happens but IIRC, the alias info stored on the actual function schema object is correct

[2022-05-23 03:41] firstprayer commented on #78060
Can you provide a code snippet for reproducing this issue? Would like to understand what are k and v in your case.

From the error message, it seems to be due to type mismatch (potentially due to k and v not being the same type if I have to guess), but not necessarily from enforcing k == v.

[2022-05-23 03:46] mruberry opened #78070 "[primTorch] Meta function for item creates a dummy value"
The Meta function for item currently creates a dummy value. This is harmless for now, but we need improve our modeling of "meta numbers" to indicate that this value is unknown except at runtime.

[2022-05-23 04:01] mruberry opened #78071 "[primTorch] item prim can't return a bool properly"
This is because its schema is `item(Tensor a) -> Scalar`, but the actual torch.Tensor.item can return a bool or a scalar. Trying to return a bool from the implementation of the item prim will convert the result to an integer.

cc @ezyang

[2022-05-23 04:01] ngimel commented on #78064
@nikitaved note that current cosine_similarity implementation breaks #18057 again, probably we should just do what scipy does.

[2022-05-23 07:26] sun-lingyu commented on #48279
I have met the same problem that pytorch cannot execute multiple streams in parallel.

In my case, I implement a very "slim" network which has 100 layers of 32*32 FC layers, wich should not saturate the GPU. Then I come up with a synthetic model with 2 branches(2 inputs), each branch is a "slim" network. Each branch is executing in a separate CUDA stream using pytorch CUDA stream API. I would expe

[2022-05-23 08:13] zhongshsh commented on #77954
In addition, There are some mistakes in the details.

In `pytorch/aten/src/ATen/native/LinearAlgebraUtils.h`,
[code]
And in `pytorch/torch/_meta_registrations.py`,
[code]
Maybe they should be {self.size(-2)} by {self.size(-1)}.

[2022-05-23 08:43] WuChengbin opened #78074 "Slice operator on tensor generates wrong results on 'mps' device"
### 🐛 Describe the bug

import torch

test = torch.tensor([[1,2,3],[4,5,6]])
test = test.to('mps')
test[:,0] = 7
print(test)
'''
Results:
tensor([[7, 0, 3],
        [4, 5, 6]], device='mps:0')
'''

test = torch.tensor([[1,2,3],[4,5,6]])
test[:,0] = 7
print(test)
'''
Results:
tensor([[7, 2, 3],
        [7, 5, 6]])
'''

operate: test[:,0] = 7 on mps:
tensor([[7, 0, 3],
        [4, 5, 6]], device='mp

[2022-05-23 09:02] arnauqb commented on #77764
The operator `aten::lgamma.out` is curently not yet implemented either.

[2022-05-23 09:09] GeoffreyBrunet commented on #77764
Hello, the operator Linspace is not implemented, for you my error message:
---------------------------------------------------------------------------
NotImplementedError                       Traceback (most recent call last)
Input In [2], in <cell line: 10>()
      7 device = torch.device("mps")
      9 # Create random input and output data
---> 10 x = torch.linspace(-math.pi, math.pi, 2000, dev

[2022-05-23 09:28] suenyandan commented on #33661
I run into this error too recently with pytorch 1.10.0, i cannot figure out why...
Has this problem been resolved at pytorch 1.6 ?

==================gdb back trace==================

Epoch [4/50] Train start, lr=0.0005 ...
free(): double free detected in tcache 2

Thread 1 "python" received signal SIGABRT, Aborted.
__GI_raise (sig=sig@entry=6) at ../sysdeps/unix/sysv/linux/raise.c:51
51      ../s

[2022-05-23 10:48] nikitaved commented on #78064
@ngimel , I have mentioned that in my post. Note, that using `norm` instead does not fail. The reason why it is more stable, `norm` appears to use double as accumulation type and it is on double that sqrt is run on. The solution on master runs `sqrt` on a float tensor, and that is why it loses precision. These two solutions, `norm` or not `norm` solve different problems. `norm` is the most stable

[2022-05-23 11:32] Abraham423 commented on #40497
I solved the problem by grad clipping, actually, i modified the source code of `torch.nn.utils.clip_grad_norm_`  to explicitly enforce the nan-inf gards be zero.

[code]

Then do clip for every iter
[code]
I've thought of this problem for a couple of days, firstly, I too think this issue is due to the weight decay step.  Ideally `scaler.step(optimizer)` have skipped the nan-inf grad params and sho

[2022-05-23 12:18] kshitij12345 opened #78077 "test_expanded_weight_per_sample_grad does not work with unbatched sample"
### 🐛 Describe the bug

Tests in TestExpandedWeights fail as they always assume that batch_size is present.
* test_expanded_weight_per_sample_grad_nn_functional_conv1d_cpu_float64
* test_expanded_weight_per_sample_grad_nn_functional_conv2d_cpu_float64

For more reference:
https://github.com/pytorch/pytorch/pull/73002#issuecomment-1064809757

cc: @samdow

### Versions

master

cc @mruberry @zou3519

[2022-05-23 12:24] nikitaved commented on #78064
@skyelves , if you do not expect to backprop through inputs with close to zero norms, you could try the code sample from my very first message, adapted to your case (i.e. `dim`, and `clamp_min` to avoid division by zero).

[2022-05-23 13:26] zhongshsh commented on #77954
Thanks for your reply. If you want to fix `linalg.inv`, maybe [this PR](https://github.com/Oneflow-Inc/oneflow/pull/8183/) will give your some ideas.

[2022-05-23 13:29] Lezcano commented on #77954
We will implement `torch.linalg.inv(A)` as `torch.solve(A, torch.eye(A.size(-1), device=A.device()))` pretty much.

[2022-05-23 13:42] zhongshsh commented on #77954
I tested this method, and it didn't solve the original problem.

[code]

[2022-05-23 13:45] #77641 closed

[2022-05-23 13:47] Lezcano commented on #77954
We don't aim to solve the original problem, as we don't implement the backends for these functions. Note that detecting whether a matrix is singular is a very difficult problem because we don't work with exact precision. If you do care about these things in your application, you should make sure that the matrix that you pass the solver (`linalg.solve` or `linalg.inv`) is well-conditioned.

That be

[2022-05-23 14:31] mruberry commented on #78070
Graph breaking on item() is fine but we still need some way to signify we should do so

[2022-05-23 14:36] zou3519 opened #78082 "RFC: Move functorch into pytorch/pytorch"
We (some folks from the functorch team, @samdow @Chillee) met with some of the PyTorch GitHub first and dev infra teams (@malfet, @osalpekar, @seemethere)  to discuss pytorch/pytorch and functorch co-development pains.

In that meeting, we identified the following solution, some stakeholders for out-of-tree (@suo) and pytorch core development (@gchanan), CI and developer velocity (@suo, @mruberry)

[2022-05-23 14:43] mikaylagawarecki commented on #77594
Hi @Bastien-mva, could you please paste the output of `python collect_env.py` so we can see more information about your environment? Thank you!

[2022-05-23 15:00] ezyang commented on #77659
This program demonstrates that it is in principle possible to line up uniform and dropout:

[code]

This prints:

[code]

The step size 4 is required because our uniform implementation uses `curand_normal4` inefficiently and drops three out of four samples. This will need to be fixed.

[2022-05-23 15:03] dbl001 commented on #77867
PyTorch 1.12 eventually built after setting USE_NNPACK off.
However, I got RuntimeError: PyTorch is not linked with support for mps devices

[code]

[2022-05-23 15:29] Bastien-mva commented on #77594
Hi, I just managed to build using a conda environment, otherwise it does not build.

I don't know where the collect_env.py file is ?

[2022-05-23 15:29] #77594 closed

[2022-05-23 15:30] upupyy opened #78087 "`bilinear` triggers INTERNAL ASSERT FAILED when input requires grad"
### 🐛 Describe the bug

`bilinear` triggers INTERNAL ASSERT FAILED when input requires grad

[code]

### Versions

pytorch: 1.11.0

cc @ezyang @albanD @zou3519 @gqchen @pearu @nikitaved @soulitzer @Lezcano @Varal7

[2022-05-23 15:34] justinchuby opened #78089 "[ONNX] Run vision's test_onnx.py in the PyTorch CI"
### 🚀 The feature, motivation and pitch

Threre are some instances where a change in the ONNX exporter would break the torchvision CI. (latest https://github.com/pytorch/pytorch/pull/77448). It is cumbersome to run torchvision's tests locally every time a change is made to the exporter. It may be helpful to create a pipeline in PyTorch's CI to run `test_onnx.py`.

### Alternatives

Run vision's te

[2022-05-23 15:42] #75704 closed

[2022-05-23 15:44] lhoenig opened #78091 "MPS: No conversion of Tensor datatype possible"
### 🐛 Describe the bug

When converting a Tensor from any to any other dtype and the Tensor lives on, comes from, or goes to the MPS device, no conversion of the underlying data is done, but it is also not corrupted. It is simply copied and interpreted differently:
[code]
The relevant code is found in `aten/src/ATen/native/mps/operations/Copy.mm`.

I attempted to fix this in the linked PR using na

[2022-05-23 16:12] ngimel commented on #77659
It's possible in principle for contiguous aligned tensors (with fixes to the eager distribution, as you point out). Worse alignment or non-contiguous will make it harder.

[2022-05-23 16:19] suo opened #78095 "pytorchbot rebase doesn't work for forked PRs"
If a pull request was made from a forked repo, it appears that the rebase command will fail, see: https://github.com/pytorch/pytorch/pull/77438#issuecomment-1134868780

[2022-05-23 16:20] ngimel commented on #78064
Scipy produces correct cosine similarity on equal inputs, which is currently broken, so I wouldn't call it "worse"

[2022-05-23 16:22] #68326 closed

[2022-05-23 16:35] nikitaved commented on #78064
@ngimel , the SciPy implementation is what is implemented in PyTorch 1.10. That one was failing for other inputs. I am just not sure we can guarantee stable behavior for all types of inputs.

[2022-05-23 16:36] george-qi commented on #77736
Hi Luis, thank you for the feature request! Can you provide some more information about this? I'm wondering if you're referring to https://github.com/jdb78/pytorch-forecasting, in which case it would make sense to open an issue with them

[2022-05-23 16:46] nikitaved commented on #78064
Oh, that is a good point. We can indeed scale inputs prior to norm computation, as this similarity is homogeneous in each argument.

[2022-05-23 16:48] chrislemke commented on #77764
I would like to add `aten::linalg_householder_product`
Using orthogonal parametrization with `PYTORCH_ENABLE_MPS_FALLBACK=1`. I get:

[code]

[2022-05-23 16:53] ngimel commented on #78064
But still, maybe at the end of the day we should just clamp outs so that they are no bigger than one. Gradient computation is a different matter, so still having accurate forward matters (as that clamping would have to be in no autograd context, as it is now)

[2022-05-23 16:53] cemkoc opened #78099 "Torch SVD computation on mps has a large error compared to cpu"
### 🐛 Describe the bug

I’ve tested running singular value decomposition on a large random matrix on both mps and cpu. I used the frobenius norm of the original matrix subtracted from the matrix assembled from SVD components (U @ diag(S) @ Vh) and discovered that when the device is mps the value of the norm is much much larger than the norm I get when I run it completely on cpu.

### sample code

[2022-05-23 16:54] albanD commented on #77957
This is now fixed in master!

[2022-05-23 16:54] #77957 closed

[2022-05-23 16:55] albanD commented on #77781
The error message is now properly updated in master.

[2022-05-23 16:55] #77781 closed

[2022-05-23 17:00] suo opened #78100 "Bazel build is very flaky"
Failures occur when fetching dependencies. Some examples over the past week:

- https://github.com/pytorch/pytorch/runs/6558537849?check_suite_focus=true
- https://github.com/pytorch/pytorch/runs/6540971273?check_suite_focus=true

cc @seemethere @malfet @pytorch/pytorch-dev-infra

[2022-05-23 17:01] nikitaved commented on #77889
It is a private utility function used in matrix_exp for non-empty tensors. So I am not sure we have to fix that.

[2022-05-23 17:02] ngimel commented on #77659
Hm, also that's weird, I checked the impl, and uniform_ should be using all 4 numbers that it generated, it's just putting them to different places in the tensor, and it'll become painfully obvious once we start running and comparing results on larger tensors.

[2022-05-23 17:06] Lezcano commented on #77889
@albanD on leaking things to the API. I believe we should just avoid exporting this one in  the relevant `__all__` but that's BC breaking. What to do... @mruberry .

[2022-05-23 17:07] jbschlosser commented on #77576
Actionable to add a loud error.

[2022-05-23 17:10] #68172 closed

[2022-05-23 17:11] zou3519 commented on #77893
This API is (1) non-public (begins with an underscore) and (2) we expect it to be not robust yet, so we are probably not going to fix it anytime soon.

[2022-05-23 17:11] ngimel commented on #77659
This line https://github.com/pytorch/pytorch/blob/cac16e2ee293964033dffa6616f78b68603cd565/aten/src/ATen/native/cuda/DistributionTemplates.h#L86 will use all `unroll_factor` generated numbers, and `unroll_factor` is 4, I checked.

[2022-05-23 17:13] justinchuby opened #78102 "[ONNX] Support tensors as scale and zero_point arguments"
### 🚀 The feature, motivation and pitch

PyTorch supports using tensors as scale and zero_point arguments. Currently in `test_pytorch_onnx_caffe2_quantized.py`, we get

[code]

Related:

- https://github.com/pytorch/pytorch/pull/77772

### Alternatives

_No response_

### Additional context

_No response_

[2022-05-23 17:13] janeyx99 commented on #78100
@kit1980 @linbinyu @dagitses are the maintainers perhaps, would you take a look at this?

[2022-05-23 17:14] malfet commented on #77878
@jeffdaily can you please check if this is reproducible on your end?

[2022-05-23 17:18] albanD commented on #77889
@neochristou could you give some details on why you use that function? You should not be using it in general.

[2022-05-23 17:19] mruberry commented on #78058
We could just update the test to skip checking prims

[2022-05-23 17:20] B06901052 commented on #69353
I met the same error while pruning fairseq MultiheadAttention. I think they have the same reason: When you forward a MultiheadAttention, it direct call the out_proj.weight without forwarding it. (see [#L1113](https://github.com/pytorch/pytorch/blob/cac16e2ee293964033dffa6616f78b68603cd565/torch/nn/modules/activation.py#L1113), [#L1142](https://github.com/pytorch/pytorch/blob/cac16e2ee293964033dffa

[2022-05-23 17:23] ezyang commented on #77659
Oh, pointer arithmetic on struct fields, 'das some weird shit

[2022-05-23 17:24] malfet commented on #74990
It was fixed after we've switch to lintrunner, closing

[2022-05-23 17:24] #74990 closed

[2022-05-23 17:25] malfet commented on #68459
This has been finished, closing

[2022-05-23 17:26] malfet commented on #36147
Linking issue fixed a while back, closing

[2022-05-23 17:26] #36147 closed

[2022-05-23 17:31] jbschlosser commented on #68053
Thankfully, the separate `nn.TransformerEncoder` module exists. We'd accept a PR removing this line from the `nn.Transformer` docs to be more correct.

[2022-05-23 17:37] ngimel commented on #77659
My fault, but what would you suggest for `.x`, `.y`, `.z`, `.w` fields instead without manually unrolling the loop?

[2022-05-23 17:59] WuChengbin opened #78107 "[MPS] The value comparison result of tensor on mps device is incorrect"
### 🐛 Describe the bug

import torch
a = torch.tensor([8.2670e-01,-1.0293e+00])
b = a[0]
c = a[1]
b= b.to('mps')
c = c.to('mps')
print(b>c)  # tensor(True, device='mps:0')
print(c>b)  # tensor(True, device='mps:0')

### Versions

Collecting environment information...
PyTorch version: 1.12.0.dev20220518
Is debug build: False
CUDA used to build PyTorch: None
ROCM used to build PyTorch: N/A

OS: macO

[2022-05-23 18:05] ezyang commented on #77659
No other good choices :) I guess probably good to have a comment haha

[2022-05-23 18:09] jbschlosser commented on #49882
@pri1311 You can add me as reviewer if you open a PR with a fix

[2022-05-23 18:09] thipokKub commented on #78107
possible duplicate https://github.com/pytorch/pytorch/issues/77750

[2022-05-23 18:13] nikitaved commented on #77898
The documentation mentions that inputs for `lu_unpack` should be coming from the `lu` method.

[2022-05-23 18:15] nikitaved commented on #77889
@albanD This is found with some sort of automatic tool.

[2022-05-23 18:20] dbl001 commented on #77867
I was able to build PyTorch 1.13.0a0+gitcbdb694 and verify that the AMD Radeon Pro 5700 GPU was running with 'mps'.
I had to set USE_NNPACK false otherwise there's a compiler error:

https://github.com/Maratyszcza/NNPACK/issues/209

Performance Evaluation:
[code]
pytest had errors:
E.g. -
[code]

[2022-05-23 18:21] B06901052 opened #78109 "Doesn't work when apply hook on torch.nn.MultiheadAttention.out_proj"
### 🐛 Describe the bug

# 🐛Bug

I am not sure whether this issue should be a bug or a new feature reques. The problem is: when you register a hook to out_proj under MultiheadAttention, it will never be called. Which may cause some abnormal behaviors when use tools implemented with hook, e.g. torch.nn.utils.prune (#69353).

And this is because when you forward a MultiheadAttention, it directly call

[2022-05-23 18:22] mcarilli commented on #78018
A major issue to consider here is you don't want to initialize cuda contexts in dataloader worker subprocesses (this is why memory pinning happens in a worker _thread_ of the main process).

[2022-05-23 18:23] SsnL opened #78110 "[mps] randn is a lie"
### 🐛 Describe the bug

On `mps`, `randn` always give the same random numbers, while others like `rand` and `bernoulli_` work fine.

[code]

### Versions

1.13.0.dev20220523
<img width="222" alt="image" src="https://user-images.githubusercontent.com/5674597/169882994-ae3d6150-07a7-499f-b978-4baaeb4ba0a8.png">

[2022-05-23 18:43] pytorch-bot[bot] opened #78112 "DISABLED test_output_unused_in_loss_dict_module (__main__.TestDistBackendWithSpawn)"
Platforms: linux

This test was disabled because it is failing in CI. See [recent examples](http://torch-ci.com/failure/test_output_unused_in_loss_dict_module%2C%20TestDistBackendWithSpawn) and the most recent trunk [workflow logs](https://github.com/pytorch/pytorch/runs/6560075834).

Over the past 3 hours, it has been determined flaky in 1 workflow(s) with 1 red and 4 green.

cc @pietern @mrshenl

[2022-05-23 18:43] pytorch-bot[bot] opened #78113 "DISABLED test_ddp_uneven_inputs_stop_iteration_sync_bn (__main__.TestDistBackendWithSpawn)"
Platforms: linux

This test was disabled because it is failing in CI. See [recent examples](http://torch-ci.com/failure/test_ddp_uneven_inputs_stop_iteration_sync_bn%2C%20TestDistBackendWithSpawn) and the most recent trunk [workflow logs](https://github.com/pytorch/pytorch/runs/6560075834).

Over the past 3 hours, it has been determined flaky in 1 workflow(s) with 1 red and 4 green.

cc @pietern @

[2022-05-23 18:45] ngimel commented on #78110
duplicate of #78009

[2022-05-23 18:45] #78110 closed

[2022-05-23 18:47] fduwjj commented on #72138
We now have these apis' prototype ready for the community to try out. Examples can be found here: https://github.com/pytorch/examples/tree/main/distributed/sharded_tensor. Feel free to let us know if anyone have any more comments or suggestions. Thanks!

[2022-05-23 18:48] ngimel commented on #77849
Duplicate of #78091?

[2022-05-23 18:50] fduwjj commented on #55207
We now have these apis' prototype ready for the community to try out. Examples can be found here: https://github.com/pytorch/examples/tree/main/distributed/sharded_tensor. Feel free to let us know if anyone have any more comments or suggestions. Thanks!

[2022-05-23 18:52] albanD commented on #77849
It is.
Closing this for now as the other issue is more detailed and already have a proposed fix.

[2022-05-23 18:52] #77849 closed

[2022-05-23 19:00] albanD commented on #77867
Hi,

`USE_NNPACK` has to be set to false indeed. It does not support any new-ish version of clang I'm afraid.

cc @suo for the `checkData(c10::impl::SizesAndStrides const&, c10::ArrayRef<long long>, c10::ArrayRef<long long>) in SizesAndStrides_test.cpp.o` issue as it was changed a couple days ago

[2022-05-23 19:16] suo commented on #77286
yep!

[2022-05-23 19:21] AllenTiTaiWang commented on #75627
@garymm It seems that I am not collaborator of pytorch yet, could you help me with that. Doe it matter if I open another issue assigned to myself to merge test_pytorch_onnx_no_runtime.py into test_pytorch_onnxruntime.py without being collaborator? If I can, I will open it later.
https://github.com/pytorch/pytorch/pull/78116

[2022-05-23 19:28] suo commented on #77867
Hmm, I didn't meaningfully change that function. Looks like we are failing to find gtest symbols (`testing::internal::CmpHelperEQ`)? How can I reproduce this?

[2022-05-23 19:31] Rinnekioku commented on #71309
@hinmanj no I hadn't there are much more work to do then I thought, code of PyTorch needs to be refactored not to throw errors, because it uses deprecated functions from STL

[2022-05-23 19:32] vkuzo opened #78117 "FX graph mode quantization generic support for kwargs"
### 🐛 Describe the bug

FX graph mode quantization does not yet handle user using kwargs in all cases.  For example, this code snippet:

[code]

fails with error: https://gist.github.com/vkuzo/caa92fde3afe34e6a18e24162f62a1ae

Expected behavior here would be that specifying keyword arguments using both args and kwargs are supported.  There are additional cases to test here, such as `F.linear(x, bi

[2022-05-23 19:43] garymm commented on #75627
I don't see what being a collaborator has to do with what you wrote, but I have asked the team at Meta to invite you.
Feel free to open issues whenever you want.

[2022-05-23 19:46] suo commented on #78100
@dagitses do you mind taking a look?

[2022-05-23 19:49] albanD commented on #77867
Do you build with `USE_DISTRIBUTED=0` ? The distributed module has some part that can't be imported when that's the case I'm afraid.

[2022-05-23 19:56] AllenTiTaiWang opened #78119 "Move Optional tests from test_pytorch_onnx_no_runtime.py to test_pytorch_onnxruntime.py"
Since now ONNX runtime 1.11 has been released, test_pytorch_onnx_no_runtime.py should be merged into test_pytorch_onnxruntime.py

Continue work from #75627

[2022-05-23 19:57] AllenTiTaiWang commented on #75627
Continue on #78119

[2022-05-23 20:15] jerryzh168 commented on #78117
probably similar to https://github.com/pytorch/pytorch/issues/73463. yeah we should fix this. maybe by normalizing the kwargs

[2022-05-23 20:22] albanD commented on #77889
We provide no guarantee for our non-public APIs. So that's fine I think.

[2022-05-23 20:22] #77889 closed

[2022-05-23 20:23] albanD commented on #77898
@nikitaved is there a simple way to check that?

In general though, for our public APIs, it should not be able to segfault whatever you do.

[2022-05-23 20:30] nikitaved commented on #77898
No, unfortunately, there is no way. The pivot tensor has to be of right shape and has to have valid values.

[2022-05-23 20:39] dzdang commented on #77896
output of valgrind:
[code]
looks like we're accessing invalid memory because you set `ch_axis = 1250999896764`. we should throw an exception for this

[2022-05-23 20:45] yeounoh commented on #77286
Thanks @suo , the fix has landed. Closing.

[2022-05-23 20:45] #77286 closed

[2022-05-23 20:50] SleepyMug opened #78122 "Segfault in bincount"
### 🐛 Describe the bug

Function `torch.bincount` contains segmentation fault.

### Example to reproduce

[code]

### Result

Segmentation fault

### Expected Behavior

Throwing a Python Exception

### Notes

This bug was discovered using [Atheris](https://github.com/google/atheris).

### Versions

Is debug build: N/A
CUDA used to build PyTorch: N/A
ROCM used to build PyTorch: N/A
OS: Debian GNU/L

[2022-05-23 20:50] SleepyMug opened #78123 "Segfault in choose_qparams_optimized"
### 🐛 Describe the bug

Function `torch.choose_qparams_optimized` contains segmentation fault.

### Example to reproduce

[code]

### Result

Segmentation fault

### Expected Behavior

Throwing a Python Exception

### Notes

This bug was discovered using [Atheris](https://github.com/google/atheris).

### Versions

Is debug build: N/A
CUDA used to build PyTorch: N/A
ROCM used to build PyTorch: N/A

[2022-05-23 20:57] SleepyMug opened #78125 "Segfault in grid_sampler_3d"
### 🐛 Describe the bug

Function `torch.grid_sampler_3d` contains segmentation fault.

### Example to reproduce

[code]

### Result

Segmentation fault

### Expected Behavior

Throwing a Python Exception

### Notes

This bug was discovered using [Atheris](https://github.com/google/atheris).

### Versions

Is debug build: N/A
CUDA used to build PyTorch: N/A
ROCM used to build PyTorch: N/A
OS: Debia

[2022-05-23 20:59] nikitaved commented on #77898
Or we could push these checks into the kernel that unpacks pivots. What do you think about that, @albanD ?

[2022-05-23 21:00] SleepyMug opened #78126 "Segfault in max_unpool3d"
### 🐛 Describe the bug

Function `torch.max_unpool3d` contains segmentation fault.

### Example to reproduce

[code]

### Result

Segmentation fault

### Expected Behavior

Throwing a Python Exception

### Notes

This bug was discovered using [Atheris](https://github.com/google/atheris).

### Versions

Is debug build: N/A
CUDA used to build PyTorch: N/A
ROCM used to build PyTorch: N/A
OS: Debian G

[2022-05-23 21:05] SleepyMug opened #78127 "Segfault in torch._C._nn.reflection_pad2d"
### 🐛 Describe the bug

Function `torch._C._nn.reflection_pad2d` contains segmentation fault.

### Example to reproduce

[code]

### Result

Segmentation fault

### Expected Behavior

Throwing a Python Exception

### Notes

This bug was discovered using [Atheris](https://github.com/google/atheris).

### Versions

Is debug build: N/A
CUDA used to build PyTorch: N/A
ROCM used to build PyTorch: N/A
O

[2022-05-23 21:06] SleepyMug opened #78128 "Segfault in torch._C._nn.thnn_conv2d"
### 🐛 Describe the bug

Function `torch._C._nn.thnn_conv2d` contains segmentation fault.

### Example to reproduce

[code]

### Result

Segmentation fault

### Expected Behavior

Throwing a Python Exception

### Notes

This bug was discovered using [Atheris](https://github.com/google/atheris).

### Versions

Is debug build: N/A
CUDA used to build PyTorch: N/A
ROCM used to build PyTorch: N/A
OS: De

[2022-05-23 21:08] #68727 closed

[2022-05-23 21:09] SleepyMug opened #78129 "Segfault in _embedding_bag_forward_only"
### 🐛 Describe the bug

Function `torch._embedding_bag_forward_only` contains segmentation fault.

### Example to reproduce

[code]

### Result

Segmentation fault

### Expected Behavior

Throwing a Python Exception

### Notes

This bug was discovered using [Atheris](https://github.com/google/atheris).

### Versions

Is debug build: N/A
CUDA used to build PyTorch: N/A
ROCM used to build PyTorch: N

[2022-05-23 21:10] SleepyMug opened #78130 "Segfault in _grid_sampler_2d_cpu_fallback"
### 🐛 Describe the bug

Function `torch._grid_sampler_2d_cpu_fallback` contains segmentation fault.

### Example to reproduce

[code]

### Result

Segmentation fault

### Expected Behavior

Throwing a Python Exception

### Notes

This bug was discovered using [Atheris](https://github.com/google/atheris).

### Versions

Is debug build: N/A
CUDA used to build PyTorch: N/A
ROCM used to build PyTorch:

[2022-05-23 21:11] SleepyMug opened #78131 "Segfault in _pad_packed_sequence"
### 🐛 Describe the bug

Function `torch._pad_packed_sequence` contains segmentation fault.

### Example to reproduce

[code]

### Result

Segmentation fault

### Expected Behavior

Throwing a Python Exception

### Notes

This bug was discovered using [Atheris](https://github.com/google/atheris).

### Versions

Is debug build: N/A
CUDA used to build PyTorch: N/A
ROCM used to build PyTorch: N/A
OS:

[2022-05-23 21:36] lessw2020 commented on #77562
Solved!!
@rohan-varma worked with me and ultimately he spotted the core issue here:
the training code was using a dist.reduce for the ReduceOp.SUM to get the loss, but we needed to have a dist.*all*_reduce(op = ReduceOp.SUM).
<img width="656" alt="training_hang_fix" src="https://user-images.githubusercontent.com/46302957/169908955-6120a17f-cf18-4628-8cb4-dc4620b76e08.png">

Basically my training c

[2022-05-23 21:36] #77562 closed

[2022-05-23 21:55] JerroldJV commented on #70450
This is still a gap in the documentation.  We haven't seen any affect on inference performance using this function, and would like to know what exactly this is supposed to do...

[2022-05-23 21:58] mfeliz-cruise opened #78133 "Enhancements to AliasDB to handle in-place operations"
### 🚀 The feature, motivation and pitch

https://github.com/pytorch/pytorch/blob/master/torch/csrc/jit/OVERVIEW.md#handling-mutability
`The intention is that if you only mutate the graph through AliasDb, you don't have to think about mutability/aliasing at all in your pass. As we write more passes, the interface to AliasDb will get richer (one example is transforming an in-place operation to its p

[2022-05-23 22:38] Lezcano commented on #77898
Imo we should not check for these things. This and lu_solve are very specific low level functions. Either you use them as lu_factor + one of these or you better know what you are doing.

We could put an assert in these kernels, but as I said, these functions are very low level, so I would not even bother. I do not know if any reasonable way to get a valid LU decomposition in this format other than

[2022-05-23 22:53] clee2000 commented on #78095
i cant seem to replicate this on my forked pr https://github.com/pytorch/pytorch/pull/78096, so i asked @jeffdaily about it.  He says it's likely to be a permissions thing related specifically to the ROCmSoftwarePlatform org as it has 2fa and an allow list and that they are ok with not being able to use rebase bot and will rebase manually if needed.

If this error shows up again, reopen issue and

[2022-05-23 22:53] #78095 closed

[2022-05-23 23:02] suo commented on #78095
sounds good, thanks!

[2022-05-24 00:07] kit1980 commented on #61460
PRs to migrate off Xenial (to Focal) started to merge:
https://github.com/pytorch/pytorch/pull/77700

[2022-05-24 00:08] janeyx99 opened #78138 "Upload Test Stats fails when parsing test reports"
### 🐛 Describe the bug

Upload test stats, the workflow that ports our test XMLs to Rockset sometimes fails when unable to parse the job ID from the artifact name: https://github.com/pytorch/pytorch/runs/6562448826?check_suite_focus=true

[code]

This step is very important for stats tracking + should never fail. If it does fail, it should be retried (though in this case it looks like there are ot

[2022-05-24 00:38] dev-jwel opened #78140 "backward error for sum of vector norm"
### 🐛 Describe the bug

I tried to calculate CMD(central moment discrepancy) metric with pytorch.
But the code below creates strange error.

[code]

You will obtain the error like below.
[code]

### Versions

pytorch version is `1.10.1+cu113` and pip list is same as below.
[code]

cc @ezyang @albanD @zou3519 @gqchen @pearu @nikitaved @soulitzer @Lezcano @Varal7 @jianyuh @mruberry @walterddr @IvanY

[2022-05-24 00:44] upupyy opened #78141 "`matmul` triggers INTERNAL ASSERT FAILED when input requires grad"
### 🐛 Describe the bug

`matmul` triggers INTERNAL ASSERT FAILED when input requires grad

[code]

### Versions

pytorch: 1.11.0

[2022-05-24 00:50] upupyy opened #78143 "`baddmm` triggers INTERNAL ASSERT FAILED when input requires grad"
### 🐛 Describe the bug

`baddmm` triggers INTERNAL ASSERT FAILED when input requires grad

[code]

### Versions

pytorch: 1.11.0

cc @ezyang @albanD @zou3519 @gqchen @pearu @nikitaved @soulitzer @Lezcano @Varal7

[2022-05-24 01:15] zhongshsh commented on #77954
OK, I get the message.

[2022-05-24 01:22] upupyy opened #78149 "`gather` backwards crash"
### 🐛 Describe the bug

`gather` backwards crash due to floating point exception

First, it will succeed when the input requires grad
[code]

However, when trying backward, it will crash
[code]

### Versions

pytorch: 1.11.0

cc @mikaylagawarecki

[2022-05-24 01:29] upupyy opened #78151 "`ctc_loss` will backward crash"
### 🐛 Describe the bug

`ctc_loss` will backward crash

First, it will succeed in the forward pass

[code]

But it will crash when backwarding
[code]

### Versions

pytorch: 1.11.0
Ubuntu: 20.04
Python: 3.9.5

[2022-05-24 01:37] skyelves commented on #78064
Actually I need to backprop so as to train the NN.

[2022-05-24 01:47] upupyy opened #78152 "`gelu` will backward crash"
### 🐛 Describe the bug

`gelu` will backward crash
[code]

I think the reason is that pytorch tries to compute the gradient with empty output, and #78149 has the same reason

### Versions

pytorch: 1.11.0
Ubuntu: 20.04
Python: 3.9.5

cc @ezyang @gchanan @zou3519 @albanD @gqchen @pearu @nikitaved @soulitzer @Lezcano @Varal7 @gujinghui @PenghuiCheng @XiaobingSuper @jianyuh @VitalyFedyunin

[2022-05-24 01:53] upupyy opened #78153 "`pack_sequence` crash"
### 🐛 Describe the bug

`pack_sequence` crash

[code]

### Versions

pytorch: 1.11.0

[2022-05-24 01:55] ezyang commented on #78082
ACK from me.

[2022-05-24 01:55] gigadeplex commented on #31914
how to add this as a custom op?

[2022-05-24 02:59] linccnu commented on #32960
Any update on this? I met this problem also.

[2022-05-24 03:20] ajedd077 commented on #78122
This is caused by the zero in `weights` sizes, making the number of elements set to zero, but weights.size(0) == self.size(0). A possible solution is to add a `numel` check to weights in `Tensor _bincount_cpu_template`.
From:

[code]
to :

[code]

Excuse my ignorance as it is the first-ever open-source comment. I know it is trivial - but I would like to contribute frequently to this project. Any g

[2022-05-24 03:42] yq-Liang commented on #78060
There is a simple code,and to run this code,you need to download [this pth file](https://drive.google.com/file/d/1VHfTie1weUfshhMoExqkoKierKGExVdu/view?usp=sharing) and put them in the same directory :
[code]

[2022-05-24 03:55] rohan-varma opened #78157 "[Optimizer Overlap] Custom optimizer registration"
### 🚀 The feature, motivation and pitch

Currently, DDP optimizer overlap only supports a subset of commonly used torch.optim.Optimizers. However, torchrec has the use case of using their own custom implemented optimizers, so we should add support for a registry + API to add to this registry to allow users to register their own custom optimizers to be overlapped with DDP.

### Alternatives

_No re

[2022-05-24 04:07] rohan-varma opened #78158 "[Optimizer Overlap] Proper checkpointing support"
### 🚀 The feature, motivation and pitch

Currently, optimizer overlap with DDP does not support saving / loading checkpoints. The optimizer is not readily accessed from DDP, and thus there is no way to save / load in the optimizer's `state_dict`.

Even if we could access the optimizer from DDP, it is a functional optimizer and not a regular torch.optim.Optimizer, and thus the regular `state_dict`

[2022-05-24 04:09] rohan-varma opened #78159 "[Optimizer Overlap] Parameter group support"
### 🚀 The feature, motivation and pitch

We should investigate and fix any missing gaps with parameter group support in DDP's support for overlapped optimizers. Currently, we do not have unittests for optimizer overlap with parameter groups.

We probably will scope this to only specifying parameter groups at construction time and not support `add_param_group` API. The reason is that these function

[2022-05-24 05:52] tongchangD commented on #38487
when i export pth to onnx, It appeared
[code]

[2022-05-24 06:10] xinfeng1i commented on #31460
Hi, all, I have got the same problem.

I have solved it by decrease the number of GPUs, such that every GPU has more than 1 examples (i.e., micro_batch_size >= 2 on every GPU).

Hope this may be helpful to you guys !

[2022-05-24 06:16] tongchangD commented on #69346
Please tell me how to fix this error

only modify this network structure?

[2022-05-24 06:35] pmeier commented on #78089
`torchvision` only runs end-to-end ONNX tests. Thus, if some breaking changes are not detected by the PyTorch core CI we have a gap in the ONNX unit tests. Shouldn't we close that gap instead of relying on end-to-end tests of a downstream library?

That being said, there already seem to be some ONNX tests here that rely on `torchvision`:

https://github.com/pytorch/pytorch/blob/9e806619ccbd211b250

[2022-05-24 09:02] justusschock opened #78168 "MPS 16Bit Not Working correctly"
### 🐛 Describe the bug

When i try to use half-precision together with the new mps backend, I get the following:

[code]

whereas with double precision it correctly fails with

`"TypeError: Cannot convert a MPS Tensor to float64 dtype as the MPS framework doesn't support float64. Please use float32 instead."`

I would expect half-precision to either work correctly or to fail with a similar error m

[2022-05-24 09:03] nabriis commented on #70926
This would be a really nice feature to add!

[2022-05-24 11:18] ElliotQi commented on #77748
@albanD  So how is it going?

[2022-05-24 11:31] kshitij12345 opened #78170 "[chalf] reference_testing: low quality test for fast growing ops"
### 🐛 Describe the bug

In PR https://github.com/pytorch/pytorch/pull/77640:
Since range of chalf is much less compared to cfloat, we get `inf`s easily (eg. with `pow`, `exp`), so we cast `cfloat` back to `chalf`.

However, this is might mask an actual issue as we don't control the percent of input that will be valid. The correct approach would be to sample input which are valid given the range of

[2022-05-24 11:33] #77748 closed

[2022-05-24 11:33] ElliotQi commented on #77748
您好,邮件已收到,会尽快处理

[2022-05-24 12:19] roikoren755 opened #78172 "Allow specifying pickle module for torch.package"
### 🚀 The feature, motivation and pitch

I'm working on a service that is to receive files created with `torch.package` to instantiate `torch.nn.Module`s created by a different service. Some of the modules use, somewhere in their structure, lambda functions and other constructs that are not supported by `pickle`, but are supported by the `dill` package.

Seeing as how the `torch.save` and `torch.l

[2022-05-24 12:34] sunghwan-choi commented on #70036
any updates?
my server includes 8 AMD GPUs and they properly work.

[code]

Using pip, I installed pytorch

[code]

but my python fails to get GPU...

[code]

[2022-05-24 14:05] #77399 closed

[2022-05-24 14:23] janeyx99 commented on #78138
cc @suo

[2022-05-24 14:52] janeyx99 opened #78175 "[GHA] [CI] Strengthening Rockset Test Reporting Dependencies"
We currently upload test case runs to Rockset in hopes of storing these stats in a queryable, externally viewable dataset compared to our current S3 solution (see https://github.com/pytorch/pytorch/issues/62136). Since these test stats will become important for our flaky test detection as well as our sharding logic, we need to solidify our test report uploading.

We should address the following is

[2022-05-24 15:02] atalman commented on #78005
Link to landed master PR (if applicable):
NA

Link to release branch PR:
* https://github.com/pytorch/pytorch/pull/78174

Criteria Category:
Critical CI fixe

[2022-05-24 15:04] janeyx99 opened #78176 "[GH1] trymerge should not cancel without warning developers"
### 🐛 Describe the bug

Yesterday, several trymerge workflows were cancelled as a result of concurrency, which tries to make sure only one PR is landing at a time. This is undesired because several users were confused why their PRs didn't merge even though pytorchbot had thumbs up'd their comment.

Instead of using a concurrency key, we should retry "repull and merge" if the master branch has chan

[2022-05-24 15:28] zou3519 opened #78178 "Don't package torchgen with PT 1.12"
It doesn't even work yet, so unpackage it for cleanliness

[2022-05-24 15:41] dbl001 commented on #77867
[code]

[2022-05-24 16:16] dbl001 commented on #77867
Curious ... why doesn't pytest detect these erroneous 'mps' results?
[code]

[2022-05-24 16:35] suo opened #78182 "XLA tests have high time-to-signal"
According to https://hud.pytorch.org/metrics, XLA is our "heaviest" job in terms of time-to-signal:
<img width="1247" alt="image" src="https://user-images.githubusercontent.com/1617424/170086449-95184404-7744-4dd5-ba15-20fdb0710776.png">

Our current SLA is 3h, so XLA is not quite violating it at the moment. But it would be good to start optimizing TTS now. Ideally this can be done by optimizing t

[2022-05-24 17:16] #67517 closed

[2022-05-24 17:33] suo commented on #78182
On the metrics page you can also see individual job duration, here is build vs. test. Test is a lot longer atm
<img width="824" alt="image" src="https://user-images.githubusercontent.com/1617424/170097173-dd6b99ae-b596-44c3-a0f5-d0a43ace9c83.png">

[2022-05-24 17:37] suo commented on #78182
sounds good thanks!

[2022-05-24 17:49] vinitveersingh opened #78188 "torch.jit.script gives a RuntimeError for a custom MaskRCNN model"
### 🐛 Describe the bug

We complied a MaskRCNN model shown in [TORCHVISION OBJECT DETECTION FINETUNING TUTORIAL] (https://pytorch.org/tutorials/intermediate/torchvision_tutorial.html) with torch.jit.script. They define the model as mentioned below:
[code]
torch.jit.script works perfectly for this example. Please find the Google Colab notebook link for the working example [here](https://colab.resea

[2022-05-24 17:49] pritamdamania87 commented on #78022
Yes it came up here: https://discuss.pytorch.org/t/detected-mismatch-between-collectives-on-ranks/151846 and I do think we should enhance this such that we don't have to look at all logs.

[2022-05-24 18:07] arindamroy-eng commented on #70036
Single script to properly install all libs (for ROCM 5.1.1)
https://docs.amd.com/bundle/ROCm-Downloads-Guide-v5.1.1/page/Access_Installer_AMDGPU_ROCm_Stack_Remote_Repositories.html

amdgpu-install --usecase=rocm

[2022-05-24 18:30] kwen2501 commented on #78047
Hi, as the first error log indicates, this call in user code `ddp_sample.worker.py`:
`torch.cuda.set_device(rank)`
probably sets an invalid device ordinal.

This could happen when `rank = 1` and you only have 1 GPU per node (so valid device ordinal is only '0' on both nodes). You can consider modifying `rank` to `local_rank` in your above call (if the latter exists). The `local_rank` value is expe

[2022-05-24 19:16] Rui-Ren commented on #77463
Hi @garymm , we've tested it using `python=3.7`, `python 3.8`, both are working. Can you please try the below commands and use `python version <= 3.8`
[code]
It should be okay. Thanks.

[2022-05-24 19:19] seemethere commented on #65717
Talked about this in a meeting, our log size has increased so we're going to go ahead and just comment out the verbose variable but leave it in just in case a developer wants to use it locally

[2022-05-24 19:54] rohan-varma commented on #77562
Added hi pri because fix was needed to unblock partner eng T5 training effort

[2022-05-24 20:09] #78091 closed

[2022-05-24 20:16] atalman commented on #78005
Link to landed master PR (if applicable):
* https://github.com/pytorch/pytorch/pull/77964

Link to release branch PR:
* https://github.com/pytorch/pytorch/pull/78198

Criteria Category:
* Critical Fixes

[2022-05-24 20:20] suo commented on #78082
Seems good. I do think we should try and get better at addressing some of the pain points, as the number of out-of-core repos is only going to increase over time.

But: in the case of functorch, since we want to upstream it pretty soon anyway it seems reasonable.

[2022-05-24 20:28] mruberry commented on #78050
reshape (and reshape_as) and contiguous are the two (three) operations I think this change would apply to

[2022-05-24 20:34] wangkuiyi commented on #72138
I understand that OneFlow provides "partially reduced tensor", whereas GSPMD does not have that; instead, GSPMD has "partially tiled tensor". May I know why we choose to follow the OneFlow way instead of the GSPMD way? Thanks! @pritamdamania87 @fduwjj

[2022-05-24 20:36] wangkuiyi commented on #72138
Also for my curiosity - Did we conduct an exhaustive survey before this design? May I understand what we are borrowing from Mesh-TF, JAX's `xmap`, GSPMD in XLA, OneFlow? And which part of these systems are what we do NOT like?

[2022-05-24 20:43] dskhudia opened #78201 "nn.Sequential causes fx.replace_pattern to not find any match."
### 🐛 Describe the bug

Having nn.Sequential (.e.g., torchvision resnet50 model has it) in the model code causes fx.replace_pattern to not find any matches. However, it does find a match if nn.Sequential is removed. Overall, I am looking for a way to match all Bottleneck patterns in the resnet50 model.

The following code results in no matches.

[code]

I think the reason is the presence of "targe

[2022-05-24 20:44] malfet commented on #77931
Can you please run `python -mtools.utils.collect_env` and post its output here

[2022-05-24 20:49] jjsjann123 commented on #78050
Is this proposal targeting only a handful (current these three) ops, or all primtorch operations in general?
I.e. there won't be any requirement on (memory format / contiguity) propagation for prim torch, and same would apply to backends executing prim torch as well?

Another topic:
`strict stride consistency` sounds like way too restrictive to be applied in general. Meanwhile, contiguity and memo

[2022-05-24 20:55] harishsk commented on #77463
@garymm Sorry I missed the Python version above. Pytorch LTS version 1.8.2 is only supported for Python 3.8.

[2022-05-24 20:58] malfet opened #78205 "DISABLED test_complex_half_reference_testing_as_strided_scatter_cuda_complex32 (__main__.TestCommonCUDA)"
Platforms:  rocm

This test was disabled because it is failing on master ([recent examples](http://torch-ci.com/failure/test_complex_half_reference_testing_as_strided_scatter_cuda_complex32%2C%20TestCommonCUDA)).

[2022-05-24 21:05] antoniojkim opened #78206 "Deprecate `TSNodeLoweringInterface`"
### 🚀 The feature, motivation and pitch

As a follow up to #76535, I'd like to propose a change that would effectively remove the need for `TSNodeLoweringInterface`.

Right now, there is a function called `LowerNonCodegenOps` which dispatches the `lower` function depending on the op type. However, I don't think there is any need to do this. By declaring
[code]
for those IR nodes (which is very eas

[2022-05-24 21:05] shpotes opened #78207 "Problem running TorchScript models with batch normalization from old versions"
### 🐛 Describe the bug

When saving a model using Torchscript in an old version of torch, i.e., 1.4, it's loaded in a newer version, i.e., 1.10.1; and trying to run it using GPU, the following error appears

[code]

This behavior is associated with batch norm, because in the trace it appears
[code]

In [this notebook](https://colab.research.google.com/drive/1-rQrbTKWk6xzfixQuzYvy9XLkiDpJU_T?usp=sh

[2022-05-24 21:08] jbschlosser commented on #78003
Hey @djc26, if possible, you could please provide a small, self-contained example demonstrating the issue? I'm having trouble reproducing it as-is.

Side note: would using [`CosineAnnealingWarmResarts`](https://pytorch.org/docs/stable/generated/torch.optim.lr_scheduler.CosineAnnealingWarmRestarts.html) instead be useful for you?

[2022-05-24 21:14] malfet commented on #78100
Should we cache those dependencies in docker? @suo can we get a bit more quantifiable metric how often bazel builds fail compared to others?

[2022-05-24 21:18] djc26 commented on #78003
Thank you for working to re-produce the issue! I'll admit I did not create a self-contained example, but instead wrote my own stateless function to unblock my work. Let me try CosineAnnealingWarmResarts since this is my desired behavior.

[2022-05-24 21:21] dagitses commented on #78100
Yeah, it's generally considered a great idea to ensure that we don't have to go out to the remote world to fetch dependencies in CI. How do you implement this cache generally? We also want to make sure that it continues to work for people who are building from workstations.
________________________________
From: Nikita Shulga ***@***.***>
Sent: Tuesday, May 24, 2022 5:14 PM
To: pytorch/pytorch ***

[2022-05-24 21:31] lucadiliello opened #78210 "Performance with MPS on AMD GPUs are worse than CPU"
### 🐛 Describe the bug

I tried running some experiments on the RX5300M 4GB GPU and everything seems to work correctly. The problem is that the performance are worse than the ones on the CPU of the same Mac.

To reproduce, just clone the tests in this repo `https://github.com/lucadiliello/pytorch-apple-silicon-benchmarks` and run either
[code]
or
[code]

While the CPU took `143s`, with the MPS bac

[2022-05-24 21:45] garymm commented on #77463
Thanks for looking into it.
Perhaps you can update the installation command then to specify `python<=3.8`? Or some other way to make this automatic?

[2022-05-24 21:51] ksasso1028 commented on #14844
sup wit this?

[2022-05-24 22:33] djc26 commented on #78003
@jbschlosser CosineAnnealingWarmResarts creates the correct learning rate schedule, but does does not allow the scheduler to specify a last_epoch with a new optimizer, ie.

KeyError: “param ‘initial_lr’ is not specified in param_groups[0] when resuming an optimizer”

I understand this is a design choice that I am choosing not to follow so I will close this issue. As others have said, making the sc

[2022-05-24 22:33] #78003 closed

[2022-05-24 22:57] dvzubarev commented on #35661
I had the same problem with torch 1.11.0 + cuda 11.3. Workaround with `CUBLAS_WORKSPACE_CONFIG` didn't help. But it seems to be fixed in torch 1.12-rc1 even without setting `CUBLAS_WORKSPACE_CONFIG`.

[2022-05-24 23:06] kulinseth commented on #77819
@aiden-leong , with latest master we are not able to repro this issue any more. The test is giving expected shape values.

[code]

[2022-05-24 23:11] WuChengbin commented on #78074
Did anyone notice this issues ? I have tested the latest PyTorch-nightly and it still not work correctly.

[2022-05-24 23:29] pritamdamania87 commented on #72138
@wangkuiyi My understanding is that the partially reduced tensor comes mostly from an eager mode system. Since GSPMD is primarily an XLA thing they can inject appropriate collectives to deal with partially reduced state and not necessarily have a way to natively express it.

Yes, we looked at Megatron-LM, Mesh-TF, GSPMD, Jax and OneFlow as part of our survey. In terms of what we are borrowing and

[2022-05-25 00:09] davidberard98 commented on #78207
Are you sure this works in 1.4 as well?

e.g. could you duplicate this code into the end of the pytorch 1.4 section and see if it errors out?

[code]

[2022-05-25 00:13] davidberard98 commented on #78188
Can you annotate the type of `images` in the forward method?

[code]

The error message suggests that `self.model(..)` expects an argument that is a list of tensors. Since `images` is not annotated, torchscript assumes that it is a tensor. If it's not a tensor, it needs to be annotated as a tensor.

[2022-05-25 00:57] pytorch-bot[bot] opened #78229 "DISABLED test_ddp_shared_grad_acc_unused_params (__main__.TestDistBackendWithSpawn)"
Platforms: linux

This test was disabled because it is failing in CI. See [recent examples](http://torch-ci.com/failure/test_ddp_shared_grad_acc_unused_params%2C%20TestDistBackendWithSpawn) and the most recent trunk [workflow logs](https://github.com/pytorch/pytorch/runs/6583400219).

Over the past 3 hours, it has been determined flaky in 1 workflow(s) with 1 red and 4 green.

cc @pietern @mrshenl

[2022-05-25 01:59] Yuri-Su commented on #77833
Is the latest 1.13 AMD GPU version available?

[2022-05-25 02:29] tongchangD opened #78233 "some error with pth export onnx"
### 🐛 Describe the bug

I was building this and encountered the following problem when PTH was transferred to ONNX.
[code]
### Further information
in [Face_Enhancement](https://github.com/microsoft/Bringing-Old-Photos-Back-to-Life/tree/master/Face_Enhancement).

### Versions

my export code
[code]

[2022-05-25 02:54] shpotes commented on #78207
yes, it works on torch 1.4, and in fact, it also works on torch LTS (1.8.2). I updated the notebook with both examples

[2022-05-25 03:52] pytorch-bot[bot] opened #78235 "DISABLED test_ddp_control_flow_same_across_ranks (__main__.TestDistBackendWithSpawn)"
Platforms: linux

This test was disabled because it is failing in CI. See [recent examples](http://torch-ci.com/failure/test_ddp_control_flow_same_across_ranks%2C%20TestDistBackendWithSpawn) and the most recent trunk [workflow logs](https://github.com/pytorch/pytorch/runs/6584829235).

Over the past 3 hours, it has been determined flaky in 1 workflow(s) with 1 red and 4 green.

cc @pietern @mrshen

[2022-05-25 04:02] Nintorac opened #78236 "WeightedRandomSampler does no shape checking"
### 🐛 Describe the bug

The `WeightedRandomSampler` does not check the shape of the `weights` vector. Maybe I am missing some use cases where this might be useful, does it make sense to be able to supply a multidimension array to this?

[code]

At any rate the results of using this sampler are not very intuitive (the `__getitem__` function is passed a list of samples rather than a single value, in

[2022-05-25 05:12] cchheennhhaaoo commented on #68876
Hi, @malfet, any suggestion about @chengjunlu's comments?

[2022-05-25 05:43] KevinYuk commented on #77821
hi @ezyang @VitalyFedyunin, any comments?

[2022-05-25 06:01] Tony-Tan commented on #77764
The operator `aten::logical_and.out` is not current implemented for the MPS device.

[2022-05-25 06:17] kulinseth commented on #77958
Can you please check @ducha-aiki , the issue is fixed in : torch-1.13.0.dev20220524

[2022-05-25 06:17] #77958 closed

[2022-05-25 06:19] kulinseth commented on #76094
Filed an issue: https://github.com/Maratyszcza/PeachPy/issues/119

[2022-05-25 06:21] upupyy opened #78240 "`xlogy` fails to backward"
### 🐛 Describe the bug

`xlogy` fails to backward when input tensors have different dtypes

[code]

### Versions

pytorch: 1.11.0

cc @nairbv @mruberry

[2022-05-25 06:38] suo opened #78242 "pytorchbot revert reason validation is confusing"
I tried a few here: https://github.com/pytorch/pytorch/pull/78146 but none of them seemed to work. I've reverted other PRs today with `-c nosignal` and that seemed fine.

[2022-05-25 06:49] zhaoligang594 opened #78243 "I find that the picture has some errors?"
### 📚 The doc issue

https://pytorch.org/docs/1.11/generated/torch.nn.LeakyReLU.html#torch.nn.LeakyReLU

On this page, I find the LeakRelu activation function may have some error where x<0;
I advise you should give a new PICTURE which is an obvious change in x<0

### Suggest a potential alternative/fix

_No response_

cc @svekars @holly1238

[2022-05-25 06:56] suo commented on #78242
Looking at the code, seems like my stuff probably failed a validity check
[code]

Two comments here:
1. The validity check feel arbitrary; there is no way to predict what it is without looking at the code. We should probably remove it, since the CLI enforces that a *some* reason is required anyway.
2. The comment that the bot gives in response is misleading/confusing. It says that I didn't provide

[2022-05-25 07:22] ducha-aiki opened #78247 "MPS convolution crashing on .expand kernel (non-contiguous)"
### 🐛 Describe the bug

Convolution with non-contiguous kernel lead to crash.

[code]

Outcome:

[code]

It crashes regardless if the flag `PYTORCH_ENABLE_MPS_FALLBACK=1 ` is used or not
Expected: not crash.

### Versions

[code]

[2022-05-25 07:32] TudorFanaru18 opened #78248 "USE_NATIVE_ARCH flag causes nvcc build failure due to "'arch=native': expected a number""
### 🐛 Describe the bug

I'm attempting to build pytorch wheels on a Jetson AGX Xavier DevKit running Ubuntu 18.04.

The script below works fine when the `USE_NATIVE_ARCH` option is not set, and fails when `USE_NATIVE_ARCH=1`.

<details>
<summary>
Script (click to expand)
</summary>

[code]
</details>

The configuration and CMake outputs can be found here: [Summaries.txt](https://github.com/pytorch

[2022-05-25 08:32] MishaRuko commented on #77958
Transposing tensors with 3 or more dimensions still results in a crash with torch-1.13.0.dev20220524
[code]

[2022-05-25 08:54] fotstrt commented on #72025
Hello, I was wondering if there are any updates on this. Thank you!

[2022-05-25 08:56] nicolasbeglinger commented on #77764
The operator `aten::bitwise_and.Tensor_out` is not yet implemented for the MPS backend.

[2022-05-25 09:30] vadimkantorov commented on #78003
@djc26 please upvote https://github.com/pytorch/pytorch/issues/68332 since you seem to support basic stateless functional design :)

[2022-05-25 09:44] LuisPerezVazquez commented on #77736
Yes, you are right, thanks for the help and sorry for the inconvenience!

On Mon, May 23, 2022 at 6:36 PM George Qi ***@***.***> wrote:

[2022-05-25 10:08] PuckCh commented on #78074
Same here with nightly 1.13.0.dev20220525:
[code]

[2022-05-25 10:24] upupyy opened #78249 "`max_unpool2d` is not deterministic"
### 🐛 Describe the bug

`max_unpool2d` is not deterministic

[code]

### Versions

pytorch: 1.11.0

[2022-05-25 10:40] opeide commented on #33296
For me the issue was apparently in my augmentations. In albumentations there are some augmentations that can infiniteloop, like randomfog. I was only able to see where the code froze when i set num_workers=0.

[2022-05-25 10:41] fzimmermann89 opened #78250 "Crash with ParameterList and device='meta'"
### 🐛 Crash with ParameterList and device='meta'

Hi,

while trying to debug https://github.com/pytorch/functorch/issues/832 I noticed an issue with ParameterList and meta tensors:
[code]

This might have a similar root cause as the issue mentioned above (which prevents make_functional of functorch to be used if the modulecontains a ParameterList).

Expected result:
```Not crashing the interpreter

[2022-05-25 10:41] opeide commented on #1355
For me the issue was apparently in my training augmentations. In albumentations there are some augmentations that can infiniteloop, like randomfog. I was only able to see where the code froze when i set num_workers=0.

[2022-05-25 10:57] HennerM opened #78251 "Python warnings printed repeatedly from JIT in libtorch"
### 🐛 Describe the bug

I am using the C++ API (libTorch) with a JIT scripted model that was exported with PyTorch 1.11. In this version Pool1D (and Pool 2D) operations were throwing a warning: https://github.com/pytorch/pytorch/blob/v1.11.0/torch/nn/functional.py#L749-L750
[code]

I would expect this warning only to show up once in stderr, as part of the Model::forward. However, the warning is pr

[2022-05-25 11:00] IvanYashchuk opened #78252 "Discrepancy in the dimension wrapping error message and type"
### 🐛 Describe the bug

There's a discrepancy in the error message and error type in `torch._prims.utils.canonicalize_dim` and `at::maybe_wrap_dims_n` :
https://github.com/pytorch/pytorch/blob/87148f2b5921557774a535495d7c77b20aa795b6/torch/_prims/utils.py#L408-L410
https://github.com/pytorch/pytorch/blob/87148f2b5921557774a535495d7c77b20aa795b6/aten/src/ATen/WrapDimUtils.h#L48-L50
`canonicalize_di

[2022-05-25 11:02] datumbox opened #78490 "Initializing libiomp5.dylib, but found libomp.dylib already initialized."
### 🐛 Describe the bug

The issue appears on MacOS py3.8, it started after updating to the latest nightly `1.13.0.dev20220525-py3.8_0` from core (previously I was at `1.12.0.dev20220309-py3.8_0`, so the issue could have been introduced earlier than May 25th). I'm receiving the following after importing numpy and pytorch together:
[code]

[code]
Strangely, importing first torch works:
[code]

Setti

[2022-05-25 12:22] kwonmha opened #78253 "Any plan to add Noam scheduling?"
### 🚀 The feature, motivation and pitch

I found Noam scheduling(from "Attention is all you need" paper) important for training transformers.
But it's not included in torch.
Do you have plan to add it or want others to add it?

### Alternatives

_No response_

### Additional context

_No response_

[2022-05-25 12:46] devjta commented on #66685
I know thats an old bug, but its still there...

Its NOT COMPATIBLE at all, because pytorch-android-lite isnt. Simple as that.

For whatever reasons, pytorch-android-lite has its OWN libfbjni.so for arm64 which has 178kb. NO VERSION of libfbjni.so has THAT size.

When I exclude fbjni from pytorch_android_lite import, it will not WORK at all. Getting this _Unwind_resume error:
dlopen failed: cannot

[2022-05-25 13:24] ezyang commented on #77821
Unfortunately under the current way that memory format is implemented it is not possible to handle this case correctly. You should manually transfer the weights for each of the inner convolutions separately.

[2022-05-25 13:35] t-vi commented on #78253
I think the idea is that you could use/subclass LambdaLR with ease.

[2022-05-25 14:37] Lezcano opened #78256 "Forward over reverse does not work for sub for inputs (compex, float)"
### 🐛 Describe the bug

I hit this while fixing `l1_loss`. `l1_loss` has an input of the form `(complex, float)`, which `sub`'s OpInfo does not have (!!). If I add those samples for `sub` it breaks (as `l1_loss`) with a
[code]
I tried to put together a self-contained repro, but I failed, as using `gradgradcheck` for the obvious function breaks:
[code]
This breaks with a
[code]
when it shouldn't, a

[2022-05-25 14:41] Lezcano commented on #78256
The `l1_loss` PR I mentioned is https://github.com/pytorch/pytorch/pull/78257, and to repro this behaviour simply add a
[code]
to the `sample_inputs_add_sub` function

[2022-05-25 15:25] janeyx99 opened #78260 "[CI] Detect when tests are no longer running from CI"
### 🐛 Describe the bug

A few days ago (as of 5/25), the mac CI tests stopped running as a result of a yml change that broke GHA parsing (see https://github.com/pytorch/pytorch/pull/78000).

The scary part is that we only noticed it days later, and there was no automatic mechanism warning us that the test was missing. We should have such a mechanism.

How we can detect when this happens next time:

[2022-05-25 15:34] devjta opened #78261 "pytorch-android-lite use its own libfbjni.so, which is not compatible with any other version at all.."
### 🐛 Describe the bug

Wanted to have react-native and pytorch lite together in one project.

Already wasted 2 full working days on that, only to find out the root problem (well, there are 2).

The first problem is that strange "0.0.3" version of fbjni, which NEVER existed (and should never). If you go to the fbjni page, you will also see, there was NEVER a release of 0.0.3. Yet, someone uploaded

[2022-05-25 15:54] wconstab commented on #78206
Ok, yea i had wanted to do this too.  But I think @JackCaoG may have concerns with it at least in the short term?  It depends how they do the XLA migration.  Is it a change that would only affect the TS backend?  or it affects how the core code calls into the backends?

[2022-05-25 15:56] #65717 closed

[2022-05-25 16:12] vinitveersingh commented on #78188
Thank you. It works.

[2022-05-25 16:12] #78188 closed

[2022-05-25 16:14] antoniojkim commented on #78206
This is a per-backend thing. So, the changes I'm proposing here will only affect the TS backend. I'll also be changing the MLIR backend soon after to match.

I think if the XLA backend still needs it they can keep it if they need to. I don't think they would have been directly using `TSNodeLoweringInterface` or inheriting it from it, so it shouldn't be a problem. @JackCaoG please confirm.

[2022-05-25 16:17] soulitzer commented on #78256
The reason this fails is that the conj-ness of the primal decides the control flow, so if conj of primal is out of sync with that of primal code that will succeed in the primal path will fail in the tangent path.
[code]
`RuntimeError: view_as_real doesn't work on unresolved conjugated tensors. `

Following discussion offline, the fix may be to just sync up the .conj-ness of the tangent to match th

[2022-05-25 16:25] ngimel commented on #78252
would changing `canonicalize_dims` error to IndexError solve the issue, or will it break a bunch of other things? We should try to match the types of errors thrown.

[2022-05-25 16:36] pearu opened #78264 "torch._validate_sparse_bsr_tensor_args fails on non-trivial block size cases"
### 🐛 Describe the bug

As in the title.

[code]

The problem is that `_validate_sparse_bsr_tensor_args` is wrong: it does not take into account the specified blocksize when interpreting the shape of the BSR tensor.

### Versions

Using pytorch master branch.

cc @nikitaved @pearu @cpuhrsch @amjames

[2022-05-25 17:08] SumeetBatra opened #78274 "Memory allocation errors when attempting to initialize a large number of small feed-forward networks in RAM with shared memory despite having enough memory"
### 🐛 Describe the bug

Hello,

I am attempting to initialize and allocate space for ~10,000 small, single hidden layer mlps with shared memory. Here is how the models are created:

[code]

I’m keeping track of the total RAM usage and this is the last statement that printed before the error:

So I clearly have more than enough memory available. Here is the “cannot allocate memory” error:

  File "

[2022-05-25 17:09] hchau630 opened #78275 "Large numerical errors in torch.einsum and torch.matmul on A40 GPU"
### 🐛 Describe the bug

I ran the following code on a 1080 Ti and an A40 GPUs respectively (this is done on a cluster). The 1080 Ti gives the expected result while the A40 GPU gives me the wrong result.

[code]

1080 Ti yields
[code]

while the A40 yields
[code]

As seen, lines 4 and 5 of the output are incorrect when running the code on A40. Is this just a floating point issue or is it an actual

[2022-05-25 17:14] awgu opened #78277 "[FSDP][BE] Refactor unit tests to use a few canonical models"
In the rush to push features, we have introduced a few test-file-specific models outside of `common_fsdp.py`. As a better engineering task, we should refactor the existing FSDP tests to use a few canonical models that exercise all of the relevant edge cases:
- 3+ levels of nesting (for asymmetric # of levels down versus up when recursing)
- Non-root FSDP with FSDP children and non-FSDP children in

[2022-05-25 17:32] H-Huang commented on #58448
D36668210 for fix

[2022-05-25 18:03] ngimel commented on #78275
It is a tf32 issue, disable it by setting `torch.backends.cuda.matmul.allow_tf32=False`. In the next pytorch version (1.12) and in the nightlies tf32 is disabled by default.

[2022-05-25 18:03] #78275 closed

[2022-05-25 18:11] SumeetBatra commented on #78274
Is there a way to increase the limit on shared memory?

[2022-05-25 18:12] chenyixin1008 commented on #74811
Hi! I met the same problem with you and even if I deactivate the env I still got this linker error.
<img width="440" alt="image" src="https://user-images.githubusercontent.com/37447829/170336925-6a99355d-dcd1-471c-a2d1-4e940845e5fb.png">

[2022-05-25 18:27] JackCaoG commented on #78206
XLA does not use `TSNodeLoweringInterface` since every node has a Lower function. I think we can clean this up if it is not needed for TS.

[2022-05-25 18:33] suo opened #78283 "MobileProfiler.Backend test is flaky"
Examples on master today:
- https://github.com/pytorch/pytorch/runs/6597443451?check_suite_focus=true
- https://github.com/pytorch/pytorch/runs/6596207186?check_suite_focus=true

[2022-05-25 18:34] digital-idiot commented on #51455
I am also interested in this. In some cases explicitly specifying exact shape can be difficult. I prefer the `tensorflow/keras`'s approach of specifying the `axis` instead.

[2022-05-25 18:40] suo commented on #78100
Another example https://github.com/pytorch/pytorch/runs/6597411757?check_suite_focus=true

[2022-05-25 18:42] suo commented on #78100
It's tricky unfortunately, the data is extremely noisy as we have failures all the time on master for other reasons. My recently introduced manual classification should help things, so in a few weeks we should have good numbers.

[2022-05-25 18:47] xuzhao9 opened #93755 "Dynamo+TRT issues on TorchBench issues overview"
I am opening this issue to track the status of Dynamo+TRT issues we currently have on TorchBench.

Models that are not covered (crashes):
- [ ] detectron2_maskrcnn
- [ ] hf_BigBird
- [ ] hf_Reformer
- [ ] opacus_cifar10

Models that don't return correct results:
- [ ] BERT_pytorch
- [ ] dcgan
- [ ] hf_Longformer
- [ ] hf_T5
- [ ] pytorch_stargan
- [ ] tacotron2
- [ ] timm_nfnet
- [ ] yolov3

Model

[2022-05-25 18:50] ngimel commented on #78170
We should have these problems already with `at::Half`?

[2022-05-25 18:56] kit1980 commented on #78100
That's a different workflow, not related to Bazel build.
Github had intermittent issues today from time to time, that's why the download from Github failed. But even if we cache it, something else from Github would probably fail anyway.

[2022-05-25 18:57] ngimel commented on #78243
What is the error?

[2022-05-25 19:08] suo commented on #78283
@kimishpatel you have been identified as the right owner for this test. Can you look into it?

[2022-05-25 19:12] kumpera commented on #78235
cc @rohan-varma @zhaojuanmao

[2022-05-25 19:13] suo opened #78288 "DISABLED test_qconv_transpose2d (quantization.core.test_quantized_op.TestQuantizedConv)"
Platforms: mac

This test was disabled because it is failing on master ([recent examples](http://torch-ci.com/failure/test_qconv_transpose2d%2C%20quantization.core.test_quantized_op.TestQuantizedConv)).

cc @jerryzh168 @jianyuh @raghuramank100 @jamesr66a @vkuzo

[2022-05-25 19:13] suo opened #78289 "DISABLED test_backward_per_channel (quantization.core.test_workflow_ops.TestFakeQuantizeOps)"
Platforms: mac

This test was disabled because it is failing on master ([recent examples](http://torch-ci.com/failure/test_backward_per_channel%2C%20quantization.core.test_workflow_ops.TestFakeQuantizeOps)).

[2022-05-25 19:15] SsnL opened #78290 "[doc] asarray is uglily formatted"
### 📚 The doc issue

![image](https://user-images.githubusercontent.com/5674597/170350081-8c28adca-3439-4c87-8306-fe43b237496b.png)

### Suggest a potential alternative/fix

Remove the unnecessary line breaks, and make the formatting consistent among the mentioned functions.

cc @svekars @holly1238 @mruberry @rgommers @pmeier @asmeurer @leofang @AnirudhDagar @asi1024 @emcastillo @kmaehashi

[2022-05-25 19:19] suo commented on #78288
actually we should just fix these tests

[2022-05-25 19:19] #78288 closed

[2022-05-25 19:23] jeffdaily commented on #77976
Fixed by #77438.

[2022-05-25 19:23] #77976 closed

[2022-05-25 19:49] #78009 closed

[2022-05-25 19:57] nishantb21 commented on #77897
Is this issue still open? Can I take it up?

[2022-05-25 19:57] janeyx99 opened #78295 "Why does the cpp docs build take so long?"
The current cpp docs job takes 1h33m average to build. What is making it take so long and how can we speed it up?

https://github.com/pytorch/pytorch/runs/6597818292?check_suite_focus=true

cc @seemethere @malfet @pytorch/pytorch-dev-infra @ezyang @zou3519 @holly1238 @svekars

[2022-05-25 19:58] ptrblck commented on #78067
The latest wheels (PyTorch `1.12`) for Python 3.8 can be downloaded [here](https://forums.developer.nvidia.com/t/pytorch-for-jetson-version-1-11-now-available/72048). To run them you would require JetPack 5. For older releases (PyTorch and JetPack 4) use the same link. The L4T containers can be downloaded [here](https://catalog.ngc.nvidia.com/orgs/nvidia/containers/l4t-pytorch) and a moving monthl

[2022-05-25 20:16] davidchencsl commented on #76652
Couldn't reproduce the issue with vscode Version: 1.67.2 (Universal) and python extension v2022.6.2
<img width="366" alt="Screen Shot 2022-05-25 at 1 15 46 PM" src="https://user-images.githubusercontent.com/28990907/170359545-ad01e193-7028-4d90-beb1-fee0646904b0.png">

[2022-05-25 20:19] dbl001 commented on #78247
Also crashes with device='mps' on AMD Radeon Pro 5700 XT.
[code]

[2022-05-25 20:20] zou3519 commented on #78050
It sounds like there are two questions here:
1. What should we do about .reshape(), .contiguous()?
2. Should primtorch reference implementations have the same behavior wrt {strides, memory format} when compared with eager-mode PyTorch?

For (1), I'm all for making the semantics of reshape() and contiguous() easier for us (and users to understand) -- these should feel like a copy but can do a view

[2022-05-25 20:33] ngimel commented on #78290
cc @ysiraichi

[2022-05-25 20:37] ngimel commented on #78250
High priority due to crash on basic functionality.

[2022-05-25 20:45] zou3519 commented on #78005
Link to landed master PR (if applicable):
- n/a

Link to release branch PR:
- https://github.com/pytorch/pytorch/pull/78300

Criteria Category:
- Release branch specific changes (removing incomplete feature from release)

[2022-05-25 20:53] Kasekopf opened #78301 "The example for Torch.log is not very useful (all nan)"
### 📚 The doc issue

The current example usage for torch.log generates 5 random numbers. It just so happens that all the numbers generated are negative, so the logs are all nan and thus the example output is not that useful:

[code]
From [https://pytorch.org/docs/stable/generated/torch.log.html](https://pytorch.org/docs/stable/generated/torch.log.html)

### Suggest a potential alternative/fix

Use

[2022-05-25 21:00] anjali411 commented on #78170
Does this issue arise because we go back and forth between cfloat and chalf? If yes, then BFloat16 should also have a similar issue right?

It seems like the permissible range should also depend on the type on function right?

[2022-05-25 21:01] anjali411 commented on #76803
@kshitij12345 did this make it in time for branch cut?

[2022-05-25 21:04] jungerm2 commented on #49538
Since this is still open... Here's a slightly more general workaround based on @slitcch's answer above. It doesn't ignore the `dim` parameter.

[code]

[2022-05-25 21:11] kshitij12345 commented on #78170
It happens because of the difference in the range of values supported by `cfloat` and `chalf`

[code]

Yes, the permissible range is dependent on function. I think only few functions `pow` and `rsqrt` will suffer from this. Even `exp` will work as the sample inputs are generated from `make_tensor` which by defaults generates tensor with value only between -9 and 9 for complex types.

[2022-05-25 21:12] kshitij12345 commented on #76803
Yes, it did 🎉

[2022-05-25 21:24] ngimel commented on #77897
#73188 is open, the PR linked didn't add the test so we didn't land it. It would be great if you can take over.

[2022-05-25 21:26] ngimel commented on #78301
We'll accept a PR fixing this, `rand` instead of `randn` should do the trick.

[2022-05-25 21:27] #77829 closed

[2022-05-25 21:28] malfet commented on #77833
PyTorch nightly builds for both Intel and M1 starting with May 23rd should include mps support:
[code]

[2022-05-25 22:01] xsacha commented on #78042
I saw this error printed only after another error occured (the model wasn't converted to mps, but the input was).
Just in case you have the same issue.

[2022-05-25 22:05] xsacha commented on #78210
My guess is it might just be the 5300M is a lot slower than the 5700 XT. In this particular case, the CPU might be faster than the GPU for such a low-end GPU.
It doesn't mean the GPU is useless as it still offloads work from the CPU.

[2022-05-25 22:10] JackCaoG commented on #78005
Link to release branch PR:

https://github.com/pytorch/pytorch/pull/77993

Criteria Category:
updating pytorh/xla 1.12 branch for CI testing.

[2022-05-25 22:29] AllenTiTaiWang opened #78308 "Move test/onnx/test_onnx_export.py into test_pytorch_onnx_no_runtime.py"
To integrate no runtime test cases into one file, test/onnx/test_onnx_export.py (added #74759) should be moved into test_pytorch_onnx_no_runtime.py (added #73284)

[2022-05-25 22:42] mruberry commented on #78050
I think changing how we represent NCHW/NHWC should be on the table generally, and definitely for how it's represented to trace executors.

One additional complication of not modeling strides is that we'll have to stop the user from conditioning on stride values in traced code, because those values are ???. Users could still call contiguous() to ensure a tensor was contiguous, if they wanted, thoug

[2022-05-25 22:44] justinchuby opened #78311 "Show parameter types in function signatures"
### 📚 The doc issue

The current python API documentation does not capture the annotated types for the function arguments: For example, https://pytorch.org/docs/stable/generated/torch.nn.Linear.html does not show the types even though https://pytorch.org/docs/stable/_modules/torch/nn/modules/linear.html#Linear has annotated types in its `__init__`. Showing parameter types will help readers underst

[2022-05-25 22:46] jcoppock97 commented on #77764
The operator 'aten::_slow_conv2d_forward' is not currently implemented for the MPS device.

[2022-05-25 22:58] #77688 closed

[2022-05-25 23:00] ngimel commented on #78050
De-facto, reshape and contiguous already return copies from a user perspective - users can't rely on results being views. Segmenting around them on the other hand is likely to produce too small fusion groups

We can reasonably model stride-like information, for cases that are easy (e.g. all input tensors have same broadcasting pattern and permutation, all input tensors have same broadcasting patte

[2022-05-25 23:11] xsacha commented on #78275
Just a note, are these numerical errors generally fine for inference? What about training? Is it worse than FP16 for accuracy?

[2022-05-25 23:17] ngimel commented on #78275
Nvidia has run extensive experiments showing that networks trained with tf32 generally have the same convergence as those using fp32, same for inference. But when tf32 is used in isolated examples like above, or when matrix multiplications are used in image data preprocessing, the results can be surprising/less accurate.

[2022-05-25 23:28] suo commented on #78283
I disabled this test for now in https://github.com/pytorch/pytorch/pull/78320

[2022-05-25 23:47] vkuzo commented on #77892
thanks for the find, looks like we need to sanitize the inputs to this function better, we should fix this

[2022-05-25 23:50] jerryzh168 commented on #77892
this is just fixed by @dzdang I think: https://github.com/pytorch/pytorch/pull/78148

[2022-05-25 23:50] #77892 closed

[2022-05-26 00:00] yuguo68 commented on #78243
there should be a slope when x < 0, yet it is flat in the picture.

[2022-05-26 00:03] upupyy commented on #78087
Sure. I will do it

[2022-05-26 00:06] #77833 closed

[2022-05-26 00:08] malfet commented on #77210
Closing as M1 builds with MPS support are available

[2022-05-26 00:08] #77210 closed

[2022-05-26 00:16] pritamdamania87 commented on #75402
@wanchaol Was wondering if this can actually be done via `__torch_function__` since ShardedTensor `cpu` method is slightly different and needs a `process_group` parameter as well which doesn't exist in the torch.Tensor version.

[2022-05-26 00:50] justinchuby opened #78328 "Code coverage?"
### 🚀 The feature, motivation and pitch

The code coverage on codecov: https://app.codecov.io/gh/pytorch/pytorch is 8 months old and it doesn't seem to receive new coverage information. Is there a place where we can find test coverage information without having to run any code locally?

### Alternatives

_No response_

### Additional context

_No response_

[2022-05-26 00:52] SeedKunY commented on #77821
OK. Any support plan to provide python API like `Hybrid_model().to(memory_format=torch.channels_last)` to support both conv2d and conv3d at the same time?

[2022-05-26 01:04] robieta commented on #78283
Is the flakiness recent? If so I might be responsible.

[2022-05-26 01:04] lucadiliello commented on #78210
It may make sense for the 5300M, but I do not see why the 5700XT 16GB is going as fast as the CPU of the iMac.

[2022-05-26 01:16] shenyih0ng opened #78331 "`torch.load` does not propagate `map_location` arg to `torch.jit.load`"
## Issue description

`torch.load` checks if the given file is a torchscript zip and when it is found to be true, it delegates loading to `torch.jit.load`. However, arguments such as `map_location` is not propagated to the subsequent invocation of `torch.jit.load`(seen below L711).

https://github.com/pytorch/pytorch/blob/e9d0f5fb17ad30939b7217f1a1d0552a6d005ba0/torch/serialization.py#L699-L713

#

[2022-05-26 01:17] ezyang commented on #77821
There isn't a plan but there is some related discussion at #78050

[2022-05-26 01:27] xsacha commented on #78210
The 5700 XT was twice as fast as the 8-core i7 CPU on the iMac if I'm reading it right.

[2022-05-26 02:08] ezyang commented on #78050
If we are going to go stride like info which I imagine we are going to specialize on I need to see a proposal for how exactly we are going to do this, and in particular how it is going to interact with the view side of things.

[2022-05-26 02:18] dbl001 commented on #78210
batch_size affects performance dramatically...
[code]

[2022-05-26 02:20] chenyixin1008 commented on #74811
Is it okay to use the arm64 version of python on a non-M1 mac? @albanD

[2022-05-26 02:26] upupyy opened #78332 "TRACK: integral + floating inputs to an op with floating requiring grad result in INTERNAL_ASSERT"
### 🐛 Describe the bug

This is the tracking of the issues that "integral + floating inputs to an op with floating requiring grad result in INTERNAL_ASSERT"

- tensordot #77517
- addmv #77814
- mv #77814
- bilinear #78087
- matmul #78141
- mm #78141
- baddmm #78143
- index_fill #78443
- layer_norm #78444

### Versions

pytorch: 1.11.0

cc @ezyang @albanD @zou3519 @gqchen @pearu @nikitaved @soulitz

[2022-05-26 02:42] xsacha commented on #78210
It almost scales with batch size. Almost like it's doing every batch a 'batch' number of times.

[2022-05-26 02:53] kwonmha commented on #78253
Right. I can implement it with LambdaLR or adopt other implementations.

I think it's about policy or plan to include Noam scheme in this project.
So opened this issue.
And you mean it doesn't look good to provide that scheme in pytorch?

[2022-05-26 03:13] justinchuby opened #78336 "[ONNX] Add `__all__` to `torch.onnx`"
### 🚀 The feature, motivation and pitch

The [Public API definition and documentation](https://github.com/pytorch/pytorch/wiki/Public-API-definition-and-documentation) requires torch.onnx define an `__all__` to expose api's explicitly. Examples we should not expose include `torch.onnx.Union` (imported from typing).

- [x] Move class and function definitions out from `__init__.py` into private name

[2022-05-26 03:18] suo commented on #78283
I think so, although this test is sort of weird so we don't have great visibility into its history.

[2022-05-26 03:18] jonahclarsen commented on #27729
Hi there,

I would like to also request this feature, and also ask if there might be another way of solving my problem.

I am making a neural style transfer program in Libtorch that requires CUDA for adequate acceleration. However, it uses VGG-19, which makes the program use about 2-5x more VRAM than is possible within my intended hardware constraints.

If I could use int8 (or better yet, int4), r

[2022-05-26 03:21] jonahclarsen commented on #74393
Could you please provide an update on the status of CUDA int8 static quantization? When might this feature be released?

[2022-05-26 03:54] pytorch-bot[bot] opened #78338 "DISABLED test_ddp_new_tensor_in_fwd_static_graph (__main__.TestDistBackendWithSpawn)"
Platforms: linux

This test was disabled because it is failing in CI. See [recent examples](http://torch-ci.com/failure/test_ddp_new_tensor_in_fwd_static_graph%2C%20TestDistBackendWithSpawn) and the most recent trunk [workflow logs](https://github.com/pytorch/pytorch/runs/6603420768).

Over the past 3 hours, it has been determined flaky in 1 workflow(s) with 2 red and 3 green.

cc @pietern @mrshen

[2022-05-26 05:29] upupyy commented on #78240
Yes, it seems that this issue has been fixed in the master. Let me close it.

[2022-05-26 05:29] #78240 closed

[2022-05-26 05:31] upupyy commented on #77497
@soulitzer Yes, it has been fixed in the nightly version.

[2022-05-26 05:41] IlyasDawoodjee opened #78341 "RuntimeError: Numpy is not available"
## Issue description

I was running some other code and I faced the error "RuntimeError: Numpy is not available". I searched around and found out that running the code I have attached below produced the same type of error. I haven't been able to find a solution online. Kindly assist please.

## Code example

import numpy
import torch
test_torch = torch.rand(100,1,28,28)
print(test_torch.numpy())

[2022-05-26 05:43] upupyy opened #78342 "`_get_analytical_jacobian_forward_ad` cannot compute gradient for `nn.MaxPool`"
### 🐛 Describe the bug

`_get_analytical_jacobian_forward_ad` cannot compute gradient for `nn.MaxPool`.

[code]

The forward-mode gradient computed by `_get_analytical_jacobian_forward_ad` is wrong.

When analyzing the root cause, I am confused by the comment of `_get_analytical_jacobian_forward_ad` that "The computed value is expected to be wrong if the function captures the inputs by side effect

[2022-05-26 06:35] Mehmaam99 commented on #76108
I encountered a same issue in windows server. Program smoothly run in local machine but got an error in Windows server machine.
`RuntimeError: [enforce fail at C:\actions-runner\_work\pytorch\pytorch\builder\windows\pytorch\c10\core\impl\alloc_cpu.cpp:81] data. DefaultCPUAllocator: not enough memory: you tried to allocate 1342177280 bytes.`

[2022-05-26 06:36] upupyy commented on #78342
It seems that this has been fixed in the nightly version.

[2022-05-26 06:36] #78342 closed

[2022-05-26 06:37] JeffersonQin commented on #76108
@Mehmaam99 I think your problem is different. It is just caused by OOM.

[2022-05-26 06:44] GerardWalsh opened #78343 "MPS backend built, but not available"
### 🐛 Describe the bug

When trying to run on M1 (MacBook Pro 13 inch), I get the following:|

[code]

How can the backend be built, but not available?

### Versions

PyTorch version: 1.13.0.dev20220525
Is debug build: False
CUDA used to build PyTorch: None
ROCM used to build PyTorch: N/A

OS: macOS 12.2.1 (arm64)
GCC version: Could not collect
Clang version: 13.0.0 (clang-1300.0.27.3)
CMake versi

[2022-05-26 07:15] IlyasDawoodjee commented on #78341
Solved this by downgrading my python version to 3.9.2

[2022-05-26 07:15] #78341 closed

[2022-05-26 07:35] upupyy opened #78346 "`gradcheck` fails for `torch.distribution.transform` APIs in forward mode"
### 🐛 Describe the bug

`gradcheck` fails for `torch.distribution.transform` APIs in forward mode when `cache` is not 0.

Take `AbsTransform` as an example,
[code]

Other APIs like `SigmoidTransform, TanhTransform, SoftmaxTransform` also have this issue

### Versions

pytorch: 1.11.0

[2022-05-26 07:55] Mehmaam99 commented on #76108
@JeffersonQin  I try almost everything to resolve this error. More than 70GB of disk space, apply garbage collector, cache clear, but issue is still same. If you have an idea then help me to resolve it.
Thanks

[2022-05-26 07:57] JeffersonQin commented on #76108
@Mehmaam99 disk space does not matter, you are running out of **memory**.

[2022-05-26 07:58] JeffersonQin commented on #76108
@Mehmaam99 check your memory usage in task manager (since you are using Windows server), and you can also disable `pin_memory` for DataLoader to save memory.

[2022-05-26 08:01] xiacijie opened #78347 "Torchscript executing static graph with different shaped tensors inputs does not trigger recompilation (retracing)"
Hi, I asked this question(https://discuss.pytorch.org/t/torchscript-executing-static-graph-with-different-shaped-tensors-inputs-does-not-trigger-recompilation-retracing/152393) at Pytorch forum but get no response so I am asking it here.

I am new to torchscript and playing around with it. I have some experience in TensorFlow and try to compare those two frameworks.

Here is an example I am playin

[2022-05-26 08:26] rgommers commented on #72907
@guoyejun I think this request is just a duplicate of gh-51039? Can we close this?

I'm not responsible for this, but I think the answer is "no" - not until `manylinux2014` is dropped at least. And right now we're still in the "need to drop `manylinux1`" state.

[2022-05-26 09:17] guoyejun commented on #72907
thanks for the info, it is in progress, I will close this issue, thanks.

[2022-05-26 09:17] #72907 closed

[2022-05-26 10:02] #78140 closed

[2022-05-26 10:28] xkxxfyf commented on #69894
works for me!

[2022-05-26 10:28] xkxxfyf commented on #69894
works for me!

[2022-05-26 10:36] chidosky4ril commented on #18484
I still get error via colab despite trying all suggestions on this site.

Code:
#RIDNET
CUDA_VISIBLE_DEVICES=0
!python main.py --data_test MyImage --noise_g 1 --model RIDNET --n_feats 64 --pre_train ../experiment/ridnet.pt --test_only --save_results --save 'RIDNET_RNI15' --testpath ../LR/LRBI/ --testset RNI15

Error message:
Traceback (most recent call last):
  File "main.py", line 3, in <module>

[2022-05-26 10:36] chidosky4ril commented on #18484
I still get error via colab despite trying all suggestions on this site.

Code:
#RIDNET
CUDA_VISIBLE_DEVICES=0
!python main.py --data_test MyImage --noise_g 1 --model RIDNET --n_feats 64 --pre_train ../experiment/ridnet.pt --test_only --save_results --save 'RIDNET_RNI15' --testpath ../LR/LRBI/ --testset RNI15

Error message:
Traceback (most recent call last):
File "main.py", line 3, in
import data

[2022-05-26 10:52] soltkreig opened #78348 "RuntimeError: input_shape_value == reshape_value || input_shape_value == 1 || reshape_value == 1INTERNAL ASSERT FAILED"
### 🐛 Describe the bug

Hi, I got the error when I tried to export Video-Swin-Transformer model to ONNX format
RuntimeError: input_shape_value == reshape_value || input_shape_value == 1 || reshape_value == 1INTERNAL ASSERT FAILED at "/opt/conda/conda-bld/pytorch_1631630841592/work/torch/csrc/jit/passes/onnx/shape_type_inference.cpp":520, please report a bug to PyTorch. ONNX Expand input shape cons

[2022-05-26 10:59] andreabac3 commented on #78042
Hi,
Yes, I confirm the issue is fixed in updating to the version `1.13.0.dev20220522`.
Thank you for the support @thipokKub , @mayhewsw , @mrshenli.

Thank you also to @xsacha, now the issue is solved on my side and as you can see from the code posted I have moved the model and inputs to the mps device.

Kind regards,
Andrea Bacciu

[2022-05-26 11:11] Mehmaam99 commented on #76108
@JeffersonQin Thanks mate, Finally issue  resolve . I assigned virtual memory to my working directory using swap files. Manually memory allocation of windows server.

[2022-05-26 11:12] JeffersonQin commented on #76108
@Mehmaam99 Great. Have a nice day.

[2022-05-26 12:59] vkuzo commented on #74393
It's still pretty early for both Pytorch int8 quantization + TensorRT as well as PyTorch int8 quantization + eager mode CUDA execution.  We don't have a release date yet.  We can ping this issue when we have documentation and things are stable enough to be used.

[2022-05-26 13:33] albanD commented on #77829
Note that the PR got reverted due to unrelated issues.
We will reland it soon.

[2022-05-26 13:35] malfet commented on #74120
@atalman can you please see if this is the case for 1.12 release candidate?

[2022-05-26 13:57] soulitzer commented on #78332
These might all be the same issue (with `mm`). See discussion here: https://github.com/pytorch/pytorch/issues/77517

[2022-05-26 13:58] #76094 closed

[2022-05-26 14:06] malfet commented on #78295
Taking an AI to look into doc builds times

[2022-05-26 14:34] soulitzer opened #78355 "`gradgradcheck` misses shape mismatch in OpInfo tests for some loss functions with custom double backward implementation."
This is clear a bug, as shape of `gg0` has to be same as shape of `self`. I do not know why `gradgradcheck` missed that, CC @albanD .

_Originally posted by @nikitaved in https://github.com/pytorch/pytorch/pull/77852#discussion_r877154959_

cc @ezyang @gchanan @zou3519 @albanD @gqchen @pearu @nikitaved @soulitzer @Lezcano @Varal7 @mruberry

[2022-05-26 14:46] recurrence commented on #78343
I briefly checked the source and I suspect you need to be on macOS 12.3+

`MPSDevice::MPSDevice(): _mtl_device(nil) {
  // Check that MacOS 12.3+ version of MPS framework is available
  id mpsCD = NSClassFromString(@"MPSGraphCompilationDescriptor");
  if (![mpsCD instancesRespondToSelector:@selector(optimizationLevel)]) {
    // According to https://developer.apple.com/documentation/metalperforman

[2022-05-26 14:50] justinchuby commented on #78089
@pmeier thanks for the suggestions. I think they are very reasonable.

[2022-05-26 14:50] #76215 closed

[2022-05-26 15:36] malfet commented on #76094
This issue has been fixed in PeachPy a while back by https://github.com/Maratyszcza/PeachPy/pull/85 but pinned version of PeachPy that PyTorch is using has not been updated in a very long time

[2022-05-26 15:40] malfet opened #78362 "Numerous builds/tests are broken by protobuf update"
## Current Status
*mitigated*

## Error looks like
[code]
## Incident timeline (all times pacific)
*Include when the incident began, when it was detected, mitigated, root caused, and finally closed.*

<details>
<summary> Click for example </summary>

e.g.
- 10/30 7:27a incident began
- 10/30 8:30a detected by <method>
- 10/30 9:00 pm root caused as…
- 10/30 9:10 pm mitigated by…
- 10/31 10: am clo

[2022-05-26 15:44] #68053 closed

[2022-05-26 15:54] tbenthompson opened #78363 "torch.linalg.inv gives incorrect results for any index besides zero on M1/mps GPU device"
### 🐛 Describe the bug

When I use `torch.linalg.inv` on any matrix except the first one in a 3D array, I get nonsensical results. The reproduction below demonstrates this. There are two warnings:
1. The lack of support for `aten::_linalg_inv_out_helper_` on 'mps'. I wouldn't expect this to result in incorrect output, just slow output.
2. The non-contiguous buffer warning. This seems suspicious an

[2022-05-26 15:55] malfet commented on #78362
Fixing CI is simple, but I'm not sure what is the right long term solution.

[2022-05-26 16:05] malfet commented on #78362
So massive failures started to happen after https://github.com/pytorch/pytorch/actions/runs/2390793784 , hopefully re-run https://github.com/pytorch/pytorch/actions/runs/2391732644 will just return things back to normal

[2022-05-26 16:05] mankasto opened #78365 "How to calculate the gradient of the previous layer when the gradient of the latter layer is given?"
Hi, there. Can someone help me solve this problem? if the gradients of a certain layer is known, how can I use the API in torch to calculate the gradient of the previous layer?I would appreciate it if anyone could reply me in time.

[2022-05-26 16:14] H-Huang opened #78367 "Split up and reorganize RPC tests"
## Issue description

Right now all RPC tests are in https://github.com/pytorch/pytorch/blob/master/torch/testing/_internal/distributed/rpc/rpc_test.py which is a 6500+ line file containing tests for `CudaRpcTest`, `FaultyAgentRpcTest`, `RpcTest`, `RpcTestCommon`, `TensorPipeAgentRpcTest`, `TensorPipeAgentCudaRpcTest`. These classes are then imported by various files such as https://github.com/pyt

[2022-05-26 16:19] #78058 closed

[2022-05-26 16:27] johnnynunez commented on #78363
I have another error:
UserWarning: The operator 'aten::index.Tensor' is not currently supported on the MPS backend and will fall back to run
on the CPU. This may have performance implications. (Triggered internally at  /Users/runner/work/pytorch/pytorch/pytorch/aten/src/ATen/mps/MPSFallback.mm:11.)
  output, target = output[:, :, ..., dimensions_idces], target[:, :, ..., dimensions_idces]

[2022-05-26 16:28] johnnynunez commented on #77959
I have the same error:
UserWarning: The operator 'aten::index.Tensor' is not currently supported on the MPS backend and will fall back to run
on the CPU. This may have performance implications. (Triggered internally at  /Users/runner/work/pytorch/pytorch/pytorch/aten/src/ATen/mps/MPSFallback.mm:11.)
  output, target = output[:, :, ..., dimensions_idces], target[:, :, ..., dimensions_idces]

[2022-05-26 16:29] johnnynunez commented on #77977
UserWarning: The operator 'aten::index.Tensor' is not currently supported on the MPS backend and will fall back to run
on the CPU. This may have performance implications. (Triggered internally at  /Users/runner/work/pytorch/pytorch/pytorch/aten/src/ATen/mps/MPSFallback.mm:11.)
  output, target = output[:, :, ..., dimensions_idces], target[:, :, ..., dimensions_idces]

[2022-05-26 16:52] helloworld0000 commented on #33385
same error how to fix it？

clang: error: unable to execute command: Illegal instruction: 4
clang: error: clang frontend command failed due to signal (use -v to see invocation)
Apple LLVM version 10.0.1 (clang-1001.0.46.4)
Target: x86_64-apple-darwin18.7.0
Thread model: posix
InstalledDir: /Library/Developer/CommandLineTools/usr/bin
clang: note: diagnostic msg: PLEASE submit a bug report to http://

[2022-05-26 17:12] atalman commented on #78005
Link to landed master PR (if applicable):
* https://github.com/pytorch/pytorch/pull/78085

Link to release branch PR:
* https://github.com/pytorch/pytorch/pull/78370

Criteria Category:
* Critical Fix

[2022-05-26 17:26] justinchuby commented on #78233
Thanks for reporting the issue. Could you share steps on how you prepared the model to help us reproduce the error?

[2022-05-26 17:37] dbl001 commented on #78363
iMac (Retina 5K, 27-inch, 2020)
3.8 GHz 8-Core Intel Core i7
AMD Radeon Pro 5700 XT 16 GB
[code]

[2022-05-26 17:49] malfet commented on #78242
Agreed, it needs a cleaner error message, but I think we should enforce revert reason to be at least few words long.

Imo "breaks master" is bad, as it does not include a link to workflow that were broken, "breaks master https://github.com/pytorch/pytorch/runs/NUMBER" is a much better one, as even several month later developer/community can still look at the run this workflow has failed

[2022-05-26 17:49] justinchuby commented on #77979
The code runs successfully on the latest version of PyTorch-nightly. Please reopen if a follow up discussion is needed. Thank you!

[2022-05-26 17:49] #77979 closed

[2022-05-26 17:50] justinchuby commented on #77961
Could you share the problem you are trying to solve?

[2022-05-26 17:58] suo commented on #78242
sure seems reasonable

[2022-05-26 18:03] justinchuby commented on #75383
PyTorch-nightly produces

[code]

[2022-05-26 18:04] malfet opened #78375 "macos build time increased significantly after runner update to macos-12"
### 🐛 Describe the bug

Compare https://github.com/pytorch/pytorch/runs/6488531812?check_suite_focus=true (which download binary artifacts from cache) vs https://github.com/pytorch/pytorch/runs/6489629931?check_suite_focus=true (after runner was migrated to macos-12)

Relates to https://github.com/pytorch/pytorch/pull/77645

### Versions

N/A

cc @seemethere @malfet @pytorch/pytorch-dev-infra @alb

[2022-05-26 18:11] antoniojkim commented on #77445
@zou3519 Any updates on this?

[2022-05-26 18:20] zou3519 commented on #77445
It's coming soon (in 1-2 weeks at the rate I am going). The problem I'm running into is getting it to work on windows. How urgently do you need this?

[2022-05-26 18:29] antoniojkim commented on #77445
Not super urgently. It is blocking the Torch-MLIR LTC integration being merged into the main development branch. However, we can continue working off the staging branch until that time. 1-2 weeks timeframe should be fine.

[2022-05-26 18:30] malfet commented on #78375
Hmm, one reason for the change, is that `macos-12` runners seems to be running on weaker machines:
`macos-12`: `machdep.cpu.brand_string: Intel(R) Xeon(R) CPU E5-2697 v2 @ 2.70GHz`
`macos-11`: `machdep.cpu.brand_string: Intel(R) Xeon(R) CPU E5-1650 v2 @ 3.50GHz `

[2022-05-26 18:48] malfet opened #78377 "DISABLED test_learnable_forward_per_channel_cpu (quantization.core.test_workflow_ops.TestFakeQuantizeOps)"
Platforms:  macos

This test was disabled because it is failing on master ([recent examples](http://torch-ci.com/failure/test_learnable_forward_per_channel_cpu%2C%20quantization.core.test_workflow_ops.TestFakeQuantizeOps)).

cc @jerryzh168 @jianyuh @raghuramank100 @jamesr66a @vkuzo

[2022-05-26 18:57] albanD commented on #78375
Do we have ccache statistics printed on these runners to see if there are caching issues?

[2022-05-26 18:58] malfet commented on #78375
Nope, this is what I'm trying to add right now, I suspect that cache is not at all used somehow

[2022-05-26 19:06] #78362 closed

[2022-05-26 19:15] albanD commented on #78375
Or that one of the flag we use is preventing caching for obj-c code.

[2022-05-26 19:25] malfet commented on #78375
This is true, but Obj-C is less than 10% of what we compile, so it does not matter that much

[2022-05-26 19:35] profPlum commented on #77050
@ezyang no

[2022-05-26 19:47] zou3519 commented on #77445
@antoniojkim another question -- would you want this in PT 1.12 (in June), or is it fine if this is in the nightlies until e.g. PT1.13

[2022-05-26 19:49] antoniojkim commented on #77445
My need for it is LTC related which if my understanding is correct isn't going to be stable in 1.12. So, its fine to keep it in nightly until 1.13

[2022-05-26 21:07] Aidyn-A opened #78389 "[primTorch] fmod tests fail on CPU with bfloat16"
The tests `test_python_ref` and `test_python_ref_torch_fallback`  occasionally fail on extreme cases.
`test_ops.py` generated inputs are:
[code]

`torch.fmod` returns:
[code]

while `torch._refs.fmod` returns:
[code]

___
NOTE: This kind of odd behavior happens ~~during the test only~~ for tensors with the bigger size. The following script prints out a correct answer:
[code]
All of them return ` t

[2022-05-26 21:22] garymm opened #78391 "[ONNX] way to write an opset_version-dependent symbolic function for autograd.Function"
`torch.onnx.export` supports autograd.Function defining a static `symbolic` method. However I haven't found a public way for a symbolic method to know what the current value of `opset_version` is, which makes it impossible to write a method that depends on that.

One possibility is to add this to `torch.onnx.SymbolicContext`.

@BowenBao WDYT?

[2022-05-26 21:26] Sergio-P commented on #70344
Same problem here. Any workarounds besides set the workers to 0?

[2022-05-26 21:45] stas00 commented on #76232
You of course want to pass explicit `rtol`, `atol`, so that you know what `close` means and it's better to use `torch.testing.assert_close` as it gives you an indication of the differences, e.g.:

[code]

[code]

I emulated the exactness check with `rtol=0.0, atol=0.0`.

[2022-05-26 21:46] yzhliu opened #93756 "Torchdynamo for Deepspeed and FSDP"

[2022-05-26 22:00] atalman commented on #78375
I extracted all the MacOS jobs we run yesterday here. Last column is the duration in minutes. macos-12 jobs are constantly hitting 2 hrs+ running time

[query-results-complete-duration.csv](https://github.com/pytorch/pytorch/files/8782377/query-results-complete-duration.csv)

[2022-05-26 22:09] rohan-varma commented on #78022
cc @H-Huang who mentioned interest in working on TDD

[2022-05-26 22:15] kit1980 opened #78398 "Should we test Gloo with TLS in CI?"
The only call to test_python_gloo_with_tls() in .jenkins/pytorch/test.sh is with removed some time ago Python 3.6 environment.

Do we want to add the Gloo with TLS test to some other CI config?

cc @seemethere @malfet @pytorch/pytorch-dev-infra @kit1980

[2022-05-26 22:23] osalpekar commented on #78398
cc @pbelevich @mrshenli

[2022-05-26 22:23] #78176 closed

[2022-05-26 22:33] rohan-varma opened #78399 "Improve auto_wrap_policy documentation"
### 📚 The doc issue

A few improvements can be made to the doc of auto_wrap_policy:
- Add expected type of callable
- Clarify what the policy function should return, and how its used (i.e. what's done depends on `recurse` flag).

### Suggest a potential alternative/fix

_No response_

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @rohan-varma @gqchen @aazzolini @osalpekar @jiayisuse

[2022-05-26 22:35] TobiasSchotter commented on #74016
@glenn-jocher I currently get this problem on the visDrone Dataset. Any new on this or any better solutions? I installed a older torch version and that did not help. Not sure what @iyxv meant with the workers parameter.

Error:
[code]

[2022-05-26 23:01] kousu commented on #26340
A sysadmin who *knows* their system has no GPUs can add [this](https://pip.pypa.io/en/stable/topics/configuration/#repeatable-options):

[code]

Then all `sudo pip install`, `pip install --user`, or `pip install` inside of a venv on the system will skip straight to downloading the CPU build.

Then the packager can just write `install_requires = ["torch", ...]` into their `setup.py` and leave adapt

[2022-05-26 23:34] suo commented on #77808
Another example from today on master https://github.com/pytorch/pytorch/runs/6615801243?check_suite_focus=true

[2022-05-26 23:39] JackCaoG commented on #77808
Hmm, I merge the fix https://github.com/pytorch/xla/pull/3605 and pytorch pr https://github.com/pytorch/pytorch/pull/78327 but I see that now it is a different test trigger this failure.

I will do some further clean up

[2022-05-26 23:51] albanD commented on #78375
Yes, but the machines that we run this on are really not powerful. Even a fully cached compilation without MPS takes 20min if I recall correctly from when I was playing with CI to setup the macos-12 runners.

[2022-05-26 23:56] albanD commented on #78343
Hi,

As mentioned above, we require macos 12.3+
There are some functionalities of MPS from that version of macos that we need. So you will need to update your OS to be able to run with the mps backend.

[2022-05-26 23:56] #78343 closed

[2022-05-26 23:58] albanD commented on #78328
Hi,

The coverage tool was very flaky and no one was maintaining the integration on our end. So it was discontinued I'm afraid.

[2022-05-27 01:46] justinchuby commented on #78328
I see. Thanks for the info

[2022-05-27 06:16] #76101 closed

[2022-05-27 06:17] RossStream commented on #76101
No update since Apr 20, so I close the issue.

[2022-05-27 06:24] WHU-gentle commented on #57289
I have solved this problem, using a custom function following `remove_weight_norm ` to remove the weight norm. The following is the code. I am not sure whether it is standard and proper, but it did work.
[code]

[2022-05-27 06:40] GerardWalsh commented on #78343
Resolved - Upgraded OS to 12.4.

[2022-05-27 06:42] ak-7788 opened #78412 "OOM error when converting tensor to numpy array Pytorch"
### 🐛 Describe the bug

I am generating BERT embeddings using GPU and using them to train a catboost model. The embeddings part is running without any issue on GPU. The problem occurs when I try to convert these tensors to numpy , almost all the RAM is consumed (approx 20gb) although the total training data size is only 2GB.

The environment I am running it is:-

Google Kubernetes Engine:- 1.21.11

[2022-05-27 08:30] gglin001 opened #78414 ".lldbinit for lldb debuger"
### 🚀 The feature, motivation and pitch

found `/.gdbinit`, but no `/.lldbinit`, If more lldb feature(like prettyprint for tensor) is supported, the debuging progress would have better experience.

### Alternatives

Nop

### Additional context

Nop

[2022-05-27 08:33] naor2013 opened #78415 "New ONNX Optional support doesn't work in some use cases"
### 🐛 Describe the bug

I'm trying to convert a model in [Fairseq](https://github.com/facebookresearch/fairseq) into ONNX, from TorchScript using jit.script.
The issue is has a lot of uses of None and a lot of `if x is not None:` in it.
Fortunately, lately PyTorch added support for ONNX optionals in #61938 #68793 #73284

I was trying to use PyTorch Nightly to use this feature but I ran into an iss

[2022-05-27 08:53] andrijdavid commented on #78331
I can work on a fix for this issue.

[2022-05-27 09:47] xiurobert commented on #78365
You mean in a `torch.nn.Sequential`?

[2022-05-27 11:15] #78347 closed

[2022-05-27 11:37] andraspatka opened #78420 "Pip install failure (THESE PACKAGES DO NOT MATCH THE HASHES FROM THE REQUIREMENTS FILE.) Hashes different on each install"
### 🐛 Describe the bug

When installing torch (irrelevant which version) in a docker container, installation fails because of hash mismatch:
[code]

The hashes are different on every docker build:

Attempt 1:
[code]

Attempt 2:
[code]

Attempt 3:
[code]

I tried to install version 1.6.0, but this also happens with other versions (I've had the same problem with 1.11.0, 1.12.0)

Dockerfile:

[code]

[2022-05-27 11:59] HaoZeke commented on #70918
@kshitij12345 brought up a concern about the correctness of this behavior in the context of JIT and tracing. Is returning `self` still considered to be the best approach?

[2022-05-27 12:05] YoannPitarch commented on #77961
I am trying to convert the model described [there](https://github.com/pyg-team/pytorch_geometric/blob/master/examples/pointnet2_segmentation.py) to ONNX. This model uses the torch geometric package. I've managed to register some "torch geometric" operators (`fps` and `radius`) but I am now getting an error related to the `isinstance` operator.

[2022-05-27 13:15] ignaciogavier opened #78422 "Permutation of Sparse Tensor"
### 🚀 The feature, motivation and pitch

I'm working with COO sparse tensors and would like to get a permutation of any COO sparse tensor.
In the current version, `torch.permute` throws the following error:
`RuntimeError: sparse tensors do not have strides`
Also, in-place modification of indices is not possible.

### Alternatives

I have considered the following solution (it wouldn't be the same a

[2022-05-27 14:56] svenkreiss commented on #77764
Got a message that `aten::softplus.out` is not supported. I'd need that to update OpenPifPaf.

[2022-05-27 15:39] justinchuby opened #78425 "[CI] Enable LGTM's pull request bot"
### 🚀 The feature, motivation and pitch

LGTM is a Github's code analysis platform that conducts automated security and other code analysis. It has produced good signals on correctness in my experience. Example of its signals can be found at https://lgtm.com/projects/g/pytorch/pytorch. We can enable its PR integration by installing its github app.

Example of a signal

<img width="733" alt="image"

[2022-05-27 16:59] kurtamohler commented on #74016
I will start working on fixing this now

[2022-05-27 18:47] JackCaoG commented on #77808
https://github.com/pytorch/xla/pull/3615 should help a bit more. Let me know if you still see this kind of error in pytorch CI.

[2022-05-27 18:50] albanD commented on #78420
Hi,

I cannot reproduce this locally.
Also, as you can see in the URL in PyPI, the sha for the object that you're getting from there advertised by PyPI does match the one you expect. But the one you end up getting is not the same.
Is the download failing by any chance?
What happens if you remove the sha pin from the requirements file? Does the install work fine?

[2022-05-27 18:55] dfalbel commented on #76010
I was having this same issue and downgrading visual studio solved the problem. I downgraded from `Visual Studio 17 2022` to `Visual Studio 16 2019` and now the CMake cache generator passes.

I now have an error with:

[code]

When compiling a `.cu` file that is used in the project.
I found a thread in the forums that suggests modifying the linking libs: https://discuss.pytorch.org/t/nvcc-fatal-a-s

[2022-05-27 19:07] kulinseth commented on #77764
You can use this as a guide: https://github.com/pytorch/pytorch/wiki/Adding-Op-for-MPS-Backend
Please provide feedback if there is anything missing.

[2022-05-27 20:14] koegl opened #78429 "torch.nn.LayerNorm() does not work in nightly build of Accelerated PyTorch Training on Mac"
### 🐛 Describe the bug

torch.nn.LayerNorm() throws an error when using the GPU

[code]

Error message:
[code]

### Versions

PyTorch version: 1.13.0.dev20220527
Is debug build: False
CUDA used to build PyTorch: None
ROCM used to build PyTorch: N/A

OS: macOS 12.3.1 (arm64)
GCC version: Could not collect
Clang version: 13.1.6 (clang-1316.0.21.2.3)
CMake version: version 3.23.0-rc3
Libc version: N/

[2022-05-27 20:30] SsnL opened #78431 "[typing] distributions.kl_divergence return type is Tensor but not annotated"
### 🐛 Describe the bug

Should add annotation.

### Versions

all versions

cc @fritzo @neerajprad @alicanb @nikitaved

[2022-05-27 20:51] odellus commented on #77052
When can we expect a new release where we can observe this behavior? Are we thinking a v1.11.1 or do we have to wait for v1.12.0? Should I apply a patch from #77279?

@ezyang Thank you for letting me know the story. I'm not using Mac OS, so I'm looking at the scripts in manywheel. Instructions only show building docker, but I'm looking into it.

[2022-05-27 21:33] WeiHao97 opened #78435 "fx.Tracer with param_shapes_constant=True not working for RobertaForMaskedLM"
### 🐛 Describe the bug

param_shapes_constant=True can't bypass issue mentioned by @jamesr66a
https://github.com/pytorch/pytorch/issues/61733

[code]

Error Message:
[code]

### Versions

PyTorch version: 1.10.2
Is debug build: False
CUDA used to build PyTorch: Could not collect
ROCM used to build PyTorch: N/A

OS: Ubuntu 20.04.4 LTS (x86_64)
GCC version: (Ubuntu 9.4.0-1ubuntu1~20.04.1) 9.4.0
Clan

[2022-05-27 22:20] boren-ms commented on #77375
Thanks a lot for the timely support.

[2022-05-27 23:19] justinchuby commented on #78102
Locally running the tests does not reproduce the error, but CI fails. I am still trying to understand why

[code]

[2022-05-28 00:25] mruberry opened #78442 "[ONNX] Floor division in ONNX is inconsistent with eager after #78411"
See https://github.com/pytorch/pytorch/pull/78411, which finishes the deprecation of `floor_divide` performing truncation division.

I think ONNX's lowering for the "floor" rounding mode was incorrect historically, too; it looks like that was also mapped to truncation division, but in PyTorch the "floor" rounding mode to div did correctly perform floor division.

Long-term we probably want to cons

[2022-05-28 00:38] DenisVieriu97 commented on #77764
MPS backend already has support for `aten::_local_scalar_dense` (file https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/mps/operations/Scalar.mm). If you are still seeing the issue, could you please share the example you are trying to run?

[2022-05-28 01:29] upupyy opened #78443 "`index_fill` will trigger INTERNAL ASSERT when float tensor requiring grad + int tensor"
### 🐛 Describe the bug

`index_fill` will trigger INTERNAL ASSERT when float tensor requiring grad + int tensor

[code]

### Versions

pytorch: 1.11.0

[2022-05-28 01:31] upupyy commented on #78332
@soulitzer `index_fill` maybe have a different reason? I think the reason is that `index_fill` tries to write a value requiring grad into a int tensor, but int tensor cannot require grad

[2022-05-28 01:47] upupyy opened #78444 "`layer_norm` triggers INTERNAL ASSERT with input requiring grad + zero-size int tensor"
### 🐛 Describe the bug

`layer_norm` triggers INTERNAL ASSERT with input requiring grad + zero-size int tensor

[code]

`layer_norm` does check the dtype of zero-size tensor, like `input` in this example. If `input` is not zero-size, it will raise an error that `RuntimeError: "LayerNormKernelImpl" not implemented for 'Long'`

### Versions

pytorch: 1.11.0

[2022-05-28 01:58] tanmayb123 opened #78445 "permute returning unexpected results on MPS devices"
### 🐛 Describe the bug

The `permute` function works fine on CPU, but fails (with a warning) on MPS devices (on macOS):

[code]

Output:

[code]

The print of the GPU tensor has garbage zero values, the shape is wrong, and the resulting numpy array has the wrong shape as well.

### Versions

Collecting environment information...
PyTorch version: 1.13.0a0+gitffb3101
Is debug build: False
CUDA used

[2022-05-28 02:09] MathijsNL commented on #63662
@an99990 What lines did you add to make this work?

When I add the **dist.init_process_group** I get a **CUDA out of memory.**  error instantly.

[2022-05-28 03:32] suo opened #78447 "DISABLED test_delayed_reduce_scatter_offload_true_prefetch_pre_none (__main__.TestParityWithDDP)"
Platforms: rocm

This test was disabled because it is failing on master ([recent examples](http://torch-ci.com/failure/test_delayed_reduce_scatter_offload_true_prefetch_pre_none%2C%20TestParityWithDDP)).

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @rohan-varma @gqchen @aazzolini @osalpekar @jiayisuse @SciPioneer @H-Huang @kwen2501

[2022-05-28 04:42] ShawnZhong commented on #78311
For reference, PR #49294 removed type annotations from signatures in HTML docs

[2022-05-28 07:37] hijkzzz commented on #77764
The operator 'aten::_index_put_impl_' is not current implemented for the MPS device. If you want this op to be added in priority during the prototype phase of this feature,

[2022-05-28 08:32] glenn-jocher commented on #74016
@kurtamohler thank you! This has been a real headache for YOLOv5 users the last couple months.

[2022-05-28 09:26] chiragnagpal opened #78450 "Softmax, LogSoftmax are over parameterized"
### 🚀 The feature, motivation and pitch

The current implementation of Softmax and LogSoftmax for a K class output involves an [NxK] input tensor. This is over parameterized and leads to issues of identifiability. It would be worthwhile to include an implementation that only requires an input tensor [NX(K-1)] dimensionality.

### Alternatives

_No response_

### Additional context

_No response_

[2022-05-28 10:11] odellus commented on #77052
I fixed this by manually editing `~/.local/lib/python3.8/site-packages/torch/version.py`
[code]
Now
[code]
prints `1.11.0`, which is what I wanted. Many thanks for all the help. :pray:

[2022-05-28 10:44] vadimkantorov commented on #71404
Another recent work that does reset and retrain last layer to improve robustness: https://twitter.com/polkirichenko/status/1511883670923137026

[2022-05-28 11:29] bastienjalbert commented on #12873
We still need some visibility here. The issue is still there (since 2018) and getting bigger and bigger with Cuda and Pytorch upgrades...

If at least we could compile custom pytorch version without all theses unnecessary kernels

[2022-05-28 11:32] Anm-pinellia commented on #64419
have you fixed up this problem, i met the same problem?

[2022-05-28 11:32] Anm-pinellia commented on #64419
have you fixed up this problem? I met the same problem.

[2022-05-28 13:15] arquolo commented on #64720
Problem is still persist on 1.11 too. And this issue is duplicate for [#38645](https://github.com/pytorch/pytorch/issues/38645).

[2022-05-28 14:32] anirbansaha96 commented on #77764
`'aten::_slow_conv2d_forward'` +1. How can I start contributing to have PyTorch implemented?

[2022-05-28 14:34] anirbansaha96 commented on #77931
@malfet
[code]

[2022-05-28 14:42] #78107 closed

[2022-05-28 15:33] #77885 closed

[2022-05-28 15:37] vors opened #78453 "[bazel] "Deleting stale sandbox base" on any code modification"
### 🐛 Describe the bug

When I build with bazel the `:all` target and then trying to modify the build, i.e. add a repository to WORKSPACE, bazel deletes the sandbox and I'm rebuilding from scratch.

[code]

### Versions

master 93a969221d06152746af29fc580701d5b50790b3

[2022-05-28 16:41] albanD commented on #77750
Fixed in master now.

[2022-05-28 16:41] #77750 closed

[2022-05-28 17:02] dave-epstein commented on #74437
Thanks to both - this thread has been very helpful. However when I train a model with the path length penalty, I get this error: `RuntimeError: function Conv2dGradWeightBackward returned an incorrect number of gradients (expected 3, got 2)`

I'm trying to poke around and see if I can find a fix but would appreciate if @sklin93 or someone else had any ideas too.

Thanks!

[2022-05-28 17:19] suo opened #78457 "DISABLED test_mem_leak (__main__.TestProfilerCUDA)"
This test was disabled because it is failing on master ([recent examples](http://torch-ci.com/failure/test_mem_leak%2C%20TestProfilerCUDA)).

cc @robieta can you take a look? Based on the link above seems like this failure started relatively recently.

[2022-05-28 17:45] sklin93 commented on #74437
I don't have this problem when training with the pl_penalty. And since the backward function of Conv2dGradWeight isn't changed, I think it shouldn't affect the training part?

Did you change other parts of conv2d_gradfix.py accordingly (adding the bias)?

[2022-05-28 18:00] dave-epstein commented on #74437
@sklin93  - yes, I did, and I think that's the issue. I modified `return grad2_grad_output, grad2_input` to `return grad2_grad_output, grad2_input, None` and it works now without erroring. Just not sure if returning `None` is fine here.

Maybe the difference in behavior is due to PyTorch version differences or something -- I'm on the latest.

[2022-05-28 19:49] seemethere commented on #77052
Re-opening this since the original PR got reverted

[2022-05-28 20:09] ducdauge commented on #41069
@cddavis93 I replicated @IvanYashchuk's result with [torch-1.11.0+cu113](https://download.pytorch.org/whl/cu113/torch_stable.html)

[2022-05-28 21:15] NeonBohdan commented on #47217
The same. Update to pytorch nightly(1.13.dev) changed the behaviour, so it looks like it may help

[2022-05-28 21:43] jburroni commented on #66033
I just saw the same crash on my computer.

I was able to reproduce it inside lldb (and created a core dump, for future references)
This is the stack trace
[code]
    I'm using Python 3.9.7 with PyTorch 1.11.0 Running on macOS 12.4
    I don't think this issue should be closed.

[2022-05-29 03:17] JiaxinLi-lipluszn commented on #77764
One vote for `aten::_slow_conv2d_forward` since mmdet's ssd implementation relies on it.

[2022-05-29 03:17] suo commented on #78242
This was confusing as well: reverting via phab breaks because the revert reason (which I don't know how to change)
does not pass validation. https://github.com/pytorch/pytorch/pull/77941#issuecomment-1140364449

[2022-05-29 04:10] amirveyseh commented on #72253
Any update on this issue?

How can we do the manual initialization for `TransformerEncoder `?

[2022-05-29 04:21] sachin-kanchan opened #78470 "lt is likely that your environment is messed up. As you can see from the traceback, there are two python environments involved here:"
lt is likely that your environment is messed up. As you can see from the traceback, there are two python environments involved here:
1. C:\Users\nouma\AppData\Roaming\Python\Python37
2. C:\Users\nouma\Anaconda3

Please make sure your `PATH` is clean and you can actually remove one of them first.

_Originally posted by @peterjc123 in https://github.com/pytorch/pytorch/issues/27693#issuecomment-5405

[2022-05-29 04:49] jhillhouse92 commented on #42018
This fixed it for me. I had to update my cgo to below adding the `-Wl,--no-as-needed` at the beginning (note: the letter after W is a lowercase L not an uppercase i).

[code]

[2022-05-29 05:40] datumbox commented on #71404
@jbschlosser I recently stumbled upon a technique that uses meta-classes to solve the inheritance problem you described. See [here](https://stackoverflow.com/a/68939584).

[2022-05-29 06:18] nishantb21 commented on #77897
Hi. I did some research about this issue and it appears to be fixed in this PR [#75270 ](https://github.com/pytorch/pytorch/pull/75270/). PR [#73577](https://github.com/pytorch/pytorch/pull/73577) wasn't accepted because of missing test cases although the accepted PR also didn't have test cases. So now executing the above portion of code gives the following error instead of the initial floating po

[2022-05-29 07:31] danieldk opened #78472 "13% performance regression in MPS since d63db5234"
### 🐛 Describe the bug

I have been testing PyTorch MPS support in spaCy over the last week or so. Performance has been great, though I have noted a somewhat large performance regression since yesterday. With bisecting I found that it occured in d63db52349ae3cffd6f762c9027e7363a6271d27. It's kind of hard to provide a minimal reproducer, but we are basically using the BERT model from Huggingface tr

[2022-05-29 09:28] mszhanyi commented on #76010
@dfalbel
could you use randtemp.exe as the snippet
https://github.com/pytorch/builder/blob/d0bc74cc363a9da5a8b6a40e883d40d25d050036/windows/build_pytorch.bat#L98-L114

[2022-05-29 12:16] legendary6 opened #78474 "Exception when loading images to 'mps' devices"
### 🐛 Describe the bug

### When I just load the first image to 'mps' device and detach it, it becomes the result of the second image. I would be very grateful if you could tell me why.

<img width="470" alt="1" src="https://user-images.githubusercontent.com/44915642/170867038-5723eeab-f7bc-4133-863b-2162ddb6415b.png" >
<img width="450" alt="1" src="https://user-images.githubusercontent.com/449156

[2022-05-29 14:23] grazder opened #78475 "`with torch.backends.cudnn.flags(deterministic=True)` doesn't give an exception for ctc_loss backward on CUDA"
### 🐛 Describe the bug

Hi! I noticed some strange behavior of `with torch.backends.cudnn.flags(deterministic=True)` for ctc loss backward on CUDA.

Main problem is that `with torch.backends.cudnn.flags(deterministic=True)` doesn't give an exception while `torch.use_deterministic_algorithms(True)` do it.

## Reproduction

I maid two scripts to reproduce bug .

### torch.use_deterministic_algorithm

[2022-05-29 14:58] iamhardikat11 commented on #73188
Is this Issue still open?

[2022-05-29 18:22] andraspatka commented on #78420
Hi, thanks for looking at this issue!
It seems to be that the problem was on my end. I have ran the docker build in a Github action and there it compiled without a problem.
My internet connection is kind of unstable and when downloading large files, the download might fail. I suspect, that this is what was causing the issue (torch is kinda big, about 700 MBs).

I will close the issue as this is no

[2022-05-29 18:22] #78420 closed

[2022-05-29 18:58] ngimel commented on #77897
Yes, it definitely warrants a test case (cc @bdhirsh, we shouldn't accept PRs without test cases except when tests are unreasonably hard), best way to add tests like this is to add error_inputs to OpInfo entry for corresponding op in common_methods_invocations.py. Also, feel free to change error type to ValueError. Thanks in advance for you help!

[2022-05-29 19:33] VasenkovArtem commented on #68987
hi
i don't know if this issue is still actual for you but it can be helpful for others who has the same problem
i got this message
`Traceback (most recent call last):
  File "C:/Users/Артём/Downloads/image_captioning_translate/checking_new.py", line 67, in <module>
    optimized_scripted_module_full._save_for_lite_interpreter("full_model_29-05.ptl")
  File "C:\Program Files\Python39\lib\site-packa

[2022-05-29 19:43] carankt commented on #7038
I was facing a similar issue but I realized the librosa gives a complex dtype whereas the torch.stft gives two matrices of float32. If you modify the paratmer `return_complex = True` in the torch.stft you will get the same results almost with some precision error that should be negligible.

[2022-05-29 20:01] tanmoyio commented on #78475
@grazder `torch.backends.cudnn.flags(deterministic=True)` is related to cuDNN convolution operation determinism, so it will not be effective in this case as you are not using conv. [Code snippet 2]

On the other hand [Code snippet 1] `torch.use_deterministic_algorithms(True)` will make every thing deterministic including the conv operations. [Here](https://pytorch.org/docs/stable/generated/torch.u

[2022-05-29 20:04] vadimkantorov commented on #78475
@tanmoyio Isn't cudnn's impl of ctc the one being used? Then `torch.backends.cudnn.flags(deterministic=True)` should affect it too? Or is it affecting only convs by (unclear?) design?

[2022-05-29 20:08] grazder commented on #78475
Also I see a problem in the script `collect_env` that I get `cuDNN version: Could not collect` with it, but `torch.backends.cudnn.version()` works fine.

[2022-05-29 20:09] tanmoyio commented on #78475
@vadimkantorov good point
[code]

[2022-05-29 20:34] tanmoyio commented on #78475
This is what I have found in `test/test_torch.py`
[code]
based on this I am assuming that the runtime error is the expected behaviour, although I need to check if its using the cudnn `ctc_loss` or not

[2022-05-29 21:28] #43874 closed

[2022-05-29 22:07] Magnusgaertner commented on #35294
Hi, i have difficulties understanding what this issue is about -

I created a minimal example of torch.onnx.export that tries to export a Module which uses torch.sparse (the content does not make much sense):

[code]
which fails as follows:

<details>
  <summary>Traceback (click to expand): </summary>

[code]
</details>

Is this the right issue-thread for this minimal, failing example?
Is there an

[2022-05-29 23:08] sergiossm commented on #77733
Hi @AnkitMyelin, I'm facing the same issue. I also tried building PyTorch without `USE_VULKAN_SHADERC_RUNTIME=1` and `USE_VULKAN_WRAPPER=0` options but it also fails. Did you find any workaround?

[2022-05-30 01:08] Lyken17 commented on #77764
`aten::_slow_conv2d_forward` is not supported.

I am curious how the official benchmark on resnet-50 / vgg is measured? Any scripts or references?

![Uploading image.png…]()

[2022-05-30 01:09] Lyken17 commented on #77931
Same issue here. Here is my environements

[code]

[2022-05-30 02:24] peterjc123 commented on #78470
When you encounter the error `OSError: [WinError 193] %1 is not a valid Win32 application`, it means a conflicting DLL is trying to be loaded. You can use [Debugging Tools for Windows (WinDBG)](https://docs.microsoft.com/en-us/windows-hardware/drivers/debugger/debugger-download-tools) to find it out. You need to install it and perform the following step in an admin shell (by pressing Win+X and the

[2022-05-30 02:36] tongchangD commented on #78233
here
[link](https://pan.baidu.com/s/1nFtfodKFffzdFCNdCUy1xQ)
Extract the code is **puzp**

[2022-05-30 02:47] rashikshrestha commented on #75336
This worked for me too. Thanks! :)

[2022-05-30 03:09] mstar1992 opened #78481 "[onnx] RuntimeError: Attribute 'axes' is expected to have field 'ints'"
### 🐛 Describe the bug

RuntimeError: Attribute 'axes' is expected to have field 'ints'

When I want to export the transformer model containing the proj_adaptive_softmax layer to the onnx format, I get an error: RuntimeError: Attribute 'axes' is expected to have field 'ints', ==> Context: Bad node spec: input: "567" output: " 584" name: "Unsqueeze_445" op_type: "Unsqueeze" attribute { name: "axes"

[2022-05-30 03:10] tongchangD commented on #78233
I changed the model and the code [address](I changed the model and the code address)

[2022-05-30 03:11] tongchangD commented on #78233
I changed the model and the code [address](https://drive.google.com/file/d/1xhnd4QKKc5oDujyxxGOPXaDyQiMy9hc_/view?usp=sharing)

[2022-05-30 03:11] tongchangD commented on #78233
I changed the model and the code [address](https://drive.google.com/file/d/1xhnd4QKKc5oDujyxxGOPXaDyQiMy9hc_/view?usp=sharing)

[2022-05-30 03:16] 2050airobert commented on #34743
hi，
Do we need retraining the model like litehrnet etc after changing the code as what you did？
I have changed the code of litehrnet.py ，yet still the same error？ what was wrong ？

BR

[2022-05-30 03:17] 2050airobert commented on #42653
hi，
Do we need retraining the model like litehrnet etc after changing the code as what you did？
I have changed the code of litehrnet.py ，yet still the same error？ what was wrong ？

BR

[2022-05-30 04:56] 2050airobert commented on #42653
hi，
Do we need retraining the model like litehrnet etc after changing the code as what you did？
I have changed the code of litehrnet.py ，yet still the same error？ what was wrong ？

BR

[2022-05-30 05:22] pan24n opened #78482 "RuntimeError: Event device type CUDA does not match blocking stream’s device type CPU"
### 🐛 Describe the bug

when I do the unittest of test_autograd.py on pytorch1.11.0, it throw an RuntimeError: Event device type CUDA does not match blocking stream’s device type CPU. I want to know what causes this error.

Traceback (most recent call last):
  File "/root/.local/lib/python3.7/site-packages/torch/testing/_internal/common_utils.py", line 1754, in wrapper
    method(*args, **kwargs)

[2022-05-30 05:48] moowcharnfu opened #78483 "is the issue resolved? windows not pytorch_jni in path"
### 🐛 Describe the bug

same question in https://github.com/pytorch/pytorch/issues/44363

is it resolved? how can i download the new version code or Pom.xml by java code style
i have a idea :
    1.like djl ，it automatically download when the service start;
    or 2. give the full relation packages i download it by myself

### Versions

just a error, ignore

[2022-05-30 07:10] nh9k commented on #71263
Is this problem solved?

[2022-05-30 07:23] doem97 commented on #31460
Thanks, this worked for me.

[2022-05-30 08:26] GGGGGGXY commented on #15808
same issue here
randomly hanging during the epoch
<img width="1288" alt="image" src="https://user-images.githubusercontent.com/15215819/170950606-0d47f3c5-412f-412a-8944-36c8f74c17a2.png">

[2022-05-30 09:07] ysiraichi commented on #78290
I will take care of it.

[2022-05-30 09:36] fatfishZhao commented on #42111
Hi, I'm facing the similar memory leaking problem when using multithread inference. Did you solved this problem?

[2022-05-30 09:48] realsarm commented on #50095
I still face this when using https://github.com/jettify/pytorch-optimizer#shampoo which uses `torch.svd` @Lezcano

RuntimeError: svd_cpu: the updating process of SBDSDC did not converge (error: 1)

[2022-05-30 10:59] BrettRyland opened #78486 "Exception in torch.jit.script doesn't indicate where in the code the problem lies."
### 🐛 Describe the bug

In the following exception caused by
[code]
there's no indication of where in the model/code the problem lies, only that there's a Dict without contained types *somewhere*:
[code]
It would be really helpful if the exception could indicate the location of the problematic dictionary.

### Versions

[code]

[2022-05-30 12:13] BrettRyland commented on #78486
Note: I eventually found the `Dict`, but wasted half a day in doing so.

[2022-05-30 12:16] peterbell10 commented on #77890
`_fft_c2r` and `_fft_c2c` are private operators that are only ever called with a valid `dim` array, so it would be redundant to add internal validation and I propose we close this and #77891.

[2022-05-30 12:33] hasansalimkanmaz commented on #43546
Same problem :(

[2022-05-30 12:37] ldorigo commented on #76652
Did you set pylance mode to strict? "Throws an error" was perhaps a bit hyperbolic - I just meant the typechecker complained. Will see if it's still doing it later today.

[2022-05-30 12:38] peterbell10 commented on #77048
Unfortunately I don't have a V100 to test on, but I can't see any reason why our kernels would change depending on the device used. So it does seem likely to be a cuFFT bug.

[2022-05-30 12:59] silvasean opened #78487 "torch.fx: symbolic_trace: ones() received an invalid combination of arguments"
### 🐛 Describe the bug

Run the following standalone python file.

[code]

I get the error:
[code]
Full error log: https://gist.github.com/silvasean/a11f5219e8d931014ae4046a1fafcef7

### Versions

PyTorch version: 1.13.0.dev20220530+cpu
Is debug build: False
CUDA used to build PyTorch: None
ROCM used to build PyTorch: N/A

OS: Debian GNU/Linux rodete (x86_64)
GCC version: (Debian 11.2.0-19) 11.2.0

[2022-05-30 13:00] long2ice commented on #70036
@sunghwan-choi, same here, did you resolve that?

[2022-05-30 13:02] long2ice commented on #70036
It's OK if I use docker image

[2022-05-30 13:44] long2ice commented on #70036
update: add my user to video and render group resolved, hope help someone

[2022-05-30 13:53] Lezcano commented on #50095
`torch.svd` is in the process of being deprecated. I suggest you submit an issue / PR to that repo updating the use of `torch.svd` by `linalg.svd`.

[2022-05-30 14:34] tillahoffmann commented on #19143
Having access to the memoryview interface would also be useful for quickly populating tensors in cython. E.g., consider the following, where `some_complex_iterator` is a placeholder for whatever iteration one might want to do (such as nested loops or conversion from another data structure).

[code]

Converting the above to cython would allow for quick iteration.

[code]

[2022-05-30 14:40] yjcaimeow commented on #68735
save model for all local rank

[2022-05-30 15:05] rsanchezgarc opened #99719 "New feature requested: vmap for torch.histc"

[2022-05-30 15:21] vadimkantorov opened #78489 "[1.9.1] [collect_env] collect_env does not collect correctly cudnn version"
### 🐛 Describe the bug

In opposite, `torch.backends.cudnn.version()` does collect it correctly.
Originally reported by @grazder in a comment: https://github.com/pytorch/pytorch/issues/78475#issuecomment-1140516737

This occurred on old-ish version of 1.9.1, not sure if it still happens on 1.11.0

### Versions

1.9.1

[2022-05-30 15:34] malfet commented on #68642
@charlielito can you please share a patch that you've applied and exact failure you are seeing.

[2022-05-30 15:46] dbl001 opened #78492 "MPSNDArray.mm:782: failed assertion `[MPSNDArray, initWithBuffer:descriptor:] Error: buffer is not large enough. Must be 20480 bytes '"
### 🐛 Describe the bug

I modified the Winogrande project to utilize the 'mps' backend.

https://github.com/allenai/winogrande

I edited the file ./scripts/run_experiment on line(s) 490:
E.g.
[code]
Ran the training script:
[code]

### Versions

'''
 % python collect_env.py
Collecting environment information...
PyTorch version: 1.13.0a0+gitcbdb694
Is debug build: False
CUDA used to build PyTorch:

[2022-05-30 17:29] pearu commented on #78264
Fixed in #78359

[2022-05-30 17:29] #78264 closed

[2022-05-30 18:03] malfet commented on #78242
@bigfootjon do you know where this comment is generated? Also, why revert were not propagated to fbsync?

[2022-05-30 19:14] Cory-M opened #78497 "torch.embedding raise "CUDA error: invalid device function" when running scripted"
### 🐛 Describe the bug

when scripting a torch model with nn.Embedding layers, the scripted model will raise `CUDA error: invalid device function` at `torch.embedding(weight, input, tensor_padding_idx, sclae_grad_by_freq, sparse)` if running on GPU in Java. the scripted model can run without issue with CPU/GPU in Python, and CPU in Java.

[code]

error message i got (running with GPU in Java):
[co

[2022-05-30 19:23] malfet commented on #78489
`collect_env` collects version of cudnn installed on the system, rather than the one PyTorch were compiled against (similarly  to `CUDA used to build PyTorch:` vs `CUDA runtime version:`)

[2022-05-30 19:24] ptrblck commented on #78489
Just wanted to post the same :P
Reference can be seen [here](https://github.com/pytorch/pytorch/blob/11b9a81e02551261a172e674e873de89a62610ef/torch/utils/collect_env.py#L152-L186).

[2022-05-30 19:25] Cory-M commented on #78497
### Debug attempt
I'm suspecting the issue comes from the `padding_idx` parameter of torch.embedding. it is a scalar and in this example case it equals to -1. i tried to change L2044 in _torch/nn/functional.py_
[code]
to
[code]
when excuting `script_model.cpu()(sample_input.cpu())` the printing output is
[code]
and when excuting `script_model.cuda()(sample_input.cuda())` the printint output is
[co

[2022-05-30 19:26] vadimkantorov commented on #78489
I guess it is what's happening. But for debugging it makes sense to also report the version linked in / discovered by PyTorch

[2022-05-30 19:28] #78290 closed

[2022-05-30 19:30] malfet opened #78499 "Latest nightly can not be imported using Python-3.7.0"
### 🐛 Describe the bug

Regression introduced by https://github.com/pytorch/pytorch/commit/7ea5fa3dd4c544f2508c5697f103d4ef8f183ed8
[code]

### Versions

Nightly

cc @ezyang @gchanan @zou3519

[2022-05-30 19:31] malfet commented on #78499
Can be easily fixed by stringifying the type, but I wonder if we should just up minversion to 3.7.2?

[2022-05-30 20:10] davidchencsl commented on #76652
No, I didn't. After turning that on I can see it now. Will be working on fixing that tomorrow.

[2022-05-30 20:40] malfet commented on #78044
Changed the title, as it MPS does not support any FFT ops at the moment

[2022-05-30 20:42] malfet commented on #78044
Though following indeed crashes:
[code]

[2022-05-30 20:42] atalman commented on #78005
Link to landed master PR (if applicable):
* https://github.com/pytorch/builder/pull/1040

Link to release branch PR:
*

Criteria Category:
* Critical CI fix

[2022-05-30 20:54] malfet opened #78503 "MPS dispatch blocks often fail to propagate C++ exceptions back to the caller"
### 🐛 Describe the bug

MPS backend relies on dispatch queues to synchronize code across multiple threads , which fail to propagate C++ exceptions correctly back to the callee, which often results on program termination with unhandled exception, rather than graceful error returned back to the user.
For example, compare(proper exception propagation):
[code]
with:
[code]
as `mpsGraphRankedPlaceHolde

[2022-05-30 21:06] LinjianMa commented on #78045
I can think of three different ways to implement this function, below are my thoughts:

1. Similar to #74333, when the state is `SUMMON_FULL_PARAMS`, remove the FSDP wraps in the module, and then return an iterator containing all modules in the unwrapped module. However, the step to remove FSDP wraps is an in-place update, so the module will not have FSDP wraps for all later calculations, which is

[2022-05-30 21:22] kit1980 commented on #78453
cc @dagitses

[2022-05-30 21:28] Cory-M commented on #78497
turns out to be irrelavant with torch or torchscript. closing this issue.

[2022-05-30 21:28] #78497 closed

[2022-05-30 22:13] edwardjhu commented on #74143
@cbalioglu deferred_init works like a charm for the most part! Though we just encountered an issue with a model that has an unsqueeze call in its forward pass.
`*** NotImplementedError: `aten::unsqueeze` cannot be run with fake tensor(s) because the meta backend has no kernel for it. Please file an issue if you want it to be supported.`
I assume this is expected since the kernel isn't implemented.

[2022-05-30 22:54] sreddy-es opened #78505 "ONNX operator parameters being set as input nodes"
If you are submitting a bug report, please fill in the following details.

## Issue description
As the title states. [Onnx file](https://drive.google.com/file/d/1k2-KCTFTUsAbC28oF02NRy9IQcm6kjuR/view?usp=sharing) for reference. The second resize layer has its scale parameter set as a separate input node which ends up causing problems with tensorRT conversion. The onnx inference runs correctly thou

[2022-05-30 23:14] kulinseth commented on #78048
This is fixed on `master`. Can you please check with the next nightly.

[2022-05-30 23:14] #78048 closed

[2022-05-30 23:20] kulinseth commented on #78001
This is working fine on the `master`, please check with next nightly.

[2022-05-30 23:41] pruthvistony commented on #70036
Please check the below link for critical system configuration on host
https://rocmdocs.amd.com/en/latest/Installation_Guide/Installation-Guide.html#setting-permissions-for-groups

[2022-05-30 23:45] VitalyFedyunin opened #78506 "[TorchData] Add missing `raise` keyword"
Should this exception be raised?

_Originally posted by @justinchuby in https://github.com/pytorch/pytorch/pull/77288#discussion_r883732928_

[2022-05-30 23:54] VitalyFedyunin commented on #77050
There is no `torch` usage in the code. Can you please try exactly the same code, but with `import multiprocessing as mp` instead (keep `mp = mp.get_context('spawn')`).

[2022-05-31 00:13] byronyi commented on #78472
Inserting calls to `contiguous()` around transpose/view is known to have lower performance.

I guess it would be better to highlight wrong accuracy in your issue description; now it seems like a performance problem at the first glance, which it is not IMHO.

[2022-05-31 00:14] Junqi98 commented on #69425
Same problem. And this error sometimes occurs and sometimes not.

[2022-05-31 01:07] jumxglhf commented on #43259
This is a life savor! Though overhead is introduced, at least things run now under DDP. Thanks for the suggestion.

[2022-05-31 01:20] justinchuby commented on #78506
I came across it via https://lgtm.com/projects/g/pytorch/pytorch/snapshot/c1141b7f6c7ca291e8b46ebb9cb2e47eb381bef6/files/torch/utils/data/communication/eventloop.py?sort=name&dir=ASC&mode=heatmap. It found the tool pretty helpful

[2022-05-31 02:09] #78247 closed

[2022-05-31 03:12] sundy321 commented on #76024
Are your problem fixed ? I have a same problem...

[2022-05-31 03:24] scalastic commented on #78492
I am reassured :) I got the same error on an Apple M1:

`
/AppleInternal/Library/BuildRoots/b6051351-c030-11ec-96e9-3e7866fcf3a1/Library/Caches/com.apple.xbs/Sources/MetalPerformanceShaders/MPSCore/Types/MPSNDArray.mm:782: failed assertion [MPSNDArray, initWithBuffer:descriptor:] Error: buffer is not large enough. Must be 5120 bytes
`

[2022-05-31 03:27] profPlum commented on #77050
@VitalyFedyunin Hi, I already did that. If you reread my original post I said "OR if you use the builtin python module" (i.e. or use builtin `import multiprocessing as mp`). And it indeed incurred no overhead.
This is a problem with PyTorch's wrapper.

[2022-05-31 04:00] shuokay commented on #58779
Pass `-fdiagnostics-color=always` to extension's(for example: ` torch.utils.cpp_extension.CppExtension`) `extra_compile_args` argument can solve this problem.

[2022-05-31 04:55] danieldk commented on #78472
I don’t agree. Even though that is an issue that should be addressed, it is still a performance regression. Doing a set of operations is slower than before.

[2022-05-31 05:25] linminhtoo commented on #1137
have you tried returning None from the `collate_fn` ? then, in your training loop, you can check `if batch is None`, and don't do any forward pass, for example
'''
if batch is None:
    continue
else:
    preds = model(batch)
'''

[2022-05-31 05:28] Susmit-A opened #78507 "Parallel execution of multiple unrelated statements written sequentially"
### 🚀 The feature, motivation and pitch

Often, I write statements in a sequential manner that do not relate to each other - the order of their execution does not matter. Such statements can be parallelized to achieve better performance. One example: resize three different images using nearest, bilinear, and bicubic:

Old method:

[code]

New method:

[code]

Of course, the implementation mentione

[2022-05-31 06:05] cchheennhhaaoo commented on #68876
@malfet @ejguan Could someone help with it?

[2022-05-31 06:28] linminhtoo commented on #57429
could you elaborate what you mean by `filtering in my Dataset` ?

[2022-05-31 07:16] EmreOzkose commented on #68735
It is very strange, but I set rank of second server as 0 and rank of first server as 1. After that, freezing stage is changed.

[2022-05-31 08:01] xiurobert opened #78510 "[TorchData] Allow random_split to use percentages when applied to map-style datasets"
### 🚀 The feature, motivation and pitch

This allows for the automatic splitting of datasets easily, since splitting a dataset by percentages is quite a common task.
This feature should work on map-style datasets well as they implement `__len__`.

### Alternatives

Current solutions:
[code]

### Additional context

A small QOL change

cc @VitalyFedyunin @ejguan @NivekT

[2022-05-31 08:05] danieldk opened #78511 "MPS matrix multiplication fails on a permuted tensor without `contiguous`"
### 🐛 Describe the bug

Matrix multiplication does not return correct results with a permuted tensor with the MPS backend. Reproducer:

[code]

Output:

[code]

Expected output:

[code]

### Versions

Collecting environment information...
PyTorch version: 1.13.0a0+git9dc6d42
Is debug build: False
CUDA used to build PyTorch: None
ROCM used to build PyTorch: N/A

OS: macOS 12.4 (arm64)
GCC version:

[2022-05-31 08:56] dinhanhx opened #78512 "torch.nn.Sequential can use `+` (add operator) to concatenate"
### 🚀 The feature, motivation and pitch

## The feature
Like Python List's add operator, `+` can be used to:
- concatenate two torch.nn.Sequential into 1

The following Python code illustrating the idea, and possibly the implementation
[code]
## The benefit(s)

- Improve readability
- Less code, more productive

### Alternatives

_No response_

### Additional context

_No response_

cc @albanD @mr

[2022-05-31 10:11] JohnHerry opened #78513 "clear input shape declaration on pytorch model inputs and outputs"
### 🚀 The feature, motivation and pitch

It is hard to read a new pytorch project, compared to keras like projects.  each DL models can be seen as implementation of certain function, with scheduled inputs and outputs. But there is no clear information about shape, dtype for inputs and outputs in pytorch projects.

### Alternatives

or, to provide some convenient tools to test input and output shap

[2022-05-31 10:54] devjta commented on #78261
Just a little help for people who have the same problem, I found a workaround for that issue.

Basically download the pytorch version you want to use and extract the .so files from the jni folder and put them in your app/src/main/jniLibs folder.
So extract these folders: arm64-v8a, armeabi-v7a, x86 and x86_64 into app/src/main/jniLibs and then delete all other libs (.so), besides libfbjni.so, beca

[2022-05-31 10:57] timmywanttolearn opened #78514 "`dist.isend` cause connection closed in `gloo` backend"
### 🐛 Describe the bug

I am using gloo backend to initialize the `pytorch.distributed`. And I am trying to use `dist.isend` to send `pytorch.tensor`. But this cause connection closed.
[code]
result
[code]

### Versions

pytorch --version 1.11.0
cuda --verison 10.2

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @rohan-varma @gqchen @aazzolini @osalpekar @jiayisuse @SciPioneer @H-Hua

[2022-05-31 12:52] grafaelw commented on #77764
'aten::softplus.out' is not supported. I was training a model with gpytorch and it showed up

[2022-05-31 12:55] atalman commented on #74120
@malfet Yes this is present in the 1.12 rc as well
(base) atalman-mbp:libtorch atalman$ otool -L lib/libiomp5.dylib
lib/libiomp5.dylib:
	/DLC/torch/.dylibs/libiomp5.dylib (compatibility version 5.0.0, current version 5.0.0)
	/usr/lib/libSystem.B.dylib (compatibility version 1.0.0, current version 1225.1.1)

We should definitely fix this asap.

[2022-05-31 13:11] albanD commented on #78499
According to https://github.com/pytorch/pytorch/blob/master/RELEASE.md#python we can drop 3.7 altogether.
But colab is still on 3.7 (though they use the latest patch version, 3.7.13 as of writing).
I think that `3.7.8` is a good choice in the middle as it is the last bugfix release for 3.7 (https://peps.python.org/pep-0537/).

[2022-05-31 14:22] dbl001 commented on #78492
I did a ‘git pull’, rebuilt PyTorch from source and now it’s running.

[2022-05-31 14:26] janeyx99 commented on #78425
The signals LGTM provides look like lint signals. Is there a way to integrate this tool into our existing lintrunner for CI or to figure out the linters it's using under the hood? Otherwise adding another comment onto every PR (in addition to the Dr. CI comment) is not ideal especially if there's no way to enforce that these things will be fixed before landing.

[2022-05-31 14:26] charlielito commented on #68642
False alarm, I was copying the 2 modified files in that PR into the v1.8.0 which was incompatible. What did work was just changing the modified lines of that PR of the v1.8.0 files and it did the trick! Thanks!

[2022-05-31 14:40] sheetalgiri commented on #74139
using nightly solved the issue for me, I also noticed that the crash only happened when the paramater _with_stack_ was enabled

[2022-05-31 14:46] dagitses commented on #78365
Hi, We use github issues only for bug reports or feature requests. Please use the forum to ask questions: https://discuss.pytorch.org/

[2022-05-31 14:46] #78365 closed

[2022-05-31 15:10] dagitses commented on #78453
Hey Sergei, I'm not able to reproduce this at all. Can you give me an example of a WORKSPACE change?

[2022-05-31 15:15] #78399 closed

[2022-05-31 15:15] timmywanttolearn opened #78531 "Connection closed by peer when using `distributed` on different machine"
### 🐛 Describe the bug

Hi, I am using `nccl` backend `dist.send` and `dist.recv` to perform multi node training on seperate machines. But I got system call failed during the process.
Here is the minimal reproduce code
Client
[code]
And here is the server
[code]
They could initialize but can not send and recv
The result(error) is
Client
[code]
Server
[code]
It seems that something was wrong with c

[2022-05-31 15:16] atalman commented on #78490
After doing some more research I found out that this error is resolved by

[code]

 however we can reintroduce this issue by installing

[code]
which installs following packages:

[code]

[2022-05-31 15:22] ejguan commented on #78474
Could you please provide a self-contained script which we could use to reproduce the problem?

[2022-05-31 15:30] pasinit commented on #46821
but doesn't this go against the "good habits" shown here https://pytorch-lightning.readthedocs.io/en/1.4.0/advanced/multi_gpu.html where it says to remove every `.cuda()` or `.to(device)` instruction?

[2022-05-31 15:32] pasinit commented on #46821
Also, if I am training on multiple GPUs, which device should I put the model on?

[2022-05-31 15:36] cbalioglu commented on #74143
Hey @edwardjhu, great! Happy to hear that it "almost" worked. Yes, unfortunately `unsqueeze` does not support the meta backend yet. I have also came across it in a few HG models. The good news though is that it should be fairly straightforward to add meta support for it. Please create a separate issue and cc me as well.

[2022-05-31 16:00] ejguan commented on #78510
There is a similar request https://github.com/pytorch/pytorch/issues/11980

Based on the previous discussion, it seems not too much burden for users to run `random_split(ds, [int(p * len(ds)) for p in percentages])`. Percentage has a problem is rounding as the splits would only accepts integer size.

I personally don't have objection on this feature. But, we need to ensure the backward compatibili

[2022-05-31 16:10] edwardjhu opened #78534 "Adding support for unsqueeze to fake tensors"
### 🚀 The feature, motivation and pitch

We are using `torchdistx.deferred_init` to infer shapes of model parameters without instantiating the (potentially large) model. The shapes are used to determine an optimal scaling that transfers training hyperparameters. (See https://github.com/microsoft/mup for details.)
However, the `unsqueeze` operation, which is common in many models, isn't supported y

[2022-05-31 16:12] #41306 closed

[2022-05-31 16:15] kurtamohler commented on #78249
We don't have `max_unpool2d` on the list of nondeterministic operations. Looks like it is only nondeterministic on CPU, not CUDA, and if there are more than 2 threads, not if `torch.set_num_threads(1)` or `torch.set_num_threads(2)` is set (at least on my machine).

I can add a nondeterministic error to it

[2022-05-31 16:22] mruberry commented on #78355
@soulitzer @albanD should this be high priority? Seems like some of the gradgrad formulas or tests may be incorrect?

[2022-05-31 16:36] kurtamohler commented on #78475
`with torch.backends.cudnn.flags(deterministic=True)` only affects CuDNN conv, as the documentation says (https://pytorch.org/docs/stable/backends.html?highlight=deterministic#torch.backends.cudnn.deterministic), so this is the expected behavior.

No, there is not a context manager for `use_deterministic_algorithms`

[2022-05-31 16:42] suo opened #78539 "Rebasing with bot doesn't work with ghstack"
Looks like we are not configuring ghstack correctly?

https://github.com/pytorch/pytorch/pull/78287#issuecomment-1142371158

[2022-05-31 16:47] ejguan commented on #78236
It seems a reasonable request. Feel free to open a PR to add an assertion.

[2022-05-31 16:48] jbschlosser commented on #71404
@datumbox Interesting! Looks like that might work for the cases in torch.nn. It'd be the responsibility of the user to do that for any custom modules that use inheritance.

[2022-05-31 16:54] grazder commented on #78475
@kurtamohler Did I understand correctly that two exceptions are expected here? Or only one exception?

[2022-05-31 16:56] suo opened #78540 "linux-focal-py3.7-gcc7-mobile-lightweight-dispatch-build frequently ooms"
Seeing a lot of failures on master where this job is exiting with code 137, which google tells me is Docker's exit code when a container runs out of memory and is killed.

Examples:
- https://github.com/pytorch/pytorch/runs/6674725260?check_suite_focus=true
- https://github.com/pytorch/pytorch/runs/6674694392?check_suite_focus=true
- https://github.com/pytorch/pytorch/runs/6629200575?check_suite_f

[2022-05-31 16:57] vadimkantorov commented on #71404
IMO the init code should be available for user calls as standardized method, not being able to call it after FX is okay and could be mentioned explicitly via decorators / docs + FX could create stub impls for all methods except forward that throw exception with comprehensible message

[2022-05-31 16:57] kumpera commented on #78531
NCCL p2p primitives are asynchronous so they return before completion.

You need to call `dist.barrier()` at the end of each rank to ensure they properly coordinate shutdown otherwise one rank will observe the other shutdown.

[2022-05-31 16:58] suo commented on #78540
@kit1980, you introduced this job. Can you take a look?

[2022-05-31 16:59] kumpera commented on #78514
This is the same issue as #78531 but applied to GLOO. shutdown across ranks must be coordinated.

[2022-05-31 16:59] #78514 closed

[2022-05-31 17:01] suo commented on #78283
@robieta can I assign this to you?

[2022-05-31 17:01] suo commented on #77808
Another recent failure on master https://github.com/pytorch/pytorch/runs/6659602672?check_suite_focus=true

[2022-05-31 17:02] justinchuby commented on #78311
@ShawnZhong thanks! I wasn't aware of them. These are great discussions

[2022-05-31 17:04] justinchuby commented on #44964
Just checking if there is an update? Closed #78311 for this.

[2022-05-31 17:04] #78311 closed

[2022-05-31 17:05] suo commented on #78540
@larryliu0820: you are the person who introduced this job. Can you take a look as well?

[2022-05-31 17:06] kurtamohler commented on #78475
`torch.backends.cudnn.flags(deterministic=True)` should not cause an exception for `ctc_loss`, and `use_deterministic_algorithms` should. So only one exception

[2022-05-31 17:09] timmywanttolearn commented on #78531
I actually have tried this way but the two process stucked
server
[code]
Client
[code]
The result is
Server
[code]
stucked
Client
[code]
However, using `gloo` could avoid this issue

[2022-05-31 17:11] grazder commented on #78475
Understood, but I'm doing the same on colab and get two exceptions. Here is colab `collect_env`

[code]

[2022-05-31 17:16] kurtamohler commented on #78475
Just to be clear, do you mean that `ctc_loss` is giving you an exception when you set `torch.backends.cudnn.flags(deterministic=True)`? Could you post the error?

[2022-05-31 17:17] grazder commented on #78475
About that - I found an in my repro setup in colab, now it's working with only one exception

[2022-05-31 17:17] spyroot commented on #78047
Folks,

So if you have two nodes,  each node has only 1 GPU.  Based on the logic.

Node a - rank 0 ( master)
Node b - rank 1 ( worker) (local rank 0) --> this value read somewhere in code from os env.

I manage to make it work but what is strange is I had to set all env and all values.
So on top of all mentions.  basically re-populate to os. environment.  (I think down the line somewhere
the value

[2022-05-31 17:19] vadimkantorov commented on #78475
Why `torch.backends.cudnn.flags(deterministic=True)` should not cause an exception? If I understand well, it’s cudnn impl that gets used by default, so it makes sense for it to be affected by cudnn flags settings

[2022-05-31 17:21] kit1980 commented on #78540
Can we remove the job, do we still need it?
If we can't remove, we probably need to raise available memory.
Not sure why it's out of memory only once in a while, maybe ccache related?

[2022-05-31 17:24] suo commented on #78540
What is this build doing that's taking so much memory? I wouldn't expect it to *actually* require that much more, given that all our other builds fit just fine on a linux.2xlarge host.

[2022-05-31 17:25] razarmehr commented on #78492
Duplicate of #78247
This issue is fixed in the latest nightly build.

[2022-05-31 17:27] kurtamohler commented on #78475
I don't know why it is the way it is. We could change the behavior if necessary. However, `use_deterministic_algorithms` was created to offer a unified way of turning on deterministic behavior for everything. So I would vote for not changing `torch.backends.cudnn.deterministic` (which, at this point, pretty much only still exists for backward compatibility), and I'd recommend only setting `use_det

[2022-05-31 17:28] larryliu0820 commented on #78540
I don't think we should remove this, it's covering a workflow being used in production. I think it is oom because we don't do selective build. Let me see if I can fix it with selective build.

[2022-05-31 17:29] kulinseth commented on #78492
Duplicate of https://github.com/pytorch/pytorch/issues/78247

[2022-05-31 17:29] #78492 closed

[2022-05-31 17:31] yeounoh commented on #78182
Hey @suo thanks for brining this up, Will take a look. I think we can do something about it [comment](https://github.com/pytorch/pytorch/issues/77286#issuecomment-1125509537). I've been meaning to splitting the current test step into xla build and xla test, which will significantly & directly improve the situation.

[2022-05-31 17:37] yeounoh commented on #78182
By the way, @suo , `"Our current SLA is 3h, so XLA is not quite violating it at the moment. "` just to confirm, is this per step or per overall workflow?

[2022-05-31 17:40] justinchuby commented on #78425
@kit1980 thanks for checking out the link! The nice thing about the bot is that it will only report newly introduced alerts by a PR. So the noise are largely not seen. If a PR doesn't cause any new alerts, the bot will not comment.

Of the useful findings many of them are meaningful imo. The previous being an example, here is another one:

![image](https://user-images.githubusercontent.com/1120504

[2022-05-31 17:43] vadimkantorov commented on #78475
Do you know if `use_deterministic_algorithms` exists in a form of context manager?

I guess there are two distinct problems/bugs in this issue (we chatted with @grazder offline):
- Cudnn CTC loss should throw if it cannot observe `torch.backends.cudnn.flags(deterministic=True)`
- It seems that Cudnn CTC loss provides a gradient-deterministic variant (does it?), so it should be chosen if set `use_d

[2022-05-31 17:43] kit1980 commented on #78425
Some are useful, I agree.

[2022-05-31 17:48] jbschlosser commented on #74437
@dave-epstein do you have a link to your modifications? I'm happy to do a sanity check for you

[2022-05-31 17:52] suo commented on #78182
Overall workflow. So I'm not really sure how splitting the step into build + test would really change things, as the test job is dependent on the build job.

[2022-05-31 18:09] #78206 closed

[2022-05-31 18:12] mcarilli opened #78549 "https://github.com/pytorch/pytorch/pull/74944 breaks CUDA graph capture"
### 🐛 Describe the bug

Prior to https://github.com/pytorch/pytorch/pull/74944, pytorch's native sync batch norm was safe to use with CUDA graph capture.

After https://github.com/pytorch/pytorch/pull/74944, Thorsten Kurth (@azrael417, one of our engineers using Pytorch for mlperf models) found that graph-capturing syncbn fails:
[code]

We believe the failure is a CPU sync incurred by [`count_all

[2022-05-31 18:17] Chillee commented on #78534
cc: @ezyang @eellison

[2022-05-31 18:20] albanD commented on #78482
Are you trying to run the rocm build with the cuda backend?

[2022-05-31 18:22] jbschlosser commented on #78450
Hey @chiragnagpal, thanks for the request! Is the idea to accept an input of shape `(N, K-1)` and treat the final element as an implicit zero to produce a softmax output of shape `(N, K)`?

[2022-05-31 18:28] kurtamohler commented on #78475
I just noticed that the CTCLoss documentation does say that "you can try to make the operation deterministic (potentially at a performance cost) by setting `torch.backends.cudnn.deterministic = True`" (https://pytorch.org/docs/stable/generated/torch.nn.CTCLoss.html), which just isn't correct and contradicts the documentation for `torch.backends.cudnn.deterministic`. It is possible that it used to

[2022-05-31 18:32] amjames commented on #70926
@nabriis If you could provide some information about your use case. In particular is the generalization to N-D output important, and if it is,  what the generalized interface might look like. I have provided some alternatives for a generalized interface in #78439.

[2022-05-31 18:35] waldirfc commented on #73829
I still had the same problem with libtorch cu113 and cuda 11.4.
Meanwhile, I am working on the CPU version.
If you have any news I would appreciate them.

[2022-05-31 18:36] RRobert92 opened #78551 "Error while loading model weights to mps device"
### 🐛 Describe the bug

Model is trained on Nvidia GPU (A100). This model can be loaded back on GPU or CPU device. However while loading the same weights on MPS device I receives an error RuntimeError: don't know how to restore data location of torch.storage._UntypedStorage (tagged with "mps)".
I tried to load it first to cpu then move to mps, but it produce exactly the same result.

### Versions

[2022-05-31 18:37] soulitzer commented on #78355
Actually the `sum` is correct because grad of grad_output should have the same shape as grad_output which should have the same shape as output. The reason the formula still works without the sum is because autograd engine implicitly sums when the shape is broadcastable.

[2022-05-31 18:37] #78355 closed

[2022-05-31 18:42] amjames commented on #70926
Also pinging @rjkilpatrick who opened the original feature request. Any information you have about use case would be welcome!

[2022-05-31 18:52] ezyang commented on #78534
can you try running on master? It seems like unsqueeze should be supported

[2022-05-31 18:54] ezyang commented on #78534
on master

[code]

gives

[code]

[2022-05-31 18:54] #78534 closed

[2022-05-31 18:59] suo commented on #78540
Okay, let me know your progress. I will put up a PR to disable this job for now (as it's our policy for flaky tests in CI). We can re-enable it upon fixing

[2022-05-31 19:02] nikitaved commented on #78355
@soulitzer , I disagree. `grad_output` is the output of the backward method, which is of the same shape as `self`.
Have a look at
https://github.com/pytorch/pytorch/blob/7313a7a987166b1249cf8b62c6c97e9bbd4ecfc6/tools/autograd/derivatives.yaml#L1752-L1765

[2022-05-31 19:05] BowenBao commented on #78481
hi @mstar1992, could you please try a newer version of PyTorch (current release is 1.11)? If error persists, please create a complete end to end repro for us to investigate. Thanks.

[2022-05-31 19:09] BowenBao commented on #78348
hi @soltkreig, could you please give a try with newer PyTorch version (latest release is 1.11)? If error persists, please help create a end to end repro for us to investigate. Thanks.

[2022-05-31 19:09] goldenxuett opened #78559 "[JIT] autodiff implementation of rand_like function is outdated"
### 🐛 Describe the bug

The autodiff implementation of rand)like in symbolic_script.cpp is outdated such that it doesn't match the updated function signature in the config file.

The function signature in symbolic_script.cpp is currently:
def rand_like(self, *, memory_format: Optional[int])

Which is incorrect

### Versions

N/A

[2022-05-31 19:18] vadimkantorov commented on #78475
according to this, deterministic mode probably does exist, but one would need to check CUDNN docs to ensure that it also has deterministic gradients (i hope so, otherwise deterministic loss computation isn't of much use)

[2022-05-31 19:20] vadimkantorov commented on #78475
there may also be a problem with deterministic context manager (for both flags and set_deterministic_algos), that the deterministic mode setting probably does not apply to backward

and probably this is the reason of no exception and non-deterministic gradients even if `with torch.backends.cudnn.flags(deterministic=True):` is used. Could this be the explanation?

[2022-05-31 19:28] kurtamohler commented on #78475
The `use_deterministic_algorithms` setting definitely does apply to backward functions--we have unit tests that would not pass otherwise.

As for the `torch.backends.cudnn.deterministic` flag, it's only used in one place that I know of in the core code, and that's within convolution: https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/Convolution.cpp#L1025

[2022-05-31 19:28] #77730 closed

[2022-05-31 19:29] zhaojuanmao commented on #78045
synced up offline, will see whether we can return a list of original module references in summon_full_params context manager

[2022-05-31 19:42] garymm commented on #69674
@thiagocrepaldi did you mean to close this?

[2022-05-31 19:55] albanD commented on #12873
More discussion on this problem in https://github.com/pytorch/pytorch/issues/64720 and https://github.com/pytorch/pytorch/issues/38645

[2022-05-31 19:55] albanD commented on #38645
To keep all discussions in one place, closing in favor of https://github.com/pytorch/pytorch/issues/12873

[2022-05-31 19:55] #38645 closed

[2022-05-31 19:55] albanD commented on #64720
To keep all discussions in one place, closing in favor of https://github.com/pytorch/pytorch/issues/12873

[2022-05-31 19:55] #64720 closed

[2022-05-31 19:56] albanD commented on #12873
cc @ngimel any update on this from lazy loading and jiterator point of view?

[2022-05-31 20:01] eellison opened #78565 "Make Constructors Automatically Apply no_dispatch"
### 🐛 Describe the bug

Context: https://github.com/pytorch/pytorch/pull/78516/files#r886025698

### Versions

master

cc @Chillee @ezyang @zou3519 @albanD @samdow

[2022-05-31 20:23] sreddy-es commented on #78505
It looks like the issue can be resolved if we use Polygraphy tool built within tensorRT. But the polygraphy tool is basically doing constant folding. This feature is something that ostensibly torch.onnx already has in its params; 'do_constant_folding' and 'keep_initializer_as_input'. So the Polygraphy tool should not be required.

[2022-05-31 20:39] ngimel commented on #78507
You can use cuda streams for that.

[2022-05-31 20:56] suo commented on #77808
another recent failure on master; this one is not `Could not start gRPC server` but also appears multiprocessing related https://github.com/pytorch/pytorch/runs/6676424724?check_suite_focus=true

[2022-05-31 20:57] albanD commented on #74811
Hi,

I'm afraid the x86 macs will not allow that no.
Using the x86 versino on an M1 mac is enabled via the Rosetta layer from Apple to allow "old" macos apps to easily run on the new hardware.

[2022-05-31 20:58] JackCaoG commented on #77808
I think those failure are not recent, if they rebase their pytorch branch, mp test should not being run on CI.

[2022-05-31 21:00] albanD commented on #78087
Closing in favor of the tracking issue

[2022-05-31 21:00] #78087 closed

[2022-05-31 21:00] suo commented on #77808
This failure was on the master branch :)

[2022-05-31 21:02] JackCaoG commented on #77808
I think so, I did not see the call of `run_mp_op_tests` which should be in https://github.com/pytorch/xla/blob/master/test/run_tests.sh#L113. I think we update pin nightly?

[2022-05-31 21:02] lhoenig commented on #78001
Can confirm it works now, thanks.

[2022-05-31 21:08] mruberry commented on #77048
@xwang233 maybe someone at NVIDIA could take a look?

[2022-05-31 21:09] xwang233 commented on #77048
Thanks for the report. I'll take a look.

[2022-05-31 21:14] ngimel commented on #77048
Can't repro on V100 and cuda 11.5

[2022-05-31 21:19] vadimkantorov commented on #50688
maybe this request would be better scoped in functorch...

[2022-05-31 21:24] albanD opened #78580 "Reland use of weakref for nn.Module hooks"
We should reland https://github.com/pytorch/pytorch/pull/76435 with the proper fix for serialization.

There are ideas to fix this in https://github.com/pytorch/pytorch/pull/76435#issuecomment-1132831564

[2022-05-31 21:24] xwang233 opened #78581 "RFC: Improve the performance and usability of linear algebra on CUDA devices"
### 🚀 The feature, motivation and pitch

Currently, the `torch.linalg` (https://pytorch.org/docs/stable/linalg.html) package provides linear algebra functionalities in pytorch. The CUDA backend is supported by cuSOLVER and MAGMA libraries.

For now, linear algebra operators in pytorch are implemented in either cuSOLVER or MAGMA, or both. Users can use
[code]
to prefer one of the two backends. Avai

[2022-05-31 21:54] arquolo commented on #12873
For Windows this issue strikes harder (see #38645 and #64720).
For example, as for torch-1.11.0-cu115-pip, even alone `import torch` leads to 250 MB RSS and 4 GB VMS growth,
thus making multiprocessing there even less usable (considering spawn and IPC overhead on Windows),
because even with 4 workers it requires 20 GB of VMS/swap and overcommit there is not allowed.

I've found out, that `torch_cu

[2022-05-31 22:25] datumbox commented on #71404
@vadimkantorov I understand where you are coming from. For some users, JIT or FX might not be as important. For others who are into mobile deployment or quantization, they are critical. As PyTorch devs, we need to ensure we provide a consistent experience across the various solutions. Right now there are ways for users to reinitialize the models, without a `reset_parameters()`. The solutions are n

[2022-05-31 22:29] gaure commented on #76373
Hi adeandrade
Is there a solution for this bug?
Thanks
GA

[2022-05-31 22:35] vadimkantorov commented on #71404
Worst of all, they now require quite deeper acquaintance with PyTorch codebase to even find the place where the module/model is initialized to find the correct place to copy-paste from

[2022-05-31 23:21] NivekT commented on #76373
If your GPUs are already occupied with some DDP training, is it possible for you to terminate those processes and re-run this process again?

[2022-05-31 23:32] DenisVieriu97 commented on #78472
@danieldk, could you please try the following build from this page https://hud.pytorch.org/pr/78496 and let me know if you are still seeing the issue? Latest nightly build also contains them (1.13.0.dev20220531).

If you are manually building PyTorch, sha 017b0ae9431ae3780a4eb9bf6d8865dfcd02cd92 contains these changes (https://github.com/pytorch/pytorch/pull/78496).

[2022-05-31 23:32] vadimkantorov commented on #76440
Related discussion: https://github.com/pytorch/pytorch/issues/78581

[2022-05-31 23:37] #78539 closed

[2022-05-31 23:54] razarmehr commented on #77851
This issue is fixed in PR #78496 (nightly build 1.13.0.dev20220531).

[2022-05-31 23:54] #77851 closed

[2022-06-01 00:02] razarmehr commented on #77886
This issue is fixed in PR #78496  (nightly build 1.13.0.dev20220531 or later).

[2022-06-01 00:06] zou3519 commented on #50688
@vadimkantorov we (some of us, at least) actively would like a scan operation, but we haven't had bandwidth to look into it :)

[2022-06-01 00:06] razarmehr commented on #78043
This issue is fixed in PR #78496 (nightly build 1.13.0.dev20220531 or later).

[2022-06-01 00:06] #78043 closed

[2022-06-01 00:07] #74016 closed

[2022-06-01 00:10] suo commented on #78242
this thing is driving me totally crazy https://github.com/pytorch/pytorch/pull/69607#issuecomment-1142792632

[2022-06-01 00:11] suo commented on #78242
it appears that it doesn't like single quotes, it must be double quotes :<

[2022-06-01 00:12] awgu commented on #74556
@wayi1
Does `PostLocalSGDOptimizer` support or plan to support warming up at the parameter granularity? In other words, can some parameters have their `requires_grad` set to `False`, de-synchronizing their logical `step` values from the `step` values of the parameters with `requires_grad=True`?

We are wondering if if we save a `step` counter to the optimizer state whether it should be saved per p

[2022-06-01 00:46] #78250 closed

[2022-06-01 00:58] pytorch-bot[bot] opened #78595 "DISABLED test_ddp_returns_tensor_with_no_grad (__main__.TestDistBackendWithSpawn)"
Platforms: linux

This test was disabled because it is failing in CI. See [recent examples](http://torch-ci.com/failure/test_ddp_returns_tensor_with_no_grad%2C%20TestDistBackendWithSpawn) and the most recent trunk [workflow logs](https://github.com/pytorch/pytorch/runs/6680776657).

Over the past 3 hours, it has been determined flaky in 1 workflow(s) with 1 red and 4 green.

cc @pietern @mrshenli

[2022-06-01 01:27] xiurobert commented on #78510
I was thinking that this feature could be in addition to accepting a list of integers (since that can be easily differentiated from a list of percentages just by checking whether the sum of the list is equal to 1). Also prevents breaking backwards compatibility.

[2022-06-01 01:39] #77867 closed

[2022-06-01 01:42] kulinseth commented on #77818
Thanks for the issue, @tfmoraes , we indeed don't have Conv3D support, but should do a better job of reporting error.

[2022-06-01 02:07] jee9894 commented on #77764
I found that the operator ```aten::_ctc_loss``` is not curently implemented for the MPS deivce either.

[2022-06-01 02:44] seemethere commented on #77052
Submitted https://github.com/pytorch/pytorch/pull/78584 as a second attempt at this

[2022-06-01 02:46] mstar1992 commented on #78481
@BowenBao I have updated the version of torch but still the same error occurs
Pytorch Version == 1.11.0+cu102
OS == Linux
onnx == 1.10.2
CUDA Version == 10.2
Below is my main code：

- model.py

[code]

- utils/proj_adaptive_softmax.py

[code]

- onnx_export.py
[code]

[2022-06-01 02:54] adeandrade commented on #76373
The problem I was having had nothing to do with PyTorch. I was running multiple containers and because of IPC isolation, the resulting processes were trying to bind the same ports on the host.

[2022-06-01 02:54] #76373 closed

[2022-06-01 03:01] rgommers commented on #78412
This doesn't look like a PyTorch issue. `row.detach().cpu().numpy()` creates a `numpy.ndarray`, which may be a copy - if you copy all your data like that, you can at most double your memory usage. The problem here is in how you use Pandas. One thing that jumps out is that there's a second conversion to a `pd.Series`, because you're using the default `row=False` for `.apply`. You may well also be t

[2022-06-01 03:01] #78412 closed

[2022-06-01 03:13] rgommers commented on #44964
Sphinx has made a little progress here I believe. The `autodoc_typehints_description_target` and `autodoc_type_aliases` are relevant, and available in Sphinx >= 3.3 (so [docs/cpp/requirements.txt](https://github.com/pytorch/pytorch/blob/master/docs/cpp/requirements.txt)) would need a version bump.

See https://www.sphinx-doc.org/en/master/usage/extensions/autodoc.html#confval-autodoc_typehints_des

[2022-06-01 03:17] redmagnos commented on #63265
@viraatdas Don't know if you're still interested, but I'm giving it a go here and while it seems like index.size(dim) > src.size(dim) is pretty straightforward, other values of d are giving me more of a headache.

Also, the "inefficient workaround" in the problem statement is similarly restricted to only working along a single specific d (there specified to be = dim). You'd need further for loops

[2022-06-01 03:56] vors commented on #78453
I tried to repro myself and could not -- most likely that was caused by me changing genrules dependencies, which would explain it. Sorry for the noise.

[2022-06-01 03:56] #78453 closed

[2022-06-01 04:40] #70675 closed

[2022-06-01 04:43] shawnjhenry opened #78605 "torch.svd_lowrank fails for complex matrices"
The reason is that the function get_floating_dtype from _linalg_utils returns torch.float32 on complex input instead of torch.cfloat or torch.cdouble as appropriate.  This is in version 1.11.0.

cc @ezyang @anjali411 @dylanbespalko @mruberry @Lezcano @nikitaved @jianyuh @pearu @walterddr @IvanYashchuk @xwang233

[2022-06-01 04:47] rohan-varma opened #78606 "[FSDP] Enhance sync_module_states for auto wrapping"
### 🚀 The feature, motivation and pitch

Currently `sync_module_states` syncs state wrapped layer by layer. This makes sense for `wrap()` API where the root FSDP instance is not known at construction time.

However, when using `auto_wrap_policy`, we can do a single sync at the root as opposed to layer by layer, possibly saving some overhead.

### Alternatives

_No response_

### Additional context

[2022-06-01 06:01] ShawnDiego commented on #77764
aten::index_add.out  is not supported.

[2022-06-01 06:16] danieldk commented on #78472
I think the performance regression is largely gone (it's about 7600 words per second now). Furthermore, I only need one `contiguous` call now. I opened a separate issue about that yesterday (#78511).

[2022-06-01 06:16] #78472 closed

[2022-06-01 06:24] tidalmelon commented on #77764
batch_y_len[batch_y_len<=0] = 1
NotImplementedError: The operator 'aten::_index_put_impl_' is not current implemented for the MPS device.

[2022-06-01 06:25] zhaojuanmao opened #78607 "Return original module when fsdp wrapped model call .module"
### 🚀 The feature, motivation and pitch

Right now if users want to access the original module from a fsdp wrapped model, users need to call it like this "fsdp_model.module.module".
To be consistent with the ddp wrapped model, change FSDP codes to return the original module by calling "fsdp_model.module".

### Alternatives

_No response_

### Additional context

_No response_

cc @zhaojuanmao @mrs

[2022-06-01 06:28] mkhlyzov commented on #66033
Faced the same crash aswell.
MacOS 10.14, Python 3.8, PyTorch 1.11.0 installed via conda install pytorch
Issue always occurs when training with `torch.nn.functional.dropout` for more than 6-12 hour. Issue disappears when removing dropout calls from my code.

[2022-06-01 06:45] JanuaryThomas commented on #16417
torch.cuda.empty_cache()

[2022-06-01 06:50] zhaojuanmao opened #78608 "Add forward prefetching option in FSDP API"
### 🚀 The feature, motivation and pitch

Similar to add backward prefetching option in FSDP API in this PR https://github.com/pytorch/pytorch/pull/70235. Add an option to support explicit forward prefetching in FSDP.

The initial version could just leverage the '_fsdp_graph_order' recorded in the first iteration, explicitly prefetching next layer's full parameters instead of waiting for CUDA to qu

[2022-06-01 07:15] nonconvexopt commented on #75375
@xwang233 It is my pleasure.

[2022-06-01 07:25] CaoE opened #78611 "is_channels_last_contiguous_ and is_channels_last_ are not aligned"
### 🐛 Describe the bug

Reshaping tensors will get unexpected stride.

[code]
The expected stride of input should be  (24, 1, 8, 2) but get (2, 1, 8, 2) and the corresponding flag `is_channels_last_contiguous_` will be set to `true` and `is_channels_last_` is set to `false`.

This will decrease performance by introducing contiguous.
For example: if the input of mkldnn_convolution is the tensor whi

[2022-06-01 08:35] sergiossm commented on #50723
Same issue here, is there anything you can do @IvanKobzarev?

[2022-06-01 09:51] diegomilani commented on #74016
This issue still persist,
I just cloned the lastest version of this repository and ran a YOLOv5 training, the errors are raised exactly as they were before https://github.com/pytorch/pytorch/pull/78575

Here's the full steps to reproduce it as well as the full error log:

`(base) C:\Users\username>conda activate yolo5

(yolo5) C:\Users\username>conda install pytorch torchvision torchaudio cudatool

[2022-06-01 10:17] leeskyed commented on #74437
It is better to use an older version like pytorch 1.8.1.

[2022-06-01 11:06] Lezcano commented on #77659
A side note:
From an implementation perspective, I don't know how it's done in CUDA, but on CPU, say on the STL or boost, the algorithms to generate, say, a number distributed as a normal 0,1 are **highly** non-trivial (moved away from the Box Muller algorithm to the Ziggurat algorithm years ago, see [[here](https://github.com/boostorg/random/blob/develop/include/boost/random/normal_distribution.h

[2022-06-01 11:20] rgommers commented on #78412
`.detach()` and `.numpy()` are guaranteed to not make any copies, as is noted in the docs. `.cpu()` does make a copy. So I guess that you will still see this effect if you leave out anything to do with either NumPy or Pandas. If you profile it like:
[code]
So probably `first_row` is a view on something large, and somehow that costs a lot of memory to transfer to CPU. Can you try that?