[2019-04-06 18:16] soumith commented on #18983
@vadimkantorov how exactly can we autopopulate DocTODO?

[2019-04-06 18:20] soumith commented on #3428
@vadimkantorov https://webmasters.stackexchange.com/questions/19216/nofollow-doesnt-stop-crawling

even after we `nofollow`, if other sites link to older docs (for example pytorch forums), then they will be ranked up

[2019-04-06 18:27] vadimkantorov commented on #3428
How about "Disallow" in robots.txt? Or setting canonical url (I think it's an og tag and also rel tag) to redirect to stable version? Also in https://github.com/pytorch/pytorch/issues/3428#issuecomment-396741517 they recommend "noindex" for those pages

The pytorch-zh is a third-party site, maintained by https://readthedocs.org/projects/pytorch-zh/, source at https://github.com/chenyuntc/pytorch-c

[2019-04-06 18:34] vadimkantorov commented on #18983
sth like this would work?
[code]

[2019-04-06 18:39] chenyuntc commented on #3428
https://readthedocs.org/projects/pytorch-zh/ is an effort to translate pytorch docs to Chinese since there are many people using pytorch in China.
I've deleted them in readthedocss, sorry for the trouble.

[2019-04-06 18:45] #18983 closed

[2019-04-06 18:53] vadimkantorov commented on #3428
@chenyuntc Thank you!

[2019-04-06 20:55] PiotrDabkowski commented on #2456
@alykhantejani Why should unshuffle qualify for the contrib while shuffle for the main repo?
It is quite weird to implement just the upsample logic without the downsample counterpart.
Lots of recent work relies on the unshuffle so it would be quite beneficial to put it just next to pixel_shuffle so that people do waste time looking for it.

[2019-04-06 20:58] PiotrDabkowski commented on #9692
@SsnL It would be nice to have this implementation in the main repo. Not sure why #2456 decided otherwise.

[2019-04-06 21:20] malmaud commented on #18724
So in terms of what can be autogenerated, I want to see if I understand the basic situation correctly:

* `Declarations.yaml` contains a description of the all the methods in ``nn.functional``, and so the entire stub for `nn.functional` can be auto-generated from that pretty easily, with maybe some exceptions. `gen_pyi` provides a guide on how to do this.

* The files in `nn.modules` were manually

[2019-04-07 00:30] aluo-x commented on #16433
Also suffering with this issue.

Pytorch 1.0.1
OS: Ubuntu 16.04.6 LTS
Pytorch built against CUDA 10.1
Python version: 3.6.7

[2019-04-07 01:35] ezyang commented on #18206
I think I'd be willing to accept a patch that changes the official name to `ignore_target`; but `ignore_index` has to keep working for BC.

[2019-04-07 02:21] sxdai opened #18993 "ninja: build stopped: subcommand failed."
## 🐛 Bug

[446/3104] Building CXX object third_party/fbgemm/CMakeFiles/fbgemm_avx2.dir/src/FbgemmI8DepthwiseAvx2.cc.o
ninja: build stopped: subcommand failed.
Traceback (most recent call last):
  File "setup.py", line 719, in <module>
    build_deps()
  File "setup.py", line 285, in build_deps
    build_dir='build')
  File "/home/prjs/tmp/pytorch/tools/build_pytorch_libs.py", line 278, in build_ca

[2019-04-07 05:05] soumith commented on #2584
Added now in PyTorch master via https://github.com/pytorch/pytorch/pull/14267
For documentation, see: https://pytorch.org/docs/master/nn.html#torch.nn.SyncBatchNorm

[2019-04-07 05:05] #2584 closed

[2019-04-07 05:05] soumith commented on #12198
Added now in PyTorch master via https://github.com/pytorch/pytorch/pull/14267
For documentation, see: https://pytorch.org/docs/master/nn.html#torch.nn.SyncBatchNorm

[2019-04-07 05:05] #12198 closed

[2019-04-07 06:25] cjliux opened #18995 "Wish that pytorch can adjust its computation according to GPU memory upper bound."
## 🚀 Feature

Wish that pytorch can adjust its computation according to GPU memory upper bound.

## Motivation

It is frustrating when I have several machines that holds GPUs of different memory sizes. Usually, I would like to implement model in a time efficient way while this will cause high GPU memory usage. However, in this way, some machines with lower GPU memory capacity will be unable to run

[2019-04-07 07:14] #18382 closed

[2019-04-07 07:48] iArunava commented on #18315
I have successfully build the pytorch code from source. So, I will take this up. Some pointers to files can give me a headstart. Thanks :)

[2019-04-07 08:18] f-sky commented on #14474
You can visit my repo and find one.
https://github.com/f-sky/clh_utils/blob/master/clh_utils/pytorch_ext/sampler.py

[2019-04-07 09:13] vadimkantorov commented on #3428
@soumith e.g. in robots.txt there is Disallow for 0.3.0, but no Disallow 0.3.1:
[code]

[2019-04-07 12:33] codexetreme commented on #18408
Alright, I will do that.

[2019-04-07 12:33] SunHaozhe opened #18996 "[OSX] pip package does not ship MKL, RuntimeError: fft: ATen not compiled with MKL support"
## 🐛 Bug

The pip package does not ship MKL with it and MKL is required for fft support on cpu.

## To Reproduce

Steps to reproduce the behavior:

1. Run the following code with Pytorch installed with pip

import torch
from kymatio import Scattering2D

scattering = Scattering2D(J=2, shape=(32, 32))
x = torch.randn(1, 1, 32, 32)
Sx = scattering(x)
print(Sx.size())

## Expected behavior

<img width

[2019-04-07 13:00] MeteoRex11 opened #18997 "torchfile.T7ReaderException: unknown object type / typeidx: -1112529805"
I am currently trying to implement a StackGAN, but I am getting the following error:

`Traceback (most recent call last):
  File "main.py", line 77, in <module>
    algo.sample(datapath, cfg.STAGE)
  File "C:\Users\hunte\OneDrive\Documents\Projects\EAD Project\StackGAN-Pytorch-master\code\trainer.py", line 242, in sample
    t_file = torchfile.load(datapath)
  File "C:\ProgramData\Anaconda3\lib\si

[2019-04-07 13:10] chjz1024 commented on #18607
Hi @sikuntiannan,

Have you solved this problem? I'm having the same problem as I build the project with vs2019 community. All I've done is to modify the `Additional Dependencies` and `Additional Include Directories` in the property page of my project. But when I generate a new solution from a CMakeLists.txt file as described in <https://pytorch.org/tutorials/advanced/cpp_frontend.html> then it wo

[2019-04-07 13:27] peterjc123 commented on #18607
@chjz1024 Are there any differences between the project generated by yourself and the one generated by CMake?

[2019-04-07 13:30] peterjc123 commented on #18997
Please try appending the parameter long_size like this `load_lua(....., long_size=8)`.

[2019-04-07 13:35] peterjc123 commented on #18997
For T7Reader, it should be `force_8bytes_long=True`.

[2019-04-07 14:08] chjz1024 commented on #18607
@peterjc123 I havn't examined that carefully, but generally speaking they differ a lot and I just copied the `Additional Dependencies` and `Additional Include Directories` from the cmake generated project. I've created a repository for reference <https://github.com/chjz1024/plainTorch>.

[2019-04-07 14:27] subho406 commented on #17613
The MNIST Hogwild is not working on Pytorch 1.0.0. Running on 1.0.0 gives:
`
Traceback (most recent call last):
  File "main.py", line 57, in <module>
    mp.set_start_method('spawn')
  File "/home/metal_geek/anaconda3/envs/omninet/lib/python3.6/multiprocessing/context.py", line 242, in set_start_method
    raise RuntimeError('context has already been set')
RuntimeError: context has already been s

[2019-04-07 14:35] #18997 closed

[2019-04-07 14:59] MohamedAliRashad opened #18998 "torch.from_PIL() Request ?"
## 🚀 Feature
A simple method for transforming a PIL images directly into torch tensor.

## Motivation
It's frustrating to use transforms for a simple conversion between a PIL image and torch tensors and in the same time it's very easy to get tensor from numpy through ```torch.from_numpy()```

## Pitch

Giving it a PIL images of any type and it returns a torch tensor

## Alternatives
I have conside

[2019-04-07 15:24] ezyang commented on #18104
I think you will be better served debugging this issue on the support forums: https://discuss.pytorch.org/ as transferring pickles between different Python versions is somewhat error prone, and there isn't any indication that there is necessarily a PyTorch bug here.

Here is what you should try next:

- Ensure that line endings are being preserved properly between writing and reading of the Pickle

[2019-04-07 15:24] #18104 closed

[2019-04-07 15:32] Suley commented on #3022
facing the same problem. 4 GTX 1080Ti with 1600W PSU (With redundancy) . Tried to use gpu burn to test it and it's stable like a rock.

[2019-04-07 15:39] zym1010 commented on #3022
@Suley personally I think this is more of a CPU problem; basically, pytorch invokes CPU to execute a series of instructions which draws too much power from motherboard.

[2019-04-07 15:51] Suley commented on #3022
Thanks for your reply. I will test the CPUs to identify the problem

[2019-04-07 16:07] apaszke commented on #18998
This should really not be PIL specific, but should use Python's buffer interface. It's definitely a feature that we want, but it's _very_ hard to implement reliable across all the Python versions we support.

[2019-04-07 16:53] mkwissam commented on #15862
I am getting the same problem.
I have a code that is working fine on windows but when I try it on linux server I got the following error
Traceback (most recent call last):
  File "generate_paraphrases.py", line 194, in <module>
    encode_data(out_file=args.out_file)
  File "generate_paraphrases.py", line 108, in encode_data
    torch_sent_len[:], tp_len, pp_vocab['EOS'], beam_size=3, max_steps=40

[2019-04-07 17:04] charlesCXK commented on #16206
@jiaqianjing
Did you solve the question? I meet the same problem.....

[2019-04-07 17:04] Suley commented on #3022
I ran cpu stress test and gpu stress test at the same time, no problem found.
My mobo supports 150 W TDP,
So my max power consumption would be: 115w * 2(CPU) + 250w *4(1080Ti) + 200W(Disk and other component) = 1430
It seems that 1600W is enough. and besides, there's two 1600W redundancy power which both outputs power, that means each PSU only carry half of the load.

2 GPU works OK.
3 GPU unstabl

[2019-04-07 17:12] zym1010 commented on #3022
I also tried running stress tests for CPU and GPU simultaneously; no issue at all. Maybe it’s due to type of instructions... not sure.

Can you try disabling some CPU cores or underclock them? In my case, this decreased probability/frequency of reboot but not fix the problem.

It’s based on the fact that reducing CPU load can make programs more stable (at least on my machine) that I think this is

[2019-04-07 17:42] apaszke commented on #18949
Well, one also needs to carefully take the two overheads that make most changes to the engine make it perform significantly worse:

#### Power management

Taking a sleeping thread will likely assign it to a cold core and it will take a while for the clock speed to rise. This is already killing us even when we only use a single thread for backward and a single one for forward.

#### Lots of threads

[2019-04-07 17:48] bhavinthaker commented on #16733
@soumith Any tentative date for PyTorch 1.1 release? This will help us plan the AWS Deep Learning AMI release accordingly.

[2019-04-07 18:10] apaszke commented on #18776
@soumith we don't. I wrote symbolic AD for batch norm which allows for multiple backends. I think the idea was that someone might have code like:
[code]
And we wanted to preserve this semantics. I think we should save those flags when tracing.

[2019-04-07 18:24] MeteoRex11 commented on #18997
Which file is this in?

[2019-04-07 19:18] MeteoRex11 opened #18999 "RuntimeError: CUDA error: unknown error"
I had installed CUDA using both conda and the NVIDIA website, and this error vanished at first. But when I restarted my Laptop, it popped up again.
What can I do?

GPU - NVIDIA GeForce GTX 1050
RAM - 32 GB DDR4
CPU - Core i7 7700HQ

[code]

[2019-04-07 19:42] MohamedAliRashad commented on #18998
Python 2 is in its way for deprecation, if this would help ^ ^

[2019-04-07 20:12] ilia-cher opened #19001 "Intra-operator parallelism settings in PyTorch"
(This issue is mainly to clarify how PyTorch sets the number of OMP and MKL threads and fix some discrepancies. For the bigger context on parallelism work please refer to https://github.com/pytorch/pytorch/issues/19002)

As of the moment PyTorch largely relies on OpenMP and MKL/MKL-DNN (use OpenMP) to do intra-op (i.e. within an op) parallelization on CPU.

First, let's consider first how OpenMP a

[2019-04-07 20:15] ilia-cher opened #19002 "Intra- and inter-operator parallelism in PyTorch (work plan)"
Efficient usage of parallelism is important for achieving high performance in CPU tasks. Currently there're three main use cases/sources of parallelism in PT:
1. Operator implementations (intra-op parallelism) - using multiple parallel tasks to execute an operator/function;
2. TorchScript JIT interpreter - explicit fork/wait calls used in JIT programs;
3. Autograd engine - uses multiple CPU thread

[2019-04-07 21:15] Youssefares opened #19003 "optim.lr_scheduler.CyclicLR (master only: not released) is buggy when not using momentum"
## Issue description

If I use an optimizer like adam with no momentum and follow the message of line 578 below here, passing `cycle_momentum=False`, line 584 throws a KeyError because key 'momentum' is not set.

https://github.com/pytorch/pytorch/blob/173f224570017b4b1a3a1a13d0bff280a54d9cd9/torch/optim/lr_scheduler.py#L576-L585

1. I believe the last two lines should be indented under the if-con

[2019-04-07 23:27] jcjohnson commented on #18536
+1 on a python API for getting / setting cuDNN algorithms!

This used to be possible in Lua Torch, and I found it useful for object detection where the default algorithms weren't great and I couldn't use the benchmark mode since each forward pass had differently-sized images.

[2019-04-08 00:25] HallWoodZhang commented on #2714
the 3rd gen CPU i5-3320M meet the problem too

[2019-04-08 01:44] ezyang commented on #18949
Yes, I agree care is necessary. Ideally, we should end up with exactly the same performance characteristics as the prior design if we don't make reentrant calls to backwards (this might mean that threads, when idle, shouldn't give up the lock, but just keep the lock and keep the core warm, or whatever it is we do today. Similarly, there shouldn't be any queue switching because threads keep process

[2019-04-08 01:48] peterjc123 commented on #18997
C:\Users\hunte\OneDrive\Documents\Projects\EAD Project\StackGAN-Pytorch-master\code\trainer.py. For T7Reader, it should be force_8bytes_long=True.

[2019-04-08 01:52] peterjc123 commented on #18607
@chjz1024 Thanks a lot. I'll see if there's an equivalent for cmake.

[2019-04-08 02:52] peterjc123 commented on #18607
Looks like the flag `/permissive` should be added to turn it off.

[2019-04-08 03:05] peterjc123 commented on #18607
And the cast-to-function error should be a MSVC bug: https://developercommunity.visualstudio.com/content/problem/256712/c2066-with-type-alias-declaration-in-class-templat.html.

[2019-04-08 04:32] yabinzhangJohn commented on #17433
I checked it again. Other processes on the device can run normally.
In the document,

[2019-04-08 05:03] xsacha opened #19007 "Tensor from blob complaining about wrong CUDA device"
## 🐛 Bug
I get the following error in the latest nightly when attempting to convert a GPU blob from OpenCV to torch:

Code that creates this issue:
[code]

**Note: I only have a single CUDA GPU on this system!**
The default cuda device is negative 1, which does not match the actual cuda device of 0. However, this code previously worked fine.

## To Reproduce

Steps to reproduce the behavior:

1. D

[2019-04-08 05:08] aditya1702 commented on #18627
are pull requests welcome for this issue?

[2019-04-08 05:11] aditya1702 commented on #18945
@fmassa Is anyone working on this?

[2019-04-08 05:15] xsacha commented on #19007
Not 100% sure this is a bug because the code technically won't work in a multi-GPU configuration.
It has forced me to correctly pass through the GPU device.

[2019-04-08 05:33] Diego999 commented on #18730
@vishwakftw yes I exactly have this problem, sometimes I have negative values. I tried with 8 samples and it was similar. I don't know if there is a better way of computing it. The problem is the exp() that could be very large (e+11). I removed it and put more samples instead and took the average but still, didn't work better

I try reproducing results of https://arxiv.org/abs/1812.05035 where the

[2019-04-08 06:02] MeteoRex11 commented on #18997
I am getting the following error now:

`RuntimeError: CUDA error: unknown error`

for
File "C:\ProgramData\Anaconda3\lib\site-packages\torch\cuda\__init__.py", line 163, in _lazy_init
    torch._C._cuda_init()

[2019-04-08 06:06] houseroad commented on #18647
seems the problem is that
[code]
you can try to turn [idx] to torch.tensor([idx]) first

[2019-04-08 06:13] houseroad commented on #18521
This is a known issue. In caffe2, we translate pad to PadImage, which only handles 2d. Two options: 1) We should implement a general Pad operator in Caffe2, 2) we can insert a unsqueeze before pad and squeeze after pad

[2019-04-08 06:20] charlesCXK opened #19008 "buiding blocked when executing `python setup.py build`"
## buiding blocked when executing `python setup.py build`

[code]

I try to build PyTorch=1.0.0 from source but it seems to be blocked here. Why did this happen?

[2019-04-08 08:14] nan0755 commented on #14303
mark

[2019-04-08 10:14] djstrong commented on #12042
I have similar error when I only load pretrained model. The problem does not occur if only one process is loading the model.

[2019-04-08 10:15] AshishRMenon opened #19012 "I have a piece of code that is written in LUA and I want to know what is the pytorch equivalent of the code.?How do I implement these lines in pytorch .. Can somebody help me with it? The code is mentioned in the comment"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

[2019-04-08 10:19] AshishRMenon commented on #19012
real_ctx[{{},{1},{},{}}][mask_global] = 2 * 117.0/255.0 - 1.0
real_ctx[{{},{2},{},{}}][mask_global] = 2 * 104.0/255.0 - 1.0
real_ctx[{{},{3},{},{}}][mask_global] = 2 * 123.0/255.0 - 1.0
input_ctx:copy(real_ctx)

[2019-04-08 10:30] albanD commented on #19012
Hi,

As you see in the template above, you should use the [forum](https://discuss.pytorch.org/) for such questions.
Thanks

[2019-04-08 10:30] #19012 closed

[2019-04-08 11:01] hanmingliu2 commented on #18634
@colesbury Hi, I am willing to contribute to this feature. However, after many hours of navigating through the large code base, I am still not sure on what files I should be making changes at. (I am very new to pytorch) May I please have some pointers on that?

[2019-04-08 11:16] apaszke commented on #18634
@hanmingliu2 When someone calls `torch.cat` it eventually dispatches to [this function](https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/TensorShape.cpp#L173-L181), which in the dense case simply calls into our legacy code which lives [here](https://github.com/pytorch/pytorch/blob/master/aten/src/TH/generic/THTensor.cpp#L690-L696).

[2019-04-08 11:37] Balandat commented on #15253
This would be great to have for kernel-based methods such as GP regression.

[2019-04-08 12:00] zuoxingdong opened #19013 "Different deterministic behavior between CPU and CUDA for orthogonal initialization"
It seems the orthogonal initialization behaves differently between CPU and CUDA. The reproducing code is attached below

[code]
gives
[code]

[code]
gives
[code]

[code]

[2019-04-08 13:08] hanmingliu2 commented on #18634
@apaszke Thank you so much! Will work on a solution very soon.

[2019-04-08 13:17] apaszke commented on #19013
This is expected. We do not guarantee that the random sequences generated on different devices will look the same. For performance reasons they are likely using different pseudo random generators, so it's almost impossible to make them equal.

[2019-04-08 13:17] #19013 closed

[2019-04-08 13:21] gfjiangly commented on #12780
Has this problem been fixed in the pytorch 1.0.1 version?
I encounter this problem(all lists get merged during tracing, like @zeryx's problem) now. But I don't know how to disable optimization.

[2019-04-08 13:27] Gouiaa commented on #2794
How to  transfer the flattened parameter in Cudnn.BLSTM (Lua torch) into nn.LSTM(bidirectional=true,...) ?
# Lua torch
`rnn = cudnn.BLSTM(1280, 256, 5, false, 0.5)`
# pytorch
[code]
[code]
and in
`print(list(lstm.named_parameters()))`
[code]
How transfer these flattened weights of rnn into lstm?

[2019-04-08 13:38] selimarikan commented on #13039
This issue still continues.
PyTorch: 1.0.1.post2
Python: 3.6.5
Pyarrow: 0.12.0
CentOS7

`import torch`
`import pandas as pd`
`df = pd.read_parquet('./test.parquet', engine='pyarrow')`
`Segmentation fault`

Note: Pyarrow: 0.13.0 also crashes with keras & tensorflow
`import pyarrow`
`import tensorflow`

[2019-04-08 13:52] BCWang93 opened #19015 "RuntimeError: reduce failed to synchronize: device-side assert triggered"
[code]

Anyon can help me!When I set the param as none like this 'nn.BCELoss()',it will works!But When I set the params as 'sizeaverage=False',it will give this error!This is why?

[2019-04-08 14:25] Coolnesss commented on #17501
@t-vi, Now that I think about it, doesn't your method of calculating the indices by hand also involve atomicAdds when actually doing the addition? It occured to me that even if one calculates the indices by hand, there's a race condition when adding them since multiple indices of `grad` may point to a single index of `grad_input`. How does one deal with this, or have I misunderstood something?

[2019-04-08 14:41] t-vi commented on #17501
No, my proposal was to have all writes to one grad_input entry happen in the same thread. Then you don't need atomicAdd. So you'd parallelize over `i` and dimensions `!= dim`. Regarding the problem of Tesor-accessing the right thing: I guess you could either make the thing 3d (`reshape(everything_before_dim, dim, everything_after_dim)`) or do some offset manipulation for the other dimensions and j

[2019-04-08 14:47] jhrmnn commented on #18619
After some poking around, I understand now that this is a natural consequence of `forward()` not tracking any operations, so that if intermediate results are used in `backward()`, Pytorch cannot know the computational graph and perform the derivatives. The correct approach is to implement also higher derivatives manually. So this is not a bug, but perhaps insufficient documentation.

[2019-04-08 14:57] ezyang commented on #18619
Thanks; I haven't completely understood your example, but I certainly agree that if you produce intermediate results from forwards, you must specify appropriate backwards formulas for them as well (much in the same way that if you wrote a forward function with multiple outputs, of course you'd have to write backwards for each output.)

I agree there is definitely something to be improved in the do

[2019-04-08 15:07] apaszke commented on #18619
This is certainly true in case of intermediate values (we might want to forbid adding those to `save_for_backward`, and require assigning them to `ctx` to make it clear that they're different), but you really _should_ be able to use the output of forward, which has been correctly saved, as part of your backward, so I don't think this is a problem limited to documentation only.

[2019-04-08 15:35] mrshenli opened #19016 "Clean up and consolidate DDP tests"
Tests for `DistributedDataParallel` are scattered in `test_distributed.py` and `test_c10d.py`. There are some duplicated contents, e.g., input modules and skip rules. We should dedup and consolidate existing tests, and extract them into a separate `test_ddp.py` file.

[2019-04-08 15:40] heiner commented on #1022
Same issue here.

Can be fixed by increasing Docker memory (e.g. https://stackoverflow.com/questions/44533319/how-to-assign-more-memory-to-docker-container).

@diwu1989's comment is interesting though: Is there a less demanding way of downloading and installing PyTorch than pip?

[2019-04-08 15:48] jhrmnn commented on #18619
@apaszke Am I right that currently there is no way to save the output of `forward` such that `backward` can correctly use it?

[2019-04-08 15:53] szali opened #19017 "_write_ninja_file_and_build calls check_compiler_abi_compatibility with the wrong default compiler name on Windows"
## 🐛 Bug

When compiling a c++ extension on Windows, in cpp_extension.py, _write_ninja_file_and_build calls check_compiler_abi_compatibility with the default argument "c++" if CXX is not set:

    check_compiler_abi_compatibility(os.environ.get('CXX', 'c++'))

 At another place (in the _check_abi function) the default is correctly set as "cl":

        elif IS_WINDOWS:
            compiler = os.en

[2019-04-08 16:00] driazati commented on #18627
Yes of course. As far as I know no one is working on any of these, so you can just pick whichever you want to do. Be sure to tag me and @eellison when you submit it so we can review it.

[2019-04-08 16:07] qb-tarushg commented on #18627
@driazati @aditya1702 I have also started working on this #18627 but not mentioned it as I was getting familiar with the code base. If possible can we divide these functions among ourselves for the implementation so as to avoid duplicate work?

[2019-04-08 16:10] ezyang commented on #18836
@gujinghui Do you know who would be best to look into this?

[2019-04-08 16:12] umanwizard commented on #19015
Can you give show the exact line that caused the error?

[2019-04-08 16:13] ezyang commented on #18825
Hi @vishwakftw, just to double check; what question exactly do we need to resolve, before we can fix this issue?

[2019-04-08 16:15] aditya1702 commented on #18627
@qb-tarushg Sure. I am also going through the codebase. We will divide the functions.

[2019-04-08 16:16] umanwizard commented on #19007
I doubt this is Windows specific so removing that label. Can someone comment on whether this is a bug or intended behavior

[2019-04-08 16:17] ezyang commented on #8698
Err, wouldn't 2 be the more backwards compatible choice?

[2019-04-08 16:17] ezyang commented on #18793
Doc fix is in #19020; maybe we want to make the function accept both keywords, but for now fixing the docs is the easiest thing to do.

[2019-04-08 16:20] vishwakftw commented on #8698
Well, my presumption was that people learned through the docs, which means that people might use the same keyword argument names specified in the docs more often.

[2019-04-08 16:21] umanwizard commented on #18999
Can you please try asking on the forums: https://discuss.pytorch.org/

[2019-04-08 16:22] qb-tarushg commented on #18627
@aditya1702 cool, thanks 👍

[2019-04-08 16:22] ezyang commented on #18781
I checked cmake 7e60e77c3c2a09eb11750616db50d2dc149a9c54 but did not see any logic update to FindCUDA.cmake which would have fixed this problem.

So, it might be that only the "modern" cuda support does this correctly.

Deprioritizing because the fix is not easy, and there's an easy workaround.

[2019-04-08 16:25] suo commented on #12780
This problem should be fixed in 1.0.1; can you provide a small script that we can run to reproduce your issue?

[2019-04-08 16:26] vishwakftw commented on #18825
The question is whether to use a full matrix gradient or a half (triangular) matrix gradient. If we use the latter, this issue will be unresolved for reasons specified in [this comment](https://github.com/pytorch/pytorch/issues/18825#issuecomment-479998806).

I also checked with TensorFlow, and they seem to provide a full matrix gradient instead of a triangular matrix gradient.

[2019-04-08 16:29] umanwizard commented on #18989
Duplicate of #18999

[2019-04-08 16:29] #18989 closed

[2019-04-08 16:30] eellison commented on #18627
Another good first issue is supporting the builtin-in math functions. I'll create a separate issue to track that

[2019-04-08 16:32] umanwizard commented on #18993
Please provide the full logs, this does not contain the actual compile error.

[2019-04-08 16:32] umanwizard commented on #18981
Seems like this is resolved (and now you are facing a new issue).

[2019-04-08 16:32] #18981 closed

[2019-04-08 16:33] umanwizard commented on #18967
@pietern are you working on this? If so I'll assign you and mark it as triaged to remove it from the oncall issues triage queue.

[2019-04-08 16:37] umanwizard commented on #18934
Appears to be a duplicate of #17008 .

[2019-04-08 16:37] #18934 closed

[2019-04-08 16:39] ggggggggbahugoa commented on #13008
Have you solved this problem? I also encountered this error.
Thx.

[2019-04-08 16:40] aditya1702 commented on #18627
@eellison Cool! Also what does [jit] tag mean?

[2019-04-08 16:40] umanwizard commented on #18933
Do you have a suggestion of what we can do in such a scenario? (`calloc` failing).

[2019-04-08 16:43] elfring commented on #18933
How do you think about to choose a more appropriate program error code finally?

[2019-04-08 16:44] umanwizard commented on #18932
I don't think this is related to CUDA since it is failing to find symbols from the BLAS library (like `cblas_gemm_s8u8s32_pack`).

[2019-04-08 16:45] umanwizard commented on #18932
At any rate, I think you would probably be able to get help quicker for this in the [forums](https://discuss.pytorch.org/), as it appears to be an issue with your individual setup. But please feel free to reopen if you think it is a more general issue with PyTorch.

[2019-04-08 16:45] #18932 closed

[2019-04-08 16:50] umanwizard commented on #18634
@hanmingliu2 thanks for looking into this, please let us know if you need any help/advice.

[2019-04-08 16:55] ezyang commented on #18718
@SPark9625 You want `torch/extension.h` for cpp extensions; `torch/torch.h` is valid for regular C++ use of Torch. `torch/script.h` is if you specifically want TorchScript functionality. I'm not sure about your include path question.

You do have a legitimate bug report, which is that we are recommending `torch/torch.h` when it is inappropriate. I refiled your issue in tutorials https://github.com

[2019-04-08 16:55] #18718 closed

[2019-04-08 16:55] #18725 closed

[2019-04-08 16:57] ezyang commented on #18836
Going to close this as a dupe of #18398

[2019-04-08 16:57] #18836 closed

[2019-04-08 17:06] pietern opened #19024 "Loss explosion with DataParallel on WGAN models"
See https://discuss.pytorch.org/t/huge-loss-with-dataparallel/40749 for the original report.

This seems to have regressed between 0.4.1 and 1.0 and needs to be debugged.

cc @mrshenli

[2019-04-08 17:09] apaszke commented on #18619
`save_for_backward` exists exactly for that purpose, what you see is a very severe bug on our side.

[2019-04-08 17:14] SPark9625 opened #19025 "C++ torch::Tensor serialization"
## 🚀 Feature

I am building an application where there's basically a producer and a consumer of `std::tuple<torch::Tensor, torch::Tensor>`s.

The producer has to run a neural network to produce the tensors, and the consumer has to train from the output of the producer, occasionally checkpoint to file, which the producer then occasionally reads and updates its own network with the new one. (I'm imp

[2019-04-08 17:14] eellison opened #19026 "Python math module support"
## [jit] Python math module support

The python math module is often used in numerical code. It would be nice to support it. I've divided up the math module into relatively higher priority and lower priority functions below.

Higher-pri:

- [x] acos
- [x] asin
- [x] atan
- [x] atan2
- [x] cos
- [x] fmod
- [x] modf
- [x] remainder
- [x] sin
- [x] tan
- [x] ceil
- [x] exp
- [x] floor
- [x] log
- [x]

[2019-04-08 17:17] eellison commented on #18627
FYI: https://github.com/pytorch/pytorch/issues/19026

It means that the issue is relevant to Pytorch jit / Torchscript and not really pytorch when run in pure python.

[2019-04-08 17:21] bbartoldson commented on #13008
I did not solve the problem, but this issue has gotten noticed since you commented, so it may be addressed.

[2019-04-08 17:22] eellison commented on #19026
You'll need to add the math function to our builtin_table in `torch/jit/__init__.py` (like with math.floor), add an implementation for the int and float version of the function in `register_prim_ops`, and then add tests in test_jit.py. Tag me and @driazati as reviewers

[2019-04-08 17:25] ggggggggbahugoa commented on #13008
I solve this problem!!!
https://github.com/pytorch/pytorch/issues/16012
Follow the steps to change the program!!!

[2019-04-08 17:27] vadimkantorov commented on #14864
@soumith Another option: `*.pt` and `*.ptz` (hints that it is a collection of multiple things, like `npz`).

[2019-04-08 17:28] ggggggggbahugoa commented on #16012
Thank you very much!!!

[2019-04-08 17:35] ezyang commented on #19007
cc @gchanan

[2019-04-08 17:38] ezyang commented on #19007
We should at the very least give a better error message here.

[2019-04-08 17:41] ezyang commented on #18995
It is not as automatic as you asked for here, but I believe torch.utils.checkpoint is what you are looking for.

[2019-04-08 17:41] #18995 closed

[2019-04-08 17:42] ezyang commented on #18933
Is there a specific problem you are running into here? We'd be happy to accept PRs to add more error handling and convert them into `AT_ERROR`, for example.

[2019-04-08 17:45] elfring commented on #18933
How do you think about to improve [static source code analysis](https://en.wikipedia.org/wiki/List_of_tools_for_static_code_analysis#C.2C_C.2B.2B "Tools for code analysis") also for this software?

[2019-04-08 17:48] jadrs opened #19028 "torchvision.transforms.functional.normalize breaks with CUDA tensors"
If you have a question or would like help and support, please ask at our
[forums](https://discuss.pytorch.org/).

If you are submitting a feature request, please preface the title with [feature request].
If you are submitting a bug report, please fill in the following details.

## Issue description

torchvision.transforms,functional.normalize breaks with cuda tensors

I guess lines 206 and 207 of

[2019-04-08 17:53] ezyang commented on #18825
cc @fmassa

Also cc @SsnL, ISTR you dealt with autograd functions with symmetry requirements when you worked on FFT. Maybe you have an idea?

[2019-04-08 17:56] Yamin05114 commented on #1917
Will the dataset shuffle if I use the code provided above?
dataloader_iterator = iter(dataloader)
`for i in range(iterations):
    try:
        X, Y = next(dataloader_iterator)
    except:
        dataloader_iterator = iter(train_loader)
        X, Y = next(dataloader_iterator)
    do_backprop(X, Y)`

[2019-04-08 17:56] SPark9625 opened #19029 "C++ custom module not thread safe"
## 🐛 Bug

If I create multiple threads, each owning its own built in pytorch module such as `torch::Linear`, I don't get thread safety related errors when running the networks concurrently. However, when I implement my own module, I get segmentation faults.

## To Reproduce

I managed to create this MCVE. This does nothing more than
1. define my own convolution block (`ConvBlock`)
2. define a func

[2019-04-08 17:57] ezyang commented on #18333
cc @apaszke, if someone implemented a PR like this, do you think we should accept it?

[2019-04-08 17:57] zou3519 commented on #18901
Would we require that there needs to be exactly `x.dim()` -1's? For example, what should happen with the following?
[code]

[2019-04-08 18:34] zdevito commented on #18975
This is due to this hack:

[code]

`_convolution` is the more fundamental op, and we should be recording that one. However, all the definitions are in C++ forwarding conv2d to _convolution.'

The right fix is to remove DONT_RECORD_TRACE, and instead to have definitions of these functions in builtin_functions.cpp that are inserted in place of these functions early in the compilation process. This w

[2019-04-08 18:36] dzhulgakov opened #19030 "Support __get_state__/__set_state__ for JIT serialization"
## 🚀 Feature
For custom C classes or for complex modules in JIT, there needs to be ability to supply customer serialization code.

## Motivation

We want to support custom opaque representations with the ability to serialize them. This is pretty important for opaque optimized layouts in inference (e.g. when using fbgemm), currently we use a hack with pack/unpack: https://github.com/pytorch/pytorch

[2019-04-08 18:42] SsnL commented on #18825
@vishwakftw So IIUC this issue, this is due to that `cholesky` is not a proper function in `R^{MxM}`, but only in the subspace of symmetric matrices.

In such cases we must acknowledge that gradients are not unique (or not properly defined). (e.g., think `f(v) = sum(v) = v[0]*2 = v[1]*2 = 1.1*v[0]+0.9*v[1]` only defined for `{(x, x) : x in R}`.)

Therefore, no matter which way of gradient computat

[2019-04-08 18:43] stephenroller commented on #18853
Updated scripts below:

`run.sh` unchanged, but pasted here:
[code]

`memtestcase.py` slightly changed:
[code]

Log (1.0.1post2):
[code]

Log (nightly 2019-04-04):
[code]

[2019-04-08 18:54] dzhulgakov commented on #17422
Overtaken by #19030 that has more description.

[2019-04-08 18:54] #17422 closed

[2019-04-08 18:56] ezyang commented on #18825
SGTM.

[2019-04-08 19:25] suo commented on #17858
Closing as we don't have repro. Feel free to reopen!

[2019-04-08 19:47] gchanan commented on #17662
@eellison yes, I believe so.

[2019-04-08 19:52] fmassa commented on #19028
This has been fixed in torchvision master

[2019-04-08 19:52] #19028 closed

[2019-04-08 20:24] olivernina commented on #5667
@ntomita I confirmed that updating to 0.3.0 fixes the problem. Thanks

[2019-04-08 20:33] umanwizard commented on #19015
Could you post this to the [forums](https://discuss.pytorch.org/)? You would probably get a faster response.

[2019-04-08 20:33] #19015 closed

[2019-04-08 20:34] umanwizard commented on #18993
Could you post this to the [forums](https://discuss.pytorch.org)? You would probably get a faster response.

[2019-04-08 20:35] soumith commented on #16733
@bhavinthaker target date April 30th, for F8

[2019-04-08 20:41] soumith commented on #19029
cc: @yf225 @gchanan

[2019-04-08 20:43] soumith commented on #18995
About a global GPU memory cap for a PyTorch process, we are not planning to implement that.

[2019-04-08 20:46] soumith commented on #19025
cc: @yf225 @gchanan

[2019-04-08 20:46] #12810 closed

[2019-04-08 20:56] LemonPi opened #19037 "Differentiable 1-D, 2-D covariance (numpy.cov) clone"
## 🚀 Feature
A differentiable way to calculate covariance for a tensor of random variables similar to `numpy.cov`.

## Motivation
Sometimes the covariance of the data can be used as a norm (as opposed to the implicit identity matrix in the standard x'y norm we have x'Sy where S is the covariance matrix, for example between x and y). It would be good to have a differentiable way of calculating thes

[2019-04-08 20:57] sdsy888 commented on #7943
I've encountered the same problem recently.

If you're using the `docker` to run the pytorch program, with high probability, it's because the shared memory of docker is not big enough for running your program in the specified batchsize.

The solutions for this circumstance are:
1. use a smaller batchsize to train your model.
2. exit the current docker, and re-run the docker with specified "--shm-s

[2019-04-08 21:03] soumith commented on #19017
cc: @peterjc123

[2019-04-08 21:04] colesbury commented on #18315
@iArunava these files are relevant:

https://github.com/pytorch/pytorch/tree/master/aten/src/ATen/native/README.md

https://github.com/pytorch/pytorch/blob/a7095b355ee76fcfcf2dcf0600e15b42c92d3a1c/aten/src/ATen/native/native_functions.yaml#L1744-L1764

https://github.com/pytorch/pytorch/blob/a7095b355ee76fcfcf2dcf0600e15b42c92d3a1c/aten/src/ATen/native/TensorFactories.cpp#L297

[2019-04-08 21:07] umanwizard commented on #18999
Discussed offline with @soumith and @ezyang , we decided to reopen this.

[2019-04-08 21:12] abonnet opened #19039 "Cannot change device of JIT module after initial loading using C++ frontend"
## 🐛 Bug

I exported a JIT model on GPU, then try to load it and run it on CPU, using C++ frontend.

## To Reproduce

Steps to reproduce the behavior:

1. Create a demo model and export it on GPU
[code]
2. Try to load the model and execute on CPU
[code]
Error
[code]

## Expected behavior

Expect `->to` function to recursively move all the parameters on CPU.

## Environment

Please copy and paste t

[2019-04-08 21:12] rockb1017 commented on #6408
Hello, @brod4910
I am looking forward to the implementation of vDNN. How is it going so far? would there be any way I can help?

[2019-04-08 21:43] eellison commented on #19039
CC: @zdevito recent module changes

[2019-04-08 21:46] zdevito commented on #19039
I didn't change anything related to the `to` function. Not sure that it is related.

[2019-04-08 22:00] #18823 closed

[2019-04-08 22:11] driazati commented on #19025
fyi we are working on something similar in #18003 for the JIT

[2019-04-08 22:29] gchanan commented on #19007
Looks like this was actually broken by https://github.com/pytorch/pytorch/pull/18779.

[2019-04-08 23:13] zasdfgbnm opened #19045 "[Feature Request] sorted_input for torch.unique"
Is it good to add a `sorted_input` to `torch.unique`?

Current cuda implementation always sort the input tensor first. But sometimes the input tensor is guaranteed to be already sorted. Sorting is O(n*logn), which is likely to be the most time consuming part of the whole computation, and it would be nice if we allow user to skip this part.

`torch.unique` with `sorted_input=True` would resemble `t

[2019-04-08 23:14] kostmo commented on #17273
This is also important to fix because when using the CircleCI API to list recently completed builds, the JSON response includes the full, expanded text of the `config.yml` file for each build entry.  This turns what should be just a few kilobyte-sized query response into dozens of megabytes.

CC @pjh5 @ezyang @yf225

[2019-04-08 23:17] zasdfgbnm commented on #19045
My use case is, I need to first sort a tensor to get the sorted values and indices. The indices would be used later somewhere, and the values would be used an input to a unique to get unique values and count. The benchmark shows that, the two most time consuming part of my function is the unique and sort.

[2019-04-08 23:56] spandantiwari commented on #18525
@nerox8664 and @houseroad - the fix has been merged. We can close this issue.

[2019-04-09 00:01] spandantiwari opened #19047 "TorchScript possibly does not handle ternary conditional op correctly."
## 🐛 Bug

It seems like TorchScript does not handle ternary conditional op from Python (`[on_true] if [expression] else [on_false] `) correctly.

## To Reproduce

Steps to reproduce the behavior:

1. The easiest way to repro this issue is by updating one of the existing test points.In the file torch/nn/modules/batchnorm.py change lines 62-65 from this:
[code]
to the following ternary op:
`exponent

[2019-04-09 00:02] houseroad commented on #18525
Thanks a lot for fixing this @spandantiwari

[2019-04-09 00:02] #18525 closed

[2019-04-09 00:02] spandantiwari commented on #19047
cc @houseroad @suo

[2019-04-09 00:02] ezyang commented on #18933
It's not something any of us are specifically looking into, but we would of course accept PRs for bugs that were found in static analysis. Getting us to change the way we right code to better accommodate static analysis is a harder sell, and there'd have to be some pretty good pay offs (and integration with our CI, and an easy way to run it locally, and low false positives) for it to be worth it.

[2019-04-09 00:28] soumith commented on #19045
i think it's a good idea, and I think `sorted_input` sounds fine.

[2019-04-09 00:34] soumith commented on #19008
please use the issue template and open a new issue, I dont know what OS you are on, what GPU / CPU you have, etc. This is why we have an issue template, so that you give this information.

[2019-04-09 00:34] #19008 closed

[2019-04-09 00:35] soumith commented on #17433
oh okay, good to know, didn't know this.

[2019-04-09 00:38] eellison commented on #19047
@wanchaol do you think this could be related to the `is None` compiling you did ?

[2019-04-09 00:39] eellison commented on #19039
@driazati do you mind taking a look? peter implemented to on modules but is no longer working on the team

[2019-04-09 00:52] iArunava commented on #18315
Thanks @colesbury . I was going through `TensorFactories.cpp`, will take a look at `native_functions.yaml` and start making the PR.

[2019-04-09 01:27] gujinghui commented on #18836
@ezyang  By default, we assumed MKL is already installed in system in caffe2 built with MKLDNN.
So, no needs to install MKLML.
This case should be a new requirement.
I'll try to look into it.

[2019-04-09 02:04] eellison commented on #19047
There's a few things here:

1) We only do optional refinement on local variables, not attributes, so `self.momentum` won't get refined from `float?` to `float`.

2) The reason it works without the ternary expression is because a sort of hack that was put in to allow us to compile `if is None` branches without first class modules.

3) Even if you assign a local with
[code]
It doesn't currently comp

[2019-04-09 02:05] kelvinheng92 opened #19051 "CUDA out of memory halfway during training. Not sure whether its due to batch norm"
File "train.py", line 226, in <module>
    main()
  File "train.py", line 94, in main
    train_phase(model, optimizer, scheduler, epoch, data_loaders, data_size)
  File "train.py", line 138, in train_phase
    anc_embed, pos_embed, neg_embed = model(anc_img), model(pos_img), model(neg_img)
  File "/home/kelvinheng/anaconda3/envs/proj1/lib/python3.7/site-packages/torch/nn/modules/module.py", line

[2019-04-09 02:28] soumith commented on #19051
please use https://discuss.pytorch.org for questions

[2019-04-09 02:28] #19051 closed

[2019-04-09 02:45] ofexe opened #19053 "RNN module weights not compacted"
I exported a JIT model and load it in C++, it runs well on CPU. but when I run it on GPU, I get this warning and then the program crashed.
[code]
I tried to read the API documents, but I can't find flatten_parameters() function. And there is no usage document for other APIs.

Here is my code
[code]

And [this link](https://github.com/Sierkinhane/crnn_chinese_characters_rec/tree/master/trained_mode

[2019-04-09 03:12] xsacha opened #19055 "[Windows] Crashes when unloading delay-loaded DLL (caffe2)"
## 🐛 Bug

I have code set up to delay load CUDA-related binaries as they tend to reserve a lot of memory.
When attempting to unload the delay-loaded libraries, when caffe2 is included, I receive a crash.

The call stack looks like this:

[code]

At time of crash there is one listener with default deleter. The operator it is working on is operatorDefIterator with schema name '_c10_experimental::Add

[2019-04-09 03:15] michaelarg commented on #18627
Hi all, I have started work on all() and sum().

[2019-04-09 04:00] Youssefares commented on #19003
Let me know if you'd like me to work on this :man_technologist:

[2019-04-09 04:17] soumith commented on #19003
@Youssefares sure thing, go for it. Thank you!

[2019-04-09 04:56] vuamitom commented on #12896
Maybe you can try `repeat` instead of `expand`.

[code]

[2019-04-09 05:08] wanchaol commented on #19047
Ternary IF is handled different with general IF statement. We meta program IF var is None (this is kinda hack we did to only emit one branch when we are sure that the condition value is None), but if we change to ternary IF, we will only do optional refinement. But as @eellison said, there's no such a type refinement for module attributes yet.

[2019-04-09 05:12] charlesCXK opened #19057 "building blocked when executing `python setup.py build` during COMPILER_SUPPORTS_LONG_DOUBLE"
## building blocked when executing python setup.py build

### Here is my environment info:

- OS: Ubuntu 16.04
- GCC: 5.3.0
- CUDA: 9.0
- GPU: GeForce GTX 1080 * 2
- PyTorch to be installed: 1.0.0

### I try to build PyTorch=1.0.0 from source but it seems to be blocked here (`Performing Test COMPILER_SUPPORTS_LONG_DOUBLE`). I had waited for a long time but it didn't go on. Why did this happen?
[co

[2019-04-09 06:16] #19017 closed

[2019-04-09 06:36] CyFeng16 commented on #16831
Hi, I'm facing the same error.
I receive `RuntimeError: cuDNN error: CUDNN_STATUS_INTERNAL_ERROR` error running on a multi-gpus server via NGC PyTorch docker image, while running the same code in my personal computer via PyTorch installed by conda gets success.

[2019-04-09 06:41] mruberry commented on #16831
@CyFeng16 can you post a code snippet that reproduces the error you're finding as well as instructions to run the snippet?

Also, which NGC PyTorch docker image are you using?

[2019-04-09 06:47] CyFeng16 commented on #16831
@mruberry Some additional info:
- NGC docker within PyTorch version `1.1.0a0+be364ac` failed.(on server)
- Conda env within PyTorch version `1.0.1.post2` run perfectly.(on PC)
Apologize that could not share these codes for now.

[2019-04-09 06:50] mruberry commented on #16831
Thank you for reporting the issue, but without a snippet to reproduce the error you're seeing I don't know if we'll be able to fix your issue. While you're seeing the same error, the cause may be different.

[2019-04-09 06:54] CyFeng16 commented on #16831
:label:  will report when I find a alternative way to solve the problem.

[2019-04-09 08:24] mfuntowicz opened #19064 "Compiling from master yields std::runtime_error"
I recompiled PyTorch to match some changes in our internal infrastructure and since, every attempt to import torch yields to the following error message:

[code]

Compilation done on commit : 72e171d

[2019-04-09 08:42] yhy0258 opened #19065 "solve the problem"
CUDA version is too high GPU does not support

[2019-04-09 09:41] apaszke commented on #18333
I think it all depends on the complexity, but it is a very reasonable request. However, it needs to take our existing constraints into account. Basically, we can allow parallel execution, but only on disjoint graphs (i.e. no nodes are shared). This can be implemented relatively easily by adding an atomic boolean field on `Function` to allow threads to "lock" them, but I'm afraid it might turn out

[2019-04-09 11:08] nurlano opened #19066 "int type of split_size_or_sections parameter in torch.split() is not handled"
`t.shape` --> torch.Size([7, 5, 34])
`t.split(2, dim=-1)[0].shape` --> torch.Size([7, 5, 2])
split_size_or_sections of 2 is of type `int` and it is supposed to split the tensor by half but instead it is splitting into chunks of size 2 in given dim

[2019-04-09 12:51] coolbei commented on #10942
same problem.  error happen at a avg_pool op.

[2019-04-09 15:36] ezyang commented on #19055
cc @smessmer It sounds like deregistration on c10 dispatcher is not looking correctly

[2019-04-09 15:44] yhy0258 commented on #19065
thanks.
however,this is the answer that I answered to another question,because
this is my first time to write a comment.

[2019-04-09 15:47] soumith commented on #19026
@hikjik it looks like not. Pick some of the functions you intend to work on first, and declare here, and then go for it.

[2019-04-09 16:08] pietern commented on #19064
Thanks for the report. Can you share your CMake output? I'm suspicious of pybind11 here and think it may have pulled in some older version. When the distributed module is loaded (through `import torch.distributed`) it registers all relevant C++ classes with Python. This is where I think this problem happens, where it tries to find a mapping between `std::duration` and the equivalent Python object

[2019-04-09 16:25] gchanan commented on #19007
Reassigning to @li-roy.

[2019-04-09 16:25] yiling-chen commented on #18993
I ran into the same problem and the following is my full log.

Building wheel torch-1.1.0a0+df05c7f
-- Building version 1.1.0a0+df05c7f
[3/784] Building CXX object caffe2/CMakeFiles/caffe2.dir/ideep/operators/conv_op.cc.o
FAILED: caffe2/CMakeFiles/caffe2.dir/ideep/operators/conv_op.cc.o
/usr/bin/c++  -DCPUINFO_SUPPORTED_PLATFORM=1 -DHAVE_MALLOC_USABLE_SIZE=1 -DHAVE_MMAP=1 -DHAVE_SHM_OPEN=1 -DHAVE_

[2019-04-09 16:28] soumith commented on #18993
@yiling-chen please open a new issue using this template: https://github.com/pytorch/pytorch/issues/new?template=bug-report.md

[2019-04-09 16:31] charlesCXK commented on #19057
@ezyang
Hi, `/mnt/lustre` is a remote filesystem on the server of my company.
When I typed in the command `strace -f python setup.py build`, the last several lines of the output are shown below:
[code]
And the output **hangs on** here.

[2019-04-09 16:43] zdevito commented on #18569
Oh, sorry. I missed the reply a week ago :( Yes, the example makes sense. I think I understand the problem now. We can make this work.

[2019-04-09 16:50] lobpcg commented on #8049
Such LOBPCG implementation is still at the planning stage; see https://github.com/lobpcg/blopex-python/blob/master/README.md

[2019-04-09 16:58] zdevito opened #19070 "Trace more than one function in a module"
## 🚀 Feature

## Motivation

## Pitch

Users are running into issues where they are tracing a non-forward method on a module, and getting errors because the weights used in the trace are either being considered constants, or they are autograd recording tensors and the tracer refuses to handle them. The trace API already understands how to trace a forward method correctly capturing weights. It woul

[2019-04-09 16:58] zdevito commented on #18569
Here is my proposed fix: #19070

[2019-04-09 17:01] eellison commented on #19039
actually @wanchaol can you take this over?

[2019-04-09 17:02] eellison commented on #19053
CC: @driazati serialization

[2019-04-09 17:11] ngimel commented on #18053
@vlasenkov I can repro the error with binary packages that use cudnn 7.4.2, but I cannot repro it with source builds with cudnn 7.5. Can you try building from source with cudnn 7.5 and see if it fixes your error? Unfortunately, binary packages statically link to cudnn, so you cannot drop and replace cudnn version in binaries.

[2019-04-09 17:12] ezyang commented on #19057
Can you paste the whole log to a gist?

[2019-04-09 17:13] cpuhrsch commented on #598
The corresponding pull requested https://github.com/pytorch/pytorch/pull/1016 mentioned by @apaszke has been marked as merged.

@ludc - is this issue resolved?

[2019-04-09 17:14] pjh5 commented on #17273
I don't think I understand what you're referring to. What do you mean by "expanded YAML configurations" and "build output"?

[2019-04-09 17:22] #1814 closed

[2019-04-09 17:23] cpuhrsch commented on #1906
@dimatura - given recent releases, is this issue still current?

[2019-04-09 17:28] apaszke commented on #598
No, this has never been fixed, and I think it's a wontfix for the foreseeable future.

[2019-04-09 17:37] cpuhrsch commented on #1930
With recent changes in how reductions are implemented this issue might not be current anymore @melange396

[2019-04-09 17:39] cpuhrsch commented on #1938
@zym1010 - given recent releases, is this issue still current?

[2019-04-09 17:41] #18518 closed

[2019-04-09 17:41] cpuhrsch commented on #1964
@DarwinSenior - is this issue still current?

[2019-04-09 17:42] t-vi commented on #598
I must say I did like @albanD 's approach in #12573 . And think it might be worthwhile even if it has limitations (as long as hooks not being called is the only harm), one might warn if by the end of the forward the inputs have been inplace-modified..

Of course, my ideal PyTorch has inplace hooks for #7313, which might help with the issues that killed #12573.

[2019-04-09 17:47] shane-carroll commented on #19039
Related: an analogous error occurs if the model is cast to a different scalar type in `c++`, e.g., half to float, with the `module->to(ScalarType)` method

[2019-04-09 17:52] #7011 closed

[2019-04-09 18:18] #1964 closed

[2019-04-09 18:30] mfuntowicz commented on #19064
@pietern Thanks for tracking this.

Yet, I've been able "overcome" this somehow by compiling PyTorch again with a git clean -fdx in between, thus I don't have the logs for the failed compilation.

I just tried again with the same command line I ran this morning and the error doesn't occur. I'll investigate a little bit more on my side, to see if I can reproduce this, and will follow up on this top

[2019-04-09 18:33] kostmo commented on #17273
If one clicks on the "Configuration" tab on [this page](https://circleci.com/gh/pytorch/pytorch/812808#tests/containers/0), a large number of lines will be shown:
<img width="922" alt="Screen Shot 2019-04-09 at 11 14 06 AM" src="https://user-images.githubusercontent.com/261693/55824987-e2153100-5ab9-11e9-88e7-c1fbd18499be.png">

This is the "expanded" form of the `config.yml` file.  One may locall

[2019-04-09 18:55] ezyang commented on #13039
@selimarikan That's an interesting data point, that pyarrow crashes with tensorflow too. Could this be a packaging problem with pyarrow's pip binaries?

[2019-04-09 18:56] #18793 closed

[2019-04-09 19:25] ezyang opened #19076 "torch.load should report error if invalid map_location is passed"
Extracted from #17364

[code]

There is a typo in this example: user meant to write `cuda:1`. `torch.load` should raise an error in this case.

[2019-04-09 19:26] ezyang commented on #19076
cc @danielgordon10

[2019-04-09 19:26] ezyang commented on #17364
I think that you are actually tripping over a few issues here. I'm going to split out a few of them into their own issues.

[2019-04-09 19:31] ezyang commented on #17364
I can't reproduce your initialization of GPU 0 on master.

[code]

From another terminal, nvidia-smi:

[code]

My environment:

[code]

Could you please try upgrading PyTorch and see if that resolves your issue? Please reopen this issue if it does not.

#19076 is still a legit issue, I will leave that issue open.

[2019-04-09 19:31] #17364 closed

[2019-04-09 19:36] ezyang commented on #16762
@umanwizard are you still planning to work on this?

I think it is more important for topk to be consistent with sort, than it is for it to return "non-NaN"s when there are NaNs in the input. NaN means something was done wrong.

[2019-04-09 19:38] #16520 closed

[2019-04-09 19:41] umanwizard commented on #16762
I completely forgot about this. Thanks for the reminder. Yes I will fix it.

[2019-04-09 19:41] umanwizard commented on #16762
I completely forgot about this. Thanks for the reminder. Yes I will fix it.

[2019-04-09 19:44] umanwizard opened #19077 "Can't assign to elements of bool tensor when sharing memory with numpy."
## 🐛 Bug

See title

## To Reproduce

Steps to reproduce the behavior:

[code]

Compare the situation with other types:
[code]

## Expected behavior

## Environment

latest master as of 4/9 (ad45d0920289c2fca6707df14d3c739936484571)

[2019-04-09 19:46] aditya1702 commented on #18627
Hi all, I am working on any() and long()

[2019-04-09 19:51] t-vi commented on #16762
FWIW the move topk to ATen patch has the changes, but it's blocked on the incompatibility with ROCm.

[2019-04-09 19:58] ezyang commented on #39
This is a pretty old issue, but don't close me just yet! If you want to close me, please go through the list and check if we've already fixed the error message problems.

[2019-04-09 19:59] ezyang commented on #54
@soumith Do you know what the status on this issue is now?

[2019-04-09 20:01] rs9899 commented on #11929
Can you please update the link?
This link is not working and I am need of the same for my project.

Thanks

[2019-04-09 20:02] rs9899 commented on #11929
Problem solved
[https://gist.github.com/bkj/f448025fdef08c0609029489fa26ea2a]( https://gist.github.com/bkj/f448025fdef08c0609029489fa26ea2a)
It seemed like a minor link issue.

[2019-04-09 20:15] TheCodez commented on #19026
I'll implement  `asin`, `atan`, `atan2`, `cos`, `sin`, `tan`.

[2019-04-09 20:23] danielgordon10 commented on #17364
I do not see the issue in torch==1.0.1.post2 :)

[2019-04-09 20:24] hikjik commented on #19026
I work on ceil, exp, log, log1p, log2, log10, pow, sqrt.

[2019-04-09 20:33] mrshenli opened #19078 "Support multiple map_locations in torch.load"
`torch.load` has a `map_location` arg which specifies the destination device to load a module. But it only supports a single device for now, and users need to do extra work for multi-gpu modules. Shall we allow  `map_location` to take a map object from src devices to dst devices? For example, it could be sth like below. Then params/buffers on device `cuda:0` will be loaded to `cuda:4`, and `cuda:1

[2019-04-09 20:38] qb-tarushg commented on #18627
Hi all, I am working on bin(), enumerate(), reversed()

[2019-04-09 20:45] krstp opened #19079 "Empty tensor instead of scalar."
See https://github.com/pytorch/pytorch/issues/13404. The error continues with details included in comments.

[2019-04-09 20:47] JohnnyRisk commented on #8985
![batch_norm_equation](https://user-images.githubusercontent.com/18605542/55833263-8906c680-5ad4-11e9-92a0-46d8fbca432d.png)

Sorry If I have misunderstood your code but, in self.bn(x) doesn't this already have a saved gamma and beta which it applies to the input?

According to the equation above which comes from the Modulating Early Visual Processing by Language paper (https://papers.nips.cc/pape

[2019-04-09 20:48] krstp commented on #1256
Any tip to a related issue? See comments at: https://github.com/pytorch/pytorch/issues/13404

[2019-04-09 20:48] krstp commented on #11176
Any tip to a related issue? See comments at: https://github.com/pytorch/pytorch/issues/13404

[2019-04-09 21:12] sdsy888 commented on #8976
I've encountered the same problem recently.

If you're using the `docker` to run the pytorch program, with high probability, it's because the shared memory of docker is not big enough for running your program in the specified batchsize.

The solutions for this circumstance are:
1. use a smaller batchsize to train your model.
2. exit the current docker, and re-run the docker with specified "--shm-s

[2019-04-09 21:16] selimarikan commented on #13039
@ezyang tensorflow segfault happens with the latest (0.13.0) version of pyarrow but not with previous (0.12.0).
Some people claim that if they use pyarrow conda package, it works. But then pandas cannot find pyarrow.
I had a similar PyTorch segfault issue with some other package (hnswlib), I solved it by building locally with relatively newer gcc (4.9) compared to the provided package (4.6).
So pr

[2019-04-09 21:42] mrshenli commented on #19078
My bad. The API is already there.

[2019-04-09 21:42] #19078 closed

[2019-04-09 21:43] Krovatkin commented on #17970
@lorenwel

We recommend tracing for CPU and GPU and keeping both versions:

https://pytorch.org/docs/master/jit.html#frequently-asked-questions

`OneMinus` doesn't fail due to a lucky coincidence that it never allocates temporary storage on CPU, whereas `Not` does just that.

[2019-04-09 23:02] soumith commented on #13039
this is a packaging issue. There's a long context in the following references:

- https://github.com/apache/arrow/pull/3177
- https://groups.google.com/a/tensorflow.org/forum/#!topic/developers/TMqRaT-H2bI/overview
- https://docs.google.com/document/d/1uYZK2jQtDUPpo3AHe18ZCH1jS9be9s8zR3axLR1SOG0/edit#heading=h.7sjot6x53yvw
- https://discuss.python.org/t/the-next-manylinux-specification/1043

[2019-04-09 23:03] soumith commented on #13039
the known working solution is to use `conda` for pandas, arrow, pyarrow, pytorch, tensorflow because `conda` doesn't have this C++ABI problem (conda ships with a standardized environment even for C++ bits)

[2019-04-09 23:35] Suley commented on #3022
Thanks. Currently there's a task running at the server. I will try it after the task is finished, and share my test result.
But still can't explain why stressing gpu and cpu works, but pytorch doesn't. Hope someone can dig into this and come out with a solution.

[2019-04-10 00:11] jamesr66a opened #19088 "[PyTorch] Unary Operator Vectorization"
After https://github.com/pytorch/pytorch/pull/19041 lands, we have several more unary operators that should be vectorized:

- [ ] digamma
- [ ] lgamma
- [x] erfinv
- [ ] fill
- [ ] clone
- [ ] contiguous
- [ ] clamp
- [ ] sign
- [ ] zero

[2019-04-10 00:44] dzhulgakov opened #19092 "[RFC] Memory format (aka layout aka NHWC) support"
## Problem statement

CNN operators utilize canonical order of tensor dimensions and assign them semantic meaning. For the 2D case in PyTorch today an input to torch.nn.Conv2d has to be a 4d tensor in NCHW order - <batch, channels, width, height>.

For performance reasons, it's often beneficial to reorder dimensions differently so that memory accessed by particular operations is laid out contiguou

[2019-04-10 02:24] Liji-i commented on #17108
I also have the same problem, the configuration is similar to yours, but a very old Nvidia graphics.
When I run python test files with pycharm and notepad++, I get the same problem, and rebooting is not ok.
But when I run the test code in the command line, it works fine. When I return to pycharm or notepad++ again, I can run it.
It seems that this bug is kinda random.

Run code in CMD，It worked.

[2019-04-10 03:06] xsacha opened #19095 "[CUDNN] Crash when putting in 3x1280x720 tensor in to specific model"
## 🐛 Bug

I changed the size of a tensor input so that it was 1280x720 where normally it is dynamic size. Other sizes all seem to work but I have not done a thorough test.

The model was traced in python and loaded via libtorch in C++.

Stack trace is as follows:
[code]

Output is as follows:
[code]
## To Reproduce

Steps to reproduce the behavior:

1. Complicated to reproduce but does reproduce e

[2019-04-10 03:28] asa008 commented on #18645
is this problem solved now? I compiled the source code yesterday, but still encounter the problem.

[2019-04-10 03:29] charlesCXK commented on #19057
@ezyang
I am sorry that I fell asleep last night. I have redirected the output of the terminal to 'log.txt', but the file is too large (> 50M) and can't be uploaded to github gist. Can I share you a BaiDuYun link?
**link**: [https://pan.baidu.com/s/1mD3CLDdMwOmDnxhTIWxJ-w](https://pan.baidu.com/s/1mD3CLDdMwOmDnxhTIWxJ-w)
**passwd**: 3krw

[2019-04-10 05:37] ZhuXingJune opened #19098 "[C++ front end] how to use clamp to clip gradients?"
## ❓ Questions and Help
hi,  I wonder if this could clip the gradients:

for(int i=0; i<net.parameters().size(); i++)
		{
			net.parameters().at(i).grad() = torch::clamp(net.parameters().at(i).grad(), -GRADIENT_CLIP, GRADIENT_CLIP);
		}
optimizer.step();

I found it doesn't seem to work, and I still got large output.
How can I use the "clamp“ correctly?
### Please note that this issue tracker is n

[2019-04-10 05:38] #19098 closed

[2019-04-10 06:20] luoan commented on #10942
`import torch
import torch.nn as nn
import torch.nn.functional as F

class mynet(nn.Module):
    def __init__(self):
        super(mynet, self).__init__()
    def forward(self, x):
        #return F.avg_pool2d(x, (480, 640))      # this is ok
        return F.avg_pool2d(x, x.size()[2:])     # error, parameters of avg_pool2d should be specific number when use torch.onnx.export to save as *.onnx

[2019-04-10 06:27] luoan commented on #10942
![2019-04-10 14-24-53屏幕截图](https://user-images.githubusercontent.com/13641390/55856390-bae36000-5b9c-11e9-8196-3c9b3ab60ca8.png)

[2019-04-10 06:30] vishwakftw commented on #111
This has been included in https://github.com/pytorch/pytorch/commit/29ea08616bd10f50b31afcff077f3e8feb3d9792 by @ezyang.

[2019-04-10 06:39] iArunava commented on #18315
Hi, What's the best and quick way to recompile the code and test after I make the changes to cpp files?

Also, where exactly is `at::empty` and `random_` defined? The core function which this calls.
https://github.com/pytorch/pytorch/blob/a7095b355ee76fcfcf2dcf0600e15b42c92d3a1c/aten/src/ATen/native/TensorFactories.cpp#L325-L326

[2019-04-10 07:22] jerrybai1995 opened #19101 "Can't call backward() in backward()?"
Hi,

I'm not sure where the problem is, but I'd like to call `backward` of function `F1` inside the `backward` of function `F2`. Here's a toy example:

[code]

And the output is
[code]

However, if I pull the inner `backward` call out, then (obviously) the backward goes through without a problem:
[code]

Are we allowed to call `backward` of another function inside a `backward`? Where is the error

[2019-04-10 08:35] luoan commented on #18113
@E1eMenta

i face the problem too
here is my test and result, it seems at present, we can only use specific numbers for parameters, not variable parameters,  and align_corners=True is not supported yet
[code]

[2019-04-10 08:47] npyoung opened #19103 "CUDA streams not being executed concurrently"
## 🐛 Bug

Queues of operations assigned to different cuda streams are executed in series, not concurrently.

## To Reproduce

Steps to reproduce the behavior:

1. Create several streams
1. Assign work to be done in each stream (e.g. Fourier transforms)
1. Call `torch.cuda.syncrhonize()` at the very end
1. Run `watch -n 1 nvidia-smi` to see GPU utilization
1. Time execution to compare to explicitly

[2019-04-10 08:55] zixufang opened #19104 "Is there 0.5.0version of pytorch?"
when I tried to use Dataparallel, I came across the problem" Arguments are located on different GPUs",
I found that I should use the 0.5.0 version to solve the problem on the forum.
However ,I have been trying to find the correct version for a long time with no result.Can anyone help me ?
(ps, I tried to run the code on pytorch1.0, but error came in the dataloader part “RandomSampler’ object has n

[2019-04-10 09:08] yunsangq commented on #14946
I have same issue.
when i try to convert pytorch 1.0.1 model to tensorrt(tensorrt >= 5.1 is support pytorch >= 1.0)
convert process is pytorch model -> ONNX model -> tensorrt

I success convert to pytorch model -> ONNX model using torch.onnx.export()
but ONNX model -> tensorrt have issue.

because,
pytorch >= 1.0 export **onnx opset version 9**
but tensorrt >= 5.1 support **opset version 7**
[code

[2019-04-10 10:02] xxradon commented on #17797
@wanchaol @yf225 Have this problem be solved or still exist in latest master branch?This error will limit th  pytorch production usage.

[2019-04-10 10:49] catrueeb opened #19106 "Performance issue with torch.jit.trace(), slow prediction in C++ (CPU)"
Hi,
Scripted CNNs are predicting much slower, especially on C++.
On the python side, this test shows the decrease in performance:
[code]
The output is:
[code]
So after tracing the module, prediction is much slower. When I load the model in C++, the _forward_ method actually decreases the speed of the real-time prediction from 120Hz to 30Hz. Is there a way this performance could be improved?

[2019-04-10 11:23] Mr-zihao opened #19107 "pytorch/caffe2/onnx/backend.cc:1668:57: error: invalid conversion from ‘google::protobuf::int32 {aka int}’ to ‘onnx_torch::TensorProto::DataType {aka onnx_torch::TensorProto_DataType}’ [-fpermissive]"
## ❓ Questions and Help
my god, when i compile the pytorch1.0 form source(v1.0rc0 v1.0rc1), i get this error.
### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

[2019-04-10 12:32] wytcsuch opened #19108 "caffe2 c++"

[2019-04-10 12:32] #19108 closed

[2019-04-10 12:40] wtliao commented on #12977
@rsangole  I have the same issue as yours. Have you figured out the reason?

[2019-04-10 12:50] albanD commented on #598
@t-vi This approach lead to other issues with inplace ops in the autograd.
I will have time in the next couple of month to work on them properly and hopefully fix them all.

A note has been added in the documentation though explaining that they are mostly broken at the moment.

[2019-04-10 14:10] hanmingliu2 commented on #18634
@umanwizard Sure. By the way, is it best practice to discuss on how to improve the feature here with you guys before I make an PR?

[2019-04-10 14:14] #111 closed

[2019-04-10 14:31] bentrevett commented on #18110
If it's any use, I also have this issue.

## Environment
CUDA used to build PyTorch: 9.0.176

OS: Ubuntu 18.04.1 LTS
GCC version: (Ubuntu 7.3.0-27ubuntu1~18.04) 7.3.0
CMake version: version 3.10.2

Python version: 3.7
Is CUDA available: Yes
CUDA runtime version: 9.1.85
GPU models and configuration: GPU 0: GeForce GTX 1080 Ti
Nvidia driver version: 415.27
cuDNN version: Could not collect

Versions

[2019-04-10 14:31] eigenfoo opened #19111 "`torch.irfft` and `np.fft.irfft` disagree"
## 🐛 Bug

I originally posted this [on the PyTorch forums](https://discuss.pytorch.org/t/torch-irfft-and-np-fft-irfft-disagree/41994), but I suspect it is a bug and belongs here.

Briefly, `torch.irfft` and `np.fft.irfft` produce different results: not only are the results not numerically close, they are not even of the same shape.

## To Reproduce

[code]

## Expected behavior

I would expect tha

[2019-04-10 14:35] Palmitoxico commented on #15212
Still having the same problem when building from master 23b0908d3852973de1a1f3dbd117ebabdf51153e .

[2019-04-10 14:38] #19045 closed

[2019-04-10 15:01] zou3519 commented on #4068
Added the feature in #18957.

[2019-04-10 16:03] jerrybai1995 commented on #19101
Found the solution here: https://github.com/pytorch/pytorch/issues/1776. Thanks!!

[2019-04-10 16:03] #19101 closed

[2019-04-10 16:18] soumith commented on #18315
@iArunava for recompile / test, see the [contributing guide](https://github.com/pytorch/pytorch/blob/master/CONTRIBUTING.md) which has lots of tips

[2019-04-10 16:22] fmassa commented on #18634
@hanmingliu2 sure, discussing here before is a good way of starting.

[2019-04-10 16:22] soumith commented on #19104
there is no 0.5.0.
1.0 is the 0.5.0

[2019-04-10 16:22] #19104 closed

[2019-04-10 16:52] eellison commented on #19106
Could you try running it once, and then timing the subsequent run? We compile the graph for each set of different tensor dimensions that are run.

[code]

[2019-04-10 17:11] houseroad commented on #10942
Yes, this indeed may cause issue, because in ONNX we statically determine the kernel size. If you need a global pool, I would suggest `adaptive_avg_pool2d(input, [1, 1])`

[2019-04-10 17:15] driazati opened #19117 "[jit] Can't `torch.jit.script` a lambda"
Something like `torch.jit.script(lambda x: x + 2)` fails since our source introspection requires a standalone function

[2019-04-10 17:27] kasparlund opened #19119 "torch.Tensor.ndim is missing"
## 🚀 Feature
need this numpy feature for easy plotting with matplotlib: https://docs.scipy.org/doc/numpy/reference/generated/numpy.ndarray.ndim.html

## Motivation
matplotlibs .plot uses .ndim when passing a ndarray

The missing attribute on tensor can be circumvented by the following:
#This monkey-patch is there to be able to plot tensors
torch.Tensor.ndim = property(lambda x: len(x.shape))

[2019-04-10 17:57] PavelOstyakov opened #19120 "Embedding layer does not check input range"
## 🐛 Bug

Embedding layer does not check input range when running on cuda

## To Reproduce

Code to reproduce the behavior:

[code]

[code]

## Expected behavior

It should raise a correct error

## Environment

PyTorch version: 1.0.1.post2
Is debug build: No
CUDA used to build PyTorch: 9.0.176

OS: Ubuntu 18.04.1 LTS
GCC version: (Ubuntu 7.3.0-27ubuntu1~18.04) 7.3.0
CMake version: Could not colle

[2019-04-10 18:07] S7309 opened #19121 "Computation of loss is taking very much time on GPU in pytorch"
I've been trying to implement DCGAN in pytorch. But during training, a single iteration of training loop takes more than 7-8 minutes on GPU on google collab. I can't understand what is wrong in the code. I have been trying many techniques to overcome this issue but nothing seems to be working..

Here's My training loop and it was taking more than 7-8 minutes on a single iteration:

[code]

[2019-04-10 18:08] chausies opened #19122 "[feature request] torch.trapz or some other method for numerical integration similar to numpy"
numpy and matlab both have a trapz (and a simps) function, which makes it convenient to integrate y values over some x values. It seems pytorch is lacking this convenient function (even though it has other functions like cumsum). It would be great if we could have an implementation of trapz or simps similar to [numpy's](https://docs.scipy.org/doc/numpy-1.14.0/reference/generated/numpy.trapz.html).

[2019-04-10 18:11] #19077 closed

[2019-04-10 18:25] chausies opened #19123 "[feature request] torch.pi"
It would be great if you could add `torch.pi`, which should return the constant 3.14159(etc).

Torch is highly desirable as a significantly faster alternative to numpy, implementing most of its functions. But it's missing a very basic thing, which is an easily accessible `pi` constant. It would be great and convenient if this simple thing were added.

As for implementation, literally linking to ma

[2019-04-10 18:49] gchanan commented on #19123
duplicate of https://github.com/pytorch/pytorch/issues/6510.

[2019-04-10 18:49] #19123 closed

[2019-04-10 19:00] chausies commented on #19123
I don't think this is a duplicate, nor should it be closed. In #6510, the user was satisfied with `pi` being in the `math` module, and closed it themselves. However, I am not satisfied with that, and argue that `pi` should be included directly in `torch` as a convenience and for completeness's sake. numpy, scipy, and sympy all include it as well, just as some examples.

[2019-04-10 19:10] colesbury commented on #19103
This isn't a bug.

1) Operations on different GPUs are on different streams. The stream code here do nothing
2) If you want to make effective use of multiple GPUs you should interleave launches to avoid paying 100x overhead for the first 100 launches on GPU 0 before even launching on GPU1. (Or use multiple threads)
3) The operations are running concurrently, you can see this with an outer loop:

[

[2019-04-10 19:10] #19103 closed

[2019-04-10 19:18] colesbury commented on #19120
We're unlikely to be able to check the index bounds as a recoverable Python error due to performance implications. But we can do a few things:

1) Improve the error message (https://github.com/pytorch/pytorch/issues/17425)
2) Add "index out of bounds" to the assertion like in Tensor indexing
3) Document the behavior in https://pytorch.org/docs/stable/nn.html?highlight=embedding#torch.nn.Embedding

[2019-04-10 19:24] colesbury commented on #19088
@jamesr66a as you do this you should consider moving the CUDA implementations as well following the pattern in [BinaryOpsKernel.cu](https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/cuda/BinaryOpsKernel.cu). My guess is that it's not much more work and will result in simpler dispatch and more opportunities to delete dead code. If it turns out to be a significant amount of extra w

[2019-04-10 19:30] oroojlooy opened #19125 "Multi-gpu via torch::nn::parallel::data_parallel"
## 🐛 Bug
I tried to use multi-gpu capability in `C++`, but when I write `torch::nn::parallel::data_parallel`, I am getting `No member named 'parallel' in namespace 'torch::nn'` error.

## To Reproduce

Steps to reproduce the behavior:

Just add `torch::nn::parallel::data_parallel` in code with torch.h included.

## Expected behavior
It should at least know `parallel` namespace.

## Environment
[co

[2019-04-10 19:30] zou3519 commented on #5613
This is a duplicate of #4164, so I'm closing this in favor of that.

[2019-04-10 19:30] #5613 closed

[2019-04-10 19:48] soumith commented on #19123
I believe the conclusion is the same. If they are constants in `math`, I dont see why they should be replicated in `torch`

[2019-04-10 19:49] soumith commented on #19122
seems like a good idea.

[2019-04-10 19:49] soumith commented on #19121
please use https://discuss.pytorch.org for questions

[2019-04-10 19:49] #19121 closed

[2019-04-10 19:54] gsp-27 commented on #19119
Isn't ```Tensor.ndimension``` giving you the same thing?

[2019-04-10 19:55] mfuntowicz commented on #13118
For information, I'm also seeing the same warning hundreds of lines when compiling PyTorch with clang on Fedora:

[code]
I'm using clang 7.3.1 along with CUDA 10.1 and CuDNN 7.5.0

[2019-04-10 20:07] fuzic opened #19126 "weight_norm doesn't support eta and returns nan for zero weights"
## 🐛 Bug

backprop on weights generated with torch._weight_norm that are zero filled yields nan gradients. I don't see a way to add an eta to the norm to prevent this.

## To Reproduce

Steps to reproduce the behavior:

[code]

I'm encountering nan's during backprop during training of a network with weight normalization. From this seemingly related thread it sounds like the advice is to add an eta

[2019-04-10 20:57] ezyang commented on #13757
This was fixed in #13868

[2019-04-10 20:57] #13757 closed

[2019-04-10 21:01] ezyang commented on #17751
@bhushan23, thank you for your sleuthing. The CPU side version of this problem is easy, and we should fix it using an error flag. There are plenty of existing examples of this in the code.

CUDA side is harder; I'm not sure there is much we can do about it.

[2019-04-10 21:04] soumith commented on #19079
The error is clear here:

[code]

Basically, your `target` seems to be an empty Tensor. It has nothing in it.

[2019-04-10 21:04] #19079 closed

[2019-04-10 21:04] ezyang commented on #16954
It sounds to me that if Python is sufficiently new, we should just expose `multiprocessing` directly (so there's no need for you to modify the import yourself). So that seems like a very reasonable fix, happy to review a patch to this effect.

[2019-04-10 21:05] soumith commented on #16954
@ezyang how would be override the pickler in such a case?

[2019-04-10 21:08] mfuntowicz opened #19128 "pytorch.version.cuda is None when compiling with CUDA support"
Compiling PyTorch from sources (487388d8) ends up with torch.version.cuda = None leading to errors when trying to import apex:

[code]

[2019-04-10 21:10] ezyang commented on #17750
I don't think the GPU behavior is completely wrong, for a mathematical reason: it should be the case that `torch.max(torch.cat(xs, ys)) == torch.max(torch.max(xs), torch.max(ys))` for any xs and ys, including empty. In that case, `-Inf` is the correct neutral element to pick.

The way Numpy gets out of this situation, is they ask you for an initial element to handle the case explicitly, and error

[2019-04-10 21:11] soumith commented on #19128
cc: @ezyang is it related to your PR?

@mfuntowicz can you post the full build log, after a `git clean -xfd`, maybe CUDA wasn't detected at compilation

[2019-04-10 21:11] ezyang commented on #17913
I will look into this.

[2019-04-10 21:13] ezyang commented on #16954
Maybe I have misread the issue, but I read @lerks comment as implying that no override is necessary in recent versions of Python, as they default to ForkingPickler already.

[2019-04-10 21:18] mdrmuhaimin opened #19129 "Enhance cyclic learning rate to include One Cycle policy"
## 🚀 Feature
In issue  #1909 which got resolved by #18001 implement Cycling learning. Lets enhance it or create a new Lr_scheduler to include one cycle policy

## Motivation
One cycle policy has proposed as a new enhancement to Cyclic Learning by same author https://arxiv.org/abs/1803.09820.  With one cycle policy we will have only 2 step size and it will have triangular cycle. This can now curren

[2019-04-10 21:19] ezyang commented on #19128
Shouldn't be. My build on 23b0908d3852973de1a1f3dbd117ebabdf51153e reports it correctly. If you could post the contents of `torch/version.py` that would be helpful too.

[2019-04-10 21:20] mfuntowicz commented on #19128
I don't have the logs anymore, the compiling is ongoing to give you the output.

However, when removing apex import, the script goes fine and output of my torch setup is the following:

[code]

[code]

[2019-04-10 21:21] mfuntowicz commented on #19128
torch/version.py
[code]

[2019-04-10 21:29] gchanan commented on #18645
@asa008 can you include a log of your build?

[2019-04-10 21:34] lerks commented on #16954
Yes, that's my understanding from reading the code. It looks like importing `torch.multiprocessing` calls `init_reductions` which registers reducers on the standard library's `ForkingPickler`. So then using the standard `multiprocessing` module works just fine with tensors. I haven't double-checked that with a test though...

[2019-04-10 21:41] ezyang commented on #17913
I've confirmed that reverting #14010 fixes the problem. I'm going to revert it for now and then investigate more.

[2019-04-10 21:55] mfuntowicz commented on #19128
Attached the build logs :)

[pytorch_build.txt](https://github.com/pytorch/pytorch/files/3066000/pytorch_build.txt)

[2019-04-10 21:57] #19007 closed

[2019-04-10 21:57] li-roy commented on #19007
closed by #19094

[2019-04-10 22:37] SsnL commented on #19126
you are using non public API and the gradient comes from the fact that you didn't add eps/eta in denominator yourself. use this instead: https://pytorch.org/docs/master/nn.html#torch.nn.utils.weight_norm

[2019-04-10 22:38] SsnL commented on #19111
https://pytorch.org/docs/master/torch.html#torch.irfft

[2019-04-11 00:18] fuzic commented on #19126
thanks @SsnL, I can reproduce something similar with the public weight_norm api. How do I add an eps/eta in the denominator myself?

tensor([[[0.],
         [0.],
         [0.]]])

[tensor([1.]), tensor([[[nan]]]), tensor([[[nan],
         [nan],
         [nan]]])]

[2019-04-11 00:54] xxradon commented on #17797
@tippisum    I think I have find a way to fix this bug,just add a line before we run jit  forward,
in python:
[code]
in c++:
[code]

[2019-04-11 02:01] tanmengwen commented on #10942
@houseroad I did a very simple test which only has the interpolate function.  I build pytorch from the latest sources with python3.6. It alse got RuntimeError: ONNX symbolic expected a constant value in the trace. How could I solve this problem which has been bothering me for few days.

The error information:
Traceback (most recent call last):
  File "test.py", line 17, in <module>
    torch_out =

[2019-04-11 02:07] RizhaoCai commented on #15797
Thank you very much. I follow your advice and I succeed. But there is a little difference. My device is NVIDIA Tesla T4. And I use python 3. So I change the command:
$ wget https://download.pytorch.org/whl/cu100/torch-1.0.0-cp35-cp35m-linux_x86_64.whl
$ python3.5 -m pip install torch-1.0.0-cp35-cp35m-linux_x86_64.whl

The previous pytorch was installed vi pip directly: $ pip3 install torch.
Your s

[2019-04-11 02:13] luoan commented on #10942
@tanmengwen
you test code pass on my computer, i did not get any error or warning.  i use pytorch1.0  cuda9.0 python3.7
by the way, you do not need to import onnx

[2019-04-11 02:16] mingminzhen commented on #12509
@soumith @guri agree with that. I think the doc version before 1.0 is much better.

[2019-04-11 02:18] zasdfgbnm commented on #16330
I am assigning this to myself. I will work on this after working on https://github.com/pytorch/pytorch/issues/18987.

[2019-04-11 02:36] kasparlund commented on #19119
its matplotlib that expects the presence of .ndim

[2019-04-11 02:43] eigenfoo commented on #19111
Ah, I see! Thank you for the clarification.

I would think it more intuitive to have `onesided=True` be the default, instead of `onesided=False`. I am not sure why the output signal shape may sometimes be incorrect: that seems non-obvious and undesirable to me.

In any case, this isn't a bug. I'll close this issue. Thanks again!

[2019-04-11 02:43] #19111 closed

[2019-04-11 02:47] pritamdamania87 opened #19143 "Support .tobytes() method on torch.Tensor"
## 🚀 Feature
Support .tobytes() method on torch.Tensor

## Motivation

If I need to extract the raw bytes from a Tensor, I need to convert to numpy first and then use `tobytes`. It would be nice to have a tobytes() method for the Tensors themselves. For example, if I have a jpg image stored in a ByteTensor and I would like to open it using PIL, I need to do something like this currently:

[code]

[2019-04-11 03:16] cristianoBY commented on #8316
yes, I agree with what @gauravkoradiya said! use `y = torch.ones(dim)` for similar and `y = -torch.ones(dim)` for dissimilar. I am a little confused with @vishwakftw 's example of generating a tensor with random 1 and -1. Does this separately compute the cosine loss across each row of the tensor? Anyway, in the doc, I did not see how to specify the dimension for computing the loss.

[2019-04-11 03:31] nm46nm commented on #17116
I downgrade my python from 3.6.8 to 3.6.7 (Anaconda), but it didn't work. The error
`File "D:\Miniconda3\envs\pyt\lib\site-packages\torch_init_.py", line 84, in
from torch._C import *
ImportError: DLL load failed: The specified module could not be found.`
still occur.

[2019-04-11 03:51] nm46nm opened #19144 "ImportError: DLL load failed: The specified module could not be found."
As the title shows, it is a problem the same as many issues.
My python version is [Anaconda] 3.6.8, and I've tried 3.6.7 as someone suggested but it didn't work.

But, but, ....

What surprised me most is,
when I tried to run other codes that is not related to pytorch (it's about tensorflow), I got similar problems:

ImportError: DLL load failed: The specified module could not be found.

But it wo

[2019-04-11 03:52] peterjc123 commented on #17116
@nm46nm It should be caused by some other reasons. Would you please try this script https://gist.github.com/peterjc123/21143c0c9426a025618260dde5b6219a?

[2019-04-11 03:53] borisfom commented on #17697
Update: while it's similar in effect to #17606, its origin is slightly different. This one is being triggered by this code or equivalent:
 x = x.view(x.size(0), -1)

One TRT workaround is to pre-compute x.size(0) and save in the class. I wonder if there is a better way to express same flatten operation without explicitly referring to size(0) though.

[2019-04-11 04:38] pietern opened #19145 "[c10d] Use torch::autograd::Variable with no_grad"
We currently use `at::Tensor` directly and don't worry about the distinction between Variable and Tensor in c10d. This came up when working on adding support for reduction of sparse tensors, where Variable instances that come in through pybind are mixed with temporary Tensor instances created on the c10d side.

One solution here is to use `torch::autograd::Variable` (later to be fully merged into

[2019-04-11 04:39] pietern commented on #19145
Discussed this with @gchanan.

[2019-04-11 04:59] gsp-27 commented on #19122
Is anyone working on this, I would be happy take this up with some guidance.

[2019-04-11 05:20] snakers4 commented on #4068
Many thanks!
We will try adding some this to our next project!

[2019-04-11 05:43] chausies opened #19149 "Make torch.logsumexp operate over dimension 0 by default (or at least for 1D arrays)"
It's pretty ridiculous that, for a 1D input like `x = torch.rand(5)`, `torch.logsumexp` still requires you to specify you're operating over dimension 0.

In particular `torch.logsumexp(x)` will error, saying that it needs a dim argument. `torch.logsumexp(x, 0)` works.

My suggestion is that, at the very least for 1D inputs, the default dim you lse over is set to 0.

[2019-04-11 05:53] zasdfgbnm opened #19150 "Improve unit test coverage of torch.unique"
Currently it only covers `torch.unique(tensor, ...)`, but not `tensor.unique(...)` We should improve this after https://github.com/pytorch/pytorch/pull/18649 series get merged.

[2019-04-11 05:55] zasdfgbnm opened #19151 "Add warning to torch.unique docstring mentioning its diff with unique_consecutive"
TODO after https://github.com/pytorch/pytorch/pull/18649 series merged.

[2019-04-11 06:25] tanmengwen commented on #10942
@luoan  Thank you for your test in your system. As your suggestion, my test code run well.

But I also met your problem that is only when parameters are not specific numbers in interpolate function, it will cause RuntimeError: ONNX symbolic expected a constant value in the trace.

For example:
[code]

[2019-04-11 06:32] #14693 closed

[2019-04-11 06:39] nm46nm commented on #19144
Solved it by uninstall Anaconda and reinstall it.............

[2019-04-11 06:39] #19144 closed

[2019-04-11 06:57] houseroad commented on #17606
Try https://github.com/pytorch/pytorch/pull/19155 :-)

[2019-04-11 07:02] luoan commented on #10942
@tanmengwen  yes, we must use specific number there, which means x.size()[2:] has to be changed to  (256, 256) or any other size you want in specific numbers.         as @houseroad  said :  in ONNX we statically determine the kernel size

[2019-04-11 07:18] asa008 opened #19156 "flat_hash_map.h error C3203 'templated_iterator' unspecialized class template"
## 🐛 Bug

when I build pytorch 1.0 on win10 from source,  encountered following errors:
 pytorch\c10/util/flat_hash_map.h(1383): error C3203: 'templated_iterator': unspecialized class template can't be used as a template argument for template parameter '_Ty1', expected a real type

elementwise_div_op.cu
cl : Command line warning D9025 : overriding '/EHa' with '/EHs'
F:/ProgramFiles/pytorch\c10/uti

[2019-04-11 07:33] mfuntowicz commented on #19128
Please note that on my Fedora machine, CUDA is provided through negative repository and thus CUDA related libraries doesn't live in the "standard" /usr/local/cuda location.

Even if I have some symlink to emulate such location so that the majority of tools are able to build without any further requirements on my side, for PyTorch I still provide the CUDA_HOME, CUDNN_INCLUDE_DIR, CUDNN_LIB_DIR.

He

[2019-04-11 07:43] peterjc123 commented on #19156
Would you please update your VS 2017 to the latest version? If you don't want to update, then you can try to wrap these code with `#ifndef __CUDACC__ ` and `#endif`. cc @ezyang

[2019-04-11 08:06] xxradon commented on #19029
Also in [this](https://github.com/pytorch/pytorch/issues/17797) issue.

[2019-04-11 08:36] caohongchuan commented on #9536
Good!
win10 should run in administrator.

[2019-04-11 08:43] catrueeb commented on #19106
Thank you. It works, therefore there is no issue on the python side. But the main issue remains: Calling
`output = module->forward(inputs).toTensor();`
reduces the speed from 120 Hz to around 28 Hz, so the prediction is around 3x as slow in C++ as in Python.

[2019-04-11 08:45] asa008 commented on #19156
thank you! it works!

[2019-04-11 08:48] SingL3 opened #19157 "Cannot export model using onnx - TypeError: elu() got an unexpected keyword argument 'scale' (occurred when translating elu)"
Hello, I am trying to export a model using torch.onnx and I get the following error:

  File "convert_to_onnx.py", line 30, in <module>
    convert_to_onnx(net, args.output_name)
  File "convert_to_onnx.py", line 16, in convert_to_onnx
    torch.onnx.export(net, input, output_name, verbose=True, input_names=input_names, output_names=output_names)
  File "/home/lin/anaconda3/envs/torch040/lib/pytho

[2019-04-11 09:04] asa008 commented on #18645
error occured in rnn.h:
  // The function signature of `rnn_relu`, `rnn_tanh` and `gru`.
  using RNNFunctionSignature = std::tuple<Tensor, Tensor>(
     /*input=*/const Tensor&,
      /*state=*/const Tensor&,
      /*params=*/TensorList,
      /*has_biases=*/bool,
      /*layers=*/int64_t,
      /*dropout=*/double,
      /*train=*/bool,
      /*bidirectional=*/bool,
      /*batch_first=*/bool);

t

[2019-04-11 09:37] HaleTom opened #19160 "Suggest model.eval() in torch.no_grad (and vice versa)"
## 📚 Documentation

`model.eval()`  and `with torch.no_grad` are both commonly used in evaluating a model.

[Confusion exists about whether setting `model.eval()` also sets no_grad](https://discuss.pytorch.org/t/does-model-eval-with-torch-set-grad-enabled-is-train-have-the-same-effect-for-grad-history/17183/5?u=ataraxy)

Would you accept a PR which suggests usage of the other, with words like:

*

[2019-04-11 09:42] apaszke commented on #19143
Note that `tobytes` is very inefficient, as it needs to copy the data of your tensor. A better way would be to implement the buffer interface for tensors, and use `memoryview`.

[2019-04-11 11:03] bfujiwara commented on #14931
Same error on my side.

There is no fix for Python 3.6.0 ?

[2019-04-11 12:07] tanmengwen commented on #10942
I don't think it make sence. Because we cannot get specific numbers when the class is called dynamiclly by different resolutions functions.

[2019-04-11 12:07] bfujiwara opened #19161 ""undefined symbol: PySlice_Unpack" of pytorch 1.0.0 with Python 3.6.0"
## 🐛 Bug

`python: symbol lookup error: /usr/lib/python3.6/site-packages/torch/lib/libtorch_python.so: undefined symbol: PySlice_Unpack`

when generating and displaying big tensors.

## To Reproduce

[code]

## Env

 - PyTorch 1.0.1.post2 installed via pip. cuda 9 (but same bug without cuda)
 - Linux os
- Python 3.6.0

[2019-04-11 12:33] peterjc123 commented on #19161
You'll need Python 3.6.1 or up. They are not compatible.

[2019-04-11 12:41] Vermeille commented on #14696
Sorry to reopen this. If we are doing this, should training be faster because BN/ReLU/Conv can be merged together? if so what structures are subject to fusion?

[2019-04-11 12:51] soumith commented on #19149
this is fair, we should do it.

[2019-04-11 12:53] SamSweere opened #19162 "Denormalize option in torchvision.utils.save_image()"
## 🚀 Feature

A function to denormalize an image based on mean and standard deviation.

## Motivation

When working with images on NN's trained on a specific dataset (for example ImageNet), an image is first normalized to the mean and standard deviation of that dataset. When we want to save such an image later in the process we can use the function *torchvision.utils.save_image()*. However the ima

[2019-04-11 12:53] zuoxingdong opened #19163 "LayerNorm is very slow (almost frozen) in CPU of multiprocessing"
The context of the use case is doing ES over small network in multiprocessing.

It turns out that with `LayerNorm` it becomes extremely slow on CPU.

To reproduce the effect, the code is attached below:

[code]
The benchmark is:

- **`use_ln=False, device='cpu'`:**
[code]
- **`use_ln=True, device='cpu'`:**
**Completely frozen after waiting a few minutes**

- **`use_ln=False, device='cuda'`:**
[cod

[2019-04-11 12:54] DayChan opened #19164 "Torch.tensor.sum() is not accurate enough"
## 🐛 Bug

The `sum()` function is not precise when it summarizes a huge amount of numbers which has decimal.

## To Reproduce

Steps to reproduce the behavior:

[code]
The result is `tensor(1392666.)`

## Expected behavior

When the elements don't have decimals.
[code]
The result is `tensor(1392640.)` and it is the expected result.

## Environment

PyTorch version: 1.0.1.post2
Is debug build: No
C

[2019-04-11 13:11] ThisIsIsaac opened #19165 "better CUDA optimization using read-only cache and __restrict__"
## 🚀 Feature

for virtual architecture of compute_35 and above, use read-only cache -- `__ldg()` and `__restrict__` for weights

## Motivation
increase throughput

## Pitch
for example, in the `upsampling_op.cu`, we can add `__restrict__` to `X`and use `__ldg` to read from it. I have a working piece of code with this implemented based on pytorch's bilinear upsampling that I would like to contribut

[2019-04-11 13:19] ThisIsIsaac opened #19166 "GPU utlization is wacky"
## 🐛 Bug

Taoctorn2 and Waveglow inference using pytorch produces dramatically different utilization.

here are the comparisons of Taoctorn2 and Waveglow using Nsight Systems. The skyblue bar indicates some sort of work happening on the GPU. the absence of the sky blue bar or the red bar indicates that no computation is happening on the GPU. The “CUDA API” row indicates CPU’s preperation of launch

[2019-04-11 13:32] fmassa commented on #19162
Hi,

This issue belongs to `torchvision` https://github.com/pytorch/vision. Can you open an issue there instead?
Thanks!

[2019-04-11 13:32] #19162 closed

[2019-04-11 13:42] vishwakftw commented on #19161
Upgrading to Python 3.6.1 was suggested in https://github.com/pytorch/pytorch/issues/14931#issuecomment-445448141.

Duplicate of #14931.

[2019-04-11 13:58] zou3519 commented on #19165
Our lowest supported compute capability is 3.5, so that should be fine. This sounds like a good idea, please feel free to open some pull requests

[2019-04-11 14:00] #4068 closed

[2019-04-11 14:02] ThisIsIsaac commented on #19165
Thanks :)

There was also some dead code so I'm going to clean that up too and commit in a couple days.

[2019-04-11 14:20] lorenwel commented on #17970
Thanks for tracing the issue.

Is this something that might be fixed in the future or is it a more fundamental issue?

Our specific use-case is, that we train a model on GPU with pytorch and would then like to deploy it on robots using libtorch. The latter we achieve through JIT tracing, as suggested in the docs. The problem is, that we don't know a priori whether a GPU is installed or not, so we

[2019-04-11 14:43] zhangguanheng66 commented on #19160
Need more discussions before making a decision. I see this is a good idea but it will affect many current PyTorch users.

[2019-04-11 14:52] zhangguanheng66 commented on #19166
The GPU computation was not launched successfully. Will assign to someone after more discussions during the triage meeting.

[2019-04-11 15:08] zhangguanheng66 commented on #19163
Potential solution for Pytorch team, repeat the benchmark locally and see if it still happens. Follow up later during the triage meeting.

[2019-04-11 15:15] SsnL commented on #19160
I think the doc change is fine.

[2019-04-11 15:19] ThisIsIsaac commented on #19165
Do you guys — Facebook I assume — have some internal ways to micro-benchmark kernels for speed and correctness? I use Nsight Compute for profiling but it doesnt help too much when it comes to measuring the exact speed of such a small kernel.

[2019-04-11 15:26] zhangguanheng66 commented on #19149
We should remember to update our documentation for this change.

[2019-04-11 15:27] zou3519 commented on #19165
I've personally used the following approaches:
1) %timeit in ipython + torch.cuda.synchronize()
2) CUDA events (torch.cuda.Event)
3) autograd profiler with use_cuda=True (this uses cuda events)

Timing with CUDA events adds some overhead. I don't have good recommendations for how to microbenchmark smaller kernels so I usually try to give it larger inputs

[2019-04-11 15:39] zhangguanheng66 commented on #19143
Thanks for the support, apaszke. I just edit the title of the issue and label it as a feature request.

[2019-04-11 15:55] #19156 closed

[2019-04-11 16:09] pietern commented on #14466
I don't know of a method to clean up remaining bits after an uninstall. If that is the only difference between a build working and a build failing (the remaining artifacts from an uninstalled version of PyTorch), then I think there must be some environment setting that is messing things up.

In the mean time there has been significant work done to the build system. If the issue persist then please

[2019-04-11 16:09] #14466 closed

[2019-04-11 16:16] pietern commented on #14632
@Mrmoore98 This is because the result of both operations is different. The `gather_list` argument must be empty on non-gathering ranks when executing `gather` because it won't be used there.

[2019-04-11 16:32] soumith commented on #19160
yea, let's do the doc change. @HaleTom would accept a  PR for this.

[2019-04-11 16:36] #19161 closed

[2019-04-11 16:38] soumith commented on #19164
this is expected, because the first operation is being done in floating point, which is lossy math and the second operation is being done in int64 which is not lossy. If you want a more precise floating point, use double precision:

[code]

[2019-04-11 16:38] #19164 closed

[2019-04-11 16:40] soumith commented on #19164
(edited and updated comment with a more correct explanation)

[2019-04-11 16:42] soumith commented on #14696
@Vermeille it **can** be faster when all of our BN/ReLU/Conv fusion optimizations go in. Right now they anything with Conv is not fusable because Conv is dispatched to a blackbox library CuDNN, and no code generation / fusions can happen across the blackbox library boundary.

[2019-04-11 16:42] vishwakftw commented on #15182
Hi @filipeabperes, I re-ran the benchmarks with 1.0.1 and the nightly build dated 20190411.

| Op | Version | Timing |
| ---- | --------- | --------- |
| `btrifact` (renamed as `lu` in nightly) | 1.0.1<br>nightly | 374 µs ± 29.6 µs<br>280 µs ± 37.6 µs |
| `btrisolve` (renamed as `lu_solve` in nightly) | 1.0.1<br>nightly | 82.7 µs ± 4.17 µs<br>50.1 µs ± 3.38 µs |
| `btriunpack` (renamed as `lu_unpa

[2019-04-11 16:42] vishwakftw commented on #15182
Hi @filipeabperes, I re-ran the benchmarks with 1.0.1 and the nightly build dated 20190411.

| Op | Version | Timing |
| ---- | --------- | --------- |
| `btrifact` (renamed as `lu` in nightly) | 1.0.1<br>nightly | 374 µs ± 29.6 µs<br>280 µs ± 37.6 µs |
| `btrisolve` (renamed as `lu_solve` in nightly) | 1.0.1<br>nightly | 82.7 µs ± 4.17 µs<br>50.1 µs ± 3.38 µs |
| `btriunpack` (renamed as `lu_unpa

[2019-04-11 16:43] soumith commented on #14931
no there is no fix for python 3.6.0, because it's actually an ABI bug between 3.6.0 and > 3.6.0

[2019-04-11 17:01] xkianteb commented on #7416
Is there any update on this feature request? @weiyangfb @fbpierazzi

[2019-04-11 17:13] Kaleidophon commented on #1346
I feel like I am currently stuck on a very similar problem. Could someone help me understand why creating a new Variable for x and y in every loop might be harmful? Thanks!

[2019-04-11 17:38] chausies commented on #19123
@soumith At the very least, for completeness's sake. And also, by that logic, why should numpy or scipy include `pi`? I think the precedent set by those libraries is a strong reason to do this. `torch` is a desirable fast alternative to them, so including `pi` like them would be a good idea, in my opinion. Finally, for convenience's sake is also an argument.

As for implementation, `torch.pi` coul

[2019-04-11 18:17] jhultman commented on #17556
Just wondering if anyone has had a chance to review this. I think it would be a useful addition to the documentation (if it's true).

[2019-04-11 18:18] teytaud commented on #5953
We confirm that this happens, seemingly in particular when the objective function is noisy (as, in our case, possibly due to the non determinism in gpu computation), we experienced it and it is documented here:
- https://discuss.pytorch.org/t/nan-values-obtained-in-loss-data-0/1336/3
- https://arxiv.org/pdf/1805.02338.pdf

A simple fix is, when a NaN is detected, to reset the optimizer (no memory,

[2019-04-11 18:19] soumith opened #19172 "[Feature Request] Common constants in the torch.* namespace"
## 🚀 Feature

Two feature requests asked for constants from the `math` package to be included in `torch` as well:
- https://github.com/pytorch/pytorch/issues/19123
- https://github.com/pytorch/pytorch/issues/6510

## Motivation

- To avoid adding an `import math` when you want to do it
- Because NumPy and SciPy do it

## Alternatives

Dont do it and tell users to `import math`

[2019-04-11 18:21] soumith commented on #19172
My opinion is that the convenience is not worth the replication, but I can see how going back to the top of the file and adding `import math` might seem inconvenient.

Additionally, with @umanwizard 's upcoming `torch.numpy`, it seems inevitable.

Any opinions?

[2019-04-11 18:22] soumith commented on #19123
We generally run on less of a bar than consensus, but I opened a more general feature request (again( in #19172

[2019-04-11 18:41] vadimkantorov commented on #19172
If this is accepted, then I suggest also allowing functions like `torch.log` or `torch.ceil` to work on plain python scalars

[2019-04-11 19:19] chausies commented on #19149
Any thoughts on, for non-1D tensors, what the default dimension should be (if there is one)? There's arguments for 0 and -1 as the defaults. For the record, numpy and scipy default to `None`, which indicate operating over every last entry in every last dimension. For `cumsum`, this means operating over the flattened array.

[2019-04-11 19:37] chausies commented on #19172
@vadimkantorov not sure how that relates to this in particular.... But for that matter, I suggest literally all basic functions (like `torch.sin`) should all work on python scalars (like how numpy does). This issue already exists and is open, though, so I suggest pushing for it there: #11695

[2019-04-11 19:42] mruberry commented on #17930
We have identified the error and are working on a fix in cuDNN.

[2019-04-11 19:44] mruberry commented on #16831
We believe we have identified the root cause of this issue and are working on a fix in cuDNN.

[2019-04-11 19:58] JunhongXu opened #19173 "Get [Tensor (undefined) ] when calling tensor.grad() in c++ front-end"
## Issue

As shown in the following example, the gradient is undefined after we call tensor.view().

Steps to reproduce the behavior:

### Case One: without calling  view() on input tensors.

[code]

### Case Two: calling  view() on input tensors.

[code]

[2019-04-11 19:59] vadimkantorov commented on #19172
Agreed, let's track it there, my bad - didn't search existing issues this time. The reason I brought this up is that potential reason for existence for supporting `torch.log(10)` seemed similar (to me) to supporting `torch.pi`: the `math` alternative works fine, but supporting it saves a few keystrokes of the import.

[2019-04-11 20:15] eellison commented on #19106
Could you post a repro? Hard to investigate otherwise.

[2019-04-11 20:29] mruberry commented on #18999
Is your CUDA still installed properly? Can you, for example, run nvidia-smi? What happens if you try to run some of the CUDA examples (that may have come with your install)?

[2019-04-11 20:44] ngimel commented on #19095
Can you please run it with env var CUDA_LAUNCH_BLOCKING set to 1 to know where the error is coming from? Also, can you  please collect cudnn log https://docs.nvidia.com/deeplearning/sdk/cudnn-developer-guide/index.html#api-logging and post it here?

[2019-04-11 20:48] yf225 commented on #19025
@SPark9625  `torch::save` and `torch::load` should be the functions you are looking for (https://pytorch.org/cppdocs/api/function_namespacetorch_1a99dc9f736064b2179cc58e6436f7a021.html). An example:
[code]

[2019-04-11 21:29] ezyang commented on #19092
There is one problem with `empty_like`; the currently defined semantics are that you drop all stride information, so, it's not possible to preserve layout and be BC.

[2019-04-11 21:30] ezyang commented on #19092
@VitalyFedyunin is signed up to implement the `.contiguous()` and `torch.memory_layout` bits

[2019-04-11 21:46] ezyang commented on #18053
Once we update the nightlies to 7.5 and confirm it doesn't repro, we'll close the bug.

[2019-04-11 22:00] ezyang commented on #1664
I'm reopening this bug to make it clear that PyTorch is still affected by this problem (although it can't be fixed PyTorch side.)

[2019-04-11 22:13] ezyang commented on #18631
Apparently, the depthwise convolution kernels are only faster on fp16, and not on fp32 yet.

[2019-04-11 22:18] ezyang commented on #19166
@zhangguanheng66 Are you sure it has to do with the GPU computation launching successfully or not? It looks like the scripts are running successfully.

[2019-04-11 22:40] mrshenli opened #19177 "8 tests in test_c10d fail when running all tests in one command"
## 🐛 Bug

All tests in test_c10d pass if run individually in separate commands, but 8 fail consistently if run together in one pytest command. They all hit the similar error as shown below:

[code]

The failed ones are:

[code]

## To Reproduce

`py.test test/test_c10d.py `

## Environment

Collecting environment information...
PyTorch version: 1.1.0a0+91a2900
Is debug build: No
CUDA used to build

[2019-04-11 22:51] pietern commented on #19177
Does pytest parallelize by default?

[2019-04-12 00:13] zhangguanheng66 commented on #19166
@ezyang let me edit it and be more accurate. The GPU computation is just pending there.

[2019-04-12 00:49] mrshenli commented on #19177
I believe it runs sequentially by default

[2019-04-12 00:54] ThisIsIsaac commented on #19166
What do you mean by pending? I'm sure you know, but just to be sure, GPU's work is supposed to start after the CUDA API call ( as you can see in the third image, the sky-blue bar starts as soon as the CUDA API block ends , and this pattern repeats ). And CUDA API calls are usually short -- the above mage, the duration of CUDA API call -- to be more specific, the time that CPU spent to launch a CUD

[2019-04-12 01:06] ThisIsIsaac commented on #19166
I think @mkolod explained it well in my cross-post of [this issue](https://github.com/NVIDIA/tacotron2/issues/183#issuecomment-482300056) in Nvidia Tacotron2's github

[2019-04-12 01:47] ThisIsIsaac opened #19184 "Building from source failed"
## 🐛 Bug
building from source fails with:
[code]

## To Reproduce

Steps to reproduce the behavior:

1. follow the guide on Github on how to build from source
2. run `python setup.py install`

## Expected behavior
for it to install.

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect

[2019-04-12 02:02] ThisIsIsaac commented on #19165
Just a couple clarifications:
1. there are sometimes `.cu` file which has GPU kernel and there is also `cudnn.cc` file that seems to use cuDNN that does the same computation. For example, in [this directory](https://github.com/pytorch/pytorch/tree/master/caffe2/operators), there is both `elu_op.cu` and `elu_op_cudnn.cc`. My guess is, when built without cuDNN, pytorch uses `elu_op.cu`, but when the

[2019-04-12 02:12] soumith commented on #19166
that's a great answer detailed by Marek. Let's continue the discussion there.

[2019-04-12 02:12] #19166 closed

[2019-04-12 02:14] DayChan commented on #19164
I got it, thanks very much.

[2019-04-12 02:15] soumith commented on #19165
generally speaking, you can ignore the caffe2/operators in totality, because those ops are not actually hooked into the PyTorch frontend, but are for the caffe2 frontend.

What you want to be looking at is aten/src/

[2019-04-12 02:25] soumith commented on #19184
@ThisIsIsaac it's failing to build the pytorch dependency [Google Benchmark](https://github.com/google/benchmark) with the same error message as https://github.com/google/benchmark/issues/315 and it seems to have to do with your compiler version.

It's an optional dependency. Can you try and see if this works:

[code]

[2019-04-12 02:30] ThisIsIsaac commented on #19165
Thanks for the clarification.

Can I assume the second point and that compute capability is 35 or greater?

[2019-04-12 02:50] tristone13th commented on #4534
Thanks for your detailed explanation about this problem, but if I want to predict and get some results from input rather than train my model with these data, and in the ` forward() ` function I used the batch normalization layer so that I will failed, how to solve that problem? Hope for your reply.

[2019-04-12 02:52] ThisIsIsaac commented on #19184
When I run the command without deleting the existing `build` directory, I get:
[code]

Once I delete the build directory and run the command again, I get:
[code]

[2019-04-12 03:18] AwsomeThomas commented on #5858
I am dealing with this problem too. The code is [here](https://pytorch.org/tutorials/beginner/transfer_learning_tutorial.html#visualize-a-few-images) environment spec: win10, python 3.7.0, pytorch 1.0.1, installed via conda.

After I add these lines in my code, there is no image showing up.
`if __name__ == '__main__':
    torch.multiprocessing.freeze_support()`
or
`def run():
    torch.multiproces

[2019-04-12 03:34] SsnL commented on #19173
This is a leaf, which can receive grad:
[code]

What you had, is an intermediate result:
[code]

[2019-04-12 03:34] #19173 closed

[2019-04-12 03:57] soumith commented on #19165
yes, the 2nd point holds, and we support only compute capability of 3.5 or greater

[2019-04-12 03:57] soumith commented on #19165
we used to support compute capability 3.0 until some point, hence it wasn't used from the start.

[2019-04-12 04:04] ThisIsIsaac commented on #19165
Thanks for the clarification.

I assume you cannot use loop unrolling since the code is only compiled once thad loop variables cannot be given at compile time.

[2019-04-12 05:03] interesaaat opened #19186 "Poisson NLL loss in libtorch"
## 🚀 Feature
There is no Poisson NLL loss in libtorch.

## Motivation

Needed when running models with Poisson NLL loss using libtorch.

## Pitch

I can work on it if someone advice me on which files to touch.
Where should the implementation go? In `aten\native\Loss.cpp` plus a binding in `native_functions.yaml`? Where should tests go?

## Alternatives

## Additional context

[2019-04-12 06:52] HaleTom commented on #19160
@soumith  I'll get on to it then.

---------

Related:  For convenience, would you consider allowing something like:

[code]

To turn off and on gradient tracking, respectively?

(Of course, the default values of `grad=` should be backward compatible.)

Shall I raise a separate issue for this? I'd also be happy to look into it.

[2019-04-12 06:54] peterjc123 commented on #18319
@ezyang Any updates on this? VS 2019 is officially released now.

[2019-04-12 06:58] HaleTom commented on #14693
Cheers! I found the specific commit here:

https://github.com/pytorch/pytorch/pull/18758/commits/d079a6fbcafa59b419b3c6355a3b8a01d44a8b47

[2019-04-12 07:06] HaleTom opened #19189 "`with torch.enable_grad` also works outside a `no_grad` context"
## 📚 Documentation

The [`torch.autograd.enable_grad` documentation](https://pytorch.org/docs/stable/autograd.html#torch.autograd.enable_grad) says:

This implies:
[code]

However the observed behaviour (`1.0.1.post2`) is:

[code]

Note the last example is not "inside a `no_grad` context", but it still works.

Other prior art: [PyTorch set_grad_enabled(False) vs with no_grad():](https://stackoverf

[2019-04-12 07:30] gautamkmr opened #19190 "Serving Trained model for pytorch"
Tensorflow has Tensorflow Serving. How do people serve models trained with pytorch.
I see Pytorch has `save` and `load` API. Is there any standard way to server trained model using PyTorch?

[2019-04-12 07:32] gautamkmr commented on #19190
@soumith  Any suggestion on this ?

[2019-04-12 07:35] fmassa commented on #19164
One thing that is worth investigating is why numpy, for float32 arrays, produces more accurate results than pytorch, when forcing the reduction to be float32 as well.

[2019-04-12 07:38] paland3 commented on #17930
What was the problem's source?

[2019-04-12 09:32] CharlesxrWu opened #19192 "build from source ubuntu16.04 without GPU error"
## 🐛 Bug

`[ 34%] Linking CXX static library ../../../lib/libprotoc.a
[ 34%] Built target libprotoc
Makefile:140: recipe for target 'all' failed
make: *** [all] Error 2
Failed to run 'bash ../tools/build_pytorch_libs.sh --use-nnpack --use-mkldnn --use-qnnpack caffe2'`
## To Reproduce

Steps to reproduce the behavior:

1. python setup.py install
1.
1.

## Expected behavior

## Environment

Please c

[2019-04-12 09:38] Jie-Yuan opened #19193 "Difference: torch.Tensor.view() torch.Tensor.reshape()"
Difference: torch.Tensor.view() torch.Tensor.reshape()

[2019-04-12 10:04] vishwakftw commented on #19193
Please refer to the documentation of [torch.Tensor.view](https://pytorch.org/docs/master/tensors.html?highlight=view#torch.Tensor.view).

Questions like these are better addressed in the [Forums](https://discuss.pytorch.org), so please consider posting it there.

[2019-04-12 10:14] fmassa commented on #19193
Closing following @vishwakfw comment

[2019-04-12 10:14] #19193 closed

[2019-04-12 12:19] shinalone commented on #5858
Above on.

[2019-04-12 13:10] senhuiguo commented on #16559
same here, pytorch1.0.1 cuda9.0

[2019-04-12 14:29] ezyang commented on #18319
@peterjc123 Do you wanna learn how our packer scripts work? Otherwise it's waiting on one of me or @yf225 or @pietern scrabbling out enough time to try building new Windows AMIs.

[2019-04-12 14:44] peterjc123 commented on #18319
@ezyang Could you tell me where the scripts are so that I can edit it or send PRs on it?

[2019-04-12 14:59] tsyj0404 opened #19197 "In torch.where, whether this case is considered."
## 🚀 Feature

Assume we want to get this:
image[x,y]=p, where x, y, p are lists. For example,

x=[1, 1, 2]

y=[3, 3, 4]

p=[1, 2, 3]

It should be mentioned that image[x][y] may be updated twice, since x[0]=x[1]=1, y[0]=y[1]=3, but p[0]=1, p[1]=2. In this case, image[1][3] should be the minimum, 1.

But it seems that torch.where does not consider that one element in list can be updated twice or mo

[2019-04-12 15:00] soumith commented on #19186
if it is for the C++ frontend, the implementation goes here: https://github.com/pytorch/pytorch/tree/master/torch/csrc/api/src/nn
The tests go here: https://github.com/pytorch/pytorch/tree/master/test/cpp/api

[2019-04-12 15:04] skurzhanskyi commented on #18110
The same problem at PyTorch 0.4 🙁

[2019-04-12 15:16] ezyang commented on #18319
I'm working on getting you access

[2019-04-12 15:32] interesaaat commented on #19186
I see. So i can create a loss.cpp file and put the code there I guess. Why is supposed to be here and not in Aten? I don't see any other loss function implementation here.

[2019-04-12 15:36] berylyellow opened #19199 "Does v1.0.1 support CUDA10.1？"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

[2019-04-12 15:41] mruberry commented on #18110
Yes. Unfortunately I think we expect this issue with all versions of PyTorch. The issue is in cuDNN, not PyTorch.

[2019-04-12 15:42] mruberry commented on #17930
I'm sorry I don't know, I'm not on our cuDNN team. I only know they are working on a fix.

[2019-04-12 15:54] ezyang commented on #15253
I believe this was fixed in #17173 and earlier PRs!

[2019-04-12 16:44] zou3519 commented on #19189
"Enables gradient calculation, if it has been disabled via `no_grad` or `torch.set_grad_enabled`" <- I think something like that would make it clearer. But yes, we would accept a PR, thank you!

[2019-04-12 16:48] Balandat commented on #15253
@ezyang Now if this could work in batch mode as well, that would be awesome. What would it take to make this work?

[2019-04-12 16:54] ezyang commented on #15253
OK, reopening :)

The dumb batch implementation probably just involves inserting some loops appropriately. Shouldn't be too hard.

[2019-04-12 17:00] Balandat commented on #15253
Great, thanks. Is there a non-dumb batch implementation that would be more efficient? We're using this pretty heavily for batched kernel evaluation, so being able to exploit parallelism is critical for performance.

[2019-04-12 17:06] heiner commented on #1022
(Turns out a `pip download torch` followed by `pip install torch*.whl` does not go OOM for me.)

[2019-04-12 17:08] oroojlooy commented on #9811
Is there any update on this problem? I still face same problem in version 1.0.

[2019-04-12 17:12] zou3519 opened #19200 "Deprecate torch.add(tensor, value, other)"
## 🚀 Feature
It's confusing that add has the scale argument. Could we create a new `torch.axpy` function that does this?

## Motivation

Numpy also makes this separation: they have numpy.add, and scipy.blas.axpy.
This could also things nicer: add can be treated as an example of a binary pointwise operation like mul, sub, div and not require any special casing for its `value` argument.

cc  @cpuhrs

[2019-04-12 17:34] MeteoRex11 commented on #18999
I can run nvidia-smi
I haven't run the samples yet, but I have an update for the issue.

If I have Visual Studio Installer open in the background, this error vanishes for some reason

[2019-04-12 18:01] #5660 closed

[2019-04-12 18:07] MeteoRex11 opened #19201 "How do I edit a .t7 file?"
I currently have a .t7 file which contains some arrays and raw text, but i want to reduce the number of entries in there. How do I edit the file?

So far, I can only display the file's contents using
`torchfile.load('val_captions.t7')`

[2019-04-12 18:09] velikodniy commented on #16804
I agree, there is a typo but another one. Instead of `p_n` should be `p_c` where `p_c` is the positive weight of class `c`. It's a binary loss, but we can use it for training a multi-label (but not multi-class) classifier.

Actually it's useful because you can control precision/recall in imbalanced datasets with it.

[2019-04-12 18:09] velikodniy commented on #16804
I think we should explain it in the documentation.

[2019-04-12 18:15] jacobrgardner commented on #15253
@ezyang Here's something fun: `torch.cdist(a, a)` is quite a bit faster than `torch.pdist(a)` on both the CPU and GPU:
[code]

[2019-04-12 18:32] MeteoRex11 opened #19203 "UnicodeDecodeError: 'ascii' codec can't decode byte 0xe1 in position 2: ordinal not in range(128)"
I am trying to load a pickle file, but I am unable to do so
[code]

[2019-04-12 18:41] SsnL commented on #19203
https://pytorch.org/docs/master/torch.html#torch.load second note.

also use torch.load/save to work with tensors

[2019-04-12 18:42] SsnL commented on #19201
torchfile is not maintained by us. ask in https://github.com/bshillingford/python-torchfile

[2019-04-12 18:42] #19201 closed

[2019-04-12 18:45] velikodniy commented on #17218
There was a typo, I agree. The correct description would be `:math:p_c is the weight of the positive class for class :math:c`. The proposed by @ameet20 text is wrong actually.

The purpose of `pos_weight` is to control precision/recall in _multi-label_ classification where `c` may be > 1.

[2019-04-12 20:01] oroojlooy opened #19213 "torch::set_num_threads does not work"
## 🐛 Bug

I added `torch::set_num_threads(2)` in the beginning of the `mnist` code and still the executable uses all of the available threads, i.e., my cpu usage is around 800-1100% in a machine with 12 threads.

## To Reproduce

Steps to reproduce the behavior:

In the `mnist` code
https://github.com/goldsborough/examples/blob/cpp/cpp/mnist/mnist.cpp

add `torch::set_num_threads(2);` in line `116

[2019-04-12 20:07] freewym commented on #18110
Is there a way to report to Nvidia about this issue?

[2019-04-12 20:14] soumith commented on #19199
only if you compile from source

[2019-04-12 20:14] #19199 closed

[2019-04-12 20:16] soumith commented on #19186
the other losses are already implemented in aten, while poisson_nll_loss is implemented in pure python: https://github.com/pytorch/pytorch/blob/447d74a0747be7686dc44bb9db57ca45954fc865/torch/nn/functional.py#L1925-L1943

The other option is to move that loss to aten, similar to nll_loss, and then call it from python as torch._C.nn.nll_loss: https://github.com/pytorch/pytorch/blob/447d74a0747be7686

[2019-04-12 20:25] jpatts commented on #3867
I made a Conv2D with same padding that should support dilation and strides, based on how TensorFlow do theirs. This one calculates it in real time though, if you want to precalculate it just move the padding to init() and have an input size parameter.

[code]

[2019-04-12 21:09] mruberry commented on #18110
Yes, I work at NVIDIA :P

[2019-04-12 21:15] mirceamironenco commented on #3867
@jpatts I believe your output shape calculation is wrong, it should be ceil(input_dimension / stride). Integer division in python is floor division - your code should have a different result from tensorflow for e.g. `h=w=28, stride=3, kernel_size=1 `.

Here is a variant that does the calculation beforehand:

[code]

If the input dimension is known and not calculated on the fly, this can be used e.

[2019-04-12 21:27] jpatts commented on #3867
@mirceamironenco thanks for pointing that out, I made this quick and dirty and never checked. Updated to use ceiling instead

[2019-04-12 21:39] colesbury opened #19219 "Repeated torch.distributed.broadcast calls lead to OOM (with NCCL)"
## 🐛 Bug

Repeated calls to `torch.distributed.broadcast` using the NCCL backend lead to out-of-memory errors, even when the "live" set of Tensors is small.

## To Reproduce

[code]

[code]

(On PyTorch master 4/12/2019 1c836e7b)

## Suggested fix part 1

In addition to freeing the available cached blocks, the CUDA caching allocator should free all blocks that are held because they're used in mult

[2019-04-12 21:40] MilesCranmer commented on #14870
I have a similar bug - switching to gloo fixes it.

[2019-04-12 21:44] SsnL opened #19220 "[FR] support base in logspace"
This would bring it closer to parity with numpy functionality: https://docs.scipy.org/doc/numpy/reference/generated/numpy.logspace.html

It is also a rather simple change. The kernels currently hardcode `base10 = 10`. Just making it taking in a `double` should work.

[2019-04-12 22:00] ezyang commented on #19213
If possible, could you try running your script off of a nightly and see if it still has the same behavior?

[2019-04-12 22:00] #19203 closed

[2019-04-12 22:24] interesaaat commented on #19186
Yes exactly, my point is that probably it is better to have the loss directly in Aten instead of having two implementations (one in python and one in c++).

[2019-04-13 00:03] soumith commented on #19186
yea you're right. just put it in aten/native

[2019-04-13 00:05] npyoung opened #19224 "The cuFFT plan cache is not CUDA context-aware"
## 🐛 Bug

cuFFT Plans are context-specific and need to be used on arrays from the same context. PyTorch's cuFFT plan cache uses the arguments to the plan-creation call to generate a hash, but the plan's CUDA context is not used as part of this hash. So, for example, if you call `torch.fft` on some data on GPU 1, then call `torch.fft` on data of the same shape/type on GPU 2, you get a cache hit and

[2019-04-13 00:06] accelsao commented on #1265
error what I get , help
[code]

[2019-04-13 00:28] accelsao opened #19225 "Install pytorh in develop mode fails, CalledProcessError[Help]"
## 🐛 Bug
I get some error when I try `python setup.py develop` or `python setup.py build develop`

## To Reproduce

Steps to reproduce the behavior:
Follow on this page : https://github.com/pytorch/pytorch#from-source
1. conda install numpy pyyaml mkl mkl-include setuptools cmake cffi typing
2. upgrade Visual Stdio 2017 15.9.11, VC++ 2017 version 15.7 v14.14 toolset
3. For building against CUDA 8.

[2019-04-13 01:18] gkossakowski opened #19227 "[onnx] crash when exporting a model with Sequence module (encodeBlock: Assertion failled )"
## 🐛 Bug

The tracer in onnx exporter is failing with an assertion error in the exporter.

## To Reproduce

Steps to reproduce the behavior:

1. define a model:

[code]

2. run export:

[code]

fails with:

[code]

## Expected behavior

Model is exported to ONNX

## Environment

[code]

## Additional context

As a workaround one can inline layer definitions into the sequence:

[code]

[2019-04-13 01:40] peterjc123 commented on #19225
https://stackoverflow.com/a/45319119

[2019-04-13 02:16] berylyellow commented on #19199
Do I need to change some code or just install by "python3 setup.py install"? By the way, I don't preinstall annaconda.

[2019-04-13 02:30] uyongw commented on #19092
One question - for a 4D tensor `x` with sizes `(n, c, h, w)`
[code]
We have a weird permutation
[code]
Now we check whether it is contiguous for NHWC format. Following your logic as below
[code]
For both cases `is_nhwc_contiguous(y)` will return True?

[2019-04-13 03:03] CharlesxrWu commented on #19192
fixed by pulling the latest code

[2019-04-13 03:03] #19192 closed

[2019-04-13 04:01] SsnL commented on #19224
Ah great analysis! Thanks for reporting this!

[2019-04-13 04:23] SsnL commented on #19224
Per-device cache would be nice. It changes the slightly the behavior, but not much, and won't affect most of the users. @soumith , what do you think?

[2019-04-13 04:28] SsnL commented on #19224
And just for reference, arrayfire has a separate cache for each device
https://github.com/arrayfire/arrayfire/blob/899b712a8ffb5350f2d7ead20aecab593f06acca/src/backend/cuda/platform.cpp#L429

[2019-04-13 04:36] zhmd opened #19229 "Different behavior of torch.nn.MultiMarginLoss on CPU/GPU Tensors"
## 🐛 Bug

According to the documentation, the input to torch.nn.MultiMarginLoss() should be:
- x (a 2D mini-batch Tensor)
- y (a 1D tensor of target class indices, **0 <= y <= x.size(1)**).

For CPU tensors, it will raise RuntimeError when target (y) is out of range, however that seems not the case for GPU tensors.
## To Reproduce

Steps to reproduce the behavior:

[code]
The above is the expected

[2019-04-13 04:59] berylyellow commented on #19199
succeed in installing pytorch1.0.1 with cuda10.1

[2019-04-13 09:06] programehr commented on #15508
Hi,
The issue seems to persist in part. Consider the following code:

[code]

PyTorch Version: 1.0.0.dev20190401
OS: Windows 10
How you installed PyTorch: conda
Build command you used (if compiling from source): none
Python version: 3.7
@soumith

Sorry, I didn't know if I should have opened a new issue.
Thanks.

[2019-04-13 10:16] Suley commented on #3022
seems like that you are right. it's a cpu related bug.  After I disabled all cpu cores except for cpu0, it worked.
But only one core works. Enabling half of the cores still crashed.

[2019-04-13 10:57] zym1010 commented on #3022
@Suley do you use X299 chipset? Seems that many builds with X299 have this problem.

[2019-04-13 12:40] WindChimeRan opened #19241 "Documentation of PairwiseDistance"
## 📚 Documentation

[code]

here I think

should be

and

here it is not about the batch dimension but the representation dimension.

[2019-04-13 16:42] vadimkantorov commented on #19200
@zou3519 Empirically, `torch.add(torch.rand(3, 3), torch.rand(3, 3))` works, so it seems it does the dispatch correctly if it's used as a binary op. Strange.

[2019-04-13 16:52] pjavia-iterativescopes opened #19244 "[Caffe2] Retraining saved model"
https://github.com/caffe2/tutorials/blob/master/CIFAR10_Part2.ipynb

Above documentation is incorrect. Also, the Exporter fails if a model has Batch Norm in it. Also, following the same steps in above document for retraining a model gives a segmentation fault.

Please guide. I also posted this on PyTorch discuss but there is no response.
At least, a good working document to load model(which has Ba

[2019-04-13 17:04] oroojlooy commented on #19213
I had the nightly version of Apr 10, and got same result with that.
Do you want me to downloaded the latest nightly version?

[2019-04-13 18:07] SantoshManicka commented on #18903
I ran into a very similar, if not the same, error. Below is the error log. I'm not sure I could reproduce it, since it seems rare (I've seen it only once). This is on version 1.0.1 on RHEL.

terminate called after throwing an instance of 'c10::Error'
  what():  owning_ptr == NullType::singleton() || owning_ptr->refcount_.load() > 0 ASSERT FAILED at /opt/conda/conda-bld/pytorch_1549636813070/work/c

[2019-04-13 18:14] vijayendra-g commented on #7068
@fmassa
torch.manual_seed(42)
torch.cuda.manual_seed(42)
np.random.seed(42)
random.seed(42)
torch.backends.cudnn.deterministic=True

features = torch.randn(2,5)

I get different results in features everytime.

I am using pytorch 1.0.0

[2019-04-13 19:09] nmerrill67 commented on #19125
I am attempting to do the same. If there is another option please let us know.

[2019-04-13 19:40] pjavia-iterativescopes commented on #17616
Did you solve the above problem ?

[2019-04-13 19:40] elgalu commented on #1223
@Spandan-Madan did you solve this problem?

[2019-04-13 21:51] PetroSokirniy opened #19245 "Broken Link in tripletmarginloss"
## 📚 Documentation

The link to the under https://pytorch.org/docs/stable/nn.html#tripletmarginloss  pointing to the paper Learning shallow convolutional feature descriptors with triplet losse is broken. Currently its pointing to http://www.iis.ee.ic.ac.uk/~vbalnt/shallow_descr/TFeat_paper.pdf , but that link is dead. Maybe use http://www.bmva.org/bmvc/2016/papers/paper119/paper119.pdf ?

[2019-04-13 22:33] sbelharbi commented on #7068
Actually, I am facing some unusual non-determinism in Pytorch 1.0.0. I did not investigate that yet. But your comment intrigued me. (Pytorch [note](https://pytorch.org/docs/stable/notes/randomness.html) on randomness). However, your code does seem to give the same random numbers on my computer (CPU), if I am not missing something:
[code]

## Run 1:
[code]

## Run 2:
[code]

[2019-04-14 03:21] xymeng commented on #12873
This is probably caused by the cuda runtime loading the kernel images.

I traced the library calls and found a large amount of memory is allocated on the heap by the cuda runtime when the runtime initializes itself. Since the initialization is implicit, it only happens after you call a cuda runtime function. That's why you see such a huge memory increase after creating a cuda tensor.

You will fin

[2019-04-14 03:23] ezyang commented on #19197
First a quick clarification: you're talking about advanced indexing a.k.a. `index_put_`, not `where_`. The documentation of `index_put_` says what the behavior is supposed to be in this case:

So unfortunately, if you want to take the min, you are currently out of luck. I can't think of a good way of do this with our current API, so I'll leave this open as a feature request (I don't know how effic

[2019-04-14 03:26] ezyang commented on #16559
@senhuiguo I agree with this workaround, manually forcing CUDA to initialize should help solve this problem. I am not sure what the root cause of the issue is.

[2019-04-14 03:28] soumith commented on #19224
yea, this definitely needs fixing, Thanks for pinpointing the bug @npyoung

[2019-04-14 03:28] ezyang commented on #19192
Can you post the complete build log? You've truncated out the actual error, which means we can't easily help you. Please reopen this issue when you do so.

[2019-04-14 03:29] ezyang commented on #19190
cc @jeffreyksmithjr

[2019-04-14 03:32] ezyang commented on #19184
@soumith's suggestion was close, but I checked the source; to disable benchmarks you need to do `BUILD_TEST=0` (having `BUILD_BINARY=0` set as well probably won't hurt.) Please reopen if this doesn't resolve your problem.

[2019-04-14 03:32] #19184 closed

[2019-04-14 03:37] ezyang commented on #17556
I'm OK with committing to this. Send in a PR.

[2019-04-14 03:40] ezyang commented on #7416
I believe that @weiyangfb is no longer working on this feature. PRs would be much helpful.

[2019-04-14 04:07] ezyang commented on #15182
This looks resolved to me! Please reopen if you disagree.

[2019-04-14 04:07] #15182 closed

[2019-04-14 04:12] ezyang commented on #19225
Closing as this does not appear to be a PyTorch bug. Please reopen if you disagree.

[2019-04-14 04:12] #19225 closed

[2019-04-14 04:14] ezyang commented on #19229
It's probably just indexing random memory somewhere else in the CUDA caching allocator blocks. We should add an error check in this case.

[2019-04-14 07:11] SsnL commented on #19224
The question is, do we want a per-device cache?

[2019-04-14 09:14] ThisIsIsaac commented on #19165
is there a reason why caffe2 front end CUDA kernels have their threads per block set to 128? For bilinear upsampling, simply increasing the number of threads per block by 8 times ( from 128 to 1024) -- i.e. larger block, few number of blocks -- increased throughput about 30%.

[2019-04-14 10:48] ifgovh opened #19248 "add stable distribution in torch.distributions"
## 🚀 Feature

Add stable distribution in torch.distributions
## Motivation
I would like to get a pdf of stable distribution on GPU. So far, I have to transfer to Numpy and use Scipy to do that and transfer back to tensor on GPU. This process becomes a bottleneck of my code.

## Pitch
Add stable distribution in torch.distributions

## Alternatives
No

## Additional context
N/A

[2019-04-14 12:27] Yiyiyimu commented on #18981
@umanwizard You can try to downgrade pytorch version to 1.0.0 avoid problems in the title, if you are using 1.0.1 and jupyter.

Referenece: https://forums.fast.ai/t/cuda-runtime-error-30-resnet-not-loading/38556/2

[2019-04-14 12:31] Yiyiyimu commented on #17108
@peterjc123  Regarding situation from https://forums.fast.ai/t/cuda-runtime-error-30-resnet-not-loading/38556/2, I think there is some inner errors between jupyter and pytorch 1.0.1, as a result of downgrading pytorch 1.0.0 could solve the problem.

I noticed several issues raised about the same problem and this might be the best answer till now.

[2019-04-14 13:40] soumith commented on #19165
caffe2 can have parallelly executing operators in multiple streams. it might be 128 to reduce wasted occupancy and maximize throughput even when multiple operators are running in parallel.

[2019-04-14 15:28] ThisIsIsaac commented on #19165
I want to clarify what you mean by "parallelly executing operators in multiple streams". Do you mean, **within a single kernel launch**, caffe2 uses multiple strams to asynchronously execute the different operatros in parallel? Or do you mean caffe2 launches **multiple kernels in parallel**?

From what I have seen, it seems like caffe2 doesn't configure a single kernel call with multiple streams.

[2019-04-14 17:48] krishnakumar-kapil commented on #4631
nn.ModuleDict() is also an option

[2019-04-14 19:40] MilesCranmer commented on #9160
nn.Sequential() is good for quick use. However if you want to easily exchange nn.Sequential as a placeholder for some module that takes arguments, you will encounter an error because nn.Sequential is argument-sensitive. Therefore the following is a good hack to get around this:

[code]

Then, for example, you can write:
[code]

Then in your network, you have:

[code]

and you can turn this into an

[2019-04-14 21:02] MilesCranmer commented on #9160
This PR adds an identity module: #19249.

[2019-04-14 21:16] VitalyFedyunin commented on #19092
This is correct. However we can't relay only on strides as we want to avoid any conversions back and forward during copy, to, and similar operations.

[2019-04-14 21:44] soulslicer commented on #14363
I'm having this issue with the master branch as well right now. Did you manage to fix it?

[2019-04-14 21:45] orybkin opened #19250 "InstanceNorm, GroupNorm doesn't crash with # of elements == 1"
## 🐛 Bug

Classes _InstanceNorm, GroupNorm should throw an error if number of elements over which the statistics are computed is 1. E.g. if you have a batch with shape [64, 256, 1, 1], instance norm and group norm (with num_groups=256) will compute the statistics over last two dimensions, which is just one element.

The effect of this will be that the output of the normalization operation is an al

[2019-04-14 23:16] jghawaly opened #19251 "Building for ROCm Fails"
## Issue description

I am trying to install Pytorch with ROCm for perform calculation on an AMD Radeon VII GPU. I first cloned the pytorch repository and then run the following lines in the terminal, the first four of which succeed without error:
- cd pytorch
- git submodule init
- git submodule update
- python tools/amd_build/build_amd.py
- USE_ROCM=1 python setup.py install

The compilation get

[2019-04-14 23:40] xsacha opened #19252 "[CUDA] torch::stack / torch::cat fails on a single element"
## 🐛 Bug

Sometimes my vector is only 1 element, for example:
`std::vector<torch::Tensor> in = { tensor.reshape(1,128,128) };`

When calling torch::stack on this tensor vector when using CUDA, I get a crash.

Workaround looks like this:
`auto test = in.size() == 1 ? in.front().reshape({1,1,128,128}) : torch::stack(in);`

## To Reproduce

Steps to reproduce the behavior:

1. Use CUDA backed tensor

[2019-04-15 00:25] yyn19951228 commented on #6083
Did anyone start the implementation?

[2019-04-15 01:19] lkhphuc commented on #19220
Would love to get started with this issue. Will send a PR soon.

[2019-04-15 01:31] ThisIsIsaac commented on #19165
oh sorry for the misunderstanding. I was puzzled because I thought caffe2 was using multiprocessing, each process launching its kernel. In the case of using multiple streams, it makes sense to restrict the number of threads & blocks. So, if I understand you correctly, when optimizing for individual kernel, I shouldn't change the kernel launch configuration. Am I right?

[2019-04-15 02:06] nict-wisdom opened #19253 "torch.pow() in a script module produces an error"
## 🐛 Bug

The backward of torch.pow() in a traced module produces an error when the input is on cuda.

Expected tensor to have CUDA Backend, but got tensor with CPU Backend (while checking arguments for CUDA_tensor_apply4) (checkBackend at ../aten/src/ATen/TensorUtils.cpp:202)

The backward is defined in torch/csrc/jit/symbolic_script.cpp.
I think the reason is that the backend of the first argume

[2019-04-15 02:26] dingxiaojing commented on #14352
@siddheshmhatre Hi, I face the same problem as you, did you find how to solve it? Thanks!

[2019-04-15 02:35] uyongw commented on #19092
What if strides has same order as memory format? Let's use 4D tensor as example. To describe a tensor, we have `sizes`, `strides` and `stride_indexes`:

**sizes** in (n, c, h, w)
**strides** in physical order, i.e.
- strides of (n, c, h, w) if format is nchw
- strides of (n, h, w, c) if format is nhwc.

**stride_indexes** maps strides to NCHW size:
- (0, 1, 2, 3) if format is NCHW,
- (0, 2, 3, 1)

[2019-04-15 02:52] bilylee commented on #7082
Thanks to @wmasonku . It works!

By the way, if you are calling a python script from matlab, you can achieve the same effects by putting the following line before importing torch.
[code]

[2019-04-15 02:52] ht-alchera opened #19254 "nn.functional.binary_cross_entropy_with_logits got error when work with 'weight'"
## 🐛 Bug

I'm moving to pytorch 1.0.1 recently. But I got the error below when I use 'binary_cross_entropy_with_logits'

RuntimeError: the derivative for 'weight' is not implemented

my code is work well with pytorch 0.4.1
I'm used CUDA 9.0.176, cuDNN7.4.1, Ubuntu 16.04(gcc is 5.4.0)

## To Reproduce

Steps to reproduce the behavior:

1.
1.
1.

1. This is my code.

import torch.nn as nn
import tor

[2019-04-15 02:59] uyongw commented on #19092
For OPs that accepts only nchw contiguous tensor, That will be some work here.

Alternatively we can also change the prototype slightly, say
def is_contiguous(format=nchw)
def contiguous(format=nchw)

Thus by default, it assumes only nchw is contiguous. In this way you don't need to rewrite those OPs, it will be reordered to nchw automatically.

[2019-04-15 03:02] SsnL opened #19255 "[doc] torch.cumprod supports out=, but doc is missing"
## 📚 Documentation

https://pytorch.org/docs/master/torch.html#torch.cumprod doesn't show `out=` option.

[2019-04-15 03:34] yinxiaochuan commented on #16908
Same problem. I think the reason of this issue is that the exporter cannot calculate the shape of tensor dynamically.

I try to convert the alxnet onnx model following the tutorial steps in
https://github.com/onnx/tutorials/blob/master/tutorials/PytorchOnnxExport.ipynb

The same issue happens when I convert the onnx model to the tensorrt model using:
'''
onnx2trt my_model.onnx -o my_engine.trt
'''

[2019-04-15 03:54] HanYuanyuaner opened #19256 "Implement of torch.spmm"
Hi,

When I use torch.spmm, I can not find the Implement code of it. Dose it call cusparse to speed up sparse multiplication on GPU?

[2019-04-15 04:41] SsnL commented on #18901
@zou3519 The old rule works by (for `-1` sizes) simply copying dim sizes of the old tensor to the expanded size. I.e., it only applies when (1) number of `-1` < `x.dim()`, or (2) non-`-1` sizes are followed by only all `x.dim()` consecutive `-1`s. (1) doesn't conflict with the rule I proposed. Behavior of (2) is the same for original rule and the rule I proposed.

So this isn't conflicting with th

[2019-04-15 05:14] jgong5 commented on #18318
From the design doc, are `FakeQuant` ops only inserted at the submodule boundary? As an example with lenet below, do we have to break it into submodules in order to have all the ops quantized?
[code]

[2019-04-15 05:29] t-vi commented on #18318
To me it sounds like they are. But the key sentence about this seems to be at the end of step 5:

I would think that this means that the quantized regions at the top and bottom of the modules grow until they "meet". In that event one could either have a re-quantization step (adjusting min/max and the quantized values) in the place off `dequant->quant` or eliminate it altogether.

I'm very excited

[2019-04-15 05:40] jgong5 commented on #18318
@t-vi The concern is that users have to refactor their existing code quite a bit in order to have all the ops quantized. Usually in order to get decent performance boost, most ops should be quantized ones, only with few exceptions leaving in full precision for an acceptable accuracy.

[2019-04-15 05:55] fyabc commented on #18180
I tried #18953, and the problem has been solved. Thanks!

[2019-04-15 05:55] #18180 closed

[2019-04-15 06:38] CaoZhongZ commented on #19092
Great proposal! May I explicit my understanding see if it right (including proposals for MKL-DNN formats handling):

 Allow me to think there were an implementation of this proposal as a "format" class. As long as it providing querying and changing API as virtual, we could do the inheritance/extensions that fit MKL-DNN complex formats. Or other methods as long as it provide a framework for handlin

[2019-04-15 07:02] viking-sudo-rm commented on #8938
+1, this would be a useful change to the LSTM interface!

[2019-04-15 07:15] xuzheyuan624 opened #19258 "timeout when load data"
## 🐛 Bug

When I load dataset using torch.utils.data.Dataloader, the code stop running after getting a few batches. And it says timeout when I interrupt it.

[code]

[2019-04-15 09:04] EmmaW8 commented on #8831
@qiulesun
Hi, have you solved your problem?
I got a similar one.

[2019-04-15 09:04] vadimkantorov opened #19259 "[docs] nn.MultiheadAttention missing in online docs"
Doc string is there:
https://github.com/pytorch/pytorch/blob/master/torch/nn/modules/activation.py#L676

`autoclass` is forgotten

No results in search online: https://pytorch.org/docs/master/search.html?q=multiheadattention&check_keywords=yes&area=default

[2019-04-15 09:49] sublee opened #19260 "checkpoint_sequential doesn't respect nn.Sequential's behavior"
## 🐛 Bug

There's an inconsistency between `nn.Sequential` and `checkpoint_sequential`:

[code]

`nn.Sequential` passes only one input for each layer regardless of type. If we pass a tuple as an input, the first layer will take the tuple as an argument. `checkpoint_sequential` is a checkpointing helper for a sequential module. So it should work just like a vanilla sequential module. But actually,

[2019-04-15 10:32] catrueeb commented on #19106
@eellison  sorry for the late response. Here you go:

# To Reproduce
[code]
Output on Windows 10, using VS2017 is:
[code]
The model used for this test: https://github.com/catrueeb/CNN-test-model
The corresponding python code can be seen above, model is loaded with
`model = torch.jit.load('model.pt')`
In C++, the .forward() method is 4x slower.

[2019-04-15 11:32] obust commented on #4164
The following articles gather a lot of the arguments backing up the named dimensions proposal

* [Tensor Considered Harmful Part 1](http://nlp.seas.harvard.edu/NamedTensor)
* [Tensor Considered Harmful Part 2](http://nlp.seas.harvard.edu/NamedTensor2)

[2019-04-15 12:06] #19258 closed

[2019-04-15 12:58] wadesunyang commented on #16935
i use pytorch 1.0.1.post2,  the same problem.

[2019-04-15 13:15] pjavia-iterativescopes commented on #19244
I figured it out. For inference with a model having Batch Normalization, if you are saving using method Export, please add *_rm and *_riv as extra blobs and then call the Export method. However, if you want to retrain it then don't add *_rm and *_riv, in that case just use the current Export method.

I had one quick question though in the Export definition in caffe2.python.predictor.mobile_exporte

[2019-04-15 13:29] samlong-yang commented on #14303
Mark

[2019-04-15 13:47] ShilinHe commented on #10006
Hi, any solution to this issue?

[2019-04-15 14:22] jhultman commented on #17556
@ezyang I don't see any unit tests guaranteeing this behavior in `test/test_torch.py` but maybe I am looking in the wrong place. I think it would be nice to have such a test in case the implementation of nonzero were to change in the future. What do you think?

[2019-04-15 14:36] ezyang commented on #17556
Yes please!

[2019-04-15 14:38] jhultman commented on #17556
Ok, I will put together a PR. Thanks!

[2019-04-15 14:53] ezyang commented on #19092
@uyongw I want to clarify a little more about your first example. You setup the example as, "I have a NCHW tensor, which I then transposed in a weird way (so now it looks like NWCH); now I want to know if it's NHWC contiguous." But that's the wrong way of looking at it. A better formulation is, "I have an NHWC tensor, which I then transposed into a NCHW tensor."

To put it differently, there is no

[2019-04-15 14:55] ezyang commented on #19092
@CaoZhongZ

I actually don't think that is an accurate description of the proposal. The memory layout support that the proposal here supports are only layouts that can be expressed through strides. Anything that is inexpressible this way (e.g., block layout) won't work this way, and has to be supported by our more heavy-weight "layout" mechanism.

[2019-04-15 14:56] zou3519 commented on #19200
Another reason for deprecating it is that the overload cannot be written nicely with a single python function (without parsing *args and **kwargs).

The signature looks something like `add(tensor, value=1, other)`: the `value` is optional.

[2019-04-15 15:21] uyongw commented on #19092
Partly agree:-) But not on this specific problem. Say I have already a nhwc tensor. Then I permute it to nwhc. I want to further permute to nhwc then do a contiguous(). But I got it nhwc contiguous already. Isn't it confuse?

IMHO, it won't be redundant with strides, if you have strides in nhwc (physical). Because you need a the right mapping with sizes(logic). Otherwise there is no way to tell th

[2019-04-15 15:22] vadimkantorov commented on #19259
@zou3519 If checking for docstring like this makes sense: `getattr(member, '__doc__) is not None', then https://github.com/pytorch/pytorch/issues/18983#issuecomment-480527231 's way becomes:

[code]

`doctodo` will give us list of members that are public and have/not their docstrings. Those that do have their docstrings were very likely forgotten from adding to rst

[2019-04-15 15:27] VitalyFedyunin commented on #19092
Blocked formats require a completely different set of operators implementation; for that reason, we prefer not to mix them with 'memory format', which is by definition supposed to be friendly with all existing operators and work with same or better performance.

[2019-04-15 15:40] ezyang commented on #19092
It is hard to understand your example because you are using some terms colloquially and precision is needed. Here is how I am interpreting what you have said:

- An "nhwc" tensor to be as per this proposal, "Tensor whose physical layout is NHWC, but is strided so that the logical layout is NCHW."
- To "permute a (tensor whose logical layout is NCHW) tensor to (logical layout) NWHC" is to run `y =

[2019-04-15 15:42] ezyang commented on #19092
@dzhulgakov

If physical NHWC tensors can occur purely through strides, this is technically BC-breaking, unless you make them only preserve memory format when the memory format tag is present (but it sounds like you don't want this to have semantic meaning, so I am not sure what the proposal is currently suggesting.) I'm not sure if this actually breaks anyone's code in practice though.

[2019-04-15 15:49] VitalyFedyunin commented on #19092
Assuming we can make memory format 'sticky'. Op over memory formatted tensor will produce memory formatted tensor. That will solve BC problem.

However, we need to define a behavior of binary(or more members) operations when tensors have different memory formats.

[2019-04-15 16:00] zzzace2000 commented on #4534
It still happens in the PyTorch 1.0. Any progress plan on this?

[2019-04-15 16:01] uyongw commented on #19092
@ezyang Oh I just found there is a typo in my above reply. However the original example is still correct. Let me restate it as below:
1. I have a NCHW tensor (physically, contiguous).
2. Then I permute it to NWHC (logically).
3. I want to further permute it to NHWC with a contiguous() call followed.
4. Use it as NHWC (physically).
But I got it NHWC contiguous already after step 2. Then I may skip

[2019-04-15 16:19] PetrochukM opened #19263 "GCP Base Image Wrong CUDA Version"
## 🐛 Bug

Working through the suggested PyTorch GCP base image, the wrong version of CUDA was installed.

## To Reproduce

Steps to reproduce the behavior:

1. On "New Deep Learning VM deployment" select "Intel Optimized Base 9.2"
1. Deploy and SSH into the machine
1. ``nvidia-smi`` shows CUDA Version is at 10.0

## Expected behavior

The CUDA Version is correct after setting up a GCP machine.

[2019-04-15 16:20] PetrochukM commented on #19263
Let me know if this is the wrong form to report the bug...

[2019-04-15 16:25] vadimkantorov opened #19265 "[docs] Docs for SyncBatchNorm mention wrong location of convert_sync_batchnorm"
The `nn.SyncBatchNorm`'s example mentions `torch.nn.utils.convert_sync_batchnorm`, `torch.nn.SyncBatchNorm.convert_sync_batchnorm`'s example mentions some global `convert_sync_batchnorm`, while both should mention `torch.nn.SyncBatchNorm.convert_sync_batchnorm` if I understand it right

Maybe there can be created some special markup about some specific examples (not all of them) that would enable

[2019-04-15 16:30] uyongw commented on #19092
Yes we can enable NHWC as the first step. However I don't actually think blocked format is really something totally different. It can be naturally expressed (with some good abstraction). If there is a general format description, then others can just register new formats with arbitrary blocking/strides.

More if we have blocked support already, we don't bother to create some hidden constructs to ru

[2019-04-15 16:42] colesbury commented on #12873
Thanks for the investigation @xymeng. I'm closing this issue since it's the behavior of CUDA

[2019-04-15 16:43] colesbury commented on #19241
Thanks for the report. PRs welcome

[2019-04-15 16:52] colesbury commented on #19251
Did you install https://github.com/ROCmSoftwarePlatform/Thrust ?

I believe the recommended method is to use the ROCm PyTorch docker image.

https://rocm-documentation.readthedocs.io/en/latest/Deep_learning/Deep-learning.html#pytorch

[2019-04-15 16:53] colesbury commented on #19248
PRs welcome

[2019-04-15 16:54] colesbury commented on #14363
Closing as the related PR is merged. Please re-open if this is still an issue

[2019-04-15 16:54] #14363 closed

[2019-04-15 16:55] ezyang commented on #19092
OK, I understand your example now. You may indeed stop at step 2 and use it as if it were an NCHW tensor; in which case, you will improperly interpret W as C, etc. This is definitely a downside with the stride-based implementation (@dzhulgakov, we should probably add this to the proposal). The proposal has some provision for this case:

The soft memory format tag would let you distinguish from a N

[2019-04-15 17:00] raghuramank100 commented on #18318
Hi Jiang,

 We are supporting two modes for quantization:

 - In graph mode, we integrate with JIT IR and quantization is being implemented as a compilation pass, so even the insertion of fake quant ops is automated. Floating point ops are replaced with quantized ops when available. This should be the preferred option for maximum performance.

 - In Eager mode, yes: one needs to do extra work as t

[2019-04-15 17:03] gottbrath commented on #17697
Folks,

According to the info I am seeing this issue is affecting PyTorch -> ONNX -> TRT with a wide range of frequently used and relatively well understood models that arguably "should just work"

bvlc_alexnet
resnet50 (both the standard torchvision and the nvidia variant)
densenet121
inception_v1
inception_v2
inception_v3
squeezenet
vgg16
vgg19

[2019-04-15 17:07] gkossakowski commented on #19227
I just checked that pytorch 1.0 doesn't fix this issue. I get the same crash.

The workaround I posted where I inline all layer definitions into a `Sequential` is workable but awkward to use with more complex architectures. Can you think of other workaround?

[2019-04-15 17:13] colesbury commented on #19263
@PetrochukM is this an issue with Google Cloud Platform? Or an issue with PyTorch documentation?

Where is the "suggested PyTorch GCP base image"?

[2019-04-15 17:21] ezyang commented on #19200
@colesbury says: it would be good to get rid of all of the weird ambiguous positional arguments, in general. (These cases may all be in `deprecated.yaml`).

@gchanan says: For example, sub, and all of the fused add ones, like addcmul. So we want a more general solution than just calling this axpy

[2019-04-15 17:22] ezyang commented on #14303
@soumith could you look at this?

[2019-04-15 17:22] ezyang commented on #14303
(and @fmassa too)

[2019-04-15 17:24] ezyang commented on #8985
@soumith can you take a look at this?

[2019-04-15 17:28] PetrochukM commented on #19263
The issue is with GCP; however, it's a solution suggested on https://pytorch.org/ under "CLOUD PARTNERS".

[2019-04-15 17:31] ezyang commented on #1810
We looked at this in triage: the important thing is for cpu and gpu to be consistent, and for us to be consistent across operators wrt how NaNs compare. It's not the worst thing in the world for NaNs to show up in topk if they are there.

cc @umanwizard

[2019-04-15 17:33] ezyang commented on #5857
We'd accept a PR that does this.

[2019-04-15 17:33] ezyang commented on #2456
cc @fmassa

[2019-04-15 17:35] ezyang commented on #1410
If someone wants to change this and it doesn't hurt performance, please do it, we'll accept the PR. (Also, someone needs to check if we haven't fixed this already.)

[2019-04-15 17:53] colesbury commented on #19263
@soumith can you route this to a contact at GCP?

[2019-04-15 17:55] colesbury commented on #19250
@Kaixhin I think you worked on the InstanceNorm implementation. Can you comment on this? Does the proposed change (raise an exception if the norm is only on one element) make sense?

[2019-04-15 18:00] colesbury commented on #7082
This looks like an issue with the code here:

https://github.com/pytorch/pytorch/blob/422b01e78889a9fd283d8fb86bb5527c5cae3cbf/aten/src/ATen/Context.h#L170-L172

We should fix this before the next release

[2019-04-15 18:03] colesbury commented on #19254
@ht-alchera your `weights` variable has requires_grad which is not supported: `binary_cross_entropy_with_logits` doesn't support back-propagating through the weights attribute.

If you don't need the derivative w.r.t. `weights` then you can use `weights.detach()` instead of `weights`. If you need the derivative, then you'll having to implement `binary_cross_entropy_with_logits` yourself.

[2019-04-15 18:03] #19254 closed

[2019-04-15 18:07] colesbury commented on #19256
@HanYuanyuaner we use the issue tracker for bug reports and feature requests. Please use https://discuss.pytorch.org (https://discuss.pytorch.org/) for questions.

See also
https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/sparse/cuda/SparseCUDABlas.cu

[2019-04-15 18:07] #19256 closed

[2019-04-15 18:09] colesbury commented on #8938
@zou3519 can you give na update on this?

[2019-04-15 18:11] colesbury commented on #8831
@EmmaW8 are you also on ubuntu14.04?

[2019-04-15 18:16] colesbury commented on #19260
This sounds like the crux of the problem to me. I don't think it's worth changing `nn.Sequential`

[2019-04-15 18:23] colesbury commented on #10006
@ShilinHe I believe you can disable cuDNN globally:

[code]

PyTorch team: we should consider fixes or potential improvements;

- Don't use cuDNN in eval mode when the gradients are enabled (i.e. weights have requires_grad=True) and not in a `no_grad()` block
- The error message should suggest work-arounds
- Potentially specify the backend in the RNN constructor

[2019-04-15 18:35] colesbury opened #19267 "torch.distributed.broadcast should default to current stream"
## 🐛 Bug

This is the `torch.distributed` portion of #19219.

Repeated calls to `torch.distributed.broadcast` (and other distributed ops) with the NCCL backend will eat up all available GPU memory. This leads to repeated CUDA synchronizations and bad performance.

The `torch.distributed` ops should **default to the current stream** like all other PyTorch ops. DistributedDataParallel, which benefit

[2019-04-15 18:37] colesbury commented on #19219
I'm closing this issue now that #19222 was landed. See #19267 for the remaining "suggested fix part 2".

[2019-04-15 18:37] #19219 closed

[2019-04-15 18:38] driazati commented on #18617
Can you check and see if this still reproduces on master/nightly? I tried your code and didn't see any diffs in the weights.

[2019-04-15 18:47] npyoung commented on #19224
@SsnL Per-device cache seems like a good fix to me!

[2019-04-15 18:52] ezyang opened #19268 "32-bit PackedTensorAccessor"
According to @t-vi and Clement Pinard, PackedTensorAccessor is slower than THCDeviceTensor because it does 64-bit indexing, and 32-bit indexing can be quite a bit faster on CUDA. We should support it as an option (with documentation about how to properly test if you can use 32-bit indexing or not.)

cc @ezyang @gchanan

[2019-04-15 18:55] t-vi commented on #19268
We do?

Am 15. April 2019 20:52:42 MESZ schrieb "Edward Z. Yang" <notifications@github.com>:

[2019-04-15 18:57] vadimkantorov commented on #1810
For me the problem with topk were the crazy large negative indices. Maybe better to reset them to a documented special values or to the actual indices, corresponding to nan positions (if they are selected)

[2019-04-15 19:05] ezyang commented on #19268
You're right, egg on my face. So this is more of a documentation request.

[2019-04-15 19:09] rmchurch opened #19269 "Compiling pytorch from source error: [Errno 13] Permission denied for SOURCES.txt"
## 🐛 Bug

Compiling pytorch from source in a conda environment compiles the code (i.e. reaches 100%), but fails in the egg install due to a permissions issue. I am the owner of this directory (no need for sudo), its just the SOURCES.txt file which doesn't have write permissions, but this file appears to be created by the install each time.

## To Reproduce

Steps to reproduce the behavior:

1. con

[2019-04-15 19:23] Kaixhin commented on #19250
Yep the issue and proposal make sense, would be a sensible thing to catch :+1:

[2019-04-15 19:29] glample commented on #18932
We had the same issue. Problem was the version of MKL which was not good. Just running:

[code]

before the installation fixed the issue.

[2019-04-15 19:36] driazati commented on #19053
Can you provide the python script you are using to generate your TorchScript program (`stm.pt`)? I tried the code below but it doesn't import correctly.

[code]

[2019-04-15 19:42] soulslicer commented on #14363
For some reason, if you compile the latest NCCL from source and install it. Pytorch will attempt to compile and link against it and fail. I had to uninstall NCCL from /usr/local for it to work so that Pytorch would compile and link its own NCCL. Just putting it out there in case anyone has this issue

[2019-04-15 19:46] #13273 closed

[2019-04-15 19:50] #18873 closed

[2019-04-15 20:44] apaszke commented on #19160
No, I think gradient mode is completely independent of eval/train mode of modules. We should point that in the docs, but I don't think an argument like that is a good idae.

[2019-04-15 20:47] pietern commented on #19267
Thanks for doing the investigation and fixing this in the OOM case.

I walked through the relevant code paths and can't figure out why the existing implementation doesn't work. In your example, the allocated tensor will be free'd when you call `del` (or goes out of scope, etc). This means a call to `free(void *ptr)`, which means a call to `insert_events` because `stream_uses` is non-empty (per the

[2019-04-15 20:57] eellison commented on #19106
cc @wanchaol Performance, @yf225 C++

[2019-04-15 21:12] gkossakowski opened #19277 "[onnx] Silent crash when exporting a model larger than 2gb"
## 🐛 Bug

Not sure if this is a bug or a known limitation. I get a silent crash in the onnx exporter when I work with a large model (> 2gb total size of parameters). The behavior I'm seeing is that the exporter returns control without reporting any error and an empty onnx file is created on disc.

## To Reproduce

Steps to reproduce the behavior:

1. define a model:

[code]

2. run export:

[code]

[2019-04-15 21:31] colesbury commented on #19267
The event doesn't complete immediately. The NCCL broadcast has been "launched" asynchronously, but it hasn't completed yet. (The `randn` is launched asynchronously too).

The CPU can get through the for-loop many times while the `randn` and `ncclBcast` kernels are waiting to be executed in some internal CUDA queue.

Here's a modified version of the code that demonstrates the delay between launch a

[2019-04-15 21:52] yf225 commented on #19106
Is this a CPU model? If so, https://github.com/mingfeima/convnet-benchmarks/blob/master/pytorch/run.sh#L16-L25 can be useful for speeding it up.

[2019-04-15 23:19] yydxlv commented on #2267
The same error "cuDNN error: CUDNN_STATUS_BAD_PARAM" occured when i use LSTM , when i changed the dtype from torch.float64 to torch.float32. The error was avoided.

[2019-04-15 23:53] jamestwebber commented on #9674
I'd like a solution to the indexing problem as well! I came up with this to index rows out of a sparse tensor (sensitive stomachs should avert their eyes):

[code]

The transposes are necessary because `torch.sparse.mm` requires the first argument to be the sparse one. It's ugly (and I'm not sure if it's at all performant) but it seems to be running in my first test.

[2019-04-16 00:55] jgong5 commented on #18318
@raghuramank100 Thanks for the answer. So for the graph mode, fake quant ops are inserted at the op boundary, correct? I noticed that the *step 3* in the design doc does not have a fake quant op in-between Conv and ReLU. Should there be one in the graph mode? Moreover, if fake quant ops are inserted at the op boundary, how could we selectively fall back some ops to full precision?

The usage model

[2019-04-16 01:45] jghawaly commented on #19251
Yes ROCm Thrust is installed. The ROCm pytorch docker does work, however I do not want to have to work with it within a docker, so I was hoping to find a way to compile PyTorch for ROCm. Has there been any reported success doing this recently? All of the tutorials and examples I have seen are either very old or incomplete.

[2019-04-16 01:54] vishwakftw commented on #18825
Closed by https://github.com/pytorch/pytorch/commit/3403cb857bc2e1bdfb26665688f077ee1b05e811.

[2019-04-16 01:54] #18825 closed

[2019-04-16 02:29] ofexe commented on #19053
Sorry about that before. Here is the code you can use.
[code]

[2019-04-16 02:57] sublee commented on #19260
@colesbury Thank you for tagging and your response! :)

My goal is consistency between `nn.Sequential` and `checkpoint_sequential`. I think that one of those should be changed. I wonder why don't you think it's worth changing `nn.Sequential`. Is the inconsistency not so bad? Or `checkpoint_sequential` should be changed rather than `nn.Sequential`?

Actually, I thought wrong about 1-tuple as an arg

[2019-04-16 04:26] SsnL commented on #19224
hmm, I can't trigger this error without setting `CUDA_LAUNCH_BLOCKING=1` though

[2019-04-16 04:28] ShilinHe commented on #10006
@colesbury Thanks for your suggestion, but in this case I cannot use the GPU, right?
I find a better solution to this problem: just enable the training mode, but force set the dropout to be zero. It should perform exactly as the eval mode.

[2019-04-16 04:30] uyongw commented on #19092
@ezyang Thanks for the reply. Yes soft format tag may help. The concern is it may be not flexible enough as the dimension order can be arbitrary. Also it itself is not computable. Named tensor has semantic meaning for each dimension, but may need some more facilities to support I doubt.

Personally I would think this can be solved by introducing a map from strides order (physical) to NCHW sizes or

[2019-04-16 05:32] sublee commented on #19260
Originally, I thought `checkpoint_sequential`'s interface (supporting `*args`) is better than `nn.Sequential`'s one. But if we make `nn.Sequential` also support multiple inputs, it seems to bring one more problem.

Currently, nested sequential models can be flattened. For example, `nn.Sequential(nn.Sequential(a, b), nn.Sequential(c, d))` can be flattened as `nn.Sequential(a, b, c, d)`. Because all

[2019-04-16 06:39] sakaia commented on #19245
it should use following link
http://www.bmva.org/bmvc/2016/papers/paper119/index.html

[2019-04-16 06:41] ThisIsIsaac commented on #19184
Still failed with:
[code]

[2019-04-16 07:12] yelu commented on #17650
Based on my test, this doesn't fix the issue. vector<int64_t> is a special type define, thus different from a  vector<non POD type>. So,
1. Tuple[List[int]] works
2. Tuple[GenericeList] doesn't work

[2019-04-16 07:17] asa008 opened #19302 "Libtorch C++ model predict/forward propagation crashed on windows10, CUDA 10.0, VS 2017 15.7.6 ,RTX 2080, but libtorch C++ works with cpu successfully"
## 🐛 Bug

I install pytorch by source compiling to get libtorch on window10, CUDA10.0, VS 2017, RTX 2080.
Thou Libtorch C++ work with cpu successfully,   it will crash when libtorch c++ work with GPU.
Actually, it can load model successfully, but it will crash when execute forward(.) function.

## To Reproduce
compile and execute following codes, the error will occur:

#include <torch/script.h> //

[2019-04-16 07:21] yelu opened #19303 "[jit] Do not infer empty list(e.g., List[Tuple[int,int]] to be of type List[Tensor]"
## 🚀 Feature
An empty generic list is deduced to be List[Tensor]. The C++ api infers the element type by inspecting the first element in the list. I don't think this is good design.

As a serious and formal toolkit, it should allow an empty list of **any type**.

## Motivation

## Pitch

## Alternatives

## Additional context

[2019-04-16 08:00] dollysapra commented on #17616
Yes, i added this little code to my script to make it work. Somewhere in my conversion from onnx to caffe2 model, operators missed CUDA device option.

[code]

Hope it helps.

[2019-04-16 08:01] #17616 closed

[2019-04-16 08:27] peterjc123 commented on #19302
Would you please switch to the debug version and post the stack trace here?

[2019-04-16 08:31] npyoung commented on #19224
If you don't have launch blocking on, the error surfaces as an illegal GPU memory access and appears well after the offending cuFFT call. I'll try to put another minimal example together. Right now I can only get it to fail without `CUDA_LAUNCH_BLOCKING=1` in my full application.

[2019-04-16 08:55] catrueeb commented on #19106
Is there a way to do this on windows?

[2019-04-16 08:57] asa008 commented on #19302
much obliged for your reply.
I ran my code in debug mode, however it stuck in model load line, and cannot trace into source code. maybe I didn't compile debug code? I copied the same c10.dll, c10_cuda.dll, caffe2.dll, caffe2_gpu.dll, torch.dll which in release folder to current debug folder, but  code compiled successfully in VS debug mode.
![image](https://user-images.githubusercontent.com/468019

[2019-04-16 09:08] peterjc123 commented on #19302
yes. you need to recompile it with DEBUG=1.

[2019-04-16 09:12] asa008 commented on #19302
thank you very much, I will try this

[2019-04-16 10:57] LoveZL0512 opened #19304 "libtorch gpu"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1.
1.
1.

## Expected behavior

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out the checklist below manually).

You can get the script and run it with:
[code]

 - PyTorch Version (e.g., 1.0):
 - OS (

[2019-04-16 10:58] #19304 closed

[2019-04-16 11:09] LoveZL0512 opened #19305 "libtorch gpu efficiency"
## 🐛 Bug

## To Reproduce
here is my code

auto out = faceDetect->forward({ tensor_image }).toTuple();
c10::cuda::CUDACachingAllocator::emptyCache();
...some tensor ops on gpu
boundingBoxesOfOne = torch::masked_select(boundingBoxesOfOne, mask);

faceDetect is a sfd net,after forward(),if i call emptyCache(),it will cost 170ms time to emptyCache;if i don't call emptyCache(),masked_select will cost

[2019-04-16 11:25] VDeamoV commented on #3358
Hi there,
I have the same issue, `print(param)` can print the params normally, but it didn't contained grad.

my optim's code is below

[code]

[2019-04-16 11:42] beyondpie commented on #6570
Hi, I wonder is it possible for java to run pytorch through Jython?

[2019-04-16 11:53] apaszke commented on #19303
It does allow lists of any type, you just need to annotate them if the default doesn't match. Try `torch.jit.annotate(List[Tuple[int, int]], [])`.

[2019-04-16 12:13] ThisIsIsaac commented on #19165
@soumith made a pull request.

I am puzzled by:

[here](https://github.com/pytorch/pytorch/blob/master/CONTRIBUTING.md

It says not to add anything to any of the directories under [src](https://github.com/pytorch/pytorch/tree/master/aten/src). But when I go into [native/cuda](https://github.com/pytorch/pytorch/tree/master/aten/src/ATen/native), some cuda functions are missing.

From my understandi

[2019-04-16 13:42] beauby opened #19309 "Pytorch conda package loads system libcudart instead of cudatoolkit's"
## 🐛 Bug

Pytorch's conda package depends on the `cudatoolkit` package, but still loads the system `libcudart`/`libcublas` if available.

## To Reproduce

Steps to reproduce the behavior:

1. `conda create -n test_load_cuda python=3.7 && conda activate test_load_cuda`
1. `conda install pytorch-nightly cudatoolkit=9.0 -c pytorch`
1. `LD_DEBUG=libs python -c "import torch; torch.rand(1, device='cuda

[2019-04-16 14:12] another-dark-knight commented on #2267
To get more sensible error messages pin pointing the problems, we could just disable the cudnn backend.

[2019-04-16 14:18] asa008 commented on #19302
hi, peterjc123, sorry to trouble you.
I traced the debug info, I'm not clear, they are:

Tensor for argument #4 'running_mean' is on CPU, but expected it to be on GPU (while checking arguments for cudnn_batch_norm) (checkSameGPU at ..\aten\src\ATen\TensorUtils.cpp:122)
(no backtrace available):
operation failed in interpreter:
op_version_set = 0
def forward(self,
    input: Tensor) -> Tensor:
  in

[2019-04-16 14:40] SsnL commented on #19224
It’s alright. I figured out a way to trigger it.

[2019-04-16 15:02] peterjc123 commented on #19302
Looks like the model is not completely moved on to GPU. @ezyang

[2019-04-16 15:23] SsnL commented on #19305
CUDA is asynchronous. The time duration you observed is the time needed to forward though the network.

[2019-04-16 15:23] #19305 closed

[2019-04-16 15:36] eellison commented on #17650
Hi, the following code works

[code]
What is the error you are seeing?  It is difficult to understand how to construct various data types, which is I opened #17165, but this issue should remain closed I believe.

[2019-04-16 15:39] AshwinAKannan commented on #11214
Hello,

Here’s my simple cpp code that just loads the model. I’m trying to compile this code in Windows 7, VS 2017. I’ve downloaded libtorch and included path to libtorch/include to C++ include dirs & libtorch/lib to linker

[code]

I run into errors similar to ones mentioned above:
[code]

Any help would be greatly appreciated. Thanks in advance! :slight_smile:

[2019-04-16 15:39] eellison commented on #19303
The C++ API allows empty lists, they need to be constructed correctly, which is currently poorly documented and difficult to do.

#17165 is open to track that. I'm not sure of the issue you are opening here

[2019-04-16 15:51] colesbury commented on #19251
cc @iotamudelta

[2019-04-16 15:54] soumith commented on #11214
(closing because we have been shipping libtorch binaries for a while)

[2019-04-16 15:55] AndreiCostinescu commented on #17108
My system:
Windows 10
Cuda 10.1
Python 3.7.2
PyTorch 1.0.1
NVIDIA GeForce GTX 1050 Ti

The following always works:
[code]

The following always fails for me:
[code]

My solution was to add to my scripts the call to `torch.cuda.current_device()` before any other cuda calls.
Hope this gives a hint as to where to look for the bug :)

[2019-04-16 15:56] kalpanki commented on #19026
I would like to pick up the left over functions listed under "Higher-pri" namely: `fmod`, `remainder`, `modf`  and `acos` if you guys are happy. That hopefully covers all the functions listed under "Highper-pri".

[2019-04-16 16:02] AshwinAKannan commented on #11214
Sorry, I wasn't clear. I am using the libtorch binary (https://download.pytorch.org/libtorch/cu100/libtorch-win-shared-with-deps-latest.zip), yet I run into these errors. Any idea what I could be doing wrong. Thanks

[2019-04-16 16:11] iotamudelta commented on #19251
Indeed the recommended method is to use the docker image as discussed here: https://github.com/ROCmSoftwarePlatform/pytorch/wiki/Building-PyTorch-for-ROCm

We do not currently officially support compilation on the host. A user provided a howto here: https://github.com/ROCmSoftwarePlatform/pytorch/issues/337#issuecomment-467220107 which apparently works well.

[2019-04-16 16:19] devforfu commented on #3867
@harritaylor Agree, this feature would definitely simplify porting of Keras/TF models into PyTorch. Every once in a while, I still use "manual" calculations of padding size to build my same-padded layers.

[2019-04-16 16:23] Semen52 commented on #9122
Hi @xkszltl,

Did you find the solution?

[2019-04-16 16:27] pietern commented on #19267
Thanks, this makes things clear. The repro illustrates the problem perfectly. I was thinking of the underlying implementation, where it kicks off a collective, and then calls `wait()`. What I forgot here is that `wait()` for NCCL is also asynchronous (it only executes `cudaStreamWaitEvent` for completion of the NCCL kernels).

I also understand your solution to simply launch everything on the defa

[2019-04-16 16:35] lhendre commented on #19026
I would like to pick up the left over functions listed under "low-pri" namely: isnan, asinh, atanh and cosh, sinh, tanh if that works

[2019-04-16 17:30] zou3519 commented on #19165
Yes, you should look at both directories. Our newer implementations live in aten/native/cuda and the other implementations are in our legacy THC / THCUNN folders.

[2019-04-16 17:51] siddheshmhatre commented on #14352
Hey,
It was fixed by compiling libtorch from source using the same compiler as used in ROS

[2019-04-16 18:21] jacobrgardner commented on #15253
I've encountered some problems where `torch.cdist` is **extremely** slow for larger data regimes. Here it is **43x** slower than our fully python PyTorch distance implementation:
[code]

[2019-04-16 18:29] jamesr66a opened #19314 "[JIT] Iterating over a tensor using `for-in` doesn't work"
Repro:

[code]

Output:

[code]

[2019-04-16 18:43] joohoonl-nv commented on #17697
Also see PR #18698

[2019-04-16 18:54] gottbrath commented on #16908
Discussion with some folks (nvidia, fb, ms) -- we think that the large integer value for unsqueeze is separate from the other parts of this bug and it would be clearer to spin that part off into a separate issue (which may be something we can work on quickly and close).

[2019-04-16 19:21] xuw080 commented on #1355
I am still meeting this problem. Using pytorch 1.0 and python 3.7. When I was using multiple data_loader, this bug will appear. If I use less than 3 data_loader or use single GPU, this bug will not appear. Tried:
1. time.sleep(0.003)
2. pin_memory=True/False
3. num_workers=0/1
4. from torch.utils.data.dataloader import DataLoader
5. writing 8192 to /proc/sys/kernel/shmmni
None of them works. Don't

[2019-04-16 20:24] SsnL opened #19318 "[doc] note css regression"
Notes in the `master` docs look weird, compared to `stable` docs.

`master`:
![Screenshot 2019-04-16 13 19 18](https://user-images.githubusercontent.com/5674597/56230533-7a775c80-604a-11e9-8e5b-0683780cc1c4.png)

`stable`:
![Screenshot 2019-04-16 13 20 08](https://user-images.githubusercontent.com/5674597/56230596-a0046600-604a-11e9-840a-ce68e7e67e75.png)

This is due to the missing `first` class

[2019-04-16 20:55] ThorJonsson commented on #8938
I would love this feature!

[2019-04-16 20:58] ailzhang commented on #19303
Closing via

Please feel free to reopen if it doesn't solve your issue. Thanks!

[2019-04-16 20:58] #19303 closed

[2019-04-16 21:08] Amiralae commented on #19190
It's known that in pytorch, there is no serving for production code level as in tensorflow.
But you can use ONNX to convert your model to other frameworks that support inference and serving in production.
One other option might be using kubeflow, find more details here :
https://www.kubeflow.org/docs/components/pytorchserving/
In case you want to use your model locally and test it, then simply use

[2019-04-16 21:30] t-vi commented on #19253
Just a quick shout that I have a fix for this, but I'm also fixing pow_2 (with scalar base), which makes it a bit slower.

[2019-04-16 22:25] nmerrill67 commented on #19125
@oroojlooy The header you need is actually torch/nn/parallel/data_parallel.h. Just figured that out.

[2019-04-16 22:44] CoderHam opened #19326 "Libtorch Doc edit Minimal example"
## 📚 Documentation

The documentation for the current nightly version of libtorch (Available at https://download.pytorch.org/libtorch/nightly/cpu/libtorch-shared-with-deps-latest.zip ,
 as mentioned by the docs) is not consistent with the actual way it works. Minor bug. In specific:

https://pytorch.org/cppdocs/installing.html#minimal-example

We can now run the following commands to build the app

[2019-04-16 23:05] ngimel commented on #19092
@ezyang

When arithmetic operations and threshold were moved to TensorIterator, that was technically BC-breaking (because memory format of operands used to be not preserved, and TensorIterator preserves it). Status quo now is very inconsistent - threshold preserves layout, all other unary operations don't,  torch.where does not, arithmetic operations preserve layout if both operands have the same

[2019-04-16 23:40] borisfom commented on #16908
The culprit is at line 182:
 x = x.view(x.size(0), -1)
If there is another operation that does the same but does not refer to size(0) explicitly, that would be a workaround.

[2019-04-16 23:53] dougsouza commented on #2584
Is there any chance that we could use this with DataParallel?

[2019-04-17 01:02] luyao777 commented on #3996
Thanks, it worked!

[2019-04-17 01:06] LoveZL0512 commented on #19305
forward() has cost time ，the result out has got,so is that cuda need to empty cached memory asynchronously？but 170ms is too long？
or you mean the result out has not got,when i access the variable，it will cost time to wait result out？
if it is the second situation，how to set CUDA operations synchronous？thks！

[2019-04-17 01:39] forhonourlx opened #19330 "Multiprocessing on distributed Multi-nodes shutdown error: ‘spawn’ on slave node leads to semaphore_tracker leaked"
Hi Masters,

I am trying the following code on 2 nodes with diff num of CPU/GPU devices, running one parameter server (ps) process and diff num of worker processes on each node.(e.g. global_ranks:[ [0(ps), 2(worker), 3(worker)], [1(ps), 4(worker)] ])

For CUDA init reasons, I turned mp.set_start_method('spawn', force=True) on slave node and leads to the following crash:(NOT warning)
/home/simon/an

[2019-04-17 02:32] ThisIsIsaac opened #19335 "using `__restrict__` whenever possible"
## 🚀 Feature

## Motivation

to increase throughput

## Pitch
for every feasible CUDA kernel, take input as `THCDeviceTensor<T, DIM, IndexT, RestrictPtrTraits>` instead of `DefaultPtrTraits` in order to add `__restrict__` keyword to the device tensors. This alone seems to increase throughput about 3~5%. The increase of throughput is tested with upsampling bilinear code.

## Alternatives

## Additi

[2019-04-17 03:06] ThisIsIsaac commented on #19335
1. what is `scalar_t`? I am not sure if it is a template variable or an actual class. I was wondering if I could cast a scalar_t array `scalar_t* x` into `const scalar_t* __restrict__ x` ( assuming `const` and `__restrict__`'s conditions are met ).

2. some cuda Kernels -- like [subsample](https://github.com/pytorch/pytorch/blob/master/aten/src/THCUNN/SpatialSubSampling.cu) -- seems to use regular

[2019-04-17 03:31] asa008 opened #19336 "C10_DEPRECATED_USING error: attribute does not apply to any entity"
## 🐛 Bug
ArrayRef.h
C10_DEPRECATED_USING    error: attribute does not apply to any entity
win10, cuda10.0, VS2017 15.7.6, pytorch 1.0.1 source install
## To Reproduce

I install pytorch from newest source to get libtorch library on win10 successfully.
However when I first build a visual studio project, the error occur at line 273:
using IntList C10_DEPRECATED_USING = ArrayRef<int64_t>;
saying erro

[2019-04-17 03:53] ofexe commented on #19302
@asa008 我想知道如何编译Debug版本， 可以麻烦写个简短的教程吗

[2019-04-17 03:55] asa008 commented on #19302
Hi, peterjc123:
is above bug relative with following fix?
When I build my VS project, firstly the error occur:
C10_DEPRECATED_USING error: attribute does not apply to any entity

corresponding code line is in pytorch\torch\include\c10\util\ArrayRef.h
[code]
then I annotated line 273, the project built successfully after the annotate.
By the way, how to fix the error: attribute does not apply to an

[2019-04-17 04:03] asa008 commented on #19302
cmd下执行：(我用的是python 3.6.6, CUDA 10.0, Visual Studio 2017 15.7.6)

pip install numpy pyyaml mkl mkl-include setuptools cmake cffi typing
git clone --recursive https://github.com/pytorch/pytorch
cd pytorch

set CMAKE_GENERATOR=Visual Studio 15 2017 Win64
set DISTUTILS_USE_SDK=1
set DEBUG=1

for /f "usebackq tokens=*" %i in (`"%ProgramFiles(x86)%\Microsoft Visual Studio\Installer\vswhere.exe" -version

[2019-04-17 04:20] peterjc123 commented on #19302
@asa008 Would you please try if it can be fixed by turning off `/permissive-`?

[2019-04-17 04:26] mrshenli commented on #18122
@dorgun can you check if the fix works for you?

[2019-04-17 06:36] LoveZL0512 commented on #19305
one more question,one image convert to tensor to forward() cost 200ms,three same images cat to a tensor to forward() cost 590ms,that means a batch images to forwad() is serial not parallel?

[2019-04-17 06:41] asa008 commented on #19302
thank you very much! @peterjc123   I will try it.

[2019-04-17 06:53] LoveZL0512 opened #19343 "libtorch forward efficiency synchroni"
## 🐛 Bug
![image](https://user-images.githubusercontent.com/11365001/56267119-79b0fa00-6120-11e9-9b1d-cbebf41fb67f.png)

[2019-04-17 07:27] jgong5 commented on #18318
@raghuramank100 One more question: would there be an option to allow saving full-precision biases?

I'm asking because there is situation where biases are shared by multiple ops, e.g. RetinaNet, and quantized biases have to be requantized for individual ops due to different scales of the activations. To avoid the extra requantization overhead, we would rather pass full-precision biases to the quan

[2019-04-17 07:38] ZHAIXINGZHAIYUE opened #19344 "transfer_ideep_net.py support resnet?"
## transform_ideep_net.py support resnet?

[2019-04-17 07:40] xsacha commented on #19095
My code has since changed and I wasn't able to replicate. So as I am unable to provide the cudnn log you require I will close this.

[2019-04-17 07:57] asa008 commented on #19302
it works fine! thank you @peterjc123
However, the gpu forward() bug remains! @ezyang
![image](https://user-images.githubusercontent.com/46801919/56270692-53438c80-6129-11e9-9d7d-237da0d517cd.png)
any suggestion?

[2019-04-17 08:03] asa008 commented on #19336
this bug can be fixed by turning off /permissive:
Configuration Properties -> C/C++ -> Laguage -> Conformance mode ： No

[2019-04-17 08:10] uyongw commented on #19092
@ezyang @ngimel

If we don't rely on strides to express physical order, `empty_like` does not necessary break BC. There are 3 kinds of dimension info in tensor:
- shape: sizes
- logic order: order info recorded in strides (typically used to support transpose or permute)
- physical order: NCHW or NHWC (can be addressed as stride_index as I proposed).

Currently physical order is same as shape/sizes

[2019-04-17 09:33] matyasfodor commented on #5013
I came across this repo: [https://github.com/ceykmc/pytorch_model_summary](https://github.com/ceykmc/pytorch_model_summary) AFAIK it's not distributed on pypi, but it gives you a pretty detailed summary.

[2019-04-17 09:59] qbx2 opened #19348 "[JIT] isinstance(m, nn.Linear) returns False in ScriptModules"
## 🐛 Bug

We usually use `for m in self.modules()` loop to initialize weights and biases. However, `isinstance()` is not working properly when the module is JIT-supported (all modules except for `Unsupported torch.nn Modules` https://pytorch.org/docs/stable/jit.html#builtin-functions).

## To Reproduce

Steps to reproduce the behavior:

[code]

[code]

## Expected behavior

`isinstance()` should r

[2019-04-17 10:11] asa008 commented on #19302
when I run pytorch python gpu code, it also crashed:
 (python 3.6.6, cuda 10.0, cudnn 7.5, RTX 2080, WIN10 X64)

THCudaCheck FAIL file=F:/ProgramFiles/pytorch_release_201904171400/aten/src\THC/generic/THCTensorMath.cu line=16 error=48 : no kernel image is available for execution on the device
Traceback (most recent call last):
  File "Vcls.py", line 306, in <module>
    demo(data='.', save='models

[2019-04-17 10:13] Coolnesss commented on #17501
I've made progress yet again. I have the CPU and CUDA implementations done, with the caveat that everything is for the 1D input case only. He's some preliminary benchmarks (on a single RTX 2070)

With the (arbitrarily chosen) parameters
[code]

Old backward:
20.4 ms ± 12.9 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)
Peak memory usage 3.60 gb

New backward:
13.6 ms ± 15.4 µs per loop (m

[2019-04-17 10:22] MKFMIKU commented on #19024
In the Pytorch version 1.0.1-py3.7_cuda8.0.61_cudnn7.1.2_2, I face the same problem.

[2019-04-17 10:43] triple-tam commented on #1204
For me, what solved the error, was remembering to update your network parameter `num_classes` to match the dataset's number of classes! Small but easy to forget thing

[2019-04-17 10:49] ofexe opened #19349 "Different behavior when trace model."
## 🐛 Bug

When I use torch.jit.trace() to trace a model, it gives me different results with same code.

## To Reproduce

I write a simple test example
[code]

## Expected behavior
it should print this
[code]
yet it gives me :
[code]
As you can see, the type of input.shape[2] is different.
## Environment

 - PyTorch Version (e.g., 1.0): 1.0.1
 - OS (e.g., Linux): Win10
 - How you installed PyTorch

[2019-04-17 11:12] peterjc123 commented on #19302
I believe this is a different issue. The actual error here is `no kernel image is available for execution on the device`. You should set `TORCH_NVCC_ARCH_LIST` properly to get it resolved.

[2019-04-17 11:20] MadhumitaSushil commented on #10006
I iterate over all the network parameters and set .train to False. Gradient
computation works in this manner.

On Tue, 16 Apr 2019 at 06:29, Shilin HE <notifications@github.com> wrote:

--
Madhumita

[2019-04-17 11:38] t-vi commented on #17501
Good job!
- For the N-D case in cuda, one thing you can do is to mimic what [OffsetCalculator](https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/cuda/detail/OffsetCalculator.cuh) does. Not in the sense of the actual computation, but pass in strides and sizes as arrays as fixed-size array (MAX_DIMS is 25 for OffsetCalculator). Then you can just multiply up the position from a linear inde

[2019-04-17 11:42] #19259 closed

[2019-04-17 12:26] Ricocotam opened #19351 "Printing gc.get_objects() makes Runtime Error when importing torch"
## 🐛 Bug

I'd like to print the return of the `gc.get_objects()` function (I have memory issues) but I can't. Whenever I do it, I get the following error :
[code]
But what's more strange is that using the length are affecting it to a variable (not printing it) doesn't produce an error.

## To Reproduce

I'm using python3.7.0 and latest version of pytorch (1.0.1.post2). Just run the following code

[2019-04-17 13:36] xidulu commented on #18027
The `mul + sum` method would use more memory compared with the `bmm` method in my test cases.

`import time

import torch
import torch.nn.functional as F
torch.backends.cudnn.enabled = True

batch_size = 128 * 1000 * 1000
Dimension = 16
use_cuda = True
# perceptron = (torch.nn.Linear(Dimension, 1))
input = torch.randn(batch_size, Dimension)
W = torch.randn(Dimension, Dimension)

start_time = time.

[2019-04-17 13:49] JunhongXu opened #19353 "Linking torch libraries and yaml-cpp gives undefined reference to yaml-cpp libraries"
I want to use yaml-cpp library to parse some configuration file, but when I link yaml-cpp and libtorch together, I got undefined reference to `YAML::LoadFile()`.

File main.cpp:
[code]

File CMakeLists.txt
[code]
When I link with both libtorch and yaml-cpp, I got the following error:

collect2: error: ld returned 1 exit status

But without linking to libtorch, the build succeeded.

[2019-04-17 15:37] cheungxiongwei commented on #18319
@ezyang 老乡,也可以给我一份吗?我在 windows 系统上编译也遇到一些问题.

[2019-04-17 15:51] zdevito commented on #19070
Adding 1.1 milestone. The issues causing this were introduced in 1.0, revealing a lot of cases where people were inadvertently (but successfully) capturing parameters as constants. Given the number of reports, we need to make sure this is fixed for the 1.1 release.

[2019-04-17 16:03] pietern opened #19354 "DDP with unused parameters and dict return value"
## 🐛 Bug

Using DDP after #18953, with a model where not all model parameters are used in a particular iteration, **and** a dict return value (from `forward`), doesn't work.

This is a known problem and we can easily solve by adding a smarter return value scanner that deals with dicts as well (and recurses into them?).