[2017-11-04 22:47] apaszke commented on #3050
And the standard clearly states that these macros:

Eh, I guess we'll have to check if those gcc specific macros are set

[2017-11-05 01:53] Desperado000 opened #3490 "Deadlock when using lstm with multiprocessing on CentOS"
I was just writing a rnn with multiprocessing for some test, and the input and output dimension are 2000 and 64 respectively, it works fine on Win10 and MacOS, but when I migrated this network to CentOS, this network was deadlock and when I changed the output dimension to 10 or lower, it could run again. I was wondering if anyone has the same issue like this? Thanks~

[2017-11-05 05:09] xinyuwufei commented on #3461
I also ran into the same problem, so my temporary solution is to use the older version(which I installed a half month ago), this commit(**9d4d0640f26b044747927aa8cfc818d6e7861b7a**) is fine to me.

[2017-11-05 05:48] zhoumingyi opened #3491 "RuntimeError: CUDA error (3): initialization error"
[code]
I run these codes using pytorch 0.2.0, python 3.5 with error

[code]
But using cpu( ) woks fine

[2017-11-05 05:50] soumith commented on #3491
as mentioned in http://pytorch.org/docs/master/notes/multiprocessing.html#sharing-cuda-tensors

insert this to the top of your script

[code]

[2017-11-05 05:50] #3491 closed

[2017-11-05 06:08] zdevito commented on #3050
So it seems like C11 atomics are just poorly supported in general. I think the best thing might just be to alter the C11 atomics check in the CMakeFile to include checking ATOMIC_INT_LOCK_FREE, and fall back to GCC atomics (which we already do in some cases) if they are not.

[2017-11-05 06:12] zhoumingyi commented on #3491
Thanks
But it also returned errors when I Inserted it

[code]

[2017-11-05 06:51] zhoumingyi opened #3492 "RuntimeError: context has already been set(multiprocessing)"
I use a spawn start methods to share CUDA tensors between processes

[code]
It returns a wrong result and shows an error

[code]

[2017-11-05 09:03] elbamos commented on #3461
+1

[2017-11-05 09:49] prisar commented on #2731
thank you! It worked for me also🙂

[2017-11-05 11:12] apaszke commented on #3492
When using `spawn` you should guard the part that launches the job in `if __name__ == '__main__':`. `set_start_method` should also go there, and everything will run fine.

[2017-11-05 11:12] #3492 closed

[2017-11-05 11:21] matiasvc commented on #3461
+1

[2017-11-05 17:18] marmarko commented on #3461
+1

[2017-11-05 19:08] SsnL commented on #3490
Interesting, is the deadlock happening in dataloader or training? Could you share a small script that can reproduce the issue? Thank you :)

[2017-11-05 19:10] SsnL commented on #3477
@apaszke From my experience with 0.2.0, it always creates ~250MB context on first visible GPU, no matter if that GPU is used or not.

[2017-11-05 19:34] apaszke commented on #3477
That's weird, I don't think it should be like this

[2017-11-05 23:06] FKatenbrink commented on #3461
+1

[2017-11-06 00:45] seanremy opened #3495 "Gradient Ascent Cross Entropy Loss"
I'm using a GAN-like setup using CrossEntropyLoss and am curious about the best way to do gradient ascent. Since the one-hot conversion takes place inside the loss function, I am just reversing the gradients as follows:

[code]

Is this the correct way to go about this? My model outputs quickly become nan when I do this, and I'm trying to figure out if the above code is the reason.

[2017-11-06 03:00] powderluv commented on #2972
Ran into the same issue with top of master using Cuda9/Cudnn7.
I was able to fix it with TORCH_NVCC_FLAGS="-D__CUDA_NO_HALF_OPERATORS__" ./install.sh

[2017-11-06 04:26] svenstaro commented on #2972
In case it helps anybody, here is the [PKGBUILD](https://git.archlinux.org/svntogit/community.git/tree/trunk/PKGBUILD?h=packages/python-pytorch) I use to build the official package for Arch Linux. It should be quite straightforward to read.

[2017-11-06 06:19] acgtyrant opened #3497 "TypeError: torch.sort received an invalid combination of arguments - got (torch.FloatTensor, descending=bool)"
[code]

Then it throw error:
[code]

According to my understanding to Python, this should not happen while the `dim` has its default value. My PyTorch version is 0.2.0_3.

[2017-11-06 06:49] #3464 closed

[2017-11-06 08:31] fastlater commented on #494
@peterjc123  What can I do if I need torchvision?

[2017-11-06 08:32] peterjc123 commented on #494
@fastlater `pip install torchvision`

[2017-11-06 08:35] fastlater commented on #494
Thanks.

[2017-11-06 08:39] grantsrb opened #3498 "Memory Leak in autograd using ndarray[None]"
Here is an example of what seems to be a memory leak in pytorch, although it could be numpy?

[code]

The leak was only occurring when using the `[None]` or `[np.newaxis]` array unsqueezing methods in numpy. Also worth noting that the issue is resolved by removing the `.astype(np.float32)` from `np_arr` and casting the torch tensor to `float()` type.

An easy workaround is to reshape the array aft

[2017-11-06 09:03] dhpollack opened #3499 "ParameterList and ModuleList with named modules or parameters"
Both ParameterList and ModuleList could be easily modified to allow for a tuple of named parameters/modules.  It would be nice to retain the name of the parameters/modules if they were used.

Relating to this, I also thought it would be nice if both these lists accepted the generators produced by Module.modules(), Module.parameters(), Module.named_parameters(), Module.named_modules() as in input f

[2017-11-06 09:19] stefbraun commented on #3420
CUDNN 7 added cudnnCTCLoss, maybe we just need a binding to the newest CUDNN?

[2017-11-06 09:36] fastlater commented on #494
torch.nn.functional.affine_grid is missing. Do I need to add it manually?

[2017-11-06 10:57] jdily commented on #2389
Hi, I just want to test out some of the sparse function, so I tried to run the example @killeent provide.
[code]

And I got the following error message:
` RuntimeError: Expected object of type Variable[Sparsetorch.FloatTensor] but found type Variable[torch.FloatTensor] for argument #1 'mat2' `

it seems like some relevant functions are added, however, expect the second argument as sparse as well??

[2017-11-06 11:16] apaszke commented on #2389
cc: @zou3519 it seems that the error message PR gives weird results with sparse tensors

[2017-11-06 11:18] apaszke commented on #3499
I like the idea with `extend` and changing the `__repr__`. Please send a PR. I don't think parameter or module dicts are necessary - any `nn.Module` can work as such dict.

[2017-11-06 11:39] tarvaina commented on #3322
Thanks for the answer. Yes, if size_average=True always means dividing by the total number of the elements, I guess it's best to keep it like that, and point it out clearly in the documentation of that parameter.

It is quite surprising behavior in the case of **mean** squared error, since the parameter makes it a sum instead of a mean.

[2017-11-06 12:02] peterjc123 commented on #494
@fastlater If you want new features. you have to use the CI builds.  Use the CI build at your risk. You may have to use CUDA 8.0 and cudnn 6 to make this work. [Here](https://ci.appveyor.com/project/peterjc123/pytorch-elheu) is where you find the CI builds. APPVEYOR_BUILD_WORKER_IMAGE=Visual Studio 2017 is for Win10 and APPVEYOR_BUILD_WORKER_IMAGE=2015 is for Win7. Just select your environment and

[2017-11-06 12:06] lanpa opened #3502 "Is grad attribute in Variable immutable?"
The [doc](http://pytorch.org/docs/master/autograd.html?highlight=reassigned#variable) says :
"This attribute is lazily allocated and can’t be reassigned."

but It can be modified instead. See the example:

[code]

cc @ezyang @SsnL @albanD @zou3519 @gqchen

[2017-11-06 13:11] hvasbath commented on #2614
I have the same issue, however I have upgraded already to cuDNN7 and CUDA9, maybe they are too new?

[2017-11-06 14:37] SsnL commented on #3495
Your code should just work. The problem lies elsewhere. However, why don't you use `(-loss).backward()`? Is it because there is an adversary needing the `loss.backward()` gradient?

Please post such questions to the forum discuss.pytorch.org, rather than as a github issue.

[2017-11-06 14:38] zou3519 commented on #3322
Are you saying that in the case where `size_average=False`, MSELoss behaves as a sum rather than as a mean?

[2017-11-06 14:41] seanremy commented on #3495
Okay, that's good to know. And that's exactly why.

Thanks, had no idea that forum was even there, I'll use that from now on!

[2017-11-06 14:41] #3495 closed

[2017-11-06 14:44] SsnL commented on #3495
I'd try reducing the lr, or just removing the updates for one of your network (the one your want or the adversarial one), and see where the problem is.

[2017-11-06 14:50] seanremy commented on #3495
So I've tried reducing the lr but it has to get down to about 1e-10 to prevent the loss from increasing, and then it is too small for the model to get anywhere.

[2017-11-06 14:51] seanremy commented on #3495
And the discriminator is set to not update by setting all of its layers .trainable to False

[2017-11-06 15:20] levyben1 opened #3503 "DistributedDataParallel typo bug"
Hi, wanted to report a typo bug I found in DistributedDataParallel class:

line: 107
self._module**s**_copies = [self.module]

should be :
self._module_copies = [self.module]

[2017-11-06 15:45] zou3519 commented on #3503
Thanks for the report!
I'm not seeing this on [master](https://github.com/pytorch/pytorch/blob/master/torch/nn/parallel/distributed.py), perhaps it has been fixed?

[2017-11-06 15:51] soumith commented on #3503
this was fixed on master. Will be part of the next release.

[2017-11-06 15:51] #3503 closed

[2017-11-06 15:57] jdily commented on #2389
Hi, I think probably I didn't describe my problem clear..
Actually I am curious about if torch.mm takes two sparse matrices as arguments?
I am looking for function that do sparse x dense -> sparse on Variables.

thx!

[2017-11-06 15:57] soumith opened #3506 "nn.Embedding with sparse=True ignores padding_idx"
As reported here https://discuss.pytorch.org/t/bug-of-nn-embedding-when-sparse-true-and-padding-idx-is-set/9382 with repro.

When sparse=True, padding_idx should probably error out (as the easiest solution).
Alternatively, the gradients for padding_idx indices should be zeroed out explicitly in the sparse=True backward codepath.

[2017-11-06 16:26] gchanan opened #3507 "asserts don't trigger in aten build"
Lower-case asserts don't trigger in the aten build; this wasn't an issue with an (old) standalone ATen build.

ASSERT(...) does still trigger, so independent of whether we want to new behavior, we should probably change the existing tests to uniformly use ASSERT(...); currently some do and some don't.

cc @zdevito.

[2017-11-06 17:46] gchanan opened #3510 "Ensure zero-dim aten variables aren't exposed to users until dim/size/strides fallthrough to aten"
CC @colesbury.

[2017-11-06 18:02] apaszke commented on #2389
@jdily yeah sorry. You did describe it very clearly, but it's just not implemented at the moment. I only noticed that there's this additional bug which I mentioned.

[2017-11-06 18:58] lucylw commented on #3477
@Ssnl, @apaszke

It looks like in the context-manager in `torch/cuda/__init__.py`, the prev_idx gets reset in __enter__ to the default device index (which is the first visible GPU), and then it gets set to that upon __exit__ instead of to -1. So the context first gets created on the specified GPU (i.e. GPU5), then some more context gets created on GPU0, and then all the variable transfers go back

[2017-11-06 19:00] qbx2 opened #3512 "CuDNN ConvTranspose1d issue with transposed cuda Variable (can't convert to contiguous)"
[code]

What I have found out:
- m(x.transpose(1, 2).contiguous()) is not working because x.transpose(1, 2).is_contiguous() is evaluated to True, letting .contiguous() does nothing.
- This code works with cudnn disabled.
- This code works with Conv1d.

[2017-11-06 19:15] zou3519 commented on #3512
This has been fixed on master:
![image](https://user-images.githubusercontent.com/5652049/32459250-fd587eaa-c2fc-11e7-8dd3-ca35df49f98d.png)
You can build pytorch from source to avoid this bug or wait for the next release.

[2017-11-06 19:20] csarofeen commented on #3477
Shouldn't __enter__/__exit__ only get called with a 'with' statement?
Does this still happen if your first call (before using any cuda calls) torch.cuda.set_device(devID)?

[2017-11-06 19:21] #3416 closed

[2017-11-06 19:22] #3512 closed

[2017-11-06 19:48] aleSuglia opened #3513 "Unable to convert Numpy array to Tensor after keras.sequence.pad_sequences()"
Hello,

I'm using the ``pad_sequences`` function that is present in the Keras library in order to get back a padded numpy array. If you try to transform the resulting array in a LongTensor it will fail.

[code]

If you transform the array in a list again the code works. Is it a bug?

I am using the version '0.2.0_3' of PyTorch on a MacOS High Sierra.

Cheers,
Alessandro

[2017-11-06 20:26] apaszke commented on #3513
That's weird. As a workaround `torch.from_numpy` should work

[2017-11-06 20:27] aleSuglia opened #3514 "Unable to use cat on torch.LongTensor"
Hello again,

I'm trying to concatenate two tensor together using `torch.cat` applied on a Tensor that I have created from a Numpy array. Here is the example:

[code]

Instead if you try with this it works:
[code]

What's wrong?

Cheers,
Alessandro

[2017-11-06 20:47] #3507 closed

[2017-11-06 20:53] soumith commented on #3514
@aleSuglia it's not a bug, `torch.zeros(x.size())` returns a `torch.FloatTensor` and `x` is a `torch.LongTensor`. You need to convert `x` to `long()` as well.

`torch.cat((x, torch.zeros(x.size()).type_as(x)))` or alternatively `torch.cat((x, x.new(*x.size()).fill_(0)))`

[2017-11-06 20:53] #3514 closed

[2017-11-06 21:00] #3402 closed

[2017-11-06 21:00] #2470 closed

[2017-11-06 21:35] jekbradbury commented on #3477
There are a bunch of things in PyTorch that can currently lead to initialization of a context on the first visible GPU; things like CPU-GPU copies and `.tolist()` all need to be inside `with torch.cuda.device_of(tensor):` blocks

[2017-11-06 21:50] csarofeen commented on #3477
CUDA_VISIBLE_DEVICES may not be the best thing to always rely on "robust applications should use the CUDA API to enumerate and select devices with appropriate capabilities at run time. To learn how, read the section on Device Enumeration in the CUDA Programming Guide. But the CUDA_VISIBLE_DEVICES environment variable is handy for restricting execution to a specific device or set of devices for deb

[2017-11-06 22:11] #3264 closed

[2017-11-06 22:12] aleSuglia opened #3516 "Unable to apply cat between Variables"
Hi there,

I am confused by the behaviour of ``torch.cat``. I'm trying to do the following:
[code]
I've tried to transform the torch.zeros() in a Variable as well but it doesn't work. Am I doing something wrong? Because if I try to do the following it works:

[code]

Ideas?

Alessandro

[2017-11-06 22:17] soumith commented on #3516
please use https://discuss.pytorch.org for questions please.

`v` and `x` need to have the same shape in all dimensions except the dimension you are catting.

if `x` is of shape `[1]`, it cant be catted with `v` of shape `[1, 1, 4]`.
`x` has to be of shape `[1, 1, N]` where `N` can be any number to be concatenated with `v` in dim=2

[2017-11-06 22:17] #3516 closed

[2017-11-06 22:46] #3461 closed

[2017-11-06 23:20] #3313 closed

[2017-11-06 23:24] colesbury commented on #3142
@ezyang, this implemented, right?

[2017-11-06 23:26] soumith commented on #3497
this is fixed in master, will be part of next release.

[2017-11-06 23:26] #3497 closed

[2017-11-06 23:27] apaszke commented on #3142
It is.

[2017-11-06 23:27] #3142 closed

[2017-11-06 23:40] soumith commented on #3301
fixed via https://github.com/pytorch/pytorch/pull/3318

[2017-11-06 23:40] #3301 closed

[2017-11-06 23:41] #3298 closed

[2017-11-06 23:43] soumith commented on #3241
fixed in #3433
@elbamos can you check that this is fixed on master or on https://github.com/pytorch/pytorch/tree/v0.3.0

[2017-11-06 23:43] #3241 closed

[2017-11-06 23:45] soumith commented on #3215
fixed in master

[2017-11-06 23:45] #3215 closed

[2017-11-06 23:50] elbamos commented on #3241
I’ll test it today, yes, thanks.

[2017-11-06 23:53] soumith commented on #3119
have a CUDA version >= 8.0.
Let us know of more info (and reopen the issue) if this doesn't fix it for you.

[2017-11-06 23:53] #3119 closed

[2017-11-06 23:53] #3105 closed

[2017-11-06 23:54] soumith commented on #3105
@lonl i presume it was the gcc version, let me know if not (and reopen the issue if you need to)

[2017-11-06 23:57] soumith commented on #3030
the problem is that the [FlowNet code](https://github.com/ClementPinard/FlowNetPytorch) NEEDS cuda, they haven't written a non-cuda version

[2017-11-06 23:57] #3030 closed

[2017-11-06 23:59] soumith commented on #2972
@ngimel should we add `__CUDA_NO_HALF_OPERATORS__` by default?

[2017-11-07 00:02] ngimel commented on #2972
Yes.

[2017-11-07 00:02] #2757 closed

[2017-11-07 00:03] soumith commented on #2755
CUDA9 + source should work now. we have contbuilds for this and they're passing.

[2017-11-07 00:03] #2755 closed

[2017-11-07 00:06] soumith commented on #2681
hopefully fixed now, if not reopen issue.

[2017-11-07 00:06] #2681 closed

[2017-11-07 00:07] soumith commented on #2650
closing in favor of #2689

[2017-11-07 00:07] #2650 closed

[2017-11-07 01:21] colesbury commented on #3348
Removed 0.3 blocker tag. We should fix this in `master` but I think the referenced behavior is true in 0.2.

[2017-11-07 01:32] dkc2117 commented on #494
@peterjc123

I am running the main portion of my code (e.g. in my example code, everything below "# various code omitted for brevity") within a \_\_main\_\_ and still get the CUDA runtime error. I will include exact code of a single py file with no omissions that can reproduce the error on my system.

I believe I installed via conda without having to specify a whl file (e.g. I did "conda install -

[2017-11-07 01:40] fastlater commented on #494
@peterjc123 your solution is far away my skills. What about edit the functional.py allocated in my PC and add the def affine_grid(theta, size) function  from https://github.com/pytorch/pytorch/blob/master/torch/nn/functional.py? Sorry if my comment is absurd.

[2017-11-07 01:49] huanhuanxuxu commented on #2731
haha worked for me 2

ubuntu 16.04 LTS
conda install
with numpy 1.13.3

[2017-11-07 01:50] jdily commented on #2389
@apaszke No problem. I am just thinking if it is implemented, because as discussed in
https://discuss.pytorch.org/t/does-pytorch-support-autograd-on-sparse-matrix/6156
it looks like there should be a PR about it?
If so, where can I find it?

Meanwhile, I found out some interesting results about this feature.
Let's take a look at the example above,
[code]
it will give us ` RuntimeError: Expected ob

[2017-11-07 02:01] peterjc123 commented on #494
@fastlater You can try it. I don't know exactly whether it will work.
@dkc2117 Are you using Windows 10 or Server 2016?

[2017-11-07 02:13] peterjc123 commented on #494
@dkc2117 Set num_workers to 0 temporarily resolves the issue. I'll investigate into it later.

[2017-11-07 02:26] jgc128 commented on #2312
Hi,

I have the same error (there's also this issue #1591). The code below works on one GPU (`CUDA_VISIBLE_DEVICES=0 python pack_padded_sequence_data_parallel.py`), but fails with "ValueError: lengths array has incorrect size" on two GPUs (`CUDA_VISIBLE_DEVICES=0,1 python pack_padded_sequence_data_parallel.py`):

[code]

[2017-11-07 02:34] peterjc123 commented on #494
@dkc2117 The document of CUDA says that

So your code is not possible to run in Windows since you tend to share data on GPU from one process to another process with the usage of `cudaIpcOpenMemHandle`. There're two ways to solve it.
1. Don't share CUDA Tensors. Set `num_workers` to 0.
2. Share CPU Tensors instead. Change the code into the following.
[code]

[2017-11-07 02:47] juliusshufan opened #3525 "Low performance issue on CPU-only machine"
Hi,

I cloned the latest source code from master branch and installed it from source code under anaconda environment on a CPU-only machine. I did set the NO_CUDA as 1 before installing, but the performance for both CNN and RNN models downgraded dramatically compared to the install from source code using release v0.2.0 or install from conda directly.

I noticed the CPU load is at most 100% when the

[2017-11-07 03:47] fastlater commented on #494
@peterjc123 Thank you for suggestions. Looks like I will have to wait till someone release the pytorch 0.2 for Windows. I tried to copy and paste the missing functions but I didn't work as expected.

[2017-11-07 03:51] silverlining21 commented on #1214
I got stuck in the same problem, is there anyone had the problem solved elegantly..

[2017-11-07 03:58] peterjc123 commented on #494
@fastlater The 0.2 package is available using the command `conda install -c peterjc123 pytorch`.

[2017-11-07 05:04] fastlater commented on #494
@peterjc123  thank you sooooo much. Sorry for my ignorance. I installed the default pytorch from anaconda and your comment helped me to update to 0.2 and now I have no problems.

[2017-11-07 05:40] qbx2 commented on #3512
Wow, I'll build it again. Thank you.

[2017-11-07 05:51] SsnL commented on #2389
@jdily Not many operations support sparse tensors currently. (Sparse embeddings work fine in most cases though.) IIRC, dense x sparse works, but I will have to double check tomorrow.

[2017-11-07 05:54] SsnL commented on #3525
Thanks for reporting. What are the structures of your model? Do you have concrete numbers on the performance degrading? A script will also be nice so we can try to spot issues :)

[2017-11-07 07:19] tarvaina commented on #3322
Yes.

[code]

outputs

[code]

[2017-11-07 07:31] qbx2 commented on #3502
Inplace operations are available I think

[2017-11-07 08:05] MlWoo commented on #3525
@SsnL  I have checked the code. [blas modification](https://github.com/pytorch/pytorch/commit/d04574b1fc73929faa1d6743e0486cda6586fd95#diff-845f134a51f3a63b10766c164a82c345) has a bug when try to disable MKL  if stride values are not supported. The code in [lines](https://github.com/pytorch/pytorch/blob/d04574b1fc73929faa1d6743e0486cda6586fd95/torch/lib/TH/generic/THBlas.c#L325-L326)
[code]
has mi

[2017-11-07 08:12] dublinsky opened #3527 "compilation error"
hello, I install the latest anaconda and follow the guide of code compilation steps showing on the github page, but frequently get the same error /libTH.so.1: undefined symbol: convolve_5x5_sse.
then I checkout the previous branch, named as origin/autograd_debug, this time the compilation is successful, I install it, but the code test is still frustrating, the libTH.so.1 still has the same error.

[2017-11-07 08:41] qbx2 commented on #3525
I cloned master, installed and executed same generator rnn. I got 15% of previous speed without cuda.

[2017-11-07 08:45] bheinzerling commented on #3513
This is not caused by `pad_sequences`. The culprit is the numpy array dtype:

[code]

Neither of these work in torch.cuda, btw:

[code]

With float it looks like this on my system:
[code]

Calling `tolist()` on the numpy array or `torch.from_numpy` works in all cases.

[2017-11-07 09:11] woaichipinngguo commented on #494
@peterjc123 @fastlater My torch is version "0.2.1+a4fc05a"，and the platform is（win7+anaconda3,python3.5）.
And I have a problem—— 'Variable' object has no attribute 'creator'. But I can use "grad_fn". Isn't this the latest version?（难道是因为我在Windows下没有安装最新版本？但官方文档用的是creator）
`x = Variable(torch.ones(2, 2), requires_grad=True)
print(x)
print(x.data)
print(x.creator)`

[2017-11-07 09:14] dublinsky commented on #3527
I have checkout the distribution v0.1.9, and recompile the code of this branch, pytorch acts correctly this time.

[2017-11-07 09:18] peterjc123 commented on #494
I didn't find the attribute `creator` in the doc [here](http://pytorch.org/docs/0.2.0/autograd.html).

[2017-11-07 09:35] woaichipinngguo commented on #494
@peterjc123 the attribute `creator` is in version 0.2.0_4, not in 0.2.0_1 I installed. Is there a latest one?

[2017-11-07 09:42] elbamos commented on #3241
@soumith I no longer get `undefined Tensor`, but instead now after around 30 iterations CUDA runs out of memory. Is it possible a memory leak was introduced?

[2017-11-07 10:01] peterjc123 commented on #494
Just wait a few days, the new version of PyTorch is coming.

[2017-11-07 10:31] demikandr opened #3528 "torch.nn.functional.conv2d doesn't check filters shape"
If I pass 2-dimension filter to conv2d then I get SegmentationFault.

Example:
[code]

If I reshape filter to (1,1,100,100) - then everything is ok.

[Maybe it's worth it to add similar check for filters?](https://github.com/pytorch/pytorch/blob/b043a749191e32bf6c1d0fdee3170c45dce9d3d9/torch/nn/functional.py#L84)

[2017-11-07 11:10] qbx2 opened #3529 "Pytorch is not using all CPU cores in master"
I cloned master, installed and executed the existing code (generator rnn). I got 15% of previous speed without cuda.

I found out that CPU load is only 15% while generating. Why isn't pytorch using all cores?

Maybe related to #3525 ?

[2017-11-07 11:54] lionel3 commented on #2083
Just like @cc786537662. I solved the problem  by putting the line " import torch"  in the very beginning of my .py file.

[2017-11-07 11:57] vickylance commented on #2755
@soumith Is there any instructions on how to build from source for CUDA 9.0 with cnDNN 7.0? If not can you tell how to do in a few steps? That would be useful.

[2017-11-07 12:00] soumith commented on #3528
the checks were added in master. will be part of the next release.

[2017-11-07 12:00] #3528 closed

[2017-11-07 12:01] #2972 closed

[2017-11-07 12:02] soumith commented on #3241
@elbamos on both `master` and on `v0.3.0` branch??? it's possible and we'd like to take a look. Is there an chance we can get private access to your repo (purely for hunting down the bug purposes)?

[2017-11-07 12:04] soumith commented on #3527
@dublinsky how are ou getting the latest version of pytorch? did you do:

[code]

Because libTH.so.1 is no longer built, so you must be on some old version.

[2017-11-07 12:08] soumith commented on #3322
this is expected behavior, we have to document it better. `size_average` is not just a setting for the mini-batch, but for "every atomic element where the loss is being calculated". The behavior has also been grandfathered in from torch5 (that's 3 torch versions out)

[2017-11-07 12:56] hughperkins opened #3531 "indexing operator `[]` inconsistent"
In the following code, some of the assignments assign `7` to some of the `a` elements, and some dont. It is not obvious to me which will work, and which will fail, without trying them. In addition, there is no indication (eg Exception or similar) when I try an assigment that has failed.

[code]

Output:
[code]

[2017-11-07 13:23] apaszke commented on #3531
All of this is expected and as far as I know is exactly the same in NumPy and Lua Torch. Basically, there are two kinds of indexing - simple and advanced. Simple are things like adding dimensions, slicing and selecting along dimensions. Advanced indexing is masking and selecting a number of indices. Simple indexing always returns a view, and advanced indexing always returns a tensor that doesn't s

[2017-11-07 13:23] #3531 closed

[2017-11-07 13:35] hughperkins commented on #3531
It does appear to be consistent with numpy. I find it extremely bug-prone. I think it would be safer to have two operators, like, maybe by default it always does advanced indexing, but if you want the view, then you'd do something specific like `indexed_view()`. This would then crash out with an exception if the requested view is impossible.

[2017-11-07 14:19] hughperkins commented on #3531
(but anyway, is it fair to say that, in every case, using a LongTensor for indexing will *never* return a view?)

[2017-11-07 15:06] SsnL commented on #3527
The compile steps probably have changed since 0.1.9 days...

[2017-11-07 16:41] hughperkins commented on #3531
actually ... `a[indxes, 1]` doesnt work for me?

[code]

gives:
[code]

[2017-11-07 16:42] SsnL commented on #2912
Unable to reproduce this using cuda sparse FloatTensor with 40000000 elements, size (2000, 200000) dimI=2 dimV=0 (`torch.mm` doesn't allow dimV > 0) and dense tensor of size (200, 1000).

[2017-11-07 16:56] soumith commented on #2912
probably fixed on master then.

[2017-11-07 16:56] #2912 closed

[2017-11-07 17:24] colesbury commented on #3529
Thanks for reporting this. We're tracking it in the referenced issue.

[2017-11-07 17:24] #3529 closed

[2017-11-07 17:26] zou3519 commented on #815
@soumith I don't think KLDivLoss takes weight parameters. Did you mean BCELoss? If so, I added more details on the weights for BCELoss: #3535.

BCELoss formatting seems to have been fixed somewhere down the line:
![image](https://user-images.githubusercontent.com/5652049/32507939-cca516e6-c3b6-11e7-92c8-1940717a844f.png)

[2017-11-07 17:30] #815 closed

[2017-11-07 17:47] #3498 closed

[2017-11-07 17:55] vickylance commented on #3018
@dogancan  Hi, can I know how to built without conda?

[2017-11-07 19:06] elbamos commented on #3241
That was on master. I can try v0.3.0 today. Will reach out to you on slack about access.

[2017-11-07 19:20] meder411 opened #3540 "Suggestion: Allow loss functions to accept per-label weights rather than per-sample"
I'd like to suggest allowing classification loss functions to accept a weight per-label as a parameter rather than a weight per-sample. Perhaps a dictionary of class labels as keys and weights as values would suffice. The big draw to PyTorch is how high-level it is, yet for networks that predict matrices (e.g. for segmentation), it is not trivial to use a weighted loss function. Maybe there is a b

[2017-11-07 19:49] utke1 opened #3542 "Minor: docker build fails on submodule because of gitdir with absolute path name (problem with git v 2.7/2.8, fixed in git v 2.9)"
error message is
[code]
Reason:  pytorch was cloned with --recursive (as recommended) into ```/data/work/Git/```  and the submodule stores in file
```/data/work/Git/pytorch/.git/modules/torch/lib/gloo/.git```
the absolute pathname as
[code]
But when
[code]
is run to copy  everything into ```/opt``` the absolute pathname won't match - hence the error.

This is apparently a know problem in git, see

[2017-11-07 19:54] zhanghang1989 opened #3543 "torch.svd() get error, w/ CUDA 9.0 w/o MAGMA"
I got the following error using torch.svd(). It may because missing magma package with CUDA 9.0. Is there any work around? many thanks!
[code]

[2017-11-07 20:02] soumith commented on #3543
@zhanghang1989 now we have magma for cuda90 with `conda install magma-cuda90 -c soumith`

[2017-11-07 20:04] zhanghang1989 commented on #3543
awesome! thx

[2017-11-07 20:04] #3543 closed

[2017-11-07 20:25] elbamos commented on #3241
On v0.3.0 I get `undefined Tensor` again.  Will reach out...

[2017-11-07 20:53] apaszke commented on #3531
This works fine for me. Yes, indexing with a list of indices will never return a view (even if they form a consecutive range). What's your PyTorch version?

[2017-11-07 21:10] latkins opened #3546 "Installing from source failing on Ubuntu 17.10"
When attempting to install from source on a new machine, I seem to be running into some errors with ATen:

[code]

[2017-11-07 21:17] gchanan commented on #3510
Fixed in https://github.com/pytorch/pytorch/pull/3523.

[2017-11-07 21:17] #3510 closed

[2017-11-07 21:23] hughperkins commented on #3531
Ok, understood.

[code]

[2017-11-07 21:31] colesbury commented on #3452
@fritzo this should be fixed in `master` (and `v0.3.0`). Can you check that you no longer get this error?

[2017-11-07 21:39] SsnL commented on #3525
cc @albanD on the issue raised by @MlWoo .

[2017-11-07 21:58] zou3519 commented on #3540
NLLLoss and CrossEntropyLoss accept per-class (per-label) weights. I'm not sure BCELoss should, the [docs](http://pytorch.org/docs/master/nn.html?highlight=bceloss#torch.nn.BCELoss) say that the target for BCELoss isn't a class label, it's a number between 0 and 1.

[2017-11-07 22:01] soumith commented on #1529
ok now there's a method to free blocks held by caching allocator implemented in #3518

[2017-11-07 22:16] colesbury commented on #2689
Thanks @zou3519 !

[2017-11-07 22:16] #2689 closed

[2017-11-07 22:16] colesbury commented on #2689
Links are at http://pytorch.org/previous-versions/

[2017-11-07 22:29] cosmozhang commented on #2412
The problem is still there:
`TypeError: indexing a tensor with an object of type torch.LongTensor. The only supported types are integers, slices, numpy scalars and torch.cuda.LongTensor or torch.cuda.ByteTensor as the only argument.`

My version in 0.2.0.3. I am running on GPU.

[2017-11-07 22:33] gchanan opened #3550 "Backport THTensor_varOuterDim numeric stability to 0.3"
Link to master PR: https://github.com/pytorch/pytorch/pull/3533

[2017-11-07 22:44] gchanan commented on #1530
This works on master.

[2017-11-07 22:44] #1530 closed

[2017-11-07 22:45] gchanan opened #3553 "Backport undefined tensors to 0.3"
master PR: https://github.com/pytorch/pytorch/pull/3482

[2017-11-07 22:47] gchanan opened #3554 "reinforce: throw exception (immediately) that points users at what they should use"

[2017-11-07 23:37] Jonbean commented on #574
I got the same error after built from source of branch v0.3.0

My system is OSX10.12,  python version is 3.6.1. I don't use anaconda python. I installed all the optional dependency through pip3. I disabled CUDA support by `export NO_CUDA=1`

Changed the installation command a little bit to fit my system:
`Jon (v0.3.0) pytorch $ MACOSX_DEPLOYMENT_TARGET=10.12 CC=clang CXX=clang++ python3 setup.py i

[2017-11-07 23:38] wadimkehl opened #3556 "CrossEntropyLoss for 3D and higher"
Going hand-in-hand with #1020 and #1260 it would be nice to have the same multi-dim behavior for the CrossEntropyLoss as is now for softmax. Similar to https://www.tensorflow.org/api_docs/python/tf/nn/sparse_softmax_cross_entropy_with_logits
where the loss is is evaluated along the last provided dimension, i.e.
[code]
At the moment one has to reshape into 2D before and back again after the operati

[2017-11-08 01:00] MlWoo commented on #3525
@SsnL I noticed that the other modifications also have similar bugs.

- ger operation
[Intel manual](https://software.intel.com/en-us/mkl-developer-reference-c-cblas-ger) explains that
[code]
Howerver, the modification does not check the transposing info and give the limit condition
[code]

- gemv operation
[Intel manual](https://software.intel.com/en-us/mkl-developer-reference-c-cblas-gemv) expla

[2017-11-08 02:12] gd-zhang opened #3558 "Numerical issue in torch.gesv(b, A) and torch.inverse()"
I found gesv would get completely wrong results once the dimension of matrix A is large, say 200. (The same problem also occurs in torch.inverse()). But in numpy, linalg.solve works very well in much larger A and b.

[code]

get rec:
   12.5733     0.7703     3.3207  ...    -71.7724   -10.3178    -4.7247
   28.7078     2.0905    17.2917  ...   -184.5936   -28.1566   -21.9251
   55.6995     3.9526

[2017-11-08 02:20] mikolchon commented on #2575
Building Pytorch from source instead of installing via Anaconda solved the problem for me.

[2017-11-08 03:43] MiaoDragon commented on #2706
I got the same problem here. I'm now trying to pass numpy array instead of Tensor to see if it works.

[2017-11-08 04:13] rkaplan commented on #2755
@vickylance Here's a blog post with instructions: https://tspankaj.com/2017/08/12/cuda-9-and-cudnn-7-with-pytorch/

Not sure if the NCCL workaround mentioned in that post is still necessary.

[2017-11-08 04:25] fritzo commented on #3452
@colesbury Yes, I can confirm that I no longer get this error in pytorch master as of dc10083

[2017-11-08 04:35] fritzo commented on #3452
Great, this is also fixed on the `v0.3.0` branch as of 9a67882

[2017-11-08 04:35] #3452 closed

[2017-11-08 04:48] MiaoDragon commented on #2706
Hi! Have you tried using semaphore for this problem? I think it might be a problem of synchronisation.

[2017-11-08 04:54] meder411 commented on #3540
Thinking this over further, it seems that BCELoss should have a way to do this. Even through BCELoss with {0,1} targets basically reduces to NLLLoss, the annoying thing about the NLLLoss2d function is that I need a channel for each class. It'd be much more preferable to provide a Bx1xHxW binary image as my input to the loss.

[2017-11-08 05:05] ezyang opened #3560 "Improve "the number of sizes provided must be greater or equal to the number of dimensions in the tensor" error"
The new ATen backend makes a lot of implicit calls to expand, which can fail if the sizes are not correct. Unfortunately, when something like this fails, you get a fairly unhelpful backtrace:

[code]

Let's make these traces better.

Relatedly, we almost certainly have a bug in the new codepath related to this, see: https://discuss.pytorch.org/t/error-at-backward-the-number-of-sizes-provided-must-

[2017-11-08 05:15] elbamos commented on #3241
I take it back - the memory issue seems tied to using `InstanceNorm` layers rather than to double backwards.

[2017-11-08 09:07] tarvaina commented on #3322
Sounds reasonable to me.

[2017-11-08 11:33] dhpollack commented on #3499
alright, this should do it.  You will get funny behavior if one were to add two sets of modules/parameters with the named_*() functions.  The items in the dict get overwritten because the submodules often have names that are integer strings.  To prevent modules from getting overwritten, I added an option to prefix the names with a string.

       model = torchvision.models.resnet18()
       mlist

[2017-11-08 11:41] davidbau opened #3563 "symeig fails for 129x129 cuda matrix with CUBLAS memory mapping error"
symeig fails with 'CUBLAS error: memory mapping error (11) in magma_ssytrd2_gpu' for any cuda matrix larger than 128x128.

Repro steps:

[code]

Output:
[code]

Using recent build of pytorch (pulled Oct 25) w/ cuda8, titan xp.

[2017-11-08 14:05] AceCoooool opened #3564 "document: Hardshrink"
There is no Hardshrink "information" in `torch.nn.Non-linear Activations` . But I find there is the doc in `torch.nn.modules.activation`.

Can this solve by add follow part in `docs/source/nn.srt`？（I am not sure, so ask it before pull :smile: ）
[code]

[2017-11-08 14:13] LaceyChen17 commented on #494
@peterjc123 hi, I'm trying to use DataParallel for multi-gpu acceleration.  But it crashed on windows. I think there may be something wrong with nccl but it's beyond my ability. Could you plz give me a hand ?
`e:\users\v-yihoch\anaconda\lib\site-packages\torch\nn\modules\module.py in __call__(self, *input, **kwargs)
    222         for hook in self._forward_pre_hooks.values():
    223

[2017-11-08 14:17] peterjc123 commented on #494
@LaceyChen17 I'm sorry to notify you that there is no nccl support for Windows. The distributed part is also disabled. The csrc/scripts part is not yet merged. After their merge, i may look into it.

[2017-11-08 14:18] AceCoooool commented on #3564
And there is also not a cuda version of this function. (Although, it seems no necessary to add it).  If this function will remove in the future, I will close this issue. (If not and will add add cuda version of it, I can do it)

[2017-11-08 14:59] wranai opened #3565 "HalfTensor and HalfStorage are neglected"
When I tried to map a HalfTensor from a file I got an error message:

    Traceback (most recent call last):
      File "<stdin>", line 1, in <module>
    TypeError: torch.HalfTensor constructor received an invalid combination of arguments - got (torch.HalfStorage), but expected one of:
     * no arguments
     * (int ...)
          didn't match because some of the arguments have invalid types: (t

[2017-11-08 15:02] #2914 closed

[2017-11-08 15:19] SsnL commented on #3525
Hey @juliusshufan , how did you run your benchmark script? Could you tell us your CPU and the option you used please? I tried yesterday and it successfully utilized multiple cores. Also, were your looking at GFLOPS? How many iterations did you look at? Thanks!

[2017-11-08 15:49] mittagessen commented on #3420
I'd prefer a non-binding approach as there are already a few extensions out there. Getting a CTC without having to compile anything seems like a nice thing to have even if it isn't as fast as the latest ultra-optimized CUDA implementation.

[2017-11-08 15:57] LambdaWill commented on #574
@Jonbean  Hi, I just clone the lateset version of pytorch from master branch. And I have successfully installed it. Why not try master branch?

[2017-11-08 16:28] #3550 closed

[2017-11-08 16:44] LaceyChen17 commented on #494
@peterjc123 Thank you for your instant reply and awesome work. I'll try to see if there is any other workaround to accelerate my code for now.

[2017-11-08 17:03] VladislavZavadskyy opened #3567 "undefined symbol: cudnnSetConvolutionGroupCount while running with cuDNN 7.0.3 and CUDA 9"
Installed from source, tried various branches _(master, v0.3.0, soumith-patch-1)_, but still getting this error.
Full uninstall and reinstall didn't help either.
Calling `inception.cuda()` (form torchvision module) works fine, creating variables on the device doesn't seem to provoke this error either.
I've also just ran `LD_DEBUG=libs python -c 'import torch'` and got this [log](https://gist.githu

[2017-11-08 17:09] VladislavZavadskyy commented on #3546
Could you try building it with newer version of gcc/g++ (6.4.0 in particular)?

[2017-11-08 17:30] ngimel commented on #3546
gcc 6.4 is not supported as a host compiler in cuda 9 (and in general, cuda 9 is not supported on ubuntu 17.10) http://docs.nvidia.com/cuda/cuda-installation-guide-linux/index.html#system-requirements. Additionally, cudnn is not supported on 17.04 even, so lowest common denominator host os is Ubuntu 16.04.

[2017-11-08 17:39] VladislavZavadskyy commented on #3546
Yes, it's not supported officially, but some people just can't wait :)
I've compiled it on 17.10 with gcc 6.4, with no particular problem.
Cuda seems to work, by the exception of cudnn (#3567), but I've found the solution, and it wasn't gcc's fault.

[2017-11-08 17:40] VladislavZavadskyy commented on #3567
There turned out to be sneaky conda package.
Fixed by doing `conda uninstall cuda` and recompiling.

[2017-11-08 17:53] #3567 closed

[2017-11-08 18:25] soumith commented on #3395
@xdever i finally reproduced it on an ArchLinux docker, looking...

[2017-11-08 18:27] csarofeen commented on #2755
That blog post is out of date. Installing pytorch from source with CUDA 9.0 and cuDNN 7.0 should just work. NCCL workaround is no longer necessary.

To get NCCL2 you can follow the dockerfile https://github.com/pytorch/pytorch/blob/master/Dockerfile

abridged version:
echo "deb http://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1604/x86_64 /" > /etc/apt/sources.list.d/nvidia

[2017-11-08 18:52] ankur6ue commented on #494
@peterjc123
I'm trying to use a PyTorch port of the faster CNN system (see https://github.com/ruotianluo/pytorch-faster-rcnn). It requires building the nms (non-minima suppression) and roipooling module from C code into a python extension. There is a CPU version and a GPU version. I'm currently only using the CPU version. The C file that needs to be compiled includes:
#include <TH/TH.h>
#include <

[2017-11-08 20:07] iammarvelous opened #3569 "tensor addition assignment strange behavior"
It seems there is a really strange behavior for addition assignment operator. When changing the else statement from addition assignment to naive addition, outputs are different. The first element in the list is changed and it is not desired for addition assignment. The same thing would happen for `/=, *=, -=`
[code]

output: `l += tmp`
[code]
output: `l = l + tmp`
[code]

[2017-11-08 20:11] apaszke commented on #3569
This is expected. `+=` is the same as `add_`. If you ran the same snippet in NumPy you'd see exactly the same output.

[2017-11-08 20:11] #3569 closed

[2017-11-08 20:23] fmassa opened #3571 "ATen doesn't compile with g++ 4.8.2"
The errors we obtain are the following:
[code]

A fix that worked for us is to add
[code]
in [ATen/templates/Type.h](https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/templates/Type.h#L15), but I'm not sure this is the best solution to this problem.

[2017-11-08 20:26] soumith commented on #3571
this is the best solution, it's what we should do in c++ settings. Can you send a PR please.

[2017-11-08 20:31] andreh7 commented on #3571
A similar fix was applied in #3190 .

Alternatively, adding the `#define` in `aten/src/ATen/templates/TypeDerived.cpp` seems to fix it also (and would keep the define away from code which includes the derived header files).

[2017-11-08 20:53] ezyang opened #3573 "Mac OS X build with Python 3.6 fails"
One representative error:

[code]

The cause of the problem is aa911939a328eff55c9b28b39ed3c43507ba8a2a:

[code]

It seems that on clang, changing the type parameter here is sufficient to cause template instantiation to fail.

Maybe the easiest way to fix this is to write a more portable version of PyInt_FromLong (and friends) which always returns `int64_t`.

[2017-11-08 21:02] fmassa commented on #3571
I think I prefer @andreh7 solution, but I'm not very familiar with ATen. If there are no objections I'll add the `define` there

[2017-11-08 21:55] dkc2117 commented on #494
@peterjc123 confirming setting num_workers to zero avoids error condition on windows. That was my mistake, misunderstanding that parameter. Thanks for the clarification.

[2017-11-08 22:15] SsnL commented on #3525
@MlWoo Thanks! The gemv thing is probably a bug.

On ger: blas assumes col major (https://www.math.utah.edu/software/lapack/lapack-blas/sger.html) likely due to that row major is easy to work around by changing the vectors' order. We already do that here. https://github.com/pytorch/pytorch/blob/master/aten/src/TH/generic/THTensorMath.c#L1558-L1571.

[2017-11-08 22:25] #3571 closed

[2017-11-08 22:32] MaigoAkisame commented on #3026
Just ran into the same problem. Running `torch.save(scheduler, filename)` produces the following error:
`cPickle.PicklingError: Can't pickle <type 'function'>: attribute lookup __builtin__.function failed`
I'll appreciate it if I could save the state_dict of a scheduler.

[2017-11-08 22:43] ezyang opened #3578 "Move PyTorch Convolution into ATen"
ATen does have a THNN binding for convolution, but PyTorch supports a far richer interface to convolution that hooks up to CuDNN and nnpack. We should move this code into ATen.

Task list:

- [X] Support computing derivatives for multiple inputs simultaneously
- [X] Do warmup porting prelu to ATen, which has many similar characteristics to convolution
- [X] Teach ATen build system to link against

[2017-11-08 23:17] lantiga commented on #3440
I was wondering about these warnings today, then I noticed this issue.
I assume that C linkage for THD is intended here even if `at::Tensor` is returned, so the need is to suppress the warning. In `torch/lib/THD/base/TensorDescriptor.h`, just add these pragma directives:

[code]

I see that the issue is already assigned, so I'm not sending in a PR.

[2017-11-08 23:36] peterjc123 commented on #494
@ankur6ue There'll be header files in the `torch\lib` dir in the recent versions. But i'm afraid that header files are not enough to link against your libraries.

[2017-11-08 23:38] MaigoAkisame opened #3580 "[Feature Request] Make "forward" handle large inputs in batches"
Keras has this nice "[model.predict](https://keras.io/models/model/#predict)" function which runs the forward pass on the input in batches. So I can feed a large data tensor (e.g. the entire test set) into a model and get the predictions in one function call.

It would be nice if PyTorch models could do the same. For example, if a model has only one input and one output, the "predict" function cou

[2017-11-08 23:58] zdevito commented on #3578
cuDNN also has planning routines for choosing the best way to run a convolution (and a backward input conv, and backward weight conv). ATen will either need to implement a cache for these plans or will need to take handles in to retrieve an existing plan. Do you have a plan for what approach you want to take? I'd eventually like to have to cache.

[2017-11-09 00:17] ezyang commented on #3578
My current plan is to take all the code that is called from `torch/csrc/autograd/functions/conv.cpp`, and yes, I believe that includes the cache.

[2017-11-09 01:03] MlWoo commented on #3525
@SsnL  yes, you point is right.

[2017-11-09 01:04] fmassa commented on #3580
I'm not sure we want to add such convenience function (but others might have different opinions).
I think that there can be weird edge cases (for example, the batch might not be the first dimension as in some rnns I think), and for the user it can be implemented in one line
[code]
What do you think?

[2017-11-09 01:20] #3563 closed

[2017-11-09 01:45] colesbury opened #3584 "Sort sequences internally in pack_padded_sequence"
Currently, `pack_padded_sequence` requires the caller to sort `inputs` by the length (descending). We should sort and reorder the input internally if it's not already sorted. We can then restore the original order in `pad_packed_sequence`.

cc @kyunghyuncho

[2017-11-09 02:16] hhsecond commented on #3584
I am working on [1128](https://github.com/pytorch/pytorch/issues/1128). I can add this to my code as well

[2017-11-09 02:18] hhsecond commented on #1128
I guess [this](https://github.com/pytorch/pytorch/issues/3584) is a good idea to implement inside `pad_sequence` or `pack_sequence, any thoughts?

[2017-11-09 02:34] stepelu commented on #3185
@fritzo I understand for the `log_gamma()` you're referring to https://github.com/uber/pyro/blob/b94f06a2257bf362208c28048544deb297aa5e24/pyro/distributions/util.py#L8 ?
I have a reasonaly accurate implementation (not sure if that's actually needed for float32) at: https://github.com/stepelu/lua-sci/blob/e43411044e45840230e9d5741e5c6a9960d443ed/math.lua#L128
Lua code I'm afraid, should be easy to

[2017-11-09 02:44] liuliuxiansheng commented on #3283
@eLvErDe How did you solve this problem？ I also meet this problem.

[2017-11-09 03:05] #3395 closed

[2017-11-09 03:05] soumith commented on #3395
@xdever fixed on master

[2017-11-09 04:39] MaigoAkisame commented on #3580
That's a nice one-liner for the case of a single input and a single output. Thanks!

Let's see what others think.

[2017-11-09 05:18] vickylance commented on #2755
@csarofeen I am using Ubuntu 17.10 not sure 1604 will work in my machine

[2017-11-09 05:59] xiao7199 opened #3585 "cuda inverse issue"
The execution time of CUDA inverse is weird.  The first inverse operation will takes longer time than the consecutive inverse operations.
Here is the code:

[code]

The result is
 `(0.006289958953857422, 0.006345033645629883, 0.2919008731842041)`
So the first inverse will always take significant longer time than the next several inverse operation.
Any idea?

[2017-11-09 06:52] olofmogren opened #3587 "Documentation: Indexing output from bidirectional RNN (GRU,LSTM)"
The documentation for RNNs (including GRU and LSTM) states the dimensionality of hidden state (num_layers * num_directions, batch, hidden_size) and output (seq_len, batch, hidden_size * num_direction), but I cannot figure out how to index the output to get separate vectors for the two directions. Specifically, I'd like to get the output from the last cell on the forward RNN, and the output from th

[2017-11-09 07:03] juliusshufan commented on #3525
@SsnL, the benchmark entry is run.sh, it mainly set the OMP_NUM_THREADS per the CPU model, another two parameters select the parameters for LSTM (hidden layers, sentence length, etc.) and if backward computation time cost will be taken account of,
i.e. : with command "**./run.sh bdw train daily**" , CPU model is Broadwell.
You will get the backward+forward benchmarks for the the two popular LSTM p

[2017-11-09 07:19] juliusshufan commented on #3525
@ colesbury , Thanks for the prompt fix, I tried your fix for this issue, and:

1. Looks like the macro "USE_BLAS" in line 323 is not set/defined even mkl correctly installed in conda,  I have to explicitly drop a line "#define USE_BLAS" in the THBlas.c to hit the code changes from you.
2. Meanwhile, with explicit definition of the USE_BLAS and your fix, now the forward computation works well, but

[2017-11-09 08:15] apaszke commented on #3584
This will make it impossible to do the batched filling we do now

[2017-11-09 08:16] #3573 closed

[2017-11-09 08:23] acgtyrant commented on #566
@soumith How about contacting @dstufft? See https://github.com/pypa/packaging-problems/issues/86#issuecomment-263464389

[2017-11-09 08:24] apaszke commented on #3580
As @fmassa has shown, this is really easy to implement in a single line of code, and this makes it a lot clearer and more explicit. I don’t think we should have such helpers

[2017-11-09 08:24] #3580 closed

[2017-11-09 08:40] tianleliu commented on #3525
if( (m <= INT_MAX) && (n <= INT_MAX) && (k <= INT_MAX) &&
-      (lda >= THMax(1, (transa_ ? m : k))) && (lda <= INT_MAX) &&
-      (ldb >= THMax(1, (transb_ ? k : n))) && (ldb <= INT_MAX) &&
-      (ldc >= THMax(1, n)) && (ldc <= INT_MAX) )
+      (lda >= THMax(1, (transa_ ? k : m))) && (lda <= INT_MAX) &&
+      (ldb >= THMax(1, (transb_ ? n : k))) && (ldb <= INT_MAX) &&
+      (ldc >= THMax(1,

[2017-11-09 09:54] VinceKumar opened #3591 "Docker build fail"
When I try to build the Dockerfiles, they fail at this line
[code]
Here is the error returned:

[code]

I tried manually inserting the packages from setup.py but it failed to load import torchvision after compiling

AWS ubuntu p2.xlarge w/ CUDA 9.0, cuDNN 7, Nvidia 384.81

[2017-11-09 10:06] xvshiting opened #3592 "OSX build from source error"
[code]

[2017-11-09 10:08] xvshiting commented on #3592
macOS Sierra 10.12.6

[2017-11-09 10:09] latkins commented on #3546
I can confirm that using gcc 6.4 on 17.10 worked. Thanks!

[2017-11-09 10:09] #3546 closed

[2017-11-09 10:20] apaszke commented on #3585
You're not really benchmarking CUDA time - CPU and GPU run asychronously, so you need to synchronize them:
[code]
Still, even in this version the first call is slower - but this is expected. `inverse` needs to allocate some working memory, the first call will allocate it, and it will be cached and reused by subsequent calls, making them a lot faster.

[2017-11-09 10:20] #3585 closed

[2017-11-09 10:55] hmc-cs-mdrissi commented on #3420
cuda + cudnn is fairly common though so it's not adding much of a requirement as it is typically strongly recommended if you have a gpu. That'd be my ideal option as that would both give a nicely optimized gpu implementation and as it is part of cudnn it'll likely remain actively maintained.

As a related note, in actually using ctc one useful function besides the loss would be a way of doing the

[2017-11-09 11:08] ozancaglayan commented on #3558
It depends on the data generated and the precision I think. Wrote a quick snippet below where all results are at least equal with atol `1e-1` but for higher precisions the behaviour is data-dependent.

[code]

[2017-11-09 11:21] peterjc123 commented on #494
Now that the windows PR are accepted into the master branch, I think it is necessary to set up a CI like appveyor to keep the quality of the Windows build.

[2017-11-09 11:43] mittagessen commented on #3420
Most of the people using the software I need CTC in pytorch for are using CPUs so my focus is there. I've looked at the code and adding a cuDNN wrapper to the existing ones should be fairly easy, although I am fairly sure the CPU implementation is producing different results from cuDNN (or most other CTC implementations) which is another reason not to transparently switch between both.

Does it ac

[2017-11-09 12:04] stefbraun commented on #3420
Pytorch is heavily integrated with cuDNN (e.g. [LSTM implementation](http://pytorch.org/docs/master/nn.html?highlight=lstm#torch.nn.LSTM))

Therefore, using the CTC loss function provided by cuDNN 7 should be OK, too. Also, it is probably heavily optimized and it will be actively maintained by the cuDNN team.

[2017-11-09 12:07] insertnick commented on #494
Very glad that the Windows PR have been accepted into the master branch.

I would like a very detailed tutorial to exist, to assist in getting PyTorch running on Windows.

It would be awesome if I could write it, but I have not yet tried to get it myself, and currently I'm involved in a month-long Hackathon that subtracts me any free time. Also I'm probably not the best one here that can compose s

[2017-11-09 12:22] VladislavZavadskyy commented on #2332
Same on master 1d57a2d54c257f31f94c562feca43a687577d733.
Built with cuda 9 and cuddn 7.0.3.

[2017-11-09 12:32] mittagessen commented on #3420
I realized that when looking at the backend wrapper.

I'll do some comparisons once I got the CPU implementation going.

[2017-11-09 12:58] soumith commented on #566
it got approved recently. we are planning to upload the next version of pytorch on pypi

[2017-11-09 13:42] da-wad commented on #3567
Thanks VladislavZavadskyy, this fixed the issue for me too!

[2017-11-09 13:47] soumith opened #3598 "raise warning when compiled with a CUDA version that will JIT on the current GPU"
There's quite a few user-reports of installing the CUDA 7.5 binary of pytorch and then running on GTX 1080 / 1070, and there will be reports of installing 7.5 / 8.0 binaries and running on V100.

Raising a user-warning in such situations and letting them know will fix the problem.

[2017-11-09 14:57] xiao7199 commented on #3585
Thanks for your reply.

My algorithm needs 1 CNN forward and 1 256*256 matrix inverse.
Now the running time for CNN part is around 0.009s each image but the inverse operation takes about 0.70s which heavily drag down FPS.

My question is:
Can I first initialized 'inverse' somewhere by allocating the working memory and then reuse the cached ready function within the image loop to accelerate the com

[2017-11-09 15:24] kyunghyuncho opened #3600 "making .cuda() falls back to an identity function when gpu is not available"
it would be really convenient, if .cuda() could automatically fall back to doing nothing when there's no gpu available on the machine. it was suggested by @khanhptnk

[2017-11-09 15:35] alykhantejani commented on #3598
The version of CUDA used to compile the binary should be available thanks to this PR: https://github.com/pytorch/pytorch/pull/3036

[2017-11-09 15:40] #3564 closed

[2017-11-09 15:41] khanhptnk commented on #3600
Thanks @kyunghyuncho :)

[2017-11-09 16:05] martinraison commented on #3281
I would also like to be able to use `namedtuple` for dataset examples. This would require changes to `DataLoader` as identified above, and also to `DataParallel`. I don't know if there are other places we need to be careful (maybe `DistributedDataParallel`?)

I don't know if we want to support a `batch_type_ctor` argument, but at least handling `namedtuple` correctly seems like a good start.

Does

[2017-11-09 16:34] Arseny-N commented on #3281
Well you can't reliably determine if an object is a namedtuple [link](https://stackoverflow.com/questions/2166818/python-how-to-check-if-an-object-is-an-instance-of-a-namedtuple)

So either a heuristic should be used or a flag should be supplied to the DataLoader.

[2017-11-09 16:49] #3598 closed

[2017-11-09 16:51] colesbury commented on #3584
@apaszke, you can sort and then do the batched filling

[2017-11-09 17:01] SsnL commented on #3558
@gd-zhang I can't reproduce this, neither on 0.2 nor on master. As @ozancaglayan mentioned, there are slightly off results sometimes due to precision. But they are always close to `b`. Could you dump an `A` that gave you error results please?

[2017-11-09 17:05] isacarnekvist opened #3603 "Cannot load cuda state_dict in cpu mode"
[code]
Loading this in a cpu-only version crashes and complains about missing NVIDIA drivers. Is this really the wanted behavior?

[2017-11-09 17:05] colesbury commented on #3396
Transposing only helps a little. Shouldn't be too hard to write a kernel for this sort of input (large batch size, small k, small array size).

[2017-11-09 17:10] colesbury commented on #2821
This is fixed in master

[2017-11-09 17:10] #2821 closed

[2017-11-09 17:30] #3554 closed

[2017-11-09 17:36] martinraison commented on #3281
I didn't realize that. Maybe using `batch._make([pin_memory_batch(sample) for sample in batch])` would be good enough then. We could also probably use the same trick for `DataParallel`. I know there could be false positives, but they seem rather unlikely (if necessary we could use an even stronger heuristic - checking if we're a subclass of tuple + if `_fields` exists, etc)

[2017-11-09 17:41] karandwivedi42 commented on #3603
Does this help?
https://discuss.pytorch.org/t/loading-weights-for-cpu-model-while-trained-on-gpu/1032

[2017-11-09 18:13] csarofeen commented on #2755
Please see https://github.com/pytorch/pytorch/issues/3546

[2017-11-09 18:32] Arseny-N commented on #3281
Oh, cool I was not aware of the `._make` method. I agree what you are proposing is better.

So to not duplicate code a `is_namedtuple` function should be created, where to define it - in `torch/utils/__init__.py` ?

[2017-11-09 18:37] martinraison commented on #3281
maybe the pythonic way would be to just try to call the method:

    elif isinstance(batch, collections.Sequence):
        try:
            # Handle namedtuple
            return batch._make([pin_memory_batch(sample) for sample in batch])
        except AttributeError:
            # Fallback to list
            return [pin_memory_batch(sample) for sample in batch]

An extra benefit of doing it thi

[2017-11-09 18:48] Arseny-N commented on #3281
Good idea. I will try to setup the needed environment and write the patch on the week end.

[2017-11-09 19:01] kyunghyuncho commented on #3600
would this be resolved by modifying ``CudaTransfer``?

https://github.com/pytorch/pytorch/blob/fde355f7d4ad95a1f8cba6adc3fff7b4935ecba0/torch/autograd/_functions/tensor.py#L172-L190

[2017-11-09 19:04] aluo-x commented on #494
Attempted to build on windows using CUDA 9 & VS 2017.
The first error was related to "NVTOOLEXT_HOME" being none, the script did however manage to detect CUDA.
The second error was related to cmake not detecting the C & CXX compilers, resulting in unknown. This was after running setup.py from the Command Prompt for VS 2017

[2017-11-09 19:04] kyunghyuncho commented on #3600
maybe check ``torch.cuda.is_available()``, and if False, return i as it is?

[2017-11-09 19:23] apaszke commented on #3584
but how do you sort a tensor? with a series of selects and cat? it's expensive

[2017-11-09 19:41] SsnL opened #3606 "Assert MKL conditions in THBlas.c"
The checks in https://github.com/pytorch/pytorch/blob/master/aten/src/TH/generic/THBlas.c should really always pass, eg ld* ones, except for `INT_MAX` ones. Maybe we should assert them rather than checking and resorting to slow c code when failing.

cc @soumith

[2017-11-09 19:54] Kuzphi opened #3608 "binary cross entropy requires double tensor for target"
[code]

[code]

in latest release, binary_cross_entropy requires double tensor rather than long tensor.
 which does not make sense for cross entropy.

[2017-11-09 19:59] SsnL commented on #3525
@MlWoo So it turned out that ger code actually has a bug. If you look at the FORTRAN doc (the function we are using) at https://software.intel.com/en-us/mkl-developer-reference-fortran-ger, we are indeed checking lda wrong :P. I fixed those in #3604 .

[2017-11-09 20:00] colesbury commented on #3584
A single call to index_select

On Thu, Nov 9, 2017 at 2:23 PM Adam Paszke <notifications@github.com> wrote:

[2017-11-09 20:23] fmassa commented on #3598
@alykhantejani I think https://github.com/pytorch/pytorch/pull/3601 is a more robust way of getting the CUDA used to compile PyTorch, as currently if there are multiple CUDA installed in the machine, the heuristics used in #3036 might not match those used by CMake FindCUDA. I think that we should modify the `torch.version.cuda` to return the cuda version used during compilation (which might requir

[2017-11-09 20:31] ejoebstl commented on #541
There seem to be problems with certain numpy types though.

[code]

Gives

[code]

Such types are common when using `np.from_file`.

[2017-11-09 20:37] fmassa commented on #541
@ejoebstl those cases should probably raise an error in PyTorch (I'm TH supports changing the endianness of the underlying data). Can you open an issue?

[2017-11-09 21:16] zou3519 commented on #3608
I think BCELoss has always required a float or double tensor for its input: http://pytorch.org/docs/master/nn.html?highlight=bceloss#torch.nn.BCELoss (you can change the version number and the docs look the same).

Are you thinking of CrossEntropyLoss? That one takes LongTensors for target

[2017-11-09 21:54] colesbury commented on #3606
They will not pass for things like expanded tensors:

[code]

[2017-11-09 22:12] SsnL commented on #3606
Good point. How about we make it such that the caller should handle

[2017-11-09 22:16] SsnL opened #3610 "High GPU memory usage on master"
Running cyclegan from https://github.com/junyanz/pytorch-CycleGAN-and-pix2pix on master takes huge amount of memory (>11G with default options). It only takes 3.5G on 0.3 and 0.2 branches.

The memory usage increases as I run more iteration. It seems some tensors are not freed properly.

I remember running on a pre-ATen-merge version without such issue.

Repro command:
[code]

By the way, this doe

[2017-11-09 22:26] amoltandel commented on #440
can nonzero be implemented as following:
`def __nonzero__(self):
	return self/self == 1`?

[2017-11-09 22:32] soumith commented on #3606
discussed with Sam, on zero-strided Tensors, we should makeContiguous + gemm, because the C code that runs by default is SUPER not performant.

[2017-11-09 22:36] andreh7 opened #3611 "unknown type name 'ssize_t' with gcc 4.8.5 on Linux"
when building the pytorch head (1bf717e17) I get several errors like the following with gcc4.8.5 on Linux:

[code]

This can be fixed by adding
[code]

to `aten/src/TH/THMemoryFile.c`

(I'm happy to provide a pull request if wanted)

[2017-11-09 22:37] soumith commented on #3611
yes please, for Pull Request!

[2017-11-09 23:12] SsnL commented on #3525
@juliusshufan This is a known issue if you installed mkl via conda. @soumith is working on a fix. Sorry about that.

[2017-11-09 23:19] fmassa commented on #3592
This is a duplicate of https://github.com/pytorch/pytorch/issues/3573 , and has been fixed in master I believe

[2017-11-09 23:20] soumith commented on #3525
@juliusshufan it only started being an issue since last week after we did a big refactor, i'm looking into this.

[2017-11-09 23:20] #3592 closed

[2017-11-09 23:34] peterjc123 commented on #494
@aluo-x The build has to go in the VS2017 prompt. The NVToolExt is the problem i gonna solve. Can uou find out the environment variable about it in CUDA9?

[2017-11-10 00:10] ezyang opened #3614 "Deterministic convolution is nondeterministically being nondeterministic on CUDNN 7"
Here are the most recent build logs with this problem:

* https://ci.pytorch.org/jenkins/job/pytorch-builds/job/pytorch-linux-xenial-cuda9-cudnn7-py3-test/236/console
* https://ci.pytorch.org/jenkins/job/pytorch-builds/job/pytorch-linux-xenial-cuda9-cudnn7-py2-test/235/console
* https://ci.pytorch.org/jenkins/job/pytorch-builds/job/pytorch-linux-xenial-cuda9-cudnn7-py2-test/228/console
* https://c

[2017-11-10 00:40] joe-redstone opened #3615 "pytorch distributed timeout when running with number processes > 16"
I am experimenting distributed package using a cluster with 10 computing nodes, each node has 64 cores and 256 GB RAM, no GPUs. Pytorch version is 0.2.0_3. The code runs fine when using only 16 processes or less on a single machine. But if I use 32 processes on a single machine or multiple machines (say, 4 or 6) with 16 or more processes on each machine,  it often errors out with messages like "Re

[2017-11-10 00:43] #3525 closed

[2017-11-10 01:01] aluo-x commented on #494
@peterjc123, I did use the VS2017 prompt, which is why I was so confused. I can build tensorflow just fine by specifying 'cmake -G "Visual Studio 15 2017 Win64"'. I will look into the NVToolExt issue later today.

[2017-11-10 01:19] peterjc123 commented on #494
@aluo-x It seems the double quotation marks are missing, PR #3617 is already on the way.

[2017-11-10 02:41] ezyang commented on #3614
From #devs:

[2017-11-10 02:54] soumith opened #3618 "document depthwise convolution"
Right now, if folks come searching for depthwise convolution in the docs, they dont know that the `groups` setting in Conv*d is what they are looking for.

For such folks, document depthwise convolutions in docs, detailing equivalent argument conversions (depthwise_multiplier, etc.)

[2017-11-10 03:33] #3591 closed

[2017-11-10 04:20] zou3519 opened #3619 "Multiprocessing with gesv hangs after torch.potrf is called"
Applying torch.gesv with multiprocessing, after a call to torch.potrf, causes hanging. Reported from the forums: https://discuss.pytorch.org/t/multiprocessing-subprocess-is-not-running-at-blas-or-lapack-command/9727/8

Repro below. Increase `n_data` until it happens (for me it happened at 1001).
[code]

[2017-11-10 04:27] soumith commented on #3619
see if this goes away if one does:

[code]

If so, then MKL might not be fork-safe...

[2017-11-10 04:32] zou3519 commented on #3619
Yup it goes away with `torch.multiprocessing.set_start_method("spawn")`.

Also more minimal example:
[code]

[2017-11-10 04:35] soumith commented on #3619
@MlWoo do you know much about the fork-safety of MKL libraries and maybe how to make MKL initialization safe to forks (that happen with multiprocessing)?

[2017-11-10 04:39] soumith commented on #3619
something here https://github.com/numpy/numpy/issues/6669#issuecomment-156745452 suggests that it might be gcc OpenMP that's not fork-safe.
Can you run with:

[code]

[2017-11-10 04:41] zou3519 commented on #3619
Running `OMP_NUM_THREADS=1 MKL_NUM_THREADS=1 python repro.py` makes the hanging go away

[2017-11-10 06:08] aluo-x commented on #494
Going through the environmental variables w/ CUDA 9, these are the only variables: https://i.imgur.com/daQOiqn.png

This is the content of `C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v9.0\bin`
https://i.imgur.com/wVyew2Y.png

[2017-11-10 06:14] peterjc123 commented on #494
@aluo-x I don't think NvToolsExt is a CUDA library. Its path is typically `C:\Program Files\NVIDIA Corporation\NvToolsExt\bin\x64` or stored in environment variable `NVTOOLSEXT_PATH`.

[2017-11-10 06:16] aluo-x commented on #494
Nothing in the Nvidia Corporation folder:
https://i.imgur.com/Pqc02Yv.png

[2017-11-10 06:21] MlWoo commented on #3619
@zou3519 I have modified n_data to 10000001, but the phenomenon cannot reprodeuce in my machine. But my pytorch is based on commit_id 6743d5951397eaf0bd454c941af00d2d0fae096d. This version does not include a big refactor which is invovled with blas operations. Can you provide more info for us to identify the causes?  @soumith The MKL setting you provided will disable multithread in openmp(MKL also

[2017-11-10 06:29] peterjc123 commented on #494
@aluo-x Have you installed Nsight in CUDA? Or check `C:\Program Files (x86)\NVIDIA Corporation\NvToolsExt\bin\x64`

[2017-11-10 06:32] levifussell commented on #2575
I get a similar error but only after I call `env.render()` using openai gym after `import torch`. Prior to this it works fine. On the inverse if I render the environment and then `import torch` I get the error as well.

[2017-11-10 06:35] aluo-x commented on #494
It was not in the x86 folder either. Nsight was not an option when installing CUDA. Did you possibly mean visual studio integration? Just tried that and the installer failed

[2017-11-10 07:37] Desperado000 commented on #3490
It solved by setting multiprocessing with mp.set_start_method('forkserver') or mp.set_start_method('spawn')...

[2017-11-10 07:37] #3490 closed

[2017-11-10 07:38] peterjc123 commented on #494
@aluo-x Yes, I extracted the MSI file of the CUDA visual studio integration and found NVToolsExt_1.dll there.

[2017-11-10 07:57] peterjc123 commented on #494
@aluo-x Actually you can extract the CUDA installer exe and found the NVTX installer under the `CUDAVisualStudioIntegration` folder.

[2017-11-10 09:03] andreh7 opened #3620 "'off_t' undeclared with gcc 4.8.5 on Linux"
(similar to #3611): with gcc 4.8.5 on Linux I get the following error (with the head from yesterday 1bf717e ):

[code]

Adding `#include <sys/types.h>` in `aten/src/TH/THDiskFile.c` fixes this.

Should I open a new pull request for this (similar to #3612, with guard against `_WIN32`) or piggyback on #3612 ?

[2017-11-10 09:39] ChangYong-Oh commented on #3619
These are some error cases and ad-hoc solution to that in my machine.
Hope this may help.
[code]

Only difference is the order of calling blas(torch.mm==addmm) and multiprocessing.Pool

[2017-11-10 09:44] apaszke commented on #3620
I’m fine with both, whatever works for you

[2017-11-10 09:50] andreh7 commented on #3620
ok added commit a1062cc62 to pull request #3612

[2017-11-10 10:24] LynnHo commented on #1959
@jekbradbury, this is the LayerNorm for >=2D modified from your code

[code]

[2017-11-10 10:53] frankang commented on #3126
This might be an example of the gcc code. So the correct path has been indicated by the setup.py file, and both the correct include path and wrong version(v5) include path are in the gcc -I options.

`gcc -pthread -Wsign-compare -DNDEBUG -g -fwrapv -O3 -Wall -fPIC -I/home/user99/miniconda3/include -I/home/user99/pytorch -I/home/user99/pytorch/torch/csrc -I/home/user99/pytorch/torch/lib/pybind11/in

[2017-11-10 11:43] KaiyangZhou commented on #3423
@alexpeys You could add a custom torch.autograd.Function ([http://pytorch.org/docs/master/notes/extending.html#extending-torch-autograd](url)) to compute the forward of matrix determinant, as well as the backward to obtain the gradients wrt each element of the matrix.

The codes would look like:

[code]

To understand how the gradients are computed, please have a look at [https://en.wikipedia.org/

[2017-11-10 11:55] dhpollack commented on #2681
Yea, fixed now.

[2017-11-10 12:27] ezyang commented on #3620
Let's consider adding CI against gcc 4.8. Probably doing just builds (not test) should be OK.

[2017-11-10 13:02] andreh7 commented on #3620
in fact, I see a few more problems like the one in #3571 with gcc 4.8 but I'll wait until #3612 is sorted out.

[2017-11-10 13:34] ezyang commented on #3614
I happened to be reading the deterministic algorithm selection code (for unrelated reasons), and I realized that we are falling back on nondeterministic algorithms if no deterministic ones are available:

[code]

This is bad, and probably related to the problem here. A plausible explanation is that, when running cudnnFindConvolutionForwardAlgorithmEx in multiple threads concurrently, deterministic

[2017-11-10 14:00] ozancaglayan commented on #3603
Yes you need to explicitly map the storage with lambda as in the given example in order to avoid using the same storage defined in the pkl file.

[2017-11-10 14:01] soumith commented on #3603
closed via https://github.com/pytorch/pytorch/issues/3603#issuecomment-343233247

[2017-11-10 14:01] #3603 closed

[2017-11-10 14:02] cdeil opened #3622 "conda install torch?"
Hi, I'm new to torch / pytorch, so apologies for the basic question!

I see at http://pytorch.org/ that `conda install pytorch` is supported and it works for me. But as far as I can see, I still need to install torch separately, it's not installed as a dependency? And from what I gather at http://torch.ch/docs/getting-started.html torch itself doesn't have a conda package at all?

If this is the c

[2017-11-10 14:03] edmBernard opened #3623 "Fix MKL / Anaconda detection"
Is there a turorial to build pytorch from source with mkl support ?

[2017-11-10 14:05] soumith commented on #3622
`conda install pytorch` installs an old version of PyTorch that the anaconda team checked-in. you need to use `conda install pytorch -c soumith ...` the command from our website.

torch is a separate product from pytorch, pytorch has no depedency on torch. we are not going to add any details of installing it on the pytorch website. Right now torch can be installed from source using the page you po

[2017-11-10 14:05] #3622 closed

[2017-11-10 14:06] soumith commented on #3623
These commands guide you to install with MKL https://github.com/pytorch/pytorch#from-source
Currently on master there is a small bug that was introduced last week where MKL detection is not working properly, I am fixing it.

[2017-11-10 14:08] edmBernard commented on #3623
yeah I used these instructions
I'll wait your fix
thanks for your answer

[2017-11-10 14:38] cdeil commented on #3622
@soumith - OK, I understand now, thanks for your help!

To run https://github.com/jcjohnson/neural-style I need torch, not pytorch, and unfortunately there's no easy install via conda.

Well, except from the name, the expectation that `pytorch` is strongly connected to `torch` is probably a mistake that new users like me that haven't used either package before are likely to make? So I still think

[2017-11-10 14:52] aluo-x commented on #494
That worked! The path is name is `NVTOOLSEXT_PATH`, content is `C:\Program Files\NVIDIA Corporation\NvToolsExt\`

[2017-11-10 15:41] soumith commented on #3623
fixed via https://github.com/pytorch/pytorch/commit/5478d0154fca6859c2bd6c8147b6797074d1efcf

The latest master will detect MKL correctly.
Thanks for waiting.

[2017-11-10 15:41] #3623 closed

[2017-11-10 15:54] killeent commented on #3618
I should do this probably.

[2017-11-10 16:07] libfun opened #3624 "Issue with type conversion for BatchNorm inference in THNN"
TL;DR:
THNN/BatchNormalization.c, Line 53
https://github.com/pytorch/pytorch/blob/5478d0154fca6859c2bd6c8147b6797074d1efcf/aten/src/THNN/generic/BatchNormalization.c#L53

The variable `eps` is double, so `THTensor_(get1d)(running_var, f)` converts to double, so whole `1 / sqrt` thing becomes double, and in the end converts to `real`, because `invstd` is `real`.

If eps is converted to `float` befo

[2017-11-10 16:08] libfun commented on #3624
Xposted issue in torch/nn: https://github.com/torch/nn/issues/1296

[2017-11-10 16:31] SsnL commented on #2389
Sorry for the delay. I just checked and sparse x dense works on tensors but not on variables as indicated in the issue text. And sparse x sparse indeed is not supported at the moment.

[2017-11-10 16:48] colesbury opened #3625 "Proposal: combine requires_grad and retain_grad()"
Currently, requires_grad means two things:
1) That we should compute gradients for this variable and functions of this variable
2) On a "leaf" variable, it means we should store the gradient to the "grad" attribute

The `retain_grad()` functions is used to signify that we should store the gradient on non-"leaf" variables to the "grad" attribute.

We should change `requires_grad` so that it signifi

[2017-11-10 16:58] fritzo opened #3626 "nn.Module.cuda() is not propagated to submodules in v0.3.0"
To reproduce:
[code]
This works with pytorch `0.2.0_4` but fails with `v0.3.0` as of 1f694e9

See https://github.com/uber/pyro/issues/554
CC: @zou3519 @soumith

[2017-11-10 16:58] colesbury opened #3627 "Proposal: replace Variable.volatile with global switch"
Variable.volatile forces outputs to not require gradients if any of the inputs are marked volatile. This works OK in the forward pass, but we're forced to [change the meaning](https://github.com/pytorch/pytorch/blob/b06c59e543aa26586087c19fb7b713f8872105bb/torch/csrc/autograd/functions/accumulate_grad.cpp#L38) in the backwards. Gradients are sometimes volatile and sometimes not, which is awkward i

[2017-11-10 17:02] colesbury commented on #3627
cc @jekbradbury

[2017-11-10 17:09] jekbradbury commented on #3627
I'm not sure this is compatible with the proposed unification of Variables and Tensors, in that we'd want the future behavior of a plain tensor to be the same as the current behavior of a `volatile=True` Variable?
The global switch has worked well for Chainer but they continue to make a strong distinction between `cupy.array` and `chainer.Variable`

[2017-11-10 17:10] colesbury commented on #3627
If we keep `volatile`, the default would be `requires_grad=False`, `volatile=False` (the same as when you construct a `Variable`)

[2017-11-10 17:15] jekbradbury commented on #3627
Hmm ok, that works too; we’ll have to deprecate the (admittedly strange) concept of using a flag on the data tensor/variable to represent train/test sets (overly magical but I currently rely on it in torchtext). I’m not a huge fan of global state but we have some already in the device contexts. So it looks like this is the right thing to do.

[2017-11-10 17:24] zou3519 commented on #3626
@fritzo It doesn't seem to error out for me:
![image](https://user-images.githubusercontent.com/5652049/32670537-0d25aaac-c612-11e7-8c20-8b922b64fcf7.png)
Could you show the output of your `torch.__version__`?

[2017-11-10 17:29] ngimel commented on #3614
Usually there's at least one deterministic algo available (except for fp16, where there may be none), so while I agree that silent falling back is bad, it's likely not the primary culprit.

[2017-11-10 17:59] edmBernard commented on #3623
@soumith thanks a lot

[2017-11-10 18:06] linamnt opened #3628 "Building from source error: command 'gcc' failed with exit status 1"
Hi There,
I'm trying to install Pytorch as a module on my university's computing cluster. The node uses CentOS (6.4) x86_64.

I install running these commands:

    module load gcclib/5.2.0 cmake/3.8.2
    module load gcc/5.2.0
    module load anaconda3/4.0.0
    export CMAKE_PREFIX_PATH="$(dirname $(which conda))/../"
    export NO_CUDA=1
    git clone --recursive https://github.com/pytorch/pytor

[2017-11-10 18:41] apaszke commented on #3614
It would still be nice to at least assert if we fail to find one

[2017-11-10 18:44] apaszke commented on #3625
Is it really worth changing? The semantics are exactly the same, you just change the name and break a ton of user scripts (`requires_grad` is everywhere)

[2017-11-10 18:55] colesbury commented on #3625
I think very few user scripts would break: people set requires_grad everywhere, but that remains the same. Only reading requires_grad on non-leaf Variables changes.

[2017-11-10 18:58] ekostem commented on #3628
Same here, with gcc 5.4.0

[2017-11-10 19:00] apaszke commented on #3625
Yes, but this checking of `requires_grad` on non-leaf Variables changes. That's what I was thinking about

[2017-11-10 19:05] zou3519 commented on #3628
I don't think building from source works very well with gcc 5.4. Could you install gcc 4.9 and try compiling?

[2017-11-10 19:08] linamnt commented on #3628
I get this error instead @zou3519 when using gcc 4.9.0
[code]

[2017-11-10 19:16] ekostem commented on #3628
running install
running build_deps
cmake: ***/GCCcore/4.9.3/lib64/libstdc++.so.6: version `CXXABI_1.3.9' not found (required by cmake)
cmake: ***/GCCcore/4.9.3/lib64/libstdc++.so.6: version `GLIBCXX_3.4.21' not found (required by cmake)

[2017-11-10 19:18] colesbury commented on #3625
I've looked through the examples and a few [popular projects](https://github.com/topics/pytorch). I haven't seen any uses like that.

[2017-11-10 19:26] fritzo commented on #3626
`torch.__version__ == 0.3.0b0+1f694e9`

[2017-11-10 19:30] fritzo commented on #3626
@zou3519 sorry, I was testing on the `0.1.1` release of Pyro. You're right: the tests pass on Pyro dev (and with the 0.1.2 patch release we're planning to release today). Sorry for misattributing this bug, it was probably due to a bug on our side.

[2017-11-10 19:30] #3626 closed

[2017-11-10 19:36] Evpok commented on #3587
From what I understand of the CuDNN API, which is the basis of pytorch's one, the output is sorted by timesteps, so `h_n` should be the concatenation of the hidden state of the forward layer for the last item of the sequence and of the hidden state of the backward layer for the first item of the sequence.

I agree that it should be more explicit. Also it is really inconvenient for e.g. bidirection

[2017-11-10 19:43] zou3519 commented on #3619
@MlWoo I'm running on 1f694e9. I compiled based on 6743d59 and the hanging still happens? What sorts of information would be helpful? I can try reproducing this in a docker image if that'll be helpful.

[2017-11-10 19:48] ekostem commented on #3628
Hi @zou3519, I think this is broken after #2941
https://github.com/pytorch/pytorch/commit/aa911939a328eff55c9b28b39ed3c43507ba8a2a
due to `THPUtils_assert`

[2017-11-10 20:01] andreh7 commented on #3628
I have the same problem (`error: expected ')' before 'PRId64'` etc.) with gcc 4.8.5 on Linux with the current head ( 02450fff3)

What works for me is to add `#define __STDC_FORMAT_MACROS` at the beginning of the following four files:
* torch/csrc/Storage.cpp
* torch/csrc/Tensor.cpp
* torch/csrc/cuda/Storage.cpp
* torch/csrc/cuda/Tensor.cpp

(see also https://github.com/pytorch/pytorch/compare/mast

[2017-11-10 20:21] #3628 closed

[2017-11-10 20:21] linamnt commented on #3628
This worked for  me @andreh7 Thank you.

[2017-11-10 20:21] soumith commented on #3628
fixed in latest master, thanks to @andreh7

[2017-11-10 20:51] andreh7 commented on #3620
The current head cc8fd5bd compiles for me now -- thanks for merging ! I'll close this issue.

[2017-11-10 20:51] #3620 closed

[2017-11-10 20:52] andreh7 commented on #3611
The current head cc8fd5bd compiles for me now -- thanks for merging ! I'll close this issue.

[2017-11-10 20:52] #3611 closed

[2017-11-10 21:46] soumith opened #3630 "USE_BLAS is broken with recent cmake changes"
currently compiled master does not use any blas for any ops and uses our lame fallback C code.
I'm looking into it.
Basically USE_BLAS is not being set in THGeneral.h.in

[2017-11-10 21:47] aluo-x commented on #494
Here are the contents by following that path:
https://imgur.com/a/N5HA9

[2017-11-10 22:13] #3630 closed

[2017-11-10 22:33] aluo-x commented on #494
nvtoolsExt error has gone away. However still getting CXX and C compiler unknown errors:
![image](https://user-images.githubusercontent.com/15619682/32681349-2d3de4fa-c63d-11e7-8a31-f3c1e7d24314.png)

[2017-11-11 01:14] aluo-x commented on #494
Got significantly farther this time. Turns out the CXX & C unknown error was due to a modification to make tensorflow compile. A clean install of VS 2017 fixed that for me. Still failed due to missing `TH.h`.
Log attached below:
[code]

[2017-11-11 02:13] w4nderlust opened #3636 "Dataset goes into infinite loop when used as iterator"
In the examples on how to use a Dataset object, it is suggested to access it with:
[code]
but it would be reasonable to expect that you can access a dataset as an iterator, like:
[code]
unfortunately doing so leads to an infinite loop.

Here's a simple code example that shows this behavior:
[code]

[2017-11-11 03:27] peterjc123 commented on #494
@aluo-x For CUDA builds, another PR #3637 is also necessary.
The dependencies of this build are:
1. CUDA 8.0 or up
2. MSVC 2017 C++ Build Tools ( MSVC 2015 with Update 2 is also needed if you want to build for CUDA 8)
3. CMAKE 3.4 or up
4. NVTX( in CUDA as Visual Studio Integration. if fail to install, you can extract the CUDA installer exe and found the NVTX installer under the CUDAVisualStudioIn

[2017-11-11 03:39] zafarali opened #3638 "EmbeddingBag inconsistent behaviour. Expects "Variable" even though I give it that..."
I am trying to use `EmbeddingBag`. I just started using pytorch so I might have some knowledge gap, but I think there is an inconsistency in the way `EmbeddingBag` and `Embedding` is handled.

I set up my embedding layers as follows:
[code]

And i set up some "words" in the standard `BxN` way that torch requires inputs:
``
words_from_numpy = Variable(torch.from_numpy(np.array([[0, 1, 2, 3]])))
[co

[2017-11-11 04:18] aluo-x commented on #494
Thank you @peterjc123 for the detailed instructions!
I was able to successfully build and install pytorch.

A quick test from pycharm & git bash (ipython & python) shows that the build seems functional. A minor nitpick, the build did not work when trying to import torch from cmd, it popped up a `No module named 'torch._C'` error.

[2017-11-11 04:22] peterjc123 commented on #494
@aluo-x It should be okay to run in a new cmd window.

[2017-11-11 04:35] aluo-x commented on #494
That was great! Final question for the CPU build, is there any reason why MKL is not found? Using the same python environment (default conda), I can
[code]
just fine

[2017-11-11 04:38] peterjc123 commented on #494
@aluo-x You need lib files for building it. Do the following before build.
[code]

[2017-11-11 04:59] aluo-x commented on #494
Did not seem to work for me, perhaps I am doing something wrong?
`set LIB=C:\Users\ALuo\Anaconda3\pkgs\mkl-2018.0.0-h36b65af_4\Library\lib;%LIB%`
Contents are as follows:
[code]

[2017-11-11 05:11] peterjc123 commented on #494
@Did you clean the build through the command before rebuild?
[code]

[2017-11-11 05:15] aluo-x commented on #494
Yes, right now I am just deleting the entire pytorch folder and re-cloning for each build.

[2017-11-11 05:29] sbhaaf commented on #1567
In the case that you send a state_dict over a network, pickled or otherwise, it seems there's no good way to force the model on the receiving end to load it into CPU without first saving it to disk. If torch.load() could take a BytesIO object then this could be accomplished with map_location.

[2017-11-11 06:47] peterjc123 commented on #494
@aluo-x I don't think your list is complete. Here are my list.
[code]
There's no problem in the CI build. Maybe you should check the MKL files.

[2017-11-11 06:49] aluo-x commented on #494
Could you run
`conda list | grep mkl` and put the output here?

[2017-11-11 06:54] peterjc123 commented on #494
@aluo-x Mine is
[code]
But i don't think the question is about this. In my lib files, there is , e.g. , `mkl_core.lib` in it. But it doesn't exist in your list.

[2017-11-11 06:57] aluo-x commented on #494
@peterjc123 , I was wondering if it was possible that Anaconda changed the files between 3.6/2.7 or between mkl 2018.0.0 and 2017.0.1.

Mine is a default install of Anaconda 5.0.1 for Py 3.6.3

[2017-11-11 07:05] aluo-x commented on #494
Could this be potentially relevant?
https://groups.google.com/a/continuum.io/forum/#!topic/anaconda/iE-IUHHsJD0

[2017-11-11 07:07] peterjc123 commented on #494
@aluo-x Yes, that's the reason why. I think the anaconda version of MKL files (at least in Windows) are only used for using it and extending the libraries using it, but not for building the libraries relies on it. In MKL 2017, there is even no library files included in the Anaconda mkl package. Please download the full version of MKL [here](https://software.intel.com/en-us/mkl).

[2017-11-11 07:42] aluo-x commented on #494
Thanks a ton @peterjc123 for your incredible patience and the extremely simple and clear build instructions!

After installing MKL (64 bit only), I collected the files in your list into a folder and appended them to the LIB variable. The CPU build took less than 10 minutes, and I am seeing very significant performance improvements.

Here are my notes based on your earlier instructions:
[code]

[2017-11-11 07:59] QuantScientist commented on #494
@peterjc123 with num_workers=0 I resolved all my issues, works exactly like in Linux (my script is here:https://www.kaggle.com/solomonk/pytorch-gpu-cnn-bceloss-with-predictions/)

So many thanks!

[2017-11-11 09:13] aymenx17 commented on #2614
same problem with cuda9

[2017-11-11 10:07] VladislavZavadskyy opened #3639 "Add tensor and Variable support for ReduceLROnPlateau scheduler's metric"
More convenient that way.

[2017-11-11 10:57] ray342659093 opened #3641 "RuntimeError when using DistributedDataParallel"
I tried to use DistributedDataParallel to do distributed training across different machines. However, I got error message below

[code]
I do not know where these inputs come from and why they do not have the same number of elements. Anyone has clues for this?

[2017-11-11 11:57] apaszke commented on #3641
There might a bug inside DistributedDataParallel. Can you please share a minimal code example that would let us reproduce this?

[2017-11-11 12:01] apaszke commented on #1567
`torch.load` can take a `ByteIO` object. You can either give it a file path or a file-like object (BytesIO satisfies the second requirement)

[2017-11-11 12:21] ray342659093 commented on #3641
I just run the training of this project https://github.com/yjxiong/tsn-pytorch by changing the DataParallel to DistributedDataParallel and used Distributedsampler as a sampler for DataLoader. I think it is because I used a single gpu in rank 0 machine and two gpus in rank 1 machine. when I only used a single gpu in rank 1 machine, this message wont show up.

[2017-11-11 13:56] eladhoffer opened #3642 "torch.select errors on index=-1"
To reproduce:
`x=torch.rand(3,3);
x.select(0, -1)
`
This happens on master, but not on 0.2

[2017-11-11 15:29] gokceneraslan commented on #3185
@stepelu @fritzo I filed a bug report to Pyro (https://github.com/uber/pyro/issues/567). Let's discuss it there.

[2017-11-11 15:31] bheinzerling commented on #3636
Here are a couple of points that should help clear up this issue:

- Python iterators are either created explicitly by defining `__iter__` and `__next__` methods, or implicitly via `__getitem__`. In the latter case, the `__getitem__` method is responsible for ending the iteration by raising an IndexError or a StopIteration exception. It doesn't matter if the iterator implements __len__ or not: an

[2017-11-11 15:53] #3636 closed

[2017-11-11 16:37] soumith commented on #3614
fixed via https://github.com/pytorch/pytorch/pull/3631

[2017-11-11 16:37] #3614 closed

[2017-11-11 16:37] ankur6ue commented on #494
@peterjc123
Thanks for all your work. Tried following your build instructions, but getting the following:

C:\tmp\pytorch>python setup.py install
running install
running build_deps
-- Selecting Windows SDK version  to target Windows 10.0.15063.
-- The C compiler identification is MSVC 19.0.24215.1
-- The CXX compiler identification is MSVC 19.0.24215.1
-- Check for working C compiler: C:/Program F

[2017-11-11 17:16] lren90 opened #3643 "Softmax only taking one arguement"
Per pytorch documentation (http://pytorch.org/docs/master/nn.html#torch-nn-functional)  the softmax function should be able to take dimension as an input.  However, I'm getting this error: TypeError: softmax() takes exactly 1 argument (2 given).

[2017-11-11 17:28] apaszke commented on #3643
You're looking at `master` branch docs (see `/docs/master` in the URL). To get this functionality install from source or wait until the next release (should happen this week).

[2017-11-11 17:28] #3643 closed

[2017-11-11 17:30] zafarali commented on #3638
Some more digging, I think some of these issues might have been fixed in #3128 and #2429.

[2017-11-11 17:44] mys007 opened #3644 "gradients of index_select wrong on GPU"
I've found out that gradient of `index_select` (i..e `index_add`) behaves non-deterministically - and wrong - on GPU for some rather random conditions. The following code illustrates the problem:

[code]

If `cuda=False`, everything works and 0s are printed, i.e. all gradients are equal. However, with cuda on many nonzero differences in `gradsI` but not in `gradsS` pop up, sometimes of high magnit

[2017-11-11 18:16] ankur6ue commented on #494
Getting some build errors:

C:\tmp\pytorch\torch\lib\libshm_windows\core.cpp(5): fatal error C1083: Cannot open include file: 'TH/TH.h': No such fi
le or directory [C:\tmp\pytorch\torch\lib\build\libshm_windows\shm.vcxproj]
Done Building Project "C:\tmp\pytorch\torch\lib\build\libshm_windows\shm.vcxproj" (default targets) -- FAILED.

Done Building Project "C:\tmp\pytorch\torch\lib\build\libshm_win

[2017-11-11 18:22] aluo-x commented on #494
Did you `set NO_CUDA=1`?

[2017-11-11 18:23] peterjc123 commented on #494
@ankur6ue The CUDA build is currently failing. I'll tell you when it's okay.

[2017-11-11 18:24] ankur6ue commented on #494
Ok thanks, appreciate all your work!

[2017-11-11 18:26] vickylance commented on #3546
@latkins Could you please tell me what you did to successfully compile on Ubuntu 17.10 with Cuda 9.0 and cudnn 7.0

[2017-11-11 19:13] w4nderlust commented on #3636
Got it so `IndexError` or `StopIteration` are catched and they stop the iteration.
My case was actually different from that code I posted, it would return `ValueError: result of slicing is an empty tensor`.

This is a more faithful code:

[code]

I guess I can put the slicing operation inside a `try` and `except ValueError` and raise a `StopIteration` inside the except clause to solve my problem.

[2017-11-11 19:27] zhanghang1989 opened #3646 "GPU Memory Leak at Master Branch"
When switching back to version: '0.2.0+53b0152' , there is no memory leak.
Maybe because of `torch.cat` function, since it fails at that line.

[2017-11-11 19:34] apaszke commented on #3639
I've mentioned the reasons for not doing this in the PR.

[2017-11-11 19:34] #3639 closed

[2017-11-11 19:49] fmassa commented on #3636
@w4nderlust I suppose you are looking for the DataLoader http://pytorch.org/docs/master/data.html#torch.utils.data.DataLoader

[2017-11-11 20:11] w4nderlust commented on #3636
No @fmassa I'm not. I'm writing my own custom one for dealing with my specific usecase (dealing with patches of tensors). And @bheinzerling answer lead me to find a solution to my problems, but now the issue is different I guess, and it is:
If the result of slicing is an empty tensor, should pytorch return a `ValueError` like it is doing today or should it return an `IndexError`? My use case sugge

[2017-11-11 20:45] soumith commented on #3646
@colesbury found some memory leaks that he's fixing. it's only on the master branch and not the release branch v0.3.0

[2017-11-11 20:46] soumith commented on #3638
@zafarali indeed they were fixed. will be part of the next release.

[2017-11-11 20:49] fmassa commented on #3636
@w4nderlust I think that the semantics of indexing will change in this case once zero-dimensional tensors are exposed to pytorch, making it more consistent. I think in this particular case `ValueError` is justified, because there is no out-of-range scenario (just that PyTorch doesn't support zero-dim tensors yet).
For example
[code]

Also, small tip for your use-case: you can use two dalaloaders,

[2017-11-11 22:01] sbhaaf commented on #1567
`torch.save` won't take a BytesIO object.
[code]
You can pickle the `state_dict` to a buffer and send it in, say, a post request, but the receiving end can't use `torch.load` and the `map_location` feature

[2017-11-11 22:47] bigharshrag commented on #2575
I get the same error like @levifussell when I try to run the code given in the official PyTorch tutorial [here](http://pytorch.org/tutorials/intermediate/reinforcement_q_learning.html). It only occurs at the line `env.render()`. If `env.render()` is called above `import torch` the error occurs at `import torch`. I'm running it directly from the terminal on Ubuntu 14.04.

[2017-11-11 23:21] apaszke opened #3648 "Support arbitrary file-like object in serialization functions"
Useful when you e.g. want to receive/send objects via network. See #1567.

[2017-11-11 23:21] apaszke commented on #1567
Ah, my bad! I forgot about this limitation. I opened an issue to track it

[2017-11-12 00:05] soumith commented on #2740
closed via #3541 and #3547

[2017-11-12 00:05] #2740 closed

[2017-11-12 00:28] soumith opened #3649 "0.3 release checklist"
- [x] backport some of the recent master commits
  - some of them were marked 0.3 release blockers, went into master
- [x] finish 0.3 blockers
- [x] port over linker version script to the 0.3 branch
- [x] add linker version script for TH, THNN, THC, THCUNN, THD (right now only _C is covered and that's not enough).
- [x] install devtoolset3 inside the conda docker too (anaconda now moved over to gc

[2017-11-12 01:55] gd-zhang commented on #3558
@SsnL I just updated to 0.2.0_4 and I cannot reproduce the problem. But in 0.2.0_3, my friends told me numerical problem remains.

[2017-11-12 01:57] SsnL commented on #3558
Okay. Glad to now it is fixed now!

On Sat, Nov 11, 2017 at 20:55 Guodong Zhang <notifications@github.com>
wrote:

[2017-11-12 02:51] w4nderlust commented on #3636
@fmassa I see, so there's a discrepancy on how zero-dimensional tensors are treater and you're going to conform to the numpy behavior. In that case, my workaround catching `ValueError` won't work anymore as there won't be any error to catch, so I guess I should probably just check myself if the requested index in less than `len` and return `IndexError` in that case.
Thanks for the suggestion, it m

[2017-11-12 03:15] peterjc123 commented on #494
@peterjc123 Now you should wait for the PR #3650 to merge. And a detailed instruction [here](https://gist.github.com/peterjc123/a4ac6ce4b0ed4b1b497334baaeb595e3).

[2017-11-12 03:15] peterjc123 commented on #494
@ankur6ue Now you should wait for the PR #3650 to merge. And a detailed instruction [here](https://gist.github.com/peterjc123/a4ac6ce4b0ed4b1b497334baaeb595e3).

[2017-11-12 05:15] peterjc123 commented on #494
@ankur6ue Now it should be okay. And a detailed instruction [here](https://gist.github.com/peterjc123/a4ac6ce4b0ed4b1b497334baaeb595e3).

[2017-11-12 05:41] #3558 closed

[2017-11-12 06:06] michaelhuang74 opened #3651 "Runtime error when mixing FP32 loss functions and FP16 cnn layers"
I am trying to speed up the neural style transfer (https://github.com/leongatys/PytorchNeuralStyleTransfer) on Nvidia Tesla V100 by using FP16.

I modified the code to move the vgg to cuda().half(). In addition, all three images, style image, content image, and opt_img, are in FP16. I tried to keep the loss functions in FP32 because it easily can generate NaN and infinity in FP16.
The code is at h

[2017-11-12 07:01] VladislavZavadskyy opened #3652 "Fix far-fetched Boolean ambiguity for byte tensor with one value in it."
Testing non-empty tensor in an if statement will unconditionally raise a RuntimeError stating that "bool value of non-empty torch.ByteTensor objects is ambiguous". But when there's only one value, it's bool value is pretty straightforward.
What do you think?

[2017-11-12 07:16] vadimkantorov opened #3653 "Support view() on batch dimensions for non-contiguous tensors?"
[code]

Such view's are needed to implement 4D+ `bmm` that can treat all dimensions except last two as batch dimensions (similarly to Linear module's behavior). Unless I move transpose inside the `bmm` func (which would not match the existing interface but well), an extra `contiguous` call is needed.

Does it make sense to support such `view` call? On one hand it breaks invariant that `view` alway

[2017-11-12 10:41] saru95 opened #3654 "AvgPool3d gives argument error on padding"
Using a simple average 3d pool gives the following error:

[code]

[code]

Although the docs do mention that padding is a valid argument (http://pytorch.org/docs/master/_modules/torch/nn/modules/pooling.html#AvgPool3d)

(http://pytorch.org/docs/master/nn.html#torch.nn.AvgPool3d)

I'm running version `0.2.0_3`

[2017-11-12 11:12] latkins commented on #3546
@vickylance

1) Install CUDA and CUDNN from the respective .deb files.
2) Add a PPA that contains the version of gcc/g++ that you want: ```sudo add-apt-repository ppa:ubuntu-toolchain-r/test```.
3) ```sudo apt install g++-6 gcc-6```
3) Set $CC and $CXX to point to the right version of the tools.
4) Clone pytorch, install with ```python setup.py install```

[2017-11-12 11:15] apaszke commented on #3652
Yes, that makes sense. I thought we support this, but apparently we don't. NumPy does so it's better to do it as well for consistency

[2017-11-12 11:18] apaszke commented on #3653
There's a good reason for the `view` invariant - most of such reshapes are impossible to pull off using stride tricks if then tensor isn't contiguous. On the other hand, making it contiguous inside `view` would mean that sometimes the returned tensor shares storage with input, and sometimes doesn't. This is important for cases like these: `x.view(-1)[::x.size(1) + 1] += c` (add `c` to diagonal of

[2017-11-12 11:20] apaszke commented on #3654
You're looking at master branch docs (`/docs/master` in the URL). [Here's a doc for 0.2.0](http://pytorch.org/docs/0.2.0/nn.html#torch.nn.AvgPool3d) and it doesn't include padding. Next version should be released this week, so stay tuned!

[2017-11-12 11:20] #3654 closed

[2017-11-12 11:24] VladislavZavadskyy commented on #3652
Ok, will do a pull request in a few hours.

[2017-11-12 11:24] apaszke commented on #3651
You probably forgot to cast something to fp32. Can you please post the code of `GramMatrix` so I can ensure that it's not a bug?

[2017-11-12 11:26] fmassa commented on #3653
I think Vadim's point is that if the subspace of the non-contiguous tensor that we are modifying is contiguous, then the stride tricks should work, and we could reduce some of the restrictions in `view`.
This is similar in spirit with the `unsqueeze` function, that required dedicated implementation because of the restrictions in `view`.
Not sure if there are edge cases there though, and might just

[2017-11-12 11:27] Stonesjtu commented on #3649
Any notes (features, performance improvements) on the coming release?

[2017-11-12 11:30] fmassa commented on #3649
@Stonesjtu I believe release notes will come with the release, stay tuned!

[2017-11-12 11:43] apaszke commented on #3653
Ohhh I haven't noticed this, my bad. What "works but doesn't fit some interfaces" means? I think it should give results equivalent to the previous line (if it worked). I think relaxing the constraint on `view` to be able to work with certain classes of non-contiguous tensors would be reasonable

[2017-11-12 11:53] vadimkantorov commented on #3653
Yep, you got me right :)

By "works but doesn't fit some interfaces" I meant that `bmm` interface accepts `BxPxQ` and `BxQxR`, so if I'm implementing a generalized version that flattens some first dimensions, then the inputs must already be properly transposed by caller. And then there's this problem that we can't flatten first dimensions of non-contiguous tensors.

[2017-11-12 12:22] lantiga opened #3655 "Have __sizeof__ on tensors account for size of data"
From https://discuss.pytorch.org/t/data-type-when-change-tensor-array-to-numpy-array/9786

`getsizeof` internally calls the `__sizeof__` method on the object, then it adds the garbage collection overhead to it and returns. Apparently `__sizeof__` on PyTorch tensors doesn’t take the size of the underlying buffer into account:

[code]

I can take care of this a few days from now.

[2017-11-12 12:53] alex47 commented on #494
@peterjc123
I'm having the same issue as @ankur6ue with the Declarations.yaml
I'm following your instructions, here is what I did and please tell me what I did wrong:

 - installed Visual Studio Community 2017
 - installed CUDA without Visual Studio integration because of error, but installed the NVTX manually after
 - added `C:\Windows\Microsoft.NET\Framework64\v4.0.30319` to the Path environment

[2017-11-12 14:00] ruotianluo opened #3657 "No link to the previous version doc in master doc"
http://pytorch.org/docs/master/
The link to switch doc is dead.

http://pytorch.org/docs/0.2.0/
Old versions are still available and the link is ok there.

[2017-11-12 14:10] ezyang opened #3659 "Benchmark and deterministic CuDNN convolutions don't play well together"
The cache contains perf results for both deterministic and nondeterministic (which will be different sets of algorithms), but ConvolutionParams doesn't record 'deterministic' in its field.

This will be fixed in my cudnn refactor.

[2017-11-12 14:14] michaelhuang74 commented on #3651
@apaszke The code is at https://gist.github.com/michaelhuang74/009e149a2002b84696731fb599408c90

In the code of GramMatrix, I tried to cast FP16 to FP32 at line 82. The modified code is as follows.

class GramMatrix(nn.Module):
    def forward(self, input):
        input_l = input.clone().cuda()
        b,c,h,w = input_l.size()
        F = input_l.view(b, c, h*w)
        G = torch.bmm(F, F.transpo

[2017-11-12 14:18] apaszke commented on #3651
The problem is exacly as I suspected - you run the `GramMatrix` code entirely in `fp16` tensors. Change
[code]
to
[code]
to get rid of the error message.

[2017-11-12 14:18] #3651 closed

[2017-11-12 14:20] ezyang commented on #3627
Paging @apaszke; I distinctly remember chatting with him about this when we were writing the PyTorch paper, and when I mentioned to him that Chainer had made it a global flag, Adam seemed pretty convinced that having it as local flags was still a better idea. He managed to convince me at the time but I have now forgotten how I was convinced.

[2017-11-12 14:23] apaszke commented on #3627
I think volatile works better than context managers and thread local state when you have a clear distinction between Tensor and Variable worlds. I think it will create a wide range of problems once we unify them, so it's worth considering dumping the flag 😕 I just really don't like magic thread-local things.

[2017-11-12 14:57] michaelhuang74 commented on #3651
@apaszke Thanks for the quick help! Your solution solved the problem. I have updated the code at https://gist.github.com/michaelhuang74/009e149a2002b84696731fb599408c90

However, I have another problem with the optimizer.
In FP32 mode, I can use both LBFGS and Adam as the optimizer. In the FP16/FP32 mixing mode, only Adam works.
If I use LBFGS, it has the following error:
+++++++++++++++++++++++++

[2017-11-12 15:12] apaszke commented on #3651
That's a bug. I'll send a PR soon

[2017-11-12 15:14] fmassa commented on #3600
I'm not sure this is a good strategy, as it might mask from the user configuration problems that he might not be aware of.
I think the best would be to simplify the task of having device-agnostic code, so that instead of calling `.cuda()` one instead do something like `.type(my_type)`.
Adding support for 'dtype' in the constructor of some functions will be a first step towards that direction.

[2017-11-12 15:26] apaszke commented on #3651
Fixed in https://github.com/pytorch/pytorch/pull/3660.

[2017-11-12 15:33] peterjc123 commented on #494
@alex47 I guess that you are not using the right msbuild due to missing the following line in the tutorial.
[code]
Since in that shell, the path of msbuild should be automatically included.

[2017-11-12 15:35] vishwakftw commented on #3418
Or you could have a `Warning` instead of a `ValueError`. Something like this could be a solution right:
[code]

I feel this is more appropriate since that can't be classified as an error per se.

[2017-11-12 15:40] hhsecond commented on #1128
@apaszke Do have a decision on sorting as mentioned in the issue 3584? Do I need to handle that in the `pad_sequence` function? And I was having second thoughts about the acceptable dimensions? What all should be accepted.
- batch `x` seq_len `x` feature_len (batch will be 1 in most cases)
- seq_len `x` batch `x` feature_len (batch will be 1 in most cases)
- seq_len `x` feature_len
- more than 3 d

[2017-11-12 16:01] soumith commented on #3657
thanks for the heads-up, not sure what happened there, will look.

[2017-11-12 16:07] #3652 closed

[2017-11-12 16:24] aluo-x commented on #494
Followed the instructions to the letter. Seems to be an nvcc error?
1st error:
[code]
2nd error:
[code]

[2017-11-12 16:32] soumith commented on #3657
fixed via https://github.com/pytorch/builder/commit/70fae11cb7baec08210135fd7c5b27fb3b156887

[2017-11-12 16:32] #3657 closed

[2017-11-12 16:35] apaszke commented on #1128
Yes, handling that in `pad_sequence` would be good. I'm not sure what's the issue with the dimensions that should be accepted. I think the whole point is to accept Variables of arbitrary trailing dimensions, and concatenate them along a new one in such a way that they are padded with 0s if too small.

[2017-11-12 16:36] apaszke commented on #1128
If you implement it fairly quickly, we might still backport it to 0.3

[2017-11-12 16:37] apaszke commented on #3418
I think this is a clear error. You can't get `fan_in` and `fan_out`, which are required by this initialization method, so it should fail (there's no way to satisfy the contract if this happens).

[2017-11-12 16:37] #3418 closed

[2017-11-12 16:51] kyunghyuncho commented on #3600
the trouble i see with device-agnostic code is that one might want to mix in variables on both gpu and cpu. wouldn't it be easier to choose a default device to be cpu and let cuda fall back to doing nothing? in this case, if the code was intentionally implemented to mix variables on gpu and cpu, it would do so as intended with gpu is available, and otherwise, both types of variables would be on cp

[2017-11-12 17:03] fmassa commented on #3600
I'm not sure having a fallback of "`gpu` doing nothing" is a good thing. I think it's better to say that it's unsupported than do things behind your back. Mixing CPU and GPU code makes writing device-agnostic code harder indeed, but that might be the price to pay to have such flexibility.

Another possibility is to perform automatic device conversion, with a default being specified by the user (so

[2017-11-12 17:07] fmassa commented on #3600
Also, see https://github.com/pytorch/pytorch/issues/3202 for other proposals for device-agnostic code

[2017-11-12 17:11] kyunghyuncho commented on #3202
a latecomer here:

i agree that it's not a good idea to hide things behind the curtain from users. though, in many cases, it might be easier to to have a global behavior of ignoring, e.g., gpu (i.e., make .cuda() do nothing). could we at least give some kind of global switch allowing this behiavour?

[2017-11-12 17:25] hhsecond commented on #1128
@apaszke I'll try to make it into 0.3.
The problem with dimensions is, in the case of 2 or more dimensional Variables, user could pass
- batch `x` seq_len (batch dim would be 1 mostly and we'll concatenating on zeroth dim)
- seq_len `x` feature_len (where user ignored batch dim, we'll be stacking on zeroth or 1st dimension depends on batch_first)
But how could we understand which dimension has var

[2017-11-12 17:30] ankur6ue commented on #494
@peterjc123, @alex47
With peterjc's latest repo, I almost succeeded in building (no TH.h errors anymore). The last step that is failing is:

creating build\temp.win-amd64-3.6\Release\tmp\pytorch\torch\csrc\generated
creating build\temp.win-amd64-3.6\Release\torch\csrc\cuda
cl.exe /c /nologo /Ox /W3 /GL /DNDEBUG /MT -IC:\tmp\pytorch -IC:\tmp\pytorch\torch\csrc -IC:\tmp\pytorch\torch\lib/pybind11/in

[2017-11-12 17:57] ankur6ue commented on #494
If I try the build from a developer command prompt for VS2015, cl.exe is found, but get the following compile error:

cl : Command line warning D9025 : overriding '/EHs' with '/EHa'
Module.cpp
c:\tmp\pytorch\torch\lib\tmp_install\include\th\THGeneral.h(135): error C2371: 'ssize_t': redefinition; different basic types
c:\anaconda3\include\pyconfig.h(174): note: see declaration of 'ssize_t'
C:\tmp\p

[2017-11-12 19:34] khanhptnk commented on #3600
I really like the idea about adding dtype to the Tensor constructor [#3202](https://github.com/pytorch/pytorch/issues/3202). Or similarly, you can add a is_cuda boolean to the constructor. My main irritant now is that I have to make the same if statement to check for cuda availability every time I need to create a new Tensor. So we can "cache" the result of that if statement into a boolean variabl

[2017-11-12 20:19] fmassa commented on #3600
Note that for tensor construction, you can do something like
[code]

but having the `dtype` argument will be much better.

[2017-11-12 21:43] sheng-z opened #3662 "Unexpected results from the bidirectional LSTM"
Hi, when I tested `pack_padded_sequence` in bidirectional LSTM, I surprisingly found that some values in the forward-pass output are not the same as the values I got when `pack_padded_sequence` is not used.
Here is the snippet I used:
[code]
Here is the output:
[code]

Apparently `output1[0][2][1]` should be the same as `output2[0][2][1]`, but they are not. This only happens when `bidirectional=Tr

[2017-11-12 21:57] trypag commented on #1249
@rogertrullo Hi, I am having issues optimizing the dice loss that you specified, the loss term should be something like `loss = criterion(output, target_var) - dice_loss(output, target_var)`. That formulation is strange because we want the dice_loss to tend towards 1, not 0. I rewrote the dice loss so that I can filter out the unwanted label -1.
[code]
Would you mind to give me your point of view

[2017-11-12 22:12] aichamb opened #3663 "note: candidate function template not viable: requires 3 arguments, but 5 were provided"
the error is : sorce/main.cpp:645:2: error: no matching function for call to 'dut_mmult_accel_core'
        dut_mmult_accel_core <float, 60, 1*60, 4, 5, 5>(in_stream, out_stream, predict_label1_hw_trig,precision1_hw_trig,prob_estimates_t1_hw_trig);
        ^~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
`dut_mmult_accel_core <float, 60, 1*60, 4, 5, 5>(in_stream, out_stream, predict_label1_hw_trig,

[2017-11-12 22:26] apaszke commented on #3663
I think you opened an issue in the wrong project. This code doesn't look like a part of PyTorch.

[2017-11-12 22:26] #3663 closed

[2017-11-12 22:43] rogertrullo commented on #1249
Hi @trypag , there is no need to compute `1-dice_va`l, instead I just multiply the `dice_val` by -1. We do that since we want to maximize the dice, and the optimizers trie to minimize the function. I haven't checked your code (I will do it later) but you would probably want to multiply by -1.

[2017-11-12 23:48] soumith commented on #2625
fixed via https://github.com/pytorch/pytorch/pull/3599

[2017-11-12 23:48] #2625 closed

[2017-11-12 23:51] peterjc123 commented on #494
@ankur6ue But how could cl.exe be not found in a VS Developer Console? Did you set the environment variable `DISTUTILS_USE_SDK`? You may first run cl.exe to check whether it works well. If you manually add it, you should add the path of cl.exe for MSVC 2017 x86_amd64.

[2017-11-12 23:59] peterjc123 commented on #494
@aluo-x This information is not so useful. Maybe you should rebuild the generated solution in the torch\lib\build\ATen and copy the output here.

[2017-11-13 01:26] zou3519 commented on #3644
@mys007 I believe this is a rounding error.

I took your code and modified it slightly to print out one entry (0, 2) of the gradsI[i]-gradsI[j] matrix that seems to be responsible for the large magnitude.
https://gist.github.com/zou3519/de11aa86df07712784c5009ce0362787

The output is:
[code]
(the two numbers in the second row of each group are `(gradsI[i]-gradsI[j])[0, 2]`).
Because we're doing fl

[2017-11-13 01:47] mys007 commented on #3644
I agree with your analysis. However, 1) float arithmetics should work the same on gpu and cpu, and 2) values like 9.737195888283742e+23 shouldn't be produced by backprop there at the first place.

[2017-11-13 03:26] vadimkantorov commented on #1551
I think this may have been related to hung workers due to the OpenCV not being fork-safe. Anyway, don't have a repro anymore.

[2017-11-13 03:27] vadimkantorov commented on #1512
@jdhao you may sample images for the minibatch in aspect-ratio-respecting way

[2017-11-13 03:29] soumith commented on #3644
Yea the thing to investigate is why there are such large values in gradients when given overlapping indices.

[2017-11-13 03:32] magic282 commented on #494
@peterjc123 Hi, I am trying to build it on Windows server 2012 R2 with CUDA 9.0. But I have serveral errors.
Could you please help take a look on it? https://gist.github.com/magic282/b08aa60ea7ebdda521282518807a3c69
Thanks.

[2017-11-13 03:34] magic282 commented on #494
@peterjc123 Also there are some error windows prompt about compiler checking:
[code]
I don't know if this has any impact.

[2017-11-13 03:54] hmc-cs-mdrissi commented on #3600
If doing nothing is bad, then instead you could have it print a warning. Or alternatively you could add an argument to .cuda like fail_silently that defaults to False, but can be made true if the user wants it to check if cuda is available before trying to do anything. Equivalently a function called .try_cuda would make that intent pretty clear in the code.

[2017-11-13 04:18] zou3519 commented on #3644
Hmm okay, that makes sense!

Regarding the large gradients: I numerically computed the gradient by perturbing input[0, 2] by a small amount and looking at how much it changes the output and it looks like something around 1e+24 is reasonable for the gradient. The output seems to be high because of the .exp() operation (one of the inputs to that was 41 from a quick glance). I'll look more into this

[2017-11-13 04:27] soumith commented on #3618
fixed via https://github.com/pytorch/pytorch/commit/25b166ed1f58fe1ba255cf218f8b44bf7cc9bb5b

[2017-11-13 04:27] #3618 closed

[2017-11-13 06:01] ankur6ue commented on #494
I'm now able to build now. Haven't tested it yet, will report back if I find any issues. @peterjc123, thanks a million for all your work.

One thing to be careful about - while building, you must use the x64 version of the developer command prompt. The exe for this prompt can be found at (on my computer, likely in a similar place on yours): C:\ProgramData\Microsoft\Windows\Start Menu\Programs\Visu

[2017-11-13 06:12] magic282 commented on #494
@ankur6ue Did you build pytorch with CUDA 9? I just keep failing...

[2017-11-13 06:15] ankur6ue commented on #494
No, with CUDA 8. Except for the confusion about the developer command prompt window (I was using the 32 bit shortcut, instead of the x64 version), peterjc's instructions worked out of the box. Perhaps you should try with CUDA 8 first?

[2017-11-13 06:15] magic282 commented on #494
Just tried to build PyTorch without CUDA and succeed.

[2017-11-13 06:16] magic282 commented on #494
@ankur6ue I see. But I have to build for CUDA 9 since our cluster was updated to it.

[2017-11-13 06:24] magic282 commented on #494
[code]

It failed since building ATen. The following builds all failed. The log is https://gist.github.com/magic282/b08aa60ea7ebdda521282518807a3c69#file-3rd-try

[2017-11-13 06:27] ankur6ue commented on #494
You also (may) need the following:
set PREBUILD_COMMAND=%VS140COMNTOOLS%\..\..\VC\vcvarsall.bat
set PREBUILD_COMMAND_ARGS=x86_amd64

Also, do a clean before a rebuild.

[2017-11-13 06:34] magic282 commented on #494
@ankur6ue I clone entire repo every time before I build so... Just tried adding these two lines, still failed.

[2017-11-13 06:51] peterjc123 commented on #494
@magic282  Wait for a moment. I'm looking in this.

[2017-11-13 07:08] jihunchoi commented on #3662
I think trailing zero vectors cause this.
In the first case, the trailing zeros are fed to the reverse network before the real values are fed.
Since you're using a 2-layer bidirectional LSTM, the concatenation of the forward output and the backward output (whose values would be different in the two cases) of the first LSTM layer is passed as the second LSTM layer's input, and thus makes the differ

[2017-11-13 07:10] LilJing commented on #2349
hey I tried the second command nut still the same error,do you know why?Thank you

[2017-11-13 07:19] peterjc123 commented on #494
@magic282 I found that building it using MSVC 2015 is okay. You may try setting the same `CMAKE_GENERATOR` as CUDA 8.

[2017-11-13 08:25] magic282 commented on #494
@peterjc123 Still failed.
[code]

[2017-11-13 08:39] aluo-x commented on #494
So I was building using CUDA 9 and failing as well. I think it is possible that this is a CUDA 9 issue isolated to windows, since similar issues are happening with tensorflow 1.4.0, where CUDA 9 works with TF 1.4 on Linux and Mac, but fails on windows.

[2017-11-13 08:57] peterjc123 commented on #494
@aluo-x I can locate the issue in `aten\src\THCUNNTHCHalfAutoNumerics.cuh` at line 82-104, but i don't know which of these are generating problems.

[2017-11-13 09:01] magic282 commented on #494
@aluo-x @peterjc123 I found this: https://github.com/torch/cutorch/issues/797 It might be related.

[2017-11-13 09:38] mys007 commented on #3644
@zou3519 I'm not exactly sure how did you get the values. In the original code, `input` is the same for all iterations and the values in `input` are normal with no large outliers.

[2017-11-13 09:43] peterjc123 commented on #494
@magic282 No, it's already fixed in master.

[2017-11-13 09:46] mys007 commented on #3644
@zou3519 Indeed, I used exp for this blowing-up purpose, which is however fairly common if you use softmax and train to convergence. But the effect also happens if you'll have `input = torch.randn(n,c) * 0.01`, albeit one doesn't reach such high exponents.

not a problem of the range

[2017-11-13 09:53] Sleepychord opened #3664 "masked_selected does not broadcast tensors"
torch.FloatTensor([[1,2],[3,4]]).masked_select(torch.ByteTensor([0,1])) return a runtime-error "nconsistent tensor size at /Users/soumith/code/builder/wheel/pytorch-src/torch/lib/TH/generic/THTensorMath.c:193".
But the docs says boardcastable tensors can work.

[2017-11-13 10:03] Sleepychord commented on #3664
Just because I use a wrong version...

[2017-11-13 10:10] Sleepychord commented on #3664
But the latest version does not work either.

[2017-11-13 11:24] jiesutd opened #3665 "Slight memory leak for LSTM"
Hi everyone,
I find there is a slight memory leak during training my lstm networks.
Here is the running environment:

This issue is similar to the discuss [here](https://discuss.pytorch.org/t/tracking-down-a-suspected-memory-leak/1130/9).
Following with the discussion, I found to disable the cuDNN (adding `torch.backends.cudnn.enabled = False`) can solve this problem but the speed is affected eith

[2017-11-13 11:59] magic282 commented on #494
@peterjc123 I just tried the package you provided before (0.1.12, compiled with CUDA 8.0, I've been using it for a while, thanks a lot) on a different node (CUDA 9.0) of the cluster. Surprisingly it seems to be working. So I tried to upgrade my local server to CUDA 9.0 and the driver to the latest version, and it also worked. I am not even aware that CUDA is backward compatible, is it?

[2017-11-13 12:12] apaszke commented on #1128
There's no way to tell if the batch dim is included. Since in most cases you'll want to concatenate the sentence to actually form a batch, I think defaulting to stacking makes sense

[2017-11-13 12:13] apaszke commented on #3665
I'm pretty sure this is just the granularity at which the CPU allocator reserves memory chunks when they're needed and the cuDNN path is longer in Python, so it has to create more objects, increasing the allocator pressure. If you run your script for more than 4 epochs (say 100-200), would it keep allocating memory?

[2017-11-13 12:15] apaszke commented on #3653
I'm not sure if I understand, can't you just call `contiguous()` inside your function (this doesn't change the interface), and only then flatten the leading dimensions? This will be a no-op if user gave you a properly transposed tensor, and will fix the problem otherwise

[2017-11-13 12:31] peterjc123 commented on #494
@magic282 Actually it's not backward compatible. It's working because i include CUDA 8 and cuDNN in that package. The global CUDA and cuDNN won't be used.
I think to make the package smaller, it's better not to include them, but this will cause some dependency issues like this. Don't worry, I have located this error. It will be soon fixed.

[2017-11-13 12:53] jiesutd commented on #3665
@apaszke Thanks for your reply!

Unfortunately, when I enable the cuDNN, the memory keeps increasing even after 200 epochs.
While cuDNN is disabled, the memory keeps constant after several epochs.

When enables cuDNN: (epoch > 240)
![enable](https://user-images.githubusercontent.com/9111828/32726630-8ffcdb4a-c8b4-11e7-8096-82bfbfd2d45b.png)

When disable cuDNN: (epoch > 28)
![disable](https://user

[2017-11-13 13:13] sheng-z commented on #3662
That makes sense. Thanks for the explaining.

[2017-11-13 13:13] #3662 closed

[2017-11-13 14:23] zou3519 commented on #3644
So let `output = out.exp().sum()`. I'm going to numerically compute the partial derivative of output with respect to `input[0, 2]`, which is theoretically equal to `gradsI[i][0, 2]` for all `i`.

Here's the code I used to do that: https://gist.github.com/zou3519/4cb1c3a674e9785bf8121e851d4ded0d
I ran this twice, once with the line `input[0, 2] += 0`, and once with the `input[0, 2] += 0.1`.
They ga

[2017-11-13 14:28] vadimkantorov commented on #3653
That's what I currently do.

Though (in my code), the tensor will always be non-contiguous and an unnecessary copy will happen, since transpose will have to be applied first:

[code]

[2017-11-13 14:39] soumith commented on #3644
This is not common at all. For precisely numerical stability issues, one uses log + sum + exp formulations like log_softmax + NLLLoss or bce_loss_with_logits, or calling [log_sum_exp](https://github.com/pytorch/pytorch/issues/2591#issuecomment-338980717).

This numerical issue is less about index_select's gradient and more about the intermediate ops being numerically unstable for the gradient.

@m

[2017-11-13 14:39] #3644 closed

[2017-11-13 14:45] mys007 commented on #3644
I indeed do disagree, because the core issue remains unanswered. @zou3519 showed that the gradient of exp() function is correct and large, given the input, fair enough. But I chose this example on purpose to demonstrate that the scale of non-determinism in `index_add` depends on the scale of gradients. My issue is valid even if I write `input = torch.randn(n,c) * 0.01` - the gradients are then sma

[2017-11-13 14:52] soumith commented on #3644
non-determinism is understandable, index_add uses atomicAdd. Writing an index_add kernel that is deterministic involves a two-pass algorithm (and a temporary buffer), which sucks for perf.

[2017-11-13 15:02] silvandeleemput opened #3667 "Exposing CuDNN benchmark strategy selection"
It would be very convenient to have an option to set the convolution algorithm preference to prefer memory over speed when enabling the cuDNN benchmark. For a lot of applications memory efficient convolutions are preferred to the fastest approach. So having a way to set this would be welcome.

`torch.backends.cudnn.benchmark = True`

The [cudnnConvolutionFwdPreference](https://docs.rs/cudnn-sys/0.

[2017-11-13 15:16] mys007 commented on #3644
Well, I see. Nevertheless, it would be super handy to have a list of non-deterministic functions somewhere.

[2017-11-13 15:24] tgirgin23 commented on #2755
Just tried 0.4.0 (with CUDA 9) on a p3 instance on AWS without any issues! Seeing a performance increase of 1.7x with the V100 compared to the EVGA 1080ti FTW3.

Just a quick question: is there anything that needs to be done by myself to make the code more compliant with CUDA 9.0 or is everything processed by pytorch?

[2017-11-13 15:24] soumith commented on #2755
@tgirgin23 everything is processed by pytorch

[2017-11-13 15:34] berlino commented on #2400
@soumith can you provide some tips for accelerating CRF in pyTorch? I'll try to work on that.

[2017-11-13 17:15] ltrottier opened #3668 "Incorrect default weight initialization for Linear"
The original Lua Torch NN weight initialization for the Linear layer computes the standard deviation using the number of input neurons, while the new PyTorch NN uses the number of output neurons.

Lua Torch NN ([link](https://github.com/torch/nn/blob/master/Linear.lua#L25)):
[code]
PyTorch NN ([link](https://github.com/pytorch/pytorch/blob/master/torch/nn/modules/linear.py#L49)):
[code]

Consequen

[2017-11-13 17:22] vadimkantorov opened #3669 "Bug in build scripts, outdated existing PyTorch headers are picked up"
CUDA8, g++ (Ubuntu 5.4.0-6ubuntu1~16.04.4) 5.4.0 20160609, pytorch commit 25b166e

TLDR, error is `.../pytorch/aten/src/THCS/generic/THCSTensor.cu(108): error: no instance of function template "THCSTensor_coalesceValuesKernel" matches the argument argument types are: (long *, long *, char *, char *, ptrdiff_t, int64_t, int64_t)`, warnings are signed integer issues and uninitialized variable use.

[2017-11-13 17:29] Mickey-Livesgood opened #3670 "Error in nll_loss - multi-target not supported"
I'm having some trouble with my CrossEntropyLoss:
I have a small ConvNet with 7 classes. I'm using `nn.CrossEntropyLoss(size_average=False)` as my criterion for the loss function.
However, when I run the code, I'm having errors when I try to compute the loss:

[code]

I've looked in the following issue (after solving a problem where the target tensor was a FloatTensor and changed it to a LongTenso

[2017-11-13 17:48] trypag commented on #1249
@rogertrullo thanks for answering, I have a few questions:
- do you agree this loss is not bounded between 0 and 1 ? I noticed it can go higher than 1.
- I understand that min(-dice) = max(dice), but in this configuration it seems strange, for example if you only optimise with the dice loss, you first start with a negative loss, I have no idea if it will get to 0 eventually.
- With the cross_entro

[2017-11-13 17:48] #3668 closed

[2017-11-13 18:56] ejoebstl opened #3671 "Creating tensors from numpy arrays with ">f" type yields bogus results"
[code]

Gives

[code]

Which is clearly incorrect.

Such types are common when using `np.from_file`.

[2017-11-13 18:56] ejoebstl commented on #541
Done. #3671

[2017-11-13 18:57] ejoebstl commented on #3671
According to https://github.com/pytorch/pytorch/issues/541#issuecomment-343283809, this should raise an error.

[2017-11-13 19:25] zou3519 commented on #3670
CrossEntropyLoss takes a 1D tensor. If your `target` has size (32, 1)`, you need to squeeze the last dimension with `target.squeeze(1)` so it becomes a 1D tensor.

[2017-11-13 19:27] #3670 closed

[2017-11-13 20:06] SsnL opened #3674 "Incorrect error message when detach_"
Calling `detach_` on `some_view_variable.contiguous()` variable gives weird error message. cc @colesbury

[code]

[2017-11-13 20:09] apaszke commented on #3674
How is that unclear? `x` is not a leaf (it's a result of `Transpose` on a leaf)

[2017-11-13 20:10] colesbury commented on #3674
So the second line `x.contiguous().detach_()` should work. The problem is that `contiguous()` modifies the `data` attribute on Variable, so it's still treated as a view when it isn't really

[2017-11-13 20:17] SsnL commented on #3674
Sorry for the confusion. @colesbury is right, my description was wrong. It is updated now.

[2017-11-13 20:57] vadimkantorov opened #3677 "softmax doesn't support negative dimensions"
on 0.2.0+502aaf3 (can't try on master because of https://github.com/pytorch/pytorch/issues/3669):
[code]

[2017-11-13 21:23] clairett opened #3678 "torch.load() requires model module in the same folder"
I define a function using `torch.load()` in folder A and call that function in folder B, and get an error indicating `No module named 'model'`. BTW, I put the model.py in folder A. It seems like Pytorch requires "model.py" in the folder you use that function related to `torch.load()`. I check the `map_location`, which only allows you to change the device for loading. Could you please how to specif

[2017-11-13 21:33] SsnL commented on #3677
also broken on branch v0.3.0

[2017-11-13 21:34] soumith commented on #3677
well the question then becomes, did it ever support negative dimensions?

[2017-11-13 21:34] soumith commented on #3677
if it didn't support negative dims in `0.2.0` then i wont mark it as a release blocker for 0.3

[2017-11-13 21:44] SsnL commented on #3677
@soumith in 0.2.0 there wasn't a dim keyword arg.

[2017-11-13 21:51] hadware commented on #1472
I had the same issue. While the error was definitely justified, it did raise:
`RuntimeError: expected CPU tensor (got CUDA tensor)`
while the tensor I actually gave the model was a **GPU** tensor, and the model was on cuda. The error should have been the other way around.

[2017-11-13 21:52] apaszke commented on #3678
PyTorch internally uses `pickle` and it's a limitation of pickle. You can try meddling with `sys.path` to include the directory where `module.py` is. This is exactly why we recommend saving only the state dicts and not whole model objects.

[2017-11-13 21:52] #3678 closed

[2017-11-13 22:19] kohr-h commented on #2943
Closed by #2953

[2017-11-13 22:19] #2943 closed

[2017-11-13 22:47] asanakoy commented on #2575
Cannot import tensroflow and pytorch at the same time
`python -c 'import tensorflow, torch'` gives me the same error. Any solution?

[2017-11-14 00:24] ezyang commented on #3667
FYI, if you are interested in doing this ticket, it may be good to wait until #3666 lands.

[2017-11-14 01:34] mikeXwang commented on #926
I got the same error.
When I import torch in my .py file,this error will happened.
Did this error have something with sci-learning kit?

[2017-11-14 02:00] peterjc123 commented on #494
@magic282 PR #3684 is about the CUDA 9 fix. Just wait for its merging.

[2017-11-14 02:35] aluo-x commented on #494
@peterjc123 Is this a Windows specific fix? Is there any reason why some people have been able to compile pytorch using CUDA 9 for linux?

[2017-11-14 02:39] soumith commented on #2564
tracked in https://github.com/pytorch/pytorch/issues/3649 and enforcing this, closing this issue.

[2017-11-14 02:39] #2564 closed

[2017-11-14 02:40] joshim5 opened #3685 "Can't initialize nn.Embedding with specific values"
Currently, in pyTorch, one would have to initialize an Embedding and then set the weight parameters manually. This requires memory to be written twice, which can be a significant slow-down for large matrices.

Here is an example:
[code]

pyTorch should allow for a default weight matrix to be set.

[2017-11-14 02:41] joshim5 commented on #3685
@jackdent

[2017-11-14 02:46] peterjc123 commented on #494
@aluo-x Yes, it's for Windows. The reason for this is that MSVC is not very good at SFINAE, as you can see in this [page](https://msdn.microsoft.com/en-us/library/hh567368.aspx). So it will be confused when there're multiple choices of functions with the different arguments. We should add some direct function declarations to make it work. Now you also have to wait for #3686 to pass.

[2017-11-14 02:48] magic282 commented on #494
@peterjc123 Which branch are your working on? Windows, full or new? I would like to give it a try.

[2017-11-14 02:50] aluo-x commented on #494
@peterjc123, it is amazing that you were able to discover this, your debugging skills are amazing.

[2017-11-14 02:53] jordan-g commented on #3047
@ulfaslak did you manage to solve this? I'm stuck at this error.

[2017-11-14 02:53] peterjc123 commented on #494
@magic282 There's no branch. You can try merging these two PRs #3686 and #3684 by hand.

[2017-11-14 03:11] EthanZhangYi opened #3688 "cmake warning when #include "THC/THC.h""
I write a program based on CUDA and pytorch. However when `#include "THC/THC.h"` in *.cu file, there are a lot of cmake warning during compilation.
[code]
Is there any way to fit it?

[2017-11-14 03:30] nashory commented on #1472
I had the same issue, and solved thanks to  @karlTUM.
It seems there is a bug when calling .cuda() on modules, so please try
`model = torch.nn.DataParallel(model).cuda()` instead.

[2017-11-14 03:33] calclavia commented on #1959
@D-X-Y @jekbradbury I can also confirm that a simple implementation of Layernorm seems to be quite slow on Pytorch. Maybe the mean and standard deviation computation could be combined into a single CUDA kernel?

[2017-11-14 03:45] peterjc123 commented on #494
@magic282 Both of these two PRs are merged. You can give it a try now.

[2017-11-14 04:57] aluo-x commented on #494
@peterjc123, still failing on my end after a fresh clone from master. Exact [same error as before](https://github.com/pytorch/pytorch/issues/494#issuecomment-343748694).

[2017-11-14 05:00] aluo-x commented on #3649
Master branch is also building on Windows with [CUDA 8](https://github.com/pytorch/pytorch/issues/494#issuecomment-343822103), CPU only, and [CPU w/ MKL](https://github.com/pytorch/pytorch/issues/494#issuecomment-343647348). Any chance we'll see windows support 0.3.0?

[2017-11-14 05:06] magic282 commented on #494
@peterjc123 My build is failed. But I successfully got Aten.dll and shm.dll under `D:\pytorch\pytorch\torch\lib\tmp_install\bin`.
But it seems that I need to update VS.
[code]

[2017-11-14 05:29] peterjc123 commented on #494
@magic282 pybind11 requires MSVC 2015 update 3 or newer. Did you miss that message?

[2017-11-14 05:31] magic282 commented on #494
@peterjc123 I did. Upgrading now. Maybe you can update your Zhihu post, it says MSVC update v2.

[2017-11-14 05:35] peterjc123 commented on #494
@magic282 All updated.

[2017-11-14 05:37] peterjc123 commented on #494
@magic282 No, Actually it's wrong. The csrc part should be built by MSVC 2017. Did you open the x86_64 developer console and entered the commands in it?

[2017-11-14 05:50] magic282 commented on #494
@peterjc123 I am confused. Should I build with 2017 or 2015? I was building in `VS 2015 x86 x64 cross tools command`. Is it the correct one?

[2017-11-14 05:53] peterjc123 commented on #494
No, it's wrong. You should have both VS 2015 and 2017 installed. And then enter the commands in x86_64 Developer Command Prompt for MSVC 2017.

[2017-11-14 05:53] magic282 commented on #494
@peterjc123 I see. I do have them installed on the server. Will try soon.

[2017-11-14 05:57] magic282 commented on #494
@peterjc123 Do I need this?
[code]

[2017-11-14 05:57] peterjc123 commented on #494
@magic282 Sure.

[2017-11-14 06:47] peterjc123 commented on #494
@aluo-x Did you try the updated steps here?

[2017-11-14 07:01] magic282 commented on #494
@peterjc123 Just successfully built it with CUDA 9.0! Great job! Thanks!
[code]
in x86_x64 cross tools command prompt for VS 2017

[2017-11-14 07:02] peterjc123 commented on #494
@magic282 Thanks for your test!

[2017-11-14 07:07] magic282 commented on #494
@peterjc123 Also find a bug while running:
[code]

[code]
Checked the code, os is not imported.

[2017-11-14 07:17] peterjc123 commented on #494
@magic282 #3690 is on the way.

[2017-11-14 07:26] peterjc123 commented on #494
@magic282 Would you please run the full test scripts `test\run_tests.bat` to find out the potential issues?

[2017-11-14 07:30] magic282 commented on #494
@peterjc123 Sure.

[2017-11-14 07:49] magic282 commented on #494
Test result:
Python crashed for three times so I guess the tests are not finished, i.e., Running torch tests, Runing nn tests, Running cuda tests. And some dead python stops the tests I have to kill it to make it keep running.Other errors please check the following

[code]

[2017-11-14 07:54] peterjc123 commented on #494
@magic282 Thanks for your effort. The results look good. The multiprocessing of CUDA tensors are not supported on Windows, so it's not important.

[2017-11-14 09:48] hlnull commented on #537
I met the same problem.

[code]

However, I can not install the cuda80 version because of the poor network condition.

Installing the pytorch from source fixed it.

[2017-11-14 10:30] magic282 commented on #494
@peterjc123 I noticed that there is no dll files like THC.dll TH.dll THCUNN.dll etc. Is pytorch running in a different way now?

[2017-11-14 10:50] peterjc123 commented on #494
@magic282 They're now merged into ATen.

[2017-11-14 13:53] #3677 closed

[2017-11-14 14:08] vadimkantorov commented on #3669
Issue introduced some place between 50a63ee and dc10083fc0ac4f89dc7597ec3135d9e49a4fa3ea

[2017-11-14 14:20] vadimkantorov opened #3693 "torch.backends.cudnn.version() is None"
While `torch.backends.cudnn.enabled` is True; `torch.version__version__` is `0.2.0+50a63ee` (can't check master because of https://github.com/pytorch/pytorch/issues/3669)

Is it expected? I was looking for cudnn version used in runtime.

[2017-11-14 14:30] zou3519 commented on #3693
It shows up on master but not 0.2 for me. Not sure why it doesn't show up in 0.2 but somewhere down the line it seems to have been fixed.

[2017-11-14 14:46] plang85 opened #3694 "Load() resets file offset unconditionally"
As opposed to torch.save() and the pickle api, load() resets the position pointer of the file to zero. This keeps the following from workgin
[code]

[2017-11-14 14:46] soumith commented on #3649
sorry andrew, official windows support is planned for 0.4.0 only. Testing on a new OS takes a lot of time, building and getting it into a working state is not enough.

[2017-11-14 14:48] zou3519 commented on #3664
I tested this on master and v0.3.0 and the code snippet works on both:
![image](https://user-images.githubusercontent.com/5652049/32786015-dd5c7ff0-c920-11e7-961b-0a7d1b3d9a75.png)

@Sleepychord what is the output of your `torch.__version__`?

[2017-11-14 14:54] aluo-x commented on #3649
Good to know!

[2017-11-14 14:59] soumith commented on #3669
@vadimkantorov are you on CUDA8 RC build instead of final? I cant repro this on CUDA8 + gcc 4.8

what is `nvcc --version` ?

[2017-11-14 15:01] nishnik commented on #2793
Hey @zuoxingdong, how to approach this.
I would like to contribute

[2017-11-14 15:38] vadimkantorov commented on #3669
I think I'm using final CUDA8.

[code]

[2017-11-14 15:42] zou3519 commented on #3642
It doesn't work for me on 0.2 or master:
[code]

I'm not sure if this is supposed to work (it probably is), but as a workaround, `x[-1]` works and should be equivalent to `x.select(0, -1)` if it worked.

[2017-11-14 15:58] around1991 commented on #1828
Sorry to reopen an old thread: but the following code fails:

[code]

What is the correct way of computing the batched matrix vector product between `batch1` and `batch2`?

[2017-11-14 16:03] soumith commented on #1828
according to broadcasting rules, batch2 wont auto-expand because you are not prepending dimensions.
I believe you can do:
`batch2 = batch2.unsqueeze(2)`

[2017-11-14 16:40] SsnL commented on #3665
I can reproduce this on 0.3 branch as well.

[2017-11-14 16:40] aluo-x commented on #494
Just to clarify, for the CUDA 9 build we cannot do so with VS 2017 alone?

[2017-11-14 17:04] fritzo opened #3696 "Cannot build v0.3.0 branch as of c580437"
Build worked at 1e77879 but fails at c580437.

This is using Cuda 8.0 on linux.

[code]
[code]
<details>

[code]
</details>

[code]
<details>

[code]
</details>

[2017-11-14 17:05] fritzo commented on #3696
@soumith I ran into this while testing Pyro against the v0.3.0 branch.

[2017-11-14 17:13] soumith commented on #3696
@fritzo can you try `python setup.py clean` first?

[2017-11-14 17:18] fritzo commented on #3696
Thanks @soumith that worked (I had tried `rm -rf build`). Should I have asked on slack or discuss, or do you prefer issues?

[2017-11-14 17:18] #3696 closed

[2017-11-14 17:20] vadimkantorov commented on #3669
I digged more, and it's d6a8d28d6529a4f0b80a8c046ca9c36ca6c8b347 (big ATen build commit) that breaks the build on my machine. The commit just before https://github.com/pytorch/pytorch/commit/50a63ee6fd826669fe47c24585064718b5161e1f build fine.

[2017-11-14 17:28] soumith commented on #3696
issues are fine.

[2017-11-14 17:50] colesbury opened #3697 "Deprecate inplace argument in torch.nn.functional"
https://github.com/pytorch/pytorch/pull/3683 splits off in-place functions to use the underscore suffix, like the functions on the `Tensor`.

We should consider deprecating the inplace argument completely and require people to either call, e.g.:

[code]

[2017-11-14 20:03] colesbury commented on #3674
Actually, this is expected. `x` is already contiguous, even after the transpose. So `x.contiguous()` just returns x.

[2017-11-14 20:03] #3674 closed

[2017-11-14 20:15] SsnL commented on #3665
Also reproducible on 0.2.

[2017-11-14 20:25] lukovnikov commented on #2575
after update to 0.2.0_4, had the same problem in debug and nosetests for pycharm. @ChikoVaya 's hack helped.

[2017-11-14 20:39] soumith commented on #3665
@ngimel is this the same cudnn bug that was once discussed? bidirectional cudnn RNN

[2017-11-14 20:40] SsnL commented on #3665
@soumith I just devised a smaller repro example.. All it needs is cuDNN and RNN. Whether it is bidirectional/LSTM doesn't matter.

[2017-11-14 20:43] isalirezag commented on #2349
probably you may need to uninstall it first and retry again

[2017-11-14 20:53] ngimel commented on #3665
@soumith does not look like one, there cudnn was leaking a little bit at every iteration, here one can go for hundreds of iterations without increasing memory.

[2017-11-14 20:55] SsnL commented on #3665
It's very consistent and seems periodic:
[code]

[2017-11-14 21:59] SsnL commented on #3665
[code]

[2017-11-14 22:38] lukas commented on #1637
I'm also seeing my pytorch hang when turning on more than one GPU.
I'm on an ec2 p2 (K80) machine with the ubuntu deep learning AMI.
The p2pBandwidthLatencyTest seems to run fine, with all the GPUs able to communicate with each other.

[2017-11-15 01:45] samuela commented on #3223
Thanks @ptrblck ! This is extremely useful.

Nit: `raise KeyError("Sum of split sizes exceeds tensor dim")` should be `raise KeyError("Sum of split sizes does not equal tensor dim")`.

[2017-11-15 01:56] jph00 commented on #2083
There are some options proposed here that claim to fix it: https://stackoverflow.com/questions/19268293/matlab-error-cannot-open-with-static-tls . Not sure if any of these might help?

FYI I (and our students) can reliably replicate this bug by running lesson1 of the new fastai on Paperspace. It's not a high priority since we can just use AWS instead, but I figured you might be interested in a rel

[2017-11-15 02:02] peterjc123 commented on #494
@aluo-x No, VS 2015 with Update 2 or up is needed. I tried to build ATen with VS2017 alone and got the same error.

[2017-11-15 02:30] loganXcode opened #3709 "Save encoder and decoder of an autoencoder respectively"
I have trained an autoencoder, I want to save its encoder and decoder respectively.

In other words, I want to save some layers in the model instead of all layers. But it seems that torch.save can only save the entire model.

Can anyone give me some suggestions or a simple example?

Thank you so much.

class autoencoder(nn.Module):
    def __init__(self):
        super(autoencoder, self).__init__(

[2017-11-15 03:12] Gosicfly opened #3710 "I'm suffering from the LSTM memory leak.Will this be fixed in 0.3?"
And can you tell me when will 0.3 be released if you don't mind? :)

[2017-11-15 03:16] soumith commented on #3710
let's please track this in https://github.com/pytorch/pytorch/issues/3665

[2017-11-15 03:16] #3710 closed

[2017-11-15 03:18] samuela commented on #3423
Please please please! Log determinant too.

[2017-11-15 03:52] andrew-yang0722 commented on #3641
I got the above error message with 0.2.0 version.

When I build pytorch master branch.
No error message. It works well.
Thank you.

[2017-11-15 03:59] andrew-yang0722 commented on #3641
But I got other error message.
I run the code with 32 ranks that is in 2 machine( 8Gpu + 8Gpu)
I am training imagenet classification to check efficiency of distribution.
sometimes It occurs after 16 epoch. and sometimes it occurs in first epoch.

[code]

[2017-11-15 04:14] codedecde opened #3711 "Embedding padding_ix=0 is not zero across timesteps"
I noticed that the padding_ix does not return a zero embedding vector after a gradient update.
I declare the embedding layer as
`self.embedding = nn.Embedding(5, 20, padding_ix=0, sparse=True)`
And check the value of embedding of index 0 as
`e0 = self.embedding(Variable(torch.LongTensor([0])))`
I was expecting the value to be zero, but after a single gradient update, the value changes.
Doesn't pad

[2017-11-15 06:18] samuela commented on #3423
Thanks @KaiyangZhou ! However, that particular approach takes the Cholesky factorization so it requires that the input be PSD. If your googling got you here and you want to do this on general matrices, you'd have to either do `torch.eig` and then massage the complex eigenvalues together or just use numpy.

[2017-11-15 06:32] samuela commented on #440
Why are `trtrs` and `potrf` marked as wontfix? These are both differentiable operations.

[2017-11-15 06:33] samuela opened #3712 "`torch.trtrs` has no documentation"
There's just nothing there: http://pytorch.org/docs/master/torch.html#torch.trtrs 😢

[2017-11-15 06:35] samuela commented on #3073
I also need a differentiable `trtrs`!

[2017-11-15 06:44] aluo-x commented on #494
Very bizarre. Any idea where the bug is?

[2017-11-15 06:55] peterjc123 commented on #494
@aluo-x Maybe you can try this one before build. Inspired by the post [here](https://stackoverflow.com/questions/16092169/why-does-msbuild-look-in-c-for-microsoft-cpp-default-props-instead-of-c-progr).
[code]

[2017-11-15 07:35] jihunchoi commented on #3685
I think the following would be much more efficient, though I haven't actually run them.
[code]
Or,
[code]

[2017-11-15 08:51] KaiyangZhou commented on #3423
@samuela Thank you for pointing this out :)

[2017-11-15 08:53] EthanZhangYi commented on #3688
I use [FindCUDA](https://github.com/pytorch/pytorch/tree/master/cmake/FindCUDA/) of pytorch, not the default FindCUDA of cmake, and this issue is addressed.

[2017-11-15 08:53] #3688 closed

[2017-11-15 10:37] peterjc123 commented on #494
@aluo-x @magic282 Oh no! The issue exists in FindCUDA.cmake. Don't install the build before the PR #3713 is merged.

[2017-11-15 10:52] ptrblck commented on #3223
Thanks for the suggestion @samuela !

I am not sure how to proceed? Should I just create a pull request or does it need any further discussion from the core devs?
For example, I'm not sure if this function should be implemented in the `split` method (with a condition) or as a standalone method.
What do you think?

[2017-11-15 10:57] clavichord93 commented on #3223
@ptrblck @samuela Maybe there should be a ‘ValueError’ instead of a ‘KeyError’?

[2017-11-15 11:07] ozancaglayan commented on #3050
FYI, I build pytorch from source frequently on Ubuntu 16.04, CUDA8 and with system's GCC 5.x without a problem.

[2017-11-15 11:11] thuwyq commented on #566
@Lowpassfilter I have the same problem. And I found the reason is that the pip version is too old.
So I use "pip install --upgrade pip" to upgrade the pip. Then the problem disappeared.

[2017-11-15 11:15] LukasMosser commented on #3709
Can you post this in the discussion forums? This is not an issue with the code itself.

[2017-11-15 12:29] loganXcode commented on #3709
OKay, thank U

[2017-11-15 12:29] #3709 closed

[2017-11-15 12:54] yuchenlin commented on #494
@aluo-x  I have the same error as your second one. do you have some solutions?

[2017-11-15 12:57] apaszke commented on #440
It's not wontfix as in "we will never accept them into autograd". It's just not very high on our priority list and it's not straightforward to write out derivative formulas for them, but if you feel up to it then please send PRs!

[2017-11-15 13:00] peterjc123 commented on #494
@yuchenlin The second one is not the actual error. You should find the first error you have met.

[2017-11-15 13:14] yuchenlin commented on #494
@peterjc123  thanks so much, I found my first error is about the previous failed build, so I deleted all the previous stuff and re-build the pytorch. Now it is running and looks more likely to be successful.

[2017-11-15 13:26] peterjc123 commented on #494
@yuchenlin You'd better wait for the PR #3713 to pass. Although it passes build now, the CUDA libs are generated in 32 bits compilers but works in 64 bit systems, which will cause some potential issues.

[2017-11-15 13:28] yuchenlin commented on #494
@peterjc123  Thanks so much! Will that be soon?

Actually, I found that my building process falls into a loop: it is indeed running but it always shows the same stuff (warnings) with cl; I don't know if it is normal, or I did something wrong? (I did not use Ninja)

The same warning is like:

`          [
              Tuple=thrust::detail::tuple_of_iterator_references<__int64,unsigned int &,thrust

[2017-11-15 13:34] peterjc123 commented on #494
@yuchenlin It will be quick, maybe merged in a day. The warnings are not important. I'll try to fix some of them when I'm free.

[2017-11-15 13:42] ezyang commented on #3126
And at risk of asking a silly question, you are sure there is a `cudnn.h` in `/home/userXXX/miniconda3/include` (and it's not in some subdirectory like `/home/userXXX/miniconda3/include/cudnn`?)

[2017-11-15 14:13] yuchenlin commented on #494
@peterjc123 Thank you very much and my build ends with an error:

I guess I had better wait for that pass.

[2017-11-15 14:21] peterjc123 commented on #494
@yuchenlin Yes, but your error here is caused by the wrong usage of the development console? Why is it `HostX64\x86`? It should be `HostX86\x64\cl.exe`. Are you opening the `x86_64 Developer Command Prompt for MSVC 2017`?

[2017-11-15 14:27] yuchenlin commented on #494
@peterjc123  I opened  "x86_x64 Cross Tools Command Prompt for **VS** 2017" following the instructions in your article at zhihu.com. My start menu only has **VS 2017**, and I cannot find **MSVC 2017**. Is that related?

[2017-11-15 14:30] yuchenlin commented on #494
@peterjc123 Oh, sorry!! I miss this detail!

[2017-11-15 14:48] peterjc123 commented on #494
@yuchenlin @aluo-x @magic282  It's merged now. Give it a try with the update tutorial [here](https://gist.github.com/peterjc123/a4ac6ce4b0ed4b1b497334baaeb595e3).

[2017-11-15 15:20] #3711 closed

[2017-11-15 16:28] avmgithub opened #3716 "[ppc64le] test_torch.py test failing in test_qr"
Running on Ubuntu 16.04 ppc64le , when running test_torch.py  test fails in test_qr.  Test only fails when running on Virtual Machine.

$ python -m unittest test_torch.TestTorch.test_qr
check_qr 1
check_qr 2
check_qr 3
check big matrix 4
F

FAIL: test_qr (test_torch.TestTorch)

Traceback (most recent call last):
  File "/home/ubuntu/builder/jenkins/pytorch/pytorch/test/common.py", line 53, in wrap

[2017-11-15 16:30] sharmalakshay93 opened #3717 "Pytorch AssertionError: Torch not compiled with CUDA enabled"
I am trying to run code from [this repo](https://github.com/eladhoffer/captionGen). I have disabled cuda by changing lines 39/40 in [main.py](https://github.com/eladhoffer/captionGen/blob/master/main.py) from

[code]

to

[code]

However, I keep receiving the aforementioned AssertionError. Below is the trace:

[code]

Unable to figure this out. Please help? Thanks!

[2017-11-15 16:37] lukas commented on #1637
In case anyone else lands here with the same issue, I was able to fix it by installing pytorch from source.

[2017-11-15 16:55] alex47 commented on #494
@peterjc123
I tried it with x64 Native Tools Command Prompt for VS 2017 and with CUDA 9 with your updated tutorial
After compiling for 20 minutes I got the following errors and LOTS OF WARNINGS.

Most of the warnings were like this:
`C:/Users/Alex/aaapy/pytorch/aten/src/THC\THCNumerics.cuh(118): warning C4244: 'argument': conversion from 'int64_t' to 'long', possible loss of data [C:\Users\Alex\aa

[2017-11-15 17:00] rdspring1 opened #3718 "Sampled Softmax / Log-Uniform Sampler - Google Billion Word Language Model"
I implemented the [Sampled Softmax](https://www.tensorflow.org/api_docs/python/tf/nn/sampled_softmax_loss) and [Log-Uniform Sampler](https://www.tensorflow.org/api_docs/cc/class/tensorflow/ops/log-uniform-candidate-sampler) ops for PyTorch.

I tested my implementation on the Google Billion Word dataset.
52.68 Perplexity after 10 training epochs on a 4-layer, 512-unit LSTM Language Model
https://gi

[2017-11-15 17:02] yuchenlin commented on #494
@peterjc123  Hi Peter, thanks and I have run python setup.py install pytorch successfully  with the newest source code and correct prompt this time.  However, it still reports the error:"No module named torch._C"

[2017-11-15 17:02] aluo-x commented on #494
@peterjc123, seems like this did the trick with CUDA 9! Still building, but none of the old errors so far.

[2017-11-15 17:07] yuchenlin commented on #494
@peterjc123  Hi, peter, it works fine. I test it with the test/test_cuda.py, it shows:

Is this normal?

[2017-11-15 17:44] aluo-x commented on #494
Actually the build ended up failing. Here are the errors:
[code]

[code]
[code]

[2017-11-15 18:43] zou3519 commented on #3712
Working on this. There will be something there soon :)

[2017-11-15 19:39] samuela commented on #3223
@clavichord93 true true

[2017-11-15 19:40] samuela commented on #3712
Awesome, thanks!

[2017-11-15 20:37] #3712 closed

[2017-11-15 20:38] soumith commented on #3718
this seems legit, @fritzo should we add this in?

[2017-11-15 20:45] gchanan opened #3721 "Should ATen elementSizeInBytes return an int64_t?"
Currently it returns a size_t (the return type of sizeof), but this isn't really a first class ATen type, i.e. it is never exposed in Declarations.yaml.

Background: I tried to implement this as a native function but the jit generated uncompilable code:
`
torch/csrc/jit/generated/aten_dispatch.cpp:601:59: error: conversion from ‘std::size_t {aka long unsigned int}’ to ‘at::Scalar’ is ambiguous

[2017-11-15 21:03] SsnL commented on #3665
@jiesutd @Gosicfly Thanks for reporting this. After investigating, we have identified this is a bug in cuDNN. NVIDIA is looking into this!

[2017-11-15 21:45] colesbury opened #3726 "Variable methods which need to change before we combine Variable and Tensor"
## missing Python magic
- [x] `__array__`
- [x] `__array_wrap__`
- [ ] `__getstate__`
- [x] `__invert__`
- [x] `__itruediv__`

## RNG
- [x] bernoulli_
- [x] uniform_
- [x] exponential_
- [x] cauchy_
- [x] normal_
- [x] random_

## Missing in ATen
- [x] clamp_
- [x] is_sparse
- [x] resize_
- [x] resize_as_
- [x] renorm_
- [x] _sparse_mask
- [x] _new_with_metadata_file (deleted)
- [x] _write_metadat

[2017-11-15 22:03] apaszke commented on #3721
I don't think you even need the check. I doubt anyone has 2^63 bytes of RAM in their system, so having types this large is quite impractical :wink:

[2017-11-15 22:06] gchanan commented on #3721
Sure, I think on a recent C++ it should all be compile time anyway, so doesn't seem to hurt.

[2017-11-15 23:15] zdevito commented on #3721
Yes

[2017-11-16 00:14] vadimkantorov commented on #3669
@soumith Considering the error, the offending code [snippet](https://github.com/pytorch/pytorch/blob/master/aten/src/THCS/generic/THCSTensor.cu#L108) in `THCSTensor.cu` is:
[code]
my compiler deduces types as: `(long *, long *, char *, char *, ptrdiff_t, int64_t, int64_t)`

and the [kernel](https://github.com/pytorch/pytorch/blob/master/aten/src/THCS/THCSTensor.cu#L270) itself is declared as: ```t

[2017-11-16 00:38] vadimkantorov commented on #3669
Inserting explicit casts `(real*), (real*), (int64_t)` makes compiler advance until next errors:

[code]

[2017-11-16 00:53] frankang commented on #3126
Yes, I just checked that. There is a cudnn.h file in the /home/userXXX/miniconda3/include folder of version 6021. And there is no subdirectory of "/home/userXXX/miniconda3/include/cudnn" @ezyang

[2017-11-16 01:08] vadimkantorov commented on #3669
The `PRId64` issues can be fixed by adding `#include <inttypes.h>` to the top of `https://github.com/pytorch/pytorch/blob/445cc1f5b9a1647949c7b27b60e9800339f88db9/aten/src/ATen/templates/TypeDerived.cpp#L5`

[2017-11-16 02:51] Lowpassfilter commented on #566
@thuwyq I work behind a proxy, and unfortunately,  the newest version of pip will fail behind a proxy, so I have to use the old version of pip. Lucky, the answer of @jlquinn  helps me. It works with --no-deps.

[2017-11-16 03:25] iammarvelous opened #3732 "possible dataloader gpu memory leak?"
Here is minimum code to reproduce:
[code]
When using `img = cv2.cvtColor(img, cv2.COLOR_BGR2RGB)`, the dataloader will takes gpu memory for each process (about 73Mb). This could be reproduced with pytorch 0.2 and [opencv-python](https://pypi.python.org/pypi/opencv-python). The problem does not exist when commenting `img = cv2.cvtColor(img, cv2.COLOR_BGR2RGB)`.

[2017-11-16 03:30] soumith commented on #3732
maybe yoyu compiled opencv with CUDA support?

[2017-11-16 03:32] iammarvelous commented on #3732
I used https://pypi.python.org/pypi/opencv-python.
For `apt-get install libopencv-dev python-opencv`, there is no problem at all.

[2017-11-16 03:32] jiesutd commented on #3665
@SsnL Thanks!

Hope it can be solved soon.

[2017-11-16 03:34] peterjc123 commented on #494
@yanghuanflc Can you list the detailed failing tasks?
@aluo-x @alex47 Now it should be okay. Before the CI is set up, it will be quite normal that some PRs breaks master branch builds for Windows.

[2017-11-16 04:45] soumith commented on #3717
you are running this on OSX. The OSX binary of PyTorch does not come with GPU support.

The code you linked to still has some GPU stuff remaining (as you see from the stack-trace.

Change these two lines to get_iterator:
https://github.com/eladhoffer/captionGen/blob/48552694775ef11f5fa68c100584f40d98e4b690/main.py#L96

`get_iterator(..., pin_memory=False)`

[2017-11-16 04:47] soumith commented on #3716
the torch.randn code eventually links to

https://github.com/pytorch/pytorch/blob/master/aten/src/TH/generic/THTensorRandom.c#L80
https://github.com/pytorch/pytorch/blob/master/aten/src/TH/THRandom.c#L253

[2017-11-16 04:47] soumith commented on #3693
will be part of next release.

[2017-11-16 04:47] #3693 closed

[2017-11-16 05:21] ezyang commented on #3721
With today's actual 64-bit hardware, it is literally impossible to address that much RAM, physics constraints notwithstanding.

https://github.com/zdevito/ATen/issues/171 seems related.

Did we ever write down our `int64_t` philosophy anywhere? It definitely feels like, when using 64-bit uniformly, the place it hurts the most is when you need to convert into `ssize_t`, and now compilers will give

[2017-11-16 05:34] magic282 commented on #494
@peterjc123 Build failed. The first error:
[code]

[2017-11-16 06:55] olofmogren commented on #3587
Hi, thank you. I think this is the most reasonable behavior. I just think it should be clarified in the docs. I think it sounds like what you'd like also for attention. Why would this be inconvenient?

[2017-11-16 07:16] peterjc123 commented on #494
@magic282 But the [CI](https://ci.appveyor.com/project/peterjc123/pytorch-elheu/build/1.0.37) is working here. Are you using the latest master branch?

[2017-11-16 07:17] magic282 commented on #494
@peterjc123 Yes.

[2017-11-16 07:19] peterjc123 commented on #494
@magic282 I cannot fix some issues that i can't reproduce. The information you provided is not sufficient for me to detect where is wrong.

[2017-11-16 07:22] magic282 commented on #494
@peterjc123 Can you provide a full script to build it using VS 2017, CUDA 9.0 and cudnn 9.0?

[2017-11-16 07:22] magic282 commented on #494
@peterjc123 Is this `xcopy /Y aten\src\ATen\common_with_cwrap.py tools\shared\cwrap_common.py` still needed?

[2017-11-16 07:25] peterjc123 commented on #494
@magic282 Sure, you still need this.

[2017-11-16 07:30] peterjc123 commented on #494
@magic282 The script is not changed now. I'll only modify this if it has to be changed.

[2017-11-16 07:34] magic282 commented on #494
@peterjc123
[code]
 What if I want to use ninja and CUDA 9?

[2017-11-16 07:36] peterjc123 commented on #494
@magic282 Type in the first line and omit the following two lines.

[2017-11-16 08:03] aluo-x commented on #494
@peterjc123, it seems like your CI is using CUDA 8.0.

[2017-11-16 08:27] Evpok commented on #3587
Because it makes this topology

![image](https://user-images.githubusercontent.com/1656541/32880955-d05c9dc2-caaf-11e7-8fde-e85d21b0bdaa.png)

impossible to get with a bidirectional LSTM. To get per-word (or token, or whatever) hidden states instead of per-timestep, you have to run forward and backward as separate layers and concatenate the outputs afterwards. Add to that that pytorch (as far as I

[2017-11-16 08:29] peterjc123 commented on #494
@aluo-x @magic282 I tried building CUDA 9.0 with MSVC 2017 using my own PC. No problem there. Are you building against the current master `2502ac08` now?

[2017-11-16 08:51] magic282 commented on #494
@peterjc123 Same problem.
[code]

[2017-11-16 09:02] peterjc123 commented on #494
@magic282 I really don't know what's wrong there. The include file `ATen/NativeFunctions.h` should be generated at the first stage, even before the start of the build of all ATen libs. How could it be not found?

[2017-11-16 09:08] magic282 commented on #494
@peterjc123 Where should this be? I did not find it under `D:\pytorch\pytorch\aten\src\ATen`

[2017-11-16 09:11] peterjc123 commented on #494
@magic282 It should be under `PyTorch_Root\torch\lib\build\ATen\src\ATen\ATen` after build.

[2017-11-16 09:12] magic282 commented on #494
@peterjc123 The folder is empty

[2017-11-16 09:17] Evpok commented on #3587
Because it makes this topology

![image](https://user-images.githubusercontent.com/1656541/32880955-d05c9dc2-caaf-11e7-8fde-e85d21b0bdaa.png)

impossible to get with a bidirectional LSTM. To get per-word (or token, or whatever) hidden states instead of per-timestep, you have to run forward and backward as separate layers and concatenate the outputs afterwards. Add to that that pytorch (as far as I

[2017-11-16 09:37] MaratZakirov opened #3735 "DataPrallel uses only one device"
Hello pytorches!

I am new to pytorch so this issue could be just stupid mistake.
Recently I am trying to build language model on pytorch (plese see code below). I am using DataParallel but by some reason it uses only one device but practically I see that then I call model it actually splits the input.  nvidia-smi shows that only one device is actually used. Why is that so?

[code]

[2017-11-16 09:44] trias702 commented on #494
I am having the exact same problems as @magic282 and @aluo-x when I try to build using your detailed instructions here: [https://gist.github.com/peterjc123/a4ac6ce4b0ed4b1b497334baaeb595e3](url)

`pytorch/aten/src/ATen/native/cuda/NativeFunctionsCuda.cu(1): fatal error C1083: Cannot open include file:'ATen/NativeFunctions.h': No such file or directory [C:\optimae\pytorch\torch\lib\build\ATen\src\A

[2017-11-16 10:16] peterjc123 commented on #494
@trias702 They're supposed to be there actually. They're only template files that need to be processed and copied to the build folder. If you open `aten\src\ATen\templates\NativeFunctions.h`, you will see that it is not a complete c++ file. The file copying should be consistent across various CUDA versions and various Windows versions. The build works on CI and my PC. So I'm very confused of what'

[2017-11-16 10:25] rogertrullo commented on #1249
@trypag , they way I did it, the loss should actually start with a value close to 0, and then decrease to a negative value. The "more negative" the better. It doesn't matter that the loss is negative, I have trained already systems with this loss and they work quite well.
How many classes do you have?

[2017-11-16 10:35] trias702 commented on #494
@peterjc123 Ok, but how exactly during the build process is NativeFunctionsCuda.cu supposed to find NativeFunctions.h? If you open up NativeFunctionsCuda.cu, the very first line of the file is #include "ATen/NativeFunctions.h", however, the ATen directory does not contain NativeFunctions.h (it is in ATen/Templates), so to me, it seems correct that it throws

`pytorch/aten/src/ATen/native/cuda/Nati

[2017-11-16 10:40] trypag commented on #1249
Alright, I have 134 classes.

[2017-11-16 10:42] rogertrullo commented on #1249
@trypag, then the loss should go beyond -1. Basically what I do is to add the individual dice scores so the perfect score should be -134. If you want it to be between 0 and minus one, you should divide it by the number of classes

[2017-11-16 10:42] peterjc123 commented on #494
@trias702 The place is at [here](https://github.com/pytorch/pytorch/commit/445cc1f5b9a1647949c7b27b60e9800339f88db9#diff-76aa8cb3d0fad99c5f761d08cbcb4d19R60) and the file is finally written at Line 276 of that file.

[2017-11-16 10:55] trias702 commented on #494
@peterjc123 Can you please point me to how this gen.py is supposed to be invoked? I know that it is from CMake somehow, using the cwrap_files variable, but I'm not sure how exactly the full invocation is supposed to work from setup.py --> ? --> aten/src/ATen/gen.py. I must apologise but I have very little experience with CMake itself.

One other thing, I was looking at the output console from your

[2017-11-16 11:03] peterjc123 commented on #494
@trias702 It'll be just the same without Ninja. The actual backend is MSVC 2017.
The current directory will be switched in `torch\lib\build_libs.bat` to `torch\lib\build\ATen` and then the CMake will start. The `write` function(Line 108) of the python script `aten\src\ATen\gen.py` will be called to generate the real headers. So the files will be there after gen.py is called. You can try calling ge

[2017-11-16 11:24] trias702 commented on #494
@peterjc123 I just tried that and it failed:

1) Open admin cmd prompt
2) cd torch\lib\build\ATen
3) python c:\pytorch\pytorch\aten\src\ATen\gen.py

[code]

Which is strange because there most definitely is a templates dir in aten\src\ATen, and it does contain GeneratorDerived.h.

[2017-11-16 11:36] trias702 commented on #494
@peterjc123 It also fails even if I provide the -s option to gen.py:

python c:\pytorch\pytorch\aten\src\ATen\gen.py -s c:\pytorch\pytorch\aten\src\ATen

[code]

Ah! Because there is no 'ATen' directory inside pytorch\torch\lib\build. If I manually create it, then gen.py works!

[2017-11-16 11:37] peterjc123 commented on #494
@trias702 Can you copy & paste the results of `generated_cpp.txt` under `torch\lib\build\ATen\src\ATen` after your build?

[2017-11-16 11:38] peterjc123 commented on #494
@trias702 Does the NativeFunction.h appear in the ATen folder after running the script?

[2017-11-16 11:48] trias702 commented on #494
@peterjc123 NativeFunctions.h now appears in pytorch\torch\lib\build\ATen\ATen, but only after I had to manually create the trailing ATen directory by hand, and then run gen.py manually. Is this the correct location for NativeFunctions.h after running pytorch\aten\src\ATen\gen.py?

If this is correct, then it appears that gen.py is missing a critical os.makedirs(directory) line.

Here is the outpu

[2017-11-16 11:50] magic282 commented on #494
@trias702 I cannot build it by mannually copying the file with ninja.

[2017-11-16 11:56] peterjc123 commented on #494
@trias702 My fault. The command should be executing command
[code]

[2017-11-16 12:03] peterjc123 commented on #494
Wait, guys! The CI seems to reproduce the error [there](https://ci.appveyor.com/project/peterjc123/pytorch-elheu/build/job/ge7l764e9pnh9r1q).

[2017-11-16 12:07] trias702 commented on #494
@peterjc123 Agreed, I can see the same error I'm getting in the CI output you linked, line 8797.

So there may be a bug in aten/src/ATen/CMakeLists.txt in how it is executing the gen.py command?

[2017-11-16 12:37] peterjc123 commented on #494
@trias702 Would you please inject the write function in gen.py and let it output the current directory using sth like
[code]
Thanks.

[2017-11-16 13:07] trias702 commented on #494
@peterjc123 Done. The contents of the file are:

`.`

So just a single period.

[2017-11-16 13:13] peterjc123 commented on #494
@trias702 Try if helps by changing the lines 147-149 of `aten\src\ATen\CMakeLists.txt` from
[code]
to
[code]
Also you can try capture the command the path here by using the following commands:
[code]
And try executing the commands by hand to detect the issue.

[2017-11-16 13:30] trias702 commented on #494
@peterjc123 Done. Build is running now, will let you know what happens.

The output of those 2 MESSAGE debugs, placed right before the ADD_CUSTOM_COMMAND, is:

`CMAKE_CURRENT_BINARY_DIR: C:/Unix/compile/pytorch/pytorch/torch/lib/build/ATen/src/ATen`

[code]

[2017-11-16 13:39] wguo1983 opened #3736 "torch_onnx_export crash"
i want to convert the example "fast_neural_style" trained model to caffe2 used torch.onnx, then got the error as follows， anyone can help me fix this?
thanks...........

File "/usr/local/lib/python2.7/dist-packages/torch/onnx/__init__.py", line 75, in export
    _export(model, args, f, export_params, verbose, training)
  File "/usr/local/lib/python2.7/dist-packages/torch/onnx/__init__.py", line 12

[2017-11-16 14:38] mgalkov opened #3737 "Make nn.ModuleList behave like an actual list"
Slices are not working.

[code]

It doesn't look like a very time-consuming issue, I can get on it next weekend.

[2017-11-16 14:39] trias702 commented on #494
@peterjc123 Sadly it is not working. The failure still appears to be gen.py in aten/src/aten. When it executes via python setup.py bdist_wheel, it is still not creating any files in pytorch/torch/lib/build/ATen/ATen, or anywhere else.

Looking at the write() function in gen.py, if output_dependencies is not null, then the write is re-directed to a different file, although am not sure how that is s

[2017-11-16 14:54] jcatana commented on #2530
Having the same issue. This is a big problem for me running under a batch queuing system. Queue up several jobs to run. The first never completes, hanging indefinitely on this error until manual intervention is performed to kill the process.

[2017-11-16 15:14] soumith commented on #3669
@vadimkantorov I ran the following and pytorch succesfully compiled without issues. It's your exact environment as-is. What am I missing?

[code]

[2017-11-16 15:15] soumith commented on #3735
Hi Marat, please use https://discuss.pytorch.org for help.

[2017-11-16 15:15] #3735 closed

[2017-11-16 15:17] trias702 commented on #494
@peterjc123 I have done some more testing, and I think gen.py is working correctly as far as I can tell.

The true failure seems to be the ADD_CUSTOM_COMMAND call in pytorch/aten/src/aten/CMakeLists.txt:

[code]

Even with the WORKING_DIRECTORY option added, it just does not seem to be doing the correct thing, which, as I understand it, is reading in the generated_cpp.txt from the earlier gen.py c

[2017-11-16 15:19] soumith commented on #3073
@samuela we'll implement it. @SsnL can take care of it.

[2017-11-16 15:49] sharmalakshay93 commented on #3717
Thank you, @soumith!

[2017-11-16 16:06] SsnL commented on #3423
I'm working on this one. @samuela , do you happen to know the best way to calculate det gradients? There is Jacobi's formula, but I'm not sure how to calculate adjugate efficiently and generally.

[2017-11-16 16:10] #3608 closed

[2017-11-16 16:40] vadimkantorov commented on #3669
Minor differences is that I use OpenBLAS, not MKL, and OpenBLAS/magma are built from sources and I am not using conda. I don't know how to find why g++ behaves differently.

First, that error about coalesce makes sense, no? Being explicit about types won't hurt there, right? The `op` uninitialized warning is about the below and complains about `op` not being initialized in some code branches. It s

[2017-11-16 16:41] tomahawklin opened #3738 ".sum() not return ideal result?"
Hey I have this problem when I want to just get the sum of a tensor.

I have a 1d tensor with entries being either 0 or 1 (mostly 0).

`>>>diff`
`Variable containing:
 0
 0
 0
⋮
 0
 0
 0
[torch.cuda.ByteTensor of size 86945 (GPU 0)]`

If I do torch.sum(diff) or diff.sum(), it gives me
`>>> torch.sum(diff)`
`Variable containing:
 40
[torch.cuda.ByteTensor of size 1 (GPU 0)]`

However, with a naive

[2017-11-16 16:43] gchanan commented on #3738
it's probably overflowing your ByteTensor, try converting it to a larger type and doing the sum on that.

[2017-11-16 16:46] #3738 closed

[2017-11-16 16:50] apaszke commented on #2965
We have `self.assertCompiled` now, so closing this.

[2017-11-16 16:50] #2965 closed

[2017-11-16 16:55] apaszke commented on #917
This should no longer be an issue, now that `split` is implemented as a native ATen function. I think we're still using the Python version for tensors, but this will be resolved soon when we stop using tensors altogether.

[2017-11-16 16:55] #917 closed

[2017-11-16 17:07] gchanan commented on #3726
This is missing the remaining fallthrough methods.

[2017-11-16 17:44] soumith commented on #2083
@jph00 i am building binaries for `v0.3.0` right now, so i am looking to fix this once and for-all for the new binaries.

I got a paperspace instance and tried to replicate this error. I ran a few notebooks that use pytorch under deeplearning2 but had no luck reproducing so far.

Which notebook is reproducing this error for you?
You said lesson1, but lesson1 doesn't even use pytorch: https://githu

[2017-11-16 17:55] soumith commented on #2083
nevermind, i see that you're talking about https://github.com/fastai/fastai
I'm working on reproducing that.

[2017-11-16 19:32] gcr commented on #1355
For what it's worth, I had this issue on Python 2.7 on ubuntu 14.04.

Things that didn't work:
- Passing `--shm-size 8G` or `--ipc=host` when launching docker
- Setting `pin_memory=True` or `pin_memory=False`

The thing that reliably fixed my issue was porting my code to Python 3. Launching the same version of Torch inside a Python 3.6 instance (from Anaconda) completely fixed my issue and now dat

[2017-11-16 19:51] m-dp commented on #3527
Same problem:
to install,
[code]
as per the instructions at https://github.com/pytorch/pytorch#from-source

Results:
[code]

[2017-11-16 20:11] m-dp opened #3742 "Compilation error: libATen.so.1: undefined reference to `convolve_5x5_sse'"
I am experiencing a problem compiling, which involves ATen (I see that some work was done by @gchanan a few hours ago on ATen, but similar issues were also reported days ago).

I posted earlier the issue in the only issue relevant to _convolve_5x5_sse_ the following:

[...]
_../libATen.so.1: undefined reference to `convolve_5x5_sse'_
: to install,
[code]
as per the instructions at https://github.c

[2017-11-16 20:26] m-dp commented on #537
Same problem (Pascal, GTX 1060):
[code]
takes forever (15 minutes the equivalent in a real-world script).

It was installed with conda:
_pytorch   0.2.0   py27hc03bea1_4cu80  [cuda80]  soumith_

Cannot install pytorch from source, compilation currently fails.

[2017-11-16 20:30] dmarnerides opened #3743 "Runtime error(s) for Conv2d second gradient"
The following code:
[code]
produces this error

Also, removing the ReLU from the network:
[code]
causes the error to change to:

However, when the second convolution is removed as well:
[code]
then the code runs error free

I'm on a ppc64le architecture with a P100 GPU, CUDA 8.0 and PyTorch version '0.4.0a0+6eca9e0'

[2017-11-16 21:22] kyunghyuncho commented on #3600
how about then printing a warning?

[2017-11-16 22:08] samuela commented on #3423
@SsnL I'm not aware of a method better than Jacobi's formula unfortunately. (Anyone who has more experience with this please chime in!) For all intents and purposes I think it's fair to assume that the input is invertible in which case you can calculate the inverse transpose. Here's how tensorflow and autograd handle it:

* https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops

[2017-11-16 22:21] samuela commented on #440
@soumith @SsnL The two references for Cholesky gradients that I know of are
* https://people.maths.ox.ac.uk/gilesm/files/NA-08-01.pdf
* https://arxiv.org/abs/1602.07527

It's implemented in tensorflow and autograd here:
* https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/ops/linalg_grad.py#L58
* https://github.com/HIPS/autograd/blob/master/autograd/numpy/linalg.py#L110

I thin

[2017-11-16 22:22] samuela commented on #440
Thanks guys! This is exciting and will definitely end up in my code.

[2017-11-16 22:23] colesbury opened #3747 "Support indexing in JIT dispatch"
The new index() and index_put_() methods take both `Tensor` and `TensorList` arguments. The JIT dispatch code doesn't currently handle this case, which means that calls to these functions will not be JIT-able.

See https://github.com/pytorch/pytorch/pull/3725

cc @ezyang @apaszke

[2017-11-16 22:35] michaelhuang74 opened #3748 "FP16 implementation has the same speed as FP32 on Tesla V100"
I am trying to improve the speed of neural style transfer by converting it to FP16 implementation to take the advantage of Tensor Core on the Tesla V100 GPU.

The original FP32 implementation is at https://github.com/leongatys/PytorchNeuralStyleTransfer

I put the VGG-19 model to FP16 and leave the loss function at FP32 (to avoid overflow and underflow). The modified code is at https://gist.github

[2017-11-16 22:51] sampathweb commented on #973
Increasing the `ulimit` solved the issue.  Details (https://github.com/fastai/fastai/issues/23).  When using Docker, the `ulimit` is set very high so you may never see the issue, but Ubuntu instance by default had 1024 (file descriptor limit).  Increasing it to 2048 or 4096 or higher solves the issue.  I don't know why that many file descriptors are required, but glad that it had a simple fix.

[2017-11-16 22:52] sampathweb commented on #973
If the core devs want to see the error, just reduce the `ulimit` to 1024 and run the code of @kamo-naoyuki above and you might see the same problem.

[2017-11-16 23:15] ezyang commented on #3736
You need a commit of HEAD after this PR: https://github.com/pytorch/pytorch/pull/3691

[2017-11-17 00:37] xhzhao opened #3749 "layer-by-layer profiling feature"
Our team is working on the PyTorch performance(DeepSpeech2 first) optimization for IA platform. We first use the default [profiler](https://github.com/pytorch/pytorch/blob/master/torch/autograd/profiler.py) in pytorch, and found that this profiler is a low level(functional) profiler. We tried the CProfile, but still we could not get a layer-by-layer result.
It would be great for PyTorch to provide

[2017-11-17 01:20] jekbradbury opened #3751 "cuDNN RNNs silently break weight tying in __init__"
While the fast path for cuDNN RNNs introduced in https://github.com/pytorch/pytorch/pull/2179 includes a check intended to fall back to copying weights if weights are moved or aliased, this only works if the aliasing happens after the weights are first compacted. But the most natural place to tie weights is inside a module's `__init__` method, which runs before `.cuda()`, the typical time when `fl

[2017-11-17 01:55] wguo1983 commented on #3736
@ezyang it doesn't work for me, got the same error, and the InstanceNorm is used in fast-neural-style.

[2017-11-17 01:58] peterjc123 commented on #494
@trias702 I think i have figured out what's wrong there. You're right. There're some issues with the usage of `ADD_CUSTOM_COMMAND`. I'm thinking about how to solve this. The `makedir` is not needed because the dir is already created using CMake.

[2017-11-17 03:15] acgtyrant commented on #698
I find `lib/python3.5/site-packages/torch/lib/libcublas-e78c880d.so.8.0.88` in my virtual environment, so I think the cudnn library is built-in.

[2017-11-17 07:22] peterjc123 commented on #494
@trias702 @magic282 @alex47 @aluo-x A temporary fix here, do this after cloning.
[code]

[2017-11-17 08:36] Sleepychord commented on #3664
Oh, I found the latest version on pip is 0.2 and it did not work. Maybe this can only work on versions after 3.0. I will build a new pytorch from source,  thank you @zou3519 .

[2017-11-17 08:38] auzxb commented on #3646
I meet the same bug. `torch.cat` function has GPU memory leak bug!!!

[2017-11-17 08:49] magic282 commented on #494
@peterjc123
[code]

[2017-11-17 09:02] magic282 commented on #494
@peterjc123 Using the following cmd:
[code]
Successfully built Aten.dll, but failed at very last stage:
[code]

[2017-11-17 09:14] alex47 commented on #494
@peterjc123
I got the following errors with your commands included:
(x64 Native Tools Command Prompt for VS 2017 and CUDA 9)

[code]

and then:

[code]

and finally:

`error: [Errno 2] No such file or directory: 'torch/lib/tmp_install/share/ATen/Declarations.yaml'`

[2017-11-17 09:30] auzxb opened #3755 "F.relu(x, inplace=True) cause memory leak!"
`F.relu(x, inplace=True)` function  causes memory leak!
set` inplace=False` (or default) will solve the problem

[2017-11-17 10:01] trias702 commented on #494
@peterjc123 I tried your recommendation, and it has solved the ATen.dll issue, as that now builds correctly, many thanks!

However, like everyone else, I am also getting the error that TH/TH.h cannot be found when trying to build libshm_windows.

The problem is, the build process is does not appear to be copying over any of the key header files from `pytorch/aten/src/*/*.h` to `pytorch/torch/lib/t

[2017-11-17 10:09] apaszke commented on #3755
Can you please post script that reproduces it?

[2017-11-17 11:00] apaszke commented on #3749
Most layers don't do more than 3 operations, so it should be pretty straightforward to figure out what operations correspond to different layers. I don't think adding annotations in Python by default is a good idea, because that would increase the overhead and skew the results. CProfile won't be useful if you want to get this kind of information, but autograd profiler should be just fine (that's w

[2017-11-17 11:17] unnir commented on #2036
I solved that problem by creating a new conda environment.

[2017-11-17 12:20] peterjc123 commented on #494
They've changed NativeFunctionCuda.cu for the second time. It's breaking Windows build again.

[2017-11-17 12:22] peterjc123 commented on #494
Without official CI, it is So tiring to keep up with the master branch.

[2017-11-17 12:31] fmassa commented on #3646
@auzxb can you provide a minimum working example that illustrates the leak?

[2017-11-17 12:32] apaszke commented on #494
@peterjc123 sorry for this, we're working on setting up CI for Windows. Thank you so much for help!

[2017-11-17 16:32] christoph-conrads commented on #1419
Named arguments work for me when the first argument to `torch.norm()` is a `torch.autograd.Variable`; using `torch.Tensor` causes exceptions.

MWE:
[code]

Output:
[code]

[2017-11-17 16:43] csarofeen commented on #3748
I tested vgg19 with batch size 64 and got the following results:

FP32 Iterations per second:  2.84
FP16 Iterations per second:  3.98

The script I used is [test_pytorch_vgg19_fp16.py](https://gist.github.com/csarofeen/f07e2d59e56052dbfa695bac0748d764). However, as you aren't simply using vgg and doing more, I'm not sure how the performance of the rest of the network will impact this. For example

[2017-11-17 16:44] #3748 closed

[2017-11-17 16:54] soumith opened #3759 "additional continuous builds"
The following additional continuous build configurations are needed:

- gcc 4.8 CPU
- gcc 7.x CPU
- move travis contbuild configurations over to ci.pytorch.org (CPU builds)
   - travis is turning out to be too slow (1hr+ for build matrix)
- Windows CI

[2017-11-17 16:56] mrdrozdov commented on #3310
Btw, I experienced something similar:

[code]

Updating conda fixed the problem.

[2017-11-17 17:10] apaszke commented on #3310
@mrdrozdov did you use a source install or did the binary install have that problem?

[2017-11-17 17:21] mrdrozdov commented on #3310
Installed with `conda install pytorch torchvision -c soumith`.

[2017-11-17 18:15] chris11ee commented on #2602
Hi,

Did it solve the issue for you?
I have the same config as you and the kernel keeps dying when I try to call use the torch.nn module.
I don't see any problem while importing, and I can use for example torch.manual_seed.

Thanks,
Christian

[2017-11-17 18:47] htwaijry commented on #2083
@soumith I was having a similar issue, then I added these compile flags `-fPIC -ftls-model=global-dynamic` in `setup.py`, and recompiled pytorch, and it seems to have resolved my issue.

[2017-11-17 18:58] mmoghimi opened #3761 "Issue with DataParallel"
I'm getting an assertion error for the following code. The code work without the DataParallel.

[code]
and this is the error:

[code]

[2017-11-17 19:01] soumith commented on #2083
@htwaijry from what i know the source installs dont have this problem (you dont even need the compile flags). Only the binary installs have this issue. Can you confirm that if you recompiled pytorch from source (without your flags) the problem doesn't exist?

[2017-11-17 20:21] zou3519 commented on #3761
I reproduced this on 0.2. This works in master though so it's probably been fixed somewhere down the line -- I'd recommend building pytorch from source

[2017-11-17 21:21] htwaijry commented on #2083
@soumith You are right, compiling from source without the flags also works. I just went ahead and added those flags when I ran into the problem without trying to compile from source directly without them.

[2017-11-17 21:57] zou3519 commented on #3540
Does it? Their formulation is different on the [docs](http://pytorch.org/docs/master/nn.html?highlight=bceloss#torch.nn.BCELoss).

The input to `NLLLoss2d` would have size `(N, 2, H, W)`, while the target should be `(N, H, W)`. Could you elaborate a little more on how this is annoying? I'm not sure I understand what you mean by providing a `Bx1xHxW` input.

[2017-11-17 22:02] meder411 commented on #3540
After playing with this further, I suspect I wasn’t quite articulating my concern well at all and have resolved the issue. Feel free to close this.

[2017-11-17 22:04] zou3519 commented on #3742
Does `python setup.py clean && python setup.py install` help?

What version of gcc are you running, and which commit of pytorch are you on?

[2017-11-17 22:08] #3540 closed

[2017-11-17 22:23] fritzo opened #3764 "Rename distributions.Multinomial -> .Categorical"
`Multinomial` commonly refers to a distribution over counts, and is a multivariate generalization of the `Binomial` distribution. However PyTorch's `Multinomial` implements what is more commonly referred to as a `Discrete` or `Categorical` distribution, a distribution over vectors of indices. I suggest renaming `torch.distributions.Multinomial` to `.Categorical` or `.Discrete` so as to make way fo

[2017-11-17 22:26] fritzo commented on #3764
@colesbury How should we balance backwards-compatibility against having a standard consistent interface? Is it OK to rename this?

[2017-11-17 22:27] fritzo commented on #3764
CC @neerajprad @jwvdm @alicanb

[2017-11-17 22:27] #2396 closed

[2017-11-17 22:28] zou3519 commented on #3219
This might be related to this: https://discuss.pytorch.org/t/torch-from-numpy-in-custom-backward-doesnt-work/9791/18

If it is the same issue, then building from source or upgrading to 0.3 when it comes out should fix the problem.

[2017-11-17 22:29] #3219 closed

[2017-11-18 00:30] fritzo commented on #3364
In Pyro we usually treat `Categorical` variables as one-hot float vectors. It's a little easier to create a one-hot vector from a `torch.LongTensor`, since [you can](https://github.com/uber/pyro/blob/dev/pyro/distributions/categorical.py#L117)
[code]

[2017-11-18 01:19] ozancaglayan commented on #3737
Related: https://github.com/pytorch/pytorch/issues/2174

[2017-11-18 01:47] CodArs-van commented on #2830
Hi guys, I have a very similar problem as the one in this thread, here's my code:

[code]
And then once I resume, I got KeyErrors on my optimizer:
[code]
Do you guys know how to fix this issue?

[2017-11-18 03:32] #3751 closed

[2017-11-18 05:04] clived2 commented on #2602
Its been awhile, Chris, but as far as I can remember, it did

On Fri, Nov 17, 2017 at 1:15 PM, chris11ee <notifications@github.com> wrote:

--
Clive DaSilva CPA,CMA
Home:  416-421-2480|Mobile: 416-560-8820
Email: clive.dasilva@gmail.com
LinkedIN:  http://ca.linkedin.com/pub/clive-dasilva/3/197/b89

[2017-11-18 05:17] GuillaumeLeclerc commented on #3499
I agree that the fact that it prints an empty object is extremely misleading. I think having `__repr__` that actually describe the parameter list (at least the number of elements in it) would be super useful. I really thought there was a bug

[2017-11-18 05:48] jph00 commented on #1355
@apaszke  here's why working well with opencv is important, FYI (and why torchsample isn't a great option - it can handle rotation of <200 images/sec!):
![image](https://user-images.githubusercontent.com/346999/32977361-d01fd27a-cbe0-11e7-8928-987e4cfbae03.png)

[2017-11-18 09:41] pyknife opened #3768 "Source compile error on orangepi"
system:Linux version 3.4.113-sun8i
python3.5
no cuda
gcc version 6.3.0 20170519 (Ubuntu/Linaro 6.3.0-18ubuntu2~16.04)

I had created 2GB of SWAP space for compiling
before compiling， I added two flags in the shell :
export NO_CUDA=1
export NO_DISTRIBUTED=1

the error：

root@orangepione:~/pytorch# python3 setup.py build_deps
running build_deps
CUDA_TOOLKIT_ROOT_DIR not found or specified
-- Could N

[2017-11-18 13:40] peterjc123 commented on #3759
@soumith Good news to here. I could provide some help if needed.

[2017-11-18 14:59] stefan-it opened #3772 "dispatch_hash: build error with GCC 6/7"
Hi,

I ran into the following compilation error using GCC in version 6.3 and 7.2 (using the latest `pytorch` version 0fd968230510944117ad0c480e893256a9874c2a):

[code]

But I found a quick workaround for that (`torch/csrc/utils/hash.h`):

[code]

Maybe we can add something like ("pseudo-code") around the dispatcher?

[code]

So I guess we can discuss a solution here. I can reproduce this on Arch L

[2017-11-18 15:26] stefan-it commented on #3759
Hi :)

would it be possible to test `pytorch` compilation for GCC 7? `.travis.yml` uses *Trusty* as Ubuntu Distribution and - according to the *Travis CI* documentation - GCC 7 is available using `g++-7` on *Trusty*. For more information see [here](https://docs.travis-ci.com/user/languages/cpp/#GCC-on-Linux) :)

[2017-11-18 17:43] apaszke commented on #3772
Yes, that seems fine. Can you please send a PR with a fix?

[2017-11-18 17:43] apaszke commented on #3772
Here are the relevant macros: https://gcc.gnu.org/onlinedocs/cpp/Common-Predefined-Macros.html

[2017-11-18 19:24] #3694 closed

[2017-11-18 20:09] stefan-it commented on #3772
I'll prepare a PR for that :) The build error also occurs with GCC 6.

[2017-11-18 21:10] #3764 closed

[2017-11-18 21:35] soumith opened #3775 "add torch.stft and torch.fft"
They would be super useful as fundamental ops (and autograd ops).

STFT can be implemented in terms of ConvTranspose, see github.com/pseeth/pytorch-stft

- [x] stft
- [x] istft
- [x] window functions: bartlett, hann, hamming, blackman
- [x] fft, ifft, irfft, rfft
- [x] fftshift, ifftshift

cc @mruberry