[2019-06-21 11:31] ygwangthu opened #22070 "[ONNX] BUG for Upsample operator export re-used by caffe2"
I can succesfully save the PyTorch model into ONNX file now. However, The ONNX file can not be used by caffe2. This bug is about Upsample operator. @pk-g @houseroad

Acturally, I note that bugs for upsample operator into ONNX has been for a long time. Recently, it seems to be solved (I can save without error information). However, I will tell you that it still has bugs!!!

Error information is:

T

[2019-06-21 12:24] slayton58 commented on #21415
Yes, this works for me -- sorry, I didn't think further input was required :)

[2019-06-21 12:33] peterjc123 commented on #22063
Have you done `set BUILD_PYTHON=ON` before running `build_windows.bat`?

[2019-06-21 12:38] pietern opened #22071 "ProcessGroup wrapper that aids collectives desynchronization"
## 🚀 Feature

In torch.distributed/c10d we should have some sort of ProcessGroup proxy that creates a fingerprint of the collective to be run, the input tensors (device type, data type, shape, etc), and executes an allgather on that fingerprint to verify the call is valid.

## Motivation

Currently a user can call different collectives, or the same collective with different tensor shapes, and caus

[2019-06-21 12:39] peterjc123 commented on #22067
What is the result of `conda info`?

[2019-06-21 12:52] pimdh opened #22072 "Einsum as result of autograd.Function forward makes that backward is not called"
## 🐛 Bug

This is a more general version of the bug in #21970, which I'll close.

When a `autograd.Function` returns the result of `einsum`, the backward pass is ignored.
When the result of `einsum` is `clone`d before returning, the backward pass works fine.

## To Reproduce
[code]

## Expected behavior
The first output should equal the second output, but instead, we get:
[code]

## Environment
[c

[2019-06-21 12:53] pimdh commented on #21970
I'll close this as the issue filed at #22072 describes the issue more generally.

[2019-06-21 12:53] #21970 closed

[2019-06-21 12:54] SaschaStenger commented on #22067
active environment : Thesis
    active env location : C:\ProgramData\Anaconda3\envs\Thesis
            shell level : 2
       user config file : C:\Users\sasch\.condarc
 populated config files : C:\Users\sasch\.condarc
          conda version : 4.6.14
    conda-build version : 3.10.5
         python version : 3.6.5.final.0
       base environment : C:\ProgramData\Anaconda3  (read only)

[2019-06-21 13:13] jamarshon commented on #21478
@wanchaol Here is a small example
[code]
and the output:
[code]

[2019-06-21 13:51] vusraju commented on #19969
can't post it. But, just try to synchronize before and after your function/code that deals with gpu computations (forward in this case) and see if it works.

[2019-06-21 14:37] apaszke commented on #21900
PyTorch 1.1 will not change a thing. There's no easy way to share the AD data structures between different processes, so you can't backprop through inter-process communication. Sorry!

[2019-06-21 14:37] #21900 closed

[2019-06-21 15:03] gcanonaco commented on #21900
But the issue happens also if I do not backprop in exact the same way.

[2019-06-21 15:11] gcanonaco commented on #21900
To be more precise it still happens if I use the no grad function, hence no backprop involved. So, the problem is returning a pytorch tensor, I think. If I return the pytorch tensor as a list using the related tolist() method everything is fine. I don't know if this is expected or not.

[2019-06-21 15:26] t-vi commented on #21961
We should fix it...

[2019-06-21 15:27] SsnL commented on #22052
Also happened on master https://circleci.com/gh/pytorch/pytorch/2046711?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link/console

[2019-06-21 15:51] MohamedAliRashad commented on #21989
i think this can either be labeled as a feature request for adding 8-bit Quantization capability for PyTorch or be closed and reopened with the detailed feature request.

[2019-06-21 16:13] mickypaganini commented on #20402
By the way, even the last case of ephemeral activation pruning can already be supported by the pruning module as is. It will require interacting with the `<...>PruningMethod` objects directly. Example:
[code]

[2019-06-21 17:06] umanwizard opened #22078 "`torch.mm` gives wrong results on certain combinations of input size, device type, and cuBLAS version."
## 🐛 Bug

## To Reproduce

Ensure that you are running on CUDA 9.0 on a Maxwell or Pascal device, and execute the following script:

[code]

If the script prints anything other than "0.0" on any line, you have reproduced the bug.

To reproduce the issue in pure cuBLAS code (with no reference to PyTorch), see this gist: https://gist.github.com/umanwizard/2b2e2fc12485ef6dc1cdfb1421276dd9

## Environ

[2019-06-21 18:40] umanwizard commented on #21028
@colesbury is there any good reason we can't just use Python's built-in capability for printing numbers? (I.e., when printing a 0-dim tensor `t`, just print `'tensor(' + repr(t.item()) + ')'`

[2019-06-21 18:54] umanwizard commented on #19122
This has been landed

[2019-06-21 18:54] #19122 closed

[2019-06-21 19:15] t-vi commented on #22072
Thank you for the report!
That's bad, note that cloning is not necessary, but even the (no-op) `return y.view(*y.shape)` works. Apparently there is some flagging not done when using as_strided, I'll have to check why that happens.

[2019-06-21 19:16] Krovatkin commented on #20239
@wanchaol is this case going to be supported with your latest `Iterable` changes?

[2019-06-21 19:28] rlewkowicz opened #22083 "Pytorch is slower on windows than on linux"
## 🐛 Bug

Pytorch is slower on windows than on linux

## To Reproduce

I used this: https://github.com/ultralytics/yolov3

Try it on Linux, then try it on windows. It's about 2-5 times slower.

## Expected behavior

Performance should be exactly the same.

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/mas

[2019-06-21 19:30] fritzo commented on #21971
Hmm `Independent` makes sense for both discrete and continuous distributions, e.g. `Independent(Categorical(...))`. I guess if neither `.covariance_matrix` nor `.variance` are defined for the base distribution, then this will raise a `NotImplementedError`?

Additionally there may be multiple independent dimensions, and I'm not sure what data structure should hold a general covariance tensor? Is th

[2019-06-21 19:33] t-vi commented on #21680
I think using the deterministic algorithm unconditionally is a good idea.

[2019-06-21 19:39] justindomke commented on #21971
I think it would be fine to throw `NotImplementedError` unless `parent_dist` has an `event_shape` of `[]` or perhaps just a single dimension.

It seems like the current design of `Distributions` isn't really intended for arbitrarily complex joint distributions, so doing this "right" in the general case would probably involve some significant design? I reckon most of the value here is probably in t

[2019-06-21 19:41] colesbury commented on #21028
@umanwizard, yeah you want things like 1.0 / 10.0 (in float32 Tensors) to print 0.1 not 0.10000000149011612.

[2019-06-21 19:45] fritzo commented on #21971
Ok, that sounds reasonable, especially to make `Independent(Normal(...))` more palatable. How about this version:
[code]

[2019-06-21 19:46] wanchaol commented on #20239
Yes this will be fixed.

[2019-06-21 19:55] justindomke commented on #21971
It would be nice to handle the case where `batch_dims` is arbitrary. For example, I can do the following using `MultivariateNormal`:

[code]

It seems like this wouldn't work with the above implementation? I'm not quite sure how to fix this, though... the problem is that I don't know of a nice syntax for creating a "batch" of diagonal matrices in PyTorch.

[2019-06-21 20:05] umanwizard commented on #21028
For posterity: @colesbury 's comment above was a reference to mine (which I deleted) that said this:

[2019-06-21 20:28] LeviViana opened #22086 "Wrong distribution sampled by torch.multinomial on CUDA"
## 🐛 Bug

`torch.multinomial` is not sampling the correct distribution for CUDA tensors.

## To Reproduce

Here I compare the distributions sampled by the `torch.multinomial` on CUDA vs CPU tensors. The sampling is working correctly on CPU.

I've noticed this bug only for **sampling WITHOUT replacement**.

[code]

## Expected behavior

Sample from a multinomial distribution on CUDA and CPU tensors

[2019-06-21 20:28] jamesr66a opened #22087 "[JIT] Mutable list operation clobbers original instance"
[code]

produces

[code]

[2019-06-21 20:39] colesbury commented on #22013
Lists with 31 or fewer elements are interpreted as tuples in some cases. This is to match NumPy's behavior, which in turn is for backwards compatibility reasons. NumPy recently added a warning for this case. We should probably do the same.

https://github.com/pytorch/pytorch/blob/38c9bb8261054ab6745793521ec765fae921da5b/torch/csrc/autograd/python_variable_indexing.cpp#L226-L264

NumPy warns:

[cod

[2019-06-21 21:16] fritzo commented on #21971
@fehiepsi showed me this trick for batch-compatible `torch.diag()` (I think that's what you're asking for, @justindomke )
[code]

[2019-06-21 21:24] #21710 closed

[2019-06-21 22:00] mrshenli commented on #22050
@Moondra  Based on discussions in #16831 and 21819, this seems to be fixed in cudnn 7.6. Can you try upgrade your cudnn?

[2019-06-21 22:10] soumith commented on #17415
this is fixed now (the binaries have been reuploaded to not have the libomp.dylib dependency

[2019-06-21 22:10] #17415 closed

[2019-06-21 22:10] soumith commented on #20118
uploaded new binaries that remove dependency on `libomp.dylib`

[2019-06-21 22:10] soumith commented on #20030
uploaded new binaries that remove dependency on `libomp.dylib`

[2019-06-21 22:14] apaszke commented on #22087
Well it's not about the mutable operation changing the list, but about `list(a)` not making a copy.

[2019-06-21 22:18] a7med12345 commented on #21251
I've got a similar problem. Any solution?

[2019-06-21 22:20] jamesr66a commented on #22087
@apaszke rename the issue if you want. the important thing is the repro code

[2019-06-21 22:36] Krovatkin commented on #21776
@One-sixth could you please double-check if you are still seeing the error on the latest master?
Your test runs fine now.
[code]

[2019-06-21 22:51] Chillee commented on #22087
lol I feel like I had the same conversation with James an hour ago.
![image](https://user-images.githubusercontent.com/6355099/59954943-536b4b80-943c-11e9-880a-e6dc4539f7e4.png)

[2019-06-22 00:11] umichyiwan commented on #21956
Thanks, but the problem still exists.

[2019-06-22 00:13] umichyiwan commented on #21956
Actually if I reduce the size of args of nn.Linear, the problem goes away.

[2019-06-22 00:48] HapeMask opened #22095 "Inplace error if DistributedDataParallel module that contains a buffer is called twice"
## 🐛 Bug

If you have a DistributedDataParallel module which contains a buffer used in the forward pass, and that module's forward method gets called twice in your training script, the following `backward()` call will fail claiming that a variable that requires grad has been modified by an inplace operation.

## To Reproduce

1. Run the following minimal repro: `python -m torch.distributed.launch

[2019-06-22 03:15] peterjc123 commented on #22083
We are currently using EC2 as the host machine in CI and it is impossible to switch the GPU to the TCC mode. In order to solve that, we may need a self-hosted machine with two GPUs (one for display), which requires further discussion of the team. However, I think there are far more factors than you could think of that may cause this speed difference, such as DataLoaders, OpenMP with SIMD, MKL-DNN

[2019-06-22 03:26] peterjc123 commented on #22067
I cannot reproduce it on my side. Would you please clean the cache first? Please do `conda clean -t` first and try again.

[2019-06-22 03:58] peterjc123 commented on #21363
I saw that you are using `pip install --user`. Is it possible that there is one installed in the system?

[2019-06-22 04:50] vishwakftw commented on #22086
Thank you for the bug report. cc: @neerajprad

[2019-06-22 04:59] tarun005 commented on #3358
@RyanCV I am facing the same issue. Somehow, param.grad is None. Did you find a solution?

[2019-06-22 06:31] fps7806 opened #22105 "Memory leak when utilizing pandas indices"
## 🐛 Bug

There is a memory leak when utilizing pandas.Int64Index + pytorch on windows (haven't tested Linux + mac)

## To Reproduce
[code]

## Environment

 - PyTorch Version (e.g., 1.0):1.1.0
 - OS (e.g., Linux): Windows
 - How you installed PyTorch (`conda`, `pip`, source):conda
 - Python version:3.6
 - Any other relevant information:
pandas==0.20.3

cc @peterjc123

[2019-06-22 07:48] vadimkantorov opened #22106 "Harmonize inplace in ReLU and Dropout string representation"
[code]

[2019-06-22 08:42] Kylin9511 opened #22107 "LR scheduler design bug !"
## 🐛 Bug

I really have to say: the new scheduler design in PyTorch1.1 is quite immature. Many bugs exist when using it. Related issue: #21623 (Although I think the usage in that issue is really wired.)

In my case, for MultiStepLR scheduler, get_lr function fails to demonstrate the correct learning rate when the step function is called. In fact, you will get a learning rate which is one more step

[2019-06-22 09:12] shoukang opened #22108 "Segmentation fault Autograd"
Hi everyone,

When I train a CNN on cifar10, it seems that my training occasionally crashes with segmentation fault.

Error Message

[code]

Training eight models separately on eight GPUs can accelerate reproducing.

I'm using pytorch 0.4.1, Linux version 3.10.0-327.36.3.el7.x86_64, Python 3.6, Cuda9.0, gcc 4.8.5, Titan X pascal.

[2019-06-22 09:19] vadimkantorov opened #22109 "Multiple (redundant?) return statements in test_jit.py"
In https://github.com/pytorch/pytorch/blob/master/test/test_jit.py#L5900-L5945 there are several methods with multiple return statements like below:

[code]

It seems they are redundant, as subsequent return statements are unreachable. If they are there for a debugging purpose, a comment would be nice.

[2019-06-22 10:14] apaszke commented on #22109
Looks like a bug to me 😕

[2019-06-22 10:56] vadimkantorov commented on #22109
@apaszke on a side note, if I want to do a fused inplace Dropout+Relu, could jit be of help in its current state? (I understand I could do a custom autograd Function to sidetrack tensor versioning issues)

[2019-06-22 11:36] apaszke commented on #22109
On a side note I think we're not generating in-place kernels at the moment, but it wouldn't be too hard to adjust our codegen to take care of that. We might be able to automatically change them to out-of-place ops and fuse them at that point even now, but idk if we have merged this feature in the end (I worked on it some time ago).

[2019-06-22 12:34] apaszke commented on #21987
:+1: for making this a flag

[2019-06-22 15:55] RickyMacharm commented on #20009
same here...any updates on this?

[2019-06-22 17:57] wyessen commented on #13110
Ok, this should probably be closed. The latest dev version does not have that issue.

[2019-06-22 18:17] t-vi commented on #22072
So probably the best workaround is to do `ctx.mark_dirty(y)` in the forward.
I'll fix it by to replacing the `squeeze_`s at the end of `einsum` and `sumproduct_pair` with a `.view`.

[2019-06-22 19:23] jvesely commented on #21363
It's possible, but I don't think it's the case.
Removing the explicit install line results in pip downloading the sources and failing to compile the torch package [0] (it looks like a missing build time dependency).

Not installing pytorch at all makes all the test pass (pytorch is an optional dep), but the number of skipped tests increases from 582 to 606[1]

[0] https://ci.appveyor.com/project/j

[2019-06-22 21:25] SaschaStenger commented on #22067
I can't reproduce it anymore either. Might have been a cache issue. Sorry for the false alarm

[2019-06-22 22:06] rlewkowicz commented on #22083
@peterjc123 unfortunately it's beyond me. I don't have the wherewithal to target it exactly. I only know it's a bug. It affects tensorflow and pytorch what feels like similarly. Even if I could confirm it, and it was nvidia or windows specific, I don't have a pipeline to reach out to them.

[2019-06-22 22:32] apaszke commented on #21406
It might be because of `check_trace` being enabled by default.

[2019-06-23 02:08] peterjc123 commented on #21363
How did you try to install? pip install torch==1.1? That is not correct. You should refer to pytorch.org.

[2019-06-23 02:08] #22067 closed

[2019-06-23 04:08] ezyang commented on #10223
Some implementation notes, based on scribbles in my notebook.

**Derivatives.yaml can stay.** It's not necessary to write "forwards mode" derivatives for all of the functions, the backwards functions (really, their "transpose", but you will see what this means shortly) suffice.

As an example, consider cross product, whose reverse-mode derivatives are currently defined as:

[code]

The forward mod

[2019-06-23 04:21] shbnm21 commented on #8392
Hey @daniel-j-h can u please tell me how did u export encoder and decoder models to onnx.
I am new to this and did not find a way to export multiple models to onnx

[2019-06-23 04:57] elistevens commented on #18182
Keep in mind that methods like the following are pretty easy to write:
[code]
I'm kind of the opinion that if you need anything special, you should just write the code you need, rather than rely on the library to provide it for you. I think that PyTorch should only include init funcs that are (or were at one time) state of the art / best practice kinds of things.

I do agree that by default, init

[2019-06-23 08:04] apple2373 commented on #12207
I found this post helpful. Thanks!

I made the layer that is flexible in terms of upsampling size.
[code]

[2019-06-23 09:31] apaszke commented on #10223
Another option would be to have a new tensor type that represents dual numbers over the base type.

[2019-06-23 11:12] apaszke commented on #21673
cc @fritzo

[2019-06-23 12:04] taotaohan opened #22116 "this is my error "libtorch.so: error adding symbols: File in wrong format""
I use TX2，this is my list:
Ubuntu 16.04.5 LTS
gcc (Ubuntu/Linaro 5.4.0-6ubuntu1~16.04.11) 5.4.0 20160609
cmake version 3.5.1
pytorch C++ v1.1
can you tell me what happened?

[2019-06-23 12:17] blednotik opened #22117 "Why aren't torch.functional.sigmoid and torch.nn.functional.relu deprecated like torch.nn.functional.tanh?"
In the `torch.nn.functional`, you deprecated `tanh` but not `sigmoid` or `relu`.  Why is this?  Is it an inconsistency to be fixed, or there are important considerations supporting it?  Is it okay to replace `torch.nn.functional.relu` by `torch.relu` (and same about `sigmoid`)  in my code?

PS: at current code, `torch.nn.sigmoid` is deprecated too, but not `relu`.

[2019-06-23 12:54] jackalcooper commented on #15638
exactly same behavior and gdb where outputs here.  pytorch version: 1.1.0a0+9a7bcac, docker image: `nvcr.io/nvidia/pytorch:19.02-py3`

[2019-06-23 12:58] jackalcooper commented on #15638
node 0
[code]
node 1
[code]

[2019-06-23 13:02] vishwakftw commented on #22086
I'm not able to reproduce the failure 100%, for instance when k = 100, the p-value is 1.000 and the KL divergence is 0.000. There were many other instances like these, so I'm not sure if it were just some form of statistical inconsistency.

[2019-06-23 13:59] ihexx commented on #20619
@veritas9872 You mind mentioning how you did it? I'm stuck trying to do the same thing.

[2019-06-23 14:14] vadimkantorov opened #22118 "masked_fill_ does not fail on zero-strided tensor, whereas a simple mul_ does"
It seems that masked_fill_ is more dangerous for zero-strided tensors, because the mask may be different for the elements that refer to the single location in memor

Probably related issue: https://github.com/pytorch/pytorch/issues/12230

My Torch version is `1.1.0`.
[code]

[2019-06-23 14:27] ezyang commented on #10223
Actually, the change in formula is not as simple as I thought. Consider matrix multiply:

[code]

The correct forwards mode formula is:

[code]

This is closely related to the original form (structurally, it's identical) but the captured variables were transposed.

[2019-06-23 14:36] apaszke commented on #21682
Ugh, couldn't we store pointers to those class members instead of tensors in a parameters vector? The extra level of indirection would let us avoid this issue.

[2019-06-23 14:57] apaszke commented on #20778
I think we can add a `force` argument, but we shouldn't allow cross-device copies implicitly! Currently there's an invariant of "if a `.numpy()` call succeeds then the returned array _shares memory with the source tensor_". This is sometimes important, and I'd like to make it easy for users to verify that.

[2019-06-23 15:11] sdimantsd opened #22120 "convert YOLACT to onnx"
## 🐛 Bug

print(torch.__version__)
1.1.0

print(torch.version.cuda)
9.0.176

OS: linux 18.04

 - How you installed PyTorch (`conda`, `pip`, source): i try both of them, and try to compile from source.
 - Python version: 3.6
 - CUDA/cuDNN version: 7.6.0

Hi, im try to convert .pth weights from yolact project to onnx, im running the following code:

[code]

and get the following error:
[code]

[2019-06-23 16:07] vishwakftw commented on #22108
Can you provide a script to reproduce this issue?

[2019-06-23 16:38] vadimkantorov commented on #22118
Seems duplicate of https://github.com/pytorch/pytorch/issues/10756 ...

[2019-06-23 17:48] fmassa commented on #22117
`tanh` is a mathematical function used outside of neural networks, and goes hand in hand with `cosh` and `sinh`. That's why it should live in the `torch` namespace.

For `relu` or `sigmoid`, their scope is much more limited, and thus we want them in the `nn` namespace.

The fact that `relu` exists in the `torch` namespace is an artifact. We should only keep the one present in the `nn` namespace

[2019-06-23 17:53] fmassa commented on #20778
@apaszke I think the contract would be that the assumption of sharing memory is not valid anymore with the `force=True` argument.

This might mean that we might want to always return a copy of the data, even if it is on the CPU. Or we just put a big warning in the documentation saying that the memory can be shared or not, like what happens with functions like `reshape`.

[2019-06-23 17:59] blednotik commented on #22117
Actually, in the current code, `sigmoid` is also deprecated in `nn` [https://github.com/pytorch/pytorch/blob/master/torch/nn/functional.py#L1390](url).  But not `relu`.

[2019-06-23 18:01] fmassa commented on #22117
`relu` in `torch.relu` is the one that should be removed

[2019-06-23 18:04] SsnL commented on #18412
@jhagege yes, reproducible result is only guaranteed on same platform + same version.

[2019-06-23 18:10] fmassa commented on #18412
Also note that using multiple threads can also contribute to non-reproducibility

[2019-06-23 18:45] blednotik commented on #22117
What about the mathematical function "ramp function"?

[2019-06-23 19:36] isalirezag commented on #20311
@un-knight how/where did you set `OMP_NUM_THREADS` and `nproc_per_node`

[2019-06-23 19:37] grantinator opened #22122 "ASSERT FAILED at /pytorch/torch/csrc/autograd/generated/VariableType_0.cpp:12721"
## 🐛 Bug

I am trying to run code for a TCAV score from Google Brain. I am using this code [here](https://github.com/MotJuMi/TCAV) for a PyTorch implementation. I am running into the following error which suggests I report the bug.  This is all being done on Google Colab as well.

This is the error contained in the actual TCAV code

`run(self, num_workers, run_parallel)
    179             for i,

[2019-06-23 19:42] gheaeckkseqrz commented on #17415
As of 23rd June, the archive at https://download.pytorch.org/libtorch/nightly/cpu/libtorch-macos-latest.zip still doesn't contain libmklml.dylib

[code]

[2019-06-23 20:24] jvesely commented on #21363
That's not what's going on. The opening post details how pytorch was installed, and it's also in the logs linked above.

[2019-06-23 20:24] raghuramank100 commented on #20402
I agree,  the goal is to unify interfaces for quantization and pruning at the level of APIs. Great point about activations.

The key difference is that there is a lot more hardware support for 8 bit (and now lower bitwidth) quantization, allowing for faster kernel implementations that run on a wide range of devices. Sparsity support is still limited to hardware accelerators and there seems to be a

[2019-06-23 21:26] gheaeckkseqrz opened #22123 "Segfault on Ubuntu 14.04 Trusty"
## 🐛 Bug

Simple example segfault on Ubuntu 14.04 (Trusty).
Exact same code runs on Ubuntu 16.04 (Xenial).

## To Reproduce

Steps to reproduce the behavior:

Bug came to my attention while using Travis.

Broken version : https://travis-ci.org/gheaeckkseqrz/StyleTransfer-CPP/builds/549412118
Working version : https://travis-ci.org/gheaeckkseqrz/StyleTransfer-CPP/builds/549465910

The only differen

[2019-06-23 22:01] michaelklachko commented on #20402
@raghuramank100

Just to clarify, there are three potential efficiency benefits from pruning (or quantization): reducing model size on disk, reducing memory consumption (during training or inference), and saving computation. Out of these, memory consumption is arguably the biggest concern. Specifically, memory consumption during training is arguably the biggest concern for researchers (the Pytorch

[2019-06-23 23:07] apaszke commented on #20778
Well if we make `force=False` the default, then we can keep up the same semantics as today, and provide an escape path for those who want it (but they will have to say that explicitly). It's much nicer than a chain of `.detach().cpu().numpy()`.

[2019-06-23 23:18] mickypaganini commented on #20402
@michaelklachko: a quick solution would be to move the instantiation from the `__init__` to the `forward`, so that you can pass in new pruning parameters at each forward call.

[2019-06-24 00:35] vadimkantorov opened #22124 "jit to support bitwise ops"
If `~mask` is replaced by `1 - mask`, everything works. Also the error message is quite cryptic :)

[code]

[2019-06-24 01:25] veritas9872 commented on #20619
Using Python 3, just add torch.multiprocessing.set_start_method(method='spawn') in front of any code that you wish to use. Be careful when using multiple GPUs as this may cause unexpected problems when the default_collate_fn of the DataLoader tries to send a tensor that is already on device to shared memory.

[2019-06-24 03:28] michaelklachko commented on #20402
What do you mean? I'd probably do it like this, but I'm not sure if this is considered a good practice:

[code]

[2019-06-24 03:45] peterjc123 commented on #21363
I extracted the build scripts from your log, that is, the code below.
[code]
And then I tried to reproduce it locally, so I started to contrust the env according to your commands and did the smoke testing after that. And I found that it is throwing out an error.
[code]
After that, I tried to upgrade numpy from 3.15 to 3.16, and it worked. I also tried to downgrade torch to 1.0.1 and it also worked

[2019-06-24 05:45] soumith commented on #22123
my first guess would be that Trusty (14.04) by default uses gcc 4.8 which has known ABI bugs.

`libtorch` binaries are compiled with gcc 4.9.2.

While using `libtorch` binaries to compile your program, you can either use gcc 4.9.x or you can gcc >= 5.1 and set the flag `-D_GLIBCXX_USE_CXX11_ABI=0`.

[2019-06-24 05:53] #13110 closed

[2019-06-24 05:55] soumith commented on #22107
@vincentqb @ezyang

[2019-06-24 05:59] soumith commented on #3790
@vincentqb please review this at your convenience as well. i think it overlaps with the other PRs.

[2019-06-24 06:54] LoveZL0512 commented on #21627
i tried too，still not work；libtorch1.0 error：terminate called after throwing an instance of 'std::bad_alloc'；libtorch1.1 error like the title：Error in `./example-app': free(): invalid pointer: 0x00007ffc8960d290 ***

[2019-06-24 07:13] jsyx1994 opened #22127 "Cpu memory leak when only doing model forwarding in a loop"
## 🐛 Bug

## To Reproduce
Cpu memory leak when only doing model forwarding in a loop

define the model as simple as :
[code]
and write the test program as:
[code]

## Expected behavior
look into the system monitor, the related python process's memory should be stable. but in fact the memory increase over time.

## Environment

 - PyTorch Version ( 1.1):
 - OS (Linux & OSX):
 - How you installed Py

[2019-06-24 07:16] ihexx commented on #20619
Ah I see. I [had tried that](https://discuss.pytorch.org/t/how-do-i-copy-data-to-gpu-in-parallel/48762), but  I'm still unclear on where exactly you're pushing the tensors to the GPU. Is it in the dataset's __getitem__() method? A dataset transform? A collate_fn passed to a DataLoader?

[2019-06-24 07:24] xkszltl commented on #21850
@bddppq It's broken again.

[2019-06-24 07:26] HudsonHuang commented on #3867
Maybe adding new padding method to the class ConvND would be a elegant choice, and by overloading the method, padding schedule could  easily be extend.

[2019-06-24 08:32] gheaeckkseqrz commented on #22123
Indeed ```-- The CXX compiler identification is GNU 4.8.4```

So this looks more like a GCC bug that a PyTorch bug.
Closing the issue.

[2019-06-24 08:32] #22123 closed

[2019-06-24 08:44] fmassa commented on #20778
@apaszke yes, that was exactly my thoughts

[2019-06-24 08:57] xuChenSJTU commented on #7416
I have the same problem. Does anyone have some advice???

[2019-06-24 09:26] pietern opened #22128 "Automatic rank selection when using file:// initialization method"
## 🚀 Feature

Process rank can be automatically determined when using the `file://` initialization method.

## Motivation

This used to be possible prior to version 1.0. There is no specific reason NOT to support this and makes for easier usage when running multiple processes on the same machine.

## Pitch

In `torch/distributed/rendezvous.py` we can remove the check for the `rank` argument. If it

[2019-06-24 09:54] taojiashu opened #22129 "Building from source failed. Multiple errors in the printout"
## 🐛 Bug
I am trying to build Pytorch from source on a Ubuntu 18.04 GPU server. However, after I have followed the steps listed [here](https://github.com/pytorch/pytorch#from-source), running `python setup.py install` keeps failing.

## To Reproduce
I have two CUDA installed in my system, the default one is CUDA 9.0. I have switched to CUDA9.2 when building PyTorch. Then I followed the instruction

[2019-06-24 10:27] vadimkantorov opened #22131 "[dataloader] Add a context= argument for multiprocessing"
PyTorch version: `1.2.0.dev20190607`, librosa version: `0.6.3`

Related: https://github.com/pytorch/pytorch/issues/11727, https://github.com/librosa/librosa/issues/747

[code]

Another strange DataLoader behavior. Does not break if `set_start_method` is removed. Breaks this way if class definition is inside if.

[code]

Does not break, but it's very impractical to put only some imports inside the

[2019-06-24 12:08] LeviViana commented on #22086
It seems to me that the sampling is really messed up.

![image](https://user-images.githubusercontent.com/17881241/59999709-ed144200-9662-11e9-8634-737da9af3548.png)

[2019-06-24 12:15] pietern commented on #21415
@slayton58 Thanks! Asking so I can close the issue :)

[2019-06-24 12:15] #21415 closed

[2019-06-24 12:22] pimdh commented on #22072
Thanks for looking into it!
Interestingly, `ctx.mark_dirty(y)` does solve the issue in the above example, but not in my actual experiments. `y = y.view(*y.shape)` does solve the issue. I'll see if I can reproduce it in a simple example that I can post here.

[2019-06-24 12:40] LU4E opened #22133 "pytorch dataloader create new num_workers python process every epoch"
## ❓ Questions and Help
pytorch dataloader create new num_workers python process every epoch.
for example in my issue: i set the num_workers 15. Every epoch , about 15 the python processes will be created insteading of using the existing process, which leads to the memory is out.

[2019-06-24 12:45] t-vi commented on #22072
If `y.detach()` works, it might be cleaner.
Discussing the PR #22111 with Adam, he thinks the autograd should handle this more gracefully (rather than the grad itself being the problem).

[2019-06-24 12:48] pimdh commented on #22072
Yes, `y.detach()` works. Thanks.

[2019-06-24 13:00] jclombar commented on #18837
Hi, I am also trying to run the mnist_parallel example, without success so far...
A look at the code shows that data_parallel.h requires  USE_CUDA to be defined to actually scatter inputs and model.
But defining USE_CUDA (the rough way by adding add_definitions(-DUSE_CUDA) in CMakeLists.txt) leads to another error at compile time:
.../include/ATen/Parallel.h:47: error: ‘void at::parallel_for(int64

[2019-06-24 13:17] fmassa commented on #22127
This might be related to https://github.com/pytorch/vision/issues/984#issuecomment-498603088, and is due to the implementation of malloc.

Can you try using `jemalloc` instead?

[2019-06-24 13:54] SsnL commented on #22131
This is expected, because thed spawned workers does not see the dataset def.

I think the proper way to solve this is to add a `context=` argument to data loader, so that a global start method needs not be set.

[2019-06-24 15:03] ezyang commented on #22107
@luzhilin19951120 I think we fixed this on master; it was just an incorrect recursive formula for MultiStepLR. When I run your code I get:

[code]

Note I slightly simplified your example to get rid of the torchvision dependency:

[code]

[2019-06-24 15:04] ezyang commented on #22107
Actually, never mind, on master we've only reverted the recursive formulas, #21800 isn't landed yet.

[2019-06-24 15:05] amirassov opened #22134 "Error when converting custom layer with output of tuple to onnx format in pytorch 1.1.0"
## ❓ Questions and Help

I want to convert a custom layer to onnx format in pytorch 1.1.0. But I get an error
```RuntimeError: tuple appears in op that does not forward tuples```.

But in pytorch 0.4.1 it works.

## To Reproduce
My code to reproduce the error:
[code]

## Expected behavior
[code]

## Environment
* PyTorch version: 1.1.0
* Is debug build: No
* CUDA used to build PyTorch: 9.0.176

*

[2019-06-24 15:06] ezyang commented on #21623
This is a duplicate of #20527. The bug is "fixed" on master because we reverted the recursive formulas.

[2019-06-24 15:06] #21623 closed

[2019-06-24 15:07] ezyang commented on #22107
So yes, I agree this is a legit problem, and we should not land #21800 until we figure out a way to solve this problem too.

[2019-06-24 15:09] Taha-Bahadori commented on #10172
See the earlier discussion here:
https://github.com/pytorch/pytorch/issues/5354

[2019-06-24 15:10] Taha-Bahadori commented on #10172
The following paper might be related:
https://arxiv.org/abs/1906.09023

[2019-06-24 15:15] VitalyFedyunin commented on #22131
Closing as answered. Please re-open if you have any follow-up.

[2019-06-24 15:15] SsnL opened #22135 "[dataloader] type annotation is broken"
In #19228 I did not update the type annotations. We should fix this.

[2019-06-24 15:16] SsnL commented on #22131
reopen as a feature request

[2019-06-24 15:18] iiSeymour commented on #2591
When trying to export a model that uses `torch.logsumexp` with `torch.onnx.export` the follow error is thrown *(pytorch 1.1.0)* -

[2019-06-24 15:18] huanghonggit commented on #15770
I also got this error
`    batch_bert_features = torch.from_numpy(batch_bert_features).type(torch.float32)  # .float
RuntimeError: Trying to resize storage that is not resizable at /opt/conda/conda-bld/pytorch_1550796191843/work/aten/src/TH/THStorageFunctions.cpp:70`

[2019-06-24 15:18] Taha-Bahadori commented on #5354
The following paper might be related:
**Backpropagation-Friendly Eigendecomposition**
Wang, Dang, Hu, Fua, Salzmann
https://arxiv.org/abs/1906.09023

[2019-06-24 15:20] VitalyFedyunin commented on #22133
Looks like a bug in your code, for example, you are creating DataLoader instance inside the loop. Could you please attach an example so we can reproduce the issue.

[2019-06-24 15:30] VitalyFedyunin commented on #22129
You can find good answer here: https://github.com/torch/torch7/issues/1190#issuecomment-498934400 (credits to @talkenig)

Copy pasting for future reference:

Had the same problem and got to the bottom of it. My configuration is a Tesla T4 with 410.92 driver and CUDA 9.2, Ubuntu 18.10.
The thing is, the torch installer tries for some reason to use the highest compute capability supported by the dev

[2019-06-24 15:36] talkenig commented on #22129
Thanks, Vitaly.
That answer you cited is actually mine. I figured it out and posted the
solution for the good of mankind...

On Mon, Jun 24, 2019, 08:32 Vitaly Fedyunin <notifications@github.com>
wrote:

[2019-06-24 15:37] VitalyFedyunin commented on #22122
Hi @grantinator can you please attach PyTorch version information.
@yf225 does it rings any bell?

[2019-06-24 15:37] LU4E commented on #22133
yes, its my mistake.
i've alredy solve the problem.
thank you any way.

[2019-06-24 15:37] #22133 closed

[2019-06-24 15:39] vadimkantorov commented on #22131
The `RuntimeError: DataLoader worker (pid(s) 6082) exited unexpectedly` error message is also quite confusing

[2019-06-24 15:40] VitalyFedyunin commented on #22117
Need to decide in group and write final decision.

[2019-06-24 15:43] VitalyFedyunin commented on #22118
Yes, closing as duplicate of #10756

[2019-06-24 15:43] #22118 closed

[2019-06-24 15:46] VitalyFedyunin commented on #22108
@shoukang by any chance you can try installing new Pytorch, we have done a lot in terms of threading recently. And your problem might be related.

[2019-06-24 15:51] VitalyFedyunin commented on #22116
TX2 is ARM and you likely took i386 binaries. You need to compile for right architecture or use another binaries.

[2019-06-24 15:51] #22116 closed

[2019-06-24 15:59] LeviViana commented on #22086
I did these visual distribution checks when I was implementing `torch.choice`. Here is a notebook where I made similar tests: https://gist.github.com/LeviViana/c01011a885cffc7aa434fe099b92b0df

[2019-06-24 16:06] taotaohan commented on #22116
but in this web(https://pytorch.org/), I can't find source code to compile?where can i find the file or source code for right architecture?

[2019-06-24 16:08] LeviViana commented on #22086
The same thing, in another environment, using the version 1.1.0.dev20190522:

![image](https://user-images.githubusercontent.com/17881241/60034430-ef9a8a00-96aa-11e9-8fc6-e5cbb3fe48ef.png)

[2019-06-24 16:13] SsnL opened #22136 "[dataloader] SIGCHLD handler should poll the queue for exception first"
Otherwise it may cause weird exception prints like
[code]

cc @vadimkantorov

[2019-06-24 16:13] SsnL commented on #22131
@vadimkantorov see #22136

[2019-06-24 16:15] VitalyFedyunin commented on #22120
Seems to be JIT tracing related

[2019-06-24 16:23] xuewyang opened #22139 "Is there a way to reduce memory cost?"
I have codes for machine translation. In the decoder output,
[code]
Usually, this will give an output tensor of dimension Batch x Sequence_length x dimension, e.g., 50 x 100 x512. Then I use
`loss = -output.gather(dim=-1, index=target)` to get the final loss.
However, in my case, output is of dimension Batch x Sequence_length x K x dimension, e.g., 50 x 100 x 40 x 512, which is a four dimensional

[2019-06-24 16:24] fmassa commented on #22086
cc @syed-ahmed maybe this is related to https://github.com/pytorch/pytorch/pull/21555 ?

[2019-06-24 16:27] VitalyFedyunin commented on #22116
https://discuss.pytorch.org/t/tx2-arm64-install-for-python-3-cont-from-nvidia-forum/27631

[2019-06-24 16:34] jfolz commented on #21589
I believe I may have stumbled over this (a lot; over the course of a few weeks; and many scratched heads). Our code uses a background thread to move pinned tensors to GPU like so:
[code]
`image` and `label` are a 128x3x224x224 uint8 tensor and 128 int64 tensor respectively.

Then in the foreground thread:
[code]

Where `...` is backward, optimizer step, etc. Under some very specific circumstances

[2019-06-24 16:53] vadimkantorov commented on #22136
damned complicated data loading :(

[2019-06-24 17:05] ezyang commented on #21987
@umanwizard are you going to implement this? :) We think that this is a good idea./

[2019-06-24 17:08] jamarshon opened #22147 "aten::linspace error on Python 3.6"
## [jit] aten::linspace error on Python 3.6
For torchaudio's CI setup (https://github.com/pytorch/audio/blob/master/build_tools/travis/install.sh), pytorch nightly is used on linux. The job seems to fail for python 3.6 but not 3.5 due to some issue with aten::linspace (https://travis-ci.org/pytorch/audio/jobs/549804006). No code change occurred in the testing or torchaudio code meaning it should b

[2019-06-24 17:10] ezyang commented on #22013
cc @VitalyFedyunin

[2019-06-24 17:10] ezyang commented on #22013
We should definitely improve the error message here.

[2019-06-24 17:13] ezyang commented on #21989
I don't think uint8 does what you think it does, and even if you *could* set the default tensor type to be uint8, it wouldn't work (for example, we don't have derivatives on any integral types). There is some quantization support coming down the pipe, checkout `module: quantization` tag for more information.

[2019-06-24 17:13] #21989 closed

[2019-06-24 17:14] HapeMask commented on #22095
The cause here is that by default DDP modules broadcast the contents of the root process module's buffers to all processes at every forward pass, and this broadcasting counts as an inplace operation for the purposes versioning. The fix is to disable the broadcasting by setting `broadcast_buffers=False` in the DDP module constructor. Thanks @pietern for the help.

[2019-06-24 17:14] #22095 closed

[2019-06-24 17:18] ezyang commented on #22035
@pietern says: "The only reason I can imagine we zero the grad instead of setting it to None, is the allocator. If you set them to None, they have to be reallocated, which could cause churn. There is code that, instead of calling `zero_grad`, will just loop over module parameters and set them to None. Either works. So the question is what do we make the default."

@zou3519 says: "multiprocessing c

[2019-06-24 17:19] MaigoAkisame commented on #2591
@iiSeymour I have the same problem, and I had to write my own version of logsumexp for onnx.

[2019-06-24 17:20] yf225 commented on #22122
@grantinator Having PyTorch version information would be helpful, because this error shouldn't show up in our binary releases.

And could you also share the gdb backtrace of this error?

[2019-06-24 17:21] ezyang commented on #20837
Yeah, there is no centralized location.

I don't think we're going to do this. If you realllly want it, just make the CUDA API call yourself.

[2019-06-24 17:21] #20837 closed

[2019-06-24 17:21] umanwizard commented on #21987
Yes i am

[2019-06-24 17:23] ezyang commented on #21856
This seems like a reasonable ask, we'll accept a PR that implements this. @ifedan mentions that we had something similar going on with the `dist` operator as well.

[2019-06-24 17:26] ezyang commented on #21847
Furthermore, a lot of internal code relies on broadcasting; it would all stop working if you could actually "disable" broadcasting.

Maybe what you actually want is just have some sort of logging mode, where it tells you about all the broadcasting that is taking place in a program. So I guess we could accept a PR like this, but you should talk to, e.g., @VitalyFedyunin about design first before at

[2019-06-24 17:29] ailzhang commented on #22120
cc: @houseroad

[2019-06-24 17:30] ezyang commented on #21817
@gchanan says, @ifedan added a thing for AvgPool which lets you specify the divisor, so you can just say, "Divide by this inside the operation". This is a little different because the default it is different.

This seems reasonable, we will accept something along those lines; either the mode, or a divisor argument.

[2019-06-24 17:38] syed-ahmed commented on #22086
I'm looking at this now. Let me get back to this issue in a moment.

[2019-06-24 17:48] VitalyFedyunin commented on #22129
Please reopen if it doesn't solve your issue.

[2019-06-24 17:48] #22129 closed

[2019-06-24 17:51] VitalyFedyunin commented on #22117
We will follow up with the depreciation plans doc.

[2019-06-24 17:55] VitalyFedyunin commented on #22105
Same on the Linux. Likely pyref leaks. As remedy please cast Index to list before usage `arr[list(idx)]`.

[2019-06-24 17:59] VitalyFedyunin commented on #22083
Marking as feature because it is big project to archive performance parity.

[2019-06-24 18:06] VitalyFedyunin commented on #21971
@justindomke can we close this one?

[2019-06-24 18:13] fmassa commented on #22083
Plus, this might also be related to external libraries, as maybe MLKDNN / etc are not as optimized for Windows, as mentioned by @peterjc123 ?

[2019-06-24 18:14] fmassa commented on #22117
@blednotik note that we already have `torch.clamp`, and that `x.clamp(min=0)` is equivalent to `.relu()`

[2019-06-24 18:19] VitalyFedyunin commented on #21856
Please contact me before writing code, me and @cpuhrsch had several thoughts how to use TensorIterator in batch/layer norm.

[2019-06-24 18:32] VitalyFedyunin commented on #22139
Please use https://discuss.pytorch.org for questions. Please kindly feel encouraged to reopen this issue, if this does not apply.

[2019-06-24 18:32] #22139 closed

[2019-06-24 18:42] justindomke commented on #21971
Certainly (in fact I'll do it for you). Thanks very much!

[2019-06-24 18:42] #21971 closed

[2019-06-24 18:56] VitalyFedyunin commented on #8103
This is known issue for TX1 and TX2, right now no one is working on it, so we will gladly accept PR which will introduce num_threads customization.

[2019-06-24 18:59] YuJiang01 commented on #20402
@mickypaganini , This is a very useful feature. Just as discussed, some issues we may need to consider.
- In this case, local pruning can be very  nicely handle, but how about global pruning, which is also very common
- for pruning existed models, for example VGG, resNet those are already implemented in torchvision. Under this framework, will it have to re-implement all models?

[2019-06-24 19:03] VitalyFedyunin commented on #9563
Looks like serialization and storage related, I will take a look as soon as I have time.

[2019-06-24 19:07] soumith commented on #20402
for pruning existing models, if it is via local pruning, then I dont think you need to reimplement them or modify their code, because you can simply loop over the modules and set the pruning hooks on them.

If it's activation pruning or global pruning, yes you have to change the code of those models, and we shouldn't strive to find a solution where you dont touch the source code of those models.
L

[2019-06-24 19:09] VitalyFedyunin commented on #22069
Can you please send us more details about onnx model and about the way you are calling it.
For example how is %102, %107 and %106 getting defined.

[2019-06-24 19:13] #21857 closed

[2019-06-24 19:13] driazati opened #22155 "[jit] Optional type refinement on non-named expressions"
Right now we only do type refinement on `TK_VAR`s in the compiler, we should expand this to be more general, these examples below don't currently work:

Refinement on an attribute:

[code]

Refinement on a constant:

[code]

Refinement on a function call:
[code]
Outputs

[code]

in script, and

[code]
in eager.

[2019-06-24 19:19] VitalyFedyunin commented on #21907
You can also do `git submodule update --init --recursive` just to be sure

Also, please use https://discuss.pytorch.org for questions. Please kindly feel encouraged to reopen this issue, if this does not apply.

[2019-06-24 19:19] #21907 closed

[2019-06-24 19:20] VitalyFedyunin commented on #22060
Please use https://discuss.pytorch.org for questions. Please kindly feel encouraged to reopen this issue, if this does not apply.

[2019-06-24 19:20] #22060 closed

[2019-06-24 19:23] #17079 closed

[2019-06-24 19:46] VitalyFedyunin commented on #21981
`ReduceLROnPlateau` overrides every `_LRScheduler` function. We never had need to have `_LRScheduler` as parent.

Plus, as already mentioned, usage of any internal API names is a terrible idea.

I will close the issue as non-bug. However feel free to send us PR which will introduce good method of checking if object is Scheduler

[2019-06-24 19:46] #21981 closed

[2019-06-24 19:49] ezyang commented on #20984
@brianjo responded to me:

I don't think it's fast enough. https://pytorch.org/docs/master/nn.html still takes 14s before the the "load spinner" stops.

I think it is pretty clear that the problem is KaTeX. To show this, take the source code for nn.html and delete the script tags which load KaTeX. Load time immediately drops to 3s, which is *much* more reasonable. In that case, we should replace K

[2019-06-24 19:54] VitalyFedyunin commented on #21899
Can you please provide crash report? It will also help if you can send us full code.

[2019-06-24 20:03] brianjo commented on #20984
Thanks Edward! I’ll take a look at optimizing from that angle.

Cheers,

Brian

From: "Edward Z. Yang" <notifications@github.com>
Reply-To: pytorch/pytorch <reply@reply.github.com>
Date: Monday, June 24, 2019 at 12:49 PM
To: pytorch/pytorch <pytorch@noreply.github.com>
Cc: Brian Johnson <brianjo@fb.com>, Mention <mention@noreply.github.com>
Subject: Re: [pytorch/pytorch] Improve torch.nn documenta

[2019-06-24 20:07] VitalyFedyunin commented on #21948
Please use https://discuss.pytorch.org for questions. Please kindly feel encouraged to reopen this issue, if this does not apply.

[2019-06-24 20:07] #21948 closed

[2019-06-24 20:08] zou3519 commented on #20984
I don't think that using katex is the way to go. I took a quick look at the "sphinxcontrib-katex" plugin that we're using. From what I understand it doesn't support server-side rendering, only client-side. katex by itself does have this ability, but we'd need to be running node.js and we'd need a way to reach into sphinx and ask it for things that need to be rendered. If we want to go with the kat

[2019-06-24 20:30] VitalyFedyunin commented on #21894
This might take time to debug. Do you happen to have model example as well?
Are you leaking CUDA or CPU memory?

[2019-06-24 20:31] gchanan opened #22158 "legacy Tensor.new for alternative layouts is broken"
## 🐛 Bug

## To Reproduce
[code]

## Expected behavior

I would expect the following to either work or through an error message (probably just throw an error message, since the method is deprecated).

## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
(or fill out the checkli

[2019-06-24 20:37] anjandeepsahni commented on #21981
Thanks for clarifying.

[2019-06-24 20:48] VitalyFedyunin commented on #22068
Can you please provide thrift library information, such as compiler used, version etc.
Also please consider compiling pytorch yourself within your dev. environment, that could help with such issue.

[2019-06-24 20:52] ailzhang commented on #21935
@skrah @xmnlab can you take a look? Thanks!

[2019-06-24 21:30] zou3519 commented on #22127
@jsyx1994 Another way to check if it is a real memory leak is to see if your program ever OOMs.

[2019-06-24 21:51] skrah commented on #21935
Yes, it does not match. This is the implementation of the shape calculation:

[code]

Looking at it very briefly, the most likely thing is that the right floor bracket in the documentation should exclude the `+1`.

But I'd need to see the original algorithm to be sure.

[2019-06-24 22:00] yf225 commented on #21980
@MiroFurtado The best way to solve this problem is to run the following:
[code]
If we do it this way, all other dependencies of `pytorch-pretrained-bert` are installed except `torch`, and `torch_nightly` from the nightly docker image is used.

[2019-06-24 22:29] #20128 closed

[2019-06-24 22:29] #22053 closed

[2019-06-24 22:29] #22106 closed

[2019-06-24 22:35] #22032 closed

[2019-06-24 22:44] grantinator commented on #22122
Hi, thank you for the help.

I am using Pytorch 1.1.0.

[2019-06-24 22:49] arijit17 commented on #22069
Hi @VitalyFedyunin: Thanks for your help, but sorry I'm new to ONNX so didn't understand your question.

I (successfully) created and trained the model in PyTorch.
But, now I'm trying to train and directly save the model in ONNX (instead of PyTorch checkpoint), and it's here I'm getting the error.
I don't really understand what %102, %107 and %106 are.

[2019-06-24 23:28] liukuanlk commented on #21706
Thanks. I tried in both Microsoft Visual Studio Professional 2019, Version 16.1.3 and Microsoft Visual Studio Professional 2017 Version 15.9.12. Both of them give me same error message.

When you said that you cannot reproduce this issue, does it mean you can call  "swap" function in PyTorch C++ "Optional.h"? That would be very helpful if you can share your source code with "swap" function.

[2019-06-24 23:28] chennian32 commented on #21894
`if (options.momentum_ != 0) {
				const auto dampening = iteration_ == 0 ? 1 : 1 - options.dampening_;
				auto& momentum = buffer_at(momentum_buffers, i);
				momentum = (options.momentum_ * momentum) + (dampening * update);
				if (options.nesterov_) {
					update += options.momentum_ * momentum;
				}
				else {
					update = momentum;
				}
				momentum_buffers[i]=momentum.detach_();//sgd ste

[2019-06-24 23:30] souryadey commented on #12308
I would really like Pytorch to support dense inputs and sparse weights. This is what our work on [pre-defined sparsity](https://ieeexplore.ieee.org/document/8689061) is based on. Thus far, our code uses sparse masking to zero out the sparse weights after every update. But the updates are still dense, so this is not the most efficient solution.

[2019-06-24 23:32] chennian32 commented on #21894
the function is void torch::optim::SGD::step

[2019-06-24 23:46] smessmer commented on #21777
Don't think it's because of `C10_UNLIKELY`, more likely because `CAFFE_ENFORCE(false, ...)` doesn't work with a `[[noreturn]]` attribute. Afaik, we said we're going to introduce something like `TORCH_CHECK_FAIL()` and `TORCH_INTERNAL_ASSERT_FAIL()`, cc @ezyang @dzhulgakov

[2019-06-24 23:48] cpuhrsch opened #22169 "[RFC] NestedTensor API - 0.0.1"
## Motivation
Many fields manipulate collections of Tensors of different shapes. For example, paragraphs of text, images of different sizes or audio files of different lengths. We don't have a first class abstraction that enables the concurrent manipulation of collections of this type of data. We further often need to batch arbitrary data and operations for efficiency.

## Definition
A NestedTenso

[2019-06-24 23:51] nikhilmishra000 opened #22170 "JIT error after running for a long time"
## 🐛 Bug

I'm getting a cryptic error from a JIT model that I cannot reproduce consistently:
* I'm calling the model in a loop about once per second
* The error consistently occurs after 1~2 hours of doing this
* As far as I can tell, it is unrelated to the values of the model inputs.

This is the stack trace -- any idea what this means / how to investigate?
[code]

## Environment

 - PyTorch Vers

[2019-06-24 23:54] driazati opened #22171 "[jit] Compile only the relevant branch for `isinstance`"
Similar to our thing where we only compile if a submodule is not None (#14533), we could skip compiling the non-taken branch for `isinstance` checks (since their result is constant) to support use cases like this:

[code]

cc @suo

[2019-06-25 00:25] spandantiwari commented on #22066
@yil8 - Thanks for reporting this. I can repro this and it looks like a bug. I will take a deeper look and prepare a fix.

[2019-06-25 00:50] dementrock commented on #22170
I am also observing this issue. Help appreciated!

[2019-06-25 01:38] chinafei commented on #22068
thrift version is 0.13.0 , you can get like this:
git clone https://github.com/apache/thrift.git
cd thrift
sudo apt-get install automake bison flex g++ git libboost1.55 libevent-dev libssl-dev libtool make pkg-config

./configure --with-cpp --with-boost --with-java --without-python --without-csharp  --without-erlang --without-perl --without-php --without-php_extension --without-ruby --without-hask

[2019-06-25 02:00] xuhdev commented on #20005
Could you pull the latest source, run `git clean -fdx` and try again?

[2019-06-25 02:43] peterjc123 commented on #21706
Well, looks like I've used the different one. The swap function in line 519 is missing the scope specifier(`std::`) so the compiler is confused. I'm fixing it.

[2019-06-25 02:44] ztf-ucas opened #22181 "How can I delete a Tensor in GPU?"
## ❓How to delete a Tensor in GPU to free up memory？
 I can get a Tensor in GPU by Tensor.cuda(), but it just returns a copy in GPU. I wonder how can I delete this Tensor in GPU? I try to delete it with "del Tnesor" but it doesn't work.

[2019-06-25 02:46] soumith commented on #22181
please use https://discuss.pytorch.org for questions

[2019-06-25 02:46] #22181 closed

[2019-06-25 03:20] veritas9872 commented on #20619
No the push occurs inside the transform. It would be possible to design a custom collate_fn but that would be inefficient. The whole point of doing this is because pushing to GPU is so time consuming. Therefore, the best way is to send to GPU in a data transform.

[2019-06-25 03:42] #22072 closed

[2019-06-25 03:47] mcarilli commented on #22169
It seems like this proposal is basically equivalent to a convenience wrapper that ingests a list of Tensors (or list of lists, whatever), does a deep-copy flatten of the list, then creates a similarly-structured list of views into the flat buffer, and exposes that list of views as the NestedTensor.

Advantages that I see:
- In principle, you can rig the above approach using only Python logic, with

[2019-06-25 03:53] cccober commented on #18325
I met the same issue, how to fix it?

[2019-06-25 04:02] LIMr1209 commented on #18325
However in this case, the serialized data is bound to the specific classes and the exact directory structure used, so it can break in various ways when used in other projects, or after some serious refactors. @cccober

[2019-06-25 05:10] luzhilin19951120 commented on #22107
@ezyang Well, I see. You have already restored base_lr mechanism in master~
By the way, when do you plan to release PyTorch1.2.0 or 1.1.1 ?

[2019-06-25 05:48] wormwang opened #22187 "Linker failed on building source of PyTorch v1.1.0 with ROCm 2.4 on ARM64"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. AMD ROCm 2.4
2. PyTorch v1.1.0
3, Ubunut 18.0.4

export NO_CUDA=1
export NO_DISTRIBUTED=1
export NO_MKLDNN=1
export NO_NNPACK=1
export NO_QNNPACK=1

USE_ROCM=1 USE_LMDB=1 USE_OPENCV=1 MAX_JOBS=56 python setup.py install --user

Error log

[code]

[2019-06-25 06:21] ShahriarSS commented on #19545
Hi @gchanan Any news?

[2019-06-25 06:24] kingaza commented on #21402
well, I found this problem was caused by **dropout** in jit situation. The problem exists still even I load the model by `torch.jit.load()` in python code instead of C++

if I remove the two dropout layers, the problem disappears

[code]
However, this problem does not happen if I save and load the model using python pickle's utility:

[code]

[2019-06-25 06:29] suo commented on #21402
Can you try this on the nightly? I believe https://github.com/pytorch/pytorch/pull/20760 may have fixed it

[2019-06-25 06:33] chennian32 commented on #21894
https://github.com/chennian32/fast_torch/blob/master/optimizer.h

[2019-06-25 07:11] unlimblue opened #22192 "Sync Batchnorm running var update issue"
## 🐛 Bug

Sync Batchnorm `running_var`value update Issue

#### Issue
We @unlimblue @OscarZhangF find when input size is different between gpus, the `running_var` value doesn't sync between gpus.
e.g:
gpu0: input size ? x 3 x 300 x 300
gpu1: input size ? x 3 x 500 x 500

in [_functions.py](https://github.com/pytorch/pytorch/blob/master/torch/nn/modules/_functions.py#L35) line 35:
[code]
the argumen

[2019-06-25 07:18] cccober commented on #18325
thanks!

[2019-06-25 07:35] jvesely commented on #21363
Does it mean that pytorch-1.1.0 requires numpy>=3.16?
Shouldn't the wheel indicate its dependencies icnluding version?

There's a reason psyneulink restricts numpy to <3.16; change of behavior that causes errors in few workloads.
I've run appveyor tests and numpy-3.16 makes "import pytorch" succeed[0] (I can't test the full test run).

pytorch-1.1.0 appears to work OK with numpy-3.15 in Linux and

[2019-06-25 08:10] peterjc123 commented on #21363
Yes, looks like the version constraints of numpy are inconsistent between wheels and conda packages and between different OS. @soumith Should we pin them to a specific version?
https://github.com/pytorch/builder/blob/master/wheel/build_wheel.sh#L133
https://github.com/pytorch/builder/blob/master/manywheel/build_common.sh#L99
https://github.com/pytorch/builder/blob/master/windows/build_pytorch.bat#

[2019-06-25 09:01] amirassov commented on #13834
@cissoidx @0wu @zhutmost @jasonlovescoding have you solved this problem?

[2019-06-25 09:13] taojiashu opened #22195 "Building from source failed without explicit error message"
## 🐛 Bug
Building from source failed after printing out this line. No explicit error message is printed out, so I am quite confused what went wrong.

[code]

## To Reproduce

Steps to reproduce the behavior:
Since CUDA 9.2 is not compatible with GCC 7, CUDA host compiler is set to be gcc-4.8. Running `USE_OPENCV=1 USE_LMDB=1 USE_FFMPEG=1 python setup.py install` gives the above result.

The CMakeE

[2019-06-25 09:18] unlimblue commented on #22192
It's necessary add some input size sync mechanism, and change the signature of `batch_norm_reduce_statistics_kernel` in [Normalization.cuh line 387](https://github.com/pytorch/pytorch/blob/e016a424ef697cff70e1473fee9f97b9b4d5711f/aten/src/ATen/native/cuda/Normalization.cuh#L387):

[code]
to
[code]

[2019-06-25 09:21] iiSeymour commented on #2591
@MaigoAkisame if I write my own or use @rdipietro version I end up with `ATen` op in the graph such as  `onnx::ATen[dim=1, keepdim=1, operator="max"]` and the following warning:

[2019-06-25 10:21] azuredsky opened #22196 "torch::jit::load("./lc_model.pt") failed"
## 🐛 Bug
what():  open file failed, file path

Debug:
[code]

Release:
[code]

## To Reproduce

Steps to reproduce the behavior:
torch                              1.1.0
torchvision                        0.3.0

[code]

## Expected behavior

## Environment

python collect_env.py
[code]

[2019-06-25 10:41] skrah commented on #21935
It must be a documentation issue:  Looking at c19af59, the original code had the `+ 1` outside of `ceil()` and `floor()`.

[2019-06-25 10:51] jinfagang opened #22197 "libtorch is conflict with ros"
## 🐛 Bug

on ros, this issue happens.

errors:

[code]

this only happens when I link to TORCH_LIBRARIES:

[code]

Once I comment out ${TORCH_LIBRARIES}, the program can build, otherwise it says undefined errors.

Not sure what caursed this error, but on ROS, this is an issue. Hope someone could help me out.

I do not know why linked to TORCH will wipe out catkin libs....................... (abvio

[2019-06-25 11:30] kunyao2015 commented on #15309
@dhaji can you run libtorch  example  using Eclipse? I meet the same problem

[2019-06-25 11:53] jhagege commented on #18325
How about if I want to save multiple values with torch.save ?
I did `torch.save({'model': model.state_dict(), 'acc': best_valid_acc, 'epoch': epoch, 'network_params': network_params, 'drop_path_prob': drop_path_prob}) and encountering the same error.`

[2019-06-25 12:23] jinfagang commented on #14352
I got totally opposite errors.

I can find libtorch, but once link it, it will wipe out catkin libs and got some `undefined reference to `ros::init(int&, char**, std::string const&, unsigned int)'` errors. Unlink libtorch, everything works fine.

my cmakelists:

[code]

[2019-06-25 13:03] HusainKapadia opened #22199 "tensorboardx add_graph unexpected error"
I get the following error when I use writer.add_graph. The code works totally fine when I comment the line.
Error dialog shows:
[code]

[2019-06-25 13:58] pietern opened #22200 "USE_MIOPEN is not a proper CMake variable"
This is mentioned in `setup.py` as configurable, but per `tools/setup_helpers/miopen.py` the actual flag is `NO_MIOPEN`. Also, if you set `USE_MIOPEN=0` when compiling, `setup.py` fails when it tries to build the Python extension. This is caused by CMake not having type information for the USE_MIOPEN variable, because it is not defined anywhere.

[2019-06-25 14:21] malvika2147 commented on #18643
@mdlockyer Can you please add the gists again, the links are currently broken.

[2019-06-25 14:55] VitalyFedyunin commented on #22069
Aha, so you had Pytorch model trained and traced. I will direct you to people who can help you faster.

[2019-06-25 15:03] cpuhrsch commented on #22169
I would not store an auxiliary mask for the packed data layout, it's not required. Indeed you can think of this as a single flat-buffer and the list of Tensors as a list of views. However, they don't have to be contiguous. Each Tensor can have different strides and sizes. They also don't *have* to share memory, we could, as an extension, make that a trait similar to "is_contiguous" ("is_packed"?),

[2019-06-25 15:25] allegroai-git commented on #20585
Content type is octet-stream again:

[code]

[2019-06-25 15:30] WillemvJ commented on #19336
I have the same problem it seems. I am using cmake, with ninja. Not sure how to turn off /permissive.

[2019-06-25 15:40] xvdp commented on #15671
@Balandat in your tests, do measure memory under cuda while broadcasting, before, after, and even after cleanup and broadcast going out of scope. I dont have a good repro but I wonder if there may be leaks in some broadcasting mechanism. Then again i do understand some behaviour that looks like leaks is normal as cuda allocated memory is kept around, so  i dont know, but if you are working on that

[2019-06-25 16:34] mdlockyer commented on #18643
@malvika2147 They should be back up. Sorry about that. Finally got around to changing my old username which breaks all those links

[2019-06-25 16:36] MaigoAkisame commented on #2591
@iiSeymour I get the same warning, but the resulting model seems to work fine.

[2019-06-25 16:39] ngimel commented on #18659
We can't repro internally with 418.67 and latest nightly, can this be closed?

[2019-06-25 16:51] mcarilli commented on #22169
Of course it's doable by "treating each tensor independently" but I'm not sure how treating each member of a NestedTensor "independently" would be different from processing non-nested Tensors in a loop (which is functionally correct, but not performant).  The performance gain with multi tensor apply comes from treating the tensors homogeneously and processing them all with a single launch.

The in

[2019-06-25 16:57] iiSeymour commented on #2591
Under which runtimes/frameworks do you run inference on the export model?

[2019-06-25 17:25] #18353 closed

[2019-06-25 17:34] MaigoAkisame commented on #2591
@iiSeymour This may be FB internal -- I take the onnx model and convert it to logfiledb format, then load it with a class called PredictorWsCached and run prediction.

[2019-06-25 17:47] #20823 closed

[2019-06-25 18:03] iiSeymour commented on #2591
Should `torch.logsumexp` export to a `ReduceLogSumExp` node or a graph with `Max`, `Log`, `Exp`, `Sum`, `Squeeze`?

[2019-06-25 18:07] MaigoAkisame commented on #2591
@iiSeymour I don't know about this level of detail...

[2019-06-25 18:14] tyleretchart commented on #440
Oh sorry! I ended up getting sidetracked by other projects as the Python backwards implementation was enough for that project. Glad it got resolved!

[2019-06-25 18:22] smessmer commented on #21777
the "missing return statement" warning should be fixed in https://github.com/pytorch/pytorch/pull/22216

[2019-06-25 18:30] Chillee commented on #2118
I can probably take this if nobody else is working on it.

[2019-06-25 18:34] fmassa commented on #2118
@Chillee go for it, I don't think there is anyone working on it

[2019-06-25 18:41] umanwizard commented on #21028
Not sure whether I will have time to port this dragon4 code to PyTorch, but I am going to try to.

[2019-06-25 18:43] #18659 closed

[2019-06-25 18:44] umanwizard commented on #22195
There are actually compiler error messages in the logs. For example:

[code]

[2019-06-25 18:46] umanwizard commented on #22195
@SsnL you have fixed similar stuff before; any idea what is wrong?

[2019-06-25 18:50] SsnL commented on #22195
looks like it tries to build with system nccl 1. cc @pietern @mrshenli

[2019-06-25 19:03] mrshenli commented on #22195
THD will be removed soon (see #22065). Hopefully it will address this issue as well.

[2019-06-25 19:18] henon opened #22220 "[doc] nn.Module.forward documentation unclear"
## 📚 Documentation

This note is totally unclear to me. What does it mean? I don't know what should be called afterward and what is meant by former and latter.

![image](https://user-images.githubusercontent.com/44090/60126626-b6d3e100-978e-11e9-9d76-d7df1f7415dc.png)

[2019-06-25 19:21] #18967 closed

[2019-06-25 19:24] cpuhrsch commented on #22169
So your main concern is that a NestedTensor cannot be created from a list of Tensors without a deep copy? That's not a strict requirement, it's simply mirroring the current behavior of torch.tensor.  But there can be other functions or constructors that do what you.

Thanks

If you're creating a list of tensors at each iteration, why wouldn't that be a NestedTensor which represents a list of Tenso

[2019-06-25 19:32] evgeniikozlov commented on #12626
Had the same problem, solved by adding `--compiler=msvc` to `python setup.py build` call

[2019-06-25 19:39] mcarilli commented on #22169
The tensors might be created separately, in scattered locations.  At the point where the loop/common operation must be carried out, it would be nice to pack them into a NestedTensor as shallow views, then call operations on the NestedTensor, which can then dispatch to a backend that "vectorizes" over the owned Tensors efficiently.

[2019-06-25 19:43] cpuhrsch commented on #22169
From a technical perspective it doesn't like anything is preventing us from doing this, if we introduce a separate "packed" annotation that allows applying operations on a list of Tensors with arbitrary memory location and if we introduce a function that can create a view. Maybe something like torch.nestedtensor_view?

Let's think about this more separately. I'll write it down as a requirement.

[2019-06-25 19:57] RylanSchaeffer commented on #21987
In the interim, do you have any recommendations for how to exclude `NaN` while computing the batch-wise mean or sum over a `pack_padded_sequence`?

[2019-06-25 19:59] RylanSchaeffer commented on #21987
For clarify, suppose I have some tensor of shape `(batch size, max sequence length, output dimension)` and many of the last few elements of the sequences are `NaN`. If I want to reduce this down to the batch-wise mean of shape `(batch size)`, how do I do this?

[2019-06-25 20:20] pietern opened #22226 "Use allgatherv for sparse allreduce"
The current sparse allreduce in `ProcessGroupGloo` pads the indices and values tensors to the maximum length across all processes and then performs a regular allgather (because they'll have equal size across processes). Instead, we can use allgatherv, and avoid the padding trick, once #22225 is merged. This is mostly a win for memory usage is there is severe size imbalance between processes. The r

[2019-06-25 20:23] HenryJia commented on #21574
Just tried it, same issue

[2019-06-25 20:24] mcarilli commented on #22169
To be clear, by "pack them into a NestedTensor as shallow views," I meant explicitly NOT creating any new dense/packed storage for them.  By "packing" I meant simply stashing a list of references to the existing tensors where they lie.  The purpose of the NestedTensor wrapper would be to serve as a dispatcher to a backend capable of processing the list of scattered references efficiently.

[2019-06-25 20:27] SsnL commented on #22220
module_instance(inputs)

[2019-06-25 20:27] xuhdev commented on #21574
Could you run `git clean -fdX` first? Also, what are the error messages you have got?

[2019-06-25 20:47] jamesr66a commented on #22147
Hello @jamarshon,

I believe this patch may fix the issue: https://github.com/pytorch/pytorch/pull/22186. I believe it will be landed soon and built into the nightly release. Could you please let us know if that does not fix the issue?

[2019-06-25 20:49] jamesr66a commented on #22170
@ngimel can you take a look? Seems related to fusion on the GPU

[2019-06-25 20:51] pietern commented on #22049
How do you freeze the parameters you don't want to train?

If you set `param.requires_grad = False` before wrapping the model with `torch.nn.parallel.DistributedDataParallel` it should work. If you set this after wrapping then DDP will still expect gradients for those parameters and give the error you posted.

[2019-06-25 20:52] jamesr66a commented on #22196
Hi @azuredsky, does the same code work if you instead pass in a fully-qualified path name to the file? And can you confirm that `./lc_model.pt` lives in the `pwd` of where you invoke your C++ binary?

[2019-06-25 20:54] jamesr66a commented on #22199
@orionr do you have context on this? It looks like TensorboardX is expecting a Value with full shape information, but we don't have that info in the graph

[2019-06-25 20:56] henon commented on #22220
I searched the PyTorch docs and didn't find any hits for `module_instance`. Also class Module doesn't seem to contain such a method when looking at the source. What am I missing?

[2019-06-25 21:28] jerryzh168 opened #22232 "[FYI] Introducing Quantized Tensor"
Hello everyone, here is an update about quantized Tensor, we are actively working on brining in more support for quantization in PyTorch, please stay tuned.
https://github.com/pytorch/pytorch/wiki/Introducing-Quantized-Tensor

[2019-06-25 21:57] jpuigcerver opened #22234 "Inconsistent ctc_loss API"
## 🐛 Bug

When running ctc on the GPU, torch.nn.functional.ctc_loss expects different types for the "targets" input, depending on whether the selected backed is cudnn or the native implementation.

However, the user does not know in advance whether the cuDNN implementation will be used by PyTorch or not. This is very inconvenient since the program may crash without any clear mechanism to prevent i

[2019-06-25 22:26] liukuanlk commented on #21706
@peterjc123 Thanks for updates! Please let me know when this bug is fixed. I appreciate.

[2019-06-25 22:41] spandantiwari commented on #22066
@yil8 and @houseroad - PR https://github.com/pytorch/pytorch/pull/22240 has been submitted for fixing this issue.

[2019-06-25 23:03] ngimel commented on #22170
From the assert message it looks like actual input tensors contiguity (the number of dimensions and the dimensions that can be flattened because they occupy contiguous physical memory regions) and contiguity expected by compiled kernel don't match. Kernel is compiled/retrieved from cache here https://github.com/pytorch/pytorch/blob/v1.0.1/torch/csrc/jit/fuser/executor.cpp#L319-L330, so it looks li

[2019-06-25 23:26] bamos opened #22243 "`torch.lu_solve` gives an unintuitive error message when the inputs are not batched"
## 🐛 Bug

`torch.lu_solve` gives an unintuitive error message when the inputs are not batched

## To Reproduce

[code]

Output:

[code]

## Expected behavior

Manually batching:
[code]

Output:

[code]

[2019-06-25 23:51] SsnL commented on #22220
I was just referring to a generic instance of the module class..

[2019-06-25 23:54] vadimkantorov opened #22246 "[feature request] Inplace bitwise negation operator"
Currently `~mask` is possible, but not inplace, if I understand well.

NumPy equivalent would be https://docs.scipy.org/doc/numpy-1.15.1/reference/generated/numpy.invert.html

[2019-06-25 23:57] Chillee commented on #3867
I can probably take this if @soumith ever wrote that proposal or if someone summarizes what needs to be done. There's been a lot of discussion above and I'm not sure what we've settled on. Are we calculating padding dependent on input data or not, do we need to implement `padding="same"` for pool as well, etc.?

[2019-06-26 00:34] azuredsky commented on #22196
yes ,I'm sure ,I try the full path model instead,and it's the same failed messege.

[2019-06-26 01:13] wanchaol commented on #20239
This is already supported on master

[2019-06-26 01:13] #20239 closed

[2019-06-26 01:26] fuzihaofzh commented on #22049
@pietern Hi, Thanks for your answer. I want to train two network alternately, so, It is set dynamically after DDP. I think DDP should have some functions to dynamically freeze some part of the network, I feel this is a commonly used function.

[2019-06-26 01:31] #21980 closed

[2019-06-26 01:41] wanchaol commented on #21478
@jamarshon I digged into this a bit. I noticed that our operator schema for `stft` does not contains `pad_mode` and `center` as documented [here](https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/native_functions.yaml#L1853). JIT will only take the schema for ATen and the two additional args that is handled by torch.functional is not exposed to JIT. so that's why you are having t

[2019-06-26 01:54] LoveZL0512 commented on #21627
install gcc4.9.2, solve the problem

[2019-06-26 01:54] #21627 closed

[2019-06-26 02:28] yf225 commented on #21902
@ameet20 echo'ing @vishwakftw 's comment, could you share the Python example and the C++ example, so that we can reproduce the contradiction?

[2019-06-26 02:30] taojiashu commented on #22195
Thanks @umanwizard and @SsnL for pointing out that the error is with NCCL. I found a workaround solution from https://github.com/pytorch/pytorch/issues/6451#issuecomment-379956005, and now I have successfully built PyTorch. Closing this issue since it is resolved.

[2019-06-26 02:30] #22195 closed

[2019-06-26 02:32] yf225 commented on #21899
@njtuzzy Currently `set_data` is an API on `torch::autograd::Variable`, not `at::Tensor`. You can do `#include <torch/csrc/autograd/variable.h>`, and then call `torch::autograd::as_variable_ref(a).set_data(b)`.

[2019-06-26 02:39] jignparm commented on #21935
Could this be a bug in the implementation (instead of documentation)? The **+1** being outside or inside the `floor()` function should still result in same value since.
[code]

For example, in issue  microsoft/onnxruntime#1224 , the  tensor size, kernel etc. variables are **i=4 ,k=3 d=2, s=2, p=0**

If the **+1** is **inside** the size computed is:

[code]

If the **+1** is **outside** the functio

[2019-06-26 02:39] yf225 commented on #12308
We need to discuss how we should prioritize this feature.

[2019-06-26 02:44] yf225 commented on #22068
@chinafei Could you try compiling libtorch with your local copy of gcc-5 and g++-5? (instruction is at https://github.com/pytorch/pytorch/blob/master/docs/libtorch.rst#libtorch-c-only) The segmentation fault could come from ABI incompatibility issue.

[2019-06-26 02:53] yf225 commented on #21894
This is likely the same issue as https://github.com/pytorch/pytorch/issues/20146. Adding `NoGradGuard guard;` before https://github.com/pytorch/pytorch/blob/1a164bf30bc82a0476520f39eb0bcbe31a2b9f02/torch/csrc/api/src/optim/sgd.cpp#L29 should fix this issue.

[2019-06-26 03:00] yf225 commented on #22192
@mrshenli Would you like to take a look at this issue?

[2019-06-26 03:01] jinfagang commented on #22197
there were 2 mainly problems integrate libtorch in ros:

- TORCH_LIBRARIES will wipe catkin libs since it using some relative link path and catkin libs can not parsed by cmake;
- include can not be properly parsed in cmake since `torch/torch.h` is deeply inside `/torch/csrc/api/cinlude`.

However, using standalone c++ project does not have those issue, and totally no idea why... It can be easily r

[2019-06-26 03:01] yf225 commented on #22187
@bddppq Would you like to take a look at this issue?

[2019-06-26 03:03] yf225 commented on #12626
It seems that the issue has been resolved. I am closing it.

[2019-06-26 03:03] #12626 closed

[2019-06-26 03:07] mrshenli commented on #22192
Hi @unlimblue, thanks for reporting and proposing the fix. It seems you already have the solution to it. Do you want to submit a PR? I will be happy to review and land.

[2019-06-26 03:13] yf225 commented on #22220
@henon An example for this would be:
[code]
We should add a simple example in the `nn.Module.forward` doc about this.

[2019-06-26 03:18] wanghuogen commented on #10234
Good solution!

[2019-06-26 03:19] yf225 commented on #22127
@jsyx1994 Could you try out @fmassa 's and @zou3519 's suggestions, and let us know the result of your experiments?

[2019-06-26 03:21] unlimblue commented on #22192
Yeah, I have submitted a [PR https://github.com/pytorch/pytorch/pull/22248](https://github.com/pytorch/pytorch/pull/22248), and a fail test looks like some internet issue.

[2019-06-26 03:25] BokyLiu opened #22249 "How to convert pytorch0.41 model to CAFFE"

[2019-06-26 03:26] soumith commented on #22249
we dont have this support

[2019-06-26 03:26] #22249 closed

[2019-06-26 03:28] BokyLiu commented on #22249
all right

[2019-06-26 03:47] vishwakftw commented on #22243
Thank you for reporting this. I’m working on adding batching to lu_solve, currently hindered by a MAGMA issue.

[2019-06-26 05:29] taotaohan commented on #22116
thanks

[2019-06-26 05:34] kingaza commented on #21402
There is something wrong...
pytorch-1.2-dev is installed successfully, then I want to install torchvision as well. However, torchvision-0.3.0 requires me to install pytorch-1.1
@suo , could you give me some hints? thx a lot.

btw, when will pytorch-1.2 be released officially?

[2019-06-26 05:42] Bridxo commented on #6780
I have similar problem just like this @ahirner solution not work on me;;

here is the error:
`Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/user/miniconda/envs/py36/lib/python3.6/site-packages/torch/onnx/__init__.py", line 32, in export
    return utils.export(*args, **kwargs)
  File "/home/user/miniconda/envs/py36/lib/python3.6/site-packages/torch/onnx/uti

[2019-06-26 06:10] enhuiz opened #22251 "PackedSequence's sorted_indices is not put on cuda when to('cuda') is called."
## 🐛 Bug

PackedSequence's sorted_indices is not put on cuda when `.to('cuda')` is called, but `.to(device='cuda')` works. The problem seems to be here:

https://github.com/pytorch/pytorch/blob/c1fc2f25c2ca58cd6f39c96193f2183a2a561e7b/torch/nn/utils/rnn.py#L194

Maybe it should be `lambda t: t.to(*args, **kwargs)` as the previous line:

https://github.com/pytorch/pytorch/blob/c1fc2f25c2ca58cd6f39c

[2019-06-26 06:15] jinfagang opened #22252 "[libtorch] header warning suppression"
[code]

How to disable those header file warnings?

[2019-06-26 06:57] huyalvchuan opened #22253 "Do Standard pretrained models be trained with L2?"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

[2019-06-26 07:02] fmassa commented on #22253
We use GitHub issues to track bugs and feature requests. Questions are better suited for the forums discuss.pytorch.org

But in general, the pre-trained models are trained with `weight_decay`, which is the L2 regularization

[2019-06-26 07:02] #22253 closed

[2019-06-26 07:10] peterjc123 commented on #21706
You can try the patch https://github.com/pytorch/pytorch/pull/22182 yourself. Just change the header `c10/util/Optional.h` and it's not needed to build from source.

[2019-06-26 07:20] jinfagang commented on #13541
It's not ABI issue at all....

[code]

I keep getting this issue

[2019-06-26 07:29] henon commented on #22220
@yf225 thanks for the explanation. So is it true to say that any Module is in fact a Callable?

[2019-06-26 07:50] jinfagang opened #22254 "[libtorch] cmake error"
when using

[code]

Simply got errors:

[code]

[2019-06-26 07:50] jinfagang commented on #22254
then:

[code]

[2019-06-26 08:04] #22254 closed

[2019-06-26 08:05] azuredsky commented on #22196
I solved it with torch script,thank you

[2019-06-26 08:06] ferrine opened #22255 "Schema not found for node torch::eye"
## 🐛 Bug

Testing geoopt against torch-nightly fails probably due to backward incompatible changes from torch side

## To Reproduce

Steps to reproduce the behavior:

Installing torch_nightly for some reason allowed to import geoopt locally, hmm

https://travis-ci.com/geoopt/geoopt/jobs/210289618#L1310

## Expected behavior

no error

## Environment

Please copy and paste the output from our
https

[2019-06-26 08:22] vishwakftw commented on #22086
Closed by #22183

[2019-06-26 08:22] #22086 closed

[2019-06-26 08:59] jinfagang opened #22256 "build libtorch with new ABI"
Users hard to integrate libtorch prebuilt binaries with old ABI, for example, I can not link libtorch and ros libs at the same time in a ROS project using libtorch.

Does any flags or variables to change to using new ABI to build?

[2019-06-26 09:25] chinafei commented on #22068
It works on me, Tank you !!!
https://github.com/pytorch/pytorch/blob/master/docs/libtorch.rst#libtorch-c-only

[2019-06-26 09:28] jhagege commented on #19996
+1

[2019-06-26 09:33] moskomule commented on #19996
Could you post a reproductive code if possible?

[2019-06-26 10:08] Auth0rM0rgan commented on #6934
@musikisomorphie, Thanks for working on SSIM. I am just curious to know, when are you going to open PR and public your code?!

[2019-06-26 10:55] pietern commented on #21922
All we do on the PyTorch side is pass through these CUDA pointers to MPI.

Are you sure that your MPI distribution can deal with non-0 CUDA devices?

[2019-06-26 11:14] jinfagang opened #22258 "build pytorch from source error"
[code]

[2019-06-26 11:18] junedgar opened #22259 "using multi tread lead to gpu stuck with GPU-util 100%"
I tried to  inference using multi thread, but gpu stuck with GPU-Util 100%.
The pytorch  was builded from source in branch v1.1.0.
But if i install the torch from pip or conda, the some code can work smoothly.
Is there ignore some import process in building?
I followed the guidance：
[code]

[2019-06-26 11:23] wormwang commented on #22187
if u need, we open our testing ARM64+ROCm server for u. pls email me wormwang@yahoo.com

[2019-06-26 11:51] KaiQiao1992 commented on #18643
I encounter the same problem, and memory is about 8GB higher when executing the second loss.backward(). I do not know why.

[2019-06-26 11:59] Xyand commented on #21922
I use OpenMPI 3.0.0, it seems to support multiple GPUs per device. See:
https://www.open-mpi.org/faq/?category=runcuda (see code sample near "*NUMA
Node Issues")*

On Wed, Jun 26, 2019 at 1:56 PM Pieter Noordhuis <notifications@github.com>
wrote:

[2019-06-26 12:13] pietern commented on #22049
Just to make sure I understand correctly:
* You have 2 models that are each individually wrapped with DDP
* You want to train them alternately
* You do so by setting all model parameters to `requires_grad = False`

For the last one, do you freeze ALL parameters or only a subset? I believe that you can freeze the whole model today, and it should work out of the box. Only if you freeze a subset of t

[2019-06-26 12:22] skrah commented on #21935
@jignparm Thanks, I replied too hastily. :)

So, revisiting c19af59:  Integer division in `C++` truncates toward zero, which gives unexpected results if the intermediate result in `pooling_output_shape()` before the division is negative:

[code]

Contrast with Python, which does not:

[code]

So the question is if this was deliberate or not, perhaps @f0k can say more.  Removing the doc label.

[2019-06-26 12:27] pietern opened #22260 "Set OMP_NUM_THREADS in torch.distributed.launch"
Per #20311 the default value for this (and related) settings may be too high if you launch multiple PyTorch processes per machine. We can do better and provide a more sane default that is tuned to the number of processes to launch in `torch.distributed.launch`.

@VitalyFedyunin Besides OMP_NUM_THREADS, which other variables could we provide a better default for, knowing the number of processes we'

[2019-06-26 12:31] pietern commented on #15638
@jackalcooper Can you confirm this is still an issue for you on HEAD, and create a new issue if so?

[2019-06-26 12:55] jamarshon commented on #22147
Yes it works now. Seems like the patch fixed it.

[2019-06-26 12:55] #22147 closed

[2019-06-26 12:59] jamarshon commented on #21478
@wanchaol do you mean use `torch.functional.stft`? because that does not work either

[2019-06-26 13:35] ashukid commented on #20240
@yifuwang are you working on this. If not I'd like to take on this one. Let me know.

[2019-06-26 13:41] scientium commented on #21818
Any help? Anyone?

[2019-06-26 13:52] jrapin commented on #20134
I've run into a similar issue, and using a lower number of jobs (MAX_JOBS=4 instead of 36, in my case) *seems* to have solved it, so this could be a resource issue.

Also, in my case, the logs started printing errors before the final `command` error. Maybe you also have some?
[code]

[2019-06-26 13:54] #22068 closed

[2019-06-26 13:57] #21363 closed

[2019-06-26 13:57] soumith commented on #21363
@peterjc123 except for the windows one, the others all were pinned.

[2019-06-26 14:03] ndrizza commented on #12819
Same problem. Do you have any solution?

[2019-06-26 14:24] jvesely commented on #21363
@soumith will the fix be available for 1.1.0 wheels?

[2019-06-26 14:27] izdeby opened #22262 "Why is THPVariable_invert implemented on the python level and not c++"
It looks like THPVariable_invert should be implemented in C++ to avoid duplicate work from a JIT team.

For more details, please, see [PR](https://github.com/pytorch/pytorch/pull/21113) comments.

[2019-06-26 14:28] versine commented on #20356
I have run into exactly the same problem trying to load a tensor into C++, and wondered if you ever found a solution?

[2019-06-26 14:32] #21706 closed

[2019-06-26 14:40] apaszke commented on #22220
@henon yes, every module is a callable, and calling it is (modulo some bookkeeping that we do automatically) equivalent to doing `module.forward(input)` (**which you should never do!!**).

[2019-06-26 15:58] houseroad commented on #21537
Some of our internal training jobs are also affected by this memory leak. After disabling the mkldnn, the problem is gone. Could you @jgong5 prioritize this issue? Thanks in advance.

[2019-06-26 16:03] colesbury commented on #22262
To clarify, it's [written in C++](https://github.com/pytorch/pytorch/blob/5f84f372a6fcd265bdd00f1f4481a47815ee6fc3/tools/autograd/templates/python_variable_methods.cpp#L285-L299) but it's defined in python_variable_methods.cpp not in ATen.

For the "why" part, it was because of the funky name in Python (`__invert__`) and because it was implemented as a simple one-liner: `1 - self`.

The name turns

[2019-06-26 16:07] Shekharrajak opened #22263 "Development setup - docs"
Hello team,

I am trying to build the docs without installing PyTorch in my system(actually isolated environment). I installed Sphinx and followed [this steps](https://github.com/pytorch/pytorch#building-the-documentation) :

[code]
it installed perfectly and then I run `make html`

but I got error

[code]

Is it possible to build the docs without installing the PyTorch or directly use the cloned

[2019-06-26 16:13] ailzhang commented on #21826
@luricheng Try switching to python3 or latest pytorch master for py2 with `torch.hub.load(..., force_reload=True)`?

[2019-06-26 16:39] soumith commented on #18318
some more details have been posted here: https://github.com/pytorch/pytorch/wiki/Introducing-Quantized-Tensor

[2019-06-26 16:45] soumith commented on #22263
it isn't possible to build the docs without installing PyTorch at the moment. we likely wont want to support that case in the near future.

[2019-06-26 16:45] #22263 closed

[2019-06-26 17:22] ezyang commented on #17249
Hi @dylanbespalko, sorry about losing your design comments here. Having re-reviewed your comments, I understand the context on your new PRs a bit better; especially, I understand why you have decided to only do ptype propagation, as opposed to the more general ufunc solution (which is what I had originally, prior to rereading your updates here, been under the impression that you were planning to d

[2019-06-26 17:39] ezyang commented on #22107
1.1.1 is unlikely to happen; 1.2.0 should happen in a few months.

Excerpts from Hubery Lu's message of 2019-06-24 22:11:44 -0700:

[2019-06-26 17:45] Krovatkin opened #22269 "Add user-facing Function, so we don't have to expose torch.jit._C.Function"
Add user-facing Function, so we don't have to expose torch.jit._C.Function

More details:
https://github.com/pytorch/pytorch/pull/22090#discussion_r296443544

[2019-06-26 18:23] mdlockyer commented on #18643
@KaiQiao1992 it may be worth noting in this discussion that if you are using adaptive optimizers like Adam, there are a lot of buffers being created under the hood. They are very memory hungry. Adam creates two buffers the are of equal size to the weights being optimized(so it’s model size x2) and if amsgrad is on it will add a third. Not sure if that is relevant to your case, but I thought I’d pu

[2019-06-26 18:25] mcarilli commented on #22169
@cpuhrsch How do you imagine autograd working for a NestedTensor?  Let's say you carry out
`n2 = n0*n1`, where n0 and n1 are NestedTensors whose owned tensors all require grad (or, even worse, maybe some of them require grad and some of them don't).  How would the autograd history be recorded in this case?  How would the gradients be passed back?

You said something about

but I'm not entirely sur

[2019-06-26 18:35] musikisomorphie commented on #6934
@Auth0rM0rgan The PR is opened, https://github.com/pytorch/pytorch/pull/21256. Unfortunately, I may not keep maintaining it due to my busy schedule. My code can be a good starting point, you can give it a try.

[2019-06-26 19:28] yinghai commented on #21537
@jgong5 Our profiling shows that this place is holding all the memory

https://github.com/intel/ideep/blob/pytorch/include/ideep/tensor.hpp#L513

[2019-06-26 19:57] rtqichen opened #22274 "second derivatives of unfold"
## 🚀 Feature

Backprop through backprop of `torch.nn.functional.unfold`.

## Motivation

I'm trying to research models where I need to use fancy convolutions (e.g. https://discuss.pytorch.org/t/locally-connected-layers/26979) and be able to take the gradient of the gradients. However, currently trying to do this produces

`RuntimeError: derivative for _thnn_im2col_backward is not implemented`

##

[2019-06-26 19:59] dylanbespalko commented on #17249
Hi @ezyang,

The original plan was to implement both `__tensor_ufunc__` for torch methods and `__array_ufunc__` for numpy methods.  This would have provided the following:
    1.  ptype propagation for tensor subclassing. (Done in `THPVariable_result_ptype`)
    2.  And the ability to overload tensor methods in `__tensor_ufunc__`.  (Not done).

My original python implementation was calling the tor

[2019-06-26 20:26] skrah opened #22277 "Handle all IntArrayRef expansions in ATen"
See #22032 and #20866 for the rationale and #22073 for an example.

[2019-06-26 20:41] vincentqb commented on #22107
As mentioned in #21800, the recursive behavior means that calling `get_lr` will compute the new learning rate based on the current learning rate (which has changed when using step). `get_lr` doesn't set the learning rate and so the training is not affected. The recursive code behave as it should, but this may be confusing as is happening here.

As mentioned [here](https://github.com/pytorch/pytorc

[2019-06-26 21:48] vincentqb opened #22281 "Box constraints for optimizers"
## 🚀 Feature

Offer the option to set box constraints for optimizers.

## Motivation

In some applications of reinforcement learning, falling outside of a region correspond to inadmissible actions.

## Alternatives

One can omit the constraints, and hope that the optimal parameters found happen to be within the constraints, without any guarantees.

## Additional context

This was suggested in #938

[2019-06-26 21:49] vincentqb commented on #22281
@natolambert

[2019-06-26 21:53] houseroad commented on #21537
Some context from my profiling:
Stack
https://github.com/intel/ideep/blob/d7304e0345c3f0647cb020a71682d680b9f0424a/include/ideep/computations.hpp#L595
=>
https://github.com/intel/ideep/blob/d7304e0345c3f0647cb020a71682d680b9f0424a/include/ideep/computations.hpp#L539

[2019-06-26 22:19] Jianhui-Li commented on #21537
@yinghai @houseroad  Thanks for the info.

@uyongw  Any update?

[2019-06-26 22:45] cpuhrsch commented on #22169
@mcarilli - NestedTensor is still supposed to be a tensor, so the idea is that anything like requires_grad or detach acts on the Tensor as a whole and not individually. If you implement operator* with a data and masking Tensor for two given NestedTensors a and b and with result stored in c, you'd check that a, b and c's mask Tensors match and multiply a and b's data Tensors with the result stored

[2019-06-26 23:08] mcarilli commented on #22169
Do you expect/require that the gradient created for a NestedTensor is also flattened/contiguously stored?  This could become a big problem for performance if people extract (unbind) individual Tensors as slices of the contiguously-allocated NestedTensor, perform autograd ops on the individual Tensors, then backward into these individual Tensors.  Currently, the backward implementation of slicing c

[2019-06-26 23:26] dylanbespalko commented on #17249
### Another Code Design Recommendation
   1. Would it be possible to declare a Parameter in the same way you specify requires_grad?

Example:
[code]
I know that I'm taking subclassing away from Parameter and that I'm mixing torch.nn with torch, but this may save you some pain if you have decided to explore general purpose subclassing of Tensors.

[2019-06-26 23:59] dylanbespalko commented on #17249
Here is some pseudo-code of how I would like an autogenerated function/method to look:

torch/csrc/autograd/generated/python_torch_functions.cpp
[code]

torch/csrc/autograd/generated/python_methods.cpp
[code]

Here, every method call is passed through `__tensor_ufunc__` to look for  ptype propagation and function overrides before the parameters are passed to the namespace function.

1.  The first

[2019-06-27 00:52] cpuhrsch commented on #22169
@mcarilli - No, we should make the packed layout optional and use it when it makes sense.

[2019-06-27 01:07] jignparm commented on #21935
The implementation should allow for the output size to be 0 if the kernel is larger than input.

For example, if ** i=2, p=0, d=1, s=2, k=3**, the kernel is 1 pixel larger than the input.

The formula says output size =  **(2 - 3 )/ 2 + 1** =  **-1/2 + 1**

However, in  the C++ implementation above, because of truncation (and not flooring) we get output size = 1. In Python we get 0.

If k=4, then

[2019-06-27 01:19] gujinghui commented on #21537
we're working on this already. will give update ASAP.

[2019-06-27 02:06] huyalvchuan commented on #22253
Thanks!

[2019-06-27 02:15] conraddd commented on #12831
I have this issue on linux as well, set worker=0 solve the issue. Not sure if it is related to multiprocessing.set_start_method because I set it to "spawn" to avoid CUDA error when initialize model in child process.

[2019-06-27 02:46] jsyx1994 commented on #22127
emm...Sorry for the late reply and thanks for your suggestions. I have tried to use ```LD_PRELOAD=`jemalloc-config --libdir`/libjemalloc.so.`jemalloc-config --revision python3 test.py``` in terminal and that works fine.  But I think the main problem is that I ran 'test.py' in **Pycharm IDE** before, since I type `python3 test.py` in terminal it works fine too.

[2019-06-27 03:02] veritas9872 commented on #6934
@musikisomorphie  Thank you for your work. I have been able to create my own working version of SSIM and MS-SSIM thanks to you. Although, I am not at all sure whether my version works on other systems.

[2019-06-27 03:05] buduo15 opened #22290 "How to define a new backward function in libtorch ?"
## ❓Is it possible to define a backward function libtorch ?

###  In pytorch, a new backward function can  be defined
`

class new_function(torch.autograd.Function):

         def ....

         def forward(self,...)

         def backward(self, ...)

`
However, in libtorch,  how to define a new backward function?

[2019-06-27 03:41] jsyx1994 commented on #22127
I test ```LD_PRELOAD=`jemalloc-config --libdir`/libjemalloc.so.`jemalloc-config --revision` python3 ~/PycharmProjects/Coola_RTS/ServerAI.py``` on ubuntu. It seems no use.

[2019-06-27 03:56] ailzhang commented on #22258
Hi @jinfagang , this log is truncated. Please clean and rebuild and paste the error logs here so that we can help. Thanks!

[2019-06-27 03:56] #22258 closed

[2019-06-27 03:58] ailzhang commented on #22259
@junedgar do you know where the the GPU got stuck, e.g gdb stack? And if you could paste a minimal repro script, it would be very helpful.

[2019-06-27 05:03] jinfagang opened #22294 "build error: multiple definition of `omp_get_place_num'"
building from master branch got this error:

[code]

it's from master branch, seems related with mklml. any idea?

cc @ezyang @gchanan @gujinghui @PenghuiCheng @XiaobingSuper @jianyuh

[2019-06-27 05:06] jinfagang commented on #21834
I got same error from master branch:

[code]

it this only for master branch? how about v1.1.0?

[2019-06-27 05:11] KaitoHH opened #22296 "Support data parallel for heterogeneous GPU"
## 🚀 Feature

Hopefully, `torch.nn.DataParallel` can support data parallel on multiple heterogeneous GPU.

## Motivation

I'm currently working on a big model and would like to use `torch.nn.DataParallel` to speed up training. However, I use two different GPU on my computer, i.e, GTX 1060 and GTX 1080, when I train the model, 1060 becomes a bottleneck and slows down the whole training process.

##

[2019-06-27 05:27] wormwang opened #22297 "gold linking error on building source of PyTorch v1.0.1 with ROCm 2.4: /usr/bin/ld: error: Stub is too far away, try a smaller value for '--stub-group-size'. The current value is 0x7ffbffc."
## 🐛 Bug

Steps to reproduce the behavior:

    AMD ROCm 2.4
    PyTorch v1.0.1
    gold linker
    Ubunut 18.0.4 on AArch64

export NO_CUDA=1
export NO_DISTRIBUTED=1
export NO_MKLDNN=1
export NO_NNPACK=1
export NO_QNNPACK=1

USE_ROCM=1 USE_LMDB=1 USE_OPENCV=1 MAX_JOBS=56 python setup.py install --user

Error log

cc1plus: warning: unrecognized command line option ‘-Wno-inconsistent-missing-overri

[2019-06-27 05:38] mdlockyer commented on #18643
@KaiQiao1992 8GB sounds steep for optimizer buffers though. That is a significant amount. Hopefully you’re able to figure it out. [This](https://github.com/stonesjtu/pytorch_memlab) may help. It’s a memory profiler for PyTorch. I haven’t tested it out, but it could be of use.

[2019-06-27 06:43] aidoshacks commented on #16417
How does one reduce the batch size? Thanks in advance!

[2019-06-27 06:57] ShahriarSS commented on #22022
@ifedan when a function has arguements that have default values you have to assign a value to that arguement in nn::Functional and you can't leave it empty.

For example ```torch::nn::Functional(torch::max_pool2d, 2)``` will not compile. you can write ```torch::nn::Functional(torch::max_pool2d, 2, 2, 0, 1, false)```.

[2019-06-27 07:03] jcarius commented on #21834
I had the same error. As a temporary workaround, I set
`export USE_MKLDNN=0`
`export BUILD_TEST=0`
before building.

[2019-06-27 07:06] ShahriarSS opened #22298 "[c++] Can't use Sequential inside Sequential"
Hi. I was implementing MNASNet for C++ side in torchvision and I ran into this problem. apparently using ```nn::Sequential``` inside ```nn::Sequential``` is not possible. Here is the minimal code:

[code]

@yf225 Can you have a look?

[2019-06-27 07:07] ShahriarSS commented on #22298
Apparently the problem is that nn::Sequential has templated forward function.

[2019-06-27 07:13] azuredsky commented on #21627
I have install gcc4.9.2, solved it too

[2019-06-27 07:56] Auth0rM0rgan commented on #6934
Hey @veritas9872, could you share your version?!

Thanks

[2019-06-27 08:23] lightningsoon commented on #1355
it's a good idea as well

At 2019-06-20 10:51:02, "hongzhenwang" <notifications@github.com> wrote:

the data loader stops when I finish an epoch and will start a new epoch.

meet the same problem. In my case, the problem arise when I install opencv-python (I have installed opencv3 before). After move opencv-python, the training will not stop.

—
You are receiving this because you commented.
Reply

[2019-06-27 08:34] f0k commented on #21935
Oh, good catch @lara-hdr. I'm quite sure I was not aware of different truncation rules between Python and C++ when I wrote this, my goal was to have the implementation match the documentation, and I relied on the existing test suite to tell me whether all edge cases were handled correctly. So this is a bug in the implementation and the test suite.

Note that only C++11 and above are guaranteed to

[2019-06-27 08:45] skrah commented on #21935
It should raise an error in `shape_check()`:

[code]

[2019-06-27 08:48] danFromTelAviv commented on #3867
I'd like to add causal padding as well. and please also add this to conv1d.
i stopped following the comments at some point but i think this feature is very well done in keras. you should follow it exactly.

[2019-06-27 09:02] luzhilin19951120 commented on #22107
@vincentqb I think keeping the old base_lr mechanisim will be better.

The scheduler should be independent with the optimizer, do not make iterable call between them. After using optimizer to initialize the scheduler (and set the self.base_lr of scheduler of course), all the scheduler behaviour should not rely on the optimizer.

__And I think you should add get_lr() to the document. It is a common

[2019-06-27 09:04] skrah commented on #21935
@jignparm However, in your example with `k=4`, the shape check (which is separate code) raises:

[code]

[2019-06-27 09:05] f0k commented on #21935
Ok, for that it's enough if we return an output size of zero:
https://github.com/pytorch/pytorch/blob/31e1e63/aten/src/ATen/native/Pool.h#L64-L69

I'm asking because then we could just return 0 if the nominator is <= zero before dividing by the stride, instead of implementing [a properly flooring integer division](https://godbolt.org/#g:!((g:!((g:!((h:codeEditor,i:(j:1,lang:c%2B%2B,source:'%23incl

[2019-06-27 09:05] luzhilin19951120 commented on #22107
@vincentqb Also, some extra scheduler may be added as well. like warm up, power function scheduler... But implementation of these scheduler is simple. Maybe your plan is to leave it to the user~ (I implement many other scheduler and a scheduler wrapper that can concatenate different scheduler. ^o^)

[2019-06-27 09:40] f0k commented on #21935
Just checked what the convolution shape computation does, turns out they use a `div_rtn` function, which is the second of the implementations I linked to: https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/div_rtn.h
So we should just reuse it here, and extend the test suite accordingly.

[2019-06-27 09:55] jignparm commented on #21935
From the the case of K=4 that @skrah mentioned above,  it looks like the prevailing pattern is to  raise an exception. A negative value would be confusing -- so 0 or else raising exception seems most logical.,

[2019-06-27 10:07] meganset opened #22300 "AT_ERROR macro changed, now causes g++/clang compilation errors"
## 🐛 Bug

This code pattern:

[code]
generates
fatal error: expected expression

on gcc & clang.

The workaround is to introduce braces, e.g.
[code]
This error was not present in version 1.1.0 but I see it now from Tues (Jun 25) build.
(?)

[2019-06-27 10:26] azakhtyamov opened #22301 "Ambiguous torch.Tensor int vs float comparison"
## 🐛 Bug

Ambiguous torch.Tensor int vs float comparison

## To Reproduce
input: torch.Tensor([0]).int() < 0.5
output: tensor([0], dtype=torch.uint8)

## Expected behavior
Expected numpy-like behavior:
input: torch.Tensor([0]).int() < 0.5
output: tensor([1])

- PyTorch 1.0.1
- Ubuntu 18.04

[2019-06-27 10:35] f0k commented on #21935
The exception is not raised by the shape computation code, but outside, and [the exception message includes the computed shape](https://github.com/pytorch/pytorch/blob/31e1e63/aten/src/ATen/native/Pool.h#L64-L69). Not sure if it would make a difference for anything else but the message. But I'd suggest to be consistent with the convolution, since it's the same problem.

[2019-06-27 10:42] apaszke commented on #19092
BTW why do we have to create a new concept instead of just sticking to `layout`? I don't think that sparse representations have a well defined concept of a layout like "channels_last", so we don't need to represent a product of `memory_formats * layouts` (`layouts` refers to the current usage), but only `memory_format + layouts` meaning that it should be fine to use the same argument? For me it's

[2019-06-27 12:29] fuzihaofzh commented on #22049
I have 2 models but I  wrapped them in one DDP. This may be the problem. Is it possible to wrap all models in one DDP and dynamically freeze the parameters? I think this may make thing much easier?

[2019-06-27 12:31] hoangcuongbk80 commented on #17334
I used PyTorch-1.0 and ran ./experiments/scripts/train_ycb.sh from [DenseFusion.](https://github.com/j96w/DenseFusion)

Then I got the error:

pred = torch.add(torch.bmm(model_points, base), points + pred_t) RuntimeError: cublas runtime error : the GPU program failed to execute at /pytorch/aten/src/THC/THCBlas.cu:441

My system:

    GeForce RTX 2080 Ti
    nvidia/cuda:10.0-cudnn7-devel-ubuntu16.0

[2019-06-27 12:32] iiSeymour commented on #2591
So `torch.{max,min}(input, dim, keepdim)` has been fixed @lara-hdr here https://github.com/pytorch/pytorch/pull/19689, any ideas about `torch.logsumexp`?

[2019-06-27 14:23] pietern commented on #22049
It is not possible today to partially freeze a DDP wrapped model. Either you freeze the whole thing (and no model parameter receives gradients), or none at all. If you want to alternate between two models, it is best to wrap them separately and freeze them entirely, separately, as well.

[2019-06-27 14:30] pietern commented on #5805
Sparse allreduce for the Gloo backend was merged in #22036.

For other sparse collectives or support for other backends, issues can be added as needed.

[2019-06-27 14:30] #5805 closed

[2019-06-27 14:32] pietern commented on #6267
This issue hasn't been updated in more than a year -- closing it.

[2019-06-27 14:32] #6267 closed

[2019-06-27 15:02] ihexx commented on #20619
thanks that worked

[2019-06-27 15:19] meganset commented on #12083
looks like this is fixed in the refactoring..thanks

[2019-06-27 15:19] #12083 closed

[2019-06-27 16:15] hadifar opened #22305 "element-wise multiplication out of memory"
How can I do following element-wise multiplication in Pytorch without out of memory?

[code]
[code]

I did the same thing in tensorflow and worked fine:

[code]

[2019-06-27 17:34] iiSeymour commented on #2591
Okay so I think `logsumexp` is as simple as https://github.com/pytorch/pytorch/pull/22306.

[2019-06-27 17:44] mcarilli commented on #22169
You'll find it's not ideal.  Each slice that is sliced from a large buffer will create a full-size gradient buffer and accumulate it into the [InputBuffer](https://github.com/pytorch/pytorch/blob/master/torch/csrc/autograd/engine.cpp#L572) for the large buffers `grad_fn`.

[2019-06-27 18:25] ezyang commented on #17249
This absolutely sounds solvable, although it might require some subtle internal changes to make it happen. But I agree in principle we can make this happen.

[2019-06-27 18:38] geetickachauhan opened #22311 "Installing previous versions of pytorch using conda throws HTTP 400 bad request"
## 📚 Documentation

As per the description at `https://pytorch.org/get-started/previous-versions/` I use `conda install pytorch=0.4.1 cuda90 -c pytorch` but keep getting the following error:

[code]
I attempted to `conda install` pytorch from other channels, but 0.4 version does not seem available anymore.

[2019-06-27 18:40] colesbury commented on #22300
@ezyang the issue is the extra semicolon in the `do {...} while(false)`. it makes the single statement into a compound statement.

[2019-06-27 18:50] HusainKapadia commented on #22199
I'm not sure I understand, what kind of context are you looking for? If you can specify something you need, I can share it here.

[2019-06-27 18:59] palsol opened #22312 "Interpolate in the “bicubic” mode with the same shape, transpose the tensor."
## 🐛 Bug

Interpolate in the “bicubic” mode with the same shape, transpose the tensor.
In other modes all works OK.

## To Reproduce
[code]

Steps to reproduce the behavior:

## Expected behavior

## Environment

PyTorch version: 1.1.0
Is debug build: No
CUDA used to build PyTorch: 10.0.130

OS: Ubuntu 18.04.2 LTS
GCC version: (Ubuntu 7.4.0-1ubuntu1~18.04.1) 7.4.0
CMake version: Could not collect

[2019-06-27 19:04] souryadey commented on #12308
I did some analysis on torch.sparse.mm vs torch.mm. Turns out that the sparse case is only faster when nnz is very low, like <= 1.5% of total elements. My findings are here:
https://medium.com/@souryadey/sparse-matrices-in-pytorch-be8ecaccae6

Seems like the COO format is not the best way to go.

[2019-06-27 19:12] xymeng16 opened #22313 "CUDA error: invalid configuration argument on MultivariateNormal"
## 🐛 Bug

I am trying to use `torch.distributions.MultivariateNormal` to sample some normal distributed noise. But when constructing the `MultivariateNormal` object I faced a strange problem, that is, when the dimension of the loc is larger than a certain value (like 170), the code will crash with CUDA error: invalid configuration argument.

## To Reproduce

My code is as follow:
[code]
and then
[

[2019-06-27 19:22] colesbury commented on #22305
You need ~12.6 GB of memory for your example (20 *75 * 1024* 1024 * 4 bytes * 2 = 12.58 GB). The last 2 is because you need space for `g` and `res`. If you don't care about keeping the value of `g` do:

[code]

That will require ~6.3 GB of memory.

Also, element-wise multiplication is just `g * w` in general. You can use einsum if you want, but it's not necessary.

You're Tensorflow example isn't

[2019-06-27 19:22] #22305 closed

[2019-06-27 19:31] cpuhrsch commented on #22169
@mcarilli - I updated the issue to incorporate our discussion.

For NestedTensor we, in particular, need to worry about [unbind_backward](https://github.com/pytorch/pytorch/blob/7707dee76169a2c2d6637f80af5ed59eeb32a997/tools/autograd/templates/Functions.cpp#L436). Here we could easily add some optimizations.

Overall, do you agree that at::TensorList is enough for you to write kernels that can mak

[2019-06-27 20:45] SsnL commented on #22312
I can't reproduce this on master. Can someone else verify?

[2019-06-27 20:48] pietern commented on #22260
cc @zhaojuanmao

[2019-06-27 20:48] pietern commented on #22226
cc @zhaojuanmao

[2019-06-27 20:58] #22087 closed

[2019-06-27 21:01] zhedasuiyuan commented on #13040
Hi, could you share more details or kindly share your changes on the code? Thanks!

[2019-06-27 21:28] Chillee commented on #20664
I don't see the issue here: the code doesn't work in eager mode either. I get `TypeError: list expected at most 1 arguments, got 2`

[2019-06-27 21:45] Chillee commented on #21408
Is this really a JIT issue? It still fails even with the JIT stuff removed
[code]
this results in the same error `RuntimeError: Function MulBackward0 returned an invalid gradient at index 1 - expected type torch.DoubleTensor but got torch.FloatTensor`

[2019-06-27 21:49] Chillee commented on #22124
So most bitwise ops actually do work.
There are 6 bitwise ops:

- [ ] <<
- [ ] >>
- [ ] &
- [ ] |
- [ ] ^
- [ ] ~

I can take the ones that aren't implemented yet.

[2019-06-27 21:49] vishwakftw commented on #22313
Thank you for the bug report.

I think this is because of broadcasting the mean and covariances. The number of covariance matrices becomes 170*127*4 which is greater than 65535, and v1.1.0 couldn’t handle triu / tril ops for these many matrices.

Installing a nightly build should solve this problem for you. Please let me know if that works out.

[2019-06-27 22:09] oroojlooy opened #22318 "torch::tensor(std::vector) does not work properly in Microsoft Visual Studio Windows"
## 🐛 Bug
Given a `std::vector<long> vect = {1,2,3,4}`, I can use `auto tensor_ = torch::tensor(vect);` to create a tensor in Linux, but same code results in an error in Windows, and I get
`E0304 no instance of overloaded function "torch::tensor" matches the argument list `
## To Reproduce

Steps to reproduce the behavior:
In the mnist code, in the beginning of main function add
[code]
and build th

[2019-06-27 23:37] driazati commented on #20664
The example code is wrong but the issue is still relevant, for `list` we should create a list from iterating over a Tensor's 0-th dimension. We've also run into this issue a lot for other things like iteration over Tensors and Python builtins like `all()`.

[code]

[code]

[2019-06-27 23:48] driazati commented on #22255
Are you able to extract a smaller repro?

`import geoopt` works fine on master, and re-producing the code causing the failure runs fine as well

[code]

[2019-06-27 23:51] driazati commented on #21882
The `.to...` methods don't do any conversion, you'll have to cast the IValue to a tensor `.toTensor()` then get the value out.

[2019-06-28 01:40] veritas9872 commented on #6934
[ssim.txt](https://github.com/pytorch/pytorch/files/3337214/ssim.txt)
Please note that I made no effort whatsoever for compatibility on any other system than my own.
You will need to remove f-strings and test if this works on multi-GPU systems.
Also, I am still trying to remove small data transfers each time this is used.
In GPU programming, it is very important to remove data transfers between CP

[2019-06-28 01:52] KaiQiao1992 commented on #18643
@mdlockyer I indeed used the Adam optimizer. Strangely, after rebooting the machine, i dno not encounter the "out of memory" again, though using the same Adam. because my fc layer is the size of 800000*1000, the consume of memory is big.

[2019-06-28 01:58] xkianteb commented on #7416
What is your use case? @xuChenSJTU

[2019-06-28 02:08] HappyKerry opened #22327 "unable to load istream by using torch::jit::load(istream)"
I saved a model in PyTorch V1.0.1 python using torch.jit.save. I tried to load the model in C++ using torch::jit::load("model.pt");it works, but it produced the following error while using torch::jit::load(istream)

terminate called after throwing an instance of 'c10::Error'
  what():  [enforce fail at inline_container.cc:130] . PytorchStreamReader failed checking magic number.

[2019-06-28 02:16] xuChenSJTU commented on #7416
Thanks. I have solved the problem. I just need to get one-hot embedding for the diag sparse matrix. So I do not need to select the specific row. Instead, I directly generate the one-hot embeddings in the training process rather than select from the sparse matrix.

[2019-06-28 02:17] xuChenSJTU commented on #7416
Thanks. I have solved the problem. I just need to get one-hot embedding for the diag sparse matrix. So I do not need to select the specific row. Instead, I directly generate the one-hot embeddings in the training process rather than select from the sparse matrix.

[2019-06-28 02:29] HappyKerry commented on #22327
@lantiga

[2019-06-28 02:38] patrickpjiang opened #22329 "autodiff for user script functions aka torch.jit.script for autograd.Function"
I got an error when use jit.script on some new layers(implemented in c++):
[code]
here is my code:
[code]
What is the proper way to use script on new layers, HELPPPP!

[2019-06-28 02:41] mdlockyer commented on #18643
@KaiQiao1992 that’s huge!! 800M parameters! My biggest model was 45M and I thought that was gigantic. Glad you’re not getting the OOM errors now though.

[2019-06-28 03:32] yechengxi opened #22330 "Training CNNs with deconvolution"
## 🚀 Feature

## Motivation

## Pitch

## Alternatives

## Additional context

[2019-06-28 03:54] frankcarey commented on #10443
@soumith this is happening again FYI.. seems to happen whenever the extra `.post`  releases happen. Is there a reason for these "post" releases instead of a new patch release?

[2019-06-28 03:56] marchss commented on #14573
any updates, please?

[2019-06-28 04:10] ambareeshsrja16 opened #22331 "Integer division by Zero giving large number results instead of NaN/inf"
## 🐛 Bug

Integer tensors, when divided by zero, is giving large integer values as answers instead of flagging as ZeroDivision error or results as inf/NaN. Float numbers, however, are behaving as expected (returns inf)

For e.g in Numpy, the behavior is to return inf with "RuntimeWarning: divide by zero encountered in true_divide"

## To Reproduce

Steps to reproduce the behavior:
[code]

 - PyTor

[2019-06-28 05:39] ngimel commented on #22329
Unfortunately, custom autograd functions are not scriptable. A slightly hacky way of working around it is described here http://lernapparat.de/pytorch-traceable-differentiable/

[2019-06-28 05:42] suo commented on #21402
If you are using conda, you can install torchvision with `--no-deps` so that it won't require a specific version of pytorch.

As for the release date, I don't believe we've announced officially yet, but it should be within a couople of months :P

[2019-06-28 06:10] bhaveshchavda53 opened #22332 "build failed"
C:\Users\bhave\pytorch\scripts>build_windows.bat
The system cannot find the drive specified.
Requirement already satisfied: pyyaml in c:\python27\lib\site-packages
You are using pip version 9.0.1, however version 19.1.1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.
CAFFE2_ROOT=C:\Users\bhave\pytorch\scripts\..
CMAKE_GENERATOR=Visual Studio 16 20

[2019-06-28 06:10] ferrine commented on #22255
I'll check that soon, sure

On Fri, Jun 28, 2019, 02:49 driazati <notifications@github.com> wrote:

[2019-06-28 06:18] str1214 opened #22333 "Why pytorch training dataset possess ten to hundred times GPU memory than Keras"
Why pytorch training dataset tensors use so much more GPU memory?

The training dataset should be no more than 300MB, but when I use Variable with requires_grad=False to load it as cuda tensor, it possesses 8GB GPU memory. While using Keras, the GPU memory usage will not go up. Acctually, Keras seems to use RAM instead of GPU memory for training dataset.

This issue puzzles me a lot. Single GPU ha

[2019-06-28 06:23] str1214 commented on #22333
Here’s the data handling part:

    class Data_utility(object):
        def __init__(self, dt_x, dt_y, train, valid, cuda, horizon, window, normalize=2, shuffle=True, only_test=False):
            self.cuda = cuda
            self.P = window
            self.h = horizon
            self.normalize = normalize
            self.shuffle = shuffle
            self.only_test = only_test

            sel

[2019-06-28 06:23] str1214 commented on #22333
I found that in the data handling part:

        if (self.cuda):
            X = X.cuda()
            Y = Y.cuda()
        yield Variable(X, requires_grad = False), Variable(Y, requires_grad = False)
put the whole training dataset into GPU, including all batches. The typical X shape would be

torch.Size([32, 500, 60, 2130])
32: batch_size
500: feature_num (since the first step is always CNN)
60: t

[2019-06-28 06:27] peterjc123 commented on #22332
Wait, why does the x86 MSVC toolchain get selected? I say this because I see `C++ compiler : C:/Program Files (x86)/Microsoft Visual Studio/2019/Community/VC/Tools/MSVC/14.21.27702/bin/Hostx86/x86/cl.exe` Are you using Python 32-bit version?

[2019-06-28 06:28] bhaveshchavda53 commented on #22332
python 2.7 64-bit version

[2019-06-28 06:30] bhaveshchavda53 commented on #22332
Python 2.7.14 (v2.7.14:84471935ed, Sep 16 2017, 20:25:58) [MSC v.1500 64 bit (AMD64)] on win32

[2019-06-28 06:59] peterjc123 commented on #22332
I see. You are using Python 2.7. That's why the env doesn't get activated. You should do this before running `build_windows.bat`.
[code]

[2019-06-28 07:04] xymeng16 commented on #22313
@vishwakftw What you state is where the problem exactly is! I upgraded to the nightly build and my problem was solved, thanks! But installing the corresponding version of torchvision for pytorch-nightly seems a little bit hard and I try several approaches before success... I hope the official guide would add the instruction for installing pytorch-nightly with torchvision!
Thanks!

[2019-06-28 07:25] wormwang commented on #22297
if u need, we open our testing ARM64+ROCm server for u. pls email me wormwang@yahoo.com

[2019-06-28 08:04] denkorzh commented on #22312
reproduced this on the following environment
[code]

[2019-06-28 08:19] igor-susic commented on #15921
@rohitrango Yes, well actually started again, as I did not have any GPU to test or develop with last few months, now brand new came from the USA and I can continue to work. Sorry everyone that I had not sent a notice to you all. By the way, the label `triaged` can be removed, sadly I can confirm that the issue is still there, tested it a few hours ago.

[2019-06-28 08:34] bhaveshchavda53 commented on #22332
it ran further and then given the following error

[2019-06-28 08:34] bhaveshchavda53 commented on #22332
[1340/1436] Linking CXX executable bin\basic.exe
FAILED: bin/basic.exe
cmd.exe /C "cd . && C:\Users\bhave\bin\cmake.exe -E vs_link_exe --intdir=caffe2\CMakeFiles\basic.dir --rc=C:\PROGRA~2\WI3CF2~1\10\bin\100177~1.0\x64\rc.exe --mt=C:\PROGRA~2\WI3CF2~1\10\bin\100177~1.0\x64\mt.exe --manifests  -- C:\PROGRA~2\MICROS~4\2019\COMMUN~1\VC\Tools\MSVC\1421~1.277\bin\Hostx64\x64\link.exe /nologo caffe2\CM

[2019-06-28 08:56] aviogit commented on #22294
Same for me.

[2019-06-28 09:14] aviogit commented on #21834
This doesn't work for me :(

Anyway, my g++ command line is this one:

It looks like both `../../third_party/ideep/mkl-dnn/external/mklml_lnx_2019.0.3.20190220/lib/libiomp5.so` and `/usr/lib/x86_64-linux-gnu/libiomp5.so` are linked together in the same executable.

If I remove the system one (`/usr/lib/x86_64-linux-gnu/libiomp5.so`) the linking completes. If I remove the third_party locally built

[2019-06-28 09:14] junedgar commented on #22259
@ailzhang Thank you for your reply!
My GPU is RTX2080.
There is a simple script with Flask:
[code]
And i start multi thread with gunicorn:
[code]
Then I do test by command:
[code]
With result:
![image](https://user-images.githubusercontent.com/17995658/60331870-31d40c00-99c8-11e9-85fe-5d1df9647575.png)

[2019-06-28 09:33] jinfagang opened #22336 "Build source but can not found libcaffe2_gpu.so"
![image](https://user-images.githubusercontent.com/21303438/60333135-deaf8880-99ca-11e9-9af5-8423db1b25c3.png)

Why there was no libcaffe2_gpu.so??

[2019-06-28 10:07] JasonVann opened #22337 "Inconsistent MaxPool2d Output size between 0.4.1 and 1.0.1"
In one of my project, I run into an issue, which can be simplied as the following code.

import torch
import torch.nn as nn
torch.version.__version__
input = torch.randn(1, 1, **16, 1**)
m = nn.MaxPool2d(2, stride=2)
output = m(input)
output.shape

On pytorch 1.0.1, this will give an output as
[1,1,**8,1**]

On pytorch 0.4.1, this will throw an error saying:

RuntimeError: Given input size: (1x16x

[2019-06-28 10:10] peterjc123 commented on #22332
The actual error is `LINK : fatal error LNK1102: out of memory`, which is appaently not an error on our side. Since the build failure is triggered when linking the test binaries, you could just use `set BUILD_TEST=OFF` as a workground.

[2019-06-28 10:19] bhaveshchavda53 commented on #22332
C:\Users\bhave\pytorch\scripts>set BUILD_TEST=OFF

C:\Users\bhave\pytorch\scripts>build_windows.bat
The system cannot find the drive specified.
Requirement already satisfied: pyyaml in c:\python27\lib\site-packages
You are using pip version 9.0.1, however version 19.1.1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.
CAFFE2_ROOT=C:\Users\bhave\pyt

[2019-06-28 10:22] peterjc123 commented on #22332
Also, I noticed that you are using BUILD_SHARED_LIBS=OFF. It is very likely that this code path is broken because I failed to build with it and VS 2019 last time.

[2019-06-28 10:24] bhaveshchavda53 commented on #22332
Any other method or procedure to install Caffe2?

[2019-06-28 10:27] peterjc123 commented on #22332
There are precompiled binaries for LibTorch (Caffe2) on pytorch.org, which is built with BUILD_SHARED_LIBS=ON.

[2019-06-28 10:30] pietern commented on #7702
Closing issue because it has gone stale. The issue reported by @stgzr has been fixed and released in 1.0.1.

[2019-06-28 10:30] #7702 closed

[2019-06-28 10:39] peterjc123 commented on #22336
Because libcaffe2_gpu.so is now merged into libcaffe.so. As for the reasons, please refer to this post. https://github.com/pytorch/pytorch/pull/20774

[2019-06-28 10:39] #22336 closed

[2019-06-28 11:03] lantiga commented on #22327
Hi @HappyKerry, can you share a minimal source snippet for the C++ part?

[2019-06-28 11:49] aviogit commented on #21834
I managed to complete the build+install process with a quick and dirty workaround:

I think I've run these commands mainly in `build/caffe2/`, `build/test_api/` and `build/test_jit/` one can simply run them in `build` and everything should build fine.

[2019-06-28 12:15] zamai commented on #10443
Same here, just end up in this issue after failing to install  `torch==1.1.0.post2`

[2019-06-28 12:42] Dinovan-dev commented on #13615
Anyone find something ? Got the same problem on my Jetson nano.

Thanks

[2019-06-28 12:48] qwesdfok commented on #11004
I met the same problem. As peterjc123 said, the code can be modified by the following to resolve the compile error.
explicit operator type&() { return (*this).value; }
// which was "explicit operator type&() { return *(this->value); }"

[2019-06-28 13:07] willprice commented on #8637
@SsnL, is it possible to revisit the decision of supporting this in pytorch? [pretrained-models.pytorch](https://github.com/Cadene/pretrained-models.pytorch/blob/master/pretrainedmodels/models/torchvision_models.py#L314-L346) uses this pattern to build atop the `torchvision` models. Alternatively, are there any solutions that we can apply to `pretrained-models.pytorch` to resolve this issue?

[2019-06-28 13:18] RicCu commented on #22333
Hi,
Please keep in mind that this type of question and support is better suited for the [disussion forum](https://discuss.pytorch.org/).
That said, try deleting the `.cuda()` calls in `get_batches()` and instead move the tensors to the gpu within your training loop (after getting the current batch from your data handler), and perhaps experiment with pinned memory and `non_blocking=True`.

[2019-06-28 13:53] abhisheksinghrgit opened #22338 "Illegal instruction (core dumped)"
I had installed Pytorch using Anaconda from pytorch website.

conda install pytorch-cpu torchvision-cpu -c pytorch
I'm getting Illegal instruction (core dumped)

When I start the app using gdb, I get the following error.
I guess something is wrong with libcaffe2.so

Thread 1 "python" received signal SIGILL, Illegal instruction.
0x00007fffa8ec2486 in THFloatVector_normal_fill_AVX2 () from /U01/anac

[2019-06-28 13:55] ezyang commented on #22300
Aha! So we should not have a trailing semicolon. That makes sense to me. Patch coming.

[2019-06-28 14:03] pietern opened #22340 "Reducer bucketing based on autograd profile"
## 🚀 Feature

How gradient tensors are batched together in bucket prior to reducing them across processes is done completely statically today. A user specifies a lower bound on the bucket size and parameters are bucketed accordingly. We can use profile data of the backwards pass to find a bucket assignment that better aligns with the point in time gradients are ready.

## Motivation

In some visio

[2019-06-28 14:08] ezyang commented on #22338
Hi, if possible, can you run the program under gdb and then at the SIGILL site, run `disas` to get what instructions were executing at that time, and post it?

[2019-06-28 14:09] ezyang commented on #22338
cc @cpuhrsch this looks like some sort of cpuinfo(?) problem when running under qemu.

[2019-06-28 14:09] jfolz commented on #21589
The behavior in my previous comment happened with torchvision ResNet50 btw.
With a custom model we tried today it just outright crashed with `RuntimeError: cuda runtime error (700) : an illegal memory access was encountered` at random points within Pytorch.

[2019-06-28 14:14] ezyang commented on #22333
Yes, I recommend following @RicCu's advise. For follow ups, post in the forum.

[2019-06-28 14:14] #22333 closed

[2019-06-28 14:16] ezyang commented on #11004
In general, you can avoid these issues by making sure you define CUDA kernels in files that don't depend on Python (this is usually not too hard to do)

[2019-06-28 14:17] #22313 closed

[2019-06-28 14:17] jinfagang commented on #22336
@peterjc123  But I can not found libcaffe either, BTW, why 2019 we still have libcaffe?

[2019-06-28 14:18] jinfagang commented on #22336
If you mean libcaffe2.so I still can not find it either...

[2019-06-28 14:27] ezyang commented on #22318
What if you declare it as a vector of int rather than long? (Or `int64_t`, if you actually wanted 64-bit integers?)

[2019-06-28 14:31] meganset commented on #22300
Thanks for the quick fix.

Not sure if AT_ERROR going away completely in favor of TORCH_CHECK(false,..)
but I would find it useful to still have
TORCH_ERROR(...)

[2019-06-28 14:32] ezyang commented on #22330
@yechengxi We do provide transposed convolution in our framework. Can you explain to me what the difference between this and what you are proposing are?

[2019-06-28 14:49] yechengxi commented on #22330
@ezyang transposed convolution is not a real deconvolution. It has no relation with solving the kernel.
Here I am proposing we use a real deconvolution to remove the pixel-to-pixel correlation.

Imagine you have a sharp latent signal I. However, mother nature is applying a blur to the clear signal so you get: B=I*k. This blurring signal makes learning very hard.

What we want to do is a deconvolut

[2019-06-28 14:56] zou3519 commented on #22301
cc @nairbv: I think type promotion things might be able to fix this?

[2019-06-28 14:57] ezyang commented on #22331
I'm not really sure, but since we don't guard divisions at all, it's not surprising that weird behavior is seen in here.

[2019-06-28 14:58] peterjc123 commented on #22336
Oh sorry, it's now `libtorch.so`.

[2019-06-28 15:17] SsnL commented on #22312
cc @ailzhang

[2019-06-28 15:23] ezyang commented on #22337
I think we ported this code to ATen recently, and it's possible we messed up the shape calculation here.

[2019-06-28 15:33] ambareeshsrja16 commented on #22331
Okay. A Runtime warning would be desirable since zero division occurs frequently and is not a very rare corner case.

[2019-06-28 15:39] DoubleHub commented on #20804
Same bug happening here for me

PyTorch version: 1.1.0
Is debug build: No
CUDA used to build PyTorch: 9.0.176

OS: Ubuntu 18.04.2 LTS
GCC version: (Ubuntu 7.4.0-1ubuntu1~18.04.1) 7.4.0
CMake version: Could not collect

Python version: 3.6
Is CUDA available: No
CUDA runtime version: No CUDA
GPU models and configuration: No CUDA
Nvidia driver version: No CUDA
cuDNN version: No CUDA

Versions of rele

[2019-06-28 15:43] Balandat commented on #16780
Can we update to this new release soon? This kind of annoying to have to work around, I currently do the following:

    L = torch.cholesky(A, upper=upper, out=out)
    # TODO: Remove once fixed in pytorch (#16780)
    if A.dim() > 2 and A.is_cuda:
        if torch.isnan(L if out is None else out).any():
            raise RuntimeError

[2019-06-28 15:46] vincentqb commented on #21965
This happens both on master and in #21800.

[2019-06-28 15:48] vincentqb commented on #22107
Thanks for the input!

Sounds good to me.

[2019-06-28 15:53] vishwakftw commented on #16780
cc: @soumith is this a good time to release the 2.5.1alpha binaries for MAGMA?

[2019-06-28 16:17] nairbv commented on #22301
Thanks @azakhtyamov for pointing this out.

Yes @zou3519 this is related to https://github.com/pytorch/pytorch/issues/9515.

In this particular case the `<` operator casts the operand (0.5) to an int before performing the comparison. Essentially this means it's checking `< 0` instead of `< 0.5`.

The relevant code is in the generated LegacyTHFunctionsCPU.cpp.

Similarly `torch.IntTensor([2]) * 1.9

[2019-06-28 16:36] vincentqb opened #22343 "New Scheduler Concept for Weight Decay"
## 🚀 Feature

Weight decay is used very often. A common strategy is simply shrinking the weights at the end of each iteration by a constant multiplicative factor. However, one could expect to use strategies different from this. In that case, we could have weight schedulers that modify the weights using a syntax similar to learning rate schedulers already available.

## Motivation

There are curren

[2019-06-28 16:40] oroojlooy commented on #22318
`int64_t` works fine.

[2019-06-28 16:50] frankcarey opened #22344 ""post" releases break pipenv"
## 🐛 Bug

Same issue addressed in #10443

## To Reproduce

`pipenv install torch` (current version is `1.1.0-post2`)

## Expected behavior

pytorch should install

## Additional context

It seems the support of pipenv resolving "post" releases is the true bug per the other ticket, but as a sanity check, is there a reason to create "post" releases in the first places instead of incrementing the pat

[2019-06-28 17:00] abhisheksinghrgit commented on #22338
I tried adding avx but still the same issue.

(pyt1) webtech@USANZV-MER-DMA485:/U01/Merlin-AI/code$ lscpu
Architecture:        x86_64
CPU op-mode(s):      32-bit, 64-bit
Byte Order:          Little Endian
CPU(s):              16
On-line CPU(s) list: 0-15
Thread(s) per core:  1
Core(s) per socket:  1
Socket(s):           16
NUMA node(s):        1
Vendor ID:           GenuineIntel
CPU family:

[2019-06-28 17:14] spandantiwari commented on #22066
@yil8  - the fix for this issue has been merged (thanks @houseroad). Could you please verify if it fixes your issue? We have a test point covering a similar case as yours [here](https://github.com/pytorch/pytorch/blob/2132ea1d8d6ca9cb2ab6c2206c7cdc9203e1908f/test/onnx/test_operators.py#L384).

[2019-06-28 17:14] #22066 closed

[2019-06-28 17:35] MohgaEmam commented on #4207
i'm from egypt and i'm having the same problem

[2019-06-28 17:58] jamesr66a opened #22346 "Build with MKLDNN broken"
## 🐛 Bug

Source build fails because of MKL-DNN's use of `-Werror` and there being a warning thrown in the code

## To Reproduce

[code]

[code]

Build works fine with `USE_MKLDNN=0`.

## Expected behavior

Builds successfully

## Environment

Collecting environment information...
PyTorch version: N/A
Is debug build: N/A
CUDA used to build PyTorch: N/A

OS: Fedora release 29 (Twenty Nine)
GCC vers

[2019-06-28 18:07] hamfry commented on #18125
Thanks for raising this.

Has anybody come up with an implementation of this (mixture of multivariate Gaussians)?

Would be very useful for loss function calculations.

[2019-06-28 19:03] VitalyFedyunin commented on #19092
layout option was considered (check appendix), but we found it will lead to lots of code duplication as well as disallow auto converting tensors to a different memory_format on fly

after all memory_format is way to stride tensor and to easy pick optimized kernels and outputs which is property of strided tensor, not a completely different class

[2019-06-28 21:22] sdaulton opened #22353 "Auto-differentiating torch.cdist is broken on GPU"
## 🐛 Bug

Auto differentiating through `torch.cdist`yields incorrect gradients on the GPU. Numerical and analytical gradients do not match

## To Reproduce
[code]

Output:
[code]

[code]
Output:
[code]

Notebook:
[cdist_issue.ipynb.txt](https://github.com/pytorch/pytorch/files/3340935/cdist_issue.ipynb.txt)

## Expected behavior

Gradients are all close (match) on GPU.

## Environment

 - PyTorch

[2019-06-28 21:23] sdaulton commented on #22353
cc @Balandat @danielrjiang

[2019-06-28 22:10] sdaulton commented on #22353
Interesting, the issue is only with non-batched tensors. The gradients on CUDA for cdist on batched tensors are correct:
[code]
Output:
[code]

[2019-06-28 22:45] SsnL commented on #22353
master build:
[code]

[2019-06-28 22:59] carolynenewman opened #22358 "When I run python setup.py install to install Caffe2, I have an error: "No such file or directory: 'nvcc': 'nvcc'""
I can't seem to figure out how to include nvcc as a directory. Obviously I have downloaded CUDA and have CuDNN running too. Can someone please help me? Thank you so much. (I am working on a Mac)

[2019-06-29 00:05] sdaulton commented on #22353
Interesting. After instantiating a new Python kernel, the first time I run the above code, I receive the "Backward is not reentrant" error message. Subsequent reruns of the same code (with new and identical `X` tensor and same Python kernel) result in the original error message and the analytical gradients are very different each call.

Notebook:
[cdist_issue_repeated.ipynb.txt](https://github.com

[2019-06-29 00:26] Balandat commented on #22353
Could that have to do with lazy loading? What happens if you just do `torch.ones(1, device=device)` before calling gradcheck?

[2019-06-29 00:59] uyongw commented on #21537
Thanks for reporting this issue. We've been able to identify the issue and come up with a workaround as below. A formal fix will be submitted soon.

A simple workaround in mkldnn src/common/stream.cpp.
https://github.com/intel/mkl-dnn/blob/rls-v0.18/src/common/stream.cpp

diff --git a/src/common/stream.cpp b/src/common/stream.cpp
index 054fbb9..be11cf0 100644
--- a/src/common/stream.cpp
+++ b/src/

[2019-06-29 01:07] valeriu-balaban commented on #16797
A handy feature when you do the training on a machine with a GPU but then do the plotting on your laptop which does not have a GPU.

[2019-06-29 02:34] qwesdfok commented on #11004
@ezyang I use custom C++/CUDA extension to accelerate some for-loop operations in python. So I have to compile it. And I don't know how to remove this pybind11/cast.h file without any influence. But after modified, it works.

[2019-06-29 03:16] yil8 commented on #22066
@spandantiwari Thanks for your feed back! Could you guide me what's the best practice to test this new fix on my mac? I suspect I need to reinstall pytorch from the latest master?

[2019-06-29 04:39] soumith commented on #10443
oh. I hoped it was fixed by now :-/

Yes, because we didn't add any new commits, we just fixed binary building.

[2019-06-29 04:51] soumith commented on #22259
i'm pretty sure i have an idea.

you installed `magma-cuda100`. What is your `nvcc --version`? maybe there's a version mismatch there, and it usually results in a hang

[2019-06-29 04:53] soumith commented on #22329
cc: @suo worth fixing over the sprint

[2019-06-29 04:59] soumith commented on #22311
0.4.0 and before were served from the `-c soumith` channel historically

[2019-06-29 04:59] #22311 closed

[2019-06-29 05:13] soumith commented on #22290
please use https://discuss.pytorch.org for questions.

for the C++ API, tag the forum questions with the `c++` tag

[2019-06-29 05:13] #22290 closed

[2019-06-29 06:53] yifuwang commented on #20240
@ashukid no I'm not. Go ahead :)

[2019-06-29 09:03] kgizdov opened #22366 "Is it possible to build PyTorch with Caffe2 as a shared system library"
Seems like currently PyTorch can only build with Caffe2 built as a submodule and statically linked. As one of the maintainers of PyTorch for Arch Linux, I've been trying to provide Caffe2 and PyTorch together - basically having Caffe2 as a system lib and then having PyTorch build and link against it. However, so far those efforts have failed. Is this supported/possible at all? Could you point me i

[2019-06-29 09:47] smanj2 commented on #20990
I was facing the same issue and i tried using torch.cuda.current_device() which outputs 0.
Not the same code
[code]
throws the following error:
[code]

Any clue how to fix this ?

[2019-06-29 10:22] meganset opened #22368 "Nightly libtorch doesn't contain recent refactoring of Generator code"
## 🐛 Bug

I don't see the new work on Generators in the libtorch.zip file in the last couple of nightly builds.

e.g. a file like _ATen/CPUGenerator.h_
looks out of date in the libtorch.zip vs pytorch-master.zip
?

I had thought these two zips would generally have the same files or nearly the same..

Thanks

[2019-06-29 10:50] meganset commented on #22368
Also the new work on optional data type for prod, cumprod,.. #21088

Does the nightly libtorch.zip hold off including commits that break the c++ code..
?

[2019-06-29 11:53] taotaohan opened #22370 "returned non-zero exit status 2."
I compile pytorch1.1 with TX2(python3.7)
I follow the steps:
1.git clone --recursive https://github.com/pytorch/pytorc
2.cd pytorch
3.git submodule syn
4.git submodule update --init --recursiv
5.python3.7  setup.py install
this is error messages:
nvlink error   : entry function '_Z32ncclAllReduceRingLLKernel_sum_u88ncclColl' with max regcount of 80 calls function '_Z29ncclReduceScatterRing_max_f64

[2019-06-29 13:06] henon opened #22371 "[doc] CTCLoss documentation format completely inconsistent with rest of documentation"
## 📚 Documentation

Here is a screenshot of [CTCLoss](https://pytorch.org/docs/stable/nn.html#torch.nn.CTCLoss) with some of the inconsistencies / bugs highlighted:

![image](https://user-images.githubusercontent.com/44090/60384538-458e7980-9a7f-11e9-9d3e-3340ada665da.png)

Looking at all other modules it is clear that this module is formatted totally incorrectly / inconsistently. This is from a d

[2019-06-29 13:31] gustavoeb commented on #6621
bump

[2019-06-29 14:17] AkashKabra11 commented on #13304
Hi @arjun-kava, @qvks, @tleers ,
I am getting a similar kind of error on FAIR's detectron.

[code]
I am using e2e_faster_rcnn_R-50-FPN_1x.yaml. I have trained FASTER-RCNN with FPN on a custom dataset with 12 classes. Also, there is no other trained model in OUTPUT_DIR.

 I am using google colab, so I have CUDA 10.0 with CUDNN 7.501 environment available.
Could someone fix this issue? Is there some

[2019-06-29 14:30] apaszke commented on #19092
In some sense sparse layouts are also a way to easily pick optimized kernels for arrays that are mostly zero 😄 Can you elaborate on the "as well as disallow auto converting tensors to a different memory_format on fly" part please?

[2019-06-29 14:57] haoran1062 opened #22372 "nn.DataParallel problem: device_ids=[0] could run, but device_ids=[0, 1](multi-GPU) get error"
## ❓ Questions and Help
nn.DataParallel problem: device_ids=[0] could run, but device_ids=[0, 1](multi-GPU) get error :
`RuntimeError: cuda runtime error (59) : device-side assert triggered at /data/projects/pytorch/aten/src/THC/THCReduceAll.cuh:321`
## full error message
[code]
##  repo is `https://github.com/haoran1062/yolov3`
## same code run on single-GPU could success run train, but multi-GPU

[2019-06-29 16:00] ashukid commented on #20240
@kamathhrishi can you tell me what progress you made and where did you get stuck.

[2019-06-29 16:18] kamathhrishi commented on #20240
@ashukid Basically I did almost the same things cumprod and cumsum did and the required differences. I am not exactly stuck , I don't have the time to complete the PR right now.  If you would like I can push my changes to my repo and you can have a look at it or we can make a joint PR if you like.

[2019-06-29 16:20] kamathhrishi commented on #20240
Here it is https://github.com/pytorch/pytorch/compare/master...kamathhrishi:master

[2019-06-29 17:38] henon opened #22373 "[doc] nn.MultiheadAttention.forward parameters formatting incorrect"
## 📚 Documentation

[MultiheadAttention.forward](https://pytorch.org/docs/stable/nn.html#torch.nn.MultiheadAttention.forward) parameters are not formatted as a bullet list which is inconsistent:

![image](https://user-images.githubusercontent.com/44090/60387557-4d611480-9aa5-11e9-91ae-f38b7504dfda.png)

also the description of some parameters doesn't make sense to me

[2019-06-29 18:41] ferrine commented on #22255
Looks like the build is passing with master branch, I close the issue

[2019-06-29 18:41] #22255 closed

[2019-06-29 19:25] TimZaman commented on #15849
@SsnL Great! Another good reason for this is that this would prohibit the usage of any caching in the dataloader. For example, some hocus pocus with labels or e.g. polygon/bounding-box rasterization. I could make an LRU cache, but it'd just be trashed with every epoch.

[2019-06-29 20:30] sebamenabar commented on #22373
I think this may be fixed, see https://pytorch.org/docs/master/nn.html#transformer-layers

[2019-06-29 20:54] sebamenabar opened #22374 "Add key_padding_mask argument to Transformer module"
## 🚀 Feature
Add `key_padding_mask` as an argument to the `Transformer/TransformerEncoder/TransformerDecoder` `forward` methods.

## Motivation

The current implementation of the Transformer only allows the use of the `attn_mask` parameter of the `MultiheadAttention` module. I think this can only be applied to a batch as a whole, not per input in the batch. I think it would be useful to allow the

[2019-06-29 21:42] SsnL commented on #22373
yes, fixed on master :)

[2019-06-29 21:42] #22373 closed

[2019-06-29 22:15] fulltopic opened #22375 "Label.dim Enforcement Check in AccuracyOp"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. Run CNN, with label.dim() = 2 && label.dim32(1) = 1

## Expected behavior

AccuracyOp.RunOnDevice() should accept "label" tensor with ((dim == 2) && (dim32(1) == 1)) as LabelCrossEntropyOp.RunOnDevice() does.

## Environment
$ python ./collect_env.py
Collecting environment information...
PyTorch version: N/A
Is debug build: N/A
CUDA u

[2019-06-30 00:48] baqwas commented on #21551
The suggestion by xuhdev to disable MDLDNN worked.
Many thanks and kind regards.

[2019-06-30 00:48] #21551 closed

[2019-06-30 01:07] dylanbespalko commented on #20005
Hello @xuhdev,

I tried `git clean -fdX` and I'm still having the problem. I'm building the source on Linux.

[2019-06-30 03:35] soumith commented on #22372
this is a user-side bug. if you want help debugging, post on the forums at discuss.pytorch.org

[2019-06-30 03:35] #22372 closed

[2019-06-30 03:37] soumith commented on #22368
@meganset the nightly runs some smoke tests before it uploads the binaries going live. It might have gotten broken, we'll have to look into it.

[2019-06-30 03:40] soumith commented on #22366
this is not supported, and unlikely will be (by design). in fact, the objects are now compiled together in the same library.

I suggest you make the caffe2 package a stub, that depends on pytorch and have pytorch packaged the same way as we do our binaries

[2019-06-30 03:40] #22366 closed

[2019-06-30 03:43] soumith commented on #22344
as a timeline guidance, i dont likely have time to push a non `post*` release until the next pytorch release end of july.

[2019-06-30 03:44] soumith commented on #22344
As posted on the other ticket, it's because we dont have any new commits, but we botched the binaries. The PEP says that in such a case one increments the build number, not the version number. And if you bump the build number, the PEP convention makes you add a `.postX`

[2019-06-30 03:47] soumith commented on #16780
@vishwakftw yes i guess it's time :-/

[2019-06-30 05:55] SsnL commented on #22052
Happened again https://circleci.com/gh/pytorch/pytorch/2110112?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2019-06-30 06:06] soumith commented on #3867
@Chillee here you go:

## Scope

We should add padding to the following layers:
- Conv*d
- MaxPool*d
- AvgPool*d

For the first PR, let's keep it simple and just stick to Conv*d.

## Complexity and Downsides

The complexity discussed above is around the layer becoming dynamic in nature, after a `same` padding option is written. That is, it goes from the parameters of the layer being statically kno

[2019-06-30 06:08] #11614 closed

[2019-06-30 06:14] soumith opened #22378 "scatter_ supporting different reduction modes"
## 🚀 Feature

Currently, we have `scatter_` and `scatter_add_`.

However, in use-cases such as Graph Neural Networks, it's common to wanting to do other reductions than add.
As a case in point, @rusty1s has written https://github.com/rusty1s/pytorch_scatter which has `add`, `sub`, `mean`, `max`, `min`, `std`, `mul`, `div`.

The kernels are there, and they are minor variations of the existing scatt

[2019-06-30 07:08] rusty1s commented on #22378
Looking forward to seeing this in native PyTorch. I'm not sure if this is possible at all, but I get a lot of requests regarding deterministic scatter executions. There is also [this thread](https://discuss.pytorch.org/t/possible-solution-to-the-reproducibility-issues-using-scatter-add-operation/48989) in the official PyTorch forum which makes suggestions on how this could be achieved. What are yo

[2019-06-30 10:16] fmassa commented on #22378
I believe in numpy the (almost) equivalent would be [`np.ufunc.at`](https://docs.scipy.org/doc/numpy/reference/generated/numpy.ufunc.at.html), where ufunc can be [any of the universal functions]( https://docs.scipy.org/doc/numpy/reference/ufuncs.html)

Might be good having a look to see if we would want to use the numpy API in this case

[2019-06-30 10:22] junedgar commented on #22259
@soumith
My cuda environment is CUDA10.0,  so i choose to install magma-cuda100.
![image](https://user-images.githubusercontent.com/17995658/60395283-cfb00e00-9b63-11e9-81e8-4e78dc7f1116.png)

[2019-06-30 10:25] fmassa commented on #3867
@Chilee for reference, here is a potential implementation to get inspiration from https://github.com/mlperf/inference/blob/master/others/edge/object_detection/ssd_mobilenet/pytorch/utils.py#L40

It matched the TF implementation for the configurations that it was tested, but the testing was not exhaustive

[2019-06-30 10:58] pvk444 commented on #16417
I get the same problem on a pretrained model, when I  use **predict**. So reducing the batch size will not work.

[2019-06-30 11:48] hoonkai commented on #11213
@Noirai Unfortunately that doesn't work for me. I've already compiled OpenMPI (with CUDA) and I'm getting the following:

[code]

I get the same errors as @vfdev-5 if Open MPI wasn't compiled with CUDA though.

[2019-06-30 11:49] kgizdov commented on #22366
Cheers, thanks!

[2019-06-30 11:52] Gsunshine commented on #7500
The end of the month! @vishwakftw
We really need batched det/logdet/slogdet!
thx!

[2019-06-30 12:00] vadimkantorov commented on #22378
Custom reduction for all operations with `out` argument specified would be super-cool. But probably many of them don’t have `atomicAdd` equivalents in CUDA, hence big rewrites of kernels...

[2019-06-30 12:25] t-vi commented on #18352
I think this is close in #20983, thank you @pearu .

[2019-06-30 12:25] #18352 closed

[2019-06-30 12:31] t-vi commented on #9983
Just in case you need a taste for the limitations of various matrix exponential algorithms: https://www.cs.cornell.edu/cv/ResearchPDF/19ways+.pdf

[2019-06-30 12:34] vishwakftw commented on #7500
Thanks for your interest. An implementation of batch SVD is available in #21858, but it is a work in progress. Once this is done, the rest should follow.

[2019-06-30 15:01] Dxye commented on #2286
@chouzhupk  hi, do you know how can i change the CuDNN version which was included by Pytorch? I have some other code need CuDNN version higher than 7.1.4, but Pytorch seems force the CuDNN to 7.0.5, even though I already installed 7.1.4 manually.

[2019-06-30 15:34] jjhw commented on #18113
@Aeroxander How did you do the conversion to v8? When I tried with my model using a python script with ONNX 1.5.0 at the line-

converted_model = version_converter.convert_version(original_model, 8)

it gives the following error-

adapt_upsample_9_8: Assertion `false` failed: Unsuppported conversion due to unavailable input: scale

[2019-06-30 16:34] spatiallysaying opened #22380 "fasterrcnn_resnet50_fpn errors"
## 🐛 Bug

Retraining  the 'fasterrcnn_resnet50_fpn  ' model for custom dataset is failing

## To Reproduce

Steps to reproduce the behavior:

1. Successfully ran the  [sample ](https://pytorch.org/tutorials/beginner/transfer_learning_tutorial.html
)  with custom data  .  The classification is working as expected.
1. Wanted to work on object detection with custom data  [Faster R-CNN Object Detectio

[2019-06-30 16:43] vishwakftw commented on #22380
Could you please open this issue in [pytorch/vision](https://github.com/pytorch/vision)?

[2019-06-30 16:44] spatiallysaying opened #22381 "How to apply transfer learning for custom object detection ?"
## ❓ Questions and Help

Is there an example to apply transfer learning for **custom**  object detection.
[https://pytorch.org/tutorials/beginner/transfer_learning_tutorial.html](https://pytorch.org/tutorials/beginner/transfer_learning_tutorial.html)

Reference:-
https://www.learnopencv.com/faster-r-cnn-object-detection-with-pytorch/

[2019-06-30 17:34] fmassa commented on #16417
If you update to the latest version of PyTorch you might have less errors like that

[2019-06-30 17:40] Auth0rM0rgan commented on #6934
Hey @MKFMIKU,

I think you've forgotten to set the channel before calling _fspecial_gaussian() inside the ssim_loss and ms_ssim_loss function.

Best,

[2019-06-30 18:02] ngimel commented on #22329
I think the fix should be to generate the autograd tracking code that Tom had to write manually for the extensions with user-provided derivatives.yaml, if that's possible. That would help people writing extensions and using c++ APIs with extensions, and also greatly reduce the need for custom autograd functions - it looks like in 99% {?) of cases custom autograd functions are needed to make extens

[2019-06-30 18:06] siddalmia commented on #21961
Hi @zh217 ,

Is there a mistake in your code for the mean part of cudnn? You seem to not have used `mean()` but used `sum()` instead.

[2019-06-30 18:23] trakaros opened #22382 "conversion to non-scalar type torch::jit::load("model.pt")"
## 🐛 CMake error: conversion from ‘torch::jit::script::Module’ to non-scalar type ‘std::shared_ptr<torch::jit::script::Module> .

I am trying to use the torch::jit::load() function,in order to embed my pretrained model
to a c++ project.I am doing exactly what is shown here:https://pytorch.org/tutorials/advanced/cpp_export.html#a-minimal-c-application.I have searched,but I couldn't find a solution

[2019-06-30 22:09] SsnL commented on #22052
I'm lost... I checked all branches and tags existing on pytorch/pytorch. None of them contains this line.

[2019-06-30 22:10] SsnL commented on #22052
It is always `pytorch_linux_trusty_py3_6_gcc5_4` build

[2019-06-30 22:31] anibali opened #22383 "Storage operation failing on second GPU"
## 🐛 Bug

Certain operations on the storage of CUDA tensors cause a crash when using the non-default GPU device.

## To Reproduce

1. Find a multi-GPU machine.
2. Run a Python interpreter with `CUDA_LAUNCH_BLOCKING=1 python` (the bug will occur without setting the environment variable too, but it will just hang instead of erroring).
3. Run the following:

[code]

## Expected behavior

All storage

[2019-06-30 23:05] zh217 commented on #21961
You are right, the code was wrong, thanks.  But the output is the same even if you fix it -- so the issue is still valid.

The second part should be

[code]

[2019-06-30 23:48] anhar-adiljan commented on #18627
Hello all. Is anyone working on `all()`, `range()`, or `max()`? If not, then I would like to be involved in this. Also a first time contributor here.

[2019-07-01 01:03] MKFMIKU commented on #6934
@Auth0rM0rgan My bad. Fix it~

[2019-07-01 02:26] HappyKerry commented on #22327
@lantiga
 I have solved it ，thanks
1. read pt model to char buffer by using ifstream
2.change buffer to istream
strstreambuf  buf(pModelData,length);
    std::istream in(&buf);
3、load istream using torch::jit::load

[2019-07-01 02:26] #22327 closed

[2019-07-01 02:39] passion3394 commented on #21574
same issue

../caffe2/perfkernels/common_avx.cc:17:2: error: #error ( "You found a build system error: __AVX__ is defined (via e.g. -mavx) " "but CAFFE2_PERF_WITH_AVX is not defined.");
 #error( \
  ^

[2019-07-01 02:57] unendin commented on #22251
same issue holds for unsorted_indices of course

[2019-07-01 04:42] nikhilmishra000 commented on #22170
Seems to be resolved on version 1.1 -- thanks for the help!

[2019-07-01 04:42] #22170 closed

[2019-07-01 06:06] passion3394 commented on #20005
adding USE_NINJA=OFF doesn't work for me.

[2019-07-01 06:11] One-sixth commented on #21776
@Krovatkin In my test version 1.2.0.dev 20190629, the problem still exists.
This is the error output.
[code]

[2019-07-01 07:26] vadimkantorov opened #22389 "Dependency issues with torch.utils.tensorboard: "No module named past" and "No module named 'PIL'""
[code]

[code]

`pip install future` fixes this problem, but it should rather be added to the requirements.txt or mentioned explicitly in the docs.

However then another issue happens:
[code]

Docs mention dependency on `pillow`, but only for `add_image` and `add_images`. I think it should not break during import.

[2019-07-01 07:55] apaszke commented on #22389
Note that the right fix for the `past.stringbase` is really to stop using the deprecated API (which is not that hard too...)

[2019-07-01 08:00] apaszke commented on #22329
@t-vi has an implementation that implements scripting for `autograd.Function`s (and registers them with the source-to-source AD as well). We've discussed that a bit, so maybe we could use that instead?

[2019-07-01 08:03] apaszke commented on #22329
Also, I don't think that extending `derivatives.yaml` as an external API is a good idea. The existing `autograd.Function` syntax or the source-to-source nested-closure syntax are actually quite ok and are much less magical. It's fine to educate project developers about the codegen, but it's much harder to educate all the other users.

[2019-07-01 08:10] apaszke commented on #15671
cc @t-vi

[2019-07-01 08:25] t-vi commented on #15671
Yeah, so we don't have "broadcasting" in einsum yet. It would probably not be too hard to do, but I must admit that it's not super-high on my priority list.
If anyone else wants to take a shot at implementing this and has specific questions, I'd be happy to help.

[2019-07-01 08:27] t-vi commented on #22329
So I'm planning to do a writeup this in one of the following weeks. If you look at [my branch](https://github.com/t-vi/pytorch/tree/autograd_script) you see that dealing with the `ctx` takes a lot of hacky rewriting (in compiler.cpp). Adam and I tentatively concluded that using a "return forward result + closure" approach similar to what's done in `symbolic_script.cpp` is better, roughly with the

[2019-07-01 08:32] t-vi commented on #22378
Last I looked `atomicAdd` wasn't that bad to implement manually, but it's not deterministic. Deterministic implementation takes some effort (as discussed in the thread linked above). Nonetheless a bit of templating it might work out well with a bit of templating.

[2019-07-01 08:32] vadimkantorov commented on #22389
@apaszke You mean the `past` usage within ``torch.utils.tensorboard`, right? The tensorboard package itself hopefully is not deprecated yet :) :)

[2019-07-01 08:43] pietern commented on #7896
This issue hasn't been updated in a while.

[2019-07-01 08:43] #7896 closed

[2019-07-01 08:46] patrickpjiang commented on #22329
Hi, could you pls post the link of that implementation, too many files to find.

[2019-07-01 09:52] huangshaoguang opened #22391 "/home/admin888/Desktop/NewDensePose/pytorch/aten/src/ATen/CUDAGenerator.h(16): error: member function declared with "override" does not override a base class member"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

Hello! I get an issue that I can't find a solution. Can you help me?

Building wheel torch-1.2.0a0+9b45237
-- Building version 1.2.0a0+9

[2019-07-01 09:58] lironmo commented on #16667
+1

[2019-07-01 10:03] gujinghui commented on #21537
Fixed by #22392

[2019-07-01 10:28] apaszke commented on #22389
Well the last frame that actually causes the error is `/miniconda/lib/python3.7/site-packages/caffe2/python/workspace.py`, so it originates from C2 not from TensorBoard bindings (they import C2 bits). `stringbase` is deprecated, so C2 is using those polyfills, but they should be relatively easy to replace.

[2019-07-01 11:03] jhmenke commented on #18125
This is somewhat related: https://github.com/sagelywizard/pytorch-mdn

[2019-07-01 11:47] heiner commented on #16508
I might be blind but currently C-f "hot" on https://pytorch.org/docs/master/nn.html yields no hits?

[2019-07-01 12:53] tiandiweizun opened #22393 "sort method with descending equal true got a wrong result"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. when using lstm, we need to sort the input sentence by length, but I get a wrong result.
1. length=torch.tensor([9, 6, 2, 2, 3, 2, 1, 1, 3, 2, 1, 1, 2, 2, 2, 3, 1, 1, 2, 1, 2, 2, 2, 1,
        1, 1, 3, 1, 1, 2, 2, 2])
Out:
tensor([9, 6, 2, 2, 3, 2, 1, 1, 3, 2, 1, 1, 2, 2, 2, 3, 1, 1, 2, 1, 2, 2, 2, 1,
        1, 1, 3, 1, 1, 2, 2, 2])

[2019-07-01 13:16] Blade6570 opened #22394 "segmentation fault when returning from a function"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)
Ubuntu: 18.04
Pytorch:0.3.0
cuda:9.0
python3
............................
I  have run

[2019-07-01 14:44] notsimon opened #22395 "Cuda required when loading a TorchScript with map_location='cpu'"
## 🐛 Bug

I'm exporting torchscripts from a machine equiped with cuda. When trying to use the models loaded with `map_location='cpu'` on my Macbook (which had at some point an external GPU but doesn't anymore), I get the following error (full trace is bellow):

```Cannot initialize CUDA without ATen_cuda library.```

## To Reproduce

Minimal code sample

[code]

the TorchScript is [here](https://w

[2019-07-01 15:18] zou3519 commented on #22394
How deep does the stack trace go?

[2019-07-01 15:39] Blade6570 commented on #22394
I used  "where" in gdb when segfault occurred.

[2019-07-01 15:57] colesbury commented on #22393
The behavior is correct. The values are sorted in descending order and the indices are the location of the values.

torch.sort does not use a [stable sorting](https://en.wikipedia.org/wiki/Sorting_algorithm#Stability) algorithm so the choice of which '3's come first is arbitrary

[2019-07-01 15:57] #22393 closed

[2019-07-01 16:08] ngimel commented on #22329
@apaszke, @t-vi thanks for the explanation. Indeed, symbolic_script like approach seems better.

[2019-07-01 16:36] jamarshon opened #22399 "[jit] NameError: name '_CachedForward' is not defined"
## [jit] NameError: name '_CachedForward' is not defined
I install pytorch 1.1.0 using conda and then I try importing pytorch with jit disabled by calling PYTORCH_JIT=0. Specifically in torchaudio, I call
[code]
and I get the following error:
[code]
It seems `_CachedForward` is defined in the jit `_enabled` if statement branch and `TopLevelTracedModule` depends on it. This causes an error as  `Top

[2019-07-01 16:50] driazati commented on #22399
Could you try the nightly version instead? This should be fixed in #20120. Feel free to re-open this issue if you still have problems.

[2019-07-01 16:50] #22399 closed

[2019-07-01 16:52] #18724 closed

[2019-07-01 17:10] ezyang commented on #22234
cc @t-vi

Per @soumith @fmassa we should get rid of the cuDNN CTCLoss implementation and use ours all the time. cc @ngimel It would be helpful to know if we might ever want to bring back the cuDNN implementation in the future.

As you point out, there is a mild BC issue; we might need to also (as a deprecation mechanism) accept CPU targets in the native implementation. If we deprecate this implici

[2019-07-01 17:14] ezyang commented on #22259
Hmm, your nvidia-smi reports CUDA 10.1. Do we have a magma for that version?

[2019-07-01 17:15] ezyang commented on #22338
Can you disas at the failure site? So we can see what the problem is.

[2019-07-01 17:17] ezyang commented on #22338
You need to add avx2, since the SIGILL is probably on an avx2 instruction.

In any case, this is a bug.

[2019-07-01 17:18] spandantiwari commented on #22066
@yil8  - yes, you can install the nightly build of PyTorch to test this.
`conda install pytorch-nightly-cpu -c pytorch`

[2019-07-01 17:20] ezyang commented on #22337
@fmassa suspects that this might be related change from "legacy size" to "size" when the port occurred.

[2019-07-01 17:21] ezyang commented on #22296
@pietern @fmassa and @soumith think we should not do this.

[2019-07-01 17:21] #22296 closed

[2019-07-01 17:24] ngimel commented on #22234
As @t-vi pointed out, cudnn is currently the only available deterministic option, and it might be worth keeping it for just this reason. Currently though cudnn's nondeterministic path is used in pytorch , leading to accuracy loss, there's another issue about it, but switching pytorch to deterministic cudnn is easy. cudnn's CTC is not being actively worked on, so if you want to get rid of it now, i

[2019-07-01 17:25] ezyang commented on #12308
Unfortunately we don't have anyone in the core team who will be working on this in the near future. We'd be happy to accept a patch for adding some of these sparse matrix multiply combinations.

Changing the format from COO would be a bit more involved, we would have to hash out a design first.

[2019-07-01 17:28] pietern commented on #22296
@KaitoHH Thanks for creating the issue. To add a bit more context, using heterogeneous GPUs is not that common, and therefore I think we shouldn't overspecialize `nn.DataParallel` for this use case. You know the performance imbalance for your particular setup, so you could try to do manual or automatic load balancing yourself by tuning the batch size per GPU, for example. I would start with a copy

[2019-07-01 17:29] ezyang commented on #12831
For the record: we are willing to accept a patch that makes DataLoader more complex to make this case faster.

[2019-07-01 17:49] pietern opened #22400 "Sparse allreduce for ProcessGroupNCCL"
In #22036 we added sparse allreduce for ProcessGroupGloo. It works for sparse CUDA tensors, but doesn't leverage InfiniBand like NCCL does. Therefore, we should have a sparse allreduce implementation for ProcessGroupNCCL as well.

[2019-07-01 18:12] calclavia commented on #10459
Does the current MHA implementation use cudnn? Could lead to faster computation as @mfuntowicz suggested.

[2019-07-01 18:23] lanpa commented on #17994
@JurijsNazarovs The following code works on torch 1.1.0.post2

[code]

[2019-07-01 18:27] zhangguanheng66 commented on #10459
@calclavia to your question, no. We are still waiting to bind the cudnn implementation of MHA. Once the cudnn implementation is more mature, we will move forward.

[2019-07-01 18:27] #10459 closed

[2019-07-01 18:36] wanchaol commented on #18627
@anhar-adiljan `range()` is supported already with the step argument, and `max` is already supported as well.

[2019-07-01 19:29] rgommers opened #22402 "PyTorch Tensor subclasses and protocols for NumPy interoperability"
## 🚀 Feature

This is a description of several related features that are best considered together.

1. Allow subclassing `Tensor` and propagating subclass instances correctly with `torch` functions, operators, using views/slices/etc.
2. Support the NumPy array protocols
3. Allow other libraries to reuse the PyTorch API via a similar method as NumPy uses

## Motivation

This issue/document is motiv

[2019-07-01 19:29] frankcarey commented on #22344
@soumith Thanks for the feedback/reasoning so we understand why we're seeing those releases. Also thanks for a timeline which is helpful!

I guess that also means that me pegging the version to `1.1.0` isn't going to solve anything either as you say the binaries were botched, so I'll have to go back a full version where there was no `post` release. Feel free to close this ticket if you like.

[2019-07-01 20:04] zou3519 commented on #22394
I think the problem is that you are running into a [known and fixed bug of crashing on deletion of a deep computation graph](https://github.com/pytorch/pytorch/issues/5534). We fixed that issue in v0.4.1. Could you please upgrade your PyTorch and see if that solves the problem for you?

[2019-07-01 20:40] ShahriarSS opened #22406 "Build failure with setup.py"
Hi. I was building pytorch with setup.py and after
[code]
And some output about copying files I got the following error:
[code]
I did ```print(CUDNN_LIBRARY, CUDNN_INCLUDE_DIR)``` and the output is ```None None``` but cudnn was found:
[code]
I always build pytorch with just cmake and I wanted to use setup.py instead.
os: arch linux
cudnn version: 7.6.1.34
cuda version: 10.1.168

[2019-07-01 21:01] zhangguanheng66 commented on #22371
@zhiqwang Do you mind if you could take a look at this issue? Thanks for your contribution.

[2019-07-01 21:13] zhangguanheng66 commented on #22374
Though we try to keep nn.transform as a generic module, this feature request is definitely doable since the MultiheadAttention module support key padding mask. @sebamenabar Do you mind if you could submit a PR for this? Thanks.

[2019-07-01 21:15] zhangguanheng66 commented on #22374
@zhangguanheng66 add myself and keep monitoring this issue.

[2019-07-01 21:23] zhangguanheng66 commented on #9983
Seems that the feature request has been completed. Feel free to re-open it if you have any questions.

[2019-07-01 21:25] SsnL commented on #9983
hmm i don’t think this exists in pytorch tho. @zhangguanheng66

[2019-07-01 21:27] zhangguanheng66 commented on #22380
I think this one should be mitigated to torchvision. Thanks. @fmassa

[2019-07-01 21:27] #22380 closed

[2019-07-01 21:29] zhangguanheng66 commented on #9983
@SsnL I thought you already implemented, as mentioned above. Anyways, I will re-open it and triage.

[2019-07-01 21:33] zhangguanheng66 commented on #22381
@fmassa Do you have an example for it? Thanks.
@spatiallysaying You could also ask the questions in [pytorch/vision](https://github.com/pytorch/vision) as more vision expert users are there.

[2019-07-01 21:38] #22381 closed

[2019-07-01 21:43] ailzhang opened #22414 "CPU random number generator is slow"
## 🐛 Bug

## To Reproduce
[code]

From @colesbury 's investigation, random number generator is taking ~40% of total time.
![cpu_slow](https://user-images.githubusercontent.com/5248122/60468423-65a07300-9c0e-11e9-9bf9-ff75b1ff167e.jpg)

cc: @ezyang @roosephu

[2019-07-01 21:45] ezyang commented on #22414
cc @syed-ahmed since our plan on record is to replace CPU RNG with Philox

[2019-07-01 21:47] zhangguanheng66 commented on #22391
Can you also provide use your environment setting using the python script here. Thanks.
wget https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py

[2019-07-01 21:52] Jianhui-Li commented on #21120
https://github.com/pytorch/pytorch/pull/22390 implements this RFC.

[2019-07-01 21:53] zhangguanheng66 commented on #17994
I will close the issue and feel free to re-open it if you still have the question @JurijsNazarovs . And thanks for the help. @lanpa

[2019-07-01 21:53] #17994 closed

[2019-07-01 21:55] zhangguanheng66 commented on #22402
Just want to discuss during the triage meeting and see if we should include some features requested in H2

[2019-07-01 21:58] #22344 closed

[2019-07-01 22:00] zhangguanheng66 commented on #22394
@zou3519 feel free to close the issue after the user confirm pytorch version. Thanks

[2019-07-01 22:01] bddppq opened #22415 "Add support for serializing Mkldnn Tensor"
## 🐛 Bug

Currently

## To Reproduce

[code]

Throws error:
[code]

## Expected behavior

Mkldnn tensor can be saved via `torch.save` and later restored via `torch.load`

[2019-07-01 22:22] jamesr66a commented on #22199
I'm talking to @orionr, not you

[2019-07-01 22:37] iotamudelta opened #22417 "[ROCm] Package hipification scripts in distribution"
## 🚀 Feature
Distribute the hipification scripts in `tools/amd_build/pyHIPIFY` to access them for hipification of extensions such as torchvision.

## Motivation
In #22091 , we aim to port the CUDAExtensions feature to support the HIP/ROCm stack. To make it easier for users, @ezyang proposed to add the hipification script to the distribution to get access to it from CUDAExtensions, thereby allowing

[2019-07-01 22:38] iotamudelta commented on #22417
CC @ashishfarmer

[2019-07-01 23:08] Shruthi-Sampathkumar commented on #585
I got "bus error (core dumped)" as well when I ran train.py of lstm object detection tensorflow.
Anybody got to solve the "bus error"? Thanks in advance.

[2019-07-01 23:09] vadimkantorov commented on #22389
should this not be more like `topic: dependency bug`? (at least about PIL - it could be lazily imported at `add_image` call, no?) cc @apaszke

[2019-07-01 23:44] sebamenabar commented on #22374
sure I'll work on it

[2019-07-02 00:01] Balandat commented on #15671
@fritzo I know you guys use einsum a ton in pyro. How useful would this be to you?

[2019-07-02 00:19] gokceneraslan commented on #8049
`fbpca` also supports PCA with sparse matrices without centering and densifying them. There is also a nice discussion and PR on sklearn github about PCA with sparse matrices: https://github.com/scikit-learn/scikit-learn/issues/12794

It'd be super cool to have this in pytorch, too.

[2019-07-02 00:35] izdeby opened #22430 "fused multiply add returns wrong result for bool tensor"
**`torch.add(torch.zeros(2,3, dtype=torch.bool), torch.ones(2,3, dtype=torch.bool), alpha=0)`**

Expected result:
[code]

Actual result:
[code]

[2019-07-02 01:10] izdeby opened #22431 "add_cuda not implemented for bool tensor"
a = torch.rand(10, 10, device='cuda').bool()
b = torch.rand(10, 10, device='cuda').bool()
print(a - b)

Returns an error: **RuntimeError: "add_cuda" not implemented for 'Bool'**

[2019-07-02 01:18] izdeby opened #22432 "1 - bool tensor should throw an error"
This [PR](https://github.com/pytorch/pytorch/pull/21113) raised a question about how should we treat bool tensor with respect to other types and operations with them. One of this question was what to do with a case like this:

[code]

After couple offline discussions with the team, we decided to forbid this behavior for now.

[2019-07-02 02:21] huangshaoguang commented on #22391
Thank you for your replying! I 've solved it by redownloading the resource code(I copied the resource from the other PC and installed it).But now I meet another hard issue(as below). BTW, I create three virtual envs in the anaconda, I install torch by pip install torch in two of them(but they're OK), the only one to get this issue installing by setup.py install.  I've tried conda install and it wi

[2019-07-02 02:41] soumith commented on #22344
@frankcarey the binaries were only botched on OSX, and they were botched in the sense that you'll just get an error on `import torch` unless you have `libomp.dylib` on your system. So it might be okay in your case, fyi.

[2019-07-02 03:04] bruce2k opened #22434 "how can i control multi image dataset flip at same time?"
hi , say i have two image dataset , they are paired, when i prepare data feed to network, i  want to flip the paired data synchronous , both flip or non-flip  , how can i do this?

[2019-07-02 03:11] zhiqwang commented on #22371
@zhangguanheng66 @henon Actually it is debugged in the [master](https://pytorch.org/docs/master/nn.html#torch.nn.CTCLoss) branch of CTCLoss.

[2019-07-02 03:18] spatiallysaying commented on #22380
moved it to https://github.com/pytorch/vision/issues/1071

[2019-07-02 03:27] zhangguanheng66 commented on #22371
@zhiqwang Thanks. So I will just close the issue.

[2019-07-02 03:27] #22371 closed

[2019-07-02 03:35] SsnL commented on #22434
Use one dataset object that yields two images at a time. Use discussion forum for discussion. This is for issues only.

[2019-07-02 03:35] #22434 closed

[2019-07-02 03:51] bruce2k commented on #22434
thank you very much!

[2019-07-02 04:34] peterjc123 commented on #22406
This is because they are calculated from different places, The first one is from the python side https://github.com/pytorch/pytorch/blob/master/tools/setup_helpers/cudnn.py and the other one is from cmake. Looks like we should unify this, by either moving the section into cmake or disabling the auto-detection code in cmake. cc @soumith

[2019-07-02 04:51] dzhulgakov commented on #20497
Shall we rebase/land it? I think it'd also make it work for NamedTuples (cc @jamesr66a)

[2019-07-02 04:51] krumo opened #22436 "RuntimeError when using multiple DistributedDataParallel model"
## 🐛 Bug

I'm trying to implement distributed adversarial training in PyTorch. Thus, in my program pipeline I need to forward the output of one DDP model to another one. When I run the code in distributed setting, the following error is throwed:

frame #0: c10::Error::Error(c10::SourceLocation, std::string const&) + 0x45 (0x7fa248f906d5 in /export/home/haoran/anaconda3/envs/torch1.2/lib/python3.6/

[2019-07-02 04:58] dzhulgakov commented on #20399
Any progress? The serialization code for attributes might be useful for QTensor serialization - not directly, but it'd be nice to serialize QTensor in the same format as CustomClass (cc @ljk53). Also cc @jamesr66a as fixing this probably will make NamedTuples work too

[2019-07-02 05:05] dzhulgakov commented on #20939
Re ONNX modules, you can often trace a bigger program that includes a scripted module and it'd be inlined fine. Main difference is that ONNX symbolics often depend on size matching and thus require sample input to be traced through to work properly. As we remove more size dependencies in symbolic, it should become more feasible.

[2019-07-02 05:22] HariharanJ9779 commented on #22120
@VitalyFedyunin @ailzhang @sdimantsd Were you guys able to solve the .pth to onnx conversion error which @sdimantsd was facing?
I am also facing the same issue. Could you please help?

[2019-07-02 06:40] HusainKapadia commented on #22199
Lol...sorry...didn't see that

[2019-07-02 07:08] #22200 closed

[2019-07-02 07:13] tianylijun opened #22438 "onnx converter，all layers name change to num，any way to do not use number as layer name"
During i do quantization, I want to use original layer name to get quantization param, but onnx converter change the layer name to number, how to map ？ any way to do not use number as layer name ?  does Pytorch has it's own model format ?

[2019-07-02 08:05] mhattingpete commented on #9222
Also the sparse transformer needs these operations: [https://github.com/openai/sparse_attention](https://github.com/openai/sparse_attention)

[2019-07-02 08:09] kaszperro opened #22439 "There should be metrics package"
## 🚀 Feature
Why not implement some common metrics, to evaluate models, with strong GPU acceleration.

## Motivation

When I need to evaluate model accuracy (ex. measure r squared) I have to write it by hand, or use Numpy or other library (without GPU support). It'd be cleaner and simpler to have dedicated package with Pytonic API. It could also provide performance benefits because of low-level (c

[2019-07-02 08:20] MenGuangwen-CN-0411 opened #22440 "2 tensors for the output...Abou the libtorch | torch.jit.trace"
I use torch.jit.trace as follow:

import torch
import torch.nn as nn

class simpleNet(nn.Module):
def init(self):
super(simpleNet, self).init()
self.layer1 = nn.Conv2d(3,16,3)
self.layer2 = nn.Conv2d(16,32,3)
self.layer3 = nn.Conv2d(32,64,3)

def forward(self, x):
    x = self.layer1(x)
    x1 = self.layer2(x)
    x2 = self.layer3(x1)
    return x1,x2
img = torch.rand(1, 3, 416, 416)
model = simpl

[2019-07-02 08:34] Blade6570 commented on #22394
@zou3519, I think you are right and v0.4.1 solves the problem. Thanks a lot. closing the issue.

[2019-07-02 08:34] #22394 closed

[2019-07-02 08:37] albanD commented on #22439
I'm not sure what the difference would be with the [loss functions from torch.nn](https://pytorch.org/docs/stable/nn.html#id52) ?

[2019-07-02 09:07] kaszperro commented on #22439
Correct me if I'm wrong, but losses functions are intended to do .backward() on the Tensors returned by them. But for some metrics, like RSquared, Quantiles, ... it doesn't make sense or is undoable. So metrics don't need to calculate gradients and so one.

[2019-07-02 09:22] albanD commented on #22439
The autograd overhead is very small, even if you can do a .backward(), you don't have to.
Also, if the input does not require gradients, or you're executing the function within a `with torch.no_grad():` block, the autograd is not enabled and so these functions will run as fast as the version that never computes gradients.

I agree though that standard metrics could be implemented, either in [tnt](

[2019-07-02 09:33] kaszperro commented on #22439
I get your point, you are correct.

In my opinion, those metrics should be added to the main package, because as you pointed, it could be done within losses function from torch.nn. If it'd be done in tnt project, how would you classify which metric or 'loss' should be implemented in main package or in tnt?
Also there are already some in torch, like MSE, so it'd be intcosisnten to use ex. MSE from

[2019-07-02 09:38] pietern commented on #14563
This is possible as of #18595.

[2019-07-02 09:38] #14563 closed

[2019-07-02 09:42] vlievin opened #22442 "torch.nn.functional.gumbel_softmax yields NaNs"
## 🐛 Bug

'torch.nn.function.gumbel_softmax' yields NaNs on CUDA device (but not on CPU). Default parameters are used (tau=1, hard=False).

## To Reproduce

The following code generate random logits on CPU and on GPU and print a message if NaNs are encountered. Code to reproduce the behavior:

[code]

Output:

[code]

## Expected behavior

´torch.nn.functional.gumbel_softmax´ should not return NaN

[2019-07-02 09:42] #18851 closed

[2019-07-02 09:47] dollysapra commented on #22406
I got the same error. Is there something I can try to get my pytorch installation completed now?

Thanks,
Dolly

[2019-07-02 10:03] pietern commented on #21922
I can reproduce this issue with OpenMPI 3.1.1.

[2019-07-02 10:10] vlievin commented on #22442
Proposed a fix in https://github.com/pytorch/pytorch/pull/22443

[2019-07-02 10:17] chenzhekl opened #22444 "Add derivatives for the `weight` parameter of `torch.lerp`"
## 🚀 Feature

Add derivatives for the `weight` parameter of `torch.lerp`.

## Motivation

It's common to optimize not only the two end points but also the `weight` when using `torch.lerp`, and it seems to be straightforward to define the gradients as well.

## Pitch

Add the derivates for `weight` in `torch.lerp`

## Alternatives

I'm currently calculating `lerp` by manually computing the formula

[2019-07-02 10:43] ludwigwinkler commented on #4320
Somewhat related:
When we apply torch.std( arbitrary_tensor,  dim= dimension_with_single_entry ) and the dimension has only one entry, then nan is returned.

'''
a = torch.randn(1,10,10)
std = torch.std(a, dim=0)
print(std) -> is a 10x10 tensor of nan's
'''

Maybe a warning could be raised with regard to the nan computation that all subsequent computations with the standard deviation will result i

[2019-07-02 10:46] kaszperro commented on #22439
I'd like to also discuss, where should it be implemented? For sure as a new losses functions? If so, how should for example quantiles look like?
I'd like it to be something like:
[code]

[2019-07-02 11:06] t-vi commented on #22234
We could always accept the performance hit and use the "naive" kernel currently used for small problems for deterministic.
The obvious improvement would be to sort & count the targets beforehand and then we would only have "max number of any character occurs" steps instead of `max_target_len`. Or one could have a warp reduction for each character or so.

[2019-07-02 11:17] pietern commented on #21922
It seems to work if the CUDA device is set. Working on a PR.

[2019-07-02 12:16] daskol opened #22447 "Weak Symbols Resolution Causes Segmentation Fault in External Libraries"
## 🐛 Bug

PyTorch causes segfault in internals of PyArrow during reading a parquet file.

## To Reproduce

In order to reproduce, run the code below.
[code]
During execution of the code above the segmentaion fault occurs and core is dumped. In fact, register `rax` points to a wrong place in instruction `lock xadd DWORD PTR [rax],edx`. The related stacktrace is below.
[code]

## Expected behavior

[2019-07-02 13:34] ChrisHRZ opened #22448 "i have some problem about rsub()."
I am trying to run a CNN name layoutNet. But there is some bug.
The error is like this:
`Traceback (most recent call last):
  File "main.py", line 85, in <module>
    main()
  File "main.py", line 70, in main
    trainLoss = trainer.train(trainLoader, epoch)
  File "/home/auto/workspace/wireframe/linepx/models/stackedHGB-train.py", line 39, in train
    for i, (inputData, line, imgids) in enumerat

[2019-07-02 13:44] Xyand commented on #21922
Hi Pieter,

What do you mean by "if the CUDA device is set"?

On Tue, Jul 2, 2019 at 2:18 PM Pieter Noordhuis <notifications@github.com>
wrote:

[2019-07-02 14:02] Atcold opened #22450 "Comparisons no longer output ByteTensor"
## 📚 Documentation
Comparisons used to output a `ByteTensor`, as pointed out by the doc (see below).

<img width="871" alt="Screenshot 2019-07-02 15 58 47" src="https://user-images.githubusercontent.com/2119355/60518807-8d610b00-9ce2-11e9-9dc0-6e85a0b4b526.png">

It looks it's not longer the case, as `dtype=uint8`.
Moreover, can anyone point me to the PR for this change as well?.

Still editing, h

[2019-07-02 14:06] vishwakftw commented on #22450
cc: @izdeby

[2019-07-02 14:08] Atcold commented on #22450
Okay, something else happened.
`torch.sum()` does no longer output its input tensor type.

<img width="235" alt="Screenshot 2019-07-02 16 06 46" src="https://user-images.githubusercontent.com/2119355/60519284-8dadd600-9ce3-11e9-9461-f308fa6b00dd.png">

[2019-07-02 14:18] gchanan commented on #22430
The actual and expected result are the same?  I think the expected result should be Falses.

[2019-07-02 14:18] Atcold commented on #22450
Okay, I'm even more confused now.
No casting is performed by default.

<img width="869" alt="Screenshot 2019-07-02 16 15 34" src="https://user-images.githubusercontent.com/2119355/60520004-e92c9380-9ce4-11e9-9943-bcd1fa3db52e.png">

But, if I actually specify it I get an error.

<img width="777" alt="Screenshot 2019-07-02 16 17 20" src="https://user-images.githubusercontent.com/2119355/60520048-ff

[2019-07-02 14:18] gchanan commented on #22432
It would be good to document why this is the case.

[2019-07-02 14:23] mileyan opened #22451 "Pytorch 1.1 with distributed data parallel"
## 🐛 Bug

I used distributed data parallel (DDP) with 8 V100 to train ResNet 50 on ImageNet dataset. But Pytorch 1.1 has lower speed than Pytorch 1.0 .

## To Reproduce

Steps to reproduce the behavior:

1. download code from here https://github.com/pytorch/examples/blob/master/imagenet/main.py
2. `python imagenet.py  -a resnet50 --dist-url 'tcp://127.0.0.1:32212' --dist-backend 'nccl' --multiproc

[2019-07-02 14:25] izdeby commented on #22450
@Atcold,

as of right now comparison ops are returning ByteTensor (dtype=uint8). This behavior is about to change once this [PR](https://github.com/pytorch/pytorch/pull/21113) will be landed and BoolTensor will be returned instead.

ByteTensor is the same thing as dtype=uint8

You are specifying invalid dtype "None". Please see all available dtypes [here](https://pytorch.org/docs/stable/tensors.ht

[2019-07-02 14:29] Blade6570 opened #22452 "undefined symbol: THFloatTensor_expand in pytorch 0.4.1"
## ❓ Questions and Help
While writing custom c++ extension in Pytorch 0.3.1, it could find  THFloatTensor_expand in <TH.h>, however, in v0.4.1, it reports it as missing. Any suggestion?

Note: I installed the Pytorch from pip/Ubuntu 18.04/cuda9.2

[2019-07-02 14:50] Atcold commented on #22450
Hi @izdeby,

From the documentation: `torch.sum(input, dtype=None) → Tensor`.

Also, it looks like `torch.sum(ByteTensor, dtype=None).dtype == torch.int64`, but the documentation says it should be `== torch.uint8`.

[2019-07-02 15:23] SsnL commented on #22448
Your normalization stats are of the wrong type.

[2019-07-02 15:23] #22448 closed

[2019-07-02 15:25] soumith commented on #22452
we no longer offer support for 0.3.1 or 0.4.1. Please use the latest PyTorch version

[2019-07-02 15:25] #22452 closed

[2019-07-02 15:30] zdevito commented on #22395
It looks like this model came from a trace, is that correct? When exporting a model for use on CPU, we recommend that you switch it to CPU mode _before_ tracing it and exporting it. Otherwise it will hard-code details of using the GPU into the model, as was done here (`torch.to(CONSTANTS.c0, torch.device("cuda:0"), 6, False, False)`). Telling the parameters to map to the CPU will not change traced

[2019-07-02 15:35] notsimon commented on #22395
Yes, that's correct this model came from a trace without prior CPU conversion. Thanks for your help!

[2019-07-02 15:35] #22395 closed

[2019-07-02 15:38] zdevito commented on #22382
It looks like you are using a nightly build. We recently changed the output type of load. This should work:

[code]

Tutorials/documentation are still for the 1.1 release. It will be updated before we release 1.2.

[2019-07-02 15:42] zdevito commented on #22440
Since you are returning two Tensors, the result value is actually going to be a Tuple, not a Tensor, so toTensor will fail. You can call `toTuple` to get the Tuple object and then extract the tensor:
[code]

[2019-07-02 15:50] ArturoDeza commented on #2567
This might have happened because your display system is directly connected to one of the graphics cards. This might only work well if you have a separate integrated graphics card that is used for rendering outputs on the screen.

[2019-07-02 15:55] pietern commented on #21922
CUDA has a thread local that determines the "current" device. If the current device is 0, but the tensor you're operating on lives on device 1, the crash you reported happens. In #22446 I added some code to ProcessGroupMPI to automatically set the current device to the correct one before calling MPI.

[2019-07-02 16:02] ftaralle commented on #18113
Hi,
I am trying do use a UNet-like network.
It uses some "Upsample" operators and I get the same error you described.

`[ ERROR ]  Unexpected exception happened during extracting attributes for node 83.`

Here is the code to export Pytorch to ONNX:

`torch_out = torch.onnx._export(net, x, args.result_path,
    input_names=['input'], output_names=['output'],
    export_params=True, verbose=args.ver

[2019-07-02 16:05] Michael-Bianconi opened #22453 "Pytorch-C++ MaxPool2d"
## 🚀 Feature

A Pytorch-C++ implementation of torch.nn.MaxPool2d.

## Motivation

I'm unable to find an appropriate function in the C++ front-end that's analogous to torch.nn.MaxPool2d.

[2019-07-02 16:26] trakaros commented on #22382
@zdevito Thanks,it worked.
* But now there is a problem with the assert() function.It throws the following error :**error: no match for ‘operator!=’ (operand types are ‘torch::jit::script::Module’ and ‘std::nullptr_t’)**
* How can I fix that bug in the pointer comparison?

[2019-07-02 16:31] julioasotodv opened #22454 "Tracing an RNN does not support `torch.nn.utils.rnn.PackedSequence` as input"
## 🐛 Bug

`torch.jit.trace` over a RNN (GRU, LSTM) does not work when you feed it with a PackedSequence (as the ones created by `torch.nn.utils.rnn.pack_padded_sequence`). However, this works in eager mode.

## To Reproduce

[code]
Returns:
[code]

## Expected behavior
In order to be able to feed variable length input to an RNN and be able to JIT it, support for either `torch.nn.utils.rnn.PackedSe

[2019-07-02 16:36] zdevito commented on #22382
That assert can just be removed. Module isn't a pointer anymore, it behaves like `torch::Tensor`, and load will never return an invalid module.

[2019-07-02 16:39] izdeby commented on #22450
@Atcold, if i understand your concern correctly, in` torch.sum(input, dtype=None) → Tensor` the `dtype=None` part means that its optional and if you wont pass anything, it will be ignored.

Regarding

Can you, please, point to a place where it says that? In case, when the return type is not specified, casting will take place and if the desired return type was specified - you will get what you are

[2019-07-02 16:44] fmassa commented on #22450
We have (since 0.4 or 1.0) type promotion for reduction, so the result of summing any integer type (including `uint8`) returns a `int64` by default.

This is the same behavior as in numpy.

If you want to return the same type, you can specify a `dtype` in the function.

[2019-07-02 16:44] calclavia commented on #9222
Would be great to have sparsity support in general. There's a lot of interesting research towards sparser neural networks that would highly benefit from actual computational speedups rather than theoretical metrics.

[2019-07-02 16:50] #19394 closed

[2019-07-02 17:39] pietern opened #22455 "Move csrc/distributed/c10d/{comm,reducer} to libtorch.so"
These classes should be part of `libtorch.so` but are currently part of `libtorch_python.so`.

cc @mrshenli

[2019-07-02 17:57] fritzo commented on #15671
Pyro does make heavy use of `torch.einsum` but we don't need ellipsis notation. Our highest priority request is for improved performance in simple equations with small dimensions :smile:

[2019-07-02 18:20] t-vi commented on #15671
@frizto CPU or GPU? I still have my TensoIterator `sumproduct_pair` collecting dust in some branch. It should not be too bad for GPU and I might add AVX to make it suck less on CPU.