[2019-07-02 18:25] Aeroxander commented on #18113
@ftaralle it should work as @jjhw described but he gets an error, wouldn't know why though.

[2019-07-02 18:58] jjhw commented on #18113
The problem is PyTorch does not put the scale values in the Upsample layer, I have not tried to change the PyTorch code that generates the ONNX output as I am using ONNX only as an intermediate stage to OpenVino so I have hacked the OpenVino code to set the scale values to 1.0. If you wanted to change the ONNX file you could either rewrite the PyTorch exporter to add the scale values or alternativ

[2019-07-02 19:02] fritzo commented on #15671
@t-vi CPU and GPU are both important for Pyro's use of `einsum`. I haven't profiled in the last 6 months but last time I did, torch CPU was still slower than numpy (even after #10661). Let me know if you start working on this, I can send you some example einsum inputs.

[2019-07-02 19:11] czxttkl opened #22462 "torch.stack is slower than torch.cat().view()"
I just find that using `torch.stack` is much slower than `torch.cat().view()`. Is this a bug or an expected behavior?

[code]

cc @ezyang @gchanan @zou3519 @bdhirsh @jbschlosser @anjali411 @VitalyFedyunin @ngimel @heitorschueroff

[2019-07-02 19:37] vadimkantorov opened #22463 "[minor] CTCLoss in functional form"
Currently CTCLoss exists as a module. It would be nice for brevity and consistency to have it in `torch.nn.functional` form as well.

[2019-07-02 19:38] vadimkantorov commented on #22463
it exists, sorry

[2019-07-02 19:38] #22463 closed

[2019-07-02 20:04] apsyx commented on #5261
Wondering if there's any follow up on this? Seemed like there's a lot of interest and need for this feature for meta learning and reinforcement learning.

[2019-07-02 20:51] hukkelas commented on #19024
I'm struggling with the same issue with pytorch 1.0

I've made a minimal example to reproduce this:
[code]
Optimally, the difference between `y_out1` and `y_out2` should be 0.

Tested with the following NGC pytorch containers:

- [nvcr.io/nvidia/pytorch:18.09-py3](https://docs.nvidia.com/deeplearning/frameworks/pytorch-release-notes/rel_18.09.html). This is based on 0.4.1 official release. The dif

[2019-07-02 20:52] ifedan commented on #22450
The documentation for "sum" says: dtype (torch.dtype, optional) – the desired data type of returned tensor. If specified, the input tensor is casted to dtype before the operation is performed.
It doesn't say anything about return type.

Please, reopen this issue if you find that the behaviour doesn't correspond to the doc.

[2019-07-02 20:52] #22450 closed

[2019-07-02 20:59] dougsouza commented on #20355
My training is also hanging using DistributedDataParallel. Any ideia how to debug? It doesn't show error messages, I've tried a lot of different things, nothing worked so far. Hanging appears to be stoachastic, it happens in different iterations, sometimes it takes a long time to happen, sometimes ti doesn't.

[2019-07-02 21:06] ifedan commented on #22453
Please use https://discuss.pytorch.org for questions. Please kindly feel encouraged to reopen this issue, if this does not apply.”

[2019-07-02 21:06] #22453 closed

[2019-07-02 21:08] mrshenli commented on #20355
Hi @dougsouza does it hang for both NCCL and GLOO backend?

[2019-07-02 21:18] ifedan commented on #22438
Please use https://discuss.pytorch.org for questions. Please kindly feel encouraged to reopen this issue, if this does not apply.

[2019-07-02 21:18] #22438 closed

[2019-07-02 21:24] ifedan commented on #22436
Please, try one of the suggested options:

(1) passing the keyword argument find_unused_parameters=True to torch.nn.parallel.DistributedDataParallel;
(2) making sure all forward function outputs participate in calculating loss.
If you already have done the above two steps, then the distributed data parallel module wasn't able to locate the output tensors in the return value of your module's forwar

[2019-07-02 21:24] #22436 closed

[2019-07-02 21:27] ezyang commented on #22447
This is probably the same as https://github.com/pytorch/pytorch/issues/13039 although there is some very useful sleuthing in this issue. Workaround is to use conda.

[2019-07-02 21:28] xuhdev commented on #22346
It looks like having already been fixed long time ago, probably should ask ideep to update submodule. https://github.com/intel/mkl-dnn/commit/983e097a93a47ad3ffa0815c9c9b6eb7c610b732

[2019-07-02 21:30] dougsouza commented on #20355
@mrshenli, GLOO backend is painfully slow but it hangs the same way, no error. Things I noticed:
the more GPUs I use, the quicker the hanging happens.

Things I think it is worth mentioning:
* I am training GANs using sync batchnorm in G
* I load the entire dataset in memory
* I'm using DistributedDataParellel in 3 GPUs using NCCL backend

[2019-07-02 21:33] ifedan commented on #22447
Seems like it's a duplicate to #13039. Please, feel free to reopen it if you think it's a different one.

[2019-07-02 21:37] colesbury commented on #16706
I'm not convinced we should change this. This is pretty common behavior for pseudo-random number generators. Most implementations I've seen divide by 2^k to convert a uint64 or uint32 to a double or float, including TF, Julia, NumPy, Go, Boost random, and Marsaglia's KISS. L’Ecuyer's SSJ generates doubles by dividing by 2^32+1 by default.

TensorFlow and NumPy have nearly the same implementation f

[2019-07-02 21:51] xuhdev commented on #22052
Perhaps we can have PyTorch version printed before running tests?

[2019-07-02 22:34] dougsouza commented on #20355
NCCL env variables seem to have no effect, is this expected?

[2019-07-02 22:51] dougsouza commented on #20355
Setting `NCCL_DEBUG=INFO` I get:

teia-shellby:7778:7778 [0] NCCL INFO NET/Socket : Using [0]enp5s0:192.168.0.220<0>
teia-shellby:7778:7778 [0] NCCL INFO NET/Plugin : No plugin found (libnccl-net.so).

teia-shellby:7778:7778 [0] misc/ibvwrap.cc:63 NCCL WARN Failed to open libibverbs.so[.1]
NCCL version 2.4.6+cuda10.0
teia-shellby:7778:8002 [0] NCCL INFO Setting affinity for GPU 0 to 3f00003f
loade

[2019-07-03 00:01] labor00 commented on #22451
Hi. Have you tried to set the value of the environment variable OMP_NUM_THREADS to one (1).
(If using OpenMPI you can define OMP_NUM_THREADS=1 and use the -x OMP_NUM_THREADS to export this environment variables to all processes when running the mpirun).

[2019-07-03 00:58] obilaniu commented on #16706
@colesbury On the contrary, I think this problem bites us regularly, and was about to nominate #22442 as yet another example of bad PRNG possibly connected to this problem.

- That TF, Julia, NumPy, Go, Boost, Marsaglia-KISS and L'Ecuyer-SSJ divide by `2**k` (`+1`?) is their problem. PyTorch doing the same is commendable, so long as it isn't a problem. But it is a problem, and that makes it *our*

[2019-07-03 01:52] #22382 closed

[2019-07-03 03:30] Charlie4zc opened #22482 "Reverse normalize on batches of images?(tensor type not PIL image)"
I have batches of images with size of (B,C,H,W) (torch.tensor) i want to unnormalized it with mean/std tensor (e.g.:[0.4,0.3,0.2]) with size of(C,H,W)

My question is is there any operations in Pytorch can do this like dataset.map or tf.expand_dims in Tensorflow ?

Be careful ,it not PIL image format

[2019-07-03 03:45] peterjc123 commented on #22406
The workground is to set them explicitly through environment variables.
[code]

[2019-07-03 04:05] Chillee commented on #3867
@soumith Quick question:
Is there any reason we shouldn't implement this through `functional.conv2d`? The design you wrote seems to imply that. There's nothing about `padding` = "same" that seems like it should be specific to layers.

[2019-07-03 04:25] anhar-adiljan commented on #18627
Thank you for the quick update. How about `set()`, `slice()`, and `type()`? I searched for them in this thread, and it seems like they are not claimed yet.

Also, you mentioned about discussion for `max()` that takes a list of tuples or iterators. Would you mind pointing out  where the discussion is for those who are interested in observing / participating?

[2019-07-03 05:20] moskomule commented on #19996
Again I encounter this problem. This problem seems to occur when other training processes are running.

[2019-07-03 06:16] dollysapra commented on #22406
Yes, I figured that :) Thanks! it is working for me now.

[2019-07-03 06:31] Chillee opened #22483 "[jit] Support for `range(n)` as a value"
This is of particular use in list comprehensions:
This should work:
[code]

[2019-07-03 08:10] ShahriarSS commented on #22298
@soumith Can anyone else have a look? This is keeping me from completing MNASNet

[2019-07-03 08:26] ShahriarSS commented on #22277
Hi @skrah It seems that some PRs are closed to fix the problem with max_pool and ArrayRef but the tests for C++ models in torchvision are still failing. Here is a [link](https://travis-ci.org/pytorch/vision/jobs/552837096).

The problem here is a maxpool inside a Functional:
[code]
The error:
[code]
I can fix these for now with:
[code]
But this is not a good fix.

[2019-07-03 08:34] albanD commented on #22439
The place to put it I guess is to implement a function in `torch.nn.functional` that performs what you want. Then you can wrap it as a module in `torch.nn`.

I would say it's fine to have non differentiable functions in `nn`, what do you think @soumith ?

[2019-07-03 08:49] #22482 closed

[2019-07-03 08:53] Atcold commented on #22450
@ifedan, don't you find inconsistent a mathematical operation that perform auto-casting?
Yeah, I guessed it was intended, @fmassa, but I think it should be specified somewhere, no?

If I have `a + b + c`, and all `a`, `b`, `c` have the same type, it would be expected that `a + b + c`, or `sum(a, b, c)`, would retain the same `dtype`.

[2019-07-03 09:01] pietern commented on #20311
@isalirezag You can set the `OMP_NUM_THREADS` environment variable. And `nproc_per_node` is an argument to the `torch.distributed.launch` utility.

[2019-07-03 09:01] skrah commented on #22277
I think I assumed that `stride` is either `None` (empty list) or a full list:

[code]

But according to the docstring it can also be a single integer, which makes sense.  So we'll have to expand that, too.

[2019-07-03 09:01] fmassa commented on #22450
@Atcold well, it is usually more surprising to users if `torch.sum(torch.ones(256, dtype=torch.uint8))` is equal to 0 and not 256, right?

But if it's not present in the documentation, we should mention the casting behavior somewhere, yes.

[2019-07-03 09:04] #21922 closed

[2019-07-03 09:23] Atcold commented on #22450
Haha, for new users I guess you're right.
For us, oldies, the new behaviour looks magical, though 😝

[2019-07-03 09:32] t-m-k opened #22485 "TracerWarning: Converting a tensor to a Python boolean might cause the trace to be incorrect"
Question:
TracerWarning: Converting a tensor to a Python boolean might cause the trace to be incorrect. We can't record the data flow of Python values, so this value will be treated as a constant in the future. This means that the trace might not generalize to other inputs!
  **if nms_pre > 0 and scores.shape[0] > nms_pre:**

here nms_pre is a python value and nms_pre = 1000;
scores is a Tensor va

[2019-07-03 09:42] szagoruyko commented on #15476
should be a simple fix, is `Caffe2Targets.cmake` automatically generated?

[2019-07-03 09:50] GlebSBrykin opened #22486 "CUDA not enabled on GeForce GTX 970M"
OS: Windows 7 Ultimate x64
GPU: NVIDIA GeForce GTX 970M
I installed PyTorch 0.4.1 with CUDA support, but when I run a simple program, the Python freezes, and then opens a Windows error window with a message about the inability to extract the GPU, since it is not a removable device. Immediately after closing this window, the program comes to life and displays False. How can I fix the problem?
Code:

[2019-07-03 09:51] GlebBrykin commented on #22486
All drivers, including CUDA at me are installed.

[2019-07-03 09:56] XXWong opened #22487 ""Floating point exception" after trying the method from the issue #22382"
in order to use libtorch c++ API.I tried an example from:https://pytorch.org/tutorials/advanced/cpp_export.html#a-minimal-c-application.
Firstly, I got the same bug report with issue #22382.
Then, I tried the method from it and 'make' succeed!
Howerver, I got the problem 'Floating point exception' after executing './example model.pt'
I debug and find the problem was caused by the code 'at::Tensor

[2019-07-03 11:31] prajjwal1 opened #22488 "Multiple inputs support for ONNX support"
## 🚀 Feature
Currently as per [docs](https://pytorch.org/docs/stable/onnx.html), it is assumed that the input to model is going to be a single input (i.e forward method should expect one input only).
`torch.onnx.export(model, dummy_input, "alexnet.onnx", verbose=True, input_names=input_names, output_names=output_names)
`
But there is no support for multiple inputs.
Got the following error for my m

[2019-07-03 11:37] vadimkantorov commented on #18095
Also would be cool to support `x[::-1]` via `torch.flip` meanwhile negative strides are not supported (also needs discussion, since it does copy, while in NumPy it's copy-free)

[2019-07-03 11:49] fmassa commented on #18095
I don't think we should alias negative striding with `torch.flip`, precisely because it doesn't share storage, and might be surprising for used coming from numpy

[2019-07-03 11:58] vadimkantorov commented on #18095
Then maybe the error message for neg strides should hint the user to look at `torch.flip`

[2019-07-03 12:44] aaag97 commented on #22294
same for me

[2019-07-03 12:54] peterjc123 opened #22489 "Missing some optional flags for the cuda extensions"
## 🐛 Bug

We are missing some optional flags that are useful for building some CUDA extensions that relies on half precision. The following are the flags that we should add for building CUDA extensions by default. The idea originally comes from https://github.com/pytorch/vision/pull/1078#issuecomment-508062617.

[code]

## To Reproduce

Steps to reproduce the behavior:

1. Build https://github.com

[2019-07-03 12:54] peterjc123 commented on #22489
cc @fmassa

[2019-07-03 13:14] Auth0rM0rgan commented on #6934
Hey @MKFMIKU,

Thanks for the work. I would like to ask for one more feature to normalize the values. The current implementation seems to require to have values between [0, 1] and [0, 255] and if the values are negative below error will raise so if you normalize the value before feeding them to ms_ssim loss function would be great.

Best

[2019-07-03 14:46] yf225 commented on #22298
@ShahriarSS I will look into it

[2019-07-03 14:55] yf225 commented on #22298
@ShahriarSS Could you share the MNASNet example that you are working on? `nn::Sequential` in C++ API is not nestable by design, but we might be able to find a workaround for this issue.

[2019-07-03 15:42] ShahriarSS commented on #22298
@yf225 C++ version:
[code]

Python code:
[code]
The problem is with the stack function that returns a Sequential. Here is stack:
[code]

I can wrap the inner sequential inside another Module but the output python model must be loadable in C++ model.

[2019-07-03 16:47] zuoxingdong commented on #21092
@SsnL For me, `spawn` method gives me error `AttributeError: Can't pickle local object 'make_vec_env.<locals>.f'`, I have a method `make_vec_env` imported in the main file.

Why spawn method tries to pickle this method ? Because it not called within the individual processes.

[2019-07-03 17:04] yf225 commented on #22298
@ShahriarSS Is the Python code also implemented by us? I think wrapping the inner sequential inside another Module would be a good solution for this problem, but Python side needs to have the same structure as well.

[2019-07-03 17:49] driazati commented on #20588
#22212 deletes all the weak script decorators, so that should fix this issue

[2019-07-03 17:58] rmunro opened #22494 "Error in equation"
## 📚 Documentation

Small error in the comment documenting cosine simularity. I think:

`  \text{similarity} = \dfrac{x_1 \cdot x_2}{\max(\Vert x_1 \Vert _2 \cdot \Vert x_2 \Vert _2, \epsilon)}.`

, should be:

`  \text{similarity} = \dfrac{x_1 \cdot x_2}{\max(\Vert x_1 \Vert _2 \cdot \Vert x_2 \Vert _1, \epsilon)}.`

That is, the last \Vert_2 should actually be \Vert_1

[2019-07-03 17:59] mfuntowicz commented on #22260
Ran exactly on the same issue while debug performance issues on DGX-2 station.

When allocating more than 4 GPUs the performances started to drop significantly. It took some times to figure out the issue was related to OMP_NUM_THREADS.

It seems that an optimal value is given by OMP_NUM_THREADS = nb_cpu_threads / nproc_per_node.

I can have a look at this if you want to :)

[2019-07-03 18:03] yf225 opened #22495 "`binary_linux_libtorch_2.7m_cu100_devtoolset3_build` times out after running for 5 hours"
Example build: https://circleci.com/gh/pytorch/pytorch/2133467.

CircleCI puts a hard limit of 5 hours on each build, and as a result we need to break up the `binary_linux_libtorch_2.7m_cu100_devtoolset3_build` job in order for it to finish. @pjh5 suggested that we can have one build job for each libtorch variant: https://github.com/pytorch/builder/blob/c4bc4e2f020616944399e802a7de0eea86051b8e/man

[2019-07-03 18:30] ShahriarSS commented on #22298
@yf225 yes the python model exists in torchvision. I can start start a PR changing the python code. Should I?
@fmassa  what do you think?

[2019-07-03 18:42] zhaojuanmao commented on #22260
@mfuntowicz I had a diff out yesterday, I will export the PR soon

[2019-07-03 18:51] alexeib opened #22496 "Conv3d fails with bigger batch size"
[code]
works with batchsize up to 41 and starts failing at 42+

cc @ngimel @csarofeen @ptrblck

[2019-07-03 19:15] pjh5 commented on #22495
The solution should be to break up this loop https://github.com/pytorch/builder/blob/master/manywheel/build_common.sh#L120 into a separate job per variant

[2019-07-03 19:36] dougsouza commented on #20355
Another strange thing. I ran out of space in my hard drive. I found that kern.log and syslog were storing about 200GB each. When I checked them, most logs were relate to `pcieport` logs. In fact, when I train using distributed data parallel, ubuntu keeps writing a lot of stuff to the kern.log and syslog. Example attached.
[kern.log](https://github.com/pytorch/pytorch/files/3356596/kern.log)

[2019-07-03 19:40] ArturoDeza commented on #1355
Still trying to find a workaround. I do agree that I've only seem to have this problem when I'm running 2 parallel processes on different GPU's at the same time. One keeps going while the other one haults.

[2019-07-03 19:48] Jonas1312 commented on #22486
Hi,
please specify nvidia drivers, cuda and python versions. You should probably update pytorch to torch-nightly, many fixes for windows have been submitted since 1.1.0

[2019-07-03 19:56] dguera commented on #15314
The G+ link no longer works. Alternative Internet Archive link follows: https://web.archive.org/web/20170721060953/https://plus.google.com/+SoumithChintala/posts/RZfdrRQWL6u

[2019-07-03 20:00] SsnL commented on #22496
system info?

[2019-07-03 20:32] carolynenewman opened #22507 "Downloading MacOSX build from source has error on last step: [Errno2 ] No such file or directory"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

[2019-07-03 20:35] carolynenewman commented on #22507
After downloading all the required packages and running the first two command line instructions, when I run "python setup.py install" I receive the error:

Traceback (most recent call last):
  File "setup.py", line 183, in <module>
    from tools.build_pytorch_libs import build_caffe2
  File "/Users/cnewman/pytorch/tools/build_pytorch_libs.py", line 8, in <module>
    from .setup_helpers.cmake imp

[2019-07-03 20:42] AzimRepo commented on #16417
Can I ask why the numbers in the error don't add up?!
I (like all of you) get:
`Tried to allocate 20.00 MiB (GPU 0; 1.95 GiB total capacity; 763.17 MiB already allocated; 6.31 MiB free; 28.83 MiB cached)`
To me it means the following should be approximately true:
`1.95 (GB total) - 20 (MiB needed) == 763.17 (MiB already used) + 6.31 (MiB free) + 28.83 (MiB cached)`
But it is not. What is that I am

[2019-07-03 21:04] Krovatkin commented on #22483
I'll need to adapt list comprehensions to use Iterables.

[2019-07-03 21:57] alexeib commented on #22496
1) cuda/9.2   2) cudnn/v7.3-cuda.9.2   3) NCCL/2.2.13-1-cuda.9.2

[2019-07-03 21:59] alexeib commented on #22496
also broken on 2) cuda/10.0   3) cudnn/v7.4-cuda.10.0   4) NCCL/2.4.2-1-cuda.10.0

[2019-07-03 22:04] visionscaper commented on #20058
I was curious to know if anyone picked this up?

[2019-07-03 22:11] zhuchen03 opened #22513 "No assertion when using scatter_ on a non-contiguous tensor"
## 🐛 Bug

Don't know if I should call it a bug, but I think it is better if you could add an assertion if people use scatter_ on a non-contiguous tensor, since the scatter_ function will behave unexpectedly in this case. In other words, the output of scatter_ for a non-contiguous tensor is different from its output for an "equivalent" contiguous tensor.

## To Reproduce

Steps to reproduce the beh

[2019-07-03 22:12] carolynenewman commented on #22507
Now that I typed python3 instead of python, ie python3 setup.py install, I get: FileNotFoundError: [Errno 2] No such file or directory: 'nvcc': 'nvcc'

[2019-07-03 22:15] ifedan commented on #22022
yes, I think the only way how we can do it now is using lambda:

torch::nn::Functional([](torch::Tensor input){ return torch::max_pool2d(2); })

[2019-07-03 22:34] leimao commented on #13397
I implemented a C++ extension for some part of my model. When I tried to export the model (with the implementation of C++ extension) to onnx, I got the same error message. When I tried to export the model without the C++ extension, I don't have error at all. What is the source of this problem here?

[2019-07-03 22:58] izdeby commented on #22487
Hi, @XXWong, could you, please, post the exception message?

[2019-07-03 23:00] izdeby commented on #22485
Please use https://discuss.pytorch.org for questions. Please kindly feel encouraged to reopen this issue, if this does not apply.

[2019-07-03 23:00] #22485 closed

[2019-07-03 23:07] grnikh commented on #18626
I have been looking for this feature for a while- one of my standard training workflows has been extremely unreliable in PyTorch (also recently switched from TF) due to gpu memory overflows leading to cascading failures. It would be very useful to me to neatly control the maximum gpu fraction even with a substantial performance reduction

[2019-07-03 23:10] sandias42 commented on #18995
#18626

[2019-07-04 00:12] XXWong commented on #22487
**example.cpp**

#include <torch/script.h> // One-stop header.
#include <iostream>
#include <memory>

int main(int argc, const char* argv[]) {
  if (argc != 2) {
    std::cerr << "usage: example-app <path-to-exported-script-module>\n";
    return -1;
  }

  // Deserialize the ScriptModule from a file using torch::jit::load().
  torch::jit::script::Module module = torch::jit::load(argv[1]);
  std::

[2019-07-04 00:20] #22192 closed

[2019-07-04 01:11] haiyang-tju opened #22523 "Why am I missing the libcaffe2.so and libcaffe2_gpu.so library files ?"
I downloaded libtorch from [here](https://pytorch.org/get-started/locally/), but there will be a C++ ABI problem. So I recompile the lib from sources by myself. My system configuration is CUDA10.0 and cudnn7.3.1, and I run the command `mkdir build && cd build && python3 ../tools/build_libtorch.py` and get the libs:

build/lib/.
├── libbenchmark.a
├── libbenchmark_main.a
├── libc10_cuda.so
├── libc

[2019-07-04 01:21] peterjc123 commented on #22523
AFAIK, caffe2 and torch got merged recently and the final library was renamed to `libtorch.so`. So Nightly-cu90 is appearing normal. I guess the build for Nightly-cu100 is failing. cc @pjh5

[2019-07-04 01:26] haiyang-tju commented on #22523
Is the old version of the caffe2 C++ interface still usable? Is it only necessary to change the link library to libtorch.so at compile time? @peterjc123

[2019-07-04 01:34] peterjc123 commented on #22523
For the first question, it depends on the code you are trying to build against. The answer to the second one is yes.

[2019-07-04 01:39] luyiming opened #22524 "Allocated GPU memory doesn't increase proportionally to the number of models"
I find that loading more models in one python process consume far less GPU memory than loading each model in different python process.

Suppose the following code is executed in two python processes:

[code]

The nvidia-smi output would be:
[code]

It is reasonable because we have loaded two models. But if I load two models in one process, i.e., running the following code:
[code]

The nvidia-smi o

[2019-07-04 01:39] haiyang-tju commented on #22523
@peterjc123 Thanks for your kind reply! And I will give it a try.

[2019-07-04 01:39] #22523 closed

[2019-07-04 01:51] rtaori commented on #1021
Why does pytorch not have this feature? It would greatly help with quick prototyping

[2019-07-04 02:00] junedgar commented on #22259
Cannot find magma-cuda110 or magma-cuda101.
[code]

[2019-07-04 02:32] 644517236 opened #22526 "RuntimeError: CUDA error: invalid configuration argument"
## Issue description

when it use  torch._C._nn.upsample_nearest2d(input, _output_size(2)), it's comes with

RuntimeError: CUDA error: invalid configuration argument.

The problem is only occur in torch-nightly( 1.2.0.dev20190702).

## Error log

File "/home/xdjf/XXXX/XXXXX/XXXXXXXX.py", line 74, in _upsample_add
    return F.interpolate(x, size=(H,W), mode='nearest') + y
File "/home/XXXX/.conda/e

[2019-07-04 02:56] soumith commented on #22524
Yes, we have caching. See https://pytorch.org/docs/stable/cuda.html#torch.cuda.empty_cache

[2019-07-04 02:56] #22524 closed

[2019-07-04 02:59] soumith commented on #20058
@visionscaper nope

[2019-07-04 03:15] soumith commented on #22439
I want to see a fuller proposal for metrics that expands on what metrics **need** to be metrics instead of loss functions in `torch.nn.functional`. Adding a namespace and a full package into PyTorch core is possible, but the onus of proving that it needs to be in core, and it's design aspects need to be more like a fully fleshed [PEP](https://www.python.org/dev/peps/) at this stage rather than a s

[2019-07-04 03:18] soumith commented on #3867
@Chillee about (1), no reason, I hadn't thought through the implications -- perf or otherwise.

(2) Yes.

Yes, but stride=1 is common-enough and the benefits of static padding good enough that we should definitely handle it specially.

About asymmetric padding, oh welll.....

[2019-07-04 03:21] soumith commented on #22462
this is a performance bug. At some point, we optimized `torch.cat` on CPU, but we didn't do the same for `torch.stack`. cc: @VitalyFedyunin

[2019-07-04 03:24] soumith commented on #22440
closing based on @zdevito's comment

[2019-07-04 03:24] #22440 closed

[2019-07-04 04:39] rkothako commented on #22040
This issue is seen on Clang 8 + glibc 2.26 also

Can somebody take a look into this issue?

[2019-07-04 04:56] SsnL commented on #22513
It is not about contiguity, but rather about whether the elements have overlapping memory locations.

[2019-07-04 04:57] SsnL commented on #22513
And it is really hard to efficiently detect.

[2019-07-04 05:01] zhuchen03 commented on #22513
I see. I never looked into the source code but I thought all expanded tensors are marked somehow...

[2019-07-04 06:01] veritas9872 commented on #6934
@Auth0rM0rgan  I think that is a numerical stability issue. As far as I know, there is no requirement that the values be between 0~1 or 0~255 in the current implementation. However, I have also found that excessively small values can result in NaN values being returned. However, this is a problem with all Pytorch calculations, not just this function.

[2019-07-04 06:03] shihongzhi commented on #20058
I'd like to pick this up.

[2019-07-04 07:14] komms commented on #18011
Did you solve it?

[2019-07-04 07:30] pfrendl opened #22529 "torch.distributions.Normal cuda sampling broken"
## 🐛 Bug

Normal distribution returns wrong samples if provided cuda tensors, and all the samples take the same value.

## To Reproduce

[code]

## Environment

 - PyTorch Version (e.g., 1.0): 1.2.0.dev20190703 (nightly)
 - OS (e.g., Linux): Ubuntu 16.04
 - How you installed PyTorch (`conda`, `pip`, source): pip3
 - Python version: 3.5.2
 - CUDA/cuDNN version: 10.0/7
 - GPU models and configuratio

[2019-07-04 08:08] ivandrodri opened #22530 "Is it possible to send a model as argument to a CUDA kernel?"
Hello,

I am new with pytorch and I am trying to implement pytorch c++ with a cuda/c++ project.

My question is the following, is it possible to do something like this:

//// Neural Net. definition ////

struct Net : torch::nn::Module
{
     Net(int inputSize, int hiddenSize, int numClasses):
     fc1(register_module(“fc1”, torch::nn::Linear(inputSize, hiddenSize))),
     fc2(register_module(“fc2”

[2019-07-04 08:10] jefby opened #22531 "nn.parallel.DistributedDataParallel nccl backend multiple-gpu multiple-node deadlock"
## 🐛 Bug

I want to use nn.parallel.DistributedDataParallell to train a model, its topo is
- 30.4.241.186 GTX1080
- 30.4.241.12 GTX1080+GTX2080Ti

## To Reproduce

[code]
Steps to reproduce the behavior:

on rank 0, ip address is 30.4.241.186, run command:

[code]
on rank 1, ip address is 30.4.241.12, run command

[code]
it will enter deadlock like below:
rank 0
[code]

rank 1

[code]

## Expected

[2019-07-04 08:14] zhuyw05 commented on #10737
set the parameter keep_vars=True then you got gradients

[2019-07-04 08:21] visionscaper commented on #20058
Sounds great @shihongzhi!

[2019-07-04 08:27] snippler commented on #21456
Is there any way of knowing which function my script is actually using, that is if it is using nnpack for instance?

[2019-07-04 08:36] kaszperro commented on #22439
It'd take some time to write full proposal, but for now I'd like to propose some ideas and hear your opinion.

1. It should have functionality for accumulating measurements. Imagine we have huge dataset, and we can't feed it all into memory, so we need some function for giving it batches of data and when we are finished, call some function like `.get()` to receive our metric, for all the data. For

[2019-07-04 08:40] snippler opened #22532 "Know which function is used by conv and force to use a function"
I've been pointed to this line
https://github.com/pytorch/pytorch/blob/12528990f8c56deb7ce1c699e6da63d82c115968/aten/src/ATen/native/Convolution.cpp#L526

where we can see which choices we have when we call a convolution. However I am wondering if there is a way to actually know which function has been called. Concretely I'd like to know if I am actually using NNPack. (For context, I am trying to

[2019-07-04 09:00] albanD commented on #22439
What you present looks quite similar to the meters in tnt [here](https://tnt.readthedocs.io/en/latest/source/torchnet.meter.html) with new types of metrics.
Is there a key feature missing from the meter that you're looking for?

[2019-07-04 09:15] jvanheugten opened #22534 "RuntimeError: ONNX export failed: Couldn't export operator aten::one_hot"
## 🐛 Bug

Export of `F.one_hot` to ONNX format fails.

## To Reproduce
[code]

[code]

## Expected behavior

Export of graph to ONNX format using reference to ONNX's one_hot.

## Environment

 - PyTorch Version (e.g., 1.0): 1.1.0
 - OS (e.g., Linux): Linux
 - How you installed PyTorch (`conda`, `pip`, source): conda
 - Python version: 3.6.8

## Additional context

Can probably be solved by adding

[2019-07-04 09:30] Auth0rM0rgan commented on #6934
Hey @veritas9872,

Regard to NaN values, SSIM value can be smaller than zero so taking its power with a fractional number yields NaNs.It can avoid it by normalizing the values between 0 and 1. that's the reason why I asked for normalization features.

regard to a numerical stability issue, what is your suggestion to solve this issue? because every time I try to use the SSIM, I've faced with that e

[2019-07-04 09:31] mlinxiang commented on #18996
@soumith did this fix on master branch?

[2019-07-04 09:37] kaszperro commented on #22439
I'm sorry but I know about existence of [tnt](https://tnt.readthedocs.io/en/latest/index.html) since you mentioned it two days ago. And now, after brief reading of its documentation, I thing that its meters package meets my needs, since it provide accumulating batched data functionality.

But there are only few (really few) meters available. And none of them probably is useful to me. So now I thin

[2019-07-04 09:45] GalAvineri commented on #6998
I have just encountered this issue as well. Is there a workaround for the mean while?
I tried uninstalling and reinstalling torch but the issue remains.
I tried to create a new virtualenv and install torch there, but the issue still persists.
Do you have an suggestion to how work around this issue?

[2019-07-04 09:48] vlasenkov opened #22535 "DataLoader runs too many threads"
## 🐛 Bug

DataLoader launches 22 threads when num_workers=0

## To Reproduce

Run this

[code]

After the `next(loader)` there will be 22 threads.

## Expected behavior

I would expect only 1 thread, however this script initially runs in two threads by some reason. So, having the same 2 threads in the end would be ok.

## Environment

[code]

[2019-07-04 10:00] albanD commented on #6998
Hi,

There is no workaround at the moment unfortunately.
Could you explain what is your usecase? and why you need to reload pytorch?

[2019-07-04 10:01] songziqin opened #22536 "libtorch new op"
hi, in my project I use libtorch.and there is an operation that libtorch does not support. and I want to
implement the operation myself. and I search the document,I have not found any help. I just want to implement the forward pass, and backward pass. does there is some document, that help me add an new op for libtorch.

[2019-07-04 10:10] GalAvineri commented on #6998
I deleted my comment because it seemed that my error was caused due to some error on my side.
I'm not entirely sure what caused it, but I believe that due to bad refractoring some import statements included import of the __init__ file.
For example, if i remember correctly, there were these import statements:
'''from torch.__init__ import <something>'''
'''from torch.autograd import __init__"

Once

[2019-07-04 10:25] solitarysandman commented on #19996
Anyone come up with a solution yet?

[2019-07-04 10:45] vamsitharun commented on #10443
if install below command
pip install torch==0.4.1
This is the error i am getting

ERROR: Could not find a version that satisfies the requirement torch<0.5.0,>=0.4.1 (from allennlp==0.7.0->-r requirements.txt (line 2)) (from versions: 0.1.2, 0.1.2.post1, 0.1.2.post2)
ERROR: No matching distribution found for torch<0.5.0,>=0.4.1 (from allennlp==0.7.0->-r requirements.txt (line 2))

[2019-07-04 11:44] fmassa commented on #21456
Run your code with autograd profiler, it will show which kernel was used

[2019-07-04 11:52] fmassa commented on #22439
Check ignite, it is more feature complete and maintained

https://github.com/pytorch/ignite

[2019-07-04 12:35] vishwakftw commented on #22529
Thank you for the bug report. The fix is available in #22533.

[2019-07-04 13:36] SsnL commented on #22513
Just .expand is not hard to track. But since one can do all sorts of ops on expanded and unfolded tensors, it becomes much harder. E.g., slicing a unfolded tensor sometimes gives you a tensor with overlapping memory locations, and sometimes doesn’t. There is also the functions that can just arbitrarily change the strides and sizes of a tensor. NumPy uses a complicated algorithm to detected this, b

[2019-07-04 13:46] veritas9872 commented on #3775
Hello. I would like to request a feature in the current implementation of fft, ifft, etc.

Currently, there is no control over the axes that the Fourier Transform is performed on.
Only the number of dimensions can be specified.

I believe that this means that the last 'signal_ndim' dimensions are transformed.

However, the documentation does not explicitly mention which dimensions are transformed.

[2019-07-04 13:50] Jubird915 commented on #22196
I met the same issue when I ran the command: example-app ../model.pt
./example-app ../model.pt
terminate called after throwing an instance of 'c10::Error'
  what():  open file failed, file path: model.pt (FileAdapter at /pytorch/caffe2/serialize/file_adapter.cc:11)
frame #0: std::function<std::string ()>::operator()() const + 0x11 (0x7fe893af12a1 in /home/huzhipeng/learnAI/utility/libtorch/lib/lib

[2019-07-04 13:57] snippler commented on #21456
Actually I found a very easy way now:

y = net(x)
print(y.grad_fn)

Outputs: <ThnnConv2DBackward object at 0x70d75c10>

So I am using THNN instead of NNPACK. But how to force to use NNPACK?

[2019-07-04 14:23] fmassa commented on #21456
@snippler I don't know, you should probably open a different issue for that

[2019-07-04 14:23] pietern commented on #22436
@krumo I double checked your repro to figure out if this is a real issue or not and found that even setting `find_unused_parameters=True` won't help you here. It's a simple example of course, but you're not using the `tgt_pred` variable in your loss computation. The model's forward function returns it which is an indication for DDP that it will receive a gradient. Then when it doesn't, and you try

[2019-07-04 14:30] pietern commented on #22531
There is a known problem with NCCL 2.4.2 where it locks up. You can try exporting the environment variable `NCCL_LL_THRESHOLD=0` to see if that fixes it. Otherwise, please try a newer version of PyTorch (e.g. the nightlies) that uses a newer version of NCCL where that particular bug is fixed.

You can also try running with the `gloo` backend to double check there is nothing wrong with your code.

[2019-07-04 14:58] ftaralle commented on #18113
Hi, following the suggestion of @jjhw I finaly managed to make the Upsample accepted by OpenVINO
Here is the python3 code, in case someone needs it too:
[code]

Here are OpenVINO's error messages that i followed:
- providing opset v9 --> `Upsample scales attribute is defined for node 148. Only scale_width and scale_height are supported.`
- providing opset v8 --> `One/both of widths_scale = None an

[2019-07-04 15:07] kgu3 commented on #21251
Exactly the same problem here. Only happens when bias=True for conv2d wrapped inside spectral_norm.

[2019-07-04 16:37] rtqichen commented on #22274
Here's a quick workaround.

[code]

[2019-07-04 16:51] PetrochukM opened #22538 "SyncBatchNorm test mode"
## 🐛 Bug

During evaluation in a none-distributed environment, SyncBatchNorm fails to revert back to BatchNorm; furthermore, there is no functionality provided by PyTorch to convert SyncBatchNorm back to BatchNorm.

[code]

## Expected behavior

A model training in a distributed environment can be evaluated outside of a distributed environment.

[2019-07-04 17:25] ameyabp opened #22539 "RuntimeError: expected backend CPU and dtype Double but got backend CPU and dtype Float - in torch normalize function"
## 🐛 Bug
Pytorch normalize function expects mean and std arguments as double data type but itself casts them in float32 data type

## To Reproduce

Steps to reproduce the behavior:

1. Just use the torch.transforms Normalize function with some mean and stdev values

**Call stack:**
[code]

Here is the Normalize function implementation in functional.py:
[code]

## Expected behavior
It should not ra

[2019-07-04 17:51] trakaros opened #22541 "make[2]: *** No rule to make target 'libtorch/lib/libc10.so'"
## 🐛 make[2]: *** No rule to make target 'libtorch/lib/libc10.so'

## To Reproduce
Steps to reproduce the behavior:

* I have successfully tried to compile and run the C++ libtorch example,as it is described here:https://pytorch.org/tutorials/advanced/cpp_export.html.Everything's working fine here
* Now,I want to embed somehow my CMakelists.txt from the previous example to a new CMakelists.txt(new

[2019-07-04 18:14] kgu3 commented on #21251
Similar problem.
The difference is that I tried to load a modified state_dict (from pretraining) to the same network structure, with some layers removed from the state_dict. In this case, pytorch raise KeyError:"main.0.weight".
The error was cause by line 166 of https://github.com/pytorch/pytorch/blob/master/torch/nn/utils/spectral_norm.py#L165-L171

However if I do not modify the state_dict, then

[2019-07-04 20:41] soumith commented on #22530
please use https://discuss.pytorch.org for questions

[2019-07-04 20:41] #22530 closed

[2019-07-04 21:12] VasLem commented on #4534
I faced this issue when trying to train Unet using a pretrained Inception32 encoder with variable sized images. Is there a way to handle it, or should I remove all the BN layers from the network? Another idea I had was to set those layers parameters `requires_grad` to false, but I have not tested it yet.

[2019-07-04 21:36] mrshenli commented on #22534
cc @houseroad

[2019-07-04 21:38] mrshenli commented on #22535
cc @cpuhrsch

[2019-07-04 21:40] ldutu opened #22542 "Bug in CosineAnnealingWarmRestarts (T_mul instead of T_mult)"
## 🐛 Bug

The bug appears in PyTorch 1.1 in file lr_scheduler.py (line 686) for LR scheduler "CosineAnnealingWarmRestarts", where the parameter name is *T_mult* but in line 686 the name *T_mul* is used instead (python interpreter does not know variable *T_mul*).

## To Reproduce

The bug can be easily reproduced if the *T_mult* parameter of CosineAnnealingWarmRestart scheduler is not set properly

[2019-07-04 21:42] mrshenli commented on #22536
Hi @songziqin, does ["CUSTOM C++ AND CUDA EXTENSIONS"](https://pytorch.org/tutorials/advanced/cpp_extension.html) help?

[2019-07-04 21:49] mrshenli commented on #22538
Hi @PetrochukM, could you please share some more context of your use case? Why using `SyncBatchNorm` instead of `BatchNormxd` in a non-distributed environment?

[2019-07-04 22:00] mrshenli commented on #22539
cc @fmassa

[2019-07-04 22:02] mrshenli commented on #22541
cc @yf225

[2019-07-04 22:05] mrshenli commented on #22542
Hi @ldutu, thanks for reporting! Since you have found the solution, would you like to submit a PR for it? We will be happy to review and land.

[2019-07-04 22:22] ldutu commented on #22542
Hi @mrshenli , checking the latest version of the file, I found that this was already fixed by @rtqichen in commit 57948414acf87c846bf88cf5f194282b8f47c423 . Thanks!

[2019-07-04 22:22] #22542 closed

[2019-07-04 22:32] PetrochukM commented on #22538
This is a local test of the model on a CPU after it has been trained.

[2019-07-04 22:38] mrshenli commented on #22507
@carolynenewman can you give #22527 a try and see if that fixes the error?

[2019-07-05 02:13] peterjc123 commented on #22489
cc @yf225

[2019-07-05 02:23] zhangjinsong3 commented on #22196
@azuredsky Meet the same issue. How did you solve it?

[2019-07-05 02:33] jinfagang opened #22544 "libtorch tensor can not store negative values"
## 🐛 Bug

I have a cv::Mat which is CV_32S type, it stores both positive and negative values.

When convert it to tensor, the values are messed up:

[code]

The in_img has negative values, while after print out tensor_image, the values were all totally different than in_img.

the negative values are gone,

[2019-07-05 02:36] azuredsky commented on #22196
First, Be sure your model is saved by torch script. Second, When I use centos7 and gcc 4.8.5, it have the same problem, Instead  I change gcc to gcc4.9.2 ,it sloved @Jubird915  @zhangjinsong3

[2019-07-05 02:42] veritas9872 commented on #3775
After looking into the issue I found that [torch.transpose](https://pytorch.org/docs/stable/torch.html#torch.transpose) does not make a memory copy. So transposing the tensor a few times might be the best solution...

[2019-07-05 03:19] #22544 closed

[2019-07-05 03:45] mrshenli commented on #22538
The following should work.

[code]

[2019-07-05 03:52] zhangjinsong3 commented on #22196
I tried gcc-4.9, and it works for me. I use ubuntu 16.04 and neither gcc 4.9.3 nor gcc 5.4.0  run correctly.
@azuredsky

[2019-07-05 03:56] mrshenli commented on #22532
cc @t-vi

[2019-07-05 04:30] SsnL commented on #22539
it should get the dtype from `tensor`

[2019-07-05 04:32] SsnL commented on #22535
There are some queues that launches putter threads, but I suppose that most threads is either from the `permutation` call in `RandomSampler` and/or the `from_numpy` call. Both are just using the pytorch thread pool. So the threads are not specific to data loader. What is your expected behavior?

[2019-07-05 05:48] mundanePeo commented on #8275
this change cannot solve the problem.

[2019-07-05 05:51] vishwakftw commented on #22539
I think this issue should be opened in [pytorch/vision](https://github.com/pytorch/vision).

[2019-07-05 06:21] PetrochukM commented on #22538
Great. Thank you! :)

Would it be possible to remove this requirement? What do you think? This seems like unnecessary boilerplate for evaluation mode.

One way to do so would be to have a function that is the opposite of `convert_sync_batchnorm`.

[2019-07-05 06:28] t-vi commented on #22532
I'm not sure that we'd want to provide an interface to choose the convolution back end - at least that is a discussion that you'd need to get other people involved in.

What we should do is to have better choices made automatically:

You can do diagnostics by running the convolution
[code]

What seems to be a reasonable thing might be to do some more benchmarking along this last criterion:
https:/

[2019-07-05 07:34] snippler commented on #22532
Thank you.
For some reason the profiler hangs for me but in the mean time I figured I can see the function by printing output.grad_fn.
I tried what you did in the test, for the first example (just random 1 layer conv) I get a speed up of almost factor 3 of NNPack as  compared to THNN. So the calling of NNPack only works through torch._nnpack_spatial_convolution, no way to have it called from nn.Co

[2019-07-05 07:42] jgong5 commented on #22415
Sounds like all opaque tensors can be serialized in the similar way?

[2019-07-05 07:47] t-vi commented on #22532
- For ARM we should just amend the ifdef and use NNPack for arbitrary batch size for the time being. I have a hunch that using it for x86 (in absence of MKLDNN that is) would likely be beneficial, too, but that should be measured before breaking other people's use of PyTorch.
- I don't know how the ARM ComputeLibrary compares, your chance to pioneer new backends for PyTorch!

[2019-07-05 07:52] jzazo commented on #6124
Is this matter resolved and published by this [pull request](https://github.com/pytorch/pytorch/pull/17240)?
Is this other [request](https://github.com/pytorch/pytorch/issues/3858) also solved by the same pull?

Are there unaddressed matters for circular convolution? Thanks.

[2019-07-05 07:56] fmassa commented on #22539
This has been fixed in the master version of torchvision

[2019-07-05 07:56] #22539 closed

[2019-07-05 07:57] snippler commented on #22532
Ah I misunderstood you answer. So NNPack is called whenever batchsize at least 16, I see now. Profiler seems to work actually, that's very practical.

If I figure out how to use the ARM library I'll let you know about comparison.

[2019-07-05 08:09] t-vi commented on #22532
So the batch size>=16 comes all the way from #2826 by @killeent . Apparently, for inference it would be better to use NNPack. There is discussion of speed, but no numbers.

[2019-07-05 08:11] vlasenkov commented on #22535
When I remove `from_numpy` call, the situation does not change. I expect that the number of threads in much less than 22. That huge threads number floods the shared machine, and I suppose it reduces performance of the data transformations themselves, because they are done on CPU. Anyway none of the steps performed by `DataLoader` really need to be done in parallel.

[2019-07-05 08:20] songziqin commented on #22536
hi,thanks,I have read this document.but , I still get some confused. I want to just use in C++, and the document tells me how to
create a new operation in C++ and then pybind to python, and you can use in python. I want to know, how to use the new operation
just in C++.

------------------ 原始邮件 ------------------
发件人: "mrshenli"<notifications@github.com>;
发送时间: 2019年7月5日(星期五) 凌晨5:43
收件人: "pytorch/

[2019-07-05 10:26] t-vi commented on #22532
Note that ARM Compute Library bindings were apparently removed from caffe2 contrib #18052 . Maybe @bddppq has insights whether it's not attractive performancewise. That was merged into caffe in https://github.com/facebookarchive/caffe2/pull/2015 .

[2019-07-05 10:38] snippler commented on #22532
I know that it had very impressive performance for [NNabla](https://github.com/sony/nnabla).

[2019-07-05 12:00] veritas9872 commented on #6934
I would simply multiply the inputs by a big number. The SSIM is invariant to the value scale, but not everyone needs standardization, which would make the process slower than it already is.

[2019-07-05 13:03] Auth0rM0rgan commented on #6934
Hey @veritas9872,
Thanks. Do you know how can I fix below error? I'm not able to use SSIM loss because of this error.

Aborted (core dumped)

[2019-07-05 13:24] mrshenli commented on #22526
cc @jjsjann123

[2019-07-05 13:27] mrshenli commented on #22536
@yf225 is there a tutorial for adding operators to `libtorch` only?

[2019-07-05 13:45] nazarblch commented on #20804
I have recently tested the initial issue. When I build LibTorch from master src it works fine now! Thanks!
Note that in https://download.pytorch.org/libtorch/cu100/libtorch-shared-with-deps-latest.zip  the initial error hasn't been fixed.

[2019-07-05 13:46] vishwakftw commented on #7500
While we don't have batched support for det / logdet / slogdet in the master branch just yet, please feel free to use [vishwakftw:batch-svd](https://github.com/vishwakftw/pytorch/tree/batch-svd) and [vishwakftw:batch-det-logdet-slogdet](https://github.com/vishwakftw/pytorch/tree/batch-det-logdet-slogdet). This combination of these two branches should effectively give you tentative support.

[2019-07-05 14:00] SsnL commented on #22535
As I said, the threads are not specifically for data loader uses. The sampler could call arrange and/or randperm, both of which could be parallelized. That is, these threads are used by ops internally where they think such parallelism is helpful. I just wan to make it clear that this behavior is not related with the data loader. These threads will be reused by other ops that want multi threading,

[2019-07-05 14:09] ezyang commented on #21589
#22470 made me realize that it's not enough to audit CUDA kernel call sites for nullptr; if you don't pass enough arguments, that also counts as using the wrong stream too. We should write a lint rule for this.

[2019-07-05 14:17] vlasenkov commented on #22535
I see, thanks. But there are two points.

Firstly, when I use workers, the number of threads is still huge, so that each worker does not automatically reduce that to 1.

Secondly, I observe that all 40 CPUs are 100% loaded. They are loaded with something that is going on within the sampler. Therefore, the actual data reading and transformation is slowed down, because these threads occupy the compu

[2019-07-05 14:53] tholzmann commented on #14273
I have a similar problem: We trained a semantic segmentation model in python. When doing inference with it in Python and C++, the results are slightly different (see images below). Also on other images, the difference is not very big, but enough that it is visible.

I'm using exactly the same input data and applying exactly the same pre/post-processing.

I am using the latest nightly build (but I

[2019-07-05 15:02] srossi93 opened #22549 "How to programmatically check PyTorch version"
## 📚 Documentation

[Minor minor detail]
In the reproducibility section of the docs or in the FAQ, I would add a simple subsection/snippet of code to show how to programmatically check the running version of PyTorch.
This can also encourage users to take into account heterogeneity of PyTorch versions in their code.

By the way, a simple regex on `torch.__version__` is enough (this assuming version

[2019-07-05 15:14] snippler opened #22550 "Eigen Tensor library for convolutions on CPU"
## 🚀 Feature
Add option of Eigen Tensor library implementation of convolution on ARM CPU

## Motivation

While convolutions on Intel CPUs are quite fast, there are issues on ARM processors. I tried NNPack which speeds up the default implementation. However TensorFlow is much faster on Raspberry, and also NNabla. The underlying library is Eigen Tensor library which often is even better than ARM com

[2019-07-05 15:40] arvidfm opened #22552 "Improve documentation of torch.lu"
## 📚 Documentation

Currently it is not clear from the description how to interpret what `torch.lu` returns, i.e. how exactly to recover the matrices P, L and U from the return values. This indirectly means that it's also unclear what format `torch.lu_solve` expects. Note that the format of the return values differs from `scipy.linalg.lu`.

[2019-07-05 15:50] oguzserbetci commented on #20984
I think the page can be broken up to at least into: `modules`, `functional`, `losses`, `init`, `utilities`. The slowness makes the whole docs very unusable. It also effects doc lookup programs like dash that use directly the html site.

[2019-07-05 16:08] SsnL commented on #22549
Use `packaging.version.parse` https://stackoverflow.com/a/11887885

[2019-07-05 16:53] colesbury commented on #22442
This is not present in the master branch. In 1.1.0 `Tensor.exponential_` was returning 0 on CUDA, which wasn't desired behavior. (Probably fixed in https://github.com/pytorch/pytorch/pull/21297)

Please re-open if you see this in master.

[2019-07-05 16:53] #22442 closed

[2019-07-05 17:00] mbforbes commented on #16838
+1 including the tensorboard hparams wrapper in the current tensorboard support would be really helpful! Right now it seems the best support for viewing hparams search in pytorch is checking out a custom fork of tensobaordX which adds support (https://github.com/lanpa/tensorboardX/issues/381). At least for me, supporting tf's view of hparam specs and merging configs isn't as important—I agree it c

[2019-07-05 17:49] driazati opened #22553 "[jit] Alias info for dict operations is incorrect"
See comment in #21979

[2019-07-05 17:59] GlebBrykin commented on #22486
I have updated PyTorch to the latest version as You recommended, however I got a known DLL not found error when importing torch. Version CUDA - 9.0

[2019-07-05 19:03] dougsouza commented on #20355
In my case I solved it by disabling **PCIe Active State Power Management**. No more hanging and no more frenetic logging from the OS.

Heres how to do it: [https://askubuntu.com/questions/863150/pcie-bus-error-severity-corrected-type-physical-layer-id-00e5receiver-id](https://askubuntu.com/questions/863150/pcie-bus-error-severity-corrected-type-physical-layer-id-00e5receiver-id)

Hope it helps

[2019-07-05 19:23] driazati commented on #13221
Weak script is now deleted, but this use case is supported by #20939

[2019-07-05 19:23] #13221 closed

[2019-07-05 19:26] colesbury commented on #16706
It's connected only in the sense that your proposed fix would introduce this problem to the CPU random number generator. Gumble-softmax uses something like log(-log(uniform())). The NaNs occurred in CUDA the uniform generator return values of 1. (A 0 value is also problematic, but was not
generated by the CUDA generator at the time).

Another interpretation is that if the experts and popular mathe

[2019-07-05 20:07] colesbury opened #22557 "CPU torch.exponential_ function may generate 0 which can cause downstream NaN"
## 🐛 Bug

torch.exponential_ on the CPU has a small (2^-53) chance of generating 0.

I don't think we document whether torch.exponential_ may return 0, but both the [NumPy](https://docs.scipy.org/doc/numpy/reference/generated/numpy.random.exponential.html) and [TF](https://www.tensorflow.org/api_docs/python/tf/distributions/Exponential) documentation pages don't allow for zero. This is convenient

[2019-07-05 20:48] suo opened #22559 "compiler warnings in register_string_ops.cpp"
[code]

[2019-07-05 20:49] suo commented on #22559
@bwasti mind taking a look?

[2019-07-05 21:18] bwasti commented on #22559
https://github.com/pytorch/pytorch/pull/22560

[2019-07-05 21:24] syed-ahmed commented on #16706
For the reference, this article gives a good overview on all the various methods that are popular for going from uints to floats: https://experilous.com/1/blog/post/perfect-fast-random-floating-point-numbers

Based on that article and discussion with @ngimel @fritzo @neerajprad , and surveying the other popular libraries like TF, scipy, V8, etc. I suggest the following algorithm (divide and squash

[2019-07-05 21:46] kwanUm commented on #20356
+1, encountered this as well.

[2019-07-05 22:13] remzr7 commented on #8520
@fmassa when might torch.Tensor be deprecated? What's the best way to deal with torch.Size when using JIT at the moment?

[2019-07-05 22:34] colesbury commented on #16706
@syed-ahmed, I'm confused as to why you're suggesting this algorithm. None of the libraries you reference use that algorithm. They all produce equidistant values (e.g. `x = (generator->random64() >> 11) * POW_2_53_INV)` for doubles). The referenced blog post also suggests producing equidistant values.

[2019-07-05 22:54] SsnL commented on #22535
First of all, I want to apologize for an inaccuracy in my previous reply. The threads (apart from the few `Queue` putter threads) could come from either the sampler or the possible copy in `pin_memory`.

Both the sampler and the copy, if they actually occur, are necessary. So there is no such thing as slowing data processing down. Sampler initialization is one time at construction time, and the co

[2019-07-05 23:12] mengxr commented on #12470
Is it because the conda package name `pytorch` is different from the python package name `torch`?

[2019-07-05 23:12] syed-ahmed commented on #16706
Near the end of the article, the author talks about "High Precision Alternative Distribution" method, which is the division method:

Since we are considering getting more precision near 0.0 in this issue, divide by max uint takes us closer to that without sacrificing much on the performance. And if you do divide by max uint, we need a way to get values in the range [0, 1), and std::nextafter does

[2019-07-05 23:37] syed-ahmed commented on #16706
For the sake of completeness in this issue:  Curand does divide by max uint and uses the `+ 2^32/2.0` trick from http://www.doornik.com/research/randomdouble.pdf and hence has the range (0,1]

[code]

[2019-07-05 23:50] ngimel commented on #16706
But, in a show of wonderful consistency, for doubles it divides by 2^53:
[code]

[2019-07-06 01:05] veritas9872 commented on #6934
I have never faced this error so I cannot say for sure. However, I would recommend copying the current implementation from [here](https://github.com/pytorch/pytorch/pull/22289). It seems to work well. I would recommend designing a new function to implement (1 - SSIM) that caches the kernel and weights, since the current functional implementation copies the kernel and weights every time.

[2019-07-06 02:01] saeedseyyedi commented on #11665
I have the same issue getting this error message, did you find any solution?

[2019-07-06 02:07] SsnL commented on #11665
@saeedseyyedi Hmm so if you are using `resize_` or `resize_as_` in a user code, you are probably doing something wrong. Look into `reshape`.

[2019-07-06 02:20] marchss commented on #19106
Same issue here. Any suggestions to speed up?

[2019-07-06 02:47] vishwakftw commented on #22552
Thank you for opening the issue. The way to recover the P, L, U matrices is to use torch.lu_unpack.

However, I do agree that it is better to mention this in the docs. I’ll fix this soon.

[2019-07-06 03:03] xjdeng commented on #21114
I also have a 960M with CUDA 10, Python 3.6, and Windows 10.

The easy solution is as follows:

In any module that you'll be using pytorch, make sure the first two lines are as follows:

'''
import torch
torch.cuda.current_device()
'''

For example, if you're using fastai's vision module, normally you can import it as follows (if this bug isn't present):

[code]

But now you'll need to do the foll

[2019-07-06 04:46] cdicle-nutonomy commented on #9674
I am trying to do an **element wise** multiplication between sparse and dense matrices. I have tried
`S*D` and `S.mul(D)` but getting the error `RuntimeError: _nnz is not implemented for type CPUType`. What am I missing?

[2019-07-06 05:13] peterjc123 commented on #20990
@smanj2
Would you please put the following code block in front of all the other code and try again?
[code]

[2019-07-06 05:17] peterjc123 commented on #22486
Please try https://github.com/lucasg/Dependencies and open `[PYTHON ROOT]\LIB\SITE-PACKAGES\TORCH\_C.PYD`.

[2019-07-06 06:11] t-vi commented on #22329
Just because @soumith discussed working on it during a sprint.

So I hope to code up something replacing the front some time next week, I'm currently planning to make it look like the symbolic_script:
[code]
It's not 100% clean or  working yet, but it gets past the alias and shape analysis by importing from the other branch above, so now I have to inline the autograd scripted function and create i

[2019-07-06 07:13] GlebBrykin commented on #22486
What am I supposed to do?

[2019-07-06 07:16] Jonas1312 commented on #22486
By "last version" do you mean 1.1.0 or nightly?
Please try
[code]

[2019-07-06 07:19] vlasenkov commented on #22535
Thanks. So, if this is not a performance bug, I'm closing the issue.

[2019-07-06 07:19] #22535 closed

[2019-07-06 08:00] nlhkh opened #22564 "Cannot build Caffe2 while installing Pytorch on Raspbian (buster)"
## 🐛 Bug

Cannot build caffe2 while installing Pytorch on Raspberry Pi 3B+ (Raspbian:buster). Error: ``undefined reference to `__atomic_fetch_add_8'``.

## To Reproduce

Steps to reproduce the behavior:

1. Get pytorch `git clone --recursive https://github.com/pytorch/pytorch`

2. Set environment variables
[code]

3. Run build `python3 setup.py build`

Error message:
[code]

## Expected behavior

[2019-07-06 11:08] ohlr commented on #12409
Is there any progress on this?

[2019-07-06 11:14] fmassa commented on #12409
Yes, interpolate performance is being improved for fp16, see https://github.com/pytorch/pytorch/pull/21694 and https://github.com/pytorch/pytorch/pull/21879

[2019-07-06 11:17] fmassa commented on #12409
btw, @ngimel is this is an issue now or can we close this?

[2019-07-06 12:12] chamecall commented on #7826
Hey, did you solve the problem in the end?

[2019-07-06 12:45] arvidfm commented on #22552
Ah, yes, I see. I was hoping for more of an explicit description of the format, as in my case I already have an LU-factorized matrix, and I need to know how to convert it into the format required by `torch.lu_solve`. Or perhaps there could be a `torch.lu_pack` function.

[2019-07-06 12:47] trakaros opened #22565 "*** stack smashing detected *** after adding libtorch in CMake"
## 🐛 *** stack smashing detected *** after loading "model.pt"

## To Reproduce

Steps to reproduce the behavior:

* I can successfully load the model file(model.pt).
* However,when the code reaches the command "image_window win;", a "stack smashing detected" error is thrown.
* I have also checked the size of the model file.It is 350KB.Is it too big and it causes overflow in stack?
* The strange th

[2019-07-06 14:20] nitinsatpute commented on #21154
pip3 install https://download.pytorch.org/whl/cu100/torch-1.1.0-cp36-cp36m-linux_x86_64.whl
Install pytorch  from above link. It will solve this issue.

[2019-07-06 15:46] ilia-cher commented on #19996
@moskomule, could you share how did you make it to show warning, how did you run the code you mentioned in parallel?

Summarizing known points:
- `fork` should not be called after OpenMP's parallel features has been used; in other words, if you started using OpenMP you shouldn't call `fork`, calling `fork` first and then using OpenMP is fine (https://stackoverflow.com/questions/49049388/understand

[2019-07-06 16:56] vishwakftw commented on #22011
I think this has been fixed on master, because the point of error is non-existent on master.

[2019-07-06 18:47] ngimel commented on #12409
@fmassa, No, this is no longer an issue after the PRs that you've mentioned. @tstandley please reopen if it still reproduced in nightlies.

[2019-07-06 18:47] #12409 closed

[2019-07-06 20:10] loshchil commented on #22343
I would like to add that

- when the gradient-based and weight decay updates are coupled (the case when L2 regularization is used), then the contribution of weight decay is combined with the gradient update and then multiplied by 'lr',  thus weight decay is scheduled implicitly in the same way as 'lr'.

- when the gradient-based and weight decay updates are decoupled, then there is no multiplicati

[2019-07-06 20:58] xuhdev commented on #22565
If you remove the first two lines related to `torch`, would your program still report such an error on the `image_window` line?

[2019-07-06 21:04] xuhdev commented on #22564
Are you using clang for building? It is suggested that switching to gcc or adding the `-stdlib=libstdc++` flag to clang (you can do this by editing `build/CMakeCache.txt` and adding that to `CMAKE_CXX_FLAGS:STRING=`) might resolve this issue:

https://stackoverflow.com/questions/28920489/how-come-stdatomicdouble-isnt-implemented-when-compiling-with-clang

[2019-07-06 21:12] xuhdev commented on #22536
Is aten/src/ATen/native/README.md what you are looking for?

[2019-07-06 21:12] Krutsch opened #22566 "Problem with Dataloader and labels"
Hello, I am classifying images and realized something disturbing...
While the test data achieved 90% accuracy with the help of the dataloader API, single predictions were often wrong, so I iterated through my images without the dataloader API and saw that the trained model only achieved 15% accuracy.
So I was wondering why..
I am using the oxford_102 dataset which I load locally by using `torchvis

[2019-07-06 22:06] varunagrawal commented on #22439
I was thinking about this recently as well and came across something [similar in Tensorflow](https://www.tensorflow.org/api_docs/python/tf/metrics).

I believe the idea is to have metrics such as mAP, precision (at k), nDCG etc., easily available and with strong GPU and multi-dimensional tensor support, so that there is less reinventing of the wheel and users don't get hit by bugs when trying to i

[2019-07-06 22:48] moskomule commented on #19996
Hi @ilia-cher
I just run the snippet in https://github.com/pytorch/pytorch/issues/19996#issuecomment-490501684 in parallel by using two different terminals on a single machine.

[2019-07-06 22:52] nlhkh commented on #22564
Hi @xuhdev, I did as you said, but it says that `-stdlib=libstdc++` is an undefined symbol.

I am not familiar with the CMake build tool though.

Should I change something in the root CMakeList.txt instead?

[2019-07-06 23:38] trakaros commented on #22565
* Yes,the problem is still the same when I put in comments that 2 commands related to ```torch```(so,there isn't any problem with the model file).The problem is caused when I put in CMake the commands related to ``` Libtorch```.However,I can't figure out how these libraries affect the stack and smash it.
* Also, if I put a ```return 0;``` statement before the ```image_window``` line, the programm

[2019-07-07 02:32] #22489 closed

[2019-07-07 03:30] seewpx opened #22567 "Pytorch compilation is terminated on Gentoo for security reason"
## ❓ Questions and Help
[code]
The pyyaml's load() call Pytorch use is considered unsafe in Gentoo. Any load() call will raise error.
What should I do to avoid this error?

##This is the Gentoo develop team's disccusion
https://bugs.gentoo.org/659348

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the websi

[2019-07-07 05:33] InstantWindy opened #22568 "raise RuntimeError("ONNX symbolic expected a constant value in the trace")"
Version :pytorch version 1.0.0
Error:raise RuntimeError("ONNX symbolic expected a constant value in the trace")

[2019-07-07 08:14] seewpx commented on #22567
[code]

[2019-07-07 09:01] GlebBrykin commented on #22486
The problem persists. ImportError: DLL load failed.

[2019-07-07 10:12] as1392 opened #22570 "UnicodeDecodeError in collect_env, running on Windows cmd"
## 🐛 Bug
Codes involving collect_env_info() make UnicodeDecodeError when running on cmd of Windows 10 in Korean(and maybe other languages..)
## To Reproduce

D:\Storage\Math\Github\maskrcnn-benchmark>python3 tools/test_net.py --config-file "configs/e2e_mask_rcnn_R_50_FPN_1x.yaml"
2019-07-07 18:09:52,023 maskrcnn_benchmark INFO: Using 1 GPUs
2019-07-07 18:09:52,023 maskrcnn_benchmark INFO: AMP_VERB

[2019-07-07 10:46] ninadakolekar commented on #22494
I'm new to contributing. I would like to take this up.

[2019-07-07 10:48] t-vi commented on #22402
@perone has an awesome blog post on this: http://blog.christianperone.com/2019/07/numpy-dispatcher-when-numpy-becomes-a-protocol-for-an-ecosystem/

[2019-07-07 11:22] JubilantJerry opened #22571 "Segmentation Fault for "import torch" on Ubuntu 16.0.4 + prime-select intel"
## Bug
The bug is similar to #4101, but it is not fixed on 0.4.1 and persists on the latest public release of PyTorch. When I switch my graphics settings to use my integrated GPU with prime-select, then I cannot import torch at all - Python will instantly segfault. I run Ubuntu 16.0.4 and Python 3.5.

## Workaround and Possible Cause

The bug is resolved if I remove these files:
/usr/lib/x86_64-li

[2019-07-07 11:44] lapetite123 commented on #19457
@colesbury hello,I tried to install pytorch0.4.1 from source, I follow the above step but when I execute the last step, it appears some error like this:
+ make install -j48
make: *** No rule to make target 'install'.  Stop.
Failed to run 'bash tools/build_pytorch_libs.sh --use-cuda --use-nnpack nccl caffe2 nanopb libshm gloo THD c10d'
env: 2080ti  cuda9.2.148  python3.6.4

[2019-07-07 12:23] vadimkantorov opened #22572 "Removal for some empty source files in THC"
https://github.com/pytorch/pytorch/blob/master/aten/src/THC/THCThreadLocal.cpp and https://github.com/pytorch/pytorch/blob/master/aten/src/THC/THCThreadLocal.h are empty :)

[2019-07-07 12:30] vishwakftw commented on #22567
Based on the bug report, I think the issue would be resolved if you update to a more recent version of PyYAML.

[2019-07-07 12:51] seewpx commented on #22567
@vishwakftw Yet a newest version 5.1.1 of PyYAML compared version 5.1 of mine have not any change at this place. But I have patch the code to avoid above error. Thank you!

[2019-07-07 12:51] #22567 closed

[2019-07-07 13:18] calincru opened #22573 "Batched symeig is very slow on GPU"
## 🐛 Bug

The recently added batched eigenvalue decomposition via `torch.symeig` is very slow on GPU (pr: https://github.com/pytorch/pytorch/pull/21858, issue: https://github.com/pytorch/pytorch/issues/7500).

## To Reproduce

[code]

## Expected behavior

The GPU variant should be at least as fast as the CPU one.  This is an elementary matrix operation and GPUs should be fast at that.

## Environ

[2019-07-07 13:39] YuanLiXiong opened #22574 "DataLoader pytorch1.1"
## 🐛 Bug
Error:
  File "/home/yuanlx/anaconda3/envs/py36/lib/python3.6/site-packages/torch/utils/data/dataloader.py", line 176, in __init__
    sampler = RandomSampler(dataset)
  File "/home/yuanlx/anaconda3/envs/py36/lib/python3.6/site-packages/torch/utils/data/sampler.py", line 66, in __init__
    "value, but got num_samples={}".format(self.num_samples))
ValueError: num_samples should be a posit

[2019-07-07 13:58] calincru commented on #22573
It seems that the same thing happens for QR decompositions, https://github.com/pytorch/pytorch/blob/bcb5fd8f06292f1bf4b1982b97ed2339c3f49a30/aten/src/ATen/native/cuda/BatchLinearAlgebra.cu#L1070
so I assume it's related to the fact that batching for these functions is implemented in the for-loop style (https://github.com/pytorch/pytorch/pull/20689#issuecomment-500259761 is relevant).  But that mak

[2019-07-07 14:06] catafest opened #22575 "pytorch on python 3.7.3"
## 🚀 Feature

pytorch with python 3.7.3
(install using pip)
## Motivation
I change to python 3.7.3 and I think this is easy to implement from 3.6 to 3.7.3 by the pytorch team.

I want to use the https://github.com/pytorch/audio on python 3.7.3
## Pitch

## Alternatives

## Additional context

[2019-07-07 14:21] Krutsch commented on #22566
I found a solution for it by changing my evalution method:
[code]

But I still think the API methods should do it for me

[2019-07-07 14:50] YuanLiXiong commented on #22574
I have fixed my problem that my dataset path is wrong.

[2019-07-07 14:56] chouzhupk commented on #2286
@Dxye I'm assuming it's installed from conda, which includeds a cuda subfolder in the package directory, that's why pytorch is always using this built-in version (7.0.5 in your case). You may remove the cuda folder and pytorch should be able to reference system settings (7.1.4).

[2019-07-07 16:39] vishwakftw commented on #22573
Hi @calincru. Thank you for opening the issue.

As you have pointed out in your comment, the QR decomposition is slow for smaller matrices. A similar statement can be made for the symmetric eigendecomposition for MAGMA. However, MAGMA is comparatively faster on larger matrices as elucidated in [this comment](http://icl.cs.utk.edu/magma/forum/viewtopic.php?f=2&t=1946&p=5249&hilit=slow&sid=c3c17bc0e

[2019-07-07 16:43] vishwakftw commented on #22573
Regarding your comment on a for-loop style, these calls are parallelized internally in libraries like MKL, and parallelizing the batch for-loop could possibly lead to errors or cause performance issues.

[2019-07-07 17:10] calincru commented on #22573
I understand but the discrepancy between the two is still surprisingly large.  I compared out of curiosity to TensorFlow and while they have the same issue (CPU is faster than GPU for many small matrices), the time taken by the latter is much smaller.  For instance, on 10k 2x2 matrices it takes ~2.5s while PyTorch takes ~17.2s.  This difference only increases with the number of matrices.

Just a w

[2019-07-07 17:16] calincru commented on #9983
Any updates on the development of `expm`, `logm`, `sqrtm`?

[2019-07-07 17:44] #22574 closed

[2019-07-07 17:47] SsnL commented on #22566
This is about torchvision's ImageFolder. Could you open the issue there instead?

cc @fmassa

[2019-07-07 18:43] jjsjann123 commented on #22526
Probably related to my last update in nearest kernels. Let me take a look tomorrow.
Thanks for pinging me on this!

[2019-07-07 19:07] kunaalgupta commented on #1376
from data import BaseTransform,VOC_CLASSES as labelmap
this is not working

[2019-07-07 19:34] xuhdev commented on #22575
PyTorch has been supporting Python 3.7.3 :)

See https://pytorch.org/get-started/locally/ , select pip and Python 3.7

[2019-07-07 19:38] xuhdev commented on #22564
You shouldn't need to modify `CMakeLists.txt`. This likely means you are using gcc not clang. Just to confirm, what is the output of `c++ -v` on your system?

[2019-07-07 19:38] nlhkh commented on #22564
I tried both these without success. I put them in the root __CMakeList.txt__ file.
`set(CMAKE_CXX_FLAGS "${CMAKE_CXX_FLAGS} -latomic") # same error message as before`
and
`set(CMAKE_CXX_LINK_FLAGS "${CMAKE_CXX_LINK_FLAGS} -latomic") # failed in build_deps`
[code]

Please be reminded that I am installing Pytorch on a Raspberry Pi.

[2019-07-07 19:39] nlhkh commented on #22564
@xuhdev Here is the output of `c++ -v`
[code]

[2019-07-07 19:56] MichaelArbel opened #22577 "Double backwards 3 times slower for conv2d with padding = 1"
## 🐛 Bug

Hi, I'm trying to compute the jacobian vector product using a trick from https://j-towns.github.io/2017/06/12/A-new-trick.html. This involves computing the gradient twice. It seems like using conv2d with padding =1 slows down the computation by almost 3 times, compared to padding =0:

padding= 0:  2.962866 s
padding=1:  9.922703s

In case only one backward pass is computed both give the

[2019-07-07 20:18] xuhdev commented on #22564
Could you `export MAX_JOBS=1` when you try to produce the build error? It looks like your latest message has the real error message missed.

[2019-07-07 20:28] nlhkh commented on #22564
With `export MAX_JOBS=1` it failed for the same reason

[code]

[2019-07-07 20:32] xuhdev commented on #22564
OK. Could you run:

    cd build
    make -j 1 VERBOSE=1

and post the output?

[2019-07-07 20:35] nlhkh commented on #22564
Here you are
[code]

[2019-07-07 20:40] xuhdev commented on #22564
It looks like this is a bug in protobuf and it's fixed a few days ago: https://github.com/protocolbuffers/protobuf/commit/55ed1d427ccc0d200927746329ac9b811dee77b9

Could you run the following and try to build again?

    git submodule update --remote third_party/protobuf

[2019-07-07 21:31] arthurhero opened #22578 "torch.gels runs 100 time slower on gpu than on cpu"
I tried gels on both gpu and cpu and measured time elapsed.

`start=time.time()
    sol,_=torch.gels(y,x.permute(1,0))[:3] # a,b,d
    end=time.time()`

On cpu it only takes ~0.00002 sec, but on gpu it take ~0.003 sec.

Anyone know why? Should it be the case?

[2019-07-08 00:21] xuhdev commented on #22565
If you add `return 0;` after the `image_window` line, comment out the two torch related lines, and remove libtorch from your linkage, and make sure you have a DEBUG build: What does `valgrind your_program` say?

[2019-07-08 01:37] peterjc123 commented on #22570
Hey, would you please try whether #22579 solves your problem?

[2019-07-08 01:41] Ridhwanluthra commented on #22444
I can volunteer to work on this. It would really help me if someone could give me a direction towards where to look for to begin working on this.
thanks

[2019-07-08 02:02] JackMing0 opened #22580 "Pytorch compilation error on Mac OS"
# # 🐛 Bug

# # environment
-- operating system: Mac OS 10.13
-- cmake version 3.14.2
-- python version 3.6.5
- clang:
Clang  -std = c + + 17
Apple LLVM version 9.1.0 (clang-902.0.39.1)
Target: x86_64 - apple - darwin17.7.0

## installation process
        git clone --recursive https://github.com/pytorch/pytorch
	cd pytorch
	# if you are updating an existing checkout
	git submodule sync
	git submod

[2019-07-08 02:11] #21251 closed

[2019-07-08 02:55] xuhdev commented on #22564
Exactly the same error: protocolbuffers/protobuf#6337

[2019-07-08 03:57] #22570 closed

[2019-07-08 04:38] as1392 commented on #22570
@peterjc123 It perfectly works! Thanks!

[2019-07-08 06:43] snippler commented on #22550
I now noticed that there is Eigen in Caffe2. Weird that it is not available in PyTorch.

[2019-07-08 07:03] kaszperro commented on #22439
@varunagrawal that's exactly the idea.

I believe extending ignite's metrics, is what PyTorch members want. And I might be wrong, but I still don't know why should it be in separate project, as almost everyone using PyTorch, want to evaluate model accuracy.

[2019-07-08 07:03] angusturner opened #22581 "Batched Triu And Tril Incorrect for Some Inputs"
## 🐛 Bug

When passing a specific 4D tensor to `triu` or `tril`, the GPU implementation produces non-deterministic results. The CPU implementation produces `nan` values.

## To Reproduce

This is the minimum reproducible example I could come up with:

[code]

Note that the issue does not seem to occur when:
- the transpose is omitted
- if `x.size(0) > 1`
- if the tensor has more or fewer dimension

[2019-07-08 08:08] fmassa commented on #22578
Can you post a full snippet  with random tensors and its sizes?

[2019-07-08 08:49] RomainSabathe commented on #10443
Facing the same issue. Temporary solved it the way @adamshamsudeen suggested: `pipenv install torch==1.1.0`

[2019-07-08 08:59] zeroexcuses opened #22583 "pytorch creating 1st tensor slow"
## 🐛 Bug

It takes 4 seconds to initialize CUDA + create first Tensor.

## To Reproduce

See script:

[code]

## Expected behavior

I expect this to take < 1s.

## Environment

Fedora 29.

Python 3.7

Pytorch 1.1.0

Cuda 10

Installed via Pip + https://pytorch.org/get-started/locally/

[code]

## Additional context

[2019-07-08 10:46] jeroneandrews commented on #19996
I've also started getting this warning when using num_workers > 1 in both the train and test loader.

[2019-07-08 10:58] belle616 commented on #19302
I'm running on Ubuntu 16.04 but am having the same error as asa008 below. It works fine in CPU but doesn't work in GPU.

auto output2 = module->forward(inputs2).toTensor();

I don't have problem for building but it returns segmentation fault (core dumped).
Is there anybody to have the same problem and reach any solution?

[2019-07-08 11:34] lpuglia opened #22584 "Drop 'add extra samples to make it evenly divisible' constraint in DistributedSampler"
## 🚀 Feature
Drop 'add extra samples to make it evenly divisible' constraint in DistributedSampler

## Motivation

I was having problem with [distributed](https://github.com/pytorch/pytorch/blob/master/torch/utils/data/distributed.py) module in v1.1.0 (and master as well), my function for `validation_set_eval` was giving different results according to the number of processes.

Then i discovered th

[2019-07-08 12:10] fmassa commented on #22566
@Krutsch I believe this is the same issue as https://github.com/pytorch/vision/issues/714

I'm closing this issue as it's not a PyTorch problem. If you want to continue the discussion, open an issue in torchvision.

[2019-07-08 12:10] #22566 closed

[2019-07-08 12:12] Ukhupacha commented on #18041
Hello there,
I encountered the same problem but instead of gfx803_**16**.cd.pdx.txt I have  gfx803_**8**.cd.pdx.tx
MIOpen(HIP): Warning [FindRecordUnsafe] File is unreadable: /opt/rocm/miopen/share/miopen/db/gfx803_8.cd.pdb.txt

I have a Radeon E9171 MCM  and Fedora 29, using the docker rocm/tensorflow.

Thanks in advance,

[2019-07-08 12:13] mahmoodn commented on #22032
May I know which changes have been made? I don't want to re clone everything at this time. So, I will manually modify the changes.

[2019-07-08 12:26] vadimkantorov opened #22585 "[dataloader] Mysterious error when using spawn start_method"
Unfortunately, I couldn't find the root cause for the moment. The error disappears when I use the fork start_method. I also can't find what `deco` it refers to.

It seems that some function decorator / wrapping is happening badly, but I can't find what's to blame.

The error comes from `process.start()` impl for the spawn start method.
[code]

PyTorch version: 1.2.0.dev20190607

[2019-07-08 12:29] popovaav27 commented on #14219
I had this error. In my case, helped installing older versions of torch (1.1.0 -> 1.0.1) and torchvision (0.3.0 -> 0.2.1).

[2019-07-08 12:43] richard-vogl commented on #4107
I am running into a similar problem. Does anyone know what causes this by now, or is there a workaround for this problem?

[2019-07-08 13:04] ChenMinQi opened #22586 "got nan when gumbel_softmax calculated in GPU"
## 🐛 Bug

## To Reproduce

[code]
got results:

## Expected behavior

no nan happen

## Environment

 - PyTorch Version (1.1.0):
 - OS (Linux):
 - How you installed PyTorch (`pip`):
 - Python version: 2.7
 - CUDA/cuDNN version: 9.0

[2019-07-08 13:25] vadimkantorov commented on #22585
It is indeed the dataset object that can't be pickled with `ForkingPickler(file, protocol).dump(obj)` or with `pickle.dump(train_loader.dataset, open('/dev/null', 'wb'))`, but it's not a problem for start_method = 'fork'

[2019-07-08 14:09] #22507 closed

[2019-07-08 14:14] arnemonsees opened #22587 "print-statement changes output of JIT function"
## 🐛 Bug

I implemented functions to perform a cholesky update via PyTorch and hoped for better execution times by utilizing the jit decorator. Unfortunately, then the result of the cholesky update is not longer correct. However, while debugging I realized that I am able to get the correct result when using a print-statement within the update function.

## To Reproduce

[code]

Executing the code

[2019-07-08 14:25] SsnL commented on #22585
Don't know what is going on, but I'll provide a `start_method=` kwarg to `DataLoader` that may help resolving this.

[2019-07-08 14:40] zou3519 commented on #22575
Closing due to @xuhdev's comment. Please let us know if we misunderstood your question.

[2019-07-08 14:40] #22575 closed

[2019-07-08 14:45] zou3519 commented on #22580
I don't see any compilation errors, just warnings. Could you post the full compilation log?

[2019-07-08 14:49] zou3519 commented on #22584
cc @mrshenli

[2019-07-08 14:56] vishwakftw commented on #22581
Hi @angusturner, thanks for raising the issue.

I am unable to reproduce the errors that you have encountered on the master branch. Could you please upgrade to a nightly build and see if the error persists? Thanks!

[2019-07-08 14:58] vishwakftw commented on #22578
The backend for LAPACK functions for CUDA is MAGMA. MAGMA is known to be very effective for large problem sizes, and what your seeing is most probably due to overheads in computation.

[2019-07-08 15:03] ElleryL commented on #18125
Hey I have implemented a mixture of Gaussian. The class do the following

[code]

which creates a bivariate. Can I push this code ?

[2019-07-08 15:05] vishwakftw commented on #22573
It is my understanding that MAGMA uses a divide and conquer algorithm for computing the eigenvalues and eigenvectors, whereas cuSolver uses a Jacobi method for the same. To quote the documentation on the cuSolver website,

This could be a reason as to why you are seeing the difference.

[2019-07-08 15:13] dylanbespalko commented on #755
@ezyang, @Roger-luo

I have taken a look at Roger's PR [#11641](https://github.com/pytorch/pytorch/pull/11641/commits):
 - It builds and runs on my CUDA 9.0 machine
 - It fails to build on CI machines that are running CUDA 9.0

I have also taken a look at some of the recent PyTorch developments:
 - A [presentation](http://blog.ezyang.com/2019/05/pytorch-internals/) from @ezyang describing how to w

[2019-07-08 15:30] #22529 closed

[2019-07-08 15:44] liukuanlk commented on #21706
Thanks, the patch helped!
May I ask one more question, which compiler do you use to build .dll such as torch.dll?

[2019-07-08 15:44] vadimkantorov commented on #22585
It seems that start_method = 'fork' avoids doing pickling. Can this be true?

[2019-07-08 15:45] liukuanlk commented on #21706
Is that Visual C++ 2017?

[2019-07-08 15:51] iotamudelta commented on #18041
@Ukhupacha please don't use the `rocm/tensorflow` dockers for PyTorch. Use `rocm/pytorch` ones. Concerning your GPU: I don't think MIOpen tunes for gfx803 with 8 CUs. You should be able to get rid of the warning by creating an empty file in that location.

[2019-07-08 15:59] fritzo commented on #18125
If we add a mixture distribution, then I think it should be a generic `MixtureSameFamily`.

What are the use cases for such a distribution?

As mentioned above:
- `MixtureSameFamily` is not pathwise differentiable, so `.rsample()` cannot be implemented.
- Pyro avoids `MixtureSameFamily`, instead enumerating over components. This provides equivalent model flexibility, avoids the need for pathwise d

[2019-07-08 16:10] datafool opened #22592 "Segmentation Fault: loss.backward() for mobile net_v2 trained on CIFAR100"
## 🐛 Bug

I am trying to train pretrained mobilenet_v2() on CIFAR 100 dataset as taken from torch vision. However, loss.backward() fails and crashes python with `Segmentation Fault 11` error. Same error is not observed when using any other pretrained model like VGG16 etc.
## To Reproduce

Please use below code snippet to reproduce the error

[code]

## Expected behavior

Model should back-propogat

[2019-07-08 16:30] blednotik opened #22593 "THCudaCheck FAIL after multiplication of big float64 matrices and sinchronizing"
## 🐛 Bug

## To Reproduce

[code]

consistently produces THCudaCheck FAIL:

[code]

## Environment

PyTorch version: 1.1.0
Is debug build: No
CUDA used to build PyTorch: 10.0

OS: Microsoft Windows 10 Pro
GCC version: Could not collect
CMake version: Could not collect

Python version: 3.7
Is CUDA available: Yes
CUDA runtime version: Could not collect
GPU models and configuration: GPU 0: GeForce RT

[2019-07-08 16:43] vadimkantorov commented on #22585
On actionable side, maybe the data loader could wrap `process.start` in try-catch to raise a more legible exception for the user (suggesting that dataset object or the collate function is not picklable).

[2019-07-08 17:06] ezyang commented on #22586
According to https://github.com/pytorch/pytorch/issues/22557 this has been fixed on master. Please let us know if this is not true!

[2019-07-08 17:06] #22586 closed

[2019-07-08 17:08] ezyang commented on #22565
This sounds serious. If someone else could try reproducing the error that would be very helpful.

[2019-07-08 17:11] ezyang commented on #22577
@fmassa: This might just be cuDNN dispatching to a bad kernel in the padding = 1. Can you run your code under nvprof and let us know which kernels it is running in this case?

[2019-07-08 17:12] ezyang commented on #22571
What is the specific hardware model of computer/gpu you're using?

[2019-07-08 17:13] ezyang commented on #22571
@fmassa suggests running PyTorch with `CUDA_VISIBLE_DEVICES=` (that's empty), as a way of "disabling" GPUs.

[2019-07-08 17:15] zou3519 commented on #22581
@vishwakftw I can reproduce this on master, fwiw

[2019-07-08 17:19] vishwakftw commented on #22581
Oh, that’s weird. I’ll rebuild and see if the error persists. Sorry about the misinformation.

Could you please let know if the CUDA issue is there? A minor refactor was done to the CUDA kernel after 1.1.0, hence the question.

[2019-07-08 17:20] ezyang commented on #22439
@jeffreyksmithjr says that this issue has been filed multiple times. It's common in analogous libraries; it's a weird user experience that we don't have these metrics out of the box. (And it may become a requirement for some of our internal requirements.) We (in PyTorch core) may need to step up and do the design work for something like this. (In terms of internal priority, this might come after h

[2019-07-08 17:25] ezyang commented on #22538
In triage, we decided that this relaxation seemed like a reasonable to do.

(Unrelated to this issue: @fmassa was wondering if there wasn't a reason why BatchNorm didn't just take a sync argument. @mrshenli will investigate.)

[2019-07-08 17:37] ezyang commented on #5953
cc @vincentqb

[2019-07-08 17:38] ezyang commented on #21956
Unfortunately, we're going to need some sort of reproducer if we're going to be able to fix this.

If anyone else is having this problem, please shout!

[2019-07-08 17:39] ezyang commented on #20682
The weekly triage meeting doesn't have anything to say here; do what y'all think is best :)

[2019-07-08 17:43] pbelevich commented on #19545
@ShahriarSS, the fix has been merged, please test

[2019-07-08 17:46] zou3519 commented on #22581
I'm on `1.2.0a0+6947e19`, which is from 11 days ago

[2019-07-08 17:48] ezyang commented on #18095
@ailzhang says: "it surprised me that a.flip(0) works fine but torch.flip(a, 0) doesn't. And this dim related args are pretty common in our user facing APIs, I feel it'd super useful if we can have a story like what and how dims args are supported in method/functions, as in general make it consistent across other APIs. "

[2019-07-08 17:50] vishwakftw commented on #22581
I couldn’t reproduce this with `1.2.0a0+94bd5dd` (current master on my fork).

[2019-07-08 18:19] derangedhk417 commented on #21061
I'm not certain that this error always occurs due to a memory issue. I've been having it intermittently on the same data-set. For example, I ran the same exact training process on the same exact data-set 71 times. The only difference between the data-sets was that a single scalar parameter in the objective function was changed. Absolutely none of the tensors changed size. 4 of the 71 runs threw th

[2019-07-08 18:21] jeffreyksmithjr commented on #22439
I continue to feel that the omission of metrics is just a hole in our feature set that should be filled. But I totally agree that some metrics belong in domain libraries (torchvision, etc.) and some belong completely outside of PT. There is some base level of functionality that I think could make a lot of sense for us to provide us the batteries obviously worthy of including.

Beyond the concerns

[2019-07-08 18:56] zou3519 commented on #22586
(Sorry, it's actually #22442)

[2019-07-08 19:46] ShahriarSS commented on #19545
Great. I will check it out.

[2019-07-08 19:48] trakaros commented on #22565
* I run the ```valgrind``` command you mentioned above.It  detects 1 error,however I can't get enough information of how this could be related to the ```stack smashing```.
* The full output is here: https://github.com/trakaros/MPIIGaze/blob/hpc-code/valgrind_out.txt

[2019-07-08 19:59] SsnL commented on #20241
Fixed in https://github.com/pytorch/pytorch/pull/22576#event-2467173622

[2019-07-08 19:59] #20241 closed

[2019-07-08 20:00] nlhkh commented on #22564
It works! Thanks @xuhdev.
The compile time on a Raspberry Pi 3B+ was almost 12 hours though, so it took me a while to reply.

[2019-07-08 20:04] xuhdev commented on #22564
@nlhkh To speed up, you can also pass `BUILD_TEST=0` to the build command

[2019-07-08 20:12] syed-ahmed commented on #22414
A small update just to keep people in the loop:

@colesbury added an AVX PhiloxSIMD, xoshiro256**, and pcg64 benchmark: https://github.com/colesbury/benchmark-rngs. The Pros/Cons of changing cpu random engine to philox are:

Pros:
- @colesbury 's PhiloxSIMD is about 2x faster than mt19937
- Jumping ahead in random sequence is essentially free. For PCG64, jumping ahead is O(log n)
- Since jumping a

[2019-07-08 20:15] knowlsie commented on #10443
I think I'm getting the same issue with the pip resolver (on Windows), but let me know if this is unrelated, or if I'm confused. `pip install torch==1.1.0` gives the error:
[code]

This is making installing/updating dev environments a real hassle, particularly for stuff with pip-specified torch requirements. I'd love a fix that doesn't involve conda workarounds...

[2019-07-08 20:16] colesbury commented on #22462
It's just a matter of operator overhead. torch.stack(data) is equivalent to `torch.cat([x.unbind(0) for x in data])`.

The unbind() overhead is ~1us. 1us * 10240 * 300 = ~3 seconds

[2019-07-08 20:34] SsnL commented on #22584
Because otherwise a rank will have less samples and thus possibly less iterations, and the other ranks running all reduce will hang waiting for it.

[2019-07-08 21:04] awwong1 opened #22597 "Autograd profiler memory leak when use_cuda=True"
## 🐛 Bug

When using the autograd profiler with `use_cuda=True`, memory usage continuously increases. This behaviour does not occur when `use_cuda=False`.

## To Reproduce

[code]
[code]

## Expected behavior
System memory usage should stay roughly constant. See output of the code, only no `cuda` tensors and `use_cuda` kwarg is not set.

[code]

[code]

## Environment

PyTorch version: 1.1.0
Is de

[2019-07-08 21:08] askliar commented on #21061
@derangedhk417 are you sure you did not have something else occupying your RAM in those 4 runs?

[2019-07-08 21:36] mcarilli commented on #22169
Why does unbinding need to be an autogradable operation at all?  Can't constituent Tensors just receive gradients depending on how they are individually or collectively used?

[2019-07-08 21:51] zou3519 commented on #22597
What happens if you run the following function:
[code]
before getting the virtual memory numbers?

[2019-07-08 21:56] awwong1 commented on #22597
@zou3519 There seems to be no noticeable difference.

[code]
[code]

[2019-07-08 22:04] zou3519 commented on #22581
I just checked out master and am still gettting this. After building with ASAN, I get the following stack trace:
[code]

[2019-07-08 22:24] ngimel commented on #22584
That's true, but the concern of repeating samples during validation/testing is also valid, repeating samples can noticeably distort results.

[2019-07-08 22:52] xuhdev commented on #22565
It looks like there might be an issue with your dlib installation -- stack smashing can be caused by some unsafe code, but is only triggered under some certain circumstances due to the arbitrariness of the unsafe code.

I see valgrind reports that there is an issue with dlib, and you have a custom dlib build. Could you try with a stable dlib installation and see whether valgrind still reports this

[2019-07-08 23:23] trakaros commented on #22565
I'll check the stable build and I'll update the issue after that.Thank you.

[2019-07-08 23:26] ngimel commented on #22496
Reproduced on the latest cudnn version (7.6), we are looking into it.

[2019-07-08 23:34] jjsjann123 commented on #22526
This error is caused by launch config with block.z = 128. CUDA maximum z-dimension is 64 instead of 1024 (as with x/y).

I issued #22602 to fix this one.

[2019-07-08 23:48] ngimel commented on #22496
Actually, this is a documented restriction - cudnn does not support tensors with more than 2**31 elements, and the output tensor for batch size >=42 has more than 2**31 elements
https://docs.nvidia.com/deeplearning/sdk/cudnn-developer-guide/index.html#cudnnSetTensorNdDescriptor

[2019-07-09 00:08] JubilantJerry commented on #22571
Something must have been misconfigured on the machine. A re-installation appeared to have fixed the problem.

[2019-07-09 00:08] #22571 closed

[2019-07-09 00:23] JackMing0 commented on #22580
This is the pytorch compiled complete diary, and at 50% there are too many warnings! At present, there is no test whether it can be used normally! Please show me! What can be done to avoid these problems! Thank you very much!

[pytorch.txt](https://github.com/pytorch/pytorch/files/3370655/pytorch.txt)

[2019-07-09 00:23] Chillee opened #22603 "[jit] Can't use kwargs in python methods"
[code]

This gives me the error
[code]

[2019-07-09 00:27] IJCAI2019-985 opened #22604 ""CrossEntropyLoss" should mention in its name that it takes softmax for target"
https://stackoverflow.com/questions/49390842/cross-entropy-in-pytorch
https://discuss.pytorch.org/t/why-does-crossentropyloss-include-the-softmax-function/4420
https://discuss.pytorch.org/t/do-i-need-to-use-softmax-before-nn-crossentropyloss/16739

people keep asking questions like this for the name is not clear

[2019-07-09 01:27] peterjc123 commented on #22593
I cannot reproduce this. And below is my env:
[code]

[2019-07-09 01:39] zou3519 commented on #22580
[code]

Maybe try building with `MACOSX_DEPLOYMENT_TARGET=10.13 CC=clang CXX=clang++ python setup.py install` ?

[2019-07-09 01:40] vishwakftw commented on #22581
Thank you @zou3519. I’ll check the code and get back to you by next afternoon.

[2019-07-09 02:18] peterjc123 commented on #21706
Yes, we use VS 2017 15.4 for building things on Windows.

[2019-07-09 02:55] 644517236 commented on #22526
Thanks. @jjsjann123  @mrshenli

[2019-07-09 03:25] eagerming commented on #14365
I encounter the same issue too. When the nn.Embedding initialized with "max_norm=1", then it occurs.

[2019-07-09 03:29] AndrewSoul opened #22607 "About backward and forward"
## ❓ Questions and Help
Hi, I want to ask about the difference between the following two pieces of code:

[code]
I passed vgg to model in  ModelOutputs()
and
[code]
I'm just curious about what  the difference between the two pieces of code above for backward and forward is? When the loss backward, will the gradients be different?
Could someone help me? Thanks!!

[2019-07-09 04:25] ezyang commented on #22417
For the record: I support this plan.  It seems like the only reasonable
way to get torchvision to work under AMD.

Excerpts from iotamudelta's message of 2019-07-01 15:39:03 -0700:

[2019-07-09 04:30] shenyunhang commented on #22294
same for me.

[code]

And [here](https://raw.githubusercontent.com/shenyunhang/linux_configure_scripts/master/pytorch.sh) is my install script.

[2019-07-09 04:41] Chillee opened #22608 "[jit] zeros_like/one_like don't handle their kwargs correctly."
[code]
This currently results in
[code]

It appears that this may be a regression since 1.0.1, as this issue https://github.com/pytorch/pytorch/issues/22587  provides code that contains code like this.

cc @suo

[2019-07-09 04:42] vuzelac-cadence opened #22609 "caffe_translator Crop not properly implemented"
## 🐛 Bug

Trying to convert Caffe FCN network (uses 2D WxH Crop) and getting error:

`RuntimeError: [enforce fail at c:\work\glow\pytorch\caffe2\operators\slice_op.h:82] dim == -1. 2 vs -1. Currently only possible to slice in 1 dimension.`

I plan to fix this by replacing the current logic in `TranslateCrop`, that builds a multidimensional Slice, with the logic where a multidim Crop is implemented

[2019-07-09 04:43] Chillee commented on #22587
Interesting. Your bug report has actually exposed a couple different issues. The particular issue you're reporting appears to be caused by incorrect alias analysis for slices.

Your code doesn't currently run on master, which exposed #22608, and examining the generated code also revealed that our fuser is being activated incorrectly.

[2019-07-09 04:59] GengDavid commented on #21973
Hi, @soumith. The PyTorch 1.1-cu90 binary is not compatible with cu9.2 when I have some customized OPs. I also think providing an official PyTorch 1.1-cu92 binary is necessary.

[2019-07-09 06:05] houseroad commented on #21727
cc: @spandantiwari issues with constant folding, could you confirm if the issues still exist or not?

[2019-07-09 06:07] lrjocean opened #22610 "is there any api like tensorflow's feature columns?"
is there any api like tensorflow's feature columns?

such as :
tf.feature_column.numeric_column
tf.feature_column.bucketized_column
tf.feature_column.categorical_column_with_identity
and so on!

[2019-07-09 06:24] soumith commented on #22610
no

[2019-07-09 06:24] #22610 closed

[2019-07-09 06:25] soumith commented on #21973
@GengDavid can you move to CUDA 10? Soon CUDA11 will come at some point, at which point we will remove CUDA9 builds

[2019-07-09 06:26] soumith commented on #22607
please use https://discuss.pytorch.org for questions

[2019-07-09 06:26] #22607 closed

[2019-07-09 06:31] soumith commented on #22604
this is a fair ask, we should probably add SoftmaxCrossEntropyLoss, but we shouldn't deprecate CrossEntropyLoss due to historical importance

[2019-07-09 06:35] soumith commented on #22414
all roads are pointing to switching the CPU to Philox

[2019-07-09 06:36] soumith commented on #18041
closing via @iotamudelta 's comment

[2019-07-09 06:36] #18041 closed

[2019-07-09 06:49] blednotik commented on #22593
I have CUDA 10, maybe that is the difference?

[2019-07-09 06:51] #22011 closed

[2019-07-09 06:52] peterjc123 commented on #22593
Maybe. would you please try whether downgrading CUDA helps?

[2019-07-09 06:57] soumith commented on #22565
@trakaros if you are using pytorch binaries, then it might be our fault, where pytorch and dlib use different CXX ABIs. (In such a case, stack smashing can occur).
For more context, see https://github.com/pytorch/pytorch/issues/22447
Compiling pytorch from source might fix your issue until we fix the problem.

[2019-07-09 06:58] GengDavid commented on #21973
Got it. Thanks.

[2019-07-09 06:59] soumith commented on #22447
@daskol I've been trying to make progress on this issue in the [linker](https://github.com/pytorch/pytorch/tree/linker) branch. I dont fully know how to resolve this issue, because there are multiple shared objects that pytorch ships.

The context is the following.

In PyTorch, we have the following linkage:

[code]

Now, the part that I am not sure to do correctly.

_C.so, and it’s descendents ne

[2019-07-09 08:14] Julia1211 commented on #15770
@huanghonggit have you solved the problem,and how?

[2019-07-09 08:27] bhaveshchavda53 commented on #22332
Microsoft Windows [Version 10.0.17763.557]
(c) 2018 Microsoft Corporation. All rights reserved.

C:\Users\bhave>cd pytorch

C:\Users\bhave\pytorch>cd scripts

C:\Users\bhave\pytorch\scripts>build_windows.bat
The system cannot find the drive specified.
Requirement already satisfied: pyyaml in c:\python27\lib\site-packages (5.1.1)
You are using pip version 18.1, however version 19.1.1 is available.

[2019-07-09 08:37] JohnStuartMillx opened #22611 "Combination of torch.cat with almost zero tensor and torchvision.transforms leeds to zero tensor"
## 🐛 Bug

If I create a Tensor with a fourth layer where (almost) all entries are zero, and I use transforms. transforms.RandomResizedCrop(), transforms.ToTensor() the hole tensor becomes a zero tensor.

## To Reproduce

Code to reproduce the behavior:

[code]
Output:
[code]

## Expected behavior

I would the first three layer change like there is no 4th layer. I.e. the first three layer are crope

[2019-07-09 08:38] vishwakftw commented on #22581
I'm able to reproduce the issue on CPU. Working on fixing it.

[2019-07-09 08:41] peterjc123 commented on #22332
Oh no, don't paste the full log here. It's rather verbose. Please use file uploading or https://gist.github.com for posting the full log. And for your question, the answer is simple. You didn't do `set BUILD_PYTHON=ON` in CMD since I saw `-DBUILD_PYTHON=False` in your command.

[2019-07-09 09:03] ThisIsIsaac opened #22612 "CUDA optimization of THCTensorMathPointwise.cuh"
@zou3519

pytorch's pointwise operations inside [THCTensorMathPointwise.cuh](https://github.com/pytorch/pytorch/blob/master/aten/src/THC/THCTensorMathPointwise.cuh) seems like it could use some optimizations for `int8` and `half` types. For types that are smaller than 4 bytes, there are significant amounts of bandwidth wasted. By having each thread load 4 bytes -- i.e. 4 `int8` elements or 2 `half

[2019-07-09 09:04] YYuanAnyVision commented on #20611
pytorch 1.1
the same problem here, the training freezes after 20 epochs. GPU usage is constantly 100%( in the normal situation, it would jump between 80% to 100%), the data loader also stops working.

[2019-07-09 09:06] fmassa commented on #22612
Note that `THCTensorMathPointwise` is kind of deprecated in favour of TensorIterator, which for CUDA the loops can be found in https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/cuda/Loops.cuh

[2019-07-09 09:22] padmalcom opened #22613 "Loading nvidia_waveglow model from torch hub on cpu fails without CUDA"
## 🐛 Bug

I try to load the nvidia_waveglow model as described here:
https://pytorch.org/hub/nvidia_deeplearningexamples_waveglow/

My VM has no CUDA support so I use the gpu as device.

My code is:
[code]

The model downloads successfully but at the end it fails with the following error:

Seems like map_location is not really taken into account.

## Environment

Collecting environment information

[2019-07-09 09:33] soumith commented on #22613
nvidia's waveglow models explicitly don't work on cpu. it was their choice of implementation

[2019-07-09 09:33] #22613 closed

[2019-07-09 09:35] lpuglia commented on #22584
well, that is not a valid concern, let's say you have 4 ranks and 202 inputs, a the moment the split gives you:
[code]
what i'm proposing is to split the input in the following way:
[code]
the current splitting strategy is gonna take ALWAYS more-or-equal time, so unless there is some optimization that is done at `reduce` time that requires ranks of the same size there is no reason to repeat inputs

[2019-07-09 09:57] jdhao opened #22614 "[Bug] behavior of tensor.view() method is not consistent with documentation in version 0.4.1"
## 🐛 Bug

I am current using PyTorch 0.4.1 and find that the actual behavior of `tensor.view()` method is not the same as the documentation. Specifically, [the documentation](https://pytorch.org/docs/0.4.1/tensors.html#torch.Tensor.view) says:

But actually, the returned tensor does not have the same `id()` for `tensor.storage()`.

## To Reproduce

[code]
You can see that the `id` of `a.storage()`

[2019-07-09 09:58] bhaveshchavda53 commented on #22332
after changes

Traceback (most recent call last):
  File "tools\build_libtorch.py", line 23, in <module>
    rerun_cmake=True, cmake_only=False, cmake=CMake('build'))
  File "C:\Users\bhave\pytorch\tools\build_pytorch_libs.py", line 64, in build_caffe2
    cmake.build(my_env)
  File "C:\Users\bhave\pytorch\tools\setup_helpers\cmake.py", line 333, in build
    self.run(build_args, my_env)
  File "C

[2019-07-09 10:07] jdhao commented on #8318
Just update your LD_LIBRARY_PATH to include the correct path to libstdc++.

[2019-07-09 10:23] intgogo commented on #21680
With ` cudnn.enabled = False`, I got negtive loss...

[code]

[2019-07-09 10:26] JoshuaMitton commented on #5280
Is there any update on this error? I experience the same error when using BatchNorm1d in the forwards pass of the model.

[2019-07-09 10:34] ihexx opened #22615 "[Bug] torch.from_numpy fails to convert np.int32 when np.dtype.num=7"
## 🐛 Bug

I ran into the following error when trying to convert an integer numpy ndarray to a torch tensor:
`>>> torch.from_numpy(b)`

## To Reproduce
Here's some example code that triggers it

[code]

[code]

[code]

---

I was looking through the members/properties of the dtype in a debugger, and I notice
`np.dtype.num` changed from 7 to 5 after the modulus:

[code]

[code]

---

I can work arou

[2019-07-09 10:39] peterjc123 commented on #22332
Full log, please. To clarify, I mean don't just copy and paste that in the content box. Save to a file and drag it here. Alternatively, you can do that in gist and post the link here.

[2019-07-09 10:39] soumith commented on #22614
@jdhao this just means `id(a.storage())` is not showing the pointer value in 0.4.1. you can check view-preserving semantics by changing `a`'s values and seeing that `b` changes.

[2019-07-09 10:39] #22614 closed

[2019-07-09 10:52] danielzuegner opened #22616 "Error when loading a sparse tensor parameter from a state_dict in pytorch 1.1.0"
## 🐛 Bug

In pytorch `1.1.0`, if a `nn.Module` has a parameter which is a sparse tensor, `model.load_state_dict(model.state_dict())` fails. For the mini snipped below it throws the following error:
[code]

On pytorch `1.0.1` there is no error.

## To Reproduce

Steps to reproduce the behavior:

[code]
## Expected behavior

The `nn.Module` loads the sparse tensor from the state dict.

## Environmen

[2019-07-09 11:23] Auth0rM0rgan commented on #6934
@veritas9872,
I'm not getting an error when I am using SSIM but when I used MS_SSIM, I faced that error. Have you tried MS_SSIM?

[2019-07-09 11:38] fmassa commented on #22614
Also check `a.storage().data_ptr()`, which shows you what you want

[2019-07-09 11:41] fmassa commented on #22611
This issue should be opened in torchvision instead.

But long story short, we do not support multi-dimensional images in torchvision, like the one you are creating. We are currently limited to the types of image that PIL support.

[2019-07-09 11:41] #22611 closed

[2019-07-09 12:12] jdhao commented on #22614
@fmassa , thanks for pointing out. Their pointer values are indeed the same.

[2019-07-09 12:31] arijit17 commented on #22069
Hi @VitalyFedyunin: any update on this?

What do you mean by "traced"?
Yes, I have trained a model in PyTorch. I usually save it as checkpoint (*.ckpt) after certain number of epochs. When fully trained, obviously inferencing with the *.ckpt works nicely as well.
Since everything works, I was thinking of "deployment". Hence, I thought of converting the above *.ckpt to ONNX format, and I was hoping

[2019-07-09 12:36] f90 opened #22617 "Wrong outputs in GroupNorm function"
## 🐛 Bug

Output of ``nn.GroupNorm`` is not correct (not the same as the result obtained when using the equation from the docs/paper)

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

GroupNorm function output ``gn(x)`` should be equal to manually normalised output ``manual_norm``, but instead it is different. Also the variances (the last two numbers)  indicate that

[2019-07-09 12:40] f90 commented on #22617
My bad, it seems that it uses the unbiased variance, so if you add ``unbiased=False`` to all ``torch.var`` commands in the example code, it works out... Might be good to note in the docs though to avoid confusion!

[2019-07-09 12:40] #22617 closed

[2019-07-09 13:05] SsnL commented on #22584
I don't think you understand what I meant. It is not about extra time or whatsoever.

In your example, if `batch_size=1`, then rank 2 and 3 run 1 less iteration, and the other ranks must know and account for it in distributed collectives, e.g., `DistributedDataParallel`'s all reduce, otherwise the they will just hang forever.

That said, it is true that this could be solved by adding extra logic i

[2019-07-09 14:06] vishwakftw commented on #22573
I did some more digging, and found out that the if the matrix sizes are too small, MAGMA internally calls LAPACK. To be more precise, the MAGMA kernel magma_ssyevd_gpu calls lapack77f_ssyevd in the matrix is smaller than or equal to 128. I suspect that a lot of time is being wasted on D2H and H2D transfers before and after the LAPACK API calls.

[2019-07-09 14:35] calincru commented on #7500
Can you estimate when they'll be merged onto master?

[2019-07-09 15:13] vishwakftw commented on #7500
I am not sure. I hope to have it reviewed and merged before the next release comes out.

[2019-07-09 15:17] bhaveshchavda53 commented on #22332
[error.txt](https://github.com/pytorch/pytorch/files/3373655/error.txt)

[2019-07-09 15:25] bhaveshchavda53 commented on #22332
[error.txt](https://github.com/pytorch/pytorch/files/3373706/error.txt)

[2019-07-09 15:39] eellison commented on #22587
@Chillee do you want to take this or should i assign it to someone else ?

[2019-07-09 15:42] #19047 closed

[2019-07-09 15:43] eellison commented on #19047
docs are updated to say we don't refine module attributes and there is a separate smaller issue to track that now

[2019-07-09 15:49] eellison commented on #22608
@ailzhang mind taking a look?

[2019-07-09 15:50] eellison commented on #22603
@driazati mind taking a look ?

[2019-07-09 16:08] fmassa commented on #22584
If there is a way to query the dataset indices that have been returned by the dataloader at a given point in time, then it is possible to have distributed evaluation (with metrics) which works fine even if there are repeated examples.

I have some examples in `torchvision/references` and `maskrcnn-benchmark`, but it currently requires overwriting the dataset to return the sampled `idx`, which coul

[2019-07-09 16:12] pjh5 commented on #14573
There is no one currently working on this, but @ljk53 might end up accomplishing this while stripping symbols out for the mobile builds. IIUC his approach using linker scripts could work here as well for linux builds

[2019-07-09 16:31] yf225 commented on #22298
@fmassa Do you think it's okay to wrap any inner `nn.Sequential` inside another `nn.Module` for torchvision Python models? This is mostly because of a fundamental limitation in C++ frontend - in order to support the `nn::Sequential` returning any type, its `forward()` method has to be templatized, which prevents `nn::Sequential` from being nested.

An alternative approach would be to not support `

[2019-07-09 16:41] colesbury commented on #22612
The same issue occurs in the CUDA implementations of TensorIterator, but I don't think it's worth the code and implementation complexity to optimize for these small data types.

Note that we still get good performance on half and short integers due to caching of global loads (L1 in Pascal + Volta, L2 in older architectures):

bandwidth for addition on 40 MiB on P100:
float32: 465 GiB/sec
float16:

[2019-07-09 16:45] shreydesai commented on #19126
I'm having this problem as well. Any update?

[2019-07-09 17:09] Chillee commented on #22587
@eellison the fundamental issue here is the alias/SSA stuff, I believe.

[2019-07-09 17:15] arvidfm opened #22620 "Make torch.lu_solve differentiable with respect to the LU-factorized matrix"
## 🚀 Feature
Currently trying to call `torch.lu_solve` with a matrix that requires a gradient leads to the following error:

[code]

It would be good if `torch.lu_solve` could be differentiated with respect to the LU-factorized matrix.

## Motivation

My model involves computing the inverse of a series of parametric transforms, in part involving linear transforms. Simply using `torch.inverse` prov

[2019-07-09 17:25] spandantiwari commented on #21727
Yes, `test_operators.py` test issues related to constant folding have been resolved.
`test/onnx/test_pytorch_onnx_caffe2.py` tests may need updates/rewrite to work with constant folding, but we haven't had the chance to update those. They are on our radar, but we are heads down for other work for next release.

[2019-07-09 17:41] colesbury commented on #22414
That's not immediately clear. There is one significant upside, which is that jumping ahead is cheaper. This may outweigh other considerations (it's generally slower), but it's not immediately obvious. Jumping ahead is ~1ns on Philox and ~50-100ns on PCG64. (and xoroshiro256** is similar). For comparison, operator overhead is ~1000-2000 ns currently.

It's not clear what we gain by having the same

[2019-07-09 17:46] colesbury commented on #22583
Unfortunately, there's not much we can do about this. CUDA initialization scales with the number of kernels and PyTorch provides a lot of CUDA kernels.

[2019-07-09 17:56] VitalyFedyunin commented on #22069
You are doing everything right. Conversion (exporting) of the model to onnx requires model to be processed by JIT first. And it is where PyTorch is failing. That is why I tagged issue with 'jit' label and waiting JIT team to take a look.

[2019-07-09 18:02] varunagrawal commented on #22439
@jeffreyksmithjr @ezyang I would be more than happy to help with the implementation.

[2019-07-09 18:07] sautax commented on #22564
i have a question @xuhdev , when you say to pass `BUILD_TEST=0` to the build command, do you mean `export BUILD_TEST=0` ?

[2019-07-09 18:18] cpuhrsch commented on #22169
@mcarilli well you said

[2019-07-09 18:25] xuhdev commented on #22564
Yes

[2019-07-09 18:31] Jiaming-Liu commented on #4107
@richard-vogl try this:

[2019-07-09 18:33] ShahriarSS commented on #22298
@yf225 How about this?

[code]

And then we can use StackSequential inside the main Sequential.

[2019-07-09 18:34] vishwakftw commented on #22620
You can try using torch.solve as a drop in replacement. It internally uses the partially pivoted LU decomposition.

[2019-07-09 19:12] nairbv opened #22650 "Add unit tests that load jit models to protect against issues with API changes"
We should have tests that load jit models such that we would catch the kind of issue that arose when we made changes to an interface of log_softmax in:

https://github.com/pytorch/pytorch/pull/22237

cc @suo

[2019-07-09 19:13] drnikolaev commented on #21727
Thank you guys, let me rebase and take care of the tests

[2019-07-09 19:25] colesbury opened #22656 "Implement torch.xlogy"
## 🚀 Feature
Implement `torch.xlogy` which computes `x * log(y)` if `x != 0` and 0 if `x == 0`.

## Motivation
Often one wants to compute `x * log(x)` or `x * log(y)` but define the result to be zero if x is 0 (instead of NaN). The current alternatives is to use torch.where to mask out NaN values or to add a small epsilon to x, like we do in binary cross entropy loss.

## Additional context

This

[2019-07-09 20:22] robert-wagner commented on #20017
@VitalyFedyunin This issue is listed as closed but is still broken in the latest nightly build. This issue should be reopened

[2019-07-09 20:25] kaszperro commented on #22439
@ezyang @jeffreyksmithjr I'm also willing to help.

[2019-07-09 20:30] VitalyFedyunin commented on #20017
@driazati can you please take a look

[2019-07-09 20:34] spott commented on #10443
@soumith: It looks like this problem in pipenv is a "won't fix"... which is pretty annoying.

Are the `.postX` releases usually just for different architectures (like the problem in https://github.com/pypa/pipenv/issues/1988), or is it something else.  If they are for different architectures, could pytorch release a new `.post` release for *all* architectures when it fixes one?  I imagine this wou

[2019-07-09 20:45] zou3519 commented on #22608
@Chillee there's no `x` in your snippet above, was that intentional?

[2019-07-09 20:50] Chillee commented on #22608
@zou3519 🤦‍♂ I ran into this bug earlier and tried to reproduce it, clearly didn't think too much about the error message I was pasting.

[2019-07-09 21:01] JackMing0 commented on #22580
Thanks for your answer! I've reinstalled pytorch using PIP, it takes too long to compile from source!

[2019-07-09 21:27] karanchahal commented on #11348
@matejaputic there's a quantisation proposal somewhere in the pytorch issues. It has a lot of info.

[2019-07-09 21:39] youben11 opened #22662 "Compilation error with Pytoch v1.1.0"
## 🐛 Bug
So I was building a Docker image for PySyft to be usable on Raspberry PI and I ran into some issues with installing Pytorch so I chosed to compile it from source, and I got a compilation error while building Pytorch v1.1.0 on Raspberry PI 3, this was done inside a Docker container.

[code]

## To Reproduce

Steps to reproduce the behavior:

1. Install Docker on Raspberry PI 3
2. Copy and

[2019-07-09 21:50] TheButlah commented on #15716
Was this fixed?

[2019-07-09 21:52] brlrb commented on #22662
Could it be your Python3.x version? The PyTorch website(pytorch.org/get-started/locally/) has Python3.5 and up and your Python Version is 3.4

[2019-07-09 21:53] TheButlah commented on #14960
Was that patch ever merged in? In other words, does this problem still occur on the latest release?

[2019-07-09 22:05] driazati commented on #20017
@robert-wagner are you able to post a repro? The code from the issue works fine for me on master

[code]

We have #22269 tracking adding a user-facing wrapper, but that's mostly aesthetic and all the functionality should already work.

[2019-07-09 22:27] mrshenli commented on #14960
@TheButlah that patch hasn't been merged yet. Last time, there was no consensus on the solution. But I haven't seen complain on this for quite a while. @L0SG do you still see the error with the latest master?

[2019-07-09 22:42] trakaros commented on #22565
* I figured out the solution.I am not quite sure,but I think that it may not be related to ```Libtorch```
* I commented out every code line,where I use ```win``` variable,which was defined in ```image_window win;```.Everything worked fine.
* So,this specific command may have problems when some external libraries are linked(Libtorch,etc.).
* I wrote an issue on DLIB in order to get an answer on tha

[2019-07-09 22:46] yf225 commented on #22298
@ShahriarSS I think adding `StackSequential` as a custom module in the example is a good idea, as currently we don't want to un-templatize the forward function of `nn::Sequential`. In the future, if we have more user requests for nested `nn::Sequential` without custom wrapper, we might consider adding `nn::Sequential` with special return types, such as `nn::TensorSequential`, although it would be

[2019-07-09 22:47] vincentqb commented on #22281
Duplicate of #6564

[2019-07-09 22:47] vincentqb commented on #5953
@jyzhang-bjtu -- do you have an example we could look at?

@teytaud -- The first reference is for SGD, not LBFGS, so the two issues might be different. The second reference refers to a limitation of LBFGS when applied to certain problems. In this case, a modified or different algorithm would need to be used.

@natolambert -- have you run into such an issue with LBFGS?

[2019-07-09 22:50] robert-wagner commented on #20017
@driazati I will try building from master. I ran the above code after following the instructions to install the nightly build. I will try again building from master

[code]

[2019-07-09 22:51] soumith commented on #22298
No, we shouldn't do this for Python / torchvision

I would actually propose that we de-templatize `nn::Sequential` and assume it returns a `Tensor`, and then introduce a `nn::MultiSequential` or something that allows returning anything

[2019-07-09 23:16] zeroexcuses commented on #22583
I want to make sure I am understanding this correctly (as in my other CUDA experiences, I'm generally using < 10 kernels). What you're saying is:

1. PyTorch CUDA init time is lower bounded by time it takes to load all PyTorch CUDA kernels (perfectly reasonable).

2. PyTorch CUDA has so many kernels, the mere act of loading all the kernels will take seconds of time (instead of milliseconds) <-- I

[2019-07-09 23:21] driazati commented on #22269
Dup of #20017

[2019-07-09 23:21] #22269 closed

[2019-07-09 23:21] driazati commented on #20017
That's expected (see #22269), but `save` should work now so functionally it's OK. I'm rolling that issue into this one since they're now the same thing.

[2019-07-09 23:39] ailzhang commented on #22312
Hmmm confirmed this behavior on 1.1.0
[code]
But it has been fixed on master
[code]
Although I'm not aware of any changes specific to `bicubic` mode after 1.1 release, it might be fixed along other issues.
I'm going to close this issue as it's fixed on master and will be included in next release. Please feel free to reopen if you have questions. Thanks!

[2019-07-09 23:39] #22312 closed

[2019-07-09 23:46] jgong5 commented on #22346
@xuhdev Yes. The issue was fixed with MKL-DNN 0.19 and later releases. We will upgrade from IDEEP side to fix the problem. Thanks for the reminder.

[2019-07-10 00:09] soumith commented on #22662
yes we dont support python 3.4

[2019-07-10 00:09] #22662 closed

[2019-07-10 00:15] karanchahal commented on #18351
Can I take this up, if no one is currently working on it ?

[2019-07-10 00:27] IssamLaradji commented on #22656
perfect! thanks :)

[2019-07-10 00:53] izdeby opened #22668 "AT_FORALL_SCALAR_TYPES_EXCEPT_QINT macro should have Bool type"
AT_FORALL_SCALAR_TYPES_EXCEPT_QINT macron in c10/core/Scalar.h should contain Bool type.

[2019-07-10 00:56] izdeby opened #22669 "BFloat16 numeric limits should contain more info"
BFloat16 numeril limits should contain more info like:
- is_modulo
- is_bounded
- has_denorm
- has_signaling_NaN
- etc.

[2019-07-10 01:21] izdeby commented on #22668
Closing the issue. In Scalar.h there is overloaded boolean version. The overload needed because of issue with the SymbolicVariable. There is a comment:

[2019-07-10 01:21] #22668 closed

[2019-07-10 01:49] McQueen64 commented on #2762
I hava the same problem!! and I sovled it by definiting the model class before <torch.load()>, and I also found that <def __init__(self)> can not be given, but the <def forward(self, input)> function must be definited

[2019-07-10 01:53] McQueen64 commented on #2762
I have the same problem!! and I sovled it by definiting the model class before """torch.load()""", and I also found that """def __init__(self)""" can not be given, but the """def forward(self, input)""" function must be definited

[2019-07-10 02:02] McQueen64 commented on #2762
I have the same problem!! and I have resolved it by defining the model class before `torch.load()`, and I also found that `def __init__(self)` can not be given, but the `def forward(self, input)` function must be defined

[2019-07-10 02:02] L0SG commented on #14960
@mrshenli Yes, we are still experiencing the issue with the 1.1.0 release too. FYI, [this repo provides a temporary workaround for `DataParallel`](https://github.com/r9y9/wavenet_vocoder/commit/6b9c932fdb2e53e406cfe460d700868891a9efb0), and [`DistributedDataParallel` does not suffer from this](https://github.com/ksw0306/FloWaveNet/pull/22).

[2019-07-10 02:11] ezyang commented on #22439
I guess what should happen now is someone puts together some sort of
initial proposal, with reference to the existing out-of-PyTorch
implementations, and then we talk about it :)

Excerpts from Kasper Sapała's message of 2019-07-09 13:26:31 -0700:

[2019-07-10 02:13] ezyang commented on #22414
I agree with Sam here.  If we want to make CPU and GPU line exactly,
that's not an unreasonable goal, but let's be serious about what extra
work we'd have to do here.  (There are partial wins here too: you could
just arrange for CPU and CUDA to consume the same number of randoms
for equivalent operations--this should be easy).

Excerpts from Sam Gross's message of 2019-07-09 10:42:02 -0700:

[2019-07-10 02:38] Gaozhongpai opened #22670 "DataParallel issue with torch.spmm"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

[code]
## Expected behavior

Without Dataparallel, i.e., # sparseTest = torch.nn.DataParallel(sparseTest)
[code]
With Dataparallel, i.e., sparseTest = torch.nn.DataParallel(sparseTest)
[code]
## Environment

Please copy and paste the output from our
[environment collection script](https://raw.githubusercontent.com/pytorch/pytorch/master/

[2019-07-10 02:42] ThisIsIsaac commented on #22612
Thanks for the detailed review, @colesbury.

My colleage -- @minty99 -- profiled our DNN program and found that `kernelPointwiseApply2::CopyOp` is the bottleneck. The DNN program we are optimizing is Nvidia's Waveglow -- state of the art text-to-speech DNN algorithm. Here is a screenshot from Nsight Systems of Waveglow. I have also attached the profiling output file as well.
[waveglow_long_benchma

[2019-07-10 02:47] ShahriarSS commented on #22298
So @yf225 what is the course of action here? If the changes that @soumith proposed are as simple as renaming ```nn::Sequential``` and adding a ```nn::MultiSequential``` under wrapping it I can make the changes.

[2019-07-10 03:23] 401qingkong commented on #21015
@sth1997 @pietern How did you compile with USE_MPI. I installed openmpi under system path. I run the following command:
`USE_DISTRIBUTED=1 USE_GLOO_IBVERBS=1 USE_GLOO=1 python3 setup.py.`
But it shows no mpi found.
[code]
Could you please give me some help?

[2019-07-10 03:35] yf225 commented on #22298
@ShahriarSS I think we should take the following actions here:

1. Rename the current `nn::Sequential` to `nn::AnySequential` (which might be more consistent with the naming of other modules such as `AnyModule`).
2. Add a new `nn::Sequential` class that wraps `nn::AnySequential` and only returns a `Tensor` from its `forward` method.

[2019-07-10 04:00] GeoffreyChen777 opened #22671 "The training always freezes after some epochs."
## 🐛 Bug
The training always freezes after some epochs. GPU usage is constantly 100%, the data loader also stops working. No error information.

The same problem is reported in #20611

## Environment

PyTorch version: 1.1.0
Is debug build: No
CUDA used to build PyTorch: 10.0.130

OS: CentOS Linux 7 (Core)
GCC version: (GCC) 5.1.0
CMake version: Could not collect

Python version: 3.6
Is CUDA availa

[2019-07-10 04:08] luckydog5 opened #22672 "_th_sigmoid_out not supported on CUDAType for Byte"
[code]

RuntimeError: _th_sigmoid_out not supported on CUDAType for Byte

What should i do?

[2019-07-10 04:11] minty99 commented on #18398
I also have this issue with current master using virtualenv (python 3.5) and CentOS 7. Any update on this? @ezyang

[2019-07-10 04:22] IssamLaradji commented on #22656
will this work? i think it can be simplified further.
[code]

[2019-07-10 04:56] SsnL commented on #22672
it doesn't make sense to do sigmoid on an integral dtype like byte.

[2019-07-10 05:04] wg1996 opened #22674 "ValueError: only one element tensors can be converted to Python scalars"
When I try transfer a mobilenet_v2 model from pytorch to onnx, ValueRrror has appeared.
ValueError: only one element tensors can be converted to Python scalars
 How can I sovled it? Here is my code:
[code]

[2019-07-10 05:42] bhushan23 commented on #18351
@karanchahal here is my partial change on Spatial Conv for reference https://github.com/bhushan23/pytorch/commit/d9c38837d3be4c491af2d513df85741b63bdd878

Lot of redundant comments and debug prints were added for making change.

[2019-07-10 05:44] Moondra commented on #22050
Okay, will do and report back.

[2019-07-10 05:50] ThisIsIsaac commented on #22612
Is `CopyOp` deprecated? It is used in Pytorch 1.0, but I'm not sure if it is still used.

[2019-07-10 05:51] fmassa commented on #22612
@ThisIsIssac FYI I'd recommend you profiling with latest master version of PyTorch. The copy operation on the GPU has been recently moved to use TensorIterator https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/cuda/Copy.cu

[2019-07-10 05:58] ThisIsIsaac commented on #22612
@fmassa Thanks for the clarification. The problem is Waveglow requires Pytorch apex plugin, but it doesn't work with the newest pytorch.

So if we were to optimize `CopyOp` in [THCTensorCopy.cu](https://github.com/pytorch/pytorch/blob/3a8d7463bd024dcbd00d04a323cdb10dfe867f18/aten/src/THC/THCTensorCopy.cu), then it wouldn't be of any help to Pytorch. Am I correct?

[2019-07-10 06:00] fmassa commented on #22612
Exactly, this code path is not used anymore

[2019-07-10 06:03] SkafteNicki commented on #18125
I went ahead a implemented a ```MixtureSameFamily``` class using the ```Distribution``` interface. It is basically a copy of the tensorflow implementation which includes the ```mean, variance, sample, log_prob``` methods. The ```.rsample()``` method is still missing. Code can be seen here:

https://gist.github.com/SkafteNicki/4d582f0952941a98f920af6cb5f680a2

I can create i PR if wanted.

[2019-07-10 06:09] cloudjay commented on #13304
Hi. Not sure this might help but basically I'm getting this same error, Detectron inference with pretrained model from Model Zoo, and --cfg configs/12_2017_baselines/e2e_keypoint_rcnn_R-50-FPN_1x.yaml

`[E net_async_base.cc:382] IsType<T>() INTERNAL ASSERT FAILED at /opt/conda/conda-bld/pytorch-nightly_1562648889042/work/aten/src/ATen/core/blob.h:77, please report a bug to PyTorch. wrong type for

[2019-07-10 06:12] zhangjinsong3 commented on #19786
@xsacha I tried your code, and it creates an torch::tensor successfully. But when i run code:
`tensor_image = tensor_image.to(torch::kCPU);`
I get the an SIGSEGV (Segmentation fault);

and I run code:
`input = tensor_image.clone()`
I got  Signal: SIGSEGV (Segmentation fault);

run code:
`torch::jit::Stack features = module->forward({tensor_image}).toTuple()->elements();`
I got
`terminate called af

[2019-07-10 07:50] vishwakftw commented on #22671
Could you please provide a script to help reproduce the bug?

[2019-07-10 07:53] Biaocsu opened #22676 "Tensorboard: ValueError: Duplicate plugins for name projector"
I follow the introduction and happened to this error.
cuda`10`, cudnn`7`, install pytorch by pip.

however, when I check by

[code]

, it is all right.

[code]

but when I use

[code]

[2019-07-10 07:55] tongpinmo commented on #16417
I have also got the problem when i trained the U-net,the cach is enough ,but it still crash

[2019-07-10 07:56] GeoffreyChen777 commented on #22671
Thanks for your reply @vishwakftw.

It is a private project...

Could you provide some script to reproduce? @YYuanAnyVision

Could you @vishwakftw provide some possible reasons? I can do some debug in my project.

[2019-07-10 07:58] peterjc123 commented on #22332
Please use Python >= 3.5 and try again.

[2019-07-10 08:02] jinfagang opened #22677 "Trace model, error message improvement `TracedModules don't support parameter sharing between modules`"
When I try trace a model, I got this error:

[code]

After digging into jit module source codes, this error thrown for the reason that:
[code]

however, this message is confusing. I think **it's nothing to do with parameters sharing, instead, it because of 2 modules or more with same weights but not same id**.

I think the best way to indicates users to solve this, at least provide which layer or

[2019-07-10 08:19] yaohuaxin commented on #13273
Did it upstreamed? @mcarilli

[2019-07-10 08:28] minty99 commented on #22612
How can I profile `kernelPointwiseApply2::CopyOp` only? @colesbury already uploaded great example for addition, but I can't find appropriate method to test CopyOp.

[2019-07-10 08:33] fmassa commented on #22612
@minty99 I believe you might need to switch back to an old version of PyTorch, as I believe we have completely removed `CopyOp` in https://github.com/pytorch/pytorch/pull/20685

[2019-07-10 08:37] minty99 commented on #22612
I'm searching for test code using Pytorch 1.0.0's `CopyOp` in Python, like `x1 + x2` was used to test addition.

[2019-07-10 08:40] fmassa commented on #22612
@minty99 try `x1.copy_(x2)`

[2019-07-10 08:58] ShahriarSS commented on #22298
@yf225 I will start a PR fixing this. Also how will we do an ```static_assert``` when forward function of ```nn::Sequential``` is not a template? There will be a compilation error when using forward function as template.

[2019-07-10 09:00] fmassa commented on #16955
Bumping this issue, as people are having problems compiling the cpp extensions in TorchVision on OSX with CUDA 10.1, see https://github.com/pytorch/vision/issues/977

We should probably replace https://github.com/pytorch/pytorch/blob/3a8d7463bd024dcbd00d04a323cdb10dfe867f18/torch/utils/cpp_extension.py#L550 with a more robust alternative

[2019-07-10 09:16] NeilWangziyu opened #22678 "JIT type"
## ❓ Questions and Help

1.  Since jit support int, float, string, List , dict, etc, how can I write a template that allows an input with different types?

I wish I can write something like template in C++, is it possible?

2. why can not save a funtion in the binary file?  for example,
[code]

3. when I use that function, it said please report a bug
[code]
Traceback (most recent call last):
  Fil

[2019-07-10 09:17] minty99 commented on #22612
It uses `kernelPointwiseApply1` with `TensorFillOp`. Our bottleneck was `kernelPointwiseApply2` with `CopyOp`.

[2019-07-10 09:18] lpuglia commented on #22584
that is for sure, in fact this is what i'm doing right now to use `torchvision/references/detection` in conjunction with PASCAL VOC python evaluator (which uses files), anyway, mine was just a proposal to make the use of the library more neat, if it is too hard/unoptimizable to implement there is no need to work on it.

[2019-07-10 09:30] fmassa commented on #22612
Are you sure that the following code
[code]
dispatches to `TensorFillOp`?

[2019-07-10 09:36] Chillee commented on #1410
I agree that it doesn't seem like it makes sense to use the correction at test time but not train time. After all, one of the points of batch norm is to make the neural network have an even distribution of inputs. If this distribution shifts between training and eval, that seems like a bad thing.

As for whether we should apply Bessel's consistently or not, that's less clear. On one hand, it seems

[2019-07-10 09:37] fmassa commented on #22584
@lpuglia I tried doing what you proposed in `maskrcnn-benchmark`, but it used to give deadlocks (at least with an older version of PyTorch and DDP), precisely because some GPUs would compute a different number of forward operations.

This might have been fixed since then, but I believe what we need to have is a set of evaluation metrics which work on distributed settings (like the one I have in `t

[2019-07-10 09:37] jayandral commented on #20204
Is there any update on this issue??

[2019-07-10 09:40] #22584 closed

[2019-07-10 09:48] pietern commented on #18300
Ran a few tests to confirm the results you are seeing. I'm thinking there is some sort of global state that is mutated by NCCL that prevents concurrent initialization of communicators. If you strictly sequence the first collective against the same set of devices (`dist.broadcast(torch.zeros(1).cuda(local_rank), group=group,src=0)` before launching the thread) the example works without issues.

[2019-07-10 09:51] as754770178 opened #22679 "Stuck when backward"
[code]
The code converting model to support distribute mutli gpu:
[code]
When I exec "loss.backward()", the program stuck sometimes(Probability：3/4).

When I modify to single node multi gpu, so that change `DistributedDataParallel` to `DataParallel` the program run.

 When I use multi process, the program also can run.
···
# use multi process
mp.spawn(train, nprocs=4)

# don't use multi process
tr

[2019-07-10 09:52] minty99 commented on #22612
Previously I used torch.zeros. It was dispatched to `TensorFillOp`.

Otherwise, Your code dispatches to `generate_uniform`.
I tested by this code:
[code]

[2019-07-10 09:53] as754770178 commented on #22679
I run in `nvidia-docker`

[2019-07-10 10:01] MSKazemi commented on #16417
I have the same error...
RuntimeError: CUDA out of memory. Tried to allocate 312.00 MiB (GPU 0; 10.91 GiB total capacity; 1.07 GiB already allocated; 109.62 MiB free; 15.21 MiB cached)

[2019-07-10 10:08] pietern commented on #22679
If I understand correctly:
* Your program works if you run a single copy and use `nn.DataParallel`.
* Your program works if you launch 4 copies and use `nn.DistributedDataParallel`.
* Your program does NOT work if you launch a single copy and use `nn.DistributedDataParallel`.

Can you confirm?

Also please include the details about your environment prompted in the issue template (e.g. PT version).

[2019-07-10 11:46] PhilJd commented on #22343
As a another option, this could be done similarly as we did in tensorflow: Create a factory function that creates a class that executes the optimizer step and afterwards the weight decay step. The advantage is that any optimizer can be extended with decoupled weight decay. It also removes code duplication.
The new optimizers could then just be named with the suffix `W`.

[Here](https://github.com/

[2019-07-10 11:51] DanyEle commented on #22662
You may want to follow this tutorial to get PySyft running on a Raspberry PI:

https://blog.openmined.org/federated-learning-of-a-rnn-on-raspberry-pis/

[2019-07-10 12:14] yf225 commented on #22298
@ShahriarSS I am not entirely sure if this would work, but perhaps we could make `forward` function of `nn::Sequential` contain a template type with a default value, and then in the function body check if the template type is equal to the default value. This way we can catch the `float output = sequential->forward<float>(input)` use cases. Note that the return type of `forward` of `nn::Sequential`

[2019-07-10 12:17] jinfagang opened #22680 "JIT solving with shared parameters"
When tracing a model like this:
[code]

I got error:

[code]

Why does above net can not trace? In order to trace how should we write model ? I thought my written has no problem........

BTW, this error message has nothing to help, I think it would be better to indicates users where causes the parameters sharing.

[2019-07-10 12:54] derangedhk417 commented on #21061
I had them all running sequentially and I didn't do anything else on the system at the time. None of the runs should have been consuming more than half of my ram at any time anyways. My colleague said he's observed memory usage remaining high after he's completely terminated PyTorch in the past. I am wondering if a past run was somehow occupying memory after it terminated.

[2019-07-10 13:13] prasunanand commented on #19252
Hi, I am from @quansight team. I would like to work on this issue.

[2019-07-10 13:35] ciaobladoo commented on #21780
Interesting. I tried a implementation myself:
`frame = torch.triu(torch.ones(500, 500))`
`sumcum = (a*frame).sum(1)`
and this won't cause the same problem even on cuda. Tho the result is not exactly the same with torch.cumsum() and I am not sure about the speed.

[2019-07-10 13:36] tholzmann opened #22681 "LibTorch crashes in debug mode"
## 🐛 Bug

When doing inference using LibTorch in C++ for semantic segmentation on the GPU, i get the following error in debug compilation mode:

cuda_dispatch_ptr INTERNAL ASSERT FAILED at C:\w\1\s\windows\pytorch\aten\src\ATen/native/DispatchStub.h:70, please report a bug to PyTorch. DispatchStub: missing CUDA kernel (operator () at C:\w\1\s\windows\pytorch\aten\src\ATen/native/DispatchStub.h:70)

[2019-07-10 13:50] ezyang opened #22682 "CMAKE_PARSE_IMPLICIT_LINK_INFO Function invoked with incorrect arguments"
https://circleci.com/gh/pytorch/pytorch/2160467?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[code]

[2019-07-10 14:31] peterjc123 commented on #22681
For MSVC, the debug/release configurations are not abi-compatible, which means you need to use the debug version of the library when you choose the debug configuration.

[2019-07-10 14:33] peterjc123 commented on #22681
You may notice there are two download links for libtorch for Windows on pytorch.org and each of them is supposed to be used when you choose a specified configuration.

[2019-07-10 14:40] fmassa commented on #22612
@minty99 you are just checking the wrong call. `torch.rand` dispatches to `generate_uniform`, but `a.copy_(b)` should dispatch to the copy kernel

[2019-07-10 14:48] yaroslavvb commented on #20380
How hard would it be to add 1-worker DDP support to Mac? For instance `-m torch.distributed.launch` already works.

This would make it easier for people who prototype on Macs before deploying to Linux. Currently it's a bit annoying with `if sys.platform=="darwin"` bits cropping up everywhere.

[2019-07-10 15:00] sebastienwood opened #22684 "Memory leak in Jupyter Nb when re-executing the same cell"
## 🐛 Bug
When using a Jupyter Notebook, executing the same cell multiple times eventually leads to CUDA Out of memory.

## To Reproduce

Steps to reproduce the behavior:

1. In a Jupyter notebook, define a cell which declares a network and executes the train/test cycle
2. Execute the cell multiple times
3. A CUDA Out of memory error is thrown at some point

## Expected behavior

Executing the same

[2019-07-10 15:07] tholzmann commented on #22681
I checked it again now, I am using the correct debug/release version.

[2019-07-10 15:25] robert-wagner commented on #20017
Hey @driazati @Krovatkin Following up on this, the main reason this is relevant for me is being able to call .to on a traced module as was supposedly added by #7354. This does not work on the current nightly.
a minimal example of this is
[code]

[2019-07-10 15:53] ezyang commented on #22681
This is a CUDA call right? Can you actually tell us what exactly the operator that's failing is? This sounds like some sort of static initializer problem. How are you linking with the CUDA version of the library? Basically, based on the error message, it seems that you are trying to call an operator, and we don't think that the CUDA version of this operator exists at all.

[2019-07-10 15:54] karanchahal commented on #18351
Thank you :)

[2019-07-10 15:56] ezyang opened #22687 "DispatchStub should report what operator it failed to find kernel for"
In #22681 we get an unhelpful error message because it just says that CUDA kernels is missing, it doesn't say what is missing. It would be good of dispatch stub gave more information. Maybe we can pass in a string constant to the template parameter and update the macro to stringify the struct name to pass in.

cc @cpuhrsch @VitalyFedyunin @colesbury

[2019-07-10 16:05] ezyang commented on #22684
I think this is an ipython problem, and not something we can fix. Take a look at https://ipython.org/ipython-doc/3/interactive/reference.html#output-caching-system for more details.

[2019-07-10 16:05] #22684 closed

[2019-07-10 16:08] ezyang commented on #22612
Marking this as low priority as we may have possibly already fixed this on master. I'm not closing until we confirm though.

[2019-07-10 16:11] ezyang commented on #17998
@pbelevich would it be correct to say this is now fixed by #22493? (If it is, in the future, add "Fixes #XXXX" in your commit message so this issue gets autoclosed.)

[2019-07-10 16:12] jbmaxwell commented on #19598
I'm using the PyTorch implementation found here (https://github.com/codertimo/BERT-pytorch), but I'm hitting an error in the TransformerBlock:
[code]
It fails with `builtins.ValueError: Auto nesting doesn't know how to process an input object of type bert_pytorch.model.transformer.TransformerBlock.forward.<locals>.<lambda>. Accepted types: Tensors, or lists/tuples of them`, which I'm assuming is c

[2019-07-10 16:13] ezyang commented on #22676
This sounds like a misconfiguration issue with tensorboard. @lanpa do you know if this is a PyTorch bug or not?

[2019-07-10 16:16] ezyang commented on #22671
It will be difficult for us to debug this problem without a reproducer. If you want to debug it yourself, some things to check:

1. If you run training on a different GPU, does it still deadlock?
2. If you upgrade CUDA, does it still deadlock?
3. If you upgrade your GPU driver, does it still deadlock?
4. When it deadlocks, what kernel is being executed at that time? What is the backtrace in gdb?
5

[2019-07-10 16:18] ezyang commented on #22615
Yeah, we should fix this. The error message is in torch/csrc/utils/tensor_numpy.cpp, if someone could put up a PR and put me as reviewer, I'd be quite happy to land it.

[2019-07-10 16:20] ezyang commented on #22656
It's a good start, but ideally we would get it fused. Maybe the JIT can automatically fuse this code?

[2019-07-10 16:24] ezyang commented on #14698
When Anders moved the functions to prevent circular imports, this problem arose. A simple fix might just to manually reapply the docstring after the fact. Happy to advise if someone wants to fix this.

[2019-07-10 16:26] henon opened #22688 "[docs] torch.nn.functional.bilinear has no description at all"
## 📚 Documentation

![image](https://user-images.githubusercontent.com/44090/60986664-41e0d980-a340-11e9-8fa6-89984863d69e.png)

[2019-07-10 16:31] ezyang commented on #11348
The main issue is #18318

[2019-07-10 16:31] #11348 closed

[2019-07-10 16:31] ezyang commented on #22674
Confirmed I am able to reproduce on master.

[2019-07-10 16:32] ezyang commented on #22674
The backtrace is:

[code]

[2019-07-10 16:33] ezyang commented on #22674
@lara-hdr could you please take a look? This codepath was introduced in #19294

[2019-07-10 16:34] ezyang commented on #22670
Confirming this reproduces on master.

[2019-07-10 16:39] SsnL commented on #22688
duplicate of https://github.com/pytorch/pytorch/issues/9886

[2019-07-10 16:39] #22688 closed

[2019-07-10 16:50] colesbury commented on #22612
CopyOp (and its replacement in the master branch [1]) are only executed for cases that can't use `cudaMemcpyAsync`, such as non-contiguous copies or copies that cast between different data types. For example @minty99's example of copying 10000 elements to 10000 will use `cudaMemcpyAsync` instead of CopyOp. `cudaMemcpy` calls show up differently in nvprof IIRC.

Something like the following will us

[2019-07-10 16:58] lara-hdr commented on #22674
@ezyang in #19294 the helper functions were moved from symbolic.py to symbolic_helper.py, but the code was unchanged for the functions in question (mean , _get_const and _parse_arg).

[2019-07-10 17:06] fmassa commented on #22656
@ezyang I think the JIT can fuse pretty much everything (we can instead just use an expanded tensor as in Issam's example)
[code]

[2019-07-10 17:32] colesbury commented on #22656
To be clear the request is to implement this function as a public API, not to make sure that the JIT can fuse a multi-op implementation.

The Python implementation with @torch.jit.script is probably not sufficient (currently) for a public API:
1) It doesn't work in C++
2) JIT error messages are still substantially worse when things go wrong
3) It's not fused for CPU

[2019-07-10 18:02] driazati commented on #22677
That message could definitely have more info, can you post a repro script that generates the error?

[2019-07-10 18:06] SsnL commented on #22670
I don't think that this is a bug though. Data parallel splits inputs along the batch dimension, which by default is the first. Here that has size 4. Then each replica sees inputs with a leading dimension of size less than 4. Yet the code tries to matmul a matrix whose last dimension is 4, with the input tensor. It would only work if the input tensor has leading dimension of size exactly 4. Therefo

[2019-07-10 18:28] fritzo commented on #18125
@SkafteNicki sure, if you want to put up a PR I can review to suggest extra things needed for torch.distributions, like docs, tests, `.expand()` and metadata attributes. Could you cc me and @neerajprad ? Thanks!

[2019-07-10 18:29] syed-ahmed commented on #22414
We can align CPU and GPU closer by turning these distributions into C10_HOST_DEVICE and using them in the CUDA distribution kernels: https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/core/DistributionsHelper.h. The only exception is curand_poisson (for the time being, we can keep using it and later if need be we can re-write a GPU friendly poisson kernel).

Interesting point! Shared Phi

[2019-07-10 18:37] colesbury commented on #22583
Yes. PyTorch has 100s of high level operations and O(10,000) CUDA kernels. (Plus all the kernels provided by cuBLAS, cuDNN, and CUDA). An operation like torch.add has something like 8 * 3 * 2 = 48 kernels. (8 data types, 3 combinations of tensor/scalar, 2 specializations for strides). Older kernels may have even more specializations. The large number of kernels per op is because we care about comp

[2019-07-10 18:56] ezyang opened #22695 "test_DistributedDataParallel_SyncBatchNorm_Diff_Input_Sizes_Running_Value is flaky"
Flaky occurrence:

https://circle.pytorch.org/build-details.html?build_id=2161720

[code]

cc @mrshenli @unlimblue

[2019-07-10 19:01] zou3519 opened #22697 "[docs] torch.lerp typo"
## 📚 Documentation

https://pytorch.org/docs/master/torch.html#torch.lerp

`The shapes of start and end must be broadcastable. If weight is a tensor, then the shapes of start, end must be broadcastable.`

Should probably be `weight, start, end` must be broadcastable at the end.

[2019-07-10 19:02] ezyang opened #22698 "test_broadcast_ops intermittently segfaults"
Pattern: https://circle.pytorch.org/pattern-details.html?pattern_id=83

[code]

Sample

https://circleci.com/gh/pytorch/pytorch/2151019

cc @pietern

[2019-07-10 19:24] karanchahal commented on #20402
I have a basic question about pruning. After applying a fine grained pruning methodology that masks out weights randomly, how will speed ups be achieved for these sparse weights in Pytorch ? Are there plans to release a SparseConv2d, SparseLinear etc ?

[2019-07-10 19:34] colesbury commented on #22414
This can give exact results for simple distributions like integers and uniform floats on [0, 1), but starts to fall apart when you get to more complicated distributions or use any subsequent functions (gemm, softmax, etc.). For example, randn() uses sin which may differ slightly between implementations.

(See https://docs.nvidia.com/cuda/floating-point/index.html#considerations-for-heterogeneous-w

[2019-07-10 19:45] zeroexcuses commented on #22583
Thanks for the detailed explanation. Closing bug report.

[2019-07-10 19:45] #22583 closed

[2019-07-10 20:42] xuhdev commented on #9886
Is this issue blocked? Are we still interested in resolving this issue?

[2019-07-10 20:44] SsnL commented on #9886
@xuhdev It is not blocked. And I am confused. Why would we not want to add & improve docs?

[2019-07-10 20:50] xuhdev commented on #9886
I've added the "good first issue". Hopefully this will attract some interest.

[2019-07-10 20:58] Moondra commented on #22050
I have multiple versions of CUDA so will need to do it on all of them. I did so on CUDA 9 (update cudnn), but so far no luck. I am assuming I need to do it on CUDA 10 as that's what's being used at runtime.

[2019-07-10 21:41] xuhdev commented on #20024
Fixed in 9c4c9c3af042498144c40b30d64443cca943906a

[2019-07-10 21:41] xuhdev commented on #22246
Fixed in 9c4c9c3af042498144c40b30d64443cca943906a

[2019-07-10 21:41] xuhdev commented on #22262
Fixed in 9c4c9c3af042498144c40b30d64443cca943906a

[2019-07-10 21:52] eellison commented on #22155
I tried your Refinement on a function call and didn't get an error....

[2019-07-10 21:59] xuhdev opened #22707 "torch.fill_() exists and modifies the input tensor: Expected or bug?"
Seems like in-place functions are method only, but torch.fill_() exists, is undocumented, but is declared in both native_functions.yml and derivatives.yaml.

    import torch
    a = torch.zeros(3)
    torch.fill_(a, 1)
    print(a)

This prints:

    tensor([1., 1., 1.])

Is this expected?

- PyTorch Version (e.g., 1.0): master

[2019-07-10 21:59] ezyang commented on #22052
Happened again at https://circleci.com/gh/pytorch/pytorch/2167985?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2019-07-10 22:19] deepakn94 commented on #18300
@pietern, so if I do `dist.broadcast(torch.zeros(1).cuda(local_rank), group=group,src=0)` (and the corresponding send on the sending process) for each group in the main thread, things should work even after I launch the threads (and do broadcasts on them)?

[2019-07-10 22:28] zou3519 opened #22709 "[docs] Unclear how to use pixel_shuffle"
## 📚 Documentation

The function is documented as taking no inputs, but uses inputs in the example.

![image](https://user-images.githubusercontent.com/5652049/61009358-6d63c400-a340-11e9-8633-7d798588089b.png)

[2019-07-10 22:32] zou3519 commented on #22707
We should probably kill it, only methods should be in-place.

[2019-07-10 22:33] gchanan opened #22710 "randperm on cuda looks buggy"
I was looking at https://github.com/pytorch/pytorch/pull/22103 (thanks @xuhdev!) and I noticed a couple of issues with the previous implementation (i.e. https://github.com/pytorch/pytorch/pull/22103 didn't introduce them).

1) The code looks wrong for non-contiguous tensors; it does a resize but that's not guaranteed to give you a contiguous tensor.
2) It's surprising (and does it not cause a prob

[2019-07-10 23:14] SsnL commented on #22707
probably should filter at https://github.com/pytorch/pytorch/blob/1ecc945ab23e54eabcd5db1d4bbc779abd908e49/tools/autograd/gen_python_functions.py#L233

[2019-07-10 23:18] wanchaol commented on #22678
Hi @NeilWangziyu

For your questions:
1. it's not possible, TorchScript now is a statically typed language, if you want to add different handling for different input types, you can add an different overload in python.
2. I tried your script it works fine on my side, which version of pytorch you are in? maybe consider switching to recent nightly builds?
3. We can add a support for `len` on Tuple, b

[2019-07-10 23:18] huangwl18 commented on #22676
I have the same issue: being able to import from the latest version of pytorch and tensorboardX but both give the same error above

[2019-07-10 23:31] wanchaol commented on #22680
@jinfagang

Hi, thanks for submitting the issue. That must be a bug on the tracing side, I will investigate. In the meanwhile, you can use our scripting API instead of tracing. If you stay on pytorch nightly or master, you can do the following:

[code]
This will generate the JIT model successfully.

[2019-07-10 23:58] wanchaol commented on #22680
OK I did some investigation on why this is failing on tracing and this gives me some suspicious

[code]
in here you are appending the `self.block1` to a list multiple times to `self.fuck_layers`, this means you are passing the reference of `self.block1` to the list and in forward function all calls to this list will actually call the same `self.block1`. I don't think this is the correct pattern fo

[2019-07-11 00:02] wanchaol commented on #22677
seems like a duplicate of https://github.com/pytorch/pytorch/issues/22680

[2019-07-11 00:36] GeoffreyChen777 commented on #22671
@ezyang Thanks for your reply.
Here is the output of nvidia-smi.
[code]
1. RTX 2080ti also deadlock.

2 & 3. I have two machines, one is a Tesla V100 server and the other one is a RTX2080ti server. The driver version of these two machines is different. But the CUDA of these two machines is CUDA10.

4. What is the "kernel"? Conv? Pooling? Actually, I don't know the exact kernel. My project is a hug

[2019-07-11 01:27] GeoffreyChen777 commented on #22671
This issue may be helpful. https://github.com/pytorch/fairseq/issues/708

My stack trace output is the same as https://github.com/pytorch/fairseq/issues/708 .

The fairseq repo have a try-cache block to handle the OOM problem.

Can OOM cause this deadlock?

[2019-07-11 01:30] Gaozhongpai commented on #22670
Thank you for you response. I don't understand what you mean. How can I run spmm with DataParallel?  I have been working on graph convolution and I couldn't solve this problem for over one month.  Here is a pooling lay for graph convolution:
[code]
If I use DataParallel, it throws errors as follows:

[code]

[2019-07-11 01:36] NeilWangziyu commented on #22678
Hi @wanchaol ,

for 2, the function I want to save,
[code]

I have the error info:
[code]
I am currently using  pytorch latest version 1.1.0

I am curiosity because I chase to the scrip class definition, if I want to save a class, it can be done, and if i want to save  a function, it will switch to another direction. I check the history, around 2 months ago those codes are changed. Previously a fu

[2019-07-11 01:38] luulinh90s commented on #16417
same error

[2019-07-11 01:42] luulinh90s commented on #16417
try reducing size (any size that will not change the result) will work.

[2019-07-11 01:47] jinfagang commented on #22677
@wanchaol  Thank you wanchaol for the reference of the link.

There I have a tiny trace example to reveal the error.

[2019-07-11 02:23] minty99 commented on #22612
I checked @colesbury's code and it works great! Thanks for your help.
I got this result for CopyOp - however it was deprecated -
float32 164.61 GB/s
float16 84.39 GB/s
int16 82.99 GB/s
int8 42.37 GB/s

[2019-07-11 02:26] Codersadis commented on #5301
change the num_works to 0 works for me.
Thx!

[2019-07-11 02:27] Codersadis commented on #5301
Change the num_workers to 0 works for me.
Thx!

[2019-07-11 03:15] Chillee commented on #22587
The main issue here has been resolved by https://github.com/pytorch/pytorch/pull/22632

[2019-07-11 03:15] #22587 closed

[2019-07-11 03:27] sukuya commented on #20030
Now I get ```-unsupported option '-fopenmp' ``` error.

[2019-07-11 03:42] sreerajr137 commented on #4207
Showing connection error while installing -

conda install -c pytorch pytorch

WARNING conda.base.context:use_only_tar_bz2(632): Conda is constrained to only using the old .tar.bz2 file format because you have conda-build installed, and it is <3.18.3.  Update or remove conda-build to get smaller downloads and faster extractions.
Collecting package metadata (repodata.json): done
Solving environment

[2019-07-11 04:01] xuhdev commented on #22707
Does this require some discussion? I'm a bit worried that many users at large may have used it, like pytorch/vision#1107 . If we want to fix this, we should do it quickly (as started in #22720 ) to prevent more users from misusing them.

[2019-07-11 04:02] jinfagang commented on #22680
@wanchaol  Thanks for you reply, this is just an example which can cause this error. In real situation, we always need call same module multi times with a for.. loop such as define a encoder and decoder with multiple scales and multiple levels.

In terms of not using a `self.module` and directly call the `BasicConv`, then how to let them sharing parameters?

The main question here is, I written my

[2019-07-11 04:04] SsnL commented on #22707
This is a bug. In-place functions don't exist before (only methods exist), nor are they documented/advertised anywhere. We should just kill them.

[2019-07-11 05:21] NeilWangziyu commented on #20017
Hi, I met a similar problem on saving a function by jit
[code]

At first, I thought it is a new feature that a function is no longer supported to be saved as a binary file. But after looking through this issue, I realized that it is a bug that I can not save a function?

around one month ago, it is okay for me to save a function, and I check the update history, the jit.scrip  function is changed a

[2019-07-11 05:33] FightStone opened #22731 "How to convert at::Tensor (one element) type into a float type in c++ libtorch?"
When I take an element A (eg: x[1][2][3][4], also type at::Tensor) from a four-dimensional variable x(at::Tensor), I want to compare (or multiply) A and B (float type) , how do I convert A (at::Tensor) to float? Thanks a lot!

[2019-07-11 05:35] soumith commented on #22731
please use https://discuss.pytorch.org for questions

[2019-07-11 05:35] #22731 closed

[2019-07-11 05:44] soumith commented on #22678
pytorch master branch fixed it, i think.

[2019-07-11 05:44] #22678 closed

[2019-07-11 05:51] jjsjann123 opened #22734 "CustomFuseGraph does not work on nested blocks"
## 🐛 Bug

GraphFuser does not pass its FusionCallback and Symbol to recursive calls when fusing nested blocks: https://github.com/pytorch/pytorch/blob/d21e476dcd38fc61897812417f41ebfc6f2dd8cd/torch/csrc/jit/passes/graph_fuser.cpp#L1158

## To Reproduce

Steps to reproduce the behavior:

I was using the compiler backend tutorial repo here: https://github.com/bwasti/pytorch_compiler_tutorial

If you

[2019-07-11 05:51] jjsjann123 commented on #22734
cc @ngimel @csarofeen

[2019-07-11 05:54] soumith commented on #20402
pruning is at a stage where we aren't looking at speedups and performance. it's still researchy.

[2019-07-11 05:55] LU4E commented on #22676
This issue is caused by tb-nightly, and tb-nightly is difficult to uninstall.
I rebuilt the environment and use the tensorflow, tensorboard, tensorboardx without the tb-nightly this time, and the issue is gone.

[2019-07-11 06:10] Biaocsu commented on #22676
@LU4E what do you mean , uninstall tb-nightly and install tensorflow、tensorbard、tensorboardx ? then the issue will gone ?

[2019-07-11 06:37] tholzmann commented on #22681
Yes, it is a cuda call. It already happens when trying to copy a tensor to the CUDA device by calling

inData = inData.to( *m_TorchDevice );

where inData is a torch::Tensor and m_TorchDevice is constructed by:
m_TorchDevice = std::unique_ptr<torch::Device>(new torch::Device( torch::DeviceType::CUDA, 0 ))

[2019-07-11 07:02] vamsitharun commented on #10443
Solution:
conda install pytorch=0.4.1 -c pytorch

Try this, It worked for me

[2019-07-11 07:09] kaszperro commented on #22439
@ezyang in what form should it be? As a comment to this issue? What should it contain?

[2019-07-11 08:01] fuzzyBatman opened #22738 "Installing pytorch nightly with pip fails"
## 🐛 Bug

Instaling pytorch nightly using the method suggested on the [website](https://pytorch.org/get-started/locally/) results in a **404 error**

## To Reproduce

Steps to reproduce the behavior:

1. Run
[code]

## Expected behavior

Install pytorch nightly. This procedure worked a few weeks ago.

## Observed behavior

[code]

## Environment

 - PyTorch Version (e.g., 1.0): Nightly
 - OS (e.g.

[2019-07-11 08:20] fuzzyBatman commented on #22738
Temporarily resolved by downloading the wheel manually

[code]

[2019-07-11 08:28] qwesdfok commented on #3022
I am not sure what I face is the same as the problem. My computer uses 1080Ti, and if the GPU Memory usage is close to 100%, i.e. uses almost 11GB memory, it will reboot. But if I reduce the batch size of the network in order to decrease the memory usage, the reboot problem will not happen without upgrade the power. If someone meets the reboot problem, I hope my condition might help you.

[2019-07-11 08:43] pietern commented on #18300
@deepakn94 Yes, that's what I confirmed to work based on your repro script. What happens then is that the lazy initialization is done sequentially on the main thread. Once that is done, you're free to use the communicators from multiple threads. It seems that initialization doesn't like arbitrary ordering. See the linked issue at nvidia/nccl#239 for more discussion.

[2019-07-11 09:00] cbigeyes opened #22739 "libtorch gpu lstm bidirectional questions"
Hello.
When I tried libtorch for bilstm, I set the options as below:
`torch::nn::LSTM(torch::nn::LSTMOptions(emb_size,hidd_size).bidirectional(true)))`
But I got this error:

10 is batch size, 100 is hidden size.
What should I do to deal with it?

[2019-07-11 10:06] Marcovaldong opened #22740 "Dose Pytorch supports lstm with projection layer"
As the title, dose PyTorch supports [lstm with projection layer](https://static.googleusercontent.com/media/research.google.com/zh-CN//pubs/archive/43905.pdf) now? There are a lot of models using this variant of lstm, is there a plan to support it?

@soumith @ngimel @Kaixhin

[2019-07-11 10:29] kingder opened #22741 "nn.Conv2d allocate huge memory for some shapes and data type on V100"
## 🐛 Bug

We found huge memory needed to run Conv2d when some specific shapes and data type used  on V100.
I've found this when debug a wired OOM issue, the memory will suddenly jump 4-5x during training on V100 with mixed precision.
After some debugging, I've found it was caused by the `cudnnGetConvolutionBackwardFilterAlgorithm` in `Conv.cpp` in PyTorch 0.4.1 with cudnn 7.4 / 7.5 that will retur

[2019-07-11 10:46] soumith commented on #22740
no. there is no plan to support it. the guidance is to ask people to write custom LSTM: https://pytorch.org/blog/optimizing-cuda-rnn-with-torchscript/

[2019-07-11 10:46] #22740 closed

[2019-07-11 10:55] pietern commented on #21015
@401qingkong You can try setting `USE_MPI=1` and searching the CMake output for mentions of MPI. Perhaps your MPI distribution cannot be found by the build system.

[2019-07-11 11:37] NeilWangziyu commented on #22678
I try to install torch-nightly, however, I meet that problem
[code]
I install torch-nightly in conda env, meanwhile, I tried install by pip, and build myself, same problem occurs.

[2019-07-11 13:32] veritas9872 commented on #6934
@Auth0rM0rgan  No I have not. Could you try using anomaly detection? This function [here](https://pytorch.org/docs/stable/autograd.html#torch.autograd.set_detect_anomaly) might be useful.

[2019-07-11 14:48] ezyang commented on #22402
For the record, array function proposal lives at https://www.numpy.org/neps/nep-0018-array-function-protocol.html

[2019-07-11 15:10] izdeby opened #22744 "AT_FORALL_SCALAR_TYPES_EXCEPT_HALF_AND_QINT macro doesnt have bool type in it"
Look into AT_FORALL_SCALAR_TYPES_EXCEPT_HALF_AND_QINT macro and figure out if bool type belongs there and if it does, add it.

[2019-07-11 15:27] colesbury opened #22745 "NDEBUG is not set in Release mode"
## 🐛 Bug

The generated VariableType has debug code that looks like:

[code]

We don't define `NDEBUG` in Release mode so this code always runs. It adds ~100 ns to the overhead of every operation.

It's generated by:
 https://github.com/pytorch/pytorch/blob/89d6e8804267d467e39529d710e2da39982905fa/tools/autograd/gen_variable_type.py#L263-L267

cc @ezyang @gchanan @zou3519 @yf225

[2019-07-11 15:28] snippler opened #22746 "Use Caffe2 function in PyTorch possible?"
My question is with regard of compatibility of PyTorch and Caffe2. Is it possible to import functions of Caffe2 into a PyTorch program. Obviously it does not work directly but is there any workaround?

## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/r

[2019-07-11 15:43] zou3519 commented on #22707
I wonder if it's possible to prevent a function from appearing in the torch binding unless it is documented... this way we can avoid problems like this. I'm sure there are a lot of other functions that are undocumented and (probably) erroneously exposed to torch.*

[2019-07-11 15:45] luisa-uber opened #22747 "Fuser breaks on input with size 0"
## 🐛 Bug
Fused kernel error when using simple method with inputs of size 0.

## To Reproduce

Steps to reproduce the behavior:
[code]

The error is:
[code]

## Environment

 - PyTorch Version (e.g., 1.0): 1.2.0a0+1ffa9d3

[2019-07-11 15:45] gchanan commented on #22707
For this specific case we should probably just throw a quick check in the codegen.

[2019-07-11 15:53] eellison commented on #19106
Is this all windows issues for all of you ? Could you please comment with more details ? @yf225

[2019-07-11 15:58] eellison commented on #21408
Closing per @Chillee comment. Reopen if you think it is still relevant.

[2019-07-11 15:58] #21408 closed

[2019-07-11 15:59] zou3519 opened #22748 "[docs] torch.tensordot example is a little confusing"
## 📚 Documentation

![image](https://user-images.githubusercontent.com/5652049/61066216-1bb84980-a3d3-11e9-9a9e-1f4ff38da81c.png)

It would be good for the example to do a contraction over three dimensions instead of two. Looking at the example alone, it isn't clear if you're supposed to pass in a collection of pairs or a pair of collections. There is one line in the docs that mentions this, but m

[2019-07-11 16:21] colesbury commented on #22745
cc @kimishpatel @zheng-xq

I'm not sure if we define `NDEBUG` in Facebook's internal build of PyTorch either.

[2019-07-11 16:23] #21796 closed

[2019-07-11 17:13] jhultman opened #22753 "repeat_interleave throws IndexError on repeating size-zero dimension"
## 🐛 Bug

`torch.repeat_interleave(input, repeats, dim)` throws `IndexError` when `input.size(dim) == 0`. The corresponding `numpy.repeat` handles the size-zero case gracefully.

## To Reproduce

[code]

## Expected behavior

[code]

## Environment

PyTorch version: 1.1.0
CUDA used to build PyTorch: 9.0.176
OS: Ubuntu 16.04.4 LTS
Python version: 3.7
cuDNN version: /usr/lib/x86_64-linux-gnu/libcudn

[2019-07-11 17:27] robert-wagner commented on #20017
Hey @NeilWangziyu I just tried running your code in the latest nightly version of pytorch and it seems to work fine with saving and loading. The issue with saving will be fixed in the next stable release of pytorch whenever it is released.

[2019-07-11 17:27] alex-xnor commented on #20030
@sukuya That sounds like a different problem, since it sounds like you're trying to compile PyTorch yourself, but this issue concerned a problem with the pre-compiled binaries.

[2019-07-11 17:36] jhultman commented on #22753
Re: unit tests.

Speaking for myself, one of the nice features of the torch 1.0 release was expanded support for operations involving 0-element n-dimensional tensors (see #9947). But has there been a review of `test_torch.py` to ensure all applicable functions have test cases with 0-element tensors? Maybe a few have slipped through the cracks.

For example I checked [`test_repeat_interleave`](http

[2019-07-11 17:41] pietern commented on #20380
@yaroslavvb Good point. I agree. This has been raised before and I agree we should revisit.

Adding macOS support (and Windows support for that matter) will be contingent on making the Gloo TCP transport work with something other than `epoll(2)`, which is the Linux specific part. This can be done by either adding `kqueue` support to `gloo/transport/tcp/device.cc`, or by adding another transport th

[2019-07-11 17:55] yf225 commented on #22745
Should we add `NDEBUG` to Release mode? The debug code is useful for maintaining the invariant that any ATen operator should not change the TensorImpl or Storage pointer of an input tensor. It's gated with `#ifndef NDEBUG` because we only want to test it in debug mode.

[2019-07-11 18:09] wanchaol commented on #22747
Thanks for reporting this! We will take a look and get back to you

[2019-07-11 18:41] SsnL opened #22755 "[RFC] InstanceNorm default affine value"
TL;DR: the default `affine` value is different from the original paper and code, but is probably too old to change. Can we add a note in doc?

I happened to be looking through the original paper on [Instance Normalization](https://arxiv.org/pdf/1701.02096.pdf) and the accompanied [code](https://github.com/DmitryUlyanov/texture_nets/blob/aad2cc6f8a998fedc77b64bdcfe1e2884aa0fb3e/InstanceNormalizatio

[2019-07-11 18:47] eellison commented on #18528
I just ran your gist on master and did not get an error. @emrul please reopen if your issue is not resolved.

[2019-07-11 18:47] #18528 closed

[2019-07-11 19:41] soumith commented on #22746
not supported officially

[2019-07-11 19:41] #22746 closed

[2019-07-11 20:00] karanchahal commented on #20402
Alright thank you. I was wondering then what is the use of Sparse Tensor support ? How can one leverage them for pruning ? I ask this as it seems like they are a natural fit for representing pruned tensors.

[2019-07-11 20:13] wanchaol commented on #22680
Hi @jinfagang sorry for the bad experience, yeah this is a valid pattern in python, but in TorchScript we will need to change the serialization semantics to support such kind of pattern. I think we will fix this in our 1.2 release.

In order to unblock you, although we could not support putting the same module more than two places in the module hierarchy, you can still call the same module multipl

[2019-07-11 20:56] chmendoza opened #22763 "Confusing example of broadcasting in torch.matmul"
## 📚 Documentation

I think this example given in https://github.com/pytorch/pytorch/blob/9c4c9c3af042498144c40b30d64443cca943906a/torch/_torch_docs.py about broadcasting is confusing:

In lines 3174 to 3176:

For example, if :attr:`tensor1` is a :math:`(j \times 1 \times n \times m)` tensor and :attr:`tensor2` is a :math:`(k \times m \times p)` tensor, :attr:`out` will be an :math:`(j \times k \t

[2019-07-11 21:02] vadimkantorov opened #22764 "[feature request] torch.hypot"
`torch.stft` returns real and imaginary components as the last dimension. Two very frequent functions to consume it are: `abs` and `angle` (in NumPy). Abs is similar to regular `np.hypot`, so meanwhile complex tensor support is not developed, `hypot` could do `abs`'s job.

NumPy also has a `hypot`, although it accepts two arrays. We may have two versions: one accepting two arrays, another acceptin

[2019-07-11 21:10] zou3519 opened #22766 "assert_no_internal_overlap should pass const char*"
Followup to #22729. Quoting @colesbury:

https://gcc.godbolt.org/z/0NQtCC

[2019-07-11 21:12] eellison commented on #20335
This is fixed on master. Reopen if you are still having issues

[2019-07-11 21:12] #20335 closed

[2019-07-11 21:12] ailzhang commented on #22608
Remove my assignment for now as I won't have bw for this in a week.
I can check back to this in 2 weeks if this is not taken care of by then.

[2019-07-11 22:24] orionr commented on #20477
Fix landed! Closing.

[2019-07-11 22:24] #20477 closed

[2019-07-11 22:25] michaelklachko commented on #20402
Pytorch library for sparse NN training: https://github.com/TimDettmers/sparse_learning

[2019-07-11 22:57] yf225 opened #22778 "In-place update on the original value tensor should also update version counter of sparse tensor's values_ tensor"
Currently, in-place updating the original value tensor after it's been used to construct a sparse tensor doesn't update version counter of the sparse tensor's `values_` tensor. Consider the following example:
[code]
The reason is that we don't save the values tensor for backward in the sparse tensor constructor:
[code]

[2019-07-11 23:15] karanchahal commented on #20402
Thank you for this, I looked at the code and the author is masking out the weights with a boolean mask matrix. That is fine, however I wondering if pytorch will support pruning by using SparseTensors, that is, not computing the unnecessary multiplication with zeros.

[2019-07-11 23:15] mcarilli commented on #22169
Do you think it makes sense to store the owned Tensors individually in a non-flattened way, even when they're being deep-copy-constructed from the input tensors?  Then we won't have to worry about any slicing backwards.  If the user wants to retrieve an individual Tensor from the NestedTensor, we can just give them the reference.  And if the user wants to use this individual Tensor for autograd op

[2019-07-11 23:21] cpuhrsch commented on #22169
@mcarilli - Yes, I think we should store them individually, but we can still have them share memory and keep track of that fact as an annotation or detect it at runtime based on the addresses of the pointers.

The main idea here is that you might have a collection of Tensors each with the same inner dimension. Then you can think of them as a single collection of Vectors for operations such as matr

[2019-07-11 23:24] mcarilli commented on #22169
Ah yeah that's true, if we store them contiguously, a batched gemm that operates on each of them becomes a single gemm launch.

what do you mean?  that seems contradictory

[2019-07-11 23:27] cpuhrsch commented on #22169
@mcarilli - we can have a collection of Tensors and they each view a piece of the same memory, or put differently, the memory of each Tensor "borders" with the memory of one other Tensor in the collection. So, when we allocator a Tensor, we allocate enough memory for all Tensors at once and then have them each point to some dedicated piece of memory.

[2019-07-11 23:27] abonnet opened #22780 "Build Pytorch/Libtorch with TBB support is failing"
## 🐛 Bug

Build Pytorch/Libtorch with TBB support is failing

## To Reproduce

Steps to reproduce the behavior:

1. Set environment variables  to use TBB:
[code]
2. Build: `python setup.py build`
[code]

## Expected behavior

It builds successfully. Building with OpenMP is working in the same environment.

## Environment

Please copy and paste the output from our
[environment collection script](ht

[2019-07-11 23:34] mcarilli commented on #22169
I see, that is what I meant by "flattened" above.  I was wondering whether it made more sense to store them in a non-flattened way, but horizontal fusion of gemms is a compelling use case for storing them as views into a flattened buffer.

[2019-07-11 23:42] cpuhrsch commented on #22169
@mcarilli - can't we detect conditions that the horizontal fusion is appropriate at runtime? For example, if each Tensor is contiguous, each has the same inner dimension and the underlying pointers add up based on the maximum offset of each Tensor (i.e. we know that they collectively cover a dense, contiguous region of memory)? Unbinding operations etc. etc. *might* change this condition, but it i

[2019-07-11 23:55] colesbury commented on #22745
@yf225, yes that seems reasonable. We'd also want to make sure that Facebook's build also uses NDEBUG. Be aware that NDEBUG will affect additional files and some included third-party headers (like pybind11)

[2019-07-11 23:55] mcarilli commented on #22169
Sure, but presumably we are making the decision about how to allocate and lay out the memory at the time when the NestedTensor is constructed, not at the time it's passed to a gemm, for example.  So the user would have to anticipate how it's going to be used, and request contiguous backing memory (or not).

[2019-07-11 23:57] cpuhrsch commented on #22169
@mcarilli - it's not quite unlike calling .contiguous() on a torch.Tensor. We can verify the condition at runtime (like we do with contiguity) and otherwise, just like we do now, have to call .contiguous() (and possibly suffer a reallocation) at various points of the program.

[2019-07-12 00:17] soumith commented on #22780
cc: @ilia-cher

[2019-07-12 00:38] LU4E commented on #22676
@Biaocsu Yes. I first try uninstall the tb-nightly many times but it still there. I don't know why.
You can build a new environment, install tensorflow, tensorboard, tensorboardx, espically, don't install tb-nightly.

[2019-07-12 00:55] mcarilli commented on #22169
Well the downside is for one-off use cases, like in an optimizer.step(), where a bunch of gradients have been created at disjoint locations, and you want to apply them individually to a bunch of params.  In this instance the NestedTensor's role would be to replace a for loop over params+gradients by shallowly wrapping a list of params+gradients and dispatching to a backend capable of processing th

[2019-07-12 00:56] NeilWangziyu commented on #20017
@robert-wagner
I try to install the nightly version of pytorch, however met the error:
[code]

[2019-07-12 02:01] jinfagang commented on #22680
@wanchaol  Thank you wanchaol! I just solved my problem yesterday! Turns out to be a module list written format error, now my model runs well!

Appreciate for your help very much!

[2019-07-12 02:02] #22680 closed

[2019-07-12 02:12] emoyers opened #22785 "Getting cuda runtime error (48) with Jetson TX2 when running simple program"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

When running in Jetson TX2 this simple code:
[code]
I'm getting this output:
[code]

[2019-07-12 02:28] Biaocsu commented on #22676
@LU4E it does not suitable for me, I can successfully uninstall tb-nightly. and yes I am really using another environment to use tensorboard

[2019-07-12 02:35] soumith commented on #22785
how did you install pytorch on the jetson platform?

[2019-07-12 02:44] emoyers commented on #22785
I used this commands
[code]

Following this [link](https://devtalk.nvidia.com/default/topic/1041716/pytorch-install-problem/).

[2019-07-12 03:51] jingxu10 opened #22786 "ONNX export of NVidia Tacotron2"
## 🐛 Bug
Reference bug report: https://github.com/onnx/onnx/issues/1956

Traceback (most recent call last):
  File "inference.py", line 49, in <module>
    torch.onnx.export(model, dummy_input, "tacotron.onnx", verbose=True )
  File "/home/msl/.virtualenvs/venv_waveglow/lib/python3.5/site-packages/torch/onnx/__init__.py", line 27, in export
    return utils.export(*args, **kwargs)
  File "/home/ms

[2019-07-12 04:24] buoyancy99 commented on #4534
I think this is worth fixing. When I use variable size inputs I frequently encounter this and a manual fix is ugly

[2019-07-12 04:30] zlinwei commented on #15420
Hi, It works when I use Rel, but why Debug build has this error?  If I compile the pytorch myself, will this problem still occur?

[2019-07-12 04:37] awwong1 commented on #3749
In case this is useful to anyone else, I've created a python package for layer by layer profiling that extends the autograd profiler. It only supports forward computation.
https://github.com/awwong1/torchprof
https://pypi.org/project/torchprof/

[2019-07-12 05:36] negan0 commented on #19199
@berylyellow u compiled from source? or just used conda or pip?

[2019-07-12 05:54] johnwlambert opened #22788 "Pytorch deadlock from distributed multiprocessing"
## 🐛 Bug

Pytorch hangs indefinitely when using distributed multiprocessing with Pytorch 1.1.0 after 77k iterations (77939 and 77940 iterations). In Pytorch 1.0.1.post2, there is no such bug.

It appears to be deadlock.

The following distributed modules combine together in a very nasty way for some reason:
[code]

## To Reproduce

Steps to reproduce the behavior:

1. Clone the following repo: [se

[2019-07-12 06:22] deepakn94 commented on #18300
Got it! Will try in my larger application and report back!

[2019-07-12 06:26] guanfuchen opened #22789 "torch_default_collate is slow when net is runing at multi gpu"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

torch_default_collate is slow when net is runing at multi gpu

just fake data [64, 3, 720, 1280], one gpu about 620 fps, but when it is

[2019-07-12 06:48] peterjc123 commented on #15420
@zlinwei Are you using the debug version on pytorch.org when we switch to the debug configuration?

[2019-07-12 06:49] guanfuchen commented on #22789
And I see the torch_default_collate function use torch.stack, and it costs a lot, about 0.3s when the size is 32x3x720x1280

[2019-07-12 07:28] bhaveshchavda53 commented on #22332
[building failed.txt](https://github.com/pytorch/pytorch/files/3385428/building.failed.txt)

[2019-07-12 07:37] peterjc123 commented on #22332
Er, you are still using Python 2.7. But the error is unrelated to this, it is:
[code]
Looks like a dependency problem. Is it possible to wrap the include of the eigen headers with a `ifndef __CUDACC__` guard?

[2019-07-12 07:53] 401qingkong commented on #21015
If we want to use RDMA not IPOIB with gloo backend, which paramters need to be set. We set the GLOO_SOCKET_IFNAME=ib0, it may use the IPOIB not rdma. Thank you:)

[2019-07-12 07:58] bhaveshchavda53 commented on #22332
I don't know  much about this error but i am trying to build caffe2 since 2 weeks but someway or the others error is occurring

[2019-07-12 08:05] peterjc123 commented on #22332
Do you need something more than the nightly packages provide?

[2019-07-12 08:07] bhaveshchavda53 commented on #22332
i need this for runnning detectron

[2019-07-12 08:09] 401qingkong opened #22791 "How to use mpi backend without CUDA_aware"
We noticed that the MPI backend doesn't support the GPU from the official website,(https://pytorch.org/docs/master/distributed.html), then we complied the Pytorch with USE_MPI=1. The command line is `python3 main.py -a resnet50 --dist-url 'tcp://12.0.50.1:12348' --dist-backend 'mpi' --multiprocessing-distributed --world-size 2 --rank 0 /data/tiny-imagenet-200/`.  However, we got the error message

[2019-07-12 08:26] mesut92 opened #22792 "How can i fix libtorch 'undefined reference' problem in qmake?"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

 I use qmake to build but I  get some errors.

Firstly, i got one errors;
libtorch\include\torch\csrc\jit\ir.h:1077: error: function 'torch::jit::Value* torch::jit::Graph::insertGetAttr(torch::jit::Value*, const string&)' definition is marked dllimport
   TORCH_API Value* insertGetAt

[2019-07-12 09:07] bhaveshchavda53 commented on #22332
[building failed2.0.txt](https://github.com/pytorch/pytorch/files/3385782/building.failed2.0.txt)

[2019-07-12 09:53] peterjc123 commented on #22332
Could you please do `set BUILD_SHARED_LIBS=ON`?

[2019-07-12 10:04] swg209 opened #22793 "Do pytorch implemented losses contain Global loss (pairwise similarity) of Siamesenetworks?"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)

[2019-07-12 10:13] alpErenSari commented on #3022
I face the same problem with 1080 Ti and a 450 W PSU and tried to reduce power consumption by typing command "sudo nvidia-smi -pl X" as a temporal solution. However, this did not work at first try. After that, I noticed that if you limit the power consumption first and type "nvidia-smi -lms 50" on another terminal to check the power and memory usage of the GPU just before starting the training, th

[2019-07-12 12:01] pietern commented on #18300
The discussion in the linked issue includes explanation of the underlying issue.

TL;DR, it's not possible to do concurrent and out of order initialization of NCCL communicators. The hang you're seeing is unavoidable and it requires you to initialize the communicators before using them concurrently. Also, the fact that you CAN use multiple NCCL communicators concurrently in the first place, is a f

[2019-07-12 12:10] pietern commented on #18300
@deepakn94 Can you elaborate on what you're using multiple process groups for? Perhaps there is some other way we can achieve the same result.

[2019-07-12 12:35] bhaveshchavda53 commented on #22332
caffe2 was built successfully but,

WARNING:root:This caffe2 python run does not have GPU support. Will run in CPU only mode.
CRITICAL:root:Cannot load caffe2.python. Error: DLL load failed: The specified module could not be found.

[2019-07-12 13:57] soumith commented on #22793
please use https://discuss.pytorch.org for questions

[2019-07-12 13:57] #22793 closed

[2019-07-12 13:58] raxxerwan commented on #20313
Hello, I've met exactly the same problem with you now. Would you plz share your solution? Thx in advance!

[2019-07-12 14:34] Yozey commented on #8318
More specifically, if you are using conda, add this to your ~/.bashrc
export LD_LIBRARY_PATH="/home/username/miniconda3/lib:$LD_LIBRARY_PATH"

[2019-07-12 14:53] SsnL commented on #22789
Are you loading data to GPU in dataset? Most dataset code should return CPU tensors.

[2019-07-12 14:55] SsnL commented on #22778
I’m pretty sure the sparse tensor share version counter with the value tensor.

[2019-07-12 15:35] VitalyFedyunin opened #22796 "Port `addcdiv` operator from the TH code to Aten"
`addcdiv` is the point-wise math operator so porting if from the TH code to Aten (and TensorIterator) expected to be easy. Such migration will help to clean up the code, simplify dispatch as well as provide immediate 2-3x operator performance gain.

Porting guide: https://github.com/pytorch/pytorch/wiki/TH-to-ATen-porting-guide

Example PR with porting of the adaptive_avg_pool2d: https://github.co

[2019-07-12 15:38] vishwakftw commented on #22796
Also worth mentioning addcmul as well.

[2019-07-12 15:41] VitalyFedyunin opened #22797 "Port `addcmul` operator from the TH code to Aten"
`addcmul` is the point-wise math operator so porting if from the TH code to Aten (and TensorIterator) expected to be easy. Such migration will help to clean up the code, simplify dispatch as well as provide immediate 2-3x operator performance gain.

Porting guide: https://github.com/pytorch/pytorch/wiki/TH-to-ATen-porting-guide

Example PR with porting of the adaptive_avg_pool2d: https://github.co

[2019-07-12 15:41] VitalyFedyunin commented on #22796
Kamino cloned this issue to [pytorch/pytorch](https://github.com/pytorch/pytorch/issues/22797)

[2019-07-12 15:43] VitalyFedyunin opened #22799 "Port `atan2` operator from the TH code to Aten"
`atan2` is the point-wise math operator so porting if from the TH code to Aten (and TensorIterator) expected to be easy. Such migration will help to clean up the code, simplify dispatch as well as provide immediate 2-3x operator performance gain.

Porting guide: https://github.com/pytorch/pytorch/wiki/TH-to-ATen-porting-guide

Example PR with porting of the adaptive_avg_pool2d: https://github.com/

[2019-07-12 15:43] VitalyFedyunin commented on #22796
Kamino cloned this issue to [pytorch/pytorch](https://github.com/pytorch/pytorch/issues/22799)

[2019-07-12 15:43] VitalyFedyunin opened #22800 "Port `clamp` operator from the TH code to Aten"
`clamp` is the point-wise math operator so porting if from the TH code to Aten (and TensorIterator) expected to be easy. Such migration will help to clean up the code, simplify dispatch as well as provide immediate 2-3x operator performance gain.

Porting guide: https://github.com/pytorch/pytorch/wiki/TH-to-ATen-porting-guide

Example PR with porting of the adaptive_avg_pool2d: https://github.com/

[2019-07-12 15:43] VitalyFedyunin commented on #22796
Kamino cloned this issue to [pytorch/pytorch](https://github.com/pytorch/pytorch/issues/22800)

[2019-07-12 15:54] VitalyFedyunin opened #22801 "Port `digamma` operator from the TH code to Aten"
`digamma` is the point-wise math operator so porting if from the TH code to Aten (and TensorIterator) expected to be easy. Such migration will help to clean up the code, simplify dispatch as well as provide immediate 2-3x operator performance gain.

Porting guide: https://github.com/pytorch/pytorch/wiki/TH-to-ATen-porting-guide

Example PR with porting of the adaptive_avg_pool2d: https://github.co

[2019-07-12 15:54] VitalyFedyunin commented on #22796
Kamino cloned this issue to [pytorch/pytorch](https://github.com/pytorch/pytorch/issues/22801)

[2019-07-12 15:54] VitalyFedyunin opened #22802 "Port `erfinv` operator from the TH code to Aten"
`erfinv` is the point-wise math operator so porting if from the TH code to Aten (and TensorIterator) expected to be easy. Such migration will help to clean up the code, simplify dispatch as well as provide immediate 2-3x operator performance gain.

Porting guide: https://github.com/pytorch/pytorch/wiki/TH-to-ATen-porting-guide

Example PR with porting of the adaptive_avg_pool2d: https://github.com

[2019-07-12 15:54] VitalyFedyunin commented on #22796
Kamino cloned this issue to [pytorch/pytorch](https://github.com/pytorch/pytorch/issues/22802)

[2019-07-12 15:55] VitalyFedyunin opened #22803 "Port `fmod` operator from the TH code to Aten"
`fmod` is the point-wise math operator so porting if from the TH code to Aten (and TensorIterator) expected to be easy. Such migration will help to clean up the code, simplify dispatch as well as provide immediate 2-3x operator performance gain.

Porting guide: https://github.com/pytorch/pytorch/wiki/TH-to-ATen-porting-guide

Example PR with porting of the adaptive_avg_pool2d: https://github.com/p

[2019-07-12 15:55] VitalyFedyunin commented on #22796
Kamino cloned this issue to [pytorch/pytorch](https://github.com/pytorch/pytorch/issues/22803)

[2019-07-12 15:56] VitalyFedyunin opened #22804 "Port `pow` operator from the TH code to Aten"
`pow` is the point-wise math operator so porting if from the TH code to Aten (and TensorIterator) expected to be easy. Such migration will help to clean up the code, simplify dispatch as well as provide immediate 2-3x operator performance gain.

Porting guide: https://github.com/pytorch/pytorch/wiki/TH-to-ATen-porting-guide

Example PR with porting of the adaptive_avg_pool2d: https://github.com/py

[2019-07-12 15:56] VitalyFedyunin commented on #22796
Kamino cloned this issue to [pytorch/pytorch](https://github.com/pytorch/pytorch/issues/22804)

[2019-07-12 15:59] VitalyFedyunin opened #22805 "Port `remainder` operator from the TH code to Aten"
`remainder` is the point-wise math operator so porting if from the TH code to Aten (and TensorIterator) expected to be easy. Such migration will help to clean up the code, simplify dispatch as well as provide immediate 2-3x operator performance gain.

Porting guide: https://github.com/pytorch/pytorch/wiki/TH-to-ATen-porting-guide

Example PR with porting of the adaptive_avg_pool2d: https://github.

[2019-07-12 15:59] VitalyFedyunin commented on #22796
Kamino cloned this issue to [pytorch/pytorch](https://github.com/pytorch/pytorch/issues/22805)