[2021-04-23 20:44] #55552 closed

[2021-04-23 20:45] ptrblck commented on #56820
Update: I missed an important note:
Numpy might not have introduced larger numerical errors in these tests, but additional tests are used in `>=1.20.0` as described [here](https://github.com/pytorch/pytorch/blob/0424f6af9391857272b768e032e226629ff01762/test/test_spectral_ops.py#L254-L256):
[code]
The failures are caused by (at least) the usage of `mode="forward"` in some configs.
I'll update the t

[2021-04-23 20:51] imaginary-person commented on #56809
Didn't reproduce on the release version with Python 3.9.4.:
![pytorch nightly](https://user-images.githubusercontent.com/76181208/115928388-a30d6a80-a44b-11eb-89e8-f3a4a83d6a19.jpg)

I only checked with the release version, as I wasn't able to build it locally with Python 3.9.4:
[code]

[2021-04-23 21:02] ilia-cher commented on #56623
That's a known issue scheduled to be fixed in 1.9, thanks for reporting!

[2021-04-23 21:06] zasdfgbnm opened #56822 "Upper bound of randperm is not computed correctly"
## 🐛 Bug

[code]

`randperm(256)` contains values from 0 to 255(all inclusive), it does not overflow. `arange(256)` works fine.

[2021-04-23 21:08] #55370 closed

[2021-04-23 21:13] #54338 closed

[2021-04-23 21:39] #52916 closed

[2021-04-23 21:57] albanD commented on #56683
This is very surprising that this triggers in forward...
High pri to investigate.

[2021-04-23 22:20] spandantiwari commented on #49936
@zcarson92 - can you confirm if you have a workaround.

[2021-04-23 22:23] AntMorais commented on #56777
Thanks @lw ! Here's the info:
glibc version:```ldd (GNU libc) 2.17```
kernel version: ```3.10.0-514.6.2.el7.x86_64```
I added the line you mentioned and had another error:
[code]

[2021-04-23 22:35] rohan-varma commented on #56146
Close since the test name has changed: https://github.com/pytorch/pytorch/issues/56690

[2021-04-23 22:35] #56146 closed

[2021-04-23 22:35] rohan-varma commented on #52284
Close since the test name has changed: https://github.com/pytorch/pytorch/issues/56690

[2021-04-23 22:35] #52284 closed

[2021-04-23 22:36] rohan-varma commented on #52283
Close since the test name has changed; https://github.com/pytorch/pytorch/issues/56690

[2021-04-23 22:36] #52283 closed

[2021-04-23 22:40] mlizhardy opened #56833 "torch.lstsq returns wrong tensor size"
I have a A = 10 x 6  source tensor, and a b = 10 x 1 destination tensor.
I want to solve for x such that Ax = b.  x should be a 6 x 1 tensor.

when I code:

[code]

prints: torch.Size([10, 1])

This is not how math works. How do I get the proper 6 x 1 output tensor?

[2021-04-23 22:59] rohan-varma opened #56836 "Remove single device constraint from ProcessGroupNCCL profiling"
## 🚀 Feature
When https://github.com/pytorch/pytorch/pull/46471/files that originally enabled the profiling was added, we used NCCLFuture instead of CUDAFuture which only supported single device per process.

Therefore, we have checks such as the following to ensure that we only profile when the above is the case:
https://github.com/pytorch/pytorch/blob/master/torch/lib/c10d/ProcessGroupNCCL.cpp#L

[2021-04-23 23:07] rohan-varma opened #56838 "Comprehensively test NCCL's `get_future()` API"
## 🚀 Feature
In ProcessGroupNCCL, we added a `get_future()` API to support gradient compression use cases, where a user can call `get_future()` to schedule additional callbacks when implementing custom gradient compression algorithms.

However, get_future() can be more generally useful and today is created for all nccl collectives as well as recv p2p op, but does not appear to be tested anywhere.

[2021-04-23 23:14] ptrblck commented on #56747
As @malfet said: the conda binaries do not reproduce the issue and work correctly.

[2021-04-23 23:31] JayThomason commented on #56747
Unfortunately I am unable to install the cuda 11 torch package using conda because it detects the cuda version of the host instead of the cuda version installed in the docker image (for example where the host cuda version is 11.3 whereas the container is 11.1).

[2021-04-23 23:35] ptrblck commented on #56747
The conda `cudatoolkit` package shouldn't check any host CUDA toolkit installations and I'm able to install it in different containers (ranging from CUDA11.0 to 11.3). Feel free to create a topic in the [forum](https://discuss.pytorch.org/) (and tag me) in case you have trouble installing the conda binaries in a container to keep this issue focused on the pip wheel error.

[2021-04-23 23:50] rohan-varma commented on #56690
This block might be what's causing the profiling flakiness issues: https://github.com/pytorch/pytorch/blob/master/torch/autograd/profiler.py#L1254

[2021-04-24 00:21] jayenashar commented on #30532
@geemk i built some but they aren't working.  you can try them if they magically work for you:
https://github.com/UNSWComputing/pytorch/releases/tag/v1.6.0
https://github.com/UNSWComputing/pytorch/releases/tag/v1.7.1
https://github.com/UNSWComputing/pytorch/releases/tag/v1.8.0

[2021-04-24 00:43] carlosgmartin opened #56843 "Add clipnorm parameter to optimizers"
## 🚀 Feature

For each [optimizer](https://pytorch.org/docs/stable/optim.html), add a `clipnorm: float` parameter to step with a clipped gradient norm (default being `inf` for no clipping).

## Alternatives

PyTorch has a [`torch.nn.utils.clip_grad_norm_`](https://pytorch.org/docs/stable/generated/torch.nn.utils.clip_grad_norm_.html) function, but it has disadvantages:

1. It modifies the gradient

[2021-04-24 00:45] ppwwyyxx commented on #18536
In the past I achieved this by using cuDNN's API logging plus a [python script](https://gist.github.com/ppwwyyxx/b28c0dc3062fdae5f0a47801afae35ba) to parse the output - the output contains all algorithms used together with their conv descriptors.

[2021-04-24 01:45] malfet commented on #56038
Example of problem that slipped thru the cracks because we only have CI that tests PyTorch compiled with MKL, rather than other BLAS+LAPACK flavors: https://github.com/pytorch/pytorch/pull/56847

[2021-04-24 03:20] LeopoldACC opened #56848 "quantization for tuple input"
## 🚀 Feature

support quantization for tuple input
## Motivation

Due to the rnnt model need tuple input as shown below,and I'm doing quantization on the model at the same time.
[code]
**which lead to bug as shown below**
[code]
## Pitch

I want to torch quantization support tuple input.
## Alternatives

If you can help me to quantize such input in another way,that is also ok.
## Additional contex

[2021-04-24 03:24] israrbacha commented on #34238
I Got the permission error with PyTorch v1.6 on Docker. anyone have an idea how to fix it?

File "/opt/conda/lib/python3.6/site-packages/torch/utils/cpp_extension.py", line 970, in load
    build_directory or _get_build_directory(name, verbose),
  File "/opt/conda/lib/python3.6/site-packages/torch/utils/cpp_extension.py", line 1454, in _get_build_directory
    os.makedirs(build_directory, exist_ok

[2021-04-24 03:41] cainiaoshidai commented on #56572
Sorry， I have update log file.
Thanks.

[2021-04-24 05:45] oowwwwww opened #56849 "THCudaCheck FAIL file=/pytorch/aten/src/THC/THCGeneral.cpp line=50 error=3 : initialization error"
## 🐛 Bug

## To Reproduce

when I input torch.cuda.is_available() , its output is false, but I have check cuda‘s version is right, but I can run the project that includes ".cuda()" but when the project that includes ".to(device)" , it will export error --"THCudaCheck FAIL file=/pytorch/aten/src/THC/THCGeneral.cpp line=50 error=3 : initialization error", and when I run torch.zeros(1).cuda(), it wil

[2021-04-24 07:32] pearu opened #56856 "CSR invariant crow_indices[-1] == nnz is not forced by sparse_csr_tensor"
As in title. Here is a reproducer (using the current master branch):
[code]
The expected behaviour is an exception because the CSR format invariant `crow_indices[-1] == nnz` is invalid in this example.

cc @aocsa @nikitaved @pearu @mruberry @gchanan

[2021-04-24 08:08] nikitaved commented on #56683
I am actually interested in having gradients wrt to targets. I could have a look at the issue.

[2021-04-24 08:20] vadimkantorov commented on #56683
`kl_div` also doesn't seem to have gradients wrt targets implemented

[2021-04-24 10:04] xiaolangwork opened #56858 "who can support MobileNetV2_1.4x weight, ShuffleNetV2_1.5x and ShuffleNetV2_2x ?"
## ❓ Questions and Help

### Please note that this issue tracker is not a help form and this issue will be closed.

We have a set of [listed resources available on the website](https://pytorch.org/resources). Our primary means of support is our discussion forum:

- [Discussion Forum](https://discuss.pytorch.org/)
- who can support MobileNetV2_1.4x weight, ShuffleNetV2_1.5x and ShuffleNetV2_2x ?  I

[2021-04-24 10:42] BlackDChase commented on #35472
@GPaolo I had a similar issue, then I did what @mruberry suggested:
The first block of code works, the second block does not. (Both separate but similar files)
[code]
This is done just to experiment, but it got stuck.
[code]

My actual code does involve more wrappers and class structure but later would be what o would do in a zest. Any suggestion for the latter? (It got stuck after CHECKPOINT 2.)

[2021-04-24 10:51] N1h1l1sT commented on #25537
For me, what caused this particular problem was that my labels were from 1 to k instead of from 0 to k-1,
i.e. set(Y_Train) and set(Y_Test ) gave [1, 2, ..., k] instead of [0, 1, ..., k-1].

Hope someone finds this helpful

[2021-04-24 11:13] quest4next commented on #56333
You cannot pip install Pytorch on Mac M1. Follow these instructions https://naturale0.github.io/machine%20learning/setting-up-m1-mac-for-both-tensorflow-and-pytorch

[2021-04-24 11:47] pearu commented on #47717
Note that
[code]
gives gcc 7. I suggest using
[code]
that will install gcc 9. In fact, the subsequent `conda install ..` will upgrade gcc 7 to gcc 9 anyway.

Pytorch requires C++14, so one must apply:
[code]

[Perhaps OT] Locally, when trying to reproduce this issue, I noticed that `python` refers to python in conda base environment rather than the python in the given pytorch conda environment. Th

[2021-04-24 12:00] ttbek commented on #53350
As someone pretty new to libtorch, the message can seem pretty worrisome.  I'm using the same version (1.8.1).  I am running in the Nividia CUDA docker container.  Steps to reproduce:

1) Download the official libTorch file (libtorch-cxx11-abi-shared-with-deps-1.8.1+cu111.zip) and unpack it, as described here:
https://pytorch.org/cppdocs/installing.html

2) Make sure your Nvidia driver is up to da

[2021-04-24 13:09] shaswat-dharaiya commented on #47139
Solution mentioned by @proger worked for me.

[2021-04-24 13:37] ilovepytorch opened #56860 "TorchScript throws Exception on ShuffleNet"
## 🐛 Bug
I am using TorchScript to accelerate the execution of ShuffleNet. However, some exception is raised.

## To Reproduce
https://colab.research.google.com/gist/ilovepytorch/6ef3c7aa22685b110f18629e7f3229ce/shufflenet.ipynb

The full code and error message are in the above link.
Here I extract the seemingly relevant code ( ... is omitted) that triggered the exception:
[code]
The current behav

[2021-04-24 14:05] DLtangsan opened #56861 "TorchScript lack good support for integer argument passed to function"
## 🐛 Bug
It seems that TorchScript doens't support passing integer arguments to a function.

## To Reproduce
[code]
The `NetA` passes, but `NetB` fails. This is the error message I got:
[code]

## Expected behavior
Expect no exception.

## Environment
PyTorch Version (e.g., 1.0): 1.8
OS (e.g., Linux): Linux
How you installed PyTorch (conda, pip, source): pip
Python version: 3.6.6
CUDA/cuDNN versio

[2021-04-24 14:16] volcacius opened #56862 "Non-symbolic FX tracer"
## 🚀 Feature
An alternative non-symbolic tracer for fx that wrap around values rather than replace them, so that it's possible to resolve calls to __iter__ and __bool__ .

## Motivation
In use cases like quantization where users pass in concrete representative inputs anyway for calibration purposes, it would make sense to take advantage of that to specialize an fx graph against them to solve the c

[2021-04-24 14:26] ankit61 commented on #24826
I too agree that positional encodings should be a part of the transformer class. However, instead of hard coding them, it is perhaps better to pass a flag in the constructor about whether to use positional encodings or not (can default to true). There definitely can be (and are) cases when positional encodings are not necessary, so such flexibility would be important

[2021-04-24 15:11] walterddr commented on #47717
Not just that
1. since pytorch uses cmake_cxx_standard, you should actually remove `-std=c++xx` all together in your env CXXFLAGS because cmake will do the configuration for you.
2. you need to try multiple times and see where are all those linker error coming from. Unfortunately conda toolchain doesn't package everything and sometimes you still need to refer to your native system toolchain for li

[2021-04-24 15:45] pearu commented on #47717
Thanks, @walterddr , for pointing out other issues and solutions. Indeed, specifying CUDA_HOME is needed to resolve the linker error (I have updated my comment accordingly).

[2021-04-24 15:52] Aradhya-Tripathi opened #56865 "Adding an optional argument in Vision's Imagefolder to accept sub-directories."
## 🚀 Feature
Torchvision's Imagefolder class Takes in root as an argument, I want to add an additional argument that takes in sub-directories within root to load data only from those folders.

## Motivation

While working with large datasets and a messy folder structure I would prefer to mention the folder names in the base directory that I load my data from, this saves time and a don't have to co

[2021-04-24 15:55] #56865 closed

[2021-04-24 19:04] oke-aditya commented on #56378
Why not port torchsummary to PyTorch? :sweat_smile:
it could be in utils and can be used as `from torch.utils.summary import model_summary`.

torchsummary is very popular and is really a good choice.

[2021-04-24 19:16] dgerin opened #56873 "confusing/incomplete ConvTranspose2d DOC"
Hi,

My initial objective is simple; I would like to computes ConvTranspose2d with Conv2d layer (don't ask why please :D), and I succeed, but in an unexpected way.

The unexpected think in the code below is the use of transposeConv2dKernel()
function to "pre transpose" the conv2d W.

I really though that only Input Striding + Zero padding see **inputStridedPadded**  below would functionally match

[2021-04-24 19:16] carlosgmartin commented on #48144
@albanD The benefit is not limited to CNNs. See [1] and [4] for example.

[2021-04-24 19:43] GPaolo commented on #35472
Sorry I cannot help you. I ended up restructuring my code so I have a single model in the main process that is fed the data generated in the multiprocessing processes.

[2021-04-24 19:48] tomgoldstein commented on #11887
h5py has a parallel mode that depends on mpi4py.  I had the above problem and solved it by doing the following...
(i) pip uninstall h5py
(ii) pip install mpi4py
(iii) pip install h5py.

[2021-04-24 19:48] vadimkantorov commented on #55752
It would also be nice if torch.profiler could output some hints about this, along with arithmetic intensity (if it doesn't already)

[2021-04-24 20:39] mgoliyad1 opened #56874 "Build from source"
## 🐛 Bug

Hi!
my GPU is Tesla K20 so I was told to build pytorch from source. I have followed all instructions but build failed.

Please find attached log file.
[log.txt](https://github.com/pytorch/pytorch/files/6370564/log.txt)

I tried CUDA 11.1 and 102 and got the same results.

Collecting environment information...
PyTorch version: N/A
Is debug build: N/A
CUDA used to build PyTorch: N/A
ROCM u

[2021-04-24 21:50] david-wahlberg commented on #44814
Hi guys,
After 3 weeks of lots of frustration and constant trying to compile my project on Windows I've come to this same situation where I get the errors mentioned in this ticket (my project compiles perfectly in Linux of course). I've managed to statically compile PyTorch (latest master), after statically also compiling Magma. I managed to get rid of lots of fbgemm linking errors by this fix pro

[2021-04-24 22:33] gmagogsfm commented on #56860
Hi @ilovepytorch,

First of all, nice name!

This is because `callable` isn't a supported type in TorchScript, which statically resolves function/method invocations. The best solution available at the moment is to rewrite implementation of `fusion` to be a proper method that calls different methods (like `add`) based on a hyperparameter.

[2021-04-24 22:57] david-waterworth commented on #24826
I agree with @ankit61 - many transformer models use position embeddings in place of the original sinusoidal encoding, and some may use no encoding. So the actual embedding layer should be configurable

[2021-04-24 23:51] mruberry commented on #56814
Thanks for filing this issue @ptrblck! @rgommers and I should review incorporating the latest NumPy changes.

I imagine we can just change the behavior of our division operators to account for this change without issue; users are not typically sensitive to how we handle extremal values like this.

Whether we fix this or not, however, we'll still need to update the tests to account for the NumPy ve

[2021-04-25 00:08] mruberry commented on #56856
We would definitely accept a PR fixing this

[2021-04-25 00:09] mruberry commented on #56233
Nice work, @imaginary-person ;)

[2021-04-25 00:10] #45664 closed

[2021-04-25 00:10] imaginary-person commented on #56233
Thanks, @mruberry! Couldn't port `addmm` to structured, though. 😞

[2021-04-25 00:17] mruberry commented on #56233
Let's celebrate the things we have.

How are things going, by the way, @imaginary-person ? Are there some systemic issues you've noticed? Is finding issues to work on easy enough? Are the skills required to fix an issue and the value of doing so clear? What are your recommendations, if any, for how we could make it easier for community members to engage?

[2021-04-25 00:20] mruberry commented on #56590
@nikitaved I agree; what about updating the docs, though?

[2021-04-25 00:47] mruberry commented on #56788
Hey @Lezcano, thanks for filing this issue! Let's discuss it more at our linalg autograd sync, too.

Would one idea be to make eigvals() differentiable? We can detect, for example, if the input to the operation requires gradient. We already have some functions with different code paths depending on whether their inputs requires grad or not.

And then the analogous question would be for eighvalsh()

[2021-04-25 00:49] mruberry commented on #19037
status update: https://github.com/pytorch/pytorch/pull/50466 is being finalized by @PandaBoi

[2021-04-25 01:00] imaginary-person commented on #56233
I think that on GitHub, PyTorch has the most engaging & the most helpful maintainers, and that community-engagement couldn't have been any better.

Thanks to you, finding issues to work on has been easy for me, and so has been working on them, since you provide all the necessary background info beforehand, and help me out whenever I'm stuck. :)

The only suggestion I could come up with is to consi

[2021-04-25 01:39] peterjc123 commented on #44814
@david-wahlberg Could you please share a copy of the LibTorch built yourself and some simple code to reproduce the error? BTW, could you please share some details about how you configured your project, e.g. through VS GUI or cmake?

[2021-04-25 02:14] jackzhou121 commented on #56480
torch.multiprocessing has no syncManager package

[2021-04-25 03:04] jangalt commented on #45273
@vibe007 We are running into a similar issue, did you ever resolve what you were facing?

[2021-04-25 03:14] vibe007 commented on #45273
Hi, sorry for the slow reply here. I was never able to get this fixed, and since I was working with private data/code I couldn't make a good repro. It is interesting you are facing something similar and perhaps can come up with a repro...

[2021-04-25 03:23] jangalt commented on #45273
Yeah, gigantic private dataset here too...
We also have some dataset augmentation that calls `subprocess.run` a lot to augment the data in an external program.
Also considering this Stack Overflow issue:
https://stackoverflow.com/questions/64694489/pytorch-dataloader-very-slow-when-dataset-is-big-and-shuffle-is-true

[2021-04-25 04:25] scellat opened #56876 "Calculating gradient with frozen layers"
Hi,

I have trained a transformer model with some of the layers frozen.
I used the following code to freeze the layers during training.

[code]

Training runs fine and when I check the trained model object, the layers I freeze indeed shown as frozen. However, when I try to calculate the gradients with `torch.autograd.grad` during inference time, I get the following error:

`RuntimeError: One of th

[2021-04-25 05:20] jaidee-coder007 commented on #55603
@eellison - Please let me know if any other details are required for this issue!!

[2021-04-25 06:44] gmagogsfm commented on #56768
Hi VoVAllen,

It is supported to create non-nn.Module class objects in TorchScript, but not nn.Module's. Can you try defining a parent `nn.Module` that contains an instance of `UDF` as submodule? You can then invoke `UDF` instance inside parent module's `forward`

[2021-04-25 07:16] rgommers commented on #56814
Cc @peterbell10 who has 4 PRs updating `floor_divide` open.

[2021-04-25 07:21] VoVAllen commented on #56768
@gmagogsfm Thanks. But I don't really understand your suggestion. Here's my attempt but still doesn't work.
[code]

Error message:
[code]

[2021-04-25 07:34] SsnL opened #56881 "[FR] integral discrete distributions should support dtype=int64"
## 🚀 Feature

It makes sense that I can `geometric_distn.sample(dtype=torch.int64)`

[2021-04-25 07:36] SsnL commented on #56876
`. requires_grad` attributes affects what is tracked (and which intermediate result for backprop is stored) when **forwarding**. So you need to flip it on before **forwarding** if you want gradient wrt it. If you simply want your optimizer to ignore that layer, you can exclude it when creating the optimizer, or emptying the `.grad` attribute.

[2021-04-25 08:18] #24705 closed

[2021-04-25 08:59] rafi-cohen opened #56882 "Cannot import torch on latest nightly"
## 🐛 Bug

Importing torch on the latest nightly results in the following error:
[code]

## To Reproduce

Steps to reproduce the behavior:

1. `conda create -n nightly python=3.8 pytorch torchvision torchaudio cudatoolkit=11.1 -c pytorch-nightly -c conda-forge` (you might want to change the environment name)
1. `conda activate nightly` (or whatever name you chose)
1. `python -c "import torch"`

##

[2021-04-25 09:29] HuaMuLanChina opened #56883 "error when exporting model which keep the hidden state of lstm itself for real time usage"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

import torch
import torch.nn as nn

[code]

## Actual behavior
[code]

## Expected behavior
this model works fine, but in real time , i think maintaining hidden states is necessary.
[code]

## Environment

Collecting environment information...
PyTorch version: 1.8.1+cu111
Is debug build: False
CUDA used to build PyTorch: 11.1
ROCM used t

[2021-04-25 09:32] mr0jue opened #56884 "caffe2_detectron_ops_gpu.dll makes import torch occur OSerror，[WinError 193] %1 is not a valid Win32 application"
## 🐛 Bug
## To Reproduce
Steps to reproduce the behavior:
1. create conda virtual environment
2. install pytorch via conda :
"conda install pytorch torchvision torchaudio cudatoolkit=11.1 -c pytorch -c conda-forge"
3. open jupyter notebook & "import torch"

Then, I got this
'''
Traceback (most recent call last):
  File "<string>", line 1, in <module>
  File "C:\ProgramData\Anaconda3\envs\pt181\lib

[2021-04-25 09:46] mr0jue commented on #56884
I copied all the files in 'C:\ProgramData\Anaconda3\pkgs\cudatoolkit-11.1.1-heb2d755_7\Library\bin' to 'C:\ProgramData\Anaconda3\envs\pt181\Lib\site-packages\torch\lib', Then, the BUG was fixed.
I think there's a problem either the installation of cudatoolkit or the __init__.py file in Pytorch.

[2021-04-25 10:09] david-wahlberg commented on #44814
Hi @peterjc123 , thanks for getting back to be so quickly. I'll try and explain my PyTorch on Windows adventure a bit more in detail here:
I got a software product working well on Linux, but I also want to make it available to clients on Windows. The product is in the form of a shared library and is a plugin for another commercial software. Because of that, I need PyTorch (LibTorch) to be compiled

[2021-04-25 10:15] BlackDChase commented on #35472
@GPaolo No worries ... I restructured the code as well. It turns out, that if you load a model in parent and then load a similar/same model in a child it will get stuck. (Don't know why)
But if you load it first in the child process and then in the parent. It will work.  Refer this:

So, What I did:
- I had a master and slave agent protocol.
- In this Master will load this particular model for set

[2021-04-25 10:43] #54155 closed

[2021-04-25 10:52] ctwillson commented on #43845
Thanks for your reply,I install https://aka.ms/vs/16/release/vc_redist.x64.exe,it works good for me

[2021-04-25 10:52] ctwillson commented on #43845
Thanks for your reply,I install https://aka.ms/vs/16/release/vc_redist.x64.exe,it works good for me

[2021-04-25 12:37] NicolasHug commented on #56882
A similar issue on MacOS:

[code]

These issues seem to be the cause of the CI failures in torchvision (https://github.com/pytorch/vision/issues/3716, https://github.com/pytorch/vision/issues/3696) and torchaudio

[2021-04-25 13:23] peterjc123 commented on #56884
@mr0jue Have you checked the directories like `C:\ProgramData\Anaconda3\Library\bin` & `C:\ProgramData\Anaconda3\envs\pt181\Library\bin`? Normally, we won't check for the directories under `pkgs`.

[2021-04-25 13:40] peterjc123 commented on #56884
Looking into the log, it seems that loading `C:\ProgramData\Anaconda3\envs\pt181\Library\bin\cusolver64_11.dll` throws the error "OSError: [WinError 193] %1 不是有效的 Win32 应用程序". So maybe this DLL is corrupted during installation. Does reinstalling the `cudatoolkit` package help?

[2021-04-25 13:46] peterjc123 commented on #56884
I tried to reproduce the error but failed. Here is what I have done.
[code]

[2021-04-25 13:54] peterjc123 commented on #56874
@mgoliyad1 You are using a VS version that we don't currently support. Please try downgrading VS (uninstall the current one and re-install an older one) or installing an older mini-toolchain side by side. FYI, our CI uses VS 16.8.

[2021-04-25 13:56] Aradhya-Tripathi opened #56886 "Addition of different transforms on train, test and validation data in random_split method"
## 🚀 Feature
The `torch.utils.data.dataset.random_split()` takes in an object of the dataset class and applies random split on it,
however, the transformations on train and test data might be different thus using this as an additional argument to pass different transforms for the test, train, and validation datasets be helpful and hassle-free.

## Motivation
As I generally write a custom dataset c

[2021-04-25 15:49] mr0jue commented on #56884
Thank you for reply.
Yes, I known that, they are only the install cache. I deleted and redownloaded those '.tar.bz2' & '.conda' because I throught they may corrupted.
I have checked the directories,  'C:\ProgramData\Anaconda3\envs\pt181\lib\site-packages\torch\lib\' &
'C:\ProgramData\Anaconda3\envs\pt181\Library\bin' &
'C:\ProgramData\Anaconda3\envs\pt181\', which were mentioned in WinDbg`s log. n

[2021-04-25 16:11] therealjjj77 opened #56888 "Cmake Error on Custom Pytorch Build from Source"
Hello, I am following the instructions to build from source because my GPU is a Tesla K80. But I am getting a Cmake error during the `install setup.py install`. The error is:
[code]

[2021-04-25 16:27] peterjc123 commented on #44814
@david-wahlberg There are some minor points that I want to write down while reading your post.
1. `tools\build_libtorch.py` is used in CI instead of invoking `cmake` directly. (But it should be okay.)
2. In your project, you are referring to the sources in the build dir `C:/Users/User/pytorch180_cuda101/build`, but a better way would be to add `-DCMAKE_INSTALL_PREFIX=[install dir]` in your cmake c

[2021-04-25 16:49] peterjc123 commented on #56884
CUDA DLLs should exist in `C:\ProgramData\Anaconda3\envs\pt181\Library\bin` since I can see them in `[my conda root]\envs\py37\Library\bin`.

That's pretty weird. If you still have the env, maybe you can share the logs of the DLL loading in jupyter notebook.

[2021-04-25 18:25] t-vi opened #56890 "Kineto dependency CUPTI detection should use standard cmake mechanisms"
## 🐛 Bug

The kineto-dependency configuration does not use standard cmake facilities to find include and library for CUPTI but instead hardcodes a few paths. This means that as soon as the file location differs from what is hardcoded, finding cupti fails. This can happen when CUPTI is actually present and is even detected by the general cuda dependency.
(For obscure reason I have arch triples in t

[2021-04-25 18:29] hypnopump opened #56891 "Batched SVD_LOWRANK being much slower than loop implementation (both CPU and GPU)"
## Issue description

I've found the `torch.svd_lowrank` to be up to 2x slower in CPU and GPU for the batched implementation when compared to a loop implementation.

I guess if then the bacthed implemenation could be turned into a loop one so it is faster.

**Note**: i have found batched and loop implementations to be on par for low matrix sizes (n<2000 for n x n matrices), but very different for

[2021-04-25 18:52] gulsmyigit commented on #56882
I have a similar issue when I run the following colab notebook.
[https://colab.research.google.com/github/patil-suraj/exploring-T5/blob/master/T5_on_TPU.ipynb#scrollTo=knpacarPX2AN](url)

[2021-04-25 19:17] david-wahlberg commented on #44814
Hi again @peterjc123 , and thanks for the pointers!
The build I had running failed again with that intermittent error, so now I'm starting fresh instead by just running the following commands:

cmake -GNinja -DCMAKE_INSTALL_PREFIX=C:/Users/User/pytorch180_cuda101_static -DFBGEMM_STATIC=1 -DBUILD_CAFFE2_MOBILE=OFF -DCAFFE2_USE_MSVC_STATIC_RUNTIME=ON -DMSVC_Z7_OVERRIDE=OFF -DBUILD_SHARED_LIBS=OFF -D

[2021-04-25 20:34] david-wahlberg commented on #44814
That build failed with the following error:
FAILED: lib/torch_cpu.lib
cmd.exe /C "cd . && C:\PROGRA~2\MICROS~2\2019\COMMUN~1\VC\Tools\MSVC\1428~1.293\bin\Hostx64\x64\lib.exe /nologo /machine:x64 /ignore:4049 /ignore:4217 /NODEFAULTLIB:vcompd /out:lib\torch_cpu.lib @CMakeFiles\torch_cpu.rsp  && cd ."
lib\torch_cpu.lib : fatal error LNK1248: image size (1003C8355) exceeds maximum allowable size (FFF

[2021-04-25 21:25] imaginary-person commented on #56888
I faced the same issue with Python 3.9.4, but not Python 3.8.5.

[2021-04-25 22:38] imaginary-person commented on #56888
@therealjjj77, after [some googling](https://discuss.pytorch.org/t/compiling-pytorch-from-source-failed/105439/2?u=imaginary), I found that this issue happens if you're missing some `libpython` headers on your system. Can you reinstall `python` with `apt-get install python3.7-dev`?

[2021-04-25 23:28] #53633 closed

[2021-04-26 00:21] peterjc123 commented on #44814
When you use Ninja, you 'll need to pass MinSizeRel as the value to the cmake variable `CMAKE_BUILD_TYPE`.

[2021-04-26 00:53] scellat commented on #56876
Thanks for the reply. Does that mean I can only calculate the gradients when the optimizer is set to ignore those layers? I have already trained the model, is there any way to bypass that?

[2021-04-26 01:16] Benieq commented on #56061
I reproduced this problem

[2021-04-26 01:33] peterhchen commented on #30664
I tried the above commands, none of them work on my windiws-10.
Below step 1-5 are to solve in my case.
# Make sure the cuda is available (True)
# If False, we will have error. then we need to install the cuda first.
# AssertionError: Torch not compiled with CUDA enabled
# How TO: Install PyTorch (with GPU) in Window 10 (2021) by chinamatt.
# https://www.youtube.com/watch?v=eodnCUzSeTk

print('tor

[2021-04-26 02:58] cainiaoshidai commented on #56572
Sorry, I re-uploaded the log file in the first comment.
Thanks!

[2021-04-26 02:59] SsnL commented on #56876
well.. you can flip the `.requires_grad` to be true again.

[2021-04-26 03:00] IgnacioJPickering opened #56896 "masked_select is x3 slower than reshaping and index_select"
## 🐛 Bug

masked_select is about x3 slower than index select of the corresponding nonzero'ed mask
(this is true for nightly, I have not checked with stable)

## To Reproduce
[code]
On my system this takes **140.64 us** for ``masked_select``, and **57.36 us** for the equivalent ``index_select``.

If the initial sizes are different but broadcastable and "broadcast_tensors" is used before index_selec

[2021-04-26 03:07] fucker007 opened #56898 "How do I convert the quantified model to onnx or ncnn？"
## ❓ How do I convert the quantified model to onnx or ncnn？

### how to convert int8 model in pytorch to onnx.
I train a model with quantization aware train in pytorch,  however I need use quantizated model to onnx, I have tried, but normal code is not work. Any bady can help me, thanks a lot.
@eklitzke @dreiss @huitseeker @jfsantos  bug for guidance

[2021-04-26 03:10] vistart opened #56899 "PyTorch 1.9 seems to be incompatible with VC 14.28.29910. The problem lies in the `ceil` and `floor` related method calls of `cmath`."
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. Clone from source recursively.
2. Build according the instructions.

[code]

## Expected behavior

Compiled successfully.

## Environment

[code]

 - PyTorch Version (e.g., 1.0): 1.9
 - OS (e.g., Linux): Windows 10
 - How you installed PyTorch (`conda`, `pip`, source): source
 - Build command you used (if compiling from source): pytho

[2021-04-26 03:21] bing0037 commented on #43760
You need to change your default libstdc++.so.6 configuration!
[code]
Then you can try
[code]

Hope this helps!

[2021-04-26 03:40] skyline75489 commented on #56572
These lines in your log indicates some error while compiling NCCL:

[code]
Can you check if there's `gen_rules.sh` in `/media/gzm/encode/1/pytorch/build/nccl/obj/collectives/device/` ?

This error is the same as https://github.com/pytorch/pytorch/issues/43691#issuecomment-682103025 .

[2021-04-26 03:44] skyline75489 commented on #56899
Thanks for the feedback. This is a known issue, and technically not a PyTorch issue, but a CUDA issue. See #54382 for more discussions.

[2021-04-26 03:44] #56899 closed

[2021-04-26 03:50] skyline75489 commented on #56874
See also: #54382

[2021-04-26 04:13] cainiaoshidai commented on #56572
There is no `gen_rules.sh` file in this directory.

[2021-04-26 04:17] skyline75489 commented on #56572
Sorry, it should be `/home/chester/Projects/pytorch/third_party/nccl/nccl/src/collectives/device`, which matches the source repo of [NCCL](https://github.com/NVIDIA/nccl/tree/master/src/collectives/device).

[2021-04-26 04:23] cainiaoshidai commented on #56572
Thank you!
I should download the source repo of NCCL, then replace my local files and compile again, right?

[2021-04-26 04:24] skyline75489 commented on #56572
I'm not actually sure why the file is not found (or broken), but it seems to be the root cause of the error. You can give it a try.

[2021-04-26 04:26] cainiaoshidai commented on #56572
Ok, let me try. Thank you very much.

[2021-04-26 04:44] MadcowD commented on #43250
+1

[2021-04-26 05:20] cainiaoshidai commented on #56572
I replaced the complete [nccl](https://github.com/NVIDIA/nccl) library and then solved the problem. If just replace the source repo of [NCCL](https://github.com/NVIDIA/nccl/tree/master/src/collectives/device) , it won't work.
Thank you.

[2021-04-26 05:34] mruberry commented on #56233
That's great to hear! Keep letting us know what we can do to make the work compelling.

Thank you for this suggestion:

cc @jamesr66a @Chillee @suo @pritamdamania87 - maybe something to consider?

Cool!

[2021-04-26 05:48] skyline75489 commented on #56572
Glad you figured it out. I'll close this for now.

[2021-04-26 05:48] #56572 closed

[2021-04-26 05:49] suo commented on #56233
Excellent idea! A few of us (@SplitInfinity and @gmagogsfm come to mind) have been discussing the exact same thing. We have quite a few "module: bootcamp" [issues](https://github.com/pytorch/pytorch/issues?q=is%3Aopen+is%3Aissue+label%3A%22module%3A+bootcamp%22+label%3A%22oncall%3A+jit%22) that could easily be made into good starter issues!

[2021-04-26 05:52] #49046 closed

[2021-04-26 06:42] david-wahlberg commented on #44814
Ah, that makes sense and also makes it logical which I like. I got a new build running using Ninja now (the overnight one using VS also failed with that same intermittent error). I got a good feeling about this one, and it's nice that I learned something new in the process. Thanks again for helping, as you can see I'm very determined to get this working. Will update when I have a result.
Cheers, D

[2021-04-26 06:44] tugsbayasgalan commented on #56861
You need to explicitly annotate the input type of splitB function. We assume the type of any object to be Tensor if no annotations are provided. So, following example would work:

[code]

[2021-04-26 07:02] skyline75489 commented on #56882
I can easily repro this. This is the result of `readelf -d`:

[code]

The actual binary comes with `conda install mkl` has names like `libmkl_intel_lp64.so`, without the `.1` suffix.

[2021-04-26 07:07] christian-vorhemus opened #56901 "Static prebuilt libraries contain shared libraries"
## 🐛 Bug

The prebuilt static libtorch libraries for the Linux CPU 1.8.1 version only partially contain static libraries but also shared libraries (like libtorch.so or libc10.so)

## To Reproduce

1. Download the libraries using `wget https://download.pytorch.org/libtorch/cpu/libtorch-cxx11-abi-static-with-deps-1.8.0%2Bcpu.zip`
2. Unzip and cd to the lib/ directory, it contains libtorch.so or libc

[2021-04-26 07:14] mr0jue commented on #56884
Weird. I can't reproduce the bug anymore since I fixed it.
I remember that when I installed the environment where this bug occurred, the log flashed some information as if the installer did not have permission to modify the files.

[2021-04-26 07:30] krishnanNuance opened #56905 "Exporting the operator outer to ONNX opset version 13 is not supported."
## 🚀 Feature

Trying to export pytorch transformer based model to onnx. Currently the 'outer' operator is not supported.

## Pitch

The operator 'outer' should be supported for onnx exportation.

## Additional context

I am currently using,
Torch Version: 1.8.1+cu102
ONNX Version: 1.9.0
Opset version : 13

I get the following error while exporting fairseq transformer XL model to onnx

[code]

cc @

[2021-04-26 07:36] pearu commented on #56856
For the proof of the invariant, see https://github.com/pytorch/pytorch/pull/56392#discussion_r620042454

[2021-04-26 08:03] lw commented on #56244
I think this issue has been fixed in https://github.com/pytorch/pytorch/pull/56516. Could you confirm?

[2021-04-26 08:26] pearu opened #56906 "Inconsistent reporting of layout in str result of COO and CSR tensors"
## Issue description

As in title.

## Code example

When using the current master:
[code]

Notice that the CSR tensor str output does not include `layout` value.
The issue is also related to https://github.com/pytorch/pytorch/issues/56685 .

## Discussion

Following COO tensor convention, the expected result would be:
[code]
One might argue that the `layout` output is superfluous in the COO tenso

[2021-04-26 08:39] mr0jue commented on #56884
I repeated all the steps to reproduce the bug.

1. conda create -n py37 python=3.7.9
2. conda activate py37
3. conda install ipykernel
4. python -m ipykernel install --name py37 --display-name "py37"
5. pip install fuzzywuzzy==0.17.0 pytorch-pretrained-bert==0.6.2 tqdm==4.24.0 records
6. conda install pytorch torchvision torchaudio cudatoolkit=11.1 -c pytorch -c conda-forge
7. open jupyter & impor

[2021-04-26 08:49] Lezcano commented on #56788
Yeah, that sounds like a good solution.

And yes, let's discuss it in the autograd sync.

[2021-04-26 09:07] Flamefire commented on #41469
Resolved now by not running those tests on CPU anymore. See https://github.com/pytorch/pytorch/pull/45332 and https://github.com/pytorch/pytorch/pull/48429

[2021-04-26 09:07] #41469 closed

[2021-04-26 09:49] Pangoraw opened #56909 "`getattr` does not support default parameter when jitted"
## 🐛 Bug

The builtin [`getattr`](https://docs.python.org/3/library/functions.html#getattr) function has a third optional parameter called `default`, returned if the key fetched does not exist. However, the IR emitter does not support this third parameter and supports only the 2 arguments version:

https://github.com/pytorch/pytorch/blob/master/torch/csrc/jit/frontend/ir_emitter.cpp#L2858-L2859

#

[2021-04-26 09:59] #55917 closed

[2021-04-26 10:11] ghlai9665 commented on #32305
Why does histc return non-integer values? I'm getting values such as 7.6000e+01 in the array returned by `data.histc(40, 0, 10)`

[2021-04-26 10:40] matejsladek opened #56911 "[ONNX] prim::Uninitialized not supported in lower_tuples pass"
## 🐛 Bug

Currently, when there's a raised exception in model code, prim::Uninitialized is handled incorrectly in lower_tuples pass in onnx exporter.

## To Reproduce

Error:
[code]

Code to reproduce:
[code]

## Expected behavior

Export onnx model without runtime error.

## Environment

 - PyTorch Version: PyTorch version: 1.8.1+cu111
 - OS: Ubuntu 20.04.1 LTS (x86_64)
 - How you installed PyTor

[2021-04-26 10:57] therealjjj77 commented on #56888
Capital. That worked. Thanks!

On Mon, Apr 26, 2021 at 5:38 AM Winston Smith ***@***.***>
wrote:

[2021-04-26 11:03] nikitaved commented on #56683
Interestingly, `kl_div` does not have such an issue with forward. The difference is that `binary_cross_entropy` calls to `torch._C.nn.binary_cross_entropy` while `kl_div`, having the same code in `torch.nn` calls to` torch.kl_div` implementation.
@albanD , is it something expected? Shall we replace the direct call to the Cpp implementation with a `torch.` wrapper?

[2021-04-26 11:14] Liangerty opened #56913 "Compiling Libtorch in Vs 2019？"
I've installed libtorch to help me run the model trained in my C++ code. But when I open a project just to try the library, the compilation breaks down. I wrote nothing in main function, the code is as follows:
`#include<torch/script.h>
int main() {}`
it reports several errors.
`1>C:\Program Files\Libtorch\Release\include\c10/util/ArrayRef.h(149): error : variable in constexpr function does not ha

[2021-04-26 11:24] kshitij12345 commented on #53237
And it strikes back :(

Reference: https://app.circleci.com/pipelines/github/pytorch/pytorch/309929/workflows/7b2d6f4e-0ae9-4dfd-9328-12ed0e81254a/jobs/12835250/steps

Reference PR: https://github.com/pytorch/pytorch/pull/56910

[2021-04-26 11:25] matejsladek opened #56914 "[ONNX] Problem with tuples in for loop in lower_tuples pass"
## 🐛 Bug

Error happening when we use tuple construction in loop and we don't use variable from for loop.

## To Reproduce
Error
[code]
Code to reproduce
[code]

## Expected behavior

Export onnx model without runtime error.

## Environment

- PyTorch version: 1.8.1+cu111
- OS: Ubuntu 20.04.1 LTS (x86_64)
- How you installed PyTorch: pip
- Python version: 3.8 (64-bit runtime)
- CUDA/cuDNN version:

[2021-04-26 11:45] nikitaved commented on #56683
The same issue is present for `soft_margin_loss` for which derivative for `target` is not specified.
Marking `target` as non-differentiable solves the problem. The solution is just to simply implement the gradients.

[2021-04-26 11:50] vadimkantorov commented on #56683
But why does the forward problem appear? Maybe more functions have the same problem?

[2021-04-26 11:55] roytseng-tw commented on #37883
Is this functionality supported now?

[2021-04-26 12:06] kkoutini commented on #34257
Hi, any updated on the fix?
I use iterative pruning, and this bug results in keeping track of all the masks' history.  I run out of gpu memory after some iterations.

my use case is simple: call `prune.global_unstructured` iteratively. where `custom_from_mask(module, name, param_mask)` is getting called for each module.

This will create a hook of `CustomFromMask` in the first call with an attribu

[2021-04-26 12:19] lw commented on #56777
@AntMorais Thanks for the info, indeed you have kernel 3.10, which doesn't have that feature we're using. I'm glad though that the fix I suggested managed to unblock you. The new error you're getting seems unrelated, so I'd suggest to open a new issue. At first glance, it could be due to the compiler running out-of-memory and thus getting killed. You could consider lowering the build parallelism.

[2021-04-26 12:34] bbhxwl opened #56917 "Could not find a version that satisfies the requirement torch==1.8.1+cu102"
C:\Users\47013>pip3 install torch==1.8.1+cu102 torchvision==0.9.1+cu102 torchaudio===0.8.1 -f https://download.pytorch.org/whl/torch_stable.html
DEPRECATION: Python 3.5 reached the end of its life on September 13th, 2020. Please upgrade your Python as Python 3.5 is no longer maintained. pip 21.0 will drop support for Python 3.5 in January 2021. pip 21.0 will remove support for this functionality.

[2021-04-26 12:57] lw commented on #56417
It's easier said than done ;)

I see there is a `USE_RPC` flag in our CMake files but it appears it's only there to disable RPC on Windows:
https://github.com/pytorch/pytorch/blob/b3f56ec0e01b8252d117afe6afa58d3db9e05130/caffe2/CMakeLists.txt#L1184
https://github.com/pytorch/pytorch/blob/b3f56ec0e01b8252d117afe6afa58d3db9e05130/torch/CMakeLists.txt#L263

Hence it's not possible for the user to con

[2021-04-26 12:59] iamlockelightning commented on #9811
in pytorch 1.8. same warning.

[2021-04-26 13:29] amine0110 commented on #1204
Hello everyone,

I have also the same error but in my case, I am doing volume medical image segmentation, is there any solution, please?

`RuntimeError: CUDA error: device-side assert triggered`

[2021-04-26 13:36] #56874 closed

[2021-04-26 13:36] mgoliyad1 commented on #56874
@peterjc123 Thanks a lot! I have downgraded to 16.7 and build worked.

[2021-04-26 14:04] scellat commented on #56876
I had already tried that but that returns None for the gradients:/. Anyhow, thanks for the reply

[2021-04-26 14:06] #56876 closed

[2021-04-26 14:13] ezyang commented on #55374
Sorry, I should have clarified why I jumped to this conclusion.

Consistency at the cost of doing the right thing is not good. Today, there is ~no reason why a user would want to run CPU autocasting via half precision due to lack of current silicon. At some point in the future this won't be true, but in the meantime, you've setup an extremely attractive nuisance for people who just wanna say `torc

[2021-04-26 14:20] sven-ds commented on #41412
Thank you for implementing this - I'm right now building your branch! Did you guys already choose a target release for this feature?

[2021-04-26 14:40] skyline75489 commented on #56913
Are you using CMake? Also are you using C++14? You need to provide more information for us to help you.

[2021-04-26 14:42] skyline75489 commented on #56917
Unfortunately there's not `torch==1.8.1+cu102` for Python 3.5. You need at least Python 3.6.

[2021-04-26 14:43] ParadoxRobotics opened #56919 "Libtorch code integration failed with error "version `GOMP_4.5' not found""
## 🐛 Bug

We are currently deploying a Faster-RCNN model trained using Detectron2 in C++ code.
Our code use the following libraries :
[code]
Unfortenately after compilling the .cpp code (without any problem); I get the following error message at execution :
[code]
Libtorch seems to interfer with the PCL Library.
Here is the CmakeFile I use to build my program :
[code]

## To Reproduce
My program i

[2021-04-26 14:44] tgalery commented on #47039
Hi there, I've been experiencing a similar issue with an RTX 3060 TI. I'm using ubuntu 20.04 on wsl. I've installed cuda 11.2 and cudnn 8.2. I've built pytorch from scratch to see if it would alleviate the problem and essentially I get the following results:

[code]

This seems dog slow, no ?

[2021-04-26 14:53] rfeinman opened #56920 "[feature request] incomplete cholesky factorization"
## 🚀 Feature
I would love to see an implementation of the _incomplete Cholesky_ factorization.

## Motivation

The incomplete Cholesky factorization has proved useful in a wide number of ML problems, especially those related to optimization (Nocedal and Wright, 2006). It's particularly useful as a preconditioner for iterative algorithms like conjugate gradient and Lanczos.

LAPACK's _potrf_ return

[2021-04-26 14:58] wangkuiyi commented on #55981
+1 with this idea.

@jbschlosser reminded me of this post when I asked for the same embedding https://gist.github.com/wangkuiyi/dd2e3794d11010f0cd562ed009664f90.

This is not only useful for NLP, but also recommendation and ad systems.

TensorFlow had a distributed version of this dynamic embedding feature in 2020 for recommendation systems https://github.com/tensorflow/community/blob/a4542d13baaa

[2021-04-26 15:11] ezyang commented on #56771
https://www.tensorflow.org/guide/gpu should be enough to get you going

[2021-04-26 15:19] psinger commented on #56771
How to move tensors between GPUs though? I can only find how to create them on different GPUs.

[2021-04-26 15:20] #56917 closed

[2021-04-26 15:25] ezyang opened #56921 "torch.multiprocessing implement SyncManager"
per https://github.com/pytorch/pytorch/issues/56480#issuecomment-826216912

[2021-04-26 15:25] ezyang commented on #56480
ok filed an issue for this https://github.com/pytorch/pytorch/issues/56921

[2021-04-26 15:31] eellison commented on #55603
@jaidee-coder007 do you mind trying this on master ? I recently landed a PR that might help.

[2021-04-26 15:31] IvanYashchuk commented on #56920
Hi @rfeinman, thank you for filing this feature request! There is an ongoing PR https://github.com/pytorch/pytorch/pull/56724 that adds a variant that allows suppressing the error check.

[2021-04-26 15:34] ezyang commented on #56480
Do you really need a priority queue here?

[2021-04-26 15:44] njneeteson opened #56922 "Segmentation fault in backwards step with 3D U-Net on CPU with large input tensor, not OOM"
## 🐛 Bug

I get a segmentation fault during the backward step with a standard 3D U-Net on the CPU with large images (tensor size >= (1,1,360,360,360)).

## To Reproduce

Steps to reproduce the behavior:

1. Save the below code as a script and run on a machine with at least 120 GB of free RAM and in an environment with just PyTorch (and dependencies) installed.

`

    import torch
    import torch

[2021-04-26 15:55] nailimixaM commented on #56833
I believe the answer is in the [docs](https://pytorch.org/docs/stable/generated/torch.lstsq.html):

In short, for mxn tensor A and mx1 tensor b, the returned tensor is max(m, n) x 1. For m>n as in your case, the first n elements of the returned tensor are what you expect, and the last m-n elements are the residual copied m-n times.

Code:
[code]

[2021-04-26 16:17] ngimel commented on #55374
The end state should be op-allow-list based on some convergence tests, but allow lists can be different for bf16 and fp16.
There are some papers from couple years back claiming convergence with bfloat16 more or less out of the box (fp32 master parameters are still required iirc), at least for cv models.

[2021-04-26 16:20] antocuni commented on #56544
what about providing an `assert_equal` which works *only* for integer types? I.e. if you try to call it with floats you get an error which suggests to use `assert_close` instead. If you *really, really* want to compare floats by strict equality, `assert_close(rtol=0, atol=0)` would probably be good enough, IMHO.

Also, I don't know if I am still on time to propose changes to the name or if it's to

[2021-04-26 16:33] ngimel commented on #56771
@psinger can you please try if adding
[code]
after
[code]
fixes the error?

[2021-04-26 16:43] psinger commented on #56771
@ngimel no it does not change anything

[2021-04-26 16:45] jbschlosser commented on #56462
Behavior on master requires `lengths` to be a CPU tensor:
[code]
[code]

From the 1.7.0 release notes:
"**the torch.nn.utils.pack_padded_sequence: remove hidden cross-device copy for lengths (#41984)**
In previous versions, when the lengths argument was a CUDA tensor, it would incorrectly be moved to the CPU silently.
This can lead to surprising performances and CPU/GPU sync when using CUDA so thi

[2021-04-26 16:45] #56760 closed

[2021-04-26 16:52] malfet commented on #40941
Bumping the priority, as it started happening recently with the following pattern:
[code]

[2021-04-26 16:52] #24569 closed

[2021-04-26 17:04] ngimel commented on #56325
Fixed in #56304

[2021-04-26 17:04] #56325 closed

[2021-04-26 17:06] #56884 closed

[2021-04-26 17:09] #56462 closed

[2021-04-26 17:16] ezyang commented on #55953
@ailzhang also suggests we should document when behavior changed in prev releases!

[2021-04-26 17:18] ezyang commented on #56356
cc @rgommers

[2021-04-26 17:18] malfet commented on #40941
For some reason, the flaky is intermittent and is not reproducible during re-runs

[2021-04-26 17:19] #5059 closed

[2021-04-26 17:19] ezyang commented on #56654
Current status: we're on a temporary release (but will get broken again soon), there's a fundamental issue that CircleCI needs to address

[2021-04-26 17:22] ezyang commented on #56187
@malfet suggests that we might want to just kill AVX (no suffix), since most reasonable users will have AVX2.

[2021-04-26 17:23] ezyang commented on #56747
@ngimel says this looks like a static linking problem again; since it works with conda (not statically linked) but pip (statically linked).

[2021-04-26 17:24] ezyang opened #56926 "CUDA 11 tracking issue"
* https://github.com/pytorch/pytorch/issues/56747 Matrix multiply broken

[2021-04-26 17:48] rfeinman commented on #56920
@IvanYashchuk Thank you - this looks like just what I was hoping for!

[2021-04-26 17:48] ngimel commented on #56926
cc @ptrblck

[2021-04-26 17:52] yamanahlawat opened #56928 "torch-1.8.1 wheel verification fails with distilib"
## 🐛 Bug
Torch 1.8.1 wheel verification fails.
- I assume that there is something wrong with this wheel file. It can't pass the `distlib.wheel.Wheel("./torch-1.8.1-cp38-cp38-manylinux1_x86_64.whl").verify()` but can be installed via pip directly.
- I checked the source code of pip. It has `distlib` package in its vendor but doesn't use it for wheel verification, which is why pip can install it suc

[2021-04-26 17:53] ansley commented on #41412
@sven-ds We hope to have it out in 1.9! Please note that the current Union PR we have up has not been through a full code review. It should be fine to build the branch if you want to experiment, but there may be some small errors

[2021-04-26 18:23] spandantiwari commented on #51851
We have just added a new op in ONNX called `trilu` in opset 14 which will be included in the latest release. Once it is available we will add support for it as we enable Opset 14.

[2021-04-26 18:23] tugsbayasgalan opened #56935 "Backward hook is not registered for traced modules"
## 🐛 Bug

Internal user tried to register backward hook on module parameter but seems like it works on eager mode while failing on traced mode.

## To Reproduce

[code]

Following snippet returns:

[code]

## Expected behavior

The results should match

cc @gmagogsfm

[2021-04-26 18:24] spandantiwari commented on #56061
This is duplicate of https://github.com/pytorch/pytorch/issues/51851. I will close this one. Let's track this enhancement request on that issue. Thanks!

[2021-04-26 18:24] #56061 closed

[2021-04-26 18:25] oke-aditya commented on #56382
Hello @vadimkantorov
This was issued due to Sphinx 3.x. This has been fixed over torchvision master by downgrading Sphinx to 2.4.4. Documentations are fine now!

@vadimkantorov rendering is not unified, for each domain library text, vision and audio docs are built and deployed over GitHub pages from their respective repos!

Feel free to close this as it is fixed!

[2021-04-26 18:26] pritamdamania87 commented on #56233
We do have a bunch of starter issues for Distributed [here](https://github.com/pytorch/pytorch/issues?q=is%3Aopen+is%3Aissue+label%3Apt_distributed_rampup+) and [here](https://github.com/pytorch/pytorch/issues?q=is%3Aopen+is%3Aissue+label%3A%22module%3A+bootcamp%22+label%3A%22oncall%3A+distributed%22).

[2021-04-26 18:27] spandantiwari commented on #51851
Doing some issue consolidation here. There's an older issue tracking the support for `triu` and this is a duplicate of that: https://github.com/pytorch/pytorch/issues/32968.

Closing this one now. Let's track this request in that issue.

[2021-04-26 18:27] #51851 closed

[2021-04-26 18:27] spandantiwari commented on #32968
Keeping this as the main issue for tracking `triu` support work.

We have just added a new op in ONNX called trilu in opset 14 which will be included in the latest release. Once it is available we will add support for it as we enable Opset 14.

[2021-04-26 18:27] walterddr commented on #40941
I checked some recent failures and they all seem to have some sort of error on sccache.

Since file hasn't been changed for more than half a year. I was wondering if sccache hid this bug for us?

See recent failure logs like: https://circleci.com/api/v1.1/project/github/pytorch/pytorch/12839164/output/107/0?file=true&allocation-id=6086d84fcd891a6c772b88d5-0-build%2F40DDC13C

[2021-04-26 18:28] Lilyjjo commented on #56935
I commented on the internal post; JIT doesn't have support for backward hooks. See this issue for tracking: https://github.com/pytorch/pytorch/issues/34329

[2021-04-26 18:28] #56935 closed

[2021-04-26 18:29] spandantiwari commented on #25838
This is a duplicate of https://github.com/pytorch/pytorch/issues/32968. Closing this one now. Let's track the `triu` support work on this other issue: https://github.com/pytorch/pytorch/issues/32968.

[2021-04-26 18:29] #25838 closed

[2021-04-26 18:30] mlizhardy commented on #56833
thank you!

[2021-04-26 18:30] #56833 closed

[2021-04-26 18:35] neginraoof commented on #56911
Hi @matejsladek
Thanks for reporting this. We know of an existing issue with lower_tuple pass, and we are planning the work here.
To help us prioritize this work, would you let us know if this is blocking any specific model for conversion to ONNX?

[2021-04-26 18:36] ngimel commented on #56632
We should avoid wrapping Tensor arguments in TensorArg for perf reasons (this bumps ref count), and all the mentioned functions act on TensorArgs.

[2021-04-26 18:36] neginraoof commented on #56914
Hi @matejsladek
Thanks for reporting this. We know of an existing issue with lower_tuple pass, and we are planning the work here.
To help us prioritize this work, would you let us know if this is blocking any specific model for conversion to ONNX?

[2021-04-26 18:38] jerryzh168 opened #56938 "remove the dependence on node names in fx graph mode quant"
Currently we are using node names in node_to_scope map: https://github.com/pytorch/pytorch/blob/master/torch/quantization/quantize_fx.py#L114, ideally we should remove this dependency.

[2021-04-26 18:41] ilia-cher commented on #56690
@rohan-varma this is the one that tests profiler over rpc? as discussed we'll remove this functionality, just to confirm

[2021-04-26 18:45] vadimkantorov commented on #56382
Just before closing, is the issue reported to Sphinx? So that rendering doesn't degrade again when you try upgrading Sphinx again...

[2021-04-26 18:47] kommons commented on #27902
@suo Has there been any progress on this?

[2021-04-26 18:51] edgarriba commented on #41412
keep the work up guys - union type is one of our missing pokemons to torchscript augmentations in kornia :)

[2021-04-26 18:52] oke-aditya commented on #56382
Yes it is related to Sphinx. The PyTorch theme is not fully compatibly with Sphinx 3.x and hence the issue.

For more details see t[orchvision issue ](https://github.com/pytorch/vision/issues/3681)

Also Sphinx 3.x compatibility is opened with theme repo too. [Here](https://github.com/pytorch/pytorch_sphinx_theme/issues/115) is the ticket.

Thank you for reporting @vadimkantorov

[2021-04-26 18:52] RajivKurian opened #56940 "Bazel build documentation"
## 📚 Bazel build documentation

My personal experience so far:
I was able to build the torch target. I used the command ``bazel build --sandbox_debug //:torch`. It looks like I need python2 and python2-dev packages on Linux to build the torch target. I also needed to install typing_extensions (I did so via `pip3 install typing_extensions`) to get the Bazel torch target to build.

If I instead (of

[2021-04-26 18:54] #56382 closed

[2021-04-26 18:56] walterddr commented on #40941
Also it doesn't happen to libtorch builds at all

[2021-04-26 19:06] limo1996 commented on #56187
Makes sense to me. I currently don't see a reason for having `CPU_CAPABILITY_AVX` as it's always used in `or` with `CPU_CAPABILITY_AVX2`.

[2021-04-26 19:21] nikitaved commented on #56683
@albanD , I have done some experiments to see how autograd handles multiple input with only partial gradient implementation for a subset of these inputs. The changes that I introduced could be seen here: https://github.com/pytorch/pytorch/pull/56944,
and the result is as follows:

[code]
So, we can indeed see the failure in forward in this case, and once we use the `non_differentiable` key work, a

[2021-04-26 19:24] malfet commented on #40941
Have a stable repro:
[code]

[2021-04-26 19:25] tugsbayasgalan commented on #56595
I can see that both enable_grad() and set_enabled_grad(bool) decorators are already implemented as context manager (https://github.com/pytorch/pytorch/blob/63997db6ec00d0cf60b30b1a6ff5e9d1bcf4b22a/torch/autograd/grad_mode.py#L127 and https://github.com/pytorch/pytorch/blob/63997db6ec00d0cf60b30b1a6ff5e9d1bcf4b22a/torch/autograd/grad_mode.py#L166). And we see that we don't check for set_enabled or

[2021-04-26 19:31] #56632 closed

[2021-04-26 19:31] SabbirAhmedAdor629 commented on #55577
Hi, I want to work on this. Is it still available

[2021-04-26 19:45] rohan-varma commented on #56690
@ilia-cher This particular test is actually different, it tests torch.distributed p2p APIs are profiled, it doesn't involve enabling the profiler remotely. The tests for that are in `rpc_test.py`.

[2021-04-26 19:46] Dimitri1 commented on #56873
I think that I have my answer.What you call **ConvTranspose2d** is actually a generalisation of mathematical deconvolution (1d), in multi channel 4d nxmxhxw  way.

So why don't call it "deconvolution 2d" or something? ConvTranspose2s is really confusing.

[2021-04-26 19:50] JuriAbramov commented on #56694
Unfortunately I cannot repro the issue in isolation either, and the whole model is proprietary and too complex.
Any idea is there are some attributes to the tensor beyond shape / stride / dtype / device?

In my case, I also see first a few hundred of issues in torch.cat like one below, and they are gone with with contiguous() call added.

========= CUDA-MEMCHECK
========= Invalid __global__ read o

[2021-04-26 20:01] suo commented on #27902
Hm, I thought our profiling executor should be smarter about sharing profiling and optimization info between threads. @gmagogsfm, @Krovatkin, @ZolotukhinM any commentary on this?

[2021-04-26 20:10] soulitzer commented on #56008
I have this (same?) issue on cuda11.1.
[code]
Removing the "$CUDA_HOME/lib64/stubs" directory does not resolve the issue for me though.

[2021-04-26 20:35] malfet commented on #40941
For some reason, this rings a huge bell, because is very similar to https://bugs.launchpad.net/ubuntu/+source/gcc-7/+bug/1917830
[code]

[2021-04-26 20:44] rgommers commented on #56356
This makes sense to me. Having some consistent rules for which categories of functions support type promotion will be quite useful.

As for whether it's useful at all, or worth the cost, for other sets of functions may be possible to measure. As a quick experiment, I inserted:
[code]
into the numpy `stack`, `hstack`, `vstack` functions and ran the SciPy test suite to see what fails and how. Got 81

[2021-04-26 20:45] Krovatkin commented on #27902
@suo we should, AFAIK. The profiling information is associated with a model (or rather with the GraphExecutor instance of the forward method of the model). It shouldn't matter which thread a model is run on as long as it has been warmed up. However, if we start an unprofiled/unwarmed model on N threads, N-Y (where Y is the number of profiling runs) profiling runs will be wasted and then the thread

[2021-04-26 21:06] albanD commented on #56683
Thanks for looking into this!

So the point is that if nothing is specified in derivatives.yaml, that argument cannot have requires_grad=True.

This is most likely an issue with the function that should raise an error doing something wrong.
I guess missing the proper calls to `set_input_metadata` when being created here: https://github.com/pytorch/pytorch/blob/e1a7ec3c4f925670bb1adcb52beec27ca8d2c

[2021-04-26 21:11] tugsbayasgalan commented on #56660
Can you change it to torch.tensor and try again?

[2021-04-26 21:19] tugsbayasgalan commented on #56576
Here is the other one: https://download.pytorch.org/libtorch/cpu/libtorch-shared-with-deps-1.8.1%2Bcpu.zip. Can you try using this?

[2021-04-26 21:28] tugsbayasgalan commented on #56768
Hi @VoVAllen, you can do following:
[code]

[2021-04-26 21:47] pearu opened #56959 "Inefficient conversion between COO and CSR formats"
## Issue description

The efficient conversion between COO and CSR formats is important because constructing a sparse tensor is simplest when using COO format while many linear algebra operations involving matrix multiplications are considerably more efficient when using CSR format.

In theory, conversion between (2D coalesced) COO and CSR formats involves only the compression or decompression of

[2021-04-26 22:27] #56699 closed

[2021-04-26 22:43] skyline75489 commented on #56913
I think PyTorch never really supports ICC. The only compiler supported on Windows is MSVC and the code is C++14 at the moment.

[2021-04-26 22:54] pritamdamania87 commented on #56390
@ezyang We do check the exit code of workers and fail the test. If you look at `test_DistributedDataParallel_non_default_stream` in the log it fails with the exact same issue and is reported as an error. I'm not sure why `test_all_reduce_sum_cuda` is flagged as passing. Do you have a way of reproducing this issue?

[2021-04-26 22:59] notsimon commented on #41674
Hi there,
I came across the same issue while testing out CoreML, but this time on `nn.LSTM`. I'm not sure I understand what you meant @suo.

As I said, I'm going through `coremltools.convert` but it ends up calling `_jit_pass_lower_graph`:
[code]

Full error:
[code]

[2021-04-26 23:08] pritamdamania87 commented on #56389
What is happening here is that `test/run_test.py` runs tests for all backends (nccl, gloo and test) and in this case this particular test doesn't run for the "test" backend. The workaround I posted above should work for debugging.

[2021-04-26 23:08] #56389 closed

[2021-04-26 23:41] eellison opened #56969 "[JIT / NNC] Incomplete Coverage of Activations"
## 🐛 Bug

We have run into internal and external models which are missing fusion opportunities because we a) don't support all activations in autodiff and b) don't support all activations in NNC. These are very easy to add and important for generating fusions.

[List of Pointwise Activations](https://pytorch.org/docs/stable/nn.html#non-linear-activations-weighted-sum-nonlinearity):

Symbolic Scrip

[2021-04-26 23:46] eellison commented on #56969
cc @desertfire hardsigmoid/hardtanh

[2021-04-27 00:20] kurtamohler commented on #49998
This issue was fixed by #51317, apparently I didn't link it to auto close.

[2021-04-27 00:20] #49998 closed

[2021-04-27 00:37] ngimel commented on #54282
cc @ezyang for Meta test failure

[2021-04-27 01:05] jerryzh168 commented on #56331
closing this for now since I saw this in discussion forums as well, cc @z-a-f @dskhudia please take a look at https://discuss.pytorch.org/t/the-result-of-quantized-conv2d-is-different-from-the-manual-calculation/118527/2

[2021-04-27 01:05] #56331 closed

[2021-04-27 01:08] jerryzh168 commented on #56848
yeah this is not supported currently, are you using eager mode quantization? I think you can put quant after the tuple is unpacked.

[2021-04-27 01:08] jerryzh168 commented on #56848
Also please use discussion forum for questions: https://discuss.pytorch.org/c/quantization/17

[2021-04-27 01:09] jerryzh168 commented on #56262
cc @z-a-f

[2021-04-27 01:15] jerryzh168 commented on #56028
yes we can but it might not get the same numerics, since fbgemm has some restrictions and you'll find we have reduce_range=True for fbgemm: https://github.com/pytorch/pytorch/blob/master/torch/quantization/qconfig.py#L98

also please use discussion forums for questions

[2021-04-27 01:15] #56028 closed

[2021-04-27 01:15] jerryzh168 commented on #56108
thanks, is this fixed now?

[2021-04-27 01:21] jerryzh168 commented on #55387
do we have a use case for this? we have fp16 as a quantization target type as well, it might be a bit confusing for us to support both in quntize_per_tensor actually.

[2021-04-27 01:30] jerryzh168 commented on #55769
we typically use `quint8` for activations and `qint8` for weights.

[2021-04-27 01:31] jerryzh168 commented on #55769
also please use discussion forums for questions: https://discuss.pytorch.org/c/quantization/17

[2021-04-27 01:31] #55769 closed

[2021-04-27 01:57] ardeal opened #56971 "why is the object of loss class callable?"
Hi,

as I know, if the object of the class python is callable,  <code>\_\_call\_\_</code> function should be implemented in the class. however, in loss class of pytorch, I did see the implementation of <code>\_\_call\_\_</code>

for example:
[code]

[2021-04-27 02:09] #48141 closed

[2021-04-27 02:19] LeopoldACC commented on #56848
This problem has been solved,I find that the reason is that LSTM is not support by torch quantization but the white list include the LSTM,thus I manually removed the torch.nn.LSTM from the white list and it run without problem.@jerryzh168

[2021-04-27 02:21] SsnL opened #56975 "scatter does not accept scalar src="
## 🐛 Bug

Doc claims that `Tensor.scatter` accepts `src=` but it actually doesn't when that is a scalar
[code]

[2021-04-27 02:48] imaginary-person commented on #56187
@ezyang, I remember someone having posted an issue last month, in which they mentioned they were using an old Xeon server for production, that didn't have AVX2! There might be more such users, so maybe a deprecation notice can be provided for the benefit of such users now, perhaps via a sticky post, and then a brief mention in the release notes upon release?

[2021-04-27 02:52] ezyang commented on #56582
Alright, that explains it (although it doesn't save other people from being puzzled by this in the future)

[2021-04-27 02:52] #56582 closed

[2021-04-27 02:55] ezyang commented on #54282
This is because fork_rng only understands CUDA. CPU seems to manually stubbed in the prologue. Bandaid fix is easy but real fix is to fix the test and/or fork_rng.

[2021-04-27 03:05] #54684 closed

[2021-04-27 03:06] raghuramank100 opened #56978 "Do padding of weight and activation tensors to match optimized backend implementation"
Quantized backends (and fp32 backends possibly) have magic numbers for lengths of weights and activations. For example, conv and linear kernels work well when the number of input/output channels is a multiple of 8. Automating this process can give a speedup of upto 8x for FBGEMM CPU implementations. This needs to be backend specific.

[2021-04-27 03:06] raghuramank100 commented on #56978
cc @dskhudia

[2021-04-27 03:07] ezyang commented on #56187
#54684, you mean?

TBH, the user in question didn't even care about perf, it was a reproducibility problem. But sure, I made a post to https://dev-discuss.pytorch.org/t/dropping-avx-support-avx2-only/202

[2021-04-27 03:09] iblahimovic opened #56979 "apex-0.1-py3.6-linux-x86_64.egg/apex/amp/wrap.py", line 28, in wrapper return orig_fn(*new_args, **kwargs) RuntimeError: CUDA error: an illegal memory access was encountered"
hi everyone,

I met a strange illegal memory access error. It happens randomly. I don't think there is anything wrong in the code.
I was training on 4 GPUs(tesla v100), pytorch 1.6, at the same time I was training with mixed precise by using apex.
the error looks like the following error information：

`File "train.py", line 132, in finetune
    dev_score, dev_output = evaluate(args, model, dev_fea

[2021-04-27 03:16] imaginary-person commented on #56187
Thank you, @ezyang! That's the one. They weren't concerned about performance, but they mentioned that the server not having AVX2 was of a cloud computing platform. So, I thought such users might suddenly encounter perf problems with a newer PyTorch release, if they'd continue using old machines.

[2021-04-27 03:21] #56848 closed

[2021-04-27 03:38] #56971 closed

[2021-04-27 03:46] pvsnp9 opened #56983 "one of the variables needed for gradient computation has been modified by an inplace operation: [torch.FloatTensor [2, 2]] is at version 1; expected version 0 instead?"
I did use the  with torch.autograd.detect_anomaly, and received the error in following line of code

    h_tilde = torch.tanh(torch.matmul(sequence, Wh) + torch.matmul((r*h), Uh) + bh)

I have simplest GRU.

     def gru(x, h):

      outputs = []

      for sequence in x: # iterates over the sequences in each batch
          z = torch.sigmoid(torch.matmul(sequence, Wz) + torch.matmul(h, Uz) + bz)

[2021-04-27 04:08] Ex-Origin commented on #23233
Same as above.

[https://github.com/Ex-Origin/pytorch-aarch64-builds](https://github.com/Ex-Origin/pytorch-aarch64-builds)

[2021-04-27 04:16] eqy commented on #55768
FWIW I think this is not just a bug with `manual_seed`, but also in other generator functions. On upstream I see increasing memory usage with `torch.seed()` as well.

[2021-04-27 04:52] ardeal opened #56990 "how module's __call__ function call the forward function of subclass?"
Hi,

The following function \_call_impl is copied from module.py file.

I couldn't understand how this function get the forward function of subclass. what is the syntax or machanism?

I do notice that there are  a few function named 'register_xxx', however, I don't see where those 'register_xxx' functions are called.

[code]

[2021-04-27 05:05] imaginary-person commented on #56187
@VitalyFedyunin @limo1996

I think that a cleaner way to have a single namespace `vec` is:

1. Creating `aten/src/ATen/cpu/vec` with subdirectories `vec256` and `vec512`.
2. Renaming the `vec256` namespace to `vec`. The files in `vec512` directory would also have `vec` namespace.
3. Renaming `Vec256` (and `Vec512`) to a common name, say `Vec`, and then replacing `Vec256` with `Vec` everywhere in t

[2021-04-27 05:07] Liangerty commented on #56913
Yes, that's it! Thank you so much! Just turn the compiler into MSVC with C++14 and it works!

[2021-04-27 05:08] #56913 closed

[2021-04-27 05:14] naykun commented on #22259
Same issue with Python 3.7.5, torch 1.8.0, NV Driver 450.80 and CUDA 11.0. This problem is 100% reproducible in my experiments.
![image](https://user-images.githubusercontent.com/20919663/116188291-c3923900-a759-11eb-93aa-a46e8dfeb3fe.png)

I'm pleased to cooperate with pytorch team to locate and solve this problem.

[2021-04-27 06:12] imaginary-person commented on #56187
As of now, my suggestion would only work for the separate compile option. 😞

[2021-04-27 06:18] gmagogsfm commented on #12817
This looks like a bug (incorrect input size) in repro code, instead of a `trace` issue. Closing.

[2021-04-27 06:18] #12817 closed

[2021-04-27 06:22] #56861 closed

[2021-04-27 07:39] ppwwyyxx opened #56998 "Empty channel support in convolution"
## 🚀 Feature
Convolution ops now support batch_size=0 (#12013). We'd like to let convolution ops support inputs/weights with channel=0.

## Motivation

We've encountered such a situation in detection research, where the #channels is dynamically generated per iteration (and could be 0). We have to workaround it with matmul instead:
[code]

In the above code, `f2` and `f1` are equivalent except that

[2021-04-27 08:23] tugsbayasgalan commented on #56660
@iramazanli Is this resolved? I see you skipped the test for torch.float using SkipInfo.

[2021-04-27 08:32] vadimkantorov commented on #5405
@zou3519 let's reopen this issue?

[2021-04-27 08:32] vadimkantorov commented on #56975
Related: v

[2021-04-27 08:32] simonesneault opened #57001 "torch_cpu.dll is very big : 197 MB. Is it possible to reduce its size ?"
Hello,
Currently when downloading libtorch 1.8.1 (libtorch-win-shared-with-deps-1.8.1+cpu.zip), torch_cpu.dll is about 197 MB which is quite huge.

I've tried to build libtorch from scratch, without coffee2 It is possible to save some MB but most of the size comes from MKL (100 MB from my test)

Is it possible to reduce the size of the library without loosing performances ?

Thanks

cc @ezyang @se

[2021-04-27 08:45] SsnL commented on #56975
:) I guess this issue is a bit different because I am mainly comparing about the inconsistent src= and value=.

[2021-04-27 08:47] SsnL commented on #56990
hmm via `forward_call = (self._slow_forward if torch._C._get_tracing_state() else self.forward)`?

[2021-04-27 09:02] skyline75489 commented on #57001
For the record, on Linux `libtorch_cpu.so` takes ~340MB.

[2021-04-27 09:06] kshitij12345 commented on #53237
For following entry,
https://github.com/pytorch/pytorch/blob/1145e2c6e238058d0f4a87e90db95c22a9dc2a87/torch/testing/_internal/common_methods_invocations.py#L5715

Depending on the random state,
https://github.com/pytorch/pytorch/blob/1145e2c6e238058d0f4a87e90db95c22a9dc2a87/torch/testing/_internal/common_methods_invocations.py#L5389-L5393

For the case when the tests pass, index generated is `[3,

[2021-04-27 09:07] trenta3 commented on #56327
Hi, thanks for the fast replies.
After a bit of thinking I agree that it is preferable to not implement the proposed change, but just let the user deal with extracting a submatrix and use it to solve the system.

I think however that in the documentation for this functionality should be included the fact that it can only be used on square invertible matrices and that for triangular matrix one can

[2021-04-27 09:12] mruberry commented on #56327
@Lezcano, who just updated our linalg documentation, what are your thoughts?

[2021-04-27 09:16] mruberry commented on #53237
Thank you for diagnosing this, @kshitij12345!

Would you file an issue that focuses exclusively on index_fill with duplicative indices? Just note, like you have here, that when giving duplicative indices grad and gradgradcheck fail

Second, can we address this test issue by porting index_fill to an OpInfo, removing its method_tests() entries, and updating its sample inputs to generate valid sample

[2021-04-27 09:19] mszhanyi commented on #55037
@NaxAlpha
Thank you provide an interesting example.
So far, I find it has something with memory management on Windows.
The key variable in your script is `bs`.
If the bs is 4 or below, the performance is even better than Linux. And we can see the Page faults is stable.
On windows, If the bs become 8, the Page faults keeps increasing, and there's a big jump in time

![image](https://user-images.git

[2021-04-27 09:27] AAnoosheh commented on #47885
I get this issue if I pass in the GPU ids in non-ascending order, i.e. gpus=[3,2,1,0] gives error, while gpus=[0,1,2,3] is okay.

But only since Pytorch 1.7

[2021-04-27 09:29] NaxAlpha commented on #55037
Thanks for the investigation. That may actually be the root cause but can you also verify the CPU usage with multiple settings of `torch.set_num_threads` because as I mentioned above, setting the number of threads to 1 slows down
the operation slightly like 5-10% but CPU usage is decreased by 10x (from 50% to 5%).

[2021-04-27 09:32] Lezcano commented on #56327
I strongly support the idea of adding bits and pieces of useful information in the notes section of the linear algebra functions. How to use functions that are designed for square matrices in the non-square case is a fantastic example of this.

We can add this once we go over all the linalg functions that we have in the `torch.` namespace. This probably would not be able to make it into 1.9, thoug

[2021-04-27 09:44] mruberry commented on #56327
I modified the title of this issue to better reflect the docs update suggestion. Thanks @trenta3!

[2021-04-27 09:51] AntMorais commented on #56777
Solved with `export MAX_JOBS=4`, thanks @lw  !

[2021-04-27 10:48] zcswdt opened #57005 "about torch install"
Hello, I installed version 1.5, but an error will be reported when running, please help me.
![image](https://user-images.githubusercontent.com/43515926/116229377-fef82c00-a788-11eb-9541-d6e6ce8fb342.png)

[2021-04-27 11:03] mruberry commented on #56906
Including the layout for sparse tensors seems OK, if not urgent.

[2021-04-27 11:12] kshitij12345 opened #57006 "[grad] index_fill : Incorrect gradient when index has duplicates"
[code]

Reason: https://github.com/pytorch/pytorch/blob/6de11c2db37d2b64debb97af40147de1581f718a/tools/autograd/derivatives.yaml#L607-L610

Formula for value doesn't consider this. And thus we get the failures.

Quick Fix (tested locally):
[code]

Questions to tackle for fixing

* Should forward error out if there are duplicate indices (my guess is this behaviour wasn't intentional) (BC breaking)?

[2021-04-27 11:14] lcxywfe commented on #22095
@ShaoTengLiu Hi, have you solved it? I have the same problem as you.

[2021-04-27 11:23] mruberry commented on #51284
Thank you for investigating this option and verifying current JIT support, @asi1024.

My guess is that pursuing this would be very tricky.

If we extend result_type in native_functions.yaml to take a tensor list (`Tensor[]`) then maybe we can do this. einsum() supports torchscript and varargs today:

[code]

Maybe we could create a Python wrapper that performs the dtype->tensor conversion you're d

[2021-04-27 11:24] mruberry commented on #56326
Maybe another docs issue, @Lezcano?

[2021-04-27 11:25] Lezcano commented on #56326
Very much looks like it. We should report all these behaviours in the documentation.

[2021-04-27 11:26] mruberry commented on #48830
Good question! I don't know offhand, sorry. We'd have to dig through the code.

[2021-04-27 11:27] Lezcano commented on #56326
Now, another take on this would be to do something like throw an error if the input does not have `NaNs`  but the output does. But then we would get again on the discussion that we have had on all `torch.linalg` functions about how to report this when we have a batch of matrices and `NaNs` appear in some of them...

[2021-04-27 11:29] trenta3 opened #57007 "CUDA memory type management in torch.jit"
## 🚀 Feature
Add annotations to torch.jitted python code to allocate tensors in specific parts of CUDA memory (thread-local memory, block-shared memory, grid-global memory).

## Motivation
I need to write code computing matrix-vector product where the dimension of the matrix is very big 1M x 1M entries, but the matrix elements are easily computed "in-place" (i.e. they depend on a small amount of o

[2021-04-27 11:30] mruberry commented on #47112
I don't think we want to promote set or set-like functions as they can be tricky to use correctly, but a frombuffer() function that's compatible with NumPy's https://numpy.org/doc/stable/reference/generated/numpy.frombuffer.html?highlight=frombuffer#numpy.frombuffer would be interesting.

[2021-04-27 11:38] kshitij12345 commented on #53237
I see that `index_fill` already has OpInfo entry (will consolidate the remaining method entries to this).
https://github.com/pytorch/pytorch/blob/1145e2c6e238058d0f4a87e90db95c22a9dc2a87/torch/testing/_internal/common_methods_invocations.py#L1358-L1377

I have a very simple idea. (will mark it in the PR)

[2021-04-27 12:00] nairbv commented on #56544
Another consideration is consistency with the numpy API. Numpy has a numpy.testing.assert_almost_equal (I think we have or had a similar function) but the semantics are different (decimal places of precision). We'd want to avoid confusion between these assertions. I think the assert_close name is coming from the relationship to torch.isclose/numpy.isclose.

[2021-04-27 12:03] thymbahutymba commented on #35316
I have the same issue even though [here](https://github.com/pytorch/pytorch/blob/master/WORKSPACE#L22) the dependency is already defined.

[2021-04-27 12:04] jgong5 commented on #55374
@ezyang You concern makes sense. Let's do `torch.cpu.amp.autocast` with the default dtype as `torch.bfloat16` then. We may revisit the converged API after CPU supports half precision.

My major concern was more about the different behavior with different dtypes (i.e. `torch.amp.autocast()` w/ CPU default to bfloat16 and CUDA default to half), not the different devices with the same dtype (i.e. `to

[2021-04-27 12:29] ardeal commented on #56990
@SsnL ,
Thank you!

I see the line you mentioned. however, what I could understand is how the code register or call the forward function of subclass

[2021-04-27 12:41] mruberry commented on #56544
Plenty of time to propose changes.

Yep; I agree we don't want to use a numpy.testing name unless we implement the same function.

[2021-04-27 13:15] iramazanli commented on #56660
thanks so much for following up :)  Actually if you see the line :

https://github.com/pytorch/pytorch/blob/c0a3036c3b1b853e87f6648a0b68dccd65836461/torch/testing/_internal/common_methods_invocations.py#L1249

The tensor is created using torch.tensor rather than tensor. I don't know why generated code shows it with just tensor. So, unfortunately this error has not been solved

[2021-04-27 13:18] #56243 closed

[2021-04-27 13:21] #54600 closed

[2021-04-27 13:33] yoderj commented on #56267
Just an update: This is still on my radar.  I've done some preliminary reading of the source code for PyTorch and I think I have an idea what the edits I will make will be.  I expect to make the edits some time in the next two weeks.

[2021-04-27 14:19] hjq052070 opened #57017 "about the torch.randperm in torch1.8.1+cuda11.1 关于torch1.8.1和cuda11.1环境下randperm函数的奇怪输出"
environment: cuda11.1+torch1.8.1
run the code：perm2 = torch.randperm(negative.shape[0], device=negative.device)[:num_neg]
get the result in this picture，obviously the result is weird
But in torch1.7.1+cuda11 or torch1.9（nightly）+cuda11.1 environment，the result is right.
![微信图片_20210427221723](https://user-images.githubusercontent.com/56314930/116257159-5fe22d00-a7a6-11eb-97dd-ffb8a9b089e3.jpg)

[2021-04-27 14:36] #56749 closed

[2021-04-27 14:41] aocsa commented on #56906
I agree with the idea of always include the layout property for the sparse tensor. If so, note that this issue is cover in this PR https://github.com/pytorch/pytorch/pull/56722

[2021-04-27 14:46] ProGamerGov opened #57018 "Inconsistent zero dim RuntimeError messages between Ubuntu and Windows, and subclassing torch.Tensor results in sudden crashes without warning when using torch.cat"
## 🐛 Bug

Subclassing `torch.Tensor` results in unexpected behavior and crashes without warning when attempting to use `torch.cat` on the tensor object.

## To Reproduce

Run the code below:

[code]

[code]

## Expected behavior

I am not entirely sure what the expected behavior should be, but crashing without warning is probably not it. The behavior on Colab is also different than on Windows, whi

[2021-04-27 14:54] ezyang commented on #53237
IMO we should reseed before sampling randomly for each test, so that test ordering changes don't perturb RNG state.

[2021-04-27 15:01] aocsa commented on #56959
I agree with the idea to add  int32 indices support to COO.  To support this, I was looking at the code, and not only int32 indices are required by MKL matmul implementation but also cuSparse. See the following cases:

https://github.com/pytorch/pytorch/blob/f27513e9519085d08e7cf2a451aa7f0083f33bb3/aten/src/ATen/native/sparse/cuda/SparseCUDATensorMath.cu#L61

https://github.com/pytorch/pytorch/blo

[2021-04-27 15:46] marcown commented on #56901
Would be great if this gets fixed!

[2021-04-27 15:51] relh commented on #54789
this also happens if you call `.int()`

[2021-04-27 16:00] ejguan opened #57031 "[DataLoader] Implement Map-style functional DataPipe"
## 🚀 Feature
Add map-style Datapipe to support new DataLoader.

## Motivation
From the RFC #49440, you can find lots of issues with the previous DataLoader. So, we are working on a new design of DataLoader to support several features such as multithreading, and to prevent OOM. To support the new design of DataLoader, we have proposed the `IterDataPipe` for the iter-style DataPipe. But, in terms ba

[2021-04-27 16:02] relh commented on #54789
Also, a related issue:

[code]

When not on a GPU:
[code]

[2021-04-27 16:12] pearu commented on #56959
To avoid unnecessary copies, the conversion of COO-CSR indices should be treated as special operations that implement the compression-decompression and int32-int64 castings in a single loop. For instance, to convert CSR int32 indices to COO int64 indices, here is a prototype of the algorithm (using Python syntax but it should be implemented in C++):
[code]
where for efficient "cast and copy" one c

[2021-04-27 16:13] relh commented on #54789
This also impacts doing arithmetic with these poisoned tensors.

These poisoned tensors exist in a fairly common use case. If you load PNG binary masks into boolean tensors and move them to GPUs they will act like the poisoned tensors above.

This happens even if you call `np.array` rather than `np.asarray` on the PIL Image

[2021-04-27 16:15] tugsbayasgalan commented on #56660
Hmm now I am getting following error from test_variant_consistency_jit_gradient_cpu_float32:
[code]
Did you run into same issue?

[2021-04-27 16:19] #56768 closed

[2021-04-27 16:22] #40941 closed

[2021-04-27 16:29] #56576 closed

[2021-04-27 16:31] IvanYashchuk opened #57032 "torch.cholesky with upper=True is wrong for batched CUDA inputs"
## 🐛 Bug

`torch.cholesky` with `upper=True` flag returns wrong results for batched CUDA inputs.

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

The result for batched CUDA inputs should be correct, the above code snippet shows the expected behavior.

cc @jianyuh @nikitaved @pearu @mruberry @heitorschueroff @walterddr @IvanYashchuk @xwang233 @Lezcano

[2021-04-27 16:38] aocsa commented on #56959
Sorry, I'm not sure if I get the idea, So let me ask again how we can avoid unnecessary copies because I think in the implementation of `sparse_sparse_matmul_cuda_kernel`
https://github.com/pytorch/pytorch/blob/305abde976d232494c6b5252111ce15523511ffe/aten/src/ATen/native/sparse/cuda/SparseMatMul.cu#L645
We are following somewhere these compression-decompression pattern and int32-int64 castings.

[2021-04-27 16:52] iramazanli commented on #56660
thanks for the response quick response.

To be honest, it didn't fail on integer case for me, but for float / complex i am also getting the following error

[code]

[2021-04-27 17:06] pearu commented on #56959
@aocsa , sparse_sparse_matmul_cuda_kernel is for COO and here the compression/decompression is an internal implementation detail.

I am thinking of a scenario where COO tensors are used for building sparse tensors from user data and CSR tensors are used as inputs to linalg algorithms, all that being under users' control. So, the user applications would transform COO tensors to CSR tensor if operat

[2021-04-27 17:07] vkuzo commented on #55387
This is useful when people train with amp on CUDA, to get the speedup of fp16 vs fp32.

[2021-04-27 17:08] tugsbayasgalan commented on #56660
We can do either of following:
1. add more overloads that specify List[int] or List[float]

[2021-04-27 17:13] tugsbayasgalan commented on #27343
@Linux-cpp-lisp Hi, could you post a repro if possible?

[2021-04-27 17:24] tugsbayasgalan commented on #57007
Hi, we would recommend looking into Numba since it has more configurations.

[2021-04-27 17:24] eqy commented on #54499
This is not an overflow or wraparound but just a negative value caused by the output size computation not checking that the kernel size is not larger than the input size. We can add a check/error message for this case if it is less confusing.

[2021-04-27 17:31] Lilyjjo commented on #55577
Hi @SabbirAhmedAdor629! I think @darkuswraith is currently working on this. If you keep on checking the `OSS contribution wanted' label our team is starting to add to it more regularly and there will be more issues up for grab

[2021-04-27 17:34] tugsbayasgalan commented on #55577
Hi @SabbirAhmedAdor629, if you are looking for more issues, you can start with this issue too (https://github.com/pytorch/pytorch/issues/56909).

[2021-04-27 17:35] Linux-cpp-lisp commented on #27343
Sure, thanks:
[code]
gives
[code]

I'm on Python 3.8.5, torch 1.8.0.

(Worth mentioning that I solved my serialization issue in the linked PR by carefully managing `state["_modules"]` — *not* the attributes of the parent module — during serialization. As a result the distinction between `ScriptModule` and `ScriptFunction` is no longer really relevant to my application, and I'm not sure in what oth

[2021-04-27 17:37] SplitInfinity commented on #57007
Another things you might consider using is NVRTC: https://github.com/salesforce/pytorch-qrnn/blob/daadb0f39a1811128df7eb03933f286aa5e319ed/torchqrnn/forget_mult.py#L10

[2021-04-27 17:58] jerryzh168 commented on #55387
I see, makes sense, just to confirm, the use case is people first train with amp so the model is fp16 and then do post training quantization?

[2021-04-27 18:17] #54878 closed

[2021-04-27 18:23] eqy commented on #57017
Can you post a shorter repro with a more isolated environment? I cannot reproduce this on the current upstream with ` torch.randperm(128, device='cuda')[:128]`

[2021-04-27 18:32] technowop opened #57042 "Start"
## 🚀 Feature

## Motivation

## Pitch

## Alternatives

## Additional context

[2021-04-27 18:34] technowop commented on #57042
https://warriorplus.com/o2/a/t7gd9/0
https://udimi.com/a/mlcmk

[2021-04-27 18:34] mruberry commented on #57032
cc @Lezcano

When we deprecate torch.cholesky in favor of torch.linalg.cholesky and write its deprecation guide, will that address this issue?

[2021-04-27 18:39] mruberry commented on #53237
Porting the test to an OpInfo will achieve this because when using OpInfos the generation of sample inputs occurs WITHIN each test, not outside of it, unlike the deprecated method_tests().

We could fix method_tests(), but the real fix is to kill them (by porting them to OpInfos).

[2021-04-27 18:44] mruberry commented on #54298
@anjali411 this is fixed by https://github.com/pytorch/pytorch/pull/56524, right?

[2021-04-27 18:53] franksun007 commented on #52169
Hi, it seems like this issue is resolved in 1.8. Closing. Thanks

[2021-04-27 18:53] #52169 closed

[2021-04-27 19:05] #46702 closed

[2021-04-27 19:10] ailzhang commented on #56794
@albanD pointed out that our C++ API `data_parallel` is also using `at::parallel_for` (which doesn't preserve TLS state) to do module forward parallelization. This seems wrong and potentially should be replaced by `at::launch` instead.
Code pointers:
https://github.com/pytorch/pytorch/blob/c371542efc31b1abfe6f388042aa3ab0cef935f2/torch/csrc/api/include/torch/nn/parallel/data_parallel.h#L246
https:

[2021-04-27 19:24] #56701 closed

[2021-04-27 19:28] driazati opened #57054 "breakpad isn't pinned in the docker image build"
We should determine and check out a specific tag (this was on the PR at some point, not sure how it got deleted)

https://github.com/pytorch/pytorch/blob/6c602eb0994f3c2041be07f729819a4ce45fd9a9/.circleci/docker/common/install_breakpad.sh#L5-L9

[2021-04-27 19:30] driazati commented on #57042
Closing since there doesn't seem to be an actual issue here, feel free to re-open and fill out the template if there is

[2021-04-27 19:30] #57042 closed

[2021-04-27 19:56] ptrblck commented on #56055
Thanks for the detailed analysis! CC @eqy who is looking into the memory requirements as well.

[2021-04-27 19:56] IvanYashchuk commented on #57032
Yes, because `torch.linalg.cholesky` always uses the lower triangular part of the input.

Also, the ongoing PR for `cholesky_ex` (https://github.com/pytorch/pytorch/pull/56724) includes some rewrites of how MAGMA is called, so this problem would be fixed there, I need to add the tests. Perhaps I should split that PR into smaller ones.

[2021-04-27 20:25] #55604 closed

[2021-04-27 20:28] garymm commented on #56905
@krishnanNuance I think your CC list didn't work because you included it in the code block

[2021-04-27 20:29] ngimel commented on #57017
This was fixed on master in #55292

[2021-04-27 20:30] Krovatkin commented on #56676
we also hit this internally. cc: @eellison @penguinwu

[2021-04-27 20:47] #55606 closed

[2021-04-27 20:51] #53237 closed

[2021-04-27 21:04] #41573 closed

[2021-04-27 21:17] charlevr commented on #49095
Any progress on this? I ran into the same error and switching to PyTorch version from 1.8.1 to 1.6 worked for my code. I was trying to run the Trainer() function from the transformers library using four 2080ti's.

[2021-04-27 21:29] Krovatkin commented on #56969
cc @Chillee @ZolotukhinM @eellison @penguinwu @navahgar @desertfire

[2021-04-27 21:31] ngimel commented on #57006
Forward should not error out, all the indexing operations accept duplicate indices.
Perf hit in backward it ok and unavoidable.

[2021-04-27 21:38] marcown opened #57065 "Static Linking Pytorch"
## 🐛 Bug

I tried to statically link pytorch but it does not work.

## To Reproduce

I build pytorch the following way:

[code]

then I try to compile the following cpp:

dcgan.cpp
[code]

with this cmakelists.txt

[code]

but I get the following error (I already checked the cmake paths, they seem to be correct):
[code]

 - PyTorch Version (e.g., 1.0): 1.8.1
 - OS (e.g., Linux): manjaro
 - How you

[2021-04-27 21:42] ZolotukhinM commented on #56969
I've added non-activation ops to this issue as well, I don't think there is too much value in having a separate issue for them.

[2021-04-27 21:47] #56685 closed

[2021-04-27 21:50] #24648 closed

[2021-04-27 21:56] malfet commented on #57001
One can slim down size of torch_cpu library by disabling some extra features, like `caffe2` you've already mentioned, distributed support, `onnx`, autograd, reduce number of supported datatypes and so on, use simpler (but slower) BLAS library.
But if you want all the features and maximum performance than no, there no trivial ways to reduce binary size.

[2021-04-27 21:56] #57001 closed

[2021-04-27 22:03] iseeyuan commented on #41592
The issue also happens in mobile: https://discuss.pytorch.org/t/fft-operations-on-mobile/119598. Please keep us posted for any updates!

[2021-04-27 22:12] ngimel commented on #54906
The way `_convolution` is implemented now it's pretty tricky to change. `_convolution` dispatches to different backends, and rewriting all implementations to support `out` is a relatively big project. However, you can rewrite backends that you are interested in using an approach similar to #52102

[2021-04-27 22:25] H-Huang commented on #57017
Closing since this is fixed in nightly build

[2021-04-27 22:25] #57017 closed

[2021-04-27 22:25] vkuzo commented on #25248
after team discussion, we plan to stop using hypothesis in quantization unit tests

[2021-04-27 22:33] #56822 closed

[2021-04-27 22:35] H-Huang commented on #56858
Please post questions on discussion forum, thank you!

[2021-04-27 22:35] #56858 closed

[2021-04-27 22:40] mruberry commented on #56820
@peterbell10 would you take a look? Maybe we need to adjust some tolerances?

[2021-04-27 22:44] H-Huang commented on #57005
Have you tried other versions of Python + PyTorch? Seems like python 3.5 is deprecated, so can you try updating python? FYI latest stable version for python is 3.9.0 and for PyTorch it is 1.8.1, so you're much less likely to hit issues with stable releases.

[2021-04-27 22:51] H-Huang commented on #56898
Can you try posting this question on the [PyTorch discussion forums](https://discuss.pytorch.org/), thank you!

[2021-04-27 22:51] #56898 closed

[2021-04-27 23:15] #55561 closed

[2021-04-27 23:19] #56888 closed

[2021-04-27 23:36] H-Huang commented on #56922
I can also repro this segfault on master
<details>

<summary>Environment</summary>

[code]

</details>

[2021-04-28 00:07] imaginary-person opened #57072 "CI check `binary_linux_libtorch_3_7m_cpu_devtoolset7_shared-with-deps_build` is failing intermittently"
## 🐛 Bug

For recent PRs, including the recently merged ones, `binary_linux_libtorch_3_7m_cpu_devtoolset7_shared-with-deps_build` [has been failing intermittently](https://github.com/pytorch/pytorch/search?o=desc&q=binary_linux_libtorch_3_7m_cpu_devtoolset7_shared-with-deps_build&s=created&type=issues) (but not always). It doesn't always fail at the same point, but usually fails after 97% progress

[2021-04-28 00:08] ngimel commented on #56979
1) don't use apex, use native amp
2) please provide your environment collected by (https://raw.githubusercontent.com/pytorch/pytorch/master/torch/utils/collect_env.py)
3) please provide minimum standalone reproducing script

[2021-04-28 00:19] malfet commented on #56890
@t-vi thank you for reporting. If you already have a fix in mind, please do not hesitate to turn it into PR.
@ilia-cher do you mind having a look?

[2021-04-28 00:20] eellison commented on #56969
@ZolotukhinM sounds good, thanks! @Chillee do you mind commenting with a few activations you think are less common that we can leave off initial prioritization (maybe for OSS)

[2021-04-28 00:32] ngimel commented on #56890
find_package(CUDA) sets CUDA_cupti_LIBRARY.

[2021-04-28 00:37] malfet commented on #56928
Can you please share md5 of the wheel in question? And URL where you've downloaded it from?
I can not reproduce it with 1.8.0 wheel I have lying around:
[code]

[2021-04-28 00:41] malfet commented on #41592
We are likely going to use [pocketfft](https://gitlab.mpcdf.mpg.de/mtr/pocketfft/-/tree/cpp) on non-x86 platforms

[2021-04-28 00:57] neginraoof commented on #55742
Following up on this issue, is there a plan for fixing the tensor types in TorchScript graph?

[2021-04-28 01:00] tugsbayasgalan commented on #55742
Hi @neginraoof! Sorry for replying late. I will ask around and let you know as soon as I can.

[2021-04-28 01:46] #56145 closed

[2021-04-28 01:57] gmagogsfm commented on #56676
I made an attempted fix:https://github.com/pytorch/pytorch/pull/56995

But it still doesn't work because generated `python_torch_function.cpp` still contain incorrect signature:
[code]

Is this what you are referring to by "incorrect code gen"? This causes TensorOptions to set `dtype` based on `get_default_scalar_type`, which is `float`. Therefore, in `randperm` kernel, we don't get a chance to kn

[2021-04-28 02:31] imaginary-person commented on #57072
#57077 is the latest unmerged PR for which it failed.
#56689 is the latest merged PR for which it failed.

Maybe `MAX_JOBS` should be decreased a little for this CI check, as the `Docker 2X-Large+` Container is assigned 20 vCPUs.

`cmake3 --build . --target install --config RelWithDebInfo -- -j 34`

[2021-04-28 02:34] ProgrammerPeter commented on #56777
This sovles my problem!

[2021-04-28 03:38] lawlict opened #57086 "torch.onnx.export cannot work with torch.unfold when dynamic_axes is set."
## 🐛 Bug

Pytorch version: 1.8.1.
Code:
[code]
Error:
[code]
If I remove the `dynamic_axes` argument, the code runs normally. In this case, the exported model is like:
![image](https://user-images.githubusercontent.com/35951198/116342244-dcabf000-a814-11eb-81f7-237e7bf78228.png)
What if I hope to set the input size dynamically? Many thanks.

cc @houseroad @spandantiwari @lara-hdr @BowenBao @neginr

[2021-04-28 03:38] walterddr commented on #57072
seems like https://github.com/pytorch/pytorch/blob/master/.circleci/scripts/binary_linux_build.sh#L8 is set to use `${nproc}-2`

[2021-04-28 03:44] iramazanli commented on #49015
This got fixed in  https://github.com/pytorch/pytorch/pull/56689

[2021-04-28 03:44] #49015 closed

[2021-04-28 03:49] imaginary-person commented on #57072
Thanks for taking a look, @walterddr! Do you think these intermittent failures can be prevented by decreasing the number of parallel tasks?

[2021-04-28 04:00] #56650 closed

[2021-04-28 04:05] imaginary-person commented on #57072
CircleCI [shows that](https://app.circleci.com/pipelines/github/pytorch/pytorch/311377/workflows/d41337c0-f7b8-48c1-bf74-60ab77d5bbde/jobs/12909709) the `Docker 2X-Large+` container has 20 CPUs, but in the logs, there are 36, and hence the number of tasks are 34.

[2021-04-28 04:12] yamanahlawat commented on #56928
- wheel verification passes for `torch 1.8.0`, it fails for torch 1.8.1
- MD5 - be348d997349d93cde987705dc9a4899
- SHA256 - e7ad1649adb7dc2a450e70a3e51240b84fa4746c69c8f98989ce0c254f9fba3a
- [Download Link](https://files.pythonhosted.org/packages/1b/c3/3b94d22b156742ac90eaffa0b2025e948cf935c4b206db5a813657c0de49/torch-1.8.1-cp38-cp38-manylinux1_x86_64.whl)

[code]

[2021-04-28 04:38] ilia-cher commented on #56890
Thanks for reporting, yes we should update to use the standard cmake utilities

[2021-04-28 05:07] navahgar commented on #54906
Okay. Thanks for the update and suggestion @ngimel. I will check that out.

[2021-04-28 05:21] SsnL opened #57095 "[FR] unflatten support empty shape if unflattened dim has size 1"
## 🚀 Feature

Unflatten is often used as just a convenient way for doing a `view`. Allowing this case will not introduces ambiguity and can enable its being used in more general cases. Of course, the proposed behavior is like squeeze. But it allows for writing general purpose code.

[code]

[2021-04-28 05:36] gmagogsfm commented on #56676
Or another solution:
Add logic in randperm kernel to populate correct dtype (`kLong`), this will enable correct behavior in TorchScript. Leave the hack of
https://github.com/pytorch/pytorch/blob/57cba8e60116bfff37d10bc2b4596d8c478ffd0a/tools/codegen/api/python.py#L740

as is, so that eager maintains current behavior too until code gen is fixed. @ezyang

[2021-04-28 06:03] Green-li commented on #56576
Thank you very much! I have successed to build the example use the libtorch:
 downloaded from `https://download.pytorch.org/libtorch/cpu/libtorch-shared-with-deps-1.8.1%2Bcpu.zip`.

[2021-04-28 06:06] H1Gdev commented on #50533
It worked in the following way.

## Environment

[code]

However, the following error occurs, so revert PR https://github.com/pytorch/vision/pull/3462.

[code]

Now we can convert to NNAPI model.

[2021-04-28 06:09] krishnanNuance commented on #56905
Hi @garymm ,
I didn't complete get your point. Can you point me to the section of the code that needs to be adapted?

[2021-04-28 06:10] xcwanAndy opened #57100 "Can users move generated computation graph manually in the forward pass from GPU to CPU? And then back to GPU for backward"
## 🚀 Feature
I wonder if PyTorch allows such feature: users can manually move the forward generated computation graph from GPU to CPU, and then back to GPU for backward?

## Motivation
I have such feature request mainly due to:

I have a demand to slice a large amount of data into batches and then finish all of them in the forward pass, and afterwards backwarding them (Yes, I __cannot__ use mini-b

[2021-04-28 06:13] tugsbayasgalan commented on #56576
Awesome! glad to hear :)

[2021-04-28 06:33] lcxywfe commented on #11756
I met the savme issue with PyTorch 1.8, but 1.7 is OK.

[2021-04-28 07:33] ProgrammerPeter opened #57106 "Build failed with CPU on Linux: hip/hip_runtime.h: No such file or directory"
## 🐛 Bug

I tried to build PyTorch with CPU on my linux, but failed with fatal "hip/hip_runtime.h: No such file or directory".

## To Reproduce

Steps to reproduce the behavior:

1. export USE_CUDA=0
2. export USE_ROCM=0
3. python setup.py install

[4468/5418] Building CXX object caffe2/CMakeFiles/torch_cpu.dir/__/torch/csrc/jit/codegen/fuser/codegen.cpp.o
FAILED: caffe2/CMakeFiles/torch_cpu.dir/_

[2021-04-28 07:49] t-vi commented on #56055
One thing about dropping CUDA 10: The Jetsons currently are incompatible with CUDA 11 (as they don't use the PCIe and so they need their own driver that has not yet been updated as far as I understand).

[2021-04-28 07:55] vadimkantorov commented on #57095
Maybe related: https://github.com/pytorch/pytorch/issues/7991

[2021-04-28 08:00] skyline75489 commented on #57106
Can you post your CMake summary? Looks like ROCM/HIP is wrongly enabled.

[2021-04-28 08:04] ProgrammerPeter commented on #57106
Building wheel torch-1.9.0a0+git1c0617b
-- Building version 1.9.0a0+git1c0617b
cmake -GNinja -DBUILD_PYTHON=True -DBUILD_TEST=True -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=/data1/xtc/repository/pytorch/torch -DCMAKE_PREFIX_PATH=/data1/envs/xiaotianci -DNUMPY_INCLUDE_DIR=/data1/envs/xiaotianci/lib/python3.7/site-packages/numpy/core/include -DPYTHON_EXECUTABLE=/data1/envs/xiaotianci/bin/pyt

[2021-04-28 08:04] skyline75489 opened #57108 "Compilation failure in caffe2/core/plan_executor_test.cc with GCC 5.4"
Looks like another C++17 issue:

[code]

[2021-04-28 08:06] Chillee commented on #56969
@ZolotukhinM I marked some ones I already have that I can add.

@eellison I'm not intimately familiar with all of these (and I'm not sure if some of these are used internally), but `celu`, `tanhshrink`, and `hardshrink` stand out to me as not being used much.

[2021-04-28 08:12] skyline75489 commented on #57106
OK looks like the CMake configuration is fine.

The compilation error is obvious:

[code]

But I can't find `#include "hip/hip_runtime.h` in

https://github.com/pytorch/pytorch/blob/8134806e236e73b6e84f1daa0aebec3ab7ee3928/torch/csrc/jit/codegen/fuser/cuda/resource_strings.h

Can you check the file `torch/csrc/jit/codegen/fuser/cuda/resource_strings.h`? Don't know what's wrong with it.

[2021-04-28 08:25] rgommers commented on #57018
Thanks for the report @H-Huang. What does this second example have to do with the subclassing example?

[code]

Does that crash as well? Would be strange, because those are 1-D tensors.

Your first example can be reduced to:
[code]

Does that crash only with subclasses, or also with regular 0-D tensors?

[2021-04-28 08:40] rgommers commented on #56891
Cc @pearu

[2021-04-28 08:40] adrianstaniec opened #57109 "nn.Linear weight initalization - uniform or kaiming_uniform?"
IMHO there is a discrepancy between the docs and code of nn.Linear, when it comes to initialization.

documentation says that the weights are initialized from
uniform ( 1/sqrt(in_ feaures) , 1/sqrt(in_ feaures)):
https://github.com/pytorch/pytorch/blob/0df574017d8f0eb1527e973defb9c65a5befe966/torch/nn/modules/linear.py#L53-L56

code says that the weights are initialized from
kaiming_uniform
https:

[2021-04-28 08:45] LiuXiaoxuanPKU commented on #46720
The fix might not be the best one, but it works for me
https://github.com/pytorch/pytorch/pull/46825

[2021-04-28 08:57] lithuak opened #57111 "Build failure with USE_CUDA=1"
## 🐛 Bug

Build with USE_CUDA=1 fails for me (although about three weeks ago everything used to work fine, on the same system, in the same source tree).

I tried to use BUILD_SPLIT_CUDA=1 from [this](https://github.com/pytorch/pytorch/issues/39968) recipe, but it didn't help.

The exact commit I'm trying to build is: 77721ee318d6785010144aa4569efb98199e7162, although it has been failing for the pr

[2021-04-28 09:11] skyline75489 commented on #57111
Did you run `python setup.py clean` before trying the `BUILD_SPLIT_CUDA=1` build?

[2021-04-28 09:20] lithuak commented on #57111
@skyline75489 yep. Multiple times. I'll add that to my description.

[2021-04-28 09:29] skyline75489 commented on #57111
Which CUDA  version are you using? Is it CUDA 10.2 or CUDA 11.1 or something else?

[2021-04-28 09:34] zhao028 commented on #50723
@windmaple I am also doing this now. Did you solve this problem later？

[2021-04-28 09:35] lithuak commented on #57111
@skyline75489 It's CUDA 10.2:

[code]

[2021-04-28 09:38] pearu commented on #56891
The cause of this phenomenon is in torch.matmul: when the first argument is transposed, matmul is much slower:
[code]

[2021-04-28 09:39] Lezcano opened #57112 ":attr: does not behave as expected."
For example, when writing ``:attr:`cond` `` in https://pytorch.org/docs/master/generated/torch.linalg.lstsq.html#torch.linalg.lstsq
it creates a reference to `torch.linalg.cond`.

I see two solutions to this:
- Replace `:attr:` with double backticks. Double backticks generate the correct "black background" that we wanted to achieve.
- See how to modify the sphinx template (I do not know how to do

[2021-04-28 09:45] kshitij12345 opened #57114 "[test] index_fill : gradgradcheck CUDA takes around 40 seconds"
Issue is just to track that the timings will be improved with faster grad{grad}check

[code]

cc: @mruberry @soulitzer

cc @ezyang @albanD @zou3519 @gqchen @pearu @nikitaved @soulitzer @Lezcano @mruberry @VitalyFedyunin @walterddr

[2021-04-28 09:48] Lezcano commented on #57114
The same happens with `index_copy` iirc.
It comes from the fact that the current tests are very thorough. They have cases for all cases of contiguous / non-contiguous inputs with all the possible flags.

Making the input sizes smaller would alleviate but not completely solve this problem

[2021-04-28 09:49] Lezcano commented on #57032
Given that we are deprecating `torch.cholesky`, is it worth to fix this @mruberry ?

[2021-04-28 09:51] pearu commented on #56891
It is likely that an extra copy in
https://github.com/pytorch/pytorch/blob/77721ee318d6785010144aa4569efb98199e7162/aten/src/ATen/native/LinearAlgebra.cpp#L1362
makes torch.matmul slower on non-contiguous inputs.

[2021-04-28 09:57] FabianIsensee opened #57115 "nn.Conv3d is not accelerated with tensorcores (using autocast/AMP)"
## 🐛 Bug

When installing either the current nightly or version 1.8.1 using pip/conda the tensorcore acceleration of nn.Conv3D with Nvidia GPUs is not working. However, when compiling pytorch from source it works as intended and gives a ~3x speedup relative to regular fp32 training. Given that compiling from source is something not all users will be able to do (or want to do) it would be nice if t

[2021-04-28 10:16] pearu commented on #56891
Matmul implementation has Fortran strides support, see
https://github.com/pytorch/pytorch/blob/77721ee318d6785010144aa4569efb98199e7162/aten/src/ATen/native/LinearAlgebra.cpp#L887
This means that batched matmul performance can be improved for the given case by relaxing `contiguous()` operation in
https://github.com/pytorch/pytorch/blob/77721ee318d6785010144aa4569efb98199e7162/aten/src/ATen/native/

[2021-04-28 10:24] skyline75489 commented on #57111
I can't reproduce this even without `BUILD_SPLIT_CUDA`. I'm using:

[code]

And the same CUDA 10.2.

The result `libtorch_cuda.so` takes 295M, which does not sounds too absurd to me.

CC @janeyx99 for possible insight on this.

[2021-04-28 10:45] IvanYashchuk commented on #57032
I think being deprecated or not the operation should not return the wrong result.

[2021-04-28 10:53] csukuangfj opened #57117 "MultiheadAttention.out_proj.weight is not explicitly initialized"
See
https://github.com/pytorch/pytorch/blob/77721ee318d6785010144aa4569efb98199e7162/torch/nn/modules/activation.py#L895
https://github.com/pytorch/pytorch/blob/77721ee318d6785010144aa4569efb98199e7162/torch/nn/modules/activation.py#L904
https://github.com/pytorch/pytorch/blob/77721ee318d6785010144aa4569efb98199e7162/torch/nn/modules/activation.py#L917-L919

You can see that `self.in_proj_weight`

[2021-04-28 11:05] mruberry commented on #57114
cc @soulitzer, who's been working on gradcheck perf

[2021-04-28 11:16] HangJie720 opened #57118 "How to view VLOG information"
How to use VLOG, which is same to  specify TF_CPP_MIN_VLOG_LEVEL variable in TensorFlow.

[2021-04-28 11:27] lithuak commented on #57111
@skyline75489 Any clues maybe where to move from this point?.. If this matters: the libtorch_cuda_cpp.so found in build/lib is 1.7G in my case.

[2021-04-28 11:53] pmeier opened #57119 "`test_ops.py::TestCommon::test_jit_alias_remapping` is broken for `str` kwargs"
## 🐛 Bug

`test_ops.py::TestCommon::test_jit_alias_remapping` is broken for `str` kwargs:

https://github.com/pytorch/pytorch/blob/77721ee318d6785010144aa4569efb98199e7162/test/test_ops.py#L462-L467

In both cases the values are substituted in without modification. `str` values need to be quoted.

cc @gmagogsfm

[2021-04-28 12:03] #56814 closed

[2021-04-28 12:28] mfkasim1 opened #57121 "einsum "jk,ijkl->il" is ~16x slower than numpy"
## 🐛 Bug

The high rank tensor contraction with einsum `"jk,ijkl->il"` is about 16x slower than numpy.

## To Reproduce

    import time
    import torch
    import numpy as np

    nb = 160
    dtype = torch.float64

    mat1 = torch.rand((nb, nb, nb, nb), dtype=dtype)
    mat2 = torch.rand((nb, nb), dtype=dtype)

    t0 = time.time()
    res1 = torch.einsum("ij,ijkl->kl", mat2, mat1)
    t1 = ti

[2021-04-28 12:36] albanD commented on #56983
Hi,

We use github issues only for bugs or feature requests.
Please use the forum to ask questions: https://discuss.pytorch.org/

[2021-04-28 12:36] #56983 closed

[2021-04-28 12:39] lawlict opened #57122 "Output difference resulting from torch.cat"
## 🐛 Bug
The following functions `unfold1` and `unfold2` are expected to work the same:
[code]
However, the output of `unfold2` is wrong:
[code]
The difference appears only when I use pytorch==1.8.1 with cuda. In pytorch==1.6 or on cpu device, the two outputs are the same. Specifically, the difference results from `torch.cat` in the `unfold2` function. Does any have ideas? Many thanks.

## Environ

[2021-04-28 12:48] albanD commented on #57114
Does that timing include https://github.com/pytorch/pytorch/commit/201ad938b26133075000d6aa3108c91764464d80 that landed yesterday (27 April)?

[2021-04-28 12:55] Kablys opened #57123 "LibTorch ships with two identical library files: libdnnl and libmlkdnn"
## 🐛 Bug

LibTorch ships with two identical library files: `libdnnl` and `libmlkdnn`.

## To Reproduce

Steps to reproduce the behavior:

1. Go to https://pytorch.org/get-started/locally and download any version of LibTorch.
1. Inside `libtorch\lib` there are two identical files: `libdnnl` and `libmlkdnn`.

## Expected behavior

According to https://discuss.pytorch.org/t/libdnnl-and-libmlkdnn-in-l

[2021-04-28 12:55] ansley opened #57124 "Allow `ScriptFunction`s to be symbolically traced"
## Motivation

Currently, we can't trace `ScriptFunction`s (the object produced by using the `@torch.jit.script` decorator on a function), since they aren't `nn.Module`s or instances of `FunctionType`. We should support this to ensure full FX-TorchScript compatibility.

## Example

[code]

[code]

[2021-04-28 13:00] kshitij12345 commented on #57114
I don't think so. It was around 2 days back. Will run it again. Thanks for the update!

[2021-04-28 13:06] kshitij12345 commented on #57114
@albanD Thanks!
On latest master, the same test now takes around 1.2 seconds
[code]

[2021-04-28 13:06] #57114 closed

[2021-04-28 13:24] ProGamerGov commented on #57018
@rgommers So, I just realized that I made a mistake with the second example and that the second example is probably the same issue as the first example.

This snipped of code reproduces the crash on Colab:

[code]

[2021-04-28 13:32] rgommers commented on #57018
Okay, so it is unrelated to subclassing `Tensor`, and unrelated to Windows. The whole issue is that that one-liner crashes in Colab.

[2021-04-28 13:34] rgommers commented on #57018
There's something strange in your config, this doesn't make sense together:
[code]
This may just be an install issue.

[2021-04-28 13:38] lithuak commented on #57111
@skyline75489 after reading prev. threads thoroughly I've changed BUILD_SPLIT_CUDA=1 to BUILD_SPLIT_CUDA=ON and it worked. Thanks!

[2021-04-28 13:38] #57111 closed

[2021-04-28 13:39] ProGamerGov commented on #57018
@rgommers I was using a CPU instance on Colab, but I just retested the issue with a GPU instance and the same error occurred

Config for the GPU instance:

[code]

[2021-04-28 14:17] janeyx99 commented on #57111
Huh, this is a bit concerning, as setting it to 1 vs ON shouldn't make a difference... If you have any logs, please share, but I'll also look into this.

[2021-04-28 14:23] mrshenli opened #57126 "DISABLED test_send_recv_any_source_autograd_profiler (__main__.TestMPIWithFork)"
https://app.circleci.com/pipelines/github/pytorch/pytorch/311704/workflows/00b0a90a-4fb6-4843-b1e4-0309d9ac755c/jobs/12929756

[code]

cc @ilia-cher @gdankel @ngimel @nbcsm @guotuofeng @guyang3532 @gaoteng-git @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @rohan-varma @gqchen @aazzolini @osalpekar @jiayisuse @agolynski @SciPioneer @H-Huang @mrzzd @cbalioglu

[2021-04-28 14:25] zou3519 commented on #57121
16x difference seems pretty bad so I marked this one as tentatively hi-pri. cc @heitorschueroff who has been looking at einsum.

[2021-04-28 14:29] ezyang opened #57128 "test_eig_with_eigvec_cuda_float64 is flaky on ROCm"
[code]

https://ci.pytorch.org/jenkins/job/pytorch-builds/job/pytorch-linux-bionic-rocm4.1-py3.6-test2/5679//console

cc @jeffdaily @sunway513 @jithunnair-amd @ROCmSupport

[2021-04-28 14:32] zou3519 commented on #57115
Tentatively marking as hi-pri because it sounds like we have incorrect behavior (if the source build of pytorch utilizes tensor cores, the nightly should as well). Unless this has something to do with the cuda versions we build binaries for?

[2021-04-28 14:33] zou3519 commented on #57112
We should definitely stop using `:attr:` in our docs because as you noted they're not being used correctly

[2021-04-28 14:35] zou3519 commented on #57109
Hi-pri because the docs say something different from the code. We should probably document the factor of sqrt(3) that we use.

[2021-04-28 14:43] FabianIsensee commented on #57115
The 2080ti system I tested only has cuda 11.0. Binaries are provided with cuda 11.1 (those are the ones I used), so that's probably not it. Thanks for looking into this!

[2021-04-28 14:50] zou3519 commented on #57095
Seems reasonable. The thing about unflatten is that numpy and TF don't have analogues, they tell the user to use reshape to do "unflatten". Since we don't have a precedent for this behavior, it's up to us to decide if it is OK or not.

[2021-04-28 14:51] zou3519 commented on #57100
This seems like a use case that more folks would have

[2021-04-28 14:53] zou3519 commented on #56990
Hi @ardeal, We use github issues only for bug reports or feature requests. Please use the forum to ask questions: https://discuss.pytorch.org/

[2021-04-28 14:53] #56990 closed

[2021-04-28 14:56] zou3519 commented on #57122
Tentatively marking hi-pri for investigation. I'm not familiar with what unfold does.

[2021-04-28 14:57] zou3519 commented on #13049
Closing this because there is a separate performance effort

[2021-04-28 14:57] #13049 closed

[2021-04-28 14:58] zou3519 commented on #12982
Closing due to not enough information.

[2021-04-28 14:58] #12982 closed

[2021-04-28 14:58] lithuak commented on #57111
@janeyx99 It could also be some quirk in the system, because between the last recompilation I've rebooted my Ubuntu, which I haven't done for weeks. Don't know how it could help though - may be some post-install library updates triggered by reboot? If I have time - I'll try to run it again with 1 instead of ON and let you know if that really was a culprit.

[2021-04-28 14:58] jeffdaily commented on #57128
Seems to have become flaky after recent magma upgrade in our CI image.  We need additional time to triage.  We already have a PR to skip this test.
https://github.com/pytorch/pytorch/pull/56951

[2021-04-28 14:59] zou3519 commented on #13192
Fixed by #13435 but please feel free to reopen if this is not the case

[2021-04-28 14:59] #13192 closed

[2021-04-28 15:00] qingjiuling opened #57132 "Can cuda9.0 install pytorch 1.5.1"
I know CUDA 9.2 can do this. Can 9.0 do it？
Thanks for your help

cc @ezyang @seemethere @malfet @walterddr

[2021-04-28 15:01] zou3519 commented on #13180
Maybe we have something like this now? cc @malfet @seemethere

[2021-04-28 15:01] zou3519 commented on #13176
@ezyang is this still a problem?

[2021-04-28 15:03] malfet commented on #13180
Yes, we have _on CPI test, that run GPU binaries on cpu only hosts

[2021-04-28 15:03] #13180 closed

[2021-04-28 15:03] zou3519 commented on #13162
The RecursionError still exists. I am not sure if this is something we want to fix in PyTorch

[2021-04-28 15:04] zou3519 commented on #13139
Closing due to age.

[2021-04-28 15:04] #13139 closed

[2021-04-28 15:05] zou3519 commented on #13123
Hi-pri for crash, but this needs reproduction because it's an older issue.

[2021-04-28 15:06] anj-s opened #57136 "Intermittent segmentation fault when using rpc_async/rpc_sync with CUDA tensors"
## 🐛 Bug

`rpc_sync` (and `rpc_async`) with CUDA tensors result in a segmentation fault at regular intervals. I am not able to reproduce this consistently but happens often enough.
The error is raised when using `rpc_sync` (and `rpc_async`) for P2P communication between 2 processes on the same machine as well as on remote machines.

Stack Trace:

[code]

## To Reproduce
Run the following snippet o

[2021-04-28 15:06] xcwanAndy commented on #57100
@zou3519 Yes, thanks a lot for your comment! I wonder if right now PyTorch has provided such APIs ? If not, is there any quick ways for me to hack into __autograd__ ? As I'm in a hurry for such feature.

Thanks a lot for your help!

[2021-04-28 15:06] anj-s commented on #57136
cc @lw

[2021-04-28 15:06] zou3519 commented on #13119
I cannot reproduce this on master. This may be fixed, please feel free to reopen if not.

[2021-04-28 15:06] #13119 closed

[2021-04-28 15:08] zou3519 commented on #13079
Not sure if this issue is still relevant, but adding the ci label so that the right people can take a look.

[2021-04-28 15:09] zou3519 commented on #13058
Hi pri for 300x speed difference. I can reproduce this on master. A quick fix would be to convert to fp32, perform the operation, and convert back.

[2021-04-28 15:11] zou3519 commented on #13053
Not sure if this proposal is still relevant, but what do you think @ejguan @VitalyFedyunin ?

[2021-04-28 15:27] JZPeterPan commented on #16831
could also be a compatible problem of torch and cudnn, this could: help https://github.com/SwinTransformer/Swin-Transformer-Semantic-Segmentation/issues/12

[2021-04-28 15:28] ezyang commented on #56676
https://github.com/pytorch/pytorch/issues/56676#issuecomment-828158068 is what I meant by the hacky fix.

[2021-04-28 15:29] anj-s opened #57138 "Unable to trace RRef's when using torch.jit.script with remote functions."
## 🐛 Bug

One of the recommendations to improve performance when using rpc_async/rpc_sync was to use torch.jit.script to trace the function that was being run remotely. However this results in an error since we cannot trace RRefs and all function inputs are expected to be of type Tensor.

How should one go about this? The only way to get a handle on the remote object is to pass the reference as on

[2021-04-28 15:31] lw commented on #57138
@wanchaol might know more about this?

[2021-04-28 15:45] heitorschueroff commented on #57121
@mfkasim1 Thank you for reporting this issue. I will take a look at the performance of `torch.einsum`.

[2021-04-28 15:49] garymm commented on #56905
This is not code, but you included it in the code block:

`cc @houseroad @spandantiwari @lara-hdr @BowenBao @neginraoof @SplitInfinity`

So GitHub did not interpret it as mentioning users as you intended.

[2021-04-28 15:56] gmagogsfm commented on #56676
Thanks for confirmation. Just sent PR your way for review.

[2021-04-28 16:07] janeyx99 commented on #57111
Yea, I just tried with 1 on my linux and the split was enabled. I ran:
[code]
And I noticed both `libt_torch_cuda_cpp.so` and `libtorch_cuda_cu.so` in my `build/lib` directory.

[2021-04-28 16:11] lithuak commented on #57111
@janeyx99 I confirm that I've recompiled it w/ BUILD_SPLIT_CUDA=1 just now and it worked. The problem must've been in something else (we'll never know). On the side node: would it be ok to make BUILD_SPLIT_CUDA enabled by default, not disabled? Would save tons of time for many developers who stumble across this "relink with --no-relax" thing.

[2021-04-28 16:14] ngimel commented on #13058
cc @xwang233. Likely reason is that functional pad is not using fast atomic add for halfs.

[2021-04-28 16:16] janeyx99 commented on #57111
The reason it's off by default is because there may be other side effects (like increased binary size) that users might not be expecting, and it's only when we are compiling for many architectures where we run into these linker issues. I was also a little concerned why your libraries are so huge--my libtorch_cuda_cu.so is ~170MB, whereas yours is significantly bigger.

[2021-04-28 16:22] ngimel commented on #57118
No, not really, vitals has a much narrower scope. Pytorch doesn't provide information similar to VLOG in tensorflow.

[2021-04-28 16:24] ptrblck commented on #57115
Thanks for creating this issue. You are most likely hitting [this bug](https://github.com/pytorch/pytorch/issues/50153).

[2021-04-28 16:54] #48988 closed

[2021-04-28 16:55] cpuhrsch commented on #56608
Yes, I agree, it's not exactly the same thing. But it showcases a scenario where higher order derivatives increase the runtime for all backward passes, even if the higher order wasn't needed. A guard or setting to restrict autograd to a certain order could allow us to guard that extra compute.

[2021-04-28 17:03] vivekmig opened #57157 "Using register_full_backward_hook with target module for intermediate activation"
## 🐛 Bug

We have a use-case in Captum in which we need to use a forward hook to extract an intermediate layer activation and then use torch.autograd.grad to compute gradients of this activation with respect to inputs. For some methods such as DeepLift and Guided Backpropagation, we use backward hooks in this step to override the gradients for specific modules, sometimes including the target modul

[2021-04-28 17:04] anj-s opened #57158 "Increasing RTT when using rpc_async in a PS architecture setup"
## 🐛 Bug

When using a PS architecture setup for aggregating tensors, I notice that the time interval between sending a rpc_async request and when the callback is triggered increases. Given that there is only 1 worker and the PS is essentially just sending back the tensor as soon as it receives it, I would expect the RTT to be the same for all rpc_async calls.

Am I missing something? Why do I see

[2021-04-28 17:05] anj-s commented on #57158
cc @lw

[2021-04-28 17:06] lithuak commented on #57111
@janeyx99 I actually tried to recompile with `export TORCH_CUDA_ARCH_LIST="7.5"` and the sizes got shrank down to:
[code]
Looks like this (compiling only for my only installed card) is not the default behavior? Unfortunately, I'm not sure how to get the effective default value of TORCH_CUDA_ARCH_LIST. I can try if you tell me what to do.

[2021-04-28 17:48] FabianIsensee commented on #57115
That could indeed be the case. I see the same behavior with nn.Conv2D (not sure why I thought this was a conv3d problem):

nn.Conv2D instead of 3d, RTX 3090 GPU:

It's interesting that the problem only affects mixed precision training. FP32 has almost the same speed when I compare source vs binary

[2021-04-28 17:48] sebffischer opened #57163 "Segmentation fault when using add_graph from tensorboard in combination with try except in forward pass"
## 🐛 Bug

When using try-except in the forward pass of a network, displaying the computational graph using add_graph from Summary Writer leads to a Segmentation fault. I

## To Reproduce

Steps to reproduce the behavior:

1. Run the provided code
1.
1.

[code]

## Expected behavior

I did not expect a Segmentation fault

## Environment

PyTorch version: 1.8.1
Is debug build: False
CUDA used to bui

[2021-04-28 17:52] gchanan commented on #56906
Isn't the str (repr?) supposed to be executable code (or close to it?).

[2021-04-28 17:55] anj-s commented on #57138
cc @msbaines

[2021-04-28 17:55] soulitzer opened #57166 "gradcheck fails for slow mode but succeeds for fast mode for 'sort' and 'msort' on large sample inputs"
To replicate:
1. Update sort's OpInfo to have `gradcheck_fast_mode=False`
3. run `python test/test_ops.py -k sort`

edit: The issue may be that the perturbing the inputs by the default value of eps 1e-6 changes its sorted order. Fast mode is succeeding because the Jacobian matrix is extremely large (8000 x 8000) and only a small percentage of elements are different ( because the Jacobian of a sort

[2021-04-28 17:58] albanD commented on #34507
This has been solved by the split to InplaceOrView thanks to @ailzhang  !!

[2021-04-28 17:58] #34507 closed

[2021-04-28 18:06] zou3519 commented on #57118
@HangJie720 could you tell us a bit more about your use case for VLOG?

[2021-04-28 18:09] discort opened #57167 "Failed to build pytorch on mac os. Building pthreadpool"
## 🐛 Bug

Failed to build on mac os 10.12.6

## To Reproduce

Steps to reproduce the behavior:

[code]

[code]

## Environment

[code]

## Additional context

<details>
  <summary>Full logs</summary>

[code]
</details>

cc @malfet @seemethere @walterddr

[2021-04-28 18:26] gchanan commented on #57122
I could reproduce this on `1.8.1+cu111`, doesn't reproduce on 1.7.1.

[2021-04-28 18:30] ejguan commented on #56886
Thank you @Aradhya-Tripathi for the feature request.
We are currently working on a new design of DataLoader, which will easily resolve this problem. Please check the RFC #49440 and we would appreciate if you can provide feedback on that.
And, in terms of your pitch, I don't think it's doable since each `Subset` shares the custom dataset instance. Even if you add a `split_index` to each `Subset`, y

[2021-04-28 18:38] discort commented on #57167
Pytorch source and submodules are already updated via
[code]
output:
[code]

Any ideas?
@ezyang @malfet

[2021-04-28 18:39] ezyang commented on #13176
Let's guess it's not.

[2021-04-28 18:39] #13176 closed

[2021-04-28 18:40] wanchaol commented on #57138
@anj-s by scripting this function, you should annotate your input arguments, otherwise torchscript will by default treat this argument as tensor, do it something like this:
[code]

[2021-04-28 18:41] ezyang commented on #56608
It is certainly true that not knowing how many levels of derivative you are going to do can negatively impact performance. I tried to find an issue for this, but I couldn't find one. @cpuhrsch maybe it would be good to file a fresh issue for this.

[2021-04-28 18:42] anj-s opened #57172 "Profiling within a callback function does not raise an error but fails to execute a print statement"
## 🐛 Bug

Using `torch.autograd.profiler` within a RPC callback function results in a couple of different behaviors that are confusing:
1. Fails to execute a print statement within the callback
2. Does not produce a profiler output file
3. Does not raise an error
4. I've also seen runs hang in certain setups that use a profiler in the callback function though I was not able to reproduce it in this

[2021-04-28 18:43] anj-s commented on #57172
cc @mrshenli @msbaines

[2021-04-28 18:57] ejguan commented on #13053
For old DataLoader, I kind like this OOP design to register custom behavior with [`collate_fn`](https://github.com/pytorch/pytorch/blob/911852ffe2e032ac2e97db3ec46637ee8e147c9e/torch/utils/data/_utils/collate.py#L43) and [`pin_memory`](https://github.com/pytorch/pytorch/blob/911852ffe2e032ac2e97db3ec46637ee8e147c9e/torch/utils/data/_utils/pin_memory.py#L48) for custom data type. But, I don't think

[2021-04-28 19:09] mrshenli opened #57176 "test_barrier_timeout_global (__main__.TestDistBackendWithFork) is flaky on MacOS"
https://app.circleci.com/pipelines/github/pytorch/pytorch/311990/workflows/2b2fbb72-b613-4986-8842-eccd93e7cdae/jobs/12945609/steps

This seems to be rare so far. Hence, not disabling it yet.

[code]

[code]

[2021-04-28 19:10] gchanan commented on #57122
bisected it to https://github.com/pytorch/pytorch/pull/46859.

[2021-04-28 19:12] mrshenli commented on #56690
Two more instances. Wondering why this issue didn't disable those tests though.

https://app.circleci.com/pipelines/github/pytorch/pytorch/311990/workflows/2b2fbb72-b613-4986-8842-eccd93e7cdae/jobs/12948992

https://app.circleci.com/pipelines/github/pytorch/pytorch/312185/workflows/1acc0928-0fb6-4472-b415-b324957d49da/jobs/12953722

[2021-04-28 19:25] walterddr commented on #57072
I think we encountered some system piping performance issue before when MAX_JOBS were set too high last year. But not sure why this doesn't occur to other binary job or nighlty jobs.
Will
* dig into other binary CI pipelines
* try and see if using nproc/2 reduces flakiness.

@seemethere could you share any comments/suggestions you might have on this?

[2021-04-28 19:35] AndrewZhaoLuo opened #57178 "MaxPool2D Returns Wrong Shape With Ceil_Mode"
## 🐛 Bug

The documentation is clear on the output shape given parameters to the function:

https://pytorch.org/docs/stable/generated/torch.nn.MaxPool2d.html

However the behavior does not match the documentation.

## To Reproduce

Run
[code]

## Expected behavior

By my calculation the result should be torch.Size([1, 3, 17, 17]) based on the documentation.

For example for H_out, plug in padding[

[2021-04-28 19:42] SsnL commented on #13053
Related (and possibly duplicate of) https://github.com/pytorch/pytorch/issues/33181

[2021-04-28 20:02] malfet commented on #57167
[DISPATCH_APPLY_AUTO][https://developer.apple.com/documentation/dispatch/dispatch_apply_auto] is not available on 10.12, and also Mac OS 10.12 is unsupported as of October 2019. Is there a reason why you can't migrate to newer OS?

[2021-04-28 20:02] #57167 closed

[2021-04-28 20:03] eqy commented on #57178
Can you clarify how you get 17? With a kernel size of [1,1] and stride of [2,2] the first spatial output [0,0] comes from input [0,0] (the second output [0, 1] from input [0, 2]) increasing until we get to output [0, 15] and input [0, 30]. Note that [0,32] is outside of the bounds of the input and since it is the _start_ of the next location, `ceil_mode` does not affect the computation here. The s

[2021-04-28 20:11] awf commented on #42368
Should we expect this to reach TorchScript?   I.e. today annotating a function using vmap with `@script` produces an error:
[code]

[code]

[2021-04-28 20:17] rohan-varma commented on #56690
@mrshenli I have a fix for this at https://github.com/pytorch/pytorch/pull/56963

[2021-04-28 20:17] discort commented on #57167
`pthreadpool` dependency is added on mobile build, so disabling `USE_PYTORCH_QNNPACK` solved the issue.

The final command to build:
[code]

Thanks for sharing the link

[2021-04-28 20:28] zou3519 commented on #42368
This is not expected to work with TorchScript right now

[2021-04-28 20:38] Lilyjjo commented on #55749
@fatcat-z Can you provide more context on why you're trying to pass in a torch::jit::Module into the custom op? If you're needing to access internal state of the Module, you can try calling the custom operator from within the Module.

Instead of passing in the torch::jit::Module as an argument:
[code]
You can try calling the op from within the module:
[code]

[2021-04-28 20:44] turian commented on #52181
I am currently organizing a NeuroIPS competition, in which participants might be submitting pytorch models to our evaluation server for the leaderboard.

**Is there a secure way of serializing/loading untrusted pytorch models?**

Are there alternatively to pickle, which can be insecure? Is there a pytorch model format we can insist upon that is secure?

I believe that ONNX + tensorflow use protobu

[2021-04-28 20:46] sternj opened #57185 "Segmentation fault with ITIMER_REAL"
## 🐛 Bug

PyTorch throws SIGSEGV when running alongside timer on MacOS x86

## To Reproduce

Steps to reproduce the behavior:
1. Run code located [here](https://gist.github.com/sternj/a78fbb41819c64906630a863d3be9035) on Mac x86

Here is the stack trace from the crashed thread:

[code]

## Expected behavior
Either the program should run without issue or should pass up the SIGALRM.

## Environment

[2021-04-28 20:46] Lilyjjo commented on #54960
closed with #55153

[2021-04-28 20:46] #54960 closed

[2021-04-28 20:47] pearu commented on #56906
`str(obj)` output can be anything. Ideally, `repr(obj)` should give a string that can be evaluated (say, using `eval`) to an object that is equivalent to `obj`. Although, in practice, the ideal output of `repr` is rarely implemented for custom types, and almost never mapped through `eval/exec` to construct custom objects. I think any convention is ok, as long as it is used consistently.

@gchanan,

[2021-04-28 20:49] malfet commented on #57108
Can you please share output of `python3 -mtorch.utils.collect_env` (namely, what compiler are you using to build this?)

[2021-04-28 20:50] albanD commented on #57157
Thanks for the full description!

So in your use case, you actually register a backward hook on a Module but then backpropagate only part of the forward pass.
What do you actually expect to happen here? The hook not to be called? Or called only with the gradients for the inputs?

[2021-04-28 20:54] AndrewZhaoLuo commented on #57178
Yeah it makes sense why it would be [16, 16], there probably needs to be some clarification on the behavior. Also, probably good to check onnxruntime for this edge case too. It has similar claimed behavior: https://github.com/onnx/onnx/blob/master/docs/Operators.md#MaxPool.

I personally can't try onnx since I only have access to an m1 mac and onnxruntime doesn't support m1 macs right now.

[2021-04-28 21:01] albanD commented on #56608
You can already use `torch.is_grad_enabled()` (or the corresponding c++ API) to see if you are in a context where you might end up creating order + 1 derivative.

[2021-04-28 21:21] ezyang commented on #56608
@albanD but there is no way to say, "I guarantee that I am only going to do two differentiations" at the point when you are doing the initial forwards

[2021-04-28 21:22] xwang233 commented on #57178
Likely a known issue. See https://github.com/pytorch/pytorch/issues/45357 https://github.com/pytorch/pytorch/pull/46558

cc @heitorschueroff

[2021-04-28 21:22] albanD commented on #57100
Hi,

There is no such feature right now no :/
The graph is pretty deep in c++ I'm afraid.

[2021-04-28 21:27] Lilyjjo opened #57193 "[package] error on `__import__`"
## 🐛 Bug

An internal user is having the following stack trace thrown:
[code]
The origin of the Attribute error can be tracked to PR #55153

When developing #55153 I saw these errors pop due to different versions of python structuring their AST nodes differently

[2021-04-28 21:35] vivekmig commented on #57157
We'd like the hook to still get called here, since the backpropagation is starting from (a function of) the module output, with grad_output corresponding to the selected elements. The current behavior with register_backward_hook seems to be this way (calling the hook with `(tensor([[1., 0.],[1., 0.],[1., 0.],[1., 0.]]),)` as grad_output in this example), which seems reasonable.

On the other hand,

[2021-04-28 21:40] PierreGtch opened #57194 "Dynamic casting fail"
## 🐛 Bug
The casting of a boolean tensor to a float tensor fails under certain conditions

## To Reproduce

Steps to reproduce the behavior:

[code]
 Output :
[code]
I got the same result with `c`'s dtype set at any other type of integer or float.

## Expected behavior
I'm not sure if this type of casting is expected to be supported but the error message said I should report the bug.
If supported,

[2021-04-28 21:41] driazati commented on #13079
Either way these shouldn't be failures anymore since the runner is supposed to skip tests with failed downloads

https://github.com/pytorch/pytorch/blob/4cb534f92ef6f5b2ec99109b0329f93a859ae831/torch/testing/_internal/common_utils.py#L1653-L1661

[2021-04-28 21:57] SabbirAhmedAdor629 commented on #56909
Hi, I want to work on this issue.

[2021-04-28 21:59] SabbirAhmedAdor629 commented on #55577
Thanks mate

[2021-04-28 22:01] albanD commented on #57157
Ok,
I guess we can relax that error and add to the doc "the backward hook will *only* be called if the backward pass is computing both the gradient wrt to the outputs and inputs. If a particular backward only compute gradients for inputs or only for outputs, the hook won't be called.
In the case where no input requires grad, the hook will be called as soon as the gradient for the output is availab

[2021-04-28 22:04] albanD commented on #56608
Indeed, but I'm not sure if we actually have use cases that need that.
A separate issue to discuss this sounds good in any case.

[2021-04-28 22:09] david-wahlberg commented on #44814
I have finally succeeded in compiling pytorch (libtorch) statically, and then linking it into my project and got that running as it should. The final trick was the hacks I did in the Export.h file mentioned above. Thanks @peterjc123 for your expertise and tips along the way. :)

[2021-04-28 22:21] samisnotinsane commented on #43227
I tried this and it results in the following error:

`RuntimeError: transform: failed to synchronize: cudaErrorLaunchFailure: unspecified launch failure`

PyTorch: 1.8.1
Platform: Windows 10
Device: GeForce GTX 1050

[2021-04-28 22:25] theevann commented on #56747
Same issue here. This is quite critical !
I have tested on Tesla P40, Titan RTX and GTX 1080 and all are impacted, but V-100s seem to work fine.
Hope to see a fix soon !

[2021-04-28 22:28] seemethere opened #57206 "Nightly CUDA 11.1 Libtorch Builds failing, undefined symbol '__gmon_start__'"
Currently failing with:
[code]

Link: https://app.circleci.com/pipelines/github/pytorch/pytorch/311784/workflows/e3b487d6-fb46-4a5d-a2d5-22eec328b678/jobs/12932228

cc @ezyang @gchanan @zou3519 @bdhirsh @jbschlosser @anjali411 @malfet @seemethere @walterddr @ngimel

[2021-04-28 22:32] driazati commented on #57206
@malfet Do you think this might be related to building with debug info turned on? I'm testing out #57190 and https://github.com/pytorch/builder/pull/727 which only enable debug info for `libtorch_cpu.so` that should fix this if that's the case

[2021-04-28 22:34] seemethere opened #57209 "macOS conda nightlies failing when importing torch, 'Library not loaded: @rpath/libmkl_intel_lp64.1.dylib'"
Nightlies started failing for macOS conda builds with:
[code]
link to logs: https://app.circleci.com/pipelines/github/pytorch/pytorch/308576/workflows/79d14802-3bda-4199-9fb9-a2c3e9808188/jobs/12765737
cc @ezyang @gchanan @zou3519 @bdhirsh @jbschlosser @anjali411 @malfet @seemethere @walterddr

[2021-04-28 22:34] malfet commented on #57206
@driazati might be, although unlikely, as debug symbols should not be mapped in VM, i.e. should not affect PLT limits. But out of abundance of caution, can you please try kicking the build with option disabled?

[2021-04-28 22:42] malfet commented on #57132
There are no CUDA-9.0 PyTorch-1.5.1 binaries, but you can try building it from source.

P.S. Please use issues to report bugs against PyTorch, and https://discuss.pytorch.org/ for general questions

[2021-04-28 22:42] #57132 closed

[2021-04-28 22:45] seemethere commented on #56882
Closing https://github.com/pytorch/pytorch/issues/57209 in favor of this one

[2021-04-28 22:48] seemethere commented on #57209
Closing in favor of https://github.com/pytorch/pytorch/issues/56882

[2021-04-28 22:54] aocsa opened #57211 "Size of a CSR tensor must be of length 2"
## Issue description

Size of a CSR tensor must be of length 2.  This is one of the invariance for the CSR layout, currently there are no checks for this case and size property for CSR tensors accepts len(size) > 2. See the following example:

## Code example

When using the current master:

[code]
Note:
The issue was mentioned here https://github.com/pytorch/pytorch/pull/56744#discussion_r6225701

[2021-04-28 22:55] cpuhrsch commented on #56608
I'll add to my todo list to write up a separate issue. One use case is [higher order derivatives for filters](https://github.com/pytorch/audio/pull/1441) (see the timings).

[2021-04-28 22:58] mrzzd commented on #57158
It seems if you sleep (say for 100ms) between rpc requests, the delay goes away. So I guess the problem is with the overlap of requests. I tried increasing number of workers on tensor pipe, but did not help. @lw

[2021-04-28 23:04] seemethere commented on #56882
Regarding the original failure this seems to be related to conda-forge, when I did a `s/conda-forge/nvidia/` to pull `cudatoolkit=11.1` from `-c nvidia` it appears to work:
<details>
<summary>Click for logs</summary>

[code]

</details>

[2021-04-28 23:14] SplitInfinity commented on #54573
Turns out `Tracer` instances are not pickable:
[code]

This is likely due to the `_autowrap_search` attribute of `Tracer`:
https://github.com/pytorch/pytorch/blob/63d54874e7f60a2ff768131896cd44cb562f4993/torch/fx/symbolic_trace.py#L141

[2021-04-28 23:16] soumith commented on #57109
the `kaiming_init` is used for convenience, but basically the sqrt(5) goes in and gets simplified in the formula for `gain` as `sqrt(2 / (sqrt(5) * sqrt(5))` which is `sqrt(1/3)`.

The overall logic simplifies to this equivalent logic:

https://github.com/pytorch/pytorch/blob/v0.4.1/torch/nn/modules/conv.py#L40-L47

[2021-04-28 23:17] malfet commented on #57209
Actually, I think there are very likely the same (missing MKL dependency)

[2021-04-28 23:20] #56676 closed

[2021-04-28 23:20] soumith commented on #57109
relevant PR: https://github.com/pytorch/pytorch/pull/9038#pullrequestreview-134370519

[2021-04-28 23:22] suo commented on #54573
I'm not sure what that functionality is for. @jamesr66a any thoughts? I think it would be good to make `Tracer` pickleable so that custom tracers will serialize correctly, anything we can do to avoid storing modules and the like on `Tracer`?

[2021-04-28 23:27] vivekmig commented on #57157
Yes, this sounds good, thanks @albanD !

[2021-04-28 23:33] jamesr66a commented on #54573
It should be fine to serialize those as string module qualnames so long as they resolve to the correct thing on the loading process side. I'm not exactly sure what we have to do to define the semantics to ensure that it does something the user expects

[2021-04-28 23:34] seemethere commented on #57209
https://github.com/pytorch/builder/pull/730 might resolve this, will close after next nightly build

[2021-04-28 23:36] soumith commented on #57109
Uniform distribution's stdv is basically multiplied by sqrt(3) when you draw: https://physics.nist.gov/cuu/Uncertainty/typeb.html and https://physics.stackexchange.com/questions/110242/why-is-uncertainty-divided-by-sqrt3

If you notice in my "equivalent logic" [snippet](https://github.com/pytorch/pytorch/blob/v0.4.1/torch/nn/modules/linear.py#L48-L52), one thing worth noticing here is that by defa

[2021-04-28 23:53] emeryberger commented on #57185
Reproduced on my machine as well. I get no segfaults when I run with version 1.5.1, but with 1.8.1, it segfaults on most executions.

[code]

[2021-04-29 00:10] walterddr commented on #56210
are these considered as "Type Aliases" in the unsupported section? https://pytorch.org/docs/stable/jit_language_reference.html#unsupported-typing-constructs. I can take a look into this as I am working on type hint generally

[2021-04-29 00:18] tugsbayasgalan commented on #56909
Assigned it to you! Let me know if you need help

[2021-04-29 00:48] gmagogsfm commented on #56676
This has been fixed. Please try again, let me know if additional help is needed

[2021-04-29 00:54] gmagogsfm commented on #56210
Hi @walterddr,

I think PEP-585 isn't exactly the same as "type aliases" in that section. For example, in older Python versions `list[str]` (ie. parameterized generic) isn't legal at all. Thus TS never had support for it. Now that Python is making it legal. So this is more about new functionality.

Glad to hear you are interested in working on this! Feel free to reach out to me if you need someone

[2021-04-29 01:28] ProgrammerPeter commented on #57106
@skyline75489 Thanks a lot! After I check `torch/csrc/jit/codegen/fuser/cuda/resource_strings.h`, I found it different from which in https://github.com/pytorch/pytorch/blob/8134806e236e73b6e84f1daa0aebec3ab7ee3928/torch/csrc/jit/codegen/fuser/cuda/resource_strings.h  (I dont know why)
I re-fetch the remote master branch and now it can be built normally.

[2021-04-29 01:28] #57106 closed

[2021-04-29 01:52] pritamdamania87 commented on #56772
@Bonsen Can you provide complete self contained repros that we can run on our end?

[2021-04-29 02:32] #57122 closed

[2021-04-29 02:32] ultrons opened #57230 "Implementation of Self Attention vs Encoder Decoder Attention Causing Early Evaluation for PyTorch/XLA"
## 🐛 Bug

The following code snippet from multihead attention module using tensor.equal method to compare query, key and value to determine if the attention module is being used as self-attention or encoder-decoder attention:
https://github.com/pytorch/pytorch/blob/master/torch/nn/functional.py#L4783

Use of .equal op to make this determination causes early evaluation when used with pytorch-xla.
I

[2021-04-29 02:33] HangJie720 commented on #57118
for example in pytorch1.8.1/caffe2/operators/conv_op_cudnn.cc: line 262
VLOG(1) << "CUDNN Convolution: float16_compute specified and "
                << "supported, input data is Half - using Half "
                << "compute.";
how to run op test by calling torch.nn.conv2d() to print VLOG(1) message?

[2021-04-29 02:54] ngimel commented on #57118
caffe2 is deprecated.

[2021-04-29 03:23] skyline75489 commented on #57108
Yea sorry. I'm using GCC 5.4:

[code]

[2021-04-29 03:39] malfet commented on #57209
Very likely it will, as problem comes missing `intel-openmp` dependency

[2021-04-29 03:53] lenisha commented on #37068
Hi all,
The feature is now available https://pytorch.org/tutorials/intermediate/ddp_tutorial.html , It supports supports Gloo backend, FileStore and TcpStore. Could you give it a spin and let us know how did it go?
@wrrogers @vukovicnikola @cheny1ming @siddhinath081 @Ownmarc @lexionbear @yeonmin @AlbertoCenzato @y78h11b09   @XiaomoWu @jounjieli @N3bul0 @abodh @ruslanvasylev @danibendi @lironmo @pe

[2021-04-29 04:51] KOLANICH commented on #52181
https://github.com/CensoredUsername/picklemagic may be helpful to implement an own loader for pth files in a controlled way.

[2021-04-29 05:04] iVishalr opened #57242 "PyTorch Installation for Windows using Conda gives unrecognized arguments:nvidia"
## 📚 Documentation

I was installing PyTorch with cudatoolkit 11.1 on Windows using Conda.

The command  given in website,

`conda install pytorch torchvision torchaudio cudatoolkit=11.1 -c pytorch nvidia`

when executed causes an error saying :

`conda-script.py: error: unrecognized arguments: nvidia`

![Capture](https://user-images.githubusercontent.com/42243737/116504464-f2cdb500-a8d5-11eb-8985

[2021-04-29 05:30] krishnanNuance commented on #56905
ah ok! That wasn't me.. it was the pytorch bot.. I have corrected it.

[2021-04-29 06:23] lucky-xu-1994 commented on #42622
@ak9250  Hi! how to solve this problem? I have the same question with you.

[2021-04-29 06:25] HangJie720 commented on #57118
@ngimel
third_party/kineto/libkineto/src/output_json.cpp：line 354,
VLOG(2) << memcpy.correlationId << ": MEMCPY";

pytorch/c10/core/CPUAllocator.cpp
VLOG(1)
<< "There is not caching allocator registered for CPU, use the default allocator instead.";
these are not deprecated, how to print?

[2021-04-29 06:50] xcwanAndy commented on #57100
@albanD Would there be any plan for this feature? I guess it's becoming popular.

[2021-04-29 06:52] ML-Mr-J commented on #47039
so which way did you choose compiling pytorch or pip 1.8.x with cudnn111 from official website of torch.

[2021-04-29 07:11] skyline75489 commented on #57242
Yea, this is introduced by https://github.com/pytorch/pytorch.github.io/pull/688

[2021-04-29 07:13] skyline75489 commented on #57194
I can't reproduce this with latest master. Can you try this with 1.8.1?

[2021-04-29 08:02] torshie commented on #56919
I ran into similar issues with libtorch too. I don't quite understand why a copy of libgomp is bundled into the binary distribution.

IMO, linking against the libgomp in the OS should be good enough, unless libtorch is doing something really bizarre.

[2021-04-29 08:12] rafi-cohen commented on #56882
Replacing `conda-forge` with `nvidia` indeed seems to work. However, I'm not sure the problem is the `cudatoolkit` package. The issue still occurs if `cudatoolkit` is grabbed from `nvidia`, but other packages from `conda-forge`.

<details>
  <summary>Click for logs</summary>

[code]

</details>

[2021-04-29 08:28] seacj opened #57268 "torchaudio.transforms.TimeMasking is inline"
## 🐛 Bug

The function torchaudio.transforms.MelSpectrogram transforms the Tensor inline without expectation.

## To Reproduce

Steps to reproduce the behavior:

import matplotlib.pyplot as plt
import librosa
import torchaudio
import torch
fmask = torchaudio.transforms.TimeMasking(time_mask_param=5)

BN = 2
max_frames = 200
data = torch.rand((BN, max_frames*160+240))
mt = torchaudio.transforms.Mel

[2021-04-29 09:03] asnota commented on #56882
I'm not using conda in Colab environment, however I have the same issue - it appeared on Friday 23 of April and is not resolved yet. In my case, I need to use XLA and to install it, a nighty version of pytorch is used:
`!curl https://raw.githubusercontent.com/pytorch/xla/master/contrib/scripts/env-setup.py -o pytorch-xla-env-setup.py
!python pytorch-xla-env-setup.py --version nightly --apt-package

[2021-04-29 09:06] PierreGtch commented on #57194
I tried with pytorch 1.8.1 and I can't reproduce it either with this version

Le jeu. 29 avr. 2021 à 09:13, Chester Liu ***@***.***> a
écrit :

[2021-04-29 09:25] charliebudd opened #57269 "Size overrides argument in "_like" tensor creation ops"
## 🚀 Feature
The ability to pass size overides to certain dimensions when creating new tensors using the "_like" functions. For example...

[code]

## Motivation
I find the current situation a bit clunky as the new size N may be either smaller or larger than the current size of the target dimension leading to this....

[code]

This is worse when supporting tensors with an arbitrary number of trail

[2021-04-29 09:49] myuanqing opened #57271 "RuntimeError after optimize_for_mobile"
Hi

I am trying to use **optimize_for_mobile** from **torch.utils.mobile_optimizer** to optimize LSTM. However, after being optimized, the model won't work. The error message is
![image](https://user-images.githubusercontent.com/40328758/116532425-cf752b00-a912-11eb-8481-ebb9cb6e2093.png)
I am using pytorch1.6.0+cu101, the model to be optimized is from an older version. I am wondering if it is the

[2021-04-29 10:03] Lezcano opened #57272 "Consistent treatment of non-differentiability in linear algebra operations"
[Summary of offline discussion]
Most of the factorisations that PyTorch has (LU, Cholesky, SVD, eigendecomposition...) have differentiability problems on some matrices. Those that are spectral decompositions (SVD, eig, eigh) have problems at points with repeated eigen / singular values.
The others are not differentiable when the matrices are not full rank.

In al the scenarios, the problematic set

[2021-04-29 10:14] mruberry commented on #57121
@heitorschueroff Is this a regression from PyTorch 1.7 or 1.8, or was there performance the same or even slower?

[2021-04-29 10:15] rafi-cohen opened #57273 "`Warning: Leaking Caffe2 thread-pool after fork` when using `DataLoader` with `num_workers>0` and `pin_memory=True`"
## 🐛 Bug

When using a `DataLoader` with `num_workers>0` and `pin_memory=True`, warnings trigger about `Leaking Caffe2 thread-pool after fork`. This warning shows multiple times, and populates the screen.
The warning doesn't trigger when either `num_workers=0` or `pin_memory=False`.

## To Reproduce

Steps to reproduce the behavior:

1. Run the following:
[code]

### Output:
[code]

## Expected be

[2021-04-29 10:35] linminhtoo commented on #16417
[code]

Issue still exists :(

Tried all of these:
- gc.collect()
- torch.cuda.empty_cache()
- halve the batch size from 4 to 2
- increase system RAM (i'm on a compute cluster so I can do this)

**What is strange, is that the EXACT same code ran fine the first time. When I tried to run the same code with slightly different hyperparams (doesn't affect the model, things like early-stop patience) it

[2021-04-29 10:51] SergioSanchezUltralytics commented on #56703
Hi @SS-JIA, thanks for replying. Here's the full [Mac](https://jpst.it/2uxYD) output. Interestingly, if I run the same command for a second time I get [this](https://jpst.it/2ux_w) other output.

[2021-04-29 11:04] pearu commented on #57272
Sure, this statement is useful only if you care about the set of all matrices. However, there exist applications that work within the domain of this "problematic set" (recall low-rank matrices, etc) making the set measure non-zero for these applications. Another example: the set of square matrices has measure zero within the set of all the rectangular matrices. Same for matrices with real values i

[2021-04-29 12:22] sylveon commented on #54382
Oops, I'm the one that broke that in https://github.com/microsoft/STL/pull/1336

[2021-04-29 12:42] Aradhya-Tripathi commented on #56886
Ok sure,
Makes sense ;)

[2021-04-29 12:42] #56886 closed

[2021-04-29 12:58] albanD commented on #57100
Hi,

This is definitely something we would like to have in one form or another. See also https://github.com/pytorch/pytorch/issues/28997 for a similar request.
The main problem is that there is no obvious API for this and no simple implementation. So that would be a fairly big project to add.

[2021-04-29 13:04] #57242 closed

[2021-04-29 14:54] ZhiyuanChen opened #57278 "Attributes consistency in Sampler and DistributedSampler"
## 🚀 Feature

## Motivation

In https://github.com/pytorch/pytorch/blob/master/torch/utils/data/sampler.py, the `dataset` attribute is named as `data_source`, while in https://github.com/pytorch/pytorch/blob/master/torch/utils/data/distributed.py, the `dataset` attribute is named as `dataset`.

This inconsistency is causing troubles, e.g. when using custom batch sampler, I have to determine if I s

[2021-04-29 15:49] turian commented on #52181
@KOLANICH thank you but that repo is five years old with a single contributor. It's hard to trust abandonware that might not even work with the latest pickle format.

[2021-04-29 15:54] ezyang commented on #54646
I guess the main benefit is we're already paying the cost for profiler, so it's no cost when this is turned off. Otherwise they're basically equivalent (modulo a slight perf hit from your commit).

[2021-04-29 15:56] janeyx99 commented on #57111
I believe that _should_ be the default behavior, as we default to using `cuda_select_nvcc_arch_flags` when env variables aren't specified. Code [here](https://github.com/pytorch/pytorch/blob/master/cmake/public/utils.cmake#L362-L382).

[2021-04-29 16:25] VibhuJawa commented on #54297
Should be closed by https://github.com/pytorch/pytorch/pull/55033 , closing issue, Thanks a lot @BowenBao  for the work.

[2021-04-29 16:25] #54297 closed

[2021-04-29 16:25] #13123 closed

[2021-04-29 16:25] gchanan commented on #13123
closing because too old.

[2021-04-29 16:28] Lilyjjo commented on #57193
The issue is being caused by the dynamic use of `__import__` from below:
[code]

The way #55153 parses the AST nodes assumes that all `__import__`s are build out of constant instead of dynamic argument values. This causes the AST parser to fail

[2021-04-29 16:31] gchanan commented on #57268
do you mean inplace?

[2021-04-29 16:31] gchanan commented on #57194
closing because the issue appears to be fixed.

[2021-04-29 16:31] #57194 closed

[2021-04-29 16:34] gchanan commented on #57269
you can use `input_tensor.new_zeros(size,...)`.

[2021-04-29 16:34] #57269 closed

[2021-04-29 17:14] suo commented on #57193
Dynamic argument values won't be capturable by our dependency resolution, so it's fine to just miss them (or issue a warning).

[2021-04-29 17:15] imaginary-person commented on #57273
It's supposed to be normal behavior. The Caffe2 thread-pool is leaked & recreated in child processes after fork, in order to prevent a segfault, which otherwise occurs while handling data-structures pertaining to the Caffe2 thread-pool of the parent process, that no longer exists in the child process, which is single-threaded right after fork).

Perhaps, the warning message can be revised, so that

[2021-04-29 17:18] mrzzd commented on #57172
I wrapped "with" block (line 39) in your repro by a try-except, and I can see there is an exception: `TypeError: 'module' object is not callable`
But I can not find a module instance in the code.

[2021-04-29 17:30] lithuak commented on #57111
@janeyx99 Just to make sure that I understand: you are saying that by default it should act as if we told it to compile for locally found cards only, e.g. in my case as if  TORCH_CUDA_ARCH_LIST="7.5" was set?

[2021-04-29 17:34] janeyx99 commented on #57111
Yes, I believe so. I'm not sure why it's not true for your case. (You don't have `CUDA_ARCH_NAME` set in your environment, right?)

[2021-04-29 17:35] guangy10 commented on #57271
Thanks for reporting the issue. Can you provide a bit more information about your setup? We will be looking into it. cc: @kimishpatel @JacobSzwejbka

[2021-04-29 17:40] kimishpatel commented on #57271
If you can provide minimal repro that would be great.

[2021-04-29 17:43] KOLANICH commented on #52181
I have recently used it, not for pytorch files though. The stuff having date of this year hasn't worked, that library has.

[2021-04-29 17:44] hamid-ramezani opened #57284 "layer identifier in powerSGD_hook"
## ❓ Questions and Help

Hello everyone,

I'm looking for an identifier that specifies a neural net's layer in [this](https://github.com/pytorch/pytorch/blob/master/torch/distributed/algorithms/ddp_comm_hooks/powerSGD_hook.py).

Also, I would like to know if [this](https://github.com/pytorch/pytorch/blob/master/torch/distributed/algorithms/ddp_comm_hooks/powerSGD_hook.py#L364) loop iterates over a

[2021-04-29 17:51] seemethere commented on #57284
I think this would be a better question for the forums

https://discuss.pytorch.org/

Closing, in favor of posting on the forums

[2021-04-29 17:51] #57284 closed

[2021-04-29 17:55] mrzzd commented on #57278
Changing attribute name could break existing user code. One solution is to define an additional property to say Sampler with the name "dataset".

[2021-04-29 17:56] lithuak commented on #57111
Nope... 🤷

[2021-04-29 18:02] lithuak commented on #57111
@janeyx99 Could you tell me how exactly can I enable/access full build log? So that we can look into actual flag ended up being passed to nvcc for both set-ups?

[2021-04-29 18:05] nikky4D opened #57286 "conda install error"
## 🐛 Bug

<-- Conda install error with channel name nvidias. -->

## To Reproduce

Steps to reproduce the behavior:

1. New conda environment on windows environment
2. Do command: conda install pytorch torchvision torchaudio cudatoolkit=11.1 -c pytorch nvidia
3. Error produced: usage: conda-script.py [-h] [-V] command ...
conda-script.py: error: unrecognized arguments: nvidia

cc @ezyang @gchanan

[2021-04-29 18:19] ilia-cher commented on #57172
Thanks for reporting, we will be deprecating the experimental support of profiling of RPC calls (remote tasks) since 1.9 and will remove it in later releases. The recommendation is, if you also need to profile remote tasks, profile them explicitly inserting a profiling context in the remote task.

[2021-04-29 18:21] malfet commented on #57286
Hmm, I believe the command should be `-c pytorch -c nvidia`

[2021-04-29 18:28] malfet commented on #57286
This should update the doc: https://github.com/pytorch/pytorch.github.io/pull/690

[2021-04-29 18:30] malfet commented on #56882
Ok, this happens because pytorch package is getting built against `mkl-2021.2` from conda-forget, which contains those `.so.1` links, compared to `mkl-2020.2` available from conda.

[2021-04-29 18:30] #57006 closed

[2021-04-29 18:42] rohan-varma commented on #57172
@ilia-cher this repro indeed profiles remote task directly (ran over `callback_with_profiler`) and that is something we should support. The bug reported here doesn't seem to be about sending profile information over the wire. Should we reopen the issue?

[2021-04-29 18:43] seemethere commented on #57286
Fixed by https://github.com/pytorch/pytorch.github.io/pull/690

[2021-04-29 18:43] #57286 closed

[2021-04-29 18:56] mthrok opened #57289 "torch.nn.utils.weight_norm breaks TorchScript support"
## 🐛 Bug

When a Module object is passed to `torch.nn.utils.weight_norm`, it can no longer be scripted.

## To Reproduce

[code]

[code]

## Expected behavior

The normalized Module should support TorchScript as well.

## Environment

[code]

## Additional context

- I am trying to convert a pre-trained model from `fairseq`, so I have no control on how model parameter is initialized, but that does

[2021-04-29 18:59] ilia-cher commented on #57172
ok, might've missed that, reopening;

So, overall, profiler is not and should not be aware (at least at the moment) whether this is a remote task or not; the logic of profiler should not be affected by that.

The trace is not produced because it's completely empty (we should produce the file though, will follow up on empty traces).
As of why there's no output - maybe @rohan-varma can also weigh in

[2021-04-29 19:10] rohan-varma commented on #57172
@anj-s I think there's a typo in the code, profiler should be invoked with

`with torch.autograd.profiler.profile(use_cuda=True)`, not `with torch.autograd.profiler(use_cuda=True)`.

Also we should add a `wait` to `return_future.then` which helps raise the error @mrzzd mentioned.

With these 2 changes I'm able to get the profiler to work, although get another error when exporting trace:
[code]

th

[2021-04-29 19:11] #56527 closed

[2021-04-29 20:08] rohan-varma commented on #55322
Done by https://github.com/pytorch/pytorch/pull/56222

[2021-04-29 20:08] #55322 closed

[2021-04-29 20:10] malfet commented on #56882
This should fix it: https://github.com/pytorch/builder/pull/750

[2021-04-29 20:20] ilia-cher commented on #57172
Thanks @rohan-varma ! Yes, this bug with empty trace will be fixed, will send a PR soon.

[2021-04-29 20:47] soulitzer opened #57301 "Avoid code repeat in create sample inputs for sort/msort"
_Originally posted by @albanD in https://github.com/pytorch/pytorch/pull/57192#r623359871_

[2021-04-29 20:47] ParadoxRobotics commented on #56919
I'm currently trying to compile and install Libtorch from release v1.8.1
There should be no error since it use the GOMP from my install. Theoretically.
I will test if by linking the libcomp against the os make a difference using the current prebuild.

[2021-04-29 22:26] Tsingularity commented on #3356
thanks for the example!

I am just wondering what's the last line of the code doing? when and why do we need to call `finish_sequence()`? If without it, will the dynamic loader work as intended?

Thanks!

[2021-04-29 22:49] #57166 closed

[2021-04-29 23:22] pritamdamania87 commented on #55256
@mrzzd I was wondering if we can build out the distributed pipeline support in incremental steps providing additional value to the user as we go:

1. For the first step, we keep the API the same and only support an `nn.Sequential` but add support for pipelining across process/hosts.
2. As a second step, we modify the API to accept a generic `nn.Module` provided by the user which they have manually

[2021-04-30 00:27] pritamdamania87 commented on #53952
@stas00 The stack of PRs starting at https://github.com/pytorch/pytorch/pull/55441 have implemented this proposal. Thought I'd share this with you to see if you have any early feedback for us :) Thanks again for all the feedback so far!

[2021-04-30 00:42] ailzhang opened #57326 "Renaming Autograd dispatch keys to ADCreateGraph"
After we splitted inplace and view handling outside `VariableType` kernel to `ADInplaceOrView` key, now `Autograd` is handled by two kernels: `AutogradCPU`(VariableType) + `ADInplaceOrView`. So we propose to rename `AutogradCPU` -> `ADCreateGraphCPU`(similar to other backends) and define `AutoDispatchBelowAutograd = AutoDispatchBelowADInplaceOrView` so that `Autograd` can still be a concrete conce

[2021-04-30 00:53] walterddr commented on #57111
Not sure if this is what you are looking for but you can turn on https://github.com/pytorch/pytorch/blob/master/caffe2/CMakeLists.txt#L17-L19

[2021-04-30 02:42] lilin-hitcrt commented on #56979
I have encountered a similar problem recently. I found that this problem only occurs when the cuda version is greater than or equal to 11.0, and there is no problem when using lower versions .

Traceback (most recent call last):
  File "train.py", line 102, in <module>
    train()
  File "train.py", line 40, in train
    loss.backward()
  File "/home/l/.local/lib/python3.7/site-packages/torch/tens

[2021-04-30 03:10] imaginary-person commented on #57072
It's been more than 8 hours since this issue last reproduced (when #57101 was merged). Before that, it had failed multiple times today for the PRs merged (although not always consecutively). Not sure how, but looks like the issue has been fixed. Maybe a happy side-effect of #56937?

[2021-04-30 03:10] #57072 closed

[2021-04-30 03:14] ZhiyuanChen commented on #57278
That's quite easy, add an additional property and raise a 'DeprecationWarning' for the other property.

[2021-04-30 03:37] knaffe commented on #46586
Now the [Swin Transformer](https://github.com/microsoft/Swin-Transformer) is needed this roll OP for ONNX.
`RuntimeError: Exporting the operator roll to ONNX opset version 10 is not supported. Please open a bug to request ONNX export support for the missing operator.`

[2021-04-30 06:47] charliebudd commented on #57269
If you look at my second example you'll see thats what I have done. My argument is that this could be made into a snappy one liner with a very minor PR.

[2021-04-30 07:00] shamanDevel opened #57343 "TensorIteratorConfig: document that outputs must be added before inputs"
## 📚 Documentation

### Issue Description

`at::TensorIteratorConfig` requires one to add first all outputs and only then all inputs
Wrong and will throw a confusing internal error in TensorIterator.cpp:

    auto iter = at::TensorIteratorConfig()
        .add_input(input1).add_input(input2).add_input(input3)
        .add_output(output1).add_output(output2)
        .build();

Correct:

    auto it

[2021-04-30 07:17] MichaelJanzFrogs42 commented on #53359
Hi, is there any progress in this topic?

[2021-04-30 07:20] myuanqing commented on #57271
Shall I attach the model file? Seems that a file bigger than 10 MB cannot be posted, so I upload the file to which has already been applied "optimized_for_mobile".
[model file.zip](https://github.com/pytorch/pytorch/files/6403543/model.file.zip)

I have found another weird thing: when applied optimized_for_mobile in my PC's windows environment with pytorch1.6+cpu, the size of LSTM model isn't redu

[2021-04-30 08:15] rohan-varma commented on #47260
Actually realized that this may not work for some cases. What if you have:
[code]
(here unused param is due to an output not being used in loss).

If we use the same set of `unused_parameters` then this would be incorrect because `a` would be unused, and then used in the second backwards.

I've tried to address this with the pass through function proposal in https://github.com/pytorch/pytorch/issu

[2021-04-30 09:20] charliebudd commented on #57269
To further make my point, here is the c++ code for acheiving this in the manner you suggest...
[code]
compared to my propsed operation...
[code]

[2021-04-30 09:36] david-j-sch opened #57347 "torch.matmul output differs"
## 🐛 Bug

In one of my scripts, I noticed that the output of torch.matmul differs depending on whether the variables are located CPU or CUDA.

The bug appears only using cuda 11.1, with cuda 10.2 it's fine.

## To Reproduce

To reproduce the error, just run the following example:

[code]

## Expected behavior
In my case the output of CUDA matmul contains only zeros:

[code]

## Environment

[code]

[2021-04-30 11:30] #57119 closed

[2021-04-30 11:44] harishsdev commented on #56586
As per documentation we have below functionality

torch.mean(input, dim, keepdim=False, *, out=None) → Tensor
torch.prod(input, dim, keepdim=False, *, dtype=None) → Tensor
torch.sum(input, dim, keepdim=False, *, dtype=None) → Tensor

Can you please elaborate what is the requirement

[2021-04-30 12:57] mruberry commented on #56785
cc @peterbell10, who's updating clamp now

[2021-04-30 13:17] TJPaik opened #57351 "DataLoader for different input shapes"
## 🚀 Feature

DataLoader for different input shapes using custom batch sampler!

## Motivation and Detail

I used pytorch to predict some diseases from ecg data. (medical, 1 dimentional time series data)
Different hospitals have different lengths of ecg data because of various ecg recording machines. Instead of cropping or padding, I decided to use intact waves while doing a project.
So I used cus

[2021-04-30 13:20] kev-zheng opened #57352 "Quantized module using prepare_qat_fx not picklable"
## 🐛 Bug

A pytorch module passed through `prepare_qat_fx` is no longer picklable, due to [`_PartialWrapper`](https://github.com/pytorch/pytorch/blob/master/torch/quantization/observer.py#L26-L38).

This prevents usage of the `ddp_spawn` accelerator.

## To Reproduce

Steps to reproduce the behavior:

I modified this [tutorial](https://pytorch.org/tutorials/beginner/examples_nn/two_layer_net_modul

[2021-04-30 14:14] kimishpatel commented on #57271
50MB > 1.6MB is not really expected. Is 50MB model also quantized?

Did you also try to run this optimized model on windows? I wonder if there is a different behavior.

For the model, I will take a look.

[2021-04-30 14:18] walterddr commented on #47717
glad that it worked. I am closing this issue as there's a "workaround". Please feel free to reopen it if the instruction above doesn't resolve your situation.

[2021-04-30 14:18] #47717 closed

[2021-04-30 14:23] turian commented on #52181
@KOLANICH have you used it recently?

[2021-04-30 14:36] harishsdev commented on #51225
fixed here https://github.com/pytorch/pytorch/pull/57356

[2021-04-30 14:38] narang99 commented on #56909
Can I try to work on this or any other "gud first issue"? The others I saw had pending pull requests that were not resolved.

[2021-04-30 14:55] walterddr opened #57358 "Missing complex autograd support for some operators"
per #56156.

We disabled tests for several operators that doesn't support complex autograd.
Here is a tracker for all non-supported ones:

- [ ] `det` - issue: #53513, PR: #54787
- [ ] `matmul` - issue: #55754,
- [ ] `sigmoid` - issue: #48552, PR: #48647
- [ ] `std`
- [ ] `var`

[2021-04-30 15:07] mrzzd commented on #55256
@pritamdamania87 Thanks for proposal. I feel it makes a bit more sense to merge steps 1 and 2. Otherwise some complexities comes to my mind that need to deal with.
-- For step 1, modules in Sequential should be all remote-modules, right? Otherwise, we will  have incompatible API changes from step 1 to 2.
 -- In step 1 we want support for pipelining across hosts, but graph executor is used in step

[2021-04-30 15:09] imaginary-person commented on #57347
Probably a duplicate of #56747.

[2021-04-30 15:20] zou3519 opened #57359 "torch.return_types does not exist"
## 🐛 Bug

[code]
Some of our operators return named tuples. However, trying to actually get the return type straight from the torch module fails:
[code]

[2021-04-30 15:30] malfet opened #57360 "test_mkldnn.py have some Linux specific checks in default codepath"
See
https://github.com/pytorch/pytorch/blob/095c328d9fb86c348fbd100c3ee995a0698ac9a9/test/test_mkldnn.py#L30-L37

Which causes following nice error messages when running for example on Mac:
[code]

cc @ezyang @seemethere @malfet @walterddr @pytorch/pytorch-dev-infra

[2021-04-30 15:30] Andrechang commented on #56149
isn't there anyway to run a custom graph pass with torchscript?

[2021-04-30 15:59] vishwakftw commented on #56785
Oh great, thanks for the update @mruberry and for implementing it @peterbell10 !

[2021-04-30 16:14] iramazanli commented on #56660
After having a video call we have decided temporarily postponing fixing this issue

[2021-04-30 16:34] vishwakftw commented on #56586
The `dim` argument in `prod` only accepts an integer, whereas in `mean` and `sum` it accepts an integer or a tuple of integers. Refer the Python comments in the chaining example above.

[2021-04-30 17:02] mrshenli opened #57365 "test_rref_forward_synchronization1 is flaky"
This is not yet captured on master CI. I hit this error after a few hundreds of runs.

[code]

[code]

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @gqchen @aazzolini @rohan-varma @jjlilley @osalpekar @jiayisuse @mrzzd @agolynski @SciPioneer @H-Huang @cbalioglu

[2021-04-30 17:17] zou3519 commented on #53359
Raising priority based on activity

[2021-04-30 17:19] ailzhang opened #57369 "Delay errors of inference tensor to backward pass?"
Inference tensor currently can error out in forward pass, e.g. if it's saved for backward or inplace updated outside inference mode.

When replacing `AutoNonVariableTypeMode` with `InferenceMode`, there're cases `AutoNonVariableTypeMode` guard was only added for a subset of tensor operations while all tensor operations should be run in inference mode(e.g. only `forward` is guard but not `preproces

[2021-04-30 19:00] rgommers commented on #55090
Indeed, thanks @leofang

[2021-04-30 19:12] pritamdamania87 commented on #55256
I think we can have RemoteModule in nn.Sequential without any incompatible API changes right? RemoteModule is just a type of nn.Module and can be part of nn.Sequential?

This is a good point, I think we can actually use the same graph executor in step 1 since nn.Sequential is just a special case of graph. So we keep the API same in step 1, but under the hood use the graph executor. I think one imp

[2021-04-30 19:40] cpuhrsch commented on #55981
I'm wondering what people think about the following design proposal

[code]

This is using the same kernels as nn.Embedding, but doubles the underlying embedding table whenever it runs out of space for a given index and stores a table that maps a token index to the actual underlying data. It's also different in that it accepts indices and returns Tensors, so actually a full on replacement for nn.E

[2021-04-30 19:52] wenleix opened #57380 "Asserts all tensor are defined in dispatch wrapper"
## 🚀 Feature
Asserts all tensor are defined in dispatch wrapper

## Motivation

Undefined tensor should only be used internally in PyTorch.  Thus tensors should be defined at dispatch time.
There are still some cases undefined tensors passed to dispatcher, as demonstrated in https://github.com/pytorch/pytorch/pull/56564

## Pitch

## Alternatives

## Additional context

[2021-04-30 20:26] pearu opened #57381 "COO to CSR tensor conversion is slow"
Originally raised in https://github.com/pytorch/pytorch/pull/50937#discussion_r604346660

The COO to CSR tensor conversion is implemented in
https://github.com/pytorch/pytorch/blob/3a777b67926c5f02bc287b25e572c521d6d11fb0/torch/_tensor.py#L928-L940
and it consists of two time-consuming parts:
- coalescing if the COO tensor is uncoaleasced
- row indices compression procedure

Indeed, taking a coale

[2021-04-30 20:46] rohan-varma opened #57385 "DISABLED test_send_recv_torch_profiler (__main__.TestMPIWithFork)"
Same failure as the one described in https://github.com/pytorch/pytorch/issues/56690. To be fixed by https://github.com/pytorch/pytorch/pull/57253, but disabling until that PR lands.

https://app.circleci.com/pipelines/github/pytorch/pytorch/313940/workflows/e4c94410-ecd2-4021-849c-c3abfb275cb2/jobs/13051960

cc @pietern @mrshenli @pritamdamania87 @zhaojuanmao @satgera @rohan-varma @gqchen @aazzol

[2021-04-30 20:57] eellison opened #57387 "[JIT] Canonicalize `aten::__is__` and `aten::__isnot__` among boolean inputs"
## 🚀 Feature

In python `x is True` and `x == True` have exactly the same semantics, because True and False are global singletons. Generally, having two different operators that do the same thing in the your IR is not desirable because it means passes have to reason about both cases if they want to optimize the pattern. Additionally, optimizations like Common Subexpression Elimination will no trig

[2021-04-30 21:50] ailzhang opened #57392 "Simplified API for custom inplace & view kernel"
Currently we ask users to register a proper kernel for ADInplaceOrView key if they are implementing a customized kernel. https://github.com/pytorch/tutorials/pull/1494/files#  But we can infer inplace/view relationship from the JIT schema and in the ideal end state, we should be able to handle this for users, e.g. when computing the dispatch table, look at the schema and register different kernels

[2021-04-30 21:55] leslie-fang-intel commented on #55374
Here https://github.com/pytorch/pytorch/pull/57386 is the implementation of `torch.cpu.amp.autocast` followed by the ideas we discussed above.

[2021-04-30 21:57] agolynski commented on #37663
this seems obsolete at this point. @sclarkson feel free to reopen the issue if you have more data.

[2021-04-30 22:02] rohan-varma commented on #53717
It looks like the actual crash is fixed in nightlies and we've added a couple PRs to improve error handling, so I'll go ahead and close this one out. Feel free to reopen if there are additional questions/issues.

[2021-04-30 22:02] #53717 closed

[2021-04-30 22:03] rohan-varma commented on #39351
@pritamdamania87 Should we consider this one resolved as per your recent PRs cleaning these up, or is there additional items yet to be done?

[2021-04-30 22:19] imaginary-person commented on #56187
Please confirm which AVX-512 instructions sets should be initially supported. For instance, Caffe2 Perfkernels seem to use `AVX512F`, `AVX512VL`, and `AVX512DQ` instruction sets.
The latest Intel Xeon server I've access to is actually an old one from Q3'17 (Intel Xeon Gold 6142), which supports `AVX512F`, `AVX512BW`, `AVX512CD`, `AVX512DQ`, `AVX512VL`.

However, I don't have access to newer Intel

[2021-04-30 22:39] vadimkantorov commented on #55090
It would also be nice to have https://github.com/pytorch/pytorch/issues/43166 fixed

[2021-04-30 22:55] walterddr commented on #56210
Just created a POC to support `list` and `dict` in #57363.
This was largely based on
https://pytorch.org/docs/stable/jit_language_reference.html#supported-type and
https://pytorch.org/docs/stable/jit_language_reference.html#unsupported-typing-constructs

In order to close the issue there are other items on [PEP-585](https://www.python.org/dev/peps/pep-0585/) and I am not sure if we need to add any

[2021-04-30 22:56] #34907 closed

[2021-04-30 22:59] zasdfgbnm opened #57401 "test_cudnn_multiple_threads_same_device is flaky"
## 🐛 Bug

Sometimes CI will fail with this:

[code]

I observed this failure a long time ago, but recently it is becoming more often.

cc: @ngimel  @ptrblck @mcarilli

cc @ezyang @gchanan @zou3519 @bdhirsh @jbschlosser @anjali411 @Varal7 @peterjc123 @mszhanyi @skyline75489 @nbcsm

[2021-04-30 23:03] carlosgmartin commented on #12316
@ngimel What about `softmax` and `log_softmax`, as @vadimkantorov asked?

[2021-04-30 23:24] ngimel commented on #57381
How about using `torch.searchsorted` for this?

[2021-04-30 23:27] rohan-varma commented on #47562
We currently don't have plans to support torch.autograd.grad, but have plans to support double backwards with retain_graph=True: https://github.com/pytorch/pytorch/issues/47260

[2021-04-30 23:31] TJPaik commented on #57351
Thank you! :smile:

[2021-04-30 23:31] #57351 closed

[2021-04-30 23:59] twoertwein commented on #56210
Great! Yes, I don't think it makes sense to add all of them but `tuple` might be useful.

[2021-05-01 00:04] driazati opened #57404 "[lint] Make sure that all CMake options have a corresponding output in the summary"
It's too easy to add a hidden option that may or may not change build behavior (i.e. #57061), so we should have something that ensures that anything declared with `option(...)` is referenced in a `message()` inside of `cmake/Summary.cmake`.

[2021-05-01 00:12] imaginary-person commented on #56187
Hey @limo1996, I added `vec512` in #56992 (It's working locally but might take me some time to get things sorted on the CI infrastructure). It compiles with AVX512 instruction sets `AVX512F`, `AVX512BW`, `AVX512DQ`, and `AVX512VL`. Maybe we can combine this draft PR with the one you'd submit.

Right now, I'd like to focus on correctness, before focusing on optimization.

Hey @ezyang,

Can you plea

[2021-05-01 01:29] SsnL opened #57406 "nn.Module custom setattr leads very confusing behaviors"
## 🐛 Bug

Because that module/buffer/param is never actually set as object attribute, they never overwrite any existing attributes with the same name s.t. the custom `__getattr__` never gets triggered. This leads to extremely confusing behaviors like this:

[code]

This comes up in real code where I have an abstract property in base class (enforced by `abc`) and I want to overwrite it with a modul

[2021-05-01 02:22] stas00 commented on #53952
This is so awesome to hear, @pritamdamania87! Thank you for the heads up.

What's the easiest way to see what's working, other than reading through a lot of diffs? Is there an updated tutorial or even API docs that I could read to see what the final product looks like?

I haven't been experimenting with pipeline for a while now, working on other things, but may come back to it soon.

[2021-05-01 04:29] #54361 closed

[2021-05-01 05:40] SabbirAhmedAdor629 commented on #56909
Hi, I am already working on this issue.

[2021-05-01 07:07] CoinCheung opened #57412 "Cuda 11.1 custom operator have thrust problem of " an illegal memory access was encountered""
## 🐛 Bug

I use thrust to implement my custum operator, and compile it to pytorch extension. When I run the extension, I got core dump error of :
[code]

## To Reproduce

Steps to reproduce the behavior:

1. compile the code of custom operator: `python setup.py install`
2. run the test case: `python tmp.py`

I tried my  best to remove useless codes, and here is a short one that can reproduce the p

[2021-05-01 08:03] rgommers commented on #43166
There's a detailed comment on gh-43404 that explains a bunch of things. The attempted fix there was closed rather than merged though, so this issue still needs addressing.

[2021-05-01 10:49] sachinruk opened #57415 "torch 1.8.1+cuda crashes when setting breakpoints."
I do apologise if this is a colab issue and not a pytorch issue, but I can run the following in my laptop (torch 1.4.0).
[code]

Here is [a colab notebook](https://colab.research.google.com/drive/1Dqp3l7XlY28CNAIgLQ0vI4-L2HhoWaNf?usp=sharing) which crashes. I'm not using GPUs but the version states that it is `1.8.1+cu101`.

[2021-05-01 11:21] francois-rozet opened #57416 "`coalesce` creates overflowed indices in large sparse COO tensors"
## 🐛 Bug

In sparse COO tensors with high dimensionality (likely `numel > max int64`), coalescing introduces negative indices on CUDA. This results in unexpected behaviors later on. Especially, calling `to_dense` on sparse tensors with negative indices makes Python crash without error/warning.

This bug is **not** present on CPU, where `coalesce` works just fine.

## To Reproduce

[code]

## Expec

[2021-05-01 11:59] marceljungle commented on #17023
With `wget <torch-link>` it works just fine, it downloads at full speed in my case.

e.g. `wget https://download.pytorch.org/whl/cu102/torch-1.7.1-cp38-cp38-linux_x86_64.whl` and then `pip install torch-1.7.1-cp38-cp38-linux_x86_64.whl`

Download links from: https://download.pytorch.org/whl/torch_stable.html

[2021-05-01 12:01] weihao-ysgs commented on #52575
did you solved this problem?
i have same too

[2021-05-01 13:31] v0dro commented on #53879
I noticed while working on #56887 that cuSOLVER 64-bit GETRF does not return the correct pivot array when given a small singular matrix such as `((1,1,1), (1,1,1), (1,1,1))`. This is specific to the 64 bit API. The present 32 bit API works fine.

Also, the 32 bit cuSOLVER GETRF returns `nan` for singular matrix factorization, whereas scipy and magma return `0` for the same factorization. We are no

[2021-05-01 13:43] v0dro commented on #53879
@xwang233 I benchmarked cuSOLVER vs. MAGMA vs. cuBLAS LU factorization for variety of problem sizes and it turns out that cuBLAS is the fastest for a very small subset of all the problem sizes. Here's my conclusions in text:
[code]

Here's a plot of the data:
[conclusions.pdf](https://github.com/pytorch/pytorch/files/6409634/conclusions.pdf)

As a result of the above data, I think we skip implemen

[2021-05-01 13:56] v0dro commented on #33152
Can we add complex number support to `at::nan_to_num` too?

[2021-05-01 14:17] yinyee commented on #56329
@mruberry Hello! I was wondering which branch to use to submit a fix for this?

[2021-05-01 14:38] trenta3 commented on #57007
@tugsbayasgalan I looked into numba and it serves my usecase well enough.
But i'm having troubles in including the numba.cuda.jit ted computation in a backward pytorch pass.
Is there a way to seamlessy integrate numba computation with automatic gradients?

[2021-05-01 16:03] dniku commented on #56340
Strictly speaking, this isn't necessary for numerical stability when I'm using `logsumexp`, since `logsumexp` never blows up on any inputs.

I have also verified that `log_softmax()` implemented as

[code]

passes the `allclose()` check.

I'm not sure if this issue should be kept open. Please close it or keep it open as you see fit.

[2021-05-01 16:48] gmagogsfm commented on #51139
Thanks @beningodfrey4 for the fix!

[2021-05-01 16:48] #51139 closed

[2021-05-01 16:57] imaginary-person commented on #56187
Hello @limo1996, can you please confirm if your company has permitted you to contribute to PyTorch (the ATen AVX512 implementation)?

Since it's been more than a week, is there a possibility that they might not approve? If so, do you think they'd allow you to at least contribute on incremental revisions?

Thanks!

[2021-05-01 17:13] imaginary-person commented on #56187
@ezyang @VitalyFedyunin @limo1996

I think what might make such a PR easier to review for reviewers is annotated comments on the AVX512 intrinsics used that don't have corresponding AVX2 intrinsics.

[2021-05-01 17:20] gmagogsfm commented on #53015
This has been fixed by #57105 closing

[2021-05-01 17:20] #53015 closed

[2021-05-01 17:23] gmagogsfm commented on #53904
@ansley
This is another case for better auto type refinement

[2021-05-01 17:26] gmagogsfm commented on #41242
Could you confirm if this issue persists in PyTorch 1.8?

[2021-05-01 17:42] imaginary-person commented on #56187
From @apaszke's [old comment](https://github.com/pytorch/pytorch/issues/4825#issuecomment-360159515), it looks like we might have to test on machines with GPUs as well. Perhaps we can run benchmarks to address this concern.

I'd complete testing the implementation today, as I'd have access to a Xeon Silver 4114 machine with an Nvidia P100 GPU only tomorrow, before May 7 (On & after May 7, I can ru

[2021-05-01 17:44] gmagogsfm commented on #51856
Tugs, I think you looked into this a while ago, not sure if the root cause was found. If so, could you post your findings here?

[2021-05-01 17:49] gmagogsfm commented on #56909
Hi @narang99,

Thanks for offering to contribute! I just marked a few more issues as "good firs issue", feel free look through them and comment on one or two that you find interesting. Happy to discuss them with you if needed.

[2021-05-01 18:02] wuwrut opened #57418 "Poor torch.cat performance in the quantized Unet"
## 🐛 Bug

`torch.cat` in the quantized model is a lot slower than it is in a float model. For float unet it takes 196.221ms (avg 98.110ms per 1 call) on my PC. For quantized unet, it takes 1.872s (avg 935.796ms per call).

## To Reproduce

Code to reproduce issue:
[code]

## Expected behavior

`torch.cat` for quantized models should be as fast as `torch.cat` for float models (or faster).

## Envir

[2021-05-01 18:15] imaginary-person commented on #57360
A digression: why do we check for AVX512BW support, since it's not currently being used in the codebase?

[2021-05-01 20:00] ngimel commented on #57416
HIgh priority for silent wrong behavior and crashes

[2021-05-01 20:14] ngimel commented on #57412
Duplicate of #52663.
At the root of the problem is the use of static local variables by cub to cache information about GPUs. We are working on solving this problem by
1) reducing thrust usage in pytorch core
2) wrapping cub usages in the namespace, so they don't conflict with cub usages in the extension.
For now workaround is to us cub instead of thrust in the extensions, and switch to nightly ver

[2021-05-01 20:51] limo1996 commented on #56187
@imaginary-person I have it ready (there are todos for some intrinsics) but haven't received approval yet :((

[2021-05-01 20:52] supriyar opened #57420 "ConvTranspose config error in prepare API"
## 🐛 Bug

As reported in https://discuss.pytorch.org/t/model-quantization-fails-but-the-network-architecture-looks-ok/119750, the quantization APIs throw an error even if the user specifies Quant Dequant modules around ConvTranspose modules in the network for per-channel qconfig.
Ideally, we should throw an error only if the user tries to quantize ConvTranspose with per-channel and take the placem

[2021-05-01 20:55] imaginary-person commented on #56187
Thanks for the update, @limo1996!
Maybe your company sees it as helping the competition.

[2021-05-01 21:10] limo1996 commented on #56187
@imaginary-person I am trying my best to get it..

[2021-05-01 21:11] imaginary-person commented on #56187
@limo1996, can you please merge my implementation locally for those TODOs, if possible? Thanks!